[2022-06-16 13:39] willroscoe commented on #49672
It's happening to me when the pattern attribute on the "logonIdentifier" input text box is empty, which in my case it is when the user can sign in with either a username or email address. This suggests to me that the issue is with the logic of the code that generates the js/html coming from B2C...
<input type="text" id="logonIdentifier" name="Username or email address" pattern="" ...>

[2022-06-16 13:56] memblin-taurus commented on #90819
@SaiKishor-MSFT any update on when this will be in the portal?

[2022-06-16 14:22] ethanhou99 opened #94491 "Cmdlet New-GuestConfigurationPolicy needs to be updated due to GuestConfiguration module upgrade"
Hi,

It seems like the `GuestConfiguration `module was upgraded to 4.1.0 recently and the `New-GuestConfigurationPolicy` cmdlet example in the doc is outdated. Can I downgrade to `GuestConfiguration `3.5.4 to continue use the old cmdlet template?

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c416243-e66f-35c4

[2022-06-16 14:35] stevevi commented on #94372
OK, thank you.  Images updated.

[2022-06-16 14:36] stevevi commented on #94372
#please-close

[2022-06-16 14:38] brianrutter opened #94492 "Sample Query should be updated with the correct case-sensitive category"
The sample Query should be updated with the correct case-sensitive category - 'FrontDoorWebApplicationFirewallLog'
With Door capitalized.

_**Current**_
AzureDiagnostics
| where Category == 'FrontdoorWebApplicationFirewallLog'
| where TimeGenerated > ago(1d)
| where action_s == 'Block'

**_Correct_**
AzureDiagnostics
| where Category == 'FrontDoorWebApplicationFirewallLog'
| where TimeGenerated >

[2022-06-16 14:52] Jptasznik opened #94493 "Missing Step"
The step for creating the role is missing this is what it should be

az cosmosdb sql role definition create \
    --resource-group $resourceGroupName \
    --account-name $cosmosName \
    --body '{
    "RoleName": "Read Cosmos Metadata",
    "Type": "CustomRole",
    "AssignableScopes": ["/"],
    "Permissions": [{
        "DataActions": [
            "Microsoft.DocumentDB/databaseAccounts/readMe

[2022-06-16 15:00] kobulloc-MSFT commented on #94483
@MMollyy Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-16 15:06] jzuchora87 opened #94494 "Doc Needs Updating to Reflect Changes in the Portal"
Doc references "**Deny public network access** The default for this setting is No so that customers can connect by using either public endpoints (with IP-based server- level firewall rules or with virtual-network firewall rules) or private endpoints (by using Azure Private Link), as outlined in the [network access overview](https://docs.microsoft.com/en-us/azure/azure-sql/database/network-access-c

[2022-06-16 15:10] AaronMaxwell commented on #94354
Thanks for your dedication to our documentation. The links to the latest EventHub and ServiceBus SDK's have been updated in the aforementioned pull request and the documentation update will go live tonight. We really appreciate you catching and reporting this issue to help keep our documentation fresh. #please-close

[2022-06-16 15:10] civelshen opened #94495 "Update docs to reflect change in VSCode Functions update"
Details can be found here: (https://stackoverflow.com/questions/72617661/azure-functions-tab-not-showing-in-vscode)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542c2bdc-5868-71d5-1d1a-a2c6d61744b0
* Version Independent ID: 1bba15a0-227a-8137-a023-90b8df19881b
* Content: [Create a Python function using Visual Studio

[2022-06-16 15:11] MicrosoftGuyJFlo commented on #92139
#please-close

[2022-06-16 15:11] #92139 closed

[2022-06-16 15:15] tdevopsottawa opened #94496 "How to use BGP?"
I'm trying to configure a route to make traffic from my virtual network bound for a certain IP range go out through an expressroute, I have the virtual network gateway set up and linked to the expressroute, the expressroute is provisioned, but I can't find a single thing anywhere in the documentation explaining how to do this, everything just says "You must use BGP", "use BGP", but there's nowhere

[2022-06-16 15:20] jmprieur commented on #94459
@shwetamathur7 : do you mean just app service? Or app service authentication?
See also https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/6-Deploy-to-Azure

[2022-06-16 15:25] seesharprun commented on #94493
Hello @Jptasznik!

You are correct that we are missing a step. We will update this article as soon as we can and get the change live.

#assign:seesharprun

[2022-06-16 15:28] sarah026 opened #94497 "update page with Az.Frontdoor"
Hi
Can you please update this page with the powershell module Az.Frontdoor please?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7528220b-b6b5-1465-f33f-4f282af5e6de
* Version Independent ID: f8151b07-016c-4f85-d465-8650fdc7be83
* Content: [Tutorial: Scale and protect a web app by using Azure Front Door and Az

[2022-06-16 15:45] GeethaThatipatri-MSFT commented on #94494
Hi @jzuchora87 Thanks for your findings,We will investigate and update as appropriate

[2022-06-16 15:49] jboback commented on #92583
Hi @yutaro113, active learning is supported in Question Answering under Language. It is on by default, and if you want to change from the default configuration, you can find information in the following link: https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/question-answering/tutorials/active-learning

[2022-06-16 15:49] klawrawkz opened #94498 "Clear Statement Of Applicability Is Required."
Hi my name is klawrawkz. I am fine. How are you?

Without a clear statement of use, this is a _potential_ waste of time. To ameliorate this concern, an explicit statement of use is required indicating this article describes concepts _pertinent to, pertaining to, about, concerning, regarding, appertaining to etc. **ONLY "consumption" logic apps**, not "standard" ones._ Preferably this should be pre

[2022-06-16 15:50] AjayKumar-MSFT commented on #94465
@nikhilramabhadra,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-16 15:51] AjayKumar-MSFT commented on #94484
@RamakantDataGuy,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?
--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-16 15:52] jboback commented on #92743
Hi @yutaro113, z code architecture is not language dependent. Rankers will take care of queries in any supported language and currently Language supports 96 languages. Supported languages can be found here: https://techcommunity.microsoft.com/t5/ai-cognitive-services-blog/azure-cognitive-service-for-language-support-96-languages-for/ba-p/3256994 . Your cloud solution architect should be able to as

[2022-06-16 15:53] AjayKumar-MSFT commented on #94482
naitmare01,   Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-06-16 16:01] TheDeuceYouSay opened #94499 "Minor typo edit"
Minor typo in Configure YoDeck SSO, section 4.

Click on User Settings option form the top right corner of the page and select Account Settings.

The word "form" should be "from"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f283aee-42a7-b885-174a-516ccd9e642b
* Version Independent ID: c0143c3d

[2022-06-16 16:09] Anand-Moghe commented on #94322
Thank you!

[2022-06-16 16:09] #94322 closed

[2022-06-16 16:11] v-missam commented on #41592
#sign-off

[2022-06-16 16:11] JamesTran-MSFT commented on #94499
@TheDeuceYouSay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-16 16:12] v-missam commented on #93647
#sign-off

[2022-06-16 16:21] ChandanGhosh commented on #92440
Can confirm, the RDP works with username/password combo on an Ubuntu 20.04.4 LTS server following https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-desktop?tabs=azure-cli . Tested from "Microsoft Remote Desktop" in Mac(Monterey) .
![image](https://user-images.githubusercontent.com/5058111/174118277-42f965d1-9127-48d3-b26e-19fa89eaa6b4.png)

[2022-06-16 16:26] ChaitanyaNaykodi-MSFT commented on #94492
Thank you for your feedback! We will review and update as appropriate.

[2022-06-16 16:28] AshokPeddakotla-MSFT commented on #94357
@robert4os I have assigned the issue to the content author and SME @tedvilutis to evaluate and update as appropriate.

[2022-06-16 16:31] nathanjoseph-psjh opened #94502 "VM Size Docs for for Dv4 and Dsv4-series list incorrect Max NICs"
Documentation for the Dv4 and Dsv4 series VMs appear to incorrectly state the max NIC value as 2 for the Standard_D2_v4 and Standard_D2s_v4.

Using Az PowerShell cmdlet, Get-AzComputeResourceSku and looking at the capabilities of these VM SKUs, in every Azure region where they are supported, their max network interfaces as 3 - not 2.

PS C:\> ForEach($Region in $Regions){$Object = "" | Select Regi

[2022-06-16 16:32] dikadali opened #94503 "What happens to data when a free Azure subscription expires?"
Please add a section "What happens to data when a free Azure subscription expires?" on this page similar to the following O365 article.
https://docs.microsoft.com/en-us/microsoft-365/commerce/subscriptions/what-if-my-subscription-expires?view=o365-worldwide#what-happens-to-data-when-a-subscription-expires
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-16 16:35] PriyankaRudramaina commented on #93623
@E-RELevant,
I am looking into it, I will share an update shortly

[2022-06-16 16:47] balapv commented on #94426
@wangchao1230 can you please look into this feedback/issue?

CC: @luigiw

[2022-06-16 16:48] patpishiva commented on #94502
Hello @nathanjoseph-psjh ,
   We are aware of this issue and product team is working on the fix ,  documentation is correct !
Previously reported here: https://docs.microsoft.com/en-us/answers/questions/546204/index.html

Regards,
Shiva.

[2022-06-16 16:50] VikasPullagura-MSFT commented on #94502
@patpishiva

Thanks for sharing the details.

@nathanjoseph-psjh

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-06-16 16:51] VikasPullagura-MSFT commented on #94486
@ivanbm97
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-16 16:51] VikasPullagura-MSFT commented on #94486
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2022-06-16 16:55] AJMcKane commented on #90225
Can I bump this please, I'm currently having to debug an issue with an Azure Function that's triggered from Azure Service Bus, however via the Custom Handler Approach (so we don't have the Azure Function Attributes on our Functions' "Run" Method).

What we're seeing is the retry options not being obeyed and the docs are very unclear as to what maps to what.

[2022-06-16 16:57] ecfan commented on #94498
@klawrawkz: Thanks for your feedback! We'll update this doc to clarify.

#assign @ecfan

[2022-06-16 17:03] ChaitanyaNaykodi-MSFT commented on #94497
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-16 17:07] ggailey777 commented on #90225
Retry policies going forward will only be supported for Timer and Event Hubs triggers. We've updated the docs for the retry policy GA here: https://docs.microsoft.com/azure/azure-functions/functions-bindings-error-pages#retries

[2022-06-16 17:09] duongau commented on #93160
Hello @robertstarling, yes Zayo is still a partner. I've update the link to correct URL in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/201860. Thank you! #please-close

[2022-06-16 17:09] ChaitanyaNaykodi-MSFT commented on #94496
Thank you for your feedback! We will review and update as appropriate.

[2022-06-16 17:09] #93160 closed

[2022-06-16 17:10] #94498 closed

[2022-06-16 17:10] ggailey777 commented on #90225
I should also point out the it looks like those client retry options were introduced in v5.x of the extension. Are you using the latest version of the Service Bus extension?

[2022-06-16 17:10] duongau commented on #92180
#please-close

[2022-06-16 17:10] #92180 closed

[2022-06-16 17:14] duongau commented on #90341
Hello @rdq32, thank you for your feedback. I have passed this along to our PG team to review further. If you have any further feedback, please feel free to message on this thread. #please-close

[2022-06-16 17:14] mbell85 opened #94504 "Issue with installing IaaS as described"
Hello,

When attempting to install the IaaS antimalware extension on Azure Arc connected machines as described in this article, I am getting an error concerning the --settings argument, stating that it isn't being parsed correctly.

All other commands described appear to be working fine.

Thanks,

Mark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-06-16 17:14] duongau commented on #90152
#please-close

[2022-06-16 17:14] #90152 closed

[2022-06-16 17:22] ecfan commented on #94498
@MayankBargali-MSFT: Could you please add the necessary labels for this item? I've already resolved. Thanks!

[2022-06-16 17:26] kobulloc-MSFT commented on #94262
@joniba Availability is a known issue which we are working on around the clock and our [Microsoft Q&A sticky](https://docs.microsoft.com/en-us/answers/questions/822958/i39m-unable-to-create-a-vm-no-vms-in-dropdown-or-n.html) as well as our [blog regarding advancing reliability](https://azure.microsoft.com/en-us/blog/advancing-reliability-through-a-resilient-cloud-supply-chain/) provides some addit

[2022-06-16 17:27] mike-urnun-msft commented on #94495
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-16 17:31] jonburchel commented on #91765
Thanks for pointing this out @ljt5.  This document was updated and no longer reports REST as a supported data source for the Lookup activity.  #please-close

[2022-06-16 17:31] #91765 closed

[2022-06-16 17:32] jonburchel commented on #93379
Thanks for pointing this out @pgr-lopes.  This article was updated now and no longer reports REST as a supported data source type for the Lookup activity.  #please-close

[2022-06-16 17:32] #93379 closed

[2022-06-16 17:34] djryanj opened #94506 "Certificate Policy details does not contain information on how to create EV certificates"
Creating EV SSL certificates is possible by setting a particular value in the policy according to this: https://docs.microsoft.com/en-us/azure/key-vault/certificates/faq#how-can-i-create-an-ov-ssl-or-ev-ssl-certificate-with-digicert

Also present in the API documentation is this: https://docs.microsoft.com/en-us/rest/api/keyvault/certificates/get-certificate-policy/get-certificate-policy#issuerpar

[2022-06-16 17:35] duongau commented on #87309
Closing this issue as we have discussed this before and has been brought to PG's attention. #please-close

[2022-06-16 17:35] #87309 closed

[2022-06-16 17:37] duongau commented on #83218
Hello @bradyson, PG is aware of this but there is no fix for this at the time. It is in their backlog. #please-close

[2022-06-16 17:37] #83218 closed

[2022-06-16 17:38] #86491 closed

[2022-06-16 17:41] sicil1ano commented on #94321
Thanks @MashaMSFT. Much appreciated.

[2022-06-16 17:46] seesharprun commented on #94082
Just a heads-up that the updated article should be live soon.

[2022-06-16 17:55] bandersmsft commented on #94503
@dikadali Thanks for your suggestion. Although in a different format, we have similar information at https://docs.microsoft.com/azure/cost-management-billing/manage/cancel-azure-subscription#what-happens-after-subscription-cancellation.

#please-close

[2022-06-16 17:55] #94503 closed

[2022-06-16 17:59] #94082 closed

[2022-06-16 18:16] tedvilutis commented on #94357
You can see available engine SKU options under Data Set category. It includes VMs with additional storage for cache.

[2022-06-16 18:21] TerryLanfear commented on #71253
@bledMS82 - Thank you for your feedback. I am working with the PM for Microsoft Antimalware to improve this article and address your feedback. An update will be published soon.

#please-close

[2022-06-16 18:21] #71253 closed

[2022-06-16 18:36] JamesTran-MSFT commented on #94506
@djryanj
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-16 18:40] GeethaThatipatri-MSFT commented on #94259
@rarandiv We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-06-16 18:40] #94259 closed

[2022-06-16 18:54] JamesTran-MSFT commented on #94435
@softcloudservices
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage

[2022-06-16 18:54] #94435 closed

[2022-06-16 19:00] duongau commented on #79107
Resolving this issue with PR: https://github.com/MicrosoftDocs/azure-docs-pr/compare/main...duongau:patch-5. #please-close

[2022-06-16 19:00] #79107 closed

[2022-06-16 19:01] whiterose-it opened #94507 "Inconsistent behaviour on pre-flight request between inline CORS policy and policy fragment in APIM"
Not sure that this is the right place to post this, I can't find another more appropriate place to post this so am following the example of #93941.

I have very simple setup in APIM - I have one API with one GET operation. I have a CORS policy defined at the Global level. When I make an OPTIONS request to the endpoint I receive back a 200 OK and the expected CORS headers in the response. When I mo

[2022-06-16 19:05] JamesTran-MSFT commented on #94499
@TheDeuceYouSay
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-16 19:11] JamesTran-MSFT commented on #94485
@jorisva8
When it comes to using FIDO as a verification method within MFA, we currently support FIDO2 security keys. With FIDO2 users can register and then select a FIDO2 security key at the sign-in interface as their main means of authentication.

**For more info:**
[Passwordless - FIDO2 security keys](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-p

[2022-06-16 19:11] #94485 closed

[2022-06-16 19:13] binaryPUNCH opened #94509 "Cannot assign service principal SubscriptionCreator role as department administrator"
A little frustrating that even as Department Administrator I cannot give a service principal SubscriptionCreator role. I get the error:

[code]

It would be nice to know in the documentation as one of the first things, exactly which role I need. The only one above department administrator is the Enterprise Administrator, so assume I need that.

---
#### Document Details

⚠ *Do not edit this sectio

[2022-06-16 19:21] jorisva8 commented on #94485
Hallo James,

I understand that FIDO is supported as and authentication method. But is it also supported as a SSPR method?

Kind regards,
Joris
________________________________
From: James Tran-MSFT ***@***.***>
Sent: Thursday, June 16, 2022 9:11:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: jorisva8 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] FIDO authenticati

[2022-06-16 19:25] fukasawah commented on #45228
I was wondering the same thing, but it looks like the documentation has been updated.

https://azure.microsoft.com/en-us/pricing/details/bandwidth/#faq

... And the description of AzureMediaServices appears to be inconsistent.

https://docs.microsoft.com/en-us/azure/cdn/cdn-billing#which-origin-services-are-eligible-for-free-data-transfer-with-azure-cdn-from-microsoft

[2022-06-16 19:26] netkawai opened #94510 "How to create key vault in instant Microsoft 365 developer tenant?"
Hi,

I am reading the tutorial Azure AD Verifiable Credentials and I want to try it with Microsoft 365 Developer program with Instant tenant (tprhg.onmicrosoft.com) since "while in Preview, P2 License is required". I added my work or school account (which is a free account) as a guest (with Global Administrator privilege). But I cannot create a key vault, since the Instant tenant does not have Azu

[2022-06-16 19:26] SuperOfficeDevNet opened #94511 "Add Page limit quota..."
There seems to be a 15000 page limit for both free and standard static web apps... If this is not a bug, please add it to your Quota page!

See the issue:
[The number of files in the app content folder exceeds the limit of 15000.](https://github.com/Azure/static-web-apps/issues/520#)
#520

Best regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-16 19:28] safari137 opened #94512 "Azure Container App Environment Variables"
I am trying to setup an environment variable in a bicep deployment for my app's application insights resource.

According to this: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core -- I need  a configuration called

Howerver, when I deploy an arm template or try to set this up through the portal, I get the following error:

Is there a work around for setting an environment vari

[2022-06-16 19:39] MarileeTurscak-MSFT commented on #94510
@netkawai
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-16 19:52] itsrskumar opened #94514 "Update the typo from install to uninstall"
[Enter feedback here]

If you check it here the Header says uninstall but description says install the Azure Monitor agent.

Uninstall on Azure virtual machines
Use the following PowerShell commands to **install** the Azure Monitor agent on Azure virtual machines.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8201f331-

[2022-06-16 19:53] Karishma-Tiwari-MSFT commented on #94256
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-06-16 19:53] #94256 closed

[2022-06-16 19:56] MonikaReddy-MSFT commented on #94514
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-16 19:56] #94514 closed

[2022-06-16 19:57] #94387 closed

[2022-06-16 20:00] kingcomma opened #94515 "Update Key Vault CLI example for Azure CLI 2.37.0"
The example command under [Provision a Managed HSM](https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli#provision-a-managed-hsm) attempts to get the signed in user's object ID before creating a Managed HSM resource:
[code]
As of v2.37.0 of the Azure CLI, [`objectId` has been replaced with `id`](https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration#breaking-

[2022-06-16 20:02] shermanyin opened #94516 "Reconcile firewall rules required for AVD"
Trying to figure out what rules are needed on the Azure Firewall to support AVD / Windows 365 and noticed some differences between the rules on this page vs the list here: https://docs.microsoft.com/en-us/azure/virtual-desktop/safe-url-list

Couple of differences for example:
1. this page requires TCP/1688 to 23.102.135.246, the other page requires the same port to kms.core.windows.net.  Since kms

[2022-06-16 20:04] JamesTran-MSFT commented on #94515
@kingcomma
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-16 20:13] bandersmsft commented on #94509
@binaryPUNCH I'm sorry you ran into that problem. The article currently states *A SubscriptionCreator role can be assigned to an SPN only by a user who is the owner of the enrollment account*, which doesn't say that the owner is the **EA administrator**, so I've updated the article to add that. I hope that helps.

#please-close

[2022-06-16 20:13] #94509 closed

[2022-06-16 20:21] bandersmsft commented on #93864
@jrdtechnologies I haven't forgotten about this issue. I'm still researching it.

[2022-06-16 20:36] marcopelegrini opened #94517 "Outdated SDK versions"
Documentation is very outdate, doesn't listen new versions of the SF runtime, and also related to issues where the CLI never matches with the cluster:

https://github.com/microsoft/service-fabric-cli/blob/a202dd0e0a97cbed66c07a2ea05b41a187d2aa5f/src/sfctl/custom_cluster.py#L275

`UserWarning: sfctl has version "9.0.0" which does not match the cluster version "9.0.1028.9590". See https://docs.micro

[2022-06-16 20:36] tejaswikolli-web commented on #94448
Added a note: https://github.com/MicrosoftDocs/azure-docs-pr/pull/201851

[2022-06-16 20:36] tejaswikolli-web commented on #94448
#please-close

[2022-06-16 20:36] #94448 closed

[2022-06-16 20:39] MartinJaffer-MSFT commented on #94472
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-16 20:41] MartinJaffer-MSFT commented on #94472
Thank you for your feedback. This has been assigned to the content owner @roygara and will be updated as appropriate.

[2022-06-16 20:43] meenasaravanan02 commented on #65367
Hi @mcurko,
Thank you for your feedback.  We have updated the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/201873.
#please-close this issue

[2022-06-16 20:43] #65367 closed

[2022-06-16 20:46] MartinJaffer-MSFT commented on #94476
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-16 20:49] MartinJaffer-MSFT commented on #94477
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-16 20:50] MartinJaffer-MSFT commented on #94477
Thank you for your feedback @mikeblakeuk  . This has been assigned to the content owner @normesta  and will be updated as appropriate.

[2022-06-16 21:01] abhidotnet commented on #94459
I am looking at this documentation currently.
The closest example I have found is located here -->
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-overview

[2022-06-16 21:04] pettewayshade opened #94518 "Folder Structure for JS SPA"
Move index.html outside of the JavaScriptSPA folder.

This allows any URL to simply return the index if it is not found in the JavaScriptSPA folder. By index.html being inside of the JavaScriptSPA folder, the code below is superfluous:

[code]

The application functions properly, but the above piece of code is never hit and is confusing.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-06-16 21:04] MartinJaffer-MSFT commented on #94480
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-16 21:11] JamesTran-MSFT commented on #94518
@pettewayshade
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-16 21:15] JamesTran-MSFT commented on #94485
@jorisva8
As of right now, FIDO isn't a supported authentication method for SSPR. If you'd like this feature to be implemented, I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/d365community) and creating a feature request, so our engineering team can look into implementing this.

However, since we don't provide product release updates or roadmaps, through our GitHub chan

[2022-06-16 21:30] JamesTran-MSFT commented on #94515
@kingcomma
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-16 21:30] #94515 closed

[2022-06-16 21:31] mikequ-taggysoft commented on #94331
@SnehaAgrawal-MSFT I have sent the email as instructed.

@samcarswell Can you clarify on how your web apps using web sockets have been "failing"? From what I can see, new Linux web apps created from the portal defaults to web sockets disabled. But once set to enabled via Azure CLI, it appears to be working. Same if the app is created via a template that already sets it to be enabled from the start

[2022-06-16 21:39] matthewtatsch opened #94519 "TTL availability when using auto-resolve IR"
The document states the following:

Within the ADF/Synapse UI we are able to set Time to live even if the IR uses Auto Resolve:

![image](https://user-images.githubusercontent.com/7788491/174170200-6aa0bdb5-5e78-454a-95f2-e6c2737a6851.png)

![image](https://user-images.githubusercontent.com/7788491/174170271-1a1cf3d8-db6b-4aa8-bf35-25669411e33a.png)

Is the documentation incorrect, or is this a bu

[2022-06-16 22:03] dem108 commented on #92520
If you can share what you wanted to achieve and what steps you have taken to get this error, it helps us understand the issue. The second one was a known issue and it has been fixed a while ago. Please let us know if the issue persists. If the issue is not about the documentation but about a specific error you are facing, we generally recommend creating a support ticket so that we can continue inv

[2022-06-16 22:05] dem108 commented on #92520
#please-close

[2022-06-16 22:05] #92520 closed

[2022-06-16 22:13] MarileeTurscak-MSFT commented on #94510
Yes, certain services in Azure require you to have a credit card on file even if you are using a free trial license. You can add the pay-as-you-go subscription and pause certain services if you are worried about the expiration, but I would recommend creating a free ticket with the billing team if you are concerned about incurring fees. https://azure.microsoft.com/en-us/support/create-ticket/

[2022-06-16 22:13] #94510 closed

[2022-06-16 22:17] tejaswikolli-web commented on #93441
made changes to the doc. https://github.com/MicrosoftDocs/azure-docs-pr/pull/201918

[2022-06-16 22:19] tejaswikolli-web commented on #93441
#please-close

[2022-06-16 22:19] #93441 closed

[2022-06-16 22:27] roygara commented on #94472
@adi-garg Thanks for bringing this up, we appreciate it!

There's a mistake with the article. The alert should read be in line with the "most resources..." as you can use key vaults from a different subscription. We've updated the article, the changes should be live tomorrow.

Accordingly, I'll close this out.

#please-close

[2022-06-16 22:27] #94472 closed

[2022-06-16 22:42] gabe-microsoft opened #94521 "Update temp storage throughput"
It appears that the temp storage drives have been upgraded since this docs page was written. I am now observing much higher read and write throughput than specified in this docs page for all sizes in this series.

As a concrete example, I consistently observe 200 MB/s throughput reads and writes to the temp disk on the D2_v3, yet it's specified at 46 MB/s reads and 23 MB/s writes.

---
#### Docume

[2022-06-16 22:45] #94450 closed

[2022-06-16 22:45] zr-msft commented on #94450
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2022-06-16 22:49] zezha-msft commented on #74297
Hi @ianc911, it is already public: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-troubleshoot?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json#identifying-problems

[2022-06-16 22:52] Karishma-Tiwari-MSFT commented on #94438
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-06-16 22:52] #94438 closed

[2022-06-16 22:59] Robert-Lauriston-at-Striim opened #94524 "Where do I get the "database" part of the Synapse JDBC connection string?"
The JDBC connection string example includes `database=yourdatabase` but I can't find anything in the docs explaining how to create a database in Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fffdf14-1c0b-4d59-205e-bf7e2db00839
* Version Independent ID: 62c58b40-ee0f-e3f0-3b3c-4ac713e3a2b1
* Content: [Connect

[2022-06-16 23:01] FranNev opened #94525 "Missing text"
Hello, I think the end of the boxed text is missing here:

![image](https://user-images.githubusercontent.com/61700333/174192018-62b44b4c-7996-46ab-8ece-282a857472f3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efbc6e66-7b13-c620-71d5-06368c0c64c9
* Version Independent ID: add76958-a0d4-0992-b88e-5e0dc161831e
*

[2022-06-16 23:03] jberry777 opened #94526 "Azure Storage Account Blob Access Impact to Function App"
- This is regarding the Azure Storage Account Blob Access documentation: https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-configure?tabs=portal#allow-or-disallow-public-read-access-for-a-storage-account

- The Azure Security Benchmark policy "Storage account public access should be disallowed" links to the above documentation.

Feedback/Question:

1. An Azure Storage Acco

[2022-06-16 23:06] normesta commented on #90033
Thanks for the feedback. Since these sorts of schema rule errors might occur with other properties, I added a tip that directs folks to the Schema reference (https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/allversions) if that error appears. That reference provides the correct structures to use. Thanks for reporting!

#please-close

[2022-06-16 23:06] #90033 closed

[2022-06-16 23:27] ozhug opened #94527 "Create an AKS cluster named myAKSCluster with one node."
[Enter feedback here]

the step does not work
Create an AKS cluster named myAKSCluster with one node.

somewhere in this step you need to use the ssh key created earlier but these details are not included in the documentation here
either connecting to the ssh key created in Aazure or hardcode the key in this command
this quickstart fails without more detail here

---
#### Document Details

⚠ *Do n

[2022-06-16 23:46] Marusyk opened #94528 "Limits on configuration count?"
Is there a limit on configuration count?
After 100 configurations, I can't add the new configuration.

Could you point me where it is documented?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f635b47-2f9b-b55c-6dc8-3e680bb62b92
* Version Independent ID: ee5ed6ae-b5dd-f218-21ec-b9fb5e087dbd
* Content: [Automatic device

[2022-06-16 23:56] KranthiPakala-MSFT commented on #94519
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-06-16 23:56] Marusyk commented on #94528
ok, found it here https://docs.microsoft.com/uk-ua/azure/iot-hub/iot-hub-devguide-quotas-throttling#other-limits
It would be great to mention it somewhere on this page. What do you think?

[2022-06-16 23:58] tamram commented on #94526
@jberry777 - As far as I know, disabling public access shouldn't affect the execution of the function app. You might want to verify that with the Azure Functions team, but I would not expect that they are relying on public containers for execution.

#please-close

[2022-06-16 23:58] #94526 closed

[2022-06-17 00:26] kobulloc-MSFT commented on #94517
@marcopelegrini Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-17 00:30] kobulloc-MSFT commented on #94527
@ozhug Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-17 00:36] Gouravkala commented on #94427
Hi Team, any update on this please?

[2022-06-17 01:58] catbutler opened #94531 "Next Steps links are outdated"
The targets of the hyperlinks under Next Steps are no longer current. The current URLs are as follows:

- Lightup documentation: https://docs.lightup.ai/user-guide
- Lightup Quick start: https://docs.lightup.ai/user-guide/quick-start
- Basic configuration: https://docs.lightup.ai/user-guide/deploy-lightup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-06-17 02:15] brad302 opened #94532 "Policy Fragments not supported in consumption sku"
Can we please get clarification on this re: the documentation and whether or not the policy fragment functionality applies to all sku's?

I created a policy fragment and no matter which approach (product or an API) I take, the fragment is never executed.

If I apply those same SET-HEADER policies directly, it all works as expected.

I suspect the policy fragment functionality does not work across

[2022-06-17 02:22] ozhug commented on #94527
same command may also need guidance on
WARNING: No Service Principal found in C:\Users\adm.mark.mcadam\.azure\acsServicePrincipal.json for current subscription d4a9eaaa-e1bc-497b-9641-983f4df58cd5. Trying
to create a new Service Principal with Contributor role for the subscription.

[2022-06-17 02:33] Bosch-Eli-Black commented on #94354
@AaronMaxwell Thanks! Looks like you did a bunch of general improvements, too 🙂

[2022-06-17 03:23] MartinJaffer-MSFT commented on #94476
For troubleshooting, I recommend you ask question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).
This repo, Azure Docs, is for corrections to documentation.

[2022-06-17 03:25] MartinJaffer-MSFT commented on #94491
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-17 03:36] MartinJaffer-MSFT commented on #94507
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?  Since you mentioned another issue, and that also appears to be about policy fragments, I took a guess about which article to use.

Generally, for troubleshooting and general product questions, it is better to ask in [Microsoft Q&A](https://docs.microsoft.com/en-us

[2022-06-17 03:47] Chryogenic opened #94534 "Missing documentation for how to pass in parameters inline"
There are examples of using inline parameters, but nothing that shows how to use multiple parameters.

I think it would be helpful to show an example with syntax for multiple parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 697f2ea2-3710-1e09-2f3d-51394d780158
* Version Independent ID: 382e3393-910c-7359-ccd3-

[2022-06-17 04:19] AjayKumar-MSFT commented on #94511
@SuperOfficeDevNet,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-17 04:19] ram-msft commented on #94421
@msdpalam Can you please help with the [link ](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-python-sdk#next-steps) in next steps section.

[2022-06-17 04:29] WendySanarwanto commented on #92884
Hello All,
I got this error on Azure CLI when following steps in Azure ` Create and deploy a cloud-native ASP.NET Core microservice `  tutorial's unit 2 , which suggest the reader to run this bash command to setup AKS :
[code]
On the Azure CLI command windows, the process ended up in there following error:
![image](https://user-images.githubusercontent.com/18456618/174224986-5b9d224c-5d0f-4b03-bbc

[2022-06-17 04:31] CHEEKATLAPRADEEP-MSFT commented on #94531
@catbutler  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-17 04:32] MughundhanRaveendran-MSFT commented on #94267
@dlepow , Please review this as this is doc enhancement

[2022-06-17 04:55] v-hgampala commented on #93700
Document updated with latest screenshots from ServiceNow.

[2022-06-17 04:55] #93700 closed

[2022-06-17 05:06] anshulahuja98 opened #94535 "Missing sku feature information about anonymous pull"
[Enter feedback here]

az acr update --name <regname> --anonymous-pull-enabled
(BadRequest) Anonymous pull is not supported for SKU Managed_Basic. For more information on SKU tiers, please visit https://aka.ms/acr/tiers.
Code: BadRequest
Message: Anonymous pull is not supported for SKU Managed_Basic. For more information on SKU tiers, please visit https://aka.ms/acr/tiers.

The help link(https://a

[2022-06-17 05:09] SreejaBhattacharya-MSFT commented on #94535
@anshulahuja98 , Thanks for reaching out. We will investigate and update this thread.

[2022-06-17 05:23] jasonpanggit opened #94536 "Local and remote route routing scenarios"
[Enter feedback here]

For the local and remote routes are available section, for example 4 and 5, why is remote routes preferred over local routes. Isn't the local route 3 more preferred as it's shorter and it's ER?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18cfa45f-be62-9a0d-7158-e484d84fc971
* Version Independe

[2022-06-17 05:31] GitaraniSharma-MSFT commented on #94516
@shermanyin , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-17 05:32] GitaraniSharma-MSFT commented on #94536
@jasonpanggit , thank you for your query. We'll review this and get back to you shortly!

[2022-06-17 05:40] marshalexander99 commented on #93700
Why has this been closed? None on the points I've made regarding the sys_id have been addressed? You're still saying to use it before it's been created...

[2022-06-17 05:42] SadiqhAhmed-MSFT commented on #94427
@Gouravkala Azure migrate: server migration tool for Hyper-V is the same as Hyper-V replication provider.

Azure migrate: server assessment is what’s used for the discovery and assessment of VM while the server migration tool is what’s used to replicate the VMs.
This is the [document](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fmigrate%2Ft

[2022-06-17 05:50] amanmcse commented on #90701
@DeanGross  Azure Monitor just displays the information that is logged in the sign-in activities. This depends on the source/application sending the information which gets logged into the sign-in activities.

[2022-06-17 05:50] #90701 closed

[2022-06-17 05:52] v-hgampala commented on #88332
Issue resolved.
#please-close

[2022-06-17 05:52] #88332 closed

[2022-06-17 05:55] v-hgampala commented on #93700
![image](https://user-images.githubusercontent.com/102347245/174234199-edcaeec0-7c0a-4c47-9f72-707e4b979b41.png)

Is it clear to understand? so that I'll update the document as per it.

[2022-06-17 06:20] SwathiDhanwada-MSFT commented on #94525
@FranNev Thanks for your feedback.

Assigning to content author @bwren for review.

[2022-06-17 06:20] vikramjb opened #94537 "Mounting Azure Storage in ACA does not seem to work as per the example"
[Enter feedback here]
I just tried the example of mounting Azure Storage (Azure Files) into an running ACA and got the error

**_Invalid Request: Container app secret(s) with name(s) 'reg-pswd-df7431f4-92b1' cannot have a value of null._**

I tried running the update command without any modifications to the YAML and it still gave me this error.

---
#### Document Details

⚠ *Do not edit this secti

[2022-06-17 06:23] SreejaBhattacharya-MSFT commented on #94199
Hi @Siby22071989 , RHEL only has 1 year RIs , not 3 years as confirmed by the Billing engineering team.

[2022-06-17 06:25] rectified95 commented on #92884
@PriyankaRudramaina Have you been able to make any progress on this? Looks like a few more people hit the issue I reported :(

[2022-06-17 06:29] #94199 closed

[2022-06-17 06:29] AnuragSingh-MSFT commented on #94212
@ethanhou99, the built-in policies are available by default from Microsoft Azure. You cannot change them OR add your own policies as build-ins. Any policy edited/added apart from built-ins will be considered 'Custom' policies.

[2022-06-17 06:36] SwathiDhanwada-MSFT commented on #94534
@Chryogenic Thanks for your feedback.

Assigning to content author @mumian  for review.

[2022-06-17 06:40] Chryogenic commented on #94534
For example:

[code]
Or maybe even show how it might work if you had a space in the value?

[2022-06-17 06:43] Siby22071989 opened #94538 "Reservation cancellation commitment vs paid amount"
[Enter feedback here]
The statement below is confusing for partners:
The total canceled commitment can't exceed 50,000 USD in a 12-month rolling window for a billing profile or single enrollment. For example, for a three-year reservation that's 100 USD per month and it's refunded in the 18th month, the canceled commitment is 1,800 USD. After the refund, your new available limit for refund will be

[2022-06-17 07:10] Gouravkala commented on #94427
Thank you for the update. So in the case of hyper-V VMs migration to Azure we don't need any virtual appliance in on-prem environment  , we just need to install the Microsoft Azure Site Recovery provider on every hyper-v hosts which we wants to migrate. if we are migrating 20 VMs from 10 Hyper-V hosts we need to install Microsoft Azure Site Recovery provider and vault creds on each and every hyper

[2022-06-17 07:13] marshalexander99 commented on #93700
You can't get the sys_id for something which hasn't been created yet can you? Tell me how I am supposed to use auto-config and populate the require parameters in Azure AD when the provider hasn't been created.
You need to update the earlier steps to state you either need to use manual configuration to create the identity provider or to come back and add the sys_id field to the login **after** you'

[2022-06-17 07:14] SnehaAgrawal-MSFT commented on #94331
@mikequ-taggysoft Apologies for late response! I have reached out to you internally. Since we will be working offline closing here and will keep posted once issue is resolved.

[2022-06-17 07:14] #94331 closed

[2022-06-17 07:20] shoshii opened #94539 "Fix request: wrong translation in Japanese page"
[Enter feedback here]
I have found a wrong translation in Japanese page.
https://docs.microsoft.com/ja-jp/azure/cosmos-db/sql/sql-sdk-connection-modes#service-port-ranges

'Service port ranges' should be translated as 'サービス ポート 範囲' but actually translated as 'ソースポート範囲'

'ソースポート範囲' means 'Source port ranges', that is confusing and misleading customers.

I hope you fix the wrong translation of Japan

[2022-06-17 08:10] souvik-dw opened #94541 "Coldfusion log parse in Azure Log Analytics Workspace"
I created an **Azure Container Instance** and **Coldfusion 2021** is running on it as a **Docker** image.

The application creates multiple log files. I sent all these logs to Standard Output.

Now, I want to parse these logs file-wise in **Azure Log Analytics Workspace**.

Can anyone help me?

Thanks!

Edited: Added doc metadata info

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-17 08:20] v-hgampala commented on #93647
#please-close

[2022-06-17 08:20] #93647 closed

[2022-06-17 08:20] v-hgampala commented on #93105
#please-close

[2022-06-17 08:20] #93105 closed

[2022-06-17 08:20] v-hgampala commented on #91471
#please-close

[2022-06-17 08:20] #91471 closed

[2022-06-17 08:21] v-hgampala commented on #79491
#please-close

[2022-06-17 08:21] #79491 closed

[2022-06-17 08:21] v-hgampala commented on #41592
#please-close

[2022-06-17 08:21] #41592 closed

[2022-06-17 08:27] KorZijl opened #94542 "Do NOT consider tagged VMs as part of the calculation of the minimum percentage of hosts"
In this document the note for exclusion tags states "_Though an exclusion tag will exclude the tagged VM from power management scaling operations, tagged VMs will still be considered as part of the calculation of the minimum percentage of hosts_".
**Can you elaborate why you've choosen to include the exclusion tagged VMs in this calculation?**

Some background:
We use two alternating sets of VMs i

[2022-06-17 08:30] shashishailaj commented on #94512
@safari137 Thank you for your query . We will investigate and update the thread with our finding.

[2022-06-17 08:37] AjayKumar-MSFT commented on #94312
@ENT56 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-06-17 08:37] #94312 closed

[2022-06-17 08:49] SreejaBhattacharya-MSFT commented on #94542
@KorZijl Thanks for reaching out. We will investigate and update the thread.

[2022-06-17 08:56] RamakantDataGuy commented on #94484
Updated the docs link. Apologies for missing that..

[2022-06-17 08:56] v-hgampala commented on #93700
@marshalexander99, this is the standard format of our documentation for all the articles as per content team's request.
First, we mention the Azure side configuration with default values or with the exact values if we have, then will move to the app side configuration, later if something needs to be updated at Azure side, will come back and update it.
Her for ServiceNow app, first we'll do Azure s

[2022-06-17 08:58] AjayKumar-MSFT commented on #94541
@souvik-dw, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-17 08:59] SnehaAgrawal-MSFT commented on #94333
@iUnknwn You may refer to this detailed document link here: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-oauth-tokens#retrieve-tokens-in-app-code

As its mentioned "Different language frameworks may present these headers to the app code in different formats, such as lowercase or title case."

[2022-06-17 09:04] AjayKumar-MSFT commented on #94537
@vikramjb, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-06-17 09:07] AnuragSingh-MSFT commented on #94491
@ethanhou99,  you could so that and use `install-module` with `-RequiredVersion` parameter to get the required version of this module.

**_However_**, can you please share additional information regarding "_...the New-GuestConfigurationPolicy cmdlet example in the doc is outdated._". Is something not working as expected with the newer module based on what is mentioned in this doc?

This would us f

[2022-06-17 09:22] souvik-dw commented on #94541
@AjayKumar-MSFT , I am following this documentation
[](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/parseoperator). But, overall I am following Kusto Query Language.

[2022-06-17 09:28] metoule opened #94543 "Azure KeyVault extension: certificates are only readable by root"
The documentation states:

but that's not true: the files stored in the `certStoreLocation` location are owned by `root`, regardless of the ownership of the folder.

In effect, that implies that the certificates are only accessible by root, which is an issue for processes that run with another user.

Steps to reproduce:

1. Set `certStoreLocation` to `/etc/ssl/keyvault`
2. Check the permissions of

[2022-06-17 09:41] SnehaAgrawal-MSFT commented on #94332
@iUnknwn Could you please elaborate on what your scenario is? If you want to add access to Microsoft Graph from your web app and perform some action as the signed-in user then suggested document is https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=azure-resource-explorer and for that prerequisites
 is a web application running on Azure App S

[2022-06-17 09:55] kongou-ae opened #94544 "Need more clarification about overwriting XFF"
Hi,

This document mentions "Both HTTP and HTTPS protocols (with TLS inspection) are always filled by Azure Firewall with XFF (X-Forwarded-For) header equal to the original source IP address. ".

But I guess that customers can't imagine that Azure Firewall overwrites XFF by reading this sentence. I believe that we can use a simple sentence to explain this behavior. For example, Azure Firewall over

[2022-06-17 10:03] PriyankaRudramaina commented on #94543
@metoule,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-17 10:12] ltalirz opened #94545 "fix on azure docs page without feedback link"
Hi,

the issue template mentions

However I just noticed that there are parts of the azure documentation that do not display such feedback links, such as https://docs.microsoft.com/en-us/azure/cyclecloud/how-to/availability-sets?view=cyclecloud-8

I would like to make a pull request to suggest a fix to the second sentence in this page (it should be "Virtual Machine Scale Sets" instead of "Virtual

[2022-06-17 10:14] fuhuifang commented on #93998
Hi @[clarissesimoes](https://github.com/clarissesimoes), can you share an example script? Which SDK are you using?

[2022-06-17 11:01] kengaderdus commented on #94384
@jwoodcook

Thank you for your feedback and patience. See our response below

1. Incorrect: "A prefix of B2C_1 is automatically prepended to the name." Only a prefix of "B2X_1_" is forced.
_We've added the missing underscore._

3. There is also no mention of "Recommended" sections in the Azure portal
_The recommended section refers to content and not anything in the Azure portal._

5. Test the use

[2022-06-17 11:14] sreekzz commented on #94355
Hi @xujiongda @KranthiPakala-MSFT
We have fixed this issue by adding the below 2 lines in the sample code.

partitions_api_format = 'topics/{topic_name}/partitions'
partition_api_format = 'topics/{topic_name}/partitions/{partition_id}'

[2022-06-17 11:32] GitaraniSharma-MSFT commented on #94544
@kongou-ae , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-06-17 12:07] tzhwuen1-el opened #94546 "Can HTTP/2 be enabled on the Listener Level on Azure App Gateway as Azure WAF?"
Dear Documentation Author of this page,

Based on this page, it seems to me that HTTP/2 is a global parameter to affect the Azure WAF in general. It can only be enabled on the App Gateway level, it will affect all the listeners configured on it.  Is my understanding correct?

If yes, Can HTTP/2 be enabled on the Listener Level on Azure App Gateway as Azure WAF?  If yes, how to, if no, is there any

[2022-06-17 12:11] GitaraniSharma-MSFT commented on #94546
@tzhwuen1-el , thank you for your query. We'll review this and get back to you shortly!

[2022-06-17 12:18] #94384 closed

[2022-06-17 12:22] JCoreMS opened #94547 "Article Title Change Request"
Most customers and internal FTEs at Microsoft know this as "Cross Cloud B2B".

Is it possible to change:
Configure Microsoft cloud settings for B2B collaboration (Preview)
to
Configure Microsoft Cross Cloud B2B (Preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23465c7c-cda1-ca2f-e958-cbf835a2ba93
* Version Indep

[2022-06-17 12:28] AshokPeddakotla-MSFT commented on #94528
@Marusyk Thanks for the feedback. Since a separate doc is already available with all other limits, There is no specific need of mentioning each limits in the doc.

However, I will ask author @kgremban to review this feedback and add a reference to it if needed.

[2022-06-17 12:42] perentorio opened #94548 "Zone redundancy seems to be GA but shows as Preview here"
Zone redundancy seems to be GA following this update:

https://github.com/MicrosoftDocs/azure-docs/commit/f030ec014e652c37b240ed1e9592c8ce3226c6da

but shows as Preview in this document
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version Independent ID: 3b1ddae9-b0c3-78ff-15a5-4

[2022-06-17 12:54] ltalirz commented on #94446
It seems this has caused issues before (yet a different change in the pkeys) https://github.com/MicrosoftDocs/azure-docs/issues/69185

I really think the Azure documentation should provide and maintain a script that sets the partition keys automatically and correctly.

Mentioning also @vermagit who updated the blog post that time.

[2022-06-17 13:07] jaldinger commented on #94455
Hello @PriyankaRudramaina ,

From my first look at it, I believe the steps should include:

1. Set `ResourceDisk.EnableSwap=n` in `/etc/waagent.conf`
2. Set `ResourceDisk.Format=n` to prevent mounting in `/etc/waagent.conf`
3. Reboot to apply these settings
4. Then create snapshot, and
5. Recreate from the snapshot

I hope this is useful for you.

Thank you,

Joerg.

[2022-06-17 13:20] chisha1 opened #94549 "sample file suggestion"
Suggesting a slight change to the sample file.

I was getting and error saying there is nothing in the array. and that is because I don't have any deployments in my ARM template. To solve it, I just put a check to only look into the deployment array if the array is not empty.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-06-17 13:32] kobulloc-MSFT commented on #94548
@perentorio Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-17 13:40] TahaSnoussi opened #94550 "Missing resource list (for example: Azure search: https://search.azure.com")"
I spent two hours searching for the resource that I have to put to connect to Azure Search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be8b264-03df-625e-0064-06cb4372c3b7
* Version Independent ID: 87333d80-8130-1c1d-523f-1e904d7061d7
* Content: [Azure API Management authentication policies](https://docs.microsoft.

[2022-06-17 13:51] msfaizan opened #94551 "Azure Advisor - Sort glitch - Sometimes cost recommendation and date are not sorted correctly"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-17 13:53] MonikaReddy-MSFT commented on #94162
@paweltucholskiigt - This is already documented. In [[Enable SQL Insights (preview) - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-enable#azure-virtual-machine-requirements)
there is this:

- Deployed in any Azure region [supported](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview#supported-regions) by the Azure M

[2022-06-17 13:53] #94162 closed

[2022-06-17 13:56] #94305 closed

[2022-06-17 14:06] shashishailaj commented on #94547
@JCoreMS Thank you for your suggestion . We will check with the product group if they approve the change and make changes accordingly . .

[2022-06-17 14:11] myc2h6o opened #94552 "`ReleaseNoteURI` can be updated for `Image definition`, but not present in doc"
Under [Updating resource section](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries?tabs=azure-cli#updating-resources), `Image definition` only allows below properties to be updated.

However, I'm able to update `ReleaseNoteURI` as well, is it missing in the document or it should be disallowed to update in the service?

---
#### Document Details

⚠ *Do not edit this se

[2022-06-17 14:23] ilmax commented on #94512
@safari137 usually you can use double underscore, asp.net configuration system does some magic to turn A__B into A:B, see [this](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0#non-prefixed-environment-variables)

[2022-06-17 14:25] shashishailaj commented on #94547
@JCoreMS We are tracking this internally and will update accordingly .

[2022-06-17 14:25] #94547 closed

[2022-06-17 14:26] #94478 closed

[2022-06-17 14:27] AJMcKane commented on #90225
Ahh, it looks like we're on 2.0

[code]

[2022-06-17 14:46] adambiomech commented on #48278
@asergaz I cannot open the stp file in AutoCad. What is the depth of the focal point relative to the front of the Kinect?

[2022-06-17 14:49] #88530 closed

[2022-06-17 14:50] safari137 commented on #94512
@ilmax that works, thanks!

this can be closed

[2022-06-17 14:51] #94512 closed

[2022-06-17 14:53] GitaraniSharma-MSFT commented on #94348
@HartejSingh2001 , I'm following up on my previous comment. Could you please provide an update?

[2022-06-17 15:03] MartinWickman commented on #90225
That's quite the surprise! I'm sure lots of people are using things like `[ExponentialBackoffRetry]` to handle retries especially for Service Bus. Just to make it clear: Service Buss native retry support is not even close to being the same thing, and to be frank: having SB retrying the same message 10 times as fast as possible and then dead-letter it is not really helping anyone mitigate any tempo

[2022-06-17 15:10] AJMcKane commented on #90225
What I found strange coming from AWS SQS to Azure and Service bus is that retries don't re-enter the queue.  My expectation would be to put the message back on the queue (at the bottom) with a minimum retry delay.

The reason we've stumbled into this area is that with the current retry behaviour, if you have a large block of messages that'll fail (say due to a transient corrupted piece of data, or

[2022-06-17 15:10] kengaderdus commented on #94011
@emilmuller

Thank you for your feedback and patience. We're collecting all the information required to address this issue.

[2022-06-17 15:38] gordieharkins opened #94554 "Pricing in regards to Serverless databases"
There's no per-database charge for elastic pools. You're billed for each hour a pool exists at the highest eDTU or vCores, regardless of usage or whether the pool was active for less than an hour.  **Does this comment apply to Serverless databases?**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb1dfed9-22c9-025e-1a1

[2022-06-17 15:38] josuvil opened #94555 "UPNs and personal email accounts"
Could we include in this document how UPNs are generated? For example, if a B2B user receives an email invitation to their personal email address, which domain will the UPN be created with, default domain name of the requesting tenant? What if the invited user's email address is using a verified AAD domain name? I think it will be important to include additional information on how UPNs are created

[2022-06-17 15:44] Oury-MSFT commented on #94539
@shoshii We are reviewing this and will get back to you.

[2022-06-17 15:48] GitaraniSharma-MSFT commented on #94399
@carlost-MSFT , PowerShell/CLI commands specific to AFD Standard/Premium is in the works and Product Group team will release them soon. However, we do not have any ETA as of yet.

In the mean time, you can use the "[AzFrontDoorCdn](https://docs.microsoft.com/en-us/powershell/module/az.cdn/?view=azps-8.0.0#front-door)" PowerShell commands to manage Azure Front Door Standard/Premium via PowerShell.

[2022-06-17 15:48] #94399 closed

[2022-06-17 15:48] kengaderdus commented on #91468
@shridharrathi

Sorry that we took time to resolve this issue.  Exactly how do you send the query string parameters? Are you appending them this URL `https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/oauth2/v2.0/authorize?p=policy-name&client_id=2b0a76c3....&nonce=defaultNonce&redirect_uri=redirecturi&scope=openid&response_type=....&prompt=promptype`&param1=param1Value.... ?

[2022-06-17 15:48] timwarner-msft commented on #94299
Hi @zaalion. Could you please provide more information on the parameters? What were they? What type of parameters - static, dynamic? Happy to help. Thanks, Tim

[2022-06-17 16:00] tamram commented on #29952
@git-Kev - According to the engineering team, US Gov subscriptions should support granting permissions to the Azure Storage API.

It's possible there was a lag in support for those subscriptions.

If it's not resolved now, please post the issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/25529/azure-storage-accounts.html).

#please-close

[2022-06-17 16:00] #29952 closed

[2022-06-17 16:00] tjhftw opened #94556 "cloud-services-dotnet-get-started doesn't work"
I really wanted to do this project. It seemed a great way to learn. But the link now diverts away from the project code. I tracked down the code eventually, but it is very out of date. Difficult for a novice like myself to make it work.
Please would someone at Microsoft update this project to work with current Azure and Cloud Services (extended support).
I have spent many hours trying to learn, bu

[2022-06-17 16:02] kengaderdus commented on #91187
reassign: @yoelhor

[2022-06-17 16:03] catbutler commented on #94531
Sure thing! I’m currently the content developer for Lightup.ai and can be reached at ***@***.******@***.***> if needed.

Cheers!
Steven

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Thursday, June 16, 2022 9:31 PM
To: ***@***.***>
Cc: Steven ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Next Steps links are outdated (Issu

[2022-06-17 16:06] lon-tierney opened #94557 "chmod 777?"
The instructions show modifying the package directory to full permissions for all users (chmod 777), executed as the super user. This should be corrected to be least permissions required.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c05359f-e62f-b3ae-85ce-930ee6f6100d
* Version Independent ID:

[2022-06-17 16:07] kengaderdus commented on #94291
#reasign @yoelhor

[2022-06-17 16:13] GitaraniSharma-MSFT commented on #94348
@HartejSingh2001 , if you are facing an issue with creating a B1s burstable VM in West Europe region, then it would require an investigation to find the exact root cause.

May I know if you are using a newly created subscription?

[2022-06-17 16:13] lon-tierney opened #94558 "Unrelated commands in Install Block/Connection suggestions"
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-custom-conda-channel#mount-the-storage-account-onto-your-machine

The "export" commands in block (1) of the storage connection instructions are relevant to block (2) and should be moved.

Additionally, SAS tokens should not be exported as environment variables. Please update documentation to use a more secure method such a

[2022-06-17 16:18] GitaraniSharma-MSFT commented on #94454
@o-l-a-v , We have assigned this to the content owner/author for review.

@mbender-ms , please review the details of the issue in the reddit post below and provide your inputs:
https://www.reddit.com/r/AZURE/comments/rv08q2

[2022-06-17 16:31] KranthiPakala-MSFT commented on #94557
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-17 16:32] KranthiPakala-MSFT commented on #94558
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-17 16:42] kimadrig opened #94559 "Add additional info for GA to have billing access MCA"
Hello Team,

I need you to add in this information that Global Admins can elevate access on MCA too in Cost Management + Billing | Billing Account / Billing scopes, they have to check the box that says:

"As a Global Administrator, check this boc to view all MCA scopes in **Directory name***

Otherwise, following the information that is in the document they will have access to the subscriptions an

[2022-06-17 16:48] dlepow commented on #81078
@laingsc - Apologies for the delay responding to this issue. This is a good suggestion and already a note we were adding to the docs. The doc update should be published within the next day or two. Thanks again!
#please-close

[2022-06-17 16:48] #81078 closed

[2022-06-17 16:53] lon-tierney opened #94560 "Lowercase P"
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-custom-conda-channel#create-the-channel

Command: mkdir -P channel/linux64

Should be: mkdir -p channel/linux64

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c05359f-e62f-b3ae-85ce-930ee6f6100d
* Version Independent ID:

[2022-06-17 16:58] AuyZnova opened #94561 "I got provisioningState: Waiting on ContainerApp environment"
I have created a containerapp environment with vnet but I got provisioningState: "Waiting" and the simple containerapp cannot create on this environment. I got errors
{
    "status": "Failed",
    "error": {
        "code": "ManagedEnvironmentNotProvisioned",
        "message": "The environment 'cae-stub-services-dev-we' has not been provisioned successfully."
    }
}

---
#### Document Details

⚠

[2022-06-17 17:06] KranthiPakala-MSFT commented on #94560
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-06-17 17:13] johnmarco commented on #94504
Hi @mbell85. I've looked into this issue from a docs perspective with an SME but haven't been able to identify the problem. We think the best thing for you to do is open a support ticket for it. Thanks.

[2022-06-17 17:13] johnmarco commented on #94504
#please-close

[2022-06-17 17:13] #94504 closed

[2022-06-17 17:19] MarileeTurscak-MSFT commented on #94559
@kimadrig
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-17 17:26] runemy opened #94563 "Role Management - Invitation link"
Hi,

After configuring Azure front door the static web app is by design not available via generated *.azurestaticapps.net hostname
When I want to add roles to invited identitys in Azure static web app then the generated invitation link is using *.azurestaticapps.net and trying to use this link fails as expected.

How can I invite users and assign roles to static web app after enabling Azure Front

[2022-06-17 17:29] MarileeTurscak-MSFT commented on #94555
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-17 17:38] Justinha commented on #75785
@wUEZRs Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-17 17:38] #75785 closed

[2022-06-17 17:48] SwathiDhanwada-MSFT commented on #94538
@Siby22071989 Thanks for your feedback.

Assigning to content author @bandersmsft   for review.

[2022-06-17 17:49] fRanK45jPm opened #94565 "Error when using node version 10.x - Automated DataFactory CICD pipeline"
Hi,

We have noticed that node version 10.x does not work anymore? We are getting error on validation task.

[Automated publishing for continuous integration and delivery - Azure Data Factory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-delivery-improvements#feedback)

`
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Nod

[2022-06-17 18:04] bandersmsft commented on #94199
https://github.com/MicrosoftDocs/azure-docs/issues/94199

[2022-06-17 18:14] dlepow commented on #93882
Doc work item created and will be triaged for a future sprint. According to our usual process, I'll now proceed to close the issue. If you have further information or would like to continue the discussion, feel free to tag me and we'll reopen the issue. Thanks for your helpful observation!
#please-close

[2022-06-17 18:14] #93882 closed

[2022-06-17 18:16] MicrosoftGuyJFlo commented on #94324
@carosil the PG has confirmed that policies in report only mode will now be evaluated by the WhatIf tool. Waiting for more detail before I update the article though.

[2022-06-17 18:42] MarileeTurscak-MSFT commented on #94559
Thanks @kimadrig! I made a pull request to add a note about elevating access for the Microsoft Customer Agreement.

@rolyon

[2022-06-17 18:42] #94559 closed

[2022-06-17 18:44] DerekHerman-MSFT commented on #94552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-17 18:50] spelluru commented on #94145
I have tested the scenario. When I resend a dead-lettered message, the copy of the message is sent to the topic. Therefore, all subscriptions receive it. I will add a note about it.

[2022-06-17 18:57] nickludwig commented on #93819
Hey @moarychan - taking a look at this. Will circle back when I have an answer for you.

[2022-06-17 19:02] spelluru commented on #94145
The update will go live around 3:15 PM PST.
You will see a note in the **Re-send a message** section
https://docs.microsoft.com/en-us/azure/service-bus-messaging/explorer#re-send-a-message

[2022-06-17 19:02] spelluru commented on #94145
#please-close

[2022-06-17 19:02] #94145 closed

[2022-06-17 19:34] wkalt opened #94566 "ServiceBus subscription-level metrics"
Previous discussion:
https://github.com/MicrosoftDocs/azure-docs/issues/10245
https://github.com/MicrosoftDocs/azure-docs/issues/28679

I am attempting to configure an alert on ServiceBus subscription active message count. I am using the terraform resource here: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/monitor_metric_alert.

The list of supported Azure Monito

[2022-06-17 19:34] stewartadam opened #94567 "Missing details for some regions (e.g. westus3)"
Document missing details for some regions where [aci is available](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=container-instances) like westus3.

Note: I recently tried deploying 1c/2gb ram to westus3 and received a failure due to capacity.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2022-06-17 20:03] Karishma-Tiwari-MSFT commented on #94567
yes, that looks correct.

![image](https://user-images.githubusercontent.com/20851144/174393967-09b7d416-2ffb-4f4c-9722-a0e5903997c8.png)

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-17 20:10] mike-urnun-msft commented on #94550
Hello @TahaSnoussi - Thank you for your feedback and our apologies for any inconvenience caused. If you have any specific suggestions on how we can improve, please let us know and we'd be happy to review and implement them.

[2022-06-17 20:18] MarileeTurscak-MSFT commented on #93351
I created a bug to track this issue. https://portal.microsofticm.com/imp/v3/incidents/details/314959543/home

[2022-06-17 20:18] #93351 closed

[2022-06-17 20:23] Justinha commented on #79289
#please-close

[2022-06-17 20:23] #79289 closed

[2022-06-17 20:26] dm-pse opened #94569 "Source menu has more options than I'm seeing"
Documentation shows this:

![image](https://user-images.githubusercontent.com/107652135/174395140-071d00c6-fe5b-47e5-b144-0df3aeff3018.png)

This is what I see:

![image](https://user-images.githubusercontent.com/107652135/174395335-c86ce9d1-5d39-434e-83a9-3058a63317f3.png)

Why am I missing GitHub, BitBucket, and Azure Repos?

Suggest adding a callout in the docs to explain.

I suspect it's somet

[2022-06-17 20:28] Justinha commented on #79318
@Air-Git Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-17 20:28] #79318 closed

[2022-06-17 20:28] w-azure commented on #87117
Hi @dgkelaidonis, I've tested this and can confirm the command before `sudo iotedge config apply`, which is `sudo iotedge config mp --connection-string 'PASTE_DEVICE_CONNECTION_STRING_HERE'` will create the config file for you, so running `sudo iotedge config apply` will not need a path as the config file will be there for it when it needs it.

If you are having any other issues with these command

[2022-06-17 20:28] #87117 closed

[2022-06-17 20:51] MartinJaffer-MSFT commented on #94545
Hello @ltalirz , you arre quite right, that page is hosted in a different repository.  Off hand, I'm not sure which one is responsible, but since this relates to virtual machine scale sets, I'll tag it with that for now.  Thank you for bringing this to our attention, and your eagerness to contribute is appreciated.

[2022-06-17 20:54] MartinJaffer-MSFT commented on #94551
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to @msfaizan  ?

[2022-06-17 20:55] masters3d opened #94570 "What is the limit per subscription of Cosmos DB Serverless?"
[Enter feedback here]

The related page list Cosmos DB clusters limit of 20 per subscription. What is the limit for the serverless offering?

https://docs.microsoft.com/en-us/azure/cosmos-db/serverless#using-serverless-resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Versi

[2022-06-17 20:57] MartinJaffer-MSFT commented on #94554
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to @gordieharkins  ?

[2022-06-17 21:05] masters3d commented on #94570
Ahh looks like I was looking at the wrong title
![image](https://user-images.githubusercontent.com/6539412/174401018-61e6fdea-4336-4055-a429-84880f46209b.png)

[2022-06-17 21:09] masters3d commented on #94570
Looks like we can request more if we need it.
![image](https://user-images.githubusercontent.com/6539412/174401439-460a4e78-8817-4af3-b3e7-cae92e180c49.png)
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cosmos-db/concepts-limits.md#per-account-limits

[2022-06-17 21:09] #94570 closed

[2022-06-17 21:41] ChaitanyaNaykodi-MSFT commented on #94310
Hello @kamilzzz, Thank you for reaching out to us.

Based on your question above.

Yes, your understanding here is correct, Application Gateway V2 SKU guarantees high availability by default. Even if you have set auto scale minimum instance count to zero 0.

As mentioned in the documentation `If a certain instance has a problem and stops being functional, Azure Application Gateway will transparent

[2022-06-17 21:41] #94310 closed

[2022-06-17 22:02] MartinJaffer-MSFT commented on #94556
Hello @tjhftw and thank you for sharing your feedback.  I have had similar frusterations.
To my knowledge, there isn't a modern version of this exercise, but that is because the service has been superceded by several others.

Deprecation means a product/service/feature is about to be discontinued.  When creating new projects, it is recommended to use the newer products, so your effort isn't wasted

[2022-06-17 22:05] MartinJaffer-MSFT commented on #94556
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

@hirenshah1 , is there a similar tutorial, but for a non-deprecated service?

[2022-06-17 22:29] SatishBoddu-MSFT commented on #94039
Hello @TahaMdarhriExakis thanks for sharing more details.
For a deeper investigation and immediate assistance on this issue, please send an email to azcommunity@microsoft.com with the below details, so that we can work closely on this matter with you!

**Thread URL:** Link to this thread.
**Your Azure Subscription ID**:
**Email Subject** : Attn Satish Boddu
Please let me know once you have done th

[2022-06-17 22:38] shAFXr opened #94571 "Clarification of device properties in device filters based on registration state."
Is it possible to clarify the language in the following doc: [https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-condition-filters-for-devices#policy-behavior-with-filter-for-devices](url) which states "The filter for devices condition in Conditional Access evaluates policy based on device attributes of a **registered device in Azure AD** and hence it is important t

[2022-06-17 22:44] MarileeTurscak-MSFT commented on #94571
@shAFXr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-17 22:52] KarlErickson commented on #92964
#reassign:karlerickson

[2022-06-17 22:53] KarlErickson commented on #83022
#reassign:karlerickson

[2022-06-17 22:53] KarlErickson commented on #87500
#reassign:karlerickson

[2022-06-17 23:05] gh-andre opened #94572 "Misleading key encoding information - they are not in base64 representation, but are just strings"
The page says this about keys:

The phrase _The keys are 256-bit values in Base64 representation_ means that keys are binary and are base64-encoded, so they can be used as printable strings.

In reality, these keys are just strings and must not be decoded before they are used. This page must specify explicitly that base64 encoding is a distraction and the keys should be treated as plain strings, w

[2022-06-17 23:09] ChaitanyaNaykodi-MSFT commented on #94465
Hello @nikhilramabhadra, thank you for reaching out.

As [documented here](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-configuration?tabs=portal#identify-request-attributes-to-exclude).
![image](https://user-images.githubusercontent.com/67453298/174409044-8a4e94f2-8708-4d08-8523-3064c3e1bbb5.png)

You cannot add an exclusion rule based on URL Path.

A

[2022-06-17 23:09] #94465 closed

[2022-06-17 23:20] w-azure commented on #85987
Thanks for the feedback @dave-read. Apologies for the late response. I spoke with a developer and unfortunately they have no support for containers with special roles that use the `$` prefix. However, we'll add this distinction to the docs so that people are more clear about the naming restrictions.

For more information about the names allowed for IoT Edge containers, refer to this article headin

[2022-06-17 23:20] #85987 closed

[2022-06-17 23:32] huwgeric opened #94574 "This page is apparently out-of-date, could someone update it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0ca914-d101-09fb-2338-819da669d29d
* Version Independent ID: d9298be8-bf20-7c49-21e2-d98ffae17c18
* Content: [Enable Azure Automation Update Management from the Azure portal](https://docs.microsoft.com/en-us/azure/automation/update-management/enable

[2022-06-18 00:32] dlepow commented on #94436
@promoisha - Just checking before I add info to doc, can you please confirm these subscription-level permissions are needed to purge a soft-deleted APIM instance? Thanks a lot

`"Microsoft.ApiManagement/locations/deletedservices/delete" "Microsoft.ApiManagement/deletedservices/read"`

[2022-06-18 00:42] SnehaAgrawal-MSFT commented on #94563
@runemy Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-18 00:43] SnehaAgrawal-MSFT commented on #94569
@dm-pse Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-18 01:48] w-azure commented on #85803
Additional information about the `timeToLiveSecs` property has been added to the documentation. It should publish in the next 24 hours. We will close this issue, but if anyone needs to continue the discussion feel free to reopen it. Thanks again for the feedback.

#please-close

[2022-06-18 01:48] #85803 closed

[2022-06-18 02:02] iUnknwn commented on #94332
Hi @SnehaAgrawal-MSFT

As far as I can tell, there is nothing in the current EasyAuth documentation (the pages under 'Authenticate Users') that covers or links to the resource manager.

For example, if I am just using the UI, and I start with the documentation [located here](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad), I can create a registration, and

[2022-06-18 02:09] KrishnaG-MSFT commented on #94570
@masters3d Glad to know that you have self resolved the issue and updated it here. Thanks for the update.

[2022-06-18 02:31] kobulloc-MSFT commented on #94381
@Turbofroggy I reviewed the documentation and while there isn't a CSV or Excel file available for sorting and comparing VM SKUs, this is a popular request and I've passed this along to the documentation team.  Internally, manually lists created informally using PowerShell are popular as well.

This sample script from the official documentation will export a list of all VMs and details within your

[2022-06-18 02:32] kobulloc-MSFT commented on #94381
@Turbofroggy With this feedback submitted to the documentation team, we are going to close this thread as resolved.  If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-18 02:32] #94381 closed

[2022-06-18 02:34] iUnknwn commented on #94333
To clarify - while that same note is available on the page I linked, the problem is not the header name or capitalization.

On the page [Access User Identities](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-user-identities) there is information on how to access the identity claims when you are in a .NET language (such as using `ClaimsPrincipal.Current`). However, ther

[2022-06-18 03:58] dcaddick opened #94575 "Free data meter - shows 0"
Hi,

I have checked in a number of separate Tenancies - and seeing "zero" in the "Free data meter"
Can anyone confirm if this is working correctly?

Regards,
Dave C

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8bb0e76-7b39-2d7f-d8f0-d2ec1fd26849
* Version Independent ID: bbf5604d-4c5b-e984-956

[2022-06-18 04:02] AjayKumar-MSFT commented on #94561
@AuyZnova, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-06-18 04:04] AjayKumar-MSFT commented on #94565
@fRanK45jPm, Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-06-18 04:07] AjayKumar-MSFT commented on #94574
@huwgeric,  Thanks for the feedback!  While we are taking a look into this and will get back to you soon. Could you please let us know what specific doc section you'd trouble following or have any specific suggestion? We appreciate you taking time to improve Azure docs.

[2022-06-18 04:12] mbenadiba opened #94576 "Under Attributes and Claims, before you can select "Add A Group Claim" you must first delete the default Group Claim. This instruction is not present."
Please add steps to Delete the default group claim, without deleting the default group claim, the "Add a group claim" is greyed out in the Azure Portal and you cannot proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675b6583-259f-1135-6443-b9aa40258163
* Version Independent ID: 28e01c75-b130-260c-4aa6-75a1cba205

[2022-06-18 04:14] AjayKumar-MSFT commented on #94572
@gh-andre, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 04:20] AjayKumar-MSFT commented on #94566
@wkalt, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 04:23] AjayKumar-MSFT commented on #94575
@dcaddick, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-06-18 04:24] gh-andre commented on #94572
@AjayKumar-MSFT Thanks for looking into this. I spent some time today trying to get my signatures match and while the REST API can take whatever Azure team says it does, using 3rd-party libraries to compute signatures, like OpenSSL, it's not very obvious that a base64-encoded key should just be used just as a plain string.

[2022-06-18 04:25] AjayKumar-MSFT commented on #94576
@mbenadiba, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 04:45] hardingm16 commented on #23238
Error Code: 500121 I wanted to see if someone can hell

[2022-06-18 06:31] fRanK45jPm commented on #94565
Thanks for looking, this change certainly had broken all of our data factory export pipelines.

[2022-06-18 08:11] kungfudante opened #94578 "UDR same as system route would trigger bug"
![image](https://user-images.githubusercontent.com/106713170/174428993-c47f5acd-9716-4a42-ad76-8b7d14beacb0.png)

If user creates an UDR same as system route, a bug would be triggered: UDR won't be effective, neither will system route. Please mention this part so that our customer can avoid creating such unnecessary UDRs.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-06-18 10:22] tjhftw commented on #94556
Thank you very much Martin.

From: MartinJaffer-MSFT ***@***.***
Sent: 17 June 2022 23:03
To: MicrosoftDocs/azure-docs
Cc: tjhftw; Mention
Subject: Re: [MicrosoftDocs/azure-docs] cloud-services-dotnet-get-started doesn't work (Issue #94556)

Hello @tjhftw<https://github.com/tjhftw> and thank you for sharing your feedback. I have had similar frusterations.
To my knowledge, there isn't a modern vers

[2022-06-18 10:26] ramuvr opened #94579 "Privatelink zip deploy challenge"
While using zip deploy for a Function App that is using privatelink we get a 503 error and fails
(vnet integrated to spoke and presented out through App gateway in Hub network)

022-06-17T03:50:38.8602932Z ##[debug][POST]https://$func-syd-ais-dev-abc***@func-syd-ais-dev-abc.scm.azurewebsites.net/api/zipdeploy?isAsync=true&deployer=VSTS&message=
2022-06-17T03:52:43.8006021Z ##[debug]Could not parse

[2022-06-18 10:36] gordieharkins commented on #94554
Manage multiple databases with elastic pools - Azure SQL Database | Microsoft Docs

Sent from my iPhone

[2022-06-18 11:07] AjayKumar-MSFT commented on #94578
@kungfudante, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 11:08] AjayKumar-MSFT commented on #94579
@ramuvr, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 11:11] AjayKumar-MSFT commented on #94460
@angel-menendez, Apologies for any frustrating experience! Just following-up, could you please share more details about the issue?

[2022-06-18 11:17] AjayKumar-MSFT commented on #94484
@RamakantDataGuy, No worries, thanks for sharing the Azure doc URL. I have added an SME from the area to investigate this further. Thanks!

[2022-06-18 11:24] AjayKumar-MSFT commented on #94541
@souvik-dw, No worries, thanks for sharing the Azure doc URL. I have added an SME from the space to investigate this further. Thanks!

[2022-06-18 13:14] DavidChenLiang opened #94581 "the total IOPS could be incorrect."
"The Standard_D8s_v3 can achieve a total of 28,600 IOPS.", why it cann't achieve a total of 28,800 IOPS? I thought 16,000 + 12,800 == 28,800?

Standard_D8s_v3
Cached IOPS: **16,000**
Uncached IOPS: **12,800**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b95355f8-79de-38fd-a0c3-c4e4889b9946
* Version Independent ID: 9

[2022-06-18 13:22] AjayKumar-MSFT commented on #94581
@DavidChenLiang, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-18 14:52] mistokes-ppr opened #94582 "bug in instructions to create a verifiable credential"
recent change broke workflow.

[(https://entra.microsoft.com/#blade/Microsoft_AAD_DecentralizedIdentity/CardsListBlade]

has three fields,
1. title/name of VC
2. xml for display code of VC
3. xml for rules code of VC

upon clicking create, process errors out with requirement for parameter ClientId, which is both new (since last week) and not in the UX.

PLEASE FIX, until this is fixed, I do not un

[2022-06-18 14:53] matrixx333 commented on #92884
I am also experiencing the same issue as WendySanarwanto

[2022-06-18 15:09] shashishailaj commented on #94138
@kutluo Apologies for the delay in response and all the inconvenience caused because of the issue.

As per the mentioned article for streaming the logs to Event Hub you will get the option to select the Azure Subscription now the Subscription detail will only be visible if the Subscription belong to that particular tenant and same will hold for Event Hub . Similar thing is mentioned in documentati

[2022-06-18 15:10] #94138 closed

[2022-06-18 15:20] AjayKumar-MSFT commented on #94582
@mistokes-ppr,  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-06-18 15:32] Iyer-Narayan opened #94583 "Please include information about compute scaling"
[Enter feedback here]

It would be nice to include information about how pipeline interacts with compute in terms of scaling. How does it scale compute up/down before and after the pipeline run etc. and how does it impact cost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8fc8bdb-1ee0-b978-e42f-de875b8cb50f
* Versio

[2022-06-18 15:54] shashishailaj commented on #93617
@dalewb2 Apologies for the delay in response and all the inconvenience caused because of the issue.

There is a catch on the mentioned issue which is that these are talking about 2 different roles. The first paragraph is more about Azure AD roles where users do have access to assignment related to Azure AD but the second one is more about resource based or subscription based roles which are differ

[2022-06-18 15:54] #93617 closed

[2022-06-18 16:37] xtianus79 opened #94584 "These instructions don't work to create custom HTML with jquery"
What is the syntax needed to get this working?

Do you have to inject the jquery in the document at the top/

[2022-06-18 17:17] Haydengineer commented on #11741
How is there still no information on this? Azure touts their ability to let you compute on GPUs, but does not actually have any available for use.

[2022-06-18 18:08] kaushikCanada commented on #11741
Yes. This is weird.

On Sat., Jun. 18, 2022, 1:17 p.m. Hayden Clark, ***@***.***>
wrote:

[2022-06-18 19:28] amanmcse commented on #94275
@moarychan Thank you for the feedback. I have assigned this issue to the author to review and update.

[2022-06-18 19:31] amanmcse commented on #94274
@moarychan Thank you for pointing this out. I have assigned this issue to the author to review and update.

[2022-06-18 20:17] AberdeenAngus190 opened #94587 "2 pages contradict on whether premium block blob storage accounts support access tiers"
This page says that premium block blob storage accounts DO support access tiers, it says "Lifecycle management policies are supported for block blobs and append blobs in general-purpose v2, **premium block blob**, and Blob Storage accounts"
https://docs.microsoft.com/en-us/azure/storage/blobs/lifecycle-management-overview

This page says that premium block blob storage accounts DO NOT support acce

[2022-06-18 22:56] Justinha commented on #81233
@kennethvs Thanks for providing feedback that helps improve our documentation. I added that the setting affects all users. This issue has been resolved and we are closing the issue. #please-close

[2022-06-18 22:56] #81233 closed

[2022-06-18 22:58] Justinha commented on #80361
@pulse717 Sorry for delay and thanks for providing feedback that helps improve our documentation. I added this point to the first mention of staged rollout tool. This issue has been resolved and we are closing the issue. #please-close

[2022-06-18 22:58] #80361 closed

[2022-06-18 23:03] Justinha commented on #90077
@MatthewBrown0 thanks for the suggestion. Microsoft recommendation is to use passwordless. We don't have a recommendation about removing Group Policy. #please-close

[2022-06-18 23:03] #90077 closed

[2022-06-18 23:54] marceloscharan opened #94588 "The Instance Size Flexibility Ratio csv is missing a few virtual Machines. For example "Standard_A2_v2""
The Instance Size Flexibility Ratio csv is missing a few virtual Machines. For example "Standard_A2_v2"

Link: https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv
WebPage: https://docs.microsoft.com/en-us/azure/virtual-machines/reserved-vm-instance-size-flexibility

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-06-19 00:00] Justinha commented on #85105
@danwdavey Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:00] #85105 closed

[2022-06-19 00:04] Justinha commented on #82680
@montereyharris Thanks for providing feedback that helps improve our documentation. I added a link to other topic. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:04] #82680 closed

[2022-06-19 00:20] Justinha commented on #82666
@Chireven Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:20] #82666 closed

[2022-06-19 00:23] Justinha commented on #79321
@YassineSOUABNI Thanks for providing feedback that helps improve our documentation. I added links to reference topics for each of the required cmdlets. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:23] #79321 closed

[2022-06-19 00:25] Justinha commented on #81010
@robsmi-msfte sorry for delay and thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:25] #81010 closed

[2022-06-19 00:29] Justinha commented on #90373
@athamala Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 00:29] #90373 closed

[2022-06-19 00:36] Justinha commented on #87740
@davidsampson-hv sorry for your trouble and for delay here, and thanks for the feedback. The requirement for using a resource domain to create a forest trust has been removed and now you can create a forest trust from either a user or resource domain. This engineering improvement was made to address scenarios like yours in the future. As a result, we updated docs to remove references to this requi

[2022-06-19 00:36] #87740 closed

[2022-06-19 01:06] Rkariyal commented on #94551
Not a document, but the screenshot is from the Azure portal itself.

[2022-06-19 01:35] Pompeoar opened #94590 "Error in document"
Guessing at step "create the firewall resources" you meant to put something like
```az network firewall create -g resourceGroup -n MyFirewall```

not
```az extension add --name azure-firewall```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2b459d-cbbb-100d-a10c-6652c55885b7
* Version Independent ID: d45dcb68-316d-d

[2022-06-19 02:07] MartinJaffer-MSFT commented on #94583
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-19 02:08] MartinJaffer-MSFT commented on #94583
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-06-19 02:09] MartinJaffer-MSFT commented on #94584
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2022-06-19 02:32] bmay-cloudwallcapital opened #94591 "Azure B2C User Accounts Page is old and misleading"
Hello,

This page is now old and misleading.  Azure B2C accounts currently cannot be managed by the Azure Portal (which is a problem in itself).  If you try to create a user in the portal, the password will not work, which was supported by this support thread:
https://docs.microsoft.com/en-us/answers/questions/38350/azure-b2c-password-reset-from-azure-blade-provides.html

Apparently the only way t

[2022-06-19 03:41] MartinJaffer-MSFT commented on #94587
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-19 04:48] AjayKumar-MSFT commented on #94588
@marceloscharan, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 04:50] brad302 commented on #94532
Thanks @JananiRamesh-MSFT, very keen to have this working so yes, please keep me updated.

[2022-06-19 04:50] AjayKumar-MSFT commented on #94590
@Pompeoar,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 04:53] AjayKumar-MSFT commented on #94591
@bmay-cloudwallcapital, Thanks for taking time to share your feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 09:52] take-4c opened #94593 "The description for "Kudu publish API(type=static)" is NOT correct?"
Kudu publish API reference says as following.

"- type=static: Deploy a static file (e.g. a script). By default, the file is deployed to /home/site/scripts. The target path can be specified with path."

As far as I tried,
  - "path" must be specified when type=static.
  - Only path under /home/site/wwwroot can be specified.

When "path" is not specified, by default, the file is NOT deployed to /ho

[2022-06-19 10:15] guywi-ms commented on #89955
@zlatko-jelisavcic-tq Thanks for providing feedback that helps improve our documentation!
We've created a PR to update the security document with tamper-proofing and immutability information. We are closing the issue. The update will be live shortly. #please-close

[2022-06-19 10:15] #89955 closed

[2022-06-19 10:25] AjayKumar-MSFT commented on #94593
@take-4c, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 10:44] ElazarK commented on #94482
Hi @naitmare01 you are indeed correct. and the issues is being fixed.

For the AKS tab, verification should be done with the following command:

`kubectl get pods -n kube-system`

When the profile is added, you should see a pods called azuredefender-XXXXX in Running state. It might take a few minutes for pods to be added.

The documentation change should go live in the next day build cycle.

[2022-06-19 10:45] ElazarK commented on #94482
#please-close

[2022-06-19 10:45] #94482 closed

[2022-06-19 12:36] yanivlavi commented on #94008
There was a mistake in the LA format. I corrected it. Will roll out tomorrow.
#please-close

[2022-06-19 12:36] #94008 closed

[2022-06-19 13:35] kmathewmk opened #94594 "Definition of storage "transaction""
The section "Cost effectiveness" uses the notion of "transaction". Could you please explain/define it and also its relation to IOPS and blob requests?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81b99413-c630-ca01-230e-6d8d9aa6fd91
* Version Independent ID: f3a141a3-0cc3-b1be-d551-c3e23cfa86c9
* Content: [Premium blo

[2022-06-19 14:22] Justinha commented on #90084
@DeanGross Great point. I added alternative roles. Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-19 14:22] #90084 closed

[2022-06-19 14:31] bmansheim commented on #93749
#please-close
This will be handled internally.

[2022-06-19 14:31] #93749 closed

[2022-06-19 14:46] DeanGross commented on #90084
Step 1 still states that we need to be global admin, is that accurate?

[2022-06-19 15:14] AjayKumar-MSFT commented on #94594
@kmathewmk, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 15:19] simonvaros opened #94595 "The code in the Default options section does not work (its giving runtime error) and there is no place to get to know anything about it."
The code in the Default options section does not work (its giving runtime error) and there is no place to get to know anything about it.

I am developing C# desktop application, and wanted to use default MAS processing in speech translation recognizer, but I was unable to make it work, as it is throwing a Runtime exception.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-06-19 15:47] AjayKumar-MSFT commented on #94595
@simonvaros, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-19 15:51] oschakravarthi opened #94596 "Can I use force delete when I intend to re-use Network-Interface card?"
[Enter feedback here]

In the "Force Delete for virtual machine scale sets" section, "Force delete should only be used when you are not intending to re-use virtual hard disks" is mentioned.

Can I use force delete when I intend to re-use Network-Interface card?

If the Windows VM gets into a crash when force-delete, does windows write a crash dump file?
What I noticed is, when I force-delete, my w

[2022-06-19 16:05] shashishailaj commented on #93150
@rboterenbrood Apologies for the delay in response and all the inconvenience caused because of the issue.
Ideally users should be able to login since the source anchor is setup at time of AD Connect installation if the configuration is correct so if there is any specific error you are getting on your side please provide the same so I can help you out with that. As per documentation the details men

[2022-06-19 16:05] #93150 closed

[2022-06-19 16:45] spadeki opened #94598 "Azure Files - malformed yaml issue"
I am trying to follow instructions to mount an Azure Files based file storage area.
Issue 1: There seems to be an issue with either the app.yaml file created or the az containerapp parser. If run the following powershell (on Windows 10 machine):
az containerapp show -n <APP_NAME> -g <RESOURCE_GROUP_NAME> -o yaml > app.yaml
Followed immediately (i.e. don't open or edit app.yaml):
az containerapp up

[2022-06-19 17:32] shashishailaj commented on #92471
@Dawnes Apologies for the delay in the response and all the inconvenience caused because of the issue.

Thank you bringing this to our attention.

We have verified the above mentioned statement and we have created an internal item with our content team to make the required changes.

[2022-06-19 17:32] #92471 closed

[2022-06-19 17:41] troyha opened #94599 "Authentication options have changed from tutorial"
Authentication has changed from MSI radio button to  "System Assigned Managed Identity" in dropdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82e2777-1cc1-4156-2384-3174f5848b6a
* Version Independent ID: be845133-d2d9-7dc1-26a4-741d873b5c21
* Content: [Use Azure Key Vault secrets in pipeline activities - Azure D

[2022-06-19 18:23] SreejaBhattacharya-MSFT commented on #94596
@oschakravarthi Thanks for reaching out. We will investigate this and provide an update on this thread.

[2022-06-19 18:34] ruthbacci opened #94600 "Poor grammer - please update"
*Under Pricing and Billing

"Capacity Reservations are priced at the same rate as the underlying VM size. For example, if you create a reservation for quantity 10 for D2s_v3 VM then you will start getting billed for ten D2s_v3 VMs, even if the reservation is not being used."

Should read

"Capacity Reservations are priced at the same rate as the underlying VM size. For example, if you create a res

[2022-06-19 18:51] Justinha commented on #94001
@ravensorb Thanks for your dedication to our documentation. As @JamesTran-MSFT mentioned, we will need to update the topic at some point to reflect using Graph. The timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-06-19 18:51] #94001 closed

[2022-06-19 19:03] shashishailaj commented on #92840
@hsdhillon Apologies for the delay in response and all the inconvenience caused because of the issue.

As per documentation if you can see in this section we can add these 2 URI:
![image](https://user-images.githubusercontent.com/532022/174495621-c0690f3f-8509-41fd-92ef-11ce05802890.png)

Here when we add both these URI the first one is selected as default  since in case of redirect URI the select

[2022-06-19 19:03] #92840 closed

[2022-06-19 19:24] davidsampson-hv commented on #87740
Thanks Justin good to know, we had to roll back to ADDS due to the limitation, now we know the door is open again for a future transition back to AADDS.

[2022-06-19 19:58] himachida opened #94601 "Event Grid frequently asked questions: How do I recover from a failover?"
[Enter feedback here]

Could you clarify the meaning of this?

This process doesn't require an intervention from the user.

It might be the endpoint stays the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43094022-ef33-4285-8227-8e1d469107a1
* Version Independent ID: 4c789c96-686b-21af-3f0b-277cb5be45eb
* Conten

[2022-06-19 20:47] shashishailaj commented on #92979
@Maciejszuchta Apologies for the delay in response and all the inconvenience caused because of the issue.

I did the repro step by step and was succesfully able to implement the mentioned on my side.

The error means that there is a mismatch between the tenant where your app is registered and where you have stated in either the application code or the portal that your application is registered as

[2022-06-19 20:47] #92979 closed

[2022-06-19 20:49] djrhodes commented on #94507
Hi Martin, thanks for your response. It's not documentation related, but as I saw the issue I linked to wasn't a doc issue either I just followed suit and posted it here. Thanks for the Q&A link I'll post product questions there in future.

[2022-06-19 22:27] MonikaReddy-MSFT commented on #94299
@zaalion - Can you please provide the details as requested above ?

[2022-06-19 22:45] MyraMa opened #94602 "No data from Event hub"
[Enter feedback here]
hi there, I am following the tutorial and having issues with the event hub.
I've made sure I put the right value in the .config file before I run the .ext in cmd. I did see Requests coming in the Event hub instance. But when I query the data from ADX or Stream Analytics, it says no data. In the cmd, the result also returns "Error on send". Is there any problems with the call

[2022-06-19 23:38] bstollnitz opened #94604 "Duplicated word"
Under the "Explore models and metrics", the last paragraph contains the duplication of a word:
"a particular a particular" should be "a particular"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Set up AutoML

[2022-06-19 23:40] bstollnitz opened #94605 "Typo in word "definition""
Under the "Data source and format" section, the word "definition" is misspelled as "deinifition".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Set up AutoML with Python (v2) - Azure Machine Learning](https:

[2022-06-20 00:24] Gouravkala commented on #94427
Please confirm if my understanding is correct

[2022-06-20 01:13] kobulloc-MSFT commented on #94600
@ruthbacci Thank you very much for bringing this to our attention!  I'll get a PR out to address this shortly.

[2022-06-20 02:04] MartinJaffer-MSFT commented on #94598
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2022-06-20 02:05] MartinJaffer-MSFT commented on #94599
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-20 02:06] MartinJaffer-MSFT commented on #94599
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-06-20 02:07] MartinJaffer-MSFT commented on #94601
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-20 02:18] AnuragSharma-MSFT commented on #94403
@sr-msft Thanks for making this change.

@LifeRyuto This change has been made. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

<img width="680" alt="image" src="https://user-images.githubusercontent.com/66360845/174513798-889e0a4f-9d04-4c8c-93f8-e6809964aee7.png">

[2022-06-20 02:18] #94403 closed

[2022-06-20 02:21] AnuragSharma-MSFT commented on #94406
@sr-msft Thanks for making this change.

@LifeRyuto We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

<img width="479" alt="image" src="https://user-images.githubusercontent.com/66360845/174514075-d56fd495-38d7-48d2-b6ad-728835e62283.png">

[2022-06-20 02:21] #94406 closed

[2022-06-20 02:51] sreekzz commented on #94355
#please-close

[2022-06-20 02:51] #94355 closed

[2022-06-20 03:10] ram-msft commented on #94605
@bstollnitz Thanks for the feedback. We will update the document.

[2022-06-20 03:20] ram-msft commented on #94604
@bstollnitz Thanks for the feedback. we will update the feedback.

[2022-06-20 03:46] dochoss opened #94607 "Fix typo in prerequisite steps"
In the list of prerequisites, there is a minor typo.

- **Grant access a Key Vault secret access to the identity.**

This should likely read:
- Grant access to a Key Vault secret to the identity

Though, I believe it would be more clear as this:
- Grant the identity access to a Key Vault secret  (or, "..to a secret in Key Vault")

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-06-20 04:02] brandonstack opened #94608 "Grant permission is missing when migrate to premium price tier."
[Enter feedback here]
We use AAD to grant permissions, and in the document, grant same permission on new namespace is not mentioned.
If we don't grant the permission, we will get 401 error after swtching.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8576690c-ff62-9691-b66e-77beaa754431
* Version Independent ID: d0e6f

[2022-06-20 04:02] AjayKumar-MSFT commented on #94607
@dochoss, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-20 04:03] AjayKumar-MSFT commented on #94460
@angel-menendez, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-06-20 04:03] #94460 closed

[2022-06-20 04:50] CHEEKATLAPRADEEP-MSFT commented on #94602
Duplicate of #94184

[2022-06-20 04:50] #94602 closed

[2022-06-20 05:10] ms-ishiyam opened #94610 "Small file transfer is slow"
Many users don't know this behavior of SMB. Sometimes it causes migration issue. Could you add this behavior into this document ? It will be helpful for customers.

https://docs.microsoft.com/en-us/windows-server/storage/file-server/troubleshoot/slow-file-transfer#small-file-transfer-is-slow
Slow transfer of small files through SMB occurs most commonly if there are many files. This is an expected

[2022-06-20 05:16] MyraMa commented on #94184
Is there any update on this issue? I am also encountering the same issue. I've made sure I configured the .config file correctly.

[2022-06-20 05:16] nikhilramabhadra commented on #94465
There seems to be mandatory rules that cannot be disabled.

/umbraco/ServerVariables?umb__rnd=451b4c1370e27e397d1a520fa7bb2b1a49d6769c | Execution error - PCRE limits exceeded (-8):   (null).
-- | --
/umbraco/ServerVariables?umb__rnd=451b4c1370e27e397d1a520fa7bb2b1a49d6769c | SQL Comment Sequence Detected.
/umbraco/ServerVariables?umb__rnd=451b4c1370e27e397d1a520fa7bb2b1a49d6769c | SQL Hex Encodin

[2022-06-20 05:25] nikhilramabhadra commented on #94465
[ModSecurity PCRE limits exceeded – Easy fix!](https://bobcares.com/blog/modsecurity-pcre-limits-exceeded/)

[2022-06-20 05:27] ShaikMaheer-MSFT commented on #94541
@souvik-dw Are you looking for some help to write kusto query for parsing or querying you log file data? It looks more like product question to me not a feedback. If yes, kindly feel free to post your query in [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/index.html).

Please note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, w

[2022-06-20 05:40] ShaikMaheer-MSFT commented on #94402
@thopsai97 Thank you for this feedback. It looks more like Product feedback not doc feedback. Github platform is dedicated for docs related feedbacks or issues. Kindly feel free to post your product feedback at below link. Product team closely monitor feedbacks there and consider them for future releases. Thank you.
https://feedback.azure.com/d365community/forum/1219ec2d-6c26-ec11-b6e6-000d3a4f032

[2022-06-20 05:49] SreejaBhattacharya-MSFT commented on #94596
Hi @oschakravarthi
You cannot re-use the NIC if you force delete it with your VM.
Could you please let me the know a few things-
When you mark your windows VM with its NIC for deletion on the Azure Portal, where are you noticing that it is bugchecking? Do you see it on the boot diagnostics? Also, how do you re-use the NIC if the NIC has also been marked for deletion?

[2022-06-20 06:21] ahhughes opened #94611 "Run+Debug on the container?"
[This page documents how to create a function then how to build and run it on a container, however it does not document how to run+debug the project on the container (i.e. hit F5 in vscode and what executes is NOT on the container, it's only running on the  host/venv). If this can or can't be done, could it please be stipulated so that we know where limits lie. Thank you.]

---
#### Document Detai

[2022-06-20 06:27] SnehaAgrawal-MSFT commented on #94319
@wcneumann219 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-06-20 06:42] xujiongda opened #94612 "About when nsg validate the traffic."
Hi team,
our customer has a traffic flow like below.

Client -> LB -> VM

When using nsg inbound rule to allow Client to VM,
It looks like Source Client, Destination VM should be set up.
And when  using nsg outbound rule to allow Client to VM,
It looks like Source Client, Destination LB should be set up.

This isn't very clear to our customers. (Not only one customer)
The network team support engi

[2022-06-20 07:13] dominicbetts commented on #93872
Hi @tervoju - we didn't hear back from you after the various responses above, so I'll close this issue for now. Feel free to open it again if you have any follow-up questions. Thanks.

[2022-06-20 07:13] dominicbetts commented on #93872
#please-close

[2022-06-20 07:13] #93872 closed

[2022-06-20 07:14] dominicbetts commented on #94377
Hi @rmats808 - did you manage to get the command working?

[2022-06-20 07:18] spadeki commented on #94598
This is from the container apps documentations pages "How-to guides"
"Use Storage Mounts" in the section "Azure Files"
https://docs.microsoft.com/en-gb/azure/container-apps/storage-mounts?pivots=aca-cli#azure-files

I have been trying to get this to work for a couple of days which is frustrating because getting the container running and connecting it to an SQL DB was relatively straightforward as

[2022-06-20 07:26] Leoer opened #94614 "the steps meaning"
What are the steps mentioned in "The steps are completed if the system assigned default setting is on" ?
Could you please point it out for me or give some suggestions?
Thanks a lot.<br/>
![image](https://user-images.githubusercontent.com/102143373/174546389-58e01453-0574-4f40-885c-8fdb9e52747b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-06-20 08:12] AnuragSingh-MSFT commented on #94574
@huwgeric, can you please share additional details about this page being out-of-date? I reviewed the steps and it looked fine to me, (_I might have missed something_). Looking forward to your response. Thank you

[2022-06-20 08:31] Givary commented on #94423
@huwjeffries Reviewed your ask, Security groups mentioned here, refers to Azure AD groups, which has been mentioned below in the same article https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identity-best-practice-recommendations#:~:text=Using-,Azure%20AD%20groups,-for%20granting%20access

Let me know if you have any further questions.

[2022-06-20 08:34] Dahalane opened #94615 "$rgName = 'az104-04-rg1' New-AzResourceGroupDeployment ` -ResourceGroupName $rgName ` -TemplateFile $HOME/az104-04-vms-loop-template.json ` -TemplateParameterFile $HOME/az104-04-vms-loop-parameters.json"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-20 08:35] darkstar360 opened #94616 "Error in Time Triggered Purge instance history"
[Enter feedback here]
This url: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management?tabs=python#purge-instance-history contains codes that causes exception while running time triggered function to clean durable function's history.
The problem code part is:
`created_time_from = datetime.min `

this  assigns the value of '0001-01-01 00:00' as datetime

[2022-06-20 08:39] Givary commented on #94471
@adi-garg Reviewed your ask, this article refers to creation of key vault, however access policy/networking are mentioned under How-to-guides section on the same page.
Let me know if you have any further questions.

[2022-06-20 08:40] dominicbetts commented on #82488
Hi @romankiss - we've added some clarifications to the IoT Plug and Play documentation with respect to writable properties at start up: https://docs.microsoft.com/azure/iot-develop/concepts-convention#writable-properties

I'm going to close this issue now as there hasn't been any activity for some time. Please reopen it if you have any follow up questions. Thanks.

[2022-06-20 08:41] #82488 closed

[2022-06-20 09:19] AshokPeddakotla-MSFT commented on #94476
@kmrrakesh I suggest you to try changing the port.

**Try to set PORT=8080 && npm run start**

Note: Your Azure Digital Twins app registration must have a reply URL using the same port you are using - e.g. localhost:7000 if that is the port you are using.

If that doesn't help, As Martin suggested, you can post your query on Q&A or raise an issue [here](https://github.com/Azure-Samples/digital-twi

[2022-06-20 09:19] #94476 closed

[2022-06-20 09:49] GitaraniSharma-MSFT commented on #94612
@xujiongda , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-20 10:06] GitaraniSharma-MSFT commented on #94348
@HartejSingh2001 , I'm following up on my previous comment. May I know if you are using a newly created subscription?

[2022-06-20 10:21] ethanhou99 commented on #94491
@AnuragSingh-MSFT , thanks for your reply.

However, the `New-GuestConfigurationPolicy` cmdlet schema in the Azure doc is not up-to-date, it was for the GuestConfiguration V3.5.4. The GuestConfiguration module was upgraded to V4.1.0 last week and the schema was changed as well. I think the doc can specify the schema is for V3.5.4 or update the cmdlet schema to fit GuestConfiguration V4.1.0.

You c

[2022-06-20 10:25] kengaderdus commented on #94274
@moarychan

Thank you for your feedback.

Can you give more information regarding the characteristics of your request. We're unable to reproduce it at the moment.  Meanwhile, we'll get the description of that error code from our engineering team.

[2022-06-20 10:51] kengaderdus commented on #92578
@Norrch2

Thank you for your feedback and patience on this issue. We're collecting all the information required to resolve this issue appropriately.

[2022-06-20 11:01] kmrrakesh commented on #94476
Thank you @AshokPeddakotla-MSFT . It helped.

[2022-06-20 11:11] DJ4ddi opened #94619 "Application Insights connection string migration does not specify .NET version"
The article for migrating the AI instrumentation key to a connection string fails to specify which AI SDK versions for .NET actually support connection strings.

I believe this should say ".NET v2.12.0" instead of ".NET and .NET Core LTS", as taken from [this article](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connection-string?tabs=net#how-to-set-a-connection-string).

---
####

[2022-06-20 11:32] Rookian opened #94620 "Managed Identity support"
Hi!

Can I also use Managed Identity (System or user-assigned) for `IDownstreamApi`?
Shouldn't Managed Identity the first option that should be mentioned in the documentation for the users? My proposed order would be `Managed Identity`, `client certificate`, `client secret`.

Why do I first need to call `AddMicrosoftIdentityWebApiAuthentication(IConfiguration)` then `EnableTokenAcquisitionToCallDo

[2022-06-20 11:33] KrishnaG-MSFT commented on #94615
@Dahalane [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in the referred Azure document then please elaborate your feedback.

[2022-06-20 11:34] davystrong commented on #93002
@dem108 sorry for the delay! I must have missed the notification in everything else. I think using pipelines for batch inference would work in the meantime, thanks! I ended up using the SDK to "manually" upload a dataset, this would probably be cleaner.

[2022-06-20 11:36] Borgquite commented on #94178
Hey @KrishnaG-MSFT - tried to look for this today but the old command still seems to be there.
https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial
Can you advise?

[2022-06-20 11:52] george-pelt8 commented on #86803
This is affecting us too - any solution would be greatly appreciated as this issue is severely impacting our development

[2022-06-20 12:07] RohitMungi-MSFT commented on #94614
@Leoer Thanks for the question. By default, any new Azure ML workspace is created with system assigned identity and if your workspace is not created with system assigned identity then the new roles are required for your managed identity before proceeding with the steps to assign K8s compute to your workspace. The steps are the following as mentioned in the section for different ways to attach the

[2022-06-20 12:14] dknappettmsft commented on #64928
Closing the loop on this - these two IP address entries are available in the article.

#please-close

[2022-06-20 12:14] #64928 closed

[2022-06-20 12:17] dknappettmsft commented on #62677
Thanks for the feedback. The article lists URLs for the AVD service and RDP clients to work. These files in the GtHub repo aren't part of the service. As a result, it won't be added to the article.

#please-close

[2022-06-20 12:17] #62677 closed

[2022-06-20 12:34] growthvision commented on #77408
Hi! Any updates for M1 mac? June of 22 ... (((

[2022-06-20 12:41] Danielmethner commented on #56124
Does this mean it could also work for smaller VM sizes (for training/ dev environments?)

[2022-06-20 12:47] SnehaAgrawal-MSFT commented on #94332
@iUnknwn Thanks again for sharing details and feedback on this. The PR has been raised and once verified by content author will be merged. We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-06-20 12:47] #94332 closed

[2022-06-20 13:06] #94525 closed

[2022-06-20 13:26] KrishnaG-MSFT commented on #94178
@Borgquite As shown in below screenshot, I see it as updated! Am I missing something here?

<img width="669" alt="image" src="https://user-images.githubusercontent.com/45988031/174611763-85940606-9043-4fef-ab5b-5c781b2f9d9b.png">

[2022-06-20 13:30] epomatti opened #94623 "Django example not working"
I tried adding the sample for Django but couldn't make it work. Tried on a fresh empty Django project.

1. When I run `python manage.py runserver` the app takes several seconds to start
2. Once started all connections to the HTTP port lead to connection refused
3. Django doesn't log anything in the console or anywhere.
4. I tested with a standalone python file and was able to send logs to Appi, so

[2022-06-20 13:42] Duffney commented on #94410
Hey @kenhia,

It looks like that method's functionality was replaced by [ListPropertiesOfSecrets](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets#Client.ListPropertiesOfSecrets). I'll confirm this is the case with the engineering team and update the documentation accordingly.

Thank you for opening this issue,

[2022-06-20 14:09] chrolivier commented on #85635
@ Anyone from MSFT: Is there any news on this?
We have to use SSL with custom certs when connecting to a 3rd party MySQL DB.
I would not like to resort to ODBC on a self-hosted integration runtime.

[2022-06-20 14:09] chrolivier commented on #78023
@ Anyone from MSFT: Is there any news on this?
We have to use SSL with custom certs when connecting to a 3rd party MySQL DB.
I would not like to resort to ODBC on a self-hosted integration runtime.

[2022-06-20 14:17] Borgquite commented on #94178
@KrishnaG-MSFT Hey, sorry, my mistake - it's there! Apologies and thank you :)

[2022-06-20 14:24] seesharprun commented on #77408
Hello @murbanowicz and @growthvision!

#assign:seesharprun

We don't usually update the docs with roadmap dates, but there are a few places you can go to get answers for your questions quickly:

- [Feedback forums](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858)
- [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)

[2022-06-20 14:24] pettewayshade opened #94624 "Update Line 21"
objectid in line 21 should be changed to PascalCase

`$AppID = $Eapp.ObjectId`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8accda-f18b-094d-1326-6f5bda3a22e6
* Version Independent ID: 18882ae2-cc2c-76f8-3584-5dc1d1cf7a69
* Content: [PowerShell sample - Export secrets and certificates for enterprise apps in Azure A

[2022-06-20 14:30] SnehaAgrawal-MSFT commented on #94569
@dm-pse Thanks again for reaching here! Azure Government is a cloud services platform built upon the foundational principles of security, privacy, and compliance. Customers eligible for Azure Government benefit from a physically isolated instance of Azure and thus its suggested to refer this [detailed documentation on Azure Government ](https://docs.microsoft.com/en-us/azure/azure-government/docum

[2022-06-20 14:33] isnotvoid opened #94625 "Azure Powershell DSC VM extension broken with image 17763.3046 (Windows Server 2019)"
Hi,

first of all sorry for abusing the issue tracker, but I could not find any other place to report this issue. If there is another bug tracker for this component, please let me know.

We are building Windows VM images daily for use in Virtual Machine Scale Sets. We have been using the image SKU 2019-Datacenter-smalldisk" with version "latest" successfully until last week. From June 15th on, our

[2022-06-20 14:41] SinisterChinaPenguin opened #94626 "Monitor Link"
Step 1 says "In Azure portal, click on Monitor"

"Monitor" does not appear on the landing page for me - I need to click "All Services" -> Monitor

Consider clarifying this step for beginners?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0

[2022-06-20 15:03] Justinha commented on #88106
@MarcoL-4wardPRO  Thanks for providing feedback that helps improve our documentation. The steps have been revised to address this issue. This issue has been resolved and we are closing the issue. #please-close

[2022-06-20 15:09] billyd-at-bentley opened #94629 "Minor typo in docs for Azure ML workspace setup"
Under "Quick tour of the studio", where it says: >> Automated ML steps you though created a machine learning model without writing code.
I believe you meant to say "creating" instead of "created".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc8d79d-155b-b9e3-9020-56a7d946d4c8
* Version Independent ID: a38bd926-43ab

[2022-06-20 15:09] billyd-at-bentley commented on #94629
Also. "though" should say "through".

[2022-06-20 15:13] MarileeTurscak-MSFT commented on #94624
@pettewayshade
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-20 15:17] shwetamathur7 commented on #94576
@mbednadiba Thanks for your contribution to enhance the documentation. I have updated the document with required details and sent to author for approval. Changes will be reflect after the approval.

[2022-06-20 15:17] #94576 closed

[2022-06-20 15:21] IaminAzure commented on #17764
@YutongTie-MSFT or @dani3lheidemann is this still a manual work. Do we need to create tasks if the resource goes non-complaint after 24 hours again.

[2022-06-20 15:33] Strahosi commented on #94257
Hello , any updates on this ?

[2022-06-20 15:33] timwarner-msft commented on #17764
Thanks, David. I followed up with Neha to confirm, after which I'll update the page. Have a great day, Tim

Tim Warner
(he/him)
Senior Content Developer, Azure Governance
Microsoft Content & Learning
***@***.******@***.***>
Based in Nashville, TN (CDT)

[Microsoft Logo]

From: David Coulter ***@***.***>
Sent: Monday, June 20, 2022 10:29 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tim Warner *

[2022-06-20 15:35] timwarner-msft commented on #94212
#please-close

[2022-06-20 15:35] #94212 closed

[2022-06-20 15:40] MarileeTurscak-MSFT commented on #94624
Thanks for pointing this out! I made a pull request to fix the case in the sample script. https://github.com/Azure/azure-docs-powershell-samples/pull/372

[2022-06-20 15:40] #94624 closed

[2022-06-20 15:42] Justinha commented on #92670
@wcneumann219 Thanks so much for the clear explanation! Would you kindly submit this as a pull request to the topic?

[2022-06-20 15:42] #94629 closed

[2022-06-20 15:50] IaminAzure commented on #17764
@DCtheGeek Thanks for the real quick turn around. So right now we don't have auto remediation to handle this scenario directly in azure policy and the only possible way it to use event grid to react on events happening in azure policy. Is my understanding correct?

[2022-06-20 15:51] bandersmsft commented on #94538
@Siby22071989 I've updated the section of the article as you suggeted with:

- The total canceled commitment can't exceed 50,000 USD in a 12-month rolling window for a billing profile or single enrollment. For example, for a three-year reservation (36 months) that's 100 USD per month and it's refunded in the 12th month, the canceled commitment is 2,400 USD (for the remaining 24 months). After the

[2022-06-20 15:51] #94538 closed

[2022-06-20 15:53] DCtheGeek commented on #17764
@IaminAzure I'll defer to @timwarner-msft for that since I don't own this content anymore. As he mentioned, he's going to check with the PM and then will respond back to the thread and update the content as needed.

[2022-06-20 16:02] #94341 closed

[2022-06-20 16:09] RayGabePMI opened #94632 "ADF linked service for Magento - direct db/SSH support?"
Good day!
We're happy to see the ADF linked service for Magento (preview). I suspect it is using Magento's REST API - pls confirm.
In general we've found limitations and unreliable operation of the Magento API. Our solution currently is w/SSIS and the Devart connector making a direct connection to the MySQL/MariaDB using an SSH tunnel. Are there any plans to support direct Magento database connect

[2022-06-20 16:11] huwjeffries commented on #94423
Perfect - thanks!

[2022-06-20 16:13] TimothyAlba opened #94633 "Databricks and Private Endpoints"
This document is incorrect in mentioning a reason for setting up Databricks with VNet injection as this process creates two delegated subnets (public and private) of which neither can be configured with a private endpoint for secure access to Private Link enabled services such as Azure Storage.

When attempting to create a Private Endpoint to the public subnet the following error pops up in Azure

[2022-06-20 16:14] kenhia commented on #94410
@Duffney,  I just tried in my code using the example in the docs from your link (slightly modified for the output bit) and that produces the correct result. Will go off the docs in pkg.go.dev, but looking forward to the MS walk-through working!

[2022-06-20 16:28] MartinJaffer-MSFT commented on #94608
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-20 16:34] GitaraniSharma-MSFT commented on #94610
@ms-ishiyam , thank you for feedback. We'll review this and get back to you shortly!

[2022-06-20 16:35] Justinha commented on #85639
@hkusulja Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your sugg

[2022-06-20 16:35] #85639 closed

[2022-06-20 16:37] MartinJaffer-MSFT commented on #94584
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-06-20 16:37] #94584 closed

[2022-06-20 16:39] whhender commented on #93129
@F-Zainab - thanks so much for your patience. As I've been working to confirm this information, updates are underway. This is still top of mind for me, and I'll be sure to get the documentation updated.

[2022-06-20 16:40] whhender commented on #93410
Yes, I understand that. Thanks for taking the time to explain your scenario! This is helpful for us as we make and prioritize design descisions.

I'll update the documentation to make this limitation more explicit.

[2022-06-20 16:40] whhender commented on #93410
#please-close

[2022-06-20 16:40] #93410 closed

[2022-06-20 16:42] Duffney commented on #94410
That's great to hear @kenhia, thank you for letting me know. I'll get the docs update shortly.

Have a great day!

[2022-06-20 16:44] whhender commented on #92239
@ajdabrowski - Thanks again for your patience. We're in process of making updates to this feature, so it's been a process to get confirmation. As we make these updates we'll be certain to correct this information.

[2022-06-20 16:46] MughundhanRaveendran-MSFT commented on #93995
@arefinsami , I am closing this issue. Feel free to reopen if required

[2022-06-20 16:49] ecfan commented on #93648
Hi @adjustit, is your question now answered?

[2022-06-20 16:50] billyd-at-bentley opened #94634 "Bad data in sample dataset?"
When I reach the part that tells me to save-and-run "run-pytorch.py", I get an error:
<snip>
100.0%Extracting ../data/cifar-10-python.tar.gz to ../data
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/azureml-envs/azureml_77cfc30231d36f31f7759f7b7061f35e/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/azureml-envs/azureml_77cfc30231d36f31

[2022-06-20 16:50] MughundhanRaveendran-MSFT commented on #94579
@ramuvr , 503 service unavailable means that the Kudu site of the function app is down during the deployment. Make sure the kudu site is up and running before the deployment. The function app can be stopped but Kudu site of the function should be running during the deployment

[2022-06-20 16:51] billyd-at-bentley commented on #94634
I meant to add....the job seems to hang indefinitely at that point, never finishing. I have to cancel it through the ML studio interface.

[2022-06-20 17:01] gsaiz opened #94635 "Wrong Azurite TableEndpoint connection string"
After a long debugging session, I noticed that in the [HTTP connection strings](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs=visual-studio#http-connection-strings) section, there is an error in the TableEndpoint connection string.

It should be `TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;`. (the port number should be *10002*).

---
#### Document Details

[2022-06-20 17:01] lauradolan commented on #64543
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:03] lauradolan commented on #65743
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:03] #65743 closed

[2022-06-20 17:04] lauradolan commented on #66282
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:04] #66282 closed

[2022-06-20 17:06] #69910 closed

[2022-06-20 17:09] lauradolan commented on #71586
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:11] lauradolan commented on #83737
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:11] #83737 closed

[2022-06-20 17:11] billyd-at-bentley commented on #94634
I removed the dataset, and re-ran torch.py locally. It ran fine again, and re-extracted the dataset again. So I think the dataset is fine. But when I re-ran "run-pytorch.py" (for the 3rd time now), I still get that same error.

[2022-06-20 17:12] lauradolan commented on #85647
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:12] #85647 closed

[2022-06-20 17:17] #94600 closed

[2022-06-20 17:27] shanhix1 commented on #17764
Hi @IaminAzure, thanks for the follow up! I am a PM on the Azure Policy PG team, and @timwarner-msft got in touch with me about this thread.

Your understanding above is correct - Policy does not support automatic remediation for brownfield resources because is could introduce risk of harm to the environment. Remediation tasks should be explicitly and intentionally triggered by the user, so event

[2022-06-20 17:27] romankiss commented on #86005
Hi @dominicbetts, it looks like this issue is not resolved.

Thanks
Roman

[2022-06-20 17:27] #86005 closed

[2022-06-20 17:36] lauradolan commented on #77936
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-20 17:36] stdistef opened #94637 "DINE is now allowed, I thought"
The document page reads:  "Azure Policy definitions in the category 'Guest Configuration' can be assigned to Management Groups only when the effect is 'AuditIfNotExists'. Policy definitions with effect 'DeployIfNotExists' aren't supported as assignments to Management Groups."

According to an internal Microsoft Teams dialog, this was made to work a month or so ago.   If we can now use DINE on MGs,

[2022-06-20 17:41] arvindshmicrosoft commented on #94554
The statement is from [this page](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-pool-overview?view=azuresql#what-are-sql-elastic-pools) and it does not apply to Azure SQL DB Serverless compute tier, as only single databases can be configured to use the Serverless compute tier. Documentation for the serverless compute tier is [here](https://docs.microsoft.com/en-us/azure/azure-s

[2022-06-20 17:43] #94402 closed

[2022-06-20 17:47] MarileeTurscak-MSFT commented on #94620
@Rookian
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-20 17:53] billyd-at-bentley commented on #94634
FYI. I updated the python version from 3.6.2 (as suggested by the tutorial) to 3.8.5, and it now runs successfully!

[2022-06-20 17:56] jmprieur commented on #94620
@[Rookian](https://github.com/Rookian): please raise a feature request here: https://github.com/AzureAD/microsoft-identity-web/issues/new?assignees=&labels=enhancement%2C+Feature+Request&template=feature_request.md&title=%5BFeature+Request%5D+

[2022-06-20 17:57] SatishBoddu-MSFT commented on #94039
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

We will work with you offline for a much deeper investigation of the issue!

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and a

[2022-06-20 17:57] #94039 closed

[2022-06-20 18:01] henryxuteck opened #94639 "Routing infrastructure unit"
[Enter feedback here]
1. If I am using a secured VHUB, for Aggregate throughput Gbps, should I focus on Azure firewall or VHUB?
2. The pricing page doesn't show anything about "Routing infrastructure unit"
3. Where can I see the existing Aggregate throughput Gbps and Number of VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-06-20 18:03] nickludwig commented on #93819
Hey @moarychan - `client_secret_jwt` isn't supported as part of our implementation of the client credentials flow. This is intentional and is why you're experiencing an error. Hope this helps!

I will leave this issue open for a few more days in case you have any follow up you'd like to add.

[2022-06-20 18:12] ggailey777 commented on #94495
This work is nearly completed, but thanks for letting us know.

[2022-06-20 18:45] #94324 closed

[2022-06-20 18:46] kgremban commented on #94528
@JimacoMS4 Can you update the portal and corresponding CLI docs with a quick reference to the configuration limit and/or a pointer to the quotas article?

#reassign:jimacoms4

[2022-06-20 19:03] #94574 closed

[2022-06-20 19:08] ekpgh opened #94641 "Malformed link in Automation section"
Customer-managed keys section of the Automation section includes this text instead of a hyperlink:

Under this heading: https://docs.microsoft.com/en-us/azure/governance/policy/samples/built-in-policies#automation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befcd549-5b66-5e93-34a2-ff31c8c0855c
* Version Independent

[2022-06-20 19:14] Nicholak-MS commented on #94411
Hi @Chris-Burgess-ACTGOV I have updated several of the products you list above either in the online doc or in the CSV or both to ensure they full reconcile and reflect current service plan offerings for each. These updates are now reflected on both the portal as well as the online CSV.

Thanks
Nick

#please-close

[2022-06-20 19:15] #94411 closed

[2022-06-20 19:28] Justinha commented on #90139
@AHelsby @Misterlokinl @MarileeTurscak-MSFT Thanks for providing feedback that helps improve our documentation. There was a versioning issue with the binary due to migrating to a new build system. The versioning issue is fixed in version 1.2.177.1. This issue has been resolved and we are closing the issue. #please-close

[2022-06-20 19:28] #90139 closed

[2022-06-20 19:43] bmay-cloudwallcapital commented on #94591
Actually, I apologize, I didn't create a user with the Create Azure B2C User option when creating the user.  If I do that it does work.

While I feel the message "The password has expired" is poor if you created the local Azure B2C User, the general flow does work.

[2022-06-20 19:43] #94591 closed

[2022-06-20 19:50] timwarner-msft commented on #94641
#please-close

[2022-06-20 19:50] #94641 closed

[2022-06-20 19:52] timwarner-msft commented on #94637
@shanhix1 to get her opinion.

[2022-06-20 20:03] MonikaReddy-MSFT commented on #94299
@zaalion  - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information as requested and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-06-20 20:03] #94299 closed

[2022-06-20 20:11] mike-urnun-msft commented on #94611
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-20 20:19] Justinha commented on #88282
@MaximeRastello Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-20 20:26] danwatford commented on #93917
Hi @ggailey777 , It didn't occur to me that there might be another repo.
Thank you for letting me know.

[2022-06-20 20:27] mike-urnun-msft commented on #94616
Thank you for your feedback! We will review and update as appropriate.

[2022-06-20 20:32] danmiser opened #94645 "Step 4 missing CLI option"
[Enter feedback here]
Step 4 doesn't have a section for Azure CLI. I should be able to do this entire deploy via CLI. i.e. dotnet publish with appropriate arguments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196-870b-760f-94a97ae437e8
* Conte

[2022-06-20 20:32] MonikaReddy-MSFT commented on #94626
@SinisterChinaPenguin - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-20 20:32] #94626 closed

[2022-06-20 20:34] MarileeTurscak-MSFT commented on #94620
Thanks! Closing this out since it is being tracked here: https://github.com/AzureAD/microsoft-identity-web/issues/1775

[2022-06-20 20:34] #94620 closed

[2022-06-20 20:34] MonikaReddy-MSFT commented on #94625
@isnotvoid - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-06-20 20:38] cgillum commented on #94616
@davidmrdavid can you comment on this? Is this a bug that should be fixed or should we update the example?

[2022-06-20 20:55] MonikaReddy-MSFT commented on #94551
@Rkariyal - Can you please share with us the ticket number so we can look into it further? Thanks

[2022-06-20 21:20] shanhix1 commented on #94637
Hi @stdistef - thanks for the question. @jodi-boone, looping you in here as well. DINE assignments are supported at the MG level in general, but wanted to check if there is an exception for the category 'Guest Configuration'. If they are supported we will update this documentation article accordingly.

[2022-06-20 21:25] #88282 closed

[2022-06-20 21:30] abatishchev commented on #32131
@shashishailaj @MarkusVi, can you please put the description of `xms_mirid` back to the article? For some reason it doesn't cover it anymore.

[2022-06-20 21:44] cynthn commented on #70130
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-20 21:46] cynthn commented on #73828
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-20 21:47] cynthn commented on #75495
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-20 21:49] cynthn commented on #82998
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-20 21:50] cynthn commented on #83792
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-20 21:52] cynthn commented on #73740
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

AB#1958451

[2022-06-20 21:54] cynthn commented on #76434
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

AB#1958451

[2022-06-20 21:57] cynthn commented on #76435
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

AB#1958451

[2022-06-20 22:00] stewartadam opened #94650 "Package file structure for a valid deployment is undocumented"
This page details how to perform a package-based deployment using ZIP or TAR archive, but neglects to specify the required format of the archive.

Should all files be loose in the root of the archive, or is a top-level folder OK? What should that top-level folder be called, or is it irellevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-20 22:00] stewartadam commented on #94650
An example of shell commands to package a function and produce a valid package file for deployment would be helpful here.

[2022-06-20 22:11] JimacoMS4 commented on #93932
Hi @bniranjanbhat,

I haven't heard from you, so I'm going to go ahead and close this issue. If you think additional changes are needed, please @-comment me here or open another issue. Thanks again for your feedback and for helping us improve our documentation.

Best,

Jimaco

[2022-06-20 22:12] JimacoMS4 commented on #93932
#please-close

[2022-06-20 22:14] #73828 closed

[2022-06-20 22:23] #83792 closed

[2022-06-20 22:27] davidmrdavid commented on #94616
Oh this is timely! Personally, `datetime.min` works for me, but someone just recently opened an issue describing problems with this sample. Perhaps this causes issues under some configurations. This is that issue: https://github.com/Azure/azure-functions-durable-python/issues/370

@darkstar360: can you clarify what error you get when you use `datetime.min`?

[2022-06-20 22:33] #70130 closed

[2022-06-20 22:33] mike-urnun-msft commented on #94650
Thank you for your feedback! We will review and update as appropriate.

[2022-06-20 22:35] #73740 closed

[2022-06-20 22:35] cebundy commented on #93558
@ToruMakabe There is no way to check if the app is zone distributed.  If you wish to open a product enhancement request you can do so here.  [aka.ms/aca-roadmap](http://aka.ms/aca-roadmap)
We are working to update the document with configuration instructions.  You should be able to see the updates soon.

[2022-06-20 22:36] #75495 closed

[2022-06-20 22:36] #82998 closed

[2022-06-20 22:39] #76435 closed

[2022-06-20 22:42] #93932 closed

[2022-06-20 22:42] cebundy commented on #94335
#assign:cebundy

[2022-06-20 22:44] #76434 closed

[2022-06-20 22:44] cebundy commented on #94335
#assign:cebundy

[2022-06-20 22:52] mike-urnun-msft commented on #94425
Hello @ttq-ak - As documented [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-faq#what-ports-do-i-need-to-open-on-the-firewall--), you could switch to `AMQP` via `5671` port. However, with HTTPS, I don't have an absolute solution but you could try other clients listed here:  https://github.com/paolosalvatori/ServiceBusExplorer#alternative-service-bus-management-tool

[2022-06-20 23:00] mike-urnun-msft commented on #94550
@TahaSnoussi I'm following up on my comment above. Were you pointing out how this documentation doesn't have a sample auth policy for the Azure search? If so, please consider sharing your implementation and we'd be happy to review and publish on the APIM policy snippets repo.

[2022-06-20 23:16] dem108 commented on #93002
Thanks for your confirmation! Great to hear the alternative works for you now. If you see any other issues, please don't hesitate to create them separately. Have a nice day!

#please-close

[2022-06-20 23:16] #93002 closed

[2022-06-20 23:16] adjustit commented on #93648
No, Not really

There is no simple way to get the filename or content type, without having to go thru the process of  parsing the string.

[2022-06-21 00:23] bilby91 commented on #63387
I stumbled upon a similar reference here https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview

Is this accurate?

[2022-06-21 00:25] ozhug commented on #94527
trying new command
New-AzAksCluster -ResourceGroupName RG-AKS -Name myAKSCluster -NodeCount 1 -GenerateSshKey -WorkspaceResourceId /subscriptions/<my-id>/resourceGroups/RG-AKS

still getting asked about the service principle

WARNING: Upcoming breaking changes in the cmdlet 'New-AzAksCluster' :
The cmdlet 'New-AzAksCluster' is replacing this cmdlet.
Note : Go to https://aka.ms/azps-changewarnings

[2022-06-21 01:59] SnehaAgrawal-MSFT commented on #94645
@danmiser Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-21 02:00] jedelblu opened #94656 "diskEncryptionSetId=$(az disk-encryption-set show -n mydiskEncryptionSetName -g myResourceGroup --query "[id]" -o tsv) Is wrong"
[Enter feedback here]
You forgot to put the $ in the front of diskencytpionsetid/  for example $diskEncryptionSetId=(az disk-encryption-set show -n mydiskEncryptionSetName -g myResourceGroup --query "[id]" -o tsv) Is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb36087b-eaa6-ae3b-b3bb-6cb58268c3b9
* Version Ind

[2022-06-21 02:04] yinoa opened #94657 "Why The Key Vault Networking must be set to allow access from All networks?"
[Enter feedback here]

Why The Key Vault Networking must be set to allow access from All networks?

This settings will bring risk if customer does not want to expose KV to all networks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9f0dbe-23c4-5c17-56fd-ee40ff803cdd
* Version Independent ID: d7ec7ba5-2933-8d42-9891-

[2022-06-21 02:10] Rkariyal commented on #94551
TrackingID#2206080030000968

[2022-06-21 02:13] Leoer commented on #94614
Got it. Thanks!
If I don't use Arc Kubernetes, it still can attach a Kubernetes cluster to an Azure ML workspace? I mean that if only AKS can attach a Kubernetes cluster to an Azure ML workspace according to this article?
Hope you don't mind although my expression is a little unclear. Thanks

[2022-06-21 02:20] SwathiDhanwada-MSFT commented on #94468
Assigning to content author @mumian for review

[2022-06-21 02:32] SwathiDhanwada-MSFT commented on #94368
@josefehse Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-06-21 02:32] #94368 closed

[2022-06-21 02:45] SwathiDhanwada-MSFT commented on #94401
@jun110 Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-06-21 03:10] jlabustro opened #94658 "Azure Classic to Azure Resource Manager Migration"
We need to understand what is involved in upgrading from Azure Classic to [Azure Resource Manager). Can you please help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ebbf3e-4c9c-2d67-5e35-c4fd64db3c9b
* Version Independent ID: 252ca901-f225-3bfa-2e83-567613157c8b
* Content: [Planning for migration from classic to A

[2022-06-21 03:19] charlespickettau commented on #63464
Agreed @SeanCapes - the connector is fairly useless without it (need to create custom functions) and it looks like the refresh token is used because it's asked for.

As an aside - we ended up looking at a tool called StitchData which has a much better approach to auth etc. (NB - I'm not affiliated). We also looked at AirByte but it was a bit more painful to host.

[2022-06-21 03:27] dylemma commented on #93167
Any update on this?

[2022-06-21 03:43] pnarsi opened #94659 "Managed Identity Authentication GA Feature?"
Are System Assigned and User Assigned Managed Identity based Authentication described on this page for this linked service a GA feature? As far as I can tell, there is no option to select Managed Identity as the Authentication mechanism when configuring the linked service UI which is a curious omission if this feature is indeed GA. Using ARM template seems to be only option.

---
#### Document Det

[2022-06-21 03:54] WilliamDAssafMSFT commented on #75040
@leswaters It appears this doc has been updated by the product group since this conversation took place, closing this issue. If you have further questions or suggestions, we're open to them. Thanks again for this feedback, your suggestions help improve our documentation.
#please-close

[2022-06-21 03:54] #75040 closed

[2022-06-21 04:04] AojieSong opened #94661 "Can we make it clearer that only TDE key settings will be inherited, not TDE itself?"
Our customer reported that the statement in this doc will cause confusing and misunderstanding for him.

After reading this paragraph：

“For Azure SQL Database and Azure Synapse, the TDE protector is set at the [server](https://docs.microsoft.com/en-us/azure/azure-sql/database/logical-servers?view=azuresql) level and is inherited by all databases associated with that server. For Azure SQL Managed

[2022-06-21 04:20] AuWiMo opened #94662 "Given method did not disable the verification"
I am using the Log in With Username template and put the text in both extensions files to no result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f2f68f-0b69-2156-990d-c21937d52e65
* Version Independent ID: b93c92d9-6635-5c03-c728-fe8339f1747f
* Content: [Disable email verification during customer sign-up - Azure A

[2022-06-21 04:21] SreejaBhattacharya-MSFT commented on #94658
@jlabustro
Thanks for reaching out, We'll investigate and update this thread.

[2022-06-21 04:23] SreejaBhattacharya-MSFT commented on #94656
@jedelblu
Thanks for the feedback. We'll update the document with the necessary changes.

[2022-06-21 04:25] CHEEKATLAPRADEEP-MSFT commented on #94632
@RayGabePMI  Thanks for the question! We are investigating and will update you shortly.

[2022-06-21 04:26] CHEEKATLAPRADEEP-MSFT commented on #94633
@TimothyAlba  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-21 04:27] CHEEKATLAPRADEEP-MSFT commented on #94659
@pnarsi  Thanks for the question! We are investigating and will update you shortly.

[2022-06-21 04:49] CHEEKATLAPRADEEP-MSFT commented on #94484
@RamakantDataGuy  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-21 04:52] JananiRamesh-MSFT commented on #94507
Since it is not related to this documnet [Reuse policy configurations in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/policy-fragments) closing this thread.

[2022-06-21 04:52] #94507 closed

[2022-06-21 04:52] darkstar360 commented on #94616
Hi, thanks a lot for your quick response. Btw your article really helped me a lot to understand the azure durable functions.

Now to the point.

First of all I think I should be more clear about the code, my apologies. What I wanted to do is to write a time triggered `activity` to purge durable function's execution history. Here is your code in the article for that.

Here is your code:

[code]
I f

[2022-06-21 05:00] CHEEKATLAPRADEEP-MSFT commented on #94519
@matthewtatsch The information provided in the document are valid.

I see you are checking the `integration Runtime` created by you and not the `AutoResolve` integration runtime.

As you see the below you will find two IR's one default `AutoResolveIntegrationRuntime` comes with ADF creation has no TTL option and other IR `integrationRuntime1` was created by me which has TTL option.

![ADF-TTL-IR](

[2022-06-21 05:00] #94519 closed

[2022-06-21 05:07] dominicbetts commented on #86005
Hi @sandeeppujar - do you have any update on this? Thanks! Dominic

[2022-06-21 05:07] #94634 closed

[2022-06-21 05:10] CHEEKATLAPRADEEP-MSFT commented on #94524
@Robert-Lauriston-at-Striim In Azure Synapse Analytics, have you created synapse sql pool?

If you have created the synapse sql pool, you will get the database name as the sql pool which is available via JDBC connection string as shown below:

![Synapse-SQLPoolS](https://user-images.githubusercontent.com/79183421/174720745-043c60cb-12ff-491e-b226-d42bbe7ed780.gif)

Hope this helps.

[2022-06-21 05:10] #94524 closed

[2022-06-21 05:32] shwetamathur7 commented on #94662
@AuWiMo Thanks for your feedback. We will investigate and update the thread.

[2022-06-21 05:55] #94541 closed

[2022-06-21 06:08] GitaraniSharma-MSFT commented on #94623
@epomatti , thank you for your feedback. We'll investigate this and get back to you shortly!

[2022-06-21 06:10] GitaraniSharma-MSFT commented on #94635
@gsaiz , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-21 06:15] GitaraniSharma-MSFT commented on #94657
@yinoa , thank you for your query. We'll review this and get back to you shortly!

[2022-06-21 06:22] OskarKlintrot commented on #92820
How long are your long weekends? ;)

[2022-06-21 06:28] rui-hi commented on #94271
Thank you checking!
Hi I checked current product condition again.

ZRS and GZRS do not seem to support Archive Tier.
but  Append blob are available for both.

![image](https://user-images.githubusercontent.com/107377167/174731230-15d86ecd-7e2f-42ee-9cdf-67024f503793.png)
![image](https://user-images.githubusercontent.com/107377167/174731057-7c5d6584-954d-4832-82c9-b64b1f50fee8.png)

[2022-06-21 06:36] #94412 closed

[2022-06-21 06:38] dcaro commented on #93442
@tejaswikolli-web it would actually be great if this article could also show how to use the native Azure PowerShell cmdlets.
cc: @mikefrobbins

[2022-06-21 06:53] GeethaThatipatri-MSFT commented on #94661
Hi, @AojieSong Thank you for reaching out. We will look into it and update as appropriate.

[2022-06-21 07:10] MughundhanRaveendran-MSFT commented on #94362
@fhzhang , could you pls provide the discussion thread of your discussion thread with the product group?

[2022-06-21 07:18] suryapratap commented on #31771
How is this relevant to the topic of WebSockets on Azure App Service?

[2022-06-21 07:23] #94410 closed

[2022-06-21 07:23] vgazzola commented on #40519
Hi There!
We run into this as well, was there any progress since the 2020 issue?
I run into issues with trying to export the costs report to a private-only Storage Account.

[2022-06-21 07:43] mckenzm opened #94663 "ALTER TABLE t SET (autovacuum_enabled = true);"
Is it necessary to explicitly enable autovacuum on tables as well? Since global autovacuum is disabled? Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e59b40-1e1f-1f3e-5528-5d8993f9dfca
* Version Independent ID: faf0c056-1e18-8387-0eed-7a34b5f166c1
* Content: [Optimize autovacuum - Azure Database for

[2022-06-21 07:56] ramuvr commented on #92847
Hi, Any update on this?
Looking at ways to improve Content-Security-Policy, Referrer-Policy and Permissions-Policy permission on the B2C pages

[2022-06-21 07:58] hho opened #94664 "CosmosDB: 7 day continuous backup restore window?"
[This page](https://docs.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-introduction) says
* that all accounts incur an additional cost for continuous backup
* that the restore window is 30 days and can't be changed

However the [pricing page](https://azure.microsoft.com/en-us/pricing/details/cosmos-db/#:~:text=Continuous%20backup%20data%20%E2%80%93%207,Free/month) currently says th

[2022-06-21 08:04] FMCorz commented on #84446
Here is how to get from one value to the other.

[code]

[2022-06-21 08:23] SeanCapes commented on #63464
@charlespickettau Did you manage to get the custom web pipeline, as shown by @5eba5tian00 above, working? If so, any chance you can provide a skeleton of the XML code? Thanks in advance

[2022-06-21 08:25] AnuragSingh-MSFT commented on #94619
@DJ4ddi, I have submitted a PR to get this doc corrected which is pending review. Once approved, it will be merged with the main doc. Thank you again for bringing it to our attention.

[2022-06-21 08:25] #94619 closed

[2022-06-21 08:41] mikeblakeuk commented on #94477
And also show how to convert the ['Creation-Time'] long to a datetime

[2022-06-21 08:41] JasSuri commented on #63387
Yes, its accurate.

[2022-06-21 08:43] AnuragSharma-MSFT commented on #94663
@mckenzm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-21 08:45] SadiqhAhmed-MSFT commented on #94427
@Gouravkala Sorry for the delayed response. That’s correct. It’s also mentioned in detail in the document I referenced below in case you have any doubts.

[2022-06-21 08:45] rafabu opened #94666 "SQL Managed Instance: Troubleshoot Windows Authentication (klist 0x52f)"
Please consider adding a note to the Troubleshoot Windows Authentication for Azure AD principals on Azure SQL Managed Instance article about the specific klist error code **0x52f**

Also add a reminder to exclude the SQL Managed Instances Service Principal from Conditional Access rules on the _Set up managed instances_ page.

[code]

While there might be other reasons for this restriction to apply

[2022-06-21 08:52] AnuragSharma-MSFT commented on #94664
@hho Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-21 09:02] PriyankaRudramaina commented on #94282
Hello @ayushiaks,

Thanks for being on standby while we have discussed this internally. Your guess is right, vnetSubnetID and podSubnetID are the right fields for enabling dynamic IP allocation in ARM/Bicep.

Regarding Azure Portal, we are revisiting some of the networking in create this semester and I’ve added a note to take a look at this gap as part of that change. Will keep the thread posted w

[2022-06-21 09:02] #94282 closed

[2022-06-21 09:24] AnuragSingh-MSFT commented on #94491
@ethanhou99, thank you for the detailed information and for helping us keep the doc updated. I have submitted a request to get this updated keeping the newer version of GuestConfiguration PowerShell module. I will proceed with closure of this issue now. Feel free to reply to it or tag me if you have any further questions.

[2022-06-21 09:24] #94491 closed

[2022-06-21 09:29] jodi-boone commented on #94637
Hi @stdistef and @shanhix1, we are waiting until we GA our DINE capabilities, which includes the change to support user assigned identity, to officially support DINE assignments at the MG level.

[2022-06-21 09:38] MikeBakerSAV opened #94668 "please include limits/restrictions on logging"
please include limits/restrictions on logging
i cannot find any logs related to access / file get put

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572ceed9-5b72-0d7c-d341-e26816993e29
* Version Independent ID: 0030a35b-b6cd-f5b9-7c2b-042a55b1e427
* Content: [Limitations & known issues with SFTP in Azure Blob Storage

[2022-06-21 09:57] Notorious-AFK opened #94669 "Dated guide on Enabeling Update Management"
[Enter feedback here]
**The step by step guide for "Enable Update Management" is using old names.**

_ - To enable Update Management for your VM:

"Guest + host updates" are now just "updates"
"Go to update management" is now "Go to Updates Automation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0059e10-c9c8-14aa-9

[2022-06-21 10:10] dknappettmsft commented on #94413
Hi @Johnnytechn - unfortunately this script isn't managed in this repo or by this team. The best way to get this resolved is to open this issue in that repo to route it to the correct team: https://github.com/Azure/RDS-Templates#reporting-issues. Ping me internally if you don't get an answer and I can see what else I can do.

#please-close

[2022-06-21 10:10] #94413 closed

[2022-06-21 10:16] SnehaAgrawal-MSFT commented on #94338
@dcbrown16 Thanks for feedback! The PR has been created, once reviewed by owner of the content @cephalin will be visible in document. We will close this out but if you feel you need more information please just let us know.

[2022-06-21 10:30] donlassini opened #94670 "Revoking a tenant wide consent"
Please also tell or link to how to revoke tenant-wide consent. I have trouble finding that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a52e9f-e485-bf0f-36d9-4e9061ad5a5a
* Version Independent ID: 377c1a82-64af-4055-fd25-9f1c01ba6e06
* Content: [Manage consent to applications and evaluate consent requests - Micros

[2022-06-21 10:44] radu-diaconescu13 commented on #94209
Hello. I ran into the same issue. Can you please describe the proper way to recover the storage account now until the fix to the docs is merged?

[2022-06-21 10:49] rafabu opened #94671 "Windows Authentication: Private Endpoint requires Proxy Mode"
Please add the following to the requirements section to avoid confusion:

`Managed Instance Connection Type: Windows Authentication is currently only supported on the default Proxy connection type.`

When Redirect (low latency mode) is selected, then login in fails with the error message as follows

[code]

This might be helpful in the troubleshooting section.

#### Document Details

⚠ *Do not edi

[2022-06-21 10:59] dknappettmsft commented on #94365
Thanks for the feedback. I've added this section in and the change should be visible later today.

#please-close

[2022-06-21 10:59] #94365 closed

[2022-06-21 11:08] makamiya opened #94672 "incorrect json file name in Japanese translation"
[Enter feedback here]
Incorrect json file name in Japanese translation, pls fix it.

wrong: ExtensionSettingOverrides.JSON
correct: ExtensionSetting**s**Overrides.JSON

please note that Setting"s" is correct

Original (English) version is OK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc202f44-d2f7-3dee-5810-ae8d14

[2022-06-21 11:19] KrishnaG-MSFT commented on #94178
@Borgquite No problem!

[2022-06-21 11:38] bilby91 commented on #63387
@JasSuri thanks for the quick response! If I'm understanding correctly then, this would mean that any app using Auth PCK flow would have to re Auth after 24hs? It would also mean that the token configurations (via Azure B2C UI) are ignored for this flow?

[2022-06-21 11:52] JasSuri commented on #63387
Correct, and the reauth can happen through the web session cookie, which is also capped at 24 hours, or with KMSI up to 90 days.

[2022-06-21 11:53] MayankBargali-MSFT commented on #94418
@thirotane I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ggailey777 Can you please review this and provide your insights.

[2022-06-21 11:56] stdistef commented on #94637
Thank you @jodi-boone

[2022-06-21 11:58] MonikaReddy-MSFT commented on #94672
@makamiya - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-21 12:07] Klaas- opened #94673 "Load Balancer configuration impossible"
Hi,
it seems the loadbalancer configuration you're suggesting is impossible :)

https://github.com/MicrosoftDocs/azure-docs/blob/7c8b5c36675b7b2e944c96c8c61745c09130679c/articles/virtual-machines/workloads/sap/high-availability-guide-rhel-nfs-azure-files.md?plain=1#L244-L252

If I try to do that I get an error on the 2nd rule:
Failure sending request: StatusCode=400 -- Original Error: Code="RulesU

[2022-06-21 12:07] RohitMungi-MSFT commented on #94614
@Leoer You can attach an AKS cluster to Azure ML workspace only. Are you referring to a K8s cluster that isn't hosted on Azure?
If Yes, then I think that is currently not supported.

[2022-06-21 12:08] GeethaThatipatri-MSFT commented on #94671
Hi @rafabu Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-06-21 12:13] timwarner-msft commented on #94637
#please-close

[2022-06-21 12:13] #94637 closed

[2022-06-21 12:14] Leoer commented on #94614
Got it. Thanks for your reply.

[2022-06-21 12:19] bilby91 commented on #63387
@JasSuri thanks again! What is the recommended flow for mobile then? I have a use case where user need to keep the session open for more than 24 hs.

[2022-06-21 12:21] Klaas- commented on #94673
Same also in the SLES article :)

[2022-06-21 12:26] Klaas- commented on #94673
and the net app files articles, and the glusterfs article and the windows article :)

[2022-06-21 12:38] epomatti commented on #94623
I was able to workaround the deadlock by creating a custom logger.

Waiting for it to confirm if it is actually a bug, or misconfiguration from my part, so we can close this one.

https://github.com/census-instrumentation/opencensus-python/issues/1130

[2022-06-21 12:42] kmathewmk opened #94676 "Make it easy to compare VM series"
Currently one has to read paragraphs to understand the differences between the various VM series. It would be easier if we could compare them in a tabular manner, with the option of filtering on differences

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfc7bf3f-e024-b964-df90-9dc2ada62cd6
* Version Independent ID: bb5

[2022-06-21 12:45] shubhanshu02 opened #94677 "Event Hub Trigger: Maximum Limits of Batch Size"
As mentioned on the website under `host.json` settings, the Event Hub trigger allows setting the `maxEventBatchSize` value to limit the batch size of the event stream received by the function.

Consider the case when we have an event hub that deals with a high volume of data. I wanted to know how high the value `maxEventBatchSize` can be set? And what is the maximum batch size supported by the fun

[2022-06-21 12:46] Klaas- commented on #94673
Nevermind, this is my error, I had floating ip disabled on one of them by accident....

[2022-06-21 12:46] #94673 closed

[2022-06-21 12:55] sven5 opened #94678 "Bug in Text"
There is an error in the Powershell script example.

`$body = "granttype=client_credentials&scope=`

should be:
`$body = "grant_type=client_credentials&scope=`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab3132ca-47ad-68f6-7f52-96f31879d164
* Version Independent ID: 8d93ce54-f69b-3670-18ea-1c1b9599dcc8
* Content: [S

[2022-06-21 13:21] pavecer opened #94679 "REST API for speech translation"
Hello, when we can expect to have description of REST API for speech translation? Is this in some near future or far far away?

Thank you for answer.

Pavel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a593c62-5b4b-3a1d-95a3-d87d68bb9f94
* Version Independent ID: 85ea4418-e5ae-e07d-a108-e8387677860f
* Content: [Spee

[2022-06-21 13:36] frozen-oranges opened #94680 "Documentation on how to set the request ID for a method invocation is missing"
In [the method invocation section](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods#method-invocation) it's stated that a direct method invocation can specify the request ID via a HTTP header,
however further details on how to perform this seems to be missing.
(And skimming the [REST api doc](https://docs.microsoft.com/en-us/rest/api/iothub/service/devices/invoke-meth

[2022-06-21 13:44] JamesTran-MSFT commented on #94678
@sven5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-21 13:45] JamesTran-MSFT commented on #94670
@donlassini
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-21 14:01] tomvcassidy commented on #94567
@Karishma-Tiwari-MSFT Thanks for validating this info. I'll make this change right away.

By the way, where did you get that screenshot of the region availability from?

Thanks.

[2022-06-21 14:12] matthewtatsch commented on #94519
Thanks, @CHEEKATLAPRADEEP-MSFT. I think the confusion here is that any integration runtime can be set with a **region** of _Auto Resolve_, and so saying "Time to live is not available when using the auto-resolve integration runtime" suggests that _any_ IR created with a region of "Auto Resolve" cannot use TTL.

This same point was raised to me by a customer who was confused about whether or not TT

[2022-06-21 14:20] JasSuri commented on #63387
Sorry, let me be more accurate, **only** SPA apps are restricted to 90d refresh tokens. Mobile Apps, or Web Apps (eg .Net) do not have this restriction. They can have RT lasting for 90 days or more.

[2022-06-21 14:23] tomvcassidy commented on #94486
Hi @ivanbm97. Thanks for the feedback! I've updated the limitation to include this as a bullet point. This should be published by 10AM PST today.

[2022-06-21 14:24] #94486 closed

[2022-06-21 14:26] craigshoemaker commented on #93609
@MarcosMMartinez - Thanks for your feedback! A tutorial is meant to be proscriptive and conclude with a specific outcome. As @cebundy notes, including these deployment steps are important to ensure the reader reaches a successful state.

I am going to #please-close this issue for now.

[2022-06-21 14:26] #93609 closed

[2022-06-21 14:27] bilby91 commented on #63387
@JasSuri I'm a little bit more confused now :) . Sorry

You are saying that SPAs can have refresh tokens for up to 90 days but the Microsoft documentation says "Single-page applications using the authorization code flow with PKCE always have a refresh token lifetime of 24 hours.".

That would mean that doc is outdate/wrong?

Thanks again!

[2022-06-21 14:35] gh-andre commented on #94572
@AjayKumar-MSFT As a side note, you may also want to communicate to the dev team that requiring plain base64 strings makes them more vulnerable for scanning memory for keys because base64 patterns can be easily identified in memory dumps without knowing application structure.

That is, if a service was hacked, it would still require hackers to know which application location stores a random binary

[2022-06-21 14:35] jamescrowley opened #94683 "AzureML yaml v2 component field referenced but not defined"
The documentation references a 'component' field (which we can define in the pipelineJob) but it doesn't actually define it anywhere within the page. I assume it should mention the fact it can be a physical file path to a file that meets the commandComponent schema , or else referencing a versioned component that's already defined in the Azure ML environment?

---
#### Document Details

⚠ *Do not

[2022-06-21 14:40] tomvcassidy commented on #94081
I'm going to work to recreate this. I'll get back to you on what our recommendation is and what changes we'll make to the doc.

[2022-06-21 14:48] GitaraniSharma-MSFT commented on #94536
@jasonpanggit , Route 3 is not a local route for Hub_2. Example 4 and 5 talks about the routing preference for Hub_2 and for Hub_2, 8 and 9 are local routes.

<img width="433" alt="image" src="https://user-images.githubusercontent.com/67630903/174829119-82ee5441-1fe9-4af5-8bb4-d990142cfd81.png">

The HRP (Hub Routing Preference) of Hub_2 for example 4 is set as **AS path or ER** and for example 5,

[2022-06-21 14:49] rjosephp opened #94684 "App Service VNET Integration DNS Resolution"
It is mentioned in the article that "_If you need to perform name resolution from your web app built by using App Service, linked to a virtual network, to VMs in a different virtual network, you have to use custom DNS servers on both virtual networks_".

If the VNETs mentioned here are linked to a Private DNS Zone and the Zone has A records for the corresponding VMs in the VNETs, then isn't it pos

[2022-06-21 14:49] masters3d opened #94685 "Zone redundancy needs a page for ACA"
[Enter feedback here]

When you create an ACA on the portal. the learn more link it sends you to has no info about zone redundancy

https://go.microsoft.com/fwlink/?linkid=2194939

![image](https://user-images.githubusercontent.com/6539412/174829469-457ffcd6-f3d4-49f6-a9af-b10d9b04ba47.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-06-21 14:53] MughundhanRaveendran-MSFT commented on #94572
@spelluru , Please look into this

[2022-06-21 14:55] rhartman93 opened #94686 "List Permission No Longer Present"
Today we do not see "List" as a permission type anymore, so it is confusing which permissions are required for things like, attaching to a plan in a product listing. Permissions now are:
Read, Write, Create, Add, Delete, Permanent Delete, Tags, Immutable storage.
What replaces List?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-06-21 14:57] seesharprun commented on #94664
Thanks @kanshiG for answering this question.

@hho, we are going to close this issue as there's no action item to take until the new tier is rolled out.

#please-close

[2022-06-21 15:04] LucidoKeith opened #94687 "Probes don't work"
When I follow all of these steps, I get an error when trying to test the probes that;
The Common Name (CN) of the backend server certificate does not match the host header entered in the health probe configuration (v2 SKU) or the FQDN in the backend pool (v1 SKU). Verify if the hostname matches with the CN of the backend server certificate

I've check the certificates and they seem to match.  It i

[2022-06-21 15:04] seesharprun commented on #94539
#assign:seesharprun

Thank you for your feedback @shoshii!

We are engaging our localization team right now to get this resolved!

[2022-06-21 15:21] Duffney commented on #94410
Pull request open, waiting for review and merge! :)

[2022-06-21 15:31] AJMcKane commented on #90225
I've updated the extensions version to `[3.0.0, 4.00)` which includes v5 of the extension bundle and the retries are still attempting to trigger immediately. this is a custom handler with a serviceBus "in" binding.

From what the docs say the clientRetryOptions should work in this use case?

[2022-06-21 15:38] GitaraniSharma-MSFT commented on #94578
@kungfudante , I would like to understand why the customer is creating UDRs same as system routes? User-defined routes (UDRs) are created in Azure to override Azure's default system routes, or to add more routes to a subnet's route table. But creating same routes as system routes do not serve any purpose as they won't be overriding anything. So, would like to check if there is any specific reason

[2022-06-21 16:08] mimckitt commented on #23238
I would suggest opening a new issue on this doc. Since this one is old I doubt many are still getting notifications about it.

[2022-06-21 16:11] #93728 closed

[2022-06-21 16:22] bburner commented on #93190
@nabhishek Do you have an update on this? Thank you!

[2022-06-21 16:26] tomvcassidy commented on #94567
@stewartadam @Karishma-Tiwari-MSFT Judging by a query on the Azure Data explorer, there actually is not region availability for West US 3. That could also be why a "failure due to capacity" was returned. There is no capacity. Still strange that it wouldn't just say the region is unavailable.

I'm continuing to look into this with the product team, but this is likely a case of the Azure products by

[2022-06-21 16:34] #94560 closed

[2022-06-21 16:35] KranthiPakala-MSFT commented on #94560
The doc has been updated accordingly. Thanks again for bringing this out notice.

[2022-06-21 16:42] DerekHerman-MSFT commented on #94669
Thanks for reporting this. I created a PR to update the documentation and the changes should go live once approved by the author.

[2022-06-21 16:42] #94669 closed

[2022-06-21 16:45] hkusulja commented on #85639
Sorry, I do not understand the message, issue is still the same and needs to be fixed and updated. Please do not close this github issue until fixed. @JamesTran-MSFT please doublecheck this, thank you in advance

[2022-06-21 16:49] YutongTie-MSFT commented on #94679
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-21 16:49] YutongTie-MSFT commented on #94683
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-21 16:55] AuWiMo commented on #94662
Removing "PartnerClaimType="Verified.Email"  in the TrustFrameworkExtensions_Username.xml file on line 158 as well as the suggested step in the documentation solved my issue.

[2022-06-21 17:02] RaymondColijn commented on #50600
The typo is still there on the 21st of June 2022

[2022-06-21 17:10] #93864 closed

[2022-06-21 17:10] Robert-Lauriston-at-Striim commented on #94524
I don't see anything called "database" there. Should the part of the JDBC connection string `yourdatabase` be changed to `yourSQLpool`?

[2022-06-21 17:19] nlcamp opened #94692 "Mention of Device CA cert should be removed for clarity"
This page has a "Changes in version 1.2" section, which is great because it mentions that the Device CA cert is now called the Edge CA  cert. However, after this note, there are several areas of the doc where 'Device CA' is used instead of 'Edge CA'. To avoid confustion for customers, I'd suggest changing 'Device CA' to 'Edge CA' everywhere in this 1.2 doc except in the 'Changes in version 1.2' se

[2022-06-21 17:24] Justinha commented on #84822
@Svijay-msft Thanks for providing feedback that helps improve our documentation. The topic has been updated to reflect enforced is required. This issue has been resolved and we are closing the issue. #please-close

[2022-06-21 17:24] #84822 closed

[2022-06-21 17:25] Justinha commented on #85906
@alxndr-w Thanks for providing feedback that helps improve our documentation. The topic has been updated to reflect enforced is required. This issue has been resolved and we are closing the issue. #please-close

[2022-06-21 17:25] #85906 closed

[2022-06-21 17:26] nlcamp opened #94693 "Remove statement about auto-generating workload CA cert in iotedge 1.2 doc"
This doc has the following statement, which is no longer true for 1.2:

"The IoT Edge security manager also generates a workload CA certificate signed by the device CA certificate"

I suggest adding a 'Changes in version 1.2' section like in the following doc, where it mentions that the workload CA certificate is deprecated in iotedge 1.2: https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-c

[2022-06-21 17:30] GopinathVaddem opened #94694 "Issue when process text with comma (,)"
When working with text with comma (,), it is truncating the row and treating the rest of the fields as empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e9541a6-8759-8788-6a93-81fe55fee8da
* Version Independent ID: be782ac4-242b-4908-fc76-f1dd750c7d68
* Content: [Process fixed-length text files with mapping data f

[2022-06-21 18:22] glennsc opened #94697 "Unclear how to reference secrets in code"
There is a short [section](https://docs.microsoft.com/en-us/azure/container-apps/manage-secrets?tabs=azure-cli#using-secrets) on using something called the `secretref` property to access the secrets entered either via the CLI or the portal.  But this `secretref` property seems entirely undocumented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-06-21 18:23] mike-urnun-msft commented on #94677
Thank you for your feedback! We will review and update as appropriate.

[2022-06-21 18:23] jmprieur opened #94698 "Add a link to the CA auth context sample in the Web API section of this samples article"
[Enter feedback here]
The following sample: https://github.com/Azure-Samples/ms-identity-ca-auth-context should be added to the [Web API section](https://docs.microsoft.com/azure/active-directory/develop/sample-v2-code#web-api) of this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90331e5-cca5-b157-eaa1-6f8f

[2022-06-21 18:39] #94016 closed

[2022-06-21 18:39] davidsmatlak commented on #39537
#reassign:davidsmatlak

[2022-06-21 18:41] cmeeren commented on #94016
Thanks a lot!

[2022-06-21 18:43] dlepow commented on #94267
@mohanM5k - Thanks for the question. I think you are pointing out two different approaches which are typically used in different scenarios. Storing configuration in a code repo is an approach for devops workflows - for example, to keep APIs in dev/prod environments in sync (you might also want to check out the [devops resource kit](https://docs.microsoft.com/en-us/azure/api-management/devops-api-d