[2021-05-30 09:13] guybartal opened #76123 "Error: unknown command "authn" for "istioctl""
Running the istioctl cli with authn argument as instructed on this document results with this error:

[code]

version numbers:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e91998-d53d-5074-5c67-0f9f031bc26c
* Version Independent ID: 989fa4fe-e7a8-2003-6a89-73beaade1b80
* Content: [Use Istio for intelligent r

[2021-05-30 11:11] znatan opened #76125 "Run command is not supported when both Private Cluster and AAD are enabled"
Well, this doesn't seem logic to me. I am trying to use "remote command" on private cluster with RBAC enabled and it doesn't work.

Operation failed with status: 'Bad Request'. Details: Run command is not supported when both Private Cluster and AAD are enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6

[2021-05-30 13:04] MayankBargali-MSFT commented on #76122
@codemaker Thank you for your feedback! We will review and update as appropriate.

[2021-05-30 13:05] MayankBargali-MSFT commented on #76123
@guybartal Thank you for your feedback! We will review and update as appropriate.

[2021-05-30 13:07] MayankBargali-MSFT commented on #76125
@znatan Thank you for your feedback! We will review and update as appropriate.

[2021-05-30 13:52] yinoa opened #76126 "On a single tunnel a maximum of 1 Gbps throughput can be achieved?"
[Enter feedback here]
"On a single tunnel a maximum of 1 Gbps throughput can be achieved. " in azure VPN gateway guide.

Questions for Azure VPN Gateway, Not virtual WAN VPN:
1.  The maximum throughput of single tunnel is 1 Gbps?
2. Is this value still applying on newest Azure VPN Gateway?
3.  If single tunnel throughput exceeds this value, will VPN Gateway drop packets?

The reason to raise this

[2021-05-30 15:58] imtiaza1977 commented on #75397
@MayankBargali-MSFT
OMG, it works. I am really grateful to you for your excellent support,
![image](https://user-images.githubusercontent.com/25583207/120111034-ae119400-c189-11eb-93f4-d60cbc00b803.png)

[2021-05-30 18:57] badalk commented on #73803
???????????

[2021-05-30 19:13] aollivierre commented on #62877
Publisher verification - Unable to add publisher. Just Kept hammering it every few minutes and it eventually worked. No real solution. Could be just simple server delays,

I knew I was providing the right MPN ID (Global MPN ID) because if you try another MPN ID you will get an error that MPN ID does not exist

[2021-05-30 20:22] ladykraken commented on #73803
Cluster identity  is a tool that ables you to access the get connected on the Internet under a username that is not linked to an email account. With that tool you are able to connect passwordless using a "sso".  that not going on a regular

[2021-05-30 20:23] ladykraken commented on #73803
@badalk
https://docs.microsoft.com/en-us/azure/data-explorer/managed-identities

[2021-05-30 20:36] mmacy commented on #75281
@seanmcne Hey Sean, I've created the following work item to track these. Whether they light up in my or @rwike77's workstreams (doc quality improvement initiative or app dev lifecycle initiative, respectively) I'm not sure, but it's in there and now tracked. This is a hot topic right now, either way, so I will ping you internally to get full use case details to help in planning the build-out of th

[2021-05-30 20:36] #75281 closed

[2021-05-30 20:39] ggailey777 commented on #71956
@timmackey thanks for letting us know about this out-of-date article. The updates to fix this are included in the linked PR into the private repo. #please-close

[2021-05-30 20:39] #71956 closed

[2021-05-30 20:43] mmacy commented on #75213
@psignoret Philippe, haven't heard from you on this so assigning it over to you for visibility:

I'll reach out over Teams and email, as well.

#reassign:psignoret

[2021-05-30 20:45] tslavik opened #76128 "Github link does not exists"
Link to template does not exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1de5eda-9c2f-0f5d-13c0-84a229d84673
* Version Independent ID: 5466271b-030f-951d-65aa-3f596e1d2640
* Content: [Create an Microsoft Azure Confidential Ledger by using Azure Resource Manager template](https://docs.microsoft.com/en-us/azure/

[2021-05-30 21:14] manekinekko commented on #75853
@craigshoemaker I think this is related to the installation of Node.js and npm and is outside of Docs scope. Here are the docs on npm: https://docs.npmjs.com/downloading-and-installing-node-js-and-npm.

[2021-05-30 23:32] femsulu commented on #76126
#
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-30 23:42] femsulu commented on #76128
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-30 23:58] drzwang opened #76129 "Typo in migrate/tutorial-discover-gcp doc page"
[Enter feedback here]

In the "Prepare GCP instances" section, there are 2 occurrences of "AWS instances", which should be "GCP instances".
![CleanShot 2021-05-30 at 16 52 48@2x](https://user-images.githubusercontent.com/34338896/120124197-12236080-c168-11eb-880b-8706b5cd403f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-05-31 02:12] KrishnaG-MSFT commented on #76129
@drzwang Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-31 03:43] irvv17 commented on #46401
Hi guys, I've been facing this issue for a couple of days, and finally, I got a solution, I've created a [detailed repository](https://github.com/irvv17/deployment-nodeapp-azure) that specifies some of the problems that I resolved for my basic node.js application., hope it can help someone, 'cause this was a little bit confusing

[2021-05-31 03:44] irvv17 commented on #62026
Hi guys, I've been facing this issue for a couple of days, and finally, I got a solution, I've created a [detailed repository](https://github.com/irvv17/deployment-nodeapp-azure) that specifies some of the problems that I resolved for my basic node.js application., hope it can help someone, 'cause this was a little bit confusing

[2021-05-31 03:44] irvv17 commented on #62946
Hi guys, I've been facing this issue for a couple of days, and finally, I got a solution, I've created a [detailed repository](https://github.com/irvv17/deployment-nodeapp-azure) that specifies some of the problems that I resolved for my basic node.js application., hope it can help someone, 'cause this was a little bit confusing

[2021-05-31 03:44] irvv17 commented on #31771
Hi guys, I've been facing this issue for a couple of days, and finally, I got a solution, I've created a [detailed repository](https://github.com/irvv17/deployment-nodeapp-azure) that specifies some of the problems that I resolved for my basic node.js application., hope it can help someone, 'cause this was a little bit confusing

[2021-05-31 03:44] irvv17 commented on #34451
Hi guys, I've been facing this issue for a couple of days, and finally, I got a solution, I've created a [detailed repository](https://github.com/irvv17/deployment-nodeapp-azure) that specifies some of the problems that I resolved for my basic node.js application., hope it can help someone, 'cause this was a little bit confusing

[2021-05-31 04:13] paulgear opened #76130 "AKS managed identity docs link to old aad-pod-idenity documentation"
It appears that https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity is the new location of AKS AAD pod identity installation instructions, and this appears simpler and better-integrated than https://azure.github.io/aad-pod-identity/docs/.  I think the docs should be updated to point to the former page.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-05-31 04:22] GitaraniSharma-MSFT commented on #75917
@dflowersmfn , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-05-31 04:22] #75917 closed

[2021-05-31 04:31] AnuragSharma-MSFT commented on #75962
@benCoomes Thanks for replying back, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

@ThomasWeiss Please let us know if you would want to add example in this article and I can re-open the issue accordingly.

[2021-05-31 04:31] #75962 closed

[2021-05-31 04:32] pankajydv commented on #75614
[ACS: search.in doesn't support special characters in odata filters syntax](https://stackoverflow.com/questions/67767894/acs-search-in-doesnt-support-special-characters-in-odata-filters-syntax)

[2021-05-31 04:33] pankajydv commented on #75614
Thanks raised the following on stackoverflow ACS: search.in doesn't support
special characters in odata filters syntax
<https://stackoverflow.com/questions/67767894/acs-search-in-doesnt-support-special-characters-in-odata-filters-syntax>

regards
-Pankaj

On Fri, 28 May 2021 at 23:37, Grace-MacJones-MSFT ***@***.***>
wrote:

[2021-05-31 04:54] SmithMMTK opened #76132 "Do we really need to add FWPUBLIC_IP in route table?"
Regarding to following code:

https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#create-a-udr-with-a-hop-to-azure-firewall

It has a line state to add FWPUBLIC_IP to route table and add next hop type to Internet.

Do we really need this line? in our scenario we need to add additional Public IP into Firewall, which required to come back to route table and add another rule. MS support e

[2021-05-31 05:15] yutaro113 commented on #75472
Hi @RyanHill-MSFT , just a gentle reminder but any update on this?

[2021-05-31 05:17] VikasPullagura-MSFT commented on #76130
@paulgear
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-31 05:17] VikasPullagura-MSFT commented on #76130
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-05-31 05:19] ladykraken opened #76133 "pharandemanuelle2608@gmail.com"

[2021-05-31 05:26] v-hagamp commented on #75830
#please-close

[2021-05-31 05:26] #75830 closed

[2021-05-31 05:26] BrijMohanD commented on #75899
@allegradomel  The expectation is that the service tag API should follow up automatically when any new version of json published. We are planning to use this API. Please let us know any hint for the timeline or if this bug should be reported anywhere else.

[2021-05-31 05:28] v-hagamp commented on #53222
#please-close

[2021-05-31 05:28] #53222 closed

[2021-05-31 05:38] SadiqhAhmed-MSFT commented on #76133
@ladykraken Please share more details if you need any assistance.

[2021-05-31 05:55] #75282 closed

[2021-05-31 06:02] Monte-Christo commented on #75853
You can push the blame around whichever way you like. When I follow a quickstart for beginners such as the one on Static Web Apps with Azure Functions, I expect the thing to work out of the box. If there is an issue with npm, then this needs to be in the docs as a heads-up. Just throwing a "command not found" into the user's face makes me not even want to continue.

[2021-05-31 06:04] mmacy commented on #75282
@iamguptarishi I've added some clarity to the client secret lifetime limitation of 24 months or less in https://github.com/MicrosoftDocs/azure-docs-pr/pull/160575 (private repo, may 404 for you). We had a sentence on it *below* the steps for adding a secret, but it weren't very clear and wasn't near the step in which you actually specify the lifetime. Fix should be live sometime on Monday, 31 May

[2021-05-31 06:10] AjayKumar-MSFT commented on #75842
Since we have not heard back from you, we will close this out, but if you feel you need more information please just let us know.

[2021-05-31 06:10] #75842 closed

[2021-05-31 06:20] yoelhor commented on #75967
Technically yes, you can use groups, especially for small scale scenarios. I have tested a tenant with 50k groups, each one with k1 users. So, it should work. Just remember that there is no official support for groups.

[2021-05-31 06:22] AjayKumar-MSFT commented on #75856
phyle, As we have an issue filed on GitHub Actions, once we have something concrete, after author's review, the doc maybe updated as necessary. Much appreciate you taking time to share your feedback. We will close this for now.
Thanks for looking into this, aaronpowell.

[2021-05-31 06:22] #75856 closed

[2021-05-31 06:26] ladykraken opened #76135 "When building the hugo site with GitHub Action Azure/static-web-apps-deploy@v1, how can we pass parameters like --minify to the hugo command?"
When building the hugo site with GitHub Action Azure/static-web-apps-deploy@v1, how can we pass parameters like --minify to the hugo command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878bad36-454a-063c-4100-c73f9e90aea3
* Version Independent ID: b0c548c8-f830-311f-07e1-84f0ba644943
* Content: [Tutorial: Publish a

[2021-05-31 06:41] RohitMungi-MSFT commented on #76113
@SychevIgor Yes, the documentation of this feature will be updated according to the announcement at Build 2021. Our content team will push the updates soon to the document. @aahill FYI.

[2021-05-31 06:44] mimergel opened #76136 "M192ms, M192dms_v2, **M128ms_v2** | 4,096 GiB"
Hi, there is a little correction needed in the first table for /hana/data
M192ms, M192dms_v2, **M128ms_v2** | 4,096 GiB
M128ms_v2 can be removed from the row with 4096 GB as it has 3,892 GB and is also listed there.

Thanks,
Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ecd5d2-9d58-1d74-8e27-22754055120c
* V

[2021-05-31 06:48] HarshitaSingh-MSFT commented on #75766
Sure, I am in discussion with PG for some clarification on this. Thanks in advance for your patience.

[2021-05-31 06:50] HarshitaSingh-MSFT commented on #75902
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-05-31 07:49] OzBob opened #76138 "CORS Wild Card support in Azure"
The azure portal api cors end point does not accept:

as a valid 'allowed origin'

A little red exclamation appears and says it must be in the format
[HTTP:HTTPS]://[www.]domain.[TLD][:portnumber]

https://stackoverflow.com/a/49943569/1586498 and aspnet/CORS#76 say that it is now supported in code.

I still can't get it to be a valid origin in the azure portal webapp api CORS form.

![image](https

[2021-05-31 08:01] AnuragSharma-MSFT commented on #75990
@arolshan Thanks for replying back. I am tagging the content owner for more details on this.

[2021-05-31 08:05] peni19 opened #76139 "Wrong Hash values"
Hash values is not correct on downloaded files. Tried AzureMigrateInstaller-VMware-Public-PrivateLink.zip and AzureMigrateInstaller-Physical-Public-PrivateLink.zip.

I compare with hashvalues from this page: https://docs.microsoft.com/en-us/azure/migrate/how-to-use-azure-migrate-with-private-endpoints and use SHA256.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-05-31 08:16] spaelling opened #76140 "Security Reader/Administrator does not give access to Azure Security Center?"
Access to Azure Security Center is done via the RBAC model. Please confirm if AAD Security Reader/Administrator give access to Azure Security Center or not.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Azure

[2021-05-31 08:22] dukicn commented on #75478
Thanks for letting us know about the image issue. The image was replaced with a table. We’re closing the issue.

#please-close

[2021-05-31 08:22] #75478 closed

[2021-05-31 08:25] henrypi73 opened #76141 "SCCM integration to Log Analytics."
Hi There, this page is still referring to Advance Settings, all of this has changed and will be very confusing for a new user of Azure Log Analytics.  Can this be updated to the new config off onboarding SCCM please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ab9594-b93d-b40e-0029-d7d6c3c927fe
* Version Independe

[2021-05-31 08:29] Shweta-1405 opened #76142 "How does filtering on custom attributes work?"
[Enter feedback here]
While trying to filter on string custom attributes, it does not work whereas same works for Boolean custom attributes.
For eg -
Scenario 1 : Filtering on string custom attribute does not work
https://graph.microsoft.com/v1.0/users?$select=id,displayName,givenName,surname,extension_[..]_customerId,extension_[..]_title,extension_[..]_locked,identities,preferredLanguage&$filter=

[2021-05-31 08:32] ruttromp opened #76143 "Make clear that properties.principalId need to be the SPN Object ID"
[Enter feedback here]
Please clearify that the properties.principalId need to be the SPN Object ID and not the SPN Application ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b4787e-1e2f-dd28-b33b-0a220ad0819d
* Version Independent ID: c663cfb2-3ea6-4a6e-9d88-f146526ead59
* Content: [Assign roles to Azure Enterpri

[2021-05-31 08:35] derkoe opened #76144 "Azure Arc with App Service: az connectedk8s enable-features is missing"
This command will fail
[code]
with

[code]

The reason ist hat the feature for custom locations is not enabled - add this before the creation of the custom location:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bceeac-dc48-471b-2d60-b7442b60ee06
* Version Independent ID: a0381e86-0a67-19a3-eb35-f758ce1c2f2c

[2021-05-31 08:43] OlehRb commented on #43257
@upliftertom, so, there is no way to match all paths via UI?

@mdgattuso, do you know why the UI validation was changed? Is it a bug or an intended change?
If it was intended, how are supposed to match all paths now?

[2021-05-31 08:49] BhargaviAnnadevara-MSFT commented on #76135
@ladykraken Thanks for the question. We're investigating this and will get back to you shortly.

[2021-05-31 08:53] BhargaviAnnadevara-MSFT commented on #76144
@derkoe Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-05-31 09:01] gastonmuijtjens opened #76145 "Provide documentation for hosting Azure Logic App (Standard) to App Service Plan and ASE"
There is no documentation available on how to host a _single-tenant_ Logic App (Standard) on an App Service Plan and coupling to an App Service Environment (ASE).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63815982-c91f-8078-f89d-af3a89dda954
* Version Independent ID: 0ffd6861-b0df-a675-6b56-16542c2ef0e5
* Content:

[2021-05-31 09:35] SadiqhAhmed-MSFT commented on #75929
@waqar-anwar1990 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-05-31 09:35] #75929 closed

[2021-05-31 09:35] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-05-31 09:35] #75765 closed

[2021-05-31 09:47] cveld opened #76150 "Inability for currently unsupported App Service features to go through customer VNet"
The documentation mentions the following:

Can you elaborate on that? What are these unsupported features?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd1a66-7ff7-c0da-b170-c302784221ae
* Version Independent ID: 4766d1de-b033-029a-9860-12a306195c72
* Content: [App Service Environment overview - Azure App Service E

[2021-05-31 09:48] snoerenberg commented on #75182
Hi @jeevansd @JamesTran-MSFT it's really annoying to manually modify the URL after "SSO Login", when can we expect an update?

[2021-05-31 09:54] ulfaxelssoncab opened #76151 "Is Soft-delete for containers still in Preview?"
Did it not go GA along with "Operational backup with Azure Backup"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da2e215-16f4-4cfa-9df8-ed2f62f2d690
* Version Independent ID: b3e7a106-a45c-fbc5-1aaa-a1aa580fe718
* Content: [Soft delete for containers (preview) - Azure Storage](https://docs.microsoft.com/en-us/azure/

[2021-05-31 10:01] KrishnaG-MSFT commented on #76141
@henrypi73 Thanks for the feedback.
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-05-31 10:19] mpalmier74 opened #76152 "LongProperty is not a boolean property"
Copy&Paste error in the documentation. The following excerpt...

  _The following snippet from a device model shows the definition of a boolean property type:_

should be replaced with:

  _The following snippet from a device model shows the definition of a long property type:_

this is in the "Properties" section of the article about the property named "LongProperty"
---
#### Document Details

⚠

[2021-05-31 10:27] e-saiz opened #76153 "more information about other certificates that last 2 years, like how to check the expiration day for them"
I think this doc should be improve explaining a bit how to check the cert that last 2 years so the cx will be able to see which one last 30 years and which others 2 years, and the commands to check the expiration day from both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a64ff
* Versio

[2021-05-31 10:31] jeffzhu1990 opened #76155 "The EXCHANGE ONLINE ESSENTIALS License showing up twice time in the same table."
Hello Teams,

As showing below, the EXCHANGE ONLINE ESSENTIALS License show up in the table twice time. when using the Power query to get the web table will have return error, when built up relationship with other table.

Please consider to delete one of these duplicated record.
![image](https://user-images.githubusercontent.com/20769867/120179894-be834680-c23d-11eb-8376-14222db0a619.png)

Best Re

[2021-05-31 10:39] RohitMungi-MSFT commented on #75982
@ajay960singh We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-05-31 10:39] #75982 closed

[2021-05-31 10:41] RohitMungi-MSFT commented on #75992
@konabuta Our content team is reviewing the request internally to update the diagrams if required. @PeterCLu FYI.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-05-31 10:41] #75992 closed

[2021-05-31 10:43] RohitMungi-MSFT commented on #75995
@lijithomas2020 The PR is now merged and the doc update should be reflected in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-05-31 10:43] #75995 closed

[2021-05-31 10:45] jeffzhu1990 commented on #75901
<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 15">
<link id="Main-File" rel="Main-File" href="file:///C:/Users/v-jizh24/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel="File-List" href="file:///C:/Users/v-jizh24/AppData/Local/Temp/msohtmlclip1/01/clip_filelist.xml">
<style>

</style>

Thank, I have check the table again, still Have below Service

[2021-05-31 11:07] grryf opened #76156 "Why provisioning requires premium? It works without premium on o365 trial"
Why provisioning requires premium? It works without premium on o365 trial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4799808f-5315-db72-9f0e-d83ed12141f8
* Version Independent ID: d612c880-bb2e-158d-0b31-a980ddce8d82
* Content: [Plan cloud HR application to Azure Active Directory user provisioning](https://docs.mic

[2021-05-31 11:23] metamoof opened #76157 "File system Documentation refers to Dropbox Account"
This documentation is about the File System Connector, but it talks about a dropbox account for Triggering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e73897-b362-2004-5dd4-bd3cf61101fb
* Version Independent ID: 33d06fa1-0ab5-a9c0-d58b-e001e729ed0a
* Content: [Connect to file systems on premises - Azure Logic App

[2021-05-31 11:25] BrazilianJoe opened #76158 "The example project is bitrotting."
Bit rotting = source code that stops working because of language or package dependency changes and depreciations.

For a beginner, having to solve broken dependency issues on top of learning the language is a tall order.
Some package dependencies have evolved so much that the minimum version available is above teh version required by the example project.

Example project should be reviewed and upd

[2021-05-31 11:44] v-amallick commented on #74122
Hi @rharper82

We have updated the following section with your suggestion. Thank you.
https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#networking-and-access-support

[2021-05-31 11:44] v-amallick commented on #74122
#please-close

[2021-05-31 11:44] #74122 closed

[2021-05-31 11:55] yelevin commented on #75902
I'm investigating and will correct as appropriate.
Thanks!

[2021-05-31 12:01] CHEEKATLAPRADEEP-MSFT commented on #76115
@aamanlamba I'm able to download the Starter kit and able to use without any issue.

![image](https://user-images.githubusercontent.com/79183421/120190155-d6ef6300-c235-11eb-8e94-8805ad0b4b02.png)

![image](https://user-images.githubusercontent.com/79183421/120190233-f1c1d780-c235-11eb-8536-a30e53742d55.png)

Hope this helps.

[2021-05-31 12:16] SnehaAgrawal-MSFT commented on #76150
@cveld Thank you for your feedback! We will review and update as appropriate.

[2021-05-31 12:16] SnehaAgrawal-MSFT commented on #76138
@OzBob Thank you for your feedback! We will review and update as appropriate.

[2021-05-31 12:19] JackCaster opened #76159 "PIpeline steps keep regenerating outputs"
As per doc [caching & reusing](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-machine-learning-pipelines#caching--reuse) I am:
- storing each step in its folder to avoid uploading (modified) data not related to the specific step
- setting in each step `allow_reuse=True`
- using `OutputFileDatasetConfig` to store intermediate data between steps
- submitting the pipeline with

[2021-05-31 12:22] hakenbeck opened #76160 "Add info about square logo being used by Outlook Mobile"
According to Message Center, Outlook Mobile will use the square logo.
https://admin.microsoft.com/?ref=MessageCenter/:/messages/MC249626

And just for reference:
Old Github Issue to clarify logo usage: https://github.com/MicrosoftDocs/azure-docs/issues/9123

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-d

[2021-05-31 12:23] vineetvikram commented on #75903
Assigning it to @Vikram1988 as he is the PM owner.

[2021-05-31 12:24] hakenbeck commented on #76160
@curtand fyi

[2021-05-31 12:25] vineetvikram commented on #75903
@femsulu - I am not able to assign it to @Vikram1988 . Could you pl assign this task to him? Thanks.

[2021-05-31 12:27] vineetvikram commented on #69796
@SatishBoddu-MSFT - Could you please assign this task to @Vikram1988

[2021-05-31 12:27] v-amallick commented on #75574
Hi @pvrk

As discussed, request you to please lookinto this n do the needful.

[2021-05-31 12:27] v-amallick commented on #75574
#reassign:pvrk

[2021-05-31 12:28] vineetvikram commented on #73139
@SadiqhAhmed-MSFT - Pl assign this task to @Vikram1988 .

[2021-05-31 12:31] v-amallick commented on #75574
#reassign:v-amallick

[2021-05-31 12:33] vineetvikram commented on #75114
@francesco1119  - Azure Migrate is a tool developed to discover, assess and migrate servers from a non-Azure environment. For the very same argument, we did not develop any capability to discover servers already running in Azure. You may look at Azure Monitoring for such needs.

Regards
Vineet

[2021-05-31 12:36] larsakerlund opened #76161 "Istio overview page is out of date"
The overview page of Istio has become outdated. Istio made an architectural change in 2020 which replaced the microservice control plane with a single service, Istiod: https://istio.io/latest/docs/ops/deployment/architecture/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: def7ccf3-9a46-d83f-a05b-ce23883e7f84
* Version

[2021-05-31 12:38] pvrk commented on #75574
Due to some internal issues, auto-documentation of API definitions didn't happen. Will try to publish the REST API flow within a week.

[2021-05-31 12:38] vineetvikram commented on #75119
@francesco1119 - Are you noticing this bug in tool or in documentation? I could not find this error in documentation. Request you to help me with navigation path if this is a documentation bug.
If have self hosted the scenario and it is working fine for me. For any bug related to tool/ code, please open a support case to get it rectified.

Regards
Vineet

[2021-05-31 12:39] vineetvikram commented on #75921
@femsulu - Please assign this task to @Vikram1988 . Thank you.

[2021-05-31 12:54] vipulsparsh commented on #76140
@spaelling Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-31 12:55] vipulsparsh commented on #76142
@Shweta-1405  Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-31 12:56] vipulsparsh commented on #76155
@jeffzhu1990 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-31 12:57] vipulsparsh commented on #76156
@grryf Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-31 13:02] ladykraken opened #76162 "T oppi amaskaa saka"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-05-31 13:04] softwarecraft opened #76163 "Bad link in left-hand TOC: Top level item "App Service Environment" should not link to MS Docs homepage"
There is a problem with the hyperlink in the left-hand TOC top level item "App Service Environment". At present the hyperlink navigates to the MS Docs homepage which is confusing and unexpected as it takes the user completely away from the ASE docs.

In most other MS Docs product docs the equivalent top level item in their TOC either links to an overview page, eg for Application Gateway it links t

[2021-05-31 13:05] #76162 closed

[2021-05-31 13:06] 37dmk opened #76164 "not helpful"
Microsoft: "You have to sign in with a microsoft account."
Me: "This is my microsoft account."
Microsoft: "You have to sign in with a microsoft account."
Me: "Okay i try my private account."
Microsoft: "You have to sign in with a microsoft account."
Me: "This web plattform is really good. No wonder no one in his right mind deliberately chooses to develop software for a store like this."

[Enter fe

[2021-05-31 13:21] pvrk commented on #75774
@pmaslej : can you please try passing the entire storage account ID as a string instead of just the name? If we pass the name alone, the command assumes it belongs to the same resource group.

[2021-05-31 13:22] pvrk commented on #75774
@pmaslej : Please try passing the entire storage account ID  to "--target-storage-account" and let us know. I will try to get the documentation  updated.

[2021-05-31 13:23] 37dmk opened #76165 "There is no "Create a new app""
Probably no one noticed, but this is not even remotely relevant anymore. 2019 died 2021.  Nice tutorial. Become gardener. Here is a link:
https://lmgtfy.app/?q=becoming+gardener

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-

[2021-05-31 13:50] Membaer commented on #53222
I am not able to provide the request there. Can you add me to the required directory.
![image](https://user-images.githubusercontent.com/6104040/120203318-dfd93800-c227-11eb-8b92-124baee86db6.png)

[2021-05-31 13:56] patsql opened #76166 "EventGrid integration"
Please add some information about EventGrid integration and the prerequisites that must be met.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory - Azure Data Fa

[2021-05-31 14:05] RohitMungi-MSFT commented on #76159
@JackCaster I think the

[2021-05-31 14:09] kaylumah commented on #76145
I was wondering the same since the new Logic App (Standard) offers a lot of benefits for my organizations use case but I am required to run on ASE

[2021-05-31 14:11] AshokPeddakotla-MSFT commented on #76152
@mpalmier74 Thanks for pointing this issue. PR has been created to fix this issue. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-31 14:14] VikasPullagura-MSFT commented on #76125
@znatan Thanks for bringing this up. Yes, using the RunCommand on clusters with both PrivateLink and AAD enabled will now see a NotSupportedSetup message. You can see this in the release notes [here](https://github.com/Azure/AKS/releases/tag/2021-04-29).

This document needs to be updated.

I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-31 14:15] VikasPullagura-MSFT commented on #76125
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-05-31 14:18] VikasPullagura-MSFT commented on #76132
@SmithMMTK
Thanks for your Feedback.

If using Azure Firewall, it will be created in a Subnet called AzureFirewallSubnet. This subnet will have its own routing table where by default the route for 0.0.0.0/0 address prefix has a next hop to Internet and there should not be a need to add the route for FWPUBLIC_IP with next hop to Internet. However, if you are using your own NVA in the same subnet as

[2021-05-31 14:23] GitaraniSharma-MSFT commented on #76003
@meangreenmachine , I have submitted a PR to remove the duplicated content. The doc will be updated soon.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-05-31 14:23] #76003 closed

[2021-05-31 14:28] HarshitaSingh-MSFT commented on #76005
@Patchfox , please note that we’re retiring this article. It was published to help introduce some new capabilities that are no longer new.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-31 14:28] #76005 closed

[2021-05-31 14:30] #76152 closed

[2021-05-31 14:36] BhargaviAnnadevara-MSFT commented on #76163
@softwarecraft Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-31 14:38] Vikram1988 commented on #75903
@femsulu the section in question here is to prepare the VMware account for only discovery and assessment of VMs.

The shutdown permission for VMware is required at the time of migration and those permissions for agentless migration are documented here: https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware-migration#agentless-migration

So, i believe its not the case of missi

[2021-05-31 14:40] KrishnaG-MSFT commented on #76162
@ladykraken Thanks for reaching out! I hope you have self resolved the issue and hence closed the issue. If that's not the case then [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please shar

[2021-05-31 14:41] rickwoo opened #76167 "Ask for these product pages"
Can you please put pictures of the others tabs other than the first? They are extremely useful when we make guides and are the official source. All the Microsoft pages show the first page, and explain in text the other pages.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b

[2021-05-31 14:44] KrishnaG-MSFT commented on #76139
@peni19 Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-31 14:44] KrishnaG-MSFT commented on #76143
@ruttromp Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-31 14:46] Vikram1988 commented on #69796
@SatishBoddu-MSFT the issue has been fixed in the product itself when the appliance creates a Key Vault access policy on behalf of the user account being used to register the appliance. Now the user isn't required to create a policy outside of the experience like commented by the user here.

I will still add additional line in the section here stating that it is preferred to use the same user acco

[2021-05-31 14:47] mmacy commented on #74283
@navyasric Hi, Navya - we're receiving a bounce message on the email address for this issue's current assignee when sending the weekly GitHub issue report. I'm reassigning this one over to you so that you can evaluate and address it appropriately. Let me know if there's anything I can do to help. Thanks!

#reassign:navyasric

Cc: @SaeedAkhter-MSFT @henrymbuguakiarie

[2021-05-31 14:53] JackCaster commented on #76159
The pipeline is structured as 1) datastore `Datastore.get(...)` => 2) dataset `Dataset.File.from_files(...)` => 3) multiple pipeline steps `PythonScriptStep()` that transfer data using folders defined by `OutputFileDatasetConfig` in upload mode. Also each step is within its own folder. Although neither the datastore, nor the dataset, nor the code has changed, the pipeline runs all steps all the ti

[2021-05-31 15:08] JackCaster opened #76169 "PipelineData vs OutputFileDatasetConfig"
I think the recommended way of passing data across pipeline steps is via `OutputFileDatasetConfig` as indicated here https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines. However, in the doc to troubleshoot pipelines they talk about `PipelineData`. Would you be able to clarify what is the right way and mark as deprecated the use of [`PipelineData`](https://d

[2021-05-31 15:24] sammydeprez opened #76170 "Link to complete example is not working"
In the C# example you are directing to a complete example

this link is not working

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#attributes-and-annotations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3f6c78-7b6c-f3eb-3d5b-300db1cab371
* Version Indepen

[2021-05-31 15:32] sethmanheim commented on #76164
Hi @37dmk -- thank you for your feedback! Can you please explain a little more about the issue you're having? Are the sites not accepting your Microsoft account logins, or are you unclear on what a Microsoft account is? There is more information here: https://account.microsoft.com/account, and I can add a link to that site in this section of the article.

[2021-05-31 15:32] SmithMMTK commented on #76132
Thank you for your response, it is clear for me now. However it can reduce some miss understanding if you can put some explanation like below comment in the article it would help a lot.

On May 31, 2021, at 9:19 PM, VikasPullagura-MSFT ***@***.******@***.***>> wrote:

@SmithMMTK<https://github.com/SmithMMTK>
Thanks for your Feedback.

If using Azure Firewall, it will be created in a Subnet called

[2021-05-31 15:34] sethmanheim commented on #76165
@37dmk Thank you for your feedback. The current version of Visual Studio is, in fact, 2019.

I would also request that you keep your feedback constructive and civil. Thank you for understanding. #please-close

[2021-05-31 15:34] #76165 closed

[2021-05-31 15:37] sig9 commented on #75708
@SaurabhSharma-MSFT I followed the documented steps and a it resulted in a failure.   There are two causes possible I can see.   1) Documentation is missing something that I should know to have a successful deployment,  2) There is a product bug as you mentioned.    At the moment there is no root cause for this so I think it is very possible that the documentation is omitting important details.  S

[2021-05-31 15:53] GiftA-MSFT commented on #76136
@mimergel we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 15:54] GiftA-MSFT commented on #76145
@gastonmuijtjens we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 15:57] GiftA-MSFT commented on #76151
@ulfaxelssoncab we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:00] GiftA-MSFT commented on #76153
@e-saiz we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:01] GiftA-MSFT commented on #76157
@metamoof we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:02] GiftA-MSFT commented on #76160
@hakenbeck we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:04] GiftA-MSFT commented on #76158
@BrazilianJoe we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:06] GiftA-MSFT commented on #76161
@larsakerlund we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:08] GiftA-MSFT commented on #76166
@patsql we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:09] GiftA-MSFT commented on #76167
@rickwoo we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:09] SwathiDhanwada-MSFT commented on #75751
Assigning to content author @mumian for review and doc-enhancement

[2021-05-31 16:12] GiftA-MSFT commented on #76169
@JackCaster we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 16:13] GiftA-MSFT commented on #76170
@sammydeprez we'll review your feedback and get back to you shortly. Thanks.

[2021-05-31 18:05] BhargaviAnnadevara-MSFT commented on #76163
@softwarecraft Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-31 18:26] navjitbrar opened #76173 "Please ignore this - opened in error"
[Enter feedback here]
I withdraw this. Please ignore.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version Independent ID: df5d92c4-217b-aa4c-ba21-141850548e4a
* Content: [Tutorial - Use Docker Compose to deploy multi-container group - Azure Container Instances](https://docs.micr

[2021-05-31 19:19] BhargaviAnnadevara-MSFT commented on #76045
@msft-edluo I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge. Thanks again for reaching out.

[2021-05-31 19:19] #76045 closed

[2021-05-31 19:33] BhargaviAnnadevara-MSFT commented on #76135
@ladykraken As mentioned by @aaronpowell in #75856, we're checking with the concerned team to know if this is feasible today.
Please check the latest response on microsoft/Oryx#1023 and follow the feature request microsoft/Oryx#1027 for further updates on this ask. The docs should also be updated once we have the implementation in place.

[2021-05-31 20:18] SatishBoddu-MSFT commented on #75861
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-05-31 20:18] #75861 closed

[2021-05-31 20:41] ryangugcloudca commented on #71173
Thank you James for looking into this feature request which was the 2nd most wanted feature in the (MS Graph) User Voice website which has been unavailable for quite a while. Hope MS keeps a copy of the feature request and release the one needed most soon!

[2021-05-31 20:58] seasidebruin opened #76174 "Azure VM ASM disk, /dev/sdn, oracleasm createdisk issue???"
In this example you are adding ASM disks ASMSP, DATA, DATA01, and FRA.  They are mapped to their respective devices
e.g.
in this article ASMSP is mapped to /dev/sdc1

However, I know that the scsi devices are not guaranteed to be mapped to the same /dev/sdn AFTER a reboot.  So you may reboot and the device that was once at /dev/sdc1 may now be at /dev/sdd1.... this could happen if you add or remov

[2021-05-31 22:18] yehudamakarov commented on #76019
I found https://github.com/Azure/azure-functions-core-tools/issues/227 which was closed with https://github.com/Azure/azure-functions-core-tools/commit/9cc58db73732bf17364c151be822036f52c78cd4

I do not see the `--slot` setting in the azure functions core tools cli. and trying to append the slot name after a `/` or `-` does not work.

[2021-05-31 23:54] ramyashankaran opened #76175 "Login to VM using ssh keys"
There is no ssh key path provided in the ssh login command
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf395b11-607d-1421-3b71-4dc442535a1c
* Version Independent ID: c5f1f9fc-6b74-5cd4-b411-6676863e6d1a
* Content: [Quickstart: Use the Azure CLI to create a Linux VM - Azure Virtual Machines](htt

[2021-06-01 00:00] #76175 closed

[2021-06-01 00:01] ramyashankaran commented on #76175
user error :)

[2021-06-01 00:28] pnarsi opened #76176 "Not all Gateway IP address in the the Gateway IP address range in a given region."
The documentation says "We strongly encourage customers to use the Gateway IP address ranges in order to not be impacted by this activity in a region." However when looking that the table it seems that some of the Gateway IP addresses are not part of the listed Gateway IP address range for the same region.

For example in Australia South East the listed Gateway IP Address range is 13.77.49.32/29 h

[2021-06-01 01:25] #76173 closed

[2021-06-01 01:27] GiftA-MSFT commented on #76174
@seasidebruin we'll review your feedback and get back to you shortly. Thanks.

[2021-06-01 01:29] GiftA-MSFT commented on #76176
@pnarsi we'll review your feedback and get back to you shortly. Thanks.

[2021-06-01 02:11] jesweare opened #76177 "Change mention of "deterministic training" to "non-deterministic training""
In the **Using the LUIS portal** section, it touches on the option of using "non-deterministic training" for training the LUIS app. However, the document excerpt below mentions "deterministic training" instead. This would cause confusion, among users who are referencing the document, on which side they should toggle the option to get the desired results (i.e. deterministic or non-deterministic).

[2021-06-01 02:13] kohei-miyoshi opened #76178 "newBatchThreshold is not correct."
Hello Team.

newBatchThreshold is setted "batchSize/2" as default.
However , it it not exactly I think because newBatchThreshold will be multipled the number of processor as below SDK code.

https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/Config/QueuesOptions.cs

So newBatchThreshold should be setted "ba

[2021-06-01 02:49] ram-msft commented on #76177
@jesweare Thanks for the feedback! We will review and update accordingly.

[2021-06-01 03:16] alanbmhs opened #76179 "Azure password write back"
It isn't clear what to do regarding Unexpire Password. The opening passage regarding this states that Extended permissions for this should be set and that it requires Applies to: 'This object and all descendant objects' to expose this checkbox. The instructions then go on but only mention setting the Write Lockdown time and Write Pwd Last set properties within 'Descendant user objects'. Do I have

[2021-06-01 03:40] shashishailaj commented on #76179
@alanbmhs Thank you for your query . We will investigate and update the thread.

[2021-06-01 03:53] boomalator opened #76180 "Title is misleading"
Anything that begins with "Download this app" or "create a new app and..." is *not* ADDING sign-in to an app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 175aa1f6-e1c7-12bb-6b87-a0ee6d948aca
* Version Independent ID: 8a28a4a2-0798-627f-4ff3-23b4d730a659
* Content: [Quickstart: Add sign-in with Microsoft to an ASP.NE

[2021-06-01 03:53] VikasPullagura-MSFT commented on #76175
@ramyashankaran Thanks for confirming that the error was from the user side.

[2021-06-01 04:13] SumanthMarigowda commented on #75230
@benjamincburns I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-01 04:16] AnuragSharma-MSFT commented on #75972
@SudhaGPillaiP We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-01 04:16] #75972 closed

[2021-06-01 04:42] daveba commented on #76155
assign: @Nicholak-MS

[2021-06-01 04:43] daveba commented on #76155
reassign: @Nicholak-MS

[2021-06-01 04:52] ram-msft commented on #76099
@bstollnitz Thanks for the feedback. The pull request https://github.com/MicrosoftDocs/azure-docs/pull/76108 has been raised for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 04:52] #76099 closed

[2021-06-01 05:16] benjamincburns commented on #75752
It has been 8 days since I raised this issue and I'm still not sure how to solve this problem.

[2021-06-01 05:17] boomalator opened #76181 "Awesome content, impossible to find."
I have spent a couple of hours trying to find how to add AAD to an existing (Blazor Server) App. Everything else is about starting from scratch or "downloading the sample". This has the right info, but it is not easily searchable.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140

[2021-06-01 05:29] v-hagamp commented on #67115
#please-close

[2021-06-01 05:29] #67115 closed

[2021-06-01 05:33] HarshitaSingh-MSFT commented on #75902
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 05:33] #75902 closed

[2021-06-01 05:35] v-hagamp commented on #70216
#please-close

[2021-06-01 05:35] #70216 closed

[2021-06-01 05:43] SwathiDhanwada-MSFT commented on #75456
@kajencik Thanks for your inputs. I have shared same information with product team and awaiting their response. I will keep you posted.

[2021-06-01 05:44] VikasPullagura-MSFT commented on #76161
@larsakerlund
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-01 05:44] VikasPullagura-MSFT commented on #76161
@paulbouwer
Can you please check and add your comments on this doc update request as applicable.

[2021-06-01 05:46] kaylumah opened #76183 "Custom root domain with other reference than A-ALIAS record"
Hi,

Not sure if the docs are the right place for this issue, if not please provide me with the place where I should file it.

Now that static-web-apps added support for root domain I again wanted to verify it covered all my use-cases.

I followed the following guide, but unfortunately, it requires and did not manage to get it working. Since I am not a DNS specialist and I rather not touch the dia

[2021-06-01 05:56] xps233 opened #76184 "Need ETA about when East Asia Availability Zone is availbale"
Hi Team,

Right now we're planning to use AV zone in East Asia region, according to[ Azure document ](https://docs.microsoft.com/en-us/azure/availability-zones/az-region), this feature isn't get online yet.

From another link in [Azure Global infrastructure](https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies) introduction, we could find it specifically mention it woul

[2021-06-01 06:16] SadiqhAhmed-MSFT commented on #76133
@ladykraken We haven't heard back from you. Looking forward to more details for further help on your concern.

[2021-06-01 06:20] VikasPullagura-MSFT commented on #76181
@boomalator
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-06-01 06:24] trietnguyen267 commented on #64756
I had a work-around that works so far, add a depends_on block that reference to the to-be-created rule engine on frontdoor resource

[code]

It would force the rule engine create operation to be done before establish ref in frontdoor creation and associate rule engine to the selected routing rules

[2021-06-01 06:31] SwathiDhanwada-MSFT commented on #75752
@benjamincburns Apologies for the late response and inconvenience caused. To express a literal single-quote, escape it with a single quote.

For example , the value you want to set is `Pas$wor'd` , then pass the value as `Pas$wor''d`

The information related to the Azure Pipelines is documented in [this reference article](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?

[2021-06-01 06:35] SrijitBose-MSFT commented on #76153
@e-saiz you can check the expiration date of your cluster's certificate. For example, the following Bash command displays the certificate details for the myAKSCluster cluster.

`kubectl config view --raw -o jsonpath="{.clusters[?(@.name == 'myAKSCluster')].cluster.certificate-authority-data}" | base64 -d | openssl x509 -text | grep -A2 Validity`

Please refer to the Note in [this section](https://

[2021-06-01 06:36] hansarh opened #76186 "Error running CI pipeline"
Would appreciate if the variables could be described a bit more filling and with examples on all inputs.

MANIFESTS_REPO and REPO_URL should be more clearly explained.

I've tried importing the repos in Azure devops and added the pipelines with the same naming as in the tutorial. For some reason I get an error when re-running the pipeline after the pipeline definitions  "No plan found for identifi

[2021-06-01 06:37] e-saiz commented on #76153
Hello

But there are more certificates,  what about the others. the doc should be
updated so the cx is able to check the others certificates.

On Tue, Jun 1, 2021 at 8:35 AM SrijitBose-MSFT ***@***.***>
wrote:

[2021-06-01 06:39] jmprieur commented on #76181
@mmacy FYI

[2021-06-01 06:39] e-saiz commented on #76153
see this other comment it is better explained what we would need

https://github.com/MicrosoftDocs/azure-docs/issues/75678

On Tue, Jun 1, 2021 at 8:37 AM ezequiel saiz ***@***.***>
wrote:

[2021-06-01 06:43] PramodValavala-MSFT commented on #76178
@kohei-miyoshi Thanks for catching that! We will work up a PR to address this, which once merged should reflect in a couple of hours.

[2021-06-01 06:43] VikasPullagura-MSFT commented on #76153
@e-saiz I am assigning the issue to content author for this doc enhancement request.

[2021-06-01 06:44] VikasPullagura-MSFT commented on #76153
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-06-01 06:56] madhj opened #76187 "The page doesn't mention about how to get the Authentication token."
[Enter feedback here]

When a player downloads the manifest file, we get the Content-Id from the streaming locator.
We also get the IV, initialisation vector. But how do we get the authentication token is not clear. It says put JWT/SWT token, the query is from where to get the JWT token or the SWT token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-06-01 07:09] griffinbird opened #76188 "Private link support for Mongo 3.6 vs 4.0 clarification"
[Enter feedback here]
The paragraph:

"When you're using Azure Cosmos DB's API for MongoDB accounts, a private endpoint is supported for accounts on server version 3.6 only (that is, accounts using the endpoint in the format *.mongo.cosmos.azure.com)."

This gives the impression that private link will only for 3.6, where I believe we support 4.0. The sentence should be updated to read 3.6+ or have

[2021-06-01 07:17] HarshitaSingh-MSFT commented on #76180
Hello @boomalator , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-01 07:35] HarshitaSingh-MSFT commented on #76180
@boomalator , I followed Automatic configuration and Manual configuration in [Register and download the app](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-webapp#register-and-download-the-app) section and I was able to download the project with sign-in method added in the controller and startup.cs:

![image](https://user-images.githubusercontent.com/25202671/

[2021-06-01 07:40] v-hagamp commented on #66386
#please-close

[2021-06-01 07:40] #66386 closed

[2021-06-01 07:52] VikasPullagura-MSFT commented on #76123
@guybartal istioctl 1.6+ does not support authn tls-check (based on this [PR](https://github.com/istio/istio.io/pull/6486))

So, I have assigned the issue to content author to check and update the document with instruction reference to istio 1.6+

[2021-06-01 07:52] VikasPullagura-MSFT commented on #76123
@paulbouwer
Can you please check and add your comments on this doc update request as applicable.

[2021-06-01 08:01] chrishna1 commented on #29197
If, by any chance, you found this issue while configuring `rclone` to use your company's onedrive account. The answer you need, lies [here](https://rclone.org/webdav/#sharepoint).

You're welcome.

[2021-06-01 08:20] ladykraken commented on #76181
Emanuelle Pharand

________________________________
From: Jean-Marc Prieur ***@***.***>
Sent: Tuesday, June 1, 2021 2:39:50 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Awesome content, impossible to find. (#76181)

@mmacy<https://github.com/mmacy> FYI

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2021-06-01 08:32] YutongTie-MSFT commented on #76096
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-01 08:32] #76096 closed

[2021-06-01 08:33] YutongTie-MSFT commented on #76094
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-01 08:33] #76094 closed

[2021-06-01 08:53] boomalator commented on #76180
I have no idea if it works or not. I needed to add authentication with AAD to an existing Web app. Starting with a prebuilt sample or even a template is not “adding” authentication.

It’s kind of like searching for “Add a deck to your house” and getting instructions that begin with “1. Buy a house with a deck. 2. Paint the deck”.

It’s (probably) not wrong, it’s just not what the title (and search

[2021-06-01 09:02] SatishBoddu-MSFT commented on #75780
Hello @mronnlun ,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-06-01 09:02] #75780 closed

[2021-06-01 09:12] JeffMII commented on #75845
I have updated the repo with code that fully compiles when using the previous version of ai-text-analytics. The error still happens with the latest version.

[2021-06-01 09:14] JeffMII commented on #75845
I'm not able to find the version number for the package that works. Can someone tell me what the last version number is so I can include it in my package.json? Thanks.

[2021-06-01 09:20] AshokPeddakotla-MSFT commented on #76067
Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-06-01 09:21] MonikaReddy-MSFT commented on #75930
@palma21 - Thanks for providing your insights.
@MarcosMMartinez - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 09:21] #75930 closed

[2021-06-01 09:25] MonikaReddy-MSFT commented on #75989
@kumarg25 - No, depends on the region, later regions have not received the release yet, it's a bit delayed should be there in a couple days.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 09:25] #75989 closed

[2021-06-01 09:30] to-ogawa opened #76192 "About the "Default Scope" for OAuth 2.0 user authorization in APIM"
There seems to be missing information about the following documents.
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#enable-oauth-20-user-authorization-in-the-developer-console

[Register an application in Azure AD to represent the API]
===== Excerpt ↓=====
8. Select the Add a scope button to display the Add a scope page. Then create a new scope

[2021-06-01 09:32] amanmcse commented on #76142
@Shweta-1405  I tested $filter parameter with extension attribute (string type) in my B2C tenant and it worked for me without any issue.

Below is the call for your reference:
`GET https://graph.microsoft.com/v1.0/users?$select=id,givenName,surname,extension_2ad62ac450xxxxxxxxfd85dea302d1b5_ShoeSize&$filter=startsWith(extension_2ad62ac450xxxxxxxxfd85dea302d1b5_codename,'Al')`

Make sure you use th

[2021-06-01 09:32] #76142 closed

[2021-06-01 09:35] JeffMII commented on #75845
This is the update that's causing issues: \node_modules\@azure\core-http

CHANGELOG.md
## 1.2.4 (2021-03-30)

- Rewrote `bearerTokenAuthenticationPolicy` to use a new backend that refreshes tokens only when they're about to expire and not multiple times before. This fixes the issue: [13369](https://github.com/Azure/azure-sdk-for-js/issues/13369).

[2021-06-01 09:36] AshokPeddakotla-MSFT commented on #76067
@ganesh-gawande Please have a look at this documentation [Back-end operations](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-operations) for more details to Understand and use device twins in IoT Hub and supported twin notifications.

**Receive twin notifications**. This operation allows the solution back end to be notified when the twin is modified. To do s

[2021-06-01 09:38] JeffMII commented on #75845
How can I get my package.json to specify the version that does not include the update to this part of the package?

[2021-06-01 09:45] youssef-abdelmalek opened #76194 "Azure cdn match all url rule not working"
Hi all,
I got an issue with match all url not working after a cdn update
my original rule is no longer working
I got this issue where it indicates that the source pattern has to start with '/.'
the dot '.' wasn't required before as i checked in your documentation and the new rule doesnt seem to work since my rewrite rule is not working
can u please help on this matter? is there any other way i can

[2021-06-01 10:09] DEberhardt commented on #66824
Hello, found another one:

[code]
this one is fixable - same as before.
[code]

fixed in https://github.com/MicrosoftDocs/azure-docs/pull/76195

[2021-06-01 10:30] o-l-a-v opened #76197 "How to monitor and get alerted if failed renewal for ASMC?"
Given [following](https://docs.microsoft.com/en-us/answers/questions/37581/renewal-of-app-service-managed-certificate.html) documentation.

It would be nice if the documentation could say something about:

* What happens if ASMC auto renewal fails?
* Can we monitor and get alerted about that? Subscription activity log maybe?

So far I've found this [Microsoft Docs question](https://docs.microsoft.

[2021-06-01 10:32] KrishnaG-MSFT commented on #76139
Tagging @DeSeelam for visibility, review and to help provide insights.

[2021-06-01 10:42] SnehaAgrawal-MSFT commented on #76197
@o-l-a-v Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 10:42] SnehaAgrawal-MSFT commented on #76187
@madhj Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 10:52] nnnvvvcv commented on #54183
@PhilipAnthonyMurray did you ever get anywhere with this? I'm looking to do something similar.

[2021-06-01 11:05] PramodValavala-MSFT commented on #76192
@to-ogawa The `Default Scope` here is to specify the scope that the developer portal will use when trying to authenticate users against the configured authorization server for a particular API.

At the end of the section, this authorization server is added to an API, where the above default scope can be overridden for a particular API. For example, one API may require the `Books.Read` scope while

[2021-06-01 11:05] Yueying-Liu commented on #70763
Please try if this blog can help you with the word boundary for long content consumpiton:
https://techcommunity.microsoft.com/t5/azure-ai/enable-read-aloud-for-your-application-with-azure-neural-tts/ba-p/2301422

[2021-06-01 11:12] keen85 commented on #75689
@Oury-MSFT, @bonova: could you please just state, what the correct unit is? Is it GB or GiB?

[2021-06-01 11:14] MayankBargali-MSFT commented on #73055
@jokarl I will repro it at my end and will update this thread.

[2021-06-01 11:24] AnuragSharma-MSFT commented on #76188
@griffinbird Thanks for the feedback. Yes we started supporting version 4.0 from March 2021 and it should be part of document.
This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-01 11:24] nivosalti commented on #60107
@shashishailaj we have some cases that the property "customKeyIdentifier" returns as "null" instead of the actual thumbprint - any idea why it may happen and how can we still somehow get the certificate thumbprint using some API ?
We are using Microsoft Graph API to fetch the Application object.

Thanks

[2021-06-01 11:27] pieterh opened #76199 "link to Azure Quickstart Templates doesn't work"
The link mentioned in the following sentence doesn't work anymore:
"The template used in this quickstart is from Azure Quickstart Templates."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c20db2a8-4d3d-876b-2ce7-66f27baeecd2
* Version Independent ID: 641965ab-3b05-5a25-9299-a6966c42b7b5
* Content: [Create an Azure Dat

[2021-06-01 11:29] PhilipAnthonyMurray commented on #54183
We exported the API definition of the Function App as a YAML file then utilised the below Powershell snippet to import into APIM

[code]

[2021-06-01 11:42] jokarl commented on #73055
I am currently on vacation until June 23d so I won't be able to verify anything until then unfortunately.

[2021-06-01 11:51] VikasPullagura-MSFT commented on #76132
@SmithMMTK I will share the feedback with the content team on enhancing the document.

[2021-06-01 11:51] #76132 closed

[2021-06-01 11:56] MayankBargali-MSFT commented on #73055
@gfchaves @KrishnaG-MSFT

@jokarl Under the Diagnostic Logs setting --> Azure Monitor you need to enable the Additional settings and specify the payload as per your requirement. For testing I am logging everything and specify the max payload (8192). Make sure to change the payload value from 0 else the log will not be collected.

![image](https://user-images.githubusercontent.com/67255909/12031838

[2021-06-01 11:56] #73055 closed

[2021-06-01 12:12] duaneguthrie opened #76200 "ARM Authenitication"
you have 3 other how-to here.  adding ARM would be really helpful.  i can not find it in the ARM template quick start either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2938d9af-b6d6-9fec-ea97-3aa5ea12b3fd
* Version Independent ID: 2fa24cb8-fed1-3658-d5e6-8073286fbf71
* Content: [Use Azure CLI to assign an Azure ro

[2021-06-01 12:15] DeSeelam commented on #76139
@KrishnaG-MSFT this has been fixed.

[2021-06-01 12:25] fume commented on #51464
Same problem here, with two different "Assert" ClaimsTransformation.

[AssertBooleanClaimIsEqualToValue.txt](https://github.com/MicrosoftDocs/azure-docs/files/6576185/AssertBooleanClaimIsEqualToValue.txt)
[AssertStringClaimsAreEqual.txt](https://github.com/MicrosoftDocs/azure-docs/files/6576186/AssertStringClaimsAreEqual.txt)

[2021-06-01 12:26] Yueying-Liu commented on #70763
What's the scenario you want to use? It can help me understand better on what solution would be good for this case.

[2021-06-01 13:02] MasterKolka opened #76203 "Signalr subresource name is "signalr", not a "signalR""
Hello,

Naming for the signalr subresource is wrong. Should be signalr, not a signalR.

Best regards,
Nikolai

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.mi

[2021-06-01 13:02] BhargaviAnnadevara-MSFT commented on #75985
@MhAllan Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-01 13:02] #75985 closed

[2021-06-01 13:03] yehudamakarov commented on #69117
friendly ping, as this is an actual stumbling block.

[2021-06-01 13:05] BhargaviAnnadevara-MSFT commented on #76135
@ladykraken We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-01 13:05] #76135 closed

[2021-06-01 13:05] RyanHill-MSFT commented on #76109
Closing as duplicate. @FreddyMcRay, please follow MicrosoftDocs/azure-docs#75135, I will tag you.

[2021-06-01 13:05] #76109 closed

[2021-06-01 13:06] KrishnaG-MSFT commented on #76139
@DeSeelam Thanks for the super quick response. 👍
@peni19 - Closing the issue for now. If there are further queries w.r.t same topic then please let us know.

[2021-06-01 13:06] #76139 closed

[2021-06-01 13:06] RyanHill-MSFT commented on #75135
Reopening.

/cc @FreddyMcRay

[2021-06-01 13:24] jkelley-blackboard opened #76204 "Blackboard Learn change from Shibboleth to SAML2"
Please note that Blackboard Learn has replace the Shibboleth authentication provider with a straight SAML2 provider, so some of the guidance here with respect to Blackboard configuration has changed.  Support documentation starts here.  [LINK](https://help.blackboard.com/Learn/Administrator/SaaS/Authentication/Implement_Authentication/SAML_Authentication_Provider_Type)

---
#### Document Details

[2021-06-01 13:29] davehcdn opened #76205 "Request: Please include a template for App Service Diagnostic Setting in ARM Template reference"
It would be great to have an example where you show how to include a Diagnostic Setting for App Service in the ARM template!  I am having a hard time figuring this out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent ID: 8196bd5d-b265-fd62-59c4-2a97b34ebf69
* Co

[2021-06-01 13:29] GitaraniSharma-MSFT commented on #76194
@youssef-abdelmalek , thank you for your query. We'll review this and get back to you shortly!

[2021-06-01 13:36] Nicholak-MS commented on #75901
@jeffzhu1990  - Hi Jeff, I audited your latest list in email of Service Plan ID's results are below. I also double checked the latest version of the online document against our Product Definition database and Office 365 E5 is current with the latest, which is a total of 54 Service Plans.

14ab5db5-e6c4-4b20-b4bc-13e36fd2227f - this is not part of Office 365 E5 (ENTERPRISEPREMIUM) but it is part of

[2021-06-01 13:39] nnnvvvcv commented on #54183
@PhilipAnthonyMurray thanks for that. Can I just ask what you used to generate the YAML? Was this part of your build pipeline too? I've been looking at the Azure Webjobs OpenAPI library to generate a document but that is generated at runtime rather than buildtime.

I guess we could build the function-app, deploy the function-app, extract the YAML from the running instance and then provision APIM..

[2021-06-01 13:40] shriazure opened #76208 "General Availability of SCIM API"
Hello - do we have an ETA for this feature to be GA?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4388a2ca-f34b-b83b-f315-4c5cd821d19f
* Version Independent ID: f97dbccf-bce5-b240-0813-046056a52254
* Content: [Manage service principals - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure

[2021-06-01 13:41] Nicholak-MS commented on #76155
I removed this duplicate in a recent pull request. Changes will publish soon.

[2021-06-01 13:41] Nicholak-MS commented on #76155
#Please-Close

[2021-06-01 13:41] #76155 closed

[2021-06-01 13:41] stawo opened #76209 "Python example has outdated functions"
The [Python example](https://docs.microsoft.com/en-us/azure/data-factory/monitor-programmatically#python) presented uses some outdated functions, e.g., `list_by_pipeline_run` which has been replaced by `query_by_pipeline_run`.
The page https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python has a more correct example.

---
#### Document Details

⚠ *Do not edit thi

[2021-06-01 13:56] yavar-hasanov opened #76211 "shared-query is not available in resource-graph version 2.0.0"
[Enter feedback here]
Hi,

_az graph shared-query_ is no longer available after updating the resource-graph extension version (2.0.0). Is CLI support dropped for this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa81620-1d57-f695-06f8-fbfe38619ee6
* Version Independent ID: cd011aa3-115a-00dc-d44a-7534f17460

[2021-06-01 14:04] yelevin commented on #75736
Thanks. I am investigating this and will update as appropriate.

[2021-06-01 14:06] SumanthMarigowda commented on #76042
@dstrome We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 14:06] #76042 closed

[2021-06-01 14:08] JayaChatterjee-MSFT commented on #75881
@ggailey777 Can we have a confirmation on this? I couldn't replicate this at my end.

[2021-06-01 14:12] bandersmsft commented on #76143
https://github.com/MicrosoftDocs/azure-docs-pr/pull/160634

@ruttromp Thanks for letting us know how we can improve the article. Updated as you suggested.

#please-close

[2021-06-01 14:12] #76143 closed

[2021-06-01 14:24] mverick commented on #49439
@TravisCragg-MSFT  requested for an update on the channel. is the AzureUpdateDelivery Service Tag help to achieve this.

[2021-06-01 14:29] PhilipAnthonyMurray commented on #54183
@nnnvvvcv

Not entirely sure, I got the development lead to generate it as a one off. He either had it from the initial spec or generated it from the [Swagger editor](https://editor.swagger.io/).

[2021-06-01 14:37] shanecastle-osharp opened #76212 "Diaganostics settings policy is out of preview, update text & screenshots"
The diagnostics policy is out of preview, the references to [Preview] in the text and screenshots should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe7e618-4080-5f13-27fc-8f4f16ea67ba
* Version Independent ID: eb10e12f-553d-41b6-67de-4b7756cbfac8
* Content: [Configure Vault Diagnostics settings at scal

[2021-06-01 14:46] FrogsLegs opened #76213 "Update Docs Request"
Azure Portal seems to support enabling Array filtering.

![image](https://user-images.githubusercontent.com/5354915/120343276-7bce7680-c2f0-11eb-8159-2c374b1c5468.png)

Array. You need to set the enableAdvancedFilteringOnArrays property to true to use this feature. ~~Currently, the Azure portal doesn't support enabling this feature.~~

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-01 14:51] ashishkatare commented on #76083
okie thank you very much.

[2021-06-01 14:51] #76083 closed

[2021-06-01 15:05] GiftA-MSFT commented on #76183
@kaylumah we'll review your feedback and get back to you shortly. Thanks.

[2021-06-01 15:11] GiftA-MSFT commented on #76184
@prsandhu can you please help with above inquiry? Thanks.

[2021-06-01 15:12] GiftA-MSFT commented on #76186
@hansarh we'll review your feedback and get back to you shortly. Thanks.

[2021-06-01 15:15] weyCC81 opened #76214 "Update basic properties on users - Intune Admin (Role Limitations)"
**Please add a Title "Known Issues"**

_UseCase 1_
Used Permission: microsoft.directory/users/basic/update | Update basic properties on users
Action: Update First name form any User

_Testing_
Scope: Intune Administrator

Portal: https://aad.portal.azure.com/
Notifications: Unable to update user profile
Change: No change of the Attribute [Error]

Portal: https://endpoint.microsoft.com/
Notificatio

[2021-06-01 15:17] MattAllison opened #76215 "Does the recommendation against OpenTelemetry still stand? It's been 10 months?"
Does the recommendation on using this v. Open Telemetry still stand?  The latter has improved substantially in the last few months -- are they at parity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe78588d-6ed5-52b1-7b02-6e53affb000d
* Version Independent ID: df4cdd51-678e-7a57-ef23-59c48b623fdd
* Content: [Monitor

[2021-06-01 15:23] femsulu commented on #56924
hello @gxtaillon  - sorry for the delay. My recommendation is to open a new issue.
@bandersmsft  - FYI

[2021-06-01 15:25] spelluru commented on #75423
@KehindeOwens - Could you please share details about the scenario you are working on?

To send events or receive events, you only need the connection string and the event hub name. Please see examples under Quickstarts: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-getstarted-send.

If you are using REST API, this page has the information that may help you.
https://d

[2021-06-01 15:28] JackCaster commented on #76159
I tried again by registering the input dataset `Dataset.File.from_files().register()` and the datasets created in between the steps `OutputFileDatasetConfig(...).register_on_complete()` but all steps are run again every time.

[2021-06-01 15:29] femsulu commented on #75903
Thanks for the update, @Vikram1988 .

@MartinDBakerCDW  - review @Vikram1988's update above and dont hesitate to let us know if you have any followup questions.

We will now close this issue.

Thanks.

[2021-06-01 15:29] #75903 closed

[2021-06-01 15:35] femsulu commented on #76205
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-01 15:38] acrettaz commented on #76142
Hi Aman

I initially created the question here:

https://docs.microsoft.com/en-us/answers/questions/403031/graph-api-azure-b2c-filter-for-string-extension-at.html?childToView=417903#comment-417903

The command you mentioned doesn't work on my end, check my scenario in the link above. Anything i'm overseeing here?

Cheers

André

[2021-06-01 15:45] femsulu commented on #76212
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-01 15:47] femsulu commented on #76215
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

FYI, @lzchen  - any insight on this please?

[2021-06-01 15:51] SwathiDhanwada-MSFT commented on #75761
@skmkzyk Yes indeed you are right. I have made change to the document and the changes will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-06-01 15:54] #75761 closed

[2021-06-01 15:57] Oury-MSFT commented on #76021
@niklarin could you please assist with customer feedback. Thanks

[2021-06-01 16:08] GitaraniSharma-MSFT commented on #76117
@jrudlin , In the case of VPN Gateways, S2S and P2S connections are provided by the same gateway, so yes, P2S is included. You can now leverage ExpressRoute to access on-prem resources from your P2S connections.

It would similar to the scenario mentioned in the below article:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#vnetbranchbgp

We are closing t

[2021-06-01 16:08] #76117 closed

[2021-06-01 16:12] KitLemmonds opened #76217 "Incorrect powershell prerequisite version"
This page lists PowerShell version 5.0 or higher as a prerequisite, but includes the -AsByteStream parameter of Get-Content which was not supported until version 6.0.  Running this on PowerShell 5.1 results in "Get-Content : A parameter cannot be found that matches parameter name 'AsByteStream'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-06-01 16:16] GitaraniSharma-MSFT commented on #76194
@youssef-abdelmalek , I have reached out to the Azure CDN Product Group team to find out the cause of this issue. Will keep you updated on their response.

[2021-06-01 16:20] bstollnitz commented on #76095
I tried to reproduce this, but I can't do it anymore. I wonder if the machine was in a bad state the first time I tried. Feel free to close.

[2021-06-01 16:26] tamram commented on #76042
@dstrome - I fixed the link, and the change is now live.

[2021-06-01 16:27] KranthiPakala-MSFT commented on #76208
@shriazure
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-01 16:28] mmacy commented on #76181
@boomalator Thanks for the feedback! We're just starting work on a large content improvement project<sup>*</sup> and this "scenarios" set of articles are directly addressed in the plan. We'll be converting them into clearer, more purpose-built articles (tutorials, how-tos, and reference as appropriate) that will all be made more easily discoverable.

The specific change that will help in this case

[2021-06-01 16:28] KranthiPakala-MSFT commented on #76199
@shriazure
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-01 16:28] msmbaldwin commented on #40840
#please-close

[2021-06-01 16:29] #40840 closed

[2021-06-01 16:29] jrudlin commented on #76117
Hi @GitaraniSharma-MSFT ,

Thanks for confirming that P2S is supported. I have followed the only guidance in the Route Server documentation as per [https://docs.microsoft.com/en-us/azure/route-server/expressroute-vpn-support](https://docs.microsoft.com/en-us/azure/route-server/expressroute-vpn-support):

_"You can enable route exchange between the gateway and Azure Route Server with a simple [conf

[2021-06-01 16:29] KranthiPakala-MSFT commented on #76209
@stawo
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-01 16:36] KrishnaG-MSFT commented on #76211
@yavar-hasanov Thanks for your comment! We will review and provide an update as appropriate.

[2021-06-01 16:36] vigunase opened #76220 "Discrepancy in SLA"
[The SLA in the main page https://docs.microsoft.com/en-us/azure/genomics/overview-what-is-genomics#keep-your-business-running is 99.99 but in the FAQ it is 99.9]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1258c823-adda-e0be-6680-d9d91c0a20a2
* Version Independent ID: e1430197-d43b-f19b-d270-5af3fcedd594
* Content:

[2021-06-01 16:38] msmbaldwin commented on #41837
The "Property values" table specifies that 3600 ought to be a string:

Unfortunately, a long, unbroken value in a later row pushed "string" off the right-side of the screen, making it invisible to most viewers.  I have fixed this.

Thank you for your feedback (and persistence)! #please-close

[2021-06-01 16:38] #41837 closed

[2021-06-01 16:38] oscarzamora opened #76221 "Escape Character Keyword is wrong for Synapse Serverless Pool"
Escape Character Keyword is wrong for Synapse Serverless Pool

_ESCAPECHAR_ works; _ESCAPE_CHAR_ does not. Please correct the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14424d-3d48-0d79-9d2d-af8cb48f9116
* Version Independent ID: e2ba5161-d4ca-da4a-b1b9-aa6a87c0b623
* Content: [How to use OPENROWSE

[2021-06-01 16:39] bstaley opened #76222 "Please update this article"
please change output_location: '' to output_location: './' otherwise it fails with `Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app artifact location through the GitHub workflow file.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63230b97-2269-3fed-7fca-

[2021-06-01 16:39] NavtejSaini-MSFT commented on #75847
@sthoward0914 At this time we will go ahead and close this feedback. Thank you.

[2021-06-01 16:39] #75847 closed

[2021-06-01 16:39] GitaraniSharma-MSFT commented on #76194
@youssef-abdelmalek , I did some research and found similar issues with other customers which have already been reported to our product team. Preliminary investigation points out that this is a validation error only seen on the Azure Portal UI and is not a CDN bug.

To fix this issue at the earliest, we suggest that you use REST API to update the rule:
https://docs.microsoft.com/en-us/rest/api/cdn

[2021-06-01 16:40] NavtejSaini-MSFT commented on #76001
@shkale-msft Please check the feedback from the Cx for the doc enhancement and provide guidance.

[2021-06-01 16:44] boomalator commented on #76181
Let me read that through when I have more time but that sounds like exactly the frustration I was having.

I am stuck, right now, for example, or a Blazor Server project that uses a default policy to require every one to auth to AAD (its single-tenant but the same theory would apply to B2C). That works great, except I want to show -one- page (“/“) before forcing someone to auth.

Simple in .net “n

[2021-06-01 16:47] manishmsfte commented on #67224
#reassign: @manishmsfte

[2021-06-01 16:49] mansonj commented on #50330
The recommendation to use the Applications (Legacy) blade to create the application registration solved my problem. Please re-open this issue! The Applications (Legacy) blade is indicating it will be removed in 30 days from today. If this is not fixed in the App Registrations, it will break my functionality!

[2021-06-01 16:49] KehindeOwens commented on #75423
Disregard, I figured it out. https can be attached to the event hub
connection string in order to have a URL endpoint to use. I wasn't aware of
this when reading the article.

On Tue, Jun 1, 2021 at 11:25 AM Sreedhar Pelluru ***@***.***>
wrote:

[2021-06-01 16:50] b-juche commented on #75684
@elfcounsel - Win, thanks again for reaching out to request this info.  Per the discussion with the subject matter experts, it appears that further and thorough testing and investigation will be needed, and it will take time.  I've included you in the email.  We'll use the email thread for further discussion.  For now, I'm closing this GitHub issue.  Thanks.

#please-close

[2021-06-01 16:50] #75684 closed

[2021-06-01 16:54] DCtheGeek commented on #76211
@yavar-hasanov This was a publishing problem with the 2.0.0 version and is being addressed.  Shared-query is still supported.  I'll respond back once I'm aware the fix is available.  Thanks for reporting this!

#reassign:DCtheGeek
#label:"in-progress"
#label:"assigned-to-author"

[2021-06-01 16:59] MartinJaffer-MSFT commented on #75923
Thank you for your feedback. This has been assigned to the content owner, @lenadroid  , and will be updated as appropriate.

[2021-06-01 16:59] chalewi opened #76224 "Users may register their devices with Azure AD documentation should be changed"
The docs show that this setting can be changed to none to stop users from registering devices in Azure AD. We have had multiple customers have file requests noting the inability to actually change this. It appears this is set to on and greyed out for even new tenants. Can we please have the documents updated to explain the reasons as to why this setting can't be changed? Basically the only time th

[2021-06-01 17:03] lzchen commented on #76215
@MattAllison

The message remains the same. OpenTelemetry is not recommended yet as it is still not stable.

[2021-06-01 17:06] MonikaReddy-MSFT commented on #75965
@Phydeauxman - Thanks for reaching out. We are able to run the command successfully without any issues. Can you please provide us with the Az CLI version you are using?

[2021-06-01 17:12] spelluru commented on #75423
Sure. Thanks for letting us know.

#please-close

[2021-06-01 17:12] #75423 closed

[2021-06-01 17:12] Sintrias commented on #75845
Any update on anything?

[2021-06-01 17:19] ChaitanyaNaykodi-MSFT commented on #75868
Hello @ScottDLance, thank you for the feedback. I was able to replicate the issue and have made a PR to implement the suggested change, which will go online soon.
We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-06-01 17:19] #75868 closed

[2021-06-01 17:30] SaiKishor-MSFT commented on #75788
@arshadazeem Thank you for pointing this out. We have updatedthe document and it will be reflected soon. Thank you!

[2021-06-01 17:30] #75788 closed

[2021-06-01 17:35] SaiKishor-MSFT commented on #40132
@vhorne Would you please look into this?

[2021-06-01 17:35] MartinJaffer-MSFT commented on #75883
@VitalyMCT In the below image, is a single source with 3 sinks.  Using the Custom Sink Ordering, I have set two of them to "1", and the last to "3".
![image](https://user-images.githubusercontent.com/46612670/120364819-840fbd00-c2c2-11eb-88f1-e34a0d767749.png)
In the Pipeline Data Flow activity, if the "Run in parallel" is turned off, then one of the Sinks set to "1" is run, then the other Sink se

[2021-06-01 17:37] SaiKishor-MSFT commented on #75931
@asudbring Can you please look into this? Thank you!

[2021-06-01 17:41] D-Jeffrey opened #76226 "Source has changed to add "Manage B2B collaboration""
The source does not appear as a attribute as it did before in the AzureAD User Management.  previous it would show as Azure Active Directory or Windows Server Active Directory.  Now it show as Manage B2B collaboration and you can not tell it is a Cloud created or on-premise created.  At a minimum the https://docs.microsoft.com/en-us/azure/active-directory/external-identities/user-properties#source

[2021-06-01 17:42] SaiKishor-MSFT commented on #75961
@joshhayskr Do you have the SR number thatyou opened so I can follow up regarding the RC for this issue and determine if there is need for any documentation update?

[2021-06-01 17:45] SaurabhSharma-MSFT commented on #75708
@sig9 sure, please feel free to open a new GitHub issue once you get confirmation from support regarding any documentation changes.

Thank you,
Saurabh

[2021-06-01 17:45] #75708 closed

[2021-06-01 17:46] SaiKishor-MSFT commented on #76203
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-01 17:48] D-Jeffrey opened #76227 "Very confused and how does it work?"
From with AzureAD, we can select Manage user collaboration status.  We get a link to this page and we get the error message: "User's email address cannot be in a verified domain. Please change the user's email to enable conversion to a B2B user."

So do we change it to a fake domain?  I can not change the e-mail address to an external e-mail address?  Can someone explain what to do with this to ma

[2021-06-01 17:52] DerekHerman-MSFT commented on #76200
Thanks for the feedback! I have assigned the issue to the content author to review your request and update the document as appropriate.

[2021-06-01 17:56] davidsmatlak commented on #76128
The broken link for the **Deploy to Azure** button is affected by a pending pull request, Azure/azure-quickstart-templates#9633.

[2021-06-01 17:57] ThomasWeiss commented on #76188
Thanks @griffinbird for bringing that up, a corresponding doc update has been merged.
#please-close

[2021-06-01 17:57] #76188 closed

[2021-06-01 18:02] ChaitanyaNaykodi-MSFT commented on #76213
Hello @FrogsLegs,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-01 18:12] spelluru commented on #76107
@ppgovekar - thank you. The updated article will go live today at 3 PM PST. Thanks.

[2021-06-01 18:16] rwike77 commented on #75401
Just updated the article, changes will go live soon.  #please-close

[2021-06-01 18:16] #75401 closed

[2021-06-01 18:16] ajburnle commented on #71673
#reassign@amsliu

[2021-06-01 18:18] ajburnle commented on #75382
#reassign:@amsliu

[2021-06-01 18:22] ssivas commented on #76179
@alanbmhs,

Thanks for reaching out.

Yes, you have to add service account again with the 'This object and all descendant objects' Applies to selected for "Unexpire Password" as shown below:

![image](https://user-images.githubusercontent.com/57458999/120371767-e81e9980-c333-11eb-92a8-5d427592d329.png)

* *Please note that this option does not appear if you try to apply the permissions anywhere ot

[2021-06-01 18:22] #76179 closed

[2021-06-01 18:25] deyaaeldeen commented on #75845
Hi @Sintrias, thanks a lot for providing the github repo!

I just tried and it seems like `@azure/core-http@1.2.3` works fine so I think you can try `npm install @azure/core-http@1.2.3 --save` to install it.

I opened this issue to track why `@azure/core-http@1.2.4` causes a build failure in text analytics: https://github.com/Azure/azure-sdk-for-js/issues/15494.

Thanks for your patience! Please l

[2021-06-01 18:28] JamesEarle opened #76229 "Python Table Storage SDK?"
There are examples linked [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-python) that show usage of the Python Table Storage SDK, but this hasn't been updated since 2016.  I can't even find a table storage SDK anymore in PyPi. This should be updated to point to more recent examples using something newer.

[This is the page it links to](https://github.com/Azure-Samples

[2021-06-01 18:30] vayinapurapu opened #76230 "We are getting issue again while trying to send invite via powershell. Below is the issue."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-01 18:30] vayinapurapu commented on #76230
New-Object : Cannot find type [Microsoft.Open.MSGraph.Model.InvitedUserMessageInfo]: verify that the assembly containing this type is loaded.
At C:\ExternalSharing\GuestUsersProvisioning\GuestUsersProvisioning_V1.ps1:161 char:27
+ ... ssageInfo = New-Object Microsoft.Open.MSGraph.Model.InvitedUserMessag ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryI

[2021-06-01 18:30] msjuergent commented on #76136
Hello Michael, indeed a copy/paste issue. I corrected it. Should get published within the next few hours

[2021-06-01 18:39] MarileeTurscak-MSFT commented on #76204
@jkelley-blackboard
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 18:40] MarileeTurscak-MSFT commented on #76214
@weyCC81
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 18:44] MarileeTurscak-MSFT commented on #76226
@D-Jeffrey
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 18:45] Sintrias commented on #75845
Thanks @deyaaeldeen I will give that a shot once I get back to my laptop. I'll let you know how it goes.

[2021-06-01 18:55] arun2sasi opened #76231 "404 error while clicking provided link"
Azure Quick Start template link is taking to 404 error page [under section: Review the template]

https://azure.microsoft.com/resources/templates/101-azure-dns-new-zone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a80546-cf00-b9d7-9f83-ab805a1e64dc
* Version Independent ID: 16c63f85-0d64-1118-e59b-4fe9f1b4b774
* Co

[2021-06-01 18:56] GiftA-MSFT commented on #76220
@grhuynh can you please review above feedback? Thanks.

[2021-06-01 18:57] GiftA-MSFT commented on #76221
@oscarzamora thanks for reaching out. Can you please share the document you are referring to so we can assign to the appropriate team? Thanks.

[2021-06-01 18:59] GiftA-MSFT commented on #76230
@vayinapurapu thanks for reaching out. Since this repo is for document related issues, can you please share the document you are referencing so we can assign to the appropriate team? Thanks.

[2021-06-01 19:08] jlafshari opened #76232 "Reference syntax section"
The purpose of the Reference syntax section was unclear to me. After viewing other articles on the web I discovered that the syntax could be used in an App Configuration app setting. I think it would be helpful if the article mentioned this purpose for using the syntax. Other than that the article was helpful and I got things working in my app!

---
#### Document Details

⚠ *Do not edit this secti

[2021-06-01 19:25] Oury-MSFT commented on #76217
@KitLemmonds Thanks for the feedback.
@MladjoA Could help us clarify the statement above provided by @KitLemmonds. In this [documentation](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/tde-certificate-migrate?tabs=azure-powershell) it is stated that Windows PowerShell version 5.0 or higher is a perquisite. But in this [documentation](https://docs.microsoft.com/en-us/powershell/

[2021-06-01 19:30] RyanHill-MSFT commented on #75135
@retroray81 @vijayvc @FreddyMcRay, for V2, `additionalLoginParams` has been [moved](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=json#template-format) to `identityProviders.azureActiveDirectory.login.loginParameters`. This should enable a usable access token and I have confirmed the PUT will update the values.

[2021-06-01 19:33] duaneguthrie commented on #76200
I found ARM was under a parallel category.  I think a note in the section i
referenced should help.

On Tue, Jun 1, 2021 at 12:52 PM DerekHerman-MSFT ***@***.***>
wrote:

--

This message is intended exclusively for the individual(s) or
entity to which it is addressed. It may contain information that is
privileged or otherwise legally exempt from disclosure.  If you are not the
named addressee, yo

[2021-06-01 19:33] oscarzamora commented on #76221
I thought Git will keep the referrer.

This is the document link: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-openrowset

[2021-06-01 19:48] deyaaeldeen commented on #75845
@Sintrias I did more debugging and it looks like the TypeScript compiler is trying to build the `d.ts` files inside `node_modules` which is causing the build failure. Looks like using the `paths` option in your `tsconfig.json` file caused this issue and when I removed it, the project built just fine with core-http@1.2.4. I hope that helps!

[2021-06-01 19:51] tshaiman opened #76236 "missing content about private DNS between tenants"
[Enter feedback here]
- missing a FAQ about private DNS zones between diffrent tenants
-  what about the cases where creating private DNS zone is disabled ?  (see image)
![private_dns_disabled](https://user-images.githubusercontent.com/512709/120381994-cb7e6380-c32b-11eb-9775-5ff937ca77ae.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-06-01 20:06] jaltin commented on #57806
ping

[2021-06-01 20:17] MartinJaffer-MSFT commented on #76065
@roopasd If you are using FileNotification , you can look at the approximate queue length in the storage queue created/provided when you set up the stream.

[2021-06-01 20:18] nvankesteren commented on #74294
All links seem to work now!

[2021-06-01 20:25] bosh-ms opened #76237 "Exception handling documentation for MSAL is misleading"
In the description of the exception handling for MSAL, it is said that:

and

However, this is just wrong, very misleading and incomplete.
When the `MsalServiceException` is thrown with a specific `AADSTS` error code, the `ErrorCode` property **does not** contain that AADSTS error code value. Instead, one has to search for a substring in the `Message` property value.
This is also not clearly refle

[2021-06-01 20:35] amsliu commented on #75382
@elliotsegler Thank you for your feedback! I have incorporated this change to the documentation under "Common Verification Issues". You can view this change in this pull request: MicrosoftDocs/azure-docs-pr#160706. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2021-06-01 20:35] #75382 closed

[2021-06-01 20:36] #43840 closed

[2021-06-01 20:38] tcsougan opened #76238 "Traffic Manager name availability after deletion"
[Enter feedback here]
Whenever we delete a TM profile, the name used does not become directly available and often we have to wait quite some time before using the same name. I have seen some cases where the name was available few minutes later, but some where it took couple hours before being available for reusability. Instead of letting the customer assumes that the name will be available right a

[2021-06-01 20:51] GiftA-MSFT commented on #76169
@JackCaster both PipelineData and OutputFileDatasetConfig can be used for moving data between pipelines.

@lobrien feel free to comment if there are specific scenarios where one method should be used vs the other. Thanks.

[2021-06-01 20:54] AjayKumar-MSFT commented on #76062
@chdalski, Apologies! I was not able to respond to your sooner.
Please add a Startup command with "npx serve -s" as described in this discussion [thread ](https://stackoverflow.com/a/66880978/8194837), and let me know how it goes.

[2021-06-01 21:00] AjayKumar-MSFT commented on #57806
Requesting your comments on this, @craigshoemaker.

[2021-06-01 21:06] kobulloc-MSFT commented on #74294
@nvankesteren We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-01 21:06] #74294 closed

[2021-06-01 21:08] amsliu commented on #71673
@cimares Thank you for your feedback! I have incorporated this change to the documentation under "Common Verification Issues".
You can view this change in this pull request: MicrosoftDocs/azure-docs-pr#160712. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2021-06-01 21:08] #71673 closed

[2021-06-01 21:15] bandersmsft commented on #75586
#sign-off

[2021-06-01 21:16] bandersmsft commented on #75586
@terryclancy I've updated the article as you suggested. Thanks for the feedback!
#please-close

[2021-06-01 21:16] #75586 closed

[2021-06-01 21:20] Justinha commented on #74788
@BrendanHere thanks for pointing this out. I revised the topic and added a section about using Azure Policy to ensure compliance with TLS 1.2 usage.

#please-close

[2021-06-01 21:20] #74788 closed

[2021-06-01 21:20] Justinha commented on #74385
@andresu13 thanks for pointing this out. I revised the topic and added a section about using Azure Policy to ensure compliance with TLS 1.2 usage.

#please-close

[2021-06-01 21:20] #74385 closed

[2021-06-01 21:26] sdgilley commented on #75802
@felixcollins - would this diagram help?  https://docs.microsoft.com/azure/machine-learning/concept-workspace#taxonomy.  Perhaps it should be

[2021-06-01 21:26] Justinha commented on #74824
@teomonda SSPR is licensed per tenant. There is just one license check. From what I understand, this change was done some time back but the docs only corrected recently. I'll remove the reference to making sure users in the groups have licenses. That seems misleading now. The rest of the info seems correct to me but please let me know if I am missing something.

[2021-06-01 21:30] terryclancy commented on #75586
Thanks again

From: Bill Anderson ***@***.***>
Sent: Tuesday, June 1, 2021 2:17 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Terry Clancy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Need good screen shot of a partner selecting a customer in the Scope Picker under the Billing account scope (#75586)

@terryclancy<https://github.com/terryclancy> I've updated the art

[2021-06-01 21:37] MladjoA commented on #76217
Thanks @KitLemmonds for reporting this. I just created a PR to clarify that with version 5.x of PowerShell, correct parameter is _-Encoding Byte_ and with 6.0 and above _-AsByteStream_

[2021-06-01 21:38] MladjoA commented on #76217
#please-close

[2021-06-01 21:38] #76217 closed

[2021-06-01 21:54] Justinha commented on #76043
@sarthak-git @JamesTran-MSFT Thanks for raising this. I'm checking with the script author.

[2021-06-01 22:01] spelluru commented on #76213
@FrogsLegs - Thank you!

@ChaitanyaNaykodi-MSFT - please remove this statement from the article. There is a related How-To article that's missing the UI instructions. I will take a work item to track that work. Thanks.

[2021-06-01 22:03] spelluru commented on #76030
Links in the home page are fixed now. Thanks.

[2021-06-01 22:10] paulbatum opened #76241 "Functions on Azure Arc guide should specify minimum core tools version"
The page currently lists core tools 3.x as a prerequisite, however I found that the `func azure functionapp publish <APP_NAME>` step would just hang at `Getting site publishing info...` when I was running on core tools `3.0.3245`. I then went and downloaded the latest core tools which was `3.0.3477` and then the publish step was successful. I suspect that older versions of core tools are missing f

[2021-06-01 22:12] GiftA-MSFT commented on #76169
@JackCaster based on feedback from the product team, advice is to use `OutputFileDatasetConfig`.

[2021-06-01 22:15] markjbrown commented on #75121
#please-close

[2021-06-01 22:15] #75121 closed

[2021-06-01 22:18] KranthiPakala-MSFT commented on #76106
Hi @ppgovekar ,

Thanks for reaching out. Could you please help provide the steps that you are following? Are you trying to create Event Hubs Premium tier from Azure portal or some-other way? I tried from Azure portal and don't see any issues:

![image](https://user-images.githubusercontent.com/50185738/120396990-61929980-c2ec-11eb-900e-48d229caddc7.png)

Please provide few additional details to f

[2021-06-01 22:19] christopheranderson commented on #74585
@jtwalters25 - I also can't reproduce this with 3.6 vs 4.0 on Compass. We have a known issue with 3T we're working with them on related to connection string parsing. Is this something you're still seeing an issue with?

[2021-06-01 22:22] ppgovekar commented on #76106
So if you go to https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-premium-overview and check Portal link at bottom(https://aka.ms/eventhubsclusterquickstart) it's redirects to https://ms.portal.azure.com/#create/Microsoft.EventHubCluster instead of https://ms.portal.azure.com/#create/Microsoft.EventHub.
Let me know if you need more details.

[2021-06-01 22:22] markjbrown commented on #73992
@AnuragSharma-MSFT can you assign this to @ThomasWeiss ?

Thank you.

[2021-06-01 22:23] deborahc commented on #76060
Thanks for the feedback. The public docs go into more detail about partition sets here: https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood#partition-sets.

In the context of this article on partitioning, I don't think the concept of partition set adds very much. It's basically a group of physical partitions that manage the same keys across different regions, data centers e

[2021-06-01 22:25] AntonSmolkov commented on #17762
Up

[2021-06-01 22:29] christopheranderson commented on #75808
Thanks for the detailed feedback, @ksivasenthil! We'll have an update with your suggestion included in just a bit.

[2021-06-01 22:29] christopheranderson commented on #75225
#reassign: @jcocchi

[2021-06-01 22:30] christopheranderson commented on #75225
@jcocchi is working on this with a refresh of the sample to use .NET 5/etc.

[2021-06-01 22:35] cgillum commented on #37315
Sorry for responding almost two years later! 😅 It might be too late at this point, but I'll finish answering the questions for anyone else who comes across this.

My bad. In the case of inputs, we read that from a queue message that was used to schedule the orchestration. We will not delete this message until we've successfully completed the first checkpoint, so if there is a crash we will re-read

[2021-06-01 22:35] #37315 closed

[2021-06-01 22:43] spelluru commented on #76106
@KranthiPakala-MSFT - The Azure portal link in the Next Steps sections needs to be fixed as Prathamesh suggested. Thanks.

[2021-06-01 22:43] RyanHill-MSFT commented on #76222
@bstaley, I couldn't replicate your issue. I did both GitHub and Azure Pipeline flows. `output_location: ''` is the default location of your app code. How is your code structured?

[2021-06-01 22:45] RyanHill-MSFT commented on #76232
Thanks for the feedback @jlafshari! I have assigned the issue to the content author to update the document as appropriate.

[2021-06-01 22:46] spelluru commented on #76106
@KranthiPakala-MSFT - and, the URL shouldn't have "ms.portal", which is internal. Please use [https://portal.azure.com/#create/Microsoft.EventHub](https://portal.azure.com/#create/Microsoft.EventHub).

[2021-06-01 22:49] cgillum commented on #58499
The default value for this property is `OverridableStates.NonRunningStates` (which has a value of `1`). Source code is [here](https://github.com/Azure/azure-functions-durable-extension/blob/b8922eea4d9195fdb0e5ffcf20052e33e7da8ba4/src/WebJobs.Extensions.DurableTask/Options/DurableTaskOptions.cs#L160-L163).

A uniqueness guarantee was not claimed in the docs because I assumed it was the default exp

[2021-06-01 22:50] KranthiPakala-MSFT commented on #76106
Thank you @spelluru and @ppgovekar for additional info. Will go head and submit a PR to fix this issue.

@ppgovekar - Thanks much for providing the details. Will let you know once the changes are made.

[2021-06-01 22:54] MarileeTurscak-MSFT commented on #76224
@chalewi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-01 22:54] mmacy commented on #76237
@bosh-ms I think the confusion here lies in multiple references to "error code" having different meanings depending on the context.

For example, in the table in this article, we show AADSTS codes in an **Error code** column:

![image](https://user-images.githubusercontent.com/13394541/120397080-838c1c00-c2ec-11eb-9a71-77d7060665e4.png)

However, in the description of the [MsalError](https://docs.

[2021-06-01 22:55] carolga opened #76242 "Can we improve the explanation of agentKeepAlive"
[Enter feedback here]
AWS explains maxSockets nicely.  They explain the benefits and why one should consider using it. Can we augment that somewhere?

See what they have:
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/node-configuring-maxsockets.html

Thanks!
-cg :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-06-01 22:55] felixcollins commented on #75802
Thanks for getting back to me! @sdgilley

That is a useful diagram. But it does not give much detail on how the different concepts work together.

For example how can I traverse between the different objects? A recent example of this: I am setting up a system which will have many different pipelines to train models for many different partitions. If I programmatically generate the pipelines and par

[2021-06-01 23:09] MarileeTurscak-MSFT commented on #75846
You can do this using either Powershell or the Microsoft Graph API:

Powershell:

`Get-ADUser -Filter * -Properties DisplayName, Department, departmentNumber, Title | Select DisplayName, Department, departmentNumber, Title | Export-Csv c:\path\your.csv
`
[Graph API](https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http):

`GET https://graph.microsoft.com/v1.0/users
`

[2021-06-01 23:09] #75846 closed

[2021-06-01 23:10] DerekHerman-MSFT commented on #76229
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-01 23:12] #76106 closed

[2021-06-01 23:13] KranthiPakala-MSFT commented on #76106
@ppgovekar
The PR for the fix has been created and it will be merged soon (approx. within 24hrs). Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-01 23:26] vboyev-MSFT commented on #74575
The MMA when downloaded comes as an EXE. It has to be extracted from the EXE so that you can run the cmd with the extracted  MSI

Put another way - there is nothing indicating that you have to do anything with the raw MMA download in order to leverage the MSI.

Or - put another way - there is no where you can actually download an MSI of the MMA. All downloads will result in downloading an EXE.

[2021-06-01 23:33] zsy056 opened #76243 "Link to Undelete Blob REST API documentation points to Delete Blob"
Link to Undelete Blob REST API documentation points to Delete Blob

![image](https://user-images.githubusercontent.com/1074382/120402423-0914c980-c2f7-11eb-8655-5de7aa9cebfd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88

[2021-06-01 23:39] mmcla commented on #73714
@cvaughan3  - is your tenant using MFA Server, or MFA in the cloud?

[2021-06-01 23:47] torumakabe opened #76244 "Difference from email notification to subscription owner"
I usually get email notifications related to essential updates or advisories as Azure subscription owner like the following.

![ss](https://user-images.githubusercontent.com/993850/120403362-ff36a900-c37e-11eb-9103-89339648b6a7.png)

Are there any differences between the email notifications and Service health notifications from the contents point of view? Duplicates or selected by some criteria/po

[2021-06-01 23:49] roygara commented on #63107
@uonie Thanks for the feedback, and for reaching out, we have updated the article to use diskspd. Accordingly, I'll close this out.

#please-close

[2021-06-02 00:11] #76199 closed

[2021-06-02 00:12] KranthiPakala-MSFT commented on #76199
@pieterh

The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-02 00:14] MonikaReddy-MSFT commented on #75911
@pvrk - Thanks for raising the PR.
@ericcsinger - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-02 00:14] #75911 closed

[2021-06-02 00:21] KranthiPakala-MSFT commented on #76208
@shriazure - As per my research, we do not have an ETA about GA at the moment.

As per Azure Databricks preview release notes document, Public Preview features are stable and intended to advance to GA.

Please refer to this doc - https://docs.microsoft.com/en-us/azure/databricks/release-notes/release-types#--platform-preview-releases

![image](https://user-images.githubusercontent.com/50185738/120

[2021-06-02 00:23] rwike77 commented on #72022
Thanks for the info, I'm updating these articles as suggested.

[2021-06-02 00:33] rwike77 commented on #72022
Updates merged and should publish tomorrow.  Let me know if there's anything else.  #please-close

[2021-06-02 00:33] #72022 closed

[2021-06-02 00:39] Sintrias commented on #75845
That did it! Nice. Thanks for the help. Weird though that I didn't have the same issue with the previous version.

[2021-06-02 00:56] ryanhofdotgov opened #76245 "Add resource manager FQHN for AzureUSGoverment and improve discoverability"
As a developer, I want the [Azure Government vs global cloud comparison page](https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure) to be more comprehensive, so I can more easily build cross-cloud compatible code.

Specifically:
- add an entry showing that equivalent of `management.azure.com` is `management.usgovcloudapi.net`
- Mention `az cloud show` or `G

[2021-06-02 00:57] TravisCragg-MSFT commented on #75664
@Miteshc1 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-02 00:57] #75664 closed

[2021-06-02 00:57] aahill commented on #75845
#please-close

[2021-06-02 00:57] #75845 closed

[2021-06-02 01:09] TravisCragg-MSFT commented on #75779
@RonnieQuan Unfortunately there is no update I can state publicly at this time. It might be possible to get some NSG rules that block outbound access working, but it will not be a supported scenario and we will recommend removing them if any issues arise.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2021-06-02 01:09] #75779 closed

[2021-06-02 01:18] miwebst commented on #68245
Hey @rawsharklives, there have been some asks for this on our GitHub issues page: https://github.com/Azure/static-web-apps/issues

We are tracking this but currently have no ETA. Feel free to up-vote the asks there!

[2021-06-02 01:20] shaunhp opened #76246 "Missing variable declaration"
tenantId=$(az account show --query tenantId)

should be

$tenantId=$(az account show --query tenantId)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc648f77-1e4c-2722-f3a5-8cbb7565a593
* Version Independent ID: cfbf4697-6ddd-fdb9-b97e-875ecc21f9e7
* Content: [Azure Key Vault moving a vault to a different subscription

[2021-06-02 01:21] benjamincburns commented on #75752
@SwathiDhanwada-MSFT and what if I'm using generated passwords rather than passing them in as params/variables?

[2021-06-02 01:29] moirf commented on #39711
Yes, this is true as of today!

[2021-06-02 01:44] Karishma-Tiwari-MSFT commented on #76136
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-02 01:44] #76136 closed

[2021-06-02 01:45] Karishma-Tiwari-MSFT commented on #76174
@Dbakevlar Can you please share your insights on the customer question? Thanks :)

[2021-06-02 02:19] ReginaLin24 opened #76247 "Update in AzCopy capability"
[Enter feedback here]
The transfer from other clouds to azure via azcopy is now supported - see https://azure.microsoft.com/en-us/blog/move-your-data-from-aws-s3-to-azure-storage-using-azcopy/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c76d9ca-0dd0-609c-fa7f-fac2b4006e85
* Version Independent ID: d34863e8-96cb-432

[2021-06-02 02:29] spelluru commented on #76107
The article is live. Closing the issue.

#please-close

[2021-06-02 02:29] #76107 closed

[2021-06-02 02:30] nippyin opened #76248 "WVD Teams Media Optimizations for MacOS rdp client"
Hi Team,

Could you please share any insight when this feature will be rolled out to Mac RDP client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsoft Teams on Windows Virtual Desktop - Azure](https://

[2021-06-02 02:34] mmacy commented on #73384
@jmprieur I'll take take this one off your plate, Jean-Marc, thanks for your patience. You can close https://github.com/MicrosoftDocs/azure-docs-pr/pull/154739 and I'll open a new one.

#reassign:mmacy

[2021-06-02 02:45] Karishma-Tiwari-MSFT commented on #73939
We will now close this issue. Please share the documentation you are referring to and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-02 02:45] #73939 closed

[2021-06-02 02:54] mike-urnun-msft commented on #75833
@star286  That's right, DocumentDB client uses singleton which achieves the same thing and the SqlClient also does the same thing through ADO.NET.

Since we didn't determine any changes to this doc upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-02 02:54] #75833 closed

[2021-06-02 03:08] manishmsfte commented on #67224
Please execute dotnet build instead of nuget install Gremlin.NET @msdpalam

[2021-06-02 03:34] bittwiddles opened #76250 "Doesn't work. Still unable to leave the organization"
[Enter feedback here]

Still unable to leave the organization with these instructions. I am provided with a prompt to login to the account for the organization instead of it being removed. How do I remove this connection to another organization without the credentials? There are no credentials, I do not have access. How do I remove this connection?

---
#### Document Details

⚠ *Do not edit this s

[2021-06-02 03:47] #76213 closed

[2021-06-02 03:48] BhargaviAnnadevara-MSFT commented on #76231
@arun2sasi Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-06-02 03:48] #76231 closed

[2021-06-02 03:57] theGOTOguy opened #76251 "Documentation for running a $reindex job on Azure API for FHIR does not work."
The documented method for running a `$reindex` job does not work on Azure API for FHIR.

For instance:
[code]
returns, e.g.:

[code]

Instead, you must wrap the request in a bundle:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27df8083-fc6e-b73d-9172-d91329bc9391
* Version Independent ID: 504e3f3e-650f-3c41-04

[2021-06-02 05:01] SwathiDhanwada-MSFT commented on #76004
@thepaulmacca Thanks for bringing it to our notice. PR has been raised by content author to fix the changes and it will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-06-02 05:01] #76004 closed

[2021-06-02 05:24] AnuragSharma-MSFT commented on #76251
@theGOTOguy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-02 05:56] MayankBargali-MSFT commented on #75397
@imtiaza1977 Thanks for your kind word and confirmation.

[2021-06-02 06:06] SadiqhAhmed-MSFT commented on #76238
@tcsougan Thank for the feedback. We will review this request with the content owner and update as appropriate.

[2021-06-02 06:07] SadiqhAhmed-MSFT commented on #76236
@tshaiman Thanks for the feedback. We will review this request with the content owner and update as appropriate.

[2021-06-02 06:09] jesperkristensen opened #76256 "Missing information about support or not for identity connection for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING"
This page describes how you can use a managed identity to specify the `AzureWebJobsStorage` setting. However it does not say if it is possible or not to do the same for the `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` setting, which also needs to point to a storage account, just like `AzureWebJobsStorage`.

We currently set these two settings to the same value, so using a managed identity for one of

[2021-06-02 06:11] SadiqhAhmed-MSFT commented on #76227
@D-Jeffrey Thank you for your post. We will look into it and get back to you shortly.

[2021-06-02 06:33] vipulsparsh commented on #76110
@satyasyamnn Thanks for reaching out and apologies for delayon this.

The options under comparing methods lists the variables where you as a customer need to take any option.
The communication between Azure AD and PTA does go via TLS, its just that you do not need any extra SSL certificate from your side, the service takes care of this.

If it would have been a manually task, the lists would menti

[2021-06-02 06:33] #76110 closed

[2021-06-02 06:39] mitchellchou-lululemon-com opened #76257 "Is there a typo for Standard_ND24s?"
Shouldn't the GPU RAM for Standard_ND24s be more than 24GB?  Shouldn't it be 96GB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd3d56a-818d-5870-c718-ea05d5cd0bf8
* Version Independent ID: 3715a9b6-bb56-d192-5a8f-8e451d6c004e
* Content: [ND-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vir

[2021-06-02 06:39] ChaitanyaNaykodi-MSFT commented on #75935
Hello @lyzlisa, apologies for the delay. You can [Override host.json values](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#override-hostjson-values) by creating an equivalent value as an application setting.
We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns and we will gladly continue with our discussion. T

[2021-06-02 06:39] #75935 closed

[2021-06-02 06:48] amanmcse commented on #76227
@D-Jeffrey Please find my comments inline:

**From with AzureAD, we can select Manage user collaboration status. We get a link to this page and we get the error message: "User's email address cannot be in a verified domain. Please change the user's email to enable conversion to a B2B user."**

This error occurs when you try to add user@tenant-a.com as external/guest user to tenant-a.com. The reaso

[2021-06-02 06:52] charlesRollandy opened #76258 "dtu_* metrics not available anymore?"
Hello, is this document up to date?

it looks like the portal doesn't offer any metric about DTU anymore for `Microsoft.Sql/servers/databases`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f00-e0e9-57a00cc07687
* Content: [Azure Monitor sup

[2021-06-02 06:54] GitaraniSharma-MSFT commented on #76117
@jrudlin , What routes are the VPN clients seeing? Are you seeing the on-prem routes? Are you using the Azure VPN Client?

Also, you can see the BGP routes on the gateway by looking at the “BGP peers” tab. You should see the route server as a peer there and the routes learnt and advertised.

[2021-06-02 06:56] bigkangji opened #76259 "Contents are mismatched about the number of ExpressRoute circuits from a different peering location."
Hello All,

1. [How do I ensure high availability on a virtual network connected to ExpressRoute](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#how-do-i-ensure-high-availability-on-a-virtual-network-connected-to-expressroute)?
You can achieve high availability by connecting up to 4 ExpressRoute circuits in the same peering location to your virtual network, or by connecting

[2021-06-02 07:02] jellydit commented on #61800
I think it has to do with az copy... I just ran into this issue with customer encryption key type scope

`ERR: [P#0-T#0] UPLOADFAILED: {source file} : 409 : 409 Access tier is not supported by current encryption scope`

[2021-06-02 07:02] dariuspetrov opened #76260 "Review documentation article: Quickstart section"
Hello team,

On the Quickstart section for this documentation page, on the 2nd point, we can find the following expression:

"**So if you know where to add these, then you already know where to add this.**"

This phrase doesn't sound good or professional, I am wondering if that could be reviewed and rephrased.

Link: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#qu

[2021-06-02 07:12] rboucher commented on #76258
Hi @charlesRollandy .  Yes, this doc was just updated 5/29.  I'm pulling what's in our backend systems into this doc.  We've had some issues with Microsoft.Sql/servers/databases that we looking into.  At this point, I'm going to chalk it up to that problem.  Something is out of sync and we are tracking it down.

[2021-06-02 07:22] xps233 commented on #76184
@GiftA-MSFT @prsandhu Hi guys, is there any update regarding to the issue here? Looking forward to hear any feedback here.

[2021-06-02 07:48] ThijsLecomte opened #76266 "Service to service integration missing connectors"
[Enter feedback here]
The Service to service integration: part is out of data and doesn't include connectors such as Azure Key Vault, but also still lists Azure Defender as Azure Security Center
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e176-be3e85961eb6
* Version Independent ID: 39d5db21-18e8-a7

[2021-06-02 07:51] Romerus opened #76267 "FAQ - Add Versions of Office and Apps that support CAE"
Hi,
Please add in the FAQ Section two things:

Office and Apps Versions that have Support for CAE
What will happened if i have an old Version of Office that does not have CAE Support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cf71de-20a1-6056-01cf-f44d9ef60ed3
* Version Independent ID: 67cb36dd-918d-e41d-7890-53

[2021-06-02 07:52] UjwalKatakam opened #76268 "Spelling correction"
Under "ExpressRoute circuits that are created in the classic deployment model"

the Grammar has to be corrected " Connectivity isn't  **_loss_** -->  lost or disrupted when a connection is being moved. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ffcfa0-5d18-8eee-c2b5-96a35a3f8d79
* Version Independent ID: 849b29

[2021-06-02 07:53] youssef-abdelmalek commented on #76194
Hi this was fast, thank you for the update,
I will try this fix and keep you updated

[2021-06-02 07:55] matiasdd opened #76269 "Examples with IHttpResponderService"
It is not obvious to me that IHttpResponderService and DefaultHttpResponderService are user defined classes, making the examples somewhat confusing when copying the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad5f362-cbfb-0621-4389-6378f50359e4
* Version Independent ID: ebf1a8f3-ab9d-d295-e3a4-a982ed9df1e9
*

[2021-06-02 08:08] LordTep commented on #37604
I get this error just now. Was there every any reproduction made? The exact commands I've tried:

az container create --resource-group <my-resource-group> --name <container-instances-name> --image <image-name:tag-name>

[2021-06-02 08:08] HarshitaSingh-MSFT commented on #76180
@boomalator, thank you for bringing this to our notice. We will be having internal discussions on this and will decide if we are going to take this forward or not based on our business.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

CC: @mmacy for you

[2021-06-02 08:11] teomonda commented on #74824
Thanks a lot, @Justinha !
I will make sure to highlight these also to licenseQ, from where i actually got the answer that each user requires a license (and that does make sense as well :) )

[2021-06-02 08:16] teomonda commented on #74824
Justin, one more article that it makes sense looking into:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-howitworks
How does the password reset process work?
A user can reset or change their password using the SSPR portal. They must first have registered their desired authentication methods. When a user accesses the SSPR portal, the Azure platform considers th

[2021-06-02 08:20] BlueMarmalade commented on #34167
I don't understand this site to write the password, because if I press cancel i still get into my outlook email.

[2021-06-02 08:46] aservera opened #76270 "AKS SP upgrade downtime is not accurate"
We asked MSFT if downtime is expected or not, however, all the nides will be restarted, therefore all the PODs soon or later will be restarted which might cause service downtime.

This is not clearly indicated in the documentation, as this statement is a little bit ambiguous:
https://docs.microsoft.com/en-us/azure/aks/update-credentials#reset-the-existing-service-principal-credential
_Warning
When

[2021-06-02 08:48] Jedoe830 opened #76271 "Missing configuration step for RDP Connection"
[Enter feedback here]
Hello, it is neccessary to edit the RDP File and add the following two lines:
`enablecredsspsupport:i:0
authentication level:i:2`

After that the login succeeds. You may add this to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Ind

[2021-06-02 09:04] CertifiedWebMaster opened #76272 "(Tutorial) Deploy your Node.js app to Azure Web App by using DevOps Starter for GitHub Actions _ Microsoft Docs"
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6ba013-2109-f657-ecdd-dfb3fb367e3a
* Version Independent ID: 7cdb043c-c4d9-2d5e-12c9-7a27bbcb4e63
* Content: [Tutorial: Deploy your Node.js app to Azure Web App by using DevOps Starter for GitHub Actions](https://docs.microsoft.com/en-us/azure/devops-project/devops-starter-gh

[2021-06-02 09:26] AjayKumar-MSFT commented on #76242
@carolga,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-02 09:43] youssef-abdelmalek commented on #76194
the above process worked like a charm (first time using the azure resource explorer a bit intimidating at first sight)

[2021-06-02 09:50] y10e opened #76273 "AzureCliCredential() is better than DefaultAzureCredentials() onStep 3"
[Enter feedback here]
Step3 on this document describe  about use of DefaultAzureCredentials() after `az login`. but DefaultAzureCredential() retrieve also other credentials exept azure cli login. I think that AzureCliCredential() is better than DefaultAzureCredentials() on this document. furthermore, the link of  DefaultAzureCredentials() reference on Step3 is for [dotnet](https://docs.microsoft.c

[2021-06-02 09:54] RohitMungi-MSFT commented on #76159
@JackCaster I have tried some scenarios to check the reuse scenario, according to the steps mentioned in this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/pipeline-with-datasets/pipeline-for-image-classification.ipynb) which is similar to the steps you might be following but the only difference might be the input is mo

[2021-06-02 09:55] actioncentertest commented on #43257
A terrible blunder by MS which would have broken many people when they edited any field in the rule and accepted the suggested validation, the fix was to use an internal portal by support team to restore the rule

[2021-06-02 09:59] SwathiDhanwada-MSFT commented on #76260
@dariuspetrov Thanks for your feedback.

Assigning to content author @MS-jgol for review

[2021-06-02 10:00] gfchaves commented on #73055
Hi @MayankBargali-MSFT

as you can see we did check the log configs as you suggested:

![image](https://user-images.githubusercontent.com/6900516/120460941-7b39ec80-c391-11eb-8113-d18092905bc5.png)

And at the logs:

![image](https://user-images.githubusercontent.com/6900516/120460797-5776a680-c391-11eb-9ad5-336f34b1c572.png)

The tested request:

![image](https://user-images.githubusercontent.com

[2021-06-02 10:11] BhargaviAnnadevara-MSFT commented on #76059
@msandbu Yes, `--plan` is expected to be passed as an argument when creating a webapp resource.

However, if the name or resource id of an app service plan is not passed,

[2021-06-02 10:15] JerrelAjoeb opened #76274 "Inconsistencies in your Azure documentation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb382856-6c9f-0cf2-8d68-64fb7a9634bb
* Version Independent ID: f32132d0-7881-4064-0256-858d38eebcbe
* Content: [Av2-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/av2-series)
* Content Source: [articles/virtua

[2021-06-02 10:34] BhargaviAnnadevara-MSFT commented on #76059
@msandbu Yes, `--plan` is an expected argument to be passed when creating any webapp resource. Even when creating an App Service app on Azure Arc, either the **App Service Plan** or the **Custom Location** must be specified.

If the name or resource id of an app service plan is not explicitly passed while running `az webapp create`, the `appservice-kube` extension provisions one for you with SKU `

[2021-06-02 10:34] #76059 closed

[2021-06-02 10:38] manishmsfte commented on #75808
#reassign: @manishmsfte

[2021-06-02 11:03] MassimoC commented on #73055
It works fine for me.
![image](https://user-images.githubusercontent.com/8393694/120469588-d2948880-c3a2-11eb-9de2-f291f4cae13e.png)

**Here the versions I used.**
LogAnalytics version : 2020-03-01-preview
APIM version : 2019-12-01
Microsoft.ApiManagement/service/providers/diagnosticsettings : 2016-09-01

[2021-06-02 11:07] KjetilEVRY opened #76275 "Admin setting PAL link on behaf?"
The doc does not say anything about doing this automated and in large scale for a partner. Please clarify. Each user have to do this manually? That's not scalable at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
*

[2021-06-02 11:10] rajb865 opened #76276 "Unable to build IoT Edge Solution for Windows Container"
I am trying to build Java IoT Edge module using visual studio code. I have setup the environment as per the explanation. When I run the command `Build IoT Edge Solution`  then nothing happens in the terminal. I see a message `Deployment manifest generated at c:\Users\sandboxuser\Des....`

On the other hand when I build the module for Linux container, then It builds successfully.

Here is the machi

[2021-06-02 11:10] AnuragSharma-MSFT commented on #76273
@y10e Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-02 11:41] jrudlin commented on #76117
I created the custom routes for the VPN client following [https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-p2s-advertise-custom-routes](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-p2s-advertise-custom-routes) and they show up on the Azure VPN client (and in the Windows route table):

![image](https://user-images.githubusercontent.com/29498781/120447994-065fb600-c38

[2021-06-02 11:41] MayankBargali-MSFT commented on #76030
@ericthomas1 As the document links are fixed now. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-02 11:41] #76030 closed

[2021-06-02 11:45] VikasPullagura-MSFT commented on #76270
@aservera
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-02 11:45] VikasPullagura-MSFT commented on #76270
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-06-02 11:47] udayadba commented on #16849
can any one help , need to run change replication filter to enable replicate_do_db in  in Azure MySQL 5.7 PaaS Server, asking for super user.

[2021-06-02 11:49] todosrc commented on #70538
I used :    <DataUri>urn:com:microsoft:aad:b2c:elements:contract:unifiedssp:2.1.2</DataUri>
 and Localization  config from lastest MS Document

 <Localization Enabled="true">
      <LocalizedResources Id="api.signuporsignin.en">
        <LocalizedStrings>
          <LocalizedString ElementType="UxElement" StringId="logonIdentifier_email">#Email Address</LocalizedString>
          <LocalizedString

[2021-06-02 11:50] VikasPullagura-MSFT commented on #76274
@JerrelAjoeb Thanks for the feedback.

Can you please elaborate a bit on the Inconsistencies in Azure documentation which you are referring to in this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/av2-series). I can then assign to appropriate authors and get it fixed.

[2021-06-02 11:53] todosrc commented on #70538
@vipulsparsh  this issue still errr , why close issue?

[2021-06-02 11:54] ptpavankumar commented on #7956
Simple workaround for me was to uninstall including removal of cached data and reinstalling and then getting an option to use new key

[2021-06-02 11:55] VikasPullagura-MSFT commented on #76248
@nippyin Thanks for your Question.
I am checking on this with internal team and will get back on this.

[2021-06-02 11:57] hiran108 commented on #76194
Azure Resource Explorer  is the easiest workaround for this issue,
1. open this URL in your browser https://resources.azure.com/
2. navigate to the CDN endpoint
3. edit the JSON file and patch
![image](https://user-images.githubusercontent.com/26576390/120476084-cd960000-c3c7-11eb-9c3c-e574c7d72127.png)

[2021-06-02 11:58] VikasPullagura-MSFT commented on #76257
@mitchellchou-lululemon-com
Thanks for your Question! We are currently investigating and will get back on this.

[2021-06-02 11:59] youssef-abdelmalek commented on #76194
yeah I was able to resolve my issue thank you

[2021-06-02 12:03] SnehaAgrawal-MSFT commented on #76111
@FreddyMcRay Thanks for asking question! Could you please try to reconfigure your app's authentication/authorization settings, the tokens in the token store may not be regenerated from the new settings.
Try to sign out and sign in back in to your app using your browser in private mode, and close and reopen the browser in private mode after changing the settings in your apps.
Please let us know if

[2021-06-02 12:03] bstaley commented on #76222
I am using Azure Pipeline and i just have basic static site
\
 |--- \index.html
 |--- \css
 |--- \js
 |--- \images

[2021-06-02 12:09] hbalaci opened #76277 "Commands errors"
Running 'az healthcareapis create' command is giving an error.
'create' is misspelled or not recognized by the system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeeb2625-ae92-b3c4-1692-6c0bce40123c
* Version Independent ID: 349f252b-369a-2837-fc41-f2548b124947
* Content: [Quickstart: Deploy Azure API for FHIR usin

[2021-06-02 12:10] CHEEKATLAPRADEEP-MSFT commented on #76243
@zsy056  Thanks for your contribution, we had addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/159187](https://github.com/MicrosoftDocs/azure-docs-pr/pull/159187)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-06-02 12:10] #76243 closed

[2021-06-02 12:17] vipulsparsh commented on #76246
@shaunhp Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-02 12:18] vipulsparsh commented on #76250
@bittwiddles Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-02 12:19] vipulsparsh commented on #76267
@Romerus Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-02 12:19] vipulsparsh commented on #76271
@Jedoe830 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-02 12:22] FizlarGlopis opened #76278 "What about "SuggestParameters""
I have a project that we're upgrading to search SDK version 11, following the documentation shown here: https://docs.microsoft.com/en-us/azure/search/search-dotnet-sdk-migration-version-11#UpgradeSteps

So where's the equivalent documentation for [SuggestParameters](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.models.suggestparameters?view=azure-dotnet)?  What's the new class

[2021-06-02 12:25] BhargaviAnnadevara-MSFT commented on #76272
@CertifiedWebMaster Thanks for reaching out. Could you please elaborate your feedback a little so we can action it accordingly?

[2021-06-02 12:32] SadiqhAhmed-MSFT commented on #76244
@ToruMakabe Thanks for the feedback. We will review this with the content owner and update as appropriate.

@stephbaron FYI

[2021-06-02 12:35] SadiqhAhmed-MSFT commented on #76245
@ryanhofdotgov Thanks for the feedback. We will look into it and update as  appropriate.

[2021-06-02 12:40] SadiqhAhmed-MSFT commented on #76247
@ReginaLin24 Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2021-06-02 12:40] shadowano commented on #64093
@GitaraniSharma-MSFT This has taken a long time now, any progress or update here?

[2021-06-02 12:40] priyankareddy20 opened #76280 "Details about Firefox browser hasnt been provided in any of the tables.However I could successfully logged in FIREFOX browser."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Conditional Access policy - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/conditional-acces

[2021-06-02 12:44] priyankareddy20 commented on #76280
In the another MS docx  https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-supported-browsers-devices  , firefox is the supported browser. Kindly confirm and modify the page  "https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions"

Also I believe IE is not supported anymore after Mar 31 2021.Kindly update the same .Thank you

[2021-06-02 13:11] RyanHill-MSFT commented on #76222
Can you share the AzureStaticWebApp task logs from the pipeline? I'm still not able to reproduce your issue using [this pipeline](https://github.com/RyanHill-MSFT/staticwebapp-vanilla/blob/master/azure-pipelines.yml).

[2021-06-02 13:24] msmbaldwin commented on #76246
Thank you, @shaunhp, and nice catch. I have made the change, and it will be live shortly. We appreciate your contribution! #please-close

[2021-06-02 13:24] #76246 closed

[2021-06-02 13:28] BhargaviAnnadevara-MSFT commented on #76268
@UjwalKatakam Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-06-02 13:28] #76268 closed

[2021-06-02 13:34] bgavrilMS commented on #76237
The server sends back 3 fields in case of errors:
- an error_code field, with values such as `invalid_grant` or `invalid_client` etc.
- suberror codes  `basic_action` etc.
- error message which contains `AADSTS12345` code

The error_code field, exposed by MSAL in every MsalException.ErrorCode, is guaranteed not to change. It is part of the contract between apps and AAD.

Suberrors and error messag

[2021-06-02 13:42] AnuragSharma-MSFT commented on #76277
@hbalaci Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-02 13:44] AnuragSharma-MSFT commented on #76176
@pnarsi Thanks for the details provided. I am assigning this issue to content author for further review.

[2021-06-02 13:47] KranthiPakala-MSFT commented on #74039
Hi @naga-pakalapati - Thanks for the feedback. It has been called out in the document that Deployment can fail if you try to update active triggers. To update active triggers, you need to manually stop them and then restart them after the deployment as explained in this section of the doc: https://docs.microsoft.com/azure/data-factory/continuous-integration-deployment#updating-active-triggers

![i

[2021-06-02 13:47] #74039 closed

[2021-06-02 13:49] steveoverton opened #76283 "InVision SSO configuration"
The NameID format setting in the existing document should be changed so that rather than just entering 'Unspecified' the NameID format should appear as either

`urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress`

or:

`urn:oasis:names:tc:SAML:1.1:nameid-format:Unspecified`

So the value should be changed in the line:

f. In the Name ID Format textbox, use `Unspecified` for the Name ID Format.

[2021-06-02 13:53] PramodValavala-MSFT commented on #76192
@to-ogawa Just following up here... Hope my previous comment clears things up.

[2021-06-02 13:53] SadiqhAhmed-MSFT commented on #76133
@ladykraken We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-06-02 13:54] #76133 closed

[2021-06-02 14:05] mmacy commented on #76237
Great info, thanks @bgavrilMS! I'll add these details and clarifications to the article.

[2021-06-02 14:05] #76178 closed

[2021-06-02 14:08] SnehaAgrawal-MSFT commented on #76138
@OzBob Thanks for asking question! As its mentioned in the portal as below:
"To allow all, use "*" and remove all other origins from the list."

![image](https://user-images.githubusercontent.com/46553948/120495061-f921e600-c3d9-11eb-9b1c-e86b9ead6e9d.png)

Let us know if further query.

[2021-06-02 14:11] HarshitaSingh-MSFT commented on #76283
Hello @steveoverton , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-02 14:25] MicrosoftGuyJFlo commented on #76122
That table is no longer part of docs content. Risk calculation has changed since that was valid. More information about the levels of risk can be found under the heading [Risk levels](https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-levels). #please-close

[2021-06-02 14:25] #76122 closed

[2021-06-02 14:28] bosh-ms commented on #76237
Thank you for the explanation! It would indeed be very helpful to adjust the documentation so that the references to different "error fields" are unambiguous.

And a clarifying question: if one does not expose auth issues to the end users but just wants to handle ADAL exceptions, there is no real need to catch specific error codes/AADSTS codes/clarifications, is that correct?

[2021-06-02 14:29] AshokPeddakotla-MSFT commented on #76276
@rajb865 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-02 14:34] MicrosoftGuyJFlo commented on #76224
If you enable MDM that option is greyed out and is managed in your MDM tool like Intune. Will add to my backlog to update. #please-close

[2021-06-02 14:34] #76224 closed

[2021-06-02 14:38] MicrosoftGuyJFlo commented on #76267
https://docs.microsoft.com/azure/active-directory/conditional-access/concept-continuous-access-evaluation#office-and-web-account-manager-settings

If you are not on a supported current build CAE does not apply to you. #please-close

[2021-06-02 14:38] #76267 closed

[2021-06-02 14:40] ericcsinger opened #76284 "Better examples"
Can you put better / more examples for the path syntax?  For example, what if i want a literal patch of "c:\users\username\documents\folder with space\file.bicep"  or what if I want to use a network share or maybe even an https link.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1c1cbec-c325-f4

[2021-06-02 14:40] MicrosoftGuyJFlo commented on #76271
The doc works as written. This has been tested multiple times. #please-close

[2021-06-02 14:40] #76271 closed

[2021-06-02 14:41] dbodifee opened #76285 "AppService move to other subscription"
**App Service resources can only be moved from the resource group in which they were originally created. If an App Service resource is no longer in its original resource group, move it back to its original resource group. Then, move the resource across subscriptions.**

Is this still a limitation? I am able to migrate webapps to other subscriptions that are not originated in the resourcegroup they

[2021-06-02 14:41] MicrosoftGuyJFlo commented on #76280
#reassign:@MicrosoftGuyJFlo

[2021-06-02 14:42] MicrosoftGuyJFlo commented on #76280
This doc is being updated in my backlog. We will address this in the update that is planned. #please-close

[2021-06-02 14:42] #76280 closed

[2021-06-02 14:42] MayankBargali-MSFT commented on #75980
@nssidhu I do see that you have also create [this Q&A query](https://docs.microsoft.com/en-us/answers/questions/409212/index.html).

As I mentioned in Q&A you cannot track the delete item. There are 2 reasons:
•	Not every type in Salesforce supports “soft deletions” (setting IsDeleted flag to true), some data types uses a normal deletions (move record to Recycle Bin), and some records of certain t

[2021-06-02 14:56] Paandaman commented on #59931
Bumping this and asking a question at the same time.
@tuomastik Did you find a workaround solution to the issue? I am in the exact same situation as the SO question you commented on : https://stackoverflow.com/questions/65955909/azure-ml-workspace-how-to-publish-pipeline-to-existing-endpoint-instead-of-crea . I need to publish my pipeline to an already existing endpoint since I have a Azure Data f

[2021-06-02 15:01] mexmer commented on #66693
same issue, i tried everything, i'm global admin, i do use microsoft authenticator, we use exchange 365 so our domain MUST be verified, otherwise it would not work.
i'm trying to verify publisher on application for 2 month with no avail, and only option to get support is to pay premium support for AD (like seriously).

[2021-06-02 15:07] sethmanheim commented on #76164
#please-close

[2021-06-02 15:07] #76164 closed

[2021-06-02 15:08] cosminstirbu opened #76286 "Azure Functions warm-up trigger for Dedicated Plan"
Hello,

Is https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup?tabs=csharp applicable to the Dedicated Plan?

We're seeing calls to `admin/warmup` every 5 minute with `UserAgent = AlwaysOn` which makes us believe that Azure Functions warm-up trigger is applicable to the Dedicated Plan as well.

We're asking because even if we have set `AlwaysOn` on the functions hosted

[2021-06-02 15:09] wcneumann219 commented on #74973
Does anyone monitor these posts anymore???? Why nothing?

[2021-06-02 15:10] priyankareddy20 commented on #76280
Hi Team,

How about IE which is no longer supported

On Wed, Jun 2, 2021, 4:42 PM PRMerger15 ***@***.***> wrote:

[2021-06-02 15:24] JayaChatterjee-MSFT commented on #76019
Hello @ggailey777 need your help on this. Could you please look into it?

[2021-06-02 15:33] mmacy commented on #76180
@HarshitaSingh-MSFT I agree 100% with @boomalator's call-out on this. Can you, @MarileeTurscak-MSFT, or @James-Hamil-MSFT please reopen this issue? Thanks.

@boomalator, thanks for the call-out on this. We recently made a pass through all the quickstart and tutorial intro paragraphs to more accurately describe them, but we didn't extend that to the article metadata.  I'll add this as a work item a

[2021-06-02 15:38] GitHubUser1339 opened #76289 "Policy definition groups"
The section Policy definition groups doesn't clarify the purpose/use of properties like; category, displayName and description. Built-in policies only use the name property in their initiative definition along with the 'additionalMetadataid' property.

Can additional context be added as when to use these properties and where they surface, preferably along with a more detailed example.

Context: Go

[2021-06-02 15:42] DCtheGeek commented on #76289
@GitHubUser1339 Thanks for the question.  I'll reach out internally since I'm not 100% clear on the ask here.  Thanks!

#assign:DCtheGeek
#label:"assigned-to-author"
#label:"product-question"
#label:"triaged"
#label:"in-progress"

[2021-06-02 15:51] erwinspark commented on #39711
Thanks. If it is then why the case was closed?

[2021-06-02 15:56] VitalyMCT opened #76290 "Serverless SQL Pools"
I think this document needs to be updated now that both Dedicated and Serverless pools are available. The article is from 2019 and only talks about "SQL Pools". This feature is not supported on Serverless pools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98c96f9f-7e87-6341-db9c-3b68b5c3dd21
* Version Independent ID

[2021-06-02 15:58] BhargaviAnnadevara-MSFT commented on #76144
@derkoe I was able to follow through and configure my Azure Arc enabled k8s cluster to run an App Service app without running into the quoted error.

I suspect the error you saw was probably due to insufficient cluster permissions. As mentioned in the [troubleshooting guide](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/troubleshooting#connecting-kubernetes-clusters-to-azure-arc), th

[2021-06-02 16:06] vikancha-MSFT commented on #76257
Thanks for reporting the issue @mitchellchou-lululemon-com We have fixed the typo and updated the GPU RAM to 96 for Standard_ND24s. Changes will go live later today.

[2021-06-02 16:06] #76227 closed

[2021-06-02 16:06] GitaraniSharma-MSFT commented on #76194
Thank you for the update @youssef-abdelmalek. I'm glad to hear that the issue is now fixed. The PG team is working on fixing the Azure portal UI bug. In the meantime, they have provided an alternate link for Azure portal which can be used to update the CDN rules which are not working in the normal Azure portal UI. You can use https://portal.azure.com/?microsoft_azure_cdn=staging as work around for

[2021-06-02 16:06] #76194 closed

[2021-06-02 16:08] #76169 closed

[2021-06-02 16:14] r1card092 commented on #34263
Hi @FrankHu-MSFT, I was facing the same issue and with installing the AzureADPreview module the object MembershipRule works. Thanks! =]

But it is almost two years later, why is the MembershipRule object not working on the AzureAD module only?

[2021-06-02 16:15] HeidiSteen commented on #76278
Thanks for the answer, @BhargaviAnnadevara-MSFT.  A few more links that might be helpful:  https://docs.microsoft.com/en-us/azure/search/tutorial-csharp-type-ahead-and-suggestions#add-suggestions, plus this one:  https://docs.microsoft.com/en-us/azure/search/search-add-autocomplete-suggestions#suggestions    The main docs and samples have been upgraded to v11.

@FizlarGlopis please let us know if

[2021-06-02 16:22] BhargaviAnnadevara-MSFT commented on #76278
Thanks for those @HeidiSteen!

@FizlarGlopis Hope the provided resources help. Do let us know if you have further questions.

[2021-06-02 16:24] DCtheGeek commented on #76289
@GitHubUser1339 Thanks for the quick internal discussion. As we discussed, you can't create a custom **additionalMetadataID** object, so you are limited to using ones already created by the PG for the existing (and growing) Regulatory Compliance initiatives.  Thanks again for the question!

#please-close

[2021-06-02 16:24] #76289 closed

[2021-06-02 16:27] lgayhardt commented on #75559
Closing this issue for now. Let us know if you have any additional questions.

Thank you
#please-close

[2021-06-02 16:27] #75559 closed

[2021-06-02 16:30] nssidhu commented on #75980
For Deletes(soft Deletes), i can confirm they are not flowing through. I bet you have to append "ALL ROWS" to the end of SOSQL to get the Soft Deletes. that will be lot helpful if can enable that to flow through

[2021-06-02 16:34] VitalyMCT opened #76292 "Synapse Link"
I think the reference can be updated to remove "preview" notes, as the capability is now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7183d46a-a815-a4ee-ed9d-273dffb14f41
* Version Independent ID: a1613e7c-f4f2-a61f-812e-9e11c3b91120
* Content: [T-SQL feature differences in Synapse SQL - Azure Synapse Analytics](

[2021-06-02 16:35] GitaraniSharma-MSFT commented on #64093
@shadowano , apologies for the delay in my response. I am still waiting for an update from the PG team on this. Let me reach out to them again and get back to you on this.

[2021-06-02 16:35] Oury-MSFT commented on #76069
2ndcahl I have processed a change to change this in the documentation that should be live later this week. Thanks for helping us improve our documentation.

[2021-06-02 16:38] #76069 closed

[2021-06-02 16:40] KranthiPakala-MSFT commented on #76208
@shriazure
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-06-02 16:40] #76208 closed

[2021-06-02 16:41] Oury-MSFT commented on #76023
@shohamMSFT Can you please provide your insights for the above ask please.? Thanks

[2021-06-02 16:43] ingomaas opened #76293 "Misleading nodepool name in example command"
Most parameter values in the az CLI commands start with "my", indicating that the value is only a placeholder.
One exception of this pattern is in section https://docs.microsoft.com/en-us/azure/aks/use-system-pools#show-details-for-your-node-pool where the given command queries the details of the nodepool. The nodepool's name is set by "-n systempool" in the command. The missing "my" prefix makes

[2021-06-02 16:49] jongio opened #76294 "Spring Cloud .NET 5"
Pre-reqs say 3.1 +, so I created app with .NET 5
![image](https://user-images.githubusercontent.com/2163001/120519669-bcc59a00-c387-11eb-995f-a282d0e60e42.png)

Looks like the service doesn't support .NET 5
![image](https://user-images.githubusercontent.com/2163001/120519709-c6e79880-c387-11eb-81f6-1472683099cb.png)

https://docs.microsoft.com/en-us/azure/templates/microsoft.appplatform/2020-11-01

[2021-06-02 16:55] zachsaltzman opened #76295 "Group types"
[Enter feedback here]
Are M365 Groups still not supported for assigning SSO/Enterprise applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05f5a57c-9ddc-3075-5aa0-4561d19eff69
* Version Independent ID: 28541e41-3915-d0b8-10e5-f7d1c2fc40d2
* Content: [Quickstart: Assign users to an app that uses Azure Active Di

[2021-06-02 16:58] ChaitanyaNaykodi-MSFT commented on #76256
Hello @jesperkristensen,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-02 16:59] ChaitanyaNaykodi-MSFT commented on #76269
Hello @matiasdd,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-02 17:11] mkaply commented on #76091
Here's my pull request with updates. Feel free to use as you see fit.

https://github.com/MicrosoftDocs/azure-docs/issues/76091#issuecomment-850856307

[2021-06-02 17:15] goldsam commented on #36505
@wendellh3 Was there ever any resolution on this matter?

[2021-06-02 17:16] MicrosoftGuyJFlo commented on #75017
You want to block users who are not coming from trusted locations. Include any, Exclude Trusted is correct.

[2021-06-02 17:17] MicrosoftGuyJFlo commented on #75017
#please-close

[2021-06-02 17:17] #75017 closed

[2021-06-02 17:20] johnnyreilly commented on #36505
This post by @jamiemccrindle may help: https://foldr.uk/azure-bicep-app-service-custom-container

[2021-06-02 17:27] ggailey777 commented on #69117
I'm looking into this.

[2021-06-02 17:38] bmitchell287 commented on #76294
@yucwan - Yuchen could you please look into this and advise? Thanks.

cc @MikeDodaro

[2021-06-02 17:56] theGOTOguy commented on #76251
My command above was incorrectly escaped.  There is no bug:

[code]

Works as expected.

[2021-06-02 17:56] #76251 closed

[2021-06-02 17:57] cgillum commented on #58499
#please-close

[2021-06-02 18:01] GiftA-MSFT commented on #76286
@cosminstirbu we'll review your feedback and get back to you shortly. Thanks.

[2021-06-02 18:03] GiftA-MSFT commented on #76293
@ingomaas we'll review your feedback and get back to you shortly. Thanks.

[2021-06-02 18:05] GiftA-MSFT commented on #76259
@bigkangji we'll review your feedback and get back to you shortly. Thanks.

[2021-06-02 18:05] MartinJaffer-MSFT commented on #76037
Sorry for the delayed response.  From past experience, most internal server errors are intermittent/transient.  If you are still facing the issue, could we please move this to [Microsoft Q&A](https://docs.microsoft.com/answers/products/), as this is troubleshooting, rather than a document feedback.

When you open the new thread in Microsoft Q&A, @islamtg , please share the link here.  Please provi

[2021-06-02 18:06] #75883 closed

[2021-06-02 18:07] MartinJaffer-MSFT commented on #75883
We will now proceed to close this thread.  I hope the above explanation was helpful.  If you have further questions, please re-open the issue and we will re-engage.

[2021-06-02 18:08] islamtg commented on #76037
it looks like it was policy related. I got it to work with a different sub that did not have strict policy.

[2021-06-02 18:09] MartinJaffer-MSFT commented on #76065
We will now proceed to close this thread.  If there are further questions, please tag me and re-open the issue.  Then we will re-engage.

[2021-06-02 18:09] MartinJaffer-MSFT commented on #76037
Thank you for the update and response.  Glad to hear you were able to resolve the issue.

[2021-06-02 18:09] #76037 closed

[2021-06-02 18:11] #76065 closed

[2021-06-02 18:14] BhargaviAnnadevara-MSFT commented on #76114
@FocusOnSoftware Yes, the use of constructor injection requires that you do not use static classes for your function classes.

It is true that the generated boilerplate code for the HTTP trigger function type on Visual Studio creates a static function by default, which is why it is indicated after step `#4` that the `static` modifier be removed.

![image](https://user-images.githubusercontent.com/

[2021-06-02 18:19] BhargaviAnnadevara-MSFT commented on #76114
@FocusOnSoftware I do understand that one could notice the error before getting to the instruction after `#4`.

So I've submitted a change to make it a **Note** so it becomes a bit more noticeable:
![image](https://user-images.githubusercontent.com/44050820/120532214-14eab380-c3fd-11eb-8f3c-a81bed7bb9e5.png)
Please let us know if that helps.

[2021-06-02 18:33] ssivas commented on #76250
@bittwiddles ,

Thanks for reaching out.

You must provide your home directory account details (your own credential) when prompt for login. This is just to validate current credential before it remove organization.

Once you have login with your credential (home Tenant) successfully then you would see "Signed In" on Directory list that you're trying to remove, then click "Leave Organization" which

[2021-06-02 18:33] rcabr opened #76298 "Private endpoint region constraints"
In Step 3, there is a Note that says, "Ensure that the Region value is the same as the one where your Azure Synapse Analytics workspace is."

But the screenshot directly below the Note says, "Your private endpoint must be in the same region as your virtual network, but can be in a different region from the private link resource that you are connecting to."

Are both statements true?  If both state

[2021-06-02 18:43] DerekHerman-MSFT commented on #76167
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-02 18:53] bstollnitz opened #76299 "Not sure where config.json file is"
On this page, under "Connect to a workspace", it says that Workspace.from_config() loads the workspace configuration from the config.json file in the current folder. However, I don't see a config.json file in the current folder.

Then I found the page "https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment", which explains that "This JSON file must be in the directory

[2021-06-02 18:54] #76114 closed

[2021-06-02 18:57] alevere opened #76300 "Email alerts is empty"
In my view in Azure in Security Center after selecting a specific subscription in a tenant, the subscription does not have a role populated to receive an email, all four check boxes are empty.

Am I doing something incorrect, or is this statement not accurate?

"By default, Security Center emails subscription owners whenever a high-severity alert is triggered for their subscription."

---
#### Doc

[2021-06-02 19:01] MicrosoftGuyJFlo commented on #73760
Taking this to my backlog to work with the PG to update and provide more clarity.

[2021-06-02 19:01] MicrosoftGuyJFlo commented on #73760
#please-close

[2021-06-02 19:01] #73760 closed

[2021-06-02 19:05] DerekHerman-MSFT commented on #76247
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-02 19:10] #75135 closed

[2021-06-02 19:21] bstaley commented on #76222
[code]

[2021-06-02 19:25] AjayKumar-MSFT commented on #76053
@sammydeprez, Thanks again for bringing this to our attention. We have raised a PR, once it's merged the doc would reflect the requested changes shortly. We will close this thread for now.

[2021-06-02 19:25] #76053 closed

[2021-06-02 19:27] vboyev-MSFT opened #76302 "How to deal with false positive? Call support?"
RE: https://docs.microsoft.com/en-us/azure/security-center/defender-for-key-vault-usage
No information is given when the access is legitimate and expected.
It appears the alert depends on some baselining of behavior and not specifically a trusted list to override the alert.
No information regarding the suppression rule and what RESOURCEID maps to for an app (ObjectID? ApplicationID?) or is RESOURC

[2021-06-02 19:27] billmath commented on #70232
@DeanGross, thanks for this.

These have been updated and will be going out today.

#please-close

[2021-06-02 19:27] #70232 closed

[2021-06-02 19:39] MicrosoftGuyJFlo commented on #74353
Sign in to an Azure VM running Windows Server using Azure AD credentials was a preview feature until a couple weeks ago. It has since gone GA. This was different from Azure AD joined devices. #please-close

[2021-06-02 19:39] #74353 closed

[2021-06-02 19:42] bittwiddles commented on #76250
None of what you have described is available or is an option for me. I am presented with a request for credentials. The credentials fail to login because they no longer exist. Attempting to use the credentials for the existing -functional- teams account results in a failure to authenticate because it's not the credentials being requested.

[2021-06-02 19:45] FreddyMcRay commented on #75135
Hi,
following the instructions you've provided I updated `loginParameters` in accordance with this tutorial https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#configure-app-service-to-return-a-usable-access-token. Resulting parameter definition looks like this:
`"loginParameters": ["response_type=code id_token","resource=<resource-id>"]`

After that all requ

[2021-06-02 19:47] RyanHill-MSFT commented on #76222
Do you have any php files in your codebase? The taks for whatever reason is detecting php which is probably it's failing. Is your yaml exactly like [this](https://github.com/RyanHill-MSFT/staticwebapp-vanilla/blob/master/azure-pipelines.yml)?

[2021-06-02 19:56] AjayKumar-MSFT commented on #76066
@manekinekko, Requesting your review and comments on this.

[2021-06-02 19:59] mattchenderson commented on #76241
Correct. I agree the doc should pin to latest. The support was a recent addition only available in the past version or two.

[2021-06-02 20:02] Justinha commented on #75268
@daniel-fv thanks this is fixed.

#please-close

[2021-06-02 20:02] #75268 closed

[2021-06-02 20:02] AjayKumar-MSFT commented on #76062
Since we have not heard back from you on this, we will now proceed to close this thread. If there are any further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-06-02 20:02] #76062 closed

[2021-06-02 20:16] FreddyMcRay commented on #75135
@RyanHill-MSFT  `"openIdIssuer": "https://sts.windows.net/6d18ed95-3417-43ba-93b8-0ad593ea1110/v2.0"` at first. Then I removed `/v2.0`

[2021-06-02 20:21] mbtools opened #76303 "Unable to upload metadata"
The tutorial says to upload the metadata for the SAML SSO. However, the button is not active although I'm global admin. What's missing? How do I proceed?

![image](https://user-images.githubusercontent.com/59966492/120547005-cf27ee00-c3f0-11eb-94ea-41e983472525.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccaf7a

[2021-06-02 20:25] Justinha commented on #76010
@parklinkivic great suggestion. I'm adding links to the diff service offerings. Should appear later today.

[2021-06-02 20:25] ajburnle commented on #67434
Hey @techangelsau I have updated the screenshots in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/149999. Sorry for the delay and thank you for your feedback. If you have any other questions please contact us. Otherwise I'm closing this issue. Thanks! #please-close

[2021-06-02 20:25] #67434 closed

[2021-06-02 20:29] ianc911 opened #76304 "Registry backup?"
Very first bullet point on this page (System state backup) says "This backup allows you to recover when a computer starts, but system files and the registry are lost.", then goes on to say what gets backed up: "Domain member: Boot files, COM+ class registration database, registry".

Does it or doesn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-06-02 20:31] martinbherbener opened #76305 "Unclear which H-V integration services required"
Hi,

in section https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-hyper-v#prepare-hyper-v-hosts document states:

"Checks that the Hyper-V Integration Services is enabled on all servers managed by the host."

However, there are multiple components to "Integration Services" (Data Exchange, Guest Services, etc.) and it's not clear which of these need to be enabled.

thanks!

Martin

-

[2021-06-02 20:32] bstollnitz commented on #76299
OK, I'll answer my own question. Someone told me that the config.json is at the root of the compute instance. Sure enough, if I open a terminal on the compute instance, and navigate to the root, I see the config.json file there. It would be great to have the docs reflect this information.

[2021-06-02 20:32] carsonruebel opened #76306 "Broken Links"
Multiple broken links have popped up.

listkeys (both Service Bus and Event Hubs)
getauthorizationrule (both Service Bus and Event Hubs)
createorupdateauthorizationrule x2 (Event Hubs only)
deleteauthorizationrule (both Service Bus and Event Hubs)
listauthorizationrules (both Service Bus and Event Hubs)
checknameavailability (both Service Bus and Event Hubs)

---
#### Document Details

⚠ *Do not e

[2021-06-02 20:35] martinbherbener opened #76307 "Unclear which credentials to use within appliance"
Hi,

In section https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-hyper-v#start-continuous-discovery, under step 1, document states

add Username and Password for a Hyper-V host/cluster that the appliance will use to discover servers.

and I believe this should be the same account created in the prior section https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-hyper-v#p

[2021-06-02 20:35] #75711 closed

[2021-06-02 20:40] chengyu-liu-cs opened #76308 "System variables for manual triggered execution"
[Enter feedback here]

I am looking for system variables that can be passed to "Trigger Now". What I want to do is to pass "@utcNow" or "@trigger().startTime" for manual triggers, not for any scheduled triggers. I can find system variables for different trigger types, but can not find anywhere about how to set system variables for manual trigger or ways to set dynamic parameters for pipelines (htt

[2021-06-02 20:40] MicrosoftGuyJFlo commented on #72786
Note out to PG for detail

[2021-06-02 20:58] #76250 closed

[2021-06-02 20:59] #72786 closed

[2021-06-02 21:08] KranthiPakala-MSFT commented on #76290
@VitalyMCT
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-06-02 21:09] spelluru commented on #76306
@carsonruebel - Thank you for reporting the issue. I have fixed the above broken links and the updated article will go live in an hour or so.

#please-close

[2021-06-02 21:09] #76306 closed

[2021-06-02 21:12] GiftA-MSFT commented on #76299
@bstollnitz thanks for your feedback. Glad you found the file you were looking for.

@sdgilley can you review above feedback and perhaps clarify location of config.json file?

[2021-06-02 21:18] DavidSchrag opened #76309 "Can custom password settings override Azure AD password age setting or not?"
I got to this page because I was warned about having AADDS passwords expire after 90 days even if my Azure AD passwords have a longer maximum age. I don't want my users prematurely locked out of AADDS. But there is a sentence on this page that says "Settings like password complexity, age, or expiration time [apply?] **only to users manually created in a managed domain**." So I don't know if I'm ab

[2021-06-02 22:04] BMichaelJ opened #76311 "Really old Azure logo on the Application insights diagram"
The diagram in "How does Application Insights work?" section has a really old logo to illustrate Azure

![image](https://user-images.githubusercontent.com/12622325/120558034-23d26580-c3ff-11eb-9083-0e119d64a19b.png)

Would be nice to have the new logo there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d

[2021-06-02 22:08] mbtools commented on #76303
I figured it out. It does not work with the Azure AD "Default Directory". You have to create a new tenant, switch to it, and then configure the Enterprise Application "SAP NetWeaver".

[2021-06-02 22:08] #76303 closed

[2021-06-02 22:13] MarileeTurscak-MSFT commented on #76295
Hi @zachsaltzman, as of yet these are not supported. To request or vote on this feature you can create a feedback item in user voice: https://feedback.azure.com/

[2021-06-02 22:13] #76295 closed

[2021-06-02 22:14] MarileeTurscak-MSFT commented on #76300
@alevere
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-02 22:14] VitalyMCT commented on #75883
Thanks @MartinJaffer-MSFT , this clarifies sink behaviour around parallelism.

[2021-06-02 22:16] KranthiPakala-MSFT commented on #76308
@chengyu-liu-cs
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-02 22:18] KranthiPakala-MSFT commented on #76298
@rcabr
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-02 22:19] KranthiPakala-MSFT commented on #76292
@VitalyMCT
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-02 22:25] mmacy commented on #76181
#label:"msid-findability-discoverability"

[2021-06-02 22:25] mmacy commented on #73384
#label:"msid-quality-clarity"

[2021-06-02 22:26] Justinha commented on #74824
@teomonda Thank you for sharing. Yes, I understand the confusion so I'm re-confirming the doc change to see if we need to clarify further or change back.

[2021-06-02 22:40] jjcv2304 commented on #65511
I think the same issue is happening on the tutorial:

[Set up sign-in for a specific Azure Active Directory organization in Azure Active Directory B2C
](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow)

[2021-06-02 22:48] femsulu commented on #76275
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 22:49] femsulu commented on #76284
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 22:51] femsulu commented on #76285
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

@tfitzmac  - any idea who on the App Service team can help with this question?

[2021-06-02 22:52] femsulu commented on #76304
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 22:54] femsulu commented on #76305
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 22:54] femsulu commented on #76307
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 22:56] femsulu commented on #76311
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-02 23:02] jeevansd commented on #76303
@mbtools It should not be like that. You should able to use this in your default directory also. If you are not using the default directory then you might not find all these users in another directory. Also the verified domains are different in each tenant. So I dont think this is the correct way to solve this issue. Please feel free to raise the support ticket and our engineer can help you out.

[2021-06-02 23:04] libbro2006 opened #76314 "Known Issue re: UPN Change is confusing"
@Justinha --

The UPN change paragraph needs revamping; (not sure why AADJ/HAADJ machines are even mentioned?) The solution to a UPN change for a user with a FIDO key is to login to MySecurityInfo, and delete the old key entry and add a new one. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-

[2021-06-02 23:08] MarileeTurscak-MSFT commented on #76160
Thank you! I made a pull request to add this info. https://github.com/MicrosoftDocs/azure-docs-pr/pull/160906

@curtand and @ajburnle please review.

[2021-06-02 23:08] #76160 closed

[2021-06-02 23:19] MarileeTurscak-MSFT commented on #76314
@libbro2006
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 00:13] lgayhardt commented on #76311
Hi @BMichaelJ Thank you for the feedback, we already have a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1830413) to update the overview including the images.

I will close this issue for now but will @ mention you when the update has been completed.

Thank you
#please-close

[2021-06-03 00:13] #76311 closed

[2021-06-03 01:19] sunscorch opened #76316 "the doc is not accurate and completed"
[Enter feedback here]

the steps to install unixodbc is not written on this page.
Also
/etc/odbcinst.ini
Simba Spark ODBC Driver 64-bit shoud be the same to he driver part in /etc/odbc.ini
 /etc/odbc.ini shoud be
[code]
/etc/odbcinst.ini shoud be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff86e045-4810-78b5-

[2021-06-03 01:26] NavtejSaini-MSFT commented on #71216
#reassign @gahl-levy

[2021-06-03 02:06] AgnesLi666 opened #76317 "The guidance on this page for upgrading will not work"
**This script and guidance worked a month ago. But today when I tried this, I encountered an error claiming "Public IP in use" and couldnt be used.**  I'm not sure if there was internal upgrade for public IP in the past month. But currently the script couldnt work. It will create a new standard load balancer without frontend IP and no configurations or backend pools. This is really frustrating.

P

[2021-06-03 02:14] jongio opened #76318 "Please update to point to the new Linux/Mac emulator page"
This section:
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=ssl-netstd21#run-on-linux-macos

Should point to this page:
https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc

[2021-06-03 02:27] RyanHill-MSFT commented on #75135
Can you email me both your front-end and back-end authSettingsV2 to AzCommunity[at]microsoft[dot]com

[2021-06-03 02:31] uteschj opened #76321 "BYOC option of DevOps Starter appears to be missing"
The BYOC option of DevOps Starter appears to be missing as an option in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 679c851f-0cc9-3b99-1d31-88672aebb693
* Version Independent ID: 91ce6957-0bc6-1934-8ac9-f7af096caa95
* Content: [Tutorial: Create a CI/CD pipeline for your existing code by using Azure DevOps Sta

[2021-06-03 02:31] bangdu-ms commented on #75753
Hi @GitaraniSharma-MSFT  @vhorne Is there any update?

I also found these FAQ page has similar issue, can you please fix these pages as well?
https://docs.microsoft.com/ja-jp/azure/frontdoor/front-door-faq
https://docs.microsoft.com/ja-jp/azure/firewall/firewall-faq

It would be really appreciated if you can double check all FAQ pages

[2021-06-03 02:43] steveesp commented on #13499
Shortly after my comment above, this article was completed: http://aka.ms/TestNetworkLatency

[2021-06-03 04:02] nohanaga opened #76322 "Does Text split cognitive skill support Japanese?"
[Enter feedback here]

In the Azure Cognitive Search docs, as shown below, there is some text suggesting that Japanese is supported, but the defaultLanguageCode does not show any support for Japanese.

I tried using the splitting skill on Japanese sentences using 'ko', the only supported CJK language, and it seemed to split the sentences and pages well with CRLF, CR, and LF codes.

In fact, does u

[2021-06-03 04:09] shashishailaj commented on #76302
@vboyev-MSFT Thank you for your query . We will investigate ands update the thread .

[2021-06-03 04:11] shashishailaj commented on #76309
@DavidSchrag Thank you for your query . We will investigate ands update the thread .

[2021-06-03 04:16] sethiramicrosoft opened #76325 "Managed Identities while cloning Azure App Service"
Currently, we have stated under current restrictions that “Managed Identities” are not cloned. What we observed was that the other items in the restrictions are simply ignored during the clone process, but for managed identities if it is enabled, the cloning process is failing, and the error message is not straight forward to understand. Our Azure Support team had to review the backend logs to fin

[2021-06-03 04:33] AnuragSharma-MSFT commented on #76318
@jongio Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-03 04:38] SnehaAgrawal-MSFT commented on #76322
@nohanaga Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 04:39] SnehaAgrawal-MSFT commented on #76325
@sethiramicrosoft Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 04:46] krisbock opened #76326 "KeyError: "The name 'Placeholder:0' refers to a Tensor which does not exist. The operation, 'Placeholder', does not exist in the graph.""
Following steps from https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python leads to error "KeyError: "The name 'Placeholder:0' refers to a Tensor which does not exist. The operation, 'Placeholder', does not exist in the graph.".

Looks like some of the internal tensor names in the CV graph have changed?  When I change
input_node = 'Placeholder:0' to in

[2021-06-03 04:48] vineetvikram commented on #76307
Hi @femsulu - Please assign this task to @Vikram1988 .

[2021-06-03 04:52] pksorensen opened #76327 "Storage queue as a deadletter destination"
The document said "Storage queue as a deadletter destination" but the example uses Blob Storage.

Do you have an example of using Storage Queue as the deadletter destination?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bff81eb-b641-b705-8632-52d0857b0e04
* Version Independent ID: 2977b7d3-afba-276b-c74b-a102ffd36cb

[2021-06-03 05:00] GitaraniSharma-MSFT commented on #76117
@jrudlin , could you please confirm the below points:

1.	VPN Clients can access resources in the VNET?
2.	VMs in VNet can access on-prem resources?
3.	There are no address space overlaps in the topology?
4.	Only VPN clients are unable to access resources on-prem (10.0.0.0/8)?

Could you also verify that “branch-to-branch” is enabled in your Route Server?

![image](https://user-images.githubuserco

[2021-06-03 05:03] GitaraniSharma-MSFT commented on #76236
@tshaiman , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@rohinkoul , Could you please provide your insights here?

[2021-06-03 05:24] amanmcse commented on #76142
@acrettaz The graph call you are using looks correct to me. Could you please send an email at AzCommunity[at]Microsoft[dot]Com so that we can schedule a call to look into it.

[2021-06-03 05:39] enkrumah commented on #72927
@SaurabhSharma-MSFT how do i assign this someone else. I am trying to assign it to the SME: viskri-msft

[2021-06-03 05:40] KumudD commented on #13499
@cbellee Closing this issue since the article has been updated. Thanks!

#please-close

[2021-06-03 05:40] #13499 closed

[2021-06-03 05:52] MayankBargali-MSFT commented on #73055
@gfchaves The configuration looks good. Is it possible for you to create the issue in [Microsoft Q&A](https://docs.microsoft.com/answers) with azure-api-management tag so it can be tracked and I can connect with you to assist you further.

[2021-06-03 05:55] GitaraniSharma-MSFT commented on #76317
@AgnesLi666 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-03 05:56] FreddyMcRay commented on #75135
@RyanHill-MSFT I emailed you

[2021-06-03 06:09] dsfrederic opened #76328 "nslookup arbitrary machine"
the nslookup command on an arbitrary machine results in this output
[code]

Is this page still up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60f5b07f-ae8b-3f08-e9eb-616775cf62b8
* Version Independent ID: 9b524717-fbcf-a553-e95a-fb00aac9e086
* Content: [Diagnose private links configuration issues on Azure K

[2021-06-03 06:25] FreddyMcRay commented on #75135
@RyanHill-MSFT I managed to fix that. I removed `/v2.0` from issuer url for back-end authsettings. But anyway documentation is missing.
I'm just wondering why non-documented preview feature is in use by default.

[2021-06-03 06:27] ToruMakabe opened #76329 "Obtaining metadata of properties for each resource type"
Is there any way to obtain metadata of properties for each resource type programmatically? Each resource type has its own properties, so I want to get it from API.

I have not found about it on Azure docs yet, but I think it is possible because Azure Resource Graph Explorer can make a table tree that has the properties,

As stated in [Test-driven development for landing zones in Azure](https://doc

[2021-06-03 06:28] HarshitaSingh-MSFT commented on #76328
Hello @dsfrederic , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-03 06:30] RohitMungi-MSFT commented on #76326
@krisbock Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-06-03 06:39] weiyx16 commented on #51639
Spent lots of time on it..... New to frontend, just to finish a course design.
In my case:
[code]
it works for me. hope it can save time for anyone who needed.

[2021-06-03 06:40] MayankBargali-MSFT commented on #76170
@sammydeprez The link is redirecting to the section "Example" section of the same page. Hope this clears things up.

[2021-06-03 06:45] FreddyMcRay commented on #76111
@SnehaAgrawal-MSFT I managed to fix that. Fron-end app authsettings was not configured due to this issue https://github.com/MicrosoftDocs/azure-docs/issues/76109. I applied @RyanHill-MSFT suggestions and it started to work.
In any case this tutorial needs to be updated (or at least marked as only applicable for authsettings v1) because configuration of authsettingv2 differs a lot.

[2021-06-03 06:50] Svijay-msft commented on #76316
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-03 06:56] KranthiPakala-MSFT commented on #72927
Hi @enkrumah - You can follow this doc to explore about the GitHub hashtag commands - https://review.docs.microsoft.com/en-us/help/onboard/github-issues-automation?branch=master#hashtag-commands-for-managing-issues-with-read-permissions

Thank  you

[2021-06-03 07:11] CHEEKATLAPRADEEP-MSFT commented on #76115
@aamanlamba We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2021-06-03 07:11] #76115 closed

[2021-06-03 07:17] CHEEKATLAPRADEEP-MSFT commented on #76166
@patsql Thanks for the feedback! I have assigned the issue to the content author @chez-charlie  to evaluate and add information about EventGrid integration  in the document.

[2021-06-03 07:19] #76292 closed

[2021-06-03 07:22] tuomastik commented on #59931
@Paandaman I did not find a way to create a versioned pipeline endpoint.
@YutongTie-MSFT Please have a look at this issue.

[2021-06-03 07:22] CHEEKATLAPRADEEP-MSFT commented on #76316
@sunscorch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@leifbro Could you please look into this feedback?

[2021-06-03 07:31] VaclavK opened #76331 "Links for M VM series are pointing to Hana disk storage urls"
I would have expected that these point to their respective VM size link e.g. https://docs.microsoft.com/en-us/azure/virtual-machines/m-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f48bd-e5e9-ebca-e29e-9dec927bc2d3
* Version Independent ID: 2e032831-dbb6-aaf2-15ce-ac072ef36727
* Content: [Select a disk type