[2022-10-31 19:08] kyjones03 opened #100752 "Azure S2S Tunnel Advertises P2S client address pool"
Hello,

The FAQ and other routing documentation does not explicitly state that P2S address pools are advertised in S2S tunnels on the same gateway. This has caused issues with my clients having stable connections through the tunnel. It would be helpful for all future VPN gateway users to know that if they configure a P2S VPN on the same gateway that the routes will include both the virtual network

[2022-10-31 19:28] charleswm opened #100753 "Broken link for managed identity"
In the table of contents on the left, the "Use managed identities for access control" link (https://learn.microsoft.com/en-us/azure/machine-learning/how-to-use-managed-identities) redirects to the "Set up service authentication page"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3ca8dfc-9335-e05d-b225-e53d91cbbb45
*

[2022-10-31 19:28] asudbring commented on #100090
Thank you for the feedback! The entry in the table has been updated.

#please-close

[2022-10-31 19:28] #100090 closed

[2022-10-31 19:31] shlipsey3 commented on #99538
Hello @archmangler,
If you still need assistance, please let us know. Otherwise, I'll close this issue out at the end of the week.

[2022-10-31 19:32] shlipsey3 commented on #90700
This article - and the video in question - are slated to be updated in the next month.

#please-close

[2022-10-31 19:33] #90700 closed

[2022-10-31 19:37] asudbring commented on #99580
Hi @goneill629, thank you for the feedback.  We have specific docs on AKS use with the Private Link Service:

https://learn.microsoft.com/en-us/azure/aks/private-clusters#use-a-private-endpoint-connection

We also have docs on using AKS with an internal load balancer and the Private Link service:
https://learn.microsoft.com/en-us/azure/aks/internal-lb#connect-azure-private-link-service-to-internal

[2022-10-31 19:37] #99580 closed

[2022-10-31 19:43] mikaelweave opened #100754 "No information about Role Assignment required for export"
I would expect this page to inform me about what role assignments are required to perform an export. I don't see any information about this and have been handling questions about this process. Would be great to have this information on the page.

Is only `FHIR Data Exporter` needed or `FHIR Data Reader`/`FHIR Data Contributor` too?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-10-31 19:46] GeethaThatipatri-MSFT commented on #100754
@mikaelweave Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-10-31 19:54] asudbring commented on #99388
Sending to PM for review.  Not sure how to answer this one as we don't have policy defs in our docs.

#reassign@ivapplyr

[2022-10-31 20:02] asudbring commented on #98987
Sending to PM for review on questions and feedback:

#reassign:@ivapplyr

[2022-10-31 20:05] asudbring commented on #98181
Sending to PM for review.

#reassign:@ivapplyr

[2022-10-31 20:11] MarekLani commented on #88926
any progress on this please?

[2022-10-31 20:19] cchapin2020 opened #100756 "SUSE supported version list"
The table that lists the Linux distributions that support the AMA agent includes SUSE Linux Enterprise Server 15 SP2 and earlier as supported versions. The agent will not install on an Azure Marketplace SP 2 image (sles-15-sp2-byos). It is missing a required component insserv-compat, and the extension stays in transitioning state. The documentation should be updated with instructions on how to ins

[2022-10-31 20:32] ssalgadodev commented on #96837
@nbroad1881 Hello! Thanks so much for bringing this to our attention. Any version of the Cuda11 environments should work. Thank you!

[2022-10-31 20:35] #100693 closed

[2022-10-31 20:49] #100546 closed

[2022-10-31 20:51] laujan commented on #100546
Hi @ymukai7, Thank you for your feedback. The Azure Function tutorial code has been updated. Thanks again!

[2022-10-31 20:54] inward-eye commented on #100600
please close the issue
you can set it to any AAD user or group of your choice

[2022-10-31 20:55] AaronMaxwell commented on #99890
Thank you for the feedback. Support for .NET Core is available in public preview. The article is being updated for clarity later tonight. #please-close

[2022-10-31 20:55] #99890 closed

[2022-10-31 21:03] #100527 closed

[2022-10-31 21:06] Nicholak-MS commented on #100498
Hi Cristian,

I was able to reverse lookup what products the MTP service plan exists in and I added to the relevant missing products last week. Please let me know if you discover any additional places where it is missing.

Thanks
Nick

#please-close

[2022-10-31 21:06] #100498 closed

[2022-10-31 21:08] jwisener opened #100758 "Activity.Current is null, code sample has mistakes."
This article's code does not currently work, the     **Activity.Current** currently comes back as null. This is using latest version of azure functions as well as .NET 6. There was an earlier issue from 1.5 years ago that stated the same thing, yet it was "closed as fixed". However, the documentation was never to updated to reflect what it should be used instead of Activity.Current

---
#### Docum

[2022-10-31 21:20] derisen commented on #99903
I believe @cilwerner will eventually own these (?)

@Naveenommi-MSFT feel free to assign this one to me

[2022-10-31 21:22] onionhammer commented on #62154
It seems these have been closed without any resolution..

[2022-10-31 21:23] onionhammer commented on #85021
#please-open ? :D

B2C doesnt appear to work with v1

[2022-10-31 21:26] randywiemer commented on #99903
I think the article can be improved by making clear that the hidden iframe will make use of the browser session cookie to acquire a new authorization code.

[2022-10-31 21:38] wsucoug69 commented on #38772
Not sure why this is seen as an anti-pattern, the options are super limited:

Scenario 1: $$$$$ Best - APIM with VNET -> App Service secured with pvt endpoint and VNET integration
Scenario 2: $$ Better - APIM -> AG -> VNET -> App Service secured with pvt endpoint and VNET integration
Scenario 3: $ Good - AG -> APIM -> App Service w/Public IPs secured with IP Access Restrictions

The alternative Sc

[2022-10-31 21:42] wangyuantao commented on #100597
Can you please sync doc with this python SDK fix? https://github.com/Azure/azure-sdk-for-python/pull/27122

[2022-10-31 21:45] trevor-webster commented on #100179
1. Create a JMeter script that depends on a CSV Data Set Config element and a CSV file.
2.  Verify it runs locally
3.  Follow steps at https://learn.microsoft.com/en-us/azure/load-testing/how-to-read-csv-data?pivots=experience-azp#configure-your-jmeter-script

 - Remove any file path reference as dictated in article

 4. Create Azure load test using JMeter script in (1)
 5. Add CSV file to load te

[2022-10-31 21:51] wangyuantao commented on #99686
@mcasalaina Which summary aspect are you interested most? issue/resolution, chapterTitle or narrative? I can prioritize to write an in-depth article for it.

[2022-10-31 21:52] mulander commented on #100456
Hi @krishjag,

Thanks for reporting back to us!

Unfortunately, this is an oversight on our part. As you correctly pointed out, the exposed user defined function is limited to returning 5000 results. We are now aware that this is an annoying limitation and will be looking into addressing it. The only workaround for now is pruning results with prefix, which is limited for real world use cases.

Wil

[2022-10-31 22:11] ChaitanyaNaykodi-MSFT commented on #100746
@VectorBCO Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-31 22:14] #100746 closed

[2022-10-31 22:15] tigeli commented on #96376
@sercast actually shortpath works just fine on public networks with Palo Alto Firewalls if you enable persistent NAT for DIPP with "set system setting persistent-dipp enable yes". This feature is available at least on PANOS 10.1.6 or 10.1.7 depending on the model.

[2022-10-31 22:15] ChaitanyaNaykodi-MSFT commented on #100752
@MubDubs Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-31 22:21] jadzdtc commented on #100493
Yes this definitely, answers the question and dispel doubts about access to managed identities during region outage.

Nevertheless this piece of information is not easily discoverable, cause not only I, but also my friend failed to google that in 10 minutes. I propose to change question from faq in such way that it contains common search phrases like 'disaster recovery', 'region outage', 'geo-redu

[2022-10-31 22:26] asudbring commented on #98028
Hi @joteromontes!
Thank you for the feedback!  The DNS resolution behavior referenced above will change in a future update to Application Gateway.

#please-close

[2022-10-31 22:26] #98028 closed

[2022-10-31 23:01] drwill-ms opened #100761 "These steps don't work on the latest Ubuntu LTS of 22.04"
It breaks at installing the iotedge from apt-get. It can't get dependencies.

Run `sudo apt-get install aziot-edge` and get an error that it depends on libssl1.1 and libtss2-esys0 but that they are not installable.

What would it take for someone to run IoT Edge on the latest LTS of Ubuntu?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-10-31 23:07] drwill-ms opened #100762 "Steps direct one to configure logs but not sufficiently to avoid a warning later when running `iotedge check`"
Why not prevent that later warning by including the configuration to enable circular logging. After running `iotedge check` and investigating that warning, I was recommended to use the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85f

[2022-10-31 23:15] nadupalliramesh opened #100763 "Where can I find the plug-in for azure blob."
what’s is the recommended OS for this? I am not able to find the input plugin for azure blob.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f342c559-90a2-dfd7-f888-db1f867b5fc2
* Version Independent ID: fde87f05-6c77-3e84-4d98-35c0731b1b31
* Content: [Visualize NSG flow logs - Elastic Stack - Azure Network Watcher](h

[2022-10-31 23:29] apaulro commented on #100713
@Naveenommi-MSFT - it appears that before the data load, the unique constraint is getting dropped during Activity execution, which is causing the data to get loaded with duplicate Primary Key values. Can this behavior be user controlled?

[2022-10-31 23:30] oaas commented on #100077
Any update on this @GitaraniSharma-MSFT  @steveesp ?

[2022-10-31 23:48] psainttulias06 opened #100764 "Defender for Azure Functions"
Under the LT-1 Section. There is a reference for Defender for Azure Functions. We should modify this to Defender for App Services or remove the section so that we don't confuse customers.

-Patrick Saint-Tulias
psainttulias@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2ac0ee57-3659-5a0d-0d4a-f146349589

[2022-11-01 00:00] BobbyD2500 commented on #100384
@AnuragSingh-MSFT I am having the same issue, using multiple Microsoft accounts and different browsers.

[2022-11-01 00:05] BobbyD2500 opened #100765 "Unable to type queries in the Log Analytics demo environment"
The [Log Analytics demo environment](https://portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade) does not allow queries to be typed in the editor. Pre-configured queries can be run, but cannot be loaded into the editor.

I'm not sure if it's related, but the Chrome console shows a  404 error for https://management.azure.com/Demo/savedSearches/?api-version=2017-03-03-preview&excl

[2022-11-01 00:07] WayneAASPLLC opened #100766 "Unable to use ServiceClient with embedded Graph API"
There is an issue with automating an entire environment you want to deploy with Dynamics 365 ServiceClient. It will work if I manually add the app registration both at portal.azure.com and here: (https://admin.powerplatform.microsoft.com/environments/YOURENVIRONMENTIDHERE/appusers)

I have managed to automate app registration for portal.azure.com but I cannot automate the dynamics 365 registration

[2022-11-01 00:12] aditigaur4 opened #100767 "Incorrect description and example values in this documentation"
Hello,

I was going over this page in the documentation, and realized that a couple things mentioned here are either plain wrong or based on information that is no longer valid.

first in the table that mentions "download your usage details" and then has a table describing field, meaning and example values,

the example value of meterId and metersubcategory is switched. A metersubcategory is "virt

[2022-11-01 00:39] jmprieur commented on #100766
@WayneAASPLLC, did you consider using multi-tenant applications?
I'm not familiar with the dynamic portal. do you think it uses Microsoft graph under the hood?

[2022-11-01 00:41] WayneAASPLLC commented on #100766
We want everyone to have their own instance in full.

[2022-11-01 01:02] WayneAASPLLC commented on #100766
I may have found a way to do this with HttpClient... I'll keep you posted but I am still open to suggestions.

[2022-11-01 01:09] mike-urnun-msft commented on #100500
I'm not aware of such a change and it could be so when running _locally_, @cgillum could you confirm?

[2022-11-01 03:02] Rykimaruh opened #100768 "Do Dynamic Device Groups work for conditional access policies?"
Does conditional access also work with azure dynamic device groups as well? I don not see it mentioned specifically in the article, only that it talks about users, but not devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cae7bc92-8489-ff66-9ce0-b4fab08eb7b8
* Version Independent ID: 55dfcb5c-62cd-8485-7d55-de34

[2022-11-01 03:07] RamanathanChinnappan-MSFT commented on #100742
@olavt

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:15] RamanathanChinnappan-MSFT commented on #100743
@JustinCredible-
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:17] RamanathanChinnappan-MSFT commented on #100744
@agray0232

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:19] RamanathanChinnappan-MSFT commented on #100745
@duanecbarb

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:21] RamanathanChinnappan-MSFT commented on #100748
@jkrntx

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:23] RamanathanChinnappan-MSFT commented on #100751
@lirichard
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:31] RamanathanChinnappan-MSFT commented on #100753
@charleswm

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:32] krishnakumar-muthukrishnan commented on #100733
Hi @skyfrk Thanks for reaching out. Unfortunately, our documentation doesn't have more information on specific formatting instructions for glossaries yet. We have a plan in place to have some more information added to help the customers better. So, you can expect to see some changes to the documentation on this soon.

In the meanwhile, to help with your query: if you are using CSV, the first colum

[2022-11-01 03:33] RamanathanChinnappan-MSFT commented on #100756
@cchapin2020

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 03:34] piquet-h commented on #48584
Why was this closed? There's still no documentation for the first example "AlwaysFetchClaimsFromProvider".

[2022-11-01 03:39] AnuragSingh-MSFT commented on #100710
@mag-chang, thank you for the feedback. Custom Location is an ARM resource and does not need `namespace` and `hostresourceid` to be deleted. Our team is working on the doc update.

[2022-11-01 03:39] #100710 closed

[2022-11-01 03:42] VikasPullagura-MSFT commented on #100767
@aditigaur4
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-01 03:43] VikasPullagura-MSFT commented on #100767
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-11-01 04:06] swellhunter opened #100769 "Ok, I'll bite, how do I add a private endpoint to an ASEv3 subnet?"
Any subnet ?
I am unable to add to a subnet occupied exclusively reserved for an ASE?
Is there a way around this ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6b51-585f-4cb3-f1cc53658487
* Version Independent ID: d134edd4-43ba-3f61-334d-7058fcf8d9b0
* Content: [Azure Private Link fre

[2022-11-01 04:25] ramsaisha opened #100770 "#Azure Monitor#Application Insights Status Monitor V2- Not sending data to Azure"
Hi, I have Installed and configured application Insights Status Monitor V2-(PowerShell Module) in an on premise server(Private Internet). [Enable-ApplicationInsights Monitoring] is successful by using connection string and after checking [Get-ApplicationMonitoringStatus] the service state is started but I am not receiving any information in Azure application Insights resource. There are few cases

[2022-11-01 04:25] AjayBathini-MSFT commented on #100407
Hi @arindam0310018
The case was assigned to author working on it.

@msmbaldwin
Could you please update the status of the query

[2022-11-01 04:36] Naveenommi-MSFT commented on #100560
@cveld

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-01 04:37] #100560 closed

[2022-11-01 04:45] SumanthMarigowda commented on #100406
We have API support for SFTP control plane operations:

Local users: [Local Users - REST API (Azure Storage Resource Provider) | Microsoft Learn](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Frest%2Fapi%2Fstoragerp%2Flocal-users&data=05%7C01%7CSumanth.Marigowda%40microsoft.com%7C3ad2d97f500b45db2cef08dab8f99b11%7C72f988bf86f141af91ab2d7cd011db47%7C

[2022-11-01 04:45] #100406 closed

[2022-11-01 04:46] RamanathanChinnappan-MSFT commented on #100758
@jwisener

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 04:49] SumanthMarigowda commented on #100721
@shimon893 This [Microsoft Q&A ](https://learn.microsoft.com/en-us/answers/questions/1066198/how-sftp-is-billed.html)Thread provided detailed information on SFTP billing

If you still have any question I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close

[2022-11-01 04:49] #100721 closed

[2022-11-01 04:52] RamanathanChinnappan-MSFT commented on #100761
@drwill-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 04:54] RamanathanChinnappan-MSFT commented on #100762
@drwill-ms

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 04:56] RamanathanChinnappan-MSFT commented on #100763
@nadupalliramesh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 04:57] RamanathanChinnappan-MSFT commented on #100763
@nadupalliramesh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 04:59] RamanathanChinnappan-MSFT commented on #100764
@psainttulias06

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 05:02] YashikaTyagi-MSFT commented on #100487
@KillerFrost2000
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your iss

[2022-11-01 05:04] #100487 closed

[2022-11-01 05:09] MughundhanRaveendran-MSFT commented on #100615
@TonyGrayCanada , Did you get a chance to look at my previous comment?

[2022-11-01 05:10] MughundhanRaveendran-MSFT commented on #100501
@phatcher , Hope the above comment clarifies your doubt. I will close this issue for now. Feel free to reopen or comment if you have any questions

[2022-11-01 05:10] #100501 closed

[2022-11-01 05:10] SaibabaBalapur-MSFT commented on #100565
@picotron84
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-01 05:10] #100565 closed

[2022-11-01 05:11] MughundhanRaveendran-MSFT commented on #100391
Closing this issue due to lack of response. Feel free to reopen or comment if you have any questions

[2022-11-01 05:11] #100391 closed

[2022-11-01 05:12] nehatiwari1994 commented on #100718
Hi Sadiqh , Please highlight it clearly so there is no confusion. Also, pls confirm once it's done

[2022-11-01 05:14] SaibabaBalapur-MSFT commented on #100639
@rezanid
Closing

[2022-11-01 05:14] #100639 closed

[2022-11-01 05:16] SaibabaBalapur-MSFT commented on #100714
@jyama4ta
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-01 05:19] SaibabaBalapur-MSFT commented on #100736
@sooyoung2022
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-11-01 05:20] RamanathanChinnappan-MSFT commented on #100765
@BobbyD2500

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 05:23] ShotaSugihara opened #100771 "Please add the limitations of the free Linux App Service plan."
If I try to create a second free Linux App Service plan in the same region, I get the following error.

===================
This subscription has reached the limit of 1 Free Linux app service plan(s) it can create in this region. Please choose a different sku or region.
===================

Could you please add the restriction to the document?
The following Q&A also mentions this error.

https://l

[2022-11-01 05:23] RamanathanChinnappan-MSFT commented on #100766
@WayneAASPLLC

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 05:25] GitaraniSharma-MSFT commented on #100769
@swellhunter , thank you for your query. We'll review this and get back to you shortly!

[2022-11-01 05:25] RamanathanChinnappan-MSFT commented on #100768
@Rykimaruh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 05:25] ManoharLakkoju-MSFT commented on #100700
@smuehlst
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-01 05:26] RamanathanChinnappan-MSFT commented on #100770
@ramsaisha

Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-01 05:28] RamanathanChinnappan-MSFT commented on #100771
@ShotaSugihara

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 05:48] SreejaBhattacharya-MSFT commented on #100485
Hi @Masih17 , I don't understand what you mean by any configuration change made by student on DHCP? As far as I understand from your query, it looks like you have enabled DHCP role on your base VM, and have spin up hyper V nested VMs on that base VM. Now, if you make any changes to the DHCP configuration on the base VM, that will affect the hyper V VMs as well.

[2022-11-01 05:54] GitaraniSharma-MSFT commented on #100439
@subodhpatil , We have assigned this to the content owner/author for review.

@cherylmc , I was unable to get an update on this from the PG. Could you please review this and provide some clarification? Thanks!

[2022-11-01 05:55] GitaraniSharma-MSFT commented on #100478
@byte-sizedk , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-01 05:55] #100478 closed

[2022-11-01 05:57] ManoharLakkoju-MSFT commented on #100745
@duanecbarb
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-01 06:08] Naveenommi-MSFT commented on #100708
@MGoedtel

Could you please review this and update as appropriate.

[2022-11-01 06:09] Naveenommi-MSFT commented on #100708
@sathya-rajesh-asokan

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-01 06:10] YashikaTyagi-MSFT commented on #100632
@Amar2810
You can go through following PowerShell scrips to Identify, disable and delete the "Duplicate / Duel "Azure AD Registered" devices".
https://learn.microsoft.com/en-us/azure/active-directory/devices/manage-stale-devices#get-the-list-of-devices
Thank you for your feedback!

If you want to speak with someone directly, I'd recommend working closer with our support team via an [Azure support

[2022-11-01 06:13] Naveenommi-MSFT commented on #100753
@rastala

Could you please review this and update as appropriate.

[2022-11-01 06:13] Naveenommi-MSFT commented on #100753
@charleswm

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-01 06:15] YashikaTyagi-MSFT commented on #100382
@LakshmanAVN
I have reviewed your issue and it is mentioned in the document that "Identifier of this application is a fixed string value so only one instance can be configured in one tenant"
That could possibly the reason behind the error as you are using the same identifier for both prod and non-prod environment.
whether it is possible to create same azure ad enterprise app for a different enviro

[2022-11-01 06:17] YashikaTyagi-MSFT commented on #100632
@MicrosoftGuyJFlo
Kindly take a look at this issue.

[2022-11-01 06:19] YashikaTyagi-MSFT commented on #100505
@pascalgaleazzi
We are going to close this thread as there is no further information on issue but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-01 06:19] #100505 closed

[2022-11-01 06:24] YashikaTyagi-MSFT commented on #100743
@JustinCredible-
We have assigned the issue to author who will provide further updates.

[2022-11-01 06:27] Amar2810 commented on #100632
Hi Team,

Kindly request you to please find the attached email
Please call me on 9767911199

Thanks and Regards

Amar Sakhare, System Support Engineer, CAMBRIO
Pune, Maharashtra 411016, India
Web: www.cambrio.com<http://www.cambrio.com/>

From: YashikaTyagi-MSFT ***@***.***>
Sent: 01 November 2022 11:48
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Amar Sakhare ***@***.***>; Mention ***@***.***>
S

[2022-11-01 06:46] YashikaTyagi-MSFT commented on #100632
@Amar2810
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements
If you want to speak with someone directly. I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-cre

[2022-11-01 07:04] v-amallick commented on #99315
Hi @eric-PBI -

Moving existing MARS, DPM, MABS backups to new vault is currently not supported. You can choose the **Stop-backup with retain data** option to retain old backups in the old vault and *re-register MARS, DPM, MABS* to new vault.

For information about moving recovery points to a new vault for MARS, see [this section](https://learn.microsoft.com/en-us/azure/backup/backup-azure-move-re

[2022-11-01 07:04] #99315 closed

[2022-11-01 07:09] RamanathanChinnappan-MSFT commented on #100631
@bernatagulloesbrina

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-01 07:10] MughundhanRaveendran-MSFT commented on #100722
@michaelelleby
As the blog says, you can plan to upgrade your application to .net 6
https://devblogs.microsoft.com/dotnet/net-core-3-1-will-reach-end-of-support-on-december-13-2022/#update-your-application

[2022-11-01 07:11] JananiRamesh-MSFT commented on #100725
Thanks for getting back @neilmca-inc
It does work please refer below

$context = New-AzApiManagementContext -ResourceGroupName "New" -ServiceName "ARM-apim"
New-AzApiManagementLogger -Context $context -InstrumentationKey 905add9c-4f27-4d56-9626-da6588f229d0 -LoggerId 'test'
$logger = Get-AzApiManagementLogger -Context $context -LoggerId "test"
$samplingsetting = New-AzApiManagementSamplingSetting

[2022-11-01 07:19] SadiqhAhmed-MSFT commented on #100463
@v-ksreedevan Any update?

[2022-11-01 07:22] karataliu opened #100775 "[AKS] Add note on adding user agentpool in cluster creation"
Regarding `System node pools serve the primary purpose of hosting critical system pods such as CoreDNS and metrics-server. `

When user use ARM template to create a cluster with both system+user agentpool. It is possible for coredns and metrics-server pods to be assigned to user agentpool

Please consider add note for this case.
---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-11-01 07:28] RamanathanChinnappan-MSFT commented on #100640
@maneeshbhunwal123

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-01 07:32] alexchen2016 commented on #99757
Thanks for your reply.

[2022-11-01 07:33] rockyzh opened #100776 "incorrect doc"
I think the command of `list` should be `show` in the section of [Show details](https://learn.microsoft.com/en-us/azure/postgresql/migrate/how-to-migrate-single-to-flexible-cli?source=docs#show-details)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9274ba79-2cca-0e8b-8bfa-e3d8ab4fa5e6
* Version Independent ID: 756819

[2022-11-01 07:35] AnuragSingh-MSFT commented on #100716
@Draqun, thank you for the question.
[table() (scope function)](https://learn.microsoft.com/en-us/azure/data-explorer/kusto/query/tablefunction?pivots=azuremonitor) are recognized in Log Analytics workspace only.

When creating log-based alert rule, please use the table name directly as below:

[code]

Please let me know if you have any questions.

[2022-11-01 08:03] v-ksreedevan commented on #100463
@SadiqhAhmed-MSFT,

Following up with the PM.

[2022-11-01 08:04] sgkim99 opened #100777 "Modifications needed for this page"
[Enter feedback here]
https://learn.microsoft.com/en-us/azure/iot-hub/quickstart-control-device?pivots=programming-language-python

This page should include the GitHub page for source reference.
And the file name "SimulatedDevice.py" does NOT exist. Should be SimulatedDeviceSync(or Async).py
Any way the web contents should be checked with the GitHub page.
Thank you for your good tutorial. And look

[2022-11-01 08:19] cveld commented on #100560
@Naveenommi-MSFT I have reviewed both pages. But can't find anything specific about how to resolve my issue.
I.e. I have the Azure RBAC Owner role on the Synapse workspace resource, but when I try to add a Synapse RBAC role I get an unauthorized error as stated in my original post.

[2022-11-01 08:25] alexchen2016 opened #100779 "Remove 2 items"
Hi Writer team,

Please remove "Members can invite" and "Admins and users in the guest inviter role can invite" from "Restrict guest users' default permissions" segment in this article. There are no these options in portal now. See issue https://github.com/MicrosoftDocs/azure-docs/issues/99050 for your reference.

Thanks
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-01 08:26] neilmca-inc commented on #100725
Thank you @JananiRamesh-MSFT I have something working now - :) thanks for you efforts

[2022-11-01 08:26] #100725 closed

[2022-11-01 08:29] RamanathanChinnappan-MSFT commented on #100640
#sign-off

[2022-11-01 08:29] #100640 closed

[2022-11-01 08:40] VanMSFT commented on #100711
Hi @SurbhiAgarwal12 - Thanks for reporting this. I'm fixing the screenshots and instructions.

[2022-11-01 08:42] SwathiDhanwada-MSFT opened #100780 "Update Diagnostic Settings PowerShell Command"
Set-AzDiagnosticSetting is older version command. Update the document to use New-AzDiagnostic Setting.

Reference articles:

- https://learn.microsoft.com/en-us/powershell/module/az.monitor/new-azdiagnosticsettinglogsettingsobject?view=azps-9.0.1
- https://learn.microsoft.com/en-us/powershell/module/az.monitor/new-azdiagnosticsetting?view=azps-9.0.1

---
#### Document Details

⚠ *Do not edit this

[2022-11-01 08:43] SwathiDhanwada-MSFT commented on #100780
@mssaperla Can you please update the document with latest information?

[2022-11-01 09:02] shaktisingh-msft commented on #100776
Hi @rockyzh,

Thanks for sharing this feedback. I have assigned it to the author to check further.

[2022-11-01 09:05] arindam0310018 commented on #99902
Hello @maud-lv
I now see the update.
Thank you again. closing the ticket now.

Regards, Arindam Mitra

[2022-11-01 09:11] arindam0310018 commented on #99902
Hello @maud-lv
Ticket Resolved.
Huge Thanks Team.

Regards, Arindam Mitra

[2022-11-01 09:11] #99902 closed

[2022-11-01 09:27] KapilAnanth-MSFT commented on #100769
@swellhunter , This should help you get started.

[App Service Environment v3 special consideration](https://learn.microsoft.com/en-us/azure/app-service/networking/private-endpoint)
![image](https://user-images.githubusercontent.com/107474080/199202592-7d02f8f1-3390-4d73-b1d7-ef650ee26901.png)

Let me know if you have further questions.

[2022-11-01 09:29] AshokPeddakotla-MSFT commented on #100777
@sgkim99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-01 09:29] SwathiDhanwada-MSFT commented on #100765
@BobbyD2500 Thanks for reaching out. Can you please clear the cache and try to access it in incognito mode or in another browser?

[2022-11-01 09:30] SwathiDhanwada-MSFT commented on #100756
@cchapin2020 Thanks for your feedback.

Assigning to content author @guywi-ms  for review.

[2022-11-01 09:30] #100711 closed

[2022-11-01 09:35] AjayKumar-MSFT commented on #100660
@cephalin,  Requesting your review to see if we can add additional clarity in the doc for Connection Strings info.
We have multiple feedback on this, thank you!

https://github.com/MicrosoftDocs/azure-docs/issues/97514

https://github.com/MicrosoftDocs/azure-docs/issues/89694

https://github.com/MicrosoftDocs/azure-docs/issues/95890

[2022-11-01 09:43] mazharmuneerzn opened #100781 "single Active directory, 2 Adfs servers with 2 Adconnect with 2 UPN"
I had configured an adfs server for one domain in one forest, one ADConnect with upn(user1@abc.com). 
I need to set up two adfs servers for two UPNs (user1@abc.com and user2@xyz.com), as well as two Adconnect, with two mx records in internal and external for two domains and two different public IP addresses. Can you please send me any Microsoft documentation to configure?

# Azure documentation is

[2022-11-01 09:46] Aldermore-RajChidipudi opened #100782 "extra comma in SELECT statement -- Specify multiple files/folders in BULK path"
Hello there,

In the example SELECT statement for "Specify multiple files/folders in BULK path" section, there is an invalid extra comma in after the second file, which should be removed to make it work.

Kind regards
Raj
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ba14424d-3d48-0d79-9d2d-af8c

[2022-11-01 09:49] SadiqhAhmed-MSFT commented on #100704
@gregpakes Closing this thread as no action pending from our end.

[2022-11-01 09:49] #100704 closed

[2022-11-01 10:02] Naveenommi-MSFT commented on #100560
Hi @cveld

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-11-01 10:09] RamanathanChinnappan-MSFT commented on #100634
@bernatagulloesbrina
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-11-01 10:09] #100634 closed

[2022-11-01 10:24] KapilAnanth-MSFT commented on #100549
@kungfudante , since there are no further discussions on this thread, I shall close this.

Please reopen should you have further questions

[2022-11-01 10:24] #100549 closed

[2022-11-01 10:36] #100515 closed

[2022-11-01 10:40] #100673 closed

[2022-11-01 10:42] rgerrits opened #100783 "Error in code to create Policy to restrict VM extensions"
the powershell code in https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/extensions-rmpolicy-howto-ps#create-the-policy uses the paths C:\Users\ContainerAdministrator\clouddrive\rules.json'  and 'C:\Users\ContainerAdministrator\clouddrive\parameters.json'

However those paths no longer are correct. (it is /home/admin/clouddrive/.... now).

Best to replace the code in that example

[2022-11-01 11:00] RamanathanChinnappan-MSFT commented on #100662
@vtitte2020

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-01 11:05] cilwerner commented on #100467
@lucitemple, I've checked with the software team and the package you should use is `@microsoft/microsoft-graph-client`, I've tested the `npm install` and it works, so I will correct that in a pull request which I will link in the next comment.

There's a couple of additional items that need fixing which I will also address, however that's the main hurdle solved for you!

I'll keep the issue open f

[2022-11-01 11:09] Digiroka opened #100785 "downloads should keep up with release notes"
Can you please regularly update the available agent and bootloader links on this page? The available versions linked on this page are very out of date. We need this page in-step with the release notes here: https://learn.microsoft.com/en-us/azure/virtual-desktop/whats-new-agent

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-01 11:23] jamesmkfoo23 opened #100787 "Access token issuance diagram suggested correction"
Referring to https://learn.microsoft.com/en-gb/azure/active-directory/conditional-access/plan-conditional-access?source=docs#access-token-issuance, the flow chart **down arrow** for 3rd box labelled "**access control BLOCK conditions satisfied"** should be modified to "YES" and the **right arrow** should be modified to "NO"

---
#### Document details

⚠ *Do not edit this section. It is required fo

[2022-11-01 11:35] PingPongSet opened #100788 "is the file name, fp.name, guaranteed to be unique"
is the file name, `fp.name`, in the code below guaranteed to be unique, even in a concurrent multi-thread environment?

[code]

http://www.pererikstrandberg.se/blog/index.cgi?page=PythonTemporaryFiles

https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-python?source=recommendations&tabs=asgi%2Capplication-level&pivots=python-mode-configuration#temporary-files

---
#### Doc

[2022-11-01 11:38] kungfudante commented on #100549
Hi @KapilAnanth-MSFT , sorry I forgot to reply during my working hours
I believe our customer has tried with the model, yet permissions for Microsoft.Azure.CertificateRegistration were left
Could you please kindly check that again?

[2022-11-01 11:49] RossTrg opened #100789 "SDK Migration Guide is pointing to an old version"
[Enter feedback here]
This link is old: https://github.com/Azure/azure-sdk-for-net/blob/Azure.AI.Language.QuestionAnswering_1.1.0-beta.1/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/MigrationGuide.md

It should be: https://github.com/Azure/azure-sdk-for-net/blob/Azure.AI.Language.QuestionAnswering_1.1.0/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/MigrationGuide.md

---
#

[2022-11-01 12:17] ElanShudnow opened #100790 "Incorrect Statement"
In regard to this statement, "Private IP address- your workloads are accessible via a private IP address, but within the same VNet as the Application Gateway."

This statement is not accurate.  I have many customers that are using peered VNETs to access their web app via an Application Gateway's Private IP Address without Private Link.  In fact, I just stood up a lab to test this and connectivity

[2022-11-01 12:18] Masih17 commented on #100485
Hi @SreejaBhattacharya-MSFT

I enable the DHCP role on the template but don't install the Hyper-V. Students install the Hyper-V on their Azure lab's machine. They also create a DHCP scope on an "Internal" virtual switch. And this is the configuration that I was talking about. Changes to the DHCP on VM1, (adding a "scope option" for instance), will affect all the VMs in that lab, including the temp

[2022-11-01 12:19] KapilAnanth-MSFT commented on #100549
Hi @kungfudante , I am able to get this working without adding any permission for Microsoft.Azure.CertificateRegistration

It appears this is no longer referring to the document but to a specific scenario. I request you to please post your question on Microsoft Q&A and other forums, we have our engineers and others who are monitoring them and will be happy to help.

[2022-11-01 12:43] mschaffer20 commented on #95373
Is there an article that describes how to enable an azure ad joined computer to access a file share on an on premise active directory.

[2022-11-01 13:30] ToshioMagic commented on #78992
I've spent a week on this issue. What's worse is that for my P1V2 app service server the built in docker run command doesn't even set up port forwarding. And I have no clue how I would even go about changing that. I'm pretty sure I can't. PORT and WEBSITES_PORT does literally nothing.

[2022-11-01 13:54] RamanathanChinnappan-MSFT commented on #100775
@karataliu

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 13:55] RamanathanChinnappan-MSFT commented on #100779
@alexchen2016

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 13:56] tristan-rice opened #100794 "Additional Details - MFA Success"
Greetings!  Under the **Additional Details** section, there's a bullet point for "_If MFA was satisfied_" that says the following:

**- has expired due to the policies configured on tenant**

Can you provide more details about what this additional detail indicates?  We're seeing this in our tenant, but cannot identify the cause or meaning of this message.

Thanks!

---
#### Document Details

⚠ *Do

[2022-11-01 13:58] minidfx commented on #37743
Interesting comments but I heard that using this way, by using the "Grant admin consent button" is a security issue. Do you have more information about that?

Can we bypass the consent screen for any customer that try to connect to a specific application by registering it in the Microsoft app gallery? Is it safer?

For instance: Customer A try to connect to the application B, is the registration i

[2022-11-01 14:00] kleinicke commented on #63857
I have the same issue. I think they are probably just incapable building a usable service ...

[2022-11-01 14:03] DrReedo commented on #100731
@RamanathanChinnappan-MSFT I have discovered that you need to specify the target path based on this documentation here:
https://learn.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-deploy
Can the current documentation be updated in line with this, thank you

[2022-11-01 14:17] kleinicke commented on #63857
As most in azure, it's extremely bad made.
It's not requesting to access your organisations on its own, so you have to got into the GitHub settings and give additional access to it.
In Github go to your settings - applications.
Here you find azure in the OAuth apps.
Under Organization access you can grant it access to certain organisations.

[2022-11-01 14:19] RamanathanChinnappan-MSFT commented on #100781
@mazharmuneerzn

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-01 14:19] PatrickMessierGoC opened #100796 "Missing word"
"You will start to connectivity errors while connecting to your Azure Database for PostgreSQL server."
 Missing word. I guess you meant " You will start to **get** connectivity errors..."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 71dff16a-2df0-0b16-ce8b-5816de789eaa
* Version Independent ID: 8149f5e2-1465-c3ba-37

[2022-11-01 14:31] SumanthMarigowda commented on #99784
@rpalves  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-11-01 14:31] #99784 closed

[2022-11-01 14:34] SumanthMarigowda commented on #99445
@parveen-kumar-1 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/.  We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-01 14:34] #99445 closed

[2022-11-01 14:37] SumanthMarigowda commented on #99432
@ITSTord Do you get any error message or error code?  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will r

[2022-11-01 14:37] #99432 closed

[2022-11-01 14:37] WayneAASPLLC commented on #100766
I have tried the following to mimic the working one, but it still will not POST(0 errors):
[code]
Thoughts?

[2022-11-01 14:41] roMadMike opened #100797 "Documentation correction"
There are multiple references to https://scm.yoursitename.azurewebsites.net/* in the documentation here: https://learn.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-net#application-monitoring-for-azure-app-service-and-aspnet .

As far as I can tell, the correct URL is **yoursitename.scm**.azurewebsites.net.

Thanks,

Mihai

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-11-01 14:42] GitaraniSharma-MSFT commented on #100763
@nadupalliramesh , I'm not sure if I understand your question but below are my inputs:

A Logstash input plugin will obtain the flow logs directly from the storage blob configured for containing the flow logs.

So, you need to install Logstash first following the below:
https://learn.microsoft.com/en-us/azure/network-watcher/network-watcher-visualize-nsg-flow-logs-open-source-tools#install-logstas

[2022-11-01 14:44] cchapin2020 opened #100799 "Need specifications for GPU"
This spec page does not include information on the GPU that is installed on these systems. Please update the page to include this component.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6b3ac071-f7cd-28bf-8d01-7ed503be1904
* Version Independent ID: b8e0daa0-dd7a-aafc-26ee-f3b46042a0e4
* Content: [Microsoft Azure Sta

[2022-11-01 15:02] RamanathanChinnappan-MSFT commented on #100782
@Aldermore-RajChidipudi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:04] RamanathanChinnappan-MSFT commented on #100783
@rgerrits

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:12] WayneAASPLLC commented on #100766
I managed to get an error out of this. What is the proper POST for systemusers?
`{"error":{"code":"0x0","message":"Error identified in Payload provided by the user for Entity :'systemusers', For more information on this error please follow this help link https://go.microsoft.com/fwlink/?linkid=2195293  ---->  InnerException : Microsoft.OData.ODataException: An unexpected 'StartArray' node was foun

[2022-11-01 15:20] MicrosoftGuyJFlo commented on #100645
From our support team.

Dsregcmd has always been able to run as a non-admin. The purpose was to show the PRT status for a user.
Newer builds of Windows allow admins to perform leaves and joins. Running in System context can be done using psexec.

If this is still an issue I would recommend opening a support case so that our support teams can further troubleshoot with you.

#please-close

[2022-11-01 15:21] #100645 closed

[2022-11-01 15:31] RamanathanChinnappan-MSFT commented on #100785
@Digiroka

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:34] RamanathanChinnappan-MSFT commented on #100787
@jamesmkfoo23

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:36] #100700 closed

[2022-11-01 15:43] RamanathanChinnappan-MSFT commented on #100788
@PingPongSet

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:46] WayneAASPLLC commented on #100766
I have gotten the error down to but just adding ToString to newappuser. PostAsJsonAsync apparently wanted it to be a string instead of a jobject:
[code]

[2022-11-01 15:47] MicrosoftGuyJFlo commented on #100509
@SanDeo-MSFT Any thoughts on the removal of AdSyncPrep.psm1?

[2022-11-01 15:49] RamanathanChinnappan-MSFT commented on #100796
@PatrickMessierGoC

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:50] RamanathanChinnappan-MSFT commented on #100797
@roMadMike

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 15:54] RamanathanChinnappan-MSFT commented on #100799
@cchapin2020

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 16:12] SadiqhAhmed-MSFT commented on #99600
@v-pgaddala For visibility

[2022-11-01 16:29] #100630 closed

[2022-11-01 16:35] WayneAASPLLC commented on #100766
another one after fixing all of that:
[code]

[2022-11-01 16:39] v-albemi commented on #48584
Note that this closed 2.5 years ago.

It looks like it closed automatically when I merged https://github.com/MicrosoftDocs/azure-docs-pr/pull/105814. The two PRs might have been linked.

[2022-11-01 16:40] LT-avala opened #100804 "Awkward phrasing in Set up max workers within a language worker process section"
The line "For I/O-bound apps, you should see substantial gains by increasing the number of threads working on each invocation. the recommendation is to start with the **Python default - the number of cores + 4** and then tweak based on the throughput values you're seeing." is confusing the way it's formatted.

This reads as three separate values [ Python default, number of cores, 4].  Three data e

[2022-11-01 16:42] karineip opened #100805 "MATCH query documentation clarifications needed"
[Enter feedback here]
On the MATCH query doc page, clarification around the following would be useful for customers:

-  Doc says "MATCH supports any query that finds a path between twins with an unpredictable number of hops, based on certain relationship conditions."
    - Unpredictable is a bit confusing, as users need to know the number of hops or suggest a range

- In the examples of this sect

[2022-11-01 16:42] dereklegenzoff commented on #98469
Apologies for the delayed response @danglund - I wanted to make sure I got you the right answer.

For ascii characters, we use the default ascii sort order which you can see here: https://en.wikipedia.org/wiki/ASCII#Printable_characters (look at the decimal or # column)

For non-ascii characters, we use the default unicode sort order which you can see here: https://en.wikipedia.org/wiki/List_of_Un

[2022-11-01 16:50] derisen commented on #99903
@randywiemer thanks for bringing this to attention. I've reworded this for clarity [here](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216747). You can find more about token renewal process [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md#token-renewal). Let us know if you have further issues!

[2022-11-01 16:55] v-amallick commented on #100648
@MmAtBosch - Thanks for pointing it out. We have updated the article in private PR #[216749](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216749); the updates will be live soon, As the doc update is complete. closing this issue ( #please-close ).

[2022-11-01 16:55] #100648 closed

[2022-11-01 16:57] RamanathanChinnappan-MSFT commented on #100804
@LT-avala

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 16:59] RamanathanChinnappan-MSFT commented on #100805
@karineip

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-01 17:00] cynthn commented on #100736
@DavidBerg-MSFT Is this something we can provide? Thanks!

[2022-11-01 17:02] Ashi-Sunnam opened #100806 "Please update the missing information about snapshot retention on this public article"
I am a dedicated  Engineer for Application Insights at Microsoft Canada.

I was working on a case recently where a customer is looking to identify the changes that happened over 20 days ago. Currently, ARG keeps snapshot history of tracked resources only for 14 days. So any changes made over 14 days cant be tracked.

Please make this information available on our public article as it is currently m

[2022-11-01 17:08] PatAltimore commented on #100691
Hi @drwill-ms , Thanks for the feedback.

Adding @bishal41 ,

Hi @bishal41, do you have any additional guidance on the restart container engine step mentioned in the feedback?  I saw you added the local logging driver section back in April. Can we add the command to restart?

It is confusing because it's in the moby install section. Is it specific to the moby engine?

Thanks,
Pat

[2022-11-01 17:15] rp-msft opened #100807 "Fix comment for services certificate update"
[Enter feedback here]

1) This note at the ends of the doc needs to be corrected, what does it mean by "you might need to" ?
2) Also add details with an example of how do to this for cx reference.

-----------------------
 Note

If you have any services that run on top of AKS, you might need to update their certificates.
-----------------------
---
#### Document Details

⚠ *Do not edit this sectio

[2022-11-01 17:19] jlichwa commented on #100465
@FabianGonzalez-MSFT it looks good Fabian. We reviewed it. Just backlog of items we have to go through.

[2022-11-01 17:21] #99903 closed

[2022-11-01 17:22] WayneAASPLLC commented on #100766
I have figured out how to fix all these errors and more, no longer needed. However, it takes around 300+ lines of code when ServiceClient should be able to handle all this. At this point, I recommend it as a feature, so the standard way mentioned in docs works as is, issue is resolved though.

[2022-11-01 17:22] drwill-ms opened #100808 "Instructions don't say to login to ACR using az cli"
Here's [another tutorial](https://learn.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module?view=iotedge-1.4#build-and-push-your-module) that says to login.

This one just says to put the creds in the .env file, which I did, but still got an auth error:

After running this command in the terminal, a build/push of the Edge solution worked:

[code]

---
#### Document Details

⚠ *Do not edit th

[2022-11-01 17:24] MicrosoftGuyJFlo commented on #100768
#reassign:@MicrosoftGuyJFlo

[2022-11-01 17:24] hmenchaca opened #100809 "Can you please update the SAML SSO documentation with the new UI format of the Atlassian organizations?"
Hello MS Team!

My name is Hector Menchaca from the Atlassian Cloud support team - Atlassian released the Multiple Identity Providers feature on August 3rd, 2022 - https://community.atlassian.com/t5/Enterprise-articles/Multiple-identity-provider-support-now-available-in-Cloud/ba-p/2093719 - and still the MS documentation has not been updated with the new UI options :(

Can you please help us to up

[2022-11-01 17:25] duongau commented on #99941
Hello @VerusLee, apologies on the delay response. Can you please explain exactly what you would like updated in the FAQ? I can see where *.teams.microsoft.com is supported with ER in another article and I also see we already have CDN/Front Door listed as not supported over Microsoft peering in the FAQ.

[2022-11-01 17:26] jarredm-demo opened #100810 "Please clarify backup encryption vs. TDE"
Document refers to encryption of backups by certificate - a contrast should be made with TDE so that customers do not confuse the two.  If Transparent Data Encryption is being performed, then the article needs to specify what keys/encryption can or cannot be available on the database before setting the backups to be encrypted, as some types (encryption by certificate) return an error.

---
#### Do

[2022-11-01 17:28] MicrosoftGuyJFlo commented on #100768
No, you cannot address devices using dynamic groups. Best bet is to use [Filters for Devices](https://learn.microsoft.com/azure/active-directory/conditional-access/concept-condition-filters-for-devices).

#please-close

[2022-11-01 17:28] #100768 closed

[2022-11-01 17:43] tony-box opened #100812 "Additonal clarification on implications of disabling a WAF rule"
This may be unnecessary because it seems obvious, but in working with a customer, there was a question as to whether a disabled WAF rule will increment the Anomaly score. We were seeing a behavior where the anomaly score appeard to increment despite the WAF rule being disabled. We could not find documentation that explicitly confirmed the inteded behavior one way or another.

I confirmed with the

[2022-11-01 17:45] spelluru commented on #100009
The new Azure.Messaging.ServiceBus sample is in a different repo:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample00_AuthenticateClient.md

[2022-11-01 17:46] harrdou opened #100813 "Document the injected headers for OpenID providers"
Can you please also document the request headers that are injected for tokens issued by an OpenID provider?

Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e194e752-fc11-446c-e043-31311238edca
* Version Independent ID: 52455ec5-3a4c-f256-05db-dec0dac6c9eb
* Content: [OAuth tokens in AuthN/AuthZ - Azure App Service

[2022-11-01 17:54] kengaderdus opened #100814 "Node.js with Azure portal does not work"
I'm deploying a node app as explained in the doc but it doesn't work. URL loads forever.

I'm using the Azure portal option.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 298b87f4-b6eb-5642-7ab5-cd6df709390d
* Version Independent ID: 0518cce4-7677-6d63-979d-e0a9e532efc0
* Content: [Quickstart: Create a Node.js web ap

[2022-11-01 17:54] spelluru commented on #100009
Hi @alvipeo - I will work with our SDK dev to update the link. The current link to points to a samples that uses the deprecated Microsoft.Azure.ServiceBus package. Samples for using the newer Azure.Messaging.ServiceBus package are at: https://learn.microsoft.com/en-us/samples/azure/azure-sdk-for-net/azuremessagingservicebus-samples/. Please checkout the **Crud Operations** sample. Thanks.

[2022-11-01 18:03] AaronMaxwell commented on #100281
@olavt Thank you so much for the feedback and your dedication to our documentation.

I've tracked down the PR history that led us to this point and reached out to the PM owner for clarity.

[2022-11-01 18:14] hhunter-ms commented on #100806
#assign:hhunter-ms

[2022-11-01 18:21] fmokren opened #100815 "No documentation for DFExecutorUserError"
Got an error 'DFExecutorUserError'. Next to it was a link to this document. The error is not documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ba4150f3-3111-ff4c-f311-c90c6763b252
* Version Independent ID: 533b78a9-f139-2f57-4945-e34bd27e2e9f
* Content: [Troubleshoot mapping data flows - Azure Data F

[2022-11-01 18:24] andrePKI opened #100816 "lacat - improved version improved"
Hi, I am the author of the "improved" lacat and I have version with a linked C library for even more speed (tested on RHEL 7.9) as well.
This version also reads newer Arcsight archive dat files (which have different compression method).
I would like to update that (have it  updated) on github - but I don't know how. Can you help?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-11-01 18:30] andrePKI opened #100817 "?? Logstash runs only on Windows machines. ??"
This is an odd statement on the page. Logstash is also available for Linux and MacOS. In fact, the page with detailed instructions covers Linux...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 742ec139-d425-cc82-67d0-0cc886253ac4
* Version Independent ID: df24c1ac-aa86-288a-f52d-ff0889586717
* Content: [Microsoft Sen

[2022-11-01 18:31] spelluru commented on #99202
@msmbaldwin - Could you please look into this issue? Thanks!

[2022-11-01 18:43] crankyroadkill opened #100818 "customers can't get to this doc"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

[Enter feedback here]
doc is still in "review" stage for several months now. customers can't get to this doc.  There is a learn more link to it in the Azure portal for this feature and the link doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn

[2022-11-01 18:52] tomasvanpottelbergh opened #100819 "Scoring script to access Azure resource can be simplified"
The code snippet in the [Scoring script to access Azure resource
](https://learn.microsoft.com/en-us/azure/machine-learning/how-to-access-resources-from-endpoints-managed-identities?tabs=user-identity-python#scoring-script-to-access-azure-resource) section is unnecessarily complex.

Instead of calling the APIs manually using `requests`, the Azure Python SDK can be used to obtain the token:

[code]

[2022-11-01 18:55] IyshwaryaK opened #100820 "Object Detection Tensorflow Model"
Hi,
Found the documentation on how to run it for a object classification Tensorflow model, when this page was used as a reference, it didn't work out showing the following error, please help with the same:

"Couldn't find classification output layer:"
"Verify this a model exported from an Object Detection project."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-01 19:12] MicrosoftGuyJFlo commented on #100509
Email out to PG.

This appears to have been removed in the following version release notes. https://learn.microsoft.com/azure/active-directory/hybrid/reference-connect-version-history#2030

[2022-11-01 19:13] ronsanchez-ms opened #100821 "Typo Fix"
[https://learn.microsoft.com/en-us/security/benchmark/azure/mcsb-identity-management
(and service principles) should be (and service principals)]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 28d13bd5-9349-cc50-40c5-3b5c7b4b2126
* Version Independent ID: 2386c444-4349-1a2e-a547-6ca1bece6434
* Content: [Overview of th

[2022-11-01 19:30] ronsanchez-ms opened #100822 "Typo Fix"
[https://learn.microsoft.com/en-us/security/benchmark/azure/overview#recommendations-in-microsoft-cloud-security-benchmark](url)

Bullet Point 9: "Implementation and **_addition_** context:" I believe was meant to be "Implementation and **_additional_** context:"]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 28d13bd

[2022-11-01 19:32] juliakm commented on #91019
#please-close

Closing this because it is a product issue and not a documentation one right now.

[2022-11-01 19:33] juliakm commented on #90227
#please-close

Closing this because it is a product issue and not a documentation one right now.

[2022-11-01 19:33] #90227 closed

[2022-11-01 19:33] msmbaldwin commented on #100821
Thanks, @ronsanchez-ms.  I made this fix.  #please-close

[2022-11-01 19:33] #100821 closed

[2022-11-01 19:44] sooyoung2022 commented on #100736
Actually, I tried to run CoreMark against HC44rs by following the instructions on https://learn.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores#running-coremark-on-azure-vms, with "make XFLAGS="-DMULTITHREAD=44 - DUSE_PTHREAD", but failed with the following messages:
make XCFLAGS='-DMULTITHREAD=44 -DUSE_PTHREAD'
make XCFLAGS='-DMULTITHREAD=44 -DUSE_PTHREAD -DPERFORMANCE_R

[2022-11-01 20:08] daveinci opened #100823 "az cli operation-abort not a valid command"
[Enter feedback here]
running 'az aks operation-abort' or 'az aks nodepool operation-abort' in version 2.41.0 and 2.42.0 reports command not recognized. This docs page as well as aka.ms/cli_ref indicate this is a valid and current acceptable command.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7079238b-faf5-7718-cd

[2022-11-01 20:21] dorusstevens1 opened #100824 "Include the required Signing option"
In the Configure Azure AD SSO section, instructions for setting the required Signing option (Sign SAML response and assertion), should be included.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 513800df-369d-4b1b-51cf-38db88eec5f5
* Version Independent ID: 35d2e3e2-b841-f1c6-d700-5dd20a5e2659
* Content: [Tutorial: Azu

[2022-11-01 20:24] EMaher commented on #100485
Hi @Masih17 ,

I'm assuming you are the same person that posted the [nested virtualization issue in lab services](https://techcommunity.microsoft.com/t5/azure-lab-services/nested-virtualization-issue-in-lab-services/m-p/3657837/highlight/false#M380)?  Is that correct?  Let's discuss what you're trying to accomplish over there.

FYI @SreejaBhattacharya-MSFT , As I wrote this article initially, I ca

[2022-11-01 20:24] JohnD76 opened #100825 "Misleading and ambiguous section due to missing diagram."
[Enter feedback here]
The following section is really misleading since the only diagram on the page shows that Asg Logic and AsgDB are in the same vnet but in different subnets within the same vnet, which is matched under the first point.

You really need to include another diagram with Asglogic and Asgdb in different vnets (diagram 2) and reference this in the section below.

"If you specify an a

[2022-11-01 20:33] cephalin commented on #100660
@btardif I repro the failure when running `az webapp config connection-string set --resource-group <group-name> --name <app-name> --settings "@fileName.json"`. Can you please take a look? the app setting equivalent succeeds.

[2022-11-01 20:39] #100745 closed

[2022-11-01 20:41] JimacoMS4 commented on #87203
#reassign:kgremban

[2022-11-01 20:41] AaronMaxwell commented on #100065
@sridharanprasanna Thank you for your dedication to our documentation. You are 100% correct in that the instrumentation key does not change when migrating from a Classic to a Workspace-based resource. I will update the article with a note accordingly.

[2022-11-01 20:43] DavidBerg-MSFT commented on #100736
@sooyoung2022 - sorry you ran into this issue.  We just recently ran into the same issue in our internal testing and didn't have a chance to update the documentation yet.  The problem is discussed in https://github.com/eembc/coremark/issues/25, specifically the PThread library isn't being linked by default, the steps to do that are outlined in the github issue.

We've not yet been able to figure o

[2022-11-01 20:45] JimacoMS4 commented on #57082
#reassign:kgremban

[2022-11-01 20:56] amsliu commented on #78053
@pwmusic Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-01 20:57] #78053 closed

[2022-11-01 21:02] AaronMaxwell commented on #100281
The appsettings.json configuration file may be used in the same manner as ApplicationInsights.config. This has been clarified and a link provided to the .NET Core documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/216800 #please-close

[2022-11-01 21:02] #100281 closed

[2022-11-01 21:08] VitalyMCT opened #100827 "Azure DevOps Hosted Agent"
From Prerequisites => Azure DevOps:

However, a few paragraphs down, in Prerequisites => Azure Synapse Analytics, only the self-hosted option is described.

Can the article be clarified to explain the prerequisites needed to deploy with hosted agents?

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: de000363-1626-b5b3-2

[2022-11-01 21:10] tulikapgit opened #100828 "Screenshot needs updating"
The Screenshot shown here https://learn.microsoft.com/en-us/azure/storage/common/storage-initiate-account-failover?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-portal#initiate-the-failover is an old one. It needs updating as the option to initiate failover is under Data management - Redundancy now.

<img width="959" alt="image" src="https://user-images.githubusercontent.com/90724728/199342

[2022-11-01 21:12] dereklegenzoff commented on #98469
Just merged a PR to add a paragraph to the doc linked in this issue. The update should be visible in the next day or so.

Thanks again for flagging this @danglund!

#please-close

[2022-11-01 21:12] #98469 closed

[2022-11-01 21:24] msmbaldwin commented on #98727
Hi, @sudharsonan. Sorry the link was broken. You should now be able to see the full excel file at https://github.com/MicrosoftDocs/SecurityBenchmarks/tree/master/Azure%20Offer%20Security%20Baselines/3.0/azure-vmware-solution-azure-security-benchmark-v3-latest-security-baseline.xlsx.  Thanks for calling this to our attention -- we appreciate it. #please-close

[2022-11-01 21:24] #98727 closed

[2022-11-01 21:25] baanders commented on #100805
Thanks @karineip for the suggestions!
I'm implementing them in these pull requests:

* [Doc pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216801) -- Changed the phrase "unpredictable number of hops" to "within a range of hops"
* [Sample code pull request](https://github.com/Azure-Samples/digital-twins-docs-code/pull/51) -- Changed `SELECT *` to `SELECT <specific-collection-name

[2022-11-01 21:25] #100805 closed

[2022-11-01 21:26] JimThorstad opened #100829 "Include another use case for VNET Injection in the list up top"
I'm told by a Databricks UC specialist that using the recommended managed identity method for creation of the Unity Catalog metastore will only work if the connected Workspace is using VNET Injection. I found that answering "No" to the Networking question "Deploy Azure Databricks workspace in your own Virtual Network" when creating a Workspace will lead to error messages when trying to create a ma

[2022-11-01 21:38] AaronMaxwell commented on #100065
https://github.com/MicrosoftDocs/azure-docs-pr/pull/216809 #please-close

[2022-11-01 21:38] #100065 closed

[2022-11-01 21:39] ChaitanyaNaykodi-MSFT commented on #100825
@JohnD76
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-01 21:45] SladMSFT opened #100830 "Page needs update with correct link for PE"
[Our documentation shows that link needed after create PE is .siterecovery.windowsazure.com, however when the actual link needed is privatelink.siterecovery.windowsazure.com. This can also be seen in the screenshot above the link. Please fix this issue.
![privatelink](https://user-images.githubusercontent.com/79335806/199347691-18662d79-9830-4357-8de9-b2c14533d038.png)
]

---
#### Document Details

[2022-11-01 21:48] jonwbstr commented on #99969
@tfitzmac that is not correct,
I moved a VPN gateway containing a standard IP attached to VPN gateway SKU: VpnGw1.

I also moved several machines with Public IPs assigned standard IPs, without disassociating the IP address

[2022-11-01 21:48] rihoughton opened #100831 "The error message says this document should answer why I am getting the error. It does not."
![image](https://user-images.githubusercontent.com/99290906/199348000-8ff3ed93-a243-4ecc-8486-f62335951f54.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bf2d3f7f-74d8-6a2f-e662-7d437d0c1043
* Version Independent ID: 0638247c-2b9e-68e4-e54d-66f1918a9fa0
* Content: [Azure Data Factory - Frequently asked questions

[2022-11-01 21:48] jonwbstr commented on #99969
Moving IPs between regions is still hard, but moving resources using standard IPs has gotten easier

[2022-11-01 21:49] tulikapgit opened #100832 "Wrong cli command"
The Azure CLI command in the article here https://learn.microsoft.com/en-us/azure/storage/common/storage-initiate-account-failover?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-cli&tryIt=true&source=docs#initiate-the-failover is not right.
The correct one is: az storage account show -n storageaccountname --expand geoReplicationStats

---
#### Document Details

⚠ *Do not edit this section. I

[2022-11-01 21:58] ChaitanyaNaykodi-MSFT commented on #100812
@tony-box Thank you for your feedback! We will review and update as appropriate.

[2022-11-01 22:05] hailugebru opened #100833 "The ADO implementation does not work"
Hello,

After the implementation of all the steps of CI/CD with ADO, the created artifacts are not pulled by the Flux Agent and the deployment is not successful. To give more context, the manifest files are created in the gitops repo after the CI but never deployed to AKS

However, after making some changes on the GitHub alternative mentioned in the doc, the pods are deployed.

Please let me know

[2022-11-01 22:08] AaronMaxwell commented on #100495
Thanks for your dedication to our documentation. This issue has been triaged and approved.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/216819 #please-close

[2022-11-01 22:25] tamram commented on #99485
@brettmillerb - The Azure Storage team won't be officially supporting this, but the Azure Cosmos DB team may take it up if there's sufficient community interest. They have asked that you submit this request at https://feedback.azure.com/ so that you can track it.

#please-close

[2022-11-01 22:26] #99485 closed

[2022-11-01 22:28] tamram commented on #96395
@pinyuko - It's been added by @b-ahibbard: https://github.com/MicrosoftDocs/azure-docs/commit/e9603778536049af3a6994ecb76cc276a88ff6f4

#please-close

[2022-11-01 22:28] #96395 closed

[2022-11-01 22:32] sfsie-illu commented on #44802
I'm seeing the same issue

[2022-11-01 22:41] asudbring commented on #96102
@trstroem, thank you for your feedback.  I have created the below PR to add Logic Apps to the list:

https://github.com/MicrosoftDocs/azure-docs/issues/96102

#please-close

[2022-11-01 22:41] #96102 closed

[2022-11-01 22:44] JimacoMS4 commented on #93642
Hi @joshbinney -- just FYI, the topic has been updated with C# as well as our other SDK languages: https://learn.microsoft.com/en-us/azure/iot-dps/how-to-legacy-device-symm-key?tabs=windows&pivots=programming-language-csharp.

Thanks, again, for your feedback!

Jimaco

[2022-11-01 22:46] Heidilohr commented on #98158
We've addressed this issue in an upcoming documentation change that should go live tomorrow. #please-close

[2022-11-01 22:46] #98158 closed

[2022-11-01 23:02] joshbinney commented on #93642
Awesome, thanks for the update!

On Wed, Nov 2, 2022 at 11:45 AM Jimaco Brannian ***@***.***>
wrote:

[2022-11-01 23:17] JimacoMS4 commented on #93642
You're welcome!

[2022-11-01 23:51] sooyoung2022 commented on #100736
@DavidBerg-MSFT, Thank you for your kind updates. Can you also let me know exactly in which core_portme.mak I need to add '-lpthread' to LFLAGS_END. I see there are several core_portme.maks:
./rtems/core_portme.mak
./barebones/core_portme.mak
./linux/core_portme.mak
./cygwin/core_portme.mak
./freebsd/core_portme.mak
./simple/core_portme.mak
./posix/core_portme.mak
./macos/core_portme.mak

[2022-11-01 23:57] PatAltimore commented on #100691
Hi @drwill-ms ,

You can use `systemctl restart docker` for moby. I added the command to the docs. It should publish soon. I'm going to close the issue.

Thanks,
Pat

#please-close

[2022-11-01 23:57] #100691 closed

[2022-11-02 00:19] eric-urban commented on #100689
@YashGohel21 @2fersen -

Are you using Windows 11? There is a known issue introduced by some security updates October 12th that might cause connectivity issues using the TTS endpoints. There is an out of band update available for Windows 11 that fixes these issues. The update may be manually installed by following the instructions here:

- Windows 11 21H2: https://support.microsoft.com/topic/octob

[2022-11-02 00:20] eric-urban commented on #100314
#please-close

[2022-11-02 00:20] #100314 closed

[2022-11-02 00:26] eric-urban commented on #100599
@maggiojoe2 - Do you still need help, or is this general feedback on the documentation? Either way we appreciate it, but I want to clarify that for support please see the [support and help options](https://learn.microsoft.com/azure/cognitive-services/cognitive-services-support-options?context=%2Fazure%2Fcognitive-services%2Fspeech-service%2Fcontext%2Fcontext). Thanks!

[2022-11-02 00:39] maggiojoe2 commented on #100599
This is feedback, I was able to find what I needed by searching through the code for a while. Just thought it should also be in the documentation. Thank you.

[2022-11-02 01:32] amcamillo opened #100837 "Add an entry for MS Defender Threat Intelligence Integration"
Add an entry for MS Defender Threat Intelligence Integration
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b75207ad-9ac9-d2e6-77d2-4f9b49eb6486
* Version Independent ID: 21142ecb-380f-331a-3873-12c8b975759c
* Content: [Threat intelligence integration in Microsoft Sentinel](https://learn.microsoft.com/en-us/Azure/senti

[2022-11-02 01:34] mike-urnun-msft commented on #100500
@imanabidi Hope the answer above brings clarity.

Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-11-02 01:34] #100500 closed

[2022-11-02 01:40] Grace-MacJones-MSFT commented on #100656
Hi @mmichaels1970, thanks for your patience. You can turn on `DeliveryReports` for SMS events by using the optional parameter "enableDeliveryReport" and set it to true when sending SMS. There's some documentation here: [Quickstart - Send an SMS message - Azure Communication Services | Microsoft Learn](https://learn.microsoft.com/en-us/azure/communication-services/quickstarts/sms/send?tabs=windows&

[2022-11-02 01:48] WayneAASPLLC commented on #100766
I did find a way with this in ServiceClient but it is the way everyone does not recommend for some reason. I'm using username/pass, but it has a login prompt, so the password is not saved. It is very secure, and the person just needs to be a system user which every company will likely already have.

[2022-11-02 01:48] #100766 closed

[2022-11-02 02:51] JasonWHowell commented on #100782
#label:doc-bug

[2022-11-02 02:52] JasonWHowell commented on #100782
#label:"doc-bug"

[2022-11-02 02:52] JasonWHowell commented on #100519
#label:"doc-bug"

[2022-11-02 02:53] JasonWHowell commented on #100519
@SnehaGunda the main quickstart is broken. Could be due to a recent change in public security on the blob storage container.

[2022-11-02 02:53] JasonWHowell commented on #100519
Related to #100156
#label:"doc-bug"

[2022-11-02 02:55] JasonWHowell commented on #99749
#label:"doc-bug"
Similar problems in #100519 and #100156 and #99749

[2022-11-02 02:59] JasonWHowell commented on #100782
Fixing it now. Should publish overnight. Thanks for the feedback!

[2022-11-02 03:01] JasonWHowell commented on #100156
#label:"doc-bug"

[2022-11-02 03:02] JasonWHowell commented on #100156
@snehagunda there are several blob accounts impacted.

[2022-11-02 03:03] shohei1029 commented on #100819
#assign:shohei1029

[2022-11-02 03:06] SaibabaBalapur-MSFT commented on #100651
@alexbadia1
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-02 03:06] #100651 closed

[2022-11-02 03:06] RamanathanChinnappan-MSFT commented on #100806
@Ashi-Sunnam

Thanks for your feedback! We will investigate and update as appropriate.

 We have assigned the issue to author and will provide further updates.

[2022-11-02 03:06] shohei1029 commented on #100819
Thanks for raising this. We're checking...

[2022-11-02 03:06] SaibabaBalapur-MSFT commented on #100687
@Starr79
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-02 03:06] #100687 closed

[2022-11-02 03:12] VikasPullagura-MSFT commented on #100807
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-02 03:12] VikasPullagura-MSFT commented on #100807
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 03:13] #100782 closed

[2022-11-02 03:13] VikasPullagura-MSFT commented on #100810
@jarredm-demo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-02 03:13] VikasPullagura-MSFT commented on #100810
@bluefooted
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 03:15] asudbring commented on #99367
@andyjballgit Thanks for your feedback! Added a question to FAQ.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/216838

#please-close

[2022-11-02 03:15] #99367 closed

[2022-11-02 03:15] VikasPullagura-MSFT commented on #100823
@daveinci
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-02 03:15] VikasPullagura-MSFT commented on #100823
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 03:24] asudbring commented on #100152
Thanks @adstuart for your feedback!

Fixed incorrect regions in table.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/216842

#please-close

[2022-11-02 03:24] #100152 closed

[2022-11-02 03:25] RamanathanChinnappan-MSFT commented on #100782
#sign-off

[2022-11-02 03:28] RamanathanChinnappan-MSFT commented on #100808
@drwill-ms

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 03:30] RamanathanChinnappan-MSFT commented on #100809
@hmenchaca

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 03:37] ManoharLakkoju-MSFT commented on #100822
@ronsanchez-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:02] AjayBathini-MSFT commented on #100822
@ronsanchez-ms
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-02 04:05] AjayBathini-MSFT commented on #100623
@sakthi-7699
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-02 04:05] #100623 closed

[2022-11-02 04:11] AjayKumar-MSFT commented on #100814
@kengaderdus,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-11-02 04:31] Naveenommi-MSFT commented on #100813
@harrdou

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:33] Naveenommi-MSFT commented on #100815
@fmokren

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:35] Naveenommi-MSFT commented on #100816
@andrePKI

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:36] ManoharLakkoju-MSFT commented on #100799
@alkohli
Thanks for your inputs

@cchapin2020
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-02 04:36] Naveenommi-MSFT commented on #100817
@andrePKI

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:38] ManoharLakkoju-MSFT commented on #100809
@hmenchaca
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jeevansd
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 04:39] Naveenommi-MSFT commented on #100818
@crankyroadkill

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:42] Naveenommi-MSFT commented on #100819
@tomasvanpottelbergh

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-02 04:42] Naveenommi-MSFT commented on #100819
Hi @shohei1029

Thank you for your response.

[2022-11-02 04:45] Naveenommi-MSFT commented on #100820
@IyshwaryaK

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 04:46] ManoharLakkoju-MSFT commented on #100816
@andrePKI
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-11-02 04:46] SnehaAgrawal-MSFT commented on #100602
@craigbeeremct Thanks again for the feedback! The PR has been created once reviewed by author of the doc will be merged.
We will close this out but if you feel you need more information please just let us know.

[2022-11-02 04:46] #100602 closed

[2022-11-02 04:49] ManoharLakkoju-MSFT commented on #100785
@Digiroka
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-02 04:49] ManoharLakkoju-MSFT commented on #100785
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 04:50] v-ksreedevan commented on #100445
Closing this issue based on Harsha's comment.

#please-close

[2022-11-02 04:50] #100445 closed

[2022-11-02 05:00] SaibabaBalapur-MSFT commented on #100783
@rgerrits
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@MsGabsta
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 05:02] RamanathanChinnappan-MSFT commented on #100824
@dorusstevens1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:05] RamanathanChinnappan-MSFT commented on #100827
@VitalyMCT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:06] RamanathanChinnappan-MSFT commented on #100828
@tulikapgit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:07] SaibabaBalapur-MSFT commented on #100818
@crankyroadkill
can you help out with doc link where you are getting error page in this document.

[2022-11-02 05:09] RamanathanChinnappan-MSFT commented on #100829
@JimThorstad

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:12] RamanathanChinnappan-MSFT commented on #100830
@SladMSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:14] shaktisingh-msft commented on #100796
Hi @GennadNY,

Could you please look into this grammatical update. Thanks

[2022-11-02 05:15] RamanathanChinnappan-MSFT commented on #100831
@rihoughton

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:16] RamanathanChinnappan-MSFT commented on #100832
@tulikapgit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:19] RamanathanChinnappan-MSFT commented on #100833
@hailugebru
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:21] JasonWHowell commented on #73974
@jonburchel could help if needed

[2022-11-02 05:22] AjayBathini-MSFT commented on #100724
@rsy644

 I assume image may be corrupted, Can you try to upload new image and view.

Did you uploaded the images in the thumbnails container as mentioned in the instructions? If not, I would recommend you to check once.
I reproduced your scenario by following the instructions in the document and able to get the generated thumbnails on my Webapp successfully

To test thumbnail viewing, you'll uplo

[2022-11-02 05:23] mazharmuneerzn commented on #100781
Please check the link below.

https://techgenix.com/office-365-adfs-support-for-mutiple-upns-724/

Is it the correct way to do.
one adfs server and two domain (Eg: user1@abc.com and user2@xyz.com) users to login office 365.

[2022-11-02 05:23] RamanathanChinnappan-MSFT commented on #100837
@amcamillo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 05:24] AjayBathini-MSFT commented on #100775
@karataliu
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-02 05:25] eyoh5 opened #100842 "Accelerated Networking support also Windows 2022"
[Enter feedback here]

I've got answer from the product group and confirmed that accelerated networking is supported in Windows 2022.
BUT this document didn't include Windows 2022 in the list of supported OS .

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fbfe1f3b-01da-a475-8dee-15f628bd7e17
* Version Independent ID:

[2022-11-02 05:31] MughundhanRaveendran-MSFT commented on #100615
Closing this issue as there is no response. Feel free to reopen this issue

[2022-11-02 05:31] #100615 closed

[2022-11-02 05:31] YashGohel21 commented on #100689
I am on MacOS Ventura 13.0 and for me it started around somewhere between 22-28 Oct.

[2022-11-02 05:49] AjayBathini-MSFT commented on #100817
Hi @andrePKI

Can you please provide the doc link where you want changes to be made. I am unable to find the line that you need changes was present in the given doc link.

[2022-11-02 05:56] AjayBathini-MSFT commented on #100832
@tulikapgit
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-02 05:58] YashikaTyagi-MSFT commented on #100697
@provnir
This issue is duplicate as https://github.com/MicrosoftDocs/azure-docs/issues/100743
We will be working on this case. Please follow up on this to get further updates.

[2022-11-02 05:59] #100697 closed

[2022-11-02 05:59] YashikaTyagi-MSFT commented on #100410
@AaronGeorgeson
This issue is duplicate as https://github.com/MicrosoftDocs/azure-docs/issues/100743
We will be working on this case. Please follow up on this to get further updates.

[2022-11-02 05:59] #100410 closed

[2022-11-02 06:08] ManoharLakkoju-MSFT commented on #100837
@amcamillo
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-11-02 06:11] austinmccollum commented on #100837
#assign:austinmccollum

[2022-11-02 06:13] sekharkumar commented on #100280
Hi @SatishBoddu-MSFT Sorry for the late reply, As i mentioned i have created two blobstorage iotedge modules with **11002** and **11003** respectively, there using the **first blobstorage module(11002)** i am able to store/access the blobs in storage explorer tool, but not the **second blobstorage module (11003)**

Could you please help me on this and let me know if you have any further details

[2022-11-02 06:22] sekharkumar commented on #100206
Hi @SatishBoddu-MSFT, I have followed the same but it is not working. Can we have a quick meeting ?

[2022-11-02 06:41] tervoju opened #100843 "IoT Edge Module Settings e.g. "Restart Count""
There is in Edge Module details a tab "IoT Edge  Module Settings". How to get those into use? is there explanation about it somewhere?

Settings Name                            Desired Value                  Reported Value
-------------------------------------------------------------------------------------
Last Start Time UTC                       N/A                                Mon Oct 31 202

[2022-11-02 06:58] GitaraniSharma-MSFT commented on #100842
@eyoh5 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-11-02 07:03] SurbhiAgarwal12 opened #100844 "Old Logic App screenshots"
[Enter feedback here]
Hi team,
The screen shots are old and does not match with new screen. If you can update the screen shots then it would greatly help the users.
https://learn.microsoft.com/en-us/azure/logic-apps/tutorial-process-mailing-list-subscriptions-workflow#prerequisites.

Regards,
Surbhi

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-11-02 07:42] SadiqhAhmed-MSFT commented on #100569
@stimms Windows 2022 is supported, and the product team is checking on further doc updates required. This will take sometime for updates to go live.

Thanks once again for your valuable feedback.

Closing this issue for now!

[2022-11-02 07:42] #100569 closed

[2022-11-02 07:45] Aprilllllll opened #100845 "Please consider to add notification about adding IP of firewall or other device which can change the source IP"
Please consider to add notification about adding IP of firewall or other device which can change the source IP.

Thank you!

April

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API server authorized IP rang

[2022-11-02 07:51] andrePKI commented on #100817
Hi, I somehow mixed up my comments for two pages. This one was meant for this page: [https://learn.microsoft.com/en-us/azure/sentinel/migration-ingestion-tool](url)

[2022-11-02 07:51] andrePKI opened #100846 "Logstash not only Windows - also Linux and MacOS"
This is an odd statement on the page. Logstash is also available for Linux and MacOS. In fact, the page with detailed instructions covers Linux...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d3ccbd1b-89fb-918a-6cc3-3f4e5198b0e2
* Version Independent ID: 6f292be0-31aa-323e-1f73-b21837e56d82
* Content: [Microsoft Sen

[2022-11-02 07:52] #100817 closed

[2022-11-02 07:57] arindam0310018 commented on #100406
Hello @SumanthMarigowda
Thank you for answering my query.

Best Regards, Arindam Mitra

[2022-11-02 07:57] AnuragSingh-MSFT commented on #100797
@roMadMike, Thank you for reporting this issue. I have submitted a request to get it updated.
The screenshots associated with this URL has the correct address as <yoursitename.scm.azurewebsites.net> in the doc. The text should get corrected once the request completes.

[2022-11-02 07:57] #100797 closed

[2022-11-02 07:59] GitaraniSharma-MSFT commented on #100439
@subodhpatil , I reached out to the Azure VPN Product Group team regarding your query and below is their response:

An organization with more than 390 users can still use the feature. They would just need to have different groups for every set of 390 users(up to 90 groups).

So, as mentioned in the doc:
The maximum number of groups that can be referenced by a single Point-to-site VPN Gateway is 90

[2022-11-02 07:59] #100439 closed

[2022-11-02 08:06] lijianzhi01 commented on #61238
@SwathiDhanwada-MSFT Same issue. It is really hard to trace problem without query parameters. I am also MSFT, too. I think it would be nice to add this in.

[2022-11-02 08:06] Yangsh-w opened #100848 "<Use Key Vault references for App Service and Azure Functions>#Rotation statement misleading"
Hi team,

In this doc https://learn.microsoft.com/en-us/azure/app-service/app-service-key-vault-references?tabs=azure-cli#rotation, part Rotation, the statement:
`When newer versions become available, such as with a rotation event, the app will automatically update and begin using the latest version within 24 hours. The delay is because App Service caches the values of the key vault references and

[2022-11-02 08:10] andrePKI commented on #100816
Ok, I have created a new Idea at [https://feedback.azure.com/d365community/idea/381ae671-855a-ed11-a81b-000d3ae5ae95]()

[2022-11-02 08:10] #100816 closed

[2022-11-02 08:12] bmansheim commented on #100392
@BretUst Thanks for pointing this out! I made the change and it will be published later today.

Thanks for helping us make great documentation!

[2022-11-02 08:12] bmansheim commented on #100392
#please-close

[2022-11-02 08:12] #100392 closed

[2022-11-02 08:32] NDVALPHA commented on #99020
#please-close

[2022-11-02 08:32] #99020 closed

[2022-11-02 08:41] Naveenommi-MSFT commented on #100727
@aahill

Could you please review and add your comments on this, update as appropriate.

[2022-11-02 08:42] Naveenommi-MSFT commented on #100727
@kubasiak

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-02 08:53] SnehaAgrawal-MSFT commented on #100848
@Yangsh-w Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-02 08:57] aryamo opened #100849 "How scale up/down works on VMAS-based AKS clusters?"
Hi Team,

I looked up the AKS documents and want to find out the specific node number while manually scaling up/down a VMAS-based ASK cluster.
Could you please add explanations about how the pattern of nodes changes when we scale an AKS cluster? I tested in my environment and saw that the result started from the newest nodes whenever you added or deleted nodes.
I am not sure if this matches the ba

[2022-11-02 09:07] ovcax commented on #50253
For those that come to this issue.
If you have Azure user already and everything connected to him.

It worked for me

- Removed admin privileges
- Changed UPN domain
- Waited for Azure AD sync to create new user
- Delete this new user
- Changed UPN of existing one
- Azure AD synced correctly

[2022-11-02 09:09] jakubiszon opened #100850 "Dependency injection / inversion patterns missing for node.js functions"
It is not explained what is the best practice to implement dependency inversion for node.js functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https:/

[2022-11-02 09:11] adi-garg opened #100851 "Blob Lifecycle Mgmt-Rule Actions Query"
Hello Microsoft,
1.Referencing this article [section](https://learn.microsoft.com/en-us/azure/storage/blobs/lifecycle-management-overview#rule-actions),
<img width="476" alt="image" src="https://user-images.githubusercontent.com/73249037/199448636-a33419a9-a482-4d15-8992-488db864dc5a.png">

Is this highlighted "enableAutotiertohotfromcool" no longer available on portal?

<img width="565" alt="Rule

[2022-11-02 09:22] filipers commented on #99621
@ManoharLakkoju-MSFT @msmbaldwin

Az PowerShell released the missing cmdlet to recover a soft-deleted HSM (Undo-AzKeyVaultManagedHsmRemoval - https://learn.microsoft.com/en-us/powershell/module/az.keyvault/undo-azkeyvaultmanagedhsmremoval?view=azps-9.1.0).

 Missing commands for Managed HSMs (PowerShell):

To list all soft-deleted HSMs --> Get-AzKeyVaultManagedHsm -InRemovedState --> https://learn

[2022-11-02 09:23] subodhpatil commented on #100439
Thanks. I suggest having updated in documentation to bring more clarity.

Thanks,
Subodh

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Gitarani ***@***.***>
Sent: Wednesday, November 2, 2022 9:00 AM
To: ***@***.***>
Cc: Subodh ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The maximum number of members in groups assigned to a Gateway is 390

[2022-11-02 09:41] VectorBCO commented on #100746
thanks

[2022-11-02 09:41] giovannadamasceno opened #100853 "Learn more link"
This page is used as a "Learn more" link during the Initial sync of the File Sync service, as the image below:
![image](https://user-images.githubusercontent.com/78150052/199456330-bd0cd14e-1fe6-43bb-802f-166cd1001e3d.png)

It doesn't provide information about the single and multi-thread option to download the data. Either the linked documentation should contain the file recall command with some e

[2022-11-02 09:46] kakacper1 opened #100854 "Link in Set up Azure Pipelines doesnt work:"
I am trying to set up Azure Pipelines and  it would be useful to see basic python template but the link is not working any more.

"Azure Pipelines YAML pipeline files rely on environment variables to access your Azure Databricks workspace. These files include ones such as azure-pipelines.yml as part of the [Basic Python Template](https://dbx.readthedocs.io/en/latest/templates/python_basic.html) in

[2022-11-02 09:56] ElazarK commented on #100017
#please-close

[2022-11-02 09:56] #100017 closed

[2022-11-02 10:02] bert2 commented on #100554
@seesharprun just noticed the update is live. Thanks! 🙂

[2022-11-02 10:05] Klaas- commented on #83328
Thank you @pagienge for applying some of my suggestions via https://github.com/MicrosoftDocs/azure-docs/commit/50b4557525d8dc65d89fb336c074d0f5b5585ed6

[2022-11-02 10:17] datosh commented on #100561
Hey @vikyol
HCL is the Host Compatibility Layer.
You are correct that there is too little information publicly available. Azure Compute API has a field `isHostCompatibilityLayerVm` which gives a clue about the name. [The docs are sparse.](https://learn.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows)

[2022-11-02 10:38] mahmoudsamy27 opened #100855 "SSH keys support"
Please update the document as currently ADF SFTP support multiple ssh key variations and not only RSA

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-bbeb-811c-c2bfb31c37a3
* Content: [Copy and transform data in SFTP server using Azure Data Fa

[2022-11-02 11:16] magicse commented on #55580
+1

[2022-11-02 11:17] bgavrilMS opened #100857 "Cannot deploy basic Wordpress website"
[Enter feedback here]
As per official tutorial: https://learn.microsoft.com/en-us/azure/app-service/quickstart-wordpress
But the deployment fails due to some DB error. I am deploying to UK South.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a6b7cd19-5217-3f78-0dd1-b8bf3b165fed
* Version Independent ID: 08cd66de-85ed

[2022-11-02 11:26] ntrogh commented on #100179
@trevor-webster Here's a link to a sample: https://github.com/ntrogh/azure-load-testing-samples/tree/main/jmeter/read-csv-data

[2022-11-02 12:00] KillerFrost2000 commented on #100487
The doc I am using is - Copy or move data to Azure Storage with AzCopy on Windows | Microsoft Learn<https://learn.microsoft.com/en-us/previous-versions/azure/storage/storage-use-azcopy>

From: YashikaTyagi-MSFT ***@***.***>
Sent: Monday, October 31, 2022 9:51 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Aayushi Rana ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] azc

[2022-11-02 12:14] limwainstein commented on #99822
#please-close

[2022-11-02 12:14] #99822 closed

[2022-11-02 12:21] MayankBargali-MSFT commented on #100659
@maud-lv Can you please provide your input.

[2022-11-02 12:25] omondiatieno commented on #99117
@mikenri,

Thanks for your feedback. We've considered your suggestion on how to identify deleted applications and service principals by getting their object IDs from the audit log. While this may very convenient, and okay, it may not be a good recommendation for Learn articles.

A better recommendation for our docs is to have a way of filtering out the deleted app or service principal through Micr

[2022-11-02 12:27] asfondilis commented on #20971
if your trigger is expecting an object of type:

[code]
and you are trying to construct the payload to send with your request you can do the following. Define as:

[code]
This is what you should send to the admin endpoint to trigger the function,
and then you can do

[code]

using postman to test you should have something like this:

[code]
Then the trigger will properly deserialize it, maybe ther

[2022-11-02 12:30] MayankBargali-MSFT commented on #100844
@SurbhiAgarwal12 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-11-02 12:31] asfondilis commented on #23971
maybe that can help someone [comment](https://github.com/MicrosoftDocs/azure-docs/issues/20971#issuecomment-1300291332)

[2022-11-02 12:33] mgroetan commented on #96218
Why such a complicated command to update, by using the generic "az **resource** update" command?
This works (given that the required defaults have been set):
`az keyvault update -n $keyVaultName --set properties.enableSoftDelete=true`

**On a side note:**
According to [this article](https://learn.microsoft.com/en-us/azure/key-vault/general/key-vault-recovery?tabs=azure-cli#key-vault-cli), it shoul

[2022-11-02 13:00] arindam0310018 commented on #100017
Hello @ElazarK
Thank you for the reply.
It would have been good if you would have closed the issue after the changes has been committed.
Nonetheless. I will keep an eye on the change to be made.

Many Thanks
Best Regards, Arindam Mitra

[2022-11-02 13:10] arindam0310018 commented on #100407
Hello @AjayBathini-MSFT
Thank you for your reply.

@msmbaldwin - May I ask for an update.

Many Thanks
Regards, Arindam Mitra

[2022-11-02 13:11] kabharati commented on #100012
hi @arindam0310018 - I need to validate this but it appears it is error in documentation and currently AAD document suggests 53-character limit which should have been 63 characters. I am following up with AAD team to confirm this.

From PG side we follow AAD limitations.

[2022-11-02 13:14] AdrianGolda opened #100859 "AADSTS9002326: Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type. Request origin: 'http://localhost:3001'."
Hi,
I have an issue with CORS protection on AAD. I have a frontend app written in react and an app hosted on Azure. I use implicit flow to auth my application like described here  https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#first-case-access-token-request-with-a-shared-secret but I get the CORS error. Is there a way to disable CORS protection?

[2022-11-02 13:14] n-onsh opened #100860 "Small typos in create new endpoint codeblocks"
[Enter feedback here]
Sorry, this is very nitpicky stuff but maybe it would feel good to have the section be perfect.

There are two typos on the create new endpoint section, the python code segments.

"Endpint"
in
print(f"Endpint {endpoint.name} provisioning state: {endpoint.provisioning_state}") and the next python block as well.

Non consequential of course but maybe they will propagate far wit

[2022-11-02 13:25] AjayKumar-MSFT commented on #100857
@bgavrilMS, Thanks for the question!

There was reported issue for App Service in the UK South region. Please check [service health](https://portal.azure.com/#view/Microsoft_Azure_Health/AzureHealthBrowseBlade/~/serviceIssues) report from Azure Portal.

 Apologies for any inconvenience with this. Based on your requirement, you may deploy the webapp in another proximity region.

 Stay informed abou

[2022-11-02 13:27] GitaraniSharma-MSFT commented on #100763
@nadupalliramesh , I'm following up on my previous comment. Please let us know if the above helps or you need further assistance on this issue.

[2022-11-02 13:27] crankyroadkill commented on #100818
The entire doc is not accessible for the public, only works for Microsoft internal.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Saibaba Balapur ***@***.***>
Sent: Wednesday, November 2, 2022 1:07 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] customers can't get to this doc (Issue #100818)

@crankyroadkill<https://n

[2022-11-02 13:28] AjayKumar-MSFT commented on #100813
I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-11-02 13:34] RamanathanChinnappan-MSFT commented on #100723
@priteshpisat

Kindly try this below format

#standardSQL
SELECT * REPLACE ((SELECT AS STRUCT payload.* EXCEPT (comment)) AS payload)
FROM `bigquery-public-data.samples.github_nested`
LIMIT 1000;

[2022-11-02 13:40] yelevin commented on #98962
@faustinopalma @ManoharLakkoju-MSFT @batamig
Thanks for your patience! I received an answer.

The 8500 EPS limitation is for a VM of the size mentioned in the article (4 cores, 8 GB RAM).

The documentation will be clarified to reflect this.

Thank you for your contribution!

[2022-11-02 13:40] yelevin commented on #98962
#please-close

[2022-11-02 13:40] #98962 closed

[2022-11-02 13:48] mumurug-MSFT commented on #100850
@jakubiszon Thanks for the feedback. We will review and update as appropriate.

[2022-11-02 13:48] AdrianGolda commented on #100859
https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#first-case-access-token-request-with-a-shared-secret I spent 6 hours already and tried everything and it only works in postman but the implicit flow doesn't work no matter what I set in Azure panel.

[2022-11-02 13:56] #100842 closed

[2022-11-02 13:57] GitaraniSharma-MSFT commented on #100842
@eyoh5 , I've updated the doc to reflect Windows server 2022 as a supported OS for Accelerated Networking and it will reflect soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-11-02 14:08] dataengineerdeveloper commented on #100518
Hello, i had a chance to review the documentation that you share but a didn't find an answer for my problem.  As I said on the post the process isn't failing totally there are a few countries with data,  but there are others that doesn't load. It's been challenge to find something wrong with data,  this is why I decided to do a post in order to understand if can be a limitation regarding volumetry

[2022-11-02 14:13] #99117 closed

[2022-11-02 14:13] Aldermore-RajChidipudi commented on #100782
Appreciate the quick action guys! 

[2022-11-02 14:22] krishjag commented on #100456
Hi @mulander,

Thanks for the clarifications.

Typically, we have stored data in azure storage accounts in hierarchical fashion. An example would be something like this, **domain/sub-domain/yyyy/mm/dd/etc**.

In a system like Apache Spark, globing pattern as shown below allows us to load a set of files matching a specific pattern (see 2016*).

[code]

Since such pattern was not supported, I used a

[2022-11-02 14:25] BRRiley opened #100866 "Settings for NSG rule missing option for "Service" in 'Lock down secure LDAP over the internet' section."
In this section: https://learn.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-configure-ldaps#lock-down-secure-ldap-access-over-the-internet

The portal now has a drop down for "Service" and LDAPS isn't an option. I was able to select Custom and enter in the port listed in the settings table but the setting table and screenshot aren't updated to match the portal currently.

--

[2022-11-02 14:29] cchapin2020 opened #100867 "format issue"
There are some formulas on this page that have a backslash in front of an asterisk and it makes the formula confusing. The backslash should be removed
Example:
65,535 \* (2^3) = 262,140 bytes

Should read:
65,535 * (2^3) = 262,140 bytes

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d9e17ce9-1b86-b744-f5c8-c86db726737

[2022-11-02 14:32] RamanathanChinnappan-MSFT commented on #100845
@Aprilllllll

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:40] RamanathanChinnappan-MSFT commented on #100849
@aryamo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:43] AshokPeddakotla-MSFT commented on #100777
@sgkim99

`This page should include the GitHub page for source reference.`

Pre-requite steps already included this reference.

<img width="312" alt="image" src="https://user-images.githubusercontent.com/44426435/199519575-70580079-f913-4fd3-ad22-38559073ab3d.png">

`And the file name "SimulatedDevice.py" does NOT exist. Should be SimulatedDeviceSync(or Async).py`

PR has been created to address t

[2022-11-02 14:43] #100777 closed

[2022-11-02 14:44] RamanathanChinnappan-MSFT commented on #100851
@adi-garg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:47] RamanathanChinnappan-MSFT commented on #100853
@giovannadamasceno
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:49] tervoju commented on #100843
![edge](https://user-images.githubusercontent.com/16286944/199519200-9f951f7a-0ef9-429c-9b41-6f1ab733aca0.png)

there is obviously a place for the e.g. "restart count". how to get that info from the device?

[2022-11-02 14:50] RamanathanChinnappan-MSFT commented on #100854
@kakacper1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:58] RamanathanChinnappan-MSFT commented on #100859
@AdrianGolda

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 14:59] RamanathanChinnappan-MSFT commented on #100860
@n-onsh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 15:01] RamanathanChinnappan-MSFT commented on #100866
@BRRiley

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 15:04] RamanathanChinnappan-MSFT commented on #100867
@cchapin2020

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 15:04] Keven1661 opened #100869 "CorpNetSaw?"
Hi,

CorpNetSaw is not available anymore in service tag of a nsg rule. Can we remove it from the doc?

Thanks,
Keven

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57bb-232c-970ccfec504c
* Content: [Network planning and connections for Azure

[2022-11-02 15:06] spelluru commented on #100720
The image is updated now.

#please-close

[2022-11-02 15:06] #100720 closed

[2022-11-02 15:07] spelluru commented on #100009
updated the link to point to the Azure.Messaging.ServiceBus sample that's currently available.

#please-close

[2022-11-02 15:07] #100009 closed

[2022-11-02 15:27] v-amallick commented on #100197
Hi @nishantroymsft - thank you for sharing the details. We have added the updates to the doc via private PR #[216870](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216870), and will be live soon. As the doc updates are complete, closing this issue - #please-close .

[2022-11-02 15:29] ibTnJohn opened #100872 "Heading on table is confusing"
Saying "Self managed, Introductory SKU" for Classic and "Self Managed, Compute in Your Account" for Pro seems to imply that the compute is NOT in your account for classic, which other documentation contradicts.  I believe the intent is to say that only the serverless does not use compute in your account, but that is not how others have read it.  Please clarify that classic also uses "compute in yo

[2022-11-02 15:36] bwren commented on #100167
Thanks for this. Definitely a good suggestion and something that we have in our backlog. We will be adding this to docs soon.

#please-close

[2022-11-02 15:43] tspring418 opened #100874 "Creating a storage account with restricted access for a function."
From the document:
https://learn.microsoft.com/en-us/azure/azure-functions/functions-networking-options?tabs=azure-cli#restrict-your-storage-account-to-a-virtual-network

It notes this :
When you create a function app, you must create or link to a general-purpose Azure Storage account that supports Blob, Queue, and Table storage. You can replace this storage account with one that is secured with s

[2022-11-02 16:10] RamanathanChinnappan-MSFT commented on #100869
@Keven1661

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 16:15] RamanathanChinnappan-MSFT commented on #100872
@ibTnJohn

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 16:17] RamanathanChinnappan-MSFT commented on #100874
@tspring418

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 16:29] seesharprun commented on #99873
@acidrod: Thanks for this feedback. We are working on a new tutorial that should launch later this week.

I will assign this issue to the work for that tutorial. Once the tutorial enters our publishing pipeline, this issue will automatically close. Thanks again for championing for great content in our Docs!

[2022-11-02 16:31] mostafaelkttan commented on #98983
@SaibabaBalapur-MSFT  im sorry for my delay i follow this
https://learn.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos
https://fluxcd.io/flux/use-cases/azure/
im still getting the error
my helm repo
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: agora-helm-repo
  namespace: cluster-config
spec:
  interval: 1m0s
  secretRef:
    n

[2022-11-02 16:37] AshokPeddakotla-MSFT commented on #100762
@PatAltimore Please look into this feedback and update the doc as appropriate.

[2022-11-02 16:37] AshokPeddakotla-MSFT commented on #100761
@PatAltimore Please look into this feedback and update the doc as appropriate.

[2022-11-02 16:40] jboback commented on #99686
#assign:wangyuantao

[2022-11-02 17:10] jcauthorn commented on #92878
For this issue I had to copy the file from the original server to the new server.
'C:\Users\myusername\desktop\data\mv.dsml'.'
I don't know if that's the proper fix but it got around this problem.
Also, I found out from Microsoft Tech support that to run the Azure AD Connect, you need to run it as a local admin that is not a Domain admin. It was stuck in an infinite loop if you try to run it as a

[2022-11-02 17:15] dazinator opened #100877 "How to send secret parameters"
I can't see where it explains how to supply `@secure` parameter values when deploying via the CLI. If you don't provide these the default is that bicep prompts you to enter a value. I'm automating a deployment so I don't want to have a manual prompt. I want to call a powershell script to deploy the bicep file and supply the secure parameters it expects. I don't wish to create a keyvault for this p

[2022-11-02 17:15] gopher194 opened #100878 "`aks-preview` extension required for example to succeed."
The testing example code will not work if the **aks-preview** AZ CLI extension is not installed and updated to v0.5.86+.
[0.5.86](https://github.com/Azure/azure-cli-extensions/blob/main/src/aks-preview/HISTORY.rst#0586)
Ensure this command is added in the beginning steps: `az extension add --name aks-preview`, at least for reference.

Thanks.
---
#### Document Details

⚠ *Do not edit this section.

[2022-11-02 17:17] dazinator commented on #100877
For example I know one common strategy for dealing with prompts for sensitive values is to pipe them in,, but I am not sure bicep supports this:

"my super sensitive value"| some-command --param=non-sensitive-value

[2022-11-02 17:21] asudbring commented on #96934
@t3mi, thank you for the feedback. I have added the entries to the table in the article.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/216917

#please-close

[2022-11-02 17:21] #96934 closed

[2022-11-02 17:23] dxk3355 opened #100879 "Issues with the "Collect text and IIS logs with Azure Monitor agent (preview)" webpage"
1. While there is an Important note that you have a suffix for the _CL, there is not a note that you have to have the prefix "Custom-" when doing the "create data collection rule" template and want to change the name.  Without the Custom- prefex you will get "At least one resource deployment operation failed"  and "'Output Stream' string 'name here' must be a custom stream or one of...."
2. 1. I f

[2022-11-02 17:35] AzureLego opened #100880 "Updating due date for remediations"
Updating due date for remediations- The line in which it states, "The due date for the recommendation does not change, but the security team can see that you plan to update the resources by the specified ETA date."  I get this is by design, but it could also be equally true that end users would like the ability to update this from a RBAC setting for the security team/ global admin to update. Pleas

[2022-11-02 17:54] SatishBoddu-MSFT commented on #100280
Hello @sekharkumar, Thanks for reaching out!

Please do submit this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) and we will work with you as soon as possible!!! Please use tags like ['Azure-IoT Edge'](https://learn.microsoft.com/en-us/answers/topics/25493/azure-iot-edge.html)

[2022-11-02 17:56] aahill commented on #100205
Thanks for reaching out, I tested the file and was able to import the project correctly, is there a specific error you're getting?

It may be possible that the json file downloaded incorrectly or the download was corrupted, you can try to directly download the raw file, or copy and paste it into a blank json file.

https://raw.githubusercontent.com/Azure-Samples/cognitive-service-language-samples/

[2022-11-02 17:56] #100205 closed

[2022-11-02 18:01] asudbring commented on #98156
@phwecker, thanks for your feedback.

I have added a note below the tables in the doc.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/216925

#please-close

[2022-11-02 18:01] #98156 closed

[2022-11-02 18:13] brianlehr commented on #99045
Updates made to doc page noting that DNAT rules need to be removed from Firewall Public IP prior to change being allowed.  #please-close

[2022-11-02 18:13] #99045 closed

[2022-11-02 18:25] asudbring commented on #100376
Hi @RichardSmith1208
Thanks for the feedback!  The load balancer article referenced above is for Basic load balancer only and is being deprecated and no longer updated and no longer valid.  If VMs have private IPv6 addresses in the VNET, they will communicate over IPv6.

#please-close

[2022-11-02 18:25] #100376 closed

[2022-11-02 18:29] PatAltimore commented on #100761
Hi @drwill-ms ,

Thanks for the question. Ubuntu 22.04 LTS isn't supported at this time. That's why you don't see it listed in the install steps. For a list of supported versions, see https://learn.microsoft.com/en-us/azure/iot-edge/support?view=iotedge-1.4#operating-systems.

I'm going to request closing this issue.

Thanks,
Pat
#please-close

[2022-11-02 18:29] #100761 closed

[2022-11-02 19:02] RichardSmith1208 commented on #100376
Can we have this EXPLICITLY mentioned in the IPv6 Overview page, then? (https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/ipv6-overview)

[2022-11-02 19:27] aulong-msft opened #100885 "Adding an example of a Multi-Tenanted applications using the Azure Service Bus"
https://github.com/Azure-Samples/Cross-Tenant-Communication-Using-Azure-Service-Bus we can link out to this sample for provisioning a multi-tenanted application using the Azure service bus to demonstrate how a service principal can be provisioned into multiple customer environments and how to securely communicate with the provisioned identity.
---
#### Document Details

⚠ *Do not edit this section

[2022-11-02 19:31] trek-e opened #100886 "Missing Final Step - How to Connect to the Private Endpoint for the console."
Once the endpoint is complete, how do you connect using the endpoint?   it's not clear from the documentation what the next step is to use this endpoint now that it's created and up.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d50a36d1-a544-8500-7591-13dbfc78bff3
* Version Independent ID: 9cf5a12a-1887-3755-b845-19

[2022-11-02 19:44] mier01 opened #100888 "Error in linked file"
Hi,

The CSV-file that is linked to from this page has "errors" in it.
The link:
https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifiers%20for%20licensing.csv

The column "Product_Display_Name" for these GUIDs has commas in it, making it almost impossible to parse:
e2aebe6c-897d-480f-9d62-fff1381581f7
461cb62c-6db7-41a

[2022-11-02 19:58] pangit1 commented on #79631
Hello, I wanted to use this sample code but I got the message that Microsoft.Azure.Managment is deprecated and use Azure.ResourceManager instead. So far I have not been able to do the same (Create a Batch pool with user-assigned managed identities) using the new library. Could you please help? Thanks,

[2022-11-02 20:13] shlipsey3 commented on #28378
#please-close

[2022-11-02 20:16] MicrosoftGuyJFlo commented on #34167
#please-close

[2022-11-02 20:16] #34167 closed

[2022-11-02 20:16] lauradolan commented on #79631
#reassign: padmalathas

[2022-11-02 20:18] MicrosoftGuyJFlo commented on #68482
#reassign:@janicericketts

[2022-11-02 20:18] MicrosoftGuyJFlo commented on #68482
@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:19] MicrosoftGuyJFlo commented on #68941
#label:"awaiting-product-team-response"

[2022-11-02 20:20] MicrosoftGuyJFlo commented on #70845
#label:"awaiting-product-team-response"

[2022-11-02 20:21] MicrosoftGuyJFlo commented on #73774
#label:"awaiting-product-team-response"

[2022-11-02 20:22] MicrosoftGuyJFlo commented on #75473
#reassign:@janicericketts

[2022-11-02 20:22] MicrosoftGuyJFlo commented on #75473
@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:22] MicrosoftGuyJFlo commented on #75934
#reassign:@janicericketts

[2022-11-02 20:22] shlipsey3 commented on #82006
#label:"awaiting-product-team-response"

[2022-11-02 20:22] MicrosoftGuyJFlo commented on #75934
@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:22] shlipsey3 commented on #82834
#label:"awaiting-product-team-response"

[2022-11-02 20:23] shlipsey3 commented on #86378
#label:"awaiting-product-team-response"

[2022-11-02 20:23] MicrosoftGuyJFlo commented on #75938
#reassign:@janicericketts

@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:23] MicrosoftGuyJFlo commented on #76047
#reassign:@janicericketts

@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:24] fausttiger opened #100890 ""Add an Input" No such option exists"
"Add an Input"

No such option exists

 -----------
For testing this connector, you can click on “When PowerVirtual Agents calls a flow” and click on Create.

Click on "New Step" and search for "Power Virtual Agents". Choose "Add an input" and select text. Next, provide the keyword and the value.

 -----------
![image](https://user-images.githubusercontent.com/905135/199595469-705546dc-adac-48d3-a

[2022-11-02 20:24] MicrosoftGuyJFlo commented on #77232
#please-close

[2022-11-02 20:24] #77232 closed

[2022-11-02 20:27] shlipsey3 commented on #94812
#please-close

The link was removed because there isn't an "integrate with Elastic" article in this section.

[2022-11-02 20:27] #94812 closed

[2022-11-02 20:31] MicrosoftGuyJFlo commented on #78594
#reassign:@rolyon

[2022-11-02 20:32] MicrosoftGuyJFlo commented on #78594
Robert is going to take a look at this. Thanks for the thought!

[2022-11-02 20:32] MicrosoftGuyJFlo commented on #79102
#reassign:@janicericketts

@janicericketts can you take a look at this GitHub Issue and see what can be done since Barbara is gone?

[2022-11-02 20:35] MicrosoftGuyJFlo commented on #79230
#reassign:@shlipsey3

[2022-11-02 20:35] MicrosoftGuyJFlo commented on #79230
Sarah is going to take a look at clarifying this. Thanks!

[2022-11-02 20:39] MicrosoftGuyJFlo commented on #79264
#reassign:@rolyon

Robert is going to see what he can find on this.

#label:"awaiting-product-team-response"

[2022-11-02 20:42] MicrosoftGuyJFlo commented on #79537
#reassign:@shlipsey3

Sarah is going to try and find some links to add here. Great feedback!

[2022-11-02 20:44] MicrosoftGuyJFlo commented on #92325
#label:"awaiting-product-team-response"

[2022-11-02 20:48] tongyuze opened #100891 "Is there any special settings for Applications?"
Hi there, I want to create a test application for this feature in our library. I created two tenants and followed the instruction to set them up. It worked well in Teams. However, if I want to use a custom app (an app I created in one of these two tenants), it seems that this feature doesn't work.

Therefore, I would like to understand if this is expected. Or if there are any settings for applicat

[2022-11-02 20:53] OWinfreyATL commented on #77278
#label:"awaiting-product-team-response"

[2022-11-02 21:16] zr-msft commented on #84794
Thank you for the feedback.

I believe the doc is correct since the limitation covers setting any value for `outboundType`.

#please-close

[2022-11-02 21:16] #84794 closed

[2022-11-02 21:22] shlipsey3 commented on #100680
I've submitted a PR to fix the missing ( in the link referenced.

#please-close

[2022-11-02 21:22] #100680 closed

[2022-11-02 22:01] MicrosoftGuyJFlo commented on #92762
Their is a gender-neutral pronoun. #please-close

[2022-11-02 22:01] #92762 closed

[2022-11-02 22:18] asudbring commented on #98098
@MarioStanica thank you for your feedback.

The lack of autoconfiguration due to using a custom config is listed in the Important call out at the beginning of the article:

![image](https://user-images.githubusercontent.com/26909696/199613247-d925cdd9-ae5e-4f32-84f5-72898e59e476.png)

Thanks!

#please-close

[2022-11-02 22:18] #98098 closed

[2022-11-02 22:54] alex-frankel commented on #100877
Did you run into an error when you tried this? That should have worked as expected. The only other way to provide a parameter to a deployment is via a dedicated [parameters file](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/parameter-files).

[2022-11-02 22:56] #75473 closed

[2022-11-02 22:59] JeremyTBradshaw commented on #75473
Hi @MicrosoftGuyJFlo , it seems like the page has been updated and this issue no longer applies.  Over here - https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/workload-identity - there's a page about the new preview for Conditional Access for workload identities and all is good (in the hood 😎).

So I just closed it.  Thanks again.

[2022-11-02 23:11] khdownie commented on #99899
@SaibabaBalapur-MSFT I have confirmed that this is outdated language that should be removed. Computer accounts didn't used to be supported for accessing Azure file shares because we don’t support RBAC share-level permissions for computer accounts.  Identities that can’t be configured with RBAC (like computer accounts) can now get access to the share using the "default share permissions" feature. S

[2022-11-02 23:14] tifischer opened #100895 "please update docs...deleted assets will be recreated if child assets exists"
The docs indicate that parent assets can be deleted even if a child asset exists. However, that is not true...the parent asset will be recreated if the child asset still exists...this is frustrating for the customer because they spend time to delete these assets without any understanding that they will just be recreated again since there are still child assets.

---
#### Document Details

⚠ *Do no

[2022-11-02 23:16] dazinator commented on #100877
I didn't bother trying it because I have more than one secret and it wasn't clear to me how i'd pipe in mutliple secrets in this case, for example, should they be delimited with something? Given the possible guess work at this point I thought it best to clarify the expected behaviour.

In that link it states parameters file "does not work" for secret parameters:

[2022-11-02 23:16] chcomley commented on #89315
#reassign:chcomley

[2022-11-02 23:17] chcomley commented on #89932
#reassign:chcomley

[2022-11-02 23:17] chcomley commented on #91610
#reassign:chcomley

[2022-11-02 23:18] chcomley commented on #94511
#reassign:chcomley

[2022-11-02 23:18] chcomley commented on #95095
#reassign:chcomley

[2022-11-02 23:18] chcomley commented on #95212
#reassign:chcomley

[2022-11-02 23:27] mcupito opened #100896 "Azure Functions with Azure Container Apps"
Is there any documentation around Container Apps and Azure Functions? It feels like there is some missing documentation around those two specific technologies, but feel like there's probably some overlap in what is in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2cbf4053-0a3d-a803-3e0d-8cf28db358e8
* Vers

[2022-11-02 23:37] ghost opened #100897 "Differing process?"
Seems like everything past "SSH into your Linux VM" is now a different process in the current iteration of Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-9220-53c1-bc1fe35eef6d
* Content: [Azure Cloud Shell Quickstart - Bash](https://l

[2022-11-03 00:11] asudbring commented on #97610
@kongou-ae thank you for the feedback!
I've added the entry to the DNS table.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/216978

#please-close

[2022-11-03 00:11] #97610 closed

[2022-11-03 00:30] asudbring commented on #97676
@lbimsft thanks for the feedback!

I've corrected the entry in the table for AFS.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/216979

#please-close

[2022-11-03 00:30] #97676 closed

[2022-11-03 00:36] ChaitanyaNaykodi-MSFT opened #100898 "Add Additional information regarding Override Always setting"
The [documentation here states](https://learn.microsoft.com/en-us/azure/frontdoor/front-door-rules-engine-actions?tabs=portal&pivots=front-door-standard-premium#properties)
![image](https://user-images.githubusercontent.com/67453298/199627303-72e4dcf5-c9f3-4e01-ac7b-e97f25d15660.png)

It will be Helpful if we could add the same information here.

---
#### Document Details

⚠ *Do not edit this sect

[2022-11-03 00:37] ChaitanyaNaykodi-MSFT commented on #100898
Working on a PR

[2022-11-03 00:41] ChaitanyaNaykodi-MSFT commented on #100898
Have made the PR, will work with Author on approval process.

[2022-11-03 00:41] #100898 closed

[2022-11-03 00:45] mike-urnun-msft commented on #100896
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-03 00:52] alex-frankel commented on #100877
I was able to deploy this bicep file:

[code]

With this az cli command:

[code]

Presumably you would want to replace the plain text values with environment variable references or something similar, but plain text does work. FWIW, we are planning to support referencing environment variables in parameter files in the future as per https://github.com/Azure/bicep/issues/7301

[2022-11-03 01:02] exportio commented on #95728
6. Select Next

There is no Next, the button is Add.  It also does not mention selecting a DNS zone from the list (required field) in the previous step.

Another confusing part is that "Set up a custom domain with Azure DNS in Azure Static Web Apps" comes before this step when going through the instructions, but that wasn't working without an Apex domain.  I'm waiting for my apex domain to validat

[2022-11-03 01:14] sgkim99 opened #100899 "Folder does NOT exist"
[Enter feedback here]
https://learn.microsoft.com/en-us/azure/iot-hub/tutorial-routing?tabs=portal

"2. In the sample folder, navigate to the /iothub/device/samples/getting started/RoutingTutorial/SimulatedDevice/ folder."

RoutingTutorial folder does NOT exist in the GitHub. Please check it.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-03 01:29] asudbring commented on #97004
@j-d-harvey, thank you for the feedback!
I've added the entry to the table on the page.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/216981
Thank you!

#please-close

[2022-11-03 01:29] #97004 closed

[2022-11-03 02:09] mike-urnun-msft commented on #100588
@Greg-Hitchon Thanks for sharing this feedback, and helping us drive improvement toward MS Docs! I've created & submitted a PR that updates the sample accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-11-03 02:09] #100588 closed

[2022-11-03 02:18] bstollnitz opened #100901 "Extra word in sentence"
There's an extra "to" in this sentence: "Choose whether you want _to_ a code-first experience or a no-code studio web experience"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 844580f4-5e8c-e66e-076e-2c63287d3be0
* Version Independent ID: 52ee7c20-6680-9be7-64a5-3a9378cfed29
* Content: [What is automated ML? AutoML -

[2022-11-03 02:29] rdeltcheva commented on #99894
Thanks for the feedback - it was addressed.

[2022-11-03 02:45] WenJason opened #100902 "Azure China regions root certificate update"
Hi Team,

Could you please tell me if the new **DigiCertGlobalRootG2** root certificate is also applicable for Azure China regions? Is [this article](https://learn.microsoft.com/en-gb/azure/postgresql/single-server/concepts-certificate-rotation) suitable for Azure China Environment? Thanks a lot.

Best Regards,
Jason Yu

---
#### Document details

⚠ *Do not edit this section. It is required for le

[2022-11-03 02:55] jhaynes3021 opened #100903 "ID.me is currently under Congressional Investigation for fraud and mishandling records - should be disclaimer"
Why on earth would anyone want to set up an account with ID.me when it's actively being investigated by both parties in Congress and has a horrible BBB score?  Shouldn't there be a disclaimer that a company is under federal investigation before showing how to connect to the service?

1. https://www.washingtonpost.com/technology/2022/04/14/idme-facial-recognition-investigation/
2.  https://www.msn.

[2022-11-03 03:06] AshokPeddakotla-MSFT commented on #100899
@sgkim99 Thanks for raising this issue with us.
@kgremban Looks like changes were done recently.

<img width="627" alt="image" src="https://user-images.githubusercontent.com/44426435/199640289-4c783a14-5cce-495e-8bb3-1ffbd0ba6ba8.png">

Are we good to remove **RoutingTutorial** from the step2:  /iothub/device/samples/getting started/RoutingTutorial/SimulatedDevice/ and keep only /iothub/device/sam

[2022-11-03 03:15] Naveenommi-MSFT commented on #100742
Hi @olavt

Could you please look into this below link. The following link itself contains required content.

https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/language-detection/language-support

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-03 03:29] MughundhanRaveendran-MSFT commented on #100722
@michaelelleby , Did you get a chance to look at my previous comment?

[2022-11-03 03:48] RamanathanChinnappan-MSFT commented on #100877
@dazinator

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 03:49] RamanathanChinnappan-MSFT commented on #100878
@gopher194

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 03:51] RamanathanChinnappan-MSFT commented on #100879
@dxk3355

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 03:57] Naveenommi-MSFT commented on #100815
Hi @kromerm

Could you please review this and update as appropriate.

[2022-11-03 03:57] Naveenommi-MSFT commented on #100815
Hi @fmokren

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-03 04:12] Naveenommi-MSFT commented on #100880
@AzureLego
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 04:23] SreejaBhattacharya-MSFT commented on #100485
Hi @EMaher sure. Thanks for taking it up.
I'll close off this thread, and let the discussion continue on the main thread -> [https://techcommunity.microsoft.com/t5/azure-lab-services/nested-virtualization-issue-in-lab-services/m-p/3657837/highlight/false#M380](https://techcommunity.microsoft.com/t5/azure-lab-services/nested-virtualization-issue-in-lab-services/m-p/3657837/highlight/false#M380)

Fe

[2022-11-03 04:23] #100485 closed

[2022-11-03 04:30] YashikaTyagi-MSFT commented on #100650
@DeanGross
Apologies for the delayed response. Please go through the below link mentioned to get more information which can help you
https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-monitor

[2022-11-03 04:34] Naveenommi-MSFT commented on #100831
Hi @rihoughton

Could you please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/data-factory/self-hosted-integration-runtime-troubleshoot-guide?tabs=data-factory#:~:text=Error%20message%3A%20Self,the%20following%20screenshot%3A

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the c

[2022-11-03 04:45] RamanathanChinnappan-MSFT commented on #100885
@aulong-msft

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 04:46] RamanathanChinnappan-MSFT commented on #100886
@trek-e
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 04:46] shaktisingh-msft commented on #100902
Hi @WenJason,

Thanks for sharing this feedback. We will look into and update as appropriate.

[2022-11-03 04:47] YashikaTyagi-MSFT commented on #100751
@lirichard
it is also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:

Navigate to the page of interest
Select the "Edit" button at the top right of the page
Select the "Pencil" icon on the right
Modify the text within the text box

[2022-11-03 04:51] RamanathanChinnappan-MSFT commented on #100888
@mier01

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 04:51] Grace-MacJones-MSFT commented on #100656
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-03 04:51] #100656 closed

[2022-11-03 04:52] RamanathanChinnappan-MSFT commented on #100890
@fausttiger

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 04:53] YashikaTyagi-MSFT commented on #100787
@jamesmkfoo23
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-03 05:04] SaibabaBalapur-MSFT commented on #99899
@khdownie
Thank for your input.

@tom-ditlev
If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-03 05:09] RamanathanChinnappan-MSFT commented on #100891
@tongyuze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 05:10] SaibabaBalapur-MSFT commented on #100818
@crankyroadkill
Once preview is done, you can be able to see in public document.
Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%

[2022-11-03 05:12] RamanathanChinnappan-MSFT commented on #100895
@tifischer

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 05:15] RamanathanChinnappan-MSFT commented on #100897
@jstrong123

Thanks for your feedback! We will investigate and update as appropriate.

 We have assigned the issue to author and will provide further updates.

[2022-11-03 05:20] RamanathanChinnappan-MSFT commented on #100901
@bstollnitz

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 05:23] RamanathanChinnappan-MSFT commented on #100903
@jhaynes3021

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 05:25] SaibabaBalapur-MSFT commented on #100891
@tongyuze
I'm going to assign this to the document author so they can take a look at it accordingly.

@msmimart
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 05:42] dburlinson opened #100904 "MABS Windows Server 2022 Support"
Is Windows Server 2022 supported as the MABS OS yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 76dad6d5-9991-e15e-0283-1d8d49c35df4
* Version Independent ID: baa58543-1be8-aa7c-15b9-db35f071f4fb
* Content: [Use Azure Backup Server to back up workloads - Azure Backup](https://learn.microsoft.com/en-us/azure/backup

[2022-11-03 06:00] #100867 closed

[2022-11-03 06:01] KapilAnanth-MSFT commented on #100867
@cchapin2020, I have updated the document and removed the "/" in the formula.

This should reflect soon

[2022-11-03 06:02] KapilAnanth-MSFT commented on #100769
@swellhunter , since there is no active discussion, we shall proceed with closing this thread.

Should you have any queries, please reopen this thread

[2022-11-03 06:02] #100769 closed

[2022-11-03 06:22] shaktisingh-msft commented on #100902
Hi @GennadNY,

Could you please look into this request. Thanks

[2022-11-03 06:22] amkarmak opened #100905 "deployment fails, ACR repo doesn't get created"
Hello all, following this document I found the deployment fails with imagepool error. When I checked the ACR, I see the repository is not created.

The kubelet error as below:-
kubelet            Failed to pull image "cicdacrak.azurecr.io/default:3": [rpc error: code = NotFound desc = failed to pull and unpack image "cicdacrak.azurecr.io/default:3": failed to resolve reference "cicdacrak.azurecr.i

[2022-11-03 06:23] amkarmak commented on #100905
Hello all, following this document I found the deployment fails with imagepool error. When I checked the ACR, I see the repository is not created.

The kubelet error as below:-
kubelet            Failed to pull image "cicdacrak.azurecr.io/default:3": [rpc error: code = NotFound desc = failed to pull and unpack image "cicdacrak.azurecr.io/default:3": failed to resolve reference "cicdacrak.azurecr.i

[2022-11-03 06:25] #100822 closed

[2022-11-03 06:26] #100832 closed

[2022-11-03 06:32] AjayBathini-MSFT commented on #100845
@Aprilllllll
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:35] AjayBathini-MSFT commented on #100853
@giovannadamasceno
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-03 06:35] AjayBathini-MSFT commented on #100853
@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:40] AjayBathini-MSFT commented on #100878
@gopher194
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-03 06:40] AjayBathini-MSFT commented on #100878
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:42] AjayBathini-MSFT commented on #100888
@Nicholak-MS
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:44] ManoharLakkoju-MSFT commented on #100779
@alexchen2016
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@barclayn
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:46] Amar2810 commented on #100632
Hello

Don’t know why ticket is closed without our confirmation

Please reopen it

Thanks and Regards

Amar Sakhare, System Support Engineer, CAMBRIO
Pune, Maharashtra 411016, India
Web: www.cambrio.com<http://www.cambrio.com/>

From: YashikaTyagi-MSFT ***@***.***>
Sent: 03 November 2022 10:22
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Amar Sakhare ***@***.***>; Mention ***@***.***>
Subject: Re

[2022-11-03 06:47] ManoharLakkoju-MSFT commented on #100828
@tulikapgit
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 06:48] Klaas- commented on #80205
with the releases of 2.1.0.1 I am still seeing this happening @pvrk -- any more input I can provide to actually find and fix this issue? :)

[2022-11-03 06:48] RamanathanChinnappan-MSFT commented on #100744
@agray0232

Could you please check below screenshot. Spelling in the document is correct.

![image](https://user-images.githubusercontent.com/110973511/199660946-b5c5e3ba-7736-44ae-993d-529dd788db90.png)

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-03 06:57] MughundhanRaveendran-MSFT commented on #100804
@LT-avala , I have made the changes. It will be published soon. Thanks for the feedback

[2022-11-03 07:09] ElazarK commented on #100017
@arindam0310018 i tried to close using the automated process and I am not sure why it did not work. Since i did not open the item i do not have access to close it other than via the automated way.

![image](https://user-images.githubusercontent.com/58463413/199664269-7504af01-7216-41d8-a19f-33884bdd7a66.png)

I appreciate both the feedback and the assistance with closing the item. I will look into

[2022-11-03 07:11] #100804 closed

[2022-11-03 07:13] YashikaTyagii opened #100907 "Old image"
under "View the Azure AD sign-ins report" is shown an old picture. In the portal the "sign-in" option has been update to "sign-in logs"
[Enter feedback here]

<img width="953" alt="image" src="https://user-images.githubusercontent.com/110381034/199664799-3debc9ee-4360-4cc1-ae88-c10413ca90fe.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitH

[2022-11-03 07:14] YashikaTyagi-MSFT commented on #100907
@Justinha
Please take a look at this.
Thanks

[2022-11-03 07:23] yertaylan67 opened #100908 "SLES image version to be deprecated soon"
[Enter feedback here]
Today, I received an email from Microsoft that the following image version will be deprecated on 1 February 2023.
Publisher=SUSE; Offer=sles-sap-15-sp3; Version=2022.01.26
Hence recommend removing this image version from the list of Supported Software in our documentation. Please check if the same applies to the other RHEL and SUSE image versions listed in the table.

---
###

[2022-11-03 07:32] bruce31 opened #100909 "Example uses .net core 3.1 which will be out of support within 2 months of publication date"
Need example targeting net6.0 or later as there are big differences between the default blazor templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e1279b6d-8210-1751-8e37-cf544cd3695d
* Version Independent ID: 6dc2d359-8d50-1df3-7983-29fb06bfdbb6
* Content: [Tutorial - Create a Blazor Server app that uses the Mi

[2022-11-03 07:50] shsagir commented on #99749
@alhieng Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-11-03 07:53] patilsameer11 opened #100910 "Documentation is confusing - Backup vault vs recovery vault"
[Enter feedback here]

Backup vault and recovery vault documentation does not look accurate. Feature and screenshot say soft delete under recovery vault but in portal it shows under backup vault. It adds confusion and doubts on documentation. Also, there is no clear guidance when to use backup vs recovery vault.

https://learn.microsoft.com/en-us/azure/backup/backup-azure-recovery-services-vault-o

[2022-11-03 08:01] memildin opened #100911 "Initiatives allow 1000 policies but you can only apply 500 of them?"
Is this a mistake?

<img width="883" alt="image" src="https://user-images.githubusercontent.com/55078580/199671527-1ab8a2e9-c388-46b0-881f-79990712e9ca.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Az

[2022-11-03 08:07] YashikaTyagi-MSFT commented on #100794
@tristan-rice
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-03 08:09] YashikaTyagi-MSFT commented on #100781
@mazharmuneerzn
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issu

[2022-11-03 08:10] #100781 closed

[2022-11-03 08:10] shsagir commented on #99749
@alhieng Please use: https://kustosamples.blob.core.windows.net/samplefiles/StormEvents.csv

We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-11-03 08:10] #99749 closed

[2022-11-03 08:12] peepeepopapapeepeepo commented on #98028
@asudbring How can I know the behavior will be like in a future update of Application Gateway

[2022-11-03 08:27] bzfred commented on #51830
Hello,

We've had issues with work or school accounts in a hybrid environment for a long time

The symptoms are:
outllok need password no popup
the work or school account has disappeared and no popup to recreate it
WamDefaultSet: Error in Dsregcmd /status

The solution was to delete the user profile and recreate it losing all user and programs customizations

Your solution works perfectly, it allo

[2022-11-03 08:31] GitaraniSharma-MSFT commented on #100790
@ElanShudnow , the doc has been updated to correct the statement as below:

Private IP address- your workloads are accessible privately via your virtual network / connected networks

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-11-03 08:31] #100790 closed

[2022-11-03 08:37] Naveenommi-MSFT commented on #100713
Hi @apaulro

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-11-03 08:38] Dhiraj3030 commented on #97786
@santhoshb-msft can you please elaborate on this? What exact clarity is needed?

[2022-11-03 08:42] Quixotical commented on #62419
yeah you can create a b2c tenant in terraform now, but beware, Azure DevOps doesn't seem able to handle managing resources in the main AD and the B2C tenant, so it will break when you get there.

[2022-11-03 08:46] Naveenommi-MSFT commented on #100895
@djpmsft

Could you please review this and update as appropriate.

[2022-11-03 08:46] Naveenommi-MSFT commented on #100895
@tifischer

Thank you for bringing this to our attention.
I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-03 08:47] adi-garg opened #100914 "Blob Snapshot feature- Support for Block/Page/Append Blobs"
Hello Microsoft,
It would help if you could add to this [article ](https://learn.microsoft.com/en-us/azure/storage/blobs/snapshots-overview)whether **Blob Snapshots** are supported for all 3(**Block/Page/Append**) kinds of blobs.

Same query for **Change Feed** [feature](https://learn.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed?tabs=azure-portal#enable-and-disable-the-change-f

[2022-11-03 08:58] bmansheim commented on #100626
@ncdlloyd Great point. Thanks to you, I updated the link to point directly to the workbook to help learners get the information they need fast.

#sign-off

[2022-11-03 08:58] #100626 closed

[2022-11-03 09:00] Naveenommi-MSFT commented on #100890
@jboback

Could you please review this and update as appropriate.

[2022-11-03 09:01] Naveenommi-MSFT commented on #100890
@fausttiger

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-03 09:05] Naveenommi-MSFT commented on #100829
@JimThorstad
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-11-03 09:05] #100829 closed

[2022-11-03 09:07] Naveenommi-MSFT commented on #100855
@mahmoudsamy27
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-03 09:07] Naveenommi-MSFT commented on #100855
@jianleishen
Could you Please review this and update as appropriate.

[2022-11-03 09:09] Naveenommi-MSFT commented on #100872
@mssaperla

Could you please review this and update as appropriate.

[2022-11-03 09:10] Naveenommi-MSFT commented on #100872
@ibTnJohn

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-03 09:12] SadiqhAhmed-MSFT commented on #100910
@patilsameer11 Thank you for posting your question here. I will look into the details of the documentation and get back to you soon.

[2022-11-03 09:12] ManoharLakkoju-MSFT commented on #100885
@aulong-msft
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@wadepickett
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 09:13] SadiqhAhmed-MSFT commented on #100904
@dburlinson Thanks for posting your question. Looking into this, will get back to you soon.

[2022-11-03 09:15] ManoharLakkoju-MSFT commented on #100866
@BRRiley
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Justinha
Can you please check and add your comments on this doc update request as applicable.

[2022-11-03 09:21] kengaderdus commented on #99793
reassign: @garrodonnell

[2022-11-03 09:22] kengaderdus commented on #98068
#reassign: @garrodonnell

[2022-11-03 09:23] RamanathanChinnappan-MSFT commented on #100789
@RossTrg

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-03 09:31] kengaderdus commented on #98195
@craigeaw

Thank you for your patience. We're investigating this issue and we'll comment back when we've something.

[2022-11-03 09:45] liute110 opened #100915 "PublicAccessNotPermitted error reported when download ample dataset of NYX Taxi Cab"
![image](https://user-images.githubusercontent.com/19482770/199690477-b679156f-2f8b-41b0-8caa-09443fc2b6ff.png)

Link:  https://azuresynapsestorage.blob.core.windows.net/sampledata/NYCTaxiSmall/NYCTripSmall.parquet

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID

[2022-11-03 09:46] vgool commented on #100423
I don't necessarily think it is a bug in the documentation, but I was referring to this section:
![image](https://user-images.githubusercontent.com/54403932/199689462-4987ead9-a0ad-49f8-9a81-a86f065e0689.png)

In this page: https://learn.microsoft.com/en-US/azure/api-management/api-management-howto-deploy-multi-region

After more investigation it turned out that the API Management DNS-servers were

[2022-11-03 09:51] SadiqhAhmed-MSFT commented on #99349
@simonburbery Apologies for delayed response.

Yes it should be 1 TB. Check the below table, where 16 vCPUs 2 cores suggest 1 TB.

![image](https://user-images.githubusercontent.com/44458118/199690649-9eccd50b-d417-452b-840f-430a4e9fbc05.png)

Doc reference: https://learn.microsoft.com/en-us/azure/site-recovery/vmware-azure-deploy-configuration-server#sizing-and-capacity-requirements

Closing this

[2022-11-03 09:52] lightupdifire opened #100916 "Phone verification billing"
Hello,

Can you please add information on how to calculate costs for SMS/Call or where to check it?
And would be interesting to understand how it will be calculated in Azure tenant for Member users and for Guests users.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cd8e9708-dae9-55bb-4bcf-b2bad768b695
* Version Indep

[2022-11-03 09:57] SadiqhAhmed-MSFT commented on #100904
@dburlinson Windows Server 2022 is not yet supported. We are targeting to support it on MABS V4 with a tentative timeline (Early 2023).

Let us know if you have any further questions!

[2022-11-03 09:58] #100904 closed

[2022-11-03 10:01] kengaderdus commented on #97051
@pkalvik

You need to use you use dot notation to extract the data, so it's something like `customerEntity.email` or `customerEntity.firstName`. If it's a response you're getting from calling a rest API, by using a [RESTiful Technical Profile](https://learn.microsoft.com/en-us/azure/active-directory-b2c/restful-technical-profile), and you're getting an output claim, you need to include the `Resolv

[2022-11-03 10:27] RamanathanChinnappan-MSFT commented on #100820
@IyshwaryaK

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-03 10:29] perttulaurila commented on #85021
Any updates on this? Seems to have been in the backlog for a long while?

[2022-11-03 10:37] RamanathanChinnappan-MSFT commented on #100854
@mssaperla

could you please review this and update as appropriate.

![image](https://user-images.githubusercontent.com/110973511/199699866-0cb988f0-ce89-4155-9594-eee4a479c606.png)

[2022-11-03 10:37] RamanathanChinnappan-MSFT commented on #100854
@kakacper1

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-03 11:12] varmakvl7 opened #100917 "Outdated command to start the adu-agent"
adu-agent is now changed to deviceupdate-agent.service
so `sudo systemctl restart adu-agent` is no longer valid.
use this instead to start the device update service `sudo systemctl restart deviceupdate-agent.service`
---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fae57922-c3b2-5fb6-230a-9be79c40c774
* Version Independe

[2022-11-03 11:13] kubasiak opened #100918 "Please name the service to connect to."
The key for the resource - what resource is that? You don't specify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 015de9d4-ec53-4a44-a6fb-216e3ca294b9
* Version Independent ID: edc0cdc7-17fe-9c70-38cf-b0dd337d321c
* Content: [Send a text classification request to your model - Azure Cognitive Services](https://lea

[2022-11-03 11:14] liute110 opened #100920 "StormEvents.csv AuthenticationFailed"
<Error>
<Code>AuthenticationFailed</Code>
<Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:544feb66-501e-0047-2075-ef75ed000000 Time:2022-11-03T11:13:27.1438599Z</Message>
<AuthenticationErrorDetail>Signature not valid in the specified time frame: Start [Fri, 04 Sep 2020 18:23:52 GMT] - Expiry [Mo

[2022-11-03 11:40] steve-down opened #100921 "Relationship between VNet links, rulesets, outbound endpoints is confusing and/or incorrect"
The page states:

"Virtual network links enable name resolution for virtual networks that are linked to an outbound endpoint with a DNS forwarding ruleset. This is a 1:1 relationship."

In the portal, however, you can link multiple VNets to a ruleset, which suggests a 1:N relationship between ruleset and VNet.

and:

A DNS forwarding ruleset is a group of DNS forwarding rules (up to 1,000) that ca

[2022-11-03 12:02] PatrickFarley commented on #97047
#please-close

[2022-11-03 12:02] #97047 closed

[2022-11-03 12:08] SachithKasthuriarachchi opened #100922 "Ambiguous Wording in 'System node pools have the following restrictions' Section"
[Enter feedback here]

### Problematic Sentence
A minimum of two nodes 4 vCPUs is recommended(e.g. Standard_DS4_v2), especially for large clusters (Multiple CoreDNS Pod replicas, 3-4+ add-ons, etc.).

### Problem

The wording of the sentence suggests us to allocate a minimum of 2 nodes of 4vCPUs. However, the given SKU inside brackets (Standard_DS4_v2) is an 8vCPU instance. Please address the ambi

[2022-11-03 12:10] KapilAnanth-MSFT commented on #100921
@steve-down, Thanks for your feedback. We shall review this and get back to you soon!

[2022-11-03 12:31] tejaswikolli-web commented on #97653
I have made changes to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/215811

[2022-11-03 12:32] tejaswikolli-web commented on #97653
#please-close

[2022-11-03 12:32] #97653 closed

[2022-11-03 12:37] ramsaisha commented on #100770
Hi,
Please find the URL's
https://learn.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-get-started
https://learn.microsoft.com/en-us/troubleshoot/azure/azure-monitor/app-insights/status-monitor-v2-troubleshoot?source=recommendations

[2022-11-03 12:44] wallystart commented on #13515
Hi! Until there is a new feature, we need a workaround regarding the error message when dbutils.notebook.run() fails, the error is unclear and does not convey the true error. In this case, orchestrated by airflow

![image](https://user-images.githubusercontent.com/25191329/199722876-42968ab9-890d-4825-9cd9-6b92456c12aa.png)

Ty

[2022-11-03 13:29] het-msft opened #100923 "Typo in ALTER ROLE statement"
At page - https://learn.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-logins-tutorial?view=azuresql#grant-special-roles-for-azure-ad-users

There is a typo in ALTER ROLE statement

ALTER ROLE [**dbamanger**] ADD MEMBER [AzureAD_object]

should be

ALTER ROLE [**dbmanager**] ADD MEMBER [AzureAD_object]

Same type of there for ALTER ROLE DROP MEMBER

[Enter feedback here]

---

[2022-11-03 13:29] PMLIO opened #100924 "Azure IR Custom DNS"
"Replace “your-dns-server-ip” in main.cmd with the IP address of your own DNS server."

This does not exist in main.cmd, where is it supposed to be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e5c2bcb3-99ab-af60-1463-be0d20879083
* Version Independent ID: 82be00b7-f092-c456-2771-855e09925f7c
* Content: [Confi

[2022-11-03 13:36] EirikWulff commented on #91175
The fix mentioned by the OP seems to be broken now. It gives the error "New-AzRoleAssignment: 'PrincipalId' cannot be null." My guess is that it refers to the principalId of the resource provider service principal being null.

[2022-11-03 13:41] GitaraniSharma-MSFT commented on #100763
@nadupalliramesh , kindly let us know if the above helps or you need further assistance on this issue.

[2022-11-03 13:41] seesharprun commented on #99871
@lupercio, thanks for reaching out!

I couldn't get this Quickstart to work either, so it's being updated now to us a much simpler application that works consistently. Thanks, as always, for your feedback.

Once the new version is in the publishing pipeline, this issue will close.

[2022-11-03 13:47] SolArrascue opened #100925 "DJ password Prompt Issue"
Password Authentication (doesn’t prompt for a password ) after follow the Microsoft documentation. Document incomplete additional line must be altered : set ChallengeResponseAuthentication to YES in sshd_config

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ffffb136-b73f-2b2a-728d-b4c57f08ee5b
* Version Independent ID

[2022-11-03 14:09] HitenBhavsarMSFT opened #100927 "Please add note on this Page: "In preview , Azure Active Directory Authentication only is supported post server creatio""
SR 2211030050001551
The Customer was confused with the option "Azure Active Directory Authentication only" on the creation flex PostgreSQL Server but gray out and cx does not know why, Link from the portal come to this page.

![image](https://user-images.githubusercontent.com/72768193/199741681-c442b333-f469-4e1e-99fb-8909b3fbfe15.png)

Below is missing in the Additional considerations, which is l

[2022-11-03 14:09] MarcoLodini commented on #91175
@EirikWulff I have tried to run the command again using -Debug and it seems they have changed the way the principal information is obtained.
I managed to get it working again by running the following command:

New-AzRoleAssignment -Scope "/subscriptions/d20174e2-ef8a-4ac7-a4cd-41e926791c7f/resourceGroups/KeyVaultVMTest/providers/Microsoft.KeyVault/vaults/myKv" -RoleDefinitionName "Key Vault Secret

[2022-11-03 14:11] mitchross opened #100928 "Update AEM Azure AD SAML Instructions"
[Enter feedback here]

Update the AEM instructions for Azure AD SAML Auth. There is a key missing step that makes these instructions incomplete

After Adding the SAML info to the SAML Auth Handler Config in the AEM web Console, you must also make a change to the Sling Referrer Filter.  If you do not do this, the SAML auth will fail and users will be stuck.

allow POST and add login.microsoftonline

[2022-11-03 14:13] anthonymashford opened #100929 "Access to ANF volumes cross a Global VNet peer"
[Enter feedback here]
Hi

Under the Considerations section, there is a bullet point that states 'Access to a volume from a globally peered virtual network is not currently supported'.

Perhaps it should say;
Access to a volume from a globally peered virtual network is not currently supported using Basic networks features. Global VNet peering is supported with Standard network features.

Regards

A

[2022-11-03 14:16] ElazarK commented on #100880
@AzureLego I will bring this up to the appropriate people and see if they wish to add this to the documentation.

[2022-11-03 14:16] ElazarK commented on #100880
#sign-off

[2022-11-03 14:16] ElazarK commented on #100880
#please-close

[2022-11-03 14:16] #100880 closed

[2022-11-03 14:24] MicrosoftGuyJFlo commented on #100632
#reassign:@MicrosoftGuyJFlo

@Amar2810 I am closing this issue as I am not in the position to create a script for this use case.

If you need further assistance with this, I recommend working with the Fast Track engineers you are working with already or opening a support case as was mentioned @YashikaTyagi-MSFT.

#please-close

[2022-11-03 14:24] #100632 closed

[2022-11-03 14:30] RamanathanChinnappan-MSFT commented on #100905
@amkarmak

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:33] RamanathanChinnappan-MSFT commented on #100908
@yertaylan67

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:34] RamanathanChinnappan-MSFT commented on #100908
@yertaylan67

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-03 14:36] RamanathanChinnappan-MSFT commented on #100909
@bruce31

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:38] RamanathanChinnappan-MSFT commented on #100915
@liute110

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:41] RamanathanChinnappan-MSFT commented on #100911
@memildin

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:41] KapilAnanth-MSFT commented on #100921
Wrt,
"Virtual network links enable name resolution for virtual networks that are linked to an outbound endpoint with a DNS forwarding ruleset. This is a 1:1 relationship."

- This talks about a Virtual Network Link and not about DNS forwarding rule Set.
- A virtual network Link connects 1 Forwarding Rule Set to 1 VNet, and hence 1:1

Wrt,
"A DNS forwarding ruleset is a group of DNS forwarding rule

[2022-11-03 14:44] immsgbb opened #100930 "Performance difference between serverless and Pro"
Serverless: This warehouse type supports all features in Pro, as well as advanced Databricks SQL performance features. See [Serverless](https://learn.microsoft.com/en-us/azure/databricks/sql/admin/serverless).
Pro: This warehouse type provides support additional Databricks SQL performance features (compared to classic) and support for all Databricks SQL functionality.

Are there any performance fe

[2022-11-03 14:45] tfitzmac commented on #100911
@timwarner-msft - do you happen to know the answer for this issue?

[2022-11-03 14:46] RamanathanChinnappan-MSFT commented on #100916
@lightupdifire

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:52] RamanathanChinnappan-MSFT commented on #100917
@varmakvl7

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:53] RamanathanChinnappan-MSFT commented on #100918
@kubasiak

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 14:57] timwarner-msft commented on #100911
Investigating with Azure Policy engineering team today. Thanks, Tom. -Tim

[2022-11-03 14:57] RamanathanChinnappan-MSFT commented on #100920
@liute110

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:00] RamanathanChinnappan-MSFT commented on #100922
@SachithKasthuriarachchi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:00] MicrosoftGuyJFlo commented on #75473
Awesome! Thanks @JeremyTBradshaw

[2022-11-03 15:00] onionhammer commented on #85021
It's interesting support for this was removed then this comment was closed without referring us somewhere else or any explanation..

[2022-11-03 15:03] RamanathanChinnappan-MSFT commented on #100923
@het-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:05] RamanathanChinnappan-MSFT commented on #100924
@PMLIO

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:07] RamanathanChinnappan-MSFT commented on #100925
@SolArrascue

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-03 15:12] RamanathanChinnappan-MSFT commented on #100928
@mitchross

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:14] RamanathanChinnappan-MSFT commented on #100929
@anthonymashford

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:15] RamanathanChinnappan-MSFT commented on #100930
@immsgbb

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 15:23] nosalan commented on #95675
While  `--disable-gateway` works it is still unclear what this option does and how it affects security and why it is needed.
[Docs](https://learn.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#az-network-bastion-rdp-optional-parameters) only say: `Flag to disable access through RD gateway.` It is not even explained what `RD` means and what really happens. Moreover, the https:/

[2022-11-03 15:30] Nicholak-MS commented on #100888
Hi @mier01, I have updated the CSV to fix remove the commas and any trailing spaces. Thanks for sharing the feedback and let us know if you have any other issues.

Thanks
Nick

#please-close

[2022-11-03 15:30] #100888 closed

[2022-11-03 15:34] lauradolan commented on #100908
Reassigning to product team for further investigation

#reassign: sagarkeswani

[2022-11-03 15:35] nickludwig commented on #85021
#please-open

[2022-11-03 15:37] nickludwig commented on #98787
@AvinandanPatra - closing this due to inactivity. If you'd like me to re-open, please comment.

[2022-11-03 15:37] nickludwig commented on #98787
#please-close

[2022-11-03 15:45] perttulaurila commented on #85021
Hi,

we would be interested in testing acr claim, but its values are not clear. The only information I can find is that the value is that "0" indicates the end-user authentication did not meet the requirements of ISO/IEC 29115.

https://github.com/uglide/azure-content/blob/master/articles/active-directory/active-directory-token-and-claims.md#id_tokens

Can you shed some more light what we can expe

[2022-11-03 15:49] parlevjo2 opened #100934 "A couple of parameters do not exist for the cmdlet New-AzResourceGroupDeployment"
Re: New-AzResourceGroupDeployment -ResourceGroupName $resourceGroupName -TemplateUri $templateUri -projectName $projectName -adminUsername $adminUsername -adminPassword $adminPassword -dnsLabelPrefix $dnsPrefix

These 4 parameters do not exist in the cmdlet New-AzResourceGroupDeployment [Link](https://learn.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-

[2022-11-03 15:51] nickludwig commented on #85021
@perttulaurila - ah, I see. Yeah, that's pretty unclear. We definitely need to update the docs there. Thanks for pointing that out.

From my understanding, if the value of `acr` is...
0 -> then MFA wasn't used
1 -> MFA was used

We'd definitely like to add more values in the future for additional strengths such as "phishing resistant", etc. As for right now, however, `acr` only shows whether MFA w

[2022-11-03 15:57] parlevjo2 opened #100935 "A couple of parameters do not exist for the cmdlet New-AzResourceGroupDeployment"
re: You can also download or create a template and specify the local path with the `--template-file` parameter.
`--template-file` should be `-template-file`

Re: New-AzResourceGroupDeployment -ResourceGroupName $resourceGroupName -TemplateUri $templateUri -projectName $projectName -adminUsername $adminUsername -adminPassword $adminPassword -dnsLabelPrefix $dnsPrefix

These 4 parameters do not exis

[2022-11-03 16:02] vhorne commented on #44048
This appears to be fixed in the current documentation.
#please-close

[2022-11-03 16:05] #44048 closed

[2022-11-03 16:05] SolArrascue commented on #100925
@RamanathanChinnappan-MSFT link :  https://learn.microsoft.com/en-us/azure/active-directory-domain-services/join-ubuntu-linux-vm

[2022-11-03 16:06] MicrosoftGuyJFlo commented on #96840
#reassign:@shlipsey3

[2022-11-03 16:06] MicrosoftGuyJFlo commented on #94194
#reassign:@shlipsey3

[2022-11-03 16:10] mier01 commented on #100888
Thank you @Nicholak-MS :-)

[2022-11-03 16:15] MicrosoftGuyJFlo commented on #92325
#reassign:@shlipsey3

[2022-11-03 16:15] MicrosoftGuyJFlo commented on #88632
#reassign:@shlipsey3

[2022-11-03 16:16] MicrosoftGuyJFlo commented on #87926
#reassign:@shlipsey3

[2022-11-03 16:17] MicrosoftGuyJFlo commented on #68941
#reassign:@shlipsey3

[2022-11-03 16:17] MicrosoftGuyJFlo commented on #73774
#reassign:@shlipsey3

[2022-11-03 16:17] MicrosoftGuyJFlo commented on #82006
#reassign:@shlipsey3

[2022-11-03 16:17] MicrosoftGuyJFlo commented on #82834
#reassign:@shlipsey3

[2022-11-03 16:18] MicrosoftGuyJFlo commented on #86378
#reassign:@shlipsey3

[2022-11-03 16:36] onionhammer commented on #85021
Maybe the docs should be updated with this guidance

[2022-11-03 16:38] RamanathanChinnappan-MSFT commented on #100934
@parlevjo2

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 16:39] ericd-mst-github commented on #98869
#please-close

[2022-11-03 16:39] RamanathanChinnappan-MSFT commented on #100935
@parlevjo2

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 16:45] #98869 closed

[2022-11-03 16:48] lauradolan commented on #94296
#reassign: iamwilliew

[2022-11-03 16:55] wsucoug69 opened #100938 "Missing AzureWebJobsStorage__accountName setting for Supporting AzureWebJobsStorage with Identities instead of Secrets"
The documentation is missing a preview setting AzureWebJobsStorage__accountName setting for Supporting AzureWebJobsStorage with Identities instead of Secrets.

This is an option and enabled as documented here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-identity-based-connections-tutorial#use-managed-identity-for-azurewebjobsstorage-preview

---
#### Document Details

⚠ *Do n

[2022-11-03 16:59] #99873 closed

[2022-11-03 17:03] dlepow commented on #100420
@yichungyu - Thanks very much for the detail!

[2022-11-03 17:14] SadiqhAhmed-MSFT commented on #100910
@patilsameer11 Appreciate your patience in this matter. Please find the elaborated answer to your question.

**Recovery Services Vault** is the traditional service used by Azure Backup as a storage repository for your backup data.

It can back up:

VMs (via a backup extension)
File Shares (part of storage account)
SQL Server / SAP HANA databases, when deployed on an Azure VM

**Backup Vault** is a

[2022-11-03 17:24] onionhammer commented on #85021
@nickludwig

According to this
![image](https://user-images.githubusercontent.com/969938/199791722-29c94921-60b1-47f7-9064-9a6a06ad84ce.png)

`acr` is only available on v1.0 tokens anyways..

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #96078
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #94447
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #94191
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #94103
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #91924
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #91678
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #90427
#reassign:@barclayn

[2022-11-03 17:30] MicrosoftGuyJFlo commented on #89959
#reassign:@barclayn

[2022-11-03 17:31] MicrosoftGuyJFlo commented on #87686
#reassign:@barclayn

[2022-11-03 17:31] MicrosoftGuyJFlo commented on #87506
#reassign:@barclayn

[2022-11-03 17:31] MicrosoftGuyJFlo commented on #87020
#reassign:@barclayn

[2022-11-03 17:32] MicrosoftGuyJFlo commented on #87000
#reassign:@barclayn

[2022-11-03 17:32] MicrosoftGuyJFlo commented on #86309
#reassign:@barclayn

[2022-11-03 17:32] MicrosoftGuyJFlo commented on #86039
#reassign:@barclayn

[2022-11-03 17:33] MicrosoftGuyJFlo commented on #85127
#reassign:@barclayn

[2022-11-03 17:33] MicrosoftGuyJFlo commented on #84502
#reassign:@barclayn

[2022-11-03 17:33] MicrosoftGuyJFlo commented on #83686
#reassign:@barclayn

[2022-11-03 17:33] kripa-2019 opened #100940 "Delay in activation of private endpoint"
CX reports that when they set the storage account to allow connection from specific vnets/IP's it works instantly. But if it's private endpoint only, it takes 1-2 minutes to work even if Azure portal informs that the private endpoint is created and ready.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c8f-81

[2022-11-03 17:34] MicrosoftGuyJFlo commented on #82267
#reassign:@barclayn

[2022-11-03 17:35] MicrosoftGuyJFlo commented on #82080
#reassign:@barclayn

[2022-11-03 17:35] MicrosoftGuyJFlo commented on #80853
#reassign:@barclayn

[2022-11-03 17:35] MicrosoftGuyJFlo commented on #80467
#reassign:@barclayn

[2022-11-03 17:35] MicrosoftGuyJFlo commented on #80885
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #83577
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #81628
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #81605
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #81104
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #81370
#reassign:@barclayn

[2022-11-03 17:36] MicrosoftGuyJFlo commented on #81035
#reassign:@barclayn

[2022-11-03 17:41] dazinator opened #100941 "Private endpoint deploying in complete mode, with auto created network interface failing to deploy"
I am following this example and deploying my bicep template in complete mode.

ARM deployment shows in the portal that all the elemetns successfully deployed but it runs for an hour before failing with no error details. Looking at the activity log I see this error

![image](https://user-images.githubusercontent.com/3176632/199794245-0e206fbb-2971-47cd-94cd-10d53858dcd7.png)

Why is it trying to de

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #80426
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #81300
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #81337
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #86318
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #86937
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #90392
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #92703
#reassign:@amsliu

[2022-11-03 17:43] MicrosoftGuyJFlo commented on #93088
#reassign:@amsliu

[2022-11-03 17:44] MicrosoftGuyJFlo commented on #93544
#reassign:@amsliu

[2022-11-03 17:44] MicrosoftGuyJFlo commented on #95059
#reassign:@amsliu

[2022-11-03 17:44] MicrosoftGuyJFlo commented on #95678
#reassign:@amsliu

[2022-11-03 17:54] timwarner-msft commented on #100911
Ok @memildin, I have a response for you. The Azure Policy limits in the table you shared pertain only to _custom_ policies, not built-ins. This explains why you can have up to 1,000 policy definitions within a single initiative assignment even though you can have a maximum of 500 custom policy definitions per scope.

You can open an Azure support ticket to raise those limits if they don't work for

[2022-11-03 17:54] timwarner-msft commented on #100911
#please-close

[2022-11-03 17:54] #100911 closed

[2022-11-03 17:58] CRuD117 opened #100942 "Error on page"
I believe this is reversed.  If you are asking to install the 64 bit version on a 64 bit OS, then the default landing folder should be %ProgramFiles% and not %ProgramFiles(x86)%.  It is at least confusing right?

From page:

Copy
msiexec /i <path_to_msi> /l*v <install_logfile_name> ALLUSER=1 ALLUSERS=1
**This process installs Teams to the %ProgramFiles(x86)% folder on a 64-bit operating system and

[2022-11-03 18:02] agray0232 commented on #100744
Looks good to me!

Anthony

On Thu, Nov 3, 2022 at 2:49 AM RamanathanChinnappan-MSFT <
***@***.***> wrote:

[2022-11-03 18:06] josheinstein opened #100943 "TCP and UDP Traffic Unsupported"
In the FAQ, it states that TCP and UDP traffic is *unsupported* when that should in fact say that *only* TCP and UDP traffic is *supported*.

https://learn.microsoft.com/en-us/azure/private-link/private-link-faq#do-private-endpoints-support-tcp-and-udp-traffic-

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6

[2022-11-03 18:15] ChaitanyaNaykodi-MSFT commented on #100943
@josheinstein Thank you for your feedback! We will review and update as appropriate.

[2022-11-03 18:15] mbiver opened #100944 "/mode:VM in non-homogenous environment like Azure"
Hello, team.  I noticed that we're recommending the /mode:vm parameter while using sysprep.  It's my understanding that the /mode:vm is for environments where the hardware is all highly uniform and helps to speed up deployment by essentially not removing certain information from the VM during sysprep regarding the underlying environment where the VM is being deployed.  Since Azure has a wide range

[2022-11-03 18:25] jamestharpe opened #100945 "Reduce or remove Pandas requirement for visualization solutions"
I'd love to see this page updated so that the solutions do not rely on Pandas. Pandas doesn't perform well on larger data sets, which limits the usefulness of these solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f6060323-f30c-6421-2c78-b85729e51b8a
* Version Independent ID: 778c3f9c-fd30-c5af-4da7-1654fec35

[2022-11-03 18:25] asudbring commented on #100943
@josheinstein thanks for the feedback.

Yep, I got that one mixed up when I added it to the faq.  Will fix.

Thanks!

[2022-11-03 18:27] normesta commented on #100695
Hi @AjayBathini-MSFT Lifecycle management is supported on all of those accounts. However, some accounts can't use Lifecycle management rules to change the tier of data. The ability to change tiers, and the ability to use Lifecycle management are separate capabilities. You can have a Lifecycle management rule that deletes data for example. A rule that performs that action is not changing the tier o

[2022-11-03 18:27] msmbaldwin commented on #100407
Hi @arindam0310018, and thanks for calling this to our attention.  We have updated the screenshots in https://learn.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal; they now accurately reflect the current Azure portal.

Thanks again for your feedback -- we appreciate it! #please-close

[2022-11-03 18:27] #100407 closed

[2022-11-03 18:30] normesta commented on #100607
Hi @ntn-rjdn thanks for asking. Can you please help me understand exactly what information around handling credentials you are looking for? I'm unclear about where we can help clarify that? Thank you.

[2022-11-03 18:32] asudbring commented on #100943
Opened PR to fix.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/217079
#please-close

[2022-11-03 18:32] #100943 closed

[2022-11-03 18:32] cynthn commented on #100944
@mbiver Support is who first asked for me to include the /mode:vm parameter, and you are now the second CSS person to ask that I remove it :D  I'm fine with taking it out, I just want to make sure that everyone agrees that it is better without. Queena Dai asked me about this last week - are you two in contact?

[2022-11-03 18:50] m365ken commented on #97066
Can we update this thread when it more info becomes available? Thanks.

[2022-11-03 19:04] imtiazh opened #100946 "Some of the content from this page is not reflected in the new location"
Looks like this page is not being updated and refers to the new page: https://learn.microsoft.com/en-us/azure/security/fundamentals/azure-ca-details
However, some of the content like https://learn.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes#will-this-change-affect-me doesn't seem to have moved to the new location.

Also, the current page says the following about Java ap

[2022-11-03 19:28] thisjustin816 opened #100947 "Bicep loops only work with values that can be determined at the start of deployment"
When trying to loop through some values of a created existing resource, I got the following error:

`This expression is being used in the for-expression, which requires a value that can be calculated at the start of the deployment. Properties of [app service] which can be calculated at the start include "apiVersion", "id", "type". Bicep(BCP178)`

This limitation is not listed in the documentation.

[2022-11-03 19:38] Bhuard1 opened #100948 "ADF pipeline; clarification for package.json with latest improvements to stop/start triggers"
The pipeline yaml indicates:
#For using preview that allows you to only stop/ start triggers that are modified, please comment out the above line and uncomment the below line. Make sure the package.json contains the build-preview command.

But the  build-preview is not described in the package.json file

It is assumed that the package file would look like this?
{
  "scripts": {
    "build": "node

[2022-11-03 19:50] adi-garg opened #100949 "Uploading Blobs-Feedback to reference option to upload to a folder(directory)"
Hello Microsoft,
I assume the section [here ](https://learn.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal#upload-a-block-blob) is dated and may benefit from adding screenshot and describing how to optionally upload a blob to a FOLDER(DIRECTORY).
<img width="939" alt="Blob-Upload to folder" src="https://user-images.githubusercontent.com/73249037/199820263-3da4f32a-4ebe-448

[2022-11-03 19:58] BryanTrach-MSFT commented on #100426
I have added Tom, who should be the point of contact for Terraform documentation.

[2022-11-03 20:01] BryanTrach-MSFT commented on #100305
@kszicsillag We agree that the documentation has fallen behind what the product offers. Our team is unable to edit screenshots, and this will likely require updating screenshots, so we have assigned this to the doc author.

[2022-11-03 20:17] dweppeler-msft opened #100950 "Please clarify the following sentence - "Personal host pools only allow and support RemoteApp app groups.""
Hi,

I don't understand the following sentence in our documentation for AVD environment:
"Personal host pools only allow and support RemoteApp app groups."

Please clarify the idea for this point.

Thank you very much!

Source:
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/virtual-desktop/environment-setup.md

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-03 20:19] adi-garg commented on #100695
Agreed, Thanks @normesta  for confirming my second diagram understanding.

Perhaps adding a note below this would help?
_Lifecycle management policies are supported for block blobs and append blobs in general-purpose v2, premium block blob, and Blob Storage accounts._
**It may be noted that Lifecyle Policies primarily serve two objectives-setting tiers or deletion.
Setting Tiers using Lifecycle Ma

[2022-11-03 20:25] jhgbrt opened #100951 "dead links: storage emulator"
The links to the pages about 'using a local storage emulator' are broken. Correct url: https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azurite ?

https://learn.microsoft.com/en-us/storage/common/storage-use-azurite.md

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad301acd-cfb9-5413-b882-e20e2263221

[2022-11-03 20:26] mbiver commented on #100944
I've not chatted with anyone, just had a case today that was related to image creation and noticed it in the documentation.

[2022-11-03 20:31] MsGabsta commented on #100783
@rgerrits I am reviewing this and will make changes accordingly.

[2022-11-03 20:34] gwynforthewyn opened #100952 "Invalid CLI command for creating a monitor in govcloud"
The web page at https://learn.microsoft.com/en-Us/azure/azure-monitor/essentials/azure-monitor-workspace-overview?tabs=cli lists an example azure cli command to receive access to Monitor Workspaces as `az resource create --resource-group divyaj-test --namespace microsoft.monitor --resource-type accounts --name testmac0929 --location westus2 --properties {}`

I edited this some to `az resource crea