[2021-06-08 07:44] vipulsparsh commented on #76546
@pauldulong Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-08 07:45] vipulsparsh commented on #76551
@pauldulong Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-08 07:47] vipulsparsh commented on #76544
@pauldulong Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-08 07:49] chirangaalwis opened #76554 "[AKS] What is the exact time period of checking the Metrics API for a Horizontal Pod Autoscaler?"
Section about [`Cooldown of scaling events`](https://docs.microsoft.com/en-us/azure/aks/concepts-scale#cooldown-of-scaling-events) states that an HPA checks the Metrics API every 30 seconds.

As per my personal observation and https://github.com/Azure/AKS/issues/1595#issue-614672164, this is 60 seconds or 1 minute.

What is the exact time period of checking the Metrics API?

**Suggested Assignees:

[2021-06-08 07:53] psmanhas commented on #76554
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-06-08 07:55] AnuragSharma-MSFT commented on #76534
@arunmahadevan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-08 07:56] KranthiPakala-MSFT commented on #76335
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-06-08 07:56] #76335 closed

[2021-06-08 07:56] KranthiPakala-MSFT commented on #76364
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-06-08 07:56] #76364 closed

[2021-06-08 08:03] nonnb opened #76555 "Python Code Typo"
[Enter feedback here]

In the Python demo sample, you need an equals (=) to assign the subscription id variable:

    subscription_id "<subscriptionid>"

Must be

    subscription_id = "<subscriptionid>"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffba32ba-d527-419f-ae4f-7984625843e5
* Version Independent ID: eb3c659

[2021-06-08 08:04] vipulsparsh commented on #76302
@vboyev-MSFT Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-08 08:13] SwathiDhanwada-MSFT commented on #76548
@Klaas- Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-08 08:18] SwathiDhanwada-MSFT commented on #76549
@Klaas- Thanks for your feedback.

Assigning to content author @MGoedtel for review.

[2021-06-08 08:27] roopasd opened #76556 "Can "CopyInto" command be used to load incremental data from delta to Azure SQL keeping already copied information."
This is a question, can this command be used to load delta data from delta lake to sql, ignoring already copied files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da84d7fc-2505-85c9-e06c-e90326fd1b64
* Version Independent ID: 12874e82-0e59-c172-5831-ada04f2ef3e0
* Content: [COPY INTO (Delta Lake on Azure Databricks)

[2021-06-08 08:36] Svijay-msft commented on #76533
Thanks for the feedback! We are looking into this and will get back to you soon.

[2021-06-08 08:54] funkysi1701 opened #76557 "Better match to the old release annotations deployment task"
Replace

[code]

 with

[code]

and it would be a better match to what the old release annotations deployment task did

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1eec15-6783-f8a2-81c0-ffa9d1b40dc2
* Version Independent ID: ab875981-7b0d-95be-dc5b-91f87acbe477
* Content: [Release annotations for Application Insigh

[2021-06-08 09:11] Chauncyzz opened #76558 "'– assignee object ID' is an unrecognized parameter"
[Enter feedback here]

Original:
•	--assignee: Pass the value https://vault.azure.net, which is the url for Key Vault in the Azure public cloud. (For Azure Goverment cloud use '--asingee-object-id' instead, see Service principal application ID.)

Should be:
•	--assignee: Pass the value https://vault.azure.net, which is the url for Key Vault in the Azure public cloud. (For Azure Goverment cloud als

[2021-06-08 09:24] AnuragSharma-MSFT commented on #76397
@chund Thanks for your patience. You can use MS OLEDB Driver with Active Directory Integrated Authentication. Below article has a code sample also mentioned on the same:

[Using Azure Active Directory](https://docs.microsoft.com/en-us/sql/connect/oledb/features/using-azure-active-directory?view=sql-server-ver15#code-samples)

[2021-06-08 09:27] amanmcse commented on #76544
@pauldulong Thank you for pointing this out. The option Local Account SignIn is available in Standard(Legacy) user flow. As the steps are for Recommended user flow, I have updated the step 5 under Create a profile editing user flow section as mentioned below:

For **Identity providers**, select one of the below options:
   - Email signin
   - User ID signin
   - Phone signin
   - Phone/Email signi

[2021-06-08 09:55] yutaro113 opened #76559 "Doc Update Request for Application Settings "XDT_MicrosoftApplicationInsights_NodeJS" and "XDT_MicrosoftApplicationInsights_Java""
ASK:
application settings "XDT_MicrosoftApplicationInsights_NodeJS" and "XDT_MicrosoftApplicationInsights_Java" seems not mentioned in this page as it is populated when enabled application insights. Could you please confirm below questions and include into the doc if possible?
・What is this settings for? (Any impact to webapps and application insights behavior?)
・When is this setting introduced? (

[2021-06-08 09:56] CHEEKATLAPRADEEP-MSFT opened #76560 "Update the steps in the prepare section with the latest changes in the UI."
To get started, export a Resource Manager template. This template contains settings that describe your Event Hubs namespace.

1. Sign in to the Azure portal.
2. Select All resources and then select your Event Hubs namespace.
3. Select > **Automation** > Export template.
4. Choose Download in the Export template page.

**Note:** **Export template** has moved from **settings** tab to **Automation**

[2021-06-08 10:00] wukun2015 opened #76561 "Where is my trained model ?"
Hello,

I've  practiced through guideline in https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-train and get all expected result.

But i cannot find the trained model file (containing the final trained hyperparameters, etc. ) in workspace, besides those model.py and script.

Where is it ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-06-08 10:03] amanmcse commented on #76058
@papichulo This will be added to the document. Here is a Pull Request created for this purpose: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3716/files

[2021-06-08 10:03] #76058 closed

[2021-06-08 10:03] CHEEKATLAPRADEEP-MSFT commented on #76560
@spelluru Could you please review and update the screenshot with the latest UI changes?

[2021-06-08 10:18] amanmcse commented on #76551
@pauldulong When you say "There is no reference in the documentation to the type of permissions question in the Portal.", are you referring to Delegated and Application permissions?
Could you please elaborate what you are looking for.

[2021-06-08 10:28] ezYakaEagle442 opened #76562 "Azure Arc for Kubernetes now GA & available in France-Central"
Azure Arc for Kubernetes now GA & available in France-Central

Please aupdate the docs accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9877fe-daba-9dd2-26f7-04de1f7a6dce
* Version Independent ID: 3fb88591-d13d-bd9f-7b3e-f48d11f28fbe
* Content: [Overview of Azure Arc enabled Kubernetes - Azure Arc](https:/

[2021-06-08 10:28] ezYakaEagle442 commented on #76562
@brunosa02

[2021-06-08 10:32] priyankareddy20 opened #76563 "Why signinlogs are not being exported to Log analytics"
Followed all the steps, unfortunately no signinlogs have been exported. Audit logs have been exported and I waited for more than 24hours and no scope of signin logs. Found a similar issue online https://techcommunity.microsoft.com/t5/azure-active-directory-identity/signinlogs-are-not-showing-in-log-analytics-azure-monitor/m-p/1692381. Kindly let us know what is the issue. Why signinlogs are not be

[2021-06-08 10:48] SwathiDhanwada-MSFT commented on #76557
@funkysi1701 Thanks for your feedback.

Assigning to content author @lgayhardt for review.

[2021-06-08 11:03] ShaikMaheer-MSFT commented on #76556
@roopasd Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-08 11:09] SnehaAgrawal-MSFT commented on #76322
@nohanaga Just checking if you have chance to see above response.

[2021-06-08 11:12] ameyanator commented on #74541
New version of the plugin has been released and should be working fine.

[2021-06-08 11:13] HarshitaSingh-MSFT commented on #76558
Hello @Chauncyzz , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-08 11:24] #76276 closed

[2021-06-08 11:40] shashishailaj commented on #76389
@billmath Could you please review and update the document as required ?

[2021-06-08 11:44] shashishailaj commented on #76552
@pauldulong Thank you for your feedback . We will investigate and update the thread.

[2021-06-08 11:52] shashishailaj commented on #76563
@priyankareddy20 Thank you for your query . Are you using a trial AAD premium license for the tenant you have setup the log analytics log ingestion ? If yes , you may need a paid AAD premium license to test it . If not , We would suggest to open a case with Microsoft Support on this as we use the GitHub azure-docs repository for issues related to documentation. Please let us know and we can accord

[2021-06-08 11:52] #75446 closed

[2021-06-08 11:57] priyankareddy20 commented on #76563
Hello Team,

Yes.I am testing with a test account (free trial subscription) with a trail
licence of E5 and P2.

However in the documentation, trail version of P1 or P2 is the prerequisite.

I don't see that paid version is mandatory in the documentation.

Regards
Priyanka

On Tue, Jun 8, 2021, 1:52 PM ShashiShailaj-MSFT ***@***.***>
wrote:

[2021-06-08 12:04] RohitMungi-MSFT commented on #76561
@wukun2015 If your experiment and runs are successful. Your registered model should be visible from the models tab of your ML portal.

![image](https://user-images.githubusercontent.com/46958063/121181298-78eafd00-c87f-11eb-8f3c-f58f25272042.png)

Once you click on any of the links it should display the details along with artifacts where the model file and other outputs are available for download.

[2021-06-08 12:25] shashishailaj commented on #76562
@ezYakaEagle442 Thank you for sharing that update . We will engage the content team to update the documents.

[2021-06-08 12:31] shashishailaj commented on #76550
@Arithmomaniac Thank you for sharing that . We will engage the content team to update the documentation as needed.

[2021-06-08 12:32] shashishailaj commented on #76484
@EsaFazal72 Do you still need help on this ?

[2021-06-08 12:37] EsaFazal72 commented on #76484
@shashishailaj I don't think I need help on this now, l was able to fix the issue. It was apparently a dependency issue, more specifically to do with reactor-netty. Thanks for your time and effort.

[2021-06-08 12:39] Leonardo-Ferreira opened #76566 "Can you describe how to connect to AppConfigs based on environment?"
Can you please make it clear on how to connect to different App Configs?

Depending on the environment (local dev, quality assurance, user acceptance test, sandbox, and so on) my app has to connect to a different App Config... How can I achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f

[2021-06-08 12:45] eligoldner commented on #76518
It's not a docs issue, it's an issue with an application of yours. If this
is just for docs, can you please direct me to the correct venue for
reporting "features" in MS applications?
Thanks,

Eli

On Tue, Jun 8, 2021 at 12:33 AM Mike Urnun ***@***.***> wrote:

[2021-06-08 12:46] madhj commented on #76187
Thank You...

That's good enough.

[2021-06-08 12:47] FallenHoot opened #76568 "No Processor information for B-Series"
I assume the lack of information has do deal with the B-Series being deployed on variety of hardware types and processors like the Av2-series.

Would like to see something like this added in **_bold_**

The B-series VMs can **_be deployed on a variety of hardware types and processors._** B-series VMs are ideal for workloads that do not need the full performance of the CPU continuously, like web se

[2021-06-08 12:48] adneagu commented on #76357
Hi @himanshusinha-msft the customer was connecting to to the Event Hubs through Service Bus explorer. The issue was that he gets an error regarding "cannot retrieve entity details"

I will double check with the customer and get back with the complete stack trace.

Thanks,
Adrian

[2021-06-08 12:58] slavizh opened #76569 "Wrong statement?"
[Enter feedback here]
Announcement says that dedicated tables are available for the Core (SQL), API for MongoDB, Gremlin, and Cassandra APIs but page says only Core (SQL)

https://azure.microsoft.com/en-us/updates/costoptimized-diagnostics-feature-for-azure-cosmos-db-in-public-preview/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-06-08 13:03] FallenHoot commented on #76568
If the above info is added. We get a lot of questions around the Network bandwidth for this series.

Would be great if you could add the following as well:

The B-series VMs can be deployed on a variety of hardware types and processors, due to this competitive bandwidth allocation is given.  I am happy to create a pull request if needed.

[2021-06-08 13:04] AgribotGit commented on #76326
@RohitMungi-MSFT

Hi, Thanks for working on this ... but ...
It's not clear ( to me as a user ) from the very brief comments what the problem is and how it can be resolved.
Perhaps you can help ;-

As far as I can understand ...
It seems that there are different python scripts for use with different model versions ?

I am using Visual Studio 2019 on an Intel based laptop.
I need to be able to trai

[2021-06-08 13:05] eligne-pro commented on #19456
Definitely could you please re-open the case? This is definitely a long-lived issue, that hurts in a Infra-as-Code practice where ADO orchestrates a terraform process. This is quite a common case these days, even more than at the time this issue was logged.

Microsoft moderators could you please re-open this issue?

[2021-06-08 13:08] Svijay-msft commented on #76340
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 13:08] #76340 closed

[2021-06-08 13:17] pwehland opened #76571 "BUG: Wrong WHERE clause on sys.dm_pdw_nodes_db_partition_stats leads to duplicate rows"
Under the Update Statistics section
Query 1:
In the actualRowCounts SUB-SELECT, the first filter in the WHERE clause is 1=1.
This should be WHERE rg.index_id = 1

Otherwise this will lead to duplicates when a table has more than one index.  The results of the entire table will be off by a multiple of the number of indexes greater than one.

The complete actualRowCounts sub-select should be:

		SEL

[2021-06-08 13:19] kaletkamk opened #76572 "wildcard inconsistency url route application gateway"
you write:

 the only place a "*" is allowed is at the end following a "/."

but then in the table of allowed values theres:

v2 path pattern | Is supported?
-- | --
/images* | yes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2769aea-56d1-03aa-1949-9818d5ee3ba4
* Version Independent ID: 25394ed7-b79d-1d85-03c2-0031b

[2021-06-08 13:25] tfitzmac commented on #76529
@helplessJ - thanks for your question. Yes, that is being considered. The best place to track that information and provide feedback to the product team is through the project repo. Here's a [GitHub issue for that subject](https://github.com/Azure/bicep/issues/399).

[2021-06-08 13:36] Nicholak-MS commented on #64369
PR #161485 has been submitted to address the feedback above. It will deploy later today.

#Please-Close

[2021-06-08 13:36] #64369 closed

[2021-06-08 13:37] marcerozba commented on #76429
Thank you for your answer.

Follow the instructions in step 7, I need the field Source for the Pie Chart.

[2021-06-08 13:40] Siby22071989 opened #76574 "I dont see the space to apply AHB on SQL DB"
The statement mentions -
**You can choose or change your licensing model in the Azure portal:
For new databases, during creation, select Configure database on the Basics tab and select the option to save money.**
However even after selecting vCore/DTU model, I don't see the option. I click on "CONFIGURE DATABASE" under Basic while creating a DB - But I dont see the option for AHB
[Enter feedback h

[2021-06-08 13:47] shashishailaj commented on #76563
@priyankareddy20 I think , we will need the documentation updated for the same. The trial license is genreally provided so that the users are able to get a glimpse of how the logs would look . I am hoping that you are able to see the Audit logs ingested in the Log analytics workspace .

We will have this reviewed by the content team to be updated. At this point you may not be able to test the same

[2021-06-08 13:48] elfcounsel opened #76575 "PCUser Description Not Quite Accurate"
From this docs page: "Create a pcuser account in your Active Directory and ensure that the account is enabled. This account will serve as the default user. It will be used for mapping UNIX users for accessing a dual-protocol volume configured with NTFS security style."

This implies that every unix user will use pcuser, but I don't think that's correct. If a user has an account in AD with the POSI

[2021-06-08 13:54] shashishailaj commented on #76538
@GeoJim1218 At this point you only get one single error code as far as I know . However it is my assumption that it is probably updated to be an array now to keep the option open for future if any such requirement comes in . but I will cross check internally with the product group and verify the same for you . Please allow me a few days .

Thank you

[2021-06-08 13:56] SnehaAgrawal-MSFT commented on #76138
@OzBob If I have understood right you want to enable CORS from Azure portal for "All origins", If so from portal you have to just type *  as shown in above screen shot, Also, please restart the web app once enabled CORS and then try again. Let me know.

[2021-06-08 14:00] shashishailaj commented on #76555
@nonnb Thank you for catching this. We will have this reviewed and updated with the help of content authors.

[2021-06-08 14:05] RohitMungi-MSFT commented on #76326
@AgribotGit F0 and S0 are the [pricing tiers](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/limits-and-quotas) that are available for a custom vision resource. You can change between these two tiers as seen. Where is the reference to change the tier to S1?

The steps to download the trained model for tensor flow are the same as "General (compact)" domain. For exam

[2021-06-08 14:17] AnuragSharma-MSFT commented on #76569
@slavizh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-08 14:17] shashishailaj commented on #76484
@EsaFazal72 Thank you for your confirmation and sharing the solution with the community . We will now close this issue.

[2021-06-08 14:17] #76484 closed

[2021-06-08 14:18] AnuragSharma-MSFT commented on #76574
@Siby22071989 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-08 14:22] aguywithcode opened #76578 "Invalid Cast from DTComponentInfo to DTInterfaceInfo"
When using the sample code, I encountered an error when attempting to parse a component on an interface. The original code attempted to cast the DTComponentInfo as a DTInterfaceInfo which it is not. However DTComponentInfo does contain a DTInterfaceInfo. I was able to fix the error with the following code

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-06-08 14:23] JFulfordMS opened #76580 "Example causes failure."
This example results in a failure and de-provisioning of the IaaS extension on the VM. The SQL VM must then be deleted and reinstalled.

{
  "message": "Deploy failed with deploymentStatusCode (Failure)",
  "name": "Error",
  "stack": "Error: Deploy failed with deploymentStatusCode (Failure)\n    at new t (https://portal.azure.com/Content/Dynamic/pZYkkGXRjrwZ.js:83:895)\n    at Q.nextTick.y.requir

[2021-06-08 14:26] shashishailaj commented on #76439
@bmilbauer  I checked this and found that it is working . There are extra spaces that need to be removed when we copy the code which is causing the issue. If you paste the detail as below combining the complete . The spaces are provided in the powershell snippet for easy viewing and to make sure that the user does not have to scroll much. You can use it like below and it will provide you proper re

[2021-06-08 14:28] stenara opened #76581 "PARAMETERS ARE NOT VALID - NEED TO BE EXPLICIT"
Hello - according to internal Ava Posts and Wenbo Fu answer on StackOverflow «currently we don't have support on parameters via MDX in our SAP BW connector». Please leave this explicity so cx can find this in our doc.

https://stackoverflow.com/questions/55315301/how-to-set-sap-variables-on-mdx-query-during-copy-data-on-data-factory

Thank you
---
#### Document Details

⚠ *Do not edit this section

[2021-06-08 14:29] MonikaReddy-MSFT commented on #76580
@JFulfordMS - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-08 14:30] Harissa opened #76582 "How to serve static files for Flask Apps?"
You have a big section on how to serve static files for Django Apps but nothing for Flask apps. I've been searching all over but can't find anything on this
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 682f3cfc-22d7-c367-1215-a692d6031089
* Version Independent ID: ec754538-109a-4062-2acf-a5fbbaa

[2021-06-08 14:30] asergaz commented on #76578
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-08 14:31] MonikaReddy-MSFT commented on #76568
@FallenHoot - Thanks for bringing this to our attention. You are more than welcome to raise the PR if you like, just link this thread in the PR, so we can close this out once its merged.

[2021-06-08 14:32] GiftA-MSFT commented on #76403
Hello @ajishanv, what is the request object? Also, have you tried calling the bing search api separately to determine if you are able to get a successful result?

[2021-06-08 14:33] azizcoder opened #76583 "Missing word"
"Data warehouse **snapshot** is also a powerful mechanism to create copies of your data warehouse for test or development purposes"
Snapshot is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90f-36a7-2178a17d7951
* Version Independent ID: 27aba9c4-cf0b-865f-ea24-513b65fc696a
* Content: [Backup a

[2021-06-08 14:34] ajishanv commented on #76403
No, I have tried that,but still getting same access denied error.

[2021-06-08 14:39] GiftA-MSFT commented on #76403
Can you share the api request?

[2021-06-08 14:40] HarshitaSingh-MSFT commented on #76328
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 14:40] #76328 closed

[2021-06-08 14:49] ajishanv commented on #76403
https://southeastasia.api.cognitive.microsoft.com/luis/prediction/v3.0/apps/ef886ac3-b35b-42cf-a18f-a7f5b3559771/slots/production/predict?subscription-key=1e56fde774914238a926eb99e80b83ac&verbose=true&show-all-intents=true&log=true&mkt-bing-spell-check-key=9f14521f27444446a1ef8f21bc4d1124&query=YOUR_QUERY_HERE

[2021-06-08 14:51] ajishanv commented on #76403
When we try enable the spell check in luis and after enabling I publish it then spell check is getting disabled also

[2021-06-08 15:14] SatishBoddu-MSFT commented on #76421
Hello @wesmc7777 could you please help, suggest in this matter?

[2021-06-08 15:17] JFulfordMS commented on #76580
Let me know if I can provide you with any more details/information.

[2021-06-08 15:17] lunar87 opened #76585 "Page needs to be more explicit that this is legacy API"
[Enter feedback here]
This page refers to APIs that are older, yet the title of the page "Grant access to create Azure Enterprise subscriptions (preview)" has the word preview which leads readers to believe that this is the latest and greatest.
Can we change it to something like "Grant access to create Azure Enterprise subscriptions (legacy)"

There are notes in the doc are should be updated. Talk

[2021-06-08 15:20] interdanDev commented on #43257
We created a support ticket to Azure. they provided a temp solution with experimental feature.
1. use root link [https://portal.azure.com/?microsoft_azure_cdn=flight5](https://portal.azure.com/?microsoft_azure_cdn=flight5)
2. open CDN endpoint profile
3. use / as source pattern

[2021-06-08 15:50] codeBoarder opened #76586 "Autoscale Feature Missing from APIM SKU Features Table"
It appears that SKUs support for autoscale based on metrics/schedule is missing from the Features table for APIM, including an annotation for the Consumption SKU which will scale automatically.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fbb610-abd2-8836-7d65-d2c880fc7cd9
* Version Independent ID: 33502c62-7ecf-67a

[2021-06-08 15:52] jjcv2304 opened #76587 "Token configuration step is not available"
In the section [Configuring optional claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow#configuring-optional-claims) the point _4 From the Manage section, select Token configuration._ , Token configuration blade is not available

Maybe related to https://github.com/MicrosoftDocs/azure-docs/issues/65511

---
#### Documen

[2021-06-08 16:00] SanthoshCheekoti opened #76590 "The documentation is showing that in event schema format Data Object as required property"
The documentation is showing the Data object is required property in Event Schema. I think Data Object is not mandatory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-47a687880031
* Content: [Azure Event Grid event schema - Azure Ev

[2021-06-08 16:01] seligj95 opened #76591 "Node version no longer supported by App Service"
Node 6.9 is no longer supported by Azure App Service so I am unable to get this to build in Azure due to incompatible Node versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ce9745-5765-dae3-2d5b-2a24cfd787bb
* Version Independent ID: 8d21fd6b-15a4-dc2a-c8c2-fc0e04c15f7f
* Content: [Tutorial: Node.js app with M

[2021-06-08 16:01] JamesTran-MSFT commented on #76587
@jjcv2304
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-08 16:08] SnehaAgrawal-MSFT commented on #76458
@waiholiu Thanks for the feedback! But it is still true. The statement (Key Vault references currently only support system-assigned managed identities. User-assigned identities cannot be used) is a qualification of this feature, not of Key Vault itself.
Adding an access policy for the user-assigned identity doesn’t help with this feature, because our platform won’t call Key Vault using that identi

[2021-06-08 16:08] #76458 closed

[2021-06-08 16:13] GiftA-MSFT commented on #76403
Thanks for the info. I went ahead to mask private information. In the future, please don't share credentials publicly.

[2021-06-08 16:19] BhargaviAnnadevara-MSFT commented on #76528
@mxrss2 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-06-08 16:21] SnehaAgrawal-MSFT commented on #76378
@theoslocrew Since we didn't here from you We will close this out but if you feel you need more information please just let us know.

[2021-06-08 16:21] #76378 closed

[2021-06-08 16:23] BhargaviAnnadevara-MSFT commented on #76400
@pemsft Thanks for the feedback. Azure DevTest labs should be in the Specialized Services category similar to Azure Lab Services. I have submitted a PR with the change that's in review.

[2021-06-08 16:24] #76400 closed

[2021-06-08 16:24] MonikaReddy-MSFT commented on #75591
@johnkemnetz - Do you mind taking a look at the above issue and provide your insights to the customer?

[2021-06-08 16:27] mike-urnun-msft commented on #76590
Hello @SanthoshCheekoti - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-08 16:31] AjayKumar-MSFT commented on #76368
@yeahsicy, Apologies for the delay!  The info on 'User-level credentials' and 'App-level credentials' is not specific to gaining FTP access, but rather, on how RBAC role helps add a user role who can manage Azure resources ( in this case, Azure WebApps) | scoped to the subscription. In terms of -assigning a user to WebApp resource, not requiring to share subscription access just for resource level

[2021-06-08 16:31] tracychms commented on #75217
@GraemeMalcolm this issue is fixed in SDK 1.28. please move to SDK 1.28 or the latest.

[2021-06-08 16:32] JamesTran-MSFT commented on #76587
@jjcv2304
Thank you for pointing this out!

Walking through the documentation, it seems that the [Configuring optional claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow#configuring-optional-claims) section is expanding off of the[ Register an Azure AD app](https://docs.microsoft.com/en-us/azure/active-directory-b2c/ide

[2021-06-08 16:32] #76587 closed

[2021-06-08 16:32] MonikaReddy-MSFT commented on #75726
@karlgots - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 16:32] #75726 closed

[2021-06-08 16:32] SanthoshCheekoti commented on #76590
The URL is https://docs.microsoft.com/en-us/azure/event-grid/event-schema
Please refer to the second line. it says data object is mandatory.
If you scroll to the event properties section on the same page, it says the data object is optional.

[2021-06-08 16:33] GraemeMalcolm commented on #75217
Thanks @tracychms ,
We're using the default SDK installation in Compute Instances. Presumably when the CI image gets updated, it will go away.
Thanks for following up.

[2021-06-08 16:34] JamesTran-MSFT commented on #76036
@pirminf
I just wanted to check in and see if you had any other questions?

[2021-06-08 16:35] GiftA-MSFT commented on #76403
Can you test using [LUIS API reference](https://southeastasia.dev.cognitive.microsoft.com/docs/services/luis-endpoint-api-v3-0/operations/5cb0a91e54c9db63d589f433/console), also can you try sending a request to [Bing Spell Check API](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/concepts/sending-requests) separately?

[2021-06-08 16:42] kj2whe commented on #76539
Yes, as per the instructions found at the MS Learn document: [Exercise - Create and deploy an Azure Resource Manager template](https://docs.microsoft.com/en-us/learn/modules/create-azure-resource-manager-template-vs-code/3-exercise-create-and-deploy-template?pivots=cli&source=learn), I signed in via the instructions at **Sign in to Azure**.

Everything worked, and I could run all the following com

[2021-06-08 16:47] stantoni-msft opened #76593 "Verify Internet Access section missing US Gov URLs"
The  Verify Internet Access section of this article is missing mention of the URLs needed for Azure Gov tenants:
https://docs.microsoft.com/en-us/azure/backup/install-mars-agent#verify-internet-access

The information is availabe in the MARS support matrix
https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#url-and-ip-access
But needs to be added in this article as well:

[2021-06-08 16:50] b-juche commented on #76575
@elfcounsel - Thanks, Win.  I've connected through email to include ANF stakeholders in this discussion.

[2021-06-08 16:55] MGoedtel commented on #76548
@Klass - that's correct REL 8.x with Python 3 supports UM. But, for certain other distros, Python 2 is still required (per our supported runbook types article in the Linux HRW article [here](https://docs.microsoft.com/en-us/azure/automation/automation-linux-hrw-install#supported-runbook-types) for distros that don't require Python 3. I've just completed an update to the UM content and the OS syste

[2021-06-08 16:55] #76548 closed

[2021-06-08 16:59] kobulloc-MSFT commented on #76566
@Leonardo-Ferreira Thank you for your question!  We are looking into this and will get back to you shortly.

[2021-06-08 17:01] abhilashmk opened #76594 "Update the documentation to show the Command to create App Service Plan specific for Kube Environment"
Documentation is missing commands to create App Service Plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdb7930-0ada-090c-7f95-eafcabf3ad66
* Version Independent ID: 850011e6-6f39-0574-6438-8811373f6846
* Content: [Quickstart: Create a web app on Azure Arc - Azure App Service](https://docs.microsoft.com/en-us/azu

[2021-06-08 17:08] SARIGASURENDRAN commented on #76403
{
    "error": {
        "code": "401",
        "message": "Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."
    }
}

[2021-06-08 17:08] MartinJaffer-MSFT commented on #76429
Ahh thank you, @marcerozba .  I was having a dim moment.
For now, can you use "category" instead of "source" ?  While not the same data, perhaps more interesting to look at.

I will bring this to the attention of the document owner, @mamccrea , for update.  As you have pointed out, the tutorial clearly cannot be completed without data.

[2021-06-08 17:09] SARIGASURENDRAN commented on #76403
This is the response we are getting. By trying both  LUIS API reference, and  Bing Spell Check API separately

[2021-06-08 17:12] #76594 closed

[2021-06-08 17:16] mamccrea commented on #76429
I no longer own this content. Please assign to @mssaperla.

[2021-06-08 17:18] shakeelosmani commented on #45376
I know this is a closed issue. But a tip for folks running app service on Linux and Node.js the headers all come back in lower case for example to get `X-Forwarded-Host` on express.js you will do something like `req.headers['x-forwarded-for']`

[2021-06-08 17:23] olayemio commented on #76547
Document updated

[2021-06-08 17:23] jonwbstr opened #76595 "What about Screen Capture Protection?"
I sent this feedback directly to the rdsdev address also,

The comments in following article says the “Screen Capture Protection” feature is no longer in public preview. I’ve searched the internet for “Screen Capture Protection” and am having trouble finding further guidance.

https://techcommunity.microsoft.com/t5/azure-virtual-desktop/announcing-public-preview-of-screen-capture-protection-in/m-p

[2021-06-08 17:24] ChaitanyaNaykodi-MSFT commented on #76586
Hello @codeBoarder, Thank you for the feedback. I have made a PR to address this issue and it is currently under doc author's review.

[2021-06-08 17:25] MartinJaffer-MSFT commented on #76581
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-06-08 17:28] MartinJaffer-MSFT commented on #76583
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-06-08 17:30] MartinJaffer-MSFT commented on #76429
@mssaperla This tutorial is no longer viable with the current dataset X column choice.  The "source" column is now null for all.

Between the image showing non-nulls, and the tutorial specifying this column, it makes users think they did something wrong.

[2021-06-08 17:31] mapoitras opened #76597 "ILB ASE certificates"
the documentation on this page should be updated to reflect that uploading a certificate for an ILB ASE is only for ASE's created before May 2019 as specified here:  https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase#ilb-ases-made-before-may-2019

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-08 17:32] Dmasci99 commented on #34954
@FrankHu-MSFT Hi Frank,

Has there been any progress on updating documentation regarding the generation of a public key? Or better yet, an OOB Azure B2C configuration option for auto-generating this public key?

If I understand the progress of this thread correctly, it ended in 2019 by linking to a StackOverflow which details the code to generate the public key. Unfortunately, I don't have as much

[2021-06-08 17:37] GiftA-MSFT commented on #76403
Okay, thanks for the info. We will review and get back to you shortly.

[2021-06-08 17:37] trevorbye commented on #65120
#please-close singhsaumya left this team

[2021-06-08 17:37] #65120 closed

[2021-06-08 17:37] davidsmatlak commented on #76457
I'm closing this issue because no changes to the article are needed.

#please-close

[2021-06-08 17:37] #76457 closed

[2021-06-08 17:38] trevorbye commented on #69892
#please-close there has been no response internally

[2021-06-08 17:38] #69892 closed

[2021-06-08 17:58] #72761 closed

[2021-06-08 17:58] #73450 closed

[2021-06-08 17:58] #74841 closed

[2021-06-08 18:01] heikostumpf commented on #19456
Having the same issue. I like to consider this as a show stopper to continue working with azure devops. I am not very happy to implement a workaround for a necessary storage account security configuration.

[2021-06-08 18:05] David-Engel commented on #62222
Driver version change was reverted. Closing this issue.

#please-close

[2021-06-08 18:05] #62222 closed

[2021-06-08 18:08] bahadir-be commented on #19456
Agreed! please re-open this topic!!

[2021-06-08 18:15] jjcv2304 commented on #76587
Hi @JamesTran-MSFT
Thank you for looking at this.
Not sure how your change will look like but just one note, the blade Token configuration doesn't exists in any of the Tenants being configured in the tutorial

[2021-06-08 18:19] b-juche commented on #76415
Thanks again, @seb-brack.

Our ANF technical team reviewed your suggested verbiage and decided to make a slightly different update for this FAQ entry.  The updated entry is being published through the Pull Request linked above.

Here's the updated entry.  If you are an ANF team member and would like to discuss this further with our team, you can reach out via email at juliec@netapp.com or b-juchfw

[2021-06-08 18:19] msmbaldwin commented on #49789
#please-close

[2021-06-08 18:19] #49789 closed

[2021-06-08 18:26] b-juche commented on #76415
#please-close

[2021-06-08 18:26] #76415 closed

[2021-06-08 18:36] kine opened #76600 "Azure Client Secrets no more in Base64 form"
In step 9 of the "Azure Active Directory" part you are taking value of the client secret which should be used later to set the connection to write leads into the system. The dialog awaits Base64 256bit encoded key, but this is no longer returned with the Azure portal (see e.g. https://github.com/MicrosoftDocs/azure-docs/issues/27344 which was talking about the preview pages which are now "standard

[2021-06-08 18:39] yeahsicy commented on #76368
@AjayKumar-MSFT, with all due respect, I don't agree that the doc is about how RBAC role helps add a user role. It actually talks about how to see the credentials and configure (reset) them; They can be used for FTP, MSDeploy and accessing Kudu that support basic auth.

It's confusing to mention RBAC (especially with the content that I pointed out). To be more specific, a user who has the credenti

[2021-06-08 18:40] rohitnayakmsft commented on #71343
@KalyanChanumolu-MSFT, @MashaMSFT  The link was pointing to https://gallery.technet.microsoft.com/scriptcenter/Start-and-End-IP-addresses-bcccc3a9 which is now dead. Can you please track down where this script is now hosted and update the link ?

[2021-06-08 18:41] ThomasWeiss commented on #76408
@thomasvdb Thanks for clarifying your use-case.

Right now, and as you've quoted in your issue above, our data plane RBAC only covers operations that read/write data. Creating users and permissions is considered a management operation, so it is not covered currently so you'll have to continue using the primary key for these operations.

Note that we plan to add partition-level scoping to our RBAC

[2021-06-08 18:41] #76408 closed

[2021-06-08 18:41] capraz19 opened #76601 "More details to open Tickets for paired Regions."
We are mentioning that for certain regions, customers need to create a ticket, but there is no guidance about which team to send to and it ends up going to wrong teams delaying the solution to the customers.

(*) Certain regions are access restricted to support specific customer scenarios, for example in-country disaster recovery. These regions are available only upon request by creating a new sup

[2021-06-08 18:43] chamikasandamal opened #76602 "How to set scopes for aad"
When authenticate using azure ad in auth V2, how to set the scope. If it doesnt set, audience will not set properly. In V1 we had `additionalLoginParams`. what is the alternative for V2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-

[2021-06-08 18:44] rohitnayakmsft commented on #71741
@MashaMSFT  I check with our Engineering teams and the fix for this has been coded & is awaiting deployment. I would suggest we close this issue for now and revisit if we have not had a solution in another couple of months.

[2021-06-08 18:46] rohitnayakmsft commented on #74064
@fvarga01  Good catch! I agreed with your findings and I purposely kept it out of the diagram to keep things simple. I will see how to add that information in the diagram.

[2021-06-08 18:46] roygara commented on #76511
@kobulloc-MSFT Yes, that's correct.

[2021-06-08 18:48] GiftA-MSFT commented on #76403
Hi, upon further review, this error may have resulted from an issue with your subscription (since both services returned the error). My recommendation is to contact [Azure Support](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) so they can help investigate further. Thanks.

[2021-06-08 18:51] msmbaldwin commented on #55050
Hi, @RanganathKrishnamurthy. There is no service-managed keys option for Azure Disk Encryption -- customers must use their own key vaults and handle issues such as key rotation themselves.  Thank you! #please-close

[2021-06-08 18:51] #55050 closed

[2021-06-08 18:51] lindacmsheard opened #76604 "register and deploy guidance assumes compute environment when orchestrating AutoML"
### Goal:

Register the best model from an automl run: where AutoML itself ran on a different compute target, and the registration operation is done on an orchestration machine - e.g. an Azure ML CI.

### Issue:
The snippet in the section [register and deploy models](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#register-and-deploy-models) throws a dependency

[2021-06-08 19:00] kine commented on #27344
Hi, some news on this? I hit another documentation whcih expect tha the Client Secret is generated in Base64 format but not and the "classic" portal page is not available and the "preview" is now standard. Some solution? In https://docs.microsoft.com/en-us/azure/marketplace/test-drive-hosted-detailed-config there is still expected Base64 encoded secret. Same here: https://docs.microsoft.com/en-us/

[2021-06-08 19:03] AjayKumar-MSFT commented on #76368
@yeahsicy, Thanks for follow-up and sharing additional details.  @cephalin, Requesting your review and comments on this.

[2021-06-08 19:37] pirminf commented on #76036
@JamesTran-MSFT
Unsupported Scenario has been updated in [May 28, 2021]https://github.com/MicrosoftDocs/azure-docs/commit/7148bd48def3014367e0068679b39e0028beb699#diff-6d101ae118c60c68331d92dca229379f2a5b573c81fe0cc4f868f319af112353). The paragraph I was referring to has been removed, which is perfect.
With that all my questions have been answered. Thanks for you time. cheers.

[2021-06-08 19:37] #76036 closed

[2021-06-08 19:38] danferh opened #76605 "Error creating new record TXT type"
Guys, at https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns#configure-txt-record-with-your-domain-provider, point 7, if you enter the symbol '@' it won't allow you to enter the value so you'll have to select a different type of record and it will never validate related custom domain at static app service. Had to leave empty in order this to work.

Thanks,
Danfer.

[2021-06-08 19:39] GitRomney opened #76606 "Add "Microsoft Lists" to the "Require approved client app" section"
As of this morning, Microsoft Lists is now working as an approved app, so you could add it to the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure Activ

[2021-06-08 19:41] SadiqhAhmed-MSFT commented on #76473
@DeanGross Let me know if you have additional questions in this matter.

[2021-06-08 19:42] SadiqhAhmed-MSFT commented on #76437
@chrisweis Hope the previous post helped answer your questions. Feel free to reply with additional questions if any.

[2021-06-08 19:54] kromerm commented on #75257
#please-close

[2021-06-08 19:54] kromerm commented on #76082
#please-close

[2021-06-08 19:55] kromerm commented on #68189
#please-close

[2021-06-08 19:55] #68189 closed

[2021-06-08 19:58] kromerm commented on #76493
it is doc'd here: https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-expression-builder#convert-to-dates-or-timestamps

[2021-06-08 19:58] kromerm commented on #76493
#please-close

[2021-06-08 19:58] #76493 closed

[2021-06-08 19:59] alexgagnon commented on #46556
Hi, a more thorough example of this flow is definitely encouraged. All the docs make it seem like using managed identities is plug-and-play whether you're developing locally or not. For example, https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-keyvault-certificates/. I'm not sure how to convert the SecretClient examples here into something workable using

[2021-06-08 20:14] MartinJaffer-MSFT commented on #76583
Thank you for bringing this to our attention.  I have created a pull request to insert the missing word.
Have a great week @azizcoder

[2021-06-08 20:14] #76583 closed

[2021-06-08 20:15] klenium commented on #76493
@kromerm That is very-very bad. You should not jump over it.

Why would I go to the tutotial page describing how to use a window, expression imput fields? I don't need help in that topic. What I'm looking for is not the way to refresh data preview.

On the other hand, there is a separated page for describing each function. This is what I need to find the function I can use to achieve my goal. This

[2021-06-08 20:18] SamarendraPanda opened #76610 "ScriptRunConfig class does not have an attribute target, it should be "compute_target""
ScriptRunConfig class does not have an attribute target, it should be "compute_target"

# Configure the ScriptRunConfig and specify the environment
src = ScriptRunConfig(source_directory=".", script="train.py", target="local", environment=myenv)

should be changed to :

src = ScriptRunConfig(source_directory=".", script="train.py", compute_target ="local", environment=myenv)

Reference: https://do

[2021-06-08 20:23] Ajayan1008 commented on #72581
On 3/26 Dinesh Gajendran answered this in email: @Mahesh Kshirsagar – We are not offering generic BM. It’s only for specialized workloads certified for SAP/Oracle.
If you have any questions, let me know.

[2021-06-08 20:23] Ajayan1008 commented on #72581
#please-close

[2021-06-08 20:28] Sudhirga opened #76611 "Security baselines for Azure Services mapping to Azure Security Benchmark(v2) not available"
Security Baselines for Azure Services defined are based on Azure Security Benchmark(v1) . when if expected to map to revised Azure Security Benchmark(v2) be available for each Azure services providing security configurations for all categories under v2 benchmarking/Controls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-06-08 20:29] cloudmadlab opened #76612 "Request clarification on scoping spn"
In the commands provided for creating the service principal and assigning it to a role, they are both scoped to a resource group:

az ad sp create-for-rbac --name <ServicePrincipalName> --role Contributor --scopes /subscriptions/{SubscriptionId}/resourceGroups/{resourcegroup}

az role assignment create --assignee <appId> --role 'Monitoring Metrics Publisher' --scope subscriptions/{SubscriptionID}/

[2021-06-08 20:51] FranNev commented on #76082
@kromerm @MartinJaffer-MSFT Thanks! So, shouldn't that "Write stage duration" be changed to "Write to staging table duration"?

[2021-06-08 21:07] jjcv2304 commented on #76587
Thanks for that @JamesTran-MSFT
I don't know the tenants have been created, each one has it's own directory and the domain is like myb2c.onmicrosoft.com and mycustomer.onmicrosoft.com.
I thought that only myb2c.onmicrosoft.com has B2C enabled but it seems to be available inside mycustomer.onmicrosoft.com too... so maybe that is the problem.

[2021-06-08 21:09] r-milne opened #76614 "Update Windows Server 2016 Version Info"
Hi folks,

Can we add a note on Windows Server 2016 LTSC vs the updated 1803 (or newer) build.

How would customers use those newer SAC builds with PRT?  Would be good to note that standard servers on LTSC can not simply be upgraded to a SAC build.  Can we link to that?

I ask as this has caused confusion with customers, as they assumed that they could simple do an in-place upgrade to this newer v

[2021-06-08 21:20] YutongTie-MSFT commented on #76610
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-08 21:21] StephenWeatherford opened #76615 "broken link"
This link broken: https://azure.microsoft.com/de-de/resources/templates/101-app-service-docs-linux/

![image](https://user-images.githubusercontent.com/6913354/121259189-a4142300-c864-11eb-8b47-f5c7ec2fb25c.png)

![image](https://user-images.githubusercontent.com/6913354/121259242-b68e5c80-c864-11eb-8913-10b9e728bdc6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-06-08 21:24] bandersmsft commented on #76275
@KjetilEVRY Hi there.

PAL is a user account-based system. We don’t recommend from a security perspective that you associate a single MPN ID to multiple users. Each user needs to have the flexibility to add their own MPN ID.

For large scale partners, there are a couple of choices:

- PAL works even when a single user is associated, so you don’t *have to* associate the MPN ID for every user. Ultim

[2021-06-08 21:24] #76275 closed

[2021-06-08 21:24] StephenWeatherford opened #76616 "broken link: https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template?pivots=platform-linux"
This link broken: https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template?pivots=platform-linux

![image](https://user-images.githubusercontent.com/6913354/121259542-1c7ae400-c865-11eb-8fa0-69eb5a3b995f.png)

![image](https://user-images.githubusercontent.com/6913354/121259591-2997d300-c865-11eb-8a97-c4cf9f7e44cb.png)

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-06-08 21:32] arturtamborski opened #76618 "Python runtime is not mentioned in Built-in images Startup File section"
Hi,

I the `Startup Command` field with Python runtime is not documented.

The documentation does not specify what exactly should I use (shell script? python script? runtime command?) and I'm not sure if it's even supported (and if it's not then it's not marked as such). See screenshot below for example - notice the lack of `Python` even though it's a valid runtime.
![image](https://user-images.gi

[2021-06-08 21:42] JamesTran-MSFT commented on #76587
@jjcv2304
Thank you for the follow up on this!

This is definitely confusing since you can access the AzureAD B2C service from both an Azure AD tenant and an Azure B2C tenant (as seen in my GIF below). However, when it comes to the "Token Configuration" option, this will only be available within an Azure AD Tenant, and not an Azure B2C tenant.

![AzureADvsB2C](https://user-images.githubusercontent

[2021-06-08 21:44] JamesTran-MSFT commented on #76614
@r-milne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-08 21:44] TravisCragg-MSFT commented on #76431
@tomdan-MSFT Thanks for the feedback! The best place for this ask is on the feedback.azure.com site, but I will make sure this gets some additional visibility to both the product team and the portal team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 21:44] #76431 closed

[2021-06-08 21:50] Anand-Moghe commented on #76530
@stevevi Thanks for the recommendation and distribution list to ask MAG related questions. I have been with SLG and never knew that it existed.

On a separate note, main issues SLG customer face is the understanding of the meaning of "external identities" which include B2B and B2C. Since our documentation is not very crisp to novice users and one may have to dig a little bit because of vastness of

[2021-06-08 21:50] #76530 closed

[2021-06-08 22:21] TravisCragg-MSFT commented on #76456
@luongto I was able to follow this tutorial without issue, only running 6 commands from start to finish. I was able to get the IP of the ingress after ~2 minutes, and access the .NET core landing page. Are you running this in Cloud Shell?

[2021-06-08 22:21] YutongTie-MSFT commented on #76604
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-08 22:33] TanGolf opened #76619 "Unclear what the impact of auto-inflate has on Event Hubs data retention quota (84GB)"
Hi there,

It is clear from the documentation that Event Hubs namespaces can retain messages equivalent to up to 84GB per TU. However, the documentation of auto-inflate states that auto-inflate prevent throttling which could be caused by:
- Data ingress rates exceed set TUs
- Data egress request rates exceed set TUs

It is not clear however what happens to the data retention quota. So for example

[2021-06-08 22:42] r-milne opened #76620 "Server 2016 & PRT"
Hi folks,

Can we update this article to note that LTSC builds of Windows Server 2016 do not have WAM etc.

SAC builds are required.  1803 is noted here:
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-device-identity-virtual-desktop-infrastructure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d

[2021-06-08 22:42] MashaMSFT commented on #73678
Hi @Shuwi75 , thanks for your feedback! I've processed a change to provide options for different operating systems. This change is now live.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-08 22:42] #73678 closed

[2021-06-08 22:46] emlisa commented on #73668
Hi @thommck sorry for any confusion that this has caused! We don't support Reserved Instance pricing for zone redundant General Purpose SQL Database tier right now because this configuration is currently in preview. Reserved Instance pricing is only supported for features and products that are in General Availability state. Can you please provide a link to the limitations section that you typicall

[2021-06-08 22:51] TravisCragg-MSFT commented on #76485
@donchai This is assuming that you have 4 different ER circuits all connected to the same peering location, and then all connected to the same VNET.

These connections might have the same prefix for each circuit, and you can use the [connection weight on an individual ER connection to a VNET to give a priority to that connection](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-how

[2021-06-08 23:16] jjgriff93 opened #76621 "Indicated supported status of Cosmos DB Synapse Link with managed vnet seems incorrect"
In the doc it states:
[code]

This is not correct - you can configure managed private endpoints within Synapse managed virtual network to use Synapse link to Cosmos DB analytical store, therefore it must be supported. This is even stated in the next [documentation page](https://docs.microsoft.com/en-us/azure/cosmos-db/synapse-link-frequently-asked-questions?toc=/azure/synapse-analytics/toc.json&bc

[2021-06-08 23:45] davidsmatlak commented on #76128
The template's pull request was merged. Verified that the article's **Deploy to Azure** button opens the template.

[2021-06-08 23:45] davidsmatlak commented on #76128
#please-close

[2021-06-08 23:45] #76128 closed

[2021-06-08 23:50] PatrickFarley commented on #75927
I'll fix that line of code
#please-close

[2021-06-08 23:50] #75927 closed

[2021-06-09 00:08] gholliday opened #76623 "Alternate method for retrieving deployment credentials of pre-existing service principal"
In the [Generate deployment credentials](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-github-actions-machine-learning#generate-deployment-credentials) step:

If a user performing these steps does not have appropriate permissions to Azure (`Owner` or `User Access Administrator`) & Azure Active Directory (`Create application`) to run the `az ad sp create-for-rbac` command, then the

[2021-06-09 00:09] msangapu-msft commented on #76615
#reassign:msangapu-msft

[2021-06-09 00:09] msangapu-msft commented on #76616
#reassign:msangapu-msft

[2021-06-09 00:11] msangapu-msft commented on #76616
Fixed broken link and merged to master. Will be published tomorrow morning. #please-close

[2021-06-09 00:11] #76616 closed

[2021-06-09 00:11] msangapu-msft commented on #76615
Fixed broken link and merged to master. Will be published tomorrow morning. #please-close

[2021-06-09 00:11] #76615 closed

[2021-06-09 00:34] markjbrown commented on #76341
It was the PR number. The fix is now in prod here, https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-conflicts?tabs=dotnetv2%2Capi-async%2Casync

Thanks.

[2021-06-09 00:56] r-milne opened #76625 "Update Server 2016 PRT"
Hi folks,

Should be it noted here that Server 2016 LTSC does not have WAM, and that a SAC build is required?

That is called out here:
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-device-identity-virtual-desktop-infrastructure

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-06-09 01:29] emarion0 opened #76626 "No mention of buffer nodes"
This doc does not mention how the buffer node functionality works and therefore creates confusion when you try to walk through how exactly this feature removes and adds nodes and also distributes the pods. Especially when you try to use this doc as well to understand the upgrade process.

https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster

If you try to use the docs above and this doc to t

[2021-06-09 02:04] wukun2015 commented on #76561
Thanks for reply @RohitMungi-MSFT .

I've completed the experiment successfully, but there is no output model file generated in the place you mentioned. Instead an model registration ask for model upload, which is what i'm looking for now:
![image](https://user-images.githubusercontent.com/13058007/121280791-6cab8200-c909-11eb-9f8a-4c91e20da217.png)
![image](https://user-images.githubusercontent.c

[2021-06-09 02:09] Siby22071989 opened #76627 "Incorrect PS cmdlet"
[Enter feedback here]
The cmdlet: New-AzSubscriptionAlias -AliasName "sampleAlias" -SubscriptionName "Dev Team Subscription" -BillingScope "/providers/Microsoft.Billing/billingAccounts/5e98e158-xxxx-xxxx-xxxx-xxxxxxxxxxxx:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx_xxxx-xx-xx/billingProfiles/AW4F-xxxx-xxx-xxx/invoiceSections/SH3V-xxxx-xxx-xxx" -Workload 'Production" does not seem to work
This is done on

[2021-06-09 02:31] YutongTie-MSFT commented on #76526
@aashishb Hello, could you please check if there any insight from your end about updating deployed web service? Thanks a lot!

[2021-06-09 02:32] YutongTie-MSFT commented on #76526
@sunnyhay Thanks for your details Harry, I have mentioned the pm above to see if there more information.

[2021-06-09 02:34] YutongTie-MSFT commented on #76610
@SamarendraPanda Thanks for pointing this out and so sorry about the document error. I have created a PR for this and the change will be alive soon.

[2021-06-09 02:35] YutongTie-MSFT commented on #76623
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-09 02:44] KranthiPakala-MSFT commented on #76308
@chengyu-liu-cs - Sorry for the delayed response. Unfortunately you cannot set dynamic content to parameter value when manual triggering (`Trigger now`) a pipeline in ADF.

I would recommend you to please submit a feature request in ADF user voice forum - https://feedback.azure.com/forums/270578-data-factory

All the feedback shared in this forum is actively monitored and reviewed by ADF engineeri

[2021-06-09 02:44] #76308 closed

[2021-06-09 02:47] KranthiPakala-MSFT commented on #76308
As this channel is for driving improvements towards MS Docs and we didn't determine any changes for this documentation upon reviewing this feedback.

For product questions or break fix issues we request you to please reach out in other forums like [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [Stackoverflow](https://stackoverflow.com/). We have our engineers and other comm

[2021-06-09 02:47] yuhuyuyu commented on #76487
@mike-urnun-msft
Thanks for your answer , but I did not find the relevant status code in the drop down list. So what should I do?
If there are any relevant documents that tell me how to do it? looking forward to your reply. Thanks
![キャプチャ](https://user-images.githubusercontent.com/67989582/121284749-ec3c4f80-c90f-11eb-81f9-f26cbd2c3acd.PNG)

[2021-06-09 02:57] #76537 closed

[2021-06-09 02:58] luongto commented on #76456
hi, using Azure CLI, I have to add appgw.ingress.kubernetes.io/backend-path-prefix: / to get it works, thanks

[2021-06-09 03:12] CHEEKATLAPRADEEP-MSFT commented on #76347
@anmor-smart-it Resolved in Databricks doc source. Will be published with next doc deploy. #please-close

[2021-06-09 03:12] #76347 closed

[2021-06-09 03:12] SamaraSoucy-MSFT commented on #76621
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-06-09 03:13] twright-msft commented on #72232
Thanks for reporting this issue @KrishnaG-MSFT .  I've created a bug in our internal work item repository.  1215902 for reference to people on our team.  We'll get this fixed up and report back here when it is done.

[2021-06-09 03:21] CHEEKATLAPRADEEP-MSFT commented on #76571
@pwehland Thanks for the feedback. We are investigating and will update you shortly.

[2021-06-09 03:23] RonnieQuan opened #76629 "Scope for Microsoft Managed Key"
When use Microsoft managed key for encryption at rest, is the encryption key scoped to my resource or dedicated to my subscription or shared with entire Azure ACR users?

Thank you so much in advance!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3d99bf5-e7dd-9146-4ba7-a6ce384ac81c
* Version In

[2021-06-09 03:24] HarshitaSingh-MSFT commented on #76491
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-09 03:25] HarshitaSingh-MSFT commented on #76492
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-09 03:28] tripura1234567 opened #76630 "REST API to get Azure Active Directory Security Defaults"
Please provide REST API details to get  Azure Active Directory Security Defaults information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.co

[2021-06-09 03:28] Karishma-Tiwari-MSFT commented on #76595
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-09 03:32] VikasPullagura-MSFT commented on #76547
@olayemio Thanks for updating the document.

[2021-06-09 03:32] #76547 closed

[2021-06-09 03:37] AnuragSharma-MSFT commented on #76395
@balusmsft We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-09 03:37] #76395 closed

[2021-06-09 03:38] spelluru commented on #76560
Fixed the issue. The updated article will go live tomorrow.
#please-close

[2021-06-09 03:38] #76560 closed

[2021-06-09 03:41] VikasPullagura-MSFT commented on #76626
@emarion0
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-09 03:41] VikasPullagura-MSFT commented on #76626
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-06-09 03:51] wvanbesien opened #76631 "Actual Azure AD B2C configuration is missing from article and only included in the readme of the sample."
While the sample is fine, it is surprising that on the Azure AD B2C documentation site, with a sample app, the documentation does NOT include the steps to configure Azure AD B2C. They are included in the sample code but not on the web page.

I would argue the Azure AD B2C steps are more important instead of being part of the README of a sample. I would suggest including that.

---
#### Document De

[2021-06-09 04:05] AshokPeddakotla-MSFT commented on #76464
@anastasia-ms Thanks for fixing the links.
@jbkoh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-09 04:05] #76464 closed

[2021-06-09 04:12] v-amallick commented on #76593
Hi @stantoni-msft

Thank you for your feedback. Currently, we are updating the article. Will get back with the updates.

[2021-06-09 04:13] v-amallick commented on #76593
#assign:v-amallick

[2021-06-09 04:18] spelluru commented on #76515
@serkantkaraca - could you please review the issue and let me know if the URI needs to be fixed (with out /eventhubs)? I will update the article after you confirm.

Also, if you could add your input on code for generating SAS token that would be great.

Thanks

[2021-06-09 04:29] SrijitBose-MSFT commented on #76629
@RonnieQuan , thanks for the question.

When you store images and other artifacts in an Azure container registry, Azure automatically encrypts the registry content at rest with [service-managed keys](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-models). [[Reference](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys)]

When

[2021-06-09 04:30] Svijay-msft commented on #76559
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-09 04:32] Svijay-msft commented on #76572
Thanks for the feedback! We are looking into this and will get back to you soon.

[2021-06-09 04:32] SnehaAgrawal-MSFT commented on #76582
@Harissa Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:33] SnehaAgrawal-MSFT commented on #76591
@seligj95 Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:35] SnehaAgrawal-MSFT commented on #76597
@mapoitras Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:37] SnehaAgrawal-MSFT commented on #76602
@chamikasandamal Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:38] SnehaAgrawal-MSFT commented on #76605
@danferh Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:40] SnehaAgrawal-MSFT commented on #76618
@arturtamborski Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 04:43] SnehaAgrawal-MSFT commented on #76322
@nohanaga Since we didn't here from you. We will close this out but if you feel you need more information please just let us know.

[2021-06-09 04:43] #76322 closed

[2021-06-09 04:47] Svijay-msft commented on #76585
Thanks for the feedback! We are looking into this and will get back to you soon.

[2021-06-09 04:51] Svijay-msft commented on #76600
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-09 04:55] ShaikMaheer-MSFT commented on #76619
@TanGolf Thank you for feedback. We are actively validating it and get back to you soon

[2021-06-09 04:57] Svijay-msft commented on #76611
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. Could you please share the Azure documentation for which this feedback is applicable to?

[2021-06-09 04:59] VikasPullagura-MSFT commented on #76274
@JerrelAjoeb
Thanks for the update.

We will now close this issue. Once you have the feedback, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-06-09 05:04] AjayKumar-MSFT commented on #76594
@abhilashmk, Thanks for taking time to share your feedback on the Azure docs feedback channel. Since you have closed the issue, I presume you were able to sort this out. Please let us know if you need further assistance on this.

Kindly see these [#az_webapp_create](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az_webapp_create) and [App Service Kubernetes environment](ht

[2021-06-09 05:11] #76111 closed

[2021-06-09 05:15] SnehaAgrawal-MSFT commented on #76325
@sethiramicrosoft The product team is aware of the issue and a fix will be rolled out in upcoming release. I Will keep you posted as and when I have more updates. Thanks again for raising this issue.

[2021-06-09 05:20] vipulsparsh commented on #76620
@r-milne Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-09 05:21] SnehaAgrawal-MSFT commented on #76197
@cephalin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-09 05:21] vipulsparsh commented on #76625
@r-milne Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-09 05:22] vipulsparsh commented on #76631
@wvanbesien Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-09 05:23] vipulsparsh commented on #76630
@tripura1234567 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-09 05:28] gozmanyoni opened #76633 "https://graph.microsoft.com/oidc/userinfo not working as documented"
The endpoint's behaviour changed sometime during the May.

while my app has the right scopes (openid,email) - any request from a personal microsoft account fails with:

`{"code":"BadRequest","message":"{ "error":{ "code": "UndefinedScope ", "message":"Exception of type 'Microsoft.Fast.Profile.Core.Exception.ProfileBadRequestException' was thrown." } }`

For enterprise accounts this still works as

[2021-06-09 05:43] pauldulong commented on #76551
Yes, there is no reference to this question in the documentation:
![image](https://user-images.githubusercontent.com/36908040/121299915-acce2d00-c928-11eb-989b-df8af06ab660.png)

I know it's pretty straight forward, but still :)

[2021-06-09 05:46] yoelhor commented on #76631
Dear @wvanbesien, I'd recommend you read the new sample. It's a series of three articles. 1) how to configure [the sample](https://docs.microsoft.com/azure/active-directory-b2c/configure-authentication-sample-web-app) 2) how to [create your app](https://docs.microsoft.com/azure/active-directory-b2c/enable-authentication-web-application) 3) [sign-in options](https://docs.microsoft.com/azure/active-

[2021-06-09 05:49] nohanaga commented on #76322
I'm using the supported language 'ko', so there is no error.
If you don't support Japanese or Chinese, you shouldn't write the following text because it is confusing.

[2021-06-09 05:54] AjayKumar-MSFT commented on #76348
@docklander,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag @SwathiDhanwada-MSFT  in your reply and we will gladly continue the discussion.

[2021-06-09 05:54] #76348 closed

[2021-06-09 05:55] SadiqhAhmed-MSFT commented on #76627
@Siby22071989 Thanks for bringing this to our attention. We will look into it and update as appropriate.

@bandersmsft FYI

[2021-06-09 06:01] sarajang opened #76634 "Built-in role definitions Cosmos DB Built-in Data Reader and Cosmos DB Built-in Data Contributor does not exist"
The two build in role definitions Cosmos DB Built-in Data Reader and  Cosmos DB Built-in Data Contributor does not exist in azure. The powershell command returns an error when trying to do a Get -

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86ccb

[2021-06-09 06:01] pchettri3 commented on #33988
knowing public IP would be useful to create conditional access and MFA exception for SPO sites. NAT gateway might provide better solution to know one IP and provide exception

[2021-06-09 06:06] ssivas commented on #76633
@gozmanyoni , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-09 06:24] Sudhirga commented on #76611
I am referring to Security baselines for Azure documentation.  Please follow this link - https://docs.microsoft.com/en-us/security/benchmark/azure/security-baselines-overview
There is security baseline for each Azure service separately based on Azure Security benchmarks - https://docs.microsoft.com/en-us/security/benchmark/azure/overview-v1
I suppose security benchmarks are revised with v2 release

[2021-06-09 06:27] mike-urnun-msft commented on #76487
@yuhuyuyu Once you type in the status code in the Seach field, 4xx and 5xx codes will show in auto-suggest drop-down:

![image](https://user-images.githubusercontent.com/36717703/121304331-0dba1e80-c8b1-11eb-81cf-655e369fbf39.png)

[2021-06-09 06:30] KjetilEVRY commented on #76275
Thanks, but this is not clear on the doc. Please update. And please clarify if this is needed for every subscription in the customer tenant, or if this applies to all subscriptions in the same tenant.

[2021-06-09 06:32] mike-urnun-msft commented on #76601
@capraz19 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-09 06:33] AnuragSharma-MSFT commented on #76634
@sarajang Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-09 06:46] timoleo23 opened #76635 "NPM Package version is not correct"
All references to the npm package @azure/communication-calling needs to be changed to reflect the correct version
https://www.npmjs.com/package/@azure/communication-calling/v/1.1.0-beta.1
Replace version
@1.1.0.beta-1
by
@1.1.0-beta.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f6c0b6e-a3b1-ed87-f673-4842029e498f
*

[2021-06-09 06:56] bangdu-ms opened #76637 "Azure Firewall scale up and scale out"
[Enter feedback here]
In this paragraph, the word "scale up" is not 100% accurate since Azure Firewall scales **out** rather than scale **up**.

Please kindly consider fixing this part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc94224c-a581-0739-7178-91aeb4a414a3
* Version Independent ID: 2a3145ec-bdde-c739-a454-

[2021-06-09 06:56] Johnnytechn opened #76638 "Should we add a system time cause to the ‘ExtensionOperationFailedForManagedDisks’ error ?"
If the system time of the virtual machine to be backed up by the customer is too different from the actual time, the **ExtensionOperationFailedForManagedDisks** error code may also be caused. So, should we add a system time cause to the **ExtensionOperationFailedForManagedDisks** error ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-06-09 07:05] chengyu-liu-cs commented on #76308
@KranthiPakala-MSFT Thanks for the confirmation. We were triggering a ADF pipeline from DevOps pipeline as one of releasing step.

[2021-06-09 07:10] ShaikMaheer-MSFT commented on #76619
@spelluru Could you please validate and add requested details

[2021-06-09 07:12] ShaikMaheer-MSFT commented on #76581
@linda33wj Could you please validate feedback and add requested details

[2021-06-09 07:13] pstutzinger opened #76639 "Requirement change from Azure Marketplace to Azure AD Gallery"
When I'm searching in the Azure Marketplace for "Citrix ADC" the results shown are solutions to deploy a Citrix infrastructure in the cloud.
I believe the article should rather mention the Azure AD Gallery and there the enterprise application "Citrix ADC SAML Connector for Azure AD". The application links to this docs page also.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-06-09 07:14] ShaikMaheer-MSFT commented on #76556
@roopasd We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-09 07:14] #76556 closed

[2021-06-09 07:15] RohitMungi-MSFT commented on #76561
@wukun2015 I don't think you have missed any steps. The complete tutorial in this case is basic and helps you use data and train an experiment in Azure ML. It does not dump your model file that can be readily downloaded.

If you are looking to use your model by downloading it you can instead try this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/create-first-ml

[2021-06-09 07:42] DavidTrigano commented on #42457
Hi @langstonj,

Regarding your first question: technically you can create a script that baseline all your databases, this is not something the PG recommends/supports, as the purpose of reviewing SQL vulnerabilities is by analyzing them database after database and not setup baselines at scale using scripts.

Regarding your question around copying an archived healthy database with baselines, please

[2021-06-09 07:42] DavidTrigano commented on #42457
#please-close

[2021-06-09 07:42] #42457 closed

[2021-06-09 07:44] DavidTrigano commented on #70391
#please-close

[2021-06-09 07:44] #70391 closed

[2021-06-09 07:47] DavidTrigano commented on #62071
Hello @sarah026,

Thank you for raising this feedback!
In case you have an issue with one of your scan, you can check your scan history in your Azure SQL vulnerability assessment page.

Best,
D.

[2021-06-09 07:47] DavidTrigano commented on #62071
#please-close

[2021-06-09 07:47] #62071 closed

[2021-06-09 07:49] shashishailaj commented on #76637
@bangdu-ms Thank you for your feedback . We will engage the content team to review the same.

[2021-06-09 07:51] DavidTrigano commented on #64981
Hi @RonnieQuan,

Thank you for your question.
When you turn any capability within Azure (not only SQL vulnerability assessment), Microsoft does not get any access on your data. In case Microsoft needs to access to your data for any purpose, we are plighted to get your explicit consent before we initiate any kind of manipulation.
In the case of SQL vulnerability assessment, we do not have access to

[2021-06-09 07:51] DavidTrigano commented on #64981
#please-close

[2021-06-09 07:51] simon-an opened #76640 "Need details on application insights recognized properties for requests and dependencies"
In my usecase, i use an opentelemetry client to send dependency and request events to application insights.

Service A sends an event to an broker. Event is processed by service B. The result i want to see in the Applicaton Map is

Service A -> Broker -> Service B.

What properties do i need to set on service A and service B, when sending the data to application insights?

The properties from the

[2021-06-09 07:51] #64981 closed

[2021-06-09 07:52] shashishailaj commented on #76439
@bmilbauer This has been updated in the documentation .

[2021-06-09 07:53] #76439 closed

[2021-06-09 08:01] DavidTrigano commented on #67702
Hi @fillip1983 ,

Thank you for raising this feedback. We made the change to surface the removed rule VA2030. You should be able to see it within 24hours.

Best,
D.

[2021-06-09 08:01] DavidTrigano commented on #67702
#please-close

[2021-06-09 08:01] #67702 closed

[2021-06-09 08:02] shashishailaj commented on #76555
@nonnb Thank you for sharing this . We have updated the code and it is currently under review of the content team . The content should e updated within the next 48 hours as per the release cycle. Thank you,

[2021-06-09 08:02] #76555 closed

[2021-06-09 08:04] DavidTrigano commented on #70062
Hi @SquirrelAssassin ,

To disable a rule (in your case VA1288) you have to setup a baseline, as explained here:

Please let us know if you have any additional question.

Best,
D.

[2021-06-09 08:05] DavidTrigano commented on #70062
#please-close

[2021-06-09 08:05] #70062 closed

[2021-06-09 08:06] divyabhushan opened #76641 "Blur image"
Hi,

Blur image > https://docs.microsoft.com/en-us/azure/azure-sql/database/media/authentication-aad-configure/aad.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure Active Directory authentic

[2021-06-09 08:13] amanmcse commented on #76480
@Continuitis Yes, the sample is good for your case. We suggest using V2 endpoint. Refer to [Why update to Microsoft identity platform (v2.0)?](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/azure-ad-endpoint-comparison) for more details.

Here is the V2 document for [Microsoft identity platform and the OAuth 2.0 client credentials flow](https://docs.microsoft.com/en-us/azure/a

[2021-06-09 08:13] #76480 closed

[2021-06-09 08:22] scarvalho-eng commented on #76491
Hi @HarshitaSingh-MSFT ! Yes I understand. The only thing I wanted to share was that the Cx was confused with the "language". Why these sentences were not the same:
![image](https://user-images.githubusercontent.com/85362766/121319394-1425b600-c904-11eb-9d7b-8b743060680b.png)
![image](https://user-images.githubusercontent.com/85362766/121319414-17b93d00-c904-11eb-881f-50e93fc783c8.png)
In "Require

[2021-06-09 08:25] MasterKolka commented on #76203
![image](https://user-images.githubusercontent.com/29628534/121319848-e4c77700-c90c-11eb-9004-7840888e49dc.png)

Target sub-resource: signalr

[2021-06-09 08:35] yuhuyuyu commented on #76487
@mike-urnun-msft
In fact, I already knew I should do this. Thanks for your help.
I think it is possible to use <choose> and <mock-response> to return different responses according to different requests. Is that true?

[2021-06-09 08:41] Gordonby opened #76643 "URL missing"
The referenced ARM template does not exist in the specified link
 'https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-app-configuration-store-kv/azuredeploy.json'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-0717-23d4-5d63-c5728919cda8
* Version Independent ID: b8726c93-69e0-07d5-5

[2021-06-09 08:43] shadowano commented on #64093
@GitaraniSharma-MSFT thanks, can you also reopen this case?

[2021-06-09 08:46] yavar-hasanov opened #76644 "Broken Link 404"
Infrastructure as code link in [this section](https://docs.microsoft.com/en-us/azure/azure-monitor/continuous-monitoring#enable-monitoring-for-your-entire-infrastructure) is broken, and redirects to 404
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa18ce13-11c1-3598-0e60-89197b598828
* Version I

[2021-06-09 08:49] vnbaaij opened #76645 "Small error in retrieve metadata steps"
In the last step (8) in https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps#optional-retrieve-drawing-package-metadata is written

Should be

In the response window, select the **Body** tab. The metadata should look like the following JSON fragment:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-06-09 08:51] SadiqhAhmed-MSFT commented on #76638
@Johnnytechn Thank you for your post. We will look into it and get back to you soon.

[2021-06-09 08:55] adhodgson1 opened #76646 "DNS proxy implemented on firewall but vnet not using it"
This document goes through creating the Azure Firewall with the DNS proxy enabled. However, if we look at the [DNS proxy documentation](https://docs.microsoft.com/en-us/azure/firewall/dns-settings) it goes through setting the DNS servers on the vnet to the firewall internal IP address, something which is not done in this AKS example. Is DNS proxy still required in this scenario and if so do we nee

[2021-06-09 08:58] amanmcse commented on #76551
@amanmcse The steps provided in the doc are for delegated permissions only and the permissions wont be present under application permission. There are different steps to list permissions under Application permissions.
Moreover, the steps are hosted at different location and being referenced by multiple docs. So, we are keeping it generic to fit in given scenario.

[2021-06-09 08:58] #76551 closed

[2021-06-09 08:59] SnehaAgrawal-MSFT commented on #76644
@yavar-hasanov Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 09:01] SnehaAgrawal-MSFT commented on #76635
@timoleo23 Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 09:05] SnehaAgrawal-MSFT commented on #76325
@sethiramicrosoft We will close this out but if you feel you need more information please just let us know.

[2021-06-09 09:05] #76325 closed

[2021-06-09 09:11] FallenHoot opened #76647 "Example Template is missing two lines of code."
The JSON template example is missing two lines of code
https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-template#review-the-template
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 372e63be-f556-3eae-50af-d928b97e2fca
* Version Independent ID: 9b1b05a6-687a-bae1-bc40-7761bafdc214
* Content: [Qu

[2021-06-09 09:21] sidprasher commented on #76511
@kobulloc-MSFT : thanks - that is what i was actually expecting considering there are 3 replicas. So should I read the text as - each individual replica is guaranteed to be 99.9% available and therefore a managed disk's availability can be measured ~99.999%

[2021-06-09 09:36] dmakinson opened #76649 "Link to the PowerBI Template is broken, please provide the correct link!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1e255c-292c-4128-5279-e89e4219e5ee
* Version Independent ID: 407f24da-c012-0b9c-0ef7-ac47bb49d735
* Content: [Visualizing Azure NSG flow logs - Power BI - Azure Network Watcher](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-

[2021-06-09 09:39] dmakinson commented on #76649
https://aka.ms/networkwatcherpowerbiflowlogstemplate

the above link is broken, is this still free? or has the PowerBI template for network watcher been commercialised?

[2021-06-09 09:46] BhargaviAnnadevara-MSFT commented on #76643
@Gordonby Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-06-09 10:13] fgheysels opened #76657 "How to create a metric alert based on a Log Analytics query"
I've managed to create a metric alert based on a custom Log Analytics query via the Azure Portal as is described [here](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-metric-logs#configuring-metric-alert-for-logs).

This seems to work, but now, I'm trying to do the same via an ARM template, so that this can be automated.  I'm trying to follow the documentation [here](https://do

[2021-06-09 10:13] BhargaviAnnadevara-MSFT commented on #76647
@FallenHoot Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-06-09 10:16] mrickly commented on #76412
Thank you @ChaitanyaNaykodi-MSFT , @miaojiang : I see that the documentation has been fixed. However, it does not explain why I need to add permissions for the **deprecated** Azure Active Directory Graph API. Can you share some insights on the Microsoft roadmap regarding the Azure Active Directory Graph? Are there plans to make sure that the Azure Active Directory Graph API permissions are not nee

[2021-06-09 10:24] BhargaviAnnadevara-MSFT commented on #76647
@FallenHoot Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-06-09 10:25] BhargaviAnnadevara-MSFT commented on #76643
@Gordonby Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-06-09 10:28] Svijay-msft commented on #76612
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-09 10:30] CHEEKATLAPRADEEP-MSFT commented on #76517
@caiobelfort  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-09 10:30] #76517 closed

[2021-06-09 10:31] nielsophey opened #76658 "Error Message when trying to create the App Service Kubernetes environment"
When I try to create the App Service Kubernetes environment I get the error message "issingRegistrationForLocation: The subscription is not registered for the resource type 'kubeEnvironments' in the location 'westeurope' ... What can I do register this provider? The three providers at the top of the guide I have registered...

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-09 10:34] AgribotGit commented on #76326
Thank you very much !

I can conform that the python code and the generated tensorflow model work correctly in my Visual Studio IDE and python environment.
many thanks for your quick and helpful support.

[2021-06-09 10:37] harelbr commented on #76657
Hi @fgheysels ,

The 'Metric Alerts for Logs' feature isn't a general-purpose mechanism to convert log queries into metrics and alert on them. It is rather limited to a set of Log Analytics tables and performance counters described in the Overview section of this article.

For this reason, you can't use this feature with a custom query. You might want to look into the option of sending custom metr

[2021-06-09 10:38] DanielHRio opened #76659 "Synapse workspace's private endpoint uses Microsoft.Sql/servers resource type"
In the documentation, Synapse workspace's private endpoint uses Microsoft.Sql/servers resource type. That is not the case right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoin

[2021-06-09 10:41] BhargaviAnnadevara-MSFT commented on #76658
@nielsophey Thanks for the question. We're investigating this and will get back to you shortly.

[2021-06-09 10:45] SnehaAgrawal-MSFT commented on #76494
@realrubberduckdev Thanks for asking question! You may want to know that by default, each App Service has a public IP address and is accessible via FQDN from across the globe. If you simply deploy App Service(s) behind Azure Front Door, everyone can access App Service directly without using Azure Front Door.
Further Traffic from Azure Front Door to your application originates from a well known set

[2021-06-09 10:45] CHEEKATLAPRADEEP-MSFT commented on #76571
@pwehland Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/161650](https://github.com/MicrosoftDocs/azure-docs-pr/pull/161650)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2021-06-09 10:45] #76571 closed

[2021-06-09 10:47] ohadschn opened #76660 "Host-based encryption on Azure Kubernetes Service (AKS) - incorrect supported regions list"
It seems that the `Limitations` section is pointing to a supported region list for **Automatic key rotation**, not host-based encryption.

This might be due to a change in the linked page, which changed the meaning of the `supported-regions` anchor: https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encryption#supported-regions.

Going by the linked page, this feature should be available

[2021-06-09 10:53] SnehaAgrawal-MSFT commented on #76498
@lenisha Thanks again for the feedback! Could you please elaborate your query, If you are receiving any error? To help you better on this.

[2021-06-09 10:58] psmanhas commented on #76660
@ohadschn Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-09 10:59] psmanhas commented on #76660
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-06-09 11:01] psmanhas commented on #76646
@adhodgson1 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-09 11:01] psmanhas commented on #76646
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-06-09 11:11] AshokPeddakotla-MSFT commented on #76645
@vnbaaij  Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-09 11:35] SarveshPandey opened #76662 "Setup HA between Azure SQL DB/ Azure SQL MI and On-premise SQL Server"
We have a situation where we need to setup Setup HA between Azure SQL DB/ Azure SQL MI and On-premise SQL Server.
Can we setup HA between Azure to On-premise or is there is any workaround of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e

[2021-06-09 11:46] fgheysels commented on #76657
Thanks for the info.  However, I do find it strange that this seems to work when doing it via the portal ?

![image](https://user-images.githubusercontent.com/3605786/121348729-fb7bc700-c928-11eb-8300-d2c586166e2d.png)
When I create an alert as in the above screenshot, it seems that I end up with a stateful metric-based alert, which uses data coming from a log query.

[2021-06-09 12:12] HarshitaSingh-MSFT commented on #76492
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-09 12:12] #76492 closed

[2021-06-09 12:16] tommck commented on #58148
I see this has gotten a lot of attention :(

[2021-06-09 12:37] AnuragSharma-MSFT commented on #76641
@divyabhushan Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-09 12:44] alevere commented on #76300
I found two subscriptions where this is not set, and one subscription where it is when I checked this morning, though we have many other subscriptions.

<img width="893" alt="Screen Shot 2021-06-09 at 8 41 02 AM" src="https://user-images.githubusercontent.com/11030919/121356389-c8244280-c8fe-11eb-9877-562a4ab375d9.png">
<img width="372" alt="Screen Shot 2021-06-09 at 8 41 21 AM" src="https://user-

[2021-06-09 13:02] Tony00000001 opened #76665 "AAD login with Bastion"
Is AAD Sign-in with Bastion supported yet?

I'm working on a full scale VM deployment for several users and would love to use Bastion for this project.

If it is supported, does Conditional access need to be configured? Outbound access to AAD?

The User I'm testing with has Reader permissions to Bastion, VM, and VM NIC.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-06-09 13:02] MayankBargali-MSFT commented on #76286
@craigshoemaker Can you confirm on this behavior.

[2021-06-09 13:02] pgumpoldsberger opened #76666 "G-Suite expects SAML-Response with ASCII-Characters only"
We had some Problems with the SSO-experience with G-Suite.
I found out that G-Suite can't handle non-ASCII charcters in the SAML response and many of our users have non-ASCII characters in their surname and display-name
Resolving this issue, i removed some of the claims in the Azure AD SSO config and only including user.mail and user.userprinciplename

I've found the according doc at G-Suite: http

[2021-06-09 13:04] SreedharBoya commented on #24857
just set export MSYS_NO_PATHCONV=1 and it work on Gitbash.This issue is sloved.

[2021-06-09 13:04] ChrisSommers opened #76667 "P15 disks can no longer be shared"
Has MS moved the goalposts in the middle of the game? It looks like P15 (256GB) disks can no longer be shared. It seems that you now have to have a minimum of a P20 (512GB).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b73c0b-4ef3-03ec-6d17-7085ed9a9c86
* Version Independent ID: 41c65315-c617-48b2-e273-5a8e11a62269

[2021-06-09 13:06] rbenet-lifesize opened #76668 "Handwritten recognition is no longer "English Only""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e9009
* Content: [What is Optical character recognition? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-visio

[2021-06-09 13:07] thommck commented on #73668
You can only see the reference if you generate a quote on the calculatore. I''ve done that now and this sharing link should enable you to see it (as highlighted in the screenshot above) https://azure.com/e/9c7991e37ac54fb58253aa58c7bf832c

[2021-06-09 13:21] jasonfritts opened #76669 "Endpoints for GCC and GCC High"
This page lists the endpoints for Azure Commercial environments:

https://login.microsoftonline.com
https://mysignins.microsoft.com
https://account.activedirectory.windowsazure.com

But doesn't mention GCC or GCC High environments and they are not the same.  We need these to be documented so government customers can whitelist these URLs accurately as well.

Thanks

---
#### Document Details

⚠ *Do

[2021-06-09 13:26] MGoedtel commented on #76549
@Klas - Thanks for bringing this to our attention, and point well taken.  I'll create a work item for this and discuss with the PG to verify the settings that should be documented for Linux distros and any differences between them that need to be noted.  I should be able to complete this during the June sprint.  #please-close

[2021-06-09 13:26] #76549 closed

[2021-06-09 13:39] harelbr commented on #76657
Thanks for sharing more details.
The type of alert rule illustrated in the screenshot is a log alert rule, with a log query that calculates a metric measurement. This is a different type of alert rule (it's not a metric alert rule).

Please refer to [this article](https://docs.microsoft.com/azure/azure-monitor/alerts/alerts-log-create-templates#simple-template-up-to-api-version-2018-04-16) for a s

[2021-06-09 13:45] davidhamsft opened #76670 "Broken link"
Github link for form for example does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f8f3b26-fdf8-09b9-0d5a-c00c71f50199
* Version Independent ID: 78a0aa4f-e409-5004-ea0b-74907662bea6
* Content: [Quickstart: Label forms, train a model, and analyze forms using the sample labeling tool - Form Recognizer - Azur

[2021-06-09 13:45] jasonfritts commented on #76669
In addition by testing these below endpoints are needed, if so can we please documented what each one is used for as well?

https://login.microsoftonline.us
https://mysignins.azure.us
https://mysignins.azure.us/security-info
https://account.activedirectory.windowsazure.us

[2021-06-09 13:55] msangapu-msft commented on #76615
Thank you for alerting us @StephenWeatherford.

[2021-06-09 13:55] msangapu-msft commented on #76616
Thank you @StephenWeatherford.

[2021-06-09 13:57] vhorne commented on #75609
Relevant info added to FAQ: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-change-the-virtual-network-or-subnet-for-an-existing-application-gateway
#please-close

[2021-06-09 13:57] #75609 closed

[2021-06-09 14:15] ssivas commented on #76633
@gozmanyoni, This issue is reproducible in my lab as well, however, working with product team to get more insight on this issue. Kindly allow us sometime, I will get back to with my findings. thanks.

[2021-06-09 14:15] mike-urnun-msft commented on #76487
Hi @yuhuyuyu - Yes, you can use the [Control Flow](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#choose) policies to distinguish between different requests and return responses accordingly.

[2021-06-09 14:17] mike-urnun-msft commented on #76665
Hi @Tony00000001 - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-09 14:20] Tony00000001 commented on #76665
Here's the URL: https://docs.microsoft.com/en-us/azure/bastion/troubleshoot

This is last updated in 2019 and states that Bastion can work with hybrid-joined domains. Is Azure AD only domain now supported for use with Bastion?

[2021-06-09 14:23] donchai commented on #76485
@TravisCragg-MSFT thanks for your reply and advice with link. Based on your respond, may I confirmed if following understanding is correct? On-premise A,B,C,D each may advertise different prefix to Azure and Azure end has Primary and Secondary link to each ER Circuit.

On-Premise **A** -> ER Circuit 1 (primary and secondary ports for redundancy) -> Cloud Connect Provider A in peering location A ->

[2021-06-09 14:24] GiftA-MSFT commented on #76668
@rbenet-lifesize we'll review your feedback and get back to you shortly. Thanks.

[2021-06-09 14:27] GiftA-MSFT commented on #76670
@davidhamsft we'll review your feedback and get back to you shortly. Thanks.

[2021-06-09 14:29] bitsofinfo opened #76671 "Examples on this page are lacking other real world examples"
This page is heavily windows focused.

a) it shows generating certs using `makecert`and no examples for other OS's (mac, linux)

b) it shows accessing keyvault using the cert from a powershell based batch job. It would be helpful to discuss other keyvault access examples for example from java code/ python code running on a batch node, or from within a Docker container.

---
#### Document Details

[2021-06-09 14:29] mike-urnun-msft commented on #76518
@eligoldner Ok, if you make a new post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) and one of our engineers will review the feature/scenario and loop in the product team if need be.

If you'd like to propose a feature directly to the product team, you can make a new post on [Azure UserVoice](https://feedback.azure.com/forums/34192--general-feedback).

[2021-06-09 14:30] mike-urnun-msft commented on #76518
Since we didn't determine any changes to any of MS Docs upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-09 14:30] #76518 closed

[2021-06-09 14:31] SureshBettadapur commented on #63250
To Accept/Reject pending Private endpoint requests through CLI / Powershell -- Is this now supported?

[2021-06-09 14:32] ladykraken commented on #76518
Please stop sending me message Im trying to close my account

________________________________
From: eligoldner ***@***.***>
Sent: Tuesday, June 8, 2021 8:45:50 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Stream Analytics auto-created sink table in Azure SQL with "Change Data Capture" has a too-wide key (#76518)

It's not a

[2021-06-09 14:33] kanhomcake opened #76672 "Question about the tutorial please?"
hi, I'm wondering whether or not this tutorial will help solving the issue described here, https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/click-hyperlink-to-sso-website#hyperlinks-from-office-to-internet-explorer-or-to-another-web-browser?

Thank you :)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-06-09 14:36] wukun2015 commented on #76561
Thanks for more samples.

In studio terminal after pip installed joblib and scikit-learn on the compute instance, training on compute cluster still report below err:

UserError: User program failed with ModuleNotFoundError: No module named 'sklearn'
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    from sklearn.externals import joblib
ModuleNotFoundError: No module name

[2021-06-09 14:47] jordanmills opened #76673 "The example for retrieving a token does not work."
Also it would be great to use actual cmdlets instead of aliases in examples.

The error is (replace [guid] with the actual guid):
cat : Cannot find path 'C:\ProgramData\AzureConnectedMachineAgent\Tokens\[guid].key' because it does not exist.

Based on the ACLs, it looks like the identity used to access the file must be a member of one of the local groups administrators or "Hybrid agent extension a

[2021-06-09 14:59] MashaMSFT commented on #71741
Hi @rohitnayakmsft , awesome, sounds like a plan to me! I'll close out the Git Issue for the time being as the fix is in the works.

Thanks so much for reaching out @rarandiv ! Please feel free to comment should you need anything further.

I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-09 14:59] #71741 closed

[2021-06-09 15:17] fgheysels commented on #76657
I have tried that, and created a 'normal' alert via an ARM template for my query, but when I go to the portal, and look at the alert rule via Azure Monitor, I notice some differences.

This is how the alert rule that I've created via ARM looks like:
![image](https://user-images.githubusercontent.com/3605786/121381867-638cd600-c946-11eb-930a-496ac02ad33a.png)

The alert-rule that I've created via t

[2021-06-09 15:20] JamesTran-MSFT commented on #76639
@pstutzinger
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-09 15:23] #76590 closed

[2021-06-09 15:23] JamesTran-MSFT commented on #76669
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-09 15:25] JamesTran-MSFT commented on #76666
@pgumpoldsberger
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-09 15:26] MayankBargali-MSFT commented on #76590
@SanthoshCheekoti Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-06-09 15:27] qzqsmile opened #76676 "Mismatch between UI and Doc about "HTTP" dataset"
"HTTP" in UI  is classified into  "File" Column, However in Doc is classified into "Generic protocol" . I guess doc is do the right thing. See Attached

UI:
<img width="627" alt="Screen Shot 2021-06-09 at 11 25 12 PM" src="https://user-images.githubusercontent.com/3256672/121383403-03178c00-c97a-11eb-9e49-176de8d7cd8f.png">
Doc:
<img width="648" alt="Screen Shot 2021-06-09 at 11 19 02 PM" src="htt

[2021-06-09 15:27] wilbug1git1 opened #76677 "Disable description"
In the Disable policy effect description it never specifically says that the Policy Effect is disable and not applied.  It mentions that it is still evaluated but should go further and state: "The policy effect isn't enforced during resource creation or update, for clarity." as it is stated in the enforcementMode table description.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-06-09 15:35] AjayKumar-MSFT commented on #76383
@Brijeet, Yes, you're correct. Currently, App Service Certificate and  Key Vault Certificate only supports Key Vault access policy but not RBAC model.
We have raised a PR with the requested changes and it's merged, the doc will reflect the changes soon.

Thanks again for bringing this to our attention. We will close this thread now.

[2021-06-09 15:35] #76383 closed

[2021-06-09 15:45] Oury-MSFT commented on #76531
@markjbrown the link to the survey in this [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction?WT.mc_id=thomasmaurer-blog-thmaure) does not work. Could you please to update the doc with correct link. Thanks
![image](https://user-images.githubusercontent.com/78940872/121386240-adea6480-c8fe-11eb-88b6-6926dd519852.png)

[2021-06-09 15:51] ivanthelad opened #76679 "Documented APIM "Maximum number of scale units" is not consistent with APIM pricing documentation"
The documentation  for "Maximum number of scale units" is 10 per region under https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#api-management-limits is not consistent with what is documented under the APIM pricing documentation which states "12 per region(call support to add more"

https://azure.microsoft.com/en-us/pricing/details/api-manag

[2021-06-09 15:52] desariyahmom opened #76680 "Disable email verification during customer sign-in Azure Active Directory B2C"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f2f68f-0b69-2156-990d-c21937d52e65
* Version Independent ID: b93c92d9-6635-5c03-c728-fe8339f1747f
* Content: [Disable email verification during customer sign-up - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/disable-emai

[2021-06-09 16:01] fgheysels commented on #76657
Additional information:  I've created the alert via the Portal from a 'ContainerInsights' solution, which is linked to my Log Analytics workspace.

Also, the notice that is put on that webpage, suggest that it is possible to create metrics based on custom queries:
![image](https://user-images.githubusercontent.com/3605786/121389418-ae115100-c94c-11eb-8fd4-ebd62a52afc5.png)

[2021-06-09 16:12] chuanqisun opened #76682 "EBNF language definition incorrectly used BNF syntax"
The document claims to use EBNF and uses `=::` as the definition operator. But on [the Wikipedia page](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form) it links to, the syntax table shows definition should use `=` instead. The `=::` seems to be the syntax for BNF.

| Usage | Notation |
|---|---|
|definition|=|

It is unclear whether our documentation is using EBNF or BNF. This crea

[2021-06-09 16:13] JamesTran-MSFT commented on #76501
@yayoayala
Thank you for your time and patience throughout this issue!

Would you be able to share some screenshots of what you're seeing along with some details regarding your app?
- Is it an App created under within the Enterprise Applications service?
- Is your app an App registration?

Any additional information would be greatly appreciated!

If you have any other questions, please let me know

[2021-06-09 16:24] kobulloc-MSFT commented on #76511
@sidprasher No worries!  The combination of the 3 replicas would provide the 99.999% availability described in the documentation, yes.

[2021-06-09 16:25] SaiKishor-MSFT commented on #75608
@PhilipAnthonyMurray Any update?

[2021-06-09 16:26] SaiKishor-MSFT commented on #76203
Can you post a snapshot of the error?

[2021-06-09 16:29] tfitzmac commented on #76529
Given that there is no documentation to update currently, we'll close.
#please-close

[2021-06-09 16:29] #76529 closed

[2021-06-09 16:32] b-delfino commented on #32781
hello, how was this solved?

[2021-06-09 16:39] kgremban commented on #70105
This improvement to the article was made in https://github.com/MicrosoftDocs/azure-docs-pr/pull/160163. Thank you @onderyildirim for pointing this out. I'm going to close the issue now as resolved, but please feel free to follow up if you have further questions or comments on the topic.

#please-close

[2021-06-09 16:39] #70105 closed

[2021-06-09 16:46] jvalente-salemstate commented on #39487
Hi @cawrites  It's been almost 2 years but this is still an issue.  MCAS shows this as "Failed log on (Failure message: The account is locked, you've tried to sign in too many times with an incorrect user ID or password.)" but AzureAD & Sentinel have the description of "Sign-in was blocked because it came from an IP address with malicious activity".

As mentioned it also doesn't indicate whether t

[2021-06-09 16:47] #39763 closed

[2021-06-09 16:58] EgorEmeliyanov opened #76683 "The operators list seems outdated"
The operators available in the portal but not described in this article are:

&
ENDS_WITH
!&

~Egor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-c3bd-9b33-f37bb7af6acd
* Version Independent ID: d865098d-299a-ddeb-6eed-9a1db3175de3
* Content: [Use scoping filters in Azure Active Directory Application Pro

[2021-06-09 16:59] MashaMSFT commented on #40216
Hi @robert4os , since it's been sometime since we've heard from you and it seems the article has been updated with the requested information, I'm going to close out this Git Issue for the time being. However, please feel free to comment should you need anything further.

Thanks again for helping improve our documentation and I hope you have a wonderful rest of your day!
Masha from the SQL Docs tea

[2021-06-09 16:59] #40216 closed

[2021-06-09 17:06] tfitzmac commented on #74205
#please-close

[2021-06-09 17:06] #74205 closed

[2021-06-09 17:09] SaiKishor-MSFT commented on #76359
@azhar2005 Can you please look into this? Thank you!

[2021-06-09 17:10] keferna commented on #74706
#please-close

[2021-06-09 17:11] #74706 closed

[2021-06-09 17:16] Svijay-msft commented on #76640
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-09 17:16] tfitzmac commented on #76679
@ivanthelad - thanks for this feedback. I'll update the doc.

[2021-06-09 17:20] himanshusinha-msft commented on #76676
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-09 17:21] DonPetry-EY opened #76684 "Storage Blob Data Contributor is not required -- any read permission is acceptable"
This article indicates you must be "Storage Blob Data Contributor" which is not actually required.  You can leverage any permission level which grants read.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1149f92f-5b95-7b27-5525-db4f792d7937
* Version Independent ID: 60242818-539c-6e91-7dc8-222ccc

[2021-06-09 17:21] RyanHill-MSFT commented on #76682
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-09 17:28] mrbullwinkle commented on #73385
Per request from PM team, closing out this issue.

[2021-06-09 17:28] mrbullwinkle commented on #73385
#please-close

[2021-06-09 17:28] #73385 closed

[2021-06-09 17:29] mrbullwinkle commented on #74240
Closing out as per request from PM team as question has been addressed.

[2021-06-09 17:29] mrbullwinkle commented on #74240
#please-close

[2021-06-09 17:30] #74240 closed

[2021-06-09 17:41] tfitzmac commented on #76679
The update will be published later today.
#please-close

[2021-06-09 17:41] #76679 closed

[2021-06-09 17:51] tfitzmac commented on #76539
@kj2whe - if you are still having trouble deploying a local file, provide a relative path to your template from the current directory of your command.

For example, if in your command console you have navigated to the same folder as your template, use:
az deployment group create --resource-group test1 --template-file helloworld.json

If you are in a different folder, provide the path:
az deploymen

[2021-06-09 17:55] #76630 closed

[2021-06-09 17:55] JamesTran-MSFT commented on #76606
@GitRomney
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-09 17:55] #76606 closed

[2021-06-09 17:56] laujan commented on #75939
@luzhang06

[2021-06-09 18:03] JamesTran-MSFT commented on #76680
@desariyahmom
Since the documentation specifically references disabling the email verification during customer sign-up in Azure Active Directory B2C, have you tried referencing our Set up a sign-up and sign-in flow documentation? Or were you recommending us to create a new doc for the UX customization for a local accounts sign-up page?

Any additional information would be greatly appreciated.

If

[2021-06-09 18:05] ThomasWeiss commented on #76634
@sarajang The PowerShell commands you're trying are for the [Azure RBAC](https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control). The Azure RBAC and the Cosmos DB data plane RBAC are different and independent systems, which is why you don't see the new data plane built-in roles in Azure RBAC.

To see these built-in roles, just list the data plane role definitions available on y

[2021-06-09 18:05] #76634 closed

[2021-06-09 18:13] Hecmay commented on #73717
Hi @vikancha-MSFT, I contacted MS support team, and was told to submit a request form. Here is the reply I got after submission.

Just want to ensure. when will the NP series be public? Thanks

[2021-06-09 18:15] rolyon commented on #76540
Hi @gmantri
Thanks for your feedback. Currently, it's not possible to manage the new Cosmos DB data RBAC roles from the Azure portal. You'll need to perform this management using PowerShell, Azure CLI, or ARM templates. For more information, see:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#is-it-possible-to-manage-role-definitions-and-role-assignments-from-the-azure-portal
L

[2021-06-09 18:15] rolyon commented on #76540
#please-close

[2021-06-09 18:15] #76540 closed

[2021-06-09 18:21] MashaMSFT commented on #70062
#assign:DavidTrigano

[2021-06-09 18:22] MashaMSFT commented on #67702
#assign:DavidTrigano

[2021-06-09 18:22] MashaMSFT commented on #62071
#assign:DavidTrigano

[2021-06-09 18:22] #72508 closed

[2021-06-09 18:30] MashaMSFT commented on #72809
Hi @hrferdowsi , we processed a change to resolve this and it's live. I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and improving our docs! I hope you have a wonderful rest of your day :)
Masha from the SQL Docs team
#please-close

[2021-06-09 18:32] MashaMSFT commented on #75420
Hi @pranavgore , thanks so much for reaching out! We're processed a change to update the documentation and it's now live. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-09 18:33] tfitzmac commented on #76285
@dbodifee - thanks for the feedback. I am testing the scenario.

[2021-06-09 18:36] ianc911 opened #76686 "Is Item-Level Restore Actually Possible?"
In the 'Host versus guest backup' section, this article states that item-level restore can be performed against backed up VM's provided the Hyper-V role is installed on the MABS server. Is this actually possible? I've followed the guidelines given here and cannot see how. No explanation of the procedure is given here, although instruction for recovering an entire VM are given. Please check content

[2021-06-09 18:42] Oury-MSFT commented on #76662
@SarveshPandey Thanks for contacting Microsoft. We are looking into this and will get back shortly. Thanks

[2021-06-09 18:52] jjcv2304 opened #76687 "Misleading Button DisplayName"
I was reading the tutorial and in point _**5 Configure Azure AD as an identity provider**_ it says:

I find that putting a specific company name for the sign-in button is quite misleading, since the purpose of this button is to allow sign-in with any of the configured AAD tenants. Something like **_Work Account_** or **_General Sign In_** (or the default "Multi-Tenant AAD" displayname inside the X

[2021-06-09 19:08] tfitzmac commented on #76285
@dbodifee - I tested an app service plan and a web site, and they both needed to be in the original resource group to move across subscriptions. Was your scenario different? What resources were you moving?

[2021-06-09 19:21] Sogeti-Sam opened #76688 "Missing Scenario"
Hi,

I must say that this is an excellent article but I'm missing one scenario.

Scenario 5 (almost the same as scenario 1): Run THREE Standard_DS1_v2 sized VMs with a ratio of 1.
What will happen:
a. The reservation discount won't apply to any VM as it can't be fully utilized.
b. The reservation discount applies to the three VMs resulting in a waste.

Thanks,

---
#### Document Details

⚠ *Do not

[2021-06-09 19:29] SadiqhAhmed-MSFT commented on #76473
@DeanGross We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-06-09 19:29] #76473 closed

[2021-06-09 19:29] TheovanKraay commented on #74030
@Oury-MSFT can we close this issue? It has been fixed by this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/161390

[2021-06-09 19:29] SadiqhAhmed-MSFT commented on #76472
@DeanGross We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-06-09 19:29] #76472 closed

[2021-06-09 19:30] SadiqhAhmed-MSFT commented on #76437
@chrisweis We haven't heard back from you, so we will now close this issue.

[2021-06-09 19:30] #76437 closed

[2021-06-09 19:42] spelluru commented on #76515
@naymore - What's the class you are referring in the following statement? thanks!

"The class referenced is from an outdated assembly/nuget package and should probably be removed from the docs."

[2021-06-09 19:45] Oury-MSFT commented on #74030
@davidni
![image](https://user-images.githubusercontent.com/78940872/121419172-87d5bc00-c920-11eb-8e90-b92e79d01649.png)

[2021-06-09 19:45] #74030 closed

[2021-06-09 19:54] brandonh-msft opened #76689 "PartitionKey is not available on Event Metadata"
Docs state you can pull a `string PartitionKey` off `EventData` but that property does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions](https://docs.micr

[2021-06-09 19:59] GiftA-MSFT commented on #76670
@davidhamsft can you share the section and link you're referring to?

[2021-06-09 20:01] StefArroyo commented on #75998
#please-close

[2021-06-09 20:01] #75998 closed

[2021-06-09 20:04] davidhamsft commented on #76670
Quickstart: Label forms, train a model, and analyze forms using the sample labeling tool - Form Recognizer - Azure Applied AI Services | Microsoft Docs<https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/get-started-with-form-recognizer>

***@***.***D75D40.C0CCB410]

This link returns a 404 error

Dave Hanson
Cloud Solutions Architect
Data & AI
***@***.******@***.

[2021-06-09 20:09] jaltin commented on #29892
Why is this not yet updated to properly support .NET48?

Is it a matter of "no one picked up the ball so it hasn't yet been done" or "4.8 is not yet stable so use 4.7.2"?

[2021-06-09 20:13] GiftA-MSFT commented on #76670
Hmm.. it doesn't return the error for me. Can you try a different browser?

[2021-06-09 20:16] davidhamsft commented on #76670
I get the same from Edge and Chrome, I am connecting from the internal Microsoft network.

***@***.***D75D42.5FCB1B50]

Dave Hanson
Cloud Solutions Architect
Data & AI
***@***.******@***.***>
Working Hours: M-F, 8am - 5pm CST (UTC-6)
[Microsoft]                   [https://media.licdn.com/dms/image/C4E12AQHh9fBjpzFo1A/article-inline_image-shrink_1000_1488/0?e=1544054400&v=beta&t=9aTdgkyRAk8fpGcKS20

[2021-06-09 20:22] GiftA-MSFT commented on #76670
Are you getting the error with only above link? Can you try this [link](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/client-library?pivots=programming-language-rest-api) also?

[2021-06-09 20:24] davidhamsft commented on #76670
Links to the doc page works, it's the github link that the page calls out which doesn't work, I don't think the API page has the same link in it, try the one below.

https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/layout-page-001.jpg

Dave Hanson
Cloud Solutions Architect
Data & AI
***@***.******@***.***>
Working Hours: M-F, 8am - 5pm

[2021-06-09 20:24] KranthiPakala-MSFT commented on #76684
@DonPetry-EY
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-06-09 20:31] MashaMSFT commented on #58319
Hi @dpolivy , thanks for reaching out! ARM templates are goal state by design - which means they update the whole resource, not the single property. The following documentation describes the ARM template and its properties - proxyOverride is covered there: https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/managedinstances?tabs=json

I hope that helps! I'll close out this Git Issue for

[2021-06-09 20:31] #58319 closed

[2021-06-09 20:33] Hecmay commented on #73717
@vikancha-MSFT. I've already created a quota request through the portal (tracking ID:  2106060040000415). Later I was contacted by the technical support and was told to submit a request through this link: https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_AKE7Z6RWJCosD71-J4awtUOVI0VkgwVjhaTFFQMTVBTDFJVFpBMzJSSC4u.

In case that you need more information to increase the quota

[2021-06-09 20:38] andrejnov opened #76690 "duplicate content POWERAPPS_VIRAL"
the following content is displayed twice on the page:

[code]

most likely this is unwanted duplication and one table row should be deleted

regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product name

[2021-06-09 20:39] JamesTran-MSFT commented on #76669
@jasonfritts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-09 20:40] JamesTran-MSFT commented on #76690
@andrejnov
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-09 20:40] MashaMSFT commented on #60244
Hi @KitLemmonds , it's been some time since we've heard from you so we're going to assume your issue has been resolved and close it out. Please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of  your day!
Masha from the SQL Docs team
#please-close

[2021-06-09 20:40] #60244 closed

[2021-06-09 20:42] andrejnov commented on #76690
that was quick
👍

[2021-06-09 20:43] mimckitt commented on #29892
We are no longer updating the Cloud Services (classic) documentation. We suggest those who still need to use Cloud Services migrate their applications to the Azure Resource Manager based deployment model of Cloud Services (extended support)

https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/

[2021-06-09 20:47] femsulu commented on #76520
Hi @Reece-McDowell , typo has been fixed. You will see the change in the doc shortly. Thanks again for catching and reporting this.
Cheers.

[2021-06-09 20:47] #76520 closed

[2021-06-09 20:50] James-Hamil-MSFT commented on #76672
Hi @kanhomcake , have you encountered the issue and wish to fix it, or are you trying to avoid the issue? Can you not create a registry key like the document suggests? Please let me know.

Best,
James

[2021-06-09 20:56] JamesTran-MSFT commented on #76690
@andrejnov
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/121427510-a68c8080-c929-11eb-9c37-d7d5eeaf79d5.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your ti

[2021-06-09 20:56] #76690 closed

[2021-06-09 21:08] jaltin commented on #29892
Thanks for the update @mimckitt

[2021-06-09 21:08] samadara-msft opened #76691 "Add steps to test Scheduled Events service for Windows and Linux"
There are no clear steps on how customers can test Scheduled Events service in Windows and Linux. There is a mention of Curl command, but not all Windows OS has it, so we should provide alternatives alongside validation steps. Is it possible to add clear steps to avoid any confusion as we have seen cases pertaining to validation ?

For example, this is for Windows VM, so we should have something s

[2021-06-09 21:14] fernandoferrini opened #76692 "Set scope when creating an eligible assignment"
Dear,

Would like to know if it is possible to set a scope when creating an eligible assignment with PowerShell, and please update the documentation with the parameter needed. For instance, my goal is to create bulk eligible assignments, each one with a scope of an app registration. I can set a scope with the cmdlet New-AzureADMSRoleAssignment using the parameter -ResourceScope, but it only create

[2021-06-09 21:31] GiftA-MSFT commented on #76668
@rbenet-lifesize where did you get that information from? I confirmed Handwritten supports only English right now.

[2021-06-09 21:40] kj2whe commented on #76539
Ok, well I feel dumb.  I did get this work going the PowerShell route in the MS Learn article.  After re-reading these responses I opened VS Code in bash terminal and ran `az login` and got back `bash: az: command not found`.

This indicates I do not have Azure CLI installed locally?  So what did I do before?  I remembered that in VS Code I did `ctrl+shift+p` and chose `Azure: Sign In`.

...Long s

[2021-06-09 21:40] #76539 closed

[2021-06-09 22:05] anfeldma-ms commented on #74991
@kushagraThapar if a customer is using triggers, do we have any guidance on how to support that in Java?

[2021-06-09 22:12] anfeldma-ms commented on #75181
I am reaching out to @kushagraThapar about this. However one comment is, that we have recently released a new Spring Data v3 connector. I believe bugs of this sort were fixed in v3, but again I must confirm with Kushagra.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-spring-v3

[2021-06-09 22:14] ZollnerdMSFT commented on #51429
Chetan's response on 4/9/2020 was the correct answer here.

#please-close

[2021-06-09 22:14] #51429 closed

[2021-06-09 22:17] ZollnerdMSFT commented on #57542
This is expected behavior if you select the "Synchronize All Users and Groups" option. #please-close

[2021-06-09 22:18] #57542 closed

[2021-06-09 22:19] rp-msft opened #76693 "Forwarding specifications for custom DNS need refinement."
[This section lists a very broad forwarding configuration, it should also give options to narrow down to which exact zones  should be forwarded to Azure DNS.

"To use a custom DNS server, add the Azure DNS IP 168.63.129.16 as the upstream DNS server in the custom DNS server."
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-06-09 22:23] ZollnerdMSFT commented on #74005
It isn't supported to edit the list of attributes in the schema for Tableau's provisioning configuration. The only attributes available today are id, name, siteRole and authSetting. All of those attributes are single-valued strings.

#please-close

[2021-06-09 22:23] #74005 closed

[2021-06-09 22:23] cmmdesai commented on #54869
@hadyni As part of our GA release last year in August 2020, this issue was fixed and there is now an isPrimary flag for email, cellPhone and businessPhone. Sincere apologies for not posting an update on this feedback thread. If you face issues with SuccessFactors writeback, please open a support ticket from Azure portal -> Support -> Select topic "Cloud HR provisioning" and we will take a look.
#p

[2021-06-09 22:23] #54869 closed

[2021-06-09 22:26] ZollnerdMSFT commented on #74009
@callit - thank you for your feedback. We're working with ServiceNow on building a newer integration that will allow us to move away from the current integration and will no longer use basic auth. As things stand today, I believe your observations regarding permission requirements are correct. Please keep an eye out for announcements about a new ServiceNow integration, hopefully later this year. #

[2021-06-09 22:26] #74009 closed

[2021-06-09 22:31] ChaitanyaNaykodi-MSFT commented on #76689
Hello @brandonh-msft,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-09 22:36] GiftA-MSFT commented on #76670
okay, thanks @davidhamsft.

@laujan can you please update the link under Analyze Layout "Bullet 5"? Thanks.

[2021-06-09 22:39] RyanHill-MSFT commented on #76355
Appreciate the feedback @Josverl, which I believe applies to https://docs.microsoft.com/en-us/azure/communication-services/concepts/ui-library/ui-library-overview?source=docs. The quick start doesn't openly mention react, but yarn is a package manager just like `npm`. `npm` is used since that is a basic and common package manager that most new users will end up using.

[2021-06-09 22:39] #76355 closed

[2021-06-09 23:05] bandersmsft commented on #76585
https://github.com/MicrosoftDocs/azure-docs-pr/pull/161749

[2021-06-09 23:08] bandersmsft commented on #76585
@lunar87 Thanks for the feedback suggesting improvements. I'm making your suggested changes with https://github.com/MicrosoftDocs/azure-docs-pr/pull/161749. The article should get refreshed live tomorrow.

#please-close

[2021-06-09 23:08] #76585 closed

[2021-06-09 23:19] jonwbstr commented on #53997
This language is from WVD v1 and doesn't apply to WVD v2. See #75506 for info learned from my recent support ticket

[2021-06-09 23:21] jonwbstr commented on #75506
From TrackingID#2105170040005640

[2021-06-09 23:26] ZollnerdMSFT commented on #68679
The NetSuite provisioning integration has been deprecated and removed from our gallery as NetSuite implemented breaking changes that Microsoft engineering could not work around while meeting security requirements. There will not be any NetSuite provisioning support in Azure AD until NetSuite adds support for SCIM 2.0. #please-close

[2021-06-09 23:26] #68679 closed

[2021-06-09 23:40] MarkIannucci opened #76694 "Can you provide the Azure Powershell command to limit scale out in addition to the Azure CLI command?"
In the Limit Scale Out section, the document has the Azure CLI command.  Can you also provide the command in Azure Powershell as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c371f78c-6289-eba8-a8fb-426d12b20fce
* Version Independent ID: d6345fe9-98cc-9467-37a6-b9c48b3c5d36
* Content: [Event-driven scaling in Az

[2021-06-09 23:47] BharathNimmala-MSFT commented on #76686
@ianc911 Thank you for bringing this to our attention, we will review it and update the document as needed. Thanks

[2021-06-09 23:48] MashaMSFT commented on #76574
Hi @Siby22071989 , thanks for reaching out! To leverage the AHB during the SQL Database creation procession, on the Basics tab, choose **Configure database**:

![image](https://user-images.githubusercontent.com/32783170/121443344-30484800-c942-11eb-9360-67729bc7db75.png)

And then under **Save money**, select **Yes**, which allows you to confirm you qualify for the Azure Hybrid Benefit:
![image](h

[2021-06-09 23:48] #76574 closed

[2021-06-10 00:07] MasayukiOzawa opened #76695 "Additional information about az connectedk8s enable-features"
The following commands are not described in this document.
(This command is available at [Enable custom locations on cluster](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/custom-locations#enable-custom-locations-on-cluster))
[code]

If you do not run enable-feature, an error will occur when creating a custom location in an environment such as on-premises where you cannot access apis

[2021-06-10 00:08] iris-hpaterson opened #76696 "AD B2C Custom Polices: `TextBox`s do not have title lables."
The Azure AD B2C claims scheme, and the documentation webpage, implies that the `DisplayName` field will be used to generate a label for user input claims.

The labels generated by the `TextBox` user input type are not consistent with other user input types - for example `ReadOnly` and `DateTimeDropdown` are given an HTML `label` based on the display name. The `TextBox` is not, creating an inconsi

[2021-06-10 00:21] cawrites commented on #39487
@jvalente-salemstate  thank you for advising us that this is still a concern.  This is a closed issue. I would suggest creating a new issue regarding this and it will be assigned to the correct individual working in this space. I am no longer part of the AzureAD group. You can refer to this closed issue if you feel the information will be helpful in the resolution.

[2021-06-10 00:21] cawrites commented on #39487
@jvalente-salemstate  thank you for advising us that this is still a concern.  This is a closed issue. I would suggest creating a new issue regarding this as it will be assigned to the correct individual  working in this space. I am no longer part of the AzureAD group. You can refer to this closed issue

[2021-06-10 00:28] ZollnerdMSFT commented on #69656
Chetan answered. #please-close

[2021-06-10 00:28] #69656 closed

[2021-06-10 00:28] gary918 opened #76697 "List directory contents sample code doesn't work properly"
To me, **List directory contents** sample code always hang there due to this part:
`for path in paths:
            print(path.name + '\n')`
My python env is like this:
`azure-core                  1.15.0
azure-storage-blob          12.8.1
azure-storage-file-datalake 12.3.1`

Thanks & regards,
Gary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-06-10 01:06] mcleinweber opened #76699 "Microsoft Authenticator: Phone Sign-In Should Be Renamed"
I think the Microsoft Authenticator's Phone Sign-In option should be renamed.  The Authenticator can be installed on non-phone devices such as Android tablets and iPads.  Users can easily mistake "phone" for voice.

I propose calling it "Echo Sign-in" because essentially you are echoing what is present on the screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-06-10 01:07] mike-urnun-msft commented on #76519
@bitsofinfo Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2021-06-10 01:08] mike-urnun-msft commented on #76487
Since this channel is for driving improvements towards MS Docs and we didn't determine any changes to this doc upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-10 01:08] #76487 closed

[2021-06-10 01:13] haalkaz opened #76700 "Basics tab of Create load balancer is not updated"
Basics tab of Create load balancer is not updated especially the screenshots (currently has more options than in the current page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8734785-3341-d389-103e-e6356750bd17
* Version Independent ID: 32c01dcf-aa39-b78d-f9eb-3273be4329ca
* Content: [Azure Load Balancer portal set

[2021-06-10 01:23] yuhuyuyu commented on #76487
OK,thanks for your help.

[2021-06-10 01:41] BharathNimmala-MSFT commented on #76677
@wilbug1git1 Thank you for bringing this to our notice, we will review and update the document accordingly.

[2021-06-10 01:45] BharathNimmala-MSFT commented on #76673
@jordanmills Thank you for taking time to share your feedback, I have assigned the issue to our document author to @MGoedtel to further review the feedback and enhance the document accordingly.

[2021-06-10 01:51] JamesTran-MSFT commented on #76699
@mcleinweber
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-10 02:06] Karishma-Tiwari-MSFT commented on #76671
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-10 02:07] Karishma-Tiwari-MSFT commented on #76688
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-10 02:08] Karishma-Tiwari-MSFT commented on #76693
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-10 02:10] yutaro113 opened #76701 "Explanation of application setting "JAVA_COPY_ALL" wanted to be mentioend in the doc."
Hi, Team.
I know there's application settings "JAVA_COPY_ALL" which enable tomcat files (not only tomcat?) to be copied from shared space to local disk space and can prevent resource locking issue.
Could you please include that explanation into official doc if needed?

I discussed with Gregory Goldshteyn in Java Team so he know about this more..!

Thank you.

---
#### Document Details

⚠ *Do not e

[2021-06-10 02:23] pranavgore commented on #75420
Thank you so much for taking the changes I suggested into the consideration. Thanks.

[2021-06-10 02:27] mike-urnun-msft commented on #76694
Thank you for your feedback! We will review and update as appropriate.

[2021-06-10 02:29] mike-urnun-msft commented on #76649
Thank you for your feedback! We will review and update as appropriate.

[2021-06-10 02:32] mike-urnun-msft commented on #76659
@DanielHRio Thank you for your feedback! We will review and update as appropriate.

[2021-06-10 02:46] shashishailaj commented on #76692
@fernandoferrini Thank you for sharing this feedback . We will investigate and update the thread.

[2021-06-10 02:49] shashishailaj commented on #76696
@iris-hpaterson Thank you for your feedback . We will investigate and update the thread.

[2021-06-10 02:52] VikasPullagura-MSFT commented on #76691
@samadara-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-10 02:52] VikasPullagura-MSFT commented on #76691
@EricRadzikowskiMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-06-10 02:53] shashishailaj commented on #76697
@gary918 Thank you for sharing the feedback . We will investigate and update the thread.

[2021-06-10 02:55] abatishchev opened #76702 "No documentation to troubleshoot LoadBalancerWithoutFrontendIPCantHaveChildResources"
The page lists many but not all possible error codes, e.g. misses this one: `LoadBalancerWithoutFrontendIPCantHaveChildResources`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a77b5514-938c-6cc0-f6c1-64e5b06f93ca
* Version Independent ID: a8b798b6-c352-7e27-e7b2-85ef2a2f5593
* Content: [Troubleshoot common deployment

[2021-06-10 02:56] shashishailaj commented on #76700
@haalkaz Thank you for your feedback . We will engage the content team to look into updating new screenshots for Basic SKU .

Thank you.

[2021-06-10 02:57] abatishchev opened #76703 "No documentation to troubleshoot RulesOfSameLoadBalancerTypeUseSameBackendPortProtocolAndVmssIPConfig​"
The page lists many but not all possible error codes, e.g. misses this one: `RulesOfSameLoadBalancerTypeUseSameBackendPortProtocolAndVmssIPConfig`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a77b5514-938c-6cc0-f6c1-64e5b06f93ca
* Version Independent ID: a8b798b6-c352-7e27-e7b2-85ef2a2f5593
* Content: [Troubleshoot

[2021-06-10 03:03] shashishailaj commented on #76703
@abatishchev Thank you for your feedback on this . We will engage the content team to review this ask and include the error provided in the article after review.

[2021-06-10 03:04] shashishailaj commented on #76702
@abatishchev Thank you for your feedback on this . We will engage the content team to review this ask and include the error provided in the article after review.

[2021-06-10 03:06] shashishailaj commented on #76667
@ChrisSommers Thank you for your query , We will have this checked internally and update the thread.

[2021-06-10 03:25] LucianFrango opened #76706 "Azure security baseline for Linux Virtual Machines > lots of referenced to Windows related policies"
Re article: https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/virtual-machines-linux-security-baseline

This article references Windows Policies and related recommendations. Reviewing this as a baseline for some feedback to relay a customer, if I were to forward this to them, I would like to see Linux specific and Linux only related recommendations.

Furthermore, if there are no

[2021-06-10 03:39] elChapoSing opened #76707 "Explanation on SCSI PR commands"
An explainer on how to actually use the SCSI PR commands would be nice.
I have created a shared disk for 2 VMs but when I write to it from 1 machine, the other one does not see the writes for some reason...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4adcc7c9-6709-7f9e-4ec8-63dec6d78293
* Version Independent ID: 151f

[2021-06-10 03:49] psmanhas commented on #76706
@LucianFrango Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-10 03:49] psmanhas commented on #76706
@msmbaldwin Can you please check and add your comments on this doc update request as applicable

[2021-06-10 03:50] psmanhas commented on #76707
@elChapoSing Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-10 03:51] psmanhas commented on #76707
@roygara Can you please check and add your comments on this doc update request as applicable

[2021-06-10 03:55] AnuragSharma-MSFT commented on #76397
@chund We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-10 03:55] #76397 closed

[2021-06-10 04:18] Siby22071989 opened #76708 "PS script not working"
[Enter feedback here]
I am trying to use below cmdlet:
#Create a monthly budget that sends an email and triggers an Action Group to send a second email. Make sure the StartDate for your monthly budget is set to the first day of the current month. Note that Action Groups can also be used to trigger automation such as Azure Functions or Webhooks.

New-AzConsumptionBudget -Amount 100 -Name TestPSBudg

[2021-06-10 04:43] SnehaAgrawal-MSFT commented on #76701
@yutaro113 Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-10 04:45] SnehaAgrawal-MSFT commented on #76695
@MasayukiOzawa Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-10 04:49] AshokPeddakotla-MSFT commented on #76645
@vnbaaij PR has been created to fix this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-10 04:49] #76645 closed

[2021-06-10 05:13] vovikdrg opened #76709 "Please add redis support with subgroup name"
Since private link now supports redis please add to the table

Azure Redis | redisCache

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.com/en-us/azur

[2021-06-10 05:21] sarahyoon opened #76710 "[Update Request] Need to update the screenshot from Switch billing profile to check/wire transfer #5."
Hi Team,

Under the **"Switch billing profile to check/wire transfer"** section,
[https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/pay-by-invoice#switch-billing-profile-to-checkwire-transfer] the screenshot of **"5. Select the banner that says you're eligible to pay by check/wire transfer."** is now currently display as below screenshot.

![image](https://user-images.githubuse

[2021-06-10 05:21] ShaikMaheer-MSFT commented on #76676
@jianleishen Could you please validate feedback and update document as appropriate

[2021-06-10 05:54] pstutzinger commented on #76639
No, only when i’m searching directly in the azure ad gallery from the enterprise application aad pane:
***@***.***D75DCD.9B92FFA0]

***@***.***D75DCD.C0E83040]

Mit freundlichen Grüßen

Peter Stutzinger
Consultant Competence Center Modern Workplace and Collaboration
Bechtle IT-Systemhaus GmbH
Parkstraße 2-8, DE-47829 Krefeld

Phone: +49 2151 455 931
Mobile: +49 15118817011
Fax: +49 2151 455 810

E

[2021-06-10 06:43] skanoka opened #76711 "Error deploying sample for AVA"
I tried to deploy the sample in the following docs, but I got error message and couldn't deploy it.
https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/detect-motion-record-video-clips-cloud

Repro steps:
1. click "Deploy to Azure"
![image](https://user-images.githubusercontent.com/71058391/121475982-11f55180-ca01-11eb-91e1-2ba2fa360899.png)
2. input information
![image

[2021-06-10 07:08] SadiqhAhmed-MSFT commented on #76710
@sarahyoon Thanks for bringing this to our attention. We will review this doc with the content owner and update as appropriate.

@bandersmsft FYI

[2021-06-10 07:12] SadiqhAhmed-MSFT commented on #76708
@Siby22071989 Thank you for your post. We will look into it and get back to you shortly.

[2021-06-10 07:22] sgolota opened #76713 "Identity protection. Zoom service account FP detection"
Hello!
We have a lot of FP Risky sign-ins and Risky users detections related to Zoom service account. It performs sign-ins from different IP/locations. Is it possible to add/verify additional parameters such as user agent or something else to reduce the FP rate?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-06-10 07:35] GeoJim1218 commented on #76538
@shashishailaj Thanks for your reply. You can take your time. I will treat it as one single error code.
I have another question actually. Does one error code only belong to one error?
For example, does "70011" only belong to "invalid_scope"?

Thank you

[2021-06-10 07:50] ChrisSommers commented on #76667
Thanks. We are in the process of moving data from on-premises into a fileserver cluster in Azure and we have been adding 256GB shared disks as we go. It looks like any future shared disks we add will need to be 512GB minimum....

[2021-06-10 07:50] PhilipAnthonyMurray commented on #75608
@SaiKishor-MSFT

That does appear to be the case however the UI does not make it clear. I have attached a screenshot where I added a redirection then greedy path rule and it seems to work. The UI shows them in the other order.

If it's not clear from the Azure Portal UI how are we to determine the appropriate order. This is especially true as making a change to a rule reorders the list.

![rules](

[2021-06-10 08:01] ttnkumarabhishek opened #76716 "Documentation showing wrong links."
- [x] https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/tutorial-device-twins.md
The above mentioned documentation contains the links which are not available and it is giving 404.
Please have a look at it .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014fa2f5-e835-6ee6-896a-2e5eb5b201db
* Vers

[2021-06-10 08:03] minhe-msft commented on #76209
Fix is under review.

[2021-06-10 08:20] kanhomcake commented on #76672
hi @JamesTran-MSFT,

Thank you so much for your reply, yes, I have the issue and wish to fix it. I can create a registry key on my laptop and it solves the issue. So, I want to deploy this workaround company-wide for my company, I talk to a colleague who is responsible for such matter. He doesn't recommend it due to some security concern (which I don't have enough knowledge to argue with him, my f

[2021-06-10 08:42] chirangaalwis commented on #76554
@palma21 @psmanhas any update on this?

[2021-06-10 08:44] eerik47 opened #76717 "Oracle Lineage"
Hi,
as I know from Sandeep Shah, Azure Purview should support lineage for Oracle's Stored Procedures now. Can you please document it?
Thank you,
Erik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8c9bc27-7e6f-e2a7-01af-f00171b5d63a
* Version Independent ID: 155f732b-ea15-af80-c033-e8e4f53b645d
* Content: [Data Catalo

[2021-06-10 08:52] taraldr commented on #69246
We're depending on these logs, any progress here?

[2021-06-10 09:16] sidprasher commented on #76511
Thanks for the quick clarification

[2021-06-10 09:16] #76511 closed

[2021-06-10 09:24] jovanpop-msft commented on #46081
#assign:daminir

[2021-06-10 09:24] PRMerger10 commented on #46081
daminir is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-10 09:24] jovanpop-msft commented on #46081
#assign:danimir

[2021-06-10 09:25] jovanpop-msft commented on #74060
#assign:danimir

[2021-06-10 09:50] fearofweapons opened #76719 "Why is the switch vmware on a physical system?"
Point 2 of https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-physical-virtual-machines#install-on-windows shows the install with a switch of VMWare.

This page is about migrating physical systems. What is the platform switch for physical systems?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d7cc0-ecf

[2021-06-10 09:56] realrubberduckdev commented on #76494
@SnehaAgrawal-MSFT Hi, you are absolutely correct. Turns out I did not test it properly and I admit adding the service tag is needed when we have IP restrictions on a webapp/function app. Thank you for your help.

[2021-06-10 09:56] #76494 closed

[2021-06-10 10:08] SadiqhAhmed-MSFT commented on #75574
@pvrk Any update on the doc update?

[2021-06-10 10:10] ladykraken commented on #75774
This is absolutely aggravating  [Image.jpeg] [Image.jpeg] [Image.jpeg]

________________________________
From: SadiqhAhmed-MSFT ***@***.***>
Sent: Thursday, June 10, 2021 6:08:18 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] az backup restore restore-azurefileshare resource group (#75774)

@pmaslej<https://github.com/pmaslej> Have

[2021-06-10 10:15] ladykraken commented on #75574
Can someone please explain why my screen is flickering?

[2021-06-10 10:19] ishmeet177 opened #76720 "Can I use the same port for both public-facing and private-facing listeners?"
Need update on this:

Can I use the same port for both public-facing and private-facing listeners?
No.

As per my observation, if there is a basic listener already configured for App Gateway public frontend, it is not possible to create a multi-site listener for same port but private frontend. Same is applicable vice versa.
I think we should update above FAQ answer with above information to avoid

[2021-06-10 10:24] v-amallick commented on #75574
Hi @ladykraken

Could you please let us know more about the issue?

[2021-06-10 10:24] SadiqhAhmed-MSFT commented on #76719
@fearofweapons Thank you for your post. We will look into it and get back to you shortly.

[2021-06-10 10:33] ladykraken commented on #76719
@Abhishek Mallick

Bought my pc in January. Had to put more money on it than anything I can't even use it. Everytime I try to do a backup... It's my computer sending files to my cell [Image.jpeg]

Now there's a glitch In my screen preventing me from accessing anything and everything. I'm not a computer programmer. This is my first pc and do far a big waste of time and a whole "lot of money"
______

[2021-06-10 10:35] JerrelAjoeb commented on #76274
Hi Vikas,

I have the feedback now available.
So if you re-open the ticket, I will supply immediately.

Kind regards,
Jerrel Ajoeb

[2021-06-10 10:38] JerrelAjoeb commented on #76274
@VikasPullagura-MSFT,

Hi Vikas,

I have the feedback now available.
So if you re-open the ticket, I will supply immediately.

Kind regards,
Jerrel Ajoeb

[2021-06-10 10:45] SarveshPandey commented on #76662
@Oury-MSFT  any updates on the request?

[2021-06-10 10:51] dogenstein opened #76722 "Create a resource group if it doesn't exist (or not?)"
Hi, I'm going through the Django+PostgreSQL tutorial.

Setting up the database, we use `az postgres up --resource-group DjangoPostgres-tutorial-rg [...]`

A bit further down, it says that the resource group will be created if it doesn't exist.
![img](https://user-images.githubusercontent.com/30437511/121512971-aaa1c680-ca2d-11eb-814a-86a7e4b4a99c.png)

When I run it, I get an error saying that *(R

[2021-06-10 10:56] johnhydemtm365 commented on #50330
Please reopen not fixed. Just ran through all of this on the new blade and same issue as above. Once I register the application on the legacy blade all is good.

[2021-06-10 11:03] wukun2015 commented on #76561
Thank you @RohitMungi-MSFT

[2021-06-10 11:03] #76561 closed

[2021-06-10 11:12] x86 commented on #50330
@SaurabhSharma-MSFT @yoelhor See comments above, reopen.

[2021-06-10 11:14] ShaikMaheer-MSFT commented on #76717
@eerik47 Thank you for feedback. We are  actively validating it. We will get back to you soon

[2021-06-10 11:17] pankhurijain20 commented on #16920
So, where to store the data for permanent storage without requiring any data disk?

[2021-06-10 11:22] Arash-Sabet opened #76723 "Please do clarify the term "Accounts in any identity provider or organizational directory (for authenticating users with user flows)""
There are three supported account types available when registering an application. The first one is Single Tenant, the 2nd one is Multitenant and the 3rd one is for authenticating users with user flows. Choosing the first option (have not tried the 2nd one) causes [the issue described in this Stackoverflow post](https://stackoverflow.com/questions/67903926/unable-to-have-azure-ad-b2c-issue-a-token

[2021-06-10 11:32] arambazamba opened #76725 "Update Sample - show keyvault integration and use of lables"
Update "Connect to the App Configuration store" - Step 5

builder.AddAzureAppConfiguration(options =>
                {
                    options.Connect(cs)
                            // Uncomment if you want to use a specific label
                            // .Select(KeyFilter.Any, "Production")
                            .ConfigureKeyVault(kv =>
                            {

[2021-06-10 11:35] droushd opened #76726 "newbies -- adding source to dotnet"
adding azure.storage.blobs fails unless nuget source is defined

dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Quickstart: Azure Blob

[2021-06-10 11:36] RicardoNiepel opened #76727 "Availability of auto-healing for linux web apps"
Please correct docs to make clear, what (“Auto-healing”, “Proactive auto-healing”) is available where (Windows Web Apps, Linux Web apps, also Linux Custom Containers?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8426b2-dbe5-9a46-4045-55cc26806641
* Version Independent ID: 99eef6e6-7978-1008-4d6f-a5ae566a6305
* Co

[2021-06-10 11:41] SadiqhAhmed-MSFT commented on #76719
@fearofweapons The mobility agent is the same for VMware machines as well as physical machines. So the parameter takes the same value for both VMware virtual machines and bare-metal physical servers.

Hope this answers your question!

[2021-06-10 11:44] braveamita opened #76728 "Missing Identity related data (connected to Key vaults) in azure-mgmt-containerregistry-1.38.1.jar"
Not seeing any information about identity-related information of Container Registry. how to fetch this information from container Registry SDK (azure-mgmt-containerregistry-1.38.1.jar ) or Am I missing anything?

[2021-06-10 11:47] fearofweapons commented on #76719
I suggest to document is updated to reflect this then.
Maybe you could just reproduce the content at the URL below?

 https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#installation-settings

[2021-06-10 11:50] SadiqhAhmed-MSFT commented on #76719
@fearofweapons Thanks for the feedback. We will work with content owner and update the doc as appropriate.

[2021-06-10 11:50] #76719 closed

[2021-06-10 11:54] Nikill commented on #74951
Hi SR# 2105100050000509

[2021-06-10 12:18] SiobhanBaynes opened #76731 "node_type_id field in the NewCluster Section States "This field is required""
In the `NewCluster` section the documentation states *This field is required*.  This is not the case when an `instance_pool_id` is provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94757e87-8be2-3279-4a7e-51fbbaf7d678
* Version Independent ID: 9cfad152-bba2-390c-edce-63d3aba3f4fa
* Content: [Jobs API - Azure Dat

[2021-06-10 12:18] TimoNordstrom-Nordcloud opened #76732 "Policy type change not possible"
[Enter feedback here]
It seems that backup policy change is not possible, e.g. Azure Virtual Machine --> SQL Server in Azure VM. This is important information and should be highlighted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b71eb75-6ec4-2647-c3bd-2d7822704346
* Version Independent ID: 0e174420-da45-5d9a-4a8e-

[2021-06-10 12:20] claudiucristeagab commented on #49245
I ran into the same problem on my B1 app, and switching to B2 and back to B1 has fixed the problem.

[2021-06-10 12:26] jason934 opened #76733 "Missing information for subscription transfers across enrollments."
[Enter feedback here]
Hello, this documentation is missing important information regarding the transfer of a subscription across two enrollments. The described procedure will not work, the transfer needs to occur using a support ticket. Please mention this in the article as it can lead to confusing situations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-06-10 12:41] chathumdavton opened #76734 "dynamic permission consent AzureAD admin consent v2 endpoint"
As mentioned in the document https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-admin-consent can we use this endpoint to dynamically obtain ApplicationPermissions  ?

If I use .default (after adding the applicationPermission in the app registration) then Application Permission is granted as expected. but If I specify permission using the the "scope" parameter then only delegated p

[2021-06-10 12:41] wagnerbsouza opened #76735 "Release annotations for Application Insights - PowerShell script fails parsing"
Hello!

I'm trying to implement the "Release annotations for Application Insights" (task version is `2.*`), but unfortunately the *Inline Script* is failing some parsing during execution. I've set the *Script Type* to `PowerShell` as indicated in the documentation, copied the contents of `CreateReleaseAnnotation.ps1`. The logs point to the following:
[code]

---
#### Document Details

⚠ *Do not ed

[2021-06-10 12:45] AnuragSharma-MSFT commented on #76569
@slavizh I could not locate much information on this. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-10 12:47] shashishailaj commented on #76709
@vovikdrg Thank you for your feedback . We will investigate and update the thread.

[2021-06-10 12:52] SadiqhAhmed-MSFT commented on #76733
@jason934 Thanks for the feedback. We will review this requirement with the content owner and update the document as appropriate.

@bandersmsft FYI

[2021-06-10 12:53] shashishailaj commented on #76713
@sgolota Thank you for your feedback . We will investigate and update the thread.

[2021-06-10 12:55] shashishailaj commented on #76723
@Arash-Sabet Thank you for your feedback . We will investigate and update the thread.

[2021-06-10 12:55] SadiqhAhmed-MSFT commented on #76732
@TimoNordstrom-Nordcloud Thank you for your post. We will look into it and get back to you shortly.

[2021-06-10 12:56] shashishailaj commented on #76726
@droushd Thank you for providing this feedback . we will investigate and update the thread.

[2021-06-10 12:58] shashishailaj commented on #76734
@chathumdavton Thank you for your feedback . we will investigate and update the thread.

[2021-06-10 13:03] shashishailaj commented on #76720
@ishmeet177 Thank you for your query . We will investigate and update the thread.

[2021-06-10 13:05] wagnerbsouza commented on #76735
I have removed some extra lines and white spaces from the script and it now works!
It looks like that now:
[code]

[2021-06-10 13:10] sesmyrnov opened #76736 "Cosmos DB Gremlin documentation page incorrectly stating that both Vertex and Edge can have a property bag supporting multiple values"
Cosmos DB Gremlin  documentation page incorrectly stating that both Vertex and Edge can have a property bag supporting multiple values (but only Vertex support this and creating list of properties for Edge does produce error ).
This page
https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support

and this section need to be updated/ corrected :

properties | Bag of user-defined properties as

[2021-06-10 13:28] alexmiloev opened #76737 "The "Security hardening for AKS agent node host OS" shows a wrong version of the host OS (Ubuntu 16.04.LTS)"
The "Security hardening for AKS agent node host OS" says the host OS is 16.04.LTS, which is out of support, while a quick kubectl describe nodes shows OS image as 18.04.5 LTS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d622f9d9-1e69-39ab-d32d-566e8a5b3f1a
* Version Independent ID: 007268cc-d231-7376-27c8-e968507247c

[2021-06-10 13:40] psmanhas commented on #76737
@alexmiloev Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-06-10 13:40] psmanhas commented on #76737
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-06-10 13:41] yanivlavi commented on #76657
It is specific metrics for log, not AKS metrics.
We do not recommend going in this path. Using alerts on the log directly has advantages on terms of reliability.

[2021-06-10 13:45] wandent opened #76738 "Update information regarding source, format and supportability of dataset and inline."
Looking into ADF interface, in fact using inline datasets with json in Azure Data Lake store is actually supported. And at the end of the day resolve some issues regarding parsing json files (even one produced by other copy activitiy)

![image](https://user-images.githubusercontent.com/30326748/121535677-c0d16780-c9d8-11eb-9e27-eed172ad934e.png)
![image](https://user-images.githubusercontent.com/3

[2021-06-10 13:51] jbogard opened #76739 "Figure 4 and Figure 5 are identical"
In the section for Option 3, both Figure 4 and Figure 5 are identical, but the descriptions of each indicate that Figure 5 should be different than figure 4:

Based on the description, it seems like the figures should be different (I do not understand the technology enough to know HOW they should be different).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-06-10 13:55] elfcounsel opened #76740 "Dual Protocol Volumes Do Not Support Extended Groups"
"If you have large topologies, and you use the Unix security style with a dual-protocol volume or LDAP with extended groups, Azure NetApp Files might not be able to access all servers in your topologies. If this situation occurs, contact your account team for assistance."

I think this should be modified to note that extended groups are not supported with dual protocol NFS3 volumes. If you use NFS

[2021-06-10 13:56] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein Thanks for the question. We're investigating this and will get back to you shortly.

[2021-06-10 13:57] AshokPeddakotla-MSFT commented on #76716
@ttnkumarabhishek Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-10 13:58] SadiqhAhmed-MSFT commented on #76732
@TimoNordstrom-Nordcloud If you meant changing the policy type of an existing policy, then it is not possible.
e.g. we can’t change a VM backup policy to protect SQL servers or vice versa.
Basically policy type can’t be changed, but it’s settings like schedule, retention can be changed.

[2021-06-10 14:00] ciufudean opened #76741 "Contradicting calculations for discounts"
Scenario 1 says "The discount that a reservation covers is computed as: throughput consumption * reservation_discount_ratio_for_that_region"

Scenarios 2 instead associates this formula not with the discount but with a "billable usage":
billable usage (or normalized usage). This value is computed as: throughput consumption * reservation_discount_ratio_for_that_region

and the discount formula beco

[2021-06-10 14:26] Siby22071989 commented on #76708
Thank you, Sadiqh - This should help you further and also side note: This is an MCA offer type ( 17G )

![ERRORCAPTURE](https://user-images.githubusercontent.com/46931850/121542555-dc169400-ca25-11eb-83f8-cc950bd588e4.PNG)

[2021-06-10 14:33] Grace-MacJones-MSFT commented on #76727
Thanks for your feedback! We will review and update this doc accordingly.

[2021-06-10 14:34] NonlinearMusings opened #76743 "Missing JRE/JVM configuration information"
We really need to add guidance for:
1.  Adding and configuring JRE/JVM on the SHIR to support Parquet/Copy Activities.
    1.A. _JAVA_OPTIONS settings
    1.B. _JAVA_PATH settings

2. Recommended 2GB RAM per Copy Activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Inde

[2021-06-10 14:35] #76668 closed

[2021-06-10 14:38] chi3f100 opened #76744 "Add Atlassian authentication policy documentation"
Hi Team,

Recently, Atlassian has released an authentication policies feature:  https://support.atlassian.com/security-and-access-policies/docs/understand-authentication-policies - admins are required to perform an extra step in order to enable "enforced SSO" for their managed users.  SAML redirection won't work otherwise.

It's recommended that admins create a test policy with a subset of users f

[2021-06-10 14:52] knssub opened #76745 "downloadable visio or pptx files of the images"
[Enter feedback here]
hi,
Many thanks for updating this page with the end to end security map. This is super useful. Kindly help to provide the visio or pptx (or both) file, which will help us to build this into our existing security models. Hopefully this will be updated regularly as there are new acquisitions and features in each of your products/solutions.

---
#### Document Details

⚠ *Do not

[2021-06-10 15:01] screamingworld opened #76746 "Azure Communication Services (Calling SDK) - How many video streams are supported?"
I am very confused about the calling sdk specs. They are clear about the fact that only one video stream can be rendered at one time see [here](https://docs.microsoft.com/de-de/azure/communication-services/concepts/voice-video-calling/calling-sdk-features)... BUT when I try out the following [sample ](https://github.com/Azure-Samples/communication-services-web-calling-tutorial) I get video streams

[2021-06-10 15:02] fgheysels commented on #76657
I'm not using AKS :)  We have a k3s deployed on a vessel (actually, we will have 70 vessels like that) and have ContainerInsights deployed there.   We're collecting prometheus metrics from RabbitMQ and sending those metrics to Log Analytcis via Azure Arc.

We want to be notified when something goes wrong on a ship (for instance, messages ending up in error queues).

In short, I've been able to cre

[2021-06-10 15:04] Nick-Lucas commented on #75998
@AnuragSharma-MSFT @StefArroyo could we get some detail on why this was closed?

It looks like the docs are still wrong and using linux-only commands for Mac

[2021-06-10 15:13] cadullms opened #76747 "Simplification, no jq dependency and wrong audience in token"
The examples for getting and setting the access token could be simplified a bit and freed from the jq dependency like this (on Windows, but with PowerShell Core as well on Linux):

[code]
This will use the [built-in JMESPath query engine](https://docs.microsoft.com/en-us/cli/azure/query-azure-cli) of the Azure CLI instead of jq and then directly set the token as the *DATABRICKS_AAD_TOKEN* environm

[2021-06-10 15:20] tfitzmac commented on #76539
@kj2whe - glad to hear you got it working!

[2021-06-10 15:23] MayankBargali-MSFT commented on #76739
@jbogard Thank you for your feedback! We will review and update as appropriate.

[2021-06-10 15:24] JamesTran-MSFT commented on #76744
@chi3f100
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-10 15:25] JamesTran-MSFT commented on #76745
@knssub
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-10 15:28] MashaMSFT commented on #75420
@pranavgore we're always happy to hear from customers and find ways to improve our docs! thanks for caring :)

[2021-06-10 15:31] dgritsko commented on #76735
@wagnerbsouza I'm running into the same problem here, thanks for sharing your updated script. Where did you get the value for the `$aiResourceId` parameter?

[2021-06-10 15:33] MayankBargali-MSFT commented on #76286
@cosminstirbu It is recommended always on for dedicated plans. That said, always on and warm-up serve two separate purposes. Always on is to make sure existing instances don’t idle out if not used for 20 minutes.
Warm-up is to make sure, during and only during a scale-out operation, that everything is loaded(caches, outbound connections sessions, etc.) in the new instance(s) prior to them being ad

[2021-06-10 15:35] RolandASc commented on #75248
it looks like this was addressed in the recent May release(s), along with the option to use a PAT

we have user (email) information for the author and committer of changes now, regardless of whether we use the PAT or the AAD method

so I guess this can be closed

[2021-06-10 15:36] JFolberth commented on #54237
I have the same issue and am not using Az.Storage in my Runbook

[2021-06-10 15:36] mike-urnun-msft commented on #76728
Hi @braveamita - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-10 15:39] markjbrown commented on #76531
Thanks for reporting. Have removed this in PR [#161845](https://github.com/MicrosoftDocs/azure-docs-pr/pull/161845). This will be live within a few hours.

Thanks.

#please-close

[2021-06-10 15:39] #76531 closed

[2021-06-10 15:40] andyjenkins1 opened #76748 "Update page to reflect AVS is only available to EA/CSP customers."
[Enter feedback here]

All under the pre-reqs section it states ....

**An Azure account with an active subscription. Create an account for free.**

However my understanding is that AVS is only available for EA/CSP customers as per https://docs.microsoft.com/en-gb/azure/azure-vmware/request-host-quota-azure-vmware-solution?WT.mc_id=Portal-VMCP so this line might be misleading and perhaps should be

[2021-06-10 15:42] karlochacon opened #76749 "what happen if a host fails in a group of 2?"
hey guys

this is not clear, let's say I have a Azure dedicated group of 2 nodes.
I have an big SQL Machine. Just one. But I bought 2 nodes in this host group for HA.
I know if my VMs fails I am dead
but what happens if the physical node fails? will the faulty node power on my VM in the other node? Or do I get an alert to remove the SQL VM from the faulty node to the healthy node?

Like I said I k

[2021-06-10 15:51] spelluru commented on #76515
@naymore - sorry for the inconvenience. I confirmed with the dev and updated the article.

Regarding the usage of outdated assembly/nuget, please provide details and I will take it as an action item.

#please-close

[2021-06-10 15:51] #76515 closed

[2021-06-10 15:59] JamesTran-MSFT commented on #76611
@Sudhirga
Thank you for the quick follow up on this!

Since you're looking for more specific security baselines for the different Azure services (i.e. Network security, Identity Management, etc.) within the Azure Security Benchmark (V2) domains. Did the [Overview of the Azure Security Benchmark (V2)](https://docs.microsoft.com/en-us/security/benchmark/azure/overview) documentation not have the inf

[2021-06-10 16:00] wesmc7777 commented on #76421
@SatishBoddu-MSFT Thank you. Yes, I'll run through this and see if this needs updating.

[2021-06-10 16:01] rboucher commented on #73422
Related to https://github.com/MicrosoftDocs/azure-docs/issues/47226.
#label:"CreateAzMonWIFeb2021"

[2021-06-10 16:03] rboucher commented on #46131
Related to https://github.com/MicrosoftDocs/azure-docs/issues/47226.

[2021-06-10 16:04] ssivas commented on #76633
@gozmanyoni, This looks to be a scope issue on our side and our engineering team working to fix this issue. I will keep you updated once it has been fixed. Thanks for your patience.

[2021-06-10 16:09] rboucher commented on #76258
Looks like the DTU are back from what I can see.
#please-close

dtu_consumption_percent | Yes | DTU percentage | Percent | Average | DTU Percentage. Applies to DTU-based databases. | No Dimensions
dtu_limit | Yes | DTU Limit | Count | Average | DTU Limit. Applies to DTU-based databases. | No Dimensions
dtu_used | Yes | DTU used | Count | Average | DTU used. Applies to DTU-based databases. | No Dim

[2021-06-10 16:09] #76258 closed

[2021-06-10 16:10] rboucher commented on #42707
#reassign:bwren given this is agent related.

[2021-06-10 16:13] bitsofinfo commented on #76519
https://docs.microsoft.com/en-us/azure/batch/batch-cli-templates

[2021-06-10 16:14] JamesTran-MSFT commented on #76501
@yayoayala
I just wanted to check in and see if you were able to resolve this issue, or if you're still having problems not seeing your app in the collection?

[2021-06-10 16:14] rboucher commented on #35574
#label:"CreateAzMonWIFeb2021"

[2021-06-10 16:14] JamesTran-MSFT commented on #76680
@desariyahmom
I just wanted to check in and see if you had any other questions or if you were able to review my previous comment?

[2021-06-10 16:17] SamaraSoucy-MSFT commented on #76725
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-06-10 16:34] siddharthnobellIdtn opened #76751 "Is there a direct way to read to pandas dataframe as read_csv for blob"
Is there a direct way to read to pandas data frame as read_csv for blob?
In AWS S3 this can directly be done using correct, to _csv and read_csv runs perfectly file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Version Independent ID: 7be6f792-09f8-c22f-86b6-d0f690e9b3a4
* Conte

[2021-06-10 16:35] bandersmsft commented on #76733
@jason934 Hi there. Were you looking for https://docs.microsoft.com/azure/cost-management-billing/manage/ea-transfers for EA transfers?

[2021-06-10 16:39] JamesTran-MSFT commented on #76683
@EgorEmeliyanov
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

**Azure Portal Operators:** [Create a scoping filter](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/define-conditional-rules-for-provisioning-user-accounts#create-a-scoping-filter)
![image](https://user-images.githubusercontent.com/3661

[2021-06-10 16:42] crisansou opened #76752 "How to create a global init script to install an .whl ​​library on all clusters?"
Hello,

I created a globat init script to install the package on all clusters at startup. The script runs successfully and I can import the functions from the package, but the library installed doesn't appear in the **Libraries** tab of the cluster. Am I doing something wrong?

- Script

![image](https://user-images.githubusercontent.com/29444086/121562335-ba021f00-c9ef-11eb-8622-ec64e0720a36.png)

[2021-06-10 16:46] cynthn commented on #71556
#please-close

[2021-06-10 16:46] #71556 closed

[2021-06-10 16:47] DerekHerman-MSFT commented on #76740
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-10 16:48] elvirk opened #76754 "GitLab source control integration?"
[
Hi, Is there a way to use GitLab for SCI with Azure Automation?

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Use source control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/a

[2021-06-10 16:48] YutongTie-MSFT commented on #76751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-10 16:50] b-juche commented on #76740
@elfcounsel - Thanks, Win.  We are reaching out to the technical team re. your question/comment.

[2021-06-10 16:51] cynthn commented on #71813
@wmgries Will, can you help with mounting an Azure file share during VM provisioning using Terraform?

[2021-06-10 16:53] StefArroyo commented on #75998
Hi Nick! I have a PR out w/ these and a few more changes. You should see the changes in a few days!

[2021-06-10 17:00] SaurabhSharma-MSFT commented on #50330
@yoelhor It looks like this issue is not fixed so reopening this issue.

[2021-06-10 17:11] laujan commented on #76670
Hi @GiftA-MSFT and @davidhamsft. I have updated the broken link. Thank you for your feedback. 😊

[2021-06-10 17:12] laujan commented on #76670
#please-close

[2021-06-10 17:12] #76670 closed

[2021-06-10 17:19] Oury-MSFT commented on #76736
@sesmyrnov Thank you for providing your feedback. We will review the doc and will get back to you shortly. Thanks

[2021-06-10 17:23] mike-urnun-msft commented on #76711
@skanoka Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-10 17:23] ketan-chawda-msft opened #76755 "No option to create App Gateway from VMSS Creation UI in Portal"
Portal does not give the option to create Application Gateway within VMSS networking blade while it give option to create Load Balancer see the screenshot below:

**Azure Load Balancer:**
![image](https://user-images.githubusercontent.com/59500871/121568699-96fe5c00-ca3d-11eb-9be0-b6abf1ea4bc3.png)

**Application Gateway:**
![image](https://user-images.githubusercontent.com/59500871/121568899-d3ca

[2021-06-10 17:24] MGoedtel commented on #76673
@jordanmills - I overlooked specifying the rights you require on the machine in order to complete the steps. I'll bug the article and get that resolved.  Could you be more specific regarding your point about using actual cmdlets instead of aliases, just so we are on the same page?  Thanks.

[2021-06-10 17:25] JamesTran-MSFT commented on #76680
@desariyahmom
Thank you for your time and patience throughout this issue.

The reason you aren't seeing the "Local account sign-up page" is because you probably have the "Local accounts" feature disabled within the Identity Providers tab.
![image](https://user-images.githubusercontent.com/36619112/121569864-1ce6bc80-c9d6-11eb-8657-095cebbbee36.png)

If you enable the feature to use "Email signup"

[2021-06-10 17:27] SepidehSaba opened #76756 "is this version 3.X under public preview?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d969d516-46e7-bed5-e4cd-ad4de61f6ee2
* Version Independent ID: ca8f9de7-f92a-d8a3-b294-95e9568b62be
* Content: [Upgrade to Read v3.0 of the Computer Vision API - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/compu

[2021-06-10 17:28] SaiKishor-MSFT commented on #75375
@vhorne Could you please look into this?

[2021-06-10 17:34] JamesTran-MSFT commented on #76680
@desariyahmom
Keep in mind, this documentation is for disabling email verification during customer sign-up. If you're simply signing, you might have to disable MFA via the Properties blade within your user flow.

![image](https://user-images.githubusercontent.com/36619112/121571016-59ff7e80-c9d7-11eb-8148-0e2c11be7bb9.png)

[2021-06-10 17:34] AlexandraKemperMS commented on #76725
hi @arambazamba, could you explain your use case here? We did not include the key vault connection in this quickstart because it only walks you through making an app config store, to make a key vault connection, extra steps are needed that can be found in [the key vault tutorial](https://docs.microsoft.com/azure/azure-app-configuration/use-key-vault-references-dotnet-core?tabs=core5x).

[2021-06-10 17:39] JamesTran-MSFT commented on #76699
@mcleinweber
Thank you for your feedback!

For product feedback/improvement ideas such as this, it's recommended to leverage our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback) since all of the feedback you share in the User Voice forum will be monitored and reviewed by our engineering teams.

Thank you for your time and patience throughout this issue.

[2021-06-10 17:39] #76699 closed

[2021-06-10 17:40] RyanHill-MSFT commented on #76746
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-10 17:48] himanshusinha-msft commented on #76731
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-10 17:49] himanshusinha-msft commented on #76738
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-10 17:53] himanshusinha-msft commented on #76743
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-10 17:56] stewartadam opened #76759 "MacOS is not supported for C# SDK"
Development of an IoT Edge module on MacOS fails with an exception when attempting to configure its self-signed certificates, based on discussion in https://github.com/Azure/azure-iot-sdk-csharp/issues/1145, and https://github.com/Azure/iotedgehubdev/issues/308 it seems this is an issue in the C# SDK and MacOS is not officially supported.

Looking closer at [IoT Hub SDK platform support](https://d

[2021-06-10 17:56] himanshusinha-msft commented on #76752
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-06-10 17:57] StefArroyo commented on #76318
Just created the PR to link the two docs. Changes should be live soon!

[2021-06-10 17:57] StefArroyo commented on #76318
#please-close

[2021-06-10 17:57] #76318 closed

[2021-06-10 18:00] crisansou commented on #76752
Hi @himanshusinha-msft ,

Ok, thank you.

[2021-06-10 18:00] #76752 closed

[2021-06-10 18:04] JamesTran-MSFT commented on #76687
@jjcv2304
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-10 18:04] #76687 closed

[2021-06-10 18:08] leifbro commented on #65655
From a docs perspective, this issue was resolved in our latest update to https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes#create-an-azure-key-vault-backed-secret-scope-using-the-databricks-cli. If there's anything more we can do in the doc, please let us know.

#please-close

[2021-06-10 18:08] #65655 closed

[2021-06-10 18:09] JnHs commented on #75180
@bitsofinfo, thanks for sharing this feedback and I apologize for taking so long to respond. It's true that customers using their own VNets must setup the NSG rules on the subnet in order for Batch to work. We updated that section to make this clearer. Please let us know if you have additional feedback or questions.

[2021-06-10 18:39] jtwalters25 opened #76761 "Azure Resource Manager Template to create Azure Cosmos DB for Core (SQL) API WITH shared throughput for non free tier accounts"
[This doc provides templates for deploying Cosmos DB instances and how you can optionally create a parameters json file to use when deploying multiple instances of the same resource with different names and values.  However, when customers deploy Cosmos DB instances with shared throughput in the Azure portal and then export that ARM template, the deployment fails with the following error

'Message

[2021-06-10 18:48] JerrelAjoeb commented on #76274
Hi Vikas,

Thank you for reaching out.

During our study of the Azure documentation, we have found inconsistencies and some blind spots.

1.	Regarding the cached disk storage information we found 3 columns with different formats:
1)	“Max temp storage throughput: IOPS/Read MBps/Write MBps”
(3 values): IOPs and throughput (TP) splitted in Read TP MBps, Write TP MBps.
2)	“Max cached and temp storage

[2021-06-10 18:48] gaikovoi opened #76763 "How to use un-managed network?"
The documentation is missing an information about using **un-managed network**.  The page mentions NSG misconfiguration and reuirenment to create a subnet for spark cluster. The re is no information/references to how to perform these actions if customer actually needs it. The whole Network Security section is about managed network and private links. it feel like there is another option exists but

[2021-06-10 18:50] MashaMSFT commented on #50224
Hi @marktab , thanks so much for your feedback! We're actually in the process of archiving this article so we will be closing this Git Issue. My apologies that we were not able to service your request :(

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-10 18:50] #50224 closed

[2021-06-10 18:51] #61188 closed

[2021-06-10 19:00] asilverman opened #76764 "`Microsoft.KubernetesConfiguration` and `Microsoft.Kubernetes` are namespaces owned by Azure Kubernetes Service on Azure Stack HCI not AKS"
`Microsoft.KubernetesConfiguration` and `Microsoft.Kubernetes` are namespaces that belong to [Azure Kubernetes Service on Azure Stack HCI](https://docs.microsoft.com/en-us/azure-stack/aks-hci/overview) not [AKS](https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes) :

[see here](https://github.com/Azure/azure-sdk-for-net/blob/b84079c57ec253b003df81d676fe19a81c568412/sdk/kubernetesconfigurat

[2021-06-10 19:03] peetc1 opened #76765 "Grammar error"
I noticed at #copy-and-deploy-tasks on this page there is an indefinite article `a` which is not required. The noun a/an usually refers to a singular rather than a plural. It is a little confusing. For example, I wouldn't say, "I bought a two cars" because it just sounds and looks weird. The quote below is what I'm talking about:

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-06-10 19:05] markjbrown commented on #76761
There are multiple topics in this issue. I'm going to unpack and address each.

**Error exporting template:**
This GitHub Issues list is only for reporting docs bugs. For runtime errors with the service, please raise a ticket with support. They are much better equipped to diagnose and correct. If the root cause is a bug in the service, they are also able to raise with engineering in order to fix.

[2021-06-10 19:11] #68352 closed

[2021-06-10 19:20] Oury-MSFT commented on #76741
@ciufudean  Thank you for your feedback. We will review the doc and get back to you shortly. Thanks