[2019-06-04 10:22] RohitMungi-MSFT commented on #32463
@brucedkyle Thanks for checking. I tried to run the commands in the documentation without sudo on an ubuntu VM and it worked fine for me.

![image](https://user-images.githubusercontent.com/46958063/58871944-96a98880-86e0-11e9-9d8b-3a52481e39f5.png)

The issue you encountered may be an issue with the permissions of the user on the VM and may behave
differently on others variants of linux other tha

[2019-06-04 10:26] RohitMungi-MSFT commented on #32548
@microsoftbuild Thanks for pointing this out. The correction is now submitted in [PR 78669 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/78669)and should be updated in the documentation within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we wil

[2019-06-04 10:26] #32548 closed

[2019-06-04 10:26] jakaruna-MSFT commented on #32674
@Ettores88 I am able to reproduce the issue and your workaround helps.
In the official [documentation](https://helm.sh/docs/install/#using-node-selectors) of helm, node selector example is provided like this only.
Providing node selector like this `"beta.kubernetes.io/os=linux"` works well in  both linux and windows.
But providing like this `"beta.kubernetes.io/os"="linux"` works only in linux.

@

[2019-06-04 10:27] ChiragMishra-MSFT commented on #32664
@nikeshv Please check your email, we have enabled a 1-time free support ticket to work closely on the issue.
I will proceed to close this issue. Please feel free to still comment and tag me if you need any other assistance.

[2019-06-04 10:27] #32664 closed

[2019-06-04 10:28] RohitMungi-MSFT commented on #32412
@ShengChenMSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 10:28] #32412 closed

[2019-06-04 10:31] avinashchadalavada commented on #31821
I got it i ll add package and check how it works. once its done i ll let you know. thanks.

@kgremban

[2019-06-04 10:32] staal-it commented on #23919
I've send an email and will post updates here

[2019-06-04 10:41] awalman commented on #32605
Further, using PowerShell New-AzStorageSyncServerEndpoint to create a new Endpoint with an additional path for a registered server with an existing path results in
`New-AzStorageSyncServerEndpoint : Long running operation failed with status 'Failed'. Additional Info:'Resource property 'ServerLocalPath' cannot be modified.'`
It seems the New operation is trying to modify the existing endpoint rathe

[2019-06-04 10:50] Hassan-Elseoudy commented on #32657
@ManojReddy-MSFT Here you go https://southcentralus.dev.cognitive.microsoft.com/docs/services/Custom_Vision_Prediction_3.0/operations/5c82db60bf6a2b11a8247c14 <-- JavaScript implementation

[2019-06-04 11:02] AshokPeddakotla-MSFT commented on #32324
@ac2707 I am able to complete the deployment by following the documentation steps without any issues. Also, try creating new resources and see if it works as expected. I am now closing this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-04 11:02] #32324 closed

[2019-06-04 11:04] nelsonavanade opened #32681 "The server didn't understand your query. Check your query syntax and try again."
Step 9 under Route to a storage account:
I followed the guide and input level="storage" as the query. I then saved the route details with the routing enabled, but no data has come through. When I tested the query using the "Test route" button, I received the following message:
The server didn't understand your query. Check your query syntax and try again.

---
#### Document Details

⚠ *Do not edit

[2019-06-04 11:07] rohancragg commented on #31081
I agree with gbaeke that the purpose of this document is extremely unclear. The title implies that the doc explains how to do something, but it doesn't.

If this document is explaining how to "[configure] the cluster to only pull core system images from container image repositories housed in the Microsoft Container Registry (MCR)" then perhaps the title should be amended.

The title implies that i

[2019-06-04 11:10] RohitMungi-MSFT commented on #32641
@millercor The link to this section is same as [setting up your azure account](https://review.docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-voice?branch=release-build-cogserv-speech-services#set-up-your-azure-account) where you need to give your subscription key and sign in to custom voice portal and follow the rest of the steps to create the speech project.  This

[2019-06-04 11:10] DixitArora-MSFT commented on #32678
@t-l-k Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-04 11:11] DixitArora-MSFT commented on #32680
@PingPongSet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-04 11:12] DixitArora-MSFT commented on #32679
@PingPongSet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-04 11:14] RohitMungi-MSFT commented on #32601
Created a [PR 78676](https://github.com/MicrosoftDocs/azure-docs-pr/pull/78676/) to fix the same.

[2019-06-04 11:20] neerajkrshukla commented on #32234
@sauryadas the problem is that we want to block egress traffic through Azure firewall, it has options of Network rule collection (which provides ability to allow any protocol TCP/UDP but on IP addresses or a IP Range and works on Layer-4 traffic.

The second option which allows URLs, works on Layer-7 and only allow HTTP/HTTPS (see screenshot below).

The reason I asked for IP range for AKS Masters

[2019-06-04 11:24] angoyal-msft commented on #32236
User has already been deleted. So closing this thread.

[2019-06-04 11:24] #32236 closed

[2019-06-04 11:37] msimecek opened #32682 "Content-Type for the analyze call"
Minor error, but might trip people who are trying this:

[code]

Should be:
[code]

(Because MIME type `application/image/jpeg` is not valid.)

And PDF type in the list above should be `application/pdf`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18818774-5076-cb76-ee9e-4ecb632b6caa
* Version Independent ID: 22d601

[2019-06-04 11:38] 0GiS0 opened #32683 "Authenticate with Azure AD should it be with AcquireTokenAsync instead of AcquireToken"
The module was updated and AcquireToken is not available anymore. It should be:

$result = $AuthContext.AcquireTokenAsync("https://management.core.windows.net/", $cred).GetAwaiter().GetResult()

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc219-c30f-1699-f586-9080d36a43fc
* Version Independent ID: fa7835b

[2019-06-04 11:45] #29536 closed

[2019-06-04 11:47] msrini-MSFT commented on #32215
@rogerbramon , If that is the case, you can use PowerShell to create the HTTP Settings with the Hostname switch without uploading the certificate.

[2019-06-04 11:47] jakubkirylo opened #32684 "Indexing policy missing on Azure Portal"
Has indexing policies screen moved to a different place?
Can't find it ...
Print screen: https://i.ibb.co/vjDMVDC/2019-06-04-13-43-11-Data-Explorer-Microsoft-Azure.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e-6816-0b2219a1f37b
* Version Independent ID: b463dc0b-313c-d90a-b8aa-c2b64004f812
* Con

[2019-06-04 11:49] ManojReddy-MSFT commented on #32659
@dcbrown16 Thanks a lot for reporting this. I will update the doc and will let you know accordingly.

[2019-06-04 11:55] ChiragMishra-MSFT commented on #32683
@0GiS0 Thanks for bringing this to our notice. We are looking into the issue and will update you shortly.

[2019-06-04 11:57] annekebr opened #32685 "Error message while creating custom role with resource provider overarching actions"
If I try to create a custom role on subscription level with "*/read" actions, I get the error message
"The request did not have a subscription or a valid tenant level resource provider."
Did I do something wrong or has this possibility been disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7

[2019-06-04 12:02] ManojReddy-MSFT commented on #32599
@saikumaru I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-06-04 12:05] RohitMungi-MSFT commented on #32657
@Hassan-Elseoudy The above link points to an API link for image classification where you need to set the required parameters and send the URL in the body of the request to get the response.
Please take a look at the following [page](https://www.npmjs.com/package/@azure/cognitiveservices-customvision-prediction/v/2.1.0) for sample code on how to use the image URL for prediction client using nodejs.

[2019-06-04 12:12] annekebr commented on #32685
Nevermind... Sorry!

[2019-06-04 12:12] #32685 closed

[2019-06-04 12:16] vidarkongsli opened #32687 "dbcreator - connecting to the created database"
With regards to *dbcreator*, it is stated that _The account creating the database becomes the owner of the database_.

I want to automate the creation of databases, and I try the following:
1. I have an AAD registrered application which is successfully assigned the role *dbcreator* in the master database
2. Using `System.Data.SqlClient.SqlConnection`, connect to the master database using an access

[2019-06-04 12:17] jakaruna-MSFT commented on #32675
@Ettores88 I think you missed the note under the "[Install the Istio CRDs on AKS](https://docs.microsoft.com/en-us/azure/aks/istio-install?view=azure-cli-latest#install-the-istio-crds-on-aks)"
Same note is available in the [Istio install](https://docs.microsoft.com/en-us/azure/aks/istio-install?view=azure-cli-latest#install-the-istio-istioctl-client-binary) section also.

This issue is already rep

[2019-06-04 12:22] saikumaru commented on #32599
@ManojReddy-MSFT  thank you for your quick reply. I have verified this again, however I do not see them under the permissions tab.
The user who has consented is actually a personal outlook account holder and with "common" as tenant configuration in the application.

Please find the screenshots of the data as I see.

![user](https://user-images.githubusercontent.com/44021002/58878666-67e7de00-86f1-

[2019-06-04 12:23] jjindrich opened #32688 "Replication btw geopolitical regions"
As described, standard we can replicate only in geopolitical region. Is there any option to replicate e.g. from Europe to US from DR reasons ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Support matrix for

[2019-06-04 12:31] ceej64 opened #32690 "Out of date links and content"
Please can you update this page; the link to latest release notes is for "update rollup 35" when rollup 36 is available.

I have recently installed version 9.25 of the mobility service client, but there is no documentation on what Linux Kernel versions are supported?

Please update, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-06-04 12:40] ManojReddy-MSFT commented on #32599
@saikumaru Is this a multi-tenant application?

If that's the case, Service principals are created in each tenant from where the user is coming from and consent will be saved on that service principal.

Example: If you have registered an app ABC in tenant 1 as a multi-tenant app, SP ABC is created in tenant 1 and when users from tenant 1 consent to the application it will be saved against SP ABC i

[2019-06-04 12:48] Zebusch opened #32691 "Can I migrate my existing managed domain from a classic virtual network to a Resource Manager virtual network?"
"Not currently. Microsoft will deliver a mechanism to migrate your existing managed domain from a classic virtual network to a Resource Manager virtual network in the future."

This has been the answer for years now. When is the future here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ac3ceff-f36d-91b3-c722-a7a280c

[2019-06-04 12:49] ManojReddy-MSFT commented on #32652
@alvipeo I have assigned this to the author to provide more details regarding this and consider updating the doc.

[2019-06-04 12:49] saikumaru commented on #32599
Yes, this is a multi-tenant application, with the possibility to even allow personal accounts to login.

Can you help me understand how one can view or retrieve this data from Tenant-1 and Tenant-2(I am not sure what would be Tenant-2 for a personal account) either through portal or any APIs

[2019-06-04 12:49] ram-msft commented on #32682
@msimecek Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-04 12:50] cap273 commented on #30412
@jeevansd, thank you for your response. I did already have the option to ForceAuthn Only selected: https://i.imgur.com/pDe3KlN.png

I don't see how that option is related to the missing guidance on what the Timeout Redirect URL should be. Timeout still doesn't work with the Timeout Redirect URL being the Sign-on/Sign-in URL.

[2019-06-04 12:51] douglasgaigher opened #32692 "Replace word import with export"
In the 'Export a DNS zone file from Azure DNS' topic, replace the word 'import' to 'export' in the sentence:

"The format of the Azure CLI command to import a DNS zone is:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e7a82c4-2bed-a8c7-6ce9-9bd895771337
* Version Independent ID: 5233a0b2-fc92-efb5-8d8d-8c53d5e68109

[2019-06-04 13:00] alvipeo commented on #32652
Thanks a lot! It IS URGENT, so please help me out here.

[2019-06-04 13:00] MohitDhingra-MSFT commented on #32313
Hi @PetroAzure ,

Could you add the below code before making a call to service/api.
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

Please check the below screenshot for reference:

![image](https://user-images.githubusercontent.com/47346772/58880903-a2a04500-86f6-11e9-8d79-d04e746eb4c2.png)

I hope the above information is helpful. We will now close this issue. Should you have

[2019-06-04 13:00] #32313 closed

[2019-06-04 13:01] MohitDhingra-MSFT commented on #32484
Hi @anandkgpt03,

I hope the above information is helpful. We will now close this issue. Should you have any further queries, please tag me or @shashishailaj  to your reply and we can gladly continue the conversation.

Thank you.

[2019-06-04 13:01] #32484 closed

[2019-06-04 13:07] nahojkj commented on #30010
I'm confused as to why the guide uses the CLI at all? Aren't you just adding a device and then getting the connection string? Isn't it much simpler to?:

1. Add a device directly in the IoT Hub device page.
2. Get the Connection string directly from the newly created device's details page.

[2019-06-04 13:08] rimman commented on #32671
It's a balance (what you are trying to optimize for reads or writes). When you design, you should keep in mind the workloads you anticipate to run most frequently and optimize for that. Please read this: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-model-partition-example and watch this: https://azure.microsoft.com/en-us/resources/videos/build-2019-best-practices-for-azure-cosmos-db-dat

[2019-06-04 13:08] rimman commented on #32671
#please-close

[2019-06-04 13:10] cap273 commented on #10028
I have the same question as mosheaclinone. Is the broadcast LogoutRequest to all service providers in the session done using Front-channel SAML (i.e. through the user's browser) or using Back-Channel SAML (i.e. with Azure AD communicating directly to the service providers)?

[2019-06-04 13:11] ggirard07 commented on #32311
And what is the behavior of the auto increment if someone change that value?
I mean what if I change the default value to 1 minute, is it going to increment up to 2 minutes, 10 minutes or does not increment at all?
Is it possible to disable this auto increment if we want a predictable behavior, like if I mean to keep the polling as low as possible for maximum system responsiveness?

[2019-06-04 13:29] aquibqureshi26 commented on #32537
I know it's cheaper but there should be something for which we've to consider the VPN gateway. may be bandwidth would be the factor to consider?

[2019-06-04 13:31] Blackbaud-MikeDuVall commented on #10363
Beyond a shadow of a doubt, DLQ's exist for topic subscriptions.   My company is currently heavily using them.  The path you mentioned, "Topic1/Subscriptions/Subscription1/$DeadLetterQueue", is what we use to get to them.

[2019-06-04 13:34] #21517 closed

[2019-06-04 13:54] algorni opened #32693 "Cloud-to-device messaging - Maximum message size 64 KB. Maximum pending messages for delivery is 50?"
Hi, is this value PER DEVICE or overall per IoT Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Content: [Understand Azure IoT Hub quotas and throttling](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devgu

[2019-06-04 14:00] KentaroAOKI commented on #31803
Hi @srrengar I try to create a virtual node several times from Monday. but it fails yet. I will comment if the status changes. Thank you.

[2019-06-04 14:01] jabbera opened #32694 "Please provide an example using new DI framework"
Can you please provide an example using the new DI framework?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b64fbcd7-336c-9163-c932-e9f454fa9948
* Version Independent ID: a526207f-a1e5-c44a-654e-d3678cbbb097
* Content: [Quick

[2019-06-04 14:02] AjayKumar-MSFT commented on #32672
@genius00xp, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-04 14:05] sergaz-msft commented on #32668
Thank you for your feedback @mma-mm, can you please validate that you are using Azure Storage Explorer version 1.5.0. ? Thanks!

[2019-06-04 14:10] sergaz-msft commented on #32670
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-04 14:16] BhargaviAnnadevara-MSFT commented on #32694
@jabbera Thanks for the question! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-04 14:17] Hassan-Elseoudy commented on #32657
@RohitMungi-MSFT I'm trying to classify the image when hitting a button but the request always alerts

Here you go ..

[code]

But Also this works in API Console if this may help.

[code]

May you help please?

[2019-06-04 14:19] chadcarlton commented on #31402
I was hoping for something that was a little less 'raw'. If you look closely at Anuj's post, there is quite a bit involved in using PIM. There are raw HTTP calls, Bearer Tokens, JSON handling. To be honest, Anuj's post is just a raw graph handler that happened to be applied to PIM, not really PIM powershell.

[2019-06-04 14:20] sergaz-msft commented on #32676
Thanks for the feedback @csamleong. Can you please validate that WS2019 has the proper firewall and port configuration as described here: https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#firewall-and-port-configuration-rules-for-iot-edge-deployment

Thank you!

[2019-06-04 14:29] sergaz-msft commented on #32681
Thanks for the feedback @nelsonavanade. I checked the tutorial and couldn't find the step to use "Test route" button. Can you point me to it? Also the testing is done on the [Part 2](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing-view-message-routing-results) of the tutorial. Did you follow it?

Thanks!

[2019-06-04 14:31] sergaz-msft commented on #32693
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-04 14:46] shashishailaj commented on #32691
@Zebusch Thank you for your query. We will engage the author to get clarification on the timeline as requested.

Thank you.

[2019-06-04 14:47] Swimburger opened #32696 "Offer list of IP's as txt files"
Cloudflare offers their IP's as txt files which are very easy to integrate into scripts. It would be useful to have the IP's on this page offered as txt files too.
Currently, I'm copy pasting the IP's from this page into a separate text file (which won't ever be updated again probably).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-04 14:50] diberry commented on #32144
@sruthiiyer Can you please post your code (removing your key value) and the exact error?

[2019-06-04 14:50] rlaportaSCG opened #32697 "Unable to match configuration / SAML Assertion Error on 1809 Azure Joined Profiles"
Hello:
I followed this guide to setup our SSO but not to a T.
The user attributes I have are still default and my NameID Format in Webex is Email Address and AuthnContextClassRef is urn:oasis:names:tc:SAML:2.0:ac:classes:password
I also did not select auto account creation but this should be fine if we create in both areas.

We have had no issues with users signing in with this configuration until

[2019-06-04 14:55] RyanHill-MSFT commented on #30761
@conceptdev Is there a timeline for when we'll have updated samples for 10.4 and up?

[2019-06-04 14:58] shashishailaj commented on #32637
Closing as per author comments

[2019-06-04 14:58] #32637 closed

[2019-06-04 15:02] shashishailaj commented on #32691
@MikeStephens-MS Could you please review this request and see if a timeline could be provided?

[2019-06-04 15:03] VanMSFT commented on #32687
Hello @vidarkongsli, can you please clarify which product you are using? I assume Managed Instance since you're talking about dbcreator. Please see the following:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication#azure-ad-features-and-limitations

Can you check if the database created using the application is SA instead of the AAD account?

[2019-06-04 15:03] MarkSimos opened #32698 "Add intructions link to the top"
We should add a link early where people can skip to the instructions like

To skip ahead to start deploying a secure workstation now, click here - https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-azure-managed-workstation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1e72d8-1b89-f29c-bb0b-08593d

[2019-06-04 15:08] pratapsp99 opened #32699 "Ingesting Data From Hive"
Hi Team, Do you have any white paper for the same to implement the incremental load from Hive to SQL PaaS. Please update. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d97ae7-50da-d422-1332-1493c8515b78
* Version Independent ID: a67bb70b-b9de-e726-12a1-50c7c377f13d
* Content: [Incrementally copy a table by us

[2019-06-04 15:08] himalpatel81 commented on #32311
Based on the documentation maxPollingInterval default value is 1 second.
which means maximum it will wait between polling is 1 second. however that
is not true. It is 1 minute. so the value default value in the
documentation should be "00:01:00".

The functionality of maxPollingInterval is working as expected in all the
case.

On Tue, Jun 4, 2019 at 11:11 PM Guillaume Girard <notifications@github.

[2019-06-04 15:12] #19469 closed

[2019-06-04 15:12] myusrn commented on #19469
thanks for the followup on this, closing.

[2019-06-04 15:13] sahya commented on #32273
Sorry... ,
I'm sorry I received a lot of comments.
I understand your commentary, but....

At first, The current of procedure is verry difficult to understand for both beginner and expert. Because the all paragraph composition of the sentence is bad.

Looking at this some more,
The first step in this procedure is not knowing what settings are required.  It is better to have the reader understand wh

[2019-06-04 15:13] SteveParson commented on #28672
@SaurabhSharma-MSFT I was able to successfully build a VM using the Azure Powershell module. Unfortunately this does not fit our CI/CD flow. I need to also be able to deploy pre-encrypted VMs with ARM templates or some other method.

[2019-06-04 15:17] shashishailaj commented on #32677
@kazshi Thank you for your contribution. We will have this reviewed and updated as needed.

Thank you.

[2019-06-04 15:19] shashishailaj commented on #32698
@MarkSimos Thank you for your feedback . We will have this reviewed and update the thread.

[2019-06-04 15:28] LuisGonzalezLT commented on #32506
We had done that already as a work-around but since the ADF names are documented to be case sensitive we wanted to report the issue since the work-around is more of a band-aid versus a real fix. Thanks :-)

[2019-06-04 15:36] CeciAc opened #32700 "Correction"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/355
the user is reporting an inconsistency

@leonmeijer commented 7 hours ago
Wasn't able to find "Monitoring and Reports section". It's now the "Monitoring" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04403549-f1f6

[2019-06-04 15:36] RohitMungi-MSFT commented on #32657
@Hassan-Elseoudy We would highly recommend to post any issues related to your code implementation at our StackOverflow [forum](https://stackoverflow.com/questions/tagged/microsoft-cognitive), as the developer community is better suited to solve the issue. This forum is used to highlight any of our documentation issues.

Based on the details you have shared it looks like the service works fine but

[2019-06-04 15:42] ThomasWeiss commented on #32684
@jakubkirylo They should still be in the same place; have you tried to reload the portal to see if the problem persists?

[2019-06-04 15:45] marcel-wiedemeier opened #32701 "Confusing instructions"
This sentence is very confusing "The Azure AD lockout duration in seconds is longer than the Active Directory reset account lockout counter after duration minutes." does that mean if the AD lockout is 30 Minutes, the Azure AD lockout needs to be at least 31 seconds? Or more than 1801 seconds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-06-04 15:49] xom-pschiess opened #32702 "B2C"
It may be worth noting that the least privileges for Azure AD B2C are specific to the B2C tenant ... not the parent Azure AD tenant. So for those least privileges where it says 'Global Administrator', that's not the same 'Global Administrator' of Azure AD, it's 'Global Administrator' of the Azure AD B2C tenant only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-06-04 15:52] iainfoulds commented on #32608
Right, which I noted in my reply:

[2019-06-04 15:56] loftyet commented on #32265
agreed. There is no way to find where the Azure file created if followed this documentation, even though I know it should be the same resource group of AKS. We just have so many storage account under this resource group.

[2019-06-04 15:57] edjez commented on #31187
#please-close

[2019-06-04 15:57] edjez commented on #32262
Thanks!

[2019-06-04 15:57] edjez commented on #32262
#please-close

[2019-06-04 16:00] jwisener commented on #32504
yes, some examples of valid action expressions are needed. Can you point to any examples where we can use an action expression to set the props (from the subscription)?

[2019-06-04 16:01] ram-msft commented on #31187
@jjgriff93 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 16:01] #31187 closed

[2019-06-04 16:03] jwisener commented on #30060
There is nothing in these C# examples that show actions expressions. How does one, say, set a message property or a correlation property in an actions expression of the subscription.

[2019-06-04 16:08] sahya commented on #32273
I again read the procedure in English.
I feel the good document writtnen by detail, but it is long. Therefore, the reader is likely to skip reading
So the procedure need Simply to attract continuous attention for reader.

[2019-06-04 16:12] JasonWHowell commented on #32631
@sbugalski We are having discussions about this one. We plan some changes soon that need testing.
Stay tuned. Thanks, Jason

[2019-06-04 16:20] YutongTie-MSFT commented on #32347
@timtre
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-04 16:20] #32347 closed

[2019-06-04 16:20] YutongTie-MSFT commented on #32463
@brucedkyle
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-04 16:20] #32463 closed

[2019-06-04 16:31] kobulloc-MSFT commented on #32696
@Swimburger Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-04 16:33] FrankHu-MSFT commented on #32531
@ayprof Hello Ayprof, you are correct the %20% should be recognized in the SAML Request, but it looks like it's not being encoded in the SAML Request. What service provider are you using in this scenario?

[2019-06-04 16:43] AAATechGuy commented on #5621
@srikanthvvgs , how did you handle error response?

[2019-06-04 16:43] PramodValavala-MSFT commented on #30060
@jwisener These samples are actually using filters defined via ARM templates which I missed to mention earlier... my bad.

I have covered the details in a follow up [SO thread](https://stackoverflow.com/a/56116477/10417839).

[2019-06-04 16:43] Mike-Ubezzi-MSFT commented on #23045
@das-kaustav @mellondongit Thank you for the additional details. Do you have a Subscription ID with your Free Trial? If there is a Subscription ID you can send me? Send an email to [AzCommunity](mailto:azcommunity@microsoft.com) and instructions will be returned to have this specific scenario handled so you can actually navigate through and complete the tutorial.

[2019-06-04 16:43] AshokPeddakotla-MSFT commented on #32479
This doesn't seem a like documentation bug or documentation feedback. We noticed that you have already opened an issue [here](https://github.com/Azure/azure-iot-predictive-maintenance/issues/50). Please continue your discussion there for better insights on this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly c

[2019-06-04 16:43] #32479 closed

[2019-06-04 16:45] jhampsonPSS commented on #32565
Confirmed. I mapped the storage resource to my windows 10 following those instructions. My user that should not have access per RBAC has access. …

[2019-06-04 16:46] AjayKumar-MSFT commented on #32700
@leonmeijer, Thanks for reporting this! We have made the appropriate changes in the document and published changes would be live within 24hrs.

[2019-06-04 16:48] jhampsonPSS commented on #22578
Is this still true? cant we just use AAD Domain services? and assign rights via RBAC?

[2019-06-04 16:49] kendallroden opened #32703 "On-premises"
No more SF on-premises? Can someone provide insight?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bf3f1b-349b-5c7d-9158-421dc79f1db7
* Version Independent ID: 8c313371-9311-0aaf-f69d-78fb74e50531
* Content: [Azure Service Fabric application and cluster best practices](https://docs.microsoft.com/en-us/azure/service-

[2019-06-04 16:52] AAATechGuy commented on #5621
As per https://azure.microsoft.com/en-us/blog/azure-functions-now-supported-as-a-step-in-azure-data-factory-pipelines/ example, this following should work

[code]

[2019-06-04 16:54] millercor commented on #32641
Thank you, Rohit. Unfortunately, I get the following with this page:
[cid:image001.png@01D51AD4.976EFD40]

From: RohitMungi-MSFT <notifications@github.com>
Sent: Tuesday, June 4, 2019 7:11 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Miller, Corey A <camiller@mitre.org>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [MicrosoftDocs/azure-docs] Dead link (#32641)

@m

[2019-06-04 16:59] MicahMcKittrick-MSFT commented on #32703
We still support SF on premise

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-anywhere

This specific doc you commented on is just for Azure Clusters though.

[2019-06-04 17:20] Alberto-Vega-MSFT commented on #32566
@smoms That is correct. Currently there is no way to route messages from the cloud to modules. The routing sources listed in this document are the only ones that the IoT Edge hub can route -- device-to-cloud messages or twin change notifications from any module or leaf device.

You can communicate from the cloud to modules using direct methods only. This information is provided in https://docs.mic

[2019-06-04 17:25] jwisener commented on #30060
@PramodValavala-MSFT  that still does not show how to setup the action part for the rule. it's only the filter part.

[2019-06-04 17:45] PramodValavala-MSFT commented on #32062
@fabich Thanks! Sorry about the long silence.

I have checked with the team internally and a fix is being worked on. There is not public issue that tracks this but will keep you posted.

[2019-06-04 17:46] SaurabhSharma-MSFT commented on #32697
@rlaportaSCG Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-04 17:49] SnehaGunda commented on #24767
@briansboyd we are merging the two issues you have created on this doc into one. We will close this issue: https://github.com/MicrosoftDocs/azure-docs/issues/24763 and track the feedback from the other one on this issue:

A disappointing and somewhat frustrating page, clearly rushed through a subject that depends on the details.
For example, which Keys are being secured? Is it the Primary or Secon

[2019-06-04 17:50] SnehaGunda commented on #24763
@briansboyd we are merging the two issues you have created on this doc into one. We will close this issue and track the feedback on this: https://github.com/MicrosoftDocs/azure-docs/issues/24767

#please-close

[2019-06-04 17:54] nickwalkmsft opened #32705 "Headers added by Consumption-tier service"
The &lt;set-header&gt; policies used in this tutorial don't work on the Consumption tier of APIM because it appears the headers in question (X-Powered-By and X-AspNet-Version) are actually *added* by APIM, regardless of what the backend does. This appears to be a bug in the Consumption-tier implementation. Can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-04 17:55] MarileeTurscak-MSFT commented on #32702
@xom-pschiess
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-04 17:56] MarileeTurscak-MSFT commented on #32701
@marcel-wiedemeier
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-04 17:56] SnehaGunda commented on #24856
@jjgriff93 we have this item in our backlog, The V3 version of .Net SDK will be released end of this month. We are updating all the .Net samples, which includes the ASP.Net core sample linked from the Azure Portal. @deborahc and I will work on the new doc after the sample is ready. I have a DevOPs work item for this. In the meantime, we will close this issue considering the SLAs.

#please-close

[2019-06-04 17:57] Mike-Ubezzi-MSFT commented on #32687
@vidarkongsli Thank you very much for this detailed inquiry. As part of step 2, the application needs to authenticate with the provisioned AAD Admin just as you have done so with SSMS. All AAD Authentication management steps (adding users, etc.) is done through this provisioned AAD Administrator ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#c

[2019-06-04 18:00] Mike-Ubezzi-MSFT commented on #32671
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-04 18:00] #32671 closed

[2019-06-04 18:06] SnehaGunda commented on #27907
@subashsivaji did you had a chance to look at Luis's comment, can you please elaborate your comments? we won't be able to make any doc updates without additional context.

[2019-06-04 18:06] MartinJaffer-MSFT commented on #32513
@kromerm Do you have any information on region availability of the Data Flow feature?   Or could you put caveat so customers don't assume feature is available everywhere?

[2019-06-04 18:10] ash2017 commented on #32624
We will need more information on the use case, what is the end to end scenario and customer name and opportunity size so we can look into supporting.

[2019-06-04 18:10] SnehaGunda commented on #26566
@rcarmo I submitted a PR to delete this doc temporarily, referenced above. A new version of Python SDK will be released in a couple of months and we will publish a new doc when that's available.

[2019-06-04 18:11] SnehaGunda commented on #26566
#please-close

[2019-06-04 18:11] ayprof commented on #32531
It is a Shibboleth SP.

[2019-06-04 18:13] AjayKumar-MSFT commented on #32478
@Leon99, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-04 18:13] #32478 closed

[2019-06-04 18:14] SnehaGunda commented on #26311
@SogoGolf We have a DevOps work item to track this: https://msdata.visualstudio.com/CosmosDB/_workitems/edit/392092 we will get to it soon, and update when the docs are published. In the meantime, we will close this issue.

#please-close

[2019-06-04 18:15] mprince-capax commented on #31841
This issue should go away if you upgrade to a newer version of PowerShellGet.  This can be done by opening a PowerShell admin prompt and entering the command:
Upgrade-Module -Name PowerShellGet

Close the admin prompt and then open it back up again.  Then run the Install-Script command to download the script again.

[2019-06-04 18:23] femsulu commented on #32690
@ceej64 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-04 18:24] nerddtvg opened #32707 "ASE outbound dependencies incorrect Azure SQL Port"
In the section "ASE outbound dependencies", the port listed for AzureSQL is 1233 instead of 1433.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking considerations with App Service Environment - Azure]

[2019-06-04 18:25] MarkusVi commented on #32138
Just making sure – you never use specific risk events in a condition; it is the risk level that is based on the detected risk events.

Offline risks contribute to the user risk level. The user risk level is evaluated by your [user risk policy]( https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-user-risk-policy).

Real-time risk events initially contribute to to the

[2019-06-04 18:27] lciocci commented on #32624
My name is Louis Ciocci and I'm a Software Architect for Crestron Electronics, Inc. The idea we're looking to implement is to fan out incoming messages to be processed by their respective microservices based on entries contained in the message's Properties dictionary.

[2019-06-04 18:30] dlepow commented on #32119
@donrolling - Thanks again for candid feedback. Unless you have further information, I'll proceed to close this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

/cc @sptramer for awareness

#please-close

[2019-06-04 18:30] MGoedtel commented on #32550
@julesman101 & @BryanTrach-MSFT - I happened to be editing the article a few minutes ago and caught this while reviewing it.  I corrected it during the other edit I needed to make so it will go live later today.  Thanks for bringing this to our attention.  #please-close.

[2019-06-04 18:30] jcbrooks92 opened #32708 "Storage Firewalls are not supported with Bring your own storage"
A note should be added that storage firewalls will break the bring your own storage functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae64682-9fd6-28e0-4c60-a003cc06f92c
* Version Independent ID: fa1d2de6-c27d-f750-8f35-94c379708000
* Content: [Serve content from Azure Storage on Linux - App Service](https

[2019-06-04 18:33] BryanTrach-MSFT commented on #32550
@julesman101 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 18:33] #32550 closed

[2019-06-04 18:34] danhamlin commented on #32004
Services registered in DI can get a logger like so (notice the generic that differs from what function methods get injected):

[code]

I'm using this in my function apps.

[2019-06-04 18:34] ash2017 commented on #32624
Thank you Louis. Please share a contact email and I will follow up with you.

[2019-06-04 18:37] mscbpi opened #32709 "rewrite rule ?"
nginx.ingress.kubernetes.io/rewrite-target: /$1

$1 points to (.*) for the first app, (/|$) for the second. So this does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create an HTTPS ingress with A

[2019-06-04 18:40] KranthiPakala-MSFT commented on #32354
@vs199vishal  Hope the above information was helpful. We will now proceed to close this thread since we have not heard back from you. As this is related to a particular error and if there are further questions regarding this matter, please post your question in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) and other forums, we have our engineers and others who

[2019-06-04 18:40] #32354 closed

[2019-06-04 18:43] MicahMcKittrick-MSFT commented on #32709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-04 18:47] femsulu commented on #32688
@jjindrich Thanks for the comment.

AFAIK, replication between Europe and US (for DR reasons) is not supported since these are not regional pairs. This is to ensure Data Sovereignty and meet Data residency requirements for tax and law enforcement jurisdiction purposes.

Additional reference @ https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions#what-are-paired-regions

[2019-06-04 18:48] MarkusVi commented on #32137
HI @dennisxu2019, you can find information on how risk events are processed in:

- [How To: Configure the user risk policy](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-user-risk-policy)
- [How To: Configure the sign-in risk policy](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-sign-in-risk-policy)

#please-close

[2019-06-04 18:48] lciocci commented on #32624
Might there be a mechanism by which I can share my (and other team member's) email but not in a public forum?

[2019-06-04 18:51] jjindrich commented on #32688
Thanks. Is there any workaround how to replicate with ASR ?

[2019-06-04 18:51] KranthiPakala-MSFT commented on #32506
@LuisGonzalezLT We really appreaciate your valuable feedback and thank you so much for brining this to our notice. We are working with product team to fix this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thanks :)

[2019-06-04 18:51] #32506 closed

[2019-06-04 18:52] MarkusVi commented on #30187
I have staged an update for this.

#please-close

[2019-06-04 18:57] JimXu199545 opened #32710 "How to implement Azure App Service Encryption at Rest"
[Enter feedback here]
I read the document. It says that Azure Web app has a security attribute: Encryption at rest. Could you tell me how to configure it or Azure has automatically configured it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22e3bc7-c06b-eab1-9705-9563f3ab42d2
* Version Independent ID: 5d646280-d750-

[2019-06-04 18:59] KranthiPakala-MSFT commented on #32618
@ManuDemoen We will now proceed to close this thread. If there are further questions related to the doc content, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

[2019-06-04 18:59] #32119 closed

[2019-06-04 18:59] #32618 closed

[2019-06-04 19:26] rothja commented on #32329
@hiromingithub Thanks for your feedback. I'm not sure that a default of 25-350 would be helpful to most customers, because it would be too broad a range to know where you stood. What if we put a footnote that 350 was the default for customers with an Enterprise Agreement? Is this documented anywhere publicly or how did you discover this? Thank you!

[2019-06-04 19:27] tchmiel opened #32711 "Can't load the pickle file back in to predict test data"
Using our own cloud-based notebook VM, in the Predict Test Data step, running the line clf = joblib.load( os.path.join(os.getcwd(), 'sklearn_mnist_model.pkl')) fails with KeyError: 0 when on the line unpicker.load( ).  any idea why this happens?  We have repro'ed on two machines both using cloud-based notebooks.  the sklearn_minst_model.pkl file does exist.

---
#### Document Details

⚠ *Do not ed

[2019-06-04 19:29] hukun01 opened #32712 "certificateCommonNames should be an array not a generic JSON object"
I got this error when following the instructions in this page. See below for details:
Message: Cannot deserialize the current JSON object (e.g. {"name":"value"}) into type 'System.Collections.Generic.List`1[System.Fabric.Wrp.BackendService.Model.ClientCertificateCommonName]' because the type requires a JSON array (e.g. [1,2,3]) to deserialize correctly.

---
#### Document Details

⚠ *Do not edit t

[2019-06-04 19:31] hukun01 commented on #32712
Oops, I think this should be closed. Bad on me, I mixed the certificateCommonNames and the clientCertificateCommonNames..

[2019-06-04 19:31] #32712 closed

[2019-06-04 19:31] smflorentino opened #32714 "Location of script output logs"
The doc recommends to "put logging in the script" but doesn't state where the output of a script is stored. I found it in C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.9.3\Status, is that expected?

If so, please fix the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5

[2019-06-04 19:35] zr-msft commented on #32674
Thank you for your feedback @Ettores88

The issue that you saw is due to a platform difference and the doc commands were written to be run on bash. FYI you may also have to account for platform changes on commands that have line breaks.

#please-close

[2019-06-04 19:35] #31777 closed

[2019-06-04 19:37] TravisCragg-MSFT commented on #32568
@whihathac These rules do not bypass the firewall, they just enter the firewall via the public IP instead of the private IP, and that allows the asymmetric routing to work.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 19:37] #32568 closed

[2019-06-04 19:38] tfitzmac commented on #31777
@JustinGrote - this article just highlights how the resource group's location can affect the resources. If the resource group's region is not available, resources in that resource group can't be updated. If those resources are in another region, they will still function as expected. I have removed the sentence about trying to locate resources in the same region as the resource group because applic

[2019-06-04 19:39] KumudD commented on #32042
@kumarallamraju Thanks for bringing this to our attention! I have updated the doc as suggested.

#please-close

[2019-06-04 19:40] christopheranderson commented on #26594
We should track this ask here: https://github.com/Azure/azure-cosmos-js/issues/255

[2019-06-04 19:41] SnehaGunda commented on #26594
@tony-gutierrez we will close this issue and track it at the above link.

#please-close.

[2019-06-04 19:42] MicahMcKittrick-MSFT commented on #32712
Thanks for reaching out and the update.

[2019-06-04 19:45] christopheranderson commented on #26595
In the @azure/cosmos library, you can configure this by passing a custom Agent.

I created an issue to create a better sample for this, but in the mean time, here is a link to a simple test that shows how it works: https://github.com/Azure/azure-cosmos-js/blob/290654dc4c75ec53d4558b9d438b14be44a1bef3/src/test/functional/client.spec.ts#L40-L45

[2019-06-04 19:51] #17088 closed

[2019-06-04 19:51] #24763 closed

[2019-06-04 19:52] #24856 closed

[2019-06-04 19:52] #26311 closed

[2019-06-04 19:52] #26566 closed

[2019-06-04 19:52] #31203 closed

[2019-06-04 19:53] #32138 closed

[2019-06-04 19:53] #32149 closed

[2019-06-04 19:53] #32262 closed

[2019-06-04 19:53] #32339 closed

[2019-06-04 20:03] MGoedtel commented on #32038
@jlarrow - This is because that was the version of the Kernel the PG had tested/validated and hence, why it reflects as such in the doc presently.  I'll be touching base with them later today and will inquire if they have validated against newer kernel versions for 18.04.  Thanks.

[2019-06-04 20:05] TravisCragg-MSFT commented on #32042
@kumarallamraju We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 20:05] #32042 closed

[2019-06-04 20:05] bennor commented on #32004
@danhamlin that doesn't show how to register it or how it gets injected. I think you left something out of your example.

[2019-06-04 20:09] MGoedtel commented on #32224
@javiermicrosoft - I've asked the PM to verify it it is relevant to LA and not just AI, as I would expect it to be and once I have confirmation, I'll update the issue and the article.

[2019-06-04 20:15] danhamlin commented on #32004
There is logging registered out of the box.  If you want to add additional logging providers you can use something like:
```builder.Services.AddLogging(loggingBuilder => loggingBuilder.AddNLog());```
You may or may not run into issues depending on the complexity of the logging you're adding.  For example there are issues logged around customizing application insights logging: https://github.com/Az

[2019-06-04 20:18] shekunsky opened #32716 "Limitation of Phrase Lists"
From documantation:
"The maximum number of Phrase Lists that the Speech Service will use to match speech is 1024"

1024 - it's a max number of  different Lists that can be added to recognizer or limit for words\phrases that can be added to recognizer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c3e4d66-e6fd-3ed1-f5

[2019-06-04 20:26] deosandeep commented on #31078
@lightupdifire Here is all that you need to do:
1) Make sure SCP entry is cleared from AD
2) Configure SCP on the client (in this case your 2x servers) using the client-side registry option mentioned above
3) If you are using AD FS, configure SCP on the AD FS itself using client-side registry option mentioned above

[2019-06-04 20:31] dejo-msft commented on #32377
The Azure Application Gateway integration instructions are located in the How-To guides in this document. https://docs.microsoft.com/en-us/azure/app-service/environment/integrate-with-application-gateway

[2019-06-04 20:43] Mike-Ubezzi-MSFT commented on #32441
@Ayanmullick Please consider the Azure CLI: **az sql failover-group** ([link](https://docs.microsoft.com/en-us/cli/azure/sql/failover-group?view=azure-cli-latest)) and Managed Instance specific Azure CLI: **az sql mi** ([link](https://docs.microsoft.com/en-us/cli/azure/sql/mi?view=azure-cli-latest)).

[2019-06-04 20:44] bstark23 opened #32718 "What to do when none of this works, you're a paying customer of Office 365 & Azure - the only admin - and can't reach anyone at Microsoft support because this doesn't let you get there? (And you can't disable billing or the services that cause this)"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-04 20:46] SnehaGunda commented on #26593
@tony-gutierrez Apologies for the long delay, but I submitted a doc update to improve the description and capture the maxItemCount functionality better. We will now close this issue if there aren't further questions.

#please-close.

[2019-06-04 20:49] Ayanmullick commented on #32441
@Mike-Ubezzi-MSFT  , I built my runbook in PowerShell with the Az. modules. Is there a tentative ETA for the availability of the cmdlets in the Az module?

[2019-06-04 20:51] kobulloc-MSFT commented on #32536
@ththiem We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-04 20:51] #32536 closed

[2019-06-04 21:04] femsulu commented on #31841
We will close this issue (for now) and update once we have an updated script from the script owner. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-04 21:04] #31841 closed

[2019-06-04 21:06] femsulu commented on #32038
We will close this issue (for now) and provide an update once we hear back from the feature owner/PG. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-04 21:06] #32038 closed

[2019-06-04 21:09] SaurabhSharma-MSFT commented on #32615
@maxgaulhofer I am not sure if any REST API is available to onboard Security Center, however, I am assigning this to the content author to help adding the steps to the document in case this is possible.
@rkarlin Can you please help.

[2019-06-04 21:14] RyanHill-MSFT commented on #32710
@JimXu199545 thank for your feedback. In regards to your question, Azure does automatically configure encryption. See https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption for more information on what's automatically applied and how you can add your own encryption to meet your data storage needs.

If there are further questions regarding this matter, please tag me in you

[2019-06-04 21:14] #32710 closed

[2019-06-04 21:15] RyanHill-MSFT commented on #32708
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-04 21:17] gregdegruy opened #32720 "Undocumented exit code"
I'm seeing an undocumented exit code of `132` what does this code mean?

![image](https://user-images.githubusercontent.com/8151045/58914458-65768b80-86d3-11e9-9dd9-d48f3d530006.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f

[2019-06-04 21:17] YutongTie-MSFT commented on #32716
@shekunsky Thank you for you feedback, we will investigate and get back to you soon.

[2019-06-04 21:19] YutongTie-MSFT commented on #32711
@tchmiel Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-04 21:20] rhurey commented on #32716
Well, that isn't clear enough. Thanks for catching it.

It's 1024 phrases. There is a single PhraseListGrammar per recognizer.

[2019-06-04 21:21] SnehaGunda commented on #26592
@tony-gutierrez Apologies for the delay on this. "The maxItemCount property shouldn't be used just for pagination purpose. It's main usage it to improve the performance of queries by reducing the maximum number of items returned in a single page." I have added this as a note to the doc.

Skip/take functionality is supported within the SQL queries for pagination purpose. here is a short description

[2019-06-04 21:23] shekunsky commented on #32716
Thanks!

[2019-06-04 21:24] SnehaGunda commented on #29740
@kvbreddy can you please respond to Matia's comment about SDK version. Because this isn't a doc issue, can you please send an email to askcosmosdb@microsoft.com alias? we can help you debug quicker.

[2019-06-04 21:28] Jscholtes128 opened #32721 "404 Error using ContentType 'App/xxxx'"
Thanks for the code sample, love it! Had a small issue initially; failed to detect language, translate and spell check using abbreviate content type 'app'.  Was receiving 404 error until modified 'app' to 'application'  (application/json & application/x-www-form-urlencoded).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-06-04 21:28] femsulu commented on #32688
Unfortunately,  not aware of any **supported** workaround but adding @rayne-wiselman to confirm.
You are welcome to [share feedback directly](https://feedback.azure.com/forums/256299-site-recovery) with the ASR team for consideration if this is a scenario you would like to see supported in the product.

[2019-06-04 21:28] #32688 closed

[2019-06-04 21:29] Karishma-Tiwari-MSFT commented on #32714
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-04 21:29] YutongTie-MSFT commented on #32716
@shekunsky I have created a PR to make it clear. Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-04 21:29] #32716 closed

[2019-06-04 21:30] RyanHill-MSFT commented on #32707
Thanks for the feedback @nerddtvg. We've made the necessary corrections to this doc and have a pending pull request for it.

[2019-06-04 21:30] #32707 closed

[2019-06-04 21:33] JakeSmillie opened #32722 "Output - JavaScript - Creates Request but no messages"
When i try the JavaScript out examples (single message and multiple messages), no messages are created in the Event Hub. In the metric logs of the Event Hub I can see many requests being made, but no messages are generated.
When i use the same config and use C# Script exampled it works fine. Is there something in the Connection string that needs to change for JavaScript? What am i missing?

---
##

[2019-06-04 21:43] StarkCaptain commented on #31141
This is a conflicting statement with the Visual Studio team though.

https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/

Running performance tests using the Azure portal (performance test option in App Services and Application Insights blades): These options will no longer be available after March 31st, 2020.

How are you are going to support .webtest files when the Visual

[2019-06-04 21:47] jordanmills opened #32723 "This doesn't work."
Run this:
Get-AzRoleDefinition | FT Name, IsCustom

Get this:
Get-AzRoleDefinition : The current subscription type is not permitted to perform operations on any provider namespace. Please use a different subscription.

I'm using a GA account, tried it both not elevated, then elevated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-04 21:52] jackbond opened #32724 "Enable preview"
When I click "Create a Resource" and then enter "Event Hubs Clusters" it doesn't show a "Create Cluster" option. If the preview is something that needs to be requested, directions for that should be included on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f827bf44-6c6d-9ef6-23ee-780b2a263998
* Version Inde

[2019-06-04 21:55] robinsh commented on #32681
@nelsonavanade Thanks for your feedback. The "test" button on the message & routing pane is for testing a specific message. You can fill in all the fields, and a message body, and it will test the query and make sure your data format will work. It has nothing to do with testing the overall routing or sending messages. To do that, you need to look at part 2 of the tutorial, and run the Simulated De

[2019-06-04 21:57] robinsh commented on #32624
@lciocci You can e-mail me at robin dot shahan at microsoft dot com, and I will forward to Ashita, who can then respond to you directly.

[2019-06-04 22:26] mmacy commented on #30600
@Mike-Ubezzi-MSFT Hi Mike, the backing code sample referenced in this article has been updated to use msal.js 1.0.0 (see [#26 B2C msal js api changes](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/pull/26)). Next step is to update  this article to reflect changes in the sample--please reassign this one to me, thanks.

Cc: @aszalacinski

[2019-06-04 22:27] mhopkins-msft commented on #14875
@RahnL @CheetahChrome - The reason that we use environment variables is because we don't want people to just copy and paste credentials into shipping code. That would include configuration files. So, we've created this redirection scheme using environment variables. This way the credentials stay on the machine and are not passed around in the code or config files. Thanks again for your feedback!

[2019-06-04 22:28] kobulloc-MSFT commented on #31141
@StarkCaptain I realize it can be a bit confusing, but Visual Studio 2019 will be the last version of Visual Studio with the deprecated features mentioned in the blog.  You can, however, continue to use Visual Studio 2019 well after March 31st, 2020 (see quote below).

Some of the cloud-based load testing services will go offline after March 31st, 2020 (the blog focuses on DevOps services), but Ap

[2019-06-04 22:37] SnehaGunda commented on #26595
@tony-gutierrez Chris has another issue on the nodejs repo to track this, so we will close this issue. And in the meantime, you can look at the code in test cases for examples.

#please-close

[2019-06-04 22:44] Alberto-Vega-MSFT commented on #32720
@gregdegruy Thanks for reaching out! Is your issue related to these?
https://github.com/Azure/iotedge/issues/22
https://github.com/Azure/iot-edge-v1/issues/647

[2019-06-04 22:45] ShengChenMSFT commented on #32412
When I call the https request (by post) the error shows below,

Error: [('SSL routines', 'ssl3_get_record', 'wrong version number')]

Any insights?

[2019-06-04 22:47] carteixeira opened #32725 "Missing information about Service Tag for VirtualNetwork"
VirtualNetwork service tag also includes 168.63.129.16 (Azure Load Balancer IP).
Documentation should be updated to reflect this.

![image](https://user-images.githubusercontent.com/20302679/58918740-3111c800-86f1-11e9-818b-d1240b99cd98.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c02

[2019-06-04 22:48] SnehaGunda commented on #32684
@ThomasWeiss looks like the user created a MongoDB API account, the image has new shell button, which is available for MongoDB.

We don't expose Indexing settings through Azure portal for MongoDB API accounts, right? I just cross-checked for one of my accounts and don't see them too.  can they only get the details from Shell commands?

[2019-06-04 22:50] iainfoulds commented on #26716
As this work is still on-going in AKS, the best practice recommendation has been removed from the docs to reduce confusion. When AKS natively supports Docker content trust, we'll update the docs accordingly.

@Karishma-Tiwari-MSFT For now, #please-close

[2019-06-04 22:53] danimir commented on #32532
@KalyanChanumolu-MSFT - This has been completed.
#please-close

[2019-06-04 22:56] TylerMSFT commented on #32552
Hi,
I don't think it's true that 1903 (10.0.18362) is not supported. I think something else went wrong in @srv-twry's journey. Following the doc works fine for me.
#please-close

[2019-06-04 23:00] Grace-MacJones-MSFT commented on #32461
Hi @wpitallo, thanks for your patience. When using Azure SiganlR, there is no need to create a backplane. One single Azure SignalR can support 100 units. You can also leverage “sharding” if you want to scale larger than 100 units. https://github.com/Azure/azure-signalr/blob/dev/docs/sharding.md

Hope that helps!

We will now proceed to close this thread. If there are further questions regarding th

[2019-06-04 23:00] #32461 closed

[2019-06-04 23:08] Alberto-Vega-MSFT commented on #32529
@MikeChemi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-04 23:08] Mike-Ubezzi-MSFT commented on #32532
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-04 23:08] #32532 closed

[2019-06-04 23:12] RyanHill-MSFT commented on #32086
@jwargo cstone isn't coming up as valid alias so I was hoping you or @cephalin would know who to the assign this to.

[2019-06-04 23:17] kobulloc-MSFT commented on #32696
@Swimburger Thank you for the suggestion!  I'll pass this along to the document author.

[2019-06-04 23:18] SnehaGunda commented on #32353
@Mike-Ubezzi-MSFT I think I can get the screenshots from my account will reach out to you if needed.

[2019-06-04 23:19] YutongTie-MSFT commented on #32721
@Jscholtes128 Thank you for your feedback, I will investigate it and get back to you soon.

[2019-06-04 23:26] Eilon opened #32727 "Include a link to the "Debug snapshots on exceptions in .NET apps" doc"
This page could use a link to https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger, which from within App Insights is the main page on using Snapshot Debugger with .NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279763aa-b638-e2bc-cdb8-52c7bfe426ee
* Version Independent ID: df3a411a-b8da-fccb

[2019-06-04 23:28] MikeChristensen opened #32728 "Where exactly are logs written to"
The sentence "The file output is written to the application folder called log on the cluster node where the application is deployed and run." is unclear.  Where exactly is this directory located and what is the actual file called?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e51338d-3a2f-8cc0-879f-8e360c1a9fd7
* Ver

[2019-06-04 23:30] femsulu commented on #32723
@jordanmills Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-04 23:31] Eilon commented on #32727
And perhaps remove the link from this page to Working with Application Insights in Visual Studio https://docs.microsoft.com/azure/application-insights/app-insights-visual-studio, because it doesn't seem relevant. This page is about Snapshot debugger, whereas the page it currently links to is not.

[2019-06-04 23:37] shraboin opened #32729 "Clarity on scenerios"
Say I want a user to be able to list contents in the root but not any nested folders. Would below be the set up?
Operation	                         /	  Oregon/       Portland/	      Data.txt

List only / & not sub folders	R--	       ---	            ---	           ---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d29f

[2019-06-04 23:37] Karishma-Tiwari-MSFT commented on #26716
Thanks @iainfoulds
@bramvdklinkenberg
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-04 23:37] #26716 closed

[2019-06-04 23:39] mike-urnun-msft commented on #32705
Hi @nickwalkmsft Thank you for your feedback! We will review and update as appropriate.

[2019-06-04 23:40] mike-urnun-msft commented on #32722
Hi @JakeSmillie Thank you for your feedback! We will review and update as appropriate.

[2019-06-04 23:44] Karishma-Tiwari-MSFT commented on #32728
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-04 23:44] MarileeTurscak-MSFT commented on #32702
@xom-pschiess this is noted in the FAQ that is linked, but I agree that a small note may be helpful in the B2C section. Assigning this to @curtand to look into.

[2019-06-04 23:50] dcbrown16 opened #32730 "Document "Email Azure Resource Manager Role""
I understand that the checkbox and dropdown for emailing Azure Resource Manager roles when creating an action group emails everyone with a certain RBAC role. That setting should be described here.
We could also use some details on how it works. If Abe is a Contributor for the subscription, Becky is a Contributor for Resource Group 1 only, and Charlie is a Contributor for Resource Group 2 only, who

[2019-06-04 23:51] MarileeTurscak-MSFT commented on #32702
@xom-pschiess This is noted in the FAQ that is linked but I agree that it could be helpful to have a note in the description about this. I made a pull request for review by @curtand https://github.com/MicrosoftDocs/azure-docs-pr/pull/78765

[2019-06-04 23:51] #32702 closed

[2019-06-04 23:52] femsulu commented on #32723
@jordanmills - can you let me know what type of subscription you are using for this test? Enterprise, Free trial, Agreement, Pay2Go, Azure in Open etc.
Reference: https://azure.microsoft.com/en-us/support/legal/offer-details/

[2019-06-04 23:53] MarileeTurscak-MSFT commented on #32575
@vultureman most of this is discussed in the authentication scenario documentation. https://docs.microsoft.com/en-us/azure/security/azure-ad-choose-authn

I'm assigning your feedback to @MicrosoftGuyJFlo to look into your comments.

[2019-06-04 23:53] robinsh commented on #32693
Thanks @sergaz-msft for referring this to me. I'm looking for the answer, and will respond as soon as I have the correct answer. I suspect the message size limit is for both the hub and the device connected to it, when sending messages from the cloud to the device,. And the 50 messages would be per device (50 seems very small for a hub, since a hub can have a million devices attached to it. Anyway

[2019-06-04 23:58] Karishma-Tiwari-MSFT commented on #32442
@emsi Can you please provide details on which step are you seeing this? Please let me know.

[2019-06-05 00:06] femsulu commented on #32336
@alokchhatry as stated in the FAQ, this is currently unsupported. If this is a scenario that you would like to see supported, please share [feedback directly](https://feedback.azure.com/forums/256299-site-recovery) with the feature owner for review and consideration in a future milestone. This also allows the uservoice community to upvote to help with prioritization.

We will now close this issue.

[2019-06-05 00:06] #32336 closed

[2019-06-05 00:27] TravisCragg-MSFT commented on #32692
@douglasgaigher Thanks for the feedback! The changes have been made, and should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-05 00:27] #32692 closed

[2019-06-05 00:30] KranthiPakala-MSFT commented on #32699
@pratapsp99 Thank you for the reaching out. At this time we are reviewing your request and will update you soon.

[2019-06-05 00:35] KranthiPakala-MSFT commented on #32699
@pratapsp99 When you say white paper, are you looking for a [similar](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-portal) Microsoft document to implement the incremental load from Hive to SQL PaaS?

[2019-06-05 00:37] TravisCragg-MSFT commented on #32725
@carteixeira Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-05 00:44] MartinJaffer-MSFT commented on #32724
Hello @jackbond  and thank you for your inquiry.  To enable the Event Hubs dedicated cluster, you need to speak to the Event Hubs team, [email address linked here](askeventhubs@microsoft.com).

These directions are near the top of the doc page, in a purple box.
![image](https://user-images.githubusercontent.com/46612670/58922531-27d42b80-86f0-11e9-812a-7ce13901750a.png)

Please let me know if you

[2019-06-05 00:47] #32724 closed

[2019-06-05 01:05] jordanmills commented on #32723
Enterprise agreement

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Tuesday, June 4, 2019 6:52:35 PM
To: MicrosoftDocs/azure-docs
Cc: Jordan Mills; Mention
Subject: Re: [MicrosoftDocs/azure-docs] This doesn't work. (#32723)

@jordanmills<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjordanmills&data=02%7C01%7C%7C815d2f7c0ca94e

[2019-06-05 01:11] hiromingithub commented on #32329
Hi Jason,

Thank you for your kind reply and suggestion.

Yes, It’s good to put a footnote 350 is the default for customers with an Enterprise Agreement.
This is not documented anywhere publicly.

We’re Azure support engineers who can see the default limits in our tool and the document shared with you,
and handle the quota increase requests.
This time, a Premier support customer with EA complains

[2019-06-05 01:18] bwren commented on #32254
We know this is a gap and are working with the engineering team to provide a reference like this.  I don't have an ETA since this requires work on the engineering side, but it already is an open work item.  In the meantime, there are some references for some of the ones you mentioned at articles linking to https://docs.microsoft.com/azure/azure-monitor/platform/agent-data-sources.  Not a central r

[2019-06-05 01:18] bwren commented on #32254
#please-close

[2019-06-05 01:42] MikeChristensen commented on #32728
Looks like the logs are written out to `D:\SvcFab\_App\Frontend_App12\log` (where the numeric part, 12 in this case, increments on each deployment.)  It appears it keeps a few directories around for previous deployments, but does clean then up eventually.  The files it writes to are `Code_ApiPkg_S_0.err` (the stderr output) and `Code_ApiPkg_S_0.out` (stdout).  `Frontend` is the name of my applicat

[2019-06-05 01:45] KalyanChanumolu-MSFT commented on #32660
@HJToland3 Is there a specific issue we can help you with?
you can @mention individuals with their Github login to send them a notification.
We will close this issue now. If there are any further concerns, please comment and let us know.

[2019-06-05 01:45] #32660 closed

[2019-06-05 01:45] zezha-msft commented on #20288
Hi @ckarras, thanks for the additional context.

AzCopy was massively improved since this issue was posted (it's now GA instead of preview), so I'd highly recommend trying the latest version, as it deals with service throttling (page blobs) in a much better way, and failures should be very unlikely.

As for the MD5, you are referring to the stored MD5 value, which must be set by the **client/AzCop

[2019-06-05 01:46] ram-msft commented on #32321
@SeaDude We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-05 01:46] #32321 closed

[2019-06-05 01:49] KalyanChanumolu-MSFT commented on #32545
@tauqirghani Its been a while we heard from you.
We will close this issue, if you have further questions, feel free to reopen :-) 

[2019-06-05 01:49] #32545 closed

[2019-06-05 01:50] HJToland3 commented on #32660
Yes - I am trying to determine if the changes we made to the account for @pochiraju are sufficient for this item to be routed to him. We had problems with this in the past. Can you let me know if this worked?

[2019-06-05 01:50] HJToland3 commented on #32660
@KalyanChanumolu-MSFT, just to ensure that you see my comment above.

[2019-06-05 01:51] KranthiPakala-MSFT commented on #32683
@0GiS0 Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-06-05 01:51] KranthiPakala-MSFT commented on #32683
@linda33wj I was able to repro and there is an issue with 'AcquireToken'. The document needs to be updated to use "$result = $AuthContext.AcquireTokenAsync("https://management.core.windows.net/", $cred).GetAwaiter().GetResult()". Could you please take a look at this.

[2019-06-05 01:53] iamsop opened #32732 "Example doesn't work with Azure blob containers"
The example says to "Upload the data to the root of an Azure Blob Storage account."  It seems like we have to create a container within the blob first, before we can upload files. With that, the api call fails with "Unable to list blobs on the Azure Blob storage account." Is there another option of generating the correct SAS URL?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-06-05 02:07] ckarras commented on #20288
Hi @zezha-msft,

What do you mean by "failures should be very unlikely"? The examples are provided are all due to external factors that are out of azcopy's control. Are you saying that with the latest version, I should be able to, for example:
* Start transferring a large file using azcopy
* During the transfer, do one of these:
   * Disconnect my network cable, long enough for the connections to

[2019-06-05 02:26] KranthiPakala-MSFT commented on #32619
@satyajitps The activities are not implicitly dependent, only if ActivityA fails then AcitivityB (note: this is when ActivityB "dependencyCondition": ["Succeeded"]) won't get executed. If ActivityA succeeds, no matter what data it output, then ActivityB starts.

[2019-06-05 02:35] deFRAGerNZ commented on #32259
Adding to this -

The part that says 'To disable MFA, use this script:' has this code below:

Get-MsolUser -UserPrincipalName user@domain.com | Set-MsolUser -StrongAuthenticationRequirements @()

This should be -StrongAuthentationMethods . I've run a test, StrongAuthenticationRequirements can be blank with StrongAuthenticationMethods set. Blanking StrongAuthenticationRequirements does nothing, whi

[2019-06-05 02:40] dcbrown16 opened #32733 "System endpoint routing"
It doesn't seem like the "How Azure selects a route" section adequately explains the impact of service endpoints. My understanding is that service endpoints are basically always the top priority and basically can't be overwritten. This is explained on the service endpoint page as follows.
"Service endpoint routes override any BGP or UDR routes for the address prefix match of an Azure service."

Th

[2019-06-05 02:40] ckarras commented on #20288
About the MD5, since you mention a "put range call", I see you're talking about the case where azcopy is being used to *write* a page blob (copied from another blob or from a local file). In that case, the MD5 that should be calculated is the one from the *source* file, not from the destination file, which will of course change as the file is being written.

So the cases would be:
1. Azcopy copies

[2019-06-05 03:22] MikeChristensen opened #32735 "Select principal doesn't show VMs"
When I click "Select principal", I basically just get a list of Azure AD accounts such as people in my company.  I don't see any sort of VMs or anything.  My VM was created by Service Fabric, and is called HTTP000001.  Is there anything special you have to do to grant access to VMs created in a Service Fabric cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-06-05 03:24] MikeChristensen commented on #32735
Oh, I think I figured this out.  It's listed under the name of the node type in the Service Fabric cluster.  So, in my case it's under HTTP.  Perhaps the docs could be updated to reflect this.

[2019-06-05 03:34] hukun01 opened #32736 "Do I still need osProfile.secrets in my template?"
After following the step2 in the instructions, I have cert common name in my virtualMachineProfile.extensionProfile's ServiceFabricNode.settings.certificate section. Do I still need the virtualMachineProfile.osProfile.secrets that is referring to a versioned secret url of the cert in my key vault? I want to get rid of this versioned secret url, because it is the last parameter that prevents us fro

[2019-06-05 03:40] jderus commented on #31766
@KalyanChanumolu-MSFT
Perhaps I am missing context here....

What is confusing is that the Scope seems to indicate a database, but then the query seems to be ignoring that database context. Is that correct?

If so, that seems a little counterintuitive.
If not, can you please clarify the context of your provided example?

[2019-06-05 03:44] #32552 closed

[2019-06-05 03:47] MicahMcKittrick-MSFT commented on #32718
@bstark23 thanks for reaching out. Please open an issue directly on the doc you are referring to so we can better assist.

[2019-06-05 03:47] #32718 closed

[2019-06-05 03:49] MicahMcKittrick-MSFT commented on #32736
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:49] MicahMcKittrick-MSFT commented on #32735
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:50] MicahMcKittrick-MSFT commented on #32733
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:50] MicahMcKittrick-MSFT commented on #32730
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:51] MicahMcKittrick-MSFT commented on #32727
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:51] MicahMcKittrick-MSFT commented on #32729
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:52] MicahMcKittrick-MSFT commented on #32732
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 03:56] csamleong commented on #32676
Hi @sergaz-msft,

i got it working after following the configuration in your given link.

Thanks!

[2019-06-05 04:04] #26592 closed

[2019-06-05 04:05] #26593 closed

[2019-06-05 04:05] #26594 closed

[2019-06-05 04:05] #26595 closed

[2019-06-05 04:06] #30187 closed

[2019-06-05 04:06] #32137 closed

[2019-06-05 04:06] #32254 closed

[2019-06-05 04:06] #32386 closed

[2019-06-05 04:07] #32674 closed

[2019-06-05 04:46] ac2707 commented on #32324
@AshokPeddakotla-MSFT  env variables are at the correct location and with the correct file name.. created new resources for this with the correct subscription as well. Microservices don;t seem to start . screenshot attached earlier - can you provide more details for the microservices? and also, the env file has 3 entries as sgown in the screenshot attached earlier - anything else that should be ad

[2019-06-05 05:22] vidarkongsli commented on #32687
Thank you for your response. The case at hand is that I am trying to provision a new database and granting access to a web app via its managed identity. I am trying to have this done in an Azure DevOps release pipeline. To grant access to the MSI, the session with Azure SQL needs to be initiated using AAD authentication. With assignint the dbcreator role to the AAD app, it is allowed to privision

[2019-06-05 05:31] dcbrown16 opened #32740 "Move image info to text"
For localization and search purposes, please take the image from the comparison image and make an actual table in the document. Microsoft does not localize images so this important information is not available to international audiences. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925

[2019-06-05 05:31] dcbrown16 commented on #32740
The last image is difficult to read on dark theme, also.

[2019-06-05 05:32] radicalhqer commented on #15833
Could you please elaborate more on the specifics. It still wont work for me. The whole point of Cognitive Services API is to use it in PowerBI web not in desktop mode.

[2019-06-05 06:06] wpitallo commented on #32461
Hi @Grace-MacJones-MSFT, thaks but that was not the question tho. I wanted to find out how caching works across instances?

[2019-06-05 06:11] lightupdifire commented on #31078
@SanDeo-MSFT

So if we have:

- On-premise domain;
- Azure AD domain;
- In between AD Connect & ADFS & WAP etc.
- ~10x Windows 10 on-premise domain joined devices
- ~50x Windows 2016+ on-premise domain joined devices (running DC, ADFS, WAP etc.)
- ~240 Windows 2012 R2 and lower on-premise domain joined devices

Our plan is to use only "Down-level" solution now.

Our action would be:

1. Make sure

[2019-06-05 06:13] tdihp commented on #32608
@iainfoulds Hi Lain, Thanks for your inforamtion.

To be fair, The capabilities listed to be Azure CNI is also *customization of the infrastructure* (i.e. customizing vnet). Help me understand why we are able to clearly specify those of Azure CNI, but not in kubenet? Since customizing kubenet vnet is allowed now (I understand it wasn't before), implying higher level features of vnet works in one b

[2019-06-05 06:31] juntakata opened #32741 "Explanation needed for "Allow trusted Microsoft services to bypass this firewall?""
If [Yes] is enabled for "Allow trusted Microsoft services to bypass this firewall?", access to key containers from trusted services  bypasses firewall settings. However, the trusted services are limited to specific operations as described below. Could you add the same contents to this page?

https://azidentity.azurewebsites.net/post/2019/01/03/key-vault-firewall-access-by-azure-app-services

---
#

[2019-06-05 06:33] dcbrown16 opened #32742 "Clarify action group option"
If choosing action group (not suppression), the example implies that this REPLACES any other action groups that might be triggered at the action rule's scope, instead of ADDITIONALLY triggering that action group. If that's the case, can this be spelled out clearly in the "suppression or action group configuration" section?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-05 06:36] GeoLiu commented on #32608
@tdihp , yes, I agreed another documentation article choose-a-network-model-to-use is more neutral

@iainfoulds,  when creating an AKV Cluster with Kubenet on a custom VNET, assuming we don't change the AKS auto-generated resource in MC resource group, the VNET Service Endpoint should be a supported scenario in this case, right? We did have a MS Support Ticket with Product Team to confirm this sup

[2019-06-05 06:39] SychevIgor opened #32743 "Update description and screenshot of Data Usage"
Shortly, as of today, we can "click on the icon at the top right " as was mentioned in this guide, because this icon not exist in a current version of azure portal.
Please, update screenshot and text under it to address latest portal expirience.

As an enrichment, please add queries from screenshot as a text, because it will save some time for users and prevent manual typing.
"Usage
| where TimeGe

[2019-06-05 06:44] jakubkirylo commented on #32684
Yup, I can confirm. Indexing policy is visible when you setup Azure Cosmos DB resource as Core(SQL) API and it's not when you use Azure Cosmos DB for MongoDB API.

[2019-06-05 06:51] mma-mm commented on #32668
I tried 1.5.0 and 1.8.1 with Linux and Windows. The problem occurs with all of them.

[2019-06-05 06:52] ac2707 commented on #32479
@AshokPeddakotla-MSFT  can you please have someone look into this issue - couldn't tag you on the originial issue link.

[2019-06-05 06:55] ac2707 commented on #32324
as per documentation - "Each web service opens a command prompt and web browser window. At the command prompt, you see output from the running service, and the browser window lets you monitor the status. Don't close the command prompts or web pages, this action stops the web service." But while running, these command prompts and web pages close on their own - cmd screenshot included in the first t

[2019-06-05 06:57] b47on opened #32744 "Supported operating systems"
Support for windows 2019 has been anounced on April 8, 2019
https://blogs.msdn.microsoft.com/azureservicefabric/2019/04/08/azure-service-fabric-6-4-refresh-release-5/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf3d8a2f-e43e-0ab1-e367-e9eef4ed68b9
* Version Independent ID: 1221d230-b62d-2527-3b91-136229a5af4b
* Cont

[2019-06-05 07:03] kobulloc-MSFT commented on #32727
@Eilon Thank you very much for the suggestion!  I've passed this along to the author and they will review this as they update the documentation.

[2019-06-05 07:15] SubhashVasarapu-MSFT commented on #32740
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-05 07:16] kobulloc-MSFT commented on #32727
@We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-05 07:27] vidarkongsli commented on #32687
Actually, I am now able to connect to the new database with the AAD application (which I have verified is in fact dbo for the new database). With the connection it makes to the database, it tries to add an MSI for an Azure Web app as a user of the database:
[code]
But this operation fails with `Principal '<web_app_name>' could not be found at this time. Please try again later.`

[2019-06-05 07:30] XiaochuanTang opened #32746 "Logs from nvidia-gridd shows wrong message after I go through this guide"
I followed the instructions for CENTOS76, yet got the following wrong message from `service nvidia-gridd status`
Jun 05 16:36:00 CMS-AU-CENTOS76 systemd[1]: Started NVIDIA Grid Daemon.
Jun 05 16:36:00 CMS-AU-CENTOS76 nvidia-gridd[5805]: Configuration parameter ( ServerAddress  FeatureType) not set
Jun 05 16:36:00 CMS-AU-CENTOS76 nvidia-gridd[5805]: Unable to open directory /etc/nvidia/license (No

[2019-06-05 07:36] mohsena67 commented on #15833
Radicalhqer,
Yes but you need to build your reports in Power BI Desktop first then you publish it to the web / Power BI Service. Update permission levels of all tables connected to the API cognitive service function/table, to “public”. First do this in the Desktop, then once published you can do this in the Web / Power BI Service ...

[2019-06-05 07:38] colwin commented on #12032
@ericnewton76 @cephalin Any update on this? I'd also like to exclude old autogenerated timestamped log files from the backup.

[2019-06-05 07:39] SaurabhSharma-MSFT commented on #32630
@jeevansd can you please help.

[2019-06-05 07:48] Jorrit05 commented on #27791
I was having the same issue: "User is not authorized to query the management service". What worked for me was go to:
Active Directory -> Enterprise Application -> Windows Virtual Desktop -> Users and Groups

In the role assigned column all my users where listed as "TenantCreator" but when actually clicking on the user that role was not assigned. So I assigned the role again and it worked.

Per cha

[2019-06-05 07:54] jjindrich commented on #32688
Thank you, posted new https://feedback.azure.com/forums/256299-site-recovery/suggestions/37830658-replication-cross-geopolitical-regions

[2019-06-05 07:55] mishas23 commented on #14325
Hi Mike, I would like to reconfirm this question. I am about to implement http trigger based azure function v1.0 as one one of the event grid subscription and had the same question what https://github.com/girishacharya had. Can you please let me know the current state

[2019-06-05 07:59] mariojacobo opened #32747 "Node restart"
The documentation states the following: "With the node cordoned off, running pods are drained from the node, and the node is rebooted."

What I can't seem to understand is, what happens if the other nodes cannot pick up the slack ? Will AKS add another node to compensate for it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-05 08:01] AshokPeddakotla-MSFT commented on #32579
@IotCore-Developer Did you get a chance to see the above response?

[2019-06-05 08:02] AshokPeddakotla-MSFT commented on #32611
@maurert  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-05 08:22] Anmolgan81 opened #32748 "What I need to do in order to activate azure Hybrid Benefits?"
What needs to be done in order to activate azure hybrid benefits?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database advanced data security overview](https://docs.microsoft.com/en-us/azure/sql-

[2019-06-05 08:37] iamandymcinnes commented on #28776
Is there any update on the CLI, I've not seen any clear documentation as yet and the following just errors:
az storage account management-policy create --account-name account --resource-group resource --policy roles/storage/cleanup-rule.json

Using the first Json example off this page results in an error:

Management Policy rule is not valid. Error: Could not find member 'enabled' on object of typ

[2019-06-05 08:49] Anmolgan81 opened #32749 "Do this page also valid for azure managed instances?"
The topic that talks about differential, full, and transnational backups taking place also valid for azure managed instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database automatic, geo-re

[2019-06-05 09:02] #29269 closed

[2019-06-05 09:16] Mikli opened #32750 "Why to define "Check for attachments" step at all?"
It seems that emails containing attachment are already filtered by "Monitor incoming email" step and setting "Has Attachment" property to "True".

[2019-06-05 09:19] Mikli opened #32751 "Why to define "Check for attachments" step at all?"
It seems that emails containing attachment are already filtered by "Monitor incoming email" step and setting "Has Attachment" property to "True".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 771c44cc-a284-0c97-dae3-218e7319018f
* Version Independent ID: e4b73a57-0c44-2453-2baa-7652bbbafc51
* Content: [Tutorial - Auto

[2019-06-05 09:20] #32750 closed

[2019-06-05 09:22] DeanGross opened #32752 "Application to new groups"
Please add some information about how this policy can be/is applied when new groups are created. I assume that if it is set to All then new Groups get the policy and if it set to selected that they don't, but this is not stated so I'm not totally sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d

[2019-06-05 09:29] iamandymcinnes commented on #28776
I found my answer here, the schema requires a version and the enabled property needs removing from the rule:
https://github.com/Azure/azure-cli-extensions/blob/d253befbbfdbf26b4488195e698ded7f41332534/src/storage-preview/azext_storage_preview/tests/latest/mgmt_policy.json

[2019-06-05 09:46] AleksCallebat opened #32753 "Typo in "from azureml.accel.client import PredictionClient""
PredictionClient is in from azureml.accel, not in azureml.accel.client (link : https://docs.microsoft.com/en-us/python/api/azureml-accel-models/azureml.accel.predictionclient?view=azure-ml-py)

"from azureml.accel import PredictionClient"
 works, on my machine at least :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-05 09:47] msrini-MSFT commented on #32733
@malopMSFT , @KumudD .

LPM always takes precedence in general and the precedence of UDR, BGP and system routes comes into picture when the address space are same.

The Note section seems to be bit contradictory. Can you provide more clarity on those statements?

[2019-06-05 09:54] pelithne opened #32754 "Terminology difference in this page vs current portal etc"
This article seems to have some mixups in naming, like when the Tasks container  is sometimes called "taskDatabase" and sometimes "tasks".

I would have loved to propose changes, but Im preparing for a demo, and I don't have the time. Anyway, I think this document needs a fairly big rewrite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-06-05 10:07] emsi commented on #32442
Yes. Basically I followed the instructions.
From page:
https://docs.microsoft.com/en-us/azure/virtual-desktop/overview
I went to:
https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-web
Then I was instructed to:

Hence clicked on the link:
https://rdweb.wvd.microsoft.com/webclient/index.html
then I chose my account that I use to manage azure resources and that's it. The error pops sayin

[2019-06-05 10:13] banisadr commented on #14325
Hi @mishas23, we still only pass events to Functions in an array of one - as we add batch functionality, we will work on the best way to handle partial failures.

[2019-06-05 10:16] #32733 closed

[2019-06-05 10:24] payalgaikwad42 commented on #27490
Hi @gowthamsans

Can you please provide any sample of your custom policies which uses language support using Localization technique?

I am new to custom policies . I am trying to provide Chinese language support for our client but it gives me error as: One of the request inputs is out of range.[400]
this is my blob URL of custom UI :
https://smarthomestgdev.blob.core.windows.net/en/b2cpagelayout/s

[2019-06-05 10:30] jholopainen opened #32756 "Clarify differences between Consumption and other tiers"
I was very dissappointed to find out that the Consumption tier doesn't seem to have following features. They seem to be missing at least from Azure Portal. Are them missing from Consumption tier or is the Portal UI just hiding them?
1. Static Public IP
2. Upgrade Tier (Scale and pricing)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-05 10:35] payalgaikwad42 opened #32757 "Not able to provide language support in B2C custom policy"
Hi,
I am using custom policies to enable mobile number authentication in my mobile app.
I have used custom UI files to manage the UI of the policies using blob storage as given in the following link:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom

Now i want to give support to Chinese language for sign in, sign up and password reset policy.

[2019-06-05 10:56] wpitallo opened #32758 "Is IMemoryCache cache, shared across units"
What happens with caching, is IMemoryCache cache, shared across units or would you need to use a cache like Redis if you wanted to caching across units?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f191582-0cbe-ef99-5f0c-781365f47b0b
* Version Independent ID: db0c0d78-228a-94b2-312f-e1a1a248ca99
* Content: [Scale AS

[2019-06-05 11:17] cowinr opened #32759 "Screenshot does not match following descriptions"
In the "Authorization behavior" section the screenshot and descriptions of the options do not match.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645df-ef21-4631-1744-7014b3ee681a
* Content: [Authentication and authorization - Azure App Service](https:

[2019-06-05 11:22] SubjectiveKirby opened #32760 "Path to subscription DLQ incorrect"
In the 'Path to the dead-letter queue' section, for topics it reads:
&lt;topic path&gt;/Subscription/&lt;subscription path&gt;/$deadletterqueue
but after a lot of struggling to get this to work, I found on other blogs that the correct path should be:
&lt;topic path&gt;/Subscriptions/&lt;subscription path&gt;/$deadletterqueue (note Subscription has become plural).

This then allowed me to access th

[2019-06-05 11:22] SadiqhAhmed-MSFT commented on #32301
@dcbrown16 Appreciate your patience and time and thanks for bringing this to our attention. We have deprecated the old OMS docs. Closing this for now and if you've any concerns in this matter, tag me in your reply and we shall continue the discussion.

[2019-06-05 11:22] #32301 closed

[2019-06-05 11:23] yuharucan opened #32761 "The explanation about autoscale is unclear."
"Occasionally, load balancing automatically occurs if the machine is unable to satisfy resource demand within a few minutes. The database remains online during load balancing except for a brief period at the end of the operation when connections are dropped."
For example, if 2vcore resource is unable to satisfy workload and more 2vcore can not be assigned within a few minuts, 4vcore on other machi

[2019-06-05 11:37] mengjoel opened #32762 "secret token"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-05 11:38] SadiqhAhmed-MSFT commented on #32173
@shrirampophali Here is the link https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-create-azure-support-request to create support case.

[2019-06-05 11:38] #32173 closed

[2019-06-05 11:44] ac2707 commented on #32337
@Alberto-Vega-MSFT - any leads on this ?

[2019-06-05 11:45] ac2707 commented on #32322
@v-krghan - can you please advise on this - maybe add more detailed steps with a few screenshots.

[2019-06-05 11:54] cskinfill commented on #27603
Can we route stdout and stderr to azure event hub?  That would help with routing logs somewhere.

[2019-06-05 12:27] deasonuk commented on #27693
Has Outbound service tags for NSG now been introduced as a feature? I'm right in saying this would mean you can limit outbound addresses to only known management endpoints in an Internal ASE?

[2019-06-05 12:32] agnaldocarmo commented on #12263
I've followed this steps and investigating resulted as bellow, I discovery that Sql DW in this method does not accept special character(s):
![image](https://user-images.githubusercontent.com/8115426/58956457-c609d500-8774-11e9-976e-4c817f7bc78d.png)

[2019-06-05 12:33] martonborbely opened #32763 "bug in js code"
there is a bug in the onLockDoor function:
if (!err) {
            console.error('An error occurred when sending a method response:\n' + err.toString());
}
this throws an exception, since err is null, and toString is called.
Problem solved removing the negation, code worked fine.

Right solution:
var onLockDoor = function(request, response) {

    // Respond the cloud app for the direct method

[2019-06-05 12:42] jwargo commented on #32086
@RyanHill-MSFT sorry, I have no idea.

[2019-06-05 12:43] jimmywim commented on #32086
@RyanHill-MSFT Maybe @brjohnstmsft ?

[2019-06-05 12:47] Mangu opened #32764 "Can the cluster be onprem?"
Could the Kafka be hosted on a Horton-works cluster hosted onprem vs a on HDInsight cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb3fe94-d95f-c35b-86ff-ae1c6f1766a9
* Version Independent ID: aae32350-e3fe-b69e-ac0e-064d9c2395bd
* Content: [Use Apache Kafka on HDInsight with Azure IoT Hub](https://docs.micros

[2019-06-05 12:48] MarkDNL opened #32765 "Pricing example on this page is signifcantly different to the pricing page"
It seems that the fixed price and the capacity unit prices are swapped. Which one is the right one? The examples on this page, or the pricing on the pricing page?

Pricing on this page:
SKU Name	Fixed price ($/hr)	Capacity Unit price ($/CU-hr)
Standard_v2	0.20	                        0.0080
WAF_v2	        0.36	                        0.0144

Pricing on pricing page https://azure.microsoft.com/en-u

[2019-06-05 12:55] patobtx opened #32766 "New DNS Configuration section has a type"
The updated documentation has a line about DNS configuration for the SCM site, but it has the incorrect URL:
"create a zone in &lt;ASE name&gt;.appserviceenvironment.net named scm"

should be

"create a zone in &lt;ASE name&gt;.scm.appserviceenvironment.net named scm"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1a

[2019-06-05 13:03] srv-twry commented on #32552
@TylerMSFT
Hi, what went wrong is that the nodes created in the windows node pool were running the `10.0.17763` version. Hence I should have used the sample for that version and not the 1903 version. This I was already able to figure out from the logs. My question asked in the issue description is still unanswered though, so I'll ask it again.

When a user is creating a windows node pool to be add

[2019-06-05 13:03] Xiaoliangzhang opened #32767 "Step 4 in the documentation is wrong, leading to "Invalid username and password" issue."
The following instruction in Step 4 after the XML code example:

"Replace the DefaultValue of client_id and resource_id with the Application ID of the ProxyIdentityExperienceFramework application that you created in the prerequisite tutorial."

is wrong. which results in an "AADB2C90225: The username or password provided in the request are invalid." error when login with correct username and passw

[2019-06-05 13:33] Anmolgan81 opened #32768 "Can I take a database backup from managed instance and restore it to azure sql database?"
How can I take a backup from MI and restore that database to Azure SQL Database, I need this as per my Dev/Test scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database advanced data securi

[2019-06-05 13:41] satyajitps commented on #32619
I have not specified any "dependsOn" activity relationship in ActivityB.

They only way ActivityA and ActivityB are related is that:
ActivityA produces DatasetA, which is specified in "outputs" section of ActivityA.
ActivityB has DatasetA listed in the "inputs" section.

So in this case will ActivityB execute only after ActivityA has completed, or they will run in parallel?

[2019-06-05 13:52] MGoedtel commented on #32224
@javiermicrosoft - I've verified this limit is also applicable to LA workspaces so I'll be updating the article shortly today to reflect as such.  Thanks for calling this out. #please-close

[2019-06-05 13:52] Apholisha commented on #30979
Hi guys, any progress ? @tfitzmac @femsulu

[2019-06-05 13:53] falmada opened #32771 "Category not Categories for Set-AzDiagnosticSetting"
While checking on this sample found that it uses "Categories" but it should be "Category" as per Set-AzDiagnosticSetting documentation on below line:
Set-AzDiagnosticSetting -ResourceId /subscriptions/s1id1234-5679-0123-4567-890123456789/resourceGroups/testresourcegroup/providers/Microsoft.Network/networkSecurityGroups/testnsg -StorageAccountId /subscriptions/s1id1234-5679-0123-4567-890123456789/r

[2019-06-05 14:02] RyanHill-MSFT commented on #32758
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 14:06] RyanHill-MSFT commented on #32759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 14:13] RyanHill-MSFT commented on #29302
Let me see what I can find out @psallis

[2019-06-05 14:18] pratapsp99 commented on #32699
@KranthiPakala-MSFT Yes, I'm looking for the similar MS document to implement the incremental load from Hive to SQL PaaS.

[2019-06-05 14:18] georgewallace commented on #32118
@piotrzaremba and @gazataeon We will need some more information to figure out what is going on here.. I would suggest reaching out to support so we can figure out what is going on.

cc: @femsulu

[2019-06-05 14:18] georgewallace commented on #29753
@bryandam Thanks for your patience.. I am working with the ConfigMgr team and the Update Management team to get this sorted out.

[2019-06-05 14:27] bryandam commented on #29753
Awesome, that's great news George.  No real rush here, quality takes time.  Also, never underestimate the possibility I'm just plain wrong or not understanding the obvious.

[2019-06-05 14:30] v-krghan commented on #32322
I am adding the more detailed steps with screenshots, thanks

[2019-06-05 14:33] charlet-antoine opened #32772 "Adding a native C library dependency"
Hi there,
I have a Python function using geopandas to do spatial jointures between different shape objects that I would like to publish in an Azure function. Geopandas rely on a native C library that you can find here https://libspatialindex.org if you need to check it out.
The thing is, when I'm running my function locally on a virtual machine everything work fine, the lib has been compiled and t

[2019-06-05 14:40] sergaz-msft commented on #30612
We will update the issues shared by @formulahendry accordingly and will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-05 14:40] #30612 closed

[2019-06-05 14:47] colinrippeyfinarne commented on #29870
@gregpakes this might help you view/update the security contact details: https://docs.microsoft.com/en-us/rest/api/securitycenter/securitycontacts

[2019-06-05 14:49] piotrzaremba commented on #32118
@georgewallace @femsulu

Running the following container and it fails.

[code]

[2019-06-05 14:52] trazbyte opened #32773 "Create Windows VM with IIS Command does not work because WinRM is blocked by NSG"
Command does not work because WinRM is blocked by NSG. Need to open 5986 to all access to VM to run Custom Script Extension. Here is a modified copy. This is also wrong on the Create Windows VM with IIS using DCS Page.

# open port 80 to allow web traffic to host
az vm open-port \
  --port 80 \
  --priority 100 \
  --resource-group AZ900ResourceGroup \
  --name az900-W2016IIS2

# open port 5986 to

[2019-06-05 15:08] 1trevor commented on #31969
Any update on this issue? This issue was sporadic a few weeks ago and now it's pervasive. None of our users can sign in with passwordless authentication. Everyone has to click "sign in with a password instead" every time they log in. We also haven't been able to find a way to turn passwordless authentication off...At this point we would be happy to just get rid of it with all of the problems it ha

[2019-06-05 15:19] MicahMcKittrick-MSFT commented on #32746
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 15:21] MicahMcKittrick-MSFT commented on #32744
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 15:21] MicahMcKittrick-MSFT commented on #32773
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 15:22] MicahMcKittrick-MSFT commented on #32747
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 15:24] SharmainePopov opened #32774 "The intro is misleading. Please reword for accuracy."
Hi, the intro is  misleading, and should be re-worded to call out that MI has differences from Elastic and Singleton. It says

"At the same time, the managed instance deployment option preserves all PaaS capabilities (automatic patching and version updates, automated backups, high-availability ), "

MI does not preserve all PAAS capabilities. For example upon following the "automated backups" link

[2019-06-05 15:29] MicahMcKittrick-MSFT commented on #32750
@Mikli thanks for reaching out and closing the issue. If you have further questions please open an issue directly on the doc you are referring to and we can take a look.

[2019-06-05 15:29] SharmainePopov opened #32776 "Consider creating an full doc set dedicated to SQL MI"
Currently the documentation for SQL MI is combined with the documentation for Elastic Pool and Singleton. I realize there is considerable feature parity but not 100%. I have not yet found one concise location where I can identify the discrepancies easily, it is a bit of a treasure hunt at the moment. Perhaps a simple "Azure SQL DB differences" page would suffice, similar to the one for "T-SQL diff

[2019-06-05 15:30] MicahMcKittrick-MSFT commented on #32762
@mengjoel  thanks for reaching out. If you have further questions please open an issue directly on the doc you are referring to and we can take a look.

[2019-06-05 15:30] #32762 closed

[2019-06-05 15:39] terrimorton commented on #27485
@MashaMSFT This issue should be reopened, as the documentation is still incorrect/misleading and we wasted a lot of time trying to figure out what was wrong. We are trying to do a point-in-time restore to a new server and the steps to do this are not clear nor documented.

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups#point-in-time-restore - There is a scr

[2019-06-05 15:42] JimXu199545 commented on #32710
@RyanHill-MSFT Thanks for your response. As far as I know, Azure App service's file system is implemented on top of Azure Storage but it is managed by Microsoft. Can you tell me how to add my own encryption?

[2019-06-05 15:42] lenisha opened #32777 "*.azmk8s.io is not correct for Firewall rules"
A wildcard inside a name only reflects a single label and the wildcard can only be leftmost. While the actual API Server is on &lt;uniqueid&gt;.hcp.&lt;region&gt;.azmk8s.io.
Wildcard definition should be updated in the docs to *.hcp.*.azmk8s.io

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b

[2019-06-05 15:45] MicahMcKittrick-MSFT commented on #32703
I will close this out for now. If you have further questions just let me know.

[2019-06-05 15:45] #32703 closed

[2019-06-05 15:48] Mike-Ubezzi-MSFT commented on #32748
@Anmolgan81 Please see the Azure Hybrid Benefit portal ([link](https://azure.microsoft.com/en-us/pricing/hybrid-benefit/)) to inquire and initiate the Hybrid Benefit process. Please let us know if you have any additional questions. Thank you very much for your interest in Azure Cloud.

[2019-06-05 15:52] iainfoulds commented on #32608
@thaiphan With Azure CNI, you are creating your own network resources, or typically connecting an AKS cluster to an existing virtual network. Those network resources are managed by you, they aren't created by the AKS cluster for its sole use. As such, you're free to manage those resources as a normal Azure resource.

This isn't something specific to kubenet, rather any resources that AKS is creati

[2019-06-05 15:53] MicahMcKittrick-MSFT commented on #32736
@hukun01 great question! I believe you can remove it.

@aljo-microsoft can you confirm or correct on this one?

[2019-06-05 15:53] Mike-Ubezzi-MSFT commented on #32749
@Anmolgan81 That document refers to the PaaS service - Azure SQL Database (Singleton or Single Instance). It does not refer to Managed Instance. Please see the navigation on the let to see the difference between the two.

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(61).png?sv=2018-03-28&sr=b&sig=A1HfmLBH14nxBNzUXlnclFbLv1Ul3RPFsA6PafUVluI%3D&st=2019-06-05T15%3A48%3A46Z&se=202

[2019-06-05 15:54] #32608 closed

[2019-06-05 15:54] RyanHill-MSFT commented on #32758
Hi @wpitallo, when using Azure SignalR, all the caching is handled for you when it comes to scaling units. No need for a Redis back plane. To quote David Fowler, it's all magic 😊. I believe this should also your question over at #32461.

I'm going to close this issue but if you have any further questions, feel free to mention me to reach out to us.

[2019-06-05 15:54] #32758 closed

[2019-06-05 15:55] MicahMcKittrick-MSFT commented on #32608
@GeoLiu I have closed this out. For any additional questions please open a new issue or try reaching out to MSDN or Stack Overflow where we having engineers monitoring the forums :)

[2019-06-05 15:57] MicahMcKittrick-MSFT commented on #32744
@dkkapur @aljo-microsoft I can make the changes to the public doc if needed. Just hoping to have either of you confirm before I make changes :)

[2019-06-05 15:59] MicahMcKittrick-MSFT commented on #32777
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 16:00] spelluru commented on #31749
Please see the following repo for the full sample:
https://github.com/Azure-Samples/service-bus-dotnet-management

I have tested it just now and it works fine.

The following code snippet is from the sample:
await sbClient.Queues.CreateOrUpdateAsync(resourceGroupName, namespaceName, QueueName, queueParams);

#please-close

[2019-06-05 16:00] marcoboffi commented on #11484
Now is It again no possible with internal load balancer having a static ip for outgoing traffic from aks?for security reason i Need route traffic towards an internal firewall and i'm thinking ti add a route table rule on lb subnet.
Thanks

[2019-06-05 16:05] shampton-myabt commented on #31302
Just change the below highlighted section under

[cid:image002.jpg@01D51B7D.A480BCE0]

  *   When using the -Persist option on the New-PSDrive cmdlet you will need to do the following:
     *   Save credentials using the cmdkey as previously described.
     *   Remove the -Credential parameter from the above example of New-PSDrive example.

  *   This will allow the drive to be remounted on boot t

[2019-06-05 16:09] mymebenha commented on #30755
Same with Outlook Groups and the new Remote Assist app.

[2019-06-05 16:26] bwren commented on #32525
This comes from the engineering team.  I just validated with them that the Data Collector API is still preview  meaning that they still could make changes to it.  I don't have an ETA on a GA date for it.  I don't expect huge changes, but that's something they would need to validate.

[2019-06-05 16:27] rayne-wiselman commented on #32700
#please-close

[2019-06-05 16:38] rayne-wiselman commented on #31748
Article updated with corresponding countries.
#please-close

[2019-06-05 16:40] axisc commented on #31749
#please-close

[2019-06-05 16:42] iainfoulds commented on #32747
Thanks for the feedback, @mariojacobo. By default, no - AKS won't automatically create an additional node to compensate for resource constraints.

kured is using the Kubernetes scheduled to move the pods. You can define pod disruption budgets that detail what should happen to pods that can't be scheduled on other nodes due to resource constraints. If those pods can't be scheduled elsewhere, the co

[2019-06-05 16:46] rayne-wiselman commented on #31912
Fixed #please-close

[2019-06-05 16:47] yahorsi opened #32779 "the article is tooo smal and MUST describe why/when SiglanR service should be used compared to "regular" SignalR"
subj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-608c3c1042ec
* Version Independent ID: 811f5f3f-5621-f02f-f607-c0a00221f3ad
* Content: [What is Azure SignalR Service?](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-overview)
* Content Source: [articles/azure-signalr/signalr-ove

[2019-06-05 16:48] rayne-wiselman commented on #31067
Updated. #please-close

[2019-06-05 16:50] DixitArora-MSFT commented on #32680
@PingPongSet Brett has already given the suggestion on Azure/azure-functions-host#4344 (comment).

Try asking for an IHttpClientFactory in the constructor? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#basic-usage

It looks like you need to use the "Typed client" approach if you want an HttpClient injected: https://docs.microsoft.com/en-us/aspnet/core/

[2019-06-05 16:53] srrengar commented on #31803
@KentaroAOKI could you try today? I was able to get it working in the portal now, I think the deployment only fully finished Tuesday

[2019-06-05 16:54] rayne-wiselman commented on #29490
@femsula - Please assign to dcurwin

[2019-06-05 16:54] rayne-wiselman commented on #29490
@dcurwin

[2019-06-05 16:59] DixitArora-MSFT commented on #32679
@PingPongSet You can inject the CosmosClient directly.

[There's an example of this in the Cosmos client samples directory](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/AzureFunctions/AzureFunctionsCosmosClient.cs) which includes the following code:

`private` CosmosClient cosmosClient;

`public` AzureFunctionsCosmosClient(CosmosClient cosm

[2019-06-05 17:01] KranthiPakala-MSFT commented on #32764
@Mangu  Thanks for reaching out. At this time we are reviewing the feedback and will update you soon.

[2019-06-05 17:01] Alberto-Vega-MSFT commented on #32763
@martonborbely Good catch! thanks for bringing this to our attention. Would you like to create a PR with the change for the content author @wesmc7777  to evaluate?

[2019-06-05 17:04] MikeBarker-MSFT opened #32780 "Custom Activity on Self-Hosted IR"
This article is misleading as it implies that the self-hosted IR can execute custom activities on premise. Whilst the self hosted IR can dispatch custom activities, these will only execute in Azure Batch.

This point should be clarified.

See the paragraph:
A self-hosted IR is capable of:
...
- Dispatching the following transform activities against compute resources in On-Premise or Azure Virtual

[2019-06-05 17:05] DixitArora-MSFT commented on #32661
Hi @spelluru ,
Any inputs in this .

[2019-06-05 17:06] PatAltimore commented on #31988
We are working on a new version to replace this tutorial that uses the [Azure Blockchain Development Kit for Ethereum VS Code extension](https://marketplace.visualstudio.com/items?itemName=AzBlockchain.azure-blockchain).

Pat

[2019-06-05 17:11] TylerMSFT commented on #32552
@srv-twry

No. You can't define the version of Windows server when creating a node, just as you can't define the version of Ubuntu on a Linux node.

[2019-06-05 17:14] Mike-Ubezzi-MSFT commented on #32761
Hi @yuharucan That is correct but let me research this to ensure that is the case. I will get back to you with confirming or additional information. Thank you!

[2019-06-05 17:16] Mike-Ubezzi-MSFT commented on #32768
@Anmolgan81 If you export a .bacpac file from the Managed Instance, you will be able to restore that .bacpac file to an Azure SQL Database (Single Instance) as a PaaS Service. Thank you!

[2019-06-05 17:19] Mike-Ubezzi-MSFT commented on #32774
@SharmainePopov Thank you for this additional detail. We are evaluating and will update the documentation appropriately. Thank you!

[2019-06-05 17:19] PatAltimore commented on #32670
@gimsdj, You're right. It should be updated. I put it on my backlog to fix for the next release.

Since I have it on the backlog, I'm going to request the issue be closed for now. #please-close.

Thanks,
Pat

[2019-06-05 17:21] Mike-Ubezzi-MSFT commented on #32776
@SharmainePopov Again, that you for this documentation feedback. Many of the documents are intertwined with information with regard to Single, Elastic, Managed, and VM instances of Azure SQL. We are evaluating and will update the documentation accordingly. Thank you!

[2019-06-05 17:23] sannzay opened #32781 "Experiment fails with custom docker image"
I have  two steps in my experiment. One is "training and testing" step and other is "hosting" step in the pipeline. Both use same compute target (Azure ubuntu vm).

[code]
[code]

 Both my vm and custom docker has default python set to python3, yet the error persists. While the first step with default image succeeded, the second step with custom image failed, though they use common compute target.

[2019-06-05 17:26] Eilon commented on #32727
Was this issue resolved? I don't see the docs updated - is that happening at a later deployment?

[2019-06-05 17:29] Karishma-Tiwari-MSFT commented on #32728
@athinanthny Can you please confirm on this and update the document as needed. Thanks. :)

[2019-06-05 17:32] matthewboehlke commented on #20102
I'm not sure if its the same message just reworded, but I see "unfamiliarFeatures" in my logs, which also does not appear in the docs.

[2019-06-05 17:32] ThomasWeiss commented on #32684
@jakubkirylo My bad, I didn't realize you were using Cosmos DB's API for MongoDB. We don't expose the indexing policy in that case as you can manage your collection's indexes as you would normally do through standard MongoDB tools and SDKs. Let me know if that answers your concern.

[2019-06-05 17:37] msrini-MSFT commented on #32765
@MarkDNL, Thank you for posting here. We will get back to you shortly.

[2019-06-05 17:42] MarkusVi commented on #31837
Hi @sean-nixon, you can find the information [here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http).

I will add a link to the article.

#pleased-close

[2019-06-05 17:45] MarileeTurscak-MSFT commented on #32767
@Xiaoliangzhang
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-05 17:47] Karishma-Tiwari-MSFT commented on #32442
@ChristianMontoya Can you please share your insights on this issue. Thanks :)
@emsi For any other troubleshooting assistance, you can reach out to tech communities where we are currently supporting Virtual Desktop.

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

We have the product team members monitoring this forum. At this time the doc appears to work

[2019-06-05 17:47] MarileeTurscak-MSFT commented on #32757
@payalgaikwad42
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-05 17:50] MarileeTurscak-MSFT commented on #32741
@juntakata
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-05 17:51] MarileeTurscak-MSFT commented on #32752
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-05 17:55] ChristianMontoya commented on #32442
@emsi : Did you complete the tutorials to create the tenant and host pool?

[2019-06-05 17:58] Grace-MacJones-MSFT commented on #32779
Hi @yahorsi, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-06-05 18:00] spelluru commented on #32661
@DixitArora-MSFT - The extension needs to be updated to the latest to use the servicebusqueue endpoint type.

@banisadr to confirm.

[2019-06-05 18:10] mike-urnun-msft commented on #32751
Hi @Mikli Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 18:11] MicrosoftGuyJFlo commented on #32652
@alvipeo Run it from powershell

[2019-06-05 18:13] mike-urnun-msft commented on #32754
Hi @pelithne Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 18:14] MicrosoftGuyJFlo commented on #32575
Sent to PM for feedback

[2019-06-05 18:14] mike-urnun-msft commented on #32756
Hi @jholopainen Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 18:15] mike-urnun-msft commented on #32760
Hi @SubjectiveKirby Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 18:16] mike-urnun-msft commented on #32772
Hi @charlet-antoine Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 18:18] quantumtunneling opened #32782 "Not all regions support failover?"
We have GRS storage accounts in North Central US as the primary, but the Geo-replication blade says:

"Customer controlled failover is not supported for your primary and secondary region"

Is there a list somewhere of which regions support this feature and which do not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44

[2019-06-05 18:19] KranthiPakala-MSFT commented on #32699
@pratapsp99 Thanks for confirming. At this time there is no specific document to implement incremental load from Hive to SQL PaaS. But as a future request you can share your idea/thougts in [Azure Data Factory feedback forum](https://feedback.azure.com/forums/270578-data-factory). Please feel free to post your feedback.

We will now proceed to close this thread. If there are further questions rega

[2019-06-05 18:19] #32699 closed

[2019-06-05 18:33] tamram commented on #32782
@quantumtunneling - Please see the article provided below. The account failover preview is only supported in these two regions:

US West 2
US West Central

We expect to support more regions later this year.

https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance#about-the-preview

@artemuwka - FYI

#please-close

[2019-06-05 18:37] RavennMSFT commented on #32575
@vultureman I dont think this is an issue or a consideration for the PRT itself, but how Azure AD provides claims in different auth mechanisms. So I believe this should go into Passwd Hash sync or Seamless SSO docs if there are going to be any conflicts. As Marilee mentioned above, if this already discussed in the Choose Authn doc, then that's the appropriate place to fill in any gaps

[2019-06-05 18:37] CIPop opened #32783 "Getting AuthorizationPermissionMismatch when I follow this guide"
This didn't work for me. I was able to log-in successfully, create a blob but afterwards wasn't able to list or upload.
A combination of logging in with --tenant-id and correctly setting ACLs made it work eventually: https://github.com/Azure/azure-storage-azcopy/issues/77

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-05 18:38] SnehaGunda commented on #32684
@jakubkirylo for additional context, please see this doc on indexing: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing

We will now close this issue if there aren't further questions.

#please-close

[2019-06-05 18:39] quantumtunneling commented on #32782
Thanks for such a quick response, much appreciated!

[2019-06-05 18:39] #32782 closed

[2019-06-05 18:41] quantumtunneling commented on #32782
Do you happen to know which regions will get support for this later this year?

[2019-06-05 18:42] YutongTie-MSFT commented on #32753
@AleksCallebat Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-05 18:43] Anmolgan81 commented on #32768
If yes then what will be the procedure to do that?

From: Mike Ubezzi <notifications@github.com>
Sent: 05 June 2019 22:47
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can I take a database backup from managed instance and restore it to azure sql database? (#32768)

@

[2019-06-05 18:43] Anmolgan81 commented on #32768
But can I be able to export a .bak file from managed instance to azure storage account?

From: Mike Ubezzi <notifications@github.com>
Sent: 05 June 2019 22:47
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can I take a database backup from managed instance and restore

[2019-06-05 18:44] Anmolgan81 commented on #32749
Can you provide me a link so that I can visit the link??

From: Mike Ubezzi <notifications@github.com>
Sent: 05 June 2019 21:25
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Do this page also valid for azure managed instances? (#32749)

@Anmolgan81<https://github.com/

[2019-06-05 18:46] brtmeyer commented on #32513
@MartinJaffer-MSFT, has this issue been closed for any particular reason?

[2019-06-05 18:47] MartinJaffer-MSFT commented on #32513
@brtmeyer  sorry, I got this issue confused with another I was working on.  I should not have closed it.  My apologies.

[2019-06-05 18:59] #32684 closed

[2019-06-05 19:00] artemuwka commented on #32782
@quantumtunneling hi Graham! In the immediate future we're adding US Central/ US East 2, Asia Southeast/ Asia East & Australia East/ Australia Southeast pairs. Are there regions you are particularly interested in?

[2019-06-05 19:01] quantumtunneling commented on #32782
We're located in North Central US, is this on the road map at all?

[2019-06-05 19:02] Grace-MacJones-MSFT commented on #32461
Sorry about that. Thanks for the clarification @wpitallo .What kind of data do you want to cache? Generally, Azure SignalR does not deal with cache.

[2019-06-05 19:03] brchin commented on #26589
@MarileeTurscak-MSFT

I am interested in the same thing, but I do not see an update for it. What is the current status of this? Thank you

[2019-06-05 19:07] artemuwka commented on #32782
It is for sure! US South Central and US North Central are currently planned to light up in mid-end of Q3 2019.

[2019-06-05 19:07] jochenvanwylick opened #32785 "Could you please specify whether the copy operation causes the database to become unavailable ?"
Hi,
I'm wondering whether triggering the copy operation causes the database to become unavailable. In order to be transactionally consistent, I can imagine this is the case namely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-33c4-8ceefa5b02f7
* Version Independent ID: baf2eb27-05bf-8d85-2a34-2f6c0

[2019-06-05 19:12] aljo-microsoft commented on #32744
@MicahMcKittrick-MSFT
That is correct 2019 is supported.

[2019-06-05 19:14] jrg-jeff opened #32786 "Permissions to which account?"
This article needs more specific information as to which account these on premise AD permissions are to be given.  Is this the AD account used during setup, or is this the MSOL_ account used by the service after it's setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c8fd71-d47a-768f-0a45-5ab373005b45
* Version In

[2019-06-05 19:14] smoms opened #32787 "Edge and leaf-devices DPS"
One note on DPS. Am I correct that having Edge (either transparent/identity/protocol translation gateway, either w/ or w/o DPS provisioning) the leaf-device DPS process makes no sense?
If my assumption is wrong, is there any resource that i can follow to provision leaf-device with DPS having an Edge device too?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-05 19:14] quantumtunneling commented on #32782
Thanks Art! I really appreciate the quick responses from you guys!

[2019-06-05 19:15] MicahMcKittrick-MSFT commented on #32744
Thanks Alex. I will update the doc :)

[2019-06-05 19:15] smoms commented on #32566
Many thanks. Please close it.

[2019-06-05 19:17] KranthiPakala-MSFT commented on #32619
@satyajitps Thank you for detailed info. In this case both activities will run in parallel.

[2019-06-05 19:17] jrg-jeff opened #32788 "Description for Event ID 33004"
The advice offered in for event id 33004 doesn't describe how to find the account used by the "Active Directory Management Agent (ADMA)" nor does there exist a "step 4" for setting up permissions.  Perhaps this is outdated, but the errors still exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9aa3da3-eafd-23ea-91

[2019-06-05 19:21] femsulu commented on #32771
@femsulu Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-05 19:22] c4rlosmarin opened #32789 "Typo on virtualNetworkingSubnetId note"
It should be "/subscriptions/…" instead of "subscriptions/..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: babaec3b-2c19-c6e2-835c-166cb528b222
* Version Independent ID: a905991a-70b0-7842-d12e-37b484a1f99a
* Content: [Virtual Network service endpoints - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event

[2019-06-05 19:23] femsulu commented on #32771
adding @nkiest

[2019-06-05 19:25] femsulu commented on #32743
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-05 19:29] femsulu commented on #32742
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-05 19:32] #32700 closed

[2019-06-05 19:33] #31748 closed

[2019-06-05 19:38] guillaumeDMSFT opened #32790 "Some VM SKUs are not yet available"
M416s and M416ms are not yet available. To prevent calls to the support, it would be nice to remove them from the list of SKUs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98b3d8f3-4639-aa5f-d0ca-9a41170dd0cf
* Version Independent ID: 3ce38d97-3717-9e25-2082-f6597cc6e387
* Content: [SAP HANA infrastructure configura

[2019-06-05 19:46] MicahMcKittrick-MSFT commented on #32790
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-05 19:47] Kamyar5353 opened #32791 "Is there any way to increase the file upload limit to anything beyond 500MB maximum?"
I am trying to send a file over my http call, and because of 500 MB maximum, I am getting error.
Is there any way to increase / cancel the Max size limit?

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c27cd7-15fd-7358-9740-734cfa6b641f
* Version Independent ID: 9cbc5678-98e1-3c21-df0a-81d8b7e21241
* Content

[2019-06-05 19:52] danimir commented on #32662
@ChiragMishra-MSFT @linda33wj Hi Linda, I'm a PM on Managed Instance. Client's statement is correct, Managed Instance never supported Windows authentication. Could you please correct this? Thank you.

[2019-06-05 19:58] stdistef opened #32792 "ARM References"
I think this is great (CLI and PS).  How about ARM.  Where are you sharing examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747960d4-d025-37a9-8be2-bc312d5f2e3f
* Version Independent ID: d2cf9574-608e-41e0-373a-adbac913619f
* Content: [Overview of IPv6 for Azure Virtual Network (Preview)](https://docs.microsoft

[2019-06-05 19:59] cveld commented on #30248
@linda33wj Any news?

[2019-06-05 20:08] bennor commented on #32004
So it appears the generic interface is what I was missing. Does it need to match the class being injected into? (I am planning to use it within a MediatR pipeline component--effectively middleware--and I'm not sure what the generic argument should be.)

[2019-06-05 20:11] femsulu commented on #31767
@tfitzmac any update on this please?

[2019-06-05 20:12] CHDAFNI-MSFT commented on #31283
@vinynigam  - pushing to the top of the inbox. Clarified information is requested so that monitoring can be implemented customer environments.

[2019-06-05 20:14] SaurabhSharma-MSFT commented on #32741
@juntakata I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-05 20:16] MicahMcKittrick-MSFT commented on #32744
I have updated the doc. Once the PR merges the changes will go live after a few hours.

[2019-06-05 20:16] #32744 closed

[2019-06-05 20:22] tfitzmac commented on #31767
We updated this article with the new sandbox environment for testing the UI. The sandbox is the recommended approach. The script is still available for a legacy view, but I don't know of any plan to update it.

[2019-06-05 20:22] tfitzmac commented on #31767
#please-close

[2019-06-05 20:23] RyanHill-MSFT commented on #32710
@JimXu199545 You won't be able to add your own encryption at the PaaS level. In order to do that, you would have to go the IaaS route and apply encryption at the disk level. See https://docs.microsoft.com/en-us/azure/security-center/security-center-apply-disk-encryption for more information. I do know there is some activity to address some of the limitations when it comes to encryption at rest.

[2019-06-05 20:33] alvipeo commented on #32652
@MicrosoftGuyJFlo nice answer. can you elaborate please? on a clean machine under admin?

[2019-06-05 20:34] alvipeo commented on #32652
currently I get result code: 9009 when they run during enrollment

[2019-06-05 20:39] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount Is there any update?

[2019-06-05 20:42] KranthiPakala-MSFT commented on #32780
@MikeBarker-MSFT Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update you soon.

[2019-06-05 20:45] deFRAGerNZ opened #32794 "Wrong script"
The part that says 'To disable MFA, use this script:' has this code below:

Get-MsolUser -UserPrincipalName user@domain.com | Set-MsolUser -StrongAuthenticationRequirements @()

This should be -StrongAuthentationMethods . I've run a test, StrongAuthenticationRequirements can be blank with StrongAuthenticationMethods set. Blanking StrongAuthenticationRequirements does nothing, while blanking Strong

[2019-06-05 20:46] KranthiPakala-MSFT commented on #32789
@c4rlosmarin Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-05 20:48] oppianmatt opened #32795 "postgis"
postgis extensions aren't enabled by default (but available). But trying to load them doesn't work as it needs superuser access.

list of extensions enabled by default:

[code]

try to enable postgis

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ac40f9-d6d5-6d3b-f7cd-6ff5f1ba2044
* Version Independent ID: 75

[2019-06-05 20:54] sauravsarangi opened #32796 "Internal Server Error while using Resource Token using Java Async API (AsyncDocumentClient)"
Hi Team,

I created a Resource Token Broker App which uses the Java Async/Sync clients to create a User and then create a Permission (for operation ALL) for that user using the Master Key. Then I get the resource token from the permission and with that I am creating a AsyncDocumentClient object passing the resource token in withMasterKeyOrResourceToken(token) method of the builder. The AsyncDocume

[2019-06-05 20:54] MarileeTurscak-MSFT commented on #32794
@deFRAGerNZ
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-05 20:55] KranthiPakala-MSFT commented on #32780
@MikeBarker-MSFT We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-06-05 20:56] KranthiPakala-MSFT commented on #32780
@nabhishek Could you please take a look into @MikeBarker-MSFT feedback.

[2019-06-05 21:01] MicahMcKittrick-MSFT commented on #32796
@sauravsarangi please share the link to the document you are following so we can better assist.

[2019-06-05 21:02] BryanTrach-MSFT commented on #32572
@wojtekmaj I see on issue #32573 that you state you do not want to declare a run time environment even though you are using Node. Is there a specific reason why you do not want to declare the run time?

If you do wish to declare the run time, you can run the below Azure CLI cmdlet to declare it.

`az webapp config appsettings set --resource-group myResourceGroup --name <app_name> --settings WEBSIT

[2019-06-05 21:02] sauravsarangi commented on #32796
https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data

[2019-06-05 21:05] MicahMcKittrick-MSFT commented on #32796
Thanks for that. We will have our CosmosDB team take a look and get back to you.

[2019-06-05 21:05] BryanTrach-MSFT commented on #32573
@wojtekmaj We are going to close out this thread as a duplicate of #32572. Let's continue the discussion there. Thank you for your understanding.

[2019-06-05 21:05] #32573 closed

[2019-06-05 21:07] #31067 closed

[2019-06-05 21:07] #31749 closed

[2019-06-05 21:07] #31912 closed

[2019-06-05 21:08] #32224 closed

[2019-06-05 21:08] #32670 closed

[2019-06-05 21:09] TravisCragg-MSFT commented on #32792
@stdistef The ARM Template model for creating an [IPv6 Dual Stack application is found Here](https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-configure-template-json).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-05 21:09] #32792 closed

[2019-06-05 21:12] Karishma-Tiwari-MSFT commented on #30997
@rgalexey The product team is aware of this issue. I will share the updates as I hear back. Currently, there is no option to do it for private managed images from Azure portal. It can be done from Azure CLI.

[2019-06-05 21:13] #32525 closed

[2019-06-05 21:15] Karishma-Tiwari-MSFT commented on #22160
@mf1987ir If your question is related to docs for a particular Azure product/service, please open a new issue against that document, so that the right team can engage with you. You will find this in the end of Azure documents.

![image](https://user-images.githubusercontent.com/20851144/58991126-58719f00-879c-11e9-98ae-7f129fbf4963.png)

[2019-06-05 21:16] femsulu commented on #29753
Thanks @georgewallace & @bryandam  - since @georgewallace is tracking this offline, closing this issue for now. We will circle back once we have an update and the content has been revised.

Cheers.

[2019-06-05 21:16] #29753 closed

[2019-06-05 21:19] PingPongSet commented on #32679
What is the lifetime of CosmosClient, e.g. scoped, transient, or singleton?  based on below:

 builder.Services.AddSingleton((s) => {
                string endpoint = configuration["EndPointUrl"];
                if (string.IsNullOrEmpty(endpoint))
                {
                    throw new ArgumentNullException("Please specify a valid endpoint in the appSettings.json");
                }

[2019-06-05 21:19] KranthiPakala-MSFT commented on #32764
@Mangu At this time we have assigned the issue to the content author. They will review and get back soon.

[2019-06-05 21:19] SaurabhSharma-MSFT commented on #32752
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-05 21:20] KranthiPakala-MSFT commented on #32764
@hrasheed-msft Could you please look into @Mangu comment.

[2019-06-05 21:22] FrankHu-MSFT commented on #32531
So this should work if in the SAML request.The URI used for the EntityID is also encoded.

But, it seems that in this case the EntityID in the SAML request isn't encoded. Are you sure the entityID is properly being encoded?

[2019-06-05 21:27] TravisCragg-MSFT commented on #32791
@Kamyar5353 Unfortunately there is currently not a way to increase the file upload limit in a WAF. [Without the WAF the limit is 2GB](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits). If you would like us to increase this limit in the future, please [leave your feedback Here!](https://feedback.azure.com/forums/217313-networking)

We will now proc

[2019-06-05 21:27] #32791 closed

[2019-06-05 21:33] MNF opened #32798 "What is one-way type of replication?"
“One-way” is the only one type of replication without link. It also not mentioned on
different types of replication page https://docs.microsoft.com/en-au/sql/relational-databases/replication/types-of-replication?view=sql-server-2017. Please add a link to description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e32

[2019-06-05 21:34] RyanHill-MSFT commented on #32766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 21:35] dsmichal opened #32799 "Problem with geography and vertical partitioning"
When I try to create an external table that contains a geography column I get the following error:

System.Data.SqlClient.SqlException: 'The type 'sys.geography' is not supported with external tables for sharded data.'

I am not sharding so this error message is a bit misleading. Your article doesn't say anything about spatial types not being supported.  Should this work?

---
#### Document Detail

[2019-06-05 21:35] Mike-Ubezzi-MSFT commented on #32796
Which API are you consuming with this code and please provide version info for all packages used in the project: Azure Cosmos DB Async Java SDK for SQL API: Release notes and resources ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-async-java)).

[2019-06-05 21:35] Grace-MacJones-MSFT commented on #32522
Hi @seesharprun, upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-06-05 21:39] MarileeTurscak-MSFT commented on #32794
I made a pull request but will leave it to @MicrosoftGuyJFlo to approve/reject it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/78840

[2019-06-05 21:39] #32794 closed

[2019-06-05 21:40] sauravsarangi commented on #32796
<dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-cosmosdb</artifactId>
            <version>2.4.5</version>
        </dependency>
This is the Async JAVA SDK.

[2019-06-05 21:43] Karishma-Tiwari-MSFT commented on #32709
@mscbpi Thanks for helping us improve the document. Can you please elaborate on the update you are suggesting for this document. I will then assign it to the author to make appropriate changes. Thanks.

[2019-06-05 21:50] Karishma-Tiwari-MSFT commented on #32714
@smflorentino It is mentioned in the same doc under 'Troubleshoot and support'
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#troubleshoot-and-support

Extension output is logged to files found under the following folder on the target virtual machine.
C:\WindowsAzure\Logs\Plugins\Microsoft.Compute.CustomScriptExtension

The specified files are downloaded i

[2019-06-05 21:50] #32714 closed

[2019-06-05 21:51] mscbpi commented on #32709
IMHO the example is wrong so you can't correct the doc as-is. The rewrite rule does not work for both backends. If you correct it you'll make the other wrong...

[2019-06-05 21:51] Mike-Ubezzi-MSFT commented on #32441
@Ayanmullick I am not seeing an equivalent cmdlet in Az.Sql that matches `New-AzSqlDatabaseInstanceFailoverGroup`. All Managed Instance cmdlets in Az.Sql include, `AzSqlInstance` in the title.
Can you post an ask in the Azure SQL User Voice ([link](https://feedback.azure.com/forums/217321-sql-database)) requesting that [Az.Sql](https://docs.microsoft.com/en-us/powershell/module/az.sql/?view=azps-2

[2019-06-05 21:51] Alberto-Vega-MSFT commented on #32787
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 21:53] Adam-Smith-MSFT commented on #32783
@CIPop Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-05 21:53] iainfoulds commented on #32709
What behavior are you seeing? With that rewrite rule in place, the correct app is loaded at the expected URL. I'm not sure what you're seeing that contradicts that?

[2019-06-05 22:00] michaeldisalvo opened #32800 "VMSS Image Id Update"
This example is invalid.  You cannot update the imageReference.id of the scale set.  Doing so results in a 409 conflict.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 706ceb71-6add-c678-bdb5-ee0d9386488b
* Version Independent ID: bf4ab279-85fa-6a7a-8756-24af74fe1444
* Content: [Modify an Azure virtual machine scale se

[2019-06-05 22:02] mscbpi commented on #32709
I took your example but with my own apps, that have effectively path beyond / on my backends.  I don't think the hello-world-app has that, so you're never using the rewrite rule.

Let's say you want to reach /hello-world-two/myPath/toMy/index.html it will rewrite to //. rather than myPath/toMy/index.html

Because you take $1 in nginx.ingress.kubernetes.io/rewrite-target

for 1st backend $1 will be

[2019-06-05 22:02] MarileeTurscak-MSFT commented on #32735
Hi @MikeChristensen ,

Do you have a specific suggestion for what you think would be helpful to add to the doc? You're welcome to make a pull request yourself as well.

[2019-06-05 22:05] IGx89 opened #32801 "Synchronize subheadings confusing"
When reading "Synchronize a container to a local file system", because of "to" typically implying a left-to-right direction, I assume the instructions following it are for syncing/copying files FROM a container TO the local file system. When, in reality, the instructions and commands do the opposite. It feels like the "Synchronize a container to a local file system" and "Synchronize a local file s

[2019-06-05 22:11] iainfoulds commented on #32709
Yes, if you're going beyond the basic example shown in the doc, you'll likely need to update the rewrite rules to handle the additional resources and paths. The NGINX ingress controller updated how they handle rewrites in 0.22 which made things a little more complicated. Their docs are best resource for understanding the structure and customize for your own needs - https://kubernetes.github.io/ing

[2019-06-05 22:11] christopheranderson commented on #32796
I'm Chris from the Cosmos DB engineering team.

@sauravsarangi - 500 errors are unexpected and we should treat this as a livesite issue. Even if you do have a problem with your code, we never plan on returning 500.

We should move this to a more private channel as I might have more privacy sensitive question to ask and it will be easier to engage my colleagues on email. Could you please email me a

[2019-06-05 22:15] Mike-Ubezzi-MSFT commented on #32796
Are you using Cosmos DB API for MongoDB or SQL(Core) API? I see a port number that indicates possibly a Mongo deployment.

Additionally, I see a couple of items I need to clarify:

I am showing [2.4.3](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-async-java#release-notes) as I am not seeing 2.4.5?
The Async Java SDK provides the following SDK Usage recommendations ([link](https://d

[2019-06-05 22:22] FrankHu-MSFT commented on #32517
The SAML response will contain a Status element indicating the user has forgotten the password. The app needs to handle this and redirect the user to the password reset user journey.

<samlp:Response ...>
   ...
      <samlp:Status>
      <samlp:StatusCode Value="urn:oasis:names:tc:SAML:2.0:status:Responder" />
<samlp:StatusMessage>The user has forgotten their password.</samlp:StatusMessage>

[2019-06-05 22:27] ConnorMcMahon commented on #30888
Do we have an update yet?

[2019-06-05 22:27] normesta commented on #32801
Thanks for the feedback @IGx89. The intention in these headings is most certainly to imply direction with one location synchronizing "to" a source location like when one synchronizes their watch to the universal time server. The time server is the source and the watch is the destination in that example. Flipping this the other way is likely to cause confusion on those perceiving it in the way that

[2019-06-05 22:29] SnehaGunda commented on #27572
@prashanthmadi Thanks for sharing the example code over email. I was able to update the doc and the sample to use partition keys. I tested the sample and it performs all the CRUD operations on the resources fine. Here are the commits I added to the sample repo:

* https://github.com/Azure-Samples/azure-cosmos-db-sql-api-nodejs-getting-started/commit/2575068520ddbc639fb1be7faa89f27b1eedba67

* http

[2019-06-05 22:32] SnehaGunda commented on #27907
I had a chat with Luis on making the doc update per suggestion. Luis said the comment isn't true for Gremlin API. Because of this thread is too old and we haven't heard back from the owner, we will close it.

#please-close

[2019-06-05 22:35] brandonh-msft opened #32803 "Rate Quota on sending to a queue?"
I'm getting a 429 from Logic Apps where I'm trying to post a message to a queue:
[code]

so I came here to find out what the rate was only to notice there isn't one. This is on an SB Premium instance w/ 8 Messaging Units and apparently it can't handle what I'm giving it but there's no documented limit on this. Please advise?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-05 22:36] MarileeTurscak-MSFT commented on #20102
CC @daveba , do you have insights for this?

[2019-06-05 22:37] MarileeTurscak-MSFT commented on #29145
@barclayn do you have insights about this?

[2019-06-05 22:57] roygara commented on #32605
@awalman Thanks for reaching out, we appreciate it. I've got a clarifying question for you if you don't mind:

Are you trying to add a second folder from an endpoint which is already in your sync group, to your sync group? If so, then this isn't supported and we should make that more clear.

You can definitely use multiple server endpoints on the same volume as long as the namespaces are not overl

[2019-06-05 23:03] stevshan opened #32805 "Should provide samples for using Azure Resource Manager to upgrade applications."
This article is providing the samples for deploying/removing applications via ARM template. It would be better if there is an article regarding how to upgrade applications via ARM template as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f979abbb-2b62-ef4b-9cce-48bd08e0d5dc
* Version Independent ID: ef3e1a6a-580

[2019-06-05 23:04] davidschlum opened #32806 "Invalid syntax $endDate = Get-Date.ToUniversalTime()"
In the Powershell example under https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation#fetch-distinct-recovery-points, the syntax provided for setting the $endDate variable returns an error:

$endDate = Get-Date.ToUniversalTime()
At line:2 char:37
+ $endDate = Get-Date.ToUniversalTime()
+                                     ~
An expression was expected after '('.
    + CategoryI

[2019-06-05 23:05] #32766 closed

[2019-06-05 23:05] FrankHu-MSFT commented on #32767
Hey @Xiaoliangzhang thanks for the feedback. The documentation does say to create the IEX and PIEX frameworks. It is in the pre-reqs section https://docs.microsoft.com/en-us/azure/active-directory-b2c/ropc-custom#prerequisites

However you are correct, the Proxy IEX is the client app which is given delegated permissions to the IEX App Registration which in turn means that the IEX app reg is the re

[2019-06-05 23:05] #32767 closed

[2019-06-05 23:09] Karishma-Tiwari-MSFT commented on #32800
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 23:10] Karishma-Tiwari-MSFT commented on #32805
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-05 23:11] SnehaGunda commented on #32082
@gishu thanks for pointing out the issue, I just tested it and yes you are right, the URI should be in this format: https://cdbgraph1.gremlin.cosmosdb.azure.com:443/ which includes protocol and port numbers. I submitted a fix to the doc to remove those statements.

@Mike-Ubezzi-MSFT Gremlin API still supports fixed containers from Azure portal as well as through SDKs. Also, the doc says to create

[2019-06-05 23:11] SnehaGunda commented on #32082
We will close this issue of there aren't further questions.

#please-close

[2019-06-05 23:16] SnehaGunda commented on #32796
@Mike-Ubezzi-MSFT do you want to redirect this issue to Chirs and askcosmosdb alias and track it there and close this one.

[2019-06-05 23:16] totokliem commented on #32417
Thanks You

Pada tanggal Sel, 4 Jun 2019 11:01, AjayKumar-MSFT <notifications@github.com>
menulis:

[2019-06-05 23:20] Mike-Ubezzi-MSFT commented on #32082
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-05 23:20] #32082 closed

[2019-06-05 23:23] Mike-Ubezzi-MSFT commented on #32796
@sauravsarangi Please reach out to [AskCosmosDB](mailto:askcosmosdb@microsoft.com) per Chris's instructions above and this will be handled directly by the engineering team. Thank you!

[2019-06-05 23:23] #32796 closed

[2019-06-05 23:23] kgremban commented on #32273
Thank you for the additional information. I made some changes to the article to add more information in the introduction about each section and how they fit together. I understand that there's a lot of detail, but I think it's all necessary. There are several pieces to this process, and several options for each piece.

The English version of the article is already updated, but it will take a littl

[2019-06-05 23:24] Mike-Ubezzi-MSFT commented on #32441
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-05 23:24] #32441 closed

[2019-06-05 23:26] Mike-Ubezzi-MSFT commented on #32505
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-05 23:26] #32505 closed

[2019-06-05 23:26] Mike-Ubezzi-MSFT commented on #32514
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-05 23:26] #32514 closed

[2019-06-05 23:28] sauravsarangi commented on #32796
@Mike-Ubezzi-MSFT
I am aware of that part of the documentation.
The code works with Master key. But the whole idea was to restrict access to certain Collections for different users and hence Resource Tokens. I need to connect to the db and execute operations on the Collection with Resource Tokens.

I have tried version 2.4.3 but encountered same issue.
This is for SQL API.

[2019-06-05 23:33] Mike-Ubezzi-MSFT commented on #32687
@vidarkongsli Does `web_app_name` exist in your Active Directory tenant?
Additionally, can you add a Managed Identity group to your SQL Database and then add users to that group in Azure Active Directory?

[2019-06-05 23:38] Mike-Ubezzi-MSFT commented on #32761
@oslake PR has been completed but needs approval. @yuharucan A doc update will be published shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-05 23:38] #32761 closed

[2019-06-05 23:38] sgilson7 opened #32807 "Incorrect Image for building with custom data"
In the code block that contains the az vm create command, the urn should be OpenLogic:CentOS-CI:7-CI:latest instead of what you currently have now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb132b-0dc3-d493-69bc-dc28b5bfd5e1
* Version Independent ID: ba5cb476-3e32-911f-0395-0cc8087d1ff3
* Content: [Overview of c

[2019-06-05 23:39] MarileeTurscak-MSFT commented on #31969
Hi @sbiasotto and @1trevor ,

Can you please email me at AzCommunity@microsoft.com so we can discuss this in more detail?

[2019-06-05 23:39] tiago-sommer-damasceno opened #32808 "Deploy Examples requires values that have no guidance of reference (authorization and location values)"
I was going to try to deploy one of the examples:
`https://github.com/Azure/azure-managedapp-samples/tree/master/samples/201-managed-storage-account`
However, it was not clear what values are accepted/expected for:
- location
- authorization

I could guess that the location is something like "(US) West"
- we could at least point people here : https://azure.microsoft.com/en-us/global-infrastructure

[2019-06-05 23:51] FrankHu-MSFT commented on #29253
PodFile text has been updated from ADALiOS to ADAL.

[2019-06-05 23:51] #29253 closed

[2019-06-05 23:53] SnehaGunda commented on #29740
@kvbreddy as we haven't heard back from you, we will have to close this issue. In case there are any updates, we are happy to reopen the issue or track it within askcomsodb at microsoft.com alias.

#please-close

[2019-06-05 23:56] huaxing-yuan commented on #20549
@MarileeTurscak-MSFT : Hello, i have the same issue. I've sent twice the request to this email address, waited each more than two weeks, but still no replies. would you kindly help ? So i can submit my application and test in an enterprise environment using MSAL. Thanks in advance.

[2019-06-05 23:56] dcbrown16 commented on #32800
Are you trying to change the image to a different ID entirely, like from a platform image to a custom image? Per this thread and #16899 that isn't supported.
https://social.msdn.microsoft.com/Forums/en-US/352d03c3-52d9-4fa8-a370-270731889fab/auto-scale-set-change-image-operationnotallowed?forum=AzureStack

[2019-06-06 00:01] FrankHu-MSFT commented on #32757
Hey @payalgaikwad42 are all your letters lowercase? Could you please provide the sections you changed from the GitHub sample?

This sort of issue might require a more dedicated support ticket to address the issue.

[2019-06-06 00:06] kweeket opened #32809 "Link to Microsoft Trust Center is 404"
"The [Microsoft Trust Center] has what you need to understand what we do to secure the Microsoft Cloud." - the link goes to a dead page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f71c6e6-2454-db53-9cc0-ecc59a7c1cb0
* Version Independent ID: 46e9be8a-473c-5c0d-9353-007e25ec0706
* Content: [Microsoft Trust Center an

[2019-06-06 00:10] YutongTie-MSFT commented on #32753
@AleksCallebat Thank you for your feedback, I have fixed it. You should see a change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-06 00:10] #32753 closed

[2019-06-06 00:11] Karishma-Tiwari-MSFT commented on #32807
I believe it is correct. Please refer to https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage and you can list out the images. You can check the SKU for the image there.

[2019-06-06 00:12] YutongTie-MSFT commented on #32781
@sannzay Thank you for the feedback, we will investigate it and get back to you soon.

[2019-06-06 00:15] kobulloc-MSFT commented on #32727
@eilon Thank you for following up.  I'd like to confirm again that your suggestions have been passed on to the document author and the document team will review your suggestions.  I will reopen the issue so you can track the progress, however please keep in mind that all issues need to be triaged and reviewed.  Thank you again for your feedback!

[2019-06-06 00:21] Karishma-Tiwari-MSFT commented on #32808
@tiago-sommer-damasceno
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 00:21] hukun01 commented on #32736
I tried deploying without osProfile.secrets, the cert didn't get installed. But then what does step2 do for us if we have to keep the osProfile.secrets?

[2019-06-06 00:24] pierreca commented on #31362
That's absolutely valid feedback. there's a huge gap between the functionality of the current python sdk (which barely functions in some very specific configurations/environments) and the expectation of the python developers (run everywhere, batteries included, etc)

Given the current state of the v1 of the python SDK (barely usable) and the fact that a v2 (that is a complete rewrite) is coming, i

[2019-06-06 00:26] dkkapur commented on #32805
@Alex Johnson<mailto:Alexander.Johnson@microsoft.com> thoughts on this?

From: Steven Shan <notifications@github.com>
Sent: Wednesday, June 5, 2019 4:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Deep Kapur <Deep.Kapur@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Should provide samples for using Azure Resource Manager to upgrade

[2019-06-06 00:32] paolosalvatori commented on #19749
Hi Ian I personally tested the procedure in  https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli and it doesn't work. I was able to fix the problem just setting the following values in the manifest of both the client and server applications:

I was able to fix this issue with Azure AD v2 application by setting the following in the client manifest:

"allowPublicClient": true,
"oauth

[2019-06-06 00:37] hukun01 opened #32811 "Can we use cert common name in OSProfile.secrets?"
Can we use cert common name in OSProfile.secrets, instead of certificateUrl that does not work with auto-rotating certs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfcaa1422
* Content: [Manage certificates in an Azure Service

[2019-06-06 00:41] #32808 closed

[2019-06-06 00:47] Eilon commented on #32727
No problem, I just didn't understand if the issue was planned to be fixed. Feel free to close this issue if the actual issue is tracked elsewhere. Thanks!

[2019-06-06 01:12] cynthn commented on #32773
@trazbyte Thanks for the feedback! What exactly happened when you tried running the sample?

@Karishma-Tiwari-MSFT What happened when you tried? I don't think the Custom Script Extension depends on WinRM. It worked fine for me and I can access the default IIS page using the public IP.

[2019-06-06 01:12] #29740 closed

[2019-06-06 01:24] mike-urnun-msft commented on #32803
Hi @brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2019-06-06 01:57] trazbyte commented on #32773
I tried running it from the Azure CLI via the portal over the internet and not via an express-route uplink.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Cynthia Nottingham <notifications@github.com>
Sent: Wednesday, June 5, 2019 9:13 PM
To: MicrosoftDocs/azure-docs
Cc: trazbyte; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Create Windows VM with IIS Comman

[2019-06-06 02:04] Mike-Ubezzi-MSFT commented on #10363
@jordanchang Thanks for pointing this out. I was not pointing out that the DLQ does not exist for Topics. The DLQ exists for both Topics and Queues. I was pointing out the configuration aspect in the UI and the UI has changed a bit. Additionally, the [path to the dead-letter queue](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#path-to-the-dead-letter-q

[2019-06-06 02:11] femsulu commented on #32806
@davidschlum Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-06 02:32] frehnejc opened #32815 "Silent unistall option for Dependency Agent"
I tried running the uninstall of the Dependency Agent for Windows with /q and then /s, is there no command line uninstall quiet option, we have moved a fleet of VM's with ASR so now want to do clean up tasks without having to log onto every VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f8ee3c-f9c2-91c6-1ea0-4875

[2019-06-06 02:46] ananthradhakrishnan commented on #32742
@dcbrown16 - an action rule with an action group acts additionally (instead of replacing) to any action group that might trigger for the alerts matching the scope/filters. Could you clarify the example that gave this unintended inference? I'll tighten the wording so that it's more clear.

[2019-06-06 03:03] dcbrown16 commented on #32742
@ananthradhakrishnan

"Separately" in that example implied to me that we were rewriting the rules. Should it says something like "wants to define additional actions that trigger for their resource group..."?

[2019-06-06 03:05] #32566 closed

[2019-06-06 03:16] AshokPeddakotla-MSFT commented on #32289
Yeah sure. That looks good.
@janlange Please see the above suggestions and let us know if you can resolve the issue by updating the NuGet packages.

[2019-06-06 03:24] DixitArora-MSFT commented on #32722
@JakeSmillie Just following up to check if you have gone through these [Azure Function Integration with Event hub articles](https://technology.amis.nl/2017/08/31/serverless-computing-with-azure-functions-interaction-with-event-hub/) and see if it helps.

[2019-06-06 03:37] ybuasen opened #32816 "Broken links under "Next steps""
Links under "Next steps" section of many connected factory document are broken. Click on this link will open the same page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34ee6f3-6182-1229-72cf-019349f7a8bc
* Version Independent ID: 45639f8d-c966-c2e9-d013-906cff14219e
* Content: [Connected Factory solution features -

[2019-06-06 03:55] ManojReddy-MSFT commented on #32785
@jochenvanwylick We are looking into this and will provide an update appropriately.

[2019-06-06 03:56] ManuInNZ commented on #30936
Hi

still a bug in the module reference I take.
the Install-Module should be:
[code]

Personally, I use `Login-AzAccount` so that I can loop through all tenants I have access to, have my MPN ID push to all.

[2019-06-06 03:57] ManojReddy-MSFT commented on #32786
@jrg-jeff Thanks for reporting this. We are looking into this and will provide an update appropriately.

[2019-06-06 03:58] ManojReddy-MSFT commented on #32788
@jrg-jeff Thanks for reporting this. We are looking into this and will provide an update appropriately.

[2019-06-06 04:01] YASWANTHM-MSFT commented on #32416
@b-juche , any update on this?

[2019-06-06 04:08] vetrivelmp commented on #11063
Is conditional access released?

[2019-06-06 04:13] femsulu commented on #32443
adding @rayne-wiselman

[2019-06-06 04:14] femsulu commented on #32502
@Rajani-Janaki-Ram any input on this please?

[2019-06-06 04:19] Rajani-Janaki-Ram commented on #32502
+ Rajeswari who owns this piece

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Thursday, June 6, 2019 9:45:17 AM
To: MicrosoftDocs/azure-docs
Cc: Rajani Janaki Ram; Mention
Subject: Re: [MicrosoftDocs/azure-docs] 5.1.4300.0 seems to be the latest. (#32502)

@Rajani-Janaki-Ram<https://nam06.safelinks.protection.o

[2019-06-06 04:20] mtschafe opened #32819 "Run the application"
When I try to run the app after cloning the repository, it doesn't produce the message its supposed to. I get the following error message and I can't find where the problem is so I can fix it.

cd meanjs
npm install
npm start

fs.js:27
const { Math, Object } = primordials;
                         ^

ReferenceError: primordials is not defined
    at fs.js:27:26
    at req_ (/Users/matt/Downloads/m

[2019-06-06 04:26] AshokPeddakotla-MSFT commented on #32816
@ybuasen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 04:30] RohitMungi-MSFT commented on #32641
@millercor Unfortunately I think the image in your response did not make it through. The actual setup for using voice portal and speech project is in this documentation page. I hope you can use the same steps to proceed further.

[2019-06-06 04:42] v-krghan commented on #32337
The article has been updated

[2019-06-06 04:45] v-krghan commented on #32322
The article has been updated, thanks

[2019-06-06 04:47] RohitMungi-MSFT commented on #32601
@benatuts The PR is now completed. The changes should reflect in the documentation in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 04:48] #32601 closed

[2019-06-06 04:48] RohitMungi-MSFT commented on #32657
@Hassan-Elseoudy We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 04:48] #32657 closed

[2019-06-06 04:59] payalgaikwad42 commented on #32757
@FrankHu-MSFT  Yes sure.
[trustframworkextension.txt](https://github.com/MicrosoftDocs/azure-docs/files/3260060/trustframworkextension.txt)

This is my extension file in which i made the changes as mentioned in the github document. I wanted to see how does localization works  so I  did not make any changes specific to my application. I just copy pasted the given sample from document.

I think It I

[2019-06-06 05:02] Kamyar5353 commented on #32791
Thanks.

[2019-06-06 05:03] CHEEKATLAPRADEEP-MSFT commented on #32592
@qaaditya It will be released soon, but we don't have any ETA to share as of yet.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-06 05:03] #32592 closed

[2019-06-06 05:03] payalgaikwad42 commented on #32757
This is what I get in the browser window when i click on sign up link from the 1st page:

![image](https://user-images.githubusercontent.com/42204123/59007957-62e87300-8846-11e9-8563-04a952a28e7b.png)

[2019-06-06 05:15] AshokPeddakotla-MSFT commented on #32322
@ac2707 The documentation has been updated. Please check and let us know if you need further help on this.

[2019-06-06 05:17] #32806 closed

[2019-06-06 05:22] ac2707 commented on #32322
@v-krghan  what version of .net core should be installed for this ?  i have 2.1.507 installed.
VS code - error below when I run all microservices -
![image](https://user-images.githubusercontent.com/49182510/59008820-15b9d080-8849-11e9-9e6d-cb4d0f29d8ee.png)
Please adise

[2019-06-06 05:22] DixitArora-MSFT commented on #32678
@t-l-k Just chekcing if you have gone through [Azure function with Queue Storage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-storage-queue-triggered-function#create-a-queue-triggered-function) and see if it helps.

[2019-06-06 05:26] v-krghan commented on #32322
@ac2707 Looks like the path was not specified correctly. Please set the path as ${workspaceRoot}/services/auth/WebService/bin/Release/netcoreapp2.0, thanks

[2019-06-06 05:31] KalyanChanumolu-MSFT commented on #32614
@chhamso Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-06-06 05:32] ananthradhakrishnan commented on #32742
Fair point @dcbrown16. I'll modify the wording, thanks for the feedback!

[2019-06-06 05:35] ac2707 commented on #32322
@v-krghan that's how it is in launch.json by default. didn't change it

also, getting the below error - i ran the device simulation service from -azure-iot-pcs-remote-monitoring-dotnet\services\device-simulation\scripts\docker

![image](https://user-images.githubusercontent.com/49182510/59009327-c379af00-884a-11e9-9b3a-5e117908df71.png)

[2019-06-06 05:35] VikasPullagura-MSFT commented on #32811
@hukun01 Thanks for the question! We are investigating and will update you shortly.

[2019-06-06 05:36] LuisBosquez commented on #27907
Just to add some final thoughts on this: Cosmos DB serializes the Gremlin API data into a JSON storage format. This is an implementation detail that many graph databases implement, since they all need to have a persistence layer; ours just happens to be in this format.

[2019-06-06 05:36] LuisBosquez commented on #27907
#please-close

[2019-06-06 05:51] brjohnstmsft commented on #32086
I'll try to find the right owner for this.

[2019-06-06 05:54] DixitArora-MSFT commented on #32679
@PingPongSet It should be Singleton.

[2019-06-06 05:57] jakaruna-MSFT commented on #32675
@Ettores88 i am closing this issue because the doc is already updated with the required details.
If you need additional help please mention me in the comment

[2019-06-06 05:57] #32675 closed

[2019-06-06 06:02] dcbrown16 opened #32820 "Document all log types"
These steps with screenshots are great, thanks for that. Particularly the log query example is helpful.
However, they only cover one of the 6 log types. Can you please provide a detailed breakdown of the type of information available in each log?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2

[2019-06-06 06:04] Rajeswari-Mamilla commented on #32502
@femsulu the latest version is 5.1.4300.0. Release notes is in progress and is expected to go live this week. The document will be updated accordingly.

[2019-06-06 06:08] v-krghan commented on #32337
@ac2707  The fix has been pushed, Please pull the latest code to try it and let us know if you need further help on this, thanks

[2019-06-06 06:17] jakaruna-MSFT commented on #32805
@aljo-microsoft Please provide your comments.

[2019-06-06 06:17] KalyanChanumolu-MSFT commented on #32799
@dsmichal Thank you for your interest in Azure products and services. We are investigating and will get back to you soon. 

[2019-06-06 06:18] KalyanChanumolu-MSFT commented on #32798
@MNF Thank you for your interest in Azure products and services. We are investigating and will get back to you soon. 

[2019-06-06 06:19] KalyanChanumolu-MSFT commented on #32795
@oppianmatt  Thank you for your interest in Azure products and services. We are investigating and will get back to you soon. 

[2019-06-06 06:20] SnehaGunda commented on #32471
@michaelsrichter I submitted a PR to update the image, changed the background from transparent to white. Changes will be live tomorrow after the PR is merged.

We will now close this issue if there aren't further questions,

[2019-06-06 06:20] SnehaGunda commented on #32471
#please-close

[2019-06-06 06:24] MartinJaffer-MSFT commented on #32513
@brtmeyer @kromerm   I have spoken to the product group.  Data Flow is not currently available in Brazil South, but is on the roadmap.  You can create a Data Flow in any other region except West Central US.

[2019-06-06 06:30] miicahjardine opened #32821 "Enabling Azure Repos integration via ARM."
Hi,

Can you provide documentation on how to enable AzureRepo integration via ARM.

According to the ARM Reference (https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/2018-06-01/factories) this is possible; but after confirguring the template with the required values git repo integration is not enabled.

Kind regards

Micah.

---
#### Document details

⚠ *Do not edit this secti

[2019-06-06 06:37] dcbrown16 commented on #32733
@msrini-MSFT thanks for checking, but that doesn't address the issue I am raising.
I guess we could help the situation a little by adding something about these system routes also being preferred over UDR? At least the service endpoint ones are.

Really there are two kinds of system routes - the default Internet and private IP range routing that you can override, and things like the service endpoin

[2019-06-06 06:42] thomasvdb opened #32822 "SQL auditing for AD accounts"
The documentation states the following: "When using AAD Authentication, failed logins records will not appear in the SQL audit log. To view failed login audit records, you need to visit the Azure Active Directory portal, which logs details of these events."

However, we've configured a database auditing policy `SELECT on DATABASE::myDatabaseName by db_owner` but don't see any audit logs when loggi

[2019-06-06 06:49] cosmicshuai opened #32823 "AddToTime Example 1 return result typo"
origin
"2018-01-02T00:00:00:0000000Z"
should be
 "2018-01-02T00:00:00.0000000Z"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference for functions in Workflow Definition Language - Azure Logic Apps and Mi

[2019-06-06 06:52] wojtekmaj commented on #32572
I did not need one. I wanted to deploy a rather simple static site. Kinda like

[2019-06-06 06:57] SamirFarhat commented on #15745
This is a bug. And the current workaround/solution is that your AFD resource name and the is Resource Group name must be lowercase.

[2019-06-06 07:04] iyerusad commented on #25891
@miaojiang APIM might be a bit heavy here. I believe this proxy implementation may have bug, or is unfinished.

My Scenario
---
Local development of Azure Functions runs off of `http://localhost:7071`. Enabling HTTPS (for local dev) is machine by machine basis: `--useHttps` appears to require cert generation, and then its advisable to import it to local machine so it doesn't throw cert errors. MEH

[2019-06-06 07:10] ac2707 commented on #32322
@v-krghan - can you please advise - issues with cwd even if i hard code the entire file path and prelaunch task error as above..

[2019-06-06 07:13] AdamWorkAccount commented on #31103
Already done both of these as stated above.

[2019-06-06 07:14] msrini-MSFT commented on #32733
@dcbrown16 , The order of precedence of routes are as follows:

1. UDR
2. BGP
3. System Routes

But when the destination is Virtual Network or VNET peered address space or service endpoints, system routes takes precedence. That's why we added it as a Note.

There are only one System routes.

[2019-06-06 07:18] mariojacobo commented on #32747
@iainfoulds Thank you for the insight. If we use PDB, then kured might not actually be able to do its job, while on the other hand, If no PDB, then we might suffer an outage while the node is being restarted. The only solution I see here is to over provision the cluster (n+1)  and use kured.

[2019-06-06 07:21] Pauline-Kowa opened #32824 "Problem while running sample codes"
I tried running the sample codes, but when running the LiveCameraSample, I got the following error appearing on the interface : "API called failed on frame... Exception occured while sending the request". This is not a problem with subscription keys.
Do you have any idea where it could come from ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-06-06 07:22] KetanChawda-MSFT commented on #32823
@cosmicshuai Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-06 07:25] CHEEKATLAPRADEEP-MSFT commented on #32821
@miicahjardine Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2019-06-06 07:26] arolshan opened #32825 "Instructions don't work on china sovereign cloud"
Instructions do work properly in public although in china cloud they don't.
Performing the following on db in china cloud:
`CREATE USER [aad-app] FROM EXTERNAL PROVIDER;`
fails with error:
_'aad-app' is not a valid login or you do not have permission._
is there something extra that needs to be done in sovergin cloud for this to work?
Thanks, Arik.

---
#### Document Details

⚠ *Do not edit this se

[2019-06-06 07:31] RohitMungi-MSFT commented on #32663
@TranKennyK Thanks for pointing this out. Currently it does not look like we have an option to highlight the text as URL in the review tool. @sanjeev3 Could you please let us know if we can highlight text as URL as I did not find a way currently do so.
@TranKennyK  You can also provide the feedback at our [uservoice](https://cognitive.uservoice.com/forums/559960-content-moderator) forum so the Pro

[2019-06-06 07:36] KetanChawda-MSFT commented on #32823
@cosmicshuai I have created a PR which will fix this typo  and available in public document in a day or two.

Thanks for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 07:37] #32823 closed

[2019-06-06 07:41] aaron-0 commented on #30853
Using a separate template to update the throughput is ok. But usually, you would have a single template that you first use to create a resource and then run again to update.

The current behaviour of the templates makes this difficult. If the template contains the options-->throughput section on the database and the value differs from what is currently deployed you get

"Throughput update is not a

[2019-06-06 07:52] AterCZE opened #32826 "Geofence can't upload data"
Hello,
I tried using the suggested GeofenceAPI. I uploaded a Polygon using the Data - Upload API in Postman.

The upload API is set to POST https://atlas.microsoft.com/mapData/upload?subscription-key=xxx&api-version=1.0&dataFormat=geojson and the body is an example body from GeofenceAPI:

[code]
That works alright, I get a 202 and when I check with  GET https://atlas.microsoft.com/mapData/UdidFrom

[2019-06-06 07:58] afnw35342 opened #32827 "Version 2018-02-14 Missing"
Shouldn't this page also include details of the 2018-02-14 version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d586338d-8cc3-cc26-a7f0-af6e052aeadc
* Version Independent ID: 4af9a6d8-1d9d-a431-8fff-106ef178330a
* Content: [Key Vault versions](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-versions)
* Co

[2019-06-06 08:08] mutzl commented on #32004
It compiles and runs without exception, though I don't see any log output in the console window (running the azure function in the local test environment).

[2019-06-06 08:08] MikkelHegn commented on #32528
I can repro this using an AKS-engine provisioned clusters as well. This time I see this message from the proxy (not consistently on all connection closures):

`I0606 10:06:54.998168    4656 log.go:172] http: proxy error: context canceled`

Will take this upstream to aks-engine / dashboard / k8 to figure out where the problem is.

[2019-06-06 08:10] AjayKumar-MSFT commented on #32819
@mtschafe, Thank you for posting this question!
Kindly ensure that appropriate Port is set. On Azure App Service only ports 80 and 443 are public facing. App Service injects process.env.PORT into your application, so the code uses the variable to know which port to listen.
Example - var port = process.env.PORT || 1337;

Check the current Node.js version running on the web app using node -v or node

[2019-06-06 08:14] ManojReddy-MSFT commented on #32809
@kweeket Thanks for taking the time to report this. The link is working for me as expected.

Can you confirm if the link is being translated to this "https://www.microsoft.com/en-us/trust-center"?

[2019-06-06 08:18] VikasPullagura-MSFT commented on #31803
@srrengar Thanks for the update on the issue. I tried with CLI and it is working as expected.

[2019-06-06 08:19] msfcolombo commented on #23558
I found that a common reason for the import to fail, is that `openssl` may add certain commentary text in the `.pem` file.

For instance, if you just convert a PFX to PEM using the command below:

`openssl pkcs12 -in cert.pfx -out cert.pem`

And type `cat cert.pem`, you may see something like this in the beginning:

[code]
Azure Key Vault does not understand any text in the `.pem` file that is not

[2019-06-06 08:24] levi106 opened #32828 "Invalid image name"
Invalid: "mcr.microsoft.com/windows/servercore/iis:windowservercore-ltsc2016"
Correct: "mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2016"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 922b9c51-6a6d-1118-d2a2-6d485b222ce8
* Version Independent ID: 6874cc89-a1f8-addd-430f-a4d6b7f89ae8
* Content: [Crea

[2019-06-06 08:29] VikasPullagura-MSFT commented on #31803
@KentaroAOKI Product team has fixed the issue, I have tried it with Azure cli and it is working as expected. Can you try it once from your side. Thanks.

[2019-06-06 08:31] Xiaoliangzhang commented on #32767
@FrankHu-MSFT
Thanks Frank, glad I could help.

[2019-06-06 08:31] nnamedieh opened #32829 "deployment name"
Hi all,

I am using the template service in the portal to provide my clients a GUI based experience of the templates we have. Unfortunately I cannot figure out how to (dynamically) change the deployment name of a deployment from the template service in Azure portal.

Each time I start a deployment through the portal, the deployment calls "['my_UPN'.'template_name']". So each time I start a deploym

[2019-06-06 08:41] #27907 closed

[2019-06-06 08:46] ToMakeSense opened #32830 "Update initial Deploy-AzureResourceGroup.ps1 to use Az module cmdlets instead of AzureRM's"
As described in the **`Note`**

I have migrated Azure PowerShell from AzureRM to Az recently according to this docs - [Migrate Azure PowerShell from AzureRM to Az](https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az), **I removed AzureRM totally**. However, my visual studio 2017(Professional 15.9.11) worked well with **Azure Resource Group project**, I mean creating projec

[2019-06-06 08:48] jakaruna-MSFT commented on #32828
@levi106
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 08:49] #27572 closed

[2019-06-06 08:52] nelsonavanade commented on #32681
Thank you for clarifying what the test button does.
So originally I had done what you described, running a simulated pi and have it sending messaged to my IoT hub, which was working, but the messages were not updated to the blob storage with the routing set up. That's why I tried the test button and thought that's the problem.
If if isn't the query message, what would be other causes to this routi

[2019-06-06 08:57] thomasvdb commented on #32822
Some additional info:
When using an AD user which is a member of another AD group then the AD group configured as admin and which has been added as contained DB user, the events are visible in the audit log.

To summarize:
1. We've added two AD groups called Admin and Readers.
2. The AD group Admin is configured as Active Directory admin on the SQL server
3. The AD group Readers is added as contai

[2019-06-06 09:00] hannesne opened #32831 "Missing instructions for Java"
I would be great if there were some instructions added for Java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Independent ID: 86725233-d4a5-a796-cd6e-c05c3675952b
* Content: [Continuously deliver function code updates using Azure DevOps](https://docs.microsoft.com/en-us/

[2019-06-06 09:18] SubhashVasarapu-MSFT commented on #32820
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-06 09:23] dnyaneshlb commented on #32609
@ShubhaVijayasarathy can you please comment on this?

[2019-06-06 09:29] aaronhughesdelt opened #32832 "AO / DA cost views missing from our Enrollment Details"
hey so I am a sub owner and I want to see costs in azure.portal for my subs.
the EA Admin cannot see the AO or DA cost views options under the enrolment so we cannot enable them.
there also appears to be several more options under Azure Marketplace than in the screenshot here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-06-06 09:33] kuyeduwu opened #32833 "Incorrect using"
In the "Add using directives" (link: https://docs.microsoft.com/en-in/azure/storage/queues/storage-dotnet-how-to-use-queues#add-using-directives), the second and third line should be：
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-

[2019-06-06 09:45] Sebastian-Negoescu opened #32835 "SSH Permission denied (publickey,gssapi-keyex,gssapi-with-mic) on Linux VM"
Yesterday morning, everyone was unable to SSH to one specific VM. There were no changes made it at all. It simply stopped working when we got to the office in the morning.
What we tried was the following:
- reset the SSH in the Azure portal - did not help;
- "reset" the password (we did not have password log in enabled) to try and connect to it with a password for further troubleshooting;
After lo