[2018-10-05 13:41] GBPhilip opened #16292 "Article Flow"
I find articles like this very easy to get lost following, links to other articles when you are trying to follow and copy, mean I just get lost and totally confused. I prefer articles that I can just follow top to bottom, and have something that works when I have reached the bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-05 14:15] pmcevoy opened #16293 "What about Azure Automation Server?"
Be nice if this page could also explain how I can wireup a scaleset to the Azure Automation DSC server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a162493-a493-b7bb-93a1-eedef8cf4efd
* Version Independent ID: 0f48d78b-d9dd-fb3c-81d9-275c11ce20b8
* Content: [Deploy an application to an Azure virtual machine scale se

[2018-10-05 14:30] NikolaTotev commented on #16184
I have the same issue. Everything seems to upload ok and says it is active, but it says there is no app.

[2018-10-05 14:34] vjabala commented on #16232
Yes, and I was able to parse out most of the file, but my real question is the limitation of only 10K of records at a time in Analytics.

[2018-10-05 14:38] peterfoot opened #16294 "Sample code uses deprecated UIAlertView which should be replaced with UIAlertController"
Code needs to be updated for new UIAlertController API. Ideally add Swift code to the Objective-C too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431c3a81-db2a-b34d-0f2c-50d71dc10c49
* Version Independent ID: c44dd034-b17a-663f-2f33-99c1f04edfbe
* Content: [Push notifications to iOS apps using Azure Notification Hu

[2018-10-05 14:41] #14258 closed

[2018-10-05 14:43] #12911 closed

[2018-10-05 14:44] scott1138 commented on #11976
@femsulu I am seeing the same issue when using the Azure portal to add custom logs.  I was given a parsing error even though my timestamp field should match.  I opened the OMS portal and added the same logs and it worked fine.  Being that the OMS portal is being retired this is pretty important to fix!

[2018-10-05 14:47] pmcevoy opened #16296 "How about scalesets?"
How can I manage Scalesets with Azure Automation?  There does not appear to be an extension for this on the scaleset side (there is a DSC one, but that seems unrelated to the Automation DSC server)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bfce65-1545-aaf8-ad4a-629b3bf14735
* Version Independent ID: 51d6a1d1-7b9

[2018-10-05 14:52] vhorne commented on #16024
@MichaelMcCoyDNVGL Thanks for the suggestion. I created a new work item for our backlog.
1354599: App Gateway: Create CLI version of web app article

[2018-10-05 14:52] vhorne commented on #16024
#please-close

[2018-10-05 14:53] rfcdejong opened #16297 "ConvertTo-SecureString isn't needed?"
I read on several places that it is not needed (anymore) to use ConvertTo-SecureString for passing the SasToken. Beside that I'm not able to get it to work anyway on a private blob container, but that is not relevant to this documentation, perhaps missing some possible errors as ResourceNotFound in a FAQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-10-05 14:55] #16024 closed

[2018-10-05 14:57] MGoedtel commented on #16281
@SychevIgor - I'm not following you, as the screenshot you are calling out as incorrect in the article is from the Azure portal not OMS portal.  Thanks.

[2018-10-05 15:02] rfcdejong opened #16298 "Example for using the configuration script is wrong"
The url must point to an zip file
and not just "url": "https://demo.blob.core.windows.net/",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ebf9bf-fb61-e694-1711-4fa00fc8a875
* Version Independent ID: c0b1ab45-6775-b84b-09fa-c77709bbb5d0
* Content: [Desired State Configuration extension with Azure Resource Manager te

[2018-10-05 15:17] DrEight opened #16299 "The Overview is Empty"
I did all the steps. With the command 'az vmss extension' I see the the agent 'MicrosoftMonitoringAgent' ver 1.0 installed on the nodes.
The 'Overview' shows everything with 0. Do you have any suggestion ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d8f0e2-6988-8c56-87f7-59064c94bdef
* Version Independent ID: 50da

[2018-10-05 15:29] georgewallace commented on #16066
@waynemsft I added the information to the docs. The updates based on your feedback will be live today.. Thanks for reaching out and making our docs that much better.

[2018-10-05 15:37] georgewallace commented on #15791
@hugovoerman I will get this added to this doc, but we rely on the local MMA agent for network connectivity so the requirements are the same as it. https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid#network-firewall-requirements

[2018-10-05 15:39] danabrash commented on #16238
@TravisCragg-MSFT

That makes sense, but does not bear out in my testing.

If I try to rely on the NSG's default rule "AllowInternetOutBound" and do not specifically allow or deny * for http/s, I am unable to access not specifically allowed URLs in the firewall.  At times I get an error from the firewall saying there is no matching rules, at other times I get the IE default 'can't find the url' er

[2018-10-05 15:40] Adam-Smith-MSFT commented on #16217
@aquibqureshi26 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 15:41] MicahMcKittrick-MSFT commented on #16263
Thanks for the question! We are investigating and will update you shortly.

[2018-10-05 15:41] Adam-Smith-MSFT commented on #16219
@tFable Thank you for the valuable feedback,we are investigating the issue.

[2018-10-05 15:42] MicahMcKittrick-MSFT commented on #16270
@payalgaikwad42 please provide us with the document you are referring to so we can better assist.

[2018-10-05 15:42] Adam-Smith-MSFT commented on #16229
@LisandroSu Thank you for the valuable feedback,we are investigating the issue.

[2018-10-05 15:42] Adam-Smith-MSFT commented on #16233
@UnexpectedLemon Thank you for the valuable feedback,we are investigating the issue.

[2018-10-05 15:43] MicahMcKittrick-MSFT commented on #16292
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:43] Adam-Smith-MSFT commented on #16244
@vapolasa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 15:45] Adam-Smith-MSFT commented on #16278
@mdenieffe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 15:46] MicahMcKittrick-MSFT commented on #16251
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:48] MicahMcKittrick-MSFT commented on #16252
Thanks for the question! We are investigating and will update you shortly.

[2018-10-05 15:48] Angelicvorian commented on #10813
Hi,
  I've been having similar issues adding nodes to an existing cluster running gMSA auth.
So i've had a cluster created using 3 nodes with gMSA. Account is configured correctly, cluster builds with no issues. gMSA is admin on all nodes in cluster (and those about to be joined)
I'm creating a cluster/adding nodes from a machine not in the cluster, but it does have the SDK installed so it can per

[2018-10-05 15:48] Mike-Ubezzi-MSFT commented on #16255
@v-maroge @v-maroge Thanks for the feedback. I do want to initially respond with alerts are sent via email and can be viewed in the Azure Portal. And example notification made available in the documentation: [Explore anomalous database activities upon detection of a suspicious event](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-threat-detection#explore-anomalous-database-activi

[2018-10-05 15:49] MicahMcKittrick-MSFT commented on #16248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:53] MicahMcKittrick-MSFT commented on #16298
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:53] srrengar commented on #16299
@DrEight could you share a screenshot of what you see? Did you configure any performance counters in Log Analytics to be collected?

[2018-10-05 15:53] MicahMcKittrick-MSFT commented on #16260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:54] #16272 closed

[2018-10-05 15:55] MicahMcKittrick-MSFT commented on #16259
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:56] MicahMcKittrick-MSFT commented on #16293
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:57] MicahMcKittrick-MSFT commented on #16299
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:58] MicahMcKittrick-MSFT commented on #16289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 15:58] payalgaikwad42 commented on #16270
Thank you for getting back to me.
i am using following document for installation : https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux

[2018-10-05 16:03] richardasavie opened #16302 "Publish messages with a device with special characters"
Service I am having issues with:
Azure IoT Hub

Problem:
When creating a device with special characters in its ID, eg: (+44)090809098 I can connect but can't send messages, to:
devices/(+44)090809098/messages/events/home-hello

At first I thought it was because of the encoding, but I've tried with:
devices/(%2B44)090809098/messages/events/home-hello
and:
devices/%2B44%29090809098/messages/events/h

[2018-10-05 16:05] payalgaikwad42 commented on #16270
following are the logs of journalctl -u iotedge --no-pager --no-full

Logs begin at Wed 2018-10-03 09:45:13 IST, end at Wed 2018-10-03 09:47:22 IST. --
Oct 03 09:45:39 payalG-PC systemd[1]: Started Azure IoT Edge daemon.
Oct 03 09:45:40 payalG-PC iotedged[2039]: 2018-10-03T04:15:40Z [INFO] - Starting Azure IoT Edge Security Daemon
Oct 03 09:45:40 payalG-PC iotedged[2039]: 2018-10-03T04:15:40Z [INF

[2018-10-05 16:06] ggirard07 commented on #9885
Finally got this to work! The key is really to NOT MIX scopes in the request.
For ROPC, the app id of the native app used to request the token is not required to be present in the scopes list. But scope list in at least 1 valid application scope in addition of the standard scopes `openid` and `offline_access`. Here are some example of scopes:

- `openid https://myB2C.onmicrosoft.com/api/myScope1 o

[2018-10-05 16:08] dhanvi opened #16303 "Encryption for Azure Redis Cache"
Could you please add about encryption at rest and transit ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84b7eee-6a44-a59b-a6ac-f9b483e51193
* Version Independent ID: a01b9cf7-2ae7-7bcd-8c6c-8d0c01162970
* Content: [What is Azure Redis Cache?](https://docs.microsoft.com/en-us/azure/redis-cache/cache-overview)
* Cont

[2018-10-05 16:09] OlegKarasik opened #16304 "The 'Making DNS queries on a stateful service partition.' link doesn't leads to the appropriate paragraph"
In the **Setting the DNS name for a default service in the ApplicationManifest.xml** section there is a link called **Making DNS queries on a stateful service partition** that doesn't lead to the appropriate document section.

I think this is related to the name of the section in the document where this link should point to - **[Preview] Making DNS queries on a stateful service partition**.

The c

[2018-10-05 16:10] vhorne commented on #15848
@jeffwmiles
OK, doc has been updated. Should go live later this morning.
#please-close

[2018-10-05 16:15] cwatson-cat commented on #16065
Hi @tbkobberoe - The billing alert feature as it was implemented wasn't working well for customers and  is deprecated - so we removed the article. @manish-shukla01 FYI

[2018-10-05 16:16] GithubMirek commented on #7499
I can reproduce this problem on our end and for now we will document that using ":"is currently not supported.

[2018-10-05 16:19] GithubMirek commented on #7499
Could you please let me know the exact statement you use with ampersand , that I can check it on our end too?

[2018-10-05 16:20] jason-j-MSFT commented on #16265
@WhiteyC
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 16:28] Karishma-Tiwari-MSFT commented on #16270
@payalgaikwad42 Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2018-10-05 16:28] mamccrea commented on #16252
@timmyreilly - We're glad you're excited about the feature! I've spoken with our product team and they expect GA by December 2018.

[2018-10-05 16:30] jcbrooks92 commented on #13271
Try pointing the root of your git repository to the directory with the .csproj file and add the deployment script mentioned in this blog: https://hajekj.net/2017/06/19/deploying-asp-net-core-to-app-service-on-linux/

![image](https://user-images.githubusercontent.com/18233035/46547535-2f5ddf00-c89a-11e8-9cdc-d3c4b61b1380.png)

[2018-10-05 16:31] Karishma-Tiwari-MSFT commented on #16033
@tapialuism Did you get a chance to take a look shared above? Please let us know if that helped. Thanks.

[2018-10-05 16:31] Karishma-Tiwari-MSFT commented on #16090
@gdprtcl Can you please share the doc you have been following? Thanks.

[2018-10-05 16:32] Karishma-Tiwari-MSFT commented on #16097
@Nanditab Any update?

[2018-10-05 16:32] 0GiS0 commented on #11383
Hi folks,

What happens if you have multiple APIs with different AD Applications? I mean, I have two questions here:

- The best practice is having an AD application per application, right? (web, api, mobile, etc.) and then give them permissions to the APIs they need to access, is that correct?
- If I have to access to multiple resources, how can I configure that in the "additionalLoginParams"?

T

[2018-10-05 16:35] Karishma-Tiwari-MSFT commented on #15937
@asvyat Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 16:35] #15937 closed

[2018-10-05 16:36] Grace-MacJones-MSFT commented on #16294
Hi @peterfoot, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 16:36] #16200 closed

[2018-10-05 16:37] GithubMirek commented on #11179
Thank you for the correction and for the example change you have suggested.
 We will incorporate it in  the documentation.

[2018-10-05 16:41] CarlRabeler commented on #14038
@borys86 What specifically are you looking for? You can use c# with PowerShell to manage LTR. See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure#use-powershell-to-configure-long-term-retention-policies-and-restore-backups
Are you looking for help working with C3 and PowerShell?

[2018-10-05 16:41] GithubMirek commented on #13578
Currently Azure SQL DB does not support it. It is on our to-do list, but we do not have the ETA

[2018-10-05 16:44] GithubMirek commented on #13694
Thanks you for pointing out this issue. We will correct the documentation

[2018-10-05 16:45] CarlRabeler commented on #16089
#please-close

[2018-10-05 16:48] CarlRabeler commented on #12004
@narenkv Please see the diagram in this article: https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-overview
After reviewing this diagram, please help me understand what additional diagram that you would like to see. Thanks.

[2018-10-05 16:50] #16252 closed

[2018-10-05 16:52] v-jerkin commented on #14855
There's now a JavaScript SDK for the Speech service. It's for use in the browser; but according to:

https://docs.microsoft.com/javascript/api/overview/azure/speech-service

An NPM package is coming soon.

I've asked the Speech developers for further comment.

[2018-10-05 16:57] femsulu commented on #16296
@pmcevoy Thanks for the question. We are actively investigating and will get back to you soon.

[2018-10-05 16:58] femsulu commented on #16297
@rfcdejong Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-05 16:59] MohitGargMSFT commented on #16216
@bally-singh I would request you to open an [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support Engineer could check and help you resolve the issue. I case you have limitations in your current Support Plan to open Support case let us know.

[2018-10-05 17:00] MohitGargMSFT commented on #15977
@pjt33 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-05 17:00] #15977 closed

[2018-10-05 17:01] MohitGargMSFT commented on #16215
@Nardu92 Please post your MSDN Thread URL created here and we will make sure that you get required assistance in MSDN Forum. Thanks.

[2018-10-05 17:05] tapialuism commented on #16033
I will dive in today to take a look. I do recall the that the only drive
letter was D. I’ll check again if the results are the same I’ll repeat the
procedure beginning from installing IIS.
 I will keep you informed.

On Fri, Oct 5, 2018 at 9:31 AM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2018-10-05 17:07] kobulloc-MSFT commented on #16276
@fusionet24 I wasn't able to find any documentation on disabling emails in this section either.  Would you mind replying with the subject of the email that you received?  That may help us track down the issue.  While you do that, I'm going to assign this to the author so we can update our documentation accordingly.

[2018-10-05 17:07] billmath commented on #16104
@sameerdhoot thank you for the submission.  Yes, if you are only doing it in the forest that you disabled it in the previous step you could do this.  This was left out because you may be running this in more than one forest and need different creds per forest.

#please-close

[2018-10-05 17:11] billmath commented on #16081
@reikor0x Thank you for the submission  Can clarify what panel specifically?  Thanks!

[2018-10-05 17:17] GithubMirek commented on #13471
First of all- have you been able to connect to SQL DB using AAD user  who is a member of the group you created? If not what error message do you get?

As far as adding a group to  db_datareader role the syntax is indicated below
create user [SDDevelopers] from external provider  -- where SDDevelopers is an AAD group
alter role db_datareader add member [SDDevelopers]

[2018-10-05 17:20] billmath commented on #16080
@reikor0x I have added a note to both pages.  This is included in some additional updates so it may not be live for a few days.  Thanks!

#please-close

[2018-10-05 17:27] MicahMcKittrick-MSFT commented on #16304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 17:29] gldraphael commented on #15495
The new Microsoft Docs page does have the sections of the old learning paths page handy on the left, so if you think the v2 learning paths is redundant, I think it'd be best to remove learning paths section altogether.

AMS already has too many concepts one needs to understand, adding links to a version with breaking changes only gets in the way IMO :)

[2018-10-05 17:30] TravisCragg-MSFT commented on #15848
@jeffwmiles We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 17:30] #15848 closed

[2018-10-05 17:32] YutongTie-MSFT commented on #16264
@priyatharshiniSundaram We have document can help you build QnA Bot in V4, please refer to it : https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs Thanks.

[2018-10-05 17:38] MicahMcKittrick-MSFT commented on #6349
FYI I am working offline to get this sorted out. Will provide updates as I have them.

[2018-10-05 17:38] alexdlevin commented on #15759
@NileshGhodekar Hey Nilesh, do you or anyone else have any documentation or blogs about the MD4 hash synced with encrypted with reversible encryption?  If not, how was this discovered?

[2018-10-05 17:39] MicahMcKittrick-MSFT commented on #15527
@wy193777 @timwebster9 FYI we are still working on this offline. Will update once I have more

[2018-10-05 17:41] SaurabhSharma-MSFT commented on #16269
@BilawalAsghar Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 17:42] MicahMcKittrick-MSFT commented on #16165
@venkatrv Just as an FYI, BizTalk Hybrid Connections is retired, and replaced by App Service Hybrid Connections. For more information, including how to manage your existing BizTalk Hybrid Connections, see [Azure App Service Hybrid Connections](https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections).

I will close this out for now. If you have additional questions just le

[2018-10-05 17:42] #16165 closed

[2018-10-05 17:42] glimoli commented on #13508
@MicahMcKittrick-MSFT there was a typo on the article which I've fixed already.

[2018-10-05 17:42] SaurabhSharma-MSFT commented on #16271
@rjarrattmsft Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 17:43] SaurabhSharma-MSFT commented on #16279
@mrmueller Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 17:44] MicahMcKittrick-MSFT commented on #16259
@rdiazconcha for any product feature suggestions such as this please leave your feedback here:

https://feedback.azure.com/forums/293901-service-fabric

[2018-10-05 17:44] #16259 closed

[2018-10-05 17:45] SaurabhSharma-MSFT commented on #16284
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 17:46] Karishma-Tiwari-MSFT commented on #16302
@richardasavie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 17:46] SaurabhSharma-MSFT commented on #16288
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 17:47] SaurabhSharma-MSFT commented on #16080
@reikor0x We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 17:47] #16080 closed

[2018-10-05 17:48] NileshGhodekar commented on #15759
@alexdlevin, this has been publicly documented in the AAD DS documentation, just not in this article. See: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-synchronization#password-hash-synchronization-and-security-considerations

[2018-10-05 17:48] banjaxedben opened #16306 "Is api-version required?"
The section "Using the MQTT protocol directly" states that the Username field must include the suffix "/api-version=2016-11-14". In my experience this is not required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
* Con

[2018-10-05 17:48] SaurabhSharma-MSFT commented on #16081
@reikor0x We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 17:48] #16081 closed

[2018-10-05 17:48] SaurabhSharma-MSFT commented on #16019
@ermacia91 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 17:48] #16019 closed

[2018-10-05 17:50] glimoli commented on #16289
Hi @jtuliani currently there are multiple pages on how to prepare a Linux VM and all of them will depend on the distro. Some of them are:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/debian-create-upload-vhd
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-ubuntu

[2018-10-05 17:50] Cherisle commented on #11884
Thanks for the response @kgremban, I do in fact use SendEventAsync to send messages within the DataModule; this is how I am able to view the live D2C messages from within VS Code. I had forgotten to include that section of the code due to my assumption that the problem stemmed from myself not understanding whether I connected my DeviceClient or ModuleClient properly. Regarding the information on m

[2018-10-05 17:51] MicahMcKittrick-MSFT commented on #16304
@OlegKarasik good find! I have corrected the doc.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-10-05 17:53] MarileeTurscak-MSFT commented on #16271
@rjarrattmsft thanks for the feedback! I created a pull request with your change.

[2018-10-05 17:53] #16271 closed

[2018-10-05 17:54] vhorne commented on #12946
@rakeshramk
Here's some more information from the product team about how this works:

The authentication certificate is public key of the server certificate used in backend pool – for end to end SSL communication. If all the members in backend pool have the same server cert then only one auth cert is used. If they have different certs then they would need to add multiple auth certs. There isn’t a

[2018-10-05 17:59] davidmu1 commented on #11952
Added an example suggested by the engineering team and added a link to the class reference page.

#please-close

[2018-10-05 18:01] Adam-Smith-MSFT commented on #15757
@tjohnson1010 It is actually not supported, Per [this documentation](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-capture-overview) it only supports blobs and datalake.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 18:01] #15757 closed

[2018-10-05 18:07] tescales commented on #11861
Re-opening the thread... the original point still stands, which is that **this article** should clearly point out that cloud services is deprecated. The referenced link states "Cloud Services is similar to Service Fabric in degree of control versus ease of use, but it’s now a legacy service and Service Fabric is recommended for new development." but that's not mentioned in this article or anywhere

[2018-10-05 18:07] schillit opened #16307 "Connection String difficulty"
Isn't there an easier way to get the connection string? I thought at one point it was actually on the IoT Central application.  Need to make this easier, can't even get a simple demo running without that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a591eefb-3d7f-7760-13a2-63c54c516ab0
* Version Independent ID: 28c5e

[2018-10-05 18:08] MikeChristensen commented on #16234
I guess what I meant is can I say <ImageName>[SomeParameter]</ImageName> in a ServiceManifest.xml file, or does that only work for ApplicationManifest.xml like what's documented above?

[2018-10-05 18:09] Adam-Smith-MSFT commented on #15763
@ran-ten21 We don't actually have a page for it at the moment, I will take this feedback and will bring it up to the product team.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 18:09] #15763 closed

[2018-10-05 18:12] TravisCragg-MSFT commented on #16267
@matevarga Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc I will let you make the call on this

[2018-10-05 18:13] MicahMcKittrick-MSFT commented on #16260
Two ways to think about scaling in Service Fabric.

1) Adding more nodes to your cluster. Doing this will add a physical virtual machine to your cluster and balance services across your cluster now using that new VM. As pricing goes, if you are adding an additional node then you would be paying for that new nodes compute time and storage resources.

2) Adding another instance of your application.

[2018-10-05 18:18] ShaneCourtrille commented on #11861
Agree 100% with @tescales.  You would be making a very bad decision to start a project with Cloud Services right now.

[2018-10-05 18:18] #16304 closed

[2018-10-05 18:18] SnehaGunda commented on #16241
#please-close

[2018-10-05 18:20] SnehaGunda commented on #14796
Cool! as you are not blocked anymore, we will close this issue soon. Thanks!

[2018-10-05 18:20] SnehaGunda commented on #14796
#please-close

[2018-10-05 18:26] JetPac33 opened #16308 "RBAC enabled clusters require --set rbac.create=true ?"
I had to add the option --set rbac.create=true for the Ingress controller to start, when running the Helm command to install nginx ingress into my aks cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-0fb1-f089-3f7ca4fad729
* Version Independent ID: 929253d7-c763-6429-561f-529d39b5284d
* Content: [Cr

[2018-10-05 18:27] vladvino commented on #16282
Hi @Dharita, please make sure you don't have quota policy configured on any of the products that your API is part of.

[2018-10-05 18:31] Adam-Smith-MSFT commented on #15855
@vlad-MSFT  Thanks for the response. @alohaninja
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 18:31] #15855 closed

[2018-10-05 18:32] Adam-Smith-MSFT commented on #15896
@pebbledavec Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 18:36] MikeChristensen commented on #16234
So, the example above shows passing in the parameter "CacheSize" into the service, but it doesn't show how to actually use it anywhere.

[2018-10-05 18:36] curtand commented on #16137
Hi @keposet
I'm getting the information now from my PM. My first impression is that this might be for Intune and not Azure AD. I'll comment again as soon as I know.

@MohitGargMSFT

[2018-10-05 18:38] Karishma-Tiwari-MSFT commented on #11952
@RichiCoder1 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 18:38] #11952 closed

[2018-10-05 18:39] Karishma-Tiwari-MSFT commented on #16089
@Sethu2488 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 18:39] #16089 closed

[2018-10-05 18:40] jason-j-MSFT commented on #15895
@rohancragg I tried the tutorial and it worked for me.  We are closing this issue for now, but if you notice anything else, feel free to add comments.

[2018-10-05 18:40] #15895 closed

[2018-10-05 18:42] #16007 closed

[2018-10-05 18:43] TravisCragg-MSFT commented on #16238
@danabrash I am not sure if this is fully documented, but outbound traffic will first get processed by the NSG, and then by the firewall.

Even if the traffic is allowed by the NSG, it still needs to be allowed by the firewall as well, and this is by design. If the traffic does not have matching rules in the Firewall, it will be denied.

[2018-10-05 18:44] Adam-Smith-MSFT commented on #15916
@lmoxiel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 18:47] Karishma-Tiwari-MSFT commented on #16293
@pmcevoy [Here ](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-dsc)is the document for Using Virtual Machine Scale Sets with the Azure DSC Extension.
Let me know if that helped answer your question. Thanks.

[2018-10-05 18:50] Grace-MacJones-MSFT commented on #16180
Hi @simonholgate, I followed the same example and didn't see a carousel div before or after my app was created. Can you show me where you're seeing the carousel div?

![asp net](https://user-images.githubusercontent.com/42247081/46554248-8eb8f080-c894-11e8-840b-d91f5820e3e4.PNG)

![asp div](https://user-images.githubusercontent.com/42247081/46554267-9aa4b280-c894-11e8-83a1-db08c686f324.PNG)

[2018-10-05 18:58] #5767 closed

[2018-10-05 18:59] MicahMcKittrick-MSFT commented on #6349
***UPDATE***

The product groups are aware of this issue. They are working internally on it.

In the meantime, they have suggested that customers use the images from the marketplace provided by docker to continue working

![image](https://user-images.githubusercontent.com/32313503/46554661-d2602a00-c895-11e8-8ec4-24d604f8b82a.png)

We will be updating this doc once changes have been made to the pr

[2018-10-05 18:59] #6349 closed

[2018-10-05 19:00] ShaneCourtrille opened #16311 "Always On"
Is there a header in the Always On request that we can filter against to remove them from our logs?  If so can that be added to the documents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80ec5-3559-74e6-e0fa-6384b20052e5
* Content: [Configure web apps

[2018-10-05 19:04] Adam-Smith-MSFT commented on #15958
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 19:08] Adam-Smith-MSFT commented on #16032
@corporateg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 19:09] Adam-Smith-MSFT commented on #16159
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 19:13] MohitGargMSFT commented on #16279
@mrmueller Yes your understanding is correct. If you want to provide access to paid Azure AD features, like MFA and conditional access, B2B collaboration guest users must be licensed with appropriate Azure AD licenses.

Depending on the paid Azure AD features you want for your guest users, you must have enough Azure AD paid licenses to cover B2B collaboration users in the same 5:1 ratio.

Referenc

[2018-10-05 19:17] erik-johnson opened #16312 "SQL Database Metric Alerts Are Gone"
I've been trying to configure Azure SQL Database metric alerts as described on this page, but they don't seen to exist anymore. If I select a SQL DB in the Azure portal there is no "Alert rules" option under Monitoring, there is only "Alerts (Classic)" and if I select that there is a greyed out button labeled "Add metric alert (classic)" and there is an enabled "Add activity log alert" button. Sel

[2018-10-05 19:20] jason-j-MSFT commented on #16073
@jpchauhan I don't agree.  If you want to use the apostrophe, you would need to add an article in front of the word that is demonstrating possession:
"The ResourceManager grants a cluster’s compute resources to MapReduce jobs."
or
"The ResourceManager grants the cluster’s compute resources to MapReduce jobs."

As far as the optimization suggestion, the part of the sentence "applications like" sugg

[2018-10-05 19:20] #16073 closed

[2018-10-05 19:32] MarileeTurscak-MSFT commented on #16192
No, you would not need to install it on Forest B for the Forest A user to be protected.

"The Azure AD password protection proxy service runs on any domain-joined machine in the current Active Directory forest. It forwards requests from domain controllers to Azure AD and returns the response from Azure AD back to the domain controller."

[2018-10-05 19:32] MarileeTurscak-MSFT commented on #16192
Hope this helps! If you have further questions please leave a comment and I will gladly continue the discussion.

[2018-10-05 19:32] #16192 closed

[2018-10-05 19:39] #13793 closed

[2018-10-05 19:40] asasine opened #16315 "Maximum number of Key Vaults per subscription"
Is there a maximum number of Key Vaults that can be deployed per subscription or region? Similar to the maximum number of storage accounts per subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b3e7270-ab3a-eff5-899f-f22bc45e6551
* Version Independent ID: 23fb7096-6a3c-13bf-33a7-69b9dcc6bfe4
* Content: [Azur

[2018-10-05 19:40] TravisCragg-MSFT commented on #16248
@rokeithjr I have added the continuation characters, the doc should update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 19:40] #16248 closed

[2018-10-05 19:45] CelesteDG commented on #15878
Fix should be integrated for this afternoon's content update. #please-close

[2018-10-05 19:47] Adam-Smith-MSFT commented on #16217
@aquibqureshi26 I replied to your thread https://social.msdn.microsoft.com/Forums/en-US/e06e8c78-7c61-4003-9bd0-6dafd367ccaf/vhd-snapshot-billing-confusion?forum=windowsazuredata&prof=required
I'll go ahead and close this issue, and will follow up with you there :)

[2018-10-05 19:47] #16217 closed

[2018-10-05 19:47] BryanLa commented on #10555
@dneelyep @cjhseq @rohancragg - please accept our apologies for the delay on this..

I've discussed with engineering, and they ask that you drop a request in the Azure Key Vault Customer Feedback Forum page: https://feedback.azure.com/forums/906355-azure-key-vault. This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for priorit

[2018-10-05 19:48] Juliako commented on #15495
@gldraphael, yes, that makes sense, I will add it to my backlog. Thank you!

[2018-10-05 19:51] Adam-Smith-MSFT commented on #16242
@gonen-kamamber Could you provide us with the documentation link you were following when you ran into this issue?

thanks

[2018-10-05 19:53] Adam-Smith-MSFT commented on #16229
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-05 19:54] wmengmsft commented on #16199
@AlexanderZehnder, thanks for reporting this.

I tried the following steps and I was unable to reproduce the error you saw:
1. Create a new .NET framework project in VS2017
2. From Nuget package manager UI, install in the following order:
  a. Microsoft.Azure.DocumentDB version 2.1.2
  b. Microsoft.Azure.Storage.Common version 9.0.0.1-preview
  c. Microsoft.Azure.CosmosDB.Table version 2.0.0

I al

[2018-10-05 19:56] MGoedtel commented on #16218
#triaged

[2018-10-05 20:01] CelesteDG commented on #15339
Hello @codecrasher99 - Did you see this MSDN article that talks about error AADSTS50011? https://blogs.msdn.microsoft.com/jpsanders/2018/01/30/azure-app-service-error-aadsts50011-the-reply-address-http-azurewebsites-netsignin-oidc-does-not-match-the-reply-addresses-configured-for-the-application/

[2018-10-05 20:02] CelesteDG commented on #15401
The info has been live as of Sept 24.

#please-close

[2018-10-05 20:02] Mike-Ubezzi-MSFT commented on #16312
![screenshot 388](https://user-images.githubusercontent.com/37126106/46557486-dfcde200-c89e-11e8-8b18-1d02f6ebf227.png)

[2018-10-05 20:03] Mike-Ubezzi-MSFT commented on #16312
@aamalvea This doc needs an update as the steps have changed a bit and the screen images are dated.

[2018-10-05 20:08] JatinSanghvi opened #16317 "What are the three URLs: context.Api.ServiceUrl, context.Request.OriginalUrl and context.Request.Url meant for?"
I assume `context.Api.ServiceUrl` is for the backend service URL. What's the difference between `OriginalUrl` and `Url`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions]

[2018-10-05 20:08] ccarns opened #16318 "Explain what happens once published"
It not clear what happens when you publish your application to azure.   I am using ASP.NET Core and it works great in local development.  However when I publish my project to STAGING the values are not filled out.

1) I am I suppose to add ASPNETCORE_HOSTINGSTARTUP__KEYVAULT__CONFIGURATIONENABLED and ASPNETCORE_HOSTINGSTARTUP__KEYVAULT__CONFIGURATIONVAULT  to the Application Settings section of th

[2018-10-05 20:10] TravisCragg-MSFT commented on #15911
@easkerov We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 20:10] #15911 closed

[2018-10-05 20:10] TravisCragg-MSFT commented on #16136
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 20:10] #16136 closed

[2018-10-05 20:11] CelesteDG commented on #15200
Hello @andrewdialpad - Thank you for your question and thanks a lot for your patience. I was waiting for our Ignite docs update to go live as the updated doc, https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens, supersedes the older topic you referenced in your question. Please use this new topic moving forward and please note that in this updated topic we only kept `preferre

[2018-10-05 20:12] CelesteDG commented on #15200
@SaurabhSharma-MSFT @MohitGargMSFT @MarileeTurscak-MSFT Answer provided to customer. #please-close Thank you.

[2018-10-05 20:12] johndeu commented on #15495
I'd be curious to hear which feature you needed in v3 @gldraphael ?

[2018-10-05 20:14] vladvino commented on #16317
@JatinSanghvi ServiceUrl contains base URL for the backend associated with the API. OriginalUrl contains full URL specified with the incoming request. Url contains the current value of the full backend URL.

[2018-10-05 20:18] Karishma-Tiwari-MSFT commented on #16308
@JetPac33 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 20:23] Karishma-Tiwari-MSFT opened #16320 "Incorrect Link for Properties that require delete"
Url should be https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#properties-that-require-container-delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088849
* Version Independent ID: bbb97f05-ca9a-1558-a95e-bca1fe610752
* Content: [Update containers in

[2018-10-05 20:31] Karishma-Tiwari-MSFT commented on #16320
I have corrected the url, the changes will be live once this [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/54449)is merged.

[2018-10-05 20:31] mamccrea commented on #15436
#please-close

[2018-10-05 20:34] Karishma-Tiwari-MSFT commented on #14796
@Sajlib We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 20:34] #14796 closed

[2018-10-05 20:34] Karishma-Tiwari-MSFT commented on #15401
@astaykov We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 20:34] #15401 closed

[2018-10-05 20:35] Karishma-Tiwari-MSFT commented on #16104
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 20:35] #16104 closed

[2018-10-05 20:35] Karishma-Tiwari-MSFT commented on #15878
@JimDaly We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 20:35] #15878 closed

[2018-10-05 20:36] Karishma-Tiwari-MSFT commented on #16241
@timmyreilly We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 20:36] #16241 closed

[2018-10-05 20:38] SaurabhSharma-MSFT commented on #15709
@davidmu1  The problem is that in order to test the custom policy you need to have one application registered in your Azure AD B2C and if you do not have any application registered in Azure AD B2C you won't be able to test the application.  Please find below the screenshots where I do not have any registered applications in my Azure AD B2C tenant -

1. No Application registered in Azure AD B2C
![i

[2018-10-05 20:41] erik-johnson commented on #16312
@Mike-Ubezzi-MSFT That worked. Thanks for your help!

[2018-10-05 20:45] js-kyle commented on #14122
I think the problem is that this tutorial describes connection to MongoDB based on version 4 of the Mongoose library. People following the tutorial running `npm install mongoose` will receive the latest version of Mongoose (5) where you must pass the user and password as options, as suggested by the code snippet in this issue. I could create a PR to clarify this?

[2018-10-05 20:48] mamccrea commented on #16074
@jpchauhan - It depends on the available resources. YARN uses a global ResourceManager (RM), per-worker-node NodeManagers (NMs), and per-application ApplicationMasters (AMs). The per-application AM negotiates resources (CPU, memory, disk, network) for running your application with the RM. The RM works with NMs to grant these resources, which are granted as containers.

[2018-10-05 20:49] mamccrea commented on #15506
#please-close

[2018-10-05 20:49] SnehaGunda commented on #14122
@js-kyle got you, thanks for the explanation, and yes please feel free to submit a PR with your suggestions, I will review and merge them!

[2018-10-05 20:51] peterfoot commented on #16294
Thanks, I've just submitted pull request #16323 with replacement code to address this issue.

[2018-10-05 20:53] TravisCragg-MSFT commented on #16238
@danabrash We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 20:53] #16238 closed

[2018-10-05 20:59] #16317 closed

[2018-10-05 21:02] MGoedtel commented on #16281
@SychevIgor - Sorry, I didn't realize the screenshot you shared was not from the article, but to reinforce your point about the discrepancy since a colleague has been managing this article.  I'll bug this and get it squared away next week.  #please-close I have filed a bug.  Thanks for raising this item.

[2018-10-05 21:03] vladvino commented on #16266
@Dharita not at the moment but we are working on making it possible - see https://azure.microsoft.com/en-us/updates/use-external-cache-with-azure-api-management/.

[2018-10-05 21:04] MarileeTurscak-MSFT commented on #16194
Hi @durind , as of recently MFA settings are reflected per tenant. You can set up your own MFA device per tenant even as a guest user as long as the admin has given you rights to do so. Please do this under https://myapps.microsoft.com/ "Select Additional security verification."

Check out the instructions here and make sure these work for you: http://www.uclabs.blog/2018/03/mfa-with-guest-access-

[2018-10-05 21:06] MarileeTurscak-MSFT commented on #16194
I'm closing this out for now but if you have issues or need assistance, please leave a comment and I'll gladly continue the discussion.

[2018-10-05 21:06] #16194 closed

[2018-10-05 21:26] 0GiS0 opened #16325 "What happens if you have multiple APIs with different AD Applications?"
Hi folks,

What happens if you have multiple APIs with different AD Applications? I mean, I have two questions here:

The best practice is having an AD application per application, right? (web, api, mobile, etc.) and then give them permissions to the APIs they need to access, is that correct?
If I have to access to multiple resources, how can I configure that in the "additionalLoginParams"?
Thanks

[2018-10-05 21:29] Karishma-Tiwari-MSFT commented on #16235
@mmarkzon You can configure managed identities for Azure resources on an Azure VM using a template.
[Here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-template-windows-vm) is the doc with the steps to do that. Thanks.

[2018-10-05 21:29] MarileeTurscak-MSFT commented on #16315
@asasine
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-05 21:33] SaurabhSharma-MSFT commented on #16013
@virajpangam I suggest you to [open](https://github.com/Microsoft/azure-spring-boot/issues/new ) an issue in the "azure-spring-boot" repository so that the developers managing the repository can help you with you providing you a solution.

[2018-10-05 21:33] kavi99506 opened #16326 "Not able to enable on Portal or using PowerShell cmdlet"
I get below error when i try to enable on Portal
"Updated monitoring configuration has failed for cluster: xxxxx. Ensure cluster is in 'running' state and valid OMS workspace"

When i try to run the powershell cmdlet, i get below error,
ErrorInfo                                              State RequestId                            StatusCode
---------

[2018-10-05 21:38] SaurabhSharma-MSFT commented on #16284
@mchudinov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-05 21:40] SaurabhSharma-MSFT commented on #16288
@mchudinov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-05 21:45] mmarkzon commented on #16235
Thank you, but I don't think that answers my question.  My question was
specific to the Linux Custom Script Extension.  This page shows how to
setup RBAC for the VM to have access to a storage account:
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac

Once I set that up (through the portal or ARM), will the Custom Script
Extension just work without providing a storage ac

[2018-10-05 21:46] Karishma-Tiwari-MSFT commented on #16325
@0GiS0 Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-05 21:47] Karishma-Tiwari-MSFT commented on #16307
@schillit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 21:49] Karishma-Tiwari-MSFT commented on #16306
@banjaxedben Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-05 21:49] andrepodnozov commented on #15506
Sorry about delayed response. Unfortunately this code sample doesn't work, because GetSerializedEvents method always returns empty array. Also this code doesn't compile due to a superfluous generic type parameter on this method. Can you please double-check the sample code.

[2018-10-05 21:50] Karishma-Tiwari-MSFT commented on #15200
@andrewdialpad Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 21:50] #15200 closed

[2018-10-05 21:50] Karishma-Tiwari-MSFT commented on #15436
@MarcusPorterAtQuestDiagnostics We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 21:51] Karishma-Tiwari-MSFT commented on #16281
@SychevIgor We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 21:51] #16281 closed

[2018-10-05 21:53] germangarciaglez commented on #10208
Hi, do you have a date for the support encrypt in this OS?
SLES 15
SLES 12 SP3

[2018-10-05 22:04] GuiPelegrini commented on #16111
No one will answer this anymore?

[2018-10-05 22:05] BillRaymond opened #16328 "Where are the Environment Variables?"
The first paragraph contains the text "When you run locally, these settings are in environment variables.". Where does one set these environment variables? Are they Windows environment variables (like %DOCUMENTS%) or are they located somewhere in the project? I would really like to see more detail on how you set environment variables. Thanks.

---
#### Document Details

⚠ *Do not edit this section

[2018-10-05 22:05] #16231 closed

[2018-10-05 22:05] GuiPelegrini commented on #16158
@MicahMcKittrick-MSFT please do not answer me with this automatic way. I need a real answer on how to solve my problem.

[2018-10-05 22:17] spacecat commented on #16078
Will reach out to the community.
I think that a note in the docs would be good though, other people might be wondering about this as well. Thanks.

[2018-10-05 22:19] 0GiS0 commented on #16325
Of course! The article is https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad

thanks!

[2018-10-05 22:20] SaurabhSharma-MSFT commented on #8704
@mdaghrir @tszafran I am able to figure it out and you are getting this error as you do not have Premium P2 license to enable the service.

[2018-10-05 22:26] atulraizada opened #16329 "SAS Definition"
Set-AzureKeyVaultManagedStorageSasDefinition -Service Blob
Blob is not recognized as service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independent ID: e2497a7b-3b5f-554a-1a31-da540740fcc9
* Content: [Azure Key Vault Storage Account Keys](https://docs.microsoft.com/en

[2018-10-05 22:28] SnehaGunda commented on #14122
@js-kyle your changes look good, thanks for the update! I will update the index file in Git source code https://github.com/Azure-Samples/Mongoose_CosmosDB/blob/master/index.js.

[2018-10-05 22:29] #16320 closed

[2018-10-05 22:30] ghogen commented on #14663
The engineering team confirmed that it should work with .Net 4.7.1.  Can you help confirm that you tried to create the key vault using Connected services or if it was created through the Azure portal?

[2018-10-05 22:31] mike-urnun-msft commented on #16328
Hi @BillRaymond Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-05 22:33] BillRaymond commented on #16328
Thanks!

[2018-10-05 22:33] SnehaGunda commented on #14122
#please-close

[2018-10-05 22:34] SnehaGunda commented on #16127
#please-close

[2018-10-05 22:43] dawander opened #16330 "New-AzureADPolicy Not Found"
I've gone through the installation steps and even have a support case open with the Azure team.  No one can figure it out.  Has it been disabled perhaps?  Here is the error I receive:  New-AzureADPolicy : The term 'New-AzureADPolicy' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path

[2018-10-05 22:49] Adam-Smith-MSFT commented on #16219
@tFable Backup for Azure Files is free of charge during the preview and you can start enjoying all its benefits immediately. Additional info can be found [here](https://azure.microsoft.com/en-us/blog/introducing-backup-for-azure-file-shares/)
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-05 22:49] #16219 closed

[2018-10-05 22:51] phuongtg commented on #5248
Today I tried to install and run the sample on Raspberry Pi 3, it gave the following error:
[ 20%] Building C object CMakeFiles/app.dir/main.c.o
[ 40%] Building C object CMakeFiles/app.dir/bme280.c.o
[ 60%] Building C object CMakeFiles/app.dir/wiring.c.o
[ 80%] Building C object CMakeFiles/app.dir/telemetry.c.o
/home/pi/bin/iothub/new/iot-hub-c-raspberrypi-client-app/telemetry.c: In function ‘exec

[2018-10-05 23:00] MicrosoftGuyJFlo commented on #16330
Make sure you are running the correct version from the link in the doc. You may need to upgrade.

[2018-10-05 23:07] SnehaGunda commented on #13626
@benoitc please let us know if you are blocked or if we can close this issue?

[2018-10-05 23:09] JasonWHowell commented on #16326
@kavi99506 That sounds like something going on in the backend in HDInsight. Please work with Azure support to troubleshoot further if you need a sure answer. The docs team doesn't have access to your cluster unfortunately. Thanks, Jason

[2018-10-05 23:09] vhorne commented on #15367
@qJake
Done. Should be live late Monday morning (10/8).

[2018-10-05 23:10] vhorne commented on #15367
#please-close

[2018-10-05 23:12] MohitGargMSFT commented on #16329
@atulraizada Thanks for your feedback! We will investigate and update soon on it.

[2018-10-05 23:33] TravisCragg-MSFT commented on #15367
@qJake We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-05 23:33] #15367 closed

[2018-10-05 23:36] dawander commented on #16330
I was able to get it to work using the following commands.  Any of them not needed?  Thanks for the help.

Install-PackageProvider Nuget -Force
Install-Module -Name PowerShellGet -Force
Uninstall-Module AzureADPreview
Install-Module -Name AzureADPreview -force
Import-Module AzureADPreview
Connect-AzureAD
New-AzureADPolicy -Type AuthenticatorAppSignInPolicy -Definition '{"AuthenticatorAppSignInPoli

[2018-10-05 23:41] BryanTrach-MSFT commented on #16311
@ShaneCourtrille Assuming you are talking about the web server logs (configured under the diagnostic logs blade of your app) the user agent field should list 'always on' as the user. Unfortunately, nothing unique is added to an always on header to distinguish it from a traditional request.

As a workaround, you will need to develop custom code, which would take the web server log, scan each row fo

[2018-10-05 23:42] #16311 closed

[2018-10-06 00:33] BryanTrach-MSFT commented on #16158
@GuiPelegrini Thank you for bringing this to our attention. We have verified that we encounter similar behavior when following the doc and using the quickstart program.

As a result, we have assigned your feedback to the doc author to see what action needs to be taken from a doc/product side of things to make this workaround the obsolete and deprecated items the quickstart guide uses.

[2018-10-06 00:35] BryanTrach-MSFT commented on #16158
@conceptdev We verified the same. We received errors that the sample quickstart guide is using deprecated and obsolete calls. As a result, the quickstart did not work as outlined in the doc. Can you please review this and determine if a product update and/or a doc update is necessary?

[2018-10-06 00:38] BryanTrach-MSFT commented on #16111
@zzulueta We are happy to hear that you ultimately got your project and we apologize for the inconvenience that you encountered trying to reach this point. Since your issue is resolved, we will archive this issue and move towards handling the issue further in issue #16158. We have requested the doc author to provide an update on that issue in case you want to follow along.

[2018-10-06 00:38] #16111 closed

[2018-10-06 00:48] cheenamalhotra opened #16332 "Explain Token Caching with Example"
Maybe this is not the right place to open this issue, but documentation doesn't clarify how exactly to cache tokens. Unlike OAuth Tokens, we know Access Token generated with MSI Identities are not accompanied with Refresh Tokens hence there is no way to Refresh Access Token without damaging the active Connection.

I'd like to understand what "Token Caching" means here for Applications making Rest

[2018-10-06 00:58] mike-urnun-msft commented on #16064
Hi @kudlatiger checking in here, please let us know if you had any further questions :) Otherwise, we'll proceed to close this issue.

[2018-10-06 00:59] tFable commented on #16219
Hey @Adam-Smith-MSFT

Thanks for the feedback!

I'll have to re-open this question.

Here's the follow-up:

How will Azure Backup charge for Azure File backups _after_ the preview has ended and the offering has entered GA?

Thanks,
tFable

[2018-10-06 01:37] gatornation11 opened #16334 "doesn't work"
System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'Microsoft.Azure.Documents.Client, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
  Source=Microsoft.Azure.CosmosDB.Table
  StackTrace:
   at Microsoft.Azure.CosmosDB.Table.CloudTableClient..ctor(StorageUri storage

[2018-10-06 04:02] kudlatiger commented on #16064
I could not find it in the document link you have provided. Can you paste the steps to start/stop the azure function here?

[2018-10-06 04:27] gldraphael commented on #15495
@johndeu filters with presentation window for streaming sections of on-demand videos.

(Also, the portal doesn't play well with the v3 APIs. [I thought it was a bug at first.](https://feedback.azure.com/forums/169396-azure-media-services/suggestions/35343142--bug-assets-do-not-show-up-correctly-in-the-porta). Could this be documented as well?)

[2018-10-06 05:07] virajpangam commented on #16013
@SaurabhSharma-MSFT It appears there is already a feature request.
https://github.com/Microsoft/azure-spring-boot/issues/416

But besides spring boot there should be a way to do it via normal Java. I would have expected a documentation similar to
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-from-web-application#authenticate-with-a-certificate-instead-of-a-client-secret for Java.

[2018-10-06 05:37] mithuns opened #16336 "Azure java functions post method , sending form-data"
Somehow sending content-type as multipart/form-data is not supported by HttpTrigger.
Can someone please look into this. The application/x-www-form-urlencoded works just fine.
For more details, please see this https://stackoverflow.com/questions/52583556/azure-java-functions-post-method-sending-form-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-06 05:44] priyatharshiniSundaram commented on #16264
Hi All,

Thanks for your reply ,but while creating bot through portal ,i can see the luis property ,ie., luis location ,but for qna no where i can see the option to provide qnaknowledge base id and etc.,

In Bot SDK v3 ,i can provide this details in appsettings

[cid:3506af2f-9580-43bf-9bb5-6caab4620303]

[cid:cbffe0ae-4922-44cc-9af6-6215ee3c6e96]
but in V4 i can only see the luis properties on th

[2018-10-06 05:51] swinarko commented on #10180
@ElectricLlama thanks for the feedback, we’re actually already planning to add AAD Auth w/ the managed identity for ADF in SSIS package executions, but no concrete ETA yet.  THX

[2018-10-06 06:33] darewreck54 opened #16337 "Is BrokeredMessage supported in Java or only in C#?"
Hi,

I was wondering if there is a way to to accessed the BrokeredMessage of a ServiceBusQueueTrigger.  It looks like it's supported for C#, but not for java.  Is there a way to get that related info.

Thanks,
Derek

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independen

[2018-10-06 06:38] stoff75 commented on #16192
Thank you for replying. However, your reply was in regards to the PROXY service, but the question was in regards to the Domain Controller AGENT that needs to go on the domain controllers. As we are only admins in Forest A, is it ok to only have the agent installed on the DC's in Forest A for our users and let the vendor deal with Forest B if they want to protect their users?

[2018-10-06 12:43] bjthomson commented on #14663
I have tried this with a new asp.net (web forms) app, an MVC app, targeting both 4.7.1 and 4.7.2
I created the key vault by right button click on the project...add connected service.

As indicated above, I'm suspecting a permissions issue, I think the squiggly lines are just a missing / broken xsd.
If I get time over the weekend I'll do a complete run-through with PSR.

[2018-10-06 13:57] imeya opened #16338 "The replacement for "bc" utility in cloud shell in azure portal."
I used the could shell in azure portal. Since the "bc" utility it not present on the Cloud Shell image, then how can i do the calculation? is there any replacement for the "bc" utility?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fd84ff-dd23-58f0-13de-a4f4c7379d3a
* Version Independent ID: 51c6db3d-191f-6f9e-6576-

[2018-10-06 14:06] martinsmith123456 opened #16339 "Documentation for ARRAY_SLICE is terrible."
Return Types - Returns a Boolean value? Really? Seems to return an array.

Explanation of "num_expr" is "Is any valid numeric expression." this is completely uninformative as there are two instances of "num_expr" in the grammar.

I presume the first one is for the begin and the second is either for the end or the desired length. The documentation should state this. It should also state the effect

[2018-10-06 15:05] MicahMcKittrick-MSFT commented on #16334
@gatornation11 please provide us with the document you are referring to so we can better assist.

[2018-10-06 15:06] MicahMcKittrick-MSFT commented on #16336
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 15:06] MicahMcKittrick-MSFT commented on #16337
Thanks for the question! We are investigating and will update you shortly.

[2018-10-06 15:08] MicahMcKittrick-MSFT commented on #16339
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 15:08] MicahMcKittrick-MSFT commented on #16332
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 15:09] MicahMcKittrick-MSFT commented on #16338
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 15:09] #10555 closed

[2018-10-06 15:10] #14122 closed

[2018-10-06 15:10] #16127 closed

[2018-10-06 15:51] tFable opened #16340 "Workspace multi-homing with Log Analytics Extension"
Hello,

Is it possible to configure Workspace multi-homing with the Log Analytics VM Extension? The JSON schema doesn't show whether that is possible.

When MMA multi-homing was announced in 2016, it was mentioned in the below blog post by @satyavel that "The Azure virtual machine (VM) extensions will be updated with this new capability in June."

https://blogs.technet.microsoft.com/msoms/2016/05/

[2018-10-06 16:03] dxlusby opened #16341 "Outbound IPs shared with other Azure users?"
Documentation states that firewalls should open to all declared outbound IPs in an app service plan, but does not clearly indicate whether those IPs are dedicated to your plan while your plan exists?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce77cde-5dc1-65c5-6c56-3fa425966a3b
* Version Independent ID: 0958e461-c

[2018-10-06 16:15] johndeu commented on #15495
We have added asset And global filters now to v3. The new SDKs are available.

Yes, we still have a lot of work left on the portal, but we will be releasing a full CLI module soon for managing media accounts with all features from v3.  It will take some time for us to upgrade the portal and transition it from v2.   We will recommend most v3 users stick to the new CLI 2 module for AMS during the in

[2018-10-06 16:19] dxlusby commented on #16341
To be clear, the concern is that those IPs may also be shared with other customers, or even with your own other app service plans in your region

[2018-10-06 16:27] Karishma-Tiwari-MSFT commented on #16341
@dxlusby Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 16:28] Karishma-Tiwari-MSFT commented on #16340
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-06 16:44] ddentrec opened #16342 "Syntax error when running sample application"
Am using Nodejs version v0.6.19 and have complete EXACTLY all the steps above.

When I run...:

sudo node index.js '&lt;YOUR AZURE IOT HUB DEVICE CONNECTION STRING&gt;'

Where YOUR AZURE IOT HUB DEVICE CONNECTION STRING  is my actual device Connection string---primary key e.g.

sudo node index.js 'HostName=IoT-XXXX.azure-devices.net;DeviceId=IOT-Device-XX;SharedAccessKey=llp49g6nVCseUcZElGF/qz1Zk=

[2018-10-06 18:11] MarPyk commented on #10845
Hi,
Trying to complete this guide I still receive value in column sentiment equal to "-1.0", any idea how to correct it?
I've checked api by this webpage https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c7/console and everything is ok with my subscription and key.

[2018-10-06 18:15] BilawalAsghar commented on #16269
@MarileeTurscak-MSFT  the shared article shows the Azure AD authentication with SharePoint 2013 On Premises, i did not see any article that shows Azure B2C authentication with Azure B2C. kindly corerct me.

[2018-10-06 18:40] Karishma-Tiwari-MSFT commented on #16325
@0GiS0 Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2018-10-06 19:47] MarPyk commented on #10845
OK I've fixed it ;)

[2018-10-06 20:31] eajhnsn1 opened #16346 "Missing argument "/" in sample"
In the "First Session" portion of the "Preparing disk for import job" section, the WAImportExport syntax definition doesn't include a "/" before the Dataset: argument.

WAImportExport.exe PrepImport /j:<JournalFile> /id:<SessionId> [/logdir:<LogDirectory>] [/sk:<StorageAccountKey>] [/silentmode] [/InitialDriveSet:<driveset.csv>] DataSet:<dataset.csv>

should be

WAImportExport.exe PrepImport /j:<J

[2018-10-06 21:02] tapialuism commented on #16033
I tried again I ran the script and received the error below and the script never finishes.
"Exception calling "GetDirectoryName" with "1" argument(s): "Illegal characters in path."
At line:52 char:1
+ $CurrentDir = [System.IO.Path]::GetDirectoryName($myInvocation.MyComm ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], M

[2018-10-06 22:17] stprior commented on #12554
Getting the same error using  a version of azcopy  downloaded from https://aka.ms/downloadazcopylinux64 today. (`./azcopy --version` dumps core), I'm also using Arch Linux, kernel version 4.18.11-arch1-1-ARCH. I have ncurses 6.1-3 installed - the package details including contained files are available from https://www.archlinux.org/packages/core/x86_64/ncurses/

[2018-10-07 00:37] irgnosis opened #16348 "How to: Add Data Lake Storage to Existing HDInsight Cluster"
I have gone through multiple pages and haven't found an example to attach ADLS as additional storage to an existing HDInsight cluster. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f00eca63-f93a-500d-0a57-ed4d4e970510
* Version Independent ID: 7fe13755-286c-c9cc-7424-862112b80fc7
* Content: [Use the Az

[2018-10-07 01:55] zzulueta commented on #16111
Gui - i mentioned my steps to run the code have you tried them ?

On Sat, 6 Oct 2018 at 6:05 AM GuiPelegrini <notifications@github.com> wrote:

[2018-10-07 02:21] tapialuism opened #16349 "RBAC - Error on 2nd step"
I have AD installed; Binary     2.0.2.4    AzureAD

I receive the following error.

New-AzureADGroup : Error occurred while executing NewGroup
Code: Authentication_Unauthorized
Message: User was not found.
HttpStatusCode: Forbidden
HttpStatusDescription: Forbidden
HttpResponseStatus: Completed
At line:1 char:12
+ $adgroup = New-AzureADGroup -DisplayName VMDemoContributors `
+            ~~~~~~~~~~

[2018-10-07 03:22] graham-sportsmgmt opened #16350 "What does the name parameter in configuration do?"
There is a Configuration setting "name" which is described as "The name of the variable that represents the queue in function code."  However, my JavaScript function is responsible for declaring that variable name in the opening statement:

     module.exports = async function (context, message) {

Does this setting do anything in the JavaScript runtime?  Should there be a note saying that this se

[2018-10-07 04:35] Karishma-Tiwari-MSFT commented on #16350
@graham-sportsmgmt Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 04:37] Karishma-Tiwari-MSFT commented on #16349
@tapialuism Thanks for the question! We are currently investigating and will update you shortly.

[2018-10-07 04:39] Karishma-Tiwari-MSFT commented on #16348
@irgnosis Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 04:43] Karishma-Tiwari-MSFT commented on #16346
@eajhnsn1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-07 04:43] Karishma-Tiwari-MSFT commented on #16342
@ddentrec Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 04:47] Karishma-Tiwari-MSFT commented on #16298
@bobbytreed Can you please take a look and share your insights on this customer's query? Thanks

[2018-10-07 04:48] Karishma-Tiwari-MSFT commented on #16293
@pmcevoy Any update? Did the above doc help?

[2018-10-07 04:49] Karishma-Tiwari-MSFT commented on #16289
@jtuliani Any update? Did above shared docs help?

[2018-10-07 04:50] Karishma-Tiwari-MSFT commented on #16097
@Nanditab We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-07 04:50] #16097 closed

[2018-10-07 07:01] lukealton opened #16353 "Get-AzureRmResource Instead of Find-AzureRmResource"
In the "Set up integration with Log Analytics" section the PowerShell is no longer accurate when using the current version of AzureRM module from the PowerShell Gallery. Using the following code will find the appropriate resource ID's and setup the integration:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e6

[2018-10-07 07:21] aleksbor opened #16354 "abandoning-the-azure-ad-connect-sync-encryption-key for AD Connect newer than 1.1.443.0"
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-serviceacct-pass#abandoning-the-azure-ad-connect-sync-encryption-key
Says:
Important!
The following procedures only apply to Azure AD Connect build 1.1.443.0 or older.

Where is the procedure for AD Connect newer than 1.1.443.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-07 08:42] DanyWind opened #16358 "Not enough documentation on Azure Speech"
Hello,

I am glad to see that Azure has released a new offer for Speech to text. However, there is today much less documentation and I have problem when using Azure Speech in the browser (I followed this : https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-js-browser), as I need to be able to transcribe in different languages, and have interactive results. This is

[2018-10-07 08:51] mariumfirdous commented on #16189
i am working on this

[2018-10-07 09:53] RoopAnymous commented on #15313
Hi Alberto

I had followed the performance tuning steps but unfortunately the time did
not improve. From azure table to Datalake, increasing DTU and parallel copy
feature did not improved the performance.
My Datafactory source and sink are in same region.

My rest of the pipes works fine but only one partition in this pipe is
super slow, It is taking 16 hours to copy 31 MB of Data. In past, I
conf

[2018-10-07 10:32] stubarrpriest opened #16361 "Schema is available, but query returns no results"
I used the sample to send a few hundred events with different types to log analytics. In the Azure portal I can see each type appended with _CL as expected and the schema has correctly identified the various data types and names of each of the properties. But I can't query any of the data - no matter which time range I try the query returns "No results found". I guess the data must be there, thoug

[2018-10-07 12:51] SaurabhSharma-MSFT commented on #16013
@virajpangam Sorry but we do not have any documentation around it however I can provide this feedback internally to the authors.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-07 12:51] #16013 closed

[2018-10-07 12:52] SaurabhSharma-MSFT commented on #16079
@solomonaustin5 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-07 12:52] #16079 closed

[2018-10-07 12:52] SaurabhSharma-MSFT commented on #16154
@valnav We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-07 12:52] #16154 closed

[2018-10-07 12:53] SaurabhSharma-MSFT commented on #16214
@jklein68 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-07 12:53] #16214 closed

[2018-10-07 16:53] Karishma-Tiwari-MSFT commented on #16353
@lukealton Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 17:00] Karishma-Tiwari-MSFT commented on #16354
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 17:03] Karishma-Tiwari-MSFT commented on #16358
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 17:10] Karishma-Tiwari-MSFT commented on #16361
@stubarrpriest Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-07 17:30] cherchyk opened #16367 "Azure Functions v2 Code"
#r "Newtonsoft.Json"

using System.Net;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Extensions.Primitives;
using Newtonsoft.Json;

const double revenuePerkW = 0.12;
const double technicianCost = 250;
const double turbineCost = 100;

public static async Task&lt;IActionResult&gt; Run(HttpRequest req, ILogger log)
{
    log.LogInformation("C# HTTP trigger function processed a request.");

    str

[2018-10-07 17:54] vladkosarev opened #16368 "Please provide node js examples for this."
I can't find any information on how to do connection sharing in node js function apps. Please provide some guidance on that.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content: [How to manage connections i

[2018-10-07 19:48] jzuchora87 opened #16370 "Unable to get LTR backups"
I'm running AzureRm 6.9.0 from PowerShell which comes with AzureRm.SQL 4.11.3 and am still not able to list backups using this command:
$sqlbackups = Get-AzureRmSqlDatabaseLongTermRetentionBackup -Location $sqlserver.Location

The use case is that we need to prove we are backing up beyond the 35 day PITR for premium databases for compliance.

Error:

Get-AzureRmSqlDatabaseLongTermRetentionBackup :

[2018-10-07 20:50] johndowns opened #16371 "Security for writing to Event Hub"
What is the security model for writing to the Event Hub? It looks like we don't need to provide a SAS signature or similar. Do we need to set up any specific IAM permissions? What happens if the Event Hubs namespace is outside of the Azure subscription we've got the Event Grid subscription in - will Event Grid be allowed to write to the hub?

---
#### Document details

⚠ *Do not edit this section.

[2018-10-07 21:00] #14956 closed

[2018-10-07 21:36] gambrose commented on #15803
I believe this issue relates to the error I am getting when following the guide but using an existing vnet .
[code]

[2018-10-07 21:47] ddentrec opened #16372 "'Unable to determine hardware version' error when running sample application"
I kept getting this error with the raspbian-2017-07-5 build when running the sample application:

      Unable to determine hardware version. I see: Hardware   : BCM2835
      - expecting BCM2708 or BCM2709. Please report this to projects@drogon.net

To fix this I had to downgrade to a lower kernel version 4.4.7 to fix.

I ran:

   sudo apt-get install rpi-update

Then I ran:

  sudo rpi-update 1e

[2018-10-07 21:49] ddentrec commented on #15045
I too saw this problem with a non-Raspbian OS installed on my Raspberry Pi.

But when I used the Raspbian-2017-07-5 build 'sudo npm install' then worked OK.

[2018-10-07 21:54] ddentrec commented on #16342
This issue fixed with a clean re-installation of the Raspbian-2017-07-5 build

[2018-10-07 21:56] ddentrec commented on #7392
See Feedback article ''Unable to determine hardware version' error when running sample application' where a Kernel downgrade fixed this for me.

[2018-10-07 22:10] daveabrock opened #16373 "Content gaps for community contribs?"
First time on this repo: do you have any content gaps open to community contributions? Is there a good place to look other than scanning open issues?

[2018-10-07 22:15] techarch commented on #10998
I setup Service Fabric today and ran into the same exact issue as @cryptobeat.
The container starts:
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                                                                                                                 NAMES
5f426eebf820        mysfcluster         "/bin/sh -c '/etc/in…"   5 min

[2018-10-07 23:05] SnehaGunda commented on #15767
@ankitshrivastava1987 I see you have created a support request, we close this issue and monitor it in the support request.

#please-close

[2018-10-08 00:04] dcbrown16 commented on #15710
Thanks @vhorne !
Waiting on @TravisCragg-MSFT 's testing and further edits to clarify how multiple Web Apps can be added to the backend pool.

[2018-10-08 00:14] femsulu commented on #15955
@titobf thanks for bringing this to our attention. the issue here is that there's an empty space after the semicolon. It works as expected if the space is removed. Kicked off a PR to remove the empty space in the example. Thanks for helping make our docs better. closing this as resolved.

FYI  - @rboucher

![image](https://user-images.githubusercontent.com/34327711/46588508-8efeea80-ca52-11e8-8e79

[2018-10-08 00:14] #15955 closed

[2018-10-08 00:29] Karishma-Tiwari-MSFT commented on #16368
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 00:30] Karishma-Tiwari-MSFT commented on #16367
@cherchyk Can you please elaborate on your ask? Thanks.

[2018-10-08 00:30] Karishma-Tiwari-MSFT commented on #16370
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 00:32] Karishma-Tiwari-MSFT commented on #16371
Thanks for the question. We are currently investigating and will update you shortly.

[2018-10-08 00:35] Karishma-Tiwari-MSFT commented on #16372
Thanks for the question. We are currently investigating and will update you shortly.

[2018-10-08 00:39] Karishma-Tiwari-MSFT commented on #16373
@daveabrock To help me understand better, are you looking to answer content feedback GitHub issues or are you interested in contributing to docs?
Azure docs repo is public, you can open PR for any specific Azure doc and it will be reviewed by the author of the doc.

[2018-10-08 00:40] #15767 closed

[2018-10-08 00:50] femsulu commented on #16061
assigning to content owner for deeper review.

[2018-10-08 01:15] femsulu commented on #16167
@NandishNM to investigate this issue, please [open a support ticket](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) with our technical support team.
Once filed, send mail to Azcommunity@microsoft.com and include the support request ID so we can track progress.

[2018-10-08 01:17] #16167 closed

[2018-10-08 01:34] femsulu commented on #16232
@mrbullwinkle can you confirm the 10K limit? If yes, is this a hard limit or can it be increased.
@vjabala in the event that this is a hard limit, please raise a product feedback directly with the App insights team using [this link](https://feedback.azure.com/forums/357324-application-insights)

[2018-10-08 01:49] femsulu commented on #16250
@tfitzmac  - any insights on this please?

[2018-10-08 01:53] femsulu commented on #16257
@snehithm any insights on Resource Explorer roadmap + integration into Azure Monitor metrics?

[2018-10-08 01:57] femsulu commented on #16296
@bobbytreed any insights here please?

[2018-10-08 02:12] daveabrock commented on #16373
I'm talking about contributing. Just wondering if you have any issues the community could help you with.

[2018-10-08 02:13] ElYusubov commented on #9164
@rifuller - what is the link to that you found? could you share it?
Also is there an end-to-end example of azure function (in javascript) creation and binding to event hub to consume messages?

[2018-10-08 02:15] ElYusubov commented on #15879
@mike-urnun-msft  @jason-j-MSFT do you have an end-to-end example of Azure function (in javascript) creation and its binding to consume event hub ?

[2018-10-08 02:19] dcbrown16 opened #16374 "Backup Queue maximum"
Is there a maximum value for the backup queue as described below?
"BackupConcurrencyResourceType: This wait indicates that a database is being backed up. The maximum value for this resource type is 1. If multiple backups have been requested at the same time, the others queue."

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-10-08 02:41] redwoz opened #16375 "backup-azure-backup-faq / implications of changing assigned backup policy"
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq

this FAQ does contain description on the effect on previous VM backup restore points should you change a backup policy, however it would also be ideal if it described the effect on previous VM backup restore points when you move a VM between backup policies in the same Recovery Services vault - i.e. do previous VM backup restor

[2018-10-08 02:58] yuwzho commented on #15765
Seems you have the same environment as mine. However I don't meet such problem, I can share you my playbook, and my environment is  [Cloud Shell](https://shell.azure.com) where you also can have a try.

[code]

[2018-10-08 03:56] Karishma-Tiwari-MSFT commented on #15282
@harijayms Can you please help with this customer's issue?

[2018-10-08 03:57] Karishma-Tiwari-MSFT commented on #16289
@jtuliani We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 03:57] #16289 closed

[2018-10-08 03:57] Karishma-Tiwari-MSFT commented on #16293
@pmcevoy We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 03:57] #16293 closed

[2018-10-08 03:59] MicahMcKittrick-MSFT commented on #16375
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 04:00] MicahMcKittrick-MSFT commented on #16374
Thanks for the question! We are investigating and will update you shortly.

[2018-10-08 04:40] brutelxr opened #16376 "Concur no longer supports automatic user provisioning"
Concur tech support have confirmed that they no longer support automatic user provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e98995c-09f1-2c1d-fd55-27f978e8262c
* Version Independent ID: 40a8b6e7-dae3-172a-5373-896372b30174
* Content: [Tutorial: Configure Concur for automatic user provisioning with Azure

[2018-10-08 05:33] durind commented on #16194
Hi,
It seems that by default the guests don't have the rights to change their MfA settings. I don't have the "Additional security verification" link in my guest profile.

How and where the admin can give this right?

[2018-10-08 06:37] gsacavdm commented on #13992
@xenalite , did you manage to get any traction on this *elsewhere*? I posted [this same question](https://stackoverflow.com/questions/50376635/identify-admin-permissions-required-by-an-azure-ad-app-registration) on StackOverflow and have yet to get any clarity on why Admin consent is required...

[2018-10-08 06:50] JohnReeson opened #16380 "ServiceBus Metadata Properties became UserProperties for 2.x functions"
In [metadata section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#trigger---message-metadata), the last property `Properties` has been changed to [`UserProperties`](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Triggers/ServiceBusTriggerBinding.cs#L127) for v2 function.  Using `properties` as paramete

[2018-10-08 07:36] sarthome commented on #7735
Are there any workarounds? Maybe there is the way to permit publishing from Git only?

[2018-10-08 07:56] DrEight commented on #16299
This is what I see from the Overview page :
![image](https://user-images.githubusercontent.com/5313322/46597381-2cecc680-cae0-11e8-9e25-4c1467edbeee.png)
These are my performance counters :
![image](https://user-images.githubusercontent.com/5313322/46597458-69202700-cae0-11e8-965a-46b44263bf2a.png)

[2018-10-08 08:00] pekkaar opened #16381 "Replication alert settings to be set up programmaticaly"
This article does not mention that Notifications can be set up programmaticaly, or not. Reading https://docs.microsoft.com/en-us/azure/templates/Microsoft.RecoveryServices/vaults/replicationAlertSettings and comparing the properties over there to the properties configurable on the Notification config portal blade, I assume this reosurce should be the one to add to an ARM template to be able to set

[2018-10-08 08:15] pmcevoy commented on #16293
Apologies - I was not working over the weekend so did not get your updates.  I did investigate the DSC extension last week before commenting, but despite similarities in name, that extension does not have the ability to connect to a standalone DSC Pull server or indeed to the Azure Automation (DSC) Server.  That extension is very basic and simply downloads a zip containing a config and executes it

[2018-10-08 08:34] abhinav-jain09 opened #16382 "when I follow this document then I get error can someone help me?"
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------&lt; com.ns.sdw:hello-world &gt;-----------------------
[INFO] Building Azure Java Functions 0.0.1-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:3.1.0:resources (default-resources) @ hello-world ---
[INFO] Using 'UTF-8' encoding to copy filtered r

[2018-10-08 08:45] jtuliani commented on #16289
Yes, these are useful, thank you. Two comments:
 - Their position in the left-nav does not match the hierarchy used for Windows, which makes them harder to find (having first found the Windows page)
 - They assume I'm using Hyper-V, which makes creating the VHD easy. But what if I'm on VMware, or even on bare-metal? How do I create the VHD in such cases? This is covered in the Windows page, but no

[2018-10-08 08:53] adwk67 opened #16383 "Deploying module with the CLI tool Version 2.0.46"
Page: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-cli

How does one do this with the current (2.0.46) version of the AZ CLI tool?
The command group contains neither the apply-configuration nor the module-identity commands:

azure-cli (2.0.46)

and

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-08 08:58] FluxReality opened #16384 "Python API Reference for SDK"
It would be great to have a full API reference for the Python SDK as well. Particularly since there are differences between what's been implemented in the various SDKs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33af8d92-74d2-2cdd-53f9-299eca57969e
* Version Independent ID: 6029edb3-5839-c2c3-6ce0-30349eccf6b9
* Con

[2018-10-08 09:44] nnamedieh opened #16386 "Question about transitive routing / vnet peering"
Hi all,
I have a question about transitive routing/ vnet peering.
Following scenario:

I have a globally distributed hub-spoke-architecture configured. In US as well as in Europe, there is a Hub and Spoke architecture connected through vnet peering. Cloud is connected through S2S VPN with onprem environment. I'm in europe and want to connect to the server in spoke US.

My question is, whether the

[2018-10-08 09:47] steadykhoi opened #16387 "azcopy Unhandled Exception: System.ArgumentOutOfRangeException: Length cannot be less than zero."
Hello, I try to run azcopy on CircleCI in a step like this:
[code]
But it always give this error:
[code]
But what is really strange is I try to SSH into CircleCI machine and the same command run fine. But it always fail with this error on build. Please let me know how to remedy this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-08 09:50] Sethu2488 opened #16388 "ARM template - Clarification"
Is there any documentation on what can be and can't be updated in the template? For example - can the VM type be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AK

[2018-10-08 10:19] ashuthinks commented on #15869
thanks a lot !

[2018-10-08 10:45] ediazrod opened #16389 "The AssignableScopes don't work with "/""
I don't know why but the documentation speak about AssignableScopes with "/" but i must always use  AssignableScopes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version Independent ID: d2757c88-1bad-8d27-b548-9e04a8ec7fe1
* Content: [Understand role definitions in Azure RBAC](h

[2018-10-08 10:57] jtuliani opened #16390 "What about multiple VMs?"
Shows how to test failover for a single VM. In a migration context (and this page is linked to from your migration pages, e.g. https://docs.microsoft.com/azure/site-recovery/migrate-tutorial-on-premises-azure), that's not very useful. We need to be able to test migration for an entire service or service tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-10-08 11:03] AlkisFortuneFish opened #16391 "Unrealistic example"
The example given is not particularly useful in conveying a realistic use case, at all. Who would ever use this API using polling with hardwired delays?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7aae5b-6f14-c463-5d80-744371fc7d41
* Version Independent ID: e91e01c1-10a1-8a0a-9603-30ca853d007d
* Content: [Quicksta

[2018-10-08 11:06] clarenceb opened #16392 "Remove note that AKS is in preview"
Remove the old note that states AKS is in preview:

_**Note:**
AKS is currently in preview. For information on enabling the preview for your Azure subscription, see Quickstart: Deploy an Azure Kubernetes Service (AKS) cluster._

AKS has been in GA status since June 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2018-10-08 11:24] iaasazure opened #16393 "Azure AD Connect on Windows Server 2019"
Hi, when will Azure AD Connect be supported on Windows Server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardware](https://docs.microsoft.com/en-us/azure/active-d

[2018-10-08 11:38] PeterWallenius opened #16394 "How to create Swagger for an azure function (v2)?"
You can only create v2 functions in the portal, but the portal does not support generating swagger for v2.
I'm creating a function app to be called from powerapps. Can you point me towards an example on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-8036-c4d7-8910927525e3
* Version Indepen

[2018-10-08 11:40] PeterWallenius commented on #16394
Or just tell me how to create a v1 function in the portal?

[2018-10-08 11:41] PeterWallenius opened #16395 "Create a v1. function in the portal?"
Is it possible to create a v1. function in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Create your first function from the Azure Portal](https://docs.microsoft.com/en-us/azure/azure-functions/f

[2018-10-08 12:02] arkiaconsulting opened #16396 "Emulator Gremlin support"
Now that the emulator support using the Gremlin Api, it could be usefull to have some hint on how to connect to the local emulator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azur

[2018-10-08 12:09] jmfrank63 opened #16398 "Please correct instructions to avoid the AADSTS65005 error."
As the sing on URL please use: contoso.account.box.com as opposed to contoso.box.com.

Tick the advanced URL settings and fill in the field for the reply URL as recommended in the example bar below that line.

Also please remove the https://sso.services.box.net/sp/ACS.saml2 for the Identifier in the example. Your tutorial got it right, but the customer very often follow the example.
The identifier

[2018-10-08 12:14] rohancragg commented on #10555
I've created a User Voice suggestion - please vote / amend!

https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/35658451-portal-experience-for-on-boarding-a-storage-acco

[2018-10-08 12:24] tpietilainen opened #16399 "Error code 500133"
Last week we started to receive error code 500133 ("Assertion is not within its valid time range"). Is this intentional or some sort of a bug? Earlier the same error had the documented error code 50012. Here is the actual error we received:
{"error":"invalid_grant","error_description":"AADSTS70002: Error validating credentials. AADSTS500133: Assertion is not within its valid time range\r\nTrace ID

[2018-10-08 13:09] jeevansd commented on #16398
@jmfrank63 Thanks for reporting the issue. We will update the sign on URL for the app. I think it should be something like this https://contoso.account.box.com/login
Can you please confirm the Identifier one more time, per our knowledge it is box.net but I am getting confused for your http(s) comment.
Accordingly we will update the package and tutorial.

[2018-10-08 13:09] jeevansd commented on #16398
@chetansriv Please update this tutorial.

[2018-10-08 13:56] sanjeev3 commented on #16391
@AlkisFortuneFish, Thanks for your feedback. If you are referring to the step where the application waits for you to review the image in the review tool and submit before executing forward, you are right. The purpose of this sample is to demonstrate in the most direct way with a sample image, how the Job API and the review tool work in tandem. In live, production usage, you will be running a conti

[2018-10-08 13:57] diberry commented on #15854
@vamsitp @YutongTie-MSFT Thank you for alerting us to this issue. The [sample code](https://github.com/Microsoft/LUIS-Samples/tree/master/documentation-samples/tutorial-speech-intent-recognition) has been fixed and can be found in the LUIS-Samples repo. The associated document will be published today. Please let me know if it does not resolve your issues.

[2018-10-08 13:59] eberleinm commented on #6764
The content is still out of date.  If you want to change widgets, menu or any other content, you need to run Publisher Portal and do your job there. No other way.  In Developer Portal you can change styley and layout. It helps I hope.

[2018-10-08 14:01] diberry commented on #7396
#please-close

[2018-10-08 14:04] diberry commented on #8247
@SR253  @nigelHRBOT Please review the latest Bot Framework v4 samples. There are [many new samples](https://github.com/Microsoft/botbuilder-samples) that include logic flow and conversation such as this question. #in-progress

[2018-10-08 14:14] diberry commented on #8387
Investigating. #in-progress

[2018-10-08 14:15] rbasw-aculp opened #16403 "Spelling error: appropropriate Did you mean appropriate?"
To use the Graph API with your B2C tenant, you need to register an application using the App Registrations service in the Azure portal, NOT Azure AD B2C's Applications menu. The following instructions lead you to the appropropriate menu. You can't reuse existing B2C applications that you registered in the Azure AD B2C's Applications menu.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-08 14:15] diberry commented on #8915
Investigating. #in-progress

[2018-10-08 14:17] diberry commented on #9129
@dem108 This has been added to the page under the [Knowledge Base content limits](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits#knowledge-base-content-limits) section as the last 2 bullet points. #please-close

[2018-10-08 14:18] femsulu commented on #16392
@clarenceb Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-08 14:18] diberry commented on #9456
@LevariGitHub The content has been [updated](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#filter-results-with-strictfilters), please review. #in-progress

[2018-10-08 14:19] egondalia opened #16404 "Scripted testing hit 50 limit, need to remove soft limit on account."
We are a dev team and hit the 50 limit, we are testing multiple dev/test subscription creations how can we remove the limit of 50 subscriptions per account so we don't have to use the Account Center.  We are scripting installation so we need to be able to keep automating subscriptions using a scripted approach so need the limit removed.

[2018-10-08 14:20] diberry commented on #9571
@KasamShaikh Good catch. This will be fixed. #in-progress

[2018-10-08 14:20] egondalia commented on #16404
This relates to https://docs.microsoft.com/en-us/azure/azure-resource-manager/programmatically-create-subscription?tabs=azure-powershell#create-subscriptions-under-a-specific-enrollment-account

[2018-10-08 14:21] amel00 opened #16405 "Role for Azure AD connect Health dashboard"
Is there a specific role in which this dashboard can be viewed,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add29a81-b72c-09c4-5d51-ba7b6fa99df9
* Version Independent ID: 87df83ce-de7c-6948-931f-3b91b0b2ff87
* Content: [Using Azure AD Connect Health with sync](https://docs.microsoft.com/en-us/azure/active-directory/

[2018-10-08 14:21] femsulu commented on #16389
@ediazrod   Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-08 14:37] diberry commented on #10147
Investigating. #in-progress

[2018-10-08 14:39] MarcusPorterAtQuestDiagnostics commented on #15436
The document still has the erroneous information, implying that 168.63.129.16 is required only if you are doing custom DNS.

What I'm saying is that a newly deployed HDI insights cluster in a custom vnet that has an NSG absolutely must include 168.63.129.16, whether or not it is using custom DNS.  The cluster simply will not work at all without that rule, even if you are not using custom DNS.   Th

[2018-10-08 14:43] diberry commented on #10644
@georglabbe You should not receive "NotStarted" forever. That would be an issue with the service. The time to finish for succes depends on how big the KB is. The time to fail depends on where the failure happens. Usually this is a very short period of time, a few minutes at the most. Are you seeing the service never get past "NotStarted"? #in-progress

[2018-10-08 14:45] diberry commented on #11095
@ehandani Please check that you created the bot with all the correct settings. The result of a repeating utterance sounds like the wrong template was selected when you created the bot.

[2018-10-08 14:47] diberry commented on #12831
@nigelHRBOT I will pass this along to the QnA Maker service team. #in-progress

[2018-10-08 14:47] CarlRabeler commented on #16370
please assign to anosov1960

[2018-10-08 14:49] diberry commented on #14646
@nigelHRBOT Are you looking for a round-robin solution where several knowledge bases are accessed from a single bot to either handle the overall load?

[2018-10-08 14:53] rbonini opened #16407 "Update documentation to reflect that the origin Blob Service CORS applies to CDN"
Under Standard profile, we cannot set any CORS rules using the rules engine.

However, it appears that the CORS rules of the blob service origin will be used by the CDN.

If this by design, the documentation should be updated to reflect that this is an option for CDN Standard Profile.

Blob service CORS allow setting:
 - Allowed Origins
 - Allowed Methods
 - Allowed Headers
 - Exposed Headers
 - M

[2018-10-08 15:00] QUB441 opened #16408 "missing library"
You should add "import json"  otherwise returns
NameError: name 'json' is not defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca59440-24bf-dba5-b540-eadcaeec4f56
* Version Independent ID: e8997fd0-cb84-c41d-84d3-c30b218a5922
* Content: [Quickstart: Analyze a remote image - REST, Python - Computer Vision - Azure

[2018-10-08 15:11] CarlRabeler commented on #13578
@parilla If you would like to file a product feature request and track it / get your peers to vote on it, go to https://feedback.azure.com/forums/908035-sql-server
Thanks,
carl

[2018-10-08 15:11] CarlRabeler commented on #13578
#please-close

[2018-10-08 15:12] a-mosheh opened #16409 "Turning on Firewall on storage account blocks enabling Azure SQL audit"
If Storage account firewall is enabled (and "Allow trusted Microsoft services to access this storage account" is enabled), Azure SQL Auditing cannot be enabled. It gives this error message:

Failed to save Auditing settings for server: sqls-payrollse. ErrorMessage: The storage account 'sasqlauditcloud' is behind a firewall or in a virtual network. Please choose a storage account without any firewa

[2018-10-08 15:13] CarlRabeler commented on #11179
@MicahMcKittrick-MSFT see Mirek's response above

[2018-10-08 15:13] CarlRabeler commented on #13694
@Rod-in-NM see Mirek's response above

[2018-10-08 15:14] CarlRabeler commented on #10180
@ElectricLlama If you would like to file a product feature request and track it / get your peers to vote on it, go to https://feedback.azure.com/forums/908035-sql-server
Thanks,
carl

[2018-10-08 15:15] CarlRabeler commented on #7499
@wasabii Please see Mirek's response above

[2018-10-08 15:15] CarlRabeler commented on #7499
@MohitGargMSFT Please see Mirek's response above

[2018-10-08 15:16] MikeRayMSFT commented on #6971
@Ayanmullick - first let me apologize for not replying to this conversation sooner.

You will need an load balancer for IaaS on Azure VMs (or any other cloud service that hosts VMs) in the future.

I don't think the Private DNS will change that because GARP is still not available on the network.

#please-close

[2018-10-08 15:17] MikeRayMSFT commented on #12402
#please-close

[2018-10-08 15:21] johnpaulmcpherson opened #16410 "Node.js and C# Quickstart pages are swapped"
URLs do not match content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f07171-f936-3d88-fbcb-d200605fd90d
* Version Independent ID: 22aad290-7d51-429b-f59e-dd339355c753
* Content: [Quickstart: Call endpoint by using C# - Bing Custom Search](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-custom-searc

[2018-10-08 15:28] MicahMcKittrick-MSFT commented on #16395
Duplicate of #16394

[2018-10-08 15:28] #16395 closed

[2018-10-08 15:29] MicahMcKittrick-MSFT commented on #16404
Thanks for the question! We are investigating and will update you shortly.

[2018-10-08 15:30] Mike-Ubezzi-MSFT commented on #16396
There is details pertaining to DocumentDB and MongoDB client development but no Gremlin support detailed.

![screenshot 389](https://user-images.githubusercontent.com/37126106/46618311-0b85dd80-cad4-11e8-8bfe-2f5ee96b580d.png)

![screenshot 390](https://user-images.githubusercontent.com/37126106/46618474-746d5580-cad4-11e8-82d0-4d218e8410c9.png)

[2018-10-08 15:32] #7396 closed

[2018-10-08 15:32] #9129 closed

[2018-10-08 15:33] #15212 closed

[2018-10-08 15:33] #15806 closed

[2018-10-08 15:34] #12402 closed

[2018-10-08 15:34] #6971 closed

[2018-10-08 15:34] #11179 closed

[2018-10-08 15:36] MikeRayMSFT commented on #14925
@kamellemann - We're working to update and verify this. I have created a work item internally that I will use to track this. Thank you for raising this issue.

#please-close

[2018-10-08 15:36] BryanLa commented on #10555
Perfect, thanks @rohancragg!

Btw, not sure if you can "Edit" the entry, but I think you wanted an "s" on the end of the article URL you referenced, ie: `https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys`.

[2018-10-08 15:36] dlepow commented on #15559
@mcurko - Just checking in to see if you were able to get further in this workflow? If you don't have further questions, I'll close this issue. Thanks a lot.

[2018-10-08 15:37] mmacy commented on #11090
@tfitzmac Hey Tom, this is now rendering in the REST reference as a separate object:

https://docs.microsoft.com/rest/api/aks/managedclusters/createorupdate#managedclusteraddonprofile

Should this now be rendering differently in the template ref?

[2018-10-08 15:37] #14925 closed

[2018-10-08 15:37] Mike-Ubezzi-MSFT commented on #15821
@silvermoong We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 15:39] CarlRabeler commented on #8195
@alexjmoore docs have been updated for more clarity

[2018-10-08 15:39] CarlRabeler commented on #8195
#please-close

[2018-10-08 15:41] CarlRabeler commented on #7245
Docs updated
#please-close

[2018-10-08 15:42] CarlRabeler commented on #6760
@azkamil does this response from Sasha sufficiently answer your question?

[2018-10-08 15:43] aravish opened #16411 "undefined"
where is KCSB_ENGINE defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c010923-e011-6915-e3c4-6265fb997c35
* Version Independent ID: 66c3378c-695a-4b9c-d444-cd0b46fb00af
* Content: [Quickstart: Ingest data using the Azure Data Explorer Python library](https://docs.microsoft.com/en-us/azure/data-explorer/python-i

[2018-10-08 15:46] CarlRabeler commented on #8157
#please-close

[2018-10-08 15:49] CarlRabeler commented on #16126
@shueybubbles If you would like to file a product feature request and track it / get your peers to vote on it, go to https://feedback.azure.com/forums/908035-sql-server
Thanks,
carl

[2018-10-08 15:49] Mike-Ubezzi-MSFT commented on #15821
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 15:57] Mike-Ubezzi-MSFT commented on #15862
Answer provided in a Stack Overflow Post: [Multiple Azure SQL Firewall Rules in One Expression](https://stackoverflow.com/questions/52572997/multiple-azure-sql-firewall-rules-in-one-expression).

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 15:57] #15862 closed

[2018-10-08 15:58] Mike-Ubezzi-MSFT commented on #15901
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 15:58] #15901 closed

[2018-10-08 16:01] sergaz-msft commented on #16342
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-08 16:01] #16342 closed

[2018-10-08 16:02] JetPac33 commented on #16308
The Ingress controller pod wouldn't start and I got an error message about
service account or permissions, can't quite remember. Will rerun it again.

Regards,
Alexander

On Fri, 5 Oct 2018 at 22:27, Micah <notifications@github.com> wrote:

[2018-10-08 16:07] srrengar commented on #16299
Did you click on the graph? You should see more graphs like this
![image](https://user-images.githubusercontent.com/30325699/46620413-8a314980-cad9-11e8-8c74-b8779d58d1f8.png)

[2018-10-08 16:11] Karishma-Tiwari-MSFT commented on #16388
@Sethu2488 Looks like you opened this GitHub issue against AKS doc, though your question is related to ARM template in general. Can you please share the doc url that you have been referring, for ARM templates?

[2018-10-08 16:14] amthomas46 opened #16414 "Following the tutorial results only in top intent in JSON not all intents"
Following the tutorial results in only one intent (the TopScoringIntent to being returned. I think there is something else needed in the query to get all intents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dfc0edc-5ef3-38d9-2982-b6ecf7f27bf6
* Version Independent ID: 71cfd66e-6396-04bb-e344-f6797ac689c7
* Content:

[2018-10-08 16:19] cephalin commented on #16341
@dxlusby the IPs are indeed shared with other App Service plans (including other customer's plans) that are deployed into the same shared webspace. The network resources are shared among the plans in a workspace even if the computing instances are dedicated (e.g. in Standard tier). This is inherent to the App Service multi-tenant model. The only way to have a dedicated webspace (i.e. outbound IPs)

[2018-10-08 16:20] diberry commented on #16414
@amthomas46 Good catch. The querystring needs verbose=true. This will be fixed in the docs. #in-progress

[2018-10-08 16:22] abhiramani-iptiq opened #16416 "Restore not working cross subscription"
Can you guys update this document on how to restore backup cross subscription?
Cross subscription restore fails with error:

Restore operation failed to restore from the storage blob. Error Details: Error occurred while downloading meta data from the storage account.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-08 16:28] amileoj commented on #16118
@cgillum I work with @schakka. Thanks for the response above re timing for JavaScript support getting to GA. Our team is trying to determine which language to go with for an initial Durable Functions based project that needs to ship before year's end. Can you share whether, once JavaScript support is GA, there will continue to be any gaps between what can be done in JavaScript vs C#, or if full pa

[2018-10-08 16:37] cgillum commented on #16118
@amileoj It's difficult to define "full parity" because the JavaScript support for Azure Functions in generally does not necessarily have "full parity" with it's .NET support. Things like bindings, for example, behave differently depending on the language (error handling, etc.). I'm just mentioning this to set appropriate expectations.

All that said, we do plan to have basic API functional parity

[2018-10-08 16:39] gunnarcms opened #16417 "The managed disk example does not need a dependency on the storage account"
The template would look cleaner if we eliminate the dependency on the storage account when creating the VM with managed disks, this line is not needed :
"[resourceId('Microsoft.Storage/storageAccounts/', variables('storageAccountName'))]",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2cc1d01-15df-351e-bd60-a2a8f91f6

[2018-10-08 16:42] AndrewGJennings opened #16418 "This will never work right out of the box"
That is because there will always be an error "Error Code: 1148: The used command is not allowed with this MySQL version".  What is worse, Microsoft wins misleading error message of the year.  The reason this error comes up has nothing to do with MySQL version.  Rather, the use of local in files is disallowed by policy.  To fix this, you need to change the policy setting.  If you have super privil

[2018-10-08 16:49] JetPac33 commented on #16308
I ran "helm install stable/nginx-ingress --namespace kube-system -f
internal-ingress.yml "

Then when it wasn't working I checked the ingress pod:
lunging-wildebeest-nginx-ingress-controller-67d667c588-cgrbq      0/1
CrashLoopBackOff   25         1h

and the logs:
NGINX Ingress controller
  Release:    0.12.0
  Build:      git-1df421a
  Repository: https://github.com/kubernetes/ingress-nginx
-----

[2018-10-08 16:49] ajklotz commented on #11968
@Adam-Smith-MSFT @spelluru It looks like its been a few months. Where do we find information on the service terms so we can get the answer to this question?

[2018-10-08 16:51] rifuller commented on #9164
Ack, I'm usually better when it comes to leaving links in "oh, I found it" comments.  Is [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---javascript-example) what you're looking for?

[2018-10-08 16:56] lblanche commented on #16184
@JennyLawrance I've had to go for another solution so I am using a classic Linux VM instead.. Could you confirm that the tutorial for the python + flask 'Hello World' is still up to date ? I've seen comments indicating that there were some switching between python and containers in the past

[2018-10-08 16:57] ChrisJCo opened #16419 "May want to include --generate-ssh-keys to the create AKS command referenced"
The command referenced "az aks create -g MyResourceGroup -n MyAKS --location <region> --kubernetes-version 1.11.2 --enable-addons http_application_routing" does not include the switch "--generate-ssh-keys" which may be required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7cb58c-7130-0a00-3d8b-2c3e35ef42ec
* Versio

[2018-10-08 17:01] Mike-Ubezzi-MSFT commented on #16162
@yuharucan `DW500c` is a [Gen2](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-and-concurrency-limits#gen2) hardware performance level with the following capacity:

Compute nodes = 1
Distributions per Compute node = 60
Memory per data warehouse (GB) = 300

Is there something specific you are looking for?

[2018-10-08 17:03] Karishma-Tiwari-MSFT commented on #16340
@satyavel Can you please share your insights on this customer's question? Thanks.

[2018-10-08 17:05] YutongTie-MSFT commented on #15854
@vamsitp Just want to follow-up if the new update solving your issue?

[2018-10-08 17:12] YutongTie-MSFT commented on #16408
@QUB441 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 17:13] Anmolgan81 opened #16420 "Do we need S2S or P2S in order to connext to on-premise severs?"
What do we required if you want to connect the on premises machines to DMS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a49a982-613b-76a9-4a0a-7132d6058dcb
* Version Independent ID: b2a280d2-ea2c-1836-f265-ccaa2c6758b3
* Content: [Use the Azure Database Migration Service to migrate SQL Server to Azure SQL Database

[2018-10-08 17:13] YutongTie-MSFT commented on #16410
@johnpaulmcpherson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 17:13] Mike-Ubezzi-MSFT commented on #16418
@AndrewGJennings Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 17:14] mx-iao opened #16421 "missing comma in code snippet"
missing comma in Workspace.create call after subscription_id='&lt;azure-subscription-id&gt;'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickstart: Use the Python SDK to create a machine learning service

[2018-10-08 17:15] MarileeTurscak-MSFT commented on #16393
@iaasazure
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-08 17:15] Mike-Ubezzi-MSFT commented on #16411
@aravish Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 17:15] HJToland3 commented on #16420
@Anmolgan81, the prerequisites listed in the tutorial are pretty detailed. What additional information besides the prerequisites are you interested in?  Thanks!

[2018-10-08 17:16] YutongTie-MSFT commented on #16264
@priyatharshiniSundaram Can you please check the following document: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs There should be everything you want.

[2018-10-08 17:17] Anmolgan81 commented on #16420
Does P2S works in this case?

[2018-10-08 17:19] YutongTie-MSFT commented on #16358
@fmegen Hi, can we provide more details about how to use Azure speech for different languages? It should be helpful. Thanks a lot!

[2018-10-08 17:21] jkwon2013 commented on #11968
@StijnBt Those scenarios are all fine to use with DevTest Labs. DevTest Labs can be used for any non-production workloads.

[2018-10-08 17:28] douglaslMS commented on #14728
@vasivara-MSFT Please assign this issue to feature owner @nabhishek . Thank you.

[2018-10-08 17:31] Adam-Smith-MSFT commented on #16387
@steadykhoi Could you please post your question on the forums : https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata
Since this is a scenario case and not documentation related. Could you also add additional information regarding you scenario ? What are you trying to accomplish, Azcopy version used etc... I'll look into it in the forums.
We will now proceed to close thi

[2018-10-08 17:31] #16387 closed

[2018-10-08 17:31] curtand commented on #15657
Hi @danmyhre
We added a section with some detail and examples for -match. Thanks!
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership
#please-close
@MarileeTurscak-MSFT

[2018-10-08 17:32] Adam-Smith-MSFT commented on #16390
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 17:33] MarileeTurscak-MSFT commented on #16393
Azure AD Connect can be installed on Windows Server 2019 Essentials, which is a version of Windows Server 2019. Check out the release notes here: https://docs.microsoft.com/en-us/windows-server-essentials/get-started/what-s-new-19#aad-connect-can-now-be-installed-on-windows-server-2019-essentials

[2018-10-08 17:33] nluckenbill opened #16422 "Typo in docker push command"
docker push contoso.azurecr.io/pubic/products/web:1.2
docker push contosowesteu.azurecr.io/pubic/products/web:1.2

I pretty sure you meant to use pubLic vs pubic :) Note the missing L

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8006f0b0-79c7-c5c4-7019-b5b369dec275
* Version Independent ID: 72f7cf6a-541d-6a7f-d7e7-d5

[2018-10-08 17:34] MarileeTurscak-MSFT commented on #16393
I hope this resolves your question! I am closing this out for now but if you have further questions, please leave a comment and I will gladly continue the discussion.

[2018-10-08 17:34] #16393 closed

[2018-10-08 17:34] SnehaGunda commented on #16199
@AlexanderZehnder I know you aren't blocked anymore, can you please share the details asked by wenbin?

[2018-10-08 17:34] ggailey777 commented on #15691
@MarkAtAgilliance thanks for the feedback about the current status of the host.json reference article. We tried to get by covering both v1 and v2 in the same topic, but it sounds like this is just creating confusion. I have created an internal work item ([1355846](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1355846)) to split this into two separate version-specific topics. Sinc

[2018-10-08 17:37] Alberto-Vega-MSFT commented on #15313
Hi @RoopAnymous  This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-10-08 17:38] MohitGargMSFT commented on #16376
@brutelxr Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-08 17:39] MohitGargMSFT commented on #16399
@tpietilainen Thanks for your feedback! We will investigate and update soon on it.

[2018-10-08 17:39] Adam-Smith-MSFT commented on #16409
@a-mosheh Thanks for the feedback, we're aware that not all Microsoft services are compatible, I'd highly recommend upvoting the following post: https://feedback.azure.com/forums/34192--general-feedback/suggestions/33462937-whitelist-all-microsoft-services-in-storage-accoun
This will allow for the storage team to look at it, I will also bring it up to them. Let me know if this helps.

[2018-10-08 17:40] MohitGargMSFT commented on #16403
@rbasw-aculp Thanks for your feedback! We will investigate and update soon on it.

[2018-10-08 17:41] MohitGargMSFT commented on #16405
@amel00 Thanks for your feedback! We will investigate and update soon on it.

[2018-10-08 17:42] diberry commented on #15854
@vamsitp Yes.

[2018-10-08 17:43] iainfoulds commented on #16388
The following template reference for AKS details what properties can be configured, including their types and description for use - https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters

To the specific question - yes, VM SKU can be changed. The actual VM SKU availability may vary by region and subscription.

[2018-10-08 17:48] tamram commented on #16229
@KeiroKamioka0000 - thank you for pointing out this issue. It's fixed now in English. It may take a little longer to show up in Japanese.

#please-close

[2018-10-08 17:51] douglaslMS commented on #15909
#please-close

[2018-10-08 17:51] douglaslMS commented on #15910
@danjenglish The warning has been fixed after I asked for clarifications from the support team. Thanks for calling this to our attention.

[2018-10-08 17:52] douglaslMS commented on #15910
#please-close

[2018-10-08 17:52] mamccrea commented on #15436
Yes, @MarcusPorterAtQuestDiagnostics you are correct. That IP needs to be whitelisted regardless of the custom DNS settings. We will update the doc to make that clearer. Thanks for pointing that out to us!

[2018-10-08 17:59] MicahMcKittrick-MSFT commented on #16186
@gstolz any update on this?

[2018-10-08 17:59] MicahMcKittrick-MSFT commented on #16260
@zepedaherbey I will close for now. If you have additional questions just let me know and we can reopen and continue.

[2018-10-08 17:59] #16260 closed

[2018-10-08 18:01] MicahMcKittrick-MSFT commented on #16308
@JetPac33 thanks for that. I will assign to the content author to review and see if we can add a note regarding this

[2018-10-08 18:02] MicahMcKittrick-MSFT commented on #16334
@gatornation11 I will close for now. When ready please share the document you are referring to and we can reopen and continue.

[2018-10-08 18:02] #16334 closed

[2018-10-08 18:03] ggailey777 commented on #14904
@tinod, thanks for the feedback. I have opened an internal issue to track your requested addition of Application Insights info to the ARM deployment topic ([1355897](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1355897)). I also opened [an issue](https://github.com/Azure/azure-quickstart-templates/issues/5287) against our reference templates to have them updated. Per the SLA, we

[2018-10-08 18:03] tamram commented on #16140
@stansw - Thanks so much for your feedback. @ClydeDz has submitted a PR to fix this issue. The change should go live later today.

#please-close

[2018-10-08 18:05] MicahMcKittrick-MSFT commented on #16404
@egondalia to lift any limits on your subscription you need to open a ticket to the Subscription and Billing team. You can do this via the portal. These are free tickets to open. Once opened, they can confirm if you are hitting a hard or a soft limit and address it as needed.

[2018-10-08 18:05] #16404 closed

[2018-10-08 18:06] ggailey777 commented on #14069
@timmyreilly This should all be resolved now with recent updates to the quickstarts for v2, and some recent portal updates. #please-close. If you are still having issues, feel free to reopen this one.

[2018-10-08 18:07] #14069 closed

[2018-10-08 18:10] iainfoulds commented on #16308
@MicahMcKittrick-MSFT Can you replicate this behavior? I also haven't seen it required unless specifically declaring that the AKS cluster is not RBAC-enabled?

[2018-10-08 18:10] ggailey777 commented on #9812
+ @craigshoemaker for visibility.
@vtjc2002 I think that we now have all of this corrected for the Functions v2 runtime. #please-close.
If there are still problems, you can reopen this issue.

[2018-10-08 18:16] georgewallace commented on #12938
@Dfintz Thanks for your feedback, I want to let you know that these changes are going to be added to the solution next sprint.. I will monitor and when they are live I will let you know.

[2018-10-08 18:17] georgewallace commented on #13803
@javgarces Sorry for the delay, I wanted to let you know that this will be corrected in the next sprint for the solution.  Once I get word that the correction is made I will follow back up on this issue.  Thanks for your patience.

[2018-10-08 18:20] #9812 closed

[2018-10-08 18:21] #16346 closed

[2018-10-08 18:22] MicahMcKittrick-MSFT commented on #16308
@iainfoulds in my tests it has not prompted me with an issue when using RBAC enabled clusters.

[2018-10-08 18:25] MarileeTurscak-MSFT commented on #16403
@rbasw-aculp good catch! I created a pull request and will merge the fix shortly.

[2018-10-08 18:25] #16403 closed

[2018-10-08 18:25] Karishma-Tiwari-MSFT commented on #16033
@tapialuism Did you try with the old recovery point which contains the iisstart.png file and not the recovery point from which you deleted the iisstart.png file.

[2018-10-08 18:28] iaasazure commented on #16393
Hi Marilee.  Thanks for the help.  I think the article you linked is incorrect and is a simple error in the update from the Windows Server Essentials 2016.

[2018-10-08 18:32] TravisCragg-MSFT commented on #16386
@nnamedieh Yes, this should be possible with UDRs and Transitive Routing. BGP will also share the route info.

[2018-10-08 18:33] oyvindh commented on #8606
I have a repro on MacOS:
[code]

On my linux box it works fine:
[code]

The suggested work-around fails in the same way.

[2018-10-08 18:33] TravisCragg-MSFT commented on #16407
@rbonini Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 18:36] SaurabhSharma-MSFT commented on #16315
@asasine I do not think there is a limit on number of key-vaults per subscription however there is number of resource deployments limit per resource group which is listed at [Azure subscription and service limits, quotas, and constraints](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#subscription-limits---azure-resource-manager).

[2018-10-08 18:41] Grace-MacJones-MSFT commented on #16093
Hi @henriksen,  your outgoing IP-addresses shouldn't change if you recreate an App Service web on an existing App Service plan (ASP). All apps in the same ASP usually have the same inbound and outbound IP addresses.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2018-10-08 18:41] #16093 closed

[2018-10-08 18:48] priyamohanram commented on #8795
@yadcam: Thanks for reporting this issue! I’ve reviewed this feedback with the product team, and will be updating the article shortly. For your information, risky sign-ins are available in the Free edition of Azure Active Directory to users in the Security Reader, Security Administrator and Global Administrator roles. Users in these roles can view the risky sign-ins by going to the Azure Portal >

[2018-10-08 18:48] Adam-Smith-MSFT commented on #16242
@gonen-kamamber
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 18:48] #16242 closed

[2018-10-08 18:50] priyamohanram commented on #8795
@clondon: Over time, our detections will familiarize features of the remote logins and once they’re successful, stop firing alerts for such logins. Please open a new issue if you have any questions around a specific alert you're seeing. Thanks! #please-close

[2018-10-08 18:58] #16251 closed

[2018-10-08 19:01] JasonWHowell commented on #15708
@rachel-msft please take a look. Thanks, Jason

[2018-10-08 19:02] MicahMcKittrick-MSFT commented on #15527
@wy193777 here is the link to the content we are working to get added

https://github.com/MicrosoftDocs/azure-docs/pull/15952

It is still in the review process but it is in the works.

The networking references shared by @mmacy should get you started on this for now. At least until the content is added.

I will close this out for now as the doc is in the process of being added with more details.

[2018-10-08 19:02] #15527 closed

[2018-10-08 19:06] asasine commented on #16315
@SaurabhSharma-MSFT thanks for the update!

[2018-10-08 19:06] #16315 closed

[2018-10-08 19:09] rolyon commented on #16389
Thanks, I will take a look.
#in-progress

[2018-10-08 19:10] Karishma-Tiwari-MSFT commented on #16417
@gunnarcms It is mentioned in the doc above the template that
"You may notice in the example below there is still a storage account dependency, though this is only for storage of diagnostics and is not needed for disk storage."

[2018-10-08 19:13] Karishma-Tiwari-MSFT commented on #16388
Thanks @iainfoulds for answering.
@Sethu2488 Let us know if the above solution help. Thanks.

[2018-10-08 19:19] peternield opened #16426 "3DES and SHA-1"
Can someone take a look at the following statement: "The certificate signature algorithm must be 3DES. The algorithm cannot be SHA1, as it must be stronger."? I assume that this means that the certificates must use SHA-2 as the hash algorithnm as SHA-1 is considered weak, but what is the reference to 3DES as it relates to signature algorithms? Shouldn't this instead be RSA or ECDSA? In other words

[2018-10-08 19:33] gstolz commented on #16186
Sorry to say this, but I think I mistakenly deployed the public-IP into the wrong RG, not the generated-RG but the "regular"-RG, where the AKS is in. Now everything works as expected!
Thanks for your support!

[2018-10-08 19:41] amthomas46 opened #16427 "Unclear on use case for roles vs hierarchical entities"
The docs say:

In the hierarchical tutorial, the MoveEmployee intent detected when to move an existing employee from one building and office to another. The example utterances had origin and destination locations but did not use roles. Instead, the origin and destination were children of the hierarchical entity.
In this tutorial, the Human Resources app detects utterances about moving new employee

[2018-10-08 19:43] MicahMcKittrick-MSFT commented on #16186
@gstolz thanks for the update! No worries, it happens :) glad to hear you were able to get it working!

[2018-10-08 19:43] #16186 closed

[2018-10-08 19:43] #16140 closed

[2018-10-08 19:45] aljo-microsoft commented on #15141
@MicahMcKittrick-MSFT Please submit the PR, thanks

[2018-10-08 19:49] MicahMcKittrick-MSFT commented on #16001
@chetanku thanks for the patience while I looked into this.

As of now, complete lock down of the network is not something that is supported. There is working being done to address this in the future but I do not have an ETA on when it will be completed. So the short answer to your question is, you need to have outbound connectivity to the internet.

If complete isolation is something you need you

[2018-10-08 19:49] #16001 closed

[2018-10-08 19:50] MicahMcKittrick-MSFT commented on #15141
@aljo-microsoft completed and merged :)

[2018-10-08 19:50] diberry commented on #16427
@amthomas46 Thank you for taking the time to ask these questions. Both methods are valid but roles are the preferred method. I will make this more specific in the documentation. #in-progress

[2018-10-08 19:51] iainfoulds commented on #16308
@MicahMcKittrick-MSFT Just tried to deploy the Helm chart into an RBAC-enabled cluster and I can do so as per the docs without needing to state `--set rbac.create=true`

[2018-10-08 19:51] aljo-microsoft commented on #13992
@gsacavdm please let me know what confusion I can help clarify?

The supported means for achieving success requires Admin consent; and the support ability material provided by the product group works as designed. As an open source platform we welcome community engagement to enhance the platform, and welcome any suggestions on providing an optimum experience.

[2018-10-08 19:54] MicahMcKittrick-MSFT commented on #16422
@nluckenbill correct! That is a typo :)

I corrected the doc. Once the PR merges the changes will live in a few hours :)

Thanks for the find!

[2018-10-08 19:54] #16422 closed

[2018-10-08 19:56] MicahMcKittrick-MSFT commented on #16308
@iainfoulds hmm strange.

@JetPac33 since we cannot seem to repro the same issue I don't think we will need to add anything to the doc. I will close this out but if others see the same issue they can also comment on this issue you opened and we can look into it further.

[2018-10-08 19:56] #16308 closed

[2018-10-08 19:58] mamccrea commented on #15436
The doc has been updated and will be published soon. #please-close

[2018-10-08 19:58] MichaelHallak commented on #14541
@jason-j-MSFT - any word?

[2018-10-08 20:02] nikbanerjee opened #16428 "JSONDecodeError when preparing to deploy nodejs quickstart demo via "webapp up""
Occured when trying to follow the [quickstart nodejs tutorial](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-nodejs).

Cloud shell node version: 8.9.4

 Command run on *Azure Cloud Shell*: `az webapp up -n <app_name>`

Stack trace:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e2

[2018-10-08 20:08] gsacavdm commented on #13992
Thanks @aljo-microsoft , the question is, why is AAD requesting Admin consent if the application registration only requests application permissions that do **not** require admin consent (as per the screenshot above)?

As you said, this documentation and the behavior align, without admin consent, sign-in is unsuccessful. However the AAD UI and the observed AAD behavior do not for this particular Se

[2018-10-08 20:09] MarileeTurscak-MSFT commented on #16354
@aleksbor For later versions you can change the password on the service account and this will destroy the encryption key. For earlier versions it was unsupported to change that password. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions

[2018-10-08 20:10] MarileeTurscak-MSFT commented on #16354
Closing this out for now but if you have further questions feel free to leave a comment and I will gladly continue the discussion.

[2018-10-08 20:10] #16354 closed

[2018-10-08 20:10] MohitGargMSFT commented on #16215
@Nardu92 We will now proceed to close this thread. Thanks.

[2018-10-08 20:10] #16215 closed

[2018-10-08 20:11] MohitGargMSFT commented on #16216
@bally-singh We will now proceed to close this thread. Thanks.

[2018-10-08 20:11] #16216 closed

[2018-10-08 20:11] MohitGargMSFT commented on #16279
@mrmueller We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-08 20:11] #16279 closed

[2018-10-08 20:13] MohitGargMSFT commented on #16330
@dawander Great that you were able to make it work now. Please clarify if you have any follow up query here.

[2018-10-08 20:19] Karishma-Tiwari-MSFT commented on #16293
@pmcevoy I would recommend that you continue the discussion on the other issue you opened #16296 as it is more related to Azure automation.

[2018-10-08 20:23] Adam-Smith-MSFT commented on #16375
@redwoz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-08 20:24] MarileeTurscak-MSFT commented on #16405
@amel00 all of the access to the dashboard is configurable. In order to get started with AD Connect Health, install it, and configure roles you need to be a global administrator of the account. However, you can configure Role-Based Access Control to grant access to other users in your organization and configure this access however you would like.

![image](https://user-images.githubusercontent.com

[2018-10-08 20:25] MarileeTurscak-MSFT commented on #16405
@amel00 hope this answers your question! I'm closing this out for now but if you have further questions, feel free to leave a comment and I will gladly continue the discussion.

[2018-10-08 20:25] #16405 closed

[2018-10-08 20:26] dawander commented on #16330
All good!  Thank you.

From: Mohit Garg <notifications@github.com>
Sent: Monday, October 8, 2018 2:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Wanderer <dw@ridgelinecomputer.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] New-AzureADPolicy Not Found (#16330)

@dawander<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F

[2018-10-08 20:32] pochiraju commented on #16420
Hello @Anmolgan81,

Yes, you need to have site-to-site connectivity between your on-premises network and Azure network for DMS to be able to access the source database servers.
You can achieve that by means of any of the below mechanisms.
1.  Express Route connectivity
2. Site to Site VPN (S2S) connectivity
3. Point to Site (P2S) connectivity.
Please review our pre-requirements doc for specific li

[2018-10-08 20:33] MicrosoftGuyJFlo commented on #15097
#please-close

[2018-10-08 20:34] Anmolgan81 commented on #16420
Hi @pochiraju I haven't found it anywhere written if I can use P2S?

[2018-10-08 20:35] Anmolgan81 commented on #16420
@pochiraju
Whats the difference if I use P2S and S2S??
Which one is better?
How this setup the connectivity to the onpremise machines??

[2018-10-08 20:39] amel00 commented on #16405
Marilee,

That doesnt answer anything.. We have Azure AD Connect Health installed and running fine. I am asking if there is a built in role that grants access to Health, something like Health Viewer

Roles and administrators -
Security Viewer - does not grant access to this
Access can be granted individually but I was wonder why there isnt a built in role for people to be able to view this

[2018-10-08 20:44] MicahMcKittrick-MSFT commented on #16428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 20:44] MicahMcKittrick-MSFT commented on #16384
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 20:47] #6422 closed

[2018-10-08 20:47] spelluru commented on #16138
Sorry for the late reply. In this tutorial, you can run them only as console applications on your local machine. I am not sure how you are hosting them on Azure Web Sites.

Posting it in the [Service Bus Relay forum on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-servicebusrelay) may help. Other Relay developers may have done this.

You could also open a support ticket to work

[2018-10-08 20:52] MohitGargMSFT commented on #16332
@cheenamalhotra The local MSI subsystem caches tokens. Therefore, you can call it as often as you like, and an on-the-wire call to Azure AD results only if:

1. a cache miss occurs due to no token in the cache
2. the token is expired

If you cache the token in your code, you should be prepared to handle scenarios where the resource indicates that the token is expired.

To handle token errors, visi

[2018-10-08 20:58] devanshujoshi commented on #5959
Hi,
Any update on this issue? We are facing issue in Azure Automation Accounts. and pointers would be helpful.

[2018-10-08 20:59] StijnBt commented on #11968
Great, thanx!

[2018-10-08 21:12] Adam-Smith-MSFT commented on #16338
@imeya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@tamram  I can confirm the bc output is not recognized in the output:
bash: bc: command not found

@imeya I'd recommend using the Powershell script as an alternative if possible: https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-size-powersh

[2018-10-08 21:17] spelluru commented on #11968
#please-close

[2018-10-08 21:18] ajklotz commented on #11968
@StijnBt I feel like it would be best to get an official response from Microsoft and linking to some documentation about those limitations

[2018-10-08 21:19] changtom opened #16431 "Update needed for Workplace SSO setup instructions"
The authentication settings for the Workplace app have moved. The instructions at https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workplacebyfacebook-tutorial?fbclid=IwAR0voe6ab-NFGez60-B1viLWhFIlaB3m21ppbU8iM26-FMLcGmg2SyarQIc need to be updated.

Please change steps 8 and 9 to read:
8. In the Admin Panel, go to the Security section and click on the Authentication tab
9. Under A

[2018-10-08 21:22] smflorentino commented on #9698
@MicahMcKittrick-MSFT any update on this?

[2018-10-08 21:32] spelluru commented on #11968
https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-integrate-ci-cd-vsts - Azure DevOps integration.

https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-guidance-prescriptive-adoption - Guidance on setting up the DevTest Labs infrastructure for your enterprise. Specifically, the following article mentions some of the supported scenarios: https://docs.microsoft.com/en-us/az

[2018-10-08 21:36] MicahMcKittrick-MSFT commented on #16235
@mmarkzon can you tell us more about the end goal? Are you trying to run this Custom Script Extension that will then authenticate to the storage account and download a specific file to the VM? How often are you looking to do this? Just once?

Also, this article is for V1 of Custom script. We suggest you use V2 for any deployments.

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions

[2018-10-08 21:38] ravick4u opened #16432 "Set-AzureRmDataFactoryV2IntegrationRuntime : Method not found"
When I am trying "Set-AzureRmDataFactoryV2IntegrationRuntime" command constantly getting below error.

When I ran "Get-Module" command I see below list of modules

I have installed Azure PowerShell MSI link given on below page.

Page URL: https://docs.microsoft.com/en-us/powershell/azure/other-install?view=azurermps-6.9.0

MSI URL: https://github.com/Azure/azure-powershell/releases/download/v6.9.0

[2018-10-08 21:46] SaurabhSharma-MSFT commented on #16329
@atulraizada You may be getting this issue because of the AzureRM Module version.  Can you please check the version you are using when running the cmdlet.

[2018-10-08 21:49] douglaslMS commented on #16170
@Anded, here is the information I received from the Data Factory team:

Sensitive information tagged with "SecureString" is masked out in Monitoring tab.  In actual pipeline execution, the "SecureString" property is serialized as JSON within the activity.json file as plain text. For example:

[code]

There is nothing "secure" about this serialization. The intent is to hint to Data Factory to mask

[2018-10-08 21:49] douglaslMS commented on #16170
@anded I'll see where to add this info in the docs.

[2018-10-08 21:56] pochiraju commented on #16420
@Anmolgan81
With Point-to-Site (P2S), you can connect a single computer, in this case your source SQL Server to your Azure network.
With Site-to-Site VPN tunnel, when you need a persistent connection from one or more on-prem source databases to Azure.
Please find the link below for step-by-step guide to create P2S connectivity.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-p

[2018-10-08 21:58] YutongTie-MSFT commented on #16421
@mx-iao Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 22:01] atulraizada commented on #16329
Running Version  6.9.0 and will test it again.
Regards,
Atul Raizada
Group Manager - Infrastructure Consulting
Avanade
Mobile: +1.2489335609
Skype:   +1.3124296186
Email: atul.k.raizada@avanade.com<mailto:atul.k.raizada@avanade.com>
www.avanade.com<http://www.avanade.com/>

[Avanade logo]
In the US or Canada and need answers now? Try PING<https://amrops01.service-now.com/avanade>

From: SaurabhSha

[2018-10-08 22:02] ManuRiver opened #16434 "Fsv2-series specs errata"
Fsv2-series specs errata

"Max cached and temp storage throughput: IOPS / MBps (cache size in GiB)" section is missing IOP or MB/s specs.
and
"Max uncached disk throughput: IOPS / MBps"  section is non exsitent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef96d58-ce74-a034-993a-c02a6cfa4351
* Version Independent ID

[2018-10-08 22:09] Grace-MacJones-MSFT commented on #16180
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-10-08 22:09] #16180 closed

[2018-10-08 22:10] douglaslMS commented on #16170
Fixed in PR MicrosoftDocs/azure-docs-pr#54583

[2018-10-08 22:11] douglaslMS commented on #16170
#please-close

[2018-10-08 22:21] jjgriff93 opened #16435 "WebApp tutorial link above leads to an ASP.NET tutorial, not ASP.NET Core"
This is a page for .NET Core, so a bit confusing not having a link to a webapp tutorial for ASP.NET Core.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f432109f-6ecb-502b-2612-f8b6eaaf9ffc
* Version Independent ID: 4c316f01-502d-d9cf-e5c9-f908357c662d
* Content: [Azure Cosmos DB: SQL .NET Core API, SDK & resources](ht

[2018-10-08 22:21] BurimD opened #16436 "Link broken"
https://azure.microsoft.com/documentation/learning-paths/service-fabric/ is a broken link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871-6347-0941dbb32d2a
* Content: [Set up a Windows development environment for Azure microservices](http

[2018-10-08 22:32] #16421 closed

[2018-10-08 22:43] kobulloc-MSFT commented on #11968
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-10-08 22:43] #11968 closed

[2018-10-08 22:51] BryanTrach-MSFT commented on #16341
@dxlusby We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@cephalin Thank you for the assistance!

[2018-10-08 22:51] #16341 closed

[2018-10-08 22:51] MarileeTurscak-MSFT commented on #16431
@changtom
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-08 22:57] troyxli opened #16437 "database access"
In the section "Grant database access", is this command "az sql server ad-admin create --resource-group myResourceGroup --server-name &lt;server_name&gt; --display-name &lt;admin_user&gt; --object-id &lt;principalid_from_last_step&gt;" giving too much power to the application? What if only dbreader and/or dbwriter is needed?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-10-08 23:01] MicahMcKittrick-MSFT commented on #16434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 23:02] MicahMcKittrick-MSFT commented on #16436
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 23:02] Alberto-Vega-MSFT commented on #16432
@ravick4u Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-08 23:08] SaurabhSharma-MSFT commented on #16399
@tpietilainen I am not sure about your usage scenario however, I believe the access token you are trying to use to construct an UserAssertion is an expired one. For this error, please ensure that the access token is not expired before you send the token request using it for the user assertion.
You can read about the various tokens and their expiration times here (https://docs.microsoft.com/en-us/a

[2018-10-08 23:10] JennyLawrance commented on #16184
@NikolaTotev Can you open the scm site (you sitename.scm.azurewebsites.net) and click on the container logs link, and share the output? (jennylaw(at)microsoft.com)

@lblanche I do believe the document is up to date. I'll run through this tomorrow and report back if there is any errors.

[2018-10-08 23:11] starforce opened #16438 "Need to mention how to set up AAD when creating a SF Cluster"
Please finish documentation before releasing it. Also, too many examples create Self Sign Clusters.
After you run the SetupApplications.ps1  script  and assigned users, When creating your cluster, you  need to Select advance options under  the Security  tab and add the
tenantId clusterApplication":"&lt;guid&gt;",
  "clientApplication":"&lt;guid&gt;

Then you can log in and manage your clusters.!!

[2018-10-08 23:16] BryanTrach-MSFT commented on #15673
@ChipClark We have responded to your thread internally. As a result, we will close out this thread.

[2018-10-08 23:16] #15673 closed

[2018-10-08 23:17] #16437 closed

[2018-10-08 23:27] jmfrank63 commented on #16398
Hi Jeevan,

the identifier is as you already stated "box.net" (without the quotes). I can confirm this.

Also please remove the /login from the Sign on URL. The sign on url is also treated as an identifier and therefore any unknown pattern will lead to a failure. So with your example it will be just:

https://contoso.account.box.com

Thanks for your prompt reaction.

[2018-10-08 23:28] afield1235 opened #16439 "Adaptive SSO Logout Error: Sorry, but we're having trouble signing you in."
This is the second application I've tried to configure that had an issue with sign out. This is also a pre created gallery application. When signing out I receive the error message:

"Sorry, but we're having trouble signing you in."
"This request is not a valid SAML 2.0 protocol message."

I used both the public instructions: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/adapti

[2018-10-08 23:38] Grace-MacJones-MSFT commented on #16437
We are glad you were able to resolve your issue.

[2018-10-08 23:39] smflorentino commented on #10121
@MicahMcKittrick-MSFT any update on this issue?

[2018-10-08 23:40] Karishma-Tiwari-MSFT commented on #16033
@tapialuism I followed the tutorial and I was also not able to find a drive letter (Step 14). I am working with the product team to understand whether this is a bug or by design. In any case, we will make sure that the document is updated to reflect the expected outcome.

The workaround solution that you can use is :
1. Click on Search and Type 'Create and Format hard disk partitions' or 'Disk Man

[2018-10-08 23:41] smflorentino opened #16440 "What happens when certificateIssuerThumbprint is empty?"
What happens when certificateIssuerThumbprint is empty? It's empty in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Version Independent ID: 25d94e4b-8c95-7423-2665-7c09d438a16b
* Content: [Update an Azure Service Fabric cluster to use certificate common name](https:/

[2018-10-08 23:42] srrengar commented on #10121
@aljo-microsoft can you help with this question on client certs?

[2018-10-08 23:51] mike-urnun-msft commented on #15995
Hi @pnda489 Thank you sharing your solution with us! Surely, this solution is going to benefit others visiting this issue in the future. Since we haven't heard back from you, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-08 23:51] #15995 closed

[2018-10-08 23:51] jason-j-MSFT commented on #16143
@cilhao regex is not a supported feature at this time.  You can create a feature request here:
https://feedback.azure.com/forums/267889-log-analytics

[2018-10-08 23:51] #16143 closed

[2018-10-08 23:53] ajlam commented on #16418
@AndrewGJennings thanks for providing feedback. I just want to clarify, which specific step do you encounter the error message?

[2018-10-08 23:53] ajlam commented on #16023
@timhiggs, do you have any other questions? Otherwise, I will proceed to close this issue.

[2018-10-08 23:54] jason-j-MSFT commented on #16265
@WhiteyC please create a feedback item here:
https://feedback.azure.com/forums/270578-data-factory

The Azure feedback portal is where your request will have more visibility and the community can upvote it.

[2018-10-08 23:54] #16265 closed

[2018-10-08 23:59] jason-j-MSFT commented on #16361
@stubarrpriest could you describe your issue in more detail in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=opinsights

We might have to enable a support case for you if you do not have a support plan.  I'll be watching for your thread if you open one.

[2018-10-08 23:59] #16361 closed

[2018-10-08 23:59] mike-urnun-msft commented on #16292
Hi @GBPhilip Thank you for your valuable feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-10-09 00:00] jason-j-MSFT commented on #16348
@nitinme I have tried to add ADL as additional storage myself, but have not been successful.  Could you take a look at this?

[2018-10-09 00:00] aconkle opened #16441 "Register provider feature"
This article does not mention registering for a separate Microsoft.Network provider feature. However, upon attempting to create outbound rules using CLI, the following message is returned: "...is not registered for feature Microsoft.Network/AllowOutboundNatRule required to carry out the requested operation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-09 00:01] cynthn commented on #16033
@Karishma-Tiwari-MSFT it sounds like what you are saying is the .exe that is downloaded isn't creating a mount point for the backup anymore? I was going to test it myself, since I ran through it multiple times when I wrote the doc. It may be that they changed the behavior of the .exe or it might be broken (which is what I think you suspect).

[2018-10-09 00:02] msangapu commented on #16428
@ahmedelnably Can you please take a look at this?

[2018-10-09 00:03] KeiroKamioka0000 opened #16442 "The URL to Reserved IP is to classic"
&lt;Create a server-level firewall rule in the Azure portal&gt;
The URL for Reserved IP is toward to the Classic Reserved IP Document.
Is this right document for the SQL DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91872d18-0fbe-7fca-8503-58fb1df06ad1
* Version Independent ID: d53dfe9e-9351-20d3-cbd4-c14617a40737

[2018-10-09 00:03] jason-j-MSFT commented on #16326
@kavi99506 if this problem is still occurring, please open a thread in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hdinsight

Please include what Powershell commands you are running.

[2018-10-09 00:03] #16326 closed

[2018-10-09 00:04] chetansriv commented on #15964
@brutelxr @jeevansd Tutorial updated per advice.

#please-close

[2018-10-09 00:06] LuisBosquez commented on #14520
@ChiefWiggum the recommended step is to use a Singleton object like the Azure Cosmos DB connection object. The GremlinClient object itself uses connection pooling, which doesn't require you to instantiate a new connection every time.

[2018-10-09 00:09] jason-j-MSFT commented on #16275
@bwren the screenshots in the documentation do look like they come from the OMS Portal, can you evaluate this?

[2018-10-09 00:11] Mike-Ubezzi-MSFT commented on #16435
@jjgriff93 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 00:12] Mike-Ubezzi-MSFT commented on #16435
Reference:
The tutorial and the code samples are for .NET and not .NET Core.

![screenshot 397](https://user-images.githubusercontent.com/37126106/46639791-33e5fa00-cb1d-11e8-9b84-467def61d7ae.png)

[2018-10-09 00:18] Karishma-Tiwari-MSFT commented on #16033
@cynthn That's correct. I am about to share the details/observations about it, with you, in an email.

[2018-10-09 00:29] ChackDan commented on #9698
Micah - can you assign this work to AlJo. Alex Johnson

[2018-10-09 00:31] anavinahar commented on #16190
Hi there -- could you share why you're trying to do this?

[2018-10-09 01:27] MicahMcKittrick-MSFT commented on #16441
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 01:28] MicahMcKittrick-MSFT commented on #16439
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 01:28] #7245 closed

[2018-10-09 01:28] #8157 closed

[2018-10-09 01:28] #8195 closed

[2018-10-09 01:29] #8795 closed

[2018-10-09 01:29] #8855 closed

[2018-10-09 01:29] #13578 closed

[2018-10-09 01:29] #14904 closed

[2018-10-09 01:30] #15097 closed

[2018-10-09 01:30] #15436 closed

[2018-10-09 01:30] #15657 closed

[2018-10-09 01:30] #15691 closed

[2018-10-09 01:30] #15909 closed

[2018-10-09 01:31] #15910 closed

[2018-10-09 01:31] #15964 closed

[2018-10-09 01:31] #16229 closed

[2018-10-09 01:33] afield1235 commented on #16439
Also, why do some apps use "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0" while others use the **sign-on** url?

[2018-10-09 01:53] cynthn commented on #16033
@Karishma-Tiwari-MSFT FYI - when I ran the .exe, I got the following (password removed) which has "0 recovery volumes attached":

Microsoft Azure VM Backup - File Recovery
______________________________________________

Please enter the 15 character password, shown on the portal, to securely connect to the recovery point: xxxxxxxxxx

Connecting to recovery point using ISCSI service....
WARNING: Wa

[2018-10-09 02:27] dcbrown16 commented on #13845
Per latest confirmation, Log Analytics Contributor role does now grant access to Advanced Settings. I wasn't able to determine if something changed about it internally.

[2018-10-09 03:29] KeiroKamioka0000 opened #16444 "Please apply Japanese language for this document"
I believe this section is really important for Japanese User, please consider to add Japanese translation for this page.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 95e671ca-1844-d3e4-e437-44496409109f
* Version Independent ID: d100fae1-349f-0382-8f52-2d5c9cf0dd60
* Content: [Quickstart - Grant access for a user using RBAC and the Azure portal](ht

[2018-10-09 04:02] Anmolgan81 commented on #16420
Can you tell me what's the recommended approach by Microsoft?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Raj Pochiraju <notifications@github.com>
Sent: Tuesday, October 9, 2018 3:27:00 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Do we need S2S or P2S in order to connext to on-premise severs? (#16420)

[2018-10-09 04:02] MicahMcKittrick-MSFT commented on #16444
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 04:12] tpietilainen commented on #16399
It seems that in some cases the refresh tokens can be invalidated on the AD side, but this might also be a bug on our side.  I can also modify our error handling logic to simply ignore the returned error code and just simply force the user to login again.

However that all is a bit beside the point. My question was about the new error code. It seems to me that error codes in such widely used servi

[2018-10-09 04:27] MicahMcKittrick-MSFT commented on #16436
@BurimD thanks for pointing this out! I have fixed the document. Once the PR merges this issue will automatically close and the change will go live in a few hours.

[2018-10-09 04:32] MikeSpark opened #16446 "404 at Python API reference documentation"
404 Not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 295193f7-dd2b-8090-6b66-c7873d42920d
* Version Independent ID: 6b1b2a3f-89e3-3e69-d610-5f730f74c393
* Content: [Azure Cosmos DB Table API for Python](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-python)
* Content Source: [articles/cosmos-db/tabl

[2018-10-09 04:48] tamram commented on #15378
@binoyjt - It appears that it has not been fixed yet, so I believe the product team has identified it as a bug to fix in the future.

[2018-10-09 05:08] Karishma-Tiwari-MSFT commented on #16033
@cynthn Yes, this is exactly what I am seeing. I shared the details in the email. Thanks for testing it out. :)

[2018-10-09 05:14] imeya commented on #16338
@Adam-Smith-MSFT , thanks for the powershell scripts, it can work. But if it can work with cli, please let me know. thank you.

[2018-10-09 05:31] KeiroKamioka0000 opened #16447 "Metric for HTTP 429?"
Which metrics in Azure Monitor should I use to make alerts for HTTP 429?
I can see HTTP 400, 401 in the Metrics list but I don't see metric for the 429.

Is it &lt;Max RUPM Consumed Per Minute&gt; Metric????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5

[2018-10-09 06:38] avannaldas commented on #15333
@tfitzmac Please update the document to include behavior of ARM Deployment in Complete Mode for below case as well:

__Locked resources already deployed which aren't defined in the ARM Deployment in Complete Mode:__
I think it'll depend on the user who is executing the ARM Deployment. If the user or Credentials of ARM Connection used in DevOps Release Pipeline has _Owner_ or _Administrator_ role,

[2018-10-09 06:42] priyatharshiniSundaram commented on #16264
Thanks for this update will check this ,keep you posted.

Thanks,

Priyatharshini.S

________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, October 8, 2018 10:46 PM
To: MicrosoftDocs/azure-docs
Cc: Priyatharshini Sundaram; Mention
Subject: Re: [MicrosoftDocs/azure-docs] In SDK v4 i couldn't see qnamaker details ,how can i create qnabot in sdkv4 (#16264)

@pr

[2018-10-09 06:48] Anded commented on #16170
The misleading part here is that SecureString typed property's value can be read in plain text in the custom activity. Value of SecureString typed property in activity.json is also obfuscated and therefore cannot be used in custom activity.

[2018-10-09 07:05] v-maroge opened #16450 "Will the ATP create a separate container in the storage for the scan results?"
Does ATP create a separate container in the storage selected for saving scan results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc04833-193c-4ab6-678e-de078b7275ce
* Version Independent ID: 289a64b5-4031-3876-6566-dbb45a8e98d5
* Content: [Advanced Threat Protection - Azure SQL Database](https://docs.microsoft.com

[2018-10-09 07:09] ramveluit opened #16451 "ADF V2 Edit Trigger"
When I am trying to create event trigger in azure data factory version 2 with blob path begins with as '/containername/foldername/subfoldername/' I am getting error as **the content of begins with is not an accepted format**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version

[2018-10-09 07:16] pekkaar commented on #16381
@Adam-Smith-MSFT thanks, and what about the main question whether backup notifications can be set up programmatically via ARM templates or not? I attempted to set up the recovery vault alert settings resource but it can't be deployed as-is in the above doc.

[2018-10-09 07:21] dcbrown16 opened #16452 "Cross-subscription capability"
I know this is a somewhat difficult task, but would it be possible to update the table here to clearly indicate which services can be sent to a workspace in a) another subscription and b) another tenant?
That information is not collected anywhere that I can see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7acb7625-7

[2018-10-09 07:25] shawon017 opened #16453 "Sink Table"
For this Bulk Copy do I need to create the sink tables manually or the copy data tool will do it for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bulk using Azure Data Factory](https://docs

[2018-10-09 07:26] ramveluit opened #16454 "ADF V2 Edit Trigger"
When I am trying to create event trigger in azure data factory version 2 with blob path begins with as '/containername/foldername/subfoldername/' I am getting error as the content of begins with is not an accepted format. I have also tried path as '/containername/blobs/foldername/subfoldername/' getting the same error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-10-09 07:30] simonsabin opened #16455 "Unclear message about SQLDB Encryption"
The first important paragraph is contradictory. It says that the connections to SQL DB are always encrypted, but then goes on to say that one has to set the "Encrypt=True" and "TrustServerCertificate=False"

The first statement is correct and the second is confusing can we have clarification on the purpose of the second part of the paragraph and remove or put it in the correct context.

---
#### D

[2018-10-09 07:36] badaisamoedra opened #16456 "hallo,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d13df1d-e132-c9b6-1efa-6d30550d72f7
* Version Independent ID: 7f720685-f1ee-baa8-4152-fc1104019e8e
* Content: [Provision a simulated X.509  device to Azure IoT Hub using Python](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-de

[2018-10-09 07:41] badaisamoedra commented on #16456
hallo, i have downloaded SDK for python, and when i try to install azure-iot-provisioning package can't install in my local env.
can you help me, where i get this package?

[2018-10-09 07:53] bsiva commented on #15620
@crshovrd41 - checking back on this. I'd much appreciate it if you could help us work this out

[2018-10-09 08:16] simonholgate commented on #16180
Wow, you don't keep things open very long given that I was trying to help
you out.

The answer may lie in that I'm using Visual Studio Community for Mac 2017.
See attached screenshots of the "About" screen.

I also attach a screenshot of the carousel (i.e. NOT a jumbotron) and the
page that it produces.

Regards,

Simon

On Mon, 8 Oct 2018 at 23:09, Grace-MacJones-MSFT <notifications@github.com>
w

[2018-10-09 08:30] robinsalter commented on #12074
I am getting the same error as sujeewa-trintech, for own-coded and cloned solution. I found I could at least get the sample running locally by changing the  environment value for ToDoServiceName to my machine name. I did this because the service fabric explorer is reporting this as the "To do service listener" endpoint address (Cluster->Nodes->_Node_0->fabric/todolistapp->ToDoServicePkg->Replicas-

[2018-10-09 08:34] huannews commented on #16184
I have the same problem. Following every single step until the very end. Everything runs smoothly until the last step, and when I check the page, instead of having my hello world I get a nice blue "Your App Service app is up and running" page, like if there was actually nothing running

[2018-10-09 08:39] fmegen commented on #16358
Thanks a lot for bringing up this issue. We are preparing sample (similar to the other examples found here https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples) with more use cases. Unfortunately the code is not yet published.

[2018-10-09 09:15] shahiddev commented on #15279
Can we get an update on what these V2 versions are, their pricing and if they are in preview?

[2018-10-09 09:36] RoopAnymous opened #16459 "How can we read json file availabel in datalakestore."
jsonlite api does not understand the adl:// path

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e89eae92-01ac-f9b0-85b5-edea6082be52
* Version Independent ID: e775cb42-b395-00fa-62aa-dc46dfb5d0bd
* Content: [Manage ML Services cluster on HDInsight - Azure](https://docs.microsoft.com/en-us/azure/hdinsight/r-server/r-ser

[2018-10-09 09:37] banjaxedben commented on #16306
Note that the example Python script on the same page uses
`username=iot_hub_name+".azure-devices.net/" + device_id`
No mention of api-version.

[2018-10-09 09:56] tommoran91 opened #16460 "Application Settings Location"
HI, Following the guide, but i do not have the application settings location?

Has this changed since the guide was produced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80ec5-3559-74e6-e0fa-6384b20052e5
* Content: [Configure web apps in Azure App Ser

[2018-10-09 09:59] sergaz-msft commented on #15882
Hello @dtechie , since we didn't hear back from you I am now closing the thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-09 09:59] #15882 closed

[2018-10-09 10:12] johnug opened #16461 "Outdated guide- Please update documentation to cover Android API 26+"
Regarding Step 14, the SendNotification() method does not work when Target Android version is API 26 and above. This is because starting from Android Oreo (API level 26), all notifications must be assigned to a NotificationChannel. Additionally, it might be better to use NotificationCompat.Builder instead of Notification.Builder?

To create NotificationChannel programmatically, one could follow th

[2018-10-09 10:12] andreaghirardello opened #16462 "Property minutes for recurrence has wrong values"
The value for that property states "1 to 24".
It's probably a typo...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dbde0d3-acd8-c547-51ff-a6973f203777
* Version Independent ID: ff2d1310-71c5-4191-70cb-425f0518ef39
* Content: [Concepts, terms, and entities - Azure Scheduler](https://docs.microsoft.com/en-us/azure/sch

[2018-10-09 10:32] sergaz-msft commented on #16018
Hello @lukka , see [here ](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/devdoc/iothubclient_c_library.md#iothub_client_message_callback_async)the definition.

====================================================

## IOTHUB_CLIENT_MESSAGE_CALLBACK_ASYNC

Once a message is received from the service, if the user has set a callback, the receive callback shall be invoked.
This cal

[2018-10-09 10:39] sergaz-msft commented on #16082
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-09 10:39] #16082 closed

[2018-10-09 10:43] ratocego opened #16465 "Management Certificates not availbale on CSP Azure subscriptions"
Management Certificates are not available for CSP customers or ARM-only subscriptions, as there is no Co-Administrator roles in this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd0775e7-299f-5980-f788-f94b95c54183
* Version Independent ID: 361225e7-8900-cf9e-558b-535c671ece1a
* Content: [Cloud Services and

[2018-10-09 10:45] BzSpi opened #16466 "CDN "Override" behavior and "no-cache" headers"
Even if the "Override" behavior is described as "Ignore origin-provided cache-directive headers; use the provided cache duration instead." a resource with headers "cache-control: no-cache" is not cached with this behavior.
I think it should be explicitly written in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-09 10:46] tsouker opened #16467 "Project working but with an error message"
Hello,

i have a question. After running the project locally all fine with adding, deleting etc items,
But when i click the logo "My TodoList App" i get the following error:
-----------------------------------------------------------------------------------------------------------
Σφάλμα διακομιστή στην εφαρμογή '/'.
Ο πόρος δεν είναι δυνατό να βρεθεί.
Περιγραφή: HTTP 404. Ο πόρος που αναζητάτε (ή

[2018-10-09 10:53] cmeyertons opened #16468 "How to stop an application"
Because this is just a tutorial and it incurs $$$ (~$100/month), maybe be more explicit about the costing upfront and provide steps on how to stop containers to stop incurring cost

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-28b4-0a2a-4da7-47cb4d66689f
* Version Independent ID: d1ffdd88-ab9a-9f55-8689-526e7

[2018-10-09 11:00] mcurko opened #16469 "Question"
Trying to add a second endpoint to a traffic manager results in:

Failed to save configuration changes to Traffic Manager profile 'mcweb-eu'. Error: Some of the provided Azure Website endpoints are not valid: One or more conflicts detected in traffic manager configuration. Multiple domains point to region "West Europe": mywebapp1971-eu1.azurewebsites.net, mywebapp1971-eu2.azurewebsites.net

Since

[2018-10-09 11:02] cmeyertons opened #16470 "Mention az acr login before push"
If you complete this step some time after step 2, you have to re-run `az acr login` -- I had to go dig through step 2 to find it.  Would be good to mention that possibility here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e9075f-9310-5e1f-72d4-a5bd061cdb1b
* Version Independent ID: 8afbfa3d-1cc3-5326-502a-291f72a

[2018-10-09 11:15] mcurko opened #16472 "Question"
I don't understand what's described here. I want to map www.mycustomdomain.com to mytmdomain.trafficmanager.net. Why should I add a custom domain to the web app? Traffic manager should make it reachable...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 727d988f-ef00-38b1-b9e3-d53745710776
* Version Independent ID: 1fd7

[2018-10-09 11:32] azkamil commented on #6760
thank for replies! Unfortunately this does not solver our problem.
Consider following scenario

The malicious attacker corrupts some of old data, that might be unnoticed, since it is not accessed on daily basis.
After waiting 35 days attacker deletes all LTR backup of corrupted data.
Then we don't any valid data and all backup is gone, including PITR, since it restores to already corrupt state. Th

[2018-10-09 11:33] ivana61 opened #16473 "Azure Batch task scheduled with Data Factory to run a docker container"
I use a docker container image that already contains a python script which is in an Azure Container Registry and I want to schedule it to run through Azure Data Factory.  I get this error: Task failed "Container-enabled compute node requires task container settings", but I have already specified the container type, image and registry when I created the pool. What else could this error refer to?

-

[2018-10-09 11:38] SiliconOrchid commented on #8169
I am trialling the handwriting-recognition API - and facing the same issue as reported earlier this year, regarding the missing "Operation-Location" header.

{StatusCode: 200, ReasonPhrase: 'OK', Version: 1.1, Content: System.Net.Http.HttpConnection+HttpConnectionResponseContent, Headers:
{
  apim-request-id: a35b86f5-4967-49c5-a4e1-86678743af69
  Strict-Transport-Security: max-age=31536000; inclu

[2018-10-09 11:42] SiliconOrchid opened #16475 "Cognitive Services; handwriting-recognition API ; missing "Operation-Location" header."
{StatusCode: 200, ReasonPhrase: 'OK', Version: 1.1, Content: System.Net.Http.HttpConnection+HttpConnectionResponseContent, Headers:
{
  apim-request-id: a35b86f5-4967-49c5-a4e1-86678743af69
  Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
  X-Content-Type-Options: nosniff
  Date: Tue, 09 Oct 2018 11:29:17 GMT
  Connection: close
  Content-Length: 75
  Content-Type: applica

[2018-10-09 11:49] Sethu2488 commented on #16388
I referred to the below link
 https://stackoverflow.com/questions/52001762/how-deploy-docker-container-automated-in-azure-service-fabric-with-teamcity
Customer wanted to upgrade the cluster by changing the version in the ARM template.

[2018-10-09 12:07] kraigb commented on #16086
@jrmedd What does your startup.txt contain, exactly? You probably need --bind=0.0.0.0, like this:

gunicorn --bind=0.0.0.0 --timeout 600 web_app:app

--timeout:600 matches what's done in the container by default.

I'm updating the docs with these details, btw.

[2018-10-09 12:14] payalgaikwad42 commented on #16270
Found the issues: It was the expired edge_owner certificate under /var/lib/iotedge/hsm/certs/.
you can simply delete the certificate and restart the IoT Edge by:
sudo systemctl restart iotedge

[2018-10-09 12:14] #16270 closed

[2018-10-09 12:30] tbkobberoe opened #16477 "Change in program"
In the text it says:
Manage snapshots
Azure Storage Explorer provides the capability to take and manage snapshots of your blobs. To take a snapshot of a blob, right-click the blob and select Make Snapshot.

In the latest version (1.4.2) of Azure Storage Explorer "Make Snapshot" is called "Create Snapshot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-10-09 12:32] gk14 commented on #11519
Any update ? Would like to get this working.

Thanks !

[2018-10-09 12:33] cephalin commented on #16180
Hi @simonholgate you're creating a .NET Core web app, not .NET Framework app. The .NET Core quickstart is here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet

[2018-10-09 12:46] simonholgate commented on #16180
Thanks @cephas. My mistake. The documentation still refers to replacing
jumbotron however. The code that is produced in VS for Mac 2017 includes a
carousel instead.

On Tue, 9 Oct 2018 at 13:33, Cephas Lin <notifications@github.com> wrote:

--
Dr Simon Holgate
www.sealevelresearch.com            Tel: +44 (0)151 947 0441    Mob: +44
(0) 7840 562261

<http://sealevelresearch.com>

Sea Level Research

[2018-10-09 12:48] atulraizada commented on #16329
Saurabh,

I updated Azure RM PowerShell to the latest and I still see the same issue,
Please see below,

[cid:image001.jpg@01D45FAC.DA904A90]

Additionally when I try to set permissions running following command,
Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVaultName -ObjectId $userPrincipalId -PermissionsToStorage all

It doesn’t like “all”, I have to tweak it to,

Set-AzureRmKeyVaultAccessPoli

[2018-10-09 13:01] atulraizada commented on #16329
-Service isn’t a parameter for that command.

Set-AzureKeyVaultManagedStorageSasDefinition
[-VaultName] <String>
[-AccountName] <String>
[-Name] <String>
[-TemplateUri] <String>
[-SasType] <String>
[-Disable]
[-Tag <Hashtable>]
[-ValidityPeriod <TimeSpan>]
[-DefaultProfile <IAzureContextContainer>]
[-WhatIf]
[-Confirm] [<CommonParameters>]

It is, however, a parameter for New-AzureStorageAccountSa

[2018-10-09 13:09] jrmedd commented on #16086
@kraigb: Perfect ```--bind="0.0.0.0"``` did the job. Thanks for the assistance.

[2018-10-09 13:09] #16086 closed

[2018-10-09 13:13] atulraizada commented on #16329
Thanks again Fred,

That is what I was finding, but wanted to confirm with author of the article.
Appreciate a lot,
This works,
Regards,

Atul Raizada
Group Manager - Infrastructure Consulting
Avanade
Mobile: +1.2489335609
Skype:   +1.3124296186
Email: atul.k.raizada@avanade.com<mailto:atul.k.raizada@avanade.com>
www.avanade.com<http://www.avanade.com/>

[Avanade logo]
In the US or Canada and need

[2018-10-09 13:17] Appjunkie commented on #16164
The hyper link has now changed from

**#managed-service-identity-authentication**  to **_#managed-identity_**

it was broken when I reported it.

Thanks for fixing it

[2018-10-09 13:36] sergaz-msft commented on #16287
Thank you for pointing this out @richcorless . If you are running Linux containers I would use "mcr.microsoft.com/azure-blob-storage:linux" , though this needs to be added to the documentation. I will let @kgremban comment on this and add that missing information to the doc.

Thank you!

[2018-10-09 13:43] MarkDixonTech opened #16479 "Url incorrect in documentation"
Step 6 doesn't seem to be correct. I always get an error about redirect_uri being incorrect when using the format:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

However, when using the format:

https://login.microsoftonline.com/te/your-tenant-name.onmicrosoft.com/oauth2/authresp

This seems to work. Is the documentation wrong?

---
#### Document Details

[2018-10-09 13:49] lukzog opened #16480 "Snaphost mini dumps data retention"
For how long the snaphosts dumps are kept in AI? Is it configurable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67bc-4861-2f76-5e62cfa5cf11
* Content: [Azure Application Insights Snapshot Debugger for .NET apps](https://docs.microsoft.com/en-us

[2018-10-09 13:51] MarkDixonTech commented on #15142
Has the endpoint changed again? I was able to get the below to work but not the format specified in the article

https://login.microsoftonline.com/te/<tenant-name>.onmicrosoft.com/oauth2/authresp

[2018-10-09 13:55] gs9824 opened #16481 "Access rights to shared file"
I have tried this workflow on https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files with grafana

az container create --resource-group <RG>--name <NAME> --image grafana/grafana:latest --dns-name-label <DNS>--ports 3000 --azure-file-volume-account-name $STORAGE_ACCOUNT --azure-file-volume-account-key $STORAGE_KEY --azure-file-volume-share-name $ACI_PERS_S

[2018-10-09 13:57] Rod-in-NM commented on #13694
Thank you, @GithubMirek and @CarlRabeler.

[2018-10-09 13:57] #13694 closed

[2018-10-09 14:00] Jide-Jimoh opened #16483 "Back Up Share"
Can we backup to an Azure File Share in place of a File Server ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246e80bf-cae1-c54b-892c-0e51c7de4b4f
* Version Independent ID: cf4c99cb-143f-5696-43c1-69d574bd9aeb
* Content: [Enable backup for Azure Stack from the administration portal](https://docs.microsoft.com/en-us/a

[2018-10-09 14:16] sergaz-msft commented on #16302
Hi @richardasavie what is the error that you get when trying to send messages to the device? You confirmed that a device with a name without special characters works well right? Thanks

[2018-10-09 14:19] OffColour opened #16484 "Two app gateways required?"
For this to work resiliently, won't there also need to be another App Gateway behind API Management to route the APIM backend across multiple servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 281ce98c-115b-3c39-52b7-3df95dfd8b52
* Content: [How to use

[2018-10-09 14:28] richardasavie commented on #16302
Hey @sergaz-msft, the CONNECT message goes well, but when the device is sending the PUBLISH message, it disconnects the client. I didn't see any errors other than device disconnected.

The workaround was to have a clientId without any +.

[2018-10-09 14:37] MarkDixonTech commented on #16479
I have found the solution to this. I need to updated the AzureAdB2C Instance value in appsettings to match the first link. Might be worth mentioning this in the documentation

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-msa-app

[2018-10-09 14:40] nansravn opened #16485 "Deploying/Consuming AzureML webservices with 2+ arguments"
What is the right way to consume the AzureML Deployed Webservice when deploying a model with **2+ arguments**?

________

I have deployed a model using 2 arguments on the function `run`.

[code]

I've tried like that:
[code]

But I've received the following error code:
[code]

I've also tried to consume this model via cURL, but received an equivalent error:
`curl -X POST -H "Content-Type:applicati

[2018-10-09 14:43] sergaz-msft commented on #16306
Hi @banjaxedben I tested without using api-version and was able to connect and send\receive messages with no issue. I am unsure on the influence of removing the api-version though. Will let the content author @fsautomata comment on that. Thank you!

[2018-10-09 14:45] Nikhil-Srinidhi opened #16486 "Can I use Azure Data Factory to copy data from On Premise FTP Server to a VNet Isolated blob Storage Service?"
If I limit my storage service's network to only be accessible from the VNet, I'm having an issue that Azure DataFactory is not able to create a connection to the file storage service ? Isn't DataFactory a trusted azure service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf7e612-a8a4-ff95-2dd1-2c0eef051634
* Versio

[2018-10-09 14:45] WilldotNET opened #16487 "sourceUri is missing"
WARNING: New-AzureRmSnapshot: A property of the output of this cmdlet will change in an upcoming breaking change
release. The Name property for a Sku will return Standard_LRS and Premium_LRS
New-AzureRmSnapshot : Required parameter 'sourceUri' is missing (null).
ErrorCode: InvalidParameter
ErrorMessage: Required parameter 'sourceUri' is missing (null).
StatusCode: 400
ReasonPhrase: Bad Request
Ope

[2018-10-09 14:52] ronitr commented on #16450
Once you configure a storage account, then YES - a new separate container will be created where your vulnerability assessment scan results are stored.

[2018-10-09 14:54] nitinjain999 commented on #11046
Oct 09 16:53:15 Pi1 iotedged[1820]: 2018-10-09T14:53:15Z [INFO] - Initializing hsm...
Oct 09 16:53:15 Pi1 iotedged[1820]: 2018-10-09T14:53:15Z [INFO] - Finished initializing hsm.
Oct 09 16:53:15 Pi1 iotedged[1820]: 2018-10-09T14:53:15Z [INFO] - Detecting if configuration file has changed...
Oct 09 16:53:15 Pi1 iotedged[1820]: 2018-10-09T14:53:15Z [INFO] - No change to configuration file detected.

[2018-10-09 14:57] markolbert commented on #15142
That's possible, as there appears to be little or no coordination between the developers working on this stuff and the documentation. FWIW, I was under the impression that the microsoftonline.com domain is deprecated...but I'm running into other problems trying to get the Google identity provider to redirect to the correct site after it authenticates. The redirect that should be happening doesn't

[2018-10-09 15:07] sergaz-msft commented on #16302
@richardasavie I can't reproduce the issue like you describre. I am using MQTT.fx (1.7.0) and I can't connect the device when it has '+' on it's name.

2018-10-09 15:50:37,630  INFO --- BrokerConnectorController      : onConnect
2018-10-09 15:50:37,631  INFO --- MqttFX ClientModel             : MqttClient with ID (+351)912587984 assigned.
2018-10-09 15:51:19,691 ERROR --- MqttFX ClientModel

[2018-10-09 15:09] WilldotNET commented on #16487
I get the above error when running the final command

[2018-10-09 15:30] richardasavie commented on #16302
My setup was:

**Azure IoT Hub:**
Device created in Azure IoT Hub with (+44)090809098 as the device ID
Using X.509 CA as Authentication Type

**Device MQTT:**
Mqtt client ID: (+44)090809098
Device cert generated from a CA with (+44)090809098 on the CN

[2018-10-09 15:31] Mike-Ubezzi-MSFT commented on #16447
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 15:32] badalk opened #16488 "Is it possible to name the second resource group according to enterprise naming policies?"
In the FAQ mentioned above on second resource group crated by AKS resource provider, is there any way to either name it according to our standards OR provide a pre-created resource group to the AKS creation script / ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Vers

[2018-10-09 15:32] BryanLa commented on #16329
@atulraizada, @SaurabhSharma-MSFT - apologies for the delay on this, and for any confusion it has caused. We are working through this w/some other articles as we speak, and will be fixing in the next day or two.

@MohitGargMSFT - feel free to assign this one to me and I will close once the articles are fixed and republished.

[2018-10-09 15:34] Mike-Ubezzi-MSFT commented on #16447
Http 429 is not listed and wondering is 'Throttled Requests' might be the metric to select. In the documentation, you can see the graphic includes Http 429 events: [Understanding how many requests are succeeding or causing errors](https://docs.microsoft.com/en-us/azure/cosmos-db/use-metrics#understanding-how-many-requests-are-succeeding-or-causing-errors).

![screenshot 399](https://user-images.gi

[2018-10-09 15:34] asasine opened #16489 "Add access policy during Key Vault creation"
Is it possible to add an access policy to a Key vault during its initial create request? We would like to create the key vault and add a system-assigned identity with specific permissions in one step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a20a94-cfda-1b7f-572a-36103fd91b01
* Version Independent ID: ff21c49b-

[2018-10-09 15:38] WilldotNET commented on #16487
OK - I think the cause of the issue is that the VM I'm trying to snapshot is not on a managed disk. Not sure if the error message is correct in that case?

[2018-10-09 15:39] sergaz-msft commented on #16302
Thanks for sharing. I did some further tests using [Node SDK Sample](https://github.com/Azure/azure-iot-sdk-node/blob/master/device/samples/simple_sample_device.js). When using a deviceID with '+' on it's name MQTT protocol fails. AMQP and HTTP works well though.

I will further investigate and we may need to add a note on this doc with your initial suspicious

:)! Thank you.

[2018-10-09 15:49] AnalyticJeremy commented on #15632
@dumnovnz So you're saying that we don't need a document that is specific to R but instead we need a document that helps users build ADF pipelines to orchestrate data science / ML workloads?

[2018-10-09 15:49] dlepow commented on #16071
@devchop - Thanks for your question. I am reaching out to the engineering team to find out if this is scenario that we should document.