[2018-12-12 20:24] SaurabhSharma-MSFT commented on #20552
@jscaravilli Could you provide us with the link to the document you are referring to ?

[2018-12-12 20:24] MohitGargMSFT commented on #20558
@jl101 Thanks for reaching out. It seems you already have SQL Login created. However, creating user for that sql login in database and assigning appropriate role to that database user is required. As a sql admin you can run below to create SQL Login (which it seems already exist) and then create DB user and assign role -

-- Create login at master database
CREATE LOGIN login_name WITH PASSWORD = '

[2018-12-12 20:31] bwodicka commented on #20372
Thanks @kumaranpravin ! I believe this may be exactly the problem (multiple subscriptions).  I was able to get it to run by going into a terminal session and then using az login / setting the default subscription per your advice.  Is there a way to do it from the context of the Azure notebook?  I tried running it as a first step in the notebook and receive the following (sorry if this is a basic q

[2018-12-12 20:37] gopher194 opened #20592 "Error in PowerShell command"
Hello, we automate VMs in Azure, and this command:
Set-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Memory Management' -name "PagingFiles" -Value "D:\pagefile" -Type MultiString -force

Has an issue: -Value "D:\pagefile" should be replaced by -Value "D:\pagefile.sys"

Cheers. Emmanuel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-12-12 20:40] MicahMcKittrick-MSFT commented on #20592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 20:43] JohnGalt1717 opened #20593 "Using the root domain as an example isn't helpful"
The A Record example uses the root domain. As a result it isn't clear what you would use for the txt and A records when dealing with a url such as api.contoso.com.

You should give both examples, the root of the domain and a named A record like api.contoso.com so that it's obvious because as it stands right now it's not at all clear where the txt record should be assigned. api or @?

---
#### Docu

[2018-12-12 20:52] SaurabhSharma-MSFT commented on #20333
@martinstenhoff  I have compared the older version - 1.1.880 and new version - 1.2.69.0 and I see both are having unsigned dlls. Please find the screenshots below -

**Old version**
![image](https://user-images.githubusercontent.com/38112130/49897941-64dbf700-fe0c-11e8-9c1e-ed5fc1b1b829.png)

**New version**
![image](https://user-images.githubusercontent.com/38112130/49898039-acfb1980-fe0c-11e8-85

[2018-12-12 20:57] MohitGargMSFT commented on #20550
@saschagottfried Thanks for reporting! I have assigned the issue to the content author to further investigate and update as appropriate.

[2018-12-12 20:57] mrbullwinkle commented on #20587
Thanks @Mikhail-Pranovich I will get that fixed and changed from an H3 to an H2. I was just about to make some changes to that doc to add in how to set cloud_RoleName for Spring Boot so this is perfect timing for your request.

[2018-12-12 21:00] jambirk opened #20595 "swapped cells"
looks like the cells containing AF21 (18) and CS0 (0) actually belong in the DSCP marking column rather than the traffic class column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d0ee9b-f416-909d-7adf-4a034b4653d1
* Version Independent ID: c2bd3cd6-000b-817e-ca52-72c40eb1d1af
* Content: [QoS requirements - Express

[2018-12-12 21:09] glimoli commented on #20592
Thanks Emmanuel, that is true, that is a mistake. I'll update the article. Thanks for the feedback.

[2018-12-12 21:12] cynthn commented on #18086
@rothja that seems logical, but I've no idea if the numbers are even correct anymore. Adding @roygara to see what he thinks :)

[2018-12-12 21:16] MarileeTurscak-MSFT commented on #20555
What type of authentication are you using? ADFS or Pass-through?

[2018-12-12 21:17] barbkess commented on #15255
@thommck : Seems that this issue has been answered, so I'm going to close.  Let us know if this has not solved your issue. Thanks.

#please-close

[2018-12-12 21:36] Grace-MacJones-MSFT commented on #20005
@HarshaNalluru  are you still facing this issue? I checked the link you provided and it said the webapp is stopped.

[2018-12-12 21:37] MarileeTurscak-MSFT commented on #20559
The b2cscopes should be the Published scopes in your Application that is registered in Azure B2C.

Here is a sample application published scopes :

![image](https://user-images.githubusercontent.com/13383753/49900140-95bf2a80-fe12-11e8-9d6e-81399d276483.png)

So, the b2cScopes value should be like this:

 b2cScopes: ["<your App ID URI>/<SCOPE>"]

Example:
b2cScopes: ["https://mydomian.onmicrosoft.

[2018-12-12 21:38] Alberto-Vega-MSFT commented on #20563
@MarekLani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 21:39] MarileeTurscak-MSFT commented on #20559
We will now proceed to close this thrad. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-12 21:39] #20559 closed

[2018-12-12 21:40] Alberto-Vega-MSFT commented on #20495
@WiproSynnexDS We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 21:40] #20495 closed

[2018-12-12 21:48] Alberto-Vega-MSFT commented on #20583
@wschroder Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 21:51] TravisCragg-MSFT commented on #17431
@munozrickT4S We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 21:51] #17431 closed

[2018-12-12 21:55] MarileeTurscak-MSFT commented on #20549
Hi @jbfp , yes the alias is still active. Jeevan (who gives access) is currently traveling so the responses are a bit delayed. They have located an email from you from yesterday and will reply soon.

[2018-12-12 21:56] MarileeTurscak-MSFT commented on #20549
We will now proceed to close this thread. If you continue to have trouble getting the access you need feel free to tag me in the comments and we can get it sorted out.

[2018-12-12 21:56] #20549 closed

[2018-12-12 21:57] MicahMcKittrick-MSFT commented on #20105
@Ayanmullick any update on this?

[2018-12-12 22:00] Grace-MacJones-MSFT commented on #20593
Hi @JohnGalt1717, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-12 22:00] saulcruz opened #20597 "Documentation on create-self-hosted-integration-runtime not clear (point #2)"
Hey there,

In this section https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#considerations-for-using-a-self-hosted-ir

Point # 2 is not clear enough when it states the following
_You can have only one instance of a self-hosted integration runtime installed on a single machine. If you have two data factories that need to access on-premises data sources, yo

[2018-12-12 22:02] #20026 closed

[2018-12-12 22:02] Ayanmullick commented on #20105
@MicahMcKittrick-MSFT,  I'm awaiting an update from @pvrk

[2018-12-12 22:03] MohitGargMSFT commented on #20569
@Nilis312 Please note that as stated in the document if you have only W10 clients then you can choose ....onmicrosoft.com.

[2018-12-12 22:09] MicahMcKittrick-MSFT commented on #20105
@Ayanmullick ah yes sorry. I meant to @ them instead... oops :)

[2018-12-12 22:12] MicahMcKittrick-MSFT commented on #20592
Thanks @gopher194 @glimoli

I submitted a PR for this. Once it merges the changes should go live in a few hours.

[2018-12-12 22:12] #20592 closed

[2018-12-12 22:12] mumoryan commented on #20487
A user won't have any problem figuring out that they have the role "user". However from a user's perspective, they need someone to explicitly tell them that "A user with just the role of "User" does not have any special access or permissions."

[2018-12-12 22:14] kgremban commented on #20563
@MarekLani Thanks for pointing out the inconsistency. I double checked, and Windows 10 Server 1803 is the semi-annual update of Windows Server 2016. I'm currently working on other updates for the installation articles and I'll include updates to use a consistent version naming system. I'll let you know when the changes are live, probably in the next week.

[2018-12-12 22:18] jl101 commented on #20558
I created a SQL login (in master) and the user in the target database as db_owner and am seeing the  “ Cannot open Failover Group "xx.database.windows.net" requested by the login. The login failed. (Microsoft SQL Server, Error: 40971) “  error in SSMS.

Same results when using Azure Password authentication with my AAD account.

BTW, I can connect in SSMS using the admin SQL login and run queries w

[2018-12-12 22:19] HarshaNalluru commented on #20005
Not anymore. I went to the Azure Portal and checked the "Diagnostics logs" and the logs for my application in "Log stream", which said that it couldn't recognize the async functions that I use. Also, made necessary changes to package.json and deployed again.

And the deployment finally works 😊
Please check out: https://searchapp1.azurewebsites.net/

[2018-12-12 22:32] MicahMcKittrick-MSFT commented on #20438
@xenalite only reason I could think of would be if you had a company policy assigned to your subscription that automatically applies NSG rules to any deployment. Otherwise there are no rules in place that will reset the configuration.

[2018-12-12 22:38] andrewatfornax opened #20599 ""The virtual network for the AKS cluster must allow outbound internet connectivity.""
I appreciate that this feedback is very close in nature to that raised in https://github.com/MicrosoftDocs/azure-docs/issues/18882, however, I feel that it's also sufficiently different in nature to warrant a new ticket.

In the discussion in https://github.com/MicrosoftDocs/azure-docs/issues/18882, the opening point is that "Our network security team will not allow open access to the Internet for

[2018-12-12 22:39] SaurabhSharma-MSFT commented on #20536
@agrabhi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-12 22:55] SaurabhSharma-MSFT commented on #20543
@sibethale I have assigned Security Reader role to a user and I am able to get the Azure AD Identity Protection page.  Please find below the screenshot -
![image](https://user-images.githubusercontent.com/38112130/49904052-e0926f80-fe1d-11e8-871b-18ce0880c932.png)

[2018-12-12 22:58] nacharya1 commented on #20324
@kumaranpravin when preprocessing is turned on the following processing occurs. With transformers working together you are observing the 73 features being created. These will aid the accuracy and performance of the model.

1.	Dropping high cardinality or no variance features
o	Features with no useful information are dropped from training and validation sets. These include features with all values

[2018-12-12 23:05] CelesteDG commented on #10028
#please-close
Have got this on the backlog for documentation and using that as the primary tracking mechanism for the doc ask.

[2018-12-12 23:12] guzo-kevin commented on #20109
I think I got the answer - No parsing mode need to be specified for other supported documents

[2018-12-12 23:15] TravisCragg-MSFT commented on #20561
@AdamSharif-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 23:16] TravisCragg-MSFT commented on #20595
@jambirk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 23:20] dpetrizze opened #20600 "Registration Fails"
I am at a loss to resolve the following error.  Any suggestions would be greatly appreciated.

VERBOSE: 2018-12-12.22-54-23: Connection to AzS-ERCS01 successful
VERBOSE: 2018-12-12.22-54-23: Verifying stamp version.
VERBOSE: 2018-12-12.22-54-37: Running registration actions on build 1.1809.0.90. Cloud Id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx, Deployment Id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VER

[2018-12-12 23:30] jambirk commented on #20595
there could be a link to RFC 3246, target is https://www.ietf.org/rfc/rfc3246.txt

[2018-12-12 23:33] SaurabhSharma-MSFT commented on #20478
@fedonasc Which firewall rules you are talking about ?

[2018-12-12 23:35] SaurabhSharma-MSFT commented on #20481
@r-milne Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-12 23:38] kfarmer-msft commented on #20493
The null ref error in 5.8 related to blob upload should be addressed with 5.9, which just went live.

[2018-12-12 23:46] #20493 closed

[2018-12-12 23:48] kobulloc-MSFT commented on #20587
@Mikhail-Pranovich Thank you for bringing this to our attention!

[2018-12-12 23:57] MicahMcKittrick-MSFT commented on #20577
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-13 00:06] TylerMSFT commented on #19874
#please-close

[2018-12-13 00:08] TylerMSFT commented on #12261
#please-close

[2018-12-13 00:09] andrewatfornax commented on #20599
Ah. FYI, allowing outbound traffic to the "AzureCloud" service tag solves the issue. This would be helpful if it could please be added to the documentation as something else that is required in addition to outbound connectivity to the Internet service tag.

Thanks!

[2018-12-13 00:09] rezasherafat commented on #20148
@kudlatiger looks like your embedded OS is missing root certs and I don't think if these come in SDK packages.

+@yzhong94 and +@eustacea to confirm and share which certs are need here.

[2018-12-13 00:12] TylerMSFT commented on #12261
@SimonPuckeyAW - You might track this blog: https://blogs.msdn.microsoft.com/azureservicefabric/2018/12/04/service-fabric-mesh-preview-refresh-release/

[2018-12-13 00:12] cherylmc commented on #20595
Thanks for catching this. I'll go ahead and make updates. You can send me email internally if you spot other changes for ER docs. No need to go through public GitHub Issues unless you prefer to.

[2018-12-13 00:14] TravisCragg-MSFT commented on #16648
@sahilpnckr123 my apologies, I will follow up with this again to try to get a direct answer. g

@Sunny-Sharma Virtual WAN supports any connections from a [supported device partner](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-locations-partners). AWS is not one of those partners, but if you have a device in your AWS VNET that is a preferred partner, it is likely you will be able

[2018-12-13 00:17] SaurabhSharma-MSFT commented on #20547
@colinrippeyfinarne The link is correct and if you are getting an access denied error then you need to be a Global Admin to access the admin portal.

[2018-12-13 00:18] SogoGolf opened #20601 "WOW!"
This workflow via VS Code is quite simply AMAZING. Leaves Firebase and AWS wayyyy behind. Congrats on hitting the "functions workflow" nail on the head. We're now looking into a move to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4e

[2018-12-13 00:30] femsulu commented on #20568
@mrdfuse Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-13 00:30] sethmanheim commented on #20220
@cenkersoy Please let us know your thoughts, otherwise we should close this issue.

[2018-12-13 00:32] SaurabhSharma-MSFT commented on #20434
@mcurko No, Azure AD Connector account is a built-in role and has only permissions to perform directory synchronization tasks. This special built-in role cannot be granted outside of the Azure AD Connect wizard.

[2018-12-13 00:32] femsulu commented on #20565
@mrdfuse Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-13 00:33] cherylmc commented on #20595
OK. All set! #please-close

[2018-12-13 00:35] #20595 closed

[2018-12-13 00:39] rolyon commented on #16550
Hi @timoschwarte
I asked the team about this and they do not have any updates to the role description or text. The Key Vault Contributor role does not have access to a key vault by default, but can manage access to the key vault.

[2018-12-13 00:39] femsulu commented on #20546
@chwilfing Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-13 00:44] SaurabhSharma-MSFT commented on #20564
@CodyRaffy I am not getting any error while uploading the TrustFrameworkBase config file.  I think you may have missed to follow the step of creating the signing key as documented [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#create-the-signing-key).

[2018-12-13 00:59] SaurabhSharma-MSFT commented on #10028
@wiemerr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 00:59] #10028 closed

[2018-12-13 00:59] SaurabhSharma-MSFT commented on #10123
@WayneYangsa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 00:59] #10123 closed

[2018-12-13 00:59] SaurabhSharma-MSFT commented on #15255
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 00:59] #15255 closed

[2018-12-13 01:00] SaurabhSharma-MSFT commented on #17875
@JazzyWagdaddy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:00] #17875 closed

[2018-12-13 01:00] SaurabhSharma-MSFT commented on #18902
@EM1L We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:00] #18902 closed

[2018-12-13 01:01] SaurabhSharma-MSFT commented on #18924
@lwajswaj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:01] #18924 closed

[2018-12-13 01:01] SaurabhSharma-MSFT commented on #19644
@glecanu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:01] #19644 closed

[2018-12-13 01:03] SaurabhSharma-MSFT commented on #19995
@hanewinckel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:03] #19995 closed

[2018-12-13 01:03] SaurabhSharma-MSFT commented on #20030
@Agazoth We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:03] #20030 closed

[2018-12-13 01:03] SaurabhSharma-MSFT commented on #20405
@dpapkin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:03] #20405 closed

[2018-12-13 01:04] SaurabhSharma-MSFT commented on #20455
@sotnikop We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:04] #20455 closed

[2018-12-13 01:04] SaurabhSharma-MSFT commented on #20540
@adeinde We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 01:04] #20540 closed

[2018-12-13 01:06] kazshi commented on #16928
@mike-urnun-msft Looks like the button is no longer available as @catcher-in-the-try mentioned. Please update the content since it's confusing.  Thanks.

[2018-12-13 01:18] xujing-ms commented on #19969
can I ask what you mean by BYOS disk? do you mean using the AHB or are you referring to BYOL images for SUSE/SQL etc?

Thanks,
Jing

[2018-12-13 01:19] SaurabhSharma-MSFT commented on #20585
@rbrayb Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-13 01:21] SaurabhSharma-MSFT commented on #20584
@nickgailloux Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-13 01:44] amanarneja commented on #20601
@SogoGolf  - Glad to know that you liked the feature and the documentation! I am sure the team and @ggailey777 would be excited to hear about its positive reception :)

[2018-12-13 01:44] #20601 closed

[2018-12-13 01:45] xujing-ms commented on #19969
We are checking the billing tag of the new OS Disk and the VM will be charged at the new billing tag

[2018-12-13 01:51] imeya commented on #20545
thanks.

[2018-12-13 02:37] faister commented on #20523
Thanks. All good now. Sorry my bad, in my module.json I pointed to "amd64": "./Dockerfile.amd64" which is for the Python IoT module sample. The docs is right such that it points to "amd64": "./Dockerfile. Should have been more careful to read the steps. Cheers

[2018-12-13 02:52] jason-j-MSFT commented on #20295
@JYOTHIRMAISURI could you take a look?

[2018-12-13 03:58] mike-urnun-msft commented on #20342
@gwalters69 Just following up to see if you had any additional details that you're able to share for us to repro the issue you saw, otherwise, we'll proceed to close this issue.

[2018-12-13 03:59] #20166 closed

[2018-12-13 04:02] AshokPeddakotla-MSFT commented on #20576
@vilcek Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-13 04:10] AshokPeddakotla-MSFT commented on #20586
@elizabethhalper Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-13 04:15] SnehaGunda commented on #19694
We will now close this issue. If you have further questions, feel free to reach us. Thanks!

#please-close

[2018-12-13 04:19] neeleshray commented on #19382
@porterde You can follow these steps to solve this issue.

1. Sign into portal.azure.com with an administrator account in your tenant.
2. Navigate to Azure Active Directory in the left hand side bar > App registrations > Your app.
3. Click Manifest at the top of the pane describing your app.
4. Change the value of the property oauth2AllowImplicitFlow to true. If the property is not present, add it

[2018-12-13 04:19] AshokPeddakotla-MSFT commented on #20526
@timmyreilly We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-13 04:19] #20526 closed

[2018-12-13 04:19] SubhashVasarapu-MSFT commented on #20313
@LJ9999  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-13 04:19] #20313 closed

[2018-12-13 04:32] neeleshray commented on #19195
@wiemerr
Apologies for the late reply.
**Must there be a user object in the directory with permissions granted to the application before the target will see a consent when executing the GET?**
Yes, the user object would be there in the directory when the Invitation email is sent out.

**If so, is this direct link method equivalent to a powershell or graph invitation where the email is suppressed?*

[2018-12-13 04:34] neeleshray commented on #20226
Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-12-13 04:56] ChiragMishra-MSFT commented on #20597
@saulcruz Thanks for the feedback. I am assigning this issue to the content owner to check out.

@nabhishek Can you please have a look at this one ?

[2018-12-13 04:58] neeleshray commented on #19636
@astaykov
Apologies for the late reply.

If an Azure AD global administrator has configured the User can consent to apps accessing company data on their behalf option to false, then only Global Administrator can consent the application.

Members of the _Application Developer_ directory role can consent only to delegated permissions (not application permissions), and only on behalf of themselves (n

[2018-12-13 05:06] anantshankar17 commented on #20219
thanks @NiceMan92 for your patience.
Follow up questions, since you have updated the runtime/sdk I am hoping that your devclustersetup.sh is the latest version,with which you should not be hitting this. This issue in sfctl hasn't yet been fixed, hence we were removing that ".sfctl" folder at the end of the setup, so that users do not hit this issue, which occurs when the first devclustersetup is e

[2018-12-13 05:07] parisesubhash opened #20604 "HTTPS storage scheme is not supporting Hive interactive server in HDInsights 3.6"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-13 05:23] fariazz opened #20605 "Can you add a Node.js or REST API example for this?"
I've been able to follow along on Node.js API all the way until token signing. The way the token is signed is using .NET classes and methods I'm not familiar with. It it nowhere explained what is actually happening and how it could be replicated with other programming languages.

---
#### Dettalji tad-Dokument

⚠ *Teditjax din is-sezzjoni. Hija meħtieġa għal docs.microsoft.com ➟ illinkjat ta' prob

[2018-12-13 05:31] femsulu commented on #20345
adding content owner @v-wimarc for input.

[2018-12-13 05:49] pvrk commented on #20105
@Ayanmullick : I am preparing a word document first. Can you please share your email ID so that I can share? This is not ready to be published in Github yet :-)

[2018-12-13 05:49] AshokPeddakotla-MSFT commented on #20581
@Gorgoras I suggest you post your query on [Azure Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) for better assistance on this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-13 05:49] #20581 closed

[2018-12-13 05:59] nmikuni commented on #18771
I hope there is the similar section for azcopy 8.x

[2018-12-13 06:19] LuciusLan commented on #14124
In the same chapter, where did the $aadClientID and $aadClientSecret variables come from? Declaration of these two variables didn't appeared in the earlier paragraphs so I don't know what value shall I assign to them.

[2018-12-13 06:38] kudlatiger commented on #20148
Yes right. It got resolved after adding the root certificates.

[2018-12-13 06:38] #20148 closed

[2018-12-13 06:49] dpapkin opened #20610 "Step 3 screencap is wrong"
The screen cap rules "allow-web-all and Allow_RDP-all protocol should be TCP, not ANY. This practice is used for AZ100, please correct, thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7294d2f2-a192-92dc-d7a6-6c262817e59d
* Version Independent ID: 5fc3ac6f-d2c7-2964-4bc7-f2d203aeb773
* Content: [Filter network tra

[2018-12-13 06:52] santo2 opened #20611 "ARM template for these steps?"
Hi,
I have been trying to get this done using ARM templates, I seem to be missing some information here. I need to add quite a lot of things to get this done, but I still am missing things. Is there an article on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c26c1996-853e-9a55-5802-8c4095d545b9
* Versi

[2018-12-13 06:59] santo2 commented on #20611
additional comment on the ARM template references: there is no information at all of what a resource definition.
for example: https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/2018-06-01-preview/service/apis/diagnostics

I have no idea what I'm creating when I add this.

[2018-12-13 07:03] dpapkin commented on #20405
@roygara thanks for updating it. Since AZ100 refers to this, the students will be happy. It is live already :)

[2018-12-13 07:04] #19694 closed

[2018-12-13 07:12] GeethalakshmiG commented on #20083
While restoring the VM which has even a SQL server , we treat it as VM only and no licensing is required during the restore of the VM. One clarification to get from customer is if he is looking to backup SQL server alone in an VM using our new feature SQL server protection in Azure Backup. @AnuragMehrotra  is our PM for this feature. No licensing is required during the restoring the VM

[2018-12-13 07:34] ebibibi opened #20613 ""Performing Assessment" persists more than 24 hours."
I set up Office 365 management solution to two environments.

It still shows a message below after three days.
"We're still getting things ready. At most it should take 24 hours to start getting data into the system."

I'm not sure setup is wrong or It just needs more time.
it is very good If confirmation way is documented.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-12-13 07:45] jnsunkersett opened #20616 "Function triggered by a file arriving on SFTP"
This particular example is triggered by a HTTP call - where could I see an example involving SFTP and function triggered by a file arriving SFTP

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create y

[2018-12-13 08:00] swinarko commented on #20579
That's correct, when you join your SSIS IR to a VNet, Azure Batch needs to create network resources in the resource group where you have your VNet, so it can communicate with your IR.

[2018-12-13 08:17] arpitjoshi08 opened #20618 "Working with pb file"
is there any way to put pb file on server side or cloud and process here from there in android app?
according to my need i want to change image rapidly or in every week so not possible to change build every time with new pb file

[2018-12-13 08:20] dcbrown16 opened #20619 "VirtualNetwork tag includes Load Balancer?"
When I try to set a rule denying VirtualNetwork tag traffic, I get the following warning.
"This rule denies traffic from AzureLoadBalancer and may affect virtual machine connectivity. To allow access, add an inbound rule with higher priority to allow AzureLoadBalancer to VirtualNetwork."
Putting aside the slightly weird use case for a second, why would the VirtualNetwork tag contain the Load Balan

[2018-12-13 08:21] dcbrown16 commented on #20619
![image](https://user-images.githubusercontent.com/34466884/49925159-f418f700-fe6c-11e8-960b-fedf56a6332c.png)
a pic for reference

[2018-12-13 08:27] austvik opened #20620 "Workers?"
What about worker roles substitutes?

WebJobs doesn't cut it (without extreme rewrite), and service fabric has stateless services.

I think the table deserves some new rows.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 02a4abb1-48c0-178e-a37e-290034b4dcae
* Version Independent ID: 61da6a8b-fa37-a499-ba79-0dd6b5346

[2018-12-13 08:28] austvik opened #20621 "Scale"
How far do the different alternatives scale for one deployment?

CloudServices can take 10.000 cores per subscription.
What about service fabric (used to advertice with 1000 VMs, which is puny) and app services.

(Yes, I understand you can have lots of deployments, but comparing how many in one still gives value.)

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen

[2018-12-13 08:33] MohitGargMSFT commented on #20558
@jl101 Please note that I tested it and it worked fine for me. When you create failover group, the failover group name fg.database.windows.net will resolve internally to primary server name only. It seems what is happening is when you are trying to connect to server using SSMS by default it tires to connect to Master Database, however the  user you created has not been added as DB user in Master h

[2018-12-13 08:33] ManojReddy-MSFT commented on #20442
@ChrisParrBIE I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-13 08:42] shakthee04 opened #20622 "Issue while creating HDInsight cluster"
1. $clusterVersion = "3.5" should be changed to $clusterVersion = "3.6"
2. By default storage account is created with Secure Transfer enabled so it is not allowing cluster to be created with $clusterVersion = "3.5"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700c253-d5ff-d166-7338-d9238044e210
* Version Independent

[2018-12-13 08:55] KetanChawda-MSFT commented on #20616
@jnsunkersett
See the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-external-file) which states:

Java functions are not supported in runtime 1.x. Please check language and run time support [here](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages#languages-in-runtime-1x-and-2x).

To automate tasks that monitor, create, send, and

[2018-12-13 09:22] dominicbetts commented on #19568
Hi @deomel - glad to hear you got it working :)

[2018-12-13 09:40] dcbrown16 commented on #20083
Thanks @GeethalakshmiG, I think I didn't explain that very well.
This customer is actually looking to use "Create New" in the restore option to make a copy of the VM in another region or network.
Since you say it's treated as "VM only" I believe that means the SQL running on the copy would effectively be unlicensed, right? In other words, no license is required so it won't stop you from doing this

[2018-12-13 09:40] anthonykirby opened #20623 "Doesn't work with recent versions of SASL/OpenSSL"
With a few modifications, the example code builds and runs against recent versions of qpid-proton (tested with 0.26), on a number of platforms including CentOS 7, Alpine, Fedora 26, Fedora 27.  However the current releases of Fedora (28, 29) fail to work (opaque result PN_STATUS_ABORTED).  I've used identical Docker builds, starting with Fedora 26/27/28/29 base images to verify this, and the regre

[2018-12-13 09:44] jakaruna-MSFT commented on #20582
@AceHack We can look at the [release notes](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?toc=%2fcli%2fazure%2ftoc.json&bc=%2fcli%2fazure%2fbreadcrumb%2ftoc.json&view=azure-cli-latest) or [GitHub releases](https://github.com/Azure/azure-cli/releases/latest) for new releases.

If you are using Linux, using package managers will be the good option for easier upgrade.
You can als

[2018-12-13 10:17] JYOTHIRMAISURI commented on #20295
@jason-j-MSFT

Snehith Muvva is the PM owner for this  article. Will work with him and make any required updates. Thanks.

[2018-12-13 10:18] JYOTHIRMAISURI commented on #20295
@snehithm

Hi Snehith, please go through the above details and let me know for any action items on docs front.

Thanks

[2018-12-13 10:19] ChiragMishra-MSFT commented on #20489
@Anmolgan81 I will now go ahead and close this issue. Please feel free to still comment if you want any more clarification.

[2018-12-13 10:19] #20489 closed

[2018-12-13 10:23] jakaruna-MSFT commented on #20577
@AceHack Can you try deleting the service association link with the below command.
`az resource delete --ids /subscriptions/xxxxxxxxx/resourceGroups/rgp-usw-arch-aks-vnet/providers/Microsoft.Network/virtualNetworks/vnet-usw-arch-aks/subnets/aci-linux/providers/Microsoft.ContainerInstance/serviceAssociationLinks/acisal --api-version 2018-07-01`

[2018-12-13 10:36] PramodValavala-MSFT commented on #20298
@vchandm23 Just following up... Were you able to try this out?

[2018-12-13 10:37] AjayKumar-MSFT commented on #20605
@fariazz, Thank you for sharing your feedback on adding Node.js and/or REST API examples, I have assigned the issue to the content author to review further on this request and update the document as appropriate.

[2018-12-13 10:44] astaykov commented on #19636
Thanks for coming back with this. But still there is a contradiction in your last paragraph. From one side "These roles are both very privileged". And from the other side these roles are completely useless when a _User_ setting is applied. Frankly, I don't see the point of having these two roles, if still the Global Administrator has to grant consent when a _User_ setting is changed. And at least

[2018-12-13 10:53] SimonPuckeyAW commented on #12261
thanks for the info @TylerMSFT. As an organisation we have currently moved away from Service Fabric or SF Mesh for our clustering and container orchestration needs as didnt seem like a good fit or quite ready yet. will take a look at the blog though as SF Mesh in principle seems like a very good thing

[2018-12-13 11:05] MrCNeale opened #20624 "AutoUpgradeMinorVersion missing from syntax/example"
The AutoUpgradeMinorVersion property is missing from the syntax/example above.
It is shown on the Windows documentation page, and works the same for Linux.
Please update document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5b8e22-49e6-bba4-d42b-8dd42d469e3b
* Version Independent ID: 017df7fb-0c1d-637e-a204-e60392

[2018-12-13 11:14] neeleshray commented on #20487
You could check the [default permissions](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions) for Members and Guest Users in Azure Active Directory.

[2018-12-13 11:15] mrbullwinkle commented on #14830
Thanks @roozbehid-ic you are correct. We have added a [new section](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-app-map?toc=/azure/azure-monitor/toc.json#set-cloudrolename) to address this as well as adding info on how to set cloud_RoleName for other languages. Thank you for helping us make our docs better!

[2018-12-13 11:15] mrbullwinkle commented on #14830
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-13 11:23] thePmr opened #20625 "Compiled binaries of 1.8.1 version doesn't include SQL Server type files"
Trying to run dt.exe results in:
Critical error: Error loading msvcr100.dll (ErrorCode: 126)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Database migration tool for Azure Cosmos DB](https://docs.microsoft.

[2018-12-13 11:45] SubhashVasarapu-MSFT commented on #20619
@dcbrown16 Thanks for your feedback! We are currently investigating and will update you shortly.

[2018-12-13 11:46] KbLev opened #20626 "Resolve button"
What does the "Resolve" button do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae-f921-3ce34965bba2
* Content: [Risky sign-ins report in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-mo

[2018-12-13 11:55] darran1971 commented on #19950
Hi @raunakpandya ,

Now that the backup restore service is operational, I have tried to create a backup policy as follows:
[code]

However, when calling the Invoke-WebRequest I get a (401) unauthorized error:
![image](https://user-images.githubusercontent.com/40686134/49937029-72a58100-fecd-11e8-8710-82dcd913ab37.png)

This happens with the other backup API methods as well. I have run powershell a

[2018-12-13 11:55] SubhashVasarapu-MSFT commented on #20610
@dpapkin Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-13 12:04] nansravn commented on #16485
@Blackmist The code above worked well, thanks a lot for your contribution! I've made a production deployment of a TensorFlow Object Detection model using the same logic of the above code.

In the future I'll update my code, when this feature leaves the azureml.contrib namespace.

[2018-12-13 12:04] neeleshray commented on #19685
@AussieDavo
Apologies for the late reply. As of today we do not have a specific ETA on this. We would keep the document updated on any progress.

[2018-12-13 12:04] #16485 closed

[2018-12-13 12:06] MSSedusch commented on #20571
I am looking into it

[2018-12-13 12:07] AjayKumar-MSFT commented on #20620
@austvik, Thank you for your feedback on adding more comparison items (features) in the document table ‘Feature Comparison’. Just for clarification and to understand the ask better, for Cloud Service Worker role (It’s an instance which does not use IIS, and runs your app standalone) substitute – Based on the requirement the potential substitute for this could be; hosting a Website on an Azure VM o

[2018-12-13 12:36] neeleshray commented on #20281
In many ways Identity Protection helps more than Conditional Access. Such as for [MFA](https://docs.microsoft.com/en-in/azure/active-directory/identity-protection/howto-mfa-policy#how-do-i-access-the-mfa-registration-policy) - You can visualise the number of users registered for MFA in the Summary. You can also enforce the registration of MFA for the users. As for [Sign-In Risk](https://docs.micro

[2018-12-13 12:44] ManojReddy-MSFT commented on #20626
@KbLev **Resolve** - If after investigating a risk event, you took an appropriate remediation action outside Identity Protection, and you believe that the risk event should be considered closed, mark the event as Resolved. Resolved events will set the risk event’s status to Closed and the risk event will no longer contribute to user risk.

This is documented [here](https://docs.microsoft.com/en-us

[2018-12-13 12:54] sergaz-msft commented on #20350
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-13 12:54] #20350 closed

[2018-12-13 12:56] sergaz-msft commented on #20200
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-13 12:56] #20200 closed

[2018-12-13 13:00] ChrisParrBIE commented on #20442
That's great thanks. I was actually trying to find a way to get the information from "Enterprise Applications - App Name - User and Groups" list via PowerShell, but no joy there yet.

[2018-12-13 13:04] nsrinivasan80 opened #20627 "Your Procedure does NOT work!"
Your procedure does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03baf2ce-f7d1-77bc-3f7c-e091c0c2435e
* Version Independent ID: 0710bc19-a404-ebf9-1adc-42de64ef8013
* Content: [Prepare the DPM server to back up workloads to Azure](https://docs.microsoft.com/en-us/azure/backup/backup-azure-dpm-introduction)

[2018-12-13 13:08] angoyal-msft commented on #20542
Hi @Anmolgan81 can you please open a new issue on the respective doc or if the issue\question is not related with a document, leverage [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted&filter=alltypes&sort=lastpostdesc) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-sql-database) community support?

Let us know if your initial question was answe

[2018-12-13 13:09] urjitgokhale opened #20628 "How to find out which admin provided client credential grant."
A tenant may have multiple admins, and any of them could have provided client credential grant at /adminconcent endpoint. How could the client find out which admin (his email id) provided the grant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073-cca2f6166d67
* Version Independent ID: 215511e6-65

[2018-12-13 13:10] ManojReddy-MSFT commented on #20442
So you want a list of all the users and groups assigned to the application, right ?

This is possible with this command "Get-AzureADServiceAppRoleAssignment -ObjectId XXXXXX-834e-4555-b194-4296c978cfb3"

The Object ID is the object ID you see in the properties of Enterprise Application and not Application ID.

Sample Output:
ObjectId                                    ResourceDisplayName Principal

[2018-12-13 13:10] sergaz-msft commented on #20625
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-13 13:14] sergaz-msft commented on #20625
Hello @thePmr can you please make sure that you followed the [Prerequisites](https://docs.microsoft.com/en-us/azure/cosmos-db/import-data#Prerequisites)?

![image](https://user-images.githubusercontent.com/22173500/49940933-ff097100-fed8-11e8-8d3b-8b6beefa8d77.png)

[2018-12-13 13:14] bwren commented on #18994
#please-close

[2018-12-13 13:22] thePmr commented on #20625
Yeah, except that I'm doing it locally, for CosmosDB emulator.

P.s.
I've cloned source code and compiled it locally - everything worked as expected, no error occurred.

[2018-12-13 13:39] AshokPeddakotla-MSFT commented on #20622
@shakthee04 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-13 13:41] wesmc7777 commented on #20548
@qusp66 corrected this as well.  Thanks again for mentioning this, and sorry for the confusion.

[2018-12-13 13:41] kung-foo opened #20631 "RESTful API for retrieving application ID"
How should I fetch the application ID if I am not using the portal or powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5-0a3c-10e3-839d44922d2e
* Content: [Azure Data Factory service identity](https://docs.microsoft.com/en-us/azure/dat

[2018-12-13 13:43] kung-foo commented on #20631
The portal appears to use:
`https://s2.datafactory.ext.azure.com/api/ManagedServiceIdentity/GetManagedServiceIdentity?subscriptionId=xxx&factory=xxx&servicePrincipalId=xxxx&region=xxx` but  I can't find any reference/documentation for this.

[2018-12-13 13:45] hjpark914 commented on #10441
Hi. I think I solved it. I will summarize tomorrow

[2018-12-13 13:55] cr-gstirling opened #20634 "General Availability?"
Hi,
Is there any insight into when this feature will be GA yet?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e17c54-1231-159f-612a-e4e8f07786c1
* Version Independent ID: d0417838-7342-dcd2-a59d-9444be67711f
* Content: [Back up Azure Files FAQ](https://docs.microsoft.com/en-us/azure/backup/backup-azure-file

[2018-12-13 14:11] WebedMJ opened #20635 "Using SelectUniqueValue with cn"
I'm configuring the Workday to Active Directory User Provisioning and have been trying to use SelectUniqueValue to get a unique cn.  Using something like this:

SelectUniqueValue(
    NormalizeDiacritics([LegalNameData]),
    NormalizeDiacritics([PreferredNameData]),
    [WorkerID]
)

But when using cn as the target attribute it seems to error if more than one source attribute is referenced in the

[2018-12-13 14:15] colinrippeyfinarne commented on #20547
Okay...but the point of this section of the docs is that the viral tenant has only just been created and the next set of steps is to take over as the admin of the tenant - so If I need to be a global tenant admin *before* I can takeover the tenant, how do I do that?

[2018-12-13 14:19] LeeMullallyABB commented on #19568
Hi i have followed the instructions however i am now receiving a connect ETIMEDOUT message

[2018-12-13 14:20] tstahnke2 opened #20636 "Update for new SQL Auditing features"
When will we see updates in Azure Powershell for the new auditing features (event hub, log analytics)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b04aa16-df40-3619-46da-6aea289c0861
* Version Independent ID: ddc5cf76-96cd-9ea5-c219-4cb6894ad202
* Content: [PowerShell example-auditing-threat detection-Azure SQL Dat

[2018-12-13 14:22] wasytb opened #20637 "Instructions are not accurate"
Both cases: Powershell and Azure Cli. At the time we are creating the assignments , parameters are not passed so lines failed. Please complete the instructions with fictional but instructive scope as well as the switch parameters (with an example). It took me some time to finally complete the lines with the corresponding help of the cmdlet (PowerShell) and command (azure cli).

---
#### Document D

[2018-12-13 14:32] mganeshphani opened #20639 "Network watcher packet capture creation action isnt honoring Network Contributor role"
Creation of packet capture is demanding for a role that has following operation allowed
-	Microsoft.Network/networkWatchers/packetCaptures/write

While the Network Contributor has following superset action permitted for any user assigned with this role
Microsoft.Network/*

but still looks like a Network Contributor is not able to create a packet capture claiming he doesn't have access to do this o

[2018-12-13 14:32] isamllr opened #20640 "Please list import settings for migration of the Valcano example data as part of the tutorial"
Could you please share a screenshot of the import settings in the Migration tool or copy an example command line for dt.exe as part of the tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tut

[2018-12-13 14:35] colinrippeyfinarne commented on #20547
Hi @MarileeTurscak-MSFT

Let me go through the steps I have followed.

1. From a tenant I own (let's call that mytenantalreadyonazuread) I have sent an Azure B2B Guest invitation to some.one@smallcompanynotonazureadyet.com
2. The some.one@smallcompanynotonazureadyet.com user checks their email inbox and sees the guest invitation email, they go through the steps to accept the guest invitation (and

[2018-12-13 14:35] isamllr opened #20641 "Connector limits"
Are there any known limits for the connector in terms of throughput/database size? Is data live? How often does it get refreshed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cos

[2018-12-13 14:42] bilalAchahbar commented on #13787
@aliabbasmanager  Do you already have a solution for this ? I am searching this ATM and can't find a way to do this!!!

[2018-12-13 14:44] isamllr commented on #20641
Link to https://docs.microsoft.com/en-us/connectors/documentdb/

[2018-12-13 14:44] DCtheGeek commented on #20637
@wasytb Thanks for the feedback! What does your **listOfAllowedLocations** value look like for PowerShell? I do see that the Azure CLI step doesn't use the `--params` parameter.  The `-PolicyParameter` (PowerShell) and `--params` (Azure CLI) parameters take a JSON object. You can see how to structure the JSON in Example 3 on the [New-AzureRmPolicyAssignment](https://docs.microsoft.com/en-us/powers

[2018-12-13 14:46] DdenBraver commented on #16702
@Adam-Smith-MSFT I understand that we can GET and POST this into the Security Center REST endpoint.
But it would make more sense to also add this to the REST endpoint for StorageAccounts, just like the way this is setup for SQL.

Will this functionality be added in a later version?

[2018-12-13 14:46] kantipenko commented on #19277
@Adam Any update on  "downloadable white paper", referenced here?

[2018-12-13 14:53] gkevinb commented on #14316
Hi!

I am following @CharlesZHENG solution, but I am stuck at this point.

![untitled picture](https://user-images.githubusercontent.com/22860656/49946394-31be6400-feef-11e8-804c-c1156ea8e54e.png)

Any help would be appreciated:)

[2018-12-13 14:58] bearrito opened #20642 "Management Options"
What are the management options for Cosmos?
Are there per-lanaguage management libraries or only the REST API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1555e87b-459c-1f2b-1591-46730e141189
* Version Independent ID: d48e5b51-745c-8ee2-e3e1-ccca4c5426b4
* Content: [Learn how to manage database accounts in Azure Cos

[2018-12-13 15:19] LuisGonzalezLT commented on #13693
Coming back to revisit this after a long hiatus. Sorry for the delay.
sys.dm_operation_status isn't what I need.
What I am specifically looking for is a version of:
SELECT * FROM sys.dm_geo_replication_link_status
that reports on the read scale-out replica, not the geo-replica, so I can see what the lag time is of the read scale-out replica.
sys.dm_geo_replication_link_status only reports on geo-r

[2018-12-13 15:23] sergaz-msft commented on #20436
@xiaocongfu since this is an issue on the SDK can you open an issue here: https://github.com/azure/iotedge/issues

Thank you!

[2018-12-13 15:26] zowers opened #20644 "Blob storage lifecycle vs rehydrating"
Suppose I have lifecycle policy to archive blobs which have actions.baseBlob.tierToArchive.daysAfterModificationGreaterThan&gt;1, so that all blobs with modified not later than yesterday are sent to Archive access tier.

I then want to rehydrate some blobs back to Hot storage, to do that I do set-tier --tier Hot.

set-tier does not change modification time.

The blobs get "rehydrationStatus": "reh

[2018-12-13 15:29] SteveHernou opened #20645 "Ignore button"
If in case of an anonymous IP sign-on, I choose the ignore button, will it only ignore future events from that IP for that specific user or will it ignore any future event for the IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae

[2018-12-13 15:35] isamllr opened #20646 "What are the limits of the Funnel?"
Citing the Sampling section: "If your application sends a lot of data" - could you please define "a lot"? What is the recommendation in terms of amount of data, what are the limits? Thank you:)

What are the limits in terms of throughput? Does https://dev.applicationinsights.io/documentation/Authorization/Rate-limits apply here as well?

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-12-13 15:39] photomoose commented on #18497
I'm also getting this problem. I have confirmed that the certificates I have in `tls-secret-prod` are indeed the real certificates for my domain, and confirmed that my ingress is using the correct hostname and secret. Yet I am still being served the "Kubernetes Ingress Controller Fake Certificate", which I don't know where it comes from as I have no `tls-secret-staging` or `tls-secret` secret.

[2018-12-13 15:41] SumanthMarigowda-MSFT commented on #20627
@nsrinivasan80 Can you bit elaborate more on the issue? May I know in which steps are you facing issue
Let's us know if you are getting  any error message or error code?

[2018-12-13 16:05] RomanNG opened #20649 "little error : .ldf instead of .mdf for log file"
Hi,
at the beginning of the article, it's written "copy the ADSync.mdf and ADSync_log.mdf " ==&gt; it should be ADSync_Log.ldf and not ADSync_log.mdf ;-)
kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e6e33d-deb6-268d-9e4d-cefe45ba82ca
* Version Independent ID: 5238537b-7b91-ba1b-28f7-aad7882bf14e
* Cont

[2018-12-13 16:12] Anmolgan81 opened #20650 "How can we provide different file share paths to DMS when doing online migration?"
I have different folders for full backup and log backups, how can I provide both the options in DMS for full and transactional log backups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afb8afa1-01dc-ee5d-3af9-19a0f6fc45c6
* Version Independent ID: ae51795c-92de-a13a-4181-34d1942f3d45
* Content: [Tutorial: Use the Azu

[2018-12-13 16:12] SumanthMarigowda-MSFT commented on #20545
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-13 16:12] #20545 closed

[2018-12-13 16:18] dpetrizze commented on #20600
I was able to solve this by reviewing the script behind RegisterWithAzure.psm1 and issuing the following:

Invoke-Command -Session $session -ScriptBlock { Remove-AzureStackActivation }

[2018-12-13 16:28] henriquebrisola opened #20651 "Does not work - authentication issue"
Error says that the service principal does not have access to my WebApp, however I have added it to the IAM with owner permissions.

Erro text below:
{"error":{"code":"AuthenticationFailed","message":"The Azure AD object '<object-ID>' does not have permissions to perform action 'Microsoft.Insights/Metrics/write' over scope '/subscriptions/<sub-ID>/resourceGroups/testetokio/providers/Microsoft.Web/

[2018-12-13 16:32] pochiraju commented on #20650
Currently we don't support the backup files in multiple folders, all backup files must reside on a single folder.  We are planning to support your scenario in future releases.

[2018-12-13 16:42] AkshathaSP commented on #19686
Azure Scheduler is retiring soon as per the documentation: https://docs.microsoft.com/en-us/azure/scheduler/scheduler-get-started-portal . And LogicApps is not feasible for current requirements.
For now, I will be optimizing the code to reduce its execution time and implement retry logic to handle any internal exceptions.
Thank you for all the leads.

[2018-12-13 16:48] JasonWHowell commented on #20402
@KeiroKamioka0000 Thanks for the feedback. I would like to improve the docs to talk about the start job options. I don't think I can do that justice in the Quickstart itself, because the space there is intended to be a start-to-finish exercise, but was thinking about another small article to cover the Start Job nuances in more detail.

Good suggestion, and we'll work on it soon. I'll close the iss

[2018-12-13 16:49] JasonWHowell commented on #20402
#please-close

[2018-12-13 16:50] mrbullwinkle commented on #20646
The decision of whether to turn on sampling or what constitutes "a lot of data" is going to vary depending on your individual use case and requirements. A small company's definition of "a lot of data" is going to be very different from a large fortune 500 company's definition so unfortunately there really isn't a one size fits all definition/solution. Though I agree "a lot" is an extremely vague a

[2018-12-13 16:51] MarileeTurscak-MSFT commented on #20600
@dpetrizze glad you were able to resolve this!

[2018-12-13 16:51] #20600 closed

[2018-12-13 16:52] MarileeTurscak-MSFT commented on #20628
@urjitgokhale
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-13 16:57] SumanthMarigowda-MSFT commented on #20634
@cr-gstirling Thanks for your question. We are checking on this and will respond to you soon.

[2018-12-13 17:06] gwalters69 commented on #20342
I keep "Authorizing" and "stay logged in" to my Twitter account.

I even made a different twitter account without 2 factor authentication, and I still see the same problems.
[cid:0f564e18-db00-48d2-b073-43072d493e5e]

Each of the "gwalters69 (twitter-x)" ... is another time I am authorizing logic apps to have permissions to talk to my twitter account.

Definitely getting tired of this.

Happy to d

[2018-12-13 17:14] curtand commented on #17748
Hi @bdcoder2
I made the update and it will be live today 11 am 12/13/2018. Thanks for your contribution!

@TravisCragg-MSFT
#please-close

[2018-12-13 17:21] DiegoRamirez-MSFT commented on #20624
hello @MrCNeale

thanks for bringing this to our attention, will get the document updated

best

[2018-12-13 17:31] jason-j-MSFT commented on #20604
@parisesubhash thanks for the feedback.  The best places for non-documentation related feedback or questions are the Azure feedback portal and the forums:
https://feedback.azure.com/forums/217335-hdinsight
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hdinsight

[2018-12-13 17:31] #20604 closed

[2018-12-13 17:36] mavinm commented on #20196
Yes. I get 500 server error with no further details.

[2018-12-13 17:40] Anmolgan81 commented on #20650
For azure managed instance online migration, do we need to provide full backups and log backups, or does the DMS takes full and log backups as appropriate?

[2018-12-13 17:40] #14830 closed

[2018-12-13 17:41] MarileeTurscak-MSFT commented on #20645
@SteveHernou
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-13 17:48] MarileeTurscak-MSFT commented on #20649
@RomanNG thanks for catching this! I've created a pull request with the fix for review by @billmath
https://github.com/MicrosoftDocs/azure-docs-pr/pull/60816

[2018-12-13 17:48] MarileeTurscak-MSFT commented on #20649
We will now proceed to close this thread. The change usually goes live in 24 hours.

[2018-12-13 17:48] #20649 closed

[2018-12-13 17:50] MarileeTurscak-MSFT commented on #20635
@WebedMJ
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-13 17:54] henriquebrisola commented on #20196
@mavinm I've got authentication failed

[2018-12-13 17:57] MohitGargMSFT commented on #20569
@Nilis312 We will now proceed to close this thread. Please let us know if need any more information in this regard.

[2018-12-13 17:57] nacharya1 commented on #20324
@kumaranpravin, we do not expose these details today, we are working on providing more insight to preprocessing. We plan to share more details in the new year.

[2018-12-13 17:59] MohitGargMSFT commented on #20237
@zippy1981 As stated above please provide the new MSDN thread URL created and I will make sure that your issue is appropriately address in forum. Thanks.

[2018-12-13 17:59] mike-urnun-msft commented on #20611
Hi @santo2

Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-13 18:00] MohitGargMSFT commented on #19593
@mangeshparanjape Please update on above else we will move ahead and close this thread. Thanks.

[2018-12-13 18:04] krazineurons opened #20652 "Powershell for Deploying Install the ServiceMap and InfrastructureInsights solutions is wrong"
Running azure-cli (2.0.52) on my client.
There are two issues, the command to run is
New-AzureRmResourceGroupDeployment -Name DeploySolutions -TemplateFile InstallSolutionsForVMInsights.json -ResourceGroupName ResourceGroupName&gt; -WorkspaceName &lt;WorkspaceName&gt; -WorkspaceLocation &lt;WorkspaceLocation - example: eastus&gt;

a) -WorkspaceName and -WorkspaceLocation do not exist as valid para

[2018-12-13 18:09] anirudhcavale commented on #20651
@henriquebrisola can you verify for me that your service principal has "Monitoring Metrics Publisher" role permissions? The Owner role of a resource doesn't automatically carry this permission. So it must also be explicitly added to the metric publisher role.

[2018-12-13 18:09] anirudhcavale commented on #20196
@henriquebrisola I posted this on another thread, but can you verify for me that your service principal has "Monitoring Metrics Publisher" role permissions? The Owner role of a resource doesn't automatically carry this permission. So it must also have metric publisher perms.

[2018-12-13 18:10] anirudhcavale commented on #20196
@mavinm can you share a few details about the call you are making? In which region? For what resource type?

[2018-12-13 18:17] Alberto-Vega-MSFT commented on #20640
@isamllr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-13 18:20] kobulloc-MSFT commented on #20646
@isamllr Thank you for reaching out to us!

[2018-12-13 18:21] scheng924 opened #20653 "Sandbox URL update & relay state"
I believe Coupa has updated their sandbox URL from devsso35 to ssostg1.coupahost.com

As well.. for customers that have multiple non-production environments, say dev/sandbox, it looks like a relay state has to be set and they would all use ssostg1.coupahost.com as entity ID.. but they are treated as different apps with conflicting entity ID.. how would that work?

---
#### Document Details

⚠ *Do

[2018-12-13 18:33] BryanTrach-MSFT commented on #20621
@austvik Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-13 18:38] AjayKumar-MSFT commented on #19686
@AkshathaSP, Yes, Azure Scheduler is retiring, and Azure Logic Apps would be replacing it. Since you have mentioned that Logic Apps does not fit your requirement or scenario, please do optimize the code as highlighted and see how that goes. If you need further assistance on this issue as mentioned in my previous post, do send an email we would be more than happy to assist you further on this matte

[2018-12-13 18:39] Grace-MacJones-MSFT commented on #20534
@vishwanath-uppala can you share a screen shot of what you are seeing?

[2018-12-13 18:39] henriquebrisola commented on #20196
@anirudhcavale I was about to say that, I did not notice that some steps are different. I think that is not clear when it says to follow the steps from another link and then change for this one, like setting any URL for the app registration, its confusing why this options is required.

[2018-12-13 18:40] henriquebrisola commented on #20651
thanks, that worked!

[2018-12-13 18:40] SumanthMarigowda-MSFT commented on #20634
@cr-gstirling We do not have any ETA to share on this yet now, However you can keep a track on Azure updates: https://azure.microsoft.com/en-us/updates/

I have assigned this query to the content author for more information.

[2018-12-13 18:41] jl101 commented on #20558
Mohit,
[cid:image002.png@01D492E1.13C9B4B0]

[cid:image006.png@01D492E1.13C9B4B0]

Gives me:
[cid:image007.png@01D492E0.5FD744E0]

On the other hand hitting the primary server name:
[cid:image008.png@01D492E0.806E0310]
[cid:image009.png@01D492E0.9A2606E0]
Gives me:
[cid:image010.png@01D492E0.B1B53740]

Just be clear in the failover group contents, the primary server is there as shown in the follow

[2018-12-13 18:42] YutongTie-MSFT commented on #20346
@AlverezYari Hi, for your question I would assign the author for help.

@aashishb  Hi, can you please help? Thanks a lot!

[2018-12-13 18:55] AjayKumar-MSFT commented on #19393
@brendanarnold, Apologies for the delay here, could you send an email to AzCommunity at Microsoft dot com with the below details, we would like to work closer with you on this matter.
This GitHub URL:
Subscription ID:

[2018-12-13 18:58] MarileeTurscak-MSFT commented on #20628
We will proceed to close this thread. If this did not fully answer your question feel free to leave a comment and I will continue the conversation.

[2018-12-13 18:58] #20628 closed

[2018-12-13 19:00] SaurabhSharma-MSFT commented on #20618
@arpitjoshi08 Could you provide us with the link to the document you are referring to ?

[2018-12-13 19:02] Alberto-Vega-MSFT commented on #20641
@isamllr  Thanks for the feedback! I believe that link you provided refers to connectors for Microsoft Flow, PowerApps and Logic Apps. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-13 19:03] Adam-Smith-MSFT commented on #20644
@zowers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-13 19:03] walsehgal commented on #20174
Hi @jimborogers, the S0 clients receive a 403 response when usage limit is exceeded. You can have a look here (https://docs.microsoft.com/rest/api/maps/search/getsearchfuzzy#response) to see all the response types.

[2018-12-13 19:03] MarkusVi commented on #20281
Hi @xNiklasJern, these are all conditional access policies. So, from a technical point of view, there is no difference. If you want to configure a conditional access policy with a sign-in condition in the CA portal, you need to enable IP…
At this point, you can only configure a policy with a user risk condition in Identity Protection.
There is no parity yet.

The benefit of configuring all policie

[2018-12-13 19:04] SaurabhSharma-MSFT commented on #20460
@alexverboon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 19:04] #20460 closed

[2018-12-13 19:05] SaurabhSharma-MSFT commented on #20466
@mithrandir1589 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 19:05] #20466 closed

[2018-12-13 19:05] SaurabhSharma-MSFT commented on #20468
@fmaldonados We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-13 19:05] #20468 closed

[2018-12-13 19:10] Alberto-Vega-MSFT commented on #20636
@tstahnke2 Thanks for your feedback! Are you talking about this? https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing#subheading-7

[2018-12-13 19:10] #19252 closed

[2018-12-13 19:10] SaurabhSharma-MSFT commented on #20476
@gsaravanan20 I mean which Microsoft documentation you are referring to as this platform is for any Microsoft documentation issues.

[2018-12-13 19:13] tstahnke2 commented on #20636
Yes, exactly! Those are the cmdlets I was referring to. Thanks!

[2018-12-13 19:13] Alberto-Vega-MSFT commented on #20642
@bearrito Thanks for your feedback. Please read this document you can find links to the available SDKs for different languages: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet  and this doc has the API Reference https://docs.microsoft.com/en-us/rest/api/cosmos-db/

[2018-12-13 19:16] SaurabhSharma-MSFT commented on #20497
@Anmolgan81 Yes, it supports both 2008 and 2008 R2.  Please refer to [Migrate SQL Server to Azure SQL Database Managed Instance](https://datamigration.microsoft.com/scenario/sql-to-azuresqldbmi) for supported versions and prerequisites.

[2018-12-13 19:20] JasonFreeberg commented on #20519
Tracked here as well:
https://github.com/Microsoft/azure-maven-plugins/issues/358
https://github.com/Microsoft/azure-maven-plugins/issues/382

[2018-12-13 19:34] trevorbye commented on #20426
@dazzler11 can you verify your environment specifics, sdk version, and can you also post your full stack trace? Thank you

[2018-12-13 19:34] YutongTie-MSFT commented on #20477
@elizabethhalper Hi, you need to do it in the conda environment, it works for me well. Can you please try it again? Thanks.

[2018-12-13 19:36] sethmanheim commented on #20220
#please-close

[2018-12-13 19:39] iLoreto opened #20655 "4 parameters to set not 3"
The instructions say the first 3 lines, however the subscription id also needs to be added to the sample script to that enables lad3.  It's also unclear if the additional steps to lock down the configuration in private and public files are optional or required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-15

[2018-12-13 19:42] SaurabhSharma-MSFT commented on #20539
@agrabhi Azure AD B2C's trust framework internally attempts to obtain a token for the IdentityExperienceFramework app (Web API) using the ProxyIdentityExperienceFramework app (Native app) during the sign in process.  You do not need to specify a secret for the client application (ProxyIdentityExperienceFramework) as it is registered as a Native application. The TokenSigningContainer key you have c

[2018-12-13 19:46] SaurabhSharma-MSFT commented on #20547
@colinrippeyfinarne Ok, I get your point and I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand  Can you please help here.

[2018-12-13 19:55] curtand commented on #20610
HI @dpapkin
This update will be published by 4 PM today 12/13/2018.

@SubhashVasarapu-MSFT
#please-close

[2018-12-13 19:56] gsaravanan20 commented on #20476
I mean cosmos db documents inside the collection

![image](https://user-images.githubusercontent.com/3595727/49963887-cd93a400-fede-11e8-822f-2c18ca259c14.png)

[2018-12-13 20:01] YutongTie-MSFT commented on #20437
@aashishb Hi, can you please make it clearer about what the type is "new-image" in the document? Thanks a lot!

[2018-12-13 20:06] Ayanmullick commented on #20105
@pvrk , my email is on my profile.

[2018-12-13 20:11] mavinm commented on #20196
Sure, using the exact example you provide on the page gives 500 error.
`curl -X POST https://westus2.monitoring.azure.com/subscriptions/SUBSCRIPTION_ID/resourceGroups/playground/providers/Microsoft.StreamAnalytics/streamingjobs/myTestJob -H "Content-Type: application/json" -H "Authorization: Bearer MY_AUTH_TOKEN" -d @custommetric.json`

It also fails on several other resources with the same messag

[2018-12-13 20:11] femsulu commented on #20613
@ebibibi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-13 20:11] #20636 closed

[2018-12-13 20:15] anirudhcavale commented on #20196
@mavinm you are missing a '/metrics' at the end of your post URL:
https://westus2.monitoring.azure.com/subscriptions/SUBSCRIPTION_ID/resourceGroups/playground/providers/Microsoft.StreamAnalytics/streamingjobs/myTestJob**/metrics**

[2018-12-13 20:15] SaurabhSharma-MSFT commented on #20653
@scheng924 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-13 20:17] SaurabhSharma-MSFT commented on #20476
@gsaravanan20 Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-12-13 20:22] femsulu commented on #20652
@krazineurons Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-13 20:34] rolyon commented on #16550
Hi @timoschwarte
Thanks for the feedback. If you have additional feedback, please re-open this issue.

[2018-12-13 20:35] cvasquez123 opened #20656 "Azure Active Directory tutorial"
Does Microsoft have a tutorial for Azure Active Directory Authentication for authorization? I can't find any in the azure active directory documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1a08b2-74d4-6350-70c5-6661ef4f7ad1
* Version Independent ID: 52059965-3709-2520-0ed0-82c22648fea2
* Content: [Authenticat

[2018-12-13 20:35] rolyon commented on #16550
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-12-13 20:37] #16550 closed

[2018-12-13 20:38] MikeDodaro commented on #20576
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/60861  Please review @vilcek

[2018-12-13 20:42] #20651 closed

[2018-12-13 20:49] normesta commented on #20522
Thank you for the feedback. I've updated the doc.

[2018-12-13 21:04] SnehaGunda commented on #20625
@thePmr thanks for sharing your feedback, just tested, the data migration tool works fine for me on the local machine. There aren't any know issues with using it with the emulator, I see you are unblocked now. But in case you still want to use it with the emulator but seeing issues, can you please send an email to askcosmosdb@microsoft.com alias, a border audience can see the issue and help you de

[2018-12-13 21:06] larryms opened #20657 "'az appservice web show' no longer is valid"
Script needs to be updated to use new syntax:
'az webapp show'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a872596-2577-7fb4-dbaa-3fc0dca508e9
* Version Independent ID: 64314a53-aceb-609e-4d15-f6ef929b6d89
* Content: [Azure CLI script sample - Route traffic for high availability of applications](https://docs.micros

[2018-12-13 21:09] DeanCefola opened #20658 "Ports need to be more specific per scenario"
opening ports to allow Azure Backup to function is critical to the user experience So we need to be clearer on the specific port requirements per scenario.
example:

VM with unmanaged disks, storage account not encrypted - port 80
VM with unmanaged disks, storage account encrypted - port 443
VM with Managed disks, - port 8443

this kind of table should be on the troubleshooting page as well as the

[2018-12-13 21:10] DeanCefola opened #20659 "More specific setup steps per scenario"
opening ports to allow Azure Backup to function is critical to the user experience So we need to be clearer on the specific port requirements per scenario.
example:

VM with unmanaged disks, storage account not encrypted - port 80
VM with unmanaged disks, storage account encrypted - port 443
VM with Managed disks, - port 8443

this kind of table should be on the troubleshooting page as well as the

[2018-12-13 21:34] cynthn commented on #10838
@msLinuxNinja thanks for the feedback and sorry it has take so long to respond. We are keeping a single table for now, because the size is small We are working with a designer to rework how we present the information for all the sizes. When we start that redesign we may end up splitting this up or going a completely different direction :)

#please-close

[2018-12-13 21:39] kchewett opened #20662 "Missing vCore SQL DB sizes in documentation"
This article details the information for all vCore SQL DBs:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-single-databases

However, there are a number of vCore SQL DB sizes that are available that are not documented here:
BC_Gen4_3
BC_Gen4_5
BC_Gen4_6
BC_Gen4_7
BC_Gen4_9
BC_Gen4_10
BC_Gen5_6
BC_Gen5_10
BC_Gen5_12
BC_Gen5_14
BC_Gen5_18
GP_Gen4_3
GP_Gen4_5
G

[2018-12-13 21:39] martinstenhoff commented on #20333
@SaurabhSharma-MSFT

Just because Microsoft has built Azure AD Connect incorrectly in the past doesn't mean it's correct.

We noticed that version 1.1.750.0 had unsigned DLLs and raised a ticket with Premier Support to get the Product Group to release a new version with signed DLLs (I believe it was fixed in 1.1.751.0). Then we later also upgraded to version 1.2.65.0 without any issues as the DLLs

[2018-12-13 21:47] mweinand commented on #19305
Would also like this feature for Linux Docker Container deployed app service.

[2018-12-13 21:59] SnehaGunda commented on #20353
@mohsenvafa yes you can create multiple databases for Gremlin and Table API accounts too, I have sent an email to our team to clarify the NA columns in that table will get back to you soon.

[2018-12-13 22:04] scott1138 opened #20664 "Update deployment() return value"
When using the New-AzureRmDeployment command deployment() also returns a location value:
{
    "name": "",
    "location": "",
    "properties": {
        "template": {
            "$schema": "",
            "contentVersion": "",
            "parameters": {},
            "variables": {},
            "resources": [
            ],
            "outputs": {}
        },
        "parameters": {},

[2018-12-13 22:06] MicahMcKittrick-MSFT commented on #20105
Thanks @Ayanmullick. I will close this out as @pvrk can find your email and continue with you offline.

[2018-12-13 22:06] #20105 closed

[2018-12-13 22:07] SnehaGunda commented on #20642
@bearrito there are multiple management options for Cosmos DB, you can use Azure portal, Azure CLI, powerShell, or client SDKs (.Net, Java, Python, JavaScript... not all APIs support all the SDKs) to manage Cosmos DB resources. The doc you commented on shows some ways to manage resources: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account .

[2018-12-13 22:09] diberry commented on #18866
#please-close

[2018-12-13 22:16] jonbeck7 commented on #20573
@MicahMcKittrick-MSFT please reassign to jack kabat

[2018-12-13 22:17] MicahMcKittrick-MSFT commented on #20655
@iLoreto fair feedback. Easy enough to adjust the script. As per the rest, @cynthn could you add this one to look at? I see the listed author is no longer at MSFT but seeing as this is a VM doc I assume it should be listed as you or @zr-msft

[2018-12-13 22:17] jonbeck7 commented on #19981
@MicahMcKittrick-MSFT please assign to @steveesp

[2018-12-13 22:18] jonbeck7 commented on #19980
@MicahMcKittrick-MSFT please assign to Jack Kabat

[2018-12-13 22:19] SnehaGunda commented on #20641
@isamllr there aren't any know limitations in terms of throughput size. The report refresh is not currently available on PowerBI.com when using Cosmos DB as a data source. In order to help us prioritize this feature, you can vote or create a feature request in the uservoice: https://feedback.azure.com/forums/263030-azure-cosmos-db

[2018-12-13 22:19] jonbeck7 commented on #19979
@MicahMcKittrick-MSFT this is by design.  You can review with Jack Kabat who owns N, H and P sizes

[2018-12-13 22:21] jonbeck7 commented on #19979
@MicahMcKittrick-MSFT please assign to @DavidBerg-MSFT

[2018-12-13 22:22] jonbeck7 commented on #19972
@MicahMcKittrick-MSFT please assign to @DavidBerg-MSFT

[2018-12-13 22:23] jonbeck7 commented on #19239
@MicahMcKittrick-MSFT please assign to either Jack Kabat who owns N series or @steveesp who owns networking speeds in the documentation

[2018-12-13 22:26] anonymouse64 opened #20666 "show-connection-string returns JSON, docs don't mention this"
The step in the walkthrough for deploying to a Linux device that returns the connection string does not mention that the result returned is in JSON. For example:

[code]

The string that is supposed to go into `/etc/iotedge/config.yaml` is not the JSON, but rather just `"SOME-SPECIFIC-STRING"` (from my example above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-12-13 22:30] #20637 closed

[2018-12-13 22:31] jonbeck7 commented on #15622
You can find all new VM Sizes that are generally available at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes

Basic A has been moved to "Previous Generation" VM sizes and is located here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen

Lv2 has not yet released generally.   When it does @joelpelley  will update the documentation with all of

[2018-12-13 22:32] #16434 closed

[2018-12-13 22:33] ManuRiver commented on #16434
Content was fixed, now correctly shows un cached  specs. thank you

[2018-12-13 22:33] jonbeck7 commented on #14329
Ev3 does not support premium storage, therefore had different specifications for it's local disk.  You will find it the same on D_v2 vs DS_v2, or D_v3 vs Ds_v3

[2018-12-13 22:36] SaurabhSharma-MSFT commented on #20333
@martinstenhoff Sorry for inconveniences caused to you because of the unsigned dlls.  I am escalating this to product team to look into this and to release a build at the earliest.

[2018-12-13 22:37] MicahMcKittrick-MSFT commented on #16536
@cynthn Christine is not part of this repo. Assigning to you in the meantime

[2018-12-13 22:38] jonbeck7 commented on #14228
@jeffwmiles Kay from our compute team did a pretty good write up on our B series.  Take a look and let me know if it answered your question.

https://www.singhkays.com/blog/understanding-azure-b-series/

[2018-12-13 22:38] MicahMcKittrick-MSFT commented on #19980
@jonbeck7 Jack is not listed in Github. @cynthn assign to you in the meantime.

[2018-12-13 22:39] MicahMcKittrick-MSFT commented on #20573
@jonbeck7 Jack is not listed in Github. @cynthn assign to you in the meantime.

[2018-12-13 22:42] jonbeck7 commented on #13906
@MicahMcKittrick-MSFT please assign to @steveesp who owns Accelerated Networking.

[2018-12-13 22:46] cynthn commented on #20655
@MicahMcKittrick-MSFT nearly everything under /extensions goes to @roiyz-msft. VMs and VMSS goes to me again, as Zach is off working on other shiny new stuff :)

[2018-12-13 22:46] jonbeck7 commented on #13395
Yes we agree with you, we have been discussing releasing a "Naming convention" page that explains not only our historic naming but our new naming strategy.   A quick sneak peak to the answer to your question:
i = isolated node
l = low memory
m = memory intensive
t = tiny memory
r = RDMA
s = Premium Storage capable (some newer sizes are also premium storage capable but missing the 's' like M128, M1

[2018-12-13 22:48] #11319 closed

[2018-12-13 22:50] MicahMcKittrick-MSFT commented on #11178
@cynthn assigning to you as requested by @jonbeck7

[2018-12-13 22:57] MicahMcKittrick-MSFT commented on #19982
Duplicate of #15622

[2018-12-13 22:57] #19982 closed

[2018-12-13 23:00] photomoose commented on #18497
Update: I followed the instructions at https://github.com/jetstack/cert-manager/blob/master/docs/tutorials/quick-start/index.rst and finally managed to get a valid production certificate.

[2018-12-13 23:05] kgremban commented on #19769
@mcurko Have you had a chance to look at these pages to see if they provide the information you're after?

[2018-12-13 23:07] kgremban commented on #19739
@AshokPeddakotla-MSFT Evan and I were able to sync offline about this issue and he was able to resolve it with the steps in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge. Could you #please-close this issue.

[2018-12-13 23:09] kgremban commented on #15092
@chrislangston or @langman66 (I'm not sure which account you prefer) have you had a chance to look at the changes to the article, to see if this issue is resolved or if more information needs to be included?

[2018-12-13 23:11] kgremban commented on #14719
@gauravagarwal28 Have you had a chance to consider my question about whether the language-specific examples in the tutorials and how-to guides were hard to discover? Or do you think this issue is resolved?

[2018-12-13 23:17] rlisnoff commented on #13395
@jonbeck7 That's a great idea, but I have a big concern with what seems to be an implied change to the conventions in your reply. My company consumes these sizes (and tags) to gain some insight into how we can better resize our VMs, and if they are changing we'd really appreciate advanced notice of how they're expected to change.

Either way, thank you for the preview and the upcoming page!

[2018-12-13 23:17] SnehaGunda commented on #20353
@mohsenvafa the default database is only created for Table API accounts, for Gremlin API accounts you have to explicitly create a database. The Cosmos DB entity is named as 'database" similar to SQL and MongoDB account. I updated the doc to fix the issue. see PR below.

[2018-12-13 23:18] SnehaGunda commented on #20353
#please-close

[2018-12-13 23:21] yzheng-msft commented on #17637
@SeaJaredCode to use the cli, update your Azure CLI to the latest from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest
Install the preview extension:  az extension add --name storage-preview
You can then use it to set policy: az storage account management-policy

[2018-12-13 23:37] cherylmc commented on #19733
I'll update the article to show the steps to add in the required values for the network configuration file. Because the virtual network was not previously associated with a local network site or a gateway, it was missing some values that I will call out.

[2018-12-13 23:40] Liath commented on #17523
I was just about to leave the same feedback as this post.

The AzureAD Connect wizard links to this page and should probably point to the link you provided above. Or at least there could be a note on this page pointing to the other page.

[2018-12-13 23:42] MohitGargMSFT commented on #20558
@jl101 I am unable to see any image on above reply. I hope you already tried the option of mentioning Database Name while connecting through SSMS. Please send an email to AzCommunity@microsoft.com  with the screenshots and the error message so that I could further understand the issue and help you accordingly. While sending an email do mention -

Related to GitHub Issue Thread URL: https://github.

[2018-12-13 23:46] MarkusVi commented on #19887
HI @Pickell, thanks for your feedback. I have staged an update for the client apps condition section. You can find more information about this condition [here](https://docs.microsoft.com/azure/active-directory/conditional-access/conditions#client-apps).
Excel Online is a client app and only requires a [supported browser](https://docs.microsoft.com/azure/active-directory/conditional-access/technica

[2018-12-13 23:49] rolyon commented on #20535
Hi @fredericklin
Thanks for the feedback. We added some additional text that discusses this:
https://docs.microsoft.com/en-us/azure/active-directory/governance/active-directory-tou#b2b-guests-preview

[2018-12-13 23:50] rolyon commented on #20535
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-12-13 23:52] rolyon commented on #20325
Hi @DeanGross
Thanks for the feedback. We added some additional text about this:
https://docs.microsoft.com/en-us/azure/active-directory/governance/manage-guest-access-with-access-reviews#prerequisites

[2018-12-13 23:53] rolyon commented on #20325
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-12-13 23:54] vchandm23 commented on #20298
Yes, it worked! Thanks for the help and now I understood the task.json file a bit. To add more I would mention this in azure function docs under Visual Studio Code Python.

Anyways thanks heaps!

[2018-12-13 23:54] #20298 closed

[2018-12-14 00:07] RavennMSFT commented on #18362
Please see the current doc, we updated this yesterday with the info in the https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#alternate-login-id-support-in-hybrid-azure-ad-join

[2018-12-14 00:15] qianw211 commented on #13556
@jfrandol This feedback system is for improving our documentation on Microsoft Docs.  The best way for you to get support is to file a support ticket by the following link:

https://support.microsoft.com/en-us/getsupport?wf=0&tenant=classiccommercial&oaspworkflow=start_1.0.0.0&locale=en-us&supportregion=en-us&pesid=16230&forceorigin=esmc&ccsid=636595105151894820

Hope this helps!

[2018-12-14 00:19] SnehaGunda commented on #19541
@razvansalajan and @Mike-Ubezzi-MSFT sorry about the delay, the emulator is also updated to with min RU limit as 400. I just verified:

![image](https://user-images.githubusercontent.com/14284405/49975435-d0988f80-fef2-11e8-9169-11a38db2dfe5.png)

We will now close this issue, if you have further questions feel free to reopen.

[2018-12-14 00:19] SnehaGunda commented on #19541
#please-close

[2018-12-14 00:46] SnehaGunda commented on #19433
@darthmolen sent an email to Deborah to find if the project is hosted somewhere in Git.

[2018-12-14 00:49] SnehaGunda commented on #19545
@obrien-j very simple check would be to verify in the Azure portal to see if the index is created. I don't know list_indexes/index_information commands are supported. Can you please send an email to azkcosmosdb@microsoft.com alias, a broader audience can look at the issue and respond.

[2018-12-14 00:49] curtand commented on #19326
Hi @cdwchriburg
The answer is there is no preference because the virtual network just gets a single BGP collection of routes.
I'll see if I can make this explicit. in the docs.

[2018-12-14 00:56] cdwchriburg commented on #19326
Ok so there is no BGP local pref set on the routes learned from BGP over a VPN.  There are other parts of the docs where it states that Expressroute Routes are preferred over VPN, but it sounds like this is only the case when not using BGP on the VPN side.  That would follow the rules that BGP routes are preferred over system routes, which is what the VPN routes would show up as.

And only way to

[2018-12-14 00:57] SnehaGunda commented on #19683
@MarcinJuraszek Thanks for pointing out the issue I submitted a fix to the doc.

In future, if you see any such issues feel free to submit a PR by clicking on the edit button on the right-hand corner of the doc. We love to get community contributions :-) Thanks again!

we will close this issue now.

[2018-12-14 00:57] SnehaGunda commented on #19683
#please-close

[2018-12-14 01:01] tfitzmac commented on #20664
@scott1138 - thanks for making me aware of this difference. I have added that info to this article. It should get published tomorrow morning.

[2018-12-14 01:03] #20664 closed

[2018-12-14 01:08] YutongTie-MSFT commented on #20372
@kumaranpravin Thanks a lot!!

@bwodicka We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-14 01:08] #20372 closed

[2018-12-14 01:09] SaurabhSharma-MSFT commented on #20662
@kchewett Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-14 01:10] femsulu commented on #20659
@DeanCefola Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-14 01:11] MarkusVi commented on #18362
#please-close

[2018-12-14 01:14] SaurabhSharma-MSFT commented on #20656
@cvasquez123 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 01:36] SaurabhSharma-MSFT commented on #20584
@nickgailloux The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-12-14 01:36] #20584 closed

[2018-12-14 01:37] femsulu commented on #20658
Closing as
Duplicate of #20659

[2018-12-14 01:37] #20658 closed

[2018-12-14 01:38] kokei opened #20689 "Need submitted device for iotedge certification both on Windows and Ubuntu?"
We have a IOT edge certification problem need your help.
IoT Edge module and process data can support both on Linux and Windows platform,
If we submitted our device for iotedge certification on Linux, is it also necessary to submitted our device for iotedge certification on Windows?

Would you please help to reply our prolem?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-12-14 01:44] SaurabhSharma-MSFT commented on #20432
@AkshathaSP I do not see any issue while creating the job collection or creating a new scheduler job.
![image](https://user-images.githubusercontent.com/38112130/49978314-ba90cc00-fefe-11e8-897a-bfdfee6e6f03.png)

[2018-12-14 01:46] SaurabhSharma-MSFT commented on #20552
@nuelscodee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 01:46] #20552 closed

[2018-12-14 01:55] tzelja219 opened #20690 "2 Step Verification"
It won't send the text to my phone. I enter my email, I proceed to the verification screen and I click on the "Text" box - which should then text me - except that it is no longer doing anything except make the screen blink.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version In

[2018-12-14 02:14] mrbullwinkle commented on #20587
This change is now live.

[2018-12-14 02:14] mrbullwinkle commented on #20587
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-14 02:16] v-maroge commented on #20299
Hi, sorry to ping. Any information on this?

[2018-12-14 02:18] mrbullwinkle commented on #19027
I added a link to clarify the NuGet package when making another update to the doc. This change is now live.

[2018-12-14 02:18] mrbullwinkle commented on #19027
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-14 02:20] #19027 closed

[2018-12-14 02:20] #20587 closed

[2018-12-14 02:33] tomas-weir commented on #20318
I am getting the same error.

[2018-12-14 02:34] AidanP24 opened #20693 "Debugging errors"
Hi there,

So I have followed the tutorial exactly as it says but I have got some errors while debugging. The first error says:
Unhandled exception at 0x00007FF9D4EEA388 in Helloworld.exe: Microsoft C++ exception: std::runtime_error at memory location 0x0000009C90EFEF48.

The second says:
Unhandled exception at 0x00007FF9D4EEA388 in Helloworld.exe: Microsoft C++ exception: std::runtime_error at me

[2018-12-14 02:35] curtand commented on #19326
https://github.com/MicrosoftDocs/azure-docs-pr/pull/60935

[2018-12-14 02:41] thbeh commented on #13178
Hi, I don’t see any link for downloads

[2018-12-14 02:57] #13395 closed

[2018-12-14 03:11] MicahMcKittrick-MSFT commented on #20469
@aledeniz thanks for the detailed suggestion. I like the format :) Makes it much easier to understand what you are looking for. I will assign to the content author to review.

[2018-12-14 03:20] ishepherd commented on #19284
Hi @SnehaGunda, please don't close. Here is an example:

Say I have a document with
[code]

and I run a query `WHERE`
[code]

This query _will not match_ the document. The strings are equal times, but they are not equal lexicographically, due to the different decimal places. ISO 8601 does not specify decimal places.

Therefore please answer,

[2018-12-14 03:35] AceHack opened #20695 "How do I disable/delete dev spaces?"
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5567ba71-654f-3a49-c6b5-c47df5b8f8b9
* Version Independent ID: cf86a395-864a-ac30-2480-adbe62a08ae4
* Content: [Troubleshooting - Azure Dev Spaces](https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting)
* Content Source: [articles/dev-spaces/troubleshoo

[2018-12-14 03:40] sanjaygdrrad commented on #13777
do we have any links explaining the ways to get access to GoDaddy's account that we create during the process of buying a custom domain using azure credit at Azure portal please!

[2018-12-14 03:43] dcbrown16 commented on #13777
@sanjaygdrrad please create a ticket of your own for separate inquiries.

[2018-12-14 03:48] tim-yan opened #20696 "Effective date of the behavior change from default to redirect for Brazil South and West Europe should be in 2018 instead of 2019."
Here I quote "Change is already effective from November 10th, 2019 for Brazil South and West Europe regions. For all other regions change will be effective from January 2nd, 2019."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1b

[2018-12-14 03:51] MysticRyuujin commented on #18576
I get a 404 on that link?

[2018-12-14 04:08] AshokPeddakotla-MSFT commented on #19739
@evan-morris We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-14 04:08] #19739 closed

[2018-12-14 04:34] AshokPeddakotla-MSFT commented on #20666
@anonymouse64 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-14 04:40] AshokPeddakotla-MSFT commented on #20693
@AidanP24 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-14 04:45] AshokPeddakotla-MSFT commented on #20696
@tim-yan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-14 04:51] AshokPeddakotla-MSFT commented on #20689
@kokei Could you provide more details about your scenario?
Also, share the documentation link on which your comment mentioned?

[2018-12-14 05:19] neeleshray commented on #20226
We would now proceed to close this issue. Kindly let us know if you need further help.

[2018-12-14 05:19] #20226 closed

[2018-12-14 05:20] kobulloc-MSFT commented on #20695
@AceHack Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-12-14 05:44] kokei commented on #20689
Azure IoT Edge runtime on Linux (x64): https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux
Azure IoT Edge runtime on Windows: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-windows

And, for IoT iotedge_certification link is here: https://github.com/Azure/azure-iot-device-ecosystem/tree/master/iotcertification/iotedge/iotedge_certific

[2018-12-14 05:48] PramodValavala-MSFT commented on #20205
@eragonriddle Just following up... Any update?

[2018-12-14 05:49] SubhashVasarapu-MSFT commented on #20657
@larryms  Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 06:00] UtsaVakani commented on #14816
@tfitzmac The document is missing out on how to pass an external parameter file via Azure CLI

[2018-12-14 06:02] UtsaVakani opened #20698 "External Parameter File Deployment"
Nowhere in the document I can find how to deploy an external parameter file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5c7fe94-80a5-5a7d-ad5e-6e87c4ac346c
* Version Independent ID: dd636f60-08b0-53db-09ec-2a8924d08670
* Content: [Deploy resources with Azure CLI and template](https://docs.microsoft.com/en-us/azure/

[2018-12-14 06:06] PramodValavala-MSFT commented on #20298
@vchandm23 Glad that helped! 😄
As Jerry Liu mentioned on SO, the open [issue](https://github.com/Microsoft/vscode-azurefunctions/issues/760) will fix it and is planned for the next release. This workaround wouldn't be needed anymore then.

@ggailey777 Do you think having a note for this would make sense for the time being until the next release?

[2018-12-14 06:08] SubhashVasarapu-MSFT commented on #20610
@dpapkin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 06:08] #20610 closed

[2018-12-14 06:08] UtsaVakani commented on #20698
What is the parameter to be used while deploying an external parameter file via Azure Cli

[2018-12-14 06:18] dpapkin opened #20699 "screencap is wrong"
To configure your conditional access policy: 3) On the Azure Active Directory page, in the Manage section, click Conditional access.

This is incorrect.
Now should be : 3) On the Azure Active Directory page, in the Security section, click Conditional access.

Please update this and change the screen cap

This quickstart is used in new AZ100 course, so please fix this ASAP.
Thanks for your help

Da

[2018-12-14 06:36] OzBob opened #20700 "New Owin Application form link broken"
'Microsoft Application Registration Portal' link above navigates to:
https://apps.dev.microsoft.com/#/application/{guid}

The
Platform | Web | Redirect URL's help text:
"All redirect URIs must share a single DNS domain, and the shared domain must also be added to this list. Learn More "

'Learn More' link:

https://docs.microsoft.com/en-au/azure/active-directory/active-directory-v2-limitations#res

[2018-12-14 06:39] pvrk commented on #14124
@LuciusLan, @abovethelimit: We have started providing an Azure template whenever you restore disks. The template location can be found in restore job details. That template would have all the required information to create a new VM from the restored disks for all combinations (Managed vs unmanaged and encrypted vs unencrypted). Instead of using specific PS commands for each scenario, we recommend

[2018-12-14 06:41] FrankSandqvist opened #20701 "Wildcard subdomain for Azure CDN custom domain"
It doesn't yet seem like Azure CDN supports wildcard subdomains for the custom domain.

I get "HostName "*.mydomain.com" is invalid. It must be a valid domain name, IP version 4, or IP version 6."

Is this something that is in the works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb1

[2018-12-14 06:44] mcurko commented on #19769
Hi,

unfortunately I tested too many tutorials, one of which with Red Hat, and as a consequence Microsoft disabled my subscription until the end of billing cycle (month)...

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.p

[2018-12-14 06:50] abovethelimit commented on #14124
@pvrk Thank you Karthik. Can we get templates also to restore back to the old VM & its Nic. We have also noticed that upon restoration the restored disks lost its actual size and the URI for the disks are missing in vmconfig JSON file. Now that VMConfig is redundant, curious to know if there are options in the template to create a new VM or re-create the old VM as how it was. Thanks.

[2018-12-14 07:01] ManojReddy-MSFT commented on #20699
@dpapkin Thanks for reporting this. I have assigned this to the author to update the doc accordingly.

[2018-12-14 07:01] xNiklasJern commented on #20281
thanks @MarkusVi for the clarification

[2018-12-14 07:01] #20281 closed

[2018-12-14 07:23] kazshi opened #20702 "32 bit version of Windows OS is not supported for Backup?"
My understanding is 32 bit version of Windows OS is not supported for Backup from https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#what-operating-systems-are-supported-for-backup, and found some 3rd party article of mentioning VM guest agent doesn't work on 32 bit OS - it it correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-12-14 07:34] kumaranpravin commented on #20437
@thananstr
I think you wanted to know how to update the existing web service when new image is added into the workspace.
1. Use ContanerImage method to get the image by giving the name and id (This includes the version number).
2. Update the service

Note: When you update the service, the url and keys remains the same. Make sure that your service status is popping as 'Healthy'
_**print(service.sta

[2018-12-14 07:36] kumaranpravin commented on #20324
@nacharya1 Thanks for the info, Do you have any estimate time for this?.
I needed it very urgently.

[2018-12-14 07:39] cpitches opened #20703 "formatDatetime should not convert to UTC"
The formatDateTime function should ignore the date time offset by default.  For instance formatDateTime('2018-12-15T05:00:00+13:00','dd-MMM') should resolve to '15-Dec' and not '14-Dec'.  Alternatively it should be documented that formatDateTime will convert the timestamp to UTC.  The workaround appears to be formatDateTime(substring('2018-12-15T05:00:00+13:00',1,19),'dd-MMM')

---
#### Document D

[2018-12-14 07:58] MarkusVi commented on #20699
Hi @dpapkin, thanks for catching this. I have staged an updated version of this article

[2018-12-14 08:01] kumaranpravin commented on #19855
@philippschaefer4
You can refer the below page for retraining WS using Rest Api
[Update Web Service using Rest Api](https://docs.microsoft.com/en-us/rest/api/machinelearning/webservices/createorupdate)

[2018-12-14 08:04] cpitches opened #20713 "substring start index is zero based"
Documentation for substring states that &lt;startIndex&gt; is a positive number for the starting position, but 0 (zero) identifies the first character in the string, as shown in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-

[2018-12-14 08:31] kumaranpravin opened #20718 "Azure Auto ML Forecast - No module named 'ftk'"
I have been working on Azure AutoML for one of my projects. I was recently trying out the forecasting stuff using autoML [Forecast](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-a/auto-ml-forecasting-a.ipynb)

I am using azure notebooks to run the pipelines and i got a **ModuleNotFoundError: No module named 'ftk'** error whe

[2018-12-14 08:34] urvishaseladiya opened #20719 "AuthorizationFailure while creating Container"
# AuthorizationFailure while creating Container

I follow all the steps given in this article, After when I am trying to run this code I am getting AuthorizationFailure in response with 403 response code.

I am attaching the error response here.
Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: x-ms-request-id,x-ms-error-code,Content-Length,Date,Transfer-Encoding
Date: Fri, 14 Dec 2018

[2018-12-14 08:46] cwoolum commented on #20118
I am getting ProviderFailed even after registering the provider.

Logs for the pod show

[code]

Logs for aci-connector-linux` show:

[code]

[2018-12-14 08:49] SubhashVasarapu-MSFT commented on #20657
@larryms  Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-14 08:49] mcurko opened #20720 "Clarification needed"
In reference to https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup : if I understood correctly, in the curent article we have automated backups, not accessible directly to customers, with a max. retention of 10 years, while in the linked-to article we have customer-initiated backups in Recovery Services vault, with unlimited retention, but with a limit of 9999 points

[2018-12-14 09:04] ChiragMishra-MSFT commented on #20426
@dazzler11 I went through the document and it worked as expected for me. Can you please make sure that you haven't missed any step in the tutorials (part 1 and 2) and then provide more information as requested by @trevorbye.

[2018-12-14 09:18] #20535 closed

[2018-12-14 09:21] KetanChawda-MSFT commented on #20703
@cpitches Thank you for the feedback! We will investigate and make any necessary changes if required.

[2018-12-14 09:31] kazshi opened #20721 "TDE for Azure SQL Managed Instance databases"
Questions:
1) Is it possible to enable TDE for new SQL Managed Instance database as default?
2) Are there any ways to check if SQL Managed Instance database is TDE enabled?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44a0e0d-f0a8-fe91-8ae5-a901e103f89e
* Version Independent ID: 834b8bc9-d661-0204-9ece-1f3700

[2018-12-14 09:40] KetanChawda-MSFT commented on #20492
@hannesne `Run-From-Zip` is the default deployment now and `--zip` was renamed to `--nozip` which describes _**Turns the default `Run-From-Zip` mode off**_.

The description in the core tools for `--nozip` will update as per the [PR](https://github.com/Azure/azure-functions-core-tools/commit/72e4c89114af9f44680f01b8be7cecc714e3dd81).

I am working on a PR to update the [document](https://docs.micr

[2018-12-14 09:43] angoyal-msft commented on #20444
Hi @Anmolgan81 I have assigned the issue to author for further clarification.

[2018-12-14 09:55] ChiragMishra-MSFT commented on #20718
@kumaranpravin Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2018-12-14 10:18] SadiqhAhmed-MSFT commented on #20639
@mganeshphani, Thanks for the question. We will investigate this further and update as appropriate.

[2018-12-14 10:20] SnehaGunda commented on #20640
@isamllr when using the data migration GUI tool to import data, use the following settings:

   **Source**
      **Import from:** JSON file(s)

   **Target**
      **Connection string:** AccountEndpoint=<Your_account_endpoint>;AccountKey=<Your_primary_or_secondary_key>;Database= <Your_database_name>
      **Partition key:** /Country
      **Collection Throughput:** 1000

I have updated the doc in

[2018-12-14 10:22] SnehaGunda commented on #20640
#please-close

[2018-12-14 10:23] tvandera opened #20722 "Reset gateway needed"
Hi, I needed to reset the gateway before port 443 was opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf66871e-f045-8ecb-6aff-dd36e20f1601
* Version Independent ID: 19b1740f-ba43-92a3-74e7-28fb6c462f2b
* Content: [How to configure OpenVPN on Azure VPN Gateway: PowerShell](https://docs.microsoft.com/en-us/azure/v

[2018-12-14 10:30] zowers commented on #20644
@yzheng-msft - will the copy from archive operation allow to copy to another container?

[2018-12-14 10:31] KetanChawda-MSFT commented on #20616
@jnsunkersett Checking in to see if the above post helped answering your question.

[2018-12-14 10:37] RomanNG opened #20723 "Missing attributes in the list"
Hello,

Since Azure AD Connect version 1.1.524.0, it's written that "AD attributes employeeID and msExchBypassModerationLink are now included in the default sync rule set" (source : https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history).

Shouldn't these attributes listed here ?

We can retrieve employeeID attribute through Azure AD PowerShell in the "Ext

[2018-12-14 10:37] TWolverson opened #20724 "Running locally?"
How would one conditionally bypass this behaviour based on environment, so that the function still works when run locally, on the development machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault

[2018-12-14 10:56] kilasuit opened #20725 "Add link to ARM Template for attaching disks to an already existing VM"
As issue title I think this should have a link to an ARM Template for adding a new Disk to an existing VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-ac7c-15004b541161
* Version Independent ID: f64d7493-0278-de95-a16e-c11369f74c55
* Content: [Attach a data disk to a Windows VM in Azure by using Po

[2018-12-14 11:09] ImrePyhvel opened #20726 "How is the user country determined regarding subscription ownership transfer requirements?"
The FAQ states that: "No, transferring a subscription to a user account in another country is not supported. The recipient's user account must be in the same country."

Please explain where can this country be chosen or specified.
For example, working in Azure AD which according to Portal is located in Estonia. I created an user account in Azure AD for the to-be subscription owner, but he cannot a

[2018-12-14 11:31] femsulu commented on #20083
Closing issue now as it appears it's been redirected to email. would appreciate an update to this thread with the final outcome.

[2018-12-14 11:31] #20083 closed

[2018-12-14 11:40] femsulu commented on #20299
@v-maroge, sorry for the delay. Adding @GeethalakshmiG for her input.

[2018-12-14 12:03] zowers commented on #20644
one way to ensure that the lifecycle rule does not archive the blob which was just rehydrated is to acquire an infinite lease on the blob right after set-tier Hot call.

[2018-12-14 12:07] gauravagarwal28 commented on #14719
@kgremban I highly appreciate you taking my feedback into consideration. Any new user who starts with Azure IoT Edge already has a lot of uncertainty in his mind due to containerized nature of the apps developed.

With that in mind, I believe that a better approach would be:

if this link:
(A)Quickstart: Deploy your first IoT Edge module to a Linux x64 device: https://docs.microsoft.com/en-us/azur

[2018-12-14 12:08] craigshoemaker commented on #10151
@rgwood I just published [Manually run a non HTTP-triggered function](https://docs.microsoft.com/azure/azure-functions/functions-manually-run-non-http). I hope this helps address what you are trying to do 😉

[2018-12-14 12:16] raunakpandya commented on #19950
@darran1971 Hey, assuming your current user is among the list of AdminClientIdentities, you would need to pass in the parameter -UseDefaultCredentials to Invoke-WebRequest cmdlet. Also note that in your example you have the retention duration passed in as 30 days. Currently we have a issue where the max value supported there is around 24 days. It fails when converting it into milliseconds where it

[2018-12-14 12:55] raunakpandya commented on #19950
Glad to hear that. I would go ahead and close this issue as the original issue is resolved now.

[2018-12-14 12:56] raunakpandya commented on #19950
@mike-urnun-msft - Can you please close the issue? I don't have permission to do that.

[2018-12-14 12:56] bdlane opened #20727 "Incorrect CSS selector"
In the first HTML code sample, I think the '#map' selector should actually be '#myMap'. Otherwise the map renders in the upper half of the page only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc23125-006f-d643-9548-ea6d7bc2de60
* Version Independent ID: 77704958-c3b6-d6aa-4f2b-d3794ae6df9c
* Content: [Search with

[2018-12-14 13:19] henriquebrisola opened #20728 "Simple Typo"
On "Create a service principle [...]"  should be 'service principal'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78411727-ea56-aef5-4f04-b016c25afba9
* Version Independent ID: 8687b7bc-a196-6fd0-fa57-9fa5dd2d4545
* Content: [Send custom metrics for an Azure resource to the Azure Monitor metric store by using a REST

[2018-12-14 13:19] AjayKumar-MSFT commented on #20719
@urvishaseladiya, Thanks for your feedback! to assist you better on your query. Could you please let us know the Azure document that you are referring to?
From the error message ‘ AuthorizationFailure’, ensure that you have the appropriate permissions set for the user or roles for creating the resource.

[2018-12-14 13:39] KeoiMadBro opened #20729 "Just a Missing Letter"
"The following command creates an HTTP-triggered function named MyHtpTrigger"
It should be "MyHttpTrigger".
Have a good day!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c85f7-53b3-59a2-3f42-fbccbba07d32
* Content: [Create your first function using the

[2018-12-14 13:49] lgermain91 opened #20730 "NEtwork issue"
The dev kit need to talk to a time server to be able to correctly talk to iot hub.

IT requires ports opening to UDP time servers

Here is the error i got
Unable to get the NTP host pool.ntp.orgion[0] received for mess
Unable to get the NTP host cn.pool.ntp.org
Unable to get the NTP host europe.pool.ntp.org
Unable to get the NTP host asia.pool.ntp.org
Unable to get the NTP host oceania.pool.ntp.or

[2018-12-14 14:21] ManojReddy-MSFT commented on #20442
@ChrisParrBIE Let me know if you have any other questions.

[2018-12-14 14:27] Sethu2488 opened #20732 "GA of auto-scaling feature"
Customer wanted to know when this feature will be supported in a production environment.
Any time lime on the generally availability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702c4c56-9e3c-9234-841a-5618e8d78138
* Version Independent ID: 27df9871-e2a7-9746-32e1-991d0bafa169
* Content: [Tutorial: Create an autoscal

[2018-12-14 14:30] sebader commented on #11054
@veyalla  @myagley  Can we please bring this into the official documentation? E.g. the troubleshooting guide https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot
I think it's a very helpful information for anybody using Edge and should not be hidden in this github issue.

[2018-12-14 14:33] langstonj opened #20734 "AAD accounts not mentioned"
AAD accounts are obviously absent in the geo-restore/failover authentication scenario above.  Perhaps that was intentional but I don't wish to read between the lines on this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17668600-9b50-bb89-4d13-19bc5e1ea672
* Version Independent ID: 91326117-9566-fdde-3212-43089ac

[2018-12-14 14:58] sbgillett commented on #17367
JSON payloads aren't being sent properly for me either. Do you have a reference to the issue MS are tracking @juanidambrosio ?

[2018-12-14 15:00] #20729 closed

[2018-12-14 15:00] PramodValavala-MSFT commented on #20729
@KeoiMadBro Thanks for catching that! 😄 We have fixed the typo and it should reflect in a few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 15:09] oleksandr-bilyk opened #20735 "Need sample to use "copy" syntax to create array of scalar values (instead of structures)"
I need to construct array of integers. All what I may to create is array of structures like
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "hostedServices": {
            "type": "array",
            "defaultValue": [
                {
                    "name": "name1",

[2018-12-14 15:19] WyattBest opened #20736 "Resume journal operation is not automatic as claimed"
The documentation says "If the journal file does exist, AzCopy checks whether the command line that you input matches the command line in the journal file. If the two command lines match, AzCopy resumes the incomplete operation."

However, in real-world usage of v8.1.0-netcore, my job hung on message: "Incomplete operation with same command line detected at the journal directory "C:\Users\SQLSERVE

[2018-12-14 15:20] clangnerakq opened #20737 "Error deleting a network profile"
Hello,

I have an issue deleting a network profile, created by a container deployment.
I've tried the deletion with the cli and in the azure portal.

The deployment and how to delete a network-profile, is mentioned here:
https://docs.microsoft.com/de-de/azure/container-instances/container-instances-vnet

When I try to delete the network profile, I keep getting the message:

[code]

I understand, t

[2018-12-14 15:34] antoniaklja commented on #11379
Unfortunately, I have the same issue as @pricoppd

[2018-12-14 15:46] slaste commented on #20555
Pass-through

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Wednesday, December 12, 2018 3:16:13 PM
To: MicrosoftDocs/azure-docs
Cc: Slayden, Patrick; Mention
Subject: Re: [MicrosoftDocs/azure-docs] More then one service on the App Proxy? (#20555)

What type of authentication are you using? ADFS or Pass-through?

—
You are receiving this because you

[2018-12-14 16:06] cephalin commented on #19305
Hi. Import certs through the portal is necessary for apps hosted on Windows because the certificate store is off limits to you. This is not the case in App Service on Linux (or Web App for Containers for that matter). You don't need to import through the portal at all. Simply deploy the certificate file with your files and load it directly in your code.

[code]

[2018-12-14 16:10] summerkiss commented on #20057
@SnehaGunda ,your information is really helpful, we can update the throughput now with the java API,
but we still have the problem to get the real time RU of the entire system by program. Does Application insight still apply the rest API to expose the metrics of the RUs?
@sergaz-msft

[2018-12-14 16:11] noellelacharite opened #20739 "No Clear Instructions on Where to get the key"
I don't see how I would know as a new developer where to go to create the multi-service team. We should either have another article or talk through it more clearly here.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1218be14-5001-1458-f5e9-821e38730e20
* Version Independent ID: 45f58de5-cd30-0455-907f-ef18206

[2018-12-14 16:16] tfitzmac commented on #20698
@UtsaVakani - external parameter files with Azure CLI are not supported. I will add that to the article.

[2018-12-14 16:19] larrywa opened #20740 "BlobAttribute cannot be found"
In the code above, the BlobAttribute cannot be found. Are we supposed to add in the Azure Storage NuGet package, decorate the main function name or what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bbedb6-d4c5-a809-31ad-b8c843ac0f52
* Version Independent ID: 07c4822d-0aad-5a8a-7f16-56835f325a42
* Content: [Fan-out

[2018-12-14 16:33] jdogg89 opened #20741 "Adding tag to Azure Managed disk resource created"
Is there a way to have  the pvc creation yaml add a tag to the managed disk resource that is created in azure?, so not a label in K8's but for the disk that's created in the mc_resource_group for the AKS cluster's infra components

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Ver

[2018-12-14 16:51] #20353 closed

[2018-12-14 16:56] #20625 closed

[2018-12-14 17:06] sergaz-msft commented on #20730
Hello @lgermain91 , thanks for your feedback! Can you let us know which tutorial are you following? You may need to open ports 8883 or 5671 depending on the protocol you are using.

Thanks.

[2018-12-14 17:07] KingdomOfEnds commented on #20085
@usermartin - Thanks for catching that! A fix has been submitted and will be available live shortly.

[2018-12-14 17:12] lgermain91 commented on #20730
Appart from 8883,

It need access to not servers, otherwise date is set to 1970, and the generated key is rejected by IoT hub

Laurent

[2018-12-14 17:12] SubhashVasarapu-MSFT commented on #20701
@FrankSandqvist  Thanks for the question! We are investigating and will update you shortly.

[2018-12-14 17:14] msmimart commented on #19928
#please-close

[2018-12-14 17:14] SubhashVasarapu-MSFT commented on #20722
@tvandera  Thanks for the question! We are investigating and will update you shortly.

[2018-12-14 17:18] #20698 closed

[2018-12-14 17:21] SubhashVasarapu-MSFT commented on #20732
@Sethu2488 Thanks for the question! We are investigating and will update you shortly.

[2018-12-14 17:22] MicahMcKittrick-MSFT commented on #20741
Thanks for the question! We are investigating and will update you shortly.

[2018-12-14 17:23] MicahMcKittrick-MSFT commented on #20725
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-14 17:40] YutongTie-MSFT commented on #20739
@noellelacharite Thanks Noelle, I have assign the author to update the document. And he has created a PR for it.

[2018-12-14 17:48] Adam-Smith-MSFT commented on #20736
@bendodge-xwis Have you by any chance tried [Azcopy V10](https://github.com/Azure/azure-storage-azcopy) ? Could you let me know if it results in the same exact behavior ?

Thanks,
Adam

[2018-12-14 17:50] sergaz-msft commented on #20730
That's correct. Let me add @dominicbetts to look at your suggestion and we will evaluate where\if we can add that information for more clarity.

Thank you!

[2018-12-14 17:51] sergaz-msft commented on #20727
Thank you for your feedback @bdlane . @walsehgal can you please take a look? Thank you!

[2018-12-14 17:52] bradyevans opened #20742 "Current portal doesn't take you to "Troubleshoot Update Agent" page.."
There is no way to get to the update agent troubleshooting screens.  If I have an issue with an agent and click "troubleshoot", it takes me back to this page again.  Very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e7b53a-a644-3ada-8363-ae4edc62f503
* Version Independent ID: a5567355-2edb-d722-3a08-2217

[2018-12-14 17:53] MicahMcKittrick-MSFT commented on #19969
Thanks for confirming @xujing-ms

@nbornstein I will close for now. If you have additional questions just let us know and we can always reopen and continue the discussion.

[2018-12-14 17:53] #19969 closed

[2018-12-14 17:54] MicahMcKittrick-MSFT commented on #20438
I will close for now. If you have additional questions let me know and we can always reopen and continue.

[2018-12-14 17:54] #20438 closed

[2018-12-14 17:56] sergaz-msft commented on #20720
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-14 17:57] MicahMcKittrick-MSFT commented on #20725
@kilasuit this specific guide is talking about attaching a disk using PowerShell. And the next guide down on the list is using the portal. So adding a link to using a template would not make much sense in this specific doc.

We do have some samples you can follow to attach a disk using an ARM template though

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/using-managed-disks-templ

[2018-12-14 18:01] MicahMcKittrick-MSFT commented on #20737
@clangnerakq Try checking the Network Interfaces section in the portal and try to find the NIC that the error is referring to. Once you delete the NIC you should be able to remove the network profile

![image](https://user-images.githubusercontent.com/32313503/50019361-3a627900-ff87-11e8-82b9-21daef835a08.png)

[2018-12-14 18:03] daghoberto opened #20743 "Wrong information"
At the end of the article  (step 6)  the command should be:
Confirm-MsolDomain -DomainName "your_domain_name" -forcetakeover force

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Administrator takeover of an u

[2018-12-14 18:10] #19950 closed

[2018-12-14 18:11] ctrlaltdylan opened #20744 "Example of Response JSON?"
Could we have an example of the JSON response from the prediction endpoint? It would help me understand how the data is structured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a91d22-bd16-a250-5e81-26aca73e970b
* Version Independent ID: badfb9d5-8762-830c-7601-96473d941a84
* Content: [Consume web service - Azure M

[2018-12-14 18:15] georgewallace commented on #20742
@bradyevans Thanks for reporting this.  This is not the expected behavior, I am going to attempt to repro on my side and will get back with you shortly.

[2018-12-14 18:17] Alberto-Vega-MSFT commented on #20453
@HenrikBach1 This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-12-14 18:19] Alberto-Vega-MSFT commented on #20641
@isamllr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 18:19] #20641 closed

[2018-12-14 18:20] toddjohnson39 opened #20745 "Azure AD Password Protection Proxy"
Can Azure AD Password Protection Proxy service be installed on same box running PTA agent and Azure App Proxy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premises Azure AD password protection FAQ](http

[2018-12-14 18:20] Alberto-Vega-MSFT commented on #20640
@isamllr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 18:20] #20640 closed

[2018-12-14 18:20] #20642 closed

[2018-12-14 18:20] Alberto-Vega-MSFT commented on #20642
@bearrito We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 18:23] jkmaina commented on #17471
How can i downgrade a Ubuntu 16.0.4 LTS 4.15.0-1031-azure kernel to the supported version, e.g. 4.15.0-1030-azure? I'm stuck.

[2018-12-14 18:29] meghanahickey opened #20746 "How to upload & run container in Azure Container Registry"
need more detail on how to actually push and run this container in Azure Container Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc19d2e0-5960-c165-083c-a9dcf9976c91
* Version Independent ID: 58d32965-6909-2461-5158-aa66d904bf3c
* Content: [Docker containers - Language Understanding - Azure Cognitive Service

[2018-12-14 18:35] MicahMcKittrick-MSFT commented on #20741
@iainfoulds would you know if this is possible? I have attempted to modify the yaml file to include a tag resources similar to what I found here

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml#configure-the-yaml-file

But I get validation errors regardless

[code]

[2018-12-14 18:38] CarlRabeler commented on #20662
@kchewett thanks - I am well aware of this - I am waiting for engineering to sign off on the updated docs (for a number of days now)
Carl

[2018-12-14 18:40] SaurabhSharma-MSFT commented on #20700
@OzBob Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 18:41] SaurabhSharma-MSFT commented on #20723
@RomanNG Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 18:41] SaurabhSharma-MSFT commented on #20745
@toddjohnson39 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 18:43] mike-urnun-msft commented on #20740
Hi @larrywa

Thank you for your feedback! We will review and update as appropriate.

[2018-12-14 18:43] SaurabhSharma-MSFT commented on #20432
@AkshathaSP We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 18:43] #20432 closed

[2018-12-14 18:44] SaurabhSharma-MSFT commented on #20434
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 18:44] #20434 closed

[2018-12-14 18:45] SaurabhSharma-MSFT commented on #20473
@Melmixx We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 18:45] #20473 closed

[2018-12-14 18:45] SaurabhSharma-MSFT commented on #20497
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 18:45] #20497 closed

[2018-12-14 18:46] SaurabhSharma-MSFT commented on #20543
@sibethale We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 18:46] #20543 closed

[2018-12-14 18:46] erhopf commented on #20739
#please-close

@noellelacharite - The sign-up doc has been updated to include instructions for multi-service keys. Also, docs now cross link between auth and sign-up. Thanks for bringing this up!

Here's the approved PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/60985

[2018-12-14 18:50] djmolny opened #20747 "Info about "Server admin" is out of date"
Contrary to this document, the server admin information no longer appears in the "Overview" section of the SQL Databases tab on the Azure console.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-4269ad2eb8e9
* Version Independent ID: 9aad7a41-bca9-9159-0cc7-c79516648857
* Content: [Azure SQL logi

[2018-12-14 19:00] ljtill commented on #10409
Within the directory below, there are two batch files (disable.cmd and enable.cmd), executing these batch files has resolved issues for me in the past when the RunCommand when it goes into hung 'Running' state.

C:\Packages\Plugins\Microsoft.CPlat.Core.RunCommandWindows\1.1.0\Status

[2018-12-14 19:05] kgremban commented on #14719
Thanks for the details, @gauravagarwal28

It sounds like you have two pieces of feedback. The first is that the simulated temperature module is maybe a bit of a black box that isn't explained well, and we just tell you to include it in your deployments as a data generator. I can definitely provide more context around that module and link to the source code that you suggested.

The second piece of

[2018-12-14 19:06] georgewallace commented on #20742
@bradyevans So the troubleshooter is only available in the portal for Azure VMs, if the machine you see "troubleshoot" for is a Non-Azure VM the behavior is correct to send you to the doc.  For Non-Azure machines you must run the troubleshooter per the [offline steps](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-agent-issues#troubleshoot-offline) I will update the doc to m

[2018-12-14 19:14] eragonriddle commented on #20205
@PramodValavala-MSFT , sorry for the delay.

Here's the contents of requirements.txt
`azure-functions==1.0.0a5`
`azure-functions-worker==1.0.0a6`
`azure-cosmosdb-table==1.0.5`

Here's the contents of HttpTrigger/__init__.py
`import logging`
`import azure.functions as func`

`def main(req: func.HttpRequest) -> func.HttpResponse:`

    logging.info('Python HTTP trigger function processed a request.'

[2018-12-14 19:18] MarileeTurscak-MSFT commented on #20555
Yes you can! The rebranded versions of the pass-through authentication agent (installed when you complete the setup through the AD Connect wizard) support this configuration. For it to work you need to have version 1.5.193.0 or higher.

My lab environment has pass-through set up this way. I have only two servers - my domain controller and my Sync server that has AD Connect and the App Proxy.

For

[2018-12-14 19:19] MarileeTurscak-MSFT commented on #20555
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-14 19:19] #20555 closed

[2018-12-14 19:22] rgwood commented on #10151
Very helpful, thanks!

[2018-12-14 19:29] mganeshphani opened #20749 "I want to set notification email for Users with Leaked credentials"
I don't see a setting to setup email notification for this type of risk event.. how can I do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198f0e69-af2a-8c82-041a-c5ca4126f02f
* Version Independent ID: 4be57788-f1c2-d6d4-b94a-a59350a618a7
* Content: [Azure Active Directory risk events](https://docs.microsoft.com/

[2018-12-14 19:30] aliceku commented on #20721
Hello, we are in the process to make TDE the default for managed instance databases, but it will take a couple of weeks to make it into production.
To check if a db is encrypted with TDE, run: sys.dm_database_encryption_keys

[2018-12-14 19:34] YutongTie-MSFT commented on #20744
@ctrlaltdylan Hi, thanks for your feedback. I have assigned the author to update the document properly.

@ericlicoding Hi, can you please check it? Thanks a lot!

[2018-12-14 19:35] MicahMcKittrick-MSFT commented on #20097
@kuburoma I worked offline on this but was not able to yield much.

There is work being done surrounding using Istio on large clusters but it is still in progress. We are working to add more docs around performance, configuration, etc.

As per your question, I think it would best be handled in the Istio community

https://istio.io/about/community/

Here you will find resources where others are doi

[2018-12-14 19:35] #20097 closed

[2018-12-14 19:35] SaurabhSharma-MSFT commented on #20560
@jscaravilli I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureautomation.

[2018-12-14 19:35] walsehgal commented on #20727
@bdlane, thank you for pointing out. It has been fixed.

[2018-12-14 19:38] SaurabhSharma-MSFT commented on #20645
@SteveHernou AFAIK it will remove the risk event from the active list but won't ignore any future events, however, I am assigning this issue to content author to confirm and and update the document as appropriate for future references.

[2018-12-14 19:38] Grace-MacJones-MSFT commented on #20724
Hi @TWolverson , thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-14 19:39] cherylmc commented on #19733
#please-close

[2018-12-14 19:39] YutongTie-MSFT commented on #20746
@meghanahickey
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@diberry
Hi Dina, this is a customer now asking more detail on how to actually push and run this container in Azure Container Registry, can you please check it and update the document as necessary? Thanks a lot!

[2018-12-14 19:42] diberry commented on #20746
@YutongTie-MSFT Will do.

@meghanahickey Hi Meghan, Thank you for letting us know this area of the documentation needs to be improved. #in-progress

[2018-12-14 19:43] YutongTie-MSFT commented on #20739
@noellelacharite We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 19:43] #20739 closed

[2018-12-14 19:44] JamesLee-MSFT commented on #19886
@ronortloff Reassigned to @anthony-msft

[2018-12-14 19:46] #19541 closed

[2018-12-14 19:46] YutongTie-MSFT commented on #20477
@elizabethhalper We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 19:46] #20477 closed

[2018-12-14 19:47] kazshi commented on #20721
@aliceku Thank you for the information!

[2018-12-14 19:47] #20721 closed

[2018-12-14 19:47] YutongTie-MSFT commented on #20576
@MikeDodaro Thanks.
@vilcek We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 19:47] #20576 closed

[2018-12-14 19:48] tchmiel opened #20750 "module 'azureml._base_sdk_common.service_discovery' has no attribute 'get_history_service_url' error"
Following this tutorial (2.Auto-train an ML model) but with my own data,
I was able to run thru training with 30 iterations the first time, and then failed on "Add a Jupyter Widget...".
from anaconda prompt, ran, "pip install azureml.widgets " from the command line.
Now I get " module 'azureml._base_sdk_common.service_discovery' has no attribute 'get_history_service_uri'" error
every time I try to

[2018-12-14 19:51] YutongTie-MSFT commented on #20750
@tchmiel Thanks for you feedback, I will investigate it and get back to you soon.

[2018-12-14 19:51] MikeDembek opened #20751 "Clarify that the AZUREADSSOACCT will be created in the domain corresponding to the on-prem Domain Admin account used to enable the feature"
This document could benefit by clarifying that in a forest with multiple domains, the AZUREADSSOACCT will be created in the same domain that houses the admin account used to enable the feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7549d4d-3939-8768-c81d-392861261d1f
* Version Independent ID: 23219c24-c721-1e

[2018-12-14 19:59] YutongTie-MSFT commented on #19855
@philippschaefer4 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 19:59] #19855 closed

[2018-12-14 20:10] mike-urnun-msft commented on #20189
Hi @ebrucucen Yes, that's an expected behavior as all APIs must be associated with one or more Products. Since there doesn't appear to be any action we can drive for this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 20:10] #20189 closed

[2018-12-14 20:10] MarkusVi commented on #14210
Thanks @josuvil, we have updated the Azure AD Connect articles and hybrid Azure AD join articles.

#please-close

[2018-12-14 20:12] AdamGrossTX opened #20752 "Please provide better details about credentials and scheduled refresh"
I can query data within Power BI desktop using my AAD credentials but when I configure the connector on my gateway, I don’t have the same credential options and the scheduled refresh fails. We have 2-factor auth enabled. What is the correct way to configure the credentials on the gateway (and on the OData Feed in PBI Desktop)?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-12-14 20:13] MarkusVi commented on #20699
#please-close

[2018-12-14 20:20] SaurabhSharma-MSFT commented on #20635
@WebedMJ Have you tried SelectUniqueValue without using the NormalizeDiacritics ?

[2018-12-14 20:23] tfitzmac commented on #20735
@oleksandr-bilyk - it looks like you are trying to take a property from an array of objects, and create a new array from the values for that property. Is that right? I don't see an easy way to do that. If you know the number of elements in the array, you could use [createarray](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-array#createarray) and ju

[2018-12-14 20:30] SaurabhSharma-MSFT commented on #20618
@arpitjoshi08 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 20:30] #20618 closed

[2018-12-14 20:39] tfitzmac commented on #18515
#please-close

[2018-12-14 20:39] dmarlow commented on #13042
Mine shows up as greyed out.

[2018-12-14 20:40] tfitzmac commented on #20061
#please-close

[2018-12-14 20:47] SaurabhSharma-MSFT commented on #20700
@OzBob I am not able to find the specific text and link which are referring to ? Please seen below the screenshot if this where you are looking for ?
![image](https://user-images.githubusercontent.com/38112130/50026605-69d0b000-ff9e-11e8-9bf0-22c85f530c62.png)

What type of application you have created on the apps.dev.microsoft.com ?

[2018-12-14 20:53] curtand commented on #18576
Hi @MysticRyuujin
Sorry, the 404 is because the PR was merged. This new content will be live by 4 PM.

@TravisCragg-MSFT
#please-close

[2018-12-14 20:56] nacharya1 commented on #20750
@tchmiel it appears the environment has become corrupt. The cleanest and quickest approach here would be to create a fresh conda environment and install automated ML using the setup script.
Install Instructions - https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/automated-machine-learning

[2018-12-14 21:06] curtand commented on #20547
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61030
Hi @colinrippeyfinarne
I'm getting this reviewed.

[2018-12-14 21:07] curtand commented on #20547
It's very likely this won't be published until I return from vacation 1/7.

[2018-12-14 21:08] JoarGjersund opened #20753 "sample app 404"
sample-app in the first step of Create local Python app (https://github.com/Azure-Samples/djangoapp.git) is not available.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 791bd216-532f-7f28-fa51-d95798397310
* Version Independent ID: 4f7ff676-e4a5-cc41-6a43-ecb8fa1095fb
* Content: [Build a Python web app with Postgre

[2018-12-14 21:14] nacharya1 commented on #20324
@kumaranpravin. We are working on this with a high priority, we don't have any further details to share at this time.

[2018-12-14 21:15] assilabdulrahim opened #20754 "Coloring"
The red color in the diagram implied a case that was prohibited, not allowed or undesired, while in fact it was just meant to mark different execution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57342b31-8271-e130-3df5-130580c9ea70
* Version Independent ID: fbd3f4b8-4199-2d82-245c-4a18f1073386
* Content: [Service F

[2018-12-14 21:22] mgottein commented on #20109
Yes, no parsing mode needs to be specified for these documents

[2018-12-14 21:35] iainfoulds commented on #20203
This doc is already getting pretty full of callouts like this and is due for refactoring to make it clearer. I think the use case where you'd run into this would be minimal, but is recorded here. I'll take this into account in future doc updates.

#please-close

[2018-12-14 21:37] iainfoulds commented on #19379
Will look at making the sentence clearer, however those two proposed updates don't really fit either. Changes should come in the next update.

For now, #please-close

[2018-12-14 21:39] #20203 closed

[2018-12-14 21:40] iainfoulds commented on #18710
@aanandr Can you address the supportability of this, please?

@MicahMcKittrick-MSFT Please reassign to @aanandr. This is not a docs question.

[2018-12-14 21:44] iainfoulds commented on #18606
Thanks for the note, @ams0. Public IP address prefixes are out of scope for this doc, it's only outlining creating an individual static public IP address, which does work. Standard load balancer support is on the roadmap, so would then also support public IP address prefixes.

@MicahMcKittrick-MSFT For now, #please-close

[2018-12-14 21:49] #18606 closed

[2018-12-14 21:49] MarileeTurscak-MSFT commented on #20751
@MikeDembek
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 21:50] #19381 closed

[2018-12-14 21:56] MicahMcKittrick-MSFT commented on #20754
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-14 21:57] iainfoulds commented on #20126
This has already been requested and noted in a previous GitHub issue - https://github.com/MicrosoftDocs/azure-docs/issues/14983#issuecomment-422926288

@MicahMcKittrick-MSFT #please-close

[2018-12-14 21:59] SaurabhSharma-MSFT commented on #10838
@msLinuxNinja We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 21:59] #10838 closed

[2018-12-14 21:59] SaurabhSharma-MSFT commented on #12261
@n3wt0n We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 21:59] #12261 closed

[2018-12-14 22:00] SaurabhSharma-MSFT commented on #14210
@josuvil We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:00] #14210 closed

[2018-12-14 22:00] SaurabhSharma-MSFT commented on #17748
@bdcoder2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:00] #17748 closed

[2018-12-14 22:00] aljo-microsoft commented on #19549
@Romiko

This expression in our public script:
$state.NodeDeactivationInfo.Status -ne "Completed"

is an event that is documented here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-generation-operational#node-events

Specifically:

18602 | NodeDeactivateCompleted | StateTransition | Deactivation of a node has completed | FM | Informational

Configuring th

[2018-12-14 22:00] SaurabhSharma-MSFT commented on #18515
@itanex We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:00] #18515 closed

[2018-12-14 22:00] SaurabhSharma-MSFT commented on #18362
@Skorfulose We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:00] #18362 closed

[2018-12-14 22:01] SaurabhSharma-MSFT commented on #18576
@MysticRyuujin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:01] #18576 closed

[2018-12-14 22:01] SaurabhSharma-MSFT commented on #18866
@CalvinFengDatacom We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:01] #18866 closed

[2018-12-14 22:01] aljo-microsoft commented on #19549
@jakaruna-MSFT
Please close this

[2018-12-14 22:01] SaurabhSharma-MSFT commented on #18994
@o-l-a-v We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:01] #18994 closed

[2018-12-14 22:03] SaurabhSharma-MSFT commented on #19733
@carteixeira We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:03] #19733 closed

[2018-12-14 22:03] SaurabhSharma-MSFT commented on #19887
@Pickell We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:03] #19887 closed

[2018-12-14 22:04] #20126 closed

[2018-12-14 22:04] SaurabhSharma-MSFT commented on #19928
@martensnico We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:04] #19928 closed

[2018-12-14 22:04] SaurabhSharma-MSFT commented on #20061
@cconrado We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:04] #20061 closed

[2018-12-14 22:05] SaurabhSharma-MSFT commented on #20220
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:05] #20220 closed

[2018-12-14 22:05] YutongTie-MSFT commented on #20237
@zippy1981 Since you have no response for more than 24 hours, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-14 22:05] #20237 closed

[2018-12-14 22:05] SaurabhSharma-MSFT commented on #20325
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:05] #20325 closed

[2018-12-14 22:06] SaurabhSharma-MSFT commented on #20699
@dpapkin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:06] #20699 closed

[2018-12-14 22:08] iainfoulds commented on #20118
@sujitdmello PMs have confirmed that yes, provider does need manually registering if you haven't previously used Azure Container Instances. I'll update the docs.

@cwoolum You may be experiencing something a little different if you have successfully registered the provider. Can you verify registration with `az provider list -o table` and check _Microsoft.ContainerInstance_. @MicahMcKittrick-MSFT C

[2018-12-14 22:09] anirudhcavale commented on #20196
@mavinm is there a way I can reach you via email? I think we need to debug more than this github thread will allow.

[2018-12-14 22:10] SaurabhSharma-MSFT commented on #20726
@ImrePyhvel Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 22:11] SaurabhSharma-MSFT commented on #20702
@kazshi Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 22:12] YutongTie-MSFT commented on #20324
@kumaranpravin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 22:12] #20324 closed

[2018-12-14 22:14] SaurabhSharma-MSFT commented on #20333
@martinstenhoff The product team is looking into this issue actively and I will update you as soon as I hear back from them.

[2018-12-14 22:16] #19175 closed

[2018-12-14 22:17] CelesteDG commented on #20700
Hi @OzBob - For restrictions on redirects in the v2.0 endpoint, please see the **Restrictions on Redirect URLs** section in this topic: https://docs.microsoft.com/en-au/azure/active-directory/develop/azure-ad-endpoint-comparison#limitations

Thank you.

[2018-12-14 22:19] Adam-Smith-MSFT commented on #20357
We haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-14 22:19] #20357 closed

[2018-12-14 22:20] kgremban commented on #14620
Hi again @pisees. Was the information provided enough to answer your question, or do you want more guidance? Thanks.

[2018-12-14 22:20] aljo-microsoft commented on #19944
In the Next Steps of the document I provided, which is the first link in the document you referenced:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster

Points to:
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-index-backuprestore

Which lists "SF backup and restore" Restore Partition Rest URI and parameters:
https:/

[2018-12-14 22:30] YutongTie-MSFT commented on #20750
@nacharya1 Thanks.
@tchmiel  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-14 22:30] #20750 closed

[2018-12-14 22:31] aljo-microsoft commented on #19343
@MicahMcKittrick-MSFT
Please close this unless the user has further questions.

[2018-12-14 22:33] iainfoulds commented on #20582
The Azure Cloud Shell (https://shell.azure.com) can also be used to automatically receive the latest versions of the CLI itself.

For the virtual nodes extension, while this feature is in preview, doc updates would indicate any newer extensions that can be installed. You can then update the extension with `az extension update`. Eventually, and for GA, you would install directly from the extension

[2018-12-14 22:36] #20599 closed

[2018-12-14 22:36] #19343 closed

[2018-12-14 22:36] #20582 closed

[2018-12-14 22:39] kobulloc-MSFT commented on #20334
@garsidestephen While we weren't able to directly reproduce your issue, we do agree that the documentation is a bit confusing on the first pass through.  A variety of setups are covered and step order (as well as the expected result) isn't necessarily clear.  We got the line you mentioned in web.config after adding Application Insights to our project, or after manually installing the NuGet package

[2018-12-14 22:50] aljo-microsoft commented on #13227
@Karishma-Tiwari-MSFT
Please close this.

[2018-12-14 22:52] Grace-MacJones-MSFT commented on #20533
Hi @imeya, currently .csv files are not supported. You can request this feature from the product group [here](https://feedback.azure.com/forums/169385-web-apps).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 22:52] #20533 closed

[2018-12-14 22:52] viv-liu commented on #19477
Hi @saikumaru sorry about the delay in response. Can you please send an email to Azure IoT Central Feedback <iotcfeedback@microsoft.com> with your

- App ID
- Device Template name and version
- Rule name

We can take a look and see what is going on. Thank you.

[2018-12-14 22:57] Grace-MacJones-MSFT commented on #20534
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-14 22:57] #20534 closed

[2018-12-14 22:59] #13227 closed

[2018-12-14 23:01] MarileeTurscak-MSFT commented on #20743
@daghoberto
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-14 23:03] MarileeTurscak-MSFT commented on #20743
Thanks for your feedback. I have created a pull request with your suggested change for review by @curtand
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61051

[2018-12-14 23:03] MarileeTurscak-MSFT commented on #20743
We will now proceed to close this thread. If you have further comments feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-14 23:03] #20743 closed

[2018-12-14 23:04] langstonj opened #20756 "What's up!?"
"If you add a database that already has a secondary database in the secondary server, that geo-replication is inherited by the group."  Is this not telling me that my geo-replicated primary server databases r can be added to a fail over group without issue even though the secondary databases already exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-12-14 23:05] SaurabhSharma-MSFT commented on #20745
@toddjohnson39 Yes, you can install Azure AD application proxy connector on the same server as PTA agent as the rebranded versions (version 1.5.193.0 or later) of the Pass-through Authentication Agent support this configuration.
Also, Azure AD Password Protection Proxy can be installed on any domain joined server which may include the Azure Application Proxy server.

[2018-12-14 23:06] mavinm commented on #20196
I attempted to send you a step-by-step reproducing scenario privately by email but was unable to reproduce the "Internal Server Error".  I assume that the issue has since been resolved since the last time I ran the steps one week ago.  No need to further debug issue, but please update the documentation with my first post for syntax cleanup.  Thanks!

[2018-12-14 23:12] sergaz-msft commented on #20727
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-14 23:12] #20727 closed

[2018-12-14 23:17] tkchaitanya commented on #8228
Based on this URL https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples - you could inject JavaScript in B2C and the JavaScript works, but the login is failing for the b2clogin domain, we are using B2C with D365 Customer Portal. Following are the issues:
1. Login with https://login.microsoftonline.com strips off the Script but Login works
2. Login with https://<domain>.b2c

[2018-12-14 23:21] aljo-microsoft commented on #15031
@MicahMcKittrick-MSFT
Please close this.

@WalkingDisaster
Please reopen if you have further questions on this.

[2018-12-14 23:21] #14146 closed

[2018-12-14 23:21] #15031 closed

[2018-12-14 23:32] Alberto-Vega-MSFT commented on #20734
@langstonj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-14 23:42] aljo-microsoft commented on #20360
@robinmanuelthiel

For this issues ask about how to use/inject secrets in your application, its in the referenced document:
https://docs.microsoft.com/azure/service-fabric-mesh/service-fabric-mesh-howto-manage-secrets#modify-mesh-application-to-reference-mesh-secret-values

"
Service Fabric Mesh applications need to be aware of the following two strings in order to consume Secure Store Service Sec

[2018-12-14 23:44] Alberto-Vega-MSFT commented on #20747
@djmolny Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-14 23:45] #20360 closed

[2018-12-14 23:52] iainfoulds commented on #18598
Thanks for the feedback. That does make sense, but it's also not the default behavior that ensures there shouldn't be overlap with any existing resources deployed. That's why there's a random naming convention, and we don't clash with existing resources.

For others referencing this and like the named approach, you can add the `--name` parameter to the `helm install` commands and specify a preferr

[2018-12-14 23:57] #18598 closed

[2018-12-15 00:03] iainfoulds commented on #20741
I don't know of a way to tag the underlying Azure resource that gets created from within the PVC manifest, no. The latest Kubernetes 1.13 API ref doesn't indicate anything - https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#persistentvolumeclaim-v1-core.

For manual assignment of disks, you tag them at creation time. For the ability to tag dynamic creation of disks via the YAML

[2018-12-15 00:06] Alberto-Vega-MSFT commented on #20756
@langstonj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-15 00:18] MarileeTurscak-MSFT commented on #20749
@mganeshphani
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 00:34] femsulu commented on #20752
@AdamGrossTX Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-15 00:36] femsulu commented on #20728
@henriquebrisola Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-15 00:41] MicahMcKittrick-MSFT commented on #20741
Thanks @iainfoulds. I was figuring as much since I could not find a way to get it to work in any of my tests. Always appreciate the help :)

@jdogg89 so to simply answer your question, no you cannot do this. As Iain mentioned you can leave that product feedback in the link he provided. I think that would be a nice feature to have. If you leave that feedback please share the link so I can also upvo

[2018-12-15 00:41] #20741 closed

[2018-12-15 00:51] carterwilliamson opened #20758 "Firewall Rule "name" must be AllowAllAzureIps AND startIP, endIP = 0.0.0.0 to allow access from Azure services"
I've confirmed this with Azure functions. I used the name "azure" and 0.0.0.0 for both start and end IP. This appears to work in the portal it shows the Connection Security -&gt; Allow access toggle is marked as "Enabled". However I get an error when I run my app saying that the IP isn't allowed. After changing the rule name to AllowAllAzureIps it seems to work.

Using Azure functions (Windows, No

[2018-12-15 01:42] cmeyertons commented on #18598
Okay, although I would argue using good practices in the docs (such as naming your releases for maintainability) outweighs brevity.

To newbies, it could encourage bad practice. To intermediate/experts, it lowers trust in the docs that they are written with best practices in mind. Just food for thought.

Thanks,
Carl Meyertons

[2018-12-15 02:14] matejskubic commented on #8840
PowerShell command should be simplified, so user can execute it with one step.

[2018-12-15 02:39] BryanTrach-MSFT commented on #20621
@austvik With a traditional web app you are able to consume up to 20 instances. If you used 20 four core instances, that would be 80 cores per App Service Plan as the limit.

Using an App Service Environment, you can have up to 100 four core instances for a maximus of 400 cores for your App Service Environment.

We will now proceed to close this thread. If there are further questions regarding thi

[2018-12-15 02:39] #20621 closed

[2018-12-15 02:44] femsulu commented on #20728
@henriquebrisola, I successfully initated a pull request to fix this. The fix will be live soon. Thanks again for bringing this to our attention. Closing this issue as resolved.

[2018-12-15 02:44] #20728 closed

[2018-12-15 02:50] BryanTrach-MSFT commented on #20461
@farooqkh In the new Azure Media Services v3 API, the entity relationship have been rearranged to enable new scenarios. One of the things we changed was to move the Content Key, StreamingPolicy (formerly Asset Delivery Policy), and ContentKeyPolicy (formerly Content Key Authorization Policy) to be associated with the StreamingLocator.  Thus you can now create multiple StreamingLocators per Asset w

[2018-12-15 02:50] #20461 closed

[2018-12-15 02:53] jcortell opened #20761 "Save sometimes not working"
There's something odd about the "save" option. Sometimes it works, sometimes it does not. I believe when a required field is missing, and you click "save", it just shows the "saving progress" 3 dots endlessly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467c5737-af04-369d-b2a0-eaae886ad1d0
* Version Independent ID:

[2018-12-15 02:56] jcortell opened #20762 "Lead Management options that become required input"
Lead Management shows a few options for lead destination (Azure Table, Marketo, Salesforce, etc). Our CRM is none of those (we use another one, so I guess we have to leave it as "None"?). But if you select one of the options by accident, the "None" option disappears, and the selected option URL/ID/whatever become required fields... forcing you to start all over again.

[2018-12-15 03:32] TyMac opened #20763 "Url redundant"
In the "Next steps" portion of this document the "Create a function that runs on a schedule" points back to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5181c-002d-33bb-5e9d-02fad30a5d3c
* Version Independent ID: b771d6b5-00c9-4d0a-260e-c79cb3100d8b
* Content: [Create a function that runs on a schedule

[2018-12-15 03:56] BryanTrach-MSFT commented on #20216
@CarlosOnline Thank you for the feedback. We see what you are talking about in the doc.

As a result, we have reassigned the issue to the doc author to have them review the feedback and take action if necessary.

[2018-12-15 03:58] CelesteDG commented on #20356
Hello @carbo-will - Thank you for bringing this to our attention. I consulted with our feature team and I've updated the guidance to the following:

![image](https://user-images.githubusercontent.com/16906646/50038802-84c11580-ffda-11e8-9417-98e9809442b7.png)

This should go live on Monday, Dec 17th. Thank you.

[2018-12-15 04:03] BryanTrach-MSFT commented on #20494
@bbi-yggy Yes, the x-ms-client-principal deals with the user profile that is authenticated.

We have assigned the issue to the doc author to see if they would consider adding steps around using this value and to verify if the X-MS-Token-GOOGLE tokens are still valid.

[2018-12-15 04:20] BryanTrach-MSFT commented on #20753
@JoarGjersund Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-15 04:55] PramodValavala-MSFT commented on #20205
@eragonriddle This error is thrown when you have dependencies without manylinux-compatible wheels from PyPI. This [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#publishing-to-azure) talks about this in more detail.

The reason being that such dependencies are sure to work only if compiled in an environment similar to the one used when running on Azure.
Henc

[2018-12-15 05:56] mike-urnun-msft commented on #20763
Hi @TyMac

Thank you for reporting this issue! We will review and make any necessary changes.

[2018-12-15 06:01] bradyevans commented on #20742
OK Thanks

[2018-12-15 06:38] milleniumfish commented on #19699
I confirm the policy triggered - thank you!

[2018-12-15 06:38] #19699 closed

[2018-12-15 06:50] nineforty5 opened #20764 "Issue with source-uri"
The script fails because the uri needs to be in quotes. I was able to run successfully by changing the last line of the script from:

--source-uri $sas
to
--source-uri "`"$sas`""  (quote backtick quote $sas backtick quote quote)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3722ea76-d45a-6fe8-6cb2-de4ca7f90902
* Versi

[2018-12-15 06:51] urvishaseladiya commented on #20719
@AjayKumar-MSFT  I am reffering this particular document - 'https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-javascript-client-libraries'.

[2018-12-15 06:56] noobling opened #20765 "Computer vision failing to return a result"
I am not sure if this is normal but all my images do get get a caption because `result.description` is returning null in the `ResizeImage` function.

What I would like to know is if this is probably a mistake on my part or just computer vision is not reliable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1acd3de-471

[2018-12-15 07:32] xyz92 opened #20766 "Sendgrid using powershell"
Is it possible to sign up for a sendgrid account using a powershell command?

https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use

[2018-12-15 08:14] gintrona opened #20767 "azureml-sdk[automl] doesn't install tensorflow - version requirement not satisfied"
I got the following error when installing **pip install azureml-sdk[automl]**

Collecting scikit-learn==0.19.1 (from azureml-train-automl==1.0.2.*; extra == "automl"->azureml-sdk[automl])
  Using cached https://files.pythonhosted.org/packages/f5/2c/5edf2488897cad4fb8c4ace86369833552615bf264460ae4ef6e1f258982/scikit-learn-0.19.1.tar.gz
Collecting wheel==0.30.0 (from azureml-train-automl==1.0.2.*; e

[2018-12-15 08:30] DavidBerg-MSFT commented on #19972
Basic A Series is a low performance previous generation VM.  The ACU rating is ~55 for a Basic A0 and ~80/core for a Basic A1-A4.  We would recommend one of our more current VMs (e.g. B-Series or Av2), especially for anyone concerned with performance.

[2018-12-15 09:52] shortPause opened #20768 "The First Install command doesn't works at all"
Getting Error while running the Install Command:

PM&gt; Install-Package Microsoft.Azure.Management.Fluent
Install-Package : Unable to find package 'Microsoft.Azure.Management.Fluent' at source ''.
At line:1 char:1
+ Install-Package Microsoft.Azure.Management.Fluent
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception

[2018-12-15 10:31] ChiragMishra-MSFT commented on #20529
@thananstr Where are you deploying your web sevice ? CORS needs to be enabled on the web service end and it has nothing to do with the client.

[2018-12-15 10:39] lasekg opened #20769 "Problem when creating IoT Edge module project"
Hi, when going through "Create a new solution" command is executed:
dotnet new aziotedgemodule -n "CSharpModule" -r &lt;docker addres&gt;
I get error "No templates matched the input template name: aziotedgemodule.". How can I add this template? I have added all extensions and prerequisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-12-15 12:10] rs38 commented on #17820
I tried "Repair and reset the app" and now it eventually works!!!

 Select the Start  button > Settings  > Apps > Apps & features. Select Edge, and then select Advanced options. On the page that opens with information about Edge, select Repair. when repairing the app doesn't fix the problem, select Reset.

For some other reasons Edge is getting slower and slower and I have trouble with other "rich

[2018-12-15 12:10] #17820 closed

[2018-12-15 13:19] appsembly-team opened #20770 "Very old github repository"
Please update the example code posted at github. The code on the page is different from the github link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e09ab536-6800-346d-2381-789441ecdff7
* Version Independent ID: 3f6d5c0b-f6c7-77d6-3f98-0132766eda55
* Content: [Use Azure Media Services to deliver DRM licenses or AES k

[2018-12-15 15:38] wolterOnEntocare opened #20771 "Access Business Central instance with the applications indentity"
I would like to build an application that accesses our Business Central instance with the applications identity, and I am seeking guidance on this page.
However, all examples presented here, of access based on applications identity are about accessing a windows service owned by me. I would like to see also a working example about accessing a microsoft-owned multi-instance service like Business Cen

[2018-12-15 17:44] SaurabhSharma-MSFT commented on #20766
@xyz92 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 17:47] SaurabhSharma-MSFT commented on #20765
@noobling Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 17:50] SaurabhSharma-MSFT commented on #20762
@jcortell To assist you better on your query could you provide us with the link to the document you are referring to ?

[2018-12-15 18:06] yadcam opened #20772 "Site to view Azure AD Connect Health Notifications"
Microsoft Internal Here:

Wouldn't it be better to clear that the AAD Connect Health does not have a portal, but that it is a blade inside the Azure Portal?

Please contact me for further explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79ab2bbb-4adc-3106-c8dc-3462cc23c587
* Version Independent ID: 8fa8f32e-c

[2018-12-15 18:07] SaurabhSharma-MSFT commented on #20770
@appsembly-team Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-15 18:13] SaurabhSharma-MSFT commented on #20758
@carterwilliamson Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:13] SaurabhSharma-MSFT commented on #20761
@jcortell Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:14] MicahMcKittrick-MSFT commented on #20764
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-15 18:14] SaurabhSharma-MSFT commented on #20764
@nineforty5 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:15] MicahMcKittrick-MSFT commented on #20768
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-15 18:15] SaurabhSharma-MSFT commented on #20767
@gintrona Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:17] SaurabhSharma-MSFT commented on #20769
@lasekg Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:19] Fodsuk opened #20773 "indicate that you need to publish to the eventgrid domain endpoint (not the topics endpoint)"
"Publishing events to a domain is the same as publishing to a custom topic. The only difference is that you need to specify the topic you wish each event to go to. "

additional difference is you need to point the json to the eventgrid domain's endpoint, https://&lt;your-eventgrid-domain-name&gt;.&lt;region&gt;.eventgrid.azure.net/api/events  this can be found with az eventgrid domain list

---
##

[2018-12-15 18:19] Fodsuk commented on #20773
post the json*

[2018-12-15 18:38] SaurabhSharma-MSFT commented on #20772
@yadcam Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-15 18:39] SaurabhSharma-MSFT commented on #20771
@wolterOnEntocare Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-15 18:39] msftbrian opened #20774 "Grammer"
Managed Instance enable system administrator to focus on what matters the most for business.  **Unclear language**

If you plan to migrate **encrypted database** (an encrypted database or encrypted databases) using native restore, migration of the existing TDE certificate from the SQL Server on-premise or SQL Server VM to Managed instance is a required step.

Managed Instance **has THE same** auth

[2018-12-15 18:43] SaurabhSharma-MSFT commented on #20476
@gsaravanan20  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-15 18:43] #20476 closed

[2018-12-15 18:43] SaurabhSharma-MSFT commented on #20539
@agrabhi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-15 18:43] #20539 closed

[2018-12-15 18:44] SaurabhSharma-MSFT commented on #20564
@CodyRaffy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-15 18:44] #20564 closed

[2018-12-15 20:07] johndeu commented on #20216
Thanks @CarlosOnline, I'm working with them team to fix that.... should have been caught earlier.

[2018-12-15 20:44] jcortell commented on #20762
https://cloudpartner.azure.com/#publisher/kanteronsystems/offertype/microsoft-webapps/offer/kanteronplatform/form/offerSettings

[2018-12-15 20:54] Alberto-Vega-MSFT commented on #20453
@HenrikBach1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-15 20:54] #20453 closed

[2018-12-15 21:36] SaurabhSharma-MSFT commented on #19379
@sergiusignacius

[2018-12-15 21:37] #19379 closed

[2018-12-15 21:37] SaurabhSharma-MSFT commented on #20002
@Liversage We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-15 21:37] #20002 closed

[2018-12-15 21:38] jdogg89 commented on #20741
@iainfoulds @MicahMcKittrick-MSFT I Created the feature request/product feedback, your vote is appreciated! https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/36291130-auto-generated-tags-via-deployment-manifests.

[2018-12-15 21:41] Anmolgan81 opened #20789 "Issue with identity columns should be listed?"
I see the below issue when I try to run the migration, I dont see this listed anywhere here? is this a know issue?

"Failed to execute statement: 'SET IDENTITY_INSERT [dbo].[MonitoringType] ON'",

"RetCode: SQL_ERROR  SqlState: 42000 NativeError: 8107 Message: [Microsoft][SQL Server Native Client 11.0][SQL Server]IDENTITY_INSERT is already ON for table '823047(Online-mig).dbo.D_ScanFiles'. Cannot

[2018-12-15 22:32] toffolom opened #20792 "Session ID"
it appears to me that SessionID is equivalent to a 'topic' or phrase to watch for as a receiver/listener...fine. Which leads me to appreciate that the sender and recv'r have some kind of mutual understanding of what ea. is doing.  Soooooo…..Can the session info/structure be controlled as a sender to indicate a preferred 'receiver' for the message content...or...can session creation be bound to a r

[2018-12-15 22:38] toffolom commented on #12215
a bit late here....
is there an answer to this question!? My guess is the client implementation spoken of is larger in context and actually supports services like polling and event delivery to act upon...

[2018-12-15 22:43] javieracrich opened #20793 "typo"
Cost Analysis repot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9816fa9f-fd9e-1cb9-c5b8-ab27497ae30b
* Version Independent ID: e29df8a1-1a68-593f-43e9-32c4a335d638
* Content: [Use Cloudyn reports in Azure](https://docs.microsoft.com/en-us/azure/cost-management/use-reports)
* Content Source: [articles/cost-management

[2018-12-15 23:17] #20205 closed

[2018-12-16 04:47] MohitGargMSFT commented on #19593
@mangeshparanjape We will now proceed to close this thread. Thanks.

[2018-12-16 04:47] #19593 closed

[2018-12-16 04:49] MohitGargMSFT commented on #20558
@jl101 As per our discussion on email, I will move ahead and close this issue now. Thanks.

[2018-12-16 04:49] #20558 closed

[2018-12-16 04:49] #20569 closed

[2018-12-16 06:45] mike-urnun-msft commented on #20773
Hi @Fodsuk

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-16 06:46] mike-urnun-msft commented on #20792
Hi @toffolom

Thank you for your feedback! We will review and update as appropriate.

[2018-12-16 06:55] elproducto opened #20801 "Directory Browsing"
I would like to host static files & directories that need to listed in the same way IIS Directory Browsing feature work.   Is there anyway to enable Directory Browsing using Azure Static Website?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-

[2018-12-16 07:53] thananstr commented on #20529
@ChiragMishra-MSFT I deployed it from Azure Machine Learning Services (I followed this guideline [link](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#aci). But the guideline doesn't provide me a way to add header like `"Allow-Control-Allow-Origin": "*"` to the web service.

[2018-12-16 09:57] mohmdnofal opened #20802 "fix typo in "What is the max pods per node setting for AKS?" section"
replace "–max-nodes-per-pod" flag with "--max-pods" flag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55fe52d9-5526-de32-7e16-3e3207fc8aef
* Version Independent ID: 28d7cd54-bc74-5a08-684d-5d64ea589750
* Content: [Troubleshoot common Azure Kubernetes Service problems](https://docs.microsoft.com/en-us/azure/aks/troub

[2018-12-16 09:58] sethreidnz opened #20803 "Instructions of Databricks Runtime selection is not possible"
In the instruction it tells you to create a specific Databricks runtime version that is no actually available in the drop down 4.0. This is the current dropdown options:

![image](https://user-images.githubusercontent.com/4713713/50052246-0e4c2100-015c-11e9-9e73-6cc5be4c93a1.png)

I'm guessing that it should say >= 4.0 and < 5?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-12-16 10:06] mohmdnofal opened #20804 "Fix the text in the "insufficientSubnetSize""
the description is a bit confusing, i would suggest the below:

If Custom VNET option is selected for networking during AKS cluster creation, the Azure CNI is used for IP Address Management (IPAM). Depending on the "max-pods" per node configured, AKS will preallocate the IPs per node. on the other hand, the number of nodes in an AKS cluster can be anywhere between 1 and 100. Based upon the above t

[2018-12-16 10:09] mohmdnofal opened #20805 "add more info to "CrashLoopBackOff""
In https://docs.microsoft.com/en-us/azure/aks/troubleshooting#my-pod-is-stuck-in-crashloopbackoff-mode-what-should-i-do

please add the below:
for more information please check the following link https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/#debugging-pods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-12-16 10:14] mohmdnofal opened #20806 "Link in dashboard section"
In https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/#debugging-pods

i think we should re-write the instructions in the docs instead of providing the blog link as we have no control over this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55fe52d9-5526-de32-7e16-3e3207fc8aef
* Version I

[2018-12-16 10:34] Jlujan7 opened #20807 "Not Exactly Sure..."
I am presently studying affiliate and e-commerce marketing and  have been provided with tools, access to data bases and software. Azure has some fascinating features and most of them interest me but I must stay on track...   Affiliate and e-commerce marketing in the US and approved countries..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-12-16 10:35] girishgouda opened #20808 "i am getting the following issue when following this document."
"statusMessage": "{\"status\":\"Failed\",\"error\":{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"message\":\"pulling image \\\"AzureContainerRegistryDemo1.azurecr.io/samplewebappgirishtesting:acr\\\";Failed to pull image \\\"AzureContainerRegistryDemo1.azurecr.io/samplewebappgirishtesting:acr\\\":

[2018-12-16 11:07] pugillum commented on #17880
Apologies for the slow reply, the workaround was to use Pillow instead of Open CV.  Issue can definitely be closed. :)

[2018-12-16 13:40] SaurabhSharma-MSFT commented on #20807
@Jlujan7 As this is platform is to assist with documentation issues, to assist you better on your query could you provide your ask for any documentation issues or enhancement ?

[2018-12-16 13:41] SaurabhSharma-MSFT commented on #20793
@javieracrich Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-16 13:50] SaurabhSharma-MSFT commented on #20789
@Anmolgan81 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 13:51] SaurabhSharma-MSFT commented on #20774
@msftbrian Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 13:58] SaurabhSharma-MSFT commented on #20803
@sethreidnz Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-16 14:01] SaurabhSharma-MSFT commented on #20801
@elproducto Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-16 14:09] SaurabhSharma-MSFT commented on #20758
@carterwilliamson Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 14:12] SaurabhSharma-MSFT commented on #20808
@girishgouda Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-16 14:13] SaurabhSharma-MSFT commented on #20802
@mohmdnofal Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-16 14:16] SaurabhSharma-MSFT commented on #20806
@mohmdnofal Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 14:17] SaurabhSharma-MSFT commented on #20804
@mohmdnofal Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 14:18] SaurabhSharma-MSFT commented on #20805
@mohmdnofal Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-16 15:07] ravikiran-srini opened #20809 "allow access to azure services"
Does "allow access to azure services" mean access to my db from any service/vm created by any azure user in any subscription in any Azure AD? If so, why would azure do that? Shouldn't this option be restricted only to the azure services that enable the features of azure db (like for example, import/export)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-16 15:12] carterwilliamson commented on #20758
Turns out I was wrong in this. I'm still getting the following error.

`Failed to submit request. Reason: no pg_hba.conf entry for host "51.143.102.21", user "<dbAdmin>", database "<dbname>", SSL on`

I'm using automation to create a PostgresDB and hook it up to an Azure Functions App. I consistently get this error. I can fix this by going into the Azure Portal and turning off the `Allow Access to

[2018-12-16 15:44] rkarlin commented on #20182
@nromyn In fact you're right, this has always been a per-user setting. Can you please help me understand what in my article gave you a different impression? what would you like me to change? thanks!

[2018-12-16 15:56] rkarlin commented on #8840
Hi @matejskubic Thanks for your feedback, I'll pass it along to the team.

[2018-12-16 16:58] wooters opened #20810 "Inconsistency in the examples"
The display form "cntk" has the spoken form "see n tea k" in the first table and "c n t k" in the Notepad screen shot.

The display form for the first entry in the initial table is "c3po" whereas in the Notepad screen shot it is "3cpo". (I'm guessing these were meant to be the same?) And the spoken forms of these two are different. In the first table it's "see three pea o" and in the Notepad scree

[2018-12-16 17:14] wooters opened #20811 "Confusing wording"
The first sentence in the section titled "Requirements for the display form" is a little confusing. It says, "A display form can be only a custom word, a term, an acronym, or compound words that combine existing words." What is `a term` in this context? Would it be sufficient to just say, "... can be only a custom word, an acronym, or compound words that ..."?

Also, the second sentence, "You can

[2018-12-16 17:19] wooters commented on #20811
I just noticed that at the end of the first sentence, in the first paragraph, it says, "a word or term". It's not clear (to me at least) what the difference is between a `word` and a `term`. Is there a technical difference between these two things? If so, it might be good to explain that.

[2018-12-16 17:29] wooters opened #20812 "Missing "n" (and "m") for en-US supported characters?"
In the example for "CNTK" the spoken form uses the character "n". But in the list of supported pronunciation characters "n" is not shown (and neither is "m").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ab661b-de71-2baf-2ae6-2b4e875107df
* Version Independent ID: 966ec357-e9ff-2e2c-1027-ceda734d3a73
* Content: [Cu

[2018-12-16 17:32] jgallucci32 opened #20813 "Support for Network Security Groups"
The documentation says "Not Supported" for Network Security Groups. We are running version 1809 and I can confirm Network Security Groups are supported. We have numerous applications deployed with NSGs attached to them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5972fd-29f4-2643-56d4-98f845a132e6
* Version Indepe

[2018-12-16 18:22] jochem4207 opened #20814 "Merge conflict"
There is a merge conflict in this file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-us/azure/azure-monitor/overview)
* Content Source: [articles/azure-m

[2018-12-16 19:00] bdimag opened #20815 "Crash on startup, new NV6 instance with Windows 10 Pro 1809"
Stop code: SYSTEM SERVICE EXCEPTION on startup after installing Nvidia drivers, either manually or with the GPU Driver Extension.

Standard_NV6
Windows 10 Pro, Version 1809
411.81_grid_win10_server2016_64bit_international.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version

[2018-12-16 19:02] plzm opened #20816 "A few small issues"
This doc says summarizedInsights has a "shortId" property. The JSON emitted by https://api-portal.videoindexer.ai/docs/services/operations/operations/Get-Video-Index? has an "id" property, no "shortId".

There is no sample JSON in this doc for summarizedInsights statistics facet. Also, this document mentions a statistics "WordCount" property but what is emitted from the API at https://api-portal.v