[2018-08-02 10:01] nabhishek commented on #12253
@gstream1 ADF custom activity uses auto-user -> NonAdmin privilege for running the tasks. Yes we will update this in the Document as well. Thanks for the suggestion.

[2018-08-02 10:11] brumbarlow opened #12758 "V-net to V-net connectivity between two regions - Not required ?????? (Single ADFS Farm / WID)"
In the content, it states "You do not need to have connectivity between the virtual networks itself. Since each virtual network has access to domain controllers and has AD FS and WAP server in itself, they can work without any connectivity between the virtual networks in different regions."

However, In most scenarios, ADFS is part of a single domain, Single UPN used for O365.  In this instance yo

[2018-08-02 10:37] antogh commented on #12074
@Zir01  thanks for saving me the time to do the test. I will try to remove the tools and install them again to see if finally the service name will be resolved. Must be something trivial missing because it seems that others succeeded running the demo...

[2018-08-02 10:47] aelij opened #12759 ""all" permission no longer available for Secrets and Keys"
Please document an alternative

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 962e9ebe-e97f-7a56-03a4-33662454bdfe
* Version Independent ID: 7fda1b8c-67e2-a304-1f17-bfd5a0422766
* Content: [About keys, secrets and certificates](https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates?redirec

[2018-08-02 11:08] gogbg opened #12760 "Terminology clarification"
With the introduction of the Billing APIs, there are 2 new terms I found out, for which I cannot find clear description.
These are:
EnrollmentAccount
BIllingAccount

could you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4afec9fd-3771-8e44-149f-b2695abfd544
* Version Independent ID: 1ff4d69d-179a-bc06

[2018-08-02 11:41] #12092 closed

[2018-08-02 12:08] henriquemendesc opened #12761 "How to have a JSON output instead of plain text, in the IOS template, in the notification hub?"
I apologize if I opened in the wrong place the doubt, but, nowhere else do I respond and the documentation I found, does not explain about.

I have an IOS template that is registered by the device, using the "simpleAPNSTemplate" ... with the parameter `"$ (messageParam)"`.  My backend, in C #, replaces this parameter with a JSON, with various items like Notification Id, Description ...
In android,

[2018-08-02 12:10] PANKAJMAHRA opened #12762 "System Table"
In Azure SQL Database, Under System Table there is only master Database.

But in my system SQL Databases I get master, model, msdb, tempdb.

Actually I need sysssislog Table to track log of SSIS package.

[2018-08-02 12:10] cocosnuss opened #12763 "Lost Connection to IoT Hub after 30 minutes"
Hello,

I followed your article and I my sensor is able to send data to my IoT Hub but after 30 minutes it stopps with the following error messages (I removed the time and path to make it easier to read):

Error: [...]Arduino\libraries\AzureIoTUtility\src\adapters\tlsio_arduino.c Func:tlsio_arduino_send Line:378 TLS failed sending data
Error: [...]Arduino\libraries\AzureIoTProtocol_HTTP\src\azure_

[2018-08-02 12:25] sarathlalsaseendran commented on #12565
Hi Jason,
It is working fine for Direct Query. But while importing the data (for huge dataset, we tried with 70 millions record (1 table only) and got error.
Same error occurred in SSDT 2017 also.

[2018-08-02 12:38] JensPeterC commented on #5728
I'm also confused. The note in the blue box above explicitly says:
"Storage Service Encryption is not available for Azure Managed Disks.", but the linked page (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview) says: "SSE is enabled by default for all Managed Disks".
Which is right?

[2018-08-02 12:52] unt1tled opened #12764 "Conditions is deprecated since schema version 2016-06-01"
I'm trying to get the Location header from an initial 202 statusCode returned after a POST, but the HTTP action auto redirects without making previous header values available. I tried to have my next action proceed as soon as the 202 response using the conditions on the HTTP action, but its implementation no longer available.

EDIT: For those attempting to to catch the 202, you have to disable asy

[2018-08-02 13:04] marinnedea opened #12766 "Can't login with AADLoginForLinux extension on linux VM"
Keep getting this error in /var/log/secure:

Aug  2 12:10:06 mnAADrhel74 sshd[2729]: pam_aad(sshd:auth): CURL: Failed to call http://169.254.169.254/metadata/instance/compute?api-version=2017-08-01 (7)
Aug  2 12:10:08 mnAADrhel74 sshd[2727]: error: PAM: System error for my_username@mydomain.com from 167.*.*.*
Aug  2 12:10:08 mnAADrhel74 sshd[2727]: Connection closed by 167.*.*.*  port 51472 [preau

[2018-08-02 13:14] AjitBhosale opened #12767 "ASA job take time to start and stop."
Scenario -
I am using ASA for rule break notification and creating/updating ASA jobs on run time. e.g. - If anyone create/update sensor rule(e.g.- Temperature < 40) from web portal than in backend i am creating/updating ASA job through ASA .Net SDK.

Issue -
Processing time to create->start for new ASA job and stop->update->start for existing ASA job take more than 2-3 minutes, some time it take m

[2018-08-02 13:18] jrichview commented on #11338
Thanks, G2. Here's the issue, though. I created my Function in VS2017 (because VS is the development tool I've been using for decades) and deployed it. Everything is fine, but there's no NUGET package for App Insights installed.

When I then view my Function in the portal there's a link under the Overview tab for "Application Insights", and that takes me to an Overview blade. So it looks like it g

[2018-08-02 13:37] LittleColin opened #12768 "No "Extract fields from" option available in Azure Log Analytics"
I've followed the steps against logs coming from our ACS Kubernetes cluster (which I can query and see) but there is no option to Extract fields from. The ellipsis to the left of the field where the field name is grey shows "Show references to '&lt;my log message&gt;'" which simply filters the entire search by my log message text. For fields that are hyperlinked, these have the option to: filter,

[2018-08-02 13:40] rajbos opened #12769 "Link issues to Log Search API document"
Both these pages link to Log Search API with a link that returns a 404:

[code]
* https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/log-analytics/log-analytics-overview.md (bottom)
* https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/log-analytics/log-analytics-log-search.md (second paragraph)

I cannot find that page anywhere, so don't know the correct link.

[2018-08-02 13:42] Badabum opened #12770 "Claim "appidacr" is missing in id_token issued for signed-in user"
Hi, seems like there is no more "appidacr" claim in id_tokens issued for users. Previously it was present for both users, and clients signed in with clientId and client secret. Now it's present only for the latest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2906fe9e-319d-3625-441d-d28c9251b450
* Version Independent

[2018-08-02 14:14] jdogg89 opened #12771 "Internal loadbalancer connectivity problems and standard sku questions"
Hello, the examples given above only create an internal load balancer with a basic SKU, is there a certain annotation to build a custom sku? I have an AKS cluster with advanced networking, using the internal load balancer as an ingress from my vnet/network extended from on-premise into my cluster. The internal load balancer works just fine, and inter-cluster activity works just fine, but when I tr

[2018-08-02 14:32] marinnedea commented on #12766
Same issue is present on Ubuntu, using the instructions on articles/virtual-machines/linux/login-using-aad.md (just copy/pasted the commands as they are).
The log entry is identical.
I deployed also another VM via portal and did the whole setup via Azure Portal, with identical results.
Installing the extension via AzCLI on exiting VM added also a /etc/ssh/sshd_config problem - double entry with:
C

[2018-08-02 14:34] JefTek opened #12772 "Confusing statement on switching sourceanchor for new or existing installations"
The docs state "Currently, the feature can only be enabled during new Azure AD Connect installation only." but later provide guidance on using the setup wizard to change an existing installation.   Perhaps update that statement to call out it can be set during an initial install, and or an existing installation, and then have the sections show up in the content anchors on the right hand navigation

[2018-08-02 14:44] ArneVlietinck opened #12773 "How to specify the route to the gateway?"
I want to create a 'hierarchy' of edge devices and using therefore the gateway mechanism. For the moment the gateway is just a transparant gateway, which passes the messages to the IoT Hub. (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux).

Situation: I have two edge devices, say 'Sensor' and 'Gateway'. How do I specify the route in the deployment that the

[2018-08-02 14:53] ArneVlietinck opened #12774 "Limit of modules inside Edge device."
Is there a strict limit of modules inside an edge device?
The IoT Hub specifies: "A device may host up to ten modules." If this is a strict limit are the $edgeAgent and $edgeHub included in this ten modules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50

[2018-08-02 14:57] awgraf opened #12775 "Documentation out of date"
Looks like the "Users and Groups" object has changed to "Users" & "Groups" as seperate entities. Along with that the button titles have changed during group creation from "New" to "New Group". Also the documentation does not discuss or show any sign of "Group Type".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c77e2d

[2018-08-02 15:00] ilyas-it83 opened #12776 "Allow the creation of smallest size of Cloud Deployment for learning and testing scenarios"
Article :  https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/deployment-setup-configuration

As per the log below, i 'm trying to create a smaller ML cluster deployment for testing purposes, but i observed few issues.

1. The Agent node must be in HA mode and it mandates more than 1 which is understandable, but for testing or learning, its overkill and not dollar friendly
2

[2018-08-02 15:00] vhorne commented on #11894
#please-close

[2018-08-02 15:11] vhorne commented on #11913
@tzaxer0229
The minimal subnet size is /25 because this keeps at least 128 addresses for the firewall to use. This is required to support unlimited scaling.

[2018-08-02 15:11] Noambi commented on #12694
@TravisCragg-MSFT

Yes, unable to create M32ms with accelerated networking
Here is the error:
_ErrorMessage: Virtual Machine size Standard_M32ms is not in the allowed list of VM sizes for accelerated networking to be enabled on Network Interface
Allowed sizes: Standard_D3_v2,
Standard_D12_v2, Standard_D3_v2_Promo, Standard_D12_v2_Promo, Standard_DS3_v2, Standard_DS12_v2, Standard_DS13-4_v2, Standa

[2018-08-02 15:16] remyblok opened #12777 "Unclear what bool() does"
I think the documentation of the function bool is not very clear. The input of the method is 'any', so anything is allowed. But only a example is given for int 1 and 0. What I think are the most common scenario's would be:
- Converting string values "true"  and "false" to boolean
- Converting empty string and non-empty to boolean
- What happens if you put an object { } in it, does it matter if it

[2018-08-02 15:24] zaxer0229 commented on #11913
Hi Vic,

Thank you very much!
I will discuss with my customer for preparing the POC of Azure Firewall.
Another suggestion is.

It's really complicated if we deploy NSG(VM and Subnet) and Azure firewall
in the same region, need to setup the same rules in multiple component.

Oscar

2018-08-02 23:13 GMT+08:00 Vic <notifications@github.com>:

--
Best Regards
Oscar Chen
陳柏鍠

[2018-08-02 15:35] Mike-Ubezzi-MSFT commented on #12754
@IDovgalyuk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 15:43] bacongobbler opened #12779 "SERVICE_PRINCIPAL_NAME should be given a unique name"
In the documentation, it does not mention that the service principal name has changed to a globally unique name. If you run the script as-is, you get a pretty cryptic error:

[code]

It should be noted in the documentation that you need to change the service principal name before this script will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-02 15:48] Mike-Ubezzi-MSFT commented on #12763
@cocosnuss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 15:49] jdogg89 commented on #11654
@iainfoulds I want to create an ingress controller for my AKS cluster that has an external IP, of an IP within my vnet, not the public internet, this seems like a pretty standard use case that isn't being covered in your documentation. (use case being I want to expose my cluster to different things within my network but not the open internet) I have found the following command which I understand w

[2018-08-02 15:52] #12727 closed

[2018-08-02 15:52] chensquared commented on #12727
Issue resolved

[2018-08-02 15:55] Mike-Ubezzi-MSFT commented on #12773
@ArneVlietinck Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 15:58] mattchenderson commented on #12157
This feature doesn't yet exist, but it's something we're working on. No ETA right now.

[2018-08-02 15:59] Adam-Smith-MSFT commented on #12745
@zxsaunderszcs
We will now proceed to close this thread since no details were provided. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 15:59] #12745 closed

[2018-08-02 16:00] mrbullwinkle commented on #12399
@johndowns thank you for the added info about your use case. Unfortunately at the moment there isn't an ARM template for the continuous export functionality.

The PowerShell commands are C# with a PowerShell wrapper. Short term I am not sure if the raw C# is at all helpful versus the PowerShell, but in case this is of any use you can view the [C# code here](https://github.com/Azure/azure-powershel

[2018-08-02 16:01] Adam-Smith-MSFT commented on #12761
@henriquemendesc Could you provide us with the link to the documentation you were referring to ?

[2018-08-02 16:02] Adam-Smith-MSFT commented on #12762
@PANKAJMAHRA Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 16:03] Adam-Smith-MSFT commented on #12769
@rajbos Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 16:03] ggailey777 commented on #12157
@johndowns please track the progress of this feature request [here](https://feedback.azure.com/forums/355860-azure-functions/suggestions/14634717-add-binding-to-key-vault). Since there is currently nothing to document, #please-close.

[2018-08-02 16:11] Adam-Smith-MSFT commented on #12776
@ilyas-it83 Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 16:13] Karishma-Tiwari-MSFT commented on #12157
@johndowns Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 16:13] #12564 closed

[2018-08-02 16:13] #12157 closed

[2018-08-02 16:16] #12616 closed

[2018-08-02 16:20] Karishma-Tiwari-MSFT commented on #12757
@asgasos Thanks for your feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-02 16:25] Karishma-Tiwari-MSFT commented on #12766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 16:27] jason-j-MSFT commented on #12532
Thanks for the discussion and tips, everyone.  Unless we have suggestions on changes to the documentation, I would suggest we take the conversation to the forums:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices

If this is an issue with Analysis Services, we can bubble that up through the forums and also the Analysis Services feedback portal:
https://feedback.azure.

[2018-08-02 16:27] #12532 closed

[2018-08-02 16:27] Karishma-Tiwari-MSFT commented on #12046
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 16:27] #12046 closed

[2018-08-02 16:35] Mike-Ubezzi-MSFT commented on #12749
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon but, I did want to clarify where you are seeing the 'up to 408 GB memory' statement, as I am not seeing this in the document itself. Thank you, Mike

[2018-08-02 16:35] #12526 closed

[2018-08-02 16:37] Karishma-Tiwari-MSFT commented on #12675
@OzBob Can you please share the details needed to help understand the issue better, as shared in the comment above.

[2018-08-02 16:38] Mike-Ubezzi-MSFT commented on #12748
@johndowns Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 16:41] Mike-Ubezzi-MSFT commented on #12774
@ArneVlietinck Thanks for the feedback! I have assigned the issue to the content author to provide feedback and possibly update the documentation as appropriate. Thank you, MIke

[2018-08-02 16:51] johndo88 opened #12780 "Click to learn more about pricing (I know, not your doc) and you get pricing in a foriegn currency."
Click on the link in this doc to learn more about Azure pricing and you find that the prices are not in US dollars. I know that the author of this doc is not responsible for the content in the pricing link, but this is the only place where I could find to send feedback.  Cheers, John.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-08-02 16:53] EriksonBahr opened #12781 "default windows' images layers are pre-uploaded?"
The layers from the windowsservercore, for example, are already stored in the registry or these layers are also counted in my storage? I ask that becase usually windows containers images are usually big, and most of the space consumed on the containers are from windows itself - the layers from my own-purpose-use are less than 10% of the size.

How does it behave?

---
#### Document Details

⚠ *Do

[2018-08-02 16:56] Adam-Smith-MSFT commented on #12585
@elangelo You can if it's documentation related, we then fix the documentation or we route customers to forums to help them in troubleshooting the issue. when it's related to documentation, we require the link in reference since it contains the "raw data", which includes the author, the service name etc... this information is essential for engineers to route your issue to the appropriate pool when

[2018-08-02 16:57] henriquemendesc commented on #12761
Link:

https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-cross-platform-notification

[2018-08-02 17:01] Adam-Smith-MSFT commented on #12700
@jackting73 I just assigned @femsulu to help route your request to the appropriate group.

[2018-08-02 17:04] PeteBurgess opened #12782 "Can't Unregister ADFS Adaptor"
Upgrading from v 7.x to 8.01. I don't have "WindowsAzureMultiFactorAuthentication" or "AzureMfaServerAuthentication" as adaptors, only "AzurePrimaryAuthentication" and "AzureMFAAuthentication". Attempting to remove "AzureMAAuthenticaion" results in "Unregister-AdfsAuthenticationProvider : The 'AzureMfaAuthentication' authentication provider cannot be unregistered as it is internal to AD FS.".

---

[2018-08-02 17:10] tfitzmac commented on #12748
@johndowns - I haven't tried setting those values in a template, but it looks like they should be available if you use [2018-05-01-preview](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2018-05-01-preview/EventGrid.json).

[2018-08-02 17:15] Karishma-Tiwari-MSFT commented on #12618
@petertiedemann
A. If the node running the task is pre-empted, then those tasks are requeued and run again
B. The task can be automatically requeued by Batch for execution on another node.
@mscurrell please feel free to chime in and share your insights.

[2018-08-02 17:26] davidmu1 commented on #11779
Removed the out-dated images and added text to describe the process. Changed id_token to access_token in the description for the web api.

#please-close

[2018-08-02 17:28] SaurabhSharma-MSFT commented on #12660
@Camelonian We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 17:28] #12660 closed

[2018-08-02 17:37] praneetmsft opened #12783 "API Reference hyperlink doent work"
All the hyperlink for API reference does not work
DocumentClient.createDatabase
DocumentClient.readDatabase
Resource.setId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c3a450f-817b-2e71-3417-643517321d1f
* Version Independent ID: 32758837-5c8f-2cd6-0c16-15878c050f9f
* Content: [Azure Cosmos DB: Java examples for the

[2018-08-02 17:47] MarileeTurscak-MSFT commented on #12759
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-02 17:48] SaurabhSharma-MSFT commented on #12760
@gogbg Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-02 17:48] jason-j-MSFT commented on #12767
@AjitBhosale
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 17:48] MarileeTurscak-MSFT commented on #12758
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-02 17:48] SaurabhSharma-MSFT commented on #12770
@Badabum Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-02 17:49] jason-j-MSFT commented on #12768
@LittleColin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 17:50] Karishma-Tiwari-MSFT commented on #12751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 17:50] MarileeTurscak-MSFT commented on #12750
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-02 17:50] SaurabhSharma-MSFT commented on #12775
@awgraf Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-02 17:52] SaurabhSharma-MSFT commented on #12782
@PeteBurgess Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-02 17:53] MarileeTurscak-MSFT commented on #12752
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-02 17:54] SaurabhSharma-MSFT commented on #12672
@pekaynz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 17:54] #12672 closed

[2018-08-02 17:55] kobulloc-MSFT commented on #12399
@johndowns Echoing what mrbullwinkle has said, the best way to bring attention to this is to submit a request: https://feedback.azure.com/forums/357324-application-insights.  Please tag me in a reply here so that I can add my vote as well.

[2018-08-02 17:55] #12399 closed

[2018-08-02 17:57] curtand commented on #12648
This has been fixed or something, probably by the PM. It's no longer an issue.
#please-close
@SaurabhSharma-MSFT @pebarrer

[2018-08-02 17:59] Karishma-Tiwari-MSFT commented on #12779
Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-02 18:03] mmacy commented on #12779
Good call, @bacongobbler, will add clarification.

#in-progress

[2018-08-02 18:04] SnehaGunda commented on #12718
#please-close

[2018-08-02 18:05] SnehaGunda commented on #12314
#please-close

[2018-08-02 18:07] Mike-Ubezzi-MSFT commented on #12314
@nansravn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 18:07] #12314 closed

[2018-08-02 18:09] TravisCragg-MSFT commented on #11894
@frehnejc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-02 18:09] #11894 closed

[2018-08-02 18:10] SaurabhSharma-MSFT commented on #12648
@pebarrer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 18:10] #12648 closed

[2018-08-02 18:11] kobulloc-MSFT commented on #12559
@mrbullwinkle The link does appear to be broken, but it's unclear exactly where we intended to direct the reader here.

[2018-08-02 18:11] SaurabhSharma-MSFT commented on #12746
@In-FinIT Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-02 18:11] davidmu1 commented on #11781
Per engineering input, changed the paragraph to refer to refresh tokens:

The OAuth 2.0 authorization code flow is described in [section 4.1 of the OAuth 2.0 specification](http://tools.ietf.org/html/rfc6749). You can use it for authentication and authorization in most [application types](active-directory-b2c-apps.md), including web applications and natively installed applications. You can use the

[2018-08-02 18:13] rolyon commented on #12724
Hi @thuansoldier
This role appears to be still in preview, so it could be updated. However, I don't think the roleAssignments and roleDefinitions actions are missing. The role appears to be used for managing policies and not for managing role assignments.
#in-progress

[2018-08-02 18:17] Mike-Ubezzi-MSFT commented on #12762
@PANKAJMAHRA I see that you posted the same question out on MSDN via 2 separate threads:

[System Tables for Azure SQL Dataabse](https://social.msdn.microsoft.com/Forums/en-US/7a243819-1430-4453-871f-075900d4540e/system-tables-for-azure-sql-dataabse?forum=ssdsgetstarted)
[sysssislog table in Azure SQL Db](https://social.msdn.microsoft.com/Forums/en-US/65964e8e-d51f-4ef0-b41f-cc354e078785/sysssislo

[2018-08-02 18:25] BryanTrach-MSFT commented on #12764
@unt1tled, Thank you for the feedback. We have assigned the feedback to the doc author so they can determine if an update to the doc is necessary.

[2018-08-02 18:26] mike-urnun-msft commented on #12571
Hi @philippschaefer4 - We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 18:26] #12571 closed

[2018-08-02 18:27] mimig1 commented on #12353
@srmonson So we ran the sample for a three days and were charged $14 (see
![cost](https://user-images.githubusercontent.com/7747140/43601969-42cdebca-9654-11e8-96dc-7873a11483ea.jpg)). We found that the sample is not creating just one collection at 400 RU/s (which would cost less than a dollar a day) it's creating 4 collections at 400 RU/s because of the object mapping in the Mongo sample code. Mo

[2018-08-02 18:35] xocolatl-aficionado opened #12784 "Where are these XML files you're talking about?"
Please clarify where to find these XMLs that we are asked to modify.
I am working with a Node.js web app deployed to App Service. How does this doc help for that? Am I looking at the wrong doc, since I don't have any XMLs in the web project yet?

![image](https://user-images.githubusercontent.com/17209734/43603571-eb18be32-9658-11e8-988e-02e707b2469c.png)

---
#### Document Details

⚠ *Do not edit

[2018-08-02 18:45] TravisCragg-MSFT commented on #12743
@paulkel If you do not have a S2S VPN or Peering between the 2 Azure VNets, then Yes, you will be metered only for data leaving the datacenter.

If the 2 VNETs are peered, traffic should flow directly between them and no charges will occur.

[2018-08-02 18:45] Mike-Ubezzi-MSFT commented on #12783
@praneetmsft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-02 18:46] cgillum commented on #12620
Currently Python is an *experimental* language in Azure Functions which unfortunately means we cannot "officially" support it. This is why it's not documented. I do expect it will work for Functions v1, but we generally try to discourage customers from using our experimental languages for building apps.

[2018-08-02 18:48] Karishma-Tiwari-MSFT commented on #12629
@badalk Currently, AKS does not support deploying custom VM image as agent nodes. You can use ACS-Engine. Here is the link to open source version of ACS-Engine: https://github.com/Azure/acs-engine

[2018-08-02 18:54] SirDavidDias commented on #8172
Hi,

I have the latest version of Safari (11.1.2v - 08/02/18), but it doesn't load the portal.
Can there be another reason for this?

[2018-08-02 18:55] MarileeTurscak-MSFT commented on #12784
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-02 18:57] ilyas-it83 opened #12786 "Create a schema.json file for Azure ML fails when using JSON input"
As per the below article, i tried creating schema json using generic JSON input and received following error.

https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-service-deploy#2-create-a-schemajson-file

Input used
--------------
 input1 = '{ "machine": { "temperature": 31.16469009, "pressure": 2.158002669 }, \
     "ambient": { "temperature": 21.17794693,

[2018-08-02 18:58] petertiedemann commented on #12618
@Karishma-Tiwari-MSFT Thanks, so the conclusion is that re-queuing due to a node failure/pre-emption does not count as a retry then. I think it would be helpful to make that clear in the docs somewhere. I was very much in doubt about whether i would have to set max retry count to allow for pre-emption.

[2018-08-02 19:00] antogh commented on #12074
I managed to make it work , but with some kind of dirty hack. I replaced the service name "ToDoService" with the service container ip address. Dicover this ip is quite easy, just run 2 commands at command prompt:

**docker container ls** (will list the containers, copy the ID of todoservice container from here)
**docker container inspect todoservice_ID** (one of the last parameters is the IPAddres

[2018-08-02 19:02] alkohli commented on #12742
@DMoonesinghe Thanks for catching this! I have added the expanded form of the acronym. The change is in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/48067
I will let you know when the change goes live. Thanks!

[2018-08-02 19:04] TravisCragg-MSFT commented on #12621
@SamirFarhat The traffic will be shared between the 2 connections. The minimum that you would need to take advantage of a 1Gbps ER is 2 * 500 circuits, but you can allocate any size that you would like. Azure recommends 2 circuits for redundancy.

However, keep in mind that ERs can burst higher than the normal limits. From [the ExpressRoute FAQ Document:
](https://docs.microsoft.com/en-us/azure/ex

[2018-08-02 19:05] #12164 closed

[2018-08-02 19:07] tfitzmac commented on #12164
@SeanFeldman - thanks for this question. I have updated the article to indicate when httpRequest is included in the event data. It should get published this afternoon.

[2018-08-02 19:12] henriquemendesc commented on #12761
I want to send push crossplatform.

[2018-08-02 19:14] TylerMSFT commented on #12074
I'll follow up with the team to see what they can suggest.

[2018-08-02 19:29] JasonWHowell commented on #12616
@RoopAnymous Two more options to try came in from asking around:

1. [https://github.com/Azure/Azure-DataFactory/tree/master/Samples/CustomizedJavaOnHDInsight/HDInsight-ADF/ADFjsons/Pipeline/RServerOnLinux](https://github.com/Azure/Azure-DataFactory/tree/master/Samples/CustomizedJavaOnHDInsight/HDInsight-ADF/ADFjsons/Pipeline/RServerOnLinux)

2. [https://github.com/Azure/Azure-DataFactory/tree/mas

[2018-08-02 19:31] alkohli commented on #12742
@femsulu The fix is now merged. Please close the issue.
#please-close

[2018-08-02 19:37] #12165 closed

[2018-08-02 19:37] curtand commented on #12391
Hi @thuansoldier and @SaurabhSharma-MSFT
I'm investigating now. Saurabh, who told you that Get-AzureADGroup is no longer supported?

[2018-08-02 19:37] tfitzmac commented on #12165
@SeanFeldman - thanks for pointing this out. I have clarified the article to indicate that all ResourceWrite* events use a similar schema, and all ResourceDelete* events use a similar schema. It will be published this afternoon.

[2018-08-02 19:38] YutongTie-MSFT commented on #12469
@aashishb Hi, do you have any idea about this issue? And I think we can add the part in the document as well. Thanks!

[2018-08-02 19:47] Karishma-Tiwari-MSFT commented on #12771
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 19:47] Karishma-Tiwari-MSFT commented on #12781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 19:48] Karishma-Tiwari-MSFT commented on #12753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-02 19:53] BryanTrach-MSFT commented on #12777
@remyblok Thank you for the doc idea. We have gone ahead and assigned the feedback to the doc author. If approved, the doc author will determine to either enhance this current doc or put these items into a new doc.

[2018-08-02 19:53] PeteBurgess commented on #12782
Please ignore... someone had already removed the old adapter and not documented it. Apologies for the inconvenience.

[2018-08-02 19:53] #12782 closed

[2018-08-02 19:59] YutongTie-MSFT commented on #12503
@XianghanWang Hi, the URL does not work now. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, I can't find Kehuan in Git, so I can just assign it to you. That link the customer mentioned is not valid now, can you please check it and update the document as necessary? Thanks!

[2018-08-02 20:03] spcmastertim01 opened #12789 "Content useless"
another waste of time document.  I don't see why you even maintain these sites as I usually just give up and read blogs by people who have made this work.  Microsoft is the bottom of the barrel in every regard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5186162-2542-88fa-2e1e-2b52e9f35419
* Version Independent ID:

[2018-08-02 20:05] ratchetwrench opened #12790 "Change Python Used"
When trying to run locally:

"The python interpreter version you are using is 2.7.10. AzureML requires python version 3.5.2+.The python interpreter used can be configured in the compute target file.The latest version of python can be downloaded from:https://www.python.org/downloads/
Uploading experiment status to history service."

My "conda_dependencies":
dependencies:
  - python=3.5.2

But still

[2018-08-02 20:07] Adam-Smith-MSFT commented on #12593
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 20:07] #12593 closed

[2018-08-02 20:08] Adam-Smith-MSFT commented on #12209
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 20:08] #12209 closed

[2018-08-02 20:08] YutongTie-MSFT commented on #12513
@cjgronlund Hi, can not find the author of our API definition document, so just assign this issue to you. Can you please check it and update the document as necessary? Thanks a lot!

[2018-08-02 20:08] Adam-Smith-MSFT commented on #12152
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 20:08] #12152 closed

[2018-08-02 20:09] jjwangpi opened #12791 "Text-to-speech endpoint: https://speech.platform.bing.com/synthesize does not work"
I tried the endpoint https://speech.platform.bing.com/synthesize with a valid access token, but got no response. I switched to https://westus.tts.speech.microsoft.com/cognitiveservices/v1, then got back an audio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425f2bb0-a8af-b4b4-6e20-3a5b999b64b2
* Version Independent I

[2018-08-02 20:11] MarileeTurscak-MSFT commented on #12750
Try removing and re-adding your application from Azure B2C and then making sure your scopes are configured correctly. You need to specifically define the custom scopes.

Please see if the suggestions in this thread are helpful to you. https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/issues/23

[2018-08-02 20:13] Zir01 commented on #12074
@antogh. Yes, that will work, but that IP address will change everytime you re-run the image in docker

[2018-08-02 20:14] MicahMcKittrick-MSFT commented on #12624
@Emcc I will close this for now. If you need more help just let us know and we can reopen and continue.

[2018-08-02 20:14] #12624 closed

[2018-08-02 20:26] srmonson commented on #12353
I like that solution, and yes it probably would have been better to know in advance. Thanks for checking into this.

[2018-08-02 20:29] SaurabhSharma-MSFT commented on #12746
@In-FinIT I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-08-02 20:30] jshinevar opened #12792 "Please add .NET Core Support"
I chose to not put this into your GitHub due to it already being in there.  I'll be honest, I don't like the answer, which is a resounding "WE WILL NOT UPDATE THIS TO SUPPORT .NET CORE".  You have developers that want to build this using core, please reconsider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd41b897-2

[2018-08-02 20:31] aschiebold commented on #12034
No matter what rule I put in I get a 403 error. Also, the documentation does not explain how priority logic works. Does a lower number or higher number have higher priority? Examples are needed for priorities.

[2018-08-02 20:35] JasonWHowell commented on #12565
@sarathlalsaseendran

It sounds like throttling or a timeout. You could check the server side logs and look for clues. I don't think the client side driver will be able to see any specific error with a 502 http result since the gateway is ending the conversation. The server side logs on the gateway machine might have the most detail, but could be a job failure in Spark as well.

I'm not sure what

[2018-08-02 20:36] aashishb commented on #12469
Adding @marthalc , who is DRI this week, to help

[2018-08-02 20:37] SaurabhSharma-MSFT commented on #12752
@nebur634 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-02 20:42] aljo-microsoft opened #12793 "When is OS Updates going to be GA, and when will more SKU"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-02 20:44] aljo-microsoft commented on #12793
For SF clusters who would like to leverage host OS management API's, this being GA, and supported other SKU's is key. Specifically when is this statement going to change?

"Automatic OS upgrades only support four OS SKUs. There is no SLA or guarantees. We recommend you don't use automatic upgrades on production critical workloads during preview. "

[2018-08-02 20:47] MohitGargMSFT commented on #12064
@mjgar Please let me know if you have any follow up query else I will move ahead and close this issue. Thanks.

[2018-08-02 20:48] MohitGargMSFT commented on #12680
@titan550 Please update on above.

[2018-08-02 20:49] SaurabhSharma-MSFT commented on #12759
@aelij Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-02 20:50] MohitGargMSFT commented on #12684
@srivathsanvlb We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-02 20:50] #12684 closed

[2018-08-02 20:50] #5728 closed

[2018-08-02 20:50] MohitGargMSFT commented on #12705
@johtull We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-02 20:50] #12705 closed

[2018-08-02 20:52] wmgries commented on #5728
@JensPeterC The fix here should now be in the internal documentation going out for publication in a hour or two. Please let me know if you have any questions.

[2018-08-02 20:55] SaurabhSharma-MSFT commented on #12772
@JefTek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-02 21:01] SteveBurkettNZ commented on #8861
Seeing 'Supported SKUs for this region are Premium_LRS,StandardSSD_LRS,Standard_LRS' with the underscores in Australia East.

[2018-08-02 21:03] Mike-Ubezzi-MSFT commented on #12693
@mwwski I assume you are using and following the [Windows devices](https://docs.microsoft.com/en-gb/azure/iot-edge/quickstart) set of instructions? And are you running Docker CE in 'Windows' mode or 'Linux' mode? The [Prerequisites](https://docs.microsoft.com/en-gb/azure/iot-edge/quickstart#prerequisites) state:

- Configure Docker to use [Linux containers](https://docs.docker.com/docker-for-windo

[2018-08-02 21:03] SaurabhSharma-MSFT commented on #12784
@xocolatl-aficionadoas As mentioned in the document you have to complete [Prerequisites steps](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-goog-idp#prerequisites)  to add Google+ as an identity provider using custom policies. The link in Prerequisite section contains the sample custom policy files like base, extension policies.  Here is the link to

[2018-08-02 21:04] mjgar commented on #12064
@MohitGargMSFT Thank you for the information on the upcoming mechanism to suppress the unwanted prompt. However, I now have questions about your statement that the only supported method for registering devices in AAD is Hybrid Join. That is inconsistent with existing Windows behavior. Can you please confirm this means Microsoft is going to REMOVE the ability to "Workplace Join" AD joined machines?

[2018-08-02 21:07] wingflanagan commented on #12725
@jmarberg - The secret token received using the method outlined in the document lasts 99 years, unless and until it is regenerated, at which point the previous one will no longer work.

    Just a reminder: the Cisco Spark connector is still in testing, so, although the connector and documentation have been published, they are primarily intended for select Cisco Spark customers participating in te

[2018-08-02 21:10] xocolatl-aficionado commented on #12784
Oh, thank you! Sorry for not noticing that. Been through too many docs today :)

[2018-08-02 21:10] #12784 closed

[2018-08-02 21:11] bosdhill commented on #7134
I have a similar 'ContextualVersionConflict' error when trying to run the setup command on a Raspberry Pi.

[2018-08-02 21:13] LacikIgor commented on #12209
Thanks a lot for the swift update guys, I think it's very helpful.

Within the team we are also having discussions about the recommended
"threshold" - if the score is above this threshold we present the result to
the user.

First we set the threshold to 50%. That proved to be a bit too high, so we
looked at the distribution of the scores in the batch testing panel and set
the score to 20% which se

[2018-08-02 21:14] MohitGargMSFT commented on #12717
@drinkbird Unfortunately currently we don't have a specific revocation API. However, you can set access token lifetime based on your requirement. Please refer to this document for the same - [Azure Active Directory v2.0 tokens reference](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens).

Also please upvote below Azure Feedback request regarding Invalidate

[2018-08-02 21:26] SnehaGunda commented on #12783
@praneetmsft Thanks for pointing the issue, looks like the location of the API docs is moved, which lead to all broken links. I updated them in the above PR.

#please-close

[2018-08-02 21:34] KumudD commented on #7480
@dtopham75 Sorry, currently we do not plan to update these two articles.
#please-close

[2018-08-02 21:35] SnehaGunda commented on #12514
@atiq-cs Thanks for the feedback, can you please elaborate more? which tools are you using? does the instructions in the doc didn't work for you?

[2018-08-02 21:37] bigdatamoore opened #12797 "Path to dataset in the example is not correct."
The path to the radio small_radio_json dataset in the section titled "Ingest sample data" is not correct.   The one provided returns an html file instead of json.

Current sample command:
%sh wget -P /tmp https://github.com/Azure/usql/blob/master/Examples/Samples/Data/json/radiowebsite/small_radio_json.json

Correct sample command:
%sh wget -P /tmp
https://raw.githubusercontent.com/Azure/usql/mast

[2018-08-02 21:45] femsulu commented on #12579
@jkallenbach  Checking internally to see if Resource Group Names with underscore are permitted with this solution. Curious  to know if you were/are able to test using the wild card (*) expression to target all VMs in the subscription to see if that works. Also, wouldnt hurt to retest with a RG that doesn't include underscore in the name.

[2018-08-02 21:49] tfitzmac commented on #12671
@mganeshphani - Currently, PUT, PATCH and DELETE operations that are sent to management.azure.com create resource events. POST and GET operations do not create events. Operations sent to the data plane (like myaccount.blob.core.windows.net) do not create events. Shutting down a VM is a POST operation. I'll update the article to clarify this issue.

Including @banisadr in case he wants to add somet

[2018-08-02 21:51] MohitGargMSFT commented on #12758
@brumbarlow I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-02 21:53] diberry commented on #12209
@LacikIgor Yes, however if you generally get scores less than 70% for the top intent, you should add more example utterances or use an improvement (phrase list, pattern, etc) to increase the score.

[2018-08-02 21:56] femsulu commented on #12780
@johndo88 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-02 21:59] kgremban commented on #7134
@bosdhill The IoT Edge runtime was upgraded in June when the product became generally available. There's no longer a pip install. Have you tried the new installation and runtime bits? If you have and you're still experiencing problems, I recommend opening a new issue that can get triaged.

[2018-08-02 22:01] BryanTrach-MSFT commented on #12611
@drhilding We were able to reproduce the same behavior. As a result, I included a heads up in the article. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-02 22:01] #12611 closed

[2018-08-02 22:05] BryanTrach-MSFT commented on #12545
@MartyZhou I reviewed your question but this unfortunately will require a deeper investigation. We tried to keep GitHub issues scoped to doc feedback/issues or light product troubleshooting. Since this issue requires heavier troubleshooting, we kindly request you to post your question to [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=notificationhubs)or [Stack Overflow](ht

[2018-08-02 22:05] #12545 closed

[2018-08-02 22:09] LacikIgor commented on #12209
Will do, thanks for the suggestion.

[2018-08-02 22:10] raymondlaghaeian commented on #12469
Use the -p argument to pass a pip requirements.txt file when creating the image. The requirements file should include the external libraries.

[2018-08-02 22:13] Karishma-Tiwari-MSFT commented on #12540
Yes, that would be correct.
Thanks for sharing your feedback. Since this ask is not a doc issue, we will now close this. If there are further questions regarding this matter, please reach out to Azure forums and we will gladly continue the discussion.

[2018-08-02 22:13] #12540 closed

[2018-08-02 22:14] MohitGargMSFT commented on #12064
@mjgar There is no current plan of removing existing functionality. You can use GUI to register AD domain joined machine o Azure AD.

[2018-08-02 22:14] LisandroSu opened #12799 "fix dead links in section "Tabelle""
@hf-kklein commented on [Thu Aug 02 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/121)

The links in section "Tabelle" are mostly dead. E.g. https://github.com/Azure-Samples/storage-table-java-getting-started/blob/master/src/TableBasics.java

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erf

[2018-08-02 22:15] LisandroSu commented on #12799
Hi team,

Some of the links in this document are broken (404). The links are:

https://github.com/Azure-Samples/storage-table-java-getting-started/blob/master/src/TableAdvanced.java
https://github.com/Azure-Samples/storage-table-java-getting-started/blob/master/src/TableBasics.java
https://github.com/Azure-Samples/storage-java-client-side-encryption

Thanks!

[2018-08-02 22:16] Karishma-Tiwari-MSFT commented on #12602
@Dc9894 Any update?

[2018-08-02 22:17] Karishma-Tiwari-MSFT commented on #12618
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 22:17] #12618 closed

[2018-08-02 22:24] sdecker opened #12801 "Clarification on differences between General and Business tiers"
a.	This page is very confusing https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance
b.	Under General, what does this mean?
 HA - Based on Remote storage and Azure Service Fabric
This is versus Business which says "Based on Always On Availability Groups and Azure Service Fabric"
c.	It makes it seem that General does not use Always on Availability groups
So what does my

[2018-08-02 22:25] sdecker opened #12802 "Hidden costs?"
a.	The cost page and calculator are not clear on the replica costs
i.	Business tier: It offers highest resilience to failures using several isolated Always On replicas.
ii.	Active geo-replication creates up to four online (readable) secondaries in any Azure region. Secondary active geo-replication databases are priced at 100 percent of primary database prices.
iii.	So are the four active geo in ad

[2018-08-02 22:26] sdecker opened #12803 "DevTest discounts"
a.	Can we provision SQL managed instances in our Dev subscription at a discounted rate like SQL VMs? We need to test like for like scenarios for Development purposes.
b.	Is it possible to stop a SQL managed instance and remove some costs for dev environments not used 24x7?

[2018-08-02 22:44] ggailey777 commented on #12153
@jrudley I've made the update to version 5.1. Thanks for catching and reporting this.

[2018-08-02 22:45] jrudley commented on #12153
Fantastic. Thanks!

⁣Thank you,
James Rudley ​

On Aug 2, 2018, 5:44 PM, at 5:44 PM, Glenn Gailey <notifications@github.com> wrote:

[2018-08-02 22:48] toenie23 commented on #11464
I am attempting to make this Until activity run 2 pipelines at the same time, and move on to the next activity when they all run successfully. How do I set this condition to true? The documentation wasn't too clear.

[2018-08-02 22:50] MohitGargMSFT commented on #12760
@gogbg Please note that regarding Billing Account you can refer to [this](https://docs.microsoft.com/en-us/azure/billing/billing-view-all-accounts) document to get details. Please let me know where you got reference of enrollment account so that I could further check on it.

[2018-08-02 22:55] Adam-Smith-MSFT commented on #12793
@aljo-microsoft  Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 22:56] Adam-Smith-MSFT commented on #12801
@sdecker Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 22:57] Adam-Smith-MSFT commented on #12802
@sdecker Could you please add the link to the documentation you were referring to ?

[2018-08-02 22:58] Adam-Smith-MSFT commented on #12803
@sdecker Thank you for the valuable feedback,we are investigating the issue.

[2018-08-02 23:00] allenwux commented on #12801
General purpose databases store data in Azure Storage. The HA is guaranteed at the storage level. If the instance failed, we can just start a new instance on the same data and log file. Business critical lands data on local SSD and use AlwaysOn AG to provide high availability.

[2018-08-02 23:10] Karishma-Tiwari-MSFT commented on #12793
@aljo-microsoft we are targeting to have it release GA in the second half of 2018. So sometime in the next 6 months. Obviously this is just the target so it could change. But this is what we are able to share so far :)

[2018-08-02 23:27] #12166 closed

[2018-08-02 23:34] BryanTrach-MSFT commented on #12715
@luisnaranjo733 Can you please confirm that you have the below 3 items?

Web.config
`<configuration>
    <system.webServer>
        <handlers>

            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        </system.webServer>
</configuration>`

package.json
` ...
  "scripts": {
    "start": "node server"
  },
...`

server.js
`process.env.PORT || 1337`

[2018-08-02 23:41] joselw-ms commented on #10779
I think there's a small step missing. Which similar to what's described for Setup.bat
"Modify the Setup.bat file properties to set Copy to Output Directory to "Copy if newer""

Do the same for SetCertAccess.ps1.

[2018-08-02 23:47] curtand commented on #12391
Hi @thuansoldier and @SaurabhSharma-MSFT
What I know right now is that Get-AzureADGroup is an Azure AD cmdlet and Get-AzureRmADGroup is an Azure Resource Manager cmdlet. Following up for more.

[2018-08-02 23:49] GagandeepS commented on #11464
@toenie23 Thats what. It is not possible to update a pipeline parameter by yourself in between the pipeline. In your case, if you have a webactivity in the first pipeline and if some tag of the output of the webactivity changes its value, then you can set that in the Until condition which will take you to the second pipeline.

[2018-08-02 23:53] In-FinIT commented on #12746
Thanks - https://social.msdn.microsoft.com/Forums/azure/en-US/ce2cc924-e858-41f7-8a04-8064a029eab9/register-proxy-failing-with-certificate-error?forum=WindowsAzureAD

[2018-08-02 23:53] #12746 closed

[2018-08-02 23:56] BryanTrach-MSFT commented on #11950
@ncacace Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-02 23:56] #11950 closed

[2018-08-02 23:58] Mike-Ubezzi-MSFT commented on #12801
@sdecker Here is some very specific documentation with regard to the available service tiers and what you get with each. It breaks things down.
I do need to explain that Azure SQL Database has two purchasing models: [Azure SQL Database purchasing models and resources
](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers). The[ DTU-based purchasing model](https://docs.mic

[2018-08-03 00:11] Mike-Ubezzi-MSFT commented on #12803
@sdecker Unless you have an Account Manager who may be able to offer specific pricing outside of what is currently documented, this is what I see you may be able to take advantage of.

[Azure SQL Database pricing](https://azure.microsoft.com/en-us/pricing/details/sql-database/managed/)

How is Managed Instance priced?
Managed Instance allows for scaling compute and storage independently. Customers

[2018-08-03 00:12] joselw-ms opened #12809 "No other way to give NETWORK SERVICE access to cert's private key?"
Isn't there other way, ideally built in Service Fabric, to grant access to NETWORK SERVICE?
A PS script ran as administrator on Startup sounds not only extremely manual, but error prone, hard to maintain, and also security risk.

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c

[2018-08-03 00:16] BryanTrach-MSFT commented on #11500
@ozzy1873 Thank you for the reply.

@cwhd Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. If you have a chance to review Ozzy's reply and still have questions, please let us know.

[2018-08-03 00:16] #11500 closed

[2018-08-03 00:20] joselw-ms opened #12810 "Update article to use Import-AzureKeyVaultCertificate"
There's no need to load the cert and save it into Key Vault using Set-AzureKeyVaultSecret, you can use Import-AzureKeyVaultCertificate directly. Works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add

[2018-08-03 00:31] Mike-Ubezzi-MSFT commented on #12749
@kazshi Adding screen capture you provided. I have assigned the issue to the content author to evaluate and update as appropriate.

![sql_bc](https://user-images.githubusercontent.com/37126106/43617859-d2ba4e52-9679-11e8-9f3c-3b94d4c1aa98.png)

[2018-08-03 00:33] kobulloc-MSFT commented on #12262
@ishepherd The intended solution for collecting all of your telemetry in a combined dashboard is to use Application Insights Analytics: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics

To help get you started, take a look at our documentation:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics-tour

We are going to close this threa

[2018-08-03 00:33] #12262 closed

[2018-08-03 00:47] BryanTrach-MSFT commented on #12729
@kylebarker715 Using ASP.NET Web Application (.NET Framework) (4.5.2) I am able to locate the below code block in my controllers.cs file, which the doc is asking you to replace with the code listed in this article.

![image](https://user-images.githubusercontent.com/20250350/43618198-dac06b20-967b-11e8-91d7-a6a6d2b13b4f.png)

About code block that needs to be replaced:

![image](https://user-image

[2018-08-03 00:52] BryanTrach-MSFT commented on #11730
@bogan Thank you for bringing this to our attention. We have gone ahead and updated the doc. The change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-03 00:52] #11730 closed

[2018-08-03 01:01] mdittakavi opened #12811 "is it part of Office 365 E3 license"
all these connectors are Free?  for the E3 license subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 1339cc93-712c-3a32-8321-dfd016a50ed4
* Content: [Tutorial: Configure Workday for automatic user provisioning with Azure Active Directory](https:

[2018-08-03 01:02] ishepherd commented on #12262
Thanks @kobulloc-MSFT

Concrete example: We want a count of requests broken down by response code.

OK we can display that as **several** charts, each one from a separate instance of the App, which reports to a separate App Insights.

But because of all the clutter on this dashboard, we want a **combined** chart. I figured it's easy to have a combined App Insights.

1. What's wrong with this?

[2018-08-03 01:07] ishepherd commented on #12260
Thanks

OK that lines up with my plan:

1. Assume it won't happen
2. If it does happen, either:
    a. Manually redeploy the App Insights / Availability Tests / Dashboards to a different region. (For this reason, we have them in a dedicated Resource Group)
    b. Or just rely on basic App Service telemetry until you guys are back online.

[2018-08-03 01:11] sjyang18 opened #12812 "Update the module pseudo code to use ModuleClient and its API."
ModuleClient.CreateFromEnvironmentAsync(transportSettings)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f82c647cb8
* Content: [Understand the Azure IoT Edge runtime](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-runtim

[2018-08-03 01:35] OzBob commented on #12675
@michahmckittrick-MSFT @Karishma-Tiwari-MSFT

core-licenses = 4
region-selector = australia-southeast
offerings-dropdown = windows-d3-standard

![azurereserverdvmcalc1](https://user-images.githubusercontent.com/1796771/43619403-2a6ea39c-9700-11e8-8c8c-d6708745773f.jpg)

[2018-08-03 01:48] CarlRabeler commented on #12749
@kazshi thanks - getting input from Sasha
@anosov1960 - please review this suggested change

[2018-08-03 02:36] CraigHumphrey opened #12813 "Shadow Azure AD created for non-O365 organisations?"
Hi,
I've been told (or read somewhere) that if the invitation is to an organisational (non-public, e.g. not gmail.com, hotmail.com, etc) address and that organisation does NOT have O365 (an Azure AD instance), then there's an option to create a "shadow" Azure AD, which is then turned into a "full" Azure AD if/when the organisation buys Azure AD.

Is this option still around?  I've not been able to

[2018-08-03 02:38] #11748 closed

[2018-08-03 02:57] akunzai opened #12814 "az cli commands did not break into lines"
az cli commands did not break into lines in web browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-ce2e-c9f1dd9ea06b
* Version Independent ID: ace5ecf4-2021-63a7-c28f-73a11767f0be
* Content: [Azure Cloud Shell troubleshooting](https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting?vi

[2018-08-03 02:58] adashen commented on #11450
@shizn From the log it seems the container is not started from iotedged, since env is not setup. And the debug need to be attach mode instead of "launch". Follow the docs, I cannot reproduce it. So I think the issue could be closed

[2018-08-03 03:14] BryanTrach-MSFT commented on #11868
@cephalin Where do I find the location of the powershell script used in this article?

[2018-08-03 03:15] BryanTrach-MSFT commented on #11748
@ryanwinter We have gone ahead and made the update. The change should be public within 24 hours.

[2018-08-03 03:49] wiazur commented on #10561
I tried to install RestSharp through package manager, but got this error:
PM> Install-Package RestSharp
Install-Package : Unable to find package 'RestSharp' at source ''.
At line:1 char:1
+ Install-Package RestSharp
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    + FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PackageManage

[2018-08-03 03:56] procmc commented on #10561
You should use this versions Microsoft.Net.Compiler v1.2.1 and Microsoft.CodeDOM.Providers.DotNetCompilerPlatform v1.0.1

[2018-08-03 04:53] kobulloc-MSFT commented on #12664
@seanksullivan The documentation for Application Insights states that Azure now requires TLS 1.2 as of June 30th, 2018:

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-data-retention-privacy#how-do-i-send-data-to-application-insights-using-tls-12

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag m

[2018-08-03 04:53] #12664 closed

[2018-08-03 05:03] #10779 closed

[2018-08-03 05:07] dcbrown16 commented on #11861
There is still a "Cloud services (classic)" menu with options to create new ones in my menu.
I believe it is correct to say that Web Apps are recommended now, but Cloud Services are not obsolete.
See also this page for a comparison.
https://docs.microsoft.com/en-us/azure/app-service/choose-web-site-cloud-service-vm

[2018-08-03 05:19] JimmyLS opened #12816 "Please add notes when hybrid joining Win10 computers to AAD in a non-ADFS envirnonment"
When hybrid joining Win10 computers into AAD in a non-ADFS environment, actually there's a requirement that we must check the OU which contains the Win10 computers in the AAD Connect  Domain OU filtering. However, there's no any note can be found in this guide around this, which has lead to lot of customers confusing.

Could you please add the notes or highlight the requirement to check the comput

[2018-08-03 05:28] ishepherd opened #12817 ""The replication article also shows the pairings of the primary and secondary regions.""
No it doesn't - Perhaps link to https://docs.microsoft.com/en-au/azure/best-practices-availability-paired-regions

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006f09ba-2074-4d2e-05fc-9d43bbfb58c0
* Version Independent ID: 65c2703c-bef4-5244-9265-b0d5f8d810d6
* Content: [Designing Highly Available Applications using A

[2018-08-03 05:56] shiwaniB opened #12818 "Service bus topic listener Issue"
Hi,

I am using service bus topic listener to read messages as soon as publisher sends it.

Sample code :-

[code]

But it seems that it reads the message once and stop.
Currently I need to call the listener code in interval.
Any help will be appreciated.

Thanks

[2018-08-03 05:57] kspoojary commented on #12750
I noticed that scope url was formed like this https://B2CTenantLab.onmicrosoft.com/myAPISampleHello.Read instead of https://B2CTenantLab.onmicrosoft.com/myAPISample/Hello.Read

Fixed it by adding the slash(/)  at the end of api:ApiIdentifier in web config file
` <add key="api:ApiIdentifier" value="https://B2CTenantLab.onmicrosoft.com/myAPISample/" />`

[2018-08-03 05:57] aliabbasmanager opened #12819 "How to access keyvault secrets in Parameter file from Azure portal custom deployment"
I am trying to deploy a custom template from Azure portal for a VM. The Admin password is something that I plan to get from keyvault. For that, in the edit parameter section after saving the custom template, I am editing the adminPassword as follows
"adminPassword": {
            "reference": {
              "keyVault": {
                "id": "/subscriptions/&lt;subscriptionId&gt;/resourceGroups/

[2018-08-03 06:18] deruss opened #12820 "Are App Service Plans behind the firewall?"
Hi, can you please confirm if App Services on a different App Service Plan (in the same Subscription) require explicit permission?

I've tested that App Services on the same Plan do not require explicit permission, which makes sense. Just wondering if same is true for different App Service Plans?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-08-03 06:48] murdockcrc opened #12821 "VM SKU upgrade for system nodes"
Please extend the Warning in this article to communicate that upgrading the VM SKU for the system node type is not supported, as already documented in this article: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#primary-node-type---capacity-guidance

Customers that read this article but not the one posted above might get the impression that they can upgrade t

[2018-08-03 06:50] Karishma-Tiwari-MSFT commented on #12821
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-03 06:54] Karishma-Tiwari-MSFT commented on #12809
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-03 06:59] Karishma-Tiwari-MSFT commented on #12810
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-03 07:26] Hysas opened #12822 "Redirect Issue"
After authentication, instead of being sent to the webapp site (e.g. https://firstserverlessweb.z4.web.core.windows.net/), i get sent to the function URL (e.g. https://fnapplod6518018.azurewebsites.net/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1acd3de-471c-d954-af1a-62f7fc440370
* Version Independent ID: 84549c

[2018-08-03 07:31] #12822 closed

[2018-08-03 07:32] Hysas commented on #12822
nvm, I had done the create new part in authentication wrong.

[2018-08-03 08:09] deruss commented on #12820
Oops, just tried a different test and unable to access app service from same plan without adding the plan's own IP address.

This is not convenient. :(

[2018-08-03 08:24] pstapf opened #12823 "Mark and change default when registering the first time issue"
When a user is registering the first time an add a second option for auth, none of the methods is marked as default like mentioned in the screen above, also the "change default" option is not available. For this to appear you need to refresh the whole page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7

[2018-08-03 08:31] ProgBCSA commented on #12640
Hello, just to help me organize my work, how long does it usually take to have an answer.

It's Not a critic it's just for me to organize my schedule of work.

[2018-08-03 08:36] wolfma61 commented on #12640
The Cognitive Services Speech SDK doesn't currently support Unity.
Unity support is planned for later this year, but I can't give you a definite date so far.

I'm sorry for this, we will publish a date for Unity support as soon as possible...

Wolfgang

[2018-08-03 08:47] titoniubo opened #12824 "Convert column from string to numerical using Azure Machine Learning Studio"
Hello,

I would like to kindly request for some help to change the data type of a column. Convert from string to numerical.

The column has no missing values. No errors.

Using Azure ML, I use the '**Edit Metadata'** module, and then chose as data type either integer or float. Unfortuantely, when I run the experiment it always returns an error.

![capture](https://user-images.githubusercontent.com

[2018-08-03 08:53] olistik opened #12825 "The link "Azure DevOps project" leads to a 404 page"
Under the section "Development tooling integration", when I click on the link [Azure DevOps project](https://docs.microsoft.com/en-us/vsts/pipelines/actions/azure-devops-project-aks?view=vsts) I end up in a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independe

[2018-08-03 08:53] MicrosoftGuyJFlo commented on #12823
This is correct.

"Once a user completes registration, their default MFA method will automatically be set. If the user registered an authenticator app, the default method will be set to app. If the user did not register an authenticator app and only registered their phone number, the default method will be set to phone call. Users can change their default by going to https://aka.ms/setupsecurityin

[2018-08-03 08:55] ProgBCSA commented on #12640
Thanks you for your reply, i'm a programmer i will still try to find something to make it work, if it work outside Unity their no reason i can't find a way to make it with Unity.

If i find something i will come back to you so you'll have a temporary "workeable" solution

[2018-08-03 08:58] johscheuer opened #12826 "Azure IoT Edge Gateway invalid certificates"
Currently I have some issues following the [documentation](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#installation-on-the-downstream-device) for setting up an Azure IoT Edge Gateway on Ubuntu 16.04 (I also tried Ubuntu 18.04). Are there some missing steps or what is the best way to debug this?

As describe in the documentation I executed the following s

[2018-08-03 09:04] angelbachev opened #12827 "Issue with the device provisioning service template"
In article https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/provisioningservices#comments-container it's described that
Microsoft.Devices/provisioningServices template  can accept parameter "resources" which is array of certificates but if I pass a certificate template object (https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/provisioningservices/certificates) in

[2018-08-03 09:07] minimusgeekus opened #12828 "SAP AEM For Linux using CLI2.0 and no ARM Template Support"
Hi all, please can you advise as to how to install the AEM for SAP using either Azure CLIv2 or ideally, and much more preferably, using an ARM Template. The above instructions pertain only toe CLIv1. We are facing a blocking issue in that we are unable to install the SAP AEM using the above instructions as we are running AZ CLI V2.0.43. Thank you in advance...

---
#### Document Details

⚠ *Do not

[2018-08-03 09:25] simonschwingel opened #12829 "Latency"
How long will it take from the moment an event occurs until it shows up in my monitoring dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6057d32-c632-789a-d338-85cd9d349efd
* Version Independent ID: e90ffc50-5c6b-321c-b7c3-29fa1b0c73b1
* Content: [Overview of Metrics in Azure Monitor](https://docs.microsoft.

[2018-08-03 09:31] nigelHRBOT opened #12830 "How does this link with Azure Bot Service?"
How would I be able to link this to a Bot Service (that has a link to Teams/Web Chat). The image shows a direct link between the traffic manager endpoint and the bot, but how would it connect to Azure Bot Service? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf9eec4-f13c-55e0-351a-84c1ea8f5a77
* Version Indep

[2018-08-03 09:45] nigelHRBOT opened #12831 "Collaboration"
The collaboration needs to be improved. Currently, you are able to collaborate on a single qnamaker service by allocating roles via azure. However, we are unable to deny access to certain KB. Hence, everyone that has been given access gets to see all KBs, which is not helpful from a collaboration point of view. It would be better to provide the option to limit the number of KBs a user can view.

-

[2018-08-03 09:49] iMartyn opened #12832 "SP not quite right"
There seems to be a missing step as if I follow by rote the document on my aks test cluster the CA cannot scale with the following logs :

I0803 09:32:09.104373 1 azure_container_service_pool.go:241] Current size: 1, Target size requested: 4
E0803 09:32:09.235468 1 azure_container_service_pool.go:262] containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 --

[2018-08-03 09:55] ilyas-it83 opened #12833 "Unable to make use of the existing deployment"
Unable to make use of the existing deployment that was previously deployed. Please find the logs below.

ilyas@myvm:~/ai-toolkit-iot-edge/IoT Edge anomaly detection tutorial$ az ml env setup -l westeurope -n localdeploy -g **ilyas_rg2-azureml-df507**
Found currently set environment
Reuse storage and ACR (Y/n)?Y
{'Azure-cli-ml Version': '0.1.0a27.post3', 'Error': KeyError('resourceId',)}
ilyas@myvm

[2018-08-03 10:16] titoniubo commented on #12824
I got the answer.

If there is an error, this module shall not force errors to show up and therefore it won't work.

So first I have to clean all errors to make it work. Thanks.

[2018-08-03 10:17] #12824 closed

[2018-08-03 10:18] hugofock opened #12834 "LocalRunHelper.exe didn't expose an API to dynamically pass the parameters into U-SQL during run-time"
I managed to perform the unit test run using LocalRunHelper.exe according to the guide. However, LocalRunHelper.exe didn't expose an API to dynamically pass the parameters into USQL during run-time. Whereas, in Azure DataFactory's U-SQL Activity/Step did allow to configure parameters pass in. May I know how simulate it in the unit test run?

Please refer the link below for more information.
https:

[2018-08-03 10:29] MSSedusch commented on #12828
thanks for the feedback. I added the steps to the guide. The new guide should be published withing 24 hours.

[2018-08-03 10:47] PeterKlapwijk opened #12835 "Is step 10 needed with Windows 10 (1709/1803) devices?"
Is step 10 needed with Windows 10 (1709/1803) devices? I have an OU with Windows 10 devices which is synced to Azure AD, this policy setting is not set, but all those devices are Azure AD joined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536c14fe-e99a-0c69-e3fc-7607eb6d360e
* Version Independent ID: 034b60e7-e00a-

[2018-08-03 10:59] femsulu commented on #12820
@deruss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-03 11:03] femsulu commented on #12817
@ishepherd Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:05] femsulu commented on #12799
@LisandroSu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:10] femsulu commented on #12797
@bigdatamoore Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:14] femsulu commented on #12816
@JimmyLS Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:15] femsulu commented on #12813
@CraigHumphrey Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-03 11:20] femsulu commented on #12811
@mdittakavi Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-03 11:26] johndowns commented on #12399
Thanks for the suggestion. [I have added the request here.](https://feedback.azure.com/forums/357324-application-insights/suggestions/35020774-add-arm-template-support-for-continuous-export)

[2018-08-03 11:26] femsulu commented on #12819
@aliabbasmanager Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:29] femsulu commented on #12812
@sjyang18 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:34] thomas-kinnari commented on #9466
Hi,
I also experience a blank chart. However, when I check the app service editor output I get:
[code]

[2018-08-03 11:35] hairydruidy commented on #11486
AZURE$($storageAccount.StorageAccountName) missing a \ in there

[2018-08-03 11:36] femsulu commented on #12814
@akunzai thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:38] femsulu commented on #12791
@jjwangpi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-03 11:50] nicolaibaralmueller commented on #6685
Is it possible to import a public .cer into the java keystore this way?

[2018-08-03 11:52] femsulu commented on #12818
@shiwaniB Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-03 12:12] lashchev opened #12836 "There is no "Use an app instead" link on login screen for https://account.microsoft.com/"
I wanted to try the instructions for my personal account and found that there is no "Use an app instead" link on login screen for https://account.microsoft.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8c41de-1751-6ecd-24b9-ab687f7ae467
* Version Independent ID: 11d17688-b87e-f681-cf84-ce90f93e26ce
* Content: [

[2018-08-03 12:13] johscheuer commented on #12826
After clean up the certificates in the hsm directory I got a little bit further (executed on the same device that should act as transparent gateway):

[code]

Before I executed the following steps:

[code]

But if I try it from a remote device:

[code]

[2018-08-03 12:16] lashchev opened #12837 "On account family management login page the link is "Use the Microsoft Authenticator app instead", not "Use an app instead" as in instructions"
Minor, but some may find it confusing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8c41de-1751-6ecd-24b9-ab687f7ae467
* Version Independent ID: 11d17688-b87e-f681-cf84-ce90f93e26ce
* Content: [Microsoft Authenticator phone sign-in - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/use

[2018-08-03 12:43] ishepherd opened #12838 "This sounds like better write availability than we get with RA-GRS. Is that right?"
&gt; "Storing your data in a ZRS account ensures that you will be able access and manage your data in the event that a zone becomes unavailable."

([this page](https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance#what-to-expect-if-a-storage-failover-occurs) says that a GRS failover happens if the primary _cannot be restored_; just being unavailable for a while d

[2018-08-03 12:47] antogh commented on #12074
@Zir01  Yes, that was just an hack to make sure the containers are properly deployed with correct endpoints and permission to communicate.

At this point the problem is only the name resolving.

To be honest I was concerned in first place how the API call could ever work giving the service name "todoservice" in the URL. I would have expected a SFMesh SDK function to retrieve the IP of "todoservice

[2018-08-03 12:54] hho commented on #9468
@martinfierz The files are stored in binary Avro format: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#when-using-azure-storage-containers

[2018-08-03 13:08] masterbacon opened #12839 "Is there a way to alter the naming format of the resource group created by Backup service?"
Currently this is
AzureBackupRG_&lt;Geo&gt;_&lt;number&gt;
But this creates resource groups that conflict with our Resource Group naming convention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9edc7e-ff2d-47fd-7305-03cd6dcd9449
* Version Independent ID: 207c680a-ac78-0e38-16ba-74bc0fe6f9f1
* Content: [First look:

[2018-08-03 13:31] gorzilla opened #12840 "Dead link"
"For the Linux agent, the proxy server is specified during installation or [after installation](https://docs.microsoft.com/en-us/log-analytics-agent-manage.md)" contains a link that gives a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c9767e-8558-7b76-fc26-34c4776f7bcf
* Version Independent ID: f9853d6a-

[2018-08-03 13:33] KarthickTC opened #12841 "Github code link is not correct"
Can you please update the latest link, this one mentioned in the first section is not working https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Face

[2018-08-03 13:46] davemedvitz opened #12842 "Using SF Azure Files Driver in other Azure Environments"
There is no mention as to how to use this volume driver in environments other than the default Azure Commercial.  Is there a mechanism for doing this, such as a driver option for the StorageEndpointSuffix?

Thanks

[2018-08-03 13:46] SteveL-CXP opened #12843 "Updating Sample Encrypt Script"
The script provided at https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-encrypt-vm has some errors

I'm in the middle of working through the script and the first one I found was this -

$securePassword = "P@ssword!"

It needs to be this
 $securePassword = ConvertTo-SecureString -String "P@ssword!" -AsPlainText -Force

New-AzureRmADApplicati

[2018-08-03 13:53] jtuliani commented on #12704
Thanks for confirming they work!

I think they still have value. From a customer perspective, it still allows governance to be moved up from the per-subscription level. And even as a partner managing CSP subscriptions, it moves governance from the per-subscription level to the per-customer level, reducing the work.

[2018-08-03 13:56] patrick-steele opened #12844 "Undefined variable : $serviceName"
When creating the `$context` the `-ServiceName` parameter is passed the variable `$serviceName` but I don't see that variable defined anywhere in the script.  Is that supposed to be `$apimServiceName`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3059fdff-fe2f-a4e0-4516-4986fda2a108
* Version Independent ID: 711f4b7e

[2018-08-03 14:02] MGoedtel commented on #12840
@gorzilla - Thanks for bringing this to my attention.  I checked the article and I see what the issue is with the link and I am fixing it now.  It will be published and available later today with the reflected change.  #please-close.

[2018-08-03 14:10] adityaagrawal7 opened #12845 "data-factory/svc Web Activity does not work with IP in base url"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-03 14:15] skalinets opened #12846 "ARM support for Auto Swap"
Hi. Is there any way to setup a auto swap in ARM template? I tried to generate templates using Automation tab, however bot templates (with and without autoswap enabled) are the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f5ea0e-d951-7e7f-142e-3509b2ec5eda
* Version Independent ID: eea6bd7f-8790-caa0-aed8-bc0

[2018-08-03 14:35] grahamehorner opened #12847 "Install Package Update"
Is there a newer version of the Azure Function Runtime - Installer for on-premise installations or a package that can update existing installations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functio

[2018-08-03 14:48] mrbullwinkle commented on #12399
I just added a vote. Thank you for creating this! Adding @DaleKoetke to make sure he is aware of the request.

[2018-08-03 14:52] Mike-Ubezzi-MSFT commented on #12826
@johscheuer Thanks for the feedback. We are actively investigating and will get back to you soon but, can you try your manual test in a slightly different way by using **-CApath** instead of **-CAfile**, and adjusting your certs path accordingly.

**Example:**
`openssl s_client -CApath /etc/ssl/certs/ -connect address.com:443`

In the meantime, I am going to do some investigation internally. Thank

[2018-08-03 15:00] Mike-Ubezzi-MSFT commented on #12826
@johscheuer The other option is this, if client authentication is enabled:

`openssl s_client -cert ./client-cert.pem -key ./client-key.key -CApath /etc/ssl/certs/ -connect foo.example.com:443`

The other possible issue is that the subject lines do not match between the CA and the certificate being signed, in the case of a CA signed root certificate. Not sure if there would be an issue in the case

[2018-08-03 15:07] Mike-Ubezzi-MSFT commented on #12827
@angelbachev Thanks for your inquiry. With regard to your specific issue, the error pertains to a certificate not being present in the configuration where it appears to be required. Do you have a certificate you can use?

[2018-08-03 15:27] DMoonesinghe opened #12849 "PCM?"
What is PCM? You reference PCM many times? But don't expand it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97421a51-de94-60cf-75b5-662da28afad4
* Version Independent ID: 30a266a2-8c7b-0c7d-d71d-115878c8a0bb
* Content: [StorSimple 8000 series hardware components and status](https://docs.microsoft.com/en-us/azure/sto

[2018-08-03 15:28] matdcooper opened #12850 ""Full UI customization, including HTML, CSS, and javascript support(requires custom domain)""
Where can I find documentation on how to take advantage of the javascript support mentioned? The project I am working on desperately needs this. Specifically I need to show / hide (or enable / disable), form fields based on the input to another field. Is javascript support available, or is this documentation misleading?

Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-08-03 15:41] LisandroSu commented on #12243
@douglaslMS You can close this issue.

Thanks again!

[2018-08-03 15:55] timwieman commented on #12643
@kgremban, @chipalost: In addition, I don't think the environment variable "EdgeModuleCACertificateFile" is valid any more, either.  This doc also references it.

[2018-08-03 15:56] tfitzmac commented on #12819
@aliabbasmanager - sorry, this is not supported through the portal UI.

[2018-08-03 16:01] tfitzmac commented on #12819
I'll add a note to clarify this issue in the article.

[2018-08-03 16:13] apwestgarth commented on #12847
Hi Grahame,
   the version linked to in the document is the most recent release, which was released in November 2017. There are no updates available to that release.

Thanks

Andrew

[2018-08-03 16:18] apwestgarth commented on #12730
Hi @BarnyardTech you need to specify a Database master key.  This is in the form of a text string which represents a master key password which is used to encrypt the contents in the database.  Should you ever need to move the database to another server then that master key password is needed in order to enable SQL to decrypt contents when queried.

[2018-08-03 16:24] MarileeTurscak-MSFT commented on #12750
That makes sense! Glad you figured it out. It looks like this is what the documentation indicated, unless you disagree. Okay to close this issue?

[2018-08-03 16:25] Mike-Ubezzi-MSFT commented on #12693
@mwwski We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:25] #12693 closed

[2018-08-03 16:25] Mike-Ubezzi-MSFT commented on #12748
@johndowns We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:25] #12748 closed

[2018-08-03 16:27] curtand commented on #12391
Hi @thuansoldier , @SaurabhSharma-MSFT
Now I know more. Both commands are still supported. The Get-AzureRmADGroup command is part of the set of Azure Resource Manager cmdlets (and as I said, Get-AzureADGroup is an Azure AD cmdlet). You can use it according to your preference; it returns a group like the other. Here's a link to Resource Manager docs for the command: https://docs.microsoft.com/en-us

[2018-08-03 16:30] minimusgeekus opened #12852 "Out of date instructions"
These instructions are not relevant for the current version of the portal? At least there seems to be many changes in the current portal version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc42ccc0-e520-9aad-e417-c03aa8c96fd0
* Version Independent ID: 3fb6ae53-e543-21ae-b702-93cb08b53521
* Content: [Integrate Azure

[2018-08-03 16:34] #12819 closed

[2018-08-03 16:34] Karishma-Tiwari-MSFT commented on #12766
@cynthn @nibhat @gatneil It looks like a known issue. Would you be able to share some information on the timeline for fix on this issue?

[2018-08-03 16:36] thuansoldier commented on #12391
@curtand the problem is that the different cmdlets result differently. That's why I'd like to know how different they are.

@SaurabhSharma-MSFT

[2018-08-03 16:36] Adam-Smith-MSFT commented on #12845
@adityaagrawal7 Thank you for the valuable feedback,we are investigating the issue.

[2018-08-03 16:37] sakthivetrivel commented on #12832
Hi! Can I see the output of the cluster-autoscaler-status? kubectl -n kube-system describe configmap cluster-autoscaler-status

[2018-08-03 16:38] Adam-Smith-MSFT commented on #12842
@davemedvitz Could you provide us with the link to the documentation you were referring to ?

[2018-08-03 16:39] #12840 closed

[2018-08-03 16:40] Adam-Smith-MSFT commented on #12833
@ilyas-it83 Could you provide us with the documentation link you were referring to ?

[2018-08-03 16:40] Mike-Ubezzi-MSFT commented on #12754
@IDovgalyuk It is possible that the issue you are encountering is syntax related and not an actual limitation. If you already have services deployed to the China region, you should be able to complete this command. This is my current upstanding.
From looking at your limited error message text, the hyphen in the sql server name is causing an issue. Can you wrap the server value with single or doubl

[2018-08-03 16:40] xavierrouhaud opened #12854 "No more "Add a condition" in the menu"
Hello,

very strange my Logic App is now not proposing any menu to add a condition.
can you Help ?

Br
Xavier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9cd33d-4d2e-c6cf-e6cf-4ac65cc1aaf1
* Version Independent ID: 941d0646-2a17-c56d-9ae4-a474ebddc6cb
* Content: [Add conditional statements to workflows - Azure Log

[2018-08-03 16:40] Karishma-Tiwari-MSFT commented on #12468
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:40] #12468 closed

[2018-08-03 16:41] Mike-Ubezzi-MSFT commented on #12762
@PANKAJMAHRA We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:41] #12762 closed

[2018-08-03 16:42] Karishma-Tiwari-MSFT commented on #12613
We haven't heard back from you. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:42] #12613 closed

[2018-08-03 16:43] Karishma-Tiwari-MSFT commented on #12629
@badalk Thanks for your feedback. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:43] #12629 closed

[2018-08-03 16:44] Karishma-Tiwari-MSFT commented on #12793
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:44] #12793 closed

[2018-08-03 16:44] kobulloc-MSFT commented on #12399
@johndowns Thank you for adding this.  I've added my vote as well.

[2018-08-03 16:45] tfitzmac commented on #12423
@romanliv - sorry, I was not able to reproduce this error. I added a new resource group project to a WPF app, and added an existing resource group project to a WPF app. In both cases, the deployment worked.

@femsulu - I think this issue might be best handled by support. Can you help with that?

[2018-08-03 16:47] kobulloc-MSFT commented on #12844
@patrick-steele Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-03 16:48] cynthn commented on #12843
@SteveL-CXP It  would probably be easier for you to just file a PR against the doc. But, Issues work too. Let me know if you need help with creating a PR, if you decide to go that way.

[2018-08-03 16:52] Karishma-Tiwari-MSFT commented on #12825
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 16:55] jason-j-MSFT commented on #12834
@hugofock
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-03 16:57] Karishma-Tiwari-MSFT commented on #12847
@grahamehorner As shared by @apwestgarth in the comment above, version November 2017 is the most recent release.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 16:57] #12847 closed

[2018-08-03 16:59] Adam-Smith-MSFT commented on #12838
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 17:03] Mike-Ubezzi-MSFT commented on #12763
@cocosnuss I believe there is a configuration value in the `config.h` file that determines how long the temperature alert remains active upon start.

In the instructions where you add a TRUE/FALSE based upon whether you are using a simulated sensor or not, the 30 min TEMPERATURE_ALERT is the next line down:

![screenshot 138](https://user-images.githubusercontent.com/37126106/43655661-6537b9ec-970

[2018-08-03 17:12] maertendMSFT commented on #12814
@jluk

[2018-08-03 17:14] ecfan commented on #12854
Hi @xavierrouhaud,

Thanks for your question. The UX has changed, but the docs haven't caught up yet. We have a work item on the backlog to update the docs. Meanwhile, to add a condition, follow the relevant steps here:

To add a condition between existing steps:
1. Between those steps, move your mouse over the arrow, and click the plus (+) sign between the steps.
2. Select **Add an action** > **C

[2018-08-03 17:15] Mike-Ubezzi-MSFT commented on #12773
@ArneVlietinck Are you looking absolute values, better documentation, or how is this configuration implemented?

This is what an example route would look like, and is from the following tutorial: Tutorial: [Deploy Azure functions as IoT Edge modules (preview)
](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function)
`
{
  "routes": {
    "sensorToCSharpFunction": "FROM /messages/

[2018-08-03 17:21] alexbarth-ut opened #12856 "Please update prerequisites to include Windows Server 2016"
Please update the documentation to include any additional steps, requirements, or concerns related installing and running the product on Windows Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a763c4bd-b754-f8e2-2c34-a3972a583fbb
* Version Independent ID: 7be77d14-5d29-948b-ff20-24bfd046f7e9
* Content: [Azu

[2018-08-03 17:23] douglaslMS commented on #12243
#please-close

[2018-08-03 17:30] Adam-Smith-MSFT commented on #12839
@masterbacon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 17:35] priyamohanram commented on #5403
@mguntli: Thanks for reporting the issue. The change has been published and the PR is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/47750

[2018-08-03 17:39] BryanTrach-MSFT commented on #12846
@skalinets Thank you for the feedback. We are reviewing this and will get back to you shortly.

[2018-08-03 17:39] #12243 closed

[2018-08-03 17:40] DMoonesinghe opened #12857 "Is this the same thing as StorSimple Virtual Appliance?"
I spent hours unsuccessfully trying to find a document that explains the difference between StorSimple Virtual Array and the StorSimple Cloud Appliance.  While there are individual documents for each type neither mentions the other or differentiate between them even though names and functions sound similar.

From what I vaguely understand they are two different devices used for two different funct

[2018-08-03 17:40] TravisCragg-MSFT commented on #12743
@paulkel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-03 17:40] #12743 closed

[2018-08-03 17:42] vasivara-MSFT commented on #12845
@adityaagrawal7 Can you please provide the document on which you had this issue?

[2018-08-03 17:43] SaurabhSharma-MSFT commented on #12835
@PeterKlapwijk Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 17:44] BryanTrach-MSFT commented on #12854
@xavierrouhaud Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-03 17:45] SaurabhSharma-MSFT commented on #12836
@lashchev Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 17:46] SaurabhSharma-MSFT commented on #12837
@lashchev Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 17:46] Adam-Smith-MSFT commented on #12701
@hellosnow Is it possible to tag them on this post so I could assign it to them ?

Thanks,

[2018-08-03 17:47] SaurabhSharma-MSFT commented on #12850
@matdcooper Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 17:47] SaurabhSharma-MSFT commented on #12856
@alexbarth-ut Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 17:50] Adam-Smith-MSFT commented on #12829
@0xbliang tki

[2018-08-03 17:53] alkohli commented on #12857
@DMoonesinghe
StorSimple Virtual Array (SVA) is provisioned on the hypervisor on the hardware you provide in your DC.  You can only create a StorSimple Cloud Appliance (SCA) if you own a StorSimple 8000 series physical appliance.  SCA acts as secondary device for your DR scenario with the 8000 series physical appliance acting as the primary. SVA and SCA are two different products (both belonging t

[2018-08-03 17:54] antogh commented on #12299
@larrywa  I tried something that seems to do what you ask.
- right click the app in visual studio in solution explorer
- select "Clean" from the menu

wait the processing to complete and then go to check the SF explorer: the application should have been disappeared, at least in my setup it works.

Next time you open the solution it will deploy the containers again to the local dev cluster

Hope it

[2018-08-03 17:55] Adam-Smith-MSFT commented on #12822
cl_

[2018-08-03 17:55] DMoonesinghe commented on #11861
Thanks Appreciate your response. Yes, eventually I found that doc.  But
since it was dated 2016 I wasn't sure if it was still relevant.

Thanks for you answer Mike.

On Fri, Aug 3, 2018 at 1:07 AM, dcbrown16 <notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther Kin

[2018-08-03 17:59] Mike-Ubezzi-MSFT commented on #11861
@DMoonesinghe We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 17:59] #11861 closed

[2018-08-03 18:06] Karishma-Tiwari-MSFT commented on #12766
@marinnedea As discussed offline, that you will be engaging with the PGs, we will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 18:06] #12766 closed

[2018-08-03 18:07] antogh commented on #12261
Hi @n3wt0n I have a question for you.
Did you manage to have the service-to-service communication work?
I didn't ☹
I get always the DNS error unable to resolve address
there is another issue open
https://github.com/MicrosoftDocs/azure-docs/issues/12074
 with a bunch of people with the same problem, I wanted to hear someone that succeeded.
Thanks / Grazie (I'm Italian too 😉)

[2018-08-03 18:10] davemedvitz commented on #12842
Of course.  Link follows

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-volume-logging-drivers

[2018-08-03 18:22] Karishma-Tiwari-MSFT commented on #12710
@jrichview I have assigned the issue to the content author to evaluate and update as appropriate.
This blog has some info on using Nuget to achieve this:
https://blogs.msdn.microsoft.com/visualstudioalmrangers/2017/10/10/azure-function-integrating-monitoring-with-application-insights/

[2018-08-03 18:32] jrichview commented on #12710
It’s not a big problem for me at this point. I have waded through the various documentations to get what I needed.  I just think that it would benefit others if this was made clearer. At least a link.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, August 3, 2018 2:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jrichview <jrichview@outlook.com>; Menti

[2018-08-03 18:36] Mike-Ubezzi-MSFT commented on #12818
@shiwaniB Can you take a look at this tutorial: [Get started with Service Bus queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues)

It takes you through a basic exercise of publishing and receiving messages from queues. If there is something you are trying to resolve with your specific project, you might find the MSDN Azure Service Bus fo

[2018-08-03 18:37] tsrob50 opened #12859 "-Path for New-AzureRmAutomationRunbook cmdlet"
Under “To create a new Azure Automation runbook with PowerShell”, it states that “you can specify the Path parameter to import a runbook file.  The -Path parameter is not a valid parameter for the New-AzureRmAutomationRunbook cmdlet, it is for import-AzureRmAutomationRunbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-08-03 18:38] DMoonesinghe commented on #12857
Thanks Alpa.

Appreciate your explanation.  Now it makes sense.
Although the link you gave; I couldn't find any comparisons between the two
either. Given that there's  a suggestion for your team: This document needs
an update to reflect SVA.<
https://docs.microsoft.com/en-us/azure/storsimple/storsimple-overview>

Since I have my answer, I don't want to add to your workload by opening any
issues fo

[2018-08-03 18:45] cmullican opened #12860 "Broken Link"
The link for "Replication with SQL Database Managed Instance (Public preview)" ( http://review.docs.microsoft.com/sql/relational-databases/replication/replication-with-sql-database-managed-instance ) gives a 403 - Forbidden.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version I

[2018-08-03 18:48] bhall7718 opened #12861 "Edge Hub - specify mounted volume to store data"
I'm looking for guidance on the exact setting referenced in another page of these documents. Here is the quote:

“The Edge hub has disk space to store the messages. By default, messages are stored in the Edge hub container's filesystem. There is a configuration option to specify a mounted volume to store the messages instead. In either case, there needs to be space available to store the messages

[2018-08-03 18:50] yairt1974 commented on #11913
From our [FAQ](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq):

The Azure Firewall service complements Network Security Group functionality and together provides better defense-in-depth network security. NSGs provide distributed network layer traffic filtering to limit traffic to resources within virtual networks in each subscription. Azure Firewall is a fully stateful, centralized

[2018-08-03 18:54] nmallick1 opened #12862 "Documentation out of date"
Domain access approval process has changed at GoDaddy. Users no longer have the approve button. HTML / Domain validation are the one ways to approve now.

Kindly update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad

[2018-08-03 18:56] bhall7718 opened #12863 "Offline capabilities - configuration option sample requested"
It would be extremely helpful to have a direct link to, or an inline example of the configuration option developers would use to specify a mounted volume to have the Edge hub store messages in. This comment is in direct response to the following bullet on this page:

"The Edge hub has disk space to store the messages. By default, messages are stored in the Edge hub container's filesystem. There is

[2018-08-03 18:57] Karishma-Tiwari-MSFT commented on #12730
@BarnyardTech Thanks for bringing this to our attention.
I have assigned the issue to the content author to evaluate and update as appropriate.
@apwestgarth Thank you for the explanation. It looks like this explanation would be so much helpful for the customers, if added to the doc. :)

[2018-08-03 18:59] grahamehorner commented on #12847
@apwestgarth @Karishma-Tiwari-MSFT is it possible to build the package from source? if so could you please point me in the direction of source/instructions?

[2018-08-03 19:03] Karishma-Tiwari-MSFT commented on #12710
@jrichview
Thanks for bringing this to our attention. We are working on adding clearer information in the doc.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 19:03] #12710 closed

[2018-08-03 19:05] apwestgarth commented on #12730
@Karishma-Tiwari-MSFT I will review your comment with our doc writers.  We do link to the documentation about this feature of SQL Server.

[2018-08-03 19:06] apwestgarth commented on #12847
@grahamhorner no, it is not possible to build the package from source as we package far more than just the runtime in the installer and these elements are not available in public repositories.

[2018-08-03 19:14] Frankwayne commented on #6788
sorry I had other important work take my time away from this issue.  I'm still facing this issue.

I have SQL server 2017, visual studio 2017,  Azure service fabric sdk.  This is my dev machine so I got a whole bunch of stuff installed.     if you want a full list  I can run the powershell command

Get-ItemProperty HKLM:\Software\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\* | Select-Ob

[2018-08-03 19:15] vhorne commented on #11729
@thuansoldier, OK, no limit on the number of collections. The limit applies to the number of rules contained in those collections.

#please-close

[2018-08-03 19:29] jeevansd commented on #12711
Update is getting published now.
So #please-close

[2018-08-03 19:36] sqlshep opened #12864 "Outdated for VS 2017 ADL tools for VS 2.3.4000.3"
The database and schema selection are not available in script.usql for VS 2017  v15.6.7 and ADL tools for VS 2.3.4000.3, and i honestly cannot figure out where to set the database and schema...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210b41f-15f2-45cd-774a-4cab95bce57c
* Version Independent ID: 0305886f-77d4-86

[2018-08-03 19:36] mhvis commented on #10873
On [this page](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-licensing-whatis-azure-portal), it also says:

We don't have this subscription.

[2018-08-03 19:39] mmacy commented on #12779
@bacongobbler Fixing with to PRs: [#48204](https://github.com/MicrosoftDocs/azure-docs-pr/pull/48204) and [#211](https://github.com/Azure-Samples/azure-cli-samples/pull/211). Once merged, we'll close this issue.

[2018-08-03 19:42] PatAltimore commented on #12697
#please-close

[2018-08-03 19:48] SteveL-CXP commented on #12843
Ok, np... Per my skype msg I will try to get you something next week.

[2018-08-03 19:55] kobulloc-MSFT commented on #12563
@prayshe VM provisioning time depends on too many variables (image type, artifacts, vm size, etc.) to give you an accurate answer.  I've provisioned small VMs, like an Ubuntu Server, in less than 5 minutes.  For larger, more involved VMs like a Windows 10 image with Visual Studio, I'd recommend allowing yourself an hour or more.

We are going to close this thread as resolved but if there are any f

[2018-08-03 19:55] #12563 closed

[2018-08-03 19:58] TravisCragg-MSFT commented on #11729
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-03 19:58] #11729 closed

[2018-08-03 20:03] aleksk commented on #5363
There is still a confusion. Service Fabric UI shows them as "Upgrade domains" everywhere.

[2018-08-03 20:07] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 20:13] nyghtwel commented on #12415
@Blackmist can youu tell me what domainId you used to create a general compact model

[2018-08-03 20:17] MohitGargMSFT commented on #12064
@mjgar We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-03 20:17] #12064 closed

[2018-08-03 20:22] MohitGargMSFT commented on #12680
@titan550 We will now proceed to close this thread. Please open a new issue on the related document .

[2018-08-03 20:22] #12680 closed

[2018-08-03 20:23] MohitGargMSFT commented on #12717
@drinkbird We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-03 20:23] #12717 closed

[2018-08-03 20:24] MohitGargMSFT commented on #12760
@gogbg Please let me know where you got reference of enrollment account so that I could further check on it.

[2018-08-03 20:25] SaurabhSharma-MSFT commented on #12856
@alexbarth-ut Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-03 20:29] lisaguthrie commented on #12696
@spacecat you cannot use Azure Dev Spaces with Minikube. It requires an Azure Kubernetes Service (AKS) cluster to run.

[2018-08-03 20:30] georgewallace commented on #11161
@MattAllison I am working on separating the script, and would love your feedback. I am working on breaking it up and would love to hear on the Service Principal / Application side where you feel the breakout should be.. Currently I am planning on breaking up the script (for the App and Service principal section) into 3 separate ones.. an **App Dev one**, a **App Admin**, and a **User Access Admin*

[2018-08-03 20:37] zahidfaroq commented on #5753
Hello Team, a couple of link from this doc gives error 404 and customer on MSDN forum has also reported the same, do you we have any information or update on this as there seems no other doc related to Antimalware process. Thanks

[2018-08-03 20:39] kgremban commented on #12418
@rcoccia and @mike-urnun-msft I've reached out to the product team to ask them about this.

[2018-08-03 20:41] zahidfaroq opened #12867 "Broken links and outdated information"
Hello Team, a couple of link from this doc gives error 404 and customer on MSDN forum has also reported the same, do you we have any information or update on this as there seems no other doc related to Antimalware process. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Vers

[2018-08-03 20:44] Mike-Ubezzi-MSFT commented on #12860
@cmullican Thanks for the feedback. I am not able to reproduce the 403 error. Is it still occurring?

![screenshot 141](https://user-images.githubusercontent.com/37126106/43664883-4e723b5a-9723-11e8-80ea-3788cdab36f7.png)

[2018-08-03 20:50] Mike-Ubezzi-MSFT commented on #12863
@bhall7718 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 20:53] cynthn commented on #8372
@akramwaseem thanks for the feedback. I'm working on finding the right folks in the marketplace to see if we can get more information added for each of the images. Getting this kind of a change is outside of the scope of the documentation, so I'm going to have the doc issue closed.

#please-close

[2018-08-03 20:54] cmullican commented on #12860
It is:
![image](https://user-images.githubusercontent.com/751137/43665311-96259e5a-9724-11e8-95b6-ddea2692991e.png)

'Maybe you are in the authorized group, but the general public isn't?

[2018-08-03 20:55] cynthn commented on #11459
@OldManSmithers thanks for the feedback. I've added a backlog work item to make this update or something similar during the next round of reviews.

#please-close

[2018-08-03 20:55] TravisCragg-MSFT commented on #12771
@jdogg89 Currently AKS only uses Basic SKU LBs. If you would like to request this feature, please [leave your feedback Here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks).

I will post any other information that I am able to find to this thread.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2018-08-03 20:56] Karishma-Tiwari-MSFT commented on #12529
@kaa4ever I followed the steps in the document and I was able to successfully mount the Azure file share on all nodes of the cluster.
I would like you to double check on two things and retry:
1. Did you create two scripts, upload the scripts to master node and then run `getNodesRunScript.sh` script using `sh ./getNodesRunScript.sh`
2. Make sure you run the script to **master server**.

I am sharin

[2018-08-03 20:57] cynthn commented on #11997
@sundaxi thanks for the feedback! It sounds like this is dependent and not always required. If I can narrow down the specifics around when you need to have external internet access, I will update the doc.

#please-close

[2018-08-03 20:58] nyghtwel opened #12869 "Change domain thru REST API"
Is there a way to create a model that sets the domain to general compact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Independent ID: c7a4bb67-957d-f0a3-4a9f-e71035923f58
* Content: [Export your Custom Vision Service model to mobile - Custom Vision Service - Azure Cogni

[2018-08-03 20:59] MattAllison commented on #11161
The separation we have is between the individuals that can manage Azure AD (Azure AD permissions) and the individuals that can create/configure Azure Automation accounts (ARM permissions).

In some cases, the people with ARM permissions don't even have read access to Azure AD (don't ask me why - it makes no sense to me).

I think success looks like ~3 commands:

1) New-AzureADAutomationRunAsAccoun

[2018-08-03 21:03] Mike-Ubezzi-MSFT commented on #12860
@cmullican Yes, this is a repo thing. I believe updates are being pushed out but I will forward this on to the content owner to have this looked at. Thank you!

[2018-08-03 21:06] kgremban commented on #12773
Hi @ArneVlietinck, currently the implementation that you want to do is not supported. You can't string multiple Edge devices together. Edge gateways only work for non-edge devices at this time.

[2018-08-03 21:14] kgremban commented on #12774
@ArneVlietinck I'm looking into this question. Where specifically does it say that devices can only support 10 modules? I can't find that message.

[2018-08-03 21:30] mtillman commented on #5544
@MicrosoftDocs/azure-cxp-triage #please-close
This issue does not require further work.

[2018-08-03 21:30] mtillman commented on #5520
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-03 21:31] MohitGargMSFT commented on #12813
@CraigHumphrey Please note that in an Azure AD Tenant a guest user can be added and based on that invitation email is sent to the guest user email account. Once the guest accepts the invitation and login to Azure Portal with that account, it will be part of the Azure AD tenant which invited that account. However, that account can create its own Azure AD Tenant and use it for its own organization p

[2018-08-03 21:36] jeevansd commented on #5520
@JohnMoor  and @mtillman I am not owner on this article. So it should not be in my queue.

[2018-08-03 21:37] femsulu commented on #12852
@minimusgeekus thanks for your comment. This has been shared with the content owner for further review.

[2018-08-03 21:37] jdlibbee opened #12870 "You do not have permission to view this directory or page. after following tutorial"
I followed the tutorial to get started to deploy my Nodejs app, and I followed it directly and got the titled error that I don't have permission. I see that someone else got the same error and I tried what was suggested for them and it did not work. Can someone assist me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-03 21:40] BryanTrach-MSFT commented on #12846
@skalinets I had this discussion internally on May 31st and the take away was that swapping/ auto swapping is not possible today. This is due to the fact that swap only exists as an action (as opposed to a state) and templates can't call actions.

There is a chance this might be added as a feature this year. To help bubble this up, I would suggest leaving this feedback on [Azure User Voice](https:

[2018-08-03 21:40] #12846 closed

[2018-08-03 21:42] BryanTrach-MSFT commented on #12854
@xavierrouhaud Thank you for the response. Please use the closing tag when you wish to have this closed out.

[2018-08-03 21:43] femsulu commented on #12859
@tsrob50 Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-08-03 21:46] femsulu commented on #12829
@simonschwingel apologies for the typo above. Thanks for your question. we are actively investigating and will get back to you soon.

[2018-08-03 21:51] kobulloc-MSFT commented on #12644
@scottzilla I'm assigning this to the document author so that they can review and update the document appropriately.

[2018-08-03 21:55] Adam-Smith-MSFT commented on #12849
@DMoonesinghe tki

[2018-08-03 22:00] eross-msft commented on #12775
@awgraf  Thank you for catching this. I'm in the process of updating much of this content over the next few weeks and will definitely fix this article as part of that. I'm adding this change to my task list so I don't forget about it.

[2018-08-03 22:01] SnehaGunda commented on #12514
@atiq-cs I just tested the sample on VA 2017 , Microsoft.Azure.DocumentDB version- 1.22.0.0 (this is the latest version of the Cosmos DB .Net nuget package) and the sample works fine, It created FamilyDB database and the specific collection.

[2018-08-03 22:02] Karishma-Tiwari-MSFT commented on #12602
Since we haven't heard back from you, we will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 22:02] #12602 closed

[2018-08-03 22:05] #12779 closed

[2018-08-03 22:05] bacongobbler commented on #12779
thanks!

[2018-08-03 22:09] kgremban commented on #12812
@sjyang18 Thank you for the suggestion. I'll create a pull request to update this article.

[2018-08-03 22:13] MohitGargMSFT commented on #12835
@PeterKlapwijk Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

@billmath Please check the steps in Step 1 and Step 10 are same. However, Step 1 says optional but Step 10 does not. Please help clarify.

[2018-08-03 22:18] asmalser-msft commented on #11784
Hi - Is the portal crashing issue still happening? And across multiple browsers? If it's still happening, we'll need to route this to support.

[2018-08-03 22:24] MohitGargMSFT commented on #12850
@matdcooper Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

@davidmu1 Please note that the table in ths section [Comparing built-in policies and custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview-custom#comparing-built-in-policies-and-custom-policies) says for UI Customization t

[2018-08-03 22:27] #5544 closed

[2018-08-03 22:31] MohitGargMSFT commented on #12751
@Aleksanderis Please check if this document helps with your requirement - [Convert a scale set template to a managed disk scale set template](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-convert-template-to-md)

[2018-08-03 22:37] Dc9894 commented on #12602
Hi @Karishma-Tiwari-MSFT sorry I couldn't give you feedback before. This is how my VM looks before i try tu update it:

[code]

As you can see there is no ```osprofile``` field in the data returned. On the other hand this is the ```osprofile``` of the updated VM variable:

[code]

Hope this information is useful for you.

[2018-08-03 22:43] ramankumarlive commented on #8861
I am looking into the issue.

[2018-08-03 22:43] swkrish commented on #7139
Thank you. I am adding a clarifying note to the doc.

[2018-08-03 22:44] swkrish commented on #7139
@MohitGargMSFT  PR is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/48232. #please-close

[2018-08-03 22:49] vasivara-MSFT commented on #12864
@sqlshep Thank you for your question. I am able to see the database and selection toolbar. Please take a look at the below screenshot

![image](https://user-images.githubusercontent.com/37670439/43668920-743e88fa-9734-11e8-92a6-a21b64537b59.png)

My ADL tool version is 2.29000.1. I will try to update and see if I face the same issue.

In the mean time, please use the below script in your usql scri

[2018-08-03 22:50] daviburg opened #12876 "Missing 5.6 release notes"
Current storage emulator for download on Azure SDKs is 5.6. Release notes here only go up to 5.5. What's changed or new in 5.6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure storage emulator fo

[2018-08-03 22:58] sqlshep commented on #12864
Glad it works on your machine, mine is a fresh install of everything, in fact it is your data science virtual machine. I did fully qualify the database name in the script to get it working.

![screen shot 2018-08-03 at 3 58 22 pm](https://user-images.githubusercontent.com/10249273/43669200-1a265f58-9736-11e8-9375-f0c180688441.png)

[2018-08-03 23:01] MohitGargMSFT commented on #12867
@zahidfaroq Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-03 23:04] MarkAD88 opened #12877 "Xml content doesn't line up with parameter description"
When testing this code sample I kept getting back an Invalid Scope response from our Identity Server (implemented using IdentityServer4) indicating an invalid scope.

When I changed the I replaced the value "resource={{scope}}" with "scope={{scope}}" the call began working and I received back a valid access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-08-03 23:11] MohitGargMSFT commented on #12867
@zahidfaroq Thanks for reporting! I have assigned the issue to content author to fix the non-working links.

@barclayn Please fix below links in the document.
https://github.com/Azure/azure-sdk-tools#get-started
http://msdn.microsoft.com/library/azure/dn771718.aspx
http://msdn.microsoft.com/library/azure/dn771720.aspx
http://msdn.microsoft.com/library/azure/dn771717.aspx
http://msdn.microsoft.com/

[2018-08-03 23:11] SaurabhSharma-MSFT commented on #12652
@SwilliamsIOT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 23:11] #12652 closed

[2018-08-03 23:16] vasivara-MSFT commented on #12864
@sqlshep I am able to repro this error.

![image](https://user-images.githubusercontent.com/37670439/43669510-6a673184-9738-11e8-88e6-966ff6d4dead.png)

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-03 23:18] Adam-Smith-MSFT commented on #12585
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-03 23:18] #12585 closed

[2018-08-03 23:25] Deniks opened #12879 "Data types in face api"
Hey!
I have a problem with providing a data type to face api. There i need to give a url link of image, but i have real time app where user takes a selfie and the problem is to convert canvas to url, i used the method toDataURL(), doesnt work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca731f9b-4a5c-c877-5951-702da

[2018-08-03 23:26] #7139 closed

[2018-08-03 23:32] curtand commented on #9123
It's checked in now: https://github.com/MicrosoftDocs/azure-docs-pr/pull/48239

@gutjahr
@SaurabhSharma-MSFT

[2018-08-03 23:40] curtand commented on #12391
@thuansoldier
I gave you the link to the Azure Resource Manager cmdlet: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermadgroup?view=azurermps-6.6.0
The documentation for the Azure AD cmdlet is at https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadgroup?view=azureadps-2.0

I can open a backlog item to document the differences between these two, bu

[2018-08-03 23:42] kobulloc-MSFT commented on #12625
@agnimitra Unfortunately default domains remain active, and cannot be disabled.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-03 23:42] #12625 closed

[2018-08-03 23:58] Karishma-Tiwari-MSFT commented on #12675
@OzBob The **Important** note says, "**_Each 2-processor license_** or each set of 16-core licenses are entitled to two instances of up to 8 cores, or one instance of up to 16 cores."
If you hover over the "i" next to the first field, you will see "One 2-proc license = 16 cores".
Since you are entering 8 in the above example, it calculates 1 eligible machine. In order to make 2-processor license,

[2018-08-04 00:01] SaurabhSharma-MSFT commented on #12811
@mdittakavi Yes as E3 also contains features supported by Azure Active Directory Premium P1.   Please check for [Enterprise Mobility + Security](https://microsoft.com/en-us/cloud-platform/enterprise-mobility-security-pricing) documentation for more details.

[2018-08-04 00:07] YutongTie-MSFT commented on #12830
@nigelHRBOT
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-04 00:09] YutongTie-MSFT commented on #12831
@nigelHRBOT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a document-enhancement suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-04 00:09] kobulloc-MSFT commented on #12877
@MarkAD88 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-04 00:10] YutongTie-MSFT commented on #12841
@KarthickTC Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-04 00:12] YutongTie-MSFT commented on #12869
@nyghtwel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-04 00:13] YutongTie-MSFT commented on #12879
@Deniks Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-04 00:14] eamonoreilly commented on #12852
@minimusgeekus could you mention the items that are out of date? I just had a quick review and it seems to match what we have in the portal? Thanks for submitting this issue, I appreciate it.
Eamon

[2018-08-04 00:15] YutongTie-MSFT commented on #12640
@ProgBCSA Thanks a lot for you feedback and solution. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@wolfma61 Thanks for your response.

[2018-08-04 00:15] #12640 closed

[2018-08-04 00:27] SaurabhSharma-MSFT commented on #12836
@lashchev Closing this as this issue is this being addressed through #12837

[2018-08-04 00:27] #12836 closed

[2018-08-04 00:30] Aleksanderis commented on #12751
I already tried to do migration to managed disks on VM scale sets using ARM templates, but I'm not sure what's the difference.

I tried following template:
[code]

Actually it's copied from Service Fabric cluster template generated when you create Service Fabric cluster in Azure Portal. In other words - this template works if it's created from scratch. However I see in docs from your URL - it ment

[2018-08-04 00:42] BryanTrach-MSFT commented on #12862
@nmallick1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-04 01:28] spincraft commented on #12571
which Docker platform is downloaded for this example here?
DOCKER CE FOR UBUNTU?

[2018-08-04 01:34] BryanTrach-MSFT commented on #12820
@deruss As you found, you will need to add the IPs for internal (Azure) services and external services. Other services such as Azure SQL offer the ability to whitelist any internal traffic with a check box but the built in IP restrictions requires you to manually add all resources at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2018-08-04 01:34] #12820 closed

[2018-08-04 02:37] Emcc commented on #12624
Finally, I solve this problem by adding a rule in sf-vnet-secure from Azure portal
The default rule allow port 3389 rather than port 22 in vnet-security policy
Thank you @MicahMcKittrick-MSFT !

[2018-08-04 02:49] jeevansd commented on #7136
@chetansriv  and @v-nagta Have we updated this article?

[2018-08-04 02:52] jeevansd commented on #6939
@chetansriv and @v-nagta Have we updated this article?

[2018-08-04 03:30] butchmarshall commented on #11784
Hi @asmalser-msft - sorry for not updating and going silent for a bit (I hate it when people do that!).

The issue with the `UserProvisining/[...]/restart` service throwing 500 resolved itself the next day.  It was happening in chrome and firefox. ¯\\\_(ツ)_/¯

With regard to the manager update issue I was reporting before this was my process:

1) Clearing all the local data in my SASS service
2) I

[2018-08-04 03:49] zaxer0229 commented on #11913
Thank you very much!
It’s very clear!

yairt1974 <notifications@github.com>於 2018年8月4日 週六，上午2:50寫道：

--
Best Regards
Oscar Chen
陳柏鍠

[2018-08-04 03:57] sundaxi commented on #11997
Hi, it's not about public IP. If you don't have public IP, Azure loadbalancer could do the SNAT automatically for you.

The issue happened only when you don't have the public network access, some customers DMZ network work doesn't allow to access the public network by NSG or GW firewall.

[2018-08-04 04:13] georgewallace commented on #11161
@MattAllison Yes that makes sense.. as I was just talking about creating the AAD App, creating the the service principal and finally configuring the role assignment.. the Automation stuff will be in its own separate section..

[2018-08-04 04:39] CelesteDG commented on #8779
@SaurabhSharma-MSFT @MohitGargMSFT - I think this issue can be closed. Thank you.
#please-close

[2018-08-04 05:54] shiwaniB commented on #12818
@Mike-Ubezzi-MSFT

Yes, I already had a look at above tutorials.

but with reference to below link it is mention that **currently we need to setInterval function to read messages from service bus topic**
https://stackoverflow.com/questions/37874359/azure-node-js-service-bus-persistent-subscription-of-topic

but as per my requirement I want node js code to create persistent subscription for Azure s

[2018-08-04 07:33] murdockcrc commented on #12821
Just tried to change the content of the file via a minor file change in the GitHub portal, but it fails with a 500 error. I was trying to add this content to the article:

[2018-08-04 07:34] murdockcrc commented on #12821
@ChackDan : as discussed on email, here is the GH issue I opened for this topic.

[2018-08-04 09:42] peirens-bart opened #12884 "CustomClaims section is incorrect"
used documentation:
 https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-application-manifest

I added a optionalClaims from the know list found in the description list, as a string like the documentation is. (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims)

`"optionalClaims": "nickname"`

If i try to upload this then a

[2018-08-04 10:15] msghaleb commented on #10208
@dannradkov - currently it is not supported to encrypt the OS disk, you may end up getting no support. As stated, Microsoft and Redhat are working to get you covered - till then you can rely on the Storage Service Encryption (SSE) at the platform storage account layer which could be an alternative to full disk encryption using dm-crypt. (see above)

[2018-08-04 12:36] ddobric opened #12885 "Deploying of application hungs"
I have created a simple ASP.NET application. Application runs locally (hit F5 in VS) as expected.
When trying to deploy it to azure, it creates the resource group, publishes the image to registry, but it  hangs when deploying application.
Here is the VS trace:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd67c

[2018-08-04 14:10] nobodykid opened #12886 "Tried to access https://your-vm-address:8000/lab, always redirected to /hub/lab"
Hello, I'm currently using Azure Deep Learning VM (Ubuntu), and tried to access the JupyterLab as instructed in the [JupyterHub & JupyterLab](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#jupyterhub-and-jupyterlab) section.

But, when I tried to access `https://my-vm-ip:8000/lab`, I always got redirected back to my JupyterHub, causing the UR

[2018-08-04 14:26] SaurabhSharma-MSFT commented on #12837
@lashchev The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-08-04 14:26] #12837 closed

[2018-08-04 15:02] ajamess commented on #7476
Did you enable the feature at the app level? You need to enable some apps to be "self-serviced" and ensure that they are in scope of all users before seeing that add button appear. You also should make sure that the various guest user settings give them the appropriate permissions in your environment to take this action.

[2018-08-04 16:43] Tho3as commented on #12074
I encounter the same problem.  I recently updated to SF and SF Mesh 6.3.162.9494.  Since then I notice that service fabric:/System/ClusterManagerService is giving warnings: FabricDnsService is not preferred DNS server on the node.

Could this be related?  Does anybody has see the same warning?

[2018-08-04 16:45] femsulu commented on #12870
@jdlibbee Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-04 18:03] BestBackwards commented on #10921
All, I'm not sure why this was closed. I have a support case open and a solution to this is yet to be found. I am not surprise by the Microsoft attitude of "close it because nobody complained recently."

Please, for the love of Christ, can you provide some useful documentation.

I would expect that when I add a secondary NIC to a VM I would at least see an IP address come through on the adapter. I

[2018-08-04 18:27] Karishma-Tiwari-MSFT commented on #12696
If you want to make a feature request, please file [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks)
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-04 18:27] #12696 closed

[2018-08-04 18:29] Karishma-Tiwari-MSFT commented on #12675
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-04 18:29] #12675 closed

[2018-08-04 18:50] kobulloc-MSFT commented on #12606
@pbrinkleyrogers I'd give @mikebudzynski 's troubleshooting steps a shot.  It looks like you may have just needed to wait a couple minutes before your Application Insights instance was available.  I went through the documentation as well, and was able to get all of my Application Insights instances to show up.

![image](https://user-images.githubusercontent.com/37556655/43679609-7d87ffba-97dc-11e8

[2018-08-04 18:50] #12606 closed

[2018-08-04 18:54] Karishma-Tiwari-MSFT commented on #12832
@iMartyn As asked in the comment above, Can you please provide the output of the cluster-autoscaler-status?
kubectl -n kube-system describe configmap cluster-autoscaler-status

[2018-08-04 19:14] Adam-Smith-MSFT commented on #12884
@peirens-bart Thank you for the valuable feedback,we are investigating the issue.

[2018-08-04 19:16] Adam-Smith-MSFT commented on #12885
@ddobric Thank you for the valuable feedback,we are investigating the issue.

[2018-08-04 19:52] marinnedea commented on #10921
@BestBackwards working with NICs at Linux OS level is not Azure or Microsoft related. That's common knowledge in the world of Linux. Specific instructions for multiple NICs configuration should be actualy provided by the Linux Distribution vendors, not by Azure or Microsoft. And the "nobody at Microsoft knows Linux" affirmation is just malitios from you...

[2018-08-04 20:28] Mike-EEE commented on #10199
@ctolkien You should keep this open for those who are running into the same problem.  Actually, in my case, I am not getting an MSA prompt but to create an AAD domain account, which is not what I want at all.  Why is it prompting to create a new username and password when the account is already MSA?

[2018-08-04 20:44] MattAllison commented on #11161
Creating apps/service principals is fairly well documented in various places (though perhaps none of the samples are awesome), the Automation part is pretty obscure and more important, at least to me, as a result.

Thanks for all you’re doing!

________________________________
From: George Wallace <notifications@github.com>
Sent: Friday, August 3, 2018 9:13:17 PM
To: MicrosoftDocs/azure-docs
Cc: M

[2018-08-04 21:45] dwhieb opened #12889 "Reauthentication loop fix worked!"
I've been trying to get Azure Storage Explorer to reauthenticate with my Azure account for a week, with no luck. I had updated the primary alias on my Microsoft account, and I believe this is what caused the authentication issue. The fix on this page was exactly what I needed! Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-08-04 22:43] mdittakavi commented on #12811
Thanks Team.
One last query. Are these connectors also sync ‘Workday’ profile pictures with Active Directory.

Thanks and Regards,
Murali Dittakavi
Integration & Collaboration Technical Lead

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Saturday, 4 August 2018 10:02 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Murali Dittakavi <Murali.Dittakavi@multiplex.global>

[2018-08-04 23:14] Fenn-CS commented on #9466
@thomas-kinnari I had the exact same error! It made clone the repository and run locally it worked but it's on linux. During creation of the webapp select linux as environment OS.

However the graph worked for a few seconds then stopped only for me to find the epoch error on terminal the number keeps increasing as time passes. I have created a consumergroup and don't understand why MS tutorials of

[2018-08-05 01:36] Karishma-Tiwari-MSFT commented on #12753
@mrdfuse You can find more info in this article : https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health#enable-container-health-monitoring-for-existing-managed-clusters

After you enable container health, these metrics are automatically collected for you through a containerized version of the Operations Management Suite (OMS) Agent for Linux and stored in your Log Analytics

[2018-08-05 01:42] Karishma-Tiwari-MSFT commented on #12885
@ddobric I just tried deploying the application following the same doc and the application is successfully deployed. Can you try again and share, if you are facing the same issue every time?

[2018-08-05 01:43] jjacode commented on #11053
Nevermind, I was using template strings ( `env: ${process.env.NODE_ENV}` ) and it seems that there is no ES6 support. Which also means no arrow functions. But, `console.log()` works fine, just avoid any ES6.

[2018-08-05 01:52] SigmaSolutions opened #12891 "Message "No App Service Plands Found" after select "Change App Service Plan" for App Service"
Currently having two App Service Plans show in the portal.
Following the instruction online: select a web service, then click "Change App Service Plan", I receive message following screen

![image](https://user-images.githubusercontent.com/41167685/43681926-e329e1f6-9838-11e8-9fee-5b9cec2bbe18.png)

Not sure what I can do to change the App Service plan in such situation. Thanks for help.

---
####

[2018-08-05 02:02] SigmaSolutions opened #12892 "Received message "No App Service Plans Found" while change App Service plan for a selected Web Service on Azure"
I have two service plans currently. Try to change Service Plan for a Web Service. Following the instruction online, selected a web service, click Change App Service Plane, then received "No App Service Plans Found" under App Service plan blade. Cannot find to way to select existing service plans. Please advise what should I do next. Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-05 02:06] Karishma-Tiwari-MSFT commented on #12889
@dwhieb Thanks for your valuable feedback. We are glad you were able to resolve the issue with the help of the doc.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 02:06] #12889 closed

[2018-08-05 02:40] Fenn-CS commented on #9466
@thomas-kinnari I had the exact same error! It made clone the repository and run locally it worked but it's on linux. During creation of the webapp select linux as environment OS.

However the graph worked for a few seconds then stopped only for me to find the epoch error on terminal the number keeps increasing as time passes. I have created a consumergroup and don't understand why MS tutorials of

[2018-08-05 04:53] mamukundan commented on #12560
Thanks a lot. It is pretty clear and consistent.

[2018-08-05 04:53] #12560 closed

[2018-08-05 06:51] jackting73 commented on #12700
Hi @femsulu

My billing cycle is from 5-12-2018 to 6-11-2018, but the [invoice](https://vmtestdiag0703.blob.core.windows.net/reservedip/reservedip.PNG) include partial usage from previous cycle on 5-11-2018 which should NOT be in this billing cycle.

Quick Summarize the issues here:

1. The invoice is based on the v1 usage report to sum of the daily usage because v1 is correct, however the sum of

[2018-08-05 07:02] Adam-Smith-MSFT commented on #12891
@SigmaSolutions Thank you for the valuable feedback,we are investigating the issue.

[2018-08-05 07:05] Adam-Smith-MSFT commented on #12892
@SigmaSolutions Thank you for the valuable feedback,we are investigating the issue.

[2018-08-05 08:05] sugan2205 opened #12895 "Content Feedback"
Steps are not clear

kubectl cp ~/.ssh/id_rsa aks-ssh-554b746bcf-kbwvf:/id_rsa

Not sure from where we have to copy the id_rsa . Please elaborate on this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH int

[2018-08-05 08:35] hellosnow commented on #12701
@Adam-Smith-MSFT in azure-docs, do you know who is the content writer on consumption API?

[2018-08-05 08:36] alygcode opened #12896 "To onboard an Azure Resource Manager VM for management by Azure Automation DSC"
the automation account menu has been updated. Under configuration management I see "Inventory", "Change tracking" , "State configuration (DSC)" its different from the image current in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a48d43-dc10-b334-3774-b72ea10efdb7
* Version Independent ID: e56beb8a-da04

[2018-08-05 08:46] lnodaba opened #12897 "Set-AzureKeyVaultManagedStorageSasDefinition doesn't have -Service argument"
Both is containing a Service argument:

Set-AzureKeyVaultManagedStorageSasDefinition -Service Blob -ResourceType Container,Service -VaultName $keyVaultName -AccountName $accountName -Name $readSasName -Protocol HttpsOnly -ValidityPeriod $validityPeriod -Permission Read,List

Set-AzureKeyVaultManagedStorageSasDefinition -Service Blob -ResourceType Container,Service,Object -VaultName $keyVaultName -

[2018-08-05 09:47] yogevdaniel commented on #6799
Hi.
i did all the actions in this good article cut in the stage of configuring the Listiner in the SQL Studio
it is not appear in the console and it is available int WFCM console.
any idea ?

[2018-08-05 11:52] ohorvath commented on #12472
Still not working with AzureAD accounts. No prompt for phone sign-in on any of the portals. Using auth app 5.9.9 on IOS.

[2018-08-05 11:55] nabhishek commented on #7042
@GagandeepS Please refer [this tutorial](https://github.com/rawatsudhir1/ADFPythonCustomActivity ) that uses python running on Linux batch pool. You can choose to run the .py file on Windows batch pool as well as long as it is compatible with Windows.
Let me know if you have any questions.

[2018-08-05 13:54] BenHayat opened #12898 "Please upgrade the sample apps to Asp.Net Core 2.x"
Could you please upgrade the sample apps to .Net Core 2.x rather using older versions with Owin and web.config?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcf76a42-4ecb-63c9-8ca0-40af417006d7
* Version Independent ID: 34c4f58e-a6a9-ab8c-0721-c4b8c5e0248b
* Content: [Tutorial - Enable a web application to authentica

[2018-08-05 14:13] LlamaX opened #12899 "Supported data stores - MySQL cloud source"
If the MySQL database is hosted on a cloud server, publicly accessible, is Azure IR supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en

[2018-08-05 15:17] griff182uk opened #12900 "Cannot connect to External Data Source WWI Blob Storage"
When I try to create the external tables I get the following error, can anyone help?

EXTERNAL TABLE access failed due to internal error: 'Error occurred while accessing HDFS: Java exception raised on call to HdfsBridge_Connect. Java exception message:
Parameters provided to connect to the Azure storage account are not valid.'

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-08-05 15:45] #5520 closed

[2018-08-05 15:49] MicahMcKittrick-MSFT commented on #11947
@nyenggyang Can you email me at AzCommunity@Microsoft.com and provide me with your subscriptionID and link to this GitHub issue? I can enable a support request for you :)

[2018-08-05 15:56] MicahMcKittrick-MSFT commented on #12895
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-05 16:11] haydenhancock opened #12901 "No templates matched the input template name: azureFunctionsProjectTemplates."
I am using azure-functions-core-tools (6.0.1) in Visual Studio Code and receive the following error:

'No templates matched the input template name: azureFunctionsProjectTemplates.'

This is right after running the 'func init MyFunctionProj' command and choosing the dotnet template. I am not experiencing this issue when choosing the node template. I have node 10.8.0 installed. Any guidance is much

[2018-08-05 16:42] jsnikhil opened #12902 "The GitHub repository doesn't exists"
The Github repo key-vault-node-quickstart this document suggests to clone doesn't exists in Github anymore. Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa1215c-57d4-3da4-e459-c97590f5895f
* Version Independent ID: c2d089e3-fdea-fe27-5d9e-2f62c4b055f4
* Content: [Configure an Azure w

[2018-08-05 18:25] kaa4ever commented on #12529
Well if you have it working, i guess I must have done something wrong in either those step or setting up the dc/os. I would love to try again, but my time is pretty sparse these days I'm afraid, and since this was only a research task, I'm pretty convinced we'll move to a Kubernetes setup anyways.

[2018-08-05 18:46] Karishma-Tiwari-MSFT commented on #12901
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-05 18:54] ggailey777 commented on #9542
I think that the issue is related to a bug in the way in which the ServiceBusTrigger is being used here, particularly since the code doesn't run locally (this may be an issue with starting with v1 and moving v2 runtime). Unless we hear back from @smoms, #please-close.

[2018-08-05 18:59] ggailey777 commented on #9926
Since we've added a link to the binding reference topic shown here, #please-close.

[2018-08-05 19:02] ggailey777 commented on #9992
@SychevIgor I think that you actually have a very valid point. We highlight the portal quickstart for functions, but as you point out .csx is not ideal for C# functions (which is different than other langs). Perhaps we need a note in the portal quickstart that recommends the VS quickstart for C# users?

[2018-08-05 19:35] Karishma-Tiwari-MSFT commented on #12529
@kaa4ever  Thanks for your feedback.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 19:35] #12529 closed

[2018-08-05 19:45] ggailey777 commented on #10402
@tdykstra do we have an internal work item to track this new WebJobs SDK behavior?

[2018-08-05 19:56] femsulu commented on #12899
@LlamaX Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-05 19:58] femsulu commented on #12900
@griff182uk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-05 19:59] femsulu commented on #12896
@alygcode Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-05 20:01] femsulu commented on #12897
@lnodaba Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-05 20:02] femsulu commented on #12898
@BenHayat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-05 20:05] femsulu commented on #12902
@jsnikhil We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:06] #12902 closed

[2018-08-05 20:57] femsulu commented on #5878
@andrepodnozov are you still experiencing this issue?
@kgremban any insight on this?

[2018-08-05 20:57] femsulu commented on #7480
@dtopham75 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:57] #7480 closed

[2018-08-05 20:58] femsulu commented on #8372
@akramwaseem We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:58] #8372 closed

[2018-08-05 20:58] femsulu commented on #8598
@adamfowlerit We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:58] #8598 closed

[2018-08-05 20:59] femsulu commented on #8779
@danbtl We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:59] #8779 closed

[2018-08-05 20:59] femsulu commented on #9542
@smoms We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 20:59] #9542 closed

[2018-08-05 21:00] femsulu commented on #9829
@CHDAFNI-MSFT We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:00] #9829 closed

[2018-08-05 21:00] femsulu commented on #9926
@r3plica We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:00] #9926 closed

[2018-08-05 21:01] femsulu commented on #9931
@nigelainscoe We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:01] #9931 closed

[2018-08-05 21:01] femsulu commented on #9992
@SychevIgor We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:01] #9992 closed

[2018-08-05 21:02] femsulu commented on #10754
@jdogg89 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:02] #10754 closed

[2018-08-05 21:04] femsulu commented on #11459
@OldManSmithers We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:04] #11459 closed

[2018-08-05 21:04] femsulu commented on #11763
@yeya We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:04] #11763 closed

[2018-08-05 21:06] femsulu commented on #11779
@rsrinivasanhome We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:06] #11779 closed

[2018-08-05 21:06] femsulu commented on #11781
@venkatfbi We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:06] #11781 closed

[2018-08-05 21:07] femsulu commented on #11997
@sundaxi We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:07] #11997 closed

[2018-08-05 21:08] femsulu commented on #11835
@porrascarlos802018 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:08] #11835 closed

[2018-08-05 21:09] femsulu commented on #12391
@thuansoldier We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:09] #12391 closed

[2018-08-05 21:09] femsulu commented on #12454
@mganeshphani We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:10] #12454 closed

[2018-08-05 21:16] femsulu commented on #12484
@Anmolgan81 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:16] #12484 closed

[2018-08-05 21:17] femsulu commented on #12697
@digeler We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:17] #12697 closed

[2018-08-05 21:17] femsulu commented on #12711
@awgraf We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:17] #12711 closed

[2018-08-05 21:18] femsulu commented on #12718
@patrickCode We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:18] #12718 closed

[2018-08-05 21:18] femsulu commented on #12742
@DMoonesinghe We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:18] #12742 closed

[2018-08-05 21:19] femsulu commented on #12783
@praneetmsft We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 21:19] #12783 closed

[2018-08-05 22:16] KeiroKamioka0000 opened #12903 "Please fix the dead link"
The links in &lt;Increase MaxPoolSize per host when using Gateway mode&gt; Section contains dead link, please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd812d96-09b9-08d6-3581-bf817c5dc63e
* Version Independent ID: b15f7904-d1b9-0a3e-67ac-ec5f52092c6f
* Content: [Azure Cosmos DB performance tips for Java](htt

[2018-08-05 23:05] dcbrown16 commented on #5753
@zahidfaroq I'll reopen this thread for you but I imagine it would be helpful if you can specify the links that are dead.
@mike-urnun-msft please see new inquiry on this thread.

[2018-08-05 23:08] femsulu commented on #12829
@simonschwingel the [latest Azure Monitor SLA publication](https://azure.microsoft.com/en-us/support/legal/sla/monitor/v1_2/) guarantees an alert within 5 mins (max) - ref excerpt below.
Please note there are many factors that can impact the alert time such as the underlying network bandwidth and/or usage load at any given time.

![image](https://user-images.githubusercontent.com/34327711/43691012

[2018-08-05 23:13] femsulu commented on #12903
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-05 23:16] nikolaiblackie opened #12904 "Description for "Create custom topic" appears to be incorrect?"
This might be a simple copy paste issue from template, Create custom topic desc reads	"Creates a managed disk from a specialized VHD as a OS disk or from a data VHD as data disk."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fa0585c-e306-0b35-c807-610df8bb983e
* Version Independent ID: ce507d21-d4e1-6488-0cb4-7a8f7d

[2018-08-05 23:16] nikolaiblackie opened #12905 "Description for "Create custom topic" appears to be incorrect?"
This might be a simple copy paste issue from template, Create custom topic desc reads	"Creates a managed disk from a specialized VHD as a OS disk or from a data VHD as data disk."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893f2905-b894-13c5-33b8-65308609ce44
* Version Independent ID: 78aac41b-3610-4224-2003-8f77e0

[2018-08-05 23:51] femsulu commented on #12677
Hi @omerzubair according to the [linked FAQ](https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer#no-button), the reason you are not seeing the button is because the self service option is currently not enabled in your country. You will need to contact Azure support if you need to execute a subscription transfer. Sorry for the inconvenience.

![image](https://user-images.gi

[2018-08-05 23:52] femsulu commented on #12677
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-05 23:52] #12677 closed

[2018-08-05 23:59] femsulu commented on #12679
@mlearned any insights into this error?

[2018-08-06 01:09] GagandeepS commented on #7042
@nabhishek Thanks. It looks promising. However, it only runs 1 standalone python script. I hope I can run something like a controller.py script which ultimately calls 5-6 classes.

[2018-08-06 01:46] TimThrill opened #12906 "Typo"
I guess the left side menu "Configure using Axure blob storage" should be "Configure using Azure blob storage".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Manage Azure SQL Database long-term backup retent

[2018-08-06 02:09] Karishma-Tiwari-MSFT commented on #12809
@joselw-ms Thanks for sharing your valuable feedback. It looks like, currently, this is the way to give network service access to the certificate's private key.
If you would like to request this feature, please leave your feedback [Here](https://feedback.azure.com/forums/293901-service-fabric).

I will post any other information that I am able to find to this thread.

We will now proceed to close

[2018-08-06 02:09] #12809 closed

[2018-08-06 02:13] tamram commented on #12876
#in-progress

[2018-08-06 02:34] Karishma-Tiwari-MSFT commented on #12895
@sugan2205 You need to provide the path to the location of the file id_rsa which is saved inside the ssh folder in your system, when you generate ssh keys.
`kubectl cp **~/.ssh/id_rsa** aks-ssh-554b746bcf-kbwvf:/id_rsa`

[2018-08-06 02:41] trevoryann opened #12907 "typo: predicative should be predictive"
"create a predicative Web service" should be "create a predictive Web service"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f777ee3-cc36-955b-4a21-15b13dfb902e
* Version Independent ID: 134aa3eb-8800-9a40-178c-dcbc361f1822
* Content: [Update machine learning models using Azure Data Factory](https://docs.microsoft.co

[2018-08-06 02:56] drinkbird commented on #12717
Thank you for your response @MohitGargMSFT

[2018-08-06 02:59] KeiroKamioka0000 opened #12908 "Uninstall?"
It would be helpful if their is way to how to un-install the Symantec Endpoint Protection? in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eced847b-ff11-9466-324c-5253799b7e2b
* Version Independent ID: 23f632ce-edf7-61fe-03e6-e18372b87ba8
* Content: [Install Symantec Endpoint Protection on a Windows VM

[2018-08-06 03:56] tamram commented on #12817
@ishepherd - Thanks for pointing out this outdated text. I've updated it and pointed to the centrally maintained list of regional pairings.

[2018-08-06 03:56] tamram commented on #12817
#please-close

[2018-08-06 04:00] tamram commented on #11982
@akuzhan - Thank you for your feedback. We are investigating and will respond soon.

[2018-08-06 04:01] SnehaGunda commented on #10842
@SamiMajed As Luis mentioned, the endpoint URI might be the issue, did you get through the error?

[2018-08-06 04:04] Karishma-Tiwari-MSFT commented on #12673
@frankfajardo To help me understand it better, can you please share the code?
Also, these are the links I found that might be helpful:
https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation#telemetry-correlation-in-net
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#log-scopes

@ggailey777 Can you please share if you have

[2018-08-06 04:29] Karishma-Tiwari-MSFT commented on #12908
@KeiroKamioka0000 Thank you for the valuable feedback.
I have assigned the issue to the content author to evaluate and update as appropriate.

@cynthn I found the steps to uninstall the extensions [here](https://azure.microsoft.com/en-us/blog/deploying-antimalware-solutions-on-azure-virtual-machines/)
Uninstalling Extensions: Any added extensions can be uninstalled using the cmdlets below:
[code]

[2018-08-06 04:54] SnehaGunda commented on #12903
@KeiroKamioka0000 thanks for pointing the issue, due to a change in the folder structure of the Java API docs, all the links currently pointing to API reference are broken. we are working on fixing the bug. In the mean time, you can access the API docs here: https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.cosmosdb._connection_policy?view=azure-java-stable

[2018-08-06 04:57] SnehaGunda commented on #12561
#please-close

[2018-08-06 05:09] Norman03 opened #12910 "What is mean by Back end in the architecture?"
Back end sits in cloud or edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638cadae8
* Version Independent ID: fa51c99a-0df6-cebf-aecc-b08df5f85454
* Content: [Understand Azure IoT Hub device twins](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-oper

[2018-08-06 05:48] femsulu commented on #12907
@trevoryann Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-08-06 05:54] femsulu commented on #12906
@TimThrill Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-08-06 06:05] romanliv commented on #12423
@tfitzmac I understand. I have one solution where I can reproduce this.
Unfortunately cannot share as it has proprietary code.
Is there any logs I can enable while using this solution that can help?

[2018-08-06 06:07] mrdfuse commented on #12753
Thanks!

[2018-08-06 06:31] femsulu commented on #12905
closing as Duplicate of #12904

[2018-08-06 06:31] #12905 closed

[2018-08-06 06:34] YutongTie-MSFT commented on #12668
Hi @nicholasdbrady
Thanks for your feedback here, because this is not a document related issue, I have moved it to our forum for better help. Please keep eyes on it. https://social.msdn.microsoft.com/Forums/en-US/e082f96e-9e0e-4281-8eb6-f8c1383ee492/status-code-forbidden-when-trying-to-run-the-quickstart-forkscissors-example?forum=MachineLearning

We will now proceed to close this thread. If there

[2018-08-06 06:34] #12668 closed

[2018-08-06 06:37] Anmolgan81 commented on #12484
Just wanted to know 1 thing the team services organization and vsts are the same things or differenrt??

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Monday, August 6, 2018 2:47 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What about Team Services Organisation Acc

[2018-08-06 06:40] grzlyD opened #12911 "Cosmosdb Emulator with mongo API cannot insert a shard key of type ObjectId"
Hi,

I have encountered an issue while trying to insert a document containing a shard key of type mongo ObjectId into a partitioned collection in the emulator. I'm using v1.22 of the emulator.

My partitioned collection was created using the following command from mongo shell:

db.runCommand({shardCollection: 'mydb.TestUser', key: {'user_id': 'hashed'}})

When I try to insert a document into this

[2018-08-06 06:41] YutongTie-MSFT commented on #12709
@titoniubo

Thanks for your feedback here. Because this is not a document-related issue, so I move it to a proper place where you can get better help. https://social.msdn.microsoft.com/Forums/en-US/9a05ff06-08b0-40d8-8b23-28c8311a0b1a/problems-to-run-execute-python-script-on-azure-machine-learning?forum=MachineLearning Please keep eyes on it.

We will now proceed to close this thread. If there are

[2018-08-06 06:41] #12709 closed

[2018-08-06 07:03] gogbg commented on #12760
@MohitGargMSFT these are the links:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/programmatically-create-subscription?tabs=azure-powershell
https://docs.microsoft.com/en-us/azure/azure-resource-manager/grant-access-to-create-subscription?tabs=azure-powershell
Also there is a PowerShell cmdlet called: Get-AzureRmEnrollmentAccount

[2018-08-06 07:04] kazshi opened #12912 "need information for Resource Manager model"
I'm looking for information of how to install/uninstall for Resource Manager model and what is the current version - actually I received the questions from my customer.
I believe it's possible to install/uninstall extensions from the Portal (or guest OS) but I cannot verify it since I cannot find the Symantec Endpoint Protection extension on New resource (Extensions) - currently we can see only 'A

[2018-08-06 07:27] prayshe commented on #12563
@kobulloc-MSFT Thank you very much. It would be very nice that you could share with me your steps to provision VMs. I would like to follow your practice.

[2018-08-06 07:34] femsulu commented on #12910
@Norman03 Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-06 07:41] iMartyn commented on #12832
[code]

[2018-08-06 07:51] johscheuer commented on #12826
Thanks for your response I will try the options today and will report the output (but actually I think this isn't an authentication problem).

[2018-08-06 07:57] cocosnuss commented on #12763
I changed the configuration value but these Errors still occur after 30 minutes

[2018-08-06 08:25] femsulu commented on #12907
@trevoryann A fix has been deployed to correct the typo and should be live in a few hours. Thanks again for bringing this to our attention. We will now close this issue.

[2018-08-06 08:25] #12907 closed

[2018-08-06 08:31] ArneVlietinck commented on #12774
@kgremban It is specified on the Azure portal: IoT Hub > Edge Device > Device details (see image below).

![up_to_ten_modules](https://user-images.githubusercontent.com/18035186/43705671-7935bf5a-9963-11e8-8955-271ba911afa4.png)

[2018-08-06 08:46] ramicodes opened #12914 "what does ASR exactly do in the came on SQL AG replication to Azure"
i was checking the above documentation but it is not very clear what is the role of ASR here on top of SQL Server Always On Group. If SQL AG is doing the failover already what would ASR do here and what does the script "ASR-SQL-FailoverAG" in the pre action exactly do? in the description, it says: "This script fails over SQL Always On Availability Group inside an Azure virtual machine" but doesn't

[2018-08-06 08:56] cephalin commented on #12032
@ericnewton76 Apologies for the delay. We're still trying to track down the information.

[2018-08-06 08:57] MSSedusch commented on #12828
@Karishma-Tiwari-MSFT  issue is solved. Can you please close it?

[2018-08-06 09:43] LlamaX commented on #12899
In the table above the Azure IR mark isn't checked, though in the detailed article [mysql-to-azure-connector](https://docs.microsoft.com/en-us/azure/data-factory/connector-mysql#prerequisites)
it makes this kind of distinction. Which one should I stick with?

[2018-08-06 10:08] iMartyn commented on #12832
In case anyone else sees this, apparently it's a known bug : https://github.com/kubernetes/autoscaler/issues/1105#issuecomment-410578049

[2018-08-06 10:45] pauliandraper commented on #6764
This documentation is still wrong. Can this please be corrected?

[2018-08-06 11:08] cmendible opened #12915 "Service Principal also needs the 'Directory Readers' role."
Hi guys!

The Service Principal also needs to have the **'Directory Readers'** role assigned, at least when running something similar to:

[code]

otherwise the command will fail with: **'insufficient privileges'**.

Adding the role is a cumbersome task described in this great post by another MVP: [Directory roles for Azure AD Service Principal](https://lnx.azurewebsites.net/directory-roles-for-az

[2018-08-06 11:19] kishoregithub1 opened #12916 "What should be the Application Type when creating App Insights for multi-component apps?"
We have Micro services written in .NET, JAVA, Node.JS, etc. We want to use one App Insights resource for all these Micro services. What should be the type of Application Insights that we should create so that it can be used by all the Micro services written using different programming languages? Should we use General?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-08-06 11:24] murdockcrc opened #12917 "Broken link in section "Intra-region HA""
The link to the IoT Hub SLA article is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6874376-9df5-65b7-6908-eaaba67992d0
* Version Independent ID: c76d243b-a9a0-d37d-6cc5-53eb1bf589d2
* Content: [Azure IoT Hub high availability and disaster recovery](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-d

[2018-08-06 11:25] murdockcrc opened #12918 "The "retry policies" link in section "Intra-region HA" is broken"
Issue title is self-explanatory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6874376-9df5-65b7-6908-eaaba67992d0
* Version Independent ID: c76d243b-a9a0-d37d-6cc5-53eb1bf589d2
* Content: [Azure IoT Hub high availability and disaster recovery](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr)
* Content So

[2018-08-06 11:31] thomas-kinnari commented on #9466
@Fenn-CS Thanks for the reply - I have now created a linux app, but I still see no graphs. How do I check that data is being read? And what about the format of the application setting keys and values for linux?

[2018-08-06 11:32] stenoid opened #12919 "Azure search price confusion"
I bumped up my search tier to allow for more documents, but I assumed that I would only be charged when the search was utilised (i.e. a search is performed). Instead I seem to be charged at a flat rate of 0.076 per hour irrespective of whether the search is used or not. Is this right? Seems quite expensive if it is, especially for the standard tiers which is what we'd be looking to use with our cu

[2018-08-06 11:45] manmohan556 opened #12920 "Issue regarding resource not found"
I have used blob.upload java method to upload image  after that i want to download the image the  i got error resource not found.After 1 minute i am looking again then image found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41d3443-0873-2f4c-da3e-9086663af3ac
* Version Independent ID: 26bf67f1-5847-904b-7cec-c6aec

[2018-08-06 11:49] pvrk opened #12921 "Selecting columns in {selected item}"
Suppose in the list, I have 3 columns displayed A, B, C. As I understand if I use {selected item} in Navigation query, it translates for all 3 columns i.e., where A="myvalue1" and B = "myvalue2" and C = "myvalue3". Can I write the navigation query such that only column A is selected for search? i.e., where A="myvalue1"? Can you please include such example in documentation?

---
#### Document Detai

[2018-08-06 12:20] Castermeek opened #12922 "Japanese version is not available"
From last, the Japanese version of this document is not available.
Please fix this issue.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [Configure hybrid Azure Active Directory joined devices manua

[2018-08-06 12:21] paulmackinnon-adv365 opened #12924 "k8s.gcr.io/cluster-autoscaler:{{ ca_version }} no longer valid"
Using any version for k8s.gcr.io/cluster-autoscaler:{{ ca_version }} will fail, as the location doesn't exist or doesn't work:
"Failed to pull image k8s.gcr.io/cluster-autoscaler .... authentication required"

Doing some searching I found that this would be the working image:
gcr.io/google-containers/cluster-autoscaler:v1.2.2

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-08-06 12:28] erosinger opened #12925 "origin of field --docker-email <email-address> is unclear"
Hi everyone,
many thanks for this great guide. It worked out for me and my team in the most cases and I have just one question left.
Where do I get the email adress for "--docker-email &lt;email-address&gt;" from?

We have chosen various emails from time to time and it always worked out.
Is that intended? In the docs I can not see an explanation for this, yet.

Looking forward to your response.

-

[2018-08-06 12:49] timobehrens opened #12927 "Speech SDK reference is missing the javascript sdk"
The docs on https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk-reference don't list the javascript SDK https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e711a5c-1afa-ed43-3918-7a2669283e45
* Version Independent ID: 6d5c94

[2018-08-06 12:49] MarkTopping opened #12929 "Confusing guidance on Network Address Ranges"
There are two bits of guidance in the Advanced Networking Deployment Parameters section which for me either contradict eachother, or require further elaboration to make more sense of the reason why:

Firstly, the documentation states: "Virtual network: The VNet into which you want to deploy the Kubernetes cluster."

Ok, that's straightforward enough, no confusion here.

But then:
"Kubernetes servi

[2018-08-06 12:52] johscheuer commented on #12826
I noticed that one missing step is the `proof of possession`: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md#step-3---proof-of-possession after doing this step and executing the following steps:

[code]

The modules running on the edge gateway are able to communicate with the edge hub. I will test if I'm able to connect with an Edge Device to the

[2018-08-06 13:05] mortenbock opened #12930 "Deleting a rule does not seem to be working"
I cannot delete a rule. When I click delete, the portal says the rule was removed, but when I refresh the list, the rule is still there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Res

[2018-08-06 13:15] ChenRahimi opened #12931 "Reply URL missing"
Please add in section 4 to add the reply URL field as well.

It didn't work for me without that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial: Azure Active Directory integration with G Suite](https

[2018-08-06 13:23] marekr opened #12933 "No warning of 2 month auto renewal"
Just hit this issue. App Service Certificates auto-renewal......2 months ahead of time which is amazingly insane. No mention of this lead time anywhere in the docs or in the portal.

So uh, that should be documented in bold on the page since it does mention the auto renewal setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-08-06 13:37] ltaljaard opened #12934 "Is the email address mandatory for Local Accounts identity providers based on username?"
Am I missing something? It does not seem to be possible to set it up so that the email address is not required (or not even prompted for at all) during sign-up? You can only disable the email verification. But we may not allow the users to enter an email address at all. They must register with a username only. Surely this must be supported?

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-06 13:38] tbebekis opened #12935 "The section "Configure Azure AD single sign-on" seems not complete."
Step 4 instructs to save the metadata xml file. Then? Where is that xml file used after that?

I guess there maybe missing steps/instructions, somewhere between 6 and 7.

Perhaps an image showing that "Configure sign-on window" where the "Single Sign-On Service URL" is found and an example of how to replace /saml2 with /wsfed.

Also there is absolutely no instructions regarding the certificate. Sh

[2018-08-06 13:39] htoma opened #12936 "What happens to the leases during data migration?"
Are leases impacted by the migration?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Database migration tool for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/import-data#SQLSource)

[2018-08-06 13:42] hmizael opened #12937 "Attribute name 'msDS-ConsistencyGuid' is incorrect"
The correct name of the attribute is "mS-DS-ConsistencyGuid" in AD On-Premise and also according to the AD documentation at "https://docs.microsoft.com/en-us/windows/desktop/adschema/a-ms-ds-consistencyguid".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8ace26-7d4f-fc36-020c-08b3625410d2
* Version Independent ID: d

[2018-08-06 14:02] nezoic commented on #12347
@SnehaGunda Thanks for taking a look. My problem is with the command line. The following command line examples do not work. As the /s:CosmosDB parameter is invalid. Running the sample commands I get the following errors:

Error: Critical error: Source with the name 'CosmosDB'.

When I change this to DocumentDB, a valid parameter for the source, I received an error with the /t.CollectionThroughput

[2018-08-06 14:10] Fenn-CS commented on #9466
@thomas-kinnari  did you set the environment variables? In the tutorial you asked to set `Azure.IoT.IoTHub.ConnectionString` and `Azure.IoT.IoTHub.ConsumerGroup` obtained from iothub-explorer. However those names are not valid identifiers of the Linux operating system so you would have to change them to `ConnectionString` and `ConsumerGroup` then create a clone of the project and modify how it is

[2018-08-06 14:13] Fenn-CS commented on #9466
Additionally if you get the epoch error I mentioned above, that is because the so called `ConsumerGroup` is requested by the app but not supplied with the request to the IoTHub you would have to add that yourself also! But get it to at least show you the graph first.

[2018-08-06 14:17] vhorne commented on #11913
#please-close

[2018-08-06 14:21] Dfintz opened #12938 "Improvements in Exception list validation"
Hello, I wanted to point out a few inmprovements that can help with the solution. 1) On the Start or Stop action exclude the VM's that are already on a Running or Dealocated power state  2) Don't send an email if there is no action to be taken 3) Why validate twice the exclusion list, once at the start to check if there are any issues with the list and then after processing the resource groups to

[2018-08-06 14:33] johscheuer commented on #12826
The actual strange thing is that I get different responses:

Executed on the machine running the transparent edge gateway:
[code]

executed from a remote machine (I trusted the root certificate + added it to the systems certificates + tried `-CAfile` / `-CApath`):

[code]

[2018-08-06 14:42] mrbullwinkle commented on #12559
@Tkeyy Thanks again for bringing this to our attention. The only added requirement for ASP.NET Core is that you running at least ASP.NET Core 2.0. However, there is currently a bug that prevents ASP.NET Core 2.1 applications from uploading traces. The team is working on it, and should have a fix out soon. I have updated the doc to reflect this and removed the unnecessary broken link. The changes h

[2018-08-06 14:43] mrbullwinkle commented on #12559
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-06 14:46] georgeslegros opened #12939 "Error on dependency"
Not sure what the best way to do this is but the following line:

Is not (at least not entirely) correct. I am working with .net standard 2.0 and Microsoft.ServiceBus.Messaging is not available there. Only Microsoft.Azure.EventHubs is actually necessary.
Now, I did not try with previous versions of .net...
Anyway, this sentence could be improved to prevent confusion.

---
#### Document Details

⚠

[2018-08-06 14:49] lastcoolnameleft opened #12940 "Azure Files Documentation: Azure Storage Keys unable to be added to via --from-literal"
Following the documentation here:
https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#create-kubernetes-secret

It requests you run:
[code]

However, the key provided from Azure Storage is not able to be imported:  (These keys are now invalid, but shown as an example):
[code]

It appears that Azure Storage Account keys do not match what is able to be injected via --from-literal due to co

[2018-08-06 14:53] mrbullwinkle commented on #12916
General is probably the best approach for your type of application. Under the hood Application Type selection currently doesn't restrict your access to Application Insights monitoring features or lock you into using a specific SDK. When the classic now deprecated overview experience was in place App Type selection would light-up slightly different overview experiences based on what specific functi

[2018-08-06 14:57] martin77s opened #12941 "Inactivity time out counter reset"
"... A web app can time out after 20 minutes of inactivity. Only requests to the scm (deployment) site or to the web app's pages in the portal reset the timer. Requests to the actual site don't reset the timer."
IIUC, the statement above suggests that my web app will always time out after 20 minutes since deployment or first hit, unless I use the SCM or the portal, since users hitting my app do no

[2018-08-06 15:08] pmatthews05 opened #12943 "Unable to get a Weather Underground API Key"
It seems that Wunderground no longer hands out free API keys. You should change this code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebfd0b68-5bb5-f9da-2233-df253fa66402
* Version Independent ID: 1296e733-ce06-d421-4bbe-560954d9dc9b
* Content: [Monitors in Durable Functions - Azure](https://docs.microsoft.com/en-u

[2018-08-06 15:15] tfitzmac commented on #12904
@nikolaiblackie - wow, thanks for pointing that out. I have no idea how that text got there, but a fix should be published this morning.

[2018-08-06 15:16] lastcoolnameleft opened #12944 "Error when creating PVC"
Hello,

I'm getting two different errors when following the documentation.  They might be related.

I've created the SC + PVC as such:
[code]

But when I look at the PVC, I get the following errors: (1 RBAC error, 1 "Share already exists" error):
[code]
Here is my K8S version info:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-08-06 15:19] lastcoolnameleft commented on #12944
It is worth noting that I see the Azure File share for `kubernetes-dynamic-pvc-f4732704-998a-11e8-a166-0a58ac1f1264` created in the Portal.  So, it was successfully created by AKS.

[2018-08-06 15:33] #12904 closed

[2018-08-06 15:35] rakeshramk opened #12946 "Application Gateway .cer upload"
Can the documentation include or be more clear if multiple backend servers available in a pool,
1. does individual .cer of the servers required or only one .cer should be available for a pool of backend servers?
2. On configuring a HTTP setting the portal displays a section "Backend Authentication Certificates" with +Add certificate option. Does it mean system accepts individual .cer of the backen

[2018-08-06 15:38] jlent01 commented on #6799
Now that I've run through this set of instructions a few times, I'm kind of getting the hang of it.  I'm still not completely certain why using the 'create listener' wizard won't work; however, a colleague at work had an issue where the listener was binding to the wrong IP on a multi-homed system.  A proposed solution for the incorrect binding was to create the listener via the WFCM.

[2018-08-06 15:43] dagrkatyal commented on #10842
I am not able to connect using Gremlin Console from my laptop.. But it is working from multiple other machines I tried on. So I guess something to do with my laptop.
We can close this

[2018-08-06 15:43] #10842 closed

[2018-08-06 15:45] Netdoc41 opened #12947 "Clarifications"
Some clarifications needed...
One step has us Copy and paste the secret created in the previous step, and insert it at the start of the file.
this is unclear do we just paste in the secret in raw text on a random line?

Next For creating the yaml file and then running the command these are the instructions

Create a file named aks-cluster-autoscaler.yaml, and copy into it the following YAML code.

[2018-08-06 15:46] aherrick opened #12948 "SignUpOrSignIn Custom Policy Error"
I've followed the Guide here:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#

I've ripped out the "Facebook" references as I don't need Social. Was also seeing this issue before removing Facebook references: https://github.com/MicrosoftDocs/azure-docs/issues/7581

When trying to upload `SignUpOrSignin.xml` receive the following error:

`Unable

[2018-08-06 15:49] georgewallace commented on #12859
@tsrob50 I have corrected the incorrect info, once my pull request gets merged it will auto close this issue.  Thank you for bringing this to our attention.

[2018-08-06 15:49] lovingpizza opened #12949 "Formats of the documents"
I have found that it can not read any documents with columns. Is there any other format related limitation that the qna maker has?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-e5dfadc8192b
* Version Independent ID: 21c3de87-8adb-aa2b-2fc7-f7db10315bee
* Content: [QnA Maker Limits - Azure Cogni

[2018-08-06 15:49] georgewallace commented on #12896
@alygcode Thanks for bringing this to our attention, I have submitted a PR with update images and corrected the text instructions.  Once the PR is merged, it will auto close this issue.  Once again, thanks for contributing to the docs!

[2018-08-06 15:51] Mike-Ubezzi-MSFT commented on #12826
@johscheuer Have you followed these steps to enable DEBUG output to the logs: [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

I suspect that there is an issue with these steps: [Installation on the downstream device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#installation-on-the-downstrea

[2018-08-06 15:52] sakthivetrivel commented on #12947
@Netdoc41 Hi Chris! So the secret output by the bash script should be a block of text with base64-encoded values, like this:
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-autoscaler-azure
  namespace: kube-system
data:
  ClientID: <base64-encoded-client-id>
  ClientSecret: <base64-encoded-client-secret>$
  ResourceGroup: <base64-encoded-resource-group>  SubscriptionID: <base64-encode-s

[2018-08-06 15:54] Mike-Ubezzi-MSFT commented on #12801
@sdecker We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 15:55] Mike-Ubezzi-MSFT commented on #12803
@sdecker  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 15:58] lastcoolnameleft commented on #12944
This helped resolved my issue and should be added to the documentation as it's currently broken on a v1.10 cluster:
https://github.com/kubernetes/kubernetes/issues/59543