[2019-08-27 13:57] SubhashVasarapu-MSFT commented on #37485
@dcallagh, Appreciate your patience. I have reproduced your scenario with zone file consisting of SPF records and importing was successful with skipping of SPF records.
**Zone file :**
![image](https://user-images.githubusercontent.com/44890829/63776305-c0003c00-c8fe-11e9-86e4-496dd06a4087.png)
**Imported LOG with no SPF record :**
![image](https://user-images.githubusercontent.com/44890829/637764

[2019-08-27 13:57] #37485 closed

[2019-08-27 13:58] xenalite opened #37861 "Tiller fails to initialize"
After configuring rules as above (including optional ones) in Azure Firewall, I was able to kubectl into the cluster, but I was unable to initialize Helm with Tiller.

`tiller-deploy-7df98f6b7d-fhkct         0/1       ErrImagePull   0          9s`

This is because Tiller pulls its image from:
`Image:          gcr.io/kubernetes-helm/tiller:v2.13.0`

[code]

So you have to also (optionally) whitelis

[2019-08-27 14:00] BrianThorChristensen opened #37862 "Bad link"
The link to "Step 3 - Publish your app" opens a document about publishing apps for Dynamics 365 Finance and operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce840139-d82b-9fbb-9f0f-f6e462e4270d
* Version Independent ID: 5c0c400f-3226-73c2-6e88-6eb2300ac8ea
* Content: [Dynamics 365 Business Central offer for t

[2019-08-27 14:04] kunamneni117 opened #37863 "I cant see minimum size option in the validation activity for a dataset"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-27 14:16] BhupalPatil opened #37864 "Send telemetry without Device Registrationthe"
Hi there,

I managed to register device (x509 certificate authentication) via DPS and able to send message and upload files.

What I'm trying to achieve is once device is registered successfully next time I want to veify device is already there so I want to skip RegisterAsync step and directly send the JSON message/upload files to IOT hub. any reference for this?

---
#### Detalji dokumenta

⚠ *Ne

[2019-08-27 14:24] fadedcrimson19 opened #37865 "AccessTokenLifeTime minimum not actually 10 minutes"
I have set a policy on a service principal in azure using the Add-AzureADServicePrincipalPolicy using this definition:

{{"TokenLifetimePolicy":{"Version":1, "AccessTokenLifetime":"00:10:00"}}}

However when looking the SAML response:
&lt;Conditions NotOnOrAfter="2019-07-26T20:50:51.260Z" NotBefore="2019-07-26T20:35:51.260Z"&gt;

Which appears to be 15 minutes instead. Is there a different way to

[2019-08-27 14:39] KetanChawda-MSFT commented on #37843
@Roywizeman Thank you for your question! We will review and provide an update as appropriate.

[2019-08-27 14:41] shep1987 opened #37867 "Connect to Log Analytics workspace programmatically"
Is it possible to connect `Log Analytics` and `Azure Activity log` using an sdk or rest api?

We would like to be able to do this as part of our environment standup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba1bba36-9a65-7e9c-66ef-7c9800ed4056
* Version Independent ID: 302ef9d0-6974-c87b-2345-4a81021af576
* Conte

[2019-08-27 14:46] oanapl commented on #37593
I don’t work in Service Fabric team anymore, please work with Mark Fussell to find the right owner.

From: jakaruna-MSFT <notifications@github.com>
Sent: Monday, August 26, 2019 9:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Oana Platon <Oana.Platon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Issue in redirecting to WordCou

[2019-08-27 14:56] Sethu2488 opened #37869 "New Face Detection"
The new detection model doesn't return any face attributes so there is no way we can use head pose or other attributes to understand if this face should be identified or not.
Is there a plan to add the missing face attributes and face landmarks to the new model? Should we diregard the new model if our main app goal is identification? Would help to get some advice on how we could incorporate the ne

[2019-08-27 15:13] chao-master opened #37870 ""Password expiry duration" and "Password expiry" are not described"
The secion "Password policies that only apply to cloud user accounts" mentions both "Password expiry duration" and "Password expiry" but does not actually explain what they do and what the difference between them is.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independe

[2019-08-27 15:15] KrishnaG-MSFT commented on #37867
@shep1987 Yes. [Here](https://docs.microsoft.com/en-us/rest/api/loganalytics/datasources/createorupdate#object) is the REST API reference.

[2019-08-27 15:15] DamianVanDerMerwe opened #37871 "Operation returned an invalid status code 'NotFound'"
I have been trying to get Azure Face API to work with live recognition, but when I try to run their [example](https://github.com/MicrosoftDocs/azure-docs/issues?utf8=%E2%9C%93&q=%22775c2385-f03a-fc5c-a5dd-1fd64e678bc3%22&in=body), I get the following response, "Face API call failed on frame (eg. 261). Exception: Operation returned an invalid status code 'NotFound'. What should I do?

[2019-08-27 15:23] joshwright10 commented on #24420
I don't believe that this has been resolved.
Do you know if there is any plan to allow the Audio Conferencing licence to be applied via group based licensing?

It doesn't seem to be possible due to the prerequisite of Teams or Skype, which is handled in a different group licencing assignment.

[2019-08-27 15:26] paconovellino opened #37872 "Ruby error"
I create a new file, name it faceDetection.rb and paste the above code. Then I changed the key and the west central server to West US and I keep getting a  Failed to open TCP connection error. Anyone else is having troubles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9162af7-ddc6-967d-ad40-c5fe88b7a1ef
* Version I

[2019-08-27 15:35] PramodValavala-MSFT commented on #37844
@alexkarcher-msft Thanks for confirming!

@ishepherd Hope that helps. We have assigned this issue to the content author to review and update accordingly.

[2019-08-27 15:54] ram-msft commented on #37860
@ChrCoello Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-27 15:56] clineer commented on #37730
I was trying to find out how to setup the OMS portal or an app insights report for EDIFACT messages. Not setup of an agreement.

Thanks,
Ben

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: DixitArora-MSFT <notifications@github.com>
Sent: Tuesday, August 27, 2019 1:40:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ben Cline <Ben@variableInt

[2019-08-27 15:56] jmprieur commented on #32453
@nelfer : did you read the ASP.NET Core Web app tutorial?
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

[2019-08-27 16:02] ram-msft commented on #37869
@Sethu2488 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-08-27 16:04] ram-msft commented on #37872
@paconovellino Thanks for the question. We are investigating the issue and will update you shortly.

[2019-08-27 16:08] souravmishra-msft commented on #37743
Since the scope used is user.Read, which is a delegated permission means its a user permission, hence when the user access the application for the first time, he gets the consent page. Now you can bypass this page, only if a Global Admin gives the consent for this scope for all the users in the organization. In that way the consent page wont pop up whenever the users accesses it with their account

[2019-08-27 16:11] clineer commented on #37730
Thanks, my issue was just the documentation gap.

Ben

From: Divya Swarnkar <notifications@github.com>
Sent: Tuesday, August 27, 2019 11:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ben Cline <Ben@variableIntegrators.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] No EDIFACT tracking schemas? (#37730)

Hi Ben,
We do publish tracking data

[2019-08-27 16:11] shashishailaj commented on #37469
@MicrosoftGuyJFlo Thank you for the explanation above John. Much appreciated.

@taromielnaz Hope the above answers your query. We will now proceed to close this thread. Should you have any further query on this , feel free to tag me or the content author @MicrosoftGuyJFlo to your reply and we will help you with the answers as needed.

[2019-08-27 16:11] #37469 closed

[2019-08-27 16:13] neeleshray-msft commented on #37553
@psteniusubi
We would be closing this thread now. Let us know if you need any further help.

[2019-08-27 16:13] #37553 closed

[2019-08-27 16:15] neeleshray-msft commented on #37659
@bradrush
Hope the link posted by John Flores helped you out. We would be closing this thread now. Let us know if you need further assistance.

[2019-08-27 16:15] #37659 closed

[2019-08-27 16:18] sandeepshivhare commented on #28356
Yes issue got resolved.

On Tue, 27 Aug, 2019, 4:23 AM Jeevan Desarda, <notifications@github.com>
wrote:

[2019-08-27 16:24] okuniyas opened #37874 "New tenant (Azure AD) region for ARO should be one of ARO's supported regions?"
Is the region here should be one of ARO's "Supported Regions" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01ccfa1e-ba16-87d1-e9c3-a5ff4d5b9e0e
* Version Independent ID: e3036910-8ca7-6472-51da-6c65a9fbfe37
* Content: [Create an Azure AD tenant for Azure Red Hat OpenShift](https://docs.microsoft.com/en-us/azure/ope

[2019-08-27 16:38] jithubhaijabs commented on #37498
Its for agent-based replication appliance, which means its for VMware and Physical server scenarios. Please remove Hyper-V and replace it with ASR or replication appliance.

[2019-08-27 17:00] ram-msft commented on #37731
@vionemc Please share the image and file type and Form Recognizer works on input  that meets below requirements.
![image](https://user-images.githubusercontent.com/49180516/63791261-bb488180-c918-11e9-855a-7167d229e563.png)

[2019-08-27 17:10] vrishni commented on #37731
@vionemc please add your use case details that you are trying to solve.

[2019-08-27 17:21] vionemc commented on #37522
Please don't close the issue yet. I am asking my client if they have a Microsoft support account. I can give you the detail tomorrow.

[2019-08-27 17:25] vionemc commented on #37731
@vrishni for example, I am trying to process this URL https://justanalytics.harvestapp.com/expenses/25592242/receipt

It triggers a download and gives the raw image body as a response when I scrape it.

If you can accept raw image body instead of a hosted URL, I can work on it

[2019-08-27 17:28] vionemc commented on #37522
Yes! That makes sense. I'll tell them. Thanks!

[2019-08-27 17:45] kabatmartin123 commented on #37657
@RohitMungi-MSFT thanks for pointing out that I am asking wrong question. I will correct my self. Could you please point to to the direction of the document where I can find solutions for followup prompts, since any of the documents regarding "multi-turn conversation" employing prompts do not have detailed instructions on how to employ this feature.
It would be great if we can get response from MS

[2019-08-27 18:03] #37657 closed

[2019-08-27 18:15] hintbw opened #37876 "The ARM template for metric alerts for logs has many gotchas"
While I appreciate the example for the metric alerts for logs (and it is essential because having something here is much, much better than nothing which would have made deploying using ARM very difficult), there are several issues that make the example too complex.

One is why you are hard coding the subscription information as variables when you are also passing it in as a parameter - why?

The o

[2019-08-27 18:16] #37767 closed

[2019-08-27 18:22] shashishailaj commented on #37400
@DorjeM Thank you for sharing your findings. Much appreciated.

@rajeshkhanikar We have checked it and we found there was a change in behavior and it was fixed. As of now the text box works fine and I have tested it with the following basic query.

**` (device.displayName -contains "OPPO") `**

![image](https://user-images.githubusercontent.com/532022/63797126-0c5e7280-c925-11e9-8a72-462ada60a5a4.

[2019-08-27 18:22] #37400 closed

[2019-08-27 18:26] #37768 closed

[2019-08-27 18:39] souravmishra-msft commented on #37742
Process to fetch the OAuth Token and Access Graph API
This can be achieved with the POSTMAN tool for POC in three parts as below. The same can be converted to code in any platform of your choice.
	1. Get the SAML assertion from ADFS
	2. Get the OAuth2 token using the assertion 
	3. Get the data with the Oauth token

Step 1: Get the SAML assertion from ADFS

POST: https://adfsprod.soumi.msftonliner

[2019-08-27 19:02] big-kahuna-burger commented on #36880
Same issue here, thanks for instructions @VikasPullagura-MSFT

[2019-08-27 19:15] AkshayTharval opened #37881 "ACI service request failed"
While I am trying to implement the final step using the method mentioned above for deploying a registered model, I am getting the following error:
error: ACI Service request failed. Reason: The image 'container-registry.azurecr.io/model-1:1' in container group 'model-1' is not accessible. Please check the image and registry credential..

I am not able to find anything regarding this issue anywhere

[2019-08-27 19:32] mscherotter commented on #37629
It would be better for the documentation to actually show the necessary code inline rather than to rely on a developer installing a third-party tool to understand their tasks. Right now Postman is a popular too, but another tool might be more relevant in a year from now – our docs should stand on their own.
Michael

From: Grace-MacJones-MSFT <notifications@github.com>
Sent: Tuesday, August 27, 201

[2019-08-27 20:02] LenCardinal opened #37884 "Pricing is misleading"
The v2 pricing information is misleading. I've spent two weeks trying to figure out why our totally unused Preview V2's WAF's with Auto-Scaling Min 2 instances cost $482.11, and finally figured this out....

The pricing information above claims that CU's are variable cost, based on usage. Turns out they are not. A hard 10 CU's per 'instance' is charged, regardless of usage.

For Auto-Scaling deplo

[2019-08-27 20:18] jangcy commented on #37696
Hello @MartinJaffer-MSFT
Thank you very much for your investigation.
I have tried your workaround and it worked. However, how helpful might it be, it still looks like a bug to me. I already can see problems with passing quoted tab value between metadata systems.

Do you think that it can be treated as a bug and will be fixed in the future?
Thanks!

[2019-08-27 20:26] lancevo opened #37886 "better code examples"
Please provide better code examples especially for the upload & download using stream and SAStoken. The current code examples for upload / download don't work, and they don't explain the reason why...
 Also, please provide an abstracted class to reduce the boiler code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae

[2019-08-27 20:42] mscherotter commented on #37629
Would you end up with both a powerBI and postman example?
You can easily link to an external example skillset definition, but putting it in a Postman collection means that you need Postman to understand the example.
Michael

From: Heidi Steen <notifications@github.com>
Sent: Tuesday, August 27, 2019 1:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael Scherotter <mische

[2019-08-27 21:07] isinghrana opened #37888 "Set-AzDataFactory not found"
It says at the top that the article has been updated, shouldn't it refer to Set-AzDAtaFactoryV2? I have the latest version Az Powershell modules installed but getting errors in running the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c15d97ec-1fd1-c0b8-2d61-3eae3bd8e572
* Version Independent ID: 3f847f0b-40d5

[2019-08-27 21:35] dhmorrison commented on #37838
Thanks for the response, @AmanGarg-MSFT.

Here’s the result of the install command:

PS I:\karma-data\repos\kubernetes\dev-spaces\samples\bikesharingapp\charts> helm install -n bikesharing . --dep-up --namespace dev --atomic --wait

[code]

Here’s the result of the command without ‘—wait’ switch:

PS I:\karma-data\repos\kubernetes\dev-spaces\samples\bikesharingapp\charts> helm install -n bikeshari

[2019-08-27 22:03] BHoggs opened #37889 "Option to select Event hub name"
Where event hub forwarding has been added to all other Azure resources (diagnostic settings), they have allowed you to select a specific "Event Hub Name" for forwarding.

In the implementation here, you are forced to use the event hub named "insights-operational-logs" which is problematic if you have already setup forwarding to your SIEM under another name for other Azure resources.
Will this be u

[2019-08-27 22:08] hakoneriksson commented on #6226
Hi, we are deploying 1400 models with DevOps build and release pipelines and powershell to change settings. We are using an app registration in Azure with
Azure Analysis Services API delegated permission
https://*.asazure.windows.net/Model.ReadWrite.All
to be able to deploy the XMLA script to the server. The app registrations is part of the Analysis Services Admins in Azure.

**Build stage**
- MSb

[2019-08-27 23:13] jlee-vi commented on #36417
Hello folks,

Does this article supersede the others? Or is there a date for when these changes take effect?

I'm not to sure whether this article represents something that will happen in the future, or something that is currently happening now. Is there some way this can be clarified both here & in the article itself?

Thanks a lot,
James

[2019-08-27 23:54] dasiths commented on #37830
In the constructor of the `dbContext`.

There have been some discussion here about a possible solution https://github.com/aspnet/EntityFrameworkCore/issues/11928#issuecomment-454853868

The best solution I could come up with includes something like this https://blog.stephencleary.com/2012/08/asynchronous-lazy-initialization.html

[2019-08-28 00:21] scottsa-msft commented on #26878
Thanks Curtis

As I am internal to msft can you share the ICM or VSO number for the backlog item so I can track it?

Get Outlook for Android<https://aka.ms/ghei36>

From: Curtis Love
Sent: Tuesday, August 27, 6:04 PM
Subject: Re: [MicrosoftDocs/azure-docs] Permissions and how they impact Office 365 (#26878)
To: MicrosoftDocs/azure-docs
Cc: Scott Sanders (OFFICE365), Mention

Hi @scottsa-msft<https

[2019-08-28 00:43] DixitArora-MSFT commented on #37730
@clineer As Divya mentioned work item has been added for this doc gap and will be address. So for now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 00:43] #37730 closed

[2019-08-28 02:13] Nixes opened #37893 "Front door custom certificate doesn't support all key vault certificate formats"
After connecting key vault to front door to enable the custom certificate, I received an error
[code]
There is nothing in the documentation on this page to indicate that front door does not support the full range of formats supported by key vault. For reference my certificate key is pkcs8 encoded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-28 02:17] phspies opened #37894 "Table/Column Details Explanations"
Where can I get a detail explanation for each column and the possible options for those fields using ENUM's?

I see loads of information about the service but the detail behind the logs and possible values are either buried very deep or doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84cea6b-a85a-1814-b3

[2019-08-28 02:18] #37893 closed

[2019-08-28 03:03] MisinformedDNA opened #37896 "DTU vs eDTU"
How do DTUs and eDTUs relate to each other? Are they equal in approximate resource availability? But different only in that you can't always rely on them (since other DB could be using them)?

Asked another way, if a database was on an elastic pool (alone) with 50 eDTUs and then we moved that DB to a single database with 50 DTUs, would we expect about the same performance?

---
#### Document Detai

[2019-08-28 03:34] KrishnaG-MSFT commented on #37862
@BrianThorChristensen Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update or if we need more information.

[2019-08-28 04:18] Tiberriver256 opened #37898 "queue.FetchAttributes() no longer a valid function"
It appears that only queue.FetchAttributesAsync() is valid now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azure Queue storage using .NET - Azure Storage](https://docs.microsoft.com/en-us

[2019-08-28 04:21] KetanChawda-MSFT commented on #37827
@rizwaans Checking in to see if you get a chance to see my last post.

[2019-08-28 04:22] KetanChawda-MSFT commented on #37744
@scottmckenzie Checking in to see if the above post helped answering your question. Let me know if there are still any additional issues I can help with.

[2019-08-28 04:28] SumanthMarigowda-MSFT commented on #37898
@Tiberriver256 Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-28 04:34] SwathiDhanwada-MSFT commented on #37656
Glad to hear it worked.There is separate documentation for providing the access roles and same has been documented [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/quickstart-assign-role-user-portal#grant-access) .

As there are no further modifications in the current article ,we will now close this issue for now. If there are further questions regarding this matter, please

[2019-08-28 04:34] #37656 closed

[2019-08-28 04:48] SwathiDhanwada-MSFT commented on #37649
AFAIK, only read access to the application is required in order to access app() expression.

@bwren: Can you please provide your thoughst on the same?

[2019-08-28 04:50] SubhashVasarapu-MSFT commented on #37884
@LenCardinal, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-28 04:53] RohitMungi-MSFT commented on #37750
@eyalbadash A PR is now approved and the change should be updated in the document in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 04:53] #37750 closed

[2019-08-28 04:53] RohitMungi-MSFT commented on #37751
@eyalbadash A PR is now approved and the change should be updated in the document in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 04:53] #37751 closed

[2019-08-28 04:55] jakaruna-MSFT commented on #37593
Thanks @oanapl
@msfussell  Can you suggest the new owner for this document

[2019-08-28 04:56] jakaruna-MSFT commented on #37714
@amadav is there any update

[2019-08-28 04:56] jakaruna-MSFT commented on #37723
@mulawam is there any update

[2019-08-28 04:57] KrishnaG-MSFT commented on #37894
@phspies Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-28 04:57] jakaruna-MSFT commented on #37818
@ms-dapaje Good to know that its working. Feel free to open a new issue if you face any issues

[2019-08-28 04:57] #37818 closed

[2019-08-28 04:59] jakaruna-MSFT commented on #37826
@kumarallamraju Good to know that its working now.
Use who opened this #37818  issue also commented the same,
I will close this issue now.  Feel free to open a new one if you any other issues.

[2019-08-28 04:59] #37826 closed

[2019-08-28 05:00] BrianThorChristensen commented on #37862
The page is about business central. I don't think you should link to the publish document for finance and operations.

Få Outlook til Android<https://aka.ms/ghei36>
________________________________

Med venlig hilsen
Brian Thor Christensen
Systemudvikler
Computer Camp
btc@computercamp.dk
Færgeparken 21
DK-3600 Frederikssund
Telefon: +45 47 36 05 00
www.computercamp.dk
From: femsulu-MSFT <notificat

[2019-08-28 05:58] tkumark opened #37899 "Does "Allow access to Azure services" mean any azure services within subscription or from any subscription"
It does not given any details regarding this if "Allow access to Azure services" mean any azure services within subscription or from any subscription. But in the video https://youtu.be/e0tWC0XmOgc?t=453 (7:30)they mention that it is only Azure services within the subscription. Can you please clarify and update the blue box with this information also?

---
#### Document Details

⚠ *Do not edit this

[2019-08-28 06:06] #37734 closed

[2019-08-28 06:17] genlin commented on #36694
@msrini-MSFT  I will check it and reply soon.

[2019-08-28 06:27] AshokPeddakotla-MSFT commented on #36806
@Luksys5 Please check the above response and let us know if that helps.

[2019-08-28 06:33] thgjayeshpatil commented on #37685
@tfitzmac you meant with the same OS disk right ?

[2019-08-28 06:35] KrishnaG-MSFT commented on #37672
@ahanaseem-gitid Yes you would have to create action group but you use action group in template.

We may add a note in the beginning of [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates) document stating something like "Make sure you have action group created before you use below metric alert templates. Few ways to create action group are with [Res

[2019-08-28 06:35] Djongov opened #37900 "Exporting the App Service to use outsiude azure"
[Enter feedback here]
Hi there, I was reading this part:

https://docs.microsoft.com/en-us/azure/app-service/faq-configuration-and-management#can-i-export-my-app-service-certificate-to-use-outside-azure-such-as-for-a-website-hosted-elsewhere

and i am not sure if this is actually true. I have been exporting the App Service Certificate and used it outside of Azure numerous times. Could it be that t

[2019-08-28 06:40] gmantri-ais opened #37901 "Programmatically fetching metrics list based on type of resource"
This is similar to https://github.com/MicrosoftDocs/azure-docs/issues/8267. Proposed solution was to make use of Metrics Definition List API (https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list) to get the data. However that API requires an actual resource (e.g. deployed WebApp). What I am looking for is a way to programmatically fetch this information for a type of resource o

[2019-08-28 06:52] janis91 commented on #37281
@cephalin This should be correct.

[2019-08-28 07:07] Merurino opened #37902 "Requests for API sql are not supported for this account."
So, I've tried to create a new CosmosDB with a Database in it using ARM but couldn't.

This is roughly the ARM I used:
[code]

I'm running it like this in powershell: `az group deployment create --resource-group RG_Test --template-file azuredeploy.json --subscription "sub-name"`

It creates the cosmosdb but then fails with this message:
`"message": "Requests for API sql are not supported for this

[2019-08-28 07:21] dipti927 opened #37903 "Stream Logs From Storage Account to Event Hubs"
How to enable stream logs from storage account to event hub ? i tried to achive it using the steps provided in article (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-event-hubs) but it seems like there is no option for storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-08-28 07:26] EliasKnutsson commented on #37701
Hello,

Yes, I'll try

[2019-08-28 07:31] harshithkashyap commented on #28155
Hi @harmand7, it indeed works for local accounts and we don't see any issues there. But this issue is related to KeepAliveInDays for social accounts. Along with local accounts, we also provide _Sign in with Microsoft_ option to allow customers to sign in with their organizational AAD/O365 accounts instead of requiring them to sign up with local accounts. There isn't a way a set KMSI or set session

[2019-08-28 07:44] Luksys5 commented on #36806
Thanks guys.
That helped a lot after all.
Cheers!

[2019-08-28 07:44] #36806 closed

[2019-08-28 07:53] dem108 opened #37904 "Summary contents misalign"
First bullet of the Summary section refers to text based container, not Face.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889b34f3-060f-4507-32db-63d5a33cfd4c
* Version Independent ID: 74032f30-05bd-ea1f-4504-3444ba065c8b
* Content: [Install and run containers - FACE API - Azure Cognitive Services](https://docs.micr

[2019-08-28 08:00] EliasKnutsson commented on #37701
@Karishma-Tiwari-MSFT
[code]

[2019-08-28 08:12] Rajani-Janaki-Ram commented on #37523
Hi,

Looks like you are trying to run the script in your local machine, while its supposed to be run as part of a runbook in Azure Automation.

Please check the documentation here to understand how to : https://docs.microsoft.com/en-us/azure/automation/automation-quickstart-create-runbook

[2019-08-28 08:16] oatsoda commented on #25285
Is there any documentation or details of how to configure this for older OWIN Self-hosted style applications?

Normally you would use `netsh` commands to bind certificates.  With Docker I would normally put this in the container startup (rather than build-time so that I can vary which certificate per environment) but with the Service Fabric Mesh Local Cluster this doesn't seem to be executed...

[2019-08-28 08:36] sunilkcs opened #37905 "Azure AKS ansible playbook Ubuntu version"
Is there any way i can mention the version of Ubuntu for VMs in AKScluster ?  "vm_size" param is there in ansible playbook. But how to mention OS version ? By dafault AKS privisions Ubuntu 16 virtual machines as cluster nodes. Facing some issues with application deployment on these cluster which was working before. The logs looks something like below

 Failed create pod sandbox: rpc error: code =

[2019-08-28 08:38] SnehaAgrawal-MSFT commented on #37900
@Djongov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-28 08:38] KrishnaG-MSFT commented on #37901
Assigning @anirudhcavale for visibility, help and to provide insights on this.

[2019-08-28 08:48] RohitMungi-MSFT commented on #37904
@dem108 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-28 08:56] AshokPeddakotla-MSFT commented on #37721
@whaakman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 08:56] #37721 closed

[2019-08-28 08:56] RohitMungi-MSFT commented on #37726
@vijetajo Could you please review the request to add the required NSG rules in the documentation as a note?

[2019-08-28 08:58] kanekoh opened #37907 "Instead of Global administrator role, is it possible to use another type of role for sing in to an Azure Red Hat OpenShift cluster,?"
Should the user for ARO be a global administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75ea4cd-7173-91e7-dbb6-f526337054b2
* Version Independent ID: f44e7584-d625-9839-c9ec-e96b3d81ee2f
* Content: [Azure Active Directory integration for Azure Red Hat OpenShift](https://docs.microsoft.com/en-us/azure/openshi

[2019-08-28 09:11] rockboyfor opened #37908 "Container Registry template broken link."
There is a broken link about the Container Registry template (https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/template.json) on the first question about Resource management (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#can-i-create-an-azure-container-registry-using-a-resource-manager-template).

---

[2019-08-28 09:17] AshokPeddakotla-MSFT commented on #37719
@wesmc7777 Please check this and update the doc as appropriate.

[2019-08-28 09:24] chao-master commented on #37870
But whats the difference between how old a password can be and if they expire?

[2019-08-28 09:31] RohitMungi-MSFT commented on #37836
@gearsmotion789 Here are the reference [commands ](https://docs.microsoft.com/en-us/powershell/module/az.machinelearning/get-azmlwebservicekey?view=azps-2.6.0
)to get the keys of the web service.

An example is mentioned below.
![image](https://user-images.githubusercontent.com/46958063/63843777-9568be80-c9a4-11e9-8137-e18d407578cf.png)

Future releases of powershell might change this but it would

[2019-08-28 09:31] #37836 closed

[2019-08-28 09:33] KatiukOleg commented on #37851
@NavtejSaini-MSFT thanks for response, but portal is not my case. My database is more then 200 GB.

[2019-08-28 09:49] visualstuart opened #37910 "Contents out of date with portal experience"
This page has multiple inaccuracies, in the text and screenshots, where the details do not correspond with the portal experience. Wording has changes, some features seem to be removed entirely. It appears that several features in the portal have been updated since this document was created. For example, under "Find events and data for your logic app", step 5 refers to Advanced Analytics -- I was u

[2019-08-28 09:55] AdamSharif-MSFT opened #37911 "Registering for the feature - stuck in "pending" status"
Hello,

When registering via the portal, I noticed that feature "AKS-DataplaneAutoApprove" does not get registered, is that correct?

Also, the documentation states this is a limited preview - does this mean that it needs to be manually approved by Microsoft on a subscription basis?
The reason I ask is that I registered the feature, and had a customer do the same, and the request gets stuck in pen

[2019-08-28 10:02] PramodValavala-MSFT commented on #37735
@DEV3L Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 10:02] #37735 closed

[2019-08-28 10:03] cephalin commented on #37281
@janis91 Thank you! I've updated the doc with the new code and it should be published sometime today.

#please-close

[2019-08-28 10:08] PramodValavala-MSFT commented on #37910
@visualstuart Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-08-28 10:08] souravmishra-msft commented on #37742
@bachoang

ADFS uses SAML 1.1 and SAML 2.0. if you check the SAML Assertion in the response that we got after step 1, we see something like:

<saml:Assertion MajorVersion="1" MinorVersion="1" AssertionID="_3d0f8a09-d6bc-4980-a78c-f4f4114d8ec3" Issuer="http:///adfs/services/trust" IssueInstant="2019-08-27T18:14:26.990Z" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion">

If you see, the MajorVersi

[2019-08-28 10:10] KalyanChanumolu-MSFT commented on #37899
@tkumark Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-08-28 10:15] lukepuplett opened #37912 "Please draw attention to need to discard the offset information"
The page is confusing because it makes it sound like Cosmos is well-designed by storing as ISO 8601. However, its serializing a DateTime to the the UTC version of the ISO format, which carries no offset information.

Therefore, as I understand it, an object or document with a DateTimeOffset or ISO 8601 format time string that is local to the observer, such as a JSON birth certificate, containing a

[2019-08-28 10:15] KalyanChanumolu-MSFT commented on #37896
@MisinformedDNA Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-08-28 10:15] cephalin commented on #33505
#reassign:msangapu

[2019-08-28 10:16] cephalin commented on #33505
#reassign:@msangapu

[2019-08-28 10:20] cephalin commented on #33505
@upliftertom It doesn't seem that I can reassign, but @msangapu has replied with the following answer:

"There's an ACR and private registy section for Docker Compose in the portal. For CLI, it should be the same as this: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#configure-registry-credentials-in-web-app"

[2019-08-28 10:20] SadiqhAhmed-MSFT commented on #37747
@dcbrown16 I see that you've raised a PR - https://github.com/MicrosoftDocs/azure-docs/pull/37837 on this query. The doc is being evaluated and should be fixed soon.

[2019-08-28 10:29] scottmckenzie commented on #37744
Yes it does.  Sorry, I didn't read that far down the page.  My expectation was that the first yaml sample would show how to build and deploy.

[2019-08-28 10:29] #37744 closed

[2019-08-28 10:31] edfreeman opened #37914 "Can't create condition on copy output property which may or may not exist"
Hi there.

We are using some of the copy activity output properties to feed into a subsequent activity. One of the properties we're grabbing is the `filesRead` property. However, we're running into an error in the copy activity such that the `filesRead` property isn't being written in the output. (This error is a `UserErrorAuthenticationFailure` by the way - but this isn't the focus of this commen

[2019-08-28 10:34] KrishnaG-MSFT commented on #37905
@sunilkcs Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update. Thanks for your patience.

[2019-08-28 10:41] AmanGarg-MSFT commented on #37838
@klawrawkz A few things to try:

1. Make sure you have installed the latest version of helm and azure cli installed

2. Make sure you copy and paste the correct value of HostSuffix from the below command output

azds show-context

![image](https://user-images.githubusercontent.com/44466503/63848753-1a0c0a80-c9ae-11e9-8583-276b6ca7c320.png)

Edit dev-spaces/samples/BikeSharingApp/charts/values.yaml

[2019-08-28 10:42] saurabhsensharma commented on #13923
Hey @jessehouwing, wildcards are supported only under the "File Type" field in the Exclusion Settings dialog.  They cannot be used to exclude directories with a certain naming pattern. To achieve the outcomes listed, you have to add an exclusion setting for each directory location separately.

Having said that we noted your uservoice item https://feedback.azure.com/forums/258995-azure-backup/sugge

[2019-08-28 10:42] saurabhsensharma commented on #13923
#please-close

[2019-08-28 10:44] ChiragMishra-MSFT commented on #37914
@edfreeman Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-28 10:51] ChiragMishra-MSFT commented on #37914
@edfreeman Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited

[2019-08-28 10:51] #37914 closed

[2019-08-28 10:58] ahanaseem-gitid commented on #37672
Thanks for the support.

I could find one ARM template in quickstart,

(https://github.com/Azure/azure-quickstart-templates/tree/master/monitor-autoscale-alert)

 which combines both monitoring "activitylog and actiongroup" in a single template,  An expert ARM template deployer , can do the same in this situation "where metricalerts and actiongroup" has to be combined and presented as one template

[2019-08-28 11:16] ChrisLGardner commented on #20348
@ccompy any update on getting some sample ARM templates for this functionality? The example in @ScottHolden's repo isn't working for us with a BadRequest error.

[2019-08-28 11:21] vionemc commented on #37731
For anyone out there who needs a solution for this, I found [this](https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api/operations/AnalyzeReceipt) in the documentation. You can handle it by passing the binary of the image file, but you'd need a different header.

[code]

[2019-08-28 11:23] edfreeman commented on #37914
@ChiragMishra-MSFT Thanks for your reply and offer to assist. I've just created a thread on the MSDN forums:

https://social.msdn.microsoft.com/Forums/en-US/246b9e4d-ae15-41f1-8b27-2d980d327793/how-to-create-condition-on-copy-output-property-which-may-or-may-not-exist?forum=AzureDataFactory

[2019-08-28 11:32] upliftertom commented on #33505
Ah, I think I meant talking about referencing private images here in the portal:

![azureAppServiceDockerCompose](https://user-images.githubusercontent.com/51954126/63850697-95f55b00-c98c-11e9-9c62-7f161db10992.PNG)

There's a nice example here: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app , but it would be useful to see how to refer to images in ACR

[2019-08-28 11:35] ScottHolden commented on #20348
Hey, happy to help you debug your template, I've been spinning up webapps like this quite a bit and deployed using the same config less than an hour ago without issue. Rather than filling this thread up, log an issue on the template repo, or link to somewhere to discuss.

For completeness stake, the normal issues I see people run into are:

- Make sure you have permissions over the subnet/vnet
- C

[2019-08-28 11:36] cephalin commented on #35976
@marckassay I've updated the overview per your feedback and it should be published sometime today. Thank you!

#please-close

[2019-08-28 11:38] KrishnaG-MSFT commented on #37903
@dipti927 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-28 11:55] AquinoN opened #37915 "Require app protection policy (preview) blocks first launch"
At least for Microsoft Teams app, If you require an app protection policy but your user hasn't already launched the app and received that policy, the user will not be able to first-launch the teams client since there's no application protection policy applied.  You have to wait until the user is bound by a App Protection policy before applying this conditional access policy otherwise, they'll neve

[2019-08-28 12:00] sunilmadisetti commented on #30756
Sorry, I do not want to start a new thread since its related. Can the proxy server be installed in RODC, since DCs are not recommended to be online? My guess is yes since its stateless. Need clarification tho.
Thank you in advance.

[2019-08-28 12:28] test123114 opened #37917 "cannot validate access token"
[Enter feedback here]
I use the following the code to validate access token. But I always get the error "Signature validation failed"
validate token
[code]

Startup.cs
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354

[2019-08-28 12:38] axelgMS opened #37918 "Port 10250 has to be opened?"
hey there,
we've seen few cases where the following error is thrown:
"dial tcp NODEIP:10250: i/o timeout"
and this seems to be due to port 10250 being blocked at the NSG level - but no public doc mentions it.

Can you please confirm if port 10250 needs to be opened - and modify this FAQ / Common Issues accordingly ?

thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-08-28 12:40] ri-we opened #37919 "NTP"
Why is NTP in this table? https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters

I would expect the VM's to sync time with the hypervisor, why depend on Ubuntu? I see this for other services as well, were an external NTP source is used.

See the Azure NTP documentation https://docs.microsoft.com/en-us/azure/virtual-machines/windows/time-sync.

[2019-08-28 12:56] PaulStubbs opened #37920 "Incorrect CORS Screenshot"
Now the "Allowed Verbs" is called "Allowed Methods" The screenshot needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4090e045-28aa-2924-ca80-e74546f677f5
* Version Independent ID: 438704d0-88ff-aa19-a8cc-4d037290b46a
* Content: [Quickstart - Create a blob in Azure Storage by using JavaScript and HTML

[2019-08-28 13:24] PramodValavala-MSFT commented on #37713
@Infinitism Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 13:24] #37713 closed

[2019-08-28 13:27] Lycrosa opened #37921 "Wrong Command"
The command to configure helm should be helm init --service-account tiller --node-selectors "beta.kubernetes.io/os=linux".
In the documentation it says helm init --service-account tiller --node-selectors "beta.kubernetes.io/os"="linux" there are to many quotation marks. Please fix that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-28 13:34] derekschauland opened #37922 "Managed Service Identity"
If the VM has Azure Identity turned on and gets an object ID - does this not meet the Azure AD app registration requirements? As far as I understand, using managed service identity creates an app registration to generate a service principal for a vm.

I am unable to locate the service principal that got created in Azure AD, however if I attempt to assign it to a key vault access policy, the SP is

[2019-08-28 13:36] KrishnaG-MSFT commented on #37893
@Nixes Looks like you have self closed thus GitHub issue. If there are further / any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-08-28 13:37] cephalin commented on #29343
@gtrevi Unfortunately I still can't reproduce your issue. The quickstart and the sample work as is with no issues. The most common error in this case is that people are zipping up a folder instead of just the contents of the folder. When you create the zip, there shouldn't be any folder in your zip file: the package.json and index.js files should be at the root of the zip file you create.

As we s

[2019-08-28 13:38] cephalin commented on #13373
The tutorial was already updated to Node.js 10.14.1. Nothing to do here.

#please-close

[2019-08-28 13:45] sunilkcs commented on #37850
Sorry for the inconvenience. There was a parameter format issue in deployment yml file. closing the ticket

[2019-08-28 13:45] #37850 closed

[2019-08-28 13:48] mrdfuse opened #37923 "Applying LogReaderRBAC.yaml doesn't seem to work anymore?"
Hi, I have followed the instructions on this page lots of times (as you can see by all the issues I created :)). I did it again today for a new cluster running 1.14.6, but when I try to apply the LogReaderRBAC.yaml file, I get an error "Error from server (NotFound): the server could not find the requested resource", nothing more. Am I doind something wrong?

---
#### Document Details

⚠ *Do not ed

[2019-08-28 13:48] #37904 closed

[2019-08-28 14:02] KrishnaG-MSFT commented on #37850
@sunilkcs I was trying to reproduce the error (to debug and troubleshoot) with various versions but was seeing the deployments successful. 😊  Thanks for the update at the right time. 😊

[2019-08-28 14:03] softwarecraft opened #37925 "Add section heading anchors"
Please add section heading anchors so we can hyperlink to a specific role. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Active Directory](https

[2019-08-28 14:15] AshokPeddakotla-MSFT commented on #36102
@mikevax  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-28 14:15] #36102 closed

[2019-08-28 14:31] mrdfuse commented on #37923
Nevermind, I needed to update my kubectl version.

[2019-08-28 15:00] jakaruna-MSFT commented on #37908
@rockboyfor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-28 15:06] jakaruna-MSFT commented on #37490
@dcbrown16 i added "Microsoft.Compute/virtualMachines/write" this permission.
After that update button is enabled.
Then i filled the text boxes.
But fails immediately after after clicking on submit button

[2019-08-28 15:09] faridulhassan opened #37927 "Popup auto pan/move"
Hi,
I am struggling to add auto pan/move the popup when click on a marker if the marker is near the edge of the map area. Say a marker is very near to the edge of the map area. Then when someone click on the marker, some or most of the popup area is hidden.
I have seen that you are using mapbox-gl-js under-the-hood. Google Map,  Mapbox-gl-js, Leaflet js etc. have this feature. But I can't find any

[2019-08-28 15:13] harshithkashyap commented on #28155
Thank you @mmacy for the reference. I just verified and can confirm that we already have `SM-SocialLogin` reference in the TechnicalProfile.

The following is the SSO cookie behavior with federated IdP. As you can see, the cookie is set to be thrown out when the session ends. If you'd be willing to share the custom policies, I'm curious to test out the Google IdP sign-in you've implemented since y

[2019-08-28 15:30] markjbrown commented on #37902
#please-close

[2019-08-28 15:30] Keshav1308 commented on #29108
I am still getting the similar error:-

Method invocation failed because [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext] does not contain a method named 'AcquireToken'.
At line:52 char:1
+ $global:authResultARM = $authContext.AcquireToken($resourceAppIdURIAR ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOper

[2019-08-28 15:42] karlochacon opened #37929 "Windows 2008 SP2 x32 is it supported?"
hi guys MARS agent is supported on Windows 2008 SP x32 bits? it does not clearly says that... that's why I am asking

https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-80d9-151e-cc27-7bc94d48f363
* Version Independent ID: 0f8ca

[2019-08-28 15:44] Saher- opened #37930 "Trained model is providing unexpected/wrong result"
After closely following the instructions for training the recognizer model on a customized form (through 5 pdf files), I got some unexpected and messed up results when I tried testing the model.

Some lines were not read entirely, some table content were missing, and so on.

any suggestions on how to adjust my training model, or how to approach this?

---
#### Document Details

⚠ *Do not edit this

[2019-08-28 15:47] MaxHogervorst commented on #29306
@kashimiz ?

[2019-08-28 15:50] Ercenk opened #37931 "Diagrams are not readable in dark mode"
Great piece of information, very clear. Thank you for that. However the diagrams are not readable when the page is viewed in dark mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d014c45f-5c4a-2598-ae92-89f48ae6b207
* Version Independent ID: e7d95537-e03b-230a-635b-7032ff101a6b
* Content: [Authentication scenarios

[2019-08-28 16:03] cloidl opened #37932 "Exchange ActiveSync"
To Enforce Conditional Access policies really Active Sync not just "other clients" should be blocked.
Disabling legacy protocols from the Exchange Online end would we preferred as it would be more reliable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e

[2019-08-28 16:16] PramodValavala-MSFT commented on #29306
@CastleArg Apologies for not getting back sooner. I believe the current focus is on v2 of Durable Functions which includes a [storage emulator provider](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-preview#emulator) which should cover local testing scenarios across all languages.

[2019-08-28 16:23] cloidl commented on #37932
Hello Frank,

No just implementation/support recommendations we’ve provided on the CSS side.
I’ve had a customer who didn’t block Active Sync, and because it’s legacy authentication, Conditional Access doesn’t apply.
If Active Sync is disabled on the Exchange Online end (which it already can), it would be even better than using conditional access to block.
﻿ --
Christian Loidl
Escalation Support E

[2019-08-28 16:26] lukepuplett commented on #16802
Thanks guys. If you search that page in your browser for DateTimeOffset it is not mentioned at all.

Considering this statement:

Source: https://docs.microsoft.com/en-us/dotnet/standard/datetime/choosing-between-datetime?view=netframework-4.8

Then it seems that the information on this page for Cosmos DB is either implying that it does not support `DateTimeOffset` or its out-of-date.

For example

[2019-08-28 16:40] softwarecraft commented on #37925
There are a few anchor tags in the page but not on any of the role sections, there are so many of these that sharing the page URL is not specific enough.

[2019-08-28 16:46] umeshbarapatre commented on #37742
@souravmishra-msft  both the grant types are good and you should be able to post them to fetch the token. However, if you are working with 2.0 and IDP is other than ADFS sometimes you receive a SAMLP response which you can post as is. Please let me know if there is any other query

[2019-08-28 16:51] gurudayalroy opened #37934 "PowerBI can not connect to Azure Cosmos DB Mongo API"
I used the Azure Cosmos Db source in PowerBI but I can browse upto collection and get forbidden request for documents.

[2019-08-28 16:53] KrishnaG-MSFT commented on #37923
@mrdfuse Glad to know that you have self resolved this GitHub issue.

[2019-08-28 16:53] KrishnaG-MSFT commented on #37923
@mrdfuse So closing this issue for now. If there are further / any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-08-28 16:53] #37923 closed

[2019-08-28 16:54] lukepuplett commented on #37912
Thanks guys. If you search that page in your browser for DateTimeOffset it is not mentioned at all.

Considering this statement:

Source: https://docs.microsoft.com/en-us/dotnet/standard/datetime/choosing-between-datetime?view=netframework-4.8

Then it seems that the information on this page for Cosmos DB is either implying that it does not support `DateTimeOffset` or its out-of-date.

For example

[2019-08-28 16:57] lukepuplett commented on #37912
@NavtejSaini-MSFT Yes, I think #16802 is a duplicate. It's closed but the page is still lacking. We should close this issue and reopen the other?

[2019-08-28 17:00] blueelvis commented on #33008
@rwike77 - Please reopen this issue. I get that it is the most relevant information but I also need the capability to see a complete list of errors to configure my lookups and other information systems. Is there a way to do that?

[2019-08-28 17:04] umeshbarapatre commented on #37743
@souravmishra-msft  - This is the correct understanding. As far as the user.read permission on the above said app is given consent by the admin it would not prompt for the consent screen.

[2019-08-28 17:06] Dikkekip commented on #29108
@Keshav1308
Use the dasboard/module in Azure Sentinel instead, no powershell needed anymore :)

[2019-08-28 17:29] tylerpieper opened #37937 "Incorrect Variables in PowerShell Steps"
In Step 2 under "Configuring a domain in your Azure AD Directory for federation", a template is provided for setting up a SAML IdP. The variables established are $dom, $BrandName, $LogOnUrl, $LogOffUrl, $ecpUrl, $MyURI, $MySigningCert, and $Protocol.

The variables called in Set-MsolDomainAuthentication are $dom (twice), $MyURI, $ecpUrl, $MySigningCert, $uri, $url, and $Protocol.

$BrandName isn't

[2019-08-28 17:32] lukepuplett commented on #16802
Ignore comment above. We have #37912 reopened.

[2019-08-28 17:53] KrishnaG-MSFT commented on #37911
@DCtheGeek Thanks for the quick response.
Added labels 'product-question' and 'in-progress'.

[2019-08-28 18:02] benc-uk opened #37939 "Error with vmss option"
I'm getting this error
`unrecognized arguments: --enable-vmss`
Has `--enable-vmss` been removed from the aks-preview CLI extension? I used it in the past successfully, but no longer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3f

[2019-08-28 18:15] vit100 opened #37940 "incorrect folder structure"
Folder structure in section https://docs.microsoft.com/en-ca/azure/batch/batch-api-basics#files-and-directories
is wrong.
"Job_ID" is subfolder of  "workitems" folder.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087fbde6-dfe6-d00c-0254-909b32dd22f8
* Version Independent ID: e7fc7673-42cb-375c-c04b-01727274fde4
* Con

[2019-08-28 18:23] benc-uk commented on #37939
I have already updated it and re-registered the features

I tried again and same problem

[2019-08-28 18:39] MarcosMMartinez opened #37943 "[Update Required] Base container images are all pulled from internal repos now"
The first paragraph states:

 _If you wish to restrict egress traffic, a limited number of ports and addresses must be accessible to maintain healthy cluster maintenance tasks. Your cluster is then configured to only use base system container images from Microsoft Container Registry (MCR) or Azure Container Registry (ACR), not external public repositories. You must configure your preferred firewal

[2019-08-28 19:38] PatrickLownds opened #37945 "MFA Azure AD Account Lockout."
Seems this page is stale (Azure AD Lockout)? See MFA Blade, Account Lockout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
* Version Independent ID: b8c29389-c435-b2f0-4186-1e9c47ab4f3e
* Content: [Preventing brute-force attacks using Azure AD smart lockout - Azure Active Directory

[2019-08-28 20:03] benc-uk commented on #37939
Running locally

[2019-08-28 20:04] seantleonard opened #37946 "Unclear how to populate manifest with Key data"
The step asks for:

"customKeyIdentifier": "$base64Thumbprint", //base64 encoding of the certificate hash
         "keyId": "$keyid", //GUID to identify the key in the manifest
         "type": "AsymmetricX509Cert",
         "usage": "Verify",
         "value":  "$base64Value" //base64 encoding of the certificate raw data

 I can find the thumprint, where do I get the $keyId and $base64Value? The

[2019-08-28 20:24] asubmani opened #37947 "What specific source and destination should we allow?"
The following section in the doc doesn't make any sense
[code]
This setting would affect ALL (not just AKS traffic) flowing through the firewall. I would rather not use a firewall with AKS rather than allow anything and everything in my firewall.
What specific source:port/destination:port should one allow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-08-28 21:02] artsheiko commented on #34443
Same here.
Get Metadata with "Child Items" argument does not list subfolders.
Eg : My dataset is an Azure file Storage account with folders - "data", and a file named "eventlog.xml". The output of the Get Metadata activity with Child Items is :
"childItems": [{ "name": "eventlog.xml", "type": "File" }]

[2019-08-28 21:07] loftyet opened #37949 "API for creating Application roles and giving a user a customer role"
In this documentation, adding a application role in the manifest, and giving a user this application role in Enterprise app can be done in portal.azure.com UI.
Do we have an API for giving a user an application role in enterprise app?  It makes sense that we don't have to keep doing this in portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-08-28 21:15] benc-uk commented on #37939
Same issue in the Cloud Shell  :(
My shell is reporting `azure-cli 2.0.72`

![image](https://user-images.githubusercontent.com/14982936/63893117-3d03e200-c9e1-11e9-91d7-2fb60c868122.png)

[2019-08-28 21:18] #37945 closed

[2019-08-28 21:20] MicahMcKittrick-MSFT commented on #37939
hmm looks like something is up with --enable-vmss.

@mlearned @sauryadas any idea on this?

[2019-08-28 21:24] artsheiko commented on #34443
Strange, but it seems that now everything worked - I can’t reproduce the case

[2019-08-28 21:26] sauryadas commented on #37939
@jluk might know.

[2019-08-28 21:26] benc-uk commented on #37939
Just ran it without `--enable-vmss` and I got a Standard SKU load balancer but also my cluster was backed with a VMSS

So maybe we've flipped to VMSS being the default ?

[2019-08-28 21:29] jluk commented on #37939
@benc-uk you are correct. However, we are re-enabling the --enable-vmss flag and reverting the default swap in order to give customers a notice on our release notes which are going out today. Expect the preview extension defaults to be changed on 9/10.

[2019-08-28 21:30] MarileeTurscak-MSFT commented on #37937
Thanks for the feedback. I'm assigning this to the content author to look into.

[2019-08-28 21:32] benc-uk commented on #37939
Sounds much like a case of "interesting" timing on my part!

Thanks for the investigation guys. I guess if `--enable-vmss` is coming back, there's no change to the docs needed

[2019-08-28 21:34] ppathan commented on #37584
@kudlatiger As @dominicbetts suggested you can deploy the RM app and change the connection string to point to your IoT hub. This will be a manual step from the VM.

[2019-08-28 21:36] MarileeTurscak-MSFT commented on #37925
Do you want it to link to the role template IDs?

[2019-08-28 21:38] MarileeTurscak-MSFT commented on #37775
AADIAM is Identity Access Management and when you hit save it saves the new settings for that.

[2019-08-28 21:38] Anand-Moghe opened #37950 "When will this new VNET Integration feature go in private/public preview or GA on Microsoft Government Cloud"
When will this new VNET Integration feature go in private/public preview or GA on **Microsoft Government Cloud** (MAG)? It currently only available in Microsoft Azure Commercial cloud as per my knowledge. Do you have any road-map or timeline for MAG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f54

[2019-08-28 21:38] MarileeTurscak-MSFT commented on #37775
Let me know if I misunderstood your question. I'm closing this out but if I missed what you were asking, feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-08-28 21:38] #37775 closed

[2019-08-28 21:39] jluk commented on #37939
Yep you're really on the ball with this one - on 9/10 this SLB doc will be updated as well 👍

[2019-08-28 21:43] prestoncooper opened #37951 "Additional SAML Token Attribute for School Admin Staff on Clever"
CLAIM NAME: clever.staff.credentials.district_username
VALUE:  user.userprincipalname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4671de-22be-bbf3-3af5-29d8c958a91a
* Version Independent ID: df970875-9c2c-e201-a463-210b7dc8e0da
* Content: [Tutorial: Azure Active Directory integration with Clever](https://docs.micr

[2019-08-28 21:45] arionl commented on #24420
Also chiming in here - this seems to be an open issue for me as well. "Audio Conferencing" is a top level licensed feature because we are using O356-E3 and added it as a step-up SKU to be used for specific users. We manage O365 license assignment via group and I'm unable to do group-based licensing assignments for "Audio Conferencing". Seeing the same dependency error as mentioned, even though Tea

[2019-08-28 21:47] Grace-MacJones-MSFT commented on #37950
Hi @Anand-Moghe, thanks for your question. We are currently investigating and will update you with you the right information.

[2019-08-28 21:52] Josh-Ramirez commented on #24420
We got it worked out. MS had to run some task against our tenet to assign the license without issue. Our Audio Conferencing group assigns both the E3 and the Audio Conferencing license.

[2019-08-28 21:55] #37939 closed

[2019-08-28 21:56] softwarecraft commented on #37925
An anchor that hyperlinks to itself, with the little icon that appears when you hover, like most other doc pages have on their subsections. So I can use that URL to share with folks and it displays exactly that subsection of the doc.

[2019-08-28 21:58] msundbakken opened #37952 "functionTimeout documentation does not align with host.json schema"
functionTimeout documentation does not appear to align with the schema for the host.json file.

The documentation:

"Version 2.x: the default value is 30 minutes. A value of -1 indicates unbounded execution."

The schema for host.json (http://json.schemastore.org/host) defines "functionTimeout" as:

"functionTimeout": {
      "description": "Value indicating the timeout duration for all functions.

[2019-08-28 22:06] arionl commented on #24420
Hmm, that sounds like a non-ideal resolution which will require splitting up our E3 users instead of being able to layer on a new licensed feature set. We only want to add this licensing to a handful of users and don't necessarily want to manage all of their other E3 enabled service separately..

[2019-08-28 22:21] jeevansd commented on #37951
@chetansriv and @v-nagta can you please help fix this?

[2019-08-28 22:25] toenie23 opened #37955 "Screenshot not up-to-date"
I am in the copy UI and do not see "File Loading Behavior" for incremental load. Has this been updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325685b0-f284-1b9d-c90e-98d20e885c91
* Version Independent ID: a7c45a81-2527-9242-e75c-c4e19a4d00c8
* Content: [Incrementally copy new and changed files based on LastMod

[2019-08-28 22:27] negoe commented on #28661
@nfegan v2.0 endpoints are supported on National Clouds but MSA scenarios are not supported.
Here is [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/86887)to update the documentation.

[2019-08-28 22:37] rangeranger opened #37956 "Incorrect Resource Provider property value for Errors dataset"
The value should be MICROSOFT.SQL not MICROSOFT.SQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ecc9
* Version Independent ID: 32caa5c0-aac4-75f8-42f8-b483d55a8392
* Content: [Azure SQL Database metrics and diagnostics logging](https://docs.microsoft.com/en-us/azure/sql-database/sql-d

[2019-08-28 22:38] FrankHu-MSFT commented on #37932
Closing this issue out, as it's confusing what is being asked and currently connecting offline to discuss issue.

[2019-08-28 22:38] #37932 closed

[2019-08-28 22:38] CelesteDG commented on #28661
Documentation update has been merged to master (see linked PR). Thank you, @negoe :)
This update will go live tomorrow, ~10 AM Pacific.
#please-close

[2019-08-28 22:38] #28661 closed

[2019-08-28 22:40] sandeepiiit commented on #37717
That solves all my concerns!

Thanks for the help with the filter creation using **OR**. From the azure portal description (and docs), it was pretty clear that multiple filters get **AND**-ed, but the **OR** support inside a filter is not well documented :)

I will create another github issue by using the feedback link on the page that describes [advanced filtering](https://docs.microsoft.com/en-u

[2019-08-28 22:40] #37717 closed

[2019-08-28 22:41] MicahMcKittrick-MSFT commented on #37919
I will go ahead and close this but if you want discuss this further just let me know and we can always reopen and continue the discussion :)

[2019-08-28 22:41] #37919 closed

[2019-08-28 22:42] MicahMcKittrick-MSFT commented on #37947
in addition, it is suggested to create a new Azure Firewall specifically for your cluster if you are going this route. That way any restrictions don't interfere with your other systems.

I will go ahead and close this but if you want to discuss this morning just let me know and we can reopen and continue :)

[2019-08-28 22:42] #37947 closed

[2019-08-28 22:58] FrankHu-MSFT commented on #37611
Hello @iilyin as we've enabled a one time free support ticket in regards to this issue I will be closing out this git issue now.

Hopefully we can get your issue resolved as soon as possible, and if you can please provide your resolution on this git thread for others.

Thanks!
- Frank

[2019-08-28 22:58] #37611 closed

[2019-08-28 22:59] Grace-MacJones-MSFT commented on #37627
@TechWatching it depends on what your are trying to achieve. I would suggest using the Key Vault reference option especially if you need secret management capabilities and want to reduce the amount of code you write to secure your secrets. The Key Vault references feature makes it so that your app can work as if it were using App Settings as they have been, meaning no code changes are required. Th

[2019-08-28 22:59] #37627 closed

[2019-08-28 23:05] FrankHu-MSFT commented on #37787
Per https://docs.microsoft.com/en-us/azure/virtual-machines/windows/encrypt-disks it looks like this may be correct, going over this issue further to make sure that this is accurate before moving forward.

[2019-08-28 23:09] FrankHu-MSFT commented on #37787
We're currently looking into the issue and there is a pull request out. Once we have approval we will go ahead and make the changes accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-28 23:10] gcormier commented on #9257
Same issue pushing to Docker Hub using Azure Pipelines Docker@2.

[2019-08-28 23:19] #37787 closed

[2019-08-28 23:27] Alberto-Vega-MSFT commented on #37955
Hi @toenie23 somehow the issue came with no link. Would you please link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-28 23:27] Karishma-Tiwari-MSFT commented on #37921
I have created a PR with the updates and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/86898
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-28 23:27] #37921 closed

[2019-08-28 23:28] SaurabhSharma-MSFT commented on #37249
@m8r1us We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-28 23:30] SaurabhSharma-MSFT commented on #37704
@burstingninja Glad to hear that.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-28 23:30] #37704 closed

[2019-08-28 23:32] FrankHu-MSFT commented on #37865
Hey @fadedcrimson19 this is interesting, can you please provide some screenshots of the service principal that actually has this token lifetime policy?

We're currently looking into this, and it might be different only for SAML tokens. Do your access tokens have 10 minute lifetimes?

[2019-08-28 23:36] Karishma-Tiwari-MSFT commented on #37940
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@laurenhughes Can you please take a look at this doc-update request. Thanks :)

[2019-08-28 23:38] MarileeTurscak-MSFT commented on #37951
@prestoncooper thanks for catching this! I made a pull request to add this.

In the future you can feel free to make your own pull requests for these sorts of small changes.

Leaving this open for approval by @jeevansd , @v-nagta , and @chetansriv

https://github.com/MicrosoftDocs/azure-docs-pr/pull/86901

[2019-08-28 23:38] #37951 closed

[2019-08-28 23:41] lisaguthrie commented on #35962
Hi @dazinator - thanks for the feedback! Unfortunately, this scenario is not possible with the App Config service today.

[2019-08-28 23:43] cynthn commented on #20571
I'm going to close this issue for now. Please reopen it or open a new issue if you are still having problems. Thank you!

#please-close

[2019-08-28 23:43] #20571 closed

[2019-08-28 23:43] ask-imran commented on #37757
@KranthiPakala-MSFT Thanks for the response, Yes it was due to the .pem file.

[2019-08-28 23:43] cynthn commented on #7460
I'm going to close this issue for now. Please reopen it or open a new issue if you are still having problems. Thank you!

#please-close

[2019-08-28 23:43] #7460 closed

[2019-08-28 23:45] KranthiPakala-MSFT commented on #37757
@ask-imran Are you still experiencing the issue?

[2019-08-28 23:56] Karishma-Tiwari-MSFT commented on #37943
I have assigned the issue to the content author to investigate further and update the document as appropriate.
@mlearned Can you please take a look at this doc update request from the customer. Thanks.:)

[2019-08-28 23:59] ask-imran commented on #37757
@KranthiPakala-MSFT No, I am able to proceed without any issues.

No, I am all good. Thanks

[2019-08-29 00:00] KranthiPakala-MSFT commented on #37757
@ask-imran Glad to know that your issue was resolved. Thanks for confirming. :)

[2019-08-29 00:02] MarileeTurscak-MSFT commented on #37949
@loftyet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 00:05] amchew opened #37957 "Which subscription is charged for the AAD tenant?"
Hi team!

Regarding this line "Multiple subscriptions can trust the same Azure AD directory, but each subscription can only trust a single directory.":

When I have a tenant with multiple subscriptions, which subscription is used to pay for the tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a

[2019-08-29 00:06] russcam opened #37958 "new subnet startAddress returns reserved address"
With the move from using the `Microsoft.Compute.MultiVm` to `Microsoft.Azure.CreateUIDef` handler in createUiDefinition.json, the behaviour of the output of VirtualNetworkCombo UI element appears to have changed.

Previously, when creating a new vnet with a new subnet, the `startAddress` of the new subnet would be the first available address to use. For example, for a new subnet with address prefi

[2019-08-29 00:08] FrankHu-MSFT commented on #37957
@amchew Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 00:15] FrankHu-MSFT commented on #37957
Hey @amchew I think there's some confusion in regards to how the subscriptions work.

The trust model is in regards to how the subscription is dependent to a tenant.

When you create a resource it will ask you which subscription you're interested in using.

AAD premium payments are described here : https://channel9.msdn.com/Series/Azure-Active-Directory-Videos-Demos/How-to-Purchase-Azure-Active-Di

[2019-08-29 00:16] FrankHu-MSFT commented on #37957
The Azure AD tenant is free if you're using the basic plan

[2019-08-29 00:16] scottmcdonald-claritas opened #37959 "Incorrect info on updating Source servers"
The following is incorrect or out-of-date:

"3.To update the Mobility agent on each protected machine, open Protected Items &gt; Replicated Items.
4. Select the VM, and select the Update Agent button that appears at the bottom of the page for each VM. This updates the Mobility Service agent on all protected VMs."

There is no button to update the agent. Trying to find more information on this resu

[2019-08-29 00:18] MarileeTurscak-MSFT commented on #37946
@seantleonard
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 00:20] petehe commented on #36767
@miaojiang I also have the same question, is there any update?

[2019-08-29 00:21] MarileeTurscak-MSFT commented on #37946
I am assigning your feedback to the content author, @cawrites, to look into.

[2019-08-29 00:21] Alberto-Vega-MSFT commented on #37927
Hi @faridulhassan Thanks for reaching out!
_`I have seen that you are using mapbox-gl-js under-the-hood. Google Map, Mapbox-gl-js, Leaflet js etc. have this feature.`_
would you please share a link to a doc that illustrates this functionality you are talking about for any of those libraries. Just trying to understand better your ask.

[2019-08-29 00:21] mike-urnun-msft commented on #37952
Hi @msundbakken - Thank you for your feedback! We will review and update as appropriate.

[2019-08-29 00:26] amchew commented on #37957
Thanks @FrankHu-MSFT! I still have some outstanding questions and have scheduled a time with you to chat tomorrow.

[2019-08-29 00:27] dhmorrison commented on #37838
Thanks for the response, @AmanGarg-MSFT.

I ran the commands from your original reply using bash on my WSL ubuntu instance and there were no issues.  Very smooth install. I wonder if something is not right in 'windows land' on my box?

Anyhow, thanks for your help with this.  Interesting journey.  Kind of rocky at times.

Cheers,
@klawrawkz

[2019-08-29 00:28] MartinJaffer-MSFT commented on #37792
@QianZhang7   There is not as much direct benefit for Data Factory, but for other services like DataBricks, where you explore and analyze data, there are potential uses.  For example, you want to know which files contain a certain column, you can search inside the model.json instead of looking inside each file and checking the column names.  For information that is not contained inside the file it

[2019-08-29 00:29] kanekoh commented on #37907
Hi, @vincepower, @Karishma-Tiwari-MSFT

It was great helpful and thanks for the detail.

[2019-08-29 00:30] kobulloc-MSFT commented on #35962
@dazinator We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-08-29 00:30] #35962 closed

[2019-08-29 00:31] Chris-Johnston opened #37961 "CosmosDb Table API CustomerEntity example description is outdated"
The code example on this page defines a `CustomerEntity` class with only the properties `Email` and `PhoneNumber`. The description below this code block references a first name and last name, which is not there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID

[2019-08-29 00:34] Chris-Johnston opened #37962 "CosmosDb Table API "Insert or merge an entity" code example is not consistently formatted"
The formatting of the code block under the [Insert or merge an entity header](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet#insert-or-merge-an-entity) has inconsistent formatting, and needs to be cleaned up. Specifically, lines have an inconsistent amount of whitespace, and braces are not properly aligned.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-08-29 00:43] Chris-Johnston commented on #37961
Nevermind, PEBCAK. Read it wrong.

[2019-08-29 00:43] #37961 closed

[2019-08-29 00:45] Merurino commented on #37902
Hi, your suggestion worked, but instead of creating a Database with throughput 400 and no collection inside, it created a `TablesDB` database with no throughput and a collection with the name of the TableName I've given to the script. In the UI then I only have the option of adding new tables.

My mistake was adding this to my script:
[code]

But your link to the quick start templates was very hel

[2019-08-29 00:48] dcallagh opened #37963 "@dcallagh, Appreciate your patience. I have reproduced your scenario with zone file consisting of SPF records and importing was successful with skipping of SPF records."
Note that you have not used the supplied zone export format, but what looks like a commented DNS file.
The format provided is a DNS export and has the SPF and TXT records together.
The DNS import then fails to import the TXT record.
A bit of a bug if you have to edit all you zone exports and delete the SPF records or move them around?
CLI was updated to latest  for the import.

---
#### Document D

[2019-08-29 01:16] sandeepraolm commented on #22838
Hi @aquibqureshi26, did you find Any solution to this? Or can you share what you got done so far? Looking in our org to do similar to  what you experienced?

[2019-08-29 01:32] arionl commented on #24420
I'll try that approach. Thanks!

[2019-08-29 02:03] Keshav1308 commented on #29108
Actually we want to configure the alerting and propose this solution to our clients.

And I think sentinel is still in preview phase..

On 28-Aug-2019 10:36 PM, Dikkekip <notifications@github.com> wrote:

@Keshav1308<https://github.com/Keshav1308>
Use the dasboard/module in Azure Sentinel instead, no powershell needed anymore :)

—
You are receiving this because you were mentioned.
Reply to this e

[2019-08-29 02:23] sandeepiiit opened #37965 "Update advanced filtering section to mention that values within a key are OR-ed"
[Advanced filtering section](https://docs.microsoft.com/en-us/azure/event-grid/event-filtering#advanced-filtering), mentions:

The value part should make it clear that multiple values when provided are OR-ed when doing the match.

This was discussed here: https://github.com/MicrosoftDocs/azure-docs/issues/37717#issuecomment-525908404

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-08-29 02:33] YutongTie-MSFT commented on #37881
@AkshayTharval  Hi Akshay, from the error details it appears to be two possibilities:

 1.  Image does not exists in ACR
 2.  Azure Container Instance is not authenticated to Azure Container Registry to pull the Image.

Mitigation steps

For scenario 1 : To confirm if image exists

 *   Login to Portal
 *   Navigate to the Azure Container Registry.
 *   Navigate to the Repository
 *   Check if the

[2019-08-29 02:34] DixitArora-MSFT commented on #37965
Hi @sandeepiiit Thank you for your feedback! We will review and update as appropriate.

[2019-08-29 02:37] YutongTie-MSFT commented on #37930
@Saher- Hi, thank you for reaching out. We are sorry here is the forum for Document Feedback. Please go ahead to post your question to Stack Overflow: https://stackoverflow.com/questions/tagged/microsoft-cognitive

Engineering team of From Recognizer is actively moderating the forum. Thanks for the understanding. I will go head to close this. ^^

We will now proceed to close this thread. If there

[2019-08-29 02:37] #37930 closed

[2019-08-29 02:59] binoyjt commented on #37396
@MashaMSFT  and @jakaruna-MSFT
Any Updates on this?

[2019-08-29 03:16] kieronlanning opened #37967 "Cert-Manager, ACME HTTP Solver and Windows Nodes"
I've spent a fair amount of time trying to get cert-manager working on a cluster with mixed node pools - Windows and Linux, and I've finally gotten to a state where most of the cert-manager pods are created using a node selector to correct the linux node pool.

However, the ACME HTTP Solver always tries to create the pod on a Windows node (I've tried deleting it several times in the hope that it w

[2019-08-29 03:20] SubhashVasarapu-MSFT commented on #37963
@dcallagh, We are looking into this query and will update you as soon as possible.

[2019-08-29 03:28] KrishnaG-MSFT commented on #37945
@MicrosoftGuyJFlo Thanks for the quick response. :+1:

[2019-08-29 03:35] KalyanChanumolu-MSFT commented on #37800
@alexernest Thank you for letting us know.
I have made edits to the documentation. The changes should go live shortly.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

We will proceed to close this issue now.

[2019-08-29 03:35] #37800 closed

[2019-08-29 03:44] dcallagh commented on #37963
The engineer who was looking at this says it is because the TXT and SPF records have the same value,
The SPF gets converted to TXT and they then conflict.
Still seems like a bug to me. Can it be amended to reject subsequent identical records?

[2019-08-29 03:46] SnehaAgrawal-MSFT commented on #37835
@olofhellman Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-08-29 03:48] karthik623521 commented on #37858
@BryanTrach-MSFT
Hey Bryan,
Sorry for the delay. I have attached the template which we are using to create the app service plan.
Please let us know whether End Time can be passed in the auto scale settings of ARM template.

[app_service_plan_creation.txt](https://github.com/MicrosoftDocs/azure-docs/files/3553749/app_service_plan_creation.txt)

[2019-08-29 03:51] ecfan commented on #37910
@visualstuart, updates should go live tomorrow sometime.

[2019-08-29 03:57] sasha-melamed opened #37968 "broken link"
"Then configure the RDS licensing." link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3507c32c-62be-a841-efe1-fa12097ae83b
* Version Independent ID: abb3afba-390f-b1c1-cdc8-60e7f2893d51
* Content: [The Remote Desktop license server isn't available when you connect to an Azure VM](https://docs.microsoft.com/

[2019-08-29 04:06] KetanChawda-MSFT commented on #37955
@toenie23 Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-08-29 04:25] mbrancato commented on #37859
@RyanHill-MSFT The API is documented here on the page i'm referring to (https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity#using-the-rest-protocol). This API is exposed at a URL and it can be interacted with multiple times allowing a retry, if needed.

The story here is the Go SDK for Azure did not support the App Service MSI API, which is a different endpoint that the we

[2019-08-29 04:30] jakaruna-MSFT commented on #37714
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-29 04:30] #37714 closed

[2019-08-29 04:30] jakaruna-MSFT commented on #37723
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-29 04:30] #37723 closed

[2019-08-29 04:32] jakaruna-MSFT commented on #37842
@jluk @sauryadas Please add your comments regarding this issue

[2019-08-29 04:33] SnehaAgrawal-MSFT commented on #37900
@Djongov Thanks again for Feedback! You may check this link https://azure.github.io/AppService/2017/07/24/FAQ-SSL-certificates-for-Web-Apps-and-App-Service-Certificates.html as mentioned here " App Service Certificates can be used for any Azure or non-Azure Services and is not limited to App Services" .
Thanks again for bringing this to our attention. Your feedback has been shared with the content

[2019-08-29 04:37] ManojReddy-MSFT commented on #37752
@olofhellman We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-29 04:37] #37752 closed

[2019-08-29 04:37] runtbog opened #37969 "Additional Step required"
You will also need to register the Resource Provider 'Microsoft.OperationalInsights' & 'Microsoft.OperationalManagement' in each subscription that you want to collect activity events from.
Azure portal -&gt; Subscriptions, click subscription name &gt; Resource providers &gt;Register above Resource Providers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-29 04:38] souravmishra-msft commented on #37742
@bachoang  Hope this solves your query. Let us know if you need further help on this.

@umeshbarapatre Thanks for your input as well.

Will be closing this thread now. Please reopen if needed.

[2019-08-29 04:39] j0rt3g4 commented on #30743
Solved directly to the PR
https://github.com/Azure/azure-docs-powershell-samples/pull/236

[2019-08-29 04:39] souravmishra-msft commented on #37743
@chriszohno  Hope this solves your query. Let us know if you need further help on this.

@umeshbarapatre  Thanks for your input as well.

Will be closing this thread now. Please reopen if needed.

[2019-08-29 04:39] #37743 closed

[2019-08-29 04:40] #37742 closed

[2019-08-29 04:40] irriss opened #37970 "Controversial statements"
This statement:
* Only the most recent change for a given item is included in the change log. Intermediate changes may not be available.

Contradicts these two:

* You can read the change feed for historic items, for example, items that were added five years ago. If the item is not deleted you can read the change feed as far as the origin of your container.
and
* If a TTL (Time to Live) property i

[2019-08-29 04:41] SwathiDhanwada-MSFT commented on #37894
@MGoedtel can you please look into it and update the document accordingly

[2019-08-29 04:45] AshokPeddakotla-MSFT commented on #37318
@pandyamehul Can you please have a look at the above response and let us know if that helps?

[2019-08-29 04:48] #37908 closed

[2019-08-29 04:50] jakaruna-MSFT commented on #37908
@rockboyfor Replaced the broken link with the correct one
https://github.com/Azure/azure-quickstart-templates/tree/master/101-container-registry

Thanks for reporting

[2019-08-29 04:59] altwohill opened #37971 "Remove references to MSOnline"
Documentation should be updated to use Azure Active Directory V2 PowerShell

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to manage stale devices in Azure AD](https://docs.microsoft.com/en-nz/azure/activ

[2019-08-29 05:02] SumanthMarigowda-MSFT commented on #37898
@Tiberriver256  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

https://github.com/Azure-Samples/storage-queue-dotnet-getting-started/blob/master/QueueStorage/Advanced.cs

[2019-08-29 05:04] shashishailaj commented on #37971
@altwohill Thank you for pointing it out . We will investigate and udpate further.

[2019-08-29 05:06] Bhogayata-Keval opened #37972 "Include Error Response Format"
Please also include whole error response format in Common HTTP errors, that will be more helpful in managing errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Metadata with GenerateAnswer API - QnA Maker

[2019-08-29 05:08] BryanTrach-MSFT commented on #37858
Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview)or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service). Thank you for your understanding.

[2019-08-29 05:09] BryanTrach-MSFT commented on #37858
@karthik623521 Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview)or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service). Thank you for your understanding.

[2019-08-29 05:09] jakaruna-MSFT commented on #37968
@sasha-melamed Thanks for the feedback.
Got the correct link here https://techcommunity.microsoft.com/t5/Ask-The-Performance-Team/RD-Licensing-Configuration-on-Windows-Server-2012/ba-p/375383

Same info is available in technet as well https://blogs.technet.microsoft.com/supportingwindows/2013/09/20/rd-licensing-configuration-on-windows-server-2012/

I will submit a pr.

[2019-08-29 05:20] SumanthMarigowda-MSFT commented on #34611
@vinapp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-29 05:20] #34611 closed

[2019-08-29 05:20] SwathiDhanwada-MSFT commented on #37969
@runtbog Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-29 05:21] KalyanChanumolu-MSFT commented on #37956
@rangeranger Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-08-29 05:21] #37956 closed

[2019-08-29 05:23] SwathiDhanwada-MSFT commented on #37959
@scottmcdonald-claritas Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-29 05:25] SwathiDhanwada-MSFT commented on #37958
@russcam  Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-29 05:29] olofhellman commented on #37752
@ManojReddy-MSFT If a subscription is always linked to an Azure AD tenant, what is the meaning of the prerequisite?  Shouldn't the prerequisite just be "have a subscription"?  Or is there a way to have a tenant associated with your subscription which is neither synchronized with an on-premises directory or a cloud-only directory.  How can one tell?

When doing this tutorial I read the prerequisite

[2019-08-29 05:31] #37968 closed

[2019-08-29 05:51] KrishnaG-MSFT commented on #37867
@shep1987 Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-29 05:51] #37867 closed

[2019-08-29 05:54] canberra2002 opened #37974 "For kerberos authentication, is it possible to use cluster name instead of headnode FQDN"
May I know if it is possible to use cluster name in the JDBC connection string for kerberos authentication.
Like following:
beeline -u 'jdbc:hive2://<mycluster>.azurehdinsight.net:443/default;principal=hive/<headnode-FQDN>@<AAD-Domain>;auth-kerberos;transportMode=http' -n <username>

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.micr

[2019-08-29 06:01] RohitMungi-MSFT commented on #37972
@Bhogayata-Keval Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-29 06:24] edburns opened #37975 "publish-marketplace-app.md and cpp-azure-app-offer.md say nothing about need for "Azure usage tracking resource""
I am helping our partner Oracle publish an azure application aka
solution template offer by following our documentation.  Some relevant
documentation includes

* ./articles/managed-applications/publish-marketplace-app.md

* ./articles/marketplace/cloud-partner-portal/azure-applications/cpp-azure-app-offer.md

When I finally clicked "Publish" in the Cloud Partner Portal I learned
about an entirely

[2019-08-29 06:24] edburns commented on #37975
Feel free to assign this to me and I'll make a PR.

[2019-08-29 06:32] utkarsh24 opened #37976 "sample for python"
Can you please provide sample for python language

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Independent ID: 69f0b334-acba-8dde-51d5-eb6bc9f85d5e
* Content: [Microsoft Graph bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-

[2019-08-29 06:40] AmanGarg-MSFT commented on #37838
@dhmorrison @klawrawkz  - You are welcome :)

[2019-08-29 06:40] #37838 closed

[2019-08-29 07:00] AshokPeddakotla-MSFT commented on #36463
@viv-liu Could you please check this and update the doc?

[2019-08-29 07:00] vishalaj1 commented on #34443
"Are you giving LastModifiedStartDate values?"

[2019-08-29 07:18] CHEEKATLAPRADEEP-MSFT commented on #37974
@canberra2002
When connecting from a client to an Enterprise Security Package (ESP) cluster joined to Azure Active Directory (AAD) on a machine in same realm of the cluster, you must also specify the domain name <AAD-Domain> and the name of a domain user account with permissions to access the cluster <username>:

[code]
When connecting to a non-ESP or Azure Active Directory (AAD) joined ESP cluste

[2019-08-29 07:23] edburns opened #37977 "publish-marketplace-app.md should link to cpp-publish-offer"
`./articles/managed-applications/publish-marketplace-app.md` ends with
`After you fill out all the sections, select **Publish** to start the
process that makes your offer available to customers.` We have a nice
page that describes what happens during **Publish**, we should link to
it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-29 07:23] AshokPeddakotla-MSFT commented on #36983
@danewalton Thanks for the PR.
@gw111zz Changes will be updated once the PR is merged,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-29 07:23] #36983 closed

[2019-08-29 07:23] edburns commented on #37977
Feel free to assign this to me.  I'll make a PR.

[2019-08-29 07:24] AshokPeddakotla-MSFT commented on #36838
@ksaye Have you had a chance to see the above response?

[2019-08-29 07:26] EliasKnutsson commented on #37701
@Karishma-Tiwari-MSFT
Makes sense.
So if I am reading this right, creating an SSH connection is not possible at all if you are not using vmss? What's my alternative?

//Elias

[2019-08-29 07:28] rwike77 commented on #33008
@blueelvis Did this link not work for you?  https://login.microsoftonline.com/error?code=65006  When you check the error, you need to search on the error number (i.e. "65006") and NOT the full error code (AADSTS65006).  I'll reopen the issue for now.  I'll see if we can keep the full list of errors and somehow refresh it.  Currently, this list is generated manually however.  There are a lot of err

[2019-08-29 07:42] ziziz commented on #19828
I have the same problem as @gnumarco and  @BKB503.

[2019-08-29 08:13] SwathiDhanwada-MSFT commented on #37969
@runtbog Whenever you create a new log analytics workspace, the resource provider Microsoft.OperationalInsights will be automatically registered. Similarly , whenever solution is created, the resource provider Microsoft.OperationsManagement will be automatically registered.

So in this case, we need not register the resource provider explicitly.

[2019-08-29 08:14] joshwright10 commented on #24420
Thanks @Josh-Ramirez I'll have a look into that. Shame that MS can't remove the prerequisite, or detect that users are already licensed.
We have several licences, and not all plans enabled on all. So we would need to create a lot of different variations of the groups in order to completely go down the group approach.

It would have been nicer if it could have been a "bolt-on" type group...

[2019-08-29 08:19] KrishnaG-MSFT commented on #37905
Hi @sunilkcs, AFAIK param for OS version is currently not supported by AKSCluster. But the close one that would make it possible is by deploying your own Kubernetes cluster using [aks-engine](https://github.com/Azure/aks-engine) (which IMO is not ideally recommended for production deployments). For more information, 'distro' would be one such param which is explained [here](https://github.com/Azur

[2019-08-29 08:23] KetanChawda-MSFT commented on #37976
@utkarsh24  Thank you for providing the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-29 08:31] jfayatkim commented on #36569
Hi

The Enabled/Disabled status is now displaying correctly for me

Thank you

Joanne Fay
Senior Developer

KIM Software Solutions Ltd
Unit 30, M11 Business Link
Parsonage Lane
Stansted
Essex
CM24 8GF

01279 600171

www.kimsp.com<http://www.kimsp.com/>

From: Allison Manifold <notifications@github.com>
Sent: 21 August 2019 18:03
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Joan

[2019-08-29 08:34] SwathiDhanwada-MSFT commented on #37958
@tfitzmac Kindly review and share your thoughts on the same.

[2019-08-29 08:34] linruhui commented on #31879
@cephalin I really want you people to help get this work out soon, you are experts in this area, aren't you? I just don't understand why it takes so long to collect data.  We recently met a new issue in TCP connections -- SNAT port exhaustion. Again, we don't get clear documents in Azure Paas on this topic.

Since you are taking soooooo long to collect data, do you mind to get more details on SNAT

[2019-08-29 08:37] russcam commented on #37958
This issue describes the resource behaviour rather than the docs. If that makes sense, please feel free to move it to a more appropriate repository.

[2019-08-29 08:38] menmikimen opened #37980 "Cannot send any data to blob storage - "Server encountered an internal error. Please try again after some time.""
While using this container I've encountered an issue preventing me from uploading files.
It is present when i try to upload file using Azure Storage Explorer and python library (azure-storage-blob==2.1.0).

Log from error in Azure Storage Explorer:
[code]

Log from when using python library:

[code]

Error in container log:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-08-29 08:50] KalyanChanumolu-MSFT commented on #37962
@Chris-Johnston Thank you for pointing this. I have formatted the code and made the edits accordingly. The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2019-08-29 08:57] #37962 closed

[2019-08-29 08:59] KalyanChanumolu-MSFT commented on #37970
@irriss Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-29 09:13] TheOtherBillGates opened #37982 "Can you review this article interest ?"
Azure Multi-Factor Authentication Server provides a way to secure resources with MFA capabilities. As of July 1, 2019, Microsoft will no longer offer MFA Server for new deployments. New customers who would like to require multi-factor authentication from their users should use cloud-based Azure Multi-Factor Authentication. Existing customers who have activated MFA Server prior to July 1 will be ab

[2019-08-29 09:22] jakaruna-MSFT commented on #37967
@kieronlanning
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 09:31] dkershaw10 opened #37983 "Azure AD Graph Explorer"
The page has multiple links to Microsoft Graph Explorer, but it is labeled Azure AD Graph explore.  Please fix.
Also consider a deep links into Microsoft Graph Explorer that will pre-populate the request of interest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Version Independen

[2019-08-29 09:45] AshokPeddakotla-MSFT commented on #37845
@BhupalPatil Please check the [Azure IoT C SDKs and Libraries](https://github.com/Azure/azure-iot-sdk-c) and [sample](https://github.com/Azure/azure-iot-sdk-c/blob/7a426159c1187715934a793e3e0b84bf955ea2a4/iothub_client/tests/iothubclient_uploadtoblob_e2e/iothubclient_uploadtoblob_e2e.c).

Let us know if you need further help.

[2019-08-29 09:52] dkershaw10 opened #37984 "Use Microsoft Graph for audit logs"
Please update this page to Microsoft Graph to retrieve audit logs (rather than Azure AD Graph).  Not even sure the referenced AAD Graph beta endpoint works any more!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee44e2a4-8642-326a-61ea-d934356ff4a0
* Version Independent ID: 803a9ce1-be27-9068-2172-a543dbe2a70d
* Conte

[2019-08-29 10:03] dkershaw10 opened #37985 "Azure AD Graph Explorer"
1.  Rename to Microsoft Graph Explorer.  (You should say that this app is used to allow you to access data in your tenant.)
2.  Graph Explorer supports deep links - so consider a link that will auto-populate the query in your step.

Please make this change in all other topics that reference "Azure AD" Graph Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-08-29 11:14] Sethu2488 commented on #37869
Any update on the above ask. Appreciate your insights

[2019-08-29 11:23] temabu commented on #37804
@kbroughton - Do you have an example of this? "manually constructing queries in log analytics to determine if a user needs a given role".  I can only envisage checking on number of activations but that doesnt necessarily highlight a role requirement?  I'm interested in this as well but dont have enough knowledge to see how log analytics could provide this answer?  Thanks

[2019-08-29 11:24] temabu commented on #37804
Any forecast when this would come out of preview to GA?

[2019-08-29 11:28] KatiukOleg commented on #37851
@NavtejSaini-MSFT Today I was trying powershell cmdlet that was mentioned in the article, and got the error ->
" ParentResourceNotFound: Can not perform requested operation on nested resource. Parent resource 'MyTargetServerName' not found."
Couldnt understand why server not found, it is already exist.

[2019-08-29 11:53] AshokPeddakotla-MSFT commented on #37980
@menmikimen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 12:06] chrisc-ws opened #37987 "ResultType Field values"
ResultType actually seems to return numerical values rather than "Success or Failure. Are the mappings for these numerical values documented anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6abfd33-5740-865b-24a4-542a989bc399
* Version Independent ID: 0139ee02-5fcd-1d2d-800e-d440131348ec
* Content: [Azure Acti

[2019-08-29 12:12] SwathiDhanwada-MSFT commented on #37959
@Rajani-Janaki-Ram Can you provide your insights on this issue.

[2019-08-29 12:12] jakaruna-MSFT commented on #37756
@sauryadas I submitted a PR. Please validate and suggest changes if needed

[2019-08-29 12:25] jakaruna-MSFT commented on #37967
@kieronlanning certmanager help chart takes nodeselctor as an input.
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L89

I hope if we give `--set nodeSelector."beta\.kubernetes\.io/os"=linux`, All cert manager components will got o linux nodes. I will try this tomorrow and update you

[2019-08-29 12:30] plessisa opened #37988 "Visible agrument does not work on the new VirtualNetworkCombo"
With the move from using the Microsoft.Compute.MultiVm to Microsoft.Azure.CreateUIDef handler in createUiDefinition.json, the behaviour of the output of VirtualNetworkCombo UI element appears to have changed.

Previously, we were able to hide the VirtualNetworkCombo programmatically using Visible. It seems the Visible is not working anymore.

Adrien P.

[2019-08-29 12:43] MaxHogervorst commented on #29306
@PramodValavala-MSFT Thank you for your reply. So as of now there no testing possibilities for Node durable functions?

[2019-08-29 12:49] AdamSharif-MSFT commented on #37911
Hi David,

Thanks for this, appreciate your response – it might be worth still adding that it’s preview and the regular disclaimer, just to make sure users are aware 😊

Kind regards,
Adam

﻿[Microsoft]
Adam Sharif
SUPPORT ESCAL ENG
Azure Rapid Response
Office: +44 (118) 9093141
Adam.Sharif@microsoft.com<mailto:Adam.Sharif@microsoft.com>
8:00 AM – 4:30 PM (UK time)
﻿
If you need immediate attention

[2019-08-29 13:07] sanjusanjeet commented on #22934
I am not able to see any storeSettings option in FTP source.

[2019-08-29 13:10] blueelvis commented on #33008
@rwike77 - Thanks for the clarification!

Didn't know that full error code was not supported. It looks good. But, is there any roadmap for this endpoint?

Just FYI, the issue wasn't reopened by the bot :)

[2019-08-29 13:10] JamesHeathcote opened #37989 "Software licensing checks not working"
We have a combination of security groups which are populated based on Job Title or Department, however, in some cases we have to make an exception where a License causes another license to be duplicated from another SKU.

user.jobTitle -ne "Contractor" -and (user.department -eq "Success" -or user.department -eq "Marketing" -or user.department -eq "Sales") -and (user.assignedPlans -any (assignedPla

[2019-08-29 13:11] vladfr commented on #35603
@anavinahar Hi! We're interested in starting a VMSS from a Public IP prefix, could you share an ARM template example for doing this? It would be really helpful!

[2019-08-29 13:15] abhirockzz opened #37990 "Provide a link to Azure Machine Learning SDK"
This would prove handy!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tutorial: Train models - Azure Machine Learning service](https://docs.microsoft.com/en-in/azure/machine-learning/ser

[2019-08-29 13:17] Jayesh040 opened #37991 "Need to import swagger json file in APIM from storage account via Terraform, Powershell or Azure CLI"
I'm able to create an OpenAPI API in API Management by azure portal by importing swagger json file from azure storage account but not able to make it via Azure Terraform, Azure Powershell or Azure CLI.

Is their any way we can create an new OpenAPI API in Azure APIM by importing swagger json file via any above mentioned scripting method ?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-08-29 13:20] ofekdadu opened #37992 "missing Quotation mark in step2.2"
missing Quotation mark
in Step 2: Specify Routes
2.Explicit
it should be "ASCForIoTRoute": "FROM /messages/modules/azureiotsecurity/* INTO $upstream"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c29670b3-413d-edb3-9203-135f624a99b7
* Version Independent ID: c1460dad-86d1-d594-06c0-368b56096895
* Content: [Deploy Azur

[2019-08-29 13:21] soniaang opened #37993 "misleading sentence with INSTEAD"
"If you intend to use the cognitive-services-recognize-text container, instead of the Form Recognizer service, make sure you use the docker pull command with the correct container name:"

I spoke to Neta and the word Instead  is misleading you need BOTH containers OCR and forms  nmatter what  agreed?  REFER TO SENTENCE ABOVE

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-08-29 13:22] andreasmarx commented on #34574
Hi. Why was this closed with no comment?  Documentation has not been updated. So it is still not supported, even when doing filtering and with controlled validation and with only one tenant? Why would that be the case? Please clarify. Best regards Andreas

[2019-08-29 13:34] msangapu-msft commented on #33505
#reassign:@msangapu-msft

[2019-08-29 13:37] msangapu-msft commented on #33505
Hi @upliftertom - cool username and icon! That is good feedback about ACR details on Multi-container. Let me review this and get back to you.

[2019-08-29 13:40] MGoedtel commented on #37894
@phspies & @SwathiDhanwada-MSFT - I'll bug this article and reach out to the PM who owns this article/solution to get that information and get the article updated.

[2019-08-29 13:41] Shaktikantpadhi opened #37994 "What is the correct format of title(i.e Ti), to get article information from microsoft academic graph using MAG-Academic Knowledge API(Academic Search API)"
- While I am running Query1 bypassing exact title then I am unable to get the result, but in Query2, while removing the special character and converting the upper case to lowercase then only I got the result from MAG.
- Could anyone suggest to me why it's like this?
- Also, I observer while searching from "https://academic.microsoft.com" by the help of same above title I got my article information

[2019-08-29 13:42] SteveLasker commented on #9257
For acr scenarios, we’ve provided a trouble shooting tool: https://aka.ms/acr/health-check

[2019-08-29 14:01] abarrafo opened #37996 "Reply URLs"
Is there a maximum limit to reply urls? Are there restrictions to ports usage? For example:

`https://mydomain.com:8443/azure/login/code`
`https://mydomain.com:8445/azure/login/code`
`https://mydomain.com:8446/azure/login/code`
`https://mydomain.com:8447/azure/login/code`

Is this permitted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-08-29 14:10] MashaMSFT commented on #37396
Hi @binoyjt, thanks again for reaching out! Unfortunately, not yet. I am still investigating the expected behavior here, and apologize for the delay :(

Thanks!
Masha from the SQL Docs team

[2019-08-29 14:16] mmacy commented on #28155
@harshithkashyap Sorry for giving you false hope, Harshith, but after further investigation, it turns out that what you're attempting is not currently possible. This article applies _only_ to local accounts; KMSI is currently unsupported for external identity providers.

The article mentions this (admittedly, in a currently too-subtle and somewhat ambiguous manner):

![image](https://user-images.g

[2019-08-29 14:20] aquibqureshi26 commented on #23988
Hi,

More details about PA would be appreciated. Like what does Provisioning Agent does?

I know VM guest agent is the process which is used for enabling extension for various azure services but never know about provisioning agent. What is the executable for this and how can I find the presence of the same.

[2019-08-29 14:23] aquibqureshi26 commented on #22838
Hi Sandeep, No I've to manually run playbook

[2019-08-29 14:24] jluk commented on #37842
Virtual nodes can only be used with Azure CNI, so it should be able to access other services within your cluster if configured properly. Could you please close this docs issue and open this question on the virtual kubelet project for engineers to look at? Thank you!

https://github.com/virtual-kubelet/virtual-kubelet/issues

[2019-08-29 14:28] ggailey777 commented on #36569
Thanks @agruning #please-close

[2019-08-29 14:28] #36569 closed

[2019-08-29 14:32] msangapu-msft commented on #33505
Btw, ACR is a private registry and you can use private images using the portal UI. Do I understand your situation correctly?

[2019-08-29 14:33] aloneguid opened #37998 "list databases/containers"
Is there any way to list databases and containers using this SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
* Version Independent ID: 18564fed-2285-8cab-39a0-e3f1c2407c19
* Content: [Build a .NET console app to manage data in Azure Cosmos DB SQL API account](https://docs.micros

[2019-08-29 14:36] orangetoken commented on #36767
If you are using v2 OAuth endpoints then you can find the URL under Application Registrations -> Endpoints. It's the 5th link. Then you can also save the policy in APIM.

[2019-08-29 14:38] SamaraSoucy-MSFT commented on #37765
@JohannBlais  I'm going to pass this off to the doc author for them to decide whether or not to add this information to the doc. If you have questions about the links I provided please tag me in your comment.

[2019-08-29 14:43] AI586 commented on #37869
@Sethu2488 The new detection model detection_02 doesn't return face attributes and face land marks.
![image](https://user-images.githubusercontent.com/38830881/63950244-405aa480-ca99-11e9-9255-9f51fb7f2425.png)

[2019-08-29 14:44] #37756 closed

[2019-08-29 14:54] jamelia1303 commented on #24231
@Adam-Smith-MSFT
Hi! just want to let you know that solution was found. thank you!

[2019-08-29 15:00] Sethu2488 commented on #37869
Thank you

[2019-08-29 15:02] #28155 closed

[2019-08-29 15:02] PatrickLownds opened #38000 "Enable Azure Active Directory Identity Protection"
Step 2 should be click dashboard and then click Marketplace (when signing to the Azure portal you are presented with the Azure Services page). Minor I know. Also, step 3 (selecting the Identity category) doesn't result in including in the filter Azure AD Identity Protection (even if you click -&gt; see more). However, you can search for it. Many thanks!

---
#### Document Details

⚠ *Do not edit t

[2019-08-29 15:05] upliftertom commented on #33505
Thanks :)

What I had been trying to build was a python flask app using my private image in ACR, and then add the deps for celery + redis using docker compose-

I was trying to put my docker-compose file in the configuration box in the image I posted above, and it was really difficult to debug what i'd done wrong, and a tutorial would have helped.

I was trying something quite similar to this:
(st

[2019-08-29 15:09] harshithkashyap commented on #28155
Thank you for the update @mmacy. Is there a repo where I can file this issue with the product team to get this feature implemented?

[2019-08-29 15:10] ram-msft commented on #37869
@yluiu Currently Face attributes and landmarks are disabled if we choose the new detection model(detection_02). Can you please help on any road map to add this features to the new model?

[2019-08-29 15:15] clerens opened #38001 "Manual installation powershell command not working for linux"
Hi,

I have tried to install the OMS agent on Linux VM and the powershell command not working I got Error Message: "Set-AzVMExtension : Unterminated string. Expected delimiter: ". Path 'workspaceKey', line 3, position 2.
At line:9 char:2
+  Set-AzVMExtension -ResourceGroupName $vm1.ResourceGroupName -VMName  ...
+  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Category

[2019-08-29 15:17] msangapu-msft commented on #33505
I see. So you were using a mix of images from both DockerHub and ACR and didn't find clear instructions on Azure App Service about all images coming from the same registry. Yes, I think that information should be made clear. I think we can list additional details so we help others encountering the same issue. Let me know if I misunderstood anything.

[2019-08-29 15:23] Rajani-Janaki-Ram commented on #37959
+ Rajeswari to look into this as she owns the scenario.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Thursday, August 29, 2019 5:43:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rajani Janaki Ram <rajanaki@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2019-08-29 15:28] brettsam commented on #37115
What are you trying to do with the LoggerFactory?

In general, logging from within the configuration section is can be troublesome. Some loggers depend on services that have not all been registered yet.

[2019-08-29 15:32] upliftertom commented on #33505
Yes, I think that's it.  I then tried to pull the dockerhub images into my private repo and use them all from there in the docker-compose file, like:

[code]

 but I wasn't able to get that to work either

[2019-08-29 15:33] Jez85 commented on #37811
Thanks! will try this out.

[2019-08-29 15:34] oatsoda opened #38002 "Incorrect Azure CLI compatibility"
This is the error:

Skipping 'mesh-0.10.6-py2.py3-none-any.whl' as not compatible with this version of the CLI. Extension compatibility result: is_compatible=False cli_core_version=2.0.45 min_required=2.0.67 max_required=None

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9790045-bddf-bfe7-1d13-2738f0a988d0
* Version

[2019-08-29 15:36] brettsam commented on #35588
BindingContext is not registered with DI so you can't access it this way. I've filed this to track: https://github.com/Azure/azure-webjobs-sdk/issues/2314

[2019-08-29 15:39] PatAltimore commented on #37796
I have an update that includes the new portal app registration changes in review.

Pat

#in-progress

[2019-08-29 15:42] brettsam commented on #35493
We do this today internally: https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/TestFunctionHost.cs.

@jeffhollan took this and broke it out into a separate repo here: https://github.com/jeffhollan/functions-test-helper. But I'm not sure that this has been kept up-to-date and may not function exactly like our host.

Internally we've talked about releasing

[2019-08-29 15:42] rdewet commented on #31166
When will it be supported for Linux workloads?

[2019-08-29 15:44] brettsam commented on #33576
I agree this isn't a DI issue -- can you file an issue at https://github.com/Azure/azure-webjobs-sdk/issues with your scenario? We can work through it with you and hopefully it will lead to some doc improvements.

[2019-08-29 15:48] mmacy commented on #37846
@alfredorevilla @illgitthat We've identified the cause of the issue and are working to restore the pre-migration solution. Thanks for your patience while we get this sorted. I'll update here when the project has been restored to the repository, and will then update the article with the correct paths as appropriate.

Cc: @yoelhor

[2019-08-29 15:55] msangapu-msft commented on #33505
Did you already configure the registry credentials? https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#configure-registry-credentials-in-web-app

[2019-08-29 15:56] mike-urnun-msft commented on #37991
Hi @Jayesh040 - Thank you for your feedback! We will review and update as appropriate.

[2019-08-29 16:02] AI586 commented on #37760
@wwlpublish Yes you can use one transcript file, Below is an example.

![image](https://user-images.githubusercontent.com/38830881/63956414-fe832b80-caa3-11e9-9129-92b943257552.png)

[2019-08-29 16:03] Mike-Ubezzi-MSFT commented on #19828
@ziziz  @BKB503 @gnumarco If you are creating a fixed partition where a partition key is not required, you will likely have a more useful experience with any 3rd Party client. In the case where a partition key is required, you will experience issues. Can one of you create an entry in the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) while the others upvote and co

[2019-08-29 16:05] Mike-Ubezzi-MSFT commented on #19828
Additionally, Cosmos DB is moving towards requiring a partition key in all cases. I see this is an older issue and not requiring a partition key was available for a fixed collection.

[2019-08-29 16:06] Mike-Ubezzi-MSFT commented on #36287
@stevestein for awareness.

[2019-08-29 16:07] IEvangelist commented on #37993
Hi @soniaang,

Thank you for bringing this to my attention. If I understand this correctly, you're saying that both containers are required regardless - right? If so, I can update the docs to more appropriately state that.

[2019-08-29 16:11] mmacy commented on #28155
Sure thing, sorry for the inconvenience, @harshithkashyap. The official channel for feature requests is UserVoice:

[UserVoice: Azure Active Directory B2C](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596)

[2019-08-29 16:11] TomArcherMsft commented on #23032
@TheMoroccanBoss I've update the article. Thanks again for your help.
@MicahMcKittrick-MSFT #sign-off

[2019-08-29 16:14] davidroberts63 opened #38004 "Out of date commands"
The commands used appear out of date. Specifically `Import-AzApiManagementHostnameCertificate` does not exist in the Az module. It existed in the AzureRM one though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85f2f368-b037-9195-cb62-c3341b3eb346
* Version Independent ID: 6034b68e-792c-b9cf-8884-088127cf71de
* Conte

[2019-08-29 16:23] nelsonmorais commented on #33073
Hi @femsulu, @snehithm, any update on this?

[2019-08-29 16:28] jonwbstr opened #38005 "Frequently asked question"
We get this a lot:
"These two warning messages when setting up phone sign-in says I am giving my company access to my phone. I don't want anyone spying on me this is my personal device!"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 375ed522-cdda-d5e2-2791-21ab320e9e76
* Version Independent ID: 2a733534-ac0c-0645-fa69

[2019-08-29 16:41] surajsupremegolf opened #38006 "ILogger injected through the DI in azure function does not print the logs."
I have a azure function which calls some internal classes. I need logging mechanism in other classes too. I am injecting the ILogger through DI in the start up class. But unfortunately the logger does not print. There is no error hence I believe it was filtering out. Tried various combinations of host.json but with minimal luck.
Pasting my simple code for better understanding.
 public class Functi

[2019-08-29 16:42] ecfan commented on #37910
@visualstuart, if there's specific items that aren't still what you expect, please let me know, thanks!

[2019-08-29 16:44] ggirard07 commented on #36458
@danielstocker can you provide more background about what was your original issue which leads to this discovery? I am not sure to properly understand the implication to set it improperly (what you mentioned as an `unintentional swap`)

[2019-08-29 16:45] surajsupremegolf commented on #38006
@PramodValavala-MSFT  Tagging you because you had a suggestion on this for one of the issues which had been raised, it worked for them. I tried the similar one and it did not work.
Thank you.

[2019-08-29 16:49] SpicySyntax opened #38010 "More Suggestions for deploying Azure Cognitive Service Containers to AKS via helm"
I wanted to extend the suggestions with @IEvangelist on a [closed issue](https://github.com/MicrosoftDocs/azure-docs/issues/34876#issuecomment-524952588_) regarding helm deployments of cognitive service containers.
Specifically I found it useful to include the secret in the helm deployment itself.
The secret will be deleted and created with new deployments and will fit well with CI/CD processes wi

[2019-08-29 16:56] #37993 closed

[2019-08-29 16:57] upliftertom commented on #33505
I've set all these:

![image](https://user-images.githubusercontent.com/51954126/63960321-25326980-ca86-11e9-954d-6487b3984fc0.png)

which works great for a single container - do you also have to set each of the container images for the redis etc?

[2019-08-29 16:57] felickz opened #38011 "No example for WSFed"
No documentation for: WsFed - Federation with any WsFed protocol identity provider.

No mention of implementing WS Trust or Proprietary as mentioned: https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles#protocol

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe70bb3e-884f-a8db-eee7-ae98cf653b93

[2019-08-29 16:59] Karishma-Tiwari-MSFT commented on #38002
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 17:09] gurudayalroy commented on #37934
Have you ever tried to access documents in Cosmos DB mongo api from PowerBI
cosmos db data source?
I have dropped the cosmos db mongo api but you can follow the below steps.

   - Create a azure cosmos db mongo api
   - Create a database and collection within the db.
   - Try to add  some documents.
   - Now try to build a report on PowerBI from the documents.

On Wed, 28 Aug 2019 at 23:23, Bryan

[2019-08-29 17:10] msangapu-msft commented on #33505
From: https://techcommunity.microsoft.com/t5/Azure-App-Service/Things-You-Should-Know-Web-Apps-and-Linux/ba-p/392472

I can't see your full URL, can you please double-check that it includes HTTPS? If you have further issues, I would recommend opening a Support case so they can work with you 1:1 to reproduce and help solve your problem.

[2019-08-29 17:11] FrankHu-MSFT commented on #38011
@felickz Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37982
@TheOtherBillGates Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37984
@dkershaw10 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37985
@dkershaw10 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37987
@chrisc-ws Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37989
@JamesHeathcote Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #37996
@abarrafo

[2019-08-29 17:11] FrankHu-MSFT commented on #38000
@PatrickLownds Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #38001
@clerens Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:11] FrankHu-MSFT commented on #38005
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:14] YutongTie-MSFT commented on #37990
@abhirockzz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 17:16] FrankHu-MSFT commented on #38005
Hey @jonwbstr can you please provide a screenshot of this issue you're saying you receive alot of?

[2019-08-29 17:21] MarileeTurscak-MSFT commented on #37983
@dkershaw10
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-29 17:23] toenie23 commented on #37955
Here is the URL:
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-lastmodified-copy-data-tool

Thank you

On Wed, Aug 28, 2019 at 9:06 PM KetanChawda-MSFT <notifications@github.com>
wrote:

[2019-08-29 17:27] FrankHu-MSFT commented on #38001
Hey @clerens thanks for letting us know about this! So the command is correct, but the initialization of the variables public conf and private conf are wrong.

And per the docs : https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmextension?view=azps-2.6.0

It should be a hashmap with an equal sign.
[code]

And per the docs, you changed it to have equal signs.

[code]

But this c

[2019-08-29 17:29] Adam-Smith-MSFT commented on #24231
@jamelia1303 Thanks for the update :) , I'll go ahead and resolve the case for now.

Thanks,
Adam

[2019-08-29 17:33] #24231 closed

[2019-08-29 17:35] Karishma-Tiwari-MSFT commented on #37701
@EliasKnutsson Sorry for any confusion. You can also configure it for your VM availability set based AKS cluster as shared [here](https://docs.microsoft.com/en-us/azure/aks/ssh#configure-virtual-machine-scale-set-based-aks-clusters-for-ssh-access). It is just a different set of commands you have to use.
You were getting the error because you were following the steps for VMSS based AKS cluster whil

[2019-08-29 17:35] BryanTrach-MSFT commented on #37975
@edburns We have gone ahead and assigned the issue to you as requested.

[2019-08-29 17:36] shashishailaj commented on #37971
@MicrosoftGuyJFlo Could you please take a look at this document update request ?

[2019-08-29 17:38] BryanTrach-MSFT commented on #37977
@edburns We have assigned the thread to you. Please let us know when you are ready to close it.

[2019-08-29 17:40] Heidilohr commented on #37774
@MicahMcKittrick-MSFT @josuvil We're currently investigating this.

[2019-08-29 17:41] BryanTrach-MSFT commented on #37988
@plessisa Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork)or [Stack Overflow](https://stackoverflow.com/quest

[2019-08-29 17:43] BryanTrach-MSFT commented on #37992
@ofekdadu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 17:46] AI586 commented on #37860
@ChrCoello Could you please share your score.py script.

[2019-08-29 17:46] BryanTrach-MSFT commented on #37994
@Shaktikantpadhi Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=mlapi)or [Stack Overflow](https://stackoverflow.com/questions/tagged/a

[2019-08-29 17:46] KetanChawda-MSFT commented on #37955
@toenie23 Thank you for providing the details. I have assigned the issue to the @ChiragMishra-MSFT for further investigation.

[2019-08-29 17:47] BryanTrach-MSFT commented on #23032
@TheMoroccanBoss We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-29 17:47] #23032 closed

[2019-08-29 17:49] BryanTrach-MSFT commented on #38006
@surajsupremegolf Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azurefunctions)or [Stack Overflow](https://stackoverflow.com/question

[2019-08-29 17:51] MicrosoftGuyJFlo commented on #37971
Its in the backlog to get updated.

[2019-08-29 17:51] BryanTrach-MSFT commented on #38010
@SpicySyntax Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 17:52] JeremyTBradshaw opened #38013 "Additional issue to add for troubleshooting"
Hello, if anyone has disabled replication on one or more domain controllers (via REPADMIN):
[code]

This will prevent Password Hash Syncing to work, you'll see this error in the event log:

On the problem domain controller, in the log Applications and Services Logs > Directory Service, there will be events 1113 and 1115 stating the administrator has blocked replication.

The solution is to re-enab

[2019-08-29 17:52] BryanTrach-MSFT commented on #37827
@rizwaans Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-29 17:52] #37827 closed

[2019-08-29 17:53] YutongTie-MSFT commented on #38010
@IEvangelist Hi David, this is a follow up question from a issue assigned to you. Could you please check it and help? Thanks.

[2019-08-29 17:53] MicrosoftGuyJFlo commented on #37971
I cant promise a date when this will be done but it is on my radar. #please-close

[2019-08-29 17:53] #37971 closed

[2019-08-29 17:56] MicrosoftGuyJFlo commented on #37982
@TheOtherBillGates what is your specific question about the announcement?

[2019-08-29 17:59] kbroughton commented on #37804
@temabu The tool would look much like the AWS Access Advisor:
https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html

The basic process is:
Turn on all Activity Logs and Diagnostic Logs.
Record for a month (or reasonable period to capture typical use).
Forward all logs to Log Analytics.
Now we should be able to create queries like
Actor accessed Resource since Date GR

[2019-08-29 18:04] BryanTrach-MSFT commented on #37998
@aloneguid Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 18:06] BryanTrach-MSFT commented on #38004
@davidroberts63 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 18:06] surajsupremegolf commented on #38006
@BryanTrach-MSFT I have an issue : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2. In the configuration settings I have followed the similar steps with "Function":"Information". But I don't see any logs in the console.
If still this is not the right channel. Please let me know. I will close this issue and ask in the place you have suggested.

[2019-08-29 18:07] BryanTrach-MSFT commented on #38013
@JeremyTBradshaw Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 18:10] BryanTrach-MSFT commented on #38006
@surajsupremegolf That doc is outside this repro. I went ahead and found a similar doc that talks about [Azure Functions Monitoring](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring), which should get you routed to an engineer with Azure Functions knowledge. Thank you for your understanding.

[2019-08-29 18:13] BryanTrach-MSFT commented on #37934
Please note that we scope issues on this repro to feedback related to the docs. Since this is  a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2019-08-29 18:13] #37934 closed

[2019-08-29 18:13] xizhengszhang opened #38014 "No Azure Environment Selector for VS 2019"
The tutorial mentioned using Azure Environment Selector for Visual Studio 2019. However, the only extension named Azure Environment Selector in Visual Studio Marketplace supports only Visual Studio 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc1d6b2-5e59-f452-fba3-ed92a35a0b87
* Version Independent ID: b71194

[2019-08-29 18:28] CelesteDG commented on #37796
Thank you very much, @PatAltimore

[2019-08-29 18:46] #31546 closed

[2019-08-29 18:50] amadav commented on #37714
When autoscaler is enabled using the "az aks" command, I am not able to get the logs for the autoscaler possibly because it is not run as part of agent-pool nodes. Is there a way to get/monitor the logs on the master components?

[2019-08-29 18:51] josuvil commented on #37774
Thanks. I think it’s just a matter of documenting the Add-RdsAccount as a pre-requisite.

From: Heidi Lohr <notifications@github.com>
Sent: Thursday, August 29, 2019 1:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Josh Villagomez <Josh.Villagomez@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Add-RdsAccount missing (#37774)

@M

[2019-08-29 18:56] jonwbstr commented on #38005
A screenshot of an email or support ticket, or phone transcript where a
user gave us this response?

On Thu, Aug 29, 2019, 1:16 PM Frank Hu <notifications@github.com> wrote:

[2019-08-29 19:01] david-frazee opened #38015 "TCP flow behavior for probe down scenario."
Document states that if a backend instance's health probe fails, established TCP connections to this backend instance continue. It also states that the Load Balancer is a pass through service (does not terminate TCP connections). Before this line though, it specifically states that the Basic Load Balancer will terminate all existing TCP flows to the backend pool.

This is a bit confusing to read,

[2019-08-29 19:10] devropes commented on #37836
@RohitMungi-MSFT Should I open a new thread for this question?

[2019-08-29 19:11] gearsmotion789 commented on #37836
@RohitMungi-MSFT Should I open a new thread for this follow-up question?

[2019-08-29 19:16] msrini-MSFT commented on #38015
@david-frazee , Thank you for your feedback. i will investigate and get back to you.

[2019-08-29 19:19] shashishailaj commented on #37712
@jonwbstr The Data collection settings were moved to the Pricing and settings because there is a significant level of difference in data collection for free tier and standard tier of security center subscriptions. The screenshot and the instructions are surely old. We will engage with the author to have this rectified.

@rkarlin We have verified the details pointed out by @jonwbstr . The article n

[2019-08-29 19:28] ChristianMontoya commented on #37774
@josuvil: Correct, just that if we add this here, we would want to be consistent across the board for other articles containing PowerShell.

[2019-08-29 19:29] gearsmotion789 opened #38016 "Get web service Request-Response URL programtically"
I've been following the portal method of retrieving a machine learning web service request-response url through the portal, according to https://docs.microsoft.com/en-us/azure/machine-learning/studio/consume-web-services. However, I wanted to know if there was a way to do this programmatically like HTTTP requests or through Powershell cmdlets.

The format of the request-response url is like this:

[2019-08-29 19:31] iLikeAzureSQL opened #38017 "How to Copy Blob to Blob ?"
I'm stuck with a problem that need to copy blob (westus) to another blob (eastus), what's the solution for this simple task ? I'm using azcopy 10 and ADLS Gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [C

[2019-08-29 19:31] arefinsami opened #38018 "How long does it take to make the newly uploaded blob file be available to all CDN locations?"
Assume its a new file. The file No two file in the container has the same name. When I upload this file, how long does it take to make the newly uploaded blob file be available to all CDN locations? I guess it doesn't happen instantly. So what is the exact about of time? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-08-29 19:34] mdgattuso commented on #38018
we don't proactively push new files to the CDN when they're uploaded. When a request hits a CDN PoP, the CDN checks it's cache to serve the content, if the content is not there or it's TTL is expired it goes and pulls the content from the origin, then caches it and serves it.

[2019-08-29 19:36] shashishailaj commented on #37740
Its a tentative approximation of time and we do not recommend it to be taken as an exact value yet I was not able to find the related video . If you could share the link , we can have it checked .

Thank you.

[2019-08-29 19:38] msrini-MSFT commented on #38015
I think the below snippet will answer your question. In Standard LB, if the probe is down, the TCP connections are not terminated and new connections will be terminated.

For Basic LB, if the probe is down, TCP connection and the new connection are terminated.

![image](https://user-images.githubusercontent.com/47132998/63969786-40ba6600-cac0-11e9-815f-370d0b42a642.png)

Let me know if you have an

[2019-08-29 19:42] mrbullwinkle commented on #37765
We don't provide guidance on how to create your own proxy/gateway solution. Therefore I am not 100% sure that this is what you are asking for, but if you just need App Insights to not send telemetry directly to the endpoints in Azure, but instead you want the SDK to send the telemetry directly to an existing proxy/gateway, and then you will handle forwarding the traffic on to Azure, I think you mi

[2019-08-29 19:47] msrini-MSFT commented on #38018
@arefinsami, Does that answers your question? Let me know if you have any further questions.

[2019-08-29 19:50] syndicatedshannon commented on #17715
"at or below" is misleading as it only applies to two levels; subscription and resource group. RBAC assignment by ARM template requires a different syntax:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#assign-role-to-resource

[2019-08-29 19:53] JohannBlais commented on #37765
Thanks for your answers.
We are using .NET core.
The fact is we did not manage to get the telemetry through the standard endpoints.
We assume that the http client is not using the default proxy and are struggling to somehow set it explicitly for the telemetry http client.
Any guidance you can share on explicitly setting an http proxy for the telemetry client from code?

Télécharger Outlook pour An

[2019-08-29 20:07] syndicatedshannon commented on #27254
related: #17715

This causes grief in a few ways. One is that the documentation is misleading:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/deploy-to-subscription#assign-role-at-scope
It says "at or below", which is not technically correct. The following document is correct, but they exist it two separate "how to" guide, and one wouldn't expect to have to read both for the same fa

[2019-08-29 20:07] mrbullwinkle commented on #37765
I believe if you have a machine-wide proxy set App Insights should automatically pickup those settings and use them. Adding @cijothomas to confirm.

[2019-08-29 20:20] drdamour opened #38021 "mention slots"
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots links over to this page, but this page doesn't mention slots directly.  It'd be great if it discussed how to restrict specific slots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b396

[2019-08-29 20:24] juongithub opened #38023 "Specifications should be provided on what "occasionally" and "brief period" mean"
The following sentence taken from this article scares me:
Occasionally, load balancing automatically [...] The database remains online during load balancing except for a brief period at the end of the operation when connections are dropped.

Specifications should be provided on what "occasionally" and "brief period" mean (apart from the obvious semantic meaning).

---
#### Document Details

⚠ *Do

[2019-08-29 20:25] erikadoyle commented on #24030
The POA link currently points to https://github.com/microsoft/Service-Fabric-POA/releases/tag/v1.4.1, released 6/14/2019. Feel free to reopen if you are still experiencing issues with the latest version.

#please-close

[2019-08-29 20:25] #24030 closed

[2019-08-29 20:33] lgayhardt commented on #24769
Hi @imeya

Here is the link to the template: https://docs.microsoft.com/azure/azure-monitor/platform/alerts-metric-create-templates#template-for-a-availability-test-along-with-availability-test-alert

A few months ago we split up the availability docs into multiple so the link to the template was added to [Availability alerts](https://docs.microsoft.com/azure/azure-monitor/app/availability-alerts#

[2019-08-29 20:33] syndicatedshannon opened #38024 ""at or below" is incorrect"
The text above says "The scope must be at or below the level of deployment." That is incorrect or misleading. Scope can only be assigned "below" to a resource group, and nothing else. See for details:
https://github.com/MicrosoftDocs/azure-docs/issues/27254

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fcea54-677c-d

[2019-08-29 20:33] #24769 closed

[2019-08-29 20:37] msmbaldwin commented on #32521
Hi, @WhitWaldo, @mattsmall1972: We've completely overhauled this quickstart.  Although we still use the Azure CLI to create the resource group, key vault, and set key vault policies, setting and retrieving the secret is done via the .NET code found [here](https://github.com/Azure-Samples/key-vault-dotnet-core-quickstart/tree/master/akvdotnet). If you have feedback on the new quickstart you can pro

[2019-08-29 20:37] #32521 closed

[2019-08-29 20:39] cijothomas commented on #37765
https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/441

[2019-08-29 20:46] IEvangelist commented on #38010
Hi @YutongTie-MSFT and @SpicySyntax,

Thank you for the idea and reaching out. I think that is an interesting addition to the doc. I'll have to consider it and prioritize accordingly. I'll report back when I hear from the containers PM, thanks again.

[2019-08-29 20:51] arefinsami commented on #38018
Thank you very much for the quick response. That answers my question.

[2019-08-29 20:51] #38018 closed

[2019-08-29 21:07] CeciAc opened #38025 "Update "Where is the data held?""
**The comment below was machine translated:**

@4416km commented on [Wed Aug 28 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2768)
 In this document, "In the USA, Europe or Southeast Asia. You can select the location when you create a new Application Insights resource."

However, at present, it is possible to expand to many regions such as Eastern Japan and Eastern Australia. Ple

[2019-08-29 21:08] erikadoyle commented on #29051
Hi @santo2 , did the latest replies here satisfy the questions you had?

[2019-08-29 21:09] CeciAc commented on #38025
Hi team,
I moved this issue here because the suggestion applies to original documentation
best regards

[2019-08-29 21:14] JohannBlais commented on #37765
So if I get you correctly, the reflection hack should do the trick.
We'll try that out and get back to you.

Thanks a lot

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Cijo Thomas <notifications@github.com>
Sent: Thursday, August 29, 2019 10:39:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Johann Blais <blais_johann@hotmai

[2019-08-29 21:15] Heidilohr commented on #37774
Hi @josuvil, thanks for bringing this to our attention. I've made the change and am now closing this issue. #please-close

[2019-08-29 21:15] #37774 closed

[2019-08-29 21:33] msundbakken commented on #37952
It appears the documentation is correct and the schema is incorrect. The schema highlights issues within the Visual Studio editor but is not enforced when publishing or running.

[2019-08-29 21:51] baumatron opened #38028 "How do I get query execution metrics in node using the mongodb API?"
How do I get query execution metrics in node using the mongodb API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5108574a-cc34-22e6-1bf8-9ea50264ea4f
* Version Independent ID: 29d8f8d8-3e26-a10e-0893-a507456b3477
* Content: [SQL query metrics for Azure Cosmos DB SQL API](https://docs.microsoft.com/en-us/azure/cosmos-

[2019-08-29 21:52] jeevansd commented on #37983
@chetansriv and @v-nagta Can you please fix this? This is a valid feedback.

[2019-08-29 22:03] omerzubair opened #38029 "Cannot see steps to create a user-assigned identity before adding"
Hi Team,
In Step #3 "Click the user-assigned identity you want to add to the VM and then click Add."
When I click Add i do not see anything listed. How get the User-Assigned Managed identity created at first place to be listed in the Add Screen (step#3).
Sorry about ignorance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-29 22:14] sawatsky opened #38030 "Get Custom Output of the Invoked Pipeline"
During the execution of the invoked pipeline, I capture some information in a variable using the SetVariable activity. I would like to be able to read that value from the master pipeline.

I know that the master pipeline can read the invoked pipeline's name and runId from the ExecutePipeline activity using "@activity('InvokedPipeline').output," but those are the only properties available. I can al

[2019-08-29 22:16] cawrites commented on #37740
@marcelodiiorio I am unable to find a video link associated with this page.  Any process timing given should always be considered as an approximation. The timing is based on a  range and should be treated as such.

[2019-08-29 22:20] seantleonard opened #38031 "Irrelevant Step for Create Azure Blob Storage"
Hello,

With current portal interface, blob storage setup does not have reference to what is configured in step 6) Storage service encryption can remain Disabled. I do not see that as an option. However, under the advanced config page when create the storage service, there is a security section with the option "Security Transfer Required" which enforces HTTPS connections. Was this what was referre

[2019-08-29 22:23] omerzubair opened #38032 "User assigned managed identities questions"
Hi Team,

Just a doco update:

- The page says "User assigned managed identities are a preview feature". Looking at portal it is not in preview anymore.

cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5fbecf3-c97e-726d-4027-cecbe4c4fea0
* Version Independent ID: 879f2698-8f35-fd6f-dd40-8e6a2fbfc51e
* Content: [

[2019-08-29 22:40] alexkarcher-msft commented on #37844
This will be resolved in the next doc publish with PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/87040

I've updated the private site access section to include consumption, and added a short description of how to access service endpoints in the portal.

[2019-08-29 22:45] test123114 commented on #37917
According to my test, now I cannot validate Microsoft graph api access token with my code.

[2019-08-29 22:54] femsulu commented on #31198
adding @raynew to assist.

[2019-08-29 22:54] NavtejSaini-MSFT commented on #38023
@juongithub Thanks for the feedback and we are assigning this case to doc author for further clarification.

@oslake Can you please help with users question and update if required.

[2019-08-29 22:55] femsulu commented on #31199
adding @rayne-wiselman to assist.

[2019-08-29 22:55] femsulu commented on #31863
adding @rayne-wiselman to assist.

[2019-08-29 22:56] femsulu commented on #31921
adding @rayne-wiselman to assist.

[2019-08-29 23:00] Alberto-Vega-MSFT commented on #38016
@gearsmotion789 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-29 23:10] balag0 commented on #28809
Fixed by https://github.com/Azure/Azure-Functions/issues/1200

[2019-08-29 23:10] #28809 closed

[2019-08-29 23:10] camoisan opened #38033 "TwitterWPFClient.zip Deprecated"
Steps involving TwitterWFPClient.zip are out of date.
TwitterWPFClient.zip has been deprecated and should be replaced with:
https://github.com/Azure/azure-stream-analytics/tree/master/DataGenerators/TwitterClientCore

New instructions will have to be written for the TwitterClientCore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-29 23:11] femsulu commented on #38024
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-29 23:11] tamram commented on #37920
#reassign: @tamram

[2019-08-29 23:14] femsulu commented on #38014
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-29 23:24] femsulu commented on #37645
@tomkodet, sorry for the delay here. I tried reproducing your reported issue but didn't get the false positives you called out. If this issue persists, I recommend engaging our technical support channel using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, please send mail to AzCommunity@microsoft.co

[2019-08-29 23:24] #37645 closed

[2019-08-29 23:36] Mike-Ubezzi-MSFT commented on #38028
@baumatron Thank you for your inquiry. We are investigating this and will update you when we have additional information.

[2019-08-29 23:43] TheRealStriff opened #38034 "Unable to query via Powershell?"
We've tested this, and made a custom query.
Targeting groups that contain the name "Test" either in the email or group name had to do this manually as doesn;t look like you can script this.

But running powershell we do not get any results.
PS C:\WINDOWS\system32&gt; Get-AzureADMSGroupLifecyclePolicy
Get-AzureADMSGroupLifecyclePolicy : Object reference not set to an instance of an object

Document

[2019-08-29 23:45] danielstocker commented on #36458
Hi @ggirard07,

No problem. Let me summarise.
This came up initially because our documentation states that WEBSITE_CONTENTSHARE is required. (see here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#windows)

If we export a Functions template from the Marketplace (export template on the last page) we get WEBSITE_CONTENTSHARE as a standard app setting. If we

[2019-08-29 23:51] benjamin-goldman commented on #34978
not having this makes runbooks almost unusable folks....

[2019-08-29 23:54] russcam commented on #37958
Just ran a new staged deployment, and the `startAddress` returned for a new subnet is now `10.0.0.0` (assuming new subnet address prefix `10.0.0.0/25`), instead of `10.0.0.1`. This is the Network address so still a reserved address.

[2019-08-29 23:56] santiagobando opened #38035 "Cannot find options to add permissions to Azure SQL Database API"
![Pantallazo1](https://user-images.githubusercontent.com/54691380/63983958-ac83db00-ca8e-11e9-864f-6b0cbd38d6a4.PNG)
![Pantallazo2](https://user-images.githubusercontent.com/54691380/63983959-ac83db00-ca8e-11e9-9f75-c695e5ba0658.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
*

[2019-08-30 00:04] Grace-MacJones-MSFT commented on #38021
Hi @drdamour, Thanks for your feedback! We will review and update this doc accordingly.

[2019-08-30 00:08] dcbrown16 commented on #32725
@TravisCragg-MSFT @malopmsft @kumud can anyone respond to this issue? The lack of clarity about how 168.63.129.16 and 169.254.169.254 are actually permitted (through one or both of the default inbound allow rules, or implicitly?) is still causing support confusion.

[2019-08-30 00:20] markgzhou opened #38037 "Question about data integrity"
Hello Azure experts,
 I have a question about Copy Activity in Azure Data Factory(ADF).
 Currently, I copy parquet files between two different Azure Data Lake Storage Gen2 containers using ADF copy. How does  ADF confirm the data integrity during this process? Do we need to implement some kind of checksum verification (MD5/SHA?) to ensure that the file copied  has the same content as the source fi

[2019-08-30 00:28] tamram commented on #37920
@PaulStubbs - Thanks for pointing this out. I have updated the screenshot. The changes should be published in the next day or so.

#please-close

[2019-08-30 00:28] #37920 closed

[2019-08-30 00:39] thi-baut opened #38038 "Revocation of certificates"
What would be the right way to check for certificate revocation at application authentication time, for instance if an application is trying to authenticate with a certificate revoked (or expired) by our internal CA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independe

[2019-08-30 00:49] cometta commented on #29971
+ 1 for this feature

[2019-08-30 00:56] femsulu commented on #37811
Don't hesitate to ping if you need any further help. we will close this issue but look fwd to your update.

Cheers.

[2019-08-30 00:56] #37811 closed

[2019-08-30 00:59] femsulu commented on #37772
Thanks for catching this. A PR has been successfully initiated to resolve the typo. this will be live shortly.

[2019-08-30 00:59] #37772 closed

[2019-08-30 01:17] mandiaya commented on #17348
Hi Jeevansd, Nice to talk with you. Do you know how long will this add-on upgrade? Since we want to upgrade confluence to 6.15.8.

[2019-08-30 01:19] mandiaya commented on #9304
Please advise when support for Confluence 6.15.8 will be available.

[2019-08-30 01:48] Kirlac opened #38040 "Missing documentation for status attributes"
The documentation states

However there doesn't appear to be a link to any reference documentation regarding these status attributes. In the example, the request charge is being cast as a double:
[code]
How do we know to cast this specific attribute as `double`? What about the other attributes in the collection (eg. "x-ms-status-code" or "x-ms-retry-after-ms")? Are any of these attributes document

[2019-08-30 01:52] dcbrown16 opened #38041 "Allow Azure Services default"
Did we just have a specification change to make Allow Azure Services off by default? The more recently updated doc below says it is off.
"During creation of a new Azure SQL Server from Azure portal, this setting is left unchecked."
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-networkaccess-overview#allow-azure-services

That directly contradicts the info here.
"By default, acce

[2019-08-30 01:53] mandiaya opened #38042 "How long will this Add-on compatible with jira 8.2.4 version?"
How long will this Add-on compatible with jira 8.2.4 version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory integration with JIRA SAML SSO by Microsoft](https://docs.microsof

[2019-08-30 01:55] mandiaya opened #38043 "compatible confluence 6.15.8"
Please advise when support for Confluence 6.15.8 will be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45acbc6-caae-be6c-939e-55451831d03e
* Version Independent ID: 0d88f4ee-2ac5-1ad4-245b-b8c0752a7303
* Content: [Tutorial: Azure Active Directory integration with Confluence SAML SSO by Microsoft](https://d

[2019-08-30 02:09] petehe opened #38044 "app registration with app services"
[Enter feedback here]
I can't seem find how the app registration you have done for api and client application related to the actual app services that is running in Azure, can you point it out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e93

[2019-08-30 02:27] DixitArora-MSFT commented on #38044
Hi @petehe Thank you for your feedback! We will review and update as appropriate.

[2019-08-30 02:29] jeevansd commented on #17348
We have tested 6.15 major version. So the new plugin should work here.

[2019-08-30 02:33] mandiaya commented on #17348
Hi Jeevansd, you mean, you have tested confluence with 6.15.8, and it works well, right?

[2019-08-30 02:37] ryandle opened #38046 "az ad sp create-for-rbac no longer has '--password' option"
The command no longer has a `--password` option, perhaps it is now `--sdk-auth`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Content: [Service-to-service authentication to Azure Key Vault using .NET](https://docs.mi

[2019-08-30 02:37] Karishma-Tiwari-MSFT commented on #37874
@okuniyas There shouldn't be any restriction to create the AAD tenant in the same region as AROs supported regions as Azure AD is global. Let me know if you tried and it did not work for you.

[2019-08-30 02:42] jeevansd commented on #17348
@mandiaya we have tested the version 6.15 but not that specific one 6.15.8 but that should work.

I will get this particular build tested next week.

[2019-08-30 02:48] mandiaya commented on #17348
Hi Jeevansd, Thanks for your reply!! Could you please let me know, after you test this add on with 6.15.8?  I will be very grateful! Since we plan to upgrade out confluence to 6.15.8.

[2019-08-30 02:53] mandiaya commented on #17348
And I have another issue need your help. Since we uprated jira to 8.2.4. And the SSO for jira add-on is incompatible with this jira version. Do you know the time line will this add on compatible with jira 8.2.4?

[2019-08-30 02:54] rockboyfor opened #38047 "duplicate the .rvice-fabric-patterns-networking.md) in Next steps"
There is a duplicated contents of  .rvice-fabric-patterns-networking.md) in the paragraph of Next steps section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f578598-f4d6-20a3-dc34-5a3a16cbe0f4
* Version Independent ID: f90b5119-829f-e29d-b5b0-b452c597a760
* Content: [Create an Azure Load Balancer rule for a cluster

[2019-08-30 02:57] lucasmaj commented on #32362
Any reason why this document here that is titled "Differences between Service Fabric on Linux and Windows" would not have this difference mentioned? Thanks for mentioning the disparity in another doc here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concepts-scalability#choosing-a-platform Are there any other docs that have SF Windows vs Linux differences stashed away like

[2019-08-30 03:09] ram-msft commented on #37760
@wwlpublish We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 03:09] #37760 closed

[2019-08-30 03:17] rwike77 commented on #33008
@SaurabhSharma-MSFT could you re-open this issue?  I don't seem able to do that, thanks.

[2019-08-30 03:35] ram-msft commented on #37860
@ChrCoello If you're deploying with SSL enabled then 443 will already be open. Please share your score.py to check.
The code below is what normally use for reading data file in blob storages. Basically, you can use blob’s url along with sas token and use a request method.
-- Python code below --
import requests
from azure.storage.blob import BlockBlobService, BlobPermissions
from azure.storage.blo

[2019-08-30 03:37] Erikcperkins opened #38048 "AzureAD/User"
After migrating a user from an Active Directory Synced user to a Azure AD cloud user; then Azure AD Joining a device; then signing in with that user and running the command whoami in cmd, I get domain/user.

When I create a new user(cloud native) in Azure AD and preform the same azure ad join process as above, I run the whoami in cmd, and I get AzureAD/user.

Which is the desired state, and how do

[2019-08-30 03:40] elafnitzegger opened #38049 "Errors after "modify your project" step"
After making required changes up through "Modify your project"."Modify ASP.NET", I am receiving the following error:
TypeLoadException: Could not load type 'Microsoft.Azure.Services.AppAuthentication.SqlAppAuthenticationProvider' from assembly 'Microsoft.Azure.Services.AppAuthentication'. Any guidance would be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-08-30 04:17] SumanthMarigowda-MSFT commented on #38017
@iLikeAzureSQL Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-30 04:20] CHEEKATLAPRADEEP-MSFT commented on #38033
@camoisan Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you please review and update the document?

[2019-08-30 04:23] SnehaAgrawal-MSFT commented on #38049
@elafnitzegger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-30 04:23] CHEEKATLAPRADEEP-MSFT commented on #37974
@canberra2002  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-30 04:23] #37974 closed

[2019-08-30 04:31] kieronlanning commented on #37967
@jakaruna-MSFT Hi! I've done all that, and it's fine for the main components - but when it launches the HTTP Solver pod, it launches it on the first available node - which in my case was (repeatedly) a Windows node.

I ended up tainting all the Windows nodes so it could successfully launch.

[2019-08-30 04:46] ManojReddy-MSFT commented on #38029
@omerzubair You can follow the steps listed [here ](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-portal)to create a user-managed identity. Post that you should be able to see it when you select +add while following this tutorial.

[2019-08-30 04:47] DixitArora-MSFT commented on #37965
@spelluru Any updates on this ?

[2019-08-30 04:53] neeleshray-msft commented on #38032
@omerzubair Thanks for the feedback! We shall evaluate and update the doc as appropriate.

[2019-08-30 04:53] russcam commented on #37958
Just ran another staged deployment, and the `startAddress` returned for a new subnet is now `10.0.0.1`  again (assuming new subnet address prefix `10.0.0.0/25`). In addition, the ability to pick an existing vnet has disappeared 😐

[2019-08-30 04:53] neeleshray-msft commented on #38032
@MarkusVi Marcus, could this be verified and changed ?

[2019-08-30 04:55] neeleshray-msft commented on #38034
@TheRealStriff  Thank you for your query. We will investigate and update the thread.

[2019-08-30 04:56] neeleshray-msft commented on #38042
@mandiaya Thank you for your query. We will investigate and update the thread.

[2019-08-30 04:57] neeleshray-msft commented on #38043
@mandiaya  Thank you for your query. We will check and update the thread.

[2019-08-30 04:58] neeleshray-msft commented on #38043
@jeevansd Jeevan, Could you check on the availability of support for Confluence 6.15.8 ?

[2019-08-30 05:00] neeleshray-msft commented on #38038
@thi-baut  Thank you for your query. We will investigate and update the thread.

[2019-08-30 05:01] neeleshray-msft commented on #38048
@Erikcperkins  Thank you for your query. We will investigate and update the thread.

[2019-08-30 05:09] jakaruna-MSFT commented on #36875
@theheatDK Did you got a chance to look at the aanandr comment

[2019-08-30 05:11] neeleshray-msft commented on #38046
@ryandle Thank you for your query. We will investigate and update the thread.

[2019-08-30 05:13] KetanChawda-MSFT commented on #37771
@Djongov Apologies for delay in response. The [repo](https://github.com/Azure-Samples/storage-blob-upload-from-webapp) you are trying to deploy is basically for the Image resizer web app which was explained in [this](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet) tutorial and also mentioned in the prerequisites section of the [document](https://docs

[2019-08-30 05:13] #37771 closed

[2019-08-30 05:14] jakaruna-MSFT commented on #37842
@robinho81 the document which you followed deploys AKS uses kubenet.
You need to provision a cluster in A VNET with CNI.
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni this document will help you to provision a cluster in vnet with CNI.  In this methos pods gets ip from the subnet.  Then if you deploy ACI in the Vnet, They can speak with the pods.  You can also deploy services with

[2019-08-30 05:16] jakaruna-MSFT commented on #37967
@kieronlanning Thanks. Got it.

[2019-08-30 05:19] DixitArora-MSFT commented on #37812
@gpduck In .NET functions, you typically bind to DurableOrchestrationClient, which gives you full access to all client APIs supported by Durable Functions. In JavaScript, the same APIs are exposed by the DurableOrchestrationClient object returned from getClient.  For more information , refer to doc https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings#client-usa

[2019-08-30 05:20] jakaruna-MSFT commented on #38047
@rockboyfor
Thanks for the feedback!  I will submit a pr to remove that

[2019-08-30 05:30] #38047 closed

[2019-08-30 05:34] kkmathigir opened #38050 "PKCE Flow"
Hi, Can you also help to understand if we can continue to use Azure AD with PKCE flow? A PKCE Sequence diagram and explanation of the same on how Azure AD support it will be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fef99ca3-72bb-2c48-a62b-9ff9c314d72b
* Version Independent ID: e58fd3a1-0af8-6e16-3d78-3dc

[2019-08-30 05:54] BhupalPatil commented on #37845
@ AshokPeddakotla-MSFT, thanks for the pointers. one more query; Is this C API compatible with Ingenico  Telium 2 OS?

[2019-08-30 06:01] axelgMS opened #38051 "Adding Powershell cmdlets"
That page mentions CLI and PowerShell - but only gives CLI commands to enable LAD extension.
Here's a PowerShell command that works for ARM VMs:

Get-AzureRmVM -ResourceGroupName &lt;RGName&gt; -VMName &lt;VMName&gt;
Set-AzureRmVMExtension -ExtensionType LinuxDiagnostic -Publisher Microsoft.Azure.Diagnostics -ResourceGroupName &lt;RGName&gt; -VMName &lt;VMName&gt; -Location &lt;Location&gt; -Name

[2019-08-30 06:04] lunar87 opened #38052 "Incorrect log queries incorrectd"
The above queries reference the column OperationName, it should be OperationNameValue
e.g. OperationNameValue startswith "Microsoft.Authorization/roleAssignments/write"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2dd574-5848-fdf7-66e3-443064901b0b
* Version Independent ID: 92d25a8d-1ef6-5908-901c-a77a407683b2
* Co

[2019-08-30 06:05] ram-msft commented on #37832
@kishan19 Currently this feature is not available to change to Windows OS on AML Compute. You can also raise a user voice request [here ](https://feedback.azure.com/forums/257792-machine-learning) so the community can vote and provide their feedback, the product team then checks this feedback and implements the feature in future releases.

[2019-08-30 06:08] ikflc opened #38053 "unable to create a cosmos db account with session consistency in 2 different regions using the example on this page."
az cosmosdb create --name mycosmosdbaccount --resource-group myResourceGroup --kind GlobalDocumentDB --default-consistency-level Session --locations regionName=EastUS failoverPriority=0 isZoneRedundant=False  --locations regionName=WestUS failoverPriority=1 isZoneRedundant=False --enable-multiple-write-locations false

usage: az cosmosdb create [-h] [--verbose] [--debug]

[2019-08-30 06:11] KalyanChanumolu-MSFT commented on #37998
@aloneguid Here is a code sample for the same.

[code]

You can find more samples [here](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/CodeSamples)

Do let us know if you have any further questions.

[2019-08-30 06:12] ikflc opened #38054 "List account keys - command example is incorrect."
The following example is not correct.
az cosmosdb keys list \
   --name  mycosmosdbaccount \
   --resource-group myResourceGroup

It should be
az cosmosdb list-keys  \
   --name  mycosmosdbaccount \
   --resource-group myResourceGroup

Is the command parameter has anything to do with different release of Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-30 06:18] KrishnaG-MSFT commented on #38052
@lunar87 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-08-30 06:23] ChiragMishra-MSFT commented on #37955
@toenie23 Thanks for bringing this to our notice. You are right, the screenshot is not up-to-date. We are working on fixing the doc.

Meanwhile, to get you unblocked, if you are following the tutorial, please feel free to fill the fields for Filter by last modified - Start time and End time as shown in the below screenshot :
![image](https://user-images.githubusercontent.com/43365826/63997569-81e0

[2019-08-30 06:23] RohitMungi-MSFT commented on #37972
@Bhogayata-Keval The error format details are mentioned [here ](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer#error)in the the API page.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 06:24] #37972 closed

[2019-08-30 06:32] KalyanChanumolu-MSFT commented on #38054
@ikflc Thank you for reaching out.
The command az cosmosdb list-keys has been deprecated and will be removed in a future release.
Please use 'cosmosdb keys list' instead.

You can run the below command to check the CLI version you are using
`az --version `

The current version of the Azure CLI is 2.0.72
The installation instructions for the latest version are [here](https://docs.microsoft.com/en-u

[2019-08-30 06:38] markjbrown commented on #38053
How many characters is the account name for your cosmos account you're trying to create?

[2019-08-30 06:38] AshokPeddakotla-MSFT commented on #37845
@BhupalPatil Please open an issue on the same repo to get an answer for your followup question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 06:38] #37845 closed

[2019-08-30 06:47] aquibqureshi26 opened #38055 "Outbound TCP Idle timout is now possible"
Hi Team,
I know you've mentioned in the notes at the start of the Document that for new methods are present for outbound connectivity and flows. But in the below document i can find there are outdated topic still present which lead to confusion.

in the section "**Modify the application to use less aggressive retry logic**"

You've mentioned "_Ephemeral ports have a 4-minute idle timeout (not adju

[2019-08-30 06:48] ikflc commented on #38053
Hi Mark,

These are the examples.

--enable-multiple-write-locations
usage: az cosmosdb create [-h] [--verbose] [--debug]
                          [--output {json,jsonc,table,tsv,yaml,none}]
                          [--query JMESPATH] --resource-group
                          RESOURCE_GROUP_NAME --name ACCOUNT_NAME
                          [--locations LOCATIONS [LOCATIONS ...]]

[2019-08-30 06:50] jlee-vi opened #38056 "Health Monitoring Link Broken"
Hello team,

The health monitoring link is configured as: https://docs.microsoft.com/en-au/azure/active-directory/hybrid/whatis-hybrid-identity-health

However this page does not appear to exist. Instead, the page that loads is: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-hybrid-identity

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for d

[2019-08-30 06:50] WhitWaldo commented on #32521
@msmbaldwin Looks far better - thank you for the quick turnaround.

[2019-08-30 06:55] robinho81 commented on #37842
Thanks for the answer, then it makes sense why they are unable to see each other. I will try to provision a cluster with CNI.

[2019-08-30 06:55] #37842 closed

[2019-08-30 07:21] EliasKnutsson commented on #37701
@Karishma-Tiwari-MSFT

Ok! Thanks for the help.

//Elias

[2019-08-30 07:36] qetza commented on #35767
Just got this error code also while trying to execute a databricks notebook activity. The activity ran for 5.4 minutes although the timeout is set to 30 minutes.

Any news on what the issue is?

[2019-08-30 07:37] SadiqhAhmed-MSFT commented on #37747
@dcbrown16 Closing this for now. Feel free to reopen if you've any concerns in this regard.

[2019-08-30 07:37] #37747 closed

[2019-08-30 07:41] test123114 opened #38057 "cannot generate SAS url with java sdk"
[Enter feedback here]
I use the java SDK to create a SAS URL for my blob. But when I use it to download blob, I get an error:
[code]
Code :
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Content: [Grant limited

[2019-08-30 07:43] ToMakeSense opened #38058 "The “ConnectionStrings” part of “Local settings file” section is inaccurate"
The current description is:

![image](https://user-images.githubusercontent.com/6244148/64002758-65a0ee80-cb3d-11e9-8acd-80e6cc85c792.png)

Regarding **"you should store the connection string value with your other connections in Application Settings in the portal"**, It's best to give a little explanation on the details, such as adding a reference, you can find it here: [Connection string prefixes

[2019-08-30 07:52] A141135 commented on #37037
I'm facing the same issue as @cageman007. Unable to use service endpoints as I don't have write permission on the VNet I want to connect. How should this be managed?

[2019-08-30 07:56] ManojReddy-MSFT commented on #38031
@seantleonard I have updated the doc with the correct steps and it will be updated shortly. Thanks for reporting this.

[2019-08-30 08:02] chrisfowles commented on #24194
Hey @MarileeTurscak-MSFT

Sorry to zombie this thread but the article you linked is for enabling Azure AD accounts to auth users to GSuite - which is the opposite way around of what we're trying to achieve using Google Federation (we want GSuite identities to authenticate users to Azure).

Can we assume then that this means there is no way to use G Suite accounts (non-gmail) to authenticate to Azu

[2019-08-30 08:03] ram-msft commented on #37872
@paconovellino we are able to execute this faceDetection.rb after updating the region and key successfully, this may be intermittent issue, please check.

[2019-08-30 08:09] KalyanChanumolu-MSFT commented on #38041
@dcbrown16 Thank you for bringing this to our notice. We are actively investigating and will get this addressed soon.

[2019-08-30 08:12] RohitMungi-MSFT commented on #38016
@gearsmotion789 Currently there is no option to get the URL of the web service from a powershell  command. The URL can be copied from the webpage after it is created from the studio. [Get-AzMlWebService](https://docs.microsoft.com/en-us/powershell/module/az.machinelearning/get-azmlwebservice?view=azps-2.6.0) is available but the URL of the web service is not returned.

[2019-08-30 08:15] msrini-MSFT commented on #38055
@aquibqureshi26 , We will investigate and get back to you shortly.

[2019-08-30 08:19] KalyanChanumolu-MSFT commented on #38041
@VanMSFT Could you please confirm if the highlighted text on the doc can be removed?

[2019-08-30 08:29] #21659 closed

[2019-08-30 08:29] #36852 closed

[2019-08-30 08:29] #22568 closed

[2019-08-30 08:35] ChrCoello commented on #37860
@AI586 @ram-msft Thanks both. Indeed as you mentioned @ram-msft , I can use the blob’s url along with sas token and use a request method, and don't need to bother about opening ports. Discovered that after posting here.

[2019-08-30 08:35] #37860 closed

[2019-08-30 08:52] KalyanChanumolu-MSFT commented on #38053
@ikflc Are you running this from the "Try It" experience on the documentation page or from your machine?

I used the "Try It" to launch Azure Cloud Shell, tried the exact same command that you posted and was able to create without any issues.

`az cosmosdb create --name kachanumtest --resource-group kachanum-databases --kind GlobalDocumentDB --default-consistency-level Session --locations regionNa

[2019-08-30 08:58] SumanthMarigowda-MSFT commented on #37795
@karlochacon
If you have selected Volume type "all" during the encryption, any new disk should automatically encrypted. Try to restart the VM after adding the new disk and check the for the status.

For more information, How to Enable disk encryption on [Data disk](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows)

One thing to check first: After attaching a n

[2019-08-30 09:07] Jayesh040 commented on #37991
Hi @mike-urnun-msft  do we have any lead on this ?

[2019-08-30 09:18] AshokPeddakotla-MSFT commented on #37318
@pandyamehul We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 09:18] #37318 closed

[2019-08-30 09:23] nkumar230 opened #38060 "Add Build Mechanism for CI/CD"
Hi

Can you please update the documentation to include Build Mechanism as part of CI/CD process as it would depict standard deployment mechanism.

Thanks
Naveen Thummalapenta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b977

[2019-08-30 09:23] Stanpol commented on #22674
I confirm, on Step 6 here https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger it is impossible to create new trigger run parameters. How to add them?

Can anyone check it?

[2019-08-30 09:30] rockboyfor opened #38061 "Duplicated the images reference link in the bottom of Next steps section."
Duplicated the images reference link in the bottom of Next steps section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57882c35-3894-f871-bea2-470e74f63c57
* Version Independent ID: 75dada9d-a6a5-c343-e3af-8dab59ad00cb
* Content: [Deploy a .NET app in a container to Azure Service Fabric](https://docs.microsoft.com/en

[2019-08-30 09:33] AshokPeddakotla-MSFT commented on #37739
Since PR is created and the code changes will happen after it will go live, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 09:33] #37739 closed

[2019-08-30 09:35] AshokPeddakotla-MSFT commented on #37864
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 09:35] #37864 closed

[2019-08-30 09:38] faridulhassan commented on #37927
[https://docs.mapbox.com/mapbox-gl-js/example/popup-on-click/](url)
click some of the clickable icons (image, music, glass, mask etc) on the map and see how all the times the popup set its position in the view area. Even if the markers are very near at the edge of the map area like the marker is very close to top or bottom or left or right. and then click on that marker. Just see how the popup ope

[2019-08-30 09:43] ManojReddy-MSFT commented on #38056
@jlee-vi Thanks for reporting this. I have assigned this to the author to update the doc accordingly.

[2019-08-30 09:45] CHEEKATLAPRADEEP-MSFT commented on #38030
@sawatsky  Thanks for the question! We are investigating and will update you shortly.

[2019-08-30 09:46] ChiragMishra-MSFT commented on #38030
@sawatsky

[2019-08-30 09:46] CHEEKATLAPRADEEP-MSFT commented on #38037
@markgzhou  Thanks for the question! We are investigating and will update you shortly.

[2019-08-30 09:47] karthik623521 commented on #37858
@BryanTrach-MSFT Thank you!

[2019-08-30 09:49] CHEEKATLAPRADEEP-MSFT commented on #38060
@nkumar230  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-08-30 10:09] #38030 closed

[2019-08-30 10:21] dominicbetts commented on #37584
@kudlatiger - I'm going to request that this issue is closed. Thanks for your interest in the Remote Monitoring solution accelerator. Feel free to reopen this issue or create a new one with any follow up questions.
#please-close

[2019-08-30 10:21] #37584 closed

[2019-08-30 10:22] souravmishra-msft commented on #38046
@ryandle I tested the same cmdlet:
`az login --service-principal -u <principal-id> --password <password> --tenant <tenant-id> --allow-no-subscriptions `

I could run the this command as it is using the same switches as mentioned above.

[code]

I am currently using the following Azure CLI version:

[code]
Do let us know if this is the same azure cli cmdlet you are speaking about and if this answer

[2019-08-30 10:35] cephalin commented on #25750
This content has since been added to the doc. #please-close

[2019-08-30 10:35] #25750 closed

[2019-08-30 10:36] jsancho opened #38062 "Broken link to Azure Search advanced examples"
The link in "this folder" points to https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/Search/Search.Tests/Tests/Models but it seems like the content has been moved elsewhere.

Could you please review the link?

thanks,

Jaume
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62162979-3bcf-4557-a11a-b74d7b121581

[2019-08-30 10:37] bobbytreed commented on #36366
#please-close

[2019-08-30 10:37] #36366 closed

[2019-08-30 10:38] bobbytreed commented on #36723
@zjalexander Did you say this was already resolved?

[2019-08-30 10:38] bobbytreed commented on #37198
#please-close

[2019-08-30 10:38] #37198 closed

[2019-08-30 10:39] bobbytreed commented on #37341
I agree with @KrishnaG-MSFT on the workaround.  I am working on a better Run Command tutorial.

#please-close

[2019-08-30 10:39] #37341 closed

[2019-08-30 10:39] bobbytreed commented on #37470
#please-close

[2019-08-30 10:39] #37470 closed

[2019-08-30 10:44] bobbytreed commented on #37644
I am still doing more research on this and will update when I am able. #please-close

[2019-08-30 10:44] #37644 closed

[2019-08-30 10:45] bobbytreed commented on #37681
#please-close

[2019-08-30 10:45] #37681 closed

[2019-08-30 10:46] bobbytreed commented on #37854
I have raised this up to engineering and will work on a fix, or getting it doc'd

#please-close

[2019-08-30 10:46] #37854 closed

[2019-08-30 10:49] dustynl opened #38063 "calling entities from other entities"
Hi,

I know this is not exactly an "issue", but more of a question - not sure where to ask it.
Is it possible to call an entity function  from another entity function, and if so is there a sample anywhere?

Thanks,
Dustyn

[2019-08-30 11:45] ram-msft commented on #37832
@kishan19 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 11:47] ram-msft commented on #37872
@paconovellino We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-30 11:47] #37872 closed

[2019-08-30 11:48] SumanthMarigowda-MSFT commented on #37834
@normalian Please add your comments here

[2019-08-30 11:49] SumanthMarigowda-MSFT commented on #37852
@durtal Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-30 11:57] BhargaviAnnadevara-MSFT commented on #38025
@CeciAc Thanks for the reroute! We shall evaluate and update this as appropriate.

[2019-08-30 12:07] blueelvis opened #38064 "What is the REST endpoint for exporting ARM template?"
Hi,

I see that as per this article, I have to manually click a button to download the ARM template. Could you please provide me with a REST endpoint where I can get a representation of the current state of my Data Factory as an ARM template?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-

[2019-08-30 12:11] rwatjen opened #38065 "Sample version 2 failure anomaly alert rule fails deployment"
There seems to have been made a recent change in the Azure Resource Manager when it deploys the [version 2 non-classic alert rule](https://docs.microsoft.com/en-us/azure/azure-monitor/app/proactive-arm-config#failure-anomalies-v2-non-classic-alert-rule) it fails on subsequent deploys, because it doesn't have a `location` property.

The error returned by New-AzResourceGroupDeployment is:

Simply ad

[2019-08-30 12:23] t-l-k commented on #37604
I think this should be in the body of the article as a "note", because I was scratching my head on this one also, because I was omitting the properties that are not valid for changing, but it must have been assuming defaults for the missing properties.

[2019-08-30 12:23] LarsKemmann opened #38066 "How does this work on Linux?"
My ASP.NET code won't find the X.509 certificate for SSL. It keeps failing with a null reference exception, i.e. appears to just not be able to find the certificate, regardless of how I change the `new X509Store(...)` constructor call. I'm going to go with getting the certificate from Key Vault, for the time being, but could some documentation be added to this page to describe required changes whe

[2019-08-30 12:26] t-l-k opened #38067 ""All the parameters used for creating the container group should be used again" needs to be mentioned"
Because omitting any of the ones from the section `Properties that require container delete` will cause the following error if they were originally specified on initial creation and are different from default values

[code]

Just a note: "All the parameters used for creating the container group should be used again" should be added.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-30 12:26] jakaruna-MSFT commented on #38051
@axelgMS
Thanks for the feedback! I will assign the issue to the content author to investigate further and update the document as appropriate.

[2019-08-30 12:34] jakaruna-MSFT commented on #38061
@rockboyfor
Thanks for the feedback! I will submit a PR

[2019-08-30 12:40] DarienAL opened #38068 "Timings"
I really haven't been able to find any guidance on how long this process possible takes? A small VM with just an OS disk took about 20 min a few nights ago, but we have some much larger VM with multiple 1 TB secondary disks... wondering how the time scales up, whether all disks are converted at the same time or one at a time, etc..

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-08-30 12:46] brijrajsingh opened #38069 "Web Activity Fails with 2108 error, same web request works well from Postman"
I have a web activity which calls an Azure function that expects a JSON payload and returns a JSON payload. My function is available on public endpoint and works well with header content-type-application/json and the json data in Body. While calling webactivity I get a 2108 error
{
    "errorCode": "2108",
    "message": "Error calling the endpoint. Response status code: ",
    "failureType": "Use

[2019-08-30 12:46] whaakman opened #38070 "Add Azure Resource Graph Explorer reference"
For "https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview" in the "Running your first query section". Maybe add a reference to the Azure Resource Graph Explorer as available through the Azure Portal as well? I find this a very user friendly portal to get started :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-30 12:59] DCtheGeek commented on #38070
#assign:DCtheGeek

[2019-08-30 13:02] DCtheGeek commented on #38070
@whaakman Thanks for the feedback!  This request is already on my list and hopefully will publish soon. I'll close this issue once it does. :)

@MicrosoftDocs/azure-cxp-triage Please label 'docs-enhancement' and #in-progress.

[2019-08-30 13:10] ggirard07 commented on #36458
@danielstocker definitively an important information, especially to understand how the slots and swapping are working for Functions vs a traditional webapp with webjobs.
Also this is not explained either in the [slots documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots) despite 'WEBSITE_CONTENTSHARE' playing a critical role here. There is only [a single

[2019-08-30 13:41] BhargaviAnnadevara-MSFT commented on #38035
@santiagobando Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any, and elaborate your issue so we can assist you better?