[2018-06-25 22:45] femsulu commented on #10570
@OleksaDev Need your help finding the **eventVolume** attribute in the referenced doc to help investigate further. I searched through the document and wasn't able to find the attribute that's missing a description.

[2018-06-25 22:54] DianaPutnam opened #10767 "Who has access to edit an alert on service notifications?"
Can only the person that created the service notification alert edit it or can any subscription owner edit it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d87021-31e4-29d5-fbf3-a67384ef1a66
* Version Independent ID: 88043e51-cb48-6e6b-0744-6ecad591d765
* Content: [Receive activity log alerts on Azure service notif

[2018-06-25 22:56] sergaz-msft commented on #10546
We are still getting more information around the two parameters (dist & geoBias) you reported. But here is an update:

**dist unit: meters.**

[2018-06-25 23:15] SaurabhSharma-MSFT commented on #10728
@vetrivelmp As far as I know it will not be a good idea to pass any fixed value as a State and it is recommended to use a randomly generated unique value to prevent cross-site request forgery attacks.  I think you can look into the [Azure Active Directory B2C: Custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview-custom) for your scenario, howev

[2018-06-25 23:22] BryanTrach-MSFT commented on #10758
@kevindweb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-25 23:30] femsulu commented on #10767
@DianaPutnam, thanks for the question. We are currently investigating and will get back to you soon.

[2018-06-25 23:32] divyaswarnkar commented on #9848
sort should work fine. Please share your map. You can email me at divswa@microsoft.com

[2018-06-25 23:45] SaurabhSharma-MSFT commented on #10733
@BBokdam The [Other Applications](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-conditional-access-technical-reference#other-applications) provides the application type supported by Conditional policy.
Also, can you provide me the link for app sections within Intune which you are talking about.

[2018-06-25 23:47] SaurabhSharma-MSFT commented on #10763
@rickrain Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 23:47] SaurabhSharma-MSFT commented on #10764
@rickrain Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 23:48] SaurabhSharma-MSFT commented on #10765
@rickrain Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 23:49] SaurabhSharma-MSFT commented on #10766
@rickrain Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 23:59] garrathleeds commented on #10098
Agreed, this is an issue. The values have to be as above (corrected to match your AWS).

[2018-06-26 00:01] gjustice opened #10768 "For CLI users, this note falls short for exploring the details of an error message or for setting more verbose error messages. The "az group deployment operation list" command given might be a start to getting more information but by itself it certainly does not!"
For CLI users, this note falls short for exploring the details of an error message or for setting more verbose error messages.  The "az group deployment operation list" command given might be a start to getting more information but by itself it certainly does not!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a114cf0c

[2018-06-26 00:03] femsulu commented on #10576
@akramwaseem If  you are asking what the difference is between the Alert & Alert (classic) options as shown in the screenshot below? If not, please share a screenshot of the sections and I can investigate further.
 **[Alert](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-unified-alerts#enhanced-unified-alerts-experience-public-preview)** supports the new unif

[2018-06-26 00:07] SaurabhSharma-MSFT commented on #10751
@mganeshphani Microsoft supported ADAL library is available at the link mentioned in the "Note" section at the top of the page. Here is the link for the same - [Azure Active Directory Authentication Libraries](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-libraries#microsoft-supported-client-libraries)

[2018-06-26 00:12] wesmc7777 commented on #10622
@blueelvis Thanks for catching the typo.  Regarding support for scaling down, it is simply not yet implemented. It is part of our backlog but not yet completed.

[2018-06-26 00:17] femsulu commented on #10627
@kottalovag Again, thanks for the catch. PR has been initiated to resolve the incorrect GitHub URL.  Will update once the PR is complete and fix is live.

[2018-06-26 00:25] hiraldesai opened #10769 "How to set end-to-end custom correlation parameters for SPA/dotnet core API"
Can this document be updated to include an example of how to set custom correlation in a single page application with dotnet core api with application insights enabled? Ideally, an SPA should be able to set its own "session id" for a given user session and associated custom parameters like "user id" and any other application specific parameters as necessary. Each API calls can then carry these com

[2018-06-26 00:40] cynthn commented on #10189
@celinama thank you for the feedback! Hari and I made an update to clarify that serial console is resource manager only, and does not support classic deployments. The changes should go live tomorrow morning.

#please-close

[2018-06-26 00:52] femsulu commented on #10769
@hiraldesai Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-26 00:55] femsulu commented on #10768
@gjustice Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-26 01:06] #10189 closed

[2018-06-26 01:18] mattquinn4 opened #10771 "How do you create an integration with the Speech service?"
How do you create an integration with the Speech service? Can you provide a step by step on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5337613b-c6f6-91a9-e9ee-401b61e0ba78
* Version Independent ID: e3e0d309-6640-00fc-9ac6-0d90af0e4206
* Content: [Understand data conversion concepts in LUIS - Azure](

[2018-06-26 01:30] #10622 closed

[2018-06-26 01:46] femsulu commented on #10732
@georgewallace Either works depending on what version of the module installed but does it make sense to update to **Get-AzureRmAutomationConnection** in the referenced doc?

[2018-06-26 01:52] femsulu commented on #10771
@mattquinn4 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-26 01:53] nabhishek commented on #8346
You can appends as many params as you may want! All you are doing is specifying multiple expressions and concatenating them to a single String within ADF that would be passed as an argument to the HDI Spark job.
Example: @concat('./bin/spark-submit --master examples/src/main/python/pi.py --param1 ','pipeline().parameters.param1', ' --param2 ', 'pipeline().parameters.param2')

[2018-06-26 01:58] guoch opened #10772 "makecert is not in (C:\Program Files (x86)\Windows Kits\10\bin\x86) by default"
By default in windows 10, the correct path is :\Program Files (x86)\Windows Kits\10\bin\10.0.xxxxx.x\x86. Besides, yhe latest SDK 10.0.17134.0 seems to not have the makecert, alternatively you can choose the 10.0.16299.0 sdk, the 10.0.16299.0 may depend on your sdk version you downloaded.
Another question is that, I have seen that MakeCert is deprecated from Microsoft's other document. "To create

[2018-06-26 02:11] jason-j-MSFT commented on #10581
@akramwaseem you might be looking for the sample on this page:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log-template#managing-log-alert-on-log-analytics

We are closing this issue for now but feel free to add comments as needed.

[2018-06-26 02:11] #10581 closed

[2018-06-26 02:12] #10585 closed

[2018-06-26 02:23] jason-j-MSFT commented on #10648
@JasonWHowell i've confirmed the UI looks different, could you take a look?

[2018-06-26 02:24] garethj-msft opened #10774 "Should specify servers per subscription limit and databases per server limits if any."
I expect there are some limits in these dimensions (at least the first) imposed by the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3403c322-49e6-3ff5-4c02-1f9e83bbe6cf
* Version Independent ID: 5242d7c0-2b2d-e16e-2c81-1b28477a1a84
* Content: [High availability concepts in Azure Database for PostgreSQL](http

[2018-06-26 02:31] jason-j-MSFT commented on #10620
@kazshi the query is case sensitive for the table name, try 'Perf".  However, you are correct the screenshot may be out of date.

@MGoedtel could you take a look at the screenshots in this document?

[2018-06-26 02:50] femsulu commented on #10772
@guoch Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-26 04:30] vzayko commented on #10689
@SaurabhSharma-MSFT thanks for the answer but I don't think OAuth helps in such scenario. Let say I have a SPA with anonymous access. This SPA uses your Azure Maps JS API which is protected by secret key only. Anyone could get my script, discover the key and use it in his very own apps but I will pay for it. IMHO good option would be to allow Azure Maps customers to specify on the Azure portal a n

[2018-06-26 04:38] vetrivelmp commented on #10728
I assigned random value to state query param and I called B2C Authorize endpoint. B2C end point will call my custom identity server authorize endpoint. if i see state query param in custom identity server, this is totally different than what i sent from my application to B2C. Is there a way to do send same value to custom identity server from B2C?

[2018-06-26 04:45] CRGemmill opened #10778 "SMS Notification"
Would be nice to see a warning in the user portal next to the "Text message to phone" option, or the current variation of that option, which notifies the user about: "Two-way SMS is deprecated and not supported after November 14, 2018."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e

[2018-06-26 04:47] uma075 opened #10779 "Not creating SetupAdminUser"
I tried this article and each time when I deploy the application and check for the SP explorer, it fails and showing exception.
Error event: SourceId='System.Hosting', Property='CodePackageActivation:Code:SetupEntryPoint'. There was an error during CodePackage activation.The service host terminated with exit code:1
I spend a full day to troubleshoot the issue and finally found that the SetupAdminU

[2018-06-26 04:53] rudeGit opened #10780 "Incoming Messages (preview) - Count vs Sum"
I am trying to wrap my head around the Count and Sum metric units for Incoming Messages (preview) metric name. Can you please provide an example for how the Count graph differs from Sum graph over a given period (say 7 days) for the above metric name assuming that we have 1 incoming message a minute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-06-26 04:56] MicahMcKittrick-MSFT commented on #10645
I will close this out but if you feel you need more information please just let me know.

[2018-06-26 04:57] rudeGit opened #10781 "Difference between Incoming Messages metric name vs Incoming Messages (Preview)"
I see that there are 3 Incoming Messages metric names, namely "Incoming Messages", "Incoming Messages (Preview)" and "Incoming Messages (Deprecated)". How each differs from the others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234dca79-9576-7bfb-644a-ef486c9ca2f6
* Version Independent ID: a4d50a1a-4978-1506-77b9-e

[2018-06-26 04:58] MicahMcKittrick-MSFT commented on #8898
I will close this out but if you feel you need more information please just let me know.

[2018-06-26 04:58] #8898 closed

[2018-06-26 05:31] yarozen commented on #6296
Any estimation on when this limitation of linking a private Zone to a non-empty vnet will be removed?
I understand this limitation will be removed when the feature becomes GA, but when is that expected?

Thanks!

[2018-06-26 05:32] NambiVenkatesh opened #10782 "Using Api"
How to do the same using c# code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Restrictions](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions)
* Content Sou

[2018-06-26 05:49] NambiVenkatesh opened #10783 "Using c# code"
How to read the IP list using c# code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content: [Configure Azure Storage Firewalls and Virtual Networks](https://docs.microsoft.com/en-us/azure/storage/common/storage-netwo

[2018-06-26 06:19] vikaskumawat80 commented on #10680
Web App is there in the ASE. Also, I added the custom domain in the Web App.

[2018-06-26 06:20] andrejbratukhin commented on #10546
"is there any other parameter that you see needing a better description?"©
Now I'm interesting only in these 2 parameters. I'd like to understand the meaning of dist and basically geoBias. It has not been described yet in any Microsoft's docs.

[2018-06-26 06:52] miikaeru commented on #10538
Thank you very much for the fast reply and for the additions in the documents @v-geberr . This helped a lot.

[2018-06-26 06:52] #10538 closed

[2018-06-26 07:05] romankiss commented on #10703
Thanks for prompt response.

The above document described how can be enabled a new feature of the subscription such as delivery a dead-letter to the blob storage destination.
This feature is declared by new property such as _deadLetterDestination_ in the subscription properties. As the above document mentioned, the _deadLetterDestination_ (by default) doesn't exist it, it must be turn on.

[2018-06-26 07:10] SnehaGunda commented on #10558
@AlexanderTodorovic thanks for the feedback, updated the query to remove order by for simplicity.

[2018-06-26 07:10] SnehaGunda commented on #10558
#please-close

[2018-06-26 07:16] SnehaGunda commented on #10541
#please-close

[2018-06-26 07:21] msvijayn commented on #10592
#please-close

[2018-06-26 07:21] msvijayn commented on #10590
#please-close

[2018-06-26 07:22] msvijayn commented on #10586
#please-close

[2018-06-26 07:49] flyrev commented on #10341
Any update on this?

[2018-06-26 07:53] PeteB-UK opened #10785 "Good Article - Some Issues"
Good article in general.   However, your use of the terms "Password" protection in the decision trees to refer to the Leaked Credential report is horrible - most people use the term for the use of a password (as opposed to anonymous access).

Also, in my opinion the decision trees places the "password protection / leaked credentials" feature very early (and therefore pivotally) in the decision tre

[2018-06-26 08:15] maye-msft opened #10786 "Template functions with parameters & Linked and nested templates"
I create a repo with ARM
https://github.com/maye-msft/azure-cognitive-service-demo

I have created two ways to deploy the ARM from github.

1. https://azuredeploy.net
It works fine with parameters default value of siteName and planName, but I cannot set resGrp location.

2. https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fmaye-msft%2Fazure-cognitive

[2018-06-26 08:28] Anmolgan81 commented on #8390
@tfitzmac @BryanTrach-MSFT Thanks for all your help but i never deleted any certificate except the private ones, and moved all the webapps without moving the app service certificate, and at last I moved the app service certificate and everything was working good, just have to upload the private certificate, just writing this if it can help anyone viewing this post.

[2018-06-26 08:29] Rachitgupta1994 opened #10788 "consume app proxy using client id and secret"
I have an on premise app that is exposed using the azure app proxy. The requirement is to consume that app using non interactive authentication. For normal apps, we can create another service principal, give delegated access and use it's client id and secret to get the access token non interactively.  But in this case, the token won't have any user information like upn. How will it then get conver

[2018-06-26 08:39] jalberto commented on #10719
it's the same case with k8s 1.10.x? I thought from 1.9 upstream k8s RBAC
was enabled by default

On Mon, 25 Jun 2018 at 21:40, Kevin Gibson <notifications@github.com> wrote:

[2018-06-26 08:41] CentricStraaten commented on #8369
Hi Rob,

My remark was regarding the speaker-recognition code, not the intend code.

Kind regard,
Dick van Straaten

[craft-logo]

Dick van Straaten   |   Microsoft Azure Consultant   |   Centric Software Professionals   |  Staffing Services
E-mail: dick.van.straaten@centric.eu<mailto:dick.van.straaten@centric.eu>
Phone: + 31 6 31 769 324
www.centric.eu<https://mail.centric.lan/owa/redir.aspx?SURL

[2018-06-26 09:02] 14geronimo commented on #10348
Thanks! Changes look good to me.

[2018-06-26 09:02] #10348 closed

[2018-06-26 09:24] ToMakeSense opened #10790 "ARM syntax is case-sensitive, Logic app can't bind with integration account"
The ARM template of logic app
[code]
Logic app can't bind with integration account for ARM syntax is case-sensitive.  In fact, **'/resourcegroups/'** should be **'/resourceGroups/'** in variable item **integrationAccountId**.

I spent a lot of time to find this out for the deployment ending up with success, **Azure Product team should increase the robustness of the arm syntax, This is the most bas

[2018-06-26 09:31] kamleshdelat opened #10791 "Getting 503 Service Unavailable after push"
![image](https://user-images.githubusercontent.com/4848387/41902717-c414d9c0-7951-11e8-96aa-03f685a7599a.png)

[2018-06-26 09:41] vyunev opened #10792 "azds CLI separate download"
Please make azds CLI downloadable without need to make explicit "az aks use-dev-spaces ... " command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0942d30c-145a-6d71-5557-78c6260cd9a5
* Version Independent ID: c4a399ad-bacf-8a13-4e87-2338fcf5d980
* Content: [Create a Kubernetes Node.js development environment in the

[2018-06-26 09:54] andy1012 opened #10793 "Create myGateway false"
I follow  "Managing CA Certificate Sample"  finish to Step 3.
Then  create the new device certificate  get a error
"New-CACertsEdgeDevice myGateway"

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----       2018/06/26     16:23           4765 myGateway.pfx
openssl : MAC verified OK
位於 C:\azure-iot-sdk-c\tools\CACertificates\ca-certs.p

[2018-06-26 10:01] steveculshaw opened #10795 "Clarification on the exact URL needed to call the sequence"
Can we please clarify on the exact URL needed to call the sequence for the dummies like me  :-)

In `https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-sequence#run-the-sample` it says `POST http://{host}/orchestrators/E1_HelloSequence` which I tried, and got a 404. It was only when I realised that the reference to `{host}` had to also include the `api`, i.e. https://mydurabl

[2018-06-26 10:02] lzieba91 opened #10796 "AppService 1.2 deployment issues"
Hello,

I am trying to deploy AppService 72.0.10.0 package on our Azure Stack deployment. We have problem in "Deploy AppService" (AppService.DeployCloud / SharedWorkerTierScaleSetDeploy) step. This is error message we are getting:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-de

[2018-06-26 10:30] gmsantos commented on #9983
Thanks @SaurabhSharma-MSFT
Is the ticket of this bug open for everyone access? Maybe it's good to link it here for followup if possible.

[2018-06-26 11:04] santo2 commented on #10676
Hi guys,
When filling in a TakeCount of 50, I only get 50 results, with no continuationtoken (null)
I found a property which you did not subscribe: the tableQueryOptions parameter which you can provide in the ExecuteQuerySegmentedAsync holds a property named TableQueryMaxItemCount

                TableQuerySegment<SessionHistoryEntity> tableQueryResult =
                    table.ExecuteQuerySegm

[2018-06-26 11:06] richardspitz opened #10797 "Omission: "App Service on Linux is only supported with Basic and Standard app service plans""
Under the "Limitations" section, the article states "App Service on Linux is only supported with Basic and Standard app service plans and does not have a Free or Shared tier".

The omission of the Premium or Isolated app service plans from this statement can lead to confusion.

I have just deployed a Linux Web App (App Service for Linux) into a Premium app service plan successfully, initially beli

[2018-06-26 11:18] kgeorge314 commented on #10352
Hi @ggailey777 , Apologies on taking forever to reply.

Yes that is exactly what I am looking for, I have a VS-based function app and I am building & deploying it via VSTS. I managed to get it working by following the instructions from here and adjusting to my needs. [Octopus Instructions](https://octopus.com/blog/azure-functions)

I have shared below the steps i used to get it working for my envi

[2018-06-26 11:33] FrederikLeed commented on #9304
Any updates on this? Also please supply commitment to updating the plugin accordingly with general Confluence roadmap.

[2018-06-26 11:44] FrederikLeed opened #10798 "Product version support"
Hi

Could you please provide proper version support? We are on  6.4.2 which was release on 10 October 2017

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: a45acbc6-caae-be6c-939e-55451831d03e
* Version Independent ID: 0d88f4ee-2ac5-1ad4-245b-b8c0752a7303
* Content: [Tutorial: Azure Active Directory integra

[2018-06-26 11:45] cdoidge opened #10799 "Register-AzureADPasswordProtectionForest error"
When running Register-AzureADPasswordProtectionForest -AzureCredential $cred I receive the error: Register-AzureADPasswordProtectionForest : EncryptBufferNcrypt() failed with hr=2147500037. Credentials are the same as used to register the proxy, which completed successfully

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-06-26 12:07] rlerch commented on #10571
We are planning for our web app instances to be stateless, except for the signalR related things. Would the groups be managed in the azure signalR service and the backplane would take care of sending those messages between the azure signalR service instances?

[2018-06-26 12:42] rewt commented on #10719
@neilpeterson does command line allow for creating AKS cluster in custom subnet?

[2018-06-26 12:52] jimdial commented on #9593
Thanks @mattreatMSFT #please-close

[2018-06-26 13:46] satish-kuncha commented on #10751
Is there official Java SDK  at server side for verification of the azure JWT token, Azure  ADAL seem to only support getting the token from AD

[2018-06-26 15:02] Security-Guy15 opened #10804 "PIM"
How does this tie into PIM? Will you be prompted for MFA when activating these roles? or only when the roles are activated, and you go to sign in again? or both?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content:

[2018-06-26 15:07] NeighborGeek opened #10805 "Will the Baseline policy requiring MFA for admins respect Trusted IP's configured in MFA service settings?"
In the MFA service settings, we have added our public IP (from which all traffic egresses our corporate network) to the list of Trusted IP's.  This way, admins are not required to use MFA to log in from a computer connected to our internal network.  Will this new baseline take those Trusted IP settings into account, or will it require MFA regardless of where the connection is coming from?

---
###

[2018-06-26 15:28] nvick opened #10806 "Separate credentials for Terraform"
After running `az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/${SUBSCRIPTION_ID}"` the docs state that "Your appId, password, sp_name, and tenant are returned." which is not what is returned. appId, displayName, name, password, and tenant are the current returned values. I'm not familiar enough with AD and service principals to know which value I will need for the next comm

[2018-06-26 15:29] sergaz-msft commented on #10781
Hello @rudeGit , on my portal I can only see "Incoming Messages (Preview)" can you double check if you are seeing the three of them again? If so where are you looking at? Please provide a screenshot.

![image](https://user-images.githubusercontent.com/22173500/41922924-186a07c8-795e-11e8-9cc0-8bfeb1e03a8c.png)

Thank you

[2018-06-26 15:39] StevenTCramer opened #10808 "App.config will not exist in a .net core app."
In the "Configure storage for running locally" section it states the following:
"Add the following XML to the App.config file"

yet in a .net core console application there will not be an App.config.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-0

[2018-06-26 15:59] akramwaseem commented on #10376
@MicahMcKittrick-MSFT -- haven't tried yet. give me a couple of days will get back to you.

[2018-06-26 16:08] MGoedtel commented on #10620
@jason-j-MSFT - I've updated the image(s) and the new article will be live later today.  #please-close.

[2018-06-26 16:09] omegagx opened #10809 "wrong location"
In our Azure Portal, "Conditional Access" is located under "Security" and not under "Manage", as specified above. Any ideas why that is the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [What is a basel

[2018-06-26 16:14] devwheel opened #10810 "Multiple Auth Provider problem (reopen issue above)"
It appears Twitter has removed the checkbox stated above in "Create Twitter Application" 7.  Clear the Enable Callback Locking box, and then click Update settings.  This breaks the Twitter login where I'm using multiple providers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba7-610d-8ce8-0329a45cfa2c
* Ver

[2018-06-26 16:31] #8819 closed

[2018-06-26 16:31] #10620 closed

[2018-06-26 16:32] sergaz-msft commented on #10780
Hi @rudeGit , the Average metric is the value of dividing Sum per Count metric. One important variable is also Time granularity. The best way to understand the values is by exporting the graph to excel. Examples Below:

![image](https://user-images.githubusercontent.com/22173500/41926255-b5759dc2-7966-11e8-9d8a-b469a48c3f57.png)

![image](https://user-images.githubusercontent.com/22173500/41926279

[2018-06-26 16:33] akramwaseem opened #10811 "How to find the action group value"
"actiongroup": {
                "value": "/subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/myTestGroup/providers/microsoft.insights/actiongroups/sample"

how did you found the action group value. I tried but I cannot find it in monitor section and not even on loganalytics section.

And also does the above format work. I am trying to implement it in my log analytics template but

[2018-06-26 16:33] tdykstra commented on #10808
@StevenTCramer You're right, and I'm adding a note to the doc to explain that the .NET Core instructions are incomplete.  The latest changes affecting configuration in WebJobs 3.x aren't in NuGet yet; for instructions on how to use them, see issue https://github.com/MicrosoftDocs/azure-docs/issues/10402

[2018-06-26 16:34] sergaz-msft commented on #10793
@andy1012 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-26 16:45] neilpeterson commented on #10719
@rewt yes, here are docs:

https://docs.microsoft.com/en-us/azure/aks/networking-overview#configure-networking---cli

Thanks

[2018-06-26 16:48] neilpeterson commented on #10719
@jalberto - yes it is the same with 1.10.x. With AKS, in order to deploy an RBAC enabled cluster, you will need to use the CLI or ARM template and use the proper arguments.

[2018-06-26 16:49] glitchto opened #10812 "401 Unauthorized"
Have subscribed Microsoft Azure Speech Services and Text Analytics with two different accounts. Regardless of service, key, endpoint, region, I am unable to get a valid response.

For example, official code example at https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/csharp results "401: ErrorResponseException: Operation returned an invalid status code 'Unauthori

[2018-06-26 16:55] jalberto commented on #10719
thanks!, already on it.
I suggest CLI and portal to have same defaults to avoid this kinf of
confusions

On Tue, 26 Jun 2018 at 18:48, Neil Peterson <notifications@github.com>
wrote:

[2018-06-26 16:57] neilpeterson commented on #10719
Yeah, totally agree. The engineering work is under way.

Closing for now, if you have any additional issues, please reach out.

#please-close

[2018-06-26 17:01] artisticcheese opened #10813 "Adding service fabric nodes through cluster upgrade path is not supported"
Fails with error below, stating that you need to run AddNode.ps1 first
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef649f8d-3713-55dd-03a5-471ff10bac75
* Version Independent ID: 1b2acedf-737b-7ad9-7968-673a4b81c7bd
* Content: [Add or remove nodes to a standalone Service Fabric cluster](https://docs.microsoft.

[2018-06-26 17:09] jason-j-MSFT commented on #10603
@xmark could you ask this question in the forums:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory

The forums are a better place for this kind of question, as the documentation comments are for specific changes we can make to the documentation rather than individual how-to type questions.

We are closing this issue for now but feel free to add comments.

[2018-06-26 17:09] #10603 closed

[2018-06-26 17:10] SaurabhSharma-MSFT commented on #10778
@CRGemmill Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:13] SaurabhSharma-MSFT commented on #10785
@PeteB-UK Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-26 17:14] SaurabhSharma-MSFT commented on #10788
@Rachitgupta1994 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:21] SaurabhSharma-MSFT commented on #10798
@FrederikLeed Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:21] kkampf commented on #10515
#close

[2018-06-26 17:22] SaurabhSharma-MSFT commented on #10799
@cdoidge Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:22] SaurabhSharma-MSFT commented on #10804
@Security-Guy15 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:23] SaurabhSharma-MSFT commented on #10805
@NeighborGeek Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:24] SaurabhSharma-MSFT commented on #10809
@omegagx Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:24] MohitGargMSFT commented on #10676
@santo2 Thanks for sharing, so using the property TableQueryMaxItemCount helps with your requirement. Please let me know if I can move ahead to close this issue now.

[2018-06-26 17:24] SaurabhSharma-MSFT commented on #10810
@devwheel Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 17:28] curtand commented on #7269
Hi @dreijer
Thanks for your patience. During this time, apps has a new docs owner and we're deep into a pile of writing for a new content model we're rolling out. I'll bring it to the attention of the new owner, Barbara Kess. She just joined our team and I don't know her github alias to @ her.

[2018-06-26 17:29] MohitGargMSFT commented on #10658
@zdog786 Thanks. Yes our content team continuously scan and update content of the documentation so it must be part of that exercise.

We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-26 17:29] #10658 closed

[2018-06-26 17:30] SaurabhSharma-MSFT commented on #10666
@Herman-Wu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 17:30] #10666 closed

[2018-06-26 17:30] MohitGargMSFT commented on #10674
@karlallitt We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-26 17:30] #10674 closed

[2018-06-26 17:30] SaurabhSharma-MSFT commented on #10665
@Herman-Wu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 17:30] #10665 closed

[2018-06-26 17:34] johnkemnetz commented on #10540
@femsulu , yes this change is OK (should be Location and Category, per the suggestion).

[2018-06-26 17:34] trevor-schmidt1214 commented on #10645
Hello Micah,
I have figured out a way to do accomplish this via DTL Template.

[2018-06-26 17:38] hirokib commented on #10545
#sign-off

[2018-06-26 17:42] shaneholder opened #10814 "Potentially bad form to suggest storing credentials in /etc/fstab"
It is possible to store the credentials in a secure file and import them into fstab.

//myaccountname.file.core.windows.net/mystorageshare /mnt/mymountpoint cifs credentials=/root/.credentialfile,vers=3.0,dir_mode=0777,file_mode=0777

and the credential file is a key/value pair of username,password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-06-26 17:42] rolyon commented on #10077
Hi,
The team is still working on updates to sign-ins. We’ve updated the docs to reflect what customers will see.
Thanks for the feedback.
#please-close

[2018-06-26 17:44] cgillum commented on #10795
Hi Steve. It sounds like your **host.json** file is missing the `http/routePrefix` setting which we include in the samples. You can find how we set this up in the HelloSequence sample [here](https://github.com/Azure/azure-functions-durable-extension/blob/b13ca16ff99be5b937b5db23e7459cfa150a3c5e/samples/precompiled/host.json#L2-L4).

Can you verify whether this is the cause of your issue?

[2018-06-26 17:46] curtand commented on #7269
Hi @MohitGargMSFT , can you assign this issue to @barbkess?

[2018-06-26 17:47] #10515 closed

[2018-06-26 17:51] jalberto opened #10816 "IP per service"
Is it possible to define which IP should use an specific service?

use case: I want to use an specific public IP in my app to connect to azure postgres DB service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4f3a-8b1b-1794-5566af729d16
* Content:

[2018-06-26 18:01] douglaslMS commented on #7042
@KevinXTian We have added your request to our content backlog. Thank you for the suggestion.

[2018-06-26 18:01] douglaslMS commented on #7042
#please-close

[2018-06-26 18:03] femsulu commented on #10774
@garethj-msft Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-26 18:04] #10685 closed

[2018-06-26 18:10] femsulu commented on #10782
@NambiVenkatesh good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-06-26 18:11] #10736 closed

[2018-06-26 18:13] BryanTrach-MSFT commented on #10797
@richardspitz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-26 18:19] priyamohanram commented on #10763
Thank you for your feedback! I'll check with the product team about this error code.
#in-progress

[2018-06-26 18:19] femsulu commented on #10812
@glitchto thanks for your comment. Did you pull this code snippet from an existing doc? If yes, please share the doc link so we can help investigate further.

[2018-06-26 18:19] priyamohanram commented on #10764
Thank you for your feedback! I'll check with the product team about this error code.
#in-progress

[2018-06-26 18:20] TravisCragg-MSFT commented on #10783
@NambiVenkatesh Thanks for the feedback! You will need to create a [Rest API Request](https://msdn.microsoft.com/en-us/library/azure/ee460799.aspx). The best place to ask that question will most likely be StackOverflow. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-26 18:20] priyamohanram commented on #10765
Thank you for your feedback! I'll check with the product team about this error code.
#in-progress

[2018-06-26 18:20] priyamohanram commented on #10766
Thank you for your feedback! I'll check with the product team about this error code.
#in-progress

[2018-06-26 18:22] femsulu commented on #10811
@akramwaseem Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-26 18:23] jasonfare opened #10817 "Updated PowerShell Script"
The newer versions of the AzureRm modules do not support Find-AzureRmResourceGroup.  Switching to Get-AzureRmResource has issues with blank SKU and PLAN on some objects.  This code worked for me, although it was very slow.

$group = Get-AzureRmResourceGroup -Name "ExampleGroup"
$resources = Get-AzureRmResource -ResourceGroupName $group.ResourceGroupName

foreach($r in $resources)
{
    try{

[2018-06-26 18:28] femsulu commented on #10791
@kamleshdelat can you please provide additional context on your issue? Is there a specific document you are referencing or need help with?

[2018-06-26 18:31] femsulu commented on #10790
@ToMakeSense Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-26 18:34] jasonfare commented on #10817
I spent 3 hours today trying to figure out why Find-AzureRmResource wouldn't work.  It's odd that I can Find-AzureRm<tab> and it finds it, but when you execute it, it says the cmdlet can't be found.  This may be something that needs fixed in the Azure Powershell modules since the manifests still have references to Find-AzureRmResource.

[2018-06-26 18:36] femsulu commented on #10786
@maye-msft Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-26 18:36] jasonfare commented on #10817
"It's odd that I can Find-AzureRm *tab* ..." is what it should say above.  I used brackets and I guess the posting system stripped out my bracket.

[2018-06-26 18:48] MicahMcKittrick-MSFT commented on #10806
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-26 18:48] MicahMcKittrick-MSFT commented on #10813
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-26 18:49] MicahMcKittrick-MSFT commented on #10814
Thanks for the question! We are investigating and will update you shortly.

[2018-06-26 18:51] MicahMcKittrick-MSFT commented on #10645
Thanks for the update @trevor-Schmidt!

[2018-06-26 18:52] marekr opened #10818 "CLI options for creating cluster could use additional parameters"
The Azure portal has additional options that this page doesn't have.

See https://github.com/Azure/AKS/issues/458#issuecomment-399166397

It would be nice if these were included on this page or somewhere else in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0828dfd1-c3a9-bacb-70c2-e25c0e86f983
* Version Indep

[2018-06-26 18:54] #10719 closed

[2018-06-26 18:55] marekr commented on #10816
https://docs.microsoft.com/en-us/azure/aks/static-ip

Also, totally not feedback :P

[2018-06-26 18:55] trevor-schmidt1214 commented on #10645
"resources": [
    {
      "apiVersion": "2017-04-26-preview",
      "type": "Microsoft.DevTestLab/labs",
      "name": "[resourceGroup().name]",
      "location": "[resourceGroup().location]",
      "properties": {
      "labStorageType": "Premium",
       "announcement":
        {
          "title": "Andersen specific guidence updated 05/04/2018. Click here to learn more.",
          "markdown":

[2018-06-26 18:56] neilpeterson commented on #10818
@marekr thanks for opening this issue. Yep, this page needs to be updated. I will make sure it happens over the next day or so. This issue will auto-close when the updates have merged.

Thanks

[2018-06-26 18:59] femsulu commented on #10540
Thanks @johnkemnetz . PR has been initiated to resolve the misspelled Params

[2018-06-26 19:13] tfitzmac commented on #10786
@maye-msft - sorry, I am not sure I understand the request. Here is a [sample repo](https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain-ha-2-dc) that uses linked templates and lots of functions.

And, here is [a repo](https://github.com/dbarkol/azure-event-grid-viewer) that uses a function in a default parameter value. Do those help?

[2018-06-26 19:14] glitchto commented on #10812
@femsulu Thank you for response, code is from official example at https://azure.microsoft.com/en-us/resources/samples/cognitive-speech-tts/

[2018-06-26 19:14] #7042 closed

[2018-06-26 19:40] azeeznad2602 commented on #6952
Can you tell me how much it will cost to move the subscription to back up support > 1TB disks?

That is; how much would it cost to move to the newer form of backup that uses local site based snapshots for this subscription?

I understand the factors in consuming storage in IaaS and PaaS models. What I am looking for is a projected cost for moving from V1 azure backup to v2 Azure backup as per the

[2018-06-26 19:43] ps6000 commented on #9705
I am also looking for integration with Microsoft Flow. If there was some type of connector you would integrate with a number of Microsoft services without requiring significant development, so non developers could get in on this speech to text goodness.

[2018-06-26 19:49] NashTek opened #10820 "Azure MFA"
This is one of the better written documents I've referenced regarding Azure MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Microsoft Azure Multi-Factor Authentication User States](https://docs.microsoft.

[2018-06-26 19:51] markgalioto commented on #9193
@ntramaseur My apologies for the misleading link. The Azure Backup FAQ's have been re-organized, and the link you found/referenced, was removed from this article. The information on firewall details, and whitelisting IP ranges is available in the article on [Preparing to back up VMs](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-vms-prepare#establish-network-connectivity). There i

[2018-06-26 19:52] markgalioto commented on #9193
#please-close

[2018-06-26 19:58] MohitGargMSFT commented on #10788
@Rachitgupta1994 Please check this out to understand [What kind of applications work with Application Proxy](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy#what-kind-of-applications-work-with-application-proxy).

Please note that [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof

[2018-06-26 19:58] MicahMcKittrick-MSFT commented on #10816
Thanks for the question! We are investigating and will update you shortly.

[2018-06-26 20:04] KloudEzy commented on #10675
@TravisCragg-MSFT it is working after I ran following command.

Install-Module -Name AzureRM -AllowClobber
Install-Module AzureRM –Repository PSGallery –AllowClobber
Install-Module PowerShellGet –Repository PSGallery –Force

It was failing because "PowerShellGet" module wasn't installed and after running "Install-Module -Name AzureRM -AllowClobber" it installed this module.

Further, the last comm

[2018-06-26 20:04] mganeshphani opened #10822 "Deployment of Azure WorkBench taking more than 90 Minutes"
Hello,

My deployment is running since 4 hrs and the VMSS resource is in updating phase since then.. not sure whats going on.. is this expected, if yes please update the documentation or the image

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b43c1f83-067b-e79d-fe7b-572beb92f135
* Version Independent ID: 0

[2018-06-26 20:05] vasivara-MSFT commented on #10106
@sbhuttan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 20:05] #10106 closed

[2018-06-26 20:08] knoerregaard opened #10823 "Azure storage createBlockBlobFromLocalFile returns "Uncaught (in promise) TypeError: fs.stat is not a function""
[code]

When calling the uploadImage function the code returns this error "Uncaught (in promise) TypeError: fs.stat is not a function"

I call it like this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content

[2018-06-26 20:13] TravisCragg-MSFT commented on #10796
@lzieba91 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-26 20:21] MicahMcKittrick-MSFT commented on #10814
@shaneholder in theory yes you could store the credentials elsewhere an import them when needed. I am not aware of any official documentation on that process as it would require additional setup and for this specific doc we are targeting users who want to try out File share. The storage account key only need to be stored if you want the fileshare to persist through a reboot as well. So you could a

[2018-06-26 20:28] SaurabhSharma-MSFT commented on #10621
@marinnedea We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 20:28] #10621 closed

[2018-06-26 20:29] SaurabhSharma-MSFT commented on #10659
@7100SW We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 20:29] #10659 closed

[2018-06-26 20:29] MohitGargMSFT commented on #10804
@Security-Guy15 Please note that once the baseline policy is enabled for users which have [mentioned](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-conditional-access-baseline-protection#require-mfa-for-admins) directory roles, MFA will be required when they sign-in. Once they are verified and sign-in, it will not again prompt for MFA.

[2018-06-26 20:31] MohitGargMSFT commented on #10805
@NeighborGeek Great question. I will let content author help with the query and probably clarify the same in document.

[2018-06-26 20:33] gbowerman commented on #10715
Hi folks, neither @gatneil or myself are currently working on this product. Adding @rajsqr to comment.

[2018-06-26 20:35] DCtheGeek commented on #10342
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-06-26 20:35] DCtheGeek commented on #10563
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-06-26 20:35] akramwaseem commented on #8291
It is the above documentation legit or does it need the redo. I tried to make it work on my log analytics template but it doesnt work at all.

[2018-06-26 20:36] akramwaseem commented on #10811
},
      "provisioningState": "Failed",
      "request": null,
      "response": null,
      "serviceRequestId": "8deedb69-4fea-49e3-b86e-b6e2408ec163",
      "statusCode": "BadRequest",
      "statusMessage": {
        "error": {
          "code": "LinkedInvalidPropertyId",
          "message": "Property id 'parameters('actiongroup')' at path 'properties.AzNsNotification.GroupIds[0]' is invalid.

[2018-06-26 20:37] SaurabhSharma-MSFT commented on #10667
@jordanmills I do not see any MSI available for installing NPS extension.  The installation is only available through executable file.

[2018-06-26 20:41] iainfoulds commented on #10814
Yep, @shaneholder, using a credentials file is well documented, and so long as the permissions on that file then restrict others to view the content, it's considered secure. The example shown here, as @MicahMcKittrick-MSFT notes, is more to help people quickly try it out. I can certainly look at updating this for use with a credentials file, it just adds an additional layer of complexity.

In gene

[2018-06-26 20:46] femsulu commented on #10790
@ToMakeSense Thanks again for your comment. After reviewing, we've determined the best place to share your valuable feedback is directly with the ARM Product Group via [Uservoice.](https://feedback.azure.com/forums/281804-azure-resource-manager)
This will ensure that your feedback is received and responded to by the appropriate feature owner(s)

[2018-06-26 20:47] femsulu commented on #10790
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 20:47] #10790 closed

[2018-06-26 20:51] ashmaka commented on #10812
Hi @glitchto,

Each API key for Text Analytics should be locked to a certain region. Is it possible that you are providing the proper API key, but you are *not* specifying the proper region?

[2018-06-26 20:55] femsulu commented on #10817
@jasonfare Thanks for your feedback. After reviewing, we've determined the best place to share your valuable feedback is directly with the Azure Policy Group via [UserVoice](https://feedback.azure.com/forums/911473-azure-management-groups).
This will ensure that your feedback is received and responded to by the appropriate feature owner(s)

[2018-06-26 20:56] TravisCragg-MSFT commented on #10675
@KloudEzy Thank you for the update. ,, I am glad that it worked.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-26 20:56] #10675 closed

[2018-06-26 20:56] glerler opened #10825 "Speech Sample Solution"
PLEASE put up accurate info!!!!!  I have wrestled for 1.5 days over something really stupid.  Got the Azure keys.  Downloaded the sample form Nuget.  Made the changes and copied the code.  Project build no issues.  WONT CONNECT.  No issues with the code so debugger doesn't kick out.   Tried new codes etc.  Nothing.    I am thinking credential issue.   SpeechFactory wants strings for keys and regio

[2018-06-26 20:58] akramwaseem commented on #9947
https://docs.microsoft.com/en-my/azure/monitoring/monitoring-solutions-resources-searches-alerts#actions
above URL  doesn't work .

[2018-06-26 20:59] femsulu commented on #10817
@jasonfare We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-26 20:59] #10817 closed

[2018-06-26 21:01] glitchto commented on #10812
Hello @ashmaka,
You are correct, I have used region Westus instead of Westcentralus, which was not the region I was supposed to have provided.
I'm embarrassed for the mistake being at my end. Thank you so much for spelling that out for me!
Solved.

[2018-06-26 21:01] DCtheGeek commented on #10817
@femsulu Can you please tag me on this as assigned and also change the label to doc-bug since this was indeed an issue with the article.  Thanks!

@jasonfare Thanks again for the feedback and working code update!

[2018-06-26 21:08] ashmaka commented on #10812
@glitchto, no problem!

[2018-06-26 21:09] markgalioto commented on #9145
The error has been fixed, and the PR was merged.
#please-close

[2018-06-26 21:10] SnehaGunda commented on #10543
@ddobric Thanks for the feedback, I don't think this can be solved through doc update, however I made a change to remove the confusion the second method to remove https// and the port is not needed. Hope it helps to some extent.

Can you also please log/vote to request update to the URI shown in the portal? feedback in user voice allows us to prioritize.

[2018-06-26 21:10] SnehaGunda commented on #10543
#please-close

[2018-06-26 21:44] patenik2 opened #10826 "Update this document - I bet this is very popular document as ACS is retiring soon"
Can you please update this document to reflect if SAML 1.1 is supported or in the preview for Azure AD and Azure AD B2C? I would love to learn the roadmap or currently supported approach for Azure AD and Azure AD B2C SharePoint Server configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef9aec0-035e-2504-a62b

[2018-06-26 21:46] patenik2 commented on #6317
I would love to know if this feature is in preview or public? I hope documentation gets updated for Azure AD support for SAML 1.1

[2018-06-26 21:46] patenik2 opened #10827 "Great article"
Thanks for putting this together. Very informative and useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef9aec0-035e-2504-a62b-bf76ecb5173c
* Version Independent ID: 590e2151-3215-7d76-00ac-8894ebe8d64d
* Content: [Migrate from the Azure Access Control service](https://docs.microsoft.com/en-us/azure/active-direc

[2018-06-26 22:06] bganapa commented on #9792
@infoberg , You will be in need of deleting the Azs.* folders only if you are re-installing the AzureStack 1.3.0 module version.  To uninstall the older version 1.2.11, Azure* instruction is good enough. We have not released any version of AzureStack module after 1.3.0. When we release the next version, we will definitely include the instruction to delete Azs.* folders.

[2018-06-26 22:10] MicrosoftGuyJFlo commented on #10820
@NashTek thank you! I am actually updating this article and many of the other MFA and SSPR articles in the next couple weeks to be even clearer. Would love to hear your thoughts when they go live.

[2018-06-26 22:10] MicrosoftGuyJFlo commented on #10820
#please-close

[2018-06-26 22:11] yeiacatl opened #10829 "Troubleshooting section might be helpful"
What if the server's Azure AD Admin Center website does not show the "LinkedIn account connections" section in Users -&gt; User settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b21ab5-ea75-2f79-f497-4dfd2235fa52
* Version Independent ID: a05c8fd9-f1fb-f860-678e-61445886daf8
* Content: [Enable LinkedIn connect

[2018-06-26 22:13] YutongTie-MSFT commented on #10825
@glerler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@wolfma61 Hi, this is a document suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-26 22:14] #10627 closed

[2018-06-26 22:17] SnehaGunda commented on #9936
@m1nkeh hope Andrew's response above helps, we will now proceed to close this issue. if you have further questions feel free to reopen.

#please-close

[2018-06-26 22:18] MicrosoftGuyJFlo commented on #10556
@michaelpowerz can you reach out to me on Skype when you have a moment to chat about this?

[2018-06-26 22:22] SaurabhSharma-MSFT commented on #10683
@mattwhite-itl I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.
Alt

[2018-06-26 22:35] TravisCragg-MSFT commented on #10823
@knoerregaard Could you please post a link to the document you are referring to? [These issues are designed for feedback about the content ](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)or questions about the product.

[2018-06-26 22:42] polarapfel opened #10832 "Arguments documented in this page not present in Azure CLI online help"
There is a gap between this documentation page and the Azure CLI online help.

Azure CLI in its latest version (2.0.38) does not show these new options/arguments when calling az eventgrid event-subscription create -h:

--event-ttl
--max-delivery-attempts
--deadletter-endpoint

The Azure CLI needs to be updated to reflect these new arguments. Not sure this is the right place to create that ticket..

[2018-06-26 22:44] sethmanheim commented on #10349
@avawise001 Hi and thank you for the feedback. I have walked through the steps in this tutorial and it works as written. Be sure to follow each step to the letter. Thanks again for reaching out!

[2018-06-26 22:46] SnehaGunda commented on #10489
@nagireddygatla Here is a c# sample that shows you how to get request units consumed when a document is created, read or deleted: https://github.com/Azure/azure-documentdb-dotnet/blob/master/samples/request-units/Program.cs . Would that help you get started?

[2018-06-26 22:47] tfitzmac commented on #10832
Here is the [extension reference](https://docs.microsoft.com/en-us/cli/azure/ext/eventgrid/eventgrid/event-subscription?view=azure-cli-latest#ext-eventgrid-az-eventgrid-event-subscription-create).

[2018-06-26 22:52] jordanmills commented on #10667
Yes, that's exactly the problem.

[2018-06-26 23:00] MicrosoftGuyJFlo commented on #10667
@jordanmills The EXE is the only thing that is available to download. Is there a specific reason you need an MSI? This is the first time someone has had an issue with the file to my knowledge as the writer for this doc.

[2018-06-26 23:06] MicrosoftGuyJFlo commented on #8020
Sorry for the delay @peternield.

The response from the product group I have received is:

Every time you re-run the PowerShell referenced here https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension#run-the-powershell-script a new certificate is created.

[2018-06-26 23:11] dcbrown16 commented on #7269
Thank you for the update.

[2018-06-26 23:16] #10342 closed

[2018-06-26 23:16] #10563 closed

[2018-06-26 23:17] dlstucki opened #10834 "Is it CRLF or just LF?"
The text states:
    `is the SHA-256 hash computed over the resource URI (scope as described in the previous section) and the string representation of the token expiry instant, separated by CRLF`
Then the pseudo-code uses simply '\n':
    `SHA-256('https://&lt;yournamespace&gt;.servicebus.windows.net/'+'\n'+ 1438205742)`

Can you make these consistent and correct?

---
#### Document Details

⚠ *Do

[2018-06-26 23:17] peternield commented on #8020
Thanks John. Please add this detail to the documentas as it is currently not clear how this cerrtificate should maintained/renewed.

Cheers, Peter.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: John Flores <notifications@github.com>
Sent: Wednesday, June 27, 2018 11:06:10 AM
To: MicrosoftDocs/azure-docs
Cc: peternield; Mentio

[2018-06-26 23:29] MicrosoftGuyJFlo commented on #8020
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/45186

[2018-06-26 23:31] brett-todd opened #10835 "Potential SKU issue"
States "article discusses Basic Load Balancer".
Does this definitely apply to Basic Load Balancer (Internet Facing) as the "All settings" button is not shown during testing?
Additionally when configuring the logs to storage account via "Diagnostics settings" they are not saving to specified storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-06-26 23:35] SaurabhSharma-MSFT commented on #10826
@patenik2 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 23:40] SaurabhSharma-MSFT commented on #10827
@patenik2  Thanks for your Feedback

[2018-06-26 23:40] #10827 closed

[2018-06-26 23:41] SaurabhSharma-MSFT commented on #10829
@yeiacatl Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-26 23:42] #8020 closed

[2018-06-26 23:47] MicahMcKittrick-MSFT commented on #10813
@artisticcheese can you clarify a bit more what you are looking to have done to this doc?

[2018-06-26 23:48] #10814 closed

[2018-06-26 23:50] MohitGargMSFT commented on #10826
@patenik2 As mentioned in #6317 issue, SAML 1.1 support in Azure AD is in private preview only right now. There are no public-facing docs on this yet. Keep an eye on the [AAD blog](https://cloudblogs.microsoft.com/enterprisemobility/?product=azure-active-directory) and the [Azure roadmap](https://azure.microsoft.com/en-us/roadmap/?category=security-identity) for information when it's available.

[2018-06-26 23:50] SaurabhSharma-MSFT commented on #10689
@vzayko Please post this as a feedback at https://feedback.azure.com/forums/909172-azure-maps. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-26 23:55] juliekohler commented on #10546
Geobias is an internal parameter.  To provide the best search results the search engine may decide to bias the results to a certain area when there is a strong indication that the user is looking for a location in that area. It does this by applying a ‘geobias’ which promotes the results close to a specific point. Once this geobias is applied, the response will also indicate the distance of each r

[2018-06-26 23:56] MohitGargMSFT commented on #10829
@yeiacatl Please refer to the Important note section in the beginning of the document which helps address the query.

"LinkedIn account connections functionality is currently being rolled out to Azure AD tenants. When it is rolled out to your tenant, it is enabled by default. It is not available for United States government customers, and organizations with Exchange Online mailboxes hosted in Aust

[2018-06-27 00:02] femsulu commented on #10822
@mganeshphani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-27 00:11] msLinuxNinja opened #10838 "M-Series list should be separated into M-Series and MS-Series to maintain order."
M-Series list should be separated into M-Series and MS-Series to keep the same format as the other lists. For example, the G-Series is split into GS-Series and G-Series. This keeps the document easy read through.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf03abc-15ad-0488-72ae-6bff3b2acc32
* Version Independent I

[2018-06-27 00:14] BryanTrach-MSFT commented on #8390
@Anmolgan81 No, the move will fail if you try to move a web app that contains a binding. You'll need to remove the binding first.

[2018-06-27 00:27] pschaeflein opened #10839 "Update table of services that support MSI"
The table of "Azure services that support Managed Service Identity" should be updated to reflect the [GA announcement of MSI for App Service and Functions](https://blogs.msdn.microsoft.com/appserviceteam/2018/06/26/announcing-general-availability-and-sovereign-cloud-support-of-managed-service-identity-for-app-service-and-azure-functions/).

---
#### Document Details

⚠ *Do not edit this section. I

[2018-06-27 00:29] pagariyaalok opened #10841 "Link not accessible "Azure Stack Service Administrator readme""
You can also use PowerShell to create default offers, plans, and quotas. For more information, see Azure Stack Service Administrator readme.

https://github.com/Azure/AzureStack-Tools/tree/master/ServiceAdmin  (404)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01ea329c-f116-c3cd-0f65-dc772c76e14a
* Version Independen

[2018-06-27 00:42] artisticcheese commented on #10813
Per article for someone to add a node for cluster secured with Windows identity it's possible to do with configuration upgrade
[code]
In fact it's impossible and errors out with error below saying that node shall be part of the cluster beforehand.

[2018-06-27 01:14] rmcmurray commented on #7754
@doneuros - can you verify that the updated article looks good and close this issue?

[2018-06-27 01:17] BryanTrach-MSFT commented on #10680
@vikaskumawat80 ILB ASE offers the ability to use a private DNS, which limits access to your company network to which your VNET is connected to. Have you tried creating an Azure VM, which is connected to the same VNET as the ILB ASE. Then try to navigate to your ILB ASE custom domain from within the VM. Please let us know the results.

[2018-06-27 01:18] btardif commented on #10782
thanks for your interest in this area, we are currently working on a new version of this API and will release new UX and instructions to match this in the coming weeks.

[2018-06-27 01:19] btardif commented on #10782
FYI @panchagnula

[2018-06-27 01:28] BryanTrach-MSFT commented on #10797
@richardspitz Isolated tier refers to the App Service Environment (ASE) product offering. ASE is a premium offering of app services that allows greater control of the setup. The following statement is given for Linux app services in Azure, "Linux on ASE is in preview mode and not supported for production workloads. Don't host Linux apps in an App Service Environment that is hosting production work

[2018-06-27 01:28] #10797 closed

[2018-06-27 01:37] genlin commented on #10709
@dcbrown16 Thanks for pointing out the problem. I will update the article

[2018-06-27 01:44] dagrkatyal opened #10842 "No appenders could be found for logger && Host did not respond"
I am following exact steps mentioned here but still getting following error.
**_System Config_**: Windows 8, Java version 10.0.1, Apache Gremlin console from Tinkerpop website

**remote-secure.yaml**
=======================
![image](https://user-images.githubusercontent.com/10888487/41947869-c5a14c8c-797f-11e8-80a3-76ab9e857e39.png)

**Console Execution Steps**
=======================
![image](htt

[2018-06-27 01:45] SnehaGunda commented on #10296
#please-close

[2018-06-27 02:09] meganbradley opened #10843 "test"
this is a test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
* Content: [Requesting access tokens in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-to

[2018-06-27 02:19] akshaybabloo commented on #10716
Yes, this is not working for me as well.

[2018-06-27 03:29] CRGemmill commented on #10778
To be clear, I'm talking about on-prem MFA where this is still an option. Or is this notice specific to the old cloud MFA server option?

[2018-06-27 03:36] technion commented on #10484
@SaurabhSharma-MSFT I still feel this requires clarification. The linked Azure Active Directory pricing site details the features and benefits that come with Azure AD Premium, and repeatedly refers to Self Service Password Reset. SSPR as discussed throughout this documentation refers to a portal where a user can reset a forgotten password utilising a configurable set of security options.

As it st

[2018-06-27 03:43] MicrosoftGuyJFlo commented on #10778
This section is not referring to MFA Server which still has the ability to do this until the date that has been communicated. These are options in the cloud and new docs updates are coming in the next couple weeks that will add clarity.

[2018-06-27 04:06] CRGemmill commented on #10778
Glad I asked. Looking forward to the new material. Thanks.

[2018-06-27 04:08] vzayko commented on #10689
Done: https://feedback.azure.com/forums/909172-azure-maps/suggestions/34674736-protect-map-account-by-site-uri-checking
Thank you!

[2018-06-27 04:32] MicrosoftGuyJFlo commented on #10484
@technion

Password writeback is the part of the feature that requires the premium license.

The document clearly says that: "Self-Service Password Reset/Change/Unlock with on-premises writeback is a premium feature of Azure AD."

I called it that specifically in the doc because it mirrors what it is called on the licensing page.
How would you suggest adding more clarity? This is a topic that has

[2018-06-27 04:47] technion commented on #10484
@MicrosoftGuyJFlo  Thanks, will send you an email.

[2018-06-27 04:47] Anmolgan81 commented on #8390
I have performed the move operation with the binding and it passes the validation with the binding so am not sure what you are talking about.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Trach <notifications@github.com>
Sent: Wednesday, June 27, 2018 5:44:59 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-06-27 04:54] markgalioto commented on #8186
@turtlkky , Thank you again for taking the time to file this Issue. I followed up with one of the Program Managers for Azure Backup Server, and she verified that running Azure Backup Server on Windows Server Core is not supported. I sent along your experience- receiving a message suggesting you run setup with special syntax. They are filing a bug to add a check for Server Core, stating that it is

[2018-06-27 04:54] markgalioto commented on #8186
#please-close

[2018-06-27 05:05] kamleshdelat commented on #10791
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /tmp/bundle/gems/nokogiri-1.8.3/ext/nokogiri
/usr/local/.rbenv/versions/2.3.3/bin/ruby -r ./siteconf20180627-2122-1akgdcj.rb
extconf.rb
checking if the C compiler accepts ... yes
Building nokogiri using system libraries.
pkg-config could not be used to find libxml-2.0
Please install either `pkg-config` or th

[2018-06-27 05:07] NambiVenkatesh commented on #10782
Thank you

[2018-06-27 05:28] knoerregaard commented on #10823
Hi and thanks for your reply. I followed these instructions here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-nodejs

[2018-06-27 05:31] santo2 commented on #10676
Yes, thanks

[2018-06-27 05:31] #10676 closed

[2018-06-27 06:06] knoerregaard commented on #10823
Hi again, My goal is actually to upload from browser - so I think that I am using the wrong API. Is it possible to use createBlockBlobFromBrowserFile instead? The application is a Meteor application.

[2018-06-27 06:08] danrosg opened #10845 "Issue with toSentiment UDF"
The function is checking for an empty response in the language detector call but it should be looking for an empty response in the sentiment API call. Otherwise the -1 will be just shown for empty request upon language detection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2747-9807-4c9b-e07f-819570e054f8
* Versi

[2018-06-27 06:41] marinnedea commented on #10621
Sorry.. was away last week and had little access to my e-mails.

The current documentation says to make sure you have the /etc/fstab updated with the UUIDs of the data disk partitions before doing the encryption. With the current scenario, this will always lead to a "no boot" situation, because the UUIDs of the data disks will be changed post encryption.

So, you either need to update the document

[2018-06-27 06:59] emildoverlindbonniernews commented on #10730
I found now that the error I got from Salesforce is the wrong one and there is no need to disabled the InResponseTo attribute. Sorry!

See https://success.salesforce.com/issues_view?id=a1p3A000000mDb5QAE&title=in-case-of-old-saml-request-using-sp-initiated-the-error-message-is-incorrect

[2018-06-27 07:15] mazong1123 opened #10846 "Invoke-ServiceFabricEncryptText should use `LocalMachine` as `-StoreLocation`"
The document suggests use `-StoreLocation CurrentUser` in Invoke-ServiceFabricEncryptText, which causes an error: `Invoke-ServiceFabricEncryptText : Exception from HRESULT: 0x80071C57
At line:1 char:1
+ Invoke-ServiceFabricEncryptText -CertStore -CertThumbprint "311FCFA7C ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [In

[2018-06-27 07:18] mazong1123 commented on #10846
Close this issue as I refered wrong document. I will create another one.

[2018-06-27 07:18] #10846 closed

[2018-06-27 07:20] mazong1123 opened #10847 "Invoke-ServiceFabricEncryptText should use `LocalMachine` as `-StoreLocation`"
The document suggests use `-StoreLocation CurrentUser` in `Invoke-ServiceFabricEncryptText`, which causes an error:

`Invoke-ServiceFabricEncryptText : Exception from HRESULT: 0x80071C57
At line:1 char:1

Invoke-ServiceFabricEncryptText -CertStore -CertThumbprint "311FCFA7C ...
  + CategoryInfo          : NotSpecified: (:) [Invoke-ServiceFabricEncryptText], COMException
  + FullyQualifiedErrorId :

[2018-06-27 07:31] junpark12 opened #10848 "agent collection interval."
Hi. Do we have any configuration for agent data sending interval?
When i see "data &gt; windows performance counter", there are SAMPLE INTERVAL for each counters.
But i don't see agent's data sending interval.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb30-6357-708b-d2007fcab408
* Version Independ

[2018-06-27 08:10] #10678 closed

[2018-06-27 08:11] Anmolgan81 opened #10849 "Do SendGrid enables move?"
I have a sendgrid resource, can I move that to CSP?
can I create a sendgrid account in CSP? If not then how can we create a sendgrid account in CSP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure r

[2018-06-27 08:31] uzoltan commented on #8338
I tried the same, but on port 5005 I got a ConnectionException: Connection refused, and on port 7071 I got "handshake failed unrecognized message from target VM". Any ideas?

[2018-06-27 08:37] federicoMaesta opened #10850 "Metrics Issues"
Hi all,
I have created some metrics and I have pinned this on the dashboard.
When I click on the metrics in the dashboard I access to the metrics but Azure response with the following error:
"Error retrieving data"
For modify the metric I need remove the params configured and reinsert yet the same  parameters.

Someone have idea for resolve this issue?

Thank you.

Bye,

---
#### Document Details

[2018-06-27 08:40] ms-xiaoy opened #10851 "Forgotten step after upload sample files"
After uploaded sample files to blob container, do remember to set container public access level to "Public read access for blobs only" by right click on blob container in Azure Storage Explorer and click "Set Container Public Access Level". Otherwise, the search result will be empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-06-27 09:05] micktion opened #10852 "Template does not work...."
The Azure Function "Application Insights scheduled digest template" referred to in this article looks very broken.  When I run it...

I get an error "[Error] [Error]: Client Request ID 42b92bb5-37da-4abf-baeb-42ff936c7e0b: Response status code does not indicate success: 404 (Not Found)."

So inspecting the code in the template... The first issue is the line that reads...

private const string AppI

[2018-06-27 09:12] andrewjwatts commented on #10236
Thanks that the improved post. I have now created a weekly report using this. Its not as good as the original but its a start!

Thanks again

[2018-06-27 09:20] micktion commented on #10236
@SidShetye As far as I can tell all you've done is remove SendGrid and replace it with code to work with an SMTP server.  I'd actually prefer SendGrid.

Secondly I'm a little surprised you guys, this is working for you guys, the issue I'm encountering is well before it attempts to send an email as described here...  https://github.com/MicrosoftDocs/azure-docs/issues/10852

[2018-06-27 09:28] sergaz-msft commented on #10546
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @juliekohler in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-27 09:28] #10546 closed

[2018-06-27 10:54] femsulu commented on #10845
@danrosg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 10:57] femsulu commented on #10843
Closing this issue as spam.

[2018-06-27 10:57] #10843 closed

[2018-06-27 10:59] femsulu commented on #10842
@dagrkatyal  We are actively investigating and will get back to you soon.

[2018-06-27 11:00] Kuppusamynattudurai commented on #6494
Hi, I am trying to create VMs using powershell., But, this  New-azurermvm -Imagename works only if the VNEt / subnet is in the same resourcegroup. Please advise how a VM can be deployed in a VNET in a different Resource Group. Also, it is not possible to pass the VMconfig parameters when we use the option -fromimage.

[2018-06-27 11:02] femsulu commented on #10841
@pagariyaalok Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-27 11:04] femsulu commented on #10839
@pschaeflein  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 11:05] femsulu commented on #10838
@msLinuxNinja Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 11:09] mrbullwinkle commented on #10852
@micktion I am sorry to hear you are still having issues with the weekly report. I banged my ahead against the same incredibly non descriptive 404 error on Monday when I was creating an update for the doc. <br></br> ![Screenshot of run.csx file with apikey variables explicitly set](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/10852/001.png)
<br></br>
In my case the failure w

[2018-06-27 11:10] femsulu commented on #10835
@brett-todd  We are actively investigating and will get back to you soon.

[2018-06-27 11:11] vetrivelmp opened #10854 "Azure B2C Multiple Custom Signin policies"
I have a requirement like below.

I have to create 3 application in azure b2c.
I have to create 3 different custom signin policies.
Inside each custom signin policies I have to call different rest api for login not for input validation. My user stores are out side B2C (user store is in sql server). So basically these rest api will check and return whether user is exist or not inside each user stor

[2018-06-27 11:13] femsulu commented on #10834
@dlstucki Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 11:14] asos-dougbrandwilliamson opened #10855 "IMDS endpoint throttling limits"
Could you provide the limits before the IMDS endpoint throttling is applied?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7534195-db0a-f25f-cf3f-1efa9184b4e0
* Version Independent ID: 73931ea8-576c-ef21-3aed-2986614f715c
* Content: [How to use an Azure VM Managed Service Identity to acquire an access token](https://

[2018-06-27 11:15] femsulu commented on #10832
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 11:15] #10832 closed

[2018-06-27 11:44] mrbullwinkle commented on #10236
@andrewjwatts Thank you for giving the updated instructions a try. Definitely feel free to voice your concerns with the lack of parity between the old report and the Azure Functions template on the [https://feedback.azure.com/forums/357324-application-insights](https://feedback.azure.com/forums/357324-application-insights). If you do please add a link to your feedback here so that I can upvote it

[2018-06-27 11:46] mrbullwinkle commented on #10236
#please-close

[2018-06-27 12:25] jackiems82 opened #10856 "Which keys to use?"
Hi, the documentation is really good, though I'm currently having problems because the listener does not receive anything. To make sure I'm not using the wrong keys could you please extend on the part where the constants are added, which keyName and key to use? In my Relay I have a key for the RootManageSharedAccessKey (this is the one I think I should use for both listener and sender) and in the

[2018-06-27 12:31] lg37 opened #10857 "url error"
in the sample url:
http://storagesample.core.file.windows.net/myshare?snapshot=2011-03-09T01:42:34.9360000Z

same error in the link just above this sample

it is "file.core.windows.net" and not "core.file.windows.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195dc3fb-f772-2bd7-9238-cd7c3465ae62
* Version Independ

[2018-06-27 12:59] MGoedtel commented on #10848
@junpark12 - There is no configurable option for the agent's data sending interval per data type, only the performance sample rate.  Because this isn't a documentation issue, request #please-close issue.

[2018-06-27 13:00] kunalaphadnis99 opened #10858 "Unable to start edgeHub - Agent configuration format is invalid"
Hello, today I saw that the IoT Edge has progressed ahead from the Preview phase. I updated one of my module today. Nothing was changed on the Linux machine nor any other configuration. Now the runtime is unable to start edgeHub on the Linux machine. It says: Agent configuration format is invalid. I tried creating new device as well with no custom modules but no luck.
![image](https://user-images.

[2018-06-27 13:02] jalberto commented on #10816
Thanks for your help!

so the only way is to expose individual services, and maybe use a NSG to
block IN traffic.

Is feedback in the sense current doc doesn't mention it :)

On Tue, 26 Jun 2018 at 21:59, Micah <notifications@github.com> wrote:

[2018-06-27 13:09] clarenceb opened #10859 "Bower installation of Angular fails due to use of deprecated Bower registry on Heroku"
**What**

After updating and saving the `bower.json` file (to install AngularJS) the following error appears in the Output window:

[code]

**Why**

This is due to Bower deprecating the registry hosted on Heroku -- as explained [here](https://stackoverflow.com/questions/51020317/einvres-request-to-https-bower-herokuapp-com-packages-failed-with-502) on StackOverflow.

You can also see this reason b

[2018-06-27 13:09] ToddTaylor opened #10860 "Supported Languages"
What are the languages supported by API Management?  I am not able to find this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869529d4-008f-ce63-2529-ba9b10801d29
* Version Independent ID: cde05c92-45aa-4831-c53c-9afc03a0ec6e
* Content: [Azure API Management template resources](https://docs.microsoft.com/

[2018-06-27 13:29] SaurabhSharma-MSFT commented on #10689
@vzayko Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 13:29] #10689 closed

[2018-06-27 13:29] frehnejc opened #10861 "Add an example for multiple certificates"
Can you add an example powershell for the front end SSL certificates for both sites contoso and fabrikam.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc26a594-5ae3-3471-aced-23fdb101ae02
* Version Independent ID: f1ee8b57-ab36-d7aa-a5ad-4856a293e756
* Content: [Create an application gateway with multiple site hostin

[2018-06-27 13:30] chandandaslipun commented on #10139
How do I unconsent an already accepted Terms ?

[2018-06-27 13:37] SaurabhSharma-MSFT commented on #10744
@smflorentino The resourceId does not change and it does not break when the key-vault is moved from one resource group to another resource group.

[2018-06-27 13:48] SaurabhSharma-MSFT commented on #10728
@vetrivelmp For your specific scenario I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question - https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help y

[2018-06-27 13:54] cloudmelon opened #10862 "'CustomScriptExtension', and type handler version '2.0' could not be found in the extension repository.""
I did as mentioned in the documentation
{
  "name": "config-app",
  "type": "extensions",
  "location": "[resourceGroup().location]",
  "apiVersion": "2015-06-15",
  "dependsOn": [
    "[concat('Microsoft.Compute/virtualMachines/', concat(variables('vmName'),copyindex()))]"
  ],
  "tags": {
    "displayName": "config-app"
  },
  "properties": {
    "publisher": "Microsoft.Azure.Extensions",
    "t

[2018-06-27 14:07] amoghnatu commented on #10409
@georgewallace, @vasivara-MSFT Hello George, Vairavan, Can you please tell me if there is a possibility to check what exactly is running? Because I'm getting the same exception and despite stopping and re-starting the VM again, I still keep getting the same exception. Is there a chance to see somewhere exactly what is running? and if possible some way to kill it?

Any help or pointers would be gre

[2018-06-27 14:12] jackiems82 commented on #10856
OK, for some reason it worked now with the Root... keys.. Never mind.

[2018-06-27 14:15] djpirra opened #10863 "How the event send parameters to the ADF pipeline?"
Would be cool to understand how the event info can be used in the pipeline...
Example would be If I am catching all created files, I want to be able to understand on my pipeline what was the file that triggered the event. Is this received by the pipeline? Can this be documented?

Also, can we use wildcards in the paths?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-06-27 14:21] SaurabhSharma-MSFT commented on #10778
@CRGemmill We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 14:21] #10778 closed

[2018-06-27 14:27] lahans opened #10865 "use CloudFileDirectory as singleton?"
Nice and simple walkthrough. I can however not find any information if I can keep a reference to a CloudFileDirectory as a singleton, or do I have to go through and use the storageAccount, obtain a fresh reference to the root and work with that for each request?

If I am always writing in a folder three levels deep, it would be nice simply to store the reference to the directory and use that refer

[2018-06-27 14:34] mganeshphani commented on #10822
My deployment after
5 hours 4 minutes 50 seconds
finally gave up on VM worker scale set, the scale set shows provisioning failed.. let me know if there is anyone from support side I can work with, I will log a ticket with this information with high priority
![image](https://user-images.githubusercontent.com/22988320/41980840-1dbe5884-79ed-11e8-8fdf-18dda3a709b4.png)

[2018-06-27 14:38] SaurabhSharma-MSFT commented on #10730
@emildoverlindbonniernews Thank you. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 14:38] #10730 closed

[2018-06-27 14:42] remyblok opened #10866 "RequestBin has been discontinued"
Under the heading "Perform runtime debugging" the RequestBin service is mentioned. But this service is discontinued, now you need to host your own instance of that app. This makes it a hard open to use when wanting to do a detailed debug session. It would be good to provide an alternative way to debug Logic Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-27 14:47] cephalin commented on #7875
Moved to here now and revised: https://docs.microsoft.com/en-us/azure/app-service/app-service-high-density-hosting

[2018-06-27 14:47] cephalin commented on #7875
#please-close

[2018-06-27 14:56] #7875 closed

[2018-06-27 15:00] snehithm commented on #10396
Yes, we will make the update. Please note these docs are auto generated so we would need to update the schema which takes a while to get merged.

[2018-06-27 15:04] SaurabhSharma-MSFT commented on #10809
@omegagx Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@MarkusVi I think the document needs to be updated as I could also see the "Conditional Access" under Security section.
![image](https://user-images.githubusercontent.com/38112130/41982568-a0a5b8e4-79e0-11e8-81fa-a7df75cb7231.png)

[2018-06-27 15:08] KFlowerz opened #10867 "Camel case is no longer allowed for Module Name"
I followed the example a few days ago and tried to run again the sample, but I had an error.  When I added the module with the name tempSensor on Azure portal, it gave me back a message error of invalid characters.  Changed module name to tempsensor and now the module is running correctly.  Will module names are going to accept only lowercase characters?

---
#### Document Details

⚠ *Do not edit

[2018-06-27 15:20] MicahMcKittrick-MSFT commented on #10846
Thanks for updating @mazong1123

[2018-06-27 15:20] MicahMcKittrick-MSFT commented on #10847
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-27 15:21] MicahMcKittrick-MSFT commented on #10859
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-27 15:22] MicahMcKittrick-MSFT commented on #10862
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-27 15:23] MetehanBolat opened #10868 ""Monitor Service" filter of "Add criteria" menu requires more details."
Great documentation considering all the new features of Alert Management mechanism.
However, I read all documentation only to find a specific information about "Monitor Service" section of Add Criteria action.
For instance, I'd like to create an alert if there is a new Virtual Machine deployment in the subscription.
All the monitoring services such as Administrative, Security, Policy and Autoscale

[2018-06-27 15:24] sergaz-msft commented on #10856
Thank you @jackiems82 for coming back and letting us know what steps you made for solving it. It can help others for sure 👍 .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-27 15:24] #10856 closed

[2018-06-27 15:36] curtand commented on #10394
Hi @jlee-vi
I fixed the table of contents per this request. Thanks for the feedback!

[2018-06-27 15:54] patenik2 commented on #10826
I am not sure that's true. Here is Microsoft's documentation to connect Azure AD with SAML 1.1 with SharePoint 2013/2016 - https://docs.microsoft.com/en-us/Office365/Enterprise/using-azure-ad-for-sharepoint-server-authentication, this is one of the reasons I am confused whether it's in preview or GA.

[2018-06-27 15:54] patenik2 commented on #10826
My other question is for the Azure AD B2C - How about SAML 1.1 support for Azure AD B2C? Is it possible to configure SAML 1.1 policies in Azure AD B2C for the SharePoint 2013/2016 integration?

[2018-06-27 15:56] #10236 closed

[2018-06-27 15:58] patenik2 commented on #10826
One more article stating Azure AD SAML 1.1 support for SharePoint 2013/2016 - https://dev.office.com/blogs/impact-of-azure-access-control-deprecation-for-sharepoint-add-ins... I think this is clear that Azure AD supports for SAML 1.1 is here - whether it's in private preview, preview, or GA. On the other hand, I am more interested in Azure AD B2C support for SAML 1.1 - according to this article -

[2018-06-27 16:08] kunalaphadnis99 commented on #10858
FYI: Here is the error which I got after subsequent retries:

Unhandled Exception: System.AggregateException: One or more errors occurred. (error:2006D080:BIO routines:BIO_new_file:no such file) ---> Interop+Crypto+OpenSslCryptographicException: error:2006D080:BIO routines:BIO_new_file:no such file
at Interop.Crypto.CheckValidOpenSslHandle(SafeHandle handle)
at Internal.Cryptography.Pal.Certificat

[2018-06-27 16:11] asote opened #10869 "Got error when creating the web app"
When running command :
az webapp up -n aswebdemo1

Got error:
[Errno 22] Invalid argument: '/usr/antonio/clouddrive/quickstart\\html-docs-hello-world.zip'

Had to zip and deploy it manually.

cd html-docs-hello-world/

zip -r html-docs-hello-world.zip .

az webapp deployment source config-zip --resource-group appsvc_rg_Windows_CentralUS --name aswebdemo1 --src html-docs-hello-world.zip

Hope this

[2018-06-27 16:14] v-geberr commented on #10771
@mattquinn4 Are you looking for [this doc on speech service](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-tutorial-speech-to-intent) or are you looking for different information?

[2018-06-27 16:18] curtand commented on #10394
#please-close

[2018-06-27 16:27] mattquinn4 commented on #10771
@v-geberr I am looking for different information.  [This part of the LUIS documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-data-conversion) says that a new endpoint will be created.  I was expecting this to mean a new REST endpoint.  Is there a REST endpoint that accepts a spoken utterance instead of just text?

The documentation that you linked to seems t

[2018-06-27 16:35] v-geberr commented on #10771
@mattquinn4 Great questions! Let me investigate the most accurate response. #in-progress

[2018-06-27 16:39] jcbrooks92 opened #10870 "Web app diagnostic log availability in Azure Gov"
In this article it lists that the FREB, Application logs, and event logs to file system and blob are currently unavailable. I just tested this out and it is working as expected. Can we verify if this is now supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43df0f7a-2994-4df2-3852-d38a300259f6
* Version Independ

[2018-06-27 16:39] douglaslMS commented on #10863
#in-progress

[2018-06-27 16:40] v-geberr commented on #10693
@SSYH Is the following text what you are looking for?

# Prebuilt domain reference
This reference provides information about the [prebuilt domains](luis-how-to-use-prebuilt-domains.md), which are prebuilt collections of intents and entities that LUIS offers.

[Custom domains](create-new-app.md), by contrast, start with no intents and models. You can add any prebuilt domain intents and entities to

[2018-06-27 16:41] georgewallace commented on #10732
@femsulu and @Shloeb The doc is actually correct. Get-AutomationConnection is an internal cmdlet to Azure Automation that allows you to get a relative connection from the automation account without going through the resource manager APIs. Note that the cmdlet is not Get-AzureAutomationConnection which is the old service management cmdlet, or Get-AzureRMAutomationConnection the newer resource manag

[2018-06-27 16:46] TravisCragg-MSFT commented on #10823
@knoerregaard [Here are the available functions inside blobService](https://docs.microsoft.com/en-us/javascript/api/azure-storage/BlobService?view=azure-node-latest). There is no default way to upload a file from a URL. There are 2 ways to upload a file using this class, upload from a local file, or upload from a stream. You will most likely need to download the file locally first, or create a rea

[2018-06-27 16:46] #10823 closed

[2018-06-27 16:52] akramwaseem opened #10871 "I have two action groups, How do I integrate them and How do I add the WebHook ?"
Hi,
I have a log analytics template which has 2 actions groups(Which are created while migrating) .
In first action group I have an email with web-hook and second one has the 5 emails with a web-hook.
So How can I integrate the web-hook. does it comes under the action group it self and don't need to be implemented explicitly

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-06-27 16:54] MicahMcKittrick-MSFT commented on #10077
1.

[2018-06-27 16:54] #10077 closed

[2018-06-27 16:54] TravisCragg-MSFT commented on #10835
@brett-todd Thanks for the feedback! This article appears to have some dated instructions.

Diagnostics will be saved in Table Storage in the specified storage account. Usually if logs are not being saved, it is because no relevant logs age being produced.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-27 16:55] sethmanheim commented on #10349
#please-close

[2018-06-27 16:58] #10349 closed

[2018-06-27 16:59] Garima2k1 commented on #9751
@BryanTrach-MSFT I am looking specific information around the feature to be able "to integrate with existing user stores of customers/citizens/employees". Could you share some information around this preview feature. Thanks.

[2018-06-27 17:13] MicahMcKittrick-MSFT commented on #8184
Thanks @kjsteven. I am working with @MikeRayMSFT offline to see what the issue is.

Related MSDN thread for reference: https://social.msdn.microsoft.com/Forums/azure/en-US/60d2a3db-3ef7-423b-8291-5aad3aedcc8a/cannot-assign-apipa-failover-cluster-ip-when-creating-sql-2016-alwayson-on-azure-vms?forum=WAVirtualMachinesforWindows

[2018-06-27 17:14] mfulton opened #10873 "Instructions don't match reality"
In step 1 item 5, it says to click on "Users And Groups" but there is no such option. At least not for me.  All I see is just "Users" and there's no place where groups are listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent ID: 6711b6ba-154a-d078-d119-603d2c

[2018-06-27 17:18] SaurabhSharma-MSFT commented on #10855
@asos-dougbrandwilliamson Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-27 17:36] smflorentino commented on #10744
The resource ID does change, since the resource ID contains the resource group name.

Can you confirm that a changing resource ID does not break the KeyVault management?

[2018-06-27 17:44] RenaShahMSFT commented on #10857
Thank you. Appreciate taking time to provide feedback. Updating the docs.

[2018-06-27 17:45] scottjreece opened #10874 "Raspberry Pi support"
I got the "Unable to locate package iotedge" error on a Raspberry Pi during apt-gets. Are there plans to support ARM architectures any time soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57c035a2-9ca9-2bbf-f9db-263bb0411de8
* Version Independent ID: aa0c1a42-7d19-996e-cd57-51c838f40677
* Content: [Simulate Azure

[2018-06-27 17:50] kgremban commented on #10874
Hi @scottjreece We have a new article about installing the runtime on different systems. Did you try the steps in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm ?

[2018-06-27 17:51] SaurabhSharma-MSFT commented on #10873
@mfulton Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-27 17:56] BryanTrach-MSFT commented on #10851
@viki1987 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-27 17:57] BryanTrach-MSFT commented on #10866
@remyblok Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-27 17:58] jocastel-MSFT commented on #10139
@chandandaslipun You can review previously accepted Terms by going to myapps.microsoft.com -> Select the "me" control in the top right -> select "profile" -> select "review terms of use". But there is currently no way to unconsent.

[2018-06-27 17:58] BryanTrach-MSFT commented on #10869
@asote Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-27 18:01] CarlRabeler commented on #10718
PR pending - https://github.com/MicrosoftDocs/azure-docs-pr/pull/45301

[2018-06-27 18:16] MohitGargMSFT commented on #10788
@Rachitgupta1994 Please help with MSDN or SO thread URL so that I could make sure your query is addressed on it.

[2018-06-27 18:17] MohitGargMSFT commented on #10804
@Security-Guy15 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-27 18:17] #10804 closed

[2018-06-27 18:23] rafats commented on #10141
Yes, today this functionality is not existing for partition collection. Thanks for the feedback. Will add this to our back log. #please-close

[2018-06-27 18:23] femsulu commented on #10848
@junpark12  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:24] #10848 closed

[2018-06-27 18:30] veyalla opened #10875 "curl commands need -L switch"
Docs will be updated by this evening.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf7aade-9690-1b15-edca-952e4f509601
* Version Independent ID: b99f0f0f-87fe-5446-670e-b3fd8eb1c34d
* Content: [How to install Azure IoT Edge on Linux](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm)

[2018-06-27 18:30] juancrl opened #10876 "This is not the way do do it, you'll end with a VM without Agents or known username."
If you need to create a VM from a generalized VHD OS Managed Disk, in the simplest possible way, you have to follow a very strict procedure, with lots of pitfalls on the parameters and the procedure itself.
It is more or less documented in https://blogs.msdn.microsoft.com/igorpag/2017/03/14/azure-managed-disks-deep-dive-lessons-learned-and-benefits/, and it involves creating an Image from the VHD,

[2018-06-27 18:31] jason-j-MSFT commented on #10651
@ewong18 I just tried the Get Metadata activity on 'filesystem' dataset and it worked for me, do you see a reference somewhere in the documentation that this activity is not supported?

We are closing this issue for now, but feel free to add comments, and we can re-open, anytime.

[2018-06-27 18:31] #10651 closed

[2018-06-27 18:33] amolajgaonkar opened #10877 "Blob not available -"
https://conteng.blob.core.windows.net/iotedged/iotedge.zip is not available at that url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d6fbee6-63d6-059b-8f8a-818415ef3b5e
* Version Independent ID: 78afd83d-d982-227e-5d18-cb731e069bfd
* Content: [Simulate Azure IoT Edge on Windows](https://docs.microsoft.com/en-us/azur

[2018-06-27 18:33] mwhisler opened #10878 "Correct the parameter name for MaintenanceWindowDuration"
Please update MaintenanceWindowsDuration to MaintenanceWindowDuration.  I copied and pasted that into my ARM template and couldn't figure out why it wasn't happy.  :)

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafa63ea-2f8a-162c-f83e-0e11cc6c564f
* Version Independent ID: 077df2bf-05

[2018-06-27 18:34] femsulu commented on #10860
@ToddTaylor Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-06-27 18:35] MohitGargMSFT commented on #10854
@vetrivelmp Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content,  [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) or [Stack Overflow](https://stackoverflow.com/) (with azure-active-directory or azure-ad-b2c tag)

[2018-06-27 18:38] femsulu commented on #10868
@MetehanBolat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 18:38] HenryQ1960 commented on #10299
In my `ApplicationManiest` file I have a parameter called `StorConnection` under `<parameters>` element. I want to set the value of this with the environment variable `variableA` that is set on the machine (I.e running `SET` on cmd prompt displays the value set. Is there a way to do it ?

[2018-06-27 18:41] femsulu commented on #10870
@jcbrooks92 Good question.
@gsacavdm can you confirm this is now supported?

[2018-06-27 18:41] HenryQ1960 opened #10879 "Using machine environment variable to override application parameter"
In my `ApplicationManiest` file I have a parameter called `StorConnection` under `<parameters>` element. I want to set the value of this with the environment variable `variableA` that is set on the machine (I.e running `SET` on cmd prompt displays the value set. Is there a way to do it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-06-27 18:42] femsulu commented on #10871
@akramwaseem Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-06-27 18:48] SaurabhSharma-MSFT commented on #10744
@smflorentino my bad, I have checked the SubscriptionId of the Key-Vault and yes, you are correct it does change.  Moving across the different resource groups won't break the key-vault if it is in the same subscription, however, there are certain exceptions like VM using key-vault with certificate stored can be moved to a new resource group in the same subscription, but not across subscriptions. Y

[2018-06-27 18:49] femsulu commented on #7730
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:49] #7730 closed

[2018-06-27 18:49] femsulu commented on #8186
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:49] #8186 closed

[2018-06-27 18:49] femsulu commented on #8462
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:49] femsulu commented on #9028
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:49] rogorman9 commented on #9804
I believe he is referring to this:

![image](https://user-images.githubusercontent.com/9397494/41993406-59a2b8be-7a19-11e8-90d3-9243304f1656.png)

[2018-06-27 18:50] SeaJaredCode opened #10880 "Kafka version?"
Great, now I have a cluster that's based was obsoleted 2 years ago (before you even had this service). What is your plan to upgrade? What is required by the users of this service to upgrade when it's available? And your docs here tease 1.0.0 (which is slightly less obsolete) while that version is not actually available.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-06-27 18:50] #8462 closed

[2018-06-27 18:51] femsulu commented on #9145
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:51] #9145 closed

[2018-06-27 18:52] femsulu commented on #9193
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:52] #9193 closed

[2018-06-27 18:52] femsulu commented on #9593
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:52] #9593 closed

[2018-06-27 18:52] femsulu commented on #9841
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:52] #9841 closed

[2018-06-27 18:52] femsulu commented on #9936
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:52] #9936 closed

[2018-06-27 18:53] femsulu commented on #10296
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:53] #10296 closed

[2018-06-27 18:53] femsulu commented on #10394
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:54] femsulu commented on #10411
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:54] #10411 closed

[2018-06-27 18:56] femsulu commented on #10541
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:56] #10541 closed

[2018-06-27 18:56] femsulu commented on #10543
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:56] #10543 closed

[2018-06-27 18:56] femsulu commented on #10558
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:56] #10558 closed

[2018-06-27 18:57] femsulu commented on #10586
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:57] #10586 closed

[2018-06-27 18:58] femsulu commented on #10592
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:58] #10592 closed

[2018-06-27 18:59] femsulu commented on #10732
@georgewallace thanks for clarifying.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:59] #10732 closed

[2018-06-27 18:59] femsulu commented on #10820
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 18:59] #10820 closed

[2018-06-27 19:01] martincoetzer commented on #10785
@Peter-UK. This is great feedback, we are looking at updating the questions. The first question is indeed very important and determine if a customer should choose Password Hash Sync, hence the reason why we ask "Do you want to do cloud authentication....?". Cloud authentication comes in 2 flavors and only PHS offers password protection. An alternative first question would be "Do you want to cloud

[2018-06-27 19:08] JasonWHowell commented on #10648
@xsqian Good catch. We'll need to spend some time to review and update this article soon. I'm going to put that into our doc planning, and we'll get to it as we can. Thanks for bringing it to my attention.
Thanks, Jason

[2018-06-27 19:08] JasonWHowell commented on #10648
#please-close

[2018-06-27 19:08] mganeshphani commented on #10822
@femsulu may I know if anyone had looked into this in last 19 hrs, since you replied? FYI, I have got a support ticket logged as well

[2018-06-27 19:12] MicahMcKittrick-MSFT commented on #10876
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-27 19:16] MicahMcKittrick-MSFT commented on #10878
Thanks for finding this! I have corrected the doc. Once the PR merges this issue will close and the changes will go live in few hours.

[2018-06-27 19:18] TravisCragg-MSFT commented on #10861
@frehnejc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-27 19:20] danieladams456 commented on #10036
@jasonpnnl You should be able to do like in step 5 [here](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#configure-azure-ad-single-sign-on) and use a constant.  I am currently using ADFS and looking at switching to Azure AD.  If I get it working and remember, I will post back here.

@jeevansd This does not have to do with the lifetime of the Azure AD

[2018-06-27 19:30] SnehaGunda commented on #10141
#please-close

[2018-06-27 19:35] jasonpnnl commented on #10036
@danieladams456 Thanks for the response. We found a blog post that shows how to configure what you are referring to and have found that it works for us. http://www.open-a-socket.com/index.php/2018/03/22/how-to-modify-the-aws-console-timeout-with-azure-active-directory-saml/

Agreed that including this in the docs would be useful as finding this blog post was not easy at the time.

[2018-06-27 19:40] #10648 closed

[2018-06-27 19:41] rboucher commented on #7511
#please-close

[2018-06-27 19:43] MicahMcKittrick-MSFT commented on #10862
Thanks @cloudmelon. I have assigned to the author to review and update the doc as appropriate.

@danielsollondon can you take a look?

[2018-06-27 19:44] MicahMcKittrick-MSFT commented on #10859
@rwike77 can you take a look at this and update the doc?

[2018-06-27 19:56] MicahMcKittrick-MSFT commented on #10847
@mazong1123  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-27 19:56] asote opened #10881 "Authentication error"
Getting authentication error (The requested URL returned error: 443) when  running git push azure master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a788eb-76a1-af8b-c4b7-75db633e7a5c
* Version Independent ID: 94365d96-64b4-cf52-579d-6d437cb228f3
* Content: [Local Git Deployment to Azure App Service](https://docs.

[2018-06-27 19:58] MicahMcKittrick-MSFT commented on #6500
@jeeshnair
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-27 19:58] #6500 closed

[2018-06-27 19:59] MicahMcKittrick-MSFT commented on #9814
I will close this for now. If anyone has additional questions please just let me know.

[2018-06-27 19:59] #9814 closed

[2018-06-27 20:00] MicahMcKittrick-MSFT commented on #10430
@neilpeterson can you review this and see if we should add the info that @rafaelmluz found to our docs?

[2018-06-27 20:01] MicahMcKittrick-MSFT commented on #10715
Thanks @gbowerman!

@rajsqr is this something you could shed some light on?

[2018-06-27 20:08] MicahMcKittrick-MSFT commented on #10727
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-27 20:08] #10727 closed

[2018-06-27 20:09] MicahMcKittrick-MSFT commented on #10740
@rajeshagadi2018 any update on this?

[2018-06-27 20:09] dksimpson commented on #9732
#please-close

[2018-06-27 20:09] MicahMcKittrick-MSFT commented on #10757
@CKeene78 any update on this?

[2018-06-27 20:10] TravisCragg-MSFT commented on #9732
@Lroca88 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-27 20:10] #9732 closed

[2018-06-27 20:12] MicahMcKittrick-MSFT commented on #10806
@JTalkar can you take a look? I am unable to assign directly to @echuvyrov

[2018-06-27 20:14] MicahMcKittrick-MSFT commented on #10813
@artisticcheese got it!

@dkkapur can you review this and see if we need to update the doc?

[2018-06-27 20:29] jeevansd commented on #10036
@chetansriv and @v-nagta Can you please add this claim information in step 5? That way customers can add this claim and set the value as they need.

[2018-06-27 20:29] jeevansd commented on #10036
Thanks @danieladams456  and @jasonpnnl We will update the doc with these instructions.

[2018-06-27 20:35] SnehaGunda commented on #9974
#please-close

[2018-06-27 20:36] helplessJ opened #10883 "Missing cmdlet? New-AzureRmStorageSyncGroup"
I've updated AzureRM module (with -Force) and still don't have the cmdlet mentioned above to create the SyncGroup.  Where can one obtain that?
Cmdlet in docs: "New-AzureRmStorageSyncGroup"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdb

[2018-06-27 20:41] femsulu commented on #10822
@mganeshphani can you please send the Support ticket # via mail to AzCommunity@microsoft.com? I will take a look to see how we can expedite this. Also include a link to this GitHub issue for context.

[2018-06-27 20:43] rajeshagadi2018 commented on #10740
Hi @MicahMcKittrick-MSFT , What I meant is, when you are SSHing to a remote Linux host and doing all this work. You cannot browse to the kubernates dashboard from the Win desk top.

[2018-06-27 20:51] helplessJ commented on #10883
Nevermind, found it earlier up in the docs
$agentPath = "C:\Program Files\Azure\StorageSyncAgent"

# Import the Azure File Sync management cmdlets
Import-Module "$agentPath\StorageSync.Management.PowerShell.Cmdlets.dll"

was trying to script this from my workstation.  Closing.

[2018-06-27 20:51] #10883 closed

[2018-06-27 20:53] mganeshphani commented on #10822
Done..
1. Email Sent to AzCommunity@microsoft.com with ticket details
2. Referenced GitHub link in ticket

[2018-06-27 20:54] patenik2 commented on #10826
I am looking forward to the update (and response from your team)

[2018-06-27 20:55] #10430 closed

[2018-06-27 21:05] femsulu commented on #10822
thanks @mganeshphani . Responded to your mail. If it is ok with you, can we close this GitHub issue and continue the investigation via email + support ticket?

[2018-06-27 21:07] #9974 closed

[2018-06-27 21:09] akramwaseem commented on #10592
no one is responding on the document you mentioned above. I asked couple of questions and I havent got a response back yet. can you take a look if possible.

[2018-06-27 21:12] MohitGargMSFT commented on #10879
@HenryQ1960 Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) or [Stack Overflow](https://stackoverflow.com/) could be better place to get help on your scenario.

[2018-06-27 21:18] wmgries commented on #10883
Hi @helplessJ,

Glad you were able to find the relevant section :)

We're working to get the Azure File Sync cmdlets added to the AzureRM module ASAP. @fauhse as an FYI

Thanks,

Will

[2018-06-27 21:32] georgewallace commented on #10633
@helderpinto Thank you for filing the issue.  I am looking into this.

[2018-06-27 21:41] MicahMcKittrick-MSFT commented on #10816
@jalberto thanks!

@neilpeterson can you take a look and see if we should add more information to this doc?

[2018-06-27 21:42] #10878 closed

[2018-06-27 21:59] SaurabhSharma-MSFT commented on #10683
@mattwhite-itl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 21:59] #10683 closed

[2018-06-27 22:00] SaurabhSharma-MSFT commented on #10720
@fredle We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 22:00] #10720 closed

[2018-06-27 22:00] SaurabhSharma-MSFT commented on #10725
@dennisvijlbriefrabobank We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-27 22:00] #10725 closed

[2018-06-27 22:04] jluk commented on #8553
That's weird - @samkreter any ideas?

[2018-06-27 22:09] JasonHaley commented on #8553
@jluk I found out the problem was with a BOM on the text encoding of the yaml file I created.  The CLI worked fine - it was just the encoding on my yaml file (which I created with the Windows PowerShell ISE - just in case anyone else is using that tool).

[2018-06-27 22:18] SaurabhSharma-MSFT commented on #10667
@jordanmills As we currently do not have MSI for NPS extension you can post this as a feedback at https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-27 22:20] SaurabhSharma-MSFT commented on #10798
@FrederikLeed Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-27 22:30] aftab-hassan opened #10887 "Running pcs login gives me errors"
PS C:\WINDOWS\system32&gt; pcs login
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code ********* to authenticate.
TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at makeCallback (fs.js:165:11)
    at Object.fs.mkdir (fs.js:854:14)
    at ms_rest_azure_1.interactiveLoginWithAuthResponse.then (C:\Users\afhassan\AppData\Roaming\npm\n

[2018-06-27 22:37] neilpeterson commented on #10816
@jalberto currently, the first public IP address created is used for egress traffic. From the doc.

[code]

There may be some way to hack together a deterministic solution, such as you have describe, however I am unsure of the superscribe steps / reliability etc..

My best advice would be to raise a product issue, which can be done [here](https://github.com/Azure/AKS).

[2018-06-27 22:41] neilpeterson commented on #10754
I am still working on the exact steps, however it seems a custom Azure RBAC role can be created to limit access to the `--admin` based kubeconfig file.

We will get these steps published once fleshed out.

[2018-06-27 22:41] SaurabhSharma-MSFT commented on #10751
@mganeshphani I have assigned this to content author to update you on the same.

[2018-06-27 22:43] SaurabhSharma-MSFT commented on #10717
@dcnoren Yes, as far as I know it is not possible.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.
You can also post a new MSDN forum

[2018-06-27 22:45] kobulloc-MSFT commented on #10860
@ToddTaylor You can customize templates using DotLiquid syntax, and we have code examples in Curl, C#, Java, JavaScript, Objective C, PHP, Python, and Ruby.  The following page has more information:

https://docs.microsoft.com/en-in/azure/api-management/api-management-developer-portal-templates-reference

[2018-06-27 22:53] MicahMcKittrick-MSFT commented on #10715
@imaterek we are targeting to have it release GA in the second half of 2018. So sometime in the next 6 months. Obviously this is just the target so it could change. But this is what we are able to share so far :)

[2018-06-27 22:56] SaurabhSharma-MSFT commented on #10799
@cdoidge The cmdlet requires global administrator credentials for your Azure tenant as well as on-premises Active Directory domain administrator privileges in the forest root domain. Are you currently logged in as an Active Directory domain administrator for the root domain ?

[2018-06-27 22:57] femsulu commented on #10880
@SeaJaredCode Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-27 22:58] HenryQ1960 commented on #10879
This is the link

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-specify-environment-variables

[2018-06-27 22:59] femsulu commented on #10863
@djpirra  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-27 22:59] mike-urnun-msft commented on #10661
Hi @KloudEzy - I repro-d and looked into this issue today. Unfortunately, this is a limitation at this time due to the fact that Authentication/Authorization feature relies on always having the right `hostname` for live traffic. In other words, when `-SwapWithPreviewAction ApplySlotConfig` is used, your production slot configs (including authentication settings) get applied to your staging slot bu

[2018-06-27 22:59] #10661 closed

[2018-06-27 23:01] SaurabhSharma-MSFT commented on #10855
@asos-dougbrandwilliamson Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-27 23:06] BryanTrach-MSFT commented on #10881
@asote This error is typically seen when you are behind a proxy. Can you please try from a different computer/network that is not behind a proxy or you'll need to update Git to work with your proxy.

C:\Users\[your username]\.gitconfig

[http]
    proxy = http://yourproxy.com:8080  //change your settings here
[https]
    proxy = http://yourproxy.com:8080  //change your settings here

We will now p

[2018-06-27 23:06] #10881 closed

[2018-06-27 23:08] neilpeterson commented on #10393
Updates have merged. Closing this issue.

#please-close

[2018-06-27 23:08] gadeweev opened #10888 "404 for Docker marketplace item"
https://azuremarketplace.microsoft.com/marketplace/apps/microsoft.docker-arm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2945c53e-1796-2a51-7de8-55b6289f319c
* Version Independent ID: 77acdc28-60fb-f87d-5094-cda1cfb4c48f
* Content: [Azure Marketplace items available for Azure Stack](https://docs.microsoft.com/en-us/

[2018-06-27 23:09] #10393 closed

[2018-06-27 23:14] SaurabhSharma-MSFT commented on #10873
@mfulton I followed the steps mentioned in the document and I see "Users and Groups". See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/42004443-bba54b8e-7a24-11e8-9772-ad2c85458fda.png).
Have you validated all your steps if you are getting same output as described in the document ? Can you please share screenshot.

[2018-06-27 23:23] mrbullwinkle commented on #10852
The Azure Function template has now been [updated](https://github.com/Azure/azure-functions-templates/blob/v1.x/Functions.Templates/Templates/AppInsightsScheduledDigest-CSharp/run.csx) to reflect the non beta API endpoint. Thanks again for bringing this to our attention.

[2018-06-27 23:27] scottjreece opened #10890 "Didn't work on fresh Raspberry Pi 3"
After running the first 2 scripts, there was no /etc/iotedge/config.yaml file to edit. There wasn't even an etc folder at all. Am I missing something? This missing file also prevented the IoT Edge daemon from starting.

This is on a brand new Raspbian Stretch image on a Raspberry Pi 3.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-27 23:32] scottjreece commented on #10874
That article is exactly what I need. Thanks! It's not working for me yet,
but I have another issue open for that.

On Wed, Jun 27, 2018 at 10:50 AM Kelly Gremban <notifications@github.com>
wrote:

[2018-06-27 23:33] veyalla commented on #10890
Can you confirm the curl commands you ran had the -L option?

[2018-06-27 23:43] mfulton commented on #10873
I do not get the same output.  Where your screenshot shows "users and groups" I just see "users".

[2018-06-27 23:46] kgremban commented on #5707
Hi @jcbendernh. I'm sorry for leaving this issue open for so long, but I knew that the SQL article needed serious rethinking. Today we published it in a new version as a tutorial. Please check it out and let me know if it addresses your original issue.

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-store-data-sql-server

[2018-06-27 23:48] kgremban commented on #5475
Hi @sandervandevelde. I'm sorry that I left this issue open for so long, but today we released a new version of this article as a tutorial that I think is a better end-to-end experience. Please take a look and let me know if it resolves your original issue.

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-store-data-sql-server

[2018-06-27 23:48] daveba commented on #10839
The table has now been updated by @mattchenderson.  #please-close

[2018-06-27 23:49] kgremban commented on #6413
Hi @codesmon. We published a new article today about support platforms for IoT Edge. I think this addresses your original issue. Please take a look and let me know what you think.

https://docs.microsoft.com/en-us/azure/iot-edge/support

[2018-06-27 23:49] kgremban commented on #8084
@MicahMcKittrick-MSFT could you #please-close this issue?

[2018-06-27 23:51] kgremban commented on #8298
@HowardEdidin We released a new version of the C# template today that might address the issues that you were originally having.

[2018-06-27 23:52] kgremban commented on #8466
Hi @epocket. We published a new article today that walks through the updated installation steps specifically for Linux ARM devices, which might help resolve your original issue. Please take a look and let me know what you think.

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm

[2018-06-27 23:54] kgremban commented on #8532
Hi @nzigel. I wanted to let you know that a new version of the IoT Edge runtime was released today, and it no longer uses pip to install dependencies.

@Mike-Ubezzi-MSFT would you #please-close this issue as the product has been updated?

[2018-06-27 23:55] amolajgaonkar commented on #10877
Yes. I tried that one. That is the one that gave me a 404

On Wed, Jun 27, 2018, 6:24 PM Kelly Gremban <notifications@github.com>
wrote:

[2018-06-27 23:56] #10785 closed

[2018-06-27 23:57] #8084 closed

[2018-06-27 23:59] MohitGargMSFT commented on #10590
@akramwaseem I checked and it goes here...

![s1](https://user-images.githubusercontent.com/32749549/42005817-5b0f67ee-7a2b-11e8-94ee-590e934f1bc5.JPG)

[2018-06-27 23:59] #10590 closed

[2018-06-27 23:59] #10394 closed

[2018-06-27 23:59] #10141 closed

[2018-06-28 00:00] #7511 closed

[2018-06-28 00:00] #6596 closed

[2018-06-28 00:10] SaurabhSharma-MSFT commented on #10873
@mfulton what is the directory role assigned to the sign-user using which you are trying to add the Licenses.  Are you Global Admin ?

[2018-06-28 00:27] kagowda opened #10891 "Powershell"
Any reason we don't have PowerShell commands here? I understand that easy way of editing and working with commands is by using powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e026dd3b-caa2-73bd-ce82-65660d5e2128
* Version Independent ID: a925fed6-52b4-c67d-2088-306a128984cb
* Content: [Quickstart - Deploy He

[2018-06-28 00:32] kgremban commented on #10877
My apologies, this article is showing the wrong installation steps for the IoT Edge runtime. I've created a pull request to correct this, and the correct version will be available tomorrow morning. In the meantime, you can refer to https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-linux for the installation steps.

[2018-06-28 00:35] asote commented on #10881
@BryanTrach-MSFT  Sorry for the lack of details. I'm using local git deployment from Azure Cloud shell following this tutorial https://docs.microsoft.com/en-us/azure/app-service/scripts/app-service-cli-deploy-local-git

[2018-06-28 00:37] ToddTaylor commented on #10860
@kobulloc-MSFT I should've been clearer in my original post.  By "languages", I'm referring to localization as referred to in the beginning of the document:

I haven't been able to find which languages are supported by API Management.

[2018-06-28 00:44] veyalla commented on #10890
@scottjreece Thanks, what does `ls -l /etc` return?

[2018-06-28 00:51] scottjreece commented on #10890
pi@raspberrypi:/etc $ ls -l /etc
total 1008
-rw-r--r--  1 root root    2981 Apr 18 00:05 adduser.conf
drwxr-xr-x  2 root root   12288 Apr 18 00:54 alternatives
drwxr-xr-x  3 root root    4096 Apr 18 00:45 apache2
drwxr-xr-x  3 root root    4096 Apr 18 00:32 apparmor.d
drwxr-xr-x  6 root root    4096 Apr 18 01:24 apt
drwxr-xr-x  3 root root    4096 Apr 18 00:26 avahi
-rw-r--r--  1 root root    1863

[2018-06-28 00:55] joe392018 opened #10893 "User-initiated reboot or shutdown actions. Who did it?"
I am aware that an Azure VM which was rebooted/shut down in the OS level can be viewed in the OS System logs.  Is there "another"  way to check
 who did it without logging in to the Azure VM just to verify the System logs? Your response will be very much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f6f

[2018-06-28 01:07] veyalla commented on #10890
Hmm, I do see:
`drwxr-xr-x  2 root root    4096 Jun 27 23:34 iotedge`

Is `sudo nano /etc/iotedge/config.yaml` returning an error?

[2018-06-28 01:09] mfulton commented on #10873
Yes I am Global Admin

[2018-06-28 01:11] femsulu commented on #10867
@KFlowerz Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-06-28 01:15] madymantha opened #10894 "personality chat npm package"
is there a node.js version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19cd48c-985a-9ab4-8514-b8f956320251
* Version Independent ID: 776a690a-a866-6edd-4092-980e75c4ef36
* Content: [What is Project Personality Chat? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/project-perso

[2018-06-28 01:16] femsulu commented on #10887
@aftab-hassan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-28 01:19] femsulu commented on #10891
@kagowda Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-28 01:36] femsulu commented on #10888
@gadeweev Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-28 01:39] femsulu commented on #10369
@ankitgoelcmu We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 01:39] #10369 closed

[2018-06-28 01:43] femsulu commented on #10517
@SMHolck Please let me know if this is still an issue?

[2018-06-28 01:46] femsulu commented on #10540
@bdzeeuw confirming this fix is now live.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 01:46] #10540 closed

[2018-06-28 01:49] scottjreece commented on #10890
Yes, that works. Looks like we can chalk this one up to user error. I'm a
'nix noob and didn't realize how the magical /etc folder works.

Thanks for the quick responses!

-Scott

On Wed, Jun 27, 2018 at 6:07 PM Venkat Yalla <notifications@github.com>
wrote:

[2018-06-28 01:50] femsulu commented on #10570
@OleksaDev any update on my previous comment pls?

[2018-06-28 01:51] femsulu commented on #10576
@akramwaseem We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 01:51] #10576 closed

[2018-06-28 01:53] femsulu commented on #10731
@DeclareHigh confirming the fix is now live.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 01:53] #10731 closed

[2018-06-28 02:10] femsulu commented on #10839
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 02:10] #10839 closed

[2018-06-28 02:11] femsulu commented on #8532
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 02:11] #8532 closed

[2018-06-28 02:13] Balanc3 commented on #10307
replicated

[2018-06-28 02:40] femsulu commented on #10767
@DianaPutnam only those assigned with the built-in **Monitoring Contributor** role can edit it. AFAIk, Subscription owners will also need to have the Monitoring Contributor role to make edits.
@johnkemnetz can you please validate?

[2018-06-28 02:42] kazshi opened #10896 "deleted Attunity Replicate for Microsoft Migrations link?"
Looks like description of Attunity Percona was deleted recently - my customer (and myself) is confused because of the update. If I remember correctly, the page has a description (and/or link) about Attunity Replicate for Microsoft Migrations tool, Does DMS (https://datamigration.microsoft.com/) support migration from Percona? or still need to use Attunity Replicate for Microsoft Migrations (https:

[2018-06-28 03:14] Jich2018 commented on #9472
Hi,

After I configured the Application Insights as describe above, I got a 502 "Bad Gateway" error when running the query. The application insights and Logic apps are created in the same subscription, but different location. The generated key with all permissions selected.
[code]

[2018-06-28 03:16] amanarneja commented on #10791
@kamleshdelat This repo is specifically for Comments or issues across the Azure-Docs document Repo. Unfortunately the original issue or the response above does not provide us enough context to proceed. Can you please answer the following questions?

- **Are you following directions from a particular doc (Yes/No) **
- If Yes, Can you share the Link?
- If No, can you please help us understand what y

[2018-06-28 03:19] femsulu commented on #10822
We will now close this issue and continue the conversation via the support ticket/channel. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 03:19] #10822 closed

[2018-06-28 03:23] Jich2018 opened #10897 "502 Bad Gateway"
Hi,

After I configured the Application Insights as describe above, I got a 502 "Bad Gateway" error when running the query. The application insights and Logic apps are created in the same subscription, but different location. The generated key with all permissions selected.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-06-28 03:31] #10890 closed

[2018-06-28 03:46] aszalacinski commented on #9557
Documentation for MSAL is poor and all over the place. GitHub wiki for MSAL is atrocious. Come on MS!

[2018-06-28 04:04] jrhoward opened #10898 "Pod disruption budgets"
Does AKS support pod disruption budgets?
I upgraded from 1.9.6 to 1.10.3 and the my disruption budgets were not honoured

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS

[2018-06-28 04:42] digeler opened #10899 "Add built in role not only the bindings"
Please also add reference to the roles:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml

So user will know to which role he binds to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent

[2018-06-28 04:48] kamleshdelat commented on #10791
@amanarneja It's fix adding two germs
gem  'json', '1.8.6'
gem  'pkg-config','~> 1.1'

[2018-06-28 04:52] kobulloc-MSFT commented on #10860
@ToddTaylor Thank you for rephrasing that.  I haven't been able to find a language list other than the one I mentioned before.  Let's get the document author to clarify.

@vladvino Do we have a supported language list for API Management?  I think this would be a useful addition to the documentation.

[2018-06-28 04:56] kobulloc-MSFT commented on #10897
@Jich2018 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-06-28 04:58] lionello commented on #5626
@tfitzmac I can't see "keys" either, not in Settings not anywhere.

[2018-06-28 04:58] amanarneja commented on #10791
@kamleshdelat Not sure what that means. Can you please answer the questions from above so that we get more context ?

[2018-06-28 05:02] toddwhitehead opened #10900 "sudo required for iotedge commands"
needed to do "sudo iotedge list" rather than "iotedge list" as indicated above.

Is there a way to add the user to a group so that they dont need to do sudo all the time like previously by adding the user to the docker group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57c035a2-9ca9-2bbf-f9db-263bb0411de8
* Version

[2018-06-28 05:12] toddwhitehead opened #10901 "iotedged failing to start"
Following steps on ubuntu 16.04  and the iotedge daemon fails to start. Validate that connection string is correct in config.yaml and restarted the daemon.

todd@iotnuc:/etc/iotedge$ sudo systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2018-06-28 15:03:0

[2018-06-28 05:34] MichelZ commented on #6096
@mtillman It's 2 months later now, and still no update? I too was misled by this article and the v1-v2 comparison, and I'd really like to know what current limitations are and what the guideance is around the V1 vs V2 endpoints now. Thanks!

[2018-06-28 05:55] msvijayn commented on #10811
You can find the action group details, from Azure portal. See linked doc for details/screenshot:
![image](https://user-images.githubusercontent.com/33087919/42015653-c9df5518-7ac5-11e8-98e2-4e9eb968c9ef.png)
Or you can use the API interface: https://docs.microsoft.com/en-us/rest/api/monitor/actiongroups

[2018-06-28 06:00] msvijayn commented on #10871
CustomWebhookPayload as described in doc, is for custom JSON schema for webhook payload and not URI. As highlighted in doc, webhook uri is part of ActionGroup - use the provided link to ActionGroup template to create the same.
![image](https://user-images.githubusercontent.com/33087919/42015832-98817432-7ac6-11e8-83df-af1066b71a4b.png)

[2018-06-28 06:15] PiniKrisher commented on #7245
i put in SSMS in options:
ApplicationIntent = ReadOnly
and still going to the READ-Write copy...
what did i missed?

[2018-06-28 06:33] JensNordenbro commented on #8532
@kgremban ; I can only see https://github.com/Azure/iot-edge-v1, not v2 repo.

Where is it located?

[2018-06-28 06:34] meetarun-m commented on #8002
I am facing the same problem.
When I try to use "Add Existing Folder As Project" I am getting the error message "Selected directory is used for another project"

[2018-06-28 07:22] cdoidge commented on #10799
Yes, logged in as Domain Admin and passing the command azure global
administrator credentials. The powershell window opened using 'run as
administrator'

On 27 June 2018 at 23:56, SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2018-06-28 07:22] toddwhitehead commented on #10901
Solution:
Having the preview versions of the containers and images seems to be the cause of the issue. To fix, do the following.

1. Stop the Daemon :
sudo systemctl stop iotedge

2. Delete all containers & images
docker rm $(docker ps -a -q)
docker rmi $(docker images -q)
3. Restart Daemon
sudo systemctl start iotedge

[2018-06-28 07:48] kunalaphadnis99 opened #10904 "Provisioning error occurred"
Hello, with the new IoT Edge daemon changes, I tried with the steps given in this tutorial to update my current deployments. However, it gives me an error: A provisioning error occurred. caused by provisioning error. And the daemon fails to start. Appreciate your help.

![image](https://user-images.githubusercontent.com/3131438/42020561-d4243efc-7ad5-11e8-8a14-60ba62de2698.png)

---
#### Document

[2018-06-28 08:39] coderangerdan commented on #7295
How do you run a script you have uploaded to the cloud drive

[2018-06-28 08:42] toddwhitehead commented on #10904
Not sure of the process you followed to upgrade but you may be hitting a similar issue I did that was fixed by clearing out the current images and containers. I detailed my solution at https://blogs.msdn.microsoft.com/toddwhitehead/2018/06/28/upgrading-from-preview-to-ga-version-of-iot-edge/ might be worth trying

[2018-06-28 08:46] AzureStacker opened #10906 "NTP"
Should NTP (UDP 123) be listed above for time sync post-deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf65509-158a-6ae7-60f0-586170fab6af
* Version Independent ID: e42850b4-5019-37d3-701b-aac444d3c314
* Content: [Azure Stack datacenter integration - Publish endpoints](https://docs.microsoft.com/en-us/azur

[2018-06-28 08:48] tigerdeccan commented on #8503
Hi , Has anyone else tried this. I tried same settings as @Milope but my backend health is showing like below as if App Gateway cant resolve API proxy . I have got all 4 DNS entries.
I get below error .
Backend server FQDN cannot be resolved. Check FQDN for correctness. If custom DNS server is used within VNET, check if DNS is able to resolve FQDN.

[2018-06-28 08:54] toddwhitehead commented on #8532
The repo is at https://github.com/azure/azure-iotedge but the v2 code hasn't been released there yet. The doco has been updated with the GA version and setup process which quite different to the preview version
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux

[2018-06-28 09:06] m1nkeh commented on #9936
i will contact someone in the cosmos team i think to talk through our specific workload, and see how we go.. currently this is causing me a great deal of pain.

[2018-06-28 09:08] buzzfrog opened #10907 "Need to update the information about "public preview""
It is now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f82c647cb8
* Content: [Understand the Azure IoT Edge runtime](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-runtime)
* Content Source: [articles/iot-edge/iot-e

[2018-06-28 09:11] OskarKlintrot commented on #6533
@abgreg I'm also trying to use `UserContext` for a WebApi. However we don't have any events either, only requests. Is it still possible to use the Users Tool? Do I have to set an Id for the `SessionContext` as well?

[2018-06-28 09:18] OskarKlintrot commented on #6533
@abgreg Nevermind, I noticed I just hade to change `Who used` to `Any Request`.

[2018-06-28 09:18] johnakeogh commented on #10809
Conditional Access can be accessed via
Intune --> Manage - > Conditional Accesss
or
Azure AD --> Security --> Conditional Access
(The Azure AD method also shows you any classic policies)

[2018-06-28 09:28] kunalaphadnis99 commented on #10904
Hello Todd, I tried with steps given in the link. But it gives the same error.
FYI: I have entered the device connection string in yaml config file.
Thanks.

[2018-06-28 10:10] sergaz-msft commented on #10703
Hello @romankiss and thank you for the clarification. I also did some tests on my own and I also couldn't
 set deadLetterDestination null again (Azure CLI or REST). Since this is still in preview I believe there should be some work in progress to address that, but I will get a confirmation from the Product Group and let you know.

As a **workaround** can you please remove the subscription and recr

[2018-06-28 10:11] sheeshmohsin opened #10909 "Above python code is not working for me"
Here is error I am getting:-

Traceback (most recent call last):
  File "connect.py", line 8, in &lt;module&gt;
    cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+',1443;DATABASE='+database+';UID='+username+';PWD='+ password+';Encrypt=yes;TrustServerCertificate=yes;Connection Timeout=60;')
pyodbc.OperationalError: ('HYT00', '[HYT00] [unixODBC][Microsoft][ODBC Driver 13 for SQL Server]Log

[2018-06-28 10:16] TecumsehSamp commented on #8454
Hey! Is there any update on the status of this?
Thanks.

[2018-06-28 10:16] TecumsehSamp commented on #8454
Woops did not mean to close it :/

[2018-06-28 10:23] mnall opened #10910 "Purchasing single or multiple reservations for the same VM type and region"
Is it possible to purchase a reservation for example for North Europe for a D12_v2 for 1 year with a quantity of 1 and then a second reservation for the same VM type and region for a quantity of 1 also?

If this is possible, you could purchase 10 different reservations for the same VM type and region instead of one reservation for a VM and region with a quantity of 10, if you wanted to be able to

[2018-06-28 10:44] tofula opened #10912 "Translate array length limits"
Could you please confirm the limits for the single item in the array? I saw in the past it was mentioned the limit for a single item is 1000 chara, but it looks like this has been recently removed from the docs. Thus I am wondering if now the only limit is the size and the total length of the array. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-06-28 10:45] tofula commented on #7935
Sorry, this was moved to separate thread.

[2018-06-28 10:59] mnall opened #10914 "EA Portal – Reserved Instances from a billing point of view"
Example scenario
In the EA portal at the start of August you have €200k.
You want to purchase 100 E4_v3 VMs which has a total reservation cost of ~128k
(In the pricing calculator this cost for 100 E4_v3 is ~€264 as this includes SW cost)

Our understanding is that the Purchase RI reservation will be for €128K, the Usage Summary report in the EA portal will show decrease to €72k in August?

This wi

[2018-06-28 11:08] craigshoemaker commented on #10411
@graham-sportsmgmt I have created an internal work item to address your suggestion, Thanks again!

[2018-06-28 11:19] sheeshmohsin commented on #10909
It worked now by substituting `pyodbc.connect` line with these two lines :-

Please update it, so that no other user will face this issue, it wasted me around 2 hours :(

connection_string = 'DRIVER={driver};PORT=1433;SERVER={server};DATABASE={database};UID={username};PWD={password}'.format(driver=driver, server=server, database=database, username=username, password=password)
cnxn = pyodbc.connect

[2018-06-28 11:19] sheeshmohsin commented on #10909
[code]

[2018-06-28 11:29] sergaz-msft commented on #10780
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-28 11:29] #10780 closed

[2018-06-28 11:32] sergaz-msft commented on #10781
@rudeGit let us know if you had the time to double check the Incoming Messages metric or if the information provided was able to clarify your current questions? Thanks

[2018-06-28 11:36] JensNordenbro commented on #8532
Hi @toddwhitehead ;
1) I notice that you are bundling a docker (Moby) package of your own. I am trying to understand **why**, since for example Raspberrian has Docker, Yocto can build Docker and ResinOS does this in the form of Balena ?!
2) What are the dependencies of the kernel/userland for this work? (cgroup ?)

[2018-06-28 11:36] sergaz-msft commented on #10900
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-28 11:37] buzzfrog opened #10915 "Can't find https://raw.githubusercontent.com/me/project/hello.sh"
This file doesn't exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2de55b5-9d87-fdb9-3040-6bdf3cf8ff0b
* Version Independent ID: 4e3fbc53-a0d2-182a-9d57-b94caba27fbf
* Content: [Azure VM extensions and features for Linux](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux)
* Content

[2018-06-28 11:37] krajniak opened #10916 "Problem with using the connector"
I'm trying to connect with Twitter account,
After I successfully give Microsoft rights to use my Twitter account, on azure portal I receive error:

"Failed with error: 'OAuth1 authorization flow failed for service 'Twitter'. The following required non-empty parameters were empty in the UserAuthorizationResponse message: oauth_verifier'. Please sign in again."

Signing again does not help.

---
###

[2018-06-28 11:40] sergaz-msft commented on #10901
Hi @toddwhitehead , thank you for providing the solution for the issue you were facing 👍 . I am sure that it will help others. Closing the issue now.

[2018-06-28 11:40] #10901 closed

[2018-06-28 11:42] davidbarrows opened #10917 "The "Hello, World" message causes a JSON parsing error in .Net core app"
The example seems to be written where the console app is a .Net framework app.   The advice about configs needs modification - see:  https://stackoverflow.com/questions/28307122/azure-webjobs-connection-strings-configuration-azurewebjobsdashboard/51080639#51080639  and also... the "Hello World" message on the queue needs to be formatted as JSON, not just a raw string, or it causes a JSON parsing e

[2018-06-28 11:43] raghukrishnamoorthy commented on #9926
Incomplete documentation. Classic. Sigh.

[2018-06-28 11:53] jholovacs opened #10918 "Example of how to access blob/ file storage for big data/ mapreduce?"
I'd like to see some examples of how to use this product to set up a mapreduce job to consume data from unstructured data files and run on multiple nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56657840-9406-d909-f67d-674406290ffe
* Version Independent ID: 2c309d68-18e6-89d5-ff14-835a32c622a3
* Content: [Azure

[2018-06-28 11:53] cjtireus opened #10919 "Storage account access to OMS/Log Analytics"
Can you elaborate on the correct way to let OMS read diagnostic and log data? OMS/Log Analytics isn’t listed as a trusted MS service (why that is I don’t understand).
Is the correct/recommended way to “manually” add all public IP’s of the Azure Region you are running your OMS workspace in, or is there another better/easier way?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-06-28 12:03] msvijayn commented on #10868
@MetehanBolat - Hi, from your request I think you are alluding to Activity log alerts (i.e.) notify when a specific resource is created/modified. As in doc, activity log alert has been detailed in a separate document:
![image](https://user-images.githubusercontent.com/33087919/42032956-e4ddaaa8-7af8-11e8-8f83-77c94250904f.png)
The linked doc for creating Activity Log alerts is: [https://docs.micro

[2018-06-28 12:12] sbgillett opened #10920 "Needs update"
These instructions are currently incorrect. The 'Mimecast Administration Portal' AAD app from the gallery features input validation controls on form fields which are incompatible with what needs to be entered. We worked around by adding a custom app to our directory and configuring manually. We also had to use https://eu-api.mimecast.com/login/saml for the reply URL in AAD.

---
#### Document deta

[2018-06-28 12:26] marinnedea opened #10921 "Not working for all Linux distributions"
The tutorial above is working only on RHEL based distributions.
Please update it to include instructions for other distributions or change the title and description to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 538d49b2-3542-c84c-a883-df9aa130b211
* Version Independent ID: 5b259a91-530d-1bb9-017c-a3d0

[2018-06-28 12:30] Lroca88 commented on #9732
Thanks, @TravisCragg-MSFT, @dksimpson!

[2018-06-28 12:39] msherrill opened #10922 "SQL-users' cheat sheet should discourage using count(). Use sum(itemCount) instead."
Application Insights sampling makes count() give inaccurate or surprising numbers in some (all?) contexts. Not all sampling is under the client's control, so it seems to make more sense to use sum(itemCount) all the time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f7088d-dd07-e0dd-1204-50da3a29359c
* Version Inde

[2018-06-28 12:53] lawrencegripper commented on #8354
I wanted to check in on this one - @deanmccrae has also raised the lack of docs for this extension while using the traefik with service fabric. See https://github.com/jjcollinge/traefik-on-service-fabric/issues/67#issuecomment-401005408

[2018-06-28 13:35] mrbullwinkle commented on #10852
#please-close

[2018-06-28 13:41] v-geberr commented on #10771
@mattquinn4 Thank you for your patience. The new endpoint referenced is indeed via the SDK only. The documentation will be updated to make this clear. The SDK recieves audio, converts to text, then sends on to LUIS for prediction. This [document](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-tutorial-speech-to-intent) should help with the details of implementation.

[2018-06-28 13:44] v-geberr commented on #9965
#please-close

[2018-06-28 13:53] PaoloCastAway opened #10925 "No StrongAuthenticationRequirements parameter for Set-MsolUser"
Current version of the MSOnline PowerShell module (1.1.183.8) doesn't have any **StrongAuthenticationRequirements** parameter for **Set-MsolUser** cmdlet. Currently I'm using this code to enable MFA:

`$user = Get-MsolUser -UserPrincipalName 'name@domain.onmicrosoft.com'`
`$req = New-Object -TypeName Microsoft.Online.Administration.StrongAuthenticationRequirement -Property @{`
   `    State = 'Ena

[2018-06-28 14:07] PaoloCastAway opened #10926 "How to enable/enforce MFA with Azure AD V2 PowerShell module"
PowerShell code here showed is targeting the old and "_almost deprecated_" **MSOnline** module. As stated [here](https://docs.microsoft.com/en-us/powershell/module/msonline/?view=azureadps-1.0):

_Customers are encouraged to use the newer Azure Active Directory V2 PowerShell module instead of this module_

But, AFAIK, there's no way to enable MFA with the V2 Azure AD module. Please correct me!

--

[2018-06-28 14:18] ruirosamendes opened #10927 "Only Subscriptions OWNERS will see available subscriptions to deploy?"
Hi,

On this wizard we will see subscriptions owned. Right?
Contributors (role) on the subscription will not be able to use this wizard?
Can they do having another special role for it?

Thanks, Rui

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df6fbcd-da26-3e72-bf75-ce132071e3a0
* Version Independent ID: 89637b16-58d

[2018-06-28 14:25] kylecweeks opened #10928 "SCOM Agent vs. MMS Agent"
Can you add a doc for integrating SCOM to Update Management? Need to show that the SCOM Agent has to be updated to the Microsoft Management Agent to get system hybrid runbook worker, and report to Log Analytics for full functionality in order to deploy updates. Otherwise, the SCOM agent works just fine for compliance reporting only.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-06-28 15:02] PhilippSpo commented on #9884
@SaurabhSharma-MSFT for us the "Single sign-on" disappears immediately after it shows up. Any idea what could be causing that?

[2018-06-28 15:22] asote opened #10930 "Problem running script in Bash"
I grabbed the sample script above and uploaded it to my cloud drive in Azure Cloud Shell as webappdeployment.sh
When I run the  script from Azure Cloud Shell
myusername@Azure:~/clouddrive/quickstart$ bash webappdeployment.sh

I get an error when trying to create resource group name.

Command:
az group create --location centralus --name myResourceGroup

Error:
Parameter 'resource_group_name' must c

[2018-06-28 15:28] MicahMcKittrick-MSFT commented on #10915
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-28 15:29] SaurabhSharma-MSFT commented on #10733
@BBokdam Please refer to [Set up app-based conditional access policies with Intune](https://docs.microsoft.com/en-us/intune/app-based-conditional-access-intune-create) and [Intune Managed Browser (MAM) with Azure AD Application Proxy and Conditional Access](https://oliverkieselbach.com/tag/conditional-access/) if it helps.
Alternatively, for you specific scenario I suggest you to please open a new

[2018-06-28 15:29] MicahMcKittrick-MSFT commented on #10921
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-28 15:32] MicahMcKittrick-MSFT commented on #9926
@ggailey777 bringing this to the top of your mailbox. Any update?

[2018-06-28 15:34] glerler commented on #10825
You points for the followup and response.

  1.
 List of regions and the correct string to use ?   I went looking and if such an animal exists I couldn't find it.
  2.
Portal just gives a URL endpoint to make calls to along with the keys.  No mention of regions.
  3.
I got it to work by pulling what looked like region out of the URL string.

Thanks for the timely response

Glenn L. Erler
Erler Tec

[2018-06-28 15:35] D-Signer opened #10931 "Missing PartitionKey Options"
I'm using a CosmosDBTrigger, configuring it as such, the strings being environmentVariables.

`[CosmosDBTrigger("Hub", "graph", LeaseCollectionName ="lease",ConnectionStringSetting = "DBConnection")]`

The way my database is configured, a partition Key is needed to listen to changes on the database, however I have found no option to include the partition key in this call.
Websearches have given me

[2018-06-28 15:36] tdykstra commented on #10917
@davidbarrows Thanks for reporting that.  We've added a note in the **Create a project** section warning about 3.x being in preview and under development and not to rely on the instructions.  See also the other GitHub issue about .NET Core apps at the bottom of the article. A change to DI functionality is in the process of being released, and after the pace of change settles down we'll update the

[2018-06-28 15:57] pauloortins commented on #9808
I pushed a PR to fix it (https://github.com/Azure/azure-notificationhubs-samples/pull/53)

[2018-06-28 15:57] CarlRabeler commented on #10909
@sheeshmohsin Thank you for reporting this and for your update. We are reviewing your fix. I can tell you that it did work properly at the time it was written and the machine it was tested on. Aargh

[2018-06-28 16:03] tfitzmac commented on #10703
@romankiss - thanks for this feedback. We are looking into this issue. The suggestion from @sergaz-msft is a good option for now. Hopefully, we will soon know if there is another way to turn off deadlettering or a fix on the way.

[2018-06-28 16:21] douglaslMS commented on #10863
@djpirra Please see whether the new information that we have added to his page helps to satisfy your requirement: [Using Blob Events Trigger Properties](https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger#using-blob-events-trigger-properties)

[2018-06-28 16:25] BeMor opened #10932 "Details on how to access other resources?"
Apologies if I'm missing something but I can't see any details on how to access other resources such only how to obtain a MSI token. There's no details or examples on what to do with that token. Access SQL there's a link to but Office 365 resources such as using the Graph API would be useful. Sorry if I'm missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-28 16:25] richardzcode opened #10933 "up is not an az webapp command"
az --version
azure-cli (2.0.38)

az webapp up
az webapp: 'up' is not an az webapp command. See 'az webapp --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [Create a static HTML web app in Azure](https:/

[2018-06-28 16:30] kgremban commented on #10874
@scottjreece I'm glad this was helpful. Would you like to close this issue, and we'll continue to work with you on the curl commands?

[2018-06-28 16:35] #10874 closed

[2018-06-28 16:36] rwike77 commented on #10891
@kagowda There is no PowerShell support, yet.  Only Azure CLI.  #please-close

[2018-06-28 16:41] msangapu commented on #10933
Hi @richardzcode. The webapp extension needs to be installed. See https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html#install-web-app-extension-for-cloud-shell

Try this:
az extension add -n webapp

[2018-06-28 16:53] sergaz-msft commented on #10904
@kunalaphadnis99 thank you for your feedback! Can I ask you to try it with a brand new IoTEdge Device? Thanks.

[2018-06-28 16:55] sergaz-msft commented on #10907
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-28 16:56] wesmc7777 commented on #10571
Yes, groups are managed at the service end.

[2018-06-28 17:01] richardzcode commented on #10933
Right! Thank you @msangapu !

[2018-06-28 17:01] #10933 closed

[2018-06-28 17:11] MohitGargMSFT commented on #10920
@sbgillett Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-28 17:12] MohitGargMSFT commented on #10925
@PaoloCastAway Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-28 17:13] MohitGargMSFT commented on #10926
@PaoloCastAway Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-28 17:14] MohitGargMSFT commented on #10894
@madymantha Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-28 17:15] daveba commented on #10855
@asos-dougbrandwilliamson I will investigate this issue and get back with you shortly with an answer.

[2018-06-28 17:15] MohitGargMSFT commented on #10896
@kazshi Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-28 17:17] MohitGargMSFT commented on #10927
@ruirosamendes Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-28 17:21] curtand commented on #10290
Hi @gutjahr I'm assured I'll have an answer in a few days. Early next week (July 2 or 3).

[2018-06-28 17:23] MohitGargMSFT commented on #10931
@D-Signer Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) could be better place to get help on your scenario. As these forum community has many members and could provid

[2018-06-28 17:29] vasivara-MSFT commented on #10918
@jholovacs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-28 17:30] BryanTrach-MSFT commented on #10932
@BeMor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-28 17:30] MohitGargMSFT commented on #10916
@krajniak Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-28 17:31] BryanTrach-MSFT commented on #10930
@asote Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-28 17:31] #10891 closed

[2018-06-28 17:31] #10852 closed

[2018-06-28 17:31] #10718 closed

[2018-06-28 17:37] FMartull opened #10935 "Broken link"
import the runbook -&gt; 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8081200f-2bf4-db58-c957-c8ab7af5f90b
* Version Independent ID: b135cf1a-c391-03e5-41e7-e13571351e91
* Content: [Azure Automation Runbook Types](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types)
* Content Source: [artic

[2018-06-28 17:38] femsulu commented on #10914
@mnall
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-28 17:38] sergaz-msft commented on #10793
@andy1012 on [this doc](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux) that you opened this issue at what step is failing? Please make sure that you follow all the steps and prerequisites as described.

Thanks!

[2018-06-28 17:40] antondahlin opened #10936 "an exception is received by the calling code"
About exceptions, for the "Number of subscriptions per topic" quota, is the exception received "QuotaExceededException"?

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
* Content: [Microsoft Azure Service Bus quo

[2018-06-28 17:40] femsulu commented on #10928
@kylecweeks
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-28 17:44] sergaz-msft commented on #10858
@kunalaphadnis99  is this issue the same as #10904 ? Thank you.

[2018-06-28 17:49] furmangg commented on #10217
From https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?view=sql-server-2017

PolyBase can consume a maximum of 33k files per folder when running 32 concurrent PolyBase queries. This maximum number includes both files and subfolders in each HDFS folder. If the degree of concurrency is less than 32, a user can run PolyBase queries against folders in HDFS which

[2018-06-28 18:23] georgewallace commented on #10633
@helderpinto Thanks for reaching out.  The requirements and the logs in the articles are correct for troubleshooting issues with update deployments. The omsupdatemgmt.log is the correct log to review whether the update deployment failed or not, if it was not present it is most likely because the update run never started.  If you are continuing to see this issue, I suggest you contact support to fi

[2018-06-28 18:29] akramwaseem commented on #10871
@msvijayn -- Do you have any if on how to add multiple action groups into single Json template.
I want to call multiple action groups for a single alert.

[2018-06-28 18:29] MicahMcKittrick-MSFT commented on #10893
@joe392018 if the user initiates are reboot from within the VM itself then you will need to check the system logs. Otherwise, if a reboot or shutdown operation is initiated via the portal you can check the activity logs. These are located by clicking on the VM and then selecting "Activity Logs". You will see a column named "initiated By". Here is where you can see who initiated the operation.

[2018-06-28 18:48] CKeene78 commented on #10757
Behavior on both VSCode and CLI.

Turns out the jobs were "stuck" in the Azure Storage webjobs storage. Once I cleared them out of there the phantom jobs stopped appearing.

[2018-06-28 19:02] ericjenouvrier opened #10940 "RSS Feed Broken"
Hi there, I believe the RSS Feed of the page is broken : https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us there is just 1 item in the feed, instead a collection of item (1 item per news).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-b

[2018-06-28 19:02] MicahMcKittrick-MSFT commented on #10898
@neilpeterson, @iainfoulds do either of you know anything about this?

@jrhoward can you tell me a bit more? What did you see when you upgraded? Were the disruptions removed or just did not work as you had expected?

[2018-06-28 19:10] MicahMcKittrick-MSFT commented on #10910
@mnall I do not see anything blocking you from purchasing multiple reserved instances on one subscription for the same VM series and region.

You can cancel a reservation at any time (up to $50,000 per year). Cancelling allows you to return the remaining months of a RI back to Microsoft for an early termination fee of 12 percent. The remaining prorated balance, minus the fee, will be refunded to y

[2018-06-28 19:15] MicahMcKittrick-MSFT commented on #10915
@buzzfrog what is the name of the hyperlink that is broken? I am not finding it.

[2018-06-28 19:18] MicahMcKittrick-MSFT commented on #10921
Thanks @marinnedea. I am not sure the scope of this article if it is meant to work for all. Regardless, I will assign to the content author to take a look and if needed at least make that more clear.

@iainfoulds can you take a look?

[2018-06-28 19:21] MicahMcKittrick-MSFT commented on #10757
@CKeene78 thanks for that update! Glad to hear you were able to figure it out. I will close this but if you have more questions just let me know :)

[2018-06-28 19:21] #10757 closed

[2018-06-28 19:45] HJToland3 commented on #10896
@kazshi The Azure Database Migration Service can accommodate Percona as a source.  Can you reach out to me directly at jtoland@microsoft.com so that I can get some additional information about your scenario?  Thanks in advance!

[2018-06-28 19:47] kgremban commented on #10877
@amolajgaonkar The correct version was published this morning. Please take another look and let me know if your issue is resolved.

[2018-06-28 20:09] iainfoulds commented on #10921
Sorry you ran into issues, @marinnedea. When docs get into specific Linux steps, we typically don't try to cover all the Linux distros unless there are Azure-specific steps to take. In this case, the Azure virtual networking components are consistent across distros. It is then that in-guest configuration for the routes and tables that may differ from distro to distro. There's a balance in then cov

[2018-06-28 20:13] #10921 closed

[2018-06-28 20:27] ronbok opened #10942 "You need to login to the ACR first before you push..."
...the documentation fails to tell you you'll need to execute a 'docker login https://&lt;acrname&gt;.azurecr.io/' command prior to the push.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* Content: [Kubernetes on Azure

[2018-06-28 20:29] marinnedea commented on #10921
@iainfoulds Thank you. The problem is that without specifying a distribution and also into documentation not being mentioned for which distributions will work, if the users are not very familiar with the networking files in various distributions, will assume (and probably try to apply those steps) that the steps are gonna work for all Linux flavors.
Until you have the documentation in place with s

[2018-06-28 20:51] iainfoulds commented on #10921
Sure, which is what the in-progress updates do. I've asked the network folks to prioritize review so that it can be published soon.

[2018-06-28 20:52] markkottke commented on #10508
@Mike-Ubezz--MSFT do you have an update on @YonglinagLi's error?   I am seeing the same issue.

[2018-06-28 20:53] CelesteDG commented on #6096
Hello @MohitGargMSFT @MicahMcKittrick-MSFT @SaurabhSharma-MSFT - Can you please re-open this issue? It was originally opened and closed before I joined the team, but it looks like there's inaccuracies with the article. Please assign the issue to me and I'm following up. Thank you.

[2018-06-28 20:57] MicahMcKittrick-MSFT commented on #10942
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-28 21:00] jingjing-z commented on #9618
@prkhandelwal you can see Azure maps unsupported regions below. Could you check if your IP address is mapped to one of the unsupported regions? We are working on adding support for those regions.

https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#unsupported-regions

[2018-06-28 21:05] kgremban commented on #10907
@buzzfrog Thank you for pointing this out. I've submitted a pull request to fix this and will have the changes published later today.

[2018-06-28 21:14] CelesteDG commented on #6096
Tracking this work item in VSTS with PBI 479698

[2018-06-28 21:23] vasivara-MSFT commented on #10685
@staciav Thanks for your contribution. We truly appreciate your contribution and the document is updated

[2018-06-28 21:28] ronbok commented on #10942
Actually, I think this is my error.  😊

I missed the  az acr login --name <acrName>  step outlined.

I did get the docker login to work after turning on the Admin and getting the Access Key though, so either work, but the one described is more secure and private.

Sorry for the fire drill.

Ron Bokleman  |  Services Manager, Digital Innovation  |  BlueMetal, a division of Insight
c. 617-512-5877

[2018-06-28 21:28] don4of4 opened #10943 "Unclear How Max Concurrent Jobs Is Set"
For self-hosted runtimes, it would be good to understand if the max-concurrent jobs metric will scale when we increase the size of the VM.  If not, how do we override that value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f114f7a-7512-a610-b4ba-271bb946de0a
* Version Independent ID: 9d7555ed-3884-da9b-7695-36b7608

[2018-06-28 21:35] MicahMcKittrick-MSFT commented on #10942
@ronbok thanks for the update! If you notice other issues just let us know :)

[2018-06-28 21:35] #10942 closed

[2018-06-28 21:59] neilpeterson commented on #10816
@jalberto - I am going to close this doc issue. If there is anything else, please let us know.

#please-close

[2018-06-28 22:10] vasivara-MSFT commented on #10943
@don4of4 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-28 22:11] msangapu commented on #8454
Hi @TecumsehSamp  I'm looking into this. I'll get back to you.

[2018-06-28 22:14] femsulu commented on #10887
assigned to @hegate as requested.

[2018-06-28 22:14] SnehaGunda commented on #10489
@nagireddygatla hope the above example helps, we will now proceed with closing this issue, feel free to reopen if you need further help. I will add this sample to the list of samples that we have here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-samples.

#please-close

[2018-06-28 22:16] jluk commented on #7295
@coderangerdan you should be able to execute scripts like you would locally depending on what kind of script it is you would invoke the same cmd

[2018-06-28 22:16] TravisCragg-MSFT commented on #10919
@cjtireus you would need to add public IPs of the Azure Region you are running in, or you can list the IP Address of your OMS Workspace.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-28 22:17] TravisCragg-MSFT commented on #10906
@AzureStacker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-28 22:19] jluk commented on #8553
@JasonHaley interesting thanks for the report, so saving the copy/pasted example in PS ISE generated a file that was encoded incorrectly and it threw a wrong API Version error? that's definitely not helpful.

[2018-06-28 22:32] rwike77 commented on #10859
@clarenceb  Thanks, your suggestion works.  I updated the article.  #please-close

[2018-06-28 22:48] strtdusty opened #10944 "Please specify the selection during permission grant"
"Select Done and Grant Permissions to complete this step. This step will fail if the current account is not a tenant admin."  In the "Create Server Application" section.  Please specify that the "Microsoft Grant" API must be selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
*

[2018-06-28 22:56] #10816 closed

[2018-06-28 22:56] #10859 closed

[2018-06-28 22:58] MikeRayMSFT commented on #8184
@kjsteven this sounds very frustrating for you and @jorgefava - in separate situations. @MicahMcKittrick-MSFT and I have the solution.

1. Go to the Azure load balancer (that you are using for the SQL Server AG load balancer) and add a new Frontend IP address.
 a) Under Settings, click Frontend IP configuration
 b) Click Add
 c) Specify the subnet that hosts the SQL Server and a dynamic IP address

[2018-06-28 23:03] YutongTie-MSFT commented on #10912
@tofula Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal  Hi, this is a doc-enhancement issue, can you please check the limit and update the document as necessary? Thanks a lot!

[2018-06-28 23:04] YutongTie-MSFT commented on #10700
@ratchetwrench We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-28 23:04] #10700 closed

[2018-06-28 23:07] markgalioto commented on #9719
@superminiek , Thank you for creating an Issue about the confusing content. This article is outdated, and does not reflect the current user interface when setting storage replication. I have taken an action item to update this article, and several others that reference setting storage replication. This updated content will be published as soon as possible.

[2018-06-28 23:07] markgalioto commented on #9719
#please-close

[2018-06-28 23:09] YutongTie-MSFT commented on #10894
@madymantha Sorry, we don't have a node.js version now.

[2018-06-28 23:30] rwike77 commented on #10859
Article is updated.  #please-close

[2018-06-28 23:32] BryanTrach-MSFT commented on #9751
@Garima2k1 Please note that preview products are not considered production workload ready until the feature goes GA.

The preview period is also the time when documentation is gathered and written so the doc author will be able to speak to their doc roadmap better than me.

@davidmu1 Are you able to provide documentation on the b2c preview feature in which customers integrate with existing user st

[2018-06-28 23:38] iainfoulds commented on #10898
Sorry you ran into issues, @jrhoward. I don't think there's anything specific to AKS about pod disruption budgets being disregarded during upgrade, but there's a somewhat similar issue logged regarding node labels not being retained during the cluster upgrade to 1.10.3 - https://github.com/Azure/AKS/issues/468

I'd suggest creating a new issue at https://github.com/Azure/AKS/issues/ to report this

[2018-06-28 23:39] #10898 closed

[2018-06-28 23:42] MicahMcKittrick-MSFT commented on #10944
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-29 00:28] MicahMcKittrick-MSFT commented on #10935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 00:28] MicahMcKittrick-MSFT commented on #10940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 00:31] MicahMcKittrick-MSFT commented on #10936
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 00:32] #9719 closed

[2018-06-29 00:32] RPM1984 opened #10945 "Add a comment about the need to `Flush()`"
Hi - i followed this quickstart guide to try and send events from a .NET Core 2.1 console app. VS showed the events were being tracked via the AppInsights viewed, but the events weren't being sent to Azure.

Found out it's because of this: https://stackoverflow.com/questions/38296776/application-insights-for-a-console-application-doesnt-work

TLDR; i needed to `.Flush()` and wait a second after i

[2018-06-29 00:32] #10489 closed

[2018-06-29 00:32] #10633 closed

[2018-06-29 00:32] #10900 closed

[2018-06-29 00:38] jeevansd commented on #10920
@chetansriv and @v-nagta can you please review this and can you get the configuration details from them? then we can update the instructions.

[2018-06-29 00:40] dcbrown16 commented on #7269
@barbkess Thank you, I'll keep an eye out! Feel free to close for now.

[2018-06-29 01:44] MaximRouiller opened #10947 "Broken links in "Related links" section"
First two links in "Related links" section are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54ef7a50-30e3-aeca-b4c6-52829e1f8cc8
* Version Independent ID: 6c14f268-fbba-7679-44f5-3f0ce0fc6e0f
* Content: [Protect your content with Azure Media Services](https://docs.microsoft.com/en-us/azure/media-services/prev

[2018-06-29 01:50] HJToland3 commented on #10896
#please-close

[2018-06-29 01:51] kazshi commented on #10896
Thanks!

[2018-06-29 01:51] #10896 closed

[2018-06-29 02:03] tachyon77 commented on #10508
Is knowing Gremlin a prerequisite to use Cosmos DB? Or is there any alternative for those who are not familiar with Gremlin?

[2018-06-29 02:06] khccjp commented on #8137
"16. On the Attach Permissions Policies dialog, you don't need to attach any policy. Click Next: Review. "
Why not? Wrong correction?

"4. Click Add button. Then select Users and groups on Add Assignment dialog."
You also have to assign the role you created with AWS IAM (appeared as "Admin,WAAD" in the role list in Azure AD) to the user, right?

[2018-06-29 02:20] BryanTrach-MSFT commented on #10680
@vikaskumawat80 Since we have not heard back from you, we will now proceed to close the thread. If you need further assistance please tag me in your reply and we can reopen the issue.

[2018-06-29 02:20] #10680 closed

[2018-06-29 02:36] BryanTrach-MSFT commented on #10752
@obviousSailfish Have you checked the spelling. The doc references lower case but you mentioned that you used an upper case for your folder name. Have you verified that the setting is not case sensitive? Also, how are you measuring that the folder is actually copied over? Using the CMD feature of KUDU is not rigid because it shows the log folders, which are not copied over as part of local cache.

[2018-06-29 02:40] barbkess commented on #7269
@dcbrown16 : Thank you!

#please-close

[2018-06-29 02:47] firmank opened #10951 "S2.exe services Inmage cause disk utilization high"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-29 02:52] firmank commented on #10951
Hi Azure site recovery expert inmage

we are facing unexpected high disk utilization cause by s2.exe services. anyone has similar issue?  please advice

[2018-06-29 03:03] BryanTrach-MSFT commented on #10328
@csharpfritz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-29 03:03] #10328 closed

[2018-06-29 03:08] BryanTrach-MSFT commented on #10927
@ruirosamendes As far as I am aware with some testing performed between my colleague and I, the only RBAC permission level that would allow you to select the deployment is 'owner'.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-29 03:08] #10927 closed

[2018-06-29 03:13] arsenvlad opened #10952 ""Azure Data Lake Storage REST interface" link gives 404"
The link points to this URL which results in a 404 error - https://docs.microsoft.com/en-us/rest/api/datalakestorage/

I think the correct link is this https://docs.microsoft.com/en-us/rest/api/storageservices/data-lake-storage-gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca909b0-2d80-ca90-52d4-c3d7958040d9
* V

[2018-06-29 03:14] arsenvlad opened #10953 "Cannot find ABFS driver docs in Official Hadoop documentation"
The document says "The ABFS driver is fully documented in the Official Hadoop documentation" and links to "http://hadoop.apache.org/docs/current/hadoop-azure/index.html" which describes the WASB driver and not the ABFS driver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca909b0-2d80-ca90-52d4-c3d7958040d9
* Version

[2018-06-29 04:02] james-tn commented on #9681
This code works:
def draw_face(img):
    import requests
    from io import BytesIO
    from PIL import Image, ImageDraw

    subscription_key = 'yourkey'  # Replace with a valid subscription key (keeping the quotes in place).

    BASE_URL = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect'  # Replace with your regional Base URL
    headers = {
    # Request headers
    'Conten

[2018-06-29 04:12] KeiroKamioka0000 commented on #7667
I would like to request the information that say, the data/OS disk for Classic Environment, it's Max size is up to 1TB or something like that.

[2018-06-29 04:49] dapsjj commented on #9681
@james-tn
Sorry,sir!
The code format is too messy.

[2018-06-29 05:12] jeevansd commented on #8137
@khccjp Yes, this is valid feedback. @chetansriv and @v-nagta Please take this correction also.

[2018-06-29 05:28] superminiek commented on #9719
Thank you!

[2018-06-29 05:52] algattik opened #10955 "Clarify use in Spark"
The section "Can I read change feed from Spark?" is not clear. The linked document and video do not mention the change feed. Could you please add a worked-out description and sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-419

[2018-06-29 05:56] algattik opened #10956 "Link to lambda blog post"
Suggesting to update the link "Implement lambda pipelines on Azure" to point to the new blog post https://azure.microsoft.com/en-us/blog/the-emerging-big-data-architectural-pattern/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194

[2018-06-29 06:16] SaurabhSharma-MSFT commented on #10717
@dcnoren We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 06:16] #10717 closed

[2018-06-29 06:17] SaurabhSharma-MSFT commented on #10728
@vetrivelmp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 06:17] #10728 closed

[2018-06-29 06:20] SaurabhSharma-MSFT commented on #10744
@smflorentino We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 06:20] #10744 closed

[2018-06-29 06:21] SaurabhSharma-MSFT commented on #10733
@BBokdam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 06:21] #10733 closed

[2018-06-29 06:28] SaurabhSharma-MSFT commented on #10799
@cdoidge Can you open a Azure support ticket so that an Identity engineer could further check on it. Please let me know if you do not have support package, and I will help enable a one time free support ticket for you.

[2018-06-29 06:28] micktion commented on #10852
Yea that wasn't my problem.  Only after receiving the error did I modify the script.  I'm passing the values in via the applicaiton settings

[2018-06-29 06:53] joe392018 commented on #10893
Can we use a first party option available in Azure like Log Analytics or OMS to monitor alerts? We really want to pro actively find out who did what on our Azure VM Servers.

[2018-06-29 07:02] MohitGargMSFT commented on #10951
@firmank
Please help with the link of document on which above document feedback request is created.

[2018-06-29 07:04] MohitGargMSFT commented on #10955
@algattik Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-29 07:06] MohitGargMSFT commented on #10956
@algattik Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-29 07:09] MohitGargMSFT commented on #10945
@RPM1984 Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-29 07:11] MohitGargMSFT commented on #10952
@arsenvlad Thanks for reporting! I will work to fix it.

[2018-06-29 07:13] MohitGargMSFT commented on #10953
@arsenvlad Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-29 07:15] MohitGargMSFT commented on #10788
@Rachitgupta1994 We will now proceed to close this thread.

[2018-06-29 07:15] #10788 closed

[2018-06-29 07:15] MohitGargMSFT commented on #10829
@yeiacatl We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-29 07:15] #10829 closed

[2018-06-29 07:18] davegreen opened #10957 "Examples for the 'Replace' function"
There are no examples that use the regex functionality of the 'Replace' function, which is proving a real problem for me to use these functions. I have an expression I believe should work, but I can't figure out based on the documentation what the function call should look like to take an attribute, regex, then pull that selection or group out as the data to write to the destination attribute.

Pe

[2018-06-29 07:19] MohitGargMSFT commented on #10842
@dagrkatyal Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-29 07:21] MohitGargMSFT commented on #10854
@vetrivelmp We will now proceed to close this thread. Please open a new issue on the document where you have this content feedback and we will gladly continue the discussion.

[2018-06-29 07:21] #10854 closed

[2018-06-29 07:22] MohitGargMSFT commented on #10931
@D-Signer We will now proceed to close this thread. Please open a new issue on the document on which feedback is provided and we will gladly continue the discussion.

[2018-06-29 07:22] #10931 closed

[2018-06-29 08:05] femsulu commented on #10947
@MaximRouiller Thanks for bringing this to our attention. this issue has been shared with the content owner for further review.

[2018-06-29 08:09] femsulu commented on #10517
@SMHolck We will now close this issue. If there are further questions regarding this matter, Please reopen it and we will gladly continue the discussion.