[2021-02-24 16:26] v-jheichman opened #71157 "Data Estate script did not run without errors and Register Sources process needs clarification"
1. I used these commands and it did not take 10 minutes or completely create the sample data. The Blob Storage Account and Data Laker were created, and the ADF was created, but the pipeline didn't work

cd /usr/csuser/clouddrive
Install-Module -Name Az -AllowClobber -Scope CurrentUser
.\RunStarterKit.ps1 -ConnectToAzure -TenantId 72f988bf-86f1-41af-91ab-2d7cd011db47 -SubscriptionId 2c3b88a1-7aa0-4

[2021-02-24 16:26] timsander1 commented on #32328
Ah sorry, thought you were referencing .NET V2 SDK. I can confirm that it's supported in Java V2 as well. If you are seeing unexpected query results, could you file a support ticket for the issue?

[2021-02-24 16:32] lolo8304 opened #71159 "Add new solution to RAS Exception Type=ErrorCode = 720 ErrorSource = RAS"
I have found a new error type while connecting using the documentation. I checked the error log from the VPN client
- On-Error Event	ErrorCode = 720 ErrorSource = RAS

**solution
- you have to uninstall all WAN-Miniports from the Device-Manager
- and click "Scan for Hardware changes" and the will appear again
- run VPN again and it works**

the VPN gateway documentation is straight forward excepti

[2021-02-24 16:33] JamesTran-MSFT commented on #71156
@afairthorne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-24 16:37] SamaraSoucy-MSFT commented on #71043
Thank you for your response.

I checked and it looks like you did get a response on Q&A. I'm going to go ahead an close this issue out here.

[2021-02-24 16:37] #71043 closed

[2021-02-24 16:38] kprpg opened #71160 "Azure Resource Explorer - Blue Edit button is not there. Please correct the page."
In here - https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-custom-settings#use-azure-resource-explorer-to-update-an-app-service-environment
It talks about t BLUE editor button. But this button is not there. Please correct this article so that readers don't come here and then go to the Resource Explorer, only to find out they cannot do what this art

[2021-02-24 16:40] AlexandraKemperMS commented on #70656
@tlogik yes, this is definitely needed and I have added these requests to our backlog. I recreated your steps and could see the same number of keys, but also ran into the issue of assigning them the new label. It would be good for the labels to not only be set automatically, but for the new label selection to show the list of labels you currently have in your store.

[2021-02-24 16:43] SaiKishor-MSFT commented on #71153
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 16:44] SamaraSoucy-MSFT commented on #71068
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2021-02-24 16:47] ramsumanth-cloud commented on #55372
As per the documentation "Virtual Networks = Schema not available" and similar for Express route which is for sure not true. so there is a update for documentation required.

[2021-02-24 16:59] ppb1984 commented on #71125
@AnuragSharma-MSFT I have used https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=cli%2Cssl-netstd21#run-on-linux-macos this doc for download and installation of Emulator.

I have also use this page for Troubleshooting - https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-emulator

[2021-02-24 17:01] quick-question commented on #71073
I'm having the same issue, this code doesn't work.

[2021-02-24 17:05] ChaitanyaNaykodi-MSFT commented on #70942
Hello @maximivanov, apologies for the delay. We have reached out to the team internally regarding the issue and will share an update as soon as we have a response. Thank you!

[2021-02-24 17:08] shashishailaj commented on #65060
@maheshau1 We have updated the guideline. Nested group of any kind are not supported for assignment. The following message on [linked page](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal) makes it more clear.

"Group-based assignment is supported for Security groups only. Nested group memberships and Microsoft 365 groups are not currently sup

[2021-02-24 17:08] #65060 closed

[2021-02-24 17:10] BharathNimmala-MSFT commented on #71094
@TomMcCarthyStorm Thank you for reaching out to us. We see that you have also asked the [same query](https://docs.microsoft.com/en-us/answers/questions/285196/asrd-planner-tool.html#answer-286644) on our Microsoft Q&A platform and our team mate have answered it. Please feel free to circle back on the Q&A thread if you have any further queries.

Please note that [this ](https://github.com/Microsoft

[2021-02-24 17:10] #71094 closed

[2021-02-24 17:11] alexbuckgit opened #71161 "Use of underscores and casing is not clearly defined for VM size naming conventions"
The example VM size names include underscores, but the formulas shown don't indicate where underscores belong in the VM size name.

The sub-family, accelerator type, and version elements also don't indicate whether to use uppercase or lowercase letters in those elements. Common usage in this repo suggests that sub-family should be uppercase while accelerator type and version should be lowercase.

[2021-02-24 17:14] dlepow commented on #70985
@toddysm - Do you have any information for the customer about this DevOps scenario with ACR? Thank you!

[2021-02-24 17:15] shodazzl opened #71162 "Application Gateway Listener certificate requirements documentation"
The section below specifically describes what certificates should be uploaded to the listener, however this important piece of information is only listed under "TLS Termination" ,  which causes confusion for users who use end-to-end TLS encryption (as this important piece of information is not listed.)

Please move the section below out of "TLS termination" and to the top of the page so that its i

[2021-02-24 17:23] AnuragSharma-MSFT commented on #71133
@qishu-1996 Could you please provide more information about what is wrong with storage engine?

[2021-02-24 17:25] fakdaddy75 opened #71163 "More expansive python example on azure python change feed function"
Hi
Is there a way to get a full python example.
Meaning to input bind to a collection and via lease output bind to a new collection and send documents across to new container.
Unclear as to what can actually be done - as iots says attributes dont work with python (for example).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-24 17:37] dkershaw10 commented on #70841
@parwejp I'm not sure I can tell what's going on.  Can you provide another error response (with request id and timestamp) please?  I tried to find the logs for that request, but I failed to find anything.  Are you sure that for the error response above, the call was not directly to the SharePoint APIs?

[2021-02-24 17:41] YutongTie-MSFT commented on #71155
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 17:43] maya-cnx commented on #55913
Any update on this ticket? Could this graph API for PIM data read permissions be invoked by application without needing a delegated user permission?

[2021-02-24 17:48] chenbai-sudo opened #71164 "Please update the 'Javascript' link for Event Hubs Tutorial"
[Enter feedback here]
The title says most of it. The Javascript link for the Event Hubs Tutorial redirects to the Java Tutorial (https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send) not JS (https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-02-24 17:50] SaiKishor-MSFT commented on #71143
@mthoger
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackover

[2021-02-24 17:53] drewjandreatta opened #71165 "Has 'SLES for SAP Priority' been replaced with 'SLES for SAP Standard'?"
When I try to purchase OS RI I no longer see the 'SLES for SAP **Priority**' option.  The only SLES for SAP option available is 'SLES for SAP **Standard**'.

The cost for the Standard OS RI is same as we paid in past for the Priority OS RI.  Has Azure just changed the product name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-02-24 18:00] himanshusinha-msft commented on #71164
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-02-24 18:06] alexkarcher-msft commented on #71013
Woo! Thanks :)

[2021-02-24 18:10] McClunatic commented on #70212
Thanks Ryan,

Work has kept me too busy to reply in as many ways as I should. I had
multiple one-time support grants (some via #70147) and one of my calls via
that support grant actually resolved this issue. I wanted to take time to
summarize what caused the fault with screenshots. The very short version
from memory: in the app service Authentication / Authorization settings, I
had configured the

[2021-02-24 18:22] MonikaReddy-MSFT commented on #70656
@AlexandraKemperMS  - Thank you for providing your insights.
@tlogik - I hope @AlexandraKemperMS  has answered your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-24 18:22] #70656 closed

[2021-02-24 18:26] SaiKishor-MSFT commented on #71159
@chadmath Could you please look into this? Thank you.

[2021-02-24 18:27] Gt3pccb commented on #71068
The issue was resolved by using a different machine.
Thanks

From: Samara Soucy <notifications@github.com>
Sent: Wednesday, February 24, 2021 8:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Astolfo Rueda <astolfor@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azcopy fails failed to perform copy command due to error: cannot start

[2021-02-24 18:30] RyanHill-MSFT commented on #71160
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 18:30] shauliu commented on #55913
PIM API should work with app-only permission for read only. To perform write operation / post operation, you must have delegated permission.

[2021-02-24 18:31] phatcher opened #71167 "Please update content as per SO answer"
This [SO answer](https://stackoverflow.com/questions/65923068/website-contentazurefileconnectionstring-and-website-contentovervnet-required-fo) states that WEBSITE_CONTENTSHARE are required for Linux Premium as well as Windows Premium plans, but the docs have not be updated.

Still leaves the question open as to whether these values are needed if the function app is deployed as a docker image rath

[2021-02-24 18:34] Wreckergibb74 opened #71168 "Contradiction in the article"
The below message is very confusing. Can you please clarify if this supported for GCC-High or not.

"Media optimization for Teams is supported for Microsoft 365 Government (GCC) and GCC-High environments. Media optimization for Teams is not supported for GCC-High or DoD."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-24 18:37] jwa5426 commented on #71073
I had to wrap the PAT in escaped quotes to get it to work. Like so:

[code]

[2021-02-24 18:37] ChaitanyaNaykodi-MSFT commented on #71011
Hello @serbrech, as per our offline discussion, I have made PR to implement the suggested changes. We will now proceed to close this issue out. Thank you!

[2021-02-24 18:37] #71011 closed

[2021-02-24 18:38] SaiKishor-MSFT commented on #71153
@isshukla Thanks for pointing this out! I have updated the document and it should reflect the changes soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-24 18:38] #71153 closed

[2021-02-24 18:39] SaiKishor-MSFT commented on #71143
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-24 18:39] #71143 closed

[2021-02-24 18:39] KranthiPakala-MSFT commented on #71124
Hi @ghazilam ,

Thanks for your response. I cannot delete it but we can leave it closed. If you have any other feedback please feel free to open a new thread.

Thank you
Stay safe

[2021-02-24 18:55] SamaraSoucy-MSFT commented on #71007
@Gunnnn

I am going to reassign this to the doc author to update. The portal has changed a bit and some of the directions and the screenshots are now out of date and could be unclear to someone not already familiar with the service.

It might be helpful to think of Azure Synapse Analytics as a bundle that contains the workspace, SQL and Spark pools, and Pipelines as separate feature sets. I agree

[2021-02-24 18:57] RyanHill-MSFT commented on #71160
@kprpg, you need to make sure the `Read/Write` button to the right of the tenant dropdown is selected/highlighted (step 2). You also must select a resource under the provider (step 1), regardless of type. After that, the Edit button will become visible.

![image](https://user-images.githubusercontent.com/47189704/109051107-2ad33480-76a8-11eb-9a7f-f0ddc38ee62f.png)

[2021-02-24 18:57] sapien47 opened #71170 "Reserved instances aren't currently in the scope of Azure Hybrid Benefit for RHEL and SLES. ?"
Hi,

The link https://azure.microsoft.com/en-ca/pricing/reserved-vm-instances/ states that :
_Significantly reduce costs – up to 72 per cent compared to pay-as-you-go prices – with one-year or three-year terms on Windows and Linux virtual machines (VMs). When you combine the cost savings gained from Azure RIs with the added value of the Azure Hybrid Benefit, you can save up to 80 per cent**._

Whi

[2021-02-24 18:58] agribot2 commented on #70582
many thanks

From: Sheri Gilley <notifications@github.com>
Sent: 24 February 2021 16:25
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Agribot <agribot@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] where is the trained model and how can I down-load it ? (#70582)

@agribot2<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2

[2021-02-24 18:58] SaiKishor-MSFT commented on #71035
@asudbring Can we get this document updated accordingly? Thank you!

[2021-02-24 19:08] nicoride93 opened #71171 "Error in one paragraph"
[Enter feedback here]
Hello.

I saw an error on the first parapgraph. Maybe I misunderstood, but it says "is supported in GCC and GCC-High but not supported in GCC-High and DoD". In GCC-High is supported and not at the same time

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185

[2021-02-24 19:10] SaurabhSharma-MSFT commented on #69947
@mtowse Sorry for the delay.  This is currently by design we are deploying all linked services exists in package files(in template). However, a product team is working on the fix.  I will update here once the fix is deployed in production.

[2021-02-24 19:11] #71160 closed

[2021-02-24 19:17] DerekHerman-MSFT commented on #71152
@yeroc-sebrof Each transfer operation will create an AzCopy job. AzCopy creates log and plan files for every job. Please check out the documentation below and let us know if you still have any questions.
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-configure#troubleshoot-issues

[2021-02-24 19:17] lucidqdreams opened #71172 "video seems a bit old"
that video is showing the classic portal, perhaps might be time for an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41479e32-d4b4-3477-e258-5ec015599121
* Version Independent ID: 7fc19c3a-1647-7331-33f6-df296381fc37
* Content: [Export using Stream Analytics from Azure Application Insights - Azure Monitor](htt

[2021-02-24 19:17] KranthiPakala-MSFT commented on #70922
@EmilioMeira The doc has been accordingly. Thank you for your feedback and helping us to improve the doc content.

Thank you for the quick fix @kromerm!

[2021-02-24 19:17] #70922 closed

[2021-02-24 19:20] KranthiPakala-MSFT commented on #70988
@GeethanadhP Sorry for the delay in response and thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out i

[2021-02-24 19:20] #70988 closed

[2021-02-24 19:23] ChaitanyaNaykodi-MSFT commented on #71154
Hello @rrjavadev,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-24 19:24] ChaitanyaNaykodi-MSFT commented on #71163
Hello @fakdaddy75,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-24 19:25] ChaitanyaNaykodi-MSFT commented on #71167
Hello @phatcher,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-24 19:35] SaiKishor-MSFT commented on #71162
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-24 19:48] kprpg commented on #71160
I don't see the Read/Write button when I go from the logged in Azure Portal. Perhaps one only sees it if one goes directly to the Azure Resource Explorer from the browser, and not when typing "Azure Resource Explorer" from within the Azure portal Search bar.

[2021-02-24 19:48] MonikaReddy-MSFT commented on #71171
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-24 19:49] MonikaReddy-MSFT commented on #71170
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-24 19:49] MonikaReddy-MSFT commented on #71168
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-24 19:55] RyanHill-MSFT commented on #71160
@kprpg, Azure Resource Manager is no longer in the portal itself. To access, you need to visit https://resources.azure.com/ directly.

[2021-02-24 19:55] ryangugcloudca opened #71173 "When will lastSignInDateTime be available in production Graph API?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
* Content: [How to manage inactive user accounts in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-manage-i

[2021-02-24 19:56] ericsampson opened #71174 "Add an actual example of how to log in the App Service WebJobs SDK 'enable console logging' section"
This section ends with the following text:

[code]

Following that, there should be a hyperlink directly to another section of the page (or inline text) that describes how to get an ILogger and call logger.XXX()

Because for people new to .NET, this is not clear.

It would also be helpful to have information on how to log (aka get access to the configured ILogger) outside of the `Functions` class,

[2021-02-24 20:07] ivayala opened #71176 "The CLI example to determine VM size and region availability has incomplete output"
Hello team,
It appears that the az CLI example in the page (https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd?tabs=azure-portal#cli) is incorrect.
Here is the output that I get on my personal subscription for a SKU and region combination that has ultra disk available vs. a SKU and region combination that doesn’t:
![image](https://user-images.githubusercontent.com/48459

[2021-02-24 20:15] ekpgh opened #71178 "Step 3 command gives parser error in PowerShell"
If I copy the command in step 3 and paste it into my PowerShell session, it immediately causes an error:

PS /home/erin> $context = Get-AzSubscription -SubscriptionId <subscription-id>
ParserError:
Line |
   1 |  $context = Get-AzSubscription -SubscriptionId <subscription-id>
     |                                                ~
     | The '<' operator is reserved for future use.

PS /home/erin>

[2021-02-24 20:19] TravisCragg-MSFT commented on #71161
@alexbuckgit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-24 20:37] mhopkins-msft commented on #69726
Hi @JeffLoo-ong

I've recreated the quickstart project from the article. The code in the article works as documented. Have you changed something in your code that is different from the article?

 ~ *Mark*

[2021-02-24 20:53] JamesTran-MSFT commented on #71173
@ryangugcloudca
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-24 21:00] Buthrakaur opened #71179 "Cognitive Services user feedback pages don't work"
links to user feedback forums e.g. https://cognitive.uservoice.com/forums/912208-speech-service lead to deactivated pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a633d33-a926-ebf3-5f3c-0a8da4350feb
* Version Independent ID: 72bf7a14-aa24-78a0-b033-4e0751a8bb4f
* Content: [Azure Cognitive Services support and he

[2021-02-24 21:11] mmilirud-msft commented on #70900
Application Insights Agent (aka Status Monitor v2) is for on-prem scenarios. For Azure VMs supported path is the Azure VM APM extension. Here's a good tutorial to enable it: https://cloud-right.com/2019/12/azure-appinsights.

Profiler is only supported for Azure deployment scenarios, and should work in Azure VM. Please follow these steps to enable: https://docs.microsoft.com/en-us/azure/azure-moni

[2021-02-24 21:12] ericsampson opened #71180 "Add information about WebJobs SDK logging setup to this main App Service logging section"
This section (add log messages in code) should contain a link to the section about WebJobs SDK logging, because special considerations need to be taken:
https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#enable-console-logging

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04

[2021-02-24 21:28] kimjamia opened #71181 "Are WEBSITE_DNS_SERVER and WEBSITE_VNET_ROUTE_ALL needed anymore?"
The documentation says:

Is this actually needed anymore? I have a .NET application running in App Service with VNet integration and Azure Private DNS and the application is able to call a VM in the same VNet using the private DNS name. The app does not have these two settings set.

Also, please see this page that says name resolution from App Service to VM in the same VNet is not supported using

[2021-02-24 21:43] MashaMSFT commented on #66394
Hi @sameeraman , thanks for your patience! We have rewritten part of this article and I believe your concern was addressed. Would you please let us know if your issue persists?

Otherwise, I'm going to close out this Git Issue for the time being,  but please feel free to comment should you need anything further.

Thanks for improving our docs!
Masha from the SQL Docs team
#please-close

[2021-02-24 21:43] #66394 closed

[2021-02-24 21:46] nunepalli opened #71183 "Using DMS to migrate AWS RDS for SQL Server to Azure SQL"
As per the details in https://docs.microsoft.com/en-us/azure/dms/tutorial-rds-sql-server-azure-sql-and-managed-instance-online, we can select AWS RDS for SQL Server as the source server for DMS.
But, I'm not finding that in my DMS deployment. You can see that in the screenshot I attached.

So, can we use Azure DMS for migrating AWS RDS for SQL Server to Azure SQL or not?

![DMS](https://user-image

[2021-02-24 22:00] markwahl-msft commented on #70539
Adding @ajburnle

[2021-02-24 22:42] tielushko commented on #71114
Thank you for your prompt response! the ublock origing extension was the reason of that error. I appreciate your help!

[2021-02-24 22:42] #71114 closed

[2021-02-24 22:51] lobrien commented on #69880
The fix has been approved and will be published in the next few days.

[2021-02-24 22:55] ColeSiegelTR opened #71186 "Broken links"
The links under **Shared Access Signature authentication with Service Bus** don't lead anywhere. Do these code samples still exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent ID: be36cdf9-1e5e-c47f-e699-652dc42ee2b9
* Content: [Azure Service Bus access cont

[2021-02-24 23:15] DerekHerman-MSFT commented on #71178
@ekpgh The error seems to indicate you are copying and pasting <subscription-id> you should also replace the brackets <> when running the command.
example:
`$context = Get-AzSubscription -SubscriptionId 1d11dcb9-3060-49cf-b058-f1a951b12345`

[2021-02-24 23:22] ekpgh commented on #71178
I'm used to being able to edit the command on the command line before I send it, is that not a thing with PowerShell? Because it interprets the line break in the middle of the example as an enter as soon as I paste it, and I don't have a chance to put in my value.

I also tried copying it, replacing the bracketed term with the correct value, and pasting it onto the PowerShell command line, and I g

[2021-02-24 23:29] TravisCragg-MSFT commented on #71176
@ivayala I am not able to reproduce this issue. also, the VM size 'Standard_E16-8s_v4' does have UltraSSD Enabled in the East US 2 region, I wonder if the PowerShell output could be an issue with the subscription you used.

CLI:
![image](https://user-images.githubusercontent.com/38542241/109079975-9de2a800-76b4-11eb-99ab-8e3aae6a07db.png)

Cloud Shell:
![image](https://user-images.githubuserconten

[2021-02-24 23:31] SaiKishor-MSFT commented on #71159
@chadmath Can you please update the doc as needed? Thank you!

[2021-02-24 23:34] MashaMSFT commented on #71113
Hi @pmpopovichjr , thanks so much for contacting Microsoft! The "winner" as you put it is dependent on how WSUS is configured, and timing. As such, this behavior may vary from environment to environment. However, if something is behaving in a way that is unexpected, I would encourage you to reach out to the support team or the community to see if there is something circumstantial causing the behav

[2021-02-24 23:34] #71113 closed

[2021-02-24 23:45] MashaMSFT commented on #70604
Hi @microkost , thanks for your feedback! I agree that is valuable content to add. I have created a back log item to add this information, and we're tracking it internally ([1820636](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1820636)).

I'll close out this Git Issue for the time being but will update it once the content has been published. Please feel free to comment should y

[2021-02-24 23:45] #70604 closed

[2021-02-25 00:03] dominoFire commented on #71116
Thanks @GitaraniSharma-MSFT ! As long as the table is in text, it's fine. I understand that machine readable (e.g. json) would require more wok.

[2021-02-25 00:09] savjani commented on #71133
I synced with @qishu-1996 ..I have fixed docs

[2021-02-25 00:13] DerekHerman-MSFT commented on #71178
I believe the issue is that your are copying and pasting both lines straight into PowerShell. PowerShell is executing the first line and throws the error. Copy and paste individually and it should work.

[2021-02-25 00:13] #71178 closed

[2021-02-25 00:14] GiftA-MSFT commented on #71179
@Buthrakaur we'll review your feedback and get back to you shortly. Thanks.

[2021-02-25 00:23] GiftA-MSFT commented on #71179
@erhopf it looks like the site is no longer active. Are we referring users to [Azure Feedback forum](https://feedback.azure.com/forums/932041-azure-cognitive-services) now or is the above site temporarily inactive?

[2021-02-25 00:37] SaiKishor-MSFT commented on #70853
@jjeziorny Can you confirm if RequireServerNameIndication is set to True/False?

[2021-02-25 00:38] ranabanerjee15 opened #71188 "This does not have any instructions for Inplace upgrade"
This article does not have any specific steps and instructions for an in-place upgrade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent ID: 0ea93b27-477a-84e5-3d93-6707f5b9cb88
* Content: [Azure AD Connect: Upgrade from a previous version](https://docs.microsoft

[2021-02-25 00:40] YutongTie-MSFT commented on #70916
@hungltph03955  I can not reproduce this issue. But I could help you with a Azure support ticket, if you have support plan, please go ahead to create a support ticket. If you don't have it, please send me an email with url of this thread and your Azure subscription ID to Azcommunity@microsoft.com. I will enable you a one-time-free-ticket to solve this problem.

We will now proceed to close this th

[2021-02-25 00:40] #70916 closed

[2021-02-25 00:47] SamaraSoucy-MSFT commented on #71068
Thank you for the update. I'm glad to hear you were able to resolve the problem. I will now proceed to close this thread.

[2021-02-25 00:47] #71068 closed

[2021-02-25 00:48] MartinJaffer-MSFT commented on #70965
Hello @rbaumet .  A 404 not found means the path (URL) given is wrong.  MFA would return a different error code.

[2021-02-25 00:52] MartinJaffer-MSFT commented on #70965
I agree a video would be a nice addition to the docs.

The place to check is the http base url, the one like
https://[site-url]/_api/web/GetFileByServerRelativeUrl('[relative-path-to-file]')/$value.
This one is easy to make a mistake on.

[2021-02-25 01:06] MartinJaffer-MSFT commented on #71002
@chanuengg could you please bring some clarification to the definition / bahavior / label of "Distinct match threshold" ?

[2021-02-25 01:11] dcstwh commented on #70096
We discussed this on the team. Right now, we are not planning to add the YAML pipelines example yet.
For now, to create the YAML pipelines, refer to https://docs.microsoft.com/azure/devops/pipelines/yaml-schema

#please-close

And do hashtag command #please-close to resolve the issue / PR.

[2021-02-25 01:11] #70096 closed

[2021-02-25 01:13] SamaraSoucy-MSFT commented on #71141
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-25 01:14] dcstwh commented on #71051
Thank you for the note. You will need to be a contributor of the Data Factory.
Do refer to https://docs.microsoft.com/en-us/azure/data-factory/concepts-roles-permissions

#please-close

[2021-02-25 01:14] SamaraSoucy-MSFT commented on #71150
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-25 01:14] #71051 closed

[2021-02-25 01:14] TravisCragg-MSFT commented on #70385
@Klaas- My apologies for the delayed response.

I believe all azure regions with Availability Zones have 3, and according to [this doc about Azure regions and services](https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies), Germany West Central has 3 Availability Zones. If there were only 2 Availability zones in your example, 2 of the VMs will end up in the same Availab

[2021-02-25 01:34] kprpg commented on #71160
Not true. It is available when you are logged into the portal, and type "Azure Resource Explorer" - it shows up, and that is what resulted in this confusion. I am sure others following the verbiage in the page will also stumble on the same situation as I found myself in.

[2021-02-25 01:45] MonikaReddy-MSFT commented on #70900
@mmilirud-msft  - Thank you for providing your insights.
@xuegao0112 - I hope @mmilirud-msft has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 01:45] #70900 closed

[2021-02-25 01:48] MonikaReddy-MSFT commented on #71102
@sercast -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 01:48] #71102 closed

[2021-02-25 01:50] OzBob commented on #71020
https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-custom-domain#map-a-cname-record
has correct instructions, you could use the text, and link directly to the section

[2021-02-25 01:52] MonikaReddy-MSFT commented on #71103
This document does not require changes, because there is a description section underneath the title which says the same thing as content of the page. So we are good here.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2021-02-25 01:52] #71103 closed

[2021-02-25 02:11] NavtejSaini-MSFT commented on #70866
@louis-Kimura We are glad you were able to resolve this. We are adding this answer to [Q&A](https://docs.microsoft.com/en-us/answers/questions/278803/index.html) questions as well.
Let us know if you need any further help.

[2021-02-25 02:18] ChaitanyaNaykodi-MSFT commented on #71186
Hello @ColeSiegelTR,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-25 02:27] JasonHershey opened #71190 "Can't change TLS settings on Synapse Analytics server"
when working with the SQL Server created by/for a Synapse Analytics workspace, I don't see that its possible to update the TLS settings, even with powershell. There is a deny assignment set on the resource group containing the server.  So, what is the appropriate way to get the TLS settings changed?  Is that not supported or do we need to contact MS support?

---
#### Document Details

⚠ *Do not e

[2021-02-25 02:30] omerzubair opened #71191 "When will NSG be applicable on Private endpoints"
There is a limitation on privateendpoint cannot have NSG. when will this limitation be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.com/en

[2021-02-25 02:39] KrishnaG-MSFT commented on #71151
@Thanks for the feedback.
Assigning @rboucher for visibility, review and document enhancement consideration as appropriate.

[2021-02-25 02:41] KrishnaG-MSFT commented on #71172
@lucidqdreams Thanks for the feedback.
Assigning @lgayhardt for visibility, review and document enhancement consideration as appropriate.

[2021-02-25 02:43] NavtejSaini-MSFT commented on #71183
@nunepalli After reviewing the document we found that source has been used as SQL Server for RDS SQL server as well.
Please can you check the same and let us know the result. Also we hope you are using DMS 3.3 or later.
![image](https://user-images.githubusercontent.com/52257742/109095202-4b6fae80-76e9-11eb-86a8-c1fdb2e36074.png)

[2021-02-25 02:56] chenyukang opened #71194 "The names of cmdlet are not update to latest"
[code]
Get-AzureVM   => Get-AzVM

Set-AzureVMCustomScriptExtension => Set-AzVMCustomScriptExtension (this cmdlet's parameter also changed, please update it)

Update-AzureVM => Update-AzVM

The comment also has an error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version

[2021-02-25 02:57] pitawatn opened #71195 "Docs should inform that generating App Service Managed Certificate won't work if domain is proxied through Cloudflare"
Few months ago I have generated App Service Managed Certificate without problems, then I transferred my domain to host on Cloudflare instead and few days ago my App Service Managed Certificate expired. I was confused why it did not renew automatically.

After some investigation, I found that Azure could not validate the CNAME domain as it is proxied behind Cloudflare. I then removed the proxied CN

[2021-02-25 03:12] VikasPullagura-MSFT commented on #70857
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-25 03:12] #70857 closed

[2021-02-25 03:22] VikasPullagura-MSFT commented on #71194
@chenyukang Thanks for the Feedback.
We will check and update the document as appropriate.

[2021-02-25 03:28] Yonet opened #71196 "Sign in Error prevents from navigating to product documentation"
A sign in error happened while navigating between azure docs. I was not able to use back button to navigate to any other doc page. Users need to be able to see the documentation regardless of their sign in status.
See video for detail: https://youtu.be/Pxzv-u5SKNA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5ead4a3

[2021-02-25 03:37] Grace-MacJones-MSFT commented on #71180
Thanks for your feedback! We will review and update this doc shortly.

[2021-02-25 03:39] eggind opened #71197 "There is no "Custom" Profile type in Endpoint Manager, Create Profile, Platform Windows 10 and later."
Endpoint Manager -> Devices -> Configuration Profiles -> Create Profile
Platform: Windows 10 and Later
Profile type: <there is no "Custom" as mentioned in this documentation", and therefore I do not know how to upload this XML...>

Maybe the doco needs updating due to the UI changing recently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-02-25 03:44] Grace-MacJones-MSFT commented on #71181
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-02-25 03:44] songqiwei opened #71198 "how can I enrich message with timestamp during routing?"
Dear,
      I am trying to enrich message with a timestamp before routing, that could indicate when a message begins routing.
      I have tried with "[utcNow()]", but it's failed.
      could you give a light how I can achieve it, or what build-in function I could use?
![image](https://user-images.githubusercontent.com/64263464/109099895-d343d000-775e-11eb-80eb-a65d1a9d123a.png)

Thanks
Denny

[E

[2021-02-25 03:56] RyanHill-MSFT commented on #71126
@kpwbo, the product team is aware of this limitation and does intend to address it. As soon as I get more details about these changes, when it will roll out, I'll update this thread.

I'll close this issue but please feel free to @ down below if you have any additional questions.

[2021-02-25 03:56] #71126 closed

[2021-02-25 04:09] eggind commented on #71197
Update: I found the 'Custom' option.
Platform: Windows 10 and later
Profile type: Templates
Template name: Custom

UI has changed slightly since that UI snapshot, and the instructions.

Still a little confused about the <name> tag. I used the <VnetName> tag instead. I am referring to this:

"Write down the value in the **<name> </name>** tags. This is the name of the profile. You will need this na

[2021-02-25 04:13] SnehaAgrawal-MSFT commented on #71174
@ericsampson Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 04:13] AshokPeddakotla-MSFT commented on #71157
@v-jheichman Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 04:14] SnehaAgrawal-MSFT commented on #71195
@pitawatn Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 04:15] AjayKumar-MSFT commented on #71142
Louis, you're correct. Thanks for taking time to share your feedback on Azure docs, much appreciate the follow-up.

[2021-02-25 04:17] AshokPeddakotla-MSFT commented on #71198
@songqiwei Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 04:27] AnuragSharma-MSFT commented on #71190
@JasonHershey Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-02-25 04:28] AnuragSharma-MSFT commented on #70318
@venkat1017 Please let us know if this information helps.

[2021-02-25 04:36] RyanHill-MSFT commented on #71160
I see @kprpg, you are referring to the

![image](https://user-images.githubusercontent.com/47189704/109102874-c6d85c80-76f7-11eb-98e2-e28ba0d98349.png)

My apologies for my misunderstanding. In the [Use Azure Resource Explorer to update an App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-custom-settings#use-azure-resource-e

[2021-02-25 04:46] pisees commented on #71006
Yes thank you.

[2021-02-25 05:05] zqyAmy opened #71200 "DMS online migration for Azure SQL DB"
[Enter feedback here]
I understand that the DMS online migration is not support for Azure SQL DB, however, I still saw some residual information about online migration, would you please verify if the online migration is suitable on this doc?

Here I copy the information for your check:
--------
 Tip

When you migrate databases to Azure by using Azure Database Migration Service, you can do an offli

[2021-02-25 05:10] HarshitaSingh-MSFT commented on #71022
@yutaro113, you are right. I have made this change in the docs. Thanks for pointing it out! :)

[2021-02-25 05:10] HarshitaSingh-MSFT commented on #71022
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 05:10] #71022 closed

[2021-02-25 05:37] alex--thomas opened #71202 "Excellent! I've been looking forward to this Feature for a while."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d845657-c7fe-5c8e-b34a-947a38fca588
* Version Independent ID: dfad242f-8928-0eb3-b991-9bd30f379bcb
* Content: [Work Item Integration (preview) - Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/work-item-

[2021-02-25 05:59] AnuragSharma-MSFT commented on #71200
@zqyAmy Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-02-25 06:01] BharathNimmala-MSFT commented on #71165
@drewjandreatta Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2021-02-25 06:03] komayama opened #71203 "How to set HTTP headers filter settings(preview) in Azure Portal."
This document has write to set HTTP header via PowerShell and REST API. But there is no content that explain more detail http header feature and setting by Azure Portal.

![image](https://user-images.githubusercontent.com/24888431/109110091-cb455980-7779-11eb-9bbf-184e618386af.png)

Also, ARM Template support http header and I feel difficult to find that content. Please could you describe more det

[2021-02-25 06:15] parwejp commented on #70841
@dkershaw10 : I am not sure if you can access app insights in my azure tenant. Here is the operation id : Operation ID: 068dcd56d82b4f41a4be9de72b4a534e, 2/25/2021, 5:01:51 AM IST. I get the token for default graph scope ("https://graph.microsoft.com/.default")  and then loop to delete SharePoint list items using same single token. It works successfully to delete few items and then it starts faili

[2021-02-25 06:25] iop45636 commented on #47842
Same thing here, I was able to replica managed disk to disaster recovery region from origin region through the copy the snapshot to storage account dr region. but, I think that is not the best practice for the dr solution. However, the azure site recovery can support AKS dr solution will more convenient if that possible.

[2021-02-25 06:34] AnuragSharma-MSFT commented on #71104
@yashwanthchannegowda Manual database failover here refers to unplanned and forced failover that we can do it through the Azure portal and it does not take anytime as it immediately switches the secondary to primary role. Please refer to below details as per the same article:

**_"Manual database failover refers to failover of a single database to its geo-replicated secondary using the unplanned m

[2021-02-25 06:37] nunepalli commented on #71183
@NavtejSaini-MSFT
I'm using DMA v5.2.4764.4

I'll test whether choosing source server type as "SQL Server" will work for migrating from AWS RDS for SQL Server or not.

Meanwhile, please update the details in https://docs.microsoft.com/en-us/azure/dms/tutorial-rds-sql-server-azure-sql-and-managed-instance-online
DMS screenshots are misleading.

[2021-02-25 06:50] GitaraniSharma-MSFT commented on #71191
@omerzubair , thank you for your query. We'll investigate this and get back to you shortly.

[2021-02-25 06:58] gopimails opened #71204 "EdgeAgent retry mechanism when module image not available"
Related to : _Originally posted by @kgremban in https://github.com/MicrosoftDocs/azure-docs/issues/49887#issuecomment-601316582_

It was mentioned that "to add more information to the answer, if you apply a deployment manifest to a device and the edgeAgent is unable to pull a module image, the device will not roll back to an old version. If you specify a module, and the runtime can’t pull it, it w

[2021-02-25 07:04] slp-tmm opened #71205 "Error while downloading AMD GPU drivers for NVv4 series VMs - 404 - File or directory not found."
[When I try to donwload the AMD GPU drivers for NVv4 series VMs for Windows 10 Enterprise multi-session - Build 1909 from your given link I am getting the error:  404 - File or directory not found. ]
![Screenshot 2021-02-25 123126](https://user-images.githubusercontent.com/79626303/109115666-68e25e00-7765-11eb-9b98-75ff1689822e.png)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-02-25 07:07] vikancha-MSFT commented on #71205
@slp-tmm Thanks for reporting the issue. The download link had a typo with an extra 'e' in the .exe. We have fixed the link in the doc pages and the changes should go live by tomorrow.

[2021-02-25 07:10] VikasPullagura-MSFT commented on #71205
@slp-tmm Thanks for the Feedback. The document is updated with correct link, changes will go live soon.

[2021-02-25 07:14] #71205 closed

[2021-02-25 07:27] jjeziorny commented on #70853
@SaiKishor-MSFT After moving the desired listener to first position in the list I did try to RequireServerNameIndication to false and it would still not send the certificate from this listener for requests without SNI.
Only after moving the RULE for this listener to first position in the list the correct certificate started being sent to requests without SNI.

[2021-02-25 07:40] yuriwoof opened #71206 "Authentication using system managed Id sometimes delayed."
I got feed back from customer. They have sometimes authentication delay at the timing container starting.
They avoid this issue with retry.

They tested it with something like below:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e79-f39c-dcca-f

[2021-02-25 07:43] ram-msft commented on #71073
@jwa5426 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 07:43] #71073 closed

[2021-02-25 07:54] tim-snapt commented on #63407
@emuench Still don't see anything under the virtual-machines topic. Mind linking the doc?

[2021-02-25 07:56] Merzmensch commented on #34167
Again, I want to support the concerns. I'm working for a global Logistics company, and all our employees are obliged (happily) to take part in mandatory IT security training, where one of the major topics is raising awareness regarding phishing. Every page mimicking an official one is declared to be potentially dangerous.

And a page where you change your Microsoft Password should be at most secur

[2021-02-25 07:58] amankhatri24dec opened #71207 "Properties showing wrong info"
The properties table of Azure Machine Learning Linked Service is showing wrong information.

<img width="686" alt="Capture" src="https://user-images.githubusercontent.com/53580637/109121424-389ebd80-776d-11eb-8fbd-3e04d3cf87c8.PNG">

Here ServicePrincipalId and Key are required fields while creating a linked service in ADF.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-02-25 08:00] RohitMungi-MSFT commented on #71196
@Yonet Users can see the documentation irrespective of sign in status. I think this may have occurred because of failed sign in, you can try to use InPrivate window and check the doc [link](https://docs.microsoft.com/en-us/azure/cognitive-services/what-are-cognitive-services) which is accessible irrespective of sign in status.

[2021-02-25 08:06] jiorblommaert opened #71208 "Userjourneybahviors SingleSignOn value haves a missing attribute"
Hello on this page under following section: https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#configure-azure-ad-b2c-session-behavior
There is the SingleSignOn parameter but this parameter requires that KeepAliveInDays is also present within this parameter. This is not the case in this code.
As described on following page: https://docs.microsoft.

[2021-02-25 08:14] janwillem-v commented on #66817
I still don't fully understand what the last command should look like to create this computer account. Can some give an example for this? The step on this article were clear till this step... and I would realy like to get AD DS working for Azure file shares.

[2021-02-25 08:24] chengyu-liu-cs opened #71209 "How to configure Max pods per node"
[Enter feedback here]

For AKS, there are ways to specify Max pods per node, but I can not find how to configure max pods in AML python SDK or Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9132512-d322-6455-b458-f629337e15f6
* Version Independent ID: 2d9e6319-8c7e-113d-a241-2d093b73897f
* Content: [Create and

[2021-02-25 08:27] Buthrakaur commented on #71179
Just to give a more context on my specific case - I have quite a lot of detail feedback to Text To Speech service I'd like to handover to the Azure team so as they can improve the engine. Are the feedback forums the right place?

[2021-02-25 08:27] moisesalvarez opened #71210 "--enabled-protocols parameter is no longer available on create file share"
In the section **Create an Azure file share** uses the parameter *--enabled-protocols* and following CLI documentation it is no longer available, also the CLI complains about it with a:

*UnrecognizedArgumentError: unrecognized arguments: --enabled-protocols SMB*

I'm using latest CLI version (2.19.1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-02-25 08:58] MathiasVandePol opened #71211 "Missing --sdk-auth parameter in az ad sp create-for-rbac -o json"
`az ad sp create-for-rbac -o json`

should be replaced with

`az ad sp create-for-rbac -o json --sdk-auth`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9659eab1-b7f7-d163-ff0a-577b7496b5c8
* Version Independent ID: 0892de76-78f8-4c1c-c09c-60af3f275320
* Content: [Handle AKS node upgrades with GitHub Actions - Azure K

[2021-02-25 09:08] Hbaele opened #71212 "License requirement is not up to date"
Based on the license specification on https://azure.microsoft.com/en-us/pricing/details/active-directory/ any Office 365 apps license also includes company branding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Conte

[2021-02-25 09:17] Arithmomaniac opened #71214 "Table Storage docs in Cosmos DB Table API section"
This has `[!INCLUDE storage-table-cosmos-db-tip-include]` on it. If so, shouldn't it be under https://docs.microsoft.com/en-us/azure/storage/tables/, not (https://docs.microsoft.com/en-us/azure/cosmos-db/ ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba460612-aea2-45da-dacb-ddc8324be954
* Version Independent ID: 666

[2021-02-25 09:18] scofield1991 opened #71215 "Azure ML Run docker command to pull public image failed"
If I set env.python.user_managed_dependencies = True
I get error:
Run docker command to pull public image failed with error: error response from daemon: get azurecr.io/v2/tf_od_api/manifests/latest: unauthorized: authentication required

But if I set env.python.user_managed_dependencies = False
then docker image can be pulled successfully.

[2021-02-25 09:18] AshokPeddakotla-MSFT commented on #71204
@gopimails Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-25 09:20] AshokPeddakotla-MSFT commented on #71207
@amankhatri24dec Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 09:22] lgayhardt commented on #71172
@lucidqdreams Thank you catching that! =) I made a PR to remove the video from the docs since it is now out of date. The update should go live next week. I'll let the PMs know about the video to see if they want to make an updated one.

#please-close

[2021-02-25 09:22] #71172 closed

[2021-02-25 09:25] kalyanmit commented on #70729
My issue is unsolved. Please help me out

[2021-02-25 09:25] kalyanmit commented on #70729
My issue is unsolved. Please help me out

[2021-02-25 09:25] kalyanmit commented on #70729
My issue is unsolved. Please help me out

[2021-02-25 09:26] kalyanmit commented on #70729
My issue is unsolved. Please help me out

[2021-02-25 09:33] lgayhardt commented on #68654
@atho3009

For product questions we ask that you ask your questions in [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-monitor.html). Once your question has been answered if you would like to see the answer covered in the docs please open a new issue and link to the thread of the answer.

Thank you

#please-close

[2021-02-25 09:33] #68654 closed

[2021-02-25 09:35] lohithgn opened #71216 "Azure Cosmos MongoDB API - .NET Core Console App Tutorial"
# Azure Cosmos MongoDB API - .NET Core Console App Tutorial - Proposal

Going through the Azure Cosmos DB documentation here - https://docs.microsoft.com/en-us/azure/cosmos-db/, under the MongoDB API > Tutorials > 1. Create & Manage Data, i notice we have a tutorial on Node.JS Console App.

I want to propose a tutorial with .NET Core Console App. I have already created the sample app in my repo he

[2021-02-25 09:42] lohithgn commented on #71216
I also noticed that on the Node.JS console app, there is a selector for tech stack. When we select .NET Core - it redirects to SQL API and not MongoDB API.

![image](https://user-images.githubusercontent.com/2450336/109134163-b9bb7c00-7790-11eb-9a33-f061852a5868.png)

[2021-02-25 09:46] SnehaAgrawal-MSFT commented on #71203
@komayama Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 09:49] jeevanbalanmanoj commented on #68223
@JimmyLS Can you please be more specific with the link that is wrong and provide the right one to replace it with?

[2021-02-25 09:54] JonRunheim opened #71217 "Blob roles needs to be mentioned"
The article doesn't mention that the Blob Contributor role is required for write / read.
I.e. the examples will not work without it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Quickstart - Create a blob w

[2021-02-25 09:57] lohithgn commented on #71214
I feel that having this tip in Cosmos DB > Table API makes sense. If somebody has decided to use Azure Cosmos DB with Table API - then the doc to design the table should be here in Cosmos DB section. This doc is catered towards design for cosmos db. I dont see any reason to push this to azure storage section. Just my thoughts here.

[2021-02-25 10:02] SubhashVasarapu-MSFT commented on #71197
@eggind, I see the profile custom here,
![image](https://user-images.githubusercontent.com/44890829/109136947-abfcfb00-777e-11eb-862e-556233ed9421.png)

[2021-02-25 10:13] YouGamers commented on #58733
Do you have more detail in using an ARM deployment for writing the URL into the Web Activity? I have only managed to deploy parameters to Linked Services and Triggers, but not a Pipeline itself.

[2021-02-25 10:13] sonic1981 commented on #44973
I've just had the same issue. I'm not sure why this is closed as it's still incorrect, leaving my bug open until this one is re-opened

[2021-02-25 10:40] tomkuijsten commented on #70912
Yes, that does work indeed. However, when you export the ARM, the index is still without a bounding box. That's probably expected because of the lack of ARM support. So my only option to deploy a collection with a geometry index is deploying it with  geography first and then use the CLI to update to geometry?

[2021-02-25 10:51] Tom-Van-Asch commented on #70666
@SamaraSoucy-MSFT and @selvasingh when I remove the dependency:
[code]
The application isn't trying anymore to connect to localhost:9411, I only keep the following dependency as listed here:
https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-tutorial-prepare-app-deployment?pivots=programming-language-java
[code]
But now the following property is ignored
[code]
Which is stated here: h

[2021-02-25 11:09] VikasPullagura-MSFT commented on #71206
@yuriwoof
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-02-25 11:10] VikasPullagura-MSFT commented on #71206
@macolso
Can you please check and add your comments on this as applicable.

[2021-02-25 11:10] GitaraniSharma-MSFT commented on #71191
@omerzubair , I checked with the PG team and below is the update from their end:

_We are actively working on it. There is a private preview coming soon._

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-25 11:10] #71191 closed

[2021-02-25 11:11] RohitMungi-MSFT commented on #71215
@scofield1991 Could you please provide more details about the Azure documentation you are using to run these steps before seeing the error? It would help us tag the issue correctly and move it to the right team.

Based on the details provided it looks like you may be trying to run an Azure ML experiment by creating a compute environment. If you are specifying a docker file then setting it to True

[2021-02-25 11:21] cowinr opened #71219 "Missing instructions for creating policy"
The section "Add Azure AD B2C claim types" mentions "In your policy, add the following..." but does not state what the policy is or where it comes from.

I'm guessing it is a policy XML file similar to the ones in the starter packs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db8986-3f26-82e2-8985-69f06b74a3f4
* V

[2021-02-25 11:26] RohitMungi-MSFT commented on #71209
@chengyu-liu-cs Thanks for the question. I am checking with our team internally on this to check if there is a way to set this option with the AKS compute. Thanks!

[2021-02-25 11:33] shashishailaj commented on #71188
@ranabanerjee15 Thank you for your feedback . We will investigate and update the thread.

[2021-02-25 11:34] PramodValavala-MSFT commented on #71006
@pisees Glad we could help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 11:34] #71006 closed

[2021-02-25 11:37] SwathiDhanwada-MSFT commented on #71082
@sokoloffmaks As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-25 11:37] #71082 closed

[2021-02-25 11:40] SnehaAgrawal-MSFT commented on #71055
@zhughes Thanks again for the feedback! Please refer to above response of @chenkennt on this hope it helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-02-25 11:40] #71055 closed

[2021-02-25 11:48] RishiMaini opened #71220 "404 is expected for Ephemeral OS Disk from portal VM->Disk blade."
In the difference section for “Persistent OS Disk” Vs “Ephemeral OS Disk” , please do mention that “Ephemeral” disks are not accessible from portal.

Customer will get “Resource Not Found” (404) error if they try to access the Disk from VM blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c45ee45a-ed9a-9fe8-bf3e-8f

[2021-02-25 11:52] kalyanmit commented on #70729
When more than 1 web app sits behind the front door however, I was seeing
the page not rendering correctly, giving different versions of the page.
Also when the authentication and authorisation is enabled, the frontdoor
URL is exposing or redirecting to the backend pool (webapps) URL. Also when
the authentication and authorisation is enabled, the frontdoor URL is
exposing or redirecting to the bac

[2021-02-25 11:52] kalyanmit commented on #70729
When more than 1 web app sits behind the front door however, I was seeing
the page not rendering correctly, giving different versions of the page.
Also when the authentication and authorisation is enabled, the frontdoor
URL is exposing or redirecting to the backend pool (webapps) URL. Also when
the authentication and authorisation is enabled, the frontdoor URL is
exposing or redirecting to the bac

[2021-02-25 12:08] phatcher opened #71221 "KeyVault references to secured KV"
Is this statement..

"Key Vault references are not presently able to resolve secrets stored in a key vault with network restrictions unless the app is hosted within an App Service Environment."

still accurate, considering regional VNet integration etc.

I have projects where this works and ones where it doesn't, so would appreciate a definitive answer.

---
#### Document Details

⚠ *Do not edit t

[2021-02-25 12:14] shashishailaj commented on #71212
@Hbaele Thank you for your feedback . We will investigate and update the thread.

[2021-02-25 12:15] shashishailaj commented on #71208
@jiorblommaert Thank you for your query. We will investigate and update the thread.

[2021-02-25 12:17] shashishailaj commented on #71217
@JonRunheim thank you for pointing this out . We will have this reviewed and corrected as needed after discussion with the content team.

[2021-02-25 12:18] shashishailaj commented on #71210
@moisesalvarez Thank you for your query. We will have this reviewed and update the thread.

[2021-02-25 12:19] shashishailaj commented on #71219
@cowinr Thank you for your feedback . We will investigate and update the thread.

[2021-02-25 12:20] SnehaAgrawal-MSFT commented on #71203
@komayama Thanks again for the feedback! As mentioned in the [document here](https://docs.microsoft.com/en-us/azure/app-service/networking-features#http-header-filtering-for-access-restriction-rules-preview) that for each access restriction rule, you can add additional http header filtering. This allows you to further inspect the incoming request and filter based on specific http header values. Ea

[2021-02-25 12:25] AnandKatta opened #71222 "will the managed identity works for Networking type "Kubenet""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/use-managed-ident

[2021-02-25 12:27] TorATB opened #71223 "Adding some helpful information"
[Enter feedback here]

Hi, We didn't find the correct TenantName because we thought it was together with the Tenant Status information in Azure. We wrongly used the Primary Domain name... Perhaps it would be better in this documentation to include where to find the TenantName (link to here https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Domains)

Just a suggestion, thank

[2021-02-25 12:33] psmanhas commented on #71211
@MathiasVandePol Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-25 12:33] psmanhas commented on #71211
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-25 12:35] psmanhas commented on #71220
@RishiMaini Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-25 12:35] psmanhas commented on #71220
@cynthn
Can you please check and add your comments on this doc update request as applicable

[2021-02-25 12:36] AnuragSharma-MSFT commented on #71214
@Arithmomaniac Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-25 12:39] AnuragSharma-MSFT commented on #71216
@lohithgn Thanks a lot for all your efforts of going over and beyond by creating a repo and letting us know.

I am assigning it to the content author to review and take further call on this.

[2021-02-25 12:43] scofield1991 commented on #71215
I'm going through this notebook: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/train-on-remote-vm/train-on-remote-vm.ipynb

I need to start the training using the docker image from my local registry. I provided all required data in the environment I created:

conda_env.docker.enabled = True
conda_env.docker.base_image = "tf_od_api:latest"
conda_env.docke

[2021-02-25 12:50] KanaHayama opened #71224 "I do not understand the composition of CDN cost"
From the [CDN pricing page](https://azure.microsoft.com/en-us/pricing/details/cdn/) I know that CDN is charged by *OUTBOUND DATA TRANSFERS* in GB, but I cannot find the definition of this term.

I am new to web applications. I am confused because when the first time I read this pricing document, it make me feel like CDN is only charging bandwidth cost between my origin (Blob storage) and CDN pops.

[2021-02-25 13:11] oribesser opened #71225 "Inaccurate details on using the Automation Job Operator and Automation Runbook Operator roles in combination"
A principal with the "Automation Job Operator" role can start any runbook (create or write a new job for any runbook) through the API, even without being given the "Automation Runbook Operator" on specific runbooks. That is, it can start a runbook just by knowing its name and without having read permissions on it.

This is in contrary to what stated in the #automation-runbook-operator section: "Th

[2021-02-25 13:14] AjayKumar-MSFT commented on #71221
@phatcher, Thanks for taking time to raise this question!

@mattchenderson, Requesting your comments on this feedback.

[2021-02-25 13:20] KritikaSingh89 commented on #41412
Hi,
Is the issue with SQL Server ISE Connector using SQL Authentication is resolved ?

Regards
Kritika

[2021-02-25 13:21] jwa5426 commented on #71073
@ram-msft So is the documentation incorrect then?

[2021-02-25 13:23] crhistianramirez opened #71226 "Log Analytics tutorial - No data loaded into demo environment"
I'm following the tutorial from [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/log-analytics-tutorial)

Steps to reproduce
1. Open the [Log Analytics demo environment](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade) referenced in the guide
2. Enter `AzureActivity` into the query as detailed [here](https://docs.microsoft.com/en-us/azure/azure

[2021-02-25 13:26] shashishailaj commented on #70907
@billmath Could you please review this thread and help on this .

[2021-02-25 13:33] tyeth opened #71228 "Method of accessing automation credentials depreciated January 2020"
According to the official docs, the get-azureautomationconnection method was deprecated in January 2020, 8months before the tutorial was last amended.

Deprecation notice:
https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure.service/get-azureautomationconnection?view=azuresmps-4.0.0#description
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-02-25 13:52] yoelhor commented on #70028
Hi @psandgren,

You can enable the Self-Service password reset to the sign-up or sign-in user flow. With this solution Azure AD B2C doesn't return any error message and the app doesn't need to be aware of the password reset flow.

1. Sign in to the [Azure portal](https://portal.azure.com).
1. Select the **Directory + Subscription** icon in the portal toolbar, and then select the directory that con

[2021-02-25 13:58] yoelhor commented on #71135
Thank, we will fix this issue next week. Meanwhile you should select **Resource mode** to **Workspace-based**

[2021-02-25 14:17] SimpleAgileSolutions opened #71230 "Error 53-What I am missing."
Hi Guys,

I keep getting Error 53. I am able to mount the Azure File Share using the same VNet using a P2S connection and no issue. But mounting the blob storage keeps giving me error 53.   I have followed the following steps.

- The Storage account is enabled with NFS, the storage account is created after "AllowNSF3" is registered (Get-AzProviderFeature -ProviderNamespace Microsoft.Storage -Featu

[2021-02-25 14:20] Pambarhop opened #71231 "https://docs.microsoft.com/en-us/azure/dedicated-hsm/deployment-architecture - ERROR"
[Enter feedback here]
Hi, I believe the following line:
To achieve high availability, a customer must use two HSM devices in a region that are configured using Thanles software as a high availability pair
Should be:
To achieve high availability, a customer must use two HSM devices in a region that are configured using Thales software as a high availability pair

---
#### Document Details

⚠ *Do no

[2021-02-25 14:29] Ponant opened #71232 "The ContentDefinition block seems to have no effect"
The content definition block seems to have no effect. The signup link is already removed when using only the ClaimsProvider block.
By addind the ContentDefinition block and trying out the different versions of unifiedssp, I get the same output. For example, the id of the email is SigninName and the type="text", whereas newer versions use id="email" and type="email" in the input field for the email

[2021-02-25 14:39] ran-ten21 opened #71233 "process not clear"
[Enter feedback here]
We do not have info on how to import easily into our documentation. That or perhaps I have not found the right page. But other people have done this better of what we could find.

We had a customer trying to import a workbook from github and couldn't figure out the process that easily.
https://www.cloudsma.com/2020/11/import-azure-monitor-workbooks/ <- instructions i got for

[2021-02-25 14:44] SwathiDhanwada-MSFT commented on #71202
@alex--thomas Glad to hear that. I would suggest you to try out the feature and provide your feedback for additional features [here](https://feedback.azure.com/forums/34192--general-feedback). Also , if there are document issues, kindly let us know.

[2021-02-25 14:48] jyapurv opened #71235 "This is already on GA - docs need to be updated"
This is already on GA - docs need to be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-be23-5dcd-3c3146d5cf63
* Content: [Start and Stop an Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azu

[2021-02-25 14:57] MonikaReddy-MSFT commented on #71170
Hello Reserved Instances are definitely supported
​but Azure Hybrid Benefit feature for RIs for RHEL and SUSE is not yet supported.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 14:57] #71170 closed

[2021-02-25 14:58] cbrightsci opened #71236 "Tenant URL not showing in AWS SSO provisioning"
I'm not able to view tenant URL when trying to connect AWS SSO to Azure AD as described in this documentation. When I go to provisioning I see "clientsecret" instead.
![image](https://user-images.githubusercontent.com/8061225/109171507-155d1980-773f-11eb-94e5-2921f65241f4.png)

Is there something else that needs to be set up to view the Tenant URL in provisioning?

Thanks
---
#### Document Details

[2021-02-25 15:01] MonikaReddy-MSFT commented on #71235
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-25 15:03] MonikaReddy-MSFT commented on #71235
@jyapurv -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 15:03] #71235 closed

[2021-02-25 15:04] jyapurv commented on #71235
Thanks!

[2021-02-25 15:24] macolso commented on #71206
Hi @yuriwoof! Thanks for reaching out - we recommend you create a support ticket for the team to take a look.

[2021-02-25 15:31] SimpleAgileSolutions commented on #71230
If you have selected Standard performance you have to choose one of the following regions: Australia East, Korea Central, and South Central US.

[2021-02-25 15:31] #71230 closed

[2021-02-25 15:45] philomathikus opened #71237 "Can you guys provide a UWP sample (HoloLens 2)?"
Am quite surprised that you only have iOS and Android samples :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1b1eff-e5dd-8455-9408-898dd724f48e
* Version Independent ID: 576f2d3b-ac0c-0d72-8080-4e3737886a96
* Content: [Shared device mode overview - Microsoft identity platform | Azure](https://docs.microsoft.com/en

[2021-02-25 15:50] daspo opened #71238 "windowsazure.com"
Do you know why windowsazure.com domain is not in the list?
We noted that Azure VMs still need access to it for some services to run and if some URL blocker service is used needs to be whitelisted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f22

[2021-02-25 15:53] SimpleAgileSolutions opened #71239 "How would you mount the drive at boot and keeping it persistent?"
Hi Guys,

I have mounted the blob storage on my windows computer using the mount -o nolock command. But when I reboot the computer, the mount gets disconnected. I have to click on the mount to reconnect. How do you make the mount persistent on Windows computer?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab

[2021-02-25 15:54] bhsanghv opened #71240 "Need to pull out Degraded Metrics from the documentation for Microsoft.HealthcareApis/services"
The below Metrics are degraded as confirmed with Scott  and need to be removed if they are not supported from the documentation.

## ServiceApiErrors
## ServiceApiLatency
## ServiceApiRequests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f0

[2021-02-25 15:58] oscarmorasu opened #71241 "Tutorial on AWS Client VPN + Azure AD SSO is incorrect"
Hello,

I followed the instructions in [this tutorial](https://docs.microsoft.com/en-gb/azure/active-directory/saas-apps/aws-clientvpn-tutorial) but that information is incorrect.

I followed [this forum post](https://forums.aws.amazon.com/thread.jspa?messageID=974338&tstart=0) instead and everything worked.

Please update your documentation, mark it as deprecated, or even remove it, but don't kee

[2021-02-25 16:08] shashishailaj commented on #71188
@ranabanerjee15 The [section](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-upgrade-previous-version#in-place-upgrade) talks about in-place upgrade which  . A step by step in this case may not add more as the UI makes it quite simple and straightforward after you push the **upgrade** button as shown in the screenshot and key in your azure AD credentials. The points to keep

[2021-02-25 16:09] dpaulino opened #71242 "Error "No SecurityTokenValidator available for token" when following this doc"
I am trying to protect my web api by following this doc, but I'm getting an error that I assume is related to the configuration. Here is the error I see in the OnChallenge context
![image](https://user-images.githubusercontent.com/7649589/109180916-3d00b180-7740-11eb-854c-e1135b704fbe.png)

Here is my startup.cs code
[code]

Here is my appsettings.json
![image](https://user-images.githubuserconten

[2021-02-25 16:16] pearcec opened #71243 "Ambiguous reference to users"
Section: IM-5: Monitor and alert on account anomalies
Claims: 'logs to view which users connected to which workloads, at what time, from where, and other such relevant logging information.'  This is a bit ambiguous.  Does it suggest the user logging in to the server?  Or the user logging in through bastion?  The user logging in through bastion is FAR more useful information.

---
#### Document Det

[2021-02-25 16:45] linda33wj commented on #70347
Thanks for the feedback. Azure Data Factory APIs follow the standard Azure APIs. You can refer to the Azure general guidance here regarding authentication and more: https://docs.microsoft.com/en-us/rest/api/azure/.

#please-close

[2021-02-25 16:45] #70347 closed

[2021-02-25 16:47] spelluru commented on #69383
@JSeb225 - Could you please review this issue when you get a chance? Thanks.

[2021-02-25 16:49] GiftA-MSFT commented on #71179
Hi @Buthrakaur, I'm trying to find the appropriate channel for you to share your feedback. Will provide updates shortly. Thanks.

[2021-02-25 16:49] spelluru commented on #70626
@JSeb225 - Please review this issue when you get a chance and let me know if you need help with updating the article. Thanks.

[2021-02-25 16:53] RohitMungi-MSFT commented on #71215
Thanks for the link. Since this is purely a service documentation repo the audience of issues raised here might be limited to answer queries regarding the configuration of pipeline runs as per the notebook. We would encourage to post or reference this issue directly on MachineLearningNotebooks [repo ](https://github.com/Azure/MachineLearningNotebooks)instead.

With reference to the error with your

[2021-02-25 16:57] SaiKishor-MSFT commented on #71243
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-25 17:01] SaiKishor-MSFT commented on #71224
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-25 17:06] phanikumarsharma opened #71244 "Session Host Operator Content in Documentation"
In **https://docs.microsoft.com/en-us/azure/virtual-desktop/rbac#:~:text=Windows%20Virtual%20Desktop%20uses%20Azure,roles%20to%20users%20and%20admins.&text=The%20standard%20built%2Din%20roles,%2C%20app%20groups%2C%20and%20workspaces** page, the Session Host Operator description is incorrect as the content is about Session Host Contributor role. By using Session Host Operator role we cannot create,

[2021-02-25 17:06] JSeb225 commented on #70626
Thanks for following up. Created a PR to add more info for this.

[2021-02-25 17:18] SaiKishor-MSFT commented on #70729
@kalyanmit  This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackoverflow. We have our engineers and other community members who will be happy to assist. Thank  you!

[2021-02-25 17:18] fvarga01 opened #71245 "Document the behavior that output bindings will not be invoked if a function fails with an unhandled exception"
Please highlight the fact that output bindings will not be invoked if a function fails with an unhandled exception and that it would be more problematic if output binding took place even if an unhandled exception occurred because there is no way to guarantee the state of the output at the time the unhandled exception was raised.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-02-25 17:18] LittleBoxOfSunshine opened #71246 "SLB via IMDS windows example doesn't bypass proxies"
As the document correctly points out, bypassing proxies is a requirement when interacting with IMDS. However the `-NoProxy` flag is not actually present:

![image](https://user-images.githubusercontent.com/12402637/109190534-06c82f80-774a-11eb-92cb-62b6a972c76a.png)

This is surprising because the .md correctly specifies the flag:

![image](https://user-images.githubusercontent.com/12402637/109190

[2021-02-25 17:20] maya-cnx commented on #55913
Currently even for Read access it needs delegated user not just for write.
https://github.com/microsoftgraph/microsoft-graph-docs/issues/7934
mentions
"No @maya-cnx , as the Engineer clarified and as per the docs, you do require delegated user permissions."

[2021-02-25 17:21] SwathiDhanwada-MSFT commented on #71240
@bhsanghv Thanks  for your feedback.
Assigning to content author @rboucher for review.

[2021-02-25 17:24] asudbring commented on #71246
Hi @LittleBoxOfSunshine

We currently have a PR in to fix this.  Unfortunately we are in a content freeze until next week because of Ignite.  The fix will be on the live site when merges commence after the freeze.

Thanks!

#reassign:@asudbring

[2021-02-25 17:24] JamesTran-MSFT commented on #71223
@TorATB
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-25 17:25] scofield1991 commented on #71215
Thank @RohitMungi-MSFT! I will re-post my issue in that repo.

As per your suggestion:  I pass environment details to my scriptconfig:

src = ScriptRunConfig(source_directory='Projects/azureml-examples/workflows/train/fastai/pets/src',
                      script='aml_wrapper.py',
                      compute_target=attached_dsvm_compute,
                      environment=conda_env)
run = exp.su

[2021-02-25 17:25] JamesTran-MSFT commented on #71231
@Pambarhop
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-25 17:25] mikesteele81 opened #71247 "content out of date"
This page is out of date. The screenshots don't match what we see in Azure Active Directory's admin console, and I'm unable to follow some of the procedures listed here. App authorization is a complex topic, so it's likely readers will have a difficult time discovering the correct procedure when documentation is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-02-25 17:25] asudbring commented on #71246
#reassign:@asudbring

[2021-02-25 17:28] JamesTran-MSFT commented on #71236
@cbrightsci
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-25 17:28] JamesTran-MSFT commented on #71237
@philomathikus
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-25 17:31] JamesTran-MSFT commented on #71244
@phanikumarsharma
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-25 17:33] TomArcherMsft commented on #53013
@lucafabbri365 Hi! I apologize for the delay. I've updated this article and will let you know as soon as its published - hopefully within the next day or two.

[2021-02-25 17:33] JamesTran-MSFT commented on #71232
@Ponant
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-25 17:34] JamesTran-MSFT commented on #71241
@oscarmorasu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-25 17:35] JamesTran-MSFT commented on #71247
@mikesteele81
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-25 17:51] ssivas commented on #69683
@vabgujral , The changes has been updated to Doc on Jan 29, 2021. Thanks for bringing this to our notice. Thanks.

[2021-02-25 17:53] ssivas commented on #70490
@danmyhre , The changes has been updated in this [article](https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-multi-geo?view=o365-worldwide#microsoft-365-multi-geo-availability) and same will get published in this [article](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-feature-preferreddatalocation?toc=%2Fmicrosoft-365%2FEnterprise%2Ftoc.js

[2021-02-25 17:53] #70490 closed

[2021-02-25 18:02] Ponant commented on #69815
@iamDanielo
https://docs.microsoft.com/en-us/answers/questions/284801/reset-password-userflow-not-returning-aadb2c90118.html

[2021-02-25 18:03] sapien47 opened #71248 "Data volume Partitionning"
I really wish there was more details and guidance regarding data volume Partitionning versus stripping.on Azure
What about log vumes, we should perfrom stripping , where are Azure recomemdnations ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ecd5d2-9d58-1d74-8e27-22754055120c
* Version Independent ID: 3e93d9d3-534

[2021-02-25 18:03] ChaitanyaNaykodi-MSFT commented on #70942
Hello @maximivanov, I got a response from the team. The value for `renewal-period` should be set to `zero` for lifetime call volume scenario. I will see if I can add a note in the document regarding the same.
Please let me know if there are any additional concerns. Thank you!

[2021-02-25 18:05] ivayala commented on #71176
Thank you for looking into this Travis. I thought my issue was that I could not tell the difference between ultra ssd being available and ultra ssd not being available when I use the az cli command.

However, it seems that the actual issue is that there is a discrepancy between the output of az cli (which is stating that ultra ssd is available) and powershell (which is stating that ultra ssd is no

[2021-02-25 18:12] DerekHerman-MSFT commented on #71239
@SimpleAgileSolutions Windows does not have this option. The possible workaround is to create a batch file that runs on startup. You can refer to this thread for more information.
https://social.technet.microsoft.com/Forums/en-US/44445dc3-0185-407f-b8ad-711f22cd4ec6/windows-nfs-client-reconnect-to-nfs-target-on-reboot?forum=winserverfiles

[2021-02-25 18:13] MonikaReddy-MSFT commented on #71171
@nicoride93 - Teams is supported on GCC-High.

Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 18:13] #71171 closed

[2021-02-25 18:13] MonikaReddy-MSFT commented on #71168
@Wreckergibb74 - Teams is supported on GCC-High.

Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-25 18:13] #71168 closed

[2021-02-25 18:22] nicoride93 commented on #71171
Thanks for the email!

Regards!!

Nicolas Riderelli
Microsoft Consultant

El jue, 25 feb 2021 a las 15:13, MonikaReddy-MSFT (<notifications@github.com>)
escribió:

--
Nicolás Riderelli Devoto
Ingeniero Civil Informático

[2021-02-25 18:22] JamesTran-MSFT commented on #71231
@Pambarhop
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-25 18:22] #71231 closed

[2021-02-25 18:23] bahadir-be commented on #19456
I have asked it for you guys :)

![image](https://user-images.githubusercontent.com/62173919/109198782-e9718080-779e-11eb-8975-8e416370969c.png)

[2021-02-25 18:27] MarileeTurscak-MSFT commented on #69123
Hi @RNalivaika ,

Are you doing Express or Custom install? Also, is there any reason you are using the old build and not the latest build?

If you are using Express and AAD Connect is selecting "objectGUID", it is because mS-DS-ConsistencyGuid is populated for some user.

However, if you are using Custom, please make sure that you are choosing "Let Azure manage source anchor for me" and not overri

[2021-02-25 18:27] #69123 closed

[2021-02-25 18:36] stdistef opened #71250 "Windows Event Logs now configured with LAW - Agent Configuration - update required."
Azure Log Analytics workspace now has an 'agents configuration' where you control what Windows Event Logs will be routed to the workspace.   The screen we have in the document is from OMS days gone by.  Please updated it to the new one:

![image](https://user-images.githubusercontent.com/35927980/109200227-5ae50b00-776e-11eb-9413-2ef5a47ae979.png)

---
#### Document Details

⚠ *Do not edit this se

[2021-02-25 18:36] kyledeloitte opened #71251 "DevOps ADF Walkthrough Outdated"
The DevOps recommended process has changed via 2/15 and announcements link to this article for walkthrough- however, it doesnt appear that the article is updated to contain the new recommended process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-

[2021-02-25 18:37] malscent opened #71252 "There is not a good description or link to how one should obtain an access token."
While there is information on another page saying to establish a Security Principal and application in Azure AD, there is no indication of the scopes, url, or any application that can be used or examples to be had to obtain said access token.

This leaves developers in a lurch, as they are unable to authenticate and properly use this API.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-25 18:38] JamesTran-MSFT commented on #71236
@cbrightsci
Can you share a screenshot of the app you're using or a full screen, screenshot? I was able to add the AWS SSO app to my enterprise applications list and see what is shown in the docs when it comes to the Tenant URL and Secret Token.

![AWSSSO](https://user-images.githubusercontent.com/36619112/109200471-80b1e600-7755-11eb-867d-7406e8ea8f4a.gif)

If you have any other questions, please

[2021-02-25 18:42] PeterCLu commented on #71036
#assign:@lobrien

[2021-02-25 18:44] mhopkins-msft commented on #69902
Hi @vasuthot2

Thank you for this suggestion. I've created a work item and assigned it to our backlog for consideration in a future update.

Thanks!
 ~ *Mark*

#please-close

[2021-02-25 18:44] #69902 closed

[2021-02-25 18:45] JamesTran-MSFT commented on #71173
@ryangugcloudca
Thank you for your inquiry!

We currently don't have any ETA for when the [lastSignInDateTime property](https://docs.microsoft.com/en-us/graph/api/resources/signinactivity?view=graph-rest-beta) will be in general availability (GA) status, however if sufficient feedback indicates viability. Any related REST API updates are added to the v1.0 endpoint (https://graph.microsoft.com/v1.0

[2021-02-25 18:45] #71173 closed

[2021-02-25 18:47] bledMS82 opened #71253 "Please add mention of what the extension does on 2019"
We need to mention here that Defender is installed on 2019 and how the extension is not required or needed and what functionality it adds if any similar to the call out for 2016 seen below.

"Windows Defender is the built-in Antimalware enabled in Windows Server 2016. The Windows Defender Interface is also enabled by default on some Windows Server 2016 SKU's. The Azure VM Antimalware extension can

[2021-02-25 18:51] JamesTran-MSFT commented on #71247
@mikesteele81
Thank you for your feedback!

Walking through the docs, I wasn't able to see anything inconsistent with the screenshots provided. However, would you be able to share additional details on what you see when you're walking through the doc? Any screenshots would definitely be appreciated.

Thank you for your time and patience throughout this issue.

[2021-02-25 18:53] msjuergent commented on #71248
We so far did not make a clear recommendation on whether to use data volume partitioning or striping through a volume manager, because data volume partitioning is relatively new and is restricted to data volumes only.  Means the HANA redo log can't be partitioned by HANA functionality across several disks, as the data volumes can be partitioned. As a result, customers might be forced to use stripi

[2021-02-25 18:56] GiftA-MSFT commented on #71179
@Buthrakaur quick follow-up, a PR is underway to update the links, it may take a while to update. However, which cognitive service are you looking to provide feedback on so I can provide the appropriate link?

[2021-02-25 19:16] maximivanov commented on #70942
Thanks @ChaitanyaNaykodi-MSFT. It makes sense. A note in the table with attributes on the page will definitely help.

[2021-02-25 19:20] lobrien commented on #71036
Investigating

[2021-02-25 19:21] phatcher opened #71255 "IP Address quantity wrong?"
In [private network connectivity](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#private-network-connectivity) in mentions that the subnet needs at least 100 IP addresses, if you try to allocate a subnet to a function in an EP plan it wants 200 IP addresses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-02-25 19:28] kof-f commented on #71052
Hey @jabbera thank you for getting back to us on this. We are investigating this now and will provide an update once we are finished.

[2021-02-25 19:34] SadiqhAhmed-MSFT commented on #71238
@daspo Thanks for the question. We are looking into it and will get back to you soon.

[2021-02-25 19:35] ChaitanyaNaykodi-MSFT commented on #70942
Hello @maximivanov, The Doc Author has updated the document and changes will be published soon. We will now proceed to close this issue out. Thank you so much for the feedback and for helping us improve the documentation.

[2021-02-25 19:35] #70942 closed

[2021-02-25 19:37] mimckitt commented on #71161
#reassign: @Styli365

[2021-02-25 19:37] cbrightsci commented on #71236
Thank you very much. It appears that Amazon Web Services (AWS) was installed instead of AWS Single Sign-on. Everything else was identical for setup, this just required IAM credentials instead of the SCIM Endpoint. Thank you for your quick reply.

[2021-02-25 19:39] mimckitt commented on #65559
#reassign: @roygara

[2021-02-25 19:39] dozer75 opened #71256 "Outdated documentation"
This documentation seems to be old and needs to be revised, several parts of it (e.g. add peering doesn't correspond to the current implementation of peering).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebfb7343-fd37-ef08-7dfd-8d0898066056
* Version Independent ID: 8539198b-e78d-921b-2cec-b0800459256b
* Content: [T

[2021-02-25 19:48] gregveres opened #71257 "documentation wrong for getting connection string from portal"
I was directed to this page when trying to figure out how to get the connection string for an azure storage account. I tried to follow the instructions for using the azure portal but the seem to be out of date. There is no "Settings" blade for the storage account. And none of the blades seem to show the information that this doc said would be there.

---
#### Document Details

⚠ *Do not edit this

[2021-02-25 19:57] JamesTran-MSFT commented on #71236
@cbrightsci
Thanks for the quick update and I'm glad that I was able to help resolve your issue!

I'll go ahead and close this out and if you have any other questions, please let me know.
Thank you for your time and patience!

[2021-02-25 19:57] #71236 closed

[2021-02-25 19:58] ssivas commented on #70966
@tiggyboo ,
Thanks for reaching out.

I had verified the sample and was able to find the cause for the above issue, you need to configure **the application to support multi-tenant** option as shown below while registering application as part of prerequisite in **[Step number 1](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-nodejs-webapp-msal#prerequisites)**

![imag

[2021-02-25 20:00] cynthn commented on #70750
The doc in question has been archived because it was out-of-date. We are pointing folks to this topic, which is newer: https://docs.microsoft.com/en-us/samples/azure-samples/virtual-machines-python-manage/azure-virtual-machines-management-samples---python/?context=%2fazure%2fvirtual-machines%2fcontext%2fcontext

#please-close

[2021-02-25 20:00] #70750 closed

[2021-02-25 20:06] cynthn commented on #70143
@DavidChenLiang Thanks for the feedback. I've made a few changes to the article to clarify the VM size pieces. Changes should be live next week, after Ignite begins.

#please-close

[2021-02-25 20:06] #70143 closed

[2021-02-25 20:10] KranthiPakala-MSFT commented on #71251
@kyledeloitte
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-25 20:34] stdistef opened #71258 "Compare Metrics and logs URL 404"
Requires a working URL (see highlight in attached .png)
![image](https://user-images.githubusercontent.com/35927980/109213670-e070b700-777e-11eb-8599-a995cbe5f28a.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26af5e7a-116c-0347-97ad-0a50ed869ba4
* Version Independent ID: 8705471a-e7b6-97b4-

[2021-02-25 20:35] cynthn commented on #70086
@pumpkinclarinet Thank you for the feedback. I've made some changes to the article that should go live next week.

#sign-off

[2021-02-25 20:38] cynthn commented on #69602
#please-close

[2021-02-25 20:38] #69602 closed

[2021-02-25 20:41] cynthn commented on #69267
I've created a work item to rework how we cover plan information, as well as look at where we should stop giving the simplified parameter set as an example. I'm going to close this issue for now. Thanks again!

#please-close

[2021-02-25 20:41] #69267 closed

[2021-02-25 20:44] cricex opened #71259 "Recommended AAD privileges (Application Administrator) are too high"
Prerequisites state that a user should have the Application Administrator AAD role assigned to them in order to deploy Video Indexer. Application Administrator would enable a user to manage (including delete) applications for an entire enterprise. This is not an acceptable role to assign to a normal user within a production tenant.

Application Developer role is more appropriate as it limits the u

[2021-02-25 20:48] cynthn commented on #70086
#please-close

[2021-02-25 20:48] #70086 closed

[2021-02-25 20:50] zaalion opened #71260 "How can I find the logic app / workflow name by workflow id?"
[Enter feedback here]
0

I have the workflow id of a logic app (e.g. 33ccf311e6074f668a85eff71026956b). Is there a PowerShell script which can give me the name of this logic app?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0419bff1-db7e-13be-277b-c6a65fc97491
* Version Independent ID: 53e2ee1f-43b9-4993-2ffe

[2021-02-25 20:50] cynthn commented on #67944
I've updated the article to show sharing from the gallery instead of the resource group. Changes should go live next week. Thanks!

#please-close

[2021-02-25 20:50] #67944 closed

[2021-02-25 20:56] #71120 closed

[2021-02-25 20:58] afratila opened #71261 "Can't Enable/Disable function when running from package"
Is this intended behavior? We have an azure function app with CI/CD and it publishes using a zip deploy, so it's running from a package. However we'd like to be able to enable/disable the function in our DEV environment as needed for development (it's a timer trigger-- we don't want to have it firing in both dev and prod simultaneously).

The Enable/Disable buttons on the function in dev are greye

[2021-02-25 21:05] ggailey777 commented on #71120
Thanks @tyeth for reporting this and @ChaitanyaNaykodi-MSFT for fixing it!

[2021-02-25 21:17] ggailey777 commented on #71261
@afratila whether a function is able to execute is determined by the `AzureWebJobs.<TRIGGER_NAME>.Disabled` app setting, as detailed [here](https://docs.microsoft.com/azure/azure-functions/disable-function). Because settings can be assigned to a slot, maybe something's going on with that. Try creating the same app setting in the slot side, and mark it as a slot setting. That should make it apply o

[2021-02-25 21:18] ggailey777 commented on #71261
#assign:ggailey777

[2021-02-25 21:25] SamaraSoucy-MSFT commented on #71144
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2021-02-25 21:25] ss185475 opened #71262 "About how to get and use ILoggerFactory"
[Enter feedback here]

I had an issue to use ILoggerFactory. While I was trying to resolve the issue, I found one thing below.

There are 3 methods in Startup.cs. 1. Startup(), 2. ConfigureServices() and 3. Configure(). Calling sequences are 1, 2 and 3. Then 1 and 3 can have “ILoggerFactory loggerFactory” as a parameter. And we use “services.AddApplicationInsightsTelemetry();” in 2. After finish t

[2021-02-25 21:27] SamaraSoucy-MSFT commented on #71042
@rajkumar-munusamy I checked this thread before the one where you responded that this was a duplicate and that you had posted on Q&A. You can disregard the question- I've closed this thread as a duplicate.

[2021-02-25 21:29] drdamour opened #71263 "documentation for those not using npm"
are there any docs about using the click plugin for apps that are not using npm like there are for the javascript sdk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63604709-9e90-d1fc-6f89-65ba3411892e
* Version Independent ID: c2e41db1-84d5-e411-c8c9-f903158764c6
* Content: [Click Analytics Auto-collection plugin for

[2021-02-25 21:43] SaiKishor-MSFT commented on #71256
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-25 21:43] Mansoormahfoud opened #71265 "Missing key specification"
If not mistaken, (DPS cannot be used for provisioning IoT devices that are children of an Azure Gateway. This is a key (crucial) specification to mention but it was not stated any where on this page. It would have been very useful to mention it clearly and obviously in the introduction and/or in the use case scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-02-25 21:45] Ponant commented on #67967
Try 2.1.2 which solved this encoding issue for me.

[2021-02-25 21:48] turb0chrg opened #71266 "Maximum 200 security rules limit"
Hi there.

There is a limit on the number of security rules in a Network Security Group that isn't documented here. See the following output from a move attempt:

`{"code":"ResourceMoveProviderValidationFailed","message":"Resource move validation failed. Please see details. Diagnostic information: timestamp '20210225T025106Z', subscription id 'REDACTED', tracking id '6b4dfd68-9b1f-4342-adb8-b1991c

[2021-02-25 21:50] mmacy commented on #51307
@GuyPaddock @hpsin Moving this stale issue to Azure DevOps work item backlog for review in recurring sprint triage. We'll move on it as appropriate and resolve when possible.

ID | Title | Iteration Path | Assigned To
-- | -- | -- | --
[1308686](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1308686) | [ISSUE][51307] "max_age" QS param for "/{tenant}/oauth2/v2.0/auth

[2021-02-25 21:50] #51307 closed

[2021-02-25 21:52] wyliegraham opened #71267 "Update needed for "Next Steps""
In the "Next Steps" section, the following link/download location has been deprecated, and needs to be updated:

You can also explore this tutorial using our Azure Notebooks example by downloading the "Genomics Tutorial.ipynb" file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcb147c-ad94-4926-6cec-da6013c6006a
* Ve

[2021-02-25 21:52] afratila commented on #71261
Hi, thank you that worked! Wasn't aware of that functionality. However, the app setting for me was AzureWebJobs.<function name>.Disabled, not trigger name

[2021-02-25 21:58] DerekHerman-MSFT commented on #71257
@gregveres It should be on the left side. Are you not seeing it there?
![Screenshot 2021-02-25 135538](https://user-images.githubusercontent.com/65573242/109225022-93d2af00-7771-11eb-99c8-e9547fe261a4.png)

[2021-02-25 22:02] gregveres commented on #71257
Ok, my bad. I scanned that left nav probably 20 times looking for the word Settings. Not once did I read any of the Section titles to see if one of them were called Settings. And I could have sworn that I clicked on Access Keys looking to see if that was the blade I was supposed to click on and it didn't look like it, But i just went there now and I see that it is the proper spot.

Sorry...

[2021-02-25 22:02] #71257 closed

[2021-02-25 22:02] mmacy commented on #41386
@jaffadog @hpsin Moving this stale issue (☢️ **490 days**) to Azure DevOps work item backlog for review in recurring sprint triage. We'll move on it as appropriate and resolve when possible.

ID | Title | Iteration Path | Assigned To
-- | -- | -- | --
[1308759](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1308759) | [ISSUE][41386] How do claims map to AAD user attr

[2021-02-25 22:02] #41386 closed

[2021-02-25 22:05] #69815 closed

[2021-02-25 22:10] mmacy commented on #41385
@jaffadog @hpsin Moving another stale issue (☢️ **490 days**) to Azure DevOps work item backlog for review in recurring sprint triage. We'll move on it as appropriate and resolve when possible.

ID | Title | Iteration Path | Assigned To
-- | -- | -- | --
[1308773](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1308773) | [ISSUE][41385] "upn" is not always included in

[2021-02-25 22:10] #41385 closed

[2021-02-25 22:17] grhuynh commented on #71267
Removed sentence (there is no longer a notebook example)
PR -  https://github.com/MicrosoftDocs/azure-docs/pull/71268

[2021-02-25 22:35] colejnic opened #71269 "The Resubmit capability on this page is currently unavailable."
There is a note on the page under section 'View logic app runs status' that states "The Resubmit capability on this page is currently unavailable." When testing the resubmit function for several of our logic apps it appears to be working. Could clarification on what 'unavailable' means, or why it's unavailable be included? I'm not sure if resubmitting worked for us because of a fluke, or if I'm mi

[2021-02-25 22:45] James-Hamil-MSFT commented on #70979
Hi @theheatDK, we are awaiting a response from the product group.

Best,
James

[2021-02-25 22:46] James-Hamil-MSFT commented on #70438
Hi @yasithacp , closing this issue unless you still need assistance. Just post back here!

Best,
James

[2021-02-25 22:46] #70438 closed

[2021-02-25 22:47] #70271 closed

[2021-02-25 22:49] #70610 closed

[2021-02-25 22:49] erichrt commented on #59071
#reassign: @erichrt

[2021-02-25 22:50] MarileeTurscak-MSFT commented on #71242
@dpaulino
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-25 23:06] dkamstra commented on #60782
#please-close

[2021-02-25 23:06] #60782 closed

[2021-02-25 23:14] AlexandraKemperMS commented on #70955
Hi @elegault, you issue seems to be from authenticating with key vault from App Configuration. To be sure, have you created the key vault reference in your app configuration store? Does the value field of this reference include the right name of your key vault? If you go into your key vault, is mySP listed with the right roles under the role assignments tab (under access control)?

[2021-02-25 23:19] navyasric commented on #71079
@longMOR @jmprieur We have plans to add samples and surface them in the documentation for these scenarios using Spring Boot. Meanwhile, please take a look at this sample if it solves your need: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter

[2021-02-25 23:25] etheuamt opened #71271 "Restricting storage account to VNet"
Hello!

I followed the steps for restricting the storage account with service endpoint, with all new resources, and skipped optional step 6, and after completing step 9 on updating my connection strings, I got the error "System.IO.FileSystem: Could not find a part of the path 'D:\home\site\wwwroot'." on my function app overview page.

Basically, the same issue as in https://github.com/MicrosoftDoc

[2021-02-25 23:33] dkamstra commented on #58836
@please-close

[2021-02-25 23:33] jlichwa commented on #69770
#please-close

[2021-02-25 23:33] #69770 closed

[2021-02-25 23:33] dkamstra commented on #58836
#please-close

[2021-02-25 23:33] #58836 closed

[2021-02-25 23:53] MarileeTurscak-MSFT commented on #69324
I reached out to several people on the Key Vault team but have not received a status update yet. Were you able to confirm this on your side?

I bumped up one of my escalation threads and checked with a few others from that team as well today.

[2021-02-26 00:13] elegault commented on #70955
Sorry, I should have updated the ticket since I discovered the cause.  My research let me to suspect it was an issue with my currently logged in account in Visual Studio while debugging the app.  My Azure subscription is associated with a MSA, and when I switch to a O365 account in VS that has global admin privileges in that same subscription, the issue went away!

[2021-02-26 00:15] jlichwa commented on #70365
It seems like a scenario which would require to work with engineers. Both Access Policies and RBAC using same identities in AAD, so I don't see there will be any difference.
Please create support case on Key Vault. RBAC feature is GA currently #please-close

[2021-02-26 00:15] #70365 closed

[2021-02-26 00:22] AlexandraKemperMS commented on #70955
No worries! I am glad this has been resolved, if access is denied it is usually tied to role assignments.
I will close this thread now, please feel free to reach out if you have any more questions or feedback!
#please-close

[2021-02-26 00:22] #70955 closed

[2021-02-26 00:25] MarileeTurscak-MSFT commented on #69324
PG response: If you run the command again, it should regenerate the key again within two days.

So it should be at 2021-09-04 00:00:00

[2021-02-26 00:43] vanpyrzericj opened #71273 "as aks update command does not exist"
While attempting to run `az aks update -g <RGName> -n <AKSName> --enable-managed-identity`, the following error is returned:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Az

[2021-02-26 01:47] nayar34 opened #71275 "What Licensing do you need for the NPS Extension?"
This article is not very clear on exactly what licensing is needed to deploy Azure NPS Extension/Server.  It needs to clearly define if you need Azure AD Prem 1 or if any M365 license which includes MFA is sufficent.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792

[2021-02-26 02:11] HipYoda opened #71276 "Add code that uses the output binding"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-storage-queue-vs-code?pivots=programming-language-python

Update HttpExample\__init__.py to match the following code, adding the msg parameter to the function definition and msg.set(name) under the if name: statement.

This lined in the Connect Azure Functions to Azure Storage using Visual Studio Code manual is out

[2021-02-26 02:46] SamaraSoucy-MSFT commented on #71222
Thanks for the question! We will review and get back to you shortly.

[2021-02-26 02:47] SamaraSoucy-MSFT commented on #71225
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-26 02:48] SamaraSoucy-MSFT commented on #71226
Thanks for the feedback! We will review and get back to you shortly.

[2021-02-26 02:49] SamaraSoucy-MSFT commented on #71228
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-26 02:51] SamaraSoucy-MSFT commented on #71233
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-26 02:52] KrishnaG-MSFT commented on #71258
@stdistef Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-26 03:18] komayama commented on #71203
@SnehaAgrawal-MSFT
Thank you for checking my problem. It's looks like another page for introducing HTTP header and tag.
https://docs.microsoft.com/en-us/azure/app-service/networking-features#access-restriction-rules-based-on-service-tags-preview
https://docs.microsoft.com/en-us/azure/app-service/networking-features#http-header-filtering-for-access-restriction-rules-preview

I think I suggested doc

[2021-02-26 03:34] ram-msft commented on #71018
@jpmlblog We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-26 03:34] #71018 closed

[2021-02-26 03:37] spelluru commented on #37624
The update will go live early next week.

#please-close

[2021-02-26 03:37] #37624 closed

[2021-02-26 03:43] SwathiDhanwada-MSFT commented on #71250
@stdistef Thanks for your feedback.

Assigning to content author @bwren for review.

[2021-02-26 03:45] SwathiDhanwada-MSFT commented on #71252
@malscent Thanks for your feedback.

Assigning to content author @mingshen-ms for review.

[2021-02-26 03:46] SwathiDhanwada-MSFT commented on #71262
@ss185475 Thanks for your comment.

Assigning to content author @lgayhardt for review.

[2021-02-26 04:00] spelluru commented on #70925
"Event Hubs IP filtering doesn't support IPv6 ranges. Note that you may see private endpoint addresses in the IPv6 format in the "log.

First part is accurate as per the dev. [IP filtering](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-ip-filtering) supports only IPv4 addresses. I kept it as it is and added the note.

[2021-02-26 04:02] spelluru commented on #70925
The update will go live with the next publish (most probably early next week).

#please-close

[2021-02-26 04:02] #70925 closed

[2021-02-26 04:02] AnuragSharma-MSFT commented on #70318
@venkat1017 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-26 04:05] NavtejSaini-MSFT commented on #71004
@joymon Please get back to us with further details and we will work on this further but for now we are going ahead and close this feedback for now.

[2021-02-26 04:05] #71004 closed

[2021-02-26 04:06] NavtejSaini-MSFT commented on #71183
@nunepalli Review with SQL Server, if successful we will assign the issue for enhancement to our doc author.

[2021-02-26 04:06] #70318 closed

[2021-02-26 04:06] spelluru commented on #71164
@chenbai-sudo - Thanks for reporting the issue. I have fixed the link. The update will go live with the next publish (most probably early next week).

#please-close

[2021-02-26 04:06] #71164 closed

[2021-02-26 04:08] AshokPeddakotla-MSFT commented on #71265
@Mansoormahfoud Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 04:24] RameshThangamuthu opened #71277 "The resource cleanup is misleading"
I followed this guide and I understand this quick tour doesn't create any resources in my subscription. Then the cleanup of resources section in the bottom of the page is misleading as there are nothing to clean.

Also the range selection didn't work - doc issue or product issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-26 04:37] MayankBargali-MSFT commented on #71260
@zaalion Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 04:38] MayankBargali-MSFT commented on #71255
@phatcher Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 04:40] MayankBargali-MSFT commented on #71245
@fvarga01 Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 04:42] MayankBargali-MSFT commented on #71276
@HipYoda Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 04:43] SnehaAgrawal-MSFT commented on #71020
@OzBob Thanks again for the feedback! The PR has been created once verified by author @burkeholland  it will be visible.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-02-26 04:43] #71020 closed

[2021-02-26 04:44] MayankBargali-MSFT commented on #71271
@etheuamt Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 04:47] MayankBargali-MSFT commented on #71269
@colejnic Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 05:10] spelluru commented on #70162
Hi @ErikMogensen - I have a work item to track it internally and I will work on it soon. Thanks.

#please-close

[2021-02-26 05:10] #70162 closed

[2021-02-26 05:13] spelluru commented on #43290
We will be reviewing and updating this article soon (to include newer SDKs).

#please-close

[2021-02-26 05:13] #43290 closed

[2021-02-26 05:17] SadiqhAhmed-MSFT commented on #71238
@daspo _manage.windowsazure.com_ domain was the old classic portal that we decommissioned  few years ago and Portal does not have any assets that are served through this endpoint anymore. If you see any other sub domains that portal services or  framework is referencing, I would like to know so we either let the specific service team take required action or remove such references. As per the URL w

[2021-02-26 05:23] SnehaAgrawal-MSFT commented on #71040
@saisworld Thanks for reaching here. We typically try to keep the Azure-Docs channel scoped to doc feedback and suggesting content improvements, directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question on [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-sql-database.html)  where one of our speciali

[2021-02-26 05:23] #71040 closed

[2021-02-26 05:36] eggind opened #71278 "Assign Azure AD Identity to existing VM in Azure? Possible?"
This document mentions:
There are multiple ways you can enable Azure AD login for your Windows VM:

    Using the Azure portal experience when creating a Windows VM
    Using the Azure Cloud Shell experience when creating a Windows VM **or for an existing Windows VM**

The documentation does not mention how to apply this feature to an existing VM. I can install the extension on my existing VM, but

[2021-02-26 05:37] AnuragSharma-MSFT commented on #70732
@takekazuomi Thanks for your patience. We have received the response back from the product group. Please find it below:

**_“The engineering team has confirmed it is a bug and investigating it further. Until that time, if you are blocked on creating the server programmatically, we recommend to leverage azure cli and set collation_server and character_set_server together using the command below. On

[2021-02-26 05:42] eggind commented on #71197
The image you show is not what it looks like in my Azure Portal. I have found that it all worked when I choose:
Platform: Windows 10 and later
Profile Type: Templates   <there is no "Custom" option>
Template: Custom

From there on it looks the same as the documentation

![image](https://user-images.githubusercontent.com/9002879/109259948-f480eb00-7848-11eb-8d45-7b070b934337.png)

[2021-02-26 05:44] AnuragSharma-MSFT commented on #71104
@yashwanthchannegowda Awaiting your response on this.

[2021-02-26 05:54] shashishailaj commented on #71278
@eggind Thank you for your query. We will investigate and update the thread.

[2021-02-26 05:55] shashishailaj commented on #71275
@nayar34 Thank you for your feedback . We will investigate and update the thread.

[2021-02-26 06:00] SnehaAgrawal-MSFT commented on #71259
@cricex Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 06:02] AnuragSharma-MSFT commented on #71125
@ppb1984 Thanks for providing the link. This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-26 06:02] JSeb225 commented on #69383
Sorry for the delay, let me add @an-emma  to look at this issue.

[2021-02-26 06:03] AnuragSharma-MSFT commented on #71133
@savjani Thanks for updating the docs for the issue.

@qishu-1996 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-26 06:03] #71133 closed

[2021-02-26 06:12] akirajay opened #71279 "pls unify all the variables of factoryname"
[Enter feedback here]

until create dataset it is ${FactoryName}

then from pipeline chanaged to ${dataFactoryName}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc219-c30f-1699-f586-9080d36a43fc
* Version Independent ID: fa7835bc-8a37-cb1a-ecbe-65883910196f
* Content: [Create an Azure data factory using REST API -

[2021-02-26 06:22] chetansir opened #71280 "Unable to create new container using New-AzStorageContainer"
I am using below pattern to create a container by passing variables using powershell, however there seems to be some issue with the context being created, which is not allowing me to create the container and is showing 404(the specified resource does not exist).

$storage= New-AzStorageAccount -ResourceGroupName $RESOURCE_GROUP_NAME -Location $LOCATION `
	-Name $TF_STATE_STORAGE_ACCOUNT_NAME `
	-S

[2021-02-26 06:41] AshokPeddakotla-MSFT commented on #71277
@RameshThangamuthu Thanks for the feedback! We are currently investigating and will update you shortly.
Can you share more details regarding **Also the range selection didn't work - doc issue or product issue**?

[2021-02-26 06:49] Kazzan opened #71281 "Warning for Yammer"
Hi, to section where you mentioned the activities automatically renew Microsoft 365 Group, you should add warning that "All Company" group converted in Yammer Native Mode to Microsoft 365 Group does not support such, and Yammer activities does not count. At least to time, when Yammer address this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-26 06:50] WhippsP opened #71282 "Identities can only contain 10 entries"
Under [Identities attribute](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes#identities-attribute) there should be reference to a limitation of 10 entries (this seems to be the case when testing)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b30bc6cd-5d1a-6966-747e-ec03607d8967
* Ve

[2021-02-26 06:56] psmanhas commented on #71253
@bledMS82
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-26 06:57] RohitMungi-MSFT commented on #71014
@jesuruban We will go ahead and close this issue, I have linked the PR with the changes which our team will review and sign off. Thanks again for spotting this.

[2021-02-26 06:57] #71014 closed

[2021-02-26 06:58] psmanhas commented on #71253
@TerryLanfear
Can you please check and add your comments on this doc update request as applicable

[2021-02-26 07:39] GitaraniSharma-MSFT commented on #70991
@RonnieQuan , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-26 07:39] #70991 closed

[2021-02-26 07:43] GitaraniSharma-MSFT commented on #71266
@turb0chrg , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and we'll get back to you shortly.

[2021-02-26 07:58] vlad610 opened #71283 "document terminate-unmatched-request attribute for CORS policy"
If a request comes in and it also has an "Origin" header that is NOT in the list of allowed origins, CORS returns a 200 as the rest of the execution does not occur (we don't try to match the incoming request to an API or an operation). This behavior can be changed by adding an attribute terminate-unmatched-request to the CORS policy and setting it to "false".

This needs to be documented.

---
###

[2021-02-26 08:00] HK-Zhang opened #71284 "Long blob name leads Azure function host shut down"
[Enter feedback here]

I have a blob has a long name like 'Data/12345678 PG&E/6-Haha Data/Haha1/NonHah.parquet/Soooo=0/part-00003-tid-115165488370289514-16fabd28-9931-4451-84a8-0d0ea921d059-29-1-c000.snappy.parquet'

When I debug azure function -BlobTrigger on local visual studio. I will get below error:
[2021-02-26T07:54:28.797Z] An unhandled exception has occurred. Host is shutting down.
[2021-0

[2021-02-26 08:31] phatcher commented on #36458
@shubDhond Can we also have some guidance on what to do when the deployment is via Linux docker container on Elastic Premium - it seems to require the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING  and WEBSITE_CONTENSHARE to host the Kudu environment even it's not being used for the functions themselves; if the file share doesn't exist then the host doesn't even start (can provide support ticket refere

[2021-02-26 08:41] rolyon commented on #71121
Hi @omerzubair
Thanks for the feedback. I will check into the Microsoft.DataShare resource provider.
I don't see missing built-in roles for Data Share. Is there a particular role you don't see?
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
thanks

[2021-02-26 08:54] ehsf973 opened #71285 "Business critical: Designed for applications with low I/O latency requirements IT'S HIGH"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [What is Azure SQL Managed Instance? - Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/sql-man

[2021-02-26 08:55] #71285 closed

[2021-02-26 08:55] ehsf973 commented on #71285
made mistake -sorry non english native ...

[2021-02-26 09:18] ssivas commented on #70966
@tiggyboo , I'm assuming this is working for you and therefore closing. Feel free to reopen if I'm wrong. Thanks.

[2021-02-26 09:18] #70966 closed

[2021-02-26 09:26] lilliansmestad opened #71286 "Chart version of SQL query result erroneous"
The chart-version of the SQL query result ('Explore the NYC Taxi data in the dedicated SQL pool') seems to have displaced the x-axis, starting at 0 instead of 1 (the query demanded the PassengerCount to be larger than 0).

While I am here, I can add that to me it is confusing to have the axis (PassengerCount) shown as a legend on the bottom; as I understand it, passenger count is the axis, and num

[2021-02-26 09:29] psmanhas commented on #70833
@mimergel Can you please submit your feature request in [feedback](https://feedback.azure.com/forums/216843-virtual-machines) forum where Product Group is quiet active and can help you out with your query since Github is more around documentation queries.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comm

[2021-02-26 09:29] #70833 closed

[2021-02-26 09:30] smedin4 opened #71287 "Clarify better which Defender granular permissions have the built-in Azure AD roles"
It would be great to clarify exactly which granular permissions for MD for Endpoint are included for each built-in Azure AD role.
Granular permissions: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/user-roles#permission-options

With the existing description, is not clear if Security Operator can do Basic or Advanced Live Response, or for this last one

[2021-02-26 09:35] yeroc-sebrof commented on #71152
Ah right, gotcha. I was confused by the wording of jobs at the time when I opened this but it's clicked now. Thank you

[2021-02-26 09:35] #71152 closed

[2021-02-26 09:38] AshokPeddakotla-MSFT commented on #71279
@akirajay Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-26 09:39] psmanhas commented on #71080
@mimckitt Do you have any inputs on the issue?

[2021-02-26 09:47] angrymrt opened #71288 "Why is there no Key Vault Certificate User role?"
Why is there no Key Vault Certificate User role as there is for Secrets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32fc20a0-4321-c74a-34aa-909f43a72db0
* Content: [Grant permission to applications to access an Azure key vault using Azure RBAC](https://

[2021-02-26 09:47] GitaraniSharma-MSFT commented on #71078
@geminiyeak , the backend team has updated the details for Azure Site Recovery in the repo and the changes in the doc will be reflected shortly.

Regarding your query on Public DNS zone forwarders for on premise AD record, it is recommended as below:
For on-premises workloads to resolve the FQDN of a private endpoint, use a DNS forwarder to resolve the Azure service public DNS zone in Azure. So if

[2021-02-26 09:48] shehryar-azam commented on #35934
hi @FrankHu-MSFT i ma macing
Verification of publisher domain failed. Unable to connect to {my-domain}.well-known/microsoft-identity-association. [D90xsMhA4X4+34GCcIXmaz]. but microsoft-identity-association.json is accessible in the browser

[2021-02-26 09:57] psmanhas commented on #71222
@AnandKatta Yes managed identity works for Networking type "Kubenet".

You can refer to [this](https://github.com/Azure/AKS/issues/1591) for more info.

Hope it helps!!!

[2021-02-26 10:01] psmanhas commented on #71063
@shermes Apologies for delay in response and all the inconvenience caused because of the issue. Recently, AKS has a default behavior change: in official clients(including Azure Portal, Azure CLI, aks-preview extension, and quickstart template), the client will create a cluster using managed identity by default, customer do not need to provide a service principal anymore. Seems like you are using q

[2021-02-26 10:01] #71063 closed

[2021-02-26 10:09] vanessabruwer opened #71289 "Broken Link in Step 4"
In this section:

Follow these instructions to collect the logs from Azure Storage. Once configured, the ETW event data should appear in Log Analytics under the ETWEvent table.

The link for *these instructions* links to https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-logs#collect-logs-from-azure-storage, which returns a 404

looks like it should link to https://d

[2021-02-26 10:49] KrishnaG-MSFT commented on #71289
@vanessabruwer Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-26 10:51] KrishnaG-MSFT commented on #71263
@drdamour Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-26 11:13] ashwanidhawan007 commented on #34375
az vm image accept-terms --urn microsoft_iot_edge:iot_edge_vm_ubuntu:ubuntu_1604_edgeruntimeonly:latest

This command has been deprecated and will be removed in version '3.0.0'. Use 'az vm image terms accept' instead.
Command group 'vm' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
(NotFound) Artifact: VMImage was not found.

Please advise

[2021-02-26 11:24] ld0614 opened #71290 "Computer Accounts aren't supported?"
Based on the documentation [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable) using computer accounts for authentication with Azure files is not supported.  Would you be able to clarify if this is indeed the case as this article appears to recommend Azure files for this use?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-02-26 11:45] RayMaAU opened #71291 "Cross tenant vnet to vhub connection error "tenant is not authorized to access linked subscription""
I have two Azure AD tenant, each has its own subscription.
My vhub is on tenantA. I'm trying to connect a remote vnet from tenantB to this vhub. The tenant user I use has access to both tenantA and tenantB, with contributor permission to each tenant's subscription.

I follow the doc and an error occurred at the last step "New-AzVirtualHubVnetConnection :

_The client has permission to perform acti

[2021-02-26 11:47] AshokPeddakotla-MSFT commented on #71265
Adding author @wesmc7777 to evaluate and update the doc as appropriate.

[2021-02-26 12:34] SaiKishor-MSFT commented on #71291
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 12:43] SaiKishor-MSFT commented on #70835
@vhorne Can you please look into this?

[2021-02-26 12:45] SaiKishor-MSFT commented on #70853
@vhorne Can you please look into this?

[2021-02-26 13:33] epa095 opened #71292 "Getting dataset with get_by_name vs download vs mount."
It is described here that it is possible to use the "as_named_input" to get a dataset, but also `Dataset.get_by_name`. It would be nice with some pro/con for the different methods. If one e.g. has a Tabular dataset which is going to become a pandas dataframe anyway in the code, is there any benefits for one method vs the other? I would assume `Dataset.get_by_name(..).to_pandas_dataframe()` is fast

[2021-02-26 13:35] alessandrograno-4wardPRO commented on #70935
Hi! Any update on this issue? Thanks!

[2021-02-26 13:49] tarwn opened #71293 "Mismatch between High Availability doc and Planned Maintenance doc on which tiers have available replicas/quorum"
On the High Availability post, it indicates that the lower tiers of service (like Standard) operate with a single Primary replica and fail over to an instance with available capacity, if needed. The higher tiers of service (Premium, Business Critical) are represented with multiple replicas, write quorum, etc.

However, in the [Planned Maintenance](https://docs.microsoft.com/en-us/azure/azure-sql/d

[2021-02-26 13:57] stimocea commented on #34666
Hi @ManojReddy-MSFT ,
How about installing several connectors on a Windows Server on-premise, where each connector exposes a different SOAP Web service, running on different (Linux) machines inside the same network as the Windows Server... Would that be possible?

[2021-02-26 14:20] MGoedtel commented on #71228
@tyeth - Thanks for bringing this to our attention. I've created a work item for the article and we will update it as part of next month's sprint.  #please-close

[2021-02-26 14:20] #71228 closed

[2021-02-26 14:33] Styli365 commented on #71161
Great feedback. Updated page.

[2021-02-26 14:34] jkrri opened #71295 "AAD login to Azure VM and MFA not working together"
I have followed this document [https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows) and set up a 2019 Datacenter VM our Azure subscription and had no issues getting the extension installed successfully.  I verified the VM is joined to our Azure AD, and al

[2021-02-26 14:35] Styli365 commented on #71161
@TravisCragg-MSFT please close

[2021-02-26 14:38] KranthiPakala-MSFT commented on #71286
@lilliansmestad
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-02-26 14:54] shashishailaj commented on #71280
@chetansir Thank you for your query and posting the same on [QnA ](https://docs.microsoft.com/en-us/answers/questions/289096/new-azstoragecontainer-command-not-accepting-valid.html?childToView=290003#comment-290003). We will investigate and update the thread on QnA as it is a troubleshooting query.

[2021-02-26 14:56] shashishailaj commented on #71281
@Kazzan Thank you for feedback . We will investigate and update the thread.

[2021-02-26 14:57] shashishailaj commented on #71281
@curtand Could you please review this request and see how best we could update the document as per the ask ?

[2021-02-26 14:59] shashishailaj commented on #71282
@WhippsP Thank you for pointing this out . We will investigate and update the thread.

[2021-02-26 15:01] shashishailaj commented on #71287
@smedin4 Thank you for your inputs. We will have this reviewed with the content team and update accordingly .

[2021-02-26 15:04] shashishailaj commented on #71288
@angrymrt Thank you for your feedback . We will investigate and update the thread.

[2021-02-26 15:06] amanmcse commented on #71132
@JohnGGeo Closing the issue now. Feel free to tag me in your reply if you have any further quesiton.

[2021-02-26 15:06] #71132 closed

[2021-02-26 15:12] shashishailaj commented on #71295
@jkrri Thank you for your post . We use the azure-docs repository on GitHub for document improvement primarily and are taking product questions on [Microsoft QnA](https://docs.microsoft.com/answers/index.html) . There could be many reasons for this issue and it would need further troubleshooting. As this a feature which is still in public preview we have limited support for this. I would suggest y

[2021-02-26 15:15] shashishailaj commented on #71273
@vanpyrzericj Thank you for your feedback . We will investigate and update the thread.

[2021-02-26 15:16] RonnieQuan commented on #70991
@GitaraniSharma-MSFT   Thank you so much for all the information! That helps.

So for unplanned issues, I would assume there is no connection draining, meaning interruption or outage to current session.

Please correct me if I miss anything.

[2021-02-26 15:16] v-jheichman opened #71298 "May need clarification on credentials or key vaults"
I am unable to run a scan on any data sources and I'm wondering if I need clarification on credentials or key vaults

**Created 2 types of credential in Purview using these values**

**Name: credential-sp-chiepvw**
Authentication Method: Service Principal
Service Principal ID: chiepvw (doesn't offer a drop down)
Key Vault Connetion: kv-dqe-purview
Secret Name: secret-kv-dqe-purview
Secret Version:

[2021-02-26 15:20] twinkle13531 opened #71299 "What I can find from the explanations and the image seems unmatched."
## Current state

-	In the description, you talk about IP address A, B, C, D, and backend pool A, B. However, in the image, you draw two IP addresses without giving alphabets, one IP prefix, and backend pool 1, 2.

-	In the description, you tell us that the only one pool has SNAT ports, but in the image, both pools have SNAT ports.

-	I found that you showed us the TCP ports and UDP ports painting

[2021-02-26 15:30] SaiKishor-MSFT commented on #70853
@jjeziorny  Can you confirm if the your first listener is not associated to any rule when this behavior is seen? since a listener isn't actually "activated" until it's tied to a rule. Please let me know. Thanks!

[2021-02-26 15:34] jkrri commented on #71295
sorry for posting in the wrong location...  I'll move forward with your suggestion.
I mistakenly neglected to mention that I was able to get-around the MFA issues and successfully log in to the 2019 Datacenter VM with my AAD Creds by adding the public IP address of the VM into the trusted MFA Authentication > Service Settings for our AAD Tenant.
Is this an actual requirement; something the documen

[2021-02-26 15:42] markjbrown commented on #71125
Thank you for reporting this.

The docs issues forum here on GitHub is not really designed to help with errors. The best way to get help with errors in our emulator is to click the smiley face in Data Explorer inside the emulator. This will start a new email to the engineering team who manages our emulator where you can send them details on your error.

Thanks.

#please-close

[2021-02-26 15:42] #71125 closed

[2021-02-26 15:54] MGoedtel commented on #68542
#reassign:@bwren

[2021-02-26 15:57] coffeeplant opened #71300 "Possible error in current documentation"
Hi,

I was following the steps in this tutorial and encountered an error connecting to the database. In the instructions pasted below for the .properties it states to replace AZ_DATABASE_NAME and . I think this should be SERVER_NAME. It only worked for me when I put in server name.

[url=jdbc:sqlserver://$AZ_DATABASE_NAME.database.windows.net:1433;database=demo;encrypt=true;trustServerCertificate=

[2021-02-26 16:01] MBlagui opened #71301 "outdated documentation"
Last update 2017, guess what it's OUTDATED and no more set the right steps to build autoscaling set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bf2b20-f5fe-edfd-8792-126c527da8c0
* Version Independent ID: 606813ed-bdbb-6c7a-8822-c6642d2138ee
* Content: [Get started with autoscale in Azure - Azure Monitor](https:/

[2021-02-26 16:22] mimckitt commented on #71161
#please-close

[2021-02-26 16:22] #71161 closed

[2021-02-26 16:33] clambert opened #71304 "cannot create a spot nodepool in AKS"
I get an error (see below) when I run the following command:

[code]

when I check the documentation it states that the Standard_DS2_v2 vm is available to use in the eastus region.

[code]
Also the following link in the limitation section states that the vm is also available for spot vm.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/use-spot

---
#### Document Details

⚠ *Do no

[2021-02-26 16:37] dawsonpaul opened #71305 "Set-MsolDomainAuthentication -DomainName <domain> -Authentication Managed"
This doesn't work

**Set-MsolDomainAuthentication -DomainName volunteer.devdaw.com -Authentication Managed
Set-MsolDomainAuthentication : Unable to change the authentication type of this domain because it is a subdomain. To change the authentication type of this subdomain, use the Get-MsolDomain cmdlet to find the root domain and  then change the root domain
authentication type.
At line:1 char:1
+

[2021-02-26 16:41] larryclaman commented on #67112
just noticed this as well.  There's no way to complete part 3 of the tutorial as there's no reference to a service principal

[2021-02-26 16:46] VikasPullagura-MSFT commented on #70993
@yogeshthorat87 Apologies in delayed response.
As per `ssh-keygen` man page, the -M parameter is for specifying memory. in this Tutorial this argument is not needed.

I have updated the document, changes will go live soon.

[2021-02-26 16:47] #70993 closed

[2021-02-26 17:02] DavidSchrag opened #71306 "How to capture registration token value?"
In the section titled "Register the virtual machines to the Windows Virtual Desktop host pool," there is this instruction: "When the installer asks you for the registration token, enter the value you got from the Get-AzWvdRegistrationInfo cmdlet." The token is very long and gets truncated in a standard PowerShell window. How can you get the full value of that token to appear so that you can copy a

[2021-02-26 17:14] DeanGross opened #71307 "Update description"
Some of the descriptions are the same as the role name, this is not very helpful. Please update those

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Azure built-in roles - Azure RBAC](https://docs.microsoft.c

[2021-02-26 17:24] JamesTran-MSFT commented on #71307
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-26 17:29] himanshusinha-msft commented on #70950
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-02-26 17:29] DeanGross opened #71308 "data purger description"
the description for the Data Purger role is very vague. Can it be enhanced?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Azure built-in roles - Azure RBAC](https://docs.microsoft.com/en-us/azure/role-based-a

[2021-02-26 17:31] DeanGross opened #71309 "Page Navigation"
This is a very long page and  right side navigation on this page moves us to subsections at the bottom of the page instead of to sections of the table, this results in a tremendous amount of scrolling and its hard to find items in the actual table. It would be helpful if this could be redesigned or separated into multiple pages
---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-26 17:35] JamesTran-MSFT commented on #71308
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-26 17:36] yamidcelta commented on #71306
Send out the claim **{Policy:PolicyId}**
Into RelyingParty tag

`<RelyingParty>

    <DefaultUserJourney ReferenceId="SignUpOrSignIn" />
    <TechnicalProfile Id="PolicyProfile">
      <DisplayName>PolicyProfile</DisplayName>
      <Protocol Name="OpenIdConnect" />
      <OutputClaims>
        <OutputClaim ClaimTypeReferenceId="displayName" />
        <OutputClaim ClaimTypeReferenceId="objectId" P

[2021-02-26 17:36] JamesTran-MSFT commented on #71309
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-26 17:39] MarileeTurscak-MSFT commented on #70910
Hi @YamaguchiKei1 ,

Thanks for your feedback! It links properly for me so they may have already fixed this.

![image](https://user-images.githubusercontent.com/13383753/109334749-fb423a80-7815-11eb-9a35-1c6cc39aafb7.png)

https://support.microsoft.com/en-us/office/meet-the-microsoft-365-app-launcher-79f12104-6fed-442f-96a0-eb089a3f476a

That said, it is an old article, so I made a pull request to

[2021-02-26 17:39] #70910 closed

[2021-02-26 17:44] SaiKishor-MSFT commented on #71299
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-26 17:48] MarileeTurscak-MSFT commented on #70907
Closing this out since I can see the PR was approved.

[2021-02-26 17:48] #70907 closed

[2021-02-26 17:52] PeterCLu commented on #71036
#assign:@lobrien

[2021-02-26 18:01] GiftA-MSFT commented on #71292
@epa095 we'll review your feedback and get back to you shortly, thanks.

[2021-02-26 18:07] hau-mal opened #71311 "more clarity needed"
It would be valuable to get more details regarding:
- the storage that is used for intermediate staging (error directories ?)
- time needed for data to be available in SQL-pool (threshold for number of rows or minimum micro batching window)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d5ce69-2d77-7a6b-48d7

[2021-02-26 18:09] ChaitanyaNaykodi-MSFT commented on #71283
Hello @vlad610,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 18:11] ChaitanyaNaykodi-MSFT commented on #71284
Hello @HK-Zhang,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-26 18:11] MartinJaffer-MSFT commented on #70965
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-02-26 18:11] #70965 closed

[2021-02-26 18:14] toddysm commented on #70985
I do not think Docker@2 can directly leverage the managed identity on the machine. Docker is quite restricted in the ways it signs into the registries. I can think of some workarounds like for example fetching the token locally and using it to sign in, but I will need to try them out.

@DavidNorena may I ask you to give me a bit more details what are you trying to do? What Docker@2 functionality y

[2021-02-26 18:22] bdschaap opened #71312 "Private Link PaaS Service Support"
The docs mention that this is available for "Web App and Storage Account" but don't specifically state that it's not available for other PaaS services that support Private Link.  Can you confirm?  Also, if it supports some but not all PaaS services then can you clarify whether AKS and/or Azure Load Balancer are supported?

Here is a link to the doc that lists services that currently support Privat

[2021-02-26 18:24] JamesTran-MSFT commented on #71305
@dawsonpaul
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-26 18:24] AlexDenton commented on #70051
@SaiKishor-MSFT I mean that you can have two in the same region as long as they are not the same operating system.

[2021-02-26 18:33] MartinJaffer-MSFT commented on #71311
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-02-26 18:33] JamesTran-MSFT commented on #71076
@akw123
Thank you for your time and patience throughout this issue!

I was able to find the broken link you're referring to and have created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Broken Link:**
![image](https://user-images.githubusercontent.com/36619112/109340414-d6ea5c00-781d-11eb-9b07-854f4dcd8469.png)
URL: https://github.com/Azure/

[2021-02-26 18:33] #71076 closed

[2021-02-26 18:36] JamesTran-MSFT commented on #71135
@jitendraRai
Thank you for your time and patience throughout this issue! Since @yoelhor will be fixing this issue next week, I'll go ahead and close this out.

Please allow some time for the changes to reflect and if you don't see the document update, please let us know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-02-26 18:36] #71135 closed

[2021-02-26 18:41] ChaitanyaNaykodi-MSFT commented on #70981
Hello @urbanantics, Thank you for providing the feedback. I have made PR to make the suggested change and it will be merged soon. We will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-02-26 18:41] #70981 closed

[2021-02-26 18:42] gmndrg opened #71314 "It may take up to 24 hours for static endpoint links to be available after upgrading from GPv1 to GPv2"
This article is not stating publicly that it may take up to 24 hours for static website endpoints to be available after upgrading from GPv1 to GPv2 account version. Please add this in the documentation here for clarification and avoid customers believing this didn't work after upgrade with this important note. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-02-26 18:45] zaalion opened #71315 "Error when debugging a pipeline with global parameters"
[Enter feedback here]

Hello,

I added a few global parameters to the pipeline. However, when starting a debug session, I get the following error. Any idea?

{"code":"BadRequest","message":null,"target":"pipeline//runid/84a3b11b-8f74-4cd0-9727-f9f22323645f","details":null,"error":null}

Removing the global parameters fixes the issue.

Thanks

---
#### Document Details

⚠ *Do not edit this section.

[2021-02-26 18:46] JamesTran-MSFT commented on #71212
@Hbaele
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Current Doc Note:**
![image](https://user-images.githubusercontent.com/36619112/109341423-43198f80-781f-11eb-94b9-236cd8d7c5df.png)

**Pricing Page:**
![image](https://user-images.githubusercontent.com/36619112/109341393-35fca080-781f-11eb-820e

[2021-02-26 18:46] #71212 closed

[2021-02-26 18:50] JamesTran-MSFT commented on #71247
@mikesteele81
I just wanted to check in and see if you read through my previous post, and if you had the chance to gather any outdated content you found within this doc?

I wasn't able to see anything inconsistent with the screenshots provided in the documentation. However, I'll definitely wait for your response!

Thank you for your time and patience throughout this issue.

[2021-02-26 19:10] agentmorris opened #71316 "Disk support in NC-series VMs"
This section:

<https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu#deployment-considerations>

...says:

I'm not sure exactly what that's indicating, but NCv3 VMs (and I think other NC-series VMs?) definitely support the attachment of standard HDD, standard SSD, and premium SSD drives.  Maybe this is indicating a requirement for just the OS drive?  At least one user has gotten tripp

[2021-02-26 19:16] rflather-tibco opened #71317 "The write up on creating a Openshift Cluster on Azure"
nice write up on creating Openshift cluster on Azure. Worked first time out with no drama...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content: [Tutorial - Create an Azure Red Hat OpenShift 4 cluster](https://docs

[2021-02-26 19:19] huzzeytech opened #71318 "Broken Table"
Hey docs team! There looks to be a broken table at the bottom of this article:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/fido2-compatibility#minimum-browser-version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c860853-d58e-ba80-9cd4-04d33e1dd2e2
* Version Independent ID: 5ff539d2-5826-4d

[2021-02-26 19:21] mjfusa opened #71319 "Notifications and Live Services site for Windows Apps after February 2021"
Sending Notifications to Windows apps:
The docs here mention navigating to the [Live Services site](https://apps.dev.microsoft.com/) to get the App SID and client secret needed for sending push notifications to a Windows app. However the Live Services site has the following warning message:

`Starting February 2021, you will no longer be able to create new Live SDK applications here. The Azure por

[2021-02-26 19:28] TravisCragg-MSFT commented on #70926
@tomkerkhove absolutely, but no matter how you send the cluster request (through template or CLI) the request to the backend APIs (ARM) should be the same.

If you think that this should be added to the docs, I can assign this issue to the author.

[2021-02-26 19:34] mwe-microsoft opened #71320 "Misleading, not exact statement"
The chapter

The pricing tier that applies to your guest users is based on the highest pricing tier assigned to your Azure AD tenant. For example, if the highest pricing tier in your tenant is Azure AD Premium P1, the Premium P1 pricing tier also applies to your guest users. If the highest pricing is Azure AD Free, you'll be asked to upgrade to a premium pricing tier when you try to use premium fe

[2021-02-26 19:34] JamesTran-MSFT commented on #71278
@eggind
Thank you for your time and patience throughout this issue!

From our documentation - to enable an existing VM to use Azure Active Directory authentication, you need to [enable System assigned managed identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm#enable-system-assigned-managed-identity-on-an-existing-vm)

[2021-02-26 19:34] michalhoppe opened #71321 "Incorrect commands listed on page"
Hi there,

The Apt sources.list file edits are incorrect, there is no trailing slash after .com/ubuntu in the sources.list file, so the regex \.com\/ubuntu\/ doesn't match.

This RegEx expects ".com/ubuntu/"
# sudo sed -i 's/http:\/\/archive\.ubuntu\.com\/ubuntu\//http:\/\/azure\.archive\.ubuntu\.com\/ubuntu\//g' /etc/apt/sources.list
# sudo sed -i 's/http:\/\/[a-z][a-z]\.archive\.ubuntu\.com\/ubu

[2021-02-26 19:34] DerekHerman-MSFT commented on #71314
@gmndrg
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-26 19:38] JamesTran-MSFT commented on #71318
@huzzeytech
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/109346816-15384900-7827-11eb-8359-487ccd3fe7bf.png)

[2021-02-26 19:41] bakintunde opened #71322 "Broken link"
This link on the page is broken https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass_service_principal.yaml

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580

[2021-02-26 19:42] JamesTran-MSFT commented on #71320
@mwe-microsoft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-26 19:44] JamesTran-MSFT commented on #71322
@bakintunde
Thank you for pointing this out!

I've created a PR to update the documentation and it's currently waiting for the author(@msmbaldwin) to review and sign off.

We are currently tracking the issue on this thread - https://github.com/MicrosoftDocs/azure-docs/issues/71076

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank yo

[2021-02-26 19:44] #71322 closed

[2021-02-26 19:45] kfarlee commented on #67481
DNN listeners listen to all IP addresses (0.0.0.0), and rely on a unique port to enable the correct replica to receive the connection.  So, you can't have two listeners sharing the same port, and it is not recommended to use 1433 since the Browser is also listening on that port.  The network name/DNS entry resolves to a list of addresses covering all instances in the AG.  That is why you can't reg

[2021-02-26 19:47] #71295 closed

[2021-02-26 19:49] kfarlee commented on #67481
#please-close

[2021-02-26 19:49] #67481 closed

[2021-02-26 19:54] knicholasa commented on #71318
Hi @huzzeytech thanks for catching it - I have an internal PR staged to fix ASAP

[2021-02-26 19:55] knicholasa commented on #71318
#please-close

[2021-02-26 19:55] #71318 closed

[2021-02-26 19:58] kahawai-sre opened #71323 "Is vnet <=> vnet connectivity supported across multiple *Secure* vHubs - Figure 5, flow H is invalid?"
What is the status of support for connectivity from a vNet on one secure hub to a vNet on another secure hub (i.e. via Azure Firewall integration)?

My understanding and testing indicates it does not work, and I've not seen a documented configuration (other than Figure 5 above) describing how this flow should work.

Can you please advise/confirm the status of this, and if it is supported, provide

[2021-02-26 19:59] MonikaReddy-MSFT commented on #71321
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-26 20:04] kahawai-sre opened #71324 "Single Secure Virtual Hub - is routing supported between connected vNets in different regions (aka Global Peering)?"
What is the status of support for connectivity between two vNETs connected to the *same* Secure Virtual Hub (i.e. routing via Azure Firewall), but where one of the two vNETs is in a different region (aka global peering)?

Is this supported, and if so is there a specific configuration required other than the routes implemented in the Default route table when VNET connections are configured to route

[2021-02-26 20:14] TerryLanfear commented on #71253
@psmanhas - I am investigating and will reply back soon. Thank you!

[2021-02-26 20:17] SaiKishor-MSFT commented on #71039
@subsarma Could you please look into this?

[2021-02-26 20:23] #71239 closed

[2021-02-26 20:29] MarileeTurscak-MSFT commented on #71275
It's included with Azure AD Premium P1 and Premium P2 or Enterprise Mobility + Security (which includes Azure AD Premium P1).

I made a pull request to add this information. https://github.com/MicrosoftDocs/azure-docs-pr/pull/148392

@justinha please review.

[2021-02-26 20:29] #71275 closed

[2021-02-26 20:35] jennirethi commented on #68279
Hi, this shows how to do it for the Azure App Service resource. I'm referring to the Azure Static Web Apps resource.

[2021-02-26 20:49] nayenama commented on #70080
This feature will land in the next week and will update the documentation accordingly.

[2021-02-26 20:50] viseshag commented on #71002
@anmuk601 Can you please help update?

[2021-02-26 20:51] viseshag commented on #71150
@chanuengg Can you please provide update on this? Didn't we already fix this?

[2021-02-26 20:54] viseshag commented on #71027
#assign:shsandeep123

[2021-02-26 20:58] viseshag commented on #71027
#please-close

[2021-02-26 20:58] #71027 closed

[2021-02-26 21:03] juliuszsompolski commented on #70071
The invalid `databricks-connect get-jar-dir` using a Windows path separator is indeed a bug. Thanks for reporting it.

The scala command test in `databricks-connect test` is indeed just point-blank skipped on Windows. It is because the test is implemented using a bash shell command to call scala spark-shell, which doesn't work with Power Shell. We will see if it can be improved to perform this san

[2021-02-26 21:05] nayenama commented on #70080
#please-close

[2021-02-26 21:05] #70080 closed

[2021-02-26 21:07] david-frazee opened #71326 "Wording for BGP requirements is confusing."
In the sections "Traffic from on-premises networks to Azure" and "Traffic from Azure to on-premises networks", it is mentioned that the VPN portion of the environment is using BGP:
_For traffic from on-premises networks to Azure, the Azure prefixes are advertised via both the ExpressRoute private peering BGP, and the VPN BGP._
_Advertise more specific prefixes on the VPN BGP session for the VPN-co

[2021-02-26 21:21] MicrosoftGuyJFlo commented on #71295
@jkrri no you should not do that you are bypassing MFA by doing that. The instructions have been tested multiple times and are correct as written.

Two key points people miss

- Remote connection to VMs joined to Azure AD is only allowed from Windows 10 PCs that are either Azure AD registered (starting Windows 10 20H1), Azure AD joined or hybrid Azure AD joined to the same directory as the VM.
- I

[2021-02-26 21:21] #69262 closed

[2021-02-26 21:23] rboucher commented on #35322
#reassign:bwren

[2021-02-26 21:26] kashyap-bhatt-by opened #71328 "Max number of partitions"
Under "[common-limits-for-all-tiers](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas#common-limits-for-all-tiers)"  it says max partition count is 32 for all tiers.

Under [dedicated-tier-vs-standard-tier](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas#dedicated-tier-vs-standard-tier) it says  max partition count for dedicated is "1024 per event hub
,2000 p

[2021-02-26 21:36] rboucher commented on #33914
#label:"CreateAzMonWIFeb2021"  New screenshots

[2021-02-26 21:39] michalhoppe opened #71329 "Error in heredoc format in YAML sections"
re: 9. Configure cloud-init to provision the system using the Azure datasource:

The following sections of the config have syntax errors in the heredoc (<< EOF) (I used the console copy from webpage and pasted directly here):

cat > /etc/cloud/cloud.cfg.d/90_dpkg.cfg << EOF
 datasource_list: [ Azure ]
 EOF
^ the is a space left of EOF which breaks << EOF

cat > /etc/cloud/cloud.cfg.d/90-azure.cfg

[2021-02-26 21:44] shashishailaj commented on #71188
As we have not received any response from you , we are closing this issue. Should you have any further queries , please feel free to tag me to your reply or open a new issue and we will be happy to help you further.

Thank you .

[2021-02-26 21:44] #71188 closed

[2021-02-26 21:45] #71280 closed

[2021-02-26 21:52] James-Hamil-MSFT commented on #71012
Hi @Rajneel4Orion , what is the third party application? Is it not working for multiple?

[2021-02-26 21:57] rolyon commented on #71307
Hi @DeanGross
Thanks for your feedback. I have already contacted the Azure Container Registry team about their role descriptions. It'll take some time, but they plan to work on these descriptions.
thanks

[2021-02-26 21:59] YutongTie-MSFT commented on #71064
@dmitro-wpl Hello, I am sorry I can not reproduce this issue, it works for me. It will help if you can share the OS/ package/ sample code you are using to debug.  Thanks.

[2021-02-26 22:04] SaiKishor-MSFT commented on #71326
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 22:05] rboucher commented on #71301
@MBlagui Agreed.  Creating a workitem for this doc so we can review and update it.

[2021-02-26 22:05] rboucher commented on #71301
#label:"CreateAzMonWIFeb2021"

[2021-02-26 22:05] James-Hamil-MSFT commented on #71305
Hi @dawsonpaul, please refer to this document: https://docs.microsoft.com/en-us/troubleshoot/azure/active-directory/new-msoldomain-cmdle-add-subdomain
If the solution is not found, please let me know and I will open a support ticket.

Best,
James

[2021-02-26 22:05] #71305 closed

[2021-02-26 22:07] SaiKishor-MSFT commented on #71312
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-26 22:08] SaiKishor-MSFT commented on #71323
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 22:08] SaiKishor-MSFT commented on #71324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 22:15] bwren commented on #71250
We have an open work item to get this updated.  #please-close

[2021-02-26 22:15] #71250 closed

[2021-02-26 22:18] James-Hamil-MSFT commented on #70466
Hi @apeguy sorry for the delay in response. I've reached out to the authors for clarification and a doc change but for now the answer is Azure AD Premium. I will let you know when we update the docs.

Thank you,
James

[2021-02-26 22:18] #70466 closed

[2021-02-26 22:28] kof-f commented on #71052
We have completed our investigation and can confirm this does break Serial Console due to its current architecture. We are transitioning to a new architecture, but until then we need to add a note in this document informing customers aware that this is a known issue. Thank you for catching this @jabbera.

[2021-02-26 22:31] SamaraSoucy-MSFT commented on #71290
Thanks for the question! We will review and get back to you shortly.

[2021-02-26 22:33] stdistef commented on #71250
What is the existing  open item please?  I'd like to track it.

[2021-02-26 22:33] nayar34 commented on #71275
Thank you!

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Friday, February 26, 2021 1:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aseem Nayar <anayar@cland.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] What Licensing do you need for the NPS Extension? (#71275)

It's included with Azure AD Premium P1 and Premium P2 or E

[2021-02-26 22:36] bwren commented on #70837
We only provided samples for diagnostic settings since they're different for every Azure service. The documentation for each service should provide additional details.

A template for services bus really isn't much different than the samples though. The resource type would be Microsoft.ServiceBus/namespaces/providers/diagnosticSettings.

You can get the log and metric cateogries from https://docs.

[2021-02-26 22:36] bwren commented on #70837
We only provided samples for diagnostic settings since they're different for every Azure service. The documentation for each service should provide additional details.

A template for services bus really isn't much different than the samples though. The resource type would be Microsoft.ServiceBus/namespaces/providers/diagnosticSettings.

You can get the log and metric cateogries from https://docs.

[2021-02-26 22:36] bwren commented on #70837
#please-close

[2021-02-26 22:36] #70837 closed

[2021-02-26 22:40] bwren commented on #71258
That should point to https://docs.microsoft.com/azure/azure-monitor/data-platform. I'll get the link fixed.

#please-close

[2021-02-26 22:40] #71258 closed

[2021-02-26 22:58] James-Hamil-MSFT commented on #70924
Hi @lightupdifire , I've reached out to our engineering group about this to find you a solution.

Best,
James

[2021-02-26 23:07] shilpasharmaAM commented on #33914
Will update the documentation to update, where user should choose 'Other resource'

[2021-02-26 23:15] nitinme commented on #64290
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:https://feedback.azure.com/fo

[2021-02-26 23:15] #64290 closed

[2021-02-26 23:20] nitinme commented on #65119
We are adding this to our backlog of work items.

#please-close

[2021-02-26 23:20] #65119 closed

[2021-02-26 23:23] nitinme commented on #66176
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://feedback.azure.com/f

[2021-02-26 23:23] #66176 closed

[2021-02-26 23:31] originalnetadmin opened #71332 "Change SUSE link in Compliance section from engineering blog to support TID"
Currently the link in the Compliance section points to an engineering blog:

https://www.suse.com/c/suse-linux-enterprise-and-azure-hybrid-benefit/

Per SUSE support, the recommendation is to use the support TID below instead since this will be updated frequently:

https://www.suse.com/support/kb/doc/?id=000019868

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-02-26 23:34] MarileeTurscak-MSFT commented on #71217
Thank you! I made a pull request to add this as a prerequisite. https://github.com/MicrosoftDocs/azure-docs-pr/pull/148418

[2021-02-26 23:34] #71217 closed

[2021-02-26 23:34] mike-urnun-msft commented on #70882
Hi @ErikMogensen - I confirmed with the APIM team that the soft-delete feature is yet to be made available through Azure Portal (it's still hard-delete at the moment). As discussed in the doc, soft-deletable instances are spun up only through the REST API version `2020-06-01-preview`: https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/apimanagementservice/createorupdate

Ba

[2021-02-26 23:34] #70882 closed

[2021-02-26 23:35] shilpasharmaAM commented on #71301
Tracked for documentation update, closing it
#please-close

[2021-02-26 23:35] #71301 closed

[2021-02-26 23:36] 04diiguyi opened #71333 "1.6.14 works but 1.7.* does not work"
[Enter feedback here]

In this page, the command line used 1.7.* to install istio, but it would receive an error
"
failed to merge base profile with user IstioOperator CR istio-control-plane, unknown field "kiali" in v1alpha1.Values moreInfo=The values in the selected spec.profile could not be merged with the user IstioOperator resource. impact=The operator controller cannot create and act upon th

[2021-02-26 23:38] frankparth8 opened #71334 "Suddenly getting 'No load balancer exists...'"
Someone needs to actually test these scripts. Set up my VMSS according to the following documentation:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/quick-create-portal

It definitely had a load balancer created put in front of it.

When running your command:
az vmss list-instance-connection-info --resource-group ....

I'm getting an error 'No load balancer esists to retrieve p

[2021-02-26 23:51] lgayhardt commented on #28441
Hi @arnaldoUltebra,

Sorry for the delay.

The values listed in the documentation are the enabled values, so to enable that app setting set it to the given value.

`XDT_MicrosoftApplicationInsights_PreemptSdk` is for ASP.NET Core apps only. It enables Interop (interoperation) with Application Insights SDK. Loads the extension side-by-side with the SDK and uses it to send telemetry (disables the Ap

[2021-02-26 23:51] #28441 closed

[2021-02-27 00:02] shadmehr commented on #33157
Then, what the point of having KeyValut if we can't use it :)

[2021-02-27 00:17] saaror commented on #70813
@brcarpio : I will get the documentation updated but for AKS k8s objects like Pods, Deployments, Replica-set. You can use experience in AKS resource view with or with Azure monitor for containers. The logs experience below you can only access when you have Azure Monitor for containers enabled.

[2021-02-27 00:41] brobichaud opened #71335 "ACR must be in same subscription as cluster"
The page should mention near the beginning that the ACR must exist in the same subscription as the AKS cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kub

[2021-02-27 00:47] aruwo17 opened #71336 "Incorrect instructions"
[Enter feedback here]
I get the errors in the attached document (screen shot) when trying to **update the Azure modules** or import the **AzureRM.OperationalInsights module** into automation account. Unsurprisingly, I get an error when I fire off the **Enable-MultipleSolution** runbook.

**Section**: Install and update modules (Enable Azure Automation Update Management from runbook | Microsoft Doc

[2021-02-27 00:54] NavtejSaini-MSFT commented on #71293
@tarwn We are checking this and will get back to you.

[2021-02-27 00:57] NavtejSaini-MSFT commented on #71300
@coffeeplant We are checking this and we will get back to you.

[2021-02-27 01:04] ramya-rao-a opened #71337 "[Event Hubs] Consider single place for discussion on Availability and Reliability"
The [conceptual docs for Partitions in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions) has the below towards the end.

![image](https://user-images.githubusercontent.com/16890566/109370095-bdfc9d80-7853-11eb-8d69-6d44fbb311ae.png)

The links are for
- A dedicated page on "Availability and Consistency"
- Partition Key in the programming guide for the ol

[2021-02-27 01:07] ramya-rao-a opened #71338 "[Event Hubs] Add code samples for other languages when talking about availability and consistency"
The page for [Availability and Consistency in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-availability-and-consistency) has code samples only in .Net. We should have parity across languages and add code snippets for
- Java
- JavaScript
- Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-27 01:20] ramya-rao-a opened #71339 "[Event Hubs] Not clear if custom sequence number is used by the service"
We have the below content in [availability and consistency in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-availability-and-consistency). It is not clear how the custom sequence number can help with ordering. Does the service make use of it? It says that the client has to maintain state. What is the recommendation and best practices here. Instead of having sample code t

[2021-02-27 01:23] KrishnaG-MSFT commented on #71301
@rboucher @shilpasharmaAM Thanks for the quick response. :+1:

[2021-02-27 01:24] ramya-rao-a opened #71340 "[Event Hubs] PartitionId cannot be any string"
In [availability and consistency in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-availability-and-consistency), we have a section on `Send events to a specific partition` which has code samples for both the old and new .Net packages. Here we use "my-partition-id" as the partitionId. Currently, Event Hubs partitionIds are actually numbers starting from 1. So, we cannot r

[2021-02-27 01:27] KrishnaG-MSFT commented on #71336
@aruwo17 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-27 01:27] ramya-rao-a opened #71341 "[Event Hubs] No method called CreateProducer"
In [availability and consistency in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-availability-and-consistency), we have a section on `Set a sequence number` where the sample for the `Microsoft.Azure.EventHubs` package uses the method `CreateProducer` from the `EventHubClient`.

But, based on the [reference docs for EventHubClient](https://docs.microsoft.com/en-us/dotnet

[2021-02-27 02:01] ganga1980 commented on #71081
Hi,@polarapfel , can you please share the exact command with the error you are seeing?

[2021-02-27 02:08] terrymandin opened #71342 "Documentation Issues"
1. There is an error in the documentation.  When configuring the "certificates:" section of the config.yaml, it should be "trusted_ca_cert:" not "trusted_ca_certs".
2. Please confirm that the inbound 8000, 5671, 8883 and 443 ports need to be opened on the bottom child device.
3. When configuring the "lower devices", do we need to enter the "hostname:" property? The documentation wasn't clear on th

[2021-02-27 02:22] geminiyeak commented on #71078
@GitaraniSharma-MSFT  many thanks for the DNS forwarded info.
We already have solutions for that actually.
What I'm seeing the doc missing piece is the private DNS zone privatelink name missing for recovery vault.

Here is the high level summary of the solution:

On premises DNS server create DNS forwarder xxx.windows.net to Azure DNS server (different domain but 1 way trust to on premises) base o

[2021-02-27 02:45] markmassad opened #71343 "Link is broken to Get-IPrangeStartEnd.ps1"
[Enter feedback here]

Link is broken to Get-IPrangeStartEnd.ps1
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3102127-3223-8b70-a029-bbc33fea53d6
* Version Independent ID: 0bd59bd9-753b-39c9-c773-e8c2a0e086e7
* Content: [Network Access Controls - Azure SQL Database & Azure Synapse Analytics](https://docs.microsoft.co

[2021-02-27 03:07] KalyanChanumolu-MSFT commented on #71343
@markmassad Thank you for taking the time to report this issue.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-27 03:11] bernawy commented on #51070
A customer has reported getting this error. It would be nice if we add in the article how to resolve it.

TerminatingError(Get-MSCloudIdMSGraphAccessTokenFromCert): "Cannot process argument transformation on parameter 'Certificate'. Cannot convert the "System.Security.Cryptography.X509Certificates.X509Store" value of type "System.Security.Cryptography.X509Certificates.X509Store" to type "System.Se

[2021-02-27 03:34] lgayhardt commented on #41800
Thank you @rajkumar-rangaraj. An internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1703954) has been created and is currently on the backlog. I will ping you later to see if additional updates are need.

#please-close

[2021-02-27 03:34] #41800 closed

[2021-02-27 03:54] lgayhardt commented on #11937
@jgriff500  Sorry for the delay and thank you for the feedback. Unfortunately, at this time we have been unable to review your issue in a timely manner. I'm going to close this issue for now but if this is this a concern please reach out and we can reopen the issue.

#please-close

[2021-02-27 03:54] #11937 closed

[2021-02-27 03:55] lgayhardt commented on #41725
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2021-02-27 03:55] #41725 closed

[2021-02-27 04:16] seffparker commented on #33157
Th SSL was issued within the KeyVault. So, I had no other option to make the ALB works or get the Private Key out.

Even if we use the KeyVault, the SSL+KEY will be copied during the Listener setup into the ALB, but securely.

[2021-02-27 04:19] lgayhardt commented on #46357
@ralphhendriks Thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1821497) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-02-27 04:19] #46357 closed

[2021-02-27 04:26] lgayhardt commented on #49093
@mocleiri Thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1821499) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-02-27 04:26] #49093 closed

[2021-02-27 04:40] lgayhardt commented on #52657
@cijothomas What are your thoughts on joaopgrassi's solution/reasoning?

[2021-02-27 04:50] lgayhardt commented on #53074
@gardnerjr Thank you catching that. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1821500) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete. Feel free to email or ping me with more doc update requests.

#please-close

[2021-02-27 04:50] #53074 closed

[2021-02-27 05:41] lgayhardt commented on #55662
@sergey-netdev  Thank you for the suggestion. I will make a internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1821501) and add it to our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-02-27 05:41] #55662 closed

[2021-02-27 05:44] TravisCragg-MSFT commented on #71304
@clambert This error is sometimes given if your [subscription type is one that is not supported for spot](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/use-spot#limitations). Please review your offer by Viewing your subscription on the portal (under 'Subscriptions' and then selecting your subscription) and checking the Offer ID and matching it to [This Table](https://azure.micr

[2021-02-27 06:32] aspnet4you commented on #70569
Feature requested on [feedback portal](https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/42790817-azure-key-vault-event-is-it-possible-to-subscrib).

[2021-02-27 06:43] amanmcse commented on #71298
@v-jheichman Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:44] amanmcse commented on #71306
@DavidSchrag Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:45] amanmcse commented on #71315
@zaalion  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:47] amanmcse commented on #71316
@agentmorris Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:49] amanmcse commented on #71317
@rflather-tibco  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:51] amanmcse commented on #71319
@mjfusa  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:53] amanmcse commented on #71328
@kashyap-bhatt-by  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:53] lgayhardt commented on #56111
@Leonardo-Ferreiray Sorry for the delay.

In the code sample `startTime`  in  [`telemetryClient.TrackDependency()`](https://docs.microsoft.com/dotnet/api/microsoft.applicationinsights.telemetryclient.trackdependency?view=azure-dotnet#Microsoft_ApplicationInsights_TelemetryClient_TrackDependency_System_String_System_String_System_String_System_DateTimeOffset_System_TimeSpan_System_Boolean_) is refe

[2021-02-27 06:53] #56111 closed

[2021-02-27 06:55] amanmcse commented on #71329
@michalhoppe  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:56] amanmcse commented on #71332
@originalnetadmin  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:57] amanmcse commented on #71333
@04diiguyi  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 06:59] amanmcse commented on #71335
@brobichaud Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:00] amanmcse commented on #71337
@ramya-rao-a  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:02] amanmcse commented on #71338
@ramya-rao-a Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:03] amanmcse commented on #71339
@ramya-rao-a Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:04] amanmcse commented on #71340
@ramya-rao-a Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:05] amanmcse commented on #71341
@CHEEKATLAPRADEEP-MSFT  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:07] amanmcse commented on #71334
@frankparth8 Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 07:09] amanmcse commented on #71342
@terrymandin Thank you for your feedback . We will investigate and update the thread further.

[2021-02-27 08:14] jdubois commented on #71300
Thanks @coffeeplant
I’m the original author - I can’t test it right now, but that’s highly possible. I will definitely have a look.

[2021-02-27 09:05] jjeziorny commented on #70853
@SaiKishor-MSFT Listener was bound to a rule at all times.

[2021-02-27 09:18] tomkerkhove commented on #70926
I think just adding a note would be good yes, thanks!

[2021-02-27 09:32] YutongTie-MSFT commented on #71064
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-02-27 09:32] #71064 closed

[2021-02-27 10:42] ErikMogensen commented on #70882
All right. I just deleted three instances from two different subscriptions using the portal. One, which I think was located in North Europe was purged immediately. That one was deleted from API Management blade.

The other two ones were located in Australia Central and South Central US and were soft-deleted. They were in the same resource group and were deleted from the resource group blade.

I th

[2021-02-27 11:32] ojpbay opened #71345 "Include user and session ID in your telemetry link is wrong"
The link from the text 'this process' in the sentence below is wrong - it just links back to the same article.

Start sending user and session IDs using **this process**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edce8383-4e3b-425b-5f01-02f54385b7a4
* Version Independent ID: bf51eb39-0bb9-262a-d4be-51b1bcb977f0
*

[2021-02-27 11:40] pchandra02 opened #71346 "The documentation says Azure Monitor is not available for ADLS Gen2 . Isn't this incorrect ?( But in "Monitor Blob storage" section under Data Lake Gen2 , it talks about using Azure monitor )"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b9c715-ad8b-575f-e0d6-7339cc49b672
* Version Independent ID: ee96bcc5-bb1c-1020-3f2e-5e8053520526
* Content: [Migrate Azure Data Lake Storage from Gen1 to Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-migrate-gen1-to-g

[2021-02-27 13:04] BrunoWouters opened #71347 "ID of pageView in wrong column"
In the first example, should the id _STYz_ not be in the **ID** column instead of the **operation_ParentId** column?
The text above the table also seems to confirm this:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Version Independent ID: 28259d9c-5174-f138-c0aa-bc2125c3be1a
* C

[2021-02-27 14:51] chriscopemorgan opened #71348 "MySQL bin_log setting"
The following paragraph in MS doc is not workable:

If log_bin is returned with the value "OFF", turn on binary logging by editing your my.cnf file so that log_bin=ON and restart your server for the change to take effect.

Please elaborate and explain how this is done.
The missing details make the whole process useless and unachievable
We have to rely on user suggestions to find the only workaroun

[2021-02-27 15:30] PiMihai opened #71349 "Static Web Apps - Configuration does not allow duplicate route definitions"
The [Routes](https://docs.microsoft.com/en-us/azure/static-web-apps/routes) section of the documentation says that `routes.json` is deprecated and we should use `staticwebapp.config.json`.

The [Configuration](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#routes) section of the documentation is showing a sample `staticwebapp.config.json` where multiple routes with the same p

[2021-02-27 15:38] johanlindfors opened #71350 "Missing release information related to 7.3.929.2"
It seems this page hasn't been updated with information related to the latest release which is 7.3.00929.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55cb0dfa-9fa7-85dd-4d44-0b6e30047d31
* Version Independent ID: fec398b4-942a-4673-2865-5045a80427d5
* Content: [Microsoft Threat Modeling Tool release notes - Azure](

[2021-02-27 16:01] RonnieQuan commented on #70980
@RohitMungi-MSFT Thanks for the information, but that didn't answer my question, since this issue is already closed, let me open a new one.

My question is when use Microsoft managed key for Azure Form Recognizer, does Azure provide one unique encryption key for each Azure Form Recognizer resource? or it's one singe encryption across the whole servcie?
We don't want to use mutli-tenant encryption

[2021-02-27 16:32] RonnieQuan opened #71351 "Microsoft Managed Key - Dedicated or Shared - Azure Search and Form Recognizer"
For Azure Search, when configure using Microsoft Managed key, is one unique dedicated encryption key is assigned to my resource, or it's shared across the service, or shared at subscription level?

Same questions for Azure form recognizer.

If the question sounds confusing, please reference other two issues,
https://github.com/MicrosoftDocs/azure-docs/issues/65491
https://github.com/MicrosoftDocs/

[2021-02-27 17:04] SamaraSoucy-MSFT commented on #71345
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-27 17:05] SamaraSoucy-MSFT commented on #71346
Thanks for the feedback! We will review and get back to you shortly.

[2021-02-27 17:06] SamaraSoucy-MSFT commented on #71347
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-27 17:07] SamaraSoucy-MSFT commented on #71348
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-27 17:07] SamaraSoucy-MSFT commented on #71349
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-27 17:09] SamaraSoucy-MSFT commented on #71350
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-27 17:10] SamaraSoucy-MSFT commented on #71351
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-02-27 17:22] brwilkinson opened #71352 "cannot complete the Deployment Center workflow to AKS, since the namespace is not visible."
New namespace cannot be created

![image](https://user-images.githubusercontent.com/3605266/109394715-41160600-78dd-11eb-8d1d-eb38ca7a196f.png)

Existing namespace cannot be viewed

![image](https://user-images.githubusercontent.com/3605266/109394727-50954f00-78dd-11eb-97db-2cf0c9b464d2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-02-27 17:30] RonnieQuan commented on #71351
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/encrypt-data-at-rest?tabs=v1

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/encrypt-data-at-rest

[2021-02-27 18:33] bgulseren opened #71353 "More information needed for required Visual Studio NuGet packages"
I have followed this tutorial and installed two NuGet packages in order to get sample `ProcessDTUpdatetoTSI` function running.

The packages I ended installing were:
- Microsoft.Azure.EventHubs
- Microsoft.Azure.WebJobs.Extensions.EventHub

When I deployed the function, it produced an error on the log stream as below:

[code]

Then I was able to solve this by following [this stackoverflow answer](

[2021-02-27 18:59] girishgouda opened #71354 "Uanble to get the SQL MI running"
Unable to get the SQL managed instance pod running

 kubectl get pods --namespace arc
NAME                 READY   STATUS    RESTARTS   AGE
bootstrapper-fj5xq   1/1     Running   0          118m
control-9nxn5        2/2     Running   0          118m
controldb-0          2/2     Running   0          116m
controlwd-wshnj      1/1     Running   0          115m
logsdb-0             1/1     Running   0

[2021-02-27 20:13] RonnieQuan opened #71355 "Custom Metrics AAD API Permission"
Can you please point if monitoring.azure.com can be assigned as API permission?
From my AAD, which one is for Azure monitoring API permission?
![image](https://user-images.githubusercontent.com/25850020/109399009-227c3300-790e-11eb-8cff-ed1933a6c7bb.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-27 20:17] jeff-kissinger-ul commented on #70973
@PramodValavala-MSFT the feature request that you mentioned was opened way back in 2019.  I would say based on the age and no actions mentioned there is no serious intention to complete it.  That being the case, I believe the document should be updated to illustrate the namespace obstacles to implementing a complete solution that would be able to read the message sessions.

The document https://do