[2019-06-12 15:51] MikeRayMSFT commented on #31455
The requirement is listed in the prerequisite article. [Complete the prerequisites for creating Always On availability groups on Azure virtual machines](http://docs.microsoft.com/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq#configure-system-account-permissions). Because it's the last section, would it make sense to move it from the prerequisite s

[2019-06-12 15:53] alkohli commented on #31065
@NextTurn  As the content had moved elsewhere, the links were broken. I have fixed the links. The change is merged and should go live after 10 AM today.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/79394

[2019-06-12 15:55] ahmedelnably commented on #33113
@pulkitaggarwl to help here.
@scott-epperly ... yes I tried this yaml file with pipeline before I published the doc

Here is also another YAML file that I know for a fact that it is working (though this one is for Node)
https://github.com/ahmedelnably/functions-node/blob/master/devops.yml

[2019-06-12 16:00] apwestgarth commented on #31016
@oising thanks for the feedback.  We are continuing to work on the experience as it is in preview for both services (App Service Linux and Windows Containers).  I will work with our UX team on improving the UX and have already raised a few bugs with respect to the experience for Windows Containers - such as it should always default to Azure Files Shares etc as we don't have any plans to support mo

[2019-06-12 16:02] aquibqureshi26 commented on #31455
Hi Mike, I'm sorry I think I missed the part of prerequisite. Also in this page it's mentioned to complete the prereqs first before beginning. So it's present at the right place. placing the same information here would make it duplicate.
thanks for your reply.

[2019-06-12 16:03] MikeRayMSFT commented on #31455
#please-close

[2019-06-12 16:03] #31455 closed

[2019-06-12 16:05] eframsergio commented on #28317
Awesome, thanks!

[2019-06-12 16:09] oising commented on #31016
@apwestgarth Thanks -- btw, I found a related thread for pwsh dated from last year and urged them to revisit the issue -- ultimately the base problem is with Docker interaction I think. The failure of Azure File Shares to mount automatically in Windows Containers is going to get a hell of a lot more visibility when this gets out of preview. I already know people who have reverted to VMs when they

[2019-06-12 16:13] BryanAdvisicon opened #33184 "The app is no longer showing the two digit numbers to select."
The app is no longer showing the two digit numbers to select.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Password-less sign-in with the Microsoft Authenticator app (preview) - Azure Active Directory](https

[2019-06-12 16:24] joesamraj commented on #33162
@ChiragMishra-MSFT Thanks

[2019-06-12 16:28] jcbrooks92 opened #33185 "Mention DI is only supported for the V2 Function Runtime"
Mention DI is only supported for V2 function runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/fu

[2019-06-12 16:33] Mike-Ubezzi-MSFT commented on #33006
@hkusulja The doc this issue is filed against does a great job of describing the benefits gained when moving from Azure Storage Table API to Azure Cosmos DB Table API. It doesn't detail the features you lose, such as additional RBAC flexibility, etc. If there is a specific issue with [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app#next-steps) document, please use

[2019-06-12 16:33] Mike-Ubezzi-MSFT commented on #33006
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-12 16:33] #33006 closed

[2019-06-12 16:35] #33113 closed

[2019-06-12 16:36] ericcox commented on #29683
When I go to
https://<AAD Domain>.b2clogin.com/<AAD Domain>.onmicrosoft.com/.well-known/openid-configuration,
I get a 404.

But when I go to https://login.microsoftonline.com/<AAD Domain>/v2.0/.well-known/openid-configuration,

I see the proper metadata.  I think you're right, @lucasfldmn.

[2019-06-12 16:38] hkusulja commented on #33006
@Mike-Ubezzi-MSFT question on mentioned document brings us to a question about having new features also in azure table storage with - "managed identities for Azure resources with Azure Storage"
since this is only for blobs and queues as it states to this document...

[2019-06-12 16:41] giovannifl opened #33186 "Gateway required VNet Integration and Regional VNet Integration limitations with ER VPN GW"
Please could be confirmed if "Gateway required VNet Integration" and "Regional VNet Integration" have any limitation to be deployed in the same VNet where there is an ExpressRoute Gateway

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37f

[2019-06-12 16:44] MikeChristensen opened #33187 "Does this work with Service Fabric as well?"
What's the recommended solution to monitor containers running in SF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac3c529f-fe57-558f-bd90-02162ff531e8
* Version Independent ID: 8300d958-120e-16c1-09cc-29740e6fae00
* Content: [Overview of Azure Monitor for containers](https://docs.microsoft.com/en-us/azure/azure-monit

[2019-06-12 16:51] Mike-Ubezzi-MSFT commented on #33006
There is a specific document for access via Managed Identities: Authenticate access to blobs and queues with Azure Active Directory and managed identities for Azure Resources ([link](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi))

The document you are working with: Authenticate with Azure Active Directory from an application for access to blobs and queues ([link](http

[2019-06-12 16:52] Mike-Ubezzi-MSFT commented on #33006
By pure, I mean more basic or simple AAD.

[2019-06-12 16:56] hkusulja commented on #33006
So, can my custom App, connect to Azure Table Storage, using Azure AD app (managed identity)? This is supported only for blobs and queues, but what about update to azure tables?

[2019-06-12 17:01] arduppal commented on #32668
We will be releasing a new version in public preview by the end of this month. The latest version of Azure Storage Explorer will work with it.

[2019-06-12 17:05] KranthiPakala-MSFT commented on #33178
@mrphinche  Thanks for reaching out. At this time we are reviewing your request and will get back to you soon.

[2019-06-12 17:09] SubhashVasarapu-MSFT commented on #33181
@TomaszOledzki , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-12 17:11] SubhashVasarapu-MSFT commented on #33179
@TomaszOledzki , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-12 17:12] SubhashVasarapu-MSFT commented on #33176
@glloyd2010f , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-12 17:14] CarlRabeler commented on #25268
@MashaMSFT for awareness

[2019-06-12 17:15] CarlRabeler commented on #32774
@stevestein for awareness

[2019-06-12 17:16] SaurabhSharma-MSFT commented on #33177
@ericjiang18 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-12 17:16] SaurabhSharma-MSFT commented on #32859
@mpchen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-12 17:16] #32859 closed

[2019-06-12 17:17] SaurabhSharma-MSFT commented on #32999
@gerrynicol We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-12 17:17] #32999 closed

[2019-06-12 17:18] SaurabhSharma-MSFT commented on #33174
@Sudharma To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-12 17:19] Mike-Ubezzi-MSFT commented on #33006
Support for this usecase is not supported. Please UpVote and Comment on the following forum entry: [RBAC for Azure Tables](https://feedback.azure.com/forums/217298-storage/suggestions/6714626-rbac-for-azure-tables) and [Allow Azure AD authentication from an application to manage Azure Table Storage](https://feedback.azure.com/forums/217298-storage/suggestions/37210840-allow-azure-ad-authentication

[2019-06-12 17:19] SaurabhSharma-MSFT commented on #33172
@vinuvt To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-12 17:21] SaurabhSharma-MSFT commented on #33160
@MadhanRamachandran To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-12 17:23] simonua opened #33189 "No Support for Azure CDN Standard from Verizon"
The top of the documentation mentions this is applicable to the Verizon Standard CDN as well; however, I do not see the "Manage" option in our Verizon Standard CDN Profile. Please clarify whether this applies only to Premium or both? If both, why may it not show up in the UI? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-12 17:24] normesta commented on #32981
Thanks for the feedback! The content has been updated to provide the website URL.

[2019-06-12 17:24] normesta commented on #32981
#please-close

[2019-06-12 17:24] #32981 closed

[2019-06-12 17:27] YutongTie-MSFT commented on #33182
@samflynn Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-12 17:28] YutongTie-MSFT commented on #33182
@samflynn  Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-12 17:30] Grace-MacJones-MSFT commented on #33186
Hi @giovannifl, thanks for your question! We will investigate and get back to you with the right info.

[2019-06-12 17:33] YutongTie-MSFT commented on #33182
@samflynn Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-12 17:37] MisinformedDNA opened #33190 "Inconsistent results between options"
If I try to export via the Azure portal, I am prompted for admin credentials. If I try to export via PowerShell, it appears I must enter admin credentials. But if I export via SSMS, I never have to enter any additional credentials and am able to successfully export. Why is this inconsistent?

Note, I am not the admin, nor do I know the admin credentials (though my admin did tell me to use SSMS). I

[2019-06-12 17:37] bandersmsft commented on #33173
#in-process

[2019-06-12 17:41] yixue-at-symantec commented on #33125
Hi Adam,
 I am pretty sure that the access-token is not expired and the sevice(probably i should call it resource) is https://storage.azure.com/, and I am using https://login.microsoftonline.com/common/oauth2/authorize to get the token.

My findings:
1. if I set the external User's source be "External Azure Active Directory", then it works well, but if the external user's source be "Microsoft Acco

[2019-06-12 17:41] dlepow commented on #33103
@DarqueWarrior - The example to run the container here is just to help verify that the image update occurs. While Docker usage really isn't the focus of this tutorial, I like your suggestion to add the commands to stop/remove the containers when no longer needed. I'll add this (maybe as part of the "Clean up resources" section) when we next update this tutorial. Thanks for helpful feedback.
#pleas

[2019-06-12 17:41] #33103 closed

[2019-06-12 17:42] ayprof commented on #32531
Now that I've done some testing, I suppose I want an example of what you would consider 'properly encoded.'  From what I can see, the issuer is being encoded (meaning that the %20 is interpreted as a 'space' in the request and shows up that way), but Azure isn't recognizing the application with a %20.  I don't know what part of that Azure has a problem with, but it responds with an error that says

[2019-06-12 17:43] MicrosoftGuyJFlo commented on #33118
@jay98014 Thoughts on this?

[2019-06-12 17:46] mhopkins-msft commented on #32510
@jimpope Thanks for the feedback! I have created a work item to update the content.

#please-close

[2019-06-12 17:46] #32510 closed

[2019-06-12 17:47] AjayKumar-MSFT commented on #30231
Navigate to Kudu Console (https://yourwebapp.scm.azurewebsites.net/) and then go to D:\home\site\wwwroot\App_Data\jobs\continuous >> go to the folder named after your WebJob, ensure that all the expected files are available. If it doesn't, then it could perhaps be some kind of deployment issue, and it is not an issue with the WebJobs runtime.
Just to isolate the issue, try to repro the issue witho

[2019-06-12 17:49] YutongTie-MSFT commented on #33171
@timtre Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-12 17:52] Grace-MacJones-MSFT commented on #32626
Hi @sbhuttan did the documentation @wrosenuance provide work for you?

[2019-06-12 17:56] keikhara commented on #33187
@MikeChristensen the solution we provide for Service Fabric will be Service Fabric solution with Container Monitoring Solution. You will need to enable both Container Monitoring Solution and Service Fabric solution for this.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-analysis-oms

[2019-06-12 17:56] mike-urnun-msft commented on #33185
Hi @jcbrooks92 Thank you for your feedback! We will review and update as appropriate.

[2019-06-12 17:59] hpsin commented on #33126
Docs are incorrect, we had planned to add it but encountered some CSRF concerns that made this more difficult.  We're looking at how to implement this for the future but don't have an ETA on when that will be out.  Thanks for filing the issue.

[2019-06-12 17:59] rajrao opened #33192 "Bug when using FetchXml"
When using FetchXml, the schema that gets imported does not bring back columns that are null. As an example on Opportunity OriginatingLeadId is sparsely populated. But when its populated we need the data.

The only way I am able to get the column is if I add the condition to return Opportunities where OriginatingLeadId is not null. But i need all opportunities! Also, as a note, I manually added th

[2019-06-12 18:00] FrankHu-MSFT commented on #33184
@BryanAdvisicon  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-12 18:04] whoward3 opened #33193 "Broken sample code link"
## There is a broken link to sample code, for the Azure Durable Functions on Github
The link: https://github.com/Azure/azure-functions-durable-js/blob/dev/(./samples/HttpStart/) from the page https://github.com/Azure/azure-functions-durable-js#getting-started is broken. Screenshot follows:
![Capture](https://user-images.githubusercontent.com/35776349/59372882-4db78c80-8cfd-11e9-8f54-da91d351ed7b.P

[2019-06-12 18:08] Adam-Smith-MSFT commented on #33125
@yixue-at-symantec The documentation seems to be correct, but doesn't mention your specific case, I'll triage it as a doc-enhancement. If it's an issue, that's blocking you, I'd recommend posting in either MSDN or StackOverflow forums for help, or opening a support case(I can help you if you don't have a support plan), let me know which option you'd like me to follow up on

[2019-06-12 18:14] KingdomOfEnds commented on #33068
@yeskarthik - Added you here since you've already been discussing this.

[2019-06-12 18:14] jogule commented on #32952
same error here with VS2019

[2019-06-12 18:14] MisinformedDNA commented on #33190
Related to #27648.

[2019-06-12 18:17] allanmoller commented on #32876
Same result nothing?

[2019-06-12 18:20] KranthiPakala-MSFT commented on #33078
@bertrandpons Thank you for your inquiry. At this time it does not look like you are referring to a document content issue, but to a specific scenario. If that's the case we request you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or other forums ([Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory)), w

[2019-06-12 18:26] mike-urnun-msft commented on #32751
Hello @Mikli Apologies for delay in response. Documentation states following prior to the "Check for attachments" step: "_Your logic app is now live but doesn't do anything other check your emails. Next, add a condition that specifies criteria to continue workflow._"

While your point is completely valid and it's definitely possible to rely upon the filter (HasAttachments) that was specified at th

[2019-06-12 18:26] #32751 closed

[2019-06-12 18:26] rwike77 commented on #33126
@mmajis Apologize for the incorrect info, which has been removed from the article (and will publish live later today).  We'll update the article again when the functionality has been enabled.  #please-close

[2019-06-12 18:26] #33126 closed

[2019-06-12 18:32] HeidiSteen commented on #29916
We have work items logged for future work, but other than that, there is no further progress to be made on this issue.  Could someone close it??
#please-close

[2019-06-12 18:32] #29916 closed

[2019-06-12 18:46] Karishma-Tiwari-MSFT commented on #33167
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-12 18:47] Karishma-Tiwari-MSFT commented on #33180
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-12 18:49] Karishma-Tiwari-MSFT commented on #33183
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-12 18:50] tfitzmac commented on #32931
@MisinformedDNA - it's available as an output type to help users follow best practices for handling secure values in templates. Without it, users might be tempted to use string for secure values and not realize there is a security issue with exposing secrets in the template output and history.

You can provide product feedback at [https://feedback.azure.com/forums/281804-azure-resource-manager](ht

[2019-06-12 18:50] tfitzmac commented on #32931
#please-close

[2019-06-12 18:50] #32931 closed

[2019-06-12 18:52] markjbrown commented on #30853
Yes, I understand your frustration. The reason it is this way is our resource provider does not support PATCH. This is something we are evaluating for the future. I appreciate your feedback on this. It will be incorporated into our discussions on this topic.

btw, another customer has a similar requirement and he came up with a novel solution. Take a look at this blog post of his as it may suit yo

[2019-06-12 18:56] Karishma-Tiwari-MSFT commented on #33166
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-12 18:56] TravisCragg-MSFT commented on #33189
@simonua I am able to see the manage option on my Standard Verizon CDN. Make sure that you are on the CDN Profile, not the Endpoint.

![image](https://user-images.githubusercontent.com/38542241/59378384-0b944800-8d09-11e9-9a2c-aaf759f655a9.png)

[2019-06-12 19:01] Sudharma commented on #33174
@saurabhsensharma I am referring to this one https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-probe-overview
However Currently there are work around to create a seperate http-setting and assign the port for probe! I  would be eager to know if you guys can implement a solution where you can provide capability for a custom probe to define a port OR provide http-setting

[2019-06-12 19:02] Sudharma commented on #33174
Found somewhere this --> https://feedback.azure.com/forums/217313-networking/suggestions/14095221-setting-a-probe-port-other-than-a-service-port-in

I hope this could help

[2019-06-12 19:03] KingdomOfEnds commented on #33004
@deepakpalled - pinged you.

[2019-06-12 19:03] sadiehenry commented on #32255
Hey folks,

I checked and they are both using the same url: aka.ms/ssprsetup. This is the URL for the GA experience of SSPR registration, so we won't update it to the URL for the converged experience until that is GA. However, if you are enabled for the new experience, you should be able to go to aka.ms/ssprsetup and be forwarded to the new experience.

Thanks,
Sadie

[2019-06-12 19:03] bencorley opened #33196 "How to do a NOTACTIONS?"
I've created this file:

{
    "Name":  "No Group User Listing",
    "IsCustom":  true,
    "Description":  "Deny Group User Listing",
    "Actions":  [
                    "*/read"
                ],
  "NotActions": [
    "Microsoft.ApiManagement/service/groups/users/read"
  ],
    "DataActions":  [

                    ],
    "NotDataActions":  [

                       ],
  "AssignableScopes":

[2019-06-12 19:09] MicahMcKittrick-MSFT commented on #33165
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-12 19:12] simonua commented on #33189
Thanks, @TravisCragg-MSFT. Is this button permissioned somehow? I see it in the non-prod Azure subscription I have access to at my organization now but not in production.

[2019-06-12 19:12] msmimart commented on #23124
@jurajgh we've investigated and the product team confirms that the behavior isn't related to the Google federation feature changes. But if we uncover something that changed in the same timeframe that would be helpful to note, we'll update the article. Since there's not an action item for docs at this time, we'll close the issue but will continue to track internally. Please also consider using [Azu

[2019-06-12 19:12] #23124 closed

[2019-06-12 19:16] razvansalajan opened #33197 "DocumentCount metric supports only Total Aggregation Type"
I would like to monitor the document count within a collection. Looks like the [document count metric](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftdocumentdbdatabaseaccounts) can be leveraged for that. One downside is that it only supports total aggregation type. As mentioned by the [metric specification](https://docs.microsoft.com/en-us/azure/azure-mon

[2019-06-12 19:17] MicahMcKittrick-MSFT commented on #33165
@algattik the beginning of the doc links to the quick start which will get your cluster setup in the first place. If users are at this point in the docs, it is assumed they are already connected to their cluster.

At this point in time we think it is best to leave the doc as is. However, your comment will remain on this doc and if others feel the same we can always reopen and reconsider.

[2019-06-12 19:17] #33165 closed

[2019-06-12 19:18] MicahMcKittrick-MSFT commented on #33107
I will close this out but if you have further feedback just let us know and we can always reopen and continue.

[2019-06-12 19:18] #33107 closed

[2019-06-12 19:21] MicahMcKittrick-MSFT commented on #33136
@Kraftwerx do you have a specific recommendation on how you would prefer to see it worded?

[2019-06-12 19:22] TravisCragg-MSFT commented on #33189
@simonua I gave lesser permissions to a test account, and I was unable to see the "Manage" option. it looks like you are correct.

![image](https://user-images.githubusercontent.com/38542241/59379861-9591e000-8d0c-11e9-8138-4c8bc0bf749d.png)

[2019-06-12 19:24] simonua commented on #33189
Thank you. Can you detail what role you had and what permission you removed, please? I'm trying to pinpoint this exactly.

While I was wrong in my initial assumption that this didn't show for the Standard Verizon CDN, it would be helpful to add something to the FAQs on the page detailing what privileges a user may need, please

[2019-06-12 19:25] SteveLasker commented on #33104
Donovan and I chatted. The difference here is understanding [stable and unique tags](https://stevelasker.blog/2018/03/01/docker-tagging-best-practices-for-tagging-and-versioning-docker-images/)
We can add some clarity on Tasks tracking a specific tag, with a reference to the above article to provide context. Customers do get confused why base images should use stable tags, while deployed images sh

[2019-06-12 19:25] TravisCragg-MSFT commented on #33189
@simonua I gave the test account Reader permission. If you want me to test with other permission levels, please let me know!

[2019-06-12 19:28] simonua commented on #33189
Did the Reader permission _remove_ your privilege to the Manage button then? At what permission level did it work? Many thanks for trying this out!

[2019-06-12 19:29] daspo opened #33198 "cmdlet not available"
The cmdlets related to classic to RM are not available any more.
Can't find them in Az module or the latest AzureRM. Is there a new way to do these steps via PowerShell?
Or should we use an older version of AzureRM? Which one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8f552fb-6089-a8b8-2991-ae1958030478
* Version

[2019-06-12 19:29] jmbnzhu666 opened #33199 "get error"
While attempting to take snapshot of .
Your total snapshot size exceeds the limit of 300.0 MB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b6bd053-865d-ac2f-8232-6dccd3f83a59
* Version Independent ID: 68feb67b-05c4-d9b8-2025-d0c2f2e3e4c5
* Content: [Quickstart run a notebook on your own notebook server - Azure Machi

[2019-06-12 19:30] TravisCragg-MSFT commented on #33189
@simonua The 2 screenshots came from different accounts. The first screenshot has "Owner" role over the full subscription.

[2019-06-12 19:30] simonua commented on #33189
Ok, thank you. That helps. Closing the ticket.

[2019-06-12 19:30] #33189 closed

[2019-06-12 19:31] daspo commented on #33198
I mean commands like Move-AzureVirtualNetwork or Move-AzureService

[2019-06-12 19:31] msdpalam commented on #32295
Yes, with 5.2, we do not get the error, just wanted to reconfirm

[2019-06-12 19:38] jimoneil opened #33200 "Clarification on duration of limitations"
The limitations section uses language like "currently" on the load balancer support. Is the absence of such language supposed to imply that other limitations will not be addressed prior to full availablity?  For instance, will kubenet EVER be supported for Windows Node Pools; will Ingress Controllers be supported on Windows Nodes?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-06-12 19:38] bandersmsft commented on #33173
@demongolem Hi Greg. You can't delete an Azure subscription directly. As the article states, all an *account admin* needs to do is **Cancel subscription**. Billing stops at that point and all Azure services get disabled, but a final invoice isn’t created until the end of the current billing period. 90 days after you cancel the subscription, Azure automatically permanently deletes the subscription

[2019-06-12 19:38] #33173 closed

[2019-06-12 19:43] sqlsolver opened #33201 "Typo"
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-secure-your-key-vault#example contains a typo, backup is two words.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd8ac9-3e5f-3e4b-06f5-e36bf4461c1e
* Version Independent ID: b6888d69-51cc-194b-0af8-7cb00e3b4f01
* Content: [Secure access to a key vault - Azu

[2019-06-12 19:44] CeciAc opened #33202 "deploy.ps1 is not digital signed"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/507
The contributor is making a suggestion on the original documentation

@jznling commented 1 hour ago
In " Deploy industrial IoT services to Azure " part, there is an error that showed "deploy.ps1 is not digitally signed". The problem can be solved by command "Set-ExecutionPolicy -Scope Process -Executio

[2019-06-12 19:45] FrankHu-MSFT commented on #33118
Closing this issue as issue is being addressed. Thanks again @josuvil !

[2019-06-12 19:45] #33118 closed

[2019-06-12 19:46] gilherau opened #33203 "Azure Sentinel versus Azure Monitor"
The article encourages customers to adopt Sentinel's native connector instead of the procedure listed here. We should be careful though because on the Azure Sentinel article that discuss O365 integration, it clearly states that "Currently, Azure Sentinel supports Exchange and SharePoint" so there's a lot of information that is NOT captured by sentinel but might be of value to potential users. I wo

[2019-06-12 19:52] MisinformedDNA commented on #32931
But what's the best practice? If securestring doesn't actually output anything, then users have no choice but to output secure values in securely right?

I'm happy to provide feedback there, but I want to make sure I understand the current state before filing. Thanks.

[2019-06-12 20:09] tfitzmac commented on #32931
What type of secure value are you trying to output? In general, you want to store secure values in Key Vault and then reference them in parameter files.

[2019-06-12 20:15] MisinformedDNA commented on #32931
The ARM parameters accept SQL Server credentials (not yet converted to key vault) and then one of the output values is the connection string that was applied to the web app (also in the template). Unfortunately, we need the connection string later on for a console app that helps initialize some values in the CD process.

[2019-06-12 20:21] ketaanhshah opened #33205 "Azure Application Gateway Web Application firewall CRS setting PARNOIA LEVEL for crs-setup.conf"
We are using Azure Application Gateway and Web Application Firewall (WAF) and what we want to do is we want to change the PARANOIA LEVEL from 2 to 1.

One of the OWASP Engineer helped me the command we can use to switch it setvar:tx.executing_paranoia_level=1 in the crs-setup.conf. But now I am not aware in Azure and App Gateway WAF where we make this change?

Anyone aware of where this CRS-SETUP.

[2019-06-12 20:27] josuvil commented on #33118
Glad to assist!

[2019-06-12 20:29] pdeveau commented on #33100
Some of the information on this page also appears incorrect or out of date:

"To refresh and get tokens in a hidden iframe, include the username of the user in this hint to distinguish between multiple sessions the user might have at a given time. You can extract the username from an earlier sign-in by using the preferred_username claim." - No such claim is returned.

"Can be consumers or organiza

[2019-06-12 20:29] jdneilso opened #33206 "Error creating audit in SSMS"
Hello,

I'm using SSMS version V 18.0.  I'm connecting to my SQL Managed Instance.  On the Create Audit screen, I successfully connect to my Azure account and select my storage account and blob container.  When I click ok, I get the following error:

===================================

The UTC time represented when the offset is applied must be between year 0 and 10,000.
Parameter name: offset (m

[2019-06-12 20:38] dlepow commented on #33104
Thanks all for feedback. I created a [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1540981) to track this and related updates to improve this article. Accordingly, I will close this issue.
#please-close

[2019-06-12 20:38] #33104 closed

[2019-06-12 20:39] dlepow commented on #32976
Thanks again for feedback. I created a [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1540981) to track this and related updates to improve this article. Accordingly, I will close this issue.
#please-close

[2019-06-12 20:39] #32976 closed

[2019-06-12 20:44] dlepow commented on #31894
@porrascarlos802018 - Just a quick update: ACR Tasks is able to track image dependencies from the following locations: public Docker Hub repositories, the source registry ACR, and MCR (Microsoft Container Registry). Private Docker Hub repos aren't currently supported. I have created a work item to track a number of improvements to this article and will include this point at that time. Accordingly,

[2019-06-12 20:44] #31894 closed

[2019-06-12 20:52] femsulu commented on #32815
@frehnejc From your above comment, I'm infer your "fleet of VMs" are on Windows OS (not Linux) please correct if this is  what version of the unintal.exe are you using. AFAIK, the uninstall.exe version 9.8.2.5440 supports Silent/noninteractive uninstall - ref screenshot. Can you retry and confirm. You may also want to consider wrapping the uninstall command in a runbook if you need to do this at s

[2019-06-12 20:56] femsulu commented on #32815
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-12 20:56] #32815 closed

[2019-06-12 20:59] spelluru commented on #12266
#please-close

[2019-06-12 20:59] #12266 closed

[2019-06-12 21:02] SeanFeldman commented on #12266
@spelluru was if fixed?

[2019-06-12 21:05] spelluru commented on #12266
@SeanFeldman - Sorry. It took so long. These are the issues carried over.

I tried the command and updated it in the article. The updated article should go live around 3:30 PM PST today. Thanks.

[2019-06-12 21:08] gitsathish opened #33207 "Issue with code snippet for creating skillset"
In the first code snippet that is -
"outputs": [
        {
          "name": "organizations", "targetName": "organizations"
        }
      ]
    }
It only worked after we changed it to -
"outputs": [
        {
          "name": "entities", "targetName": "organizations"
        }
      ]
    },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-12 21:08] spelluru commented on #14591
#please-close

This is documented in the article:
https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest#encryption-at-rest-in-microsoft-cloud-services (search for Service Bus)

[2019-06-12 21:08] #14591 closed

[2019-06-12 21:10] nelfer commented on #32453
@jmprieur thanks for responding!
So the application is quite simple. It is a web page that display the a table (logs). This table is loaded via AJAX from a controller in the same project (Controllers/LogsController) which returns a JSON collection.
The page has a Refresh button that just makes the AJAX call again, instead of refreshing the entire page.

Everything works fine after the initial auth

[2019-06-12 21:12] spelluru commented on #11899
#please-close

[2019-06-12 21:12] #11899 closed

[2019-06-12 21:12] YutongTie-MSFT commented on #33199
@jmbnzhu666 Hi, could you please give us more details about what errors you are suffering from so that we have help you out? Thank you.

[2019-06-12 21:28] femsulu commented on #33139
@antonihanus Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-12 21:36] pdraughan commented on #23023
Apologies for the late comment, but I had this headache today and this was the best-worded result Google provided, but alas, no answer is shown. Here's the issue and only resolution I found in hopes I can save someone else the trouble.

@MicahMcKittrick-MSFT [this documentation](https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azureservicefabricps). Most importantly, the very

[2019-06-12 21:38] #32387 closed

[2019-06-12 21:39] MicahMcKittrick-MSFT commented on #33200
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-12 21:40] YutongTie-MSFT commented on #32978
@aashishb Hi, could you please take a look of this issue? I can not find anything about it neither in the document nor in the SDK references. Thank you very much.

[2019-06-12 21:40] Mike-Ubezzi-MSFT commented on #23965
@bertrandpons The App Service Environment does not have access to a .DLL that is necessary for AD Identities to work. In the following [doc](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#configure-your-client-computers), it details how to set-up the client computers and in an App Service Environment, you don't have the ability to install additional o

[2019-06-12 21:42] TomaszOledzki opened #33208 "What is application gateway firewall policy"
What is application gateway firewall policy?

Doc site for *-AzApplicationGatewayFirewallPolicy cmdlet isn’t explaining it either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911f89a4-11b8-fdf5-6fb0-21ead568f7e0
* Version Independent ID: d3d55d32-9067-48b9-3bea-68eb6efc8194
* Content: [Configure Web Application Fire

[2019-06-12 21:48] Benjiiim commented on #28965
Can we have more information from @ellacroi on why this feedback is not relevant?

[2019-06-12 21:49] Mike-Ubezzi-MSFT commented on #23965
Additionally, it appears you might be using a Managed Identity as the SQL AD Admin...is this the case? Can you follow [this](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#create-contained-database-users-in-your-database-mapped-to-azure-ad-identities) section of the documentation to create a Managed Identity as a USER to the Application Database. You

[2019-06-12 21:51] TomaszOledzki opened #33209 "Allow Action explain"
“Allow – Authorizes the transaction, skipping all subsequent rules. This means that the specified request is added to the allow list and once matched, the request stops further evaluation and is sent to the backend pool. Rules that are on the allow list aren't evaluated for any further custom rules or managed rules.”

According to this, if I have a false positives on CRS and I’ll create a rule to

[2019-06-12 21:52] MicahMcKittrick-MSFT commented on #33128
@MiteshChauhan1 thanks for this find! You are correct. I have removed those from the table. Once the PR merges the changes will go live after a few hours.

[2019-06-12 21:52] #33128 closed

[2019-06-12 21:54] MicahMcKittrick-MSFT commented on #33130
@ptuton I took a look and Boot Diagnostics is enabled by default

![image](https://user-images.githubusercontent.com/32313503/59388959-0394d200-8d22-11e9-98bd-2bcab7cb2c0c.png)

It was the OS diagnostics I was thinking of that is not enable by default. So the doc is correct :)

[2019-06-12 22:15] femsulu commented on #33173
added triage labels.

[2019-06-12 22:16] MicahMcKittrick-MSFT commented on #33166
@paulbouwer @iainfoulds @dlepow would any of you have any info around this? Or possibly the best place for a user to find this info?

[2019-06-12 22:17] femsulu commented on #33170
@anhowe Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-12 22:22] femsulu commented on #33144
@razvansalajan in addition to the above, you also have the option of posting your issue or question on the [MSDN community forum for log analytics](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) to see if anyone has encountered this same issue and has a feasible solution or workaround.

Thanks for understanding and hope to hear from you via our other channels.

Cheers.

[2019-06-12 22:22] #33144 closed

[2019-06-12 22:23] MicahMcKittrick-MSFT commented on #33137
@mykola-ivadolabs I am not seeing what you are referring to.

The command in the doc is

`curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net%2F' -H Metadata:true -s`

and what you provided is

`curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net%2F' -H Metada

[2019-06-12 22:24] femsulu commented on #33164
@jmrita
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-12 22:25] femsulu commented on #33164
@MGoedtel, AFAIK, Server Core isn't supported. Can you confirm?

[2019-06-12 22:26] femsulu commented on #33187
@MikeChristensen Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-12 22:27] MicahMcKittrick-MSFT commented on #33200
@jimoneil appreciate the feedback. While items are in preview there are many features and limitations that we will point out. When a product goes GA will we work to address limitations that would cause people trouble while using a specific feature.

For any questions or issues with preview features you can reach out to the product team directly on their github repo

https://github.com/Azure/AKS/is

[2019-06-12 22:27] #33200 closed

[2019-06-12 22:29] femsulu commented on #33203
Very valid point. Your feedback has been shared with the content author for further review.

[2019-06-12 22:31] Mike-Ubezzi-MSFT commented on #33190
@MisinformedDNA How are you initiating your PowerShell session? If you [Sign in with Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-2.2.0) using a service principle, you should be able to have a similar experience as with SSMS. Please see: [Certificate-based authentication](https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?vi

[2019-06-12 22:31] femsulu commented on #33187
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-12 22:31] #33187 closed

[2019-06-12 22:36] #32787 closed

[2019-06-12 22:41] MisinformedDNA commented on #33190
In the portal, SSMS and PowerShell I'm always logging in with my organization email. In PowerShell, I am initiating it with `Login-AzureRmAccount`.

[2019-06-12 22:48] cogran opened #33213 "Network Watcher and NSG Flow Log availability"
Network watcher and it's diagnostic logging capabilities are shared with Azure Monitor. The content from the Monitoring & Management page should be duplicated and or linked to Networking as well for Azure Network Watcher including Network Performance Monitor information and Azure Network Security Group log analytics (also known as NSG flow logs).

It should also be clarified both here and on Monit

[2019-06-12 22:49] SeanFeldman commented on #12266
No worries, thank you for letting know.

In the future, would it be possible to make a comment, or event link to the fix PR, rather than just indicate the issue can be closed? From the outside, it looks like no action was taken, despite one queued up.

[2019-06-12 22:55] Mike-Ubezzi-MSFT commented on #33190
Did you create this UserVoice [entry](https://feedback.azure.com/forums/217321-sql-database/suggestions/37157434-not-require-a-specific-admin-account-just-to-expor)? I believe the desired Portal behavior will require an enhancement request, and the UserVoice entry is what needs to be UpVoted and Commented upon, to communicate the desirability to the PG. As for the desired PowerShell behavior, usin

[2019-06-12 22:58] alkohli commented on #31065
@NextTurn The content is now live and the broken links are fixed. Thanks for your patience!

[2019-06-12 22:58] alkohli commented on #31065
#please-close

[2019-06-12 22:58] #31065 closed

[2019-06-12 23:02] Grace-MacJones-MSFT commented on #33186
@giovannifl to clarify, your app can only use one form of the VNet Integration feature at a time. As the documentation states, if you want  to reach RFC 1918 endpoints across ExpressRoute
then the best feature to use is regional VNet Integration. Is this what you are trying to achieve?

[2019-06-12 23:03] MarileeTurscak-MSFT commented on #33201
@sqlsolver
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-12 23:06] MarileeTurscak-MSFT commented on #33201
In this context it is one word, as it is referring to a noun and a key word in this case.

[2019-06-12 23:06] MarileeTurscak-MSFT commented on #33201
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-06-12 23:13] XiangyuL-Microsoft commented on #32335
Hi, @wassx. Could you please explain a little more about your question? What information are you seeking for and not able to find in the [documentation](https://docs.microsoft.com/en-us/azure/spatial-anchors/)?

[2019-06-12 23:18] Alberto-Vega-MSFT commented on #32988
@ggorby Would you please try with Visual Studio 2017?

[2019-06-12 23:25] kgremban commented on #33070
@ArPharazon you provisioned three identical machines, followed the same installation steps, and it only worked on one of them? And the one that worked, worked the first time around -- you didn't have to fiddle with the steps or troubleshoot anything?

[2019-06-12 23:30] karlbunnell opened #33218 "Inaccurate custom log name and other suggested edits"
I built the Symantec Azure dashboards and after having our documentation team review the content at https://docs.microsoft.com/en-us/azure/sentinel/connect-symantec they are recommending some edits (mainly bolding of certain content), however, there is a signficant bug in the documentation that will cause the Dashboards to fail. The Dashboards rely on the custom log name to be: SymantecICDx, not S

[2019-06-12 23:33] tfitzmac commented on #32931
If you are constructing the connection string within the template based on values you pass in as parameters, you should be able to construct that same connection string outside of the template and store it securely for your console app.

[2019-06-12 23:37] ptuton commented on #33130
You are correct in saying that boot diagnostics is enabled by default when using the Portal but when using PowerShell, particularly the command you've provided in the tutorial, boot diagnostics is not enabled by default. Try it following the instructions as written ;)

[2019-06-12 23:50] TravisCragg-MSFT commented on #33198
@daspo Thanks for the feedback! You can [install Azure Classic PowerShell by following This Document](https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0).

This is not listed in the document, so I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-12 23:51] Karishma-Tiwari-MSFT commented on #32270
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-12 23:51] #32270 closed

[2019-06-12 23:53] TravisCragg-MSFT commented on #33208
@TomaszOledzki an Application Gateway Firewall Policy is a collection of custom firewall rules. Please let me know if you need any additional information.

[2019-06-12 23:55] MicahMcKittrick-MSFT commented on #33130
Ah yes I see.

Looks like we will need to add a line to enable it

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-2.2.0

I will make those changes to the doc :) Thanks again! I appreciate you letting us know of this.

[2019-06-12 23:55] Karishma-Tiwari-MSFT commented on #33180
https://github.com/MicrosoftDocs/azure-docs-pr/pull/79486

[2019-06-12 23:57] Mike-Ubezzi-MSFT commented on #23965
Here is a tutorial that walks you through the process from an App Service perspective. Managed Identities need to be enabled within the App Service instance: Tutorial: Secure Azure SQL Database connection from App Service using a managed identity ([link](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi)).
So yes, Managed Identities are supported in App Servic

[2019-06-13 00:00] Karishma-Tiwari-MSFT commented on #33093
@VaroJulio Can you please check this [stack overflow thread](https://stackoverflow.com/questions/51467513/azure-keyvault-access-policy-exception-when-creating-service-fabric-cluster-with) on the same issue and see if this unblocks you. Let me know the update.

[2019-06-13 00:03] TravisCragg-MSFT commented on #33209
@TomaszOledzki You should only make allow rules for things that you know will be ok to pass to the backend 100% of the time. [Here is an example of a custom SQL rule](https://docs.microsoft.com/en-us/azure/application-gateway/create-custom-waf-rules#example-5).

[2019-06-13 00:03] deepakpalled commented on #33004
@KingdomOfEnds - Let us review and restructure the content to lead the concept with the two mechanisms our customers can use to ingest data into TSI.

[2019-06-13 00:06] #33180 closed

[2019-06-13 00:06] tfitzmac commented on #32880
#please-close

[2019-06-13 00:06] #32880 closed

[2019-06-13 00:07] FrankHu-MSFT commented on #33218
@karlbunnell  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 00:09] Mike-Ubezzi-MSFT commented on #32934
I see. Issue needs to filed against this doc but do see how the following needs to added to the [Prerequisites](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#create-an-azure-ad-administrator-for-azure-sql-server).

![Screenshot (74)](https://user-images.githubusercontent.com/37126106/59394455-90488b80-8d34-11e9-9ae9-592bfd7769bf.png)

The Azure SQL D

[2019-06-13 00:11] ggorby commented on #32988
You mean for deploying the Sharing Anchors Service?

Sent from my iPhone

On Jun 12, 2019, at 6:18 PM, Alberto Vega <notifications@github.com<mailto:notifications@github.com>> wrote:

@ggorby<https://github.com/ggorby> Would you please try with Visual Studio 2017?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/

[2019-06-13 00:11] Karishma-Tiwari-MSFT commented on #33087
@MikkelHegn Can you please review this suggestion for doc enhancement by customer and share your insights. Thanks :)

[2019-06-13 00:12] ketaanhshah commented on #33209
@TravisCragg-MSFT Hey Travis with this new release I am not sure what has changed, anyway to know that? Also is it possible to change the PARANIOA LEVEL from default value of 4 to lets say 1? I understand that degrades security but is it possible somehow in Azure App Gate WAF to change the PARANIO LEVEL to 1 as I am not sure where the crf-setup.config exists and how we can change it? Any help on t

[2019-06-13 00:16] Mike-Ubezzi-MSFT commented on #32934
@cephalin Can you create a work item to correct [this](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) tutorial to include the correct steps of provisioning an AAD Identity as an Azure SQL Admin for Azure SQL Server.
Issue was opened under a differant doc but the doc update needs to happen on the tutorial.

[2019-06-13 00:16] #32501 closed

[2019-06-13 00:19] TravisCragg-MSFT commented on #33209
@ketaanhshah What exactly are you referring to with the "PARANIO LEVEL"? Custom rules allow you to either Allow or Deny based upon the priority of the rule.

[2019-06-13 00:20] MarileeTurscak-MSFT commented on #33201
@sqlsolver I completely misread your comment as you saying that it *should be* two words but I see one of the examples has a space in it. Good catch!

I have added a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/79489

The change should go live in 24 hours.

[2019-06-13 00:20] #33201 closed

[2019-06-13 00:21] ketaanhshah commented on #33209
Thats correct the custom rules allow us but I was looking for an option where I can downgrade the PL from 4 to 1.  More details here on this thread:-
https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1449#issuecomment-501429738

[2019-06-13 00:23] FrankHu-MSFT commented on #33184
Thanks again for that information, we are still looking into this issue and will respond back as soon as possible,

[2019-06-13 00:25] Alberto-Vega-MSFT commented on #32988
Yes please

[2019-06-13 00:25] TravisCragg-MSFT commented on #33209
@ketaanhshah I do not believe that you can change the default OWASP configuration, your best bet will be to make a custom rule.
I am following up now to get a definitive answer on if there is a way to change the Paranoia level, and will follow up here.

[2019-06-13 00:28] ketaanhshah commented on #33209
@TravisCragg-MSFT Thank you so much Travis that will be great as we have been struggling a lot to get out application go live on Azure just because of all the FALSE POSTIVES we getting and we really need this answer so in that case we will build the custom rules. One more question I had was..If we create a custom rule with lower number level for lets say allowing some SQLCI related warning we got

[2019-06-13 00:32] TravisCragg-MSFT commented on #33209
@ketaanhshah You can [disable most of the existing OWASP rules](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-customize-waf-rules-portal) If you know which rule is giving you the issue.

If a custom rule is created and a request matches the custom rule, it will immediately be allowed or denied, and no further firewall checks will be made. If you have a custom allow

[2019-06-13 00:34] ketaanhshah commented on #33209
@TravisCragg-MSFT you are wonderful sir, thank you so much again for super prompt response! Really apprecaite it a lot. I am fairly new to this and is there anyway you can guide me on how I can get some custom rules like REGEX rule, User agent string rule, etc.. for some of the following FP we getting?

Resource | ruleSetType_s | ruleSetVersion_s | ruleGroup_s | ruleId_s | action_s | site_s | deta

[2019-06-13 00:38] KranthiPakala-MSFT commented on #33192
@rajrao Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will get back to you soon.

[2019-06-13 00:51] brjohnstmsft commented on #31995
This specific issue is now documented [here](https://docs.microsoft.com/azure/search/search-query-understand-collection-filters#correlated-versus-uncorrelated-search). There is also a new [OData language reference](https://docs.microsoft.com/azure/search/query-odata-filter-orderby-syntax) available.

Closing this issue.

[2019-06-13 00:52] brjohnstmsft commented on #31995
@BryanTrach-MSFT Please close this issue.

[2019-06-13 01:01] jscaravilli opened #33220 "Azure Monitor for VMs - how long for alert notifications to start?"
Hello,

I've followed the steps here (https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-health#alerts) to confirm alertGeneration is enabled _and_ associate an email actiongroup to the various alerts using ARMClient. I performed these steps for each VM I am trying to alert on.

In spite of completing and validating these changes (per the article) I am not receiving any email

[2019-06-13 01:13] carteixeira commented on #33116
You are correct, we have the default outbound rule, but the system creates a "deny_all_outbound" rule with a higher priority, and some other rules allowing the "VirtualNetwork" tag outbound for ports 5022, 1433, 11000-11999, 80, 443, 12000, which is good, but does not include outbound to AzureLoadBalancer on port 53 for DNS resolution.
For customers with custom DNS on the VNET, there is no issue,

[2019-06-13 01:18] spelluru commented on #12266
@SeanFeldman - Sure thing. The updated content is live now:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-concept#azure-cli-instructions

I am trying to solve what I can. I need help from a PM for most of the issues. Thanks for suggesting the solution to the problem in the article. I tried it out before updating the article.

[2019-06-13 01:32] GavinEke opened #33222 "Pre-register data with PowerShell directly into StrongAuthenticationUserDetails"
Hi,

I was about to pre-register our employees phone numbers and emails into Azure AD thinking it would only be able to be seen by Global Admins based on issue #26720 but after performing the commands to set the MobilePhone and AlternateEmailAddress on a single user I found that any standard user in the organisation could see this information.

Is there a way I can write directly using PowerShell

[2019-06-13 01:43] MGoedtel commented on #33164
@jmrita & @femsulu - Correct, Server Core is not supported with the LA agent.

[2019-06-13 01:56] hrasheed-msft commented on #32764
Summarizing here the results of an external discussion thread on this issue:

@Mangu has a customer that wants to run Kafka on prem and wanted to make sure that the IoT connector would work with a Hortonworks cluster. Specifically, that the connector didnt have any dependencies on HDInsight. @dhgoelmsft from the product team responded with the following:

"No dependency on HDInsight that we’re awa

[2019-06-13 01:56] hrasheed-msft commented on #32764
#please-close

[2019-06-13 01:56] #32764 closed

[2019-06-13 02:01] ayoung012 opened #33223 "Update process to reflect deprecation of Set-AzRecoveryServicesVaultContext"
This command is getting deprecated. Please use -VaultID parameter in all Recovery Services commands going forward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f9ebab-55d5-7f1d-53d4-b09e3e5872ee
* Version Independent ID: 2e50aec5-881e-db9d-3162-e0a2ec53ff2f
* Content: [Azure Quickstart - Back up a VM with PowerShel

[2019-06-13 02:07] arindam-laha commented on #8493
Hi, we are looking for a similar feature in AAD SSPR.
Is this feature (using a company branded url for SSPR enrollment like https://sspr.mycompanyname.com/setup) available now?

Thanks

[2019-06-13 02:20] MGoedtel commented on #32992
@arunkra - The health solution does not collect this information so to collect this configuration information you would need to create a PowerShell script to query the SQL instance and then use the  Log Analytics HTTP Data Collector API (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api) to ingest the results into your workspace.  Hope that helps.

[2019-06-13 02:28] femsulu commented on #33164
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-13 02:28] #33164 closed

[2019-06-13 02:31] ayoung012 commented on #33223
Some commands from my own requirements
[code]

Note that is necessary to specify vaultID for `Enable-AzRecoveryServicesBackupProtection`, even though the vault is implied by the $policy variable.

[2019-06-13 02:31] femsulu commented on #32992
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-13 02:31] #32992 closed

[2019-06-13 02:32] ptuton opened #33224 "Replace "AzureKeyVault" commands with the equivalent "AzKeyVault" version"
Usage of `AzureKeyVault` commands results in an error, e.g.

These commands should be updated to use the `AzKeyVault` version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf51cac-f999-cb1c-b2c8-bf5cc224ecf8
* Version Independent ID: db10a084-09b8-6d25-05e5-e8c60507e474
* Content: [Tutorial - Secure a Windows web se

[2019-06-13 02:36] dcbrown16 opened #33225 "Mention Web App IP restrictions"
IP restrictions are not available in ASE only. The feature for normal Web Apps should be mentioned as well.
https://docs.microsoft.com/en-us/azure/app-service/overview-security#static-ip-restrictions
Furthermore, Vnet integration doesn't inherently restrict incoming IPs, so that part also needs to be amended to talk about service endpoints in particular (if they are actually working now).

---
###

[2019-06-13 02:40] huislaw opened #33226 "Missing Malaysia's States"
I'm using geographyV2 to get Malaysia's states. Some states can detect but some cannot. Some same state can detect in utterance using "at" but not in "in" .
Am I missing something?

Examples as below via the Test Panel:

how's the weather in johor
---------------------------
Text	Entity
"johor"	geographyV2

how's the weather in sabah?
---------------------------
Entities
No predicted entities

how

[2019-06-13 02:57] Alberto-Vega-MSFT commented on #33202
@jznling Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-13 03:14] DashleenBhandari-MSFT commented on #33135
@ryanmajidi , Could you please provide the document you are referring to?

[2019-06-13 03:15] Hamish2405 commented on #20701
@mdgattuso - Any updates?

[2019-06-13 03:31] KalyanChanumolu-MSFT commented on #32822
@thomasvdb

I need to get this to support so that an engineer can work with you to understand your set up and check this for you.
If you have an Azure support plan, please file a ticket with support. If you don't have an Azure support plan, you can send your Azure subscription GUID to AzCommunity at Microsoft.com and reference this Git Issue.
I will send back instructions to have a full-fledged in

[2019-06-13 03:37] hyparki opened #33227 "Port of Korea Required IP addresses are incorrect."
I think correct port number is 443.
It is not 433.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d034468-fc28-5eff-4e00-091d2ae7ae2b
* Version Independent ID: dbd8f413-2dce-dc9c-4a0c-ea2a3ff982db
* Content: [Extend HDInsight with Virtual Network - Azure](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-exte

[2019-06-13 03:46] aaron-0 commented on #30853
Thanks for your help, I'll make use of that solution, as I like it more than what I was doing

[2019-06-13 03:54] mike-urnun-msft commented on #33193
Hey @whoward3

Broken link is on: https://www.npmjs.com/package/durable-functions
The link was meant to point to this sample: https://github.com/Azure/azure-functions-durable-js/tree/dev/samples/HttpStart

But none of it appears to be related to `azure-docs`, as such, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly

[2019-06-13 03:54] #33193 closed

[2019-06-13 04:24] SnehaAgrawal-MSFT commented on #33055
@winmike Thanks again for the question! As mentioned by mikkelhm and Abhra1992 restarting the function app should work also try turning off then re-enabling system assigned managed identity. Let me know if issue persists.

[2019-06-13 04:29] CHEEKATLAPRADEEP-MSFT commented on #33227
@hyparki Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/79505](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79505.)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-06-13 04:29] #33227 closed

[2019-06-13 04:47] KanikaGMS opened #33228 "Issue with configure low usage machine recommendations"
Here in the article its mentioned that "Advisor monitors your virtual machine usage for 14 days" but in azure portal Advisor tab -&gt; Cost Management -&gt; Recommendations we wee a message "We've analyzed the usage patterns of your virtual machine over the past 7 days".

Kindly specify which is correct as I was informed 7 days one is correct.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-06-13 05:04] ram-msft commented on #33158
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 05:04] #33158 closed

[2019-06-13 05:08] SnehaAgrawal-MSFT commented on #33207
@gitsathish, Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 05:12] ram-msft commented on #33226
@huislaw Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-13 05:16] mma-mm commented on #32668
thank you, i'll check back then.

[2019-06-13 05:26] femsulu commented on #32830
@ToMakeSense Thanks for the update. Adding @tfitzmac as FYI.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-13 05:29] ggorby commented on #32988
The Quickstart HoloLens app worked, but the "Starting a new Unity HoloLens app" gave the results described above. I have not tried anything else on the "sharing in Unity" tutorial for iOS after I submitted the issue with the error messages. I thought your request to use Visual Studio 2017 pertained to the iOS issue, but I see you meant it in reference to this one. I tried VS 2017, and I am seeing

[2019-06-13 05:29] mmaraa opened #33231 "Missing documentation"
Hi,

During a deployment of management tool I observed a few things that are undocumented. Can you clarify also is the account that is used for the deployment needed anymore after the deployment or is it stored anymore anywhere after the deployment completes.

- Account that should be used for the template deployment requires privileges to create an Azure AD Application. This is not documented in

[2019-06-13 05:38] SwathiDhanwada-MSFT commented on #32876
Kindly follow these steps
1) Please cross verify if Azure Application Gateway and  Azure network diagnostics have been enabled or not.
2) Verify if Azure Application Gateway Analytics and the Azure Network Security Group Analytics solution are added to log analytics or not.
3) Query "AzureDiagnostics" in Log analytics, and verify if there are records being returned.
4) Query AzureDiagnostics with

[2019-06-13 05:39] #32876 closed

[2019-06-13 05:42] joesamraj commented on #33162
Hi, Any update on this?

Thanks

[2019-06-13 05:43] femsulu commented on #32832
@aaronhughesdelt incase you haven't seen this, check out the documentation on [assigning enrollment account scope access](https://docs.microsoft.com/en-us/azure/cost-management/assign-access-acm-data#assign-enrollment-account-scope-access) to see if that resolves your issue. If not please respond and we will gladly investigate further.
Cheers.

[2019-06-13 05:43] #32832 closed

[2019-06-13 05:53] femsulu commented on #32889
Thanks again for calling this out. Kicked-off a PR to fix the typo. Update will be live soon. Closing this issue.
Cheers.

[2019-06-13 05:53] #32889 closed

[2019-06-13 05:54] lovelangy opened #33232 "Can single node cluster be scaled?"
I created a single node cluster for my test environment.  and the Azure Portal says:
![single-node-cluster](https://user-images.githubusercontent.com/5171614/59406580-0959e880-8df2-11e9-8259-83a23e07f750.PNG)

However, After the cluster creation, I can scale up the Virtual machine scale sets intance from 1 to 3. (Azure Portal -> Virtual machine scale sets -> Node -> Scaling).

- I am not sure my u

[2019-06-13 05:56] femsulu commented on #32894
adding @ananthradhakrishnan  to review and provide insight.

[2019-06-13 05:59] femsulu commented on #32924
@ananthradhakrishnan any insight on this please?

[2019-06-13 06:12] mhansma opened #33233 "Pricing Insight"
It would be nice to have insight in the costs per pipeline run. For example as a addition to the monitoring dashboard in ADF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7d3f74a-37a1-3f1f-20c5-ee762bf785ea
* Version Independent ID: 324dcf4e-90f8-b75e-2ff1-93f46d2bbd48
* Content: [Understanding Azure Data Factory pr

[2019-06-13 06:14] shashishailaj commented on #33196
@bencorley Thank you for your query. We will investigate and update further.

[2019-06-13 06:15] shashishailaj commented on #33222
@GavinEke Thank you for your query. We will investigate and update further.

[2019-06-13 06:16] shashishailaj commented on #33225
@dcbrown16 Thank you for your query. We will investigate and update the thread further.

[2019-06-13 06:18] femsulu commented on #32930
Interesting. I was unable to reproduce this issue. Can you show a screenshot as well? I recommend clearing your browser and retrying and seeing if issue persists. If it does, please raise a support ticket with Azure support using these steps. If you do not have a support plan, send mail to AzCommunity@microsoft.com including a subscription ID and a link to this GitHub thread for context and we wil

[2019-06-13 06:18] #32930 closed

[2019-06-13 06:19] msrini-MSFT commented on #33205
@ketaanhshah , Thank you for posting here. Unfortunately, as of today this settings is not user configurable.

[2019-06-13 06:20] VikasPullagura-MSFT commented on #33224
@ptuton Thanks for the feedback. I am assigning the issue to author for updating the document.

[2019-06-13 06:21] VikasPullagura-MSFT commented on #33224
@cynthn Can you please update the document with the new commands.

[2019-06-13 06:23] VikasPullagura-MSFT commented on #33231
@mmaraa Thanks for the feedback. I am assigning the issue to the author for updating the document as required.

[2019-06-13 06:23] VikasPullagura-MSFT commented on #33231
@ChJenk Can you please look into the issue and update the document as required.

[2019-06-13 06:28] Abhra1992 commented on #33055
Restarting the app did NOT fix it for me

[2019-06-13 06:31] mcurko commented on #19692
"Give a friendly name for this app registration in the Name box. Choose **Application type as Native**, and Redirect URI as https://microsoft.com. Select Create."

[2019-06-13 07:00] aaronhughesdelt commented on #32832
@femsulu hey the link didn't sort anything, the issue is around the enterprise admin account, the AO and DA cost view options (Enabled/Disabled; shown in https://docs.microsoft.com/en-us/azure/cost-management/assign-access-acm-data#enable-access-to-costs-in-the-ea-portal) are not viewable and therefore this access cascaded down.
We have created the Account owner and subs under a SQL Server EA if t

[2019-06-13 07:24] bertrandpons commented on #33078
@KranthiPakala-MSFT ok thank you

[2019-06-13 07:24] #33078 closed

[2019-06-13 07:30] BryanTrach-MSFT commented on #31995
@rokonec We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 07:30] #31995 closed

[2019-06-13 07:35] winmike commented on #33055
Indeed, the Func restart did the magic, thank you.
We should include this information into operation guide of our solutions:
"If no secrets are retrieved from KeyVault .... restart Azure Func..."

[2019-06-13 07:35] #33055 closed

[2019-06-13 07:39] timtre commented on #33171
Btw, I also tried with 17.4.55 (nodpi) Google Play Services APK for Android 5.0+, same issue.

[2019-06-13 07:41] giovannifl commented on #33186
Hi @Grace-MacJones-MSFT ,
Note in purple confirms that the Gateway required VNet integration feature " doesn't integrate an app with a VNet that has an ExpressRoute Gateway. Even if the ExpressRoute Gateway is configured in coexistence mode the VNet Integration doesn't work."
What about Regional VNet Integration ? Could it be assumed that it will integrate an app with a VNet that has an ER GW ?

T

[2019-06-13 07:59] DashleenBhandari-MSFT commented on #32989
@klawrawkz , Please let me know if you were able to find the disconnect link for the VNET.

[2019-06-13 08:01] vicancy commented on #29245
For JavaScript client, it is to set the `header` when negotiating with Azure Function.
A simple JS client sample is:
https://github.com/Azure/azure-functions-signalrservice-extension/blob/bcc4e549f8306b0f869e001572ec35ce69d81f6c/samples/simple-chat/content/index.html#L143

[2019-06-13 08:03] vinynigam commented on #23257
Understanding is correct. Azure VM (in a VNET connected to a ER circuit) can test connectivity to an on-premise IP. This makes it a private peering setup.

[2019-06-13 08:12] GreyKarnival commented on #32922
@jscaravilli I'm having the same issue, so if I understand well, now you need to put all your webapps from the same App Service Plan in the same subnet ?
As opposed to before where you had to put one web app per subnet ?

[2019-06-13 08:19] sffamily commented on #29245
The question has been answered.
#please-close

[2019-06-13 08:19] #29245 closed

[2019-06-13 08:19] vijayanandrav commented on #30899
I'm facing the same issue in Windows 10 OS in firefox and Edge browsers. It is working only in chrome browser.
The issue occurs when we select the speech data type as 'Audio' or 'Audio + human-labeled transcript'.
I compress a file by right-clicking and selecting 'send to' and 'compressed (zipped) folder'.

[2019-06-13 08:19] sander- opened #33237 "Navigation sidebar - 404"
The sidebar navigation 'How to guides &gt; Plan &gt; Web application architectures' links to https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/managed-web-app/ and results in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c

[2019-06-13 08:21] zboyanov opened #33238 "Constant strings"
Where I can find this two connection strings in Azure:
public const string ListenConnectionString = "&lt;Azure DefaultListenSharedAccess Connection String&gt;";
public const string NotificationHubName = "&lt;Azure Notification Hub Name&gt;";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf

[2019-06-13 08:22] Dhugal opened #33239 "Document states items will not get sampled when below MaxTelemetryItemsPerSecond"
Can your just confirm if the following statement is correct please or should it say that items **will** get sampled when below the MaxTelemetryItemsPerSecond rate?

*If the application produces a low amount of telemetry, such as when debugging or due to low usage, items **won't** get sampled as long as volume is below MaxTelemetryItemsPerSecond. As the volume of telemetry increases, sampling rate

[2019-06-13 08:23] djamaile commented on #19692
Yeah thanks finally got it to work. But you can only select native when using App Registration (Legacy), that option is not present in the new App Registration. It makes it seriously confusing. But thanks!

[2019-06-13 08:32] TestUser20191 opened #33241 "Bing custom search API - unable to use aliasing/ synonyms"
Currently we are using the Bing custom search API in our website to perform searches. We have the requirement to use synonyms/alias some of the terms like 'DD', 'Direct debit', *direct debit guarantee*.

Swiftype has this customised feature, However there is no documentation on this on Bing. Is this feature available in Bing? or are we missing documentation

[2019-06-13 08:39] Ramesksasi opened #33242 "Backup of Azure Files on storage account with VNET integration"
Do we have the feature in the pipeline where backup of Azure Files on storage account with VNET integration is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e17c54-1231-159f-612a-e4e8f07786c1
* Version Independent ID: d0417838-7342-dcd2-a59d-9444be67711f
* Content: [Back up Azure Files FAQ](https://docs.mi

[2019-06-13 08:52] StefanIvemo opened #33243 "Access the new portal when using Internal vNet?"
How do we access the new portal when running API Management in Internal vNet mode? Since the service endpoint &lt;your-api-management-instance-name&gt;.developer.azure-api.net is not registered anywhere, how can I route my traffic to it? Is there any path I can navigate to to end up in it? I'm using an Application Gateway in front of APIM.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-06-13 09:05] satonaoki opened #33245 "Azure Backup service tag"
Could you add information about Azure Backup service tag:

https://azure.microsoft.com/en-us/updates/nsg-service-tag-for-azure-backup-is-now-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure sec

[2019-06-13 09:09] polarapfel opened #33246 "Please fix documentation on how to modify C# samples for container endpoints correctly"
The change to the SpeechConfig initialization is wrong. _FromEndpoint_ expects a Uri object, not a String object. The String example provided here cannot be converted to a Uri object.

`var config = SpeechConfig.FromEndpoint("ws://localhost:5000/speech/recognition/dictation/cognitiveservices/v1", "YourSubscriptionKey");`

The correct example should look like this:

`var config = SpeechConfig.FromE

[2019-06-13 09:23] JayaC19 opened #33247 "Confusion with Central India region"
Azure search services are only supported in Central India region amongst all the India regions. According to this document creation of new services has been blocked in central India region for now. Has it been unblocked? It has been reported that creation in Central India is possible. In that case user is subscribed to Microsoft Azure Enterprise subscription.
---
#### Document Details

⚠ *Do not e

[2019-06-13 09:28] mohatb commented on #33129
I have the same issue and it can be reproduced in any environment.

The URL specified in the article is incorrect, as per the article suggestion

Request Id: f2054eb4-441d-4370-8938-86438d0a2b00
Correlation Id: 843a6d68-24c5-4f13-b967-c13aeda04624
Timestamp: 2019-06-13T08:43:53Z
Message: AADSTS700054: response_type 'id_token' is not enabled for the application.
Advanced diagnostics: Enable
If you

[2019-06-13 09:29] angoyal-msft commented on #33197
@razvansalajan
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-06-13 09:34] imeya commented on #23642
@brettsam , I see it is fixed in the issue [3731](https://github.com/Azure/azure-functions-host/issues/3731). but I still cannot get my custom ITelemetryInitializer to work as per the solution: move Microsoft.Net.Sdk.Functions forward to 1.0.25.

[2019-06-13 09:35] msrini-MSFT commented on #33205
You can use conditional exclusions to reduce false positives.

Here is the documentation: https://docs.microsoft.com/en-us/azure/application-gateway/custom-waf-rules-overview

Tag me if you need any further assistance

[2019-06-13 09:35] #33205 closed

[2019-06-13 09:45] TomaszOledzki commented on #33209
IMO omitting CRS on the first hit of custom rule is bad approach.

[2019-06-13 09:50] #33143 closed

[2019-06-13 09:55] payalgaikwad42 commented on #32757
@FrankHu-MSFT

We have our resource/customised html files in blob format at this location : https://smarthomestgdev.blob.core.windows.net/b2cpagelayout/customui.html
where b2cpagelayout is our container name. While using language customisation with customised html files MS adds country code in the link before container name like this :

FOR INDIA - https://smarthomestgdev.blob.core.windows.net/en/

[2019-06-13 09:55] SwathiDhanwada-MSFT commented on #33223
@rayne-wiselman Can you please update the document with latest commands.

[2019-06-13 09:56] TomaszOledzki commented on #33208
@TravisCragg-MSFT Can I have more than one policy? Is it possible to have rules with same priority in different policies?

[2019-06-13 09:59] VikasJaiswal commented on #11054
Hi,
I needed to make my edge device to communicate to upstream over port 443. I followed the guidelines provided here. Below are the changes I have done:
**config.yaml:**
`agent:
  name: "edgeAgent"
  type: "docker"
  env:
    UpstreamProtocol: "AmqpWs"
  config:
    image: "mcr.microsoft.com/azureiotedge-agent:1.0.7.1"
    auth: {}`

**In Azure portal**:  I have set below environment variable for

[2019-06-13 10:02] SubhashVasarapu-MSFT commented on #33245
@satonaoki , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-13 10:03] KalyanChanumolu-MSFT commented on #33206
@jdneilso Support on GitHub is specific to documentation issues.
Could you please post this on the [MSDN Forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=sqltools) for better visibility.

Meanwhile, could you please upgrade to the [latest version](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017#download-ssms-181) of SS

[2019-06-13 10:07] ChiragMishra-MSFT commented on #33192
@rajrao Since this is not an issue related to the doc in question, I would recommend you to create a thread on the Forums ([MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Implementation issues like yours can be better addressed on the Forums as they have more visibility across th

[2019-06-13 10:07] #33192 closed

[2019-06-13 10:08] brentnewbury-work commented on #33122
This gets interesting. I can create 10,000 topics. creating anymore results in the following error:
[code]

Now I'm trying to see how many subscriptions I can create on the first topic created to see if I can bust some sort of limit per-topic, then across topics.

[2019-06-13 10:09] DixitArora-MSFT commented on #33015
@paulpce [There's an example of this in the Cosmos client samples directory](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/AzureFunctions/AzureFunctionsCosmosClient.cs) which includes the following code.

[code]

[2019-06-13 10:13] giovannifl opened #33248 "Function Plan Premium SKUs"
Please could you check and confirm that EP1, EP2 and EP3 are the SKUs that should be selected to deploy a Function App with a Premium Plan and uses new features (such as new VNet Integration ) ? I've just tried to create a new App Service Plan in UK West but no EP SKUs was available so I've selected P1 V2 and I've deployed a Function App on it. From this Function App, I have been able to enable ne

[2019-06-13 10:13] ChiragMishra-MSFT commented on #33162
@joesamraj There are a few ways to do so. Here are a couple of them :

- You can use a custom activity - read from the source, loop against the array and write to the table, all using .NET code.

- You can use an Azure Function Activity and follow the same flow as mentioned above.

Also, since this is not an issue related to the doc in question, I would recommend you to create a thread on the Foru

[2019-06-13 10:13] #33162 closed

[2019-06-13 10:19] joesamraj commented on #33162
Thanks @ChiragMishra-MSFT  for your swift reply.

I have posted it on [Stack Overflow](https://stackoverflow.com/questions/56557354/azure-data-factory-copy-acityvity-json-array) and [MSDN](https://social.msdn.microsoft.com/Forums/en-US/4a2ee8af-0b13-450c-8c7f-c659c1bbcf81/azure-data-factory-copy-acityvity-json-array?forum=AzureDataFactory).

[2019-06-13 10:21] ChiragMishra-MSFT commented on #33162
@joesamraj Thanks for posting it. We are following the post and will provide inputs where needed.

[2019-06-13 10:21] brentnewbury-work commented on #33122
It looks like the maximum number of subscriptions is 2,000 per-topic. I get the following error after creating as many subscriptions as I can on the first topic:
[code]
I can continue to create subscriptions on other topics within the same namespace.

[2019-06-13 10:22] benjguin opened #33249 "Table Of Content to this page has a typo"
The TOC reads "Serialize telemetry using Protbuf" instead of "Serialize telemetry using Protobuf"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 941c8a5f-bb48-4a44-0bc8-a983bd1e2479
* Version Independent ID: c7ca566b-6df7-ecd3-e8cd-6b8b798d1036
* Content: [Use Protocol Buffers with device simulation - Azure](https://do

[2019-06-13 10:27] ram-msft commented on #33148
@davislf2 As the actual model is IP we cannot share all the details and also it might keep changing. Please send an email at azcommunity@microsoft.com if you want to discuss more on this.

[2019-06-13 10:27] #33148 closed

[2019-06-13 10:29] benjguin opened #33250 "git clone command is missing .git"
git clone --recursive https://github.com/Azure/azure-iiot-components 
should be
git clone --recursive https://github.com/Azure/azure-iiot-components.git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e60f086-ecba-acb3-c536-e101359a44bb
* Version Independent ID: 9ee3715b-2dae-9382-e484-04e8bb012818
* Content: [How to d

[2019-06-13 10:33] DixitArora-MSFT commented on #33013
@Rich-Lang It is already mentioned that 'Now that you have created your first function, let's add an output binding to the function that writes a message to a Storage queue.'
Even on [Add messages to an Azure Storage queue using Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-integrate-storage-queue-output-binding?tabs=csharp) doc , it is mentioned under [Prerequisites]

[2019-06-13 10:40] sebader commented on #11054
the protocol heads that are being started are where modules or downstream devices ("leaf devices") can connect to your edgeHub. So those are inbound ports that the edgeHub listens on for connections. Outbound connection upstream (to the IoT Hub) go in your case only over amqp-ws.

[2019-06-13 10:42] wassx commented on #32335
Hi @XiangyuL-Microsoft
I want to document for our customers, which services our app is using and which ports/connections their firewall needs to let through. I assume the azure spatial anchors service depends on https (443) but I can't find this in the docs.

[2019-06-13 10:45] jeremych1000 commented on #32234
@neerajkrshukla We limit egress via firewall for our AKS cluster for a client as well

We use a network rule that allows TCP port 22 (and now port 9000) to Azure tags - i.e. AzureCloud.UKSouth for example.

Do not recommend using application rules as lots of services use TCP and not HTTP/HTTPS.

@MicahMcKittrick-MSFT @YutongTie-MSFT Do you now if AKS service tags are being worked on? Ideally we wa

[2019-06-13 10:45] brentnewbury-work commented on #33122
Fyi @cocowalla, after creating 10,000 topics, I can still create queues on the same namepace. So the topic limits don't count towards the limit of queues, although I've not looked at the limits on queues.

[2019-06-13 10:55] cephalin commented on #32934
The doc actually already contains instructions to grant minimal privileges: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-minimal-privileges-to-identity

[2019-06-13 11:07] dominicbetts commented on #33202
Hi @jznling - thanks for pointing this out, I've made some changes to the article to address this issue. The changes should be published shortly.

#please-close

[2019-06-13 11:07] #33202 closed

[2019-06-13 11:08] dominicbetts commented on #33249
Hi @benjguin - thanks for pointing this out. It'll be fixed shortly.

#please-close

[2019-06-13 11:08] #33249 closed

[2019-06-13 11:08] AjayKumar-MSFT commented on #32478
Working offline on this issue.

[2019-06-13 11:09] PramodValavala-MSFT commented on #32993
@andronachev Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

I will keep this issue updated once the fix for issue raised here is rolled out.

[2019-06-13 11:09] #32993 closed

[2019-06-13 11:10] dominicbetts commented on #33250
Hi @benjguin - thanks for taking the time to report this. An updated version of the article will be published shortly.

#please-close

[2019-06-13 11:10] #33250 closed

[2019-06-13 11:10] wukun2015 commented on #33163
Any update?

[2019-06-13 11:11] cocowalla commented on #33122
@brentnewbury-work seems like the docs definitely need some updates then! :smile:

[2019-06-13 11:13] shashishailaj commented on #32907
As we have not received any further response from your side , we will be closing this thread. Should you have any further query on this, feel free to tag any of us and we will be happy to help .

[2019-06-13 11:13] #32907 closed

[2019-06-13 11:15] AshokPeddakotla-MSFT commented on #33147
@MikeChemi As mentioned, we will consider this in our next updates of the docs.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 11:15] #33147 closed

[2019-06-13 11:25] CHEEKATLAPRADEEP-MSFT commented on #33083
@NayanShetty
We have enabled for one-time free technical support.
I hope you have received one on one support to work towards a resolution on this matter.
Once the issue is sorted out with the support, please do share the resolution, which might be beneficial to other community members reading this issue.

[2019-06-13 11:32] jscaravilli commented on #32922
Correct. That's my understanding
________________________________
From: Karny <notifications@github.com>
Sent: Thursday, June 13, 2019 3:13:06 AM
To: MicrosoftDocs/azure-docs
Cc: jscaravilli; Mention
Subject: Re: [MicrosoftDocs/azure-docs] New VNET Integration - HTTP 409 (Conflict) (#32922)

@jscaravilli<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjscaravilli&dat

[2019-06-13 11:32] ChiragMishra-MSFT commented on #33233
@mhansma Thanks for the feedback. Unfortunately, there is no feature to visually estimate a pipeline run cost as of now. The pricing doc talks about how you can estimate the costs manually.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and

[2019-06-13 11:32] #33233 closed

[2019-06-13 11:34] guardrex commented on #32907
@hansmbakker The Key Vault Configuration Provider and the Environment Variable Configuration provider run in parallel as two separate config providers in ASP.NET Core apps.

The Key Vault Configuration provider described in the linked topic reads the secrets from Key Vault **_directly into the app's configuration_**, not into the app's app settings. For more info on how configuration providers wor

[2019-06-13 12:00] copperbeardy opened #33252 "update sample"
could do with some .netcore 2.2 samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f478fced-6d4d-1d71-1a87-a72868eed194
* Version Independent ID: 2405a406-12bc-34b6-e8dd-e40dab9019bd
* Content: [Azure Active Directory B2C code samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/code-samples#feedbac

[2019-06-13 12:06] timtre commented on #33163
Hi wukun2015!
Sorry for interfering with your question but I have two questions for you:
Did you get the Roobo microphone array up and running using this quickstart alone? Was there a version of Google Play Services installed on your device when you got it? Cause it wasn't installed on mine. Thanks for helping me out.
Cheers!

[2019-06-13 12:13] timtre commented on #33171
Maybe I need to install something else apart from the GPS APK? As a side note: In Vysor, a new menu with the name "Google Settings" popped up after installing the GPS APK, however, after clicking on it, a white screen appears which closes after a few seconds, i.e. I cannot get into the Google Settings. Furthermore, there is a permission error in the logcat of Android Studio.

[2019-06-13 12:16] AjayKumar-MSFT commented on #33238
@zboyanov, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-13 12:17] AjayKumar-MSFT commented on #33247
@JayaC19, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-13 12:20] AjayKumar-MSFT commented on #33237
@sander- Thanks for bringing this to our attention. We're taking a look into this and will get back to you soon.

[2019-06-13 12:39] fabich commented on #32114
@spelluru @MicahMcKittrick-MSFT quick question about this part:

AFAIU Service Bus as Event Handler is also available on portal.azure.com.
Do I still need CLI?

[2019-06-13 12:51] MGoedtel commented on #33129
@Kenneth-Abrams & @mohatb - Let me escalate this with the engineer who I worked with on this to get to the bottom of this problem.  @femsulu - Please reopen this issue.  Thanks.

[2019-06-13 12:57] ketaanhshah commented on #33209
@TravisCragg-MSFT Thank you Travis, so one of our rules we wanted to write was for allowing the requests to go thru if the cookie contained "__RequestVerificationToken" and the value for this key in the cookie can contain "--" or some special characters and then it should be allowed to go thru. So if I had to create a custom rule for this, will something like this be correct? I am not sure how we

[2019-06-13 12:58] ToMakeSense commented on #32830
@femsulu Is my explanation correct? if so, I think it is necessary **to update the documentation a little bit to make the expression more accurate.**

[2019-06-13 13:10] KalyanChanumolu-MSFT commented on #32799
@dsmichal We do not have a date at this time.
The documentation page will be updated when it is made available.

[2019-06-13 13:16] IEvangelist commented on #33246
Thank you @polarapfel -- great catch! This is fixed and should be live after this mornings publish. I'll check back and close this out when it's live.

[2019-06-13 13:20] jdneilso commented on #33206
I'll do that, thanks.  BTW...upgrading to SSMS 18.1 did not solve the issue.

[2019-06-13 13:25] BhargaviAnnadevara-MSFT commented on #33239
@Dhugal Thanks for the question!

As the doc states, the intent of employing Sampling is to reduce telemetry traffic and storage, while preserving a statistically correct analysis of your application data. Sampling reduces traffic and data costs, and helps you avoid throttling.

So indeed, as far as I understand, data wouldn't need to be sampled if the volume of telemetry is below the threshold se

[2019-06-13 13:26] thomasvdb commented on #32822
@KalyanChanumolu-MSFT I've created a support ticket and will await further instructions.

[2019-06-13 13:26] Skatterbrainz opened #33253 "Change artifact label name"
[Enter feedback here]

Instruction mentions searching for phrase "tag" and then selecting "Apply tag and its default value to resource groups" but the current label shown in the Azure portal is "Append" not "Apply".  Very minor, but wanted to mention it just in case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 526dc

[2019-06-13 13:29] ketaanhshah opened #33254 "RequestCookie Example for ExclusionRule WAF CRS app Gateway"
Hi All,

Was reading this article :- https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-waf-configuration

But unfortunately I don't know if we have any examples which are more practical? like if a cookie that contains "X" and its value contains special characters, let is pass thru and not block.. how do we do such a evaluation?

I am struggling here instead of writing

[2019-06-13 13:33] smoms opened #33255 "Windows 10 IoT and Windows Server production supported or not?"
Hi, I am not sure I understand whether Windows 10 IoT and Windows Server are supported in Production. According to this page:
For development and test scenarios, Azure IoT Edge with Windows containers can be installed on any version of Windows 10 or Windows Server 2019 (build 17763) that supports the containers feature.

Develpment and test? But according to the page https://docs.microsoft.com/en-

[2019-06-13 13:34] DCtheGeek commented on #33253
@Skatterbrainz Yup, looks like the policy name was updated. Thanks for catching it.  I'll get this fixed!

#assign:DCtheGeek #in-progress

[2019-06-13 13:37] DCtheGeek commented on #33253
@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug'.  #in-progress

[2019-06-13 13:41] DCtheGeek commented on #33253
@Skatterbrainz The fix for this is now building.  Once it's merged, this Issue will automatically close.  The updated doc should be live in our next publish cycle.  Thanks again for noticing and taking the time to point it out!

[2019-06-13 13:48] ericjiang18 commented on #33177
any update?

[2019-06-13 13:49] spelluru commented on #32114
@fabich - you need to install the extension only if you are using CLI.

[2019-06-13 13:49] GOATBUM commented on #33222
Where do you see this information visible from a user perspective. Can you be more specific?

[2019-06-13 13:50] Norrch2 commented on #30490
Hi @mmacy is there any update on this? We have a project that is completely stalled waiting for a way to display text as part of the IEF journey.

[2019-06-13 13:50] cap273 commented on #30412
Resolution: Always Require IdP Authentication had to be set for the entire Workday, not just for a specific Workday tenant. That functionality (enabling this setting for only a specific Workday tenant) was not working properly. This was confirmed with Workday support.

[2019-06-13 13:51] KalyanChanumolu-MSFT commented on #32822
Thank you @thomasvdb
We will proceed to close the issue on GitHub now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-13 13:51] #32822 closed

[2019-06-13 13:57] artisticcheese commented on #32319
This really need to be easier way to do that then deal with ARM templates and it shall be well documented. What used to take simple click in portal now requires enormous amount of manual work to be enabled.

[2019-06-13 14:03] #33253 closed

[2019-06-13 14:11] kevCurnow opened #33256 "Additional Information Not Populating"
When I am creating the HDInsight Linked Service, boxes such as subscription, resource group, and os type do not appear when trying to create an On-Demand HDInsight. The Finish button is also grayed out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5

[2019-06-13 14:13] ericjiang18 opened #33257 "Use existing tag and project on Python-sdk Custom Vision"
I noted on the python- sdk for the custom vision, I can only create new project and create new tag. Is there a way to use existing project and existing tag?
like changing the code: `bus_stop_tag = trainer.create_tag(project_id, "")`
`project = trainer.create_project("Android App for Bus_Stop_Detection", domain_id=obj_detection_domain.id)`?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-06-13 14:18] rgerrits opened #33258 "typo"
There is a typo in "You can manage the Read Sacle-out setting on the Configure database blade."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - read queries on replicas](https://docs.micro

[2019-06-13 14:20] GavinEke commented on #33222
PowerShell, add.portal.azure.com, Graph API take your pick.

Simple to reproduce create 2 user accounts both with no directory roles assigned set the information on one shown in article, log into the 2nd and view the information with no Global Admin or additional access required.

Example 1: 2 PowerShell windows. Top window logged in as a Global Admin setting the command, Bottom window logged in a

[2019-06-13 14:28] GOATBUM commented on #33222
Thanks Gavin. This helps and yes, this is a security flaw. Hopefully it gets resolved soon. I was more concerned about it showing up in OAB but both Examples are equally significant.

[2019-06-13 14:30] ericjiang18 opened #33259 "Image batch upload failed"
https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/issues/56

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02-0e49-5bf4-3cd1-f94c80031b3a
* Content: [Quickstart: Create an object detection project with the Custom Vision SDK for Py

[2019-06-13 14:38] #32857 closed

[2019-06-13 14:46] dsindona commented on #31125
#please-close

[2019-06-13 14:46] #31125 closed

[2019-06-13 14:48] HeidiSteen commented on #33247
@JayaC19  I don't see Central India as an available region in the portal. Are you sure someone was able to provision a new service there?  Existing services already created in that region are not impacted (full SLA, full scale) but new services can't be created at this time.

[2019-06-13 14:49] HeidiSteen commented on #33247
We doc the restriction here:  https://docs.microsoft.com/en-us/azure/search/search-create-service-portal#select-a-location

[2019-06-13 14:51] Rich-Lang commented on #33013
@DixitArora-MSFT The problem may be an orphaned document or something?  There are 3 docs in question:
1) https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-app-portal
2) https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function
3) https://docs.microsoft.com/en-us/azure/azure-functions/functions-integrate-storage-queue-output-binding?

[2019-06-13 14:54] brettsam commented on #23642
Make sure you're using App Insights 2.9.1 right now. We try to stay in-step, but we're often several weeks behind.

[2019-06-13 15:01] rakshithsm opened #33260 "Cloud Shell - cd quickstart - cd : Cannot find path 'Azure:/quickstart' because it does not exist."
Docs need to be changed to cd $HOME/quickstart

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Create Python app on Linux - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/quic

[2019-06-13 15:07] Mike-Ubezzi-MSFT commented on #32934
@cephalin The doc does indeed discuss this. The issue is that the provisioned Azure Active Directory SQL Admin has specific requirements where that tutorial has not clearly detailed (Grant database access to identity - [link](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-database-access-to-identity)). This is causing downstream issues with this patte

[2019-06-13 15:08] Dhugal commented on #33239
@BhargaviAnnadevara-MSFT - thank you.

I assumed that the MaxTelemetryItemsPerSecond was an upper rather than lower limit for capturing telemetry - have I misunderstood?

[2019-06-13 15:10] PingPongSet opened #33261 "Singleton Azure Cosmos DB client for the lifetime of your application"
On section "Use a singleton Azure Cosmos DB client for the lifetime of your application",

Does it mean that the client can be used for more than one database (ie, any container within any database)?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 80

[2019-06-13 15:14] SubhashVasarapu-MSFT commented on #33245
@satonaoki , The changes were made accordingly to the document and it will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-13 15:14] #33245 closed

[2019-06-13 15:15] mattsmall1972 commented on #31554
@arkiaconsulting  Can you please provide a specific scenario where you are having this issue?

[2019-06-13 15:26] ketaanhshah opened #33262 "ERROR WAF Policy created with custom Rules doesnt work with App Gateway V1"
We created a Custom rule for WAF and in turn associated with WAF policy and then tried to associate it with the existing App Gatway we have which is version-1. Followed this documentation:- https://docs.microsoft.com/en-us/azure/application-gateway/create-custom-waf-rules#example-5
https://docs.microsoft.com/en-us/azure/application-gateway/configure-waf-custom-rules

Following is the code:-
`$vari

[2019-06-13 15:30] ketaanhshah commented on #33209
@TravisCragg-MSFT @TomaszOledzki  and now with the new Custom rule I cant even associate the WAF policy with OLD Application Gateway created earlier in our environment V1 version, is this not allowed? I created a ticket/issue in for that:-

https://github.com/MicrosoftDocs/azure-docs/issues/33262#issue-455807476

[2019-06-13 15:30] erhopf commented on #33163
After speaking with engineering, the recommendation is to call [`SetSpeechRecognitionLanguage(“zh-cn”)`](https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.speechconfig.setspeechrecognitionlanguage?view=azure-java-stable#com_microsoft_cognitiveservices_speech_SpeechConfig_setSpeechRecognitionLanguage_String_) on their [SpeechConfig object](https://docs.microsoft.com/e

[2019-06-13 15:32] mmacy commented on #30490
@Norrch2 Hi Chris, apologies on the delay in response--I'll check with the team to verify the documentation on this is correct. I was going to suggest a Stack Overflow post as this really is more product question than docs issue (unless the docs are incorrect, of course!), but looks like you've already headed down [that path](https://stackoverflow.com/questions/56241186/unable-to-get-paragraph-inp

[2019-06-13 15:35] Norrch2 commented on #30490
Thank you Marsh,

If possible, can we have the documentation updated to provide setting default values as the engineer has requested.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Marsh Macy <notifications@github.com>
Sent: Thursday, June 13, 2019 11:32:56 AM
To: MicrosoftDocs/azure-docs
Cc: Norrch2; Mention
Subject: Re: [Mic

[2019-06-13 15:37] tysonn commented on #28586
#pri3

[2019-06-13 15:38] tysonn commented on #28586
#pri3

[2019-06-13 15:38] tysonn commented on #28586
#pri2

[2019-06-13 15:39] tysonn commented on #28586
#please-close

[2019-06-13 15:39] #28586 closed

[2019-06-13 15:42] shashishailaj commented on #33252
@copperbeardy Thank you for your query. We will engage the content authors to comment on this and see if engineering can be engaged to help create a .net core 2.2 sample.

[2019-06-13 15:43] cijothomas commented on #33239
Lets modify like below:

If the application produces a low amount of telemetry, such as when debugging or due to low usage, items won't be dropped by sampling processor as long as volume is below MaxTelemetryItemsPerSecond. As the volume of telemetry increases, sampling rate is adjusted so as to achieve the target volume.

[2019-06-13 15:44] cijothomas commented on #33239
MaxTelemetryItemsPerSecond  is the upper limit sampling attempts to achieve.

[2019-06-13 15:45] shashishailaj commented on #33252
@mmacy @valnav Could you please check if there is a possibility of providing .net core 2.2. sample for B2C as requested ?

[2019-06-13 15:47] AzureGuineaPig opened #33263 "Sign-in event log size"
The article indicates that every Audit event uses about 2KB of data storage.  How much storage does every Sign-in event use?  My initial assumption was that this would also be 2KB of storage, however the example Storage size for activity logs table seems to indicate otherwise, and performing the calculation to determine this, appears to come out to about 4KB of data storage per Sign-in event.  I q

[2019-06-13 15:49] #33263 closed

[2019-06-13 15:49] roygara commented on #33005
@Elangamban Hello again, I'm reaching out to notify you that if we don't hear back within 48 hours, we'll close out this issue. Please do respond as we'd like to help as soon as possible. Thanks! :)

[2019-06-13 15:51] AzureGuineaPig opened #33264 "Sign-in Log Storage Size"
The article indicates that every Audit event uses about 2KB of data storage. How much storage does every Sign-in event use? My initial assumption was that this would also be 2KB of storage, however the example Storage size for activity logs table seems to indicate otherwise, and performing the calculation to determine this, appears to come out to about 4KB of data storage per Sign-in event. I ques

[2019-06-13 15:56] anirudhcavale commented on #32319
@artisticcheese I hear you. The Powershell way I outlined above is still an alternative workaround. And we have UX support coming for this sink in the next month or so.

[2019-06-13 15:59] MashaMSFT commented on #30695
Hi @dcallegh, thanks again for your patience, I am continuing to research this for you.

Thanks!

[2019-06-13 16:00] Dhugal commented on #33239
@cijothomas - great, thanks for the clarificaiton.

[2019-06-13 16:11] mike-urnun-msft commented on #33243
Hi @StefanIvemo Thank you for your feedback! We will review and update as appropriate.

[2019-06-13 16:11] mmacy commented on #30490
@Norrch2 Absolutely, if there is missing content, I'll get that in there as well.

[2019-06-13 16:12] MashaMSFT commented on #27485
Hi @terrimorton , thanks for letting me know! Let me look into further. Thanks!

[2019-06-13 16:13] mike-urnun-msft commented on #33248
Hi @giovannifl Thank you for your feedback! We will review and update as appropriate.

[2019-06-13 16:14] ehalsey opened #33265 "Error 1011 on /train curl"
Receiving the error below.  Training docs are small one page pdfs.  Max is 283kb.

{"error":{"code":"1011","innerError":{"requestId":"33fd6db1-5a0c-4c22-a576-b03ad55c0567"},"message":"The operation exceeded allowed time limit and was canceled. The common reasons are that the data source is too large or contains unsupported content. Please check that your request conforms to service limits and retr

[2019-06-13 16:15] SubhashVasarapu-MSFT commented on #33021
@misra-anshuman , There is no typo here and the prefix '128-26' represents the network segment assigned to the organization with the class C(/24) range.

![image](https://user-images.githubusercontent.com/44890829/59449145-2effe580-8e24-11e9-87fe-e3ecc0daf6ff.png)
Please refer this [Doc ](https://docs.microsoft.com/bs-latn-ba/azure/dns/dns-reverse-dns-overview)for better understanding on Reverse D

[2019-06-13 16:15] #33021 closed

[2019-06-13 16:22] padoughe opened #33266 "Several Items need Updated / removed from General Installation Section"
Q: What are some of the best practices from the field?

"Staging servers are not meant to be a High Availability solution, but you can have multiple staging servers" is contradicted in the AAD Connect Doc for Staging Mode (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-staging-server)

Always validate exports before switching over to the staging server&lt;NEED A

[2019-06-13 16:25] MicahMcKittrick-MSFT commented on #33232
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-13 16:25] #32000 closed

[2019-06-13 16:26] MashaMSFT commented on #32798
Hi @MNF ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again for yo

[2019-06-13 16:29] JakeSpitznagel commented on #33199
@jmbnzhu666 I encountered the same error, it appears that "run = exp.start_logging()" takes a snapshot of the current directory, which contained my venv, and thus was too large. I fixed this issue by simply creating a sub directory and moving the notebook into there.

[2019-06-13 16:30] leniency commented on #15745
This appears to be worked, or at least it did just now for me.

As @deploymentking noted above, the Front Door service shows up in Azure DNS when creating an alias record. It worked for me though, no errors.

1. Created a new A record for the @ apex domain, and set it to alias.
2. The Front door service showed up and was able to select and save without error. It created an adverify cname automatic

[2019-06-13 16:33] SharmainePopov opened #33267 "Issue with Create VM"
Running through doc step by step. Issue is "New-AzVm : Windows admin user name cannot be more than 20 characters long, end with a period(.)"

PS C:\Users\shpopov\OneDrive - Microsoft\Projects\TechDocs\DevOps\Packer&gt; .\createvm-02.ps1
cmdlet New-AzVM at command pipeline position 1

[2019-06-13 16:41] swagulkarni opened #33268 "mavn run command failing"
While running mvn azure-functions:run command through Eclipse, I am getting following error.

[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.0.0-beta-3:run (default-cli) on project azure-functions-archetype: Cannot run program "cmd.exe": CreateProcess error=5, Access is denied -&gt; [Help 1]
[ERROR]

I tried running it through command prompt as well but got the s

[2019-06-13 16:42] SharmainePopov commented on #33267
createvm-02.ps1 :
$rgName = "az900-devops"
$location = "eastus"

New-AzVm `
    -ResourceGroupName $rgName `
    -Name "packeri01vm02" `
    -Location $location `
    -VirtualNetworkName "az900-devops-vnet02" `
    -SubnetName "az900-devops-vnet01-snet02" `
    -SecurityGroupName "az900-devops-nsg02" `
    -PublicIpAddressName "az900-devops-pip02" `
    -OpenPorts 80 `
    -Image "/subscriptions/x

[2019-06-13 16:43] cynthn commented on #33224
@ptuton Thanks for the feedback! I've made the updates and they should be live later today.

#please-close

[2019-06-13 16:43] #33224 closed

[2019-06-13 16:52] YutongTie-MSFT commented on #33177
@ericjiang18 Hi Eric, I saw Andrew was taking care of this issue. Please keeps eyes on that thread. At the meantime, could you please send us an email at Azcommunity@microsoft[dot]com with your Azure Subscription ID and URL of this thread for immediately help? I will close this thread for now since it's not a document issue. Thank you.

[2019-06-13 16:52] #33177 closed

[2019-06-13 17:01] Kenneth-Abrams commented on #33129
@MGoedtel thanks I appreciate it. This should be much easier than support run around because is it an AKS issue, and Azure Monitor issue, and Azure AAD issue 😄. Either way I love what you guys do.

[2019-06-13 17:02] vhorne commented on #28250
Additional info has been added:
https://docs.microsoft.com/azure/application-gateway/application-gateway-waf-configuration
https://docs.microsoft.com/azure/application-gateway/custom-waf-rules-overview
https://docs.microsoft.com/azure/application-gateway/create-custom-waf-rules
https://docs.microsoft.com/azure/application-gateway/configure-waf-custom-rules

[2019-06-13 17:03] vhorne commented on #28250
#please-close

[2019-06-13 17:03] #28250 closed

[2019-06-13 17:05] Mike-Ubezzi-MSFT commented on #33258
@rgerrits Thank you very much for the detailed feedback. I will engage the Azure Portal team to have them make a correction.

[2019-06-13 17:07] ketaanhshah commented on #28250
The documentation doesnt say that this is applicable only to V2 App Gateways and will not work with V1 App Gateways. Please point me where it has been updated to mention it. @vhorne

[2019-06-13 17:09] Mike-Ubezzi-MSFT commented on #33258
Not an issue with the porta but with the doc. Got it.

[2019-06-13 17:09] hrasheed-msft commented on #32631
@sbugalski Let us know if its ok to close this issue, or if you have additional questions.

[2019-06-13 17:15] FrankHu-MSFT commented on #32757
The issue is not with the B2C or framework extension. The issue is with the blob storage url where the requested file is not found in the storage.

The uri which B2C trying to access is https://smarthomestgdev.blob.core.windows.net/en/b2cpagelayout/signup.html which might not be present in the storage. Removing language identifier (that is en from the url) will make the whole thing work. https://s

[2019-06-13 17:15] sdgilley commented on #32966
Thanks for finding this, we are now investigating the cause.

In the meantime, select the kernel **Python 3.6 - AzureML**.  It is about midway down in the list of kernels.  Set this kernel to run the quickstart notebook.

After setting the kernel to **Python 3.6 - AzureML**,  you will get some errors when you run the first cell - starting with:
`/anaconda/envs/py36/lib/python3.6/site-packages/requ

[2019-06-13 17:15] #32966 closed

[2019-06-13 17:17] SharmainePopov commented on #33267
FYI, same issue when running ps commands interactively.
And her is the windows.json
{
  "builders": [{
    "type": "azure-arm",

    "client_id": "xxxxxxxxx",
    "client_secret": "xxxxxxxx",
    "tenant_id": "xxxxxxxxx",
    "subscription_id": "xxxxxxx",

    "managed_image_resource_group_name": "az900-devops",
    "managed_image_name": "az900-devops-packeri01",

    "os_type": "Windows",
    "im

[2019-06-13 17:18] SharmainePopov commented on #33267
Also can build the image ok from portal, but do need to specify a uname and pw for the vm

[2019-06-13 17:20] xsqian opened #33271 "No matching extensions for 'db-up'. Use --debug for more information."
When I am trying to install the db-up extension ```az extension add --name db-up```, I got the following error:
```No matching extensions for 'db-up'. Use --debug for more information.```
any quick fix?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f7f34d3-3359-70bb-dd76-0058fae02636
* Version Independent ID:

[2019-06-13 17:21] Mike-Ubezzi-MSFT commented on #33258
@anosov1960 The PR #[79543](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79543) has been completed but needs review/approval for a minor typo.

[2019-06-13 17:22] FrankHu-MSFT commented on #32757
In regards to different storage account locations please read the docs here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-language-customization#customize-the-page-ui-by-using-language-customization

Also, in regards to : https://github.com/MicrosoftDocs/azure-docs/issues/32757#issuecomment-499771455
Please refer to the reference for customizing b2c U

[2019-06-13 17:23] SaurabhSharma-MSFT commented on #33097
@hulltr1 I am not sure about windows 2019, so I am assigning this to document author to comment on the same.
@msmbaldwin Can you please help and update the documentation if Windows Server 2019 is supported.

[2019-06-13 17:24] IEvangelist commented on #33246
Fixed as part of https://github.com/MicrosoftDocs/azure-docs-pr/pull/79535

[2019-06-13 17:26] SaurabhSharma-MSFT commented on #33241
@TestUser20191 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 17:28] SaurabhSharma-MSFT commented on #33220
@jscaravilli Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 17:34] ptuton opened #33272 "az vm disk attach --disk parameter has been deprecated, use --name instead"
Running `az vm disk attach` as currently written shows the following warning:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2467-8743-491c-c84c-f6983772f4da
* Content: [Tutorial - Manage Azure disks with the Azure CLI](https://docs.microsoft.com/en-us/

[2019-06-13 17:35] edjez opened #33273 "Let's change screenshot of model update frequency setting, so it actually shows 10sec"
Right now it says 1 hour 7 min and by rote imitation people may follow that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb09de11-6321-20b6-1632-21d4b4568536
* Version Independent ID: b5a3bdc7-185c-27ad-79d8-ea3b4b4a5dfc
* Content: [Feedback loop - Personalizer - Azure Cognitive Services](https://docs.microsoft.com/

[2019-06-13 17:36] edjez commented on #33273
#in-progress

[2019-06-13 17:36] MicahMcKittrick-MSFT commented on #33232
@lovelangy that is a good point. You can scale the cluster after using the VMSS settings in the Portal. You can only still have one node type though.

@ChackDan @aljo-microsoft @masnider could any of you comment further on this?

[2019-06-13 17:41] TomaszOledzki commented on #33209
@ketaanhshah I believe custom rules are supported on WAF v2 only. For WAF v1 you have to use "old" WAF exclusion lists: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-waf-configuration#waf-exclusion-lists

[2019-06-13 17:41] dguimbellot opened #33275 "access to storage accounts"
when i restrict access to storage accounts, the scans for sql vulnerabilities fail.
what configuration options are missing that allow the scans to work??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee2cc1e-03e8-baae-2191-e7405f7ab189
* Version Independent ID: 573a75ed-291f-38fc-677e-e8dc3ff77eb7
* Content: [Protect

[2019-06-13 17:43] ketaanhshah commented on #33209
@TomaszOledzki aah my God then it means we have to upgrade to V2 Gateway and use it as the exclusion list is not good enough of help here.

[2019-06-13 17:47] stepro commented on #33166
@DanoThom, the short answer here is that Dev Spaces does not currently work along with a service mesh like Istio or Linkerd. This is due to the fact that two sidecar proxies cannot work together without having some intimate knowledge about each other.

Today, the best option is to configure your workloads to disable either the Dev Spaces proxy (add a label `azds.io/no-proxy=true` to the pod spec)

[2019-06-13 17:50] cherylmc commented on #33198
Thanks! I've gone ahead and updated the article to include the link - should publish in the next day or so. Previously, the Overview article included the Service Management cmdlets, but I see that info is no longer included in that article. Thanks for letting us know! #please-close.

[2019-06-13 17:50] #33198 closed

[2019-06-13 17:54] StefanIvemo commented on #33243
The best option would be if the new Developer Poral was added to the list of Endpoints when configuring custom domain names.

[2019-06-13 17:54] robinsh commented on #32681
Hi @nelsonavanade,

Only the messages matching the query are routed using the routing information for the hub. So in this case, you set up an endpoint for Azure storage, and tell it to send all messages with 'level="storage"' in the body of the package to that endpoint. So if a message doesn't have that query string in the package body, it won't route the message to storage.

If you want to route

[2019-06-13 17:54] SQLBrander opened #33277 "sys.resource_stats should be sys.resource_stats_raw?"
When running some of the scripts with FROM sys.resource_stats don't work. I found however sys.resource_stats_raw. Probably not adjusted on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d159ae2-da25-63a1-2f90-124c158ffd7e
* Version Independent ID: 6226c3b2-0a5b-c762-540b-f1c9eaea1b41
* Content: [Monitoring

[2019-06-13 18:06] ibjames commented on #30058
I would also like to see if this is possible, that way the only way to get a license is by assigning the user to the correct group, I don't want people being able to bypass the groups and assigning a license directly

[2019-06-13 18:09] Alberto-Vega-MSFT commented on #33255
@smoms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-13 18:09] vishiy commented on #33129
@bragi92

[2019-06-13 18:09] rachel-msft commented on #33271
Can you confirm that you are on the latest version of the Azure CLI? You can check with the command `az --version`. Current latest is 2.0.66. Instructions for updating version here: https://docs.microsoft.com/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-06-13 18:10] SaurabhSharma-MSFT commented on #33275
@dguimbellot Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 18:10] Karishma-Tiwari-MSFT commented on #33272
@ptuton Thanks for bringing this to our attention. I have created the PR with the correction and changes will be live shortly.

[2019-06-13 18:12] SaurabhSharma-MSFT commented on #33266
@padoughe Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 18:14] MicahMcKittrick-MSFT commented on #33166
Thanks @stepro Appreciate the response :)

@DanoThom We will close this out for now. If you have further questions just let us know.

[2019-06-13 18:14] #33166 closed

[2019-06-13 18:15] MicahMcKittrick-MSFT commented on #33136
@Kraftwerx I will close this for now. Since you are an FTE feel free to reach out to @iainfoulds and myself offline if you want to discuss this further.

[2019-06-13 18:15] #33136 closed

[2019-06-13 18:16] achandlerwhite opened #33278 "Clarify data transfer costs for replication across regions"
Hello, can you please clarify if there are data transfer charges for all the replication going on between cosmos regions?

The Azure storage doc indicate that you pay for the transfer needed for geo redundancy, but it isn't clear if that includes Cosmos. This page seems to indicate that you only need to worry about two things: throughput and storage. Nothing is mentioned about data transfer for re

[2019-06-13 18:18] SaurabhSharma-MSFT commented on #33213
@cogran Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-13 18:24] Karishma-Tiwari-MSFT commented on #33267
@SharmainePopov After running New-AzVm command, you should be prompted to enter an administrative username and password to be created on the VM.
From the error message it looks like the admin user name requirements are not met:

Can you please confirm that you are meeting username requirements as specified above?
We can look into it deeper, if that's not the case.

[2019-06-13 18:29] MicahMcKittrick-MSFT commented on #33137
@mykola-ivadolabs any update on this?

[2019-06-13 18:30] Grace-MacJones-MSFT commented on #32626
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-13 18:30] #32626 closed

[2019-06-13 18:31] mykola-ivadolabs commented on #33137
Hi!

I submitted PR just like you suggested.
https://github.com/MicrosoftDocs/azure-docs/pull/33212 <https://github.com/MicrosoftDocs/azure-docs/pull/33212>

Mykola

[2019-06-13 18:32] tfitzmac commented on #32830
@femsulu - I think it makes sense to reopen this issue. Thanks

[2019-06-13 18:33] SharmainePopov commented on #33267
Nevermind solved. Please close.

[2019-06-13 18:36] #33272 closed

[2019-06-13 18:37] MicahMcKittrick-MSFT commented on #33137
Perfect thank you! Myself and the author will review and sign off.

I will close this issue out now that you have shared that PR.

[2019-06-13 18:37] #33137 closed

[2019-06-13 18:38] tfitzmac commented on #32830
@ToMakeSense - I am thinking of updating this article to add a script that uses the Az module. That way users could decide if they want to continue with the default AzureRM script in the project, or add the Az script. Would that fix the issue you see with the article?

As for getting the default script updated to the Az module, I think the best option is to use the feedback option in Visual Studio

[2019-06-13 18:42] TravisCragg-MSFT commented on #33209
@TomaszOledzki I absolutely agree with you, the first hit is not enough reason to remove a rule.

@ketaanhshah Your best bet is to follow up with that ticket going forward

[2019-06-13 18:45] ketaanhshah commented on #33209
Thank you @ TomaszOledzki

[2019-06-13 18:50] #30652 closed

[2019-06-13 18:50] #30886 closed

[2019-06-13 18:51] aljo-microsoft commented on #33232
@lovelangy
https://docs.microsoft.com/azure/service-fabric/service-fabric-common-questions#what-is-the-minimum-size-of-a-service-fabric-cluster-why-cant-it-be-smaller
https://docs.microsoft.com/azure/service-fabric/service-fabric-production-readiness-checklist

E.G. SF is a Stateful Application, and without Durability of Silver or Gold you don't have an System~InfrastructureService:

https://docs.

[2019-06-13 18:51] #33232 closed

[2019-06-13 18:52] featuresnap commented on #30814
Is Options validation supported in Azure Functions? I have tried the approach described in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.2#options-validation; and while the `IOption` is correctly configured (from local.settings.json), the validation is never invoked - either with a custom validation lambda or with the `.ValidateDataAnnotations()`

[2019-06-13 18:56] GuyPaddock opened #33282 ""Delete all untagged images" scripts are no-ops without `ENABLE_DELETE=true`"
IMO, the sample scripts should at least _print_ the list of images that _would_ be purged from the repo, even if `ENABLE_DELETE=false`. At present, all it does when the value is `false` is print the message that no data was deleted.

I get that the reason for this is likely that you just want users to explicitly change the flag so they know what the script is going to do, but still think it would

[2019-06-13 18:59] MGoedtel commented on #33129
@Kenneth-Abrams & @mohatb - Engineering has tracked down the underlying problem with a service dependency and and they are working to deploy a fix.  I don't have an ETA but will update this issue once I have something concrete/confirmed.  Thanks.

[2019-06-13 19:00] MicahMcKittrick-MSFT commented on #33282
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-13 19:00] swagulkarni opened #33283 "Function to update secrets in key vault"
Hi,
Can you provide example on how to implement Azure function which can update the secrets in Azure key vault provided it has all the required permissions?

Thanks,
Swagat

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf

[2019-06-13 19:05] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-13 19:05] #31103 closed

[2019-06-13 19:06] Karishma-Tiwari-MSFT commented on #32341
@romitgirdhar Can you please share your insights on this? Is this doc needs to be updated?

[2019-06-13 19:08] MisinformedDNA commented on #32931
Maybe, but it creates duplicate code and a crappy workaround, especially when the server and database names are also determined in the ARM template. So that means I would need to pass some stuff in, get some stuff out and then recreate a variable outside that I already created inside. Or I could just output the connection string as a string. I chose the later since it was far easier and I don't an

[2019-06-13 19:09] Karishma-Tiwari-MSFT commented on #33016
@jeremych1000 I have assigned the issue to the content author to investigate further and update the document if needed.

[2019-06-13 19:10] Karishma-Tiwari-MSFT commented on #33093
@VaroJulio Is there any update? Did that help?

[2019-06-13 19:15] AjayKumar-MSFT commented on #33247
@JayaC19, Out of the 3 regions in India (Central India, South India and West India) location, Azure Search is generally available only in Central India as you can notice from the ‘Products by region” page (screenshot1). However, as Heidi mentioned,” The restriction on Central region is temporary and we will remove this note when it longer applies”. (screenshot2) So, new services can't be created i

[2019-06-13 19:18] HeidiSteen commented on #33247
Where do you see "Central India" ??

[2019-06-13 19:19] josersleal opened #33284 "Update your documentation on cordova tools everywhere"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-13 19:19] IEvangelist commented on #33246
#please-close

[2019-06-13 19:19] #33246 closed

[2019-06-13 19:24] chivandikwa opened #33286 "Questoin about documentation stating need to use IOptionsSnapshot to get dynamic configuration"
- [ Azure App Configuration ] The relevant Azure service or technology.
- [ https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core ] A link to the published documentation article that you have feedback about.

The documentation states the need to use IOptionsSnapshot<T> to be able to get dynamic configuration. I expected that simply having a watch c

[2019-06-13 19:25] msrini-MSFT commented on #33262
@ketaanhshah , Thank you for your feedback. WAF v1 SKU doesn't support Custom Rules. Will get this documentation updated.

[2019-06-13 19:28] Pickell opened #33287 "Confused about difference between "Require Approved client app" and "Require App Protection policy""
We've had the "Require Approved client app" policy in place for some time to ensure that Outlook is used to access email. It also protects access to SharePoint and Yammer so mobile devices can't get there using an unapproved browser.

I don't understand the essential difference between this policy and the "Require App Protection policy" setting. We have App Protection policies configured in Intune

[2019-06-13 19:28] msrini-MSFT commented on #33262
@vhorne , Can we add a note to this page stating, only V2 SKU supports Custom Policies ?

[2019-06-13 19:29] lucashuet93 opened #33288 "Xpath example 3 has a hanging bracket"
The XPath expression /*[local-name=()=\"file\"] and namespace-uri()=\"http://contoso.com\"/*[local-name()]=\"location\" and namespace-uri()=\"\"] has an additional right bracket that does not apply to a left one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent I

[2019-06-13 19:31] chrisboeco opened #33289 "Microsoft.ManagedIdentity"
According to info at https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#services-that-can-be-moved (last updated-5/16/2019) "Managed Identity - user-assigned" is movable to a new subscription. However, this page (last updated-6/5/2019) implies that "userassignedidentities	No	No" is NOT movable.

Error message (Raw Error):
{
    "code": "ResourceMoveNotSuppo

[2019-06-13 19:41] aljo-microsoft commented on #31145
@festivus
Yes repair manager is only needed for POA and not when using VMSS auto patching.

Please review the following, and open an issue against the following doc if it doesn't answer your second question:
https://docs.microsoft.com/azure/service-fabric/service-fabric-best-practices-infrastructure-as-code#azure-virtual-machine-operating-system-automatic-upgrade-configuration

[2019-06-13 19:42] SibeeshVenu opened #33290 "The image of the End point created is wrong"
While creating the End Point the Origin Type selected was Storage, but after creating the End Point the screenshot says the Origin Type as Custom origin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Content: [Quickst

[2019-06-13 19:44] polarapfel commented on #33246
Thanks!

[2019-06-13 19:50] SaurabhSharma-MSFT commented on #33264
@AzureGuineaPig Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 19:52] SharmainePopov commented on #33267
Hi yes I know. I was entering the wrong creds. You can close this. Thanks for taking time to respond.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, June 13, 2019 2:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gith

[2019-06-13 19:52] SaurabhSharma-MSFT commented on #33287
@Pickell Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-13 19:54] LuisCabrer commented on #33207
@gitsathish , I am pretty  sure this should work with just "name": "organizations" ... but we'll investigate on our side.

[2019-06-13 19:56] AjayKumar-MSFT commented on #33238
@zboyanov, You can find the 'Azure DefaultListenSharedAccess Connection String' from the Azure Portal.
In the Azure Portal > Navigate to your Notification Hub > On the "Manage" blade> Click on "Access Policies" where you will find both 'DefaultListenSharedAccessSignature' and 'DefaultFullSharedAccessSignature' the policies, you need to copy the DefaultListenSharedAccessSignature 'Connection string

[2019-06-13 20:03] cynthn commented on #33267
#please-close

[2019-06-13 20:03] #33267 closed

[2019-06-13 20:06] YutongTie-MSFT commented on #32980
@aahill Hi, could you please help to check this issue? In the document, it states that "The portal enables you to adjust the search ranking of content from specific domains, subpages, and webpages.", but when I tried to do that, it seems that only one pinned is allowed for the same Query. Could you please help to make it clear?

[2019-06-13 20:06] MicahMcKittrick-MSFT commented on #33284
@josersleal please open a new feedback request directly on any documentation you are referring to so we can better assist.

[2019-06-13 20:06] #33284 closed

[2019-06-13 20:10] aashishb commented on #22716
This is a new feature we are working on and will soon provide this functionality.

[2019-06-13 20:10] simorjay commented on #32652
Missed the thread till just now.... slow reply - but MicrosoftGuyJFlow is correct -the script can be run from a PS ISA (your laptop) requirement will be the Intune manager user/pass and the profile will load into intune device configuration -> profiles and compliance -> profiles (it will not be assigned to any devices or users) you will need to follow the deployment instructions to assign it to th

[2019-06-13 20:14] YutongTie-MSFT commented on #33241
@TestUser20191 Hi Rashmi, I don't think we have this feature for now. I would highly recommend you to post your idea to our Feedback forum: https://cognitive.uservoice.com/forums/598147-bing-custom-search-api @aahill Please correct me if I am missing something. Thank you.

[2019-06-13 20:15] aashishb commented on #32978
This is not supported today from SDK. I've added it to our backlog.

[2019-06-13 20:17] YutongTie-MSFT commented on #32978
@aashishb Thank you for the information. @ashoksamal6363  Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-13 20:17] #32978 closed

[2019-06-13 20:23] YutongTie-MSFT commented on #33171
@timtre Hi, for product issue about Speech Devices SDK: Please go to https://github.com/Azure-Samples/Cognitive-Services-Speech-Devices-SDK/issues Please refer to the support guidance: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/support#create-a-github-issue Thank you. We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2019-06-13 20:23] #33171 closed

[2019-06-13 20:33] mattgaspar opened #33294 "Add Note about permission"
Because Storage Explorer does NOT require explicit permission it is easy to overlook the required explicit permission required for azcopy.  (Why is this anyway?  Why does Storage Explorer work without an RBAC Role but azcopy does not?)

Recommend adding the same note from the following url to this page for increased visibility.  Maybe also adding something to note that storage explorer works witho

[2019-06-13 20:39] mdgattuso commented on #32985
"For instance if I have a rule that allows access to a resource based on some request properties and a rule that denies access to all requests, will the second rule override the first one?" Yes that is correct, the second rule would override the first rule. Rules will override earlier rules only if they interact with the same properties.

[2019-06-13 20:39] YutongTie-MSFT commented on #33259
@ericjiang18 Hi Eric, this issue is in solving progress. We already have one support engineer helping with you and Andrew is answering your question as well in the original post. Please use the original post for solving this issue or just responding under the email thread. Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here

[2019-06-13 20:39] #33259 closed

[2019-06-13 20:41] YutongTie-MSFT commented on #33265
@ehalsey Hi Eric, thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-13 20:43] giovannifl commented on #33248
Sorry, just discovered that my error was to create an app service plan directly in the UK West region.
If I try to create an App Service Plan through the Function App create, then EP are showed.

[2019-06-13 20:47] KranthiPakala-MSFT commented on #33256
@kevCurnow Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will get back to you soon.

[2019-06-13 20:47] tfitzmac commented on #33289
@chrisboeco - thanks for this feedback. You are right this resource type does not support move. I'll update the doc.

[2019-06-13 20:48] SergeiDavydov commented on #32985
What if I set deny rule first and allow rule second. Will allow rule work in this case?
Thanks.

[2019-06-13 20:48] MicahMcKittrick-MSFT commented on #33130
@cynthn can you take a look at this? Not sure the best place to put in the boot diagnostics commands but we should include them. I would say just include it in the command to create the VM but not sure if that would make it easier.

[2019-06-13 20:49] mdgattuso commented on #32985
Yes correct, rules that run later take precedence.

[2019-06-13 20:53] SergeiDavydov commented on #32985
Thank you for clarification, Maxwell.
Probably, it would be nice to put this to the article.

[2019-06-13 20:56] mike-urnun-msft commented on #33268
Hi @swagulkarni Thank you for your feedback! We will review and update as appropriate.

[2019-06-13 21:02] tfitzmac commented on #33289
The update will get published this afternoon.

[2019-06-13 21:02] tfitzmac commented on #33289
#please-close

[2019-06-13 21:02] #33289 closed

[2019-06-13 21:03] pzerger opened #33295 "Authentication from Studio 3T no longer works as documented"
Setting authentication mode to 'Basic' fails. I had to flip to Legacy to authenticate successfully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d6cd84-d0c4-eea9-c2c6-e6f3be91dad8
* Version Independent ID: 6fa411bf-934b-fc27-8fef-09f07c3f0299
* Content: [Connect to Azure Cosmos DB's API for MongoDB using Studio 3T

[2019-06-13 21:04] LTUTE opened #33296 "Documentation is not clear"
DNS Name for Public IP - is it for Storage or VM? Where to get it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc687ef4-5930-979e-7c00-70c381ee4a84
* Version Independent ID: 26106e86-d478-05e6-2ed7-c9b45a1545a9
* Content: [Deploy a VM from your VHDs for the Azure Marketplace](https://docs.microsoft.com/en-us/azure/m

[2019-06-13 21:06] normesta commented on #33294
Hi @mattgaspar, If you enable the AzCopy feature in Storage Explorer, Storage Explorer uses your account key to perform AzCopy operations. Technically, I believe you could use an account key for AzCopy operations, but it's not broadly advertised because it's not the recommended path and might not be supported in the near future.  If you enable AzCopy in Storage Explorer and then upload data (or do

[2019-06-13 21:08] sauryadas commented on #32234
@jeremych1000 allowing service tags is in the roadmap but it will take a while to get approved. @palma21 can keep you updated.

@neerajkrshukla  you can get the API server's ip .. see this document .. you will need to enable the feature flag for API Server Authorized ranges as defined in [the doc ](https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges)and if you go to the bott

[2019-06-13 21:20] romitgirdhar commented on #32341
Hello - We currently do not offer Oracle XE on Azure. Only Standard Edition and Enterprise Edition Databases on Oracle Linux are certified on Azure and are offered as Marketplace images. Thank you!

[2019-06-13 21:32] awentzel opened #33299 "How do I add Application Insights for Web Apps (Linux)"
It appears that Application Insights is a disabled feature at this time?  What do I do hook up App Insights and Application Monitoring for these types of apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0712a54f-9713-32a4-430a-793b25aad1bd
* Version Independent ID: af7d2d57-9412-6c46-80bb-e0ff0d73e8b6
* Content: [A

[2019-06-13 21:32] TravisCragg-MSFT commented on #33254
@ketaanhshah do you still need assistance with this? I know you have a CSS case open and are also working via #33262.

[2019-06-13 21:34] TravisCragg-MSFT commented on #30112
@michaelcohenmicrosoft I was able to get this working without an issue using 2 different CDN providers. Please let me know if you need any additional assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 21:34] #30112 closed

[2019-06-13 21:34] TravisCragg-MSFT commented on #32391
@jastis77 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 21:34] #32391 closed

[2019-06-13 21:34] TravisCragg-MSFT commented on #32936
@valmonten We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-13 21:34] #32936 closed

[2019-06-13 21:35] ketaanhshah commented on #33254
@TravisCragg-MSFT yes I need help as I still dont know how to set that cookie thing as a customer rule. I think CSS case not opened by me though.

[2019-06-13 21:36] ptuton opened #33300 "Created VM name is "myVM" not "myAutomatedVM""
Minor error: In the "[Create virtual machine](https://docs.microsoft.com/en-us/azure/virtual-machines/Linux/tutorial-automate-vm-deployment#create-virtual-machine)" section, the text states the created VM is named `myAutomatedVM` where it's actually named, `myVM`

Additionally, in the "[Test web app](https://docs.microsoft.com/en-us/azure/virtual-machines/Linux/tutorial-automate-vm-deployment#test

[2019-06-13 21:37] TravisCragg-MSFT commented on #32620
@gcormier It looks like your ticket is going in the right direction, and should reflect what I stated here. If you need any additional clarification or are having any issues with the CSS ticket, please tag me in a reply!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2019-06-13 21:37] #32620 closed

[2019-06-13 21:44] MicahMcKittrick-MSFT commented on #33300
@ptuton thanks for the find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-06-13 21:44] #33300 closed

[2019-06-13 21:50] femsulu commented on #33289
added triage labels.

[2019-06-13 21:56] femsulu commented on #33228
@KanikaGMS Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-13 22:00] kobulloc-MSFT commented on #33299
@awentzel Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-13 22:06] KeepSloanWeird opened #33304 "GUID conversion error"
Followed this doc a number of times in the past successfully. Now getting a new error that i'm struggling to resolve. Everytime I PATCH with new roles for an app I get the following error:

Cannot convert a primitive value to the expected type 'Edm.Guid'

Can't figure out why GUIDs from the GUID generator aren't taking.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-13 22:12] FrankHu-MSFT commented on #33287
Hey @Pickell thanks again for your question. Have you taken a look a the documentation discussing what app protection policys do? That can be found here : https://docs.microsoft.com/en-us/intune/app-protection-policy

There are some more features in app protection policies, but the approved client app policy is more focused on a one-time check that an access attempt to the selected cloud apps need

[2019-06-13 22:12] jeevansd commented on #33304
Can you please provide us the tool which you used for generating GUIDs?

[2019-06-13 22:12] sam90909 opened #33305 "Unclear documentation"
Step # 4 says, “Select type myGalleryApp then select it when it shows up in the list. When you are done, select Save.”

After tenant 2 performs the above step, where does the image appear on tenant 2’s account?
What I noticed was that tenant 2 does see the application I created on my (tenant 1’s) account, but the image that I shared is not visible under of the following locations:
Resource Groups

[2019-06-13 22:16] j-martens commented on #22716
I will proceed to close this issue. Thank you for identifying this issue. We will provide the functionality shortly.

[2019-06-13 22:16] femsulu commented on #32830
re-opening

[2019-06-13 22:18] j-martens commented on #22716
#please-close

[2019-06-13 22:18] #22716 closed

[2019-06-13 22:18] j-martens commented on #31738
#reassign:vijetajo

[2019-06-13 22:23] KeepSloanWeird commented on #33304
Same one listed in the doc:  https://www.guidgenerator.com/

Sloan Ozanne
sloan@ozanne.us
972-467-2032 m
http://about.me/sloanozanne
---------------------------------------------------
Not all who wander are lost...........keeping it weird one day at a time
:-)

On Thu, Jun 13, 2019 at 5:12 PM Jeevan Desarda <notifications@github.com>
wrote:

[2019-06-13 22:23] j-martens commented on #30557
#reassign:vaidya-s

[2019-06-13 22:23] FrankHu-MSFT commented on #33264
Hey, @AzureGuineaPig  can you please clarify what the issue you're having is? Are you using the storage size for activity logs table and calculating the size for sign-ins logs and questioning whether or not the 4KB of data storage per sign-in event is accurate or not?

[2019-06-13 22:26] romitgirdhar commented on #24707
I have submitted a PR to correct this issue. It should be updated soon. Thank you for catching that and for reporting it.

[2019-06-13 22:29] TravisCragg-MSFT commented on #33254
@ketaanhshah Exclusions can only be made on the Request Cookie Name, and 2 exclusion rules can not be combined.

The closest to your specification would be to check if a request cookie name contains 'X'

![image](https://user-images.githubusercontent.com/38542241/59471391-c8f96b00-8def-11e9-8a29-a9109a6b48e4.png)

You might want to consider opening a CSS case to assist with your configuration, and

[2019-06-13 22:30] TravisCragg-MSFT commented on #33290
@SibeeshVenu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-13 22:49] AzureGuineaPig commented on #33264
I would like confirmation if the 2KB of data storage also applies to each Sign-in event, of if the 4KB of data storage per sign-in event as calculated from the table is more accurate. There is no explicit mention of what the data storage size per Sign-in event is in the article.

[2019-06-13 22:58] Karishma-Tiwari-MSFT commented on #24707
Thanks @romitgirdhar for the response and updating the doc. :)

[2019-06-13 22:59] Karishma-Tiwari-MSFT commented on #24707
@baleng Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-13 22:59] #24707 closed

[2019-06-13 23:00] Karishma-Tiwari-MSFT commented on #32341
@miksch27 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-13 23:00] #32341 closed

[2019-06-13 23:03] darosas opened #33307 "Prerequisite Bot Ambiguity"
Hello! I'm not sure which bot I need as a prerequisite for this walkthrough. The provided link for the "Connecting a bot to Direct Line Speech" also assumes I already have a bot. Do you have a page that explains what bot I'm supposed to be using and how to make it? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-13 23:05] mike-urnun-msft commented on #33288
Hi @lucashuet93 Thank you for reporting this issue! We will review and make any necessary changes.

[2019-06-13 23:06] mike-urnun-msft commented on #33283
Hi @swagulkarni Thank you for your feedback! We will review and update as appropriate.

[2019-06-13 23:08] trrwilson commented on #33307
Hello! Thanks for pointing out the gap here. The [overview page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/voice-first-virtual-assistants) includes a link at the bottom to "[create and deploy a basic bot](https://docs.microsoft.com/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0)", but this is conspicuously missing from the quickstarts.

[2019-06-13 23:11] swanderz opened #33308 "azureml-sdk 1.0.43 questions"
reading over the 1.0.43 release notes our team has a few questions:

1. what advantages does a SKLearn estimator have over a regular Estimator? we currently have a sklearn based training but we just use Estimator and send it to hyperdrive.
2. what is the use case for a ModuleStep? does Module = Python module, as in a way to package and make available functions across multiple steps?
3. does the be

[2019-06-13 23:13] paulpce commented on #33015
Ah, I see now, thanks. The problem is that the code is referencing a _prerelease_ of [Microsoft.Azure.Cosmos](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/) on Nuget, but no release versions yet, that's where I was getting confused.  Please make this clear in the documentation or revert to the older Microsoft.Azure.DocumentDB until the stable package is released.

[2019-06-13 23:14] lovelangy commented on #33232
@aljo-microsoft @MicahMcKittrick-MSFT  thanks for you quick response.  the links you gave are very helpful.  I understand that for production workload we need at least 5 nodes.

However , in my question I am talking about development senario.

The tips on Azure portal says single node cluster cannot be scaled, but I managed to scale up from 1 node to 3 nodes, after that Add-AzServiceFabricClusterC

[2019-06-13 23:15] femsulu commented on #32944
Hi @rjmholt , sorry for the delay. After an internal review and the level of details you are requesting, we will need to redirect your question to the Azure technical support queue. Please use [these steps ](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request)to raise a support ticket. If you don't have a support plan, send mail to AzCommunity@microsoft.

[2019-06-13 23:17] Darko-git opened #33309 "Mysterious parameter"
Where is this parameter coming from?
[parameters('certificateIssuerThumbprint')]

On top of this, even if it is in the reference template, it seems not to work, or am I misreading this?
https://github.com/MicrosoftDocs/azure-docs/issues/32272

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302570c-50f7-af0d-ab7c-62845e

[2019-06-13 23:17] femsulu commented on #32944
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-13 23:17] #32944 closed

[2019-06-13 23:22] MicahMcKittrick-MSFT commented on #33309
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-13 23:22] MicahMcKittrick-MSFT commented on #33305
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-13 23:24] femsulu commented on #33296
@LTUTE Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-13 23:44] mmacy commented on #33252
@copperbeardy Hi Davin, this one is ASP.NET Core 2.2:

| Sample | Description |
|--------| ----------- |
| [dotnetcore-webapp](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp) | An ASP.NET Core web application that can sign in a user using Azure AD B2C, get an access token using MSAL.NET and call an API. |

Can you provide any additional details on the .NET Core 2.2 samples

[2019-06-14 00:08] mmacy commented on #29471
@seantleonard Hi Sean, thanks for the bump on this. Since the issue is with the code sample referenced by the article and not with the content of the article itself, we'll likely get better traction by bumping the [issue in the sample repo](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/48). Recommend adding a comment there, and I'll follow up on this end as

[2019-06-14 00:34] Alberto-Vega-MSFT commented on #33082
@arnabbiswas Sorry for the delayed response. This issues are not meant for doc bugs or document enhancements so we would love to hear if you have any feedback for this document/tutorial.

I think this question would be better suited for MSDN or StackOverflow where there is a development community that can help.

A suggestion for you would be to create and add a new module by modifying the example

[2019-06-14 00:56] KranthiPakala-MSFT commented on #33178
@mrphinche Since the Data Factory isn't treated as a trusted Microsoft Service yet, and if you want to access your ADF to connect to ADLS Gen2, please use a Self Hosted Integration Runtime in the Linked Service that connects to ADLS Gen2 account. Below are the things to be considered.

1. The Self Hosted IR should be hosted on a Static IP.
2. Then the static IP address has to be added to the firew

[2019-06-14 00:58] FrankHu-MSFT commented on #32531
I'll see if I can get a sample token to provide, thanks for working with us on this

[2019-06-14 00:59] #33287 closed

[2019-06-14 00:59] #32757 closed

[2019-06-14 01:00] rjmholt commented on #32944
/cc @TravisEz13

Thanks for getting back to me.

I'll let @TravisEz13 decide on whether he wants to open a ticket.

If the documentation refers to a size limit for API calls, I think it needs to define how those sizes are calculated. I only need to know the answers to the size questions because those are the terms of reference used by the documentation; how else can any user of this API know if th

[2019-06-14 01:29] GavinEke commented on #33222
I haven't actually checked GAL or OAB but I believe the OfficePhone and MobliePhone attributes are mapped from here. I have no concern about the office phone being available to all staff but mobile phone and alternative email address is a huge privacy and security concern to us and I am sure others.

[2019-06-14 01:30] tamram commented on #32885
@lightningrob - I have forwarded your comments to the engineering team and updated the article according to their recommendation. Please let us know if this adequately addresses your issue.

[2019-06-14 01:35] imeya commented on #23642
@brettsam , I tried with app insights 2.9.1 and Microsoft.Net.Sdk.Functions 1.0.25. But my custom ITelemetryInitializer did not work.

The code I'm using:
[code]

[2019-06-14 01:49] NyashaNziboi commented on #21850
Has this issue been resolved or a workaround found? im getting the same issue after following [this article](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server#add-a-certificate-to-vm-from-key-vault) on a linux virtual machine

[2019-06-14 02:06] hakanson opened #33311 "add PowerShell commands for acquiring access token"
The "Acquire access token in Cloud Shell" section looks like it is using bash commands.  These should be labeled as such, and also include a PowerShell commands example.

    $access_token= ((Invoke-WebRequest -Uri "$env:MSI_ENDPOINT`?resource=https://management.core.windows.net/" -Headers @{Metadata='true'}).content |  ConvertFrom-Json).access_token
    echo ("The MSI access token is " + $access_

[2019-06-14 02:22] DixitArora-MSFT commented on #33013
@Rich-Lang I have assigned this to content author to review and update as appropriate.

[2019-06-14 02:26] danielgwilson opened #33312 "Why you're getting "Value cannot be null. Parameter name: authKeyOrResourceToken""
You, like me, should probably read more closely—also @ the docs team, it may be worth highlighting this section in some way.

I spent longer than I'd like to admit trying to get this to work with Mongo.

![Screen Shot 2019-06-13 at 7 18 47 PM](https://user-images.githubusercontent.com/11265967/59479400-c27beb00-8e11-11e9-96d2-bd99f088e154.png)

---
#### Document Details

⚠ *Do not edit this sectio

[2019-06-14 02:31] #33312 closed

[2019-06-14 02:49] DixitArora-MSFT commented on #33015
@paulpce I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-14 02:49] #33015 closed

[2019-06-14 02:53] DixitArora-MSFT commented on #33122
@cocowalla I have assigned this to content author to review and update as appropriate.

[2019-06-14 03:09] SwathiDhanwada-MSFT commented on #33242
Thanks for reaching  out. We will verify and update you.

[2019-06-14 03:13] DashleenBhandari-MSFT commented on #33257
@ericjiang18 ,  Could you please provide the document you are referring to?

[2019-06-14 03:14] DashleenBhandari-MSFT commented on #33153
@MGWVc , I have not heard back from you on this issue. I will go ahead and close the issue for now. Please feel free to re-open the issue if you need further assistance.

[2019-06-14 03:14] #33153 closed

[2019-06-14 03:14] DashleenBhandari-MSFT commented on #33135
@ryanmajidi , I have not heard back from you on this issue. I will go ahead and close the issue for now. Please feel free to re-open the issue if you need further assistance.

[2019-06-14 03:14] #33135 closed

[2019-06-14 03:15] DashleenBhandari-MSFT commented on #32989
@klawrawkz ,  I have not heard back from you on this issue. I will go ahead and close the issue for now. Please feel free to re-open the issue if you need further assistance.

[2019-06-14 03:15] #32989 closed

[2019-06-14 03:17] DashleenBhandari-MSFT commented on #33311
@hakanson , Thanks for raising the issue. We will investigate and update you.

[2019-06-14 03:18] KalyanChanumolu-MSFT commented on #33295
Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2019-06-14 03:19] DashleenBhandari-MSFT commented on #33260
@rakshithsm , Thanks for raising the issue. We will investigate and update you.

[2019-06-14 03:21] ericjiang18 commented on #33257
@DashleenBhandari-MSFT
the link is here: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial-od

[2019-06-14 03:22] ericjiang18 commented on #33257
Thank you so much for helping :)

[2019-06-14 03:27] KalyanChanumolu-MSFT commented on #33261
@PingPongSet Yes, you can use the same Client and specify the Database and Collection properties while performing a read/write.

[2019-06-14 03:31] dcbrown16 commented on #32314
@rayne-wiselman do you know what happened with this request to add more detailed LRS setting documentation?

[2019-06-14 03:33] DixitArora-MSFT commented on #33061
@SeanFeldman I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-14 03:33] #33061 closed

[2019-06-14 03:56] KalyanChanumolu-MSFT commented on #33277
@SQLBrander Could you please post the scripts that didn't work for you?
Since you mentioned sys.resource_stats_raw, are you using SQL Managed Instance?

[2019-06-14 04:04] amrik2309 commented on #25661
I still get the error below if I specify the key vault in my resources section and I am not using a separate template file :-

operationId": "0C11CCAF59E1C86A", "properties": { "provisioningOperation": "Create", "provisioningState": "Failed", "timestamp": "2019-06-14T03:56:26.2818781Z", "duration": "PT0.8578816S", "trackingId": "5d35cc4a-4dd6-4b19-9e68-e613afc661a1", "statusCode": "BadRequest", "s

[2019-06-14 04:22] CHEEKATLAPRADEEP-MSFT commented on #33083
@NayanShetty  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-14 04:22] #33083 closed

[2019-06-14 04:30] AjayKumar-MSFT commented on #33247
Just added the screenshot to support the verbatim that currently Central India is not available for Azure Search deployment.

[2019-06-14 04:45] PramodValavala-MSFT commented on #33248
@giovannifl Glad you got it resolved! To elaborate, all App Service Plans now have [VNET Integration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet) support.

The Azure Functions Premium Plan is a special plan designed for Functions with features similar to that of the Consumption Plan. You can find more details about them [here](https://docs.microsoft.com/en-us/

[2019-06-14 04:45] #33248 closed

[2019-06-14 04:48] payalgaikwad42 commented on #32757
I have tried the url by removing the language identifier and it works but in order to support other languages say Chinese, i have to mention the identifier as given in the 1st link that you have mentioned in this comment.
Thats where the problem arises: storage resource is out of the range.
Should I open another issue on microsoft blob storage github ?

[2019-06-14 05:14] ram-msft commented on #33308
@swanderz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-14 05:23] #33239 closed

[2019-06-14 05:25] BhargaviAnnadevara-MSFT commented on #33239
@cijothomas Thanks for the additional clarification!

@Dhugal I've submitted a PR with this change, which is merged internally and will go live in the public docs soon! Thanks again for the feedback! We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-14 05:28] yuharucan opened #33317 "Which port does sync agent use?"
Sync agent use port:1433 to connect to SQL Server, I know. But which port does it use to connect to hub database?443?
In most network, 1433 is blocked, only 80/443 is allowed. In these case , does sync db work well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independen

[2019-06-14 05:29] PramodValavala-MSFT commented on #33121
@nageshsubramanian There is indeed a property for [`PreferredLocations`](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b7aa8f84c2b3c9065861fe955ce8180b9d19f939/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttribute.cs#L149) which is expected to be a comma-separated value of regions as per the [this comment](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b7aa8f84c

[2019-06-14 05:35] VikasPullagura-MSFT commented on #32996
@OzBob Do you have any update on the issue? Did you try the freeRDP and find any improvement?

[2019-06-14 05:39] VikasPullagura-MSFT commented on #32888
@nishantsharma Can you please provide the requested information for assisting you better.

[2019-06-14 05:45] copperbeardy commented on #33252
thank i did look at that, however it is  awkawrd when you just trying to get use to AZure b2c and the samples provided are setup differently than those generated when you create a solution in Vs2019 and connect directly to Azure b2c. Also very few sample show you how to query for user atribute either and hwo to work with Azure b2c when quering for information - particularly from a asp.netcore web

[2019-06-14 06:01] SaurabhSharma-MSFT commented on #33286
@chivandikwa Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 06:01] hansmbakker commented on #32907
@guardrex thank you for your additional explanation! I am using ASP.net core. I’ll look into it further and come back in case I have more questions.

[2019-06-14 06:05] dcbrown16 opened #33319 "Improve ToC title"
"for IaaS" seems like an overbroad statement when this is only about SQL Server VMs. Can that title be replaced with something like "for SQL Server VMs"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9303652-2bf3-e20a-4213-628466cc209d
* Version Independent ID: b73187c6-e566-49af-ef57-d517557074a7
* Content: [Advance

[2019-06-14 06:07] holgerjay commented on #28508
I'd also be interested in a little more detail on the DNS setup for ILB ASE's.
I have set this up based on this guide, deployed a web app and I can connect to it fine. But Kudu or basically anything around the scm url fails. Let's assume I'm using this URL... https://mynewaseapp730.scm.newase557.appserviceenvironment.net/
...it always redirects to...
https://newase557.appserviceenvironment.net/
..

[2019-06-14 06:13] dcbrown16 opened #33320 "Linux alignment"
I think the "Linux" heading of the IaaS table is too far to the left? I'm assuming the first "Non-Azure" heading on the next line is for Windows and Linux starts from Azure VMs again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525c1c48-3355-bc91-b8d0-6104c1f5f098
* Version Independent ID: 0d1c6361-aeac-b0c9-016d-38

[2019-06-14 06:15] ToMakeSense commented on #32830
@tfitzmac thanks for your reply. I think your suggestion below is pertinent. I will use the feedback option in Visual Studio to suggest the update, never try it.

[2019-06-14 06:15] SwathiDhanwada-MSFT commented on #33242
As of now,you can't protect Azure file shares in storage accounts that have Virtual Networks or Firewall enabled. For more information , please refer [this](https://docs.microsoft.com/en-us/azure/backup/backup-azure-files#limitations-for-azure-file-share-backup-during-preview) article.

You can provide your feedback about the product [here](https://feedback.azure.com/forums/258995-azure-backup-and

[2019-06-14 06:23] dcbrown16 opened #33321 "App Service applicability"
Which of these alerts would apply to App Service protection?
The page for that coverage doesn't explain in much detail what it actually does.
https://docs.microsoft.com/en-us/azure/security-center/security-center-app-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d085255-3f2e-7edd-ccdb-d78449ab4662
* Version

[2019-06-14 06:38] gauravhpe commented on #32609
@ShubhaVijayasarathy can please get back on this?

[2019-06-14 06:50] allanmoller commented on #28508
I managed to reach SCM by just adding another A record for this. I dont like creating another ZONE as guide suggest! so instead for now i have 2 A records one for site.domain.com and another for site.scm.domain.com. Currently testing how a local install of Azure Devops connects to this, as iam uncertain how service connections through Azure will work!

[2019-06-14 06:58] Ramesksasi commented on #33242
Hi Swathi,

I know that files with VNet integration can’t be backed up. My question whether these feature in the roadmap,

Thank you

--
Rames K S

From: SwathiDhanwada-MSFT [mailto:notifications@github.com]
Sent: Friday, June 14, 2019 11:46 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rames K S <Rames.Sasi@in.ey.com>; Author <author@noreply.github.com>
Subject: Re: [Microso

[2019-06-14 07:00] VikasJaiswal commented on #11054
Thanks @sebader for the reply. My doubts are clear now. 👍

[2019-06-14 07:03] aniksparrow opened #33322 "Compilation errror on the demo file"
The demo file is not running.
It got a assembly error with the System.IdentityModel.Tokens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d91e987-b3aa-d12b-6400-5f477e827202
* Version Independent ID: e0efa72d-1e7c-b2d2-4ad9-ad51334e3da6
* Content: [Build a .NET web API that integrates with Azure AD for authentication

[2019-06-14 07:30] SQLBrander commented on #33277
Hi,

Every script on that page that used sys.resource_stats.

I was not using managed instance as far as I know.

Sent from Nine<http://www.9folders.com/>
________________________________
From: Kalyan Chanumolu <notifications@github.com>
Sent: Friday, June 14, 2019 05:56
To: MicrosoftDocs/azure-docs
Cc: Gé Brander (SQLBrander.com B.V.); Mention
Subject: Re: [MicrosoftDocs/azure-docs] sys.resource_

[2019-06-14 07:59] J0F3 opened #33323 "Breaks Device Login?"
Hi,

Creating such a policy seems to break the device login experience so you are not able to login with Azure PowerShell in PowerShell 6 anymore for example. Also login with Azure CLI in a Docker container will not work anymore. The Device Login fails with the error "AADSTS50097: Device authentication is required." respectively "invalid_grant".

Is this intended, meaning does Device Login general

[2019-06-14 08:03] AshokPeddakotla-MSFT commented on #27369
@hglkrijger As mentioned above, the documentation has been updated. please check and let us know if that resolves your query.
Since we did not hear back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-14 08:03] #27369 closed

[2019-06-14 08:13] zboyanov commented on #33238
Thank you for the fast response. :)

On Thu, Jun 13, 2019 at 10:56 PM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-06-14 08:29] gs11 commented on #33243
We face the exact same scenario and the solution suggested by @StefanIvemo would be the most viable option allowing a transition period internally.

[2019-06-14 08:38] rnsc commented on #23647
Hello @Adam-Smith-MSFT ,

Can we have an update on this?
The issue was closed when obviously the problem is still present.
What's even more annoying is that the "Get Started" page now only hands a Linux tar file to install AzCopy.
Are you abandoning the Debian/Ubuntu packages?

Kind regards,

[2019-06-14 08:38] SychevIgor opened #33324 "Specify permissions required for all steps"
Faced with an issue deploying from Azure DevOps.

2019-06-14T08:33:03.2169926Z ##[error]Error: release ingress failed: clusterroles.rbac.authorization.k8s.io is forbidden: User "system:serviceaccount:myaccount:tiller" cannot create resource "clusterroles" in API group "rbac.authorization.k8s.io" at the cluster scope

My cluster is 1.14

Yes, I can do it under my admin credentials, but do such thin

[2019-06-14 08:39] rnsc commented on #14182
Hi, is there any progress on this?

[2019-06-14 08:40] tsiddle opened #33325 "RA-GRS"
This page indicates RA-GRS is not available for Azure Files - however, this page (https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets ) appears to contradict it.

Can you confirm please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independen

[2019-06-14 08:57] AshokPeddakotla-MSFT commented on #27826
@robinsh Could you please check this and update?

[2019-06-14 09:22] ManojReddy-MSFT commented on #33320
@dcbrown16 Thanks a lot for taking the time to report this. We really appreciate it.

You are correct, I have updated the doc with the correct alignment. It will be published shortly.

[2019-06-14 09:26] richard-nixon1 commented on #10180
@swinarko I've managed to setup an SSIS IR using AAD Auth w/ ADF managed identity however when I trigger a package run from ADF I'm receiving an error when the package tries to connect to a Azure SQL database source using OLE DB connection:

Error: SSIS Error Code DTS_E_OLEDBERROR. An OLE DB error has occurred.
Error code: 0x80040E4D. An OLE DB record is available.
Source: "Microsoft OLE DB Driver

[2019-06-14 09:27] ManojReddy-MSFT commented on #33319
@dcbrown16 Thanks for the suggestion. I have assigned this to the author to consider and update accordingly.

[2019-06-14 09:36] bencorley opened #33326 "How'd you create the DENY ASSIGNMENTS in this demo ?"
Can you please explain how did you create the Assignments ? Did you open a ticket with Microsoft support ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6169b77-7b39-dd48-42e5-6904c741226f
* Version Independent ID: 7d35186d-160b-8ec1-5dbe-7f19045e950f
* Content: [List deny assignments for Azure resources using the Az

[2019-06-14 09:43] swinarko commented on #10180
Did you set the "ConnectUsingManagedIdentity" property of your OLEDB CM = True and assign the AAD group containing your ADF managed identity the correct role to access your SQL DB?  Please follow the instructions on https://docs.microsoft.com/sql/integration-services/connection-manager/ole-db-connection-manager?view=sql-server-2017#managed-identities-for-azure-resources-authentication.  If it stil

[2019-06-14 09:44] tomnats opened #33327 "Incorrect command"
In the "Scale Clusters" section, it uses the command "delete" instead of "resize".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fad51d92-d621-52ff-7877-90f3ca8e0666
* Version Independent ID: 82f541db-086b-5c94-f8e6-7cb6f4c3d909
* Content: [Manage Azure HDInsight clusters using Azure CLI](https://docs.microsoft.com/en

[2019-06-14 09:46] nelsonavanade commented on #32681
Hi Robin,

I see, that clears it. Thank you very much for your help and support, you have been very helpful.

I am closing this thread for now.

Nelson

[2019-06-14 09:46] #32681 closed

[2019-06-14 09:52] ahmadnazir commented on #27054
I probably misunderstand the question but if you want to only **use** key vault (and not setup a local keyvault), this might help: https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=linux

[2019-06-14 09:55] DanoThom commented on #33166
@stepro much apprectiated for the prompt response. After much tinkering, I suspected as much. It is unfortunate as I believe Dev Spaces removes many barriers to entry as well as a great deal of the cruft around k8. Not to mention just having local debugging into a container working out of the box!

It would probably be of great value to the community to add a Note blurb on either this or the Dev S

[2019-06-14 09:58] DixitArora-MSFT commented on #33120
@axisc Any inputs in this ?

[2019-06-14 09:58] AjayKumar-MSFT commented on #33237
@sander, We have updated the broken URL and the changes made would be public soon.

[2019-06-14 10:06] alvipeo opened #33328 "Really? And where is the sample script uses New-AzSqlDatabaseFailoverGroup, Switch-AzSqlDatabaseFailoverGroup, New-AzSqlElasticPool ???"
I don't see a failover group is created anywhere with this script!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75019ae3-53b9-8b01-2d3d-ef29ea351f93
* Version Independent ID: 14b41b00-26a5-3c6d-fffc-b2f77387a573
* Content: [PowerShell example-geo-replication failover group-single Azure SQL Database](https://docs.micr

[2019-06-14 10:10] Mattzard opened #33329 "The DEV/UAT envrionment's URL is used when clients are using this for their production environments"
The URL is mentioned on this page during step 4: https://dev.abintegro.com/Shibboleth.sso/Login?entityID=&lt;Issuer&gt;&target=https://dev.abintegro.com/secure/.

Can this please be amended to:

https://www.abintegro.com/Shibboleth.sso/Login?entityID=&lt;Issuer&gt;&target=https://www.abintegro.com/secure/

Also, any reference to "dev.abintegro.com" during the setting up of this Azure application s

[2019-06-14 10:17] CHEEKATLAPRADEEP-MSFT commented on #33327
@tomnats Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/79670](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79670).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2019-06-14 10:17] #33327 closed

[2019-06-14 10:23] YASWANTHM-MSFT commented on #33325
@tsiddle , Thanks for the commnet!I have assigned the issue to the content author to investigate further and update on this

[2019-06-14 10:31] rahul24 opened #33331 "KeyTransferRemote.exe is throwing exception "Application and identifiers cannot exceed 80 characters.""
I'm trying to extract the key from my HSM - PCI based using the BYOK tool-set to migrate to Azure KeyVault HSM but encountering a problem with "KeyGenerator.exe". This tool has validation on key identifier of 80 characters and my identifier has more than 80 character, therefore, not able to proceed with the process.

[Affected commands]:

KeyTransferRemote.exe -ModifyAcls
KeyTransferRemote.exe -Pa

[2019-06-14 10:37] DashleenBhandari-MSFT commented on #33278
@achandlerwhite , Thanks for raising the issue. We will investigate and update you.

[2019-06-14 10:41] DashleenBhandari-MSFT commented on #33331
@rahul24 , Could you please provide the document you are referring to.

[2019-06-14 10:48] jeffgleed opened #33332 "Probably the least helpful page in Azure Docs"
This has to be one of the least helpful pages I have come across in the Azure docs ... did you write this? Hang your head in shame!

"How to fix out-of-quota errors when the key exceeds pricing tier usage" -  paragraph contains no useful help on how to fix quota errors at all.

"You do not need to create subscription keys to use your free first-1000 endpoint queries. Once those endpoint queries ar

[2019-06-14 10:54] v-yanfw opened #33333 "Looks like Azure SQL Database Managed Instance Copying data also supports Service Principal and managed identity."
1.	I need your help to confirm whether Azure SQL Database Managed Instance Copying data supports Service Principal and managed identity.
2.	If Azure SQL Database Managed Instance Copying data also supports Service Principal and managed identity, but I didn't find an easy-to-read document to tell us how to add the Service Principal for your ADF as a user in Azure SQL Database Managed Instance.

---

[2019-06-14 11:01] angoyal-msft commented on #33317
@yuharucan Thanks for your feedback. If you're referring to the Data Sync Agent, it uses HTTPS (443) to communicate to the service and uses default SQL port 1433 to communicate to the on-premise database (you can of course specify an alternate port if you configured SQL Server differently). The agent does not connect directly to Azure SQL Databases. It talks to the Data Sync Service which then con

[2019-06-14 11:07] jaymins93 opened #33334 "processing multiple files with azcopy.exe takes too much time same operation copy paste works fast in azure storage explorer"
it may be not problem but the issue is i want to copy the multiple files from the one container to another container with each as single file ( i do not want entire directory or container as i will be receiving the file list from azure queue message ) so for e.g. i have 5000 file i am able to copy them successfully without any issue , but it process the single file and run azcopy.exe from my code

[2019-06-14 11:09] rahul24 commented on #33331
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/key-vault-hsm-protected-keys.md

[2019-06-14 11:11] v-yanfw commented on #33333
After investigate, we found that Azure SQL Database Managed Instance also supports Service Principal and managed identity when Copying data.
Create Azure SQL Database linked service with Service Principal auth in ADF pointing to the Azure SQL Manage Instance, test connection is successful, but I didn’t validate managed identity auth, I only verified Service Principal auth.

I refers to this docume

[2019-06-14 11:22] ChiragMishra-MSFT commented on #33333
@v-yanfw Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-06-14 11:27] daltskin opened #33335 "JSON response to return non-initial answer and follow-up prompts"
Where it states: "The QnA Maker GenerateAnswer JSON response includes the follow-up prompts in the context property of the *first* item in the answers object".

However, the sample JSON in that section, shows the populated context follow-up prompts in the 2nd answer (under id 3).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-14 11:33] timtre commented on #33171
@YutongTie-MSFT Hi, I'd like to kindly ask you to answer my first question before I report the details of the error messages on the github forum.

Again, I'm just trying to get the Roobo device running using your Quickstart App. Then I get an error message saying that Google Play Services is not installed on the device (which is correct). Thus, I went along and installed a version of Google Play S

[2019-06-14 11:36] mrphinche commented on #33178
@KranthiPakala-MSFT, thank you for the detailed explanation. I have finally succeeded after adding the virtual network that the IR VM is attached to to the firewall rules ... it seems it would work even without a static IP..

[2019-06-14 11:38] #32631 closed

[2019-06-14 11:44] DixitArora-MSFT commented on #33119
@cocowalla This quota applies to the combined number of concurrent receive operations across all subscriptions on a topic.

[2019-06-14 12:22] tristanbarcelon commented on #33048
@KalyanChanumolu-MSFT , have you found anything so far? We are still getting intermittent connectivity issues from time to time when attempting to run unit tests that rely on the emulator.

[2019-06-14 12:29] VVillar opened #33336 "--os-family 4"
Is --os-family 4 ok?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1e37a9-71fd-773e-f9d5-63edce2d71b0
* Version Independent ID: a9eae264-8ac0-46e2-bbc3-27e3a70c7c5b
* Content: [Azure CLI Script Example - Windows Pool in Batch](https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-manage-windows-pool#

[2019-06-14 12:30] SubhashVasarapu-MSFT commented on #32985
@mdgattuso , Is there any possibility of including the above mentioned example/scenario in the Doc. Please provide your insights on this. Thank you.

[2019-06-14 12:33] monhaber commented on #33319
Looking into this. I will speak to the product manager, and update you early next week. Thanks.

[2019-06-14 12:34] cocowalla commented on #33119
@DixitArora-MSFT I'm sorry, but I'm not finding that clear 🔮

1. You say "across all subscriptions on a topic" - does that mean there is a limit of 5,000 concurrent receive operations **per topic**?

2. I'm not clear on what counts as a "receive request" - is it when an AMQP client subscribes to a queue, or is it each individual message an AMQP client reads, or something else?

[2019-06-14 12:37] romankiss opened #33338 "Import a BACPAC file using a REST API."
I have tried to import a bacpac into a new database using a [REST API](https://docs.microsoft.com/en-us/rest/api/sql/databases%20-%20import%20export/import). The portal Activity Log shows that this import operation has been accepted, but after that there are missing any Activity Log messages about this background process. In other hand, using a portal Import Database feature is working well includ

[2019-06-14 13:00] ram-msft commented on #33335
@daltskin Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-14 13:03] SeanFeldman commented on #33061
Thank you, @DixitArora-MSFT.

Would be great if the issues would be linked to the PRs. I understand that this might be not possible _today_, though hope it will be addressed in the future 🙂

[2019-06-14 13:04] SubhashVasarapu-MSFT commented on #33179
@TomaszOledzki , You can get the list of all names that Match Variable accepts from the portal. The Match variable has a drop down box carrying all the names and it depends on the match type your are selecting from the portal.
Example:
![image](https://user-images.githubusercontent.com/44890829/59510960-b1df7980-8ed2-11e9-82d5-188a068e09ff.png)

[2019-06-14 13:17] cephalin commented on #32952
Looks like VS2019 doesn't autocreate the App_Data folder so I've added a dummy file to the sample repo so that App_Data exists. I believe this solves the issue. VS2017 doesn't have this problem because it does autocreate App_Data.

#please-close

[2019-06-14 13:17] #32952 closed

[2019-06-14 13:17] ketaanhshah commented on #33254
@TravisCragg-MSFT Thank you Travis, I really appreciate it a lot! Hey my colleague was able to find the MS scripts to migrate the V1 to V2 gateway and we were succesffully able to migrate it and attach the new custom rule (waf policy). Although what we found is when SSL is installed on the gateway these scripts for migrating gateway from V1 to V2 fail. But for now we are going ahead and provisioni

[2019-06-14 13:19] michalmar opened #33339 "Notebook VM in particular VNET"
I am unable to select particular virtual network when creating Notebook VM in Azure Machine Learning service - is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e02dfa-9387-30bc-1099-a4a302f023c3
* Version Independent ID: 4387542f-0e10-d6dd-ad37-c5c00bdedc0d
* Content: [Run experiments and inference in a

[2019-06-14 13:22] VaroJulio commented on #33093
Yes. It works, thanks for your help!

[2019-06-14 13:26] monhaber commented on #33321
@dcbrown16   Hi -I will speak to the product manager and discuss how to improve this topic.  I'll update you some time next week. Thanks for the feedback.

[2019-06-14 13:28] #33256 closed

[2019-06-14 13:31] MedAnd opened #33340 "Document limits & resource utilization for Log Analytics Agent"
Like the fantastic Sizing estimates section above, please add further guidance on limits & resource utilization for Log Analytics Agent:

 - The max number of recommended performance counters to monitor and report on both Windows and Linux. For example can I report on 1000 individual performance counters every 10 seconds (1 GB / day)?
- Impact on host / container CPU and memory whilst monitoring 1

[2019-06-14 13:31] Pickell commented on #33287
Thanks Frank, I appreciate the info. It’s definitely more comprehensive but I still can’t see how the “Require App Protection” policy setting differs from the setting to “Require an Approved client app”.  I mean I can see they are different, but functionally what does one get out of it?  Is it perhaps intended for implementations where “Require an Approved client app” isn’t used?  Or is it more fo

[2019-06-14 13:32] brettsam commented on #23642
Check the bin folder of your function app for an extensions.json file -- what does it have inside? If running locally, it's somewhere like bin\debug\{targetFramework}\bin.

If you move to 1.0.29, does it work? We've fixed lots of bugs around extension.json generation in the last few releases.

[2019-06-14 13:32] woutervanranst opened #33341 "KeyVault has to be enabled for template deployment"
Please caveat in the steps that the keyvault should be enabled for template deployment or you get the "KeyVaultParameterReferenceSecretRetrieveFailed" error, see https://github.com/Azure/azure-powershell/issues/5324#issuecomment-389523463

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e64e11f-16e7-1202-dbf5-98dff66c4c

[2019-06-14 13:36] AndrewJNorris commented on #32255
Thanks for looking. I’m getting a different result though.

This is the QR code on the posters and it takes me to aka.ms/ssprsetup
[cid:image001.png@01D522BE.8F8EAAC0]

This is on the tent cards and it take me to a search result for ‘Ver1’.
[cid:image002.png@01D522BE.8F8EAAC0]

Regards
Andy

From: Sadie Henry <notifications@github.com>
Sent: 12 June 2019 20:04
To: MicrosoftDocs/azure-docs <azure-d

[2019-06-14 13:41] georgedavid29 opened #33342 "is this combined registration currently enabled/working?"
my users see this error: An unexpected error has occurred.
when they visit the security info tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Version Independent ID: 0ebfde0e-5597-fed9-f87c-761fd778fb25
* Content: [Combined registration for Azure AD SSPR and Multi-Factor Authen

[2019-06-14 13:47] georgedavid29 commented on #33342
![image](https://user-images.githubusercontent.com/44856062/59513666-5341dd80-8e89-11e9-9316-b822b01766a9.png)

[2019-06-14 13:48] kzu opened #33343 "C# SDK mentions .NET Standard 2.0, but that's not a platform/runtime"
The comparison table mentions "Speech Services supports Windows 10, Universal Windows Platform (UWP), and .NET Standard 2.0.". That's is very ambiguous, since NS2 is not a platform nor a runtime, so it's impossible to know what that means.

Looking at the `runtimes` folder in the SDK nuget package would mean linux-x64, osx-x64, win10-arm, win10-arm64, win-x64 and win-x86, and I'd guess that means

[2019-06-14 13:59] cheynove commented on #30860
```HttpFunction``` and ```TimeTrigger``` do not exist in the context, is this fixed?

[2019-06-14 14:09] j-martens commented on #31975
@cartacioS . Sabina, can you provide information to help the user here and in the article too? Thank you!

[2019-06-14 14:11] yuharucan commented on #33317
I setup SQL Server on Iaas and that was joined as sync member DB. The subnet which SQL Server VM is deployed on has NSG with 1433 out packet blocked. If so, DB sync does not work. and then 1433 out packet is allowed, it work well. So I think 1433 out packet need to be allowed. I try to recheck my setting.
If only 443 need to be allowed, this doc should mention it, I think.

[2019-06-14 14:17] SubhashVasarapu-MSFT commented on #33033
@Placid7 , If the call to the troubleshooting API returns healthy, the only thing returned in the zip file is a ConnectionStats.txt file.
For more information please refer this[ Doc](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-troubleshoot-overview).
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly co

[2019-06-14 14:17] #33033 closed

[2019-06-14 14:19] pedromartins4 opened #33344 "Wrong information?"
Please note that this page states that "Azure Blob storage is currently the only supported input source for reference data", but on the following link we see a note about reference data using SQL:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-use-reference-data#azure-sql-database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-06-14 14:34] HeidiSteen commented on #33247
Ok -- your comment said the opposite -- "Out of the 3 regions in India (Central India, South India and West India) location, Azure Search **is generally available** only in Central India as you can notice from the ‘Products by region” page (screenshot1).

[2019-06-14 14:36] SadiqhAhmed-MSFT commented on #32314
@dcbrown16 Check the storage redundancy section - https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-storage-redundancy and the note below it and also the FAQ page - https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#can-i-change-from-grs-to-lrs-after-a-backup that covers when can one change from GRS to LRS.

[2019-06-14 14:37] mmacy commented on #33252
Thank you for the additional details, @copperbeardy, I've added your request for additional .NET Core 2.2 samples to our work tracking system. In the meantime, while they aren't specifically .NET Core 2.2, you might find these items helpful:

- [Azure AD B2C: Use the Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet) (d