[2019-10-29 18:11] cijothomas commented on #41584
@mrbullwinkle feel free to change the doc if you agree there is confusion.
As the doc for WebApps clearly states how ikey can be setup, there shouldn't be . But I may be wrong.

[2019-10-29 18:12] SaurabhSharma-MSFT commented on #41681
@NenoLoje Microsoft Security code extension is not supported for on premises TFS and it is available only for Azure DevOps as mentioned in the [Faq Question](https://docs.microsoft.com/en-us/azure/security/develop/security-code-analysis-faq#can-i-install-the-extension-on-my-visual-studio-team-foundation-server-instance-instead-of-on-an-azure-devops-instance). Please refer to [Onboarding and instal

[2019-10-29 18:17] glaisne opened #41691 "Sample JSON not to be used with New-AzPolicySetDefinition."
The sample JSON shouldn't be used as the format for the New-AzPolicySetDefinition call. The PolicyDefinition parameter JSON needs to start at the PolicyDefinitions array. Reference the github links in the first example under Deploy with PowerShell. If you get the error "Error reading JArray from JsonReader. Current JsonReader item is not an array: StartObject. Path '', line 1, position 1." it mean

[2019-10-29 18:18] abhinavaGopagani opened #41692 "Owner information is not there in Manifest of Azure Active Directory Application"
Owner information is not there in Manifest of Azure Active Directory Application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Active Directory app manifest](https://docs.microsoft.c

[2019-10-29 18:20] kpetrow opened #41693 "ipsec.conf file is wrong format"
ipsec.conf needs tabs after the first line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e-a687-34ba66d33550
* Content: [Create and install P2S VPN client configuration files for Azure certificate authentication: Azure](https://docs.micro

[2019-10-29 18:22] vharindra commented on #41681
Agreed, I think its better to call out “Azure DevOps service” instead of just “Azure DevOps” as “Azure DevOps server” is not supported.

I have few other changes too will make all at once and update the document.

From: Neno<mailto:notifications@github.com>
Sent: Tuesday, October 29, 2019 11:15 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Harindra Veeramaneni (Tata Con

[2019-10-29 18:28] alainvanhoof commented on #41669
The issue is on a Windows 10 installation.

[2019-10-29 18:31] RudyEvers commented on #41664
Hi @KranthiPakala-MSFT

Thank you for the quick response. I tried a couple of things. Refresh of my browser, cleared the cache. Tried an other browser but that didn't resolve the issue. Really a strange situation.

I will send an email to the AzCommunity. Hopefully it can be sorted out.

Regards,
Ruud

[2019-10-29 18:32] bandersmsft commented on #41660
@lesterw1 Hi. Thanks for letting us know about the outdated article. Options in the Azure portal have changed. Here's how to get to Transfer Billing Ownership: In the Azure portal, search for *Subscriptions* and click it. In the list of subscriptions, select the one that you want to transfer ownship for. At the top of the subscription overview page, click **Transfer billing ownership**.

I'll get

[2019-10-29 18:32] bandersmsft commented on #41660
#please-close

[2019-10-29 18:32] #41660 closed

[2019-10-29 18:36] alainvanhoof commented on #41669
In the Azure CloudShell (powershell) i works indeed , but I get an error when running the script:
New-Item : Access to the path '/PrivateZoneData' is denied.
At /home/van/.local/share/powershell/Scripts/PrivateDnsMigrationScript.ps1:576 char:5
+     New-Item -ItemType directory -Path $DumpPath
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : PermissionDenied: (/PrivateZ

[2019-10-29 18:43] MarileeTurscak-MSFT commented on #41649
Hi @swaggering

The pass-through authentication is configured in the backend on-premises. If you have configured pass-through authentication using the AAD Connect Wizard and synched your users, then you should just be able to use the spring boot starter sample or any AAD/spring boot sample. https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-starters/azure-active-directory

[2019-10-29 18:43] #41649 closed

[2019-10-29 18:46] MonikaReddy-MSFT commented on #41559
@adielben , Since I cannot replicate the issue. I would want you to verify couple of things before you try creating it again.
- .NET CORE 3.0 is supported in 16.3 Version onwards. So please ensure that the Visual Studio 2019 is up-to-date.
Please take a look at this Doc for more reference[. .Net Core 3.0 Support in VS](https://devblogs.microsoft.com/visualstudio/Dot-Net-Core-Support-In-Visual-Stud

[2019-10-29 18:46] KrishnaG-MSFT commented on #41660
@bandersmsft Thanks for the quick response. :+1:

[2019-10-29 18:47] TravisCragg-MSFT commented on #41394
@geekGK I find the outbound rules much easier to configure via PowerShell. If you have any issues with the configurations let me know.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 18:47] #41394 closed

[2019-10-29 18:48] bgelens opened #41694 "Additional fw rules for Windows"
When adding a Windows Node pool to an AKS cluster with Egress send via Azure Firewall, it kept failing. After some monitoring of the firewall, it looks like the following additional allow rules are needed:

* wdcp.microsoft.com
* wdcpalt.microsoft.com
* sls.update.microsoft.com
* settings-win.data.microsoft.com
* umwatsonc.events.data.microsoft.com
* v10c.events.data.microsoft.com
* validation-v2.

[2019-10-29 18:49] Gamecock opened #41695 "Unable to install iotedge on ARM32v7 Ubuntu 18.04 or 16.06"
When running `apt-get update && apt-get install -y --no-install-recommends iotedge`

I get the following output:
`
Hit:1 http://ports.ubuntu.com/ubuntu-ports xenial InRelease
Hit:2 http://ports.ubuntu.com/ubuntu-ports xenial-updates InRelease
Hit:3 http://ports.ubuntu.com/ubuntu-ports xenial-backports InRelease
Hit:4 http://ports.ubuntu.com/ubuntu-ports xenial-security InRelease
Hit:5 https://pack

[2019-10-29 18:50] shashishailaj commented on #41214
@felickz  We checked this and at this point the organisation can only pull its own Azure AD tenant data. The moment you enable Sentinel , you would need to create a log analytics work-space for your subscription and whichever directory the subscription is associated with , is where the Azure AD logs come from. This is based on the idea that "An organisation is supposed to have one single directory

[2019-10-29 18:50] #41214 closed

[2019-10-29 18:55] YutongTie-MSFT commented on #41679
@loic-sharma
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-29 18:56] mike-urnun-msft commented on #41659
@wojciechkopciewicz Thank you for your feedback! We will review and update as appropriate.

[2019-10-29 18:57] githubavi opened #41696 "Getting Error even PDF File size is less than 4 MB"
Hi, I have 5 test PDF files (1 pager) of similar data and none of them exceeds 4MB. After I upload to a Blob container and try to train, I am getting this error - "Operation returned an invalid status code 'RequestEntityTooLarge'". Is there any limitation on overall container size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-10-29 18:58] YutongTie-MSFT commented on #41652
@wapoywapa
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-29 19:00] MicahMcKittrick-MSFT commented on #41694
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-29 19:00] shdenf opened #41697 "Switch Authentication Method"
How do I switch my primary authentication method? It is currently set to my Mobile App but I recently got a new phone and my app wasn't backed.

[2019-10-29 19:08] shashishailaj commented on #41364
@limjianan We had this checked and found that it is correctly mentioned . The first section talks about the Azure AD connect Servers hardware requirement and the next one provides a glimpse to other servers which can be configured from within the Azure AD connect wizard like AD FS servers and Web application proxy servers. So it is correct . We have added the word proxy to make it more clear.

[2019-10-29 19:12] YutongTie-MSFT commented on #41696
@githubavi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-29 19:12] RudyEvers commented on #41664
Hi @KranthiPakala-MSFT ,

Issue is caused when using GitHub with ADF. When I enable GitHub the issue occurs and when I don't I can see all authentication types. Not normal behavior I would think.

![issue_webactivity2](https://user-images.githubusercontent.com/38738862/67800772-2da82000-fa88-11e9-8ce4-a668389df01d.PNG)
![issue_webactivity3](https://user-images.githubusercontent.com/38738862/678008

[2019-10-29 19:13] TravisCragg-MSFT commented on #41672
@OLoup You can find information about [deploying to an App Service Environment Here](https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#publishing). If you have any further questions please let us know.

[2019-10-29 19:14] shdenf commented on #41697
Found the answer here: https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-manage-settings

[2019-10-29 19:15] adielben commented on #41559
Thanks! I will do it.

[2019-10-29 19:18] TravisCragg-MSFT commented on #41677
@pemj [Here is a doc about creating Azure DNS records using the Azure CLI](https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets-cli). You might need to stitch together the full script between the DNS CLI doc and a traffic manger CLI doc.

Please let me know if you need any additional information.

[2019-10-29 19:20] gamullen commented on #28157
Thanks, Alex. I finally got it working after a lot of AADDS stuff.

Gary

[2019-10-29 19:21] mike-urnun-msft commented on #40924
@AJAnujsharma Sorry for the delay in response. The connector isn't designed to parameterize events for an arbitrary number of files such as such and trigger so, instead, its core job is being able detecting a change (file creation on your on-prem filesystem in this case) and doing it well. For your scenario, I think you might just need to make use of one of the messaging services (Service Bus, Azu

[2019-10-29 19:21] #40924 closed

[2019-10-29 19:22] #41364 closed

[2019-10-29 19:26] YutongTie-MSFT commented on #41296
@SanatMoharir Sorry I don't think OCR supports transferring output to EXCEL file directly. I would highly recommend you to post your feedback to our User Voice channel: https://cognitive.uservoice.com/ The product team are reviewing all the feedback. Also, for PDF recognition, I think the Form recognizer is also a good solution. https://azure.microsoft.com/en-us/services/cognitive-services/form-re

[2019-10-29 19:26] #41296 closed

[2019-10-29 19:35] riordanmr commented on #11142
The DISKPART instructions worked well for me.
Omitting size causes the partition to be extended to use all available space.
For me, afterwards there was no need to reboot, which was nice.

[2019-10-29 19:39] pejuborg commented on #41508
Hi,
Compare the picture in the article with this.
![image](https://user-images.githubusercontent.com/51705186/67802791-82ea2e80-fa94-11e9-9738-f6127b702760.png)

[2019-10-29 19:42] fecalemos commented on #40649
Same issue here. Please, resolve this error issue.

[2019-10-29 19:43] pejuborg commented on #41508
Now, after looking closer at where the image is used, I see that, that section need a total rewrite since you cannot get to Log Analytics from that blade any longer.

[2019-10-29 19:44] pemj commented on #41677
Yeah, I ran across that page earlier. The specific thing I'm trying to figure out is how az cli handles alias records, there aren't any examples that seem to apply, on that page, or just about anywhere online.

[2019-10-29 19:50] TravisCragg-MSFT commented on #41693
@kpetrow Thanks for the feedback! I have added indentions to the ipsec.conf sample. These changes should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 19:50] #41693 closed

[2019-10-29 19:50] MikkelHegn commented on #40266
We don't call out specific issues / bugs in this article. Issues and bugs are documented in the repositories owning the code, and in certain cases in the AKS repo for tracking purposes: https://github.com/azure/aks/issues

[2019-10-29 19:54] anavinahar commented on #35603
@vladfr yes, @allegradomel created this: https://github.com/Azure/azure-quickstart-templates/tree/master/101-vmms-with-public-ip-prefix

[2019-10-29 19:55] KranthiPakala-MSFT commented on #41664
@RudyEvers Thanks much for sharing your findings. I'm looking into this issue and will keep posted once I have an update.

[2019-10-29 19:58] mjannapureddy07 opened #41699 "No. of character limit in the Raw Data field"
We are using Custom logs integration with Log Analytics where our application sends tons of lines of stack traces. We wanted to know if there is any data limit on the Raw Data field returned by Log Analytics Query Results. For example we found the difference in number of lines between the actual stack trace(from the server log file) and to that of same stack trace parsed into Log Analytics. How ca

[2019-10-29 19:58] dcasati opened #41700 "Example for Policy for public IP address removed?"
Folks,

Was the 'Create and apply Azure policy for public IP addresses' removed ? Can we still do this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d6d70c-eed7-8fdc-e04b-995cabf0a902
* Version Independent ID: a33391e9-3023-8212-6246-d64071efc2b5
* Content: [Create, change, or delete an Azure public IP address](ht

[2019-10-29 20:01] SlkRck opened #41701 "Available in Azure Government?"
When will Azure AD DS be available in Azure Government?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13427ec1-d66f-1063-9c5d-273b2c745a9f
* Version Independent ID: f1c2ddb0-d3c8-776e-d4ee-b1b4557c662b
* Content: [Overview of Azure Active Directory Domain Services](https://docs.microsoft.com/en-us/azure/active-directo

[2019-10-29 20:09] MicahMcKittrick-MSFT commented on #35026
Reopening and taking a look at this again.

[2019-10-29 20:16] pranavpnair commented on #41669
Are you providing your own Dumppath while running the script? if so please ensure that the path is valid. If the path is valid please try running the script as admin and let us know if you still have issues.

[2019-10-29 20:19] #41568 closed

[2019-10-29 20:20] pranavpnair commented on #41669
for the first issue, can you please try this
https://evotec.xyz/install-module-a-parameter-cannot-be-found-that-matches-parameter-name-allowprerelease/
and see if it works after?

[2019-10-29 20:33] Gamecock commented on #12992
@chriswue thanks, but still no luck.  I found this https://github.com/Azure/iotedgedev/issues/380 which is a similar issue.

[2019-10-29 20:33] PatrickFarley commented on #41652
@wapoywapa Originally I only meant to embed the first part of that method, because the whole thing is very long and covers many particular scenarios. But I'll add the rest of it, because I see how it could appear confusing. You'll see the doc updated withing the next day or two.
#please-close

[2019-10-29 20:33] #41652 closed

[2019-10-29 20:40] mattgwic opened #41702 "Addition should be Additional"
Addition articles about blueprints and how to use them:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcfb3f66-844a-0d40-5bbf-9545c4ea9677
* Version Independent ID: 05b512ac-5c4d-2f61-954f-69bed6925556
* Content: [PCI-DSS v3.2.1 blueprint sample - Control mapping - Azure Blueprints](https://docs.microsoft.com/en-us/az

[2019-10-29 20:43] MGoedtel commented on #41306
No, Kusto certainly does not have that function so I'm not sure why the PM wrote that.  I'll bug the article and get that corrected tomorrow AM.  Thanks for brining this to our attention! #in-progress

[2019-10-29 21:02] MicahMcKittrick-MSFT commented on #41694
@bgelens assigning to the content author to review further.

CC @MicrosoftDocs/aks-pm

[2019-10-29 21:05] MicahMcKittrick-MSFT commented on #41673
@aaronwjha it won't impact existing clusters but any cluster created after enabling this feature will be impacted. Even if you enable the feature and don't create a cluster with a Windows Node pool.

Besides that, other limitations are documented here:

https://docs.microsoft.com/en-us/azure/aks/windows-node-limitations

[2019-10-29 21:08] MicahMcKittrick-MSFT commented on #41667
@dzoech yes you can do this. However it is limited to Windows Clusters at the moment. See the following:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-overview
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-services-inside-containers

I will close this but if you have further questions let me know and we can always reopen and continue the di

[2019-10-29 21:08] jluk commented on #41694
Thanks for the feedback @bgelens. @PatrickLang / @MikkelHegn could you validate the additional fw rules needed? We can get that wrapped into the docs once the list is finalized.

cc @zr-msft

[2019-10-29 21:09] MicahMcKittrick-MSFT commented on #41674
@ilya-spv I believe this behavior is specific to AKS clusters.

@MicrosoftDocs/aks-pm to confirm

[2019-10-29 21:12] hpsin opened #41704 "V2 endpoint does not support B2C, MSAL does."
There's some confusing text here around
&gt;With Microsoft identity platform (v2.0), expand your reach to these kinds of users:
&gt;Work and school accounts (Azure AD provisioned accounts)
&gt;Personal accounts (such as Outlook.com or Hotmail.com)
&gt;Your customers who bring their own email or social identity (such as LinkedIn, Facebook, Google) via the Azure AD B2C offering

We should clarify th

[2019-10-29 21:13] hpsin commented on #41704
@rwike77 this should probably be assigned to Kevin Yam?

[2019-10-29 21:14] hpsin commented on #41704
The diagram is also incorrect and needs to be updated.

[2019-10-29 21:17] rajan-chawla commented on #29343
I am facing the same issue on https://fuldag4team.azurewebsites.net/

[2019-10-29 21:17] kumarallamraju commented on #41528
My original question was why we have references to .exe in the Linux install.

THis page https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview (Locate installer files) shows
there's an install for Linux too. Why are we referencing  a windows installer. May be I'm missing something..  If you think my understanding is wrong, feel free to close this issue

[2019-10-29 21:18] jluk commented on #41674
I think this document has a few issues, AFAIK the AKS doc is wrong here and needs to be fixed. As linked in the LB doc it is my understanding that with multiple outbound candidates the egress ip will be selected at random, not pinned to the first one.

@zr-msft any idea what the intent on this doc was previously? @palma21 is my assumption above aligned with you?

[2019-10-29 21:27] DCtheGeek commented on #41702
#assign:DCtheGeek

[2019-10-29 21:27] boteng-msft opened #41706 "Concurrency and Blob State?"
A blob can have multiple states: uncommitted, committed, deleted. What would be the behavior when we have concurrent access to a blob that is "uncommitted"/ "deleted" state?
Ex1. Process 1 upload a blob, Process 2 update the blob while the blob is still "uncommitted", what result would we get when we have different AccessPolicy?
Ex2. Process 1 delete the blob, process 2 update the blob while the b

[2019-10-29 21:28] DCtheGeek commented on #41702
@mattgwic Thanks for pointing this out.  I'll get this fixed right now.  As soon as the PR merges, this issue will automatically close.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress

[2019-10-29 21:31] FrankHu-MSFT commented on #41704
@hpsin Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-29 21:32] orionJag commented on #41093
Support

	Suggested fix did not resolve the issue on the Module creation – attached are the error messages.

	Did address the  Python issue
1. removal of all version followed with fresh installs
2. ran python get-pip.py
3. ran qualified with
C:\Users\abcde\AppData\Local\Programs\Python\Python38-32\Scripts\pip install --upgrade iotedgehubdev

	No issues of the install

From: Renlong Tu
Sent: Tuesda

[2019-10-29 21:41] SnehaGunda commented on #40695
@eakoning Updated the doc to remove the secure string. We will now close this issue if there aren't any further questions.

#please-close

[2019-10-29 21:41] #40695 closed

[2019-10-29 21:43] artisticcheese commented on #28297
+1 Another user running into the same issue

[2019-10-29 21:45] DCtheGeek commented on #41691
#assign:DCtheGeek

[2019-10-29 21:45] YutongTie-MSFT commented on #41401
@IsaacRoitman
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-10-29 21:45] #41401 closed

[2019-10-29 21:47] DCtheGeek commented on #41691
@glaisne Thanks for the feedback.  The sample JSON shown in-line in the doc is for understanding the contents. The steps in the **Deploy with PowerShell** section of the page does use the correct file from the GitHub repo. What are you recommending we change or do since the document already doesn't use the sample in the example steps?

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement'

[2019-10-29 21:54] MarkusVi commented on #40948
The list of services that support Azure AD authentication is [here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-azure-ad-authentication).

[2019-10-29 21:54] MarkusVi commented on #40948
#please-close

[2019-10-29 21:54] #40948 closed

[2019-10-29 21:54] Adam-Smith-MSFT commented on #41662
I had some examples dealing with virtual folders in python SDK: https://github.com/adamsmith0016/Azure-storage

Will assign author to see if they can help

[2019-10-29 21:54] SamaraSoucy-MSFT commented on #41603
I believe you are correct that PerfView is required. I've submitted a pull request to correct the documentation.

[2019-10-29 21:54] #41603 closed

[2019-10-29 21:55] rwike77 commented on #41704
@hpsin, thanks.  I'll look into it.

[2019-10-29 21:56] Adam-Smith-MSFT commented on #41706
@boteng-msft  Thank you for the valuable feedback,we are investigating the issue.

[2019-10-29 22:06] rayne-wiselman commented on #41528
The installer files for the Mobility service on Linux are listed here - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#locate-installer-files. There's no exe for Linux listed here.

The reference to the exe file in the Linux section on this page - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-install-mobility-service - refers to a

[2019-10-29 22:07] allegradomel commented on #41351
@KumudD , which ignite talk is this supposed to link to?

[2019-10-29 22:09] CeciAc opened #41707 "vnetPE"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2887

@meatloaf111 commented 21 hours ago — with docs.microsoft.com
Following command should use $rgName instead of the value of the resource groupname it self.

$vnetPE = New-AzVirtualNetwork -Name $virtualNetworkNamePE
-ResourceGroupName myResourceGroup `

---
#### Document Details

⚠ *Do not edit this sect

[2019-10-29 22:09] grlima opened #41708 "Grammar issue"
The first sentence on this article says: "Learn how to use Azure Functions to create a serverless function that runs based a schedule that you define."

It should be: "Learn how to use Azure Functions to create a serverless function that runs based on a schedule that you define."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-29 22:21] danieljosephh commented on #30853
@markjbrown has this been completed? I am no longer receiving this error.

[2019-10-29 22:22] CeciAc opened #41710 "Retrieving Hotmail/Live (Consumer Microsoft Account) profile Photo once signed in through Azure AD B2C"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/650

@LaurentTermeau commented 13 hours ago

Hello,
I'm creating an ASP.NET Core MVC App. I'm using Azure AD B2C to allow users to sign in through several Identity providers (Google, Facebook, Microsoft Account ).
Signin process works just fine. I'm able tio use the Access Token return in Claims to access Fac

[2019-10-29 22:23] Mike-Ubezzi-MSFT commented on #41654
@smoms Thank you for your inquiry. A tenant is a container that represents an entity such as a business or organization. The following [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-create-new-tenant) discusses setting-up a tenant:

So, these Azure Management Groups must be part of the same AAD Tenant that you set-up initially and what defines your organ

[2019-10-29 22:28] johnsimons opened #41712 "Are these limits expose programatically?"
I give a couple of example in https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-kubernetes-service-limits the Maximum clusters per subscription is `100`, can I somehow access `100` from the REST API?
Another example is https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#publicip-address the Public IP addresses - static says to "Contact support" for

[2019-10-29 22:31] MukundaMurthy opened #41713 "Incorrect CIDR"
Shouldn't the IP range - 199.30.16.0 - 199.30.16.24 - be 199.30.16.0/28 + 199.30.16.16/29?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2195c05-13ee-5f82-d5dd-93a36ce0191d
* Version Independent ID: 300ffcd7-1ec7-d610-bf4b-49ea4cd0f1b7
* Content: [How to require multi-factor authentication (MFA) for access from untru

[2019-10-29 22:41] Mike-Ubezzi-MSFT commented on #41666
@imlight Please see the following FAQ with regard to [Why are two resource groups are created with AKS?](https://docs.microsoft.com/en-us/azure/aks/faq#why-are-two-resource-groups-created-with-aks)

[Can I provide my own name for the AKS node resource group](https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group)?

So, I think in the following exam

[2019-10-29 22:42] SnehaGunda commented on #41642
@Shawngbk In Cosmos DB, the overall throughput of the container is divided evenly among all physical partitions. Assuming a good partition key that distributes the logical partitions evenly among the physical partitions, the throughput is also distributed evenly across all the logical partitions.

I am updating the above doc to clarify this information.

[2019-10-29 22:42] SnehaGunda commented on #41642
We will close this issue if there aren't further questions.

#please-close

[2019-10-29 22:42] #41642 closed

[2019-10-29 22:43] mike-urnun-msft commented on #41257
Hi @hannan-chang - I've gone through the steps on the tutorial and was able to see the activity in Azure Monitor as expected. I suggest you go over the steps and try again. If you're continuing to encounter this issue, it's most likely an issue specific to your environment. If that is the case, please open a case with Azure Support for an engineer who has a deeper insight into your environment to

[2019-10-29 22:43] #41257 closed

[2019-10-29 22:43] dlepow commented on #41476
@Herr-Sepp - Thanks for the question. Can you please tell us a little more about your scenario and the configuration of your group? Do all the instances need the CPUs at the same time, or are they monopolizing the CPUs at different times (for example, using a sidecar configuration)?

In any case, the documented statement should probably be clarified to say "...Each instance can use up to the 2 CPU

[2019-10-29 22:45] TravisCragg-MSFT commented on #41536
@silverl I see that the support engineer has responded. I am going to close this issue out while you work with Azure support. If you need any additional information just reply to this thread and tag me.

[2019-10-29 22:46] TravisCragg-MSFT commented on #41253
@vairamsvsjdo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 22:46] #41253 closed

[2019-10-29 22:46] TravisCragg-MSFT commented on #41303
@jainankita Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 22:46] #41303 closed

[2019-10-29 22:46] femsulu commented on #41655
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:47] TravisCragg-MSFT commented on #41332
@azav Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 22:47] #41332 closed

[2019-10-29 22:47] kumarallamraju commented on #41528
THanks @rayne-wiselman

[2019-10-29 22:47] #41528 closed

[2019-10-29 22:48] femsulu commented on #41665
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:50] femsulu commented on #41683
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:51] femsulu commented on #41684
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:51] Mike-Ubezzi-MSFT commented on #41671
@galgolan Thank you for the feedback. I assume you are speaking to Azure Web Application Services? If this is the case, can you please make the recommendation to the [Service Area's Uservoice forum](https://feedback.azure.com/forums/169385-web-apps). This is where product feedback request are made.

[2019-10-29 22:52] femsulu commented on #41687
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:52] Mike-Ubezzi-MSFT commented on #41671
Otherwise, if there is a specific document that discusses this specific topic, that will be helpful as well. Thank you!

[2019-10-29 22:52] femsulu commented on #41691
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-29 22:53] femsulu commented on #41699
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-29 22:54] femsulu commented on #41712
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-29 23:00] ealsur commented on #41100
The exception is expected when the item that you are trying to read does not exist. The Cosmos DB SDK throws `CosmosException` on failed status codes (404) in this case.

The sample code creates the item if it doesn't exist, so it needs to do it only if the read failed.

The `catch` block needs to exist, so, moving the `CreateItemAsync` outside of the `catch` block and basing it on a boolean flag

[2019-10-29 23:00] #40785 closed

[2019-10-29 23:02] Mike-Ubezzi-MSFT commented on #41692
@abhinavaGopagani Thank you very much for your feedback. Can you please provide a little bit more clarity on the scenario you are facing as I would like to understand your issue in greater detail. I believe I have aligned your question with the specific document related to you issue but additional feedback would be helpful. Thank you!

[2019-10-29 23:05] Mike-Ubezzi-MSFT commented on #41697
@shdenf Thank you very much for providing the additional information to resolve your issue. Please let us know if we can be of further assistance.

[2019-10-29 23:06] iRaindrop commented on #41100
Yes, that’s the way it works and is quite clever actually. But I contend it’s a bad programming practice.

I didn’t understand the sample code of this article until I looked in the Catch block. The reason being that the Try/Catch block is mean to handle errors, and only errors. It is not meant to provide a logic mechanism.

This is a best practices issue, not a programming issue per se.

[2019-10-29 23:07] TravisCragg-MSFT commented on #41700
@dcasati Thanks for the feedback! This is still possible, but it looks like the linked documentation does not give any examples for Public IP Addresses.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-29 23:07] mike-urnun-msft commented on #41309
Hi @chadcarlton - If your end goal is to establish DevOps for your APIM instance, I recommend that you explore the [Azure API Management DevOps Resource Kit](https://github.com/Azure/azure-api-management-devops-resource-kit) tool that's maintained by the APIM team.

With that said, I believe the PS command is here: [Set-AzApiManagementIdentityProvider](https://docs.microsoft.com/en-us/powershell/m

[2019-10-29 23:07] #41309 closed

[2019-10-29 23:08] alexdlevin commented on #28157
Good Job!!!!

From: Gary L. Mullen-Schultz <notifications@github.com>
Sent: Tuesday, October 29, 2019 12:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Alex levin <alexdlevin@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Add clarification to documentation for pure Azure Active Directory Domain Services and Azure Active Directory

[2019-10-29 23:10] Mike-Ubezzi-MSFT commented on #41701
@SlkRck Thank you very much for your inquiry. We are currently investigating and will update you when we have accurate information from the product group.

[2019-10-29 23:22] iharrington commented on #41244
I recently discovered when trying to delete this "ContainerInsights" solution that Azure automatically re-creates it
<img width="1139" alt="Screen Shot 2019-10-29 at 4 15 20 PM" src="https://user-images.githubusercontent.com/43457037/67816758-37ba2680-fa68-11e9-9e6a-fd106e14630a.png">
In the attached image you can see "AzureContainerService" creates this broken Solution on it's own

[2019-10-29 23:25] silverl commented on #41536
@TravisCragg-MSFT I think everyone using Application Gateway would benefit from more clarity in the description of how and why the certificate impacts the ciphers available. I can't find anything online that would explain why a server would limit the list of available ciphers based on the CA-issued certificate. How do these two things relate to each other?

[2019-10-29 23:25] MonikaReddy-MSFT commented on #41663
@LuisCabrer  Thank you!
@ignaciofls  Thanks again for bringing this to our attention! We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-10-29 23:26] silverl commented on #41536
And I'll add that so far, the support ticket responses are not making this any clearer either.

[2019-10-29 23:27] MonikaReddy-MSFT commented on #41393
@HeidiSteen  Thank you!
@iMicknl Thanks again for bringing this to our attention! We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-10-29 23:30] Mike-Ubezzi-MSFT commented on #41707
@meatloaf111 @CeciAc Thank you for bringing this to our attention. It appears the common syntax being used throughout the examples is $rgName but [Create a virtual network](https://docs.microsoft.com/en-us/azure/private-link/create-private-link-service-powershell#create-a-virtual-network-1) uses `-ResourceGroupName myResourceGroup`. We are investigating this and will make an update to the document

[2019-10-29 23:34] MonikaReddy-MSFT commented on #41559
Great. We will now proceed to close this thread as resolved, but if there are any further questions regarding this matter or if you dont hear anything from the Visual Studio team, please tag me in your reply and we will be happy to continue the conversation.
.

[2019-10-29 23:34] #41559 closed

[2019-10-29 23:35] MonikaReddy-MSFT commented on #41330
@weirdaze , Thanks for bringing this to our attention. I have assigned it to the document author, so they can update the document accordingly. We will keep you posted once the doc is updated.

[2019-10-29 23:42] Vivihung opened #41717 "Is _ts indexed by default?"
Is _ts indexed by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32753f5-3b8a-c8cc-7a2f-58773b727e0d
* Version Independent ID: 1eef2e5d-9f62-824f-ebc6-8aee6544a8cc
* Content: [Indexing in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/index-overview#feedback)
* Content Source: [articles/cos

[2019-10-29 23:49] p-pre commented on #40504
I just followed the steps in this article to restore a soft deleted workspace.
[https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace]

Following these instructions I get:
New-AzOperationalInsightsWorkspace : HTTP Status Code: Conflict
Error Message: The workspace name 'Workspace-name' is not unique

How do I recover a workbook using these steps?

[2019-10-29 23:51] ThomasWeiss commented on #41717
@Vivihung The default indexing policy when creating a new container includes all properties, including _ts. You can explicitly exclude it as described [here](https://docs.microsoft.com/azure/cosmos-db/index-policy).
#please-close

[2019-10-29 23:51] #41717 closed

[2019-10-29 23:53] dcbrown16 opened #41718 "How endpoint is determined?"
Is something like Traffic Manager geographic routing used to determine which data center serves your requests for the Portal?
This is relevant for ExpressRoute with Microsoft peering - my best guess is that adding the BGP communities for your nearest couple of Azure regions will generally mean your Portal traffic goes over ER, but I'm not sure how reliable this is.

---
#### Document Details

⚠ *D

[2019-10-29 23:55] ealsur commented on #41100
@iRaindrop I agree, but in this case, which would be the alternative?

A `bool` flag that is set to `true` in the `catch` block and then an `if` to test it?

[2019-10-29 23:59] abhinavaGopagani commented on #41692
Thanks for the response.

I believe owner field is not available in manifest definition for azure active directory application.

When i add owner information to the azure active directory application, using azure portal and save it, the same owner information is not reflecting in application manifest Json file that i see in portal.

Get Outlook for Android<https://aka.ms/ghei36>

_________________

[2019-10-30 00:04] p-pre opened #41719 "Recover a soft deleted Workspace"
I just followed the steps in this article to restore a soft deleted workspace.

Following these instructions I get:
New-AzOperationalInsightsWorkspace : HTTP Status Code: Conflict
Error Message: The workspace name 'Workspace-name' is not unique

How do I recover a workbook using these steps? As I understand this article all I need to run is:
New-AzOperationalInsightsWorkspace -ResourceGroupName "R

[2019-10-30 00:12] SaurabhSharma-MSFT commented on #41681
@vharindra sure, thank you.

[2019-10-30 00:38] MGoedtel commented on #41306
Fixed and updated article goes live tomorrow.  #please-close.

[2019-10-30 00:38] #41306 closed

[2019-10-30 00:47] forester123 commented on #41641
@KalyanChanumolu-MSFT Thanks a lot for confirming! Do you think the first sentence would bring some confusion? Customer would think it's GAed already, we have received feedback about this. I think it's better to make it clear.

[2019-10-30 00:51] JohnPhamous opened #41720 "Best practice for storing passwords for web tests"
Hello,

It would be great if there are details on how to store passwords/secrets for web tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ab3fdb-a3b6-ee8a-1487-b14a1c3a28bb
* Version Independent ID: d5d2659b-5959-74d6-4a3f-59caaa4e7d47
* Content: [Monitor your web application with multi-step web tests and Azure

[2019-10-30 00:56] FrankHu-MSFT commented on #41056
hey @jaffadog

It turns out if you mean the extensionAttribute1 - extensionAttribute15 properties that are built into the AAD schema, then those are not supported for optional claims.

On the other hand, if you mean app-specific extension properties (e.g., extension_{appPrincipalId}_{name}).

Then the most common cause I've seen of those not working is because they're trying to use extension prope

[2019-10-30 01:02] #41459 closed

[2019-10-30 01:25] swanderz commented on #39799
great idea, @rastala. @nibaccam, I'm going to experiment with it. one question: where do files in `directories_to_watch` get stored? In the `default_blobstore`?

[2019-10-30 01:33] cengxiye commented on #41451
@DeanCefola, this is extremely true. It is really confusing for new customer who are not familiar with AAD/AADDS/ADDS, don't even mention this.

[2019-10-30 01:39] FrankHu-MSFT commented on #41668
Hey @mabotova  thanks for letting us know about this, we're currently making the change in the doc accordingly.

I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-30 01:40] #41668 closed

[2019-10-30 01:42] FrankHu-MSFT commented on #41657
You will need to use the corporate category from what it sounds like you're trying to ask.

@nb-ofs Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-30 01:43] MarileeTurscak-MSFT commented on #41474
Hi @moseleycj

Please send me an email at AzCommunity@microsoft.com and I can loop you in with the key vault team to help get this answered. CC: @barclayn

[2019-10-30 01:43] #41474 closed

[2019-10-30 02:01] RoyKimYYZ opened #41724 "typo on the paramater"
az ad group list --displayname &lt;search-string&gt;
should be
az ad group list --display-name &lt;search-string&gt;

--display-name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a20a94-cfda-1b7f-572a-36103fd91b01
* Version Independent ID: ff21c49b-9b3e-c309-1842-02a2d05afe71
* Content: [Grant permission to applicat

[2019-10-30 02:24] KrishnaG-MSFT commented on #41717
@ThomasWeiss Thanks for the quick response. :+1:

[2019-10-30 02:31] KrishnaG-MSFT commented on #41720
@JohnPhamous Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-30 02:40] jorupp opened #41725 "Note about the new automatic logging provider not being supported on Framework isn't in the section I would expect to find it"
It's in the "Migrate from the old ApplicationInsightsLoggerProvider" section (https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#migrate-from-the-old-applicationinsightsloggerprovider) - I'd have expected to see it after the second paragraph in the "ASP.NET Core applications" section (https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#aspnet-core-applications) that ends

[2019-10-30 02:51] cijothomas commented on #41725
@lgayhardt can you make this doc update to avoid confusion?  Call out early in the doc about lack .NET Framework support for ilogger integration.

[2019-10-30 02:55] Mike-Ubezzi-MSFT commented on #41690
@cacizi41 Thank you very much for you inquiry. We are investigating and will update you when we have verified the current functionality.

[2019-10-30 02:58] Mike-Ubezzi-MSFT commented on #41680
@kartben Thank you for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2019-10-30 02:58] Ambuj-K commented on #39566
So, it has been a month, and as an Organisation we are a Azure Enterprise customer.
Should we expect a response on this?

[2019-10-30 03:02] Mike-Ubezzi-MSFT commented on #41695
@Gamecock Thank you for bringing this to our attention. We are investigating and will update you when we have identified the issue in greater detail.

[2019-10-30 03:08] jorupp commented on #41725
To clarify - I believe it's the *automatic* ILogger integration that isn't in the .NET Framework version - the manual registration w/ `Microsoft.Extensions.Logging.ApplicationInsights` + `services.AddLogging(_ => _.AddApplicationInsights())` appears works fine.

[2019-10-30 03:31] dkelertastspl commented on #41350
Hi nmaarse,

Thanks for the suggestion but I'm having trouble.  Queried australiaeast
and I found the GP_S_Gen5_1 SKU Available = True (however in
australiasoutheast Availability = false).

PS Azure:\> az sql db list-editions -l australiaeast -o table
ServiceObjective    Sku            Edition           Family    Capacity
 Unit    Available
------------------  -------------  ----------------  ----

[2019-10-30 03:36] shashishailaj commented on #41710
@CeciAc @LaurentTermeau We will investigate and update this thread further.

[2019-10-30 03:37] shashishailaj commented on #41713
@MukundaMurthy Thank you for your feedback . We will investigate and update this thread further.

[2019-10-30 03:38] shashishailaj commented on #41724
@RoyKimYYZ Thank you for pointing this out . We will investigate and make the changes appropriately after review.

[2019-10-30 03:50] karandesai28 commented on #40698
Thank you. Those links are helpful.

[2019-10-30 03:53] deeagar opened #41726 "Supporting elastic search queries with Azure Search out of the box or migration path"
Hi,

We have a client project wherein we had used elastic search extensively and using its queries syntax for data operations.
We are exploring the possibility of migrating this completely to Azure Search for its obvious benefits.

However, we would like to know if the ES queries is supported by Azure Search out of the box as is or it would need a re-write of our code (which doesn't seem a possibl

[2019-10-30 04:10] KitSkin opened #41727 "Dark mode compatible"
Several of the images on this page have black text and transparent backgrounds making them impossible to read in dark mode browsers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e79340cf-0d6f-134a-5ad2-e4d612a5942f
* Version Independent ID: a47545c7-9a5e-da56-b34e-c4b2349dc01a
* Content: [Azure AD Connect: Understand

[2019-10-30 04:15] KetanChawda-MSFT commented on #41708
@grlima Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-30 04:18] wilsonlapwong opened #41728 "Unable to locate Secret Keys of DLS Channel after Registration"
Hi,
After registering my bot with the Direct Line Speech channel, I was unable to locate Secrets Keys in SpeechQnABot-BotRegistration resource in Azure Portal.

I had implemented all configuration settings in the document.  Please advise.

Regards,
Wilson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7068-9f6c-5b2

[2019-10-30 04:21] marktab commented on #41473
@ukerzel Thanks for your interest.  Our terms of use are as stated, personal and non-commercial use.

If you would like to use the information from a graphic for commercial use, then I suggest making your own new graphics with the same content.  I have personally made my own graphics versions of TDSP using PowerPoint mostly because the ones we have are too detailed for some uses.   Often new graph

[2019-10-30 04:28] AjayKumar-MSFT commented on #41656
@APIWT, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-10-30 04:31] BharathNimmala-MSFT commented on #41725
@jorupp Thank you for reaching out to us.

@cijothomas Thank for your reply, assigning this issue to @lgayhardt to further evaluate and enhance the document.

[2019-10-30 04:38] SnehaAgrawal-MSFT commented on #41686
@bychkov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 04:50] SwathiDhanwada-MSFT commented on #41719
@p-pre  Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-10-30 05:04] saurabhvartak1982 commented on #39564
hello, I am facing similar problems which were mentioned by bouchaet. Wanted to check if the issue has been acknowledged and confirmed.

[2019-10-30 05:18] shashishailaj commented on #41724
@RoyKimYYZ Thank you for pointing it out. WE have verified this and changed the same. It should get reflected on the document within the next release cycle in 24-48 hours

[2019-10-30 05:26] swaggering commented on #41649
@MarileeTurscak-MSFT Thank you !

[2019-10-30 05:26] dcbrown16 opened #41732 "Document additional metrics"
There are 6 metrics under Data Factory that are not described here. Can you add descriptions of these metrics and their use cases to this document please?
・Integration runtime CPU utilization
・Integration runtime available memory
・Maximum allowed entities count
・Maximum allowed factory size (GB unit)
・Total entities count
・Total factory size (GB unit)

---
#### Document Details

⚠ *Do not edit thi

[2019-10-30 05:50] ashishmundrajll opened #41736 "Developer Portal Security via Open ID Connect"
I see that Developer Portal is protected via Username/Pwd and its possible to use AD, ADB2C, Google, Microsoft. Is it possible to use other SSO solutions like Okta to allow access to Developer Portal? In Azure portal in Security section, its listed in Menu but does not state if this applies to Developer Portal access or not. Can it be elaborated here please?

Thanks.

---
#### Document Details

⚠

[2019-10-30 05:51] SwathiDhanwada-MSFT commented on #41555
@dkamstra Can you please review the document and update if any of the IP addresses have changed?

[2019-10-30 05:53] #41724 closed

[2019-10-30 05:54] msrini-MSFT commented on #41669
@alainvanhoof , Does the above suggestion helped ?

[2019-10-30 05:54] msrini-MSFT commented on #41670
@ivanignatiev , Do you have any further questions?

[2019-10-30 06:04] KrishnaG-MSFT commented on #41720
@BharathNimmala-MSFT can you please help take a peek at this?

[2019-10-30 06:07] RohitMungi-MSFT commented on #41728
@dargilco @trrwilson After using these [steps ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-directlinespeech?view=azure-bot-service-4.0)to configure direct line speech channel the portal does not display the keys that can be used. Please find the screen shot from portal after configuring the channel where the keys are not displayed.

![image](https://user-images.

[2019-10-30 06:09] joeruder commented on #38023
I came down to the comments to ask about this specific question as well.
'brief period at the end of the operation when connections are dropped'
So, are users kicked out and have to reconnect?

[2019-10-30 06:14] RohitMungi-MSFT commented on #41579
@temitopefunmi We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-30 06:15] #41579 closed

[2019-10-30 06:17] RohitMungi-MSFT commented on #41577
@ionut-matei Thanks for the feedback. We have tested the same and submitted a document change([93895](https://github.com/MicrosoftDocs/azure-docs-pr/pull/93895)) that will be live earlier next week. We will now proceed to close the issue.

[2019-10-30 06:18] #41577 closed

[2019-10-30 06:27] benpaul4u opened #41737 "Rephrase please"
Can you please rephrase this statement?

"It does not cache data from the agents, the agent handles caching data in this situation until communication is restored."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e2c183-5b23-45ab-9d16-3931ff911e29
* Version Independent ID: bb62a149-8569-4cae-b86c-74546e84759c
* Conten

[2019-10-30 06:29] impresent7 commented on #23273
can i call the power shall scripts to modify the access control or create custom groups through Web app ? This is not accessing any VM directly.

[2019-10-30 06:42] EricKyaw opened #41738 "REST API is not working"
Hi,

I need to implement a console application to retrain the model every week. The web service will be published using "New" web service. I have followed the steps from "Deploy the retraining web service" and "Retrain the model" sections under https://docs.microsoft.com/en-us/azure/machine-learning/studio/retrain-machine-learning-model.

I could get new ilearner file url via the console applicati

[2019-10-30 06:44] #41188 closed

[2019-10-30 06:45] EricKyaw opened #41739 "REST API is not working"
Hi,

I need to implement a console application to retrain the model every week. The web service will be published using "New" web service. I have followed the steps from "Deploy the retraining web service" and "Retrain the model" sections under https://docs.microsoft.com/en-us/azure/machine-learning/studio/retrain-machine-learning-model.

I could get new ilearner file url via the console applicati

[2019-10-30 06:53] torgeirhansen opened #41740 "Something is missing here, I'm guessing "the bdehdcfg component" is not a real thing ;)"
Windows Server 2012 R2 Core and Windows Server 2016 Core requires the bdehdcfg component to be installed on the VM for encryption.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: b5c7e44e-899c-56d9-b35d-420df677527c
* Version Independent ID: 7a6fd590-99a6-9fb8-3bfb-76d27752def5
* Content: [Enable Azure Disk Encryptio

[2019-10-30 06:58] souravmishra-msft commented on #40083
Working offline with customer. Closing this thread.

[2019-10-30 06:58] #40083 closed

[2019-10-30 07:05] MarileeTurscak-MSFT commented on #41692
Are you saying that other values are reflecting there but owner is not? Normally these values need to be added manually so I'm not sure I fully understand. Can you please post a screenshot of what you are seeing?

[2019-10-30 07:19] santo2 commented on #25048
it's closed, but not answered? or at least, I don't see a valid anwser on how the reverse proxy will stop sending traffic to unhealthy instances?

[2019-10-30 07:37] mike-urnun-msft commented on #41318
@zpittmansf Thanks again for sharing your feedback. The use of `Microsoft.Extensions.Http` package appears to be taken as an example and doesn't seem to be a required detail of an overall Prerequisite for the setup of a DI pattern for Functions which I think this documentation is primarily about. Moreover, the documentation does appear to state the below:
_This example uses the Microsoft.Extension

[2019-10-30 07:37] #41318 closed

[2019-10-30 08:04] gfallerBB opened #41741 "Comma missing in sample code"
There is a comma missing in the sample codes.
e.g. "dbTable"        -&gt; "dbo.Clients"
should be
"dbTable"        -&gt; "dbo.Clients",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azur

[2019-10-30 08:04] mwolfaardt opened #41742 "Add example to assign licensing to Azure Security Group"
Please update your powershell example to include how to assign a license to a security AD Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent ID: 6711b6ba-154a-d078-d119-603d2c169453
* Content: [Assign licenses to a group - Azure Active Directory](https://docs

[2019-10-30 08:12] smoms commented on #41654
@Mike-Ubezzi-MSFT thanks. my question was another though. It is about **Subscriptions**.
I try to rephrase it:
Are **all** SUBSCRIPTIONS of a same Management Groups part of (trust) the same Tenant?
thanks.

[2019-10-30 08:15] johnz opened #41743 "Bug Report: Generated Access Token With Wrong Scopes"
**Actual behavior:**
- Access Token scope is "profile openid email"

**Expected behavior:**
- Access Token should have scope "AuditLog.Read.All Directory.Read.All Reports.Read.All SecurityEvents.Read.All User.Read.All profile openid email"

**Step to reproduce:**
1. Register a new app in Azure portal App registrations
2. Use OAuth 2 v2.0 code grant flow to get access_token and refresh_token
    -

[2019-10-30 08:16] sachabruttin opened #41744 "Migrate to multiple Azure Subscriptions"
I have multiple applications on my LUIS account. I'm the owner of some of them and for the others  I'm only a contributor.

Moreover, not all applications are tied to the same customer. I need a way to select to which subscription/resource group/resource an application is migrated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-10-30 08:18] dzoech commented on #41667
Thank you for the quick reply!

I still have some questions and would be grateful if you could clear them up.

The linked documentation states it requires Windows Server 2016. Am I correct in the assumption that it is not possible to use Reliable Collections on a semi-annual release, for instance 1803 or 1809 (name in portal: *WindowsServerSemiAnnual Datacenter-Core-1803-with-Containers*)?

Does i

[2019-10-30 08:38] mike-urnun-msft commented on #41319
Closing this issue for now as it appears to be a duplicate of #41348

[2019-10-30 08:38] #41319 closed

[2019-10-30 08:43] mike-urnun-msft commented on #41375
Thanks for sharing, @ilcorvo! Surely, the examples that you referenced will help and guide others visiting this issue.

Since there doesn't seem to be any changes required to be made on this documentation, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-30 08:43] #41375 closed

[2019-10-30 08:47] jmprieur commented on #41439
@shashishailaj, please assign to @TylerMSFT

[2019-10-30 09:03] AjayKumar-MSFT commented on #41726
@deeagar, Thanks for leveraging Azure docs feedback channel to raise this question!

It looks like you have already created a feedback post on the Uservoice.
https://feedback.azure.com/forums/263029-azure-search/suggestions/38919856-supporting-easy-migration-of-elastic-search-to-azu

Also, we have feedback post(s) with similar requests you may wish to up-vote:

1. https://feedback.azure.com/forums

[2019-10-30 09:05] phifa commented on #22673
Doesnt work over on my german keyboard... @sachabruttin does ctrl shift / work for you? how do you hit the / ?

[2019-10-30 09:09] stoepa opened #41746 "Adding the connected service is misleading"
In the section Add Key Vault support to your project under point 1. The text reads "In Solution Explorer, choose Add &gt; Connected Service. The Connected Service page appears with services you can add to your project." which is misleading as you have to first select your project and then add so the text might read "In Solution Explorer, right-click on your project, choose Add &gt; Connected Servi

[2019-10-30 09:22] sewalsh opened #41747 "Broken markup in table in 3rd bullet point under 'Create virtual networks'"
Broken markup in table in 3rd bullet point under 'Create virtual networks'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84d04de-a015-145b-caed-5547833ff6ce
* Version Independent ID: 0f8c7347-35f4-9dea-856c-447b4c3967d1
* Content: [Connect virtual networks with virtual network peering - tutorial - Azure portal](https

[2019-10-30 09:25] AjayKumar-MSFT commented on #41645
@jackiejaiau, We do not have an exact ETA to share on this as of yet.
As soon as we have an update, we will share and also update the document appropriately.
I have also shared the feedback with the content owner (@ccompy) for further review.

[2019-10-30 09:30] assaf-grth opened #41748 "Deallocate eviction policy auto start"
After VM's state is turned to deallocated, will it automatically start once there is an availability?
Or do I have to try and start it manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-79e0-446c-00a4-85248a21b6dc
* Content: [Create an Azure

[2019-10-30 09:38] KetanChawda-MSFT commented on #41624
@gorillapower I have checked the back-end logs for 28th Oct and it seems that the setting is working fine for 2 instances. I can also see that you have the value to 4 earlier and set it to 2 instances on 2019-10-28 20:39:20

The message I see in back-end logs:
[code]

So from the logs its confirmed that the setting is working fine.

Let me know if you have any further questions on this.

[2019-10-30 09:38] KrishnaG-MSFT commented on #41737
Assigning content owner @MGoedtel for visibility, review and for document enhancement considerations.

[2019-10-30 09:43] choonyip opened #41749 "Error while installing Body Tracking SDK on Ubuntu 18.04"
I get error while installing Body Tracking SDK on Ubuntu 18.04.
First, I installed the Sensor SDK based on https://docs.microsoft.com/ja-jp/azure/Kinect-dk/sensor-sdk-download
After that i tried to install the Body Tracking SDK but failed with the following error.

cy8182@cy8182-TM1604:~$ sudo apt install k4a-tools
[sudo] password for cy8182:
Reading package lists... Done
Building dependency tree

[2019-10-30 09:48] KetanChawda-MSFT commented on #41625
@mpeder Thank you for reporting this. PR is ready to fix the document and changes will be available in public document by 24-48 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-30 09:48] #41625 closed

[2019-10-30 09:48] msrini-MSFT commented on #41718
@dcbrown16 , Internal Architecture of Azure Portal cannot be exposed here in this forum. Any reason why you need this info?

Azure portal is highly available and it is designed with high resiliency. Reach out internally if you have any questions.

[2019-10-30 09:48] #41718 closed

[2019-10-30 09:54] ram-msft commented on #41739
@EricKyaw Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-30 09:56] msrini-MSFT commented on #39984
@wshamroukh , Azure creates a Alias record under the hood when you create a Private DNS Zone with the name privatelink.database.windows.net

When you do a Nslookup for myserver.database.windows.net , you will get a private IP in return. I did a repro for storage account and here is the nslookup result:

C:\Users\karthik>nslookup **filesharestoragename.blob.core.windows.net**
Server:  UnKnown
Addre

[2019-10-30 09:56] #39984 closed

[2019-10-30 09:56] ram-msft commented on #41744
@sachabruttin Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-30 09:57] msrini-MSFT commented on #41747
@sewalsh , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-30 10:00] rayne-wiselman commented on #41528
Welcdome. I'll sharpen up the text a bit to make this all a bit clearer.

[2019-10-30 10:12] msrini-MSFT commented on #41747
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94087

[2019-10-30 10:18] #41747 closed

[2019-10-30 10:21] gorillapower commented on #41624
@KetanChawda-MSFT thanks for the response. Thats good information, however when I was monitoring the live metrics in Application Insights, it was showing that up to 7 servers where online, even the though the limit was set to 4 then subsequently 2 instances. Perhaps the app insights information is incorrect?

[2019-10-30 10:23] owingruters commented on #16691
For me: the status of the Traffic managers capability. But I already know
about the incompatibility, but fr others the documentation is also important

On Tue, Oct 29, 2019 at 5:22 PM JohnDelisle <notifications@github.com>
wrote:

[2019-10-30 10:31] janakiram345 opened #41750 "Remote mic not working in Remote Desktop app for session desktop, there is no option to select like remote audio option in traditional remote desktop connection app."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-30 10:37] phw198 commented on #34055
Why is this _still_ not properly documented? Closing an issue before it has been resolved is pretty counter-productive.

For others, as per @Mister-Chief117's [comment](https://github.com/MicrosoftDocs/azure-docs/issues/34109#issuecomment-517713855):

[2019-10-30 10:42] BE-Digital-Solutions opened #41751 "Private link support for the SSIS DB"
Now that private links for Azure SQL DB are in preview, I wonder whether this is also supported for the SSIS Catalog DB in combination with Azure-SSIS joined to a virtual network. Could you update the documentation accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a3bca-2e7d-1746-d490-109a244c5970
* Versio

[2019-10-30 10:45] PramodValavala-MSFT commented on #41565
@tkumark They can be created either from the Azure Portal itself or using the [Subscription - Create Or Update REST API](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/subscription/createorupdate) without setting the `properties.ownerId` property in the request body.

[2019-10-30 10:52] manu4rhyme opened #41752 "Redirect URI blocked error"
Hi,

Following this documentation, we got the Redirect URI blocked error when trying to login.

On opening the developer console and observing the actual login request, we found the redirect uri parameter to be of the form: https://login.microsoftonline.com/te/your-tenant-name.onmicrosoft.com/oauth2/authresp

When we added this to facebook app's oauth settings, it worked.

Can you please clarify,

[2019-10-30 10:58] PramodValavala-MSFT commented on #41621
@loganville This doc builds upon the quickstarts (mentioned in the [prerequisites section](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sequence#prerequisites)) which create a durable HTTP starter function which is being used here.

[2019-10-30 11:06] #41708 closed

[2019-10-30 11:08] KetanChawda-MSFT commented on #41708
@grlima I have created PR to fix the reported issue. The changes will be available to public document in next 24-48 hours.

Thank you for pointing that out.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-30 11:11] KetanChawda-MSFT commented on #41736
@ashishmundrajll Thank you for your posting your question! We will review and provide an update as appropriate.

@mikebudzynski any thought here from the product side?

[2019-10-30 11:11] jtuliani opened #41753 "How long to trigger Action Group?"
Doc states: "When a budget threshold is met, email notifications are normally received in less than 20 hours."

What about Action Groups? Do they also take 20 hours to trigger?  This is VERY important information, for obvious reasons (and FWIW, 20 hours is far, far too long).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-30 11:14] gjdonkers opened #41754 "Broken link"
The link in the IUserIdProvider (https://github.com/Azure/azure-signalr/blob/kevinzha/faq/src/Microsoft.Azure.SignalR/ServiceHubConnectionContext.cs) is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba716918-b9db-7f00-640c-6409fd4b1809
* Version Independent ID: d354f7d9-8fe8-b8aa-b550-b77740bfbf6b
* Conte

[2019-10-30 11:16] gjdonkers opened #41755 "Azure SignalR Service with custom domain"
Hi,
Is there any information about the best practice to run the Azure SignalR Service on a custom domain? This is one of the requirements for our end user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f191582-0cbe-ef99-5f0c-781365f47b0b
* Version Independent ID: db0c0d78-228a-94b2-312f-e1a1a248ca99
* Content: [Scale

[2019-10-30 11:19] sachabruttin commented on #22673
@phifa CTRL+SHIFT+/ doesn't work anymore on my side...

[2019-10-30 11:23] jtuliani commented on #41753
Also, https://docs.microsoft.com/en-us/azure/cost-management/tutorial-acm-create-budgets states emails normally take 16 hours, not 20. So which is it?

[2019-10-30 11:24] SnehaAgrawal-MSFT commented on #41755
@gjdonkers Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 11:25] jtuliani commented on #41753
And https://docs.microsoft.com/en-us/azure/cost-management/quick-acm-cost-analysis says 8-12 hours!

[2019-10-30 11:34] PramodValavala-MSFT commented on #41341
@mcollier Looking at the [extension code](https://github.com/Azure/azure-functions-eventhubs-extension/blob/b020c0d413d8c5dd7b9c214472c0662826aa1775/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/Config/EventHubOptions.cs#L39), the default options from the Event Hubs SDK seem to be used unaltered.

We are assigning this issue to the content author for further review and to update the doc accordi

[2019-10-30 12:03] msmbaldwin commented on #41740
Hi, @torgeirhansen. The bdehdcfg component is a real thing. See https://github.com/andyzhangx/demo/tree/master/windows/azuredisk/disk-encryption. #please-close

[2019-10-30 12:03] #41740 closed

[2019-10-30 12:07] ChiragMishra-MSFT commented on #41732
@dcbrown16 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-30 12:08] ChiragMishra-MSFT commented on #41751
@BE-Digital-Solutions Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-30 12:13] ChiragMishra-MSFT commented on #41749
@choonyip Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-10-30 12:13] ram-msft commented on #41738
@EricKyaw Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-30 12:15] ChiragMishra-MSFT commented on #41750
@janakiram345 Thank you for reaching out to us. Can you please describe your issue/feedback and provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-10-30 12:17] festivus opened #41756 "Generally Available Timeline"
Is there any estimated date on when this will be generally available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [SSL termination with Azure Key Vault certificates](https://docs.microsoft.com/en-us/azure/a

[2019-10-30 12:17] ChiragMishra-MSFT commented on #41742
@mwolfaardt Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-10-30 12:24] roofiq opened #41757 "Table Storage error - Operations per second is over the account limit"
Hello,

I have a script which performs read/write operations using Get-AzStorageTable, Get-AzTableRow modules.
Would like to make sure, if I understand it correctly.
Using those commands (modules) there is an existing limit of 200 writes per hour? And if I would use REST API I would be able to perform those 20 000 operations per second (of 1 kB size)?

Thanks for clarifying,
Rafal

[2019-10-30 12:27] KetanChawda-MSFT commented on #41624
@gorillapower I am not sure on that part but I can see there were 2 instances running on 28th Oct. In case you would want to get more details around that I would recommend to open a support request as this will required deeper analysis.

Also the setting `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` is in preview so if you have a hard dependency on number of instances I would recommend you to go wit

[2019-10-30 12:27] #41624 closed

[2019-10-30 12:28] Herr-Sepp commented on #41476
Hi, I have created a YAML file so you can reproduce it.
[Issue # 41476.yaml](https://github.com/Herr-Sepp/ACI-resource-sharing/blob/master/Issue%20%23%2041476.yaml)
`az container create --resource-group GROUP --file '.\Issue # 41476.yaml'`

10 containers are created, each requesting 0.4 CPU, i.e. a total of 4 CPUs.
9 containers don't create load, but one container runs stress with 4 threats.

ACI

[2019-10-30 12:38] mdehaas opened #41758 "Unable to connect SMB share over Private Endpoint"
When connecting a share on a storage account through a Private Endpoint this results in error 1359. Tracing the connection attempt using Wireshark reveals that the SMB negotiation reports that Encryption is not supported. Using the same resources but without the private endpoint (non-private IP range is seen when resolving the address) results in a mapped drive without any issues.

Test was conduc

[2019-10-30 12:40] ksereda commented on #38068
Hi. Tell me please how long time does it take to convert from VHD to managed disk? Thanks

[2019-10-30 12:44] jakaruna-MSFT commented on #41748
@assaf-grth
Thanks for the question! We are investigating and will update you shortly.

[2019-10-30 12:45] watahani commented on #41464
Hi @ManojReddy

Password-base SSO work on both Moble Edge and Intune Managed Brower in my environment.
I reported document issue to Enterprise App PM internally. I believe she will reach out your team.

[2019-10-30 12:46] ksereda opened #41759 "Where is located managed disk after convertion ?"
Hi, Help me to understand.
I created a VM of Windows with a regular VHD disk.
Then I converted it to a managed disk.
My original VHD is located at Resource Group -&gt; Account Strorage -&gt; Containers -&gt; vhds folder.
I can't find my new managed drive. Where is he located ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-30 12:51] ashemedai opened #41760 "Multiple Markdown links broken"
The section about Encryption at rest has a broken Markdown link set up, I suspect it has two times square brackets instead of the square brackets + parenthesis combination.

Edit: looking at the source file, it is indeed so:

Edit 2: Looks like there are more broken ones:

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-30 12:54] SadiqhAhmed-MSFT commented on #41753
@jtuliani Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-10-30 12:54] IB38 opened #41761 "Clarification on Lifetime vs Max Age"
What does "Single/Multi-Factor Refresh Token Max Age" actually mean?
Is Max Age = cumulative Lifetime of all parent refresh tokens?
Or does it mean "Refresh Token Max Active Time"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbe

[2019-10-30 13:08] alainvanhoof commented on #41669
How can a user become Admin in a PowerShell Cloud Shell?

[2019-10-30 13:16] ivanignatiev commented on #41670
@msrini-MSFT Thank you ! That is the perfect answer for me.  No more questions regarding this topic.

[2019-10-30 13:16] #41670 closed

[2019-10-30 13:16] OmegaMadLab opened #41762 "Clarify concurrency topic"
Please clarify the concurrency topic; it's not so clear for someone who hasn't a dev background like me.
From what I understood, one function app instance can execute only one function at a time, due to PS worker limits. To increase this value, I should change the PSWorkerInProcConcurrencyUpperBound parameter, which opens multiple PS runspaces in parallel.
In a scenario where a storage queue trigg

[2019-10-30 13:27] andrePKI opened #41763 "Step not corresponding to Azure portal?"
1. Select Expose an API and click on Save and continue to create an Application ID URI.
"Save and continue" does not exist when selecting "Expose an API"?
The only thing I can click on are "Add a scope" button, "Set" next to the Application ID URI and the close icon top-right.
I think this "Set"  link is what is meant instead of "Save and Contiue"
---
#### Document Details

⚠ *Do not edit this sec

[2019-10-30 13:29] KalyanChanumolu-MSFT commented on #41741
@gfallerBB Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live by EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2019-10-30 13:29] #41741 closed

[2019-10-30 13:33] choonyip commented on #41749
I am following this page for installation.
https://docs.microsoft.com/ja-jp/azure/Kinect-dk/body-sdk-download

[2019-10-30 13:35] stawo commented on #41134
Would it be possible to have an estimated time for the fix?
As things are now, what would be the best way for me to explore and try Azure ML functionalities?

[2019-10-30 13:39] alainvanhoof commented on #41669
PS C:\WINDOWS\system32> Install-Module -Name PackageManagement -Repository PSGallery -Force -AllowClobber
PS C:\WINDOWS\system32> Install-Module -Name PowerShellGet -Repository PSGallery -Force -AllowClobber
PS C:\WINDOWS\system32> Install-Module -Name Az.PrivateDns -AllowPrerelease
Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.
At line:1 char:36
+ Inst

[2019-10-30 13:58] KrishnaG-MSFT commented on #41740
@msmbaldwin Thanks for the quick response. :+1:

[2019-10-30 14:00] bartlannoeye opened #41764 "Azure CLI script gives error on ENV variables"
Executing

    az container create --resource-group poc-smartcity-gent2-rg --name helloci --image mcr.microsoft.com/azuredocs/aci-helloworld --ip-address Public --ports 9000 --environment-variables 'PORT'='9000'

Gives following error:
Incorrectly formatted environment settings. Argument values should be in the format a=b c=d

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-30 14:00] Anaig opened #41765 "Object : incorrect property"
https://docs.microsoft.com/en-us/azure/search/knowledge-store-concept-intro#creating-a-knowledge-store
The "objects" type example has 2 properties 'format' and  'key' which seem not to exist. When creating them, the error message is:
"The request is invalid. Details: skillset : The property 'format' does not exist on type 'Microsoft.Azure.Search.ObjectProjectionSelector'. Make sure to only use pro

[2019-10-30 14:04] NavtejSaini-MSFT commented on #41588
@kagkarlsson We are going ahead and closing this thread.

[2019-10-30 14:04] #41605 closed

[2019-10-30 14:05] mmacy commented on #41147
@demesg You should be able to specify multiple URIs by using a comma-delimited list within the `Item` element.

For example:

[code]

Cc: @WhippsP

[2019-10-30 14:10] carollavecchiakumulus opened #41767 "Help to use Managed Instance"
Tks for this page, helps me alot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b8d70d-ea67-98ec-cd98-236d8c2bf5b1
* Version Independent ID: 18d9663b-35d0-0e15-8ad4-00ae60f413b8
* Content: [Configure public endpoint - Azure SQL Database managed instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-databas

[2019-10-30 14:11] mikhailnikolaev opened #41768 "AZ_BATCH_APP_PACKAGE wrong description"
Actually, at least on batch.node.ubuntu 16.04 environment variable for application package has the name that differs with described in the page. For example, if your app has the name "Foo" and has the version "1", then respected variable will have the name **AZ_BATCH_APP_PACKAGE_Foo_1** (not AZ_BATCH_APP_PACKAGE_FOO_1), that means case of app name will be the same

---
#### Document Details

⚠ *Do

[2019-10-30 14:17] jsandersrocks opened #41769 "Add how to get notified of changes"
Service Endpoints had some additions.  Document the strategy customers can use to stay updated on these changes.  (jsanders)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3c7faf-1650-37a0-682d-50edee8e99a9
* Version Independent ID: 3ea34e67-86c0-01a8-8011-fff3e85dbc88
* Content: [Configure App Service Environment to

[2019-10-30 14:18] MonikaReddy-MSFT commented on #41754
@gjdonkers , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-30 14:19] #41588 closed

[2019-10-30 14:32] #41339 closed

[2019-10-30 14:53] 1scscott opened #41771 "Receiving execution policy error with Azure Functions Core Tools"
func : File C:\Users\thx1138\AppData\Roaming\npm\func.ps1 cannot be loaded. The file C:\Users\rnb6138\AppData\Roaming\npm\func.ps1 is not digitally signed. You cannot run this
script on the current system. For more information about running scripts and setting execution policy, see about_Execution_Policies at
https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ func host start

I set

[2019-10-30 14:56] JustinGrote opened #41772 "Powershell staged rollout link missing"
Q: Can we use PowerShell to perform staged rollout?

A: Yes, Please find the documentation to use PowerShell to perform staged rollout here.

No link here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Content: [Azure

[2019-10-30 15:10] smoms opened #41774 "What are the different use cases supported by Protocol and Identity translation?"
What are the different use cases supported by Protocol and Identity translation?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ebfe95-4ec9-e071-bc89-67ea25905d37
* Version Independent ID: 819f9aff-e1eb-6e05-fcd2-4daa4e7165eb
* Content: [Gateways for downstream devices - Azure IoT Edge](https://docs.microsoft

[2019-10-30 15:14] #41767 closed

[2019-10-30 15:19] andrePKI opened #41775 "Steps just not matching the portal (anymore?)"
step 14. redirect_url looks truncated in my case (ends with ...) but fortunately that is only display, when selecting and copying it is complete (but it may confuse people if it is not mentioned in this ntext)
step 16. There is no Settings page of my client app. (it is the Authentication page). Then, I wonder if you mean the backend-app here...
step 17. There is nowhere a reference to Reply URLs.

[2019-10-30 15:22] d4md1n commented on #33653
Is there a plan to have an application gateway v2 without using both public and private ip, to utilize the private ip option

[2019-10-30 15:22] ciufudean opened #41776 "Log Analytics agent vs Dependency agent"
See the picture in this section https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources#operating-system-guest and compare it against the text below: is it the Log Analytics Agent that send data to Health State (picture say yes, text says no) or it is the Dependency Agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-10-30 15:29] MicahMcKittrick-MSFT commented on #41768
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 15:30] MicahMcKittrick-MSFT commented on #41764
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 15:30] msrini-MSFT commented on #33653
@KeiroKamioka0000 , it is in our pipeline, as of today you will not be able to deploy.

[2019-10-30 15:31] MicahMcKittrick-MSFT commented on #41759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 15:32] danroot opened #41777 "Invalid headers in postman example"
The "Formulate requests in Postman" example says to add a Request header "Content-Type".  Doing this in ASP.NET Core results in an error that Content-Type is not a valid Request header and can't be used.  I believe this should be "Accept", not "Content-Type".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0994cc30-5874

[2019-10-30 15:33] KetanChawda-MSFT commented on #41763
@andrePKI Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-30 15:44] jakaruna-MSFT commented on #41580
@MicrosoftDocs/aks-pm Please add your comments

[2019-10-30 15:48] robert4os opened #41778 "Attaching the same AKS more than once to an AMLS workspace will fail and break the other attachment."
I observerd that when I attach an AKS more than once using different names and different configuration (e.g. enable_ssl ) then the second attachment will fail. And the original attachement gets corrupted.

If this is indeed so, it would be useful to update the documentation and moreover implement a sanity check that fails if there are existing attachments.

thank you and best regards,
Ronert

---

[2019-10-30 15:57] YutongTie-MSFT commented on #41778
@robert4os
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 15:58] MicahMcKittrick-MSFT commented on #35026
@axelgMS I think this could be good to add to the doc, however we should also provide info on how to correct it and how to identify if this happens from a customer standpoint (Without opening a support ticket). Could you provide some more details on that? Also, if you want to submit a PR yourself I am happy to review and sign off on it.

[2019-10-30 15:58] ChiragMishra-MSFT commented on #41760
@ashemedai Thanks for bringing this to our notice. The issue has been fixed and the changes will be reflected in production very soon.

[2019-10-30 15:58] #41760 closed

[2019-10-30 15:59] ChiragMishra-MSFT commented on #41758
@mdehaas Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-30 16:01] ChiragMishra-MSFT commented on #41757
@roofiq Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-10-30 16:03] MGoedtel commented on #41737
Thanks for bringing this to my attention.  It looks like an editor butchered what I originally had so I totally re-wrote the details regarding the agent data when gateway loses connectivity with the service.  The PR just merged and the article update should go live later today. #please-close

[2019-10-30 16:03] #41737 closed

[2019-10-30 16:05] MicahMcKittrick-MSFT commented on #41764
@bartlannoeye thanks for this find. I commented on the PR you submitted and will have the author sign off. I will close this and we can work off the PR. But you are correct and we need to remove the quotes.

[2019-10-30 16:05] #41764 closed

[2019-10-30 16:10] philippeboyd opened #41779 "Is there a lock for the manifests updates?"
Say we have 2 users editing the manifest at the same time. User 1 updates then user 2 updates. The modifications done by user 1 will not be taken into account and will get overwritten by user 2's edits.

Can there be some kind of lock or even an etag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-74

[2019-10-30 16:17] bandersmsft commented on #41753
@jtuliani I'm investigating this with the engineering team. When I have more information, I'll reply here and update the articles for clarity, if needed.

[2019-10-30 16:21] laakness opened #41780 "Custom Role not able to use same actions from Backup Contributor"
I run the following command to retrieve the list of actions that a Backup Contributor has.

az role definition list --name "Backup Contributor"

I copy out all of the actions and paste them into a new Custom Role but receive the following error when creating it:

'Microsoft.RecoveryServices/Vaults/backupManagementMetaData/*' does not match any of the actions supported by the providers.

I'm able t

[2019-10-30 16:22] ssteinbauer opened #41781 "Azure Managed IR "Compute Infrastructure""
This page states "Azure Integration runtime has properties related to Data Flow runtime, which defines the underlying compute infrastructure that would be used to run the data flows on.". Existing documentation does not make it clear how to do so. Neither `[How to create and configure Azure Integration Runtime](https://docs.microsoft.com/en-us/azure/data-factory/create-azure-integration-runtime)`

[2019-10-30 16:33] shashishailaj commented on #41727
@KitSkin Thank you for pointing this out. We will have this reviewed by the content authors and fixed .

[2019-10-30 16:55] badbob001 opened #41785 "Convert the avset separate and before the disk conversion?"
The steps seems to indicate that the availability set can be converted to aligned while the VM is still running. So does this mean I can convert the availability set ahead of time with no outage to the VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018

[2019-10-30 16:57] MicahMcKittrick-MSFT commented on #41785
Thanks for the question! We are investigating and will update you shortly.

[2019-10-30 17:08] TaniguchiSantos opened #41786 "How to enable multi-turn in azure bot"
Hello everyone my name is Taniguchi.

i've created a QnA Maker, a knowledge base and them associated with a bot.

I've tested but the only thing missing is the multi-turn, by the documentation i ve to add a code in my bot to enable.

what is the code i have to add to enable multi turn ?

[2019-10-30 17:10] shashishailaj commented on #41746
@stoepa Thank you for the feedback . We will investigate and update this thread further.

[2019-10-30 17:17] kjulson opened #41787 "All Devices near unusable"
The point of this page is to find a device yet there is there is no ability to filter, sort, or export to facilitate finding a device. "Devices - Audit logs" has a exactly what "All devices" needs. Sorting by a column would be useful. An export option would allow us to do it ourselves in Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-30 17:20] #40697 closed

[2019-10-30 17:25] MarileeTurscak-MSFT commented on #41772
@JustinGrote
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 17:25] eamonoreilly commented on #41762
For consumption, you can set this PSWorkerInProcConcurrencyUpperBound  app setting to perhaps around 10 (depending on the load of the PS script), and then let horizontal scaling kick in to process any additional items that might be queued (storage queues or http). I think this would start to give you the best of both worlds where you gain more efficiency on the worker but also take advantage of th

[2019-10-30 17:26] svangeti opened #41790 "Does VNet Integration with Linux App service plan (Standard) work?"
I am not able to make VNet integration feature working for Linux App service plan (Standard) in same region. I know this feature is in PREVIEW still, but it's working fine with Windows App service plan but not working with Linux App service plan.
I am seeing this error on the logs:
`Error: connect ECONNREFUSED 127.0.0.1:2222Error: getaddrinfo ENOTFOUND Couldnt connect to main site container Couldn

[2019-10-30 17:45] SaurabhSharma-MSFT commented on #41685
@marckassay We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-30 17:48] VikasShivhare opened #41791 "Azure AD automatic user provisioning - Not getting attribute"
Hi,

We are implementing Azure AD for user provisioning and configured WD and AD based on the information in the link.

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workd…

Everything is working fine except for one attribute to get the Location Hierarchy.

We can see the Location hierarchy in WD studio when we run get_worker API from the tester using the ISU. We have validated

[2019-10-30 17:54] VikasShivhare opened #41792 "Azure AD automatic user provisioning - Not getting attribute"
Hi,

We are implementing Azure AD for user provisioning and configured WD and AD based on the information in the link.

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workd…

Everything is working fine except for one attribute to get the Location Hierarchy.

We can see the Location hierarchy in WD studio when we run get_worker API from the tester using the ISU. We have validated

[2019-10-30 18:01] jwargo commented on #41686
@bychkov you're right, that's an error. It should be `AppleNotification` not `ApnsNotification`

I'll fix the docs immediately.

@SnehaAgrawal-MSFT please close.

[2019-10-30 18:06] SaurabhSharma-MSFT commented on #41546
@kostrse It should be unique across multi tenant environment.  Are you seeing any issues with this ? Yes, sub with tid will work as a unique identifier.

[2019-10-30 18:07] FrankHu-MSFT commented on #41792
@VikasShivhare Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 18:14] cmmdesai commented on #41792
@VikasShivhare - the connector uses v21.1 of the Workday Get_Workers API. Can you confirm that when you tested the XPATH with this version of Workday API, you are able to see the value in Workday Studio? We are aware that recent versions of the Workday Get_Workers API show new attributes that our connector is not able to retrieve today.

[2019-10-30 18:22] MicahMcKittrick-MSFT commented on #41764
@bartlannoeye just a heads up, I missed this earlier but you are running in PowerShell. The commands are written for a CLI bash environment. This is stated across nearly all the ACI documentation. We are looking at better explaining this in the troubleshooting guide but the commands are written are actually correct.

CC @dlepow

[2019-10-30 18:24] KevUdeM opened #41794 "UserProfile.json"
Hi,
Could you explain a little more how that file "UserProfile.json " is supposed to be generated ?
"UserMigration.exe 3 {email address}" returns the information but not in JSON
Many thanks
Kev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ff

[2019-10-30 18:28] MonikaReddy-MSFT commented on #41461
@helayoty , Thanks again for bringing this to our attention!
We have updated the doc with PR [(https://github.com/MicrosoftDocs/azure-docs/pull/41593
)](url)
We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-10-30 18:28] #41461 closed

[2019-10-30 18:31] #41768 closed

[2019-10-30 18:38] Kamyar5353 opened #41795 "Web Activity in an Until loop seems to be not working properly"
Thanks for the update. on #27481
I just checked and I confirm the header's values returns. But, I have a use case which it seems there is an issue. There is an API in the azure storage for listing the dfs directory and we can set a MAX for the returning file names, and one attribute in header response needs to be set in the url param of the next call. I put it in an Until loop and after the first

[2019-10-30 18:41] smoms commented on #41654
@rthorn17 thanks

[2019-10-30 18:42] KranthiPakala-MSFT commented on #41664
@RudyEvers Could you please confirm if you were able to see the Basic authentication option before 10/29/2019? And also were there any existing pipelines with Web Activity in Git Mode having Basic Auth setup and working before 10/20/2019 or is this the first time you are trying to use Basic Auth in Web Activity of your Data factory with Git mode enabled?

[2019-10-30 18:42] Kamyar5353 opened #41796 "Web Activity in an until loop seems to be not working properly..."
Thanks for the update. on #27481
I just checked and I confirm the header's values returns. But, I have a use case which it seems there is an issue. There is an API in the azure storage for listing the dfs directory and we can set a MAX for the returning file names, and one attribute in header response needs to be set in the url param of the next call. I put it in an Until loop and after the first

[2019-10-30 18:58] Grace-MacJones-MSFT commented on #41777
Hi @danroot, thanks for your feedback! We will review and update this doc accordingly.

[2019-10-30 19:00] Grace-MacJones-MSFT commented on #41777
@HeidiSteen, can you please verify if the header should be  "Accept" not "Content-Type".

[2019-10-30 19:03] TravisCragg-MSFT commented on #41756
@festivus I am following up now to see if there is a date or time range that I can give.

[2019-10-30 19:07] douglasism commented on #41539
This turned out to be user error, I think. Somehow, the VM was created in my Azure Default Directory, and not in the sandbox. I don't recall the exact steps the first time I went through this tutorial, but when I started over fresh, I successfully completed it with problems.

[2019-10-30 19:07] #41539 closed

[2019-10-30 19:07] Mo-GH opened #41797 "Faild com.microsoft.azure.sdk.iot.device.exceptions.ModuleClientException: java.io.IOException: Broken pipe at com.microsoft.azure.sdk.iot.device.ModuleClient.createFromEnvironment(ModuleClient.java:252)"
Hello,

i have problem with deploy custom model Java to IoT Edge, i deployed it on different hardware like raspberry pi 3 and 4 and Linux VM Ubuntu from Microsoft but i still have this error :

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder". SLF4J: Defaulting to no-operation (NOP) logger implementation SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further detai

[2019-10-30 19:09] TravisCragg-MSFT commented on #41756
@festivus App Gateway SSL Termination with Azure Key Vault Certificates will be Generally available sometime next month!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-30 19:09] #41756 closed

[2019-10-30 19:12] palma21 commented on #41580
https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2019-10-30 19:12] asears opened #41798 "Node Selector incorrect for later versions of AKS"
Running in AKS v1.15.4, the labels for node selectors have changed.

beta.kubernetes.io/os=linux should be kubernetes.io/os=Linux

Note Linux is case sensitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [

[2019-10-30 19:16] eringreenlee commented on #41701
Please view the regional roadmap by visiting https://azure.microsoft.com/en-us/global-infrastructure/services/?products=active-directory-ds

[2019-10-30 19:18] VikasShivhare commented on #41792
@cmmdesai , I have tested the v21.1 as well in the studio and there is no change on that. I am still getting the Location_Hierarchy in studio on the same xpath. Here is a node for the location hierarchy in the response.
                         <wd:Worker_Organization_Data>
                                <wd:Organization_Reference wd:Descriptor="Richmond">
                                    <wd:

[2019-10-30 19:26] #41404 closed

[2019-10-30 19:27] KranthiPakala-MSFT commented on #41664
@RudyEvers I have checked with internal team and received a confirmation that Basic and ClientCertificate authentication types are only available in Data factory "Live Mode" and not in "Git Mode". This is a know limitation.

Having said that , if the user selects Basic or ClientCertificate in Live Mode, then they cannot publish the pipeline to Git. The current available option is to use MSI auth t

[2019-10-30 19:36] jaszymas commented on #38644
I'd like share on this thread that we have just published a new version of the Key Vault provider that includes updated dependencies (Microsoft.Azure.KeyVault (>= 2.0.6 && < 4.0.0)). Please, see https://www.nuget.org/packages/Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider/2.2.0.

[2019-10-30 19:37] VanMSFT commented on #38644
Thanks @jaszymas!

[2019-10-30 19:37] twinharbor commented on #38644
@jaszymas wonderful! I'll plan to try it and get it all on the latest version!

[2019-10-30 19:40] CeciAc opened #41799 "about the -TypeHandlerVersion "2.0";"
@Tanharuki commented on [Wed Oct 30 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2892)

When I run this command on Powershell,it showed me error like this :
Set-AzVMExtension : A parameter cannot be found that matches parameter name 'TypeHandlerVesion'.

Set-AzVMExtension -ResourceGroupName "testforSQL" `
  -Location "<VMLocation>" -VMName "<VMName>" `
  -Name "SqlIaasExtension"

[2019-10-30 19:42] rajkumar-rangaraj opened #41800 "Modify program.cs for 3.0"
3.0 changed templates so above examples may not work.

public class Program
    {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilder(string[] args) =&gt;
            Host.CreateDefaultBuilder(args)
                .ConfigureWebHostDefaults(webBuilder =&gt;
                {

[2019-10-30 19:43] CeciAc opened #41801 "Azure portal path not found"
@ezalex commented on [Wed Oct 30 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/584)

I see no Azure Active Directory &gt; Authentication methods &gt; Authentication method policy (Preview) path in the portal.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: ee6ac70d-5853-

[2019-10-30 19:46] gottagetgit opened #41802 "Breaking changes warning when using "New-AzApplicationGatewayBackendHttpSettings""
The alias "New-AzApplicationGatewayBackendHttpSettings" will be removed in an upcoming release. The proper cmdlet is "New-AzApplicationGatewayBackendHttpSetting".

So this article needs to be updated to remove the "s" at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f22d6c-9de3-589f-77b8-62179e2b6baf
* Vers

[2019-10-30 19:48] cwolansky-mm opened #41803 "Windows 10 IoT Enterprise as a supported platform"
Are there any plans to include Windows 10 IoT Enterprise as a supported platform for Azure Security Center for IoT agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55630d0-1691-1c86-60b4-8d37de1e09e1
* Version Independent ID: c8989928-ecd2-95f3-c333-8eea1f4760d0
* Content: [Select and deploy Azure Security Center

[2019-10-30 19:48] KevUdeM opened #41804 "Failure,The user name in the uploaded file is not valid..."
Hi,

I was wondering why the "bulk create" does not let us create users other than verified domain and b2ctenant.onmicrosoft.com ?
For example if I need to provision users like @hotmail.com or @outlook.com ?

I was able to create them using another method :
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-user-migration#feedback

Thanks

---
#### Document Details

⚠

[2019-10-30 19:49] dkamstra commented on #41555
It's not clear to me how you've concluded that the issue is an IP address missing from our list. I suggest you open a support case and work with Azure's Customer Support to trouble-shoot this issue.

[2019-10-30 19:50] mmacy commented on #39822
Hi @jeeszacharia, apologies for the delay in response, this issue seems to have slipped through the cracks.

There is no claim resolver for user agent, you'll have to do that in your application. Or, if you need to do it as part of the B2C user journey, a workaround is:

1. Use JavaScript to extract the user agent
1. Insert the user agent string into a B2C-rendered text box that you hide using CSS

[2019-10-30 19:50] SaurabhSharma-MSFT commented on #41701
@eringreenlee thank you.

[2019-10-30 19:51] nzthiago opened #41805 "This page is out of date and misses binding examples for HTTP Trigger input"
A lot of the C# examples in this page are for v1. It is missing examples for Functions v2 in C#, Python, Java. The page also misses to discuss considerations and examples for how to map a query parameter or JSON body field to input bindings (like, flowing id from query param or body from an HTTP trigger into an input CosmosDB or Table storage binding to retrieve a value or values)

---
#### Docume

[2019-10-30 19:57] galgolan commented on #41671
Sorry for not mentioning, but i am referring to the branding guidelines described here: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps

[2019-10-30 19:57] jpconnock commented on #19592
As a best practice, it would be great to have official documentation to cover this use case.  However, the linked article does a good job of walking the user through the required steps.  I'll leave the article as it is, but am willing to add a link to an official article if one is found.  Thanks!

#please-close

[2019-10-30 19:57] #19592 closed

[2019-10-30 19:57] craigshoemaker commented on #41805
Thanks, @nzthiago! I'll work with you and others on the Product Team on these requests via the internal system.

#please-close

[2019-10-30 19:57] #41805 closed

[2019-10-30 19:59] bartvermeersch opened #41807 "Existing MS accounts with gmail address"
A lot of guest users have already created a MS account using their Google email address.

When trying to test this scenario myself, I was presented with a dialog saying I "was already logged in as name@gmail.com would you like to switch to name@gmail.com." Since both addresses are identical, this will create a lot of confusion on the end user and service desks when troubleshooting.

Will this be s

[2019-10-30 20:03] bartvermeersch commented on #41807
In addition, when trying to switch, as suggested by the dialog, I got an error:

Inwisseling van uitnodiging is mislukt
Er is een fout opgetreden. Probeer het binnen enkele ogenblikken opnieuw.

(Invite acceptation failed, try again later)

RequestId: 54469cfc-0bd8-48a7-a35b-fdef35e1b73d
Correlation Id:b473f230-625c-4887-ae5f-724904cde8cc
Timestamp:2019-10-30 20:00:26Z

[2019-10-30 20:06] FrankHu-MSFT commented on #41761
@IB38 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:06] FrankHu-MSFT commented on #41787
@kjulson Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:07] FrankHu-MSFT commented on #41794
@KevUdeM Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:07] FrankHu-MSFT commented on #41801
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:07] FrankHu-MSFT commented on #41804
@KevUdeM Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:07] FrankHu-MSFT commented on #41807
@bartvermeersch Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:08] FrankHu-MSFT commented on #41779
@philippeboyd Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-30 20:15] FrankHu-MSFT commented on #41056
Hey @jaffadog

The schema extensions being referred to for application object schema extensions can be found here :
https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-directory-schema-extensions

I apologize for the confusion in regards to the optional claims vs custom claims mapping. For your scenario, it's going to make the most sense to utilize custom cla

[2019-10-30 20:19] JasonFreeberg commented on #41426
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94166

[2019-10-30 20:26] MicahMcKittrick-MSFT commented on #41799
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 20:27] MicahMcKittrick-MSFT commented on #41798
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 20:31] mbinnix opened #41809 "Pricing for serverless"
My portal page lists the price for serverless as:  $0.000072/vcore-second
I am a paygo customer with no hybrid licensing or other deals in play.

The pricing page https://azure.microsoft.com/en-us/pricing/details/sql-database/single/
lists the price as $0.0001450/vCore-second, twice the price listed on the portal.

BUT the pricing page also lists a footnote this price is preview only and will go u

[2019-10-30 20:32] SnehaGunda commented on #41676
@realolap Thanks for bringing to our attention. I updated the doc to remove that statement.  When using the SDKs, you can generate a random GUID and assign it to the id property.

We will close this issue if there aren't further questions.

#please-close

[2019-10-30 20:32] #41676 closed

[2019-10-30 20:33] hiraldesai opened #41810 "A bit of a catch 22 with certificate verification?"
* I have an app service for which I want to use app service certificate.
* I create a new certificate and finish Step 1 - Store (designate a keyvault)
* I am on Step 2 - Verify and I choose to verify using App Service Verification method
* I create a CNAME for the appservicename.azurewebsites.net and then add custom domain matching the cert subject to the App Service
* I click on the newly assigne

[2019-10-30 20:36] TravisCragg-MSFT commented on #41707
fixed with [https://github.com/MicrosoftDocs/azure-docs-pr/pull/94158](https://github.com/MicrosoftDocs/azure-docs-pr/pull/94158)

@meatloaf111 Thanks for the feedback! I have updated the doc, and changes should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussio

[2019-10-30 20:36] #41707 closed

[2019-10-30 20:38] abbodh commented on #40089
I am getting the same issue while performing the deployment using ARM template.

[2019-10-30 20:40] NavtejSaini-MSFT commented on #41809
@mbinnix We are checking this and we will get back to you.

[2019-10-30 20:41] markjbrown commented on #30853
Yes, if you are using our latest ARM version then this has been fixed.
https://docs.microsoft.com/en-us/azure/templates/microsoft.documentdb/2019-08-01/databaseaccounts

Thanks everyone for your patience. We are working on updating our docs and sample templates over the next week or two.

[2019-10-30 20:43] dreck410 opened #41811 "Examples How these Occur in Bills"
It would be nice if there was some examples of how these occur in bills and how to understand them.

Looking at my Bill i have a reservation of Size F4s which is a ratio of 2 and it's applied to a Virtual machine of size F8s Ratio of 4. The bill says it has a "resource_quantity of 1 hour"
Is that 1 hour amount in the context of the reservation or of the virtual machine? or is it one real world hou

[2019-10-30 20:49] MashaMSFT commented on #28745
Hi @omnimose , thanks again for reaching out, and my apologies for the delay in response. Typically when IP address is set, a subnet mask is assigned so that a VM can resolve network ID and host ID portions of an IP address. IP address and subnet mask go hand in hand and setting it to 255.255.255.255 in Always on doc is essentially  forcing one to one mapping of load balancer IP with cluster IP.

[2019-10-30 20:54] MicahMcKittrick-MSFT commented on #41666
@imlight I am not sure I fully understand what you are trying to achieve.

What exactly are you looking to do with the automatic resource group that is created? You shouldn't have to input anything regarding that resource group as it is automatic on the backend. Can you elaborate on your scenario and what the end goal is?

[2019-10-30 20:56] MicahMcKittrick-MSFT commented on #41667
You should also be able to use the nano version as it falls under the 2016 sku.

[2019-10-30 20:57] gottagetgit opened #41812 "Script missing continuation character (`) causes error"
The script below is missing a backwards single quote (`) at the end of one of the lines.

Set-AzVmssStorageProfile $vmssConfig `
    -ImageReferencePublisher MicrosoftWindowsServer `
    -ImageReferenceOffer WindowsServer `
    -ImageReferenceSku 2016-Datacenter `
    -ImageReferenceVersion latest
    -OsDiskCreateOption FromImage

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-30 20:57] MicahMcKittrick-MSFT commented on #41759
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-10-30 20:57] #41759 closed

[2019-10-30 20:58] TravisCragg-MSFT commented on #41802
fixed via [https://github.com/MicrosoftDocs/azure-docs-pr/pull/94172](https://github.com/MicrosoftDocs/azure-docs-pr/pull/94172)

@gottagetgit Thanks for the feedback! I have adjusted the cmdlet, and the doc should reflect the changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-10-30 20:58] #41802 closed

[2019-10-30 20:59] MicahMcKittrick-MSFT commented on #41785
@badbob001 technically yes. I don't see much  use case for converting the AV set unless you are also converting the disks right after. But technically you could convert the AV set then later convert the VMs. The VMs will need to be shutdown for the migration though as mentioned in the doc.

[2019-10-30 20:59] dlepow commented on #41476
@Herr-Sepp - Thanks very much for the details and YAML samples. We'll take a look.
#assign:@macols

[2019-10-30 20:59] PRMerger20 commented on #41476
macols is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-30 21:00] gottagetgit commented on #41812
The code didn't paste properly.

[code]

The "-ImageReferenceVersion latest" line needs to end in a backwards quote.

[2019-10-30 21:01] RudyEvers commented on #41664
Hi @KranthiPakala-MSFT

Thank you for sorting things out. It is a pitty that basic authentication is not supported in Git mode. For now I changed my environment back to Live Mode and will use the ARM export to deploy it to my production environment. Hopefully it will be available in the near future.

After working with SSIS for years, I must say they are doing a really good job with ADF.

[2019-10-30 21:05] MicahMcKittrick-MSFT commented on #41798
@asears thanks for this. Version 1.15.4 is still in preview. The default version when deploying an AKS cluster is 1.13.11

![image](https://user-images.githubusercontent.com/32313503/67898778-34817200-fb1e-11e9-9515-e83675d49542.png)

When the default version if changed in AKS we will also update this doc.

CC @zr-msft

[2019-10-30 21:05] #41798 closed

[2019-10-30 21:07] FrankHu-MSFT commented on #41615
By using new-azureadapplicationkeycredential you can do custom key signing by creating a symmetric signing key: https://docs.microsoft.com/en-us/powershell/module/Azuread/New-AzureADApplicationKeyCredential?view=azureadps-2.0

In addition to that, currently the MSAL library doesn't have any documentation on how to add the appID to the URL as a query parameter.

You should be able to use the  .With

[2019-10-30 21:07] #41615 closed

[2019-10-30 21:08] FrankHu-MSFT commented on #41615
we will go in and make those changes to the docs accordingly as well.

[2019-10-30 21:08] RyanHill-MSFT commented on #41537
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-30 21:08] #41537 closed

[2019-10-30 21:11] vikaskumawat80 opened #41813 "How to do capacity planning for Azure Search service"
We are building an application that will use Azure Search service. Azure Blobs will have approx 10TB of data with thousands of file with different sizes. We are not sure with which SKU/Size we should start with? The limitation of not being able to switch between the sizes (S1 to S2) is forcing us to forecast the right size. Can someone help me to estimate/calculate the size for Azure Search servic

[2019-10-30 21:13] MicahMcKittrick-MSFT commented on #41799
@tanharuki what version of Az are you running?

You can check by running: `Get-InstalledModule -Name Az -AllVersions | select Name,Version`

You can also update to the latest version by running `Install-Module -Name Az -AllowClobber -Force`

the `-TypeHandlerVersion` is present in the latest version of Az so likely you have an older version and need to update it.

I will close this but if you stil

[2019-10-30 21:13] #41799 closed

[2019-10-30 21:16] #41657 closed

[2019-10-30 21:23] TravisCragg-MSFT commented on #41536
@silverl I will re-open and assign this to the author for additional clarity on certificates and cipher suites.

[2019-10-30 21:28] jaffadog commented on #23651
I have created:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38926399-permit-otp-for-users-who-do-have-a-corresponding-a

please upvote!

[2019-10-30 21:38] bwren commented on #21354
We have an article being written right now that should answer this question.  Expecting to have it published in next few days.  I'll post a link here when we have it.

[2019-10-30 21:47] dsudduth commented on #33821
@mlearned, @MicahMcKittrick-MSFT curious if there is any movement on this. My company is attempting to adopt AKS and we're finding it challenging to find the necessary information to get up and running at a production level.

[2019-10-30 21:51] SamaraSoucy-MSFT commented on #41800
@rajkumar-rangaraj Thanks for the feedback. I will assign this to the doc author to make the required updates.

[2019-10-30 22:03] MicahMcKittrick-MSFT commented on #41811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-30 22:05] FrankHu-MSFT commented on #41761
Hello @IB38 thanks for providing your feedback in regards to this issue.
Max age is max active time, is the Max Active Time.
i.e. after you receive the refresh token, the max active time is the amount of time you have to refresh the token. Once the age has passed, then the item has expired.

Thanks for letting us know about this, we'll add in some clarifications in regards to this into the docs.
@

[2019-10-30 22:22] patrickjlee commented on #40975
Sorry, but your explanation doesn't help, e.g.
"As you know that Azure AD B2C is a service, which when gets deployed, it creates another Azure AD Tenant specifically for B2C usage and similarly in the backend another Azure AD directory gets created, which holds information specific to the B2C tenant. ".
So the service creates two Azure AD directories, each of which are "specifically for B2C usage

[2019-10-30 22:27] MicahMcKittrick-MSFT commented on #41811
@dreck410 we have quite a bit of documentation on reserved instances

![image](https://user-images.githubusercontent.com/32313503/67903767-b3c87300-fb29-11e9-9750-18701018eb4f.png)

Including how the reservation is applied
https://docs.microsoft.com/en-ca/azure/billing/billing-understand-vm-reservation-charges

I have reviewed all this documentation before and it seems to be all the info is provid

[2019-10-30 22:30] patrickjlee commented on #40961
@jmprieur Re the suggestion that a contribution would be welcome, believe me I *have* spent hours and hours trying to get Dot NET CORE 3.0 to work (either as a WebApi protected by AD or ADB2C), or as a client api website trying to call a WebApi protected by AD or ADB2C, without success.
This is immensely frustrating as without being secured, I feel the current DOT NET 3.0 templates for WebApi or W

[2019-10-30 22:32] roberts2727 opened #41818 "More examples"
Please provide an example of using a runbook to create a new container instance by calling a resource manager template from a storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ea5e93-b220-57c1-b011-865b7da3c5a6
* Version Independent ID: 179a79da-0e12-716e-725e-9db6b8f20282
* Content: [Deploy an Azure Res

[2019-10-30 22:35] LastTribunal opened #41819 "This document is outdated, obsolete, and seemingly abandoned by MS.."
When was the last time someone saw "Connection String" or  "user name" anywhere inside the Cosmos Web Console??
Also, when was the last time someone at MS tried to connect to Cosmos using Studio 3T..probably a year ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d6cd84-d0c4-eea9-c2c6-e6f3be91dad8
* Version Indepe

[2019-10-30 22:48] dtkuo opened #41820 "Please update documentation to reflect latest Azure portal UI experience"
Please update the documentation with latest image and language to reflect recent portal UI update that asks users to create diagnostic settings as the default action. What this documentation is describing is now considered a "legacy" way of exporting logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5a53f9b-0235-a2

[2019-10-30 22:50] TravisCragg-MSFT commented on #41812
fixed via [https://github.com/MicrosoftDocs/azure-docs-pr/pull/94209](https://github.com/MicrosoftDocs/azure-docs-pr/pull/94209)

@gottagetgit thanks for the feedback! I have added the character, and the changes should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2019-10-30 22:50] #41812 closed

[2019-10-30 22:55] MashaMSFT commented on #41637
Hi @MasayukiOzawa , thanks for bringing this to our attention! I've submitted a doc change to specify that the Az.SqlVirtualMachine module be installed manually and separately. This change should be live tomorrow.

Please let us know if there is anything else we can help you with? Otherwise, we will proceed with closing out this Git Issue in a few business days.

Thanks for making our docs better!

[2019-10-30 23:00] Mike-Ubezzi-MSFT commented on #41654
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-30 23:00] #41654 closed

[2019-10-30 23:01] edburns opened #41821 "spring-cloud-quickstart-launch-app-maven.md has incorrect config url specified."
Looking at https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-quickstart-launch-app-maven#set-up-your-configuration-server I see it states:

[code]

I don't know if this URI is correct, because that's the URI to the PiggyMetrics app itself, not the URI to a set of config files, such as https://github.com/xscript/piggymetrics-config.

If the existing URI is indeed correct, please clos

[2019-10-30 23:05] TravisCragg-MSFT commented on #40941
@sajithvasu My apologies for this taking a long time, but there are some strange issues here(as you have already discovered). This will take some time to track down, fix, and the docs will need to be updated with limitations & best practices. I will post any updates here as soon as I have them.

[2019-10-30 23:07] Mike-Ubezzi-MSFT commented on #41671
@galgolan Thank you for this additional information. I am going to have the document team evaluate this and provide an update as appropriate.

[2019-10-30 23:13] #41761 closed

[2019-10-30 23:13] pemj commented on #41677
Had a good conversation with Travid out of band, and a coworker of mine got this handled earlier today, will paste in the solution when I've got a minute. Maybe we should add some of the details to the section of the azure cli reference?

[2019-10-30 23:15] rohinkoul commented on #41669
@alainvanhoof you should run this on a virtual machine with internet access or on a local laptop/machine. The script generates a transcript file that can't be saved in the cloud-shell and hence the error.  Also, you can omit the -AllowPrerelease parameter.

[2019-10-30 23:16] BakkerJan opened #41822 "PTA agent on ADConnect server"
What is the reason that you must not pick the ADConnect server for your first agent?
Is this because you cannot change the user sign-in tot PTA afterwards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Content: [Azure

[2019-10-30 23:18] pemj commented on #41677
Right, so it turns out, the way to do it is to create the traffic manager profile, give it an external endpoint, get its resourceID like so:
[code]
Then use the record-set create command, like so, passing along the traffic manager's resourceID like so:
[code]

[2019-10-30 23:32] FrankHu-MSFT commented on #41779
Hello @philippeboyd there is no lock for the application manifest if one person is editing, it won't stop another person from editing it.

If you're interested in this feature I suggest filing it against the product feedback section which can also be found at the bottom of the doc page. https://feedback.azure.com/forums/169401-azure-active-directory

@philippeboyd Please let us know if there are a

[2019-10-30 23:34] FrankHu-MSFT commented on #41787
Hello @kjulson can you clarify what your ask is? You want the ability to sort and filter devices on this doc page? Or are you talking about the Azure Portal?

[2019-10-30 23:35] femsulu commented on #41776
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-30 23:36] sajithvasu commented on #40941
@TravisCragg-MSFT: Thanks for checking this. I will wait for your response. I will clean-up some of my older comments to keep it generic to all since the issue has been identified.

[2019-10-30 23:41] femsulu commented on #41818
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-30 23:42] femsulu commented on #41820
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-30 23:43] kjulson commented on #41787
Hi @FrankHu-MSFT Odd clarification question but yes, the Azure Portal > All Devices that this doc page provides help on.

[2019-10-30 23:44] JasonFreeberg commented on #41426
@SnehaAgrawal-MSFT This is fixed

[2019-10-30 23:45] femsulu commented on #41780
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-30 23:51] jeeszacharia commented on #39822
Thanks for the reply. Yes i have already implemented it through B2C user journey using JS and CSS.

[2019-10-30 23:52] cijothomas commented on #41800
@mrbullwinkle Can you take care of this? The issue raised by Raj has the solution as well.

[2019-10-30 23:54] anosov1960 commented on #34315
This thread seems to be causing some confusion so let me clarify.
First, the choice between RA-GRS, LRS and ZRS only applies to backup storage. RA-GRS enables the ability to restore from the read-only blob endpoint (geo-restore) even if the region goes down and you don't have database geo-replication set up. With zone redundant configuration the likelihood of the entire region going down is very s

[2019-10-30 23:56] FrankHu-MSFT commented on #41787
Hello @kjulson I see, so the github issues are for issues against the docs. If you're interested in submitting feedback in regards to the product please submit it here :
https://feedback.azure.com/forums/169401-azure-active-directory

![image](https://user-images.githubusercontent.com/6366013/67907275-9fd63e80-fb34-11e9-8690-d867b407406b.png)

Please let us know if there are anymore questions with

[2019-10-30 23:59] FrankHu-MSFT commented on #41804
hello @KevUdeM this feature is currently in preview. The product teams are looking into implementing these features. Please post this feedback against the product feedback forums which can be found here : https://feedback.azure.com/forums/169401-azure-active-directory

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue

[2019-10-31 00:00] markti opened #41825 "{"code":"Unauthorized","message":"Authentication is required to access the resource."}"
Am I missing something? I pulled up Postman and attempted to create a POST request based on this article but there is no guidance on authorization. Shouldn't there be some short of Auth Token that needs to be added? If so how is this done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdefe38-e71e-4e84-d504-a47351bc1

[2019-10-31 00:01] SnehaGunda commented on #41100
@iRaindrop would you be interested in submitting a PR to update the doc? You can click on the edit button on the right-hand corner update the doc and propose a change. We can review and merge accordingly.

[2019-10-31 00:04] iRaindrop commented on #41100
sure - will do

[2019-10-31 00:09] Alberto-Vega-MSFT commented on #41774
Hi @smoms,  Thanks for reaching out again. I'm not sure If you are referring to these [use cases](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway#use-cases) if you are the answer is all of the ones listed on bullet points.  Plus:
A gateway that does **protocol translation can also perform** edge analytics, device isolation, traffic smoothing, and offline support to existing dev

[2019-10-31 00:09] KranthiPakala-MSFT commented on #41664
@RudyEvers Thanks for sharing the feedback and sincere apologizes for the inconvenience. Hopefully this fix should be out soon.

Based on this update, I will go head and close this issue. If you have any further query, please feel free to reopen the issue and tag me in your reply. We will be glad to assist you.

Thank you.

[2019-10-31 00:09] #41664 closed

[2019-10-31 00:14] kjulson commented on #41787
I am interested in products that work properly, is Microsoft? Part of a product not working properly to the point of being mostly useless is not a “feedback” issue. It is a design issue. It doesn’t seem Microsoft is interested in resolving those.

From: Frank Hu <notifications@github.com>
Sent: Wednesday, October 30, 2019 6:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kar

[2019-10-31 00:14] Mike-Ubezzi-MSFT commented on #41601
@jakelumetta Thank you for this additional detail. I have brought this to the attention of the content team to evaluate and provide some guidance.

[2019-10-31 00:15] FrankHu-MSFT commented on #41807
hello @bartvermeersch this feature is currently in preview. Please post this feedback against the product feedback forums which can be found here : feedback.azure.com/forums/169401-azure-active-directory and if there's enough community engagement, the product team will determine whether or not to put this on the roadmap.

These github issues are meant for problems with the docs, please submit feed

[2019-10-31 00:26] FrankHu-MSFT commented on #41794
Hello @KevUdem this information can be found in the repo here :
https://github.com/azure-ad-b2c/user-migration/tree/master/pre-migration

In particular the usermigration.exe code is found in program.cs on the line below.
https://github.com/azure-ad-b2c/user-migration/blob/master/pre-migration/source-code/AADB2C.UserMigration/Program.cs#L47

It essentially sends a Microsoft Graph call checking if t

[2019-10-31 00:27] mrbullwinkle commented on #41800
I will get this added, thank you!

[2019-10-31 00:56] ankitvijay opened #41827 "Clarification on Documentation"
- Could you please elaborate on the reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537a1f85-e37a-0de0-0423-1423e695165c
* Version Independent ID: 41516bb7-5315-ce14-9394-78dc6a14d854
* Content: [Index an Azure Cosmos DB data source - Azure Search](https://docs.microsoft.com/en-us/azure/search/search-howto-index

[2019-10-31 01:07] Alberto-Vega-MSFT commented on #41620
@Jcardif I'm assigning this issue to @tysonn  to evaluate your request. Thanks again for reaching out!

[2019-10-31 01:12] MartinJaffer-MSFT commented on #41795
Hello @Kamyar5353  and thank you for your inquiry.  I see this is a duplicate of #41796 .  If there are no objections, I will close this one, and use the other.

[2019-10-31 01:12] #41795 closed

[2019-10-31 01:14] marrim-myob commented on #27326
Hi @Mike-Ubezzi-MSFT , I have question on lifecycle status , I have number steps to be run as part of the job ,what happens if step 1 fails does it will not continue for other tragets in the targetgroup.

[2019-10-31 01:18] Mike-Ubezzi-MSFT commented on #41786
@TaniguchiSantos Thank you for your inquiry. Can you please provide a tutorial or any documentation that you are attempting to follow? As it stands, this is a perfect question for the [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCognitiveService) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-cognitive-services) forums.

[2019-10-31 01:27] MartinJaffer-MSFT commented on #41796
Hello @Kamyar5353  and thank you for your inquiry.  I see this is duplicate of #41795 .  I will close #41795 , and use this one (#41796).

[2019-10-31 01:29] Mike-Ubezzi-MSFT commented on #41791
@VikasShivhare Thank you for reaching out. Can I confirm that you are using the SSO with Workday tutorial? With this information I can get this issue to the appropriate team to assist you further. Thank you!

[2019-10-31 01:30] yucwan commented on #41821
Looks a mistake to me as well. Found that other Quickstarts have this problem as well. https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-launch-from-source don't even have instructions on config server. Adding @yaojinyang to channel the issue to docs team.

[2019-10-31 01:30] MartinJaffer-MSFT commented on #27481
Thank you for the update @Kamyar5353 .  I see you have created a new issue out of your last comment here.  As the original ask of this issue has been resolved, I will keep this issue closed and work with you on the new one (#41796).

[2019-10-31 01:53] mmacy commented on #39822
Thanks @jeeszacharia, I'll request that this issue be closed. If you have further issues, let us know.

#sign-off

[2019-10-31 01:54] #39822 closed

[2019-10-31 01:55] Mike-Ubezzi-MSFT commented on #41797
@Mo-GH Thank you for bringing this to our attention. I have assigned this to the appropriate team for further investigation. Can you confirm the tutorial or documentation you are attempting to follow?

[2019-10-31 01:58] Mike-Ubezzi-MSFT commented on #41803
@cwolansky-mm Thank you for your inquiry. We are researching this and will update you when we have additional information.

[2019-10-31 02:02] johndowns opened #41828 "Wording ambiguity"
Under the `Trigger - polling` section, this document says: `If the blob container being monitored contains more than 10,000 blobs (across all containers), the Functions runtime scans log files to watch for new or changed blobs.`

The wording is unclear and should be updated to clarify please. Does the runtime scan when the blob *container* has more than 10,000 blobs, or when the blob *account* as

[2019-10-31 02:07] Mike-Ubezzi-MSFT commented on #41819
@LastTribunal Thank you for bringing this to our attention. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-10-31 02:08] BDworak opened #41829 "UltraPerformance Virtual Network Gateway requiring "Standard" Public IP, not basic."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-31 02:13] xuto2 opened #41830 "Multiple frontend IP address in the same outbound rule doesn't muliple the number in the preallocation port snat table"
The notes section after the SNAT port preallocation table is not accurate, it should call out the fact that multiple IPs in the same outboundrule doesn’t count.

"When using Standard Load Balancer with multiple frontends, each frontend IP address multiplies the number of available SNAT ports in the previous table."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-10-31 02:33] KrishnaG-MSFT commented on #41805
@craigshoemaker Thanks for the quick update. :+1:

[2019-10-31 02:33] nishantsinha3gds opened #41832 "Bastion service: connect VM with custom port like 8888 or 3379 not working"
with Bastion service we are only able to connect Azure VM if port is 3389, in case RDP port changed to custom port like 8877 or 3379, Bastion service is not able to connect VMs

[2019-10-31 02:36] Mike-Ubezzi-MSFT commented on #41819
@LastTribunal Can you be a bit more descriptive with regard to the items within the document that no longer are applicable. With the latest version of Studio 3T, I am seeing that the authentication modes are a little different but, everything else applies.

![Screenshot (430)](https://user-images.githubusercontent.com/37126106/67914115-70333080-fb4c-11e9-96ac-0194197b6ffb.png)

![Screenshot (429)]

[2019-10-31 02:40] Mike-Ubezzi-MSFT commented on #41827
@ankitvijay Thank you very much for your interest in Azure. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-10-31 02:41] levi106 commented on #41602
Thanks,
That makes sense.

[2019-10-31 02:41] nishantsinhaindia opened #41833 "Bastion service: connect VM with custom port like 8877 or 3379 not working"
With Bastion service we are only able to connect Azure VM if port is 3389, in case RDP port changed to custom port like 8877 or 3379, Bastion service is not able to connect VMs

[2019-10-31 02:42] #41832 closed

[2019-10-31 02:44] #41555 closed

[2019-10-31 02:56] kazshi opened #41834 "SQL Server Profiler is supported on Managed instances?"
SQL Server Profiler is supported on Managed instances and instance pools (but not supported on Single databases and elastic pools) according the Tools table, but the following page (jumps from the Tools table) says SQL Server Profiler is not supported on Azure SQL Database according to the APPLIES TO indication. Which is correct?
My understanding is that Managed Instances is included in Azure SQL

[2019-10-31 03:05] YutongTie-MSFT commented on #41548
@MaxMueller0815 Hi, I am sorry I can not reproduce your error. Do you have a support plan under your Azure account so that you can create a support ticket to help you? If not, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread, we will help you to figure this out. Thanks.

We will now proceed to close this thread. If there are further questi

[2019-10-31 03:05] #41548 closed

[2019-10-31 03:19] tina-ho opened #41835 "Will the IPs for the RHUI content delivery servers change?"
Hello,

Questions from customers:
Will the IPs for the RHUI content delivery servers possibly be changed in the future?
If yes, how can we know the IPs are changed? Also, customers need to manually modify the setting for allowed IPs, is that correct?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c796f6e1-4c21

[2019-10-31 03:37] SnehaAgrawal-MSFT commented on #41765
@Anaig Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 03:40] KetanChawda-MSFT commented on #41828
@johndowns Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-31 03:45] thaitm312 opened #41836 "Azure CosmosDb Composite Index transformation stuck at 0"
Hi,
Today, I got strange behavior in our Azure CosmosDb. My staging environment has only 5 GB data with partition key **/City**. I try to add Composite Index on **Name asc, Age asc** but it has been 24 hours since I updated the index and somehow it still not finished yet. When I checked the transformation progress with this code. It return 0.

`long indexTransformationProgress = long.Parse(contain

[2019-10-31 03:45] gitmadness opened #41837 "Data type for pollingIntervalInS is a string and not an int."
Got the following error when I had pollingInternavalInS as an int.

"secretsManagementSettings":
        {"pollingIntervalInS": 3600,

Error:

Additional Info:'VM has reported a failure when processing extension 'KeyVaultForWindows'. Error message: "Failed to parse the configuration settings with: 'not a string'".'

Changed to  below and it worked.

{"pollingIntervalInS": "3600",

This happened fr

[2019-10-31 03:49] LastTribunal commented on #41819
If you are referring to "Connection String" or "user name", I was referring to Cosmos, There are no such things there...

[2019-10-31 03:55] LastTribunal commented on #41819
@Mike-Ubezzi-MSFT and thank you for prompt and diligent response to my complaint

[2019-10-31 03:56] SnehaAgrawal-MSFT commented on #41790
@svangeti Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 03:57] SnehaAgrawal-MSFT commented on #41810
@hiraldesai Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 03:59] SnehaAgrawal-MSFT commented on #41813
@vikaskumawat80 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 04:09] yaojinyang commented on #41821
@edburns @yucwan, thank you. The URL is correct. It's project's root URL. Config server can locate confiig files through the URL.

[2019-10-31 04:14] KrishnaG-MSFT commented on #41832
@nishantsinha3gds I hope you have self resolved the Bastion product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-10-31 04:14] msrini-MSFT commented on #41833
@nishantsinhaindia , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-31 04:22] msrini-MSFT commented on #41830
@xuto2  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-31 04:31] #41686 closed

[2019-10-31 04:39] msrini-MSFT commented on #41833
@nishantsinhaindia , As of now, we support 3389/22 ports.   Going forward we will add support for custom ports.

let me know if you have any further questions.

[2019-10-31 05:00] RohitMungi-MSFT commented on #41825
@markti The subscription key needs to be provided as a header while running POST with the API to create a hook. Here is a screen shot of the my test request and the headers that needs to be added from postman.

[code]
The subscription key can be retrieved from Azure portal for your speech service resource that is created.

![image](https://user-images.githubusercontent.com/46958063/67920198-466c1f

[2019-10-31 05:05] #41352 closed

[2019-10-31 05:09] shashishailaj commented on #41822
@GitTune Thank you for your query. We will have this checked and provide you with a clarification on the same.

[2019-10-31 05:23] VikasPullagura-MSFT commented on #41837
@gitmadness Thanks for the feedback. We are looking into this and would get back to you soon on this thread.

[2019-10-31 05:24] dcbrown16 opened #41838 "Pricing link"
Can the pricing link for the App GW docs be fixed to go directly to the right place, instead of the overall Azure pricing page?
https://azure.microsoft.com/en-us/pricing/details/application-gateway/
(I can't comment on that link directly so asking here)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-

[2019-10-31 05:25] dcbrown16 commented on #41838
In case it's not clear, I mean the link labeled "Pricing" under "Resources" in the navigation menu for App GW docs.

[2019-10-31 05:26] VikasPullagura-MSFT commented on #41283
@jluk Thanks for providing the confirmation.

@juyama I am closing the issue for now.

[2019-10-31 05:26] #41283 closed

[2019-10-31 05:28] KalyanChanumolu-MSFT commented on #41834
@kazshi Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-31 05:28] msrini-MSFT commented on #41829
@BDworak  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-31 05:31] VikasPullagura-MSFT commented on #41374
@MicrosoftDocs/aks-pm Please add your comments and update the document as applicable.

[2019-10-31 05:38] forester123 commented on #41572
@saurabhsensharma do you have any updates?

[2019-10-31 05:43] ankitvijay opened #41839 "Clarification required on Creating index on portal"
Under "**Use Rest API**" heading we have following point:

Does this condition also hold true when we try to create the CosmosDb index through the Azure portal? If yes, can we update the documentation to make it more obvious?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537a1f85-e37a-0de0-0423-1423e695165c
* Version

[2019-10-31 05:50] femsulu commented on #41368
Related to #26325

@iceyokuna  - per update in the [related thread,](https://github.com/MicrosoftDocs/azure-docs/issues/26325) "top -5000" should work.. This must've been a recent change to cap at 3000.

Tried searching the REST API browser to see if there's a equivalent API you can query. Nothing jumped out but check out the options [here](https://docs.microsoft.com/en-us/rest/api/?term=azure%20p

[2019-10-31 05:51] #41368 closed

[2019-10-31 05:52] UditiR commented on #21880
@Karishma-Tiwari-MSFT @MicahMcKittrick-MSFT
I am facing issue with Tumbling window trigger as it is not triggering my pipelines. I created a basic trigger with 15 mins of recurrence.
I can see schedule trigger working but nor tumbling one.
Is this because Azure devops is enabled for my data factory.
I tried same exercise with my local Azure account (Not git enabled) and it was working there.

[2019-10-31 05:54] ChiragMishra-MSFT commented on #41751
@swinarko Can you please take a look at this ?

[2019-10-31 05:55] iceyokuna commented on #41368
Ok thank you @femsulu , I will check that.

[2019-10-31 05:55] ChiragMishra-MSFT commented on #41732
@djpmsft Can you please take a look at this ?

[2019-10-31 06:03] msrini-MSFT commented on #41829
@BDworak , I am able to create Ultra-performance gateway with Basic SKU IP address. Screenshot attached below:

![image](https://user-images.githubusercontent.com/47132998/67922875-08272d80-fbd2-11e9-8733-a75ddac3eaf0.png)

![image](https://user-images.githubusercontent.com/47132998/67922932-34db4500-fbd2-11e9-8818-1c8d5e4ab167.png)

Let me know if you have any further questions.

[2019-10-31 06:08] ManojReddy-MSFT commented on #41644
@ayooki We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-10-31 06:08] #41644 closed

[2019-10-31 06:19] SubhashVasarapu-MSFT commented on #41838
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-31 06:21] SeaDude commented on #41278
Hello,
Thank you for the response to question 3 above.

**RE: Question 1 and 2:**
- If I need to geofence 1M+ assets across the country, and use the API to run queries, how can I scale Azure Maps using its current storage scheme?
- Is a scale-up on the Azure Maps roadmap?

[2019-10-31 06:23] SeaDude commented on #41279
Thank you

[2019-10-31 06:46] palma21 commented on #41374
Yes that doc is only valid for Basic Load Balancer, while all those properties only apply for standard Load Balancer. There is an item to update the article.

@mlearned @zr-msft

[2019-10-31 06:47] santhoshbomma9 opened #41840 "Metering service API clarification"
In [Azure Marketplace metering service APIs,](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-metering-service-apis#usage-event) , in the request body we pass resourceId, is this resourceId same as the subscriptionid? I think needs to be clarified to help understand devs building application around this api.

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-31 06:48] SnehaAgrawal-MSFT commented on #41790
@svangeti Thanks for asking question! As mentioned in the doc VNet integration for Linux apps is in preview and is not supported for production workloads. Also, If you use App Service on Linux with the built-in images, the regional VNet Integration feature works without additional changes. If you use Web App for Containers, you need to modify your docker image to use VNet Integration.
This feature

[2019-10-31 06:49] nogueiraantonio opened #41841 "Manage authentication in Azure Maps link is broken"
When I click on the link for "Manage authentication in Azure Maps" I get a page stating "We are sorry, the page is forbidden."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752c23e4-3cce-de12-3711-2ae390bb10b2
* Version Independent ID: 241bb14e-5594-ba23-5483-f32792dc47f6
* Content: [Authentication with Azure Maps](ht

[2019-10-31 06:52] SadiqhAhmed-MSFT commented on #41753
@jtuliani Budgets are evaluated every 4 hours. So once the data is available within the cost management system, there is a maximum of 4 hours before the budget would fire. Data for consumed resources is available within 8 hours of consumption within our system. So given this, the maximum gap between consumption and a budget firing would be 12 hours (8 hours max for the data to get to us, 4 hours m

[2019-10-31 07:00] KalyanChanumolu-MSFT commented on #41641
@forester123 My sincere apologies.
From what I have checked, it seems like it is the other way round and the titles need to be updated to remove "**(Preview)**"

Either case, I am assigning this issue to the content author to evaluate and update as appropriate.

[2019-10-31 07:00] ram-msft commented on #41544
@azizcoder Could you please confirm which version of azureml-sdk installed. If you have an old version of the azureml-sdk installed, please upgrade the azureml-sdk>=1.0.60.

[2019-10-31 07:02] bartvermeersch commented on #41807
Ok, thank you @FrankHu-MSFT for the clarification.

I do think it would be useful if the documentation could explain what happens when a guest user uses google federation while his Google e-mail address was already registered in the tenant as a MS account.

[2019-10-31 07:03] bijai opened #41842 "Error in Vnet peering example"
I believe there is an error in the example for Vnet peering.

This example doesn't seem right:

I think it should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* Version Independent ID: 8a07d877-784a-3d88-54cd-8cd5341a2859
* Content: [Guidelines for Azure NetApp Files network p

[2019-10-31 07:24] bgelens commented on #41694
Small update, one additional url showed up after a little while: `v10.events.data.microsoft.com` So I updated my ruleset to have `*.events.data.microsoft.com` instead of `v10c.events.data.microsoft.com`

[2019-10-31 07:25] swinarko commented on #41751
Yes, this is already supported by joining your SSIS IR to the relevant VNet for your SQL DB or other peered/connected VNet, we'll update our doc soon.  #please-close.

[2019-10-31 07:25] #41751 closed

[2019-10-31 07:38] imlight commented on #41666
My end goal is to control what resource group name will be used for nodes when i launch AKS cluster via Ansible.

Is that make sense ? Can this be achieved in ansible ?

Things are little mismatch the way  "az" command line works , and ansible azure modules work.  I understand , they will be on different version thats why.

Just googling around found that , with az command line one can pass  below

[2019-10-31 08:01] perkops opened #41843 "Missing [OrchestrationTrigger] in C# Script example in section "The weather monitoring orchestration....""
The C# Script in "The weather monitoring orchesration..." section is to my knowledge incomplete.

`public static async Task Run(DurableOrchestrationContext monitorContext, ILogger log)`

Should be changed to

`public static async Task Run([OrchestrationTrigger] DurableOrchestrationContext monitorContext, ILogger log)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-31 08:02] smoms commented on #41774
@Alberto-Vega-MSFT thanks. Ok, so the only essential difference is the fact that devices are identified in IoT Hub in case of Identity Translation. Right?

[2019-10-31 08:14] Mo-GH commented on #41797
the tutorial from this Link:
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-java-module

and the Linux VM from this Link:
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft_iot_edge.iot_edge_vm_ubuntu?tab=overview

also i test it on Raspberry pi 3 and Raspberry pi 4

thank you

[2019-10-31 08:22] Mo-GH commented on #41797
The Full Error Log:

Start to create client with MQTT protocol
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
com.microsoft.azure.sdk.iot.device.exceptions.ModuleClientException: java.io.IOException: Broken pipe
        at com.microsoft.

[2019-10-31 08:27] jakaruna-MSFT commented on #41835
@tina-ho
Thanks for the question! We are investigating and will update you shortly.

[2019-10-31 08:33] mike-urnun-msft commented on #41412
Hi @karpikpl - Unfortunately, Windows auth is not currently supported for the SQL ISE connector. Please consider submitting a new feature request on [Azure UserVoice](https://feedback.azure.com/forums/287593-logic-apps) or [upvoting an existing one](https://feedback.azure.com/forums/287593-logic-apps/suggestions/34701469-logic-apps-sql-connector-to-on-premise-using-integ) (not directly touches on

[2019-10-31 08:33] #41412 closed

[2019-10-31 08:36] DreamRivulet commented on #40300
@MicahMcKittrick-MSFT  May I know when this doc will be updated? Is there an ETA of this task?

[2019-10-31 08:44] martinstenhoff opened #41844 "service parameter not seen in example"
The below example on this page is using a "service" argument not that's not available
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.micros

[2019-10-31 08:47] msrini-MSFT commented on #41830
@xuto2 , The note section doesn't mention about the Outbound rule. This scenario is for VMs which doesn't have Public IP and attached to a Load balancer with a Load balancing rules.

**For example, a backend pool of 50 VM's with 2 load balancing rules, each with a separate frontend IP address, will use 2048 (2x 1024) SNAT ports per IP configuration.**

Here you have 2 LB rules with different Frone

[2019-10-31 08:53] AjayKumar-MSFT commented on #39564
@cephalin, Requesting your comments on this.

[2019-10-31 09:03] AshokPeddakotla-MSFT commented on #41841
@nogueiraantonio Thanks for the feedback. Link is working fine and redirecting here:https://review.docs.microsoft.com/en-us/azure/azure-maps/how-to-manage-authentication
Do let us know if you still can't access.

[2019-10-31 09:09] nogueiraantonio commented on #41841
No I cannot access it.

[cid:image001.png@01D58FD3.40DA08C0]

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: 31 October 2019 10:04
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Antonio Nogueira <antonio.nogueira@autodesk.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Manage authentication in Azure Maps link is broken (#41841)

@no

[2019-10-31 09:10] markti commented on #41825
Thanks I found that out myself eventually but definitely would've been nice to include here. 😊

Sent from my iPhone

On Oct 31, 2019, at 1:00 AM, RohitMungi-MSFT <notifications@github.com> wrote:

﻿

@markti<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmarkti&data=02%7C01%7C%7C4fcce0b6102c403ff57708d75dbf445f%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C6370809483

[2019-10-31 09:15] lynseyp opened #41845 "Time To Live"
Hi,

On https://docs.microsoft.com/en-gb/azure/storage/queues/storage-queues-introduction it documents
"the maximum time-to-live allowed is seven days. For version 2017-07-29 or later, the maximum time-to-live can be any positive number, or -1 indicating that the message doesn't expire. If this parameter is omitted, the default time-to-live is seven days."

But this page says that the maximum is 7

[2019-10-31 09:17] SwathiDhanwada-MSFT commented on #41719
@p-pre I have tried to restore the workspace and was able to do so. But when i tried to restore the workspace to another resource group, i was prompted with the mentioned error . I would suggest you to try to restore the workspace in the same resource group you have deleted. For your reference ,attaching the image
![image](https://user-images.githubusercontent.com/48976275/67934153-48e07000-fbed-1

[2019-10-31 09:18] lesterw1 opened #41846 "Missing Step - Select Users"
After Step 1, the next step is to navigate to **Azure Active Directory &gt; Users**.
Then select the users you wish to include in the download by ticking the box in the left column next to each user. NOTE: At this time, there is no way to select all users for export. Each one must be individually selected.

Then, renumber the remaining steps. Step 3 becomes "Select **Download Users**"...

---
####

[2019-10-31 09:25] DeBockTim opened #41847 "depends_on parameter to define dependency between containers"
Hi

I am trying to setup a multi-containergroup: fiware orion instance with a mongoDb instance.
In the example YAML snippet on the fiware page documentation  (https://fiware-orion.readthedocs.io/en/0.24.0/user/docker/index.html#the-fastest-way)  how to set it up they have a "depends_on" parameter. I am trying to find out how i can implement this parameter in my YAML script for setting up the conta

[2019-10-31 09:28] aquibqureshi26 commented on #38055
Hi Karthik,

Yes you are right, My question was something else. I think this configurable limit should also be mentioned in the article lines which I've highlighted while raising this thread.

[2019-10-31 09:29] biltongza opened #41848 "What is the planned support for V2?"
This document specifies that V2 runs on .Net core 2.2 which hits EOL in December 2019. Does this mean that Azure functions running on V2 will no longer be supported? What is the upgrade path given that v3 is officially not recommended for production scenarios? Do we stick with v1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-10-31 09:31] msrini-MSFT commented on #38055
@aquibqureshi26 , It is mentioned under Outbound rules page.

[2019-10-31 09:38] jtuliani commented on #41753
Thanks @SadiqhAhmed-MSFT. To clarify, you're saying budget evaluation used to be on a 4 hour cycle, but they are now on a 12-hour cycle?

Given the financial risk that these alerts are intended to defend against, 20 hours seems very, very long.

Also, does the same cycle apply to EA spending alerts and credit alerts?

[2019-10-31 09:43] souravmishra-msft commented on #41571
@LachlanJB, Thank you for sharing the query. So to clarify, the end date for Configurable Token Lifetimes is set on 1st of May 2020.

Secondly, once the configuration token lifetime gets deprecated, only modifications that could be made will be on Sessions, Access Tokens and Refresh Tokens using the Conditional Access Policies only. Other properties would not be exposed to get modified at user's w

[2019-10-31 09:44] MatthewWalkerSky opened #41849 "Certificate Mismatch When Downloading Using wget"
When I ran the above command to download the script using wget, I got this error:

wget -O azcopy.tar.gz https://aka.ms/downloadazcopy-v10-linux
--2019-10-31 09:31:03--  https://aka.ms/downloadazcopy-v10-linux
Resolving aka.ms... 104.107.176.162
Connecting to aka.ms|104.107.176.162|:443... connected.
ERROR: certificate common name `go.microsoft.com' doesn't match requested host name `aka.ms'.

I h

[2019-10-31 09:48] PramodValavala-MSFT commented on #41843
@perkops Attributes are required only for [C# (class library)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library) style functions. On compile, the corresponding `funtion.json` files are generated.

For [C# Script](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp) style functions (and other languages like javascript, etc.), `funct

[2019-10-31 09:51] PramodValavala-MSFT commented on #41844
@martinstenhoff Thanks for catching that! We have worked up a PR to address it.

[2019-10-31 09:56] #41844 closed

[2019-10-31 09:57] souravmishra-msft commented on #41571
@rynothopter, Customers without an Azure AD P1/P2 license, wont be able to make any changes in the conditional access policies. If the license is not active or present, the Conditional Access Policy blade would be greyed out.

[2019-10-31 10:00] Francois-du-Plessis commented on #23361
Also running into this issue now. Setting up a new resource group using ARM templates. Before the template is deployed, the location can be selected thus the static website origin url will have different zones in its URL. Anyway to predetermine the zone or is there an Azure CLI command to get this url?

[2019-10-31 10:17] jakaruna-MSFT commented on #41847
@DeBockTim
Thanks for the question! We are investigating and will update you shortly.

[2019-10-31 10:17] Wis10 opened #41850 "Correct the syntax of the commands."
Please correct the syntax of the commands, is not with one quote (') is with two quotes ("), for example here: azcopy copy 'https://&lt;storage-account-name&gt;.file.core.windows.net/&lt;file-share-name&gt;/&lt;directory-path&gt;?&lt;SAS-token&gt;' '&lt;local-directory-path&gt;'. If you use one quote, the following error appears:
failed to parse user input due to error: the inferred source/destina

[2019-10-31 10:26] aquibqureshi26 commented on #38055
Sure Karthik i know it is updated on the other doc. But on this doc it is not updated hence i thought it is little misleading.

[2019-10-31 10:27] ranokarno opened #41851 "what is parameters API required to enable eventhub connector"
Please advise how can we build logic-app connector using REST API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6606f6c7-6243-13d6-9fde-15f387f0e331
* Version Independent ID: 875d1e7a-abbc-6cee-e7af-0f9786769917
* Content: [Connect to Azure Event Hubs - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connecto

[2019-10-31 10:39] SnehaAgrawal-MSFT commented on #41810
@hiraldesai Thanks again for the feedback! Could you please double check that both the web app and certificate is in same subscription. You may refer to the following useful articles:
•	Buy and Configure an SSL Certificate for your Azure App Service: https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site
•	Map an existing custom DNS name to Azure App Service: https://do

[2019-10-31 10:48] GitTune opened #41852 "Powershell commands"
There are some "\" characters in the powershell commands in the "Pre-work for Seamless SSO - section" that don't belong there.

For example: Call \$creds = Get-Credential. When prompted...... The \ before $creds is not needed, in fact, it the command wil fail....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-

[2019-10-31 10:48] Leonard-AI-Program commented on #40856
Good morning gents,

This issue is quite interesting, I actually faced the exact same one on a project I am currently working on.

 @mike-urnun-msft do you happen to have any update on that?

It seems that this problem with XGBoost exists in Azure since quite a long time...

[2019-10-31 10:51] GitTune opened #41853 "Edge supported?"
During my first tests, I noticed that SSO did not work in a Edge browser. On the same VM, Internet Explorer did work perfect. Is this a known limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Content: [Azure A

[2019-10-31 10:58] #41567 closed

[2019-10-31 10:58] souravmishra-msft commented on #41567
https://github.com/MicrosoftDocs/azure-docs-pr/pull/94088

[2019-10-31 10:58] holylander commented on #30381
I can confirm that solution proposed by @tkerkman  works. Thanks for your magic, sir!

[2019-10-31 10:59] YulelogPagoda opened #41855 "Sentinel Windows Firewall Logs show up, but marked with a date that's a couple days off."
Windows Firewall Logs show up in Log Analytics, but marked with a date that's a couple or few days in the past. Standard security events are coming in with a proper day and time stamp.

[2019-10-31 11:00] #41855 closed

[2019-10-31 11:00] YulelogPagoda commented on #41855
Wrong place.

[2019-10-31 11:02] jakaruna-MSFT commented on #41847
@DeBockTim We cant specify depends_on on ACI. It cant be specified on ARM template as well.

Overall reference is [here](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerInstance/2018-10-01/containerGroups).

You can remove the depends_on block and run the yaml. Initially, orion container may go into terminated state if mongo DB is not available when orion  starts.
If you have t

[2019-10-31 11:19] SwathiDhanwada-MSFT commented on #41640
@v-miclar can you please provide your inputs on this?

[2019-10-31 11:21] markti opened #41856 "Webhook not firing when batch transcription submitted"
I have a pretty nice Postman collection going.

Create webhook
Ping webhook
Get All Webhooks
Get Webhook by ID
Get Transcription Status By ID
Get all transcription status

My problem is this. I can create a webhook. I can ping my webhook using the Ping endpoint. My Azure function fires when I ping my webhook. However, when I do a Batch Transcription, my webhook is never invoked. I have registered

[2019-10-31 11:43] KrishnaG-MSFT commented on #41855
@YulelogPagoda  I hope you have self resolved the LogAnalytics / Sentinel product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-10-31 11:45] ChiragMishra-MSFT commented on #41821
@edburns Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-31 11:57] ChiragMishra-MSFT commented on #41840
@santhoshbomma9  Thanks for the feedback. I am assigning the issue to the content owner to review and update as appropriate.

@qianw211 Can you please take a look at this ?

[2019-10-31 11:58] ChiragMishra-MSFT commented on #41842
@bijai Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-31 12:07] msrini-MSFT commented on #41842
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94241

[2019-10-31 12:16] #41842 closed

[2019-10-31 12:34] shashishailaj commented on #35118
@MahdeeT We apologize for the delay in having this handled on our side. This may require additional deeper troubleshooting to understand it better . We would like to request you to send an email to us on azcommunity[at]microsoft[dot]com and we will help you with alternate support options on this issue.

Thank you.

[2019-10-31 12:34] #35118 closed

[2019-10-31 12:34] smithcl167 opened #41858 "Azure file sync - "last accessed date" attribute"
Hi,
with regards to Azure file sync, which should remove files from being locally stored if they havent been accessed in last X days.
if the last accessdate attribute being updated is disabled, which seems to be default behaviour on all Windows Servers, how will this work.
Would there be a requirement to enable the Last access date attribute via the command
"fsutil behavior set disablelastaccess 0

[2019-10-31 12:38] smithcl167 opened #41859 "Azure file sync - "last accessed date" attribute"
Hi,
with regards to Azure file sync, which should remove files from being locally stored if they havent been accessed in last X days.
if the last accessdate attribute being updated is disabled, which seems to be default behaviour on all Windows Servers, how will this work.
Would there be a requirement to enable the Last access date attribute via the command
"fsutil behavior set disablelastaccess 0

[2019-10-31 12:39] VikasShivhare commented on #41791
@Mike-Ubezzi-MSFT . Yes we are using SSO with Workday as well and it is working fine. The only issue is in pulling the attribute for Location Hierarchy in the provisioning system.

[2019-10-31 12:43] SumanthMarigowda-MSFT commented on #41845
@lynseyp Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-31 12:44] SumanthMarigowda-MSFT commented on #41849
@MatthewWalkerSky Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-31 12:45] SumanthMarigowda-MSFT commented on #41859
@smithcl167 Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-31 12:46] SumanthMarigowda-MSFT commented on #41850
@Wis10 Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-31 12:47] souravmishra-msft commented on #41575
@MicrosoftGuyJFlo, Can you help me by updating the screenshots on this document.

[2019-10-31 12:48] iilyin opened #41860 "Resource Owner Password credentials grant does not return access token"
Azure AD Identity Platform issue:
- tenant id 8ac76c91-e7f1-41ff-a89c-3553b2da2c17
- token endpoint ROPC.

Steps to reproduce:
Send request to token endpoint with password grant:
[code]
Response contains only id_token and refresh_token, there is no access_token object:
[code]

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use

[2019-10-31 12:57] OLoup opened #41861 "Inconsistency"
In the beginning when we set the password a note says we cannot use special character in the password but only alphanumeric character, and just below in the screen example they use a "!"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d23a57b-1327-786e-f27d-1a52b0e4712d
* Version Independent ID: e1050c6a-d3ea-e3b7-c

[2019-10-31 13:07] KevUdeM commented on #41794
Many thanks for your help
Yes I am able to create users , everything is working fine
I am also able to return user information when using : UserMigration.exe 3 {email address} , the output is directly in the CMD window
Maybe I am missing something , but at the next step, the doc says : "Open the UserProfile.json file in a JSON editor to see user's information" , I assume that file should be genera

[2019-10-31 13:08] KevUdeM commented on #41804
Will do !
Many thanks for you help

[2019-10-31 13:37] Gamecock commented on #12992
Got it working had to volume mount home also.
Thanks for everyones help.

[2019-10-31 13:39] svangeti commented on #41790
Thanks for the response @SnehaAgrawal-MSFT
I am hosting a python function app with Linux App service plan (Standard) with built in Docker image no customizations. I see Networking tab is greyed out for Linux App service plan. I have tried integrating it with from Function app features successfully but as soon as I integrate It can not access storage account anymore. Storage account is behind firew

[2019-10-31 13:43] msrini-MSFT commented on #41861
@OLoup , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-31 13:51] vunvulear opened #41863 "Incorrect no"
Now is: Event Grid module accepts and delivers events in JSON format. There are currently two schemas that are supported by Event Grid
Should be: Event Grid module accepts and delivers events in JSON format. There are currently three schemas that are supported by Event Grid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-10-31 13:55] DCtheGeek commented on #41368
Pagination isn't currently supported by these SDKs. I know you said you didn't want to loop through each subscription, but if you are using a Management Group hierarchy, then both the REST API and PowerShell cmdlets support specifying a Management Group. In this case, you could query your top level Management Groups (hopefully a small number) and then combine the results from there to get around t

[2019-10-31 13:56] spottedmahn commented on #41159
The [API reference](https://github.com/microsoft/ApplicationInsights-JS/blob/master/API-reference.md#trackevent) has been updated 👍

I opened another issue b/c I results are not lining up with the API reference: https://github.com/microsoft/ApplicationInsights-JS/issues/1101

[2019-10-31 14:02] PramodValavala-MSFT commented on #41863
@vunvulear Thanks for catching that! We have worked up a PR to address this.

[2019-10-31 14:08] HeidiSteen commented on #41813
@vikaskumawat80 There is a Microsoft alias that you can reach out to for advice on questions like this.  Could you direct your question to azuresearch_contact [AT] microsoft [DOT] com?  Trying to fool the spammers with above articulation but hopefully it makes sense.

I'm going to close this particular issue under the assumption that you will be unblocked by experts on that alias.  Thanks for reac

[2019-10-31 14:08] #41813 closed

[2019-10-31 14:11] MonikaReddy-MSFT commented on #41658
@dhananjaypatkar , For AppService Isolated plan is not available in Azure CLI. You can try this command to see the list of available SKU.
`az appservice list-locations` -h
![image](https://user-images.githubusercontent.com/47833949/67953614-d8722880-fbc5-11e9-8243-7240f5f4ab53.png)

So instead what you can try doing is
- Create an App Service Environment.
- Then you can deploy the app to the plan

[2019-10-31 14:16] AjayKumar-MSFT commented on #41726
@deeagar, We will close this out, but if you feel you need more information please just let us know.

[2019-10-31 14:16] #41726 closed

[2019-10-31 14:17] github2alfred opened #41864 "v2 support static IP, so this statement should be only for v1"
Does the IP or DNS name change over the lifetime of the application gateway?
The VIP can change if you stop and start the application gateway. But the DNS name associated with the application gateway doesn't change over the lifetime of the gateway. Because the DNS name doesn't change, you should use a CNAME alias and point it to the DNS address of the application gateway.

---- Also with v2, you c

[2019-10-31 14:22] dan-SLT commented on #39839
The link in the post above is no longer available and this was commented just over a month ago...

[2019-10-31 14:27] msrini-MSFT commented on #41864
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94245

[2019-10-31 14:44] benhosmer opened #41866 "CentOS7 additional steps"
For CentOS 7.7.1908
I needed to
`# yum -y install kernel-devl`
and then
`dracut -f --add-drivers "hv_vmbus hv_storvsc hv_netvsc hv_utils hv_balloon hyperv-keyboard hyperv_fb hid-hyperv"`
When I was building in virtualbox and then uploading to Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6b075e-e72b-aa46-4c91-

[2019-10-31 14:45] SamaraSoucy-MSFT commented on #41602
Awesome. I'm going to close out this thread.

[2019-10-31 14:45] #41602 closed

[2019-10-31 14:47] #41863 closed

[2019-10-31 14:48] HareBear opened #41867 "IP Address range public over VPN"
All the screen shots show private IP address ranges, can you clarify that they should be used instead of public ones.
Also,if using a VPN we still use these ranges or do we need to use the public IP address of the VPN far end?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version

[2019-10-31 14:48] PramodValavala-MSFT commented on #41621
@loganville Just following up here... Hope my previous comment clears things up.

[2019-10-31 14:50] AEIOU-fhir opened #41868 "Hi,"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-31 14:50] #41868 closed

[2019-10-31 14:53] CarolynBillups opened #41869 "Missing Step"
I followed this documentation and was not able to get a test device to Hybrid Azure AD Join. I had to go through the Azure AD connect wizard, customize synchronization options and add the Test OU I created for the controlled validation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2928e23e-3210-9e74-9cdb-1a19b703eac7

[2019-10-31 14:55] PramodValavala-MSFT commented on #41848
@biltongza As mentioned in the [Functions 3.0](https://github.com/Azure/app-service-announcements/issues/200) announcement, majority of code bases should be able to migrate from 2.0 to 3.0 without any code changes.

Both 1.0 and 2.0 are not being deprecated at this point as mentioned there.

As for the 2.2 EOL discussion, I believe its best discussed [here](https://github.com/Azure/app-service-ann

[2019-10-31 15:06] mrbullwinkle commented on #41584
I think it is possible someone could read the ASP.NET Core doc in isolation and never read the Azure Web App doc and therefore could end up confused. I agree if you have read the Azure Web Apps doc it is clear what to use, but the ASP.NET Core doc gets more traffic and does better from an SEO perspective. I will add a sentence to clarify, that also cross links to the Azure Web App doc to avoid any

[2019-10-31 15:10] HoCGeek opened #41870 "Permissions required"
I see multiple articles detailing permissions within a log analytics workspace, but what permissions are required to CREATE a log analytics workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03fd0e0e-c5d8-b6d0-bd7b-07539a5bd31f
* Version Independent ID: b323a14a-c502-8b32-c261-fb433ac75a05
* Content: [Create a L

[2019-10-31 15:13] ranokarno opened #41871 "Please provide sample for logic app connection with eventhub"
Where can i find documentation of logic app connection using event-hub to send-event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f1410cc-4cf2-323e-b928-6776910abadb
* Version Independent ID: 4a1f0921-ace4-f30d-8d00-f42201963bd8
* Content: [Overview - Automate deployment for Azure Logic Apps](https://docs.microsoft.

[2019-10-31 15:15] PramodValavala-MSFT commented on #41565
@tkumark Yes. You would have to either manually or using a custom system, share the subscription key with developers/team.

These changes for subscriptions came along with the Consumption Tier which doesn't have a developer portal at all.

Though the original developer portal is [now deprecated](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal), you can o

[2019-10-31 15:21] jaffadog opened #41872 "IDP and B2B OTP?"
Do IDP and CA risk based policies work for one time passcode (OTP) B2B users?
There is no "home directory" for such users. So do I get to see the risk evaluations for them - and underlying details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0625bb-7367-0bb3-7380-55ac91bde11f
* Version Independent ID: efa6711d-73b

[2019-10-31 15:22] DonFrazier opened #41873 "source and destination?"
The help description doesn't include which file is the source and which is the destination.  From reading this page it's not clear which direction data is being copied, which timestamp is the arbiter of newer, and which files would be deleted.

I think azcopy sync [flags] should be azcopy sync source destination [flags] to make this description clearer.

---
#### Document Details

⚠ *Do not edit t

[2019-10-31 15:23] Mahesh1 opened #41874 "Containers"
Can u add containers in the virtual network?
i want to add different containers running different servers & communicate with each other and with servers outside this network, on the internet.
appreciate some some guidance, tips, considerations on how to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-

[2019-10-31 15:26] jaffadog opened #41875 "Risk based policies for B2B?"
This statement:
** "Risk-based Conditional Access for B2B
Currently, risk-based sign-in policies cannot be applied to B2B users because the risk evaluation is performed at the B2B user’s home organization."

Seems to conflict with this statement from https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-b2b:
** "With Azure AD B2B collaboration, org

[2019-10-31 15:30] ianalderman opened #41876 "Powershell-DSC for Linux and Azure Monitor SxS"
Hi Team on the DSC Linux Extension page it calls out a side by side issue with Azure Monitor: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-linux This is not referenced on this page, nor as a known issue in the extension repo linked from this page.  If it is accurate do we need to call it out here?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-10-31 15:38] MarlEva opened #41878 "Roadmap image update request"
I tried to edit this document on github, but it turns out the roadmap is an image, rather than editable text.

Request: can we change the roadmap so that the "Sept+" reads "2020" instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3c351d-a2e9-9f0b-e8c2-75a2009854e3
* Version Independent ID: dd8af514-128a-4d60-07c

[2019-10-31 15:39] andybouts opened #41879 "RedHat:RHEL:7-RAW:latest Has IPtables Rules in Place -- Days Lost"
Hi Azure,

The image RedHat:RHEL:7-RAW:latest has restrictive IPtables rules in place automatically ... my team has lost days of work troubleshooting networking connectivity when the NSG configuration was correct, but the IPtables were dropping the tcp traffic.

The base Ubuntu images, like what are used in the [quickstart](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create

[2019-10-31 15:50] Alberto-Vega-MSFT commented on #41620
@Jcardif I reached internally and I was pointed to these samples about connecting to SigFox, Lora and Particle to IoT Central in the IoT Central Device Bridge repository. Please take a look you could offer the repo owners to contribute there. It is open source.

Article here: https://docs.microsoft.com/en-us/azure/iot-central/core/howto-build-iotc-device-bridge
GitHub repo: https://github.com/Azur

[2019-10-31 15:50] kkblues opened #41880 "Node Modules in deployment ??"
I can see in the Docs that they advice to add the node_modules folder in the deployment.

That has to be a typo right ?

[2019-10-31 15:53] RyanHill-MSFT commented on #41765
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-31 15:53] #41880 closed

[2019-10-31 16:08] makma commented on #41460
Hey, it would be really beneficial to specify how to change the default output asset container's name (asset-GUID format) in the storage as well. I wasn't able to find it anywhere in the docs. Thank you.

[2019-10-31 16:11] Ajithvajrala23 commented on #41189
I am having the same issue. But I couldn't downgrade tensorflow to 1.12.0 on Jupyter Notebook as mentioned above in one of the comments, I tried downgrading on Azure Work-space.
Is this issue resolved yet ?
Is there any way on Azure work-space where user has control over package versions provided by Azure? (I mean upgrading or downgrading versions based on user preferences like in Pycharm?)

[2019-10-31 16:14] mikewo opened #41881 "GET vs HEAD for traffic manager health probe"
The documentation all indicates that the health probe from Traffic Manager uses a GET request to the URL provided; however, in our systems we are seeing a HEAD call to the URL provided rather than a GET. Is the documentation just incorrect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fed131c-15d3-3266-3570-08e445ed

[2019-10-31 16:15] sandeepraichura opened #41882 "SKU for Zones"
There is no guidance on how to resolve SKUNotAvailable for AV Zone scenarios, The following script let's customers understand what sizes are avaialable in zones

Get-AzComputeResourceSku | where {$_.Locations.Contains("southeastasia") `
                                -and $_.LocationInfo[0].Zones -ne $null `
                                -and $_.ResourceType.Equals("virtualMachines")}

---
####

[2019-10-31 16:16] mikewo commented on #41881
This is also referenced in the FAQ as using a GET for the health probe at https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#what-application-protocols-can-i-use-with-traffic-manager.

[2019-10-31 16:19] axelgMS commented on #35026
@MicahMcKittrick-MSFT please find my PR on https://github.com/MicrosoftDocs/azure-docs/pull/41883. I'll let you discuss with Engineering.

[2019-10-31 16:23] dreams3290 opened #41884 "central us ip's for live metrics"
This documentation is missing ip addressed used by central us location for live metrics stream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP addresses used by Application Insights and Log Analytics](http

[2019-10-31 16:24] deepakpalled commented on #37661
Can we close the thread? (We are currently in the process of updating the limits section, should be done very soon).

[2019-10-31 16:30] SamaraSoucy-MSFT commented on #41884
@dreams3290 Thank you for your feedback. I will assign this to the doc author to update the list.

[2019-10-31 16:43] v-kydela opened #41885 "Confidence score differences section"
I'm very confused by [this section](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/confidence-score#confidence-score-differences) and I have many questions.

How can you tell what these Azure Search indexes are? Are both indexes in the Search Service that gets created with your QnA Maker resource? And why would different Azure Search indexes give different confidence s

[2019-10-31 16:58] shashishailaj commented on #41610
@rfaircloth-splunk CEF was used by a lot of products which are used extensively in the enterprise by a lot of customers and hence it was mentioned as a standard considering its support from large number of other enterprise vendors. However we agree that its not a IETF defined standard like RFC and we are currently in the process of updating this documentation . You would see the changes in the com

[2019-10-31 17:00] themrkeys commented on #41610
Thank you

[2019-10-31 17:07] ryburn opened #41888 "No way to correlate failed runs, manual reruns, and activity triggers"
We are attempting to monitor or Data Platform by leveraging the Diagnostic Logs that ADF provides through Log Analytics.

One key feature that we need is the ability to know when a pipeline has failed and whether it has been reran successfully. In order to do this, we need to be able to correlate a failed run with a manual run, and automated retries. So that we can determine whether any action is

[2019-10-31 17:09] jigarshah04 opened #41889 "Very clear explanation! Any plans to raise this above 500K connections?"
This a very clear and concise explanation of how to understand performance, especially for NVAs. And it clearly guides customers to pick 8 or 16 vCPU machines and go for horizontal scale out with Azure Std LB. Couple of questions:
(a) any plans to increase the limit above 250K flows without degrading performance? (there are some use cases for legacy active/passive HA that require higher performanc

[2019-10-31 17:13] ecfan commented on #41871
Hi @ranokarno,

The docs has the following topic about using the Event Hub connector in Azure Logic Apps, which also has [steps for using the Send Event action](https://docs.microsoft.com/azure/connectors/connectors-create-api-azure-event-hubs#add-event-hubs-action):

[Monitor, receive, and send events with Azure Event Hubs and Azure Logic Apps](https://docs.microsoft.com/azure/connectors/connecto

[2019-10-31 17:16] mike-urnun-msft commented on #40856
@cconcordet @Leonard-AI-Program Sorry for the delay, folks. I've yet to look into this one fully and will update the [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/8582c383-8fe3-49ee-9d95-b3587e893f3c/install-and-import-xgboost-in-the-deployment-of-python-azure-function-app?forum=AzureFunctions) with my findings when I do so. From a quick look, it looks like @anthonychu comment [here

[2019-10-31 17:17] tomdan-MSFT opened #41890 "Bad PowerShell syntax and missing hyperlink in article"
The PowerShell commands listed in this section have extra characters that cause the commands to fail :

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout#pre-work-for-seamless-sso

Steps 5 has an extra "\" that's not needed

Get-AzureADSSOStatus \| ConvertFrom-Json

Step 6 has an extra "\" and "."

\$creds = Get-Credential.

In this section, the link to d

[2019-10-31 17:18] tomdan-MSFT commented on #41890
Interestingly enough, the extra "slash" characters don't show in my feedback above.  See below for improper syntax :

Get-AzureADSSOStatus (slash)| ConvertFrom-Json

(slash)$creds = Get-Credential.

[2019-10-31 17:19] ecfan commented on #41851
Hi @ranokarno,

Thanks for your reaching out! Are you referring to the parameters that are described in the [Event Hub connector reference topic](https://docs.microsoft.com/connectors/eventhubs/)?

[2019-10-31 17:19] Sujina-Saddival opened #41891 "Retain old IoT modules by adding new IoT modules for an existing IoT edge"
I have an IoT-edge running with 6 IoT-modules. I need to deploy 2 new IoT-modules to that device using a **new deployment.json** file.
In other words, I should be able to append new IoT modules without effecting existing modules.

For example:

I deployed 'module1' and 'module2' using an azure-container-registry 'XYZ'

[code]
Then, I deploy 'module3' using an azure-container-registry 'ABC' with **

[2019-10-31 17:21] billmath commented on #33816
Yes, 2019 is supported.  Thanks!

#please-close

[2019-10-31 17:21] #33816 closed

[2019-10-31 17:28] ranokarno commented on #41851
hi @ecfan,

I am looking for parameter of API/ARM template to achieve above 'sent-event' action.
https://docs.microsoft.com/bs-cyrl-ba/azure/templates/microsoft.web/2016-06-01/connections?view=azurermps-4.4.1

[2019-10-31 17:30] rolyon commented on #41367
Hi @maryannlim
Yes, those are the limits. They are also documented here:
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#role-based-access-control-limits
Is there a question you have?
thanks

[2019-10-31 17:31] MicahMcKittrick-MSFT commented on #41879
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 17:32] #41426 closed

[2019-10-31 17:32] m43kwon opened #41892 "Python SDK changes"
Can you describe how to make endpoint modifications using the Python SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b71f799-dc93-1ae1-8b6f-4b37ae35b10b
* Version Independent ID: e3543e04-865c-852f-8dce-9fb1f4a39fcf
* Content: [Azure Monitor - Azure Application Insights override default SDK endpoints](https://docs

[2019-10-31 17:32] jpconnock commented on #41821
Thanks for raising this feedback with our team!  As @yaojinyang mentions, the URL is correct -- the config server is able to locate the config files when given this URL.  I've tested again this morning to verify.

We are continually working to improve our content -- I'll take a look at the 'launch from source' quickstart mentioned as well.  Thank you!

#please-close

[2019-10-31 17:32] #41821 closed

[2019-10-31 17:34] #41807 closed

[2019-10-31 17:37] MicahMcKittrick-MSFT commented on #35026
@axelgMS closing this as we merged the PR. We can continue offline for additional updates :)

[2019-10-31 17:37] #35026 closed

[2019-10-31 17:42] rolucchi commented on #41278
Azure Maps S1 sku is designed to scale and serve large numbers of QPS. There are also scenarios in which the fence is more dynamically defined and it would be more appropriate use the POST Geofence API. I would suggest using Azure technical support for technical questions.

[2019-10-31 17:48] YutongTie-MSFT commented on #41548
@diberry  Hi Dina, just FYI.

[2019-10-31 17:49] Grace-MacJones-MSFT commented on #41839
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 17:53] YutongTie-MSFT commented on #41296
@PatrickFarley FYI, this seems a feature request, could yo please help forward it to the right person if you have a contact also? Thanks.

[2019-10-31 17:53] ranokarno commented on #41851
I am looking into reference of supported parameter as listed in
`parameterValues` or `customParameterValues` in this link https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2016-06-01/connections#apiconnectiondefinitionproperties-object

[2019-10-31 18:03] ecfan commented on #41851
Hi @ranokarno,

Perhaps this reference doc is what you're seeking?

https://docs.microsoft.com/azure/templates/microsoft.eventhub/allversions

However, the easiest way to create an Azure Resource Manager template that's already parameterized for your logic app, trigger, actions, and connections is to use Visual Studio, create an Azure Resource Group project, and then use the Logic App Designer ins