[2020-05-13 04:01] Andrioden commented on #51628
+1 as well. 2hour deep head smashing here as well. Had to use the old library. Btw the example code below is not complete.

Here is how to create the CloudBlobContainer:

CloudStorageAccount storageAccount = CloudStorageAccount.Parse(_env.StorageConnectionString);
CloudBlobClient cloudBlobClient = storageAccount.CreateCloudBlobClient();
CloudBlobContainer cloudBlobContainer = cloudBlobClient.GetCo

[2020-05-13 04:08] JasonHershey opened #54727 "Inconsistent information about capability availability for non-Azure VMs"
This page says that there are several capabilities supported fro non-Azure VMs in the free Service tier.  This page: https://docs.microsoft.com/en-us/azure/security-center/security-center-onboarding says that you must have Standard tier for any support of non-Azure VMs.  Which his accurate? (I'm assuming that its you must have Standard for non-Azure VMs.  Is it that even capabilities that are free

[2020-05-13 04:21] balukantu opened #54728 "CloudEvents vs EventGrid Events"
Team,
I have been using EventDomain in our applications to publish Events and consume them in other applications. I have gone through the Cloud events documentation and observed that one of the differences between them is the standard message format.

Apart from the above one, what are the advantages we get if we go with Cloud events, and are there any performance benefits?

[2020-05-13 04:24] ram-msft commented on #54726
@Tadiuz Thanks for the question. Can you please share the document that you are referring.

[2020-05-13 04:24] mike-urnun-msft commented on #54708
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-13 04:24] #54708 closed

[2020-05-13 04:27] SwathiDhanwada-MSFT commented on #53952
@Gitdevnttuser As @bradpicone  mentioned, you need to use to New-AzDeployment Powershell command to deploy the template.

@bradpicone Thanks for your confirmation

[2020-05-13 04:46] KrishhnaM commented on #28689
Hi, I am exactly getting the same issue reported by @chriskuech . Please investigate.
I am saving a function with alias and it is visible in Query explorer but when i call that function in log analytics query it is not coming up.

[2020-05-13 04:47] markjbrown commented on #53374
We do not avoid addressing scenarios with small databases. If an app only requires a single partition, then what you regarding a partitioning strategy makes little difference, since it all runs on a single partition anyway.

Following our guidance regarding logical partitions will absolutely insure that your database will scale. We on purpose abstract this because it simplifies the design objectiv

[2020-05-13 05:16] shashishailaj commented on #54716
@clarkezone Thank you for your query. We will have this reviewed and update the thread.

[2020-05-13 05:18] shashishailaj commented on #54718
@SiverSHI Thank you for your query. We will investigate and update the thread .

[2020-05-13 05:20] shashishailaj commented on #54720
@torfulle Thank you for your feedback . We will investigate and update the thread.

[2020-05-13 05:21] meieda opened #54729 "Update supported VM list"
please update the supported VM sizes list with M (v1) series. or is it not supported yet on Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ccb5713-71bd-543c-7d6d-4caf2744e88e
* Version Independent ID: 44b50d80-6b0c-6046-936a-b620d0ad5f5a
* Content: [Azure support for generation 2 VMs - Azure Linux Virtual Machi

[2020-05-13 05:22] shashishailaj commented on #54714
@JimmyLS Thank you for your feedback . We will investigate and update the thread further.

[2020-05-13 05:23] hermanndms commented on #51953
sorry for the big delay. I overlooked this in the past for several reasons.

We have to differentiate two scenarios :

1. HANA backup to the file system

    As long as HANA sees a standard files system ( I always use XFS for HANA ) on OS level it should work to do
    a backup directly on it. I personally never touched blob fuse. As long as we talk about an officially supported
    solution on Az

[2020-05-13 05:24] shashishailaj commented on #54721
@awentzel Thank you for your query. We will investigate and update the thread.

[2020-05-13 05:24] CHEEKATLAPRADEEP-MSFT commented on #54124
@aravish  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-13 05:24] #54124 closed

[2020-05-13 05:25] shashishailaj commented on #54722
@awentzel Thank you for your feedback . We will investigate and update the thread.

[2020-05-13 05:26] shashishailaj commented on #54724
@awentzel Thank you for your feedback . We will have this reviewed with the content team and update you .

[2020-05-13 05:26] shashishailaj commented on #54725
@awentzel Thank you for your feedback . We will have this reviewed with the content team and update you .

[2020-05-13 05:27] hermanndms commented on #51953
so sorry, overlooked this in the past .... too many emails, too much other stuff, confusing times …..

Just enetered a comment.

From: Aquib Qureshi <notifications@github.com>
Sent: Mittwoch, 13. Mai 2020 02:09
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hermann Daeubler <Hermann.Daeubler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2020-05-13 05:28] shashishailaj commented on #54727
@JasonHershey  Thank you for your feedback . We will have this reviewed with the content team and update the thread.

[2020-05-13 05:34] CHEEKATLAPRADEEP-MSFT commented on #54660
@mpalumbo7 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@normesta Could you please look into this issue with azure cli cmdlet?

 Looks like there is no command called **az storage fs**

![image](https://user-images.githubusercontent.com/44426401/81774903-4bf7d980-9509-11ea-932b-a5ed546ecebc.png)

Here are the subgroups suppor

[2020-05-13 05:36] blueww commented on #54151
Please run `Get-Module` after the issue happen, see if any other version of Az.Storage module imported.` Find-module` is to find the module can be installed, it can't show which module is installed or imported.

`Update-AzDataLakeGen2Item` without FileSystem only works on Az.Storage 1.14.0 or later.

[2020-05-13 05:37] DixitArora-MSFT commented on #54717
Hi @aliyoussefi Thanks for reaching out. We will review and update as appropriate.

[2020-05-13 05:37] rdeltcheva commented on #53939
The following article: https://docs.microsoft.com/azure/virtual-machines/workloads/sap/high-availability-guide-standard-load-balancer-outbound-connections , contains the requirements,  along with several solutions how to achieve outbound connectivity for the public end points, required by the Azure fence agent.

[2020-05-13 05:38] DixitArora-MSFT commented on #54728
Hi @balukantu Thank you for your reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-13 05:39] aquibqureshi26 commented on #51953
thanks Herman, as currently we're able to take backup on blobfuse and it's working I thought just confirm if someone has tried and that comes under supported/unsupported scenario.

anyways you mentioned about xfs as preferred filesysyem and blobfuse has its own system.

Im using this backup strategy for dev/uat and definitely will use some backup solution for prod.

Thanks for sharing.
Stay safe a

[2020-05-13 05:40] VikasPullagura-MSFT commented on #54729
@meieda
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-13 05:40] VikasPullagura-MSFT commented on #54729
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2020-05-13 05:45] akshit-srivastava commented on #53335
Hi @likebupt , I have forwarded the mail to the above mentioned mail ids as well. Please let me know if any other details are required from my end.
Thanks.

[2020-05-13 05:45] Shawngbk opened #54730 "There is the syntax error in the failover script."
In the last two paragraphs of Sample script, the single quota is closed at the wrong position. The user would hit the error message like 'az cosmosdb failover-priority-change error list index out of range'
-----------------------
Incorrect: --failover-policies 'West US 2'=0 'South Central US'=1 'East US 2'=2
Correct:  --failover-policies 'West US 2=0' 'South Central US=1' 'East US 2=2'
-----------

[2020-05-13 05:52] VikasPullagura-MSFT commented on #53947
@dikokob Thanks for sharing the details.

From the error `It should be a valid host name without protocol` can you try to pass only the hostname  in the credentials like `acrcfc` or `acrcfc.azurecr.io` and see if that solves the issue.

[2020-05-13 05:53] chrsi commented on #53040
Hello @eustacea,
what I want is uniqueness in deviceIds, that are generated from certificates with the same CN signed by different Intermediate CAs. So are you saying that this requires a unique CN?

KR, Christian

[2020-05-13 05:54] akshit-srivastava commented on #54419
Thanks for the information @GiftA-MSFT .
Please suggest if there is any information regarding the support provided for Azure ML studio (classic). Basically we wanted to understand that, like in other softwares/services once a new release comes up the organization eventually removes the support of previous versions, so similarly is there any such information available as to by when Microsoft would

[2020-05-13 06:10] Mike-Ubezzi-MSFT commented on #54410
@minascasiou I spent some time going through this tutorial and I initially had issues with the Cosmos DB database and collection part but after following the [instructions](https://github.com/Azure-Samples/azure-cosmos-db-change-feed-dotnet-retail-sample) detailed in the GitHub repository, I was successfully able to get to the generate data part of the solution.

![Screenshot (957)](https://user-i

[2020-05-13 06:11] DixitArora-MSFT commented on #54379
@rigdern This is expected behavior for RunOnStartup.
[
azure-webjobs-sdk-extensions/src/WebJobs.Extensions/Extensions/Timers/TimerTriggerAttribute.cs](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/7bc24be6ef2ef6b79682f0085a3ad56d34da1af8/src/WebJobs.Extensions/Extensions/Timers/TimerTriggerAttribute.cs#L61-L66)

[code]
For now will proceed to close this thread. If there are further qu

[2020-05-13 06:11] #54379 closed

[2020-05-13 06:12] hisasima commented on #52646
@surajmb  I created PR. Thanks for your reply.

https://github.com/microsoft/azure-docs/pull/42

[2020-05-13 06:13] lightupdifire commented on #54644
@SaurabhSharma-MSFT
Thanks for quick response. UserVoice opened.
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40410718-revoke-mfa-sessions-powershell-graph-api

[2020-05-13 06:13] #54644 closed

[2020-05-13 06:18] souravmishra-msft commented on #54538
Closing this thread as of now

[2020-05-13 06:18] #54538 closed

[2020-05-13 06:22] RohitMungi-MSFT commented on #54640
@yaswanthv007 Apologies for the degraded experience you are facing. The attachments did not get updated in the thread so I would not be able to comment on them.

Since the same cannot be replicated can we help you with a support ticket for your resource to get this looked at your subscription level with a service engineer?

If you already have a support plan for your subscription you can navigate

[2020-05-13 06:24] poonamnimje01 opened #54731 "Automatically Pricing Tier of Azure Databricks changing from Premium to Standard without any user intervention"
Hello Team,

I have ADB created in Standard and changed it to premium tier as per the document https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/account

after few days its changing to Standard pricing tier without any user intervention.

Can anybody please let me know the cause and action plan?

Thanks

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-13 06:24] souravmishra-msft commented on #54403
@msmimart, Can you please take a look at this.

[2020-05-13 06:26] yaswanthv007 commented on #54640
Thankyou!!! Can you help me with a support ticket and can you take this as
priority as i was having this issue more than two weeks and this resulted
as a blockage.

On Tue, May 12, 2020 at 11:22 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2020-05-13 06:28] DixitArora-MSFT commented on #54377
@rigdern This is alredy mentioned in these public docs :

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-scheduled-function#test-the-function

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-storage-blob-triggered-function#test-the-function

This is also there for this mentioned doc under the highlight section.

![image](https://user-images.githubus

[2020-05-13 06:31] KrishnaG-MSFT commented on #54277
Closing this issue for now. If there are any questions regarding feedback on an Azure documentation, please do let us know the feedback along with the doc URL and we will gladly continue the discussion.

[2020-05-13 06:31] #54277 closed

[2020-05-13 06:38] RohitMungi-MSFT commented on #54640
Sure @yaswanthv007. Could you please email us your subscription id and URL of this thread to AzCommunity[at]microsoft[dot]com to enable a one time free support request for your subscription. We will let you know more details on how to use the request after we receive your email.

[2020-05-13 06:51] yaswanthv007 commented on #54640
Hi ,

Please check  the subscription  a255534e-e178-4567-a9d5-ae025a3626 and url
of the github posting here :
https://github.com/MicrosoftDocs/azure-docs/issues/54640#issuecomment-627779141

On Tue, May 12, 2020 at 11:38 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2020-05-13 06:51] KalyanChanumolu-MSFT commented on #54730
@Shawngbk Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2020-05-13 06:52] souravmishra-msft commented on #54539
@RonnieQuan, You can specify a private endpoint by selecting it under "**Private Endpoint Connections**"
![image](https://user-images.githubusercontent.com/54057592/81780556-54a1dd00-9514-11ea-93a2-bcf4265d4c0f.png)

Hope this helps.

[2020-05-13 06:53] KalyanChanumolu-MSFT commented on #54707
@joaotomazio Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-13 06:54] phannybawz commented on #53749
Hi,

Apologies for my last message.  I had a typo in the script in line 76 (missing c in $msixJunction, however I do still see an error as attached.  This is probably a "bad build" of the application from the packaging tool, which I will be working on to resolve.

Many thanks for your help in getting the script issues resolved.
<img width="795" alt="Capture" src="https://user-images.githubusercont

[2020-05-13 06:57] shereen-yong opened #54732 "Possible to use application proxy with deployment on-premises Microsoft Dynamics 365 for Operations?"
Hi,
would it be possible to use Azure App Proxy with an on-premises deployment of Microsoft Dynamics 365 (for Finance) and Operations (formerly Dynamics AX)? Basically I am looking to implement multi-factor authentication(MFA) when users login via the Dynamics client (which is now a web application run on a browser) and came across Azure App Proxy. The on-premise deployment of Dynamics uses ADFS i

[2020-05-13 06:58] ram-msft commented on #54710
@FireBelow Thanks for the question. We will update you shortly.

[2020-05-13 07:08] dcurwin commented on #54119
Thanks you for your comment. The screenshots will be replaced in the next few days.

#please-close

[2020-05-13 07:08] #54119 closed

[2020-05-13 07:15] SiverSHI commented on #54718
May I kindly ask if there is a similar action plan to implement the sync rule for the "device" object instead of "user"?

[2020-05-13 07:23] SumanthMarigowda-MSFT commented on #54578
@joedevgee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-13 07:23] #54578 closed

[2020-05-13 07:24] DixitArora-MSFT commented on #54375
@rigdern There is a already a public doc which you have already mentioned.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http

To be more precise this one is even more beneficial.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-scheduled-function

I don't think there is a doc change required at this moment. For now will proceed to close

[2020-05-13 07:24] HansonChiu1994 opened #54733 "Export the storage metrics to event hub / JSON Blob"
Some services get the configuration of sending to Event hub but not storage services.
Is it possible to export the storage metrics to event hub / JSON Blob? Is there any ways to do custom configuration to Event hub like VM diagnostics extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b725b36-8d87-7e36-5d0d-a08

[2020-05-13 07:26] SumanthMarigowda-MSFT commented on #54594
@vmauzumd Can you explain bit more on your query?

[2020-05-13 07:27] SumanthMarigowda-MSFT commented on #54675
@manish-jain-1
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-13 07:28] DixitArora-MSFT commented on #54380
@rigdern The default time zone used with the CRON expressions is Coordinated Universal Time (UTC). To have your CRON expression based on another time zone, create an app setting for your function app named WEBSITE_TIME_ZONE. Set the value to the name of the desired time zone as shown in the [Microsoft Time Zone Index](https://technet.microsoft.com/library/cc749073).

All these details have been me

[2020-05-13 07:28] #54380 closed

[2020-05-13 07:33] olamer opened #54734 "Service plan MICROSOFTBOOKINGS (199a5c09-e0ca-4e37-8f7c-b05d533e1ea2) should be listed for ENTERPRISEPACK and ENTERPRISEPREMIUM products"
Just checked, and it is there in my tenant, so it should be documented as well in this documentation.

PS C:\Users\olamer&gt; Get-AzureADSubscribedSku -ObjectId "d4229390-1445-421c-8c81-67b74785afb4_c7df2760-2c81-4ef7-b578-5b5392b571df" | fl

CapabilityStatus : Enabled
ConsumedUnits    : 20
ObjectId         : d4229390-1445-421c-8c81-67b74785afb4_c7df2760-2c81-4ef7-b578-5b5392b571df
PrepaidUnits

[2020-05-13 07:47] HansonChiu1994 opened #54735 "Can I export the ExpressRoute Network Performance to Event hub / Blob"
I tried to search the ways to collect the ExpressRoute Network Performance.
Is it possible to export the ExpressRoute Network Performance to Event hub?
Or it only export the data to Blob in table like other services using Azure Monitor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60644a6c-a495-3293-8713-3ae41eb75029

[2020-05-13 07:49] Fax opened #54736 "TXT awverify are not working when migrating from an active Azure website"
We have tried to follow the steps in this page without any success.

We had to perform a migration between Appservices hosted in different subscriptions and webspaces.

The migration completed correctly after adding both the TXT _awverify.{subdomain}_ record and the TXT record _asuid.{subdomain}_ with the key found in the Azure portal.

If this is how it is supposed to work, it is missing from thi

[2020-05-13 07:55] Alex-Derbyshire commented on #54686
Hi, looks like the planning tool version for ASR was last updated in August 2019 https://aka.ms/asr-deployment-planner since then there has been more support added for OS's for ASR.  The deployment planner tool should be updated as soon as ASR support has been updated.

[2020-05-13 07:58] ram-msft commented on #54274
@PatrickFarley Could you please check on this.

[2020-05-13 08:08] amanmcse commented on #54449
@udbach I am closing this thread. Feel free to tag me in your reply if you have any question.

[2020-05-13 08:08] #54449 closed

[2020-05-13 08:09] amanmcse commented on #54022
@josuvil AAD Got confirmation on this, AAD Connect Health will not be supported with Windows Server 2008 R2 as the server is itself reached its end of support lifecycle.
I will now close this thread. feel free to tag me in your reply if you have any question.

[2020-05-13 08:09] #54022 closed

[2020-05-13 08:17] SnehaAgrawal-MSFT commented on #54736
@Fax Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-13 08:19] jjindrich commented on #53006
I can confirm it works

[2020-05-13 08:21] ADringer opened #54738 "Performance considerations?"
Are there any performance issues we have to consider when enabling this?

Also, is it possible to do a memory dump of a Linux web app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20504526-20b8-40c2-e7bc-85a9ef46de83
* Version Independent ID: 684b7dcb-7346-7126-79c0-896802e55ab5
* Content: [Profile ASP.NET Core Azure

[2020-05-13 08:22] amanmcse commented on #54365
@doc-rj-celltrak In B2C, we get certificate information from the application's federation metadata URL configured in samlMetadataUrl parameter within the app manifest. For signed SAML request, regardless of whether it is signin or signout request, we set authNReqSigned to true under metadta section of the RP file and then read the key from the application's metadata to verify the signatures.
We do

[2020-05-13 08:22] #54365 closed

[2020-05-13 08:32] LudoBoggioTotal opened #54739 "Missing details on activation of Azure Hybrid Benefit using the Azure Portal."
Page states "You can choose or change your licensing model by using the Azure portal or..." but there are no precise indication about how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00f3b642-1d0d-363b-ed6e-a52dd93090e6
* Version Independent ID: 5f3d7946-3455-650e-d21b-c2601495e876
* Content: [Azure Hybrid

[2020-05-13 08:36] KrishnaG-MSFT commented on #54249
@CeciAc @srvbpigh @kurihiro0119 I believe your Automation Account doesn't have Az.Accounts module imported and that's the reason for you not seeing the cmdlet Connect-AzAccount.

To validate you may goto 'Modules' tile in your Automation Account and search for 'Az.Accounts' module and I believe you wouldn't see any version of it displayed as shown below.

<img width="777" alt="AAG3" src="https://u

[2020-05-13 08:39] KrishnaG-MSFT commented on #54249
Just FYI [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please do let us know and we will gladly continue the dis

[2020-05-13 08:39] #54249 closed

[2020-05-13 08:39] SnehaAgrawal-MSFT commented on #54549
@SudeshSharma Thanks for asking question! If I have understood right you are looking for malware file inspection for app Service? If so, there isn’t a customer facing feature in App Service to scan content such as uploaded files at this point.

There is already a feedback request created on [ Antimalware feature on Web Apps (App Service)](https://feedback.azure.com/forums/169385-web-apps/suggestio

[2020-05-13 08:44] Emmanuel-Bresson opened #54740 "Missing - How to remove a role assignment using an ARM template"
The documentation explains how to create a role assignment using an ARM template but does not provide a template for removing the assignment.
Can a role assignment be removed via an ARM template? (I understand this can be done via other methods)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409

[2020-05-13 08:45] aribornstein commented on #54653
Hi @RohitMungi-MSFT I'm familiar with the quickstart but it currently doesn't' show how to preform local evaluation will speak with them.

[2020-05-13 08:45] KrishnaG-MSFT commented on #54713
@erbalaji Thanks for your comment!
@davidsmatlak Any insights on this ?

[2020-05-13 08:46] gdubya opened #54741 "Instructions are out of date"
These instructions are no longer correct. The Azure interface has changed significantly since this article was written.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcb610fc-6d66-a9a1-703a-ea027359d56f
* Version Independent ID: ed99a3e6-0635-0024-2044-921fdc8eeef0
* Content: [Azure diagnostic logs](https://docs.micro

[2020-05-13 08:46] SubhashVasarapu-MSFT commented on #54114
@flyingUnderTheRadar , We have internal revIP that does the job. We don't expose them publicly so there would be no documentations provided.

[2020-05-13 08:55] yuxisun1217 opened #54742 "GRUB_TERMINAL_OUTPUT should be GRUB_TERMINAL in RHEL-7"
Hi,

In GRUB access in RHEL section, for RHEL-7:
GRUB_TERMINAL_OUTPUT , I think it should be GRUB_TERMINAL
I test it in RHEL-7.8 and if set GRUB_TERMINAL_OUTPUT, the keyboard doesn't work in switching between grub menu items.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64be9045-2ef3-9f41-2cce-48d51d98a45a
*

[2020-05-13 09:03] SnehaAgrawal-MSFT commented on #54556
@JoseFMP Thanks for asking question! Yes, you are correct under certain conditions the IP of the web app service can change. To elaborate on this Azure App Service is a multi-tenant service and share network infrastructure with other apps. As a result, the inbound and outbound IP addresses of an app can be different and can even change in certain situations.
When you perform any one of the followi

[2020-05-13 09:08] DixitArora-MSFT commented on #54512
@SeaDude I have assigned this to content author for further review and update as appropriate.

[2020-05-13 09:09] vipulsparsh commented on #53293
@CharmanderJieniJieni    Closing this thread for now. Do let us know if you have any more queries.

[2020-05-13 09:10] DixitArora-MSFT commented on #54560
@steveculshaw OpenAPI 2.0 (formerly Swagger) metadata support in Azure Functions is a **preview** **feature**. The OpenAPI preview feature is only available today in the 1.x runtime.

[2020-05-13 09:13] SwathiDhanwada-MSFT commented on #54735
@HansonChiu1994 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-05-13 09:13] NatMarchand commented on #45306
I have managed to use it by not putting a / in the values.
Can yo try `api/* test` ?

[2020-05-13 09:13] fifteenjoy opened #54743 "Running Speech service containers fail"
**Runing Command:**

docker run -it -p 5000:5000 --memory 4g --cpus 4 -v custom-stt-vol:/usr/local/models containerpreview.azurecr.io/microsoft/cognitive-services-custom-speech-to-text ModelId=***** Eula=accept Billing=https://eastasia.api.cognitive.microsoft.com/sts/v1.0/issuetoken ApiKey=******

**Runing process:**

WARNING: Your kernel does not support swap limit capabilities or the cgroup is n

[2020-05-13 09:13] SwathiDhanwada-MSFT commented on #54723
@srudin Thanks for your comment. We will review your issue and get back to you shortly.

[2020-05-13 09:19] leon8154 opened #54744 "UI Customization for dynamically placed contents in Azure AD B2C Custom Policy"
I would like to ask if I can change the behavior of dynamically placed elements of Azure AD B2C such as email verification, where in it already has style="display: inline;" in the elements inserted. I wanted to change those into "display:content" or alike. I've also noticed that the ones adding those values are inside something like this file (I don't know what it is called):
unified?local=signup&

[2020-05-13 09:22] rohitpant55 commented on #54525
Yes, we are using a single-tenant per database model for our application.
I looked into the information provided but I am still not able to understand how we will achieve/create ShardMap to databases that are having residing on a different server and have username and password.
Let me provide all the steps we are doing to explain better -
1.  First, we create a shard map manager using a catalog se

[2020-05-13 09:25] mongrelion opened #54745 "Enable alerting on custom metric dimensions via the API"
We heavily depend on our custom metrics sent to Application Insights for all our alerting.
Unfortunately, enabling alerting on custom metric dimensions requires a manual step via the GUI as per the documentation, breaking our automation process.
Is there a way to enable this via the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-05-13 09:29] cstainie opened #54746 "Azcopy Copy with Oauth Error"
The azcopy cp commands is failing when using Oauth, the error is not documented.

Error: &gt; .\azcopy.exe cp C:\temp\file.txt https://storageaccount/folder/file.txt --from-to Localblob --trusted-microsoft-suffixes *.blob.core.windows.net
INFO: Scanning...

failed to perform copy command due to error: azure authentication to storageaccount is not enabled in AzCopy. To enable, view the documentatio

[2020-05-13 09:37] CedricG87 commented on #24917
Is it safe to use with production policies with lot of users as this feature is still in public preview since several months ?

[2020-05-13 09:44] rohitpant55 commented on #54525
Here is the exception at ShardMap.CreateShard(shardLocation) line when I use a tenant server and database which has a different username and password than that of the Shard map manager server.

<img width="600" alt="DifferentUsernamePasswordForShard" src="https://user-images.githubusercontent.com/20920736/81797443-6db68800-952c-11ea-82e9-6f08f524cfdc.PNG">

[2020-05-13 09:59] Alex-Derbyshire commented on #51630
How am I meant to present a capacity planning report to a potential customer if the deployment planner tool is out of date? I'm producing a report to a customer but out of their 73 profiled VMs, 39 are showing as incompatible as they are running CentOS 7 x64. Obviously I'm aware they are supported but this doesn't look very professional having to tell the customer that Microsoft's own deployment t

[2020-05-13 10:00] shashishailaj commented on #54734
@olamer  Thank you for your feedback . We will investigate and update the thread.

[2020-05-13 10:01] vvolodin commented on #54201
For anyone who stumbles upon a similar issue - this helped me resolve it:
https://github.com/Azure/azure-cli/issues/10426
Apparently it's a Chrome "feature".

[2020-05-13 10:09] souravmishra-msft commented on #54401
@PhineasJiang, Thank you for reaching out. I just tested the same scenario in my lab. I would like to share my findings with you.
When you create a multi-tenant app in AAD with the option "**Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)**", that would populate a value of "**AzureADandPersonalMicrosoftAccount**" fo

[2020-05-13 10:09] #54401 closed

[2020-05-13 10:12] deeksha-microsoft opened #54747 "Understanding of the Upgrade modes and other jargons"
As per doc - "Automatic - In this mode, the scale set makes no guarantees about the order of VMs being brought down. The scale set may take down all VMs at the same time." ,
1. What is meant by bringing down VMs? Would the VMs be restarted? Or reimaged?
2. What is a scale set model? It is the parameters? Why won't instance reimage bring VM to the same model?

---
#### Document Details

⚠ *Do not e

[2020-05-13 10:15] kierandelaney commented on #54662
The documentation is not correct.

You can (and we do in three environments including Production) use TLS with PHPRedis >= 5.0.0.

You simply append "tls://" to the begging of the host.

[code]

[2020-05-13 10:31] michalczerwinski commented on #49245
Today, out of sudden my linux app service started working correctly with with web socket connection.
This is S1 App Service Plan, Blazor Server side application.

So, what's going on? Can you please shed some light? We didn't perform any deployments or settings changes recently.

[2020-05-13 10:32] emelus commented on #54319
Thank you. It seems that the current logic app is for v1, is that correct.
In order to address this shortcoming, I am able to make a custom connector to the point that I can trigger the request to make it analyze a form over the internet. But I cannot find a way I could connect it to a whole set of files in the internet, for example, a blob. This is where I am stuck right now

[2020-05-13 10:36] SiobhanBaynes commented on #36505
For anyone still struggling with this issue, the following worked for me, place the following in the properties section of the Microsoft.Web/sites/config resource:
[code]

Then place the following in the Microsoft.Web/sites resource:
[code]

Where acrFullUrl is the URL to the container without the https://, and webApplicationName is the name of your web application.

[2020-05-13 10:38] emelus commented on #54319
Here, are you referring to the GetModel and AnalyzeForm requests, instead of the TrainModel request? Because the TrainModel request does not require a modelID.

[2020-05-13 10:40] kierandelaney commented on #54662
For reference, the official guide specifies that since version 5 you can specify a schema.

https://github.com/phpredis/phpredis#connect-open

[2020-05-13 10:51] balukantu commented on #54728
@DixitArora-MSFT , Please find more info [here](https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema)

[2020-05-13 10:52] shashishailaj commented on #54732
@shereen-yong Thank you for your query. We will investigate and update the thread.

[2020-05-13 11:11] AshokPeddakotla-MSFT commented on #51230
The doc now has been updated with more details regarding firewall rules and port configurations. Please check the doc for more details and let us know if that solved your issue: https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#store-runtime-containers-in-your-private-registry

[2020-05-13 11:17] tanis-mezzelfo commented on #28689
Hi, Today, I am exactly getting the same issue reported by @chriskuech and @KrishnaM . Please investigate.

[2020-05-13 11:19] JustMrMak opened #54748 "Group policy renamed the local admin?"
What happens if you have a group policy to rename the local admin?
Would this still work? Do these instructions apply at a SID level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c96628b7-5194-d46b-8bdc-bd0a7adeea7c
* Version Independent ID: a1954f87-f958-5257-d93f-ac74bfc619be
* Content: [Reset Remote Desktop Servic

[2020-05-13 11:28] VikasPullagura-MSFT commented on #54677
@achaikaJH I just tried tagging using the powershell commands mentioned in the document. I don't see any exception as you mentioned.

![image](https://user-images.githubusercontent.com/48944027/81807008-e91f3600-953a-11ea-841b-a0f71540c8b0.png)

[2020-05-13 11:44] chlumper opened #54749 "Ubuntu 20.04 - Reset password"
The password reset doesn't work on Ubuntu Server 20.04 LTS. It runs into a time-out after about 1h30min.

It works with Ubuntu 18.04 LTS, officially you only support Ubuntu 16.04 LTS but is there a road-map for Ubuntu 20.04 LTS support?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dce24b6-64e4-105f-2c26-323b2bb89d26

[2020-05-13 11:59] donkoyote commented on #50597
You will be able to AssumeRole to get access to other accounts. It's not a good practice to jump from "Master" account, better use dedicated Landing account, created precisely for that purpose or did it with multiple accounts SAML configuration.

[2020-05-13 12:03] mrbullwinkle commented on #54745
I looked at the underlying property change that happens when you check that box and it is adding the following property:
` "CustomMetricsOptedInType": "WithDimensions"`

I just tested to confirm and creating a resource via ARM with the above property added to your deployment template properties will create a new Application Insights resource with the box for `Enable alerting on custom metric dimen

[2020-05-13 12:05] ezYakaEagle442 commented on #28216
Hi @ANGULARANJEET , could we have an update on this request since 1 year please ?

[2020-05-13 12:10] mrbullwinkle commented on #54745
#assign:mrbullwinkle

[2020-05-13 12:11] ezYakaEagle442 opened #54750 "Document config for AKS Private Clusters"
"No support for Azure DevOps integration out of the box with private clusters" as described per https://docs.microsoft.com/en-us/azure/aks/private-clusters#limitations
could you please explain on this page how to setup an Azure DevOps agent  / Jenkins Slave  / Ansible ToolBox with AKS private clusters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-13 12:13] VikasPullagura-MSFT commented on #54742
@yuxisun1217
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-13 12:13] VikasPullagura-MSFT commented on #54742
@asinn826
Can you please check and add your comments on this doc update request as applicable.

[2020-05-13 12:21] jshwong opened #54751 "Action duplicated for Azure Sentinel Responder"
Under Security &gt; Azure Sentinel Responder, the following action-description pair were duplicated.

Microsoft.OperationalInsights/workspaces/dataSources/read - Get datasources under a workspace.

Duplicate appears five rows down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Ve

[2020-05-13 12:22] VikasPullagura-MSFT commented on #54749
@chlumper
Thanks for the Question! I have assigned the issue to content author to check and add comments on your ask.

[2020-05-13 12:23] VikasPullagura-MSFT commented on #54749
@axayjo Can you please add your comments on this.

[2020-05-13 12:26] SwathiDhanwada-MSFT commented on #54548
@sporter83 As per documentation, the tag support for the budgets is currently not supported. Kindly refer [this documentation](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftconsumption) to check the resource type that supports the tags.

![image](https://user-images.githubusercontent.com/48976275/81811946-0bb54d00-9543-11ea-9366-b6f11b9e13d2.png)

Ho

[2020-05-13 12:30] I0105 opened #54752 "ADLS to SQL DW"
Can someone explain in a similar way to load multiple files from ADLS to SQL DW

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bulk using Azure portal - Azure Data Factory](https://docs.microsoft

[2020-05-13 12:32] ezYakaEagle442 opened #54753 "Document config for AKS whith api-server-authorized-ip-ranges"
as described per https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges
could you please explain on this page how to setup an Azure DevOps agent  / Jenkins Slave  / Ansible ToolBox

see also :

- https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/byos.md
- https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browse

[2020-05-13 12:35] achaikaJH commented on #54677
Thanks for checking. I did several tests from my side. This only happens to one particular virtual machine. Sorry for false alarm.

[2020-05-13 12:36] CHEEKATLAPRADEEP-MSFT commented on #54731
@poonamnimje01 This looks strange. You may checkout the activity logs for more details.

Go to Azure Databricks service => Activity logs

Check if there any activity initiated and Event initiated by.

![image](https://user-images.githubusercontent.com/44426401/81812686-1c19f780-9544-11ea-8bc2-1908ed54d58e.png)

Dig depper into activity logs to get more info regarding changes made:

![image](https:

[2020-05-13 12:39] marinnedea opened #54754 "LVM support for "Restore individual files" script"
If a VM that has LVM on the OS and/or data disks is backed-up using Azure Backup and then, on the same VM is used the "Restore individual files" script, the LVM from the backup disks will not get mounted. The reason is that the backup disk will be an exact clone of the original VM, meaning the LVM configuration (VG, PV, LV) will be identical (same names, same UUIDs).
The problem can be solved, in

[2020-05-13 12:42] webyxdesign commented on #44196
same problem - with the correct username and password

[2020-05-13 12:44] helloyesthisisdave opened #54755 "What does the 'Recursively' option in the Dataset tab do?"
Checking or un-checking this option appears to have no effect on the execution and output of the Get Metadata activity, nor is it mentioned in the documentation here.  Does it actually do anything and if so, in what circumstances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4997d4-36fd-4f1c-464b-ea3190531e02
* Ver

[2020-05-13 12:44] fausttiger opened #54756 "How to check quotas on ML Workspace compute is incorrect method"
"On the left pane, select Machine Learning service and then select any workspace from the list shown"    is incorrect from All Services/General.      Rather quotas are from the Workspace itself... or from  All Services/  AI/ML

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea6aa65-3cbb-83d5-0f16-23b58c52cb88
* Version

[2020-05-13 12:45] atrauzzi commented on #54662
Probably worth updating the doc to reflect this then?

[2020-05-13 12:45] DCtheGeek commented on #54697
#reassign:DCtheGeek

[2020-05-13 12:47] shashishailaj commented on #54740
@Emmanuel-Bresson Thank you for pointing that out. We will have it investigated and update this thread.

[2020-05-13 12:48] DCtheGeek commented on #54697
@kfprugger Thanks for the question.  The Azure CLI extension for Blueprint is currently **Experimental**, which is why it doesn't yet have docs.  I do get the same issue you are seeing against that sample.  However, as it's not an issue with the Docs but with the extension, please [open a new issue](https://github.com/Azure/azure-cli-extensions/issues/new) to the Azure/Azure-CLI-Extensions repo so

[2020-05-13 12:48] #54697 closed

[2020-05-13 12:50] kierandelaney commented on #54662
Yes, I stumbled upon this issue as I was about to suggest exactly this myself. The documentation is very misleading.

[2020-05-13 12:55] ezYakaEagle442 commented on #54750
I guess you need to create a VM in the same subnet than the AKS cluster to get a JumpOff , then setup an Azure DevOps agent  / Jenkins Slave  / Ansible ToolBox.

I have a scenario where all the tools must be in a specific VNet, if we install there one Azure DevOps agent + configure VNet peering with the AKS VNet, will it work ?

[2020-05-13 12:57] MonikaReddy-MSFT commented on #54738
@ADringer ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-13 13:09] satyajittarai opened #54757 "Correct Commands for azcopy using certificate"
---

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10)
* Content Source: [articles/storage/common/storage

[2020-05-13 13:13] viniciusvillas commented on #54581
Yeap, you must fix your documentation. In the expression box of the Logic App designer, it's said that `ticks()` returns the number of 100ns intervals from 01-01-1601 (a.k.a "File Time" by Windows, or DateTime.ToFileTimeUtc() in C#). *NOT TRUE*. It returns the number of 100ns intervals from 01-01-0001 (or DateTime.Ticks in C#).

[2020-05-13 13:13] GiantCrocodile opened #54758 "API endpoints wrong"
The API endpoints of this article include the word 'beta' and thus are not meant for productive usage. Please update the article to mention the productive-ready API endpoints, not beta ones.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe7b7b9-4614-7860-cf3f-9f8aba600a26
* Version Independent ID: 1c15bfc

[2020-05-13 13:16] jakaruna-MSFT opened #54759 "Create a note to ask customers not to edit default storage classes"
opening this issue based on the support ticket 120050422002259
Adam reported this issue to me. Customer suggested this doc enhancement.

issue description:
Customer edit on of the Storage class and that resulted in a failure.

So it would be better to add a note saying that customers should not edit the default storage classes.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-05-13 13:26] VikasPullagura-MSFT commented on #54759
@jakaruna-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-13 13:26] VikasPullagura-MSFT commented on #54759
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-13 13:27] adiun opened #54760 ".NET Standard"
This page mentions .NET Core in the title and refers to Azure.Messaging.EventHubs as a .NET Core library. But shouldn't this instead say that .NET Standard is supported since that's the only dependency this library has? https://www.nuget.org/packages/Azure.Messaging.EventHubs/

This is important to clarify for us since we need to use EventHubs from a .NET Framework project and could possibly use t

[2020-05-13 13:28] ted185 opened #54761 "Internal load balancer does not allow internet access to servers running as clustered SQL servers"
I followed the document on how to Configure a SQL Server failover cluster instance on Azure virtual machines

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster#step-2-configure-the-windows-server-failover-cluster-wsfc-with-s2d

I set the 2 servers in azure up with out a public IP address and after completing all of the s

[2020-05-13 13:28] pauljemmett opened #54762 "Azure Firewall"
States that it can be moved across Subscriptions on this page where as https://docs.microsoft.com/en-us/azure/firewall/overview states that it can't be moved but is on the Roadmap which is it? Many Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec

[2020-05-13 13:28] jourdant commented on #8454
I think it would really help if we could get the messaging updated to be clearer in the backup pane. It would be great to point out that In-App databases are automatically included in the backup.

This is what I see today:

![image](https://user-images.githubusercontent.com/230794/81817078-4689a600-9580-11ea-8c3d-401b719d6013.png)

```No supported connection strings of type SQL Database or MySQL f

[2020-05-13 13:30] Ramachandran28 opened #54763 "Azure Synapse T-SQL Scaleup and ScaleDown taking longer time"
Hi,
When we run the T-SQL queries mentioned in the MSDN using SSIS job to ScaleUP or ScaleDown, the Azure portal showing "Scaling" for longer time and T-SQL database shows "In-Progress".

Also can you guide us how to use the .Net WebAPI to authenticate azure portal and pausing or starting the azure.

REgards,
Ramachandran S

[2020-05-13 13:31] APIWT commented on #41177
@ConnerMcMahon Does this also apply even if the non-production slot has the orchestration function disabled?

[2020-05-13 13:31] dzajda opened #54764 "Search indexer has stuck and blocked whole indexing"
When multiple indexers try to index sth, they go to a queue and work one after the other.

It occurred that one of the indexers has stuck and blocked whole indexing (for hours).

We’ve tried to delete the indexers, index and data sources and still new indexers were blocked and waited for sth.
Only when we deleted the whole Search Service and deploy it once again, it started working.

Removing whol

[2020-05-13 13:33] crisansou commented on #54151
Hi @blueww and @normesta ,

Thank you very much! There is a preview version, I'll try to remove it.

![image](https://user-images.githubusercontent.com/29444086/81818625-a6426b80-9504-11ea-93b1-c3d3d8256f30.png)

As there is a version problem, I successfully ran the commands using Cloud Shell.

![image](https://user-images.githubusercontent.com/29444086/81818908-00433100-9505-11ea-9c1a-a12b8b23e1f

[2020-05-13 13:33] #54151 closed

[2020-05-13 13:36] AshokPeddakotla-MSFT commented on #54711
@milligan21 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-13 13:43] mikeTsubasa1 opened #54765 "What will happen when a user in signed into a application using azure ad sso with a token expiration of 2 days and the user account is deleted on the first day ?"
Scenario:
1.User signs into the application using azure sso using saml protocol.
2.Application gets a SAML response with the token expiration of 2 days.
3.Admin deletes the user account after the first day.
4.The deleted user will still have access to the application for two days.
Will azure call the logout URL of the application to inform the application of the session expiry as the user got dele

[2020-05-13 13:52] jmprieur commented on #54716
@clarkezone. For you the admin tenant is MSIT.

[2020-05-13 13:52] jmprieur commented on #54716
#please-close

[2020-05-13 13:52] #54716 closed

[2020-05-13 13:54] andywilkinshmcts commented on #53954
Completely agree with jwisener. I'm in the UK, but it's currently summertime, so I need to subtract one, until sometime later in the year (which can't readily be calculated) when we are back on GMT, which is the same as UTC. We need a tolocaltime() function.

Also it's really annoying to have to convert every date from US format to UK format so that my users can read it - is there some way of sett

[2020-05-13 13:57] Seddy24 commented on #53855
I'm looking for the answer to this same problem, thank you.

[2020-05-13 14:02] sailadasanthosh opened #54766 "can someone help me to run azure fucntion in eclipse IDE"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b503fcf5-2f8d-c782-41d7-f8b94a612b31
* Version Independent ID: d1036e24-91a3-5c1f-bbd4-0d3d7a0e55fe
* Content: [Create an Azure function app with Java and Eclipse](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-eclipse)

[2020-05-13 14:07] MGoedtel commented on #53723
@Mexicoder - Engineering is actively investigating this and I don't have an ETA when this will be corrected.  Because this isn't a doc issue, I'm requesting we close this issue and I'll update it once I know something concrete.  #please-close

[2020-05-13 14:07] #53723 closed

[2020-05-13 14:09] Nagarc commented on #54587
I exactly followed the same and tried many times. is there a need to install odbc driver for it?

[2020-05-13 14:09] Nagarc commented on #54587
still no luck for me..

[2020-05-13 14:14] mhyllander commented on #54106
@michaelmcmillan: As I understand it, OpenVPN with Azure AD authentication is only available using "Azure VPN Client". That's the only provided client configuration. I don't think standard OpenVPN clients are supported with Azure AD, the documentation is very clear on this point. And since "Azure VPN Client" is only available for Windows currently, it means that VPN with Azure AD authentication is

[2020-05-13 14:14] Staubi999 opened #54767 "Unclear situation about B2B member users"
As outlined in another article, it is possible to have B2B collaboration users as members as well and not just as guests. It is not described if this has implications towards licensing. Does it remain the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9de7df3-1669-e58d-ae57-bdc8993ac35f
* Version Independent ID:

[2020-05-13 14:20] sayanghosh123 commented on #51073
This is a feature gap with third party tools such as CloudHealth and would be good to consider PaaS.

[2020-05-13 14:27] ezYakaEagle442 commented on #54750
- hosted agents will not work because they IP is one of the whole IP range of the Azure geography)
- you have to use self-hosted agents (could be on a VM or ACI linked to VNet), or add a custom task within the hosted agent which detect its own IP and add it to the api-server, perform the deployment and then remove it (dirty and very dirty), manual management of the VM, of the patch, just manual ma

[2020-05-13 14:31] KevinBuchs opened #54768 "bring up to date with current Portal UI"
Names and labels have changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dcf9b-e64a-922b-6108-bd1152a758f0
* Version Independent ID: 58247335-c4e9-705b-297d-97637b872c02
* Content: [Configure deployment credentials - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy-configure-credenti

[2020-05-13 14:31] michaelmcmillan commented on #54106
Thanks! I didn't find it to be clear from the documentation, but what you're saying makes sense :) Appreciate you taking time to reply.

To Azure folks: This basically means we can't use VPN Gateway, which is a shame. A VPN client for Mac OS or support for AD via. OpenVPN would solve our problem.

[2020-05-13 14:32] vipulsparsh commented on #54559
@WoutVergauwen  We have engaged out content team for their review and will keep you posted.

@iainfoulds I have created a pull request, It would be great if you can review the pull request and update as needed as I dont have the merge rights.

[2020-05-13 14:37] ezYakaEagle442 commented on #54304
👍  see also my issue [https://github.com/MicrosoftDocs/azure-docs/issues/54750](https://github.com/MicrosoftDocs/azure-docs/issues/54750)

[2020-05-13 14:38] mrbullwinkle commented on #44631
The article was updated to clarify this info here: https://github.com/microsoft/azure-docs/commit/8efc3f87b47f29b4deefbc1499f5dd9a6ea4dfd1#diff-83dec1536adc0ced8d5d6f7b89c56363

[2020-05-13 14:39] mrbullwinkle commented on #44631
#please-close

[2020-05-13 14:39] #44631 closed

[2020-05-13 14:41] sladeedmonds commented on #54577
After doing a little more digging in, it seems the network intent policy is specifically configured to not allow endpoints of any kind.

[code]

The engineer is trying to find out from the PG whether or not it is supported in Gov.

[2020-05-13 14:42] lgmorand commented on #54304
@Joris29 you just need to use self-hosted agents (https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops). The pipeline is indeed in AzDo but then will be executed on your agent, which has to be on an VM which has network access to your api endpoint (VNet peering for instance or in the same VNet than your cluster)

[2020-05-13 14:44] michael-blahay-kt opened #54769 "Where is full json schema"
I need the full json schema for the common alert schema. Where can this be downloaded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Alert schema definitions in Azure Monitor - Azure Monitor](https://docs.mi

[2020-05-13 14:45] SaurabhSharma-MSFT commented on #54765
@mikeTsubasa1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-13 14:46] SaurabhSharma-MSFT commented on #54751
@jshwong Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 14:47] SaurabhSharma-MSFT commented on #54758
@GiantCrocodile Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 14:47] RohitMungi-MSFT commented on #53892
@viju2008 Since this is an issue with custom implementation and the feature is not readily supported we will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.
Also tagging the feature request from the SDK repo for reference.
#https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/625

[2020-05-13 14:47] #53892 closed

[2020-05-13 14:48] SaurabhSharma-MSFT commented on #54767
@Staubi999 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 14:48] RohitMungi-MSFT commented on #54640
@yaswanthv007 We will now proceed to close this thread as an option to open a support request is generated as a one time benefit. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-13 14:48] #54640 closed

[2020-05-13 14:50] artisticcheese opened #54770 "Temporary disk is incorrectly set for Windows VM images for page file"
Windows VM images are automatically set to "system managed size" to D (temporary drive). Problem is that max size allocated is 1/8 of total volume size. So for some VMs this is becames much smaller then actual RAM available on server and hence results of OOM issues. "System Managed" size guidelinces was never designed for Azure VMs hosting page file on dedicated temporary drive, this limitation (1

[2020-05-13 14:51] andbarbu opened #54771 "what is WINDOWS DSVM or LINUX DSVM"
Hi,
in the tables from this page, where the tools are presented there are 2 confusing collumns:
Windows DSVM	Linux DSVM
What is windows DSVM, what version of windows is that referring too? Same applies to Linux DSVM - is that redhat, ubuntu or what linux distro?

Thanks
Andrei

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-13 14:52] RohitMungi-MSFT commented on #54652
@aribornstein We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-13 14:52] #54652 closed

[2020-05-13 14:54] SaurabhSharma-MSFT commented on #52167
@vbatr We are closing this thread as already discussed over email and it requires a support ticket for an identity engineer to look into. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-13 14:54] #52167 closed

[2020-05-13 14:55] dnelis205 commented on #21463
Hi there, I am having the same problem as above.
None of the links on this page work: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-delete-data
Would you be able to assist?
Thank you

[2020-05-13 14:57] jenalimor commented on #48128
I was able to get this working by moving the listAccountSas function to the parameters as a securestring parameter section and passing in a single variable for the protectedSettings.StorageAccountSasToken - I would guess the python script running the diagnostics part on the VM cant properly assemble the accountSasProperties for some reason

[2020-05-13 14:59] RohitMungi-MSFT commented on #54698
@PatrickFarley Is there an option to use the API and the tool together or a document with more details?

[2020-05-13 15:00] Staubi999 opened #54772 "onPremisesUserPrincipalName blocks conversion - no info given on the article"
The article states that the conversion of internal users to B2B users works also in the hybrid scenario. But in many organisations, the onPremisesUserPrincipalName is filled in Azure AD due to the sync. The conversion gets blocked because of it. It would be great if the article would mention a note about why this is the case and how to work around it.

---
#### Document Details

⚠ *Do not edit thi

[2020-05-13 15:04] mrbullwinkle commented on #14899
Adding `#please-close` comment to close out issue per author's previous comment.

[2020-05-13 15:04] mrbullwinkle commented on #14899
#please-close

[2020-05-13 15:05] #14899 closed

[2020-05-13 15:05] PramodValavala-MSFT commented on #54591
@phillipdwright Just following up here... Hope my previous comment clears things up.

[2020-05-13 15:09] SaurabhSharma-MSFT commented on #48190
@splummer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-13 15:09] #48190 closed

[2020-05-13 15:10] SadiqhAhmed-MSFT commented on #54715
@dimaqq Thanks for the feedback. We are looking into this and will get back to you shortly.

[2020-05-13 15:11] VikasPullagura-MSFT commented on #54676
@mimckitt Can you please add your comments.

[2020-05-13 15:14] mikescar commented on #40941
We also need this fixed in v1, for an internal-only site

[2020-05-13 15:16] shashishailaj commented on #54390
@D-Jeffrey We checked this and I do not think the requirement for this has changed. I am however not sure why this does not show up in the Endpoint Manager.  It may need further troubleshooting as you seem to be using SCCM with Intune possibly. I do not have a same setup hence I was not able to replicate your exact scenario. If you have a support plan with us , please engage Microsoft support on t

[2020-05-13 15:16] #54390 closed

[2020-05-13 15:18] SaurabhSharma-MSFT commented on #54583
@jeffpatton1971 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-13 15:18] #54583 closed

[2020-05-13 15:20] SaurabhSharma-MSFT commented on #54584
@AmitavaHazra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-13 15:20] #54584 closed

[2020-05-13 15:21] pragnagopa opened #54773 "[AzureFunctions] Update testing docs for Functions V3"
cc @ggailey777 @fabiocav
More context in issue: https://github.com/MicrosoftDocs/azure-docs/issues/44779

Code Sample: https://docs.microsoft.com/en-us/azure/azure-functions/functions-test-a-function is using `DefaultHttpRequest` which is removed from AspNet Core 3.1

Update docs to use 'DefaultHttpContext.Request` instead.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-13 15:24] bandersmsft commented on #54643
@MartijnElfers Hi there. You're right, for CSP the article should link to https://docs.microsoft.com/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp. I'll update the article within the next couple of days.

[2020-05-13 15:25] bandersmsft commented on #54643
#please-close

[2020-05-13 15:25] #54643 closed

[2020-05-13 15:25] mhyllander commented on #54106
@michaelmcmillan: Ha ha I meant to write "the documentation is _not_ very clear". 😆

[2020-05-13 15:33] agrabhi opened #54774 "A Power Shell script will be really nice to clean up tenant"
A Power Shell script will be really nice to clean up tenant. Or a button when I am sure I don't need anything from the tenant - i should be just able to delete it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content

[2020-05-13 15:39] mimckitt commented on #54676
@rjmontenegro yes that would appear to be the right process as it seems Debian does not have an agent version greater than 2.0.16

[2020-05-13 15:40] asergaz commented on #51821
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-13 15:40] #51821 closed

[2020-05-13 15:40] DaveSneddon opened #54775 "Read and write a claim XML"
I get an error message when I add this XML to my extensions file.

"The required "DisplayName" element is missing from TechnicalProfile with id "AAD-UserWriteUsingAlternativeSecurityId""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae8461-82d9-9172-a76d-3185799203b4
* Version Independent ID: 8c059024-1b26-ed3f-c53b

[2020-05-13 15:48] rjmontenegro commented on #54676
@mimckitt Yes, that's what I did and the backups are already being done successfully. I was in doubt because I went to see the state and there are two services, although one is disabled:

  sudo systemctl status walinuxagent.service
* walinuxagent.service - Microsft Azure Linux Agent
    Loaded: loaded (/lib/systemd/system/walinuxagent.service; enabled)
    Active: active (running) since Tue 2020-

[2020-05-13 16:00] shashishailaj commented on #54727
@JasonHershey Yes you are correct . The non-Azure VMs are supported in Standard version of Security center . The detailed note on the page https://docs.microsoft.com/en-us/azure/security-center/security-center-onboarding confirms that.

I am not sure about the following free features mentioned on the page https://docs.microsoft.com/en-us/azure/security-center/security-center-services?tabs=features

[2020-05-13 16:01] shashishailaj commented on #54727
@memildin Could you please review the above thread and update the articles if needed ?

[2020-05-13 16:09] DBASQL1 opened #54776 "Turning off Security defaults via Assure does not work - Stops SMTP connection traffic"
Ticket number 199737796
As a partner every business we have ever set up has had at least one SMTP connection required for copiers or web forms and things of that nature. This tenant is brand new and had security defaults on when the tenant was created but then was subsequently turned off. Once this is off you create a new account and try to use SMTP and it still does not work. We brought this up t

[2020-05-13 16:10] rigdern commented on #54380
@DixitArora-MSFT I believe the issue should be repoened. Let me clarify why. There are two different deployment scenarios:
  1. Deploying an Function to your local machine
  2. Deploying a Function to Azure

The information you posted and the documentation page are only accurate for (2) deploying a Function to Azure.

They are not accurate for (1) deploying a Function to your local machine. See my

[2020-05-13 16:13] ConnorMcMahon commented on #41177
@APIWT, yes we enforce this at application startup when the Durable Functions extension is loaded.

[2020-05-13 16:16] Joris29 commented on #54304
@lgmorand @ezYakaEagle442  thanks both for the reply i will take a look at it but it would be nice if this was linked in the page as well

[2020-05-13 16:19] msjogarrig commented on #54709
Hi @santhoshbomma9, if you aren't seeing metered billing UI for an Azure application / managed application plan please open a support ticket (you will see it on managed application plans only, not solution template plans).

[2020-05-13 16:19] crisansou commented on #54151
I installed version 1.14.0 and the problem was resolved.

![image](https://user-images.githubusercontent.com/29444086/81838220-393ad000-951c-11ea-976d-c3fc18edc5a2.png)

[2020-05-13 16:20] mongrelion commented on #54745
Thank you so much for the prompt response. I am sorry that I forgot to mention that we're using Terraform to provision our infrastructure, but a quick look into the provider shows that this feature is not yet implemented (source [here](https://github.com/terraform-providers/terraform-provider-azurerm/blob/c1faa6672f6bd57538577e1b030b95e75ee1a583/azurerm/internal/services/applicationinsights/applic

[2020-05-13 16:24] MicrosoftGuyJFlo commented on #54776
Azure AD security defaults does not allow exclusions.

There are ways to configure multifunction devices as documented by the Exchange team in the article [How to set up a multifunction device or application to send email using Office 365 and Microsoft 365](https://docs.microsoft.com/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3)

[2020-05-13 16:24] SamaraSoucy-MSFT commented on #54414
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-13 16:24] MicrosoftGuyJFlo commented on #54776
#assign @MicrosoftGuyJFlo

[2020-05-13 16:25] MicrosoftGuyJFlo commented on #54776
#please-close

[2020-05-13 16:25] #54776 closed

[2020-05-13 16:28] edurakhanyan opened #54777 "correction"
"How to add logins and user accounts in the master database and user accounts and then grant these accounts administrative permissions"

the second "user accounts" in the sentence below doesn't make sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb2d3ad-4751-0055-82ea-083e634b6353
* Version Independent ID: 2dec

[2020-05-13 16:30] DBASQL1 commented on #54776
When security defaults are toggled off they still apply and you can't use SMTP. I dont know how to change the code in the portal to make the toggle work properly. This has been reproduced by support on any created email account. The customer has no choice because this setting was on in every new tenant.
If the account security setting is on at creation and the toggle does not work how are we suppo

[2020-05-13 16:36] rigdern commented on #54375
@DixitArora-MSFT I believe this issue should be reopened.

My feedback was about the page [Timer trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp).

My suggestion is that the page [Timer trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp) should link to [Man

[2020-05-13 16:36] normesta commented on #54151
@blueww Thank you so much! That was very informative.

[2020-05-13 16:39] normesta commented on #53993
Thank you for responding @blueww!

[2020-05-13 16:39] normesta commented on #53993
#please-close

[2020-05-13 16:39] #53993 closed

[2020-05-13 16:41] lfittl-msft commented on #53738
@NavtejSaini-MSFT I believe we can close this for now as I've shared how this can be done today. We don't support this as the primary workflow right now, so are intentionally leaving this out of the documentation at this point.

[2020-05-13 16:41] BharathNimmala-MSFT commented on #54762
@pauljemmett Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-13 16:44] APIWT commented on #41177
@ConnorMcMahon Okay, that makes sense. How would I go about accomplishing this? My guess is that in the `host.json` file, I would use an app settings (ie: %TaskHubName%) similar to what is described here: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp#task-hub-names

But I guess where I get confused is the impact on my ARM template. How do we

[2020-05-13 16:45] rigdern commented on #54377
@DixitArora-MSFT I believe this issue should be reopened. My suggestion is about the doc page [Manually run a non HTTP-triggered Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http). I retitled my issue to clarify my suggestion.

My suggestion is to describe how to run an Azure Function on-demand via the Azure Portal. This is very useful for non

[2020-05-13 16:47] kummanish commented on #51068
we have udpated the docs with the CLI option
https://docs.microsoft.com/en-us/cli/azure/mysql/server?view=azure-cli-latest

-public-network-access

@KalyanChanumolu-MSFT can we please close this item.

[2020-05-13 16:47] kummanish commented on #51068
#sign-off

[2020-05-13 16:50] chriscrawfordTR commented on #28027
My coworker ended up using a third party workflow tool to write the text values of the MultiSelect Option Set as a comma-delimited string in a separate field within Dynamics 365. From there I was able to ingest the field as a string type and parse the values.

[2020-05-13 16:52] hrasheed-msft commented on #53255
#please-close

[2020-05-13 16:52] #53255 closed

[2020-05-13 16:55] hrasheed-msft commented on #53989
@MartinJaffer-MSFT  I think I was listed as the owner for this doc in error. I havent contributed to this service. I think @julieMSFT is the best contact for this service.

[2020-05-13 16:55] dbird03 commented on #52933
I agree! I've waited 15 minutes, but I'm not seeing any data in the Conditional Access Insights and Reporting workbook. It would be helpful to know how to verify events are being streamed to the Log Analytics workspace I created.

[2020-05-13 16:56] CharmanderJieniJieni commented on #53293
@vipulsparsh  thanks for the response. But it is still unclear for us. We agree that we should use AAD  authentication as best practice. But are all Azure services support AAD authentication? One service come into my mind is that VM, though Windows 2019 and Windows 10 supports it, other VM services do not

[2020-05-13 16:56] turg77 opened #54778 "Edge / Chrome"
Are there plans to get this to work without ActiveX?  Trying to get this integration working on a new Windows Server 2019 deployment for Edge or Chrome users.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fcb539-bdbd-068d-46c0-44058146031e
* Version Independent ID: 15e99611-e40e-310c-1625-9e76b27cfe99
* Con

[2020-05-13 16:57] hrasheed-msft commented on #53989
#re-assign: julieMSFT

[2020-05-13 17:02] tburns10 commented on #51167
Given the probability threshold you set in the portal, we calculate the average precision. The precision and recall are calculated at the threshold for entire dataset - across all classes. This is compared with mAP which calculates per class AP first and then averages.

[2020-05-13 17:03] shashishailaj commented on #51688
@johnjohnjohn87 The Monitoring agent send all the data to the workspace. But the rules are set per workspace and the data gets sanitized before being written to the log analytics workspace . There is no change required at the device level if you change the event set level for the security events connector and it wont change the settings on other workspace. We will now close this issue . Should you

[2020-05-13 17:03] #51688 closed

[2020-05-13 17:03] faramos opened #54779 "Looking for samples to call web APIs from Blazor server render mode and users authenticated by Azure AD"
Hi,

I just started a new blazor app successfully authenticating user at AzureAD. I already protected my webapi and access this with an angular app.
Now, I´m trying to follow this doc to send the access_token from the web app to the web api with no success.
About this page:
-What nuget package contains the required AddWebAppCallsProtectedWebApi method?
-Where are the types corresponding to Microso

[2020-05-13 17:05] dlepow commented on #54588
Closing this issue since per our process we track in related docs work item. Thanks again.
#please-close

[2020-05-13 17:05] #54588 closed

[2020-05-13 17:06] rishabjolly commented on #54639
Thanks @lgmorand - Our goal is to eventually replace the solution with https://github.com/microsoft/Application-Insights-K8s-Codeless-Attach. However, this solution is not in public preview today. Its more of private preview.  This is going to be soon in the ready state and then we can replace the solution with one you pointed.

For the first question, we have a codeless onboarding only for Java o

[2020-05-13 17:10] julieMSFT commented on #50647
#reassign:julieMSFT

[2020-05-13 17:12] santhoshbomma9 commented on #54709
you are right @msjogarrig , it is visible for new azure managed app offers, this is great thank you!

[2020-05-13 17:12] #54709 closed

[2020-05-13 17:13] davidsmatlak commented on #54713
#assign:davidsmatlak

[2020-05-13 17:13] Krytical13 opened #54780 "Office 365 APPS? E1, E3 etc"
On the page I am giving feedback,
there is no mention of any of the following information from the official pricing page for Azure Active Directory:

https://azure.microsoft.com/en-us/pricing/details/active-directory/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independ

[2020-05-13 17:22] pdebruin commented on #54362
This step does not provide the windows-admin-user when creating the cluster.
https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#create-an-aks-cluster
According to this issue the cluster needs to get a windows profile at creationg time, so the above step should be changed.
https://github.com/MicrosoftDocs/azure-docs/issues/34790

[2020-05-13 17:22] hrasheed-msft commented on #54180
@madhana Hello and thanks for reaching out. While I understand your concern we are not always able able to document answers for questions of this nature. As you are internal to Microsoft, there are other avenues that are better suited for you to get answers. This question would be better answered through [Azure support](https://azure.microsoft.com/en-us/support/create-ticket/) or using the Hdinsig

[2020-05-13 17:22] hrasheed-msft commented on #54180
#please-close

[2020-05-13 17:22] #54180 closed

[2020-05-13 17:23] GiftA-MSFT commented on #54563
@naveenambitious it seems free subscription is limited to 1000 transactions per month based on [Web API pricing](https://azure.microsoft.com/en-us/pricing/details/machine-learning-studio/). Thanks.

[2020-05-13 17:23] himanshusinha-msft commented on #54760
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-13 17:23] vipulsparsh commented on #53293
@CharmanderJieniJieni  Not all Azure Services support AAD Auth yet, but we are increasing the services which can be used with AAD Auth. [Here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-azure-ad-authentication) is a small list and many of them are being added and is a constantly updating

[2020-05-13 17:26] aauel opened #54781 "500 Response on Todos"
Everything worked fine until the "Browse to the Azure app" step.  The dev console shows "GET https://angie-auel-npgeek.azurewebsites.net/Todos 500".  I am able to access the Home and Privacy pages, as well as the Todos/Create view, but all other requests return "An error occurred while processing your request." and a message about Development Mode.  Sounds like an issue accessing the database?  No

[2020-05-13 17:26] himanshusinha-msft commented on #54755
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-13 17:27] MicrosoftGuyJFlo commented on #54776
@DBASQL1 I will forward your comments to the product group but I am just the writer of the docs content.

[2020-05-13 17:28] himanshusinha-msft commented on #54752
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-13 17:29] MarileeTurscak-MSFT commented on #54780
@Krytical13
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 17:32] evertonmc commented on #53738
I haven’t had the chance yet, but I will until the end of this week. Thanks again

[2020-05-13 17:32] SaurabhSharma-MSFT commented on #54772
@Staubi999 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-13 17:34] SaurabhSharma-MSFT commented on #54774
@agrabhi Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 17:35] hrasheed-msft commented on #54180
@madhanan you could also try the new QA platform: https://docs.microsoft.com/en-us/answers/questions/topics/azure-hdinsight.html

[2020-05-13 17:37] BryanTrach-MSFT commented on #54768
@cephalin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-13 17:38] SaurabhSharma-MSFT commented on #54775
@DaveSneddon Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 17:39] shivaprakashboss commented on #53447
@glomaga  I am also facing the same issue. could you please send me the IEF files of base and extension. Thanks

[2020-05-13 17:39] mslot commented on #45306
Does it match my values in the screenshot? I can't get it to work :/ What CDN are you using?

[2020-05-13 17:40] SubhashVasarapu-MSFT commented on #53009
@Nimleth , Appreciate your efforts in elaborating the scenario further. Private link provides an extra security solution for your infrastructure. The scenario you were referring to here is depends on the network design done on your infrastructure. You can fully design your network to block it and incase of isolation you can use VNET solutions. You can place the PE's in a isolated VNET and connect

[2020-05-13 17:40] SaurabhSharma-MSFT commented on #54778
@turg77 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 17:41] NatMarchand commented on #45306
I've been using the Microsoft.
Notice the space between `api/*` and `test`

[2020-05-13 17:41] BryanTrach-MSFT commented on #54781
@aauel Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-13 17:42] SaurabhSharma-MSFT commented on #54779
@faramos Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 17:45] Nimleth commented on #53009
Ok, forget it. I see this is leading nowhere. I'll try to get in contact with the product group via the official channels.

Rgds,
Dennis

[2020-05-13 17:45] VikasPullagura-MSFT commented on #54362
@yellow456434 Any update on the issue?

[2020-05-13 17:46] SubhashVasarapu-MSFT commented on #54309
@softveda , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-13 17:46] #54309 closed

[2020-05-13 17:50] TravisCragg-MSFT commented on #54744
@leon8154 can you post a link to the doc you are referring to?

[2020-05-13 17:50] MicrosoftGuyJFlo commented on #54776
@DBASQL1 After forwarding your comments to the PM for security defaults she recently found out that the Exchange team has set all new tenants to have SMTP disabled by default in addition to what security defaults does to disable legacy authentication.

If you want to back this out the steps in the article, [Enable or disable authenticated client SMTP submission (SMTP AUTH) in Exchange Online](http

[2020-05-13 17:52] sghaugen commented on #53656
@MarileeTurscak-MSFT thanks for looking into it.  It would be helpful to note that this snippet is for Linux shell bc that is no where stated in the doc -- maybe it's obvious to some but it wasn't for me.

[2020-05-13 17:52] nishankgu commented on #54756
@Brenda Lee<mailto:Brenda.Lee@microsoft.com> on this one.

________________________________
From: fausttiger <notifications@github.com>
Sent: Wednesday, May 13, 2020 5:44 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nishank Gupta <Nishank.Gupta@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] How to check quotas on ML Workspace compute

[2020-05-13 17:54] TravisCragg-MSFT commented on #54733
@HansonChiu1994 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-13 18:00] Karishma-Tiwari-MSFT commented on #54747
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-13 18:02] chishiuanlu opened #54782 "Basic and Standard Load balancer"
Hi,
What is the restriction for basic sku load balancer?
I have created a basic sku load balancer and wanted to use it to load balance the traffic for the linux VMs in an availability set in the same VNet and subnet, but kept getting the following message:
Virtual Machines must be in same location as Load Balancer. Only IP configurations that have the same SKU (Basic/Standard) as the Load Balancer

[2020-05-13 18:03] CharmanderJieniJieni commented on #53293
Awesome thanks!

On Wed, May 13, 2020 at 1:24 PM VipulSparshMSFT <notifications@github.com>
wrote:

[2020-05-13 18:05] #53293 closed

[2020-05-13 18:11] BharathNimmala-MSFT commented on #54769
@michael-blahay-kt Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-13 18:11] hidegh commented on #31922
@msrini-MSFT 8K of above still applies? I got also OData query issues...

See: https://feedback.azure.com/forums/34192--general-feedback/suggestions/35379964-please-provide-a-way-to-increase-maximum-url-lengt

[2020-05-13 18:12] MicrosoftGuyJFlo commented on #54701
Email out to PG

[2020-05-13 18:13] lobrien commented on #54771
The column titles are the names you'd see when choosing between SKUs when choosing between DSVM options. The "Windows DSVM" is Windows Server 2016 and the "Linux DSVM" is Ubuntu 16.04.

The choice of column headings came from the product team. I will raise this question at our next meeting.

I'm going to ask to #please-close this issue, since this is "as designed."

[2020-05-13 18:13] #54771 closed

[2020-05-13 18:17] code-vega commented on #34657
@ccompy

[2020-05-13 18:18] JamesDLD opened #54783 "Could not handle POST operation"
Hello,

the API that get a Service Principal or a Group works but I am not able to use the POST one that "Add a service principal" (I am connected with a Service Principal that is owner of the Resource Group that contains the Databricks workspace resource).

Could you please have a look on the following screenshot and check if everything is ok?

![image](https://user-images.githubusercontent.com/1

[2020-05-13 18:20] MicrosoftGuyJFlo commented on #54071
#assign @spunukol

[2020-05-13 18:20] pober commented on #45306
I am on Standard Microsoft too.

I've tried to remove leading / from value:
![image](https://user-images.githubusercontent.com/1587383/81849329-95cfd680-9580-11ea-8495-accc0954cb59.png)

Unfortunately, it does not help

[2020-05-13 18:23] GiftA-MSFT commented on #54455
@vaidya-s can you please review the above feedback or reassign to the appropriate content author? Thanks.

[2020-05-13 18:24] MartinJaffer-MSFT commented on #54688
Thank you for your feedback, @VitalyMCT . This has been assigned to the content owner, @linda33wj  and will be updated as appropriate.

[2020-05-13 18:28] Grace-MacJones-MSFT commented on #54226
Hello @StingyJack,  the limit is 1000 for Free, LinuxFree and Shared SKUs, and 5000 for the other SKUs. You can see if you are reaching the limit by viewing the Http queue length metric under the monitoring blade of your web app:

![httprequest](https://user-images.githubusercontent.com/42247081/81845589-9e36fb80-9505-11ea-8c60-aa659f942721.PNG)

We will close this out, but if you feel you need mo

[2020-05-13 18:28] #54226 closed

[2020-05-13 18:32] MikeParish opened #54785 "re: 'Create a web app' Header"
- "runtime PHP | 7.0" is no longer a supported runtime (supported runtimes are currently: "php | 5.6", "php | 7.2", "php | 7.3", and "php | 7.4")
- Azure CLI sample code also includes "--runtime PHP | 7.0" in both Bash and PowerShell
- The screenshot (https://docs.microsoft.com/en-us/azure/app-service/media/app-service-web-get-started-php/app-service-web-service-created.png) under "Here is what yo

[2020-05-13 18:32] DBASQL1 commented on #54776
I understand and appreciate your input JFlo. The problem is no one has access to dev even at MS internally. If there is a bug we seem to be on our own.
We dont want to disable two factor on accounts and I believe this to be reasonable. Why should we turn off a security mechanism when that mechanism keeps people from logging in to the web portal and using SMTP even if the attacker has the password?

[2020-05-13 18:33] daveba commented on #54633
This should not be assigned to the author of the article since this is a site design question.  Please route this to the appropriate engineering contact.  We're responsible for the content, not design. #reassign:@shashishailaj

[2020-05-13 18:33] Norrch2 opened #54786 "Clarification on InputClaims userIdForMFA"
Hello,

I have recently run into trouble when trying to use the MFA provider when it comes to the claim userIdForMFA. Currently, the documentation indicates that the userId is required but does not specify the format

I have tried utilizing this technical profile by setting the default value to "test"

[code]

but it fails. Also, another point of interest, is that the error message that is provide

[2020-05-13 18:35] lgmorand commented on #54639
Thanks but being on the field, I can tell you that SDK is fine for green field application (I 'm using it for years, it rocks). but within kubernetes, we need a distributed tracing system, which works with all technologies without requiring to inject/edit codes.

codeless attach is great, but I do hope we had something in mind to extend it. maybe through Dapr ?

[2020-05-13 18:36] RyanHill-MSFT commented on #54785
Thanks for the feedback @MikeParish! We are currently investigating and will update you shortly.

[2020-05-13 18:36] Grace-MacJones-MSFT commented on #54096
@NickMSW we will be updating this doc after MS Build. Thanks for your patience

[2020-05-13 18:40] evilpilaf opened #54787 "The usage of this feature's unclear"
It's not clear how to use the autoforwarding feature, is this done when creating the queues/topics via code on the SDK? Can this be done via ARM templates? What are the packages needed for taking advantage of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35341297-d419-96bf-7ba7-d7916f6a6d13
* Version Independent

[2020-05-13 18:43] jjacks opened #54788 "Tips for training model on form with missing key fields"
Do you have any tips for improving model scores (other than using more input samples) when manually training a custom model on a form that does not use label keys for certain fields?  (e.g. columns of a data in a table without column headers)  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e

[2020-05-13 18:46] Karishma-Tiwari-MSFT commented on #54428
@pcdiks Did that help answer your question?

[2020-05-13 18:46] Karishma-Tiwari-MSFT commented on #54443
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-13 18:46] #54443 closed

[2020-05-13 18:47] Karishma-Tiwari-MSFT commented on #52663
Sorry for the delay on this. Are you still seeing this issue?

[2020-05-13 18:56] khmerforce opened #54789 "Change Luis failed"
Hi so I tried to change Luis account on my bot but for some reason. It still connected to the old LUIS. I got error 403. I create a new LUIS account and tried to connect it. It still failed. My bot is node js version v4 from 2019. Please help!

[2020-05-13 18:56] Navlesh opened #54790 "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."
We are using API Manager to expose rest APIs and Azure Front Door is used in front and backend is API Manager.
We do also apply custom domain to the front door with TLS1.2 enabled.
We receive "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription." API is called using front door endpoint (custom domain) however, its works fine when used API Mana

[2020-05-13 18:57] ezYakaEagle442 opened #54791 "SLA to add in Commons questions"
on the left ToC tree / Resources / Commons questions could you please state the SLA, 99,9% if I am not wrong

https://github.com/microsoft/azure-docs/blob/master/articles/openshift/openshift-faq.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f

[2020-05-13 18:57] nexxuno commented on #54529
Hello, now I'm able to export, so I guess something changed. But with an object detection model with two labels I get an output shape with these dimensions [1, 13, 13, 35]. Is there any documentation about the output shape obtained using custom vision and how to decipher it? Or the export is just bugged and I need to wait for a fix?

[2020-05-13 18:59] faramos commented on #54779
I already noticed that Microsoft.Identity.Web is in prerelease.

[2020-05-13 19:05] Mike-Ubezzi-MSFT commented on #54739
@LudoBoggioTotal Thank you for bringing this to our attention. I went through multiple links and ended up without any information on how to accomplish this task. I will have the content team review this and update the documentation with a link to the information or verbiage pertaining to how this can be done.

[2020-05-13 19:07] MicrosoftGuyJFlo commented on #54776
In order to accomplish that you would have to use Conditional Access and create an exclusion for the specific users and yes that requires Azure AD Premium licensing. Security defaults is by no means perfect but it is intended as a better than nothing FREE option for customers because the vast majority of attacks are against legacy protocols and accounts without MFA.

[2020-05-13 19:09] MatthewSteeples opened #54792 ""Send feedback about this product" is a 404"
On the feedback section, it tries linking to https://feedback.azure.com/forums/169397-cdn which is a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87d90250-071e-0775-00f7-f25fcc65ef80
* Version Independent ID: 8b3c648d-c348-b11f-68cc-5445feba3aa0
* Content: [Actions in the Standard rules engine for Azure CDN](http

[2020-05-13 19:11] MatthewSteeples opened #54793 "URL Redirect - use original values"
We're trying to write a rule to add a trailing slash as a 302 redirect. We've got the right conditions configured `URL file name not ends with '/'` but can't find the right Action to just add a '/' to the end. All of them seem to want us to specify the full path.

We've tried `$1`, `%1` and `{1}`. Are there any others we should try or is this not a supported scenario?

---
#### Document Details

⚠

[2020-05-13 19:21] shashishailaj commented on #54264
@RescueWhale I encountered similar error in my environment. I am testing a few more scenarios and we are trying to get information on this internally. We will update the thread once we have more information on this.

[2020-05-13 19:25] khmerforce opened #54794 "unhandled error: Error: Get Token request"
I just created this Bot and when i tried to run it. It gave me this Error. Please help!

unhandled error: Error: Get Token request returned http error: 400 and server response: {"error":"unauthorized_client"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55c86f2-9c0d-015b-d44f-58914fed2deb
* Version Independent ID: 85

[2020-05-13 19:28] DBASQL1 commented on #54776
And this added cost/licensing is only required for the users that need to have a work around or the entire tenant?
You can see how this is going. Take something that was already there and working, change it without a realistic plan or regard for what that actually means and then say its there but it costs extra. This comes off as a hacky money grab.
Then what happens when they buy AD premium and t

[2020-05-13 19:28] Mike-Ubezzi-MSFT commented on #54410
@minascasiou We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-13 19:28] #54410 closed

[2020-05-13 19:31] techlogik commented on #20336
Same issue.  O365 E3 customer. According to the licensing info, this comes with AD Premium 1 as part of the license.  Everything is setup, been using hybrid for 5yrs now.  Audit shows it is enabled, but still have greyed out Write back password to your on-prem directory and message that says "On-premises integration has not been enabled. Learn how to enable password writeback."

[2020-05-13 19:31] ezYakaEagle442 opened #54795 "SLA missing"
Could you please add Azure Spring Cloud SLA on the FAQ and also at https://azure.microsoft.com/en-us/support/legal/sla/ as it is not listed under the 'web' section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56c00a6-1a38-6082-3f5b-cff314b76f0b
* Version Independent ID: c917cf4c-55ca-f179-536b-539f89af7fbc
* Content

[2020-05-13 19:36] bmitchell287 commented on #54795
@MikeDodaro - Mike would you please investigate? Thanks

[2020-05-13 19:43] ecfan commented on #54581
Hi @mike-urnun-msft and @ViniciusSipoli,

Thanks for reporting this issue. The docs reflect what the product tooltip says, so this is foremost a product issue. I've forwarded the issue to the product team for investigation.

[2020-05-13 19:48] Mike-Ubezzi-MSFT commented on #54489
@hitsy The instructions for monitoring TDE (and as per the title of this issue) are detailed in the section: [Getting TDE status from the Activity log](https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/troubleshoot-tde?view=azure-sqldw-latest#getting-tde-status-from-the-activity-log)

Are you looking for monitoring TDE or are you looking for investigating issues? In the

[2020-05-13 19:53] MonikaReddy-MSFT commented on #54753
@ezYakaEagle442 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-13 19:53] MonikaReddy-MSFT commented on #54750
@ezYakaEagle442 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-13 19:55] MicrosoftGuyJFlo commented on #54776
Security defaults is tenant wide on or off. You can choose to turn it off, re-enable SMTP, and go back to the way things were using the information in the article and provided links.

Conditional Access policies would replace security defaults tenant wide. Conditional Access has always been a premium feature.

[2020-05-13 19:58] MicrosoftGuyJFlo commented on #48397
Should be available per feedback from the product group. I would suggest opening a support case if you are seeing different. They can escalate to the product group if needed.

[2020-05-13 19:58] SaurabhSharma-MSFT commented on #54656
@sebassem Thanks for your feedback.  I am able to reproduce this and checking internally with the product team on this.

[2020-05-13 19:58] MicrosoftGuyJFlo commented on #48397
#please-close

[2020-05-13 19:58] #48397 closed

[2020-05-13 19:58] ShawnHouCHN commented on #54696
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment

[2020-05-13 20:00] markarnolditpro opened #54796 "Please note whether or not function apps can be restored"
Please note whether or not function apps can be restored.  I've tried and continue to get
```Restore-AzDeletedWebApp: Operation returned an invalid status code 'Conflict'```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2233ca-e4c5-a53b-f493-310ac953bdea
* Version Independent ID: d869ec94-1c1b-9440-e2d6-5b6a4f1d068e

[2020-05-13 20:02] vaidya-s commented on #54455
Adding @Bozhong Lin<mailto:bozhong.lin@microsoft.com>

From: GiftA-MSFT <notifications@github.com>
Sent: Wednesday, May 13, 2020 11:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Vaidyaraman Sambasivam <vaidyas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Issue getting container working following these steps (#54455)

@vaidya-

[2020-05-13 20:13] robraux commented on #53244
@SaurabhSharma-MSFT - survey says?

[2020-05-13 20:20] Blackbaud-TommyVernieri opened #54797 "Async replication "guarantee""
I believe this sentence should be change to say "replication is *not* guaranteed to be instantaneous."

&gt;For scenarios where clients write to Redis frequently, partial data loss can occur because this replication is guaranteed to be instantaneous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2341a44-997b-3cd5-f54

[2020-05-13 20:20] molinamelendezj opened #54798 "properties misspelled in cli command"
should read **properties**.outputs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3cb8acb-6d15-c634-86c0-558ac2b7bddd
* Version Independent ID: 6d4f2502-3bba-b442-949b-bb6283ef0cb2
* Content: [Outputs in templates - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/templa

[2020-05-13 20:22] #54798 closed

[2020-05-13 20:23] lcarli opened #54799 "Advertising do not change client routes"
##Reference page: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-p2s-advertise-custom-routes

-----------
Hi!

I' already have my VPN Gateway configured. Using this documentation I was able to advertise my clients that I have a new IP to use with this Gateway.
However, all clients were restarted but they never got the new IP.
If I download again my VPN Gateway and reinstall, it wor

[2020-05-13 20:24] davidsmatlak commented on #54713
@erbalaji Thank you for the documentation feedback. I'll research the question and respond within two business days.

[2020-05-13 20:25] BharathNimmala-MSFT commented on #54430
@bartvrooijen I did test out for one of our subscription and able to see Azure Activity logs and unfortunately not able to repro the same issue you are referring.

Provided subscription is connected to the workspace

![ActivityLog](https://user-images.githubusercontent.com/45180002/81861210-bcf4bc80-951c-11ea-9966-13a2f6a3e344.png)

Able to query Azure Activity Log.

![Workspace-LogAnalytics](http

[2020-05-13 20:25] #54430 closed

[2020-05-13 20:26] MikeDodaro commented on #54795
@bmitchell287   Having trouble locating the source for these docs.

[2020-05-13 20:26] MartinJaffer-MSFT commented on #54184
@MattEvansA45 the engineers would like to dig into this issue.
Could you please send an email to AzCommunity@microsoft.com  with the following information:
- Subscription ID
- a pipeline run ID where this happened
- an activity run ID of this copy activity
- the url of this github issue
- my username (so I can find the email more easily)

Once you have sent the email, please let me know here.

[2020-05-13 20:28] ezYakaEagle442 opened #54800 "[uptime-sla.md] link not correct"
Does AKS offer a service-level agreement?
AKS provides the ability to achieve 99.95% availability for the API server with **[Uptime SLA][uptime-sla.md].**

Can I use custom VM extensions?
No AKS is a managed service, and manipulation of the IaaS resources is not supported. To install custom components, etc. please leverage the Kubernetes APIs and mechanisms. For example, leverage DaemonSets to ins

[2020-05-13 20:30] DBASQL1 commented on #54776
The article you sent previously "Enable or disable authenticated client SMTP submission (SMTP AUTH) in Exchange Online"
**_The SMTP AUTH protocol is used for client SMTP email submission (typically on TCP port 587). SMTP AUTH doesn't support modern authentication (Modern Auth), and only uses basic authentication_**

Says you cannot use modern authentication with this changed setting which defeats

[2020-05-13 20:31] susaxen commented on #53478
Thanks for your feedback @Benjiiim. EPC Memory details have been added in the table on this page.

[2020-05-13 20:34] tobystic commented on #54785
Also under "Create a web app", if <app name> cannot be used, it gives "Not found" error.  Had to try the same step in Portal to see this was the reason. This error msg is confusing.

user@Azure:~$
user@Azure:~$ az webapp create --resource-group mmmmm --plan myAppServicePlan --name testapp --runtime "PHP|7.3" --deployment-local-git
ResourceNotFound - The Resource 'Microsoft.Web/sites/testapp' under

[2020-05-13 20:34] pcdiks commented on #54428
I solved a different way.

[2020-05-13 20:38] MarileeTurscak-MSFT commented on #54664
Just got a confirmation from IP experts  that , If someone has configured that policy and it is enforced, then customers should be able to reach it and turn it off. No other controls will be enabled for non-P2 customers. If the policy is not enabled, then all controls will be read-only.

Additionally, you can refer here for more information on the licensing and security report access: https://docs

[2020-05-13 20:39] MarileeTurscak-MSFT commented on #54664
Hope this helps! If you have further questions feel free to create a new issue or shoot me an email (in my profile).

[2020-05-13 20:39] #54664 closed

[2020-05-13 20:48] ChulHul opened #54801 "Broken link"
The link in the note under https://docs.microsoft.com/en-us/azure/storage/common/monitor-storage?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-powershell#analyzing-log-data goes to microsoft.com instead of the preview enroll link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a6

[2020-05-13 20:49] olamer commented on #54734
Thanks, the related information that E3 and E5 now includes Bookings is here:
https://support.microsoft.com/en-us/office/get-access-to-microsoft-bookings-5382dc07-aaa5-45c9-8767-502333b214ce
Important: The Microsoft Bookings app for Office 365 Enterprise E3 and Office 365 Enterprise E5 customers is currently available via an add-on (see “Get the free Microsoft Bookings add-on for Enterprise subscr

[2020-05-13 20:53] waydenie commented on #53610
Yes, my experience is that it has taken me longer to do this step of the tutorial than the whole tutorial :-) and I'm still not done... My ticket is submitted, but there's very little info within the process to help to know what I should be requesting of support... Ie that it's compute cores, how many to request, and of what family?

[2020-05-13 20:56] Grace-MacJones-MSFT commented on #54796
Hi @markarnolditpro, thanks for the feedback! We are currently investigating and will update the doc as necessary.

[2020-05-13 21:00] Jont-K opened #54802 "Change in values for landing page and webhook for offer/plan with open contracts"
Can either the landing page and/or the webhook be changed for a published offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5ac9-610513382609
* Content: [SaaS fulfillment APIs v2 in Microsoft commercial marketplace](https://docs.micro

[2020-05-13 21:02] Chai-NED opened #54803 "Please clarify outbound connection"
"When used together with NAT, these resources provide inbound Internet connectivity to your subnet(s). NAT provides all outbound Internet connectivity from your subnet(s)."

Does this mean NAT won't use outbound rules on my load balancer at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb766d9-18ab-2998-d769-99e

[2020-05-13 21:03] Grace-MacJones-MSFT commented on #54447
Hello @aholler2 , When the Log Analytics agent for Linux is installed, it configures the local Syslog daemon to forward messages to the agent. The agent then sends the message to **Azure Monitor** where a corresponding record is created.

The Log Analytics agent for Linux will only collect events with the facilities and severities that are specified in its configuration. You can configure Syslog t

[2020-05-13 21:03] #54447 closed

[2020-05-13 21:20] #53599 closed

[2020-05-13 21:26] dckfnuance opened #54804 "Need clarification on set-AzDataLakeGen2ItemAclObject and Update-AzDataLakeGen2Item"
We are trying to set the ACL for a user on existing ADLS folders. These folders already have a number of ACL defined for other users.

We use the following code to set the **Default** permissions for the user $id:
_$newacl = set-AzDataLakeGen2ItemAclObject -AccessControlType $ACLType -EntityId $id -Permission $perm -**DefaultScope**
Update-AzDataLakeGen2Item -Context $ctx -FileSystem $filesystemNa

[2020-05-13 21:27] MarileeTurscak-MSFT commented on #54448
Hi @Udbach, The list of writeback attributes is here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized

User writeback is not supported so I don't thing this is possible but I've reached out to the product team to confirm about the supported attributes.

[2020-05-13 21:32] aihaslett opened #54805 "Azure SQL Database Managed Instance"
It mentions in the limitations that elastic queries work for Azure SQL Database only. Could I just confirm whether or not this includes Azure SQL Database Managed Instance?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bf6940-1cbe-b07c-aede-131130ceb616
* Version Independent ID: 447635d9-5aea-f447-6cb4-8fd44ea5e900

[2020-05-13 21:36] mlearned commented on #54800
the link should be here:  https://docs.microsoft.com/en-us/azure/aks/uptime-sla

[2020-05-13 21:37] irenehua commented on #53913
@VikasPullagura-MSFT The link is working. Could you double check and confirm?

[2020-05-13 21:42] silviuojog opened #54806 "wordlevel timestamps with automatic language detection"
It seems wordlevel timestamps with automatic language detection is not working. I don't get "Words" in the json result. Will this change in the future?

[2020-05-13 21:47] Grace-MacJones-MSFT commented on #54781
Hello @aauel, are you in development mode or production mode? I believe you are having the same issue that was resolved here [#52176](https://github.com/MicrosoftDocs/azure-docs/issues/52176)

[2020-05-13 21:50] stevemachacz commented on #53913
Link now works. Thank you.

[2020-05-13 21:50] #53913 closed

[2020-05-13 21:51] RyanHill-MSFT commented on #54785
@tobystic it appears your version of the CLI has a bug. It's best to file it over at https://github.com/Azure/azure-cli/issues/new/choose.

[2020-05-13 21:51] NavtejSaini-MSFT commented on #54777
@edurakhanyan We are checking this and will get back to you.

[2020-05-13 21:53] ecfan commented on #54581
I've opened a bug for the engineering team to fix, but I also staged a PR to clarify this info in the doc, which is on hold for publishing as we're prepping for BUILD. However, update will go live when publishing resumes. Thanks!

@mike-urnun-msft: #please-close

[2020-05-13 21:53] #54581 closed

[2020-05-13 22:00] MladjoA commented on #54805
@aihaslett, yes, it does.
Not though that, if you are interested in the so-called vertical partitioning scenario of elastic query,  with Azure SQL Managed Instance you can use 3-part and 4-part names instead, as SQL Server's native solution for cross-database and cross-instance queries.

[2020-05-13 22:03] GiftA-MSFT commented on #54546
@QuetzalcoatlRosso "reduce rate of request" means you need to adhere to the [service limits](https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#data-limits-ai-enrichment). This [document ](https://docs.microsoft.com/en-us/azure/search/search-capacity-planning) provides details on how to adjust number of replicas/partitions. Thanks.

[2020-05-13 22:08] mike-urnun-msft commented on #54766
Of course, @sailadasanthosh! Let us know how we can help :)

[2020-05-13 22:08] TravisCragg-MSFT commented on #54743
@fifteenjoy can you post a link to the doc you are following?

[2020-05-13 22:10] TravisCragg-MSFT commented on #54764
@dzajda can you post a link to the doc you are referring to?

[2020-05-13 22:13] TravisCragg-MSFT commented on #54789
@khmerforce can you post a link to the doc you are following?

[2020-05-13 22:16] aihaslett commented on #54805
Thanks for the quick response. Sorry my initial question was a bit vague - specifically what I'm wondering is whether you can connect from a standalone Azure SQL Database, to a database running on Azure SQL DB Managed Instance, using elastic query?

As this article makes clear, you can't do this if you're connecting to an on-premises or VM SQL Server, but I was hoping that moving the database I'm

[2020-05-13 22:21] khmerforce commented on #54789
I just created a new bot in the azure portal. Basic Bot. I start the bot and try to run it I kept getting error. Is there a new Document I need to follow?

[2020-05-13 22:25] TravisCragg-MSFT commented on #54792
@MatthewSteeples Thanks for the feedback! We recently moved Azure CDN to fall under 'Networking' for feedback.azure.com. It looks like the doc links have not been updated as well.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-13 22:27] mike-urnun-msft commented on #54773
Thanks @pragnagopa, assigning to @ggailey777.

[2020-05-13 22:29] ggailey777 commented on #54773
#reassign:craigshoemaker

@craigshoemaker since this was opened by the Functions team, we can just close and track internally.

[2020-05-13 22:30] TravisCragg-MSFT commented on #54794
@khmerforce can you post a link to the doc you are following?

[2020-05-13 22:31] ecfan commented on #52103
Hi @anttitoippa,

Did the response from @divyaswarnkar help answer this question?

[2020-05-13 22:33] TravisCragg-MSFT commented on #54804
@dckfnuance can you post a link to the doc you are following?

[2020-05-13 22:34] TravisCragg-MSFT commented on #54806
@silviuojog can you post a link to the doc you are following?

[2020-05-13 22:40] reginbald commented on #54561
Thanks for the quick reply @RyanHill-MSFT. Do you know if it will be supported in the future?

[2020-05-13 22:46] RyanHill-MSFT commented on #54561
There is some exploratory work with managed identities being able to use RBAC but there isn't any notion of an ETA currently. I would advise submitting [feedback](https://feedback.azure.com/forums/34192--general-feedback) showing interest in such a feature.

[2020-05-13 22:47] ju-shim commented on #54625
Specialized Compute programs (i.e. H, NC/ND, NV) are more cagey about Ethernet bandwidth, which is the reason why the Azure Networking team has not yet qualified their VMs for Accelerated Networking. Providing an "expected" number for Expected Network Bandwidth (Mbps) is harder to give and why we leave it off in the documentation.

I hope this information helps.

[2020-05-13 22:52] Karishma-Tiwari-MSFT commented on #54748
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-13 22:53] GiftA-MSFT commented on #54177
@thuwas I just tried authenticating using Version 3.0-preview in python successfully. Please ensure that you have provided the correct key and endpoint of your resource which is located in the "Keys and Endpoint" blade in Azure Portal. Hope this helps. Thanks.

![image](https://user-images.githubusercontent.com/51332022/81873833-8897f500-954a-11ea-9607-1a4430a651c6.png)

[2020-05-13 22:53] Karishma-Tiwari-MSFT commented on #54770
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-13 22:53] dckfnuance commented on #54804
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

David
________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, May 13, 2020 6:33:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chan, David <David.Chan@nuance.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [Micr

[2020-05-13 22:55] MarileeTurscak-MSFT commented on #54778
Hi @turg77,

If you would like to request this feature the best place to do that is in User Voice where the product team can reply directly. https://feedback.azure.com/forums/169401-azure-active-directory

As of yet there are no plans that I'm aware of , but the product group is pretty responsive to suggestions.

[2020-05-13 22:55] #54778 closed

[2020-05-13 22:57] GiftA-MSFT commented on #54479
Currently, we are in a doc freeze for our upcoming MS Build event. As soon as the freeze is removed, I will update the document. For now I will proceed to close this thread. Thanks.

[2020-05-13 22:57] #54479 closed

[2020-05-13 22:57] Karishma-Tiwari-MSFT commented on #54782
Please go through this document and let me know if you have any questions:
https://docs.microsoft.com/en-us/azure/load-balancer/skus#skus

[2020-05-13 22:58] GiftA-MSFT commented on #54612
Currently, we are in a doc freeze for our upcoming MS Build event. As soon as the freeze is removed, I will update the document. For now I will proceed to close this thread. Thanks.

[2020-05-13 22:58] #54612 closed

[2020-05-13 23:00] Karishma-Tiwari-MSFT commented on #54791
SLA information is provided in the legal document here: https://azure.microsoft.com/en-us/support/legal/sla/openshift/v1_0/

[2020-05-13 23:05] MartinJaffer-MSFT commented on #54763
Hello @Ramachandran28 could you please post the  link to the doc you are following?

[2020-05-13 23:06] doc-rj-celltrak commented on #54365
Hi @amanmcse thanks for your reply. This seems to be a blocker for integration with an AWS Cognito SP, because AWS doesn't provide an SP metadata URL. If we can't sign out, it's a big problem.

Do you have any suggestions on how I can a B2C Idp with an Cognito SP?  They do provide the public key, but no metadata URL. I am also approaching AWS with this question.

In section 4.2 of your [B2C instru

[2020-05-13 23:08] MartinJaffer-MSFT commented on #54783
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-13 23:08] PAAutofac commented on #29343
I also face the same issue, even after adding web.config. Can anyone please suggest what are the other alternatives to resolve this issue.

[2020-05-13 23:10] NavtejSaini-MSFT commented on #54632
@denzilribeiro Please convey if you will be able to assist here or the customer needs to check with support.
@santoshadithya30 We are checking this with doc author for further guidance.

[2020-05-13 23:12] Karishma-Tiwari-MSFT commented on #54800
@mlearned I tried editing the doc but I am not seeing this line in the md file:
AKS provides the ability to achieve 99.95% availability for the API server with [Uptime SLA][uptime-sla.md].
Can you please take a look? Thanks. :)

[2020-05-13 23:13] NavtejSaini-MSFT commented on #54662
@yegu-ms Please provide the guidance here. If we need to go ahead and edit document to bring more clarity, please do so.

[2020-05-13 23:14] BharathNimmala-MSFT commented on #54741
@gdubya Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-05-13 23:14] dcbrown16 opened #54808 "Pricing location"
It seems a little bit weird that pricing for NAT is only found here and not on the virtual network pricing page.
Can you consider moving that info to this page, or at least linking to this page from that one, similar to how Public IPs and VPN Gateways are linked?
https://azure.microsoft.com/en-us/pricing/details/virtual-network/

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-05-13 23:15] BharathNimmala-MSFT commented on #54746
@cstainie Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-13 23:15] Karishma-Tiwari-MSFT commented on #54761
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-13 23:21] NavtejSaini-MSFT commented on #53828
@dedvds  PG has confirmed that this is not possible. CA is configured at the app/service level.  Not to specific DB/Server instances. You can file a user-voice here https://feedback.azure.com/forums/217321-sql-database

PG team has created internal user voice - https://cloudes.uservoice.com/forums/926632-azure-identity/suggestions/40403713-conditional-access-for-single-sql-server-db

We are going

[2020-05-13 23:22] #53828 closed

[2020-05-13 23:25] NavtejSaini-MSFT commented on #54397
@vaibhavramdasi We are going ahead and closing this thread for now. Please get back to us for any questions.

[2020-05-13 23:25] #54397 closed

[2020-05-13 23:26] jsantanders opened #54809 "This step is confusing https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights#add-the-technical-profiles-as-orchestration-steps"
This step here :- https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights#add-the-technical-profiles-as-orchestration-steps is confusing .

Where is supposed to be placed these orchestrations steps?

none resources mentioned in that step are inside the file "SocialAndLocalAccounts/TrustFrameworkExtensions.xml"

also, this article says "Call AppInsights-SignI

[2020-05-13 23:29] BharathNimmala-MSFT commented on #54798
@molinamelendezj Thank you for reaching out and closing out the issue, if you have any further queries/feedback please let us know.

[2020-05-13 23:32] nibaccam commented on #54108
@CESARDELATORRE @Aniththa I've created a product work item for this suggestion and tagged the appropriate documentation partner. I will now proceed to close this issue.
#please-close

[2020-05-13 23:32] #54108 closed

[2020-05-13 23:37] jsantanders opened #54810 "Where is supoused to be placed the technical profiles as orchestration steps"
I find confusing this step. Are placed these Orchestration steps on  "TrustFrameworkExtensions.xml" file? if so, SendClaims tag is not there. Assuming that the article at this step is still using the "SocialAndLocalAccounts/TrustFrameworkExtensions.xml" starter pack as reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-13 23:47] NavtejSaini-MSFT commented on #54797
@Blackbaud-TommyVernieri  We will check this and correct it after checking.

[2020-05-13 23:48] Kentcomp opened #54811 "Sentence structure question"
This sentence is awkward: "Jupyter (formerly IPython) is an open-source project that lets you easily combine Markdown text, executable code, persistent data, graphics, and visualizations onto a single, sharable canvas, the notebook (image courtesy of jupyter.org):" Is it really supposed to use the word "the" as in "...the notebook (image..." ?

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-13 23:50] MarileeTurscak-MSFT commented on #54120
It is best to avoid using token lifetime policies as these will be deprecated later this month. You should use conditional access policies instead.

Make sure that the policy is applied to the resource itself if you are still using that. The way to apply the policy to the app is to request a token with permissions to the AAD app registration.

https://docs.microsoft.com/en-us/azure/active-director

[2020-05-13 23:50] #54120 closed

[2020-05-13 23:52] TravisCragg-MSFT commented on #54793
@MatthewSteeples This is not a supported scenario. You will need to have a rule for each URL you want to redirect, this is also discussed in [#45255](https://github.com/MicrosoftDocs/azure-docs/issues/45225).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the iss

[2020-05-13 23:52] #54793 closed

[2020-05-13 23:55] nishankgu commented on #54756
Updated the docs, PR waiting review.

Thanks,
Brenda

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Nishank Gupta <Nishank.Gupta@microsoft.com>
Sent: Wednesday, May 13, 2020 10:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; Brenda Lee <Brenda.Lee@microsoft.com>
Cc: Mention <mention@noreply

[2020-05-13 23:58] TravisCragg-MSFT commented on #54799
@lcarli This is a limit of P2S VPN Gateways. All configuration is taken when you download the VPN client (routes, address space, DNS, ect) and is not updated unless you re-download the VPN / client.

If you would like us to add this functionality in the future, please leave your feedback at [azure networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will

[2020-05-13 23:58] #54799 closed

[2020-05-14 00:09] JackHorlock commented on #53955
Hi @Sandip-Raiyani,

I have run some new data into my TSI solution now and managed to get a connection for both raw and aggregated data. It looks like clearing the permissions and making sure I was working with warm store did the trick.  Thanks for your help. I think you can close this issue now.

[2020-05-14 00:09] roygara commented on #54055
@algattik Thanks for reaching out, we appreciate it!

I've gone ahead and adjusted the language on this page slightly, to reflect that. That change is live.

Regarding the last bit of feedback: This page should add proper documentation on how to detect this when scripting for example cloud init: the Azure agents creates symlinks on the fly for the OS disk, ephemeral disk and data disks in /dev/dis

[2020-05-14 00:09] #54055 closed

[2020-05-14 00:11] TravisCragg-MSFT commented on #54803
@Chai-NED Only connections that come in via the Load Balancer will exit via the Load Balancer's outbound rules.

all other connections will take the NAT service.

[2020-05-14 00:11] MarileeTurscak-MSFT commented on #54303
I'm able to add the apps that are in my tenant using it, such as Sharepoint Online and Exchange Online. I'm able to see the content from All Apps in mine.

![image](https://user-images.githubusercontent.com/13383753/81878330-96df1480-953c-11ea-9288-55a100c6f189.png)

Not sure if I'm fully understanding your question, but if I missed something feel free to reach out to me at AzCommunity@microsoft.c

[2020-05-14 00:11] #54303 closed

[2020-05-14 00:12] TravisCragg-MSFT commented on #54808
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-14 00:13] msfcolombo opened #54812 "How to reliably find other VMs in the scale set?"
I would like my application to exchange data with other machines in the VMSS. Is there a reliable way of learning the IP address or hostname of other VMs in the scale set? Here are a few desirable features:

- The application should not have to scan all IPs in the subnet, because it may contain connected devices that are not part of the VMSS.
- The application should not depend on any explicit con

[2020-05-14 00:13] norene9 commented on #20005
I have the same issue can you help me

[2020-05-14 00:26] Mike-Ubezzi-MSFT commented on #54489
@hitsy We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-14 00:26] #54489 closed

[2020-05-14 00:28] jackvdbuk commented on #54017
Can you please update the document as i come to this page regarding on prem Azure MFA for NPS extension

[2020-05-14 00:30] TravisCragg-MSFT commented on #54686
@Alex-Derbyshire Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-14 00:30] Chai-NED commented on #54803
Thanks for the clarification

Thanks,

Chai

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, May 13, 2020 8:11:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chai-NED <Csadvisor@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Please clarify outbound connection (#54803)

@Chai-NED<

[2020-05-14 00:37] GiftA-MSFT commented on #54319
@emelus yes logic app currently uses Form Recognizer v1. If you're using Form Recognizer v2 with logic app, to avoid the size limit and to train a model with labels or any of the other new features, you need to create a custom logic app connector. We are planning on updating the connector but do not yet have a release date. Regarding data connection, you can share are a file on a blob SAS url as s

[2020-05-14 00:37] #54319 closed

[2020-05-14 00:38] Grace-MacJones-MSFT commented on #20005
Hi @norene9, can you please open a new issue so we can track it separately?  Also, please provide more information about the issue you're facing. Thanks!

[2020-05-14 00:40] SaurabhSharma-MSFT commented on #54751
@jshwong The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-14 00:40] #54751 closed

[2020-05-14 00:41] Grace-MacJones-MSFT commented on #54796
Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary or to create a new doc if they align with the feedback.

@btardif can you please take a look at this issue? Thanks

[2020-05-14 00:46] nprieto95 opened #54813 "v12 SDK Example"
Can we get an example on how to do this with the v12 .NET SDK for Storage? That class "StorageCredentials" does not exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc96d70d-2208-e650-8224-4e9f6fed9c78
* Version Independent ID: 283b30cd-1188-2b0b-0837-0a9aece4d760
* Content: [Azure Key Vault managed storag

[2020-05-14 00:49] TravisCragg-MSFT commented on #54386
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-14 00:49] #54386 closed

[2020-05-14 00:50] derisen commented on #42720
@jmprieur @navyasric @hamiltonha We've been recently informed that the best practice is to always have a separate registration API and SPA (except some cases) and we've been revising our samples accordingly (cc @kalyankrishna1 ). So I think we should remove this sentence now.

[2020-05-14 00:50] TravisCragg-MSFT commented on #54803
@Chai-NED We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-14 00:50] #54803 closed

[2020-05-14 00:52] derisen commented on #52564
@lawrenceong001 good catch, thanks! I'll make a PR for changes

[2020-05-14 00:52] SaurabhSharma-MSFT commented on #54774
@agrabhi I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-05-14 00:56] Mike-Ubezzi-MSFT commented on #30605
@zepedaherbey This user has moved onto a new role. I can make @markjbrown aware of your inquiry or you can create a new issue if there is a specific area of the document you feel needs some clarification. In the current document, the [Logical partitions](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#logical-partitions) section has the following statement:

In this example the con

[2020-05-14 00:57] roygara commented on #54770
@artisticcheese Thanks for reaching out, would you mind clarifying the problem here? If I interpret you correctly, this is a product bug, not an issue with this documentation. Is that correct? If not, would you mind elaborating?

[2020-05-14 01:08] JasonWHowell commented on #54811
I agree. We'll fix it. Short term add a verb "called the notebook".

[2020-05-14 01:11] femsulu commented on #54802
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-14 01:13] Mike-Ubezzi-MSFT commented on #8454
@jourdant There is an additional concept with regard to In-App with App Services. With MySQL you have the option to host a MySQL instance in your App Service hosting plan. This an In-App instance and was made available back in 2016: [Announcing MySQL in-app for Web Apps (Windows)](https://azure.github.io/AppService/2016/08/18/Announcing-MySQL-in-app-for-Web-Apps-(Windows).html). This instance is i

[2020-05-14 01:14] femsulu commented on #54754
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-14 01:14] TravisCragg-MSFT commented on #54715
@dimaqq do you have a support request or additional info to go along with this? There is a note in this doc that speaks of the CAA requirements for this to work.

[2020-05-14 01:16] TravisCragg-MSFT commented on #54741
@gdubya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-14 01:17] JasonWHowell commented on #54811
The fix goes out next Tuesday. Resolving this for now. Thanks again for the feedback.

[2020-05-14 01:17] JasonWHowell commented on #54811
#please-close

[2020-05-14 01:17] #54811 closed

[2020-05-14 01:23] dimaqq commented on #54715
The doc mentions CAA record in a different context: a pre-existing CAA record.

I feel that the doc may not be fully correct: if there's a `public.com CNAME ...` record, then `public.com CAA ...` record should be irrelevant... though I'm not entirely sure about what take precedence when during obsolete record TTL 🤷

[2020-05-14 01:25] xyz92 commented on #34981
@KranthiPakala-MSFT Is there an update to the supported set in Data Flow (other than 5 listed above)? I see that Azure Cosmos DB (SQL API) is also supported s a sink in ADF Data flow. Do you have any plans to support Azure Table Storage in data flow? Please let me know.

[2020-05-14 01:44] cindywang1990 opened #54814 "Powershell cmdlet did not work as expected"
Using
$ADGraphUser = Get-AzureADUser -searchstring "<<external email>>"
returned nothing to the variable, you may want to update it to:
$ADGraphUser = Get-AzureADUser -objectID "UPN of internal user"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81002e29-e756-60db-55b3-fe645fa59240
* Version Independent ID: 3be93733-6

[2020-05-14 01:55] axisc commented on #54160
@ntziolis yes that is correct.

The session id for requests and responses need to be predetermined. All the requests should have the same request session id and then the requestor can acceptSession with the specific response session id.

[2020-05-14 02:08] sidesw1pe opened #54815 "Invalid link in document"
The link to the first example in the _Benefits of In-memory technology_ section of the document no longer works. Clicking the link gives a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f7d5bef-b90e-8c79-91af-8c56a9c4f9bf
* Version Independent ID: fec7ae59-69fd-02a4-edd1-24a778365757
* Content: [In-Memory t

[2020-05-14 02:10] gpj1 opened #54816 "How to track/measure dependencies for App Service on Linux (Containers)"
Please help me with a documentation link which describes about tracking/measuring dependency calls from App Service on Linux (Containers).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71343d5-5b28-5066-ec28-fafc4023aba3
* Version Independent ID: f5aaafd0-8961-2e5f-90eb-92fa16fa5828
* Content: [Java web apps performa

[2020-05-14 02:11] sscchh2001 opened #54817 "Cannot find "C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation\<version>\HybridRegistration" folder if step 2 is not run"
For Azure VMs, install the Log Analytics agent for Windows using the virtual machine extension for Windows. The extension installs the Log Analytics agent on Azure virtual machines, and enrolls virtual machines into an existing Log Analytics workspace using an Azure Resource Manager template or PowerShell. Once the agent is installed, the VM can be added to a Hybrid Runbook Worker group in your Au

[2020-05-14 02:11] Mike-Ubezzi-MSFT commented on #54525
@rohitpant55 Thank you for this additional detail as it makes it clear you are speaking of the shard management credential.

Because you are deploying single database per tenant, you would need a [management credential](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-manage-credentials#about-management-credentials) per tenant that has access to the global shard datab

[2020-05-14 02:12] jixjia commented on #54587
You need to ensure the cluster is up and running, else it'll fail to connect.

[2020-05-14 02:22] TravisCragg-MSFT commented on #54715
@dimaqq Have you tried [adding digicert as a ca via a CAA record with Route 53](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/ResourceRecordTypes.html#CAAFormat)?

[2020-05-14 02:40] BharathNimmala-MSFT commented on #54757
@satyajittarai Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-05-14 02:45] derisen commented on #52500
@lawrenceong001 would you be able to give more details about your issue? When does this happen? Are you using Internet Explorer? What does your msal configuration looks like? In particular, what does your `authority` string looks like?

(my Node.js version is 12.16.2 and it works fine, I doubt its a Node version issue).

[2020-05-14 02:50] yellow456434 commented on #54362
@VikasPullagura-MSFT  sorry, I reupload attachment to you
![截圖 2020-05-12 上午10 39 02](https://user-images.githubusercontent.com/16610640/81886971-ad36b000-95d0-11ea-8c07-6aefc0a31cee.png)

[2020-05-14 02:53] yellow456434 commented on #54362
@pdebruin ok, I know
could I add like windows-admin-user cmd when I create cluster on Asure potral now?

[2020-05-14 02:53] jshwong commented on #54751
Hi Saurabh,

Noted.  Thanks for looking into this.

Best regards,

Jude

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, 14 May 2020 08:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jshwong <jshwong@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Action duplicated for Azure Sentinel Responder (#54751)

@jshwong

[2020-05-14 03:01] yellow456434 commented on #54362
I used to create cluster by azure portal,
and I didn't see any place to add windows-admin-user infomation.
And I check my already created cluster detail by azure portal, windowsProfile is null.

[2020-05-14 03:05] denzilribeiro commented on #54632
@santoshadithya30  - why are you specifying in this case?  Do you have
[connection redirection ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#connection-policy) enabled?
Given this is Azure SQL DB what happens if you leave out the port?
There is a separate port option ( haven't tested it but)
https://github.com/Azure/azure-sqldb-spark/blob/master/src/m

[2020-05-14 03:05] shashishailaj commented on #54786
@Norrch2 Thank you for your query. We will investigate and update the thread .

[2020-05-14 03:06] fifteenjoy commented on #54743
@TravisCragg-MSFT , I am following below guide:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=stt%2Ccsharp%2Csimple-format

[2020-05-14 03:08] trichardson01-kellogg commented on #53673
Thanks for the update

[2020-05-14 03:11] shashishailaj commented on #54814
@cindywang1990 Thank you for your feedback . Could you please confirm the document URL ? I was able to find the cmdlets you mentioned in the article https://docs.microsoft.com/en-us/azure/active-directory/b2b/invite-internal-users#use-powershell-to-send-a-b2b-invitation  however I am not sure hence asking you to confirm if this was the same document you used.

Please let us know the document URL a

[2020-05-14 03:13] shashishailaj commented on #54813
@nprieto95 Thank you for pointing this out. We will investigate and review this with the content team to provide proper answer.

Thank you.

[2020-05-14 03:14] dcbrown16 opened #54818 "AzureBackupReport log type"
The screenshot and the Portal show an "AzureBackupReport" log type. Does that need to be selected to get these reports? This doc (Configure Azure Backup reports) uses the same screenshot as the one found in the link below, and "AzureBackupReport" is not selected in either one.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-diagnostic-events

---
#### Document Details

⚠ *Do not edit th

[2020-05-14 03:15] shashishailaj commented on #54810
@jsantanders Thank you for your query. We will investigate and update the thread further.

[2020-05-14 03:16] shashishailaj commented on #54809
@jsantanders Thank you for your query. We will investigate and update the thread further.

[2020-05-14 03:18] v-tawe commented on #44875
Have same request, so any update on this?

[2020-05-14 03:20] dcbrown16 commented on #54818
I found the section on the other page explaining what "AzureBackupReport" is about. So it seems that the current report function still supports AzureBackupReport but that it could be deprecated in the future. Closing.

[2020-05-14 03:20] #54818 closed

[2020-05-14 03:24] ram-msft commented on #54382
@aahill I assigned to content author for the document changes.
![image](https://user-images.githubusercontent.com/49180516/81889162-81abc980-95c0-11ea-9428-befb8c34865a.png)

[2020-05-14 03:27] gary918 opened #54819 "About deploying multi-model endpoints"
After deploying multi-model endpoints, how can I consume a specific model by inputting relevant data?
For the sample code on https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-multi-model/multi-model-register-and-deploy.ipynb, can I define test_sample data [1,2,3,4,5,6,7,8,9,10] goto use 'my_first_model' and [10,9,8,7,6,5,4,3,2,1] consume 'my_second_

[2020-05-14 03:28] femsulu commented on #54170
fyi @stefan-rapp  - following up internally on this. Please stay tuned.

[2020-05-14 03:33] AshokPeddakotla-MSFT commented on #54292
Please check the above suggestions and let us know if that solves your issue.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 03:33] #54292 closed

[2020-05-14 03:35] AshokPeddakotla-MSFT commented on #54343
@jlorich Does that helps resolve your issue? Let us know if you have further queries.

[2020-05-14 03:41] SubhashVasarapu-MSFT commented on #52647
@haymansfield , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-14 03:41] #52647 closed

[2020-05-14 03:42] SubhashVasarapu-MSFT commented on #54114
@flyingUnderTheRadar , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-14 03:42] #54114 closed

[2020-05-14 03:43] JandosHk opened #54820 "Explanation chart seems oversimplified"
It looks to me that in step 4 you get ID token, not access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Add sign-in with Microsoft to ASP.NET Core web apps - Microsoft identity platform](https://docs

[2020-05-14 04:00] SubhashVasarapu-MSFT commented on #54307
@jinzejian , Appreciate your patience. Yes, you can use a private browser or a different browser in parallel to avoid login/logout. I am working on adding a note in the document.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-14 04:00] #54307 closed

[2020-05-14 04:07] SubhashVasarapu-MSFT commented on #54061
@foranimesh , Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-14 04:08] DixitArora-MSFT commented on #54787
Hi @evilpilaf Thanks for reaching out. We will review and update as appropriate.

[2020-05-14 04:13] DixitArora-MSFT commented on #54375
@rigdern I have assigned this to content author for further review and update as appropriate.

[2020-05-14 04:17] DixitArora-MSFT commented on #54377
@rigdern I have assigned this to content author for further review and update as appropriate.

[2020-05-14 04:39] jshwong commented on #54751
Noted.  Thanks for looking into this.

[2020-05-14 04:46] dcbrown16 opened #54821 "GitHub for this page"
I'm trying to figure out why this page hasn't been localized (at least to Japanese) and I can't get to GitHub. Is it properly linked to the repo or is there some reason we can't edit/check history for this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc462b2-cc7f-7209-fac7-9796d3f714be
* Version Independent ID

[2020-05-14 04:50] #54511 closed

[2020-05-14 04:52] ram-msft commented on #54788
@jjacks Thanks for the question. We are investigating the issue and will update you shortly.

[2020-05-14 04:55] ram-msft commented on #54819
@gary918 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-05-14 05:04] ram-msft commented on #54398
@aashishb Could you please check on this.

[2020-05-14 05:06] I0105 commented on #54752
So just to give more context, i have files present in my ADLS gen 2 storage and i have DDL created in my synapse for all those file and i have to load all those files iteratively through a single pipeline.

[2020-05-14 05:10] femsulu commented on #52844
assigned to product team owner

[2020-05-14 05:10] JasonHershey commented on #54727
thanks!

[2020-05-14 05:17] VikasPullagura-MSFT commented on #54638
@javaadpatel I checked with the internal team on this and the team confirmed that the webhook timeout is 5 secs and currently isn’t configurable. Yes you are seeing 504 Gateway Timeout because of this.

[2020-05-14 05:18] VikasPullagura-MSFT commented on #54638
@javaadpatel
Hope the provided information answers your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-14 05:18] #54638 closed

[2020-05-14 05:20] betommy23 commented on #54782
@Karishma-Tiwari-MSFT Thanks for the information! That chart on the provided page helps a lot and is more clear.
Just information for anyone who has similar questions, what I tried to implement was using an image to create Spot VMs and added them as backend pools for an Azure load balancer.
For basic sku I believe this architecture is not achievable because basic sku Azure lb requires backend pool

[2020-05-14 05:25] mike-urnun-msft commented on #54366
Hi @rriley99 - I have gone through the steps and didn't run into any issues. Deployment still carries on and when it is completed, you'd just need to reauthorize the connections. Also, please note that step 6 states the following as well:
"_If you're creating your first logic app, **all connections are created as new**, so you can accept the default names._"

Since we haven't any faulty steps in t

[2020-05-14 05:25] #54366 closed

[2020-05-14 05:33] #54790 closed

[2020-05-14 05:35] Navlesh commented on #54790
The issue was at Front door, it resolved after purging.

[2020-05-14 05:37] mike-urnun-msft commented on #54165
Upon our review, we have assigned this issue to the author to review further and take the right course of action.

[2020-05-14 05:40] SadiqhAhmed-MSFT commented on #54790
@Navlesh Thanks for the update! Glad to hear it is resolved :)

Could you please share the documentation you're referring to, if any?

[2020-05-14 05:41] mbrode commented on #53677
@jeevansd Any Update on this topic for the Confluence version 7.4? Cause on the Microsoft Download Center it looks like a version from 2019.

[2020-05-14 05:53] dzajda commented on #54764
Hi, I've tried to find some info about my problem here: https://docs.microsoft.com/en-us/azure/search/search-indexer-troubleshooting. But I didn't find anything about it in the documentation.

[2020-05-14 05:55] souravmishra-msft commented on #54539
Closing this thread for now.

[2020-05-14 05:55] #54539 closed

[2020-05-14 05:56] javaadpatel commented on #54638
@VikasPullagura-MSFT  thank you for confirming this, I will optimize my webhook to return within the limits to avoid this error.

[2020-05-14 05:59] kazshi opened #54822 "Description of the metrics for Microsoft.Storage/storageAccounts/queueServices"
Descriptions of the metrics for [Microsoft.Storage/storageAccounts/queueServices](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftstoragestorageaccountsqueueservices) are different from ones in the following link:
Azure Storage monitoring data reference | Microsoft Docs
https://docs.microsoft.com/en-us/azure/storage/common/monitor-storage-reference?toc=/azu

[2020-05-14 06:09] santhoshsomayajula commented on #54205
There is an ongoing issue with this feature that is pending fix from AAD team. Sorry for the inconvenience. We are working with the team to get the fix out ASAP.

[2020-05-14 06:12] viju2008 commented on #53892
I need to implement the max time at both sdk and container end.... how do i configure this setting at container end... container should not accept more than 15 second audio from any source for my implementation

[2020-05-14 06:19] VikasPullagura-MSFT commented on #54625
@ju-shim Thanks for providing the details.

[2020-05-14 06:21] VikasPullagura-MSFT commented on #54625
@tFable
Hope the provided information is helpful.

We will now close this issue. As of now there will be no document update based on details shared by Julia.

[2020-05-14 06:21] #54625 closed

[2020-05-14 06:23] VikasPullagura-MSFT commented on #53478
@susaxen Thanks for updating the document. We will now close this issue.

[2020-05-14 06:23] #53478 closed

[2020-05-14 06:25] VikasPullagura-MSFT commented on #54677
@achaikaJH Thanks for responding back with confirmation.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. We can continue the discussion.

[2020-05-14 06:25] #54677 closed

[2020-05-14 06:31] SumanthMarigowda-MSFT commented on #54801
@ChulHul Thanks for the question! We are investigating and will update you shortly.

[2020-05-14 06:38] Johnnytechn opened #54823 "Antimalware software"
After clicking on the ‘ Microsoft Antimalware for Azure Cloud Services and Virtual Machines’ link as shown in the image below , it goes to the page that indicates the solution is not supported in Linux. But the subject of the current article is "Security recommendations for Linux virtual machines in Azure". Is it ultimately supported or not in Linux?
![the image](https://github.com/Johnnytechn/myi

[2020-05-14 06:39] jakaruna-MSFT commented on #48962
I will close this out for now. If you need additional help please open a new issue

[2020-05-14 06:39] #48962 closed

[2020-05-14 06:40] jakaruna-MSFT commented on #48298
I will close this out for now. If you need additional help please open a new issue

[2020-05-14 06:40] #48298 closed

[2020-05-14 06:40] jakaruna-MSFT commented on #46264
I will close this out for now. If you need additional help please open a new issue

[2020-05-14 06:40] #46264 closed

[2020-05-14 06:49] sebassem commented on #54656
Thank you :)

[2020-05-14 06:50] CHEEKATLAPRADEEP-MSFT commented on #54783
@JamesDLD Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for

[2020-05-14 06:50] #54783 closed

[2020-05-14 06:51] dcurwin commented on #54754
#reassign:pvrk

[2020-05-14 06:55] andbarbu commented on #54771
totally agree to use new ones, but it was confusing as the next 2 columns are with versions like:
 Windows Server 2019 DSVM and Ubuntu 18.04 DSVM. To clear the things out, in my opinion there should also be versioning in the other two, like this:
Windows Server 2016 DSVM and Ubuntu 16.04 DSVM.

[2020-05-14 07:03] ajaydinakaran opened #54824 "EventTimestamp and PreviousValue is null for Sensor Change"
Hello,
  I have configured the endpoint for "Sensor Change" to send the data to Event Hub. The message received in the Event Hub Listener is always returning EventTimestamp and PreviousValue values as null. Below is the message body that I have received in Event Hub. Can you tell me why this is the case?
Properties:
CorrelationId:79b7939a-1f25-4cf7-a03c-facfed0a31d6
ContentType:application/json
Ty

[2020-05-14 07:16] brunis opened #54825 "The default exception handler you provide is faulty"
First of all it's call to base.onexception prevents customErrors ..and also it doesn't pick up the default applicationinsights.config you provide. I added the instrumentation key to it (to the top) as documented, but doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95c9506f
* Ver

[2020-05-14 07:18] davidlyw89 opened #54826 "Where to find Way finding sample cide?"
hi there,

I was trying to find the way finding example but couldnt find it anywhere.
do you have the link for it? thank you

[2020-05-14 07:35] SwathiDhanwada-MSFT commented on #54642
@howardjones Thanks for your valuable feedback. As the Microsoft Build 2020 is being held soon, all the document edits have been freeze till May 19th.

Assigning to content author @mumian  for documentation update.

[2020-05-14 07:36] dcbrown16 opened #54827 "Document security restriction"
Apparently there is an error message like this that comes up if you try to collect 'Security' events directly with Log Analytics.
'Security' event log cannot be collected by this intelligence pack because Audit Success and Audit Failure event types are not currently supported.
I believe the workaround is to collect these with Security Center or Sentinel. Please document that here.
One relevant lin

[2020-05-14 07:37] RohitMungi-MSFT commented on #54520
@assaf-grth We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-14 07:37] #54520 closed

[2020-05-14 07:39] assaf-grth commented on #54520
Hi @RohitMungi-MSFT thank you for your answer
Do you think I could somehow use the solution provided here https://github.com/MicrosoftTranslator/DocumentTranslator wrapped as a custom developed API to answer the requirement?

[2020-05-14 07:48] dimaqq commented on #54715
Route53 rightfully disallows having both `CNAME` and `CAA` record for the same domain.

Reference: https://serverfault.com/a/885955

[2020-05-14 07:57] sschotte opened #54828 "device template json file not found"
The file described here: Download the Environmental sensor capability model JSON file and save it in the environmental-sensor folder does not exist. I get an 404 error.
The link it refers to is https://raw.githubusercontent.com/Azure/IoTPlugandPlay/master/samples/EnvironmentalSensorInline.capabilitymodel.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-05-14 07:58] RohitMungi-MSFT commented on #54520
@assaf-grth Yes, this solution can be leveraged to translate documents as it uses the MS translator text API to perform the same.

[2020-05-14 08:00] dimaqq commented on #54715
More tech details: https://cabforum.org/2017/09/27/ballot-214-caa-discovery-cname-errata/

In short, if I alias `my.web.site` via `CNAME` to `mymy.azureedge.net` then the `CAA` record resolution will be:
1. `my.web.site` not attempted because there's `CNAME`
2. `mymy.azureedge.net` attempted, failing that
3. `web.site` attempted, failing that
4. `site` attempted

So there are 2 ways too set `CAA`:

[2020-05-14 08:00] marcin-vt opened #54829 "Is creating private endpoint disabling the public one?"
According to my tests - when I create one or more private endpoints the public endpoint doesn't work anymore. Could you confirm that? Somehow I miss this information this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c18eb5-5daa-9b36-36e3-fac79fce74ae
* Version Independent ID: 130272b7-f8bf-eec1-555a-4c48f70be

[2020-05-14 08:04] kefei-gw opened #54830 "CORS won't work while using header as api versioning scheme."
Since header as versioning scheme would require every incoming requests contains **api version** header, however, if CORS policy is configured. The client would send CORS pre-flight first. But since pre-flight doesn't have **api version** header, the APIM would return 404 resource not found error, as APIM is trying to map the incoming request to an operation.

It seems CORS and header as versionin

[2020-05-14 08:06] richardjgreen commented on #54116
I see that this has been marked as closed but I don't think that the answer is what the original question meant. I guess the question is what is the purpose of adding a Group to an AU?

Is the purpose to allow the Group itself to be managed as part of the AU or is it to allow Users to be automatically added to an AU based on Group-membership?

[2020-05-14 08:20] azilber opened #54831 "missing AZP_URL environment variable"
Doing a kubectl apply, then a kubectl logs gives:
error: missing AZP_URL environment variable

The pod errors out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure

[2020-05-14 08:22] rohitpant55 commented on #54525
okay. So we have to initialize separate Shard map manager responsible for tenants present in different servers.

[2020-05-14 08:23] haymansfield commented on #52647
@SubhashVasarapu-MSFT would it be possible to reopen the issue?

We have configured and done some initial testing and it does appear that sub-ranges can be used at both ends. I'm not in a position to confirm this 100% at this time.

There does seem to be a complete absence of documentation around the https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-11-01/connections which ha

[2020-05-14 08:24] moatwork commented on #10331
in the Skillset definition in REST, JSON, line 8. Should it be "context": "/document/content"? Only define "/document" results in empty output.

[2020-05-14 08:24] unagaraju88 commented on #29839
Hi, I am not able to restore the deleted database from LTR backup using the arm template mentioned in https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#creates-a-database-from-recoverabledatabaseid.

Can you please let me know if there is any arm template for it?

[2020-05-14 08:31] robinjose1981 commented on #30992
@BryanTrach-MSFT, I have followed your process but Getting the below error,
{
  "Message": "The requested resource does not support http method 'PUT'."
}

Any Idea how to get this work, or any other work around to associate an existing Hybrid Connection to an appservice programatically?

[2020-05-14 08:36] Rygorazd commented on #54126
Same problem at customers setup - WS2019 & W10 - unable to connect with RDP and Plugins installed correctly. Need solution ASAP

[2020-05-14 08:41] Joe8908 opened #54832 "Really useful page"
This page brings me through a really useful new technique, which I need to use. I think I now understand how the construct handles the Pagination. Sadly, not enough detail or link to how to setup the Authentication, so I will need to research that elsewhere. Thanks for a clear overview on the Pagination. JK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-05-14 08:46] Nagarc commented on #54587
yes its up and running

[2020-05-14 08:49] michaelmcmillan commented on #54106
Haha yes, that makes sense. It is absolutely not clear. Wasted a lot of time on settings this up, only to realise it only supports Windows.

@cherylmc: Would be great to clear this up in the docs 😊

[2020-05-14 08:55] somuit91 commented on #21850
I am facing same issue, Using Specialized VHD, I am unable to add OSProfile. How can i change the Hostname/computername of the VM?

[2020-05-14 08:58] chandra9787 commented on #54696
The scripts Hangs @ pre-deployment state, the script works fine for initial deployment to Test environment, but when ran again it getting hungs at "Disabling the Trigger"

2020-05-12T12:31:58.0832670Z Getting triggers
2020-05-12T12:32:00.4053575Z Stopping deployed triggers
2020-05-12T12:32:00.4070799Z Disabling trigger  trigger1
2020-05-12T13:11:34.3878577Z ##[command]Disconnect-AzAccount -Scope P

[2020-05-14 09:02] Peppers911 opened #54833 "Send Request with Request-Id"
Please uphold the standard of Request Correlation for Outgoing requests, especially with &lt;send-request/&gt; policy.
This is very frustrating what this is not automatic and you have to implement this functionality manually inside the policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9

[2020-05-14 09:04] cat-mucius opened #54834 "Destinations for NTP and "triage" traffic"
Good day,

Is it possible to specify some more concrete destinations for the NTP and "triage" (to port `12000`) traffic other than "all"? A service tag or a list of IP ranges, or a list of FQDNs that I can myself convert to list of IPs?

By the way, the page doesn't specify exact protocol for these kinds of traffic. Do I understand right that NTP is over **UDP**, and "triage" traffic goes to **TCP

[2020-05-14 09:07] Peppers911 commented on #54833
https://w3c.github.io/trace-context/

[2020-05-14 09:10] unagaraju88 commented on #29839
Please note that I am using tags for the LTR backup.

[2020-05-14 09:12] kummanish commented on #51068
#please-close

[2020-05-14 09:12] #51068 closed

[2020-05-14 09:29] Staubi999 opened #54835 "Can Azure AD B2B users be added as members instead of guests? not accurate enough"
There needs to be more info about this feature. What happens when they are members? Is the licensing the same as for B2B guest users? Will they be able to access Sharepoint site which are NOT enabled for external sharing. These are important questions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c

[2020-05-14 09:30] damochiz opened #54837 "Is "Test the real-time endpoint" available now?"
I couldn't find the Test menu on the endpoint I made.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d971-b4f4-5fcf-2072ad30dec7
* Version Independent ID: 14a7de84-6cd6-ebeb-df6c-2d93dfadb742
* Content: [Tutorial: Deploy ML models with designer - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/m

[2020-05-14 09:35] unagaraju88 opened #54838 "Restoring deleted database from the tagged LTR backup is not working."
Hi Team,

I have created LTR backup for Azure SQL Single Database using terraform ARM template .The resources are tagged. I am testing the restoration of deleted database from LTR backup.

Since the resources are tagged , I am not able to restore the deleted database as mentioned here   https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-long-term-backup-rete

[2020-05-14 09:36] apsyspeople commented on #43306
This [hi-article](https://hi.service-now.com/kb_view.do?sysparm_article=KB0778203) seems relevant to the matter..

[2020-05-14 09:36] abhisheksopra opened #54839 "Not able to use jsonpath in pagination support (Azure data factory)"
While coping data from rest resource to blob storage.
I'm using Microsoft graph API to get users from active directory and sink into blob storage.
in the response of graph API i'm getting `@odata.nextLink` which i want to use in next page URL.

I tried using
pagination rule:
AbsoluteUrl: $.["@odata.context"]

but it is not working from me
showing the below error:

`{
  "errorCode": "2200",
  "mess

[2020-05-14 09:38] helipetr commented on #53017
I second Jeff. Get-AzureADMSPrivilegedRoleAssignment is not returning all role assignments from PIM aadRoles (getting only 118 out of 361). Most of the roles that have been assigned as "Permanently Active" are missing. I'm using AzureADPreview v2.0.2.89 on Windows PowerShell v5.1.19041.1.

I managed to go around the issue by getting all roles first and then fetching assignments for each role (resu

[2020-05-14 09:41] spartacusX opened #54840 "The provided master VM size 'Standard_D4s_v3' is invalid"
[Enter feedback here]
VM size 'Standard_D4s_v3' is supported for master node, but I failed to create the azure openshift cluster with the command:
az aro create \
  --resource-group $RESOURCEGROUP \
  --name $CLUSTER \
  --vnet zhongtao-openshift-vnet \
  --master-subnet master-subnet \
  --worker-subnet worker-subnet \
  --master-vm-size Standard_D4s_v3 \
  --worker-vm-size Standard_D4s_v3 \
  --

[2020-05-14 09:47] knuthalvor commented on #50612
I now see this is made available without the extra parameters - thanks!

[2020-05-14 09:55] femsulu commented on #54205
thanks for the update, @santhoshsomayajula. Would appreciate a ping here once the fix has been validated and deployed to Azure Gov.

@richardpomerleau  - we will share an update once this is resolved. sorry for the inconvenience.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-14 09:55] #54205 closed

[2020-05-14 10:10] PayamK1 opened #54841 "Resource provider 'Microsoft.Web' not registered for the subscription"
I am trying to create a ChatBot on Microsoft Azzure website that I have just signed in with. I face the error message as "Resource provider 'Microsoft.Web' not registered for the subscription" every time I have completed the details. Could you please let me know what might have gone wrong? Thanks.
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentatio

[2020-05-14 10:26] alxzndr opened #54842 "Forbidden access when accessing cluster with Azure AD"
I followed all the steps as described in the document without any errors.

After changing the kubectl credentials I get a "forbidden" error
`az aks get-credentials --resource-group myResourceGroup --name $aksname --overwrite-existing`

`
~ kubectl get pods --all-namespaces
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code XXXXXXX to authenticate.
E

[2020-05-14 10:34] yqxiaxia opened #54843 "Long term back up for Azure PostgreSQL?"
Hello,

In the [postgreSQL backup document](https://docs.microsoft.com/en-us/azure/postgresql/concepts-backup#backups), we know for PostgreSQL build in backup retention time, the longest time is 35 days.

Do you have any plan to provider the strategy for long term backup?  Maybe more than half a year, like this.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-14 10:39] FlorianBorn71 commented on #52193
We currently have no version for iOS or Android, however you can run the client code as a desktop app on surface tablets. If you need more platforms, I suggest you create a feature request item here:
https://feedback.azure.com/forums/928696-azure-remote-rendering
There is already an item about platforms, you may want to upvote that as well.

Cheers,
Florian

[2020-05-14 10:39] michaelthyregod opened #54844 "Join error code: InvalidParameter"
When  installing the extionsionon on existing VM with Windows 2019 Datacenter I get the following error in the plugin extionsion log on the VM:

Join error code: InvalidParameter
Join message: The resource id parameter (<MY VALID RESOURCE ID HERE>) is invalid.
AzureSecureVMEnroll failed with 0x801c0001
AzureSecureVMJoinOperation: DeviceEnroller::AzureSecureVMEnroll failed 0x801c0001.
AAD Join fail

[2020-05-14 10:42] PengleiShi commented on #8121
hi， Implicit grant is not be allowed in my security policy. Is there any other workaround or plan to fix this issue?

[2020-05-14 10:52] shashishailaj commented on #54835
@Staubi999 Thank you for your feedback . We will have this investigated and actioned accordingly.

[2020-05-14 10:54] shashishailaj commented on #54820
@JandosHk Thank you for your query. We will investigate and update the thread.

[2020-05-14 11:05] femsulu commented on #54170
Hi @stefan-rapp  - was able to re-confirm WS 2019 DCs are supported. we need to investigate further to get to the root cause. Please raise a technical support request using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com including your subscription ID and

[2020-05-14 11:05] #54170 closed

[2020-05-14 11:09] cvs79 opened #54845 "How to enable it in an ARM template"
How to deploy a cluster with paid SLA with an ARM template? Dont see any fields for that in https://docs.microsoft.com/en-gb/azure/templates/microsoft.containerservice/2020-03-01/managedclusters yet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-34

[2020-05-14 11:13] alxzndr commented on #54842
Same issue as: https://github.com/MicrosoftDocs/azure-docs/issues/28105

[2020-05-14 11:13] #54842 closed

[2020-05-14 11:17] AjayKumar-MSFT commented on #54841
@PayamK1, Thanks for leveraging Azure docs feedback channel to post this question.
Could you please share the Azure doc for which this feedback is applicable to?

Typically, the error '"Resource provider 'Microsoft.Web' not registered for the subscription' is displayed, due to any of the following reasons:

- The required resource provider hasn't been registered for your subscription
- API version

[2020-05-14 11:20] MonikaReddy-MSFT commented on #54829
@marcin-vt , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-14 11:21] MonikaReddy-MSFT commented on #54816
@gpj1 ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-14 11:22] MonikaReddy-MSFT commented on #54821
@dcbrown16 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-14 11:23] SadiqhAhmed-MSFT commented on #54795
@ezYakaEagle442 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-14 11:32] alamoiker opened #54846 "SAP ECC 6.0 EHP 6 SAP Table"
Hi,

We are going to start to implement ETL processes based on source SAP ECC 6.0 EHP 6.
I would like to know if the Version of SAP is supported by the DataFactory SAP table connector.

Thanks in advanced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6445960a-ba4e-8e08-d9a7-326d35f902b6
* Version Independent ID: fddc

[2020-05-14 11:33] Nagarc commented on #54587
but still we are not able to make connection?

[2020-05-14 11:34] BukeMan opened #54847 "Using the /.default scope with the client"
The documentation says:
"A special case of the /.default scope exists where a client requests its own /.default scope.
....
&scope=9ada6f8a-6d83-41bc-b169-a306c21527a5/.default
....
This behavior exists for certain legacy clients moving from ADAL to MSAL, and should not be used by new clients targeting the Microsoft identity platform endpoint."

My question is: what's the correct behavior if we de

[2020-05-14 11:45] MonikaReddy-MSFT commented on #54745
@mrbullwinkle - Thank you for providing more insights on this.
@mongrelion - Thank you for your confirmation. Since there are no doc updates at this moment, I will go ahead and close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-14 11:45] #54745 closed

[2020-05-14 11:50] Kitwradr opened #54848 "System.Private.Uri: Value cannot be null. (Parameter 'uriString'). on executing the Http trigger template"
While executing the Http trigger template I get this error `System.Private.CoreLib: Exception while executing function: HttpExample. System.Private.Uri: Value cannot be null. (Parameter 'uriString').`

[2020-05-14 11:52] tFable commented on #54625
Hey @ju-shim ,

I appreciate the response. Unfortunately, that answer still leaves us guessing about what the network capacity of these VM series is. It is impossible to make informed decisions about the feasibility of using these Azure resources for production workloads when we have to deal unpredictable factors.

Expected network bandwidth capacity is a critical piece of information for Virtual

[2020-05-14 11:56] Sharmistha-Rai commented on #52643
Please refer this link for Churn related Data Rates
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#churn-limits

[2020-05-14 12:06] AdamSharif-MSFT commented on #36421
Hi @MrRitt,
You can collect the logs by connecting to the Windows node using RDP/SSH, and then using PowerShell to review the log file:

get-content C:\k\kubelet.log

Connecting via RDP: https://docs.microsoft.com/en-us/azure/aks/rdp
Connecting via SSH: https://docs.microsoft.com/en-us/azure/aks/ssh#configure-virtual-machine-scale-set-based-aks-clusters-for-ssh-access

[2020-05-14 12:10] karisgood commented on #39754
@SadiqhAhmed-MSFT Is there any reason why we cant schedule to tell the alert to start at a certain time?  This means that in order to maintain my alert we will need someone to make the update at 5AM every time a change is needed?

The only way I'm seeing to be able to deploy an alert on a schedule is to use the ARM template and schedule a task in Powershell that will deploy that template at a cert

[2020-05-14 12:20] artisticcheese opened #54849 "How cloud tiering work with new server endpoints?"
If one adds a new server to existing sync group, is entire folder recalled first and then tiered, or only files which satisfy tiering criteria are recalled and the rest stay in cloud? I'm seeing entire folder being pulled disregarding last modified setting set on sync object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-14 12:20] KalyanChanumolu-MSFT commented on #54357
@cpwood Apologies for the delay in getting back to you. I tried to repro this at my end.
There is no dependency here on the Cosmos SDK.

The calculated ticks are different in both cases based on the information provided while constructing your datetime object.

![image](https://user-images.githubusercontent.com/8835012/81930960-ef7ae400-9606-11ea-9d90-99b5d194355e.png)

As you can see, DateTime.Ut

[2020-05-14 12:27] prajyot2909 opened #54850 "No source code links present for reference"
No source links for the Git Hub repository present, to follow the folder structure how do I get to "/libraries/python/dbxdemo/test*.py" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b86f59-7a22-90c6-9aa6-652b85975612
* Version Independent ID: b333ab7b-847b-7129-9b62-4b9b934747d7
* Content: [Continuous integration

[2020-05-14 12:29] SadiqhAhmed-MSFT commented on #54818
@dcbrown16 Thanks for the update. Please share the link to the other page - "
AzureBackupReport"

[2020-05-14 12:30] AndreasDL opened #54851 "Error encrypting data - Cannot read property 'importKey' of undefined"
I followed all steps above, to setup the sample labelling tool.
I am using the label tool as a service so not the docker. I did deploy with port 80 instead of port 3000. I can see the web page so i assume it works, i'm also able to add a connection.
Once I try to create a new project, I am getting the following error:

Error encrypting data - Cannot read property 'importkey' of undefined

Am i mis

[2020-05-14 12:31] KrishnaG-MSFT commented on #54817
@sscchh2001 Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-14 12:33] KrishnaG-MSFT commented on #54822
@kazshi Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-14 12:34] KrishnaG-MSFT commented on #54827
@dcbrown16 Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-14 12:34] mrbullwinkle commented on #54821
#assign:mrbullwinkle

[2020-05-14 12:35] ramit-rulz opened #54852 "Was there any recent change in the behavior of AlterRows?"
I am using AlterRows in my data flows since last 6 months. Since the date on this article is 5/6/2020 can you highlight if there was any change in AlterRow behavior recently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a72e9e-1698-c866-e5c0-fb1d050c7878
* Version Independent ID: 0b4069f1-c3f7-bc94-527f-ea534883505

[2020-05-14 12:35] amanmcse commented on #54810
@jsantanders We are talking about `SendClaims` Orchestration step as mentioned below for your reference.

`<OrchestrationStep Order="7" Type="SendClaims" CpimIssuerTechnicalProfileReferenceId="JwtIssuer" />`

**Note**: In your case, the order may be some other number than 7 if you have customized your use journey by adding on removing any orchestration steps. By default, there is one SendClaims or

[2020-05-14 12:40] mrbullwinkle commented on #54821
This doc is brand new, there is a 1-3 week delay between a doc publishing in en-us and it being localized.

As to why docs.microsoft.com works a little differently right now on the GitHub side, before major conferences we go into a publishing freeze for a little over a week and we don't allow the editing of docs via public PR and we don't merge any new content. This is to prevent merge conflicts b

[2020-05-14 12:40] mrbullwinkle commented on #54821
#please-close

[2020-05-14 12:40] #54821 closed

[2020-05-14 12:42] alishavez7 opened #54853 "Please update this Doc."
Hi Team,

We don't need to stop the Linux VM to detach the data disk from the VM, Please update the Doc if i am correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72437e7b-8548-a802-e4f8-731059cca276
* Version Independent ID: 9b31eabf-cfd3-cf55-aa30-f8538e0d4f83
* Content: [Detach a data disk from a Linux VM - Azu

[2020-05-14 12:43] ashleyswanson360 opened #54854 "Clarify when the state manager does not automatically saves state"
We recently discovered that our actor methods don't automatically save the state at the end of the method if an exception is being thrown back to the caller, resulting in the updates being lost. It would be helpful if the documentation clarified that state will need to be manually saved using SaveStateAsync() in that case.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-05-14 12:44] jmprieur commented on #54820
@JandosHk ; we plan to change this quickstart (after build)

[2020-05-14 12:46] denisaguilar commented on #8121
Take a look in Authentication code with PXCE. It can be useful if you are dealing with authentication for SPAs.

[2020-05-14 12:47] dmaterowski commented on #32115
Kindly following up on this, as it has been almost a year since the original request

[2020-05-14 12:51] flashtheman commented on #43558
Self signed certificates are not very helpful. I would be very happy to see an example with an automatically renewable letsencrypt certificate.

[2020-05-14 12:52] dominicbetts commented on #54828
Hi @sschotte - that repo is currently being refreshed - you can still download that file from: https://raw.githubusercontent.com/Azure/IoTPlugandPlay/9004219bff1e958b7cd6ff2a52209f4b7ae19396/samples/EnvironmentalSensorInline.capabilitymodel.json

[2020-05-14 12:53] Arash-Sabet opened #54855 "Creating a knowledge based from a URL may not necessarily work"
We have an http-triggered azure function that supports GET requests only. The azure function is very simple and it only returns a simple text from the backend's database. Supplying the function's URL to CreateKbDTO object and having client.Knowledgebase.CreateAsync(createKbDto); method ends up producing the error message of "Unsupported / Invalid url(s). Failed to extract Q&A from the source". The

[2020-05-14 12:54] SadiqhAhmed-MSFT commented on #54812
@msfcolombo Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-14 12:55] shashishailaj commented on #54264
@RescueWhale I am getting a slightly different error but there is definitely some issue with the graph module in preview.

PS C:\Users\user\source\repos> Import-module Microsoft.Graph.Authentication
PS C:\Users\user\source\repos> Connect-Graph
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code HC8648B58 to authenticate.
Connect-Graph : Could not loa

[2020-05-14 12:56] SadiqhAhmed-MSFT commented on #54815
@sidesw1pe Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-14 12:57] DixitArora-MSFT commented on #54833
@Peppers911 I have assigned this to content author for further review and update as appropriate.

[2020-05-14 12:58] DixitArora-MSFT commented on #54826
@davidlyw89 Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-14 12:59] stewart2020 commented on #53901
I noticed in Step 3; the paragraph of instructions ends with "Don't quote the values" - as per this resolution we DO need to quote the values?  Perhaps remove that sentence to avoid confusion?

[2020-05-14 13:00] DixitArora-MSFT commented on #54848
@Kitwradr Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-14 13:00] vipulsparsh commented on #54720
@msaburnley , Can you please look into this ?

[2020-05-14 13:00] AdamSharif-MSFT commented on #36421
@MrRitt,
There is also the kubelet error log:
kubelet.err.log --> Get-Content .\kubelet.err.log

[2020-05-14 13:03] KalyanChanumolu-MSFT commented on #54730
@Shawngbk Thank you for taking the time to report this issue.
Yes, the sample needs to be fixed and we will make the necessary updates.

[2020-05-14 13:04] artisticcheese commented on #54770
Windows market place images are putting their page file on temporary drive D, it's also set to "automatically managed" size which limits max page file to 1/8 of volume size of that drive (per official Microsoft docs https://docs.microsoft.com/en-us/windows/client-management/determine-appropriate-page-file-size#system-managed-page-files) . That means that for say E2V3 machine which has 16 GB of mem

[2020-05-14 13:06] lvillaca opened #54856 "suggestion to contain diskURI spread on restored snapshots"
Great page, thanks for making it so clear! As number of pods grow, instead of providing directly the diskURI on pods, we may also create a PV with new disk id (created from snapshot), associate it to a PVC and remain linking PODs to PVC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b79

[2020-05-14 13:15] VikasPullagura-MSFT commented on #54625
@ju-shim Can you please add your comments.

[2020-05-14 13:21] mslot commented on #45306
Why does this work? I have many questions. Is this the official way of doing this? It smells like a hack. Does this match api/path/to/resource/test, and not only the path /test, or?

I need something official in the docs telling me how to use it. If I cant do this, I cant see how I am going to set up a legacy enterprise customer on Azure with Azure CDN, where we dont have enough experts to alter t

[2020-05-14 13:21] KalyanChanumolu-MSFT commented on #54540
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-14 13:24] mrbullwinkle commented on #54825
@brunis, Thank you for reaching out.

If you have an issue/bug that can be consistently reproduced the best place to report it is here:

https://github.com/microsoft/ApplicationInsights-dotnet/issues

[2020-05-14 13:25] MarcSkovMadsen commented on #21044
As far as I can see I cannot run a Panel web app with `panel serve app.py --address 0.0.0.0 --port 8000` as startupcommand. Is that correct?

[2020-05-14 13:27] ishepherd commented on #54380
@DixitArora-MSFT I just noticed the same thing as @rigdern.

My guess is that _the CRON expression is always in server's local time_.

On Azure App Service, the server's local clock is UTC - unless you override it with WEBSITE_TIME_ZONE: [link](https://github.com/projectkudu/kudu/wiki/Configurable-settings#set-the-time-zone)

That's specific to App Service. Other hosting environments (local, IIS,

[2020-05-14 13:27] NatMarchand commented on #45306
I've followed the reference about wildcards and conditions :
https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-reference#wildcard-values

https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-match-conditions#url-file-name

When your make tests rules, beware of the time needed for POP to take rules in account. It might take a while/need a purge to work.

[2020-05-14 13:30] skoggimord opened #54857 "Does Azure play any part in this?"
This just looks like a locally hosted SignalR chatroom example, I don't understand that part the Azure resource plays in this - is it used at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickstart to

[2020-05-14 13:42] AshokPeddakotla-MSFT commented on #54824
@ajaydinakaran Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-14 13:48] memildin commented on #54258
@markarnolditpro,

There are plans to introduce the ability to exclude specific resources from Security Center's evaluations and your secure score. There is no fixed date right now, but this is on the roadmap.

[2020-05-14 13:48] SQLArchitect opened #54858 "COPY INTO Delta lake"
The documentation on the new Copy Into (Delta Lake on Azure Databricks) is incomplete.

It does not provide information on the nature of the operation as to whether this is creating a persisted table or an in-memory table only.

Furthermore, it does not provide information on where the newly created table (and corresponding file) are to be saved.

Please advise.

---
#### Document Details

⚠ *Do n

[2020-05-14 13:50] aauel commented on #54781
Hi Grace!  I figured out that the migration to the prod database hadn't gone through as there were no tables present.  I went back through the steps to set the connection string env variable, then re-ran the database update and it worked this time.  All is working now!  Thanks!

[2020-05-14 13:51] brthurr opened #54859 "Namespace errors in function"
I've attempted this tutorial three times, duplicating the instructions to the letter. The application fails with the following:

[code]

Log stream from the function app includes the following:

[code]
function.proj file was uploaded to the function FS per instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c

[2020-05-14 13:52] Larmoyeux commented on #34331
I have the same issue as well. I am orphaned by "Microsoft Community and Events Tenant". I have an annoying notification showing I have activity waiting for me to check, but I can't login or access the tenant. Like the others, I am not able to login, therefore I cannot remove myself. Is there a registry hack I could do?

[2020-05-14 13:53] asinitson commented on #54095
@kgremban: Thank you! This gets me somewhat closer.

Here is the full story:

1. I have an "IoT Edge Deployment Manifest".
    Now realize I probably should have used "template" instead. Is that correct name for a human readable format?

2. That file is parameterized with `envsubst`, so I can inject container version, environment variable values dynamically without modifying template each time or

[2020-05-14 13:55] luke01215 commented on #36119
I was able to reproduce this with a ' in the rowkey.  I think it has to do with characters in the data elements themselves.

[2020-05-14 14:00] #54414 closed

[2020-05-14 14:00] SamaraSoucy-MSFT commented on #54457
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 14:00] #54457 closed

[2020-05-14 14:01] SamaraSoucy-MSFT commented on #54465
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 14:01] #54465 closed

[2020-05-14 14:02] urduitacademy commented on #43271
I was wonder if anyone can help me on this I have configured PA global protect with O365 SAML  - when my user connects he is not challaged for MFA (MFA is enforced on O365) - is it normal ?

[2020-05-14 14:02] SamaraSoucy-MSFT commented on #54492
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 14:02] #54492 closed

[2020-05-14 14:02] SamaraSoucy-MSFT commented on #54526
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 14:02] #54526 closed

[2020-05-14 14:06] christianarg commented on #47254
Any update on this?

[2020-05-14 14:13] shashishailaj commented on #54264
@RescueWhale So after my testing I have come to conclusion that if you are using normal Windows Powershell x64 mode as shown in the picture below , the cmdlets provided in the article work without any issue.

![image](https://user-images.githubusercontent.com/532022/81939176-9cf3f480-9613-11ea-8a27-750c8aed88bd.png)

PS C:\Users > Install-Module -Name Microsoft.Graph
PS C:\Users > Import-Module -N

[2020-05-14 14:27] the-blesss opened #54860 "Web client documentation should emphasize the differences between the URLs used between 2019 and 2020 services"
If a user is searching for WVD Web Client, chances are they do not know what version of service they are using (non-ARM or ARM). The link in both articles for 2019 and 2020 obfuscate the link path and the subtle differences. I would suggest spelling out the link. Can there be clarification other than the Note about which version has been deployed, which a user would not likely know?

If you use th

[2020-05-14 14:36] robertnixon2003 commented on #13013
Any updates on this?

[2020-05-14 14:46] vijayraavi opened #54861 "Experiencing Errors after each App Service platform Infrastructure upgrade"
We are using Key Vault references for App Service as specified in doc https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references
We are expecting issues after each Azure platform(Infrastructure upgrade) ( In Diagnostics, It shows environment variable got changed)
Error:  @Microsoft.KeyVault( not supported.
Raised Support case (120041525000172), It's still under investigati

[2020-05-14 14:50] wcvanzyl commented on #49449
I agree with the Original Poster's question, it is not very well explained and MS advice that it is up to the organization and environment is very very vague :-(

[2020-05-14 15:05] VikasPullagura-MSFT commented on #54840
@spartacusX Thanks for posting your question.
Can you please try that in a different region and check once, just wanted to rule out any capacity issues that might have caused this failure when you tried the deployment.

[2020-05-14 15:07] MaeveCelticWarrior opened #54862 "Link for Scheduler is incorrect"
The link behind the Scheduler entry is incorrectly taking one to the Logic App page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure Services in FedRAMP and DoD SRG Audit Scope](https://docs.microsoft.co

[2020-05-14 15:07] VikasPullagura-MSFT commented on #54823
@Johnnytechn
Thanks for the Question! I have assigned the issue to content author to check and add comments.

[2020-05-14 15:08] VikasPullagura-MSFT commented on #54823
@msmbaldwin Can you please add your comments on this.

[2020-05-14 15:10] VikasPullagura-MSFT commented on #54854
@ashleyswanson360
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-14 15:11] VikasPullagura-MSFT commented on #54854
@vturecek
Can you please check and add your comments on this doc update request as applicable.

[2020-05-14 15:15] deyanp opened #54863 "Consumption Linux - changing IPs"
Hi,

We just tested Consumption Plan Linux, and we come the following conclusions:

1) After every redeployment of the func app (func azure functionapp publish ...) the outbound IP changes (not after scaling events as mentioned above)
2) The outbound IP is not one of the possibleOutboundIpAddresses!

How come this is the case - are we doing something wrong?

Alternatively, the documentation must b

[2020-05-14 15:16] VikasPullagura-MSFT commented on #54362
@pdebruin Thanks for pointing this out.

@mlearned can you please check on this document update.

[2020-05-14 15:19] VikasPullagura-MSFT commented on #54362
@yellow456434 Can you please try creating the cluster with below options

[code]

and see if the windows profile has the required details with `az aks show` as mentioned in the linked issue.

[2020-05-14 15:22] derisen commented on #47225
@sudolibre unfortunately, msal.js does not support multiple policies 'out of the box' just yet. However our current B2C samples [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) and [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa) do show how to switch user flows now (documentation update is on its way), and I've heard f

[2020-05-14 15:22] #47225 closed

[2020-05-14 15:23] rgosling opened #54864 "Data Architect"
Unless I'm reading this wrong, the link pointing to Business Continuity is only about Azure SQL Database - not Azure Synapse Analytics. Since the topic of this page is only about Synapse, the link should be removed or point to Synapse's BC features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90f-36a7

[2020-05-14 15:38] CeciAc opened #54865 "better to add notice: store db connection string to environment variable again"
@hnakayam commented on [Thu May 14 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4551)

When update and test the ASP.NET core code in the later time, the developer must set DB connection string to Environment Variable again in the newly opened development shell (cmd, bash or powershell).

https://docs.microsoft.com/ja-jp/azure/app-service/containers/tutorial-dotnetcore-sqldb-app#t

[2020-05-14 15:39] gareth-blueprism commented on #41790
I've been doing a bit of investigation into this setup as it's been in preview for a while now but I stumbled across a few issues. My setup is as follows (all in the same region):

- 1 x Web app for containers on Linux (with managed identity setup on the Key Vault)
- 1 x VNet
- 1 x Key Vault

My container is a basic .Net Core 3.1 container for testing this setup which works when no network integra