[2018-11-09 01:12] JamesLee-MSFT commented on #18415
@ShahRukhK Yes, this looks like a document bug.

The integration runtime was renamed from the data management gateway; Data Factory v1 vs v2.
[https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/v1/data-factory-data-management-gateway.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/v1/data-factory-data-management-gateway.md)

[2018-11-09 01:20] Karishma-Tiwari-MSFT commented on #18428
@dcbrown16 Thanks for sharing the information.

[2018-11-09 01:32] findikconsulting opened #18521 "Blazor"
Can we host Client Side Blazor App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)
*

[2018-11-09 01:35] dcbrown16 commented on #15576
There's more info about temp disk here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#temporary-disk
I just went through a discussion on #16920 about this as well.
I certainly agree with @jtuliani here that pausing the VM and migrating it seem like they could cause very different outcomes during memory-preserving maintenance in regards to the more transient f

[2018-11-09 01:39] dcbrown16 commented on #7028
@cephalin so we're just going to leave the doc with the trap of recommending ASM PowerShell commands? I'm not confident enough in the style recommended for including this info (parenthetical, warning, note, etc.) to write it myself, but I feel that we need to warn people when guiding them to commands that aren't going to work in the latest PowerShell versions.

[2018-11-09 02:06] Karishma-Tiwari-MSFT commented on #18223
@rajsqr Would you be able to share your insights on this? Thanks. :)

[2018-11-09 02:18] SaurabhSharma-MSFT commented on #18157
@rodji Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-09 02:32] pagariyaalok commented on #14809
Looks like the document is still not updated.

[2018-11-09 02:34] zzulueta commented on #18476
Hello,

Let me make things clear:
1. I was able to perfectly setup the ToDoItem table to require only Authenticated access in the specified table. I had no issues with the steps.

2. I created a new table Name table which just contains the First Name and Last Name of a person. I ran my same code and I was successfully able to insert records in the database and login via Facebook. However, the issu

[2018-11-09 03:05] arnabganguly opened #18523 "ReadTweetsFromEventHub fails with an error"
ReadTweetsFromEventHub works in Data bricks 4.3 (includes Apache Spark 2.3.1, Scala 2.11) but fails with HDI 4.0 ( Spark 2.3.1) and HDI 3.6( HDI 2.3.0)  with the below error . Looks like another poster also had the same error , but the content manager was unable to recreate the issue.

org.apache.spark.sql.streaming.StreamingQueryException: Query [id = 20df9239-56e9-4cc4-a620-787ff0766063, runId =

[2018-11-09 03:19] Alberto-Vega-MSFT commented on #18483
Hi @johnkwaters Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-09 03:48] Alberto-Vega-MSFT commented on #18511
Hi @melezhik I'm sorry to hear that you are facing this issue. I saw that you posted an issue for a sample application in Azure Samples repo that haven't been updated since 2016 https://azure.microsoft.com/en-us/resources/samples/app-service-api-dotnet-todo-list/
Have you tried a guide that is more current? like this one? https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-

[2018-11-09 03:58] AshokPeddakotla-MSFT commented on #18339
@alexmarshall132 As per the error message, it appears to be a syntax issue. Could you share the complete JSON Template which you are trying to deploy?

[2018-11-09 04:02] praneetmsft opened #18525 "Example Notebook links gives 404"
Example Notebook links gives 404. Need update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343be57f-8538-8bce-ad16-e2f138fd82a1
* Version Independent ID: c4972de8-10d7-2143-a128-5afa9236439a
* Content: [ONNX and Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-build-depl

[2018-11-09 04:10] Alberto-Vega-MSFT commented on #18504
@ravitejapinnaka Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 04:12] HoaiDuy opened #18526 "Application gateway V2 is not support UDR?"
User-defined routes (UDRs) are supported on the application gateway subnet, as long as they do not alter the end-to-end request/response communication.

I see that Application Gateway V2 is not allow User Defined Route (UDR)??
![image](https://user-images.githubusercontent.com/34430330/48242982-51ee9500-e410-11e8-89b3-e568b3c0db89.png)

[2018-11-09 04:20] HoaiDuy opened #18527 "Application gateway V2 is not support UDR?"
"Are user-defined routes supported on the application gateway subnet?
User-defined routes (UDRs) are supported on the application gateway subnet, as long as they do not alter the end-to-end request/response communication.
For example, you can set up a UDR in the application gateway subnet to point to a firewall appliance for packet inspection, but you must ensure that the packet can reach its inte

[2018-11-09 04:32] Alberto-Vega-MSFT commented on #18486
@PrasadNandanavanam Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 04:33] Alberto-Vega-MSFT commented on #18488
@jamestm27 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 04:40] prasanthpul commented on #18525
Thanks. Fixed

[2018-11-09 05:29] MarileeTurscak-MSFT commented on #18220
@willyrj we will proceed to close this thread. If you have further questions please open a new issue or tag me in the comments and I will gladly continue the conversation.

[2018-11-09 05:29] #18220 closed

[2018-11-09 05:47] msangapu commented on #18505
I don't understand the ask here. Did you install the webapp extension? See: https://github.com/MicrosoftDocs/azure-docs/issues/10933
________________________________
From: Bryan Trach <notifications@github.com>
Sent: Thursday, November 8, 2018 6:42:08 PM
To: MicrosoftDocs/azure-docs
Cc: Mangesh Sangapu; Assign
Subject: Re: [MicrosoftDocs/azure-docs] old documentation (#18505)

Assigned #18505<http

[2018-11-09 05:50] SaurabhSharma-MSFT commented on #18517
@gunnarcms Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 05:50] SaurabhSharma-MSFT commented on #18510
@dcnoren Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 05:51] SaurabhSharma-MSFT commented on #18508
@robsrip Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 05:52] SaurabhSharma-MSFT commented on #18506
@rolandwales10 Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 05:57] TravisCragg-MSFT commented on #18188
@waynemsft flows are for telling that traffic has passed, but do not tell the amount of traffic. What exactly are you trying to accomplish?

[2018-11-09 06:29] kobulloc-MSFT commented on #18215
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-11-09 06:29] #18215 closed

[2018-11-09 06:41] zozzi opened #18531 "Backup WebApp 10GB+"
One of the requirements for backup is:

Backups can be up to 10 GiB of app and database content. If the backup size exceeds this limit, you get an error.

Total storage for App Service plan is 50 GiB, so apps can be larger than 10 GiB

I'm ok with the limits, but is there a workaround to backup larger apps somehow within Azure infrastructure?

[2018-11-09 06:58] olivierfox opened #18535 "what about Azure Classic (ASM)?"
Is this doc relevant also for disks in Azure Classic (ASM)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version Independent ID: cb9dbd59-460d-a1a0-9863-5213d6a1093e
* Content: [Expand virtual hard disks on a Linux VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-mach

[2018-11-09 07:13] AshokPeddakotla-MSFT commented on #18523
@arnabganguly Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 07:20] aavdberg opened #18536 "Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/57458"
_Originally posted by @MicrosoftGuyJFlo in https://github.com/MicrosoftDocs/azure-docs/pull/17782#issuecomment-436841327_

[2018-11-09 07:28] elaan opened #18537 "Broken link to Azure Active Directory Module for Windows PowerShell"
The link the  Azure Active Directory Module for Windows PowerShell is broken, please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081729e5-959f-d8c2-de1b-b035c6dbc8fb
* Version Independent ID: c93eda68-5b52-04bf-fca2-53bb7eba178a
* Content: [Azure AD Connect Multiple Domains](https://docs.microsoft.com/en-us/azu

[2018-11-09 07:31] dcbrown16 opened #18538 "PowerShell link"
"For a PowerShell quickstart, see Create a single Azure SQL database using PowerShell."
This doesn't seem to exist any more, the link goes to a Portal description. You could probably get rid of that sentence and just go to the PS examples unless I'm missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b00d

[2018-11-09 08:03] SnehaGunda commented on #18496
@hemantkr the comments you are adding are coming as Git issues and not the feedback you wanted to share for the PR I submitted. Please see the files changes in the PR and add your review there. We will close this issue and I can track your feedback within the PR.

[2018-11-09 08:03] SnehaGunda commented on #18496
#please-close

[2018-11-09 08:13] vetrivelmp opened #18539 "Can we add own localisation string in APIM Template Data?"
Hello All,

https://docs.microsoft.com/en-in/azure/api-management/api-management-developer-portal-templates

From the above url, I have two questions.

1) Can we add our own localisation string in APIM template data?
2) How many languages(English,Hindi like this not programming languages) are supported by APIM? List out those languages.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-11-09 08:19] pedrr opened #18540 "Subdomain"
Does the wildcard also works for internal subdomains? so are we able to "double-wildcard"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4cd6eda-3ed1-d116-628d-e48671aa571b
* Version Independent ID: 61aac3c4-128d-b303-3ec7-29bdb92a81b1
* Content: [Wildcard applications in the Azure Active Directory application proxy]

[2018-11-09 09:01] marc-be opened #18542 "Excellent ..."
... initiative !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df99ad6c-a845-e4a3-e1d0-bb2b2ef421ad
* Version Independent ID: 0312f80c-d7f9-20f4-46b1-10550f2ac13d
* Content: [Migrate user licenses users to group-based licensing in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-gr

[2018-11-09 09:04] SaurabhSharma-MSFT commented on #18506
@rolandwales10 I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-09 09:10] femsulu commented on #18487
closed as spam.

[2018-11-09 09:10] #18487 closed

[2018-11-09 09:12] femsulu commented on #18503
@theheatDK Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-09 09:13] chaholl commented on #18454
Thanks for checking @Mike-Ubezzi-MSFT

It still doesn't work for me but I suspect that's due to security restrictions on my subscription. It might be worth adding more detail on the required container permissions to the document and/or adding some kind of message in the UI where security settings are preventing configuration. At the moment there's no way to know what's going on.

[2018-11-09 09:18] masashimi opened #18543 "About a incorrect line."
The below text must be incorrect. Actually, If your subscription is unavailable, you could neither reading the data nor connecting Azure SQL Database.

&gt; The data in your storage accounts and databases are available in a read-only manner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d832

[2018-11-09 09:20] femsulu commented on #18513
@pisees Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-09 09:21] darshankumarys opened #18544 "Azure storage explorer - The child process failed to start in a timely manner."
Hi, whichever the version i try to use, am getting 'The child process failed to start in a timely manner.' when i open any containers.

Am using Windows 10 OS. Storage explorer was working before i update to 1.4 i guess. After update none of the versions are working. could you have a look please.

[2018-11-09 09:33] stofte opened #18545 "Step 6 is missing instructions"
Step 6 seems to cover alot of materials. I've managed to provision the IoT hub up in Azure through the VSCode extension. Afterward, I see a panel in the lower left where I can pick "Create device", but pressing this does nothing.

Please update the docs to reflect introduced later!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-11-09 09:36] stofte opened #18546 "Device ID"
When you add a device, the VSCode extensions asks for the device id. Where is this value found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to cloud -- Connect IoT DevKit AZ3166 to Azure IoT Hub

[2018-11-09 09:40] jtuliani commented on #15576
As per previous comment, the PG have confirmed the temp disk is NOT lost during live migration. So there's no chance of suddenly losing the page file etc. That's a relief! Just need the docs to be explicit on that point.

[2018-11-09 09:42] dcbrown16 opened #18547 "Change of storage after deploy?"
We have a customer asking if it's ok to change the disk sizes (or possibly add disks) after deploying the network. I can't think of any reason why this would be a problem, but can you please confirm? This would just be resizing or adding the disks on the VMs that are created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-11-09 09:52] femsulu commented on #18515
@itanex Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-09 09:56] bunceg commented on #18516
Thanks; for clarification I don't mean "filtering" I mean searching for text in specific fields so that a title of "harry potter" and author of "jk rowling" will match (or just be a better match) because the title contains "potter" and the author contains "rowling" whereas a title of "how jk rowling wrote harry potter" will not be a good match because it only matches on the "potter" in the title;

[2018-11-09 10:03] ghvanderweg commented on #18459
@MohitGargMSFT Not exactly, it seems to be returning devices that were once managed by Intune MDM, but are not anymore. I will take your advice and open a support ticket, and close this issue. Thanks for looking into it!

[2018-11-09 10:03] #18459 closed

[2018-11-09 10:13] SaurabhSharma-MSFT commented on #18510
@dcnoren I do not see any issue applying conditional policy with MFA to account and accessing the same through PowerShell using Connect-AzureAD. I am also getting the popup to authenticate by using phone or email authentication. Please find below the screenshot -
![image](https://user-images.githubusercontent.com/38112130/48256542-fafbb680-e435-11e8-87fc-46b9cc990fd9.png)

[2018-11-09 10:35] sebader opened #18548 "Update privacy comment"
Since beginning of 2018 the online service terms changed. So this statement should no longer be valid:
"The image, voice, video or text understanding capabilities of VideoFrameAnalyzer uses Microsoft Cognitive Services. Microsoft will receive the images, audio, video, and other data that you upload (via this app) and may use them for service improvement purposes. We ask for your help in protecting

[2018-11-09 10:49] ml810326 opened #18549 "can not access iot edge device's blob storage"
I have set blob module on iot edge device ([https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob](url)) I use the node JS sample [(https://docs.microsoft.com/zh-tw/azure/storage/blobs/storage-quickstart-blobs-nodejs)](url) to access the blob storage in iot edge device by other computer. I met this error messages

`Containers:
{ Error: socket hang up
    at createHangUpError (_htt

[2018-11-09 10:50] AshokPeddakotla-MSFT commented on #18486
@PrasadNandanavanam Have you tried with OData connector as described in this [link](https://feedback.azure.com/forums/270578-data-factory/suggestions/13872240-intergration-for-sharepoint-online-lists)?
If that doesn’t help, I suggest you post your query on [Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) forum with complete details and steps you have

[2018-11-09 10:51] AnisTss opened #18550 "List ?"
Where is the compatibility List ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e70f22-6947-70c0-73f9-1d3b309820df
* Version Independent ID: b6fc77d4-2c0f-2101-8a24-1845325f7696
* Content: [Azure AD federation compatibility list](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-compa

[2018-11-09 10:51] jakaruna-MSFT commented on #18408
@i-vanl I am able to reproduce your issue. If we set ResourceDisk.Format to 'n', Resource disk will still be there(`fdisk -l`), But it's not mounted(`df -h`). So no swap file will be created.

Also note that ResourceDisk.Format had 'y' as the default value in the agent config file.
We also have a comment in the waagent.conf file which says that the disk will not be mounted if we set the format to

[2018-11-09 10:52] alexeyshishkin01 commented on #18499
ex.: how to increase the size of '/' (root) file system - does your documentation describe it?

[2018-11-09 11:15] Eduard-TC opened #18551 "Azure Service Principal metrics limits"
Hi,

We are using Service Principals to monitor a few Azure Subscription. We are experiencing issues as some service stop painting performance counters..

Is there any limit for the service principal to get Metrics?

Regards,
Eduard

[2018-11-09 11:22] henriquebrisola opened #18552 "Table order causes confusion"
The table on [Benchmark](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#benchmark) section is in an unusual order, starting from Gw1 and going to Gw3 and then ending with Basic SKU.
Basic SKU could be the first on list due to less throughput, tunnel capacity and no IKEv2 connection support.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-11-09 11:32] Ashley-Walton opened #18553 "List still incomplete"
This list is still incomplete. Doing an extract from my O365 and I have the following SKUs that are listed in the extract which are not in the list above:

FLOW_FREE
POWER_BI_STANDARD
POWERAPPS_INDIVIDUAL_USER
POWERAPPS_VIRAL
STREAM

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* V

[2018-11-09 11:44] vetrivelmp opened #18554 "Login with MFA only"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-mfa

Is it possible to login only with MFA in B2C using custom policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72cb-c9b4-5a01-9e5633764f39
* Content:

[2018-11-09 12:26] sruthi4790 opened #18555 "The initial paragraph is confusing!"
In the first paragraph of this document, it is mentioned - "The output asset also contains a file with metadata about the input asset." --&gt; Is it not supposed to be "The input asset also contains a file with metadata about the input asset." ??
Please clarify. This clashes with the information provided for Output metadata as per https://docs.microsoft.com/en-us/azure/media-services/previous/medi

[2018-11-09 12:27] andy26nash opened #18556 "Procedure: read performance data section is missing from this page"
On the Italian page https://docs.microsoft.com/it-it/azure/application-insights/app-insights-profiler there is a section that provides guidance on how to interpret the profile traces. Putting this back would be a start but there is a complete lack of guidance on how to interpret the profile traces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-11-09 12:43] ChiragMishra-MSFT commented on #18492
@GarrettDavis Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 12:47] cmeyertons opened #18557 "Create a DNS name's sample introduces a brand new IP"
In the walkthrough, the example public IP is `40.121.63.72`.

In the Create a DNS name section, the example public IP changes to `51.145.155.210`.

Is this supposed to be the same public IP as before?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-

[2018-11-09 12:48] jpetitte commented on #18497
Just adding some more information as I get it.

It looks like the cert manager pod had problems (kubectl get pods --all-namespaces):

kube-system   opining-fly-cert-manager-5d584686f-rz9xq                      0/1       CrashLoopBackOff   79         6h

[2018-11-09 12:48] cmeyertons commented on #18557
Adding picture for clarity.

![image](https://user-images.githubusercontent.com/19917677/48263353-69675700-e3eb-11e8-8f25-6f41291899cb.png)

[2018-11-09 12:52] cmeyertons opened #18558 "Configure a DNS name"
Provide an example of what the DNS name would be as it is restricted to alphanumeric and dashes - this would imply to the user that this is not a full DNS entry (e.g. consoto.com)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e

[2018-11-09 12:53] cmeyertons commented on #18558
never mind re-read and missed that, duh

[2018-11-09 12:53] #18558 closed

[2018-11-09 13:00] sergaz-msft commented on #18547
Thank you for your questions @dcbrown16 . @PatAltimore can you please help clarify this question? Thank you!

[2018-11-09 13:00] ChiragMishra-MSFT commented on #18492
@GarrettDavis Please investigate and take necessary actions.

[2018-11-09 13:03] sergaz-msft commented on #18546
Thank you for your feedback @stofte . Can you be more specific on which step you are blocked? Thanks.

[2018-11-09 13:04] sergaz-msft commented on #18545
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 13:13] jpetitte commented on #18497
I ran through the tutorial for a 4th time this morning (just so I could try to watch when the cert-manager pod breaks), literally changing no configuration from the last runs, and it worked. The cert-manager pod also shows no errors.

It always disturbs me a little when I can't root cause something because I want to be able to fight the problem in the future, but I'll take it for now.

Any ideas a

[2018-11-09 13:52] cephalin commented on #7028
@codeevaluator @dcbrown16 Yes that's valid. I think that actually the PowerShell command is just too old to stay around. I'm of the opinion that we should just remove it altogether and let people download it using the Azure CLI instead. Thoughts?

[2018-11-09 14:04] jonathaneckman opened #18559 "SQL Service Endpoint in Azure Government regions"
[Here](https://docs.microsoft.com/en-us/azure/app-service/environment/forced-tunnel-support#configure-your-ase-with-service-endpoints) you say:

"Service endpoints with SQL does not work with ASE in the US Government regions. The following information is only valid in the Azure public regions."

Is this accurate? There are [several announcements](https://blogs.msdn.microsoft.com/azuregov/2018/02/2

[2018-11-09 14:06] melezhik commented on #18511
Hi! The guide references az cli, I am talking about ARM.

Again. The issue is not about documentation. Seems ARM ignore core settings. Please approve or disapprove.

Thanks

[2018-11-09 14:09] codeevaluator commented on #7028
I agree.
Please remove documentation that makes customers spend hours trying in vain.
As long as there's a solution/workaround it's much easier to wait for powershell to catch up :)

Please show customers how to use the workaround.
By examples or by referencing the right Azure CLI command.

[2018-11-09 14:31] Alberto-Vega-MSFT commented on #18526
Duplicate  of issue https://github.com/MicrosoftDocs/azure-docs/issues/18527

[2018-11-09 14:31] #18526 closed

[2018-11-09 14:47] vhorne commented on #17983
@femsulu
The answer is 100, and the article is being updated.

[2018-11-09 14:48] vhorne commented on #17983
@arkein FYI

[2018-11-09 14:48] vhorne commented on #17983
#please-close

[2018-11-09 14:54] PrasadNandanavanam commented on #18486
Hi Ashok,

I did try OData connector to sharepoint URL. I am getting the following error message.
[cid:image001.png@01D47809.95D351C0]

Coming to HTTP connector, I followed the steps below.

·         Created Data Factory pipeline and used Copy Data Activity

·         Created a linked service to HTTP (Sharepoint URL).

·         Connection was successful.

·         Created the Sink Linked servic

[2018-11-09 15:06] hassanbabaie opened #18561 "Service Endpoint - Does Azure Storage in this case include Azure Files SMB (TCP/445)?"
It would be good to confirm that the Service Endpoint routing also works on TCP/445 (SMB) to Storage for Azure Files access versus just HTTP/HTTPS which is what is was a while back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6d

[2018-11-09 15:08] robymes commented on #18063
@SamirFarhat I tried with az CLI and it was successful, I created first the VN with a default subnet, then a new subnet with the "--service-endpoints Microsoft.Sql" option and it worked

[2018-11-09 15:10] SamirFarhat commented on #18063
Mmmm, so this confirms that the issue is coming from the portal

[2018-11-09 15:28] SaurabhSharma-MSFT commented on #18537
@elaan Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 15:29] SaurabhSharma-MSFT commented on #18540
@pedrr Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 15:31] SaurabhSharma-MSFT commented on #18542
@marc-be Thanks for the feedback.

[2018-11-09 15:33] SaurabhSharma-MSFT commented on #18550
@AnisTss Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 15:41] cconrado commented on #17092
@MGoedtel Any update on when this is starting

[2018-11-09 15:46] ImperaKommunikation commented on #18125
Hi, we have the exact same problem,

We load every certificate by thumbprint and have tested with WEBSITE_LOAD_CERTIFICATES with * and every thumbprint respectively.

The certificates loads up fine when inspecting the httpclient-certificates, when remotedebugging in azure.

When recieving the response it can't be read by the client and throws this SSL-ConnectionCouldNotBe....  Works perfect when d

[2018-11-09 15:49] zr-msft commented on #17886
Thank you for creating this issue @dcbrown16.

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-09 15:58] YutongTie-MSFT commented on #18548
@sebader Thanks for your feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate. We also hope we can protect our customers' data well.

@cjgronlund Can you please take a look? Thanks.

[2018-11-09 15:59] YutongTie-MSFT commented on #18525
@praneetmsft
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-09 15:59] #18525 closed

[2018-11-09 15:59] YutongTie-MSFT commented on #18224
@Jakes234
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-09 15:59] #18224 closed

[2018-11-09 16:06] jayendranarumugam commented on #8390
@BryanTrach-MSFT  I've tried both way, but got failed,  the reason is the `.crt` doesn't contain any private key associated with it. Do you know how can I proceed with?

[2018-11-09 16:11] robymes commented on #18063
I also updated the enabled subnet to support Azure.Storage service endpoint
then, using portal I secured a SQL Service to that enabled subnet, but it was impossible for an Azure Storage Account, so I successfully did the latter using the az CLI.
The funny thing is that, even if now I can see on the Azure Storage Account the secured subnet active, there's a message that says "Adding virtual network

[2018-11-09 16:12] sergaz-msft commented on #18377
Hello @davebanthorpe can you take a look at [this MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/2d54b3c5-eda3-4201-9d55-2b1a96a6dbfe/problem-sending-messages-to-a-transparent-gateway?forum=iotedge)?

"
To successfully connect to IoT Edge from a downstream "leaf" device, a few things have to be right:

- the name that you used for the 'hostname' in the config.yaml file  a) cannot be l

[2018-11-09 16:12] Mike-Ubezzi-MSFT commented on #16411
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-09 16:12] #16411 closed

[2018-11-09 16:14] Mike-Ubezzi-MSFT commented on #18496
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-09 16:14] #18496 closed

[2018-11-09 16:18] DCtheGeek commented on #18389
@PaulTzl Thanks again for the question. If Alex's answer didn't give you the details you were looking for, please let us know.  I'm going to ask the team to close this issue now.  Thanks again and if you have product feedback, please also check out the [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance).

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-09 16:18] Mike-Ubezzi-MSFT commented on #14186
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-09 16:18] #14186 closed

[2018-11-09 16:34] jtuliani opened #18566 "Hyper-V support?"
This doc contains the following quotes:

Site Recovery Deployment Planner is a command-line tool for both Hyper-V to Azure and VMware to Azure disaster recovery scenarios.

and

Download the latest version of Site Recovery Deployment Planner. The tool is packaged in a .zip folder. The current version of the tool supports only the VMware to Azure scenario.

Confused...does it support Hyper-V, or no

[2018-11-09 16:41] Alberto-Vega-MSFT commented on #18539
@vetrivelmp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 16:42] Workshop2 commented on #16469
We are also seeing this exact issue. Can you recommend what the solution is? We have tried with Priority, Weighted and Performance mode settings.

[2018-11-09 16:43] Alberto-Vega-MSFT commented on #18544
@darshankumarys Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-09 16:44] Mike-Ubezzi-MSFT commented on #18538
@dcbrown16 Thank you for the detailed feedback. I am working with the content author to evaluate and update as appropriate.

[2018-11-09 16:47] Mike-Ubezzi-MSFT commented on #18454
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 16:47] Alberto-Vega-MSFT commented on #18549
@ml810326 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 16:48] Alberto-Vega-MSFT commented on #18551
Hi @Eduard-TC I'm sorry to hear you are facing this issue. This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-11-09 16:49] sergaz-msft commented on #17737
Hello @smoms let us know if you are finding troubles on reproducing the issue with system.debug set to true? We would love to have more details and help unblocking this issue. Thanks!

[2018-11-09 16:51] Alberto-Vega-MSFT commented on #18554
@vetrivelmp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 16:58] wesmc7777 commented on #16775
@ddentrec Great points. I'm updating this topic to use the latest versions of Raspbian, Node, etc.  I'll add this as well.

[2018-11-09 17:00] justadude41123 opened #18568 "Please add steps to do this for those with Hybrid environments."
This is great if one were using ONLY azure AD, but is useless for those who have a Hybrid onsite AD that syncs with Azure. Please add steps that address this feature because these are disabled if there is syncing involved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8c77b2-27b0-269c-6e96-5ca02b8a4f18
* Version Ind

[2018-11-09 17:04] tfitzmac commented on #16651
@ggailey777 - I just want to make sure you are aware of this issue.

[2018-11-09 17:13] ggailey777 commented on #16651
@craigshoemaker where are we with the article update for v2?

[2018-11-09 17:14] rarera commented on #17188
Hi Strohne,

portal.azure.com -> + Create a resource  (top left of the screen) -> Now search for and select "Speech" -> Create -> here select the correct data center, and select S0 as pricing tier.

From the created resource you can then get the Key.

Ok hope this helps,
Ramin

[2018-11-09 17:14] rarera commented on #17188
Hi @PanosPeriorellis ,

can you please merge my PRs to this document and we also need a page with screenshots showing how to get a proper subscription key.

Thanks,
Ramin

[2018-11-09 17:19] Karishma-Tiwari-MSFT commented on #18093
@elang-bmrn We will now close this issue. Please come back whenever you are ready, I will reopen the issue and we will gladly continue the discussion.

[2018-11-09 17:19] #18093 closed

[2018-11-09 17:28] MicahMcKittrick-MSFT commented on #18558
@cmeyertons thanks for the update and closing it out :)

[2018-11-09 17:29] bandersmsft commented on #17100
@sethbaumiller Hi Seth. Sorry for the confusion that the section created. I'll update the artilce to remove the section. Monetary commitments shouldn't be assocaited with discounts or reduced rates.
#please-close

[2018-11-09 17:30] Karishma-Tiwari-MSFT commented on #17125
@JeanQian Any update? Please provide the details as asked in the comment above, so that we can help you better.

[2018-11-09 17:31] dlepow commented on #18318
@DMoonesinghe - This doc update will publish later today. Thanks again for great feedback.
#please-close

[2018-11-09 17:32] #18318 closed

[2018-11-09 17:36] David-Engel opened #18569 "Next Steps links to same article"
Of the two links in the Next Steps section, one of them links to this page itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5181c-002d-33bb-5e9d-02fad30a5d3c
* Version Independent ID: b771d6b5-00c9-4d0a-260e-c79cb3100d8b
* Content: [Create a function that runs on a schedule in Azure](https://docs.microsoft.com

[2018-11-09 17:38] MGoedtel commented on #18513
@pisees - what you are experiencing is highlighting of the article in two places in the TOC - under the Concepts\Insights\Virtual Machines section, where it links to the overview article and also under the How-to section where all the content exists for the monitoring solution (just scroll-down further).
Outside of that, I'm not seeing an issue with the TOC for the content.  #please-close.

[2018-11-09 17:45] MGoedtel commented on #18500
@CHDAFNI-MSFT - I can add a link from this doc to that document with a note about sovereign cloud firewall config. This is bugged and I'll address as soon as I can.  #please-close

[2018-11-09 17:51] johnwildes commented on #17171
Link is still broken, just adding FYI.  Seems that TXT/TSV is the more preferred format for loading questions and answers into QNA Maker.  An example file would be super helpful.

[2018-11-09 17:54] Adam-Smith-MSFT commented on #18521
@findikconsulting  It looks like it is supported, but not officially. This blog highlights the compatibility https://anthonychu.ca/post/blazor-azure-storage-static-websites/
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-09 17:54] #18521 closed

[2018-11-09 17:55] Adam-Smith-MSFT commented on #18566
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 17:56] ghills opened #18570 "Document network settings in 'Which settings are swapped?'"
I found out the hard way that 'IP restrictions' set up for a deployment slot are included in the deployment slot swap, despite the fact that the 'Which settings are swapped?' section doesn't really make note of that.

I expected them to stick with the slot considering it seems to fit along with the accessibility of the running instance settings (such as the custom hostname configuration and such).

[2018-11-09 17:59] DeanGross commented on #18401
Have you been able to find any information?

[2018-11-09 18:00] davebanthorpe commented on #18377
HI - I have corrected an issue in the config.yaml (edge hostname) and now the openssl test passes OK. I have then used MQTTBOX to verify I can create a connection to the hub from the local host (same place where KepServerEX is running) and that works fine.

However, I am now getting "unable to find valid certification path to requested target" in KepServerEX when I use the same connection and auth

[2018-11-09 18:02] bwren commented on #18068
Thanks for this.  I think these got broken with some automated updates we did recently.  Fixing them now.

[2018-11-09 18:02] bwren commented on #18068
#please-close

[2018-11-09 18:06] kvlopez1 commented on #6175
Link does not work!

[2018-11-09 18:07] kvlopez1 commented on #15201
I'm getting the same error, could I get more feedback as to how this issue was resolved?

[2018-11-09 18:08] MarileeTurscak-MSFT commented on #18449
A work or school account is an account created by the admin. The only other account type is a "personal account" which is an account created by the user (like a personal Outlook or Gmail account). Right now Azure MFA only works on work or school accounts. That's why it prompts you to use a work or school account if you set up MFA.

We will now proceed to close this thread. Please open a new issue

[2018-11-09 18:08] #18449 closed

[2018-11-09 18:11] MarileeTurscak-MSFT commented on #18568
@justadude41123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 18:12] thuansoldier opened #18571 "The Audit Log Schema looks differently"
I'm not sure if the Audit log schema has some changes. There is no **properties** field now if I query from imported AAD Log in Log Analytics workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b651a95f-7c34-a979-f97e-e4feedb47487
* Version Independent ID: ff679d7a-0bc5-692f-8ef8-72e24d402f23
* Content: [Interpre

[2018-11-09 18:14] diberry commented on #17171
@johnwildes Thank you for letting us know. The fix is in progress.

[2018-11-09 18:15] mike-urnun-msft commented on #18509
Hi @v-kydela Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-09 18:17] aljo-microsoft commented on #18482
@thiago-vivas

This document is incorrect.

Specifically the default (recommendation) is 120 seconds, so setting to 60 is decreasing the default.

Ref:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters

Further the UpgradeHealthCheckInterval is "The frequency of health status checks during a monitored application upgrades" with a default (recommend

[2018-11-09 18:21] mike-urnun-msft commented on #18569
Hi @David-Engel Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-09 18:29] kobulloc-MSFT commented on #18556
@andy26nash Thank you very much for your comment.  It appears that the [Italian version](https://docs.microsoft.com/it-it/azure/application-insights/app-insights-profiler) is significantly different from the [English version](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler).  I will assign this to the document author so they can update the documentation accordingl

[2018-11-09 18:31] erhopf commented on #18286
@alexander-riss - I wanted to follow up after testing. It looks like the issue is that when the param is set to simple the JSON response includes `DisplayText`. However, when you use `detailed` the JSON response includes `Display` -- which also provides the STT. I'm including my sample responses below for each.

We're going to patch the docs to address this issue and investigate whey there is a na

[2018-11-09 18:32] cephalin commented on #7028
@codeevaluator Thanks. The Azure CLI command is already shown, just under the to-be-nuked PowerShell command. :)

[2018-11-09 18:33] #18509 closed

[2018-11-09 18:34] mike-urnun-msft commented on #18509
Hey @v-kydela We have made changes to ensure the consistency. Change will reflect in few hours after scheduled merge completes.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-09 18:39] MicahMcKittrick-MSFT commented on #17881
@aljo-microsoft thank you for all of that!

@gperrego let us know if that helps :)

[2018-11-09 18:46] PatAltimore commented on #18547
@dcbrown16 We're verifying with the product team. There might be a delay. The contact that owns this template is out of town.

Thanks,
Pat

[2018-11-09 18:50] Key-international opened #18573 "Key International academy"
https://account.activedirectory.windowsazure.com/profile?ref=MeControl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [How to add an existing Azure subscription to your Azure Active Directory tenant](https://d

[2018-11-09 18:50] zr-msft commented on #18031
Thank you for creating this issue @louisjvn.

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-09 18:51] zr-msft commented on #15368
Thank you for creating this issue @tapialuism

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-09 18:52] initmahesh opened #18574 "debugging in simulator not working if run with create option network as host"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-09 18:53] zr-msft commented on #15286
Thank you for creating this issue @mcurko

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-09 18:55] initmahesh opened #18575 "unable to use debugging in container when mounted the conatiner as network host"
# details here

when trying to create with create option below getting error ::
          Successfully built 2d341d90fbf9
Successfully tagged mycapreg.azurecr.io/capssamplemodule:0.0.1-amd64.debug
SECURITY WARNING: You are building a Docker image from Windows against a non-Windows Docker host. All files and directories added to build context will have '-rwxr-xr-x' permissions. It is recommended to

[2018-11-09 18:56] #15286 closed

[2018-11-09 18:56] MysticRyuujin opened #18576 "CloudBlockBlob Undefined, is null"
In the example given, after the function, you call `$CloudBlockBlob.DownloadRangeToByteArray` which isn't defined. If you actually run this code as given you get "You cannot call a method of a null-valued expression" because you never create the $CloudBlockBlob, except within the function...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-09 18:56] #15368 closed

[2018-11-09 18:56] #18031 closed

[2018-11-09 18:57] dcnoren commented on #18510
Is that using conditional access or Azure MFA?

[2018-11-09 18:58] #18437 closed

[2018-11-09 18:59] diberry commented on #18394
@msekkappan This fix is [live](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-publish-answer#add-supporting-functions-and-structures). Thank you for reporting this issue. #please-close

[2018-11-09 18:59] nberdy commented on #18478
@Alberto-Vega-MSFT Could you please assign to @jlian ? He should be the owner of this doc.

[2018-11-09 19:00] Karishma-Tiwari-MSFT commented on #18380
@deosandeep Did you get a chance to take a look at this question. Customer is looking for info on whether adding SLES is on the roadmap. Thanks.

[2018-11-09 19:01] MarileeTurscak-MSFT commented on #18554
Yes, it is only possible to enable MFA in a B2C tenant using sign-up or sign-in policies, if that's what you mean. Azure AD B2C does not have out-of-the-box support for user-level MFA.

The UI shows up for Azure AD B2C as well in the user directory, but it won't work. The sign up, sign in, and custom policies are the way to enable MFA in B2C. You can enforce this at an application level, or for ac

[2018-11-09 19:01] MarileeTurscak-MSFT commented on #18554
We will now proceed to close this thread. If you have further questions please tag me in the comments or open a new issue providing more details on your situation and I will gladly continue the conversation.

[2018-11-09 19:01] #18554 closed

[2018-11-09 19:09] TravisCragg-MSFT commented on #18519
@summermick could you please clarify exactly where the typo in the Create a Network Security Group is at?

I am also not able to se where the NICs are assigned to the VM either. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 19:09] zr-msft commented on #15359
Thank you for creating this issue @mcurko.

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-09 19:13] TravisCragg-MSFT commented on #18527
@HoaiDuy this is a known limitation of the [V2 App Gateway SKU](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#known-issues-and-limitations)., which is currently in public preview.

If you need this feature, it is best to use an App Gateway V1. If you would like us to allow this in the future, you can [leave your feedback Here](https://fee

[2018-11-09 19:13] #18527 closed

[2018-11-09 19:14] TravisCragg-MSFT commented on #18552
@henriquebrisola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 19:19] CarlRabeler commented on #18538
Hi @dcbrown16
Thanks for the feedback. Fixing the article now. The PowerShell quickstart was removed because it duplicated the PowerShell sample.

[2018-11-09 19:20] badalk commented on #18288
I am facing the same issue. I have logged in using az login with a service principal in jenkins pipeline and then i execute this shell script to package and push a helm chart. It gives an authentication error. I gave ACRImagePusher permission to the SP but still doesnt work. Then i simply did az login and it asks me to login on microsoft.com/devicelogin and post authenticating with my admin creden

[2018-11-09 19:24] mattbriggs commented on #17440
I've updated the topic. Thanks again for your feedback. #please-close

[2018-11-09 19:32] sumeetmittal commented on #18561
Yes, it works on TCP/445 (SMB) to Storage for Azure Files access.

[2018-11-09 19:39] Xorima commented on #18288
You are specifying it is a service principal on the az login?

[2018-11-09 19:40] SteveLasker commented on #18288
For services, you'll need to specify a service principal to do the login. Here's an example: https://github.com/demo42/helloworld#credentials

[2018-11-09 19:42] Karishma-Tiwari-MSFT commented on #18442
I found this blog on [Uploading and creating a Custom Azure VM from .VHD](https://blogs.msdn.microsoft.com/pakistan/2017/09/13/uploading-and-creating-a-custom-azure-vm-from-vhd/) but I couldn't find for your scenario.
@cynthn Are you aware of similar doc for Hyper-V? Thanks.

[2018-11-09 19:49] MicrosoftGuyJFlo commented on #18536
@aavdberg because there was no update to the content of the PR after two days I assumed you were ok with what I proposed and went ahead and completed the change in our private repo.

[2018-11-09 19:51] gperrego opened #18578 "Not sure if you inteneted to give two links to the same article above?"
Is listed twice above, it makes sense but wanted to make sure that was your intent

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 273ff0d0-2b07-0157-f090-fe6a4c8da21b
* Version Independent ID: 0039fbc1-0774-8a6b-0222-07

[2018-11-09 19:54] bruckGT opened #18579 "Deploying certificates with application/x-pkcs12"
Hi
I’m trying to install certificates on my scale set with certificates generated directly from Key Vault. In the FAQ it says that: "We also support the content type application/x-pkcs12. For instructions on using application/x-pkcs12, see PFX certificates in Azure Key Vault.". However, when we try this we get an error that the secret is not de-serializable into JSON. Is there a way to get this to

[2018-11-09 19:57] TravisCragg-MSFT commented on #18576
@MysticRyuujin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 20:01] cynthn commented on #18442
@andrae the only Hyper-V article I could find is this one: https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/deploy/export-and-import-virtual-machines not sure if that is what you are looking for or not.

[2018-11-09 20:04] mbrancato opened #18580 "Windows Guest Agent is not a service for the current Azure VM Agent"
The Azure VM Agent does not seem to have a service named "Windows Guest Agent" as documented here. It seems to have multiple services, so it might be worthwhile updating this documentation to reflect the accurate names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3159e0-fb4e-ac85-e88d-f085ac54a13f
* Version Indepe

[2018-11-09 20:08] MarileeTurscak-MSFT commented on #18573
@Key-international closing this out as there is no actionable input in this thread.

[2018-11-09 20:08] #18573 closed

[2018-11-09 20:11] MarileeTurscak-MSFT commented on #18571
@thuansoldier
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-09 20:13] #17828 closed

[2018-11-09 20:18] darkgray opened #18581 "adfs oauth 2.0 "password" flow. There doesn't seem to be a way to request "profile" or "email" scope in the token request."
Hello,
I'm trying to use adfs oauth 2.0 "password" flow. There doesn't seem to be a way to request "profile" or "email" scope in the token request. Client id and secret are only allowed for server app where these scopes are not even in configuration options in ADFS configuration. Thanks for assistance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-11-09 20:31] ghills commented on #18570
It appears that hybrid connections are also swapped

[2018-11-09 20:35] tjoycebrook commented on #18048
Thanks @MarileeTurscak-MSFT and @MicrosoftGuyJFlo. I opened a case with support and they claimed to have no knowledge of any script and explained that users would, indeed, have to re-register. Is there any other way to get that script to me?

[2018-11-09 20:35] BryanTrach-MSFT commented on #18520
@FallenGameR Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-09 20:36] MicrosoftGuyJFlo commented on #18048
@tjoycebrook my email is in my profile shoot me a note and I can see what I can do.

[2018-11-09 20:38] BryanTrach-MSFT commented on #18555
@sruthi4790 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-09 20:42] BryanTrach-MSFT commented on #18570
@ghills Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-09 20:47] bharath0208 commented on #5972
Hi guys,
Does anyone know on how to access the WebUI of spark even after the job is completed? I see that it is mentioned in the documentation on how to access the web UI when the pod is running.

[2018-11-09 20:47] #18250 closed

[2018-11-09 20:48] richardharrison2 opened #18583 "virtual machine administrator login role - is it meant to work for windows?"
From the comment above

Microsoft.Compute/virtualMachines/loginAsAdmin/action	Log in to a virtual machine with Windows administrator or Linux root user privileges

This implies this role allows windows admin access - i get it to work fine for linux but for windows it seems to do nothing.

Is it meant to work for windows and i hit some bug or is it linux only?

if it's linux only is it on the roadm

[2018-11-09 20:50] CeciAc commented on #18250
Hello, @wloeven
Thank you for your feedback.
 
The content team reviewed your suggestions and accepted them. They implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/nl-nl/azure/azure-stack/azure-stack-validate-pki-certs.

We truly appreciate your contribution to our articles and we encourage you to continue providing y

[2018-11-09 20:52] RichardScheel commented on #15377
@dcbrown16, I haven't had time to get back to this. Unfortunately, I will be leaving Microsoft in about a week due to medical issues, so I probably will not be able to get to this issue.

Our team hired a new contractor to fill my spot. His name is Pieter Wijsman. After he has a chance to ramp up, he might be able to help, but this is not an area he is familiar with. Sachin Mittal is a dev who kno

[2018-11-09 21:15] MohitGargMSFT commented on #18537
@elaan Please note that the Azure Active Directory Module for Windows PowerShell is navigating to this document fine for me - https://docs.microsoft.com/en-us/previous-versions/azure/jj151815(v=azure.100).

[2018-11-09 21:32] Karishma-Tiwari-MSFT commented on #18535
@olivierfox This doc is not valid for Azure Classic (ASM).
Here is a blog on Classic VM: https://blogs.msdn.microsoft.com/madan/2015/11/02/resizing-azure-vm-os-or-data-disk/ Please check if that helps.

The Resource Manager and classic deployment models represent two different ways of deploying and managing your Azure solutions. You work with them through two different API sets, and the deployed r

[2018-11-09 21:35] Karishma-Tiwari-MSFT commented on #15377
@RichardScheel Thank you for sharing the information. I have assigned the issue to Pieter Wijsman.

[2018-11-09 21:39] Karishma-Tiwari-MSFT commented on #18345
@roiyz-msft Can you please help answer customer's question? Should the doc contain more info on it? Thanks. :)

[2018-11-09 21:41] bruckGT opened #18586 "Deploying certificates on Vmss"
Hi
I’m trying to install certificates on my scale set with certificates generated directly from Key Vault. In the FAQ it says that: "We also support the content type application/x-pkcs12. For instructions on using application/x-pkcs12, see PFX certificates in Azure Key Vault.". However, when we try this we get an error that the secret is not de-serializable into JSON. Is there a way to get this to

[2018-11-09 21:42] MohitGargMSFT commented on #18540
@pedrr Please check on below details in [Excluding applications from the wildcard section](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-wildcard#excluding-applications-from-the-wildcard) of the document -

You can also limit the wildcard to only work for specific applications through your DNS management. As a best practice, you should create a CNAME entry t

[2018-11-09 21:44] Karishma-Tiwari-MSFT commented on #18345
@rizwaans I found this blog on [Using the Azure Custom Script Extension to execute a PowerShell script multiple times on an Azure Windows VM from an Azure Automation Runbook.](https://blogs.technet.microsoft.com/stefan_stranger/2017/07/31/using-azure-custom-script-extension-to-execute-scripts-on-azure-vms/)
Please check if that helps. Thanks.

[2018-11-09 21:53] mike-urnun-msft commented on #18456
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Authorize developer accounts by using Azure Active Directory - Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aa

[2018-11-09 21:59] bruckGT opened #18587 "Deploying certificates on Vmss"
Hi
I’m trying to install certificates on my scale set with certificates generated directly from Key Vault. In the FAQ it says that: "We also support the content type application/x-pkcs12. For instructions on using application/x-pkcs12, see PFX certificates in Azure Key Vault.". However, when we try this we get an error that the secret is not de-serializable into JSON. Is there a way to get this to

[2018-11-09 22:10] femsulu commented on #18543
@masashimi Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-09 22:15] femsulu commented on #18583
@richardharrison2  Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-11-09 22:28] gunnarcms opened #18588 "Redundant link Best practices for Azure VM security"
The link to "Best practices for Azure VM security" is a redundant one of the one below, "Security best practices for IaaS workloads in Azure", that actually points to the IaaS best practice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-9

[2018-11-09 22:30] MicahMcKittrick-MSFT commented on #18482
@thiago-vivas I submitted the fix :)

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-11-09 22:30] MicahMcKittrick-MSFT commented on #18489
@rhan1161 will close this as we are working offline.

[2018-11-09 22:30] #18489 closed

[2018-11-09 22:35] MicahMcKittrick-MSFT commented on #18499
@alexeyshishkin01 this specific doc is covering expanding data disks not the OS disk.

For expanding the OS disk we have this article:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk

That article does not cover expanding the partition for Linux though. Only windows

To do that in Linux, will depend on your OS in which case you would have to lookup the correct comma

[2018-11-09 22:38] MicahMcKittrick-MSFT commented on #18557
@cmeyertons yes it should be the same :)

I submitted a fix. Once the PR merges this issue will close and the changes will go live in a few hours.

Thanks for pointing this one out!

[2018-11-09 22:39] Alberto-Vega-MSFT commented on #17715
@pivotalguru I apologize for the delay. After getting the document this issue is linked to we accidentally assigned it to the wrong person. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 22:41] TerryLanfear commented on #18588
@gunnarcms - You are correct that the two links are going to the same article. We decided to list the link twice with different titles to see which terminology resonated best with customers.

[2018-11-09 22:42] MicahMcKittrick-MSFT commented on #18575
@initmahesh please provide the link to the documentation you are referring to so I can better assist.

[2018-11-09 22:42] MicahMcKittrick-MSFT commented on #18579
Duplicate of #18587

[2018-11-09 22:42] #18579 closed

[2018-11-09 22:43] MicahMcKittrick-MSFT commented on #18586
duplicate of #18587

[2018-11-09 22:43] #18586 closed

[2018-11-09 22:44] kobulloc-MSFT commented on #18278
@mcurko It appears that the installation instructions for the Visual Studio Snapshot Debugger were out of date, and the installation text has now been updated:

"For instructions on getting started with Snapshot Debugging, please visit https://aka.ms/pnv0qt. This extension works for Visual Studio 2017 version 15.4 and before. **For Visual Studio 2017 version 15.5 and above, please install the "Sna

[2018-11-09 22:44] #18278 closed

[2018-11-09 22:44] gunnarcms commented on #18588
ok thanks, closing this issue then.

[2018-11-09 22:44] #18588 closed

[2018-11-09 22:45] MicahMcKittrick-MSFT commented on #18578
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 22:46] MicahMcKittrick-MSFT commented on #18587
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-09 22:50] #18482 closed

[2018-11-09 22:52] MarileeTurscak-MSFT commented on #18479
It's hard to troubleshoot based on the limited information here. It could be an issue with user permissions, endpoints, versioning, port forwarding, or all of the above. Please post your question to MSDN, link the thread here and tag me in the comment, and I will follow up with you and get the right engineers assigned to your case. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsA

[2018-11-09 22:52] #18479 closed

[2018-11-09 22:59] #18557 closed

[2018-11-09 23:04] MicahMcKittrick-MSFT commented on #18578
@gperrego thanks for bringing this up.

It was intended to link the same doc.

For the first link

![image](https://user-images.githubusercontent.com/32313503/48292703-4c08ac00-e430-11e8-9ed3-a38fbe6eba08.png)

You would want to focus on the parameters section

![image](https://user-images.githubusercontent.com/32313503/48292724-6773b700-e430-11e8-909e-d11d8586d184.png)

While in the second link

[2018-11-09 23:12] Alberto-Vega-MSFT commented on #18342
@sammym1982 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 23:12] AngelosP commented on #16872
@ggailey777 it's a known issue now! I just confirmed as well that the drop-down inside of Visual Studio when creating a new function doesn't make a difference to the code that gets generated.

@soninaren can you please take a look at this?

[2018-11-09 23:13] femsulu commented on #18410
@DMoonesinghe, Very valid feedback. Please share the examples as stated in your last post and we will be sure to pass it on to the accountable stakeholders and leaders in the OMS, Azure Monitor teams.

[2018-11-09 23:14] Adam-Smith-MSFT commented on #18580
@mbrancato Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-09 23:17] Alberto-Vega-MSFT commented on #18351
@gokul2018 I will tie this issue to a document but to get you unblock  can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-11-09 23:18] soninaren commented on #16872
@AngelosP That bug has been fixed and deployed to production.

[2018-11-09 23:18] soninaren commented on #16872
I just verified it by creating a function app and selecting a "Anonymous" from the drop down.

[2018-11-09 23:29] MarileeTurscak-MSFT commented on #18242
If you have further questions about this please post the thread to MSDN, link it in the comments and tag me and we will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-11-09 23:31] MohitGargMSFT commented on #18550
@AnisTss Please note as mentioned in the document you can download it from [here](https://www.microsoft.com/en-us/download/details.aspx?id=56843).

[2018-11-09 23:32] MohitGargMSFT commented on #18553
@Ashley-Walton Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-09 23:34] diberry commented on #17171
@johnwildes @toddbsweeney These links are now fixed. Thank you for your patience. #sign-off

[2018-11-09 23:39] diberry commented on #18284
@nicojdejong While the Azure Search capabilities are on par for supported languages, QnA Maker has an additional ranker that sits above the Azure search results.
In this ranker model, we use some special semantic and word based features in en-*, that are not yet available for other languages.
We do not make these available, as they are part of the internal working of the ranker.

The docs will be

[2018-11-09 23:43] anandta opened #18590 "Extensions are missing"
Extensions are missing after recreating VM in new VMSet. They are missing from extensions blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set](https://docs.microsoft.com/en-us/

[2018-11-09 23:50] Alberto-Vega-MSFT commented on #18375
@zivkan Thanks again for your feedback. I was able to find the SDK with under the name Microsoft.Azure.CognitiveServices.SpellCheck
![bingspellcheck](https://user-images.githubusercontent.com/10910841/48294086-259a3f00-e437-11e8-8902-2e6e26c77220.PNG)

[2018-11-09 23:51] ggailey777 commented on #16872
Thanks @soninaren and @AngelosP!
#please-close

[2018-11-09 23:51] Alberto-Vega-MSFT commented on #18375
We will now proceed to close this thread. If there are further questions regarding this matter, please feel free to tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-10 00:03] Karishma-Tiwari-MSFT commented on #18590
@anandta Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 00:04] tfitzmac commented on #18351
@gokul2018 - I would suggest evaluating the resources to see which ones can be moved in separate operations. Review [Migrate Azure subscriptions from pay-as-you-go to Azure CSP](https://docs.microsoft.com/azure/cloud-solution-provider/migration/migration-from-payg-to-csp) and perform the assessment. Then, look at the checklist in this article to make sure your subscriptions and accounts are ready.

[2018-11-10 00:08] sconrod-tester commented on #18507
Please check this code:
<img width="756" alt="screen shot 2018-11-08 at 2 33 27 pm" src="https://user-images.githubusercontent.com/13369681/48294538-a5c1a400-e439-11e8-8d7e-14e0e880783b.png">

[2018-11-10 00:17] MarileeTurscak-MSFT commented on #18155
If using the MFA Server, you reply with the fraud alert code instead of the One-Time Password. For example, if the fraud alert code is 0, you reply with 0 to report fraud.

[2018-11-10 00:18] MarileeTurscak-MSFT commented on #18155
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the conversation.

[2018-11-10 00:18] #18155 closed

[2018-11-10 00:29] Karishma-Tiwari-MSFT commented on #18223
@rasmus-s You said when you changed the sku, you get an error, can you please share how are you trying to update the sku for VMSS from 2012-R2-Datacenter to 2016-Datacenter? Is there a doc you are following? Can you share the commands. Thanks

[2018-11-10 00:32] lenadroid commented on #5972
@bharath0208 it's only possible to look at Spark UI when the job is running, because Spark UI is accessible while the job is in progress.

[2018-11-10 00:38] Alberto-Vega-MSFT commented on #18511
Hi @melezhik issues in this repo are meant for documentation fixes or improvements. With that said  we can enable a free support ticket for you so you can get help.
Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get

[2018-11-10 00:45] MarileeTurscak-MSFT commented on #18571
Based on the portal it looks like the properties values are still there but the overall Properties field may have gone away? Assigning to @priyamohanram to look into.

[2018-11-10 00:46] barborico opened #18592 "Missing publisherDomain"
This reference doesn't mention the [publisherDomain(https://docs.microsoft.com/en-us/azure/active-directory/develop/application-consent-experience#building-blocks-of-the-consent-prompt) field, which appears in the manifest and in the user auth flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b

[2018-11-10 01:07] sergaz-msft commented on #18377
Hello @davebanthorpe I believe that this topic should be discussed on another forum since it is not fully related with the doc. Can I kindly ask you to open a new issue here: https://github.com/Azure/iotedge/issues and let us know the link so that others can follow the troubleshoot there?

Thank you!

[2018-11-10 01:10] bharath0208 commented on #5972
How do people monitor the performance of the spark jobs at a later point of time? Because we are running on Hadoop the UI works always and we can view the CPU utilization and also the time interval for which it ran. Do we have any external tools which we can configure to view these things?

[2018-11-10 01:14] bharath0208 commented on #5972
Also how do we reference the jar file from external repo using https without packaging it inside the docker image but just reference it outside and make it run.

./bin/spark-submit \
--master k8s://https://ip:port \
--deploy-mode cluster \
--name test3 \
--class helloworld \
--conf spark.kubernetes.container.image.pullSecrets=abcd \
--conf spark.kubernetes.container.image=docker image \
https://SN

[2018-11-10 01:42] Alberto-Vega-MSFT commented on #18397
@simardst An IoT Hub can connect to 500,000 devices. You might want to read this document if you haven't yet: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling

[2018-11-10 01:57] zivkan commented on #18375
@Alberto-Vega-MSFT thanks for looking into it. However, going to the [package page on nuget.org](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.SpellCheck/1.2.0) gives the message

![image](https://user-images.githubusercontent.com/5030577/48296169-3dc68a00-e448-11e8-9da1-924e487586f9.png)

Further down the page in package history, there aren't any versions listed.

Using Visual

[2018-11-10 02:18] Alberto-Vega-MSFT commented on #18398
@simardst Thanks again for your valuable feedback!  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-10 02:37] Alberto-Vega-MSFT commented on #18574
@initmahesh Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-10 02:38] Alberto-Vega-MSFT commented on #18581
@darkgray Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-10 02:48] Alberto-Vega-MSFT commented on #18592
@barborico Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 02:52] Alberto-Vega-MSFT commented on #18481
@rangeranger Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-10 06:53] #18413 closed

[2018-11-10 06:55] PramodValavala-MSFT commented on #18413
@balag0 Thanks for contributing to MS Docs! We have added a note in the doc about the required application settings when working with private containers.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-10 10:39] mcurko opened #18595 "Error"
Get-AzureRmSqlDatabaseGeoBackup -ResourceGroupName $resourcegroupname -ServerName $servername

always results in (even after a longer period of time):

Get-AzureRmSqlDatabaseGeoBackup : 40647: Subscription '------' does not have the server '---------'

Get-AzureRmSqlDatabaseRestorePoints -ResourceGroupName $resourcegroupname -ServerName $servername -DatabaseName $databasename

succeds, so data in

[2018-11-10 12:03] CHDAFNI-MSFT commented on #15920
In Azure Government, 'Service Endpoint' still references the Commercial Office 365 instances in terms of pre-canned monitoring rules, can this document (or appropriate area) be updated to reflect the equivalent URLs / ports for Office 365 GCC High and Office 365 DoD? The URL / IPs page (https://docs.microsoft.com/en-us/office365/enterprise/office-365-u-s-government-gcc-high-endpoints)  is not a re

[2018-11-10 12:07] CHDAFNI-MSFT opened #18596 "Table of contents - incorrect name"
The table of contents lists this section as "Service Endpoint" - it should be titled "Service Connectivity Monitor"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1facbcdc-5bf4-2036-e4a1-661d7c2d53ef
* Version Independent ID: 5f1985fa-c239-9d51-f27c-2f323fe2799e
* Content: [Network Performance Monitor solution in Azure

[2018-11-10 12:25] cmeyertons opened #18597 "Add a warning that if you try installing cert manager via a Helm umbrella chart, you're gonna have a bad time"
Just wasted some hours trying to get my infra configuration down as code using a separate helm umbrella chart that installs nginx and cert-manager.

cert-manager has a few CRDs that it installed and if cert-manager is installed as a subchart of an umbrella chart, the CRDs don't get installed at all - https://github.com/helm/helm/issues/2994

I ended up just keeping a curated list of the commands i

[2018-11-10 12:27] cmeyertons opened #18598 "Supply helm release names when helm installing"
Would be more beneficial to use an example release name that's clear devs should replace so when they copy i don't create a generated random release name called something like "dozing-greyhound", etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-

[2018-11-10 13:10] lyrana commented on #17054
@gregorvilkner First let me say I'm truly sorry you spent time on this. When Banchio reported that this step was missing I was mortified. However, we did a quick edit and the document was updated on 10/21, you'll see that step 4 does mention setting oauth2AllowImplicitFlow to true. However, it seems that maybe this was still missed, so a future iteration will add screen shots to ensure that no tim

[2018-11-10 13:16] mkosieradzki commented on #8354
@lawrencegripper Nope. You are supposed to use it this way: `ServiceFabricIntegrationOptions.UseReverseProxyIntegration | ServiceFabricIntegrationOptions.UseUniqueServiceUrl`

[2018-11-10 13:35] arcotek-ltd opened #18600 "Required permissions"
What and where do we set the permissions to allow one to +Add role or X Remove role. I have two accounts, both Global Admins on the directory, but only one can +Add role / X Remove role. For the other, the buttons are greyed out.

Is this something left over from the old accounts.windowsazure.com portal. Talking of Classic, both users are Service Administrators.

Thanks

---
#### Document Details

[2018-11-10 14:03] bobum commented on #18508
I can confirm this as well - same error about "contains script errors preventing it from being loaded"

[2018-11-10 14:52] nicojdejong commented on #18284
Dina, I am looking at the scores coming back from QnAMaker. I have two KBs with each 20 questions. One is in English with an English Azure Search analyzer (in the QnAMaker service) . The other is Dutch, with a Dutch analyzer. I am hitting the V4 API of QnAMaker with a question of which I create some variations in terms of spelling mistakes, word order or synonymns.. I am trying to understand the d

[2018-11-10 14:55] CHDAFNI-MSFT opened #18601 "Clarify IP Flow's check of the Subnet NSG"
IP Flow checks both the NSG on the NIC and also the subnet. The subnet isn't mentioned in the article. Ask is for this to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617a5302-20b2-5637-4869-17a16a1e0f97
* Version Independent ID: 5a4b0832-8b16-61c9-0b5d-ed0228fe5711
* Content: [Introduction to IP flow verif

[2018-11-10 14:56] RubenMaldonado commented on #5638
I have the same issue. I cannot send a dataset in the body using a post action. Any advise?

[2018-11-10 15:12] rasmus-s commented on #18223
@Karishma-Tiwari-MSFT : I just followed the guide in the doc - change the ARM template.
I get a suggestion from the SF team, that you cannot change the SKU in a Service Fabric cluster VMSS - you have to make a migration you self. And pointing me to this Service Fabric doc: https://docs.microsoft.com/en-us/azure/service-fabric/virtual-machine-scale-set-scale-node-type-scale-out#upgrade-the-size-and

[2018-11-10 15:37] mcurko opened #18603 "Not working"
Vulnerability Assessment is "Loading..." and that never ends...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d911331837
* Content: [SQL Vulnerability Assessment - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-dat

[2018-11-10 15:53] robert4os opened #18604 "Choose different docker base image"
Hi,

I would like to create the AML container image using a different base image (i.e. resin/raspberrypi3-debian:stretch ).

How can I do this? Thanks and best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628be4d1-3877-290f-0d43-6bc9cb231182
* Version Independent ID: 36fe6ab9-0b05-12d1-5ff7-61a603d48cc0
* Con

[2018-11-10 15:53] nhwilly commented on #18146
Well, I'm super confused.  I believe that resource tokens give me exactly the approach I need, but how do I use stored procedure with them without granting full permission to the entire partition?  Users will be able to grant permissions to their own partitions to other users, but I was hoping to use stored procedures.  Some guidance would be great, here.

[2018-11-10 16:43] 7100SW opened #18605 "How to implement B2CGraphClient as a Web Api Service"
Can we have some instructions or description of the steps required to run it as a service instead of a desktop client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API in Azure Active Director

[2018-11-10 16:53] MicahMcKittrick-MSFT commented on #18597
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 16:53] ams0 opened #18606 "Only basic public IP supported"
I was doing tests with [public IP address prefix](https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-address-prefix) and I bump into the limitation that since AKS only supports Basic Loadbalancers so far, Standard Public IP (the only one assignable to Public IP prefixes, and thus only usable by Standard LB's) cannot be used in this way. It would be better to mention it in the article

[2018-11-10 16:55] MicahMcKittrick-MSFT commented on #18598
@cmeyertons that's valid feedback. We generally work on these quick starts to allow customers to try the product with as few steps/ commands as possible. That being said, I understand if you are working with it you might not want a weird random release name :)

@iainfoulds maybe we should add a note on how to set a specific release name if desired?

[2018-11-10 17:30] ichkoj opened #18607 "ActiveSync clients conditions not supported at all"
I don't believe ActiveSync is supported at all, every time when I turn that on it kills our ActiveSync clients and they are getting msg: Your email access has been blocked - you're receiving this msg because your IT department has blocked your email access. This could be due to temporary conditions like your network location.
This is an issue for all users including MFA with App Password and witho

[2018-11-10 17:46] vrat87 opened #18608 "Expressroute QOS"
How to specify 50mb bandwidth for a particular vnet  on 150 mb ER circut. Service provider is ready to setup a new vrf for 50 mb on the existing circut, do I need to create a new express route circut and associate that with the concerned vnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d4

[2018-11-10 19:38] krishnasankarv opened #18612 "Update on Delete an image section"
Rather than using
Remove-AzureRmImage `
    -ImageName myOldImage `
    -ResourceGroupName myResourceGroup

it will be better and complete code sample if we use "myImage" rather than "myOldImage ".

Remove-AzureRmImage `
    -ImageName myImage `
    -ResourceGroupName myResourceGroup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-11-10 20:02] Alberto-Vega-MSFT commented on #18595
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 20:13] Alberto-Vega-MSFT commented on #18596
@CHDAFNI-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 20:13] alexeyshishkin01 commented on #18499
ok, no probs, feel free to add Linux docs based on my link (I had to do that, because there's no official docs about it), it's for CentOS
I also have commands for Ubuntu/Debian - pls. let me know if you need them
these three OSes covers the lion share of Linux OSes - i.e. most of your customers will be satisfied

[2018-11-10 20:16] Alberto-Vega-MSFT commented on #18600
@arcotek-ltd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 20:16] Alberto-Vega-MSFT commented on #18601
@CHDAFNI-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-10 20:30] jwashbur79 opened #18613 "Application Initialization fails during auto-scale if the App Service Plan has VNET Integration enabled"
Hi, we have worked with a Microsoft agent on more than 1 occasion to collect FREB logs during an auto-scale test. The purpose of this test was to determine if Application Initialization is working when auto-scale is triggered for an App Service Plan that has VNET Integration configured.

"During our troubleshooting today with the help of FREB logs, we found that application initialization is worki

[2018-11-10 21:47] dombat opened #18614 "Unsuitable for novices"
These tutorials are unsuitable for anyone who is new/learning Azure Functions. As two of the other comments mention there are issues around the token handling. It mentions what to do near the top, but doesnt really say what to do with it when using other graph methods. It's also not crystal clear that the C# examples are script for the portal and wont work in Visual Studio. yes, yes eveyone should

[2018-11-10 22:59] cloudmelon commented on #17872
hi @cephalin  I really appreciate your detailed explanation.  Is that possible to update them on Azure documentation or even a short description on Azure portal ? ( blade SSL binding ). It would be very helpful for Azure users. Many thanks !

[2018-11-10 22:59] kushagraagarwal19 commented on #18447
Even I am facing the same issue

[2018-11-10 23:33] mchudinov commented on #15490
What I in practice do is just generate these .pfx certificates as self-signed, then upload them to Azure B2C and publish public keys through metadata. Then every of my identity providers (ADFS) - i have multiple IdPs - has an access to its own public key of pfx certificate.
I rotate these certificates regularly and ADFSs are being updates through metadata updates.
How to generate a self signed pfx

[2018-11-11 00:29] Key-international opened #18636 "Key International academy"
{"errorCode":"UseLimitIsExceededForOffer","localizedErrorDetails":null,"operationResults":null,"timeStampUtc":"2018-11-11T00:27:15.2575538Z","clientRequestId":"2ee94407-ea27-4971-b50a-5d4063db9033","internalTransactionId":"00189d6c-9b5d-4456-bfc3-53bcadd12ef6","upn":"Nazari@Keyinternational.academy","tenantId":"4702451b-f047-4695-ac9b-004431e32f1d","userObjectId":null}

---
#### Document Details

[2018-11-11 00:31] Alberto-Vega-MSFT commented on #18612
@krishnasankarv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-11 00:36] Juliako commented on #16153
#please-close

[2018-11-11 00:37] Alberto-Vega-MSFT commented on #18613
@jwashbur79 I'm sorry to hear that you are facing this issue. Have you talked to support? I believe support is the best route for you, this forum is for documentation issues.
Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can

[2018-11-11 00:44] Alberto-Vega-MSFT commented on #18614
@dombat Thanks for the valuable feedback! We are definitely interested in making functions easier to adopt. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-11 00:49] jwashbur79 commented on #18613
Hi Alberto, yes we raised this with Microsoft Premiere and the case has dragged out for 3 weeks without a resolution. All we have been told is that the product group is working on a solution. We will continue pressing them for a fix.

At the bottom of this article the new VNET Integration capabilities are mentioned. This sounds very promising, but there is no mention of when this will be available

[2018-11-11 00:50] SaurabhSharma-MSFT commented on #18421
@yadcam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-11 00:50] #18421 closed

[2018-11-11 00:50] SaurabhSharma-MSFT commented on #18424
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-11 00:50] #18424 closed

[2018-11-11 00:51] rdiazel commented on #15964
Hi guys I am updating this document explaining how to resolve this issue

[2018-11-11 01:55] JetstreamRoySprowl opened #18639 "Broken link"
The https://azure.microsoft.com/documentation/learning-paths/iot-suite/ link in the TOC entry "Resources/IoT solution accelerators learning path" is broken. (404)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1a4b78-38a4-9d18-8c82-e006da884427
* Version Independent ID: e1e461eb-e538-297c-b30b-20710b5b9fbe
* Content:

[2018-11-11 02:45] bgulrich opened #18640 "Does specifying multiple partition keys limit partition scope of query in Cosmos?"
I can't find a definitive answer on this.  If i run a Cosmos SQL query like:

would the query be limited to just these 3 partitions or would all partitions be queried?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e1b90f-3c65-6a39-d0a6-df2002532ad8
* Version Independent ID: 43ecbde3-ad05-8e48-a646-168723afa72a
* Con

[2018-11-11 03:50] hning86 commented on #18604
Sorry but this is not supported right now.

[2018-11-11 06:13] vrat87 opened #18641 "S2S priority over Expressroute"
How would I prioritize s2s over and expressroute for a specific vnet in Azure to onprem . All ingress and Egress from specific vnet to onprem should flow over s2s and not ER

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Independent ID: ef976d45-36eb-8a32-4b29-ae03412165d2

[2018-11-11 08:37] mcurko opened #18643 "Code bug"
DateTime.Parse must be aware of how to treat date formatting, otherwise you might end with a 20th month in the year, which leads to exceptions!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e151541-1e67-fd26-1bd4-dd114d5ef17d
* Version Independent ID: 6b15dfe1-3a9c-20e9-7d9b-022521781ef1
* Content: [Always Encrypted:

[2018-11-11 11:15] nzaetta commented on #18583
+1. Adding AADDS user to virtual machine administrator login role does not actually grant access to windows vm.

[2018-11-11 11:33] nicojdejong commented on #18284
Ah another hint from the readme of the QnAMaker CLI tool - `qnamaker list alterations`  Download all word alterations (synonyms) that have been automatically mined or added by the user.  This suggest that incrementally (?) synonyms are being 'mined'. It is good to undertstand if this only happens in en-* and when this mining happens or can be triggered...

[2018-11-11 11:59] Mike-Ubezzi-MSFT commented on #18603
@mcurko If you are experiencing technical difficulties, please open an incident ticket with Azure support to have this issue investigated. If you do not have an Azure support plan, please send your subscription GUID to AzCommunity at Microsoft dotcom and we can have this issue investigated. This should have been presented as an option in our initial communication, as there does not seem to be any

[2018-11-11 14:50] Placid7 opened #18649 "Needs to be updated"
It's pretty ridiculous these are all the terms that exist in a so called dictionary. Especially with all the proprietary terminology. There should already be a procedure in place for teams owning a project to update this site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version

[2018-11-11 15:45] phil-lgr opened #18651 "Example when using Azure DNS/Nameservers"
Add example when we already use Azure nameservers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to your Azure CDN endpoint](https://docs.microsoft.com/en-us/azure/cdn/cdn-map-c

[2018-11-11 15:53] cmeyertons opened #18652 "Is there a way to do this via ARM template / Terraform (i.e. non-Portal)?"
I followed the instructions here and it worked great, I can get to my site and I see that the alias is dynamically based on my IP through the portal

I would prefer to not set this up through the portal as it is not repeatable for other environments and thus not a DevOps best practice.  Plus, I have the rest of my infrastructure in Terraform.

I can go to the resource in Resource Explorer and it l

[2018-11-11 16:14] phil-lgr opened #18653 "How to map a naked domain?"
The instruction explain how to add a CNAME for www.contoso.com but what about mapping my-app.com to my-app.azurewebsite.net?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to yo

[2018-11-11 16:18] Alberto-Vega-MSFT commented on #18643
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-11 16:39] Alberto-Vega-MSFT commented on #18639
@JetstreamRoySprowl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
![resourceslinks](https://user-images.githubusercontent.com/10910841/48315571-c0f0f880-e58c-11e8-8eac-b827e5375b77.PNG)

[2018-11-11 17:29] #18377 closed

[2018-11-11 18:57] SteveBurkettNZ opened #18669 "Need a similar version of this page for cloud-based Azure MFA"
As we're really trying to stop deploying (Azure MFA) on-premises these days, could really do with similar guides for deploying common SSL VPN appliances with cloud-based Azure MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 801e24a9-1f47-871e-549c-e870f5de7069
* Version Independent ID: 11504b10-9773-28ac-fb30-fcd6d

[2018-11-11 19:52] mcurko opened #18673 "Network Performance Monitor Configuration"
How do I end the configuration if I don't have an ExpressRoute? I don't see a "continue" button here...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3ca71d-bc0f-f021-7eda-ed522edfd51e
* Version Independent ID: 88d3f691-7358-e1ef-9763-c191d4f42e1a
* Content: [Network Performance Monitor solution in Azure](https://do

[2018-11-11 19:54] mcurko commented on #18673
![untitled](https://user-images.githubusercontent.com/15943715/48317527-ecf39480-e5f3-11e8-84d0-e0d5203f4894.png)

[2018-11-11 19:54] #18673 closed

[2018-11-11 21:12] dciborow opened #18674 "Very hard to use sample code in this format"
I am trying to run through this example. I am very experienced in Java/Scala, but I am finding this hard to run through. For example, wrap the code samples into methods and classes (complete java files). And then have things as tests that can be run. Please feel free to reach out I'd be happy to help with this. (dciborow@microsoft.com)

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-11-11 21:24] rbrayb opened #18675 "Doesn't read well"
"user social account not exists"

Suggest " user social account doesn't exist"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe70bb3e-884f-a8db-eee7-ae98cf653b93
* Version Independent ID: d8647921-91df-9c37-8cd9-d44ce938dd9d
* Content: [About technical profiles in Azure Active Directory B2C custom policies](https://do

[2018-11-11 21:26] rbrayb opened #18676 "sp"
"Claims are retuned back to the claims bag."

returned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe70bb3e-884f-a8db-eee7-ae98cf653b93
* Version Independent ID: d8647921-91df-9c37-8cd9-d44ce938dd9d
* Content: [About technical profiles in Azure Active Directory B2C custom policies](https://docs.microsoft.com/en-us/a

[2018-11-11 21:41] suneetnangia commented on #8461
You do need to install the volume driver SF application to make this work which is also mentioned in the documentation but less prominent.
https://docs.microsoft.com/mt-mt/azure/service-fabric/service-fabric-containers-volume-logging-drivers?view=azurermps-6.10.0#deploy-the-service-fabric-azure-files-application

[2018-11-11 22:45] lucasmike commented on #16500
@Mike-Ubezzi-MSFT could you please confirm if CosmosDB now supports Gremlin package 3+
I had the same question before and was told that it was only possible to use version 2.7.0. I understand one of the issues was (or still is? ) the lack of bytecode support by CosmosDB which is required for Gremlin package 3+ [see issue here](https://github.com/Azure/azure-cosmosdb-dotnet/issues/439)

[2018-11-11 23:28] Zanyangwang opened #18677 "Can I use Azure Data Box to moving my data from cloud to on-premise file server."
Sorry, I want to make sure can I use Data Box to moving my data from Azure Storage to my on-premise file server? If I can, what should I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8a37e76-47cc-c641-65ce-fcffe25871b0
* Version Independent ID: 2408bf1f-cd25-3832-20bb-29fea2aa88ec
* Content: [Microsoft Azure Data

[2018-11-12 00:12] gunnarcms opened #18679 "Azure to Azure Deployment Recommendations"
Could you please add another column for Azure to Azure recommendations in this table https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-sql#deployment-recommendations ? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a26ef2-86a1-330b-68d8-0461b6dd1d71
* Version Independent ID: 93ab3e7a-a982-266e

[2018-11-12 00:17] Alberto-Vega-MSFT commented on #18651
@phil-lgr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 00:37] Alberto-Vega-MSFT commented on #18669
@SteveBurkettNZ Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 00:39] dcbrown16 commented on #15377
@RichardScheel thanks for following up and best wishes!
I imagine Cloud Services doesn't have a lot of resources being put into documentation at this point so I understand.
For me, the remaining action item is just to define the items under "Impact to drive data during Cloud Service upgrades" to the best of our knowledge. We have a good start in this thread but the "In-Place Upgrade" definition is

[2018-11-12 00:40] dcbrown16 commented on #18538
Looks good, thanks!

[2018-11-12 00:40] #18538 closed

[2018-11-12 00:45] dcbrown16 commented on #7028
@cephalin sure, in this case I think there's an argument that nothing is better than something. No objections here to removing the PowerShell info.

[2018-11-12 00:47] dcbrown16 commented on #15576
Ah, I see, "is migrated" meant that it was moved along with everything on it. Sounds good on my end.

[2018-11-12 00:50] Alberto-Vega-MSFT commented on #18674
@dciborow  I assigned the issue to the content owner for him to evaluate . A couple questions for you. Is this something you have seen implemented in documentation somewhere else? What do you think about the code samples where they useful? Thanks for your valuable feedback :)

[2018-11-12 00:53] Alberto-Vega-MSFT commented on #18675
@rbrayb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 01:05] Alberto-Vega-MSFT commented on #18676
@rbrayb Good catch!  I just created a Pull Request with the fix. By the way if you are interested you can always create a PR with the fix for your issues. This process is described here:  https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents
Anyway thanks for helping us make the docs better :)

[2018-11-12 01:15] Alberto-Vega-MSFT commented on #18677
@Zanyangwang Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 01:18] #16153 closed

[2018-11-12 01:19] #16872 closed

[2018-11-12 01:19] #17100 closed

[2018-11-12 01:20] #17171 closed

[2018-11-12 01:20] #17440 closed

[2018-11-12 01:23] baharw opened #18680 "When will you have support for Ubuntu 16.05 LTS on ARM32?"
I am trying to run IoTEdge on Samsung Artik 530s, which runs Ubuntu 16.05 LTS. It is an ARM32 processor. I get the following error:

[root@artik ~]# systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset:
enabled)
   Active: inactive (dead) (Result: exit-code) since Mon 2018-11-12 01:14:39 UTC
; 17s ago

[2018-11-12 01:29] Karishma-Tiwari-MSFT commented on #18345
@rizwaans Any update? Did that help?

[2018-11-12 01:34] Karishma-Tiwari-MSFT commented on #18535
@olivierfox Any update? Did that help?

[2018-11-12 01:38] olivierfox commented on #18535
Thanks a lot Karishma, it did! Have a nice day!

[2018-11-12 01:41] rizwaans commented on #18345
Hi Karishma,
The provided link didn't help me much.

I am looking for a cmdlet that invokes the existing custom extension script. or Just do I just need to use the "Set- AzureRmVMCustomScriptExtension" cmdlet to execute the already deployed/provisioned script.

Let me take a sample scenario.
1. I want to run a script on my virtual machine that captures the information of the services running and s

[2018-11-12 01:48] darkgray commented on #18581
Here is the link:
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/enabling-oauth-confidential-clients-with-ad-fs

[2018-11-12 01:52] dcbrown16 commented on #18382
We have a ProDirect case with exactly the same request. Also, can you set the general settings and debug settings through PowerShell?
Here are a number of links dealing with the Application Settings part.
https://stackoverflow.com/questions/32543778/adding-an-app-settings-to-existing-azure-web-application-using-azure-power-shell
https://codehollow.com/2016/06/automatically-set-azure-app-settings/

[2018-11-12 01:54] dcbrown16 commented on #18382
Looks like the General Settings are mostly parameters of Set-AzureRmWebApp. For example:
 [[-NetFrameworkVersion] <String>]
 [[-PhpVersion] <String>]

[2018-11-12 02:18] adashen commented on #18575
@initmahesh , modules are by default join the edge networks "azure-iot-edge-dev", so it seems conflict with the NetworkMode specified. Can you give more detail, why the module network mode should be host?

[2018-11-12 02:19] chao1017 opened #18682 "can't open project by visual studio 2015"
I downloaded my bot source code from azure portal, but I can't open this project by using visual studio 2015.
Is that possible to be fixed? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfbfbd93-0056-6d8b-8ee1-f7d0c6d0a739
* Version Independent ID: b52c7b72-d512-d172-6569-b289e05302e6
* Content: [LUIS Bot w

[2018-11-12 03:15] formulahendry commented on #17477
Hi @wesmc7777 , actually I am looking for an example to integrate C into the [Code Generation](https://github.com/Microsoft/vscode-azure-iot-toolkit/wiki/Generate-Code) of [Azure IoT Toolikt](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) for VS Code which already support most popular languages. I am not quite familiar with CMake. But VS Code is working on mac

[2018-11-12 03:41] mehara110 commented on #17918
@davidmu1 We just tested your scenario. We have ADFS published with a wildcard certificate like *.testdomain1.com
If we use the pfx from this certificate on B2C side federation works just fine.
But if we replace the certificate on B2C side with something like abc.testdomain2.com , ADFS will not accept the SAML request anymore complaining about the certificate and generte a Windows error event log

[2018-11-12 03:53] KeiroKamioka0000 opened #18683 "SQL Server 2016 SP2 Pricing?"
Please consider of adding price regarding the SQL Server 2016 SP2 please.

https://azuremarketplace.microsoft.com/ja-jp/marketplace/apps/Microsoft.SQLServer2016SP2EnterpriseWindowsServer2016?tab=Overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42ee49c2-4513-b07b-f921-2aa55ddf29a1
* Version Independent ID: 3f281c

[2018-11-12 04:30] Alberto-Vega-MSFT commented on #18375
@zivkan  Thanks!  :)  I have assigned the issue to the content author to evaluate and update as appropriate.
@MikeDodaro
The link that needs to be updated  is in this section: https://docs.microsoft.com/en-au/azure/cognitive-services/bing-spell-check/sdk-quickstart-spell-check#application-dependencies

![ownerunlistedpackage](https://user-images.githubusercontent.com/10910841/48326808-36da7b80-e5f

[2018-11-12 04:33] vetrivelmp commented on #18554
@Marilee Turscak - MSFT
Basically we use singin policy to login with local accounts(either username or email). Additionally we have to enable MFA. So first user will feed his user name password and then he will get OTP to mobile. but in our case we have to use only MFA with out using local account user name or email. we have to skip login using local account and use only MFA configurations to logi

[2018-11-12 05:11] saifuddin123 commented on #18195
I am seeing the same issue from yesterday. The module was working fine before. Is the "OptimizeForPerformance" option the solution?

IoT Hub Client for Python
35
Error: Time:Mon Nov 12 04:55:32 2018 File:/usr/sdk/src/c/c-utility/adapters/socketio_berkeley.c Func:wait_for_connection Line:383 Failure: connect failure 111.
Error: Time:Mon Nov 12 04:55:32 2018 File:/usr/sdk/src/c/c-utility/adapters/so

[2018-11-12 05:29] #14161 closed

[2018-11-12 05:47] angoyal-msft commented on #18322
@alexsab1 could you please let us know if there is any other information required for this issue.
If not please confirm if we can close this issue.

[2018-11-12 05:47] angoyal-msft commented on #18309
@williamdlupo could you please let us know if there is any other information required for this issue.
If not please confirm if we can close this issue.

[2018-11-12 06:17] pvrk commented on #15458
Apologies for the delay, the relevant engineer was OOF for some days and we have investigate other high priority issues. Will get back to you soon.

[2018-11-12 06:19] DeepaThiruna opened #18684 "WebSocket handshake: Unexpected response code: 403 Error."
In "Open the sample directly" - when i try to access html preview of Sample.html (https://htmlpreview.github.io/?https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript/blob/preview/samples/browser/Sample.html) following error is displayed

VM84:1629 WebSocket connection to 'wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1?format=simple&language=en-US&

[2018-11-12 06:19] jakaruna-MSFT commented on #18507
@sconrod-tester I hope you would have used port forwarding to access Concourse.  Once its publicly exposed, You don't need port forwarding. I think previous port forwarding setup is creating a problem here.
Can you try `CTRL + F5` to hard refresh Concourse in browser with your public IP or hostname.
Also kill the port forwarding if its still running.
Try this and let me know the results.

[2018-11-12 06:53] KetanChawda-MSFT commented on #15972
@kazshi  Just following up... Has this answered your query?

[2018-11-12 07:36] gcobr opened #18685 "Example of logs in blob storage is wrong"
Under "The data stored in a blob would look similar to the following example", the CSV example doesn't seem to be accurate. According to my experience today, 12 Nov 2018, the logs stored in Azure Blob Storage are not comma separated files. I verified it using a Dot Net Core 2.1 application with the "Microsoft.Extensions.Logging.AzureAppServices" package, version "2.1.1".

---
#### Document Details

[2018-11-12 07:41] gcobr opened #18686 "Enabling "Detailed error messages" pollutes the Log stream with HTML content"
This document fails to mention that when one enables the option "Detailed error messages", the HTML content of the error pages will be printed to the Log stream as well. This will pollute the Log stream and make it difficult to follow if the user is looking for other messages printed by the application logic.
To make it even worse, these error pages will be generated even when the developer intent

[2018-11-12 07:54] gcobr opened #18688 "Will the detailed error pages and failed request traces be stored in Azure Storage as well?"
This document does not make it clear if the options "Detailed error messages" and "Failed request tracing", when enabled, will store the error files (per request) in the same Azure Storage container as the Web Server log files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Versio

[2018-11-12 07:55] kkho commented on #18225
I will send you an email soon. But I will try again today and send you a message :)

[2018-11-12 08:56] hochas commented on #18398
I am also interested in how automatic device provisioning would work in this scenario when leaf devices only use symmetric keys to the gateway. How do I set it up in the leaf device, the edge and the DPS respectively?

[2018-11-12 09:06] inkey opened #18691 "Extra nodes not appearing under cluster."
I have followed the guide step 3 and added the additional scaleset with new size Standard_D2_v3. Used the same  "nodeTypeRef"  as the primary cluster.

However i cant see the additional new nodes under the cluster?

When i add the new scale set to the primary node should i see 10 nodes under the cluster?

[2018-11-12 09:09] mcurko commented on #18096
Yes, I updated AzureRM recently. You can see it by the fact that the code is recognizing obsolete parameters.

[2018-11-12 09:16] Minewiskan commented on #18003
@yehoshuadimarsky Why would you want to do that? It sounds like you want to make a typical client/user connection. Service principles are for unattended service operations. This is not something we support.

[2018-11-12 09:21] oudakyo0 opened #18692 "Henry’s"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-12 09:24] Dmitry-Me opened #18693 "List of OS images includes version 6.0 which looks not documented"
October 2018 list of patches here https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cloud-services/cloud-services-guestos-msrc-releases.md includes version 6.0 which looks not documented anywhere and also not available for selection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8cc2c5-eb5f-edaf-f155-

[2018-11-12 09:36] inkey opened #18694 "Extra nodes not appearing under cluster."
I have followed the guide step 3 and added the additional scaleset with new size Standard_D2_v3. Used the same "nodeTypeRef" as the primary cluster.

However i cant see the additional new nodes under the cluster?

When i add the new scale set to the primary node should i see 10 nodes under the cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-11-12 09:43] JozoSlejko opened #18695 "Webhook variable"
In the dependsOn section of the first resource there is "variables('MyAlert').Webhook.Name"
There isn't a "Webhook" variable defined in the template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926fc77a-c2ae-4fce-899d-d8feb2729edb
* Version Independent ID: dc8fce2e-038e-5ff3-c872-bf736e155ae3
* Content: [Saved searc

[2018-11-12 09:53] jiggstrom commented on #18368
We got the same problem, Azure Web App - PHP 7.0. PHP_INI_SCAN_DIR works. Now we have to find out how to deploy this with azure commandline/github deployment, which we use for automated and "manual" deployment... Hints would be helpful :-)

[2018-11-12 09:57] davebanthorpe commented on #18377
new link: https://github.com/Azure/iotedge/issues/532

[2018-11-12 09:57] #18682 closed

[2018-11-12 09:57] anfelbeghoura opened #18696 "Connect a downstream device to an Azure IoT Edge gateway"
For a C-Application I used the Azure-IOT-Hub-C with ESP32, I fixed the libraries .. but I facing this issue with the ''xQueueGenericReceive'' (ESP-IDF).
So is there a special SDK to connect ESP32 with the IoT Edge?
Thank you.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 76665258-377d-33f0-2dea-061

[2018-11-12 10:32] Hariharnath-Paduchuru opened #18697 "Changes in Using NuGet packages"
project.json is not restoring packages if you make an Azure function in version 2.x
It should be as follows:

&lt;Project Sdk="Microsoft.NET.Sdk"&gt;
&lt;PropertyGroup&gt;
    &lt;TargetFramework&gt;netstandard2.0&lt;/TargetFramework&gt;
  &lt;/PropertyGroup&gt;

  &lt;ItemGroup&gt;
    &lt;PackageReference Include="System.ServiceModel.Primitives" Version="4.4.0"/&gt;
&lt;PackageReference Include=

[2018-11-12 10:33] mrdfuse commented on #17762
@polarapfel If it is any help, it is documented here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mount-azure-file-storage-on-linux-using-smb

[2018-11-12 10:44] femsulu commented on #18695
@JozoSlejko Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-12 10:56] JozoSlejko opened #18698 "Microsoft.OperationsManagement/solutions resource"
Can you give information on why is there a Microsoft.OperationsManagement/solutions resource created in the sample code?
The Sample topic says nothing on solutions resource:
Following is a sample of a solution that includes the following resources:
Saved search
Schedule
Action group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-11-12 11:19] JozoSlejko commented on #18698
Ok I get it, this is a part of the larger monitoring solution.

[2018-11-12 11:19] #18698 closed

[2018-11-12 11:35] mtwelve commented on #18242
@MarileeTurscak-MSFT please re-open this comment. I understand that to use a Window Server 2012 R2 Domain Controller within our environment the Schema must be upgraded but I am not asking that.

I am asking specifically if enabling and using Azure Hybrid Join for devices requires the AD DS Schema to be 2012 R2?

It is not documented as a requirement.

It is presented in the wizard as a warning des

[2018-11-12 11:39] sergaz-msft commented on #18696
Great question @anfelbeghoura . Thanks for asking. Because this falls out of the context of this doc, and is more related with the C SDK repo, I kindly direct you to ask the same question [here](https://github.com/Azure/azure-iot-sdk-c/issues). You can also take a look at  [azure-iot-device-ecosystem/get_started/rtos-esp-device-family-c.md](https://github.com/Azure/azure-iot-device-ecosystem/blob/

[2018-11-12 11:39] sergaz-msft commented on #18696
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 11:39] #18696 closed

[2018-11-12 11:42] sergaz-msft commented on #18680
Hello @baharw, thank you for your feedback! Ubuntu 16.05 LTS is currently [not supported.](https://docs.microsoft.com/en-us/azure/iot-edge/support) Please open a [new feature request here](https://feedback.azure.com/forums/907045-azure-iot-edge). We will follow-up with you there. Thank you!

[2018-11-12 11:43] sergaz-msft commented on #18680
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 11:43] #18680 closed

[2018-11-12 11:52] bajorgensen opened #18699 "Mispell VMware"
VMware is spelled VMWare in the left hand title overview.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 722cdf93-af91-26ac-697a-f090134a71a2
* Version Independent ID: 1b4085ee-0c27-b620-3b4a-8ec4a2707b32
* Content: [VMware Monitoring solution in Log Analytics](https://docs.microsoft.com/nb-no/azure/log-analytics/lo

[2018-11-12 11:56] femsulu commented on #18217
@SwayTex Appologies for the delay here. Would like to take this offline and get you the appropriate contact. Please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread and we will gladly continue the conversation.

[2018-11-12 11:56] #18217 closed

[2018-11-12 12:04] su-jie commented on #18036
Hi @mamccrea did you build the UDFTest project?

[2018-11-12 12:10] sergaz-msft commented on #17696
@mohibakhan looks like the SSL connection can't be established ---> "System.IO.IOException: Authentication failed because the remote party has closed the transport stream"

How did you confirm that tempSensor alone was working appropriately? Best way is to use [Visual Studio Code Azure IoT Toolkit ](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) and confirm th

[2018-11-12 12:14] mariojacobo opened #18700 "Standard SKU for LB"
How do we change the Load Balancer SKU type from Basic to Standard when creating the ingress with "helm install stable/nginx-ingress --namespace kube-system" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [C

[2018-11-12 12:18] sergaz-msft commented on #18195
@saifuddin123 the initial suggestion to @baharw was to check if you are under a proxy. Since your error messages are the same can you check that?

Thanks!

[2018-11-12 12:21] sergaz-msft commented on #18226
@wesmc7777 can you take a look? Thanks!

[2018-11-12 12:31] NissanAloni commented on #18226
Please ignore this ticket. Turns out that the key that I was using was wrong. With correct key everything works fine.

[2018-11-12 12:31] sergaz-msft commented on #18468
I have assigned the issue to the content author to evaluate and update as appropriate.
Thank you!

[2018-11-12 12:31] #18226 closed

[2018-11-12 12:31] zhouwangzw commented on #18684
403 error is authentication error. Have you replaced `Ocp-Apim-Subscription-Key='SUBSCRIPTION-KEY'` with your own key.

And please note, this is sample for Bing Speech, which is being deprecated. We recommend you to use the [new JavaScript SDK](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-js-browser) with new Speech Service. You need to apply a new key for Sp

[2018-11-12 12:35] sergaz-msft commented on #18501
Hi @Siewen123 . Can you let us know on which step of this doc does the error shows up? Also did you use CLI or Powershell to deploy the resources?
Thanks!

[2018-11-12 12:35] sergaz-msft commented on #18546
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 12:35] #18546 closed

[2018-11-12 12:42] kwaazaar commented on #16534
I understood the term 'interval' as 'time between attempts'. It's better to use the term 'time-to-live' to match this documentation and the actual api.

[2018-11-12 12:45] Siewen123 commented on #18501
Hi Sergaz,
The problem occurs when I try to run the simulation code provided in the zip file.
I used the PowerShell to deploy the code.

I tried to run the exact same setup on my laptop, and for some reason that did work.
So this implies that the script is working and the code runs fine.
It seems that my PC is not allowed to connect to the Cloud, and i can't figure out why.
Reinstalled Visual Stud

[2018-11-12 12:48] sergaz-msft commented on #18501
Are your PC and laptop on the same network?

[2018-11-12 12:51] jakaruna-MSFT commented on #18411
@msalvadores I am creating a similar setup and trying to reproduce the issue. Once I have good information, I will share.

[2018-11-12 13:00] MichelZ commented on #11706
Any updates?

[2018-11-12 13:00] Siewen123 commented on #18501
The PC and laptop are on the same network.
Laptop is on Wifi.
My PC does not have a network card, but is connected via cable.
Just hooked up the laptop to the cable, and the script still ran.
Something must be off with the device?

[2018-11-12 13:10] wolfma61 commented on #18286
a change request for the doc has been prepared and submitted. This should be clarified in the docs in the next few days.

[2018-11-12 13:13] bechynsky opened #18703 "SQL Server Licence"
What licence is used for SQL Server at Edge SQL Module? How can I use my licence?

[2018-11-12 13:55] msalvadores commented on #18411
Thanks @jakaruna-MSFT

[2018-11-12 13:59] hgrandy94 opened #18705 "Dataset Parameters"
For steps 9 and 14, I had to first create a dataset parameter before I could use the file path indicated in this tutorial.

The dataset parameter was set to the value of the pipeline parameter, and the file path was then set to this dataset parameter. I am not sure if this was the proper approach, but this did result in a successful pipeline run.

Ex) Dataset Parameter -&gt; Name: sourceBlobContai

[2018-11-12 14:02] omnoms opened #18706 "Time to update"
Now the Set-.. cmd requires AadClientId and AadClientSecret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad37c582-22e6-6c1a-522a-0683aa3cef2c
* Version Independent ID: 0ffd6528-6f5c-107a-2a04-b19d0c807d15
* Content: [Quickstart - Encrypt a Windows IaaS VM with Azure PowerShell](https://docs.microsoft.com/en-us/azure

[2018-11-12 14:13] #18068 closed

[2018-11-12 14:28] rangeranger commented on #18481
@Alberto-Vega-MSFT Updated the issue description with the [link](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-stored-procedure).

[2018-11-12 14:30] YutongTie-MSFT commented on #18682
@chao1017
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-12 14:44] sergaz-msft commented on #18501
Is this sample working on your PC?
https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-dotnet

Thanks!

[2018-11-12 14:44] MGoedtel commented on #18015
@ine8181 @Alberto-Vega-MSFT - I reached out to the PMs on the team to review and respond to this question last Thursday.  Will go back to them and remind them to assist with this question.

[2018-11-12 14:57] fekberg opened #18707 "Outdated information"
This document includes outdated information and will not work with Google Play Services 4.x

For example the package com.microsoft.azure:azure-notifications-handler has not been updated for years.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5dea14a7-065e

[2018-11-12 14:58] powershellshock opened #18708 "Global Admin role clarity"
Under the Global Admin role description, it states that "Only global administrators can assign other administrator roles."  I believe this should be revised since the subsequent release of the Privileged Role Administrator role.  Perhaps, change it to "Only Global Administrators and Privileged Role Administrators can assign other administrator roles."

---
#### Document Details

⚠ *Do not edit thi

[2018-11-12 15:00] mestew commented on #18706
@omnoms
Hi Marko,
ADE was updated a few months ago and AadClientId and AadClientSecret are no longer required. The AzureRM PowerShell module you are running probably needs to be updated to a minimum version 6.0.0. This is listed in the prereqs: https://docs.microsoft.com/azure/security/quick-encrypt-vm-powershell#prerequisites. When you are running a lower version of AzureRM, Set-AzureRmVmDiskEncr

[2018-11-12 15:13] omnoms commented on #18706
I ran Update-Module AzureRM prior to running the script mentioned in the quickstart.

From Get-InstalledModule
[code]

[2018-11-12 15:25] anthonykirby opened #18709 "updating to use a more recent version of proton would be helpful"
This 'C' example builds against an old version of proton (0.7), but that version of proton won't compile against modern installations of openssl.  An update so it'll build with a more modern version of proton would be helpful, especially as this is meant to be a tutorial / basic example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-11-12 15:52] baharw commented on #18680
Just did.

On Mon, Nov 12, 2018 at 3:42 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-11-12 16:02] melezhik commented on #18511
Can you please file a support request @ https://aka.ms/azsupt?

Hi @Alberto-Vega-MSFT , I have no access to create support requests on my subscription plan.

I wonder if Microsoft has  a GH project  for ARM ( I could not find any ) as it does for it's other projects ... I would create an issue here then ...

Not sure what you mean. Can you please post the issue to the relevant place on my behave o

[2018-11-12 16:17] denniszielke opened #18710 "Basic networking support for service endpoints"
According to our tests it is possible to use service endpoints with a cluster that is using basic networking. Is this scenario not supported - even though it works? If not can we update the docs to say that service endpoints work with basic networking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7

[2018-11-12 16:22] Siewen123 commented on #18501
Yes, this sample is working.
Still curious as to why the other one does not

[2018-11-12 16:29] SethBaumiller commented on #17100
Hi team,
The article is still not updated fyi

https://docs.microsoft.com/en-us/azure/cost-management/cost-mgt-best-practices

[cid:image001.png@01D47A7A.91D919B0]
Seth Baumiller, MCP | Microsoft Licensing Executive SLG | www.shi.com<http://www.shi.com/> | Seth_Baumiller@SHI.com<mailto:Seth_Baumiller@SHI.com> | Mobile:(732) 427-2134
[https://myshi.com/marketing/companystandards/PublishingImages/20

[2018-11-12 16:29] richardslaiii opened #18711 "Can't update federation with the Azure AD powershell module."
update-msolfederateddomain, connect-msolservice and convert-msoldomaintofederated are not available in the AzureAD powershell module.

On the line that states:
"On the AD FS server, open Azure AD PowerShell and perform the following steps:"
Can you add language to include the Powershell module needed is the MSOnline module?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-11-12 16:36] bgulrich commented on #18640
@Alberto-Vega-MSFT  I was looking at documentation on query performance here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-metrics

[2018-11-12 16:42] carlosfbteixeira commented on #17249
Still waiting on an update on this. @YutongTie-MSFT do you have any update on this issue?

[2018-11-12 16:45] hpsin commented on #11440
Just saw this, agreed.  I'll edit up the Postman collection and docs with the v2 review.

[2018-11-12 16:54] JamesLee-MSFT commented on #18691
@inkey Thank you for your feedback.  Could you provide the URL of the documentation that you are following?

Thanks.

James

[2018-11-12 16:54] jwooley opened #18712 "Add instructions on doing this with Scheduled WebJob in addition to queued"
These instructions apply if you are using a queue trigger, but not for scheduled webjobs. Please include instructions on doing this with a scheduled WebJob, particularly around hooking up the ILogger in cases where you don't have a ProcessQueueMessage entry point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a

[2018-11-12 16:55] wasabii opened #18713 "Patch Orchestration App does nothing"
I've tried every combination of settings and stuff I can think of, but the Patch Orchestration app simply does no works. The REST api never returns any items. It never applies any updates. It's not in an error state.

I also cannot figure out how to obtain logs from it. It's an on-premise cluster. The documentation speaks about some ETW IDs.... but how do you even look at these from an on-premise

[2018-11-12 16:57] Adam-Smith-MSFT commented on #18679
@gunnarcms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 16:58] romel56 commented on #8924
Is the broken link fixed yet?

[2018-11-12 17:01] Mike-Ubezzi-MSFT commented on #18387
@CalumJEadie @robinhalabicki This is currently unsupported. Please see: https://github.com/dotnet/corefx/issues/22324

We will now proceed to close this thread. If there are further questions regarding this matter, please comment  on [#22324](https://github.com/dotnet/corefx/issues/22324) and we will gladly continue the discussion on that thread. Thank you!

[2018-11-12 17:01] #18387 closed

[2018-11-12 17:02] Karishma-Tiwari-MSFT commented on #18691
@inkey Since this issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/18694
We will close this issue and will work with you on https://github.com/MicrosoftDocs/azure-docs/issues/18694
Thanks.

[2018-11-12 17:02] #18691 closed

[2018-11-12 17:06] Karishma-Tiwari-MSFT commented on #18710
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:07] Karishma-Tiwari-MSFT commented on #18683
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:11] Mike-Ubezzi-MSFT commented on #18392
@rajeshsetlem We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-12 17:11] #18392 closed

[2018-11-12 17:11] Mike-Ubezzi-MSFT commented on #18393
@rajeshsetlem We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-12 17:11] #18393 closed

[2018-11-12 17:12] Mike-Ubezzi-MSFT commented on #18444
@plcos We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-12 17:12] #18444 closed

[2018-11-12 17:12] anandta commented on #18590
Thank you Karishma. Specially concerned about JsonADDomain extension

[2018-11-12 17:13] SychevIgor commented on #12554
Still the same problem. Ubuntu 18.10
dotnet --version
2.1.403

Unhandled Exception: System.InvalidOperationException: The terminfo database is invalid.
   at System.TermInfo.Database..ctor(String term, Byte[] data)
   at System.TermInfo.Database.ReadDatabase(String term, String directoryPath)
   at System.TermInfo.Database.ReadDatabase(String term)
   at System.TermInfo.Database.ReadActiveDatabase

[2018-11-12 17:15] anandta commented on #18590
Thank you Karishma. Specially concerned about JsonADDomain extension

[2018-11-12 17:18] MicahMcKittrick-MSFT commented on #18694
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:20] MicahMcKittrick-MSFT commented on #18700
Thanks for the question! We are investigating and will update you shortly.

[2018-11-12 17:20] MicahMcKittrick-MSFT commented on #18693
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:20] Mike-Ubezzi-MSFT commented on #18595
@mcurko Do you have GeoReplication set-up for the server being referenced with this cmdlet or are you attempting to use this cmdlet against Azure SQL Data Warehouse?

[Get-AzureRmSqlDatabaseGeoBackup
](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/get-azurermsqldatabasegeobackup?view=azurermps-6.12.0)

The **Get-AzureRMSqlDatabaseGeoBackup** cmdlet gets a specified geo-redundant b

[2018-11-12 17:21] Karishma-Tiwari-MSFT commented on #18535
@olivierfox Thanks for the update. Glad to know it helped.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-12 17:21] #18535 closed

[2018-11-12 17:30] StevenHibble opened #18714 "Move plv8 to Language extensions section"
Currently, plv8 is listed under "Miscellaneous extensions". It should be categorized with the other listed language extensions (currently just plpgsql).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2543f-f47a-e9dc-1f80-1ac5ad7a71ad
* Version Independent ID: cc5f4337-01f7-4774-6c26-fda65fadbdbf
* Content: [Use Post

[2018-11-12 17:34] ermacia91 opened #18715 "More information on the not supported scenarios for the connector"
As it is currently stated under Known Issues:

"The "Workday to Azure AD" connector is not currently supported on Azure AD tenants where AAD Connect is enabled."

I would like to know more about this behavior, its roots and waht workarounds can we use for our customers. I am currently working with a customer that intends on making use of AADP SaaS integration for Workday, and we may require to set

[2018-11-12 17:36] CeciAc opened #18716 "部署模块找不到"
@yilo2417 commented on [Thu Nov 08 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/146)

部署模块部分
第四步 在“添加模块”步骤的“部署模块”部分，单击“添加”，然后选择“IoT Edge 模块”。
找不到 部署模块部分，建议加一些截图。或者将云平台里的相应英文都翻译成中文，如果云平台里是因为，建议文档里也在中文后加上英文，以便定位和确认。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4

[2018-11-12 17:38] CeciAc commented on #18716
Hi team,
I checked with the LM to understand better this issue, please find his comment below:

The source in question is "In the Deployment Modules section of the Add Modules step, click Add then select IoT Edge Module."

According the contributor, he/she couldn't find the "部署模块" (部署模块) section in the "Add Modules" step.

The suggestion is that we should add some screenshots to help locate the se

[2018-11-12 17:41] jason-j-MSFT commented on #18699
@bajorgensen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:42] JamesLee-MSFT commented on #18703
@bechynsky Thank you for your feedback. Could you provide the URL of the documentation that you are following?

-James

[2018-11-12 17:43] jason-j-MSFT commented on #18705
@hgrandy94 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:43] JamesLee-MSFT commented on #18713
@wasabii Thank you for your feedback. Could you provide the URL of the documentation that you are following?

-James

[2018-11-12 17:45] jason-j-MSFT commented on #18709
@anthonykirby Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-12 17:50] Karishma-Tiwari-MSFT commented on #18590
@zr-msft It looks like the extensions are not retained after recreating VM with availability set.
@anandta has a CSS case open and he wants to confirm if this is a doc-bug or product issue so that he can take the next steps.

[2018-11-12 17:52] DCtheGeek commented on #15726
@kieranheck While I don't see the problem with the policy, since it isn't a docs issue, I'd advise opening a support case to get it looked at by the proper folks.  Thanks!

[2018-11-12 17:55] rbrayb opened #18718 "Extra word"
You can also include claims that aren't returned by the identity provider as long as the you set the DefaultValue attribute.

Remove "the".

You can also include claims that aren't returned by the identity provider as long as you set the DefaultValue attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f5ba3c2-98

[2018-11-12 17:55] Karishma-Tiwari-MSFT commented on #18442
@andrae Any update? Did that help?

[2018-11-12 17:57] SychevIgor commented on #12554
@seguler do we have any chances that this issue will be fixed in v9 or focus already on v10 (go based) ?
To be fair, it's also interesting, why Microsoft rewriting azcopy every 6-12 months and why go was chosen? Migration to .net core was reasonable approach (at least from first look)

[2018-11-12 17:59] SychevIgor commented on #12554
@seguler should we open an issue https://github.com/Azure/azure-storage-azcopy or we can find v9 specific repo? I can't find repo for v9 unfortunately

[2018-11-12 18:00] tksh164 opened #18719 "Incorrect left side menu"
The left side menu is incorrect on the following URL:
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits

This page described limits, quotas. Why Traffic Manager's menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4

[2018-11-12 18:02] tksh164 commented on #18719
Screenshot:
![image](https://user-images.githubusercontent.com/1618784/48366231-886a2f80-e6f0-11e8-92f1-e7ca7ca9600f.png)

[2018-11-12 18:04] arvindshmicrosoft opened #18720 "There is no Settings blade"
This doc refers to a “Settings” blade for the ADF v2 resource, which does not really show up today. instead, the Properties blade is directly visible and usable for the purposes of getting the MSI details. The above screenshots in this doc need to be adjusted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8c

[2018-11-12 18:05] Karishma-Tiwari-MSFT commented on #18683
@KeiroKamioka0000 I think [this](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-pricing-guidance) is the doc you are referring to, in terms of updating with the pricing for SQL Server 2016 SP2
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rothja Can y

[2018-11-12 18:07] MarileeTurscak-MSFT commented on #18708
@powershellshock
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-12 18:11] MarileeTurscak-MSFT commented on #18711
@richardslaiii
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-12 18:12] mtwelve commented on #18242
There is now a thread here - [https://social.msdn.microsoft.com/Forums/en-US/c465ecda-6287-49c0-98a8-27dd6be7c9a7/does-hybrid-join-require-a-certain-ad-ds-schema-version?forum=WindowsAzureAD](https://social.msdn.microsoft.com/Forums/en-US/c465ecda-6287-49c0-98a8-27dd6be7c9a7/does-hybrid-join-require-a-certain-ad-ds-schema-version?forum=WindowsAzureAD)

I'd appreciate anything you can do to get any

[2018-11-12 18:12] Karishma-Tiwari-MSFT commented on #18693
@raiye Can you please share your insights on this customer's question. Thanks.

[2018-11-12 18:13] mike-urnun-msft commented on #18697
Hi @Hariharnath-Paduchuru Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-12 18:13] craigshoemaker commented on #18614
Thanks for your comments, @dombat. I have recently taken over all the binding docs and I agree with you that we need some significant changes. I have created and internal work item to drive an overhaul of not just this article, but all bindings-related content. It may take a bit to have this re-vamped content published, but please know that this is 100% on my radar.

Thanks again!

#please-close

[2018-11-12 18:17] MikeDodaro commented on #18375
Thanks.  Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/57748 .  It should publish this afternoon.

[2018-11-12 18:18] williamdlupo commented on #18309
Thank you for the follow up. I have opened this issue as an Azure Function to Cosmos DB binding bug. This may be closed.

[2018-11-12 18:19] sivaranjansahu opened #18721 "Open Azure Cloud Shell ?"
Where is it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create a Node.js web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#feedback)
* Content Source

[2018-11-12 18:20] MGoedtel commented on #18699
@bajorgensen @jason-j-MSFT - I'll bug this and get it corrected later today.  Thanks for bringing this to our attention!  #please-close

[2018-11-12 18:28] robertdj opened #18722 "Tagging images"
I like tagging practices as described in [this article](https://blogs.msdn.microsoft.com/stevelasker/2018/03/01/docker-tagging-best-practices-for-tagging-and-versioning-docker-images). Is that possible to set up with these automatic builds?

Where are variables like `.Run.ID` documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-11-12 18:29] barborico opened #18723 "Confusing Language"
In the [DNS background section](https://docs.microsoft.com/en-us/azure/app-service/web-sites-traffic-manager-custom-domain-name#cname-or-alias-record), it says: "Once traffic arrives at Traffic Manager, it then routes the traffic to your website, using the load balancing method it is configured for. This is completely **transparent** to visitors to your website. They will only see the custom domai

[2018-11-12 18:30] Key-international opened #18724 "Key International academy"
https://www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6addd727-64bb-f71d-acf2-850220ba8973
* Version Independent ID: 74342c05-c714-0cfc-8dd6-d29611cacaef
* Content: [Identity synchronization and duplicate attribute resiliency](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/

[2018-11-12 18:31] veyalla commented on #18468
@simardst After the one-time sync with IoT Hub, the Edge runtime can be operate offline indefinitely.
See this [blog post](https://aka.ms/iot-edge-offline) for more details.

[2018-11-12 18:32] Key-international opened #18725 "Key International academy"
https://www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add29a81-b72c-09c4-5d51-ba7b6fa99df9
* Version Independent ID: 87df83ce-de7c-6948-931f-3b91b0b2ff87
* Content: [Using Azure AD Connect Health with sync](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-healt

[2018-11-12 18:34] MarileeTurscak-MSFT commented on #18711
@richardslaiii

The Azure AD module is the MSOnline module but I can see how it might be helpful to specify. I made a pull request #57758 for this.

@billmath I'll leave the PR open for your review.

[2018-11-12 18:34] #18711 closed

[2018-11-12 18:34] #15144 closed

[2018-11-12 18:35] MohitGargMSFT commented on #18537
@elaan We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-12 18:35] #18537 closed

[2018-11-12 18:36] MohitGargMSFT commented on #18540
@pedrr We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-12 18:36] #18540 closed

[2018-11-12 18:36] MohitGargMSFT commented on #18550
@AnisTss We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-12 18:36] #18550 closed

[2018-11-12 18:38] mike-urnun-msft commented on #18614
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-12 18:38] #18614 closed

[2018-11-12 18:38] mcurko opened #18726 "Note"
SQL server PS module needs to be imported to have access to Invoke-SqlCmd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a93bc08-f5ce-c475-5fc8-7c515f28a0ee
* Version Independent ID: 1f33df85-76cb-50ca-a57a-47d3db552def
* Content: [Create an Azure SQL Database Elastic Job agent using PowerShell](https://docs.microsoft

[2018-11-12 18:40] veyalla commented on #18467
@simardst The answers to both your questions are "yes". This [blog post](https://aka.ms/iot-edge-offline) has more details.

Specifically for the second question, there is currently a bug in the Preview that is preventing this that we're debugging. I see you opened on issue for this. We hope to fix it soon.

Thanks!

[2018-11-12 18:46] TravisCragg-MSFT commented on #18601
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 18:48] #18699 closed

[2018-11-12 18:48] TravisCragg-MSFT commented on #18608
There is [QoS for ExpressRoutes](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-qos), but it will not be able to limit the bandwidth of an ExpressRoute Connection.

[2018-11-12 18:48] ayyagari opened #18727 "Fix the text in "Next steps""
... to "To learn how to receive events from an event hub using Java, see Receive events from event hub - Java." instead of "To learn how to receive events from an event hub using .NET Framework, see Receive events from event hub - Java."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e044

[2018-11-12 18:50] MohitGargMSFT commented on #18581
@darkgray As this is issue is related to ADFS 2016  on Window Server, I am assigning the issue to the content author to investigate and update as appropriate.

[2018-11-12 18:51] ayyagari opened #18728 "executorService in "Send events" code snippet"
executorService variable passed to creation of EventHubClient was not declared & initialized previously.
That should be something like
ExecutorService executorService = Executors.newCachedThreadPool()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-

[2018-11-12 18:56] omnoms commented on #18706
Yes, I had not done this prior to this day, so it wasn't the pre-req script. I ended up rebooting the computer for a different thing and when then returning to the task, the cmdlet no longer prompted me for the aadclientid or secret. So I guess the update-module that was done prior to the script didn't change whatever was available in memory so it kept running the old version of the module in that

[2018-11-12 18:56] #18706 closed

[2018-11-12 19:01] rachel-msft commented on #18714
Thanks for your feedback @StevenHibble. You should see an update by tomorrow morning.

[2018-11-12 19:02] miaojiang commented on #18456
@vetrivelmp  have you connected your API Management instance with an AAD tenant? i.e., the "Authorize developer accounts by using Azure AD" section in the article.

[2018-11-12 19:03] v-piwijs commented on #18693
This pull request has been merged and is ready to publish at 3pm.

Remove fix for and reference to 6.0 family #57761

[2018-11-12 19:03] Mike-Ubezzi-MSFT commented on #18714
@StevenHibble Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-11-12 19:03] Mike-Ubezzi-MSFT commented on #18714
Additional information: PLV8 is a trusted Javascript language extension for PostgreSQL. It can be used for stored procedures, triggers, etc. https://plv8.github.io/

[2018-11-12 19:03] eross-msft commented on #18568
@justadude41123  Thank you for your feedback. You'll find the documentation specifically for Hybrid scenarios, here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/index
If you don't find your answers there, the writer of that content should be able to help you out. Thanks again!

[2018-11-12 19:04] eross-msft commented on #18568
@MarileeTurscak-MSFT  Please close this issue.

[2018-11-12 19:07] Grace-MacJones-MSFT commented on #18707
Hi @fekberg, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-12 19:08] Grace-MacJones-MSFT commented on #18712
Hi @jwooley, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-12 19:11] MohitGargMSFT commented on #18592
@barborico Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-12 19:12] Grace-MacJones-MSFT commented on #18686
Hi @gcobr, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-12 19:13] Grace-MacJones-MSFT commented on #18685
Hi @gcobr, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 19:16] #16978 closed

[2018-11-12 19:16] barbkess commented on #17896
@xNiklasJern : THanks for sending this.  I have a fix for it that should get published later today.

#please-close

[2018-11-12 19:17] barbkess commented on #17680
@DBANFD : Thanks for sending this.  I have a fix for this that should get published later today.

#please-close

[2018-11-12 19:29] Grace-MacJones-MSFT commented on #18723
Hi @barborico, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-12 19:30] BryanTrach-MSFT commented on #18692
@oudakyo0 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 19:30] #18692 closed

[2018-11-12 19:30] ine8181 commented on #18015
Thanks for the update!

[2018-11-12 19:34] Grace-MacJones-MSFT commented on #18721
Hi @sivaranjansahu  here is a screenshot of the three methods @msangapu referred to
![cloud shell](https://user-images.githubusercontent.com/42247081/48370658-caeb2800-e66e-11e8-871e-6cab363a888e.PNG)

[2018-11-12 19:36] Grace-MacJones-MSFT commented on #18688
Hi @gcobr, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 19:36] TravisCragg-MSFT commented on #18641
@vrat87 you can find info about [ER & S2S connections Here](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager). To use a S2S VPN Connection over an ExpressRoute, you can use User Defined Routes or Route Tables. If you are using this for encryption purposes, you can find more information [Here](https://docs.microsoft.com/en-us/azure/expressroute/site-to

[2018-11-12 19:37] MohitGargMSFT commented on #18600
@arcotek-ltd Please note that if the user account is Global Administrator then that account will be able to Add and Remove roles as described in the document.

To check on your specific scenario, please open a new MSDN forum post with screenshots and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure

[2018-11-12 19:41] TravisCragg-MSFT commented on #18652
@cmeyertons you can find [a CLI example Here](https://docs.microsoft.com/en-us/azure/dns/scripts/traffic-manager-cli-create-dns-zone-record). Keep in mind that when creating A records for Azure services, you need to make sure that the public IPs you are adding are set to Static. If you are creating A records for dynamic public IPs, they can change and make your DNS record no longer work.

It is a

[2018-11-12 19:45] TravisCragg-MSFT commented on #18653
@phil-lgr you cannot use root domains for Azure CDNs. If you would like us to add this feature in the future, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking/suggestions/31221439-cdn-allow-root-domain-for-custom-domains).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2018-11-12 19:45] #18653 closed

[2018-11-12 19:47] MicahMcKittrick-MSFT commented on #17881
@gperrego I will close this out for now. If you need additional help just let me know and we can reopen and continue.

[2018-11-12 19:47] #17881 closed

[2018-11-12 19:51] MicahMcKittrick-MSFT commented on #18223
@rasmus-s in Azure you cannot perform a full SKU upgrade. So from 2012 to 2016 for example. If you want to do that you need to rebuild the VMs using the SKU you want. This applies to both VMSS and regular VMs. The main reason you cannot upgrade is doing that forum of upgrade requires user input during the upgrade process. However when user input is needed RDP is not turned on so there is no way fo

[2018-11-12 19:52] MicahMcKittrick-MSFT commented on #18412
@iainfoulds could you comment on this one?

[2018-11-12 19:54] MicahMcKittrick-MSFT commented on #18469
@dkkapur checking in on this

[2018-11-12 19:54] MohitGargMSFT commented on #18605
@7100SW Please note that current document does describe how to use Azure AD Graph API for Azure AD B2C. The method to register Azure AD Application and provide it permissions will remain same. You can use Azure AD Graph API directly by acquiring token and use that token to access Azure AD Graph API for doing operations of Azure AD B2C tenant. This document help with an reference point on how to do

[2018-11-12 19:54] MicahMcKittrick-MSFT commented on #18499
@alexeyshishkin01 got it. Thank you :)

CC @roygara for any doc updates to add to the backlog.

[2018-11-12 19:54] #18499 closed

[2018-11-12 19:55] MicahMcKittrick-MSFT commented on #18578
@gperrego I will close this for now. Let me know if you have any additional feedback and we can always reopen and continue.

CC @MikkelHegn to review as well if you want to update the doc to be more clear.

[2018-11-12 19:55] #18578 closed

[2018-11-12 19:57] MicahMcKittrick-MSFT commented on #18597
@cmeyertons thanks for the suggestion.

@iainfoulds can you take a look and see if this is something we want to note in the doc?

[2018-11-12 19:58] MicahMcKittrick-MSFT commented on #18606
@ams0  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-12 20:00] MicahMcKittrick-MSFT commented on #18694
Thanks @inkey for reaching out on this specific doc.

Related MSDN thread we were working on https://social.msdn.microsoft.com/Forums/en-US/e4ee9466-2713-4efa-9ba2-e1a3da8c1fa9/add-new-scaleset-size-to-cluster?forum=AzureServiceFabric

@rwike77 @masnider @aljo-microsoft @dkkapur could one of you help on this?

@inkey and myself were working on MSDN following this doc and it is a bit difficult to f

[2018-11-12 20:02] #17680 closed

[2018-11-12 20:02] iainfoulds commented on #18597
Sorry you ran into problems, @cmeyertons. Filing a bug to report the behavior within Helm is the correct course of action.

@MicahMcKittrick-MSFT As this is beyond the scope of the doc, #please-close

[2018-11-12 20:02] MicahMcKittrick-MSFT commented on #18710
@denniszielke I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-12 20:02] #18597 closed

[2018-11-12 20:04] MohitGargMSFT commented on #18607
@ichkoj To discuss the issue with your implementation, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Also as described in the document that while Exchange Active Sync supports

[2018-11-12 20:06] MohitGargMSFT commented on #18669
@SteveBurkettNZ Thanks for reaching out! I have assigned the issue to the content author to evaluate your request and update as appropriate.

[2018-11-12 20:09] MohitGargMSFT commented on #18718
@rbrayb Thanks for your feedback! We will investigate and update soon on it.

[2018-11-12 20:10] MohitGargMSFT commented on #18715
@ermacia91 Thanks for your feedback! We will investigate and update soon on it.

[2018-11-12 20:10] rolyon commented on #17715
Hi @pivotalguru
A couple of questions for you. Are you using the subscription resource function in your request?
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#subscription
If so, have you tried to specify your subscription id in your request instead to see if that succeeds?
Are you able to list role assignments at the subscription scope?
t

[2018-11-12 20:12] MicahMcKittrick-MSFT commented on #18700
@mariojacobo AKS currently supports the Basic SKU. If you wish to use the Standard SKU, you can use the upstream [acs-engine](https://github.com/Azure/acs-engine).

Reference: https://docs.microsoft.com/en-us/azure/aks/internal-lb

I will close this for now. If you have additional questions let me know and we can always reopen and continue.

[2018-11-12 20:12] #18700 closed

[2018-11-12 20:15] Mike-Ubezzi-MSFT commented on #18726
@mcurko Thank you very much for the detailed feedback. I have walked through this tutorial, specifically the [Prerequisites](https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-powershell#prerequisites), and I am seeing errors attempting to run: `Invoke-SqlCmd`:

Before running the prerequisites:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot (523).png?sv=2017-04-17

[2018-11-12 20:16] jasonkenneth commented on #18017
I'm looking forward to this as well.

[2018-11-12 20:16] Karishma-Tiwari-MSFT commented on #18693
Thanks @RichardScheel and @v-piwijs
@Dmitry-Me Thanks for bringing this to our attention. The changes will be live shortly.

[2018-11-12 20:17] LeeGrant8 opened #18732 "Getting an error Querying on a DateTime field"
Hi,

I am getting an error when I do a combined query and one of the fields is a DateTime. The error I am getting is:
Microsoft.Azure.Storage.StorageException: 'The remote server returned an error: (400) Bad Request.'

If I am using 'GenerateFilterConditionForDate'. If I replace this with another non-date field, I do not get an error. This used to work a few years ago when I was working on a proje

[2018-11-12 20:22] romankiss opened #18733 "advancedFilters for inputSchema = CustomEventSchema"
It looks like when the topic has an _inputSchema = CustomEventSchema_ we have one level limitation for a key of the _advancedFilters_. We can not use a _key = Data.Data.Key1_.

It should be noticed this limitation when the _CustomEventSchema_ is used for custom/domain topic with an advanced filtering features.

for example: (based on the https://docs.microsoft.com/en-us/azure/event-grid/input-mapp

[2018-11-12 20:40] rolyon commented on #17715
Hi @pivotalguru
I used the **Try It** feature on the Role Assignments - Create page and I was able to successfully create a role assignment at the subscription scope:
https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/create
You might be able to use this feature to help troubleshoot.
thanks

[2018-11-12 21:04] Mike-Ubezzi-MSFT commented on #18486
**Providing some additional information:**

In looking at this, appears that AD is not supported: [Linked service properties](https://docs.microsoft.com/en-us/azure/data-factory/connector-http#linked-service-properties)

The property `authenticationType` has the following authentication types:

Specifies the authentication type. Allowed values are Anonymous, **Basic**, **Digest**, **Windows**, and

[2018-11-12 21:05] fekberg commented on #18707
@Grace-MacJones-MSFT No worries, I was in a bit of a hurry when I reported the issue. Let me know if you need any more detail.

[2018-11-12 21:06] phil-lgr commented on #18653
Thanks!

On Mon, Nov 12, 2018 at 3:05 PM TravisCragg-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #18653<https://github.com/MicrosoftDocs/azure-docs/issues/18653>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/18653#event-1961211874>, or mute the thread<http

[2018-11-12 21:06] gcobr opened #18734 "Table storage is no longer an option"
This document fails to explain that Table Storage is no longer a configuration option. The reader will most likely be confused when looking for it in the Diagnostic Logs configuration page.
The document also fails to address the fact that Table Storage for logs is discouraged and considered an anti-pattern by Microsoft, as stated in this document: https://docs.microsoft.com/en-au/azure/cosmos-db/t

[2018-11-12 21:13] ecfan commented on #17162
@shae-hurst Hi Shae, any news on updating this article? Last comment on this issue is 2+ weeks old. Thanks!

[2018-11-12 21:13] bwren commented on #17812
I'm told by the engineering team that this is a security configuration issue on the customer side.  The error message describes how to collect additional error information.  This doesn't seem to be an issue with the script.

[2018-11-12 21:14] bwren commented on #17812
#please-close

[2018-11-12 21:32] bunkrur opened #18736 "Table chart that outlines Migration per service tier missing PremiumRS DTU tier"
Table chart that outlines Migration per service tier missing PremiumRS DTU tier. Table chart includes information regarding Premium service tier but not PremiumRS service tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b154f4ad-6372-ac17-3084-1ff016073568
* Version Independent ID: 8c4a54f3-8db5-7839-3008-724beecc3

[2018-11-12 21:35] sergaz-msft commented on #18716
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-12 21:35] pivotalguru commented on #17715
Yes, I've tried using the subscription resource function.  I tried "subscription().id" but that fails.

In my template file, I've gotten this to work:
"scope": "[resourceGroup().Id]"

But using "subscription().id" or "subscription().subscriptionId" fails.

Error message:
The request to create role assignment 'xx' is not valid. Role assignment scope 'xx' must match the scope specified on the URI '/

[2018-11-12 21:37] JamesLee-MSFT commented on #18483
@johnkwaters Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:37] #18483 closed

[2018-11-12 21:38] JamesLee-MSFT commented on #18480
@LisandroSu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:38] #18480 closed

[2018-11-12 21:38] JamesLee-MSFT commented on #18551
@Eduard-TC Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:38] #18551 closed

[2018-11-12 21:38] bwren commented on #18695
Looks like we kept that line from another example.  Removing it.

[2018-11-12 21:38] bwren commented on #18695
#please-close

[2018-11-12 21:43] mestew commented on #18706
Thanks for the tip @omnoms. Glad you got it working!

[2018-11-12 21:47] JamesLee-MSFT commented on #18544
@darshankumarys Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:47] #18544 closed

[2018-11-12 21:47] BryanTrach-MSFT commented on #18511
@melezhik Please email us at azcommunity@microsoft.com with your subscription ID and the URL of this GitHub issue so we can assist you further.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 21:47] #18511 closed

[2018-11-12 21:47] JamesLee-MSFT commented on #18574
@initmahesh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:47] #18574 closed

[2018-11-12 21:47] JamesLee-MSFT commented on #18574
@initmahesh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-12 21:53] bwren commented on #17707
https://docs.microsoft.com/azure/log-analytics/query-language/get-started-analytics-portal?toc=/azure/azure-monitor/toc.json#save-queries.

You can save either the entire query page, or a single query as a function. Functions are queries that can also be referenced by other queries. In order to save a query as a function, you must provide a function alias, which is the name used to call this query

[2018-11-12 21:56] Mike-Ubezzi-MSFT commented on #16500
@lucasmike This is correct, bytecode is still not supported at this time. It looks like you linked this issue to GitHub [#439](https://github.com/Azure/azure-cosmosdb-dotnet/issues/439).
Additionally, you can Up Vote + Comment here: [Support Gremlin Bytecode to enable the fluent API of Gremlin.NET](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33632779-support-gremlin-byteco

[2018-11-12 21:56] Alberto-Vega-MSFT commented on #18386
@spacewu We will now proceed to close this thread. If there are further questions regarding this matter, or need any help creating the support ticket please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 21:56] #18386 closed

[2018-11-12 21:57] CarlRabeler commented on #18736
@bunkrur PremiumRS is deprecated and has been for some time. Are you trying to migrate from PremiumRS?

[2018-11-12 21:57] Alberto-Vega-MSFT commented on #18604
@robert4os We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 21:57] #18604 closed

[2018-11-12 21:59] Alberto-Vega-MSFT commented on #18640
@bgulrich Thanks for providing the link

[2018-11-12 22:00] xenalite opened #18737 "Are Network Security Groups supported on the application gateway subnet?"
I think it should be clarified that this rule is not strictly speaking required.
When I denied 65503-65534 in my NSG, my app traffic could still be routed through the gateway, because the application still responded to health probes. The application and gateway are within the same VNET and VNET to VNET traffic was allowed in the NSG.

The only thing that did not work was Backend Health tab in the

[2018-11-12 22:05] Alberto-Vega-MSFT commented on #18613
@jwashbur79 Thanks for the additional information. I just assigned the issue to the content author.

[2018-11-12 22:06] #17812 closed

[2018-11-12 22:08] mattallenuk commented on #16500
@Mike-Ubezzi-MSFT @lucasmike - The latest release of the officially supported Gremlin Javascript (3.2.10) driver does support CosmoDB, it can submit script to CosmoDB and supports SASL authentication. While CosmoDB doesn't support bytecode yet, the official driver does allow script to be sent and so can be used to access CosmoDB...

[2018-11-12 22:14] BryanTrach-MSFT commented on #18698
@jozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-12 22:17] bwren commented on #17600
We have a list of screenshots that need to updated as part of the huge content restructuring to support the Azure Monitor consolidation.  These ones are in that list so they will be getting updated.  Thanks.

[2018-11-12 22:17] bwren commented on #17600
#please-close

[2018-11-12 22:28] melezhik commented on #18511
I have a whole bunch of subscription ids . Which one to use?   Why not just to fill a ticket _somewhere_ ?  I believe all the details are explained pretty clear. And I don't understand what the reason for knowing subscription id ? It is the issue which does not depend on any subscription ... It could be checked on ANY subscription ... it is ARM issue , that is it ...

[2018-11-12 22:30] MicahMcKittrick-MSFT commented on #18722
Thanks for the question! We are investigating and will update you shortly.

[2018-11-12 22:30] barbkess commented on #15922
@jetsten @dmgeurts @jayp00001 :  Documentation-wise, the docs are correct. The key point here is that the guidance is coherent because tenant restrictions only requires interception of traffic to AAD (not O365). Thanks for your discussion. I'm going to go ahead and close this issue.

#please-close

[2018-11-12 22:33] barbkess commented on #15255
@thommck : THanks for your input. This issue has been answered and it looks like a documentation update is not necessary.  So, I'm going to close the issue.

#please-close

[2018-11-12 22:38] shae-hurst commented on #17162
I fixed it and merged it a couple weeks ago.

[2018-11-12 22:39] shae-hurst commented on #17162
@ecfan  is there a task or something I need to close?

[2018-11-12 22:40] msmimart commented on #18401
@DeanGross Thanks for pointing this out. The process described here is for third-party integrated or gallery apps that use direct assignment (as opposed to Office 365 apps that are based on assigning licenses to users). We'll clarify the article.

[2018-11-12 22:41] rolyon commented on #17715
@pivotalguru
az group deployment create is for resource groups. I think you need to use az deployment create instead for a subscription.
https://docs.microsoft.com/en-us/cli/azure/deployment?view=azure-cli-latest#az-deployment-create
https://docs.microsoft.com/en-us/azure/azure-resource-manager/deploy-to-subscription

[2018-11-12 22:42] ecfan commented on #17162
@shae-hurst Thanks, we just need to close out the GitHub issue and close the loop for the customer when the issue is resolved. I'll ask CXP to close the GitHub issue now.

@PramodValavala-MSFT #please-close

[2018-11-12 22:44] nickbeagley opened #18740 "FAQ out of date, shared runtimes availble"
looks like runtimes can be shared between factories, no longer 1-1 mapping.
https://docs.microsoft.com/en-us/azure/data-factory/create-shared-self-hosted-integration-runtime-powershell
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-11-12 23:00] kimlisa opened #18741 "Corrections and Update Needed"
Typo under "Prerequisites" &gt; "An IDE — Gogland by Jetbrains"
------- Gogland should be GoLand

Under "Clone the sample application" &gt; "The mgo driver (pronounced as mango)..."
 ------- mgo will no longer be maintained and is outdated

https://www.compose.com/articles/mongodb-and-go-moving-on-from-mgo/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-11-12 23:01] PatrickFarley commented on #16475
I've looped in a PM to find out why that header is missing

[2018-11-12 23:05] SnehaGunda commented on #18309
@williamdlupo thank you we will close this issue, if you have anything specific to Cosmos DB, feel free to reopen this issue and contact us.

[2018-11-12 23:05] SnehaGunda commented on #18309
#please-close

[2018-11-12 23:05] Karishma-Tiwari-MSFT commented on #18345
@roiyz-msft Did you get a chance to take a look at this question? Thanks.

[2018-11-12 23:05] nickbeagley commented on #13817
There's still an issue as in the Considerations section, second point, the first sentence is correct but the second sentence in the second point says the following: "If you have two data factories that need to access on-premises data sources, you need to install the self-hosted integration runtime on two on-premises computers. In other words, a self-hosted integration runtime is tied to a specific

[2018-11-12 23:09] jluk commented on #9853
@jobairkhan docker access is limited to docker-machine in cloud shell since cloud shell itself is a docker container. You'll need to utilize docker-machine with a proxy machine or your local machine to issue cmds that require the docker host.

This is captured as a limitation here: https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting#cannot-run-the-docker-daemon

[2018-11-12 23:09] MicahMcKittrick-MSFT commented on #18722
@robertdj if you do a Control + F on this doc it looks like we show examples of how to tag items

![image](https://user-images.githubusercontent.com/32313503/48380502-d8170f80-e68c-11e8-84b5-c144b0debd20.png)

![image](https://user-images.githubusercontent.com/32313503/48380523-ef55fd00-e68c-11e8-96f2-277e029f4d61.png)

![image](https://user-images.githubusercontent.com/32313503/48380530-f7ae3800-

[2018-11-12 23:11] joesuffceren commented on #15255
@barbkess please do not close this issue marking @MarileeTurscak-MSFT response as the correct answer. The articles posted have nothing to do with the OP's problem. Maybe @thommck has moved on, but as someone who found this thread from a google search because of a similar problem, I wouldn't want someone else who found it the same way to be misled.

[2018-11-12 23:15] PatrickFarley commented on #5382
Thank you for your feedback, @BitBender1 . We believe most devs feels the same as you do, and we try to prioritize client SDK samples over REST API samples. However, REST samples are simpler to create and are usable in more languages, so we tend to have more of them. See our current set of client SDK quickstarts for Computer Vision - https://docs.microsoft.com/en-us/azure/cognitive-services/comput

[2018-11-12 23:15] MohitGargMSFT commented on #18715
@ermacia91 have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-12 23:16] v-micada opened #18742 "Please add a link to Windows VM Agent and Linux VM Agent articles to the section on "Enable extended metrics in the Azure portal""
From: https://docs.microsoft.com/en-us/azure/cost-management/azure-vm-extended-metrics#enable-extended-metrics-in-the-azure-portal

Linux VM Agent: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-linux
Windows VM Agent: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-11-12 23:17] PatrickFarley commented on #5382
#please-close

[2018-11-12 23:21] MohitGargMSFT commented on #18718
@rbrayb The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please open a new issue to let us know if there is something else that we can help you with.

[2018-11-12 23:31] mehara110 commented on #17918
@davidmu1 I can confirm now that having different certificates on B2C and ADFS is working as expected.
After changing certificate on B2C side, you need to wait a bit for the metadata on ADFS to get updated or update metadata manually on ADFS.
Thank you for your helps :)

[2018-11-12 23:34] v-piwijs commented on #18693
#please-close

[the page](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases) has now been updated with #57761

[2018-11-12 23:41] #18718 closed

[2018-11-12 23:47] KeiroKamioka0000 opened #18745 "90 days free of charge?"
Sorry If I checking wrong document.
According from the Log Analytics pricing document, first 31 days are retained at no charge, instead of the 90 days.
I believe there may be conflict or I may misunderstood the documents.

What are the actual dates will be retained no charge for the Logs in Log Analytics Workspace?

Azure Monitor pricing#Log Analytics
https://azure.microsoft.com/en-us/pricing/deta

[2018-11-13 00:00] badalk commented on #18288
@SteveLasker yes, in jenkinsfile i have this line to login as service principal

               ` sh "az login --service-principal -u \"<clientid>\" -p \"<pwd>\" --tenant \"<tenantid>\""`

But inside the script which I am calling to push my helm chart after packaging I was not logging in assuming it is in the same session, but it expects you to login again. I provided the same service principal wi

[2018-11-13 00:04] barbkess commented on #15255
@joesuffceren : OK, we can keep it open until we update the documentation.

[2018-11-13 00:05] JamesLee-MSFT commented on #18511
@melezhik For your issue, we are requesting you to contact azcommunity@microsoft.com with your subscriptionid so that we can have support help address your issue.  We are providing a one-time free support ticket to get you the proper help.

Thank you.

James

[2018-11-13 00:05] timmyreilly commented on #9812
Is it also different when testing locally in Azure Functions V2?
eg: `http://localhost:7071/runtime/webhooks/EventGridExtensionConfig?functionName=EventGridTrigger`

[2018-11-13 00:06] jefshe commented on #16573
I had this exact same issue.

Since this is the top result for me when I search for this error, it turns out i had a unicode hyphen in my script which the parser didn't like. It would be nice to have a proper error message for this case

[2018-11-13 00:10] KeiroKamioka0000 opened #18746 "Detail of required RBAC"
Hi, I understand user must have appropriate RBAC role in order to archive it.
I assume the required RBAC would be &lt;Microsoft.Storage/*&gt;.
docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftstorage

Please consider of what are the minimum required Actions needs to have.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-11-13 00:11] Grace-MacJones-MSFT commented on #18734
Hi @gcobr, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-13 00:14] codyborn commented on #18547
You’re correct that updating the disk size through the portal should not have any negative impact on the blockchain.  I recommend updating one VM at a time to ensure that at least one VM is always active.

[2018-11-13 00:25] curtand commented on #18576
Hi @MysticRyuujin
I will investigate and work to resolve.
@malopMSFT

[2018-11-13 00:26] #5382 closed

[2018-11-13 00:28] #17162 closed

[2018-11-13 00:33] chetansriv commented on #18417
@falccc I don't see any issue with the titles. Can you please add screenshot and explain more on what exactly you want to be changed.

[2018-11-13 00:36] #18693 closed

[2018-11-13 00:36] timmyreilly commented on #14132
Having a bear of time configuring the endpoint for local development... Was able to get it with the Ngrok endpoint. Is there a different URL to use when posting the EventGrid Schema locally?

I tried:
`http://localhost:7071/admin/extensions/EventGridExtensionConfig?functionName=EventGridTest
`
&
`http://localhost:7071/runtime/webhooks/EventGridExtensionConfig?functionName=EventGridTest`

[2018-11-13 00:37] #18695 closed

[2018-11-13 00:38] #17896 closed

[2018-11-13 00:40] PatrickFarley commented on #6892
Hi @omis76, I've opened the project with a fresh installation of Android Studio, and it built successfully for me. Can you provide any other details about your situation?

[2018-11-13 00:40] luleonpla commented on #15255
You should always pay attention to the cert expiry dates. The expected behavior is that single sign-on will break if the certificate is expired and Azure AD signs the SAML response with that certificate. We would need more information to know why this is not the case for @thommck.

[2018-11-13 00:40] #15922 closed

[2018-11-13 00:43] timmyreilly commented on #14132
I feel like this shouldn't be closed until the URL for V1 or V2 is verified and marked in the docs.

[2018-11-13 00:47] mabicca opened #18750 "Other operating systems"
Do we have any plans to make the threat modeling tool available for MacOS / Linux ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c188c4-9aee-f131-f9c4-2582fcc2db6e
* Version Independent ID: bf54e8b2-be4c-2d8b-1bfb-d16fc95da11e
* Content: [Microsoft Threat Modeling Tool - Azure](https://docs.microsoft.com/en-us/azur

[2018-11-13 01:08] DMoonesinghe commented on #18410
Micah!

I am happy to elaborate.  This is probably what your team may want to pass
on to the other stakeholders.

As I said before this is not a Tech writer issue.  It probably requires
decision making at the management level.  Please bear with me for being
long-winded.  I am trying to provide you with a sound argument to send this
up the food chain.

Just to give you the context first, I am an MC

[2018-11-13 01:13] femsulu commented on #18719
@tksh164 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-13 01:15] femsulu commented on #18742
@v-micada Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-13 01:19] femsulu commented on #18746
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-11-13 01:21] dcaddick opened #18751 "MFA Server - EOL?"
Can we get some confirmation on any expected EOL date for "MFA Server"
Specifically the downloaded component that is intended to be run as a VM on-premises

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042912e8-9a79-02b6-fc12-fd20ff0ee4d1
* Version Independent ID: d7d3fcec-4e05-d2c1-bf9d-c8f8f6ade8a2
* Content: [Azure

[2018-11-13 01:32] ctxldy opened #18752 "Send password as base64 encoded"
Hi there - I have a need to send the password as base64 encoded within the SAML response to my SP. This does not seem to be possible currently. Can you please advise if this will be added as a capability? I need this for an application that does not currently support SAML directly so I would like to leverage Citrix NetScaler as a proxy but I need to be able to decode the password on NetScaler.

Th

[2018-11-13 01:35] dextermiranda20 commented on #16500
Hi, thanks for the updated gremlin connection I already using it. But I have a question, executing this query "g.V('1e971ea0-63cc-4ca7-bb01-89cf840a8233').project('Project', 'Users').by('project_name').by(out('has role').out('has user').fold())" directly from azure gremlin will provide a result. But this query from node js
  script = client.translator.translate(
    client.g
      .V('1e971ea0-63c

[2018-11-13 01:37] dextermiranda20 commented on #16500
im using the " project step " from tinkerpop http://tinkerpop.apache.org/docs/current/reference/#project-step

[2018-11-13 01:53] Mike-Ubezzi-MSFT commented on #18146
Thank you for the great feedback. We are looking into this.

[2018-11-13 02:19] phillipgibson opened #18753 "$ServicePrincipalConnection.SubscriptionID"
I was just walking a customer through this and noticed there's no variable being set for $ServicePrincipalConnection starting with step 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf26281-619d-1997-1a7f-49ef9f0e261c
* Version Independent ID: c0f4d49e-a0a3-d8b7-c713-5800147a452b
* Content: [My first PowerShell Wo

[2018-11-13 02:24] SaurabhSharma-MSFT commented on #18510
@dcnoren My apologies, I have checked it again and I got this additional information box due to some other reason. With conditional policy PowerShell is not asking for any additional verification  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-13 02:24] sammym1982 commented on #18342
Thanks Tony. I will reach out to this alias.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Tony Xing <notifications@github.com>
Sent: Monday, November 12, 2018 6:14 PM
To: MicrosoftDocs/azure-docs
Cc: sammym; Mention
Subject: Re: [MicrosoftDocs/azure-docs] broken doc link (#18342)

@sammym1982<https://github.com/sammym1982> sorry about the experience. The proj

[2018-11-13 02:27] ebibibi opened #18754 ""Test the queue triggered function" section doesn't test queue."
"Test the queue triggered function" section is testing blog storage triggered function.
Maybe, copy and paste mistake or this article is not completed yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb5b10ac-dbb1-bfe5-2514-dd7d4f45fa2a
* Version Independent ID: e1f4a738-9600-7994-8768-c96713006204
* Content: [Creat

[2018-11-13 03:42] marknettle opened #18757 "My query to handle both rule types"
https://gist.github.com/marknettle/13fd0c49fe9eeb400572b279790f78bf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc1c543-6db1-23cd-0f7a-4506f53b7d90
* Version Independent ID: a7c1b69f-67dc-d94a-05d7-1d603ea82461
* Content: [Azure Firewall Log Analytics samples](https://docs.microsoft.com/en-us/azure/firewall/log-ana

[2018-11-13 03:45] jason-j-MSFT commented on #17972
@bwren I confirmed I don't see the picker as it exists in the screenshot, could you take a look?
https://docs.microsoft.com/en-us/azure/log-analytics/query-language/get-started-queries?toc=/azure/azure-monitor/toc.json#specify-a-time-range

[2018-11-13 04:13] CHEEKATLAPRADEEP-MSFT commented on #18269
@SnehaGunda Could you shed some lights on this issue, looks like similar to [#18216](https://github.com/MicrosoftDocs/azure-docs/issues/18216) GitHub issue.

[2018-11-13 04:31] SharePointOz opened #18760 "Minute metrics now available in portal"
The document needs to be updated to reflect that minute metrics can now be configured through the Azure portal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Independent ID: 36381f6b-f57b-95a2-67cd-80bffcee238c
* Content: [Enabling storage metrics in the Azure portal](htt

[2018-11-13 04:32] dcbrown16 opened #18761 "Endpoints across multiple instances"
Is there a restriction that prevents the same port from being used in multiple instances within a Cloud Service?
I have a customer who is seeing an error when attempting to set endpoints on the 2nd+ VM within a Cloud Service.
Translating from Japanese, but the error is roughly "Could not update VM (vmname) with endpoint (endpointname). Operation (number) failed. Port 65515 is already in use on one

[2018-11-13 04:40] SunnyDeng commented on #5286
cc @twooley
Hi Tessa, could you please help to point the right writer?
cc @DavidPrio

[2018-11-13 04:45] clement911 commented on #18033
Are there a list of known risks/limitations of the current preview?

[2018-11-13 04:51] vetrivelmp opened #18762 "Login With MFA by skipping local username login"
Basically we use singin policy to login with local accounts(either username or email). Additionally we have to enable MFA. So first user will feed his user name password and then he will get OTP to mobile. but in our case we have to use only MFA with out using local account user name or email. we have to skip login using local account and use only MFA configurations to login to B2C. Is this possib

[2018-11-13 05:01] nikhil405 commented on #14968
i have gave az extension add --name storage-preview
The Error was occured   (No matching extensions for 'storage-preview')

[2018-11-13 05:03] mrinalinihanagodu opened #18763 "Azure Functions Error in Replicating Instructions"
Hi Team,

I tried replicating the example for azure functions with Eclipse.
I was able to successfully build the project till the step of "Run as **package**".
Also I have installed the Azure azure-functions-core-tools in this path : "C:\Users\mhanagodu"
When I try executing "Run as **azure-functions:run**" I get the below error :
**Failed to execute goal com.microsoft.azure:azure-functions-maven-

[2018-11-13 05:08] csand-msft commented on #18345
Quick answer (haven't tried it yet) based on looking at the examples here: https://github.com/Azure/azure-linux-extensions/tree/master/CustomScript  I would try to set the timestamp in the -Settingstring parameter.  See section 2.2.2 for the PowerShell and section 3.4 on how to set the timestamp.

[2018-11-13 05:17] vetrivelmp commented on #18456
@miaojiang
After adding AD tenant in APIM Identities, we are able to see Add Azure AD Group Button.
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad

Thank you so much.

[2018-11-13 05:36] tombow989 opened #18764 "Can't connect to Oracle since Update"
Hi there,

since the October release, my Integration Runtime can't connect to my Oracle data source anymore! I get the following issue:
_Connection failed
[{"code":9603,"message":"ERROR [28000] [Microsoft][ODBC Oracle Wire Protocol driver][Oracle]ORA-01017: invalid username/password; logon denied\r\nERROR [28000] [Microsoft][ODBC Oracle Wire Protocol driver][Oracle]ORA-01017: invalid username/pass

[2018-11-13 05:52] leppie commented on #15926
Seems to be available for West Europe now too

[2018-11-13 05:59] wasabii commented on #14637
On premise.

[2018-11-13 06:00] wasabii commented on #18713
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application

[2018-11-13 06:06] MichelZ opened #18765 "PolicyBased link for PaloAlto invalid"
The link is invalid and forwards to the "main" community site, instead of the instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for cross-premises Azure connections](https://docs.m

[2018-11-13 06:08] robertdj commented on #18722
My impression is that the `.Run.ID` is a counterpart to DevOps' `BuildId`. Are there other build time variables available?

But I would also like a semantic versioning tag to complement the the unique tag -- at least for base images.

[2018-11-13 06:19] saifuddin123 opened #18767 "Access Device twin properties from IoT Edge module"
I am looking for an example to read Device twin properties from IoT edge module (python on ubuntu 16.0). i could find examples of reading module twin properties from IoT Edge, but not device twin. Does this example in the documentation (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-twin-getstarted), also applicable to IoT Edge?

Can you share an example?

[2018-11-13 06:45] nssidhu opened #18768 "Sample on how to set parameter value from different activity"
https://docs.microsoft.com/en-us/azure/data-factory/parameterize-linked-services

So i have a use case where my File Size to be ingested is very dynamic. it can range from 1M to 10GB.
This would help me substitute the username that i use to connect to ADW dynamically which could use higher resource class
SO the plan is to use GetMetada to check on the Size of File and than use IF Logic to update t

[2018-11-13 06:46] garyfuhr opened #18769 "Manual Configuration of Data Disk not working"
Manual Configuration of Data Disk is not working.  Get the following powershell error on the VM:
"Where-Object : A positional parameter cannot be found that accepts argument 'raw'. ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404c
* Version Independent ID: b5571acc-5870-cf3f-e9bf-

[2018-11-13 06:48] AshokPeddakotla-MSFT commented on #18486
@PrasadNandanavanam Please go through the information provided by Mike and I would also suggest you to create a feedback item in the Data Factory [UserVoice](https://feedback.azure.com/forums/270578-data-factory) forum and upvote for this feature.

[2018-11-13 06:48] #18486 closed

[2018-11-13 06:49] dcbrown16 commented on #18761
I'm wondering if this is potentially related to the info on Add-AzureEndpoint found from the link at the bottom of this page.
"You can specify a new endpoint that is not load balanced, which will be used only by this virtual machine, or you can specify a load-balanced endpoint, which other virtual machines running in the same cloud service can share to load-balance traffic."

The Portal screen to

[2018-11-13 07:07] zarchigl opened #18770 "Backup report for SQL in Azure VM"
When the backup report for Azure SQL Database in IaaS VM will be available in PowerBI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce290c2c-d620-ed11-4315-1cff0089a32d
* Version Independent ID: 9b6172c0-de0b-825c-88c8-b1e65b54a4f7
* Content: [Update the Azure Backup central reporting content pack](https://docs.micr

[2018-11-13 07:36] femsulu commented on #18753
@phillipgibson Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-13 07:37] waynemsft commented on #18188
@TravisCragg-MSFT if we can know the amount of traffic of each entry in flow log, we can understand the behavior/pattern of traffic. For example, from VM A to VM B, there's a traffic happened every 10 minutes with the same amount of traffic (or different amount of traffic). Those information might be helpful for troubleshooting and also important from the view of security.

[2018-11-13 07:57] BryanTrach-MSFT commented on #18720
@arvindshmicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 07:58] dcbrown16 commented on #17826
The screenshot appears to be updated now, although from a product standpoint I don't really understand why exporting to either storage or event hub is listed only as "Export to Event Hub".

[2018-11-13 07:59] BryanTrach-MSFT commented on #18727
@ayyagari Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 08:00] BryanTrach-MSFT commented on #18728
@ayyagari Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-13 08:05] SychevIgor opened #18771 "Add a section "Uninstall" Azcopy"
Add a section with "Uninstall" Azcopy. It will save a lot of time.
Today, to delete azcopy 7.*, I should download archive (for All other Linux distributions) again, open install.sh script, and delete azcopy from every location manually. It's not hard, but takes time.

/usr/lib$ sudo rm -rf azcopy
/usr/bin$ sudo rm -rf azcopy
/etc/bash_completion.d$ sudo rm -rf azcopy
/usr/share/bash-completion/com

[2018-11-13 08:19] SychevIgor opened #18772 "AZ CLI 2.0"
Current az cli suppot all mentioned command except of enable/disable http https://docs.microsoft.com/en-us/cli/azure/hdinsight?view=azure-cli-latest
Please, add either a separate article to cover it or update this.
Otherwise looks like Microsoft not paying attention to hdinsight in a latest cli

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub