[2022-05-17 11:56] #92608 closed

[2022-05-17 11:57] nkumars commented on #92641
@JamesTran-MSFT, sorry if I have confused you. My request here creating a user flow allowing users to login using their username or email address. From the screenshot below, **Phone/Email signup** is available but not **UserID/Email signup**
![image](https://user-images.githubusercontent.com/7982858/168805138-afd0712f-2609-4e00-bc98-fa787278bcdd.png)

This force us creating two user flows enabling

[2022-05-17 11:58] PriyankaRudramaina commented on #92242
@felixtsem5, I am testing this internally, I will update you shortly.

[2022-05-17 11:59] akhan-2020 commented on #92608
Thank you so much for looking into this for me, I will validate again and
get back if there are any issues.

adnan

On Tue, May 17, 2022 at 6:56 AM Priyanka_Rudramaina-MSFT <
***@***.***> wrote:

[2022-05-17 12:12] PriyankaRudramaina commented on #92970
Hello @gionapaolini,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-17 12:29] GitaraniSharma-MSFT commented on #92963
@KexyBiscuit , thank you for your query, we'll review this and get back to you shortly!

[2022-05-17 12:31] hsamysaab91 commented on #92930
Hi guys,

Sorry for being a bit rough. When I signed in, I got no errors from
console but the button was still showing "sign in" and I got no access
token nor id token given. I tried many different tutorials for the nodejs
and all went the same way. I tried the react one and it worked. The
redirect URL section is not cleared. I made it work now with a SPA app. Can
you please tell me the logic behi

[2022-05-17 12:39] hver712 commented on #64279
I am facing the same issue and both of the services are in same region

[2022-05-17 12:45] roalexan opened #92978 "typo: Review the Azure Databricks VACUMM documentation for more information."
typo:

Review the Azure Databricks [VACUMM](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/spark-sql/language-manual/delta-vacuum) documentation for more information.

VACUMM -> VACUUM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15b29f1c-3d99-ede1-d8b1-83c5425868b2
* Version Independent ID: ba895b69-

[2022-05-17 12:48] Maciejszuchta opened #92979 "How to choose AD directory during login process?"
Is it possible to change the directory that I want to use. If I use the provided sample and paste my app_id and secret. It constantly tries to log me in by using incorrect AD Directory resulting in error
`AADSTS700016: Application with identifier 'app_id ' was not found in the directory 'wrong_ad_directory_name'. This can happen if the application has not been installed by the administrator of the

[2022-05-17 12:49] j-mantu commented on #92930
Hi @hsamysaab91 This issue was raised against the tutorial at https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-react. If I understand correctly the issue is with the node tutorial right? Could you please share the link to the tutorial you tried to follow. Thanks.

[2022-05-17 12:52] Shalzayed opened #92981 "Key Vault Name restriction"
You need to add more info to this section
<html>
<body>

VaultNameNotValid | The vault name should be string of 3 to 24 characters and can contain only numbers (0-9), letters (a-z, A-Z), and hyphens (-)
-- | --

</body>
</html>

Update:-
Vault name must only contain alphanumeric characters and dashes and **cannot start with a number.**
A vault's name must be between 3-24 alphanumeric characters. *

[2022-05-17 12:56] larryclaman commented on #84796
@cebundy, I don't think this answered my question.  Yes, there are examples of the properties.template, but there's no *specification*.  Here's an example of what I mean:

At https://docs.microsoft.com/en-us/azure/container-apps/azure-resource-manager-api-spec?tabs=yaml#propertiestemplate, under **scale*8, it says "Configuration object that defines scale rules for the container app.".
Ok, great.

[2022-05-17 13:05] VitalyMCT opened #92982 "Clarification on firewall impacts"
Regarding

Can you please clarify this statement? Does it mean that if a firewall is configured then the SFTP feature effectively stops functioning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572ceed9-5b72-0d7c-d341-e26816993e29
* Version Independent ID: 0030a35b-b6cd-f5b9-7c2b-042a55b1e427
* Content: [Limitations

[2022-05-17 13:05] MonikaReddy-MSFT commented on #92968
@HannahHsiao5 - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-17 13:08] MonikaReddy-MSFT commented on #92975
@helloyesthisisdave  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-05-17 13:27] PriyankaRudramaina commented on #92970
@gionapaolini,

If you are using Ubuntu 16.04 version, POD stuck in creating/pending state because can't mount Azure File share with below logs

Warning  FailedMount  36s (x9 over 2m44s)  kubelet            MountVolume.MountDevice failed for volume "models-volume" : rpc error: code = Internal desc = volume(unique-volumeid) mount "//{RESOURCE_NAME}.file.core.windows.net/test" on "/var/lib/kubelet/p

[2022-05-17 13:39] alexsmithMSFT opened #92983 ""Commercial Marketplace portal" link in the first section doesn't work, because there is a trailing period"
The "Commercial Marketplace portal" link in the first section doesn't work, because there is a trailing period inside the markdown for the url, and so it redirects to bing.com.

This link works- [https://go.microsoft.com/fwlink/?linkid=2165935](https://go.microsoft.com/fwlink/?linkid=2165935)
This link does not- [https://go.microsoft.com/fwlink/?linkid=2165935.](https://go.microsoft.com/fwlink/?li

[2022-05-17 13:40] PriyankaRudramaina commented on #92970
@gionapaolini,

I would like to notify you that, this channel is for driving improvements towards MS Docs, for any product related question/issues, I would recommend you to create a thread on the forums- Microsoft Q&A / Stack Overflow. We will help you there.

[2022-05-17 13:40] #92970 closed

[2022-05-17 13:45] HeidiSteen commented on #64279
@hver712 for a 500 internal server, there is no resolution that will work the same for everyone.  A 500 error is quite rare, and it means there is a problem with the service itself.  If the problem persists, you should file a support ticket.  If the search service is a free tier, I would wait a bit, or delete and recreate in a different region (some regions get more traffic).

[2022-05-17 13:48] shashishailaj commented on #92957
@LainRobertson
Thank you for your feedback . We will investigate and update the thread.

[2022-05-17 13:49] shashishailaj commented on #92979
@Maciejszuchta
Thank you for your feedback . We will investigate and update the thread.

[2022-05-17 13:54] KyferEz opened #92984 "Document Permissions required for storage writes of checkpoint files during Delta table Sink"
On the Sink stage of a Delta Transformation, every 10th json files that is generated inside the delta log of the delta table, a "summary" file called checkpoint (in parquet) is written. The APPid that writes the checkpoint is different from the Appid (Service principal) that writes the rest of the files in Dataflow processes.

This different AppId corresponds to the ObjectId of the Datafactory whe

[2022-05-17 13:56] MonikaReddy-MSFT commented on #92983
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-17 13:56] DevanshuSyk commented on #92659
Thankx a lot It work .Please update the documentation

[2022-05-17 13:56] #92659 closed

[2022-05-17 13:58] MonikaReddy-MSFT commented on #92983
@alexsmithMSFT - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-17 14:08] rgknp commented on #92546
@matt1883 , @tfitzmac  It is still unclear what exactly PAYG vs other Subscription offer type means?
Do you mean it is retail PAYG Azure subscription which has 2 Synapse workspace limit?
What exact Other Subscription offer type mean? You mean EA enrollment or something else?

[2022-05-17 14:15] karatyman opened #92985 "What is the feature called? I can't see it in available features"
[Enter feedback here]
Can we get guidance on enabling this feature? This is something our company is very interested in but I don't see anything under the available preview features list for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce15a28b-de8a-cbe1-a824-b16915cd21d2
* Version Independent ID: 7e210e31-7eb8-

[2022-05-17 14:23] TorquinDSL commented on #92923
Additionally, there is no mention of how to scale this solution or how it handles time zones, in that if the Azure objects are in one time zone and the SQL source is in another time zone, since this solution depends on time values to determine if there are any changed records.

[2022-05-17 14:24] AjayKumar-MSFT commented on #92820
Thanks for sharing additional info, JustinWilkinson.   I' have relayed the feedback internally and will follow-up.

Could you please confirm if you're hosting in the .NET Core Host configuration or in the Framework 4.8 configuration?
Also, try upgrading to:
<img width="236" alt="image" src="https://user-images.githubusercontent.com/44606227/168834226-d163f4d7-c29f-4e3f-a36c-72efe537fe86.png">

[2022-05-17 14:33] rvandenbedem commented on #92845
@suzizuber - step 5 screenshot (sample attached) needs to be updated to include the new "[If you need more hosts, request a quota increase](https://docs.microsoft.com/azure/azure-vmware/request-host-quota-azure-vmware-solution?WT.mc_id=Portal-VMCP)" link.

The table in step 5, needs to have the row "Number of hosts, Number of hosts allocated for the private cloud cluster. The default value is 3, w

[2022-05-17 14:40] #73521 closed

[2022-05-17 14:40] #82594 closed

[2022-05-17 14:41] #87030 closed

[2022-05-17 14:59] #92960 closed

[2022-05-17 15:08] suzizuber commented on #92845
@rvandenbedem thank you for your help and clarification, I'll update the document.

[2022-05-17 15:08] MisinformedDNA commented on #66384
@psmanhas The link no longer contains that information. Is this stated somewhere else?

Also, I see that Windows Server 2022 has more [supported features](https://docs.microsoft.com/en-us/windows/msix/supported-platforms#windows-server-support), but none of the features explicitly say "App Attach", so I can't tell if anything has changed.

[2022-05-17 15:11] eosho opened #92986 "[PIM] AzureAD app-only permissions to create eligible roles"
The [doc](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-apis#azure-ad-roles-1) states that app-only permissions can be granted to the Service principal to interact with PIM via REST API but this probably isn't valid.

In AAD, I am unable to assign my service principal application access via Graph API to the following scopes - 'RoleEligibilitySchedule.Re

[2022-05-17 15:16] jlfiedler opened #92987 "Error when using AzureDLFileSystem: [Errno -2] Name or service not known"
I am using AzureDLFileSystem. My script looks as follows:

[code]

When I run this I got the following Error: DatalakeRESTException: HTTP error: ConnectionError(MaxRetryError(...)... Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f6af60172b0>: Failed to establish a new connection: [Errno -2] Name or service not known')
It looks like my authentication is alright, sin

[2022-05-17 15:26] aldelar opened #92988 "Issue with example of 'default_settings'"
default_compute is defined in the 'settings' but 'compute' is still used in each job section, which seems to negate the usefulness of default_compute. 'compute' was probably meant to be removed from each job to demonstrate the utility of 'default_compute'.

`
$schema: https://azuremlschemas.azureedge.net/latest/pipelineJob.schema.json
type: pipeline

settings:
  default_datastore: azureml:workspac

[2022-05-17 15:36] moathar opened #92990 "Inaccurate/incomplete information"
[Enter feedback here]
I have followed the instructions but can't seem to run the user flow. I have registered an SPA app to the B2C tenant but the application drop down is greyed out.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b8

[2022-05-17 15:38] JamesTran-MSFT commented on #92985
@karatyman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-17 15:39] JamesTran-MSFT commented on #92990
@moathar
Thank you for your feedback!

Are you able to share a screenshot of what you're seeing?

[2022-05-17 15:56] moathar commented on #92990
Hi James, have attached the snapshot of the user flow run side panel. I have two applications registered with the tenant, one for Graph API, the other one an SPA. I don't see either. I have tried changing the settings on the SPA based on what I have seen in some forums (e.g. disable implicit flow, enable access from any directory etc.) but still the same outcome.

best regards

Mo

[cid:631af65f-0

[2022-05-17 16:09] svenhallauer opened #92992 "Require App Protection Policy list is incomplete"
The list of apps in the "Require App Protection Policy" section of the doc is stale and needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure

[2022-05-17 16:25] jenniehubbardDB commented on #91912
Thank you for your feedback! Update will go live today.
#please-close

[2022-05-17 16:25] PRMerger17 commented on #91912
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-05-17 16:30] PriyankaRudramaina commented on #92804
@J1Yesid

The document you are referring to is no longer updated.

![image](https://user-images.githubusercontent.com/95755055/168861937-eb8af3ae-e143-4e83-9e7d-93d8ae2a6073.png)

You need to refer to the below links which are linked to actual document
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/upload-generalized-managed
https://docs.microsoft.com/en-us/azure/virtual-machines/

[2022-05-17 16:30] #92804 closed

[2022-05-17 16:32] PriyankaRudramaina commented on #92869
@zr-msft - Can you review this please and comment if we can add a reference to retrieve objectId of the aks cluster identity as suggested here

[2022-05-17 16:41] JamesTran-MSFT commented on #92992
@svenhallauer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-17 16:42] markltbaker opened #92994 "grammar suggestion - use 'are' intsead of 'is' when something is a plural"
Suggest changing the title to "What are Azure Arc-enabled servers" because "servers" is a plural, so the plural form 'are' should be used instead of 'is'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4debb68-9d24-ec7e-dd09-0ea02e150265
* Version Independent ID: 477928d8-2c58-297f-28aa-6c93b535d2a1
* Content: [Azure A

[2022-05-17 16:52] mbender-ms commented on #86050
Thanks for the feedback and question @denniszielke.

Currently, AzureInformationProtection, AzureUpdateDelivery, and MicrosoftContainerRegistry service tags are listed in the doc's table as having dependencies on AzureFrontDoor.FirstParty. I'll add a Note under the AzureFrontDoor.FirstParty tag referring to the three dependencies after the content freeze on 05/24/2022.

#Please-Close

[2022-05-17 16:52] #86050 closed

[2022-05-17 16:53] SaiKishor-MSFT commented on #90819
Hello,

Due to some issues, the current ETA for this feature is end of May as of now. Hope this helps. Appreciate your patience. Thank you!

[2022-05-17 17:07] gwu70ca opened #92997 "Misspelled word"
[Enter feedback here]

Spelling is wrong, search for this phrase "This will prevent unnanticipated outages"

https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-linux#choosing-a-java-runtime-version
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df68e904-7b05-38ba-4203-50eb8491946f

[2022-05-17 17:07] mike-urnun-msft commented on #92965
Thank you for your feedback! We will review and update as appropriate.

[2022-05-17 17:09] SaiKishor-MSFT commented on #90887
@jdogtech Apologize for the delay in responding to this, the diagram that I shared is for incremental snapshots. For any further questions please use [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html) as Github is used for Doc bugs. Thank you!

[2022-05-17 17:09] #90887 closed

[2022-05-17 17:17] YutongTie-MSFT commented on #92988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-17 17:17] KranthiPakala-MSFT commented on #92984
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@kromerm , @jonburchel - Could you please review the above feedback and help update the document as appropriate - Thank you

[2022-05-17 17:19] KranthiPakala-MSFT commented on #92973
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-17 17:20] JonathanFingold opened #92998 "Missing steps"
Under **Configure the deployment source** for GitHub, I have questions (and I haven't managed to get this working yet):

- Step 4: The way this is worded, switching to **App Service Build** appears to be optional. (I created a workflow in GitHub, instead.)
- Step 7: I don't get dropdown lists for the **Runtime stack** or **Version**, but I was able to choose my existing **Workflow**, so everything

[2022-05-17 17:25] xmseraph opened #92999 "how to set session id"
Hi,
how can i set session id?
I want to send the outgoing message to a specific session, so i need to provide session id.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1752a37b-b40a-5613-3416-fd604b281dbc
* Version Independent ID: f088004f-f80e-ba5c-e08e-c76ac395c809
* Content: [Azure Service Bus output bindings for Az

[2022-05-17 17:30] ericd-mst-github commented on #83444
Hi all, I recently confirmed with the Image Builder team that this still working to resolve this issue.

I apologize for the delay and thank you for your patience.

[2022-05-17 17:31] JonathanFingold commented on #92998
Switching from GitHub Actions to App Service Build Service has at least got the **Save** button to function explicably.

[2022-05-17 17:33] MarileeTurscak-MSFT commented on #92842
Hi @bastienperez,

The article says,

"Password changes or password resets that are initiated in Azure Active Directory, write back to on-premises Active Directory, **only if the user is in scope for password hash synchronization**."

You say,

"When I enabled password writeback, I can change the password for users into the scope of the selective password sync. But **users outside of this scope ca

[2022-05-17 17:33] MicrosoftGuyJFlo commented on #92992
Taking internal for more information. #please-close

[2022-05-17 17:33] #92992 closed

[2022-05-17 17:38] JonathanFingold commented on #92998
So, I am technically unblocked now, but the article is frustratingly misleading as written, at least for my use case (an Azure Bot Service bot).

[2022-05-17 17:43] bastienperez commented on #92842
Hello @MarileeTurscak-MSFT

The problem is: why synced users outside the scope of selective pass sync are affected by password writeback?
My understanding from the doc is only people in the scope are subject to password writeback. Not all the synced users.

[2022-05-17 17:49] chanuengg commented on #92836
@zeinab-mk Can you review the feedback provided here

[2022-05-17 17:52] Dave76 opened #93000 "Permission propagation timing"
Hi,

This is a well written article, however, one topic I would like to see covered either in the main body, or in the FAQ at the bottom:

How long does it take for ACL changes to be applied?
If a user is assigned a new group and this group is used in an ACL rule, how long does it normally take for a user to see the new reflected permissions. Do they need to logout/login?

Thanks in advance,

Dave

[2022-05-17 18:11] mbender-ms commented on #73363
#reassign-reviewer: @andreamichaelmsft

[2022-05-17 18:16] mbender-ms commented on #79927
#reassign-reviewer: @andreamichaelmsft

[2022-05-17 18:23] SunandaChowdhary commented on #92712
Hi @nickludwig pls let me know if you need any other information from my end?

[2022-05-17 18:23] vtieto commented on #65866
Closing as per instructions from Patrick Misteli.

[2022-05-17 18:23] #65866 closed

[2022-05-17 18:24] RyanHill-MSFT commented on #92998
Apologies for the doc confusion. We'll investigate and update the doc as appropriate.

[2022-05-17 18:27] mbender-ms commented on #73011
@reassign-reviewer: @andreamichaelmsft

[2022-05-17 18:30] JamesTran-MSFT commented on #92986
@eosho
Thank you for your time and patience throughout this issue!

From the [Azure AD roles](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-apis#current-permissions-required) section, the [Role Management Permissions](https://docs.microsoft.com/en-us/graph/permissions-reference#role-management-permissions) table is showing the `RoleEligibilitySchedule.R

[2022-05-17 18:32] JamesTran-MSFT commented on #92756
@JonesMikael
Thank you for your time and patience throughout this issue! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-17 18:35] mbender-ms commented on #75899
For all service tags, the API data is the main source of truth and should be used. Because of the processes used, JSON and API may be temporarily out of sync, as seen above. Over time, parity should be achieved.

Performing doc update to clarify messaging and intent of API & JSON usage.

#Please-Close

[2022-05-17 18:35] #75899 closed

[2022-05-17 18:36] BruddaNP opened #93001 "Problem when trying to create anchor in the "HelloAR" demo"
Hey!

I am trying to get into developing apps for the HoloLens 2 in Unity. As Spatial Anchors seems cool i wanted to try this demo but I can not get the saving part to work.

While app is running on the Hololens 2, I navigate to the "LocalSharedDemo" scene and press go. When getting to the step where the anchor is supposed to save and upload to the Sharing Anchor Service, the app stops and Visual

[2022-05-17 18:41] davystrong opened #93002 "Saving other types of batch inference output"
In the ML Studio batch inference endpoints, how can I save the output from semantic segmentation models? The documentation explains how to get generic data **from** blob storage but seems to be missing how to save my output data (in this case semantic segmentation masks) **to** a corresponding blob storage location.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.m

[2022-05-17 18:44] mbender-ms commented on #92145
For service tags using NSGs, UDRs can be used as well.

Reviewing doc to clarify messaging and intent of UDR usage.

#Please-close

[2022-05-17 18:44] #92145 closed

[2022-05-17 18:45] JamesTran-MSFT commented on #92926
@jason1444
Thank you for your time and patience throughout this issue!

When it comes to deleting a user from the group that's assigned to an Azure AD enterprise SSO app. Is this group role-assignable?

![image](https://user-images.githubusercontent.com/36619112/168887381-39b962b7-4aba-4578-8723-6eda6f4afc96.png)

[2022-05-17 18:52] JamesTran-MSFT commented on #92985
@karatyman
From our documentation, I believe this preview feature is called **Azure role assignment conditions** (preview). To add or edit Azure role assignment conditions, you can reference the [Prerequisites for Azure role assignment conditions (preview)](https://docs.microsoft.com/en-us/azure/role-based-access-control/conditions-prerequisites).

**Additional Links:**
[Example Azure role assignm

[2022-05-17 18:52] #92985 closed

[2022-05-17 18:54] mbender-ms commented on #89353
For all service tags, the API data is the main source of truth and should be used. Because of the processes used, JSON and API may be temporarily out of sync, as seen above. Over time, parity should be achieved.

Performing doc update to clarify messaging and intent of API & JSON usage.

@andreamichaelmsft Can we get table update added to vendor cleanup? Thanks.

[2022-05-17 18:57] JamesTran-MSFT commented on #92990
@moathar
Thank you for following up on this!

Unfortunately, the screenshot isn't viewable from GitHub. Would you be able to re-upload it?

[2022-05-17 19:18] karatyman commented on #92985
Hey  @JamesTran-MSFT  Not sure if I am doing something wrong here but that does not come up when I try to enable this preview in my subscription. I attempted first in the EA tenant I support for work, but then decided to setup a free-teir to test there as well.

https://pasteboard.co/O5nDRPsuPQ92.png

I've tried searching the full name above, and just using key words but it does not show up as an

[2022-05-17 19:23] amenarde commented on #69089
@CountlessNumber sorry for delayed response. We will look into updating the doc to increase its clarity. To answer your question directly, client certificates (admin or read-only user) you declare to Service Fabric are just that, declarations to Service Fabric on how to validate client certificates. This means that they are not expected to be installed on your cluster nodes and generally would not

[2022-05-17 19:26] JustinWilkinson commented on #92820
My jobs are running on DotNet 6 with the versions of `Microsoft.Azure.WebJobs.Extensions.*` you provided. We don't have a direct reference to `Microsoft.Extensions.Logging.Console` but I assume that's not required...

[2022-05-17 19:33] meenasaravanan02 commented on #33071
Hi @leen89757, We have updated the reference in the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198531
#please-close this issue

[2022-05-17 19:33] #33071 closed

[2022-05-17 19:40] davehcdn opened #93003 "Reference for the policy exemption is missing API-version"
On this page you provide some reference examples for creating ARM templates for your policy exemptions.

However, these examples do not work because they are missing the "apiVersion": "2020-07-01-preview".

You can see in the [reference for policy exemptions](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/policyexemptions?tabs=json) that this field is required.

I suggest

[2022-05-17 19:42] giesedb opened #93004 "Wrong linking"
Hey there,

https://docs.microsoft.com/en-us/azure/postgresql/single-server/quickstart-create-server-database-azure-cli#configure-a-server-based-firewall-rule

The link in this section [az postgres server firewall-rule create] is linked to:
 https://docs.microsoft.com/en-us/cli/azure/mysql/server/firewall-rule
but it should be:
https://docs.microsoft.com/en-us/cli/azure/postgres/server/firewall-ru

[2022-05-17 19:54] riterrell commented on #87475
Hi @divyanshumehta,
I have tried locally the tutorial till the point [Run the application locally](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#run-the-application-locally).
I was able to run successfully the application under HTTPS based on local Certificate

![image](https://user-images.githubusercontent.com/105747583/168898018-47

[2022-05-17 20:00] SaiKishor-MSFT commented on #93000
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2022-05-17 20:06] JamesTran-MSFT commented on #92985
@karatyman
Thank you for following up on this!

I wasn't able to find the Preview Feature within my Subscription either, but after following the - [Tutorial: Add a role assignment condition to restrict access to blobs using the Azure portal (preview)](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-abac-portal). I found that you can see the Conditional (Optional) option within R

[2022-05-17 20:11] modsushi opened #93005 "Doesnt work"
[Enter feedback here]

I followed the instructions but this doesn't work even though its a very recent document.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32207331-764e-7954-b175-53928cf39a1e
* Version Independent ID: 3b4dada0-3b79-774e-7e25-2732e5c7a8ae
* Content: [Tutorial: Deploy static-rendered Next.js websites

[2022-05-17 20:14] cutecycle opened #93006 "Getting Started in .NET Spark notebook example doesn't illustrate Spark API usage"
I'm not sure if I should be using sessionBuilder or if there's a global SparkSession that already exists when I start the notebook like in Scala...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d2c5fdd-ac1d-701c-16a4-e5e11585fb6d
* Version Independent ID: 5b089102-d0a3-47ec-d898-a054aee107b0
* Content: [Use .NET for

[2022-05-17 20:20] adaggarwal opened #93007 "Outdated Screenshots"
Please update he screenshots for VS-2022 as the current screenshots are for 2017 which is deprecated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using Visual Studio](https://docs.mi

[2022-05-17 20:21] GeethaThatipatri-MSFT commented on #93004
Hi @giesedb Thanks for your findings,We will investigate and update as appropriate

[2022-05-17 20:27] KrishnaG-MSFT commented on #92994
@markltbaker Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-17 20:40] johnmarco commented on #92994
Hi @markltbaker . Thank you for your suggestion. In this topic, "Azure Arc-enabled servers" refers to the name of the feature, not to individual servers, so the use of "is" is intentional. However, I can see how this might be confusing, and I will discuss this further with my team.
I will close this issue for now, but please let me know if you have additional thoughts, and thanks again for taking

[2022-05-17 20:40] #92994 closed

[2022-05-17 20:41] PatrickFarley commented on #85128
added mention
#please-close

[2022-05-17 20:41] #85128 closed

[2022-05-17 20:49] c0g1t8 opened #93009 "Unable to add application settings when setting name contains a colon"
Looks like this issue has been raised before in #86400. The same issue applies for this page.

I encountered this issue after following the guidance provided in the following - https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings. It was not clear how I was to handle the colon in my application settings name since colons are

[2022-05-17 20:50] Niglb commented on #92310
I have engaged MS Support but am getting nowhere unfortunately.

[2022-05-17 20:54] PatrickFarley commented on #87722
added code fix
#please-close

[2022-05-17 20:54] #87722 closed

[2022-05-17 20:55] JamesTran-MSFT commented on #92990
@moathar
Thank you for your time and patience!

After looking into this a little more, can you make sure that the app you're using has a Redirect URI within the Authentication blade? If there isn't a Redirect URI you'll run into the issue where the User Flow Reply URL is greyed out.
![image](https://user-images.githubusercontent.com/36619112/168907558-d5a1c8d7-0bc4-4751-be5f-1a0942f488eb.png)

**R

[2022-05-17 20:55] #92990 closed

[2022-05-17 20:58] PatrickFarley commented on #90626
@YutongTie-MSFT I believe this is what they are looking for https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/encrypt-data-at-rest
#please-close

[2022-05-17 20:58] #90626 closed

[2022-05-17 21:03] PatrickFarley commented on #91074
Monitoring https://github.com/Azure/azure-sdk-for-python/issues/23922 for answers

[2022-05-17 21:04] PatrickFarley commented on #91280
link is no longer broken
#please-close

[2022-05-17 21:04] #91280 closed

[2022-05-17 21:16] markltbaker commented on #92994
Hi folks, I appreciate it is the name of the feature. But even then the feature refers to multiple servers - so I do think it reads better as a plural. It stood as looking wrong enough to give feedback, which I normally don't do ;)  But it's ultimately low importance.

[2022-05-17 21:17] PatrickFarley commented on #92144
I've removed all the Trove notes
#please-close

[2022-05-17 21:17] #92144 closed

[2022-05-17 21:23] PatrickFarley commented on #92352
@RohitMungi-MSFT I don't have the ability to update that page. Is there someone from Azure Support you can reach out to?

[2022-05-17 21:27] PatrickFarley commented on #92574
tags are the same as "labels", I've added a mention to clarify this in the overview
#please-close

[2022-05-17 21:27] #92574 closed

[2022-05-17 21:43] mattvenable opened #93011 "-UseConnectedAccount no longer exists"
[Enter feedback here]
It seems that the -UseConnectedAccount parameter has been deprecated.  It now throws an error and is not included in the documentation for the New-AzStorageContainer command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 317b5f6c-5b10-a10a-e97a-90a9b1adb290
* Version Independent ID: e35fd6b0-5790

[2022-05-17 21:55] mattvenable commented on #93011
Never mind.  I was looking at New-AzStorageContainer rather than New-AzStorageContext.

[2022-05-17 21:55] #93011 closed

[2022-05-17 21:57] YutongTie-MSFT commented on #93002
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-17 22:01] eosho commented on #92986
@JamesTran-MSFT that's my understand of the doc (unless I am wrong). It states the following:

PIM API now supports **app-only permissions** on top of delegated permissions.

**For app-only permissions, you must call the API with an application that's already been consented with either the required Azure AD or Azure role permissions.**
For delegated permission, you must call the PIM API with both

[2022-05-17 22:09] toinetoine commented on #51606
Is this still the case? I see the new version of the schema doc has `identity` option for `imageRegistryCredentials` but tried w/ an identify that has `AcrPull` role and got error attached. Is this now possible to do (and I'm just making mistake with the identity settings)?

![Screenshot from 2022-05-17 18-03-04](https://user-images.githubusercontent.com/1865818/168918090-3608195f-0869-4171-ba17-8

[2022-05-17 22:09] JamesTran-MSFT commented on #92986
@eosho
Thank you for following up on this!

The app-only permission that's supported by the PIM API should be `RoleManagement.ReadWrite.Directory`. For more info - [Permissions and privileges](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagementv3-overview?view=graph-rest-1.0#permissions-and-privileges)

If you have any other questions, please let me know.
Thank you!

[2022-05-17 22:10] cainhune opened #93014 "Diagram incorrect"
The diagram on the page states that you are looking up mystorage.privatelink.blob.core.windows.net when it should be my storage.blob.core.window.net
This diagram would make people think their conditional forwarding rules need to forward the privatelink name which is the same mistake the documentation for private endpoint made two years ago. Better would be to make a new diagram that matches the fo

[2022-05-17 22:30] eosho commented on #92986
I am speechless because your response worked. Will keep an eye out and close for now.

Thanks a lot @JamesTran-MSFT

[2022-05-17 22:30] #92986 closed

[2022-05-17 22:37] DerekHerman-MSFT commented on #92987
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-17 22:37] #92987 closed

[2022-05-17 22:52] Karishma-Tiwari-MSFT commented on #92894
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-17 22:52] #92894 closed

[2022-05-17 22:55] Karishma-Tiwari-MSFT commented on #92702
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-17 22:55] #92702 closed

[2022-05-17 22:58] squassina opened #93017 "Personally Identifiable Information (PII) Detection cognitive skill samples return HTTPError: 400"
The samples for input and output in [cognitive-search-skill-pii-detection.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/search/cognitive-search-skill-pii-detection.md)
are not correct and when we run them the server return `HTTPError: 400 Client Error: Bad Request for url:`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-17 23:08] Grace-MacJones-MSFT commented on #93005
Hi @modsushi, we are sorry to hear you having issues with this doc. Can you please be specific about what part of this tutorial is not working for you? thanks

[2022-05-17 23:09] Grace-MacJones-MSFT commented on #92997
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2022-05-17 23:09] #92997 closed

[2022-05-17 23:12] mikewo-dc opened #93019 "Azure Private DNS Resolver docs need to address Azure Virtual WAN and Azure Firewall scenarios"
[Enter feedback here]

Currently the documentation addresses classic Hub vnet and Spoke vnet architecture only.

We would like the docs to include guidance for Azure Virtual WAN architecture, and ideally Azure Firewall DNS Proxy scenario as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b312425f-a486-6c4b-9608-cc

[2022-05-17 23:28] pnarsi commented on #92954
Thanks @SreejaBhattacharya-MSFT so from and end to end perspective it is always the cluster that is making the outbound calls to the Kube API (via private endpoint and privatelink). The Kube API doesn't initiate any calls to the cluster. Is that correct?

[2022-05-17 23:54] pnarsi commented on #92959
Thanks for clarifying @AnuragSharma-MSFT

[2022-05-17 23:54] #92959 closed

[2022-05-18 00:36] andrewbrownmsft commented on #74903
#please-close

[2022-05-18 00:36] #74903 closed

[2022-05-18 00:36] andrewbrownmsft commented on #80826
#please-close

[2022-05-18 00:36] #80826 closed

[2022-05-18 00:38] andrewbrownmsft commented on #82917
@asergaz , can you assign this to @esha0611, please?

[2022-05-18 00:53] AaronMaxwell commented on #91520
Thanks for your dedication to our documentation.

Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.

Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:

Microsoft Azure Monitor Q

[2022-05-18 00:53] #91520 closed

[2022-05-18 01:04] AaronMaxwell commented on #92798
There are 5 open and 5 close braces in the sample code. Please feel free to reopen this issue if further clarity can be provided.

Install or update the Application Insights Agent as an extension for Azure virtual machines
[code]

[2022-05-18 01:04] #92798 closed

[2022-05-18 01:30] mbender-ms commented on #91787
@reassign: @andreamichaelmsft

[2022-05-18 01:32] mbender-ms commented on #91787
#reassign: @andreamichaelmsft

[2022-05-18 01:32] mike-urnun-msft commented on #92999
Thank you for your feedback! We will review and update as appropriate.

[2022-05-18 01:33] mike-urnun-msft commented on #93007
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-18 01:34] mike-urnun-msft commented on #93009
Thank you for your feedback! We will review and update as appropriate.

[2022-05-18 01:34] mbender-ms commented on #73011
#reassign-reviewer: @andreamichaelmsft

[2022-05-18 02:16] luisnjuarez opened #93021 "This page information is misleading"
MFA is not supported by AVD and this conditional access policy says otherwise. Please confirm, because it is misleading. This does not work, the conditional access policy should be to exclude users from this policy if MFA is not supported by AVD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1666c5-5bed-be10-287e-0ce

[2022-05-18 02:33] mbender-ms commented on #81106
Thanks for the feedback and suggestions @quekmc.

Doc will be updated after content freeze is lifted on 05/24/2020.

#please-close

[2022-05-18 02:33] #81106 closed

[2022-05-18 03:11] kobulloc-MSFT commented on #92830
@Dbakevlar I'm completing the PR and the changes should go live shortly.

[2022-05-18 03:35] c0g1t8 opened #93022 "Unable to add application settings when setting name contains a colon"
Looks like this issue has been raised before in #86400. The same issue applies for this page.

I encountered this issue after following the guidance provided in the following - https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings. It was not clear how I was to handle the colon in my application settings name since colons are

[2022-05-18 03:37] AshokPeddakotla-MSFT commented on #93001
@BruddaNP Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 03:38] c0g1t8 commented on #93009
I misfiled this issue. This issue is for [Configure application settings for Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings). I've recreated as issue  #93022.

Closing.

[2022-05-18 03:38] #93009 closed

[2022-05-18 04:17] laneyvb commented on #92835
Hi,  Seems that it still says "This is available in Public Preview."  in the github and also live version so perhaps the PR did not get approved yet ?

[2022-05-18 04:23] AjayKumar-MSFT commented on #92843
mshyatsu, Yes, based on your feedback, we have updated it to - `**Bitness**: 32-bit or 64-bit. For Windows apps only.` - We have raised a PR and the published changes will reflect in the doc, once merged.

[2022-05-18 04:23] #92843 closed

[2022-05-18 04:27] RyanHill-MSFT commented on #92848
Hi @akjems, thanks for calling this out. The command should be `az webapp create --name appname -g group -p plan -r '"PHP|8.0"' --is-linux` as `az webapp up` doesn't support PHP. I'll get this documented updated.

[2022-05-18 04:41] CHEEKATLAPRADEEP-MSFT commented on #92774
@afogarty85  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-18 04:41] #92774 closed

[2022-05-18 04:43] SumanthMarigowda commented on #92791
@JayaChat Please refer this: Blobs are listed in alphabetical order in the response body, with upper-case letters listed first.
More Info here: https://docs.microsoft.com/en-us/rest/api/storageservices/List-Blobs

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proce

[2022-05-18 04:43] #92791 closed

[2022-05-18 04:48] CHEEKATLAPRADEEP-MSFT commented on #93006
@cutecycle  Thanks for the question! We are investigating and will update you shortly.

[2022-05-18 04:50] sharon-low commented on #92820
I'm using .Net 5 and these package reference:
Microsoft.Azure.WebJobs.Extensions" Version="4.0.1"
Microsoft.Azure.WebJobs.Logging.ApplicationInsights" Version="3.0.33"
Getting the same warning message.

[2022-05-18 04:57] VikasPullagura-MSFT commented on #93021
@luisnjuarez
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-05-18 05:02] AnuragSharma-MSFT commented on #92730
@sinclr4 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-18 05:02] #92730 closed

[2022-05-18 05:02] tamram commented on #92603
@helderpinto - According to the product team, the only operations that are blocked are those specific to version-level immutability. All data operations should be permitted. I've updated the article accordingly. We're in a content freeze right now, so the change should go live in about a week.

I'll pass the feedback on to the portal team to look into updating the portal text.

#please-close

[2022-05-18 05:03] #92603 closed

[2022-05-18 05:27] SnehaAgrawal-MSFT commented on #93022
@c0g1t8 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 05:29] SreejaBhattacharya-MSFT commented on #92954
@pnarsi , yes that is correct, source will initiate communication with the service(in our case the Private Link).

[2022-05-18 05:32] MughundhanRaveendran-MSFT commented on #92775
@phatcher , I will work to modify the advice given here : https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity

Functions would need  Azure Service Bus Data Receiver, Azure Service Bus Data Owner roles for an identity(MSI) to work properly.

Thanks for your feedback. I will close this issue, feel free to reopen if you have any queries or concerns.

[2022-05-18 05:32] #92775 closed

[2022-05-18 05:33] VikasPullagura-MSFT commented on #82871
@amjads1 Can you please help on this.

[2022-05-18 06:38] vlad610 opened #93033 "JWKS cached for 1 hour"
Update the documentation for validate-jwt policy and mention the JWKS is cached for 1 hour. This is important and should be documented clearly, to note that APIM does not call the resource for every request.

Reference:
https://github.com/MicrosoftDocs/azure-docs/issues/63118

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-05-18 06:54] amjads1 commented on #82871
@VikasPullagura-MSFT Do you know why this issue was assigned to me again? Based on the above comments, Gabby on my team has already responded and assigned the right owner so I would recommend you work with the assigned owner and close on this issue.

[2022-05-18 07:09] hphuhtin opened #93052 "Incorrect domain_hint microsoft.com?"
The domain_hint microsoft.com seems to be incorrect. Shouldn’t it be live.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f308c4-9c2a-06c6-d460-5b4b9ed3877f
* Version Independent ID: 9ffaa9db-650b-a250-0e16-b450d69cc3f3
* Content: [Set up direct sign in using Azure Active Directory B2C](https://docs.microsoft.com

[2022-05-18 07:29] AnuragSharma-MSFT commented on #92797
@naokitakeda14 Thanks for patience. Yes rightly mentioned by you and as per the [article](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-security#information-protection-and-encryption) as well "**_Although its not recommended, if needed, you have an option to disable TLS\SSL for connections to Azure Database for PostgreSQL - Flexible Server by updating the require_secur

[2022-05-18 07:33] phillips321 opened #93053 "Typo in documentation, need to replace / with ?"
Quote:_For example, https://apis.contoso.com/products?api-version=v1 and https://apis.contoso.com/products/api-version=v2 could refer to the same products API but to versions v1 and v2 respectively._

the v2 URL has a / after the products dir but it should be a ? as such:
https://apis.contoso.com/products?api-version=v2

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-05-18 07:38] modsushi commented on #93005
I cloned the nextjs-azure starter boilerplate and deployed via github actions using the values as suggested in the doc. However when navigating to the app url it shows a generic azure landing page "waiting for content".
I tried the same using create-next-app but same result.
Meanwhile static react apps using create-react-app runs without any issues.

[2022-05-18 07:38] YetiNerd opened #93054 "SFTP-SSH Action doesnt close Connection to Server"
We currently experience issues with the SFTP-SSH-Connector not closing opened Connections to the SFTP-Server.
According to the Doc it is only necessary to set the [ClientAliveInterval property](https://man.openbsd.org/sshd_config#ClientAliveInterval) on the Server, which we did. Our SFTP-Server allowes 20 concurrent/ opened connections. Unfortunatelly our SFTP-Team still records more then this thr

[2022-05-18 08:17] FObersteiner opened #93055 "Timer trigger for Azure Functions - simplify Python code snippet"
Related stackoverflow post: [Azure Python Function datetime expression](https://stackoverflow.com/questions/72282839/azure-python-function-datetime-expression)

In the Example section's Python code, the expression
[code]
seems unnecessarily convoluted to me. It could be replaced by
[code]
making the code concise and avoid the usage of the error-prone `utcnow` (see also my answer to the linked SO q

[2022-05-18 08:20] Venkateshdodda-MSFT commented on #93053
@phillips321 Thank you for your feedback! We will review and update as appropriate.

[2022-05-18 08:20] AnuragSharma-MSFT commented on #92958
@pnarsi Thanks for your patience. Currently there is no plan to upgrade the Single Server version to 12 or higher, the recommendation is to leverage the flexible server for higher version.

Version 11 will be retired by November 9, 2023 but you can still continue to run the retired version however it comes with restrictions as mentioned in the below document:

[Retired PostgreSQL engine versions n

[2022-05-18 08:24] bmansheim commented on #92900
Hi @DeanGross144 . I'm going to look at this area soon and I'll try to add more info.

[2022-05-18 08:33] xenea opened #93070 "Possible typo in variables declaration in bash"
Command mentioned here if execute on bash shell results to error
eg.
under "Create service principal for Azure authentication" section

[code]
Errror:
_bash: =/subscriptions/xx-xxxxxx-xx/resourceGroups/my-rg: No such file or directory_

The variable name should be "**groupID**" not "**$groupID**".

Same goes for:
"Update service principal for registry authentication" section

[code]
Worked followi

[2022-05-18 08:48] gvanteylingen opened #93071 "Double mention of preview"
Following sentence
Azure NetApp Files datastores for Azure VMware Solution (Preview) is currently in public preview.

should read
Azure NetApp Files datastores for Azure VMware Solution is currently in public preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64ddeca5-94ba-b6d4-dcf9-8f57c7ae2b1c
* Version Independ

[2022-05-18 08:50] preetesh33 opened #93072 "Azure: azure.mgmt.monitor python SDK, generates inconsistent OpreationName localized_value"
Issue: Python SDK "azure.mgmt.monitor" generates inconsistant opreationName localizedValue.
Expection: Python SDK "azure.mgmt.monitor" should generate consistent localized_value

Steps to reproduce issue:
1. Scenario A: Activity log of unattached disk deleted on - 2022-05-03

[code]

Output:
[code]

2. Scenario B:  Activity log of unattached disk deleted on - 2022-05-13
Same code used as above.
Ou

[2022-05-18 08:50] mepand commented on #92742
@TarekNabeel , below is the exact statement metioned in the doc:
_Snapshots are stored in the same storage account as the backed-up file share, and therefore replicated as per the replication setting of storage account._

To answer your question, in the current Azure Files backup solution, having your Azure Files redundancy set as GRS is the only option to ensure the high availability of your snap

[2022-05-18 08:52] shwetamathur7 commented on #93052
@hphuhtin Thanks for the feedback. We will investigate and update accordingly.

[2022-05-18 09:01] SreejaBhattacharya-MSFT commented on #93070
@xenea
Thanks for reaching out. We'll investigate and update this document as appropriate.

[2022-05-18 09:02] SreejaBhattacharya-MSFT commented on #93071
@gvanteylingen
Thanks for reaching out. Looking into this.

[2022-05-18 09:14] SwathiDhanwada-MSFT commented on #92769
@lazinnat Can you please provide your inputs on this issue?

[2022-05-18 09:19] jasonhorner opened #93073 "TOC entry and page title are ambigous"
the table of contents entry for this article is JSON however the page and the url do not provide any indication that this article covers json

this is potentially confusing as parquet also support complex types.

the title should be updated to reflect that this is for JSON and Apache spark pools to disambiguate.

for example Analyse complex types stored as json with synapse spark pools

![image](h

[2022-05-18 09:19] bmulholland opened #93074 "Link does not include promised information"
Page says "For more information, see [Endpoints](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols#endpoints)."

But that linked page has no mentions of the words "tenant" or "common" or "guest" which are what that link is supposed to be providing information about

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-05-18 09:43] jasonhorner opened #93075 "Provide additional details on how spark pools access user data stored in storage accounts"
while there is a section on system managed data.
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-access-control-overview#accessing-system-managed-data-in-storage

the information around how synapse spark pools access data stored in ADLS v2 doesn't seem to be documented here or in the Spark pool section.

specifically details around when the workspace managed ide

[2022-05-18 09:44] blindfish3 commented on #87652
@stephanieguyot - I'm suffering the same pain right now.  The documentation appears to be out of date :(

I was able to customise the "Invalid username or password." message with:

```<LocalizedString ElementType="ErrorMessage" StringId="UserMessageIfInvalidPassword">[YOUR TRANSLATION HERE]</LocalizedString>```

Maybe this will work for you :shrug:

[2022-05-18 09:48] clagger commented on #61040
Whats the final answer now?
If we press the "Test Connection" Button of the Linked Service in the Data Flow it successfully connects to the private endpoint of the SQL DB. But when executing the dataflow in the pipeline we get an error that the FQDN is not reachable.

[2022-05-18 09:56] gitet commented on #89851
A more logical workflow would be to first create a vnic (with custom name - this is already supported), then specify this existing vnic during private endpoint creation.

[2022-05-18 10:15] Venkateshdodda-MSFT commented on #93053
@phillips321 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-05-18 10:15] #93053 closed

[2022-05-18 10:54] maursantos commented on #86816
@PriyankaRudramaina  Any update on this ? Is this documentation expected at any time soon?

[2022-05-18 11:06] baxteran opened #93077 "Dead link to apparently key dependency - is the page still current?"
[Enter feedback here]

The page references a dead link on github.com - https://github.com/microsoft/MLOpsPython/generate. Does the tutorial still work without it? Looks like it needs an update. The linked repo hasn't been updated for 5 months. Is this page still current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2022-05-18 11:20] SnehaAgrawal-MSFT commented on #92794
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-18 11:20] #92794 closed

[2022-05-18 11:30] cauldnz opened #93078 "Explicit note of underlying algo (LightGBM?) for Multiclass Boosted Decision Tree component"
[Enter feedback here]
Docs for the Boosted Decision Tree regression and Boosted tree Two Class components call out explicit details of the underlying algo used (LightGBM). Would be useful to have Multiclass Boosted Decision tree component document follow similar pattern for consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-05-18 11:30] blindfish3 opened #93079 "Documentation is incorrect and missing information"
I'm trying to apply localisation to Azure B2C log-in flow and finding it to be an incredibly frustrating exercise; involving lots of trial and error; largely because the documentation appears to be incorrect (or out of date).  It doesn't help that setting the language to one of the "supported" languages doesn't apply translations to all fields; leaving us to figure out which strings need to be tra

[2022-05-18 12:07] dikadali commented on #92468
@khdownie Thanks for updating the documentation.

[2022-05-18 12:07] jeroenbeuz opened #93080 "Domain Hint for Microsoft is incorrect"
The given 'domain_hint' for Microsoft (microsoft.com) is not working. It should be 'live.com'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f308c4-9c2a-06c6-d460-5b4b9ed3877f
* Version Independent ID: 9ffaa9db-650b-a250-0e16-b450d69cc3f3
* Content: [Set up direct sign in using Azure Active Directory B2C](https://do

[2022-05-18 12:29] rogiersb commented on #92861
I've tried and tested it and the user.properties file is indeed interpreted now. It works, thanks a lot!

[2022-05-18 12:29] #92861 closed

[2022-05-18 12:39] rodrigogq opened #93083 "Clarification for Compound indexing filtering + sorting"
The documentation is clear about _filtering and sorting on the same fields_. What about filtering and sorting by different fields? What is CosmosDB behavior for MongoDB API?

Example:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d86c46-2b4b-53a6-da61-af5833b334a2
* Version Independent ID: 18b651d7-876d-e5b1-

[2022-05-18 12:40] SadiqhAhmed-MSFT commented on #93017
@squassina Could you please share the document you are referring to?

[2022-05-18 12:42] SadiqhAhmed-MSFT commented on #93019
@mikewo-dc Thank you for your feedback. We will review this request with the content owner and update as appropriate.

[2022-05-18 12:45] SadiqhAhmed-MSFT commented on #93014
@cainhune Thank you for your feedback. We will review this request with the content owner and update as appropriate.

[2022-05-18 12:46] PatTelford opened #93084 "Security Principle --> Security Principal"
[Enter feedback here]
There are several instances in this article where the term 'principle' is used when 'principal' is the proper term.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2897c3-3062-4c8e-b493-6504bd2354a8
* Version Independent ID: ac4109b9-ae3d-c0f6-63a4-7a0fbd426005
* Content: [Encrypt data using cust

[2022-05-18 12:52] #93033 closed

[2022-05-18 12:56] MajidJafari opened #93086 "Can not run the T-SQL script on this page"
I Get this error whenever I'm trying to run the T-SQL script:

[code]

There is an `incorrect token (` error after `WITH` keyword in this script.

The script is:
[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9820f3-e186-4f52-7492-cb936823ea80
* Version Independent ID: 2746ca67-f71e-85c6

[2022-05-18 12:58] AlexcFrench opened #93087 "Mentions Log Analytics Agent but not the Azure Monitor Agent"
Hi,

This mentions that the ARC connected machine agent does not replace the log analytics agent but is there an assumption that this also does not replace the Azure Monitor Agent either? LA agent is deprecated and being replaced by AMA...

Thanks

Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4debb68-9d24-ec7e-

[2022-05-18 13:04] MughundhanRaveendran-MSFT commented on #93055
@FObersteiner , Thanks for the feedback. I am looking into this issue, I will check and get back to you

[2022-05-18 13:07] Givary commented on #93080
@jeroenbeuz Thank you for your feedback . We will investigate and update the thread.

[2022-05-18 13:10] NoorKhaldi opened #93088 "Can we share the process of creating a Group that is compatible with PIM?"
The document "Assign eligibility for a privileged access group (preview) in Privileged Identity Management" does not explain that in order to use groups in PIM, you need to:

1. Create a group using the option "Azure AD roles can be assigned to the group"
2. Open the newly created group and then under activity / Privileged access (Preview), you need to click "Enable Privileged Access"

It would be

[2022-05-18 13:10] KrishnaG-MSFT commented on #93087
@AlexcFrench Thanks for reaching out! This Arc Connected Machine agent doesn't replace the AMA (Azure Monitor Agent) as well because as per [this](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#relationship-to-other-agents) Azure document, AMA will replace Log Analytics agent, Telegraf agent and Diagnostics extension.

[2022-05-18 13:11] #93086 closed

[2022-05-18 13:34] AnuragSharma-MSFT commented on #93083
@rodrigogq Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-18 13:35] emmanuelg34 opened #93089 "No CNAME for ASR ! record unconsistent !"
Azure Site Recovery (Microsoft.RecoveryServices/vaults) / AzureSiteRecovery |
privatelink.siterecovery.windowsazure.com |
 {region}.hypervrecoverymanager.windowsazure.com => are you sur ?! is'nt it  {region}.siterecovery.windowsazure.com on public DNS ?!
-- | -- | --

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af

[2022-05-18 13:51] kzankpe opened #93090 "Cloud Tiering policies"
When looking at the information in the "How both policies work together" section, I have the feeling that the table isn't correct.
Azure file is configured on a 500GB local volume. But when I add all the files sizes (10+30+200+130+140) I am getting 510GB. And all the files are supposed to be stored on the local volume and Azure file share.
How is it possible to store all files on the local drive?

[2022-05-18 13:52] squassina commented on #93017
It's here: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/search/cognitive-search-skill-pii-detection.md

[2022-05-18 13:53] jonasnorlund opened #93091 "Wrong argument name in az cli sample"
Hi, in the az cli sample below the argument "--docker-file-path" is wrong it should be "--context-path"

az containerapp github-action add \
  --repo-url "https://github.com/<OWNER>/<REPOSITORY_NAME>" \
  --docker-file-path "./dockerfile" \
  --branch <BRANCH_NAME> \
  --name <CONTAINER_APP_NAME> \
  --resource-group <RESOURCE_GROUP> \
  --registry-url <URL_TO_CONTAINER_REGISTRY> \
  --registry-us

[2022-05-18 14:33] PriyankaRudramaina commented on #86816
@p9139010

This is under review by content author @cynthn- Can you please share your comments here?

[2022-05-18 14:35] ThairAbdalla opened #93093 "missing supported regions"
based on this section https://docs.microsoft.com/en-us/azure/azure-monitor/agents/om-agents#prerequisites gov regions supports sepecific SCOM versions how ever LA in Azure Gov is missing from the list of supported regions listed right below

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9011859f-611e-fdbd-76fd-c6defa5f

[2022-05-18 14:35] AlexcFrench commented on #93087
Thanks Krishna, appreciate the quick reply.

I understand the impact but the page only mentions the Log Analytics Agent
and not the AMA - could it be updated to mention both agents ?

On Wed, 18 May 2022 at 14:11, KrishnaG-MSFT ***@***.***>
wrote:

[2022-05-18 14:47] #92889 closed

[2022-05-18 15:05] spelluru commented on #90950
#please-close

[2022-05-18 15:08] SteveWohl commented on #92835
Hi Elaine,

I am expecting my PR changes to get approved shortly this morning. I am aiming to sign it off so that the fix note in issue #92835 and my other articles updates will go live during the next Azure docs publication cycle today.

Regards,
Steve
________________________________
From: Elaine van Bergen ***@***.***>
Sent: Tuesday, May 17, 2022 9:18 PM
To: MicrosoftDocs/azure-docs ***@***.***

[2022-05-18 15:12] jasongroce commented on #90330
#reassign:durior1

[2022-05-18 15:12] PRMerger8 commented on #90330
The following users don't have valid GitHub IDs, or are not collaborators on this repo: durior1

[2022-05-18 15:15] bandersmsft commented on #92601
@katergin Hi there. Again, I'm sorry for the delay. The Cost Management engineering team can't determine where the problem is occurring. Please open a support request in the Azure portal. If support determines that there's an error with the article's accuracy, I'm happy to update it.

#please-close

[2022-05-18 15:33] HeidiSteen commented on #93084
You're right!  Thanks, @PatTelford
I just fixed it now, but you won't see the update in the docs until next week.

#please-close

[2022-05-18 15:33] #93084 closed

[2022-05-18 15:35] cynthn commented on #86816
@p9139010 p913 Thanks for the feedback! Can you give me a little bit more information about what you are looking for? Are you looking for instructions on how to apply a policy for VM apps to VMs? Or, are there details missing from the policy definition?

@ericd-mst-github FYI - maybe ask engineering to take a look at this too?

[2022-05-18 15:37] JamesTran-MSFT commented on #93079
@blindfish3
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-18 15:39] whhender commented on #92942
@bakerr99 - Part of the issue here is that this FAQ has formally been for the Azure side of Microsoft Purview, which does not currently support scanning for Sharepoint or OneDrive, but the M365 compliance side of Microsoft Purview DLP does support both.

I will update the language for this specific question, but we are working on updating the documentation language as a whole to make the different

[2022-05-18 15:43] tamram commented on #88752
@ramki88 - Thanks for your question. I checked with the engineering team, and this is a supported scenario. You need to configure the key vault to allow trusted access to Microsoft services, as described here:

https://docs.microsoft.com/azure/key-vault/general/network-security#key-vault-firewall-enabled-trusted-services-only

#please-close

[2022-05-18 15:43] #88752 closed

[2022-05-18 15:44] whhender commented on #92860
I will update the documentation!
Thank you for reaching out!

[2022-05-18 15:44] #92860 closed

[2022-05-18 15:47] vivekharrai opened #93096 "Azure key-vault changes in a secret are not reflected in the mounted CSI volume"
[

I have followed each and every instruction on this page,

created my cluster using following command:
az aks create -n myAKSCluster -g RGNAME --enable-addons **azure-keyvault-secrets-provider --enable-managed-identity --enable-secret-rotation**

and then created key-vault, added scret in it.  given access to fetch secrets, key and cert.

then created secretproviderclass.yaml

[code]

and pod.ya

[2022-05-18 15:48] whhender commented on #92480
@elenaterenzi - Hello! Since it's been some time since I have heard back from you and I am not able to identify the issue, I will close for now. However, if you can provide me more information, please do re-open or open an new issue and I'll address it! Thank you!

#please-close

[2022-05-18 16:01] tamram commented on #79987
#reassign: @jimmart-dev

[2022-05-18 16:09] mbender-ms commented on #92963
@GitaraniSharma-MSFT I am currently working with the product team and owners of this. I am hoping for some resolution to this in the future.

[2022-05-18 16:09] cynthn commented on #82871
@VikasPullagura-MSFT my ask was for it to be re-tagged as a product issue instead of a doc bug. FYI - I'm starting a thread with the owners of the aka.ms link.

[2022-05-18 16:11] norvegec opened #93097 "No ConfigureAppConfiguration method to override"
Seems, that Microsoft.Azure.Functions.Extensions.DependencyInjection.FunctionsStartup doesn't have `ConfigureAppConfiguration` method to override.

Please describe alternative approach to extend `IFunctionsHostBuilder` adding more configuration sources (providers).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e

[2022-05-18 16:21] eedwards36 opened #93098 "Custom parameters with the Resource Manager template for Synapse"
When will custom parameters be available for synapse?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68ac54af-9ba4-b6ad-15bd-4b757ba51d0c
* Version Independent ID: 1911fc3a-49fb-9e88-dd90-6f8585afcd1f
* Content: [Custom parameters in a Resource Manager template - Azure Data Factory](https://docs.microsoft.com/en-us/azu

[2022-05-18 16:22] DerekHerman-MSFT commented on #93072
This appears to be a python SDK issue. This page is for azure documentation feedback and issues only. If you feel there is a documentation issue please link to the page. Otherwise I recommend opening your issue with the SDK team.
https://github.com/Azure/azure-sdk-for-python/issues

[2022-05-18 16:28] danielsc opened #93099 "need to document our naming scheme somewhere"
we need to document the restrictions to our resource names somewhere.
Here is the specification that contains the core information that should be conveyed somehow: https://github.com/Azure/azureml_run_specification/blob/master/specs/naming_resources.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19b1fd16-d1c2-a151-a

[2022-05-18 16:30] DuffLV opened #93100 "Subscription can also be moved to EA - please update this page accordingly"
Good day,

when checking whether I can move a customer's pay-as-you-go subscription to a EA agreement in a different tenant, I discovered this page: https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/mosp-ea-transfer. I kindly ask you to update this page to include reference to the scenario discussed in the link I provided.

Thanks!

---
#### Document Details

⚠ *Do not edit thi

[2022-05-18 16:52] DiChipi opened #93101 "Assign action parameters for the task - Group policy deployment"
Actual sample parameters should be presented on the guide, not clear what the argument should be used in -ExecutionPolicy Bypass -command <Path to Deployment Script> are "" necessary ? are network locations acceptable? - been trying to deploy via GPO without any success, running script manually works and I can see the task scheduler coming up from the GPO

Thanks

---
#### Document Details

⚠ *Do

[2022-05-18 16:54] mbender-ms commented on #84517
Doc has been updated and this issue should be resolved.

#Please-close

[2022-05-18 16:54] #84517 closed

[2022-05-18 16:55] mvark opened #93102 "How about adding Service Fabric as Azure container option?"
How about adding Service Fabric as additional Azure container option?

Documentation can also mention that "Both Linux and Windows containers are supported in Service Fabric since 2017." and link to this article - https://docs.microsoft.com/en-us/dotnet/architecture/containerized-lifecycle/design-develop-containerized-apps/orchestrate-high-scalability-availability

---
#### Document Details

⚠ *Do

[2022-05-18 16:55] maursantos commented on #86816
We are looking for documentation about how to install a package using VM application with the deployifnotexists Azure policy effect.

If we go to Microsoft documentation https://docs.microsoft.com/en-us/azure/virtual-machines/vm-applications it says :

VM applications can be used with the [DeployIfNotExists](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects) policy.

Howeve

[2022-05-18 17:01] dooleydo opened #93103 "Clarity on Azure NetApp Files HA"
The document describes ANF as "local HA". Please explain what this actually means. Can it survive a zone failure for example? This is important to know as if designing an overall solution which uses availability zones for availability we need to know if ANF also achieves this goal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-05-18 17:08] mbender-ms commented on #84075
@pemsft Thank you for the suggestion. I will add this item to my suggestions list as I work through documentation updates, and will make changes as deemed appropriate.

#please-close

[2022-05-18 17:08] #84075 closed

[2022-05-18 17:11] KhanSo10 opened #93104 "Add Reboot Step on Step 6"
Please add a Step #6
Reboot for changes to take effect.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content: [Implement password hash synchronization with Azure AD Connect sync](https://docs.microsoft.co

[2022-05-18 17:13] ericd-mst-github commented on #86816
Hi all, I have checked with engineering and at this time we currently do not have additional documentation on this but will be looking into this.

I apologize for any delays and thank you for your patience!

[2022-05-18 17:15] shwetamathur7 commented on #93052
@hphuhtin Thanks again for your contribution to enhance the documentation . I have updated the document and the changes will be reflected after author's approval.

[2022-05-18 17:19] Cornbread3102 opened #93105 "Screenshots and information out of date"
The Atlassian Access/Admin UI has changed significantly since the screenshots on this page were done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04509836-867e-279f-c1d6-135a237d357e
* Version Independent ID: e05a10ce-c46b-334e-78e2-30b416ed904a
* Content: [Tutorial: Configure Atlassian Cloud for automatic user prov

[2022-05-18 17:21] apawar410 opened #93106 "regarding setting Operation_ID"
[Enter feedback here]

Hi, as mentioned in the documentation, I am trying to set "Operation_Id" which maps to open telemetry as "trace-id".
Intent of doing so is accept that field from the UI in the header and use it to track the invocation of different services in the backend.

My expectation is if I just pass that field in the header then Azure function app should check it and assign it appropri

[2022-05-18 17:23] JamesTran-MSFT commented on #93105
@Cornbread3102
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-18 17:23] JamesTran-MSFT commented on #93104
@khdaze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-18 17:28] KranthiPakala-MSFT commented on #93073
@Rodrigossz - Could you please take a look at the above feedback and help make changes as appropriate - Thank you

[2022-05-18 17:29] timwarner-msft commented on #93003
Done!

[2022-05-18 17:30] timwarner-msft commented on #93003
#please-close

[2022-05-18 17:31] GermanEZI opened #93107 "Startup.cs does not get created in an ASP.NET Core 6 Web API projects"
How would I use the information given for  Startup.cs in Program.cs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fc5b4a3-0d85-102b-8b4c-8dfdd664b2d8
* Version Independent ID: 13086ddd-1cf0-a8ca-46f2-588e59734122
* Content: [Configure a web API that calls web APIs - Microsoft identity platform](https://docs.microsof

[2022-05-18 17:31] KranthiPakala-MSFT commented on #93075
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@meenalsri - Could you please review the above feedback and help enhance the content? - Thank you

[2022-05-18 17:34] sr-msft commented on #92958
We plan to offer an in-line migration feature to migrate from Single to Flexible where we support higher versions. Also refer to https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/overview#frequently-asked-questions

[2022-05-18 17:36] DerekHerman-MSFT commented on #93054
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 17:40] rolyon commented on #91609
Hi @joshua-paredes
I'm going to close this issue for now, but let us know if you have any additional feedback.
thanks

[2022-05-18 17:40] rolyon commented on #91609
#please-close

[2022-05-18 17:40] #91609 closed

[2022-05-18 17:41] GermanEZI commented on #93107
Note:  for the "Tenant", I've used both the GUID as well as "common" ; but I still get
` Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing the request.
      System.Exception: An error was encountered while handling the remote login.
       ---> System.Exception: OpenIdConnectAuthenticationHandler: message.State is null o

[2022-05-18 17:43] KranthiPakala-MSFT commented on #93098
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-18 17:54] ecfan commented on #92694
Hi @timjansenortec,

Based on comments from the product team, Consumption logic apps in multi-tenant Azure Logic Apps enable and use [geo-redundant storage (GRS)](https://docs.microsoft.com/azure/storage/common/storage-redundancy#geo-redundant-storage) for high availability. So no, data doesn't necessarily stay in the same region where you create your logic app unlike logic apps in an ISE and Stan

[2022-05-18 17:55] suzizuber commented on #93071
@gvanteylingen thank you for catching this, it is being corrected today.

[2022-05-18 17:58] GermanEZI commented on #93107
MY APP REGISTRATION

![image](https://user-images.githubusercontent.com/42184774/169110820-790ee1fa-18c4-4781-a791-0be4cce24fc8.png)

[2022-05-18 18:11] RaviICS-131 opened #93108 "uninstall CEF connector"
Unable to uninstall CEF connector please help

[2022-05-18 18:15] SadiqhAhmed-MSFT commented on #92955
@ebolton-cyber I have raised a PR and it is assigned to you. Could you please review and merge it with the master branch?

[2022-05-18 18:23] udhaymahajan commented on #92481
@InforSupport I cannot remove your comments on your behalf. But you might be able to do it yourself. If this request is incorrect, you may close this request and submit a new revised request. We will be happy to assist you anytime.

[2022-05-18 18:24] digimaun opened #93110 "Request for CLI driven IoT Hub jobs functionality how-to"
The IoT Hub jobs how-to documentation shows job support via SDKs but also including a CLI driven experience leveraging the `az iot hub job` command group would be great and supporting of CLI focused personas.
![image](https://user-images.githubusercontent.com/28658112/169117153-5be706d4-761b-4455-8c3d-f16acbf47864.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-05-18 18:40] rolyon commented on #76214
Hi @weyCC81
Thanks again for your detailed feedback. We're closing this issue for now. We'll make any recommended doc updates based on the team's investigation. Let us know if you have any additional feedback you want us to provide to the team.
thanks

[2022-05-18 18:40] rolyon commented on #76214
#please-close

[2022-05-18 18:40] #76214 closed

[2022-05-18 18:41] ecfan commented on #92694
#assign @ecfan

[2022-05-18 18:42] ecfan commented on #87242
@rarayudu, any updates?

[2022-05-18 19:15] sunnyhay opened #93114 "How to have a health check against an AML endpoint?"
I have a running AML endpoint deployed on AKS cluster, looking like http://[IP address]:80/api/v1/service/modelscoring36/score. This is the POST endpoint to respond any incoming model scoring request. Is there any way to check if the relevant AML service or attached AKS cluster is healthy? In Asp.Net we is used to some dummy GET method constructed in one controller for this health check purpose. D

[2022-05-18 19:15] JamesTran-MSFT commented on #92926
@jason1444
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2022-05-18 19:20] sunnyhay opened #93115 "How to load balance traffic between two different AML endpoints?"
Hello,

  My team's user case is simple. For one ML model we need to deploy it in two different AKS clusters and thus generate two different AML endpoints. This is for failover and fault tolerance consideration in case any such AML endpoint or AKS cluster suffers outage.
  So my goal is to route traffic with any load balancing approach such as simple round-robin between two AML endpoints looking l

[2022-05-18 19:40] mbender-ms commented on #91809
@SunnyDeng Can you provide additional context on how this is not working for you? Also, How can we further clarify this for your understanding?

In my test of Windows Server 2022 VMs w/ IIS installed, both Azure VMs are accessible in the scenario listed with VM4 over HTTP (80). One VM is using a basic SKU and the other is using the standard SKU for public IP addresses.

[2022-05-18 19:44] rolyon commented on #91609
Hi @jpterraform
Yes, thanks for the clarification. We'll pass this feedback to the team.
thanks

[2022-05-18 19:44] SatishBoddu-MSFT commented on #92520
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-18 19:44] michellebejarano opened #93116 "Incorrect Information Regarding Claims Transform CompareClaimToValue"
Good day Microsoft Team,

I want to reach out because the documentation is incorrect.
The doc says that the claims transform CompareClaimToValue should have an input parameter of ignoreCase set to the data type of boolean. Like this:

      <ClaimsTransformation Id="SetWynshopRedirect1" TransformationMethod="CompareClaimToValue">
        <InputClaims>
          <InputClaim ClaimTypeReferenceId="wy

[2022-05-18 19:45] SatishBoddu-MSFT commented on #92422
No documentation link was provided to better assist on this issue!.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at

[2022-05-18 19:45] #92422 closed

[2022-05-18 19:56] MarileeTurscak-MSFT commented on #93116
@michellebejarano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-18 19:58] adelagar opened #93117 "API Management only supports a maximum of 15 TAGS"
Customers in highly regulated industries typically have more than 15 tags per resource. Currently API deployments will fail upon the 16th TAG.  We should at least call out that limitation on this page until the PG address the shortcoming on the product to avoid errors and frustration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-05-18 20:02] MarcosMMartinez opened #93118 "Needs revision: Command = az network public-ip create"
The datacenter needs to be explicitly included here as it does not default to eastus which is what is explicitly stated in the other commands:

az network public-ip create \
  --resource-group myResourceGroupAG \
  --name myAGPublicIPAddress \
  --allocation-method Static \
  --sku Standard

So the creation of the AppGW eventually fails because the PIP exists in a datacenter where the AppGW is not

[2022-05-18 20:06] ecfan commented on #92876
@vmhenard: Thanks, we have a doc update in progress with ETA sometime early next week.

[2022-05-18 20:10] KranthiPakala-MSFT commented on #93098
@eedwards36 - Similar option is missing, but we can follow the Microsoft doc link which has the custom parameterization template
In the following document under the heading “[Create custom parameters in the workspace template](https://docs.microsoft.com/en-us/azure/synapse-analytics/cicd/continuous-integration-delivery#create-custom-parameters-in-the-workspace-template)” you have clearly the instr

[2022-05-18 20:10] asocorro opened #93119 "Error: There is no score column in dataset."
What does this error mean?  The steps don't indicate how to set such a column.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffba802b-2859-17a0-a9c9-58b746d4ff84
* Version Independent ID: 096b4644-b409-1029-9035-1d0e812b4d41
* Content: [PCA-Based Anomaly Detection: Component reference - Azure Machine Learning

[2022-05-18 20:14] SunnyDeng commented on #91809
@mbender-ms  Sorry, this is all what i got from a feedback ADO ticket from a Japanese user. The ADO ticket is anonymous though. As this is not localization issue, that's why i escalated to EN channel.

[2022-05-18 20:15] YutongTie-MSFT commented on #93114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 20:15] YutongTie-MSFT commented on #93078
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-18 20:17] SatishBoddu-MSFT commented on #92366
More info is needed on the respective document!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-18 20:17] #92366 closed

[2022-05-18 20:22] DerekHerman-MSFT commented on #93091
Thanks for pointing this out. I have created a PR to address this, once it is reviewed the changes should go live.

[2022-05-18 20:22] #93091 closed

[2022-05-18 20:29] jayeshdesai1 commented on #92512
Thank you, Any idea when it will go GA?

[2022-05-18 20:36] bandersmsft commented on #92936
@AlexCordSo Hi there. I've verified with the Billing engineering team that you're absolutely correct. I've updated the article accordingly, tho the update won't get refreshed live until May 24. Thanks for letting us know about this issue!
#please-close

[2022-05-18 20:36] #92936 closed

[2022-05-18 20:36] YutongTie-MSFT commented on #93099
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-18 20:37] YutongTie-MSFT commented on #93077
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 20:42] lostmygithubaccount commented on #93099
#assign @danielsc

[2022-05-18 20:46] DerekHerman-MSFT commented on #93090
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 20:49] bandersmsft commented on #93100
@DuffLV Hi there, you're correct. Pay-as-you-go subscriptions can be migrated to an EA enrollment by having the the EA Enrollment Admin add your account into the EA. That's mentioned in the article at https://docs.microsoft.com/azure/cost-management-billing/manage/switch-azure-offer#can-i-migrate-from-a-subscription-with-pay-as-you-go-rates-to-cloud-solution-provider-csp-or-enterprise-agreement-ea

[2022-05-18 20:49] #93100 closed

[2022-05-18 20:51] YutongTie-MSFT commented on #93119
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 20:52] YutongTie-MSFT commented on #93115
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-18 20:56] jasonnutter commented on #91973
@tnorling @sameerag Can one of you please take a look at this for livesite? Thanks!

[2022-05-18 20:56] sathishkumarrjp opened #93123 "Fixed delay Retry is not working in either attribute level or host.json file level"
We are using Azure queue trigger function, it will try to process the queue message.

We are trying to add FixedDelayRetry attribute on Azure queue trigger function level. Like below.

[FunctionName("Function1")]
[FixedDelayRetry(3, "00:00:10")]
public static void Run([QueueTrigger("mytestqueue", Connection = "storageaccountdetails")] string queueItem, ILogger log)

We tried to apply via Host.Json

[2022-05-18 21:02] meenasaravanan02 commented on #51597
Hi @jberezanski, The SAS key needs to be valid for the duration of the deployment (at least 2 hours, ideally 4 hours). Also, we have updated the document.
#please-close this issue

[2022-05-18 21:02] #51597 closed

[2022-05-18 21:04] cdfaisonms commented on #92969
@shendan19880215, thank you for bringing this to our attention. Was this account a BLOB or ADLS Gen2 account? If it is a Blob account, was the account originally a GZRS account that you are trying to failback?

[2022-05-18 21:10] Exodus commented on #47220
For those getting here from web searching, as a workaround for this, while the portal team is getting this working, you can perform the operation using the az cli with something like:
`az network dns record-set a create -g resourcegroup --name "sub" --zone-name "mydomain.com" --target-resource "/subscriptions/<subscriptionID>/resourcegroups/<resourceGroup>/providers/Microsoft.Cdn/profiles/<AFD Pro

[2022-05-18 21:29] Minewiskan commented on #92543
Article updated.
#please-close

[2022-05-18 21:29] #92543 closed

[2022-05-18 21:31] jdivis opened #93124 "Additional Context is Needed for Working with PowerBi and Queries"
Following this article, I was able to connect Power Bi to Cosmos DB via a Key, and it appears my query to pull in records worked, the problem is, I just see:

Document
___
[Record]

How do I get to the attributes within that record?

What I eventually found (thanks to: https://blog.jeremylikness.com/blog/2017-10-12_exploring-the-cosmosdb-with-power-bi/) was that I had to modify my query to explode

[2022-05-18 21:35] ratty67 opened #93125 "Missing License Info"
Hello,

The following licenses in our tenant seem to be missing from your list

| SkuPartNumber                           | SkuId                                |
|-----------------------------------------|--------------------------------------|
| -------------                           | -----                                |
| Dynamics_365_Sales_Premium_Viral_Trial  | 6ec92958-3cc1-49db-95bd-bc6

[2022-05-18 21:43] jdogtech commented on #90887
Can you please read the questions I posted on April 11 and answer them?

[2022-05-18 21:57] tamram commented on #10865
@lahans - You should be able to create and reuse a reference to an object. You don't need to create a fresh reference for every request.

We recommend using the latest version of the Azure Storage client library for Azure Files in your applications.

[Azure Storage File Shares client library for .NET](https://docs.microsoft.com/dotnet/api/overview/azure/storage.files.shares-readme)

#please-close

[2022-05-18 21:57] #10865 closed

[2022-05-18 22:07] jjuarez5 opened #93126 "ST_DISTANCE Limitations unclear"
[Enter feedback here]
The product feedback forum seems dead so asking here, what are the limits to the ST_DISTANCE function? I.e. in the example it has <30000. I know it's meters although the documentation doesn't specifically state that the value is in meters. Can you go up to 100000m to represent 100km? Up to what value is accepted?

Thanks in advance

---
#### Document Details

⚠ *Do not edit t

[2022-05-18 22:14] MarileeTurscak-MSFT commented on #93125
@ratty67
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-18 22:19] Oury-MSFT commented on #93124
@jdivis We are reviewing this issue and will get back shortly.

[2022-05-18 22:21] Oury-MSFT commented on #93126
@jjuarez5 We are reviewing this query and will get back shortly.

[2022-05-18 22:21] tamram commented on #90726
@kganesan1 - Thanks for your feedback. It appears that you are using an older version of the SDK (v11 or earlier). Would you be willing to try your scenario with the latest version of the SDK (v12)?

We are not investing in enhancing the documentation for v11 and earlier. However, we are interested in your experiences with v12, and if you find that you have similar frustrations, we will take them

[2022-05-18 22:28] DerekHerman-MSFT commented on #93096
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-18 22:30] tamram commented on #84040
@jasonzio - The C++ SDK documentation is provided "as-is". As @kyle-patterson pointed out, the Classes tab provides access to all of the classes in the SDK.

#please-close

[2022-05-18 22:30] #84040 closed

[2022-05-18 22:45] DerekHerman-MSFT commented on #93093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-18 22:46] #91809 closed

[2022-05-18 22:50] MarileeTurscak-MSFT commented on #93107
@GermanEZI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-18 23:23] circy9 opened #93127 "Incomplete category list in resource logs"
This list of categories in the doc is a subset of what is shown in Portal. I expect them to be the same.

Doc: https://docs.microsoft.com/en-us/azure/aks/monitor-aks-reference#resource-logs
Portal: ![image](https://user-images.githubusercontent.com/13264318/169170994-59f4da06-f17d-4ac4-96da-cebebfbaaa5d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-05-18 23:33] mundayn opened #93128 "Backup administrator accounts - How is this even possible with Security Defaults?"
Hi,

This is a comment on the section "Backup administrator accounts"

I understand with Conditional Access you would exclude your break glass accounts.

But if Security Defaults requires all users to register for MFA, how do you have "backup administrator accounts" effectively?

I assume you would have to create the account, but then never sign into it unless you need to? If that is the case, it

[2022-05-18 23:38] pnarsi commented on #92958
@AnuragSharma-MSFT I would love to recommend to my organisation that we use Flexible server however the lack of support for CMK for encryption at rest and Azure AD for authentication makes it a non starter. Hopefully these features will be available by November 2023. Azure Defender support was that other missing capability for Flexible server but I believe this will be available by Q3 this year.

[2022-05-18 23:43] RyanHill-MSFT commented on #92867
@MarkStega, I think you may have been on the .NET Framework tab instead of .NET Core, which as the instruction for adding Microsoft.Data.SqlClient 4.0.1. I've also [confirmed](https://github.com/RyanHill-MSFT/msdocs-app-service-sqldb-dotnetcore/tree/issues/gh/92867-dbconnection-error) that adding the nuget package, adjusting the connection string (which pushed to `dotnet user-secrets`, and adding

[2022-05-18 23:43] #92867 closed

[2022-05-19 00:42] F-Zainab opened #93129 "Please update the 300 column limitation in the document"
There is a known limitation of 1MB Payload size (applies to ADF lineage as well) and 300 Columns PG.

Can you please update that in the doc as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3dac-c0db-7e4f9c588d22
* Content: [Connect to an

[2022-05-19 00:50] shendan19880215 commented on #92969
It is a standard performance general-purpose v2 account(ZRS). I can change the replication to GZRS via portal.
and wiki also says the scenario does not need live migration. only self-supported is OK.
please refer DOC as belows:
https://supportability.visualstudio.com/AzureIaaSVM/_wiki/wikis/AzureIaaSVM/496098/Geo-Zone-Redundant-Storage-(GZRS)_Storage

[2022-05-19 01:43] iovex opened #93130 "MDE integrated with MD4IOT ,OT device will not be shown in MDE portal"
Reference
https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/overview#extend-defender-for-iot-to-enterprise-networks

in this article ,it says that any device will be synced into MDE and MDE4IOT  portal .
original description:
Integrating Defender for IoT and Defender for Endpoint synchronizes any devices discovered on the network by either service.

after confirmed with cloud s

[2022-05-19 02:34] RyanHill-MSFT commented on #92998
You are correct, this is optional. You have the option to let GitHub build your project and push the artifacts to the app service or use the other option. App Service Build Service is sort of like local git. The app service will pull the code files, and detect the runtime to determine how to build (e.g. package.json, requirements.txt, *.csproj). Azure Pipelines is a similar service to GitHub Actio

[2022-05-19 02:48] shwetamathur7 commented on #93128
@mundayn Thanks for your feedback. We will investigate and update the thread.

[2022-05-19 02:53] rmagalla opened #93132 "Improved ci-md-onboard-atscale shell script"
In the https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-update-metrics#update-all-clusters-by-using-the-azure-cli section the shell script https://aka.ms/ci-md-onboard-atscale does not work. Specifically on the following:
Is:
export MSI_ID=$(az aks show -g $clusterRG -n $clusterName --query addonProfiles.omsagent.identity.clientId -o tsv)

Should be:
export MSI_ID

[2022-05-19 03:02] mbender-ms commented on #92963
@KexyBiscuit At this time, the latency table is not being maintained. We are currently working to resolve this issue, and the page will be updated as soon as possible. Thank you for your patience and understanding.

A central work item for this issue has been created, and each issue is being tracked there.

When the status of the table availability changes, I'll report back here.

#Please-close

[2022-05-19 03:02] #92963 closed

[2022-05-19 03:10] KrishnaG-MSFT commented on #93132
@rmagalla Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-19 03:14] KrishnaG-MSFT commented on #93117
@adelagar Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-19 03:25] KrishnaG-MSFT commented on #93087
Sure. I will make sure it's updated to avoid any confusion.

[2022-05-19 03:52] CHEEKATLAPRADEEP-MSFT commented on #93129
@F-Zainab  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-05-19 04:14] DerekHerman-MSFT commented on #93097
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 04:15] DerekHerman-MSFT commented on #93101
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 04:15] DerekHerman-MSFT commented on #93102
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-19 04:17] DerekHerman-MSFT commented on #93103
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 04:18] DerekHerman-MSFT commented on #93108
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-19 04:18] #93108 closed

[2022-05-19 04:19] DerekHerman-MSFT commented on #93106
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 04:19] DerekHerman-MSFT commented on #93123
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-19 04:24] NWiddup opened #93133 "SQL MI DNS Alias Docs article needs additional info"
Hi, I may have missed something in this article, but from my read this page does not currently appear to provide sufficient information on how to implement Custom DNS aliases for an SQL Managed Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fee722b-8089-8dc2-3029-00245bb78f4d
* Version Independent ID: 2bf909

[2022-05-19 04:34] vinita-razor commented on #55200
@ratanparai was this resolved?

[2022-05-19 04:43] pravinkpatil opened #93134 "Floating IP - Why LB?"
[Can you please share more details on why does the ASCS and ERS Floating IP needs to be under Load Balancer? if the pacemaker cluster can plumb the IP on the node where we need it to be as per required sequence and dependencies then DNS will take care of the name resolution. About IP's health, assuming pacemaker can do that as it does support floating IP. any additional information will be very he

[2022-05-19 04:44] VikasPullagura-MSFT commented on #93021
@luisnjuarez
Azure Virtual Desktop supports MFA.

If you are not experiencing this, then this has to be checked from environment/setup side. As this is not a document related issue, I would recommend to open a support case to get your issue checked by support team.

Hope that helps.

[2022-05-19 04:44] #93021 closed

[2022-05-19 04:48] VikasPullagura-MSFT commented on #93127
@circy9
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-19 04:48] VikasPullagura-MSFT commented on #93127
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-19 05:03] nlasok1 opened #93135 "Scenario is not finished"
"Create a second virtual network" section doesn't make sense unless the documentation shows how to connect it to the first vnet, and/or to set it up for using the resolver from vnet1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67376353-3eff-47d3-3e52-13600075ebd4
* Version Independent ID: 88cd7c90-2a27-a389-a751-99

[2022-05-19 05:18] AnuragSingh-MSFT commented on #92691
@Meertman, I'm sorry for the delayed response. The referred section is for "**adaptive sampling for ASP.NET applications**" and respective default values. Therefore, `<ExcludedTypes>Trace;Exception</ExcludedTypes>` would mean that the _Trace_ & _Exception_ types are not considered for adaptive sampling.

I hope this helps answer your question. In case it doesn't, can you please elaborate the quest

[2022-05-19 05:27] ratanparai commented on #55200
@vinita-razor : We had to recreate the cluster.

Microsoft support couldn't figure out the issue after multiple support calls and as we were just setting up cluster, we decided to delete the cluster and create new one. This resolved our issue.

[2022-05-19 06:07] timjansenortec commented on #92694
This answers my question.
Thank you.

[2022-05-19 06:08] timjansenortec commented on #92694
Not sure i should have closed the issue...probably not...since documentation still needs to be updated.
I'll leave the closing to you guys

[2022-05-19 06:13] rachelxj-ms opened #93137 "When we use DI in .net function app, registering IConfiguration will cause routePrefix setting in host.json not working"
I followed this document, added below codes in Startup.cs.

            IConfiguration configuration = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile($"local.settings.json", optional: true, reloadOnChange: true)
            .AddEnvironmentVariables()
            .Build();

            // Use a singleton Configuration throughout the app

[2022-05-19 06:35] martinkuchar commented on #88161
Hi @MayankBargali-MSFT,

your suggested solution works perfectly. I suggest to add the information also to the output of 'func new' command beside adding the information to documentation. Something like '_Template not found. Don't you have multiple .NET versions installed? See link_'. I have searched for solution for few hours, so such simple sentence would direct me quickly to the solution. Thank

[2022-05-19 06:37] kobulloc-MSFT commented on #92921
@MasayukiOzawa You are correct, thank you for bringing this to our attention!  I'll get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/169226247-fd6bcfe4-f7d8-4b42-9228-71c1d14e7b1f.png)

[2022-05-19 06:40] Klaas- commented on #74845
@saimsh-msft well yes, you have diagnosed the problem, but you're working around the root cause (which I'd say is that the swap startup is not waiting for cloud-init to finish), with your setup you'll still have a failing startup service but you'll end up with swap because cloud-init adds it after it created it (I am guessing the last part, I did not verify how the swap actually gets added to the

[2022-05-19 06:55] AlexcFrench commented on #93087
Great, thank you

On Thu, 19 May 2022, 04:26 KrishnaG-MSFT, ***@***.***> wrote:

[2022-05-19 06:58] ihyuncho opened #93139 "Critical mistranslation on the restriction page"
[Enter feedback here]
alias: ihyuncho@microsoft.com (feel free to contact me)

A possibility of resource move operation was incorrectly translated to Korean, "No" -> "예" (Yes in Korean)
Could you team  fix this quickly to avoid customer confusion?
If you check this ticket, please contact me to check additional mistranslation in this page (too many incorrect translations)
OR, if you let me know the

[2022-05-19 07:13] rouke-broersma opened #93140 "Azure functions runtime choose a programming language chooser not working"
When I select typescript in the programming language chooser I still see c# docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-48c87f2c59e8
* Content: [Azure Functions runtime versions overview](https://docs.microsoft.com/en-us/azu

[2022-05-19 07:21] GitaraniSharma-MSFT commented on #92963
Thank you for the update, @mbender-ms.

[2022-05-19 07:21] ThijsLecomte commented on #52844
@ChrisOwczarek could you elaborate on this? I am trying to push the same workbook manually by deploying the template through the portal, but this is giving me the error. Both when I use new-guid() or use the same GUID as it was previously deployed.

[2022-05-19 07:27] Matt-Mustard commented on #91078
Thanks for the final feedback @PatAltimore, I appreciate it.

[2022-05-19 08:16] harithamaddi-ops opened #93141 "Metric Based Alerts in Azure Data Factory not triggering alert after every failure"
I have configured alerts on my ADF Test pipeline as below

![image](https://user-images.githubusercontent.com/63502781/169246268-5398b739-d24f-4a4c-b9be-a98f6052ea69.png)
![image](https://user-images.githubusercontent.com/63502781/169246364-3c37932b-4926-4c3b-81b5-c655294535d3.png)

This is not triggering notification for every failure of pipeline. Is it deactivating alert after one failure notifi

[2022-05-19 08:30] shwetamathur7 commented on #93074
@bmulholland , As this page is specific to Authorization grant flow, page redirects to generic endpoint for authorize and common endpoints https://login.microsoftonline.com/<issuer>/oauth2/v2.0/authorize where issuer can be replaced with tenant, common, organizations or consumers.

[2022-05-19 08:33] am8448 opened #93142 ""You do not have permission to view this directory or page" after publishing"
Hi,

I am following the instructions and publishing to Azure via vscode/Azure Tools extension. On accessing the website I get a blank page with a single line of text: "You do not have permission to view this directory or page"

I can create the web app prior, and on accessing, I get the splash page:

"Your web app is running and waiting for your content
Your web app is live, but we don’t have your

[2022-05-19 08:42] AshokPeddakotla-MSFT commented on #93130
@iovex Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-19 08:46] Tolits0401 commented on #92799
Hello,

Thank you for your response. May I know the ETA of the Azure stack
documentation's availability (Generally available).

Regards,

On Mon, May 16, 2022 at 2:36 PM Sharmistha Rai ***@***.***>
wrote:

[2022-05-19 09:04] korpx opened #93143 "Missing"
I found the following items missing from the list.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.com/en-us/

[2022-05-19 09:15] songhua-zhang opened #93144 "jobs api 2.1 documentation via "View in Redocly" not working"
[Enter feedback here]
when trying to read jobs api documentation using the [View in Redocly](https://redocly.github.io/redoc/?url=https://docs.microsoft.com/azure/databricks/_static/api-refs/jobs-2.1-azure.yaml) link, it gave this error:

![image](https://user-images.githubusercontent.com/98935327/169259182-c5f48c62-b8fb-4d27-b533-94c1f2727816.png)

Something went wrong...
Cannot read properties o

[2022-05-19 09:27] SadiqhAhmed-MSFT commented on #92955
@santhoshb-msft Thanks once again for your valuable feedback. PR has been approved by the content owner and the changes should go live in a day or two.

Since there is no action pending on us, closing this request for now.

[2022-05-19 09:27] #92955 closed

[2022-05-19 09:29] AnuragSharma-MSFT commented on #92958
@pnarsi Thanks for replying back. Azure AAD integration in Flexible Server is going to be supported but there is no ETA at this point of time. I would request you to please upvote the feature on feedback portal:

[Support Azure AD authentication for PostgreSQL Flexible Server as soon as possible](https://feedback.azure.com/d365community/idea/01db8149-ef24-ec11-b6e6-000d3a4f0da0)

Please let us kno

[2022-05-19 09:34] AnuragSharma-MSFT commented on #93133
@NWiddup Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-05-19 09:40] bmulholland commented on #93074
I don't quite understand what you mean, and this is certainly not clear from the documentation as it is now

[2022-05-19 09:41] henrymbuguakiarie commented on #79261
#reassign:@henrymbuguakiarie

[2022-05-19 09:51] shwetamathur7 commented on #93088
@NoorKhaldi Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-19 10:10] henrymbuguakiarie commented on #79261
Hello @loeten,

We've updated the code blocks in this article to match our [sample code](https://github.com/Azure-Samples/ms-identity-javascript-v2).

@SaeedAkhter-MSFT I updated the article to use [out-of-repo snippet references](https://review.docs.microsoft.com/en-us/help/contribute/code-in-docs?branch=main#out-of-repo-snippet-references) in this PR https://github.com/MicrosoftDocs/azure-docs-p

[2022-05-19 10:13] SadiqhAhmed-MSFT commented on #93135
@nlasok1 Could you please share the document that you are referring to or wanting us to make changes?

[2022-05-19 10:18] AshokPeddakotla-MSFT commented on #92893
@bbabcock1990 Are you still blocked? This doc has been tested on Raspberry Pi3.
Adding author @PatAltimore to update if there is any compatibility issue.

[2022-05-19 10:21] nlasok1 commented on #93135
My apologies. I assumed the link on the docs page included the original page info.

here is the link https://docs.microsoft.com/en-us/azure/dns/dns-private-resolver-get-started-portal

[2022-05-19 10:23] SwathiDhanwada-MSFT commented on #93139
@ihyuncho Thanks for your feedback.  I have raised the request with respective team. I will share the details with you internally.

As there is no further documentation changes to be made, we will close the issue here. If there are further questions , please revert and we will be glad to assist you.

[2022-05-19 10:23] #93139 closed

[2022-05-19 10:25] Givary commented on #93143
@korpx Thank you for your feedback . We will investigate and update the thread.

[2022-05-19 10:49] ctahok opened #93145 "Confusing bits & suggestion to improve documentaion"
Hello,

I understand this is a new feature but the article is a bit confusing especially after opening a case with MS on this topic.
My suggestions are:

- In the article you listed Operation:

It is not clear if all the above conditions should be met or if any to be to move the item to Archive Tier. I know my team members said we can not move to archive tier because we have active daily and weekl

[2022-05-19 10:55] SnehaAgrawal-MSFT commented on #93142
@am8448 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 11:17] mllipi opened #93146 "P2S clients won't resolve Private DNS Zones unless you set VNET DNS to Private Resolver Inbound IP address"
P2S clients won't resolve Private DNS Zones unless you set VNET DNS to Private Resolver Inbound IP address

It would be helpful for customer to have the scenario explained, so that they understand what to do in order for P2S clients resolve Private DNS Zones when using Azure DNS Private Resolver.

If VNET DNS Servers is configured with Default (Azure-Provided), P2S clients wont be able to resolve

[2022-05-19 11:21] jasonhorner opened #93147 "confusing naming in code examples"
it looks like the yaml script could use a bit more clarity as the examples make it confusing as to what needs to be edited.

it references **testResourceGroup** however the npm validate and export examples use: **DevDataFactory**

![image](https://user-images.githubusercontent.com/7981510/169280034-418f4675-b351-421d-bb22-fe80930049fe.png)

![image](https://user-images.githubusercontent.com/798151

[2022-05-19 11:31] GitaraniSharma-MSFT commented on #93146
@mllipi , thank you for the feedback. We have assigned this to the content owner/author for review.

@rohinkoul , for your review.

[2022-05-19 11:33] jberezanski commented on #51597
Thank you!

[2022-05-19 11:33] GitaraniSharma-MSFT commented on #93019
@mikewo-dc , thank you for your feedback. We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-05-19 11:48] assaf-grth opened #93148 "Restrict access to function source code"
In the function resource there are several options to get its source code (App Files blade, Functions -> Code + Test, Download app content)
Is there a managed ability to prevent access to the code (for situations where devops engineer requires access to the function for configuration or monitoring purposes)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-05-19 11:51] barisengez commented on #15515
hi @YutongTie-MSFT , we are constantly tracking the situation of barcode recognition feature and had to switch to another vendor for the time being. would you give any more information on barcode recognition feature of read.api? or a confirmation that it is not planned on any foreseeable future as it has been years since the question was reaised?

[2022-05-19 11:57] frimlrob commented on #38625
Is there any progress in this matter? When our IT guy told me it is not possible to send name of the group, I thought he is joking. Apparently he wasn't...

[2022-05-19 11:58] bjtho08 commented on #83517
How can I make this work using the python msal library? The docs are still wrong and it is really frustrating trying to work this out on my own.

[2022-05-19 12:16] nachoalonsoportillo opened #93149 "Typo in the word "workspace" written as "worksapce""
Typo in the word "workspace" written as "worksapce"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10310a88-a879-9e18-d360-2b1627ee0d7e
* Version Independent ID: 10310a88-a879-9e18-d360-2b1627ee0d7e
* Content: [dbx by Databricks Labs - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/dbx#fe

[2022-05-19 12:24] rboterenbrood opened #93150 "Not entirely clear"
Nice article, but after reading it I still don't know what (if anything) I have to do to make sure ADFS keeps working :-(
It states that after setting AAD Connect to use the new sourceAnchor, users are not able to login.
And there is an explanation of 4 rules. Nice. What do I do with them?!

For now I'll Google again to find an article with a real step-by-step instruction...

---
#### Document Det

[2022-05-19 12:51] SadiqhAhmed-MSFT commented on #93145
@ctahok Thank you for your feedback. We will review this info with the content owner and update as appropriate.

@v-amallick FYI

[2022-05-19 13:05] sphavix commented on #29976
Hi all,

Has any found a resolution to this error?

[2022-05-19 13:08] MarkStega commented on #92867
@RyanHill-MSFT I believe that you diagnosed correctly -- The tabs are a bit too subtle for me and I blitzed right over them so was looking at the default .Net Framework instead of core...

Thanks for pointing out what was my error...

[2022-05-19 13:17] sivetic opened #93151 "Has the auto-generated firewall rule been renamed from AllowAllWindowsAzureIps to Azure_service_allow_all?"
When enabling the _Allow Azure Services and resources to access this server to ON in the Firewalls and virtual networks settings._ setting, we are noticing the auto-generated firewall rule has been renamed from AllowAllWindowsAzureIps to Azure_service_allow_all.  If this is expected, documentation should be updated.

Old server that was recently updated has both rules:
![image](https://user-images

[2022-05-19 13:18] wkoeter commented on #92908
I'm closing the issue as I have found out I missed configuration. The documentation was correct.
I had an Azure Function with a Timer Trigger and a Queue trigger.
For functions other than TimerTrigger you can often configure the `Connection` to point to specific settings.
For timer trigger you cannot and I think it falls back on `AzureWebJobsStorage` as the connection.

e.g. other functions
[code]

[2022-05-19 13:18] #92908 closed

[2022-05-19 13:24] GeethaThatipatri-MSFT commented on #93151
Hi, @sivetic Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-19 13:30] raza707mirza commented on #44894
I had similar issue with storage explorer. Then i figured out the issue in my connection string, I was missing account name in blob endpoint inside connection string
Following is my connection string
DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:11002/**gatewayftpfiles**;AccountName=**gatewayftpfiles**;AccountKey=<ACCOUNTKEY>

[2022-05-19 13:32] pvrk commented on #80205
@Klaas- Sincere apologies for the delay. I was OOF for a while and this completely skipped my radar. Will forward this analysis to the CDN team and get back to you. Apologies again for the delay.

[2022-05-19 13:35] MughundhanRaveendran-MSFT commented on #93148
@assaf-grth ,

You can explore
1. RBAC , only those who have owner and contributor roles can download content.
2. Integrate Functions with Private endpoint so that you are restricting at network level. Only those in your private network can access the function app
3. Enable[ WEBSITE_RUN_FROM_PACKAGE](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_run_from_pac

[2022-05-19 13:36] sphavix commented on #29976
![Error](https://user-images.githubusercontent.com/103431152/169306226-b0fd31d1-8627-4dd3-9501-584b8702db5f.PNG)

[2022-05-19 13:36] sivetic commented on #93151
Oh sorry my fault, I just realized the old firewall rule comes from our side!  I'll close the ticket, it is not relevant or caused by Microsoft.

[2022-05-19 13:46] MonikaReddy-MSFT commented on #92808
@Willemvbr - I have reached out to product team and I am still awaiting their response on the timeline. I will get back to you as soon as i have an update. Thanks.

[2022-05-19 13:53] whhender commented on #92901
@DavidSun20220 - the issue may be with your service principal settings themselves.
This error is referencing a Single-Page Application client-type, and your service principal redirect URIs should be set to 'Web". On the overview page for your service principal, what is listed under "Redirect URIs"

![image](https://user-images.githubusercontent.com/13474870/169310239-7f82ab13-a148-4499-85e5-cba5b4

[2022-05-19 13:54] BjorHart opened #93152 "Missing REST API link"
Hi,
The REST API documentation for Run Commands seem to be missing. Is this intended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0-189604018784
* Content: [Run scripts in a Windows VM in Azure using action Run Commands - Azure Virt

[2022-05-19 14:03] shashishailaj commented on #93150
@rboterenbrood Thank you for your feedback . We will investigate and update the thread.

[2022-05-19 14:08] bbabcock1990 commented on #92893
Hi @AshokPeddakotla-MSFT!

I was actually able to fix the problem. It turns out it was a user mistake. My VS Code was not set to ARM for compiling but instead AMD64. Once I set this to ARM, I was able to get this working on the PI 4 device.

[2022-05-19 14:17] Meertman commented on #92691
@AnuragSingh-MSFT,

I understand that that is what is meant by the documentation, however, if I take a look at the source code of the Application Insights NuGet package, it would seem that by default no event types are excluded at all. (As shown here: https://github.com/microsoft/ApplicationInsights-dotnet/blob/be0aa13601a2e332c34e1a25ff33f01df90c2628/NETCORE/src/Shared/Implementation/TelemetryCon

[2022-05-19 14:19] nkumars commented on #92641
@JamesTran-MSFT, could you please answer this?

[2022-05-19 14:26] AshokPeddakotla-MSFT commented on #92893
@bbabcock1990 Glad to hear you are able to fix it.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-19 14:26] #92893 closed

[2022-05-19 14:29] pirminf opened #93153 "No Error for direct flows with nullvalues/emptystrings"
Article Section [Null and empty values not processed as expected](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/hr-user-update-issues#null-and-empty-values-not-processed-as-expected) states that the operation fails with an error if there is a direct flow for an attribute with a nullvalue/emptyString.
However, we don't get an error. Instead the flow gets skipped.

Can you

[2022-05-19 14:36] jasonhorner opened #93155 "Existing Data loading Documentation is cumbersome to find and needs some reorganization"
Most of the information on this page is duplicated here:
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/load-data-overview

also note the article titles are not aligned with the toc

![image](https://user-images.githubusercontent.com/7981510/169314964-7cbc1a8e-b8c3-421c-a66e-cd9fdc3617ae.png)

the titles **overview** and **data loading overview** in the toc are confusing what is the

[2022-05-19 14:43] Willemvbr commented on #92808
Hi Monica,

Allright, thanks for the update.

Best regards,

***@***.***<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.itineris.net%2F&data=04%7C01%7CWillem.VanBruwaene%40itineris.net%7C77ebede084be43b5fe4f08da00e084bf%7Cfb76e9a5e6314f1cbef7bfb226e9aee3%7C0%7C0%7C637823261541710437%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C

[2022-05-19 14:49] kobulloc-MSFT commented on #93152
@BjorHart Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-05-19 14:49] dawsonpaul opened #93157 "DRS 2.0 disabled rules"
Some of the rules in DRS 2.0 appear disabled by default. It would be helpful if this was noted in the documentation so as not to confuse disabled by default (MS) and disabled on purpose (user).

![image](https://user-images.githubusercontent.com/16097474/169325510-c7431e91-1659-4cdb-b61f-5d8b8b5729bf.png)

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-19 14:50] spottedmahn commented on #92317
I see items now, thanks!

![image](https://user-images.githubusercontent.com/14079228/169325597-cb54b91d-5c3a-46d6-babb-88da7bee8c02.png)
[source](https://azure.microsoft.com/en-us/updates/?status=nowavailable%2Cinpreview%2Cindevelopment&category=identity%2Csecurity&query=b2c)

[2022-05-19 14:52] ShaikMaheer-MSFT commented on #93147
@jasonhorner Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-19 14:54] ShaikMaheer-MSFT commented on #93144
@songhua-zhang Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-19 14:58] sgooderham opened #93159 "Qna Maker Multi-turn conversations don't work on Teams"
I've found a few old tickets on this (#45926, #44260, #31126) but all provided links 404.

I am making a chatbot using QnAMaker that contains multi-turn prompts, which work fine when tested in Bot Framework Composer, Web Chat, and qnamaker itself:

![image](https://user-images.githubusercontent.com/105870364/169325415-f8bb6346-8b48-4584-937f-0cb452f4716d.png)
![image](https://user-images.githubuse

[2022-05-19 15:03] robertstarling opened #93160 "Zayo express route external link broken (404 not found)"
The Zayo link does not appear to be working.

- I am getting 404 Not Found from the link on this page (pasted below).
- Searching on the Zayo website for Microsoft and or Express Route yields no relevant results.

https://www.zayo.com/solutions/industries/cloud-connectivity/microsoft-expressroute

Can we confirm whether Zayo is still a partner and then update the link / entry either way?

Thanks
R

[2022-05-19 15:07] usmanatron opened #93161 "Missing role `Storage Account Backup Contributor` in RBAC Built-in list"
This page appears to be missing the `Storage Account Backup Contributor` role.

Another page ([here](https://docs.microsoft.com/en-us/azure/backup/blob-backup-configure-manage)) references usage of the missing role.  It may well be that the role doesn't actually exist anymore and the other page needs changing, it's not totally clear right now!

#### Document Details

⚠ *Do not edit this section. I

[2022-05-19 15:11] GitaraniSharma-MSFT commented on #93135
@nlasok1 , thank you for bringing this to our notice. We have assigned this to the content owner/author for update & doc correction. In the meantime, you can follow the [PowerShell tutorial](https://docs.microsoft.com/en-us/azure/dns/dns-private-resolver-get-started-powershell) as it has complete steps.

@greg-lindsay , the Azure portal tutorial is not complete. The steps to link the second Vnet t

[2022-05-19 15:19] JamesTran-MSFT commented on #92641
@nkumars
Thank you for following up on this and for clarifying the issue!

I've reached out to our B2C team to see if they have any custom policies to allow for UserID/Email signup and will update as soon as possible.

![image](https://user-images.githubusercontent.com/36619112/169333095-01f911f3-ac79-45b1-b30d-9d577a4635ff.png)

Thank you for your time and patience throughout this!

[2022-05-19 15:19] DavidSun20220 commented on #92901
Thanks @whhender

I doublechecked the redirct uri and it is web:
![3](https://user-images.githubusercontent.com/101605312/169333259-240e8cac-c4d6-4ce6-b45a-5d68677aa1bd.PNG)
Any other potential issue?

[2022-05-19 15:23] whhender commented on #93129
Thank you! I'll confirm and update the doc accordingly!

[2022-05-19 15:36] kWozniak-tt commented on #93123
Related:
https://github.com/Azure/azure-webjobs-sdk/issues/2869
https://github.com/Azure/azure-functions-kafka-extension/issues/122#issuecomment-1115184291
https://github.com/Azure/azure-webjobs-sdk/commit/60a52e5334f2c3cca2c7853b2ea219c6782859c5

[2022-05-19 15:40] whhender commented on #92901
@DavidSun20220 - I've finally been able to repro your error. From the documentation on the error code, we've got this:

_**Error Code**	9002326
**Message**	Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type.
**Remediation**	The application must fix either the reply URIs registered on the application registration to include a unique reply address of type "

[2022-05-19 15:52] kobulloc-MSFT commented on #93152
@BjorHart Thank you for bringing this to our attention!  It looks like the link has been updated.  I'll get a PR out to address this.

Old link:
https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines-run-commands/run-command

New link:
https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-run-commands

[2022-05-19 15:54] GermanEZI commented on #93107
I found an article that helped me out.

My Program.cs looks as follows and I am able to make graph api calls on behalf of the authenticated user.

`using Microsoft.AspNetCore.Authentication.OpenIdConnect;
using Microsoft.Identity.Web;

var builder = WebApplication.CreateBuilder(args);

// Add services to the container.

builder.Services.AddControllers();
// Learn more about configuring Swagger/Ope

[2022-05-19 15:55] brianlehr commented on #92906
@Vincent0818 Appreciate the feedback.  However, the "cold potato" routing the article describes (where the traffic travels along the Microsoft WAN as long as possible until exiting on an edge closest to the user destination) would work for the **default** selection of "Microsoft Network" routing preference for any Azure Public IP in the majority of regions.  For your example, the alternative, low-

[2022-05-19 15:57] MarileeTurscak-MSFT commented on #93161
@usmanatron
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-19 15:58] sathishkumarrjp commented on #93123
[DerekHerman-MSFT](https://github.com/DerekHerman-MSFT) - Thank you so much for your suggestions. I hope we can resolve this issue?

Kindly let me know.

[2022-05-19 16:01] stefbomdcs opened #93163 "What about account level provisioned throughput for Table Api Cosmos DB account?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa2cc5d3
* Content: [Provision throughput on Azure Cosmos containers and databases](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput)
* Content S

[2022-05-19 16:02] spacecat opened #93164 "Prereqs OS section"
I have provisioned a VM + extensions successfully with the following details:

    publisher = "MicrosoftWindowsServer"
    offer     = "WindowsServer"
    sku       = "2022-datacenter-azure-edition"
    version   = "latest"

So I think the section Operating System needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-05-19 16:03] stefbomdcs opened #93165 "Account level provisioned throughput for Table Api Cosmos DB account"
[Enter feedback here]
What about account level provisioned throughput for Table Api Cosmos DB account?
There is an option on Portal to set it, but once set that page is not loading anything.
![image](https://user-images.githubusercontent.com/65193853/169345968-9bd923f0-a8dd-4cfa-998d-78c592b70006.png)

Also, I couldn't find an option to set/change account level throughput through ARM REST API or t

[2022-05-19 16:03] jet-bct opened #93166 "Running the sample app gives error"
I registered the Azure App as instructed, and made the adjustments to appSettings.json
Run it and get the following:

AADSTS9002325: Proof Key for Code Exchange is required for cross-origin authorization code redemption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8027df4-5e60-69aa-1c0a-249053cb6e72
* Version Indep

[2022-05-19 16:04] GermanEZI commented on #93107
FOR ANYONE LEARNING ASP.NET Core 6,   beware the following article

[Build ASP.NET Core MVC apps with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/aspnet-core)

It IS very instructive, but all that code in Startup.cs ended up causing me problems when I tried to move it to Program.cs.   That article targets ASP.Net Core 5.   If you're still finding your way around Web APIs you

[2022-05-19 16:09] DavidSun20220 commented on #92901
Hey @whhender It's weird: after I post the request, I got nothing in Headers tab, but got some returns in the Headers below:
![4](https://user-images.githubusercontent.com/101605312/169347034-d529edfa-9238-4ff3-bece-3911a032ae9c.PNG)

Can I know what version of Postman you used? You installed it in your local computer or used it in the browser?

[2022-05-19 16:09] dylemma opened #93167 "Updates for MariaDB 10.3 Series"
I see the docs state MariaDB 10.3.23 as the supported version. Aaccording to https://mariadb.com/kb/en/release-notes-mariadb-103-series/ that was released two years ago and the current patch is 10.3.34.

When will the latest MariaDB version be supported by Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5e4798-

[2022-05-19 16:09] GeethaThatipatri-MSFT commented on #93163
Hi, @stefbomdcs Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-19 16:10] MonikaReddy-MSFT commented on #91718
@red-erik - Thank you for being patient while we looked into this issue in detail and we need to troubleshoot this further.

![image](https://user-images.githubusercontent.com/47833949/169347336-0d7a42e9-83a5-4ef5-9355-2d9ea68bce39.png)

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2022-05-19 16:10] #91718 closed

[2022-05-19 16:11] GeethaThatipatri-MSFT commented on #93165
Hi, @stefbomdcs Thanks for your findings, We will investigate and update as appropriate

[2022-05-19 16:11] MonikaReddy-MSFT commented on #92374
@dodge1350-frp  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-05-19 16:13] MonikaReddy-MSFT commented on #92857
@Gill-Bates - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-05-19 16:18] dylemma commented on #93167
The past several patches in the 10.3.x series have contained fixes for known security vulnerabilities, and the upcoming 10.3.35 contains even more. Not to mention bugfixes over the past 2 years.

[2022-05-19 16:27] whhender commented on #92901
@DavidSun20220 - I've tried both desktop and browser, and I get the same thing.
Desktop version - Postman v9.19.0

Do you have headers hidden by chance?
![image](https://user-images.githubusercontent.com/13474870/169350266-7651dd82-a120-4a0a-822e-a0441efbf48e.png)

Or is it possible you're running the request from a collection in Postman that has some settings pre-established?

[2022-05-19 16:35] JamesTran-MSFT commented on #93166
@jet-bct
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-19 16:38] JamesTran-MSFT commented on #93153
@pirminf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-19 16:39] #92926 closed

[2022-05-19 16:39] markjbrown commented on #93163
Hello @stefbomdcs thanks for your feedback.

This list is for issues related to docs bugs. If you wish to make feature requests or vote on them, please visit the Azure Ideas site. The feature in question can be voted on here, https://feedback.azure.com/d365community/idea/9f613bd4-0e25-ec11-b6e6-000d3a4f0858

Thanks.

#please-close

[2022-05-19 16:39] #93163 closed

[2022-05-19 16:41] JamesTran-MSFT commented on #92926
@jason1444
Thank you for your time and patience!

Since I haven't received a response from your end, I'll go ahead and close out this issue. If you continue running into this issue or would like to re-open thread, feel free to tag me and I'd be more than happy to continue working with you.

Thank you!

[2022-05-19 16:42] nateinindy opened #93169 "what is a job"
In the section that discusses "Concurrent jobs limit", it is stated that the value entered "Limit signifies the maximum concurrent jobs for each node".  Great, but what is this "job" concept you are introducing? Do you mean a Triggered Pipeline, so only 12 triggered pipelines could run concurrently? Or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-05-19 16:43] GeethaThatipatri-MSFT commented on #93163
Thanks, @markjbrown for the information.

[2022-05-19 16:47] seesharprun commented on #93165
#assign:seesharprun

#label:"product-bug"

[2022-05-19 16:48] fwd079 commented on #91660
Yup a running app was the issue. Cheers.

[2022-05-19 16:49] seesharprun commented on #93165
Thank you @stefbomdcs for bringing this to our attention. Unfortunately, this GitHub repo is only for changes and issues related to the documentation itself. The screenshot you shared is of a product feature not working in the way you expect.

The official mechanism for bug reports and feedback is here: https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html. Here, we can't take any a

[2022-05-19 16:49] #93165 closed

[2022-05-19 16:53] seesharprun commented on #93126
#assign:seesharprun

#assign:jcocchi

@jcocchi, can you provide some guidance here? The user wants to know more about the limitations to the ``ST_DISTANCE`` function. If needed, we can make an update to the doc.

[2022-05-19 16:53] seesharprun commented on #93126
#assign:jcocchi

[2022-05-19 16:53] PRMerger12 commented on #93126
Users seesharprun are already assigned.

[2022-05-19 17:01] darrenCampos opened #93170 "Update Initial Sentence"
[Enter feedback here]
"Every new Azure AD tenant comes with an initial domain name, <domainname>.onmicrosoft.com. **You can't change or delete the initial domain name, but you can add your organization's names**. Adding custom domain names helps you to create user names that are familiar to your users, such as alain@contoso.com."

This sentence is not 100% true these days, now we can add more .onm

[2022-05-19 17:11] KranthiPakala-MSFT commented on #93155
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-19 17:17] DerekHerman-MSFT commented on #93134
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 17:18] DerekHerman-MSFT commented on #93137
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-19 17:27] JamesTran-MSFT commented on #93104
@KhanSo10
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-19 17:27] #93104 closed

[2022-05-19 17:28] JamesTran-MSFT commented on #93170
@darrenCampos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-19 17:31] ChaitanyaNaykodi-MSFT commented on #93157
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-19 17:33] ChaitanyaNaykodi-MSFT commented on #93160
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-19 17:47] Blackmist commented on #93115
@sunnyhay There's currently no documented guidance on how to accomplish this with Azure Machine Learning and AKS. I've sent a request to the product group to see if this is something that they can provide guidance on. If so, my team will work with them to update the existing article or create a new one.

However, I can't provide any guarantees that this is something that they will want to document

[2022-05-19 17:47] reidmaker opened #93172 "This is very out of date"
This is very out of date, and doesn't include your new regions like WestUS3.  Please refresh it asap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.m

[2022-05-19 17:49] YutongTie-MSFT commented on #15515
@barisengez Sorry for missing your message. Let me check again to see if there any near future plan here. Thanks for pinging me.

[2022-05-19 17:56] RDukes425 opened #93173 "Update Allowed URLs for Government Portal"
Hello All,
I received a support case for inability to load resources in Portal and it was determined that the customer's network team is following this document to allow URL's. The below URL's were showing as blocked and were required to be added in order to load the resources accordingly. Can they be added to this document for future customers?

graph.microsoftazure.us
*.microsoftazure.us

---
##

[2022-05-19 17:57] pzimno commented on #89242
Hey guys, is this feature still in preview? We don't see the `(preview)` in the doc but get a
[code]
We tested in westus and asia clusters. Our sub still shows the preview
![Screen Shot 2022-05-19 at 12 56 57 PM](https://user-images.githubusercontent.com/18382872/169366469-bd1b2109-752b-455f-b175-e2c6f1901792.png)

[2022-05-19 18:04] JamesTran-MSFT opened #93174 "Test"
TEST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 455c7ecb-4214-5ad1-dc68-88ff558e98c7
* Version Independent ID: 381e1b03-06cd-64ac-c811-9e15fa0c4457
* Content: [Add your custom domain - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain)
* Content Source: [

[2022-05-19 18:22] #92756 closed

[2022-05-19 18:31] KranthiPakala-MSFT commented on #93169
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-19 18:32] spelluru commented on #92663
@jscottarmstrong - sorry for the late response. I have confirmed with the product team that the possible values are: **Delivered** and **Failed**. Updating the doc. The change will go live early next week. Thanks.

#please-close

[2022-05-19 18:33] sunnyhay commented on #93115
@Blackmist Thank you Larry! Please keep me posted once any progress is made on this topic.

[2022-05-19 18:35] JamesTran-MSFT commented on #93170
@darrenCampos
Thank you for pointing this out!

When it comes to the _initial_ `onmicrosoft.com` domain, this can't be deleted or changed. However, when you add additional `onmicrosoft.com` domains, these are added as _custom_ domains and can be deleted.
![image](https://user-images.githubusercontent.com/36619112/169373830-c66cb477-2bfd-4270-968a-a2b63eba2100.png)

Since our documentation is curre

[2022-05-19 18:35] #93170 closed

[2022-05-19 18:37] #93174 closed

[2022-05-19 18:37] sunnyhay commented on #93114
@Blackmist Thank you Larry! Please keep me posted once any progress is made on this topic.
I'm not sure if this provides some hint. See below screenshot. This is from my AKS cluster's deployment from AML artifact. From the YAML configuration of this deployment I notice some health port exists possibly for this purpose. But I tried and failed to get any positive result.

![image](https://user-image

[2022-05-19 18:38] darrenCampos commented on #93170
Hi @JamesTran-MSFT , you cannot delete the domain

![image](https://user-images.githubusercontent.com/89614767/169375702-9565a47c-b61d-4883-989a-207fbb8591ba.png)

Please review the Official doc I shared in the initial post "You must be a Global admin or a Domain Name admin to add a domain. Creating an additional .onmicrosoft domain and using it as your default will not do a rename for SharePoint

[2022-05-19 18:46] ChaitanyaNaykodi-MSFT commented on #93172
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-19 18:47] MonikaReddy-MSFT commented on #93106
Thanks for your dedication to our documentation. Although this question is beyond the scope of our feedback channel here on GitHub, which covers specific documentation fixes, we can help redirect you to the right technical support channel to get an answer to your question:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.html

Create a

[2022-05-19 18:47] #93106 closed

[2022-05-19 18:50] JamesTran-MSFT commented on #93170
@darrenCampos
Thank you for following up on this!

I received the same error when trying to delete the test `onmicrosoft.com` domains. I also found this [FAQ](https://docs.microsoft.com/en-us/microsoft-365/admin/setup/domains-faq?view=o365-worldwide#why-do-i-have-an--onmicrosoft-com--domain) speaking to the deletion of additional `onmicrosoft.com` domains.
![image](https://user-images.githubuserco

[2022-05-19 18:51] AjayKumar-MSFT commented on #92820
Thanks for sharing the workaround, Domze. I have relayed this internally to our product team, I'll share more updates as soon as I hear from them.

[2022-05-19 18:58] sameerag commented on #91973
@BennyHoang Can you confirm the headers are missing in the Angular v2 docs? @derisen Can you please update these if that is the case?

[2022-05-19 19:01] #93159 closed

[2022-05-19 19:01] tspring418 opened #93179 "Portal tab for pre-warmed instances has no option to change."
The portal tab for pre-warmed instances shows always ready instances to  be modified:
![image](https://user-images.githubusercontent.com/22082241/169381242-6c42bf1f-2d29-4568-8997-97e9ea20a6ef.png)

This has caused some confusion , please request to update!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0

[2022-05-19 19:03] traderhut opened #93180 "How do I login, or get the admin password?"
Two engineers, neither of us has access to the database we just created, 20+ minutes and still getting an error..

If you wanted to make this simpler, why not make it as hard as going to the moon the first time?

Good grief...
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905d9ba4-4c72-a0df-7780-

[2022-05-19 19:04] #93072 closed

[2022-05-19 19:09] kmkelly2015 commented on #70168
Any update?

[2022-05-19 19:10] kmkelly2015 commented on #70168
Any update?

[2022-05-19 19:16] SaiKishor-MSFT commented on #92895
@MauricioZa Thanks for pointing this. I tested and confirmed this to be true. We are working on updating the doc and the changes will be reflected soon. Thank you!

[2022-05-19 19:21] jeremyr-corteva opened #93183 "Key Vault CA Integration: DigiCert is mentioned when it should be GlobalSign"
In the following section: https://docs.microsoft.com/en-us/azure/key-vault/certificates/how-to-integrate-certificate-authority#azure-portal-globalsign

Point 1 mentions DigiCert, but should say GlobalSign

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406baadb-00bb-a08c-ebfa-bf5f4981842e
* Version Independent ID: 98589

[2022-05-19 19:23] Oury-MSFT commented on #93180
@traderhut Thank you for your query. How are those users trying to access the Azure SQL Database. I suggest to post this query on Microsoft Q&A to get more help from the community forums.

[2022-05-19 19:26] SaiKishor-MSFT commented on #92895
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-19 19:26] #92895 closed

[2022-05-19 19:26] MarileeTurscak-MSFT commented on #93183
@jeremyr-corteva
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-19 19:28] MarileeTurscak-MSFT commented on #93183
Thanks! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198751

[2022-05-19 19:28] #93183 closed

[2022-05-19 19:39] meenasaravanan02 commented on #60360
#sign-off

[2022-05-19 19:44] MarileeTurscak-MSFT commented on #92842
Thanks for the clarification. Just to confirm, are you saying that the users who are outside of the scope for password hash sync are still able to write back their passwords?

[2022-05-19 19:46] meenasaravanan02 commented on #60360
Hi @Leon99, We have included the requirement in the doc in the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/198752
#please-close this issue

[2022-05-19 19:46] #60360 closed

[2022-05-19 20:01] bastienperez commented on #92842
The users outside the scope for pass sync are not able to writeback their passwords. Azure AD Connect shows some errors. But this is not really my problem.

My problem is the users outside the scope can't change their password at all (from Azure AD). As far as I understand from the Microsoft docs, the password writeback should occur *only* for users in the scope for pass sync, but it's not, it's o

[2022-05-19 20:04] KranthiPakala-MSFT commented on #93098
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2022-05-19 20:04] #93098 closed

[2022-05-19 20:28] DavidSun20220 commented on #92901
Hi @whhender
Finally it worked. My old postman is V5 and I installed the latest version which works now. Maybe there was some configuration on the old version which I forgot. But anyway I will use the latest version instead.
Much appreciated!

[2022-05-19 20:33] mbiver opened #93184 "Difficulty passing the Authorization: Bearer token"
Hello, team.  I really struggled with how to pass the Authorization: Bearer section of the command below.

curl https://<STORAGE ACCOUNT>.blob.core.windows.net/<CONTAINER NAME>/<FILE NAME> -H "x-ms-version: 2017-11-09" -H "Authorization: Bearer <ACCESS TOKEN>"

I'm wondering if we could add a little more context here to help folks with how to pass the token gathered in the first curl command into

[2022-05-19 20:34] whhender commented on #92901
@DavidSun20220 -
Fascinating! I'm glad you've got it working. I'll add a note to the page in case others hit a similar issue, so they don't get stuck. It'll take a little while to appear as we're currently in a content freeze, but you'll see it pop up in a week or so!

Thanks for reaching out!

[2022-05-19 20:35] mbiver commented on #93184
the commands I put in the original post are not formatting correctly.  is there a way to escape the formatting so they display exactly as I pasted them?

[2022-05-19 20:36] mbiver commented on #93184
`export StorageAccount="Enter_Storage_Account_Here"
export ContainerName="Enter_Container_Name_Here"
export FileName="Enter_File_Name_Here"

export token=$(curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fstorage.azure.com%2F' -H Metadata:true | cut -d '"' -f4)

curl "https://$StorageAccount.blob.core.windows.net/$ContainerName/$FileName" -H

[2022-05-19 20:37] #92901 closed

[2022-05-19 20:39] sidkri opened #93185 "Timeout attribute information should include information about the throwOnError parameter"
On the page linked below, specifically the "Timeout Attribute" section, there is no mention of the throwOnError parameter.  By default, if this attribute is set, the default timeout behavior of a Function App (invocation is terminated on timeout of 5 minutes) is bypassed.  When the Timeout attribute is used, the default behavior is to just cancel the function invocation by setting the cancellation

[2022-05-19 20:44] meenasaravanan02 commented on #32728
Hi @MikeChristensen,
We have incorporated the details provided by you in the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198759
#please-close this issue

[2022-05-19 20:44] #32728 closed

[2022-05-19 20:46] Rodrigossz commented on #93124
Thank you for the contribution. A PR with more details was created and the doc will be updated in a few hours. #please-close

[2022-05-19 20:46] #93124 closed

[2022-05-19 20:48] whhender commented on #92901
#please-close

[2022-05-19 21:03] rpsqrd commented on #93101
Hi @DiChipi, can you tell us more about what you're trying to achieve (which deployment method) and link to the page you're trying to follow?

[2022-05-19 21:18] MartinJaffer-MSFT commented on #93169
Thank you for this excellent question @nateinindy .  I'm not entirely sure myself, so I will have to ask around internally.  I know the SHIR will not accept a new pipeline run, if all job slots are filled, so at minimum, a job is a pipeline run.  However, if a job = pipeline run, then why make the difference in terminology?  Therefore I think a pipeline is 1 or more jobs, depending upon the levels

[2022-05-19 21:33] derisen commented on #91973
@sameerag looking into it. @JamesTran-MSFT please assign this on me.

[2022-05-19 21:40] JamesTran-MSFT commented on #93184
@mbiver
When it comes to the doc-enhancement part of this issue, I've assigned this issue to the author who will investigate and update as appropriate.

If you're still having issues, I'd recommend leveraging our [Q&A forums](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue.

Thank you fo

[2022-05-19 21:52] meenasaravanan02 commented on #89641
Hi @Maggern3,
Thank you for the feedback. We want to better understand how to help address your concerns. What problems are you facing following the steps? Where exactly is the failure points happening? Please provide additional details so we can enhance the documentation.

[2022-05-19 22:17] MarileeTurscak-MSFT commented on #93161
Thanks! I made a pull request to add the role and the role description, since this role still exists in the portal. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198775

It may take a week or two for the changes to go live.

| [Storage Account Backup Contributor](#storage-account-backup-contributor) | Lets you perform backup and restore operations using Azure Backup on the storage account. |

[2022-05-19 22:17] #93161 closed

[2022-05-19 22:42] MarileeTurscak-MSFT commented on #93116
This aligns with what we have in our corresponding documentation. https://docs.microsoft.com/en-us/azure/active-directory-b2c/stringcollection-transformations

I made a pull request to update the documentation and will leave it open for review by @CelesteDG . It may take a week or two for the changes to go live .

https://github.com/MicrosoftDocs/azure-docs-pr/pull/198778

[2022-05-19 22:42] #93116 closed

[2022-05-19 22:54] bburner commented on #87617
I came here in a search for what it does with 202 responses. Why was this issue closed? I have yet to find details on how it handles these types of responses.

[2022-05-19 23:03] SaiKishor-MSFT commented on #92982
@normesta Can you please look into this?

[2022-05-19 23:03] tamram commented on #52756
@acarrillo - You can easily revoke a user delegation SAS (a SAS that is signed with Azure AD credentials) - see here: https://docs.microsoft.com/rest/api/storageservices/create-user-delegation-sas#revoke-a-user-delegation-sas

To revoke a service SAS, Microsoft recommends that you use a stored access policy. See here: https://docs.microsoft.com/rest/api/storageservices/define-stored-access-policy#

[2022-05-19 23:07] roygara commented on #92870
@larryclaman Thanks for bringing this to our attention, we appreciate it!

We've since updated the script so, I'm closing this out.

#please-close

[2022-05-19 23:08] #92870 closed

[2022-05-19 23:10] bburner opened #93190 "ADF Web Activity Doc Missing 202 Response Handling"
The Web Activity gracefully handles 202 responses by polling status and returning the final completed status. However, none of this is detailed in the documentation. Please document this behavior. Additional details would be nice. For example:

- When is this feature supported? Are there limitations?
- How often is the status endpoint polled?
- Is there a way to see original 202 header / response

[2022-05-19 23:35] dineshkuncham7 commented on #69947
Same here, did anyone managed to solve this?

[2022-05-19 23:39] DerekHerman-MSFT commented on #93167
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-20 00:10] junpark12 opened #93192 "Documentation about Lifecycle Policy Completed."
[Enter feedback here]
Hi. I don't see any documentation about "Lifecycle Policy Completed" event. It's one of event types when we create event subscription on the portal. Do you have any plan to update document related this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98043a34-9c8a-67b1-78f7-1dc322100e79
* V

[2022-05-20 01:53] BryanTrach-MSFT commented on #93185
@sidkri Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 01:54] tomatsue opened #93193 "A password with a trailing whitespace doesn't work in ROPC flow"
Azure AD allows leading or trailing whitespaces in a [password](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#password-policies-that-only-apply-to-cloud-user-accounts). The password works on an interactive sign in page.
However, in the ROPC flow, it results in AADSTS50126 error. I confirmed this is not a client issue.
So, it would be helpful if the limi

[2022-05-20 02:25] RobbieLD commented on #57861
Can confirm this is still working. For anyone using powershell just run `$env:NODE_TLS_REJECT_UNAUTHORIZED=0` before you start your app from the same terminal.

[2022-05-20 02:33] sreekzz commented on #92563
@aysark @KranthiPakala-MSFT
Modified the document. As there is a freeze on merging the doc builds, it will be available on the public facing documents on May 25, 2022.

[2022-05-20 02:56] tigormanmsft opened #93198 "Explanation of ReadOnly and ReadWrite caching is incorrect and dangerous"
In the section entitled **[Virtual machine uncached vs cached limits](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-performance#virtual-machine-uncached-vs-cached-limits)**, there is an explanation of ReadOnly and ReadWrite host-caching as follows...

[code]

This explanation is completely incorrect and very dangerous.  The correct explanations are...

- ReadOnly - only caches read

[2022-05-20 03:03] ubk1004 opened #93200 "Slot swap failing for Azure function with private endpoint"
Could you please update the documentation to include the configurations required for a slot swap operation to complete successfully for an Azure Function where both the function and it's storage account are secured with private endpoints?

Since the private endpoint can be enabled only for one of the slots, the production slot in my case, the other deployment slot had public access enabled (I adde

[2022-05-20 04:17] xiaomi7732 opened #93202 "Will the paging algorithm breach a full query on all resources?"
Here's the code copied for `Example #1 of an optimized grouping approach`:

When subscriptionId.Count is divisible by groupSize, will the last iteration leads to `currSubscriptionGroup` be null, and query all available subscriptions for the credential?

[code]

For example, groupSize = 100, itemCount = 100, subscriptoinIds.Count / groupSize = 1;
Iteration 0: will query subscription ids indexed 0 t

[2022-05-20 04:53] shashishailaj commented on #93193
@tomatsue Thank you for your feedback . We will investigate and update the thread.

[2022-05-20 05:16] MughundhanRaveendran-MSFT commented on #93097
@norvegec ,
Microsoft.Azure.Functions.Extensions.DependencyInjection.FunctionsStartup has ConfigureAppConfiguration method that can be overridden in the startup.cs, below is the Functionstartup class

https://github.com/Azure/azure-functions-dotnet-extensions/blob/main/src/Extensions/DependencyInjection/FunctionsStartup.cs

[2022-05-20 05:16] GitaraniSharma-MSFT commented on #92907
@ayummatsu , the PG team has updated this doc from the backend with the correct wording to avoid confusion and the changes will reflect soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-05-20 05:16] #92907 closed

[2022-05-20 05:26] g7crservice-harshita-gupta opened #93203 "Not able to publish saas offer using partner center ingestion api(Submission api)."
**For reference:** https://ingestionapi-swagger.azureedge.net/#/

**Problem:** I am able to create the submission with 202 status but calling validations api its giving below error body and my publish request got failed. Need solution for the below problem. API Requests are mentioned below.
{
    "value": [
        {
            "errorCode": "Resell-20007",
            "severity": "Error",

[2022-05-20 05:41] AnuragSharma-MSFT commented on #92958
@pnarsi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-20 05:41] #92958 closed

[2022-05-20 05:50] Vincent0818 commented on #92906
thanks and i did some testing toward US Dest IP from Azure HK VM then it indeed routed to the US to customer IP. i think this was due to some "definition" of "Microsoft internet". from WAN team perspective, the teams and Azure public IP along with other serivce are premium service which majority of journey would be through Azure backbone. for else service IP (not sure acutually) would follow the d

[2022-05-20 06:00] preetesh33 commented on #93072
Raised below bug with SDK team.
https://github.com/Azure/azure-sdk-for-python/issues/24538

[2022-05-20 06:02] ram-msft commented on #92938
Thanks, @vadthyavath Can you please help on this.

[2022-05-20 06:11] sreekzz commented on #73250
@sunscorch, We are working on Kafka MirrorMaker 2.0 Guide, which will take care of the issues reported. The new doc which will be available in next week.

[2022-05-20 06:16] henrymbuguakiarie commented on #79261
#please-close

[2022-05-20 06:16] #79261 closed

[2022-05-20 06:18] mikoiv opened #93204 "Build number is now in use, document says it's not"
The document currently states, in the end of "Discover your rule's template version number" chapter:

_The number is in a “1.0.0” format – major version, minor version, and build. (For the time being, the build number is not in use and will always be 0.)_

This seems to be old information, as in the actual current Sentinel Analytics Rule templates I am seeing build numbers being updated now.

---

[2022-05-20 06:25] ramepetla opened #93205 "What is purpose of having Cloned Instance of NFS Server"
[Enter feedback here]

Document have instructions for having Cloned NFS Server on Standby Node. What is the purpose of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3ab1317-c090-0830-4fcd-8fe6c9e2bdb1
* Version Independent ID: 9701e355-e742-6e2c-e6a7-3b131f257228
* Content: [High availability for NFS on Azure V

[2022-05-20 06:39] MichaelBrooks-Informatyx opened #93206 "Bug in provided code"
[Enter feedback here]
The code downloaded from Github contains a bug. Data\SampleWeatherData.cs method GetSampleData omits populating field ObservationTime. Consequently, when the user attempts to populate the table from the sample data, an Azure.RequestFailedException is thrown from line 110 of Services\TablesService.cs (the UpsertEntity statement at the end of method UpsertTableEntity) with mess

[2022-05-20 06:51] gsxmax opened #93207 "Need to clarify Planned Maintenance feature would not affect underlay update."
As title, per discussing with feature owner, this Planned Maintenance would not take effect on underlay update part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae4303e-dc21-d795-49ae-3798906fcd53
* Version Independent ID: e503495c-bb1c-2956-cc81-79f9d7188b67
* Content: [Use Planned Maintenance for your Azure Kuber

[2022-05-20 06:59] Maciejszuchta commented on #92979
Any updates on that?

[2022-05-20 07:12] malavann opened #93208 "Anomali Limo feeds provide only out-dated information"
I've noticed that the Anomali Limo feeds provide Threat Intelligence data that is several years old. There are no new entries in the provided collections after 2020. The use of Anomali Limo should not be promoted as in its current state, it doesn't provide any usable threat intelligence data. This should be mentioned on the page or update the guidance to use another TAXII source, such as IBM X-for

[2022-05-20 07:16] shashishailaj commented on #92981
@Shalzayed Thank you for your feedback . We have verified this and have initiated a change request .

![image](https://user-images.githubusercontent.com/532022/169474085-eb85c7b2-72b4-45ca-b88e-08e8c870f6eb.png)

The changes will be live once the content team approves it .

Thank you .

[2022-05-20 07:16] #92981 closed

[2022-05-20 07:42] PriyankaRudramaina commented on #93207
@gsxmax

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-20 07:47] Givary commented on #93080
@jeroenbeuz Apologies for the delay, similar concern/findings were reported by another customer as well, we have raised the change request to update microsoft.com to live.com in the document, will be updated soon. Thank you once again for pointing this issue. Reference: https://github.com/MicrosoftDocs/azure-docs/issues/93052

[2022-05-20 07:47] #93080 closed

[2022-05-20 07:47] AnuragSharma-MSFT commented on #93206
@MichaelBrooks-Informatyx Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-20 07:49] rlehmani opened #93209 "Entity ID configuration typo error"
The tutorial claims in "Configure FortiWeb Web Application Firewall SSO 3.f" to copy the "Azure AD Identifier" in the entity field in FWB. This is wrong. the entity ID should be the same as under "Configure Azure AD SSO 4.a".

Thanks
Rafael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56275fbd-08f5-75c9-a365-e6858086

[2022-05-20 08:01] hansmbakker commented on #92543
@Minewiskan thank you for updating the article:

Small feedback: currently two limitations about connecting to Analysis Services are listed in separate parts, and in normal text:
- > Connecting to an Azure Analysis Services resource is not supported in Excel for the web.
- > Connecting by using the Import Table Wizard in Power Pivot is not supported.

I think it would be clearer to customers if th

[2022-05-20 08:03] shwetamathur7 commented on #93209
@rlehmani Thank you for your feedback. We will investigate and update the thread.

[2022-05-20 08:20] simon-says-test opened #93210 "Out-of-date screenshots"
Hi,

I think one of the screenshot are out-of-date (5a) since it shows "Security Centre" rather than "Microsoft Defender for Cloud". A very minor point I know.

Thanks,

Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b890467-2154-bff9-05e1-816013515030
* Version Independent ID: 2195ebb4-3ac8-5112-c331-528bd9b91e

[2022-05-20 08:39] parabolic123 opened #93211 "SAML Certificate Renewal - ServiceNow"
Hi,
Please can you advise whether ServiceNow can automatically access the SAML certificate when it's renewed?

Will a manual XML exchange be required when the certificate is renewed?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad82c7c8-2bda-ee68-97db-66da6e17646f
* Version Independent ID: b6b8a9bc-6581-859b-

[2022-05-20 08:45] YutongTie-MSFT commented on #93077
Hello @baxteran

Yes, this is still working. When you click the ![image](https://user-images.githubusercontent.com/38084098/169490204-e53f76f2-26a5-4179-989c-0de55d7c5147.png) if will redirect you to create your own repo as below:
![image](https://user-images.githubusercontent.com/38084098/169490358-a92fb39f-e57f-4624-9f17-d021bf43ebd5.png)

You can fill your own repo name then you will have the r

[2022-05-20 08:45] #93077 closed

[2022-05-20 08:51] cephalin commented on #92848
@msangapu-msft Can you take a look, since you made the update for az webapp up?

[2022-05-20 08:58] SadiqhAhmed-MSFT commented on #93173
@RDukes425 Thank you for your feedback. We will review this request with the content owner and update as appropriate.

[2022-05-20 09:03] SadiqhAhmed-MSFT commented on #93190
@bburner Thank you for your feedback. We will work with the content owner to review and update the documentation.

[2022-05-20 09:15] AnuragSharma-MSFT commented on #93210
@simon-says-test Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-20 09:27] jainrohitk opened #93212 "Should remove the special character in the end of the KQL"
[Enter feedback here]
Please remove the last special character ` sign from the below KQL from this page.

Usage
| where Solution == "LogManagement" and iff(isnotnull(toint(IsBillable)), IsBillable == true, IsBillable == "true") == true
| summarize AggregatedValue = count() by DataType `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-05-20 09:44] AnnuKumari-MSFT commented on #92910
@xwang30 / @leifbro ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-05-20 09:46] #92726 closed

[2022-05-20 09:48] PingPongSet opened #93213 "Error with the video"
There is an error loading the video.

![image](https://user-images.githubusercontent.com/2021414/169502304-5d70f3cf-ed83-494e-b432-b6b01ae7fab7.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65693a51-ca12-9358-bf77-3534d308d936
* Version Independent ID: 4dd455ce-0a42-e101-dec6-d803bd67a5e3
*

[2022-05-20 09:55] MughundhanRaveendran-MSFT commented on #93179
@tspring418 , In this context, the pre warmed instance refers to the "Minimum instances". The default pre-warmed instance count is 1, and for most scenarios this value should remain as 1. In the image, the minimum instance is set to 1 as shown. I dont think the doc needs to be updated.

Hope this clears the confusion. I am closing the issue for now. Feel free to reopen if required.

[2022-05-20 09:55] #93179 closed

[2022-05-20 10:19] SadiqhAhmed-MSFT commented on #93192
@junpark12 Thank you for your feedback. The issue has been assigned to the doc owner for further review.

[2022-05-20 10:37] bonsenz commented on #54436
any updates on this? There is still an example in the documentation which does not work.

https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity

_Set up the session_

[code]

_GetPlatformPointer()_ is not defined !

[2022-05-20 10:46] DiChipi commented on #93101
Hi Ryan

I'm trying to connect the on prem machines to Azure arc via group policy.

Instructions are provided on this link
https://docs.microsoft.com/en-us/azure/azure-arc/servers/onboard-group-policy

I've tried a bunch of options all week, but nothing seems to work.

Thinking the -executionpolicy bypass -command does not work.

Or there are other prerequisites missing. The powershell script work

[2022-05-20 10:49] Sifpils opened #93214 "Please keep up to date"
Please update screenshots from Azure portal, command line has changed position.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-9220-53c1-bc1fe35eef6d
* Content: [Azure Cloud Shell Quickstart - Bash](https://docs.microsof

[2022-05-20 11:20] shwetamathur7 commented on #93211
@parabolic123, Thanks for reaching out. Unfortunately, this forum is only for documentation issues and not for functionality issues. This issue doesn't seem to be related to this document, but such functionality issues are investigated at [Microsoft Graph Q&A](https://docs.microsoft.com/en-us/answers/index.html). Please raise the question there with related tags.

Thanks for your support and patie

[2022-05-20 11:20] #93211 closed

[2022-05-20 11:26] mtyeager commented on #92938
I ultimately did come across a VOC 2 JSONL script. Its in the same general vicinity, but an explicit link would help.

https://github.com/Azure/azureml-examples/blob/main/python-sdk/tutorials/automl-with-azureml/image-object-detection/auto-ml-image-object-detection.ipynb

[2022-05-20 11:27] SadiqhAhmed-MSFT commented on #93203
@g7crservice-harshita-gupta Could you please share the document you are referring to?

[2022-05-20 11:29] SadiqhAhmed-MSFT commented on #93198
@tigormanmsft Thank you for your post. We will review the information you shared with the content team and update as appropriate.

[2022-05-20 11:32] g7crservice-harshita-gupta commented on #93203
@SadiqhAhmed-MSFT
1. https://ingestionapi-swagger.azureedge.net/#/
2. https://arsenvlad.medium.com/using-partner-center-ingestion-api-for-managing-azure-application-offers-in-azure-marketplace-b47b290dd947

[2022-05-20 11:40] norvegec commented on #93097
Thx for source file, I've managed to track down when this method was added.
I guess it worth mentioned in docs that this method is available since `Microsoft.NET.Sdk.Functions` ver. `3.1.0` (actually internally even since staging 3.0.18).

[2022-05-20 11:43] SainiVijayProgram commented on #54423
I guess you were facing issue due to timeout. You can increase timeout to fix the isssue.

[2022-05-20 11:48] norvegec commented on #93097
But this virtual method still hasn't make it's way to the `Microsoft.NET.Sdk.Functions` package, correct?

[2022-05-20 11:49] Givary commented on #93143
@korpx I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-20 11:51] MughundhanRaveendran-MSFT commented on #93097
@norvegec , Yes. It is a part of Microsoft.Azure.Functions.Extensions package which you will have to add it exclusively

[2022-05-20 12:10] johnnyqian opened #93217 "Typo for Microsoft.Sql/unregister/action"
The description for "Microsoft.Sql/unregister/action" :

Should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure resource provider operations](https://docs.microsoft.com/en-us/azure/role-based-access-c

[2022-05-20 12:58] RecursiveGeek opened #93219 "Unable to access https://myapps.microsoft.com using Microsoft Account (Personal Account)"
When browsing via InPrivate Edge browser (tried other browsers with the same results) to https://myapps.microsoft.com and logging in with my Personal Account (a.k.a. Microsoft Account which has an @outlook.com email address), I successfully authenticate.  But, then the following message appears:

  You can only access this site with a work account.
  Sign out to log in with another account.

The "

[2022-05-20 13:23] johnnyqian commented on #93217
Send a PR for this issue: https://github.com/MicrosoftDocs/azure-docs/pull/93220

[2022-05-20 14:03] mbender-ms commented on #91979
Doc has been reviewed, and the the suggested update will be applied after content freeze is lifted.

#Please-close

[2022-05-20 14:03] #91979 closed

[2022-05-20 14:16] ailwqqqssdsaasfaddqag commented on #91979
fb

في الجمعة، ٢٠ مايو ٢٠٢٢ ٥:٠٤ م PRMerger20 ***@***.***> كتب:

[2022-05-20 14:20] rpsqrd commented on #93101
Can you swap -Command for -File?

powershell.exe -ExecutionPolicy Bypass -File "C:\path\to\your\script.ps1"

It would also be good to know which OSes you've tried this on.
________________________________
From: DiChipi ***@***.***>
Sent: Friday, May 20, 2022 6:46 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ryan Willis ***@***.***>; Comment ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs]

[2022-05-20 14:26] g7crservice-sajid-f commented on #93203
Hi @SadiqhAhmed-MSFT could you please escalate it?

[2022-05-20 14:46] JamesTran-MSFT commented on #93217
@johnnyqian
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 14:47] tuckwelladev opened #93221 "Additional Guidance required if using AD DNS Windows Services in Azure."
As part of a recent customer engagement, it was found there is specific configuration required when using AD Integrated DNS for both the Conditional Forwarder On-Premises, but also AD Integrated DNS as a DNS Forwarder hosted in Azure.

When configuring the Conditional Forwarder within the On Premises AD Integrated DNS server you need to ensure that you do NOT replicate the Conditional Forwarder to

[2022-05-20 14:48] JamesTran-MSFT commented on #93219
@RecursiveGeek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 15:02] v-carpenterd commented on #92601
@katergin - This worked for me: Instead of adding an authorization header, I used the Authorization tab in postman > select 'Bearer token' > enter token into field.

[2022-05-20 15:09] mbender-ms commented on #79662
Reviewing article and updating as needed.

[2022-05-20 15:10] ALMSLabs opened #93223 "Security Admin also has permissions to Apply security recommendations"
Please review the article for clarification: https://techcommunity.microsoft.com/t5/microsoft-defender-for-cloud/assigning-permissions-in-microsoft-defender-for-cloud/ba-p/1694069

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8d64db-117b-a6ae-61d6-809906c9ebb9
* Version Independent ID: 92edcbb4-a2bd-f40a-14fd-e495d8

[2022-05-20 15:14] mbender-ms commented on #79662
@roberbr peering is supported [across Azure AD Tenants](https://azure.microsoft.com/en-us/updates/cross-aad-vnet-peering/)

[2022-05-20 15:20] #79662 closed

[2022-05-20 15:34] reyasmohammed opened #93224 "Link broken"
The below link is broken, giving 404 error

https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines-run-commands/run-command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-624f-7daf-02de97121e13
* Version Independent ID: b70d481f-b351-bb38-cb49-1cda63422968
* Content: [Run scripts in a Linux VM

[2022-05-20 15:51] TeplrGuy opened #93225 "App Service setting "WEBSITE_ENABLE_DNS_CACHE" is not referenced anywhere in docs."
It seems there are no reference to the App Setting "WEBSITE_ENABLE_DNS_CACHE" anywhere.
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/app-service/reference-app-settings.md

Can it please be added?

[2022-05-20 15:57] HeidiSteen commented on #91048
Hello @nswitanek  The docs are now updated, but the changes won't go live until early next week.  In the mean time, you can refer to this end-to-end sample in Github (it's the same index definition that appears in the docs):  https://github.com/Azure-Samples/azure-search-postman-samples/blob/master/skill-examples/custom-entity-lookup-skill/README.md

I'll close this issue since I think it's been a

[2022-05-20 15:57] #91048 closed

[2022-05-20 16:00] 0bOne opened #93226 "Request for diverse examples"
Every single example of authorization uses graph API.  Everywhere.  Without a contrasting example for comparison, it is not possible to determine which parts of the example are specific to the graph API and which parts will differ for another API.

Can we have a good solid example of who to call the Database API, or an Azure Function please?  Including how you set up authorization in AAD, how you

[2022-05-20 16:14] kobulloc-MSFT commented on #93224
@reyasmohammed Thank you for bringing this to our attention!  The correct link should be:
https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-run-commands

I'll get a PR out to address this which should go live midweek.

[2022-05-20 16:31] katergin commented on #92601
@v-carpenterd thanks! I'll see if it works for me when I get a chance.

[2022-05-20 16:35] DerekHerman-MSFT commented on #93200
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 16:35] sgraymsft opened #93227 "Seamless SSO OS/Browser table should be updated to include Win 11"
Seamless SSO OS table needs updated to include Windows 11.

Text above is clear on supportability "It is supported on web browser-based clients and Office clients that support modern authentication on platforms and browsers capable of Kerberos authentication:"

But I think Win 11 should be listed on OS table, even if this is more down level OS feature
![image](https://user-images.githubusercontent

[2022-05-20 16:37] DerekHerman-MSFT commented on #93202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 16:40] KY0915 commented on #92576
The issue was resolved by unchecking AAD only auth in the Azure SQL Server which had the database. AAD only auth seems to interfere with SSISDB provisioning process as it involves creating SQL User.

[2022-05-20 16:40] #92576 closed

[2022-05-20 16:41] DerekHerman-MSFT commented on #93203
This issue bucket is for bugs or feedback related to docs.microsoft.com. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If you feel there is an issue with the documentation, please open up a new thread by using the link on the bottom of

[2022-05-20 16:41] #93203 closed

[2022-05-20 16:45] JamesTran-MSFT commented on #93227
@sgraymsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-20 16:46] JamesTran-MSFT commented on #93226
@0bOne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-20 16:57] diwhitman-msft opened #93228 "Customer requirements for credit risk check"
Can we add requirements for the customer's credit risk check when they open a support ticket? Support tickets for credit risk checks currently take 30+ days to close and have an average CSAT score of 4.43. I have the credit risk check requirements provided by GTFS and ready to add to this Microsoft Doc if allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-05-20 16:58] HeidiSteen commented on #93017
@squassina  This is just a suggestion that may unblock you.  The PII skill is available through the Import Data wizard in the search service page in Azure portal.  The wizard creates all of the objects and object references.  You'll have to load your PII test data into an external file that the wizard (indexer) can read.  I think uploading to a blob container is always the simplest.  Hope that hel

[2022-05-20 17:03] cynthn commented on #81744
#please-close Thanks for the feedback. I'm updating the doc, but it won't go live until after 5/24 (start of the Build conference).

[2022-05-20 17:04] #81744 closed

[2022-05-20 17:18] ChaitanyaNaykodi-MSFT commented on #93221
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-20 17:19] ameymulay opened #93229 "RoleDescriptor Step - Not Required"
[Enter feedback here]
The points mentioned below in the document are no longer required to be performed as guided by the Qlik Technician :

a. Open the FederationMetaData.xml file, which you have downloaded from Azure portal in a text editor.

b. Search for the value RoleDescriptor. There are four entries (two pairs of opening and closing element tags).

c. Delete the RoleDescriptor tags and all i

[2022-05-20 17:29] MarileeTurscak-MSFT commented on #93229
@ameymulay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 17:36] MarileeTurscak-MSFT commented on #93229
Hi @ameymulay, could you please provide more context around the suggested change?

[2022-05-20 17:37] MarileeTurscak-MSFT commented on #93223
@ALMSLabs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 17:43] MarileeTurscak-MSFT commented on #93223
Thanks! I made a pull request to update the description. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198827

[2022-05-20 17:43] #93223 closed

[2022-05-20 17:44] MarileeTurscak-MSFT commented on #93204
@mikoiv
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 17:45] MarileeTurscak-MSFT commented on #93208
@malavann
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-20 17:51] MartinJaffer-MSFT commented on #93213
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-20 17:57] SadiqhAhmed-MSFT commented on #93173
@JnHs Could you please review this request and assist further?

[2022-05-20 17:57] MartinJaffer-MSFT commented on #93213
Hello @PingPongSet .  I went to the page and tried viewing the video.  It seemed to work for me (see below)
![videolink](https://user-images.githubusercontent.com/46612670/169584599-8df5652d-9c35-4aeb-9c5c-0a891b1fd884.gif)

Could you please try the below steps and let me know if any of them help?
- reload page
- restart browser
- try different browser
- check for browser updates
- try different c

[2022-05-20 17:58] SadiqhAhmed-MSFT commented on #92742
@mepand Could you please answering the follow up question?

[2022-05-20 17:59] MartinJaffer-MSFT commented on #93213
Also, @PingPongSet did the video ever start, or was it aborted in the middle?

Did it reach the end? I notice your screenshot has 7:16 in it, which is the length of the video.

[2022-05-20 18:04] lon-tierney opened #93231 "Dependencies for Workspace Packages"
[Enter feedback here]

The Workspace packages section should have a note that in Data Exfiltration configuration, all dependency wheel packages need to be added to the Workspace Packages before applying them to a cluster (as Conda can't go to the internet to download dependencies).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-05-20 18:05] MarileeTurscak-MSFT commented on #93204
Thanks! I made a pull request to remove the outdated line. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198830

[2022-05-20 18:05] #93204 closed

[2022-05-20 18:06] lon-tierney opened #93232 "Storage Account Spark Version Update"
[Enter feedback here]

Suggest updating Spark Version limitation for Storage Account library management method to state "Spark 3.0 and later".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4575464f-6077-3404-06ab-229c6d35670b
* Version Independent ID: aaee2971-425a-2c1a-118a-503ca34fdc6d
* Content: [Manage Python libr

[2022-05-20 18:09] lon-tierney opened #93233 "Track Installation Progress/Log Truncation"
[Enter feedback here]

It seems that Synapse truncates the Stderr and Stdout logs after job completion. The "Track Installation Progress" section should be more prominent and stated as a required process to see actual log output from library management jobs. It should also note that the logs must be downloaded before refreshing or leaving the log view, as returning will truncate them.

---
#### Do

[2022-05-20 18:19] RyanHill-MSFT commented on #93228
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-20 18:22] brianlehr commented on #92906
Yes - the naming can be a bit confusing.

- **Routing preference = Microsoft Network** is the default and "premium" experience, where the traffic stays on the Microsoft WAN as long as possible for both ingress (jumping onto network at edge closest to user) and egress (leaving network at edge closest to user).
- **Routing preference = Internet** is a low-cost option (but not default, it must be cho

[2022-05-20 18:22] brianlehr commented on #92906
#please-close

[2022-05-20 18:22] #92906 closed

[2022-05-20 18:22] abhaybhangale opened #93234 "How to persist the debug settings?"
I have a dataflow in which I have to manually set the row limits for about 20+ datasets each time i need to debug. Every time i save my changes or publish, the debug settings are lost and i have to manually restore them.  Is there a way to persist these settings so that i don't lose them, or import them from a file so as to not have to type them in.

---
#### Document Details

⚠ *Do not edit this

[2022-05-20 18:34] DerekHerman-MSFT commented on #93205
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 18:35] MarileeTurscak-MSFT commented on #92842
Thanks for clarifying. I made a pull request to add a note about the behavior for out-of-scope users. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198837

[2022-05-20 18:35] #92842 closed

[2022-05-20 18:48] jaganpt commented on #89965
any update on this?

[2022-05-20 19:08] KranthiPakala-MSFT commented on #92909
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-05-20 19:08] #92909 closed

[2022-05-20 19:17] miyake-kroger opened #93236 "Commands Set-AzSqlServer and Get-AzSqlServer not work in synapse sql serveless built in."
[Enter feedback here]
This section: Enable service principals to create Azure AD users not work on Synapse built in serveless.

Set-AzSqlServer and Get-AzSqlServer ...
How are the correct form to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d473559-c689-bb1f-9731-37900978b289
* Version Independent ID: f183c

[2022-05-20 19:28] inovacode commented on #47220
@Exodus can you be more specific with the command that is needed to run here?  I have this issue and can't get the command to work.

[2022-05-20 19:32] DerekHerman-MSFT commented on #93214
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-20 19:46] pragnagopa commented on #47749
Same is needed for Function Apps

[2022-05-20 20:16] mtyeager opened #93238 "Running Visualize Input Data in remote compute"
[Enter feedback here]

I am running the code from this page under "Visualize input data" in a compute instance.

The code seems to run fine, the image and data appear to be drawn but where, no image or boxes are displayed in ML Studio or in VS Code connected to the compute instance.

Wondering if this code only works if you are running it locally and not when running in a compute instance?

Any th

[2022-05-20 20:22] DerekHerman-MSFT commented on #93212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 20:33] msangapu-msft commented on #92848
Hi all, I missed that PHP wasn't supported. It worked for me, see here:
![image](https://user-images.githubusercontent.com/49697512/169606106-94551eee-8748-4e49-9358-88c51eee523f.png)
However, if it's not officially supported, it shouldn't be documented. Content updates are on hold this week so give me until EOW next week to get this sorted out, thanks!

[2022-05-20 20:41] dposada opened #93239 "Incorrect command for "Create the firewall resources" step"
The "Create the firewall resources" step on this document appears to have an incorrect command:

[code]

![image](https://user-images.githubusercontent.com/444778/169607543-98e680d4-21f3-46b1-ab56-2075e562c02d.png)

It appears to have been copied from the previous step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a

[2022-05-20 20:50] meenasaravanan02 commented on #60038
Hi @WhitWaldo,
Thanks for your feedback.  We have incorporated your suggestions into the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198840
#please-close this issue

[2022-05-20 20:50] #60038 closed

[2022-05-20 21:18] GeethaThatipatri-MSFT commented on #93236
Hi @miyake-kroger Thanks for your findings,We will investigate and update as appropriate

[2022-05-20 21:54] Karishma-Tiwari-MSFT commented on #93239
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 22:19] nickludwig commented on #92712
Hey @SunandaChowdhary - check out this link, it has some info about profile images on MS Graph [https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0](https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0)

My apologies, but I'm not the right person to help further. I'd recommend posting to stack overflow if you have any follow up questions. I'm

[2022-05-20 22:19] nickludwig commented on #92712
#please-close

[2022-05-20 22:19] #92712 closed

[2022-05-20 22:39] brianlehr commented on #69949
Hello team -- apologies that this issue has been outstanding for so long.

- A description for the different zonal options is available here: [https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-availability-zones](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-availability-zones), and we will add something similar for the Public IP page for cla

[2022-05-20 22:50] DerekHerman-MSFT commented on #93225
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-20 23:20] lon-tierney opened #93242 "Suggest stating specific whl package versions"
[Enter feedback here]

I suggest you specify explicitly what package versions are required for Azure Synapse pools - such as Linux, 64 bit, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4575464f-6077-3404-06ab-229c6d35670b
* Version Independent ID: aaee2971-425a-2c1a-118a-503ca34fdc6d
* Content: [Manage Python li

[2022-05-21 02:59] DerekHerman-MSFT commented on #93231
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-21 03:00] DerekHerman-MSFT commented on #93232
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-21 03:30] YutongTie-MSFT commented on #93238
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-21 03:51] jamesongithub commented on #69949
Thanks. The load balancer page also calls it the same thing though.

How about "Random Zone" instead of "Non-Zonal"?

Calling it "No-Zone" Or "Non-Zonal" is what led to this confusion.

[2022-05-21 05:44] DerekHerman-MSFT commented on #93233
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.