[2018-06-29 08:09] #10517 closed

[2018-06-29 08:10] femsulu commented on #10570
@OleksaDev We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 08:10] #10570 closed

[2018-06-29 08:23] hansgschossmann opened #10958 "config.yaml not showing <ip_address>"
downloaded the package today and the config.yaml does not say &lt;ip_address&gt; in the management_uri and workload_uri, but &lt;GATEWAY_ADDRESS&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart A

[2018-06-29 08:24] gmantri opened #10959 "How to find the zone name?"
Documentation states that the endpoint for a static website hosted in Azure Storage will be of `<account-name>.<zone-name>.web.core.windows.net` type. How can one find out the zone name programmatically?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1

[2018-06-29 08:28] timjroberts-inty opened #10960 "Can't find 'azds'"
When generating the Helm and Docker assets, the docs call for you to run `azds prep --public`. However, the `azds` command doesn't appear to be on my path, and I'm not sure what has installed it. I have installed version 2.0.38 of the `azure-cli` but can't get beyond this point in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-29 08:33] femsulu commented on #10849
@tfitzmac I don't see Sendgrid on either the "can be moved" vs the "cannot be moved" list. Can you confirm if Sendgrid can be moved?

[2018-06-29 08:36] blueelvis opened #10961 "Link broken"
The link is broken for (Microsoft.Azure.Extensions.CustomScript) . Also, maybe add the context in which the script would be running. Like will it have sudo privilleges? If yes, which user account does it use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec45418f-2503-415d-12c1-3165be164c69
* Version Independent ID: f

[2018-06-29 08:52] Ruud-cb opened #10962 "Token restriction (AES)"
In terms of feedback: I kind of lost it at Token Restriction (AES), it is not really well documented how I would need to adjust the templates if needed. The method `GenerateTokenRequirements` shows that it is generating a token template but previously it says you would need to create an XML? To get a `test token` you would need a `tokenTemplateString`. Is this the XML or CAN this also coming from

[2018-06-29 09:03] codesmon commented on #6413
Thanks Kelly,

I have passed this on to my customer, but it looks good to me.

Colin

From: Kelly Gremban <notifications@github.com>
Sent: 28 June 2018 00:49
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Colin Desmond <colin.desmond@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Supported Linux versions (#6413)

Hi @codesmon<https://

[2018-06-29 09:13] femsulu commented on #10850
@federicoMaesta Are you still getting this error? If yes, are you getting this same error if you click on Metrics through the "default" path (i.e. not through the dashboard)?

[2018-06-29 09:31] algattik opened #10963 "Naming inconsistency"
The package is called sometimes "fabrikam-function" or "fabrikam-functions".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create your first function in Azure with Java and Maven](https://docs.microsoft.com/

[2018-06-29 09:35] aodugga opened #10964 "Unclear"
Not clear that you cannot use powershell/cli for installing the diagnostic extension on the Linux section. You would need 'convert' the commands in order to use them. Far easier to just launch the Cloudshell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf

[2018-06-29 09:38] femsulu commented on #10850
@federicoMaesta Glad the issue is now resolved. Most likely this was a temporary connection issue that has since resolved. Please don't hesitate to ping back if the issue occurs again. We will now close this issue.

[2018-06-29 09:38] #10850 closed

[2018-06-29 09:44] federicoMaesta commented on #10850
@femsulu ok, thank you so much. bye.

[2018-06-29 09:45] JasonHaley commented on #8553
Yeah that sums it up.  The funny thing is any version of the CLI running on Linux using the same file had no problems.

[2018-06-29 09:54] HemantChandurkar opened #10965 "Certificate Password"
While spinning HDInsight cluster, I created service principle (when added data lake store) on the fly with new password. Once created, I see there is button to download certificate. I downloaded it on my machine. While spinning new HDInsight cluster, I wanted to use same service principle for data lake store access. When I provided service principle name and uploaded the certificate, it asked me f

[2018-06-29 10:19] mrbullwinkle commented on #10852
If you follow the instructions in the doc it should work. I have run through it multiple times without issue, and we have had other customers successfully validate the steps.

With that said, a couple of things to try/check:

-Confirm you are using a Windows based Function App and not a the preview Linux Function App
-Try swapping in a different application insights resource/API key to confirm the

[2018-06-29 10:29] creationsoft opened #10966 "In step 5. renamedColumnsDF.write ..."
should be renamedColumnsDf.write as it's case sensitive and throws an error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial: Perform ETL operations using Azure Databricks](https://docs.microsoft.com/e

[2018-06-29 10:31] HenrikBernhard commented on #10799
I have the exact same issue trying to get the Register-AzureADPasswordProtectionForest to complete in our test forest on a NON DC. I have been trying with  various accounts (in root level domain/child domain) permissionlevel (domain admin in child domain, in root domain, enterprise admin)
proxy server is win2012R2, domain/forest is Windows Server 2008 R2 level

If there are any pointers to what to

[2018-06-29 10:35] svavahb commented on #7738
@femsulu I am having the same issue. I followed the steps, and I can verify that Get-AzureRmDiagnosticSetting returns the right values:
`Metrics
    TimeGrain       : PT1M
    Enabled         : True
    RetentionPolicy
    Enabled : False
    Days    : 0

Logs
    Category        : JobLogs
    Enabled         : True
    RetentionPolicy
    Enabled : False
    Days    : 0

    Category        : Job

[2018-06-29 11:34] Jan-Olof opened #10968 "Can not install iotedge_1.0.0-1 _amd64.deb package on Debian9"
It seems like it is currently not possible to use this guide to install IoT Edge on Debian 9. See the suggestion link below:

https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34685371-can-not-install-iotedge-1-0-0-1-amd64-deb-package

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-d

[2018-06-29 12:26] ArvidBaa opened #10970 "Dataset metrics not matching tutorial"
1. The columns of the hubway tripdata files does not match those listed in the beginning of the tutorial.
ref: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-bikeshare-dataprep#learn-about-the-datasets
2. The statistics for the 'tripduration' column for the 201701-hubway-tripdata.csv file lists trip duration in seconds, while the tutorial refer to the data as mi

[2018-06-29 12:27] clarenceb opened #10971 "PS script to install certificate on remote cluster fails due to en dashes instead of hyphens"
# What

In section **Install certificate on cluster nodes** there is a PowerShell script to be copied and run for installing PFX certificate on the remote cluster.

If you click the "Copy" icon, paste the contents into a file, save the file then execute it you'll see an error like:

[code]

# Why

After trial and error, I figured out that line 10 in the script has em dashes instead of hyphens whic

[2018-06-29 12:30] HemantChandurkar opened #10972 "Kafka cluster not recognizing Blob"
I spun Kafka cluster with blob storage (general purpose v1) as primary storage. No other storage attached. However kafka nodes not able to access blob files on same storage. Spark/R clusters can access files on same blob.
I created another kafka cluster but issue is still there. I have provided different container names for each cluster.

Command: hdfs dfs -ls wasb://elckafka2@demostoragepoc.blob.

[2018-06-29 12:30] jungho opened #10973 "Separate subnet for master nodes and worker nodes"
Hello,
In acs-engine, it is possible to define different subnets within a vnet for the master nodes and worker nodes.  Does the advanced networking for AKS also allow deploying the master nodes and worker nodes to their own subnets?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-2063-927a

[2018-06-29 12:35] romankiss commented on #10703
Thanks for responses. I hope, that this bug will be resolved. There is no good option for replacing a patching (updating) a portion of the event subscription. The above suggestion requires to make multiple calls such as:
- get the event subscription
- get the full endpointUrl
- delete subscription
- creating a new subscription without the deadLetterDestination

Note, that the patching of the _dead

[2018-06-29 12:39] matthias-scharl opened #10974 "Missing option "Update ADFS SSL certificate" AAD Connect (1.1.819.0)"
Option "Update ADFS SSL certificate" not available in AAD Connect 1.1.819.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 033dfa5c-5c1d-7306-67b7-4cb2657e6fc5
* Version Independent ID: f2553363-c3a4-2c22-caad-f863d6cb8a5a
* Content: [Azure AD Connect - Update the SSL certificate for an AD FS farm](https://docs.micros

[2018-06-29 12:56] davidbarrows commented on #10917
@tdykstra - thanks very much for your reply.  Appreciate the work you guys are doing, it's good stuff.

[2018-06-29 13:15] nysthee opened #10977 "Point comma instead of comma."
I believe access user groups should be split by point comma instead of comma, otherwise they will be seen as one huge string and not an array of strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5519b89-2f5c-8f9a-4de2-34d350b084cf
* Version Independent ID: 8690418c-79d4-d288-685f-5a103c32d17d
* Content: [Configu

[2018-06-29 13:29] cjtireus commented on #10919
@TravisCragg-MSFT how can I get the IP Address of my OMS Workspace? Problem is that number of public IP's of Azure West is greater then the number of IP's that Azure allows you to grant access to a storage account.

[2018-06-29 13:35] sergaz-msft commented on #10781
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-29 13:35] #10781 closed

[2018-06-29 13:46] sergaz-msft commented on #10968
@Jan-Olof thanks for your feedback. Did you try following the steps [on the doc](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux)? What was the error that you got? Thanks

[2018-06-29 13:48] sergaz-msft commented on #10958
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-29 13:49] mlearned commented on #5427
@TomArcher @puicchan @rloutlaw can you assist on this one?

[2018-06-29 14:01] massiveloop opened #10978 "Track sign-ons for pw-SSO apps"
**LINK to DOC:**
https://docs.microsoft.com/en-us/azure/active-directory/application-config-sso-how-to-configure-password-sso-gallery

**Related Tech**: AzureAD - Enterprise Apps > Single Sign on > PW SSO

**ISSUE:**
We recently moved from Okta to Azure for our IdP and looking for a similar method for tracking the use of password SSO apps in Azure. We really love the advanced field recognition tha

[2018-06-29 14:07] rfsonders opened #10979 "SQL RP - new install failure."
Hello team.
I am receiving this error when attempt to lay down a new SQL RP.

Environment ~ Fresh install
ASDK: 1.1805.1.47
SQL RP:1.1.24.0

Import-Module : The following error occurred while loading the extended type data file: Error in TypeData
"Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer": The TypeConverter was ignored because it already occurs.
Error in T

[2018-06-29 14:19] joefeser opened #10980 "1.10.0 was pulled"
This version was pulled and never replaced with a 1.x release. JsonSerializerSettings is a real need for us and you should either fully open source the sdk for cosmos or have a realistic release schedule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f432109f-6ecb-502b-2612-f8b6eaaf9ffc
* Version Independent ID: 4c316

[2018-06-29 14:20] frederimandin opened #10981 "Blob container needed before the option is available?"
It seems that we need to have at least one blob container created in the storage account for the "Static Website(preview)" menu option to be visible.
At least when I created a storage account, at first I could not find the option, but it appeared just after I created a test container.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liais

[2018-06-29 14:40] v-geberr commented on #10756
@emolinah Entity roles are used with patterns only. Please review [patterns concepts](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-patterns#patterns-use-entity-roles) to understand how to use it. Please let me now if you have more questions regarding roles.

[2018-06-29 14:50] antonihanus opened #10983 "Office 365 is 'preview' but is now avaialble on government cloud."
Document inaccurately states anything preview is not avail on govt cloud.  This is inaccurate as the office 365 solution is in the 'preview' state and is available on the government cloud.  My understanding is that Service Map is being worked on made available there soon also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-06-29 14:53] emolinah commented on #10756
Hi, I will review the information,

Greetings.

El vie., 29 jun. 2018 a las 10:40, Dina Berry (<notifications@github.com>)
escribió:

[2018-06-29 15:11] BE-Digital-Solutions opened #10984 "Unclear documentation about PolyBase support"
In this documentation, there are several mentions about Polybase not being supported by Azure AD authentication. In most cases, it specifically specifies MSI-based Azure AD Application token authentication as not being supposted. So my question is: does "Azure AD Application token authentication with a service principal" support PolyBase?

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-29 15:15] josuvil opened #10985 "Disabling SSO manually"
Hello, I would like to recommend adding a manual PowerShell method of disabling SSO on a tenant on this article. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4fed1fc-4d87-410a-9d19-91af4f1174e3
* Version Independent ID: 7731db50-d667-6062-e29b-520430194204
* Content: [Azure Active Directory Connect: Troub

[2018-06-29 15:21] billmath commented on #8939
@johnneycao Wanted to let you know this doc has been updated and now includes some art to assist.  Let me know any feedback.  Thanks!

[2018-06-29 15:30] YutongTie-MSFT commented on #10970
@ArvidBaa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ranvijaykumar Hi, this is a doc-bug around ' hubway tripdata ' and ''tripduration' ', can you please check it and update the document as necessary? Thanks a lot!

[2018-06-29 15:30] YutongTie-MSFT commented on #10894
@madymantha We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 15:30] #10894 closed

[2018-06-29 15:42] georgewallace commented on #10415
@cjchacon I am looking into your issue, unlike the custom script extension run command should not need outbound connectivity to run a script.  Have you seen this happen in all cases?

[2018-06-29 15:44] billmath commented on #8940
@wcneumann wanted to let you know that this change has been made and should be live later today.  Thank you!

[2018-06-29 15:46] georgewallace commented on #10928
@kylecweeks Thanks for the feedback. We document this information with the log analytics information https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-om-agents.  We already define in our documentation that the MMA is required.  What is it you are looking to have documented? That the old SCOM agent can be used for assessments only and MMA for full feature? Just trying to understan

[2018-06-29 15:50] steveculshaw commented on #10795
Firstly, and most importantly ... many thanks for responding.

It was my bad ... I'd jumped into sequence at the Chaining page, and was going through the portal manually creating the functions.
Once I added the sample you pointed at to the host.json, the POST http://{host}/orchestrators/E1_HelloSequence worked fine.

The install page section for [Azure Portal](https://docs.microsoft.com/en-us/azur

[2018-06-29 16:16] eross-msft commented on #10940
@ericjenouvrier  I double-checked and this is actually working as expected. The RSS Feed for this page just notifies you that the page has changed and that you should check it out, it doesn't give you the contents of the page itself. Hope this helps!

~Liz

[2018-06-29 16:18] brentarias opened #10987 "Delivery Models"
This article needs to state which services are capable of "at most once," "at least once," and "exactly once" delivery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657416445
* Content: [Azure messaging services comparison](http

[2018-06-29 16:21] iainfoulds commented on #10944
Hi, @strtdusty. I'm not sure where you mean? Step 4 currently reads:

and then details what application and delegated permissions are required. Is there something that you feel is missing here?

[2018-06-29 16:21] GCPMO opened #10988 "Cannot figure out how to get it to link"
I would think that clicking over from Azure Portal to Azure Cost Management using the "Go to Azure Cost Management" button would automatically link my account and show some data. Instead, there there is no data. It shows no information whatsoever. Completely useless. Continuing to use Azure-Costs.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-06-29 16:28] #10952 closed

[2018-06-29 16:28] Garima2k1 commented on #9751
Thanks @BryanTrach-MSFT Bryan, I understand that preview feature will not be available for production until GA.

@davidmu1 could you please share the information around the b2c feature to integrate with existing user stores of customer/citizens/employees? Any draft documentation and how could we POC this feature. Thanks.

[2018-06-29 16:38] sathishnb4u opened #10989 "Logic apps SQL Connector to on-premise using integrated windows authentication"
Hi,

Can someone provide details to my question below?

https://stackoverflow.com/questions/50977534/logic-apps-sql-connector-to-on-premise-using-integrated-windows-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID: 66132130-9d94-fc33-7bc4-a54ee2

[2018-06-29 16:42] SMNDaVe opened #10990 "Disable policy"
We are currently doing this via our own set of conditional access policies scoped to roles, locations and devices. If I select "Do not use policy" now will it stay disabled when this reaches general availability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent I

[2018-06-29 16:43] MohitGargMSFT commented on #10960
@timjroberts-inty Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-29 16:48] jason-j-MSFT commented on #10863
@djpirra we are closing this issue for now, feel free to add comments as needed.

[2018-06-29 16:48] #10863 closed

[2018-06-29 16:51] MicahMcKittrick-MSFT commented on #10961
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 16:51] MicahMcKittrick-MSFT commented on #10963
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 16:54] MohitGargMSFT commented on #10978
@massiveloop Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-29 16:54] MicahMcKittrick-MSFT commented on #10964
@aodugga we mention at the top of the article you are able to use PS, CLI or arm templates to deploy:

![image](https://user-images.githubusercontent.com/32313503/42104675-626ad228-7b82-11e8-89bd-cfb44f354352.png)

Can you explain further what more info you are looking for?

[2018-06-29 16:55] MicahMcKittrick-MSFT commented on #10971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 16:55] MicahMcKittrick-MSFT commented on #10973
Thanks for the question! We are investigating and will update you shortly.

[2018-06-29 16:55] SaurabhSharma-MSFT commented on #10873
@mfulton what kind of license you are trying to assign ? Can you please share the screenshot of the page where you are assigning the license ?

[2018-06-29 16:58] MohitGargMSFT commented on #10979
@rfsonders Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community  m

[2018-06-29 16:58] MicahMcKittrick-MSFT commented on #8184
Thanks @MikeRayMSFT!

@jorgefava we have updated the doc. Please try to work through it again and let us know if you have issues. We setup an environment and verified the steps work.

[2018-06-29 16:58] #8184 closed

[2018-06-29 16:59] lleonard-msft commented on #10699
@Phydeauxman - The fix for this has been merged, so I'm closing the issue.

If you find any other broken links, please let us know.  Again, thanks for doing so; it's appreciated!

[2018-06-29 17:01] lleonard-msft commented on #10616
@MichelZ -  The fix for this has been merged, so we can close the issue. (Note: it may take upwards of a day for the update to appear on the website.)

If you find any other broken links, please let us know. Again, thanks for doing so; it's appreciated!

[2018-06-29 17:02] MohitGargMSFT commented on #10980
@joefeser Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-29 17:02] georgewallace commented on #10935
@FMartull The changes have been updated and will be merged into the docs today. Once I know they are merged I will close the issue.

[2018-06-29 17:03] MohitGargMSFT commented on #10957
@davegreen Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-29 17:05] MohitGargMSFT commented on #10974
@matthias-scharl Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-29 17:06] MohitGargMSFT commented on #10985
@josuvil Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-29 17:07] jeffgilb commented on #10906
@TravisCragg-MSFT , I'm checking on this.

[2018-06-29 17:07] #10868 closed

[2018-06-29 17:07] #7269 closed

[2018-06-29 17:08] cjchacon commented on #10415
Yeah. If the VM doesn't have internet connectivity, the script runs, but you don't get any ouput on the portal's output window.

[2018-06-29 17:11] spelluru commented on #9442
#please-close

[2018-06-29 17:15] kobulloc-MSFT commented on #8673
@agnimitra [Azure roadmap](https://azure.microsoft.com/en-us/roadmap/) will keep you informed on new Azure releases, and you can subscribe to get alerts so you don't miss out on anything.  I hope this helps!

[2018-06-29 17:21] SaurabhSharma-MSFT commented on #10990
@SMNDaVe Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-29 17:30] Mike-Ubezzi-MSFT commented on #10508
What type of data are you working with? The Gremlin client is needed if you with to leverage the Graph API. There is also a pure .NET option.
I am currently away from the office but want respond to this. Let's me see if I can get some traction with this issue. Thank, Mike.

[2018-06-29 17:33] vasivara-MSFT commented on #10984
@BE-Digital-Solutions Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-29 17:36] vasivara-MSFT commented on #10966
@creationsoft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-29 17:37] bwren commented on #10307
Sorry, didn't realize this got assigned to me.  I know that parameter isn't needed, and I've gone back and forth on this.  The Post-LogAnalyticsData is in a variety of examples and blog posts.  i suspect that in its original form, it used that parameter for something.  I'm going to go ahead and remove it though.  It certainly isn't needed.

[2018-06-29 17:37] bwren commented on #10307
#please-close

[2018-06-29 17:40] vasivara-MSFT commented on #10972
@HemantChandurkar Thank you for posting your question. We are using github for addressing doc issue. Since this is an issue faced on product our MSDN forum is best suited for this. Please kindly post your question [here](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=hdinsight) for help.

[2018-06-29 17:40] Mike-Ubezzi-MSFT commented on #10508
@SnehaGunda Can you assist with this issue? @MohitGargMSFT is my backup while I am away from the office. Is there is a better way to have this addressed? Thank you, Mike

[2018-06-29 17:43] #10935 closed

[2018-06-29 17:57] iAmBipinPaul opened #10995 "Support for c# in Raspberry Pi web simulator"
When support for C# will be coming to Raspberry Pi web simulator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3073612-d1f0-2979-045e-d8ab03e6b0fd
* Version Independent ID: e272f853-363c-b529-364f-ebb4c3f315fc
* Content: [Simulated Raspberry Pi to cloud (Node.js) - Connect Raspberry Pi web simulator to Azure IoT Hub

[2018-06-29 17:58] BryanTrach-MSFT commented on #10989
@sathishnb4u Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 18:02] BryanTrach-MSFT commented on #10962
@Ruud-cb Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-29 18:02] vasivara-MSFT commented on #10977
@nysthee Thank you for your feedback. Since all array elements are separated by ,(comma) in programming world, it is designed like that. If you still want to provide this feedback , We encourage you to provide it in our [user voice platform](https://feedback.azure.com/forums/217335-hdinsight).

[2018-06-29 18:03] roygara commented on #9372
@Roblarson Hello! Just letting you know that a change has been made which reflects this, and should be live by EOD.

[2018-06-29 18:04] vasivara-MSFT commented on #10977
@nysthee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 18:05] roygara commented on #9805
@bhamilton Hello! Just letting you know that a change has been made incorporating this and should be live by EOD. Thank you!

[2018-06-29 18:05] nysthee commented on #10977
I understand, but then it is a bug. When I put in a string with commas they get parsed as a string with commas in the arm template. When I use comma point it gets parsed as a list of strings (that’s how it’s documented in the arm hdinsight reference).

[2018-06-29 18:07] MicahMcKittrick-MSFT commented on #10893
@joe392018 yes absolutely. You should be able to bring in information from the activity log into Log Analytics or OMS.

You can also setup alerts on the Activity logs page to get notifications when a specific action happens.

[2018-06-29 18:07] femsulu commented on #10988
@GCPMO, sincere apologies for the unsatisfactory experience with the Azure Cost Management service. The Cost management engineering team is dedicated to making service improvements to better meet our customer's cost optimization needs. I strongly encourage you to share your **feedback directly** with the Cost management team through [this link](https://feedback.azure.com/forums/906772).
Please do

[2018-06-29 18:09] femsulu commented on #10988
@bandersmsft  - fyi

[2018-06-29 18:11] femsulu commented on #10983
@antonihanus  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-29 18:16] SaurabhSharma-MSFT commented on #10925
@PaoloCastAway Are you getting any error while running the script as I see this parameter available for set-user cmdlet.  See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/42107918-dc5dbd56-7b8d-11e8-936e-e46f5f3fc715.png)

[2018-06-29 18:17] TravisCragg-MSFT commented on #10981
@frederimandin I am able to create a new General Purpose V2 Storage account, and enable Static Websites without creating a blob container.

It is likely that this is an issue with your browser caching content.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2018-06-29 18:17] #10981 closed

[2018-06-29 18:19] kraigb commented on #10044
@Ayanmullick There are some recent additions in the VS Code docs that might help, https://code.visualstudio.com/docs/azure/deployment, as well as https://code.visualstudio.com/tutorials/app-service-extension/getting-started. The latter walks you through using the App Service extension in VS Code, which is where you'll find the comparable experience to VS.

[2018-06-29 18:22] femsulu commented on #10965
@HemantChandurkar , Your issue appears to be related to HDInsight cluster setup. The best forum to address this specific issue is MSDN. Please raise your issue via: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hdinsight

[2018-06-29 18:31] vasivara-MSFT commented on #10977
@nysthee Thanks for the feedback. That seems to be an issue, we are actively investigating and will get back to you soon.

[2018-06-29 18:40] vasivara-MSFT commented on #10977
@nysthee I think the [split](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-string#split) function should help you with your issue. Please take a look and let me know, if that helps.

[2018-06-29 18:41] tfitzmac commented on #10849
As far as I know SendGrid does not support move, but SendGrid is the best source for that information. It seems like your question is really about whether CSP supports SendGrid. For that information, see [Azure Marketplace items in Azure CSP
](https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services#azure-marketplace-items-in-azure-csp).

[2018-06-29 18:46] nysthee commented on #10977
Thank you for the feedback but the issue occurres when deploying from the portal. When your put in a string with comma separated user groups they are treated as one string and if you use dot comma it gets split correctly.

[2018-06-29 18:48] vasivara-MSFT commented on #10977
@nysthee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-29 18:51] Thraka commented on #9343
@jonorogers This is fixed. Please close this issue. Thanks!

[2018-06-29 18:54] Thraka commented on #9560
@MicahMcKittrick-MSFT Please assign @jpconnock as the owner of this issue.

[2018-06-29 18:54] Thraka commented on #8404
#please-close

[2018-06-29 18:55] Thraka commented on #8404
@MicahMcKittrick-MSFT

[2018-06-29 18:55] Thraka commented on #7537
@MicahMcKittrick-MSFT Please assign @jpconnock as the owner of this issue.

[2018-06-29 18:56] Thraka commented on #5637
@MohitGargMSFT please close

[2018-06-29 19:02] MichaelHauss commented on #10959
You can query for the account endpoints using Get Storage Account Properties. There is no way to determine the zone name of the endpoint based only on the account name.

[2018-06-29 19:12] joefeser commented on #10980
As a side note, this statement is not accurate and it is a big issue for us on the .net core side

"The Azure Cosmos DB .NET Core SDK has feature parity with the latest version of the Azure Cosmos DB .NET SDK." which is right above the release notes.

Related issue around this: https://github.com/Azure/azure-documentdb-dotnet/issues/483

[2018-06-29 19:34] ericjenouvrier commented on #10940
@eross-msft ah ok, my mistake (it was by design), I believed the RSS Feed was suppose to be like this : https://azurecomcdn.azureedge.net/en-us/blog/feed/

The main reason is within our company I made some training to AD Enterprise Administrator to AAD Premium Plan 1 (onboarding), we build a MS Teams and I wanted to make a flow to "highlight" them News from the https://docs.microsoft.com/api/searc

[2018-06-29 19:35] cryptobeat opened #10998 "Fails to start on the El Capitan"
Any suggestions?
Issue also reported here:
https://github.com/Microsoft/service-fabric/issues/133

 * Starting OpenBSD Secure Shell server sshd
   ...done.
Drop folder path is set to '/home/ClusterDeployer/ClusterData'
Current machine IP Address is 172.17.0.2
Deleting old data root content
rm: cannot remove 'ClusterManifest.SingleMachine.Replaced.xml': No such file or directory
Setting environment

[2018-06-29 19:43] #10968 closed

[2018-06-29 19:45] tfitzmac commented on #5626
@lionello - did you create a web app/api or a native app?

[2018-06-29 19:45] tfitzmac commented on #10849
#please-close

[2018-06-29 19:47] SaurabhSharma-MSFT commented on #10978
@massiveloop Have you looked into [Sign-in activity reports in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-activity-sign-ins) which provides information about the usage of applications and user sign-in activities.

[2018-06-29 19:47] davidmu1 commented on #10007
Removed the out-of-date information in the FAQ. Extracting information using Graph API is available. See this article for more information: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-audit-logs.

#please-close

[2018-06-29 19:48] tfitzmac commented on #10786
#please-close

[2018-06-29 19:59] davidmu1 commented on #10265
Unfortunately, useful though the videos might be, we are limited on adding links in the articles on docs.microsoft.com. We are not allowed to add links to youtube videos. The videos must be hosted on the azure.microsoft.com Video Center.

#please-close

[2018-06-29 20:01] davidmu1 commented on #10266
Unfortunately, useful though the video might be, we are limited on adding links in the articles on docs.microsoft.com. We are not allowed to add links to youtube videos. The videos must be hosted on the azure.microsoft.com Video Center.

#please-close

[2018-06-29 20:03] spottedmahn commented on #10265
😱😱

Who created that policy?!

Ok, thanks for the response David

[2018-06-29 20:03] #10265 closed

[2018-06-29 20:04] spottedmahn commented on #10265
Hi @parakhj - can you upload a 2nd copy to the azure.microsoft.com Video Center?

[2018-06-29 20:06] spelluru commented on #10645
@trevor-schmidt1214 - Thank you for sharing the ARM template. I will add the information to the article soon (after I come back from vacation).

@jkonw123 - Please review when you get a chance. Thanks. I will follow up with you.

[2018-06-29 20:06] #10266 closed

[2018-06-29 20:10] spelluru commented on #10645
@jkwon2013

[2018-06-29 20:10] spelluru commented on #10629
@jkwon2013 - Shall I add a note to the article? Thanks.

[2018-06-29 20:13] BryanTrach-MSFT commented on #10422
@djhmateer We do not have an ETA right now on if or when external storage will be supported. Thank you for your understanding on this matter.

If you wish to make a feature request, please navigate to [Azure User Voice site](https://feedback.azure.com/forums/169385-web-apps) to make a feature request.

We will now proceed to close this thread. If there are further questions regarding this matter,

[2018-06-29 20:13] #10422 closed

[2018-06-29 20:15] #9343 closed

[2018-06-29 20:16] #8404 closed

[2018-06-29 20:18] #5637 closed

[2018-06-29 20:21] MikeWasson opened #11000 "Explain recommendation for one reader per partition per consumer group"
The doc makes this statement without supporting it: "It is recommended that there is only one active receiver on a partition per consumer group"

I believe the issue is this: Within a single partition, each reader will receive all of the messages. If you have 2 readers on the same partition, then you will be processing duplicate messages. You will need to handle this in your code which may not be

[2018-06-29 20:22] davidmu1 commented on #10451
@mayur-tendulkar  I'm not finding this text in the article that you reference. Can you check and let me know more specifically where this text is located:

Portal Dashboard -> All Services -> Azure AD B2C and there you'll find Applications, Identity Providers, and Policies. It is not under Dashboard -> Azure Active Directory

[2018-06-29 20:23] tfitzmac commented on #10768
@gjustice - thanks for this feedback. We are looking at why there is currently not a parameter for the debug detail level in Azure CLI. We will update the article when this has been resolved.

[2018-06-29 20:24] sethmanheim commented on #11000
@MikeWasson Hey Mike, thanks for the feedback. As I understand it, GitHub issues are for external folks, and internal people should just use PRs. Is that your understanding as well?

[2018-06-29 20:29] mike-urnun-msft commented on #8454
Hi @TecumsehSamp - Thanks again for reporting this issue! As @msangapu mentioned, the fix is currently in-the-works and scheduled to be deployed within ~2 weeks of time. I have re-assigned this to myself and will notify you here as more updates around this issue are made available from our engineering team.

[2018-06-29 20:39] #10972 closed

[2018-06-29 20:40] MicahMcKittrick-MSFT commented on #10910
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-29 20:41] iainfoulds commented on #10944
Ok, so looks like on step 6, you must select your *Microsoft Graph* API from the list, and then select *Grant permissions*. I'll create a PR to update this and make it more clear. Sorry you ran into issues.

[2018-06-29 20:43] MicahMcKittrick-MSFT commented on #10936
@antondahlin not sure I am fully understanding your question.

Can you elaborate a bit more?

[2018-06-29 20:48] davidmu1 commented on #10662
@mikewaretena Thank you for your feedback. I have opened a workitem to investigate the update of this article. I will come back to this issue with status when the work has been done.

[2018-06-29 20:49] MicahMcKittrick-MSFT commented on #10740
After deploying your AKS such as described here: https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

You then open a CLI session locally and run

`az aks browse --resource-group myResourceGroup --name myAKSCluster`

Which will open the dashboard:

![image](https://user-images.githubusercontent.com/32313503/42114223-151935fc-7ba3-11e8-8dfe-3089781f1698.png)

![image](https://user-ima

[2018-06-29 20:55] MicahMcKittrick-MSFT commented on #10961
@blueelvis I have fixed the link. The changes will go live in a few hours.

I know CSE for windows will run at a admin level so I assume that linux does the same.

I will assign to the content author to review and see if we should add that tip to the doc.

@danielsollondon can you take a look?

[2018-06-29 20:55] jason-j-MSFT commented on #10772
@nitinme I can replicate the default path is as @guoch stated:
C:\Program Files (x86)\Windows Kits\10\bin\10.0.xxxxx.x\x86

I also a reference to MakeCert being deprecated:
https://docs.microsoft.com/en-us/windows/desktop/SecCrypto/makecert

"MakeCert is deprecated. To create self-signed certificates, use the Powershell Cmdlet New-SelfSignedCertificate."

[2018-06-29 20:58] #10944 closed

[2018-06-29 20:58] alexcher84 opened #11002 "Commercial ID"
Currently, the only place where we know Commercial ID is visible is in the OMS portal.

Open the Resource Group
Click the OMS Portal button
In the new window, click Upgrade Readiness
In the new window, click Solution Settings (blue gear icon)
Copy the Commercial ID Key

Where will the Commercial ID be once the transition takes place from OMS to Azure portal?

Thanks

---
#### Document Details

⚠ *

[2018-06-29 21:00] MicahMcKittrick-MSFT commented on #10963
@algattik I addressed the inconsistencies. Once the PR merges this issue will close and the changes will go live in a few hours.

Thanks!

[2018-06-29 21:02] MicahMcKittrick-MSFT commented on #10971
@clarenceb thanks for this find! I have fixed the issues. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-06-29 21:05] MicahMcKittrick-MSFT commented on #10973
@jungho I am not aware if this is possible.

@mmacy, @neilpeterson, @iainfoulds would any of you know this off the top of your head?

[2018-06-29 21:05] MightyPen commented on #10337
@AyoOlubeko Ayo, Would you like to look at this customer concern?

[2018-06-29 21:06] femsulu commented on #6096
@CelesteDG
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:06] #6096 closed

[2018-06-29 21:07] femsulu commented on #9442
@ravensorb We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:07] #9442 closed

[2018-06-29 21:09] jason-j-MSFT commented on #10880
@SeaJaredCode we would like to make our document better with your feedback.  Could you clarify what your issue is or what you would like to see changed?

[2018-06-29 21:10] MicahMcKittrick-MSFT commented on #10998
@cryptobeat can you point me to the exact area in this doc you are having issues with?

[2018-06-29 21:11] femsulu commented on #10007
@astaykov We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:11] #10007 closed

[2018-06-29 21:13] femsulu commented on #10307
@tsrob50 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:13] #10307 closed

[2018-06-29 21:14] femsulu commented on #10786
@maye-msft  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:14] #10786 closed

[2018-06-29 21:15] femsulu commented on #10849
@Anmolgan81
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 21:15] #10849 closed

[2018-06-29 21:17] sethmanheim commented on #11000
@MikeWasson No don't worry, I'll take this one, but I won't tell Tyson. :-)

[2018-06-29 21:17] jmill269 opened #11003 "Running JavaScript Examples"
When sending a POST request via Postman to run the sequence, I'm only getting a one-lined response (an ID string). This is coming from the HttpStartJS/index.js file, with the line "context.done(null, {status: 202, body: id});" returning the ID. I've tried playing around with it for a while now, but I can't seem to be able to get the expected HTTP 202 response listed above, and therefore I have now

[2018-06-29 21:22] neilpeterson commented on #10973
I am not sure. @aanandr can you help out with this question?

[2018-06-29 21:24] #10971 closed

[2018-06-29 21:37] SeaJaredCode commented on #10880
Thanks for following up. The documentation "tease" is that it refers to Kafka 1.0.0 in text and pictures, but the latest version I see is 0.10.0.

![screen shot 2018-06-29 at 2 29 37 pm](https://user-images.githubusercontent.com/9486931/42115877-add514d6-7ba9-11e8-823a-683897e8ccd0.png)

In general, it would be nice to know what your upgrade cadence is expected to be. It's great if you offer these

[2018-06-29 21:58] madenwala commented on #10659
I just double checked, really simple example, and the POST URL is actually incorrect....I needs to be this format below for it to work....what's in the example doc doesn't work!

Please update to:

**https://login.microsoftonline.com/<tenant>/oauth2/v2.0/token?p=b2c_1_ropc_auth**

[2018-06-29 21:58] vasivara-MSFT commented on #11002
@alexcher84 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-29 21:59] madenwala commented on #10659
I just double checked, really simple example, and the POST URL is actually incorrect....I needs to be this format below for it to work....what's in the example doc doesn't work!
Please update to:

https://login.microsoftonline.com/irel8.onmicrosoft.com/oauth2/v2.0/token?p=b2c_1_ropc_auth

[2018-06-29 22:00] madenwala commented on #10659
POST URL is incorrect in the docs. I just retried with a very simple example and it fails with the URL that the document posted. It needs to be updated to include the below URL:

https://login.microsoftonline.com/<tenant>/oauth2/v2.0/token?p=b2c_1_ropc_auth

[2018-06-29 22:02] madenwala commented on #10659
HttpClient client = new HttpClient();
            client.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/x-www-form-urlencoded"));

            Dictionary<string, string> dic = new Dictionary<string, string>();
            dic.Add("username", "<email>");
            dic.Add("password", "<password>");
            dic.Add("grant_type", "passw

[2018-06-29 22:12] rboucher commented on #5930
Fixed and merged.  publishing should be out Monday.

[2018-06-29 22:13] rboucher commented on #5930
#please-close

[2018-06-29 22:18] mike-urnun-msft commented on #10690
Hi @Molotch - The output should be of type `Object` and your Logic App will run in series by the number of files created and/or updated.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 22:18] #10690 closed

[2018-06-29 22:24] jeffmartinxyz opened #11006 "Wrong order of steps"
It seems that steps two and three are switched in "Add an RBAC Owner for a subscription in Azure portal".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5624f3e-5fbf-6f0f-93cf-a4d5aa93ccf8
* Version Independent ID: 9ca6d22b-e684-4e65-cab3-c272189a3ddc
* Content: [Add or change Azure admin subscription roles](https://d

[2018-06-29 22:33] yantang-msft commented on #5930
@rboucher I confirm my concern is addressed. However, I didn't create the issue so I can't close it.
@digeler Can you check if it passes jsonlint can close if it's good?

[2018-06-29 22:35] #10961 closed

[2018-06-29 22:43] MicahMcKittrick-MSFT commented on #11003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-29 22:45] jason-j-MSFT commented on #10880
@Blackmist I do not see a way of selecting Kafka version 1.0.0 in my own testing, the drop down only shows 0.10.0:
![capture](https://user-images.githubusercontent.com/37126381/42117682-e235f278-7bb2-11e8-9c44-21a40e9f87aa.PNG)

@SeaJaredCode you can also leave your feedback for the product group to see here:
https://feedback.azure.com/forums/217335-hdinsight

[2018-06-29 22:50] Ayanmullick commented on #10044
There isn't an ASP.NET Core WebApp deployment walkthru like they have for Node.js.

[2018-06-29 22:55] femsulu commented on #5930
@digeler
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 22:55] #5930 closed

[2018-06-29 22:55] joe392018 commented on #10893
Great! Thanks! But it is only for the activity logs in Azure Portal and not the system logs inside the OS level of the VM?

[2018-06-29 22:59] AyoOlubeko commented on #10337
@Mike-Ubezzi-MSFT : Thanks for posting this. I've updated the gitignore file in the repo to allow the DLLs in the lib folder.

@c-arnab : Are you still running into the error?

[2018-06-29 23:00] MicahMcKittrick-MSFT commented on #10893
Yes and no. What I was referring to was just the activity logs from the portal. But you can enable guest OS diagnostics and integrate them into monitoring solutions as well:

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-of-diagnostic-logs

I am not sure about the exact logs you can query from diagnostics but we do have it available. So you should be able to

[2018-06-29 23:04] TravisCragg-MSFT commented on #10919
@cjtireus Unfortunately, the [Log Analytics API IPs are Dynamic](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses#log-analytics-api). You can try a NSLOOKUP in the region to see what it is currently set to, and add that IP Address. Unfortunately that IP Address is not guaranteed to stay the same.

If you would like to request that this feature be added, you [ca

[2018-06-29 23:06] cgillum commented on #11003
Adding @kashimiz.

@jmill269 What is the URL you are using in your POST request?

[2018-06-29 23:06] scottjreece opened #11008 "(Almost) empty "Measure" and "Split By" dropdowns"
Hello, my IoT Hub has messages with several schemas, but they all have a "MessageType" field. Time Series Insights was working beautifully for me for a while, then I lost all my measuring and splitting functionality and the Measure dropdown now only contains 1 item called "Events". Where did my other measures go? Is it getting messed up by the non-matching schemas? If so, I would have thought that

[2018-06-29 23:18] TravisCragg-MSFT commented on #10668
@WootJay We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-29 23:18] #10668 closed

[2018-06-29 23:33] SaurabhSharma-MSFT commented on #10798
@FrederikLeed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-29 23:33] #10798 closed

[2018-06-29 23:38] SaurabhSharma-MSFT commented on #10799
@cdoidge We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.   Please provide here the SR number once you have it.
@HenrikBernhard I will follow-up internally for you support case to get it resolved at the earliest.

[2018-06-29 23:38] #10799 closed

[2018-06-29 23:38] davidmu1 commented on #10810
Removed the step to check the box that no longer exists. For more information about the removal, see https://twittercommunity.com/t/action-required-sign-in-with-twitter-users-must-whitelist-callback-urls/105342.

#please-close

[2018-06-29 23:45] jmill269 commented on #11003
http://localhost:7071/orchestrators/js/E1_HelloSequence is the URL

[2018-06-29 23:49] davidmu1 commented on #9751
That is an old blog which is referring to the use of custom policies. There is nothing to change in the article referenced in this issue. For information about custom policies, see https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview-custom and https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom.

#please-close

[2018-06-29 23:51] JasonWHowell commented on #10207
This was recently fixed. Thanks for bring it up!
#please-close
MicrosoftDocs/azure-docs-pr#43910

[2018-06-29 23:51] davidmu1 commented on #8057
b2clogin is available to anyone. Revised the article to provide an example for how to use it.

#please-close

[2018-06-29 23:52] David-Engel commented on #10909
@sheeshmohsin The port in the example was simply wrong. It should be 1433, not 1443. "PORT=1433" in the connection string of your updated code is ignored since PORT is not a valid keyword. But it works because 1433 is the default. The port should be specified with the SERVER keyword (or left off to keep the default of 1433): "SERVER='+server+',1433
I'll submit an update for the article.

[2018-06-29 23:52] JasonWHowell commented on #10271
#please-close

[2018-06-29 23:59] tfierens opened #11010 "Unknown error when running sample"
An error occurred while starting the application.

.NET Core 4.6.26212.01 X86 v4.0.0.0    |   Microsoft.AspNetCore.Hosting version 2.0.2-rtm-10011    |    Microsoft Windows 10.0.14393    |   Need help?

No really useful help to resolve the problem!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-

[2018-06-30 00:03] georgewallace commented on #10415
@cjchacon Thanks, I have made the changes, they should be merged in tomorrow, when the pull request gets merged it will auto close this issue.

[2018-06-30 00:11] #10580 closed

[2018-06-30 00:16] tfierens commented on #11010
I eventually figured out the issue!

My SQL Server connection string was not set correctly. I did set it via Git Bash but somehow it didn't get set correctly. Once I edited it via the Azure portal, and tried again it worked as expected.

How did I find out the problem? I found a section called "diagnostic logs" in the portal. With the FTP details provided, I connected to the ftp site and downloads

[2018-06-30 00:19] femsulu commented on #8057
@drcampbell
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 00:19] #8057 closed

[2018-06-30 00:19] femsulu commented on #9751
@Garima2k1 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 00:19] #9751 closed

[2018-06-30 00:20] femsulu commented on #10207
@VishwajitG We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 00:20] #10207 closed

[2018-06-30 00:20] femsulu commented on #10271
@nvick We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 00:20] #10271 closed

[2018-06-30 00:20] femsulu commented on #10810
@devwheel We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 00:20] #10810 closed

[2018-06-30 00:30] femsulu commented on #10995
@iAmBipinPaul Thanks for your question. This has been shared with the content owner for further review.

[2018-06-30 00:36] femsulu commented on #11008
@scottjreece Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-30 01:02] btardif commented on #9432
+ @panchagnula as FYI

hey @mferris2421  we have a new version of the API for this coming out soon, that includes new functionality.

I'll make sure to include some PS examples as well when we refresh the docs

[2018-06-30 01:06] alexeystrakh opened #11011 "Software Engineer"
My connection wasn't able to be set using `task config-device-connection` so I had to setup connection manually, details are here (https://stackoverflow.com/questions/49657167/task-configure-device-connection-string-is-failing). And finally instead of `Arduino Upload` as the last step I was able to upload and run the package by using `task device-upload`

---
#### Document Details

⚠ *Do not edit

[2018-06-30 01:34] Garima2k1 commented on #9751
@davidmu1 thanks for this link, but I think this does not address the
preview feature to connect to existing local user directory. It is still
talking about creating custom policies to use either social identity or
azure ad b2c tenant identity. From the description of preview feature I
assumed we could use user identity stored in our LDAP store?

On Fri, 29 Jun 2018 at 5:19 PM, femsulu-MSFT <notif

[2018-06-30 02:05] mayur-tendulkar commented on #10451
In this section https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-dotnet-susi#create-and-register-an-application
It should be mentioned that: Choose All services in the top-left corner of the Azure portal, search for and select Azure AD B2C. Here you can register your application.

[2018-06-30 03:28] femsulu commented on #11011
@alexeystrakh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-30 04:41] cryptobeat commented on #10998
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac
Step 4 is not working

[2018-06-30 04:42] msangapu commented on #9644
#please-close

[2018-06-30 07:29] danielwnn opened #11014 "PersonGroupId"
PersonGroupId only works with lowercase string, if "MyFriends" is used, got an error message - "Person Group ID is invalid" inside FaceAPIException. This doesn't make any sense.  As long as the PersonGroupId is a unique string, it should be valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f087f4-64bd-ebda-e5b9-5

[2018-06-30 08:41] mkosieradzki commented on #8354
@lawrencegripper

OK some explanation to this option:
https://github.com/Microsoft/service-fabric-aspnetcore/issues/2 - this is the exact issue this option is solving with all the explanation. Please let me know if you need something more.

[2018-06-30 11:01] Ruud-cb commented on #10962
Hi @BryanTrach-MSFT Thanks for your response, but is it also possible for someone to help me solve this issue because until now I didn't really solve this.

[2018-06-30 13:16] juho-hanhimaki opened #11017 "Data collector API scalability"
Are there any practical scalability limits when using data collector api? Are there limits for concurrent requests? Is partitioning / sharding a consideration when posting large amounts of data? Is the log-type a sort of partition key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544

[2018-06-30 13:21] juho-hanhimaki opened #11018 "North Europe region"
Is support for North Europe region or other additional regions coming soon or ever?

Application Insights is available in North Europe and it is some kind of version of Log Analytics? Yet Log Analytics isn't available in North Europe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03fd0e0e-c5d8-b6d0-bd7b-07539a5bd31f
*

[2018-06-30 14:36] MohitGargMSFT commented on #11018
@juho-hanhimaki Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-30 14:39] MohitGargMSFT commented on #11017
@juho-hanhimaki Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-30 14:44] MohitGargMSFT commented on #11014
@danielwnn Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-30 14:45] arkiaconsulting opened #11019 "ingress controller creation in kube-system namespace"
I had some trouble having this work when creating the ingress controller in the kube-system namespace, while having my application service in another one. Creating the ingress controller in a brand new namespace, having application service in antoher namespace worked. Can this be due to some network isolation ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-06-30 14:52] #9644 closed

[2018-06-30 15:48] MicahMcKittrick-MSFT commented on #11019
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-30 15:59] MicahMcKittrick-MSFT commented on #10915
@buzzfrog I tested all the links in this doc but they all appear to be working for me. I will close this for now but if you are still seeing the issue let me know the name of the hyperlink that is not working and I will investigate further.

[2018-06-30 16:50] sjetha opened #11020 "Missing information for app creation"
Hi. I think that there is something missing from the steps about getting the app ready to receive push notifications. Doesn't the Notifications Entitlement need to be turned on for this to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4

[2018-06-30 17:37] lfallo1 commented on #5931
Yup, doesn't work here either - following step by step (also tried to just create the project manually within Intellij, but made no difference).  The localsettings.json is successfully created & the .jar artifact as well.

There are no glaring errors in the console as it builds successfully.  But do notice the following two lines in the .terminal output:

"Could not configure language worker java.

[2018-06-30 17:39] YutongTie-MSFT commented on #11014
@danielwnn Hi, thanks for the feedback, but this is a product suggestion, not a document issue, can you please post your idea in our [product feedback area](https://cognitive.uservoice.com/forums/430315-face)? Sorry for all inconveniences. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-30 17:40] #11014 closed

[2018-06-30 18:01] shershen08 opened #11021 "Create a static HTML web app in Azure: [Errno 13] Permission denied"
while following this tutorial https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html I've got `[Errno 13] Permission denied` when creating a zip package
[code]

this one https://github.com/MicrosoftDocs/azure-docs/issues/10869 actually helped so that you can
create zip file manually or upload (usmth like `zip -r demo.zip index.html`)
and then use it with  --src paramet

[2018-06-30 18:05] kylecweeks commented on #10928
Well, the documentation you linked is on how to link OpsMgr to a workspace, but has no guideline on any need to update the SCOM Agent to the MMA for certain functionality. Specifically, being able to deploy updates.

It would be nice to have a section linking back to appropriate documentation to onboard OpsMgr managed systems into Azure Update Management. As you mention, using the old SCOM agent t

[2018-06-30 18:27] pdeva opened #11022 "Incorrect documentation for helm without rbac"
[Enter feedback here]

The command to run is
[code]

NOT  (what is in the documentation)
[code]

Running without the arguments `--set rbac.createRole=false --set rbac.createClusterRole=false` will result in an error.
Tested on AKS running kubernetes 1.10.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b9

[2018-06-30 18:34] SaurabhSharma-MSFT commented on #10957
@davegreen You can try using regex validation tools like [RegEx Toolkit](https://microsoft.com/en-us/p/regex-toolkit/9nblggh59x8h#) , however, I am assigning this to content author to add regex examples for REPLACE function in current documentation.

[2018-06-30 18:43] SaurabhSharma-MSFT commented on #10974
@matthias-scharl Can you please share the screenshot or errors if any you are getting as sometimes it can be the *last* task, so be sure to scroll down using the very thin scrollbars in the wizard.

[2018-06-30 19:40] SaurabhSharma-MSFT commented on #10990
@SMNDaVe As per my understanding it won't be disabled as after general availability, the policy will be activated by default for all tenants but provide you the configuration to opt out at any time. However, it is  highly recommended to opt into the policy immediately.

[2018-06-30 20:41] compulim opened #11024 "Is JavaScript officially supported?"
The JavaScript SDK can be found at https://www.npmjs.com/package/microsoft-speech-browser-sdk and published by Microsoft. Is it officially supported? If yes, please add it to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d

[2018-06-30 20:48] compulim opened #11025 "Is WebSocket an officially supported protocol?"
There are shortcomings from REST (not able to transcribe a long text). And it seems SDK is using WebSocket protocol instead. The WebSocket protocol spec can be found at https://docs.microsoft.com/en-us/azure/cognitive-services/speech/API-reference-rest/websocketprotocol.

Is WebSocket an officially supported protocol? If yes, can it be add to this list?

---
#### Document Details

⚠ *Do not edit t

[2018-06-30 21:02] mike-urnun-msft commented on #10758
Hey @kevindweb - Thank you for your question. However, since this issue doesn't address any content of this documentation, could you post this question on [Logic Apps forum on MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) please? Also, it'd be helpful if you include more details about your existing LA workflow (screenshots and/or JSON snippets) and how you're atte

[2018-06-30 21:02] #10758 closed

[2018-06-30 22:54] lfallo1 commented on #5931
Update: I downgraded to 2.0.1-beta.26 & tried running.  The terminal output was a little more clear - stating the same "Could not configure language worker java." message, but more specifically - because the JAVA_HOME variable was not set.

I had assumed this was set - since the 'java' command works throughout my system.  In my case, however (on a mac) it needed to be set in ~/.bash_profile

Setti

[2018-06-30 22:55] tmcw opened #11026 "What is a circle?"
The GeoJSON spec committee considered adding circles and there's quite a bit of discussion about them on the old list - for example, http://lists.geojson.org/pipermail/geojson-geojson.org/2011-July/000564.html

This added circle type is missing the pretty critical detail: what kind of circle is it? Is it a spherical cap? A geodesic circle? Or a circle that'll present as a circle in the web mercato

[2018-06-30 23:01] lfallo1 commented on #8898
FWIW, I was getting this as well.  Upgrading to azure-functions-core-tools@2.0.1-beta.31 resolved this for me.

[2018-06-30 23:44] matt40k opened #11027 "Change App Service plan"
I can't see "Change App Service plan", is this now Scale up (App Service plan)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manage an App Service plan in Azure](https://docs.microsoft.com/en-us/azure/app-se

[2018-07-01 00:35] MohitGargMSFT commented on #11026
@tmcw Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-01 00:37] MohitGargMSFT commented on #11021
@shershen08 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-01 00:39] MohitGargMSFT commented on #11024
@compulim Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-01 00:40] MohitGargMSFT commented on #11025
@compulim Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-01 00:41] MohitGargMSFT commented on #11022
@pdeva Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-01 00:42] MohitGargMSFT commented on #11020
@sjetha Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-01 00:43] MohitGargMSFT commented on #11027
@matt40k Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-01 01:54] bingosummer opened #11028 "Does Azure Stack support vpn gateways?"
In https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-vpn-gateway-about-vpn-gateways#site-to-site-and-multi-site-ipsecike-vpn-tunnel, the Site-to-Site VPN gateway is supported in Azure Stack.
But this doc doesn't mention it.
Is Point-to-Site gateway the same thing to Site-to-Site gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-07-01 02:10] bingosummer opened #11029 "Failed to create Virtual Network Gateway in Azure Stack"
When I was creating the Virtual Network Gateway in Azure Stack Portal, after 19 seconds, the portal showed that the gateway was created. But the public IP of the gateway was not assigned an address. And I can't see the blades of the gateway.
<img width="840" alt="screen shot 2018-07-01 at 12 33 38 pm" src="https://user-images.githubusercontent.com/4787647/42130841-612a053c-7d2b-11e8-8ac3-622a43adc

[2018-07-01 03:48] bingosummer opened #11030 "Failed to load profile in MacOS"
I followed https://docs.microsoft.com/en-us/powershell/azure/install-azurermps-maclinux?view=azurermps-6.3.0 to install Azure Powershell in MacOS. But I can't load profile. The errors are:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0612cf-1819-96eb-6462-229e2e8d8662
* Version Independent ID: 0446f4d4-1684-

[2018-07-01 05:09] SaurabhSharma-MSFT commented on #10926
@PaoloCastAway Yes, you are correct V2 version of Azure AD PowerShell module does not have any cmdlet to accomplish this.

[2018-07-01 05:13] SaurabhSharma-MSFT commented on #10873
@mfulton We will now proceed to close this thread as I haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-01 05:13] #10873 closed

[2018-07-01 05:22] as19444 opened #11031 "SQL Automatic tuning"
I would like to know if automatic tuning can be applied on a running application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100228be-3a7f-ca84-3fe4-f3e537b27030
* Version Independent ID: 73602e3b-9ecb-05cf-ec63-e89ca1f78218
* Content: [Performance recommendations - Azure SQL Database](https://docs.microsoft.com/en-

[2018-07-01 06:33] Juliako commented on #9927
@RGBKnights, thank you for bringing this to my attention. I will update the doc ASAP. For now, Blocks is the same as https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/video-indexer-output-json#transcriptblocks.

[2018-07-01 06:33] Juliako commented on #9927
#please-close

[2018-07-01 09:03] hkamel opened #11032 "Suggestion: Azure portal screenshoot"
I highly recommend changing the screenshot to show static website enabled on LRS/GRS but not RA-GRS as the secondary endpoint may be challenging for the new users to understand where it comes from unless they understand the different storage replication options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f

[2018-07-01 09:42] rayne-wiselman commented on #9028
@andrewatfornax. Hi Andrew, can you comment on this. Are you seeing the account in the source region? If so this is expected.

[2018-07-01 09:51] rayne-wiselman commented on #10212
Thanks. The typo is fixed. #please-close
https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-deployment-planner-run

[2018-07-01 11:20] akahub commented on #10219
Hi, any plans to make this a little more seamless ? MS has gone to great strides in making the azure experience and slick as possible, one would expect this to be a simple radio button (encrypt disk) and done! I appreciate there is a lot of work under the hood but when we see other cloud providers offering this with little effort, it becomes very desirable to have it in Azure too.

Thanks

[2018-07-01 14:05] anarchitect opened #11033 "Never had response from getting access to Conversation Learner"
Hi I have been submitted requests four times weeks ago with my personal and corporate email address and never hear back. Would you please advise why and how I can quality to get it? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18236fc7-32f8-e3d1-3f3c-7a2be9562d08
* Version Independent ID: 28dc0d5e-315e-be81-4

[2018-07-01 14:16] wmlockhart opened #11034 "Does this process work for ASP.NET Core 2.0?"
Does this process work for ASP.NET Core 2.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Build an ASP.NET app in Azure with SQL Database](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-

[2018-07-01 14:54] alaconda opened #11035 "AzCopy support for Azure Storage Static Website"
Hello,

I understand Azure Storage Static Website is new and currently under preview.   I'm just wondering if there is any possible workaround to use AzCopy to upload to the $web container.

Thanks,
Allan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f

[2018-07-01 14:56] mganeshphani commented on #9554
Are you serious.. no update for 20 days?

[2018-07-01 15:21] CodArs-van opened #11036 "Cannot debug Kubernetes container"
I followed the instructions from [Debug a container in Kubernetes](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-nodejs). After I hit F5, I got:

I cannot debug

[2018-07-01 16:18] MicahMcKittrick-MSFT commented on #11022
@iainfoulds could you take a look at this and confirm?

[2018-07-01 16:44] Jan-Olof commented on #10968
Here are the errors I got:

``bash
sudo apt-get install iotedge

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following i

[2018-07-01 17:35] robinsh commented on #10321
I was adding the instructions for cleaning up the resources at the end of this tutorial, and I went ahead and updated the "add a storage account" section. It should go live in a few days.
/cc: @mstruys @BryanTrach-MSFT @sergaz-msft

[2018-07-01 17:46] jasonkatz424 commented on #6117
I cannot use pipeline().TriggerTime when trying to grab a folder formatted as dd mm yyyy.

[2018-07-01 18:08] massiveloop commented on #10978
Yes, the SAML apps have logs(albeit, delayed) but password SSO apps do not
record any usages from the browser plugin or app jump page.

On Fri, Jun 29, 2018, 3:47 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

--

Graham Condon
AVB UserSecAdmin 💻
Mobile: 757-469-5653 📲

[2018-07-01 18:27] kasunsjc opened #11037 "New-AzureRmVmss : 'CreateOption' cannot be null."
Following Error will prompt when I run the command to create VMSS
New-AzureRmVmss
-ResourceGroupName myResourceGroupAG
-Name myvmss
-VirtualMachineScaleSet $vmssConfig
-Verbose
VERBOSE: Performing the operation "New" on target "myvmss".
New-AzureRmVmss : 'CreateOption' cannot be null.
At line:1 char:1
+ New-AzureRmVmss `
+ ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureR

[2018-07-01 18:43] RavSalgado opened #11038 "Replication process, point number 3"
Under replication process, point number 3: "If disk changes occur while initial replication is in progress," - is some information missing here? or is point 4 the continitation.  Not very clear. - Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6273c8f-6017-fbf5-f7e0-510739cf1eb5
* Version Independent ID: ac

[2018-07-01 19:12] femsulu commented on #11036
@CodArs-van Thanks for the comment and glad your issue was self-resolved.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-01 19:12] #11036 closed

[2018-07-01 19:15] femsulu commented on #11033
@anarchitect Thanks for your comment. Can you please elaborate on your issue? What do you mean by "please advise why and how I can quality to get it?"

[2018-07-01 19:18] femsulu commented on #11031
@as19444 Thanks for the question. We are actively investigating and will get back to you soon.

[2018-07-01 19:21] femsulu commented on #11028
@bingosummer Thanks for the question. We are actively investigating and will get back to you soon.

[2018-07-01 19:22] femsulu commented on #11029
@bingosummer Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-07-01 19:29] femsulu commented on #11032
@hkamel Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-01 19:31] femsulu commented on #11035
@alaconda Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-01 19:32] femsulu commented on #11034
@wmlockhart Thanks for the question. We are actively investigating and will get back to you soon.

[2018-07-01 19:41] femsulu commented on #10212
@jeffwmiles We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-01 19:41] #10212 closed

[2018-07-01 19:41] femsulu commented on #9927
@RGBKnights We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-01 19:41] #9927 closed

[2018-07-01 20:05] Juliako commented on #10962
@BryanTrach-MSFT ,
to get JWT token before using it to request license or key, you should:

1.	For production, you need to have a “web service” (Secure Token Services -STS) which issues JWT token upon a HTTPS request; For test you could just use the CreateTestToken code.
2.	Player will need to make a request, after a user is authenticated, to the STS for such a token and assign it as the value of

[2018-07-01 20:15] cenkersoy opened #11041 "Virtual network"
Are all the steps mentioned on this page pre-requisites ? Especially is the creation of virtual network a must ? If so, could you provide more detailed steps ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b745d67-f3a8-3a4a-5b89-c0e5851ef5e0
* Version Independent ID: 82cdad50-be4d-fdb1-7daf-ac686298dd97
* Content: [B

[2018-07-01 20:39] mpolski opened #11042 "'iotedged: could not create store' after adding certs/key to config.yaml"
Hello,

This refers to Azure IoT Edge - Creating gateway:
[](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux)
 https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux

After creating certificates/key etc, un-commenting the 'certificates' section of /etc/iotedge/config.yaml file and restarting the iotedge runtime, I'm getting t

[2018-07-01 20:47] rahulpandya295 commented on #10713
Any update on this? Facing the same issue besides

[2018-07-01 23:42] ratchetwrench opened #11044 "Pipenv Support"
Now that Pipenv is the recommended approach to package and venv management, will Python Web Apps support the Pipfile and Pipfile.lock?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b20146-dbf1-e36d-3fcf-f8d74efa30df
* Version Independent ID: 90558941-52b8-5965-51dc-45dc93f399c0
* Content: [Configuring Python with Az

[2018-07-02 00:13] KeiroKamioka0000 opened #11045 "Application Insights Metric?"
Not supported in unified alerts. See [Metric alerts].(../application-insights/app-insights-alerts.md)

I assume URL, Link is missing.
Please fix if this was mistakes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e04d8733-e8b9-147a-c820-d7300479b3d2
* Version Independent ID: 12f6cc84-5575-f6e4-1df1-99ae1287e158
* Cont

[2018-07-02 00:53] femsulu commented on #11042
@mpolski Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 00:54] femsulu commented on #11045
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 00:57] smcd253 opened #11046 "Failed to Start IoT Edge daemon"
So I've gotten all the way to the point where I need to verify successful installation of IoT Edge daemon, and it's failing with the following output:

pi@spencerpi:~ $ sudo systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Sun 2018-07-01 17:53:12 PD

[2018-07-02 01:04] femsulu commented on #11041
@cenkersoy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 01:05] femsulu commented on #11038
@RavSalgado Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 01:06] CarlosOnline opened #11047 "Please provide a REST example no postman - have to goto github to figure this out"
Please provide a REST example no postman - have to goto github to figure this out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08da9ea-355e-0414-bf5b-7228cedefa7b
* Version Independent ID: cdfbdf3c-dd5f-eab8-b41b-a759a7b92cf7
* Content: [Upload files into an Azure Media Services account using REST](https://docs.micr

[2018-07-02 01:07] femsulu commented on #11044
@ratchetwrench Thanks for the question. We are actively investigating and will get back to you soon.

[2018-07-02 02:23] micktion commented on #10852
OK.  Apologies.  It is working.  The 404 was because of an incorrect AI_APP_ID.  I was using the name of the Application Insights not the ID found on the Applicaiton Insights API Access page.  I might suggest including a screen shot of the Application Insights API Access page in the article accompanied by steps to create an Application Insights API Access Key immediately before or after the part o

[2018-07-02 02:30] micktion commented on #10852
Also I might add 404 isn't very descriptive.   A message saying invalid AI_App_ID would have been far more helpful.  Also I'm still surprised at how the query is being passed as a part of the URL of GET request, instead of including it in the body of a POST.

[2018-07-02 03:31] luyaok commented on #10875
How to change the protocol that the edge runtime should use to communicate with Azure IoT Hub? Is there an equivalent command of "iotedgectl setup --upstream-protocol" for Linux?

[2018-07-02 03:38] asingh1989 opened #11049 "update List of Linux distributions endorsed by Azure"
Hi Team,

Thanks to upload the list of linux distributions supported by Azure as the above list looks old and needs an update.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e135
* Content: [Endorsed distributions o

[2018-07-02 03:44] ToMakeSense commented on #9912
@tfitzmac Sorry to bother, any progress from the service team?

[2018-07-02 04:26] mrsmitty opened #11050 "Subnet Calculation"
When calculating the subnet CIDR you also need to take the Load Balancer into consideration if the service configuration includes:
service.beta.kubernetes.io/azure-load-balancer-internal: "true"
In this instance the Load Balancer Front-End IPs request IPs in the Cluster subnet rather than creating Public IPs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-07-02 05:12] toddwhitehead opened #11051 "upgrade needed"
Following steps on a new ubunut 18.04 vm, the sudo "apt-get install moby-engine" failed until I had done a "sudo apt-get upgrade"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [How to install Azure IoT Edge o

[2018-07-02 05:16] buzzfrog commented on #10915
It is still there. Line 93. It is a code example and because you can copy the code you think that this code can be executed. But the url is a fake one. I can understand this, when I think more. But when I tried it first I got frustrated because I didn't saw that.

I would prefer if it either was a real link to a script or if it was more obviuos that it is not.

[2018-07-02 05:33] markolbert opened #11052 "Not terribly helpful for latest VS 2017"
This documentation does not appear to track how VS2017 currently builds Azure Function projects. That makes it more confusing than helpful. In addition, after following the instructions — I think — my local function gets called, but breakpoints within the function are ignored. It would be helpful if an explanation of how to debug stuff in VS 2017 was included.

---
#### Document Details

⚠ *Do not

[2018-07-02 06:01] alemag1986 opened #11053 "Poor explanation - missing iisnode explanation and configuration."
This looks wonderful, however there is no mention at all of the web.config settings or the iisnode.yml configuration file to fully understand how node run on iis.
New devs in Azure or coming from Unix world trying to make a swap will spent a considerable amount of time trying to understand how it works and at the end frustration is what they are going to find.

---
#### Document Details

⚠ *Do not

[2018-07-02 06:13] luyaok opened #11054 "How to change the protocol that the edge runtime should use to communicate with Azure IoT Hub?"
How to change the protocol that the edge runtime should use to communicate with Azure IoT Hub? Is there an equivalent command of "iotedgectl setup --upstream-protocol" for Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf7aade-9690-1b15-edca-952e4f509601
* Version Independent ID: b99f0f0f-87fe-5446-670e-b3fd8eb

[2018-07-02 06:21] msvijayn commented on #10871
@akramwaseem - here is a sample snippet from resource template for property AzNSNotification with multiple ActionGroup Ids:
<br>

`
"AzNsNotification": {
          "GroupIds": [
            "/subscriptions/<SubscriptionID>/resourcegroups/<ResourceGroup>/providers/microsoft.insights/actiongroups/<ActionGroup1>",
            "/subscriptions/<SubscriptionID>/resourcegroups/<ResourceGroup>/providers/m

[2018-07-02 07:00] ali-h2010 commented on #5056
I am also having trouble with Ubuntu Server 17.
After following the guide, I am getting a black screen when connecting. If I leave it for some time, I will get an empty windows that I can't even click. As the image:
<a href="https://ibb.co/bUY2cJ"><img src="https://thumb.ibb.co/bUY2cJ/Screen_Shot_2018_07_02_at_9_57_52_AM.png" alt="Screen_Shot_2018_07_02_at_9_57_52_AM" border="0"></a>

[2018-07-02 07:34] acjoskam opened #11055 "Testing request count - consistent 1 request mismatch"
I performed a test using a basic setup of a Web App with Applications Insight and a Log Analytics workspace. I queried the request count for a day. First within Application Insights:

requests | count

The with Log Analytics:

app("&lt;application_insight_name").requests | count

Both differ with 1 request. Also when using a smaller period, up to 10 minutes, there is this 1 request difference.
Can

[2018-07-02 08:00] CyberSaphire opened #11056 "Link for "modern authentication" is no longer valid"
It is supported on web browser-based clients and Office clients that support modern authentication on platforms and browsers capable of Kerberos authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1db2d3-8e7d-0c60-f5c5-827b6a673505
* Version Independent ID: f28d55d1-f974-7767-6c69-56b74f14ff50
* Content: [A

[2018-07-02 08:11] matthias-scharl commented on #10974
![image](https://user-images.githubusercontent.com/28905301/42152391-457e1b2e-7de0-11e8-9e89-3d3dec885fa7.png)
attached

[2018-07-02 08:39] Omink opened #11058 "Correction public string GetAnswer(string query)"
You need to replace :
var client = new RestClient( qnaServiceHostName + "/qnamaker/knowledgebases/" + knowledgeBaseId + "/generateAnswer");
to
var client = new RestClient( qnaServiceHostName + "/knowledgebases/" + knowledgeBaseId + "/generateAnswer");
because in the sample Http Request Endpoint HostName  contains "/qnamaker"

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est ob

[2018-07-02 08:49] mhabegger opened #11060 "Custom Domain or existing Zone"
Is there a way to set this feature to use a custom domain name or use a pre-existing Zone or to redirect custom domains to the aksapp.io domain ? What is the best practice or what are the plans on this features?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID

[2018-07-02 08:52] forester123 opened #11061 "Hyperlinks are not provided for the same keywords in app service limit table"
1. Keyword "data transfer rates apply" is hyperlinked in "shared(preview)" column while in "Basic" "Standard" "Premium", the same keyword isn't.
2. Keyword "pay at standard rates" is hyperlinked in "Basic" column while in "Standard""Premium", it isn't.

Is this by design? Would it be better to hyperlink for all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-07-02 08:52] anarchitect commented on #11033
I have followed the doco, went to the conversation learner website and requested invitation many times, and there was no response received. Would u please help on this? And why cannot I get access to it? Thanks

[2018-07-02 08:58] dcaddick opened #11062 "Enable MFA on a per Group basis?"
I can see it's possible to enable MFA on a per User basis *or* carry out a Bulk Update.
Is it not possible to simply enable this based on Group Membership?

Surely this must be possible??

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c

[2018-07-02 09:04] vetrivelmp opened #11063 "Configurable token lifetimes in Azure Active Directory (Public Preview)"
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

From above link, i saw below content.

After hearing from customers during the preview, we're planning to replace this functionality with a new feature in Azure Active Directory Conditional Access. Once the new feature is complete, this functionality will eventually be deprecated after a notifica

[2018-07-02 09:27] rishtech opened #11064 "Source of the objects are not getting listed as described in this article."
Hello Team,

Please get the source section reviewed as the current behavior of the portal doesn't shows the source status of user objects as mentioned in this article.

Regards,
Rishabh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-

[2018-07-02 09:39] waheedhussain opened #11065 "backup upto 15 years"
Hi,

we have a requirement to retain the database backups for upto 15 years, is this possible to achieve via standard LTR procedure?

Is there a way to access the  RA-GRS blob storage where the backups are kept?

Thanks,
Waheedx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b388152-5d9d-bfb9-1dd3-168b4877ac5a
* Versi

[2018-07-02 09:41] sergaz-msft commented on #10968
@Jan-Olof , Debian 9 is not technically a [supported platform](https://docs.microsoft.com/en-us/azure/iot-edge/support). We have removed it from this doc until we can fix the issue. Thank you for reporting it!

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-02 09:55] inspiredearth opened #11066 "The example Values generate an error"
When using the values you've recommended for the "Modify Client Response Headers" lines, they generate the following error:

`Modify Client Response Header: Invalid Format. Please Use The Following Pattern: ^[-\w]+(?&lt;!^(?i)(?:accept-encoding|age|connection|content-encoding|content-length|content-range|date|server|trailer|transfer-encoding|upgrade|vary|via|warning|x-ec.*))$`

Does this article n

[2018-07-02 10:13] Jan-Olof commented on #10968
@sergaz-msft Thank you for the answer. Do you have any idea when the issue will be fixed?

[2018-07-02 10:18] CRidge opened #11068 "Certificate password requirements"
I've just spent about two hours trying to update the SSL certificate of an Application Gateway, without luck. Then I found this page with this little nugget: "... the password must be 4 to 12 characters." My PFX password was in fact longer than 12 characters. With a shorter password, the operation went smoothly.

So: Why this strange limitation? And would it at least be possible to get a sensible

[2018-07-02 10:32] bhamilton commented on #9805
I see the update. Thanks.

On Fri, Jun 29, 2018 at 2:05 PM rogara <notifications@github.com> wrote:

--
Regards,

Branden Hamilton

[2018-07-02 10:40] sergaz-msft commented on #11030
@bingosummer to install Powershell for Azure Stack, **PowerShell 5.0 is required**. Please file an issue on one of the following GitHub repos:

[Issues for PowerShell Core v6](https://github.com/PowerShell/PowerShell/issues)
[Issues for Azure PowerShell](https://github.com/azure/azure-docs-powershell/issues)

You may also post a request to support "PowerShell Core v6" as a feedback @ https://feedb

[2018-07-02 10:40] #11030 closed

[2018-07-02 11:31] mnall commented on #10910
Thank you for the response.

The ability to split a single reserved instance into two reserved instances (https://docs.microsoft.com/en-us/azure/billing/billing-manage-reserved-vm-instance) - does this only split the reserved instances across subscription and allow you to change the scope? Does it leave the existing contract with for example a quantity of 10 in place if you split 2 into a separate

[2018-07-02 12:29] timjroberts-inty commented on #10960
I can confirm that I have the `dev-spaces-preview` extension loaded:

[code]

[2018-07-02 12:30] Blackmist commented on #10880
Thanks for the feedback @SeaJaredCode

It looks like engineering was delayed in rolling out the new version. 1.0.0 is there today (July 2nd).

I can't comment on the roadmap, as I'm in documentation and not involved in planning future products. As @jason-j-MSFT mentions, you can submit questions and feedback to the product group through the forums at [https://feedback.azure.com/forums/217335-hdins

[2018-07-02 12:53] msimecek opened #11069 "Status states not current"
This article says that "The status states are “Waiting”, “Processing” and “Complete”." Looking at my version of the page, I can see "NotStarted" and "Running"... Is it different from "Waiting" & "Processing", or is it the same, just changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a351e5b4-68b6-9ffe-ffee-1e490af

[2018-07-02 12:53] gringosteve opened #11070 "Private end point?"
The documentation shows the api end point as:

https://&lt;CustomerId&gt;.ods.opinsights.azure.com/api/logs?api-version=2016-04-01

this appears to require an azure application to post over the internet to reach the API.  Is there an option to use an internal end point for ASE hosted apps (for example) to post to the customers Log Analytics PaaS instance?

---
#### Document Details

⚠ *Do not edit

[2018-07-02 12:53] nelsonmorais commented on #11051
My bad... I missed the first steps:
# Install repository configuration
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > ./microsoft-prod.list
sudo cp ./microsoft-prod.list /etc/apt/sources.list.d/

# Install Microsoft GPG public key
curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
sudo cp ./microsoft.gpg /etc/apt/trusted.gpg.d/

So in my cas

[2018-07-02 12:59] msimecek commented on #11069
Also there's no option to select base model anymore.

[2018-07-02 13:02] davegreen commented on #10957
Thank you for that, much appreciated 👍

[2018-07-02 13:06] sergaz-msft commented on #11051
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 13:07] sergaz-msft commented on #11054
@luyaok  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 13:10] sergaz-msft commented on #11046
@smcd253 thank you for your feedback. Can you please specify the doc that your are following? Will it be this one? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm

[2018-07-02 13:12] cephalin commented on #10044
@Ayanmullick We don't document App Service deployment steps from every available tool. I apologize since this is probably not a desirable answer.  #please-close.

[2018-07-02 13:18] bingosummer commented on #11030
Thanks @sergaz-msft for your quick response.
The feedback link: https://feedback.azure.com/forums/344565-azure-stack/suggestions/34722469-add-support-for-powershell-core-v6

[2018-07-02 13:26] HuckFin7b opened #11071 "unsetTraffic"
setTraffic - it's great, but how can I hide the traffic after setTraffic()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158abea9-9cdb-6c55-0633-8e9282f258e6
* Version Independent ID: 8de5d5f2-4e1d-bd0c-342c-a0fc37f276a0
* Content: [Show traffic with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/map-sh

[2018-07-02 13:27] skmkzyk opened #11072 "Add expiration time of flow record"
I recognize the NSG works like a conventional firewall appliances.
So, as document describes, each incoming/outgoing traffic is evaluated by NSG rules, and creates flow records.

When I see documents for firewall appliances, it depicts connection timeout interval like this.
https://www.cisco.com/c/en/us/td/docs/security/asa/asa93/configuration/firewall/asa-firewall-cli/conns-connlimits.html#30429

[2018-07-02 13:39] sergaz-msft commented on #10793
@andy1012 the current version of ca-certs.ps1 has a bug, I could also reproduce it. While I am fixing it together with the Product Group can you please use an older version: https://github.com/Azure/azure-iot-sdk-c/tree/c9ad0a9d691619f87b87e8ae3347f19726c1ac58/tools/CACertificates

Thank you so much for troubleshooting and pointing this out 👍

[2018-07-02 14:00] PanosPeriorellis commented on #11069
I corrected and States, by base we mean any model that you see in the portal that is not adapted.

[2018-07-02 14:01] sergaz-msft commented on #10904
Hello @kunalaphadnis99 , checking back if you have tried to create a brand new IoTEdge and also to confirm if this issue is related with #10858 ? We can close one of them if they are related, to avoid duplicate work.

Thank you!

[2018-07-02 14:10] keljdoyle opened #11073 "Missing register_x509.js file"
Step 4 of "Simulate the Device" references a 'register_x509.js' file which does not appear to exist in the Git repository. Is this file missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166baed4-426c-a0b2-a57a-623c4b47a8a3
* Version Independent ID: cb34ea4b-64ca-9820-d0cf-58a8cbfd2652
* Content: [Provision a simu

[2018-07-02 14:17] mattbriggs commented on #11030
@bingosummer Thanks for your input and feedback and @sergaz-msft Thanks, too, for pointing him the right way. Cheers. #please-close

[2018-07-02 14:18] lordbah opened #11074 "Add Event Grid subscription grayed out"
Step 1 under "Subcribe to a topic", I'm supposed to click on "Add Event Grid subscription", but that's grayed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9fcb9e-8d13-c4d1-a5d0-7eeb706c2b51
* Version Independent ID: 642cbcbe-ed7d-1181-fc9a-ee3538446996
* Content: [Custom events for Azure Event Grid with the Az

[2018-07-02 14:23] keljdoyle commented on #11073
Nevermind...I was looking under /device/samples not /provisioning/device/samples

[2018-07-02 14:24] msimecek commented on #11069
@PanosPeriorellis Thanks for the correction!

Regarding base model - I don't see any option to choose Base Acoustic Model in my portal, when creating new custom Acoustic Model (as described in the docs: _Next, select a “Base Acoustic Model” from the drop-down menu. The base model is the model that is the starting point for your customization. There are two base acoustic models to choose from. The

[2018-07-02 14:26] AggieCMD opened #11075 "ASP.NET Core - EasyAuth HTTP Handler"
It is my understanding that EasyAuth uses a HTTP Handler to make sure that each page receives an authenticated user. If this is the case then can I make the assumption that when I am running an ASP.NET Core in App Service with App Service authentication enabled the HTTP Handler will not be enabled. In other words, I can use the EasyAuth API to manage tokens but I cannot depend on EasyAuth to secur

[2018-07-02 14:38] mhuebi opened #11076 "FIDO compliant?"
I'm referring to this statement: "The key used is similar to the keys used in Windows Hello and the FIDO Alliance UAF specifications."
Is the Microsoft Authenticator FIDO UAF standard compliant or not? (https://fidoalliance.org/specifications/overview/)

Thanks for your Feedback
Best regards, Marcel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-07-02 14:45] ashannon7 commented on #11008
@scottjreece  - do you have a CSS account?  This is not a docs issue per se - it sounds like something else is going on.  I suggest reaching out to support to get this resolved.  puwije@microsoft.com can help you understand if you have a support account and if so, work through the problem.

[2018-07-02 14:50] bingosummer opened #11077 "Failed to create Virtual Network Gateway in Azure Stack"
See https://github.com/MicrosoftDocs/azure-docs/issues/11029

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec5666f-c9b6-2ae6-3a46-3b390d252d19
* Version Independent ID: 671ddf6c-1ce1-191a-4d2b-533244ab14cf
* Content: [Connect Azure Stack to Azure using VPN](https://docs.microsoft.com/en-us/azure/azure-stack/azure-sta

[2018-07-02 14:54] luisma1955 commented on #10021
Regards;

I am having this same issue at my company. Have a few accounts flagged for risk but it only let me access all sign-in options and showing me the "You need a premium license to access this blade" message.

[2018-07-02 15:01] YutongTie-MSFT commented on #11058
@gve-SoftFluent
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 15:02] sergaz-msft commented on #11008
Thank you @ashannon7. Alternatively if you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-07-02 15:02] #11008 closed

[2018-07-02 15:03] bingosummer commented on #11030
If I understand correctly, for now, it's not possible to manage Azure Stack using Azure powershell from MacOS or Linux, because there's no version 5 for azure powershell core.

[2018-07-02 15:04] YutongTie-MSFT commented on #11069
@msimecek Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Thanks for your quick action, please check the follow-up and update the document as necessary. Thanks.

[2018-07-02 15:06] Haager opened #11078 "ConnectionError with the text_recognition_url api"
Hello,

I got the API keys for the 7 day trial but I can't find a way to run the script. I have the error below:

ConnectionError: HTTPSConnectionPool(host='westcentralus.api.cognitive.microsoft.com', port=443): Max retries exceeded with url: /vision/v2.0/recognizeText?mode=Handwritten (Caused by NewConnectionError('&lt;urllib3.connection.VerifiedHTTPSConnection object at 0x000001C64FD91CF8&gt;: F

[2018-07-02 15:07] mattbriggs commented on #11030
@bingosummer Yes, that is correct. Currently, PowerShell v6 is what runs on Linux and macOS, and Azure Stack requires Version 5.0. Thanks for making the request. I would also like to use my mac to manage my Azure Stack instance. If you have time, I would be interested in learning more about how use PowerShell with Azure Stack. Can I contact you via Skype?

[2018-07-02 15:13] Haager commented on #11078
PS: I m working from my local computer.

[2018-07-02 15:21] alexandruCojan opened #11079 "Time restriction"
Queries are automatically limited to the past 30 days not 14 days., when they are pined to shared dashboard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b2bb1d-9cd8-f7bb-53d6-a06ae5684f68
* Version Independent ID: b97282dd-95f9-0a51-e955-3950fd423dd6
* Content: [Using Analytics - the powerful search tool of Azure A

[2018-07-02 15:23] bb12489 opened #11080 "SSPR with no lockscreen configured"
The new Self Service Password Reset function from a Windows 10 login screen will not work if the Group Policy option "Computer Configuration>Policies>Administrative Templates>Control Panel>Personalization>Do not display the lock screen" is set to Enabled. It seems that the lock screen is required to use the SSRP function. I'm not sure if this is a bug or by design. Some documentation on the instru

[2018-07-02 15:29] cap273 opened #11081 "New Azure Gov regions"
Need to update this documentation to reflect the new Azure Government regions: https://azure.microsoft.com/en-us/blog/new-government-datacenter-regions-available-in-arizona-and-texas/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e

[2018-07-02 15:29] georgewallace commented on #10928
@kylecweeks I have created a backlog item to track this further to see about a scenario doc around this, for now I am going to submit a change to add a note that Operations Manager agents must be updated to the MMA to be fully manageable, and provide a link to a doc on how to update.  Once the updates are in place they will auto close this issue.  I will continue to track the overall scenario upda

[2018-07-02 15:30] smcd253 commented on #11046
@sergaz-msft that's the one! apologies for not referencing it earlier

[2018-07-02 15:33] joymon opened #11082 "AppInsight entries missing for desktop and console apps when the app crashes / exists"
We are using .Net for desktop and console applications. We could see the exception related entries are missing, if the app crashes or exit after and exception. It sounds logical that any buffered AppInsight entries will be lost in case the process exists. Is this scenario expected or any way to disable AppInsight entries buffering / caching what ever appliable?

---
#### Document Details

⚠ *Do no

[2018-07-02 15:36] antondahlin commented on #10936
The "Number of subscriptions per topic" quota is said to throw an exception, but not which, I was just asking if it will use the QuotaExceededException like some other limitations do.

[2018-07-02 15:37] sergaz-msft commented on #11046
Thanks for confirming no worries :). What version of Linux are you using? Please note the [supported platforms here.](https://docs.microsoft.com/en-us/azure/iot-edge/support)

[2018-07-02 15:43] akramwaseem commented on #10871
@msvijayn -- Thanks for the solution, I am kind of wondering if I can try the same scenario in parameter file.

Lets say ,we have 10 alerts and we have 2 action groups and I have to call both action from a parameter file. I cannot call them from main template. The above suggested scenario seems more than complicated.

I have 4 subscriptions and all of them have similar alerts and a single main tem

[2018-07-02 15:44] hegate commented on #10887
@jillcary could you help with this error?

[2018-07-02 15:59] Josverl opened #11083 "Broken Link"
The link in this section is broken.
Modern Authentication – cloud services must use modern authentication to use Tenant Restrictions and block access to all non-permitted tenants. Office 365 cloud services must be configured to use modern authentication protocols by default. For the latest information on Office 365 support for modern authentication, read __Updated Office 365 modern authentication_

[2018-07-02 15:59] sergaz-msft commented on #11011
Thanks for the feedback and reporting the workaround @alexeystrakh 👍 ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 16:04] ecgaschott opened #11084 "Reset the password using the VM access extensions for Linux"
The steps to reset a scale set password using the VM access extension are for Windows machines only and not for Linux, but the doc makes it seem like this method should work across all images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcdef
* Version Independent ID: 9ada224f-5a76-bcd

[2018-07-02 16:04] gamerka opened #11085 "Some additions on CI/CD"
\site\wwwroot.azurefunctions\swagger\swagger.json
must be
\site\wwwroot\.azurefunctions\swagger\swagger.json
also you need to add to your host.json
"swagger": {
    "enabled": true
  }
only then it'll work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0849e19e-7d1a-07e4-1f37-05fa6f05adde
* Version Independent ID: 14d

[2018-07-02 16:07] Brenduns commented on #10888
#please-close

@gadeweev   Thanks for the feedback.  I see that the PM for this product area has recently updated the content to remove that entry.  While I don't have the details for this available, it appears that this item is not available which is probably why the link was non-functional.

[2018-07-02 16:08] mrbullwinkle commented on #11079
@alexandruCojan thank you for helping make our docs better! I have updated the doc. The change is merged to our internal repo. The updated doc will go live in the public repo between 10:00-10:30 AM (UTC-7).

[2018-07-02 16:11] lmqferreira opened #11086 "Some remarks"
1. Tried resourceGroupName as a string in the form of 'Api-Default-{service-region}'  and it didn't work. It was successfull using the name of the ARM Resource Group to which the APIM instance belongs.
2. The access token expires after one hour.
3. It should be clarified as this procedure compares to Powershell commands Backup-AzureRmApiManagement and Restore-AzureRmApiManagement.

---
#### Docume

[2018-07-02 16:11] MicahMcKittrick-MSFT commented on #11049
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 16:12] MicahMcKittrick-MSFT commented on #11050
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 16:12] MicahMcKittrick-MSFT commented on #11052
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 16:13] MicahMcKittrick-MSFT commented on #11060
Thanks for the question! We are investigating and will update you shortly.

[2018-07-02 16:15] MicahMcKittrick-MSFT commented on #10915
@buzzfrog thanks for letting me know where in the doc the issue is.

@danielsollondon can you take a look?

[2018-07-02 16:17] douglaslMS commented on #10943
#in-progress

[2018-07-02 16:17] pmiddleton opened #11088 "SSRS"
Will Managed Instances provide a license to run a separate SSRS server?

We really want to move our app to Azure Sql, but still requiring a stand alone Sql license in order to run SSRS has prevented us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c

[2018-07-02 16:20] jillcary commented on #10887
Hi @femsulu this looks related to the following issue posted in pcs-cli:
https://github.com/Azure/pcs-cli/issues/271

Could you try the following workaround?

-    Create a .pcs folder in the home directory: `mkdir .pcs`
-    Then call `pcs login` again.

[2018-07-02 16:36] MicahMcKittrick-MSFT commented on #10910
Splitting a single reserved instance does not allow you to change the scope. This just allows you to leave for example, 8 instances in one RI and 2 RI instance in another. This will then allow you to to cancel either of the Reserved Instances now that you have two.

Changing the scope is considered a different action that allows you to change the VM size types you have picked.

If at any point you

[2018-07-02 16:36] MicahMcKittrick-MSFT commented on #10376
Hi @akramwaseem. Just wanted to check in on this.

[2018-07-02 16:37] MicahMcKittrick-MSFT commented on #10740
I will close this out but if you feel you need more information please just let me know.

[2018-07-02 16:37] #10740 closed

[2018-07-02 16:37] MicahMcKittrick-MSFT commented on #10879
I will close this out but if you feel you need more information please just let me know.

[2018-07-02 16:37] #10879 closed

[2018-07-02 16:39] DinoSourcesRex opened #11089 "A link / information on how to create a script-based data flow"
I'm currently struggling to find any references on how to go about creating a script-based data flow to load in data as a datasource.

I've got a CosmosDb (Mongo Api) resource that I need to extract information from so it would be nice if there was a link to how to create the "script-based data flow" mentioned above. Or if Cosmos Db was supported within the UI.

---
#### Document Details

⚠ *Do no

[2018-07-02 16:39] MicahMcKittrick-MSFT commented on #10936
Ah okay! Makes sense. Thank you for clarifying that for me. In my experience when you exceed a quota the error throwing will be QuotaExceededException followed by a more detail explanation of how many cores you are going over and how many more you need.

[2018-07-02 16:40] akramwaseem commented on #10376
lets close this for know.

[2018-07-02 16:40] #10376 closed

[2018-07-02 16:41] MicahMcKittrick-MSFT commented on #10964
I will close this out but if you feel you need more information please just let me know.

[2018-07-02 16:41] #10964 closed

[2018-07-02 16:42] smcd253 commented on #11046
I'm running Raspbian-stretch Kernel 4.14

[2018-07-02 16:42] #10963 closed

[2018-07-02 16:45] MicahMcKittrick-MSFT commented on #10998
Thanks for that. As mentioned in your other issue, have you tried running CleanFabric.ps1 and try again to see if that helps?

[2018-07-02 16:46] MicahMcKittrick-MSFT commented on #11003
Thanks for chiming in @kashimiz!

@jmill269 I will close this out for now. If you have additional questions please just let us know and we can reopen and continue.

[2018-07-02 16:47] MicahMcKittrick-MSFT commented on #11019
@arkiaconsulting when you say you had trouble getting it to work, can you share some examples? Were you seeing any errors?

[2018-07-02 16:49] MicahMcKittrick-MSFT commented on #11060
@lachie83, @neilpeterson, @iainfoulds would any of you know if this is possible to achieve? If so, we might consider adding that info to the doc. Else, stating that it is not possible.

[2018-07-02 16:56] #10888 closed

[2018-07-02 16:59] aheumaier opened #11090 "Azure AKS reference documentation for "addonProfiles" is missing"
[Azure AKS reference documentation ](https://docs.microsoft.com/de-de/azure/templates/microsoft.containerservice/managedclusters)for "addonProfiles" is missing  .

Instead of  "addonProfiles": {} it is expected to note at least the portal enabled features like :
[code]

[2018-07-02 16:59] Brenduns commented on #10841
#in-progrss
Unclear what has happened to destination content. Under review.

[2018-07-02 17:00] finchl opened #11091 "Azure AD Password Protection Proxy agent fails to start service"
When attempting to install msi it keeps failing to start service.  tried couple of 2012r2 servers.

Any ideas?

[2018-07-02 17:01] jason-j-MSFT commented on #11047
@CarlosOnline
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 17:01] grayjeremy opened #11092 "Resource Provider Microsoft.EventGrid not enabled in cloud shell"
In the cloud shell, I had to run 'az provider register --namespace Microsoft.EventGrid' before I could run the 'az eventgrid event-subscription create ...' command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3f0c06-5644-ae2a-71b8-f2c8572d3f15
* Version Independent ID: 4dc6c7c6-13e6-0e47-9480-fa9f6bbb8c8a
* Conten

[2018-07-02 17:03] jason-j-MSFT commented on #11063
@vetrivelmp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 17:07] vasivara-MSFT commented on #11070
@gringosteve Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 17:08] Brenduns commented on #10841
@pagariyaalok    Thanks for calling out the deadlink.  It appears that that content is no longer available.   However, we recently released an update, the Azure Stack PowerShell module 1.3.0, and I've updated this topic to redirect to that content area.  This update should be live on the web this evening.

[2018-07-02 17:09] Brenduns commented on #10841
#please-close
Content update is pending publication later today.

[2018-07-02 17:11] antondahlin commented on #10936
Okay, great! Thank you for the reply!

[2018-07-02 17:12] rolyon commented on #10021
Hi @luisma1955, thanks for your feedback. I've sent a message to the team asking about the editions.
thanks

[2018-07-02 17:14] iainfoulds commented on #11022
Hi, @pdeva. Sorry you ran into issues. Where are you encountering errors, and what's the error message?

I've ran through this doc using a fresh 1.9.6 and a fresh 1.10.3 cluster, both without RBAC enabled, and I successfully have the ingress controller routing to the two services, with Let's Encrypt providing certificates. That's just with the following `helm install` command for the non RBAC clus

[2018-07-02 17:14] vasivara-MSFT commented on #11055
@acjoskam Thank you four question. We are using github platform to identify our document gaps and resolve it. Since this more of a product question, I think our community will help answer you the best. Please post your question [here](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=ApplicationInsights).

[2018-07-02 17:14] vasivara-MSFT commented on #11055
@acjoskam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 17:14] #11055 closed

[2018-07-02 17:15] MohitGargMSFT commented on #11056
@CyberSaphire Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:17] vasivara-MSFT commented on #11017
@juho-hanhimaki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 17:17] MohitGargMSFT commented on #11062
@dcaddick Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:18] MohitGargMSFT commented on #11064
@rishtech Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:24] veyalla commented on #11046
@smcd253
Presume you have updated the connection string in the *config.yaml*?

If yes, what is the output of `journalctl -u iotedge --no-pager --no-full`

[2018-07-02 17:29] jmill269 commented on #11003
Got it, thank you for the response! I'm sure i'm just missing something silly, but..when leaving out the /js path in the URL, I'm now getting a 404 Not Found response. Am I just not able to run the JS examples locally like this, or is there something else?

Again, thanks for the help!

[2018-07-02 17:30] MohitGargMSFT commented on #11076
@mhuebi Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:30] Juliako commented on #10962
#please-close

[2018-07-02 17:31] MohitGargMSFT commented on #11080
@bb12489 Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-02 17:33] MohitGargMSFT commented on #11083
@Josverl Thanks for reporting! We will investigate and update as appropriate.

[2018-07-02 17:34] conceptdev commented on #9778
Hi @Ahmad-Saleem-264 the doc is intending to demonstrate that 3rd party APIs can be integrated; it is not our goal to support all of those possible integrations. Please refer to Salesforce's documentation (which covers their REST API endpoints); and these tutorials: [AAD & Salesforce](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/salesforce-tutorial) and the [Salesforce connect

[2018-07-02 17:39] BryanTrach-MSFT commented on #11053
@alemag1986 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 17:40] BryanTrach-MSFT commented on #11075
@AggieCMD Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 17:42] MohitGargMSFT commented on #11065
@waheedhussain Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:42] Ruud-cb commented on #10962
@Juliako
Isn't there a simpler method? The user is already authenticated in my web app. Whats the additional security improvement by authenticating with another web service (which would only be allowed if authenticated with my web app). Maybe I am misunderstanding the docs in a way to see what is best for me. I am in a B2C market where a individual users upload a video, we encode it and give the p

[2018-07-02 17:43] kobulloc-MSFT commented on #11082
@joymon Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-02 17:43] MohitGargMSFT commented on #11088
@pmiddleton Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-02 17:44] #9778 closed

[2018-07-02 17:44] kobulloc-MSFT commented on #11086
@lmqferreira Thank you for pointing these issues out!  We are investigating this and will get back to you shortly.

[2018-07-02 17:47] MohitGargMSFT commented on #10951
@firmank We will now proceed to close this thread. Please open a new issue on the required document and we will gladly continue the discussion.

[2018-07-02 17:47] #10951 closed

[2018-07-02 17:48] MohitGargMSFT commented on #10985
@josuvil We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-02 17:48] #10985 closed

[2018-07-02 17:49] MohitGargMSFT commented on #10979
@rfsonders We will now proceed to close this thread. Please open a new issue on the required document and we will gladly continue the discussion.

[2018-07-02 17:49] #10979 closed

[2018-07-02 17:50] jeffhebrank opened #11093 "Use dynamic variable for columnMapping"
I'm trying to drive my column mapping from a database configuration table. IN my copy activity's mapping tab I am using a dynamic expression like @json(activity('Lookup1').output.value[0].ColumnMapping)

I don't know what to put for the value of this expression. I've tried several options but my mapping always seems to be ignored. For example, I've tried:
{
      "view.url": "url",
      "view.nam

[2018-07-02 17:51] craigshoemaker commented on #8623
@bjorncoltof - I'm circling back to see if you can still provide that sample string. We'll take a look at it and see if the doc needs to be updated.

[2018-07-02 17:52] #10936 closed

[2018-07-02 17:53] MicrosoftGuyJFlo commented on #11080
@bb12489 Since the content is for the lock screen and the example shows the lock screen I would assume people would know that they have to have their lock screen enabled to use SSPR at the lock screen. I think adding this detail would only confuse people as we are not pointing them at a GPO to set this but to Intune.

[2018-07-02 17:59] YutongTie-MSFT commented on #11078
@Haager Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 18:02] MicahMcKittrick-MSFT commented on #11084
thanks for this. We do have some documentation specifically for Linux as well: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux

I will assign to author to review and see if we can make this more clear.

@jpconnock can you take a look as @gatneil is no longer working on this product?

CC @gatneil

[2018-07-02 18:04] MicahMcKittrick-MSFT commented on #11085
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 18:04] kgremban commented on #10958
Hi @hansgschossmann, thanks for the feedback. You're correct that the placeholders in the docs don't exactly mention the placeholders in the text. I was hoping to help people understand that they need to use their IP addresses in the URI fields. I'll put together a new version today and see if I can make it more clear.

[2018-07-02 18:11] RicksterCDN commented on #10198
LAte to the game here - sorry about that @superminiek … I can't quite make out what you are asking. Are you looking for specific information about updating fstab after you remove a disk or including links to the "remove disk" doc in the "add disks doc"?

[2018-07-02 18:12] #10415 closed

[2018-07-02 18:15] gonzalofarias opened #11094 "Getting the old schema aften setting up a new Activity Log Alert"
Using the Azure Portal UI (Monitoring -&gt; Alerts -&gt; New Alert Rule) I created a new Activity Log alert, but the payload I'm getting is very different to the one being described here. In fact, I'm getting something similar to the old schema, the one being described in this doc page:

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-activity-log-alerts-webhook

Am I

[2018-07-02 18:15] RicksterCDN commented on #7684
The document is written to be executed from within cloud shell or a Linux workstation. It appears @adyrotaru  was doing this from a windows machine and had certificate handling issues.

[2018-07-02 18:15] RicksterCDN commented on #7684
#please-close

[2018-07-02 18:17] MicrosoftGuyJFlo commented on #11062
It is not possible to use the enable/enforce method per group. We are no longer recommending people use this method for MFA. The new recommendation is to use conditional access policies that can then be targeted to groups of users, specific applications, or other conditions. New documentation is coming in the next couple weeks that will expand on what is already in the doc you are looking at https

[2018-07-02 18:25] arturmiz commented on #10981
But it seems the "Static Website (preview)" menu option is available only for "Locally-redundant storage (LRS)". I tried to create a new storage account for different replication strategies but only for LRS (which btw is not the default Replication value) it worked. Is it a bug?

[2018-07-02 18:29] chrisweis opened #11095 "Bot behavior doesn't match documentation"
It says "The bot responds with "Please set QnAKnowledgebaseId and QnASubscriptionKey in App Settings. Learn how to get them at https://aka.ms/qnaabssetup""... but that isn't the behavior.  Instead, the Test in Web Chat parrots back responses ("hi" = "you said hi")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c

[2018-07-02 18:29] arturmiz commented on #11032
For me only "Replication" set to "LRS" strategy makes the "Static Website (preview)" option available which is not the default Replication option while creating a new storage account.

[2018-07-02 18:30] Brenduns commented on #11029
#in-progress
Investigating.

[2018-07-02 18:32] manchejs0 commented on #11046
I'm having the same issue.

@veyalla I can give you what my output is:

"iotedge.service: Main process exited, code=existed, status=127/n/a
iotedge.service: Unit entered failed state.
iotedge.service: Failed with result 'exit-code'.
iotedge.service: service hold-of time over, scheduling restart.
Stopped Azure IoT Edge daemon.
iotedge.service: Start request repeated too quickly.
Failed to start Azu

[2018-07-02 18:32] MohitGargMSFT commented on #11031
@as19444 Yes, Automatic tuning can be enabled at the server or the database level anytime without causing downtime.

[2018-07-02 18:32] TravisCragg-MSFT commented on #11066
@jonathannz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 18:34] veyalla commented on #11046
@manchejs0 Is this the full output of `journalctl -u iotedge --no-pager --no-full`?

[2018-07-02 18:35] SaurabhSharma-MSFT commented on #11056
@CyberSaphire  I am able to access Modern Authentication link.  What makes you feel this is invalid ?

[2018-07-02 18:37] RicksterCDN commented on #10198
@MicahMcKittrick-MSFT - please assign this one to @cynthn as the owner to the Remove Disk doc. We've chatted about the update/re-write.

[2018-07-02 18:37] TravisCragg-MSFT commented on #11072
@skmkzyk NSGs in Azure only block or allow traffic, they do not have any influence on connection timeout.

Please let me know if this answers your question.

[2018-07-02 18:37] manchejs0 commented on #11046
@veyalla Yes

[2018-07-02 18:37] TravisCragg-MSFT commented on #11081
@cap273 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 18:38] manchejs0 commented on #11046
@veyalla  well, to be specific it also says in the first line that it Started Azure IoT Edge daemon, but nothing else

[2018-07-02 18:38] TravisCragg-MSFT commented on #11092
@grayjeremy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 18:39] parakhj commented on #9751
@Garima2k1 could you please post such questions on stack overflow using the tag 'azure-ad-b2c'. This repo (and its issues) are intended for documentation issues.

To quickly answer your questions, using custom policies, you can call out to rest API's, SAML identity providers (like ADFS) and OpenID connect identity providers. To connect to LDAP, i'm assuming you will have to use ADFS in the middle.

[2018-07-02 18:42] veyalla commented on #11046
@manchejs0 what about `journalctl -u iotedge` (SHIFT+G will scroll to the bottom)?

[2018-07-02 18:44] CarlRabeler commented on #10909
PR submitted and merged - live later today
https://github.com/MicrosoftDocs/azure-docs-pr/pull/45653

[2018-07-02 18:46] TravisCragg-MSFT commented on #11068
@CRidge Currently you make an Azure API call with the password, so that restriction is on an operation that Azure performs.

If you would like to request that the password requirements be changed, you can [submit your feedback Here](https://feedback.azure.com/forums/217313-networking).

I also agree that the error reporting should be better in this situation, I will pass along that request.

We wi

[2018-07-02 18:46] #11068 closed

[2018-07-02 18:48] SaurabhSharma-MSFT commented on #10978
@massiveloop You need to go to Active Directory > Enterprise Applications > Select the password SSO app you have created > Click "Sign-ins" under Activity section of the application.  You can see all the user's sign-in status here. See screenshot here.

[2018-07-02 18:48] kgremban commented on #10907
@sergaz-msft Could you #please-close this issue?

[2018-07-02 18:49] TravisCragg-MSFT commented on #11028
@bingosummer VPN Gateways in Azure can support both P2S and S2S. I am following up now to confirm that stack supports P2S Gateways as well. I will get back to you as soon as I can.

[2018-07-02 18:51] manchejs0 commented on #11046
@veyalla

Same stuff.  I'm sorry, but I notice the OP is running Raspbian, whereas I'm having this issue on Ubuntu 16.04 (still arm architecture, as it is also a Raspberry Pi)

[2018-07-02 18:53] eschneider999 opened #11096 "I don't see any logs?"
How about some screen shots?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: ae6976bb-aadd-4d40-bb62-57589265f4ff
* Content: [Monitor published APIs in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-azure

[2018-07-02 18:54] TravisCragg-MSFT commented on #11037
@kasunsjc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-02 18:57] jdobrzen opened #11097 "Step 3 of Prepare to operationalize locally"
I am getting the following error when trying to execute the following command:

`az ml env setup -n myEnvironment --location eastus2`

{'Error': UnicodeEncodeError('charmap', 'Subscription set to Visual Studio Enterprise \u2013 MPN', 45, 46, 'character maps to <undefined>'), 'Azure-cli-ml Version': None}

[2018-07-02 18:59] cbrooksmsft commented on #11092
@tfitzmac, do we have a standard approach to getting the RP registered that we should include here?

[2018-07-02 18:59] veyalla commented on #11046
I see good to know. What is the output of `systemctl status docker`?

[2018-07-02 19:01] MohitGargMSFT commented on #11065
@waheedhussain Please note that using LTR you can retain backup up to 10 years for now. You can view the available backups in Azure Portal and restore it using Azure Portal or Azure powershell. Please refer to this document - [Manage Azure SQL Database long-term backup retention](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure).

[2018-07-02 19:02] manchejs0 commented on #11046
Looks fine, but there is this:

"level=warning msg="Your kernel does not support cgroup rt runtime"
level=warning msg="Unable to find cpuset cgroup in mounts"
"level=warning msg="mountpoint for pids not found"

[2018-07-02 19:03] eschneider999 opened #11098 "How about explaining the subscription header requirement???"
I get the following message:
Trace is not available for requests with no subscription key specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a3dd020-373d-9807-fcfd-30fedf005040
* Version Independent ID: 34fe30d0-f225-ff8d-1f6b-2494f7aad42d
* Content: [Debug your APIs using request tracing in Azure API Managemen

[2018-07-02 19:03] Brenduns commented on #11029
Looks like this topic could use a link to https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-network-differences to call out important details, including what is, or isn't supported.   Adding that in the introductory section.

[2018-07-02 19:05] Brenduns commented on #11029
#please-close
 @bingosummer   I've submitted a fix that links this topic out to the considerations topic, where limitations are noted.

[2018-07-02 19:09] Anmolgan81 opened #11099 "Do Azure B2C Tenant resource supports move?"
Please let me know if  Azure B2C Tenant resource supports move

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure

[2018-07-02 19:12] SaurabhSharma-MSFT commented on #11063
@vetrivelmp Conditional Access feature to configure token life time has not completed yet.  Users will be notified when this feature is available with the updated documentation.   Please refer to [Azure Active Directory pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/) for licensing requirements.

[2018-07-02 19:21] TravisCragg-MSFT commented on #10981
@arturmiz I am able to create a Static Website with RAGRS without an Issue. Make sure the storage account is a Standard V2 Storage account.

[2018-07-02 19:23] TravisCragg-MSFT commented on #11029
@bingosummer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@Brenduns Thank you for the information!

[2018-07-02 19:23] #11029 closed

[2018-07-02 19:25] TravisCragg-MSFT commented on #11028
@bingosummer This was answered in #11029.

[Point to Site VPNs are not yet supported in Azure Stack. ](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-network-differences)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-02 19:25] #11028 closed

[2018-07-02 19:34] Anmolgan81 commented on #11099
ok thanks

[2018-07-02 19:34] YutongTie-MSFT commented on #11089
@DinoSourcesRex Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cforbe Hi, this is a document suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-02 19:37] YutongTie-MSFT commented on #11095
@chrisweis Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-bug about the Bot-service behavior, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-02 19:57] BryanTrach-MSFT commented on #11021
@shershen08 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin I receive a similar error as the customer when trying to run the `az webapp up -n <sitename>` cmdlet. Can you please take a look at this and determine if an update to the doc is necessary?

[2018-07-02 19:58] cherylmc commented on #11081
@jaredr80 - can you please take a look?

[2018-07-02 20:02] eross-msft commented on #10940
@ericjenouvrier  I'm really not familiar with the RSS Feeds so I had to ask around. Here's what I was able to find out:

"This feed should work fine with standard RSS readers. You just add it as one of your feeds and it lights up when the page changes. I’m not familiar enough with MS Flow or it’s integration with Teams to know if the included use case will work. Our RSS feed implementation is very

[2018-07-02 20:11] BryanTrach-MSFT commented on #11020
@sjetha It appears that the last paragraph assumes the user has prior knowledge on using a backend service such as Azure Mobile Apps.

We've reassigned the feedback to the doc author to review the feedback and determine if adding a URL to another doc might provide a more end to end experience.

[2018-07-02 20:18] MicahMcKittrick-MSFT commented on #11090
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-02 20:20] rothja commented on #10649
@Lagrik Thanks for the feedback, and apologies for the long delay in responding. I'm going to get this fixed.

[2018-07-02 20:21] cgillum commented on #10795
Thanks for pointing this out. You're right - this is confusing and we need to fix it to make it *not* confusing.

[2018-07-02 20:23] jackhorton commented on #10945
I ran into this as well, I agree that it should be explicitly noted somewhere. Also, why exactly do we have to wait, and what is the recommended time to wait for? Could a new sync and/or async API be added that only returns when the Flush operation actually completed?

[2018-07-02 20:29] thuansoldier opened #11100 "Provide more information about Update"
It would be good if the doc provides more information about Policy Update, what can be updated, what can not be updated. For example, I can update assignment parameter, but I can't update rules or policy parameters of the existing policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 834b3717-4148-037b-509b-25f304ed29

[2018-07-02 20:31] YutongTie-MSFT commented on #11078
@Haager Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, I have reproduced the bug the customer mentioned above, I just did it as the document. Can you please check if there any change that will make the issue and update the document as necessary? Thanks a lot!

[2018-07-02 20:32] jingjing-z commented on #11071
You can hide the traffic flow by setting the "flow" parameter from [TrafficOption class](https://docs.microsoft.com/en-us/javascript/api/azure-maps-javascript/trafficoptions?view=azure-iot-typescript-latest) to "none".

[code]

[2018-07-02 20:34] tfitzmac commented on #11092
@cbrooksmsft - we do not currently have a standard approach, but this question has come up several times recently. I'll look at how we can add this step, and update the article.

[2018-07-02 20:34] mike-urnun-msft commented on #10866
Hi @remyblok - Thanks for reporting this! We have made the necessary changes to this documentation to reference the use of Webhook Tester service instead of RequestBin. The changes will reflect after our next merge, and as such, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 20:34] #10866 closed

[2018-07-02 20:36] jkwon2013 commented on #8513
@cdaniel96 thanks so much for the details! We are currently working on a bug fix that will basically know that you're part of that tenant and take you to the proper lab-creation page. This will be fixed soon.

[2018-07-02 20:45] JasonWHowell commented on #10093
Thanks for the feedback @avodovnik this was fixed recently by our team. ~Jason

MicrosoftDocs/azure-docs-pr#45400

#please-close

[2018-07-02 20:48] mike-urnun-msft commented on #10916
Hi @krajniak - I have validated this issue and am reaching out internally to find out more. This appears to be a temporary issue for now but I'll keep you posted here with any relevant information. Stay tuned!

[2018-07-02 20:53] rothja commented on #9961
@tschleining So sorry for the long delay on this. You are right that this would avoid confusion. I'll try to get this change in.

@ntachandley Sorry for the dissatisfaction over the offering for SQL VMs. I haven't thoroughly investigated this, but I thought the vCPUs were actually designed to help SQL VMs in many cases (giving you the memory and IO of a larger machine with less vCPUs if you were n

[2018-07-02 20:55] MohitGargMSFT commented on #11088
@pmiddleton Please refer to [SQL Server feature support in Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features#sql-server-feature-support-in-azure-sql-database), for SSRS it says 'No - Use PowerBi' for both Azure SQL Database and Managed Instance.

[2018-07-02 20:55] vasivara-MSFT commented on #10093
@avodovnik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 20:55] #10093 closed

[2018-07-02 20:57] jmill269 commented on #11003
I just gave that a try, but I'm still getting the 404 response. Just to be sure I also sent the POST request with the /js path, and that worked fine as before. Not too sure what the issue could be

[2018-07-02 20:57] YutongTie-MSFT commented on #11058
@nstulasi Hi, this is a doc-bug around 'RestClient', can you please check if it need to change and update the document as necessary? Thanks a lot!

[2018-07-02 21:01] lucasmike opened #11101 "using new gremlin npm to connect"
how do we use the new npm gremlin package to connect to Cosmos DB as per the documentation:
http://tinkerpop.apache.org/docs/current/reference/#gremlin-javascript

const gremlin = require('gremlin');
const Graph = gremlin.structure.Graph;
const DriverRemoteConnection = gremlin.driver.DriverRemoteConnection;

const graph = new Graph();
const g = graph.traversal().withRemote(new DriverRemoteConnecti

[2018-07-02 21:02] BryanTrach-MSFT commented on #11027
@matt40k I verified on my end that 'Change App Service plan' appears for my web app in both the preview portal and the production portal.

I would suggest using the search bar to locate the blade or scroll down towards the bottom of the page to locate the blade.

Please note that due to the requirements/limitations of the 'change app service plan' feature, I would highly suggest you consider the '

[2018-07-02 21:02] #11027 closed

[2018-07-02 21:03] veyalla commented on #11046
@manchejs0 We don't officially support Ubuntu on ARM, so this has been tested on our end. @myagley Any idea?

[2018-07-02 21:05] msimecek opened #11102 "Missing required library Microsoft.Azure.DocumentDB"
There's one more library missing from the requirements: `Microsoft.Azure.DocumentDB` - there seems to be something wrong in the definitition of NuGet packages and without explicitly installing `v1.20.1` or higher, initialization of table client throws *Could not load file or assembly 'Microsoft.Azure.Documents.Client, Version=1.20.0.0...* error.

---
#### Document Details

⚠ *Do not edit this sect

[2018-07-02 21:06] #10649 closed

[2018-07-02 21:07] msimecek commented on #11102
Also, `Microsoft.Azure.Storage.Common` v9.4-preview is not compatible with CosmosDB.Table (described here: https://github.com/Azure/azure-storage-net/issues/712).

[2018-07-02 21:08] BryanTrach-MSFT commented on #10321
@mstruys We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-02 21:08] #10321 closed

[2018-07-02 21:13] jmill269 commented on #11003
I have noticed that after running 'func host start', it is finding the HttpStartJS function but not HttpStart despite it also being in the same directory

[2018-07-02 21:26] JohnGalt1717 opened #11104 "This doesn't deal with HTTPS"
This document doesn't deal with how to make ASP.NET Core handle HTTPS properly. If you set it up in the web service, then yes, https works, but asp.net believes it's running as plain old http, which it freaks out about in multiple locations like Swagger, and OpenIdConnect.  It needs to be clearly documented how to get aspnet core kestrel that's running in the docker container to handle https prope

[2018-07-02 21:31] femsulu commented on #11061
@forester123 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 21:31] rothja commented on #9487
@cephalin In that case, there is no further action we can do on this issue, correct? Thanks!

[2018-07-02 21:33] femsulu commented on #11099
@Anmolgan81 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 21:33] #11099 closed

[2018-07-02 21:34] rothja commented on #11061
@femsulu Please assign to @cephalin . He owns App Service documentation. Thank you!

[2018-07-02 21:35] femsulu commented on #11061
assigned to @cephalin

[2018-07-02 21:39] femsulu commented on #11094
@gonzalofarias Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-02 21:45] MarkusVi commented on #10809
Hi @johnakeogh, thanks, good catch. I have staged a fix for this.

#please-close

[2018-07-02 21:50] femsulu commented on #11100
@thuansoldier We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 21:50] szarkos commented on #11049
Can you provide more detail about what you think needs updating?

[2018-07-02 21:51] davidmu1 commented on #10451
Added the following sentence to the section:

Choose All services in the top-left corner of the Azure portal, search for and select Azure AD B2C. You should now be using the tenant that you previously created.

#please-close

[2018-07-02 21:53] #9961 closed

[2018-07-02 21:55] veyalla commented on #11054
@luyaok The recommended method is do this is setting the environment variable **UpstreamProtocol** for the edge agent. The valid values are **AMQP**, **AMQPWS**, **MQTT** or **MQTTWS**.

The variable can be set in *Advanced Edge Settings* pane from the *Set Modules* page:

![image](https://user-images.githubusercontent.com/22105760/42188213-d10235fa-7e07-11e8-92a2-5469192ad40d.png)

[2018-07-02 21:56] kgremban commented on #10325
@MicahMcKittrick-MSFT were you able to connect to your VM after you created it with 0 inbound ports? Or could you test this again? I'm currently walking through this quickstart and am unable to click **ok** on the settings page without selecting public inbound ports (for this quickstart, it should be SSH).

[2018-07-02 22:03] MohitGargMSFT commented on #11101
Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-02 22:04] MicahMcKittrick-MSFT commented on #10325
@kgremban ah good point! No it does not work without a port. I was assuming the issue was only with the diagnostics account. But I can see where we should update the doc. I can fix that :)

[2018-07-02 22:05] MohitGargMSFT commented on #11102
@msimecek Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-02 22:08] aaronjolson opened #11105 "syntax needs to be edited"
the section for printing the list of the items in a container is
# List the blobs in the container
[code]
print("\nList blobs in the container")
generator = block_blob_service.list_blobs(container_name)
for blob in generator:
    print("\t Blob name: " + blob.name)
[code]

[2018-07-02 22:09] SaurabhSharma-MSFT commented on #10925
@PaoloCastAway We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 22:09] #10925 closed

[2018-07-02 22:15] SaurabhSharma-MSFT commented on #10926
@PaoloCastAway We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 22:15] #10926 closed

[2018-07-02 22:16] SaurabhSharma-MSFT commented on #10974
@matthias-scharl Ok, I will check on this and update you back.

[2018-07-02 22:18] cwchapma commented on #10149
I'm seeing this issue as well except I'm using the azure cli

[code]

[code]

[2018-07-02 22:19] SaurabhSharma-MSFT commented on #10809
@omegagx We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 22:19] #10809 closed

[2018-07-02 22:47] faxata opened #11107 "Out"
No money

---
#### Подробни данни за документите

⚠ *Не редактирайте този раздел. Задължително е за docs.microsoft.com ➟ връзка към проблем в GitHub.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [How to add an existing Azure subscription to your Azure AD directory](https://docs.microsoft.com/bg-bg/azure/active-directory/fund

[2018-07-02 22:49] apwestgarth commented on #8320
Documentation was updated and the latest version was published on 4th June and included this change.  If you are happy the feedback has been addressed @pjhacker1552 please confirm and we can close this issue.

[2018-07-02 22:52] cynthn commented on #10198
@superminiek thanks for the feedback! I opened a work item for both Windows and Linux to update the docs to describe a more "clean" method for removing a disk that includes instructions on how to handle the disk removal from within the OS.

#please-close

[2018-07-02 22:52] #10198 closed

[2018-07-02 22:54] MicahMcKittrick-MSFT commented on #11090
@aheumaier I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 23:00] tfitzmac commented on #11090
@mmacy - do you know someone who can verify if the swagger file needs to be changed? It looks like the [REST reference](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#managedclusteraddonprofile) has the same empty object.

[2018-07-02 23:00] thuansoldier opened #11108 "Provide more sample for strongType use"
Currently there are sample policies for location and resourceTypes. Please provide more samples for the other types so people can see how helpful they are, for example exsistingResourceGroups. Is this one used for checking the existence of target resource type in specific resource group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-02 23:04] mike-urnun-msft commented on #10916
@krajniak Just an FYI that this appears to be an issue with **location (West US 2, West Central US..)** that is selected for your **resource group** to which your Logic App that uses the Twitter Connector is deployed to... Could you try again with your resource group location specified as **Central US** or any of the other ones?

[2018-07-02 23:05] jkwon2013 commented on #10629
@spelluru Yes please!

[2018-07-02 23:07] johnkemnetz commented on #9554
Hi @mganeshphani - sorry for the delay. In the article, we state that all create, update, and delete actions are logged in the Administrative category. We also say "Every action taken by a user or application using Resource Manager is modeled as an operation on a particular resource type."

Azure Resource Manager operations follow a standard format where the final word is always */action, */write,

[2018-07-02 23:10] YutongTie-MSFT commented on #11097
@jdobrzen Hi, thanks for your feedback. Could you please share which document you refer to for this issue?

[2018-07-02 23:11] YutongTie-MSFT commented on #11091
@finchl  Hi, thanks for your feedback. Could you please share which document you are referring to for this issue?

[2018-07-02 23:14] femsulu commented on #11071
@HuckFin7b We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 23:14] #11071 closed

[2018-07-02 23:16] BryanTrach-MSFT commented on #11104
@JohnGalt1717 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 23:20] gsacavdm commented on #10870
Hi @jcbrooks92 , there have been several updates on the Azure Gov story for monitoring and diagnostic logs. We're double checking our end to confirm we can officially update the docs and expect a response in the next week or so.

[2018-07-02 23:31] femsulu commented on #10791
@kamleshdelat We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 23:32] #10791 closed

[2018-07-02 23:37] bingosummer commented on #11029
@Brenduns I think, the question in this issue is not answered. Your comments seems to be related to other issues.

[2018-07-02 23:39] BryanTrach-MSFT commented on #11047
@CarlosOnline Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-02 23:39] femsulu commented on #10811
assigned to @msvijayn to help answer the follow-up question.

[2018-07-02 23:45] femsulu commented on #10988
@GCPMO We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-02 23:45] #10988 closed

[2018-07-02 23:47] femsulu commented on #10871
assigned to @msvijayn to follow-up.

[2018-07-02 23:50] rboucher commented on #8267
@markmassad Hi Mark.  Sorry for the late reply.  This article was produced using the REST API and then massaged into this format. The API call is https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list , which spits it out in JSON format.  In theory you get a tool that converts the JSON to CSV.  We won't write one that does it for the article itself.

[2018-07-02 23:54] bingosummer commented on #11028
@TravisCragg-MSFT Thanks.

I learned that P2S and Vnet-2-Vnet gateways are not supported in Azure Stack. How about S2S gateway? I think, it's supported because there's a [doc](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-vpn-gateway-about-vpn-gateways#site-to-site-and-multi-site-ipsecike-vpn-tunnel) about how to configure it. Correct?
The point of this issue is that [Azure Stack

[2018-07-03 00:02] veyalla commented on #11051
Thanks @toddwhitehead instructions updated.

@sergaz-msft #please-close

[2018-07-03 00:15] kobulloc-MSFT commented on #11098
@eschneider999 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-03 00:16] kobulloc-MSFT commented on #11096
@eschneider999 Thank you for the feedback!  We are looking through the documentation and will get back to you shortly.

[2018-07-03 00:19] #10928 closed

[2018-07-03 00:22] BryanTrach-MSFT commented on #10881
@asote To clarify, you are attempting to run `git push azure master` from the Azure Cloud Shell bash window? If so, it's likely that the cloud shell is using some sort of proxy.

We would recommend pulling the git files locally to your machine and use a local instance of Git Bash CMD to complete the steps rather than trying to run Git directly in the cloud shell window.

[2018-07-03 00:25] daruizcorrea opened #11110 "Missing guide for Hyper-V disaster recovery drill"
When clicking on the link to run a disaster recovery drill for Hyper-V VMs, it shows the documentation for VMware VMs instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d928a5ee-3c34-b56a-c797-d682e343c392
* Version Independent ID: 6a95c94b-85eb-3b35-6e0b-c0a0172de7c4
* Content: [Run a disaster recovery drill for

[2018-07-03 00:28] mike-urnun-msft commented on #10916
@krajniak This issue has been raised as an [MSDN forum post here](https://social.msdn.microsoft.com/Forums/en-US/339e8acd-7beb-4779-a02a-8948928bfec8/not-able-to-connect-twitter-connector-from-logic-app?forum=azurelogicapps). Since this issue is a duplicate and doesn't address any specific content of this documentation, i'd like for you to track any updates from the forum thread instead of this is

[2018-07-03 00:28] #10916 closed

[2018-07-03 00:36] femsulu commented on #11074
@lordbah We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 00:36] #11074 closed

[2018-07-03 00:38] femsulu commented on #11073
@keljdoyle We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 00:38] #11073 closed

[2018-07-03 00:43] femsulu commented on #11077
@bingosummer Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-03 00:45] femsulu commented on #11093
@jeffhebrank Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-03 00:47] femsulu commented on #11107
Closing issue as spam

[2018-07-03 00:47] #11107 closed

[2018-07-03 00:52] LucianFrango opened #11112 "Internal DNS"
What about internal DNS?
You obviously want to leverage functionality around not prompting for MFA on local network. So with two nodes across two regions, what does internal DNS look like? Round robin would mean eventually in the event of disaster, you're going to have one node offline and DNS still directing traffic to that node/region. Manual intervention is required. Not exactly ideal.

---
###

[2018-07-03 01:33] MicrosoftGuyJFlo commented on #11062
No. Once you set the policy and enforce it, it applies. If a user hasn’t registered methods they will be required to do so at that time when the conditions are met. You wouldn’t enable/enforce the user. If you want to email me (in my profile) I can send you the new doc via email for your feedback.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: David Caddick <no

[2018-07-03 01:56] sophiaso commented on #8121
@ConnorMcMahon Sorry to comment on an already closed issue, recently I am still facing the error `AADSTS240002: Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer' grant` when keeping the   `oauth2AllowImplicitFlow` with default value `false`.

About `the workaround is to set the field oauth2AllowImplicitFlow in the Application Manifest to true` from [your comment](https

[2018-07-03 02:06] bwren commented on #11017
We state in the documentation the scalability limits at https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-collector-api#data-limits.  If you have a larger data size than this, then you need top break the data up into multiple posts. The log-type is not a partition key, it's mean to identify the type of data that you're writing.

[2018-07-03 02:06] bwren commented on #11017
#please-close

[2018-07-03 02:13] jdobrzen commented on #11097
[(https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3)]

Step 3 of section "Prepare to operationalize locally"

[2018-07-03 02:28] shm007g commented on #8423
Same question here. For now, I just want to say: stupid azure!

[2018-07-03 02:31] SaurabhSharma-MSFT commented on #11064
@rishtech I have checked for few statuses of the user objects and it appears correct on the portal.  Please find below screenshots -
- Invited User
![image](https://user-images.githubusercontent.com/38112130/42195283-09d19e14-7e2d-11e8-856e-9f4491d8568a.png)
- Azure Active Directory
![image](https://user-images.githubusercontent.com/38112130/42195327-34b74f7a-7e2d-11e8-9b13-31afb12ae939.png)
- Ext

[2018-07-03 03:14] smcd253 commented on #11046
@veyalla here's my output after running journalctl -u iotedge --no-pager --no-full

Jul 01 21:17:19 spencerpi iotedged[1206]: 2018-07-02T04:17:19Z [INFO] - Starting Azure IoT Edge Security Daemon
Jul 01 21:17:19 spencerpi iotedged[1206]: 2018-07-02T04:17:19Z [INFO] - Version - 1.0.0 (52ef77db24126bf473265fc…a2dd6b)Jul 01 21:17:19 spencerpi iotedged[1206]: 2018-07-02T04:17:19Z [INFO] - Using config

[2018-07-03 03:29] msvijayn commented on #10811
@femsulu - the question is pertinent to ActionGroups, not described in the said doc but linked article. I can not comment or answer with authority questions on ActionGroup - suggest assigning to the author of the ActionGroup doc which is in debate.

[2018-07-03 03:32] shizn commented on #10423
Resolved. Thanks!!! #please-close

[2018-07-03 03:34] v-jerkin commented on #11025
@wolfma61

[2018-07-03 03:36] v-jerkin commented on #11024
@wolfma61

[2018-07-03 03:46] smcd253 commented on #11046
@veyalla sounds good. I'll delete it after fixing this bug. deleting the angle braces from the connection string did not work. Thoughts?

[2018-07-03 03:47] kobulloc-MSFT commented on #10897
@Jich2018 I was able to get the query to execute successfully by following the documentation, so my guess is that the 502 has something to do with where it is located.  I'll see if I can find any documentation that would describe limitations to locations.  Would you mind describing what your setup looks like?

![image](https://user-images.githubusercontent.com/37556655/42197696-e1c1d8b0-7e38-11e8-

[2018-07-03 03:52] Jich2018 commented on #10897
Thanks @kobulloc-MSFT for the reply. I think I have known the issue actually. I believe you may encounter a same issue with me when you use a brand-new Application Insights with no data inside. I think the application insights may use something like lazy-initialization. Thus, before a client sends data into application insights, the instance may be not up or the network resource is not initialized

[2018-07-03 03:56] vetrivelmp commented on #11063
Thank you for the response.

[2018-07-03 04:07] veyalla commented on #11046
Presume you restarted the service after updating config.yaml? `sudo systemctl restart iotedge`

[2018-07-03 04:09] mmacy commented on #11090
@tfitzmac Swagger is OK, it's a publishing bug. This is a known issue, currently tracked in ICM:

Sev 2: Id 73589353: AKS REST content is not generating from the defined swagger definintions

...and in CSI VSTS work item 1292854.

Cc: @aheumaier @iainfoulds

[2018-07-03 04:21] smcd253 commented on #11046
I did not.

But it looks like that worked!

However, I just got the following error:

Jul 02 21:16:10 spencerpi iotedged[12899]: 2018-07-03T04:16:10Z [WARN] - Error in watchdog when checking for edge runtime status:
Jul 02 21:16:10 spencerpi iotedged[12899]: 2018-07-03T04:16:10Z [WARN] - Identity error
Jul 02 21:16:10 spencerpi iotedged[12899]: 2018-07-03T04:16:10Z [WARN] -         caused by: IoT

[2018-07-03 04:30] MicrosoftGuyJFlo commented on #11062
#please-close

[2018-07-03 04:30] MicrosoftGuyJFlo commented on #11062
Taken to an offline email conversation

[2018-07-03 04:31] MicrosoftGuyJFlo commented on #11080
#please-close

[2018-07-03 04:37] smcd253 commented on #11046
@veyalla sure, created a new device, ran restart, and here's the output of journalctl:

Jul 02 21:10:28 spencerpi systemd[1]: Stopping Azure IoT Edge daemon...
Jul 02 21:10:28 spencerpi iotedged[11662]: 2018-07-03T04:10:28Z [INFO] - Received SIGTERM, starting shutdown
Jul 02 21:10:28 spencerpi iotedged[11662]: 2018-07-03T04:10:28Z [INFO] - Stopping edge runtime module edgeAgent
Jul 02 21:10:28 spe

[2018-07-03 05:15] veyalla commented on #11046
Yeah, we'll need to look into that. For now, please try:
[code]

[2018-07-03 05:40] omerzubair opened #11115 "Steps Outdated ? and unable to add existing Subscription to Managment group"
Hi Team,

I have created an heirachy of Management Groups and was at the heading "Add an existing Subscription to a management group"
I was unable to follow steps as they do seem outdated.

This is how I did it.
1. Click on the MG group where i wish to attach the subscription
2. next to name there was (details) hyperlink
3. when I click on it I get buttons in next blade "+ Add Subscription"
4. I c

[2018-07-03 05:40] Mahesh-MSFT opened #11116 "Clarification over Source property of a B2B user"
In section https://docs.microsoft.com/en-us/azure/active-directory/b2b/user-properties#key-properties-of-the-azure-ad-b2b-collaboration-user, Source property has following explanation -

"Azure Active Directory: This user authenticates by using an Azure AD account that belongs to this organization. This type of sign-in corresponds to State 4."

This statement implies that a user is a member of his

[2018-07-03 05:49] dcpking opened #11117 "Review of "quickstart-create-data-factory-portal""
As with all the Azure documents, this is rapidly getting left behind by the changes in the UI.  This is unfortunate as it makes it very difficult to learn how to achieve tasks in what is already an unfamiliar landscape.
As one example, in your document you lead the user through setting up the parameters of a trigger, and then state "Press Next" in order to continue on to attach the pipeline to the

[2018-07-03 06:13] asingh1989 commented on #11049
Hi @szarkos ,

I believe on https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros , the version of the distribution need to be updated.
For example - Oracle Linux 6.4 is not present in Azure portal as per the doc.
Please correct me if I am wrong .

Regards,

[2018-07-03 06:15] pabloalmaleck commented on #10423
Perfect! Thank you very much

[2018-07-03 06:17] rayne-wiselman commented on #9553
@bradcstevens - Re this one, the broken link is fixed. We've confirmed that the script works so this doesn't seem to be a content issue. To troubleshoot the issue if you're still experiencing it,  I suggest you raise the issue on the Site Recovery forum at https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hypervrecovmgr.  Thanks - Rayne

I'm closing this issue since it seems to be re

[2018-07-03 06:19] rayne-wiselman commented on #10467
@dylanhughes. Thanks! Fixed

#please-close

[2018-07-03 06:20] rayne-wiselman commented on #10593
@migrande. Thanks! Fixed

#please-close

[2018-07-03 06:28] vicperdana opened #11119 "Are managed disks in GA?"
Hi, the doc states that managed disks is supported in Azure-to-Azure ASR - is this GA already?  Looking for a confirmation in Australia East specifically.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content

[2018-07-03 06:34] zhouwangzw commented on #11024
The JavaScript SDK is still supported. However it has a different API. We will update the JavaScript SDK to have API parity with [the current speech SDK](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/).

[2018-07-03 06:36] femsulu commented on #10811
@msvijayn thanks for the update. Will reassign to @bwren

[2018-07-03 06:40] tlfzhylj opened #11120 "Outdated recommended version"
In the documentation it says that the recommended version is 1.1.614.0 - published on September 5, 2017. The latest version available is 1.1.819.0.

[2018-07-03 06:45] dusmart opened #11121 "There is an error using new version of <WindowsAzure.Storage>."
In section [https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started#update-and-add-nuget-packages], the doc says we need to update the new version of storage.

Actually, new new version does not work well with our example. The code cannot be built(ContosoAdsWeb\Controllers\AdController.cs line 11). And even if you fix that error, you will not run it correctly, eithe

[2018-07-03 06:45] rayne-wiselman commented on #11119
@vicperdana - Hi, the info is in the article. And Azure to Azure replication is GA - https://azure.microsoft.com/en-us/updates/general-availability-of-disaster-recovery-for-azure-iaas-vms-using-asr/

Standard Managed disks | Supported in Azure regions in which Azure Site Recovery is supported.   

Premium Managed disks | Supported in Azure regions in which Azure Site Recovery is supported.

Thanks

[2018-07-03 06:51] LoganZhao opened #11122 "Need to update the VMSS instance to latest model to download the extension."
i found after executed:

Set-AzureRmVmssDiskEncryptionExtension -ResourceGroupName $rgName -VMScaleSetName $vmssName `
    -DiskEncryptionKeyVaultUrl $diskEncryptionKeyVaultUrl -DiskEncryptionKeyVaultId $keyVaultResourceId –VolumeType "All"

You need to upgrade the instance and trigger the update. or it will not sync with CRP on the latest version and wont download the extension to guestOS.

---
#

[2018-07-03 06:55] rishtech commented on #11064
@Saurabh - please close this thread, as I am getting the same results as shared by your screenshots, Also just wanted to confirm that instead of opening the properties of the users, if we just see the list it only shows as "Azure Active directory" (for users added from external directory as well), is this by design ?

[2018-07-03 07:07] zhouwangzw commented on #11025
Yes ,the current Speech SDK is using WebSocket for communication with service. One of advantages of the Speech SDK is to make users easy to use the Speech service without knowing details of the low-level protocol. That is why we have not put the procol spec in the documentation site. The protocol you mentioned is the one that the current SDK is using,  but it might be updated/extended in future to

[2018-07-03 07:07] vasivara-MSFT commented on #11117
@dcpking Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-03 07:09] rishtech commented on #11116
Hello Mahesh,

This is referencing to the scenarios wherein the admin will create the account in their directories for the partners and then converting them to guest users.
This will result the same behavior for a user added in the directory and guest users invited from the other directories, as the conditional access policies will target the usertype.

Regards,
Rishabh

[2018-07-03 07:11] ram-kakani opened #11123 "Update to include Disk Swap instead of recreating the VM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043790a8-be55-8210-5d82-d00ddc223c25
* Version Independent ID: 0093eeff-aac1-7de6-13a5-dc2e37fae9e2
* Content: [Use a Windows troubleshooting VM with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/troubleshoot-recove

[2018-07-03 07:11] rboucher commented on #8267
@markmassad Let us know if we can close this or if you have more comments.

[2018-07-03 07:28] gatneil commented on #11084
@MicahMcKittrick-MSFT @jpconnock yeah, I think all the information exists spread across a variety of docs pages, but this is a pretty core scenario, so it might be worth consolidating into a single page/source. I threw together a blog post that consolidates most of the data together: https://negatblog.wordpress.com/2018/07/03/changing-admin-credentials-of-vms-and-scale-sets/. It might be of use if

[2018-07-03 07:44] waheedhussain commented on #11065
ok...Thanks, but I believe that these backups are going to Azure Blob storage......is it possible to copy the backup else where from the blob storage to manage longer retention?

[2018-07-03 07:54] finchl commented on #11091
this one
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises

[2018-07-03 08:08] superminiek commented on #10198
Thank you all! It would be nice to have a more "clean" method, I thought for the first time that process of attaching/detaching MD is fully automatic (so after detaching of MD it would be handled automatic on fstab file) but in fact we are talking about IaaS, it is impossible and I understand that. After adding a section regarding "clean" method it would be very helpful :).

[2018-07-03 08:09] Jich2018 commented on #10897
Thanks @kobulloc-MSFT, once you know the detail, can you let me know as well?

[2018-07-03 08:21] rayne-wiselman commented on #11110
@daruizcorrea This guide is relevant for both Vmware and Hyper-V replication. I've added text to indicate this.

Thanks for your valuable input!

#please-close

[2018-07-03 08:43] mayur-tendulkar commented on #10451
Thanks for the change.

[2018-07-03 08:43] #10451 closed

[2018-07-03 09:10] waheedhussain opened #11124 "Monitor Automated and LTR backups"
Hi,

Is there a way to monitor these backups? so if one fails for any reason an alert/notification is generated

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Manage Azure SQL Database long-te

[2018-07-03 09:21] AdityaTulasi opened #11125 "Please fix the restore keyvault example"
The restore command didn't work for me until I added the --resource-group parameter. It couldn't find the right key vault. Can you please update the sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d15bccf6-a403-0b86-5d93-9a550527a55c
* Version Independent ID: 5472b552-37aa-6d0c-4dc1-426b509f62e5
* Content: [Azur

[2018-07-03 09:22] Louicha opened #11126 "RestSharp could not be found"
error CS0246: The type or namespace name 'RestSharp' could not be found (are you missing a using directive or an assembly reference?) [D:\home\site\wwwroot\Microsoft.Bot.Sample.LuisBot.csproj]
How to solve this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Version Indepe

[2018-07-03 09:23] HuckFin7b commented on #11071
This does not work completely, images remain after disabling traffic
![image](https://user-images.githubusercontent.com/12369837/42211221-b67c7268-7ebb-11e8-917a-1873f8dc5c1c.png)

[2018-07-03 09:49] aanandkrishna opened #11128 "400 bad request exception due to use of blob uri instead of name"
[Enter feedback here]

CloudBlobContainer blobContainer = blobClient.GetContainerReference(destBlobURI);

This statement does not work as the GetContainerReference method should contain the name of container. Although , it does not give exception, but when the
blob.UploadFromStream(stream);
 is invoked , it raises a 400 bad request exception.
The solution is to use the name of container instead of

[2018-07-03 09:57] beerkatop opened #11129 "Creating an issue"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-03 10:16] shinojgk opened #11130 "Topic button is disabled"
The topic button is disabled inside the service bus but the queue button is enabled. How can this button be enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d5
* Content: [Get started with Azure Service Bus topics and

[2018-07-03 10:31] niida23 opened #11131 "Conversation Learner application using C#"
I would like to create a Conversation Learner application using C#. Is there a how-to-guide regarding that topic available that i could refer to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18236fc7-32f8-e3d1-3f3c-7a2be9562d08
* Version Independent ID: 28dc0d5e-315e-be81-47d5-b80e170000f4
* Content: [How to create a

[2018-07-03 10:31] hazwan90 opened #11132 "Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-03 10:31] niida23 commented on #11131
Using C#**

[2018-07-03 10:32] seamusjunior opened #11133 "Packages - Functions 2.x"
Regarding Functions Version 2 , It stats that the this binding is not available.   Is there an alternative method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abd3f3e3-cd6a-ad01-90cc-5c72e81a54d2
* Version Independent ID: de6f830f-869e-61ca-5541-9d0cd0305f52
* Content: [Notification Hubs bindings for Azure Functions

[2018-07-03 10:47] menewol opened #11134 "AES-256-....."
Which mode of operation is being used with AES-256?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Content: [Azure Storage Service Encryption for Data at Rest](https://docs.microsoft.com/en-us/azure/storage/common/stor

[2018-07-03 11:07] mnall commented on #10910
Can you confirm
•	that splitting the Reserved Instance into an RI of 2 and an RI of 8 doesn’t affect the contract of the original Reserved Instance with the quantity of 10, so that if one of the reserved instances in cancelled it doesn’t affect the second reserved instance from the split
•	if the split can be in the same subscription

[2018-07-03 11:49] SarithaMaran opened #11135 "Getting error in VS while creating an IoT Edge module (in python)."
# Getting error in VS while creating an IoT Edge module
In the tutorials for Filter data with custom code where we are deploying a Python IoT Edge module to our simulated device , I am getting error while creating a new solution.

While creating a new solution in the 5th step where we have to run the command Azure IoT Edge: New IoT Edge solution in the command palette I am getting the following er

[2018-07-03 11:58] #10907 closed

[2018-07-03 12:06] sergaz-msft commented on #11054
Thank you @veyalla !

@luyaok we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-03 12:06] #11054 closed

[2018-07-03 12:08] #11051 closed

[2018-07-03 12:15] waheedhussain opened #11136 "k prefixes or t intervals"
Hi,

What is meant by 'k prefixes or t intervals' in the sentence below?

Bounded Staleness	Consistent Prefix. Reads lag behind writes by at most k prefixes or t intervals

thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-7f34-c7df-ce4

[2018-07-03 12:35] mschulz531 opened #11138 "Mention Policy Initiatives"
It would be helpful to mention the Policy Initiatives that can be used to group policy definitions.
Management Groups are mentioned, which is helpful, but Policy Initiatives are not mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82b0f4e
* Version Independent ID: 832b8356-a0ed-06e

[2018-07-03 12:56] #11136 closed

[2018-07-03 13:00] bwren commented on #11017
@juho-hanhimaki That article is the only stated limitation that we have.  I haven't heard of anyone hitting any limitations beyond that.

[2018-07-03 13:18] SaurabhSharma-MSFT commented on #11112
@LucianFrango Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-03 13:19] sergaz-msft commented on #11130
@shinojgk thank you for your feedback! If you selected Basic Pricing Tier you will need to upgrade it to Standard in order to have access to Topics. More information about the [differences between pricing tiers here. ](https://azure.microsoft.com/en-us/pricing/details/service-bus/)

I will request @sethmanheim to enhance this document so that we make clear that to use Topics you will need Standard

[2018-07-03 13:20] daruizcorrea commented on #11110
hi @rayne-wiselman, thanks for the response. Unfortunately, it is still referring VMware on most of the paragraphs and the next steps link refers to the failover and failback for on-premises VMware VMs. It sounds like it should have its own guide so it does not mix details for different hypervisors.

[2018-07-03 13:21] SaurabhSharma-MSFT commented on #11125
@AdityaTulasi Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-03 13:29] SaurabhSharma-MSFT commented on #11063
@vetrivelmp No Problem. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 13:29] #11063 closed

[2018-07-03 13:37] bwren commented on #11002
I tried this myself in the Azure portal and also wasn't able to get to that configuration page.  Waiting to hear back from engineering team.

[2018-07-03 13:38] bwren commented on #11002
#in-progress

[2018-07-03 13:38] sergaz-msft commented on #11135
@SarithaMaran thank you for your feedback! Did you follow the prerequisites before going through the steps on this tutorial?

![image](https://user-images.githubusercontent.com/22173500/42222653-ad8f0e6a-7ecd-11e8-9ed9-12601f6a316c.png)

From the error provided it looks like the module_name and image_repository don't have a proper value.

- What is the OS you are using?
- Are you using the latest

[2018-07-03 13:55] SarithaMaran commented on #11135
- I have followed the prerequisites.
- I am using Ubuntu 16.04
- Also I'm using the latest version of  [Azure IoT Edge extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-edge).

[2018-07-03 13:56] juho-hanhimaki commented on #11017
Thanks for the info.

[2018-07-03 14:03] TomShinder commented on #10219
I think we'll have a much better experience in the future, but I don't have timelines that I can share for now. We do hear your concerns and understand them from our own personal experiences as well.

[2018-07-03 14:05] AggieCMD commented on #11075
"ASP.NET core does not support flowing in the identity from an external module the way that classic ASP.NET does. Your alternative is to use the /.auth/me endpoint to get the user claims." Source: https://cgillum.tech/2016/02/01/architecture-of-azure-app-service-authentication-authorization/

The above quote, albeit from 2016, seems to corroborate my stated assumption.

[2018-07-03 14:18] Brenduns commented on #11029
Hello Bin,

Can you clarify what you see as missing from documentation?  Your submission noted a problem and linked to a forums post as similar – which turned out to be an issue of someone configuring virtual network peering which is unsupported. I think I now understand that you’re not trying to set up peering, but have a failure in creating a gateway, thought beyond a silent failure after 19 sec

[2018-07-03 14:20] chrisp196 commented on #11126
I have the same problem, does anyone have a fix?

[2018-07-03 14:21] shizn commented on #11135
@SarithaMaran Could you try run `pip install --upgrade cookiecutter` in VS Code integrated terminal, and trigger "Azure IoT Edge: New IoT Edge solution" again?

[2018-07-03 14:24] bingosummer commented on #11029
Yes. You are right. My issue is the silent failure as you said.
Now I understand that the github forums is not for troubleshooting. Thank you. I will look for other help from Azure Stack team.

[2018-07-03 14:31] Steven-N opened #11140 "Specifying an eventhub where diagnostic logs will be sent"
The docs state that "You cannot currently select a particular event hub name with PowerShell.". It also appears that this is not possible with Azure CLI. I received an error when attempting to do this which stated:

[code]

I also checked the REST API documentation: https://msdn.microsoft.com/library/azure/dn931931.aspx and it states that the service bus auth ID needs to be in the format:

[code]

[2018-07-03 14:37] Thraka commented on #11121
@dusmart Thanks for the report!

@jpconnock This one looks like it needs to be addressed. Version 6.2.0 of the storage nuget package must be specified, or the latest needs to be used + fixing the sample + fixing the article.

[2018-07-03 14:38] msimecek opened #11141 "NullReferenceException in SpeechClient.dll"
I use `DataRecognitionClient` with regular Speech to Text endpoint and **it works fine**. When I change the endpoint to **Custom Speech service**, accordingly to this documentation, I get `NullReferenceException` from SpeechClient.dll.

This is what I do:

- it's ASP.NET Core on .NET Framework
- Microsoft.ProjectOxford.SpeechRecognition-x86 version 1.0.0.7

[code]

I'm able to send six chunks and

[2018-07-03 14:41] markmassad commented on #8267
Thanks for that.  Good find.  Close it.  Mark
________________________________
From: Rob Boucher Jr (Microsoft) <notifications@github.com>
Sent: Tuesday, July 3, 2018 12:11:33 AM
To: MicrosoftDocs/azure-docs
Cc: Mark Massad; Mention
Subject: Re: [MicrosoftDocs/azure-docs] List Export Request (#8267)

@markmassad<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmarkmass

[2018-07-03 14:43] ccrowhurstram opened #11142 "Script to expand the drive"
Here's a script to expand the drive using the newly allocated space:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf-fb3dfb9a5cb2
* Content: [Expand the OS drive of a Windows VM in an Azure](https://docs.microsoft.com/en-us/az

[2018-07-03 14:46] cloudmelon opened #11143 "Needs clarification about rerun an VM extension"
Doc url :  https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows

Section : Rerun VM extensions

There may be cases in which a VM extension needs to be rerun. You can rerun an extension by removing it, and then rerunning the extension with an execution method of your choice. To remove an extension, use Remove-AzureRmVMExtension as follows:

Need clarification about '

[2018-07-03 14:47] sergaz-msft commented on #10793
@andy1012 the ca-certs.ps1 script was fixed and you can now use [the version on the master branch](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/ca-certs.ps1).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you once m

[2018-07-03 14:47] #10793 closed

[2018-07-03 14:48] sergaz-msft commented on #10858
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-03 14:48] #10858 closed

[2018-07-03 14:48] #10904 closed

[2018-07-03 14:48] hshokry opened #11144 "How about Proxy Functions?"
I could not easily find a guide for developing a Proxy type Function in Visual Studio. Probably it the same as normal Functions, but there is nothing indicating that. Any guide? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-

[2018-07-03 14:53] sergaz-msft commented on #11042
Hello @mpolski  , what is the OS version you are using? Please note that we only [support the platforms listed here.](https://docs.microsoft.com/en-us/azure/iot-edge/support) Did you also tried to create a brand new IoTEdge device?

Thanks!

[2018-07-03 14:59] tldrafael opened #11145 "raising error at `az webapp create --name $appName --plan AppServiceLinuxDockerPlan --resource-group myResourceGroup`"
When i run the command   `az webapp create --name $appName --plan AppServiceLinuxDockerPlan --resource-group myResourceGroup`, it returns the error message: `usage error: --runtime | --deployment-container-image-name | --multicontainer-config-type TYPE --multicontainer-config-file FILE`
I could see in the [code] (https://github.com/LukaszStem/azure-cli/blob/68e02275584b985913b91f5c74a62a3fbe8b953e

[2018-07-03 15:02] HowardEdidin opened #11146 "Bulding sample"
Step 4/12 : RUN dotnet restore
 ---&gt; Running in 61ee264cd045
network nat is ambiguous (2 matches found on name)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT Edge C# tutorial](https://docs.micro

[2018-07-03 15:22] maxal1917 opened #11148 "Cloud Services migration"
Hello, at the beginning of the page you show "Cloud Services" as being supported in the list of supported resources.

However, later you show "Cloud services that contain web/worker roles" in the list of unsupported resources.

This is little bit confusing. What is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6

[2018-07-03 15:23] mpolski commented on #11042
Hi @sergaz-msft

OS: Ubuntu Server 18.04.

I followed the How to Guides: Register an Edge device -> Install IoT Edge runtime (Linux x64)-> Deploy Modules (IoT Edge only & declared basic route).
Then, using the same edge device, I wanted to turn it into a transparent gateway. So I moved to creating the certificates.

It appears that the 'Deploy EdgeHub to the gateway' section had been already compl

[2018-07-03 15:46] iainfoulds commented on #11122
Hi, @LoganZhao. Yes, if your upgrade policy is set to manual, then you need to trigger an update on the scale set, the same as any other operation that modifies the resource.

The example shown in the doc to create a scale set is set to `-UpgradePolicy Automatic` so should work fine - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-encrypt-disks-ps#crea

[2018-07-03 15:53] sergaz-msft commented on #11042
Thanks for the clarification! That may cause some issues yes since the prerequesites are the "only" the ones described in the beginning:

![image](https://user-images.githubusercontent.com/22173500/42230128-1f924b14-7ee0-11e8-82fd-6c66e3106ce3.png)

My suggestion is that you start with a new IoTEdge device without modules or routes previously defined. Let us know the result after that?

[2018-07-03 15:56] iainfoulds commented on #10325
Sorry you ran into issues, @kgremban. We already have a work item for these updates as a number of docs are affected by the portal changes. There should be at least some contextual guidance that prompts you to select a port or choose to open no ports, but we are working to update these docs as soon as possible.

CC: @cynthn

[2018-07-03 16:08] sethmanheim commented on #11130
@shinojgk @sergaz-msft Thank you for the feedback, we appreciate it! That is not the technical documentation, it's a marketing page and I have no access to update it. We do have this article, which I agree needs some clarification. I will update it ASAP: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-premium-messaging. I will also update this article: https://docs.microso

[2018-07-03 16:09] initmahesh opened #11150 "the ip address above is incorrect management_uri: "http://172.17.0.1.1:15580" it should be management_uri: "http://172.17.0.1:15580""
the ip address above is incorrect  management_uri: "http://172.17.0.1.1:15580" it should be  management_uri: "http://172.17.0.1:15580"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-fc0d-af3c-5b41-944665674cfc
* Content: [Deploy Azure Machine Learn