[2019-04-25 13:23] patriml opened #30074 "Samples link in Next steps section"
The [azure-webjobs-sdk-samples](https://github.com/Azure/azure-webjobs-sdk-samples) repository linked only contains samples for version 2.x of the SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to us

[2019-04-25 13:23] ArneMancofi commented on #28959
@harshal1982 , did you try making a copy of SignUpOrSignin.xml, adjusting `TrustFrameworkPolicy.PolicyId` `TrustFrameworkPolicy.PublicPolicyUri`, replacing `signup_signin` with `signin`, and then uploading that custom policy file to IEF in Azure?
(Just a thought.)

[2019-04-25 13:32] YASWANTHM-MSFT commented on #30072
@Kaviarasi , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 13:35] jschweda commented on #29557
My files are exported as {APPLICATION_ID}__PRODUCTION.gz and {APPLICATION_ID}__Staging.gz
As it is only a demo project it has only 109 KB
[fdd80f30-1a48-43b9-8f91-d28c7124b91d_PRODUCTION.gz](https://github.com/MicrosoftDocs/azure-docs/files/3117110/fdd80f30-1a48-43b9-8f91-d28c7124b91d_PRODUCTION.gz)
[fdd80f30-1a48-43b9-8f91-d28c7124b91d_STAGING.gz](https://github.com/MicrosoftDocs/azure-docs/files

[2019-04-25 13:48] marinnedea opened #30075 "Completelly missing instructions for installation of Azure Storage Explorer on Linux"
I was able to put together some working instructions for Azure Storage Explorer running on Ubuntu 18.04. All the data is below.
Please feel free to review it, correct it (if necessary) and use it. Thank you!

If on a cloud Ubuntu 18.04 VM,  install a desktop environment and xrdp to connect to it. If you are on a on-premises machine, you can skip the xrdp part and go directly to the Firewall rules

[2019-04-25 13:51] jaffadan commented on #26479
Just tried to open your project in VS 2019  Got the following issue

![image](https://user-images.githubusercontent.com/1775626/56740847-b348bd00-673f-11e9-979b-6c52fbb87b74.png)

[2019-04-25 14:01] spelluru commented on #29688
@jfggdl - So, should be sample.env be created in the root folder? Thanks.

[2019-04-25 14:03] smehta07 commented on #29882
With some help from Microsoft Azure support - I was able to fix the issue! The issue was my venv was conflicting with Azure's venv, so when deploying, I needed to remove mine

[2019-04-25 14:04] marinnedea commented on #11419
@wsmelton - please check https://github.com/MicrosoftDocs/azure-docs/issues/30075

[2019-04-25 14:06] gckeller-ps opened #30076 "Bad URL in this documentation"
Here is a link with the anchor to the section: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics#upgrade-all-clusters-using-bash-in-azure-command-shell

The URL used in the example is bad: https://git.io/aks-mdm-onboarding-atscale

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-25 14:10] JamesDLD opened #30077 "Create zone redundant public IP with correct vnet gateway SKU"
Hello,

this article demonstrates through PowerShell how to create zone-redundant public Ips but does doesn't demonstrate how to set the correct vnet gateway sku.

May I suggest to add the following-->

---------------
6. Create a virtual network gateway.
For ExpressRoute
New-AzVirtualNetworkGateway -ResourceGroup $RG1 -Location $Location1 -Name $Gw1 -IpConfigurations $GwIPConf1 -GatewayType Expre

[2019-04-25 14:12] waqassraja opened #30078 "ErrorCode=UserErrorPropertyInPayloadIsInvalid,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Invalid linked service payload, user Id and userName are both existed.,Source=Microsoft.DataTransfer.ClientLibrary,'"
I am getting following error in .NET application that I am writing to move data from on-premise sql server to Azure Sql. I have created two linked services one for Sql Server and second for AzureSql and don't understand why its complaining of duplicate user id and user name
Error ErrorCode=UserErrorPropertyInPayloadIsInvalid,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Messag

[2019-04-25 14:22] wsmelton commented on #11419
Why was a duplicate issue opened that is not tied to the actual document file?

[2019-04-25 14:23] andersonmolter1 commented on #30044
Yes it is in the correct path. If I want to navigate to a folder in downloads it would be "cd C:\Users\ander\Downloads
\sampleData". And once I did that I should be able to do the BCP command. However, that is when I get the error.

[2019-04-25 14:28] Jez85 commented on #29895
@ChristianMontoya
Yes the tenant creator role has been assigned to the user for Windows Virtual Desktop application in the AD tenant.

We have followed this guide down to the word for each step until the "Add-RdsAccount" step which is returning an error. Our corporate user accounts have MFA enabled. When I run the Add-RdsAccount cmdlet in powershell, I get the interactive login and the MFA complet

[2019-04-25 14:38] mikeoleary opened #30079 "spelling: I think "with" should be "wish""
".... as well as commercial customers that with to implement a secure DMZ ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4042df-d0e7-ea2e-c182-0fc24e0da00c
* Version Independent ID: a2da541c-0787-0f8a-19f7-efe4725c1963
* Content: [Secure Azure Computing Architecture](https://docs.microsoft.com/en-us/azure/securi

[2019-04-25 14:40] asudbring opened #30080 "User feedback on-prem when they put in a bad password"
Any plans to add to the product in the future the ability to have a GPO or install client configured for Windows Client that will display the corporate password policy setup in Azure AD Password protection on login? Anytime a user changes password on-prem is there any plans to add feedback to the user when they choose a bad password with what they can and cannot make it other than the "Unable to u

[2019-04-25 14:43] MisinformedDNA commented on #26479
@DixitArora-MSFT We have a valid repro, so we should reopen this, right?

[2019-04-25 14:49] philemon33 commented on #29791
Thanks Pramod, your explanation helped me understand.

[2019-04-25 14:51] karyjac opened #30081 "Specification needed in the documentation for ci-vnet and aci-subnet names"
there should be a reference stating that aci-vnet and aci-subnet needs to be replaced with their own vnet and subnet names, since the names could be different to the ones specified in the script example.

# Delete the subnet delegation to Azure Container Instances
az network vnet subnet update --resource-group $RES_GROUP --vnet-name &lt;aci-vnet&gt; --name &lt;aci-subnet&gt; --remove delegations 0

[2019-04-25 14:56] petrpucek commented on #27175
Hello @talktovishal ,

Request url is:
`https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=fr&includeAlignment=true&category=general&textType=html`

Request body is:
`[
	{
		"Text":"Press the <b class='notranslate'>Emergency Stop</b> button to interrupt the count-down sequence."
	}
]`

Response:
`[
    {
        "translations": [
            {
                "text"

[2019-04-25 15:09] sotnikop commented on #23750
Its Deny all IP traffic in my experience. If you are sending logs to eventhub through Azure, those still work.

[2019-04-25 15:12] walkersa opened #30083 "Project File Cannot be Opened..."
Hi

I'm getting this error when following along on the Spatial Anchors tutorial on Azure.

****azure-spatial-anchors-samples\Sharing\SharingServiceSample\SharingService.csproj : error  : The project file cannot be opened by the project system, because it is missing some critical imports or the referenced SDK cannot be found.

Detailed Information:
Unable to locate the .NET Core SDK. Check that it

[2019-04-25 15:21] cap273 commented on #19083
I would like to get resolution on this issue as well.

[2019-04-25 15:22] jamesapicken commented on #29503
I do need assistance with this, at the moment I have a DR plan that doesn't work because I don't have a method of copying keys across to the secondary region. Is it better for me to raise a support ticket?

[2019-04-25 15:38] AjayKumar-MSFT commented on #30059
@zirain, Thanks for the question! We are investigating and will update you shortly.

[2019-04-25 15:41] AjayKumar-MSFT commented on #30060
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-04-25 15:44] roygara commented on #29999
@kborovik Thanks for reaching out. I just tested it, it works fine if I follow the steps as-is.

Did you complete the steps prior to this one? Specifically:

Install-Module -Name PackageManagement -Repository PSGallery -Force
    Install-Module -Name PowerShellGet -Repository PSGallery -Force

Then restart shell

Then enter Install-Module -Name Az.StorageSync -AllowPrerelease -AllowClobber -Force

[2019-04-25 15:44] AjayKumar-MSFT commented on #30062
@CorryH, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-25 15:46] jlian commented on #30016
Ack, I'll work on this probably in the next couple of weeks

[2019-04-25 15:59] marinnedea commented on #11419
Hello Shawn,

It's not a duplicate issue.
In your issue the complain is about .NET for Azure Storage Explorer on
Linux not working.
My issue is about missing installation instructions for Azure Storage
Explorer on Linux.

The fact that the workaround/solution I also provided when opening the
issue contains the steps to solve your own issue, made me point to the
issue I created, in the comments sec

[2019-04-25 16:00] msmimart commented on #27965
Updates are now published, thanks again for your feedback.

[2019-04-25 16:02] AjayKumar-MSFT commented on #30078
@waqassraja, Thanks for leveraging Azure Docs feedback channel!
Since this channel is reserved for documentation questions or feedback, we recommend posting technical questions on the technical [forum](https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=ssdsgetstarted) where one of our specialized engineers in the subject or the Azure community members can provide the best possible ans

[2019-04-25 16:11] AjayKumar-MSFT commented on #30061
@jayaprakashkamaraj, Thank you for using Azure docs feedback channel to raise this question! Since you have closed the issue, I presume you have figured out the issue or if the issue still persist and you need further assistance on this topic kindly let us know.

[2019-04-25 16:18] clmccart opened #30088 "Not an issue"
This is an extremely helpful piece of documentation. Thank you to whoever created it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6bf7-f6e22eef0870
* Version Independent ID: bf5ce9ce-51a8-43e2-7362-e3de0e2ac63e
* Content: [Deployment troubleshooting guide - Azure Machine Learning service](https://

[2019-04-25 16:27] Strick1969 opened #30089 "Date on article"
date shows 14/04/2019

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content: [Delete an Azure AD directory - Azure Active Directory](https://docs.microsoft.com/en-au/azure/active-directory/users-groups-roles/directory

[2019-04-25 16:35] TravisCragg-MSFT commented on #30077
@JamesDLD Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-25 16:36] thomas-hammond opened #30090 "Misprint in reliability section"
I think the following line has an error:
Platinum - Run the System services with a target replica set count of seven
Shouldn't it be nine for platinum?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1
* Content: [P

[2019-04-25 16:40] palma21 commented on #23789
That message indicates that you clusterAdmin role does not have permissions to list config maps on that namespace. Could you try adding that to your User's role and see if that solves it?
Otherwise please send your ClusterAdmin role yaml and dashboard deployment yaml and I can take a look.

[2019-04-25 16:41] melzoghbi opened #30091 "Starting status forever for SSIS IR in USGov Virginia DC"
Hi,

I have created a SSIS package in USGov virginia region. the IR status is Starting for more than 20 minutes and it has never been started. What should i do and who can help me troubleshoot this infrastructure issue?

![image](https://user-images.githubusercontent.com/11993393/56752954-58fb2c80-673e-11e9-94d2-dc7431182c1a.png)

Thanks.

[2019-04-25 16:43] vhorne commented on #27797
article updated
#please-close

[2019-04-25 16:44] shashishailaj commented on #30089
@Strick1969 Thank you for your feedback . We just wanted to understand more about your comment which you mentioned about the article date . Could you please elaborate on the same for us to assist you better. ?

[2019-04-25 16:44] hrasheed-msft commented on #29659
@Anmolgan81 it seems like this is an issue that Azure support would be better able to assist with. Please see instructions for opening a ticket here: https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request and let us know the outcome.

[2019-04-25 16:48] jlian opened #30092 "IoT Hub metrics "Routing: messages delivered to messages/events" and "Routing: message latency for messages/events" are only valid when the routing feature of IoT Hub is enabled."
I'll open this issue for help tracking. Assign this to me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128ea613-ba7a-88bc-4f2b-cc425df00fe7
* Version Independent ID: e2732359-a5c9-1333-d5ec-4e5f2af0527c
* Content: [Use metrics to monitor Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-metrics)
*

[2019-04-25 16:49] Strick1969 commented on #30089
[cid:image001.png@01D4FB65.59D3D2F0]

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Thursday, April 25, 2019 12:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Duane Friedlander <Duane.Friedlander@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Date on article (#30089)

@Strick1969<https://nam06.safelinks.protection.ou

[2019-04-25 16:52] MicahMcKittrick-MSFT commented on #30081
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 16:53] YutongTie-MSFT commented on #29759
@JohnStraumann66 Could you please send me an email at Azcommunity@microsoft.com, with this thread and also your subscription ID, we can discuss more. Thank you a lot.

[2019-04-25 16:53] MicahMcKittrick-MSFT commented on #30090
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 16:53] MicahMcKittrick-MSFT commented on #30075
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 17:01] KalyanChanumolu-MSFT commented on #29868
@SumitMeh How large is your collection? I am unable to reproduce this.
If you have an Azure support plan, please file a ticket with support to troubleshoot further.
If you don't have an Azure support plan, Please send your Azure subscription GUID to AzCommunity at Microsoft.com and reference this issue.
I will send back instructions to have a full-fledged incident ticket created to address this.

[2019-04-25 17:11] MarkMcGee1 commented on #8942
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-25 17:11] #8942 closed

[2019-04-25 17:12] Karishma-Tiwari-MSFT commented on #29626
@mganeshphani Any update? Did that help?

[2019-04-25 17:15] KalyanChanumolu-MSFT commented on #29745
@sriramaszone If you need help for your specific use case, request you to open a new forum thread in  [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-cosmosdb) or [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb)

[2019-04-25 17:19] MGoedtel commented on #29912
@bmaluijb - If you already have the Log Analytics agent already installed on your Linux server you can configure it to be monitored by both OpsMgr management group and a LA workspace.  Edit the file /etc/opt/omi/conf/omiserver.conf and add this line - httpsport=1270 at the beginning of the file.  This is one of the ports OpsMgr uses to communicate with the server and enables it be discovered as a

[2019-04-25 17:25] shashishailaj commented on #30079
@mikeoleary Thank you for your feedback . We will look into this and update accordingly.

[2019-04-25 17:26] tfitzmac commented on #29948
That's great, thanks. I'll add it.

[2019-04-25 17:27] TracyGH opened #30093 "SetMetadata/SetMetadataAsync do not allow newline characters ('\n')"
In Azure Storage Explorer, I can assign a newline character ('\n') to a blob Metadata value without any issues.  However, when I call `cloudBlockBlob.SetMetadata()` or `cloudBlockBlob.SetMetadataAsync()` with a value containing the newline character, it fails.

Someone else reproduced the same issue in this [SO thread](https://stackoverflow.com/questions/26355404/getting-a-400-when-saving-metadata

[2019-04-25 17:28] mickey1025 commented on #30021
@TravisCragg-MSFT I think this issue can be closed, I trained a new customer voice with the dataset I uploaded this time and last time together, it improved much. The report should not impact the final result.

[2019-04-25 17:28] #29659 closed

[2019-04-25 17:29] YutongTie-MSFT commented on #30021
@mickey1025
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-25 17:29] #30021 closed

[2019-04-25 17:32] axisc commented on #28679
@Blackbaud-ChrisBlythe - this is on the backlog but don't have timelines for now. We're looking to see if we can have this sometime next year.

[2019-04-25 17:34] msLinuxNinja opened #30094 "Very old version of Elastic Stack"
This article uses a very old version of the Elastic Stack, version 7.0 recently came out.

Ideally the article should be updated to at least use Elastic Stack (ELK) v6.7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b640eeb-c8c8-e983-1e73-8a6e37d09db9
* Version Independent ID: 89c2108c-3fa4-5a24-b3f3-ae35b0165eb1
* C

[2019-04-25 17:46] Mark7even commented on #30033
I saw the risk events, what I am asking is leaked credential the ONLY high-risk event that there is? When customers ask, what is a High-Risk Event? I have no answer other than leaked credentials which only applies to user-risk events.

[2019-04-25 17:48] TerryLanfear commented on #29779
@cowinr @neeleshray - I think the text "four fundamental built-in roles" can cause confusion. I will open a PR to fix. Thanks, Richard, for pointing this out.

[2019-04-25 17:49] MicahMcKittrick-MSFT commented on #30094
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 17:52] MicahMcKittrick-MSFT commented on #30075
@marinnedea I will assign this to the content author to review and see about adding more information to the doc

[2019-04-25 17:58] bdschaap opened #30095 "Microsoft.KeyVault/vaults ServiceApiHit Metric"
Can you better explain what the Microsoft.KeyVault/vaults ServiceApiHit metric represents?  The Overview blade within a Key Vault resource has a chart that says "Success Ratio".  Drilling into the metric shows that it uses the average of this metric.  I may not understand what this metric represents or the product may have a bug in the naming for what it's showing on its Overview blade.

---
####

[2019-04-25 17:58] jim-brown-fst commented on #24460
@Mike-Ubezzi-MSFT I've not heard anything back in over a month. Not sure if that is the "best course of action".

[2019-04-25 18:00] ijabit commented on #24460
@Mike-Ubezzi-MSFT I've not heard anything back in over a month. Not sure if that is the "best course of action".

[2019-04-25 18:03] ChackDan commented on #30090
Please assign this to Alex.

From: Micah <notifications@github.com>
Sent: Thursday, April 25, 2019 9:54 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Misprint in reliability section (#30090)

Thanks for the feedback! We are currently investigating and will upda

[2019-04-25 18:04] TravisCragg-MSFT commented on #30083
@walkersa can you post a link to the doc you are referring to?

[2019-04-25 18:04] TravisCragg-MSFT commented on #30091
@melzoghbi can you post a link to the doc you are referring to?

[2019-04-25 18:10] jeffmartinxyz opened #30096 "Last updated date on this page is inaccurate"
This page shows it hasn't been updated since 1/30/2019, however it was modified ~19 hours ago as of this post. See: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/configure-kubenet.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac

[2019-04-25 18:12] msebolt commented on #20170
Document has been fixed.  Thank you for the update.

[2019-04-25 18:12] #20170 closed

[2019-04-25 18:13] iainfoulds commented on #30096
Is there doc feedback here?

The date is only updated if the whole doc has been reviewed for freshness or if there's been a major change. Docs are regularly updated with minor revisions without the whole date changing.

For now, #please-close

[2019-04-25 18:16] AjayKumar-MSFT commented on #29876
@JerryWang20,  Thanks for the update! Could you please share a screenshot of the cmdlet and the error after concealing any private details?

[2019-04-25 18:16] MarileeTurscak-MSFT commented on #30080
@asudbring
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-25 18:16] robinsh commented on #29484
Thx, we will fix this and let you know when it's finished.

[2019-04-25 18:17] YutongTie-MSFT commented on #30088
@clmccart Thank you for your kudos! We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-25 18:17] #30088 closed

[2019-04-25 18:17] #30096 closed

[2019-04-25 18:18] jeffmartinxyz commented on #30096
Hi Iain, thanks for the quick follow up. There was a major change to the documentation. Manual association of NSG and route table is no longer required. https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2019-04-15

[2019-04-25 18:19] shashishailaj commented on #30079
Closing as per the PR [74733](https://github.com/MicrosoftDocs/azure-docs-pr/pull/74733)

[2019-04-25 18:19] #30079 closed

[2019-04-25 18:21] jeffwmiles opened #30097 "Phase 1 SA Lifetime conflicting information"
This page details the phase 1 SA lifetime as 10800 seconds for a Route-Based VPN Gateway, which conflicts with information on this page:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices

That other page references a lifetime of 28800 seconds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-04-25 18:22] colinweiner commented on #30035
@ManojReddy-MSFT  Thanks, I think that would help out a lot.

-Colin

[2019-04-25 18:24] IslayJunkie opened #30098 "Using preview portal"
The screenshots in this article are using the internal MSFT azure preview portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73892453-9983-fc9a-69d1-feee280a6a07
* Version Independent ID: 5490bbb9-684f-f3d0-e8e1-ba726b7c2ad7
* Content: [Tutorial - Configure Azure Analysis Services administrator and user roles](http

[2019-04-25 18:28] shashishailaj commented on #30089
@Strick1969 I thin kyou are referring to the date format . It is in the DD/MM/YYYY format hence  14/04/2019 is actually 14th April 2019 .

Hope this clarifies. Please let me know if this is helpful and we can go ahead with closure of this issue.

[2019-04-25 18:31] Strick1969 commented on #30089
On other articles the format is MM/DD/YYYY
Example:

https://docs.microsoft.com/en-us/MicrosoftTeams/teams-live-events/set-up-for-teams-live-events

Just confusing for my customer, but you can close it if you like

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Thursday, April 25, 2019 2:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Duane Friedlander <Duane.Frie

[2019-04-25 18:31] mike-urnun-msft commented on #30073
Hi @xiaoyang-connyun Thank you for your feedback! We will review and update as appropriate.

[2019-04-25 18:41] chrisnorthnj opened #30099 "Missing link for deployment"
Did I miss where the link to the blueprint itself or deployment instructions would be for this one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e0992c9-21da-5c59-4f90-2779f0762655
* Version Independent ID: e1a97b17-eb28-1e90-b1b6-a74e25759932
* Content: [Azure Security and Compliance Blueprint - IaaS Web Applicatio

[2019-04-25 18:41] cap273 opened #30100 "Sign SAML Response and Assertion"
Apparently Workday requires that the entire SAML token (response and assertion) be encrypted. This should be added to the documentation. Relevant MSDN forums post:
https://social.msdn.microsoft.com/Forums/en-US/b01514b7-51b3-42e8-b5fe-921aaa7601e9/workday-sso-with-azure-ad-not-working-invalid-user-name-or-password-please-try-again?forum=WindowsAzureAD

---
#### Document Details

⚠ *Do not edit thi

[2019-04-25 18:42] msebolt commented on #21478
@NitroAMD Thank you for the feedback, the document has been updated.  See https://github.com/MicrosoftDocs/azure-docs-pr/pull/74746.

Please comment below if there are any further issues.

[2019-04-25 18:42] #21478 closed

[2019-04-25 18:42] Adam-Smith-MSFT commented on #30093
Hi @TracyGH ,

What specific Azure Storage library version are you using when getting this error message ?
The list of Libraries and newest versions can be found [here](https://www.nuget.org/packages/WindowsAzure.Storage/) , Let me know if you are using the latest then i'll route it as a doc/product issue.

Thanks,
Adam

[2019-04-25 18:45] jeevansd commented on #30100
@cap273 You dont need to set this up manually. When you add the Workday application from Azure AD app gallery, we wuill automtically select this for you.
If you are adding multiple instnaces of the application and setting up then you have to manully tweak this.

[2019-04-25 18:49] Karishma-Tiwari-MSFT commented on #29784
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 18:49] cap273 commented on #30100
I'm not sure if the statement "we will automatically select this for you" is accurate. I just added the Workday application from the Enterprise gallery, and the default signing option is "Sign SAML assertion", which of course leaves the response unsigned.

Regardless, I think it should be called out in the documentation explicitly.

[2019-04-25 18:49] walsehgal commented on #29930
@ryanlengel, that for pointing it out. The issue has been fixed.

[2019-04-25 18:51] MartinJaffer-MSFT commented on #29655
@nabhishek  I do see both 8050 and 8060 in the text, in different portions of the same document.  Did you mean to leave the other portions as 8050, or should I go and change all 8050 -> 8060 ?

[2019-04-25 18:51] CeciAc opened #30101 "Inconsistent description"
@github129 commented on [Thu Apr 25 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2509)

[フィードバックをこちらに入力してください]
Hello
Description of dataUriToBinary() and decodeDataUri() is inconsistent
Should we choose dataUriToBinary() or decodeDataUri()?

Return the binary version for a data uniform resource identifier (URI). Use this function rather than decodeDataUri(). Although both functio

[2019-04-25 18:52] CeciAc commented on #30101
Hi team,
I'm moving this here since the contributor is reporting an error in the original documentation
best

[2019-04-25 18:53] Karishma-Tiwari-MSFT commented on #29900
I have created a PR with the update. Changes will be live shortly.

[2019-04-25 18:54] Alberto-Vega-MSFT commented on #29966
@javkhalidskipton were you able to overcome the issue?

[2019-04-25 18:55] shashishailaj commented on #30089
@Strick1969 I understand now. I checked the reference you provided . I checked a few other articles like https://docs.microsoft.com/en-us/MicrosoftTeams/teams-live-events/set-teams-live-events-policies-using-powershell and found that the date in that repo is in MM/DD/YYYY format . I am not sure of this but it may be possible that Azure Docuemntation repo uses DD/MM/YYYY format while Office documen

[2019-04-25 19:08] ecfan commented on #30101
@CeciAc, @github129, thank you for finding this issue, which looks like a typo. We'll fix the entry in the docs.

[2019-04-25 19:08] TravisCragg-MSFT commented on #29938
@cogran for your clarity, If you would like to route outbound internet traffic from your AzureFirewall subnet to anywhere besides the internet, you will need to create a support request to allow it.

I think a lot of the confusion is coming from this sentence:

The NextHopType should actually be an on-prem destination, not Internet.

I have assigned the issue to the content author to evaluate and

[2019-04-25 19:08] sriramaszone commented on #29745
Hi @KalyanChanumolu-MSFT

I explained here now .
https://social.msdn.microsoft.com/Forums/en-US/1dd2e1df-d213-4c47-9be1-13b100940812/azure-cosmos-db-data-migration-tool-copy-data-from-cosmos-to-cosmos-no-sql-modify-the-record?forum=azurecosmosdb

Thank You.

[2019-04-25 19:10] TravisCragg-MSFT commented on #29938
@vhorne if I am correct, then the F[AQ also has the same issue](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#is-forced-tunnelingchaining-to-a-network-virtual-appliance-supported).

[2019-04-25 19:13] SadiqhAhmed-MSFT commented on #30069
@mmichaluk Thanks for the question! We are investigating this issue and will get back to you soon.

@snehithm & @msvijayn Your insights please.

[2019-04-25 19:15] Mike-Ubezzi-MSFT commented on #24460
Please send your Subscription ID to [AzCommunity](mailto:azcommunity@microsoft.com) and I will send you instructions to have a support request filed. If you do have an Azure support plan, please go ahead and open a ticket with support. It is the best way to get this escalated. Thank you.

[2019-04-25 19:16] jwargo commented on #19669
@JosephBrainstein did you see the C# examples in the previous comment?

[2019-04-25 19:17] SadiqhAhmed-MSFT commented on #30076
@gckeller-ps Thanks for the feedback! We've assigned this issue to the content owner for further review and update as appropriate.

[2019-04-25 19:19] terrymandin commented on #29856
Thanks Xitia!

[2019-04-25 19:19] ecfan commented on #30101
Fix made in the original version, should appear later in the day. #please-close

[2019-04-25 19:20] #29856 closed

[2019-04-25 19:20] SadiqhAhmed-MSFT commented on #30095
@bdschaap Thanks for the comment! We've our product experts who may have better insights on this.

@anirudhcavale FYI.

[2019-04-25 19:21] bryohe opened #30102 "confusing syntax for builtin metrics for the Filesystem class"
The syntax for the "condition": 'Name="/mnt"' is confusing for those using the Azure portal to configure the item instead of JSON. It is not clear that, in the portal, the correct condition field form is Name='/mnt'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independen

[2019-04-25 19:30] MicahMcKittrick-MSFT commented on #30102
@bryohe can you elaborate on what exactly you are looking to have improved in this doc?

[2019-04-25 19:30] #29900 closed

[2019-04-25 19:38] Karishma-Tiwari-MSFT commented on #29822
@cortes- I have created a PR with the corrections and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/74757

[2019-04-25 19:39] AjayKumar-MSFT commented on #29976
@ianyian, Kindly check to see if the app works fine locally. Take a look into the suggestions outlined in the GitHub document [Make sure site correctly deploys locally](https://github.com/projectkudu/kudu/wiki/Make-sure-site-correctly-deploys-locally) for isolating the issue.
Validate the version of asp.net core and ensure the version is available by running
dotnet –info from the cmd line.
Since t

[2019-04-25 19:39] #29976 closed

[2019-04-25 19:40] mamccrea commented on #29921
Hi @Vask006 - Are you using WKT for your streaming input?

[2019-04-25 19:41] bryohe commented on #30102
Hi Micah,

I just had a case where the customer (and I) could not figure out what the correct entry should be in the Azure portal when configuring the custom monitor. It took several iterations of trial and error to finally get the single quote, no spaces syntax. Perhaps a note following the JSON example suggesting that, if they are using the Azure portal, they would fill in the condition field wi

[2019-04-25 19:44] MicahMcKittrick-MSFT commented on #30102
@bryohe got it. Thanks for clarifying :) I can add a note. Will work on that now.

[2019-04-25 19:45] taromielnaz opened #30103 "Not Enough Instruction"
Regardless of other documents for different operations on Azure , Site recovery subject is too complicated ! You didn't mention after source region fails what the steps are . Is it a automatic or manual process . When you choose t shutdown the primary VM how the replication happens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-25 19:48] MarkMcGee1 commented on #9201
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-25 19:48] #9201 closed

[2019-04-25 19:49] MicahMcKittrick-MSFT commented on #30102
@bryohe I submitted a PR that will include an additional note

![2019-04-25 12_48_16-Editing azure-docs-pr_diagnostics-linux md at master · MicrosoftDocs_azure-docs-](https://user-images.githubusercontent.com/32313503/56764010-91a7ff80-6758-11e9-8d39-e7167cf230e4.jpg)

Once the PR merges the changes will go live in a few hours.

[2019-04-25 19:49] #30102 closed

[2019-04-25 19:49] aljo-microsoft commented on #30090
@thomas-hammond

https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity#the-reliability-characteristics-of-the-cluster

"
The reliability tier you choose determines the minimum number of nodes your primary node type must have.
"

"
Here is the recommendation on choosing the reliability tier. The number of seed nodes is also set to the minimum number of nodes for a reliabil

[2019-04-25 19:51] #29822 closed

[2019-04-25 19:52] msebolt commented on #19618
For SAML reference, please see https://docs.microsoft.com/openspecs/windows_protocols/ms-oapx/a8622e66-2285-43c0-bbb9-abfcecdaed86 for login_hint guidance, etc.

[2019-04-25 19:52] #19618 closed

[2019-04-25 19:54] #30090 closed

[2019-04-25 19:59] msebolt commented on #20550
Microsoft currently supports SAML 2.0 for external IdPs (see https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp).  As such both Password and PasswordProtectedTransport are supported.

For SAML guidance, see http://docs.oasis-open.org/security/saml/v2.0/saml-authn-context-2.0-os.pdf.

Also, for SAML technical issues, see https://feedback.azure.com/forums/1694

[2019-04-25 19:59] #20550 closed

[2019-04-25 20:08] SaurabhSharma-MSFT commented on #30012
@alicain States are only visible on the Azure portal.  For your other questions I am checking with the product team and get back to you at the earliest.

[2019-04-25 20:10] MarkMcGee1 commented on #9334
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-25 20:10] #9334 closed

[2019-04-25 20:14] Vask006 commented on #29921
Yes, Please find attached two json files

In have placed S1.json file in blob and using it as Ref in streaming job.
And using D1.json file as input to streaming job.

This is for your kind information.

Thanks & Regards
Anand

On Thu, 25 Apr 2019 at 14:40, Mary McCready <notifications@github.com>
wrote:

[2019-04-25 20:28] mamccrea commented on #29921
Hi @Vask006 - thank you, but I do not think I can view the attachments from your mail. Can you please check the compatibility level for your job? WKT is only supported for jobs with compat level 1.2
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-compatibility-level

[2019-04-25 20:28] yairt1974 commented on #29938
We will clarify the documentation. The essence is that forced tunneling is not supported with Azure Firewall by default as the firewall has outbound internet dependencies that break. We are working to ensure that by default the firewall egress to the internet. We will not break existing customers of course. We are still exploring ways to address that need if there is no other choice with the produ

[2019-04-25 20:28] cap273 opened #30107 "Sign Out URL should be https://login.microsoftonline.com/{tenant-id}/saml2"
This documentation states that, in Workday, the Logout Response URL and the Logout Redirect URL should be: https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0

This is not correct. Relevant MSDN forums post here:
https://social.msdn.microsoft.com/Forums/en-US/7c8472df-b107-475b-a498-d71f33b0ac8e/workday-log-out-with-azure-ad-not-working-an-error-occurred-when-we-tried-to-process-a

[2019-04-25 20:33] cogran commented on #29853
Hi Karthik,

I apologize for the delayed response-Draft was started but never sent.
The Express Route Optimize Routing<https://docs.microsoft.com/en-us/azure/expressroute/expressroute-optimize-routing> provides the how-to when you have multiple circuits. The route table output in the portal giving routing weights for primary and secondary connections of a single peering (private in my example) fro

[2019-04-25 20:34] RSteeno commented on #26598
We are an Okta shop and do not use AD FS.  Unlike AD FS, Okta does not have the ability to issue device claims and therefore the "instantaneous Hybrid Azure AD Join" as mentioned below does not work.  It would be helpful to point out that if you are NOT using AD FS you would be required to use this alternate approach of using AAD Connect to Sync the computer objects to AAD.

"Beginning with Window

[2019-04-25 20:36] martind2112 opened #30108 "Documentation corrections"
1. "Go to Preview" -&gt; "Use Device Code Sign-In".
4. Click the "Sign" In button.

The above two lines should read:
1. Menu: Preview -&gt; "Use Device Code Sign-In".
4. Click the "Sign In" button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-344

[2019-04-25 20:39] bryohe commented on #30102
Thanks Micah!

From: Micah <notifications@github.com>
Sent: Thursday, April 25, 2019 3:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brian Yohe <Brian.Yohe@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] confusing syntax for builtin metrics for the Filesystem class (#30102)

Closed #30102<https://nam06.safelinks.protection.outlo

[2019-04-25 20:44] ynijsen opened #30109 "MFA with MS authenticator app"
While all docs mention that Azure MFA is supported for ADB2C the experience is totally different. Only text messages to a mobile phone seems to work. The MS authenticator app f.ex is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72c

[2019-04-25 20:44] msebolt commented on #20469
@aledeniz Thank you for your feedback, the terminology has been adjusted per https://github.com/MicrosoftDocs/azure-docs-pr/pull/74783.

Please see https://docs.microsoft.com/azure/virtual-machines/windows/premium-storage-performance for details on Premium Storage caching.

[2019-04-25 20:44] #20469 closed

[2019-04-25 20:45] mike-urnun-msft commented on #30071
Hi @dwumpus Thank you for your feedback! We will review and update as appropriate.

[2019-04-25 20:46] mike-urnun-msft commented on #30101
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-25 20:46] #30101 closed

[2019-04-25 20:48] Vask006 commented on #29921
Yes, I am using compat level .2

[image: image.png]

On Thu, 25 Apr 2019 at 15:28, Mary McCready <notifications@github.com>
wrote:

[2019-04-25 20:54] TracyGH commented on #30093
@Adam-Smith-MSFT

![image](https://user-images.githubusercontent.com/38665906/56767868-6f22e000-6772-11e9-8d5a-428df7517939.png)

[2019-04-25 21:05] cherylmc commented on #7807
Hi! I've sent this suggestion on to the product team. Thanks! #please-close

[2019-04-25 21:05] dlepow commented on #30081
@karyjac - Thanks, this is very helpful feedback. I'll update the article to mention that the VNet and subnet names are just placeholders and customers should replace with their own names.
#in-progress

[2019-04-25 21:11] mganeshphani commented on #29626
Do we have a documentation link for custom domain configuration?

On Thu, Apr 25, 2019 at 12:12 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-04-25 21:11] Grace-MacJones-MSFT commented on #29902
We will now proceed to close this thread.

[2019-04-25 21:11] #29902 closed

[2019-04-25 21:12] mrbullwinkle commented on #20044
@danmyhre there is also this: [https://sharepoint.handsontek.net/2019/02/23/deploy-application-insights-globally-on-modern-sharepoint/](https://sharepoint.handsontek.net/2019/02/23/deploy-application-insights-globally-on-modern-sharepoint/)

It is written by one of our MVPs and looks promising. Unfortunately, until we have some time internally to test it out and validate it, I can't link directly

[2019-04-25 21:16] michaelcohenmicrosoft opened #30112 "Adding custom domain to second CDN endpoint fails"
After I have added "cdndemo101.dustydogpetcare.online" to the first endpoint and go to add it to the second I get the following error:
Couldn't create CDN custom domain
We couldn't create your custom domain. Another custom domain with the same host name already exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 200

[2019-04-25 21:24] MarkMcGee1 commented on #7807
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-25 21:24] #7807 closed

[2019-04-25 21:42] sauravjha221 commented on #26073
I am not getting the url part("url"          -> "mysqlserver.database.windows.net") . Can anyone provide me with an example ?

[2019-04-25 21:43] wickste opened #30115 "Region info is missing"
This topic should call out what regions the preview is enabled in. I started and created my IoTHub only to find out later that it needs to be in one of the 3 supported regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ac0e5c-b8d2-09e8-2eeb-fa517e1d067b
* Version Independent ID: a34c96e5-1726-c194-e57f-6ff54e033

[2019-04-25 21:46] paramrsingh commented on #30070
I put a quick blurb up on my personal blog if you want to use or adapt the content. See: [https://vanishedgradient.com/2019/04/25/webhooks-with-azure-data-factory/](https://vanishedgradient.com/2019/04/25/webhooks-with-azure-data-factory/). I am a Microsoft FTE

[2019-04-25 21:56] MicahMcKittrick-MSFT commented on #30108
@martind2112 that is good feedback. I have submitted a PR with the changes. Once the PR merges the changes will go live after a few hours.

[2019-04-25 21:56] #30108 closed

[2019-04-25 21:58] hrasheed-msft commented on #30068
@lucarv Hello. Thanks for letting us know. Could you provide more details such as the HDInsight version and when the cluster was created?

[2019-04-25 21:59] conceptdev commented on #29985
@DeveloperBeginner it is possible this is related to poor TLS 1.2 support in older versions of Android. Azure updated all services to TLS 1.2 to avoid security issues.

I googled [this article](https://medium.com/tech-quizlet/working-with-tls-1-2-on-android-4-4-and-lower-f4f5205629a) by another company with a similar issue. It describes the situation in more detail; however that information was no

[2019-04-25 22:11] Mike-Ubezzi-MSFT commented on #26073
Please see the following [comment](https://github.com/MicrosoftDocs/azure-docs/issues/26190#issuecomment-471555511).
Not sure exactly what you are asking here? Are you trying to get your SQL Server FQDN or are yo looking to see where the configuration exists in Databricks?

[2019-04-25 22:17] femsulu commented on #30103
@taromielnaz Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-25 22:32] nunocenteno opened #30117 "Azure Databricks whitelist clarification"
The document contains the phrase "All outbound and inbound traffic between the subnets and the Azure Databricks control plane must be whitelisted" but when we look into the "Whitelisting subnet traffic" table, there's no rule for allowing outbound traffic from the subnets to the Azure Databricks control plane. To me it seems that either the sentence is not completely accurate or something is missi

[2019-04-25 22:32] tfitzmac commented on #29948
The article has been updated with the diagnostics info for app services.

[2019-04-25 22:32] tfitzmac commented on #29948
#please-close

[2019-04-25 22:36] mganeshphani opened #30118 "Is there a way to establish connection to RW OnedriveForBusiness shared with me"
Does this connector support to connect to a shared RW folder on a different OnedriveForBusiness than my account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb81736c-1e55-a6c8-06cd-bf22d973a9b3
* Version Independent ID: 9557889f-5520-69a2-4af9-bbe4cbbc332e
* Content: [Connect to OneDrive for Business - Azure Logic A

[2019-04-25 22:40] TravisCragg-MSFT commented on #30097
@jeffwmiles Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@KumudD it looks like there is some inconsistency in the Encryption and Hashing algorithms section as well.

[2019-04-25 22:43] MartinJaffer-MSFT commented on #30098
@IslayJunkie Thank you for pointing out this embarrassing oversight.  I will assign it to author immediately.  Aside from it being the internal version of the portal, does everything work as expected?

[2019-04-25 22:48] MartinJaffer-MSFT commented on #30098
@Minewiskan  One image in this document needs to be changed.  The first screenshot.  It displays the orange 'Report a bug' which indicates the internal portal.  I will assign to you.

[2019-04-25 22:50] RowdyChildren opened #30119 "If IE 11 is supported why does the azure portal encourage you to use Edge or Chrome?"
https://i.imgur.com/4ehbe2g.png
 Title says it all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-por

[2019-04-25 22:51] RowdyChildren opened #30120 "If IE 11 is supported why does the azure portal encourage you to use Edge or Chrome?"
https://i.imgur.com/4ehbe2g.png
 Title says it all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-por

[2019-04-25 23:07] itanex opened #30121 "No Details regarding GDPR implementations"
How do I set up App Insights on the client side to not create any cookies before the user has approved a GDPR for them? There does not appear to be any details surrounding this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a2

[2019-04-25 23:07] MartinJaffer-MSFT commented on #30068
@lucarv  @hrasheed-msft  My apologies for my late entrance.  I just tried to reproduce the issue.  What I noticed, after completing the Ambari login, was being redirected to `https://my-test-hadoop.azurehdinsight.net/#/main/dashboard/metrics`  not   `https://my-test-hadoop.azurehdinsight.net/#/main/views`.  When I go return to the portal (no log out) and click 'Ambari Views' again, I am redirected

[2019-04-25 23:17] kobulloc-MSFT commented on #30121
@itanex Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-04-25 23:19] gregpakes commented on #29870
I think I might be missing something here.  Where can I set the email addresses if Security Centre isn't providing a recommendation?  The linked docs article only explains how to get to it through the recommendation.  For example, I receive the alerts now, but I want to add someone else.

[2019-04-25 23:20] MartinJaffer-MSFT commented on #30068
@hrasheed-msft Further reproduction, I do not see any tables either.
![image](https://user-images.githubusercontent.com/46612670/56773908-27ea1e80-6775-11e9-9ee8-74a7079d6e8d.png)
My cluster type is Hadoop 2.7 (HDI 3.6).
I will assign issue to you.

[2019-04-25 23:22] KeiroKamioka0000 opened #30122 "When Event Hubs Diagnostic Log archived to a storage account, what the container name will be?"
When Event Hubs Diagnostic Log archived to a storage account, what the container name will be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4bfe6b-7c26-9f63-e1f1-03c02ed5963e
* Version Independent ID: c852c81e-7b9c-897b-371f-9640d1e26bb3
* Content: [Set up diagnostic logs - Azure Event Hub](https://docs.microsoft.c

[2019-04-25 23:30] rustamm commented on #29167
Having the same issue with Az Powershell module, will try azure cli

[2019-04-25 23:33] Adam-Smith-MSFT commented on #30074
@patriml Thank you for the valuable feedback,we are investigating the issue.

[2019-04-25 23:34] BryanTrach-MSFT commented on #29882
@smehta07 Thank you for the update and for sharing the resolution with the community. We are happy to hear the issue is now resolved.

[2019-04-25 23:34] #29882 closed

[2019-04-25 23:43] john-par commented on #10322
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-25 23:43] #10322 closed

[2019-04-25 23:47] johnthcall opened #30123 "When will Event Hubs support availability zones in East US"
East US AZ support was announced on March 1st when can we expect Event Hubs to support AZ's for this region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 863a845f-4b06-126e-3cd3-88875fadf8e4
* Version Independent ID: 2ab93b2c-5796-1623-3396-f294d9c469b5
* Content: [Geo-disaster recovery - Azure Event Hubs](https://do

[2019-04-25 23:50] paulbouwer commented on #29977
@pdebruin We have been working on validating the installation and scenario guidance for Istio `1.1.3`, and the docs are now live.

Let us know if there is anything else you feel we should add to them. I'll close this issue since the updated docs are now live.

@Karishma-Tiwari-MSFT #please-close

[2019-04-25 23:51] paulbouwer commented on #29481
@codepossible The uninstall instructions are now available in the updated docs.

@jakaruna-MSFT #please-close

[2019-04-25 23:53] dgordoncal opened #30124 "Step 6 wording needs to be updated"
Step 6 needs to be updated to make it clear user is only copying the link to the clipboard not downloading the certificate (the picture has the download highlighted).  Suggested wording:

On the Set up Single Sign-On with SAML page, in the SAML Signing Certificate section, click copy button to copy App Federation Metadata Url to your clipboard.

---
#### Document Details

⚠ *Do not edit this secti

[2019-04-26 00:02] kobulloc-MSFT commented on #30013
@loftyet We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-26 00:02] #30013 closed

[2019-04-26 00:06] #29961 closed

[2019-04-26 00:06] kobulloc-MSFT commented on #29961
@tkumark We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-26 00:07] TravisCragg-MSFT commented on #30115
@wickste Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-26 00:08] MartinJaffer-MSFT commented on #30117
@nunocenteno I have conferred with my colleague in networking, @TravisCragg-MSFT .  You are correct.  I will reach out to the product group  and/or author.  Thank you for bringing this to our attention, @nunocenteno .

[2019-04-26 00:09] #29948 closed

[2019-04-26 00:24] kazshi commented on #24460
@Mike-Ubezzi-MSFT Actually the original issue was from support request, and I provided information (according to the following page - confirmed to Ask Azure Cosmos DB) of there's no way to decrease the minimum RU to the customer, the SR case has been already closed. Thanks for your support.

Provision throughput on Azure Cosmos containers and databases | Microsoft Docs
https://docs.microsoft.com/e

[2019-04-26 00:25] jeevansd commented on #30124
@v-viinde and @v-nagta Can you please incorporate this feedback?
CC: @chetansriv

[2019-04-26 00:26] sewatson commented on #30120
Hey,

Apologies for any confusion or frustration caused by this, we're currently running it as an experiment.

IE 11 is still supported and you can get passed this message by selecting the "Continue to Azure Portal website" button.
![image](https://user-images.githubusercontent.com/5950205/56775900-22dd9d00-677e-11e9-83bf-12921fb6730d.png)

To clarify we're promoting downloading our optimised desk

[2019-04-26 00:29] #29977 closed

[2019-04-26 00:31] Karishma-Tiwari-MSFT commented on #29972
@ChristianMontoya Would you be able to help confirm on this? Thanks :)

[2019-04-26 00:34] kazshi commented on #29796
@KalyanChanumolu-MSFT Actually the original issue was from support request (I didn't have detailed information of their environment). They verified that "UserID = 'USER@YOUR-SERVER.mysql.database.azure.com'," format works for the configuration (which 'UserID = "USER@YOUR-SERVER"' doesn't work), so I suggested them to use the full format if the short format doesn't work although we don't have infor

[2019-04-26 00:34] wahyuen opened #30125 "How to save Service Principal Authentication?"
Currently following the above steps, how do I 'save' the Service Principal once it has been selected? The blade seems to always have the 'Save' button greyed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8588f1c-a457-f689-b37c-3731dd3e8bda
* Version Independent ID: 695fbb0d-70fe-1bd9-cefd-9e8605626b22
* Content:

[2019-04-26 00:41] Karishma-Tiwari-MSFT commented on #29988
@ntachandley you are right. I can see the F and Fs series details [here.](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/)

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-26 00:48] Alberto-Vega-MSFT commented on #30092
@jlian done :)

[2019-04-26 00:54] hessfr commented on #12708
Hi @aavdberg I encounter the same issue with version 1.0.008300001-1 of the aadlogin rpm - what worked for me as a workaround is downgrade to the previous version:
`yum downgrade aadlogin-1.0.006350001-1`

[2019-04-26 00:56] markmassad opened #30127 "Need basic create and deployment guidance"
Without below link, there was no way I could successfully connect VM to Event Hub following this doc.  This doc starts good, but get choppy quick.  Visual Studio overkill, no commands to configure the connection, etc.   Should be a section with  Set-AzVMDiagnosticsExtension -ResourceGroupName [rgname] -VMName [vmname] -DiagnosticsConfigurationPath "C:\dir\configureEventHubDiagnosticsSyncFileName.j

[2019-04-26 01:03] g0pinath opened #30128 "Outbound static IP"
Hello

Can you please clarify the below
Yes. Application Gateway supports one internal IP and one external IP per application gateway.

We have a 3 tier app, where the DB tier is allowed to receive traffic from Mid tier web apps ONLY. Today we are having to use 2 ASEs one for Web and anotehr for Mid, and at the time we started the project, AppGWs didnt support static IPs.
Now that its supported ca

[2019-04-26 01:03] TravisCragg-MSFT commented on #30066
@Kamyar5353 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 01:04] ianyian commented on #29976
@AjayKumar-MSFT yes the application is running perfectly from local since i did not do any code change, everything is from VS template.

[2019-04-26 01:09] kazshi commented on #29459
@jakaruna-MSFT Sorry, reopening since I forgot to confirm about the 2nd question.
2. The limitations would be cleared once the feature is in GA? I'd appreciate if you could provide any ETA of GA as well.  Thanks.

[2019-04-26 01:10] rbrundritt commented on #29966
A couple of other things to check:

- Which browser/version are you using?
- To verify, you are seeing a blank page in the code pen that is on the docs site, or when you open the code pen directly in a new window (clicked in Edit in CodePen)?
- Are all the samples blank for you all the time?
- Can you look at the console (open developer tools in the browser using F12, then click on console tab), a

[2019-04-26 01:34] jeevansd commented on #30100
@cap273 Yes, I just tested this and this is a bug. I will report it out and will get it fixed.
Thanks for noting this issue.

[2019-04-26 01:53] v-maroge commented on #28941
Hi, it's been about almost a month, it would be nice to know if this happens to be a break, or a product specification.

[2019-04-26 02:00] javirivas80 opened #30129 "This feature is not supported on this device."
Hello, I followed the steps of the article. But when I want to perform the part from the MFA App to select. Enable phone sign-in. Appears the next message. "This feature is not supported on this device."
The phone is a Huawei P9 with Android 6.0
It has PIN and Fingerprint configured for blocking.
What could be the problem?
![P9](https://user-images.githubusercontent.com/44674421/56778662-ce521600-

[2019-04-26 02:41] rboucher commented on #30127
Thanks for your comment @markmassad . I'll take a look. I'm sure the article could use an upgrade.

[2019-04-26 02:54] kazshi opened #30131 "Logging interval - hourly or"
This page has the following description "API Management currently provides diagnostics logs (batched hourly) about individual API request with each entry having the following schema:", but I found that slides (Azure MVP created) containing information that "the diagnostic logging each 1 minute and provides the log each 5 minutes (and the description in this page might not be correct), with a captu

[2019-04-26 02:58] DanniJuhl opened #30132 "Connectivity through 1433 is shown in diagram"
The diagram in locking-down-inbound-and-outbound-connectivity section mentions an allow in / allow out NSG rule on port 1433. Unless I misunderstand the diagram, wouldn't that have to be port 3342, as that's the only way for us to connect through the public endpoint to the MI at this point in time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-04-26 03:32] AjayKumar-MSFT commented on #30099
@chrisnorthnj, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-26 03:35] AjayKumar-MSFT commented on #30107
@cap273, Thanks for bringing this to our attention. We are investigating and will update you shortly.

[2019-04-26 03:36] m-raman opened #30133 "Calico network policies not getting enforced"
I enabled a cluster with calico. Tried applying network policies using both kubectl and calicoctl. The policies are not taking effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods with network p

[2019-04-26 03:37] AjayKumar-MSFT commented on #30109
@ynijsen, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-04-26 03:57] matedemorphy commented on #29969
@DashleenBhandari-MSFT thanks, for your help, but allready solved deploying with visual studio code. Don't really know the reason why wasn't working, finally i found a way.

[2019-04-26 03:57] matedemorphy commented on #29969
@DashleenBhandari-MSFT thanks, for your help, but allready solved by deploying with visual studio code. Don't really know the reason why wasn't working, finally i found a way.

[2019-04-26 03:59] matedemorphy commented on #29969
i follow the instructions in this video, i think is not optimal because uses ftp, but at least can continue with my project https://www.youtube.com/watch?v=WDqnaZFE7Oc&t=561s

[2019-04-26 04:02] m-raman opened #30134 "Azure LB and Network Policy Issue"
My setup looks like this:

Service (Azure Load Balancer in its own subnet - 10.10.14.0/24) --&gt; AKS Cluster (Deployed in different subnet - 10.10.15.0/24).

Front End pod a web server with IP - 10.10.15.21

I want to ensure the pod can only be reached from the Azure Load Balancer.

The moment I apply the following network policy to allow traffic to only come through LB i.e. 10.10.14.0/24 subnet,

[2019-04-26 04:10] tamram commented on #30093
Thank you, @TracyGH, I have confirmed with the Azure Storage engineering team that this is a bug in the SDK. They are tracking the issue and will address it in a future release. I'll update this issue once it's fixed.

@Adam-Smith-MSFT - FYI.

#please-close

[2019-04-26 04:13] snehaamicrosoft commented on #29801
Yes, thanks for highlighting it, I will get this fixed.

[2019-04-26 04:13] SubhashVasarapu-MSFT commented on #30128
@g0pinath , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-26 04:15] SnehaAgrawal-MSFT commented on #30125
@wahyuen Thanks for the question! We are investigating and will update you shortly

[2019-04-26 04:19] SubhashVasarapu-MSFT commented on #29949
@gcormier , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-26 04:19] #29949 closed

[2019-04-26 04:26] AshokPeddakotla-MSFT commented on #29930
@walsehgal Thanks for the fix.
@ryanlengel We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-26 04:26] #29930 closed

[2019-04-26 04:36] snehaamicrosoft commented on #29801
Have checked in the fix, it will go live today. #please-close

[2019-04-26 04:41] jrxdavid opened #30135 "Gallery App not working"
I could not get it working using this page and the Gallery App.

I found that using these https://community.mimecast.com/docs/DOC-2096 instructions to create the SAML SSO worked for Application, Personal Portal and Admin Console (Ignore the Alternate identification step unless needed)

There was an issue with being redirected to an EU URL and just getting a blank page that Mimecast support resolve

[2019-04-26 04:46] CHEEKATLAPRADEEP-MSFT commented on #30117
@nunocenteno Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-26 04:49] jakaruna-MSFT commented on #30134
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 04:49] jakaruna-MSFT commented on #30133
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 04:49] SadiqhAhmed-MSFT commented on #29623
@kazshi The information has been added and it is live in Azure docs - [Link](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction).

[2019-04-26 04:52] kazshi commented on #29623
@SadiqhAhmed-MSFT Thank you for letting me know. I verified the update.

[2019-04-26 04:59] kobulloc-MSFT commented on #30121
@itanex For now, it appears that this workaround will work and we do have this noted as a feature request:
https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/838

[code]

[2019-04-26 05:14] CHEEKATLAPRADEEP-MSFT commented on #30119
Closing this issue due to duplicate #30120

[2019-04-26 05:14] lucarv commented on #30068
Latest version. Created yesterday

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hassan Rasheed <notifications@github.com>
Sent: Thursday, April 25, 2019 11:58:47 PM
To: MicrosoftDocs/azure-docs
Cc: Tayo Carvalhal; Mention
Subject: Re: [MicrosoftDocs/azure-docs] no such table (#30068)

@lucarv<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%

[2019-04-26 05:15] #30119 closed

[2019-04-26 05:16] msvijayn commented on #30069
@SadiqhAhmed-MSFT - neither me nor @snehithm are authors of the doc in question. Then why are you arbitrarily assigning the issue to us?

[2019-04-26 05:22] SadiqhAhmed-MSFT commented on #30120
@RowdyChildren Hope @sewatson answered your question. We will proceed to close this thread now. Feel free to reach out to us if you've further questions in this matter.

[2019-04-26 05:22] #30120 closed

[2019-04-26 05:26] jayaprakashkamaraj commented on #30061
@AjayKumar-MSFT -- that issue have solved today i have facing another issue can you help me on this?

`kubectl apply -f istio/step-1-create-voting-app-gateway.yaml --namespace voting`

Error
unable to recognize "istio/step-1-create-voting-app-gateway.yaml": no matches for kind "VirtualService" in version "networking.istio.io/v1alpha3"
unable to recognize "istio/step-1-create-voting-app-gateway.yam

[2019-04-26 05:48] SnehaAgrawal-MSFT commented on #29985
@DeveloperBeginner We will close this out but if you feel you need more information please just let us know.

[2019-04-26 05:48] #29985 closed

[2019-04-26 05:49] mike-urnun-msft commented on #30118
Hi @mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2019-04-26 05:53] SumanthMarigowda-MSFT commented on #29834
@droessmj Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-26 05:55] msrini-MSFT commented on #29971
@Sethu2488 , AFD doesn't support Web Sockets. Let me know if you have any further questions.

[2019-04-26 05:55] xulxqqqq opened #30139 "How to set correct phonema for Chinese?"
It seems that wei4 and wei&#2e7 are both invalid ph value in the phoneme tag with alphabet=ipa for "为". Can any provide an example for any chinese character? Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c9
* Version Independent ID: dbd55a99-dbde-a3f3-47a5-ded8309e2748
*

[2019-04-26 05:56] jakaruna-MSFT commented on #30133
@m-raman I hope you have applied the network policy while creating the cluster itself

[2019-04-26 05:57] CHEEKATLAPRADEEP-MSFT commented on #30123
@johnthcall Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-26 05:59] m-raman commented on #30133
@jakaruna-MSFT Yes. See below and the version I have used is 1.13.5.

 "location": "australiasoutheast",
  "name": "aksrm12",
  "networkProfile": {
    "dnsServiceIp": "10.0.0.10",
    "dockerBridgeCidr": "172.17.0.1/16",
    "networkPlugin": "azure",
    "networkPolicy": "calico",
    "podCidr": null,
    "serviceCidr": "10.0.0.0/16"
  },

[2019-04-26 06:01] robinmanuelthiel opened #30140 "Add a non-Visual Studio path"
Not every .NET Core developer is on Windows with access to Visual Studio. Can you please provide an alternative part on how to add Application Insights via Command Line or Visual Studio Code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f7156b-3478-9938-6596-3573034fd7f5
* Version Independent ID: 3d3adaf0-7e39-209d

[2019-04-26 06:10] manishtiwari25 opened #30141 "Password Complexity Inconsistent in IE11 And Chrome"
I have created one b2c password reset policy and I have set complexity like [this](https://imgur.com/a/gFSoUah)

but in IE11 it's showing a wrong message --> [Image](https://imgur.com/a/5QNseXI)
Chrome [Screenshot](https://imgur.com/a/9qCWksB)

[2019-04-26 06:12] #30141 closed

[2019-04-26 06:17] SadiqhAhmed-MSFT commented on #30069
@msvijayn and @snehithm sorry for the confusion. I shall take it up with the right owner. Thanks

@bwren Would you've any insights?

[2019-04-26 06:21] #29801 closed

[2019-04-26 06:28] SadiqhAhmed-MSFT commented on #30039
@kazshi We currently do not have assessment support for 5.0. This is in our backlog.
Migration for VMs on 5.0 is supported via physical to Azure.

[2019-04-26 06:30] #30039 closed

[2019-04-26 06:32] AmanGarg-MSFT commented on #30140
@robinmanuelthiel Thank you for your question. You can find the steps to add Application Insights without visual studio in the below link:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#supported-scenarios

[2019-04-26 06:33] SadiqhAhmed-MSFT commented on #29625
@saurabhsensharma FYI.

[2019-04-26 06:36] DashleenBhandari-MSFT commented on #29969
@matedemorphy , Thanks for the clarification. I will go ahead with the closure of the issue. Feel free to re-open the issue if you need further assistance.

[2019-04-26 06:36] #29969 closed

[2019-04-26 06:39] kazshi commented on #30039
@SadiqhAhmed-MSFT Thanks for your comment, but I'm confusing.
What does "Migration for VMs on 5.0 is supported via physical to Azure." exactly mean? I cannot find any information about 'VMs on 5.0' in this document, does it mean VMs are managed by vCenter Server running 5.0?

[2019-04-26 06:42] msvijayn commented on #30069
@SadiqhAhmed-MSFT - the doc owner is: anantr
![image](https://user-images.githubusercontent.com/33087919/56788233-7ef6fe80-681c-11e9-8d3e-9e0fc8103ee0.png)

[2019-04-26 06:44] DixitArora-MSFT commented on #30046
@Anand-Moghe When you create an ISE, Azure deploys a private and isolated instance of the Logic Apps service into your Azure virtual network. This private instance uses dedicated resources such as storage, and runs separately from the public "global" Logic Apps service.

This also enables Logic Apps to have secure, direct access to private resources, such as virtual machines, servers, and other se

[2019-04-26 06:53] CHEEKATLAPRADEEP-MSFT commented on #30122
@KeiroKamioka0000 As per my repro when I set up diagnostics logs to archive to as storage account.
I have observed, the container name in the blob storage is “**insights-metrics-pt1m**”.

![image](https://user-images.githubusercontent.com/44426401/56788719-ce89fa00-681d-11e9-9387-1663525c430f.png)

The location the log file looks like:

![image](https://user-images.githubusercontent.com/44426401/5

[2019-04-26 06:59] CHEEKATLAPRADEEP-MSFT commented on #30048
@vineelavelagapudi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-26 06:59] #30048 closed

[2019-04-26 07:01] SadiqhAhmed-MSFT commented on #30039
@kazshi You can perform migration using ASR physical to Azure path - https://docs.microsoft.com/en-us/azure/site-recovery/migrate-tutorial-on-premises-azure

[2019-04-26 07:09] holwech opened #30142 "How to get v2 access token?"
Querying https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token returns a version 1.0 access token, is there a way to get it to return a version 2.0 access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073-cca2f6166d67
* Version Independent ID: 215511e6-6599-4aac-5592-635640a635cb
*

[2019-04-26 07:30] kazshi commented on #30039
@SadiqhAhmed-MSFT I'm not clear yet. The link you provided doesn't have about version information, and the link is about "site-recovery". However, "5.0 (or earlier)" is not listed in the Requirements in the following link (I should have listed this link previously), the link is about "site-recovery/vmware-physical-azure-support-matrix".   Thanks.

Support matrix for disaster recovery of VMware VMs

[2019-04-26 07:30] menewol commented on #8107
@asinn826  sadly i cant provide any further details on the said machine i was using. nevertheless, this tutorial explains to activate the serial-tty via the /etc/inittab file - from what i've grasped, the ubunutu16.04 FHS doesnt control tty via the inititab-file anymore. that might be the case since ubuntu, as well as other distros changed to the 'Upstart' init service.

if you need further help,

[2019-04-26 07:42] SnehaAgrawal-MSFT commented on #30125
@wahyuen When you click on create new Azure AD Application and provide app name then 'Save' button is highlighted and you can save.
![image](https://user-images.githubusercontent.com/46553948/56791510-dbf6b280-6824-11e9-9d51-7d858d21edfa.png)

[2019-04-26 07:43] ShirleyWangMSFT commented on #29954
Hi @MarkAtAgilliance Thank you for your feedback.  We have modified the doc content with further clarification: if the Azure Data Lake is in West Europe, then you should create an Azure integration runtime with its location set to "West Europe": https://docs.microsoft.com/en-us/azure/data-factory/create-azure-integration-runtime#create-azure-ir

#please-close

[2019-04-26 07:43] AjayKumar-MSFT commented on #29800
@kmouline, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-26 07:43] #29800 closed

[2019-04-26 07:48] #29954 closed

[2019-04-26 07:48] dearandyxu commented on #17450
You can use user properties in copy activity to see the source and destination table name. The doc link is as following: https://docs.microsoft.com/en-us/azure/data-factory/monitor-visually#promote-user-properties-to-monitor .

[2019-04-26 07:49] ShirleyWangMSFT commented on #28528
Hi @Mike-EEE the "important" section of the dynamics doc article has been updated to include a link to the region list of the Dynamics instance:

Find where your Dynamics instance is located by referencing the region list for Dynamics 365: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/datacenter/new-datacenter-regions

I will close this doc issue but feel free to let us kn

[2019-04-26 07:49] SadiqhAhmed-MSFT commented on #30039
@kazshi Using Azure migrate you cannot migrate to Azure with vCenter 5.0 or earlier. For your use case, use ASR (Physical to Azure) guide to migrate to Azure. If this is still confusing I would encourage you to post your query in the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=hypervrecovmgr).

[2019-04-26 07:50] dearandyxu commented on #17450
#please-close

[2019-04-26 07:50] kmouline commented on #29800
Thank You
________________________________
From: AjayKumar-MSFT <notifications@github.com>
Sent: Friday, April 26, 2019 8:44:10 AM
To: MicrosoftDocs/azure-docs
Cc: kamal.mouline; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Azure Stack Migration (#29800)

@kmouline<https://github.com/kmouline>, We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2019-04-26 07:51] #28528 closed

[2019-04-26 07:58] AjayKumar-MSFT commented on #30141
@manishtiwari25, Thank you for leveraging Azure docs feedback channel to raise this question! Since you have closed the issue, I presume you have figured out the issue or if the issue still persist and you need further assistance on this topic then could you please share the Azure doc URL on which the above document feedback requested was created?

[2019-04-26 07:58] ivog opened #30144 "Kured installation fails, yaml references unavailable containerimage"
kubectl apply -f https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0.yaml currently fails because of an upstream problem.

See: https://github.com/weaveworks/kured/issues/68

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
* Version Independent ID: 12d0be59-8947-e0

[2019-04-26 07:59] Anmolgan81 opened #30145 "When Will Azure Managed Instance be available for Azure Goverment"
Our customer wants to know on which month (Date) Managed instance will be available for Azure Government, they are looking to build the managed instance in Virginia and DR location be in Arizona. We know that this is going to be available in 2019 Q2, but we need a specific month when this will be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-04-26 08:03] kazshi commented on #30039
@SadiqhAhmed-MSFT OK, I think you want me to refer the following thread. I'll provide information from the thread to my customer.   Thanks.

Migration to Azure from vSphere 5.0
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/910170a6-8dbf-40ff-ab97-0abcf28ae661/migration-to-azure-from-vsphere-50?forum=hypervrecovmgr

[2019-04-26 08:07] KetanChawda-MSFT commented on #30131
@kazshi Thank you for posting your question. We will review and provide an update on this.

@mikebudzynski / @vladvino  can you confirm on this ?

[2019-04-26 08:09] KalyanChanumolu-MSFT commented on #30132
@DanniJuhl
Thank you for the detailed feedback.
The port number on the diagram needs to be changed. This issue being assigned to the content author to update as appropriate. 

[2019-04-26 08:09] AjayKumar-MSFT commented on #29481
@paulbouwer, Thank you!
@codepossible, We will close this out, but if you feel you need more information please just let us know.

[2019-04-26 08:09] #29481 closed

[2019-04-26 08:10] ShirleyWangMSFT commented on #19090
Hi @sagimanoj Thank you for your feedback!  To pull files whose last modified attribute is greater than or equal to the datetime of the last pull, you can use the "modifiedDatetimeStart" property on the S3 dataset:
https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-simple-storage-service#dataset-properties

You can also refer to this step-by-step tutorial on how to perform increm

[2019-04-26 08:25] AshokPeddakotla-MSFT commented on #30038
@smithGit Could you attach screenshots again?  Meanwhile, try using Azure Storage Explorer. You can select the folders and delete.
https://azure.microsoft.com/en-us/features/storage-explorer/

![image](https://user-images.githubusercontent.com/44426435/56794017-eae06380-682a-11e9-9c90-8cf099f312dc.png)

[2019-04-26 08:27] RohitMungi-MSFT commented on #30139
@xulxqqqq Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-26 08:35] richyla commented on #23789
Just tried again with a service account (not the default dashboard) and it seems to be working which is great.  However using a token of an AAD user with cluster-admin role binding is failing to login.  Should an AAD use with correct RBAC be able to login to the dashboard with token and receive the level of privilege in dashboard as defined in their RBAC binding?

[2019-04-26 08:37] mmichaluk commented on #30069
@SadiqhAhmed-MSFT @msvijayn @bwren @snehithm

Guys, thank you for looking into it. I found an answer to my query though:

There are 3 states of alerts: New, Acknowledged and Closed - we all know that.

What I couldn't figure out is why my alert triggers only once and sends  one email only -  I set the condition of the trigger deliberately low ( my VM CPU stays around 50% and I set the trigger to 3

[2019-04-26 08:37] #30069 closed

[2019-04-26 08:39] Saugat168 opened #30148 "Data Lake Gen 2 API: Overwriting the same file errors out saying flush position not correct."
Ok, I have been working with Azure Data Lake Gen 2 the past month quite a bit.
The issue I am raising here is I can upload files through the REST API just fine but it seems to not work after 2nd or 3rd time. This is very strange.

Basically,
1. I do a put request to create a new file. Something like this:

[code]
2. Do an append:

[code]

3. Do a flush

[code]
It works, at least the first 2 times,

[2019-04-26 08:41] neeleshray commented on #29583
@TomoharuMisawa
Windows integrated authentication is ideal for intranet based applications. The home realm discovery feature is governed by the domain that is provided at sign-in.
We will be closing this thread now. Let us know if you need further help.

[2019-04-26 08:41] #29583 closed

[2019-04-26 08:42] neeleshray commented on #29924
@monhaber
Monica, could you kindly look into the document for updation?

[2019-04-26 08:51] anssenfang1 opened #30149 "Please check if it is valid: Using an external jar from the additional storage is not supported"
It supports additional storage as verified in HDI 3.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4472f8f1-7879-22cc-9c8d-5ccca7f0358a
* Version Independent ID: 19443dd3-1562-c748-2cc4-7e19b3aa01f4
* Content: [Use Livy Spark to submit jobs to Spark cluster on Azure HDInsight](https://docs.microsoft.com/en-us/azure/h

[2019-04-26 08:52] ManojReddy-MSFT commented on #29979
@stuart-murray Thanks for the update. Currently this is not exposed to security readers, however we would suggest adding this as feedback / feature request [here ](https://feedback.azure.com/forums/169401-azure-active-directory)for the product team to consider.

We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the con

[2019-04-26 08:52] #29979 closed

[2019-04-26 08:53] anssenfang1 opened #30150 "Wrong content type when submit job from local storage."
curl -k --user "&lt;hdinsight user&gt;:&lt;user password&gt;" -v -H &lt;content-type&gt; -X POST -d '{ "file":"&lt;path to application jar&gt;", "className":"&lt;classname in jar&gt;" }' 'https://&lt;spark_cluster_name&gt;.azurehdinsight.net/livy/batches' -H "X-Requested-By: admin"

&lt;content-type&gt; shall be   "Content-Type: application/json"

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-26 09:00] ManojReddy-MSFT commented on #29751
@unmeshk12 We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-26 09:00] #29751 closed

[2019-04-26 09:01] Saugat168 commented on #30148
sorry, I just checked this using the requests module in Python and there this works. So, it seems like there is a problem while doing async processing of multiple tasks of uploading different files.

[2019-04-26 09:01] #30148 closed

[2019-04-26 09:04] ManojReddy-MSFT commented on #29750
@unmeshM We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-26 09:04] #29750 closed

[2019-04-26 09:08] lightupdifire commented on #29108
@TomBertie,
Thanks, worked for me 2 :)

[2019-04-26 09:18] watahani opened #30151 "Not all client send device platform information"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-26 09:19] watahani commented on #30151
mistook

[2019-04-26 09:19] #30151 closed

[2019-04-26 09:19] amit-jain commented on #28776
Any update on this?

[2019-04-26 09:20] #28601 closed

[2019-04-26 09:25] SnehaAgrawal-MSFT commented on #29963
@kazshi Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-26 09:33] watahani opened #30152 "Not all client send device platform information"
Not all clients will send the information.  This can be especially true for legacy authentication.
It mean that device information policy is not applied to client using legacy authentication POP3, IMAP, SMTP.

following section make customer confusing.

[code]

We likewise should fix following document.

* https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/conditions#client

[2019-04-26 09:34] PramodValavala-MSFT commented on #30060
@PingPongSet Here is a sample for [C#](https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/TopicFilters) and one for [TypeScript](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts) / [JavaScript](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service

[2019-04-26 09:42] YASWANTHM-MSFT commented on #29999
@kborovik,We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-26 09:42] #29999 closed

[2019-04-26 09:52] hmayer1980 opened #30153 "Activity dependency / Error Handling"
Hi,

this is the only Page where I really have found anything regarding "Activity dependency" (Success, Competion, Skipped).
What is missing and I have not really found anything about it in the documentation at all is something about the fact,
that if I have a Pipeline where an Activity Fails, and then I have an "OnFailed" dependency with for example a "Log Step", then the Pipeline itself is in Su

[2019-04-26 10:00] watahani commented on #30152
see #15084

[2019-04-26 10:00] watahani commented on #15084
see #30152

[2019-04-26 10:08] CHEEKATLAPRADEEP-MSFT commented on #30149
@anssenfang1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-26 10:10] wahyuen commented on #30125
Sure ok, our scenario is when we have an **existing** service principal, I still can't see how we Save in that scenario? I select the existing SP and the save button remains greyed out

[2019-04-26 10:11] CHEEKATLAPRADEEP-MSFT commented on #30150
@anssenfang1 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/74909](https://github.com/MicrosoftDocs/azure-docs-pr/pull/74909).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2019-04-26 10:11] #30150 closed

[2019-04-26 10:25] SadiqhAhmed-MSFT commented on #30039
@kazshi You got it. :)

[2019-04-26 10:25] jakaruna-MSFT commented on #30134
@m-raman similar issue is here #30133 .
I will close this issue and we will track the improvements in the other issue.

[2019-04-26 10:26] SadiqhAhmed-MSFT commented on #30069
@mmichaluk Thanks for the update! Glad to hear it is resolved :)

[2019-04-26 10:26] jakaruna-MSFT commented on #30133
@m-raman I created a cluster today with calico networking plugin.
Netwroking rules didnt work for me as well.
I will investigate further and let you know.

[2019-04-26 10:40] visuazn opened #30154 "ValueError"
ValueError: Cannot feed value of shape (1, 224, 224) for Tensor 'Placeholder:0', which has shape '(?, 224, 224, 3)'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Cu

[2019-04-26 11:04] Uasmi opened #30155 "Tags should be in dictionary format"
All lines for tags such as
```tags = ["onnx"]```
should be in dictionary format, not list
```tags = {"type": "onnx"}```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343be57f-8538-8bce-ad16-e2f138fd82a1
* Version Independent ID: c4972de8-10d7-2143-a128-5afa9236439a
* Content: [Create & deploy interoperable ONNX models

[2019-04-26 11:07] JohnStraumann66 commented on #29759
Got it:
Guid hemlockTag;
Guid japCherryTag;
var project = trainingApi.GetProject(new Guid("<ProjectID>"));
IList<Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training.Models.Tag> projectTags = new List<Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training.Models.Tag>();
projectTags = trainingApi.GetTags(project.Id);
for (int i=0; i<projectTags.Count; i++)
{
  if (projectTags[i].N

[2019-04-26 11:19] benc-uk opened #30156 "Needs a refresh"
No menton of Kubernetes/AKS and still mentioning Cloud Services makes this page feel rather outdated. Going forward I'm not even sure if we'll be positioning Service Fabric as general choice either

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f74487-a688-9808-d4d2-4ea565b50c1d
* Version Independent ID: c8fdca07-2ae

[2019-04-26 11:23] m-raman commented on #30134
@jakaruna-MSFT Apologies for the confusion. The two issues are different. Please re-open this. This scenario has nothing to do with Calico network policy. Here I tried using Azure network policy. Like I mentioned I wanted to only receive traffic from LB subnet (10.10.14.0/24) to app labelled azure-vote-front. And not from any other subnet within the vnet. But the moment I whitelist Azure load bala

[2019-04-26 12:10] jakaruna-MSFT commented on #30144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 12:22] meixger opened #30157 "Please document option enableAuth"
Please document the `func host start`option `--enableAuth`

Relevant source code https://github.com/Azure/azure-functions-core-tools/blob/acc8e0613788d7f2e8b91dd4a1c3628b990a90a9/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L66

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53

[2019-04-26 12:28] RohitMungi-MSFT commented on #30154
@visuazn Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-26 12:30] KetanChawda-MSFT commented on #30157
@meixger Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-26 12:32] adeelilyas commented on #10862
Change Publisher and Type as @majorvin said. It worked for me. [reference](https://github.com/MicrosoftDocs/azure-docs/issues/10862#issuecomment-434099918)

`$vmss = Get-AzureRmVmss -ResourceGroupName $ResourceGroupName -VMScaleSetName $vmssResource.Name
    $vmss = Add-AzureRMVmssExtension -VirtualMachineScaleSet $vmss `
        -Name "customscript" `
        -Publisher "Microsoft.Azure.Extension

[2019-04-26 12:34] smithGit commented on #30038
Dear Ashok – thanks for the suggestion to use Azure Storage Explorer.  I’m hoping the attached Word document comes through – images in email are sometimes problematic.  You may consider my support request satisfactorily closed.  Sam in Michigan

From: AshokPeddakotla-MSFT [mailto:notifications@github.com]
Sent: Friday, April 26, 2019 4:26 AM
To: MicrosoftDocs/azure-docs
Cc: Sam Smith; Mention
Subj

[2019-04-26 12:36] bdschaap opened #30158 "Key Vault Limits"
The Key Vault limits are at a 10 second granularity but the granularity of its metrics is 1 minute.  Please consider adjusting the limits to be in line with the granularity of the metrics available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f1

[2019-04-26 12:38] bdschaap opened #30159 "Key Vault Dimensions for Newer Alerts"
When will Key Vault support dimensions for newer alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e93c2ad0-495f-434e-cb12-f108dee20590
* Version Independent ID: 536af97d-2da1-c252-ad35-03f3103cf52a
* Content: [Supported resources for metric alerts in Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-mon

[2019-04-26 12:40] AjayKumar-MSFT commented on #30129
@javirivas80, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 12:40] hmayer1980 opened #30160 "Template for Azure Durable Function"
I would find it very helpfull if you would provide a integrated sample of running Azure Durable Functions (Functions with &gt; 4 Minutes runtime) in Azure Data Factory.
Most intersting would be to have an activity which would do this automatically (of the Internal Azure Functionj Activity recognizing a durable function and do it), but as explained in
https://docs.microsoft.com/en-us/azure/data-fac

[2019-04-26 12:43] AjayKumar-MSFT commented on #30135
@jrxdavid, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-26 12:45] gcormier opened #30161 "libelf-dev missing for ubuntu 18.04"
I could not get this to work without installing libelf-dev

Build notes should be updated for 18.04

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9ba71b2-2d05-f463-740d-fd96c2a2220b
* Version Independent ID: 4b38f105-4791-fa76-b738-b0039837b180
* Content: [DPDK in an Azure Linux VM](https://docs.microsoft.com/en-us/a

[2019-04-26 12:47] AjayKumar-MSFT commented on #30142
@holwech, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-26 13:03] holwech commented on #30142
I figured it out in the end. You have to set the following in the app registration manifest `"accessTokenAcceptedVersion": 2` for the "Web API" application. Might be worth mentioning in the guide somewhere.

[2019-04-26 13:13] sweetmoniker opened #30162 "Python"
Am I missing something? I don't see Python language support in either 1.x or 2.x. If "experimental language support" is enabled there are no functions using python and python is not available in the drop down list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent

[2019-04-26 13:15] bdschaap opened #30163 "Key Vault Limit Clarification"
The Key Vault limits state "Software key CREATE key" and "Software key All other transactions".  Can you confirm that this means "Software key All other transactions" excludes "Software key Create key"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7

[2019-04-26 13:16] Uasmi commented on #30155
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-build-deploy-onnx

[2019-04-26 13:16] shashishailaj commented on #30152
@watahani Thank you for your feedback . We will investigate and update this thread.

[2019-04-26 13:21] mirkkupet opened #30164 "Output Configuration - path"
Did you mean to add something to Output Configuration section after path?  "The path to the blobco." doesn't say much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Func

[2019-04-26 13:24] saifuddin123 opened #30166 "Using offline capabilities feature"
[Enter feedback here]
Hi,
We are planning to use offline capabilities feature.  Have few questions on this. It will be good, if you can share an example to try.

Is transparent gateway setup prerequisite for this feature? if yes, transparent gateway doesn't mention to make Iot devices to be added as child devices. or is it required? if not, what is the configuration for IoT Device to connect to Io

[2019-04-26 13:26] jnsunkersett opened #30167 "Conflict found with other MS Azure jar artifacts"
Hi,
My colleague and me are developing java code to interact with Azure Media Services and Azure Storage. We found some sample for Azure Storage and they worked fine, EACH ONE by itselfm however when merged, they seem to conflict (specifically Storage required for Azure Media services)

Cannot locate the below with azure-storage 8.3.0
import com.microsoft.azure.storage.CloudStorageAccount;
import

[2019-04-26 13:57] aloneguid commented on #10240
Deployment of a container app is no different to deployment of any other app with powershell or anything else, don't think this question is fair. Visual Studio is not required for packaging or anything else.

[2019-04-26 14:00] robertwood62 opened #30168 "When does the verification code expire (or does it)."
When verifying an email address.  How long does the verification code continue to work before a new verification code needs to issues.  Does it expire?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899-f35a-0f08-d280110ded13
* Content: [Frequentl

[2019-04-26 14:10] craigcaseyMSFT commented on #20044
This issue is more than 90 days old and looks as though it has been addressed and can be closed. Thanks!

[2019-04-26 14:10] #20044 closed

[2019-04-26 14:16] craigcaseyMSFT commented on #20027
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 14:16] #20027 closed

[2019-04-26 14:32] mamccrea commented on #30117
Hi @nunocenteno - thank you for  your feedback. The following table shows the outbound rules that need to be applied. I will update the doc to make it more clear.

![image](https://user-images.githubusercontent.com/38858737/56815147-70492100-67f5-11e9-93ee-a539b75be5c1.png)

[2019-04-26 14:44] stevep4 opened #30169 "whr parameter and example user ID"
Hi,

When passing something like "?whr=customdomain.com" to the password reset page it picks up my company branding, great stuff.

However, the User ID section still carries an example text of "Example: user@contoso.onmicrosoft.com or user@contoso.com".

Could the passwordreset.microsoftonline.com pages be updated so that the domain passed by whr gets used in the example, so that the example would

[2019-04-26 14:57] JPSiller commented on #16461
@jwargo I was able to do the migration. I removed the permissions per Google's guide. FCM library adds them automatically. For the InstanceID and FCM service I just had to add the attributes directly in the services class and xamarin creates the permissions, the services do not have to implement "Export=false" anymore.

Another important change is the with FCM you no longer have to request the tok

[2019-04-26 15:03] Pradeeppednekar commented on #14209
I have created Azure AD Identity Provider and i am facing issue during login.When i am trying to delet the Identity Provider we are getting below error :
Failed to save identity provider. Reason : IdentityProvider with 'id': 'OIDC-V1-Microsoft_' cannot be found in the directory 'azureb2ccmo.onmicrosoft.com'.. CorrelationId: b08a440a-2c07-439e-86db-70a6f92ded0b

Open ID Connect Preview : "Microsoft

[2019-04-26 15:05] BBudnicki opened #30170 "Out of Date"
Please closeout / delete, this issue was attached to the wrong piece of documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c760-1a37-57728171395d
* Content: [Tutorial - Register an application - Azure Active Directory B2C](https://do

[2019-04-26 15:30] SadiqhAhmed-MSFT commented on #30159
@bdschaap Thanks for the comment! We will check on this request and get back to you with an update.

@snehithm Your comments please.

[2019-04-26 15:44] ricardoserradas opened #30172 "Update this document to add reference to the Az module"
As the Az module is the new Microsoft recommendation for administering Azure resources through PowerShell and this is the one with better compatibility with PowerShell Core (targeting cross-platform), it would be nice if we add instructions for performing those actions using Az, then.

On the other hand, first we need to make sure that this is possible with this module already. I tried to figure o

[2019-04-26 15:54] haresh1288 commented on #16997
Hi Haresh,

The aggregation pipeline feature should GA this summer. With that update, along with improved performance most cases resulting in the 40 MB issue will no longer encounter that error. Depending on your query, we could maybe help you sooner - if you are interested, please share samples of the .aggregate queries you are performing.

Regards,
Jason
#resolve

From: Cosmos DB Core Support <c

[2019-04-26 15:54] s-bauer commented on #29975
Same issue, I gave myself the Admin Login permissions and I'm able to login successful. However I cannot run any sudo command, as it's giving me the error "sudo: PAM authentication error: Conversation error"

[2019-04-26 15:55] MarkAtAgilliance commented on #29954
Aha - that is what "with" meant :-) .  Thank you for the clarification.  The example makes it clear.

[2019-04-26 15:58] Scottyy360 commented on #30064
I'm getting the exact same error.

[2019-04-26 16:11] stevestein commented on #28740
#please-close

[2019-04-26 16:24] Anand-Moghe commented on #30046
@DixitArora-MSFT  Thank you.

[2019-04-26 16:24] #30046 closed

[2019-04-26 16:25] mmaitre314 opened #30173 "Screenshots of gateway setup need to be updated"
The UI to setup the gateway in the portal seem to have changed and the screenshots in the page need an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205b724d-450d-7112-3f2e-523d8ae79e07
* Version Independent ID: cfe15589-168f-3520-2cbb-309a900a22e6
* Content: [Data Management Gateway for Data Factory](https://

[2019-04-26 16:27] mmaitre314 commented on #30173
Actually, doc applies to V1 and not V2

[2019-04-26 16:27] #30173 closed

[2019-04-26 16:28] RickB-0923845 commented on #30053
My question is about the enforcement aspect. If I manage data loss protection for Contoso, then I may permit Contoso employees to use their Contoso identities to interact on a B2B basis with our strategic partner Fabrikam, but I don’t want anyone on a Contoso device to authenticate with a Fabrikam identity. Therefore I would expect AAD tenant restrictions would see the Contoso tenant ID in the req

[2019-04-26 16:28] GregHainesTDC opened #30174 "Article Date"
The date of this page shows an update date of 05/05/2019. Today is 4/26/2019. Are these limits forthcoming or is the article ahead of itself?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [Azure SQL Database

[2019-04-26 16:32] akaramanapp commented on #29557
Same issue, I'm getting this error:

[code]

Any idea?
By the way I'm using Mac OS

[2019-04-26 16:32] ConnorBehan opened #30175 "No tenant"
When I select tenant name it does not show any available tenants. However I assigned a new resource a couple of days ago and it worked fine. In urgent need of help.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95c1076-a5e3-81bb-44a4-36c57658df38
* Version Independent ID: 7e449205-0e9d-056c-2b54-f4de6ef8ef39
* Conten

[2019-04-26 16:34] chriskuech commented on #10240
Yes but that is only clear to anyone who has a firm understanding of Service Fabric (ie not the target audience of the documentation)

[2019-04-26 16:36] palma21 commented on #23789
Yes it should. Can you list config maps on the default NS with the user you are getting the token to k8s dashboard? If you can do that action with the user then it's expected, otherwise I'd say check which token your are passing to the Dashboard.

To avoid spamming this thread that appears resolved please drop me a mail at jpalma [at] microsoft.com

[2019-04-26 16:37] Mike-Ubezzi-MSFT commented on #28740
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-26 16:37] #28740 closed

[2019-04-26 16:39] craigcaseyMSFT commented on #19979
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 16:39] #19979 closed

[2019-04-26 16:41] cherylmc commented on #30077
I'll go ahead and add this. It defaults to the AZ SKU if the public IP is a Standard Public IP, which is why we did not include it in the example. But there is no reason why we can't call it out explicitly. Thanks! #please-close

[2019-04-26 16:49] msebolt commented on #6348
@tsahi @appalaraju The document has been updated and the sample adjusted to reduce some of the errors, see https://github.com/MicrosoftDocs/azure-docs-pr/pull/74941 and https://github.com/Azure/azure-service-bus/pull/278.

Please comment below if there are still issues.

[2019-04-26 16:50] georgewallace commented on #29692
@mudbob While we are looking into the region issue you described, make sure your pre-created Automation Account and Log Analytics workspace match the mapping guidelines discussed at [Enable solutions](https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions-from-automation-account#enable-solutions).  I am looking to add this mapping to the Start Stop documentation as well.

[2019-04-26 16:52] aljo-microsoft commented on #10240
@MicahMcKittrick-MSFT
Please reassign this item to me.

@chriskuech
I own this doc.

As Ryan and @aloneguid pointed out the requested scenario is documented, and supplements the open source code API and Swagger docs; VS isn't required for SF.

The target audience for the referenced content is looking for a: 0-6 minute quick start on Deploying a Windows Container.

Given the ask is deployment; then

[2019-04-26 16:54] taromielnaz opened #30178 "validate the virtual machine"
In this document it has been said that validate the virtual machine by logging in to the VM , but after failover the new machine doesnt have an public IP how can we login ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9814de5d-d6e2-463d-f4b9-dffa577daec3
* Version Independent ID: 577fe16b-ce8a-8a73-b040-a9ba9abfe35b

[2019-04-26 16:56] diberry commented on #30175
@ConnorBehan Thank you for letting us know. Can you please send screenshots or a screencastify video? #in-progress

[2019-04-26 16:59] diberry commented on #30175
@ConnorBehan Can you also open F12/dev tool, and force a refresh "empty cache and hard reload"

[2019-04-26 17:00] ninarn commented on #28941
Sorry for the delayed response. What I have from the SQL VM team so far is that 2008 is not yet supported by the extension that enables the "SQL Server configuration" features. But support is coming soon.

[2019-04-26 17:02] #30077 closed

[2019-04-26 17:06] scootafire commented on #24858
Is this ready for download and installation on our JIRA yet?

[2019-04-26 17:08] itanex opened #30179 "Is JavaScriptSnippet.FullScript Deprecated?"
This quickstart suggests inserting a JS blob into the page to initiate tracking. Is the use of `JavaScriptSnippet.FullScript` not recommended/deprecated?

Sample
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18bc26a-c050-89ba-a4a2-111bfa7ac9e1
* Version Independent ID: e4e26c83-5f08-72e7-a1f3-b0e0797bbadd
* Co

[2019-04-26 17:10] MartinJaffer-MSFT commented on #29840
@sharonlo101  , can you comment?

[2019-04-26 17:11] BryanTrach-MSFT commented on #30156
@benc-uk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-26 17:13] craigcaseyMSFT commented on #19972
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 17:13] #19972 closed

[2019-04-26 17:15] msebolt commented on #20452
The instructions have been changed for easier navigation.  Please comment below if there are any issues.

[2019-04-26 17:15] #20452 closed

[2019-04-26 17:18] ConnorBehan commented on #30175
Thanks for the quick reply.

Logged out and back in 3 times and it worked on the third attempt. Strange one.

The reason I was checking my resources is because my bot, out of the blue has started replying "Sorry, it looks like something went wrong." to any message I send. I have checked my Luis subscription and my free starter key has reached its limit. I do have another resource assigned to the L

[2019-04-26 17:22] YutongTie-MSFT commented on #29983
@KristofferBerge
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-26 17:22] #29983 closed

[2019-04-26 17:23] mrbullwinkle commented on #30179
Nope, not deprecated, the most up-to-date recommendation from the engineering team is here and is using the method you described: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#enable-client-side-telemetry-for-web-applications](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#enable-client-side-telemetry-for-web-applicati

[2019-04-26 17:25] diberry commented on #30175
Does your bot (in the azure portal bot resource, app service settings, luisapikey) use the F0 key? You would have had to change this yourself at some point.

[2019-04-26 17:30] rolyon commented on #29396
Hi @lightdrive
This role has been added to the built-in roles reference.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-managed-instance-contributor
thanks

[2019-04-26 17:30] rolyon commented on #29396
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-04-26 17:35] Karishma-Tiwari-MSFT commented on #29626
@mganeshphani I am not aware of any other document with custom domain configuration info.
@dlepow Are you aware of any doc on this? Should we have this requirement added to our doc backlog?

[2019-04-26 17:42] ConnorBehan commented on #30175
My bot service is F0, App service plan is F1(Free), my Luis resource is F0

[2019-04-26 17:51] Karishma-Tiwari-MSFT commented on #29632
@m-raman Sorry for the delay on this. Are you still seeing this issue?

[2019-04-26 17:54] Mike-Ubezzi-MSFT commented on #29396
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-26 17:54] #29396 closed

[2019-04-26 17:54] #29939 closed

[2019-04-26 18:03] femsulu commented on #29601
@snyder-riley-pfg per update from @georgewallace and the feature team, we need to take a look at the backend logs to get to the bottom of this. Please raise a support ticket with Azure technical support using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request).
If you don't have a support plan, please send mail to AzCommunity@microsoft.com

[2019-04-26 18:03] #29601 closed

[2019-04-26 18:04] ConnorBehan commented on #30175
@diberry After reading your comment again, I realised I hadn't updated the key for my dispatch model in the bot file. Really appreciate the help thanks a mil.

[2019-04-26 18:04] cwester72 commented on #29488
If you'd like I can setup a screen sharing session to show you. It happens with every new user.

Thanks!
Craig

[2019-04-26 18:06] cwester72 opened #30181 "Custom Apps"
Is there any way to publish custom apps such as Microsoft GP? Or is it only the apps that appear in Get-RdsStartMenuApp?

Is there a way I can move an installed application into that list?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71d2-05ef-33

[2019-04-26 18:11] frachel opened #30182 "No "Update deployments" tab to view in-progress deployments."
The documentation says "After the scheduled deployment starts, you can see the status for that deployment on the Update deployments tab on the Update management screen", however I don't see any such tab.

I see "Missing Updates", "Deployment schedules" and "History". If I look under "History", that shows me the in-progress deployment which I can then drill down into. I don't see any other path to

[2019-04-26 18:13] mrbullwinkle commented on #30179
The change to fix this is merged internally, it will go-live in the public docs between 3-4 PM (UTC-7). Thanks again for helping make our docs better!

[2019-04-26 18:17] MarileeTurscak-MSFT commented on #30170
@BBudnicki thanks for following up. We will close this out since this issue is attached to the wrong documentation.

[2019-04-26 18:17] #30170 closed

[2019-04-26 18:18] AjayKumar-MSFT commented on #29976
@ianyian, Thanks for the clarification. We have received your email and I have responded, kindly reply with the requested details.

[2019-04-26 18:19] georgewallace commented on #29753
@bryandam Thanks for reaching out.  We are still investigating the whole process due to some of the items you raised on your other issue and working to clear up the integration docs.  I did confirm that **Do not install software updates** is still in the product under **Download Settings** on a deployment.  Do you not see this?

[2019-04-26 18:19] PishPoshery opened #30183 "Spelling error"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-metrics

and to Azure Monitor data platforn for a comparison of the two.

Should be "platform"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac4ec76-afa8-d2a0-0d89-5c156e21dafd
* Version Independent ID: d99a5eed-6fda-f75a-c5c4-24e90a7fde75
*

[2019-04-26 18:24] MicrosoftGuyJFlo commented on #30169
@sadiehenry Thoughts on this?

[2019-04-26 18:25] MarileeTurscak-MSFT commented on #30172
@ricardoserradas thanks for the feedback! I have assigned this issue to the content author, @CelesteDG , for follow-up.

[2019-04-26 18:27] AjayKumar-MSFT commented on #30061
@jayaprakashkamaraj, Glad the issue is resolved. Thanks for the update!
 For a specialized on the other issue, could you please open a new GitHub issue if it is document related or since this channel is reserved for documentation questions, we recommend posting technical questions on the technical [forum ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?category=windowsazureplatform&filt

[2019-04-26 18:27] #30061 closed

[2019-04-26 18:27] bryandam commented on #29753
Ahhh, ok, that's what you're talking about.  Yes, those are there.  In fact, there's two of them now.

However, those settings have to do with handling situations where the content is not available on a distribution point to prevent it from pulling data across WAN links.  So if the data is on the DP (let's say that not all servers are in Azure PM ... yet) it's going to install the updates.  Is tha

[2019-04-26 18:28] AjayKumar-MSFT commented on #29876
@JerryWang20, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-26 18:28] #29876 closed

[2019-04-26 18:30] MarileeTurscak-MSFT commented on #30168
@robertwood62
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-26 18:30] MicrosoftGuyJFlo commented on #30012
See the section linked below. It provides the information you are looking for.
https://docs.microsoft.com/azure/active-directory/authentication/howto-password-ban-bad-on-premises-monitor#dc-agent-admin-event-log

[2019-04-26 18:31] MicrosoftGuyJFlo commented on #30012
#please-close

[2019-04-26 18:31] #30179 closed

[2019-04-26 18:31] kobulloc-MSFT commented on #30179
@itanex Thank you for reaching out to us!  If you have any further questions, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-26 18:33] MicrosoftGuyJFlo commented on #29643
Already updated. #please-close

[2019-04-26 18:35] Karishma-Tiwari-MSFT commented on #29290
@Jeroen-H Is there an update on this issue?

[2019-04-26 18:37] Karishma-Tiwari-MSFT commented on #30181
@stgeorgi Can you please help confirm whether custom apps are supported or not? Thanks :)

[2019-04-26 18:37] TravisCragg-MSFT commented on #30161
@gcormier where exactly in the installation are you hitting the dependancy?

[2019-04-26 18:38] MicrosoftGuyJFlo commented on #29534
PR linked above created in the private repo for this. #please-close

[2019-04-26 18:46] bhalbright opened #30186 ""What are the username requirements when creating a VM" doesn't match rules in Azure portal when creating a VM"
The rules given here don't match the rules given in the portal when actually creating a Windows VM. For example, in the Azure Portal, it states the username can be between 1-32 characters, this doc says 20. Also the Azure Portal indicates special characters are not allowed, but this document only mentions ending with a period.

What are the password requirements when creating a VM? - password leng

[2019-04-26 18:48] Karishma-Tiwari-MSFT commented on #30182
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 18:49] MarileeTurscak-MSFT commented on #30168
Hi Robert, I got confirmation from the product team that it expires after 5 minutes. It is not configurable so it cannot be extended, but you can choose to disable the email verification system if you like. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-disable-ev

[2019-04-26 18:49] #30168 closed

[2019-04-26 18:50] msebolt commented on #7473
@Armcollector Document fixed per suggestion.

@MikeSpark Single quotes are escaped by another single quote, so try the expression @concat('SELECT * FROM ',pipeline().parameters.fileName,' WHERE SUBSTR(CREATEDATE,1,7) = ', '''' ,pipeline().parameters.sliceName, '''').

If there are any further issues please comment below.

[2019-04-26 18:50] #7473 closed

[2019-04-26 18:51] robertwood62 commented on #30168
Great.  Thanks for the information.

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: April 26, 2019 2:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: robertwood62 <robertwood62@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] When does the verification code expire (or does it). (#30168)

Hi Robert, I got confirmation fr

[2019-04-26 18:57] SaurabhSharma-MSFT commented on #30012
Thanks @MicrosoftGuyJFlo
@alicain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-26 18:57] #30012 closed

[2019-04-26 19:09] gcormier commented on #30161
Step 4 in **Set up the virtual machine environment**. Make fails and complains.

[2019-04-26 19:10] larryms commented on #20530
+1; now that this has been around for a number of months, is there a better way this can be described?

[2019-04-26 19:12] TravisCragg-MSFT commented on #30145
@Anmolgan81 Unfortunately I cannot give a guarantee of an exact month for this feature to be available.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-26 19:12] #30145 closed

[2019-04-26 19:13] TravisCragg-MSFT commented on #30153
@hmayer1980 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 19:20] MartinJaffer-MSFT commented on #29970
@tanujbhakre Could you verify which step in the process you encountered that error, please?

[2019-04-26 19:20] threesixfour opened #30187 "Please add error 7000218"
Getting this error: "AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'. There was a problem trying to create your credentials."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-

[2019-04-26 19:29] jmo808 commented on #24522
I *had* this working but it's not anymore, but my understanding is that the partitionKey option is the value of the particular partitionKey.

[code]

[2019-04-26 19:31] MarileeTurscak-MSFT commented on #29877
Hi @lightupdifire ,

It depends on what you are trying to do. Please email me at AzCommunity@microsoft.com and include your subscription ID so I can open up a one-time free support ticket for you. That way someone can look into your environment and best advise.

[2019-04-26 19:31] MarileeTurscak-MSFT commented on #29877
Closing this out for now and moving this to a support case.

[2019-04-26 19:31] #29877 closed

[2019-04-26 19:32] MartinJaffer-MSFT commented on #29970
I am stuck at "Run Kafka Connect" step 3.  Mine "Timed out waiting for a node assignment".

[2019-04-26 19:37] TravisCragg-MSFT commented on #30162
@sweetmoniker Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 19:40] Karishma-Tiwari-MSFT commented on #30186
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-26 19:46] TravisCragg-MSFT commented on #30161
@gcormier I was not able to repro this issue. My make completed with no issues. Here is my SKU:

[code]

When first logging into the fresh 1804 VM, it shows as having libelf1 installed by default.
libelf1/bionic,now 0.170-0.4 amd64 [installed,automatic]

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2019-04-26 19:46] #30161 closed

[2019-04-26 19:49] craigcaseyMSFT commented on #9424
It looks like this issue has been addressed or no longer exists. The topic referenced in this issue redirects now to a get started topic. Additionally, it appears most of the issues raised in this issue are covered at https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-prerequisites. As a result, I am closing this. Thanks!

[2019-04-26 19:49] #9424 closed

[2019-04-26 19:52] hrasheed-msft commented on #30068
@lucarv The product team has resolved the issue and I verified the fix on a new cluster. Could you also check and see that the issue has been resolved for you as well?

[2019-04-26 19:57] #17548 closed

[2019-04-26 19:58] schellem opened #30188 "Lacking Information"
Not a word about creating or configuring the Redis Cache

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0396b8e-0a20-6cca-68ea-f01d9021c5ef
* Version Independent ID: eb138ff5-0a81-1c3e-1f61-19dc35b8c91d
* Content: [Cache ASP.NET Session State Provider](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache

[2019-04-26 20:01] craigcaseyMSFT commented on #9432
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 20:01] #9432 closed

[2019-04-26 20:01] gcormier commented on #30161
Here is my image from Terraform
[code]

My steps in Ansible
[code]

[2019-04-26 20:02] AlissonRS commented on #18712
This guide is overly complex. We should be able to start testing locally without having to connect to an Azure Subscription using the Cloud Explorer. I tried to follow this guide, but I get an exception. I google the exception, find a fix, but then I get a different exception.

Nothing seems to make it work. It's pain really painful to follow these docs and start a boilerplate project.

[2019-04-26 20:10] TravisCragg-MSFT commented on #30161
@gcormier The current instructions are succeeding as-is, so I do not believe there is a need for an update.

If you would like to troubleshoot or follow up further on why your deployment is having this issue, your best bet is to open a support request. If you do not have a support plan, please let me know.

[2019-04-26 20:17] Zawad commented on #29562
It will only impact organizations that have trained their employees to sign in with a username that doesn’t exist in Azure Active Directory. For example, if Kelly at Contoso was trained to just type "user@contoso.com" in order to be redirected to the proper federated endpoint then in future, when this feature is rolled out to federated domains, they will be blocked.

[2019-04-26 20:21] tmarinov commented on #26026
Thank you for the update. Waiting for the application scenario.

[2019-04-26 20:22] bhalbright opened #30191 "What are the password requirements when creating a VM? - password length differs in Azure portal"
"Passwords must be 12 - 123 characters in length". In the Azure portal if you create a Windows VM manually, the UI enforces 12-72.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c615286cdcc5
* Content: [FAQ about Windows VMs in Azure

[2019-04-26 20:24] TravisCragg-MSFT commented on #30112
@michaelcohenmicrosoft Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 20:24] CelesteDG commented on #26026
@tmarinov - Thank you very much for your patience. We would love to hear your feedback about the new application scenario docs when they go live during Build week. We're always working to make improvements so your feedback is valuable. Have a great weekend.

[2019-04-26 20:32] msebolt commented on #8441
@MetehanBolat Thank you for the feedback.

@alexvy68 is correct in that the documentation highlights using Set-AzureRmVMExtension before Set-AzureRmVMCustomScriptExtension.  If you still need the latter, try using the Run and Argument parameters (with or without the SecureExecution flag) as a replacement.

Please add any further comments/questions below.

[2019-04-26 20:32] #8441 closed

[2019-04-26 20:47] vturecek commented on #21252
@seank-com it's explained a bit more later on in the section about turn-based concurrency. This line in particular: "no more than one thread can be active inside an actor object's code at any time.." Long-running I/O operations inside an actor method effectively means no one can access that actor instance until the I/O operation completes.

[2019-04-26 20:50] john-par commented on #9947
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 20:50] #9947 closed

[2019-04-26 20:50] willih commented on #28817
Ran into same issue.  Check this link https://github.com/Azure/azure-powershell/issues/8885

[2019-04-26 20:52] YutongTie-MSFT commented on #30175
@ConnorBehan
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-26 20:52] #30175 closed

[2019-04-26 20:53] vikramdadwal opened #30193 "What is size limitation for each key value ?"
What is size limitation for each key value ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview)
* Content

[2019-04-26 20:54] neilpeterson commented on #29900
Thanks @Karishma-Tiwari-MSFT . I am just returning to the office and only now seeing this. Appreciate you picking it up.

[2019-04-26 20:59] Karishma-Tiwari-MSFT commented on #30191
@bhalbright Since the feedback is on the same document, I will merge this thread with [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/30186) you opened before.

[2019-04-26 20:59] #30191 closed

[2019-04-26 21:00] TravisCragg-MSFT commented on #30193
@vikramdadwal Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:01] TravisCragg-MSFT commented on #30158
@bdschaap Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:04] TravisCragg-MSFT commented on #30163
@bdschaap Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:06] #30149 closed

[2019-04-26 21:06] BharathNimmala-MSFT commented on #30193
Assigning this to Product PM to clarify the query.

[2019-04-26 21:08] #30121 closed

[2019-04-26 21:08] kobulloc-MSFT commented on #30121
@itanex We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-26 21:09] TravisCragg-MSFT commented on #30164
@mirkkupet Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:10] TravisCragg-MSFT commented on #30166
@saifuddin123 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:11] TravisCragg-MSFT commented on #30167
@jnsunkersett Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:13] TravisCragg-MSFT commented on #30160
@hmayer1980 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-26 21:14] TravisCragg-MSFT commented on #30155
@Uasmi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:15] LizCasey commented on #21252
Closing this issue.

[2019-04-26 21:15] #21252 closed

[2019-04-26 21:16] SteveVoros opened #30195 "Microsoft.Insights/Components: Incorrect Aggregation Type"
Aggregation type has recently changed from `Total` to `Count` for the following `Microsoft.Insights/Components` metrics:
- `exceptions/browser`
- `exceptions/count`
- `exceptions/server`.

Provisioning of alert rules targeting the above metrics fail using Azure ARM template deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-04-26 21:17] TravisCragg-MSFT commented on #30174
@GregHainesTDC Thanks for the feedback! I have assigned the issue to the content author to evaluate this article and update as appropriate.

[2019-04-26 21:18] Mike-Ubezzi-MSFT commented on #29920
@ukiguy We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-26 21:18] #29920 closed

[2019-04-26 21:19] john-par commented on #10042
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 21:19] TravisCragg-MSFT commented on #30178
@taromielnaz you can attach a public IP to the NIC of the VM, or you can log in from a different machine inside the same VNET.

[2019-04-26 21:20] TravisCragg-MSFT commented on #30183
@PishPoshery Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:22] TravisCragg-MSFT commented on #30187
@threesixfour Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:23] #10042 closed

[2019-04-26 21:23] kgremban commented on #28187
Thanks for the additional details. No, I don't believe that feature exists in the Python SDK currently. @pierreca Is this something that you can confirm or clarify?

[2019-04-26 21:31] TravisCragg-MSFT commented on #30188
@schellem Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:32] Alberto-Vega-MSFT commented on #30166
@saifuddin123 You might want to read more on the Gateway pattern here https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway the gateway can provide the offline capabilities to it's child devices.

[2019-04-26 21:32] MarileeTurscak-MSFT commented on #30080
Hi @asudbring ,

This is good feedback! The best place to add this is in User Voice/Azure Feedback, where the product team can respond to you directly. https://feedback.azure.com/forums/34192--general-feedback

[2019-04-26 21:33] pgoldman5699 commented on #9518
@johnkemnetz

Hi John:

It looks like this article no longer exists? I've gotten tasked with looking at some of these older PRs and closing them out if possible. Is it ok to close this out?

Thanks,
Paul Goldman
Sr Technical Writer

[2019-04-26 21:33] MarileeTurscak-MSFT commented on #30080
Closing this out as User Voice is the appropriate forum for this.

[2019-04-26 21:33] #30080 closed

[2019-04-26 21:33] himanshusinha-msft commented on #29901
@bertrandpons  : Please do help us understand why you want this activity to fail silently ?. We are assuming you will have other activities which will be dependent on this and if the blob is not there , other activity will anyways fail  , You can use the "On Failure" option of the activity to redirect the flow to some dummy activity .

[2019-04-26 21:34] TravisCragg-MSFT commented on #30195
@SteveVoros Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-26 21:34] femsulu commented on #28679
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-26 21:34] #28679 closed

[2019-04-26 21:40] Adam-Smith-MSFT commented on #30167
@jnsunkersett Would it be possible to try a new nugget version? The latest is 9.3.3: https://www.nuget.org/packages/WindowsAzure.Storage/9.3.3

[2019-04-26 21:44] john-par commented on #10097
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-26 21:44] #10097 closed

[2019-04-26 21:47] chetansriv commented on #25392
@joshtransient This is complete now, please review

[2019-04-26 21:47] chetansriv commented on #25392
#please-close

[2019-04-26 21:48] chetansriv commented on #25572
@neeleshray This is update as requested. Please review

[2019-04-26 21:49] chetansriv commented on #25572
#please-close

[2019-04-26 21:50] icebrg commented on #28766
I too am wanting to know which claims are in the the 'core claim set' and which claims are in the 'basic claim set' for 2.0 (or confirmation they are identical to the ones in 1.0 documented above.

[2019-04-26 21:50] msmimart commented on #29880
Thanks so much for these insights. I’ve added this request as a documentation product backlog work item 702798 so we can track it internally and make the updates as soon as we can. #please-close

[2019-04-26 21:51] chetansriv commented on #28818
#please-close

[2019-04-26 21:52] icebrg commented on #28766
I am trying to figure out how to "Create claim types that do not already exist". Am I not understanding these docs or has that not yet been documented?

[2019-04-26 21:52] Grace-MacJones-MSFT commented on #29703
Hi @sarrah-hussain, after investigating it looks like you're using the[ v3 naming](https://docs.microsoft.com/en-us/azure/media-services/latest/streaming-endpoint-concept#naming-convention) convention and this documentation is referring to v2. So the format is correct for v2.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2019-04-26 21:52] #29703 closed

[2019-04-26 21:53] chetansriv commented on #29575
@RMStoica-zivver  tutorial updated per your request, please review

[2019-04-26 21:53] chetansriv commented on #29575
#please-close

[2019-04-26 21:53] himanshusinha-msft commented on #30066
@Kamyar5353 : Can you please review [this ](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime)article and let us know if that helps ?

[2019-04-26 21:54] femsulu commented on #30158
@bdschaap Thanks for your valuable feedback. Kindly share your [feedback directly ](https://feedback.azure.com/forums/906355-azure-key-vault) so the responsible engineering team can review and consider adding to a future iteration of the Key Vault service.

[2019-04-26 21:54] sowsan opened #30196 "any other options to create and configure the function proxy other than portal ?"
Any alternate options to create and configure the function proxy other than portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Work with proxies in Azure Functions](https://docs.microsoft.com/en-us/azure/

[2019-04-26 21:56] bdschaap commented on #30158
Will do

[2019-04-26 21:56] #30158 closed

[2019-04-26 21:58] pgoldman5699 commented on #9519
@sharonlo101

Hi Sharon:

I've been tasked with looking at issues older than 90 days. Is this ready to be updated? If the suggested change is correct, I can go ahead and make it myself.

Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-26 22:24] pgoldman5699 commented on #9554
@johnkemnetz

Hi John:

I've been tasked with looking at issues older than 90 days and closing them out if possible. Is this one ready to be closed?

Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-26 22:34] JorgeCupiV commented on #23300
Thanks for reaching out Norma, it's interesting that now the role appears. I forgot aobut about this issue and now that I read the email I went again to my storage account and the role appeared.
If you see at my screenshot the role appeared previously as a preview role. Guess that is fixed now, thanks anyway for reaching out.

Saludos,
Jorge Cupi
________________________________
From: Norm Estabro

[2019-04-26 22:39] toddjohnson39 opened #30197 "License Requirement"
If a users has two identities, say a standard account and an elevated account, does that user require two Azure AD Premium 1 licenses if both accounts need to be a part of a Dynamic Group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-55

[2019-04-26 22:48] icebrg opened #30198 "Is this relevant to version 2.0?"
I note that this page calls out "x5t" but in other areas of the documentation such as the access token reference (https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens) it says 'x5t' "Functions the same (in use and value) as kid. x5t is a legacy claim emitted only in v1.0 access tokens for compatibility purposes".

---
#### Document Details

⚠ *Do not edit

[2019-04-26 23:21] msebolt commented on #9508
This issue is now past 90 days and needs to be closed.  Thanks for the link provided per @cgillum.  Since this is listed as reading before the Bindings article, it should resolve any confusion as noted by @CKeene78.

Please comment below if there are any concerns.

[2019-04-26 23:21] #9508 closed

[2019-04-26 23:46] john-par commented on #9686
It looks like this issue no longer exists, so I am closing this. articles/log-analytics/log-analytics-service-fabric-azure-resource-manager.md is no longer in teh repo and the Content link above redirects to [Event analysis and visualization with Azure Monitor logs](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-analysis-oms) Thanks!

[2019-04-26 23:46] #9686 closed

[2019-04-26 23:56] femsulu commented on #30163
Good question @bdschaap. Checking internally to find out.
@rothja any idea who may be able to confirm if "Software Key All other transactions" limits includes (or excludes)"Software Key Create key"?

[2019-04-27 00:04] trichardson01-kellogg opened #30200 "Step #14"
NotificationHub hub; Namespace doesn't exit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Push notifications to Xamarin.Android apps using Azure Notification Hubs](https://docs.microsoft.com/en-us/azure/noti

[2019-04-27 00:08] wickste opened #30201 "Step #5 is obsolete. There is no "OK" button on that page."
Please remove step #5 as there is no "OK" button on that page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ac0e5c-b8d2-09e8-2eeb-fa517e1d067b
* Version Independent ID: a34c96e5-1726-c194-e57f-6ff54e033c6a
* Content: [Enable Azure Security Center for IoT service in IoT Hub Preview](https://docs.microsoft.com/en-us/

[2019-04-27 00:08] femsulu commented on #30195
@anirudhcavale per update above, looks like we may need to update the content.

[2019-04-27 00:12] VedAustin opened #30202 "Python "func new""
Hello,

I am using Mac OS and have installed all the necessary software as required in the previous step of the documentation. My python version is 3.6.5. When I do this:
`$ func new`
I get this:
[code]

Any idea why?

Also I do not get the output as per this documentation:
[code]

Instead I only get this when I try `func init MyFunctionProj`:
[code]

---
#### Document Details

⚠ *Do not edit this

[2019-04-27 00:31] femsulu commented on #30183
@PishPoshery thanks again for catching this. A PR has been initiated to fix the error. The fix will be live in 24-48 hours. we will now close this request but don't hesitate to ping if you have any questions.

[2019-04-27 00:31] #30183 closed

[2019-04-27 00:36] Alberto-Vega-MSFT commented on #30201
@wickste Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-27 00:37] Laggsy opened #30203 "Unable to publish sharing service in Visual Studio"
I'm relatively new when it comes to VS. I've opened the sharing service project, built it, then right clicked it and clicked publish. The only option I have available to me is to publish to folder. When I try to create a new publish target, there aren't any options other than folder.
How do I publish to an 'App service'?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-27 01:20] Laggsy commented on #30203
Please close this, it was my mistake

[2019-04-27 01:46] AshokPeddakotla-MSFT commented on #30038
@smithGit You are Welcome!

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-27 01:46] #30038 closed

[2019-04-27 02:49] saifuddin123 commented on #30166
@Alberto-Vega-MSFT Thanks! I had gone thru this link and also created transparent gateway. I need clarity on "adding child devices to gateway device in the portal". As part of the steps to create transparent gateway, I didn't come across adding downstream device as child device.

so my question still the same. Is transparent gateway setup prerequisite to use offline capabilities?
if yes, transpare

[2019-04-27 02:57] mike-urnun-msft commented on #30202
Hi @VedAustin Thank you for your feedback! Could you provide the URL of the documentation that this feedback is applicable to?

[2019-04-27 02:58] mike-urnun-msft commented on #30196
Hi @sowsan Thank you for your feedback! We will review and update as appropriate.

[2019-04-27 04:31] AjayKumar-MSFT commented on #30197
@toddjohnson39, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-27 04:35] AjayKumar-MSFT commented on #30198
@icebrg, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-04-27 05:02] AjayKumar-MSFT commented on #30203
@Laggsy, Thanks for leveraging Azure docs feedback channel to raise this question and sharing the update.
We will close this out, if you need assistance with any specific Azure docs you could directly open a feedback thread within the doc, we would be more than happy to assist you further.

[2019-04-27 05:02] #30203 closed

[2019-04-27 05:50] MCFHTAGENTS opened #30209 "A few missing steps"
Hi there, when you uninstall it leaves behind 'Data' and 'MaData' in the install directory and these should be deleted (I assume...)
Also, should consider the scenario when you want SSO or a subset of the directory synchronised and hence an Express installation is not, on the face of it, sufficient

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-04-27 06:54] AjayKumar-MSFT commented on #30200
@trichardson01-kellogg, Thanks for posting the question! Kindly ensure that the namespace is unique and was created successfully.

[2019-04-27 06:54] m-raman commented on #29632
@Karishma-Tiwari-MSFT The issue was resolved. There is a gap in the instructions. The instructions do not state that there is a need for AKS Service Principal to be an "Owner" on the subnet in which you are trying to install the load balancer. In the example, the Service Principal needs to be an owner on the subnet "apps-subnet".

[2019-04-27 07:03] AjayKumar-MSFT commented on #30209
@MCFHTAGENTS, Thanks for the feedback! We're taking a look into this and will get back to you soon.

[2019-04-27 07:11] avfc1982 opened #30210 "Prevent Triggers overlapping"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-27 07:14] avfc1982 commented on #30210
How do you prevent a trigger from starting if there is trigger still running?

[2019-04-27 07:21] AjayKumar-MSFT commented on #30148
@Saugat168, Thanks for leveraging Azure docs feedback channel to raise this question and sharing the update. Glad to know that you have figured out the issue.  Kindly do let us know if you need further assistance and provide the URL of the documentation that this feedback is applicable to.

[2019-04-27 07:37] AjayKumar-MSFT commented on #20530
@larryms, Thanks for sharing your feedback! @ccompy, Requesting your insights on this ask.

[2019-04-27 07:41] AjayKumar-MSFT commented on #30210
@avfc1982, Thanks for leveraging Azure docs feedback channel to raise this question! Could you please share the document that this feedback is applicable to?

[2019-04-27 07:53] ggailey777 commented on #29906
@AlainPilon we appreciate your passion for Python, but without the remaining steps you won't have a Python function running in Azure. Thanks to the strong tooling for Functions, our quickstart articles are definitely not "code intensive." Having said that, we are finishing up on some improvements to the Python quickstarts.

[2019-04-27 07:59] ggailey777 commented on #27921
@StingyJack would this be sufficiently generic (i.e. not off-putting to either Win/PowerShell users or Mac/Bash users?

[code]

[2019-04-27 08:01] Mark7even commented on #30033
Also for low-risk events it only says Sign-ins from infected devices? Is that seriously the only low risk event Azure AD can detect? Seems really limited. Maybe documentation is just out of date?

[2019-04-27 08:35] brandonavant commented on #9187
So, I eventually figured it out. You need to use this format: {tenant}.b2clogin.com. As far as I understand, it should auto-fill with that value, but it doesn't. There appears to be a bug in that page.

[2019-04-27 09:11] yelu commented on #10953
So where is the documentation?

[2019-04-27 09:26] AjayKumar-MSFT commented on #29880
@crmhh, We will close this out, but if you feel you need more information please just let us know. @msmimart, Thank you for the update.

[2019-04-27 09:26] #29880 closed

[2019-04-27 09:37] AjayKumar-MSFT commented on #29654
@ShBansal22, Thanks for the update! Since this channel is reserved for Azure docs questions, could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter.
Since we will work with you offline, we will now proceed to close this thread.

[2019-04-27 09:37] #29654 closed

[2019-04-27 09:45] avfc1982 commented on #30210
It’s for any pipeline created, when there is Trigger applied to it and let says it is scheduled to run every 10 minutes but one of the pipeline runs takes longer that 10 minutes it will automatically trigger off another run. You would not have this issue for a scheduled SQL Job as it knows there is already a schedule running.

[2019-04-27 11:18] jformacek opened #30211 "Error codes seen in O365 Management API, stream Audit.AzureActiveDirectory are missing"
Hello,
AAD audit stream contains the following error codes that are not documented here:
- None: Probably just success event
- FaultDomainRedirect
- UserAccountDeleted
- DeviceNotCompliantDeviceManagementRequired

All of those appear with operation 'UserLoggedIn', which is interesting for 'UserAccountDeleted' error - so apart from error description, I'm also interested in description of those erro

[2019-04-27 11:20] mganeshphani commented on #9554
Yes.. looks like by design..

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Paul Goldman <notifications@github.com>
Sent: Friday, April 26, 2019 5:25:16 PM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Phani Kumar Majeti; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Information on how to capture create actions or Update action (#9554)

@johnkemnetz<https://git

[2019-04-27 12:41] agnimitra opened #30212 "Can we create a Subscription Key with Custom PrimaryKey & SecondaryKey"
Hi Guys,

I am migrating my APIM to different APIM Management Service inside azure only, and will slowly depricate the older one.

I do have Hostname attached to the api end point point.

What I want is, to create the same set of user and their subscription key (with the same values) in the new service. And as a last step just remove the DNS configuration from old and add the same to new.

And the

[2019-04-27 12:57] gcormier commented on #30161
I'll repro it and post the logs here FYI but I will open a support request.

On Fri, Apr 26, 2019 at 4:10 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-04-27 13:19] ShirleyWangMSFT commented on #29770
Hi @navinchristen Thank you for reporting the issue with Xero connector.  We are working on upgrading the driver which will hopefully address the issue you are experiencing.  We don't have an ETA at the moment, but we will keep you updated on the progress!

[2019-04-27 14:41] CJKay commented on #28882
+1 on this error.

[2019-04-27 15:32] ksaye opened #30213 "no 'classify_image' and error: msrest.exceptions.HttpOperationError: Operation returned an invalid status code 'Request-URI Too Long'"
Trying to run the code, I think the SDK has changed and I am getting the error "Request-URI Too Long".

Python 3.6.6 on Windows 10
azure.cognitiveservices.vision.customvision.prediction version 2.0

when you run dir(CustomVisionPredictionClient), you see the following:
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getat

[2019-04-27 15:56] amjad-Alhusseini opened #30214 "Minor typo"
On "How Billing Works" section, just fix Aure to become Azure. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f26025-af57-17c6-0b51-b64d46b450fe
* Version Independent ID: d60c32f2-f86e-7773-db4b-8f59dbcabf5d
* Content: [Choose a pricing tier or SKU for Azure Search service - Azure Search](https://docs.microsof

[2019-04-27 16:02] christiankuhtz commented on #29463
btw, use Service Point Manager to control number of connections and reuse.  3K concurrent connections just to upload logs seems unnecessarily high.

[2019-04-27 17:35] anilmurty commented on #30010
Ran into the same thing. Here is my PR for the edit: https://github.com/MicrosoftDocs/azure-docs/pull/30217

[2019-04-27 17:40] wpitallo opened #30218 "Request rate is large"
Hi after I create a small graph about 200 vertices and I run the command: "g.V().drop()" I get the following exception: "Request rate is large". I get how the throughput works but surly if you are dropping an entire database this should not apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-a

[2019-04-27 18:10] Tom-Wells-NW opened #30219 "When will ARM be support Microsoft.CognitiveServices.Speech on UWP?"
The documentation note(s) indicate that ARM is not supported for UWP applications. When will ARM be support `Microsoft.CognitiveServices.Speech` on UWP?

[...snip...]
 Note
The Speech SDK only supports Intel-compatible processors. ARM is currently not supported.
[...snip...]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-04-27 18:42] stevejmorgan commented on #29395
Hi I've had it confirmed that some of the contents on this page do not apply to SQL DB Managed Instance - specifically Manged Instance does not support Zone Redundancy. The page needs clarifying on this point.

[2019-04-27 18:45] AjayKumar-MSFT commented on #30211
@jformacek, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-04-27 18:48] AjayKumar-MSFT commented on #30212
@agnimitra, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-27 18:52] AjayKumar-MSFT commented on #30213
@ksaye, Thanks for the feedback! We are investigating and will update you shortly.

[2019-04-27 18:54] AjayKumar-MSFT commented on #30218
@wpitallo, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-27 18:57] jformacek commented on #30211
Addiing few more undocumented errors seen with UserLoginFailed operation:
- OnPremisePasswordValidationAuthenticationAgentTimeout
- InvalidGrantDeviceNotFound
- InvalidSamlTokenNoTrustedRealmFromIdentifier
- UnauthorizedClientDoesNotMatchRequest
- UnsupportedResponseTypeImplicitFlowAccessTokenNotAllowed
- InvalidReplyToInvalidScheme

[2019-04-27 18:57] AjayKumar-MSFT commented on #30219
@Tom-Wells-NW, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-04-27 19:00] artisticcheese commented on #23026
Why is this closed? Issue is not fixed. My understanding issue is closed when it's fixed.

[2019-04-27 19:02] #27797 closed

[2019-04-27 19:04] #12657 closed

[2019-04-27 19:08] AjayKumar-MSFT commented on #30214
@amjad-Alhusseini, Thanks for bringing this to our attention.We have updated the doc accordingly.
The changes should be live EOD or tomorrow.

[2019-04-27 19:13] artisticcheese commented on #29875
Those are called "Data Path Availability" and "Health Probe Status".

[2019-04-27 19:41] seank842 opened #30221 "What is the scope of each 'confidence' value? and should confidence be a real number between 0-1?"
In the GET Operation Status, 'confidence' is returned in "High", "Normal" or "Low".

What is the boundary of each of these 'confidence' values, on a scale between 0-1 in real numbers.

Say is "High" to be considered 0.8+ or should be it be considered more like 0.9+?

I think, and I have seen atleast one other case sugesting this aswell, that having either a confidence value returned in 0-1 real nu

[2019-04-27 20:09] areddish commented on #30213
@ksaye It looks like there’s an older version of the python package installed. You will need to upgrade to the latest version to use classify_image.

If you are installing via pip then:

pip install —upgrade azure-cognitiveservices-vision-customvision

[2019-04-27 20:13] wpitallo opened #30222 "Documentation"
Hi, where can we get the correct api documentation to use for gremlin. I am looking at an example here: https://tinkerpop.apache.org/docs/current/reference/#order-step to see how to order results. In the docs it says to use: .order().by(desc) note the desc. However the example on this page says: .order().by('firstName', decr) -- note decr. This one works but where is are the api docs that specify

[2019-04-27 20:35] Broceps opened #30223 "How to get the size info of a directory in a Azure fileshare"
Is it possible to get the size information of a directory in an Azure file share, preferably through code (Java). Or at least some way around, like iterating through the files of an directory?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836fd4cd-0afb-4c93-c2cc-57a6d50e7315
* Version Independent ID: 3a1420f8-4

[2019-04-27 21:25] mkalkere opened #30224 "Duplicate Text - limited number limited number"
ITSM - You may have a limited number limited number of ITSM actions in an Action Group. ITSM Action requires an ITSM Connection. Learn how to create an ITSM Connection.

Words, limited number limited number is repeated in the above paragraph.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db395a71-30bf-881a-05cc-4340fb

[2019-04-27 21:26] TurtleBeach opened #30225 "Powershell Scripts Are Not Correct"
At the beginning of this tutorial series, you should make clear that to use Azure Container capabilities Powershell likely must be updated on Windows (10 Pro) machines. In any case, make clear ALL the tools required. Why is Linux the default tutorial? Doesn't MS want Windows containers used on Azure??

Creation of SecurityPrincipal in Powershell script is flat out wrong.
$sp = New-AzADServicePrinc

[2019-04-27 21:46] TravisCragg-MSFT commented on #23026
@artisticcheese to help reduce clutter, some feedback items will be closed once the doc author has received the feedback, and a work item has been created to make the fix at a later date.

[2019-04-27 21:47] TravisCragg-MSFT commented on #30221
@seank842 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-27 21:48] TravisCragg-MSFT commented on #30222
@wpitallo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-27 21:55] TravisCragg-MSFT commented on #30223
@Broceps Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-27 21:58] TravisCragg-MSFT commented on #30224
@mkalkere Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-27 21:58] TravisCragg-MSFT commented on #30225
@TurtleBeach Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-27 22:59] stgeorgi commented on #30181
Hello,

If the app does not appear in the Get-RDsStartMenuApp it can be published via the full path like
$remoteapp1 = "Word Pad - Plain"
New-RdsRemoteApp $tenant1 $pool1 $appgroup1 -Name $remoteapp1 -FriendlyName $remoteapp1 -FilePath "C:\Program Files\Windows NT\Accessories\wordpad.exe" -IconPath "C:\Program Files\Windows NT\Accessories\wordpad.exe" -IconIndex 0

Regards

[2019-04-28 00:21] tastyeggs commented on #7799
@MarkMcGee1 I don't see the documentation updated with this information. Did I miss something?

[2019-04-28 00:22] christiankuhtz opened #30227 "same rg only"
these instructions assume that the to be peered vnets are in the same rg.  should be called out. what happens when the vnets are in different rg's? how do you specify this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54cb7c55-7e74-c037-21ba-51e71ee3b9fa
* Version Independent ID: a7593c8b-91d9-f302-c08a-a758efb681aa

[2019-04-28 00:27] christiankuhtz commented on #30227
if you specify the full resource id of the vnets (in their respective rg's), the command fails.

[2019-04-28 00:32] StingyJack commented on #27921
@ggailey777 - sure, it's also not _immediately_ confusing which was the primary problem.

[2019-04-28 00:49] trichardson01-kellogg commented on #30200
AjayKumar. I was able to correct the issue. I had NotificationsHub instead of NotificationHub. Thanks!

[2019-04-28 01:06] trichardson01-kellogg opened #30228 "Xamarin.iOS"
Will this same approach using Firebase also work with Xamarin.iOS? Try to avoid using APNs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Push notifications to Xamarin.Android apps using Azure Notification H

[2019-04-28 01:27] mkalkere opened #30229 "Update Management - Missing link or '[' not required?"
3. Supported Log Analytics Solutions is installed: Log Analytics solution should be configured and sending data into Log Analytics workspace - supported solutions are Performance counters for Windows & Linux, Heartbeat records for Agent Health, [Update management, and Event data.

Additional Info:
-----------------
In Prerequisites for Metric Alert for Logs section, Link is missing for _Update Man

[2019-04-28 02:12] VedAustin commented on #30202
Hi @mike-urnun-msft . The documentation link is: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

[2019-04-28 03:15] liydu commented on #30010
Thanks @anilmurty for the PR. Will merge it soon.

[2019-04-28 03:28] AjayKumar-MSFT commented on #30227
@christiankuhtz, Thanks for the feedback!  We are taking a look into this and will get back to you soon.

[2019-04-28 03:55] AjayKumar-MSFT commented on #30228
@trichardson01-kellogg, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-04-28 03:58] AjayKumar-MSFT commented on #30200
@trichardson01-kellogg, Glad to know that the issue was sorted out. Thanks for the update.
We will close this out, but if you feel you need more information please just let us know.

[2019-04-28 03:58] #30200 closed

[2019-04-28 04:30] AjayKumar-MSFT commented on #30229
@mkalkere, Thanks for bringing this to our attention. We have updated the doc accordingly.
The changes should be live EOD or tomorrow.

[2019-04-28 04:36] hfcheng66 opened #30230 "windows server?"
Is there any example that create a windows server VM cluster with load balancer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6a7a232-6e5d-ae1d-3b57-71fb75740fb4
* Version Independent ID: 1573ac54-ab15-2649-cccd-2dd64c640fc1
* Content: [Create a VM cluster with Terraform and HCL](https://docs.microsoft.com/en-us/azu

[2019-04-28 07:25] Anmolgan81 commented on #30145
Can you even tell me the month in which this will br available?

Regards
Anmol Ganju

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Saturday, April 27, 2019 12:47:28 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] When Will Azure Managed Instance be available for Azure Goverment (#30145)

@Anmolgan81<https:

[2019-04-28 08:08] djhmateer opened #30231 "WebJob not stopping nor updating to newer version of code"
When I publish a new version of the code I noticed the WebJob was still running the older version.

Interestingly when I stopped the WebJob it still continued processing messages off the queue. This looked like this behaviour: https://stackoverflow.com/questions/40660836/azure-webjob-does-not-stop-keeps-working-after-stopping-has-been-requested

I found that writing to the web.config (turning off

[2019-04-28 08:42] hmayer1980 opened #30232 ""weekDays": : [<<Monday-Sunday>>],"
Should probably be

"weekDays": [&lt;&lt;Monday-Sunday&gt;&gt;],

only one double dot (:)
Should also indicate that it is an Array of Strings  (weekdays are not known objects)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89177180-caeb-e2e1-5614-60719f593672
* Version Independent ID: a3352be5-2343-ae87-38d0-32312a62d2

[2019-04-28 09:48] hmayer1980 commented on #25476
I am also stuck at the topic about the Arrays and Parameter Names...
It definitely needs some more clarification... I do not think much text needs to help a lot, because its very abstract.
Samples are needed...

Maybe  A sample could be  a Schedule Trigger (https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger#azure-resource-manager-template) with an Array of Hours...

[2019-04-28 09:54] swildermann commented on #26270
I am working through this tutorial and get the same error:
https://docs.microsoft.com/de-de/azure/machine-learning/service/tutorial-auto-train-models

[2019-04-28 10:54] navinchristen commented on #29770
Thanks @ShirleyWangMSFT . We are also looking for alternative methods to access the Xero tables to pull data. Could you please share the API endpoints for accessing the individual tables directly? Endpoints provided in Xero documentation provides all columns combined for Invoice as HTTP response whereas the Az Xero connector provides the tables separately, which helps.

[2019-04-28 11:59] tanujbhakre commented on #29970
I am also stuck at step 3 of "Run Kafka Connect".

[2019-04-28 12:08] AjayKumar-MSFT commented on #30230
@hfcheng66, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-28 12:10] AjayKumar-MSFT commented on #30232
@hmayer1980, Thanks for the feedback! We are investigating and will update you shortly.

[2019-04-28 12:59] AjayKumar-MSFT commented on #30231
@djhmateer, Thanks for leveraging Azure docs feedback channel to raise this question.
Just to confirm, is it a triggered or continuous WebJob? Does your job run for longer than the default 2 minute idle timeout, kindly take a look at the Configuration Settings WEBJOBS_IDLE_TIMEOUT and Console.Out and Console.Error logs to fetch more details on the issue. Refer this document
https://github.com/proj

[2019-04-28 13:09] Phydeauxman opened #30233 "ASE Dependency Traffic"
How is the ASE Inbound/Outbound dependency (management) traffic handled in this architecture?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4042df-d0e7-ea2e-c182-0fc24e0da00c
* Version Independent ID: a2da541c-0787-0f8a-19f7-efe4725c1963
* Content: [Secure Azure Computing Architecture](https://docs.microsoft.com/en-

[2019-04-28 13:38] wpitallo opened #30234 "Query performance slow when ordering"
Hi, I hope that someone could please help me. I have setup a simple test to test query performance for a basic social network.  I have included the code below. Basically what I do is create 30000 vertices and then create 20000 edges on one of the vertices.

 When I run the following query results are returned quickly: g.V().hasId('partition1').out('friendsWith').valueMap('name', 'profilePicture').

[2019-04-28 13:54] wpitallo commented on #30218
Thanks, I have another question as well, I have set the throughput to 5000 RU, however when I run a query that run very quickly I get the following:

![image](https://user-images.githubusercontent.com/12214559/56865413-dab4b980-69cd-11e9-832b-9eda8a298e5f.png)

What is this value supposed to represent and why is it so high?

[2019-04-28 14:07] fhurta opened #30235 "No information on effect to WebJobs here"
As WebJobs run in the context of AppService it would make sense it inherits the managed identity of the AppService. However it does not seem so. Is there any other switch for WebJobs to allow them use the identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent

[2019-04-28 15:08] AjayKumar-MSFT commented on #30234
@wpitallo, Thanks for leveraging Azure docs feedback channel to raise this question! Could you please share the document that this feedback is applicable to?

[2019-04-28 16:19] wpitallo commented on #30234
Sure its: https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet

[2019-04-28 16:21] wpitallo commented on #30234
Thanks, I have another question as well, I have set the throughput to 5000 RU, however when I run a query that run very quickly I get the following:

![image](https://user-images.githubusercontent.com/12214559/56867157-620c2800-69e2-11e9-8e79-e333ce7acaf0.png)

What is this value supposed to represent and why is it so high?

[2019-04-28 16:24] wpitallo commented on #30234
Also when I try to run a simple query: g.V().hasId('partition1').out('friendsWith').hasId('partition20001') I get "Request rate is large" even though this is such a simple query. Even more concerning is when I increase the throughput to 5000 RU's I do get a result back but its really slow, takes about 5-6 seconds for what should be a really simple query.

[2019-04-28 17:52] HeidiSteen commented on #29916
@jfcomst sorry the response is taking a while. It's on my radar on a I hope to have a definitive answer for you in the next 2 business days. The issue is that there is some level of support but I am not clear yet as to whether its a fit for your scenario specifically.

[2019-04-28 17:58] Anmolgan81 commented on #30145
@TravisCragg-MSFT Who will be the best person that can at least provide me some information here?

[2019-04-28 18:46] AmanGarg-MSFT commented on #30140
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-28 18:46] #30140 closed

[2019-04-28 18:52] msrini-MSFT commented on #29853
@cogran , You can still use AS Path Prepending which needs to be done from On_premises end.

[2019-04-28 19:08] nacient opened #30240 "Request for Sample Policies on Idp-Init Flow"
Can we please get a full set of sample policies for the Idp-Init flow described in this documentation, or at least the full fledged TechnicalProfile + UserJourney + RP metadata with all steps required for the Idp-Initiated flow described here to work?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5330b0b2-

[2019-04-28 19:20] nacient opened #30241 "Idp-Init Sample"
I second the original request from ggetty from last year. Can you please add an IDP initiated sample to this documentation?  It would be really helpful.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 821b1380-1072-7ab4-b8d7-0fcb993d68be
* Version Independent ID: 93c75bbd-e3e3-67c2-3554-e88fde4e83b3
* Conten

[2019-04-28 19:38] TravisCragg-MSFT commented on #30235
@fhurta Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-28 19:45] davidxcheng opened #30242 "Clarify that either MessageId or PartitionKey is required"
Consider adding information about either `MessageId` or `PartitionKey` being required for a message when "Duplicate detection" is enabled. At least this error message implies that such is the case:

It's a really nice error message :+1: and it would be nice to find this information in the docs too.

I don't know if this behavior is configurable but in my case an exception is thrown by `Microsoft.A

[2019-04-28 20:28] blueelvis opened #30243 "Are there any limitations for Run-From-Package?"
This document does not tell anything about the limitations of the Run-From-Package deployment method. For example, what is the maximum size of the ZIP file which is supported? Any other limitations we should be aware of?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version Indep

[2019-04-28 21:21] mkalkere opened #30245 "How is total Daily node count calculated for below case?"
4 applications whose Applications Insights resources are in the same subscription; each application running 2 instances during 16 off-peak hours, and 4 instances during 8 peak hours	13.33

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3-27703a171b3a
* Version Independent ID: 0e2ed122-08c3-fae2-3b7

[2019-04-28 21:26] cogran commented on #29853
Is that mentioned in the Optimized Routing or FAQ as a reference for supportability? Or is that expected to just be known. It’s not one of the scenarios mentioned and where Express Route documentation tends to be fairly explicit, it would imply that it is not supported.

Corey Grant
Support Engineer | Microsoft Azure Networking
+1 (701) 281-3354 | corey.grant@microsoft.com <mailto:corey.grant@micr

[2019-04-28 21:56] aderesh opened #30246 "I can create a Premium namespace with 8 messaging units"
But the article says "...ou can purchase 1, 2, or 4 messaging units for each Service Bus Premium namespace."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f1ade8-3b10-e8d4-370d-62c26b3b200a
* Version Independent ID: 826e8bf0-1eee-6595-5da2-d5c10518ad19
* Content: [Azure Service Bus Premium and Standard Messaging pri

[2019-04-28 22:29] cveld opened #30248 "Why is the Azure subscription restricted?"
The page states the following requirement:

* The Azure subscription containing the data factory and the sink data store must be under the same Azure Active Directory (Azure AD) tenant as Office 365 tenant.

Is this only a temporary design decision during the public preview, or is it final?
I am currently exploring the capabilities and have provisioned a demo Office 365 tenant. Ideally I would lik

[2019-04-28 22:34] mkalkere opened #30249 "Opening bracket([) missing for hyperlink - Azure Monitor](usage-estimated-costs.md#moving-to-the-new-pricing-model)"
In the below section opening bracket([) is missing for hyperlink Azure Monitor.

If you want to move your workspace into the current pricing tier, you need to change your subscription's monitoring pricing model in **_Azure Monitor]_**(usage-estimated-costs.md#moving-to-the-new-pricing-model) which will change the pricing tier of all workspaces in that subscription.

---
#### Document details

⚠ *D

[2019-04-29 00:30] ggailey777 commented on #30202
What version of Core Tools are you using? It must be at least 2.6.1071 (we have a fix in for the docs).

[2019-04-29 00:37] tdihp opened #30251 "HPA CPU requests notes could be more clearer"
The HPA note:

&gt; To use the autoscaler, your pods must have CPU requests and limits defined.

Can get clearer by specifying all *containers*, to avoid confusion for audience who's trying to create HPA with this article.

In [Kubernetes doc](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/):

&gt; Please note that if some of the pod’s containers do not have the relevant

[2019-04-29 00:40] kobulloc-MSFT commented on #30245
@mkalkere Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-04-29 00:59] ggailey777 commented on #30202
@VedAustin you can also remove the bundles extensions stuff that you added to host.json. In this case, you would need to register any bindings manually. Probably easier just to upgrade to 2.6.1071, which I have confirmed fixes this issue. Sorry for the inconvenience.

[2019-04-29 01:35] kobulloc-MSFT commented on #30245
@mkalkere Per-node charges are part of the legacy Enterprise pricing plan (prior to April, 2018):

https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#legacy-enterprise-pricing-plan

Information on the new, "pay-as-you-go" pricing model can be found here:

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/usage-estimated-costs

We are unable to answer specific billing rela

[2019-04-29 01:35] #30245 closed

[2019-04-29 01:49] SumanthMarigowda-MSFT commented on #30233
@Phydeauxman Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 01:51] SumanthMarigowda-MSFT commented on #30241
@nacient Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 01:55] SumanthMarigowda-MSFT commented on #30242
@davidxcheng Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 02:00] SumanthMarigowda-MSFT commented on #30243
@blueelvis Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 02:03] SumanthMarigowda-MSFT commented on #30246
@aderesh Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 02:05] SumanthMarigowda-MSFT commented on #30248
@cveld Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 02:08] SumanthMarigowda-MSFT commented on #30249
@mkalkere  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-29 02:11] SumanthMarigowda-MSFT commented on #30251
@tdihp Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 02:26] visuazn commented on #27079
Hi,
When i try with opencv to read an image its hard to get the image name as title. any solution to get title name?
for example i want something like this.,
image1 classified as Tall Trees

[2019-04-29 03:01] visuazn commented on #30154
The error is fixed. I haven't properly converted image to color.

[2019-04-29 03:19] ggailey777 commented on #30243
@ColbyTresness in case you are adding any of this info to the Run from package article.

[2019-04-29 04:06] RoopAnymous opened #30253 "Databricks cluster with Preconfigured libraries when launched through Data Factory or Job scheduler always fails"
I configured Databricks notebook is run through Azure Data Factory and also Databricks Job scheduler. My cluster is reconfigured with multiple libraries which are installed when cluster is getting prepared.
When cluster is launched manually and notebook is run, it waits untill all libraries are installed.
However through DataFactory pipelines or Databricks job, it fails and it is observed that clu

[2019-04-29 04:25] ManojReddy-MSFT commented on #30035
@colinweiner I have submitted the change and it will be updated shortly.

[2019-04-29 04:25] #30035 closed

[2019-04-29 04:30] CHEEKATLAPRADEEP-MSFT commented on #30122
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-29 04:30] #30122 closed

[2019-04-29 04:32] kudlatiger commented on #29863
Please reopen this issue

[2019-04-29 04:38] jakaruna-MSFT commented on #29780
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-29 04:38] #29780 closed

[2019-04-29 04:46] mike-urnun-msft commented on #30162
@sweetmoniker Could you let us know how you were attempting to create your Python function? Were you using VS, Portal, or Azure CLI perhaps?

[2019-04-29 04:48] SumanthMarigowda-MSFT commented on #29833
@tonio-lora Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-29 04:48] #29833 closed

[2019-04-29 04:49] VikasPullagura-MSFT commented on #30036
@KeiroKamioka0000 Is there any update.

[2019-04-29 04:51] ajeeth-kumar-r commented on #17865
1) The flow suggested for SPA here looks like OpenID Connect (since id_token is mentioned). However, in https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc, it is not specified that OpenID Connect is recommended for SPA. Furthermore in https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow, the example is for AngularJS. Therefore

[2019-04-29 04:59] SumanthMarigowda-MSFT commented on #29990
@bertrandpons Refer to the suggestions outlined in this [article](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app). If the issue still persist, I would request you please contact us through [Azure Community support](https://azure.microsoft.com/en-in/support/community/)
We will now proceed to close this thread.

[2019-04-29 04:59] #29990 closed

[2019-04-29 05:08] AshokPeddakotla-MSFT commented on #29966
@javkhalidskipton Did you get a chance to see the above response? Do let us know if you still facing the issue.

[2019-04-29 05:15] djhmateer commented on #30231
@AjayKumar-MSFT thanks for the reply

I'm using the first triggered sample function in this article with the most current versions of the nuget packages on .NET Core 2.2.

public static void ProcessQueueMessage([QueueTrigger("queue")] string message, ILogger logger)
{
    logger.LogInformation("DAVEB " + message);
}

I've put the demo project here: https://github.com/djhmateer/WebJobDemo

When I d

[2019-04-29 05:17] KetanChawda-MSFT commented on #30157
@meixger The [PR#75172](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75172) will update the document with changes.

[2019-04-29 05:17] #30157 closed

[2019-04-29 05:19] KetanChawda-MSFT commented on #30246
@aderesh The [PR#75174](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75174) will update the document with changes.

[2019-04-29 05:21] #30246 closed

[2019-04-29 05:23] CHEEKATLAPRADEEP-MSFT commented on #30068
@lucarv Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-29 05:23] #30068 closed

[2019-04-29 05:26] CHEEKATLAPRADEEP-MSFT commented on #30232
@hmayer1980 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/75175](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75175).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2019-04-29 05:26] #30232 closed

[2019-04-29 05:29] CHEEKATLAPRADEEP-MSFT commented on #18461
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-29 05:29] #18461 closed

[2019-04-29 05:45] CHEEKATLAPRADEEP-MSFT commented on #30253
@RoopAnymous Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audien

[2019-04-29 05:45] shashishailaj commented on #30240
@nacient Thank you for your feedback . We will investigate and update this thread further.

[2019-04-29 05:49] shashishailaj commented on #30142
@holwech Thank you for sharing this with the community . We will have this looked into and added to the documentation.

[2019-04-29 05:49] jakaruna-MSFT commented on #30251
@tdihp Thanks for the feedback.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zr-msft Please take a look at this issue and update the doc as required.

[2019-04-29 05:57] DavidBerg-MSFT commented on #27979
FYI - Update was just posted.

[2019-04-29 05:57] DavidBerg-MSFT commented on #30022
Just published numbers for Dv3 (and a few others...)

[2019-04-29 06:05] SubhashVasarapu-MSFT commented on #29463
@russ138 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-29 06:05] #29463 closed

[2019-04-29 06:08] PramodValavala-MSFT commented on #30060
@PingPongSet Hope my previous comment helps.

We will assign this issue to the content author to review and add this information to the docs as required.

[2019-04-29 06:15] CHEEKATLAPRADEEP-MSFT commented on #29901
@bertrandpons Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-29 06:15] #29901 closed

[2019-04-29 06:25] rboucher commented on #29899
@PhilStollery . Thanks for the report.  Fixed.  Should be published by 12noon Monday 4/29.

[2019-04-29 06:51] codevulture commented on #27848
@deltadan: I got the same error because we need to update the field in the template: key_data = "ssh-rsa AAAAB3Nz{snip}hwhqT9h" with appropriate public ssh_id as this is a dummy placeholder and container{snip}.
Please check if you have missed the same step.

[2019-04-29 06:53] AdrianSanguineti commented on #17718
If you end up on this closed GitHub issue like me due to your Server Side Includes not working in an Azure App service, make sure that your App Service is running in 64bit process mode. The module won't be running otherwise.

[2019-04-29 07:03] AjayKumar-MSFT commented on #30078
@waqassraja, We will now close this issue in GitHub, but hope to engage with you via our technical forums shared above.

[2019-04-29 07:03] #30078 closed

[2019-04-29 07:03] javkhalidskipton commented on #29966
hey yes it looks like my co-operate network has blocked this content form loading i have checked on my private VM and it is working fine. thanks for your help, closing this issue now.

[2019-04-29 07:03] #29966 closed

[2019-04-29 07:03] ng-marcus commented on #11383
Anders, yes I'll write up how we have this working for us to see if that helps.  Give me a day and I should have it written.

[2019-04-29 07:09] VikasPullagura-MSFT commented on #30034
@johnthcall I will assign this issue to author to investigate further and update the document as required.
@aljo-microsoft please take a look at this issue.

[2019-04-29 07:13] angoyal-msft commented on #30188
@schellem Could you please refer the below screenshot. URL for [Configure the Redis cache](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-configure) is provided.
![image](https://user-images.githubusercontent.com/43370663/56880885-11e1a400-6a7c-11e9-8686-c24c7e6d6f2e.png)

Hope it helps. Please let us know if you need more information.

[2019-04-29 07:21] AjayKumar-MSFT commented on #30099
@chrisnorthnj, Kindly take a look at these documents for creating blueprint.
[Define and assign a blueprint in the portal](https://docs.microsoft.com/azure/governance/blueprints/create-blueprint-portal)
[Define and Assign an Azure Blueprint with REST API](https://docs.microsoft.com/azure/governance/blueprints/create-blueprint-rest-api)

This document aims at providing a reference architecture, imp

[2019-04-29 07:33] osuleiman opened #30254 "Kafka Version 0.10.0.0 is No Longer Supported on HDInsight"
The document mentions that HDInsight 3.6 uses Kafka 0.10.0.0 which is wrong since Kafka 0.10.0.0 was deprectade in March, 2019, ref: https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning#apache-hadoop-components-available-with-different-hdinsight-versions. Need to fix the Kafka version used in the document to the default Kafka version which is 1.1.0.

---
#### Document De

[2019-04-29 07:41] ChiragMishra-MSFT commented on #30003
@abernaln There's no problem with the "Get Metadata" activity. The problem here is that when you have an SFTP dataset, it has to have either of two - binary copy enabled (when you just want to treat the files as binaries and copy them as is) or File Format selected (usually when the files conform to one of the formats available - txt/csv, JSON, Parquet, AVRO etc). Please refer the below screenshot

[2019-04-29 07:41] #30003 closed

[2019-04-29 07:43] msvijayn commented on #28015
As detailed in the [underlying REST API section](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-activity-log#rest-api), currently activity log alerts only supports 'equal' operator.  Suggest adding/appending in [UserVoice ](https://feedback.azure.com/forums/602299-azure-alert-management)- for a request for such functionality.

[2019-04-29 07:43] msvijayn commented on #28015
#please-close

[2019-04-29 07:51] ManojReddy-MSFT commented on #30129
@javirivas80 Ideally this should be supported in this device. If its working in other devices, then it's specific to the device.

I would recommend creating a support request, so that an engineer can collect the logs and work with the product team to confirm if this is a limitation.

[2019-04-29 07:52] #28015 closed

[2019-04-29 07:53] ManojReddy-MSFT commented on #30107
@cap273 Thanks for the detailed feedback. I am assigning this to the author to validate this with the product team and update the doc accordingly.

[2019-04-29 08:01] angoyal-msft commented on #30222
@wpitallo Could you please refer this [doc](https://tinkerpop.apache.org/javadocs/current/full/).
You might be using the version belwo 3.3.4, due to which decr and incr is working for you not desc and asc.

![image](https://user-images.githubusercontent.com/43370663/56882935-d0082c00-6a82-11e9-9f04-d9f2ce51558d.png)

Hope it helps.

[2019-04-29 08:11] subashsivaji opened #30255 "Output format of tumbling window trigger variable"
Can you please explicitly state the default output format of tumbling window trigger variables @trigger().outputs.windowStartTime and @trigger().outputs.windowEndTime

Is it YYYY-MM-ddTHH:mm:ssZ ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824

[2019-04-29 08:12] wpitallo commented on #30222
Thanks @angoyal-msft, so the version cosmos DB is using is actually pre 3.3.4? How can I tell which version is being used and is it possible to upgrade the version to the latest?

[2019-04-29 08:14] tinod opened #30256 "Need a more recent version of install_linux.sh"
Hi,

Can the code of the install_linux.sh script be updated to reflect currently supported Linux OS'es? I see that in the script currently in place, Ubuntu 16.x is not checked. There are others as well, and a new version of install_linux.sh would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08001ec-4

[2019-04-29 08:15] angoyal-msft commented on #30218
@wpitallo Could you please refer this [StackOverFlow Thread](https://stackoverflow.com/questions/48993817/cosmos-db-graph-performance-and-throughput-of-gremlin-net-vs-microsoft-graph).
I hope this will help you resolve 429 error code.

[2019-04-29 08:16] tinodo commented on #30256
Never mind... I will use OS_details,sh from \home\svsystems\pushinstallsvc

Tino

[2019-04-29 08:22] jgmicallef commented on #22360
Can confirm this is correct, I get **Error details: Request_BadRequest** when ever the value has a space in it.
Will this limitation get fixed in a future Azure release?

[2019-04-29 08:27] RMStoica-zivver commented on #29575
@chetansriv looks correct, thank you very much for the quick turnaround.

@jeevansd please let me know if you need any sort of info on the OneClickSSO front.

[2019-04-29 08:27] #29575 closed

[2019-04-29 08:34] angoyal-msft commented on #30222
@wpitallo
You could use "Gremlin.version()" command to get the version of gremlin.
For upgrading to 3.3.4 you could use "npm install gremlin@3.3.4"

Reference : https://stackoverflow.com/questions/46210786/gremlin-gremlin-queries-in-tinkerpop-documentation-not-working

https://github.com/MicrosoftDocs/azure-docs/issues/16500

Hope it helps.

[2019-04-29 08:40] CHEEKATLAPRADEEP-MSFT commented on #30254
@osuleiman Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/75182](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75182).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to ta

[2019-04-29 08:40] #30254 closed

[2019-04-29 08:49] kalyankrishna1 commented on #22360
Changes pushed to PR -https://github.com/MicrosoftDocs/azure-docs-pr/pull/75185

[2019-04-29 08:49] kishan19 commented on #28085
Uninstall any Azure installations on Pip. Use azure-storage==0.34.3

[2019-04-29 08:50] kishan19 commented on #25936
Uninstall any Azure installations on Pip. Use azure-storage==0.34.3

[2019-04-29 08:50] kishan19 commented on #17309
Uninstall any Azure installations on Pip. Use azure-storage==0.34.3

[2019-04-29 09:00] ChiragMishra-MSFT commented on #30248
@linda33wj Can you please have a look at this ?

[2019-04-29 09:01] wpitallo commented on #30222
I am using the .Net SDK and Data Explorer in the portal.

![image](https://user-images.githubusercontent.com/12214559/56885939-1b640f80-6a6e-11e9-963f-bda79f95c20a.png)

[2019-04-29 09:15] jakaruna-MSFT commented on #30230
@hfcheng66 We dont have a sample directly for wondows. But with a very few modifications, You can use the same template for windows as well.
In the `storage_image_reference` section, provide the parameters related to the windows server.
You can use the below command to list the skus for the publisher `MicrosoftWindowsServer` and offer `WindowsServer`.

`az vm image list-skus -f WindowsServer -p Mi

[2019-04-29 09:17] patrykbuzowicz opened #30258 "SQLCMD -G with no -U nor -P doesn't work"
How is the command `sqlcmd -S Target_DB -G` supposed to work?
I have
* a VM with a system-assigned managed identity setup
* SQLCMD @ 15.0.1300.359 NT
* an AD group that contains the VM identity
* a SQL server resource with a database. This database has a user that corresponds to the AD group name
* the SQL database user has privileges to access the DB

When I try `sqlcmd -S Target_DB -G` from with

[2019-04-29 09:17] AjayKumar-MSFT commented on #30234
@wpitallo, Thanks for sharing the details. We have reviewed this query, since this channel is reserved for documentation related questions or feedback, we recommend just re-posting this question on - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb)or [SO](https://stackoverflow.com/questions/tagged/azure-cosmosdb) technical forum where one of our specialized engineer

[2019-04-29 09:17] #30234 closed

[2019-04-29 09:21] ChiragMishra-MSFT commented on #30255
@subashsivaji The format by default is [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).

However you can still convert it to other formats using the formatDate function, eg :

@formatDateTime(trigger().outputs.windowStartTime,'-dd-MM-yyyy-HH-mm-ss-ffff')

Hope this helps.

[2019-04-29 09:25] subashsivaji commented on #30255
Thank you. Yes we are aware we can convert to other formats. All I wanted was the Microsoft docs to state what you just mentioned "The format by default is ISO 8601."

[2019-04-29 09:27] ChiragMishra-MSFT commented on #30255
@subashsivaji It is mentioned in a couple of places but I agree that it should have more visibilty. We will review the doc and update as appropriate.

[2019-04-29 09:28] subashsivaji commented on #30255
Reason being, the default format is not very obvious provided the portal monitor window and authoring window always shows US datetime format. I have raised this as separate product issue.

[2019-04-29 09:28] jakaruna-MSFT commented on #30144
@ivog Thank you very much for reporting.  Since that needs to be fixed in kured, we will add a workaround here, So that it will help the people who goes to the comments section with that error.