[2020-06-05 20:41] TomArcherMsft commented on #52184
@CeciAc @KrishnaG-MSFT The links have been fixed on azure-dev-docs and should publish by Monday afternoon (PST)

[2020-06-05 20:41] TomArcherMsft commented on #52184
#please-close

[2020-06-05 20:41] #52184 closed

[2020-06-05 20:42] Ayanmullick commented on #55914
@SumanthMarigowda-MSFT, Yes, I need to use the below cmdlet to assign the policy for the identity of the storage account.
`Set-AzKeyVaultAccessPolicy -VaultName <Vaultname> -ObjectId <New SPN id> -PermissionsToKeys get,wrapkey,unwrapkey`

However, the storage account still has the old tenant's identity.
`(Get-AzStorageAccount -ResourceGroupName <RGName> -Name <StorageAccountName>).Identity`

Runni

[2020-06-05 20:44] TomArcherMsft commented on #50904
@lokeshkamalay Thanks for your patience. The links have been fixed and the article will publish by Monday afternoon (PST).

[2020-06-05 20:44] TomArcherMsft commented on #50904
#please-close

[2020-06-05 20:44] #50904 closed

[2020-06-05 20:46] JamesTran-MSFT commented on #56387
@chadmcox
Thank you for your feedback, I looked into this further and found the following.

As you stated, the are two statements to activate MFA, one within the Activation tab and the other within the Assignment tab.

**Activation Tab:**
![image](https://user-images.githubusercontent.com/36619112/83921213-bbd93880-a732-11ea-8bf4-c82d451aff2a.png)

**Authorization Tab:**
![image](https://user-imag

[2020-06-05 20:47] bmc-msft opened #56506 "azure storage python examples refer to unmaintained (archived) examples"
The documentation refers to archived repos that no longer are maintained, which don't follow best practices with latest code.

https://github.com/Azure-Samples/storage-blob-python-getting-started

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18d7ec1-2b04-f2ed-26c9-0ee7a7240295
* Version Independent ID: 8dcc44e4-5413-

[2020-06-05 20:51] tonystevens opened #56507 ""Resource details" keep loading when creating new resource group"
I am trying to create a new resource group, but the "Region" in the "Resource details" is keep loading and preventing me from creating the resource group. Screenshot attached below. Frankly this is pretty annoying as looks like there is no other way to pass around this issue.

<img width="743" alt="Screen Shot 2020-06-05 at 1 47 14 PM" src="https://user-images.githubusercontent.com/286722/83921503

[2020-06-05 20:56] GiftA-MSFT commented on #56473
@CelticCoder we will review your feedback and get back to you shortly. Thanks.

[2020-06-05 20:58] MarileeTurscak-MSFT commented on #56449
@hisasima
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 21:01] Gary-Peluso opened #56508 "How does the Key Vault secret get associated to a storage account key"
I wonder if there is something missing in this documentation.  It clearly shows how to associate a key vault to a storage account key so that the key can be automatically regenerated.  But the regenerated key doesn't appear anywhere within keyvault.

I don't see how it associates the key value to a secret in keyvault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-05 21:12] nprieto95 commented on #56414
I'm actually using the AzureResourceGroupDeployment@2 task in an Azure DevOps pipeline... not sure what it uses under the hood.
If it helps, I can try and execute it using one of those methods; it'll take me a while since currently the parameters are being figured out at runtime.
If you want me to run this using one of those methods... is any method in particular more comfortable for troubleshooti

[2020-06-05 21:17] djpmsft commented on #55923
Hey @gbarr42 ,

The management hub will have the correct default template. It does look like the doc needs to be updated. I will take that down as an action item.

As it looks like you are unblocked and we have an open item, I am going to go ahead and close this issue. Feel free to keep commenting.

Thanks,
Daniel

#please-close

[2020-06-05 21:17] #55923 closed

[2020-06-05 21:17] JamesTran-MSFT commented on #56466
@taromielnaz
I was able to look into your question and found a recent article regarding the TLS version used.

As of right now, it looks like we support TLS1.2 and recommend "all customers complete migration towards solutions that support transport layer security (TLS) 1.2 and to make sure that TLS 1.2 is used by default."

Source: [Preparing for TLS1.2 in Microsoft Azure](https://azure.microsoft.

[2020-06-05 21:17] Etsap opened #56509 "Step 2 is entirely unnecessary and misleading. Step 1 doesn't clearly capture exactly where the "Configuration" link is."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Version Independent ID: 6b3c7ae8-f3bb-dc4b-ed5b-a6e2190dacfd
* Content: [Profile live Azure App Service apps with Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pro

[2020-06-05 21:21] JamesTran-MSFT commented on #56508
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 21:23] mumian commented on #54548
@sporter83  - use "filter" instead of "filters:

"filter": {
       "tags": {
          "tagname": "[parameters('tagvalue')]"
       }
    }

#please-close

[2020-06-05 21:23] #54548 closed

[2020-06-05 21:26] MarileeTurscak-MSFT commented on #55753
Yes, the max setting for session tokens is until revoked. But you can set it to be less than that through the "Don't ask for X number of days" setting. The default in that case is 14 days. It's two different settings.

Note that configurable token lifetime policies will be deprecated by the end of this month.

If I'm missing something feel free to make a pull request to the article or reach out to

[2020-06-05 21:26] #55753 closed

[2020-06-05 21:36] cweining commented on #56509
@Etsap - Thanks for brining this to our attention. The portal has changed a bit since this content was written and it can be updated to be more clear. We'll work on that soon.

[2020-06-05 21:43] BharathNimmala-MSFT commented on #56024
@whomanGHA Thanks again for bringing this to our notice, and you are right that the Azure Functions V2 and V3 do support Monitoring via Application insights and not V1. I have raised a PR to reflect these changes in the doc, it would be reviewed and merged to main docs repo early next week.

[Additional documentation reference](https://docs.microsoft.com/en-us/azure/azure-government/documentation-

[2020-06-05 21:43] #56024 closed

[2020-06-05 21:50] mamccrea commented on #55086
Hi @travis-c-lagrone.  `2.0/clusters/events` returns events for all clusters that we retain, which include:

- Active clusters (Running, pending, reconfiguring)
- Terminated clusters that’s within 30 days after it’s last termination

I will update the doc with this information. The changes will go live next week.

[2020-06-05 21:50] JamesTran-MSFT commented on #56508
@Gary-Peluso
I was able to walk-through the documentation and will post my findings below. Please click the hyperlinked words for more detail.

**Findings:**
When walking through the documentation to "[Manage storage account keys with Key Vault and the Azure CLI](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys)". I found that once you run the "[az keyvault storage ad

[2020-06-05 21:51] mike-urnun-msft commented on #56465
@crystalgeek Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-06-05 21:52] mike-urnun-msft commented on #56468
@efonsecab Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-06-05 21:54] harp365 opened #56510 "Why should we not use?"
Not to come across like a child that is tempted to do something he is told not to, but in this instance we have no reason as to why not to do it. Now joking aside, I came to this documentation as I wanted to confirm what it did, having believed I understood what it did but it seemingly doing nothing only to find the following:

EnableMSStandardBlockedWordsType: BooleanDefault: "False" | Do not use

[2020-06-05 21:55] mamccrea commented on #55086
#please-close

[2020-06-05 21:55] #55086 closed

[2020-06-05 22:01] davidsmatlak commented on #53936
@saikrishna-v The issue with the PublicIpAddressCombo UI element displaying an error when the **Public IP address** was set to **None** is fixed. My tests today were successful. Please try it and post a comment. Thanks.

[2020-06-05 22:06] meganbradley opened #56512 "test"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-05 22:07] meganbradley commented on #56512
#please-close

[2020-06-05 22:07] #56512 closed

[2020-06-05 22:08] briandunnington commented on #36458
Any update on this issue? Is the Consumption and Premium behavior now aligned? Can we omit WEBSITE_CONTENTSHARE from the initial ARM deployment and subsequent deployments? How does this affect staging slots? Any updated docs to link to or guidance?

We have essentially settled on the same approach as @thomaswilkin and @mslot but just through experimentation and trial-and-error. Still not even sure

[2020-06-05 22:09] #56208 closed

[2020-06-05 22:17] SnehaGunda commented on #53329
@gmantri I submitted an update to the doc to include Mark's comments. The changes will be live on Monday. We will now close this issue.

#please-close

[2020-06-05 22:17] #53329 closed

[2020-06-05 22:18] JamesTran-MSFT commented on #56510
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 22:23] TsuyoshiUshio opened #56513 "cardinality requires dataType"
[Enter feedback here]

The document mentions about `cardinality` however, if you set it as `Many` you need `dataType`. However, there is no mention about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azu

[2020-06-05 22:26] JamesTran-MSFT commented on #56510
@harp365
Thank you for your input(s). I was able to look into your issue and will assign this to the author for further feedback.

**Issue:**
Under [Template Settings](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-cmdlets#template-settings), you can see that the "EnableMSStandardBlockedWords" just says "Do not use".

**Suggestion:**
Provide a better/det

[2020-06-05 22:28] v-strudm-msft opened #56514 "Test Issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide)
* Content Source:

[2020-06-05 22:29] JamesTran-MSFT commented on #56466
@taromielnaz
I will go ahead and out this thread. If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-06-05 22:29] #56466 closed

[2020-06-05 22:29] MarileeTurscak-MSFT commented on #56133
Hi @marc-gmail-towersap ,

Please create a new issue linking the document you want fixed, or make a pull request to amend the document.

[2020-06-05 22:29] #56133 closed

[2020-06-05 22:29] keithdv opened #56515 "ADFS is of no use - need functionality from oauth2 v1 to get SAML assertion"
I am part of a very large enterprise that has been **directed by Microsoft to decommission ADFS**. Thus, this article is not helpful on how to get the SAML Assertion from Microsoft Identity Platform.

However there is a way in v1.0 of Microsoft Identity Platform in the following article. This needs to be implemented in v2.0.  This v1.0 functionality to get a SAML Assertion from Microsoft Identity

[2020-06-05 22:31] v-strudm-msft commented on #56514
#please-close

[2020-06-05 22:31] #56514 closed

[2020-06-05 22:41] DavidTrigano commented on #56488
@Basel Shaheen<mailto:bashahee@microsoft.com> to assist

D.
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Friday, June 5, 2020 10:11:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Trigano <David.Trigano@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Set-AzSqlDatabaseSensitivityCla

[2020-06-05 22:41] Gary-Peluso commented on #56508
Thank you for the fast response and it looks like that answers my question!   It was not obvious from reading the documentation that the SAS token was part of how an application can get the regenerated access key.

Perhaps a segway at the end of the first section should say something like: "If your application needs to read the newly generated access key then a SAS token needs to be configured as

[2020-06-05 22:49] JamesTran-MSFT commented on #56508
@Gary-Peluso
Thank you for the quick response, I'm glad I was able to help you better understand the documentation!

I'll go ahead and assign this issue to the author for the requested doc update.

[2020-06-05 23:04] cherylmc commented on #52362
I have checked with the product team and this scenario is not supported for Azure Bastion at this time. #please-close

[2020-06-05 23:04] #52362 closed

[2020-06-05 23:05] MarileeTurscak-MSFT commented on #56267
@AmitavaHazra , it's adding the middleware (OpenIdConnect) to the application.

Here's the full documentation on OpenIdConnectOptions: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.openidconnectoptions?view=aspnetcore-1.1

options.Authority gets or sets the authority when making OpenIDConnect calls.

Hope this helps! If you have further questions feel free to reach out o

[2020-06-05 23:05] #56267 closed

[2020-06-05 23:06] jd8757417 opened #56516 "Generation 2 Hyper-V"
You need to mention HyperV generation type when you run New-AzDiskConfig or gen 2 will not work in Azure. We fixed the issue by adding -HyperVGeneration 'V2' to New-AzDiskConfig command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912457e0-26de-cb94-fa50-075f986ce595
* Version Independent ID: 0d50c9b3-7d08-79ba-3a8f

[2020-06-05 23:09] Karishma-Tiwari-MSFT commented on #56481
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-05 23:10] Karishma-Tiwari-MSFT commented on #56502
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-05 23:10] Karishma-Tiwari-MSFT commented on #56505
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-05 23:10] mike-urnun-msft commented on #56499
Hello @jperl Thank you for your feedback. There is `x-forwarded-for` property that carries the client IP inside the `context` object:

[code]

[2020-06-05 23:13] mike-urnun-msft commented on #56513
@TsuyoshiUshio Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-06-05 23:14] Karishma-Tiwari-MSFT commented on #56497
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@georgewallace I am not able to assign this issue to @dikamath, let me know if this needs to be assigned to someone else.

[2020-06-05 23:15] Karishma-Tiwari-MSFT commented on #56429
Thanks for sharing the update.

[2020-06-05 23:18] sameer-kumar opened #56517 "Confusing or incomplete documentation"
I was reading through options to integrate App Insights into my aspnet core 3.1 app and founded 2 pages for the same available [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core) and [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger).
First link explains about SDK option and recommends to use **Microsoft.ApplicationInsights.AspNetCore** nuget package

[2020-06-05 23:23] c016smith opened #56518 "isOrganizationDefault policy"
I have a question about this, since the New-AzureADPolicy code snippet has -Type of "HomeRealmDiscoveryPolicy" and also -IsOrganizationDefault $true.

I have no other "HomeRealmDiscoveryPolicy" objects, but I do have another Azure AD policy -type of "ActivityBasedTimeoutPolicy" and also has -IsOrganizationDefault $true.

My question is, is the 'default' (true) going to be in conflict? Or can I hav

[2020-06-05 23:26] femsulu commented on #56483
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-06-05 23:26] Karishma-Tiwari-MSFT commented on #56160
@jjindrich
The failure mode described in step 3 can be avoided if the spoke vnet where the node pool will be deployed is not yet peered to the hub vnet. Reviewing the diagram, items numbered 1 through 3 will be created when the cluster is created. Items 4 and 5 (the peering between hub and spoke vnets and the private zone vnet link) can be created afterwards.

If it is not an option to create the

[2020-06-05 23:35] Karishma-Tiwari-MSFT commented on #56250
@mjaow  The problem could be that when making a GET request to the `containerGroups` endpoint, the value for properties.ipAdress.ip is missing. (ref: https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/get)

Can you confirm whether the IP Address continues to be missing on subsequent calls to the REST API after first observing the missing value?

[2020-06-05 23:35] MarileeTurscak-MSFT commented on #56453
@SubhashVasarapu-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 23:42] ecfan commented on #54975
These updates are live. :)

@mike-urnun-msft: #please-close

[2020-06-05 23:42] #54975 closed

[2020-06-05 23:43] MarileeTurscak-MSFT commented on #56458
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 23:44] mamccrea commented on #55122
Thanks for the clarification, @pnarsi. That capability is not currently available, but it is a feature request that is being prioritized.

[2020-06-05 23:44] mamccrea commented on #55122
I will not proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-06-05 23:44] #55122 closed

[2020-06-05 23:45] kobulloc-MSFT commented on #56509
@Etsap Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-05 23:46] mamccrea commented on #54359
Hi @CharmanderJieniJieni. Thank you for your question. Currently, the control plane communicates with Spark workers in the data plane over the public internet using TLS.

[2020-06-05 23:46] dsindona commented on #56191
@Jont-K we have an update in preparation for this article, which includes a correction to this section. Please refer to [Support for the commercial marketplace program in Partner Center](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/support) for support instructions. Thanks and sorry for the confusion.
#please-close

[2020-06-05 23:46] #56191 closed

[2020-06-05 23:51] mamccrea commented on #55521
Hi @phetzel1! Please reach out to your Azure Databricks representative if you find that you need to whitelist any endpoints not included in  [User-defined route settings for Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/udr).

[2020-06-05 23:54] mamccrea commented on #56166
Hi @algattik - thank you for your feedback! We are changing the doc to the following:

Please allow a few days for the changes to go live. Hope this help!

#please-close

[2020-06-05 23:54] #56166 closed

[2020-06-05 23:58] dbeavon opened #56520 "What are the chances that someone gets thru this and successfully creates an xevent session?"
Trying to monitor sql xevents for azure sql database.

What are the chances that someone gets thru these instructions successfully?   Basically you are having us write two very long programs in powershell and T-SQL, and expecting that it will work without bugs.  You really need a utility or user interface for the creation of the xevent container (in azure storage), and session (in T-SQL).

Errors

[2020-06-05 23:58] TravisCragg-MSFT commented on #56449
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-05 23:59] mamccrea commented on #56355
Hi @anandmrya!

With autoscaling local storage, Azure Databricks monitors the amount of free disk space available on your cluster’s Spark workers. If a worker begins to run too low on disk, Databricks automatically attaches a new managed disk to the worker before it runs out of disk space. Disks are attached up to a limit of 5 TB of total disk space per virtual machine (including the virtual machi

[2020-06-06 00:01] TravisCragg-MSFT commented on #56453
@bhushang19 Are you using a V1 or V2 Application Gateway? The listener certificate will need intermediate certificates as well, if applicable.

[2020-06-06 00:01] Snozzberries commented on #56207
@SadiqhAhmed-MSFT thanks for the response. It is that section I am referencing. But the focus is on "what permissions". We need a domain or local account with permissions to install. What permissions do we need for this installation. Are these just a local Administrator account explicitly for the installation of the service and copying of files and registry entries, or is this an account that the

[2020-06-06 00:01] MarileeTurscak-MSFT commented on #56461
@jodiecunningham
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:02] rbrundritt commented on #55608
If you are using leaflet and have more than one point in your data set, calculate the bounding box of the data (min/max of lat/long) will be good enough for most scenarios. From there, you can use the maps fitBounds function to have it automatically zoom and center the map for you. I recommend adding a padding of 20 or 30 pixels to account for the size of your icon.

[2020-06-06 00:05] TravisCragg-MSFT commented on #56467
@tfurstms Thanks for the feedback! If you have any specific questions you want clarified, feel free to @ me on this issue and ask.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 00:07] mamccrea commented on #56050
Hi @snugghash! Thank you for your feedback. Can you please tell us a little more about your scenario? Which part of this article, specifically, is not working for you? The methods outlined in our docs for creating and configuring init scrips have all been tested and should work.

[2020-06-06 00:09] MarileeTurscak-MSFT commented on #56461
@barbkess can you please confirm?

This is listed as being retired on April 30 here: https://azure.microsoft.com/en-us/updates/the-azure-us-gov-iowa-region-is-being-retired-april-30-2020/

Yet it's also referenced in an announcement from four days ago: https://azure.microsoft.com/en-us/updates/backup-your-sap-hana-databases-running-on-rhel-using-azure-backup/

I made a PR to update this but need c

[2020-06-06 00:11] MarileeTurscak-MSFT commented on #56462
@benc-uk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:12] b-juche commented on #56373
@lichunli-ms can you please confirm/advise?  The [Azure NetApp Files waitlist submission](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR8cq17Xv9yVBtRCSlcD_gdVUNUpUWEpLNERIM1NOVzA5MzczQ0dQR1ZTSS4u) page isn't accessible.  Thanks.

[2020-06-06 00:13] TravisCragg-MSFT commented on #48902
@frehnejc Thanks for following up! I was able to find your email, and have enabled your subscription for a free support request.

[2020-06-06 00:14] mamccrea commented on #54171
Hi @jrimada! For routing and whitelisting all traffic through a firewall or proxy, please reference this [blog](https://databricks.com/blog/2020/03/27/data-exfiltration-protection-with-azure-databricks.html).

[2020-06-06 00:16] TravisCragg-MSFT commented on #56217
@vikaskumawat80 are you trying to allow P2S clients to resolve your private AKS cluster via DNS? If so, you will need to either use a custom DNS server, or manually add the DNS entry to the P2S VPN clients. For Example, in Windows, you add the entry in the hosts.txt file.

[2020-06-06 00:17] mamccrea commented on #56500
Hi @BDunTG - thanks for your feedback!

For routing and whitelisting all traffic through a firewall or proxy, please reference this [blog](https://databricks.com/blog/2020/03/27/data-exfiltration-protection-with-azure-databricks.html).

I am working to get additional details for routing only library repo traffic through a proxy.

[2020-06-06 00:17] MarileeTurscak-MSFT commented on #56469
@fabio770
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:22] JimacoMS3 commented on #55765
Hi @michuny25 ,

One last thing, I did some asking around, and we are currently working on adding support for JSON arrays in device and module twins. I can't really give you a release date, but work is underway. With that in mind, you may decide whether or not you want to pursue opening an issue against the c# SDK for the exception returned in this case.

I'll leave this open for a couple more day

[2020-06-06 00:24] timsander1 commented on #52822
#please-close

[2020-06-06 00:24] #52822 closed

[2020-06-06 00:25] JimacoMS3 commented on #49270
HI @Chahul,

Thanks again for your feedback. As I said previously, I think the documentation is correct here. I haven;t heard back from you, so I;m going to close this issue. If you think there is still a problem, please @ comment me in this thread or open an new issue and reference this one.

Thanks again,

Jimaco

[2020-06-06 00:25] JimacoMS3 commented on #49270
#please-close

[2020-06-06 00:25] #49270 closed

[2020-06-06 00:32] KranthiPakala-MSFT commented on #56383
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-06 00:32] #56383 closed

[2020-06-06 00:35] MarileeTurscak-MSFT commented on #56480
@DonPetry-EY
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:37] jturver1 opened #56522 "Virtual WAN routing documentation and examples currently very limited, especially via Azure Firewall"
The documentation explaining exactly how the routing works in sufficient detail between components connected in different ways via vWAN hub does not appear to exist. This is particularly true for scenarios where the vWAN hub has Azure Firewall deployed (Secure vHUB).

Notably in my case, explanation and example config for this scenario is lacking:

- Connections from VPN site => vWAN VPN Gateway =

[2020-06-06 00:44] MarileeTurscak-MSFT commented on #56484
@kvsrkrishnan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:44] MarileeTurscak-MSFT commented on #56486
@jdocampo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:46] dbeavon commented on #56520
I was able to figure this out after spending a lot more time at it than I wanted to.

The root of the problem turned out to be in my decision to use my own storage account with a StorageV2 blob container.  My container appeared to have been incompatible because it was set up with the new Blob Container (ADLS Gen2) fuctionality (aka "HNS Enabled").

That seems to be the only reason that the xevent

[2020-06-06 00:51] MarileeTurscak-MSFT commented on #56492
@pag08007
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:54] MarileeTurscak-MSFT commented on #56495
@wesmc7777
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:56] MarileeTurscak-MSFT commented on #56496
@programify
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:59] MarileeTurscak-MSFT commented on #56503
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 01:02] TravisCragg-MSFT commented on #56190
@awentzel Your best bet for something like this is to go through Azure Support. If you create a support request, please share the Support Request # (SR#) here. If you do not have a support plan, please let me know!

[2020-06-06 01:06] TravisCragg-MSFT commented on #56192
@odufresne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 01:07] TravisCragg-MSFT commented on #56203
@NillsF Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 01:11] MarileeTurscak-MSFT commented on #56515
@keithdv thanks for this feedback! I've shared it internally, but if you want a faster response from the PG I would also recommend sharing this in [User Voice ](https://feedback.azure.com/)which is designed specifically for triaging these requests.

[2020-06-06 01:12] MarileeTurscak-MSFT commented on #56515
CC: @rwike77

[2020-06-06 01:12] #56515 closed

[2020-06-06 01:13] MarileeTurscak-MSFT commented on #56515
Feel free to reach out over email as well.

[2020-06-06 01:14] TravisCragg-MSFT commented on #56198
@awentzel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 01:14] MarileeTurscak-MSFT commented on #56506
@bmc-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 01:15] TravisCragg-MSFT commented on #56264
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 01:26] pradm opened #56523 "Update ARO Support Azure Data Center Locations"
[Enter feedback here]
In the Resource Group creation Section, please update supported locations. Without this we assume it can be created in any Azure Data Centers. We go-ahead and create all the other object and the installation fails during ARO creation with this error. It would save all the efforts if this can be updated and well known to customers.

D:\aro>az aro create --resource-group pradar

[2020-06-06 01:27] SnehaGunda commented on #54209
@abhirockzz The Bulk Executor is implemented on top of Java V2 SDK, it's not available for the latest V4 SDK. The replacement will be a bulk functionality built into the Java SDK v4 like in .NET. We will retire this doc after that's available. So this isn't a doc update until the functionality is available.

In the meantime, we recommend using the Bulk Executor library with V2 SDK. I will add this

[2020-06-06 01:28] RonnieQuan opened #56524 "Does Delete Lock Stop Delete via Powershell?"
Can you please help me to understand what's the expected behavior?
Does delete lock stop all delete action, no matter initiated from Azure portal, or CLI or rest API or powershell?

I'm not able to remove a rule from UDR via Azure portal, since the resource group is locked as delete lock.
But I'm able to remove the rule via
Remove-AzRouteConfig |Set-AzRouteTable

[Enter feedback here]

---
#### Do

[2020-06-06 01:34] MarileeTurscak-MSFT commented on #56516
@jd8757417
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 01:37] NavtejSaini-MSFT commented on #56494
@atsatrom We thank you for your feedback. We have corrected this with a request https://github.com/MicrosoftDocs/azure-docs-pr/pull/117943 Once Approved the changes will be visible in 24 hours.

[2020-06-06 01:38] SnehaGunda commented on #54209
#please-close

[2020-06-06 01:38] #54209 closed

[2020-06-06 01:40] femsulu commented on #56507
Hi @tonystevens, Sorry for the annoyance this has caused. Very likely this was a transient issue on the client-side. Would recommend retrying via a different machine and/or browser and see if issue persists.

I've attempted to repro this issue and after several attempts, i am not seeing the loading error called out above. I've tried across multiple browsers and machines and each time i am able to

[2020-06-06 01:43] femsulu commented on #56507
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-06 01:43] #56507 closed

[2020-06-06 01:44] mhopkins-msft commented on #56506
Hi @bmc-msft

The page only refers to older samples where no newer samples exist, specifically Tables. It clearly calls out that the samples refer to version 2.1 of the Table APIs.

The link in the note at the top of the article specifically says that it links to legacy samples, in case you are looking for those.

Thanks,
 ~ *Mark*

#please-close

[2020-06-06 01:44] #56506 closed

[2020-06-06 01:54] GalacticLion7 opened #56525 "Allow creating multiple mounts from the same volume on ACI"
Currently, ACI requires to have distinct volumes for each mount. This is not convenient, since in case of Azure Files, it requires creating a number of Azure Storage Shares.

It would be great to mount the different volume paths like this:
[code]

Also, the lack of this feature is contradicting how [the docs claim that ACI volumeMounts is similar to Docker bind mounts](https://docs.microsoft.com/e

[2020-06-06 02:03] mohamedmahir commented on #40048
This may help someone.

when i run **dotnet tool install --global dotnet-ef** I got "Response status code does not indicate success: 401 (Logon failed.)" so I checked file appdata/nuget/nuget.config
and removed this key <add key="telerik" value="https://nuget.telerik.com/nuget" /> under <packageSources>

[2020-06-06 02:04] MarileeTurscak-MSFT commented on #56517
@sameer-kumar
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:05] MarileeTurscak-MSFT commented on #56518
@c016smith
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:08] MarileeTurscak-MSFT commented on #56520
@dbeavon glad you were able to get this resolved and thanks for sharing your solution! I've assigned this to an engineer from the databases team to address your feedback. A warning like you mentioned may save others a lot of time.

[2020-06-06 02:09] MarileeTurscak-MSFT commented on #56522
@jturver1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:09] MarileeTurscak-MSFT commented on #56523
@pradm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:10] MarileeTurscak-MSFT commented on #56524
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:11] MarileeTurscak-MSFT commented on #56525
@GalacticLion7
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 02:17] femsulu commented on #56200
Thanks for your valuable feedback, @saikrishna-v .

Would be great if you can share your [feedback directly ](insert url) for the Feature owner to review and consider for future improvements to the service. This also allows other users to comment and upvote on your idea which helps with overall prioritization of features.

We will now close this issue and look forward to your update on the feedbac

[2020-06-06 02:17] #56200 closed

[2020-06-06 02:26] femsulu commented on #56177
Hi @priyankareddy20  - this refers to **any firewall**.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-06 02:26] #56177 closed

[2020-06-06 02:32] frehnejc commented on #48902
Thanks also have issues with Group IP’s unable to delete when there was an azure firewall can I log a ticket on that too?

[2020-06-06 02:44] femsulu commented on #56287
Since there's extensive change required to the doc, re-assigning to @rboucher , content owner, to review and revise.

[2020-06-06 02:49] femsulu commented on #38371
@nkiest - wondering if this can be closed since it's been open for several months.

[2020-06-06 03:12] jperl commented on #56499
Thanks!

[2020-06-06 03:12] #56499 closed

[2020-06-06 03:29] pradm opened #56526 "login to the ARO cluster using the OpenShift cluster's API server"
[Enter feedback here]
The ARO cluster got deployed fine but I am not able to login to the cluster using the
OpenShift cluster's API server. I am using the custom domain here and while I am using the same domain for OCP deployments the login is working fine and the problem is only with ARO.
https://docs.microsoft.com/en-us/azure/openshift/tutorial-connect-cluster#connect-using-the-openshift-cli . D

[2020-06-06 03:36] nkumars commented on #56356
@SaurabhSharma-MSFT , I still get the same error. Please find my complete RelyingParty code:

[code]

Do you say I'm missing anything here?

[2020-06-06 03:42] oadrian2 commented on #56063
Thank you. I'll take a look at it and try and give feedback.

[2020-06-06 03:59] GalacticLion7 opened #56527 "Accessing the Docker socket on ACI"
Is there a way to access the Docker socket on the host when deploying containers? The infrastructure I'm using requires such setup.

[2020-06-06 04:09] SwathiDhanwada-MSFT commented on #55581
@Yggy Just following to check if you had chance to review previous comment. Kindly revert if you are still facing the issues.

[2020-06-06 04:58] keatseongchan opened #56528 "Service CIDR range and VNET address range"
The page says we have to use address range outside the cluster's virtual network.  Is it supposed to mean outside of cluster's virtual network allocation?   We have a scenario where we allocated a /15 to the vnet, the first /16 is used for pod/default subnet.   the second /16 is used for service CIDR.  We are considering reducing the subnet to a /18 and still left 3 x /18 for other purposes.

---

[2020-06-06 06:09] christiankuhtz opened #56529 "default wrong"
[Enter feedback here]

the default for --ssl-enforcement is Enabled, not Disabled as stated in the document.

    --ssl-enforcement      : Enable ssl enforcement or not when connect to server.  Allowed values:
                             Disabled, Enabled.  Default: Enabled.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-06 06:19] BharathNimmala-MSFT commented on #56527
@GalacticLion7 Thank you for reaching out, can you please help share the documentation link you are referencing so that we can better assist you.

Also, please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure documentation.

Please revert back with the documentation link so that we can assist you

[2020-06-06 06:40] hambster opened #56530 "AN was supported on RHEL/CentOS 6.7+ by LIS 4.3"
[Enter feedback here]

AN was supported by RHEL/CentOS 6.7 - 6.10 with LIS 4.3:

- https://www.microsoft.com/en-us/download/details.aspx?id=55106

However, this document state that AN was supported on RHEL 7.4+.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID

[2020-06-06 06:46] SnehaAgrawal-MSFT commented on #56063
@oadrian2 Thanks for reply! We will now close this out but if you feel you need more information please just let us know.

[2020-06-06 06:46] #56063 closed

[2020-06-06 06:55] christiankuhtz opened #56531 "disable service endpoint policies"
[Enter feedback here]

"Azure deploys resources to a subnet within a virtual network, so you need to create or update the subnet to disable private endpoint network policies. Update a subnet configuration named mySubnet with az network vnet subnet update:"

where can I learn why this is necessary? this doc should have a reference to the rationale.

---
#### Document Details

⚠ *Do not edit this se

[2020-06-06 06:57] christiankuhtz opened #56532 "no instructions for how to obtain mysql server id"
[Enter feedback here]

please provide programmatic way to determine this:

Note the MySQL Server ID is similar to /subscriptions/subscriptionId/resourceGroups/myResourceGroup/providers/Microsoft.DBforMySQL/servers/servername. You will use the MySQL Server ID in the next step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-06 07:24] christiankuhtz opened #56533 "--group-ids is deprecated"
[Enter feedback here]

see subject
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8785b87f-73f1-ea2d-cbfd-6b598e78d274
* Version Independent ID: 62741c33-8c83-fe9e-46fd-1c24fb56250a
* Content: [Private Link - Azure CLI - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-privatelink-c

[2020-06-06 07:51] bhushang19 commented on #56453
@TravisCragg-MSFT Its V2 sku. The intermediate certificate (root certificate CA) is already added to the app gateway.

[2020-06-06 07:53] kummanish commented on #56531
Thanks for the this feedback. Will update the docs. The rationale is here: https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy

[2020-06-06 08:26] christiankuhtz opened #56534 "include programmatic way to derive private ip address"
[Enter feedback here]

include programmatic way to derive private ip address rather than manual entry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8785b87f-73f1-ea2d-cbfd-6b598e78d274
* Version Independent ID: 62741c33-8c83-fe9e-46fd-1c24fb56250a
* Content: [Private Link - Azure CLI - Azure Database for MySQL](https:

[2020-06-06 08:27] MightyPen commented on #56520
@stevestein  Hi Steve, As a possible fix to this Issue #56520 (in 'azure-docs'), I have created PR 117953:

- `https://github.com/MicrosoftDocs/azure-docs-pr/pull/117953`

Can you please formally Review my PR 117953. In particular, I added an HTML comment (``) asking about whether the PowerShell code example truly needs to be rewritten to use the latest package (maybe named something like 'AzureSQ

[2020-06-06 08:30] SeaDude opened #56535 "Unclear on Access Policy + RBAC"
Hello, Thanks for the great docs. You've abetted my learning big time.

Its unclear whether using `az keyvault set-policy` for a Function App with a system-assigned managed identity to access a Key Vault will work.

Don't I also need to assign a `Contributor` role to the Function App using `az role assignment create`?

If so, how is this done? I can't seem to find an example for keyvault.

---
###

[2020-06-06 09:09] andersborum commented on #50339
I'll agree with the request of making previous versions available; isn't the protocol is backwards compatible anyway?

It's obviously a huge setback when a new version of the emulator is released with blocking regression errors. As for the 2.11.0.0 release, it's completely broken with HTTP 404s stemming from missing resources etc.

[2020-06-06 10:02] JiriZidek commented on #49531
Thanks - thats fair to know that we cannot count on Azure. By the end of 2020, there will be Postgre13 out for 3 month :-(

[2020-06-06 11:06] mozahra opened #56536 "$vm.StorageProfile.DataDisks"
Hello
Am trying to use the command as shown the title inside the vm. and i have update the VM.
 However, the information am getting is not complete information as you can see below
**Name            :
DiskSizeGB      :
Lun             : 0
Caching         : None
CreateOption    : Attach
SourceImage     :
VirtualHardDisk :
---**
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-06 11:23] SychevIgor opened #56537 "Either remove "Free web hosting" or highlight that prices not yet announced"
Statement: "Free web hosting" - it's not fully truth.
As it's stated on pricing page https://azure.microsoft.com/en-us/pricing/details/app-service/static/
"Static Web Apps is free during preview. Pricing for this service will be announced at a later date. You will be notified 30 days before billing begins."
Please, highlight it on a documentation page that it's temporary free or remove this market

[2020-06-06 12:51] YggY commented on #55581
As @ilahat said: apparently it shows up as soon as you're working with managed applications...which as it turns out, I wasn't. (I'm having trouble accessing a SSL certificate in a pre-existing key vault from a blueprint deployment).

[2020-06-06 12:51] #55581 closed

[2020-06-06 12:53] bjorn-jarisch opened #56538 "Table lists iothub-enqueuedtime twice"
Iot hub enqueued time is listed twice in "System Property Names" - once as "Iot hub enqueued time" and once as "iothub-enqueuedtime". The second listing is probably the correct one since no such property appears on messages routed to a Service Bus endpoint. One of the listings should be removed, and the availability of the property in Service Bus clarified (is it SystemProperties.EnqueuedTimeUtc?)

[2020-06-06 13:06] GregsGits opened #56539 "wrong wording?"
You do not need to start the VM in order to move it and it should continue to run during the move.

Should it say:

You do not need to stop the VM in order to move it and it should continue to run during the move.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69d95cf-9933-cc22-7167-45d5fcb7be86
* Version Independent

[2020-06-06 13:47] erkgpatel commented on #53012
@Mike-Ubezzi-MSFT
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-to-application-insights

[2020-06-06 14:57] shrugupt commented on #56303
Hi @gs-repo,

Could you please check if "azhlf" executable exists in the directory? If does not exist, please run "npm install" and "npm run setup" command again and check if "azhlf" executable created now.

If the problem persists even after following the above steps, please share the below details to help us debug it further:
1. In which environment are you running this tool:- azure cloud bash s

[2020-06-06 15:24] mjaow commented on #56250
Sorry I'm not sure.It's our customers service not mine.But from the logs,it only shows very few times.
@Karishma-Tiwari-MSFT

[2020-06-06 15:26] mjaow commented on #56250
I'm wondering if the vm host that container is crashed.Would it leading to the missing of IP

[2020-06-06 16:32] ru-sh opened #56541 ""Quickstart: Build a Table API app with .NET SDK" is missing a method definition"
The page doesn't contain the `CreateStorageAccountFromConnectionString` definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83987349-2735-b9f5-8df2-80b65a9ff41d
* Version Independent ID: 4f423457-b2ac-d90b-6104-a16e1aa92079
* Content: [Quickstart: Table API with .NET - Azure Cosmos DB](https://docs.microsoft.com

[2020-06-06 16:32] MarileeTurscak-MSFT commented on #56526
@pradm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 16:33] MarileeTurscak-MSFT commented on #56528
@keatseongchan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 16:35] MarileeTurscak-MSFT commented on #56529
@christiankuhtz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 16:54] gbowerman commented on #56070
@VikasPullagura-MSFT I'm not the author. I was assigned as the author in a recent update, but I have left that team. I recommend you reassign the owner - I'll send you email with suggestions.

[2020-06-06 16:57] MarileeTurscak-MSFT commented on #56530
@hambster
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:05] MarileeTurscak-MSFT commented on #56532
@christiankuhtz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:07] SubhashVasarapu-MSFT commented on #56032
@cox-antohi , Appreciate your patience. Yes, It looks like the doc has to be updated with the latest tier information Standard_DS2_v2 in this case. We are working on updating the document accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly contin

[2020-06-06 17:11] MarileeTurscak-MSFT commented on #56533
@christiankuhtz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:12] MarileeTurscak-MSFT commented on #56534
@christiankuhtz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:14] MarileeTurscak-MSFT commented on #56535
@SeaDude
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:15] MarileeTurscak-MSFT commented on #56536
@mozahra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:17] MarileeTurscak-MSFT commented on #56537
@SychevIgor
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:20] MarileeTurscak-MSFT commented on #56538
@bjorn-jarisch
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:21] MarileeTurscak-MSFT commented on #56539
@GregsGits
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:23] MarileeTurscak-MSFT commented on #56541
@ru-sh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:31] rambabu0063 opened #56542 "is it possible to resume Azure VM backup using powershell?"
Hi Team,

I  want to  resume Azure Virtual Machine Backup using Power shell, But I didn't get the command to resume the disable backup. I tried to re-enable backup but i was facing issue.
-----------------------------------------------------------------------------------------------------------
Enable-AzRecoveryServicesBackupProtection : The specified Azure Virtual Machine Not Found. Possible caus

[2020-06-06 17:37] MarileeTurscak-MSFT commented on #56542
@VikasPullagura-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 17:38] MarileeTurscak-MSFT commented on #56542
@rambabu0063 please link the document you are following so that we can better assist

[2020-06-06 17:45] rambabu0063 commented on #56542
Hi,
I was following below link.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-manage-vms#resume-protection-of-a-vm

I was trying to do same work using powershell.

[2020-06-06 18:04] binoyjt opened #56543 "Incorrect Link for Azure Monitor VM's"
Under the Sub Heading "Insights" the link attached to the text "Azure Monitor for VMs" is incorrect.

Its pointing to the "https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overview" whereas the correct link should be "https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-overview".

Screenshot showing the same is attached below.

![image](https://

[2020-06-06 18:12] MarileeTurscak-MSFT commented on #56123
Hi @sahilPrashar90 ,

This is documented here: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configure-device-based-conditional-access-on-premises

And here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/require-managed-devices

Hope this helps! If you have further questions feel free to post in[ Q&A](https://docs.microsoft.com/en-us/azure/a

[2020-06-06 18:12] #56123 closed

[2020-06-06 18:13] MarileeTurscak-MSFT commented on #56461
I made a PR to update this but will leave this open for the author to confirm.

[2020-06-06 18:13] #56461 closed

[2020-06-06 18:14] MarileeTurscak-MSFT commented on #56543
@binoyjt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 18:16] MarileeTurscak-MSFT commented on #56543
@binoyjt thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117963

[2020-06-06 18:16] #56543 closed

[2020-06-06 19:19] JimDaly opened #56544 "Not in Table of contents"
It looks like someone tried to report this before. See #7364
But that lead to no action

@rwike77  can you add this to the toc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861e147-ef75-8ba4-6cba-7d0bc289c328
* Version Independent ID: e8eebd27-cbae-7f2d-9c26-09b5facc495d
* Content: [Configure a new multi-tenant appl

[2020-06-06 20:26] kummanish commented on #56531
Doc updated with the link to why we need to do this. We can close this now.

[2020-06-06 20:30] rachel-msft commented on #49531
We hear your frustration. Making major versions available more promptly is feedback we have received and are working to get better at.

[2020-06-06 20:37] sglasg opened #56545 "Azure Arc Connected Machine Agent Supported Hardware"
Hi,

It would be useful if this page also contained a section which listed the hardware prerequisites for the Azure Arc Connected Machine agent as it does not appear to be supported on ARM based CPU architectures.

/root/install_linux_azcmagent.sh: error: unsupported platform: aarch64:Linux
/root/install_linux_azcmagent.sh: error: unsupported platform: armv7l:Linux

Thankyou.

---
#### Document De

[2020-06-06 21:00] stevenluda opened #56546 "How to start compute target?"
Hi,

I'm wondering how to start the remote compute target using the python SDK. Didn't find any example on this. Also, how do I let the compute target stop automatically after experiment finishes?

Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Versio

[2020-06-06 21:06] philbe opened #56547 "Typos"
TYPOS:

While its possible -> While it's possible
joins that needs to be -> joins that need to be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7455637-4a7f-322a-be44-db78f2093e65
* Version Independent ID: 370eacaa-e8ee-d70e-174a-f428bc0b68dc
* Content: [Data streaming in Azure SQL Edge (Preview)](https://docs.micros

[2020-06-06 21:38] ziesemer commented on #48825
Same issue here in `usgovarizona` , despite previous success in `uscentral`.  Ticket # 120060624001372 opened with Microsoft Partner Support regarding...

[2020-06-06 22:53] keatseongchan opened #56549 "Is it possible to renew authentication certificate without downtime?"
We are currently using authentication certificate for our integration between Application Gateway and APIM.   Since the public certificate for APIM is uploaded to Application Gateway, we only have 1-to-1 mapping.  ie, if we update APIM certificate, there will be a period of time where Application Gateway APIM public certificate will not match with APIM SSL certificate.  Is there a way to around th

[2020-06-06 23:22] jdthorpe opened #56550 "Illegal characters in the example code"
There are quite a few em-spaces (`&emsp;`) in the example code on this page, which are illegal characters in the context of an Azure Manifest file.  Specifically, copying and pasting the examples in this page into an app registration manifest prevents the manifest from being saved, and is a hugely frustrating and difficult to find bug.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-06 23:32] MarcinStruzak commented on #50073
@jeevansd Then the text in the tutorial and the corresponding screen snapshot should be updated.  There is a [video](https://youtu.be/1UyevdX09hY) on YouTube suggesting to use `https://account.activdirectory.windowsazure.com/ChangePassword.aspx`, which seems to match your snapshot...

[2020-06-07 01:38] ntachandley opened #56553 "Unable to discern MBps limits"
Hi there! It appears as though these D/E (Intel) v4 themed IAAS VMs have additional local SSD capacity and changes to throughput logic. This could be a really good thing but this documentation doesn't explain that with certainty.

For Dds_v4, there are 3 values provided with 2 labels. Can those 3 values be more clearly identified? For example, D16ds_v4 lists 77000/485(200) and is labelled "Max cac

[2020-06-07 01:44] KrishnaG-MSFT commented on #56545
@sglasg Thanks for the comment.
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2020-06-07 02:26] atcaoyufei commented on #56349
Organization A Create Application
Organization B member authorized to log in
Need admin approval

[2020-06-07 02:27] snugghash commented on #56050
@mamccrea Hallo!
Yes of course, everything listed in the article works. But if the intention of the article is to serve as an introduction with mentioning the caveats and gotchas of working with init scripts, like you do when writing the quoted text above, this doesn't cover all the bases. There's one non-obvious gotcha when working with the filesystem of the cluster, specifically as seen by the i

[2020-06-07 03:04] MarileeTurscak-MSFT commented on #56544
@JimDaly
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 03:08] MarileeTurscak-MSFT commented on #56546
@stevenluda
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 03:08] MarileeTurscak-MSFT commented on #56547
@philbe thanks! Fixing this.

[2020-06-07 03:10] MarileeTurscak-MSFT commented on #56547
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117969

[2020-06-07 03:10] #56547 closed

[2020-06-07 03:19] Atyulyakadam2013 opened #56554 "Step by step flow needs to describe like Protect an API by using OAuth 2.0 with Azure Active Directory and API Management"
Need to describe properly like a chapter above
"Protect an API by using OAuth 2.0 with Azure Active Directory and API Management"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623cc870-6f9d-039e-b965-a964482a3e6d
* Version Independent ID: 80cb6774-fc95-f551-aae7-5f8091bd3b17
* Content: [Protect SPA backend with OAuth

[2020-06-07 03:22] MarileeTurscak-MSFT commented on #56549
@keatseongchan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 03:25] MarileeTurscak-MSFT commented on #56550
@jdthorpe which sample code are you referring to?

[2020-06-07 03:26] MarileeTurscak-MSFT commented on #56553
@ntachandley
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 03:27] MarileeTurscak-MSFT commented on #56554
@Atyulyakadam2013
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 03:36] Gitdevnttuser opened #56555 "DataFactory Linked to GIT"
When performing the Get-AzDataFactoryV2Pipeline or Get-AzDataFactoryV2Trigger on a DataFactory that is connected to GIT, it doesn't return any Pipelines or Triggers, it returns the initial configuration prior to the attachment to GIT.

I have pressed the publish button and it has no issues with the configuration that is stored in GIT, yet still the same issue faced.

This is not helpful as you wil

[2020-06-07 03:42] MarileeTurscak-MSFT commented on #56555
@Gitdevnttuser
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 04:41] kndrewa opened #56556 "Documentation unclear for configuring # of remembered work or school accounts for UWP apps (save more than 3 and introduce a scroll bar?)."
This documentation does not include information about configuring saved user limit.
It appears to stop at 3 - is it possible to configure more saved users and add a scroll bar?

https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-uwp

![image](https://user-images.githubusercontent.com/25167589/83960519-6c802e80-a83e-11ea-8818-553e4980638b.png)

[2020-06-07 04:51] jdthorpe commented on #56550
[Here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#approles-attribute) is one of them:

![image](https://user-images.githubusercontent.com/10930181/83960619-79e9e880-a83f-11ea-8f38-3adefdf07665.png)

There was another, but I can't seem to find it now.

[2020-06-07 04:58] TomArcherMsft commented on #49457
@Karishma-Tiwari-MSFT I missed this in my filter as it's not correctly labelled. Please update the label to "Terraform". Thank you.

[2020-06-07 05:01] TomArcherMsft commented on #43297
@mimckitt I missed this in my filter as it doesn't have the "Terraform" label. Please update by adding the "Terraform" label so that I can address. Thank you.

[2020-06-07 05:55] olavt opened #56557 "Description of availability zone / fault domains is confusing (or even incorrect)"
I find this paragraph quite confusing:

"An Availability Zone in an Azure region is a combination of a fault domain and an update domain. For example, if you create three or more VMs across three zones in an Azure region, your VMs are effectively distributed across three fault domains and three update domains. The Azure platform recognizes this distribution across update domains to make sure that

[2020-06-07 07:27] MrAusnadian commented on #54898
Quick update on this. Microsoft Azure support recommended that I downgrade to Ubuntu 16.04 and Docker CE 17, which we won't be doing for obvious security reasons.

We ended up switching to Logz.io, which worked out of the box and hasn't had any issues at all.

[2020-06-07 07:27] bashahee commented on #56488
Hello @CharmanderJieniJieni,

Thanks for your feedback!

Can you please verify that the latest version of `Az.Sql` (https://www.powershellgallery.com/packages/Az.Sql/2.7.0) is installed on your machine?

In case your are facing the issue though latest version of `Az.Sql` is installed, can you please share the schema of the database that its columns are still being recommended though they were clas

[2020-06-07 07:46] joaku commented on #53360
Any news about this? I'm trying to use webapp of Azure for my rails 6 app and I have the same problem.

[2020-06-07 08:09] cox-antohi opened #56558 "Wrong instruction on the page Run a custom Windows container in Azure (Preview)"
In the section *Create a Windows container app*, *Step 6* it is shown in the image for the *Image and tag* field the text: `contoso/myFirstAzureWebApp:latest`.

From what I checked, *myFirstAzureWebApp* should actually be *myfirstazurewebapp*.

When I did not use lowercase I got an error saying:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-07 08:52] memildin commented on #56179
#please-close

[2020-06-07 09:59] tomkuijsten commented on #54411
Thanks for chasing the confirmation! Would be a good idea to clarify this in the docs. I'll close the issue as you answered my initial question.

[2020-06-07 09:59] #54411 closed

[2020-06-07 10:03] ajsing opened #56559 "This documentation and steps not clear and needs improvement"
Hi Team,

This documentation doesn't seem to clear as to what steps (commands) needs to be performed at external Kubernetes cluster side to make it talk to Azure Arc. As far as I understand, Az CLI commands given above needs to run in Az CLI in my Azure subscription, however its not clear how exactly my Kubernetes Cluster (for example running in AWS) will talk to Azure Arc. I don't see what parame

[2020-06-07 11:50] ThomasPe opened #56560 "Add Error Message to C# UDF Portal Limitation Notice"
It took me a while to figure out why my Stream Analytics query didn't work in the portal, until I saw this under Limitations at the very end of the docs:
`The Azure portal query editor shows an error when using .NET Standard UDF in the portal.`

You won't find this note when you google for the actual error message. So it might be a good idea to add it as an example of what to expect and make it ea

[2020-06-07 12:19] mkosieradzki opened #56561 "Unable to find documentation for "mode": "Secure" and routingType "Webhook""
The article mentions
[code]
but there is literally no documentation for `mode` `Secure` and `routingType` `WebHook`.

I was able to find out by experimentation that `routingType` `Webhook` means that POST is used instead of PUT and that original request is wrapped into some JSON repeating information from headers.

But I cannot find any meaning for `mode` `Secure` - there are no special headers ad

[2020-06-07 13:18] memildin commented on #56081
I'm not sure we have much that we can reply with here.
It's not unusual for companies to use ISPs. In this case Qualys has two IP addresses that they're using for this purpose and for one, the name of their ISP appears on the public lookup pages.
@abhishakemitra, do you have a specific concern/query about Cogent Communications?

[2020-06-07 13:19] DixitArora-MSFT commented on #56138
@shengdamao We apologize for the inconvenience you have encountered.It might be better to open a support case to troubleshoot this issue together with a service engineer who has deeper insight to your environment. Does your subscription carry a support plan? If not, just let us know.

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag m

[2020-06-07 13:19] #56138 closed

[2020-06-07 13:20] DixitArora-MSFT commented on #56139
@ghost I have assigned this to content author for further review and update as appropriate.

[2020-06-07 13:23] DixitArora-MSFT commented on #56144
@rachelxj  Thanks for creating an issue to track.

@ghost For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-07 13:23] #56144 closed

[2020-06-07 13:24] DixitArora-MSFT commented on #56147
@dcbrown16 I have assigned this to content author for further review and update as appropriate.

[2020-06-07 13:28] DixitArora-MSFT commented on #56164
@nonoxp I have assigned this to content author for further review and update as appropriate.

[2020-06-07 13:32] DixitArora-MSFT commented on #56323
@milesfrain It might be something specific to environment. We apologize for the inconvenience you have encountered.It might be better to open a support case to troubleshoot this issue together with a service engineer who has deeper insight to your environment. Does your subscription carry a support plan? If not, just let us know .

For now I will proceed with closure of this and If there are furth

[2020-06-07 13:32] #56323 closed

[2020-06-07 13:46] SubhashVasarapu-MSFT commented on #56556
@kndrewa , Thanks for reaching out. We will investigate and update this thread.

[2020-06-07 13:48] SubhashVasarapu-MSFT commented on #56557
@olavt , Thanks for reaching out. We will investigate and update this thread.

[2020-06-07 14:39] NenoLoje opened #56562 "Link fails with 404: Create a resourceGroup, apply a lock and RBAC"
Affected docs page URL: https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/2019-10-01/resourcegroups

At the bottom, there's a link to a template labeled "**Create a resourceGroup, apply a lock and RBAC**". The link results in a 404 error message on GitHub.

Thanks,
--Neno

[2020-06-07 14:50] NenoLoje opened #56563 "Correct casing of "Powershell" -> PowerShell"
In the section "**Create an image of a VM using Powershell**", correct casing of "PowerShell".

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d299c34-ffe1-b930-bace-f43c8d8217ca
* Version Independent ID: b9eab64c-51a9-ad18-705c-15e553e0b2fe
* Content: [Create a managed image in Azure - Azure Windows Vi

[2020-06-07 15:03] jianyeliu opened #56565 "error when Load the NYC Taxi Sample data into the Spark nyctaxi database"
Hi Sir:
    when I issued the command like what mentioned in the manual, I encountered
Error : java.sql.SQLException: com.microsoft.sqlserver.jdbc.SQLServerException: Type with name 'SQLAnalyticsConnectorDataSourcec21747d205254709921afec550c2d5df' already exists.
  at com.microsoft.spark.sqlanalytics.utils.SQLAnalyticsJDBCWrapper.executeUpdateStatement(SQLAnalyticsJDBCWrapper.scala:88)
  at com.mi

[2020-06-07 15:04] jonsatchwell opened #56566 "Convert operation api fails from Europe"
[Enter feedback here]
Just stepping through the tutorial to upload and convert map data.  I am working in west europe however have created an azmaps creator resource in the US as instructed. On POST for step 2 in the Convert a Drawing Package section I get the following response
{
    "error": {
        "code": "WrongPrivateAtlasLocation",
        "message": "Maps Creator for this account is not a

[2020-06-07 15:38] efonsecab opened #56567 "Error subscribing to a product"
Starting today, the portal started blocking users from subscribing to a product.
The javascript console is showing this:
product#product=betas2:1 Refused to execute script from 'https://apidevelopers.pticostarica.com/scripts/vendor.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.

I'm using the out of the box portal, not the self-hosted.
---
####

[2020-06-07 15:46] SubhashVasarapu-MSFT commented on #56558
@cox-antohi , Appreciate your patience. Hope that should work if you have published the image to docker hub with the same name "contoso/**myFirstAzureWebApp**". I suggest you to check your image name in the hub and give a try again. If you are using private registry then you should enable private registry option and provide appropriate "username & password" while configuring the WebApp.

Meanwhile

[2020-06-07 15:52] SubhashVasarapu-MSFT commented on #56559
@ajsing , Thanks for reaching out. We will investigate and update this thread.

[2020-06-07 16:02] MarileeTurscak-MSFT commented on #56563
@NenoLoje thanks for the PR! Closing this out.

[2020-06-07 16:04] MarileeTurscak-MSFT commented on #56560
@ThomasPe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 16:06] MarileeTurscak-MSFT commented on #56561
@mkosieradzki
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 16:09] MarileeTurscak-MSFT commented on #56562
@NenoLoje thanks! fixing this.

[2020-06-07 16:14] MarileeTurscak-MSFT commented on #56562
Thanks! I can't access the metadata on that article but I have sent this to the author to update it.

[2020-06-07 16:17] MarileeTurscak-MSFT commented on #56565
@jianyeliu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 16:18] MarileeTurscak-MSFT commented on #56566
@jonsatchwell
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 16:19] MarileeTurscak-MSFT commented on #56567
@efonsecab
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-07 16:28] MarkusElsper commented on #23238
resetting MFA solved my problem

[2020-06-07 17:57] djpmsft commented on #56555
Hey @Gitdevnttuser ,

Rest API calls, Powershell scripts, and SDK code all queries against the live factory (aka the 'published' version of your git repo.

For promoting to subsequent environments (test/UAT, PROD, etc), it is recommended to use the ARM template generated in your publish branch and do a Resource Manager deployment (this can be done natively in Azure DevOps)

If you wish to use Powe

[2020-06-07 18:35] vatansoni89 opened #56569 "Contradicting statements"
You are telling:

**Choosing a partition key**
Selecting your partition key is a simple but important design choice in Azure Cosmos DB. Once you select your partition key, it is not possible to change it in-place. If you need to change your partition key, you should move your data to a new container with your new desired partition key.

For all containers, your partition key should:

- Be a proper

[2020-06-07 18:38] memildin commented on #56463
As stated on [the page about features that were deprecated in July 2019](https://docs.microsoft.com/en-us/azure/security-center/security-center-features-retirement-july2019#security-alerts-investigation): "We removed this feature from Security Center because it's been replaced with an improved experience in Azure Sentinel."

You're right that this tutorial should also have been updated and it will

[2020-06-07 18:38] #56463 closed

[2020-06-07 18:47] myusrn commented on #29895
How so i assign "TenantCreator" role it doesn't exist in my azure subscription's set of available role assignments.  Its also not a role i see within the linked Azure AD environment.

Until i can get this working my wvd host pool template deployments are going to keep failing on `VM has reported a failure when processing extension 'dscextension'. Error message: "DSC Configuration 'CreateHostPoolAn

[2020-06-07 20:12] RonnieQuan opened #56570 "Clarify Cloud Scenario and ADF Managed VNet"
There is a new private preview feature,
https://adfdocs.blob.core.windows.net/privatepreview/adf-managed-virtual-network-private-preview.pdf

I would think ADF managed vnet is for cloud scenario only, for hybrid scenario, we will still need self hosted runtime.

Can you please confirm?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-06-07 20:28] RonnieQuan opened #56571 "Mapping Data Flow and Pipeline"
What's the difference between mapping data flow and pipeline?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
* Version Independent ID: 0cf3bb9b-c822-b0a6-35d8-785ebcefb4f3
* Content: [Introduction to Azure Data Factory - Azure Data Factory](https://docs.microso

[2020-06-07 21:04] elvirk opened #56573 "assignaableScopes??"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46298566-60f8-0d7b-6dd1-7225f59204c2
* Version Independent ID: 86898efd-12a9-67d1-2772-64616c6a5684
* Content: [Create or update Azure custom roles using the Azure portal - Azure RBAC](https://docs.microsoft.com/en-us/azure/role-based-access-control/c

[2020-06-07 21:08] elvirk commented on #56573
For Assignable Scope, can you use file or json file
 "assignableScopes": [
            "filename or file.json"
        ],

as instead
 "assignableScopes": [
            "/subscriptions/11111111-1111-1111-1111-111111111111"
        ],

The reason for this question is that I have over 10 customer roles and I have 30 plus subscriptions and when I create new subscription, then I need update each custo

[2020-06-07 21:11] AjayKumar-MSFT commented on #56251
@SychevIgor, For further review on this, I have assigned the issue to the content author. Thanks!

[2020-06-07 21:11] RonnieQuan opened #56574 "self-hosted IR - Azure VM or on-prem machine?"
Can you please help me understand what factors drive to install IR in Azure VM?

The document recommend to install IR in a separate machine, so that does not compete resource with data source.

What are the considerations to install IR in a on-prem machine vs install IR in Azure VM.
I guess when IR running in on-prem VM, it's close to on-prem data source.
when IR running in Azure VM, it's close to

[2020-06-07 21:21] AjayKumar-MSFT commented on #56349
@atcaoyufei, Thanks for the response and sharing additional details.

As mentioned in my previous post, it would greatly help, if you could share the Azure documentation for which this feedback is applicable to? I beleive you are referring to this documentation  '[Configure the admin consent workflow (preview](https://docs.microsoft.com/azure/active-directory/manage-apps/configure-admin-consent-wo

[2020-06-07 21:35] DanielCarltonABT opened #56575 "Issue with cmdlet name"
Export-AzWVDRegistrationInfo is referenced, but it's Get-AzWvdRegistrationInfo now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e2-67cc-e5891fdbefd7
* Version Independent ID: 16b54c4d-07de-9d14-2a74-38e321361069
* Content: [Create Windows Virtual Desktop host pool PowerShell - Azure](https://docs.mic

[2020-06-07 21:39] karanjeet31 commented on #42584
I am trying to a virtual machine using a user in azure AD but not working out.
I have installed the AADLoginForWindows and system identity is also turned on. I have give a couple of user role assignment of "Virtual Machine Administrator login".

[2020-06-07 21:54] pmanthen commented on #48431
Update?

[2020-06-07 22:02] tsarna commented on #43297
I did eventually figure it out, but it is **far** from easy. I don't recall where I found the settings JSON.

example .tf file excerpt:
[code]

diag-protected.json.tpl:
[code]

diag-settings.json.tpl:
[code]

[2020-06-07 22:06] pretty25 opened #56577 "InvalidTemplateDeployment"
[Enter feedback here]
I am trying to learn these tutorials and it fails with below error no matter whatever I tried changing looking at googling solutions on below errors, but the same when used from this gist for e.g:
 https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-storage-account-create/azuredeploy.json and it works fine. So I got a feeling, are these supposed to w

[2020-06-07 22:46] kar400 opened #56578 "Fix resource provider name from Microsoft.SqlVirtualMachines to Microsoft.SqlVirtualMachine in FAQ"
Location:
In the FAQ section, the third question about "Should I register with the SQL VM resource provider if my SQL Server VM already has the SQL Server IaaS extension installed?

The second sentence should be updated -
   FROM: Registering with the SQL VM resource provider creates a new resource of type Microsoft.SqlVirtualMachines.

   TO: Registering with the SQL VM resource provider creates

[2020-06-07 23:04] #56531 closed

[2020-06-07 23:35] kruti-m opened #56579 "Need frequency data at which metrics is being captured"
[Enter feedback here]
Hi Team,

Would it be possible to include the frequencies at which the metric is being captured at the backend for Compute and other resources
![image](https://user-images.githubusercontent.com/64374784/83982578-498c7200-a945-11ea-870e-f6624cc42d92.png)

For example "Percetage CPU" is being captured every 5 minutes or 5 seconds so on so forth

---
#### Document details

⚠ *Do

[2020-06-07 23:38] autocloudarc opened #56580 "New-AzBastion command generates "Cannot parse the request" error in PowerShell version 5.1."
[Enter feedback here]
When following the instructions from: https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-powershell#createhost and attempting to create a bastion host from my Windows 10 client (PowerShell version 5.1) with the following command:

$basResource = New-AzBastion -ResourceGroupName $rg -Name $basName -PublicIpAddressId $basPubIpId -VirtualNetwork $vnet -Verbose

I

[2020-06-08 00:02] kummanish commented on #56245
I have added link to the DNS zone configuration. https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-privatelink-portal

[2020-06-08 00:06] CharmanderJieniJieni commented on #56488
Not sure how to check Az.sql version, I used [this line](
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.2.0&viewFallbackFrom=azps-2.7.0#requirements)
to install Azure Powershell and Az.Sql is there.

Regarding the schema, below is the single table I use

[code]

On Sun, Jun 7, 2020 at 3:27 AM bashahee <notifications@github.com> wrote:

[2020-06-08 00:25] NavtejSaini-MSFT commented on #56459
@soportedba Please let us know if you need further help regarding this issue.

[2020-06-08 00:27] atrauzzi commented on #56245
Did that in any way directly answer my question?

How is this helpful?

[2020-06-08 00:29] NavtejSaini-MSFT commented on #56569
@vatansoni89 We are checking this and we will get back to you.

[2020-06-08 00:39] CharmanderJieniJieni commented on #56488
Tested the second approach `Get-AzSqlDatabase -ResourceGroupName $rgname -ServerName $serverName | where {$_.DatabaseName -ne "master"} | Get-AzSqlDatabaseSensitivityRecommendation | Set-AzSqlDatabaseSensitivityClassification` as well, nothing changed after execution

[2020-06-08 00:40] NavtejSaini-MSFT commented on #56541
@ru-sh The tip in the [document ](https://docs.microsoft.com/en-us/azure/cosmos-db/create-table-dotnet) provides where all elaborations and definitions are:
![image](https://user-images.githubusercontent.com/52257742/83983750-fdb6da00-a8fe-11ea-8f49-a9ca88a975f9.png)

The link points to this page - https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet and specific link for

[2020-06-08 00:44] NavtejSaini-MSFT commented on #53921
@SnehaGunda We have assigned this case to you.

[2020-06-08 00:44] KrishnaG-MSFT commented on #56577
@pretty25 Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-08 00:46] NavtejSaini-MSFT commented on #53721
@SnehaGunda We have assigned this to you.

[2020-06-08 01:20] NavtejSaini-MSFT commented on #56520
@dbeavon The changes regarding the warning are live now. We will work with our internal team to check what other compatibility issues should be taken into account.
@MightyPen Thanks for the changes. We are assigning this case to you.

[2020-06-08 01:26] NavtejSaini-MSFT commented on #56469
@fabio770 Thanks for the feedback. It is definitely not possible to give all the examples possible but as you said a  document can be enhanced or a new document created for giving such examples. We will work with our internal team regarding this.
@timsander1 @SnehaGunda Please take this feedback and if needed please enhance or add a new document. Once you confirm we will go ahead and close this fe

[2020-06-08 01:32] djpmsft commented on #56571
@RonnieQuan A pipeline is the main operational unit of data factory (aka what you run, monitor and schedule). A pipeline is comprised of activities that are linked together in a logical flow. One of those activities is the data flow activity which is ADF's native code-free transformation service run on spark. You build data flows in the UX by specifying your transformation logic and run them as an

[2020-06-08 01:32] #56571 closed

[2020-06-08 01:35] cagrimunyas opened #56581 "Guidance on preparing QnA Maker model for better scores."
There should be more guidance around how to create question and answer pairs. With low visibility on the process of handling the search index scoreing and answer ranking, I believe there should be more guidance on how to setup a qna pairs and how to improve the model score inside documentation.

For instance scoring algo. creates issue even one single letter change in Turkish language models.
Addi

[2020-06-08 01:44] BharathNimmala-MSFT commented on #56579
@kruti-m Thank you for your query, we will look into this and get back to you at the earliest.

[2020-06-08 01:46] BharathNimmala-MSFT commented on #56573
@elvirk Thank you for your question, our team will look into it and get back to you at the earliest.

[2020-06-08 01:57] sthoward0914 opened #56582 "Confusion of page title/URL vs. use of Copy command."
I'm an Azure Technical Trainer at Microsoft. I'm doing final prep today to teach DP-200 this coming week. In this training, one thing we do is load data using Polybase. I was visiting this page to be sure that the links and things I use will still work. However, there seems to be some confusion on this page, and I'm not sure what to make of it. Can you please clarify on the pages and make them con

[2020-06-08 02:16] alexchen2016 commented on #55629
Hi @vipulsparsh,@souravmishra-msft, Any update from you side as our customers are waiting for your reply?

[2020-06-08 02:33] AshokPeddakotla-MSFT commented on #56575
@DanielCarltonABT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 02:36] AshokPeddakotla-MSFT commented on #56570
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 02:38] AshokPeddakotla-MSFT commented on #56574
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 02:44] MakurodaHotmail opened #56583 "Using IP restriction for Azure Table"
When using IP restriction of Azure table storage with firewall of Table Storage, cloud partner portal cannot create leads to Azure Table storage with Error 'StrorageException.'
After turned off firewall, cloud partner portal can create leads. So, if we can know IP address for cloud partner portal, we can resolve this issue. Could you tell me IP address?

I think, Cloud Partner portal IP is include

[2020-06-08 03:07] TomArcherMsft commented on #43297
@tsarna Thanks for the update. I need some time to tease through all this and figure out what's going on, but once I'll update accordingly. As you're unstuck and I have this on my backlog, I'm going to close the issue. #please-close

[2020-06-08 03:07] #43297 closed

[2020-06-08 03:48] vipulsparsh commented on #55990
@ivratche I will be closing this now, please tag me in your comment if you have any questions.

[2020-06-08 03:48] #55990 closed

[2020-06-08 03:49] uonie opened #56585 "Storage Space related issues"
We should always first check the Storage layout before extending volumes. If the volume to be extended is from Storage Pool, then extending Azure Disk is a waste of money and cannot revert.

When the disks are a part of Storage Pool, we should NOT extend the disks directly, instead, we need to add a new disk to the Storage Pool to extend the space, and then extend the volume size.

Can you please

[2020-06-08 03:51] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Thanks for detailed analysis. I am checking internally and will update you soon.

[2020-06-08 03:53] SwathiDhanwada-MSFT commented on #56308
@SquirrelAssassin As there are no further documentation changes, we will close the issue for now. Kindly revert if you have further questions. We will be very glad to assist you.

[2020-06-08 03:53] #56308 closed

[2020-06-08 03:55] SwathiDhanwada-MSFT commented on #56347
@jordanbean1 Just following up to check if you had chance to view @tfitzmac  comment on your issue. Kindly revert if you have further questions.

[2020-06-08 04:00] SwathiDhanwada-MSFT commented on #56420
Assigning to content author @rboucher for reviewing and updating the document accordingly.

[2020-06-08 04:01] SwathiDhanwada-MSFT commented on #56421
Assigning to content author @rboucher for reviewing and updating the document accordingly.

[2020-06-08 04:09] SwathiDhanwada-MSFT commented on #56559
Assigning to content author @mlearned for reviewing the issue and updating the document accordingly.

[2020-06-08 04:10] StingyJack commented on #54226
@Grace-MacJones-MSFT - If I read that example chart correctly it looks like you are viewing the App Service Plan's metrics, Thats like a "Server Level" limit whereas the request queue in IIS was per worker process (App Service). Would this `Requests in Application Queue` metric on the App Service be synonymous with the asp.net apps perf counter value (the queue length + requests being serviced) fo

[2020-06-08 04:18] VikasPullagura-MSFT commented on #56585
@uonie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-08 04:18] VikasPullagura-MSFT commented on #56585
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-06-08 04:24] CHEEKATLAPRADEEP-MSFT commented on #56355
@anandmrya  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-08 04:24] #56355 closed

[2020-06-08 04:32] CHEEKATLAPRADEEP-MSFT commented on #56582
@sthoward0914  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-06-08 04:35] JaredCross opened #56586 "SCIM IP range documentation documentation is not including all IPs that we are AAD Provisioning requests from."
SCIM IP range documentation documentation is not including all IPs that we are AAD Provisioning requests from ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Develop a SCIM endpoint for user provisioning to

[2020-06-08 04:37] #56032 closed

[2020-06-08 04:41] CHEEKATLAPRADEEP-MSFT commented on #56434
@algattik  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-08 04:41] #56434 closed

[2020-06-08 04:44] CHEEKATLAPRADEEP-MSFT commented on #56454
@helloyesthisisdave  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-08 04:44] #56454 closed

[2020-06-08 04:48] SubhashVasarapu-MSFT commented on #56271
@MurrayFoxcroft , Appreciate your patience. Idea or suggestion based on your experience with Azure? We would love to hear it! Please take a few minutes to submit your idea in the one of the [forums](https://feedback.azure.com/forums/217313-networking/category/77468-network-security-groups?query=service%20tag) available on here or vote up an idea submitted by another Azure customer. All of the feed

[2020-06-08 04:48] #56271 closed

[2020-06-08 04:50] SubhashVasarapu-MSFT commented on #56448
@naverpark , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-08 04:50] #56448 closed

[2020-06-08 04:53] su-jie commented on #56280
@ThomasPe Thanks for the feedback. Feel free to provide the content and I will update the doc. Would you send the content to me via sujie@microsoft.com? Really appreciated.

[2020-06-08 04:54] VikasPullagura-MSFT commented on #56578
@kar400 Thanks for the Feedback.
I have updated the document, changes will go once the PR is approved.

[2020-06-08 04:55] ram-msft commented on #56243
@xieofxie As you may have seen, a new Bot Framework channel named “[Direct Line Speech](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-directlinespeech?view=azure-bot-service-4.0)” is in preview. This channel is optimized for voice-first conversational experiences, where you want users to talk to the Bot and have it speak back. The channel serves as an orchestration

[2020-06-08 04:58] SubhashVasarapu-MSFT commented on #56435
@bazazar , Appreciate your patience. As of now Azure supports [these](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags) service tags.
I would recommend you to take a few minutes to submit your idea in the one of the [forums](https://feedback.azure.com/forums/217313-networking/category/77468-network-security-groups?query=service%20tag) available on

[2020-06-08 04:58] #56435 closed

[2020-06-08 05:01] AshokPeddakotla-MSFT commented on #56351
I have assigned the issue to the content author @shreyasharmamsft  to evaluate and update as appropriate.

[2020-06-08 05:04] BhargaviAnnadevara-MSFT commented on #20737
@rudolphjacksonm Glad that helped! :)

[2020-06-08 05:04] Astersss opened #56587 "More detailed explanation on how to build artifact with YAML file"
[Enter feedback here]
As for the first step: build artifact with YAML file, where should I put the YAML file, and how should I run the YAML file to generate artifact? I am new to this and may need more detailed explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Ind

[2020-06-08 05:06] JaredCross opened #56588 "The IP addresses listed under AzureActiveDirectoryDomainServices aren't correct"
@neeleshray-msft
This is related to the same problem as https://github.com/MicrosoftDocs/azure-docs/issues/53940 that was closed without being resolved.

This worked mostly well for months and began constant failure about 5/30/2020

Using AAD Provisioning to Snowflake on Azure. The IP addresses listed under ActiveDirectoryDomainServices of the JSON document at https://www.microsoft.com/en-us/downl

[2020-06-08 05:14] xieofxie commented on #56243
@ram-msft Thanks. My question here is whether Direct Line Speech channel will support detecting language automatically.

Currently, when using this channel, we should set language explicitly as described here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk#optional-change-the-language-and-bot-voice.

I am just wondering since speec

[2020-06-08 05:17] VikasPullagura-MSFT commented on #56522
@jturver1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-08 05:33] shashishailaj commented on #56588
@JaredCross Thank you for your feedback . We will investigate and update the thread further.

[2020-06-08 05:36] plachor opened #56589 "Invalid code snipet in saml-sso-configure-api"
Hi, on code snippet in section 4 [https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-saml-sso-configure-api#step-4-configure-signing-certificate] in definition of key-credentials private key used for `Sign` must be of type `X509CertAndPassword` rather than `AsymmetricX509Cert`. Other wise you will receive meaningless response that valid usage is either
[`Sign`, `Verify

[2020-06-08 05:36] pvrk commented on #56254
@Klaas-  The limit is a soft-limit. You can try to backup but might experience performance impact. That's it. There is no explicit hard-limit that blocks you from backing up > 2 TB DBs.

[2020-06-08 05:50] shashishailaj commented on #56586
@JaredCross Thank you for your feedback . We will investigate and update the thread further.

[2020-06-08 05:52] SadiqhAhmed-MSFT commented on #56207
@Snozzberries Thanks for sharing more details. Will assign this to the author for further review and update as appropriate.

@rayne-wiselman Kindly review this request and update the documentation as needed.

[2020-06-08 05:54] shashishailaj commented on #56589
@plachor Thank you for your feedback . We will investigate and update the thread further.

[2020-06-08 05:58] ChiragMishra-MSFT commented on #56395
@djpmsft Can you please take a look at this?

[2020-06-08 05:59] MarileeTurscak-MSFT commented on #56580
@autocloudarc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 06:00] ChiragMishra-MSFT commented on #56406
@CeciAc kindly pass on the info after translation to the original forum. I will now proceed to close this issue. Feel free to still comment if there are any queries on the same.

[2020-06-08 06:00] #56406 closed

[2020-06-08 06:01] MarileeTurscak-MSFT commented on #56581
@cagrimunyas
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 06:01] saikumarellendula commented on #56470
Hi,

Could you please update on the request?

[2020-06-08 06:02] saikumarellendula commented on #56445
Hi ,

any luck with update on this request?

[2020-06-08 06:02] MarileeTurscak-MSFT commented on #56583
@MakurodaHotmail
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 06:02] ChiragMishra-MSFT commented on #56438
@saikumarellendula I will now proceed to close this thread. Please feel free to still reply if you have any queries on the same.

[2020-06-08 06:02] #56438 closed

[2020-06-08 06:03] MarileeTurscak-MSFT commented on #56587
@Astersss
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 06:03] CHEEKATLAPRADEEP-MSFT commented on #56289
@arunravimv  This page is dedicated to Azure Databricks and not AWS Databricks.

Looks like you are reffering to AWS Databricks: https://docs.databricks.com/dev-tools/api/latest/scim/scim-users.html, which we don't support.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-08 06:03] #56289 closed

[2020-06-08 06:05] ChiragMishra-MSFT commented on #56445
@saikumarellendula This channel is for driving improvements towards MS Docs. Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)

Once you post your issue on forums, it will have visibility across the community which is a **better suited audience for su

[2020-06-08 06:05] #56445 closed

[2020-06-08 06:08] ChiragMishra-MSFT commented on #56226
@Hasil-Sharma This channel is for driving improvements towards MS Docs. Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such type

[2020-06-08 06:08] #56226 closed

[2020-06-08 06:09] ChiragMishra-MSFT commented on #56226
@Hasil-Sharma To get you unblocked, here is a useful forum post :

https://stackoverflow.com/a/54893716/10653466

Hope this helps.

[2020-06-08 06:20] puthurr opened #56591 "READ v3.0 has better image input requirements than v2.0"
**In v3.0**
[READ API](https://westcentralus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-ga/operations/5d986960601faab4bf452005)

we see those Input Requirement
* Supported image formats: JPEG, PNG, BMP, PDF and TIFF.
* For PDF and TIFF, up to 2000 pages are processed.
* For free tier subscribers, only the first 2 pages are processed.
* Image file size must be less than 50 MB.
* I

[2020-06-08 06:30] CHEEKATLAPRADEEP-MSFT commented on #56565
@jianyeliu  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - Microsoft Q&A tag - [azure-synapse-analytics](https://docs.microsoft.com/en-us/answers/topics/azure-synapse-analytics.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-06-08 06:30] #56565 closed

[2020-06-08 06:33] pintse commented on #51805
Hi @levi106,
I encounter the same issue.
Could you please share the solution if you have?
Thank you!

[2020-06-08 06:34] CHEEKATLAPRADEEP-MSFT commented on #56503
@CeciAc  Thanks for your contribution, I've addressed this issue in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/117995
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-06-08 06:34] #56503 closed

[2020-06-08 06:40] BhargaviAnnadevara-MSFT commented on #53954
@jwisener Thank you for the feedback. I have reached out to the PM team that owns this experience, which actually isn't App Insights, but the Azure Data Explorer team who own the Kusto query language which Azure Monitor/Log Analytics/App Insights use. The team is open to revisiting the feature request.

Hence the request is to open a new UserVoice idea here: [**Feedback Forum for Azure Data Explor

[2020-06-08 06:40] souravmishra-msft commented on #56242
@lifan0127, Closing this thread as of now, since no response on this.

[2020-06-08 06:47] amanmcse commented on #56232
@nakkeerann Closing the thread now. Feel free to tag me in your reply if you have any quesiton.

[2020-06-08 06:51] CHEEKATLAPRADEEP-MSFT commented on #56574
@RonnieQuan The self-hosted IR can be set up either on-premises or on an Azure VM
to access your data stores. Setting it up on an Azure VM
for the ease of manageability and network setup compared to the on-premise machine.

[2020-06-08 06:56] BhargaviAnnadevara-MSFT opened #56593 ".NET Core Troubleshooting Logs nuget package name #25658"
_Originally posted by @bogan in https://github.com/MicrosoftDocs/azure-docs/issues/25658#issuecomment-621796732_

Summarizing feedback:
1. This still appears to be a problem. The hyperlink in Point 1 still refers to .NET Framework version.
2. Also, the sentence beginning "Hence the version of Microsoft.AspNet.ApplicationInsights.HostingStartup..." also refers to the .NET Framework version.
3. Last

[2020-06-08 07:01] pvdwerf commented on #47255
Today I have a conf. call with Microsoft hopefully this will help else I have to find another solution

[2020-06-08 07:13] VikasPullagura-MSFT commented on #56575
@DanielCarltonABT Thanks for pointing this out.
I have updated the document,changes will go live soon.

[2020-06-08 07:13] Taaqif commented on #56475
Experiencing the same issue with a different identity provider

[2020-06-08 07:16] #56494 closed

[2020-06-08 07:18] BhargaviAnnadevara-MSFT commented on #25658
@bogan Thanks a lot for catching those errors and bringing it to our attention! I've opened a new issue here: https://github.com/MicrosoftDocs/azure-docs/issues/56593 to track these items separately.

[2020-06-08 07:21] zamdani30 commented on #56575
I Have to log off

Sent from my iPhone

[2020-06-08 07:23] ru-sh commented on #56541
Thank you!

On Mon, Jun 8, 2020, 3:40 AM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-06-08 07:27] VikasPullagura-MSFT commented on #56557
@olavt
As you stated in the Feedback _"First it looks like this is a definition of an Availability Zone:"_ No it was not the AZ definition and you rightly pointed the definition of AZ as _"An Availability Zone in Azure is an unique physical locations within a region. Each zone is made up of one or more datacenters equipped with independent power, cooling, and networking."_

Thanks for the feedback

[2020-06-08 07:28] VikasPullagura-MSFT commented on #56557
@cynthn Can you please look into this and add your comments.

[2020-06-08 07:31] zamdani30 commented on #56593
What is all this

Sent from my iPhone

[2020-06-08 07:33] RohitMungi-MSFT commented on #56446
@justinormont Yes, the docs site is using the correct version. The docs snippet should work fine with this version. I will go ahead and close this issue. Thanks for raising the issue on github sample.

[2020-06-08 07:36] VikasPullagura-MSFT commented on #56183
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-08 07:36] #56183 closed

[2020-06-08 07:37] VikasPullagura-MSFT commented on #56331
@nikoskip
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-08 07:37] #56331 closed

[2020-06-08 07:38] odufresne commented on #56192
Hi,
Thanks!

If you need some help or screen of the problem, i'm here.

Have a nice day. :)

[2020-06-08 07:41] dcurwin commented on #56542
#assign:pvrk

[2020-06-08 07:46] SnehaAgrawal-MSFT commented on #56443
@JeryLu2020 Thanks for reaching here. Could you please elaborate on your query to help you better on this.

[2020-06-08 07:47] amanmcse commented on #56349
@atcaoyufei  There are certain permissions that require admin approval only. For example in below screenshot, the permissions where admin consent required is set to '**Yes**' would not accept user consent. Only the permissions where admin consent required is set to '**-**' can be consented by users.
![image](https://user-images.githubusercontent.com/33834131/84004866-dc4f0000-a989-11ea-8f50-c8a81b

[2020-06-08 07:52] heinejeppesen opened #56595 "Incorrect information"
Hybrid Azure AD joined
Devices that are hybrid Azure AD joined are owned by an organization**, and are signed in with an Azure AD account belonging to that organization.** They exist in the cloud and on-premises.

The above sentence must be wrong? You cannot sign into an hybrid joined devices, using an Azure AD account. You need to use an on-premise account, sync'ed to Azure or not.

---
#### Docu

[2020-06-08 08:01] hatasaki opened #56596 "No exec permission of KubernetesDNSManager"
[Enter feedback here]
When I tried to execute debug on VS Code, I got permission error of KubernetesDNSManager. It seems that KubernetesDNSManager doesn't have exec permisson.
So after adding exec permission by 'chmod +x ~/lib/azds-cli/KubernetesDNSManager' it works well so far.
My client is MacOS, and both azds cli and dev spaces extension of VS Code are current lates version(released on 5th June

[2020-06-08 08:12] vipulsparsh commented on #56405
@andresu13  ASC can be tied with either subscription or workspace. We do not have options to specify the pricing option for resource groups. Subscription are inclusive of the Resource groups which which may contains multiple resource groups.

[2020-06-08 08:16] clement911 opened #56597 "Migrating from Hyperscale to other tiers."
Will it ever be possible to migrate from Hyperscale to an other tier?

We can't confidently try out Hyperscale without being able to revert to our current tier (Business critical) if something goes wrong or if performance is not acceptable.

We understood this limitation would be removed fairly quickly but nothing has happened for months.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-08 08:23] ithahn opened #56598 "Document need update on new VM types"
Hi,

I'm missing details on Fv2 and HBv2.

Regards,
Klaus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Content: [Compute benchmark scores for Azure Windows VMs - Azure Windows Virtual Machines](https://docs.microsoft

[2020-06-08 08:27] amanmcse commented on #56379
@AmitavaHazra Please refer to below section in the document. For federated deployments, you need to configure Extranet Smart Lockout (ESL) in ADFS. This document is for managed users or the users who leverage Pass-Through Authentication (PTA) and not for federated users.

[2020-06-08 08:27] #56379 closed

[2020-06-08 08:28] nc-emt opened #56599 "Spelling error, second Note section"
Spelling error.

The second **Note** section spells "account" as "accoutn".

Copy from the page:

_The Event Trigger currently supports only Azure Data Lake Storage Gen2 and General-purpose version 2 storage accounts. You must have at least Owner access on the storage **accoutn**. Due to an Azure Event Grid limitation, Azure Data Factory only supports a maximum of 500 event triggers per storage ac

[2020-06-08 08:32] Usamawahabkhan opened #56600 "sudo apt-get -y install stress not working"
[Enter feedback here]

Building dependency tree
Reading state information... Done
Package stress is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'stress' has no installation candidate
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-08 08:35] atcaoyufei commented on #56349
scope: offline_access Files.ReadWrite.All

[2020-06-08 08:40] jjindrich commented on #56160
Hi, unfortunately this is not helpful. I can create vnet link after cluster is created, but cluster is not create because missing vnet link. I cannot run CLI command during cluster creation process (process failed to quickly). Can you publish clear steps how to do that ?

[2020-06-08 08:43] vipulsparsh commented on #56417
@alan-hu Thanks for the feedback. Please share you feedback on this [forum ](https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/34379467-license-references-to-accountskuid)where our product group checks regularly for any next features/ideas to be implemented.
If you feel this is the closest to what you are trying to see in our product, you can upvote it, if not  you can cre

[2020-06-08 09:02] VikasPullagura-MSFT commented on #56484
@kvsrkrishnan
Looks like you are deploying [Fall Update](https://docs.microsoft.com/en-us/azure/virtual-desktop/virtual-desktop-fall-2019/environment-setup-2019#app-groups) and checking documentation of [Spring Update](https://docs.microsoft.com/en-us/azure/virtual-desktop/environment-setup#app-groups).

Please check the latest Fall update doc where it is mentioned in the document that "Fall Updat

[2020-06-08 09:05] AlexMikhalev opened #56603 "blubfuse mount command have two mistakes in it"
[Enter feedback here]

blubfuse mount command have two mistakes in it:
1) it should be run without sudo
2) path to mount point should be absolute
See https://github.com/Azure/azure-storage-fuse/blob/master/mount.sh
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent

[2020-06-08 09:17] KosukeHosoda opened #56604 "the condition regarding "compute unit guidance""
I would like to ask you about the condition regarding the below "compute unit guidance".

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#feature-comparison-between-v1-sku-and-v2-sku
\----------------------
Compute unit guidance:
Standard_v2 - Each compute unit is capable of approximately 50 connections per second with RSA 2048-bit key TLS

[2020-06-08 09:35] ram-msft commented on #56269
@AhmedElwy Thanks for the details.If possible could you please share your KB/File.

@cahann Could you please confirm any limitation on nested prompts creation of the multi turn conversations.

[2020-06-08 09:40] AmitavaHazra commented on #56379
Thanks @amanmcse
Can you please have a look on the below query if you can answer.
https://github.com/MicrosoftDocs/azure-docs/issues/56431

[2020-06-08 09:43] ChrisAtMAF opened #56605 "'Get notified' RSS feed is broken"
The RSS feed 'https://docs.microsoft.com/api/search/rss?search=%22Release+notes+-+Azure+Active+Directory%22&locale=en-us' given to keep updated on this page does not work as described.

The most recent updated post on the RSS feed was Thu, 27 Feb 2020 00:00:00 GMT and the page has been updated many times since then.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-06-08 09:45] dwnz1 commented on #30898
Oddly, I'm getting the opposite. If I use the pre-defined user flows I'm getting the compact? token, but with custom policies implemented using Microsoft's documentation and custom policy templates, combined with this documentation here to pass access token: https://docs.microsoft.com/en-us/azure/active-directory-b2c/idp-pass-through-custom I get a valid JWT which can be used for subsequent calls.

[2020-06-08 09:47] cahann commented on #56269
@pchoudhari can comment on QnA maker related questions

[2020-06-08 09:47] justinormont commented on #56446
Well, the [Quick Start Guide](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/image-classification?pivots=programming-language-javascript) reads as if the code is broken. The issue is the code block is broken between into sections.  I think it can be helped using indentation, or by merging the sections.

The Quick Start Guide is using this odd format:

G

[2020-06-08 09:50] onkarthg opened #56606 "Facing issue in curl method"
Hello Team,
I am facing the error in Curl operation.

when I am using following command as per documentation on linux machine showing error indentity not foud.

adding this command for refereance
 curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net' -H Metadata:true
please check this error
![image](https://user-images.githubuser

[2020-06-08 09:56] ebrucucen opened #56607 "Azure Functions need to be included in the regions table"
There is another [blogpost](https://azure.github.io/AppService/2020/03/16/Public-Preview-of-Private-Link-on-App-Service.html) announcement about Azure Functions can have a private link, this table needs to be updated with the regions East US and West US 2, so that we can keep track of =the updates on this central page with the upcoming updates.

---
#### Document Details

⚠ *Do not edit this secti

[2020-06-08 10:01] SimonSimCity opened #56608 "The screenshots on this page are quite outdated."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52009ea9-bd18-16cf-30cc-5ab2b85d0d44
* Version Independent ID: 56a1a5c6-c760-e0e9-e6c7-2e9687bcc775
* Content: [Azure Front Door - URL Redirect](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-url-redirect)
* Content Source: [articles/fron

[2020-06-08 10:06] MightyPen commented on #56520
@dbeavon Hello David, The fix you suggested should appear live on Docs by end-of-business Monday 2020-June-08.

Thank you for sharing your idea of Docs improvement with us, and the particulars of your scenario and experience.

I am now Closing this Issue #56520, as fixed.
We hope to hear from you again if you encounter other informative situations.

#please-close &nbsp; _(to Microsoft GitHub Revie

[2020-06-08 10:06] #56520 closed

[2020-06-08 10:10] souravmishra-msft commented on #56365
@alvipeo, Ideally in case of B2C, when trying to perform the app registration, the following option "**Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C**" can be selected.

I agree this point is missing in the document and allow us sometime, will incorporate the changes in the doc soon.

[2020-06-08 10:11] souravmishra-msft commented on #56365
@msmimart, Can you please take a look at this and update the doc.

[2020-06-08 10:12] #56363 closed

[2020-06-08 10:14] KalyanChanumolu-MSFT commented on #56597
@clement911 Thank you for reaching out.
This is being assigned to the content owner to provide more insights.

[2020-06-08 10:25] RohitMungi-MSFT commented on #56492
#https://github.com/MicrosoftDocs/azure-docs/issues/52204

[2020-06-08 10:27] BlackMercy opened #56609 "Migrate DTU to vCore topic links to wrong page"
When I click on "Migrate DTU to vCore" topic on the left navigation menu, it links to "Use Resource Health for connectivity issues" page.

Also, when I click on "Use Resource Health for connectivity issues" topic, it shows the correct page but navigation menu got highlighted at "Migrate DTU to vCore" topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-06-08 10:36] RohitMungi-MSFT commented on #56546
@stevenluda For the experiment in this setup the compute target uses compute cluster with minimum number of nodes set to 0. So, when the compute cluster is not in use the nodes will be removed automatically.

For remote VMs you can use the steps mentioned [here ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets#vm)to attach the compute target using the SDK.

[2020-06-08 10:41] craigshoemaker commented on #56537
I have removed "free" from the description for web hosting.

#please-close

[2020-06-08 10:41] #56537 closed

[2020-06-08 10:53] k-maheshkumar opened #56610 "Missing camera performance result"
I can see different metrics explained for evaluating the camera's performance but the result for the same for the different working ranges has not been published.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75b2ded-1fdd-b7c3-f312-b9f5ed6fd96d
* Version Independent ID: f232535d-ac4f-f4cd-6e92-4616913b2ea7
* Content:

[2020-06-08 10:59] souravmishra-msft commented on #56381
@bh56, Unfortunately there is no way to query the Source Property using PowerShell or Graph API, since its not exposed for both of those yet.  Since the PowerShell cmdlets uses Graph API call and Graph API will only return the properties listed in the user's schema (https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user). The schema determines what Properties the Graph

[2020-06-08 11:01] shashishailaj commented on #56605
@ChrisAtMAF Thank you for your feedback . We will have this investigated and update the thread.

[2020-06-08 11:02] shashishailaj commented on #56595
@heinejeppesen  Thank you for your feedback . We will have this investigated and update the thread.

[2020-06-08 11:04] zamdani30 commented on #56546
How do I start this azure Microsoft

[2020-06-08 11:15] ChrisAtMAF opened #56611 "Corrections to steps on setting up UserType for Azure AD Connect"
Step 3: Add the UserType to the Azure AD Connector schema
should say
Step 3: Add the UserType attribute to the Azure AD Connector schema

Under Step 6: Run a full synchronization cycle, Step 1. a says 'Go to the Operations tab in the Synchronization Service Manager.'. This should be 'Go to the Connectors tab in the Synchronization Service Manager'

---
#### Document Details

⚠ *Do not edit this se

[2020-06-08 11:32] v-nagta commented on #50055
No action needed

#please-close

[2020-06-08 11:32] #50055 closed

[2020-06-08 11:35] v-nagta commented on #52796
#please-close

[2020-06-08 11:35] #52796 closed

[2020-06-08 11:44] MakurodaHotmail commented on #56583
@MarileeTurscak-MSFT
Thank for checking my issue. I'm waiting for your update. If you need more information, please let me know.

[2020-06-08 11:48] AhmedElwy commented on #56269
Attached is the request body Json of the UpdateKbOperationDTO object using the updateAsync function from the "Microsoft.Azure.CognitiveServices.Knowledge.QnAMaker" SDK

[2020-06-08 11:48] v-nagta commented on #29388
@lukemcnz We have updated the article

#please-close

[2020-06-08 11:48] #29388 closed

[2020-06-08 11:54] BhargaviAnnadevara-MSFT commented on #56596
@hatasaki Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-08 11:57] CHEEKATLAPRADEEP-MSFT commented on #56599
@nc-emt Thanks for your contribution, I've addressed this issue in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/118011
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-06-08 11:57] #56599 closed

[2020-06-08 11:58] rriley99 opened #56612 "Handling Bad Requests"
Are there any recommended best practices for handling different results for the Rest API calls? Such as an expired token or a malformed request etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9da1816-3f64-bd45-443f-5bdb48bacc24
* Version Independent ID: e649f787-62da-fc97-2e9a-ba89765beed4
* Content: [Copy data fr

[2020-06-08 12:00] VikasPullagura-MSFT commented on #56598
@ithahn
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-08 12:01] oenayet commented on #12216
@SibonayK @RyanLWilliams   Hello, I'm currently using Windows 10, I have an archiving solution that creates a stub file with offline bit set, but Windows Defender still attempts to read the file.  Is there a setting that can be used to skip offline files ?? How can i turn it on?

[2020-06-08 12:01] v-nagta commented on #45358
@CeciAc @hisssa Can you please provide the updated screenshot or please close the request as I have not received any response on this thread

[2020-06-08 12:15] #54649 closed

[2020-06-08 12:15] abmis-dev commented on #33157
I have been trying to fetch secrets and certificates from KeyVault onto my cluster via Application Gateway which fails my application since it can't authenticate to KV and that results in a Bad Gateway error.

Connection id "0HM0BI3H5TUJP", Request id "0HM0BI3H5TUJP:00000001": An unhandled exception was thrown by the application.
Connection id "0HM0BI3H5TUNQ", Request id "0HM0BI3H5TUNQ:00000002":

[2020-06-08 12:20] kiwibayer commented on #54200
Hey all,

Just raising this as the issues has been mentioned multiple times by my customers. Can we correct the information.

[2020-06-08 12:27] rambabu0063 commented on #56542
Thank you so much @pvrk .
 it is working now

[2020-06-08 12:27] nerajput1607 commented on #56269
Please share more details about the failed request, to debug the issue better.
We do not have limits for depth of the prompts during request validation. Request has limit for max length of display text in each prompt(500 chars) and max number of prompts in a node(20 prompts).

[2020-06-08 12:28] #55045 closed

[2020-06-08 12:32] nikolapeja6 opened #56614 "Wrong syntax highlighting for SQL comments"
The syntax highlighting for SQL is probably derived form PowerShell and recognizes `#` as a start of a comment. However, in SQL comments start with `--` and `#` is used for temp tables (at least in T-SQL). An example of the wrong highlighting is below.

[Online example](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-temporary)
[Source .md file](https://github.com/Micro

[2020-06-08 12:32] AmitavaHazra opened #56615 "Password complexity in Azure AD password policy"
How can we modify password restriction in Azure AD password policy.
Password complexity of character length, allowed character and all. ??

Please help.

Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829

[2020-06-08 12:36] AhmedElwy commented on #56269
This is the Exception Response from the KnwoledgeBase.updateAsync function:

{
    "request": {
        "method": {
            "method": "PATCH"
        },
        "requestUri": "https://westus.api.cognitive.microsoft.com/qnamaker/v4.0/knowledgebases/75743eb1-f693-441d-913c-85e543a243ad",
        "properties": {},
        "content": "{\r\n  \"add\": {\r\n    \"qnaList\": [\r\n      {\r\n        \

[2020-06-08 12:39] alistairl opened #56616 "Small typo in section Prepare the VHD image for Azure"
There is a small typo in this page section entitled "Prepare the VHD image for Azure" which refers to the Hyper-V command i.e. ".. you must enable Hyper-V because you'll be using the Mound-VHD command" - the command is actually Mount-VHD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f1

[2020-06-08 12:41] vipulsparsh commented on #56431
@AmitavaHazra  The article which you mentioned talks about the AAD user's password expiration and that is why any on-prem user will be not affected by any such password expiration policies.
If you want ADFS to be able to pass the password expiry claim for on-prem users for its repying party like office 365, you would have configure something like [this ](https://docs.microsoft.com/en-us/windows-se

[2020-06-08 12:42] SadiqhAhmed-MSFT commented on #56542
@rambabu0063 Thanks for the update! Glad to hear your issue is resolved :)

@pvrk Thanks for helping here. Much appreciate it.

Closing this issue for now as no further discussion required.

[2020-06-08 12:42] #56542 closed

[2020-06-08 12:44] simo-92 commented on #56021
Thanks for the reply. I thought that simply accessing with an admin the whole consent was prompted. But i figured that is necessary access first to the specific link for the admin conenst.

Thanks

[2020-06-08 12:44] ChrisAtMAF opened #56617 "Difference between State 1/2 and State 3/4 users as SharePoint 'External' users"
We recently enabled a set of on-premises AD users for 'Guest' access within Azure AD (to create a State 3 user).

We expected this would mean the user would no longer be able to access our SharePoint Online Intranet, as the main permission entry for that site used 'Everyone except external users' to grant Visitor permissions.

However our experience was different, and reading the following article

[2020-06-08 12:46] vipulsparsh commented on #56348
@AlexanderSaad The end user with Gmail.com account should be able to access the package using the "MyAccess" portal URL and can see or request for access as per the permission configured while creating the Access package.

Can you try sharing the Access link and see if the end user can access the package as mentioned in this [link](https://docs.microsoft.com/en-us/azure/active-directory/governance

[2020-06-08 12:48] corporateg opened #56618 "URL displayed incorrectly"
Link to section with issue: https://docs.microsoft.com/en-us/azure/backup/install-mars-agent#verify-internet-access
Description:
Under "Install MARS Agent" > "Verify internet access" a URL is displayed incorrectly.
URL is shown as:
www\.msftncsi.com
URL should be shown as:
www.msftncsi.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-08 12:50] SubhashVasarapu-MSFT commented on #56549
@keatseongchan , Appreciate your patience. You should be able to compensate this downtime by deploying and managing certificates through Azure key vault. You can in turn add both the certificates to AppGw HTTP settings and remove the old one once the change is done on the APIM side.

Users can reference SSL certificates from Key Vault in the Application Gateway. Also, it periodically checks for an

[2020-06-08 12:51] dcurwin commented on #56618
#reassign:dcurwin

[2020-06-08 12:55] AmitavaHazra commented on #56431
@vipulsparsh ,

Thanks for your confirmation. Please just clarify me below points.

Let's assume we don't have any password expiration policy configured in ADFS and we have above set up which I mentioned in top query.

In that case will my on prem AD password expiration policy will be applicable ? [user is accessing myapps.microsoft.com portal as an example.]

[2020-06-08 12:59] onkarthg commented on #56606
Hello @PRMerger18 Not found any relevent solution, please help me on this.

[2020-06-08 13:00] dcurwin commented on #56618
Thank you for noticing the error. It has been corrected.

#please-close

[2020-06-08 13:00] #56618 closed

[2020-06-08 13:05] MonikaReddy-MSFT commented on #56205
@curtstate - Thanks for providing additional information. I will work on getting the doc updated to clearly mention this out. Thanks again for bringing this to our attention.

[2020-06-08 13:10] dimitri-furman commented on #56597
@clement911 Yes, we are planning to support changing the service tier from Hyperscale to other service tiers. I do not have a timeline to announce at this point, but we do recognize the importance of this, and the fact that some customers are hesitant to adopt Hyperscale otherwise.

The approach that has worked for many customers so far is to create a copy of their database, migrate it to Hypersca

[2020-06-08 13:15] craigshoemaker commented on #56462
Thanks for the suggestion, @benc-uk!

This repo is for the documentation, but you can make product suggestions by creating an [issue in the static-web-apps repo](https://github.com/azure/static-web-apps/issues).

#please-close

[2020-06-08 13:15] #56462 closed

[2020-06-08 13:18] craigshoemaker commented on #55827
Since it's been a week with no response, I am going to #please-close this issue. @mjboggs, please feel free to re-open if you still think there are more changes required. Thanks again for your feedback.

[2020-06-08 13:18] #55827 closed

[2020-06-08 13:19] bh56 commented on #56381
Thanks for your response and confirming it's not available.  I voted on
UserVoice.
You can close this thread out.
Thanks for your help!

On Mon, Jun 8, 2020 at 5:59 AM souravmishra-msft <notifications@github.com>
wrote:

--
______________________________________________
Brian Hugh
*Business Technology Solutions, Inc.*
brian.hugh@btsbiz.com | 612.208.7287 | www.btsbiz.com
__________________________

[2020-06-08 13:21] VikasPullagura-MSFT commented on #56616
@alistairl Thanks for pointing this. The doc is updated and changes will go live soon.

[2020-06-08 13:24] aewilliams1705 opened #56620 "Error in REST URI Provided in Step 3"
The URI provided in Step 3 of the Configure with REST command appears to be wrong, I believe it should be **/servers/{serverName}/auditingSettings/default** the provided URI Expects Location to be provided and does not update the Audit settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5d04af-000b-a895-c22d-fe8

[2020-06-08 13:31] maartenkools opened #56621 "It's unclear what is meant by "actual allocation""
On the page about HyperScale databases there is mentioned:

What is meant by _actual allocation_? The allocated space, or the space used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version Independent ID: bd7b284c-9cc5-c656-875b-d9b72568cb2e
* Content: [What is the Hyperscale

[2020-06-08 13:40] vipulsparsh commented on #56431
@AmitavaHazra  If you are not utilizing password hash sync, then your on-prem password policy will be applicable. So in your scenario if you have ADFS, you will have the on-prem password policy which will be applicable.

For a password hash sync scenario,  If a user is in the scope of password hash synchronization, by default the cloud account password is set to Never Expire. You can continue to s

[2020-06-08 13:45] amanmcse commented on #56349
@atcaoyufei Could you please share the complete request URL which initiate the consent framework?

[2020-06-08 13:46] jordanbean1 commented on #56347
Thank you for following up.

I think my issue was missing "expressionEvaluationOptions" as I have never seen or used this option before.

[2020-06-08 13:46] #56347 closed

[2020-06-08 13:50] clement911 commented on #56597
Thanks @dimitri-furman  but for us it would be very hard to test our production workload on a copy of the db.

On the other hand, if we could, we would easily do the following.
1) Migrate to Hyperscale
2) Monitor for a few hours/days
3) Decide whether to stay on Hyperscale or revert to Business critical

Our database is about 2TB and growing fast, so we are very interested in Hyperscale, but it's

[2020-06-08 13:52] AmitavaHazra commented on #56431
@vipulsparsh ,
All clear now sir :) Thanks a lot

[2020-06-08 13:53] #56431 closed

[2020-06-08 13:53] AmitavaHazra commented on #56615
@vipulsparsh , can you please comment and assist here.

[2020-06-08 13:56] AshokPeddakotla-MSFT commented on #56591
@puthurr  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 13:57] AshokPeddakotla-MSFT commented on #56600
@Usamawahabkhan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 13:57] pag08007 commented on #56492
@RohitMungi-MSFT

I had found that github issue prior to opening up this ticket. But that ticket address models deployed to **ACI**. I am having these issues for a model deployed to **AKS**. Also, I had tried the mentioned workaround previously and I continue to have the same issues.

![image](https://user-images.githubusercontent.com/11523854/84038795-5f625d00-a96e-11ea-9ede-4434f11db9e8.png)

[2020-06-08 13:59] AshokPeddakotla-MSFT commented on #56603
@AlexMikhalev Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 14:00] stefan-hudelmaier opened #56622 "Formatting of ClusterIssuer Yaml is not correct"
This should be the correct formatting:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f1d-8c31d45af0ef
* Content: [Use LetsEncrypt.org certificates with Application Gateway](https://docs.microsoft.com/en-us/azure/application-gatew

[2020-06-08 14:00] karthikeyanVK opened #56623 "Multiple thread"
Current app service runs on single thread, how to enable multiple thread.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Quickstart: Create a Linux Python app - Azure App Service](https://docs.microsoft.com/e

[2020-06-08 14:01] FredrikDahlberg opened #56624 "Broken"
The example is broken. Missing usings and I believe it should be RefreshAsync(). Also, the functionality is broken. Cache is always ignored and does not work as specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e873ff-4355-498f-d3d3-d404644981bd
* Version Independent ID: 84465809-2226-c06d-e21c-ff0910d954b6
*

[2020-06-08 14:02] memildin commented on #56081
#please-close

[2020-06-08 14:02] #56081 closed

[2020-06-08 14:07] KelumPerera opened #56625 "How to import CSV or similar data from SharePoint site"
[Enter feedback here]
How to import data from the SharePoint site into an azure notebook without uploading again to the azure notebook?

Pls describe what python libraries should be used to authentications and appreciate if you can add a sample code for this.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bc221c-0987-

[2020-06-08 14:11] RohitMungi-MSFT commented on #56492
@sidramadoss Could you please help us on this issue when a model is deployed to AKS?

[2020-06-08 14:12] abhishakemitra commented on #56081
As Azure themselves are prescribing Cogent IP to be whitelisted, there should be some formal agreement that this IP is static to Qualys only. Otherwise the risk increases significantly if the IP is dunamic and some other customer would gain access.

Is there any way this forma agreement can be shared?

[2020-06-08 14:13] pierreyvesv commented on #20171
sorry to comment in a closed ticket but I just found a work around:
in the file /etc/pam.d/common-account comment out the line:
`account       [success=2 ignore=ignore default=die]  pam_aad.so`

then you'll be able to authenticate to the server

[2020-06-08 14:13] abhishakemitra commented on #56081
@memildin @PRMerger6

[2020-06-08 14:32] VikasPullagura-MSFT commented on #56536
@mozahra I just ran the command from the tutorial on one of the VM by adding data disk. I am able to get the expected output of the command `$vm.StorageProfile.DataDisks`.

After RDP into the VM and running the command `Get-Disk` inside the VM as Administrator on powershell. I switched back to CloudShell where I was running the tutorial and got expected output.

To debug your issue you can try `$v

[2020-06-08 14:35] ram-msft commented on #56243
@trevorbye Could you please share any road map to support Speech Services automatic Language Identification for Direct Line Speech channel.

[2020-06-08 14:53] AirLancer commented on #55972
I figured out a way to make it work.
I'm not sure whether it is a workaround or just the way to do it:
What I changed was the AAD instance to:

- `$"https://login.microsoftonline.com/{TenantId}/v2.0"`

Not the v2.0 at the end.
And what was missing is a proper explanation what needs to be added as the scope:

- `$"{AppProxyAppId}/user_impersonation"`

where the 'AppProxyAppId' is the Application Id

[2020-06-08 14:54] TPIvan opened #56626 "FileStorage option is not available Azure portal"
The page states that it is possible to set FileStorage option for account kind but it is not available in the list.
![Create storage account](https://user-images.githubusercontent.com/39948593/84044888-6dcd6a80-a9a8-11ea-961b-415d033ba1dd.png)
Creating with Azure CLI (az storage account create --kind FileStorage) works as described.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-08 14:57] mumian commented on #56577
@pretty25 - check your storage account name.  In the error message, it says "'code': 'AccountNameInvalid', 'message': 'php-webappstore is not a valid storage account name. Storage account name must be between 3 and 24 characters in length and use numbers and lower-case letters only.'"

#please-close

[2020-06-08 14:57] #56577 closed

[2020-06-08 14:58] rblock-aw opened #56627 "Tiller is removed in Helm 3"
According to https://helm.sh/docs/faq/#removal-of-tiller, the Tiller component has been removed in Helm 3. It is still being presented as an integral part of Helm on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e8

[2020-06-08 15:06] Surendra-thota1640 commented on #32940
we are using the same code , but we added audiance also  in the body grant_type=client_credentials&client_id=<ServicePrincipal_appID>&client_secret=<ServicePrincipal_Secret>  , then we are getting wrong access_token . what would be the issue . we are autherized or invalid token .

[2020-06-08 15:13] pererap01 commented on #33157
I have been working with an Engineer from MS
This the summary of what i have found out
1. Delete any certs associate with Appgateway listeners. Basically removing all appgateway installed certs
to check: PS
az network application-gateway ssl-cert list -g (resource group) --gateway-name (gateway name)
if the following shows up
"keyVaultSecretId": null,
the cert is installed on appgateway and most b

[2020-06-08 15:18] PatrickMessierGoC opened #56632 "Potential typo"
This phrase is unclear: "Additionally, once the value of the Private network access is set to customers cannot add and/or update existing ‘Firewall rules’ and ‘VNet service endpoint rule"

I believe it should read as "Additionally, once the value of the Private network access is set, customers cannot add and/or update existing ‘Firewall rules’ and ‘VNet service endpoint rule".

---
#### Document d

[2020-06-08 15:27] Exnav29 opened #56634 "Bias-Free Communications Note"
This document contains wording which could be seen as being exclusionary. I would suggest adding a note as below to recognize this and to explain why this wording is used within the document:

Microsoft supports a diverse and inclusionary environment.  Within this document, there are references to the word 'slave.' Microsoft's [Style Guide for Bias-Free Communications](https://github.com/Microsoft

[2020-06-08 15:27] AshokPeddakotla-MSFT commented on #56610
@k-maheshkumar Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 15:28] AshokPeddakotla-MSFT commented on #56604
@KosukeHosoda Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 15:29] AshokPeddakotla-MSFT commented on #56606
@onkarthg Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-08 15:31] MonikaReddy-MSFT commented on #56624
@FredrikDahlberg ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-08 15:31] AshokPeddakotla-MSFT commented on #56608
@SimonSimCity Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-08 15:31] geedsen opened #56636 "Microsoft Id , unique across tenants? Can it change?"
We  collect information of users using the Graph api, and are storing the azure user objectid in tables for our application. With the tenant id.  What we do not know for certain is if we should make the primary key, just the objectid, or objectid + tenantid. What this article is missing is information about the unique id. It says the id is unique. But is it unique across tenants. Googling this que

[2020-06-08 15:32] AshokPeddakotla-MSFT commented on #56609
@BlackMercy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 15:34] stateofthearb opened #56638 "Does the Azure Virtual WAN P2S Gateway use a static IP address ? I need to whitelist the IP address with 3rd party providers."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-08 15:37] SumanthMarigowda-MSFT commented on #55914
@Ayanmullick Taking offline! and resolution will be updated asap, For now we will now proceed to close this thread. We will gladly continue the discussion and we will reopen the issue.

[2020-06-08 15:37] #55914 closed

[2020-06-08 15:37] markvogt opened #56640 "WHERE are the SAMPLE CODES FOR EACH of these SCENARIOS???????"
HOW COULD YOU WRITE THIS CRITICALLY-IMPORTANT ARTICLE with ABSOLUTELY NO ACTUAL CODE SAMPLES WHATSOEVER????

WHAT are you THINKING here Microsoft ????

-Mark Vogt in North Aurora IL
630 781 9978 mobile
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c12ad-ea7f-5b0a-2322-582720ee76fc
* Version In

[2020-06-08 15:42] RajputDeepak opened #56642 "Wrong Description"
[The following statement "**_The primary difference between GRS and GZRS is how data is replicated in the primary region. Within the secondary location, data is always replicated synchronously three times using LRS._**" seems to be incorrect.Within the secondary location,data is always replicated "Asynchronously"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-06-08 15:43] mindwarex opened #56643 "Pre-req section missing C++ Redistributable for VS 2015"
Following installation, NPS failed to start due to the MFA module. After reviewing Process Monitor logs, I saw attempts to "api-ms-win-crt-runtime-l1-1-0.dll" failing due to not being present (only the 2013 re-distributable was installed on this machine). I had to install the Visual C++ Redistributable for Visual Studio 2015 which made the missing library available & resolved the issue.

The docum

[2020-06-08 15:45] qianw211 commented on #56196
@roelgillesen No, it'snot possible. Thanks for asking.

#please-close

[2020-06-08 15:45] #56196 closed

[2020-06-08 15:46] rolyon commented on #56412
Hi @ariso353
Thanks for your feedback. I'll check into this.

[2020-06-08 15:49] SergGu opened #56644 "Azure updates page still reports this as a preview"
Hello Documentation Team,

I believe this Azure page needs to be updated since it is still reporting it being in preview -
https://azure.microsoft.com/en-gb/updates/vulnerability-assessment-in-azure-security-center/

Regards,
Serg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747a2c52-c59c-dedc-9c72-6b6352ea2cab
* Ver

[2020-06-08 15:53] memildin commented on #55893
Thanks for the feedback. The updated page will be live in the next few days.
#please-close

[2020-06-08 15:53] #55893 closed

[2020-06-08 16:02] SaurabhSharma-MSFT commented on #56644
@memildin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-08 16:03] deena211 opened #56645 "Unable to extract child entities (sub entities) of the ML entity using Luis Result."
I am trying to extract the subentity data of ML entity using Luis Result in C#. I am able to extract the ML entity subentity's values in the test panel as well as while I make a request to Luis endpoint. But it doesn't show up in the Luis Result. Where it gives only the parent ML entity value in string format instead of giving an object containing the details about the sub-entities.

#### Document

[2020-06-08 16:03] SaurabhSharma-MSFT commented on #56643
@mindwarex Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-08 16:05] SaurabhSharma-MSFT commented on #56640
@markvogt Thanks for the feedback !  I have assigned this issue to content author to investigate and update.

[2020-06-08 16:07] johnwildes opened #56646 "Confusion around which steps actually have to be done to enable MISX App Attach"
This doc is confusing.

It seems like there are three options here.

1.) Get the image from the tap portal
2.) Use the marketplace
3.) roll your own on prem and upgrade it.

The doc launches into getting the image from the the TAP portal, and then says you can use the marketplace with a note that is says...if you want you can just skip to the VHD  and VHDX preparation, and then goes down to PREPAR

[2020-06-08 16:13] NavtejSaini-MSFT commented on #56541
@ru-sh We will be going ahead and closing this thread for now. If you have any other question, please get back to us.

[2020-06-08 16:13] #56541 closed

[2020-06-08 16:15] NavtejSaini-MSFT commented on #56459
@soportedba We will be going ahead and closing this request by EOD. If you have any other question, please get back to us.

[2020-06-08 16:17] MarileeTurscak-MSFT commented on #56615
@AmitavaHazra thanks! I've assigned this to Vipul for his comments.

[2020-06-08 16:19] djpmsft commented on #56395
@ChiragMishra-MSFT This is not the appropriate forum for this sort of issue. This looks like a support case, not a doc improvement.

@csvdarius Did renaming the triggers solve your issue? Are you using the updated scripts provided in the docs? If you think there may be a product bug, please open a support case via the Azure Portal

[2020-06-08 16:31] nelutzu91 opened #56648 "routeNumbers is of type string[] and not integer[]."
As specified [here](https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchaddressreverse#searchresultaddress) the **routeNumbers** property should be of type integer[] but in reality it is a string[].

### Get:
<pre>https://atlas.microsoft.com/search/address/reverse/json?subscription-key=--subscriptionKey--&api-version=1.0&query=37.94944886,-121.2933238</pre>

### Response:
<pre>
{
    "s

[2020-06-08 16:38] NavtejSaini-MSFT commented on #56569
@vatansoni89 Updating partition key of a document is not supported scenario. Instead customer can read document , delete document and create new document with updated partition key

Having wide range values is related to scalability and limit of data. A good partition key is expected to have the following characteristics-
- The data distribution is reasonably even across all the keys.
- The worklo

[2020-06-08 16:40] kummanish commented on #56632
hi @PatrickMessierGoC, thanks for the feedback.
We have checked in the changes and it will be available in our next build.

[2020-06-08 16:40] kummanish commented on #56632
#please-close

[2020-06-08 16:40] #56632 closed

[2020-06-08 16:48] NavtejSaini-MSFT commented on #56620
@aewilliams1705 We are checking this and will get back to you.

[2020-06-08 16:53] NavtejSaini-MSFT commented on #56621
@maartenkools We are checking this and we will get back to you.

[2020-06-08 16:57] cox-antohi commented on #56558
When doing Step 3 from the section titled *Publish to Docker Hub* I get a cmd windows where I can see that the name is lowercase. I've attached a print screen of it.

![image](https://user-images.githubusercontent.com/63769702/84058246-9a41b080-a9c1-11ea-827e-670e8fcd289a.png)

Also the Build Output in Visual Studio is the following:
[code]

As you can see there is the line

If trying to change th

[2020-06-08 16:58] tamram commented on #56642
@RajputDeepak - The documentation is correct. When data is replicated from the primary to the secondary, it is replicated asynchronously - meaning that there can be a delay before both regions are in sync. After the data has been replicated to the secondary region, then it is replicated using LRS within the secondary region, so that there are three copies.

Using LRS in the secondary region protec

[2020-06-08 16:58] tamram commented on #56642
#reassign: @tamram

#please-close

[2020-06-08 16:58] #56642 closed

[2020-06-08 16:59] cynthn commented on #56598
#assign @ju-shim

[2020-06-08 16:59] #56464 closed

[2020-06-08 17:00] anastasia-ms commented on #56566
Yes, this is expected behavior.  I have a PR that updates this document to refer the user to:
https://docs.microsoft.com/en-us/azure/azure-maps/how-to-manage-creator#access-to-creator-services.

PR is https://github.com/MicrosoftDocs/azure-docs-pr/pull/116837. I will be getting that through today.

[2020-06-08 17:02] MartinJaffer-MSFT commented on #56612
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-08 17:02] rolucchi commented on #56566
@anastasia-ms PR looks good.

[2020-06-08 17:02] NavtejSaini-MSFT commented on #56609
@BlackMercy Thanks for the feedback. We have corrected the same earlier today using feedback from a earlier. It is working correctly now.
We will go ahead and close this issue.

[2020-06-08 17:02] #56609 closed

[2020-06-08 17:06] MartinJaffer-MSFT commented on #56634
Thank you for your feedback, @Exnav29 . This has been assigned to the content owner and will be updated as appropriate.

[2020-06-08 17:08] GiftA-MSFT commented on #56473
@CelticCoder thanks for you feedback. We will update link accordingly.

[2020-06-08 17:15] anastasia-ms commented on #56566
I signed off: https://github.com/MicrosoftDocs/azure-docs-pr/pull/116837

[2020-06-08 17:21] malopMSFT commented on #56607
The actual support is for App Service site resources and everything that can be deployed on top, Functions are just one of the cases, we cannot document Functions or individual capabilities as it can be read as inaccurate with the actual Private Endpoint never pointing to a function resource and lead to support cases when the function is not deployed in App Service for the lack of Private Link sup

[2020-06-08 17:30] stevestein commented on #54815
@sidesw1pe - thanks for pointing this out. The link has been updated.
Thanks!

[2020-06-08 17:32] #56473 closed

[2020-06-08 17:35] stevestein commented on #54815
#please-close

[2020-06-08 17:35] #54815 closed

[2020-06-08 17:40] neppalli757 commented on #38922
Someone from Microsoft -- Can you please address this?

Would like to understand how the routes should look like for the statement below. Any examples?

If you know the address range that your application request traffic will come from, you can add that to the route table that is assigned to your ASE subnet. If the address range is large or unspecified, then you can use a network appliance like th

[2020-06-08 17:42] bertsawicki opened #56652 "Moving"
HI! If a customer bought RI's in Paygo, but wanted to move to CSP, can the RI's be moved or would they need to return them and purchase under the CSP? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Independent ID: 445b1c77-472a-e0f7-45fc-168f4a2454f3
* Content: [Se

[2020-06-08 17:44] iainfoulds commented on #56643
Thanks for the feedback, @mindwarex, and sorry you ran into problems.

I've created a PR to add the VS 2015 redistributable requirement. This update should publish later today.

#in-progress

[2020-06-08 17:44] bertsawicki commented on #56652
HI! If a customer bought RI's in Paygo, but wanted to move to CSP, can the RI's be moved or would they need to return them and purchase under the CSP?  Thanks!

[2020-06-08 17:47] MarileeTurscak-MSFT commented on #56611
@ChrisAtMAF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 17:50] #56643 closed

[2020-06-08 17:52] BharathNimmala-MSFT commented on #56157
@VigNelausen Thanks again for bringing this to our notice, i have raised a PR to correct the link. Once its reviewed and approved, fix will be merged with the main repo later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will

[2020-06-08 17:55] DixitArora-MSFT commented on #56332
@eshupps I have assigned this to content author for further review and update as appropriate.

[2020-06-08 17:58] sql-deadwood opened #56653 "Automating migration of on-premises data to cloud storage with AzCopy"
This page doesn't account for organizations which have MFA enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255aa70d-57db-a4a4-ba20-a7318493d88d
* Version Independent ID: b5c1a544-2207-8d69-15e5-f37a37712ed2
* Content: [Tutorial: Migrate on-premises data to Azure Storage with AzCopy](https://docs.microsoft.com/e

[2020-06-08 18:11] MarileeTurscak-MSFT commented on #56617
@ChrisAtMAF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 18:12] probertdaniel opened #56654 "Error in sample code"
There's an error in the code that you add to Function1.cs.
In the Run method you have this:

`await ConfigurationRefresher.Refresh();`

when it should be this:

`await ConfigurationRefresher.RefreshAsync();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22237330-6826-5a33-80b9-73c9beb5417a
* Version Independent ID: 5a

[2020-06-08 18:12] MarileeTurscak-MSFT commented on #56636
@geedsen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 18:12] Karishma-Tiwari-MSFT commented on #55869
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-08 18:12] #55869 closed

[2020-06-08 18:14] somigithub commented on #56269
@AhmedElwy , Thanks for sharing, I am investigating on it. will get back by tomorrow.

[2020-06-08 18:14] Karishma-Tiwari-MSFT commented on #56250
@macolso Would you be able to share your insights on this customer issue? Thanks :)

[2020-06-08 18:20] pag08007 commented on #56492
So after talking with Microsoft support they were able to help me resolve this issue.

The issue stemmed from how my input schema was being specified in my score.py file.

Originally, I had my input and output schema set to use a **StandardPythonParameterType** as show below
`input_sample = {
	'data': [
		[0.996078431372549, 0.996078431372549, 0.996078431372549]
	]
}
output_sample = {'response': [

[2020-06-08 18:25] GiftA-MSFT commented on #56457
@trevorbye please review above feedback. Language support contact link needs to be updated. Thanks.
![image](https://user-images.githubusercontent.com/51332022/84066445-eece3700-a993-11ea-80af-2cb6a710dd6e.png)

[2020-06-08 18:28] MonikaReddy-MSFT commented on #56654
@probertdaniel , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-08 18:30] onkarthg commented on #56606
have check your Tags but there is no related information about key vault integration with linux machine.
link wich i  found the error -:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-nonaad

[2020-06-08 18:34] CeciAc opened #56655 "C# version used"
Moved from: https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/639

@realsonic commented 2 days ago
Hi! There is a C# example on the page:
tc.TrackEvent("CreatedAccount", new Dictionary<string,string> {"AccountType":account.Type}, null);
Can you please clarify, what C# version is used? I can't run this code using the following Dictionary syntax: new Dictionary<string,string> {"AccountType":a

[2020-06-08 18:45] MartinJaffer-MSFT commented on #56470
@saikumarellendula I have reproduced the limitation and am reaching out internally for more information.

[2020-06-08 18:48] v-kydela commented on #55704
@diberry - Should we reopen this issue or post a new one?

[2020-06-08 18:57] stepro commented on #56205
@curtstate, you are correct in that the proxies need to be running on the root namespace, otherwise it is not possible to make an outgoing call from one service running in the root namespace to an upstream service running a child namespace.

The key here is to make sure that the root namespace has been upgraded to a dev space. Under the covers, this adds a label to the namespace. From this point o

[2020-06-08 18:57] leebjn opened #56656 "Updating Documentation"
Who can I reach out to make edits/update this document? I am with the BlueJeans Support Team and there are some details that need to be added/updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b12befba-4d71-4c63-49d7-70a94babe794
* Version Independent ID: a68c6397-e405-14d7-0853-0ff866751252
* Content: [Tutorial:

[2020-06-08 19:01] CeciAc opened #56657 "About the contents of the macOS tab of "Configure an environment variable for authentication""
The comments below were machine-translated

@kakisoft commented yesterday

     After adding the environment variables, for the changes to take effect, run source .bash_profile from the console window.

About this content
"Run source .bash_profile."
To
"Run source ~/.bash_profile."
How about changing to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-08 19:06] zr-msft commented on #56596
Thank you for filing this issue @hatasaki !

A fix should be out soon to address this issue and will follow up once its done.

[2020-06-08 19:07] jonels-msft commented on #52084
Sorry for the delay. We're still investigating this to provide you with accurate information.

/cc @niklarin

[2020-06-08 19:13] Blackmist commented on #56077
@damochiz , thanks again for reporting this and sorry for the confusion. The screenshot is old and needs to be replaced. It was based on using the azureml-monitor package, which is being retired. These docs were updated a while back to remove mentions of the package, but this screenshot wasn't removed.

When using the 'new' method of printing output from the code, it gets pushed into the `customDi

[2020-06-08 19:14] rwike77 commented on #56544
Hi @JimDaly, this is by design actually.  We have several articles that are linked to from the app registration experience in the portal.  They tend to be very short, have "more info" or troubleshooting info, and really only make sense in the context of whatever you were doing in the portal.

Did you get to this article from the Azure portal?  Or search?

[2020-06-08 19:14] PavelSafronov commented on #55371
Possible duplicate of this [issue](https://github.com/Azure/azure-cli/issues/13298).
That issue [links to updated script](https://github.com/Azure/azure-cli/issues/13298#issuecomment-623502401).

[2020-06-08 19:15] Karishma-Tiwari-MSFT commented on #56646
Thanks for your contribution in improving the document. The changes will be merged once the PR is reviewed and approved by the author.

[2020-06-08 19:17] Karishma-Tiwari-MSFT commented on #56627
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-08 19:17] CharmanderJieniJieni opened #56658 "Powershell command to get scan result."
[Enter feedback here]

Is there a powershell command which can return information of what a scan result is showing in UI?
![image](https://user-images.githubusercontent.com/23019764/84070936-ea594c80-a99a-11ea-88fe-0d5356c02549.png)

The closest I can find is this command https://docs.microsoft.com/en-us/powershell/module/az.sql/Get-azSqlDatabaseVulnerabilityAssessmentScanRecord?view=azps-4.2.0. T

[2020-06-08 19:18] SaurabhSharma-MSFT commented on #56357
@nkumars I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-06-08 19:19] JimDaly commented on #56544
I got there from search.

Having worked in the content space at MS for a long time, this design is bad. Why not add them to the  TOC? Make them discoverable by browsing.

It seems a broken experience when you discover this orphan topic with no other context around it.

[2020-06-08 19:21] diberry commented on #55704
@v-kydela - Can you please retry the issue? You found a bug. The docs were correct, the service wasn't.

[2020-06-08 19:23] Blackmist commented on #56252
Hi @mkrdip, working on a related issue and found a way to log the predict/result data using the current 'print to stdout' method recommended in the doc; create a JSON structure and print it. Here's an example:

[code]

With this, in the analytics log view, you can expand customDimensions, Content, and the Input and Output fields will show up as child items. Since they are also JSON data in this ex

[2020-06-08 19:31] cynthn commented on #24903
#please-close The article in question has been removed, for now.

[2020-06-08 19:31] #24903 closed

[2020-06-08 19:31] v-kydela commented on #55704
@diberry - I just tried "I hate you" and got the same results in the test panel and Postman:

[code]

Please show me what results you are getting.

[2020-06-08 19:33] cynthn commented on #26097
#please-close This article has been updated multiple times by the author since this Issue was created. I think this is covered now. If there are still issues, please reopen this and it should be assigned to the current author.

[2020-06-08 19:33] #26097 closed

[2020-06-08 19:34] diberry commented on #55704
@cahann What is the status of this issue with sentiment score?

[2020-06-08 19:37] cynthn commented on #26248
@mimckitt Can we get someone to help test and verify this?

[2020-06-08 19:39] cynthn commented on #27374
#reassign @iainfoulds Sorry, just found this in my backlog :(

[2020-06-08 19:39] cdaf commented on #33157
this is not the case in my scenario as the entire Resource Group, application gateway included, has been destroyed and recreated, but this problem continues.

[2020-06-08 19:40] mimckitt commented on #26248
I would see if @danielsollondon could assist or someone from the Linux team. I am more familiar with the time sync for Windows but not so much linux.

[2020-06-08 19:40] mikebudzynski commented on #56567
Please, contact Azure support or open a bug report with reproduction steps in the developer portal's repository at https://aka.ms/apimdevportal

#please-close

[2020-06-08 19:41] #56567 closed

[2020-06-08 19:41] cynthn commented on #27523
#please-close The docs for Shared Image Gallery have been rewritten lately. I think the examples still give multiple replication targets, because it can be hard to figure out the syntax for more than one target.

[2020-06-08 19:41] #27523 closed

[2020-06-08 19:43] cynthn commented on #28793
#please-close Shared Image Gallery now supports deleting the original image source and some other related functionality (you can capture a VM straight to an image version etc). Thank you!

[2020-06-08 19:43] #28793 closed

[2020-06-08 19:45] cynthn commented on #29256
#please-close Doc now points to: https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network

[2020-06-08 19:45] #29256 closed

[2020-06-08 19:46] cynthn commented on #30182
#please-close This doc has been reworked and has a new owner.

[2020-06-08 19:47] #30182 closed

[2020-06-08 19:48] cynthn commented on #30555
@Karishma-Tiwari-MSFT Can you add a tag for Networking to this? I don't think it is getting seen by the folks that own NSG.

[2020-06-08 19:49] mimckitt commented on #53840
Thanks for that. I am working offline to get it all sorted out.

[2020-06-08 19:50] pererap01 commented on #33157
Then my assumption is there is a problem with the Key vault and how it communicates with the apgateway...
Have you taken a look at the resource manager and run a get request- you might get better error handling and or run in debug mode

[2020-06-08 19:53] cdaf commented on #33157
I'm not touching the Key Vault itself at the moment so MS support can see it in it's current state.

[2020-06-08 19:55] pererap01 commented on #33157
Where is the error message generated from? Is it version 2 with WAF enabled?

[2020-06-08 19:56] YutongTie-MSFT commented on #56657
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-08 19:57] cynthn commented on #39925
#assign @ju-shim Not sure if this ever got resolved?

[2020-06-08 19:59] cynthn commented on #39926
#reassign @roygara

[2020-06-08 20:00] SaurabhSharma-MSFT commented on #56636
@geedsen User objectId is unique across all tenants and you can consider that as a primary key and also it does not change with any other attribute changes like usage location, display name etc.

[2020-06-08 20:01] cdaf commented on #33157
Yes, V2 WAF. Error comes out of ARM. Executed from an ADO hosted Windows Agent using AZ CLI

    az group deployment create --debug --mode Complete

[2020-06-08 20:01] rwike77 commented on #56550
@jdthorpe  Sorry for the trouble.  I was only able to find one instance on this page (the one you pointed out).  I removed it, the change should go live later this afternoon.  Please let us know if you find other instances.  Thanks.  #please-close

[2020-06-08 20:01] #56550 closed

[2020-06-08 20:04] sarajang opened #56663 "Missing nuget package details for the sample"
The sample code is missing details on the list of nuget packages required for a successful run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc96d70d-2208-e650-8224-4e9f6fed9c78
* Version Independent ID: 283b30cd-1188-2b0b-0837-0a9aece4d760
* Content: [Azure Key Vault managed storage account - PowerShell version](htt

[2020-06-08 20:04] pererap01 commented on #33157
Ah ok….

From: Continuous Delivery Automation Framework <notifications@github.com>
Sent: Monday, June 8, 2020 1:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Perera, Priyantha, Arvato SCS <Priyantha.Perera@arvato.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Application Gateway: Integration with Key Vault does not work (#33157)

Yes, V2

[2020-06-08 20:05] curtstate commented on #56205
it took me a while to figure out the details but now it makes sense and I have everything working with my services debugging in devspaces.

[2020-06-08 20:11] gaikovoi commented on #33157
@pererap01
you are using "--mode Complete" - this potentially removes 'hidden" resources not defined in the template.
Also, user/service principal that runs deployment must have ability to read MSI that will be used WAF to access KV if this MSI is not a part of the deployment.

[2020-06-08 20:15] JamesTran-MSFT commented on #56663
@sarajang
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-08 20:17] Klaas- commented on #56254
ah okay, after reading https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/backup/sap-hana-backup-support-matrix.md#L26 it more seemed this was a hard limit :) thanks for the clarification, issue can be closed

[2020-06-08 20:17] #56254 closed

[2020-06-08 20:18] JamesTran-MSFT commented on #56656
@leebjn
You can post your doc update requests here and we will investigate and update as appropriate.

Thank you!

[2020-06-08 20:19] GiftA-MSFT commented on #56457
@MariaVrabie we were able to confirm that the linked email address is valid. Can you please share the message you received when emailing that contact?

[2020-06-08 20:21] geedsen commented on #56636
Thanks for the quick reply. That is all we needed to know.

[2020-06-08 20:21] #56636 closed

[2020-06-08 20:21] Rikonimo opened #56665 "Comparison table is not update for CMK Disk"
Hello,

The comparison table is not update with the SSE for Azure manage disk (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption)

Furthermore SSE is sometimes Storage Side Encryption and sometimes Server Side encryption, a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e0

[2020-06-08 20:26] mimckitt commented on #50063
@amergey  I see you opened an issue here: https://github.com/Azure/azure-powershell/issues/11911

The person assigned @avirishuv and I are on the same team. We are looking into it on that issue as it makes more sense to address there. Once we have some progress we will update that issue and if needed update the doc this issue is related it.

#please-close

[2020-06-08 20:26] #50063 closed

[2020-06-08 20:28] tamram commented on #53299
@BasHamer - I hope you were successful in getting this to work with your new account.

The Azure CLI team is investigating whether the error message can be improved in this case.

Feel free to let us know if you have further issues. I'm closing this issue for now.

#please-close

[2020-06-08 20:28] #53299 closed

[2020-06-08 20:31] cdaf commented on #33157
@gaikovoi , I think that reference was for me. We use the same ARM and execution on 3 environments and they all worked fine. The DEV environment was torn down each Friday and recreate each Monday so the team had a fresh environment to work on through the week (we sometimes did an ad-hoc teardown/standup if one of the DEV made a mess). One week it just didn't come up, although no other aspect of th

[2020-06-08 20:35] diberry commented on #55704
#reassign:cahann

[2020-06-08 20:37] JamesTran-MSFT commented on #56611
@ChrisAtMAF
Thank you for your feedback. I have created a PR to update the docs, I will now proceed to close this thread.

If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-06-08 20:37] #56611 closed

[2020-06-08 20:37] leebjn commented on #56656
@JamesTran-MSFT Thank you!

Under **Configure Azure AD SSO > Step 4**, there is the section for Sign-on URL. We need to add the following:
**Identifier (Entity ID):** `http://samlsp.bluejeans.com`
**Reply URL (Assertion Consumer Service URL):** `https://bluejeans.com/sso/saml2/`

Under **Configure BlueJeans for Azure AD SSO > Step 5a & 5b**, We support more claims now. Please see attached screensh

[2020-06-08 20:37] MartinJaffer-MSFT commented on #56612
@rriley99  I do not have _best practices_ for you at this time, but I have done some work to get you started.

Starting assumptions:  This is in regards to failure of copy activity using REST dataset, not web activity.  You want to differentiate and perform logic on the various http status codes.

The expired token and malformed request are outcomes we can assume will cause the copy activity to fa

[2020-06-08 20:42] keatseongchan commented on #56549
Sorry I did not make it clear.  We still have a requirement to run
Application Gateway v1.  Based on the documentation provided, it looks like
it is only supported for v2.  Also, the scenario described is for the App
Gateway listener is not the certificate that is used for APIM
integration using authentication certificate.  Did I misinterpret?

On Mon, Jun 8, 2020 at 5:51 AM suvasara <notification

[2020-06-08 20:57] BharathNimmala-MSFT commented on #56527
@GalacticLion7 Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-06-08 20:57] #56527 closed

[2020-06-08 20:59] JamesTran-MSFT commented on #56358
@kennethvs
I was able to look into your question and will post my findings below.

**Findings:**
This documentation explains what the different [Risk Types and Detections](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-types-and-detection) are, along with the given descriptions for each risk detection.

Looking through the documen

[2020-06-08 21:00] gpetersOB opened #56666 "Question for the FAQ"
Can you clarify what happens in this scenario?
1. Alert suppression window is active.
2. An alert triggers
3. Alert suppression window ends
3. Alert has not self-resolved. Will it notify the action group as soon as the alert suppression window ends?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f826c77e-a9c8-5baa-af70

[2020-06-08 21:02] ojasp commented on #31006
@SumanthMarigowda-MSFT @rishabpoh @normesta Any update on this? As per Microsoft's best practices, we are not supposed to be using Access keys, but without documentation we have no idea how SAS tokens are supposed to be used.

[2020-06-08 21:11] #42462 closed

[2020-06-08 21:16] JamesTran-MSFT commented on #56244
@successhawk
Would you be able to clarify your ask? It sounds like you want us to link the title of the Azure AD B2B paragraph to itself?

![image](https://user-images.githubusercontent.com/36619112/84081337-a06c6880-a992-11ea-861a-30d053ed37ea.png)

[2020-06-08 21:18] jahobson75 commented on #44659
Hi @MSSedusch Any update?

[2020-06-08 21:19] RonnieQuan opened #56668 "Authentication Options"
[Enter feedback here]
Is storage access key the only option to mount file share?

How about SAS or RBAC permission?

when mount file share to my Linux box, I use cifs protocol, what about the encryption in transit, is it encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e08943-3758-7ed5-5a50-4c649fbf0993
* Ve

[2020-06-08 21:42] femsulu commented on #56666
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-06-08 21:44] safaheem opened #56670 "Add additional steps for installing fonts from Dockerfile"
Customer was able to install fonts following this approach. We would like to see if these steps can be included in the documentation.

https://stackoverflow.com/questions/59779075/how-to-add-fonts-to-windows-docker-container-image
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046582d4-a031-1e6a-fbdd-ff6f59245266
* Vers

[2020-06-08 21:49] bashahee commented on #56488
Hi @CharmanderJieniJieni,

The 401 error is being raised because of a bug, it was fixed, and next release (2020-06-23) of `Az.Sql` will contain the fix.

You can determine the version that is running on your machine using `Get-Module Az.Sql`.

[2020-06-08 21:57] MonikaReddy-MSFT commented on #56655
@CeciAc , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-08 21:58] Grace-MacJones-MSFT commented on #56670
Hi @safaheem, thanks for bringing this to our attention. We will review this feedback and update this as needed

[2020-06-08 21:59] kummanish commented on #56245
I have updated the doc with the changes mentioned. The link is still there since it is important for people who want to read more about it.

[2020-06-08 22:20] ryancrawcour opened #56671 "Default value of Analytical TTL"
The document mentions the 3 different values for Analytical TTL
What is the default value? 0, -1, or n?

Or does it default to the same TTL value as the transactional store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f947a93f-1c0c-0e6e-acae-0f27571019a2
* Version Independent ID: b214f360-3057-010b-db69-53a489218065

[2020-06-08 22:24] CageySea opened #56672 "Documentation error - says megabytes when should be megabits"
This page describes the --cap-mbps parameter as capping the transfer rates in mega**bytes** per second. According to https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy this actually caps the transfer rate in mega**bits** per second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba

[2020-06-08 22:29] hctrr opened #56673 "Duplicate Recommendations Listed"
There are three recommendations outlined in the doc that are then listed in a second category.
For example: the recommendation for Function App is listed under Network as well as under App Service.

I don't see the same outline being used for NSGs that are listed under Network but not under Compute.

Category | Recommendation | Description
-- | -- | --
Network | Function App should only be   acces

[2020-06-08 22:36] MarileeTurscak-MSFT commented on #56178
Yes, you do get some firewall-related recommendations. https://docs.microsoft.com/en-us/azure/security-center/recommendations-reference

Depending on the product you may get more or less specific ones. https://docs.microsoft.com/en-us/azure/asc-for-iot/concept-recommendations

For any third party firewall to be able to integrate with Security center, the firewall vendor must provide the integratio

[2020-06-08 22:36] gaikovoi commented on #33157
@cdaf there was ARM issue today
Resolved:RCA - Azure Resource Manager - Failures creating or deleting resources

Anyhow, sometimes, ARM deployments are failing without meaningful reason. It is usually fixed by re-runnig AzDO pipeline.

[2020-06-08 22:37] MarileeTurscak-MSFT commented on #56178
Hope this helps. If you have further questions please feel free to reach out on [Q&A ](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) or send me an email.

[2020-06-08 22:37] #56178 closed

[2020-06-08 22:42] cdaf commented on #33157
@gaikovoi , yes, ARM can be very temperamental (especially if you try and deploy APIM via ARM), however that is not the case here, it's been retried nearly 30 times (by different people trying to diagnose it)

[2020-06-08 22:49] prashantma opened #56674 "Cannot find Frontdoor caching configuration in Azure portal"
I created front door service using Azure portal as described in https://docs.microsoft.com/en-us/azure/frontdoor/quickstart-create-front-door
Then as I was reading about Frontdoor caching, I could not find in portal anywhere to purge cache as described in this and how to enable/setup caching.
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-purge

---
#### Document Details

[2020-06-08 22:54] hpsin commented on #40619
Userinfo is now documented here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo

#please-close
Do let us know if the docs could be updated to further help you use the platform.  Thanks!

[2020-06-08 22:54] #40619 closed

[2020-06-08 22:54] hpsin commented on #44988
Userinfo is now documented here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo

#please-close
Do let us know if the docs could be updated to further help you use the platform.  Thanks!

[2020-06-08 22:54] #44988 closed

[2020-06-08 22:54] hpsin commented on #50810
Userinfo is now documented here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo

#please-close
Do let us know if the docs could be updated to further help you use the platform.  Thanks!

[2020-06-08 22:54] #50810 closed

[2020-06-08 22:54] hpsin commented on #55712
#reassign:jmprieur

[2020-06-08 23:00] Karishma-Tiwari-MSFT commented on #56132
Please use this command instead: Connect-ServiceFabricCluster

[2020-06-08 23:01] v-strudm-msft opened #56676 "Test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996199f0-22c1-253c-30c3-500c7a814582
* Version Independent ID: 382f62c2-5143-6795-6358-28916f0d11de
* Content: [What is the Anomaly Detector API? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/anomaly-detector/ov

[2020-06-08 23:03] v-strudm-msft commented on #56676
Testing closing this issue with please close. #please-close

[2020-06-08 23:03] #56676 closed

[2020-06-08 23:04] NavtejSaini-MSFT commented on #56534
@christiankuhtz Please convey the use case for the finding this information. We would have wanted you to check [az network private-endpoint show](https://docs.microsoft.com/en-us/cli/azure/network/private-endpoint?view=azure-cli-latest#az-network-private-endpoint-show)

But we see you have raised the issue with the same here  - https://github.com/Azure/azure-cli/issues/13859 and the team has engag

[2020-06-08 23:12] JuanKRuiz commented on #46527
Hi @qianw211
Partner Center has a report to  Show that, and it was documented. Please don't close.
If not what is the sense to add tracking to the templates if partners can't track?
Tracking for whom?

Please see this
https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution
The expected behavior for partners is to show their influenced consumption in their dashbo

[2020-06-08 23:12] Karishma-Tiwari-MSFT commented on #56175
The correct VM size is is D2s_V3 as mentioned in this doc: https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#add-a-windows-server-node-pool

I have created a PR with the correction and changes will be live shortly.

[2020-06-08 23:15] JuanKRuiz opened #56677 "Usage Attribution isn't shown in any of my partners"
Creating this new one since the other was closed without any resolution.

#46527

Current customer usage attribution is not being displayed in any of my current partners. That might be caused by some consumption threshold that is undocumented. While include this in the documentation could save us additional efforts, I think is even more important update the reports to show every amount even when l

[2020-06-08 23:17] NavtejSaini-MSFT commented on #56532
@christiankuhtz Can you please check this "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/privateLinkResources" to get the relevant information.

Please let us know if this works.

[2020-06-08 23:21] NavtejSaini-MSFT commented on #56533
@christiankuhtz The document shows where to get the group ids from https://docs.microsoft.com/en-us/cli/azure/network/private-endpoint?view=azure-cli-latest#az-network-private-endpoint-create.

Please check if this is now working for you and get back to us.

[2020-06-08 23:24] RyanHill-MSFT commented on #56623
Thanks for the feedback @karthikeyanVK! Azure App Service doesn't restrict you from running multiple threads within your app. Something like https://www.tutorialspoint.com/python/python_multithreading.htm is completely valid. If you're running into a specific issue with your multi-threaded application, please provide a code snippet and any errors you've discovered.

[2020-06-08 23:26] Kamyar5353 opened #56678 "Multi Column Hash key is not supported in SSDT"
Hi.

It seems the Multi Column Hash key which is a new feature in Synapse is not being supported as well. I think this needs to be added to unsupported features and would be great if it can be added into the new version for SSDT for VS(I am using 2019 enterprise)

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-08 23:29] NavtejSaini-MSFT commented on #56620
@aewilliams1705 Thanks for the feedback. We are checking with our author regarding the same.
@DavidTrigano The command used in step 3 of this part of [document ](https://docs.microsoft.com/en-us/azure/azure-sql/database/audit-write-storage-account-behind-vnet-firewall#configure-with-rest-commands)is:

PUT https://management.azure.com/subscriptions/<subscription ID>/resourceGroups/<resource group>/

[2020-06-08 23:33] kummanish commented on #56245
#please-close

[2020-06-08 23:33] #56245 closed

[2020-06-08 23:34] FlynnLives opened #56679 "Deploy password reset without requiring end-user registration"
The example commands provided do not allow you to set or view information from the Authentication Methods tab but instead are only applicable for the Profile tab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae83fda-27b9-edca-1b59-1140de4cc3f5
* Version Independent ID: c93eb84b-f04b-de03-f3f5-57d4672b0559
* Content:

[2020-06-08 23:43] NavtejSaini-MSFT commented on #56529
@christiankuhtz We have raised the Pull Request to correct this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/118123

@ajlam Please review the same.

[2020-06-08 23:44] euangms commented on #55801
#please-close

[2020-06-08 23:44] #55801 closed

[2020-06-08 23:53] bwgit opened #56682 "Forbidden: This corporate app can't be accessed"
We found another scenario where app proxy would return the above message (for some but not all users in our domain strangely).

After lengthy internal, 3rd party and finally Microsoft support assistance (capturing network / kerberos logs in full detail etc), it was a simple fix, add the app proxy connector machine account to the "Windows Authorization Access Group" builtin domain group.

This migh

[2020-06-09 00:07] TravisCragg-MSFT commented on #56622
@stefan-hudelmaier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-09 00:18] TravisCragg-MSFT commented on #56674
@prashantma You can purge assets from your front door by selecting 'Front Door Designer' from the left menu, and then selecting 'purge' from the top.

![image](https://user-images.githubusercontent.com/38542241/84092271-b9354800-a9ab-11ea-98fe-9494e1f93912.png)

Caching is set up / enabled on the routing rule of an Azure Front Door. On the 'Front Door Designer' screen, select your routing rule, an

[2020-06-09 00:19] MarileeTurscak-MSFT commented on #56413
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/118135

[2020-06-09 00:19] #56413 closed

[2020-06-09 00:23] MarileeTurscak-MSFT commented on #56478
Thanks @sirtwist!

I made a pull request to add this clarification. https://github.com/MicrosoftDocs/azure-docs-pr/pull/118136

[2020-06-09 00:23] #56478 closed

[2020-06-09 00:30] TravisCragg-MSFT commented on #48902
@frehnejc You can, but it will be easier to ask the engineer to take care of that with the same support request. If the engineer asks you to make a second ticket and you are unable, reply to my Email and I will enable another support request if needed.

[2020-06-09 00:33] Grace-MacJones-MSFT commented on #56184
Hello @hiteshvadgama , thanks for your patience here are the answers to your question:

1. Public. You can provision the gateway and see the IP on it.

2. You can even connect directly to that VNet in another region.  You don’t need to hop across a peering connection.  There are limitations though.  The feature won’t work with ExpressRoute.  If you have ExpressRoute on the VNet or in any peered VN

[2020-06-09 00:33] #56184 closed

[2020-06-09 00:35] JaneYan-2016 opened #56683 "Unable to create the AKS cluster following the powershell instruction"
Failing with service principal invalid.
Looks like the Az AKS create command creates a SP, but not New-AzAKS...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34f159bd-3c15-e15c-126a-cb0ec43fa0f4
* Version Independent ID: 24a9791d-3827-6762-ff4c-67cf45e5e823
* Content: [Quickstart: Deploy an Azure Kubernetes Service cl

[2020-06-09 00:36] asergaz commented on #56253
@reddyeshwar17 are you still blocked?
If you had the time to look at suggested above, please share with us the outcome.
Thanks!

[2020-06-09 00:37] ajlam commented on #56529
@christiankuhtz - thanks for finding this.

@NavtejSaini-MSFT - I just approved the PR.

[2020-06-09 00:42] NavtejSaini-MSFT commented on #56671
@ryancrawcour We are checking this and will get back to you.

[2020-06-09 00:42] TravisCragg-MSFT commented on #56453
@bhushang19 As the error message states, your backend certificate does not match the host header of your health probe.

Validate the CNAME of your backend certificate ,and verify that it matches the name given on the health probe.

As you have probably already seen, the [V2 certificate requirements for E2E SSL are found here in ths doc](https://docs.microsoft.com/en-us/azure/application-gateway/ss

[2020-06-09 00:42] priyankareddy20 commented on #56178
If we have a 3rd party firewall which is not from Azure Market Place, we
don't receive the recommendations correct??

On Tue, Jun 9, 2020, 04:07 Marilee Turscak - MSFT <notifications@github.com>
wrote:

[2020-06-09 00:43] prashantma commented on #56674
Thanks, got it.

[2020-06-09 00:43] #56674 closed

[2020-06-09 00:44] priyankareddy20 commented on #56178
Regards
   Priyanka

[2020-06-09 00:55] damochiz commented on #56077
@Blackmist  , I could get the expected output from traces table by editing the script as you mentioned. It was a very big help. Thank you very much :)

Also thank you for updating the screenshots in the docs!!

[2020-06-09 00:56] erroltuparker opened #56684 "Incorrect information regarding powershell module"
"You can also copy the file C:\Program Files\Microsoft Azure Active Directory Connect\AdSyncConfig\ADSyncConfig.psm1 to a Domain Controller which already has RSAT for AD DS installed and use this PowerShell module from there."

This is not entirely correct as some commands will give this error message if you attempt
[code]
While Set-ADSyncUnifiedGroupWritebackPermissions is supported

---
#### Doc

[2020-06-09 01:01] XiaoyuMSFT commented on #55358
@Nayyar0  Thank you for your feedback.  In Azure Synapse Analytics, the support of PK and Unique constraints are for the engine to generate better query execution plan.   Unlike Azure SQL database, Synapse Analytics is mainly used for analytical workload, data duplication happens often due to regular ETL operations.  This is why we cannot return errors on PK/unique constraint violation when data i

[2020-06-09 01:01] XiaoyuMSFT commented on #55358
#Please-close

[2020-06-09 01:01] #55358 closed

[2020-06-09 01:01] atcaoyufei commented on #56349
@amanmcse

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=4bb69ea8-1fd8-4dcf-a493-d023f7e8e432&redirect_uri=https%3A%2F%2Fp
y-index.github.io&response_type=code&state=debug&scope=offline_access+Files.ReadWrite.All&prompt=consent

[2020-06-09 01:05] KranthiPakala-MSFT commented on #56444
@saikumarellendula Thanks for reaching out. I have reaching out to internal team, to see if there is an alternate way to achieve this. Will keep you posted as soon as I have an update.

Thanks.

[2020-06-09 01:07] XiaoyuMSFT commented on #51853
@SmallTomas - Thank you for your feedback.  The last code example should be changed to:

DECLARE @p1 int = 0;
DECLARE  @p2 int = (SELECT COUNT (*) FROM sys.types where is_user_defined = @p1 );

[2020-06-09 01:07] XiaoyuMSFT commented on #51853
#please-close

[2020-06-09 01:07] #51853 closed

[2020-06-09 01:11] TravisCragg-MSFT commented on #56530
@hambster Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-09 01:11] dbeavon commented on #56520
Sorry I was out of the office today (Monday).  Was someone else able to confirm that the xevents don't work with ADLS Gen 2?  (IE. that they are not compatible with storage account having "HNS Enabled")?

I'm new to Azure as-of last month.  And setting up xevents to a storage container was sufficiently cumbersome that there could have been any number of mistaken steps that I may have taken along t

[2020-06-09 01:19] cijothomas commented on #56517
The ilogger doc is about the ApplicationInsightsLoggerProvider.
The asp.net core is about enabling application insights for asp.net core. It includes Request, Dependency, etc. as well as Ilogger log capture as well.

[2020-06-09 01:22] ecfan commented on #55840
@divyaswarnkar, did you have additional guidance?

[2020-06-09 01:22] ecfan commented on #54717
@divyaswarnkar, please respond?

[2020-06-09 01:25] starforce commented on #56132
Yes i can use that. May I ask what procedure are used to test new features to service fabric before documentation is published? This has caused me so many problems.  even after getting the backup service running on my cluster, i still cant get it to save data to a blob based on these instructions. Is there a development group I can voice my concerns at Microsoft directly

[2020-06-09 01:30] #56175 closed

[2020-06-09 01:33] XiaoyuMSFT commented on #55713
@swanderz - Thank you for your feedback.  We will keep this in our feedback pool for content planning.

[2020-06-09 01:33] XiaoyuMSFT commented on #55713
#please-close

[2020-06-09 01:33] #55713 closed

[2020-06-09 01:34] atrauzzi commented on #56245
I don't see any changes associated with this ticket... How exactly have you clearly answered my question?

[2020-06-09 01:41] Karishma-Tiwari-MSFT commented on #56132
@starforce I am sorry for your experience with the docs. Can you please share the details, like what problems are you seeing and at which step are you stuck.

[2020-06-09 02:03] Karishma-Tiwari-MSFT commented on #56382
Can you please provide the detailed error message, including the JSON, that appears when you click on Error.

[2020-06-09 02:09] Karishma-Tiwari-MSFT commented on #56525
Thank you for sharing the feedback to improve the product. I will share this with the product team.
Please also post this as a product feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you dire

[2020-06-09 02:09] #56525 closed

[2020-06-09 02:10] Karishma-Tiwari-MSFT commented on #56553
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-09 02:17] TravisCragg-MSFT commented on #56580
@autocloudarc I was able to create an Azure Bastion using PowerShell 5.1  (5.1.18362.752) without issue using these commands. Make sure that your [Azure PowerShell is up to date](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.2.0#update-the-azure-powershell-module) before attempting this command.

Can you try the commands again after updating your PowerShell?

[2020-06-09 02:24] ajlam commented on #56529
PR merged

#please-close

[2020-06-09 02:24] #56529 closed

[2020-06-09 02:33] starforce commented on #56132
Ok. Please give me  2 days to write up the details. I will provide screen shots of everything.. I have followed the instruction as noted and a getting an HRESULT error when trying to see the frequency for back ups.

[2020-06-09 02:40] AshokPeddakotla-MSFT commented on #56614
@nikolapeja6 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 02:42] AshokPeddakotla-MSFT commented on #56625
@KelumPerera Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 02:43] AshokPeddakotla-MSFT commented on #56626
@TPIvan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 02:44] AshokPeddakotla-MSFT commented on #56638
@stateofthearb Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-09 02:46] AshokPeddakotla-MSFT commented on #56645
@deena211 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-09 02:50] AshokPeddakotla-MSFT commented on #56652
@bertsawicki Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 02:51] AshokPeddakotla-MSFT commented on #56678
@Kamyar5353 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-09 02:54] AshokPeddakotla-MSFT commented on #56653
@SumanthMarigowda-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 02:55] ram-msft commented on #56243
@mswellsi  Could you please share road map to support Speech Services automatic Language Identification in Direct Line Speech channel.

[2020-06-09 02:55] AshokPeddakotla-MSFT commented on #56658
@CharmanderJieniJieni Thanks for the feedback! We are currently investigating and will update you shortly.