[2019-11-20 01:19] stevebus commented on #43157
@Alberto-Vega-MSFT - engineering told me to create an issue here 🙂

@Mja101 - anything is possible, but I used the exact same python script to generate this SAS as I did to successfully generate a SAS token for calling DPS via REST API.  Pretty sure they should be the same, wouldn’t they?

[2019-11-20 01:21] Alberto-Vega-MSFT commented on #42869
@sozeng0 @cyansprite The tutorial is assuming that you do not have a VM with the same name in the same resource group. So the question for you is: in your opinion how can we make this document better?

[2019-11-20 01:25] femsulu commented on #42713
adding @qianw211

[2019-11-20 01:30] AlphaCreative-Mike commented on #42215
@TravisCragg-MSFT  - Why was this issue closed?  I still don't see in the Azure Docs where it shows how to setup an HTTP Redirect.  This section should have enough information to show how to define a RouteConfiguration object.  [https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-05-01/frontdoors#routeconfiguration-object](https://docs.microsoft.com/en-us/azure/templates/micros

[2019-11-20 01:30] rwike77 commented on #36367
@bachoang  We could open a doc work item for this, but to be honest it would be a low priority.  It is a supported protocol, but there's not very much demand for it.   Sorry, I know this is probably not the answer you wanted to hear.  If you're working on new apps, I recommend you use OAuth instead.  #please-close

[2019-11-20 01:30] #36367 closed

[2019-11-20 01:34] prabhushrikant opened #43166 "Is this available for java processes."
I have spring boot application running on tomcat server, I would like to have access to performace counter to identify leak in my web service. Can I do that using application insights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8502580-04b6-8909-5df7-1e8fb488c907
* Version Independent ID: 782520bb-f46f-c82d-587a-1

[2019-11-20 01:47] rwike77 commented on #41310
@heaps926  Here's an updated [list of samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#azure-functions-as-web-apis).  The READMEs have some good info.  Hopefully that's enough to get you up and running while we continue to update our content.  #please-close

[2019-11-20 01:47] #41310 closed

[2019-11-20 01:49] joshheitzman-redcley-v-joheit-msft commented on #42953
Changing 'acc' to 'accuracy' on both of the referenced lines fixes the issue properly.

[2019-11-20 02:01] rwike77 commented on #42814
@axthosarouris  Sorry you were having troubling finding samples, I'll add some better linking.  Here are some sample apps that use authorization code flow:

- https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph
- https://github.com/azure-samples/active-directory-dotnet-admin-restricted-scopes-v2
- https://github.com/

[2019-11-20 02:02] wilsonlapwong commented on #41728
Hi,

Noted with thanks.

Regards,
Wilson

Darren <notifications@github.com> 於 2019年11月20日週三 上午9:18寫道：

[2019-11-20 02:17] rwike77 commented on #42814
@axthosarouris Also, have you seen the [Web app that calls web APIs scenario](https://docs.microsoft.com/azure/active-directory/develop/scenario-web-app-call-api-overview)?

[2019-11-20 02:47] mike-urnun-msft commented on #43162
@flbarros Thank you for your feedback! We will review and update as appropriate.

[2019-11-20 03:04] joshheitzman-redcley-v-joheit-msft commented on #42873
Thanks, that update enabled getting through the sample in the article.

[2019-11-20 03:11] dcbrown16 opened #43168 "Control plane operations"
What exactly is this limitation trying to say?
"While data plane is fully zone-redundant (unless zonal guarantee was specified), control plane operations aren't fully zone-redundant."
I understand the difference between data plane (the network traffic in this case) and control plane (basically CRUD operations on the metadata of the Azure resources). Is this saying that one AZ being down could impa

[2019-11-20 03:13] nina-pashinina commented on #43001
@ecfan There was no Problem with disabling of LogicApp, there is the Problem with unsubscribing. Even if the LogicApp is successfully disabled, subscription is NOT removed!
Please look at These screenshots and pay Attention to Events times.
1_Initial
2_Subscribed
3_OneSubscriptionTriggered
4_DisabledButStillSubscribed
5_TheFirstSubscriptionStillExists
6_SubscribedOnceAgain
7_TwoSubscriptionsExist

[2019-11-20 03:31] dcbrown16 opened #43170 "Migrate requirements?"
Why doesn't this page list migrate step requirements (URLs, ports etc.) like the VMware and Hyper-V pages do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104caea8-472d-2fc6-e50f-343d00fddeee
* Version Independent ID: bd4ae232-e684-f687-e8a8-3ed7d4d87a10
* Content: [Support for physical server assessment/migration wi

[2019-11-20 03:33] xieofxie commented on #42890
Hi @diberry, as the document says, `[[this]is] a new form` allows for the utterances like `this is a new form, is a new form, a new form`.

I am wondering if the pattern is expanded internally when training? Thus it would have same effect for learning by inputting allowing utterances instead.

Or they would behave differently when training. Then would you suggest use pattern or expanded ones as in

[2019-11-20 04:13] Mike-Ubezzi-MSFT commented on #42823
@simon-michaud I think this is what you are looking for: [Log Analytics Audit Events](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-audit-log-format#log-analytics) where the category is `SQLSecurityAuditEvents`.

[2019-11-20 04:17] Mike-Ubezzi-MSFT commented on #42921
@arashaga The resource limits are details in the respective [DTU](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-elastic-pools) and [vCore](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-elastic-pools) resource limit docs. What service tier are you currently deployed at?

[2019-11-20 04:20] smithashajith opened #43171 "Enhancement in Azure API and RHEL/SUSE adaption of kill switch"
This document is very dated. Could you please update the latest developments with Azure API and how RHEL and SUSE adapting to the kill switch feature for faster failure detection.

Also, how to get SAP Certification for HANA and SCS Pacemaker cluster to use Azure API as fencing agent?

Thanks,
Shajith
SAP & Azure Architect

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-20 04:23] Mike-Ubezzi-MSFT commented on #42987
@szmma In the final section: [Deploy your application to Web Apps](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-application#_Toc395783182), the first bullet item instructs you to `If you haven't already done so, enable a git repository for your Web Apps application.` Did you create your own GitHub repository to publish your solution to?

[2019-11-20 04:25] ShajithThaze opened #43172 "Simplifying the Architecture"
We were able to further simplify and enhance the failover time by making /sapmnt/&lt;SID&gt; and /usr/sap/&lt;SID&gt; present from an highly available NFS cluster to SCS cluster. SYS, ASCS##, ERS all are subdirectories unnder /usr/sap/&lt;SID&gt;. These mounts are available on both nodes, we can eliminate the fs_NW1_ASCS and fw_NW1_ERS resources from both the cluster group.

Thanks,
Shajith
SAP &

[2019-11-20 04:28] msrini-MSFT commented on #43168
@dcbrown16 , yes, if a AZ is entirely down, if the control plane components are located in that AZ, then control plane operations for the load balancer will fail but the load balancer will still route traffic to the backend as the data plane is zone redundant.

[2019-11-20 04:29] msrini-MSFT commented on #43147
@cjlpowers ,  the SLA is same for Zone Redundant gateway as well, which is 99.95%.

[2019-11-20 04:29] dcollien opened #43173 "Unable to retrieve connection string via Azure CLI for EventHub entities"
How does one use the Azure CLI to retrieve keys for a particular EventHub entity under a namespace (rather than policies active at the namespace level?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c25273e-d486-f45e-347b-e0e47bdac7da
* Version Independent ID: e2fdb8f0-af84-5d43-d378-da02a5a07426
* Content: [Get conn

[2019-11-20 04:30] smithashajith opened #43174 "How do you separate traffic destined to same port on multiple back-end VM?"
In the above e.g., what if we have 2 VMs we want to expose to Internet and all the traffic goes through Azure firewall? Can we put multiple public IP at the front-end of the Azure Firewall and create NAT rule based on front-end IP to the corresponding back-end VM?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-20 04:33] shashishailaj commented on #43156
@aliflex Thank you for pointing that out . We will investigate and update the thread further.

[2019-11-20 04:38] shashishailaj commented on #43153
@blouwagie Thank you for your feedback . We will investigate and update the thread further.

[2019-11-20 04:38] dcbrown16 commented on #43168
Ok, I'll let you/author decide if it is worth clarifying. We have a customer asking what this means.

[2019-11-20 04:39] dcbrown16 commented on #43168
Actually I anticipate one follow-up question - is it possible to check which AZ your control plane components are located in? (I doubt it)

[2019-11-20 04:39] SwathiDhanwada-MSFT commented on #43170
@dcbrown16 Thanks for your comment. We will review the document internally and update you as soon as possible.

[2019-11-20 04:40] VenkatGowrishankar opened #43175 "Throughput of the VPN connection"
The VPN Tunnel in the virtual wan S2S VPN config supports a Max of 1 Gbps , is this limit applicable on the VPN Tunnel over ER circuit as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251f9147-c9e9-a17a-3316-0f8a3a3d6f3e
* Version Independent ID: e0714fbd-98f1-d125-f565-a68871b186d0
* Content: [Create a site-to-

[2019-11-20 04:46] jakaruna-MSFT commented on #34421
Please send an email to AzCommunity@microsoft.com with the link to this github issue.
I will connect with the product team and continue the discussion.

[2019-11-20 04:46] #34421 closed

[2019-11-20 04:46] jakaruna-MSFT commented on #34422
Please send an email to AzCommunity@microsoft.com with the link to this github issue.
I will connect with the product team and continue the discussion.

[2019-11-20 04:46] #34422 closed

[2019-11-20 04:50] jakaruna-MSFT commented on #43107
@jjindrich You can use the `--node-selectors string             Labels to specify the node on which Tiller is installed (app=tiller,helm=rocks)`   during helm init to place the pod on the linux nodes

[2019-11-20 04:56] sozeng0 commented on #42869
@Alberto-Vega-MSFT  Thanks a lot. The reason why I got this error is because other ppl use the same doc in same subscription before so the resource group and VM is there already.  When I create the resource group with the same name I get ""provisioningState": "Succeeded"" and no log shows conflict, so I just assume that it is a new resource group and the VM I create is unique. It would be nice if

[2019-11-20 05:01] PramodValavala-MSFT commented on #43162
@flbarros I believe the intention here is to promote the best practice of taking frequent backups to minimize the Recovery Point Objective (RPO), the age of the backup files.

You can read more about [resiliency best practices in the Azure Architecture Center docs](https://docs.microsoft.com/en-us/azure/architecture/framework/resiliency/overview) and specifically, do check out the [Data Corruption

[2019-11-20 05:02] BharathNimmala-MSFT commented on #43166
@prabhushrikant Thank you for your query, we are looking into this and will get back to you shortly.

[2019-11-20 05:19] VikasPullagura-MSFT commented on #43109
@jluk Thanks for providing the details.

[2019-11-20 05:20] VikasPullagura-MSFT commented on #43109
@jjindrich As Justin mentioned this will feature will go GA as is.
I am closing this issue for now.
Thanks.

[2019-11-20 05:20] #43109 closed

[2019-11-20 05:27] CHEEKATLAPRADEEP-MSFT commented on #43082
@Sahatcs We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-20 05:27] #43082 closed

[2019-11-20 05:28] CHEEKATLAPRADEEP-MSFT commented on #43019
@Ammu-amjath We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-20 05:28] #43019 closed

[2019-11-20 05:46] msrini-MSFT commented on #43168
@dcbrown16 , I am not sure whether that is possible to check which AZ control plane is located. I will assign this author to take a call and update the doc.

[2019-11-20 05:46] SubhashVasarapu-MSFT commented on #43175
@VenkatGowrishankar , We are looking into this query and will update you as soon as possible.

[2019-11-20 05:47] SubhashVasarapu-MSFT commented on #43174
@smithashajith , We are looking into this query and will update you as soon as possible.

[2019-11-20 05:48] CHEEKATLAPRADEEP-MSFT commented on #43058
@Hasil-Sharma You can pass the arguments as follows:

[code]
Example for passing the parameters in Azure Data Factory:

[code]

Hope this helps.

[2019-11-20 05:49] amanmcse commented on #43156
@aliflex The Reply URL for ServiceNow by default is same as your Sign on URL, which is **`https://<your_instance_name>.service-now.com/navpage.do`**. However, if you would like to confirm the same, you can Login to your ServiceNow instance and navigate to **`Multi-Provider SSO > Identity Providers > Click on the Identity Provider you have added for Azure AD > Click on Generate Metadata.`**
You nee

[2019-11-20 05:52] rwike77 commented on #41386
@hpsin, can you comment on this?  Thanks.

[2019-11-20 05:52] itsmegopi2 opened #43177 "Multi-container port mapping failing"
We are trying to deploy the multiple images to webapp for container  using .yml file.
The deployment is happening smooth port mapping is failing  and for some deployed images we are unable browse the endpoint

What we did is :

1. Go to webapp for container  => Container settings => selected Docker-Compose preview .
2. We opted for Azure container registry  then selected our registry.
3. uploaded

[2019-11-20 05:55] amoldixit-Git commented on #43098
@AjayKumar-MSFT Thanks for your responce. I already shared the link to the document in the issue.
Here is the presize documentation link for your reference:
[https://docs.microsoft.com/en-us/azure/mysql/howto-server-parameters#working-with-the-time-zone-parameter](https://docs.microsoft.com/en-us/azure/mysql/howto-server-parameters#working-with-the-time-zone-parameter)

[2019-11-20 05:55] sujayvsarma commented on #42990
The docs say you can do a whole bunch of stuff with Azure Tables, but the current SDK and its samples do not show how this is to be done. Take a look at my issue:

https://github.com/Azure/azure-cosmos-table-dotnet/issues/18

Where is the sample for this? Where is the doc showing you how to do this or the other methods? At least if the source code was there, one could go digging there and find thi

[2019-11-20 06:01] rwike77 commented on #39037
@hpsin, can you take a look at this one?  Thanks.

[2019-11-20 06:05] Hasil-Sharma commented on #43058
@CHEEKATLAPRADEEP-MSFT Yes this totally works !!! Thanks for helping me with this. 👍

[2019-11-20 06:05] #43058 closed

[2019-11-20 06:06] xieofxie commented on #41728
@wilsonlapwong In the latest [client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client), bot secret key is no longer needed. It only needs the key and region of speech Cognitive Services.

[2019-11-20 06:09] SadiqhAhmed-MSFT commented on #42713
@PaulFurlet Test app doesn't need to be signed.

[2019-11-20 06:10] rwike77 commented on #38427
I followed up with engineering, unfortunately it's not possible to make /common OIDC compliant right now.  Closing this doc issue, feel free to reopen if necessary.  #please-close

[2019-11-20 06:10] #38427 closed

[2019-11-20 06:16] dcasati commented on #41440
specifying the sku does the trick now: --sky Standard

Here's my setup on that:

az network public-ip create \
    --resource-group MC_myResourceGroup_myAKSCluster_eastus \
    --name myAKSPublicIP \
    --allocation-method static \
    --sku Standard

[2019-11-20 06:27] wilsonlapwong commented on #41728
Hi,

Noted with thanks.

Regards,
Wilson

xieofxie <notifications@github.com> 於 2019年11月20日週三 下午2:06寫道：

[2019-11-20 06:48] czgtest commented on #43067
@YoDaMa   you can use "docker logs edgeAgent" in the integrated terminal to see deployment ID

![image](https://user-images.githubusercontent.com/35018765/69215495-dd167500-0ba4-11ea-8f46-14fff69a0b46.png)

[2019-11-20 07:03] koushik-codesigma commented on #43119
I'm following this (https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications) documentation. I created a non-gallery app in enterprise application and enabled SSO. I'm using angular in frontend. So, is there any library for SAML based SSO login in angular. @Alberto-Vega-MSFT

[2019-11-20 07:10] nikoudel commented on #43138
Hello Ryan, there were some errors in the event log but those were from the initial installation and for some known reasons not related to this issue. There are no errors from today when I last checked this routing problem.

I confirm I can successfully access both slots (production and staging) with direct DNS names (`https://<site-name>.azurewebsites.net/` and `https://<site-name-staging>.azurew

[2019-11-20 07:10] ArcherAZ commented on #41262
Interesting results indeed. Thanks for reaching us Beige ;)
It might be due to a temporary service failure and it should be fixed now. Let us know if you are still encountering the same issue, and feel free to file an ICM ticket so that our service team would further help you out.

[2019-11-20 07:17] utkarsh24 commented on #37976
Any updates ?

[2019-11-20 07:19] CHEEKATLAPRADEEP-MSFT commented on #43173
@dcollien You can try the below Azure CLI cmdlets to retrieve the connection string for EventHub and EventHub entities:

**Azure EventHub connection strings:**

Azure CLI cmdlet: `az eventhubs namespace authorization-rule keys list --resource-group <ResourceGroupName> --namespace-name <NameSpaceName> --name <RootManageSharedAccessKey>`

![image](https://user-images.githubusercontent.com/44426401/6

[2019-11-20 07:22] jjindrich commented on #43107
Thanks. I expected some generic solution, because all current linux deployments are placed to windows cluster. Tiller is one of example. How to avoid it ?

[2019-11-20 07:31] mashed6 commented on #42922
Thanks, i Will wait for a response!

Mvh
Kim Nordqvist
Sent from mobile

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Tuesday, November 19, 2019 11:32:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mashed6 <kim.nordqvist@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Same UPN in mu

[2019-11-20 07:41] nikoudel commented on #43138
Apparently this is not a new issue https://github.com/MicrosoftDocs/azure-docs/issues/23919.

[2019-11-20 07:48] memildin commented on #42568
Thanks for the feedback @artisticcheese.
I think @yoavfrancis has clarified the situation.
If you need anything more from us about this page, please be in touch.
#please-close

[2019-11-20 07:48] #42568 closed

[2019-11-20 07:48] gregdegruy opened #43178 "How can I automate with code to register an application using Java?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Register an app with the Microsoft identity platform - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory

[2019-11-20 08:03] MarileeTurscak-MSFT commented on #42995
@duncandw thank you so much for reporting this! I have created a work item for the product team to look into this and will update this thread when they have resolved it.

Can you please send me an email to AzCommunity@microsoft.com with any additional details and repro steps? I will also keep you in the loop for updates from the product team.

Thanks,

Marilee

[2019-11-20 08:04] SubhashVasarapu-MSFT commented on #43174
@smithashajith , You can deploy an Azure firewall with multiple public IP addresses using Azure PowerShell. You can translate multiple standard port instances to your backend servers. As you mentioned, if you have two public IP addresses, you can translate TCP port 3389 (RDP) for both IP addresses.
Azure Firewall with multiple public IP addresses is available via the Azure portal, Azure PowerShell

[2019-11-20 08:11] PramodValavala-MSFT commented on #42939
@olandese I was able to trigger the logic app using the returned callback URL with both api versions.

Is there any error when you try to trigger it? If so, could you share the same.

[2019-11-20 08:13] xieofxie opened #43179 "1. why name should be unique for metadata? 2. any advanced usage of strictFilters like only match names?"
1. It is not documented and it prevents certain scenarios like a document has both 'animal':'cat' and 'animal':'dog';
2. Like two documents with 'animal':'cat' and 'animal':'dog' each, we could use 'animal':'*' to query both.
Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
*

[2019-11-20 08:16] maaaaagda opened #43180 "AuthorizationPermissionMismatch with Storage Blob Data Contributor role"
Hi, I have an azure virtual machine and I'm trying to connect from there with azure blob storage container I created and list blobs. Virtual machine has Storage Blob Data Contributor role listed (for my account) in roles section. I'm trying to do this with azcopy. I'm logging as AD user with azcopy login --identity.

![image](https://user-images.githubusercontent.com/17687646/69220874-387d3e80-0b7

[2019-11-20 08:17] DixitArora-MSFT commented on #43081
@A100K Have you tried creating the same resource using portal instead of ARM deployment. If not , could you please try if possible.

The troubleshooting steps for this error message is mentioned in the below article.
https://github.com/Azure/Azure-Functions/blob/master/functions-premium-plan/troubleshooting.md

Also Can you try with the below ARM template and see if that works.
[code]

[2019-11-20 08:18] memildin commented on #10381
Hi @saurabhsensharma and @CeciAc,

The specific page on which this comment was added is now out-of-date and about to be removed.

On this page, you can find a table listing the platform support for all Azure Security Center features:
https://docs.microsoft.com/azure/security-center/security-center-services

Beneath the main table, there is a detailed list of the endpoint protection solutions suppo

[2019-11-20 08:18] #10381 closed

[2019-11-20 08:20] dcollien commented on #43173
Thankyou, the `--eventhub-name` was what is missing from the examples on this page.

[2019-11-20 08:22] PaulFurlet commented on #42713
Thank you. I think it would be nice to have it mentioned on the page.

[2019-11-20 08:22] #42713 closed

[2019-11-20 08:23] #43173 closed

[2019-11-20 08:23] DixitArora-MSFT commented on #43127
@ntspc1 **Published** if you want to publish the product. Before the APIs in a product can be called, the product must be published. By default new products are unpublished, and are visible only to the **Administrators** group.

[2019-11-20 08:34] emadalsous commented on #42428
Hello,

I would like to provide more details about the error. I hope this might help getting better understanding. I get this error when i set my App Service to use Free/Shared plan:
System.InvalidOperationException:
   at System.Web.Http.Dispatcher.DefaultHttpControllerActivator.Create (System.Web.Http, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35)
   at System.Web.Http.Contr

[2019-11-20 08:35] jakaruna-MSFT commented on #43107
Most of the helm charts supports taking node selector as an option.

i am not aware of other ways.

@MicrosoftDocs/aks-pm Please add your comments

[2019-11-20 08:36] #43180 closed

[2019-11-20 08:38] jjindrich commented on #43107
any comments @tkubica12

[2019-11-20 08:46] ruslan-atryaskin commented on #16481
hey folk!
finally i found this issue ... spend 10 hrs trying to make workaround

any news on it? looks like assigned more than year ago but no answer

[2019-11-20 08:55] yuxisun1217 opened #43182 "Dasv3/Dav3/Easv3/Eav3 should be v4"
Seems Dasv3/Dav3/Easv3/Eav3 should be v4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39662d32-ec4d-7826-37b9-6bc76b70fe2b
* Version Independent ID: c83e4c16-0add-2271-94be-572a360350d2
* Content: [Linux VM sizes in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes?toc=%2Fazure%2Fvirtual-mach

[2019-11-20 09:03] wmengmsft commented on #42990
@sujayvsarma, sorry for the confusion on this issue. I have answered your question in your GitHub issue and provided some references to documentation and samples. Please check if that addresses all your questions.

[2019-11-20 09:05] kristerkarto commented on #28113
Does the request you are trying to perform work in a webservice tool like SoapUI? You should be able to perform a request in SoapUI, copy the XML from the request into the logic app and it should work. If this doesn't work you haven't configured the connector properly.

[2019-11-20 09:10] shashishailaj opened #43183 "Test || How to configure Azure AD domain Services"
I am unable to deploy Azure AD Domai Services . It says I do not have admin rights. What kind of rights are needed for the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad393cc1-3395-fb17-b441-3d8998ed515b
* Version Independent ID: d4ebda6b-1528-e553-b37e-df586e6cb606
* Content: [Tutorial - Create an Azure Activ

[2019-11-20 09:12] giovannifl commented on #40637
Hi @MashaMSFT ,
Perfect thanks.
This Git Issue can be closed.
Thanks,
Giovanni

[2019-11-20 09:13] shashishailaj commented on #43183
Thank you for your query. We will investigate and update this thread further.

[2019-11-20 09:14] sujayvsarma commented on #42990
@wmengmsft -

1> The [document you linked to](https://docs.microsoft.com/en-us/rest/api/storageservices/writing-linq-queries-against-the-table-service) does not explain it at all. In fact, what on earth is the `context` object used in the code there? I could not find anything either in the docs that that page links to or in the SDK that provides that functionality. If anything, that document makes

[2019-11-20 09:15] shashishailaj commented on #43183
You need to be a Global Administrator to enable Azure AD domain services. The article https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-instance details the deployment.

Thank you.

[2019-11-20 09:15] #43183 closed

[2019-11-20 09:17] hanvyj opened #43184 "OFFSET LIMIT doesn't seem to work"
The documents state:

However, cross partition OFFSET LIMIT doesn't seem to function properly with a GROUP BY.

The example:

[code]

returns an empty list, if the LIMIT is less than the total size of the returned list.

(Edit: only tested this on a cross partition query)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-20 09:19] mayankprayas commented on #42906
Hi @Adam-Smith-MSFT , @SumanthMarigowda-MSFT ,

I am using oauth 2.0 in my application.
Currently we are referring below link for implementation :-

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

Due to security we have added PKCE on current solution if code_challenge length varies we will get this error.
Let me know if you need any further information on

[2019-11-20 09:21] SnehaAgrawal-MSFT commented on #43177
@itsmegopi2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 09:23] xieofxie opened #43185 "what's the meaning of MetadataBoost?"
I have seen it here https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.ai.qna.qnamakeroptions.metadataboost?view=botbuilder-dotnet-stable
Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [

[2019-11-20 09:41] VikasPullagura-MSFT commented on #43172
@smithashajith Thanks for the feedback! I am assigning the issue to the content author to add comments for this.

[2019-11-20 09:43] reallydontask commented on #36505
We're struggling with the same issue, is there a resolution?

[2019-11-20 09:43] jakaruna-MSFT commented on #42966
@tkumark  Recently VMSS creation experience is changed. I suspect thats the reason for omitting NSG creation. @cynthn please add more info regarding this.

I am able to reproduce your issue.

We need to add a NSG with port 80 to access the application.

In NAT config port 5985 is for WinRM(Microsoft Windows Remote Management)

[2019-11-20 09:43] jakaruna-MSFT commented on #42966
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-20 09:46] RohitMungi-MSFT commented on #43185
@xieofxie Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-20 09:47] RohitMungi-MSFT commented on #43179
@xieofxie Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-20 09:51] koratshail commented on #43116
I am also trying to build some code for simulation purposes. I have successfully compiled source code by commenting below line number 47
`#add_subdirectory(azure-iot-sdk-c)
` in azure-iot-sdk-c/central_app/devkit_device/CMakeLists.txt

[2019-11-20 09:54] nonstoptimm commented on #39862
Moving this up - would it be possible to give some hint or feedback on this :)?

[2019-11-20 10:01] robinmanuelthiel opened #43187 "Scaling cluster fails with Error 500 Internal Server Error"
When trying to scale the cluster using the following command, I get a 500 error.

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8a53eb4-5d63-299c-adc1-1b58900ad1ff
* Version Independent ID: af8b48b2-9a87-cb50-17a2-db327fe1b726
* Content: [Tutorial - Scale an Azure Red Hat OpenShift cluster](https://doc

[2019-11-20 10:08] koratshail commented on #43116
I am trying to connect IoT Plug and Play device MXchip-01 to IoT central application.
For this, I am following the below link.
[https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device](url)

I have completed all the steps successfully but at last, when I try to connect simulated device using the `.\central_app\devkit_device\Release\devkit_device.exe scopeid primaryke

[2019-11-20 10:08] VikasPullagura-MSFT commented on #43182
@yuxisun1217 Thanks for pointing this.
I have raised a PR for fixing the table values in the document.
The changes will go live once the PR is approved.

[2019-11-20 10:13] duncandw commented on #42995
Hello Marilee,

We actually logged a support case for it, so you might want to check with
your Premier Field Engineering colleagues; the case number is
119111624000309.
I have attached the screenshot.
[image: error_message.png]
I don't want to share the full logfile in here but it is part of the
support case.

Hope this helps;
Duncan
duncan.de.waal@heineken.com

On Wed, 20 Nov 2019 at 09:04, Maril

[2019-11-20 10:16] koratshail opened #43189 "Getting connection error from simulated device(MXchip-01) to IoT central"
I am trying to connect IoT Plug and Play device MXchip-01 to IoT central application.
For this, I am following the below link.
[https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device](url)

I have completed all the steps successfully but at last, when I try to connect simulated device using the `.\central_app\devkit_device\Release\devkit_device.exe scopeid primaryke

[2019-11-20 10:18] janpalas opened #43190 "Unable to choose time when daily volume cap is reset"
Why it is not possible to choose at what time the daily volume cap is reset? The time box "Daily limit will be set at:" is always disabled...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f81d18-6938-ac55-d619-bce2a629ef3e
* Version Independent ID: b1033352-2ad3-dd36-519a-edd438ab1a8a
* Content: [Manage usage and co

[2019-11-20 10:18] halfkilo opened #43191 ""Storage Analytics logging is not enabled by default for your storage account. ""
As I tested just now:
“Diagnostics are enabled by default on new storage accounts created from the Azure portal. ”
--quote from the hint message of the Diagnostics Setting status in storage account
And like the hint saying, Diagnostics Setting status is on by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30eb

[2019-11-20 10:19] jakaruna-MSFT commented on #42971
@bandersmsft We see that the add more option is removed.

Please update @mtwelve with the reason and update the video in the doc.

[2019-11-20 10:23] jakaruna-MSFT commented on #42700
@tkumark please add your comments

[2019-11-20 10:27] cephalin commented on #39564
I retested the scenario yesterday with the ASP.NET Framework sample (previously used the ASP.NET Core sample) and finally reproduced the 500 timeout error, which I resolved by updating the AppAuthentication library to the latest version. Probably some service changes don't play well with the old library.

I've updated the doc accordingly and it should be published sometime today. The updated steps

[2019-11-20 10:27] #39564 closed

[2019-11-20 10:45] wukun2015 opened #43192 "How many locales/languages are supported ?"
E.g., does it support zh-CN ? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [What is the Speaker Recognition API? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/

[2019-11-20 10:51] Yomodo commented on #34239
Same here.

[2019-11-20 10:57] RohitMungi-MSFT commented on #43091
@sdgilley Could you please let us know if this is still a known issue from the SDK?

[2019-11-20 11:09] dominicbetts commented on #40127
The Linux article has now been published: https://docs.microsoft.com/azure/iot-pnp/quickstart-create-pnp-device-linux

[2019-11-20 11:10] dominicbetts commented on #40127
#please-close

[2019-11-20 11:10] #40127 closed

[2019-11-20 11:28] SadiqhAhmed-MSFT commented on #42713
@qianw211 & @ChJenk To consider for doc-enhancement.

[2019-11-20 11:36] cephalin commented on #42428
#reassign:cephalin

@Luis-Palacios It looks like in the rewrite of the article we forgot to include that information. Sorry about that. I've added it in #96600.

@emadalsous I remember now that the reason ASP.NET/Core needs help from App Service because the X509Certificate class requires the use of the certificate store, even if you're just loading them from the file and such. Unfortunately that m

[2019-11-20 11:43] misterspeedy opened #43195 "Doesn't mention the 'Version this API?' checkbox"
There's now a 'Version this API?' checkbox on this screen, which should be mentioned in the 'Enter the settings for the API' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c254cd61-0ff3-bd87-f088-6f9916e056c6
* Version Independent ID: 1426c1ee-1979-f58c-8276-2afe8e6600b5
* Content: [Add an API manually using t

[2019-11-20 11:47] surexxx commented on #16407
I tried it to setting up CORS on Blob storage (as @rbonini recommended), and now it's working. I can use cross origin ajax request to cdn. There is an access-control-allow-origin: * header in response. I'am using Standard Azure CDN with query string caching.

[2019-11-20 11:51] Mo-GH opened #43196 "Install IoTedge on Debian 9, 10 and Docker on amd64 not working libssl 1.0.0"
Hi all,
I have problem with install IoT edge on Debian 9, 10 and Docker on amd64
I tried so many solutions but still not working:

I follow this doc:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

also https://docs.microsoft.com/en-gb/azure/iot-edge/support

I have installed many version of libssl

The following packages have unmet dependencies:
 iotedge : Depends:

[2019-11-20 11:54] VikasPullagura-MSFT commented on #43171
@smithashajith Thanks for the feedback!
I am assigning the issue to the content author for adding comments on this document enhancement.

[2019-11-20 11:58] timwoelfle commented on #41916
Great, thanks! An acknowledgement that you were able to reproduce and it wasn't a mistake from my side would've been nice, but that's minor now ;)

[2019-11-20 11:58] #41916 closed

[2019-11-20 12:09] cblomart commented on #42428
@cephalin : i wanted to checkout the PR but i suppose we cannot read it.
I think the limitation should be clear in the documentation.

The take away i have now is that certificate should work on free/shared and dotnet (core) on linux.
(Unfortunaly other limitations concerning soap signing forces us to use dotnet 4.7)

It is a shame that such limitation exists for X509 certificates that are a corne

[2019-11-20 12:10] RohitMungi-MSFT commented on #43192
@wukun2015 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-20 12:17] cephalin commented on #42428
@cblomart This has to do with the security architecture of App Service, which locks down the cert store in multitenanted hosting (FREE & SHARED). The limitation is mainly for .NET apps that take a dependency on the X509Certificate class. If you use certificates without using this class, this limitation also goes away. Other languages that don't depend on the cert store doesn't have this limitation

[2019-11-20 12:17] mnoc2 opened #43197 "Lack of parameters"
Linked json template contains parameters not described here: vaultName, vaultResourceGroup and certificateUrl which are reqiured

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc687ef4-5930-979e-7c00-70c381ee4a84
* Version Independent ID: 26106e86-d478-05e6-2ed7-c9b45a1545a9
* Content: [Deploy a VM from your VHDs for t

[2019-11-20 12:21] jtuliani opened #43198 "Bug in last example"
The request body in the last example is invalid. The changeId property has two 'beforeTime' entries instead of one 'beforeTime' and one 'afterTime'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733fcd9b-e234-8765-a7e0-498ded659ddc
* Version Independent ID: bd115a3e-37c9-66c9-da11-68b46b563275
* Content: [Get resource

[2019-11-20 12:23] Nimleth opened #43199 "No mention of the storage account created by the app service"
Hi,

When I create a function app the platform also deploys a storage account. This storage account then accepts connections from everywhere. It should be that this storage account only accepts connections from this app service but enabling the firewall/VNET SE breaks the function app.

None of this, or any other considerations, are discussed here. It would be very good if you could add security c

[2019-11-20 12:25] jakaruna-MSFT commented on #42998
@kogesaka This is the only way to do and only global admins can register.
We need to do this once for the tenant.  After that, it will be available for all users.

When you this url in  the browser, A consent page will appear.  After accepting the consent, Then a app will be created with the same application id which we gave in URL.

When we create an app registration, We cant give that id as inpu

[2019-11-20 12:25] ArttuArstila commented on #36403
I tried to look for Alternate ID support, but the current wording is really confusing. Supported "by limited extent" but only if UPN attribute in AD is used, which is never the case with Alternate ID. So in practice PHS does not support Alternate ID after all? Please clarify this!

[2019-11-20 12:27] jakaruna-MSFT commented on #43063
@bobbytreed please add your comments

[2019-11-20 12:27] oviliz commented on #23301
@Grace-MacJones-MSFT apparently people have different experiences with this. As Keiro suggested, if this indeed doesn't affect availability should be clearly stated in the documentation.

[2019-11-20 12:30] PramodValavala-MSFT commented on #43195
@misterspeedy Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-20 12:51] spottedmahn commented on #22731
Hi @mumian - I think you meant to comment on https://github.com/MicrosoftDocs/azure-docs/issues/42431 😀.  Correct me if I'm wrong.

[2019-11-20 12:52] csuzw opened #43201 "RHEL 7.7 support"
This page suggests cloud-init for RHEL 7.7 is available in preview.  However if I try to create VM with RHEL 7.7 through the Azure Portal, cloud-init is shown as unavailable.  Does this mean it's not available and the table is wrong or is there something I've missed?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb1

[2019-11-20 12:56] AjayKumar-MSFT commented on #43178
@gregdegruy, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-20 12:59] spottedmahn commented on #42431
Hi @mumian - thanks for the reply but I still don't think it is covered.  Let me try to clarify the ask by a more specific example.

[code]

---

That is not true for the above example, FYI.

[2019-11-20 13:06] rambabu0063 opened #43203 "deployment issue in Management identity"
Hi Team,
i have deployed Azure powershell function app  and i have used the ARM template provided on github
`[]([]([]([](link:https://github.com/Azure/azure-quickstart-templates/blob/master/101-functions-managed-identity/azuredeploy.json))))`

but i faced one issue with management identity. default management identity got created with error.

Error description:{"code":"DeploymentFailed","message":

[2019-11-20 13:09] SadiqhAhmed-MSFT commented on #42973
@dcurwin For help

[2019-11-20 13:16] HotSwap opened #43205 "Uploading Data Too Slow!!"
When attepting to upload data using the "Individual utterances + matching transcript" aproach. I can only select a single ZIP archive at a time. Can you look into this as I have 315 ZIP files containing 1392 Utterances.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6fc39a-3260-dd83-f0e9-9d2b123d0970
* Version Indepe

[2019-11-20 13:20] AjayKumar-MSFT commented on #43184
@hanvyj, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-20 13:21] SadiqhAhmed-MSFT commented on #42917
@sachdevaswati & @GeethalakshmiG For assistance on this.

[2019-11-20 13:21] cephalin commented on #42217
@juunas11 Thanks for your insightful feedback. I've fixed the code issue you mentioned and it should be published sometime today. But the code is mainly there to show how one would perform the verification of client cert manually, not for lift-and-shift into their code. We currently don't have the resourcing to provide additional code samples for this doc, but if you're interested in contributing

[2019-11-20 13:21] #42217 closed

[2019-11-20 13:23] SaurabhSharma-MSFT commented on #42829
@JustenCs I am unable to see the screenshot here.  Can you please send an email to azcommunity[at]microsoft[dot]com with the screenshot so that I can further look into this.

[2019-11-20 13:28] HotSwap commented on #43205
Ok, there is a lot of conflicting information on this page about the max size of ZIP archaive, etc.. please review and tidy it up.

[2019-11-20 13:35] KrishnaG-MSFT commented on #43180
@maaaaagda Hope you have self resolved and hence closed the issue. Thanks for the update. Just FYI, in future if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance.

[2019-11-20 13:45] vzhikness commented on #9557
It looks like if you put your `clientId` in scopes of requestConfig parameter you will get only the id_token without access_token. And it can be renewed with `acquireTokenSilent`.  Does it work for you?

[2019-11-20 13:50] JustenCs commented on #42829
Hi Saurabh

OK sent just now

Thank you again

Charles Ferreira
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, November 20, 2019 8:23 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Charles Ferreira <justenc@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Tool? (#42829)

@JustenCs<

[2019-11-20 13:52] ronflima commented on #17718
Followed the instructions on the provided blog source. Not working AT ALL. I'm unable to turn SSI on for a WebApp.

[2019-11-20 13:53] Luis-Palacios commented on #42428
@cephalin thanks for your confirmation. I'm not able to see the link you shared I get a 404, Could you point me in a direction to see how I can use a certificate without the X509Certificate class? I'm trying to load one for Identity Server 4

@cblomart I'm using Dotnet core 3.0 but my app service is on windows I'll try Linux to see if I still run into the issue

[2019-11-20 13:54] assaf-grth opened #43206 "Node versions support"
Regarding support for older versions of nodejs,
I want to use specific version of node using WEBSITE_NODE_DEFAULT_VERSION key.
Is it possible that over time, the version of node I use will be removed from the function storage and suddenly my function might not work?
I see folders for different versions of node in d:\program files\nodejs.
Is it possible that any of these folders will be deleted as

[2019-11-20 14:03] MonikaReddy-MSFT commented on #43199
@Nimleth , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-20 14:04] EricAshton opened #43207 "We should link to the geofilter page from here."
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/ag-overview mentions geofiltering being preview, but there is no info about it. Which makes people assume it should work, but this is a dead-end because they need to be directed here:

https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview#geomatch-custom-rules-preview

Hyperlink to the geofilt

[2019-11-20 14:05] MonikaReddy-MSFT commented on #42217
@cephalin - Thank you for fixing the doc.
@juunas11 - Thanks again for bringing this to our attention.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-20 14:09] ArchieCoder opened #43208 "Tier unavailable"
"SkuName can be F0 (Free tier)" this does not work anymore.

Strangely, trying the following command with proper parameters does not work $resource = New-AzCognitiveServicesAccount -ResourceGroupName &lt;RESOURCE_GROUP_NAME&gt; -name &lt;RESOURCE_NAME&gt; -Type ImmersiveReader -SkuName S0 -Location &lt;REGION&gt; -CustomSubdomainName &lt;UNIQUE_SUBDOMAIN&gt;

---
#### Document Details

⚠ *Do not e

[2019-11-20 14:13] memildin commented on #43146
Enforcement mode is due to be reenabled within the coming few months.

Thanks for the feedback. If you have any further questions, please feel free to contact us again.

#please-close

[2019-11-20 14:13] #43146 closed

[2019-11-20 14:16] kmikc909 opened #43209 "Azure Resources show as not supporting tags when they do?"
Azure tags seem to be showing as not supporting tags:

resourceGroups	Yes	No
resources	No	No
subscriptions	No	No

Should't it be "Yes No" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f927d2e-a3a6-3de9-5458-5149c163e0d0
* Version Independent ID: 8ce4f6c2-359c-fb55-a3f1-acd2b6a96afa
* Content: [Tag support for resou

[2019-11-20 14:16] lightenup opened #43210 "Open source alternative to Simba"
Is there a open source alternative to the simba driver ? Preferably a driver available in maven repo. This would make our build a lot cleaner and our developers happier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cde2eb-db66-83fc-8874-f75f7c9d96b2
* Version Independent ID: 329813a7-7fa3-bd78-cf65-3d9e844dbdbc
* C

[2019-11-20 14:18] pvrk commented on #42205
@paulbeechey : This is a bug and we are fixing with upcoming PS version. Hope you also got the update via case.

[2019-11-20 14:25] KrishnaG-MSFT commented on #42900
@biren1234 Since we have not heard back from you we will be closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-11-20 14:25] #42900 closed

[2019-11-20 14:26] KrishnaG-MSFT commented on #42943
@mvhbharath Since we have not heard back from you we will be closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-11-20 14:26] #42943 closed

[2019-11-20 14:26] cephalin commented on #42428
@Luis-Palacios For example, you might use a 3rd party .NET library to load certs. Microsoft can't advise you on the selections and it's also beyond the scope of this documentation. Your best bet is StackOverflow, or other forums.

[2019-11-20 14:32] KrishnaG-MSFT commented on #43190
@janpalas Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-20 14:32] paulbeechey commented on #42205
Hi Kartik,
Yes, im expecting the updating cmdlet on the 26th or thereabouts

Kind regards

Paul

From: Kartik P V R <notifications@github.com>
Sent: 20 November 2019 14:19
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Beechey <Paul.Beechey@PelicanProcurement.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Get-AzRecoveryServicesBackupWork

[2019-11-20 14:33] ratchetwrench commented on #43145
Examples could include:
- Showing how parameters are used and passed between
- Looping over arrays of parameters
- steaming from on-peek sql server to cloud database

Usecases: “I need to get all table from on-prem Oracle in ABC.XYZ.TEMP_*,  that might be 5 or 10 tables. And need to filter on each but have varying column names to filter. Can I stream that to a Azure sql server without defining sch

[2019-11-20 14:39] pvrk commented on #42205
Thanks, since this was filed as a doc bug I will proceed to close this. If the latest version, didn't fix the error, please re-open this bug.

[2019-11-20 14:41] NavtejSaini-MSFT commented on #42556
@allenwux Please check this Pull request and help us with getting it reviewed.

[2019-11-20 14:42] pvrk commented on #42205
#please-close

[2019-11-20 14:42] ljtill commented on #42752
@msrini-MSFT I've just encountered this error when deploying a new Secured Virtual Hub. I've validated that the feature is in the Registed state before deploying. Deployment error below.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"

[2019-11-20 14:42] #42205 closed

[2019-11-20 14:43] paulbeechey commented on #42205
Perfect, will do

Kind regards
Paul

From: Kartik P V R <notifications@github.com>
Sent: 20 November 2019 14:40
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Beechey <Paul.Beechey@PelicanProcurement.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Get-AzRecoveryServicesBackupWorkloadRecoveryConfig issue with -AlternateWorkloadRestore and

[2019-11-20 14:44] NavtejSaini-MSFT commented on #43110
@vishalsinghdev Please get back to us with the document that you have question for. This will help us to better assist you regarding the same.

[2019-11-20 14:50] NavtejSaini-MSFT commented on #42667
@dmarlow We have checked with our product group team and they have conveyed that the storage/DB size doesn't affect its auto-scaling latency.

[2019-11-20 14:52] franzoir commented on #43030
For reference: https://feedback.azure.com/forums/217313-networking/suggestions/39075688-aad-authenticated-p2svpn-should-support-mac-os-x

[2019-11-20 14:55] dtalet opened #43212 "create a private endpoint for a storage account (which is in a different tenant and subscription)"
Hello everyone.

When trying to create a private endpoint for a storage account (which is in a different tenant and subscription) we received this error:

Operation name: Create or update an private endpoint.

Error code: GatewayAuthenticationFailed

Message: Gateway authentication failed for 'Microsoft.Network'. Diagnostic information: timestamp '20191118T163815Z', tracking id 'b43f042c-b6c1-4611

[2019-11-20 14:56] CharmanderJieniJieni opened #43213 "How to check vm rebooting status"
Our pipeline has a VM restart step in between and downstream steps have dependency on successful rebooting of the VM. How can we verify if the VM has completed rebooting through API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8729fb-9c09-1872-be3f-8a0dc1a93d38
* Version Independent ID: 51bba8e0-91a8-38c0-5ec2-930

[2019-11-20 14:59] danimir commented on #32662
@muralidar44 -- Windows Authentication is not supported feature for Managed Instance, it is not implemented. Please review the officially documented list of supported and unsupported features here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features. Thank you.
#please-close

[2019-11-20 15:03] dtalet commented on #43212
According to this documentation it should be possible.

https://docs.microsoft.com/en-us/azure/private-link/private-link-faq

Can Private Endpoint connect to Private Link service across Azure Active Directory Tenants?
Yes. Private endpoints can connect to Private Link services or Azure PaaS across AD tenants.

[2019-11-20 15:04] dtalet commented on #43212
I tried it in the portal as well as in Powershell with same error result

[2019-11-20 15:14] silverl commented on #43133
Thank you. Adding a little more context, I'm seeking a way to give a Chromebook user read-only query access to Azure SQL Database. I can't reasonably suggest they run Linux on the Chromebook to use Azure Data Studio.

[2019-11-20 15:15] GiantCrocodile commented on #36905
So this issue has been postponed and won't be fixed in short term @tchristiani?

[2019-11-20 15:20] DCtheGeek commented on #43112
@jtuliani The team is aware of this issue and is working on a fix. Since this isn't an issue with docs, I'm going to close this issue. Keep on eye on the [PowerShell Gallery](https://www.powershellgallery.com/packages/Az.ResourceGraph) for the module update to get posted. Thank you again for reporting this!

@MicrosoftDocs/azure-cxp-triage Please change label 'product-question' to 'product-issue'

[2019-11-20 15:20] #43112 closed

[2019-11-20 15:24] DCtheGeek commented on #43198
#assign:DCtheGeek

[2019-11-20 15:30] DCtheGeek commented on #43198
@jtuliani Thanks for the feedback and catching this. I'll get it fixed right away! When the fix merges, this issue will automatically close.  Thank you again for catching it and pointing it out!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2019-11-20 15:36] KrishnaG-MSFT commented on #43198
@DCtheGeek Added 'doc-bug' and 'in-progress' labels.

[2019-11-20 15:42] BernardoMB opened #43214 "Language agnostic procedure for test token creation"
Can you describe the language agnostic procedure to create the test token?

The example [EncryptWithAES](https://github.com/Azure-Samples/media-services-v3-dotnet-tutorials/blob/master/AMSV3Tutorials/EncryptWithAES/Program.cs "Sample described in the article") shows how to use the .Net framework to create the test token, however I don't really know what's going on behind those library methods. I w

[2019-11-20 15:47] AjayKumar-MSFT commented on #43187
@robinmanuelthiel, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-20 15:55] dipesh-wadhwa opened #43215 "Documentation Update to v1.1.3"
forceRefresh attribute information is missing from documentation. I believe forceRefresh attribute was added in msal 1.1.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69b44d91-f31e-b934-dbb0-fc7e69954b44
* Version Independent ID: 76a2ef76-270a-e6f9-d13a-88b04be315d7
* Content: [Initialize client applications (Micros

[2019-11-20 15:57] dipesh-wadhwa commented on #42529
Thanks @amanmcse
Information you provided helped.

[2019-11-20 15:57] DixitArora-MSFT commented on #43206
Hi @assaf-grth Thanks for reaching out. We will review and update as appropriate.

[2019-11-20 16:02] AjayKumar-MSFT commented on #43189
@koratshail, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 16:04] dmarlow commented on #42667
I'm curious how that works. It must be doing something different than what scaling a DB does today, right? Today, when you change the size/scale of a db, it copies the data to a new cluster; then, things are pointed over to it. Severless must be doing something different under the covers. How does it work?

[2019-11-20 16:05] AjayKumar-MSFT commented on #43191
@halfkilo, Thanks for the question! We are investigating and will update you shortly.

[2019-11-20 16:05] DarrinEide commented on #41916
@timwoelfle: Noted! Sometimes I get too lost in investigating something and forget about the communication side :-)

[2019-11-20 16:08] #43198 closed

[2019-11-20 16:09] AjayKumar-MSFT commented on #43196
@Mo-GH, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-20 16:09] GiftA-MSFT commented on #43208
@ArchieCoder thanks for reaching out, we will review this issue and get back to you shortly.

[2019-11-20 16:10] AjayKumar-MSFT commented on #43197
@mnoc2, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-20 16:13] zhusulai commented on #42752
@msrini-MSFT, sorry for the late reply. I also confirmed the feature was registered when I encountered the error.

[2019-11-20 16:13] erhopf commented on #39862
@nonstoptimm - Sorry for the delay. I'm going to get someone to look at this for you ;).

[2019-11-20 16:14] Karishma-Tiwari-MSFT commented on #43201
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 16:15] GiftA-MSFT commented on #43205
@HotSwap thanks for reaching out. We will review this issue and get back to you shortly.

[2019-11-20 16:16] wukun2015 opened #43216 "Does Sentiment feature support Chinese (zh-CN) ?"
I tried but always received "null" in this field when feeding Chinese audio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use Batch Transcription - Speech Service - Azure Cognitive Services](https://

[2019-11-20 16:22] taromielnaz opened #43217 "App Service plan"
Do the Staging slots have to be in the same App Service Plan with the production plan? I mean 2 different plans but the same tier. Can we put all stagings in one plan and production in another?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0

[2019-11-20 16:24] tchristiani commented on #36905
Our sprints run in monthly increments. It has been added to the next sprint.

[2019-11-20 16:35] dargilco opened #43218 "Use botConfig.Language"
In section #3 under "C# code-behind source" this line:
  botConfig.SetProperty(PropertyId.SpeechServiceConnection_RecoLanguage, "en-US");
should be replaced by:
  botConfig.Language = "en-US"
and the comment above the code should be updates as well.
The functionality is the same, but we should promote setting class properties directly when available, instead of using SetProperty.

---
#### Documen

[2019-11-20 16:39] MicahMcKittrick-MSFT commented on #43213
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 16:39] GiantCrocodile commented on #36905
Thank you for clarification!

[2019-11-20 16:45] vishalsinghdev commented on #43110
[https://docs.microsoft.com/en-us/azure/mysql/concepts-backup](Backup and restore in Azure Database for MySQL)

[2019-11-20 16:48] sarah026 commented on #43062
thanks for your help, I'll have a go at it and see how it goes. I appreciate your quick action.

[2019-11-20 16:56] Pyrobolser commented on #25371
@phatcher Were you able to solve this issue, I am struggling to do the same thing and the documentation is lacking on this. I just want to ensure that a user has used MFA to connect to the application before accessing some sensitive areas.

[2019-11-20 17:00] NavtejSaini-MSFT commented on #43098
@amoldixit-Git We agree with your assessment but if you run the following query:
SELECT name FROM mysql.time_zone_name;
It gives 594 values which is difficult to accommodate on this page. We will try to work with the portal team to remove this but we don't have a ETA for the same.
We will go ahead and close this thread if no further questions.

[2019-11-20 17:10] CeciAc opened #43219 "About sku specification of az network public-ip create"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2907
It looks like the contributor is refering to the original documentation.

The comments below were machine-translated.

@a09-capf commented 14 hours ago — with docs.microsoft.com
When a public IP is issued without specifying sku as described in this document when executing the az network public-ip create

[2019-11-20 17:13] BharathNimmala-MSFT commented on #41479
@JimBlizzard If you are referring to manage the conditional access to Azure DevOps please check [this ](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-conditional-access?view=azure-devops) documentation.

Additional documentation links on managing permissions and access with in Azure DevOps can help you:

[Access with Azure Active Directory Group](https://docs.microsof

[2019-11-20 17:20] msrini-MSFT commented on #42752
I am able to successfully deploy the after registering AllowCortexSecurity feature, Can you try again?

Also let me know the region where you are trying.

[2019-11-20 17:22] MashaMSFT commented on #40637
Hi @giovannifl , thanks for the confirmation! We will close out this Git Issue then :) Thanks again for contacting Microsoft!

Masha from the SQL Docs team
#please-close

[2019-11-20 17:22] #40637 closed

[2019-11-20 17:25] MicahMcKittrick-MSFT commented on #43149
@bhans378 as mentioned in the doc you need to be running Azure CLI 2.0.76

I also suggest updating the aks-preview extension as the latest version is 0.4.23

I ran though the doc and the commands work as written. So this doc is up to date and you just need to update your CLI version. You can also use the Azure Cloud Shell instead as the cloud shell is always up to date with the latest version of a

[2019-11-20 17:25] #43149 closed

[2019-11-20 17:26] kamranbashir commented on #43080
Also created issue here
https://docs.microsoft.com/answers/questions/1463/token-lifetime-policy-is-not-working.html

[2019-11-20 17:26] FrankHu-MSFT commented on #43044
hey @Norrch2

The suggested pattern is to chain them together

So at the moment, the policy chain looks something like this:
... <- B2C_1A_TrustFrameworkBase <- B2C_1A_GF_BuildingBlocks <- ...

What could be done is adding another intermediate policy that contains the localization information. This would look something like this:
... <- B2C_1A_TrustFrameworkBase <- B2C_1A_GFLocalization <- B2C_1A_

[2019-11-20 17:27] #43044 closed

[2019-11-20 17:29] FrankHu-MSFT commented on #43215
@dipesh-wadhwa Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-20 17:30] MicahMcKittrick-MSFT commented on #43213
You can find the REST API commands to restart the VM here:
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/restart

After issuing that command, once the restart is complete you will be issued a response of Accepted once the command has started and OK once it has completed

Name | Type | Description
-- | -- | --
200 OK |   | OK
202 Accepted |   | Accepted

Sometimes though, for ex

[2019-11-20 17:34] MashaMSFT commented on #42421
Hi @paramda , thanks so much for contacting Microsoft and providing your feedback! I've created a work item to review the steps in this tutorial and update them as you've suggested ([1649109](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1649109)). I will close out the Git Issue for the time being but please feel free to comment should you need anything further.

Thanks and hope

[2019-11-20 17:34] #42421 closed

[2019-11-20 17:34] wcneumann opened #43221 "Split versus Forced tunneling"
Is there some reason that Microsoft doesn't allow customers to configure forced tunneling for certificate-based Point-to-Site VPN connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b-eff387f3ffef
* Version Independent ID: ded2a816-93c7-a4b3-1ec2-c29ce86cd492
* Content: [About Azure Point-

[2019-11-20 17:35] MicahMcKittrick-MSFT commented on #43187
@robinmanuelthiel can you try a lower count than 12? It is possible you don't have enough cores available. Try scaling to 4 or 5 and see if you get the same error.

[2019-11-20 17:38] NavtejSaini-MSFT commented on #43110
@vishalsinghdev The automatic backup for My Sql Server happens with following frequency as mentioned in this [document](https://docs.microsoft.com/en-us/azure/mysql/concepts-backup):
![Capture](https://user-images.githubusercontent.com/52257742/69262989-6cfef380-0b92-11ea-93dc-cafee85f8dc9.JPG)
The transaction log back up happens every 5 min so the Data can be restored to a 5 min interval. Use the

[2019-11-20 17:38] CeciAc opened #43222 "Risk levels new features"
@BakkerJan commented on [Wed Nov 20 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/546)

Can you add the risk levels for Malicious IP address, Azure AD threat intelligence and Unfamiliar sign-in properties? Or is this relative?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 198f0e69-af2a

[2019-11-20 17:41] vishalsinghdev commented on #43110
Hello Team,

Thank you for response.

Regards,
Vishal Singh

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Wednesday, November 20, 2019 11:08:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Vishal Singh <vishal.singh@hensongroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-11-20 17:42] YutongTie-MSFT commented on #43218
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 17:43] YutongTie-MSFT commented on #43216
@wukun2015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 17:48] csteelatgburg opened #43224 "Refresh URL content clarification"
When checking the box to refresh the content on an imported URL, does that setup a recurring refresh or one time refresh?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995aed4a-f5e1-c5c4-a87a-45e5fe63907d
* Version Independent ID: 4bfed100-9f9f-d003-4066-548071824f4c
* Content: [Edit a knowledge base - QnA Maker - Azu

[2019-11-20 17:49] JimacoMS3 commented on #17690
@zweim1 I'm going to move to close this issue. If you find anything still lacking in the updated topic, please @ comment me.

[2019-11-20 17:50] CeciAc opened #43225 "nice example for payload but missing explanation"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/591
The contributor is making a suggestion on the original documentation

@robert-bachmann commented 4 hours ago — with docs.microsoft.com
This page is good to see what a payload could look like. But it would be also good to have a list of possible values in the fields described below each example. See the ex

[2019-11-20 17:50] djpmsft commented on #43145
Hi @ratchetwrench,

We have a tutorial on how to copy data from on-prem to cloud found [here](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-hybrid-copy-portal).

We have also created [a whitepaper](https://azure.microsoft.com/mediahandler/files/resourcefiles/azure-data-factory-passing-parameters/Azure%20data%20Factory-Whitepaper-PassingParameters.pdf) outlining showing how to use pa

[2019-11-20 17:51] #43182 closed

[2019-11-20 17:51] JimacoMS3 commented on #17690
#please-close

[2019-11-20 17:51] #17690 closed

[2019-11-20 17:57] qianw211 commented on #42713
@SadiqhAhmed-MSFT Hi, could you please review the current docs and let me know what needs to be changed?  Thanks!

[2019-11-20 18:02] ljtill commented on #42752
@msrini-MSFT I've just re-run the deployment and it's now deploying successfully. This is within the North Europe region.

[2019-11-20 18:04] Alberto-Vega-MSFT commented on #43207
@EricAshton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-20 18:05] svangeti opened #43226 "Advanced filters "StringNotContains" OperatorType option"
What is the alternative to use "StringNotContains" filter for EventGrid subscriptions. I see no such filter OperatorType exists. Any help would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b572f63-312f-4567-5f06-d09bcccf303e
* Version Independent ID: df817c5f-24e4-bdc7-511c-141d07a53d15
* Content: [Event f

[2019-11-20 18:08] Robert-Altland opened #43227 "This document is outdated, MSAL documentation is woefully inaccurate and incomplete"
If your section on brokered authentication using MSAL is accurate (https://docs.microsoft.com/en-us/azure/active-directory/develop/brokered-auth), the statement above that "The broker support isn't available for Android." is incorrect. You have a whole article on it. You need to keep your documentation up to date. You also don't mention which nuget package to install to code for brokered authentic

[2019-11-20 18:08] YutongTie-MSFT commented on #42972
@assafi Thanks a lot.

@amanjeetsingh
This change will be online soon. Thanks for your feedback again. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-20 18:08] #42972 closed

[2019-11-20 18:10] KranthiPakala-MSFT commented on #43210
@lightenup Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-11-20 18:11] jmprieur commented on #43227
Thanks for your feedback, @Robert-Altland

However, there is a distinction between the broker support by the MSAL Android native library (which is now available), and the support of Authenticator and company portal by MSAL.NET in the Xamarin.Android platform (which is not yet available).

[2019-11-20 18:11] v-maudel opened #43228 "First command is working of you copy/paste it"
@Tuumke commented on [Wed Nov 20 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/547)

If you use the first command in this article:

[code]

It won't work because the pipeline Select SkuPartNumber is on a new line without the `

Commands later in the article do contain the symbol

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tusse

[2019-11-20 18:15] Alberto-Vega-MSFT commented on #43212
Hi @dtalet I'm sorry you are facing this issue and thanks for reaching out. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author. (We try to keep this issues for documentation feedback)
If this is not a feedback entry and you need help with your implementation then please open a question on the Developer forums StackO

[2019-11-20 18:17] lebedov opened #43229 "azureml.core.runconfig.RunConfiguration.auto_prepare_environment is deprecated, should be removed from online examples"
Should be removed from the examples in the online docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49515ab-308d-8e5d-0960-40ce43d4752d
* Version Independent ID: 651348fd-f173-55c0-8199-68c0eac7b043
* Content: [Create and use compute targets for model training - Azure Machine Learning](https://docs.microsoft.com/en

[2019-11-20 18:17] Alberto-Vega-MSFT commented on #43203
Hi @rambabu0063 I'm sorry you are facing this issue and thanks for reaching out. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author. (We try to keep this issues for documentation feedback)
If this is not a feedback entry and you need help with your implementation then please open a question on the Developer forums S

[2019-11-20 18:21] chrisjrisch commented on #28657
What permissions does a uses need to see the database in SSMS and be able to process the database?

[2019-11-20 18:30] erhopf commented on #43205
@ArcherAz can you look into this?

[2019-11-20 18:30] MulderMartijn commented on #21458
Hi All,

Regarding this issue, is there an solution to this issue. My client is experiencing same issues starting today.

[2019-11-20 18:31] memildin commented on #43017
Thanks for getting in touch @OliCSADoerr
I've made some changes that should resolve this issue.
If you still have comments on this page, please let us know.

#please-close

[2019-11-20 18:31] #43017 closed

[2019-11-20 18:33] GiftA-MSFT commented on #43229
@lebedov thanks for reaching out, we will review this issue and get back to you shortly.

[2019-11-20 18:35] hpsin commented on #39037
@atkinchris - do you happen to have one of these bad secrets? Apologies it took a while to reach out.  Agreed on your two points - will reach out internally to see what the situation is with /token.

[2019-11-20 18:35] GiftA-MSFT commented on #43224
@csteelatgburg thanks for reaching out. We will review this issue and get back to you shortly.

[2019-11-20 18:35] Adam-Smith-MSFT commented on #42426
@klaaslanghout (Customer update ^)

[2019-11-20 18:35] tfitzmac commented on #43209
@kmikc909 - thanks for this feedback. I have removed that entry in the article because it seems misleading.

[2019-11-20 18:35] tfitzmac commented on #43209
#please-close

[2019-11-20 18:35] #43209 closed

[2019-11-20 18:38] nofield opened #43230 "Documentation Half Updated"
Half of this looks like it's for DurableFunctions 1.x and half for 2.x. The "full code" doesn't match the code in the walk-through steps. (Also a clear indicator that some of this is for DurableFunctions 2.x is that there's references to Interfaces that don't exist in 1.x)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-20 18:39] NavtejSaini-MSFT commented on #42667
@dmarlow Compute and storage are separated on different machines so there is no data copy involved in re scaling.

[2019-11-20 18:39] MicahMcKittrick-MSFT commented on #43219
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 18:39] robinmanuelthiel commented on #43187
Hi Micah, thanks for your reply.

To answer your question: It works, when editing the ARM template, so it should't be a core limit.

Meanwhile, I think this is more of an OpenShift CLI issue and not a docs one. I opened an issue here as well: https://github.com/Azure/OpenShift/issues/109

[2019-11-20 18:40] SaurabhSharma-MSFT commented on #43032
@adzamri Are you looking for a data connector for McasShadowItReporting in Azure Sentinel.  If so, unfortunately this is not currently available.  Please post this as a feedback on [Sentinel UserVoice](https://feedback.azure.com/forums/920458-azure-sentinel). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section

[2019-11-20 18:42] dtalet commented on #43212
Hello @Alberto-Vega-MSFT

According to this documentation:
https://docs.microsoft.com/en-us/azure/private-link/private-link-faq

Can Private Endpoint connect to Private Link service across Azure Active Directory Tenants?
**_Yes. Private endpoints can connect to_** Private Link services or _**Azure PaaS across AD tenants.**_

Unfortunately the existing documentation in https://docs.microsoft.com/en

[2019-11-20 18:42] Robert-Altland commented on #43227
1) This distinction between native vs Xamarin should be more explicit, or better yet, non-existent. I mean, technically you need a jar for one and a dll for the other, but there should always be feature parity. That's the value of Xamarin.
2) Why don't you create a binding library in the mean time? When there's a new Android SDK available, I've got it in Visual Studio to use in my Xamarin apps wit

[2019-11-20 18:43] dcurwin commented on #42973
#reassign:pvrk

[2019-11-20 18:43] #42989 closed

[2019-11-20 18:44] cawrites commented on #42080
#assign @MarkusVi

[2019-11-20 18:45] memildin commented on #37063
Thanks for getting in touch, @dcbrown16 !
It would be great to have detailed reasons for each and every recommendation about why it might appear as “Unavailable”.
It’s on our roadmap to add these reasons, but we can’t give a precise timeline at this stage.

#please-close

[2019-11-20 18:45] #37063 closed

[2019-11-20 18:46] nofield commented on #43230
As a follow up, I'm looking for how to test DurableFunctions v1.x (going back and adding tests for old durable functions), so I'd like to see a reference for the old version of this documentation, please?

[2019-11-20 18:54] hpsin commented on #41386
For managed (home tenant scenario) users, it's the email address, specifically the one they typed in to sign in (this varies however, depending on where they entered their address).  For guest users it can be a phone number (mangled with the #) or their email address in another IDP (e.g. live.com#yyy@hotmail.com).

Which mappings in particular, beyond unique_name, did you have in mind?

[2019-11-20 18:56] memildin commented on #32615
@maxgaulhofer, thanks for the suggestion.

The powershell steps mentioned in this doc (used to onboard to Azure Security Center) are all available in our APIs as well: https://docs.microsoft.com/en-us/rest/api/securitycenter/

However, there’s no guide on how to use the APIs to programmatically onboard, and we agree that there should be. This will be added to the documentation backlog.

#please-cl

[2019-11-20 18:56] #32615 closed

[2019-11-20 18:56] dmarlow commented on #42667
Very cool. So compute can be provisioned and the disconnect happens when pointing traffic to new compute nodes. Data doesn't need to move as both compute clusters utilize the same underlying storage. Makes sense. Thanks for the clarifications.

[2019-11-20 18:56] #42667 closed

[2019-11-20 19:05] MicahMcKittrick-MSFT commented on #43187
Got it. Thanks for that :)

Once other thing to try, could you try running the scale command in the [Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview)? You will likely need to run the commands as written in the doc as some versions of cli use -n for name, etc.

az openshift scale --resource-group $CLUSTER_NAME --name $CLUSTER_NAME --compute-count 12

[2019-11-20 19:06] Sandip-Raiyani commented on #43139
@marcelo-onfleeklabs @KingdomOfEnds - we had a bug on cross tenant support, we've fixed it and we'll upload temporary fix shortly(within a day or two) to unblock the customers..

[2019-11-20 19:09] DerekLuce commented on #20020
@MarileeTurscak-MSFT What about triggering the upgrade when auto-upgrade is not an option? I'm preparing to upgrade to 1.4.32.0, which says `Not available for auto-upgrade` on [Version Release History](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history) page. So I have to do an in-place upgrade, and to @adamfowlerit 's point this article doesn't instru

[2019-11-20 19:09] DixitArora-MSFT commented on #43230
Hi @nofield Thanks for your feedback. We will review and update as appropriate.

[2019-11-20 19:10] MicahMcKittrick-MSFT commented on #43141
@larryclaman I worked offline on this and we want to leave the doc as is for now. The reason is that this feature is still in preview so as we add or update features, we will include it in the latest version of CLI. So adding a minimum requirement will likely result in more pain for our users. That is also why we include that section to automatically update you to the latest version.

Once this fe

[2019-11-20 19:16] mhopkins-msft commented on #37886
@lancevo Thank you for your feedback. This article is a quickstart, intended to introduce readers to basic concepts of Azure Storage as quickly as possible. I have added your suggestion for more complete samples to our backlog for future article planning.

Thanks!
 ~ _Mark_

#please-close

[2019-11-20 19:16] #37886 closed

[2019-11-20 19:16] MicahMcKittrick-MSFT commented on #43219
@a09-capf  the documentation already specifies -sku standard when creating the IP address

![image](https://user-images.githubusercontent.com/32313503/69269926-da0c8c00-0b86-11ea-8209-6bef11db07db.png)

Looks like the ja-jp version does not though

![image](https://user-images.githubusercontent.com/32313503/69270041-104a0b80-0b87-11ea-862d-15e650d7cfae.png)

I will get this assigned to the correct

[2019-11-20 19:17] josebaldivieso commented on #19698
Hi, in my use case I have to set many output values processed in a notebook and the use them in DataFactory. The runOutput is working, but what if I need more values? I just can retrieve one variable with this scenario.
Another question, is there a way not to exit the notebook to set those variables?

Thanks!

[2019-11-20 19:18] GiftA-MSFT commented on #43208
@ArchieCoder based on my findings, Immersive Reader is in preview and there is no charge to use Immersive Reader during preview. The only instance available is S0 and pricing will be released when the service goes GA. I will update the doc accordingly with this information.

On the other hand, I was able to create the resource just fine using the command provided in the doc. Did you ensure to prov

[2019-11-20 19:21] larryclaman commented on #43141
thanks Micah.  I am going to submit a second issue regarding the "update your cli" section (which is powershell while the rest of the examples are bash; I think these should be consistent.  )

[2019-11-20 19:25] larryclaman opened #43234 "CLI install example is powershell while the subsequent usage examples are bash"
On this page in the CLI section, it starts by providing an example of how to install the Azure CLI.  This example uses powershell and is windows specific (it calls an msi installer).

However, the subsequent examples in this section use bash;  my assumption is that the examples are meant to run under linxux (or WSL), so the installer example above doesn't really help for someone trying to walk thr

[2019-11-20 19:29] MicahMcKittrick-MSFT commented on #43141
We can address that here as well. You mean to say a section updating the PS module like we have for the CLI module?

[2019-11-20 19:30] MicahMcKittrick-MSFT commented on #43141
I see you opened it and that's valid feedback. I will triage that one to the author now :)

[2019-11-20 19:30] #43141 closed

[2019-11-20 19:31] larryclaman commented on #43141
Thanks for being so responsive!  👍

[2019-11-20 19:32] MicahMcKittrick-MSFT commented on #43234
@larryclaman assigning this to author to review as we discussed :)

[2019-11-20 19:35] eldonti opened #43235 "User must change password at next logon"
Based on some test "User must change password at next logon" is only NOT supported for Azure AD Joined Devices. Testing for Azure registered devices with PtA and Password-Writeback seamed to be working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc51bb0-dd9d-cb3f-3e3f-b9765b48f21d
* Version Independent ID: d597a70e

[2019-11-20 19:43] GiftA-MSFT commented on #43126
@merlinko637 RankerType=QuestionOnly has not been added to the SDK yet. I will provide this feedback to product team and inquire on whether this item is on their roadmap. Thanks.

[2019-11-20 19:44] Grace-MacJones-MSFT commented on #43214
Hi @BernardoMB ,thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-20 19:48] MonikaReddy-MSFT commented on #43217
Hello @taromielnaz , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-20 19:49] ArchieCoder commented on #43208
@GiftA-MSFT Thanks for the fast follow-up

With:
$resource = New-AzCognitiveServicesAccount -ResourceGroupName MyNewGroupImmersiveReader -name MyNewResourceImmersiveReader -Type ImmersiveReader -SkuName S0 -Location eastus -CustomSubdomainName MyNewUniqueDomainImmersiveReader

![image](https://user-images.githubusercontent.com/1608424/69272613-e3a4ec80-0ba4-11ea-9501-e9738cb78847.png)

[2019-11-20 19:51] deepikabandhanadham opened #43236 "data flow activity availability in Azure Government"
When will the data flow activity be available in Azure Government

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607b235f-468f-0494-3e7e-5f1e53e745f4
* Version Independent ID: bbed8d23-b22a-d50c-22fb-e656f4cfebd2
* Content: [Mapping data flows in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us

[2019-11-20 19:51] NavtejSaini-MSFT commented on #43106
@soumya6541 There is no concrete timeline that can be provided on GA. PG team conveyed they are still doing some performance testing. it will still take few months to get it into GA.
Please keep following the azure updates for more information.
We are going ahead and closing this thread for now.

[2019-11-20 19:51] #43106 closed

[2019-11-20 19:52] rwike77 commented on #42482
@lixuanzhu , sorry for the confusion.  The portal experience has changed since this article was last updated.  I'll update the article.  This article you're viewing is the v1 version.  Are you creating a new application?  If so, I recommend you look at the [v2 Daemon app content ](https://docs.microsoft.com/azure/active-directory/develop/scenario-daemon-overview)instead.

[2019-11-20 19:52] marcosgm opened #43237 "Event Hub + Event Grid not supported with Service Endpoints"
As per the Warning in https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-service-endpoints , if we enable service endpoints, Event Grid won't work. Hence, the comment at the top of this page is wrong "Secure your data connection sources (Event Hub and Event Grid) with service endpoints."
The Event Hub will have to be available to Any Networks if Event Grids must be used to get notificati

[2019-11-20 19:54] chadcarlton opened #43238 "Clarification on re-occurrance duration"
"Use the Duration slider or text box to define how many days each review of the recurring series will be open for input from reviewers. For example, the maximum duration that you can set for a monthly review is 27 days, to avoid overlapping reviews."

I don't understand the above paragraph. Why isn't this just a static value (TotalDaysInFrequency - some set value (3 days)).  I understand the need

[2019-11-20 19:55] marcosgm commented on #43237
only Storage accounts allow Trusted Services (https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2fazure%2fvirtual-network%2ftoc.json#trusted-microsoft-services)

[2019-11-20 19:56] tfitzmac commented on #43069
@benc-uk - thanks for making us aware of this broken link. I have submitted a change to use [https://aka.ms/whatifissues](https://aka.ms/whatifissues). It should get published this afternoon.

[2019-11-20 19:56] tfitzmac commented on #43069
#please-close

[2019-11-20 19:56] #43069 closed

[2019-11-20 20:04] rbergertd opened #43240 "Internal Error: Error testing domain controller connectivity through PowerShell"
I am trying to programatically deploy AADDS and keep running into this issue. There is no other log info that shows me anything, my AADDS resource just goes from the provisioning state to failed - and this is all that I can find. I am creating the VNet and appropriate subnets before I start the AADDS deployment. I will provide any other info necessary to try and figure this out, please just let me

[2019-11-20 20:14] TravisCragg-MSFT commented on #43221
@wcneumann Can you elaborate more on this? It is possible to force all traffic across a P2S VPN, but it will require you to update the routes on the OS.

[2019-11-20 20:14] GiftA-MSFT commented on #43229
@lebedov can you please point us to where you observed this outdated doc? Specific examples so we can update accordingly? Thanks.

[2019-11-20 20:15] bandersmsft commented on #42971
@mtwelve I'm investigating this with the engineering team and I'll reply when I have more info.

[2019-11-20 20:29] rwike77 commented on #42484
@lixuanzhu   Hi, I'm not seeing this text:
Authorized client applications
Authorizing a client application indicates that this API trusts the application and users should not be asked to consent when the client calls this API."

in [this article](https://docs.microsoft.com/azure/active-directory/develop/quickstart-configure-app-expose-web-apis).  Did you mean to comment on a different article?  Th

[2019-11-20 20:32] cawrites commented on #38122
#assign @MarkusVi

[2019-11-20 20:40] KranthiPakala-MSFT commented on #43042
@KevinXTian We have assigned the issue to the content author. They will review the ask and will provide an update as appropriate.

@linda33wj Could you please have a look at this? - Thanks!

[2019-11-20 20:40] BeigeBadger commented on #41262
Thanks for the reply @ArcherAZ, how would I go about creating an ICM ticket if this issue was persisting?

[2019-11-20 20:41] jamesalroy opened #43242 "asr article"
https://github.com/Azure/Azure-vpn-config-samples/tree/master/Cisco/Current/ASR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [Azure VPN Gateway: About VPN devices for connections](https://docs.microsoft.com/

[2019-11-20 20:45] Mja101 opened #43243 "Functionality supported by DPS using MQTT Protocol"
Is it possible to document the functionality that is supported by using the MQTT protocol? For example, we have the ability to register a device, but can we re-provision a device? When publishing a message, will the dps return the IoT Hubs connection string which the device was registered to? Is there a topic we can subscribe to after registering the device to receive this information?

---
#### D

[2019-11-20 20:51] MonikaReddy-MSFT commented on #43199
Hello @Nimleth , Thanks for catching this one. We will revisit your suggestion next time we update the article. And we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-20 20:51] #43199 closed

[2019-11-20 21:05] SahinOzdemir opened #43244 "API Connection SFTP with SSH connector does not support RSA private keys through ARM properly"
This is about the SFTP with SSH connector.
We're using SSH private key for SFTP and I have been struggling with this issue for 2 days now.
The connector expects the contents of a pem file, which has the RSA key over multiple lines. Since we're using Azure DevOps, I tried several things, but none of them result in setting this SSH private key correctly on the API connection. Have the feeling that t

[2019-11-20 21:12] SahinOzdemir commented on #43244
Additionaly, I now need to manually copy paste the key into the API UI in order to get it to work

[2019-11-20 21:12] MarileeTurscak-MSFT commented on #43228
@v-maudel
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-20 21:17] mahoekst commented on #41308
it seems this is still not updated?

[2019-11-20 21:25] Adam-Smith-MSFT commented on #43097
@delkos Could you please post this question in the forums https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata ? It would have a higher visibility on forums since this is not an issue with the documentation itself.

[2019-11-20 21:25] #43097 closed

[2019-11-20 21:32] jimmyfit opened #43246 "Azure to Azure disk exclusion"
The Supported Scenarios lists Azure to Azure exclusion support as no, however there is a doc "Exclude disks from PowerShell replication of Azure VMs" which describes this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573cdb7e-d752-1e8f-258e-f2656b5d3c27
* Version Independent ID: 6e5c7171-d7d9-00e0-0a78-6da410857b19
*

[2019-11-20 21:32] GiftA-MSFT commented on #43224
@csteelatgburg it is a one time refresh. However, you may be able to pragmatically enable this feature using _QnAMaker Update Knowledge Base API_. Here's an [example](https://dhina.org/2019/01/11/faq-bot-refresh-content/). Hope this helps. Thanks.

[2019-11-20 21:33] MicahMcKittrick-MSFT commented on #42443
All, I am still working offline on this. Will continue to update as I have more information.

[2019-11-20 21:36] mvhbharath opened #43248 "Unable to create webapp. Linux workers are not available in resource group"
Hi Team,

When trying to create a linux app service in a new or existing resource group it constantly says: "Linux workers are not available in resource group xxxxxx. Use this link to learn more https://go.microsoft.com/fwlink/?linkid=831180" yet this page provides no real information on the error.

Use this link to learn more https://go.microsoft.com/fwlink/?linkid=831180
Please let me know why I

[2019-11-20 21:39] se7vanj opened #43249 "Logic Apps - Run history retention in days - Unable to extend it beyond 90 days with Custom"
Logic Apps - Run history retention in days - Unable to extend it beyond 90 days with Custom option.

Will it allow us to to go above the maximum limit as it is meant for on the custom option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5

[2019-11-20 21:49] seninjaan opened #43250 "'Example Configuration via code' uses deprecated TelemetryConfiguration.Active"
When using TelemetryConfiguration.Active in version 2.11.0 of ApplicationInsights, we get an error that this is deprecated. The GitHub link in the error recommends using TelemetryConfiguration.CreateDefault().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83dd1058-3012-a275-1252-87eee4a56e26
* Version Independent ID:

[2019-11-20 21:52] Luis-Palacios commented on #42428
@cblomart I have tested on an azure app service on linux and the code work correctly using dotnet core 3.0 not just if this make sense to you @cephalin

futhermore I did some more digging and after looking [this](https://github.com/dotnet/corefx/issues/23780) and [this](https://github.com/IdentityServer/IdentityServer4/issues/3677) I discovered that if If change my code from
[code]

to
[code]

It

[2019-11-20 21:56] loganville opened #43251 "Broken Link for ApplicationInsightsServiceOptions"
The link in this sentence is broken: See the configurable settings in ApplicationInsightsServiceOptions for the most up-to-date list. (https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6440e

[2019-11-20 22:04] aliflex commented on #43156
Yes it does, thanks @amanmcse

[2019-11-20 22:11] GiftA-MSFT commented on #43208
@ArchieCoder you need to enter your existing resource group name for _-ResourceGroupName_ instead of a new name. Let me know if issue has been resolved.

[2019-11-20 22:25] tchristiani commented on #41262
@BeigeBadger please use this link to report a service issue: https://cognitive.uservoice.com/forums/912208-speech-service
#please-close

[2019-11-20 22:25] ArchieCoder commented on #43208
@GiftA-MSFT it works, thanks!

[2019-11-20 22:25] #43208 closed

[2019-11-20 22:25] #41262 closed

[2019-11-20 22:28] roygara commented on #43234
@larryclaman Thanks for reaching out, there seems to be some confusion here. The article is broken up by language. The bash code blocks are relegated the CLI, the PowerShell segments are, well, in the PowerShell section. Each section has their own installation method and the PowerShell section doesn't have bash code blocks.

Please let us know if you've any further questions, otherwise I'll close

[2019-11-20 22:31] Alberto-Vega-MSFT commented on #42849
@Gamecock Thanks for your suggestion! We added changes to the doc to address it. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-20 22:31] #42849 closed

[2019-11-20 22:31] kilasuit commented on #42931
Hi @rolyon
that was exactly what I was meaning with this issue & to add them into the top table

Many Thanks for doing that :-)

[2019-11-20 22:41] MarileeTurscak-MSFT commented on #39242
I created a work item to get this addressed and will update the thread as soon as this is resolved and answered.

I'm closing this for now since it is being tracked as a backlog item. The product team has not responded yet but I have a meeting with them tomorrow and will ask.

[2019-11-20 22:41] #39242 closed

[2019-11-20 22:45] tchristiani commented on #40614
This issue has been added to our backlog for correction.
#please-close

[2019-11-20 22:45] #40614 closed

[2019-11-20 23:00] jin167 opened #43254 "can't get the IoTHubDeviceClient.create_from_connection_string(CONNECTION_STRING) to work as intended."
I have been trying to do simple D2C and C2D communication and I tried out all sample codes presented on github with correct connection string but I always get stuck whenever I try to run IoTHubDeviceClient.create_from_connection_string(conn_str). I got exact same error message on every example code I ran:

Traceback (most recent call last):
  File "C:/Users/Intern/PycharmProjects/tracker_test/test

[2019-11-20 23:02] jin167 opened #43255 "I can't get the IoTHubDeviceClient.create_from_connection_string(CONNECTION_STRING) to work as intended."
Hi,

I have been trying to do simple D2C and C2D communication and I tried out all sample codes presented on github with correct connection string but I always get stuck whenever I try to run IoTHubDeviceClient.create_from_connection_string(conn_str). I got exact same error message on every example code I ran:

Traceback (most recent call last):
  File "C:/Users/Intern/PycharmProjects/tracker_test

[2019-11-20 23:02] cam1911 opened #43256 "Plug and Play extension not mentioned"
On this step: https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device#install-azure-iot-tools

It says to download Azure IoT Tools, however it was not until I installed "Azure IoT Device Workbench" that I could actually see the Plug and Play options in command palette:
https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device#download-you

[2019-11-20 23:07] SteeredKing commented on #43248
I face the exact same issue

[2019-11-20 23:08] Ratomir opened #43257 "Microsoft Azure CDN rules engine"
Please, can you explain, how to set up the same rule engine in Microsoft provider, as we see here https://medium.com/@antbutcher89/hosting-a-react-js-app-on-azure-blob-storage-azure-cdn-for-ssl-and-routing-8fdf4a48feeb ? I am considered, it is missing a good explanation of how to set good rules for spa applications. The first load of the app works as expected, but in the case when the user reloads

[2019-11-20 23:09] DillonN commented on #43248
I'm having the same issue right now. So it seems you can't mix Linux and Windows workers within a resource group, app service plan, or region. But I deleted every resource that had anything to do with app services and still get the issue

I have tried:

* Making a new resource group
* Using many different regions
* Selecting many different sizes
* Combinations of all the above

And still get that

[2019-11-20 23:10] timsander1 commented on #43184
Hi @hanvyj, there is a known issue using GROUP BY in the Azure Portal (query metrics aren't shown and OFFSET LIMIT does not have correct behavior). This is currently being fixed in our JavaScript SDK and is tracked here: https://github.com/Azure/azure-sdk-for-js/issues/6003

This should be fixed in about two weeks.

[2019-11-20 23:19] FrankHu-MSFT commented on #43215
Hello @dipesh-wadhwa i see you're referring to the option described here : https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.1.X#token-cache-use-forcerefresh-to-skip-cache

However this is for the request object. This is further described here : https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release#signing-in-and-getting-t

[2019-11-20 23:22] cblomart commented on #42428
@Luis-Palacios  🎉

So i understand that it does work in all situations now !

My reasoning over linux is that it doesn't handle keystore the same way as windows does.

I would think there is not much way for microsoft to disable machine keystore in a vm. ([api doc](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509keystorageflags?view=netframework-4.8))

[2019-11-20 23:28] NavtejSaini-MSFT commented on #43133
@silverl You will need to do steps mentioned in document below:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins#database-creators

You will need to create a login for the person first in master and then user in the DB you want to give access to and then add db_datareader role to this user.

Here is the [list ](https://docs.microsoft.com/en-us/sql/relational-databases

[2019-11-20 23:30] PatAltimore commented on #41334
I've published updates with more details on the prerequisites. Thanks all for the feedback.

Pat

#please-close

[2019-11-20 23:31] #41334 closed

[2019-11-20 23:31] PatAltimore commented on #42485
I've published updates with more details on the prerequisites. Thanks for the feedback.

Pat

#please-close

[2019-11-20 23:31] #42485 closed

[2019-11-20 23:32] JimacoMS3 commented on #38552
Hi @unstephenk,

Did you follow the instructions in [Build a platform-specific version of the SDK](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-set-up-device#build-a-platform-specific-version-of-the-sdk) -- specifically, did you use the `-Duse_prov_client:BOOL=ON` flag? If not, you will not see the **Provision_Samples** folder in your solution. You must use this flag. If you do, you sho

[2019-11-20 23:38] mlearned commented on #43045
ack will update

[2019-11-20 23:38] paulbatum opened #43260 "Provide better guidance regarding unbounded execution"
The documentation makes it sound like "unbounded" execution is a feature in the premium plan. Technically there is no restriction on this, but it is not good practice to set the execution time to unbounded. For example, lets say user code accidentally causes a deadlock in the execution of an eventhub triggered function. With an unbounded execution time, processing of that particular EH partition m

[2019-11-20 23:39] paulbatum commented on #43260
cc @alexkarcher-msft

[2019-11-20 23:56] Alberto-Vega-MSFT commented on #42869
That is great feedback, Would you please create an [Azure User Voice](https://feedback.azure.com/forums/34192--general-feedback) entry? This way it can get upvoted by other customers and help the engineering team prioritize.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2019-11-20 23:56] #42869 closed

[2019-11-20 23:57] Sandip-Raiyani commented on #43139
@marcelo-onfleeklabs @KingdomOfEnds - Please follow the steps mentioned in the link below and it should work. Please feel free to reach out in case you have any questions.

[Fix](https://github.com/TimeSeriesInsights/Azure-Time-Series-Insights-Connectors/tree/master/PowerBI-HotFix-20191120)

[2019-11-20 23:58] alexkarcher-msft commented on #43260
Eeesh, I totally missed that paragraph. You can only run for 60 minutes in the Premium. That whole section needs to be changed to "longer run duration" or something, and the limits document should also be updated to correctly show 60 minutes https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits

[2019-11-21 00:06] Alberto-Vega-MSFT commented on #42909
Closing this issue since we haven't heard back from you. For people coming across this issue this is a duplicate of this bug reported on the samples repository https://github.com/Azure/Industrial-IoT/issues/153 Please follow there. Since this is not a documentation issue.

[2019-11-21 00:09] mikebudzynski commented on #43162
We don't have any plans to change the backup expiration. You can open a feature request at https://aka.ms/apimwish

#please-close

[2019-11-21 00:09] #43162 closed

[2019-11-21 00:12] Alberto-Vega-MSFT commented on #43249
@se7vanj Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-11-21 00:15] doctorray117 opened #43262 "App Service Swap IP Ranges include public address space"
"IPv4 address ranges that start with 10. and 100. are internal to your deployment"

The only reserved address space in 100. is 100.64.0.0/10.  Everything outside of this range has a owner of the public address space and allowing 100.0.0.0/8 as specified by this page would open the app service up to potential unauthorized access.

Please see https://tools.ietf.org/html/rfc6598

Please confirm a nar

[2019-11-21 00:20] jaffadog commented on #41386
@hpsin I'm interested in upn, mail, and unique_name. What I am hoping for is parity with SAML claims management and mapping - where there is almost complete transparency in how things map to the AAD user object attributes. I'm comfortable setting up SSO integrations in SAML, and in our enterprise we actually use extensionattributes (i.e. the 1-15 ones) as our preferred user identity claim - as we

[2019-11-21 00:21] Alberto-Vega-MSFT commented on #43244
Hi @SahinOzdemir I'm sorry to hear that you are facing this issue for the last 2 days. We try to reserve this issues for documentation feedback. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, we can help you get a one time free support ticket. Please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subs

[2019-11-21 00:28] Mike-Ubezzi-MSFT commented on #42823
@simon-michaud Please let us know if you have additional questions, as I will be happy to continue the dialog.

[2019-11-21 00:28] #42823 closed

[2019-11-21 00:29] Mike-Ubezzi-MSFT commented on #42921
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-21 00:29] #42921 closed

[2019-11-21 00:31] roygara commented on #41277
@jgwinner To get access to the preview, fill out this survey - http://aka.ms/AzureFilesADSignup

As always, you should keep in mind Azure's preview terms of use, before signing up for any of our previews. https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/

I don't think we should add this information to either of these documents though. Neither of them contain any mention

[2019-11-21 00:31] Mike-Ubezzi-MSFT commented on #42987
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-21 00:31] #42987 closed

[2019-11-21 00:31] SidS11 opened #43264 "'Protect SQL Server' hyperlink is incorrect"
The 'Protect SQL Server' hyperlink point to the Active Directory and DNS page instead of the Protect SQL server page. Please can this be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 672e4cc0-5c23-cb7f-90ea-e983c08a69c4
* Version Independent ID: 5d2c3199-0331-e7eb-5f31-cf2e9774529c
* Content: [Set up SAP NetWea

[2019-11-21 00:32] Alberto-Vega-MSFT commented on #43240
@rbergertd Sorry to hear you are facing this. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-11-21 00:34] MarileeTurscak-MSFT commented on #41533
Hi @eduararley ,

I am so sorry for the late reply. This is the guide you will want to follow for this. https://docs.microsoft.com/en-us/azure/role-based-access-control/tutorial-role-assignments-user-template

Since we have not heard back yet, if you are still having this issue you can send me an email at AzCommunity@microsoft.com including your subscription ID and I will open a free support case

[2019-11-21 00:34] #41533 closed

[2019-11-21 00:37] SnehaGunda commented on #42962
@Mike-Ubezzi-MSFT if I understand the issue correctly, we have already documented the limitation for V3 SDK. So I don't see any further doc update. Are we waiting for the team to share the timelines for the support?

[2019-11-21 00:39] paulbatum commented on #43260
Thats not quite true, its a little more nuanced. We specifically did work to remove source of interruption that might apply within the 1hr time range, but you're not physically limited to 1hr. So I think changing the documented limits will just create more confusion.

[2019-11-21 00:40] galvesribeiro commented on #42962
@SnehaGunda where is the documentation for that limitation? I can't see it on the docs site. Can you please point me out?

Also yes, a solution must be implemented as it breaks everyone using the emulator because there isn't a way to use it outside Windows.

[2019-11-21 00:40] Mike-Ubezzi-MSFT commented on #43237
@marcosgm Thank you for bringing this to our attention. I will have the content author review this and update the document as appropriate.

[2019-11-21 00:40] BharathNimmala-MSFT commented on #43251
@loganville Thank you for bringing this to our attention , will further validate this and update the document accoridngly.

[2019-11-21 00:41] BharathNimmala-MSFT commented on #43250
@seninjaan Thank you for your feedback , will further validate and update the thread at the earliest.

[2019-11-21 00:41] larryclaman commented on #43234
Hmm, I still think the CLI section in the document needs some edits for clarity.  As I noted, the CLI section:
- starts off saying you need to use the latest version of the CLI
- provides instructions on how to use powershell to install the latest version of the CLI on Windows (but doesn't explicitly mention windows)
- then provides an example of how to create a snapshot.  This example is written

[2019-11-21 00:42] FrankHu-MSFT commented on #43240
@rbergertd are you doing this in a corporate vnet? Which command are you using to try to provision that is failing?

For better reading, the errors are below:

message : The resource operation completed with terminal provisioning state 'Failed'

"details":[{"code":"InternalError","message":"Error testing domain controller connectivity through PowerShell. A connection attempt failed because the con

[2019-11-21 00:44] alexkarcher-msft commented on #43260
How long ago did you make that change? I ran some tests about a week ago in powershell and all of my executions were killed exactly at the 60 minute mark

[2019-11-21 00:45] roygara commented on #43234
@larryclaman Ah, now I see what you mean. Looks like I was the confused one here. ;)

I'll adjust the section to direct users here, since there's multiple ways to install the CLI per distro. https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-11-21 00:47] Alberto-Vega-MSFT commented on #43080
@kamranbashir I looked at the support ticket and I see that support engineer is asking you for some information. Can you please engage there? She should be able to help you solve your problem. There is no point to having this open also in the docs since you are getting help there. Closing this issue for now.

[2019-11-21 00:47] #43080 closed

[2019-11-21 00:47] ththiem opened #43265 "How do you setup for multiple back-end APIs?"
This question was asked and closed with no resolution once before:
https://github.com/MicrosoftDocs/azure-docs/issues/16325

Is there an update for this? How do you go about configuring an app service to access more than 1 back-end API? It's one thing to just add more permissions to the app registration's permissions, but the token that's stored in the X-MS-TOKEN-AAD-ACCESS-TOKEN and available via

[2019-11-21 00:49] larryclaman commented on #43234
Hi @roygara I just created PR #43266; please take a look.

[2019-11-21 00:49] BharathNimmala-MSFT commented on #43251
@loganville Thanks for calling this out, below is the new URL. https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs

[2019-11-21 00:49] Alberto-Vega-MSFT commented on #42919
Adding link to the Microsoft Q&A thread https://docs.microsoft.com/answers/questions/1463/token-lifetime-policy-is-not-working.html

[2019-11-21 00:50] Minewiskan commented on #28657
@chrisjrisch - A user account must have at least Read permissions to see server databases in Object explorer. If you want a user to be able to both see databases in Object explorer and process databases or tables from Object explorer (not scripted), give the account Read and Process.

[2019-11-21 00:55] TravisCragg-MSFT commented on #43242
@jamesalroy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-21 00:59] SaurabhSharma-MSFT commented on #43222
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-21 00:59] jeffhollan commented on #43260
#assign-to @alexkarcher-msft

I don’t remember the syntax to reassign

[2019-11-21 00:59] jeffhollan commented on #43260
@ggailey777 😅

[2019-11-21 01:02] FrankHu-MSFT commented on #43080
This answer is further addressed in the Q&A forums : https://docs.microsoft.com/answers/questions/1463/token-lifetime-policy-is-not-working.html?childToView=1526#answer-1526

[2019-11-21 01:05] silverl commented on #43133
I fear we are talking about two different things. I am asking about Azure portal permissions to access the query editor. My employee already has sufficient SQL Server permissions to access the database using SSMS. The article you mentioned deals almost entirely with SQL server-level permissions. I am not seeing any low privilege roles that would allow my user to access the SQL query editor in the

[2019-11-21 01:05] kogesaka commented on #42998
@jakaruna-MSFT, Thank you for your response. Also thanks for the detailed explanation.
I understand the content, so please close it.

[2019-11-21 01:07] GiftA-MSFT commented on #43117
@wukun2015 please refer to the following document on [automatic detection for speech to text](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-automatic-language-detection) using Speech SDK. Thanks.

[2019-11-21 01:07] ggailey777 commented on #43260
#reassign:alexkarcher-msft

[2019-11-21 01:11] BharathNimmala-MSFT commented on #43251
@loganville Thank you , now the PR has been merged to fix the broken link. Please give it some time to reflect the new URL to be live on the document.

Closing this issue for now, please feel free to revert back if you have any further queries. Thanks again for sharing the feedback.

[2019-11-21 01:11] #43251 closed

[2019-11-21 01:14] femsulu commented on #43209
added triage labels

[2019-11-21 01:15] femsulu commented on #43225
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-21 01:19] MarileeTurscak-MSFT commented on #41280
Please post to [Q&A](https://docs.microsoft.com/answers/index.html) for these types of product questions. Someone there has already answered this.

https://docs.microsoft.com/answers/questions/664/what-is-the-difference-between-azure-active-direct.html

"Azure Active Directory is a cloud-native service that provides identity services for organizations using platforms such as Azure, Microsoft 365 a

[2019-11-21 01:19] #41280 closed

[2019-11-21 01:21] mike-urnun-msft commented on #43226
@svangeti Thank you for your feedback! We will review and update as appropriate.

[2019-11-21 01:42] Alberto-Vega-MSFT commented on #43243
Hi @Mja101 Thanks for the feedback! Can you post this as a feedback @ [Azure IoT User Voice](https://feedback.azure.com/forums/321918-azure-iot). This will allow the community to upvote and for the product team to include into their plans.

For your questions would you please open threads on MSDN or StackOverflow? Unlike there there is a dev community + engineering team that can help. If you want

[2019-11-21 01:48] MarileeTurscak-MSFT commented on #43228
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96736

[2019-11-21 01:48] #43228 closed

[2019-11-21 01:49] SnehaGunda commented on #43184
@hanvyj The query wouldn't work because you can't use TOP with OFFSET. When I run your query in [query playground](https://www.documentdb.com/sql/demo), it gave the following error. The query playground is associated with the food database.

![image](https://user-images.githubusercontent.com/14284405/69293465-cb8d9700-0bbd-11ea-859d-721157b71ecb.png)

When you remove the TOP keyword, it works fine

[2019-11-21 01:52] bradleyruff commented on #42443
Thank you for the update, Micah!

Regards,

Bradley Ruff | Azure Systems Administrator
e.  bruff@theprovatogroup.com<mailto:bruff@theprovatogroup.com>
c. 440.465.5620
[cid:image005.jpg@01D59FE4.71D96490]<https://www.theprovatogroup.com/>
[cid:image006.jpg@01D59FE4.71D96490]<https://www.linkedin.com/company/provatogroup/>[cid:image007.jpg@01D59FE4.71D96490]<https://twitter.com/Provato_Group>[cid:im

[2019-11-21 01:55] Alberto-Vega-MSFT commented on #43254
Hi @jin167 I'm sorry that code sample is not working for you. Questions for you: If I follow this document should I be able to reproduce your issue? It sounds like this is related to the SDK samples and not with this specific document?
I am assuming that you are using the code samples on the SDK repo if that is the case  would you please open an issue on the SDK repository?

[2019-11-21 01:55] SnehaGunda commented on #42962
@galvesribeiro it's in this section: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker

![image](https://user-images.githubusercontent.com/14284405/69293822-e6144000-0bbe-11ea-82fe-5007b248e3a1.png)

[2019-11-21 01:58] Alberto-Vega-MSFT commented on #43255
Hi @jin167 . Is this the tutorial I need to follow to repro? or is this a sample issue? Please see my response to your other issue

[2019-11-21 01:59] galvesribeiro commented on #42962
That is the whole point of this issue. That document is for V2 and NOT valid on V3 and V4.

There is no way to ser `HttpClientHandler` on V3/V4...

[2019-11-21 02:00] Alberto-Vega-MSFT commented on #43256
@cam1911 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-21 02:11] kazshi commented on #40204
@linda33wj Data Factory UI (New linked service (Azure  Blob Storage)) in this tutorial for example) has been also updated. 'Finish' button (in Create a liked service: 3-d) has been changed to 'Create'.

[2019-11-21 02:13] jmasengesho commented on #43248
I am having this same issue. I am very sure that last night i was able to create a Web App resource for a linux image from container registry and it worked. A few hours later, it cannot work.

[2019-11-21 02:14] salochara commented on #43248
Having the same exact issue right now.
@DillonN could you be more specific on how you solved this issue ?
Thanks!

[2019-11-21 02:20] jin167 commented on #43254
Hi, Alberto. Thank you for your response. Upon closer inspection it turns out that I was using a wrong connection string (should have used the device connection string)and the program was complaining about the missing device id which should have been part of the connection string. When correct connection string was provided the sample code worked as intended.

[2019-11-21 02:26] femsulu commented on #43246
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-21 02:27] femsulu commented on #43264
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-21 02:41] Alberto-Vega-MSFT commented on #43160
@kulbirjandoria Did you have a chance to see my previous message?

[2019-11-21 02:45] Alberto-Vega-MSFT commented on #43123
@Robotbae Did you have a chance to see my previous comment?

[2019-11-21 02:48] Alberto-Vega-MSFT commented on #43035
@yoscbd Since we haven't heard back from you we will be closing this issue. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-21 02:48] #43035 closed

[2019-11-21 02:50] se7vanj commented on #43249
It is listed @ [https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#change-duration](url), but couldn't do it, as the max is limited with 90 days even in custom option.

![Logic Apps - Run history retention in days - Unable to extend it beyond 90 days with Custom](https://user-images.githubusercontent.com/16820267/69299905-c2adbd00-0bdf-11ea-8045-6ff9594c2f3c.jpg)

[2019-11-21 02:53] Mja101 commented on #43243
@Alberto-Vega-MSFT,

Thanks for the response, I have posted the following question on Stack Overflow.

https://stackoverflow.com/questions/58966553/can-you-re-provision-a-device-through-azure-device-provisioning-service-using-mq

[2019-11-21 03:13] SnehaAgrawal-MSFT commented on #43248
@mvhbharath Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 03:17] SnehaAgrawal-MSFT commented on #43262
@doctorray117 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 03:37] amanmcse commented on #43156
Thanks for the confirmation. I am proceeding forward with closure of this thread now.

[2019-11-21 03:37] #43156 closed

[2019-11-21 04:05] KetanChawda-MSFT commented on #43001
@nina-pashinina We apologize for the inconvenience you have encountered. Due to the unique characteristics of your issue, we feel it would be best if this issue is worked one on one hence I would recommend you to send an email to AzCommunity[at]Microsoft[dot]com along with the link to this Thread.

[2019-11-21 04:25] jakaruna-MSFT commented on #42700
@tkumark
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-21 04:25] jakaruna-MSFT commented on #42998
@kogesaka
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-21 04:25] #42998 closed

[2019-11-21 04:26] #42700 closed

[2019-11-21 04:40] AjayKumar-MSFT commented on #43235
@eldonti, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-21 04:42] AjayKumar-MSFT commented on #43236
@deepikabandhanadham, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-21 04:45] AjayKumar-MSFT commented on #43238
@chadcarlton, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-21 04:48] AjayKumar-MSFT commented on #43257
@Ratomir, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-21 04:53] AjayKumar-MSFT commented on #43265
@ththiem, Thanks for the question! Apologies for any inconvenience! We are taking a look into this and will get back to you soon.

[2019-11-21 04:58] MarkusVi commented on #41259
I have created a backlog item to track this.

#please-close

[2019-11-21 04:58] #41259 closed

[2019-11-21 04:59] msrini-MSFT commented on #43147
@cjlpowers , Do you have any update in this issue?

[2019-11-21 05:01] MarkusVi commented on #38816
I have created a backlog item to track this.

#please-close

[2019-11-21 05:02] #38816 closed

[2019-11-21 05:03] MarkusVi commented on #38287
#please-close

[2019-11-21 05:03] #38287 closed

[2019-11-21 05:04] MarkusVi commented on #37065
I have created a backlog item to track this.

#please-close

[2019-11-21 05:04] #37065 closed

[2019-11-21 05:05] MarkusVi commented on #34971
I have created a backlog item to track this.

#please-close

[2019-11-21 05:05] #34971 closed

[2019-11-21 05:06] MarkusVi commented on #38032
I have created a  backlog item to track this.

#please-close

[2019-11-21 05:06] #38032 closed

[2019-11-21 05:13] femsulu commented on #42949
@mpchen you are correct. I can confirm this isn't supported. An alias is required for this to work.

[2019-11-21 05:14] mamccrea commented on #42755
@mjdmst - I've opened a PR with the changes to update this article. They will go live soon. Thanks again for providing feedback!

#please-close

[2019-11-21 05:14] #42755 closed

[2019-11-21 05:17] SumanthMarigowda-MSFT commented on #22816
@mkyl May I know what exactly are you facing issue? Can you please elaborate more on the issue? If you are getting any error code or message, please share the screenshot.

If the issue isn't related to documentation  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata We'll follow up there.

[2019-11-21 05:19] SumanthMarigowda-MSFT commented on #42892
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-21 05:22] SumanthMarigowda-MSFT commented on #42982
@Chenjigaram I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/  since it's not directly related to the documentation. We'll follow up there.

[2019-11-21 05:23] DixitArora-MSFT commented on #43127
@ntspc1 Just following up here... Hope my previous comment helps.

[2019-11-21 05:24] DixitArora-MSFT commented on #43081
@A100K Just following up here... Hope my previous comment helps.

[2019-11-21 05:44] ClaudioRifo opened #43269 "Just in time user provisioning is not supported"
Documentation states:
Palo Alto Networks - Admin UI supports Just In Time user provisioning

But after configuration if you go to provisioning, the only option is manual.

Automatic provisioning for Palo Alto Networks - Admin UI is not supported. Use the tools and administrative interfaces provided by Palo Alto Networks - Admin UI to provision and de-provision the user account records stored in Pa

[2019-11-21 05:50] rambabu0063 commented on #43203
Hi Alberto,

i have used below given link:

https://github.com/Azure/azure-quickstart-templates/tree/master/101-functions-managed-identity

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet

Thanks
Rambabu

On Wed, Nov 20, 2019 at 11:47 PM Alberto Vega <notifications@github.com>
wrote:

[2019-11-21 06:22] wayneturner commented on #38863
Hi looking for a update on this feed..

I need to know
what does the 2 roles permit.. on the cluster (read, write. etc)
looking to see how the admin role differs from the User role

[2019-11-21 06:22] souravmishra-msft commented on #42880
@jdelforno, We did some digup on this ask and found that given a switch statement like **switch([displayName],"John Doe","Fred Jones","Frederick Jones","Dan Jones","Daniel Jones")**, the value of the [displayName] attribute either matches "Fred Jones" or "Dan Jones" or it does not, in which case, the result is "John Doe." "Intrinsic" wildcard support would mean that one could instead write a switc

[2019-11-21 06:33] halfkilo commented on #43191
Thanks for your prompt response!
But basically this is NOT a question. Sorry for not stating it clearly.
What I mean is the docs page says "Storage Analytics logging is not enabled by default for your storage account. ", in contrast, Azure portal says "Diagnostics are enabled by default on new storage accounts created from the Azure portal. " And portal does enable the storage-analytics-logging by

[2019-11-21 06:34] kuyeduwu commented on #41042
Vote +1, the CLI way is extremely helpful when syncing IP restrictions across slots or even apps.

[2019-11-21 06:44] VOVELEE opened #43270 "Using Log Analytics workspace in different subscription?"
I have AKS Cluster is provisioned in one subscription. I am wondering is it possible to use Log Analytics in another subscription for Azure Monitor for containers. Currently I am not able to do this via the portal and I am wondering is this portal or real service limitation.

Both Log Analytics workspaces and AKS Cluster are located in same region. (North Europe)

---
#### Document Details

⚠ *Do

[2019-11-21 06:53] ClaudioRifo opened #43271 "Errors"
You forgot to mention removal "Validate Identity Provider Certificate". If its nor removed, you get an error while configuring the Authentication Profile (required to configure the portal and the gateway.)

Also. This document states "Palo Alto Networks - GlobalProtect supports Just In Time user provisioning"
But after configuration if you go to provisioning, the only option is manual.
Automatic p

[2019-11-21 06:57] BharathNimmala-MSFT commented on #42449
Thanks @kirthik for helping update the FAQ document.

@colbylwilliams Thanks again for bringing this to our attention. The documentation is updated to give more clarity on the queries you have called out. Will go ahead and close the issue for now, however if you have any further feedback please feel free to reach out to us. Thank you.

[2019-11-21 06:57] #42449 closed

[2019-11-21 07:03] dcbrown16 commented on #42298
@shants123 any update?

[2019-11-21 07:30] jjindrich opened #43272 "How to run Windows container"
Please could you add sample how to run Windows container ? There is statement about support on this page "You can use virtual nodes to schedule Windows Server containers without the need for Windows Server nodes in an AKS cluster."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Ve

[2019-11-21 07:33] ram-msft commented on #42986
@jimbobbennett Could you please share the snapshot of the error.

[2019-11-21 07:40] dipesh-wadhwa commented on #43215
@FrankHu-MSFT Yes I am aware that documentation on github page is up-to-date. But I feel it should be updated on docs.microsoft.com as well for consistency.

[2019-11-21 07:40] dzoech commented on #41667
@MicahMcKittrick-MSFT Thank you very much for clearing this up for me :)

[2019-11-21 07:45] Ramji-S opened #43274 "Query for Long running fails to visualize"
"FAILED TO CREATE VISUALIZATION" for the query provided above for long running query. Probably a summarize count() by TimeGenerated is missing

"AzureDiagnostics | where ResourceProvider=="MICROSOFT.DOCUMENTDB" and Category=="DataPlaneRequests" | project TimeGenerated , duration_s | render timechart"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-11-21 07:46] Ramji-S commented on #43274
Example, query below would work. The one from page doesn't visualize results

AzureDiagnostics
| where ResourceProvider=="MICROSOFT.DOCUMENTDB" and Category=="DataPlaneRequests"
| project TimeGenerated , duration_s
| summarize count() by bin(TimeGenerated, 5s)
| render timechart

[2019-11-21 07:53] ram-msft commented on #42985
@jimbobbennett Please follow the below document using Python SDK.
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/python-sdk#call-the-read-api

[2019-11-21 08:07] SahinOzdemir commented on #43244
Hi @Alberto-Vega-MSFT Thanks for your response. I will file a support request on this matter.

[2019-11-21 08:08] cephalin commented on #42428
@Luis-Palacios @cblomart All I can say is that I've explored that way before with the product team and in any case they gave that method the silent treatment. Probably because of the security ramifications. The Windows doc https://docs.microsoft.com/en-us/windows-hardware/drivers/install/local-machine-and-current-user-certificate-stores indicates the same:

- Local machine certificate store

    T

[2019-11-21 08:08] samuela commented on #22816
@SumanthMarigowda-MSFT Check out the original issue description above for the complete description.

[2019-11-21 08:32] BharathNimmala-MSFT commented on #41720
@JohnPhamous  Thank for reaching out to us and sharing your feedback. Apologies for delayed response on this. Currently the web test file is encrypted only when it is stored, however must be uploaded as plain text.

If not already , please do check out other [sign-in options listed in the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/availability-multistep#dealing-with-si

[2019-11-21 08:35] BharathNimmala-MSFT commented on #43250
@seninjaan Thanks for bringing this to our attention. I am assigning this issue to our doc author @mrbullwinkle to further evaluate and update the document accordingly.

[2019-11-21 08:35] SwathiDhanwada-MSFT commented on #43270
@VOVELEE  Thanks for your comment. We are looking into it and we will update you soon.

[2019-11-21 08:39] tonholis opened #43275 "Access to Azure File Share from application context in IIS"
Hi there,

I have a legacy application hosted in a VM under IIS that needs to access images from an Azure File Share and I followed the explanation on the documentation to save the storage credentials using the **cmdkey** command for a specific application user (aka service account). Then I configured my application pool to set that user with the option "Load User Profile=True". And that does not

[2019-11-21 09:07] PramodValavala-MSFT commented on #42939
@olandese Just following up here... Could you please share the error that you are seeing when trying to trigger the logic app using the URL returned if any?

[2019-11-21 09:25] rohancragg opened #43276 "Notebook version control can be blocked by Azure AD Conditional Access."
Linking Notebook version control using an Azure DevOps Repo can be blocked by Azure AD Conditional Access.

This happens when applying a Conditional Access policy which is blocks use of the 'Azure DevOps' Cloud app unless the user is coming from a given Named Location(s): https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-conditional-access?view=azure-devops

I have found

[2019-11-21 09:37] jakaruna-MSFT commented on #42791
@kev-in-shu I tested in my environment. Steps mentioned in the doc works well.
Once we follow the steps in that doc, Azure is not taking back the drive associated to temporary disk

[2019-11-21 09:37] #42791 closed

[2019-11-21 09:37] jakaruna-MSFT commented on #42791
@kev-in-shu
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-21 09:44] amanmcse commented on #43238
@chadcarlton Let's say, you have below values for a given Access Review:
[code]
There will be 4 occurrences of access review as the end date for the series is exactly after 1 year. Here, the duration parameter specifies how many days each occurrence of the access review series will run, during which the reviewer will have to finish the review.

So, In this case, the start and end date for the firs

[2019-11-21 09:58] amanmcse commented on #43269
@ClaudioRifo Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-21 10:02] brucemcmillan opened #43277 "The request does not have an associated configuration object or the provided configuration was null. - Sample function built in c# fails to run on Azure."
If you follow the sample code for the microsoft azure "Create and test a simple azure function locally with visual studio" using VS2017 and using the dot net framework the sample fails in azure testing.

You need to add this to the code sample or it fails with

The request does not have an associated configuration object or the provided configuration was null.

var response = new HttpResponseMessa

[2019-11-21 10:05] amanmcse commented on #43271
@ClaudioRifo Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-21 10:19] DrBushyTop opened #43278 "ProactiveDetectionConfigs reference does not match what's actually required by the ARM template"
While not directly linked to this page, the [Microsoft.Insights components/ProactiveDetectionConfigs reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2015-05-01/components/proactivedetectionconfigs) seems to be incorrect.

While trying to set the custom emails through an ARM template, a properties.Name field was required to get the template to run, whereas giving anyt

[2019-11-21 10:22] ChiragMishra-MSFT commented on #43276
@rohancragg Thanks for bringing this to our notice. I am assigning the issue to the content owner to provide insights.

@mamccrea Can you please have a look at this ?

[2019-11-21 10:27] KIRAN-S-KALYANTHAYA commented on #17090
Is this resolved ? I am able to see the issue in version 6.13.1
I have picked that version based on solution given here : https://github.com/Azure/azure-powershell/issues/7713

[2019-11-21 10:32] giovannifl opened #43279 "Clarifications on the "A file share for backups""
Hello,
In the Prerequiste section it said:"A file share for backups that's different from the premium file share used for your data files. This file share can be either standard or premium."
An Azure File Share backup is stored in a Recovery Vault. What am I missing ?
Please could you clarify the purpose of this additional file share for backup purpose ?
Thanks

---
#### Document details

⚠ *Do no

[2019-11-21 10:32] ClaudioRifo commented on #43271
I will be available for the next 30-45 minutes if you require a call or more information.

From: AmanpreetSingh-MSFT <notifications@github.com>
Sent: Thursday, November 21, 2019 7:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Claudio P. Rifo Wahl <claudio.rifo@marcaria.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Errors (#43271)

@Clau

[2019-11-21 10:45] SnehaAgrawal-MSFT commented on #43177
@itsmegopi2 Thanks for asking question! Just to confirm have you configured [ACR to use with multi-container?](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#multi-container-with-docker-compose) Also, there are list of [supported and unsupported Docker Compose configuration](https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-containe

[2019-11-21 10:51] a09-capf commented on #43219
Thank you for your swift response!
ありがとうございます！

[2019-11-21 10:59] pvrk commented on #41780
@laakness:
**Update:** Apologies for the delay in response. Internal investigation revealed that this API is deprecated and not required. You can remove this role and proceed for custom role creation. I will work with the doc team to have this removed in the role definitions as well.

Interested to know why are you creating a custom role and not using the built-in.

[2019-11-21 11:05] SubhashVasarapu-MSFT commented on #43174
@smithashajith , I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-11-21 11:08] SwathiDhanwada-MSFT commented on #43170
@dcbrown16 Perhaps i am missing something here, but i could see the port and URL's are documented in the page
![image](https://user-images.githubusercontent.com/48976275/69332712-423d9980-0c7d-11ea-8a59-ce5b06e1e5b6.png)

![image](https://user-images.githubusercontent.com/48976275/69332687-2f2ac980-0c7d-11ea-8f4d-90dcefadfbfb.png)

[2019-11-21 11:11] xieofxie commented on #42890
After further reading the document, I found it mentions in [balance](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-intent#intent-balance) that although pattern could be used to match multiple utterances, it works as one so it could be used to balance utterances.

So it does not be expanded internally? I do need help on this for best practice, thanks~

[2019-11-21 11:14] amoldixit-Git commented on #43098
I understand that there are 594 values for Time zone. I would suggest to change the message "Allowed value should be:" to something like "Enter valid time zone. e.g. UTC"

[2019-11-21 11:15] jtuliani opened #43280 "What does 'cost report' mean?"
What does 'cost report' mean? Azure Cost Management cost analysis? Detailed usage XLSX download?

Needs to be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f927d2e-a3a6-3de9-5458-5149c163e0d0
* Version Independent ID: 8ce4f6c2-359c-fb55-a3f1-acd2b6a96afa
* Content: [Tag support for resources - Azure Resour

[2019-11-21 11:34] inetfuture commented on #14298
@roygara Why am I still seeing `/mnt` in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/files/storage-how-to-use-files-linux.md?

[2019-11-21 11:56] jakaruna-MSFT commented on #43063
@lucidqdreams I am able to reproduce your issue.
I will reachout to the product team.

[2019-11-21 11:58] manu4rhyme opened #43282 "Azure Blob Storage - IoT Module / Docker Container - Configuring HTTPS/CORS"
Hi,

We’re trying to build an IoT/Edge version of our existing cloud solution.

Our code uses the Azure blob storage on cloud, and for our IoT version, we’re using this docker container.

We’re unable to configure certain settings for this docker container (which are easily doable in cloud via the Azure portal):

1)	Adding CORS rules
Tried adding via Az CLI, but getting 500 – Internal Server Error

[2019-11-21 12:01] mamadou94Diop commented on #42962
@galvesribeiro I found a workaround that fits to my needs.
After installing a windows 10 VM in VirtualBox, I installed dotnet sdk and runtime on it.
I shared my ASP.Net core project folder, so that is accessible on windows VM.
I configured the network settings on Virtual Box with **NAT**, I did after that a port forwarding(        HOST IP localhost:5000 --------> GUEST IP : 10.0.2.15).
I run now m

[2019-11-21 12:04] PPACI opened #43283 "Clarification about .server and .override"
When editing the CoreDNS custom config map, we have to name the configuration like "XXX.test" or "XXX.override". While their respective roles are explained on some example in the page. It would made thing more clear to create a small section about the naming convention.

As example, the Custom forward server example state that "you may select any name here, but it must end with the .server file ex

[2019-11-21 12:12] rayne-wiselman commented on #43170
@dcbrown16  Thanks for your feedback. This article is in the process of being updated with this information

[2019-11-21 12:12] galvesribeiro commented on #42962
@mamadou94Diop I don't see how it would be a workaround for my case.

I'm talking about SDK v3 or greater and I need the application to run on my Mac, just like on SDK v2, not on the VM...

[2019-11-21 12:18] jakaruna-MSFT commented on #43272
@jjindrich
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-21 12:20] jakaruna-MSFT commented on #43279
@giovannifl
Thanks for the question! We are investigating and will update you shortly.

[2019-11-21 12:20] jakaruna-MSFT commented on #43279
@MashaMSFT please add your comments

[2019-11-21 12:21] memildin commented on #31511
Thanks for the suggestion, @SHANE0MAC

We've added a sentence under the PaaS list.

If you have any further comments, please feel free to be in touch.

#please-close

[2019-11-21 12:21] #31511 closed

[2019-11-21 12:27] jakaruna-MSFT commented on #43107
we can use [affinity-and-anti-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity) as well

[2019-11-21 12:35] jtuliani opened #43286 "CLI example broken"
The sample to add the 'Project = Redesign' tag to a resource in addition to existing tags doesn't work. (Tried in Bash Cloud Shell.)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Version Independent ID: f8826361-f601-acf9-3e3d-c96579c02093
* Content: [Tag resources for logical or

[2019-11-21 12:35] AjayKumar-MSFT commented on #43274
@Ramji-S, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-21 12:35] lonevvolf commented on #42917
I see that we suddenly have the option!
![image](https://user-images.githubusercontent.com/383469/69338548-bb2ff780-0c63-11ea-8226-bdfd88bbc7c0.png)

Thank you!

[2019-11-21 12:35] #42917 closed

[2019-11-21 12:36] allanmoller opened #43287 "reference() resourceId() will these be available?"
Doing a policy that based on resourceGroup().name applies a monitoring policy, but as i would like to force log to a workspace with same name as resourceGroup I am unable to do so as i cannot dynamically retrive workspaceId like a normal template using refernce() and resourceId(), will this be allowed in future releases?

Edited: Added doc info

---
#### Document Details

⚠ *Do not edit this secti

[2019-11-21 12:37] jtuliani commented on #43286
Figured it out. First line needs to add '-o json' at the end (just before the closing parenthesis)

[2019-11-21 12:39] AjayKumar-MSFT commented on #43278
@DrBushyTop, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-21 12:42] AjayKumar-MSFT commented on #43277
@brucemcmillan, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 12:44] LTUTE opened #43288 "port 443/80"
Hi, Does this service support only ports 80 and 433 or I can use any custom port for WebSocket Connection? From the document I got an impresiion 80/443 is the only ports that currently can be used. Also, can I configure the setup via Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f963aba-8ab8-43cd-6f0a-c

[2019-11-21 12:46] jakobnotseth opened #43289 "Missing info"
The unique identifier should be set to user.mail and all other claims should be removed.
Additionally, you open the Base64 encoded certificate in a text editor and copy ONLY the text between START and END tags to paste in Cylance Admin portal.
Last, you can only configure the "Login URL" from step 6 above in Cylance Admin portal.
For reference, use Cylance documentation: https://support.cylance.co

[2019-11-21 12:47] techiebuddhas commented on #42205
@paulbeechey / @Mike-Ubezzi-MSFT Can you please let me know, in which version does this fix is available?

[2019-11-21 12:48] #43107 closed

[2019-11-21 12:48] paulbeechey commented on #42205
Hi

I believe the updated cmdlet is coming out on the 26th November.

Paul

From: techiebuddhas <notifications@github.com>
Sent: 21 November 2019 12:47
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Beechey <Paul.Beechey@PelicanProcurement.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Get-AzRecoveryServicesBackupWorkloadRecoveryConfig i

[2019-11-21 12:49] pvrk commented on #42205
It is yet to be released. The planned release date for PS is Nov 26th..

[2019-11-21 12:50] msrini-MSFT commented on #43288
@LTUTE , You can configure any ports on the Listener of the Application gateway. The supported protocols are HTTP, HTTPS, Web sockets.

[2019-11-21 12:53] AjayKumar-MSFT commented on #43275
@tonholis, Thanks for leveraging Azure docs feedback channel and sharing the solution that worked for you. We are taking a look into this and will get back to you soon.

[2019-11-21 12:54] JeffreyFowels commented on #42614
Please could we get update on the following
Support for B2B Guest Users on Azure VPN

[2019-11-21 13:01] techiebuddhas commented on #42205
thanks for the update 👍

[2019-11-21 13:08] mamadou94Diop commented on #42962
@galvesribeiro  Fou your information, I have a mac and I use the Azure cosmos DB V3 .NET SDK.
Emulator is available only on Windows docker container or msi installer, I do not have choice at this    other than trying to find a trick.
I do not hear an upcoming Emulator available for mac, so I just want share a solution to avoid being stucked

[2019-11-21 13:10] AjayKumar-MSFT commented on #43287
@allanmoller, Thanks for the good feedback! Could you also please share the Azure doc for which this feedback is applicable to?

[2019-11-21 13:11] galvesribeiro commented on #42962
I understand that. Just saying that hosting the application that talks to the Cosmos Emulator on the Windows VM isn't an option on our case.

We need a real fix for this either on the SDK or the Emulator. I've already provided multiple options on how to fix this on multiple issues over the SDK repositories and I'm pretty sure Microsoft has resources to apply them very quickly.

[2019-11-21 13:14] SadiqhAhmed-MSFT commented on #43270
@VOVELEE Are you using Azure Monitor container insights or Log Analytics solution?

Just an FYI:
Log Analytics workspace can be used to in different subscriptions within the same tenant.

Azure Monitor can be used to monitor containers within the same subscriptions

HTH

[2019-11-21 13:35] KetanChawda-MSFT commented on #43226
@banisadr / @spelluru  any thoughts here?

[2019-11-21 13:36] valentijnscholten commented on #43235
Just stumbled upon a setting that seems to be needed to make this work: https://www.hametbenoit.info/2019/10/09/azure-ad-connect-you-can-now-synchronize-your-password-policy-and-force-the-password-change-at-next-logon-preview/

[2019-11-21 13:45] mladedav opened #43290 "Omitted EventHubsException (and possibly more)"
I get a Microsoft.Azure.EventHubs.EventHubsException with the message that 'The service was unable to process the request; please retry the operation. For more infomration on exception types and proper exception handling, please refer to http://go.microsoft.com/fwlink/?LinkId=761101', which leads here. However the said exception is not mentioned on this page at all. Because of the vague name, I do

[2019-11-21 13:51] mamadou94Diop commented on #42962
Sure! They can do it quickly but is it the priority for them?? Hope it is

[2019-11-21 13:53] galvesribeiro commented on #42962
Well, MSFT is selling out and loud that they now are a fully cross-plat/cross-cloud/cross-anything. It is a pretty bad press impression to keep things Windows-only. Again, the changes to support that are **very** simple. If the emulator was Open Source, I'm pretty sure the community (including myself) would already have that fixed...

[2019-11-21 13:54] allanmoller commented on #43287
Ya sry, https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#policy-functions

[2019-11-21 13:59] LouOtway opened #43291 "Broken link to anomaly detector"
The link (in this section https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-tutorial-visualize-anomalies#run-app-to-produce-test-event-data) to the anomaly detector app on github is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f17a71d-7aaa-552c-e5f6-b86e9eea62ac
* Version Independent ID: 8566f195-

[2019-11-21 14:00] LouOtway commented on #43291
Should be: https://github.com/Azure/azure-event-hubs/tree/master/samples/DotNet/Microsoft.Azure.EventHubs/AnomalyDetector

[2019-11-21 14:04] AjayKumar-MSFT commented on #43287
@allanmoller, Not a problem! don't worry about the doc info missing.  We really appreciate you sharing your valuable feedback on Azure docs and thanks for the doc URL, we are taking a look into this and will get back to you soon.

[2019-11-21 14:10] DCtheGeek commented on #43287
#reassign:DCtheGeek

[2019-11-21 14:10] DCtheGeek commented on #43287
@allanmoller Thanks for the question! It's not currently being planned to support these template functions, but we would like to understand your use more so we can evaluate and prioritize this request with existing work. Can you please post it to the [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055) and include details about what scenario th

[2019-11-21 14:10] #43287 closed

[2019-11-21 14:20] taaeipa1 commented on #39533
Maybe St. Nicolaus' Day would be a great release date for this plugin. We would really appreciate that!

[2019-11-21 14:46] PMLIO commented on #29388
Confusing article

[2019-11-21 14:51] laakness commented on #41780
I have written a script that aggregates multiple built-in roles into a custom role - Example VM Contributor and Backup Contributor along with some other custom actions.  This allows our people to only activate one Role in PIM instead of having to go through multiple activations.

Because I can't read in the Backup Contributor and write back the exact contents I read then I'll have to put code in t

[2019-11-21 14:54] abirDahmani commented on #17029
Is there any new about this issue ?

[2019-11-21 14:56] NavtejSaini-MSFT commented on #43184
@hanvyj Please convey if you have any further question or we will go ahead and close this thread by EOD.

[2019-11-21 14:59] NavtejSaini-MSFT commented on #43098
@amoldixit-Git I totally agree and as I conveyed in my last reply they have created a bug for portal and are trying to find best strategy on what to display and this will be updated soon.
If there are no further questions we will close this thread by EOD.

[2019-11-21 14:59] simon-michaud commented on #42823
I checked the information in SQLSecurityAuditEvent is not equivalent to what was available before with my query, but I guess it will have to do...

Thanks

[2019-11-21 14:59] Robotbae commented on #43123
Heya!! Ok got a screenshot now from the Emulator

Following this [link](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/improve-knowledge-base
) as a guide to activate Active Learning on QnAMaker
Ive run the code from [here ](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/49.qnamaker-all-features)

![image](https://user-images.github

[2019-11-21 15:00] borys86 opened #43293 "I could not find log profile section"
in an Azure subscription it seems that log profile and export are legacy items and now the only way to configure export is in the diagnostics section. Here it also shows the following top banner: "Looking for the legacy experience? Click here to launch the 'Export activity log' blade"
Maybe the section "Create a log profile" should be updated to reflect the change?

---
#### Document Details

⚠ *D

[2019-11-21 15:01] nakamacchi opened #43294 "Add the notes that we can't fully lock down the ASE outbound connection currently"
Based on the configuration in this page, we have to use the below three Service Endpoints in the ILB-ASE subnet.

- SQL Database
- Storage
- Event Hub

If so, user application can access to the any SQL DB, Storage, EventHub. (i.e., we can't limit the access to the metadata store only.) This would be a potential security leakage path.

So this "lockdown" is not the perfect lockdown, but the best-ef

[2019-11-21 15:01] NavtejSaini-MSFT commented on #42556
@stevestein @allenwux Please look into this PR and approve the same.

[2019-11-21 15:04] NavtejSaini-MSFT commented on #43110
@vishalsinghdev Glad we could help. We are going ahead and closing this thread.

[2019-11-21 15:04] #43110 closed

[2019-11-21 15:05] #43148 closed

[2019-11-21 15:08] NavtejSaini-MSFT commented on #43133
@silverl We are assigning this to our author for further assitance.
@ninarn Please check the user question and help. Please let us know if anything is required from our end.

[2019-11-21 15:09] PaoloCastAway commented on #21458
Same for my MS Premier customer. As per previous comments, I'm sending details to azcommunity@microsoft.com

[2019-11-21 15:09] chinna98 commented on #15913
How to change v4 to v3 for creating QnA template

[2019-11-21 15:09] kiazhi commented on #21170
Agreed with @gjustice. I will like to see at least a Service Tag be available for people to configure InBound rule instead of referring to Internet which means open it up to the world. Hopefully, I will prefer to see regional Service Tag to allow geo fencing be available too.

[2019-11-21 15:13] qqnarwhal opened #43295 "Incorrect Info"
"Virtual machines in a scale set can be deployed across multiple regions and fault domains to maximize availability " &gt;&gt; All resources in VMSS has to be in the same region, whether it's in orchestration mode or not. Perhaps it meant to say zone or update domain? Please correct it ASAP to avoid confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-21 15:15] NeilMeredith commented on #42934
Thanks, any update on this?  One other comment, is the cached data from the indexer visible in our storage accounts?  After setting the storage connection string and enabling caching in the indexer I get a cache id back with enableReprocessing set to true in my indexer definition, but I do not see it created anywhere in my storage account.

From what I can tell the incremental indexing is not work

[2019-11-21 15:17] giovannifl commented on #21458
Hi,
In my case, I had to open a ticket with Azure support to fix it.

[2019-11-21 15:18] dsabella84 opened #43296 "Workload Classifier definition"
Where is the DataLoads membername being defined in this process, or is this meant to be the ELTLogin as the member name as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973f4ffd-c49a-fa6f-0102-c6c9dbd354da
* Version Independent ID: 4fb4607f-e627-aeca-9a21-a6f367ffff54
* Content: [Quickstart: Configure workload i

[2019-11-21 15:22] ram-msft commented on #42985
@jimbobbennett We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-21 15:22] #42985 closed

[2019-11-21 15:22] dsabella84 commented on #43296
If it is meant to be used from the workload group name, then maybe an update to the classifier for the folllowing, does not directly call out that this can be a workload group

MEMBERNAME ='security_account'*
This is the security account being added to the role. Security_account is a sysname, with no default. Security_account can be a database user, database role, Azure Active Directory login, or

[2019-11-21 15:30] tsarna opened #43297 "VM diagnostics extension"
It would be great if the example included enabling VM diagnostics. This is something people seem to be struggling with, eg: https://stackoverflow.com/questions/53558919/anyone-succeed-with-enabling-vm-diagnostics-using-azurerm-virtual-machine-extens

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7

[2019-11-21 15:35] romankiss commented on #43226
@svangeti
 Please, vote the feedback [AdvancedFilters (2018-09-15-preview) - add more operatorTypes](https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/35997100-advancedfilters-2018-09-15-preview-add-more-op)  submitted **1 year ago.**

Thanks
Roman

[2019-11-21 15:37] PhilStollery opened #43298 "Wrong use of terms"
Shared access policy is referenced in several places. I believe the correct term is stored access polices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57504146-9f89-e4d6-3f5b-5cd9af305d45
* Content: [Develop for Azure Files with .NET](https://docs.micros

[2019-11-21 15:41] dominicbetts commented on #43256
Hi @cam1911 - thanks for getting in touch. The [Azure IoT Tools extension](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-tools) that the article suggests you install is an extension pack that includes, among others, the **Azure IoT Device Workbench** extension. So you shouldn't need to install the **Azure IoT Device Workbench** extension separately. If the extension p

[2019-11-21 15:55] GiftA-MSFT commented on #43108
@PatrickFarley please can you review and approve the PR? Thanks.

[2019-11-21 15:57] MonikaReddy-MSFT commented on #43294
Hello @nakamacchi, Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-21 15:59] #43091 closed

[2019-11-21 15:59] #43229 closed

[2019-11-21 16:03] lebedov commented on #43229
It was on the page I mentioned in this issue (see the code block immediately below the text "Create a run configuration for the persistent compute target." in the [cached version form 11/20/2019 01:39:28 GMT](https://webcache.googleusercontent.com/search?q=cache:x5Spl6nTbboJ:https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-set-up-training-targets)), but it seems to have since

[2019-11-21 16:05] ronortloff commented on #43296
Hello,
The parameter values for workload_group and membername are reversed in the example.  Fixing this now.  Thanks for raising this.

[2019-11-21 16:06] sdgilley commented on #43229
@lebedov thanks for finding this, I have removed it from the code block.
#please-close

[2019-11-21 16:07] sdgilley commented on #43091
@allenwux thanks for noticing this.  The bug has been fixed and I've removed the note from the document.

[2019-11-21 16:10] MarkDordoy commented on #42907
@SumanthMarigowda-MSFT after reading the deep dive around PTA, i feel i could check to see if i have a certificate in my machine local store issued by `hisconnectorregistrationca.msappproxy.net`

If i do then i feel the agent has managed to register and do the pki dance. Would you agree? Please can i get confirmation or another way of doing so.

[2019-11-21 16:12] brucemcmillan commented on #43277
Hi,

https://docs.microsoft.com/en-gb/learn/modules/develop-test-deploy-azure-functions-with-visual-studio/3-exercise-develop-and-test-azure-functions-locally

That link does not work IF you use the .net framework version in 2017

You need to update vs2017 to at last ,net 4.7
Also
It you do not manually create a httpresponse in the sample it will not run successfully..

TIA

B..

Bruce McMillan
07

[2019-11-21 16:13] Durden86 opened #43299 "Invalid Link"
The Note in this section: "https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/dbms_guide_sqlserver#recommendations-on-vmvhd-structure-for-sap-related-sql-server-deployments"  has a link that does not currently work.  Can you provide a new link the documentation?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-21 16:21] chrisjrisch commented on #28657
That's not the behavior I'm experiencing. I can give members "Read", "Process database", and "Full Control" permissions in SSMS and they still cannot see the AAS database. They can only see the databases if I make them a server admin.

[2019-11-21 16:21] MonikaReddy-MSFT commented on #43217
Hello @taromielnaz,
You can put Staging in one App Service Plan and Production in another App Service Plan. There is no restriction towards that.

You can change that by clicking in Change App Service Plan option under the App Service.

Please see the below image for more details :

![image](https://user-images.githubusercontent.com/47833949/69356114-ed842980-0c50-11ea-81e6-3e70c988395f.png)

I ho

[2019-11-21 16:21] #43217 closed

[2019-11-21 16:25] eldonti commented on #43235
Hi there - thanks for the feedback. But this is not accurate. See following ticket
https://github.com/MicrosoftDocs/azure-docs/issues/41302

[2019-11-21 16:26] ronortloff commented on #43296
pr 96770 has bee merged in.

[2019-11-21 16:26] mumian commented on #42368
@gitjeph - the tutorial and adm-quickstart are two separate samples.  They are not directly related other than that they both talk about ADM health check.

#please-close

[2019-11-21 16:26] #42368 closed

[2019-11-21 16:26] ronortloff commented on #43296
#please-close

[2019-11-21 16:26] #43296 closed

[2019-11-21 16:27] eazykiel opened #43300 "Missing the ip's for the canada central live stream"
Hello,

what are the ip for Central Canada for the live stream ?
thanks

ID: 3942b937-b212-3ceb-d356-450b7f598f68
Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
Content: IP addresses used by Application Insights and Log Analytics
Content Source: articles/azure-monitor/app/ip-addresses.md
Service: azure-monitor
Sub-service: application-insights
GitHub Login: @mrbullwinkle
Microsoft Al

[2019-11-21 16:29] anthonychu commented on #43132
I can take a crack at this #reassign-to:anthonychu

[2019-11-21 16:29] diberry commented on #15913
@chinna98 - you will need to post that question as an issue on the [Bot Framwork samples GitHub repo](https://github.com/Microsoft/botbuilder-samples) #please-close

[2019-11-21 16:42] jeremytbrun opened #43301 "Do not have region location option with latest version of gateway"
I've installed the latest version of the gateway - 3000.10.248 (October 2019(Release 2)) - intending to use it as a gateway for Logic Apps. When I try to install a new gateway OR migrate an existing gateway I have no options anywhere in the dialogues to change the region location. I'm signing in successfully with my work account registered in Azure AD, and I've tried checking for a installation in

[2019-11-21 16:43] RyanHill-MSFT commented on #43138
@nikoudel, I've confirmed that initially setting the traffic routing to something other than 0 will create the cookie with the TiP and x-ms-routing-name entries after navigating to `/?x-ms-routing-name=staging`. So there is a temporary workaround.

I'll report this to the product team and close this particular issue. When I receive something back from the product team, I'll update this issue.

[2019-11-21 16:43] #43138 closed

[2019-11-21 16:55] nitinbps commented on #43063
This indicates that no policy (https://docs.microsoft.com/en-us/azure/azure-arc/servers/overview) has been assigned to the machine. This is an over arching error and can be safely ignored.

[2019-11-21 16:59] valentijnscholten commented on #43235
What is not accurate? In the article I linked they're using the same correct values as in #41302

[2019-11-21 17:01] joeljanke commented on #41780
@pvrk  if this action is no longer used or relevant and thus is causing @laakness error, should MS engineering be removing it from the output of @laakness "az role definition list --name "Backup Contributor" command?   We need these APIs to be accurate if we are to be able to use them for custom work.   Aggregating existing built-in roles and/or adding or removing individual permissions then from

[2019-11-21 17:01] jmasengesho commented on #43248
@SnehaAgrawal-MSFT has this been resolved? Thanks

[2019-11-21 17:07] jimbobbennett commented on #42986
<img width="1680" alt="PythonDocsGoogle" src="https://user-images.githubusercontent.com/1710385/69359868-52825400-0c3e-11ea-80b2-c2f278bb26eb.png">

[2019-11-21 17:11] roygara commented on #43234
I'll go ahead and close this out since your PR has been merged. Again, thanks for your help improving our docs. :)

#please-close

[2019-11-21 17:11] #43234 closed

[2019-11-21 17:27] CHEEKATLAPRADEEP-MSFT commented on #43291
@LouOtway Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/96776](https://github.com/MicrosoftDocs/azure-docs-pr/pull/96776).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2019-11-21 17:27] #43291 closed

[2019-11-21 17:29] KrishnaG-MSFT commented on #43296
@ronortloff Thanks for the quick response. :+1:

[2019-11-21 17:36] isaaccarrington opened #43302 "App Service VNET injection using ARM templates"
### In a Linux App Service Farm I have tried to use VNET injection for an App via ARM templates using the reference shown [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/sites/virtualnetworkconnections#vnetinfoproperties-object)

My error is
[code]

My code is
[code]

Firstly I suprised that a feature in preview has non-preview arm template reference documentation.

[2019-11-21 17:38] #43103 closed

[2019-11-21 17:41] roygara commented on #14298
@inetfuture looks like someone re-wrote the mounting instructions and when they did they put /mnt back into it. https://github.com/MicrosoftDocs/azure-docs/commit/c34694ac78dfa3fb50ae1afea293f5d2fa694463#diff-f00d450e76ee1d04b70a5c4e9508a12c

In the interim you can just make a new directory as per the original instructions and set that to the mountpath. That should work. I'll circle back with @wmg

[2019-11-21 17:45] roygara commented on #43275
@tonholis Thanks for reaching out. I wanted to confirm something: Your original commands were able to create and mount a drive to your virtual machine? I was unable to, as per this issue: https://github.com/MicrosoftDocs/azure-docs/issues/42843

I'm still waiting to hear back from the script writer as far as getting this resolved.

[2019-11-21 17:55] Karishma-Tiwari-MSFT commented on #43299
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 17:58] SamaraSoucy-MSFT commented on #42996
Hi @markdebruijne
I'm going to go ahead and close the thread. Please tag me if you have any followup questions.

[2019-11-21 17:58] #42996 closed

[2019-11-21 18:10] MicahMcKittrick-MSFT commented on #43283
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 18:11] MicahMcKittrick-MSFT commented on #43295
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 18:11] SaurabhSharma-MSFT commented on #43289
@jakobnotseth Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-21 18:11] MicahMcKittrick-MSFT commented on #43297
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 18:18] CeciAc opened #43304 ""co-owners" part should be "co-administrators" ?"
Hi team,
I moved this from here because it refers to the original documentation
Original issue: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2908

@thiruma0203 commented 15 hours ago

There are several sentences that contains a word "co-owners". However, on Subscription access control (IAM), there are no such role. Would this word be fixed to "co-administrators"?

" wave starts with a

[2019-11-21 18:18] Karishma-Tiwari-MSFT commented on #42929
Yes, it is correct.

During an upgrade, Service Fabric compares the new application manifest with the previous version and determines which services in the application require updates. Service Fabric compares the version numbers in the service manifests with the version numbers in the previous version. If a service has not changed, that service is not upgraded.

Cluster upgrade: as your cluster is

[2019-11-21 18:19] MashaMSFT commented on #43279
Hi @giovannifl , thanks for contacting Microsoft and bringing this to our attention! Let me do some research to confirm and get back to you.

Thanks!
Masha from the SQL Docs team

[2019-11-21 18:20] #42929 closed

[2019-11-21 18:22] Alberto-Vega-MSFT commented on #43067
@czgtest Thanks for helping! @YoDaMa Did you have a chance to look into the previous suggestion?

[2019-11-21 18:24] MashaMSFT commented on #43131
Hi @datadel-sd , it's been some time since we've heard from you so we're going to assume your question has been answered and close out the Git Issue. However, please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2019-11-21 18:24] #43131 closed

[2019-11-21 18:24] pvrk commented on #41780
@laakness : Yes, the action that is giving you error is not required to manage backups. You can remove it.

@joeljanke : You are right, Joe. MS will be removing this from the role definition list. I will update the plan when that is clarified. We would also like to understand what is more/less required from the backup built-in roles and why. You gave the example for VM contributor. Any such feedba

[2019-11-21 18:25] MashaMSFT commented on #42439
Hi @paramda, it's been some time since we've heard from you so we're going to assume your issue has been resolved and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2019-11-21 18:25] #42439 closed

[2019-11-21 18:25] #43067 closed

[2019-11-21 18:32] FrankHu-MSFT commented on #43240
Hello @rbergertd I'm following up on this issue, were you able to resolve the issue per the information above?
If not please let us know.

[2019-11-21 18:38] pvrk commented on #42973
@master135: Can you please share the client request ID of any request and subscription ID to pullabhk@microsoft.com?

[2019-11-21 18:40] buzzkillionair opened #43305 "failed to parse user input due to error: the inferred source/destination combination is currently not supported."
I am trying to write an azcopy program so that I can automate it. I use an SAS to authenticate. I keep running into the error:

`failed to parse user input due to error: the inferred source/destination combination is currently not supported.`

My code is as follows:

[code]

Any help is appreciated``

[2019-11-21 18:43] rwike77 commented on #42482
Article was updated.  #please-close

[2019-11-21 18:43] #42482 closed

[2019-11-21 18:45] Mike-Ubezzi-MSFT commented on #43237
Adding Warning from: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-service-endpoints

![Screenshot (490)](https://user-images.githubusercontent.com/37126106/69366537-6e402700-0c4b-11ea-8d47-f4b5d52fb35c.png)

Where there should be some additional information to communicate this implications of enabling this functionality.

![Screenshot (491)](https://user-images.githubusercontent.co

[2019-11-21 18:46] Dragonsong3k opened #43306 "Single Sign On Script is ServiceNow needs to be changed"
I found that in ServiceNow, the Single Sign On Script in Identity Providers --&gt; Advanced Tab needs to be set to MultiSSOv2_SAML2_custom. The default MultiSSO_SAML2_Update1 did not pass the Authn Step after testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version Independ

[2019-11-21 18:50] joeljanke commented on #41780
@pvrk in our case...the individuals that manage VM's also happen to manage backups.   As such, we aggregate the built-in roles of VM Contributor, VM Admin Login, Backup Contributor and the additional action/permission of controlling locks into a custom role that we use for our VM Admins.   Rather than have to setup multiple roles in Azure PIM and require folks to perform multiple activations, this

[2019-11-21 18:50] TianyuHou opened #43307 "How to add OAuth Server with new Developer Portal?"
I can't find the OAuth Server button in new Developer Portal
![image](https://user-images.githubusercontent.com/31544262/69367156-95e3bf00-0c4c-11ea-9e91-da4320b82aa6.png)
![image](https://user-images.githubusercontent.com/31544262/69367205-ac8a1600-0c4c-11ea-861d-cd11b3ab2e38.png)

[2019-11-21 18:51] pvrk commented on #41780
This is great explanation, thanks @joeljanke

[2019-11-21 18:52] Kentcomp opened #43308 "References to Azure AD Basic are no longer valid"
Since Azure AD Basic no longer exists, I recommend removing the references to it. For example, "In the Azure Active Directory Free and Basic editions, you get..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae-f921-3ce34965bba2
* Content:

[2019-11-21 18:59] jeremytbrun commented on #43301
This is what the documentation says I should see.
![image](https://user-images.githubusercontent.com/28311946/69367618-98eba900-0c66-11ea-8d1b-6ffbdcfc4711.png)

This is what I see...
![image](https://user-images.githubusercontent.com/28311946/69367800-f2ec6e80-0c66-11ea-8c9c-5c32dacfcac5.png)

[2019-11-21 19:04] EricJizbaMSFT commented on #42379
Created this issue in VS Code: https://github.com/microsoft/vscode/issues/85328

[2019-11-21 19:06] SaurabhSharma-MSFT commented on #42413
@TechieWorld Base on the information I have received, the underlying data storage service used by Key Vault is a single-master system. If we cannot access the primary region, we cannot write data. That storage service provides a read-only replica of data in a paired region, which is what we use to support our regional failover. Also, supporting multi-master writes would require a different storage

[2019-11-21 19:06] andrePKI opened #43309 "Subdomain name graphicdesigninstitute.example?"
Shouldn't that read example.graphicdesigninstitute.com ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afcdf8c6-ab32-7a59-f5c1-9e2326b15245
* Version Independent ID: 2d410a5c-ae95-dfc2-e562-d744499a3d76
* Content: [Add a connected organization in Azure AD entitlement management - Azure Active Directory](https://docs.m

[2019-11-21 19:09] andrePKI opened #43311 "Link error"
The link under Next steps: Govern access for external users refers to this same page instead of  https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-external-users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afcdf8c6-ab32-7a59-f5c1-9e2326b15245
* Version Independent ID: 2d410a5c

[2019-11-21 19:17] MarileeTurscak-MSFT commented on #43311
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 19:18] MarileeTurscak-MSFT commented on #43309
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 19:21] rdeltcheva commented on #43171
@smithashajith, SUSE has not released yet the changes to dependent components(Azure Python  SDK), required to benefit from fast failover times when using the Azure fence agent.  We are in touch with SUSE and the articles will be updated as soon as we get confirmation that the changes are completed.

[2019-11-21 19:27] YutongTie-MSFT commented on #43113
@mrudulan Hi, could you please help us to check this issue and update the document if necessary? Thanks!

[2019-11-21 19:28] loic-sharma commented on #41679
@tchristiani These are suggestions for the "Translator Text" Azure Cognitive service. Why was it moved to the NuGet team?

[2019-11-21 19:31] tchristiani commented on #41679
@loic-sharma you are asking for changes to the SDK.

[2019-11-21 19:35] ninghu commented on #40398
Estimator doesn't support to install package from a local folder currently but there are a couple of options you can consider:

1. Migrate you code to a remote git repository. Then install from there
[code]

2. Build your own custom docker image via the instruction her
https://github.com/Azure/AzureML-Containers

3. Install your package at runtime. It's a little bit hacky but it should work. Copy

[2019-11-21 19:35] hanvyj commented on #43184
Ah, didn't notice that TOP. I've tried it without TOP and had it fail on cross partition dataset. There's no error, it just doesn't return to the right number of results (usually zero)

[2019-11-21 19:38] TravisCragg-MSFT commented on #42614
@JeffreyFowels I will post an update as soon as I am able.

[2019-11-21 19:42] bartvermeersch opened #43312 "Difference is not clear"
What's the difference between ForcePasswordChangeOnLogOn and ForcePasswordResetOnLogonFeature? Both are parameters on the command Set-ADSyncAADCompanyFeature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content: [Im

[2019-11-21 19:46] YutongTie-MSFT commented on #43216
@wukun2015
Hi Wuk, thanks for reaching out to us. We are supporting the following languages:
zh-CN | Chinese (Mandarin, simplified)
zh-HK | Chinese (Cantonese, Traditional)
zh-TW | Chinese (Taiwanese Mandarin)

A gentle remind here: A standard subscription (S0) for Speech Services is required to use batch transcription. Free subscription keys (F0) will not work. For additional information, see pri

[2019-11-21 19:48] andrePKI opened #43313 "Group member of itself?"
Will it be a problem if you make a group member of itself? Or some other circular reference like making the parent of a group also a member of the group? Because this is what can be done.
So after some clicking you have this breadcrumb in the port Groups blade:
Groups - All groups &gt; Group3 - Members &gt; Group1 - Members &gt; Group2 - Members &gt; Group1 - Members &gt; Group2 - Members &gt;  Gr

[2019-11-21 19:48] GiftA-MSFT commented on #43205
@HotSwap thanks for bringing this issue to our attention. We have provided this feedback to our product team, and we'll inform you once we have some more information about this feature request. Thanks.

[2019-11-21 20:01] swmachan commented on #41679
@tchristiani, I meant that I have asks for the Nuget team to gain clarity in this topic. @loic-sharma, I will schedule a meeting with you in the upcoming weeks.

[2019-11-21 20:04] bandersmsft commented on #42971
@mtwelve Hi. Sorry for this oversight. The **Add more** option is only avaliable to customers with an EA subscription. I'll update the article to clarify.
#please-close

[2019-11-21 20:04] #42971 closed

[2019-11-21 20:08] MicahMcKittrick-MSFT commented on #43297
@tsarna it appears this doc already has that information

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/terraform-create-complete-vm#create-virtual-machine

![image](https://user-images.githubusercontent.com/32313503/69372959-96358780-0c57-11ea-8177-ea9d9408a3e1.png)
###

Can you confirm if that is what you are looking for?

[2019-11-21 20:12] MicahMcKittrick-MSFT commented on #43295
@qqnarwhal thanks for the find! It should have been update domains.

I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-21 20:12] #43295 closed

[2019-11-21 20:12] MicahMcKittrick-MSFT commented on #43213
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-21 20:12] #43213 closed

[2019-11-21 20:14] MicahMcKittrick-MSFT commented on #43283
@PPACI I think that's fair feedback. I will assign to the content author to review further.

[2019-11-21 20:20] hansharhoff opened #43315 "Does this only work with Warm data?"
I am able to connect to my TSI instance, but no events are being loaded to Power BI.
Is this because I only have data in my cold store? Does Power BI connector support the cold store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bec0a3-a1b6-2d48-6cc1-4087f5900e7a
* Version Independent ID: 6eef57fd-f177-9dd1-45d7-71

[2019-11-21 20:24] Karishma-Tiwari-MSFT commented on #42942
@jopapeador18 There has not been any update on nested virtualization being supported in production environment.
Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritization.
We also have the "Give Product Feedback

[2019-11-21 20:25] #42942 closed

[2019-11-21 20:28] tsarna commented on #43297
No, that is boot diagnostics, I'm looking for installation of the diagnostics extension, which allows monitoring of things like memory use:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux

[2019-11-21 20:29] YutongTie-MSFT commented on #43218
@trrwilson Hi Travis, could you please help check this issue to see should we change the code sample and update the document? Thanks a lot.

[2019-11-21 20:29] MicahMcKittrick-MSFT commented on #43297
Ah okay I see. That's a fair ask. I will assign to the content author to review and see if we can get that info added to the document.

[2019-11-21 20:34] MarkusVi commented on #38905
I have staged a fix.

#please-close

[2019-11-21 20:34] #38905 closed

[2019-11-21 20:35] vhorne commented on #42800
According to the product PM, the action values for the Firewall log are Matched and Blocked.

Article changed accordingly.
#please-close

[2019-11-21 20:35] #42800 closed

[2019-11-21 20:40] MarileeTurscak-MSFT commented on #43311
Thanks! I made a pull request to update the link.

[2019-11-21 20:40] #43311 closed

[2019-11-21 20:40] MarileeTurscak-MSFT commented on #43311
https://github.com/MicrosoftDocs/azure-docs-pr/pull/96826

[2019-11-21 20:45] Karishma-Tiwari-MSFT commented on #43014
@bchris999 Can you please elaborate on exactly what information you are looking for, in terms of office 365 licensing with Virtual desktop? Thanks :)

[2019-11-21 20:47] ahmadizm opened #43316 "Can a B2C Access Token include app roles assigned to the user?"
The access tokens issued by B2C do not seem to have the roles section. I do get them using active directory, but not through b2c. Although, it is possible to see them in the portal even in B2C directory. Is there a way to achieve this in the access token?

This is how I am getting a token:
app = PublicClientApplicationBuilder.Create(Common.ClientId)
                .WithB2CAuthority(Common.Authori

[2019-11-21 20:49] jeremytbrun commented on #43301
If I sign in with an Azure Government AD account it gives me the _Change Region_ option on the dialog above. However, if I sign in with my Azure "Commercial" AD account I do not (see screenshot above).

[2019-11-21 20:49] vlado101 opened #43317 "Mention the tool used to create Stored Procedure for "sp_update_partition_success""
Hello,

For the SQL when creating stored procedure below it should be mentioned that this code runs specifically in Microsoft SQL Server Management Studio:

CREATE PROCEDURE [dbo].[sp_update_partition_success] @PartPrefix varchar(255)
AS
BEGIN

	UPDATE s3_partition_control_table
	SET [SuccessOrFailure] = 1 WHERE [PartitionPrefix] = @PartPrefix
END
GO

When I tried to create this SQL code in Azure

[2019-11-21 20:49] MarileeTurscak-MSFT commented on #43309
Thanks, I believe you are right. I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96829

[2019-11-21 20:49] #43309 closed

[2019-11-21 20:49] larshobiasen opened #43318 "Sessions hangs on broker service after scaling"
Hi,

we are using the WVD scaling script, but have a one problem.

When we are out of Peak hours we shutdown 5 out of 6 Win10 servers with the scaling script.

Some users report that they cant connect, and when i ran the "Get-RDSuserSessions" i can see some users with session pointing to the servers in shutdown state.

The "Invoke-RdsUserSessionLogoff" cant kill the sessions i the azure broker ser

[2019-11-21 21:00] Karishma-Tiwari-MSFT commented on #43164
@pure-zero You can submit a request for Quota increase by following the steps in this document: https://docs.microsoft.com/en-us/azure/azure-supportability/per-vm-quota-requests
Read more about quota limits at https://aka.ms/AzurePerVMQuotaLimits.

[2019-11-21 21:02] vlado101 opened #43319 "On Step 6 missing pipeline name info"
In Step 6 it mentions the following "Select Debug, enter the Parameters, and then select Finish". However, it is not clear which pipeline that steps is referencing as two pipelines "DeltaCopyFromS3" and "DeltaCopyFolderPartionFromS3" were imported using the template "Copy delta data from AWS S3 to Azure Data Lake Storage Gen2".

Thank you

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-21 21:04] Karishma-Tiwari-MSFT commented on #43203
@rambabu0063 Thanks for sharing the document. I have redirected it to the right team and they will reach out to you shortly.

[2019-11-21 21:06] #37156 closed

[2019-11-21 21:07] vlado101 commented on #43317
Apologies, I did not read the instructions correctly.

[2019-11-21 21:07] #43317 closed

[2019-11-21 21:09] zr-msft commented on #41440
Thank you for the feedback @kyschouv

I have updated the doc and the changes should be live soon.

[2019-11-21 21:09] femsulu commented on #43280
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-21 21:10] zr-msft commented on #41440
#please-close

[2019-11-21 21:10] #41440 closed

[2019-11-21 21:11] femsulu commented on #43286
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-21 21:12] Karishma-Tiwari-MSFT commented on #43299
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/96832
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-21 21:12] #43299 closed

[2019-11-21 21:13] femsulu commented on #43293
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-21 21:29] mmacy commented on #41710
Hi @LaurentTermeau, because your issue is currently caused by the bug described in https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/568 and not in the article, I recommend that we close this issue and that instead you subscribe to https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/568.

The SDK team has acknowledged the bug and has responded in this comment: https://github.com/

[2019-11-21 21:32] mvhbharath commented on #43248
Looks like the issue is resolved, I am able to create a linux app service in a new or existing resource group.  @SnehaAgrawal-MSFT please let us know the root cause, since we were hard down and do not want it to happen again after we go live.

[2019-11-21 21:32] slapheadted commented on #24804
Hello @slaFFik, thanks for your details on this issue. I'm in the same situation and have one question for you: were you receiving the error message *intermittently*? If the issue was in your source code (which it sounds like because you mention lowercasing) then I'd expect you to be receiving the error message *every single time* you made the requests.

[2019-11-21 21:34] MicahMcKittrick-MSFT commented on #43304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 21:43] andrePKI commented on #28056
Maybe have a look at [this](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection ). Does that answer your question?

[2019-11-21 21:45] ormico opened #43320 "docs not up to date with latest version of Helm (v3)"
I used this doc previously to install helm but when I revisited it today I found that it was no longer up to date since Helm v3 came out and no longer uses Tiller.
Although I have not checked yet, the doc to install and nginx ingress may also need updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e

[2019-11-21 21:47] jmasengesho commented on #43248
It seems to work for me as well.

[2019-11-21 21:47] ormico commented on #43320
just want to add, its not just links to wrong docs, the whole need to install a service account and other steps are not needed or different.

[2019-11-21 21:51] mike-urnun-msft commented on #43290
@mladedav Thank you for your feedback! We will review and update as appropriate.

[2019-11-21 21:53] Karishma-Tiwari-MSFT commented on #43320
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 21:55] jeremytbrun commented on #43301
Gateway properties when I register with **Azure Government AD** account. This is when it shows the _Change Location_ option but it is not government locations/regions and still doesn't work.
{
  "Timestamp": "2019-11-21T21:21:15",
  "DisplayableId": "*****@*****.onmicrosoft.com",
  "TenantId": "GUID-VALUE", <- this matches my Azure Government AD tenant
  "UniqueId": "GUID-VALUE",
  "GatewayName":

[2019-11-21 21:56] MayMSFT commented on #42948
@joshheitzman-redcley-v-joheit-msft
In the sample notebook, there is instruction to install extra pip package
pip_packages=['keras==2.2.5','azureml-dataprep[pandas,fuse]','matplotlib'])

'azureml-dataprep[pandas,fuse]' is requried for dataset mounting to work. We are working on making it part of the default package so that users wont need to explicitly install it in the future

[2019-11-21 21:57] Alberto-Vega-MSFT commented on #43302
@isaaccarrington Thanks for reaching out. I see the document you are linking to. Were you also following a tutorial or document? If that is the case can you please share the link? That way, we can pass your feedback to the appropriate content author.

We try to reserve these issues for documentation feedback. If you are looking for help (vs provide feedback for a tutorial) can you please open a th

[2019-11-21 21:58] stefsch commented on #37200
Bug logged internally to update UX text to reference regional virtual network to the text to make it clearer.
The subnet picker is a known current limitation where it can only show all subsnets in the vnet.

[2019-11-21 21:58] stefsch commented on #37200
#please-close

[2019-11-21 21:58] #37200 closed

[2019-11-21 21:59] Alberto-Vega-MSFT commented on #43305
@buzzkillionair Were you also following a tutorial or document? If that is the case can you please share the link? That way, we can pass your feedback to the appropriate content author.

We try to reserve these issues for documentation feedback. If you are looking for help (vs provide feedback for a tutorial) can you please open a thread on the dev forums like StackOverflow or MSDN? There unlike h

[2019-11-21 22:00] YutongTie-MSFT commented on #42948
@MayMSFT Thanks a lot!

@joshheitzman-redcley-v-joheit-msft
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-21 22:03] Alberto-Vega-MSFT commented on #43307
Hi @TianyuHou I'm sorry to hear that you are facing this issue. For some reason the issue is not linked to a document or tutorial.
Could you please share the the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.