[2020-03-16 00:23] Mahmoud87 commented on #17848
Almost a year and half later, and still MS hasn't implemented it or even gave a clear statement that Get-AzureADGroupMember doesn't support devices!? Honestly how difficult it is? People in Hybrid situation are really screwed with these sort of things, also I should mention that MS still doesn't support dynamic groups based on DeviceTrustType!! How can we use Azure if it's not complete?

By the wa

[2020-03-16 00:24] GiftA-MSFT commented on #50184
@meswaramoorthy thanks for reaching out. You should be able to run your experiment with free/paid version of AML. However, I'm not able to reproduce this issue, it seems you have some permission error in your environment.

@greazer do you have any insights as to what may be causing this error in VS Code?

[2020-03-16 01:13] radderz commented on #36295
@jovanpop-msft does this copy/migrate design affect both business critical and general purpose instances? I have a general purpose instance the takes > 5/6 hours to scale up, and as far as I am aware, the server is using azure blob storage so the files are remote blobs, meaning no need to copy the data, it'd be a detach/attach scenario?

[2020-03-16 01:36] foyezah opened #50221 "Figure 4 and Figure 5 have same picture"
Figure 4 and Figure 5 have the same picture. should it be the same or different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88ccef7
* Content: [Use Azure API Management with Microservices Deployed in Azure Kubernetes Service

[2020-03-16 01:58] WenJason commented on #49651
Hi @normesta , got it. Thanks a lot.

[2020-03-16 02:14] ram-msft commented on #49938
@RichardJDay We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 02:14] #49938 closed

[2020-03-16 02:31] ram-msft commented on #49936
@QuickScoP3s Can you please add more details about the app that you are trying.
Please follow the below links to get the speech SDK for Linux based on language.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux#get-the-sdk
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/ship-application#linux

[2020-03-16 02:36] ChristianMontoya commented on #50156
@briantaintor : Are there any open issues on the web client right now?

[2020-03-16 02:55] mike-urnun-msft commented on #50039
Based on the above, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-16 02:55] #50039 closed

[2020-03-16 03:05] DixitArora-MSFT commented on #50221
Hi @foyezah Thanks for reaching out. We will review and update as appropriate.

[2020-03-16 03:06] DixitArora-MSFT commented on #50219
Hi @BradHester Thanks for reaching out. We will review and update as appropriate.

[2020-03-16 03:08] TomArcherMsft commented on #50217
@zaistev The changes are live: https://docs.microsoft.com/azure/terraform/terraform-create-complete-vm

[2020-03-16 03:18] DixitArora-MSFT commented on #49942
@banisadr Just following up again in case missed the previous communication.

[2020-03-16 03:18] Jlouden9 opened #50223 "API Management - Consumption Subscription non migratable"
Hi,
I think you might need to expand on the API Managment migration types. The Consumption subscription plan comes back with "SkuType Consumption and cannot be moved"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Cont

[2020-03-16 03:51] BharathNimmala-MSFT commented on #49908
@Ayanmullick Thank you for sharing additional context,  [Set-AzVMDiagnosticsExtension](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmdiagnosticsextension?view=azps-3.6.1) cmdlet  seems to be limited for Diagnostics data only , is your query that why it's not extended to boot diagnostics or  is that you want to enable diagnostics data into a storage account which is in anoth

[2020-03-16 03:54] BhargaviAnnadevara-MSFT commented on #49818
@ishepherd Yes, change analysis detects changes in dependencies by checking the _Azure webapp's_ DNS record (https://xxxxxxxx.azurewebsites.net).

Coming to the sceanrio described, AFAIK, this use case is not yet supported, as currently supported resources include the following, as mentioned in the doc:

- Virtual Machines
- Virtual Machine Scale Set
- Azure Networking resources
- Web app with in-

[2020-03-16 04:03] marktab opened #50224 "dbTable"
dbTable should be in the code as per https://github.com/Azure/azure-sqldb-spark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server - Azure SQL Database](http

[2020-03-16 04:18] shreyasharmamsft commented on #49367
@mwlootens thanks for the reply and your feedback! Like I said above, we'll consider this as part of our roadmap 👍

[2020-03-16 04:24] AshokPeddakotla-MSFT commented on #49367
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 04:24] #49367 closed

[2020-03-16 04:26] SnehaAgrawal-MSFT commented on #49813
@mc0re Thanks again for the feedback. PG team is aware of this and are working on same. Also the best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169396-azure-media-services) item and upvote it. The product group monitors this site for feedback. We will now proceed to close this thread. If there are further questions regarding this matter

[2020-03-16 04:26] #49813 closed

[2020-03-16 04:26] jhakulin commented on #49936
Thanks for feedback, Linux ARM32 can be found from Speech SDK .tar package, but indeed is missing from nuget. We will add this to Speech SDK nuget in 1.11.0 release during this month. Apologies for the inconvenience.

[2020-03-16 04:33] RohitMungi-MSFT commented on #49943
@ShakAttacked We currently do not have visibility of this implementation on iOS. We have provided feedback to our team and will post an update on this thread when it is avialable.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-16 04:33] #49943 closed

[2020-03-16 04:40] KalyanChanumolu-MSFT commented on #50215
@JoeMumm Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2020-03-16 04:41] brewst001 commented on #50202
I am having the same issue. The errors are usually after anything that is using a defined resource:
=========
Add-AzStorageAccountNetworkRule : Cannot bind argument to parameter 'VirtualNetworkResourceId' because it is null.
At C:\Users\Bruce\Desktop\lock.ps1:11 char:31
+     -VirtualNetworkResourceId $serviceEndpointSubnet.Id
=================
It is almost as if the syntax of these commands have

[2020-03-16 04:44] KalyanChanumolu-MSFT commented on #50218
@nexxuno Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-16 04:46] jakaruna-MSFT commented on #48521
@festivus I didnt get any email.
If you have sent one, Please share the subject of the email so that i can search and find the email

[2020-03-16 04:55] Ayanmullick opened #50225 "Associate NAT rule to single VM"
How could one associate a Load Balancer NAT rule to a single virtual machine thru PowerShell like one can thru the Portal?

![image](https://user-images.githubusercontent.com/17693249/76724498-20c75880-6719-11ea-975a-719141ba3e55.png)

There is no backend association parameter for the  [New-AzLoadBalancerInboundNatRuleConfig cmdlet](https://docs.microsoft.com/en-us/powershell/module/az.network/new

[2020-03-16 04:56] azghafar opened #50226 "broken link"
tutorials/img-classification-part1-training.ipynb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49515ab-308d-8e5d-0960-40ce43d4752d
* Version Independent ID: 651348fd-f173-55c0-8199-68c0eac7b043
* Content: [Use compute targets for model training - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine

[2020-03-16 04:57] ram-msft commented on #49936
@QuickScoP3s We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 04:57] #49936 closed

[2020-03-16 05:20] githubhouse732 commented on #49150
hi
is dynamic Partition Pruning does not work under Spark 3.0 version?

[2020-03-16 05:22] DixitArora-MSFT commented on #50108
@rahulmadaan30 This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-03-16 05:22] #50108 closed

[2020-03-16 05:23] MarileeTurscak-MSFT commented on #50223
@Jlouden9
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 05:24] MarileeTurscak-MSFT commented on #50224
@marktab
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 05:25] RohitMungi-MSFT commented on #50226
@azghafar Thanks for spotting this. We have updated the document to point to the correct notebook and this should be live as soon as the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107786)is approved & merged. Please use this [link ](https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/image-classification-mnist-data/img-classification-part1-training.ipynb)for the

[2020-03-16 05:26] MarileeTurscak-MSFT commented on #50225
@Ayanmullick
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 05:37] Ayanmullick commented on #49908
Yes @BharathNimmala-MSFT , the first. Set-AzVMDiagnosticsExtension must have a way to enable boot diagnostics too since it's handling all other diagnostics data. The way to add to the config xml file just needs to be documented. [This is just a sample](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-windows#sample-diagnostics-configuration). Everything might not have

[2020-03-16 05:38] DixitArora-MSFT commented on #50028
@amir-microsoft AFAIK, this is something which is not available at present. My recommendation at this point is to raise the request on User Voice for this and do upvote it to get more traction. https://feedback.azure.com/forums/248703-api-management

So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2020-03-16 05:38] #50028 closed

[2020-03-16 05:40] VikasPullagura-MSFT commented on #50215
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-03-16 05:47] DixitArora-MSFT commented on #50089
@cecilphillip I believe this is mentioned in the public doc. Below is the image which discuss about this. Do let me know if I understand the point correctly. At this point I don't think there is a doc change required.

![image](https://user-images.githubusercontent.com/46984568/76726612-a4b02d80-6777-11ea-86a0-fee2ed111e6a.png)

So for now I will proceed with closure of this and If there are furth

[2020-03-16 05:47] #50089 closed

[2020-03-16 05:52] SamratAlamgir commented on #49932
@AjayKumar-MSFT, Thanks for your response. Actually I was asking for the other values for WEBSITE_LOCAL_CACHE_OPTION. I mean is there any value like "Never" which we can set when I want to disable (or don't want to use) local cache options for an environment. In my case, I want to use the same ARM template for different environments like Dev, QA, and Production. I have different parameter files th

[2020-03-16 06:08] DeanCefola commented on #41451
zx3-at,
Azure AD by it self does not meet the prerequisites for WVD.
Having Azure AD P1 is good, but not related to WVD.
The E3 licenses are good, that is one of the requirements, so you are licensed to use WVD.
Since WVD does not support AzureAD Join...yet, you need an Active Directory to join the VMs to
you need to have:
1. Azure AD + Active Directory + Azure AD Connect
OR
2. Azure AD + Azure Ac

[2020-03-16 06:10] VikasPullagura-MSFT commented on #50148
@keatseongchan Can you share more details, which version of CLI are you using and can you confirm if you are using any ARM template? Depending on the details, I will try to repro the issue and see if I also run into same issue.

[2020-03-16 06:24] AmitavaHazra opened #50227 "Compare termination date with current date in scoping filter of Workday to OnPrem AD provisioning"
Reference link: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial

Can we compare termination date with a current date in Azure AD user provisioning service scoping filter for workday to On-Prem AD solution.

Now() - is this function returns current date while running provisioning service ?
Can you please suggest how can we handle this scenario for scoping

[2020-03-16 06:39] ChiragMishra-MSFT commented on #50203
@stuartparker I believe that the imports have not been mentioned for brevity. I am still assigning the issue to the content owner to evaluate and update as appropriate.

@mamccrea Can you please take a look at this ?

[2020-03-16 06:39] msrini-MSFT commented on #50225
@Ayanmullick , You need to create the Inbound NAT rule without backend/ target and then add the target separately from the NIC of the VM.

Sample:

$natrule= Get-AzLoadBalancerInboundNatRuleConfig -LoadBalancer $lb -Name $nameofthenatrule
$nic = Get-AzNetworkInterface -Name firewallvm44 -ResourceGroupName $RGoftheNIC

$nic | Set-AzNetworkInterfaceIpConfig -Name ipconfig1 -LoadBalancerInboundNatRul

[2020-03-16 06:41] msrini-MSFT commented on #49845
@OffColour , As of today authentication to Azure AD via P2S VPN is only via App. Thank you for your feedback. It might change in the future where it gets incorporated into the build.

[2020-03-16 06:41] #49845 closed

[2020-03-16 06:42] msrini-MSFT commented on #50175
@tec-anDro-DeV , Please provide the link of the doc so that we will be able to help you. I am closing this issue now. Please provide the link and tag me if you want to reopen this issue.

[2020-03-16 06:42] #50175 closed

[2020-03-16 06:43] #49716 closed

[2020-03-16 06:53] ChiragMishra-MSFT commented on #50168
@sandeep8530 You can find all the available python samples here :
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/eventhub/azure-eventhub/samples
Hope this helps.

[2020-03-16 06:56] BharathNimmala-MSFT commented on #49568
@doelpede Sorry for the delay on this, did work with our Product group and able to resolve the issue locally. Requesting you to please follow through the below steps and see if you are able to resolve the issue as well. Thank you.

Open Power Shell with Admin previlages and run below commands

[code]

Restart PowerShell and run the below command. AllowPrerelease should be recongized after above st

[2020-03-16 06:58] AshokPeddakotla-MSFT commented on #49887
Please find the below answers.

Each IoT Edge device runs at least two modules: $edgeAgent and $edgeHub, which are part of the IoT Edge runtime. IoT Edge device can run multiple additional modules for any number of processes. Use a deployment manifest to tell your device which modules to install and how to configure them to work together.

All IoT Edge devices must be configured with a deployment

[2020-03-16 07:08] karataliu opened #50228 "How to purge a keyvault?"
Please call out that soft-delete is enabled by default in portal.

I happened to create a keyvault, but cannot full delete it now.
This keyvault name is used in my script, and I need to delete and re-create many times. Now when I create a keyvault with this name, it will prompt "Exist soft deleted vault with the same name. "

Can you suggest how to purge a keyvault?

---
#### Document Details

⚠ *

[2020-03-16 07:09] QuickScoP3s commented on #49936
I don't think it's necessary to reopen the issue for this, but I have one more question:
Where exactly can we download the .tar package file?

[2020-03-16 07:09] ALLWORLD7 opened #50229 "Possible Typo - "Migration policy customizations""
The feature named "Migration policy customizations" might not make sense. The word "migration" should likely be "mitigation".

Please consider one of the following:
- "Mitigation policy customization."
or
- "Customization of Mitigation Policies"

Please review when you get a chance.

Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-16 07:12] AshokPeddakotla-MSFT commented on #49617
@dpgindler Thanks for sharing it.
@kgremban Please review and update the doc if necessary.

[2020-03-16 07:17] orspod commented on #49482
@deyanp thank you for your feedback. I understand that this question was taken offline since it is not directly pertaining to the documentation. I am moving to close this issue. If you have any additional comments or documentation updates, please feel free to comment here.

[2020-03-16 07:17] #49482 closed

[2020-03-16 07:21] sharad4u commented on #50111
@jjindrich - We cannot guarantee when the IP address may change or that whenever if it does change that there would be any notifications. Currently as documented it is recommended that you use Azure DNS for if you have to onboard the apex domain as well on AFD. Please do not take a direct dependency on AFD IP as it can change in future.

[2020-03-16 07:56] chesterbeckett commented on #46877
I am still seeing this as an issue, I have an existing rule in to allow AzureLoadBalancer as well as the "GatewayManager". It only works if you set source IP/Protocal/range as ANY and destination as ANY for the Gateway Healthchecks.

[2020-03-16 08:14] jjindrich commented on #50111
Hi, thanks for answer. As I wrote, I cannot use Azure DNS. When is IP changed ?

[2020-03-16 08:18] gc435 commented on #50202
@brewst001 There are several places in the scripts which have spaces after the backticks.  If you don't catch all of these mistakes, you'll see the behavior you describe.  I edited the scripts in VS Code and turned on the feature to see whitespace.  Also, if you have PowerShell support in VS Code, the mistakes will be underlined.

I was able to get the scripts to run without errors after a lot of

[2020-03-16 08:28] msfe commented on #48317
Hi, any update on this???

[2020-03-16 08:38] robert4os commented on #49585
Hi gaugup,

it is working with 1.1.5!
Love it!!! Thank you,

Robert

On Fri, Mar 13, 2020 at 5:56 PM gaugup <notifications@github.com> wrote:

[2020-03-16 08:39] HarryUlysses opened #50231 "Page grammar mistake"
I found a grammar mistake in this documentation Page.

In this command, I think there is an extra "g" at the end of this sentence.
`echo "spark.authenticate true" >> $spark_defaults_confg`

It should not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ff50d07-e0de-ebc3-7161-86abba8a84b5
* Version Independent ID:

[2020-03-16 08:41] yashwanth-yenugu opened #50232 "How to add Domain Hint in custom policies?"
Is there any way to add domain hint in custom policies? I was able to add Domain hint in built-in user flows by following this article [https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers](url) . How to do the same using custom policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-16 09:07] justinyoo commented on #50065
Indeed this needs to be updated for `host.json` 2.0. The `hubName` property points to v1 (`DurableFunctionsHub `), not v2 (`TestHubName`). I doubt the `connectionStringName` is also correct.

[2020-03-16 09:10] KalyanChanumolu-MSFT commented on #50224
@marktab Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-16 09:28] justinyoo opened #50233 "Both host.json schema and table in this page hasn't reflected the ApplicationInsights properties yet"
Hi, Team.

As per #47219, the sample `host.json` file has been fixed, but not the table. In addition to this, the schema definition, [http://json.schemastore.org/host](http://json.schemastore.org/host), still doesn't reflect this update.

Due to this, Visual Studio Code shows a false alarm like:

![image](https://user-images.githubusercontent.com/1538528/76742086-e8c12380-67b3-11ea-9eaa-04570c9001

[2020-03-16 09:28] msrini-MSFT commented on #50229
@ALLWORLD7 , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-16 09:32] robert4os opened #50234 "How to get reference to AutoML best model pipeline via Run ID?"
Hi,

the run returned by submitting an AutoML job returns an  azureml.train.automl.run.AutoMLRun class, with get_output() to return the best model pipeline.

When getting the AutoML Run via ID (say after a kernel restart)... it returns azureml.core.run.Run with no option to get to the model pipeline.

So my question, is there a way to access the best model pipeline via the Run ID?

Thank you and b

[2020-03-16 09:35] sharad4u commented on #50098
We are updating the documentation for the same. Hopefully the documentation will be fixed by end of week (3/20). @TravisCragg-MSFT - Kindly resolve this issue as being fixed already

[2020-03-16 09:38] sharad4u commented on #49119
@igorjnz - I am not sure how you are able to reproduce this issue, but i just tried on my sample Front Door and am being able to set different health probe paths for different backend pools.
@msrini-MSFT - If this is still open, we should resolve this as it doesn't repro.

[2020-03-16 09:40] yoelhor commented on #50218
v2.0 is available only in custom policy. Could you please elaborate on what you mean by _1.2.0 singupsingin flow has actually been broken and the Sign up and forgot password links can't be reached by talkback_. Could you provide steps to reproduce this issue?

[2020-03-16 09:41] sharad4u commented on #49991
@TravisCragg-MSFT - this will be fixed by EOW (3/20)

[2020-03-16 09:43] msrini-MSFT commented on #49119
@igorjnz , If you are still facing this issue, and if it is more specific to your subscription, please drop an email to azcommunity@microsoft.com with your subscription ID and AFD details. I will take a look respond back.

[2020-03-16 09:43] amergey commented on #50063
You mean the sku name of the scale set itself (your doc is about that) (--set sku.name=)

This is not what I mention here, I meant the **image reference sku name**
`--set virtualMachineProfile.storageProfile.imageReference.sku=`
which is what it is what the doc mention, and what I am interested for
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade

[2020-03-16 09:44] dcurwin commented on #49846
That is the expected behavior. ‘n’ is replaced with an integer (starting from 1) and is used for scaling out if the first RG is full. One RG can have a max of 600 RPCs today.

#please-close

[2020-03-16 09:44] #49846 closed

[2020-03-16 09:44] amanmcse commented on #49997
@cupacheeno Please capture a fiddler and compare AssertionConsumerURL in the SAML request with the AssertionConsumerURL in the metadata (e.g. as configured [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#samlmetadataurl)). Both should match. If it is not matching, you have to modify either the application code or metadata.

[2020-03-16 09:44] PramodValavala-MSFT commented on #50233
@justinyoo Thanks for catching that! We will work up a PR to update the doc.

As for the `host.json` schema, looks like there is a [PR](https://github.com/Azure/Azure-Functions/pull/1430) that already addresses this.

[2020-03-16 09:45] #50229 closed

[2020-03-16 09:45] robert4os commented on #50234
Hi again,

I just found it, the constructor of AutoMLRun supports fetching it by ID.
e.g.
_run = AutoMLRun(_experiment, 'AutoML_...RUNID')

Maybe worth mentioning it in the docs/tutorial?

Thank you and best regards,
Robert

[2020-03-16 09:46] asergaz commented on #50038
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 09:46] #50038 closed

[2020-03-16 09:47] msrini-MSFT commented on #50180
@haripraghash , Thank you for reporting this issue. It seems like an issue with the latest build of CLI. Could you please open an issue in the Azure CLI gitHUb repository referencing this issue?

https://github.com/Azure/azure-cli/issues

[2020-03-16 09:47] yoelhor commented on #50134
Unfortunately there is no such a user flow that allows you to update this attribute (the otherMails collection). If you prefer to switch to custom policy. You can start with this guide http://aka.ms/ief. Later in the `AAD-UserReadUsingAlternativeSecurityId` technical profile, remove the `<OutputClaim ClaimTypeReferenceId="otherMails" />` element. This technical profile reads the other email from t

[2020-03-16 09:48] csabagal opened #50235 "Mac client setup?"
Could you provide settings to Mac clients?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VPN Gateway: VPN client for OpenVPN protocol P2S connections: Azure AD authentication](https://docs.microsoft.com/en-u

[2020-03-16 09:52] justinyoo opened #50236 "host.json for v2 is incorrect"
This `host.json` definition for v2 needs to be updated, as it misleads readers. It should be like:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9f2-e082-b1b15961d810
* Version Independent ID: e987c477-36ef-76b9-6dbd-db76fd291e7b
* Content: [Bindings for Durable Functions - Azure](https://docs.m

[2020-03-16 09:54] ChiragMishra-MSFT commented on #50231
@HarryUlysses Thanks for bringing this to our notice. We are investigating into the issue and will update as appropriate.

[2020-03-16 09:55] asergaz commented on #49723
Hello @GieForce do you have further details to share?
Thank you!

[2020-03-16 10:03] #50199 closed

[2020-03-16 10:06] KalyanChanumolu-MSFT commented on #50037
@bbojilov Its been a while we heard from you.
We will proceed to close this issue now.

[2020-03-16 10:06] #50037 closed

[2020-03-16 10:07] #50196 closed

[2020-03-16 10:07] #50045 closed

[2020-03-16 10:12] msrini-MSFT commented on #50235
@csabagal , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-16 10:12] nexxuno commented on #50218
Tested it again today and it's working fine. I don't know if something changed or it's just not very consistent but this can be closed. Thanks.

[2020-03-16 10:14] AshokPeddakotla-MSFT commented on #49261
@kgremban Could you please review and update the doc as appropriately.
Thanks!

[2020-03-16 10:18] manjunathangv commented on #47344
Hi everyone,
@christoph-zenger-hcsg @szhaomsft
can i get sample code for text-to-speech API in JavaScript, how to play the audio received in the response.
I'm stuck to play the audio response  received in API(https://westeurope.tts.speech.microsoft.com/cognitiveservices/v1).

Thanks.

[2020-03-16 10:24] AshokPeddakotla-MSFT commented on #49270
@robinsh Could you please review this feedback and update the doc?
Thanks!

[2020-03-16 10:30] icelava opened #50237 "Read-only access key"
Is it possible to generate an access key for read-only users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d5b7eb-11ed-c050-a0e6-511d425e17f7
* Version Independent ID: a71762b5-976a-db68-4f3b-52e907fbba35
* Content: [Create and use an Azure Files share on Windows VMs](https://docs.microsoft.com/en-us/azure/storage/

[2020-03-16 10:34] ram-msft commented on #50234
@robert4os Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-16 10:34] #50233 closed

[2020-03-16 10:34] DixitArora-MSFT commented on #50236
Hi @justinyoo Thanks for your feedback. We will review and update as appropriate.

[2020-03-16 10:35] PramodValavala-MSFT commented on #50233
@justinyoo We have merged a PR to address the docs which should reflect in a couple of hours and have worked up PRs for the new project templates that you can follow in the individual PRs linked.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 10:47] tsrob50 opened #50238 "Management Service Regions"
The last bullet point under requirements states:  ”To optimize for network performance, we recommend that the session host's VMs are collocated in the same Azure region as the management service.”   Where can I find the location of those management service regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca1

[2020-03-16 10:50] justinyoo opened #50239 "Default parameter value (connection) is not aligned for v2"
There are three parameters, `taskHub`, `connection` and `code`, according to this section, https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api

&gt; `connection`:  The name of the connection string for the storage account. If not specified, the default connection string for the function app is assumed.

The default connection string name is `AzureWebJobsStorag

[2020-03-16 10:54] bbojilov commented on #50037
Yes, you can close it.

[2020-03-16 10:58] v-nagta commented on #39267
@Kofl We have updated the Doc as per your comments please review the Doc

#please-close

[2020-03-16 10:58] #39267 closed

[2020-03-16 11:02] v-nagta commented on #47071
@robhardman We have added a note in the doc as per your comments. Please review

#please-close

[2020-03-16 11:02] #47071 closed

[2020-03-16 11:13] christoph-zenger-hcsg commented on #47344
Here are two curl requests in a bash script that mimic our code. You need to fill in a valid subscription key. The resulting audio.mp3 is a regular mp3 and should be easy to playback.

[code]
If that does not help I can also provide python or JavaScript.

[2020-03-16 11:13] robhardman commented on #47071
All good, thank you

[2020-03-16 11:16] qhaitoNNV opened #50240 "Performance for Old Legacy SKU Gateway"
Is there a document out there that provides the relative performance for old legacy SKU Gateways (Basic SKU excluded) using the different algorithms provided in this document? It's only been provided for Generation 1 Gateways.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version

[2020-03-16 11:20] anzaman commented on #50235
Azure AD authentication is not supported on MacOS currently. The Azure VPN client is only available for Windows 10.

[2020-03-16 11:21] anzaman commented on #50235
#please-close

[2020-03-16 11:21] #50235 closed

[2020-03-16 11:23] haymansfield opened #50241 "Limiting connection address prefixes on the Azure side for a S2S VPN connection with UsePolicyBasedTrafficSelectors"
For a S2S connection with UsePolicyBasedTrafficSelectors enabled, is it possible to limit the address prefixes on the Azure side which are available for the VPN connection?
As an example, is it possible to limit the VPN connection to a single subnet in my Azure VNet, or is it only possible to limit this via the configuration of the VPN device itself?

---
#### Document Details

⚠ *Do not edit this

[2020-03-16 11:26] JasonBSteele commented on #50040
If I understand correctly, you are saying that one or more changes may be lost if I exceed the RU/s? That a change could be made but never raised?

[2020-03-16 11:26] jakaruna-MSFT commented on #50208
@tsubasaxZZZ  Thanks for your contribution via PR.

 i hope you have tested with version "apps/v1"

[2020-03-16 11:28] sujayvsarma commented on #50040
@JasonBSteele - I cannot say that definitely. It depends on how soon after the change you are able to resume normal operations and how you have subscribed to the change notifications. A reading of the time-limitations of those mechanisms should be able to help you further.

It is quite possible that your method allows for all changes to be retained durably for much longer periods of time.

[2020-03-16 11:30] AshokPeddakotla-MSFT commented on #49112
@olivoarroba As mentioned, we will update the doc with more examples in the next release.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 11:30] #49112 closed

[2020-03-16 11:36] JasonBSteele commented on #50040
My particular scenario is to use a Function trigger.

[2020-03-16 11:39] jakaruna-MSFT commented on #49907
@finackieee Like karishma said, Please post in MSDN if there are no change in doc required.

lets look at the issue
The [comment ](https://github.com/MicrosoftDocs/azure-docs/issues/49907#issuecomment-597707991) you  added looks like a dockerfile.

In that you are pulling an image with in the RUN command.

Please let me know whats the end goal by doing that.

Also let us know where you got that fi

[2020-03-16 11:40] jakaruna-MSFT commented on #49773
@kachontep Did you had a chance to try again?

[2020-03-16 11:42] manuenc commented on #49930
@AjayKumar-MSFT Thanks for your response! If I look at the CPU Usage / Memory Usage, I will not be able to get report specific to Container. If I want to understand metrics for each Container like Memory etc, how can I get those data?

[2020-03-16 11:42] tsubasaxZZZ commented on #50208
I updated original yaml following:
https://github.com/Azure-Samples/helm-charts/pull/45

Could you merge this PR too?

[2020-03-16 11:42] AshokPeddakotla-MSFT commented on #49314
@wesmc7777 Could you please check review this feedback and update?
Thanks!

[2020-03-16 11:43] sujayvsarma commented on #50040
Function trigger, ok. But how? Directly? Through an EventHub? Via a queue? What?

[2020-03-16 11:43] AmitavaHazra opened #50242 "SAML based web application SSO with Azure AD (IDP) is going in infinite loop"
We have configured SAML based SSO with Azure AD and once we sign in it if going in infinite loop and asking us to enter user name and password again and again.

Do you have any suggestion for this issue ?

[2020-03-16 11:44] AshokPeddakotla-MSFT commented on #48263
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 11:44] #48263 closed

[2020-03-16 11:47] AshokPeddakotla-MSFT commented on #49360
@wesmc7777 Could you please review this feedback and update the doc?
Thanks!

[2020-03-16 11:48] AshokPeddakotla-MSFT commented on #49656
@kgremban Appreciate if you can check this feedback and update the doc as appropriately.
Thanks!

[2020-03-16 11:54] jakaruna-MSFT commented on #50069
@kknight-valorem Thats a valid feedback
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-16 12:00] shashishailaj commented on #50204
@MicrosoftGuyJFlo Could you please review this issue and see if this can be included in the current document ?

[2020-03-16 12:02] shashishailaj commented on #50183
@andrewcrayden Hope you are good. Could you please review the details as provided by @Yoelhor in the last comment ?

[2020-03-16 12:04] KrishnaG-MSFT commented on #50015
@ohearcain At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-03-16 12:04] #50015 closed

[2020-03-16 12:05] ram-msft commented on #50234
@robert4os Thanks for the feedback. Please follow below to view the details of the AutoML run and retrieve the best model.
![image](https://user-images.githubusercontent.com/49180516/76756580-f7a3d800-67ab-11ea-9138-c7b4adba137c.png)
![image](https://user-images.githubusercontent.com/49180516/76756593-01c5d680-67ac-11ea-81b9-ba304e8d93b2.png)

[2020-03-16 12:09] shashishailaj commented on #50007
@iainfoulds Could you please review this request and see if this document can be updated accordingly?

[2020-03-16 12:11] #50218 closed

[2020-03-16 12:21] shashishailaj commented on #49979
@memildin Could you please provide your inputs on this. Do u think a note on deprecated accounts can be added on this ?

[2020-03-16 12:22] JasonBSteele commented on #50040
Directly, using the change feed trigger:
https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-functions

[2020-03-16 12:34] manjunathangv commented on #47344
@christoph-zenger-hcsg
i'm getting audio response like below., I dont know how to play this using JavaScript and html in browser. can you please help on this.

ÿóÄHLAME3.99.5UUUUUUUUUULAME3.99.5UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU

[2020-03-16 12:48] manjunathangv commented on #47344
@christoph-zenger-hcsg This is my JavaScript code,
window.fetch('https://northeurope.tts.speech.microsoft.com/cognitiveservices/v1',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/ssml+xml',
        'X-Microsoft-OutputFormat': 'audio-16khz-64kbitrate-mono-mp3',
        'Authorization': 'Bearer Base64 eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFj

[2020-03-16 12:49] SamratAlamgir commented on #49932
I have tested and it seems that set the value to empty is the probable solution if we don't want to enable local cache for a site.

[2020-03-16 12:50] KalyanChanumolu-MSFT commented on #50227
@AmitavaHazra Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-03-16 12:51] shayfayer commented on #35932
same issue here.
so what is the solution ? did anyone restricted egress traffic of his AKS using azure FW ?

[2020-03-16 12:52] manjunathangv commented on #47344
`window.fetch('https://northeurope.tts.speech.microsoft.com/cognitiveservices/v1',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/ssml+xml',
        'X-Microsoft-OutputFormat': 'audio-16khz-64kbitrate-mono-mp3',
        'Authorization': 'Bearer Base64 eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJyZWdpb24iOiJub3J0a

[2020-03-16 12:52] KalyanChanumolu-MSFT commented on #50228
@karataliu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-16 12:55] zingaroo opened #50243 "North Europe not supported error"
"This region is not supported for Bastion public preview" is shown for SF VM in North Europe even though the documentation says it should be supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bas

[2020-03-16 12:55] KalyanChanumolu-MSFT commented on #50232
@yashwanth-yenugu Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-03-16 12:57] #50062 closed

[2020-03-16 13:00] sergejscheibel opened #50244 "Exception on redeploying"
As I tried to redeploy the template with my storage name as a parameter the following exception occures:
az deployment group create: 'utputformat' is not a valid value for '--output'.
Only as I removed the braces {} arround the "yor-unique-name" it worked for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3076c5fc-

[2020-03-16 13:03] zechnkaas commented on #40404
1000 kudos thx!

[2020-03-16 13:12] eliot-trustm opened #50246 ""Hive allows you to project structure on largely structured data" x"
should that read "Hive allows you to project structure on largely unstructured data"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc0a38ea-b285-c375-5004-627d209f5986
* Version Independent ID: 55867d18-a970-80e8-34e5-894575f82cf9
* Content: [What is Apache Hive and HiveQL - Azure HDInsight](https://docs.microsoft.com

[2020-03-16 13:13] mrck opened #50247 "Preview or GA?"
'Control egress traffic' as described in https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#egress-traffic-overview seems to depend on this feature. Since 'limit egress trafic' is GA https://azure.microsoft.com/en-us/updates/egress-lockdown-in-azure-kubernetes-service-aks-is-now-generally-available/ I would assume egress-outboundtype is also GA, unlike what's indicated in this page.

[2020-03-16 13:13] sorantis commented on #47031
Hey there! I was wondering if there's been any progress on this? thanks!

[2020-03-16 13:39] shashishailaj commented on #49970
@cephalin Could you please review this thread and see if we can add the detail in the article that  using `/.auth/me` and `/.auth/refresh` endpoints, require to enable **Token store** option, in Web App>Authentication settings as shown below.

![image](https://user-images.githubusercontent.com/532022/76763681-9c78e200-67b9-11ea-8a8d-c244a0584820.png)

Thank you.

[2020-03-16 13:48] AshokPeddakotla-MSFT commented on #49878
@mikehutter Great question. Please see [IotHubConnectionStringBuilder Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.iothubconnectionstringbuilder?view=azure-dotnet) It Builds a connection string for the IoT Hub service based on the properties populated by the user. Do let us know if you have further questions.

[2020-03-16 13:49] mumian commented on #49745
@jamieskuse we will close this ticket for now.  If you still have issues once you are whitelisted, please let us know.

#please-close

[2020-03-16 13:49] #49745 closed

[2020-03-16 13:54] CeciAc opened #50248 "Wrong key size for private key in Azure P2S VPN Linux guide"
@raidlman commented on [Mon Mar 16 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/631)

According to https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about#certsettings client certificates should be generated with 4096 bits key length.

### Issue
Both guides on https://docs.microsoft.com/de-de/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux and https:

[2020-03-16 13:55] mumian commented on #50244
@sergejscheibel "{your-unique-name}" is a placeholder.  Replace it (including {}) with a value.  Because the placeholder is for a storage account name, it has specific requirements.  See the important note in https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-add-resource?tabs=azure-powershell#add-resource

[2020-03-16 13:56] AshokPeddakotla-MSFT commented on #49956
@shreyasharmamsft @lyrana Could you please review this feedback and update the doc?

[2020-03-16 13:57] sergejscheibel commented on #50244
Ok, thx! :-)

[2020-03-16 14:00] shashishailaj commented on #50101
@susan-wangyi Thank you for your quick revert . You are correct . I will then close this Issue as you already have another one MicrosoftDocs/OfficeDocs-Enterprise#746 going on to fix the right document .

Thank You.

[2020-03-16 14:00] #50101 closed

[2020-03-16 14:05] keithczaplewski opened #50249 "Invalid character list"
In trying to create a consumer user via the portal with a sign in method of User Name I got a generic error "Unable to create user keith@me.com".  I believe that this is due to the @ symbol.  Is there a list of invalid characters for the user name value when using the User Name sign in method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-03-16 14:08] hylinux opened #50250 "when click the submit button, it always give me a error:Invalid graph: The pipeline compute target is invalid."
I did testing on Azure China and Azure Global,  do the lab according this article step by step. but whatever I did, it always give me a error: Invalid graph: The pipeline compute target is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c40f439-613c-e09d-9d5a-8c6001c47417
* Version Independent ID: 185d3a30-b35

[2020-03-16 14:09] hylinux commented on #50250
![image](https://user-images.githubusercontent.com/145199/76766301-bc68cf80-67d2-11ea-9348-ecdc28d040e9.png)

[2020-03-16 14:09] hylinux commented on #50250
![image](https://user-images.githubusercontent.com/145199/76766350-d0accc80-67d2-11ea-948f-e1e45f179390.png)

[2020-03-16 14:19] miketoupin commented on #49746
I having the same problem, the Logic app stuck on running state. No output at all. I wonder if this is actually working or is it a script issue.

[2020-03-16 14:21] bruceokallau commented on #50162
I'm sorry, perhaps I wasn't clear. But this is for the 'Execute Python Script' in the Experiments for the machine learning studio. I want to turn this into a webservice.
![image](https://user-images.githubusercontent.com/62158723/76767141-277cbc80-6767-11ea-8386-e2ba574dad99.png)

The answer appear to be for using the notebook. Is there a way to deploy a notebook as a web service?

[2020-03-16 14:22] ajopjo commented on #50134
Thank you, this approach works. However, with the existing approach, azure B2c is storing a wrong claim in the directory. Will this feedback be passed to the team so that there would be a claim exchange flow where:
1. after AAD-UserReadUsingAlternativeSecurityId-NoError claims will be compared
2. if the claims are not matching, update the directory profile
An example looks like
<OrchestrationStep

[2020-03-16 14:23] philmea commented on #50141
@dc995 - I have escalated this as a rendering issue with the platform team. I will update this issue when the work is complete. Thanks for the suggestion!

[2020-03-16 14:25] JimmyBandell commented on #48816
I agree, but i think it should be Get-AzureADDevice and not Remove-AzureADDeletedApplication

[2020-03-16 14:30] shivinders opened #50251 "How to find new VM's fully qualified host name?"
[Enter feedback here]
The article uses azureuser@myvm.westus.cloudapp.azure.com in the SSH example. But does not show how how to find VM's fully qualified host name in our case.

Tried to guess and use <my-vm-computer-name>.centralindia.cloudapp.azure.com in Windows 10 built-in SSH client, and got a message that "could not resolve hostname. No such host is known."

---
#### Document Details

⚠ *Do

[2020-03-16 14:33] NavtejSaini-MSFT commented on #50123
@beelesnik Closing this as duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/50149

[2020-03-16 14:33] #50123 closed

[2020-03-16 14:34] memildin commented on #49979
The use of "deprecated accounts" on this page is just to cite an example of the recommendations that might appear for identity and access management.

The deprecated accounts policy listed on the [policy page](https://docs.microsoft.com/en-us/azure/security-center/security-center-policy-definitions) already includes a definition of deprecated accounts ("Deprecated accounts are accounts that have b

[2020-03-16 14:35] NavtejSaini-MSFT commented on #50137
@timsander1 Please check the feedback from user and provide your inputs

[2020-03-16 14:49] sandeep8530 opened #50252 "Unable to install azure-eventhub PYPI package"
Hi,

Tried to install azure-eventhub PYPI package in databricks cluster but ended up in error

Could not find a version that satisfies the requirement azure-eventhub (from versions: )
No matching distribution found for azure-eventhub

Does databricks have restrictions in installing libraries from PYPI? I could see the package in PYPI but why databricks is not able to find it

---
#### Document Det

[2020-03-16 14:53] GiftA-MSFT commented on #50250
@hylinux we will review your feedback and get back to you shortly. Thanks.

[2020-03-16 14:55] naman1901 commented on #50180
I have the same issue on Azure CLI v2.2

[2020-03-16 14:56] sandeep8530 commented on #50168
Thanks for your quick reply!

I see that we need to install few PYPI packages like azure-eventhub, which I am not able to install in databricks cluster.
Ended up in below error

"Could not find a version that satisfies the requirement azure-eventhub (from versions: )
No matching distribution found for azure-eventhub"

Does databricks have restrictions in installing libraries from PYPI? I could see

[2020-03-16 15:01] DixitArora-MSFT commented on #50239
Hi @justinyoo Thanks for reaching out. We will review and update as appropriate.

[2020-03-16 15:09] PatAltimore commented on #50207
Hi @xtianus79,

Thanks for the feedback. I had changed the Tutorial: Create, build, and deploy smart contracts on Azure Blockchain Service to use the dev kit instead of the sendrequest.js script. I forgot that it was referenced in the Data Manager tutorial. You can use the dev kit to send a request. Or if you are interested in the sendrequest.js script, you can look at the previous version of the

[2020-03-16 15:11] collinkoornstra commented on #46725
@CHEEKATLAPRADEEP-MSFT Any status update, i'm currently facing the same issue. Even with the temporary solution you mentioned above i cannot create a new output in streamanalytics

[2020-03-16 15:12] 00sivan opened #50253 "Hard Delete the Quarantined Object in the Cloud:"
Resolution offered is vague and not enough direction is provided. How do I see the quarantine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d14c8605-c13c-b30d-1061-7f518a5549df
* Version Independent ID: 06bd2278-094d-3056-26f8-653d1eaebe58
* Content: [Azure AD Connect: Troubleshooting Errors during synchronization](h

[2020-03-16 15:16] torfulle opened #50254 "deployifnotexists Managed Identity Location"
Hi All - can we clarify a bit further here if a policies managed identity location means that the policy can only deploy to the location of the managed identity's location? It seems to be when an Initiative Definition includes deployifnotexists policies in a region that does not match the MI's region the policy deployment fails.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-03-16 15:17] eparizzi opened #50255 "Does this library offers a way to create databases?"
I'm looking for a way to create ADX databases programmatically, preferably by using a Python SDK, but I cannot find anything. Is this operation supported? If not, the only supported way is through the Azure Portal? I need to be able to programmatically manage databases and their permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-03-16 15:18] diberry commented on #48818
#please-close

[2020-03-16 15:30] DCtheGeek commented on #50254
#assign:DCtheGeek

[2020-03-16 15:32] SaurabhSharma-MSFT commented on #49792
@mbell85 Thank you for providing the details.
@yelevin Can you please take a look.

[2020-03-16 15:32] yoelhor commented on #50134
Dear John,

There are two options, as following:
1. the simple one, don't store the email, by removing the `<PersistedClaim ClaimTypeReferenceId="email" PartnerClaimType="signInNames.emailAddress" />` from the `AAD-UserWriteUsingLogonEmail` technical profile.
1. Add two more orchestration steps:
    1. Check whether the email has been change, using the [StringCollectionContains](https://docs.micro

[2020-03-16 15:32] #50246 closed

[2020-03-16 15:33] hrasheed-msft commented on #50246
@eliot-trustm Thanks for letting us know. I've fixed the typo.

[2020-03-16 15:34] jkrysicki opened #50256 "URL Syntax for Sharepoint"
I'm trying to create OData Linked service for SharePoint to copy data from SP to storage account. Can you specify what should be the URL format for that? Do you have any working examples of such actions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8193f2a3-80f3-14e9-7022-27ea5fa02001
* Version Independent ID: 9eff47

[2020-03-16 15:35] SaurabhSharma-MSFT commented on #49955
@yoelhor Thank you.
@austinmcdaniel Please let us know if you have any other questions else I will proceed closing this issue.

[2020-03-16 15:37] danmyhre opened #50257 "Chrome Extension"
it should be added the "Windows 10 Accounts" extension is required for Chrome on Windows in order to get this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7aca4a4-9951-2132-3910-cf83ba66a048
* Version Independent ID: 2509fd1f-60e7-66ce-fc7e-c16b8cf73865
* Content: [Conditional Access require managed device

[2020-03-16 15:38] SaurabhSharma-MSFT commented on #50253
@00sivan Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 15:40] SaurabhSharma-MSFT commented on #50249
@keithczaplewski Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 15:40] alexvy86 opened #50258 "Update documentation now that Kerberos is supported with ADDS/AD"
According to [this](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview) and [this](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable), you can now use AD/AAD credentials to mount a share, and [here](https://feedback.azure.com/forums/217298-storage/suggestions/6078420-acl-s-for-azurefiles) it is marked

[2020-03-16 15:43] DCtheGeek commented on #50254
@torfulle Thanks for the question! The managed identity's location has no bearing on it's policy assignment operations, only the roles that are assigned to it. Policy definitions exist at a **scope** (management group or subscription), not a **location**. We recommend validating the template in your deployIfNotExists policy definition functions outside Policy first, then ensure it has all required

[2020-03-16 15:44] ChrisSommers commented on #46278
I need this too, my Front Door WAF policy blocks something in Prevention mode (know this as Detection mode is fine) and I've no idea how to see which rule(s) was being triggered

[2020-03-16 15:50] markjbrown commented on #50136
Please assign to @timsander1  Thanks.

[2020-03-16 15:53] christianb7 commented on #10943
@douglaslMS We have been looking for the setting in ADF to set the "Modify concurrent job value per node" as described in the documentation, but there is nothing in the UI with the path "Author > Connections > Integration Runtimes > Edit > Nodes > Modify concurrent job value per node".

Also, updating the value in powershell also doesn't allow us to override the computed default.  E.g. if the valu

[2020-03-16 15:57] GuyHarwood commented on #46278
@ChrisSommers we figured it out - once you have turned on diagnostics and configured log analytics as a destination, run this in the query section of log analytics....
[code]

we found entries revealing that `DefaultRuleSet-1.0-SQLI-942200` was being triggered by a http header.

[2020-03-16 16:00] yoelhor commented on #50249
Azure AD B2C account identity is store in the [Identities](https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage-user-accounts-graph-api#identities-property) collection. The type username can't contain email address.

[2020-03-16 16:02] ajopjo commented on #50134
need a help, how an input parameter refer an existing claim reference type as an example email?
 <InputParameter Id="operator" DataType="string" Value="NOT EQUAL" />

[2020-03-16 16:07] yoelhor commented on #50232
Please check [Set up direct sign-in using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/direct-signin) article.

Hope that clarifies your question. Should you have any questions, please don’t hesitate to contact us.

[2020-03-16 16:12] ChrisSommers commented on #46278
@GuyHarwood - thanks, I just found that same query and found what was triggering the block.

[2020-03-16 16:19] lyrana commented on #49956
Thanks @fgheysels & @AshokPeddakotla-MSFT looking into this, will comment again with updates. @fgheysels to get unblocked until I find the correct string for read-only you can use /.default for now.

[2020-03-16 16:19] curtand commented on #43335
Hi @JoeBrockhaus
These docs have recently been updated to use the Microsoft Graph. This update should reconcile your concerns. Thanks for the feedback!

#please-close

[2020-03-16 16:19] #43335 closed

[2020-03-16 16:19] bandersmsft commented on #50201
@MANakib Hi there. I'm not quite sure sure what you're recommending. Can you please give some examples about what you want changed or added to the article?

[2020-03-16 16:25] christoph-zenger-hcsg commented on #47344
Is this latest code now working or still failing?

[2020-03-16 16:26] shashishailaj commented on #50178
@TestUser0811 At this point this functionality is not exposed via Microsoft Graph API so this would need to be done from the portal itself since this is still preview and work in progress. I would suggest to vote for the similar feature request on the[ Azure Feedback site here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39942466-aad-fido2-integration).  We will now

[2020-03-16 16:26] #50178 closed

[2020-03-16 16:31] shashishailaj commented on #49979
@daweins I hope this clarifies the details about deprecated accounts. We will now close this issue. Should you still have any queries , please tag me or @memildin to your reply and we will be happy to help .

[2020-03-16 16:31] #49979 closed

[2020-03-16 16:32] davidallyoung commented on #39901
This is great, thank you for updating this!

[2020-03-16 16:35] #50254 closed

[2020-03-16 16:36] MANakib commented on #50201
Hi,  I am asking to add that if some one do an agreement that he would like
to reserve his VM for 1/3 years. And he is using his VM continuously
without any issue but middle of the year he I ask partner to stop VM and
don’t want to continue reserved instance. Then is there any punishment for
break the rules / Agreements? If any what is that?

Nakib

On Mon, Mar 16, 2020 at 10:20 PM Bill Anderson <

[2020-03-16 16:40] #49955 closed

[2020-03-16 16:44] PatAltimore commented on #50205
Hi @xtianus79,

I'm sorry you are running into problems. The setup can be challenging. Can you try following the Python path guidance in the Dev Kit FAQ? https://github.com/Microsoft/vscode-azure-blockchain-ethereum/wiki/FAQ#Q:-i-installed-all-of-the-pre-requisite-software-but-I-still-get-the-missing-or-old-version-notification-for-python

Thanks,
Pat

#in-progress

[2020-03-16 16:47] SlavaRoikhman opened #50260 "Advanced settings during restore."
What does the 'Ignore Conflicting Host Name on Restore" option do. Can I get more details on what changes when using 'Yes' or 'No'. Also what controls "Configuration" settings during restore? Is it possible to keep it and not overwrite during restore? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be729e7-ad88

[2020-03-16 16:56] SumanthMarigowda-MSFT commented on #50237
Thanks for the question! We are investigating and will update you shortly.

[2020-03-16 16:56] SumanthMarigowda-MSFT commented on #50258
Thanks for the question! We are investigating and will update you shortly.

[2020-03-16 16:59] SumanthMarigowda-MSFT commented on #49843
@imeya Firstly, apologies for the delay in responding here!Thanks for the feedback!
our feedback has been shared with the content owner for further review.

[2020-03-16 17:00] SumanthMarigowda-MSFT commented on #49931
@mikewillodea We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 17:00] #49931 closed

[2020-03-16 17:00] mrdenny opened #50261 "Are Client Id and Application Id the same value or different"
In one place you reference Cleint ID but you never say what this is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e349050-7bbf-e076-2b4d-80be1b19611c
* Version Independent ID: e19f0325-71bb-9cca-c6df-56675ebff3b0
* Content: [Integrate Key Vault with SQL Server on Windows VMs in Azure (Resource Manager) - Azure SQL S

[2020-03-16 17:02] SumanthMarigowda-MSFT commented on #49945
@oerpli Make sure you're running the [latest version of Storage Explorer. ](https://github.com/Microsoft/AzureStorageExplorer/releases/tag/v1.12.0)

https://github.com/microsoft/AzureStorageExplorer

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 17:02] #49945 closed

[2020-03-16 17:05] KranthiPakala-MSFT commented on #50252
@sandeep8530
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-16 17:07] KranthiPakala-MSFT commented on #50256
@jkrysicki
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-16 17:08] RyanHill-MSFT commented on #50260
Thanks for the feedback @SlavaRoikhman! We are currently investigating and will update you shortly.

[2020-03-16 17:12] cynthn commented on #50069
@jakaruna-MSFT did you walk through the doc or get anymore details?

[2020-03-16 17:12] Mike-Ubezzi-MSFT commented on #49865
@langstonj I somehow had MySQL mixed into this but can confirm that Azure SQL complies with moderate baseline compliance. This request is more of a product enhancement than a documentation enhancement. Can you please detail this request on the Azure SQL [UserVoice](https://feedback.azure.com/forums/217321-sql-database) as this will be directed to the product group as well as allow for others to co

[2020-03-16 17:12] #49865 closed

[2020-03-16 17:12] BhargaviAnnadevara-MSFT commented on #50014
@ashish2rathi I have submitted a PR to fix the issue, the change is awaiting internal review and will reflect once merged.

@lisaguthrie FYI.

[2020-03-16 17:19] MarileeTurscak-MSFT commented on #50060
Today we only support basic user and group provisioning from Azure AD to Box. The only attributes that are provisioned for users are Login, Username and Status. This disparity in functionality has been brought to the attention of the product team for our provisioning service, but no commitment on if or when this functionality will be added can be made at this time.

![image](https://user-images.gi

[2020-03-16 17:20] SaurabhSharma-MSFT commented on #50117
@tobimax The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-16 17:20] #50117 closed

[2020-03-16 17:22] MarileeTurscak-MSFT commented on #50060
I'm closing this out but if you have further questions feel free to reach out on [q&a](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or make a request in feedback.azure.com

[2020-03-16 17:22] #50060 closed

[2020-03-16 17:24] SumanthMarigowda-MSFT commented on #50079
@acworkma Firstly, apologies for the delay in responding here! Our feedback has been shared with the content owner for further review.

[2020-03-16 17:27] MarileeTurscak-MSFT commented on #50154
It is not supported at this time. If you'd like to make a request for Safari support you can add this in [User Voice](https://feedback.azure.com/forums/34192--general-feedback).

[2020-03-16 17:35] wchomak commented on #49911
I am running into an issue with the custom log parameter - not sure if same issue as @david-jarman. Hoping for a little guidance. We can successfully deploy but we do get an error:

 "error": {
    "code": "InvalidResourceType",
    "message": "The resource type could not be found in the namespace 'Microsoft.OperationalInsights' for api version '2015-11-01-preview'."

[2020-03-16 17:44] femsulu commented on #50242
Hi @AmitavaHazra - sorry for the issue you encountered. Would be challenging to troubleshoot without additional logs. Try [adding the SSO web application url to your trusted sites](https://support.ringcentral.com/s/article/Add-Trusted-Sites-Web-Browsers-RingCentral-Contact-Center?language=en_US). If that doesn't work, i recommend posting your question on our [AD forum - Q&A](https://docs.microsoft

[2020-03-16 17:44] #50242 closed

[2020-03-16 17:46] SamaraSoucy-MSFT commented on #49857
Hi @balukantu I'm going to close this issue as it isn't docs related. However, I'm following up with the AKS team to see if there is anything I can share about the managed identity feature timeline and I will post when I have a response.

[2020-03-16 17:46] #49857 closed

[2020-03-16 17:47] TravisCragg-MSFT commented on #50098
@DazzleJim We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 17:47] #50098 closed

[2020-03-16 17:51] keithczaplewski commented on #50249
@yoelhor Thank you. I had seen that and was just curious if there was anything else I needed edit for.

[2020-03-16 17:51] #50249 closed

[2020-03-16 17:51] yehoshuadimarsky opened #50262 ".Net Framework only 4.5, 4.6 supported - not higher"
Hi, it seems it would be prudent to note in the article that even the lastest `Microsoft.ApplicationInsights` package only supports up to .Net Framework 4.6, not higher - which is preventing me from using this. Wish I would have known this earlier in the process.

https://www.nuget.org/packages/Microsoft.ApplicationInsights

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-03-16 17:52] IEvangelist commented on #36528
Hi again @xieb0001,

The new library `Microsoft.Azure.ServiceBus`, implicitly handles batching and it is not configurable like it was before. This new library is open-source. This issue is resolved as the docs are updated to better reflect the limitations and strengths of the two different libraries.

Thank you,
#please-close

[2020-03-16 17:52] #36528 closed

[2020-03-16 17:54] SaurabhSharma-MSFT commented on #50228
@karataliu Thanks for your feedback.  This is already documented under [Sof-Delete Behavior](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-soft-delete#soft-delete-behavior) in the current document.
![image](https://user-images.githubusercontent.com/38112130/76784483-f73a1b80-6770-11ea-9018-79f88a67f206.png)

[2020-03-16 17:55] HughDevlin opened #50264 "circular definition"
"A security principal is an object that represents a user, group, service principal,..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-fb23d6a4ab67
* Version Independent ID: 85e74a1b-3bb3-8bdd-8fca-38256c8a46c1
* Content: [What is role-based access control (RBAC) for Azure resources?](https://d

[2020-03-16 17:55] chvsuresh opened #50265 "Capability to connect to Message Server (SAP BW) when creating a Linked Service using SAP BW via MDX"
While creating a Linked Service using "SAP BW via MDX" connector, we only have the option for "Server Name" which indicates the Application Server.

We had to provide a single server name in order to establish the connection. This would limit the load balancing option to connect to a group of servers.

If we try to create a Linked Service using "SAP Table" connector, there is an option to choose "

[2020-03-16 17:56] eliwolfsohney opened #50266 "No instruction for uploading a file (as opposed to string)"
I am trying to upload a local file/stream. The article for v10 (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-nodejs-legacy) shows how to do this, but this article for v12 does not. Any resources you can recommend?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8

[2020-03-16 18:01] hermanndms commented on #50035
sure. I have to admit though that this is a very old article and I suggested already once internally to remove it. I will discuss with my management.

[2020-03-16 18:03] hermanndms commented on #50035
sorry. Total confusion. Sorry. I mixed it up. I had a different article in mind. Let me check again.

[2020-03-16 18:03] HughDevlin opened #50267 "Multiple role assignments"
"The addition of the Contributor permissions and the Reader permissions is effectively the Contributor role for the resource group. "

better wording:

The net effect...

or

The sum of...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-fb23d6a4ab67
* Version Independent ID: 85e74a1b-3bb3-8bdd-8f

[2020-03-16 18:08] femsulu commented on #50248
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-16 18:09] mrdenny opened #50268 "The CREDENTIAL in Example 1"
The code provided won't give you the CREDENTIAL which is called in the TDE example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e349050-7bbf-e076-2b4d-80be1b19611c
* Version Independent ID: e19f0325-71bb-9cca-c6df-56675ebff3b0
* Content: [Integrate Key Vault with SQL Server on Windows VMs in Azure (Resource Manager)

[2020-03-16 18:12] ferodom commented on #48347
exaclty when you click add workspace it only works if you enter the URL ,if you enter you email it won't work

[2020-03-16 18:13] hermanndms commented on #50035
ok. I looked at it again. I was right. It's pretty old and there are more statements / parts which are
outdated.

Let me discuss with my manager and my team what we should do about it.

[2020-03-16 18:15] GiftA-MSFT commented on #49886
@diberry please can include a downloadable copy of the excel sheet in this document? I was unable to upload a sample file to the data-source-formats directory. Thanks.

[2020-03-16 18:19] #39901 closed

[2020-03-16 18:20] ggailey777 commented on #47170
#reassign:ggailey777

[2020-03-16 18:21] ggailey777 commented on #47170
#assign:jeffhollan

[2020-03-16 18:21] TravisCragg-MSFT commented on #50240
@qhaitoNNV can you clarify exactly what info and what SKUs you are looking for?

I do not think we have a separate doc for that, but I might be able to dig through doc history and find the info you are looking for.

[2020-03-16 18:21] diberry commented on #49886
@gitfA-msft @DarylArmstrong I can't include the exact file but I can create a file with those fields. Does that work?

[2020-03-16 18:22] IEvangelist commented on #46830
Hi @rajrao,

I wanted to follow up again, if you think this issue needs to remain open please let us know -- otherwise we're going to close this issue as we believe it is addressed.

Thank you,
#please-close

[2020-03-16 18:22] #46830 closed

[2020-03-16 18:25] GiftA-MSFT commented on #49886
@diberry sounds great. Thanks.

[2020-03-16 18:27] SAELH opened #50269 "Most Regions in Azure are primary"
Norway regions such as (Norway East) is the only region showing in Azure Portal why? and how I can design my application to these regions if I can't pick the other paired region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74

[2020-03-16 18:28] PeterCLu commented on #49585
It looks like this issue has been resolved. I'll procceed to #please-close it. Thanks @guagup !

[2020-03-16 18:28] #49585 closed

[2020-03-16 18:29] PeterCLu commented on #49704
Hi @henry-schneiderman , since we haven't heard back from you in a few days, I'll proceed to #please-close this issue.

Please feel free to open this issue again in the future with additional details if the issue persists.

[2020-03-16 18:29] #49704 closed

[2020-03-16 18:30] PeterCLu commented on #50226
It looks like this issue has been resolved, I will proceed to #please-close this issue.

[2020-03-16 18:30] #50226 closed

[2020-03-16 18:32] mc0re commented on #49813
@SnehaAgrawal-MSFT I created this project for the purpose: https://github.com/mc0re/piff-library
Can be a starting point for you guys. I'm not sure yet how well it works, but it produces an exact copy of a sample file I have :-)

[2020-03-16 18:35] diberry commented on #49886
@DarylArmstrong doc is uploaded [here](https://github.com/Azure-Samples/cognitive-services-sample-data-files/blob/master/qna-maker/data-source-formats/Structured-multi-turn-format.xlsx). I'll add link to doc.

[2020-03-16 18:37] MashaMSFT commented on #50261
Hi @mrdenny , thanks for contacting Microsoft! You are correct, ApplicationID and ClientID are [interchangeable](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-manage-with-cli2#registering-an-application-with-azure-active-directory):

![image](https://user-images.githubusercontent.com/32783170/76789522-42a4f780-677a-11ea-8ba7-779112ba0470.png)

I will update the article for more clarit

[2020-03-16 18:40] KumudD commented on #48362
@ElanShudnow Thanks for your suggestion! Unfortunately, we are no longer giving downloadable Visio diagrams at this time. We apologize for any inconvenience this may cause.

#please-close

[2020-03-16 18:40] #48362 closed

[2020-03-16 18:42] SychevIgor opened #50271 "Update screenshots to latest ux"
instead of just new- current text is "new app for conversation" and instead of import - "import as json" or "import as LU"
Please, update following screenshots:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/media/select-authoring-resource/select-authoring-resource.png
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/media/create-app-in-portal.png

---
#### Document D

[2020-03-16 18:44] tfitzmac commented on #49963
Here's the updated explanation of the [different CLI commands](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-cli#deployment-scope).

[2020-03-16 18:44] tfitzmac commented on #49963
#please-close

[2020-03-16 18:44] #49963 closed

[2020-03-16 18:45] steele6599 commented on #49859
So i tried this and and the users were still disabled
I had removed the Employee ID meaning i cleared the AD Attribute.
Set Scoping filter to:
Attribute "EmployeeID"
Operator: "IS NOT NULL"
Value:

[2020-03-16 18:45] MarileeTurscak-MSFT commented on #50154
I'm re-opening this awaiting response from one other person on the PG.

[2020-03-16 18:46] steele6599 commented on #49793
Man i got you busy on two different issues.  Thanks for your help!
Was wondering if there is something i can provide to help?

[2020-03-16 18:46] ioan-agopian commented on #34672
Hi, this is still an issue.
I'm trying to decide if moving to a high performance legacy sku is worth the price.
However on https://azure.microsoft.com/en-us/pricing/details/expressroute/ the price is displayed as N/A :

High Performance VNet Gateway | N/A/hour | 2 Gbps

[2020-03-16 18:47] TravisCragg-MSFT commented on #50241
@haymansfield Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-03-16 18:47] ingd commented on #40159
@KrishnaG-MSFT perhaps you forgot to change "Get-AutomationConnection" command to "Get-AzAutomationConnection".

Thank you! :)

[2020-03-16 18:54] dealancer opened #50272 "Mistake in text?"
&gt; "The following example uses Premium Managed Disks and specifies that the underlying Azure Disk should be retained when the pod is deleted:".

Why not when the PVC is deleted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724d659c-dcc8-7c77-1994-b3e8cc62eb8f
* Version Independent ID: f6c82819-267b-6d05-fb0b-ced6f4

[2020-03-16 18:54] yushwang commented on #34672
@ioan-agopian For Public Azure (Commercial cloud), it's $0.49/hour for all regions. We are still trying to add the legacy SKUs to our VPN pricing page but that had not happened yet. Sorry for the delay.

[2020-03-16 18:57] algorni opened #50273 "Maximum Expiry time not documented here."
Hi,

this page didn't describe the maximum Expiry time which is allowed to be configured for a D2C message.

Consider partially disconnected scenarios where a device could be disconnected for months.

Would be a message with an year of expiry time still be delivered once the device back online?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-16 18:58] rolyon commented on #49441
Hi @MMollyy
Thanks for the feedback. I'm going to close this issue, but you can re-open if you have additional feedback.
thanks

[2020-03-16 18:58] cmmdesai commented on #49793
Hey @steele6599, can you drop me a note at chetan.desai@microsoft.com? I think setting up a call to go over current issues will help.

[2020-03-16 18:58] rolyon commented on #49441
#please-close

[2020-03-16 18:58] #49441 closed

[2020-03-16 18:59] yushwang commented on #34672
Just to be complete, if you select another older regions, such as US East or North Europe, it should show all the gateway pricing. This will apply to all regions of the Public Azure. The gateway compute charge is per cloud, not per region.

[2020-03-16 18:59] dealancer opened #50274 "Question on persistent volume"
&gt;"Persistent volumes follow pods even if the pods are moved to a different node inside the same cluster."

Really? How it can be achieved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6557663-a845-e50b-9db8-529b57f3ee1d
* Version Independent ID: a8accf2c-91d9-dab0-1c04-e8b798b28770
* Content: [High availability a

[2020-03-16 19:00] algorni commented on #50273
Nevermind, it's reported 7 days.

Client SDK didn't throw any exception if a longer time period is configured.

[2020-03-16 19:00] #50273 closed

[2020-03-16 19:02] KranthiPakala-MSFT commented on #50050
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-16 19:02] #50050 closed

[2020-03-16 19:03] TravisCragg-MSFT commented on #50243
@zingaroo I was able to deploy an Azure Bastion in the North Europe region without an issue. If you are still getting the same error, make sure that you have registered the Networking resource provider by using the following PowerShell CMdlet:

Register-AzResourceProvider -ProviderNamespace Microsoft.Network

If you still get the error, your next step will be to speak with support. If you do not h

[2020-03-16 19:06] SychevIgor opened #50275 ".net core 2.2 retired"
Could we use "The current version of .NET Core." instead of ".NET Core V2.2+"?
.net core 2.2 retired some months ago and recommended version is 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 068e1fd9-b5d0-3a9a-64d8-65f9e9c16660
* Version Independent ID: 4abf85f0-f568-661c-9fb8-2bc3abb2dbee
* Content: [Quickstart: G

[2020-03-16 19:06] SychevIgor opened #50276 ".net core 2.2 retired"
Could we use "The current version of .NET Core." instead of ".NET Core V2.2+"?
.net core 2.2 retired some months ago and recommended version is 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be71dfe5-fd72-f093-4fd5-b9af87d9d966
* Version Independent ID: 1d4c3a42-02ed-d386-a712-17ae291bc631
* Content: [Quickstart: G

[2020-03-16 19:11] snaik92 opened #50277 "Please Update"
There are few steps on here that need to be updated per the Opsgenie page. I have included the updated documentation below. For example, the Sign-On URL needs to be left blank, but on the guide on this page it says to populate it with a URL that is no longer used:

https://docs.opsgenie.com/docs/azure-active-directory-sso

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-03-16 19:17] #49485 closed

[2020-03-16 19:19] JamesEarle opened #50278 "Command is deprecated."
The command for creating a resource group leaves you with this message:

"This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead."

The documentation should reflect this expected change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-16 19:19] SaurabhSharma-MSFT commented on #38804
@constructdian We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-16 19:19] #38804 closed

[2020-03-16 19:21] GiftA-MSFT commented on #50250
@hylinux this is strange, I'm not able to reproduce this issue. Are you using a training cluster and what is your virtual machine size?

[2020-03-16 19:24] Bastien-Brd opened #50279 "Create a Virtual Network Rule for a VNet in a different Tenant"
This article currently mentions:
&gt; If the VNet and Azure service resources are in different subscriptions, the resources should be under the same Active Directory (AD) tenant.
However, it is already possible to peer two virtual networks that are in different tenants, as per https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#powershell.

Is it not at al

[2020-03-16 19:24] wesmc7777 commented on #49314
This topic is up to date. It has been dated for a full review on 02/01/2020

[2020-03-16 19:25] estensen opened #50280 "Outdated tutorial after new UI"
The tutorial to create a WebJob is outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run background tasks with WebJobs - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/webjobs-cre

[2020-03-16 19:27] GiftA-MSFT commented on #50276
@SychevIgor we will review your feedback and get back to you shortly. Thanks.

[2020-03-16 19:28] GiftA-MSFT commented on #50275
@SychevIgor we will review your feedback and get back to you shortly. Thanks.

[2020-03-16 19:29] GiftA-MSFT commented on #50271
@SychevIgor we will review your feedback and get back to you shortly. Thanks.

[2020-03-16 19:31] mamccrea commented on #49748
Hi @jackt-moran! Thank you for this feedback. This is a known limitation - I will add it to the doc.

[2020-03-16 19:32] BharathNimmala-MSFT commented on #50278
@JamesEarle Thank you for bringing this to our notice, we will fix the document accordingly.

[2020-03-16 19:32] robmacf opened #50281 "What privileges are required to complete these tasks?"
"... administrators can choose to enable..." Which administrators? What are the minimum privileges needed to complete these tasks? Conditional Access is a security feature; the minimum privileges required to complete a task should always be documented with the explanation of a task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-16 19:32] femsulu commented on #50244
re-opened to add triage labels and Initial response.

[2020-03-16 19:32] #50244 closed

[2020-03-16 19:32] ioan-agopian commented on #34672
Aha, ok, thank you for the quick update.

[2020-03-16 19:34] mamccrea commented on #49748
#please-close

[2020-03-16 19:34] #49748 closed

[2020-03-16 19:35] robmacf opened #50282 "Which administrators can?"
Whenever there's an "administrators can" statement, the page needs to document (or link to) an explanation of WHICH administrators can do the thing being described. Who can dismiss user risk? Who can block user from signing in? Who can confirm user compromise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5779b726-83b

[2020-03-16 19:35] femsulu commented on #50264
@HughDevlin, Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-16 19:38] femsulu commented on #50267
@HughDevlin, Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-16 19:38] jackt-moran commented on #49748
Hi @mamccrea, thank you!

[2020-03-16 19:39] MarileeTurscak-MSFT commented on #50277
@snaik92
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 19:40] MarileeTurscak-MSFT commented on #50257
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 19:42] mumian commented on #50278
@JamesEarle Thank you for your feedback.  I will get it fixed today.

#please-close

[2020-03-16 19:42] #50278 closed

[2020-03-16 19:44] mamccrea commented on #49504
Thanks for the feedback @sanimesa! I've updated the doc to remove the underscore.

[2020-03-16 19:44] mamccrea commented on #49504
#please-close

[2020-03-16 19:44] #49504 closed

[2020-03-16 19:47] wesmc7777 commented on #49314
#please-close

[2020-03-16 19:47] #49314 closed

[2020-03-16 19:50] CeciAc opened #50283 "[Question] How to grant permission from admin"
@lzw-all-in commented on [Sat Mar 14 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/703)

Hi teams,

I'm an intern at Microsoft. I want to build an application for others to get ADL access token. I already add ADL API to my app. But it need to be grant permission from admin. How can my app be authorized by admin. I don't know who are the admin I can send email to apply this permiss

[2020-03-16 19:53] mamccrea commented on #49150
I apologize for the delay. This operation applies to Databricks Runtime 5.5 LTS. It is not currently supported on Databricks Runtime 6.0 and above. We've added a note to the doc and it should be live tomorrow.

[2020-03-16 19:53] mamccrea commented on #49150
#please-close

[2020-03-16 19:53] #49150 closed

[2020-03-16 19:58] #49927 closed

[2020-03-16 20:03] Mike-Ubezzi-MSFT commented on #50255
@eparizzi Not sure if you saw this document but the following looks to be what you are looking for: [Create an Azure Data Explorer cluster and database by using Python](https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-python)
Please let me know if this does not address your inquiry.

[2020-03-16 20:05] eparizzi commented on #50255
Wow, I totally missed that. Sorry.

Thanks! You may close this.

On Mon, 16 Mar 2020 at 21:03, Mike Ubezzi <notifications@github.com> wrote:

[2020-03-16 20:08] femsulu commented on #50269
@SAELH , Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-16 20:11] mamccrea commented on #50231
Thanks @HarryUlysses! I've updated the doc. The changes should be live tomorrow.

#please-close

[2020-03-16 20:11] #50231 closed

[2020-03-16 20:14] uranio-235 commented on #49784
Sorry my late, connection problems, this is my Startup.cs

[code]

[2020-03-16 20:16] shreyasharmamsft commented on #49956
@fgheysels Thanks for the feedback - we have plans to update this document to show only MSAL authentication soon! 👍

[2020-03-16 20:18] shreyasharmamsft commented on #49778
The article will be updated soon ([PR 107824](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107824)).

#please-close

[2020-03-16 20:18] #49778 closed

[2020-03-16 20:19] Grace-MacJones-MSFT commented on #50280
Hi @estensen, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2020-03-16 20:25] himanshusinha-msft commented on #49564
Hello @mphoboon
For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to azcommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.
Thread URL:
Subscription ID:
Subject : Attn HImanshu

[2020-03-16 20:33] TravisCragg-MSFT commented on #50248
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-16 20:36] femsulu commented on #50265
Hi @chvsuresh, Is your comment related to [this ADF content](https://docs.microsoft.com/en-us/azure/data-factory/connector-sap-business-warehouse)?

[2020-03-16 20:40] diberry commented on #49886
The doc should be published around 4pm PST. Can we please close @GiftA-MSFT ?

[2020-03-16 20:45] Mike-Ubezzi-MSFT commented on #50255
@eparizzi Sure, no worries. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-16 20:45] #50255 closed

[2020-03-16 20:45] rfhickey commented on #50151
Thanks. I am also looking for the answer to this question.

[2020-03-16 20:57] qhaitoNNV commented on #50240
I appreciate the speedy response! In this document the expected tunnel throughput was stated for different IPSec algorithm combinations. This was only given for Gen1 Gateways. Is there an available doc with information regarding the expected throughput for Standard and High Performance Gateways?

[2020-03-16 20:58] Karishma-Tiwari-MSFT commented on #50238
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-16 21:04] gpduck opened #50284 "This error can also be caused by a missing FUNCTIONS_WORKER_RUNTIME value"
We deployed our function app via Pulumi and it was not setting the FUNCTIONS_WORKER_RUNTIME value, which caused this error. Adding the value to the previously deployed instance and restarting was enough to correct the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version

[2020-03-16 21:07] rfhickey commented on #50151
I just found that while the schema in Databricks do not seem to display in Power BI after a connection is made, you can still search for and find the tables within each schema by using the search function.

[2020-03-16 21:09] MarileeTurscak-MSFT commented on #50281
@robmacf thanks for this question! It needs to be a global administrator. More details are in this document: https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-risk-based-sspr-mfa

[2020-03-16 21:14] 3vi1 opened #50285 "Create Azure Automation Account Fails"
The setup script seems to fail as if it's getting a redirect on the URL.  Any idea how to get past this?

[code]

[2020-03-16 21:15] b-juche commented on #50187
Hi @mikenri, thanks again for the input.  In consulting with subject matter expert @ntap512 --

- Password expiry on service accounts is a per-organization best practice perhaps, not necessarily a global one.
- The requested doc change is related to is a bug; the best approach is to fix the bug.
- AD Connection UI allows users to change credentials as needed.

User docs do not document around bugs

[2020-03-16 21:21] MicrosoftGuyJFlo commented on #42826
The limit is not easy to explain. The limit is based on the policy size not by specific elements. The product team has this in their backlog to provide additional clarification and is working to remove some of these limitations.

[2020-03-16 21:22] MicrosoftGuyJFlo commented on #42826
#please-close

[2020-03-16 21:22] #42826 closed

[2020-03-16 21:24] MicrosoftGuyJFlo commented on #48397
#assign @bakerCaleb #unsassign @MicrosoftGuyJFlo

[2020-03-16 21:24] PRMerger12 commented on #48397
bakerCaleb is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-16 21:26] MarileeTurscak-MSFT commented on #50281
@robmacf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 21:29] MarileeTurscak-MSFT commented on #50281
Identity Protection requires users be a Security Reader, Security Operator, Security Administrator, Global Reader, or Global Administrator in order to access. https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection

I made a pull request to add a note about this. CC: @MicrosoftGuyJFlo

[2020-03-16 21:31] MarileeTurscak-MSFT commented on #50281
I cannot find consistent documentation around who can enable the policies. I'm assigning this to the content author - @MicrosoftGuyJFlo can this be added to the document?

[2020-03-16 21:32] marawan31 opened #50286 "Concurrent connections per namespace cap"
In the section "Queue with a large number of senders" it says that "Service Bus enables up to 1000 concurrent connections to a messaging entity", but then it says "A topic accepts up to 1000 concurrent connections from senders, whereas the subscription accepts an additional 1000 concurrent connections from receivers." How can you have 1000 topic connections and at the same time a 1000 subscription

[2020-03-16 21:41] Karishma-Tiwari-MSFT commented on #50247
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-16 21:42] Grace-MacJones-MSFT commented on #49929
Thanks for catching this error in the doc @anaskalash.  @Juliako has  submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 21:42] #49929 closed

[2020-03-16 21:44] Karishma-Tiwari-MSFT commented on #50268
Thanks for the feedback. Can you please elaborate on the updates you are suggesting to the doc for example 1?

[2020-03-16 21:46] DarylArmstrong commented on #49886
Excellent, thank you very much!

[2020-03-16 21:49] mrdenny commented on #50268
Just above the TDE example there's code to create a credential called sysadmin_ekm_cred instead of Azure_EKM_cred. Just use that name and the sample code will all work.

[2020-03-16 21:51] Karishma-Tiwari-MSFT commented on #50261
Thanks @MashaMSFT for the confirmation and for the doc update task.
@mrdenny Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 21:51] #50261 closed

[2020-03-16 21:53] nonokangwei opened #50287 "ingest sample code with parameter error"
INGESTION_PROPERTIES = IngestionProperties(database=KUSTO_DATABASE, table=DESTINATION_TABLE, dataFormat=DataFormat.csv,
                                           mappingReference=DESTINATION_TABLE_COLUMN_MAPPING, additionalProperties={'ignoreFirstRecord': 'true'})

changeto
the dataFormat=DataFormat.CSV

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-16 21:54] tfitzmac commented on #49674
@dsfrederic - I have tested this myself, but could you use the if statement on the count property? If one condition is true set count to zero; otherwise, set to length of array.

[2020-03-16 21:57] dalehhirt opened #50288 "Managed Disks in Azure Powershell"
From the following page: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-convert-template-to-md

I have the following in Powershell.  How can I switch it to use managed disks?

        $VMSS = New-AzVmssConfig -Location $ResourceGroupLocation -SkuCapacity 2 -SkuName "Standard_A2" -UpgradePolicyMode "Automatic" `
            | Add-AzVmssNetworkInterfaceC

[2020-03-16 22:01] Karishma-Tiwari-MSFT commented on #50268
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 22:01] #50268 closed

[2020-03-16 22:05] MashaMSFT commented on #50268
Hi @mrdenny , thanks for improving our documentation! Just so  you know, it's also possible to make these changes  yourself, if you were so inclined :) doing so will improve our documentation, and it will add you as a contributor to the document.

In case you're interested, these are the steps to do so:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3

[2020-03-16 22:13] MicrosoftGuyJFlo commented on #50281
Checking with the PG

[2020-03-16 22:15] tfitzmac commented on #50057
@gatortarheel - thanks for this feedback. The command has been updated. And, I am updating the example to use the parameter file path. It should be published tomorrow morning.

[2020-03-16 22:15] tfitzmac commented on #50057
#please-close

[2020-03-16 22:15] #50057 closed

[2020-03-16 22:16] JoelHazelton commented on #49480
I'm looking for this same information. @SaurabhSharma: Any update on this?

[2020-03-16 22:19] BharathNimmala-MSFT commented on #50057
@tfitzmac Thank you for helping to fix this issue.

[2020-03-16 22:19] Karishma-Tiwari-MSFT commented on #50268
Thanks Masha for the PR guidance.
For now, I have created a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/107900
Changes will be live shortly.

[2020-03-16 22:25] ganganarayanan commented on #49480
See the Overview section of this page.
_You can also create and manage requests programmatically, using the Azure support ticket REST API._
Learn more at: https://docs.microsoft.com/rest/api/support/

[2020-03-16 22:27] JoelHazelton commented on #49480
Whoops! I see it now. Thank you!

[2020-03-16 22:29] BharathNimmala-MSFT commented on #49568
@doelpede Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-16 22:29] #49568 closed

[2020-03-16 22:31] btardif commented on #39175
@dcbrown16 this document includes the unit the metric uses to report data:

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites-excluding-functions

[2020-03-16 22:32] sophiedasinger opened #50290 "Service Bus Queue Subscriptions"
I have a question regarding Service Bus queue subscriptions. Is it possible to specify a connection string, as opposed to selecting the subscription/resource group of the Service Bus queue? I am asking because I am trying to connect to a queue that lives in a subscription that is not accessible by my logged-in account in the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-16 22:41] MarileeTurscak-MSFT commented on #50154
Sorry there was some confusion and mixed information across the team. Another person from the B2C team confirmed that it is, indeed, supported. He'll be getting back shortly with the details.

[2020-03-16 22:42] Karishma-Tiwari-MSFT commented on #46666
Update: It implies single pod and not all pods in a node.
Azure Disks are not capable to take that type of workload where multiple pods are writing. If the requirement is that multiple pods can read write at the same time, Azure Files are recommended to be used. Underlying Azure files driver can take update from multiple pods at a time.

[2020-03-16 22:42] #46666 closed

[2020-03-16 22:43] VanMSFT commented on #16442
I created a work item to address this article and update it in the future. Thanks, @dcbrown16 for bringing up this issue.

#please-close

[2020-03-16 22:43] #16442 closed

[2020-03-16 22:51] dcbrown16 commented on #39175
@btardif thanks for checking in. I'm aware of that list, it's in the first post I made. It's still leading to confusion because the Portal has a dynamic unit selection, so we should either default to the same value as listed in the metrics list (seconds) or note something about the possible difference in units when displayed in Portal.

[2020-03-16 22:54] dcbrown16 commented on #39175
Actually you made that particular change to seconds in November, apparently. So now it's a question of if all the MiB units are always going to be MiB, since the metrics list has them down as bytes.

[2020-03-16 22:57] mamccrea commented on #50203
Thanks @stuartparker! The imports are in the Notebook, but are not obvious in the code snippets. I've updated the doc, and the changes should go live tomorrow.

#please-close

[2020-03-16 22:57] #50203 closed

[2020-03-16 22:59] MarileeTurscak-MSFT commented on #50257
Thank you! I made a pull request to add this:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/107909

Based off of this document: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions

[2020-03-16 22:59] #50257 closed

[2020-03-16 23:01] NHaiby commented on #45486
We added a How to deploy the labeling tool on Azure Container Instance. Hope this helps.

[2020-03-16 23:01] Karishma-Tiwari-MSFT commented on #48443
Resources cannot be moved across subscriptions belonging to different tenant directly. These subscriptions has to be brought under one Tenant to make the move possible across subscription

Since the subscriptions are not in the same tenants, you would not be able to move the snapshot directly based on the doc you referred to. Given the situation, the workaround will be:

-Create a VHD file from th

[2020-03-16 23:01] #48443 closed

[2020-03-16 23:02] normesta commented on #41995
#please-close

[2020-03-16 23:02] #41995 closed

[2020-03-16 23:03] Karishma-Tiwari-MSFT commented on #49507
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 23:03] #49507 closed

[2020-03-16 23:04] Karishma-Tiwari-MSFT commented on #49595
@MashaMSFT Did you get a chance to take a look at this issue? Thanks :)

[2020-03-16 23:04] Karishma-Tiwari-MSFT commented on #49771
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 23:04] #49771 closed

[2020-03-16 23:05] Karishma-Tiwari-MSFT commented on #49948
We will now close this issue. Please share the details when you get a chance and If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks :)

[2020-03-16 23:05] #49948 closed

[2020-03-16 23:05] Karishma-Tiwari-MSFT commented on #49952
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 23:05] #49952 closed

[2020-03-16 23:06] Karishma-Tiwari-MSFT commented on #49993
I will share this feedback with the author.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 23:06] #49993 closed

[2020-03-16 23:07] Karishma-Tiwari-MSFT commented on #50041
We will now close this issue. Please share the details when you get a chance and if there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-16 23:07] #50041 closed

[2020-03-16 23:09] normesta commented on #45835
Transferring to Issue #[7](https://github.com/MicrosoftDocs/powerquery-docs/issues/7). This is a request to update the page which has a new location.

[2020-03-16 23:09] Karishma-Tiwari-MSFT commented on #50047
Is there any update?

[2020-03-16 23:09] normesta commented on #45835
Closing this one as it is connected to a page that no longer exists

[2020-03-16 23:10] normesta commented on #45835
#please-close

[2020-03-16 23:10] #45835 closed

[2020-03-16 23:10] cjlpowers opened #50291 "ASC bundle automation?"
Is it possible to add the Container Registries bundle to ASC via automation (e.g. CLI, ARM, etc)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61dff514-e42f-e66d-dd9c-1bd18cae2fa0
* Version Independent ID: 64ccc018-2e5f-b1ff-6c88-0c8761e4c2f9
* Content: [Azure Security Center and Azure Container Registry](https://doc

[2020-03-16 23:12] #50155 closed

[2020-03-16 23:14] normesta commented on #47340
@olavt. Thank you for reporting this issue. I too confirmed this issue. I have reported this bug to our product team so this is now a known issue. The libraries are being worked on as we speak and that issue is being examined in parallel with these updates to the library. Thank you for reporting this to us.

[2020-03-16 23:14] normesta commented on #47340
#please-close

[2020-03-16 23:14] #47340 closed

[2020-03-16 23:27] TravisCragg-MSFT commented on #50240
@qhaitoNNV [This Doc outlines the legacy SKU information](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-skus-legacy). Please let me know if you need any additional info.

[2020-03-16 23:30] mike-urnun-msft commented on #50284
@gpduck Thank you for your feedback. In this case, it might be best to raise an issue with Pulumi on what might have caused the app setting to be absent from your deployment.

cc: @mikhailshilkov

[2020-03-16 23:32] TravisCragg-MSFT commented on #49880
@edsimonaire The doc has been updated to specify the ports in step 3.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-16 23:32] #49880 closed

[2020-03-16 23:32] JamesEarle opened #50292 "Minor code changes for validation and cleanup of resources in ARM template deployment"
The first block for validation is currently

[code]

Perhaps I'm being pedantic, but this block could be made simpler, especially for new users in a few ways. I don't see the need to concatenate every line with `&&` or use the `read` functionality when I think it's more inline with other documentation (here and elsewhere online) to use `myVariable=<variable value>`. I view this as simpler and a mo

[2020-03-16 23:42] normesta commented on #44967
Thank you for raising this @vishag . The article was updated a while ago with a script example that addresses this issue. Thanks again!

[2020-03-16 23:42] normesta commented on #44967
#please-close

[2020-03-16 23:42] #44967 closed

[2020-03-16 23:52] Karishma-Tiwari-MSFT commented on #50063
@mimckitt Do you have any insights on this? Thanks :)

[2020-03-16 23:52] Karishma-Tiwari-MSFT commented on #50114
Is there an update?

[2020-03-16 23:54] BharathNimmala-MSFT commented on #49998
@ishepherd Thank you for your query. [Microsoft.Web/sites (excluding functions)](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites-excluding-functions) should cover the App Service related Metrics.

Definition for Connections with in App Service has been documented as below, for additional details please refer [here](https://docs.microsoft.com/en-us/

[2020-03-16 23:54] Karishma-Tiwari-MSFT commented on #50190
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-16 23:56] Karishma-Tiwari-MSFT commented on #50251
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-17 00:00] normesta commented on #36288
Thank you for your suggestion @ssjoronx4. I've passed this suggestion onto our product team to figure out the most effective way to address future cost prediction.  There's also other variables like how many transactions occur which is difficult to predict. They are in the process of discussing several options for making this information visible either in product or in docs. I'll post back to this

[2020-03-17 00:00] normesta commented on #36288
#please-close

[2020-03-17 00:00] #36288 closed

[2020-03-17 00:08] JadenLy opened #50295 "Errors when uploading images"
Hi, I encountered an issue while following the above codes.

I followed the above samples to create tags and assign image tags, then I uploaded the image, but an error occured:

[code]
The description was not required while creating tags, but why does uploading images require it?

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-17 00:09] MarileeTurscak-MSFT commented on #50186
Thank you! I checked in my tenant and found the same thing. I made a pull request to update the instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107915

[2020-03-17 00:09] #50186 closed

[2020-03-17 00:22] MarileeTurscak-MSFT commented on #50200
Since it involves setting up permissions in AD Connect I believe you need at least a global admin and Office 365 admin.

Some of the prerequisites are listed here:https://docs.microsoft.com/en-us/exchange/hybrid-deployment/set-up-office-365-groups?redirectedfrom=MSDN

I'm assigning this to the content author to add these details to the document.

[2020-03-17 00:23] danmyhre commented on #50200
To clarify - I am referring to the permissions needed for the AADConnect account in on-prem AD, not cloud permissions

[2020-03-17 00:24] Mike-Ubezzi-MSFT commented on #50279
Hi @Bastien-Brd. I want clarify the concept of a tenant. With Azure Active Directory (Azure AD), a tenant is representative of an organization. An organization is usually a business, which may have multiple subscriptions and have services deployed in different VNETs but joined through peering. The document you are referring to ([create-peering-different-subscriptions](https://docs.microsoft.com/en

[2020-03-17 00:24] mike-urnun-msft commented on #50286
@marawan31 Thank you for your feedback. I believe the important part there is this sentence:
_"..For queues, this number is shared between senders and receivers..."_ with which you can make an assumption that the opposite is true with the other entities such as topics and subscriptions where the limit is not shared among them. As such, while a topic is capped with 1000 connections for senders excl

[2020-03-17 00:28] rajrao commented on #46830
Thank you - this looks good

[2020-03-17 00:34] mike-urnun-msft commented on #50290
@sophiedasinger Thank you for your feedback! We will review and update as appropriate.

[2020-03-17 00:36] normesta commented on #49925
Thank you @ElectricLlama . I've updated the article with a couple of notes that make this clear. Thank you for your suggestion. Those updates will appear live by tomorrow 10AM.

[2020-03-17 00:36] normesta commented on #49925
#please-close

[2020-03-17 00:36] #49925 closed

[2020-03-17 00:40] ishepherd commented on #49998
@BharathNimmala-MSFT Ok so it sounds like the figure covers both inbound and outbound connections, across all the individual worker app(s) that are running our code.

Thanks for the thorough response!

[2020-03-17 00:51] BharathNimmala-MSFT commented on #49998
@ishepherd Glad to hear that the information helped. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-17 00:51] #49998 closed

[2020-03-17 01:03] lzw-all-in commented on #50283
@CeciAc  Thanks for paying attention to my question here.

My major problem is how to apply for ADL permission for my own app on Azure. Or who can grant the ADL permission to my app ?

Thanks teams.

Here is the permission I need.
![image](https://user-images.githubusercontent.com/34850455/76811851-059a3d00-682e-11ea-8850-e7b6ec107200.png)

[2020-03-17 01:08] steele6599 commented on #49859
So now we have to leave the Employee ID in the employeeID attribute.  So any idea about populating an Extension Attribute and using that to bypass it?

[2020-03-17 01:15] geek2point0 commented on #49746
@miketoupin I just tried @raymondd78 's recommendation and the LogicApp now shows a 'Succeeded' state and the Automation Account job appears to still run successfully as well.

[2020-03-17 01:23] kobulloc-MSFT commented on #50262
@yehoshuadimarsky Thank you for bringing this to our attention!  We will assign this to the document author so they can update the documentation accordingly.

[2020-03-17 01:23] 3vi1 commented on #50285
The error is because the Invoke-WebRequest has -MaximumRedirection 0 hardcoded, when the page https://www.powershellgallery.com/api/v2/package/Az.Accounts/1.7.3 redirects to another.  Increasing the maximum redirects fixes the issue.

[2020-03-17 01:25] vaishnavk opened #50296 "Incorrect REST API documentation for creating custom role"
The REST API documentation for creating custom roles seems to have some issues - https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-rest

The assignableScopes of the custom role has Resource as one of the examples -
subscriptions/{subscriptionId}/resourceGroups/myresourcegroup1/ providers/Microsoft.Web/sites/mysite1 | Resource

The documentation for AssignableScopes stat

[2020-03-17 01:25] HarryUlysses commented on #50231
OK, it is no problem. It is my pleasure to provide feedback to you.

[2020-03-17 01:30] jeevansd commented on #50277
@chetansriv and @v-nagta Can you please review this change?

[2020-03-17 01:41] jeevansd commented on #50227
@cmmdesai Can you please review this?

[2020-03-17 01:46] 3vi1 opened #50297 "Documentation missing a step."
At the end of the steps to create an Azure Automation account, https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script states "To check if your webhook is where it should be, go to the Resources list on the left side of your screen and select Webhook."

It seems to be missing a pre-requisite step, as there is no Resources list or Webhook item in the resource group panel:  I th

[2020-03-17 01:54] femsulu commented on #50285
thanks for the update, @3vi1 !

[2020-03-17 01:54] #50285 closed

[2020-03-17 02:18] ishepherd commented on #16175
It's frustrating that the Kusto `join` operator is still missing, years later.

https://feedback.azure.com/forums/915958-azure-governance/suggestions/37711165-azure-resource-graph-incorporate-more-tabular-ope

[2020-03-17 02:58] kiranpradeep commented on #49887
Thanks for the information on **status** field. That helps in better understanding of iotedge. Then, I went through the docs mentioned, but none of them mentions about rollbacks of deployment.

I felt, the original question remains unanswered. The question in simple terms is: _If I depoy a bad deployment manifest (e.g. with non existing docker image), will iotedge agent ignore it and fallback/roll

[2020-03-17 03:07] femsulu commented on #50288
@dalehhirt Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-17 03:09] DixitArora-MSFT commented on #49942
@romankiss I have assigned this to content author for further review and update as appropriate.

[2020-03-17 03:12] ashish2rathi commented on #50014
Thanks for the update @BhargaviAnnadevara-MSFT

[2020-03-17 03:13] AshokPeddakotla-MSFT commented on #50273
@algorni Thanks for the feedback.
Adding author @wesmc7777 in case doc update needed for more clarity.

[2020-03-17 03:19] KalyanChanumolu-MSFT commented on #50266
@eliwolfsohney Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-17 03:19] chvsuresh commented on #50265
It is technically associted with creating a Linked Service usinf SAP BW via
MDX connector. Copy data comes next (after the creation of Linked Service).

On Mon, Mar 16, 2020, 3:36 PM femsulu-MSFT <notifications@github.com> wrote:

[2020-03-17 03:21] KalyanChanumolu-MSFT commented on #50272
@dealancer Thank you for the reaching out. We are actively investigating and will get back to you soon.

[2020-03-17 03:23] KalyanChanumolu-MSFT commented on #50274
@dealancer Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-17 03:23] DCtheGeek commented on #16175
@ishepherd It looks like that UserVoice item didn't get updated. I've notified the PM.  Here are the relevant links in docs as both `join` and tables are supported now:

- [join](https://docs.microsoft.com/azure/governance/resource-graph/concepts/query-language#supported-tabulartop-level-operators)
- [tables](https://docs.microsoft.com/azure/governance/resource-graph/concepts/query-language#resour

[2020-03-17 03:24] KalyanChanumolu-MSFT commented on #50282
@robmacf Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-17 03:27] KalyanChanumolu-MSFT commented on #50287
@nonokangwei Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-17 03:29] KalyanChanumolu-MSFT commented on #50292
@JamesEarle Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-03-17 03:46] #49886 closed

[2020-03-17 04:01] VikasPullagura-MSFT commented on #50148
@keatseongchan Any update on the issue?

[2020-03-17 04:01] jackngok opened #50299 "Error while running stage script"
[Enter feedback here]
I used this code from document to create region stage
#region stage

[Windows.Management.Deployment.PackageManager,Windows.Management.Deployment,ContentType=WindowsRuntime] | Out-Null

Add-Type -AssemblyName System.Runtime.WindowsRuntime

$asTask = ([System.WindowsRuntimeSystemExtensions].GetMethods() | Where {
$_.ToString() -eq 'System.Threading.Tasks.Task`1[TResult]AsTask[T

[2020-03-17 04:26] sujayvsarma commented on #50040
Ah! Wait wait. I completely misunderstood your question. Let me take it from the top.

* You are using the CosmosDB's built-in change feed mechanism to read changes made to the CosmosDB's data elements.

These changes are stored for a long long time by the backing engine. I don't believe that you ever lose these changes. You can, for example, have a 5-10 year old dataset [i.e., created in CosmosDB

[2020-03-17 04:35] DixitArora-MSFT commented on #50106
@AElharouny AFAIK, this will taken care by APIM. API Management will automatically obtain the newer version of the certificate after it is uploaded to Key Vault.

So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-17 04:35] #50106 closed

[2020-03-17 04:41] RohitMungi-MSFT commented on #50295
@JadenLy Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-17 05:07] msrini-MSFT commented on #50180
Please track the issue [here](https://github.com/Azure/azure-cli/issues/12594)

[2020-03-17 05:07] #50180 closed

[2020-03-17 05:08] #50232 closed

[2020-03-17 05:08] shashishailaj commented on #50291
@cjlpowers Thank you for your query. We will investigate an update this thread.

[2020-03-17 05:08] amanmcse commented on #50172
@Wicaeed As of now there is no change to this behavior. You can look for any changes/ new features at [What's new in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) and [Archive for What's new in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new-archive).

You can also monitor https://feed

[2020-03-17 05:08] #50172 closed

[2020-03-17 05:09] msrini-MSFT commented on #50241
@haymansfield , Theoretically it should work. SA pairs will be formed only for the defined address space. Can you try and let me know if you face any issue?

[2020-03-17 05:10] beelesnik opened #50302 "Is the possibility to access by VNET Rule from different region?"
Hello.
When I created VNET Rule I am suggested virtual networks/subnets only from the same region where my Postgres Server is located.
Could I use VNET Rule to give access from the vnet/subnets of  another region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e785d4-cb1f-dc12-6702-48ffe1287734
* Version Independent

[2020-03-17 05:17] akash-roy-123 opened #50303 "Showing 403- Forbidden Error while setting up the Geofence"
I followed the same steps provided and passed my primary key as the subscription key. It still is displaying 403-Forbidden error. Kindly Help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cf4eb2-2a86-582d-8160-a19cc2960c98
* Version Independent ID: 12970ae9-71ca-ee5d-aadf-15678a22f883
* Content: [Tutorial: Create a

[2020-03-17 05:34] nickgmicrosoft commented on #49461
@henriquebelotto

The whole doc has been updated, https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-claims-validation#feedback.

It no longer uses that sample.

[2020-03-17 05:42] amanmcse commented on #50176
@Divine1, To elaborate this, if the application doesn't support sign-in protocols such as SAML, OAuth, OpenID Connect, etc. and requires Username and Password to be supplied for signing in to the application, you need to use this password based SSO. This enables the application to secure the application credentials storage. These credentials are replayed at the applications sign-on page via a web

[2020-03-17 05:42] #50176 closed

[2020-03-17 05:42] manjunathangv commented on #47344
@christoph-zenger-hcsg  i'm getting the response but i dont know how to play it in browser using html and JavaScript

[2020-03-17 05:47] Karishma-Tiwari-MSFT commented on #48128
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-17 05:50] Karishma-Tiwari-MSFT commented on #48803
@TomArcherMsft Did you get a chance to take a look at this request? Thanks :)

[2020-03-17 06:28] SubhashVasarapu-MSFT commented on #48866
@shuttlek , Referring to the similar issue #33157 it looks like the problem lies with the retention period of the Key vault. The update is yet to roll out. Stay tuned!

[2020-03-17 06:31] dziedrius commented on #49835
Hi,
thanks @jcbrooks92 and @RyanHill-MSFT for your answers.
At the moment I won't share the app name, partially because we have support ticket open and some of MSFT people already looking into it, probably there's no need more people looking into specific case.

For example from MSFT support I've got following explanation, why I don't see ping requests in HTTP access logs or Azure HTTP 404 metrics

[2020-03-17 06:31] SubhashVasarapu-MSFT commented on #49321
@dcbrown16 , Appreciate you patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-03-17 06:34] dcbrown16 opened #50306 "Confusing role requirements"
Couple of things about the "Before you begin" section.
It doesn't make any sense to call out a need for the "Azure account administrator". That classic admin role doesn't even directly have access to the Azure portal, as described at the following link.
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#classic-subscription-administrator-roles
I assume

[2020-03-17 06:34] naymore commented on #49948
I just tried the very same script once more just with the --debug parameter and it works now /shrug.

[2020-03-17 06:40] VikasPullagura-MSFT commented on #50297
@3vi1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-17 06:40] VikasPullagura-MSFT commented on #50297
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-03-17 06:41] armcmu opened #50307 "ProvisionSample: error code: AADSTS50011"
Hi,

I follow the step until - Run dotnet run ProvisionSample.

There is an error as - AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'c15a48de-8754-41de-bfa8-96c2ce6c82cc'.

I tried to change redirect uri in many formats, but the error still appears.

What is the real problem and how to fix this.

Thank you.

---
#### Document Det

[2020-03-17 06:42] VikasPullagura-MSFT commented on #50306
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-17 06:42] VikasPullagura-MSFT commented on #50306
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-17 06:48] pmummi opened #50308 "General Availability"
Hi Team,

Can you please let us know when AzureSQL Private end point feature will be available in GA?

Thanks,
P

[2020-03-17 06:51] ChiragMishra-MSFT commented on #50168
@sandeep8530 In old versions of pip, the --pre flag is required. Please either add it or upgrade pip. Also, since the issue doesn't pertain to the doc, I will now proceed to close this.

If you are still blocked, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)/[Stack Overflow](https://stackoverflow.com/quest

[2020-03-17 06:51] #50168 closed

[2020-03-17 06:53] oliverstopp opened #50309 ""min length" is not a valid schema attribute on a parameter"
On the current page (17/03/2020) there are two instances where a parameter for LogicAppLocation uses a "min Length" attribute but the space will cause an error. According to the ARM template schema (https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax) it must be "minLength".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-17 07:06] souravmishra-msft commented on #50157
closing the thread for now.

[2020-03-17 07:06] #50157 closed

[2020-03-17 07:14] majguo opened #50310 "Can't create CRDs on Azure Red Hat OpenShift cluster"
Hi there,

As the note "The customer-admin-cluster cluster role is not the same as the cluster-admin cluster role" mentioned on the page, I can't create Custom Resource Definitions (CRDs) without `cluster-admin` role assigned, even with `customer-admin-cluster` cluster role assigned. Is there any way to grant user `cluster-admin` role before/after Azure Red Hat OpenShift cluster is created? How ca

[2020-03-17 07:17] AshokPeddakotla-MSFT commented on #50303
@akash-roy-123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-17 07:34] mjudeikis commented on #50310
Hey @majgue,
Azure RedHat OpenShift is based on OpenShift 3.11 and this particular version we do no support CRD creation on the cluster. Granting `cluster-admin` to end-users is not supported in this version.
There is ARO 4.3 PrivatePreview[1] available for eastus region, where this is possible as end-user can get `cluster-admin`. The recommendation is to use this version of the product

1. https:

[2020-03-17 07:36] likebupt commented on #50162
Hi @bruceokallau , sorry that currently there is no feature supporting your requirement. If the three datasets are disparate, maybe you can process them respectively.
Could you please explain your scenario so that we can better understand and plan to improve this module?

[2020-03-17 07:40] RohitMungi-MSFT commented on #50163
@Jawvig We have reported issues in this document internally to our content team. All issues should be addressed soon with an update to the document.

[2020-03-17 07:41] RohitMungi-MSFT commented on #50159
@Jawvig We have reported issues in this document internally to our content team. All issues should be addressed soon with an update to the document.

[2020-03-17 07:42] RohitMungi-MSFT commented on #50161
@Jawvig We have reported issues in this document internally to our content team. All issues should be addressed soon with an update to the document.

[2020-03-17 07:44] aadje commented on #48896
We currently have the same question.
On our testing environments we haven't seen any issues related to having Local cache enabled for all slots.
We are also using Run-From-Package zip deployments in combination with local cache and slots.
The docs suggest that these features do not "compose". We can't reproduce any problems with enabling both options, while the docs basically suggest this can't wo

[2020-03-17 07:55] ChrisSommers opened #50311 "Portal's 'Disks' blade reporting that a Data Disk is not encrypted"
I have a VM with a Data Disk and it's been encrypted - the BitLocker status within the VM confirms this. However, the disk is reported in the portal as "Not enabled".

I believe this may be something to do with the fact that the disk has multiple partitions on it. I confirm that all partitions are formatted and BitLocker'd.

Is there a known issue with the reporting of the encryption status in the

[2020-03-17 07:57] weihua-lu opened #50312 "No Output parameter in partitionweblogs.hql script"
The hive script is incompatible. It has two params `inputtable` and `partitionedtable`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: On-demand clusters in Azure HDInsight with Data Factory](https:

[2020-03-17 08:03] AshokPeddakotla-MSFT commented on #50177
I have assigned the issue to the content author @dominicbetts  to evaluate and update as appropriate.

[2020-03-17 08:04] davidobrien1985 opened #50313 "Deny on push"
Any chance that images can be denied to be added to the repo if they're unhealthy?
Or maybe ACR could prevent users from "docker pull" an unhealthy image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7c05f1-f69c-c033-0409-39f5c8f03674
* Version Independent ID: ebcceb7b-0d9c-618c-9576-b3b1713fe1ef
* Content: [Contai

[2020-03-17 08:38] alsastre opened #50314 "Existing VM"
What would be the steps to connect an existing VM which is present in another network? I can't seem to get it to communicate between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d737a38a-5097-b886-05a7-ec614118d97a
* Version Independent ID: 3124d90b-6f96-4856-447f-97c421d969f5
* Content: [Connect client VM - ma

[2020-03-17 08:43] alsastre commented on #50314
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connect-app

[2020-03-17 08:43] #50314 closed

[2020-03-17 09:03] AjayKumar-MSFT commented on #49930
@manuenc, Thanks for the follow-up & sharing additional details. There is feedback post on the uservoice with a similar request,  kindly upvote this [feedback](https://feedback.azure.com/forums/169385-web-apps/suggestions/35121889-metrics-for-linux-docker-containers-function-app) – which is under review. All of the feedback you share in these forums will be monitored and reviewed by the Microsoft

[2020-03-17 09:03] #49930 closed

[2020-03-17 09:04] hkanthonyleung opened #50315 "Pull labeltool in Windows"
I have installed docker desktop in my windows when I try to pull the labeltool by this command:
docker pull mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool

It shows "image operating system "linux" cannot be used on this platform"

can anyone help?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-03-17 09:16] ManoKanmani opened #50316 "Workday to Active Directory provision and de-provision (contingent to hire process)"
I am new to this technology, we are facing some challenges with "contingent to hire" process during workday to active directory user provisioning and de-provisioning. Currently workday has "workerid" as the source unique attribute but they are linking the "username" with "samAccountname" in the
 active directory (earlier everything was manual process) and currently they are dealing with "Username"

[2020-03-17 09:19] MikeWedderburn-Clarke commented on #41583
Near the top of this article it says:
"There are some things that VNet Integration doesn't support including:
mounting a drive
AD integration
NetBios"

Does "AD integration" in that context just mean you can't domain join the App Service and you cannot use "on-prem AD" credentials to mount a drive?

[2020-03-17 09:27] hkanthonyleung commented on #50315
I fixed this issue by switching to linux mode, thank you.

[2020-03-17 09:38] beelesnik opened #50319 "Are the scripts in step 4 and 6 correct?"
Hello
I've seen tickets about sql-scripts in step 4 and 6 on this page and on the page about migration using CLI.
Are the current versions of these scripts correct?
Or should I use some options from the closed ticket created by AgSync-Aaron?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261bad06-6551-260a-cbae

[2020-03-17 09:44] 84618315 opened #50320 "Change deployment mode from environments/tenants"
is it possible to change de deployment mode and tenantID depending on the environments/tenants?
because we would like to have develop, test and prod environments that means we have to keep track of three different files.
sort of the feature request (https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33150376-remove-tenantid-from-custom-policies)

---
#### Document Details

[2020-03-17 09:44] estensen opened #50321 "Docs mix of WebJobs and Functions"
Links go to Function resources, which are not used in the same way as WebJobs
For example "See Queue trigger usage"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure App

[2020-03-17 09:48] yoelhor commented on #50320
Did you try the [VS code extension for Azure AD B2C](https://marketplace.visualstudio.com/items?itemName=AzureADB2CTools.aadb2c). The policy settings feature allows you to manage the values of your Azure AD B2C environments.

[2020-03-17 10:01] PramodValavala-MSFT commented on #50309
@oliverstopp Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-03-17 10:08] Bastien-Brd commented on #50279
Hi Mike, thanks for your explanation, I understand.

However, I followed the instructions in the article, and specifically the point about *using the full resource id to set the scope of the rule*, and I successfully managed to peer 2 virtual networks that are in 2 different subscriptions *in different AAD tenants* (I had found some advice somewhere else online mentioning it is possible, and indee

[2020-03-17 10:12] RohitMungi-MSFT commented on #50295
@JadenLy Could you please check if the tags are added in the script from this [step ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial#create-tags-in-the-project)in the document? I have just re-run the sample file following the steps and it works correctly to create a project, upload and train with the images. Please find the screen shot below.

[code

[2020-03-17 10:20] #50309 closed

[2020-03-17 10:23] kamaleshs48 commented on #49628
How to stop Recognition and restart Recognition  in startContinuousRecognitionAsync Using Javascript Please help me

[2020-03-17 10:29] Anmolgan81 opened #50323 "What is the limit on DMS Number of Instances?"
Need to know how many DMS instances can we create, is there a limit on number of DMS Instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233fef5-5db2-8444-22ab-92045e36b119
* Version Independent ID: c243f2b3-febe-22aa-03de-0fa068fb7243
* Content: [FAQ - Azure Database Migration Service](https://docs.microsoft.co

[2020-03-17 10:47] SzucsAti commented on #50114
Waiting for 3rd party to implement my network request. Most likely will solve the issue, will update once I can verify it.

[2020-03-17 10:52] paulisfluent opened #50324 "http not a useful top-level key any more"
`http` is still listed as a top-level key in host.json, and it's part of the JSON schema, but seems to have no effect.  We now have to put http options (for me, changing `routePrefix`) inside `extensions`.  Assuming http has to remain at the top for backwards-compatibility or something, it would be helpful if the docs for http here say something like "don't put it here, put it in extensions".

---

[2020-03-17 11:21] mohamed-shehata-m opened #50325 "Availability is not updated with the latest GAs & Previews"
According to https://azure.microsoft.com/en-us/updates/privatelinkforpaasga/ , there are multiple service GA and new services in preview. This article does not reflect the new changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c

[2020-03-17 11:32] DixitArora-MSFT commented on #50324
Hi @paulisfluent Thanks for your feedback. We will review and update as appropriate.

[2020-03-17 11:34] msrini-MSFT commented on #50325
@mohamed-shehata-m , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-17 11:42] KalyanChanumolu-MSFT commented on #50296
@vaishnavk Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-03-17 11:45] KalyanChanumolu-MSFT commented on #50299
@jackngok Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-03-17 11:48] jotavar opened #50326 "Azure CNI networking does not require pre-existing virtual network,"
The phrase "Azure CNI networking - Deploys into an existing virtual network,..." is misleading in that it implies an pre-existing VNET is required, which is not true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47be2fa0-5152-357d-35a8-74d037281d55
* Version Independent ID: b98a9346-8afa-3a6a-638d-95677e2aa08c
* Conte

[2020-03-17 11:59] DixitArora-MSFT commented on #50308
@pmummi Just checking if you have the follow this. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-private-endpoint-overview This discuss about this.

So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-17 11:59] #50308 closed

[2020-03-17 11:59] xuxuai520 opened #50327 "Can a free trial account successfully create Azure IoT Edge on Ubuntu"
I signed up for a trial account and created an error:
{
  "code": "MarketplacePurchaseEligibilityFailed",
  "message": "市场购买资格检查返回了错误。请查看内部错误了解详细信息。",
  "details": [
    {
      "code": "BadRequest",
      "message": "Offer with PublisherId: microsoft_iot_edge, OfferId: iot_edge_vm_ubuntu cannot be purchased due to validation errors. See details for more information.[{\
The Publisher: microsoft_io

[2020-03-17 12:08] ystrte commented on #22597
Can we re-open this?
I can not see that logins to service principals are logged anywhere.

[2020-03-17 12:14] ChiragMishra-MSFT commented on #50312
@weihua-lu Thanks for bringing this to our notice. We are investigating into the issue and will update as appropriate.

[2020-03-17 12:17] RohitMungi-MSFT commented on #50315
@hkanthonyleung Thanks for posting your fix. For users experiencing similar issue the option to switch to linux will be available from options on your taskbar when you right click the docker for desktop icon. Similar to this option to switch to windows containers.

![image](https://user-images.githubusercontent.com/46958063/76855503-4a969180-6877-11ea-8809-4f2a1fb74467.png)

[2020-03-17 12:17] #50315 closed

[2020-03-17 12:22] SnehaAgrawal-MSFT commented on #50321
@estensen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-17 12:48] julie-wins commented on #39958
FWIW I'm running into the same issue. I'm following a tutorial to send Python telemetry to the cloud from a Pi zero. https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python

[2020-03-17 12:48] BhargaviAnnadevara-MSFT commented on #50014
@ashish2rathi Sure, thanks.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-17 12:48] #50014 closed

[2020-03-17 12:52] ishepherd commented on #16175
thanks @DCtheGeek. I think I was conflating two issues ...

I think you can't use `let` to create a tabular variable? [let reference](https://docs.microsoft.com/en-us/azure/kusto/query/letstatement)

I frequently do this in App Insights, so I can declare queries separately and then join them - rather than make a single megaquery.

[2020-03-17 12:52] jakaruna-MSFT commented on #50208
i dont have control over Azure-samples repo.

Someone who has access will respond to your pull reauest.

[2020-03-17 13:01] Guillaume-Docquier commented on #49957
I found what I needed. There's a property called "ResourceGuid", which is the meter id I am looking for.

[2020-03-17 13:01] #49957 closed

[2020-03-17 13:07] jcbrooks92 commented on #49835
@dziedrius  thanks for confirming you have a support case. The reason I asked for the app name was because I want to try and understand the behavior you are seeing before getting the document updated. The expectation would be that you would be able to see the always on request since it should be hitting your container to keep it up and running.  If you are not, there could be an issue with the log

[2020-03-17 13:08] VikasPullagura-MSFT commented on #50326
@jotavar
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-17 13:08] VikasPullagura-MSFT commented on #50326
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-17 13:20] jakaruna-MSFT commented on #49907
@kuwe1990 do you have any update

[2020-03-17 13:22] souravmishra-msft commented on #49997
closing the thread for now.

[2020-03-17 13:22] #49997 closed

[2020-03-17 13:29] csabagal commented on #46672
I have the same issue the downloaded zip does not contain any ovpn configuration file there are an Azure VPN and a generic folder. The generic folder contains a VpnServerRoot.cer and VpnSettings.xml files.
Here is the gateway type.
                         }
VpnClientConfiguration : {
                           "VpnClientProtocols": [
                             "OpenVPN"

[2020-03-17 13:35] AjayKumar-MSFT commented on #49932
You can try WEBSITE_LOCAL_CACHE_OPTION = Never for the staging slot. You can also refer the [Best practices for using App Service Local Cache](https://docs.microsoft.com/azure/app-service/overview-local-cache#best-practices-for-using-app-service-local-cache) for additional details on local cache feature with the slots.
We will close this out, but if you feel you need more information please just l

[2020-03-17 13:35] #49932 closed

[2020-03-17 13:36] BhargaviAnnadevara-MSFT commented on #49818
@ishepherd This is the additional information I was able to gather from our internal Teams, regarding the working of the feature:

The host names connected to the app are tracked from the (internal) App Service telemetry.

For example, if a WebApp `footest` is connected to SQL Server database `footest-sqlserver.database.windows.net`, then from the logs, it would be seen that `footest` is making ou

[2020-03-17 13:36] #49818 closed

[2020-03-17 13:37] fgheysels commented on #49956
I'm not following here; could you please elaborate ?

[2020-03-17 13:38] steve19922 opened #50329 "Enable ADVANCED DATA SECURITY from ARM Template"
-  azure managed instance
-  https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2018-06-01-preview/managedinstances
-  I would like to be able to create the managed instance with Advanced Data Security enabled within the ARM Template

[2020-03-17 13:40] emulic opened #50330 "AADB2C90224: Resource owner flow has not been enabled for the application"
I followed the description but I'm getting following error when trying to get token by using username and password:
{"error":"unauthorized_client","error_description":"AADB2C90224: Resource owner flow has not been enabled for the application.\r\nCorrelation ID: a8248e22-ff7b-4812-9f4d-7c023bcdd7d1\r\nTimestamp: 2020-03-17 13:33:56Z\r\n"}
Can you help on this?
I already checked the, the b2c applica

[2020-03-17 13:49] NavtejSaini-MSFT commented on #49482
@orspod Can the resolution be shared here so that it can help other users.

[2020-03-17 13:52] CeciAc opened #50331 "Docs? And how to get Get-AutomationPSCredential running in the Az Module?"
@schittli commented on [Tue Mar 17 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/632)

Hello

Because the Online Azure Editors (e.g. the PowerShell Script Editor in Azure Automation Runbook) is a shame (it does not offer much more than a syntax highlighting), we're required to use the desktop PowerShell with Connect-AzAccount and the Az Module to be productive and not spend days a

[2020-03-17 13:53] deyanp commented on #49482
There is no resolution yet, the only working **for me** **workaround** is to use "Azure SQL Database" connectivity option for getting data from ADX instead of using the direct/native ADX connectivity ... but that probably has some limitations or issues on its own ..

[2020-03-17 13:58] langstonj commented on #50118
@mohamed-shehata-m   Is correct on all counts !    Thanks mohamed.

[2020-03-17 13:59] JasonBSteele commented on #50040
Ok, this is more like what I would have expected!  However instead of:

I would expect that after the throttling, my Change Feed function would be called for each event that occurred during the throttling. The Change Feed function is only triggered, it is not responsible for looping through historic events.

Thanks for persevering with this!

[2020-03-17 14:18] sujayvsarma commented on #50040
Why don't you try that out with a test Cosmos DB instance set to the lowest throughout and exhaust them manually?

[2020-03-17 14:22] viswanadham-k commented on #49746
Hi @miketoupin
Thank you for giving feedback, can you check the Automation account Runbook "**Exception**" and share with us exception details then we will check and assist you with resolved steps.

Thanks,

[2020-03-17 14:23] JasonBSteele commented on #50040
Sure, I could do that, and it might work fine that time! But I would rather see a statement in the docs that, by design, an event will never be lost in these circumstances and will be delivered eventually.

I need to rely on this functionality for keeping to systems in sync so I need some guarantees that if we hit a spike of traffic that changes won't be lost.

[2020-03-17 14:37] giovannifl commented on #47610
"In addition, Private Link is now available in preview for the following services:
App Service"

https://azure.microsoft.com/en-gb/updates/privatelinkforpaasga/

Is this correct ? I don't see any option to enable Private Endpoint on an App Service. May be ?

[2020-03-17 14:42] kamaleshs48 opened #50332 "Start and Stop Continuous Recognition using Java Script"
How to stop Recognition and restart Recognition in startContinuousRecognitionAsync Using Javascript Please help me

[2020-03-17 14:46] pochiraju commented on #50323
By default, we limit 2 DMS instances per subscription, we are more than happy to increase if there is a case.  Please contact us at dmsfeedback@microsoft.com with details that we can help you.

[2020-03-17 14:47] faltenberg commented on #41911
@souravmishra-msft The question is out there for some time now. Are any answers on the way?

[2020-03-17 14:49] Anmolgan81 commented on #50323
Strange, I was creating DMS Instances in order to find what is the limit and I was able to create 4 DMS Instances i South Central US, and I havent raised any support ticket for this. Is it possible?

[2020-03-17 14:49] pochiraju commented on #50319
Are you running into any issues, please feel free to contact us at dmsfeedback@microsoft.com for assistance by providing the specific issue you are facing.

[2020-03-17 14:51] pochiraju commented on #50323
We need to know the subscription ID to understand why you were able to created 4 DMS services? But what exactly you are trying to do? We are more than happy to help to meet you migration needs.  Please contact us at dmsfeedback@microsoft.com further.

[2020-03-17 14:52] sujayvsarma commented on #50040
docs-- that's for the silent @NavtejSaini-MSFT 's team to determine and update.

[2020-03-17 14:53] BhargaviAnnadevara-MSFT commented on #50006
@gitmadness There are no such known limits **as of today** on the number of continuous export jobs one can have for a given Application Insights instance.

That said, please expect to see it documented if such a limit is imposed in the future.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and w

[2020-03-17 14:53] #50006 closed

[2020-03-17 14:55] landro opened #50333 "Paste from local macos to remote ubuntu linux using Azure Bastion"
Is there a way to paste from the local macos clipboard to a remote ubuntu linux server using azure bastion? Ctrl/cmd+v does't seem to work in the terminal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e035d394-de3e-5c25-b539-08a7fa840032
* Version Independent ID: 0c51d3f0-f7ca-9af1-d6f1-02840d4ea4e1
* Content: [Copy a

[2020-03-17 14:59] timsander1 commented on #50137
Thanks @jg11jg! This is a typo in the doc that I will fix. Should be reflected in the doc within 2 days.

[2020-03-17 14:59] timsander1 commented on #50137
#please-close

[2020-03-17 14:59] #50137 closed

[2020-03-17 15:03] tfitzmac commented on #50223
@Jlouden9 - thanks for this feedback. I tested it and I see the same error. I will update the doc.

[2020-03-17 15:06] TestUser0811 commented on #50178
So after integrating AAD with FIDO using the options available on Azure portal, will our existing customer facing web apps (_which uses our in-house secure token service (STS) web api based application which in turn rely on Azure AD for authentication)_, can leverage on AAD-FIDO integration for providing passwordless sign-in experience for end users? (or) after AAD-FIDO integration, passwordless s

[2020-03-17 15:15] vishalaj1 opened #50334 "RBAC + ACLS"
Hi,

Do we need atleast one RBAC role to provide ACL?

Because if we do and we assign BlobReaderRole it shows everyfolder anyways and ACL does not help any where to provdie folder access.

If we give Folder Access only i get this message:
ADLS Gen2 operation failed for: Operation returned an invalid status code 'Forbidden'.

ErrorCode: 'AuthorizationPermissionMismatch'. Message: 'This request is n

[2020-03-17 15:15] SCOMnewbie commented on #46672
I'm not sure why this issue has ben closed. I confirm that when you select AAD as Authentication type in the P2S configuration, you won't have any OpenVPN profile to downlaod.
Does it means everything else than Windows 10 is supported with AAD auth? If yes, I suggest you make it clear in the documentation please.

[2020-03-17 15:16] Palujinho opened #50335 "TimeSpan example"
Example “24:00:00” gives different outcome than one described above since TimeSpan will parse it as 24 days not hours. Therefore it should say ‘every 24 days’.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [T

[2020-03-17 15:16] marawan31 commented on #50286
Hey, thanks for the replay. So basically the limit of connections is actually per entity. I think the documentation needs to be a bit clearer about this especially this page https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quotas in the section "Number of concurrent connections on a namespace" which leads anyone to believe the limit is actually 1000 per namespace for all en

[2020-03-17 15:21] KalyanChanumolu-MSFT commented on #49978
I have created a work item to track this and will submit a PR to update.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-17 15:21] #49978 closed

[2020-03-17 15:23] johnjohnjohn87 opened #50336 "Needs more info"
I don't see anything referring to or linking to install docs for the MMA windows agent available for download. Also, is this for Windows Server only? Can this be deployed to workstations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c8df1-852c-a3b2-96e1-4af8981e3cf9
* Version Independent ID: 2d4a7e2c-dcb2-dcdd-0ae

[2020-03-17 15:24] johnjohnjohn87 commented on #50336
Follow up: Is this required if workstations are already onboarded to Defender ATP?

[2020-03-17 15:25] aholler2 commented on #47749
@RossMurr4y Try running Azure CLI cmd, az webapp list-runtimes --linux

[2020-03-17 15:36] ivan-sam opened #50337 "WSDL namespace issue"
The article says: "Multiple namespaces can be used in a schema, but only the target namespace can be used to define message parts."

However I've got an issue when message part is defined in target namespace, but the type it refers to is defined in different namespace.

So, initial WSDL looks like
[code]

After import it looks like this (namespace of complex type that is used in the message part i

[2020-03-17 15:38] iainfoulds commented on #50007
Thanks for the feedback, @blouwagie

For NPS, that's supported with Azure AD DS, and can also integrate with additional security controls such as Azure Multi-Factor Authentication - https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34781713-support-nps-radius-for-azure-ad-domain-services. We have a document that's due to publish in the next week to show how to configure s

[2020-03-17 15:42] mimckitt commented on #50063
@amergey you cannot change the image reference sku.

I will add image reference SKU to the document to  make that more clear.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#create-time-properties

# Properties with restrictions on modification
## Create-time properties

Some properties can only be set when you create the scale set. T

[2020-03-17 15:42] tina-ho opened #50338 "typo"
Hi, under "Mitigation 4: Remote Registry", in the 3rd step, "you must use Remove Service Console" should be "you must use Remote Service Console". Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e874541-40bf-4ab0-c160-134ba7645cc8
* Version Independent ID: 6ebeb6ad-e0a7-972c-b9c6-3b471e553307
* Content: [Disabl

[2020-03-17 15:49] beelesnik commented on #50319
I have launched script from step 4 and got two files: drop and create constraint.
While execution script to drop constraints I have got an error:
...
ALTER TABLE
psql:drop_fk.sql:20: ERROR:  constraint "order_item_fkey" of relation "mailing_details" does not exist
ALTER TABLE
...
ALTER TABLE
psql:drop_fk.sql:36: ERROR:  constraint "order_item_fkey" of relation "print_assets" does not exist
ALTER T

[2020-03-17 15:55] vishalaj1 commented on #50334
Hi,

I tried now again and i was missing Execute permission on container level. Now it is working. Please close this case.

Regards,
Vishal

[2020-03-17 15:56] DixitArora-MSFT commented on #50335
Hi @Palujinho Thanks for your feedback. We will review and update as appropriate.

[2020-03-17 15:57] DixitArora-MSFT commented on #50337
Hi @ivan-sam Thanks for reaching out. We will review and update as appropriate.

[2020-03-17 15:58] SaurabhSharma-MSFT commented on #50311
@ChrisSommers Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 15:59] SaurabhSharma-MSFT commented on #50313
@davidobrien1985 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 15:59] mwwhited commented on #47253
pretty sure you guy missed the fact that this example doesn't work in 3.1.  No one cares if the assembly is compiled to work.  We need to know how to use it.

[2020-03-17 16:01] namadabu opened #50339 "Download older versions of Cosmos Emulator"
Is it possible to provide download links to specific versions of the Cosmos Emulator? The current download link forces us to download the latest version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independent ID: 07fd7c5a-0ad5-a7b4-21ef-768f183076aa
* Content: [Azure C

[2020-03-17 16:02] SaurabhSharma-MSFT commented on #50320
@yoelhor Thank you for responding
@84618315 Were you able to look into the previous response.

[2020-03-17 16:03] SaurabhSharma-MSFT commented on #50330
@emulic Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 16:05] mwwhited commented on #44467
guys... this is kinda important

[2020-03-17 16:14] dwhite44 opened #50340 "consider-accept-header documentation reversed"
For the json-to-xml policy, on consider-accept-header, it says "apply conversion if JSON is requested in request Accept header." This should actually say if XML is requested. And same issue on the xml-to-json policy. It should say if JSON is requested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bfc-df28-c601-f

[2020-03-17 16:18] farah-alyasari commented on #50303
Hello @akash-roy-123,

To confirm you see a 403 error when you make the first post request after completing step # 4.

I walked through the steps 1 to 4, and I was able to make a post request successfully. I think you forgot to remove { } from the primary subscription key placeholder. When I keep { } in the request, I receive an error.

Let's say my primary key is 123 for simplicity.

The followin

[2020-03-17 16:21] Ayanmullick commented on #50225
Thank you for pointing out. That worked. However, the NAT rule association doesn't show up on the Azure Portal until the owner VM is booted up once.

[code]

[2020-03-17 16:21] #50225 closed

[2020-03-17 16:23] SaurabhSharma-MSFT commented on #48658
@hew85 Are you able to look into my previous response ?  Also, can you please explain what do you mean when you say in your ask -

[2020-03-17 16:24] tbolon commented on #29895
As Powershell Core 7.0 is now in GA, more and more users will receive this error. At least, a notice should state that for now, this module requires using Powershell 5.1

[2020-03-17 16:26] RyanLWilliams opened #50341 "Can't set host name"
When creating a Host Pool with this example command

New-RdsHostPool -TenantName &lt;tenantname&gt; -Name &lt;hostpoolname&gt;

Host Pool Name on the web client and desktop client is showing as "Session Desktop" regardless of the name provided. Also tried setting a friendly name. Have tried latest and one previous PowerShell module

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-17 16:29] AshokPeddakotla-MSFT commented on #49887
@kiranpradeep Sorry to hear that I couldn't address your question.

As I mentioned, if it is new deployment, IoT Edge runtime reports an error code until configured with a valid manifest.

Once an IoT Edge device receives a deployment manifest, it downloads and installs the container images from the respective container repositories, and configures them accordingly. Once a deployment is created, a

[2020-03-17 16:31] jcbrooks92 commented on #41583
It really depends on what port the protocol is using. Mounting drives uses SMB which utilize 445 and 139 which are blocked. I've seen some customers get some communication working with AD but some APIs may get blocked since its using a restricted port.

[2020-03-17 16:31] erotavlas commented on #49705
@jakaruna-MSFT  Any updates on this?

[2020-03-17 16:32] SaurabhSharma-MSFT commented on #50336
@johnjohnjohn87 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 16:38] DCtheGeek commented on #50143
@milope Thanks for the question! I'm validating with the team that the resource types that don't require a location field are covered by the inclusion of 'global' as a check. As a note, this is a pattern explanation, not a sample. For samples, we recommend looking at the [Azure Policy built-ins repo](https://github.com/azure/azure-policy) and the [Community Policy Repo](https://github.com/Azure/Co

[2020-03-17 16:41] DrBingYang commented on #6297
After publishing the function in VS, I got a HTTP 404 error
That’s odd... Microsoft Edge can’t find this page. Please help.

[2020-03-17 16:42] sergioalisys opened #50343 "KeyError: 'channel_0' in transcription.results_urls"
Hi there,

I've been using the Speech-to-text service (with blob storage) for a while and today I've started to face problems:.
Using the API with Python (basically the same code as above), the line

results_uri = transcription.results_urls["channel_0"]

gives a KeyError: 'channel_0' exception when transcription ends (status becomes succeeded  'status': 'Succeeded').
In "transcription" (JSON), tra

[2020-03-17 16:42] mleneveut opened #50344 "SQLDatabase Failover page : is it now GeoReplication ?"
The tutorial is talking about a "Failover groups" menu on the Azure portal resource.

I don't see this menu, is it now the Geo-Replication menu ?

![image](https://user-images.githubusercontent.com/3854415/76879306-5fbef080-6876-11ea-8d9e-3088ccbb9242.png)

If yes, the doc should be updated.

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-17 16:42] TomArcherMsft commented on #48803
@Karishma-Tiwari-MSFT Thanks for the nudge. I'm working on this now.

[2020-03-17 16:44] kiranpradeep commented on #49887
Thanks for detailed explanation. Closing.

[2020-03-17 16:44] #49887 closed

[2020-03-17 16:48] jtuliani opened #50346 "Can't remove customer...really?"
Doc states: "There is currently no mechanism to reject or remove delegations once a customer accepts an offer, although you can always reach out to a customer and ask them to remove your access."

Yet in https://docs.microsoft.com/en-us/azure/lighthouse/concepts/tenants-users-roles it says "Include a user with the Managed Services Registration Assignment Delete Role so that you can remove access t

[2020-03-17 16:53] jotavar opened #50347 "AKS can also use VM scale sets"
the phrase "AKS provides high availability by using multiple nodes in an availability set" implies that only VMAS can be used in AKS, but VMSS can also be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6557663-a845-e50b-9db8-529b57f3ee1d
* Version Independent ID: a8accf2c-91d9-dab0-1c04-e8b798b28770
* Content: [H

[2020-03-17 16:53] Unders0n opened #50348 ""language": "Russian" doesn't work"
subj. When i'm using api and sending "language": "Russian", KB is creating, but language is still English.

payload:
POST https://xxxxxxx.cognitiveservices.azure.com/qnamaker/v4.0/knowledgebases/create HTTP/1.1
Host: flexibotkb.cognitiveservices.azure.com
Content-Type: application/json
Ocp-Apim-Subscription-Key: ••••••••••••••••••••••••••••••••

{
  "name": "12",
  "qnaList": [
    {
      "id": 0

[2020-03-17 16:55] tanmaygore commented on #50215
Is there a commit for this? I can view the changes made here.

[2020-03-17 17:01] PeterCLu commented on #49616
@ballcap231 thanks for your report, this  issue has been added to our documentation backlog. We will be addressing this issue in our documentation soon. #please-close

[2020-03-17 17:01] #49616 closed

[2020-03-17 17:03] Karishma-Tiwari-MSFT commented on #47753
@pkshultz Can you please take a look at this doc request? Thanks :)

[2020-03-17 17:05] drdamour commented on #50118
fwiw connection policy is documented at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture but it hasn't been updated to indicate the change can now be made via the portal either.  very interested in what Deny public network access does

[2020-03-17 17:09] SaurabhSharma-MSFT commented on #50228
@karataliu Can you please check if Purge Protection is on for the key vault as when purge protection is on you cannot purge a keyvault or its objects until the retention period is passed.  Default is 90 days but you can change the retention period interval from 7 to 90 days on Azure Portal but once the retention policy interval is set it cannot be changed for the key vault.
Also, when you are tryi

[2020-03-17 17:11] Karishma-Tiwari-MSFT commented on #47374
@LauraBrenner I am not able to find the example script code md file, and thus unable to fix it. Can you please take a look? Thanks :)

[2020-03-17 17:12] lisaguthrie commented on #47253
Hi @mwwhited - I ran through the Functions quickstart with a v2 Function targeting .NET Core 2.1, and a v3 Function targeting .NET Core 3.1. Both worked exactly as written. Are you having a problem or seeing an error with .NET Core 3.1?

[2020-03-17 17:13] timsander1 commented on #50136
Hi @jg11jg. This is a great question. I can confirm that this not a typo and we can actually extend this concept to most queries (even those without OFFSET LIMIT). If you run a query in Azure Cosmos DB without an ORDER BY clause, results will appear in the same order each time. The exact order of query results is based on an internal system property so if you'd like the documents to appear in a pa

[2020-03-17 17:13] timsander1 commented on #50136
#please-close

[2020-03-17 17:13] #50136 closed

[2020-03-17 17:15] SaurabhSharma-MSFT commented on #50150
@deep-mm can you please provide the documentation link.  Also, have you tried checking the key you are trying to recover is in deleted state using `az keyvault key list-deleted --vault-name <<Your Vault Name>>`

[2020-03-17 17:16] Karishma-Tiwari-MSFT commented on #49022
Thanks @pkshultz for looking into it. I have assigned it to you in case any doc update is needed. Thanks :)

[2020-03-17 17:17] Mike-Ubezzi-MSFT commented on #50339
@namadabu Thank you for your inquiry. May I ask why a previous version is desired, as I am simply asking as a means of understanding and providing feedback to the product group. The emulator is developed alongside the live service and functionality is intended to match between the two. In making previous versions available it potentially creates a supportability issue.

[2020-03-17 17:17] LauraBrenner commented on #47378
@mscurrell @pkshultz - Please review the comments above and provide me with information. thanks,.

[2020-03-17 17:19] LauraBrenner commented on #47290
@mscurrell @pkshultz - Please review feedback and provide update info.

[2020-03-17 17:20] ChristianMontoya commented on #29895
Sure, it's a matter of stating PowerShell 5.1 The challenge is that we do specify to download the module where we say this matter, but we could try to highlight this more.

[2020-03-17 17:20] LauraBrenner commented on #47374
@mscurrell @pkshultz  - please review and provide update.

[2020-03-17 17:24] tfitzmac commented on #50223
The doc has been updated.
#please-close

[2020-03-17 17:24] #50223 closed

[2020-03-17 17:24] pkshultz commented on #47753
Thanks for the suggestion @woraperth! I believe this was fixed as part of [a change](https://github.com/MicrosoftDocs/azure-docs/commit/68777b5828cc2d8411930322b5081c3dbcfd61bf#diff-594e16f43196b47155ad875c6dce2a18) @LauraBrenner  made on February 11th.

@Karishma-Tiwari-MSFT, feel free to close.

[2020-03-17 17:25] LauraBrenner commented on #44562
@mscurrell @pkshultz Please review and provide needed info.

[2020-03-17 17:26] Mike-Ubezzi-MSFT commented on #50344
@mleneveut Thank you for bringing this to our attention. I will have the content team review this and update the documentation accordingly.

[2020-03-17 17:33] YutongTie-MSFT commented on #50343
@sergioalisys
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-17 17:34] jstafford5380 commented on #27395
So what was the verdict? @KalyanChanumolu-MSFT is saying they're mutually exclusive, but @cijothomas  is saying they enable two different things (one for monitoring, the other for logging)

[2020-03-17 17:41] namadabu commented on #50339
@Mike-Ubezzi-MSFT  That is a valid point and I agree with it. I would like to provide a counter example. What if the latest version of Cosmos Emulator has a bug in it (like 2.9.0 had) and I have installed it. Now my local development environment is broken unless the next version is released. And I have no way to go back to an older version of the emulator.

[2020-03-17 17:47] MarileeTurscak-MSFT commented on #50302
@beelesnik
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 17:48] sethmanheim commented on #49759
@dcbrown16 Thank you for pointing this out! I'm not sure of what happened here, but for now I will link to the Security article. This should be live after 3 PM today PDT. Thanks again for the contribution! #please-close

[2020-03-17 17:48] #49759 closed

[2020-03-17 17:49] mohamed-shehata-m commented on #50118
It blocks public access over the public endpoint (from ) internet, you have to access Azure SQL server using private endpoint.
![image](https://user-images.githubusercontent.com/25155380/76885652-da403e00-687f-11ea-9610-7b5b8f37ab73.png)

[2020-03-17 17:50] JadenLy commented on #50295
@RohitMungi-MSFT Thanks for your information. I found that I did not use the tag id during creation entry process. It has been fixed, closing now.

[2020-03-17 17:50] #50295 closed

[2020-03-17 17:51] bandersmsft commented on #50201
@manakib If you need to cancel, exchange, or refund a reservation see https://docs.microsoft.com/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations#cancel-exchange-and-refund-policies.
#pelase-close

[2020-03-17 17:52] bandersmsft commented on #50201
@msrini-MSFT Please close.

[2020-03-17 17:52] DCtheGeek commented on #50143
@milope Thanks again for asking on this. The pattern is good as-is and only evaluates resource types that have a location by setting `"mode": "Indexed"`. Please make sure that if you are doing a location based policy, that you are setting mode to **indexed** and it's not set to **all**.  This is likely the cause of the issue you are seeing. For more information on **mode**, see [Policy definition

[2020-03-17 17:52] #50143 closed

[2020-03-17 17:52] #50201 closed

[2020-03-17 18:00] MarileeTurscak-MSFT commented on #50316
@ManoKanmani
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 18:02] tfitzmac commented on #49259
@michaelelleby - thanks for this feedback. I have submitted an update to clarify the different uses. It should get published this afternoon.

[2020-03-17 18:02] tfitzmac commented on #49259
#please-close

[2020-03-17 18:02] #49259 closed

[2020-03-17 18:06] bruceokallau commented on #50162
Hi @likebupt ,

I'm trying to incorporate this tool here https://github.com/JasonKessler/agefromname into a webservice. I want to send Azure ML a dataset from my SQL server and then have that agefromname tool give me an output that I can then take back into my SQL server.

[2020-03-17 18:13] #50190 closed

[2020-03-17 18:18] mostwired opened #50350 "Built into a bot?"
Is this something that's built into the default bot for Q&A? How do I enable rating suggestions in the bot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcd7d96a-7def-6b8b-2753-2904737ac743
* Version Independent ID: e71a1b3f-da7c-e79e-8bdf-54a5ecf8d8ca
* Content: [Active learning suggestions - QnA Maker - Azure Cogni

[2020-03-17 18:18] MikeWedderburn-Clarke commented on #41583
Found the associated GH issue which has now been closed: https://github.com/MicrosoftDocs/azure-docs/issues/36224  This doc says "AD" doesn't work but, based on that, it should say "AAD" doesn't work.

[2020-03-17 18:20] cynthn commented on #48970
@kismet-cai Thank you for the feedback. I'm working on some changes to the SSH content and I'm tracking this and other updates to that content separately. I'm going to close this issue for now. Thanks!

#please-close

[2020-03-17 18:20] #48970 closed

[2020-03-17 18:25] mimckitt commented on #49621
I am taking a look into this one.

[2020-03-17 18:32] n6jdemer opened #50351 "Typo"
Their should be there ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98a03fd3-b6f5-fad4-3e3a-6e8b6f4c1c4f
* Version Independent ID: 2c960f5e-1ad2-93fe-c4bd-95c87f06e0dd
* Content: [How to use Single Sign-on with cloud provisioning](https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-sso

[2020-03-17 18:45] sdgilley commented on #50112
@ram-msft - thanks for your question.  The odbc driver is not currently installed in the compute instance image.  There is an open task to fix this.  Once the feature is available, we'll add it to our documentation.

#please-close

[2020-03-17 18:46] #50112 closed

[2020-03-17 18:50] reijoh opened #50352 "EncryptionOperation values for Windows VM"
It seems this page is wrong when listing "EnableEncryptionFormatAll" as a value for EncryptionOperation. This may be valid for Linux VM, but when I try to use this value for a Windows VM the deployment fail with following error:
{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state

[2020-03-17 18:59] mwwhited commented on #47253
That just mean's you guys didn't look at the issue.  We dont want or need this static constructor.  We need it working with the IOC container and startup.cs on the Azure Functions.

[2020-03-17 19:11] JasonRBeer commented on #49689
@aarontownley Thank you so much. This pushed me in the right direction. Unfortunately it's not quite that easy as some people will be given multiple VPNs for different environments. For now it looks like a PowerShell script pushed through Intune will do. I can parse the rasphone.pbk file and add connections if necessary.

[2020-03-17 19:12] PeterCLu commented on #50184
Hi @meswaramoorthy,
Thanks for your report. Since this is a product-bug, I'll proceed to #please-close this documentation issue.

A new product bug has been created in the the vscodes-tools-ai repo. You can track it's progress [here](https://github.com/microsoft/vscode-tools-for-ai/issues/446)

[2020-03-17 19:12] #50184 closed

[2020-03-17 19:15] mhopkins-msft commented on #50266
Hi @eliwolfsohney,

Thank you for your suggestion. Uploading a file versus a string requires using Node.js file APIs. This is outside the scope of Azure documentation and outside the scope of this quickstart. Consider posting your question on StackOverflow. You can usually find answers there to more general JavaScript coding questions like this.

Thanks again for reaching out,
 ~ _Mark_

#please-c

[2020-03-17 19:15] #50266 closed

[2020-03-17 19:21] henriquebelotto opened #50354 "data-preload="true" - Self-asserted pages"
Hello,

I'm customizing my self-asserted pages and I just added the tag data-preload="true", as recommended in this page, to my CSS &lt;link&gt;. The sign up or sign in (initial page) works fine, but when I move to the self asserted, and I get this error "Uncaught DOMException: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules" in the console. If I remove the preload

[2020-03-17 19:24] mike-urnun-msft commented on #49895
@ravick4u It should be the same cmdlet per the breaking changes that were documented [here](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-3.6.1#azwebsites-previously-azurermwebsites). Let me know if you run into any issues and I'd be happy to provide further assistance.

We will now proceed to close this thread for now. If there are further questions regarding this m

[2020-03-17 19:24] #49895 closed

[2020-03-17 19:28] henriquebelotto commented on #50354
This is the full error message
unified?local=signup&csrf_token=<hidden>==&tx=StateProperties=eyJUSUQiOiIxZTkyY2I3YS04NDczLTQyNzEtOWI3ZS0zNmNiMjIwMTViODMifQ&p=B2C_1A_SignUpOrSignIn:197 Uncaught DOMException: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules
    at https://caatmemberportal.b2clogin.com/caatmemberportal.onmicrosoft.com/B2C_1A_SignUpOrSignIn/api/Combined

[2020-03-17 19:29] dgshaver opened #50355 "Change to FireFox configuration required for FireFox 67 and above"
In the "Use the tunnel from your browser" section of this article, instructions for configuring a proxy for FireFox are provided.  Beginning in FireFox 67, network.proxy.allow_hijacking_localhost must be set to true in about:config, or the connection to the remote headnode will not work.

Please reference this bug report on bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1535581

Please rea

[2020-03-17 19:37] deep-mm commented on #50150
@Saur

[2020-03-17 19:37] JnHs commented on #50346
Thanks @jtulani, you're right! Delegations can be removed as long as this role was enabled - I missed updating that line but will do so shortly. #in-progress

[2020-03-17 19:42] johnwildes opened #50356 "Correct date above?"
I swear I was just at this page yesterday, and the number of private link resources has increased dramatically, yet the date updated only shows 01/09/2020?  I'm happy there's more listed but I just wanted to make sure this date is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62

[2020-03-17 19:46] CeciAc opened #50357 "DNS Label example"
@jmorcar commented on [Tue Mar 17 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/704)

If were possible, I need an example with dns label on a internal loadbalancer. I see this example:
 annotations:
    service.beta.kubernetes.io/azure-dns-label-name: myserviceuniquelabel

But, the example I think is for public loadbalancer , while I need internal dns label .local service like:
&l

[2020-03-17 19:48] Karishma-Tiwari-MSFT commented on #47753
Thanks @pkshultz for sharing the update. :)
@woraperth  Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-17 19:48] #47753 closed

[2020-03-17 19:49] Mike-Ubezzi-MSFT commented on #50118
@mohamed-shehata-m Thank you for this additional detail. I am providing detail of where these links are located and what I think is the documentation they should be linking to.

![Screenshot (795)](https://user-images.githubusercontent.com/37126106/76894884-38532e00-684c-11ea-89f8-01558e8677ee.png)

[Private Link for Azure SQL Database and Data Warehouse](https://docs.microsoft.com/en-us/azure/sql

[2020-03-17 19:49] #50118 closed

[2020-03-17 19:52] Karishma-Tiwari-MSFT commented on #50063
Thanks Micah.
@amergey The PR has been merged and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-17 19:53] #49856 closed

[2020-03-17 19:56] Karishma-Tiwari-MSFT commented on #50114
Thanks @SzucsAti for sharing the update.
I will close it for now as no action pending from my side. Please let me know once you have an update and if there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-03-17 19:56] #50114 closed

[2020-03-17 19:56] Karishma-Tiwari-MSFT commented on #49948
That's good to hear that your issue is resolved. Thanks for sharing the update.

[2020-03-17 19:57] Strandfelt opened #50358 "UserHelpText not shown following failed validation"
Hi,
I have followed the updated version of this guide and added the required elements to my TrustFrameworkExtensions.xml.
Through the source debugger in Chrome, I can see that my predicates are in fact used in the validation of the field, however the UserHelpText is not shown in the form. Only the generic error message is shown: "One or more fields are filled out incorrectly. Please check your ent

[2020-03-17 19:58] Karishma-Tiwari-MSFT commented on #50156
@briantaintor Did you get a chance to look into this? Thanks :)

[2020-03-17 20:06] miketoupin commented on #49746
I might need to try Raymond78 option. @viswananadham-k,  the exceptions is empty.

[2020-03-17 20:09] mike-urnun-msft commented on #49898
@zer0big Looks like the example is using the [Azure Classic CLI](https://docs.microsoft.com/en-us/cli/azure/install-classic-cli?view=azure-cli-latest) which is deprecated. I've created a PR that updates the example to use the Azure CLI. Thank you for reporting this and helping us drive improvements towards MS Docs!

We will now proceed to close this thread. If there are further questions regarding

[2020-03-17 20:09] #49898 closed

[2020-03-17 20:11] himanshusinha-msft commented on #50265
@chvsuresh Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a azure online document which you are following and if you think it ne

[2020-03-17 20:14] msangapu-msft commented on #39662
@bruce-solar Better late than never, right? :) We've added a note mentioning init.sh. The change will be live in a few hours. Internal PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/107982

[2020-03-17 20:14] miketoupin commented on #49746
Using sinple HTTP request worked. Now the LogicApp closing properly after half a seccond.  Now we only have to resolve why the scaling does not work.  Thanks!

[2020-03-17 20:14] Karishma-Tiwari-MSFT commented on #50338
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Navigate to the page of interest
2.	Select

[2020-03-17 20:14] #50338 closed

[2020-03-17 20:24] Stuzest opened #50359 "$email is not defined in script"
$email is not defined in script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8984951b-7ece-4964-ed6e-5266174d2ffb
* Version Independent ID: 163b743d-fd7f-9c50-f01c-79a4521c5236
* Content: [Tutorial for bulk inviting B2B collaboration users - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direct

[2020-03-17 20:27] TravisCragg-MSFT commented on #50333
@landro Can you try to paste it to the Bastion clipboard, and then copy and paste from the Bastion Clipboard to the terminal?

[2020-03-17 20:30] NavtejSaini-MSFT commented on #50040
@JasonBSteele @sujayvsarma Really great to see the community helping each other. We are assigning this our author to check the requirement and make the change to doc if needed.
@markjbrown @SnehaGunda Please check the feedback and help with your insight.

[2020-03-17 20:34] Oddjobe opened #50361 "Video is missing"
UInder this text "This video shows some sample timings transforming data with data flows:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ca34d-0f6b-64eb-745c-27427c017f8d
* Version Independent ID: 6ca5ca5f-c8a1-6924-0afd-c96bec08fc97
* Content: [Mapping data flow performance and tuning guide - Azure Data Factory](h

[2020-03-17 20:38] shashishailaj commented on #49856
@StefanIvemo This is currently under review with the content authors. We will have this article updated after they approve the pull request.

Thank you.

[2020-03-17 20:40] NavtejSaini-MSFT commented on #50142
@beelesnik You can use the Azure CLI commands to list all server parameters and their values and use the CLI commands to set the values as well
Here is the document for the same:
https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-server-parameters-using-cli

If you want the same in portal, please visit the feedback site for Azure Postgresql and leave you feedback:
https://feedback.a

[2020-03-17 20:42] ejarvi commented on #50352
Thanks for catching this issue in the docs, you're correct - the EnableEncryptFormatAll value is only applicable on Linux, not Windows.  Starting process to fix the main doc...

[2020-03-17 20:45] shashishailaj commented on #50183
@andrewcrayden Please let us know in case the provided information helped you .

[2020-03-17 20:45] banisadr commented on #49942
Oh, interesting question @romankiss, thanks for bringing it up. I actually don't know if we have a way of doing this at the moment. Let me get back to you shortly.

[2020-03-17 20:47] chetansriv commented on #37985
@dkershaw10 We have made changes in the article, please review.

#please-close

[2020-03-17 20:47] #37985 closed

[2020-03-17 20:53] blouwagie commented on #50007
Hi @iainfoulds
Thank you!

- I had to look up what NPS stands for: NPS performs authentication, authorization, and accounting for connection requests for the local domain and for domains that trust the local domain. https://docs.microsoft.com/en-us/windows-server/networking/technologies/nps/nps-plan-server
- I look forward to seeing that document for AAD, this has been a major stumbling block, and

[2020-03-17 21:01] KumudD commented on #49881
@shanecribbs This article has been updated. Thanks!

#please-close

[2020-03-17 21:01] #49881 closed

[2020-03-17 21:05] swjain23 commented on #50319
Hi @beelesnik ,

Looks like it is deleting the same constraint multiple times in the script that is generated.

I see DROP CONSTRAINT order_item_fkey 4 times in this line: "alter table print_assets DROP CONSTRAINT order_item_fkey,DROP CONSTRAINT order_item_fkey,DROP CONSTRAINT order_item_fkey,DROP CONSTRAINT order_item_fkey". Because of which it is causing that error as it cannot find the constrai

[2020-03-17 21:07] femsulu commented on #50307
Hi @armcmu, Can you share the link to the Azure Documentation you are referencing so we can review and investigate further?

[2020-03-17 21:09] banisadr commented on #49942
@romankiss unfortunately we do not have an escape character built into key definitions for advanced filters and barring that, this is not possible today. I've added it to our backlog for consideration during future improvements of filtering.

So that I can include it, are there any other details of your use case you can share and what is being blocked from a functional standpoint?

[2020-03-17 21:17] iainfoulds commented on #50007
Okay, there's a lot of things going on here that aren't really docs-related :) @shashishailaj may be able to help set up an advisory support request to review some options, and the Microsoft Q&A discussions forum for Azure AD DS may also be able to help - https://docs.microsoft.com/answers/topics/azure-ad-domain-services.html

To try and address your main points:

- The Network Policy and Access S

[2020-03-17 21:18] marktab commented on #50224
FYI -- the specific area is under AAD, the call is expecting a table to be named

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-spark-connector.md#connect-spark-to-azure-sql-database-using-aad-authentication

[2020-03-17 21:20] femsulu commented on #50329
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-17 21:21] Mike-Ubezzi-MSFT commented on #50344
@mleneveut There is an internal discussion occurring but wanted to state that what you are likely seeing is that Failover Groups is a logical SQL Server functionality and Geo-Replication is database level functionality. Please see the two screen captures that demonstrate this:

**SQL Server (logical)**

![Screenshot (798)](https://user-images.githubusercontent.com/37126106/76902956-4445ec80-685a-1

[2020-03-17 21:23] NavtejSaini-MSFT commented on #50149
@beelesnik This issue is more related to PostGresql rather than Azure Postgresql. The resolution for the same is in the same post:
_If you really want this, then you could modify pg_language system catalog (ALTER LANGUAGE doesn't have such option):
UPDATE pg_language SET lanpltrusted = true WHERE lanname LIKE 'c';
Per user @Otheus below: the UPDATE statement must be done in the DB where the functi

[2020-03-17 21:25] NavtejSaini-MSFT commented on #50018
@arvind-dhariwal We are assigning this to our author for further review.
@kevinvngo Please check the feedback from user and check if the document can be enhanced.

[2020-03-17 21:28] olivoarroba commented on #49112
Hi @AshokPeddakotla-MSFT sorry for not answering earlier. I've continued to play around with TSI-preview APIs. And there is one thing that I have not found how to do which you might be able to help me with.
In the current TSI, if I have N number of devices reporting metrics. I can run a query to give me an aggregation of metric X over the entire N number of devices. For example, this is a typical

[2020-03-17 21:34] femsulu commented on #50332
@kamaleshs48, happy to help! can you please share the Azure Documentation you are referencing so we can investigate further?

[2020-03-17 21:35] NavtejSaini-MSFT commented on #50080
@SnehaGunda The Nuget is owned by Xabaril and user has a feed back regarding the same. Please check if we need to send this directly to Product Group and cc you or can this be handled in the document itself? Please convey the right course of action here.

[2020-03-17 21:37] dgshaver commented on #50355
This applies to the HTTP proxy and we use SOCKS5.  I am thinking this is not applicable, but verfying.  Sorry for the confusion.

[2020-03-17 21:37] #50355 closed

[2020-03-17 21:37] femsulu commented on #50346
@jtuliani - thanks for the comment. Really good catch. Assigning this to content owner to review and take necessary action.

Cheers.

[2020-03-17 21:44] femsulu commented on #50348
@Unders0n , happy to help! please share the link to the Azure documentation you are referencing and we can assist further.

cheers.

[2020-03-17 21:53] ashrayjain commented on #31491
@SaurabhSharma-MSFT @msmbaldwin Could we get an answer here please? We are also trying to use the "current" version of a key and are having trouble finding what needs to be set as the version in order to do that.

[2020-03-17 21:53] tbolon commented on #29895
My bad, I missed that (and you are right, this limitation is obviously the first point of the cmdlet install page).

[2020-03-17 21:58] mike-urnun-msft commented on #50012
@seagullt Thanks again for your feedback. Could you send us an email at `azcommunity at microsoft dotcom` so that we can review the missing IP addresses with the required teams internally? Since this documentation itself doesn't list all of the IP addresses but just links to a JSON file containing the IP addresses for download, it'd be better to validate the IP addresses in question internally and

[2020-03-17 21:58] #50012 closed

[2020-03-17 21:59] b-juche commented on #50187
@mikenri - Let us know if you disagree with the approach lined above.  You can reopen this issue for further discussion.

Closing this issue for now.
#please-close

[2020-03-17 21:59] #50187 closed

[2020-03-17 22:03] NavtejSaini-MSFT commented on #50133
@taromielnaz We are assigning this to our author and raised it with Product Group as well. We expect an answer soon for you.

[2020-03-17 22:04] cljung commented on #50154
Safari is working and supported, It is not incompatible.

[2020-03-17 22:09] golfalot commented on #20561
The experience of email validation is poor. I have a WebApp up and running with an A record for www.mydomain.com so needed to complete setup using the cdnverify.www method with email for SSL, prior to switching my www A record for the requisite CDN CNAME .  I did not have MX records defined for www as ***I imagine most people don't either***. Having configured MX and an email account, deleted the

[2020-03-17 22:10] DeanGross commented on #44891
I have elevated myself to Global Admin, and I still get an error You cannot perform this action without the following permissions over selected scope (Microsoft.Authorization/PolicyAssignments/write)... When I search for this permission, I can't find anything about a Write method for the PolicyAssignments

[2020-03-17 22:15] Karishma-Tiwari-MSFT commented on #50352
Thanks @ejarvi for confirming.
@reijoh The PR is created and changes will be live shortly after merge.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-17 22:15] #50352 closed

[2020-03-17 22:22] #49968 closed

[2020-03-17 22:22] lobrien commented on #49968
You can activate Office on the DSVM using any of:

- KMS https://docs.microsoft.com/en-us/deployoffice/vlactivation/activate-office-by-using-kms

- MAK https://docs.microsoft.com/en-us/deployoffice/vlactivation/activate-office-by-using-mak

- Your own Microsoft account

[2020-03-17 22:23] lobrien commented on #49968
Documented in https://github.com/MicrosoftDocs/azure-docs-pr/pull/108063

[2020-03-17 22:32] cijothomas opened #50363 "Document all available ApplicationInsightsServiceOptions"
ApplicationInsightsServiceOptions now contains more options. It now has options for each auto-added telemetry module.
This doc should be updated to reflect the new options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6440efaf-8541-515d-7d87-ce2b5ee40e39
* Version Independent ID: 8743926d-744e-fef0-af49-a16e6b37dc88

[2020-03-17 22:33] #50281 closed

[2020-03-17 22:41] MarileeTurscak-MSFT commented on #50351
@n6jdemer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 22:45] jijohn14 commented on #7650
#please-open for certificate reference in the osprofile which points to a keyvault in different subscription.

[2020-03-17 22:45] romankiss commented on #49942
Thanks Bahram,

- have a look at the following https://stackoverflow.com/questions/60611974/azure-event-grid-resource-write-success-filter-by-email-address

[2020-03-17 22:45] jijohn14 commented on #7650
#please-open

[2020-03-17 22:46] Vijaydaswani opened #50364 "Export Redis Cache rdb to container using powershell : failed"
[]
 Failed to export rdb (redis cache backup ) using powershell.

Error : Export-AzRedisCache : Long running operation failed with status 'Conflict'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2ac600-6128-94ee-ea2d-96a2d97856bd
* Version Independent ID: abeeaa6b-bfb2-7536-c8b5-b22a0817384d
* Content: [Manage Azur