[2022-01-19 20:28] viroopax opened #86655 "INCORRECT tagging of cluster configs A, B , C, D in the text"
[Enter feedback here]
Note that the CLUSTER A is marked in the diagram as X-Large and with many cores, while the text shows that cluster A should be utilized as the smallest cluster initially. Please review and correct all the labels for the diagrams or correct the text within the prescriptive approach given for data engineers vs. data scientists and ML training environments.

It would be great to

[2022-01-19 20:47] thisisanniefang commented on #85928
#please-close I've gone ahead and made the wording fixes - PRs have been merged!

[2022-01-19 20:47] #85928 closed

[2022-01-19 21:20] JamesTran-MSFT commented on #86526
@ChristianJBergstrom
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/150215549-ef8cb9fc-7525-40dc-ad5d-926f35863941.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you f

[2022-01-19 21:20] #86526 closed

[2022-01-19 21:22] JamesTran-MSFT commented on #86535
@ChristianJBergstrom
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-19 21:23] robinhultman commented on #36458
@hb66772-home Won't WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING be replaced with nothing during the swap if you don't set it in the slot settings?

[2022-01-19 21:29] JamesTran-MSFT commented on #86546
@sinedied
When clicking on the `Run in Postman` button at the top of the doc, I wasn't able to reproduce the error that you're seeing. I successfully launched Postman within my browser and found the OAuth 2.0 device authorization grant flow.
![image](https://user-images.githubusercontent.com/36619112/150216320-952de233-89a8-4e80-99df-eba020a1eb7f.png)

- Are you getting this error after logging in

[2022-01-19 21:36] MarileeTurscak-MSFT commented on #86650
@kenkinkopf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-19 21:37] RyanHill-MSFT commented on #86651
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-19 21:41] greatromul commented on #50339
@milismsft Thank you for you reply. Indeed, the problem was with local data which I didn't expect upgrading from 2.14.1 to 2.14.5. Anyway, it would be useful to have older versions as backup. Then I could postpone that investigation and finish my tasks. So, I still think that the namadabu's request makes sense.

[2022-01-19 21:42] tfitzmac commented on #86471
I was wondering if there are some ancillary resource types that use the name of the Exchange server as the basis of the name for those resource types. It might be how you are ending up with Exchange in the name of resource type that doesn't allow reserved names.

[2022-01-19 21:46] JamesTran-MSFT commented on #86638
@FaffeF
Thanks for your pointing this out! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

Redirect URL with one dash, `https://xn-exmple-cua.com`, works. However, when using two dashes `https://xn--exmple-cua.com`, there's an invalid URL error.

![image](https://user-images.githubusercontent.com/36619112/150218850-833841ed-bf45-4b0e-946f-e

[2022-01-19 21:46] JamesTran-MSFT commented on #86643
@cveld

[2022-01-19 21:47] mumian commented on #86577
@VitalyMCT - thank you for your comments. Currently the Azure portal doesn't support Bicep files. You can't import a Bicep file to create a template spec. To create a template spec from a Bicep file, you can use Azure CLI, or Azure PowerShell.  See the "Create template spec" section in the article.  I will update the article later today.

#please-close

[2022-01-19 21:47] #86577 closed

[2022-01-19 21:49] #86643 closed

[2022-01-19 21:50] GLComputing commented on #86471
Azure Arc uses the machine name for the resource. But the KB on the protected names says it's only "When deploying a resource that is available through a public endpoint," - https://docs.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/error-reserved-resource-name

[2022-01-19 22:01] rolyon commented on #73096
Hi @Shto1337
Thanks for providing your feedback. We apologize for the delayed response. We've created an internal work item for the team to review your suggestions to update this doc. We are closing this issue for now, but feel free to provide any additional feedback.
thanks

[2022-01-19 22:01] rolyon commented on #73096
#please-close

[2022-01-19 22:01] #73096 closed

[2022-01-19 22:10] pebarrer opened #86658 "Misleading Documentation"
These instructions only work if you follow the Create Storage Account Wizard.  They are misleading if you are trying to configure an already existing storage account.  In my case I had one that was created from a Function App and this article made the configuration more confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-01-19 22:10] ekmineev commented on #86579
Hello again @fieldsJacksonG! Please check the Identity blade of your Remote Rendering account - the functionality has been restored.

[2022-01-19 22:17] sandervandevelde opened #86659 "'Deploy to Azure' fails in Chrom and Edge, not in FireFox"
This is how the Deploy To Azure button looks like in Chrome and Edge:

![image](https://user-images.githubusercontent.com/694737/150222702-844c0ca4-21a4-4cf0-88fd-15d30d71c82c.png)

When I open https://docs.microsoft.com/en-us/azure/iot-central/core/howto-build-iotc-device-bridge

In FireFox it is OK:

![image](https://user-images.githubusercontent.com/694737/150222783-2aae46da-0f40-46c8-a5fe-816b

[2022-01-19 22:18] MarileeTurscak-MSFT commented on #86616
@marceluniper
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-19 22:32] shawntmeyer opened #86660 "Convert an existing vm?"
The article seems to contradict itself in the subject area. Can I deploy Gen2 VMs today without trusted launch enabled and turn it on later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cedc5fc7-5576-f22f-9c9a-a2977ad93607
* Version Independent ID: e7cda6ea-acd1-b56f-9d81-92d6fde31921
* Content: [Trusted launch for A

[2022-01-19 22:33] atkulp opened #86661 "Question about App Insights app version"
Your sample (under A|B Testing) shows setting your application version using `itemProperties.Properties["AppVersion"]`, but there is already a standard property of `ITelemetry.Context.Component.Version` or even globally set with `ApplicationInsightsServiceOptions.ApplicationVersion`.  Is there a reason this would use a custom property?

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-19 22:38] chadmcox commented on #86574
This failed for me when I tried it.

Sent from my iPhone

On Jan 19, 2022, at 9:46 AM, PRMerger8 ***@***.***> wrote:

﻿

Closed #86574<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs%2Fissues%2F86574&data=04%7C01%7C%7Ccaeec5ea766044c82b9e08d9db6b4181%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637782075970377397%7CUnknown%7CTWFpbGZsb3d8eyJW

[2022-01-19 22:39] JimacoMS4 commented on #85381
Hi @dnovvak -- just FYI, I'm still trying to get some help from the product team on this. -Jimaco

[2022-01-19 22:50] ecfan commented on #86175
@divyaswarnkar, please respond? Thanks!

[2022-01-19 23:13] JimacoMS4 commented on #68690
@yiyiguo @DeepikaSadahiro can you provide some details here? Assigning to Yiyi. Also, this is linked in the following ADO item: https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1249930/?triage=true.

[2022-01-19 23:13] JimacoMS4 commented on #68690
#reassign @yiyiguo

[2022-01-19 23:19] ciufudean commented on #86562
I found DevOps documentation that confirms my findings.

The auto detection logic says ZipDeploy will be used for a JAR file https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops#auto-detect-logic.
Following on, ZipDeploy *deploys the file contents to the wwwroot folder of the App Service*.

So no JAR file anymore that I can start with `

[2022-01-19 23:30] dmorrison-msft opened #86662 "Troubleshooting - Request addition of known and documented issue with Az CLI + AKS SP credential update"
[Source doc link to specific tab](https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal?tabs=azure-cli#troubleshoot)

[Github issue opened in June 2020 referencing this issue](https://github.com/Azure/azure-cli/issues/13881)

Source of issue: Azure customer issue worked by Azure CXP ACE FTEs James Gulliver, Dakota Morrison, and Will Brimmer.

Situation: Customer received error wh

[2022-01-19 23:34] James-Hamil-MSFT commented on #86233
Ok awesome, thank you for the feedback! I'm going to close this thread but feel free to post back if you have any questions.

Best,
James

[2022-01-19 23:34] #86233 closed

[2022-01-19 23:36] kobulloc-MSFT commented on #86662
@dmorrison-msft Thank you for the report!  We've assigned this to the document author for further review.

[2022-01-19 23:38] kobulloc-MSFT commented on #86660
@shawntmeyer Thank you for your question!  We are investigating this and will get back to you shortly.

[2022-01-19 23:45] kobulloc-MSFT commented on #86660
@shawntmeyer Unfortunately, Trusted Launch must be set up when the VM is created and cannot be added after the VM has been created:

https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch

[2022-01-19 23:47] shawntmeyer commented on #86660
This contradicts the faq though: Trusted launch for Azure VMs - Azure Virtual Machines | Microsoft Docs<https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch#how-can-i-convert-existing-vms-to-trusted-launch>

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Wednesday, January 19, 2022 6:45 PM
To: ***@***.***>
Cc: Shawn ***@***.**

[2022-01-19 23:52] kobulloc-MSFT commented on #86660
@shawntmeyer Ah, thank you for the clarification!  I don't see anything in the Portal but using Azure CLI `az vm update` may accomplish this.  Either way, you are correct--we'll need to fix that contradiction in the documentation.

[2022-01-19 23:54] shawntmeyer commented on #86660
I tried to use PowerShell to enable Trusted Launch after deploying a VM with supported image on supported size and it didn’t seem to enable trusted launch either. I would definitely like to correct the document and also get an answer from the PG if this capability will be available in the future. Affects customer upgrade plans in Azure for US Government where trusted launch isn’t available right n

[2022-01-19 23:59] kobulloc-MSFT commented on #86660
@shawntmeyer I just tried with Azure CLI and that doesn't appear to work either.  I'm looking into this further and will update you shortly.

[2022-01-20 00:02] VitalyMCT commented on #78275
In case someone else is implementing the same use case, here's a nice 3rd party blog post on how to do this in Bicep. It will save the de-compiling step and has explanations around extra details to consider.

https://ochzhen.com/blog/key-vault-and-secrets-azure-bicep

[2022-01-20 00:19] fieldsJacksonG commented on #86579
Thanks!  Looks like it's working now!

[2022-01-20 00:19] #86579 closed

[2022-01-20 00:48] munir94 commented on #86600
The deployment was done via azure portal by following this link https://docs.microsoft.com/en-us/azure/azure-arc/data/create-data-controller-direct-azure-portal

[2022-01-20 01:03] tfitzmac commented on #86471
I see that Microsoft.HybridCompute/machines has properties for machineFqdn, dnsFqdn, and adFqdn. I am familiar with the details of these properties, but I am guessing their availability requires the check for reserved names.

[2022-01-20 01:03] BryanTrach-MSFT commented on #86619
@Dorus Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 01:05] BryanTrach-MSFT commented on #86622
@morcinim Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-20 01:10] BryanTrach-MSFT commented on #86645
@Mike-Crowley Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 01:12] alexlamfromhome commented on #86126
Hi,

I have the same "RoleAssignmentExists" problem from the deploy button on this page
https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/edge/deploy-iot-edge-device.

Thanks!

[2022-01-20 01:30] GLComputing commented on #86471
And yet, that KB says it only applies "When deploying a resource that is available through a public endpoint" ... Not sure how that would apply to using Azure Arc for updates and security?

It hasn't been an issue for the Hybrid AD and Exchange connections... It's a challenge to only find this, now

[2022-01-20 02:01] m-kikushima opened #86664 "Is it possible to add Windows Server 2019 and 2022 to IaaSAntimalwar docs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-20 02:06] m-kikushima commented on #86664
Is it possible to add Windows Server 2019 and 2022 to following docs ?
We can enable IaaSAntimalwar on Windows Server 2019 and 2022.
However , following docs does not describe Windows Server 2019 and 2022 .

TITLE: Microsoft Antimalware Extension for Windows - Prerequisites - Operating system
URL: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/iaas-antimalware-windows#operating

[2022-01-20 03:06] VitalyMCT opened #86666 "OS requirements out of date"
Please update per the OS requirements listed at the SHIR download link:

![image](https://user-images.githubusercontent.com/1765732/150264903-a434d4c2-a4d7-4e0d-899a-dd9ff63b6e6f.png)

Please also sync up with any other system requirements that are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e632aab-07

[2022-01-20 03:33] #86387 closed

[2022-01-20 04:02] AshokPeddakotla-MSFT commented on #86659
@sandervandevelde Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-20 04:04] SwathiDhanwada-MSFT commented on #86270
@OzBob For product improvements, do post your feedback on [https://feedback.azure.com/d365community/forum/8ddd03a2-0225-ec11-b6e6-000d3a4f0858](https://feedback.azure.com/d365community/forum/8ddd03a2-0225-ec11-b6e6-000d3a4f0858).

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-01-20 04:04] #86270 closed

[2022-01-20 04:07] SwathiDhanwada-MSFT commented on #86325
Assigning to content author @bwren for doc-enhancement

[2022-01-20 04:15] SwathiDhanwada-MSFT commented on #86480
Assigning to content author @bwren for feedback consideration

[2022-01-20 04:44] VikasPullagura-MSFT commented on #86648
@TiloGit
Thanks for your Question! We are currently investigating and will get back on this.

[2022-01-20 04:54] vipulsparsh commented on #86652
@kvs1983 Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 04:55] vipulsparsh commented on #86655
@viroopax  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 04:57] opticyclic opened #86670 "Use Better CNAME Subdomain Examples"
The CNAME mapping example needs to make more sense to a typical app developer.

People are unlikely to be mapping the `www` subdomain.
The `www` subdomain most likely already exists and is in use for their website.
You might not even realise that `www` is actually a subdomain as it is so ubiquitous.

The App Service in the screenshot is called `my-demo-app` so use that throughout the rest of the d

[2022-01-20 04:58] SnehaAgrawal-MSFT commented on #86399
@mahomedalid We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-01-20 04:58] #86399 closed

[2022-01-20 05:03] vipulsparsh commented on #86658
@pebarrer Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 05:04] vipulsparsh commented on #86661
@atkulp Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 05:07] vipulsparsh commented on #86664
@m-kikushima Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-20 05:17] PriyankaRudramaina commented on #86394
@RonnieQuan,
Since I have not heard back from you, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. I will be happy to reopen the issue and continue the discussion.

[2022-01-20 05:17] #86394 closed

[2022-01-20 05:19] georgeOsdDev opened #86672 "Question about api-version for migration status check"
[Enter feedback here]
In this page, the command which check migration status is using `api-version` as `2018-11-01`
`az rest --method get --uri "${ASE_ID}?api-version=2018-11-01" --query properties.status`

I think latest version is `2021-02-01`. And other commands in this page are using `2021-02-01`.
Is there any reason to use old version only for that api?

---
#### Document Details

⚠ *Do not e

[2022-01-20 05:27] AnuragSharma-MSFT commented on #86490
@Frankd4 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-20 05:29] AshokPeddakotla-MSFT commented on #86528
@uriel-kluk I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-20 05:31] chaoscreater commented on #42519
This really need to be improved. Our customer is getting billed in USD currency, but they really need to look at the billing in their local currency.

[2022-01-20 05:40] MughundhanRaveendran-MSFT commented on #86400
@DavidAtImpactCubed , I have create a PR for this issue and it will be reviewed and published soon

[2022-01-20 05:40] #86400 closed

[2022-01-20 06:04] Frankd4 commented on #86490
Thank you.

________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: 20 January 2022 14:27
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Frank ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] This page is outdated. VA is now called Defender for Cloud. (Issue #86490)

@Frankd4<https://github.com/Frankd4> Thank you for the feedback. This is being assigned

[2022-01-20 06:06] RohitMungi-MSFT commented on #86501
@jhirono Could you please review the recommendation and check if the same can be added to the document as part of backlog and update to the document?

@pnarsi Thanks for your suggestions. We will go ahead  #and close this case and update the document as required.

[2022-01-20 06:06] #86501 closed

[2022-01-20 06:07] Tibap opened #86673 "Requirement of having the Standard SKU for the Bastion is missing"
As explained here: https://docs.microsoft.com/en-us/azure/bastion/configuration-settings, the Basic SKU does not allow to connect to a Linux VM using RDP. Please add the Standard SKI as a requirement to help with other people reading this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cced3860-728d-9e8d-e0c4-573f

[2022-01-20 06:11] yadavdilip19 commented on #86633
Yes it only worked with Region with API version api-version=2021-06-01
{
  "properties": {
    "billingType": "Workspaces"
    },
    "location": "East US 2"
}

[2022-01-20 06:49] dominicbetts commented on #86659
Hi @sandervandevelde - thanks for pointing this out. I think you're correct about it not being an https link. It was using an outdated version of the button image anyway. I've pointed the link to the correct resource - changes should be live later today. Thanks!

[2022-01-20 06:49] dominicbetts commented on #86659
#please-close

[2022-01-20 06:49] #86659 closed

[2022-01-20 06:56] SG250678 commented on #84310
Great, Thank you  azaricstefan , it works now with the updated quers.

[2022-01-20 07:01] AnnuKumari-MSFT commented on #86615
@chez-charlie Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-01-20 07:07] OmkarNsrivastava opened #86674 "cloud service extended support Known issue"
[Enter feedback here]
I am part one of the partner team and have faced an issue with CLOUD NRP with RBAC check, request you to add it in FAQs until fix is released.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae8eb8bc-bb38-5d42-21bb-8781d6cc38ed
* Version Independent ID: ec40dc87-430a-faee-7e0d-453dab2572c5
* Conten

[2022-01-20 07:20] PramodValavala-MSFT commented on #86616
@marceluniper Application Insights and Event Hubs are connected via Instrumentation Key and Connection String respectively, allowing it to be in any tenant/subscription.

Azure Monitor is enabled as part of every subscription and cannot be changed for APIM, or any other Azure resource for that matter.

We will work up a PR to add a note calling out the same for Event Hubs and Application Insights.

[2022-01-20 07:21] dcaddick opened #86676 "App Passwords no longer exist?"
Hi, I am trying to create an App Password for testing purpose in a demo Tenant

From everything I'm seeing this no longer exists?
![Screenshot 2022-01-20 152039](https://user-images.githubusercontent.com/19640455/150291882-704f54ac-bb87-4e2f-953c-c7ba35066ed0.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764

[2022-01-20 07:23] sumitgaurin commented on #85975
Approved a PR and associated the bug to it. Should get resolved by evening.

[2022-01-20 07:30] oskrabanek opened #86677 "Enable custom metrics add more details"
In the section "Emit custom metrics" it would be nice to add more details about the point
"2. Add "metrics":true to the payload, along with any other properties."
It was quite difficult to find out where to turn this feature on until I've come across [this article](https://theflyingmaverick.com/2022/01/07/emit-custom-metrics-from-azure-api-management/).
Also some information about the [pricing](ht

[2022-01-20 07:31] MayankBargali-MSFT commented on #86513
@chjinche Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-01-20 07:31] #86513 closed

[2022-01-20 07:54] Karishma-Tiwari-MSFT commented on #86674
Thanks for sharing your feedback. Can you please elaborate on the issue you are seeing or share the support request number, so that the doc author can get more context and update the doc accordingly. Thanks.

[2022-01-20 08:07] AnnuKumari-MSFT commented on #86461
Hi @leifbro / @mssaperla
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-01-20 08:08] sinedied commented on #86546
Then I guess it's a permission/visibility issue, you're probably fine because you have access to the collection.

Here's what I see after clicking on the "run" button and logged in to Postman:
![image](https://user-images.githubusercontent.com/593151/150298373-282fbd09-eb7b-4b21-b9d0-719c66dc9a8d.png)

[2022-01-20 08:26] PriyankaRudramaina commented on #86648
Hello @TiloGit,

You can refer to the following for details [https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints?tabs=azure-portal](url)

Please note, this channel is for driving improvements towards MS Docs, for any product related question/issues, I would recommend you to create a thread on the Microsoft forums- Microsoft Q&A, MSDN / Stack Overflow.

[2022-01-20 08:28] #86648 closed

[2022-01-20 08:34] MayankBargali-MSFT commented on #86604
@Ozzian I have reached out to the team for the confirmation and will keep you posted.

[2022-01-20 08:42] SumanthMarigowda commented on #86516
@amarkevich Presently you can only  upload file through Storage Bowser (Preview)
Feel free to send [feedback ](https://feedback.azure.com/d365community/forum/a222eda7-2425-ec11-b6e6-000d3a4f09d0)about the capability.
All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2022-01-20 08:48] AjayKumar-MSFT commented on #86670
@opticyclic,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-20 08:50] #86516 closed

[2022-01-20 08:57] lafranke opened #86678 "CLUtils tool to turn pdfs into txt files not allowed on PC due to decurity concerns"
Hi there,

I tried to use the linked CLUtils tool to turn files into txt files to use Custom Entity Recognition. Unfortunatly, the tool was blocked due to security mistrust and I am working for Microsoft. Could you please update the article and include a service which is easiy to use to adopt the Custom Entity Recognition service?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-01-20 09:08] amarkevich commented on #86516
@SumanthMarigowda I followed the documentation section "Upload a folder to a file share". Article should be updated in case this feature unavailable because confusing users.

[2022-01-20 09:33] vikrambmsft commented on #84975
@NikkiChang715 , If you are logged in to the docs portal, you will be able to download all the templates. It is redirecting you since you are not logged in. The templates are available only for Partners and so i request you to login to the PC portal/Docs portal before clicking on those links. I have tested the download and they are working fine.

[2022-01-20 09:59] j-mantu commented on #86116
Thank you for your feedback @carolrenna
1. I believe the empty GET response was due to an issue with your CORS policy which could be controlled from your browser.
2. For the graph url I hope you used the full text "v1.0" rather than "v1" so it would be "https://graph.microsoft.com/v1.0/me" as we have tested it to be working
We have otherwise re-tested the flow in the document and have ensured it's

[2022-01-20 10:00] j-mantu commented on #86116
#please-close

[2022-01-20 10:00] #86116 closed

[2022-01-20 10:01] jochenz opened #86680 "Cannot find UseAdaptiveSampling method used on this documenation page"
Where do we find the `UseAdaptiveSampling` method?
I installed Microsoft.ApplicationInsights 2.20.0.
The method is supposed to be in the `Microsoft.ApplicationInsights.Extensibility` namespace, but I do not find it.
Do I need to install an additional NuGet package? Been searching for it...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-20 10:02] yadavdilip19 commented on #86633
thank you!!!

[2022-01-20 10:12] stefanes opened #86681 "Azure Compute Galleries: Image version replicas"
[Here](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries#limits) the following is stated: _10 image version replicas, per subscription, per region_
However, in Azure Portal you can change this value all the way up to 50 (see below). Is the documentation on this topic outdated? Or are you in the process of lowering this limit from 50 to 10?

![image](https://user-images

[2022-01-20 10:14] shashishailaj commented on #86673
@Tibap Thank you for your feedback . We will investigate and update the thread.

[2022-01-20 10:16] shashishailaj commented on #86676
@dcaddick Thank you for your feedback. We will investigate and update the thread.

[2022-01-20 10:48] zipon opened #86683 "Bug in deleting resource group in sandbox, locking you out of the sandbox"
You can delete the resource group in a sandbox on ms learn that then you can't recreate and after that you are not able to use the sandbox from the remaining time. This also locks you out from doing more labs/exercises in this time period as it checks for a current running sandbox and uses it when it finds it.

Current behavior : You are able to delete and make the sandbox unusable for the remaind

[2022-01-20 10:50] ShaikMaheer-MSFT commented on #86423
@kromerm could you please validate feedback and update videos as appropriate. Thank you.

[2022-01-20 11:16] yonisade opened #86684 "Are M192ids / M192idms v2 VM sizes supported on a Dedicated Host?"
Hi
In the ["Memory Optimized Azure Dedicated Host SKUs" page](https://docs.microsoft.com/en-us/azure/virtual-machines/dedicated-host-memory-optimized-skus#mdsv2medmem-type1)
I don't see VM Size "**M192ids v2**", nor "**M192idms v2**" in the supported tables even though the dedicated host includes "192 Available vCPUs"

Is this a page mistake? or are we really limited to VM sizes with 128 vCPUs ?

[2022-01-20 11:19] dasarisunil09 opened #86685 "need to run sql script on azure synapse database using azure powershell or azure cli"
How to?
need to run sql script on azure synapse database using azure powershell or azure cli
I have referred the Microsoft documentation, but didn't found command to run it.

can anyone help me on this. thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab26ab0a-9859-fd56-064f-20695b51a701
* Version Independent ID

[2022-01-20 11:26] mpoeckl opened #86686 "Error when submitting an interactive query"
Tutorial is not working as expected:
After successfully installing the prerequisites, the VSCode Spark & Hive Tools extension and following the steps to set up the spark pool and submitting an interactive PySpark queries to Synapse Spark pool (https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/vscode-tool-synapse#using-the-synapse-pyspark-interactive-command-in-py-file), the execution

[2022-01-20 11:30] AwdotiaRomanowna opened #86687 "gramma"
not sure if that's grammatically correct

"This feature **triggers brings** the primary server down and initiates the failover workflow in which the standby promote operation is performed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517e4390-b753-b794-f705-a3a995247917
* Version Independent ID: 7f28cd80-7ffa-ba7a-e

[2022-01-20 11:32] mpoeckl opened #86688 "Installation not working on Windows (missing prerequisite?)"
Successfully followed the installation steps (installed, Python, pip and virtual environment) but the VSCode Extension raises an Error after Activation (Platform: Windows 10):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1606e33f-a0b8-08ca-a071-d219842e8994
* Version Independent ID: 0064c141-bae1-b963-a00d-05

[2022-01-20 11:48] RyanHill-MSFT commented on #86672
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 11:52] gs9824 opened #86690 "function called generateSasToken not correct"
Used this code to generate a SAS token (generateSasToken) in order to connect to eventhub, using the primary key from the Azure portal interface. When using the code, the generated sas_token is wrong -- as the key is not b64 encoded.

Javascript :
not working - incorrect sas token generated
var hmac = crypto.createHmac('sha256', Buffer.from(signingKey, 'base64'));
working - correct sas token gener

[2022-01-20 12:02] jelmerS2 opened #86691 "Wrong information in table"
In the table about platform availability it says that iOS only supports GPS. This is not correct. On iOS you don't ask for GPS or Wifi or Bluetooth access you ask for the user's location via CLLocationManager APIs. This is based on Core Location service and Core location bases the user's location on many factors than just GPS: https://developer.apple.com/documentation/corelocation

"The framework

[2022-01-20 12:16] MayankBargali-MSFT commented on #86677
@oskrabanek Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-20 12:18] MonikaReddy-MSFT commented on #86683
@zipon - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-20 12:27] zipon commented on #86683
Hi
This effects all the sandboxes so it's not for just one document from what I can see. I found it when seeing another bug in https://docs.microsoft.com/en-gb/learn/modules/monitor-azure-vm-using-diagnostic-data/3-exercise-create-virtual-machine as in how it is checked. Where should I post the sandbox bug?

[2022-01-20 12:29] kobulloc-MSFT commented on #86681
@stefanes Thank you for your feedback!  We are investigating this and will get back to you shortly.

[2022-01-20 12:29] psignoret commented on #86574
@chadmcox Can you please share what happens when you try it? Please share the command you run and the error you receive.

Can you also please share the results of:
[code]

[2022-01-20 12:29] psignoret commented on #86574
#reopen

[2022-01-20 12:29] psignoret commented on #86574
#re-open

[2022-01-20 12:30] psignoret commented on #86574
#please-open

[2022-01-20 12:36] vipulsparsh commented on #86666
@VitalyMCT Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 12:39] vipulsparsh commented on #86678
@lafranke Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 12:42] vipulsparsh commented on #86680
@jochenz  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 12:44] vipulsparsh commented on #86684
@yonisade Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-20 12:44] dominicshaw opened #86692 "Probable missing step?"
The documentation refers, under #configure-the-native-app-code, to:

_Paste the SecretAPI Application ID URI in the <add key="todo:TodoListResourceId" value="" /> field. You can find and copy this value (a URI) from the SecretAPI Expose an API page._

However no instructions talk about using the Expose an API up until this point, and it is unclear how that should be done.

---
#### Document Detail

[2022-01-20 12:45] #86273 closed

[2022-01-20 12:47] alvipeo opened #86693 "What's S1, S2, etc in the portal?"
Looking at this portal setting, what is the S1, S2, etc?
![this portal setting](https://inus.blob.core.windows.net/temp/azure%20db%20DTU.png?sv=2020-08-04&st=2022-01-20T12%3A30%3A50Z&se=2022-02-21T12%3A30%3A00Z&sr=b&sp=r&sig=7EXIsqfAT7YhE3I%2BNl%2FbJh5ecDSqqgeWnbaa1Midh%2F0%3D)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-20 12:53] rossdotpink opened #86695 "GitOps page - seemingly contradictory statements"
On this page, we see the following:

The first sentence suggests that the Microsoft.Flux extension can be installed automatically when the first fluxConfiguration is created. But the second sentence states that the extension must be installed before such fluxConfiguration resources can even be created.

My limited experimentation so far suggests that the latter sentence is accurate.

---
#### Docu

[2022-01-20 12:57] AshokPeddakotla-MSFT commented on #86690
[@gs9824](https://github.com/gs9824) Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 12:59] AshokPeddakotla-MSFT commented on #86691
[@jelmerS2](https://github.com/jelmerS2) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-20 13:15] yamafaktory opened #86697 "Blob service - range header"
Hello folks 🖖!

## Service

This issue / report is about the **Blob service**.

## Related documentation

The related documentation page is https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-the-range-header-for-blob-service-operations

## Issue

You should specify that if we want to use the `x-ms-range: bytes=255-` range header, we also need to set the `x-ms-version` header to `

[2022-01-20 13:44] tleverresmith opened #86698 "AD Join Account Requirements - Missing msDS-SupportedEncryptionTypes"
During a recent deployment of an SMB volume using an active directory connection we ran into an issue where the account we were using had permissions to create an object in the OU, but was missing 'write' permissions to a specific attribute not declared in the documentation.

Error we encountered:
[code]

In my opinion we met the requirements in the documentation of:

- The admin account you use m

[2022-01-20 14:00] jlorich opened #86699 "Incorrect and missing built-in roles"
The listed bult-in roles on this page do not seem to exist.  The available built-in role names are:

"Cosmos DB Account Reader Role"
"DocumentDB Account Contributor"
"Cosmos DB Operator"
"CosmosBackupOperator"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID:

[2022-01-20 14:22] kengaderdus commented on #86145
Closing due to inactivity

#please-close

[2022-01-20 14:22] #86145 closed

[2022-01-20 14:25] GeethaThatipatri-MSFT commented on #86687
Hi, @AwdotiaRomanowna Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-20 14:26] bellowman opened #86701 "Cannot query from external table (delta lake) on Serverless database in SSMS even though it works in Synapse Studio"
[Enter feedback here]

I cannot query from external table (delta lake) on Serverless database in SQL Server Management Studio even though it works in Synapse Studio.
I am getting the error, "Content of directory on path 'https://....blob.core.windows.net/.../_delta_log/*.json' cannot be listed." I don't get this error in synapse studio.

I log into the SSMS with the SQL admin username provided to

[2022-01-20 14:31] GeethaThatipatri-MSFT commented on #86693
Hi @alvipeo Thanks for reaching out, We are looking into it and update you shortly.

[2022-01-20 14:36] Styx71 opened #86702 "Authentication failed for container registry docker.io"
I am trying to run a python script on a docker image that i build by adding a few more installations on Azure's preinstalled images.

the base image i used is AzureML-sklearn-0.24.1-ubuntu18.04-py37-cpu-inference,
and i added packages like xgboost, imblearn, shap.
I can build the image and run it successfully on terminal.
But when i submit pipeline with my script it throws below error,
ActivityFai

[2022-01-20 14:39] craigshoemaker commented on #83863
@vturecek - can you comment on the amount of time between SIGKILL and SIGTERM?

[2022-01-20 14:41] jjindrich opened #86703 "Dapr application using CosmosDB state store provider is not starting up"
I have Dapr application using CosmosDB state store. This application is not starting up because cannot access MSI.
My CosmosDB provider configuration is using masterKey. But MSI is probably required by default.

Error from log:
level=fatal msg="process component jjstate-articles error: the MSI endpoint is not available. Failed HTTP request to MSI endpoint: Get \"http://169.254.169.254/metadata/ide

[2022-01-20 14:45] JamesTran-MSFT commented on #86692
@dominicshaw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-20 14:49] Freia3 opened #86704 "Documentation on DelegatedManagedIdentityResourceId property in role assignment creation does not exist"
The Microsoft docs are really unclear/non-existent on what the DelegatedManagedIdentityResourceId property does in a role assignment creation.

In this doc it says [https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?tabs=bicep](url): "Id of the delegated managed identity resource". But it's not clear what a delegated managed identity resource is or in which ro

[2022-01-20 14:50] gb2793 opened #86705 "Azure Cosmos Table API with ttl set throws exception"
# Issue

I am using Microsoft.Azure.Cosmos.Table to create a table with defaultTimeToLive and then create entities under it with 'ttl' property. I am able to create the table but creation of entities with ttl set is failing with the below exception.

System.AggregateException: One or more errors occurred. ---> Microsoft.Azure.Cosmos.Table.StorageException: Cannot deserialize the current JSON objec

[2022-01-20 14:52] #86699 closed

[2022-01-20 15:01] kengaderdus commented on #86587
Dear @mvisosky ,

Thank you for your patience. Learn about [best practices for secrets rotation](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/resilience-b2c-developer-best-practices?bc=/azure/active-directory-b2c/bread/toc.json&toc=/azure/active-directory-b2c/TOC.json#secrets-rotation). I hope this helps, and please let us know if you've further questions.

Thanks.

[2022-01-20 15:33] Theking88np4 opened #86707 "The king"

[2022-01-20 15:37] kmcguinn-caravan commented on #84929
Any updates on this?

[2022-01-20 15:57] AnuragSharma-MSFT commented on #86705
@gb2793 Thanks for the feedback. GitHub forum is there to log issues related to Microsoft docs and article. Could you please provide the url/link of article you are referring to?

[2022-01-20 16:01] azaricstefan commented on #86701
Most probably you don't have permissions to access file/folder via SQL User authorization.
When you are using Synapse Studio default access is via User Identity.

Try creating server scoped credentials or database scoped credentials with Managed Identity or Shared Access Signature.

Check out this [article](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-storage-files-storage-

[2022-01-20 16:13] OwainWin opened #86708 "PowerShell example code for setting the table retention policy via the API"
Please provide PowerShell example code for setting the table retention policy via the API.
Only giving an example for this using the ARMClient means installing Chocolately, this isn't always possible without local admin rights even though there are instructions for doing so it involves setting the PowerShell execution policy to bypass that is overridden by Group Policy so can't be done.
Our enviro

[2022-01-20 16:22] muralidharand opened #86709 "Categories of Cognitive Services - 4 pillars"
Actually, we have 4 pillars on the document page but the document refers to five pillars.

The catalog of cognitive services that provide cognitive understanding is categorized into **_five_** main pillars:

Vision
Speech
Language
Decision

The following sections in this article provide a list of services that are part of these **_five_** pillars.

---
#### Document Details

⚠ *Do not edit this se

[2022-01-20 16:30] emuench commented on #84975
If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! #please-close

[2022-01-20 16:30] #84975 closed

[2022-01-20 16:43] barclayn commented on #85740
@Houssem-Azzouz Thank you for your feedback. We split our status article into two different ones. I checked Azure communications service documentation and I found an article documenting authentication options for communication services. https://docs.microsoft.com/en-us/azure/communication-services/concepts/authentication this article indicates that Azure AD is a supported authentication option. I

[2022-01-20 16:43] barclayn commented on #85740
#please-close

[2022-01-20 16:43] #85740 closed

[2022-01-20 16:43] albertlicrunch opened #86710 "Get a SAML assertion from AAD to obtain a Salesforce access token"
I have successfully integrated SSO for AAD(as Identity Provider) and Salesforce( as Service Provider) following this doc:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/salesforce-tutorial

Now I'm trying to get a SAML assertion for a Salesforce API to obtain an access token. This possibility is already confirmed here https://github.com/MicrosoftDocs/azure-docs/issues/45071#issu

[2022-01-20 16:45] GiftA-MSFT commented on #86709
@muralidharand we'll review your feedback and get back to you shortly. Thanks.

[2022-01-20 16:58] tfitzmac commented on #86466
@lightningdevelopermain - I should have mentioned that the deployments are idempotent. If your Bicep file includes a resource that already exists, and there are no changes to the resource, it takes no operation on that resource.

[2022-01-20 17:06] bellowman commented on #86701
thank you. I added a database scoped credentials with Managed Identity for my external data source and it worked.

[2022-01-20 17:06] #86701 closed

[2022-01-20 17:12] VanMSFT commented on #75773
Updating doc to address DNS scenarios.

[2022-01-20 17:13] Svijay-msft commented on #86396
@heckmanjim - I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-01-20 17:16] bmaycc opened #86712 "Options for creating or saving new API functions for staticwebapps?"
Hi,

Two things about the static web app functions on this page:
- Is there a way to do this (create staticwebapp API functions) using CLI (since this is something I want to do from time to time, having a controlled script would be ideal).  If not then this would be a feature request.
- When a function is generated from the VSCode extension, the files come out as CRLF line-endings - this is a mino

[2022-01-20 17:19] tfitzmac commented on #86471
Can you adjust the onboarding script to provide a different name for the resource? At a minimum, I know you would need to change the name for Microsoft.HybridCompute/machines, but depending on the other resources created by the script, you may need to change other names.

[2022-01-20 17:20] #75773 closed

[2022-01-20 17:20] VanMSFT commented on #75773
#reassign:VanMSFT

[2022-01-20 17:36] charlesbetros opened #86715 "Left Nav Section Title Shows "Risked" Rather Than "Risk""
[Enter feedback here]
![image](https://user-images.githubusercontent.com/11257591/150391867-ad40df4e-014f-4d9b-9d28-df55d1c7d876.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db3269f0-cea2-f300-3bca-a1d5979bf8c2
* Version Independent ID: 0a924307-45b5-ab5c-d444-860cae8f5557
* Content: [Configure risk-based step-u

[2022-01-20 17:41] JamesTran-MSFT commented on #86715
@charlesbetros
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-20 17:48] seligj95 commented on #86672
Hi @georgeOsdDev - I will update the docs to use the latest version of the API, there is no reason to be using a legacy version, the latest one is as you pointed out. Thank you for the feedback.

[2022-01-20 17:51] MonikaReddy-MSFT commented on #86707
@Theking88np4 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-20 17:53] MonikaReddy-MSFT commented on #86487
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-01-20 17:53] #86487 closed

[2022-01-20 17:53] b-hchen commented on #86698
@tleverresmith - Thank you for the details and most helpful suggestion!  I've reached out to our technical team with you  suggestion, and we'll implement the suggestion after their review.

#assign: @b-ahibbard  - Andrew, after the SMEs' review (see my email), would you mind implementing the suggestion?  Thanks!

[2022-01-20 17:53] PRMerger13 commented on #86698
The following users don't have valid GitHub IDs, or are not collaborators on this repo: b-ahibbard  - andrew, after the smes' review (see my email), would you mind implementing the suggestion?  thanks!

[2022-01-20 17:54] PRMerger5 commented on #86698
The following users don't have valid GitHub IDs, or are not collaborators on this repo: b-ahibbard  - andrew, after the smes' review (see my email), would you mind implementing the suggestion?  thanks!

[2022-01-20 18:02] #86446 closed

[2022-01-20 18:11] ivanthewebber opened #86716 "Missing Attribute"
When I try to execute example code I get the following error:
[code]

Please add required version information or help suggestions to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576214ac-410a-da18-00c7-5b3c8443d40f
* Version Independent ID: 60cbbb9d-cdae-eeb1-a625-a07ed3fd48a1
* Content: [Introduct

[2022-01-20 18:19] ThomasWeiss commented on #86699
@jlorich The roles you're mentioning are [Azure RBAC](https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control) roles, not Cosmos DB data plane RBAC roles. The latter aren't exposed by any portal UI yet, but you can see them available on your Cosmos DB account with the following CLI command:
`az cosmosdb sql role definition list --account-name your-account --resource-group your-r

[2022-01-20 18:37] BryanTrach-MSFT commented on #86686
@mpoeckl Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-20 18:37] BryanTrach-MSFT commented on #86685
@dasarisunil09 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 18:38] BryanTrach-MSFT commented on #86688
@mpoeckl Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 18:40] himanshusinha-msft commented on #86716
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-20 18:40] BryanTrach-MSFT commented on #86702
@Styx71 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2022-01-20 19:05] Styx71 commented on #86702
Hello, i couldn't understand which document exactly.
But if you mean my notebook it is below
https://ml.azure.com/fileexplorerAzNB?wsid=/subscriptions/a788877a-95dc-47d5-8fe5-bb92c971f342/resourcegroups/YH-TR-BTS-ML-RG/workspaces/bts_ml2&tid=12f553a5-690d-49f6-8961-4b92f700cf11&activeFilePath=Users/oguzhan.guclu/TestNotebook.ipynb

[2022-01-20 19:07] JamesTran-MSFT commented on #86546
@sinedied
Thank you for following up on this! I've assigned this issue to the author so they can look into this potential doc-bug and update as appropriate.

[2022-01-20 19:20] nkhuyent commented on #81750
@eyast - Again, thank you for patient. The circular link is intended. I have added the refence 8020 designs on the second half of the page to bring clarity. I hope it addressed your original concern. Here is the article:
https://docs.microsoft.com/en-us/azure/azure-percept/overview-8020-integration

@AshokPeddakotla-MSFT - kindly help mark this issue resolved and closed if appropriate.

Thanks,
-q

[2022-01-20 19:31] JamesTran-MSFT commented on #86692
@dominicshaw
Thank you for pointing this out!

When it comes to the **Expose an API** page, the instructions mention `You can find and copy this value (a URI) from the SecretAPI Expose an API page.`

You'll have to navigate to your SecretAPI and select the **Expose an API** page in order to find the SecretAPI's Application ID URI:
![image](https://user-images.githubusercontent.com/36619112/1504086

[2022-01-20 19:31] #86692 closed

[2022-01-20 19:38] v-iwanjohi opened #86721 "This page does not have the right info"
We want to convert an existing VM to a trusted VM but the Doc refers to deploying a new VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee728ba-a880-324c-83e7-84936b4d9533
* Version Independent ID: 64638d26-e84c-22b9-6c22-2b1e0dd3608b
* Content: [Deploy a trusted launch VM - Azure Virtual Machines](https://docs.micr

[2022-01-20 19:38] v-iwanjohi commented on #86721
But great article for a new vm

[2022-01-20 19:41] eeriksonkrg opened #86722 "Increase understanding of event sourcing and the business scenarios it supports"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39e1-fd7551bc94b9
* Version Independent ID: 3d26fbc0-b6ae-e0ca-089f-e4966c19ef22
* Content: [Overview of features - Azure Event Hubs - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features)
* Content Source: [articles/eve

[2022-01-20 19:41] #86722 closed

[2022-01-20 19:46] GiftA-MSFT commented on #86436
@laujan can you please review above issue? Thanks.

[2022-01-20 19:47] ivanthewebber opened #86723 "Auto-Generated Code Type Error"
Following the steps in [this tutorial](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-storage) I created a new notebook to extract a parquet file into a dataframe. However, the code produces a type error that suggest either an error in your library or application.

[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-01-20 19:52] erikerikson opened #86724 "Increase understanding of event sourcing and the business scenarios it support"
This misunderstands one of the primary reasons for event sourcing.  A snapshot implies a specific materialization strategy (or set of strategies) and that only that snapshotting strategy will be sufficient to satisfy future use cases.  Consider that the same events used to manage a shopping cart can also be processed to analyze a user's product preferences or shopping strategies.  If materializing

[2022-01-20 19:52] hhubik opened #86725 "How to shut down azurite services from command line?"
What is the command for shutting azurite down from the command line?

I am looking for the equivalent of the `Azurite: Close` command available in the VS Code Azurite extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version Independent ID: db1fe92d-d22b-8a32-7061-d7960f41

[2022-01-20 19:59] eric-urban commented on #86612
@miickel - Thanks for reporting this issue! We'll roll out a fix soon.

[2022-01-20 19:59] eric-urban commented on #86612
#please-close

[2022-01-20 19:59] #86612 closed

[2022-01-20 20:10] GLComputing commented on #86471
The OnBoardingScript.ps1 only seems to install the service. Not sure where those resources are identified in the Arc process...

[2022-01-20 20:11] MonikaReddy-MSFT commented on #86704
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-20 20:23] kobulloc-MSFT commented on #86721
@v-iwanjohi Thank you for pointing this out!  You cannot currently enable Trusted Launch on a VM created without Trusted Launch, however you can toggle Trusted Launch on a VM that was created with Trusted Launch.  I'm working on a PR to clear this up.

[2022-01-20 20:35] VanMSFT commented on #82404
Thanks, @vhhughes! I'm adding a note to the doc to clarify deleting the managed identity.

[2022-01-20 20:36] jurschel opened #86726 "Group Claims"
[Enter feedback here]
Could you add steps to get the SonarQube "SAML group attribute" setup correctly so that we can use AzureAD groups for permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5afd778b-76b5-b410-266b-046a437ee6b0
* Version Independent ID: 3eb0aa0f-4135-8193-6b0d-915ec703fbcb
* Content: [Tutorial

[2022-01-20 20:42] #82404 closed

[2022-01-20 20:52] JimacoMS4 commented on #85381
Hi @dnovvak -- I did hear back from the product team:

Currently, although some functions will work with twin/device queries, functions -- except where explicitly indicated in the topic --  are only officially supported for routes queries. Thank you for pointing out the naming difference with Starts With. We’ll take this under advisement and will consider changes in the future if the function beco

[2022-01-20 20:58] JimacoMS4 commented on #85381
#please-close

[2022-01-20 20:58] #85381 closed

[2022-01-20 20:59] kobulloc-MSFT commented on #86660
@shawntmeyer The documentation is incorrect, you cannot update an existing VM to use Trusted Launch.  Trusted Launch must be enabled when the VM is created.  If a VM has been created with Trusted Launch enabled, you can toggle Secure Boot and vTPM on and off.  I'll get a PR out today to update the documentation.  Thank you again for pointing this out and sorry for the confusion.

Trusted Launch en

[2022-01-20 21:07] whhender commented on #86666
@VitalyMCT - Thank you for reaching out! I am working with the team to confirm and update this documentation.
The request will remain open until updates have been submitted.

[2022-01-20 21:09] whhender commented on #86613
@msdya - Thank you for this feedback. Is this an issue you have recently experienced? Can you provide some more information about what permissions you applied, how they were applied, and how long of a delay you experienced?

[2022-01-20 21:11] yiyiguo commented on #68690
working on a doc page for DPS to explain how HADR works, it will be done by end of this month.

[2022-01-20 21:11] georgeOsdDev commented on #86672
Hi @seligj95
Thank you for confirmation.
By the way, I could successfully migrate from v2 to v3 with this  step by step tutorial. It was very useful.

[2022-01-20 21:14] himanshusinha-msft commented on #86520
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-20 21:14] JamesTran-MSFT commented on #86726
@jurschel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-20 21:25] vhorne commented on #76776
v2 overview and autoscaling info split out.
#please-close

[2022-01-20 21:25] #76776 closed

[2022-01-20 21:25] JasonFreeberg commented on #85711
@ezYakaEagle442 -- We updated our docs last week, please see these. I think they'll answer your questions.

https://devblogs.microsoft.com/java/microsoft-build-of-openjdk-on-azure-platform-services/

https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-windows#java-runtime-statement-of-support

[2022-01-20 21:35] seligj95 commented on #86672
Glad it helped! Keep an eye on the docs for updates to the migration feature as well as an Azure portal experience coming at the end of the month which will greatly simplify migration.

[2022-01-20 22:15] jcord100 opened #86728 "Need to include the max number of clusters per subscription with Cluster Autoscaler (CA) enabled."
Hello Team,

Just asking for this document to include some details on how many clusters are allowed per subscription with Cluster Autoscaler (CA) before we start getting throttling issues. We did not find any recommendation on this and this can eventually cause many problems.

This documents specifies that the hard limit is 5000 clusters per sub, but if we check from the Azure Portal -> AKS object

[2022-01-20 22:23] whhender commented on #86522
@jephlu - Thank you for reaching out!

Firstly, the portal private endpoint is only for securing traffic that renders UI assets which are static (and not specific to an Azure Purview account). Thus, accessing Azure Purview studio without portal private endpoint will work fine.
Some customers want to block outbound traffic from their VNET completely and/or secure entire outbound traffic with PEs. S

[2022-01-20 22:34] erik-ha-msft commented on #79382
Thanks for the feedback @eyoh5!

There is a link in the documentation to the kubelogin repository which shows the different ways of authenticating.

#please-close

[2022-01-20 22:34] #79382 closed

[2022-01-20 22:35] prTrainreck opened #86730 "We need the complete list of all the metadata item keys that can be used with the content definitions with better descriptions of how they are used. For example I have seen sample custom policy code that uses a metadata called "<Item Key="language.intro">Sign up</Item>" but that is not documented anywhere. Also the "DisplayName" item key doesn't explain how that metadata is used and what it affects. As described, DisplayName doesn't appear to have any beneficial use."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da541cb-72b5-7971-3c58-8bd3fe546369
* Version Independent ID: 377d8d53-cf44-5a3a-d431-1823bdd17be0
* Content: [ContentDefinitions - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions)
* Content Source: [artic

[2022-01-20 22:38] Grace-MacJones-MSFT commented on #86712
Hi @bmay-cloudwallcapital ,Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-01-20 22:42] MarileeTurscak-MSFT commented on #86561
Trusted IPs should work with this. Please verify that you have excluded the Trusted IPs from the policy.

![image](https://user-images.githubusercontent.com/13383753/150432979-0bd79142-0269-4c3e-a917-adc4ba6f7df5.png)

Also, ensure that there is no classic policy that might be conflicting.

[2022-01-20 22:51] JamesTran-MSFT commented on #86730
@prTrainreck
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-20 23:30] gabrieledcjr commented on #38625
We also need this feature

[2022-01-20 23:48] jdtato opened #86733 "Fix the example"
[Enter feedback here]
The example does not work. Only until I checked in the official documentation, it was clear that you must use in the capture group $2 and not $1. https://kubernetes.github.io/ingress-nginx/examples/rewrite/

replace
[code]
with
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07d

[2022-01-20 23:49] kobulloc-MSFT commented on #86728
@jcord100 Thank you for your question!  We are reviewing the cluster limits and will get back to you shortly.

[2022-01-20 23:58] Asha-Hiremath opened #86735 "ARM - incremental mode for Microsoft.Network resource provider has a bug"
Hi Team,

can you please update the document that incremental mode is not working as expected to all the resources. For example Microsoft.Network resource provider like updating vnet in incremental mode recreates/blows away entire vnet and subnets.

I took almost 2 continuous days to accept that it is a open bug.

Create VNET without destroying all subnets #2786

https://github.com/Azure/azure-qui

[2022-01-20 23:59] roben0 commented on #65604
Document still not updated. Can you share the answer here please?

[2022-01-21 00:00] GeethaThatipatri-MSFT commented on #86640
Hi, @ricec work items for this issue are on our backlog, I would expect it to get addressed in the upcoming weeks, assigning this to the author for review.

[2022-01-21 00:26] BryanTrach-MSFT commented on #86695
@rossdotpink Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 00:27] BryanTrach-MSFT commented on #86697
@yamafaktory Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 00:28] KranthiPakala-MSFT commented on #86723
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-01-21 00:31] KranthiPakala-MSFT commented on #86724
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-21 00:33] BryanTrach-MSFT commented on #86703
@jjindrich Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-21 00:39] rido-min commented on #84346
beta6 just released with .NET 6 support

https://www.nuget.org/packages/Microsoft.IoT.ModelsRepository.CommandLine/1.0.0-beta.6

@xiongyu0523 can you close this issue?

[2022-01-21 00:45] dcbrown16 opened #86736 "ToC confusion for diagnostics docs"
The three pages about enabling diagnostics for cloud services (classic) are under the "Manage certificates" heading in Deploy section, as well as under "Enable diagnostics" in the Monitor section.
![image](https://user-images.githubusercontent.com/34466884/150445132-ca8e7423-689f-41b4-9319-4b2742042dff.png)

same docs linked here:
![image](https://user-images.githubusercontent.com/34466884/1504451

[2022-01-21 00:59] b-hchen commented on #86698
#assign:@b-ahibbard - Andrew, after the SMEs' review (see my email), would you mind implementing the suggestion? Thanks!

[2022-01-21 00:59] PRMerger5 commented on #86698
The following users don't have valid GitHub IDs, or are not collaborators on this repo: b-ahibbard - andrew, after the smes' review (see my email), would you mind implementing the suggestion? thanks!

[2022-01-21 01:01] PRMerger14 commented on #86698
The following users don't have valid GitHub IDs, or are not collaborators on this repo: b-ahibbard - andrew, after the smes' review (see my email), would you mind implementing the suggestion? thanks!

[2022-01-21 01:03] b-hchen commented on #86698
#assign: @b-hchen

[2022-01-21 01:09] BryanTrach-MSFT commented on #86710
@albertlicrunch Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 01:11] BryanTrach-MSFT commented on #86708
@OwainWin Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 01:12] BryanTrach-MSFT commented on #86725
@hhubik Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 01:20] kobulloc-MSFT commented on #86721
@v-iwanjohi I've created 2 PRs to correct the documentation and make this clearer.  They are being tracked here and should go live shortly:

https://github.com/MicrosoftDocs/azure-docs/issues/86660

[2022-01-21 01:21] kobulloc-MSFT commented on #86721
@v-iwanjohi Sorry for the confusion and thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-01-21 01:21] #86721 closed

[2022-01-21 01:29] MarileeTurscak-MSFT commented on #86561
If you are still having this issue, please send me an email at AzCommunity@microsoft.com and include your subscription ID, and I will gladly help troubleshoot.

[2022-01-21 01:29] #86561 closed

[2022-01-21 01:33] ksze opened #86737 "Is MySQL Workbench 8.0.28 now compatible again?"
MySQL Workbench 8.0.27 was known to be incompatible. Now that 8.0.28 has been released, is 8.0.28 compatible again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cb63fca-f77d-e1e4-99e0-c1c421645b2f
* Version Independent ID: a37e8211-30a7-b5e2-0345-51e90d0e51a3
* Content: [What's new in Azure Database for MySQL Single

[2022-01-21 01:45] kobulloc-MSFT commented on #86733
@jdtato Thank you for your feedback!  We are assigning this to the document author for further review.

[2022-01-21 01:46] #86616 closed

[2022-01-21 01:56] kobulloc-MSFT commented on #86736
@dcbrown16 Thank you for catching this!  I'm seeing the page in both sections as well:

![image](https://user-images.githubusercontent.com/37556655/150451706-63f86e28-43fb-4c8a-afa7-c5d59d782883.png)

[2022-01-21 01:58] spelluru commented on #86724
@kasun04 - please review when you get a chance. Thanks!

[2022-01-21 02:00] kobulloc-MSFT commented on #86736
@dcbrown16 This may be the document that was supposed to be under Manage certificates.  I'll check with the document author.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cloud-services/cloud-services-configure-ssl-certificate-portal.md

[2022-01-21 02:19] HJToland3 commented on #86737
While it's not yet compatible, we are currently planning to release a fix in February which will bring compatibility.

[2022-01-21 02:54] saisrinivas0695 opened #86738 "Cannot delete Azure digital twins endpoint . showing "Failed" under the status column"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-21 03:31] KrishnaG-MSFT commented on #86735
@Asha-Hiremath Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-21 03:37] seligj95 commented on #86672
Closing this, changes will be reflected in an upcoming PR

#please-close

[2022-01-21 03:37] #86672 closed

[2022-01-21 04:00] gabesmsft opened #86740 "Mention that Private Endpoint cannot be used with Enterprise-grade edge"
[Enter feedback here]
Private Endpoint cannot be used with Enterprise-grade edge. Am requesting a simple callout in the documentation about this, so that customers who are in the planning stage but who are not yet ready to test the feature are informed in advance.
This limitation is by design since the two features are incompatible with each other (Enterprise-grade edge is used for public traffic,

[2022-01-21 04:12] AnuragSingh-MSFT commented on #86620
@rahulaga-msft, The [first link](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD&source=docs) mentions the default behavior when Log Analytics workspace is not in picture -

The [second link](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/design-logs-deployment) is for designing workspace for collecting/storing Azure Monitor Logs **to Log Ana

[2022-01-21 04:14] AnuragSingh-MSFT commented on #86620
.

[2022-01-21 04:14] GowthamSM12 commented on #8416
Hi Mike @Mike-Ubezzi-MSFT , Good day ! I am also facing same issue and i checked our storage account which is opened to allow access from all services .. i did check sql server logs and seems some error in attached image.. could you please help how we can fix this
![SQL_AuditError](https://user-images.githubusercontent.com/98140941/150464636-c3d5ceb8-8f78-417b-8623-d71d36f8872c.JPG)

[2022-01-21 04:21] SnehaAgrawal-MSFT commented on #86740
@gabesmsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 05:03] AnuragSingh-MSFT commented on #86509
.

[2022-01-21 05:12] ShaikMaheer-MSFT commented on #86495
@yururin I believe the user must be registered as a principal with the Key Distribution Center (KDC) prior to running kinit. Please check below link for more details.
https://docs.oracle.com/en/java/javase/14/docs/specs/man/kinit.html

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindl

[2022-01-21 05:15] AnuragSharma-MSFT commented on #86453
@gdotv Thanks for your patience. Your solution looks amazing and really appreciate your efforts on the same. Yes Microsoft Partner Network is the right place. You can check other partners program in below link:

[Marketplace Partner Programs](https://azure.microsoft.com/en-in/marketplace/programs/)

If there are further questions regarding this matter, please comment and we will gladly continue th

[2022-01-21 05:17] ShaikMaheer-MSFT commented on #86517
@spelluru Could you please validate customer feedback and update document as appropriate. Thank you.

[2022-01-21 05:17] OzBob commented on #86270
Hi @SwathiDhanwada-MSFT
are you saying that if I create a V2 Virtual Machine that will make the WorkBook instructions reported above work?

[2022-01-21 05:25] ShaikMaheer-MSFT commented on #86549
@hyoshioka0128 Created for PR for same. https://github.com/MicrosoftDocs/databricks-pr/pull/905.

@leifbro / @mssaperla Could you please review PR and merge.

[2022-01-21 05:31] ShaikMaheer-MSFT commented on #86551
@hyoshioka0128 Created PR for this. https://github.com/MicrosoftDocs/databricks-pr/pull/906

@leifbro / @mssaperla Could you please review PR and merge. Thank you.

[2022-01-21 05:33] fowl2 commented on #76176
pnarsi makes a very good point, this is contradictory!

I would encourage the document to be reformatted with the "Gateway IP addresses" and "Gateway IP address subnets" in a single column (perhaps with the IPs listed as /32, as there is no circumstance when you need to treat them any differently.

[2022-01-21 05:40] fowl2 opened #86741 "Azure SQL - Missing IP Addresses"
This document seems to be missing several IP/ranges listed in the [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=56519) file.

For example, `13.67.16.0/26` is not listed in this document:

South East Asia | 104.43.15.0, 40.78.232.3, 13.67.16.193 | 13.67.16.192/29, 23.98.80.192/29, 40.78.232.192/29
-- | -- | --

But is in the file:

    {

[2022-01-21 05:44] ShawnHag opened #86742 "The difference between "Atypical travel" and "Impossible travel""
Hi,
I have been testing out Microsoft 365 E5 features,
and came across this quesiton.

I was looking through AAD Identity protection risks,
and noticed a user detected with an "Atypical travel" risk and "Impossible travel" risk.

I was checking this page to see what each risk meant,
but had trouble understanding the difference between these two risks.

Since it saids that both risks takes the time

[2022-01-21 06:00] ShaikMaheer-MSFT commented on #86559
@iposner-newsig created PR for this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/185665

[2022-01-21 06:15] gb2793 commented on #86705
Hi @AnuragSharma-MSFT

I am following this - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-time-to-live?tabs=dotnetv2%2Cjavav4#set-time-to-live-on-an-item

The confusion is that this doc is related to SQL API but I can see TTL in settings for Tables in the Azure portal. I expected it to work via SDK as well. If this is not supported then at least we should get clear error messages th

[2022-01-21 06:15] gdotv commented on #86453
Hi Anurag,

Thanks for getting back in touch!
 I think the enrolment to the partner program I did the other day worked, I've signed the MPN and Commercial Marketplace agreements, I've attached a screenshot below showing my MPN ids.
Where should I go from there?

![mpn_ids](https://user-images.githubusercontent.com/95418630/150475948-72df4d53-aec0-41b6-8b16-7f77c2a01970.PNG)

Regards,
Arthur

[2022-01-21 06:21] ShaikMaheer-MSFT commented on #86560
@iposner-newsig Created PR for this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/185667. Thank you.

[2022-01-21 06:24] ShaikMaheer-MSFT commented on #86613
@viseshag Could you please validate feedback and update document as appropriate to add a note section to explain the expected delay? Thank you.

[2022-01-21 06:26] kent010341 opened #86743 "At 'Connect the function to the endpoint' section, the command provided can't run successfully."
[Enter feedback here]

At the 'Connect the function to the endpoint' section, the command contains an unnecessary backslash (\\) before `--endpoint-type` that makes this command unable to run successfully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0de01786-459d-f25b-5219-eb6f598db9bd
* Version Independent ID: a34a

[2022-01-21 07:14] rishjai-msft commented on #86591
The recommended way to assign TFO properties is via PowerShell or REST APIs. Could we connect further to understand your use-case? @MonikaReddy-MSFT please help set up a call with Jeff.

[2022-01-21 07:32] Netspud2K opened #86744 "Not sure page content is correct"
"Virtual machines in an existing virtual network can't be moved to a new subscription when you aren't moving all resources in the virtual network."

I have found other MS sources that would suggest this is wrong. Other sources suggest that "you should move RELATED (to the VM) resources with the VM", not everything in the VNet. This would make moving things in Azure a real problem.

Please review a

[2022-01-21 07:57] SwathiDhanwada-MSFT commented on #86744
@Netspud2K Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-21 08:02] SumanthMarigowda commented on #86573
@TiloGit I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-21 08:02] #86573 closed

[2022-01-21 08:18] BzSpi opened #86746 "The list of actions needed in subnet delegation is not defined for ACI"
The documentation states that subnet delegation must be enabled for ACI. However, it would be fine to have the needed list of actions to be set for the delegation.

Is assume that the needed action `Microsoft.Network/virtualNetworks/subnets/join/action` but can you confirm and document it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-01-21 08:21] AnuragSingh-MSFT commented on #86620
@rahulaga-msft, based on our discussion, I am closing this issue. Thank you for your time.

[2022-01-21 08:21] #86620 closed

[2022-01-21 08:28] rockboyfor opened #86747 "Confirm the SQL available of Azure Databricks on Mooncake."
Hi guys,

Could you please help to confirm whether the SQL of Azure databricks is available on Mooncake portal(https://portal.azure.cn) or not?

We could not see the SQL in sidebar although I have created premium tier of Azure Databricks.

![image](https://user-images.githubusercontent.com/4704301/150492048-204853ee-c9b5-4723-896c-748b5f2578d3.png)

Best Regards,
Edward Chen

---
#### Document Det

[2022-01-21 08:41] dominicshaw commented on #86692
Hi James,

Thanks for your very quick reply.

I wonder if you could elaborate a bit and I'll tell you for-why...

First of all, I can get this working if instead of using the "Expose API" part, I simply put the app id from the "SecretAPI" and send the resource ID into the `AuthenticationContext.AcquireTokenAsync` call. I don't need to use Expose API at all.

Second is that SecretAPI is an Enterpri

[2022-01-21 08:47] wouterSeyen opened #86750 "Bad translation of country list"
There are some serious issues with the Dutch translations of the countries on this page.
A lot of countries get translated into non-existing things e.g. Belgium becomes Eusen instead of België. Some countries get translated into other countries. E.g. Austria becomes Zwitserland which is of course Switserland.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-01-21 08:54] hyoshioka0128 commented on #86551
@ShaikMaheer-MSFT - I haven't been able to see the contents of https://github.com/MicrosoftDocs/databricks-pr/pull/906 , but thank you.

[2022-01-21 08:56] hyoshioka0128 commented on #86549
@ShaikMaheer-MSFT - I haven't been able to see the contents of https://github.com/MicrosoftDocs/databricks-pr/pull/905 , but thank you.

[2022-01-21 09:04] koalomute opened #86751 "Course relocation will not work on HoloLens 2 following these instructions, needs appx manifest instructions"
Course relocation on HoloLens 2 does not work using WiFi, unless you make the change to the appx manifest mentioned here - https://github.com/Azure/azure-spatial-anchors-samples/issues/98

Please add this to the documentation so people can make a working app on HoloLens 2 by following the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-01-21 09:13] Sandy-dnv opened #86753 "Are all these resource types available across all Azure clouds?"
In AzureCloud I see many more resource types than in AzureChinaCloud.
Can you update the documentation to say which reource types are available in each cloud?

For example, I am missing data in resource graph in AzureChinaCloud for advisorresources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2107a05f-64e0-b7ca-4c26-

[2022-01-21 09:18] AnuragSharma-MSFT commented on #86705
@gb2793 Thanks for responding back. Setting ttl through the SDK should be supported for Table API as well. Below document talks about the same. First look of your code seems fine to me. However, I would request you to create a new issue on Q&A platform  so we can deep dive on the implementation part and get it resolved at the earliest.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.c

[2022-01-21 09:19] diaa opened #86754 "spelling typo in backup options"
Backup redundancy ensures that your database meets its availability and durability targets even in the *face* of failures and Azure Database for PostgreSQL. Should be in "case".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e76b110-fa85-f3ba-51db-4e0ee2db3339
* Version Independent ID: 4185869c-909d-65e8-8a18-6d969448

[2022-01-21 09:20] AnuragSharma-MSFT commented on #86737
@HJToland3 Thanks for providing the information.

@ksze Please let us know if there are further questions regarding this matter.

[2022-01-21 09:23] AnuragSharma-MSFT commented on #86754
@diaa Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-21 09:25] AnuragSharma-MSFT commented on #86741
@fowl2 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-21 09:30] yutaro113 opened #86755 "Is Web Server log of App Service Log feature really a Front End Log?"
Hi Team,

Here, as a front end log, web server log is linked but is it correct?
In my under standing, Web Server log of App Service Log feature is from Web Worker's web server log.

https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#why-are-the-health-check-request-not-showing-in-my-frontend-logs

Kindly check and correct if needed.
Thank you!

---
#### Document Deta

[2022-01-21 09:36] gb2793 commented on #86705
@AnuragSharma-MSFT Done, https://docs.microsoft.com/en-us/answers/questions/704585/setting-ttl-on-entities-in-cosmos-table-via-azurec.html

[2022-01-21 09:44] shelly-goel commented on #38625
@alejandrovilchesbabbel  No we were not able to get the group name in response so we are making a separate Microsoft API call to get the groups the user is part of.

[2022-01-21 09:50] JanneMattila opened #86756 "Ddsv5-series and Ephemeral OS Disks: Supported or not?"
According to the docs `Ddsv5-series` has `Ephemeral OS Disks: Supported`.

However, if you try to deploy AKS using that it will give you following error:

[code]

Above error message says that there are `0 bytes` available. This would indicate that `Ephemeral OS Disks: Not supported`.

Same does work with `v4` correctly. See reference deployment:

[code]

---
#### Document Details

⚠ *Do not edit

[2022-01-21 10:07] msdya commented on #86613
@Whitney Henderson ***@***.***> .

It happens two times, at the time to add Collection Adim role to my account at Demant tenant ( client company) .   The delay is less than 1 hr 30 min, no sure about how quick it is.
The other time the delay is very short , like 1 min or 2 min.    I think it is anyway a good communication to our users to set expectations of delay , so they know they need to wait a

[2022-01-21 10:09] ShreelakshmiCR opened #86757 "Bug in Quickstart, Streaming Analytics Job."
Start the Stream Analytics job and check the output.
Return to the job **overview** page and select **Start**.

There is no **Start** in the overview StreamAnalytics Job Created.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9028ffb4-d3fb-e5ee-3e3f-fe3d7db65f04
* Version Independent ID: 173bbf71-

[2022-01-21 10:21] rhb21eg opened #86758 "Partner page"
I work for eG Innovations who have a comparable integration to many of these products with Azure and would like to contact the owner of this page/partner program to understand how we can get listed and any partner criteria we would need to adhere to - please could you contact me via rachel.berry@eginnovations.com.

Many thanks,
Rachel

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-21 10:36] linda33wj commented on #86224
@hurtn thanks for raising the question. First of all, the content in the original article has been merged into the main Oracle source doc with some adjustment, see here: https://docs.microsoft.com/en-us/azure/purview/register-scan-oracle-source.

Azure Purview doesn't support lineage for Function; for Stored Proc, lineage is supported for static SQL returning result set, not dynamic SQL e.g. w/ re

[2022-01-21 10:37] #86224 closed

[2022-01-21 10:48] MeenakshiBalekar opened #86760 "Extra character ")" in the code for Handle message event"
[Enter feedback here]
The article : https://docs.microsoft.com/en-us/azure/azure-web-pubsub/tutorial-build-chat?tabs=csharp#handle-message-events
has extra character ")"  on line "        return request.CreateResponse($"[SYSTEM] ack."));
"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc0961a-70a2-32c4-0feb-934aa5356

[2022-01-21 10:48] timoklimmer opened #86761 "Owner/Contributor role for user requirement should come out more clearly"
It took me (and my colleagues) multiple days to find out that my user needs Owner or Contributor role on the language resource. It is documented in the article but it is too easily missed.

I suggest to use
(1) an explicit section that describes the required roles for the users using the service and
(2) another section that describes the roles required for the language resource's managed identity.

[2022-01-21 10:51] dominicshaw commented on #86692
Thanks James - I have some more comments and will open a new issue. In short - the expose an API part is not required at all in my experience, but I will put something more detailed together.

[2022-01-21 11:07] psignoret commented on #86715
@charlesbetros Thanks for catching this. The update should be published in the next day or so.

[2022-01-21 11:14] LeszekKalibrate opened #86762 "Missing sample for Reusing factories and clients"
Hi,
Any chance to add a sample how to properly do DI with ServiceBusClient and ServiceBusSender?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3da1-7d51-91d36bda14f2
* Content: [Best practices for improving performance using Azure Service Bus

[2022-01-21 11:21] #86715 closed

[2022-01-21 11:23] itshypon commented on #44802
It's also showing me Bash instead of Debug Console.

[2022-01-21 11:52] sopelt opened #86763 "Explicitly document ordering behavior of union-function in bicep/ARM"
The documentation of the union-function in bicep/ARM currently states that

The example seems to imply that for a key that is contained in multiple parameters the last provided value is kept in the result.

Is that the defined behavior? Could that be documented?

This would apply to https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-object#union as well.

--

[2022-01-21 12:00] cristiteodorov opened #86764 "CloudEvent Schema event grid subscription advanced filtering issue - eventtype"
Advanced filtering on an EventGrid subscription for CloudEvents suggests that "eventtype" should be used instead of "type" to filter by event type.
This does not work as it will try to filter on a property in the event called "eventtype" instead of "type" but CloudEvents schema does not use "eventtype", it uses "type".

If an advanced filter is used on "type" with CloudEvents, it works as expected

[2022-01-21 12:19] AnuragSharma-MSFT commented on #86705
@gb2793 Thanks for posting the same on Q&A forum. I am closing this issue here but we will continue the discussion on the Q&A.

[2022-01-21 12:19] #86705 closed

[2022-01-21 12:46] asergaz commented on #81750
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-21 12:46] #81750 closed

[2022-01-21 12:53] ntziolis commented on #61197
Setting the logo of identity providers is a pretty standard task. It has no connection to a custom layout. This should be supported out of the box and should be part of configuring a custom IDP
![image](https://user-images.githubusercontent.com/265338/150529848-61194668-49ce-42a9-88cd-a4e0eeb30f80.png)

We are currently giving Azure AD BC2 a trial run coming from auth0 and so far the experience ha

[2022-01-21 13:11] GiftA-MSFT commented on #86761
@timoklimmer we'll review your feedback and get back to you shortly. Thanks

[2022-01-21 13:13] SumanthMarigowda commented on #86488
@norton287 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-21 13:14] GiftA-MSFT commented on #86746
@BzSpi we'll review your feedback and get back to you shortly. Thanks.

[2022-01-21 13:14] becke-ch-s0-v1 commented on #86376
@kanshiG - thank you for the link but this one points to "continuous backup" is it the same for "periodic backup"? (actually this answers my other question I had - see "https://github.com/MicrosoftDocs/azure-docs/issues/86375")

[2022-01-21 13:15] becke-ch-s0-v1 commented on #86375
Hi @GeethaThatipatri-MSFT thank you for the link. Yes this answers my question. You can close the issue.

[2022-01-21 13:17] vipulsparsh commented on #86738
@saisrinivas0695 can you help us with the document you are following for this so that we can route it correctly

[2022-01-21 13:18] asergaz commented on #86743
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-21 13:19] asergaz commented on #86751
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-21 13:20] vipulsparsh commented on #86750
@wouterSeyen Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-21 13:21] vipulsparsh commented on #86747
@rockboyfor Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-21 13:30] ShaikMaheer-MSFT commented on #86551
@hyoshioka0128 Changes are not reflected yet. PR was raised. Content owners will review PR and merge the changes. Once merge completes behind the scenes build process will happen in period cycles after that build changes will actually reflect in doc.

[2022-01-21 13:31] ShaikMaheer-MSFT commented on #86549
@hyoshioka0128 Changes are not reflected yet. PR was raised. Content owners will review PR and merge the changes. Once merge completes behind the scenes build process will happen in period cycles after that build changes will actually reflect in doc.

[2022-01-21 13:38] mateuszdrab opened #86765 "broken link https://aka.ms/upgrade-events"
Hi team

I have a case where a customer is trying to open https://aka.ms/upgrade-events which they found on page https://azure.microsoft.com/en-us/updates/generally-available-azure-kubernetes-support-for-upgrade-events/ and this link takes us to the internal https://review.docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-upgrade-cluster?branch=pr-en-us-180575&tabs=azure-cli so authentication

[2022-01-21 13:51] mvisosky commented on #86587
@kengaderdus thank you for the reply.  I understand the nature of secret rotation.  I was looking for something more specific in the REST Technical Profile instructions on what to do with the client secret as a policy key under the scenario of when the client secret has been rotated.

The initial client secret is being copied into a B2C policy key set (from the instructions "Secret: enter your cli

[2022-01-21 13:55] AnuragSharma-MSFT commented on #86453
@gdotv Thanks for your reply. I have limited understanding about end to end process here. I am tagging the content author to seek more details on the same.

[2022-01-21 13:57] skeeler opened #86768 "Sample code references an older (and wrong) api-version"
The sample code for "Purge a soft-deleted APIM instance" uses "?api-version=2020-06-01-preview", but the latest (GA) version is "?api-version=2021-08-01" per this doc: https://docs.microsoft.com/en-us/rest/api/apimanagement/current-ga/deleted-services/purge.

This is problematic as certain Purge/Delete operation on APIM resources only work with the "2021-08-01" (or later) versions. Here is an exam

[2022-01-21 13:58] shashishailaj commented on #86491
@duongau Could you please review this issue and see how best we can improve this document as per the suggestions ?

[2022-01-21 14:12] dreeves14 opened #86769 "How long does drain mode last."
I've been in a fight with microsoft support to get help with really poor performance and failed RDBootloader/WVDAgent upgrades killing my hosts. They keep saying "we have to get on the host to get more info" but its impossible to preserve a host in production because of the issues its causes. I put a host in drain mode last night in hopes of preserving it for MSFT support to gain access to it toda

[2022-01-21 14:22] pettys commented on #83847
@miwebst Thanks for the response.

I understand the ubiquitous tradeoff struggle between convenience and security. The threat model will be highly dependent on the specific web app; I hope the information below makes the case that allowing that tradeoff to be configured for the specific app by the app owner, rather than across-the-board for the platform, is an important feature of a web app hostin

[2022-01-21 14:27] cpdohert opened #86771 "No link to any documentation on ARM template implementation of this feature"
That's nice.  How about a link to some documentation on how to do this, or even just the name of the ARM resource that does this so I can at least look it up?

One doc bug a day!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d845657-c7fe-5c8e-b34a-947a38fca588
* Version Independent ID: dfad242f-8928-0eb3-b991-9bd30f3

[2022-01-21 14:29] MonikaReddy-MSFT commented on #86649
@ianc911 - You can track the I/Os on the Metrics page for the VM. Please take a look at this document - https://docs.microsoft.com/en-us/azure/virtual-machines/disks-metrics

Hope this helps.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2022-01-21 14:29] #86649 closed

[2022-01-21 14:34] MonikaReddy-MSFT commented on #86763
@sopelt - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-21 14:38] MonikaReddy-MSFT commented on #86591
@rishjai-msft - Thanks for providing more insights.

@jeffwmiles -

In order for us to troubleshoot further, We would like to put you in touch with a support engineer so you can receive 1:1 support for a deeper investigation on this.

We would need you to send us an email at AzCommunity@Microsoft.com by providing below details.
Subject : ATTN:Monika
1) Subscription ID
2) A link to this thread.
Ple

[2022-01-21 14:53] jotheman0303 opened #86772 "Second AAD Connect server configuration - Notification"
When configuring a second AAD Connect server I still get the notification below. Might be practical to at least change the notification text as, with the preview scenario, this is supported and can be confusing:
![image](https://user-images.githubusercontent.com/34010893/150547498-4a917442-520c-42db-87f6-e57d0fb419aa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-01-21 15:08] jeffwmiles commented on #86591
@MonikaReddy-MSFT, email has been sent. I'd be happy to speak to a support engineer for more details.

For the benefit of the community and posterity on this issue, the use case is really a fully featured initial implementation of Azure Site Recovery using ARM Templates. I have an example of this documented on [a git repository](https://github.com/jeffwmiles/arm-azuresiterecovery), and I am lookin

[2022-01-21 15:09] Geolonmi opened #86773 "Reset guests' redemption status"
Hello,

I've been trying to change guests' connection email using the following [documentation ](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/reset-redemption-status).

I did try the powershell example, unfortunately with an administrator account and I got the following error :

`New-AzureADMSInvitation : Error occurred while executing NewAzureADMSInvitation
Code: Ba

[2022-01-21 15:12] MeenakshiBalekar opened #86774 "Github sample and document does not align"
Hello Team,

I was trying to create the sample using :
https://review.docs.microsoft.com/en-us/azure/azure-web-pubsub/tutorial-build-chat?branch=main&tabs=csharp

while I see below parameters :

1. While running the commans below :
 dotnet new web
dotnet add package Microsoft.Azure.WebPubSub.AspNetCore --version 1.0.0-beta.3

If the application is targeting to ASP.NET 6.0 it does not have startup.

[2022-01-21 15:20] vlado101 opened #86775 "Question about proper cache setting for F series VM"
Hello,

I had a question if we can enable cache on compute optimized VMs (ex: F16s_v2). I am trying to set up caching, but a lot of the workloads I have require compute heavy VMs and I would like to enable caching on those machines through ADF Linked Service.

Is it recommended to use "spark.databricks.io.cache.enabled": "true" settings if the VMs that you are using are compute heavy?

In our ADF

[2022-01-21 15:22] mlachman opened #86776 "Variable $publicSettings is written with capital"
The powershell script under "Configure IIS to use the certificate" has a typo in the script. This issue causes that the script isnt working without a modification.

`$PublicSettings = '{
    "fileUris":["https://raw.githubusercontent.com/Azure-Samples/compute-automation-configurations/master/secure-iis.ps1"],
    "commandToExecute":"powershell -ExecutionPolicy Unrestricted -File secure-iis.ps1"
}'

[2022-01-21 15:24] atombravo opened #86777 "Half-sentences in text"
This needs to be edited--some of this text is just incomplete sentences (maybe a single sentence was broken into two by mistake?)

E.g., this is not a sentence:
"When creating a link between a private DNS zone and a virtual network. "
"If you choose to link your virtual network with the private DNS zone without autoregistration. "

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-01-21 15:35] kanshiG commented on #86376
It is similar for periodic from the time request is rcvd and acted by us.

.
________________________________
From: becke-ch-s0-v1 ***@***.***>
Sent: Friday, January 21, 2022 5:14:23 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Govind Kanshi ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Periodic backup: Restore: Missing RTO (Issue #86376)

@kanshiG<https://nam06.sa

[2022-01-21 15:40] ryanperrymba opened #86778 "Please provide link for the JSON Schema reference"
Previously I found a MSFT link describing the Parse JSON schema. IE how to specifiy that a property is optional. A link to info on generating / customizing it would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e580b76a-a648-1f18-ed28-a7d6f206ce41
* Version Independent ID: 64711039-ee01-6547-4588-a8ab1ae90

[2022-01-21 15:48] VikasPullagura-MSFT commented on #86776
@mlachman Thanks for pointing this out. The document is updated and changes will go live soon.

[2022-01-21 15:49] VikasPullagura-MSFT commented on #86765
@mateuszdrab
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-21 15:49] VikasPullagura-MSFT commented on #86765
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-01-21 15:59] VikasPullagura-MSFT commented on #86769
@dreeves14 Thanks for reaching out.
Can you please confirm if you are using a scaling script or Autoscale that in preview?

[2022-01-21 16:03] dreeves14 commented on #86769
Anders CPA & Advisors - General Document

Im Using Nerdio WVD for Enterprise and their tool set. I activated drain mode from the azure portal. My assumption is the autoscale turned it off last night thus losing the drain mode variable, however I've seen other instances where I've turned drain mode on and its fallen off shortly after when this wasn't the case. That's why im curious if there is a ti

[2022-01-21 16:09] Karishma-Tiwari-MSFT commented on #86756
Thanks for the question. We are currently investigating and will update you shortly.

[2022-01-21 16:09] VikasPullagura-MSFT commented on #86769
@dreeves14
Drain mode On will not kickoff users automatically /either group policies
Are you sure you kick off all the users after you drain the node?

![image](https://user-images.githubusercontent.com/48944027/150560640-89512dad-ed9f-4fd4-aa52-3bbb4aaf1138.png)

[2022-01-21 16:15] GeethaThatipatri-MSFT commented on #86523
I'm assigning this to the author for the feedback review.

[2022-01-21 16:16] shashishailaj commented on #86753
@Sandy-dnv Thank you for your inputs . We will engage the content team on this to take it forward.

[2022-01-21 16:17] MarileeTurscak-MSFT commented on #86772
@jotheman0303 glad you figured it out! Thanks for confirming.

[2022-01-21 16:22] dreeves14 commented on #86769
Anders CPA & Advisors - General Document

Im asking how long does the drain mode state persists and keeps people from connect. It appears it only last for so long before no longer being in drain mode. I need to potentially keep a host in drain mode for a long time until Microsoft support can connect with me to look at why certain issues persist. But it appears that drain mode doesn't last indefini

[2022-01-21 16:23] RyanHill-MSFT commented on #86774
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 16:24] RyanHill-MSFT commented on #86755
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 16:43] tfitzmac commented on #86735
@Asha-Hiremath - thanks for this feedback. Did your template include the subnets when deploying again?

[2022-01-21 16:49] jurschel commented on #86726
I just got this working by installing the azuread plugin for SonarQube.  So you might just want to call that out as the method you need to use if you want to use group membership access control.

[2022-01-21 16:49] SnehaAgrawal-MSFT commented on #86760
@MeenakshiBalekar Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-21 16:49] ianc911 commented on #86649
Hi Monika, this doc lists "Average I/O size for source disk" as one of the parameters for a disk. It is measured in KB. This metric can affect the allowable churn on a P10 or P15 disk by a factor of 4: 8KB -> 2 MB/s & 32 KB -> 8 MB/s. Nowhere on this page, on the metrics page for a VM, or in the document you link to is this parameter mentioned. If you don't want to include that information in the

[2022-01-21 17:02] GeethaThatipatri-MSFT commented on #86375
Thanks, @becke-ch-s0-v1 for confirming.

[2022-01-21 17:04] tshaiman opened #86780 "Deallocation mode - more configuration options needed"
This is very helpful and along-waiting feature .
the only issue we have is that the deallocated VM's stay "forever" in that phase , hence preventing supply-demand to other node pools ( as they hold up reserved vCores) .

If there was an option to set deallocation mode with smarter rules ( max days , max vCores , etc) that would cause a real impact with this feature.

---
#### Document Details

⚠ *

[2022-01-21 17:06] tfitzmac commented on #86735
One more question - did you create the subnets as a child resource on the vnet or through the property on the vnet?

[2022-01-21 17:10] kobulloc-MSFT commented on #86780
@tshaiman Thank you for your feedback!  I'm adding the document author, @qpetraroia to this for increased visibility.

Additionally, one of the best ways to share Azure feedback is through feedback.azure.com which allows community members to vote on ideas that are presented to the product groups.  For example, you can find and post Azure Kubernetes Service (AKS) feedback here:

https://feedback.az

[2022-01-21 17:20] VikasPullagura-MSFT commented on #86769
@dreeves14

When you turn drain mode ON for your session hosts, it stays ON until you turn it OFF.

The only thing that AVD has that changes drain mode is Autoscale which is in public preview. Depending on the capacity of the host pool and capacity thresholds set, Autoscale will set some session hosts to be in drain mode before force logging off users.

If you have not enabled Autoscale, then ther

[2022-01-21 17:28] MarileeTurscak-MSFT commented on #86773
@Geolonmi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-21 17:41] erik-ha-msft commented on #80448
Thanks for the feedback @sb1975!

I tested and validated creating a VM in the same VNet as the AKS cluster (on the same subnet and different subnets within the AKS VNet).

The VMs were able to run `kubectl` commands against the private cluster. No modifications were needed to any kubeconfig files, so I will be closing out this issue.

#please-close

[2022-01-21 17:41] #80448 closed

[2022-01-21 17:56] b-hchen commented on #86698
Thanks again @tleverresmith.  The suggested change has been implemented (https://github.com/MicrosoftDocs/azure-docs-pr/pull/185697) and will be published later today.  We expanded the consideration to read as follows:

* The admin account you use must have the capability to create machine accounts in the organizational unit (OU) path that you will specify. **In some cases, `msDS-SupportedEncrypti

[2022-01-21 17:56] #86698 closed

[2022-01-21 17:58] michaelcretzman opened #86781 "The is a new version of Harness for this"
Harness has a new version of their product. SCIM integration with Azure AD should be pretty much the same.

But you might want to update the doc for the new version, also.

The new version Harness NextGen. You can switch back and forth between the versions in any Harness account.

Docs for the new version: https://ngdocs.harness.io/

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-01-21 18:06] JimacoMS4 commented on #69174
Hi @JanMercer,

Thanks again for your feedback. As I stated above, since your feedback, the topic has been updated to include **device connection state events** for message routing. At this time, I'm going to close this issue. If you have further questions or follow-up, please @comment me here or open a new feedback issue. Thanks again for taking the time to provide feedback on our documentation.

[2022-01-21 18:06] #69174 closed

[2022-01-21 18:16] B3DTech opened #86782 "Command fails creating AD Service Principal"
The commands for creating a new service principal in Powershell do not work.

`PS > $sp = New-AzADServicePrincipal -DisplayName "Arc-for-servers" -Role "Azure Connected Machine Onboarding"
WARNING: We have migrated the API calls for this cmdlet from Azure Active Directory Graph to Microsoft Graph.
Visit https://go.microsoft.com/fwlink/?linkid=2181475 for any permission issues.
PS /Users/mdiorio> $

[2022-01-21 18:18] JamesTran-MSFT commented on #86781
@michaelcretzman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-21 18:19] tfitzmac commented on #86735
I have added a warning about using the subnets property on the virtual network rather than using the subnet as a child resource. When defined on the vnet, the subnets are preserved.
#please-close

[2022-01-21 18:19] #86735 closed

[2022-01-21 18:26] tshaiman commented on #86780
@kobulloc-MSFT  : I understand , but sometimes it takes months/years until this is being noticed, while this feature is in preview its important for me to get faster response from the developers.

[2022-01-21 18:26] KranthiPakala-MSFT commented on #86757
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-01-21 18:28] KranthiPakala-MSFT commented on #86775
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-01-21 18:36] LarsKemmann opened #86784 "IoT Edge install via Windows Admin Center shouldn't start with a manual MSI install"
The following step does not apply anymore when installing via Windows Admin Center, only via PowerShell:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981e06fb-977c-c6a3-b5bf-23ea63b4dfe6
* Version Independent ID: 3620faaf-95d0-cdd2-e4ed-18c9e24a0bb4
* Content: [Create and provision an IoT Edge for Linux on Windows de

[2022-01-21 18:40] TiloGit commented on #86573
@SumanthMarigowda i was using the AKS link. Glad to hear that this is also the official MS way of doing it in ARO/OCP.

[2022-01-21 18:43] JimacoMS4 commented on #85487
#reassign @JimacoMS4

[2022-01-21 18:45] #86660 closed

[2022-01-21 18:50] SamaraSoucy-MSFT commented on #86778
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-21 18:51] SamaraSoucy-MSFT commented on #86768
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-21 18:51] JimacoMS4 commented on #85487
Hi @junghyeon-ryu Thanks for taking the time to provide feedback to our documentation! Can you please, provide a little more information about your environment? What device operations are you relying on to trigger the connection events in Event Grid?

- Are you relying on telemetry messages sent by your device? If so, how often are they sent?

- Are you relying on cloud-to-device receive message o

[2022-01-21 18:52] SamaraSoucy-MSFT commented on #86764
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-21 18:52] SamaraSoucy-MSFT commented on #86762
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-21 19:02] ynpandey commented on #85397
The issue was resolved after creating a resource group from the scratch and retrying the steps.

[2022-01-21 19:03] nibaccam commented on #85397
Thanks @ynpandey.
We will now proceed to close this thread.
#please-close

[2022-01-21 19:03] #85397 closed

[2022-01-21 19:06] VikasPullagura-MSFT commented on #86769
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-21 19:06] #86769 closed

[2022-01-21 19:28] tfitzmac commented on #86744
@Netspud2K - thanks for the question. I ran a test of having two VMs in a vnet. I tried moving one VM to a new subscription and it failed. I tried a couple of tests of moving different combination of resources with the VM but couldn't get it to work.

@cynthn - do you have any clarification about whether a VM can be moved to a new subscription without moving the vnet and all resources in the vnet?

[2022-01-21 19:28] JimacoMS4 commented on #60479
Hi @bamarek - Thanks again for your feedback! Since you reported this issue, the IoT Hub documentation has been updated to point to the [**Device Update for IoT Hub**](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/understand-device-update) documentation for device/firmware updates. In short, **Device Update for IoT Hub** is an end-to-end platform that customers can use to publish, d

[2022-01-21 19:28] #60479 closed

[2022-01-21 19:34] BryanTrach-MSFT commented on #86758
@rhb21eg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rboucher Can you please take a look at this request?

[2022-01-21 19:44] msalemcode opened #86788 "Invalid QueryID for OrderV2"
[Enter feedback here]
Report description: OrdersV2 report for the last 6M
QueryID: bd1b0cc1-ce45-4578-beba-6fe5a69fd421

This QueryID does not exist
{
    "value": [],
    "totalCount": 0,
    "message": "Invalid QueryID",
    "statusCode": 400
}
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27dc6e3c-7334-5512-9d6d-9d0

[2022-01-21 19:52] JasonFreeberg commented on #84713
PR to close this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/185737

[2022-01-21 20:04] vincentbfx opened #86789 ""Publisher Support" link is no longer valid"
The first link of the article ("Publisher Support"), used to open a Security Event ticket with Microsoft, is pointing to the Support Services Hub page on a problem type that doesn't exist anymore.

This documentation page needs to be updated to adapt to the changes that have been implemented to the Services Hub last year.

Repro steps:
- navigate to https://support.microsoft.com/en-us/getsupport?w

[2022-01-21 20:17] v-steveadams commented on #85869
#please-close

[2022-01-21 20:17] #85869 closed

[2022-01-21 20:18] zeinab-mk commented on #86522
@jephlu thank you for the feedback. I would like to provide an update on your request:

'gateway.purview.azure.com'  (required)
‘<accountName>.web.purview.azure.com'  (Not needed and removed from docs)

[2022-01-21 20:19] zeinab-mk commented on #86522
#please-close

[2022-01-21 20:19] #86522 closed

[2022-01-21 20:36] Axilla-the-HUN opened #86791 "Thanks for Explaining all of the features...now how do we use it"
I need to know the correct settings to setup a storage account for FSLOGIX storage setup.

The URL link from this page brought me here

https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-adds

![image](https://user-images.githubusercontent.com/58790049/150596371-881bd81d-b2fa-4eea-945e-0db42e94fde0.png)

2 things right off the bat for my use case you didn't mention the

[2022-01-21 20:42] JamesTran-MSFT commented on #86789
@vincentbfx
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-21 20:50] tamram commented on #86791
@Axilla-the-HUN - I understand that you are looking for documentation that can support your specific scenario. Azure Storage is a fundamental technology that is used by lots of different services, and we can't provide custom configuration instructions for all of them. That's something that should be in the FSLOGIX docs, if necessary. I recommend that you open a GitHub issue against one of their pa

[2022-01-21 20:50] #86791 closed

[2022-01-21 20:58] JamesTran-MSFT commented on #86589
@mvaferreira
Thank you for your time and patience throughout this issue!

Since your other GitHub issue (https://github.com/Azure/azure-cli/issues/21038) is currently being worked on by our engineering team, I'll go ahead and close this out.

**[PG Update:](https://github.com/Azure/azure-cli/issues/21038#issuecomment-1018091324)**

[2022-01-21 21:14] #84713 closed

[2022-01-21 21:15] GeethaThatipatri-MSFT commented on #86687
Hi @kabharati Can you please provide your input.

[2022-01-21 21:23] KranthiPakala-MSFT commented on #86723
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-01-21 21:23] #86723 closed

[2022-01-21 21:27] KranthiPakala-MSFT commented on #86757
Hi @ShreelakshmiCR - I see that you have also opened a thread in Microsoft Q&A forum and once of our MVP has responded to your query with relevant information. Please review the response and feel free to respond on the Q&A if you have further queries.

Microsoft Q&A thread link: [No Start option in Azure Stream Analytics job's overview Page](https://docs.microsoft.com/en-us/answers/questions/70472

[2022-01-21 21:27] #86757 closed

[2022-01-21 21:30] JoeAYeung opened #86792 "azscriptoutput/scriptoutputs.json has an invalid syntax"
Please update backend script.
It failed on my fresh Azure free account!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bb41598-89e5-85a9-be3d-b91f5aefd564
* Version Independent ID: f97a6bb1-f4a0-6c8a-fbc3-e7155657a164
* Content: [Get started](https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-d

[2022-01-21 21:31] systemswizard opened #86793 "Azure Active Directory single sign-on (SSO) integration with Salesforce missing documentation"
Step 10 under Configure Salesforce SSO mentions setting a claim of User.ProfileId

I can set a claim name of User.ProfileId, we have the ProfileId code from SalesForce but we cannot change it as the dropdown field is static with azure attributes. How does this get setup? As this is crucial part of the setup yet not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-01-21 21:51] KranthiPakala-MSFT commented on #86588
@leifbro, @mssaperla - Looks like this doc needs an update. I did try with the DR 7.3 LTS and had the same issue as the OP. Could you please validate this doc and enhance with latest information?

Thank you

[2022-01-21 21:56] JamesTran-MSFT commented on #86793
@FlynnLives
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-21 21:58] JoeAYeung opened #86794 "Failed to create edge module 'avaedge'! The requested resource was not found."
Tried to follow this quickstart, but ran into

Failed to create edge module 'avaedge'! The requested resource was not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd9be04-e582-c53c-9797-7838d50f945f
* Version Independent ID: aead0907-9e9a-4376-38f6-45c7b4acf175
* Content: [Get started with Video Analyzer usin

[2022-01-21 22:01] KranthiPakala-MSFT commented on #86722
Hi there,

We have noticed that the issue was closed within few minutes of opening. Just wanted to check if you have any queries or you have already found what you are looking for. Please feel free to open a new thread if you have any feedback on the documentation. If you have technical questions please reach out in [MS Q&A forum](https://docs.microsoft.com/en-us/answers/products/)

Thank you

[2022-01-21 22:05] jephlu commented on #86522
Hello @whhender
Thanks for the information shared.
It confirms that the portal PE is only for public resources, great!
It is better whan having multiple purviews in one network :)

[2022-01-21 22:06] amt-git opened #86795 "Data Factory not working with Databricks Delta"
trying to read delta table from databricks got this error. the connection works fine from GUI to browse and select table

ErrorCode=AzureDatabricksCommandError,Hit an error when running the command in Azure Databricks. Error details: Failure to initialize configurationInvalid configuration value detected for fs.azure.account.key
Caused by: Invalid configuration value detected for fs.azure.account.

[2022-01-21 22:12] erikerikson commented on #86722
I used the wrong account here and have opened a meaningful issue using the right one.

[2022-01-21 22:15] jephlu commented on #86522
Hello @zeinab-mk,
Thanks for the update!
To be sure, as 'gateway.purview.azure.com' is routed to internet when used with private DNS zone and the PE account, the requirement is to route it to internet or the private endpoint ? :)

[2022-01-21 22:17] SaurabhSharma-MSFT commented on #86742
@ShawnHag Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-21 22:30] mcphee78 commented on #63453
Hi Product Team, I was wondering is it possible yet to call a synapse notebook from another using mssparkutils

[2022-01-21 23:06] johann-hackl-microsoft opened #86797 "Extension Based Hybrid Worker on Linux limits CPU to 5% which is nowhere mentioned - Agent Based Hybrid Worker didn't have this limit"
Hi colleagues,

please at least mention the default limit to 5 % CPU, as the former Agent-Based Hybrid Worker didn't have this limit under Linux.

When upgrading to the new worker, existing CPU intensive runbooks therefore run extrem slow and also might get errors due to the extremely boxed resources.

see entry "CPUQuota=5%" in files:
- /var/lib/waagent/Microsoft.Azure.Automation.HybridWorker.Hyb

[2022-01-21 23:22] FinneVirta commented on #83901
@SumanthMarigowda I'm having an issue with Azurite not starting automatically in VS 2022 when selecting multiple startup projects. If I select the my Functions project as the single startup project the output for "Service dependencies" shows that Azurite starts up, but when I select multiple nothing is started.

[2022-01-21 23:28] DrRobertMurphy commented on #82039
I am happy to report that when I reviewed my Advisor recommendations, all of them had postpone and dismiss available, though some of the items I dismissed on 12/1/21 were still there. I re-dismissed them today. Also, the `Migrate Standard disks to Premium disks` seemed to have trouble dismissing, but we are in a far better state now.

[2022-01-21 23:30] James-Hamil-MSFT commented on #86586
Hi @ORodrigues89 , I'll reach out about this to improve them. I'm going to close the issue, but please post back if you have specific sections you wish to improve.

Best,
James

[2022-01-21 23:32] James-Hamil-MSFT commented on #86534
Hi @cabermu , thanks for reaching out about this. I'm confirming this and if so I will update the document.

Best,
James

[2022-01-22 00:19] SatishBoddu-MSFT commented on #86784
Hello @LarsKemmann
I have assigned the issue to the SME for further review.

[2022-01-22 00:58] JimacoMS4 commented on #41501
Hi @WilliamBerryiii Thanks for your feedback, and I'm sorry it's taken so long to address. Since you filed this issue, the TOC has undergone some reorganization and topics have changed. We now organize our message routing content under a dedicated TOC node, called **Message routing**. The [Custom endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#custom-endpoints)

[2022-01-22 00:59] mmacy commented on #86129
@ameltzerMSFT Agreed. Honestly, you could have stopped here:

But I'm glad you didn't. I've done some digging and it looks like we have .NET token caching info spread all over, including _but not limited to_ the following.

## docs.microsoft.com

- [Get a token from the token cache using MSAL.NET](https://docs.microsoft.com/azure/active-directory/develop/msal-net-acquire-token-silently) - interact

[2022-01-22 01:03] Marusyk opened #86799 "AbuseProtectionResponseMissingAllowedOrigin on connect"
I follow these steps and received the exception on connect in browser:

in trace tool:

but I can receive OPTIONS call which successfully returns `*` for `Webhook-Allowed-Origin` according to https://docs.microsoft.com/en-us/azure/azure-web-pubsub/howto-develop-eventhandler#upstream-and-validation

![image](https://user-images.githubusercontent.com/9221694/150618159-2223c238-bb3a-42e0-8fdd-6ae17f0

[2022-01-22 01:15] mmacy commented on #86634
@mack0196 Sean, thanks for the issue. Tracking this and #86129 together. For clarity, I'd like to confirm:

By your statement here (emphasis mine):

You'd actually meant this:

...as discussed in [AcquireTokenForClient uses the application token cache](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-acquire-token?tabs=dotnet#acquiretokenforclient-uses-the-applicatio

[2022-01-22 01:44] JimacoMS4 commented on #36979
Hi @perkops,

Thanks for your feedback, and I'm sorry it's taken so long to respond. I think that for a create operation, there would be no existing twin on the new device, so I don't see how there could possibly be an **etag** match. I'll confirm with the product team, tho, and report back.

Thanks again,

Jimaco

[2022-01-22 02:37] jlorich commented on #86699
Yeah I realized and closed, sorry about that.  It's not super intuitive as it differs from other products (e.g. Azure Digital Twins) which allow top-level assignments and has no portal experience.  Got it working though! thanks.

[2022-01-22 03:01] BharathNimmala-MSFT commented on #86771
@cpdohert Apologies for the experience, thanks for sharing your feedback. Our team will further review on this and get back to you.

[2022-01-22 03:16] vault79 opened #86801 "Oid unique scope is not clear from this document"
Hello, let me share feedback to the document.
From the document, I can understand `oid` can be unique across application. On the other hand, I could not understand whether `oid` is unique across all tenant users.

+++ copy & paste sentence from document +++
The immutable identifier for an object in the Microsoft identity system, in this case, a user account. This ID uniquely identifies the user ac

[2022-01-22 03:20] BryanTrach-MSFT commented on #86777
@atombravo Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:23] BryanTrach-MSFT commented on #86782
@B3DTech Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:24] BryanTrach-MSFT commented on #86788
@msalemcode Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:25] BryanTrach-MSFT commented on #86792
@JoeAYeung Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-22 03:26] BryanTrach-MSFT commented on #86794
@JoeAYeung Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-22 03:27] BryanTrach-MSFT commented on #86797
@johann-hackl-microsoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:28] BryanTrach-MSFT commented on #86795
@amt-git Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:29] BryanTrach-MSFT commented on #86799
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 03:30] sammy1188 opened #86802 "where is swagger/ui ?"
Nice article but where/how do I access the swagger ui, the equivalent of http://localhost:7071/api/swagger/ui after deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb35bea-163c-aed4-abf1-e0e99224d19f
* Version Independent ID: 345a75d5-d038-e280-a0ae-e7ae3ff499d8
* Content: [Create serverless APIs in Visual

[2022-01-22 05:19] ShreelakshmiCR commented on #86757
Team, To be very specific, If the Stream job is created on Edge instead of Cloud this problem arises. You can be specific in fixing the issue for Edge Stream Job.

[2022-01-22 06:29] KrishnaG-MSFT commented on #84384
Apologies for the delayed response on this. If you still see the issue please reach Azure support for quick resolution. In that regards, [here](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) are the steps to raise a support ticket with Azure technical support team if you already have a support plan. But if you don't have a support plan, then

[2022-01-22 06:29] #84384 closed

[2022-01-22 06:37] KrishnaG-MSFT commented on #86200
@russgunther-rti Looks like this needs deeper investigation. So please reach Azure support for quick resolution. In that regards, [here](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) are the steps to raise a support ticket with Azure technical support team if you already have a support plan. But if you don't have a support plan, then please

[2022-01-22 06:37] #86200 closed

[2022-01-22 06:45] KrishnaG-MSFT commented on #86558
@danimir Thanks for the comment.
@jdanton At this point it appears that there's no edits or updates needed for the referred Azure documentation soc losing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-01-22 06:45] #86558 closed

[2022-01-22 06:58] KrishnaG-MSFT commented on #86564
@zaicnupagadi This needs deeper investigation so please reach Azure support for quick resolution. In that regards, [here](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) are the steps to raise a support ticket with Azure technical support team if you already have a support plan. But if you don't have a support plan, then please send mail to A

[2022-01-22 06:58] #86564 closed

[2022-01-22 07:30] ntziolis commented on #61197
For anyone finding this, the basics:
- Each identity provider is registered with an ID
- In the [default idp selector html ](https://login.microsoftonline.com/static/tenant/templates/AzureBlue/idpSelector.cshtml)this ID is added to the social button as attribute `id="[ID]"`
- This html id is then used to assign an image via css

[code]

Now you have two options:
- Copy based apporach
   - create a

[2022-01-22 07:45] #86633 closed

[2022-01-22 09:11] ntziolis commented on #38532
- We are building a multi tenant application
- We have customers that do not have azure ad or other social logins hence we need to provide email + pw login in addition azure ad => this is the only reason we turned to azure b2c
- The customers that do have azure ad (which are hundreds) want us to lock down the login to their azure ad tenant
  - We already ensure this on the server side
  - But they

[2022-01-22 09:53] shashishailaj commented on #86801
@vault79 Thank you for your feedback. We will engage the content team to review the suggestions on this and take it forward accordingly .

[2022-01-22 13:03] danwatford opened #86803 "Claims missing from client principal passed to api in x-ms-client-principal header"
Tested using B2C as a custom authentication provider, configured to return claims such as name, emails and tfp.

When accessing the client principal via the /.auth/me direct-access endpoint, claims are included in the response per documentation and I can view the email address collected by B2C during the sign_up_sign_in flow.

When accessing the client principal via the x-ms-client-principal heade

[2022-01-22 13:47] vipulsparsh commented on #86802
@sammy1188 Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-22 14:21] danwatford opened #86804 "Client principal user id is not unique per app when using B2C authentication provider"
Tested with B2C as OpenID Connect authentication provider. User logging in with their Twitter account.

We have two static web apps configured to access the same B2C instance, each with their own client ID registered with B2C.

Documentation for the userId property of the client principal states:

We are observing the same userId in the client principal when the same user logs into each of our sta

[2022-01-22 15:37] chientrm commented on #56300
[code]

[2022-01-22 16:37] tamram commented on #86488
@norton287 - Could you please be a bit more specific about what is not working for you?

[2022-01-22 17:25] JimacoMS4 commented on #85487
Hi @junghyeon-ryu,

The product team just confirmed that connection state events are not sent when a device is connected over HTTP/s. I'll be updating the documentation shortly and will let you know when it goes live.

Thanks again for your feedback!

Jimaco

[2022-01-22 17:40] mfthomps opened #86806 "no info on sharing a gallery image publicly"
[Enter feedback here]
I've concluded it is not possible to share a gallery image with any and all azure users, i.e.,  make it public.  your docmentation should state that explicitly.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb094d5f-75d3-5080-7748-6b43a83bb3dc
* Version Independent ID: 6cc1bfdb-eba3-e788-c9ed-dd97

[2022-01-22 17:45] AdamDube opened #86807 "Cloud Explorer retired from Visual Studio 2022"
[Enter feedback here]
Hello,

Great tutorial, thank you. Just to let you know Cloud Explorer in Visual Studio has been retired from Visual Studio 2022.
Ref : https://docs.microsoft.com/en-us/visualstudio/azure/vs-azure-tools-resources-managing-with-cloud-explorer?view=vs-2022

It would be great to update the documentation to learn how to manage the tracing and if it 's possible anymore in VS, how

[2022-01-22 18:41] BryanTrach-MSFT commented on #86807
@AdamDube Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-22 18:43] BryanTrach-MSFT commented on #86804
@danwatford Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-22 18:47] BryanTrach-MSFT commented on #86806
@mfthomps Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 18:48] BryanTrach-MSFT commented on #86803
@danwatford Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-22 19:53] longtimedeveloper commented on #83901
@bobhuang1 @SumanthMarigowda @normesta I'm using Microsoft Visual Studio Community 2022 (64-bit)
Version 17.0.5 which installs azurite 3.14.1.

I was unable to get ANY queries to work locally.  Spent hours debugging my code then I came across this post.

To get my local Azure Table queries working I had to do this:

1. Downloaded Azurite v3.15.0 from here [https://github.com/Azure/Azurite/releases

[2022-01-22 20:26] mfthomps opened #86809 "stop vm before generalize"
After the command completes, enter exit to close the SSH client. The VM will still be running at this point.

*** tell the user to stop the VM ****

Then the VM needs to be marked as generalized on the platform.

az vm generalize \
   --resource-group myResourceGroup \
   --name myVM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-01-22 20:36] JstrzAtW2M commented on #7406
I'm getting this error
AADSTS50020: User account 'xxxxx' from identity provider 'live.com' does not exist in tenant 'xxxxx' and cannot access the application. It doesn't redirect to my site though, but just sits on this page. Is this 'leaving the flow'?
![image](https://user-images.githubusercontent.com/3604282/150654568-989dd073-d9d0-4c6b-a393-15ae297c9f23.png)

It says in the docs that one of th

[2022-01-22 21:23] plbowers opened #86810 "int() can take non-string arguments"
According to the documentation here the only valid argument to int() is a string.

In fact I gave it a float (without the decimal point - that causes problems) and it converted properly.

More specifically the value I was getting was from a sharepoint list and I was using that number as the 2nd argument to addDays(). Before I surrounded it with int() I was getting an error that the value was a flo

[2022-01-23 00:22] sammy1188 commented on #86802
Thanks for coming back, all good now. Found the answer

[2022-01-23 00:22] #86802 closed

[2022-01-23 06:34] memildin commented on #86534
Thanks, @James-Hamil-MSFT.
Please go ahead and update the page.
I'm no longer working in the docs org, but I assume I'll retain ownership of this for a while until a suitable candidate takes over the topic.

[2022-01-23 08:42] BryanTrach-MSFT commented on #86809
@mfthomps Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 08:43] BryanTrach-MSFT commented on #86810
@plbowers Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 10:19] TheILPlace opened #86811 "blob output binding - query string parameters"
[Enter feedback here]

it should be added to the docs here, that if the input binding is HTTP, you can use the query string parameters inside the function.json (i use typescript for the functions) for example .. in the blob output file name

e.g.:

http://..../uploadfile?myname=longname

in function.json

 {
      "type": "blob",
      "direction": "out",
      "name": "storage",
      "path": "up

[2022-01-23 13:08] miltek2 opened #86812 "Bad Links in page"
Page contains bad links:
[Understand privileged access workstations](https://docs.microsoft.com/en-us/security/compass/concept-azure-managed-workstation)
[Privileged access workstations deployment](https://docs.microsoft.com/en-us/security/compass/privileged-access-deployment)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-23 13:09] take-4c opened #86813 "Is it correct to use the option "--docker-container-logging" for Windows?"
Hi Team,

In the "Stream diagnostic logs" section, this page says the following for Windows.

To access the console logs generated from inside your application code in App Service, turn on diagnostics logging by running the following command in the Cloud Shell:
az webapp log config --resource-group <resource-group-name> --name <app-name> --docker-container-logging filesystem --level Verbose

I hav

[2022-01-23 14:49] thomaskennedy1066 opened #86814 "Commands out of date and vm creation jobs keep failing"
[Enter feedback here]

This page needs updated.  The commands are out of date ("zone = 1,2,3 is deprecated").  Also the vm creation job does not deploy.  Job keeps failing
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a3b0f4-45e0-2baf-8803-fed319908e69
* Version Independent ID: f453011c-d919-c73c-9772-068fb7f6060f
*

[2022-01-23 15:59] MohamedA-Ibrahim opened #86815 "Dead links for some Node.JS samples"
The provided links are dead and lead to 404 page for the first two samples:
"Create an account from code", "Create an account with user assigned managed identity code"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537ae30b-2f36-2520-cae9-b170ca0f1217
* Version Independent ID: 1ba2a3ae-c07a-52be-003e-7e8aa92e0e66
* Con

[2022-01-23 16:05] shashishailaj commented on #86676
@dcaddick If you have Security defaults enabled , it adds a layer of 2nd factor verification for everyone in the tenant and this causes app password option to be disabled for the users.

![image](https://user-images.githubusercontent.com/532022/150686842-b67c6007-6dc2-49c1-8388-287abe4002f3.png)

In case you are using conditional access based MFA policies for any application supporting modern auth

[2022-01-23 16:05] #86676 closed

[2022-01-23 16:29] shashishailaj commented on #86742
<html>
<body>

Risk detection | Detection type | Description
-- | -- | --
Atypical travel | Offline | This risk detection type identifies two sign-ins originating from geographically distant locations, where at least one of the locations may also be atypical for the user, given past behavior. Among several other factors, this machine learning algorithm takes into account the time between the two s

[2022-01-23 16:29] #86742 closed

[2022-01-23 16:33] shashishailaj commented on #86673
@Tibap This has been added to the document . the below note in the article "Using RDP to connect to a Linux virtual machine requires the Azure Bastion Standard SKU." clarifies the standard SKU requirement when trying to connect to linux VM through  RDP .

![image](https://user-images.githubusercontent.com/532022/150688239-5dd8c1f2-88b3-4b1c-8b4e-570634d93152.png)

[2022-01-23 16:33] #86673 closed

[2022-01-23 16:34] norton287 commented on #86488
Tamra,

I finally figured it out but the documentation as written implies some things that are not correct.

As I read the instructions for undeleting blobs it came across as you performed a query for blobs in a Deleted state and undeleted them first and THEN you queried the blobs that were deleted that had Soft-Delete With Versioning Enabled Second.  I did not realize that it was performing two d

[2022-01-23 18:31] shashishailaj commented on #86431
@DEberhardt This is a name change as far as the information checked internally. Microsoft 365 Phone System is a Product as well as Service plan. This is still in discussion with marketing on the naming part and it is not updated for all the tenants at this point . It is still a work in progress and updated information on this will be released later. Once the offline discussions between M365 commer

[2022-01-23 18:31] #86431 closed

[2022-01-23 18:36] shashishailaj commented on #85871
@aderesh We apologize for the delay in getting this handled however after initial discussion internally , this may require a more focused troubleshooting to understand the issue at a deeper level so as to help you better. Please send us an email at azcommunity [at] microsoft [dot] com with a subject line "ATTN:Shashi" referencing this thread and we will help you with alternative support options on

[2022-01-23 18:36] #85871 closed

[2022-01-23 18:36] #84715 closed

[2022-01-23 19:28] BryanTrach-MSFT commented on #86811
@TheILPlace Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 19:39] BryanTrach-MSFT commented on #86813
@take-4c Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 19:43] BryanTrach-MSFT commented on #86812
@miltek2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 19:47] BryanTrach-MSFT commented on #86814
@thomaskennedy1066 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-23 20:04] shashishailaj commented on #86280
@wUEZRs We have initiated a change request linking this article with the [AD connect topologies article](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies) and it will be reviewed by the content team further before approval . Once approved , the changes will be live on the article.

[2022-01-23 20:04] #86280 closed

[2022-01-23 20:04] p9139010 opened #86816 "VM Application - DeployifNot exists"
[Enter feedback here]

Documentation on how to create the policies for VM application scan and deploy if not exists into the Virtual Machines as remediation is necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1990fefe-9aee-5205-04aa-02ad58016077
* Version Independent ID: 9737fc6f-99a0-563a-b809-348326155834
*

[2022-01-23 20:20] shashishailaj commented on #86265
@CarylHenry We have initiated a change request for making the language generic for all users and changes will be live once the content team approve it . We will now close this issue and the content team will further review the pull request before merging into the production documentation for this page.
Thank you .

[2022-01-23 20:20] #86265 closed

[2022-01-23 21:17] EricHerlitz commented on #68893
APEX-records cannot be anything else than A records and linking it to a Traffic Manager resource or Front Door resource will require that the linked resource uses IP and not CNAME.

[2022-01-23 21:20] anderl80 commented on #86037
@ram-msft does it sound like a good idea to you to have the explanation above inserted in this docs here https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines?

[2022-01-23 22:06] AdamDube opened #86818 "Cosmodb deployment error - Upper case"
[Enter feedback here]
Hello,
Just to let you know, I ran the deploymentscript.ps1 as per instruction, but in the terminal, even after 45 min, I still get the "Warming up App Service..".
After looking left and right, at the beginning of the output of the deployment script, I found the following :
_ERROR: {"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployme

[2022-01-23 22:46] KarinBerg opened #86820 "No button "changeClaims" anymore"
Are you sure that the part with hiding the button 'changeClaims' is still valid?
<style type="text/css">
   .changeClaims
   {
     visibility: hidden;
   }
</style>

I think there is no button named "changeClaims" anymore.  It seems that is has been change internally. Could you please validate this and update the documentation.

Thanks
Karin

---
#### Document Details

⚠ *Do not edit this section

[2022-01-23 22:53] Kyelin25 opened #86821 "Security of App Service Resource Provider SP"
Hi, in [this section](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#authorize-app-service-to-read-from-the-vault) about authorizing the app service to read from a Key Vault it says to add the App Service resource provider service principal with read access to the Key Vault.

Is this a security issue? Am I correct that this would grant any application service in **any

[2022-01-23 22:58] dcaddick commented on #86676
Apologies for being persistent,

But did you actually test the UI for the screenshot I sent?
It feels like you have answered me without understanding what I’m trying to
say

I am trying to TEST for AppPassword access.
In the Demo tenant it appears that I am no longer able to even CREATE an
App Password - to the best of my knowledge this UI is not effected by
Security Defaults or Cond Access.

Plea

[2022-01-24 00:57] pnarsi commented on #86709
I assume "Search" was the fifth pillar but Microsoft have decided to move it out of Cognitive Services into Azure Marketplace.

https://blogs.bing.com/search-quality-insights/october-2020/Bing-Search-APIS-are-Transitioning

[2022-01-24 01:22] junghyeon-ryu commented on #85487
@JimacoMS4 Hello Jimaco, thank you for your heads up. Yes the issue was confirmed by our product team in my side as well. I hope our documentation has more explicitly demonstration for the behavior, thank you!

[2022-01-24 01:58] MicrosoftGuyJFlo commented on #86650
Needed for password change just the same as a traditional Domain Joined PC.

[2022-01-24 02:02] MicrosoftGuyJFlo commented on #86650
Also mentioned in the doc already https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/devices/hybrid-azuread-join-plan.md#prerequisites

[2022-01-24 02:02] MicrosoftGuyJFlo commented on #86650
#please-close

[2022-01-24 02:02] #86650 closed

[2022-01-24 02:02] MicrosoftGuyJFlo commented on #86650
#reassign:@MicrosoftGuyJFlo

[2022-01-24 02:10] MicrosoftGuyJFlo commented on #86411
Covered in the opening [!IMPORTANT] box.

[2022-01-24 02:11] MicrosoftGuyJFlo commented on #86411
#please-close

[2022-01-24 02:11] #86411 closed

[2022-01-24 02:11] AdamDube opened #86822 "Conflicting source-control error during deployment"
[Enter feedback here]
Hello,
I encountered two errors during the deployment, most likely same issue : conflict with both resource of type Microsoft.Web/Sites/sourcecontrols.  One of the resource is related to the <ToDoAppName->API/Web and the other is related to the <ToDoAppName>/Web (both of type Microsoft.Web/sites/sourcecontrols ).
The operation details tell only the provisioning state is in th

[2022-01-24 02:15] MicrosoftGuyJFlo commented on #86415
Article has been updated since issue was opened.

[2022-01-24 02:16] MicrosoftGuyJFlo commented on #86415
#reassign:@MicrosoftGuyJFlo

[2022-01-24 02:17] MicrosoftGuyJFlo commented on #86415
#please-close

[2022-01-24 02:17] #86415 closed

[2022-01-24 02:51] vicancy commented on #86799
Could you try some other tunnel service to see if it is ngrok that swallowed the header response(which I met before), for example, https://loophole.cloud/docs/?

[2022-01-24 02:52] vicancy commented on #86760
Looks already fixed.

[2022-01-24 03:05] AshokPeddakotla-MSFT commented on #86690
Adding to @wesmc7777 to review and update the doc accordingly.

[2022-01-24 03:14] AnuragSingh-MSFT commented on #86509
@sarah026, I am assigning it to our content team for clarification.

@georgewallace, can you please help with this thread?

[2022-01-24 03:52] RyanHill-MSFT commented on #86815
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-24 03:52] JialinXin commented on #86774
Thanks for the feedback! The sample was in PR review and missed to merge. It's updated now and please take a look to have a try!

[2022-01-24 04:08] SnehaAgrawal-MSFT commented on #86821
@Kyelin25 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-24 04:10] SnehaAgrawal-MSFT commented on #86822
@AdamDube Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-24 04:35] #86495 closed

[2022-01-24 04:39] ShaikMaheer-MSFT commented on #86541
@linda33wj could you please validate customer feedback and enhance document as appropriate. Thank you

[2022-01-24 04:45] ShaikMaheer-MSFT commented on #86559
@kromerm Could you please review below PR and merge changes. Thank you.

[2022-01-24 04:46] ShaikMaheer-MSFT commented on #86560
@kromerm Could you please review below PR and merge changes. Thank you.
MicrosoftDocs/azure-docs-pr#185667

[2022-01-24 04:50] AnuragSharma-MSFT commented on #86737
@ksze We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-01-24 04:50] #86737 closed

[2022-01-24 04:58] AnuragSharma-MSFT commented on #86754
@diaa Thanks for your patience. 'In the face of failure' is widely used phrase to describe failures like facing failure. hence this is used in the same the context here. Please let us know if this helps.

[2022-01-24 06:46] rabbyn opened #86824 "Unable to scan Synapse Lake database"
Hello guys, I was trying to figure out why my PowerBI report lineage to my Synapse Lake database was not working by following the steps described in your page. I think I finally understood that a Lake database is not a normal SQL Serverless database. Could you eventually amend this page so it's clearly stated ? see screencast [here ](https://inoffice-my.sharepoint.com/:v:/g/personal/guillaume_bert

[2022-01-24 06:47] yvk-1970 opened #86825 ""az webapp up" does not create AppServicePlan in Azure ERROR: Operation returned an invalid status 'Unauthorized'"
$ az webapp up --name WebAppPython1

WARNING: The webapp 'WebAppPython1' doesn't exist
WARNING: Creating Resource group 'yvk_rg_6338' ...
WARNING: Resource group creation complete
WARNING: Creating AppServicePlan 'yvk_asp_2659' ...
ERROR: Operation returned an invalid status 'Unauthorized'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-24 06:51] AnuragSharma-MSFT commented on #86818
@AdamDube Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-24 06:56] ShawnHag commented on #86742
Thank you for your clarification!

To summarize my understanding,
Atypical Travel considers seldom "signins" from locations not too far from the users usual signin location,
whereas Impossible Travel considers "activitites" from  two geographically distant locations.

I think what confused me was the phrase "geographically distant" was used in the Atypical Travel descripition as well, although it

[2022-01-24 07:04] ntrogh commented on #86818
@AdamDube Thank you for the feedback! Looping in @ninallam.

[2022-01-24 07:39] zalent opened #86826 "Only RHEL GEN 1 VMs are support for automatic patching"
Documents does not specify that only Gen 1 RHEL VMs are supported for automatic OS patching

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Independent ID: 7bfd1c0f-0ecd-44da-9724-6118b950f4ff
* Content: [Automatic VM Guest Patching for Azure VMs - Azure Virtual Machines](h

[2022-01-24 08:36] PriyankaRudramaina commented on #86826
@zalent,

Thanks for the feedback! We are looking in to your query and will update you shortly.

[2022-01-24 08:44] PriyankaRudramaina commented on #86816
@p9139010,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-24 08:47] ravipath opened #86828 ".key.pem files are not being generated either in Windows or in Linux"
After following the instructions on creating demo certificates for testing IoT Edge device, I could not find the following key generated in any of the cases:

iot-edge-device-identity-<name>.key.pem
iot-edge-device-identity-<name>.key.pem
iot-edge-device-ca-<CA cert name>.key.pem
iot-device-<device name>-primary.key.pem
iot-device-<device name>-secondary.key.pem
iot-device-<device id>.key.pem

For

[2022-01-24 09:36] ShaikMaheer-MSFT commented on #86560
#sign-off

[2022-01-24 09:39] ShaikMaheer-MSFT commented on #86824
@rabbyn Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-24 10:09] SnehaAgrawal-MSFT commented on #86825
@yvk-1970 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-24 10:13] chenyunhsin commented on #28517
I TOTALLY AGREE WITH the original poster! actually, in  [microsoft doc](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#tlsssl-configuration) it even said "DigiCert Baltimore Root Certificate", I am new to azure, and I use a lot of time to check why my cert is failed, and finally I found I use the wrong one, I use DigiCert Global Root G2(wrong one)  instead of Baltimore CyberTr

[2022-01-24 10:15] jjjjeee opened #86831 "please add little tips in this page to inform cx that with-status=Failed , Failed is case sensitive"
Hello team, these days i get comment from my cx who hope we can improve something in this document.

for this command:
azcopy jobs show <job id> --with-status=Failed

It will be better if we can add a tip and mention that Failed is case sensitive, it will be helpful for our customer who didn't use this command before to know how to use better instead of trying and trying again.

If it is possible,

[2022-01-24 10:26] zipon commented on #86683
@MonikaReddy-MSFT do you need more information to confirm this bug?

[2022-01-24 10:31] ntrogh commented on #86818
@AdamDube We have added this problem to the backlog and assigned an engineer to it. Thanks again for reporting this!

[2022-01-24 10:38] peter-bertok commented on #29999
It's not possible to "restart the shell" in an unattended build script.

This is a bug in PowerShell and should be fixed.

[2022-01-24 10:46] astaykov commented on #80055
@HarshitaSingh-MSFT,

Sorry for the great delay! I would really like to take into consideration the SAML CORE 2.0 OS and SAML Glossary 2.0 OS documents:

 * https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf
 * http://docs.oasis-open.org/security/saml/v2.0/saml-glossary-2.0-os.pdf

The former describes IssuerID as `Element` (Section 2.2.5., page 15), quote:

Further, the definitio

[2022-01-24 10:47] Karishma-Tiwari-MSFT commented on #86674
@OmkarNsrivastava Please elaborate on the issue you are seeing or share the support request number, so that the doc author can get more context and update the doc accordingly. Thanks.

[2022-01-24 10:53] Karishma-Tiwari-MSFT commented on #86702
Is there something in this specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation. Can you please provide us with the link to the documentation you are referring to so we can better assist?

Else, if you are looking for help with debugging or troubleshooting help, I would suggest reaching out

[2022-01-24 10:56] ChaitanyaNaykodi-MSFT commented on #86814
Hello @thomaskennedy1066, I could not replicate the issue. I was able to deploy the VMs by following the commands from the documentation. If I am not wrong, zone = 1,2,3 is actually the new way for adding zones to standard sku public IP.

![image](https://user-images.githubusercontent.com/67453298/150769625-96b668ef-7db3-4855-acf3-81b5aeea28a1.png)

![image](https://user-images.githubusercontent.c

[2022-01-24 11:00] ChaitanyaNaykodi-MSFT commented on #86777
Hello @atombravo, Thank you for your feedback, I have made a PR to address this issue and it is currently under doc authors review. We will now proceed to close this issue out please tag me in your response if you have any additional questions. Thank you!

[2022-01-24 11:00] #86777 closed

[2022-01-24 11:09] barclayn commented on #81371
@V-TreyFisher Thank you for the feedback. I have updated the images.

[2022-01-24 11:09] barclayn commented on #81371
#please-close

[2022-01-24 11:09] #81371 closed

[2022-01-24 11:17] shoter commented on #85803
@AshokPeddakotla-MSFT

Thank you for your response. That is exactly information that I wanted :).

It would be great to include such information in documentation. It is going to make life of many developers easier for sure! :)

[2022-01-24 11:19] Styx71 commented on #86702
I solved it by building docker image with Azure's auto build image, instead of building it myself and trying to use it.

[2022-01-24 11:19] #86702 closed

[2022-01-24 11:25] davidsudjiman opened #86832 "Incomplete tutorial. Need to add UDR to make this work."
Hi, I followed this article to create Hub and Spoke Transit VNET but the spoke failed to get the route from another spoke. I've posted my question to the community (https://docs.microsoft.com/en-us/answers/questions/706913/vpn-gateway-transit-for-virtual-network-peering.html) and was advised to add UDR.

It appears that this article missing the UDR part to make this hub and spoke setup to work.

-

[2022-01-24 11:42] dracosachin opened #86835 "Accessing Files in File Share Locally"
Hi,

I have a premium Azure function created and I have selected an existing Azure Storage account. In the same storage account I have a File Share which contains files that are required to be processed in my function's business logic, instead of streaming the file via rest APIs, is there any way that I can refer to those files in my code locally (eg: "./{fileShareName}/{fileName}) since there are

[2022-01-24 12:08] Karishma-Tiwari-MSFT commented on #86756
@joelpelley Can you please help confirm if Ephemeral OS Disks is supported for Ddsv5 series. Thanks :)

[2022-01-24 12:11] AjayKumar-MSFT commented on #86670
opticyclic, Apologies for the delay! Thanks again for taking time to share your feedback. The doc aims to outline generic step-step instructions on how to map custom domain. I understand you're specifically referring to 'www' subdomain (to add alternative subdomain example) doc The tutorial is meant to show something more involved, but still allow readers to learn things beyond mapping specific re

[2022-01-24 12:45] oottka opened #86837 "Automatic deployments page rollback section includes wrong/misleading statement"
The section [Rollback](https://docs.microsoft.com/en-us/azure/iot-edge/module-deployment-monitoring?view=iotedge-2020-11#rollback) contains the statement

which is wrong or at least misleading if layered deployments are used.

If a layered deployment is removed, all modules that were deployed via it are in fact removed, as the base deployment still applies (and overrides the old deployment). More

[2022-01-24 13:25] hhubik commented on #86725
I just noticed that I can just do `ctrl-C` in the shell window where Azurite is running and that will terminate it. If this is the recommended shutdown method, a note to that effect in the documentation would be helpful.

[2022-01-24 13:46] SurbhiAgarwal12 opened #86838 "Unable to find In the job page, under the Configure heading, select Scale."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da35754e-933e-c93f-96e4-415c89cd3dca
* Version Independent ID: 375300d6-9bed-ad51-307c-5c2e5de92ee8
* Content: [Streaming Units in Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-streaming-unit-consumption)
* Content Source:

[2022-01-24 13:55] PriyankaRudramaina commented on #86826
@zalent,
Quick update, I am reveiwing this internally with product team. The document will be updated as appropriate post clarifying this.

[2022-01-24 14:01] gudszent opened #86839 "Comma generate 'Invalid JSON'"
Hi,

There is a wrong comma here:
![image](https://user-images.githubusercontent.com/6563633/150796356-beb760c6-f298-4d79-8909-c323dfc969ae.png)

that not needed and generate 'Invalid JSON' error

BR
O.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e2833

[2022-01-24 14:13] MonikaReddy-MSFT commented on #86839
@gudszent - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-24 14:13] #86839 closed

[2022-01-24 14:16] shwetamathur7 commented on #86820
Hi @KarinBerg,

Thanks for reaching out.
I referred the document and setup Password Reset flow using current Page Layout Version (2.1.0-Current) and able to verify the **changeClaims** in selfAsserted.html.

![image](https://user-images.githubusercontent.com/59326271/150798040-6a017cf7-3adb-4cc8-9c60-4ee38f5caa0d.png)

Also, able to update the changeClaims button’s visibility to hidden to remove t

[2022-01-24 14:20] DylMatRees commented on #85369
Hi, I'm getting the same error.  Has there been any update on this?

[2022-01-24 14:40] tommflynn opened #86840 "Better explain how to enable the hierarchical namespace feature"
[Enter feedback here]
This page says "This option appears only if the hierarchical namespace feature of the account has been enabled. To enable the hierarchical namespace feature, see Upgrade Azure Blob Storage with Azure Data Lake Storage Gen2 capabilities." and links to https://docs.microsoft.com/en-us/azure/storage/blobs/upgrade-to-data-lake-storage-gen2-how-to?tabs=azure-portal

However, the l

[2022-01-24 14:53] dsanchor opened #86842 "API versions extensions/v1beta1 and networking.k8s.io/v1beta1 of Ingress are no longer served in k8s >=1.22"
In AKS, it is now possible to install kubernetes version 1.22.x.

[code]
Since K8s >= 1.22 the extensions/v1beta1 and networking.k8s.io/v1beta1 API versions of Ingress are no longer served.
The content of the doc linked below should probably mention it and be updated accordingly (to networking.k8s.io/v1).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-01-24 15:22] #86838 closed

[2022-01-24 15:22] SurbhiAgarwal12 commented on #86838
Wrong issue reported by mistake.

[2022-01-24 15:30] MonikaReddy-MSFT commented on #86707
@Theking88np4 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-24 15:44] kabharati commented on #86687
@GeethaThatipatri-MSFT - I agree this appears the be a typo error. Let me fix it

[2022-01-24 15:49] MonikaReddy-MSFT commented on #86439
@jurjenoskam - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-01-24 15:59] #86498 closed

[2022-01-24 16:04] idunbar46 opened #86847 "Wording is inaccurate"
Heading states:

Example configuration for the **user** tunnel

First sentence after the heading states:
After you've configured the virtual network gateway and installed the client certificate in the local machine store on the Windows 10 client, configure a client **device** tunnel by using the following examples:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-01-24 16:05] kabharati commented on #86754
@diaa - I agree with @AnuragSharma-MSFT that " In the face of failure" is a very widely used term and there is nothing wrong here but i will change it to case just to avoid similar confusion to other readers. I am closing this issue for now and will update the doc.

[2022-01-24 16:06] #86754 closed

[2022-01-24 16:24] MonikaReddy-MSFT commented on #86707
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-01-24 16:24] #86707 closed

[2022-01-24 16:32] ChaitanyaNaykodi-MSFT commented on #86847
Hello @idunbar46
Thank you for your feedback! We will review and update as appropriate.

[2022-01-24 16:40] andycoderapptio commented on #48902
I've tried this but get the error "UnauthorizedClientApplication", seems like they are blocking any clients other than the portal app for this API?

[2022-01-24 16:41] MayankBargali-MSFT commented on #86604
@Ozzian I have got the confirmation from my team that currently `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING ` doesn't support managed identity.

Unfortunately as of now, the mount is not supported from the end of the Azure file. Once it is supported in the future the function team will be implementing

We will now proceed to close this thread. If there are further questions regarding this matter, pl

[2022-01-24 16:41] #86604 closed

[2022-01-24 17:07] whhender commented on #86824
@rabbyn - Thank you! We are looking into this now, and I'll update you as soon as I have further information.

[2022-01-24 17:08] Rashair opened #86851 "Dynamic consent - All permissions should be registered in Azure Portal in case of some admin permissions?"
I don't really get this part:

Why do I have to do it?
I think I can request admin permissions and user permissions separately, although I didn't register them before.
I.e. If I only register required admin permissions in the App registration, admin grants them for whole organisation,
then I can request unregistered user permissions for a specific user dynamically without any problems.
The docs sa

[2022-01-24 17:11] SnehaAgrawal-MSFT commented on #86760
@MeenakshiBalekar Thanks again for the feedback! This is fixed now.

We will now proceed to close this thread If you feel you need more information please just let us know.

[2022-01-24 17:11] #86760 closed

[2022-01-24 17:12] muraromattia opened #86852 "Azure Media Service v3 1-to-many key management"
Hi,
I'm using Azure Media Service v3 and I want to implement "1-to-many" key management scenario described in this page (#a-reference-design), but I can't find a reference about how to do it.
Can you help me?
Thank you in advance
Mattia

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95df0506-bb74-1f2b-5754-884b1aefac8f

[2022-01-24 17:12] kilasuit opened #86853 "Missing steps for Azure PowerShell"
This document is not complete as is missing steps on how to do this with Az PowerShell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8201d1-3ff4-a4e2-fb55-7f707d19e5cc
* Version Independent ID: b261aaec-02b5-648d-89fe-907d96da539a
* Content: [Create an Azure AMD-based confidential VM with ARM template (preview)](htt

[2022-01-24 17:13] kilasuit opened #86854 "Missing steps for ARM Templates / Bicep"
This document is not complete as is missing steps on how to do this with ARM Templates / Bicep
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8201d1-3ff4-a4e2-fb55-7f707d19e5cc
* Version Independent ID: b261aaec-02b5-648d-89fe-907d96da539a
* Content: [Create an Azure AMD-based confidential VM with ARM template (previe

[2022-01-24 17:15] whhender commented on #86521
Hello! Just wanted to let you know this is still top of the list for me. I expect to be able to have the permissions added to the page this week.

In the meantime, if there are any specific questions I can answer for you about the role, let me know.

[2022-01-24 17:15] luka-papez commented on #34167
January 2022 the site still looks like it was made by a Nigerian prince instead of Microsoft.

[2022-01-24 17:19] ChaitanyaNaykodi-MSFT commented on #86842
Hello @dsanchor
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-24 17:34] yeroc-sebrof opened #86855 "App Service Mount storage documentation lacks guidance for the Docker-Compose Container Type"
App service documentation doesn't describe the process of mounting storage using the Path mappings and the Docker-Compose container type that is currently in preview.

I found [this tutorial](https://youtu.be/OJkvpWYr57Y) on the Azure youtube channel which helped a bit, I also had to check [this page](https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration) from the Azure docs

[2022-01-24 17:49] ezYakaEagle442 opened #86856 "Azure Policy Extension for Azure Arc enabled Kubernetes (preview) should be listed as available"
Azure Policy Extension for Azure Arc enabled Kubernetes (preview) should be listed as available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef2dea1a-2d5d-97e5-23e6-0566fb23a66f
* Version Independent ID: d5e5caeb-8931-a69d-ad90-fa14e2351414
* Content: [Azure Arc-enabled Kubernetes cluster extensions - Azure Arc](http

[2022-01-24 17:56] nstraw commented on #64407
I agree with @devudu, the supported SQL features should be clarified between Built-in and Dedicated SQL pools.

I encountered the same issue during this [learn module](https://docs.microsoft.com/en-us/learn/modules/populate-slowly-changing-dimensions-azure-synapse-analytics-pipelines/4-exercise-design-implement-type-1-dimension).

Syntax error on HEAP, COPY INTO, ...

![image](https://user-images.

[2022-01-24 18:03] VikasPullagura-MSFT commented on #86854
@kilasuit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-24 18:04] VikasPullagura-MSFT commented on #86854
@RunCai
Can you please check and add your comments on this doc update request as applicable.

[2022-01-24 18:07] hpsin commented on #82601
#please-close

[2022-01-24 18:07] #82601 closed

[2022-01-24 18:08] VikasPullagura-MSFT commented on #86853
@kilasuit Thanks for the Feedback.
I see you have already opened a Feedback on this document requesting steps to include ARM Templates / Bicep here #86854 .

I am linking this duplicate issue to the original issue for the PowerShell request and closing this. Kindly follow the original issue for further updates on this document update.

I have assigned the issue to the document author.

[2022-01-24 18:08] #86853 closed

[2022-01-24 18:09] viters opened #86858 "Azure Frontdoor Cache - Request headers - missing information about dropping `Accept*` headers"
Hey, thanks for your good work!

I recently configured Frontdoor with cache, and I came upon a problem with `Accept` header. Tracking it down, it looks like the Frontdoor does not pass this header to backend as well - and this is probably missing in docs.

I found a response from your technical support, that shows it is not only `Accept` but rather `Accept*` headers:
https://docs.microsoft.com/en-

[2022-01-24 18:10] laujan commented on #86622
Thanks for the feedback, @morcinim! I have updated the link. 🙂

[2022-01-24 18:11] laujan commented on #86622
#please-close

[2022-01-24 18:11] #86622 closed

[2022-01-24 18:21] tepadilha opened #86859 "Differences between Azure portal and documentation"
Hello,

The documentation shows the configuration option below as part of Advanced tab on Azure Portal but it's not available when creating a Storage Account.
- Tables and queues: Enable support for customer-managed keys

Could you please check or help how to overcome this issue?

The same issue was found on course https://docs.microsoft.com/en-us/learn/modules/create-azure-storage-account/?ns-enr

[2022-01-24 18:31] MarileeTurscak-MSFT commented on #86851
@Rashair
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-24 18:35] dasarisunil09 commented on #86685
@BryanTrach-MSFT Hi Bryan, could you please update on this request?

[2022-01-24 18:40] ebolton-cyber commented on #85182
#please-close

[2022-01-24 18:40] #85182 closed

[2022-01-24 18:45] #84555 closed

[2022-01-24 18:49] himanshusinha-msft commented on #86611
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-24 18:58] csand-msft commented on #86695
If you reverse the order of the two sentences, then it will be clearer.

[2022-01-24 19:05] ameltzerMSFT commented on #86129
@mmacy Thanks! I was eventually able to figure it out with some trial and error, but if things were clearer in the docs it definitely would have saved me some time. :)

[2022-01-24 19:10] ramya-rao-a opened #86861 "Update client side batching section to reflect the new batching feature"
The section on [Client side batching](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk-2#client-side-batching) talks about a feature in the old WindowsAzure.ServiceBus SDK that was not carried forward to either Microsoft.Azure.ServiceBus or the newer Azure.Messaging.ServiceBus

The feature in question is batching in send and co

[2022-01-24 19:13] GeethaThatipatri-MSFT commented on #86645
@Mike-Crowley Tools like Azure Data Studio, SSDT or Invoke-Sqlcmd

[2022-01-24 19:33] cippero commented on #86743
Hi kent010341, thanks for your feedback! We're implementing the change that you've suggested. We'll be closing this issue automatically when the fix is merged.

[2022-01-24 19:36] #86743 closed

[2022-01-24 19:38] GeethaThatipatri-MSFT commented on #86693
Hi @alvipeo s0,s1,s2 are standard service tiers where you can find more details [Here](https://azure.microsoft.com/en-us/pricing/details/azure-sql-database/single/)
![image](https://user-images.githubusercontent.com/92763260/150851929-fd3f6e32-b280-405d-b0c1-a795e4f006db.png)

[2022-01-24 19:38] GiftA-MSFT commented on #86761
Hi, following up:

- An explicit section that describes the required roles for the users using the service:
Please review this [section](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/custom-named-entity-recognition/how-to/create-project?tabs=studio#roles-for-your-azure-language-resource).

- Another section that describes the roles required for the language resource's

[2022-01-24 19:56] YutongTie-MSFT commented on #86584
@nswitanek Hello Nick, please check below screenshot, I hope it's helpful:
Step 3:
![image](https://user-images.githubusercontent.com/38084098/150844922-b1219b6a-df86-4af7-863d-e65ce46af76f.png)

Please click on the highlight part.

Step 5:
Please check your access first:
For myself, I have below permission and it works for me.
![image](https://user-images.githubusercontent.com/38084098/150853915-

[2022-01-24 19:57] #86709 closed

[2022-01-24 19:57] himanshusinha-msft commented on #86795
@amt-git ; From the error it looks to me that account key is not corerct . can you please helps us by elaborating the implemention here ?

[2022-01-24 19:58] himanshusinha-msft commented on #86685
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2022-01-24 19:58] #86685 closed

[2022-01-24 20:02] OisinFoley opened #86862 "Grammatical error"
[Grammatical error, the document should contain the following change: "This can be cause from the following sequence while deploying the VMs" --> "This can be caused by the following sequence of steps while deploying the VMs"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-77f7-d78a-415db2deeae7
* Version

[2022-01-24 20:07] psignoret commented on #86574
@chadmcox I'm going to close the issue for now, but please feel free to respond or open a new issue if you're still having issues.

#please-close

[2022-01-24 20:07] #86574 closed

[2022-01-24 20:16] SatishBoddu-MSFT commented on #86837
Hello @oottka Thanks for the feedback,

Our SME will review and get back to you on this!

[2022-01-24 20:17] SatishBoddu-MSFT commented on #86828
Hello @ravipath
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-24 20:23] DerekHerman-MSFT commented on #86831
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-24 20:27] DerekHerman-MSFT commented on #86840
@tommflynn Azure Data Lake Storage Gen2 is equivalent to hierarchical namespaces. Perhaps we should not this on the page. Assigning the documentation author the see if we can add clarity.

[2022-01-24 20:38] alvipeo commented on #86693
Yes, I know. It's just not clear when you read the article.

[2022-01-24 20:40] GeethaThatipatri-MSFT commented on #86693
Hi @dimitri-furman can you please provide your inputs

[2022-01-24 20:44] kobulloc-MSFT commented on #86780
@tshaiman No worries!  I've forwarded your feedback internally and the doc author has been tagged.  I would still recommend following up on feedback.azure.com as well because the feedback there is used for triaging feature requests (emails are less reliable from that standpoint).

We are going to close this thread as resolved but if there are any further questions regarding the documentation, plea

[2022-01-24 20:44] #86780 closed

[2022-01-24 20:48] kobulloc-MSFT commented on #86862
@OisinFoley Thank you for bringing this to our attention!  I'll get a PR out to correct this.

[2022-01-24 20:58] DerekHerman-MSFT commented on #86859
@tepadilha Thanks for reporting this. It appears this document also needs to be updated. https://docs.microsoft.com/en-us/azure/storage/common/account-encryption-key-create?tabs=portal

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-24 20:59] jackchenwork opened #86863 "use Set-AzVirtualNetworkGateway to add custom route"
[Enter feedback here]

The document mentioned for "One VNet and a branch office (BGP)" use case:

Windows clients can access the VNet and the branch office (Site1), but the routes to Site1 must be manually added to the client. Non-Windows clients can access the VNet as well as the on-premises branch office.

There is another document:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-

[2022-01-24 21:01] OisinFoley opened #86865 "Typo"
[An NSG **that** is associated with a network interface only applies to the associated VM]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189be6f-c957-7d54-648c-0ec9aa35f4b6
* Version Independent ID: 2017f421-9025-9ade-ad76-4778cf7ba96e
* Content: [Tutorial - Create and manage Azure virtual networks for Windows VMs -

[2022-01-24 21:17] #86584 closed

[2022-01-24 21:17] tamram commented on #86859
@tepadilha - You can find that option on the **Encryption** tab.

I'm in the process of updating the documentation, and it should be live soon.

[2022-01-24 21:18] #86859 closed

[2022-01-24 21:22] YutongTie-MSFT commented on #86641
@aahill Hello, could you please if we can make below part clear? This looks like confused. Thanks a lot!

![image](https://user-images.githubusercontent.com/38084098/150867003-e6e69575-57c5-49b7-94a6-0c47eff3059f.png)

[2022-01-24 21:24] kheast commented on #86710
I'm encountering the same problem.  Any clarification/guidance would be appreciated.

[2022-01-24 21:28] dimitri-furman commented on #86693
Hi @alvipeo, thanks for the feedback. Your point is valid, the portal should display not just the number of DTUs but the compute tier as well (S1, S2, etc.) We are looking into improving this portal page in the future.

[2022-01-24 21:38] rwike77 commented on #84801
@darrelmiller   You're right, you can use EnvironmentCredential to specify credentials for local development instead of picking up credentials from Visual Studio, Code, or AZ CLI.  I updated the article and code to use ChainedTokenCredential, ManagedIdentityCredential, and EnvironmentCredential classes instead of DefaultAzureCredentials.  Closing this issue, now, feel free to reopen if necessary.

[2022-01-24 21:38] #84801 closed

[2022-01-24 21:40] JamesTran-MSFT commented on #86793
@FlynnLives
Thank you for your time and patience throughout this issue!

When it comes to troubleshooting your issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can take a close look into this.

I've also assigned this issue to the author so they can investigate and update the docs as needed.
T

[2022-01-24 21:42] PriyankaRudramaina commented on #86865
Hi @OisinFoley,

Thank you for bringing this to our attention. We shall make the correction in the document and changes might take time to reflect .

[2022-01-24 21:42] JamesTran-MSFT commented on #86812
@miltek2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-24 21:57] #86865 closed

[2022-01-24 21:59] tfitzmac commented on #86763
@sopelt - thanks for this feedback. I have added some text to clarify how the order of the parameters affect the result. The update should get published later today.
#please-close

[2022-01-24 21:59] #86763 closed

[2022-01-24 22:01] PriyankaRudramaina commented on #86865
@OisinFoley

I have added the required word in the document and the changes will reflect on the public document shortly.

[2022-01-24 22:23] flang-msft commented on #86087
#assign: @shpathak-msft

Shruti - this isn't a doc bug. That is, there is a code that isn't working that is referenced in the docs.

[2022-01-24 22:26] ebolton-cyber commented on #85965
@0Modfather0 can you provide more description of your particular use case? Do you specifically not want the VM to be enrolled in the Defender for Endpoint?

[2022-01-24 22:34] hpsin commented on #86546
Thanks for checking @JamesTran-MSFT - I also cannot repro this.  Perhaps we just re-copy the old one to a new link and update the docs to see if it fixes things?

@sinedied - is there any chance that your workspace somehow has restrictions on what it can access? Unsure if Postman has enterprise features like that.

[2022-01-24 22:38] hpsin commented on #84039
Stashing a note for later work on this issue -
1. There are no default values for the optional values.  There is default behavior in the absence of these, which is largely "sign in the sole current user, show the account picker if there are multiple users. or show the login page if there are no users signed in."
2. There are default values for response_mode that need to be included, as documented

[2022-01-24 22:42] hpsin commented on #83302
#please-close

[2022-01-24 22:42] #83302 closed

[2022-01-24 23:17] flang-msft commented on #53082
#reassign:@flang-msft

[2022-01-24 23:21] JnHs commented on #86704
Thank you for the feedback, @Freia3. You're right, we could be clearer about this property and that it is used in the specific scenario described in this topic. We'll work on updating the reference to reflect that, however this may take some time to appear in the documentation. For now I will close this issue since there is not a fix to be made on this topic, https://docs.microsoft.com/en-us/azure

[2022-01-24 23:21] #86704 closed

[2022-01-24 23:22] tfitzmac commented on #86744
I added some text that the vnet and its dependent resources must also be moved, which is a little different than saying all resources in the vnet must be moved. The update should get published tomorrow.
#please-close

[2022-01-24 23:22] #86744 closed

[2022-01-24 23:31] endintiers opened #86868 "Incorrect Package reference"
Below "Before you can use dependency injection, you must install the following NuGet packages" there is a list of packages that must be referenced.
Microsoft.Extensions.DependencyInjection does NOT need to be referenced, in fact if you do it may clash with the version of Microsoft.Extensions.DependencyInjection that is included in Microsoft.Azure.Functions.Extensions. For Microsoft.Azure.Functions

[2022-01-24 23:32] asukumar22 opened #86869 "Need a document for Limitations or details about what are the unsupported features in Azure Firewall."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq)
* Content Source: [articles/firewall/firewall-faq.yml](ht

[2022-01-24 23:32] pnarsi commented on #86496
@RohitMungi-MSFT @jhirono

I did a bit of testing and it does seem that AML does require the "Trusted Microsoft Service Service" feature to be enabled on a firewall enabled AKV otherwise when attempting to set/get secrets via a AML notebook we get an error message similar to the below. The client IP in the error message is part of the **AzureMachineLearning** service tag.

![image](https://user-im

[2022-01-24 23:41] anthony-gregg opened #86870 "Understand how to use RegEx Groups in the Replace Function"
Today, I have a case opened to understand why my use of the "Replace" function failed. I followed the documentation, specifically this section:

"When regexPattern, regexGroupName, replacementValue are provided:
The function applies the regexPattern to the source string and replaces all values matching regexGroupName with replacementValue"

Even though I used the function with the **`regexPattern,

[2022-01-24 23:45] SatishBoddu-MSFT commented on #86828
Hello @ravipath

Please have a look at the working directory path///

Few Certificates are placed inside the folder name 'certs' and the other private key files are placed inside 'private' folder

![image](https://user-images.githubusercontent.com/62923178/150883812-f71cf875-22e0-4aa2-a0fd-a8e1d43e2c7d.png)

Please let us know if you can see the files/

[2022-01-24 23:49] tfitzmac commented on #86471
I changed the text to clarify that the reserved name check is done for any resource type that can potentially expose an endpoint, such as through a fully qualified domain name. The update will be published tomorrow.

Additional troubleshooting for this particular scenario would need to be handled by support.

#please-close

[2022-01-24 23:49] #86471 closed

[2022-01-24 23:57] rayluo commented on #85817
So, this is a feature request, not a docs issue. We are working on some relevant features. We will revisit this feature request at a later time. Meanwhile, I would suggest closing this docs issue, and subscribe [this feature request in MSAL Python repo](https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/31) instead.

[2022-01-25 00:09] euchungmsft opened #86871 "Integration Service Environment (ISE) in China regions"
Hi Team,

Where can I get the timeline of Integration Service Environment (ISE) in China regions ? Can anyone let me know who I can talk to or forward this to anyone who's in charge ? My customer has some issue to integrate with on-prem sharepoint over their firewall, it seems like ISE is the only solution so far

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-01-25 00:26] MarileeTurscak-MSFT commented on #86773
You will receive this error if the user's external email address attribute is not filled in. You must use the the email address in the User.Mail property for the invitation.

Make sure the email address you want to use for the invitation is set as the external email address on the internal user object. You can use the Powershell example here to accomplish this:
https://docs.microsoft.com/en-us/azu

[2022-01-25 00:26] #86773 closed

[2022-01-25 00:27] JimacoMS4 commented on #85487
Hi @junghyeon-ryu,

The updates have been published: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid#limitations-for-device-connected-and-device-disconnected-events. The new topic explicitly states that devices connecting over HTTPS will not trigger device connection events. Hopefully this addresses your concerns. We also cleaned up some of the language around MQTT and AMQP suppo

[2022-01-25 00:44] flang-msft commented on #86640
@ricec - we have a bug in our backlog and this this being researched.

[2022-01-25 00:49] jackchenwork commented on #86863
I did some test and I think this document is very inaccurate or misleading.

I have tested a topology with onpremises network 172.31.0.0/16 ( fortigate ) , Azure vNet 172.16.0.0/16 ( Vnet Gateway with BGP disabled), and a P2S OpenVPN client ( VPN network 192.168.222.0/24).

The test result shows:

- run "Set-AzVirtualNetworkGateway -VirtualNetworkGateway $gw -CustomRoute 172.31.0.0/16" will add 17

[2022-01-25 00:51] MonikaReddy-MSFT commented on #86695
@csand-msft - Thanks for providing your insights.

@rossdotpink - Thanks again for bringing this to our attention. We have added this in the backlog and will get the doc updated and it will be live once its merged and approved.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2022-01-25 00:51] #86695 closed

[2022-01-25 00:55] csand-msft commented on #86695
FYI that I am updating the doc and will submit a PR to the doc team tomorrow.

[2022-01-25 00:55] csand-msft commented on #86695
@rossdotpink

[2022-01-25 00:57] GLComputing commented on #86471
The internal FQDN is Exchange.domain.local - so that can't be exposed publically.
The external FQDN is ex.domain.com

The resource check never seemed interested in the internal domain, before and, it is hybrid to a 365 Tennant.

[2022-01-25 01:02] JamesTran-MSFT commented on #86870
@anthony-gregg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 01:30] EmLauber commented on #84363
This issue is resolved by [#185855](https://github.com/MicrosoftDocs/azure-docs-pr/pull/185855). The update will be live after the next daily publish. #please-close

[2022-01-25 01:30] #84363 closed

[2022-01-25 01:32] kent010341 opened #86872 "As a Java developer, I would like to know if there's a sample written in Java in the section "Create Azure function to update twins"."
[Enter feedback here]

In the section "[Create Azure function to update twins](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-send-twin-to-twin-events#create-azure-function-to-update-twins)", the sample Azure Function provided is written with C#.

Since Azure Function supports several languages including Java, I would like to know if there's a sample written with Java.

Besides, on an

[2022-01-25 01:43] YutongTie-MSFT commented on #86678
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-25 01:47] MayankBargali-MSFT commented on #86835
@dracosachin Thank you for your feedback! We will review and update as appropriate.

[2022-01-25 02:03] mike-urnun-msft commented on #86861
Hello @ramya-rao-a - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-25 02:06] kobulloc-MSFT commented on #86572
@karlochacon I'm going to assign this to the documentation author for review to see if listing the networking options is within scope for the documentation.  If you need any assistance going through the site-to-site tutorial, we'd be happy to help you troubleshoot issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

[2022-01-25 02:08] mike-urnun-msft commented on #86868
Hello @endintiers - Thank you for your feedback! We will review and update as appropriate.

[2022-01-25 02:17] mike-urnun-msft commented on #86871
Hi @euchungmsft - Thank you for your feedback, I have inquired the Logic Apps team for your question but please note that we typically don't share any timeframes on upcoming products & feature availabilities on public channels.

[2022-01-25 02:32] dingliu opened #86873 "Confused about the current version of Log Alerts API"
In [_Upgrade to the current Azure Monitor Log Alerts API - Azure Monitor_](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-log-api-switch) page, [**PowerShell cmdlets support**](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-manage-alerts-previous-version#manage-log-alerts-using-powershell) is listed as one of the [benefits](https://docs.microsoft.com/en-us/a

[2022-01-25 02:42] BryanTrach-MSFT commented on #86855
@yeroc-sebrof Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-25 02:46] euchungmsft commented on #86871
Thanks @mike-urnun-msft  for the prompt response.
Sure, it's only for internal purpose. I'll be looking forward to hear from you

[2022-01-25 03:04] spelluru commented on #86861
@ramya-rao-a - The updated article went live today at 3 PM PST. Thanks.

#please-close

[2022-01-25 03:04] #86861 closed

[2022-01-25 03:26] SnehaAgrawal-MSFT commented on #86852
@muraromattia Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-25 03:26] rpstex opened #86874 "typo in documentation"
Under the perform a complete migration section, there is a grammatical error:
You can modify the settings each file by

probably meant to be

You can modify the settings in each file by

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bb6c41-d87d-ab2e-1b5a-8db8ef13b38f
* Version Independent ID: 19814c0b-8f3d-d629-eec7-

[2022-01-25 03:27] spelluru commented on #86724
@erikerikson - Agreed. Thanks for the feedback. I will remove that guidance from the article and pass the feedback to our development team. You can also submit feedback for improvement or addition of a feature at https://feedback.azure.com/d365community/forum/86c37ae9-7526-ec11-b6e6-000d3a4f032c
Thanks.

[2022-01-25 03:27] SumanthMarigowda commented on #86874
@rpstex Thanks for your question. We are checking on this and will respond to you soon.

[2022-01-25 03:28] mathapli commented on #84897
@zeeshaanali @ebolton-cyber The API is invoked via powershell commands or curl which is correctly mentioned. This is not correct assessment.
We have publishers already using this. Please suggest edits if needed after you have tried using this.
@sharroy please help if anything else is needed here.

[2022-01-25 03:44] mathapli commented on #85965
@sharroy please take a look