[2022-02-23 09:40] avwolferen opened #88594 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/app/usage-funnels
The content is shown in language Czech in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd63-b2e2-4c5ef787ada5
* Version Indepen

[2022-02-23 09:57] hiLemontree opened #88595 "Sub owner can't receive the mail notification of affected Resource for an planned maintenance"
[Enter feedback here]
Dear team,
According to the document:
A planned maintenance wave starts by setting a schedule to one or more Azure regions. Soon after, an email notification is sent to the subscription admins, co-admins, owners, and contributors (One email per subscription with all recipients added).

While we didn't receive the notification mail about the affected resource for the planned m

[2022-02-23 10:07] SadiqhAhmed-MSFT commented on #88586
Thank you for your feedback. We will review the content with doc owner and update as appropriate.

@bandersmsft FYI

[2022-02-23 10:22] SreejaBhattacharya-MSFT commented on #88453
@dannradkov the second 'd' stands for diskfull (local temp disk is present). It is also mentioned in the [same doc](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions) for naming conventions under 'Additive Features'.

[2022-02-23 10:25] zipon commented on #87640
@Karishma-Tiwari-MSFT Still not the sandbox that is the problem. Why do you guys close issues without looking at them? I told you the problem, it's stated and the test case is also stated in the description. Sending in to that adress is like sending to a blackhole that you never get any replies back from. But this is not a case of the SANDBOX but with the FUNCTION in you testing/correcting of the

[2022-02-23 10:27] mdicerbo commented on #86474
any updates about issue? limit is not very clear in this statement

[2022-02-23 10:29] zipon opened #88596 "Third time? Bug in auto correcting an exercise if the storage account is not in the same region - still present"
In https://docs.microsoft.com/en-gb/learn/modules/monitor-azure-vm-using-diagnostic-data/3-exercise-create-virtual-machine
you spin up a sandbox and in it it creates a storage account in the region closest to you. But in the exercise you are tasked to spin up resources in eastus2 and after that you try to do a completion check with the built in check and it wont pass. This because the storage acco

[2022-02-23 10:34] jbt-jaime opened #88597 "PowerShell script insufficient to parse WebhookData"
If you copy-paste the sample WebhookData as it appears [here](https://docs.microsoft.com/en-us/azure/automation/automation-webhooks#:~:text=from%20a%20webhook.-,JSON,-Copy) and then use the PowerShell script that appears [here](https://docs.microsoft.com/en-us/azure/automation/automation-webhooks#create-a-webhook) as is, the runbook does not parse the WebhookData properly. It appears to receive it

[2022-02-23 10:38] wimvangoethem commented on #51660
Hello @GuilhermeVitorino,

It worked! Thank you!

[2022-02-23 10:50] SwathiDhanwada-MSFT commented on #88336
@liasong-sh You can use application dashboard which leverages existing azure dashboard technology and provides you an option to customise it.

You can access this application dashboard by traversing to application insights and clicking on Application Dashboard in the upper left corner.

For more information, refer[this document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/overview-das

[2022-02-23 10:58] famemo-paasdev opened #88598 "update the correct syntax for reserved IP for Azure Cloud Service Classic"
The reserved IP should read as

      <ReservedIPs>
        <ReservedIP name="GROUP <ResourceGroupNameOfReservedIP> <reserved-ip-name>"/>
      </ReservedIPs>

Instead of

      <ReservedIPs>
        <ReservedIP name="<reserved-ip-name>"/>
      </ReservedIPs>

https://docs.microsoft.com/en-us/azure/cloud-services/schema-cscfg-networkconfiguration#networkconfiguration-element

---
#### Document De

[2022-02-23 11:05] VikasPullagura-MSFT commented on #88598
@famemo-paasdev Thanks for pointing this out. The document is updated changes will go live once approved.

[2022-02-23 11:07] cat-mucius commented on #87157
@vhorne, @ShaikMaheer-MSFT - as suggested, I raised a query on Microsoft Q&A Platform and received an [answer ](https://docs.microsoft.com/en-us/answers/questions/714888/azure-application-gateways-do-not-resolve-private.html) from Microsoft support:

Could you please add to the FAQ or to another documentation page a list of domains, for which App Gateway bypasses custom DNS servers?

Thanks,
@cat-

[2022-02-23 11:08] AjayKumar-MSFT commented on #87769
Answered here: https://github.com/MicrosoftDocs/azure-docs/issues/88132

[2022-02-23 11:08] #87769 closed

[2022-02-23 11:11] AjayKumar-MSFT commented on #87831
Apologies for the delay! I have assigned the issue to the content author to review further and update the document as appropriate. Thanks for taking time to share your valuable feedback.

[2022-02-23 11:32] v-hagamp commented on #87770
@zen-jsandford, We are creating the pull request to resolve this issue. The changes will reflects to the main document within 3-4 working days.
#please-close

[2022-02-23 11:32] #87770 closed

[2022-02-23 12:07] v-hagamp commented on #88354
@zisom-hc, Creating the PR with the requested changes into the document. The changes will merge into the main document with in 3-4 working days.
#please-close

[2022-02-23 12:07] #88354 closed

[2022-02-23 12:24] danmana commented on #67080
I am seeing the option greyed out for a supported combination `Azure App Service on Linux` + `Node.js`, which [should be GA](https://docs.microsoft.com/en-us/azure/azure-monitor/app/codeless-overview).

The following env variables were present  `APPINSIGHTS_INSTRUMENTATIONKEY`  and `APPLICATIONINSIGHTSAGENT_EXTENSION_ENABLED=true`.

I tried also adding `APPLICATIONINSIGHTS_CONNECTION_STRING`, but

[2022-02-23 12:42] flareair commented on #86181
+1 to this, current documentation on SB trigger is really confusing

[2022-02-23 13:07] dedalusmax commented on #88509
everything has been provisioned in the West Europe region.
btw, the problem appears for all NSGs that I have on that vnet.

[2022-02-23 13:27] yelevin commented on #75736
The relevant documentation has been updated with the results of our investigation of this topic. Thank you for your patience.

[2022-02-23 13:35] makramjandar opened #88603 "Typo errors"
I found two typo errors while deploying the stack so we could'nt roll it from end-to-end
1 GatewaySubnet: **10.52.255.0.0/27**  to be replaced with10.52.255.0/27 on step 6
2 **VNet1toSite2** to be replaced with VNet1toVnet2 on the step Verify the connections

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49897361-eed3-

[2022-02-23 13:42] ram-msft commented on #88587
@YorBraakman2022 Thanks for the feedback! We will review and update accordingly.

[2022-02-23 13:46] AshokPeddakotla-MSFT commented on #88585
@rajb865 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-23 13:47] pitawatn commented on #88063
@AshokPeddakotla-MSFT Thanks for the link to Azure Python SDK reference, it looks promising. I guess this is how to authenticate using Azure AD? -> [AzureIdentityCredentialAdapter Class](https://docs.microsoft.com/en-us/python/api/azure-iot-hub/azure.iot.hub.auth.azureidentitycredentialadapter?view=azure-python). The [Overview page](https://docs.microsoft.com/en-us/python/api/azure-iot-hub/azure.i

[2022-02-23 13:50] AWeber78 opened #88604 "parameter in command line missing"
Hello

there is an issue in the commands of this. article
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

- curl https://login.microsoftonline.com/ -D -**UseBasicParsing**
- curl https://login.microsoftonline.com/<TenantID>/ -D -**UseBasicParsing**
- curl https://enterpriseregistration.windows.net/ -D -**UseBasicParsing**
- curl https://device.log

[2022-02-23 13:50] assaf-grth opened #88605 "Remove publisher's Azure AD application used inside customer AD"
When subscribing to an offer, the customer gives our AD application permissions for using their details (as part of accessing the landing page)
This consent action actually creates a user in the customer AD
When offer is unsubscribed, is there a way to remove the app registration or enterprise app from customer tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-02-23 13:57] ChrFrohn opened #88606 "Word missing"
The last part of the text is missing a "You" in the sentence:

_After you have configured requestor information in your access package policy, _**You** can_ view the requestor's responses to the questions. For guidance on seeing requestor information, see [View requestor's answers to questions](https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-request-approv

[2022-02-23 13:58] MonikaReddy-MSFT commented on #88589
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 13:58] MonikaReddy-MSFT commented on #88590
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 13:58] MonikaReddy-MSFT commented on #88591
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 13:59] MonikaReddy-MSFT commented on #88592
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 13:59] MonikaReddy-MSFT commented on #88593
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 14:00] MikeWedderburn-Clarke opened #88607 "Recovery Services Vault must be in same Subscription as the resources"
I couldn't find it referenced in any of the docs pages.
Please add specific mention that RSV can only backup VMs in the same Subscription as itself.
The docs do mention 'same Region' but not 'same subscription' and this is not intuitive.

Recommend adding it here: https://docs.microsoft.com/en-us/azure/backup/guidance-best-practices#single-or-multiple-vaults

and here: https://docs.microsoft.com/e

[2022-02-23 14:00] milabtom commented on #61603
As mentioned before, this is still an issue. Could this item be reopened?

[2022-02-23 14:01] MonikaReddy-MSFT commented on #88594
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-23 14:07] elf2003 opened #88608 "Setting finite retention period failed on system-versioned temporal table"
How to apply the retention mechanism on large data sets?

With historical tables with a lot of information, I get the above message, is there any workaround to apply the retention mechanism?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc67e5be-1104-18d5-d398-280c9c7c84f7
* Version Independent ID: a69384f0-1ccd-cf1e-

[2022-02-23 14:22] MonikaReddy-MSFT commented on #88314
@thomasgauvin - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-23 14:22] #88314 closed

[2022-02-23 14:26] LijuV-MSFT opened #88610 "DC agent and .Net Framework Pre-requisite"
The text under the DC agent pre-requisite says

All machines where the Azure AD Password Protection **proxy service** will be installed must have .NET 4.7.2 installed

Should the highlighted text not read **DC agent**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Indepen

[2022-02-23 14:29] ShaikMaheer-MSFT commented on #88574
@makdaddy8888 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-23 14:34] ShaikMaheer-MSFT commented on #88584
@dhohle Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-23 14:37] bbrown519 opened #88611 "Add Steps to Using Key Vault Certificate with RBAC"
My customer had errors trying to add a custom domain to CDN using Key Vault certificate with RBAC permission model. Our documentation says they have to allow CDN to Get and List certificates and secrets using vault access policy for it to work. We confirmed using the RBAC Key Vault Secrets User role gave the correct permissions, so that method should be added to avoid confusion around which role t

[2022-02-23 14:37] erjarvin opened #88612 "mount point using name instead of UUID"
Hello All,

I was reviewing the documentation for https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-quick-create#prepare-the-vm-environment and on step 9 of Prepare the Environment I see that the fstab file is mounted without UUID.

echo "/dev/sdc1               /u02                    ext4    defaults        0 0" >> /etc/fstab

Without UUID we are seeing VM'

[2022-02-23 14:40] AshokPeddakotla-MSFT commented on #88063
@pitawatn Glad to hear it is helpful.
@kgremban Could you please review the above feedback and add the samples if available?
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-23 14:40] #88063 closed

[2022-02-23 14:40] climcarlo opened #88613 "ReservedIP entry should be like this <ReservedIP name=" <**Group <resource group of the reservedIP>** <reserved-ip-name>"/>"
Hi, I am from  MS CSS team and I've discovered an "issue" in this documentation.

When you try to add a reserved IP as per sample below, it will fail with the error " reserved IP does not exists" event if it really does and this is happening because on de RDFE side reservedIP entry has the same format as Virtual network and it contains GROUP and RG name of reservedIP as well. This recommendation i

[2022-02-23 14:53] ssivas commented on #88579
@SaraSRS  Thank you for your query . We will investigate and update the thread.

[2022-02-23 15:00] ssivas commented on #88579
@jeevansd, Could you please confirm, if we need to update this in our documentation?

[2022-02-23 15:01] youngjoven commented on #88367
It seems that the error is solved after I fixed the property from "buildService.storageClassName" and removed the property of "envoy.annotations.service.bet.kubernetes.io/azure-load-balancer-resource-group"
But I got a new error as this screenshot showed,
![image](https://user-images.githubusercontent.com/17711472/155340306-0da7df53-3afd-4667-ae8f-15ed828e5785.png)

I suspected that the Elastic Lo

[2022-02-23 15:04] youngjoven commented on #88367
Here is "az k8s-extension show -n $extensionName -g $groupName -c $clusterName -t connectedClusters"

{
  "aksAssignedIdentity": null,
  "autoUpgradeMinorVersion": true,
  "configurationProtectedSettings": {
    "logProcessor.appLogs.logAnalyticsConfig.customerId": "",
    "logProcessor.appLogs.logAnalyticsConfig.sharedKey": ""
  },
  "configurationSettings": {
    "Microsoft.CustomLocation.Servic

[2022-02-23 15:08] jjindrich commented on #75652
I have same issue. Azure Defender is pushing me to improve security of my Azure Function. But my Azure Function is Consumption tier which has no SFTP configuration.
What is wrong - Azure Defender check OR missing SFTP configuration ?

[2022-02-23 15:12] SadiqhAhmed-MSFT commented on #88605
@assaf-grth Thank you for your post. We will look into this and get back to you shortly.

[2022-02-23 15:17] SadiqhAhmed-MSFT commented on #88607
Thanks for the feedback. Will review the content and make appropriate changes.

[2022-02-23 15:19] msmimart commented on #87625
@D-Jeffrey thanks so much for pointing this out. We'll make the updates suggested by @f4rty, which should go live today. Much appreciated!

[2022-02-23 15:29] nlz242 opened #88617 "Documentation seems out of date"
Following Desktop app quickstart, I get the following error message when I call `AcquireTokenInteractivetry` :

Following the instructions in the exception does fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af32734a-08ca-322c-f79c-62dc088ec175
* Version Independent ID: a72bd1f5-58f4-0edd-2d78-eb1e83bbf8

[2022-02-23 15:35] ravkash opened #88618 "Update document to clarify pairs vs direction"
[Enter feedback here]

I know that these are pairs and not the direction of replication; meaning ANF can replicate to East US -> East US2 and vice versa (for example). The way documentation reads can be confusing sometimes and gives an impression that it shows the direction of replication.

can you please add a note or clarifying statement pls?
---
#### Document Details

⚠ *Do not edit this sectio

[2022-02-23 15:38] DSakura207 opened #88619 "VM OS disk tier"
Hello,

When I am writing ARM template, I found that you can specify OS disk type, but you cannot choose its tier like
`Microsoft.Compute/disks`.

How can I figure out a OS disk's tier? Is it simply calculated by size? Can you give me some examples, please?

Thanks 😊

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f4

[2022-02-23 15:39] richsage opened #88620 "SftpPathNotFound fragment does not exist on page"
Was linked to the URL listed below https://docs.microsoft.com/en-us/azure/data-factory/connector-troubleshoot-guide#error-code-sftppathnotfound from Azure Data Factory, error code 2200.

The fragment in the URL does not exist however, and there is no information on the page itself pertaining to the "SftpPathNotFound" error anyway. There is a link to the SFTP troubleshooting page at https://docs.mi

[2022-02-23 15:41] GeethaThatipatri-MSFT commented on #88228
I'm assigning this to the author for the feedback review.

[2022-02-23 15:52] SebastianAzure opened #88621 "Add information about Classic policies that should not be disabled or deleted"
[Enter feedback here]
Hi
Please add information/warning about classic policies that should not be removed as they are still in use by  other services like "Windows Defender ATP] Device policy"
Please see https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/classic-conditional-access-policy-for-defender-atp/m-p/1883297
and
https://docs.microsoft.com/en-gb/mem/intune/protect/advanc

[2022-02-23 15:57] MarileeTurscak-MSFT commented on #88606
@ChrFrohn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 15:57] MarileeTurscak-MSFT commented on #88604
@AWeber78
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 15:58] MarileeTurscak-MSFT commented on #88617
@nlz242
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 16:01] MarileeTurscak-MSFT commented on #88610
@LijuV-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 16:03] GeethaThatipatri-MSFT commented on #88608
Hi @elf2003 Thanks for reaching out, We are looking into it and update you shortly.

[2022-02-23 16:04] neilkoch opened #88622 "AVD visio file request"
Hello, can I please request the Visio file for this AVD diagram? Or have it added to this page as downloadable file?
Thank you kindly,
Neil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5e20117-5458-fd52-7594-5854f349573d
* Version Independent ID: 271a354c-7451-647f-6233-0011cc4ce181
* Content: [Understanding Azure V

[2022-02-23 16:10] #87331 closed

[2022-02-23 16:11] pajcarpentier opened #88624 "wrong fr-fr page."
The following fr-fr page is not in french, but in a some king of polanf languages :
https://docs.microsoft.com/fr-fr/azure/azure-monitor/app/create-workspace-resource?source=docs

best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc462b2-cc7f-7209-fac7-9796d3f714be
* Version Independent ID: 723b1388-1661-1ff

[2022-02-23 16:13] MarileeTurscak-MSFT commented on #88606
Thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189468

[2022-02-23 16:13] #88606 closed

[2022-02-23 16:23] MarileeTurscak-MSFT commented on #88604
@AWeber78 The `-UseBasicParsing` parameter has been deprecated and is included for backwards compatibility only. Beginning with PowerShell 6.0.0, all Web requests use basic parsing only.

[2022-02-23 16:27] manishmsfte commented on #87705
Thanks for your feedback! We try our level best to document the supported steps & features but we acknowledge your feedback and consider it as an improvement.

#please-close

[2022-02-23 16:27] #87705 closed

[2022-02-23 16:30] #87625 closed

[2022-02-23 16:32] RGlanzmann opened #88625 "Is there a way to use Autoscale to stop *all* session hosts when there are no active user sessions?"
Is there a way to use Autoscale to stop *all* session hosts when there are no active sessions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e485eb1b-63d7-6fb4-a84a-367be0b7ae09
* Version Independent ID: 6b38c7f4-b264-853c-ac69-9a7d9abc557e
* Content: [Azure Virtual Desktop session host autoscale preview](https://docs

[2022-02-23 16:36] AWeber78 opened #88626 "@AWeber78 The `-UseBasicParsing` parameter has been deprecated and is included for backwards compatibility only. Beginning with PowerShell 6.0.0, all Web requests use basic parsing only."
@AWeber78 The `-UseBasicParsing` parameter has been deprecated and is included for backwards compatibility only. Beginning with PowerShell 6.0.0, all Web requests use basic parsing only.

_Originally posted by @MarileeTurscak-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/88604#issuecomment-1048962700_

Thanks. then plese remove the - in the end of the lines. and change the // into a /

[2022-02-23 16:39] barneschism commented on #88198
@johndowns Please let me know what I'd need to do to help convert it to a CLI command and I'll look into it.  Thanks again for the quick response and temporary solution.

[2022-02-23 16:39] Klaas- opened #88627 "TrustedLaunch on RHEL"
This site states that RHEL 8.3 is supported https://github.com/MicrosoftDocs/azure-docs/blame/main/articles/virtual-machines/trusted-launch.md#L47
I am not sure if you actually mean that specific version is support or rhel 8.3 and newer?

In any case it seems that the "normal" rhel8 image is not yet allowed for trusted launch usage. I am getting `Use of TrustedLaunch setting is not supported for t

[2022-02-23 16:41] jasongroce commented on #86266
@FranNev thanks for your feedback. You are correct, and the product name has been updated. The updated article will be published shortly. #please-close

[2022-02-23 16:41] #86266 closed

[2022-02-23 16:43] ChaitanyaNaykodi-MSFT commented on #88603
Hello @makramjandar
Thank you for your feedback! We will review and update as appropriate.

[2022-02-23 17:17] ChaitanyaNaykodi-MSFT commented on #88611
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-23 17:18] cynthn commented on #88537
@erjarvin Thanks for reporting this issue. Were you using the "button" to deploy this template, or the CLI?

[2022-02-23 17:18] cynthn commented on #88537
Also created an issue in the template repo: https://github.com/Azure/azure-quickstart-templates/issues/12216

[2022-02-23 17:20] ChaitanyaNaykodi-MSFT commented on #88581
Hello @CedricZhu
Thank you for your feedback! We will review and update as appropriate.

[2022-02-23 17:28] zisom-hc commented on #88354
Great turn-around time; thank you all!

[2022-02-23 17:37] kobulloc-MSFT commented on #88595
@hiLemontree Thank you for your feedback!  We have assigned this to the document author for further review.

[2022-02-23 17:49] shohamMSFT commented on #84262
@johnfriedrich Sorry for the late response. Having purge protection enabled on the key vault doesn't restrict you from taking a backup of the latest key version from KV1 and restoring it on KV2. In fact, that's the recommended thing to do to ensure that the keys in KV1 and KV2 (backup) always stay in sync.

[2022-02-23 17:57] KrishnaG-MSFT commented on #88597
@jbt-jaime  Thanks for bringing this up.

Was your runbook with PowerShell 7.1 runtime?

Currently there is an open bug where in the object parameter is treated as string if it's 7.1 runtime.

Let me test in my environment with the runbook and webhookdata that you have mentioned and see if it's related to the above mentioned bug.

If yes, I will add a note in the referred Azure document to avoid c

[2022-02-23 17:57] #88542 closed

[2022-02-23 18:01] JimacoMS4 commented on #88542
#please-close

[2022-02-23 18:10] VikasPullagura-MSFT commented on #88613
@climcarlo Thanks for pointing this out. This issue is reported here #88598 and the document is updated and is waiting for doc author approval.

[2022-02-23 18:10] #88613 closed

[2022-02-23 18:12] shohamMSFT commented on #84262
#please-close

[2022-02-23 18:12] #84262 closed

[2022-02-23 18:13] DerekHerman-MSFT commented on #88619
The tier is based on the size of the disk. Example: A premium disk with size of 4GB would be P1, a premium disk with size 12 would be P2 etc...

[2022-02-23 18:13] VikasPullagura-MSFT commented on #88622
@neilkoch
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-23 18:13] VikasPullagura-MSFT commented on #88622
@gundarev
Can you please check and add your comments on this doc update request as applicable.

[2022-02-23 18:13] SaurabhSharma-MSFT commented on #88536
@rnirek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-23 18:15] SaurabhSharma-MSFT commented on #88538
@rdeltcheva Thanks for the feedback!  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-23 18:19] #88571 closed

[2022-02-23 18:22] b-hchen commented on #88618
@[ravkash](https://github.com/ravkash) -

The article already says that the replication is between the regions.

We can add an additional statement for emphasis:
"You can replication Azure NetApp Files volumes from Regional Pair A to Regional Pair B, and vice versa."

cc:  @gvanteylingen

[2022-02-23 18:26] cynthn commented on #88595
#reassign @shants123 Can you answer this question about the notification mails?

[2022-02-23 18:27] PRMerger-2 commented on #88595
The following users don't have valid GitHub IDs, or are not collaborators on this repo: shants123

[2022-02-23 18:27] Karishma-Tiwari-MSFT commented on #88627
Thanks for bringing this to our attention. I think it should be 8.3 and newer. I have created a PR with the update for author's review.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are

[2022-02-23 18:29] MarileeTurscak-MSFT commented on #88610
Thanks! I made a pull request to update the prerequisites. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189495

Since that section applies to the DC agent, it looks like the text should be updated like you said.

[2022-02-23 18:29] #88610 closed

[2022-02-23 18:31] Karishma-Tiwari-MSFT commented on #88625
Thanks for the question. We are currently investigating and will update you shortly.

[2022-02-23 18:33] b-hchen commented on #88618
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/189494
Posting by EOB 2/23/22 PST.

#please-close

[2022-02-23 18:33] #88618 closed

[2022-02-23 18:38] shenglol commented on #87574
@DonKoning Which version of Bicep CLI are you using? Also could you try running `Disconnect-AzAccount` and `Connect-AzAccount` to refresh the auth token?

[2022-02-23 18:39] jv-595759 opened #88631 "Debit card info not accepting"
This page was not useful. The actual cause is unknown. No workaround given. Wasted time going through this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7adf7da0-273f-d57b-6b21-8444fd75d083
* Version Independent ID: a8eefcea-55e7-29df-a312-51c64b8f217f
* Content: [Troubleshoot a declined card at Azure sign-up](h

[2022-02-23 18:42] #88455 closed

[2022-02-23 18:50] Karishma-Tiwari-MSFT commented on #87640
@[zipon](https://github.com/zipon) When you say 'this document', my understanding is you are talking about this learn exercise - https://docs.microsoft.com/en-gb/learn/modules/monitor-azure-vm-using-diagnostic-data/3-exercise-create-virtual-machine
Let me know if my understanding is incorrect. If it is correct, then the right way of getting that document updated is by filling the form I shared abo

[2022-02-23 18:54] ravkash commented on #88618
yes, adding the emphasis would be great! I know it says "between" but I have got questions from many people over the last year about this and I think the addition would avoid some of those questions.

[2022-02-23 19:00] JamesTran-MSFT commented on #88450
@DonKoning
Thank you for your time and patience!

From the highlighted text `Services deployed in the same region as the storage account use private Azure IP addresses for communication. Thus, you can't restrict access to specific Azure services based on their public outbound IP address range`.

This doesn't apply to the Azure Key Vault since you can block [Trusted Services](https://docs.microsoft

[2022-02-23 19:00] #88450 closed

[2022-02-23 19:01] MarileeTurscak-MSFT commented on #88621
Thanks! I made a pull request to add a note similar to the one in the ATP guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189507#pullrequestreview-891549550

CC @MicrosoftGuyJFlo

[2022-02-23 19:01] #88621 closed

[2022-02-23 19:02] SadiqhAhmed-MSFT commented on #88605
@assaf-grth I don't believe the MP deletes records from your AD after the SaaS Subscription has been unsubscribed.

[2022-02-23 19:03] v-sgaggutur opened #88632 "Unable to find type [AdalHelper] MSCloudIdUtils"
Customer is trying to follow this article https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutorial-access-api-with-certificates

And he getting the error:
**API request you are having a problem with - Azure Active Directory reporting API;
Microsoft Graph error message - Not getting this far, local errors only: Unable to find type [AdalHelper].
At C:\\Users\\a-jlindsay\\D

[2022-02-23 19:08] krispenner commented on #88580
@jvano if that is the case, can I ask that the documentation be updated to explcity state managed identities are supported, maybe in a dedicated section. Here is a suggestion:

In the meantime I have opened a support ticket, here is the request ID if you would like to take a look `2202230040001197`, the support engineer may be reaching out to your team.

[2022-02-23 19:12] SadiqhAhmed-MSFT commented on #88631
@jv-595759 Sorry for the inconvenience this must have caused.

Debit cards aren't accepted as payment for Azure subscriptions. This is covered in this article - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/troubleshoot-azure-sign-up#credit-card-declined-or-not-accepted

![image](https://user-images.githubusercontent.com/44458118/155390535-ec2235b3-e60b-4a38-805b-7fac36bc9a

[2022-02-23 19:16] chadcarlton opened #88633 "The supplied script on this page no longer works."
The supplied script does enumerate all Enterprise apps in a Tenant, but does not populate the Certificate Start Date/End Date columns.

In fact, the KeyCredential property does not seem to return at all.

How does one progamatically see SSO Certificate (SAML Signing Cert) expiration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-02-23 19:17] SaiKishor-MSFT commented on #88112
@Christian-e-S Can you provide the entire output from the Get-DnsClientNrptPolicy command? Thanks!

[2022-02-23 19:25] JamesTran-MSFT commented on #88632
@v-sgaggutur
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

When it comes to troubleshooting your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our

[2022-02-23 19:26] connorbrown-8451 opened #88634 ""Azure Services" Clarification"
I would like more clarity on "Azure Services" in reference to the 0.0.0.0 IP rule. Does this mean that other Azure customers could potentially try to access the database, or does this only permit access by Microsoft-owned services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b404ba7-af5a-bb77-4cd4-c0123490e0ed
* Ve

[2022-02-23 19:27] femsulu commented on #88624
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@AaronMaxwell  any input please? Is there a localized page/url for French?

[2022-02-23 19:33] laujan commented on #88363
Hi @sshetty2022, Thank you for your feedback. I've updated the build custom model article. The model ID accepts a string data type. Thanks again!

cc: @ChaitanyaNaykodi-MSFT

[2022-02-23 19:39] #88363 closed

[2022-02-23 19:40] laujan commented on #88363
#please-close

[2022-02-23 19:52] JamesTran-MSFT commented on #88633
@chadcarlton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 19:57] andrePKI opened #88636 "Policies are renamed?"
I can't find the policy _[Preview]: Log Analytics agent should be installed on your Windows Azure Arc machines_ so I suspect it has been renamed to either
_[Preview]: Deploy Microsoft Defender for Endpoint agent on Windows Azure Arc machines_
or
_[Preview]: Log Analytics extension should be installed on your Windows Azure Arc machines_

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-02-23 19:58] jzuchora87 opened #88637 "Provide example for Azure Government Cloud"
The guide does not currently include examples for Azure Government Cloud. I've been able to successfully assign EnrollmentReader to a SPN but am getting an error when trying to follow the same process for SubscriptionCreator:

Invoke-RestMethod : {"code":"BadRequest","message":"a0bcee42-bf30-4d1b-926a-48d21664ef71 can only be assigned to EnrollmentAccount scope."}

---
#### Document Details

⚠ *Do

[2022-02-23 20:01] tomprice-msft commented on #88302
@MarileeTurscak-MSFT I see that this document says it was updated on 18th Feb, but it still has the same error - is the fix still in review?  I can't access the PR link above.

[2022-02-23 20:07] bartvermeersch opened #88638 "Need to configure Diagnostic settings after migrating App Insights workspace?"
**Migrate your resource** talks about migrating classic App Insights. It doesn't mention editing the **diagnostic settings** after migration. It is not clear to me if this is required as well when migrating to the new workspace-based resource type.

![image](https://user-images.githubusercontent.com/1407940/155399420-940027db-352b-42e0-812b-5634b9bd9c45.png)

---
#### Document Details

⚠ *Do not e

[2022-02-23 20:08] SaurabhSharma-MSFT commented on #88596
@zipon Sorry but as mentioned in the issue referred in your ask this Microsoft Docs repository is meant for Microsoft Documentation issues. You are getting error on Microsoft Learn documentation and you need to report that through the Microsoft learn feedback [link](https://docs.microsoft.com/en-gb/learn/support/troubleshooting?uid=learn.azure.monitor-azure-vm-using-diagnostic-data.exercise-create

[2022-02-23 20:15] SaurabhSharma-MSFT commented on #88626
@AWeber78 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-23 20:20] verhyppo commented on #88184
Thanks for your update @KrishnaG-MSFT but there are many places where those api link is mentioned and if you search on GitHub using [this](https://github.com/MicrosoftDocs/azure-docs/search?q=partneringestion) search you'll find there are at least 2 places where the url is reported in the doc.

Mentioning just one example:
[code]

Hope this could be helpful to fix the documentation accordingly.

[2022-02-23 20:24] meenalsri commented on #88272
@SnehaGunda to please help with this.

[2022-02-23 20:28] andrePKI opened #88639 "Auto provisioning?"
Maybe it is documented elsewhere, but I would think Auto provisioning must be enabled from MDC, i.e. _Log Analytics agent for Azure VMs_ and  _Log Analytics agent for Azure Arc Machines (preview)_
But that is not mentioned here. Is it just the checkbox _Allow Microsoft Defender for Endpoint to access my data._ on Integrations blade or also Auto provisioning that must be enabled?

#### Document Det

[2022-02-23 20:38] saachigopal commented on #83465
The team is still investigating, will update once the issue has been identified. Thanks!

[2022-02-23 20:43] madhancock commented on #83128
Any further news on this?

The "What's new" page indicates this is resolved: https://docs.microsoft.com/en-us/azure/mysql/single-server-whats-new

However, documentation and the Azure portal still display warnings about 8.0.27+, and testing shows this issue is still present on our instances. So, my assumption is this is a phased rollout (which makes the message in the above link rather misleading)

[2022-02-23 20:45] MicrosoftGuyJFlo commented on #88475
We only support mapping IPv4 addresses to countries. #please-close

[2022-02-23 20:45] #88475 closed

[2022-02-23 20:45] nibaccam commented on #84541
Hi @gro1m, thank you for reporting this.  The CLI v2 is still in public preview and no major changes have been implemented in v2.0.3, so the release notes have not been updated.

We will now proceed to close this thread. If you additional questions on this topic, please feel free to re-open this thread for further assistance.
#please-close

[2022-02-23 20:45] #84541 closed

[2022-02-23 20:55] mswilson4040 commented on #87556
Is there any proof that what's being said in this article works?

[2022-02-23 20:55] ssivas commented on #88577
OP has created this issue to test the new documentation.

[2022-02-23 20:56] MicrosoftGuyJFlo commented on #65345
@anthonynz It doesn't make them pointless. The issue we are trying to solve with security defaults is more than emergency access accounts.

It is customers who don't know where to start at all. Giving them an easy way to enable common security things with a checkbox. We tell them to create the emergency access accounts because we see high numbers of lockout where admins forget their credentials or

[2022-02-23 21:00] jhirono commented on #87032
Sorry for my delay. ACR service endpoint is a public preview service, but I think both service endpoint and private endpoint enabled ACR does not support managed identity. Please let me follow up and get back to this thread.

[2022-02-23 21:03] jhirono commented on #87226
@Bozhong68 would you please reply to this thread?

[2022-02-23 21:07] jbt-jaime commented on #88597
@***@***.***> Thanks for the quick response.

No, this is a 5.1 runtime:
***@***.***

But it sounds like the same thing, WebhookData treated as a string even though I’m not putting quotes around it or anything. Perhaps this second bullet point means that the object will be interpreted as a string regardless:

***@***.***

Unless of course there is something else I’m doing wrong, then it’d be nice

[2022-02-23 21:09] pagerwho opened #88641 "Sample script has typos that don't allow a direct usage."
There are typos in the script in the disk striping subheading. The script should read I believe like what is displayed below. Note that "New- VirtualDisk" is corrected to remove the erroneous space, the special character in front of the first occurrence of "UseMaximumSize" is changed to the normal dash character and the removal of an erroneous space in the string "$PhysicalDisks .Count"

[code]

P

[2022-02-23 21:10] DSakura207 commented on #88619
Thanks @DerekHerman-MSFT . What tier is a 768 GiB managed disk? P20 or P30?

[2022-02-23 21:10] jhirono commented on #86746
These two are the required RBACs for subnet delegation. We will update our doc. thx.

To deploy resources into a virtual network or subnet, your user account must have permissions to the following actions in Azure role-based access control (Azure RBAC):

"Microsoft.Network/virtualNetworks/*/read" on the virtual network resource. This permission isn't needed for Azure Resource Manager (ARM) templat

[2022-02-23 21:13] jhirono commented on #86496
Thank you very much. Let me follow this up with key vault team.

[2022-02-23 21:14] tibortakacs opened #88642 "No tags by adding update group"
I am following the step-by-step guide to enrolling an update for my Raspberry Pi. It is working well, however, I cannot see the added "ADUGroup" tag when I try to add a new update group. I tried to delete the tag (using `null`) and add it back, no success. Here are a few screenshots:

Here are the tags for my DeviceTwin:
![image](https://user-images.githubusercontent.com/11661709/155409092-fa6e099

[2022-02-23 21:15] mswilson4040 commented on #52771
I don't think this article is accurate at all. I only run into dead ends and other people saying the same.

[2022-02-23 21:19] jvano commented on #88580
I already passed the suggestion for doc improvements to the right person.

Additionally, we will coordinate with the support engineer.

Thank you!

[2022-02-23 21:27] gro1m commented on #84541
@nibaccam I cannot re-open this issue, see also: https://stackoverflow.com/a/21333938/9698518

[2022-02-23 21:27] gro1m commented on #84541
No major changes is not true, because the commandJobSchema always changes and I do not see a way to not reference the latest version.

[2022-02-23 21:28] gro1m commented on #84541
Now we are in version 2.1.1, so there must have been quite some updates in the mean-time...

[2022-02-23 21:30] gro1m commented on #84541
Would be happy to know when general availability is here, because it has been in preview quite long now. And I do not think it suffices to just switch then, the release notes should already be "tested" in the preview version.

[2022-02-23 21:32] jlautman opened #88643 "Documentation for adding database autoscaling references section not present in DataExplorer"
The documentation states that there's a "Scale" section in dataexplorer for adding autoscaling at the database level (the database I'm using wasn't initially created with database scope autoscaling). However, there is no such section. Please repair or update the documentation to reflect that adding autoscaling at the database level is impossible after the database has been created.

---
#### Docum

[2022-02-23 21:32] johndowns commented on #88198
@barneschism Sure! Here's a CLI command to take a revision offline. Make sure to replace the placeholders for your specific instance. You can replace `false` with `true` at the end to set the revision as online.

[code]

[2022-02-23 21:41] msmimart commented on #85902
@bobe999 thanks for pointing this out. We have a relatively new Azure AD B2C article that outlines feature differences between Azure AD and Azure AD B2C tenants. Per your feedback, I'm adding a link to that article for visibility, and also noting the things you mentioned that we don't currently cover for a future revision. Thanks again!

[2022-02-23 21:41] #85902 closed

[2022-02-23 21:42] #88027 closed

[2022-02-23 21:48] cro27 commented on #87929
@tigormanmsft - the section on manually mounting snapshots is valid for restoring a single database so I think it needs to be retained. I have renamed it "Restoring an individual database".
Database recovery will be moved to the end of the article

[2022-02-23 21:55] #88626 closed

[2022-02-23 21:57] BrianAndersen78 commented on #87556
@mswilson4040 It worked for me. I'm not 100% sure that I did exactly what he did, but I did get it to work following he's guide... Hope it helps :)

[2022-02-23 21:58] nibaccam commented on #84541
@gro1m thanks for the feedback. I'll bring this to the product team to better understand the commandJobSchema changes that didn't documented in the release notes.

[2022-02-23 21:59] savjani commented on #83128
Adding @Bashar-MSFT to help with this

[2022-02-23 22:13] laujan commented on #88107
Hi @GiftA-MSFT, Thanks for the feedback. I've updated the documentation. 🙂

#please-close

[2022-02-23 22:13] #88107 closed

[2022-02-23 22:20] jlautman commented on #88643
Update: It seems that cosmosdb does not allow adding database scope autoscaling after the database has been created. This wasn't at all clear from the documentation.

Azure support pointed me to "To provision autoscale on shared throughput database, select the Provision database throughput option when creating a new database". This is in a section on creating a new database and is immediately foll

[2022-02-23 22:22] Oury-MSFT commented on #88643
@jlautman Thank you for your feedback. We are reviewing this and get back shortly.

[2022-02-23 22:31] nibaccam commented on #88587
@YorBraakman2022 thank you for reporting this. Python 3.8 with Azure Machine Learning's implementation of automated ML is still undergoing development. I've made an internal task item to circle back with the team and update the documentation when available.

We will now proceed to close this thread.
#please-close.

[2022-02-23 22:32] #88587 closed

[2022-02-23 22:32] chaoscreater commented on #68510
Having the same issue. Reinstalling Azure VPN Client didn't resolve my problem...

[2022-02-23 22:37] mswilson4040 commented on #87556
Do you recall having to do anything special with the client app's nginx.conf? I am extremely lost at this point. There's about 3 different articles saying the same stuff but all different version numbers. Not sure which one I should be following as each one of them have some problem that prevents it to work along the way.

The furthest I can get out of the 3 is with [this article](https://docs.mic

[2022-02-23 22:37] smereczynski opened #88645 "Azure Data Lake Storage Gen 1/2"
You mentioned Gen1 in the doc but you probably mean Gen2(?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3313ed8-c681-90ad-0c9c-1cb60e1bbc49
* Version Independent ID: 332d37d9-675a-05a9-08c1-8ee2100768ea
* Content: [Cluster capacity planning in Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/hdins

[2022-02-23 22:41] nibaccam commented on #87226
#assign @Bozhong68

[2022-02-23 22:50] #88483 closed

[2022-02-23 22:51] mike-urnun-msft commented on #88350
Hello @ChanGitDog - Both formats, 5 and 6 fields are supported as this doc describes & both expressions implement the same library inherently: [NCrontab: Crontab for .NET](https://github.com/atifaziz/NCrontab). As such, I doubt that there would be a compatibility issue in the context of the behavior that you observed although the only difference is in usability such that the 6-field format is more

[2022-02-23 22:51] #88350 closed

[2022-02-23 23:01] tigormanmsft commented on #87929
I didn't suggest removing it.  I did suggest moving the far simpler and easier (and briefer) section on restoring an entire VM upwards to be the focus, and then moving the current section misleadingly labeled "recovery" (leading customer to think that this level of complexity is common) to the end, with an accurate title like "Use-case for recovering one disk" or something like that?

Tim Gorman

[2022-02-23 23:03] KranthiPakala-MSFT commented on #88620
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-23 23:03] kobulloc-MSFT commented on #88304
@SherryGuo1021 Sorry for the delay--I was able to confirm nested virtualization on [v3](https://azure.microsoft.com/en-us/blog/nested-virtualization-in-azure/) and [v5](https://azure.microsoft.com/en-us/updates/general-availability-new-azure-virtual-machines-deliver-increased-performance-for-a-broad-range-of-workloads/) as well as multithreading on v4, but it looks like the document author will ne

[2022-02-23 23:04] mike-urnun-msft commented on #81222
Hello @fabiocav @AnatoliB @vrdmr - Could either of you recommend what the better way would be for communicating the detail in question now that we have the dotnet worker also out-of-proc as well as @sgalles's question for Java?

If it means a minor update (i.e.: simply removing the statement or rephrasing based on your recommendation), I'd be happy to create a PR and get the doc updated. Alternati

[2022-02-23 23:06] Bashar-MSFT commented on #83128
This is removed with this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/189557/files
The bug is not fixed yet

[2022-02-23 23:23] tfitzmac commented on #88447
I have updated the doc to concurrent connections instead of per day.
#please-close

[2022-02-23 23:23] #88447 closed

[2022-02-23 23:27] GeethaThatipatri-MSFT commented on #88634
Hi @connorbrown-8451 Thanks for reaching out, We will Investigate and update you shortly.

[2022-02-23 23:34] Bozhong68 commented on #81113
@mjaow could you please help on this?

[2022-02-23 23:35] Bozhong68 commented on #87226
@mjaow could you help this one too? I believe recently a customer encountered this issue too and you have helped debugging.

[2022-02-23 23:56] davidsmatlak commented on #88211
I submitted a fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-02-24 00:05] RossMurr4y commented on #25356
It might also be worth stepping back a little further and assessing how App Settings can be introduced like this without documentation being considered. This is not the first App Setting I've found through word-of-mouth or a long period searching blogs rather than official documentation

[2022-02-24 00:12] Bradben opened #88647 "Title of this article is poorly worded"
"Manage Azure Resource Manager resource groups by using the Azure portal" - while being technically accurate, I suppose, is cumbersome to read. "Azure resource groups" is a more commonly used terminology - I think the title might read better as "Manage Azure resource groups by using the Azure portal".

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-02-24 00:14] #88211 closed

[2022-02-24 00:19] emuench commented on #85965
#reassign:v-jrushing

[2022-02-24 01:03] kobulloc-MSFT commented on #88641
@pagerwho Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-02-24 01:05] emuench commented on #85731
#reassign:v-jrushing

[2022-02-24 01:06] emuench commented on #87009
#reassign:v-jrushing

[2022-02-24 01:44] murasamelabo opened #88664 "Japanese Language is broken"
[フィードバックをこちらに入力してください]
This page's Japanese Language is shown in Arabic.
And I found some Japanese Azure AD Related Docs is displayed various language.

**For Example**

https://docs.microsoft.com/ja-jp/azure/active-directory/cloud-sync/reference-cloud-sync-faq
https://docs.microsoft.com/ja-jp/azure/active-directory/develop/active-directory-optional-claims
 _> Chinese_

https://docs.microsoft.com/

[2022-02-24 01:49] mamccrea commented on #88304
#assign: @lauradolan

[2022-02-24 01:50] jhirono commented on #86496
I confirmed with KeyVault team that AzureML will be added soon. We can close this issue.

[2022-02-24 01:52] KrishnaG-MSFT commented on #88647
@Bradben Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-24 01:56] KrishnaG-MSFT commented on #88636
@andrePKI Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-24 01:59] VikasPullagura-MSFT commented on #88612
@erjarvin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-24 02:00] VikasPullagura-MSFT commented on #88612
@Dbakevlar
Can you please check and add your comments on this doc update request as applicable.

[2022-02-24 02:22] SwathiDhanwada-MSFT commented on #88638
@bartvermeersch Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-24 02:45] SwathiDhanwada-MSFT commented on #88312
@SherryGuo1021 Thanks for your feedback.

Assigning to content author @tfitzmac for doc enhancement.

[2022-02-24 02:46] #88336 closed

[2022-02-24 02:58] Oury-MSFT commented on #88530
@rohitnayakmsft could you please assist on the above enquiry.

[2022-02-24 03:19] cyn3rgy opened #88666 "Document could be improved by adding the default incremental update timing."
information on this page https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/how-provisioning-works
says timing on incremental provisioning updates are in the individual tutorial documents, however this document has no details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04509836-867e-279f-c1d6-

[2022-02-24 03:22] SwathiDhanwada-MSFT commented on #88308
@DianaBohorquezT You need to assign Support Request Contributor role at the subscription level. Even though you assign it at resource group level, it wouldn't work unless the user has Owner or Contributor role at the subscription level.

You will be prompted with an error if you provide access at resource group level as shown below.

<img width="627" alt="image" src="https://user-images.githubuser

[2022-02-24 03:22] #88308 closed

[2022-02-24 03:34] Oury-MSFT commented on #88643
@jlautman I went through the doc and was not able to find where it is mentioned that Scale" section in data explorer for adding autoscaling at the database level. Could you please take a screen shot and highlight the section where that statement is mentioned?

[2022-02-24 03:58] Givary commented on #88310
@SpitFire-666 Thank you for your post, looking into it.

[2022-02-24 03:59] chaoscreater opened #88667 "Azure VPN Client unable to list certificates"
I'm using the latest build of Azure VPN Client on Win10 21H2.

Under the Server Validation section, I can only see 5 certs, despite that I have way more than 5 certs under the Root CA in certificate manager.

![image](https://user-images.githubusercontent.com/18227319/155455322-3858a69b-05de-4fd9-bb73-e907eec6c1d7.png)

![image](https://user-images.githubusercontent.com/18227319/155455368-b9ef57c1

[2022-02-24 04:17] jlautman commented on #88643
[image: image.png]

On Wed, Feb 23, 2022 at 7:34 PM Oury-MSFT ***@***.***> wrote:

[2022-02-24 04:19] jlautman commented on #88643
Sorry. I responded to the email and it didn't upload the screenshot correctly.
![image](https://user-images.githubusercontent.com/12954173/155457201-c988afb2-b7f6-491f-8271-d8a0473935c7.png)

[2022-02-24 04:57] ssivas commented on #88637
@jzuchora87,  Thank you for your query . We will investigate and update the thread.

[2022-02-24 05:01] ssivas commented on #88664
@murasamelabo , Thanks for brining this to our notice, I have assigned it to content author to review and update same.  Thank you for your time and patience throughout this issue.

[2022-02-24 05:02] ssivas commented on #88664
@billmath , Could you please tale a look at this issue. Thanks.

#assign-to @billmath

[2022-02-24 05:02] PRMerger19 commented on #88664
The following users don't have valid GitHub IDs, or are not collaborators on this repo: -to billmath

[2022-02-24 05:04] SwathiDhanwada-MSFT commented on #88284
@CXMelga As mentioned in the document, XPath entries are written in the form LogName!XPathQuery. When you add `[System[EventID=4870]]!` , this path contains only XPathQuery and the azure automatically adds !* where * selects all events from the channel or log file.

Also, as the path is incorrect, that could be the reason why the data is not appearing in Log analytics.

[2022-02-24 05:07] ssivas commented on #88666
@cyn3rgy , Thank you for your query . We will investigate and update the thread.

[2022-02-24 05:25] LifeRyuto opened #88670 "Does scaling storage require a restart?"
Does scaling **storage** require a restart? This doc says

However, according to [another doc](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-compute-storage#scale-resources), it says scaling storage also requires a restart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a48d73-9910-d474-f

[2022-02-24 05:29] AnuragSharma-MSFT commented on #88485
@TLKG Thanks for your patience. You can refer to below link to get more details on Azure Free Services. As per it, Azure PostgreSQL Flexible Server comes under free services for 12 months usage with some capacity.

https://azure.microsoft.com/en-in/free/

<img width="784" alt="image" src="https://user-images.githubusercontent.com/66360845/155463561-32fb3644-f531-408f-b5ba-d52bdc912e2c.png">

Howev

[2022-02-24 05:47] jasonyusz opened #88671 "AVD licensing documentation."
Please clarify "Customers who are properly licensed to run Azure Virtual Desktop workloads are eligible to **apply a Windows license to their session host virtual machines and run them without paying for another license.** For more information, see [Azure Virtual Desktop pricing](https://azure.microsoft.com/pricing/details/virtual-desktop/)."

Does it mean users who have M365 E5 license can activa

[2022-02-24 05:51] jtwalters25 commented on #88643
**Issue:**  The documentation for enabling autoscale on an existing database doesn't explicitly say that if you don't provision the database with the autoscale enabled, you cannot then later enable the autoscale.  My customer finds this to be misleading as the documentation currently offers instructions on how to enable autoscale on existing databases, which would imply autoscale wasn't enabled on

[2022-02-24 06:17] algattik opened #88672 "What is a ternary factory?"
In the sentence "If you want to share integration runtimes across all stages, consider using a ternary factory just to contain the shared integration runtimes", the word ternary is not clear. Ternary means consisting of three parts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* V

[2022-02-24 06:20] SreejaBhattacharya-MSFT commented on #88671
Hi @jasonyusz , I will check on this and update you. Thanks!

[2022-02-24 06:24] SreejaBhattacharya-MSFT commented on #88498
Thanks @sarahyoon for reaching back. I am checking this internally with the product team, and I shall update this thread once I hear back from them.

[2022-02-24 06:27] Shang7799 opened #88673 "Description about updating Periodic back options setting is not consistent"
[Enter feedback here]
In the description about "[Modify the backup interval and retention period](https://docs.microsoft.com/en-us/azure/cosmos-db/configure-periodic-backup-restore#configure-backup-interval-retention )", it mentioned that

**"Currently you can change them backup options from Azure portal only"**
But in the following How-to part, it shows that we could also use PowerShell and CLI t

[2022-02-24 06:31] JMAvenant opened #88674 "More detail needed on RBAC and Resource Group"
Morning team,

  Various Microsoft pages and presentations link back to this page - in particular the incentive pages refer to the RBAC requirements partners should hold, and also that multiple partners can be PAL (at Resource Group level).  Unfortunately this page does not link to the "how" pieces - partners are struggling to make the connection between the incentives guidance (the what - i.e. en

[2022-02-24 06:41] Shang7799 opened #88675 "Is it best practice to migrate restored Cosmos DB data to the primary account for Continuous backup mode?"
[Enter feedback here]
In the wiki [Configure Azure Cosmos DB account with periodic backup](https://docs.microsoft.com/en-us/azure/cosmos-db/configure-periodic-backup-restore), it suggested that "If everything looks good, you can migrate the data back to the primary account. Although it is possible to use the restored account as your new active account, it's not a recommended option if you have pro

[2022-02-24 06:42] #88284 closed

[2022-02-24 06:50] vicancy commented on #80618
Yes it's only applicable to proxy mode

[2022-02-24 06:50] AshokPeddakotla-MSFT commented on #88642
@tibortakacs Thanks for the feedback!
Adding author @ValOlson to confirm on the supported version information.

[2022-02-24 06:56] drdamour commented on #80618
@vicancy i'm interpreting your answer as. "yes it is only applicable in proxy mode and NOT applicable in serverless mode".  can the docs be updated to reflect this please.

[2022-02-24 07:00] vicancy commented on #81537
The doc is now updated with more details provided https://docs.microsoft.com/azure/azure-signalr/signalr-concept-authorize-azure-active-directory#azure-built-in-roles-for-signalr-resources

[2022-02-24 07:07] bozenektoja opened #88676 "Forms not listed under Teams"
[Enter feedback here]
Hello,

Please include Microsoft Forms on the list of the products dependent on Microsoft Teams. My customer had a support case, Forms kept refreshing all the time, support has informed them that Conditional Access Policy blocking access to Microsoft Teams via browser is blocking Forms from working properly.

Best regards,
Bożena Szlachta-Hutyra

---
#### Document Details

⚠

[2022-02-24 07:09] zackliu commented on #84929
No, serverless mode doesn't support streaming hub.

[2022-02-24 07:10] SadiqhAhmed-MSFT commented on #88674
@JMAvenant Thanks for the feedback. We will have this reviewed by the content team and update as appropriate.

@dhirajgandhi FYI

[2022-02-24 07:10] drdamour commented on #81537
The doc is much better.

app server vs owner is still a bit confusing..but seems to be a choice between serverless and not

[2022-02-24 07:15] cinamori commented on #88260
Thank you for your quick response. I was able to confirm the document in English was updated. However our customers are Japanese. Could you revise the Japanese page as well?

[2022-02-24 07:17] Givary commented on #88524
@sergioandreslq Thank you for reaching out to us. I did quick repro of the issue at  my end with existing & new tenant.
Existing tenant - was able to execute the above commands and get the desired output, whereas with new tenant above commands in your post didn't give any output.

Further investigated into it and found we need to create the settings at the directory level before executing the comm

[2022-02-24 07:17] #88524 closed

[2022-02-24 07:21] ssivas commented on #84351
The `resource.operation.constraint` format could be considered the recommended convention as it's more descriptive, but you can use whatever naming convention (or none at all) for your own API. Because, each API can define its own naming convention. The x.y.z naming convention is just an example, and a convention we happen to use in Microsoft Graph.

Here are similar conversions for your reference

[2022-02-24 07:21] #84351 closed

[2022-02-24 07:26] Shang7799 opened #88677 "Confusing description in "Building highly available applications" Part"
[Enter feedback here]
Here, it suggested that "single write region" is best high availability, but, the linked doc name is "configure your Azure Cosmos account with **multiple write-regions**".  Here, the "multiple write-regions" is confusing and inversed with the "single write region".

If the best practice is that "a single write region and at least a second (read) region and enable Service-Mana

[2022-02-24 07:35] GitaraniSharma-MSFT commented on #88413
@edlaguni , thank you for bringing this to our attention. Connect-AzAccount is not needed when creating a self-signed P2S root cert. We've updated the doc to remove this command.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-02-24 07:35] #88413 closed

[2022-02-24 07:39] GitaraniSharma-MSFT commented on #88509
@dedalusmax , you mentioned that the problem appears for all NSGs that you have on a particular Vnet. Could you confirm if it is same for other Vnets as well?

I would like to take a look at your Vnet, if possible. Could you send an email to azcommunity@microsoft.com referencing this thread and your subscription id? Please mention "ATTN gishar" in the subject field.

[2022-02-24 07:41] DavidChenLiang commented on #88573
thank you, never realize that, or at least keep the term consistent, maybe?

[2022-02-24 07:42] DavidChenLiang commented on #88573
you can close the issue out, thank you.

[2022-02-24 07:48] SadiqhAhmed-MSFT commented on #88607
@MikeWedderburn-Clarke Please check this portion of the support matrix section: https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#supported-backup-actions

![image](https://user-images.githubusercontent.com/44458118/155480789-84b4cf00-7c98-495f-9428-55d462bf8f60.png)

Hope that answers!

[2022-02-24 07:55] SreejaBhattacharya-MSFT commented on #88671
Hi @jasonyusz , yes users who have M365 E5 license can activate their session host VM running Windows 10 Enterprise for Virtual Desktop.
You can refer to this [link](https://download.microsoft.com/download/3/D/4/3D42BDC2-6725-4B29-B75A-A5B04179958B/Licensing_brief_PLT_Windows_10_licensing_for_Virtual_Desktops.pdf) for more details.

[2022-02-24 07:57] kayyumanwar opened #88678 "Azure Disk Lun numbers why not in Order If we deploy using Terraform ?"
Hi,

What is the criteria you choose to list the lun numbers in Disk pane in azure portal. Why its always not in order? How to solve this in terraform ?

![image](https://user-images.githubusercontent.com/46329019/155482113-d8b4083c-32df-4ca7-8df7-8fe31b1b3178.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-02-24 08:08] w0ut0 opened #88679 "Function apps do not use outbound IP's when accessing resources in the same region."
In the article, we read  (emphasis mine):

When trying to access resources (eg. storage account, using the blob storage binding), this is wrong. When connecting to a storage account inside the same region, Azure uses a private IP that can not be whitelisted in the storage account.

In the storage account firewall [caveats](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-secur

[2022-02-24 08:21] Orma07 commented on #88528
Hey any updates on that?

[2022-02-24 08:22] AnuragSingh-MSFT commented on #88194
@goosvorbook, I have submitted the PR which is under review for this suggestion. I will close this thread now. Feel free to comment/reopen the thread if you have any questions.

[2022-02-24 08:22] #88194 closed

[2022-02-24 08:24] Shang7799 opened #88680 "How to check whether the unique index is created after the container is created?"
[Enter feedback here]
In the current limitation of Continuous backup mode, one is that "Azure Cosmos DB API for SQL or MongoDB accounts that create unique index after the container is created are not supported for continuous backup.".

Here are two questions:

-  how to check whether the unique index is crated after the container is created for my Cosmos DB account?

- The doc about "[Define a uni

[2022-02-24 08:32] #88573 closed

[2022-02-24 09:01] SreejaBhattacharya-MSFT commented on #88678
Hello @kayyumanwar , may I know what is the Operating System of the VM that you have deployed? Is it Windows?

[2022-02-24 09:10] jonasauer opened #88681 "Obtain email address Restful technical profile does not work due to &amp; in url"
[Docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-linkedin?pivots=b2c-custom-policy#obtain-an-email-address) specify that Restful technical profile should be configured with following url: https://api.linkedin.com/v2/emailAddress?q=members&amp;projection=(elements*(handle~))

[API Docs](https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/primary-

[2022-02-24 09:23] kayyumanwar commented on #88678
Yes, It is windows.

On Thu, Feb 24, 2022 at 2:31 PM SreejaBhattacharya-MSFT <
***@***.***> wrote:

[2022-02-24 09:38] AnuragSharma-MSFT commented on #88670
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-24 09:39] AnuragSharma-MSFT commented on #88673
@Shang7799 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-24 09:48] ShaikMaheer-MSFT commented on #88672
@algattik Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-24 10:01] Johnnytechn opened #88682 "Does the location need to have enough space to hold the only one item?"
There is one customer in China wants to know whether the location in the following screenshot needs to have enough space to hold the only one item that they expect to recover.

![](https://raw.githubusercontent.com/Johnnytechn/myimages/380e05c102f63ed1224dfb2f434e83b483105bea/DPM_register5.png)

The customer thinks that the location must have enough space to hold items that they expect to recover

[2022-02-24 10:05] ayushiaks opened #88683 "Auto node image upgrade monitoring"
I've set the autoUpgradeProfile for my AKS cluster to:

[code]
I can see the template for the AKS cluster has been successfully updated, but the upgrade hasn't yet taken place.
How do I monitor when the upgrade will take place? If it has been scheduled or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b

[2022-02-24 10:06] ayushiaks commented on #68417
Hi, any updates on this? I'm facing the same issue, is there anyway to know when the upgrade will occur?

[2022-02-24 10:17] kattard931 commented on #56192
Hi, is there an update on this issue please? I am currently using 'https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-visualize-nsg-flow-logs-open-source-tools' with Version 2 of NSG Flow Logs, however I am still getting
"_jsonparsefailure",
"_split_type_failure",
"_dateparsefailure".

I appreciate any help.  Thank you.

[2022-02-24 10:32] SreejaBhattacharya-MSFT commented on #88678
Hi @kayyumanwar , can you once check the below thread, where the Original poster was facing a similar issue and resolved it by removing managed_disk & disk_attach and added a dynamic tag for storage_disk .
Refer to this: [https://stackoverflow.com/questions/65845087/lun-numbers-not-ordered-when-deployed-through-terraform](https://stackoverflow.com/questions/65845087/lun-numbers-not-ordered-when-de

[2022-02-24 10:34] AnuragSharma-MSFT commented on #88680
@Shang7799 Thanks for reaching out to us.

For the first point we can export the template and check the container properties as shown in below screenshot:

<img width="331" alt="image" src="https://user-images.githubusercontent.com/66360845/155506527-76d632f9-7492-4c10-b33b-2b44f645cb7d.png">

For second point in Mongo DB API, Unique indexes can be created only when the collection is created and i

[2022-02-24 10:41] shashishailaj commented on #88639
@andrePKI Thank you for your feedback. We will investigate and update the thread.

[2022-02-24 10:41] chaoscreater commented on #88667
Found the fix. Simply delete the Certificates folder under ROOT:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\SystemCertificates\ROOT\Certificates

Do a backup first if you're unsure. It's most likely due to some corrupted cert or maybe some conflicting cert in that folder. After doing that, both my server and client certificates show up in the list.

[2022-02-24 10:42] chaoscreater commented on #68510
Found the fix myself. Simply delete the Certificates folder under ROOT:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\SystemCertificates\ROOT\Certificates

Do a backup first if you're unsure. It's most likely due to some corrupted cert or maybe some conflicting cert in that folder. After doing that, both my server and client certificates show up in the list.

[2022-02-24 10:47] SnehaAgrawal-MSFT commented on #88679
@w0ut0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-24 10:56] assaf-grth commented on #88605
So the only way to remove such app user is manually by the customer tenant admins?

[2022-02-24 11:13] hmayer1980 opened #88685 "Information about Security / Synapse Roles in Relation to mssparkutils.credentials.getSecret"
Can you please provide information about Security related to that. Especialla to mssparkutils.credentials.getSecret
Or asked different, can every Synapse User use mssparkutils.credentials.getSecret( linked Service to return all secrets) - how is this related so synapse roles - can that only be done by administrators / contributes or whatnot...

[Enter feedback here]

---
#### Document Details

⚠ *

[2022-02-24 11:18] AnuragSharma-MSFT commented on #88677
@Shang7799 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-24 11:30] Meenakshir18 opened #88686 "Dataverse connector is disabled in Mapping Data flow"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52f7d74-8aac-9e9a-e13e-112eaf2e434b
* Version Independent ID: 2e16d8b4-2081-f6d4-9879-5774e9fb1dd1
* Content: [Sink transformation in mapping data flow - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/data-flo

[2022-02-24 11:38] dedalusmax commented on #88509
i don't have other Vnets, just this one.
i'm not the owner of the sub, so i don't have an authority to give you an access, i'm afraid.

[2022-02-24 11:43] SwathiDhanwada-MSFT commented on #88456
@sorensent Did you get chance to look into my previous comment ? Let me know if you have any questions.

[2022-02-24 11:49] kayyumanwar commented on #88678
Yes, I gone through that thread, Its not that clear on the reference of
dynamic-tag.
I tried the ForEach etc .Still no luck.

Do we have any documentation of how these luns are listed in the portal,
any sorting mechanism ? or creatiera which will be used in the backend ?

Thanks

On Thu, Feb 24, 2022 at 4:02 PM SreejaBhattacharya-MSFT <
***@***.***> wrote:

[2022-02-24 12:00] IlkaElina opened #88687 "CSP PartnerCenter / Partner APIs: How to integrate non-interactive (batch) applications in m2m case?"
CSP PartnerCenter / Partner APIs: How to integrate non-interactive (batch) applications in m2m case?
•	How can we use the PartnerCenter / Partner APIs to access resources without user interaction?
•	We need such a flow for our non-interactive (batch) applications
•	Therefore, we would like to avoid user interaction every 90 days
•	We tried implementing the client credential grant flow, however, it

[2022-02-24 12:06] GitaraniSharma-MSFT commented on #88509
@dedalusmax , I'm able to see/add "Storage" service tag in the destination when trying to create an outbound rule in my NSG deployed in West Europe region. So, the issue you are facing needs to be investigated on your subscription level.

I would request you to check with the subscription owner to confirm if there are any access restrictions applied on your Vnet. If not, create a support ticket fo

[2022-02-24 12:06] #88509 closed

[2022-02-24 12:37] MyBelo opened #88688 "Misleading info's"
Hi

regarding info's on this page, I believe some words are confusing.

The following is written:

Blueprint Contributor - Can manage blueprint definitions, but not assign them. - 41077137-e803-4205-871c-5a86e6a753b4

Contributor - Microsoft.Blueprint/blueprintAssignments/write - Create or update any blueprint assignments

I say confusing because as far as I have understood, only the Blueprint Ope

[2022-02-24 12:54] SwathiDhanwada-MSFT commented on #88688
@MyBelo Contributor grants full access to manage all resources, but does not allow you to assign roles in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries. "Create or update any blueprint assignments" is part of NotActions .

Azure Resource Manager determines if the action in the API call is included in the roles the user has for the resource. If the roles include Actio

[2022-02-24 13:05] AjayKumar-MSFT commented on #88421
@yamashita-yasuyuki, We reported this internally to our docs team. This issue should be fixed now. Could you please check and let us know. Thanks again for reporting this issue, much appreciated.

[2022-02-24 13:10] SadiqhAhmed-MSFT commented on #88682
@Johnnytechn Thank you for your post!

It should have free space equivalent to 10 percent of the amount of data that will be backed up. For example, if you were to use Microsoft Azure Backup to back up 500GB of data you should allocate approximately 50GB.

![image](https://user-images.githubusercontent.com/44458118/155530163-7896e9e9-4c1b-4c32-98a6-1e7f7b6faa71.png)

Source: https://docs.microsoft

[2022-02-24 13:31] 0Modfather0 commented on #85965
The article needs too be updated to advise people that they need to unenroll from defender from endpoint and exclude it from Defender for Cloud / Azure defender protection before generalizing the virtual machine with sysprep and capturing it

the act of performing the sysprep / generalize does not untether the Defender for Endpoint Sensor from the environment it was registered to.

[2022-02-24 13:35] shashishailaj commented on #88645
@smereczynski Thank you for your feedback . could you please share the link of the document you are referring to ?

[2022-02-24 13:39] smereczynski commented on #88645
Oh, sorry. I submitted it from phone and assumed that redirection from docs site is creating some marker for the issue :)

The issue is about Gen1 vs. Gen2 on this site: https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-capacity-planning

[2022-02-24 13:40] shashishailaj commented on #88667
@chaoscreater Thank you for reporting and sharing your findings.

[2022-02-24 13:54] breakpoint7 opened #88691 "Workspace-based App Insights via REST documentation missing"
Current docs covering workspace-based app insights here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource#creating-a-resource-automatically but does not cover REST APIs

The only REST documentation related is https://docs.microsoft.com/en-us/rest/api/application-insights/components/create-or-update which was last updated in 2015

This information can be reversed e

[2022-02-24 13:57] DBJDBJ commented on #88073
Thanks @AnuragSingh-MSFT

it is very simple: just like syslog, curl is a standard.

curl can use [json payload file](https://stackoverflow.com/questions/18611903/how-to-pass-payload-via-json-file-for-curl) to aid in sending with complex header.  curl sample will be OS agnostics sample. There is no Power Shell on Linux, so as a first solution, curl is/might be, obviously used from inside Linux cont

[2022-02-24 14:08] ChristopherManthei opened #88692 "NOTARY_VERSION_ERROR is wrong and NOTARY_COMMAND_ERROR is undocumeted"
I tried running `az acr check-health --name myregistry` and it first failed with NOTARY_COMMAND_ERROR  which is not documented on the site. What you need to do is go to https://github.com/notaryproject/notary/releases, download **notary-Windows-amd64.exe**, put it in the PATH and rename it to just **notary.exe** or it won't be found by az.

Then I got the error NOTARY_VERSION_ERROR:
"Current notar

[2022-02-24 14:10] shashishailaj commented on #88687
@IlkaElina Thank you for your query . We will investigate and update the thread.

[2022-02-24 14:11] jeffmurr opened #88693 "ADF, Synapse, SSIS IR "Network Options" Misleading"
This section is misleading:

![image](https://user-images.githubusercontent.com/17745596/155537837-023ed35e-7c2d-44ce-acff-593b2c9c9c76.png)

The access **_from_** the managed vNET is not managed the same and "private network", though technically supported, is about ingress to the managed vNET. Therefore, usage of "private network" is somewhat misleading. Management isn't consistent between servic

[2022-02-24 14:12] shashishailaj commented on #88681
@jonasauer Thank you for your feedback . We will investigate and update the thread.

[2022-02-24 14:13] shashishailaj commented on #88676
@bozenektoja thank you for your feedback . Could you please share the Microsoft Support case number for reference for us and we will take that forward internally with the team ?

[2022-02-24 14:15] johnfriedrich commented on #84262
That does not work. When taking a backup from the key latest version in KV1 and trying to restore it in KV2 it will fail, as even if the key is soft deleted in KV2, we have to wait 90 days(?) to be able to import the key from KV1 again. As the key in Kv1 and Kv2 is the same or have the same fingerprint

[2022-02-24 14:29] slavizh opened #88694 "Streams information missing"
Hi,
From the example it is unclear what are the names of each stream for each supported table. Can you document somewhere of all the available streams that can be entered in data collection rule?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 240fa84f-434a-0335-b6bb-70eb7d2df04b
* Version Independent ID: 7b35847b-cb92-

[2022-02-24 14:32] jeff-r-koyaltech opened #88695 "Is MyModel.populate(['dep1', 'dep2']) supported?"
It would be helpful if populate support was tracked on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15cfab04-d589-f655-fe2e-15573364c486
* Version Independent ID: 781d4067-2c14-6a09-0e85-3d7d8d16d5f4
* Content: [4.0 server version supported features and syntax in Azure Cosmos DB's API for MongoDB](https://

[2022-02-24 14:34] bozenektoja commented on #88676
there you go: 28961984

Best regards/Pozdrawiam,
Bozena Hutyra
________________________________
Od: ShashiShailaj-MSFT ***@***.***>
Wysłane: czwartek, 24 lutego 2022 15:14
Do: MicrosoftDocs/azure-docs ***@***.***>
DW: bozenektoja ***@***.***>; Mention ***@***.***>
Temat: Re: [MicrosoftDocs/azure-docs] Forms not listed under Teams (Issue #88676)

@bozenektoja<https://github.com/bozenektoja> thank y

[2022-02-24 14:42] lrtoyou1223 commented on #88361
@KranthiPakala-MSFT , I am not familiar with Synapse Spark Notebook, so I don't have an answer for this. Please contact Synapse team, thanks.

[2022-02-24 14:44] jbpaux opened #88697 "Button "Deploy to Azure" not showing up if page is in en-us"
Hi,
I just stumbled on this issue.
On the page https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-ssh-secured-vm-from-template I don't have the button to deploy on Azure (just the text) while in the french version I have it : https://docs.microsoft.com/fr-fr/azure/virtual-machines/linux/create-ssh-secured-vm-from-template

---
#### Document Details

⚠ *Do not edit this section. I

[2022-02-24 14:45] kobulloc-MSFT commented on #88683
@ayushiaks Thank you for your feedback!  This has been assigned to the document author for further review.

[2022-02-24 14:48] kobulloc-MSFT commented on #88692
@ChristopherManthei Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-24 15:06] randomat123 opened #88699 "Services that can be deployed into a virtual network"
The table of "[Services that can be deployed into a virtual network](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-for-azure-services#services-that-can-be-deployed-into-a-virtual-network)" should be updated.

It's missing Azure Route Server (requires a Dedicated Subnet).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-02-24 15:12] uowdaniel opened #88700 "Typo - bullet point is duplicated"
my mistake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Azure Virtual Desktop? - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/overview)
* Content Source: [articles/virtual-desktop/o

[2022-02-24 15:13] #88700 closed

[2022-02-24 15:15] ataraxia89 commented on #46532
@MarileeTurscak-MSFT No, that doesn't help at all. What if you DO have global administrative rights on the directory? You still can't log in if you don't have your MFA device and you can't reset it because you can't log in!!

[2022-02-24 15:18] SwathiDhanwada-MSFT commented on #88688
@MyBelo Glad to know it helped. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-24 15:18] #88688 closed

[2022-02-24 15:23] sachinkp commented on #81234
The documentation for B2C SSO has been improved recently. Much better than earlier. Thanks!

[2022-02-24 15:48] fallmake opened #88703 "AVD scaling plan maximum number of session hosts"
Not sure if I'm getting something wrong. Please clarify if I do.

The page says:

After reading the quoted text, I would look for a _Maximum number of hosts_ setting on the off-peak hours tab that would allow to configure "during off-peak hours, scale up according to capacity threshold % but not past _max hosts value_ VMs".

I don't see an actual option in the portal to "define the maximum number

[2022-02-24 15:53] kobulloc-MSFT commented on #88697
@jbpaux Thank you for bringing this to our attention!  I'm seeing the same thing.  I'll get a PR out to address this.

[2022-02-24 15:55] jbpaux commented on #88697
Great @kobulloc-MSFT I also saw the same on this page: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/manage-with-templates so I think it's more related to the file itself rather than the page. Firefox asks me to download the svg instead of showing it.

[2022-02-24 15:55] AbbyMSFT commented on #21354
#please-close

[2022-02-24 15:55] #21354 closed

[2022-02-24 16:06] MicrosoftGuyJFlo commented on #88676
As mentioned in the doc

"The below table lists some more service dependencies, where the client apps must satisfy. This list isn't exhaustive."

but if you read higher up the tip in green helps in this situation

"Using the [Office 365](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#office-365) app will target all Office apps to avoid is

[2022-02-24 16:07] MicrosoftGuyJFlo commented on #88676
#reassign:@MicrosoftGuyJFlo

[2022-02-24 16:12] Rajarshi789 opened #88704 "I am not able to find the MERGE Syntax in Azure Synapse Dedicated Pool. When will the feature be available?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-02-24 16:14] AbbyMSFT commented on #79854
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [](https://docs.microsoft.co

[2022-02-24 16:14] #79854 closed

[2022-02-24 16:15] xsurfer commented on #59008
This is actually a very interesting question and I'm also looking for an answer :)

[2022-02-24 16:16] AbbyMSFT commented on #78994
#please-close

[2022-02-24 16:16] #78994 closed

[2022-02-24 16:25] AshokPeddakotla-MSFT commented on #88486
@ElioZhou Could you please double check and confirm if you have followed the previous steps without any errors? Please make sure you complete the _Create a regression model_ and the next steps without any issues.

[2022-02-24 16:27] kensykora opened #88706 "Microsoft.ServiceBus/namespaces is missing VNetAndIPFilteringLogs"
The section for Service Bus Namespaces is missing `VNetAndIPFilteringLogs` which appears in the Azure portal

![image](https://user-images.githubusercontent.com/64756/155565811-e8c756ba-1e30-4449-b962-d06990555154.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847615aa-75d5-01d1-c64b-8ce385c14397
* Version Indepen

[2022-02-24 16:37] AbbyMSFT commented on #82072
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:  https://docs.microsoft.com/

[2022-02-24 16:37] #82072 closed

[2022-02-24 16:39] #88414 closed

[2022-02-24 16:43] GitHubUser1339 commented on #88450
@JamesTran-MSFT
Not sure if we're on the same page. Consider this scenario:
Say I have an Azure Function that needs to get a secret from a Key Vault (both are in the same region). I want to secure the Key Vault and configure its FW to only allow the public IP addresses from the Function.

Will the Function try to access the key vault using private Azure IP addresses (like the storage account) and

[2022-02-24 16:45] AbbyMSFT commented on #63988
We see that unfortunately, we have not been able to address this issue in a timely manner. The scope of our feedback channel here on GitHub covers specific documentation fixes. If you are still experiencing this issue, we can help redirect you to the right support channel to get an answer to your question:  https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.html
We are closing thi

[2022-02-24 16:45] #63988 closed

[2022-02-24 16:45] DonKoning commented on #88450
@JamesTran-MSFT
Not sure if we're on the same page. Consider this scenario:
Say I have an Azure Function that needs to get a secret from a Key Vault (both are in the same region). I want to secure the Key Vault and configure its FW to only allow the public IP addresses from the Function.

Will the Function try to access the key vault using private Azure IP addresses (like the storage account) and

[2022-02-24 16:50] Karishma-Tiwari-MSFT commented on #88700
Thanks for sharing the update.

[2022-02-24 16:51] SwathiDhanwada-MSFT commented on #88706
@kensykora Thanks for your feedback.

Assigning to content author @rboucher   for review.

[2022-02-24 16:52] Karishma-Tiwari-MSFT commented on #88703
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-24 16:53] AbbyMSFT commented on #88457
#assign: @gardnerjr
Hi @John, can you please help answer this customer's question?

[2022-02-24 16:53] whhender commented on #88582
@ChristianJBergstrom  - Thanks very much! I've got those changes submitted. Should be live by later this afternoon!

[2022-02-24 16:53] whhender commented on #88582
#please-close

[2022-02-24 16:53] #88582 closed

[2022-02-24 16:54] PRMerger5 commented on #88457
Users gardnerjr are already assigned.

[2022-02-24 16:57] DTMB-MI opened #88707 "KeyVault - Private DNS zone"
For Azure services non-China "Azure Key Vault (Microsoft.KeyVault/vaults) / vault" should the Private DNS zone entry be changed to: (privatelink.vaultcore.azure.net) instead of (privatelink.vault.azure.net)?

It seems when I created a key vault in North Central US with a private endpoint the CNAME Microsoft registered for "VAULTNAME.vault.azure.net" is "VAULTNAME.privatelink.vaultcore.azure.net"

[2022-02-24 16:59] DonKoning commented on #87574
Bicep CLI version 0.4.1124 (66c84c8ee5)
In Windows Terminal I first connect-azaccount, switch to the right context (as owner), then run the Publish-AzBiccepModule command.
Again, I get errors:

![image](https://user-images.githubusercontent.com/81743089/155571181-693fdfa8-e3ff-4a45-8825-0b33abaf080a.png)

Again, running the same command in Cloud Shell succeeds.

[2022-02-24 17:03] Oury-MSFT commented on #88695
@jeff-r-koyaltech Thank you for your feedback. We are checking this and will get back shortly.

[2022-02-24 17:04] uowdaniel commented on #88700
No issue - my mistake!

From: Karishma Tiwari - MSFT ***@***.***>
Sent: 24 February 2022 16:51
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Harrison, Daniel ***@***.***>; State change ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Typo - bullet point is duplicated (Issue #88700)

Thanks for sharing the update.

-
Reply to this email directly, view it on GitHub<https://eur01.safelinks.protec

[2022-02-24 17:22] CreativeAmbiguity commented on #65345
@MicrosoftGuyJFlo whilst Security Defaults is a convenient simple way to enable common security features it also enables some features that cannot be individually configured with some 365 licences.  The documentation needs to make is clear that when Security Defaults are enabled they apply to all accounts, so there will need to be a distinct backup Microsoft Authenticator device.  There is a trade

[2022-02-24 17:50] AjayKumar-MSFT commented on #88637
jzuchora87, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-24 18:00] kalyankrishna1 commented on #87017
attended in https://github.com/MicrosoftDocs/azure-docs-pr/pull/189603

[2022-02-24 18:01] kalyankrishna1 commented on #87017
#please-close

[2022-02-24 18:01] #87017 closed

[2022-02-24 18:05] speckles0 opened #88710 "Please add that nesting is not supported for groups with role assignments"
Please add under the "We don't currently support" section, that nested groups are not supported when the group is used for role assignments. If you try to do this in the GUI, you will get a nondescriptive error that says "Unable to complete due to a service connection error. Please try again later." If you try to add the group as a member in PowerShell, you receive a much more descriptive error: "

[2022-02-24 18:12] grminch commented on #80618
@drdamour and @vicancy, I will update the article. Thank you for taking the time to look into this issue.

[2022-02-24 18:12] tamram commented on #88305
@ronwarner - the values that begin with P apply to premium page blobs only. If you are using block blobs or append blobs, you can ignore those other values.

[2022-02-24 18:12] #88305 closed

[2022-02-24 18:29] JamesTran-MSFT commented on #88450
@DonKoning
Thank you for following up on this!

Since the Storage Documentation statement does not apply to the Azure Key Vault, your Function app won't be denied access. From the Key Vault side, access via Private IP would only be done through [Azure Private Link](https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal) or [Virtual Network](https://docs.microsoft

[2022-02-24 18:41] mike-urnun-msft commented on #84800
Thanks for addressing this feedback and updating the doc, @zhenlan!

@SRM256 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-24 18:41] #84800 closed

[2022-02-24 18:57] jasongroce commented on #85965
The doc https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-use-approved-base#generalize-the-image was updated earlier to address this feedback. Thank you @0Modfather0 for your feedback! #please-close

[2022-02-24 18:57] #85965 closed

[2022-02-24 19:09] JamesTran-MSFT commented on #88528
@Orma07
Thank you for your time and patience!

From the tutorial, it looks like the [CNAME record that you currently have](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-user-flow#31-create-a-cname-dns-record) should've been created to point to your Front Door's default frontend host (i.e. contoso-frontend.azurefd.net). You'll also have to create a CNAME recor

[2022-02-24 19:09] #88528 closed

[2022-02-24 19:10] KranthiPakala-MSFT commented on #88685
Thanks for reaching out. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@ruixinxu Could you please review the above ask and help answer the query? - Thank you

[2022-02-24 19:10] KranthiPakala-MSFT commented on #88686
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-02-24 19:15] KranthiPakala-MSFT commented on #88693
Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@lrtoyou1223 Could you please review the above feedback? - Thank you

[2022-02-24 19:16] porrascarlos802018 opened #88712 "Digicert verification needs to be added."
[Enter feedback here]
Attaching an AKS cluster to ML workspace using a digicert provided certificate for TLS could fail if the right steps are not followed, please modify this website so steps gets verified and clear for users of digicert provider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d00728b-7e0d-c586-8a37-

[2022-02-24 19:16] JamesTran-MSFT commented on #88572
@rbrayb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-24 19:18] JamesTran-MSFT commented on #86290
@kengaderdus
Can you share any updates on this?

cc: @mmacy and @CelesteDG

[2022-02-24 19:23] ChaitanyaNaykodi-MSFT commented on #88707
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-24 19:26] ChaitanyaNaykodi-MSFT commented on #88699
Thank you for your feedback! We will review and update as appropriate.

[2022-02-24 19:44] neelthomas opened #88713 "SSIS job is not able to access the Azure File share path"
Hi All,

I am testing the azure file share with SSIS hosted on Azure VM, however I am facing issue while running the job.
- Package execution through Visual Studio is successful
- Package execution through catalogue also is successful

- Package execution through the Job is FAILING with the error The File Name "\\<Storage account>.windows.net\<FolderName>\file.csv" specificed in the connection was

[2022-02-24 19:56] MubDubs opened #88714 "Missing Azure Route Server under Microsoft.Network"
The Azure Route Server is an ARM product that should be listed under the Microsoft.Network resource provider either as a separate resource name or possibly under "Virtual Hub".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4bb50-25ad-a3c6-f42a-84f33c84e362
* Version Independent ID: 6188226a-1f56-2a0a-fc57-4b8616b5f

[2022-02-24 20:12] adymorz opened #88716 "Missleading segment in URL"
The URL is `https://docs.microsoft.com/en-us/azure/load-testing/how-to-update-rerun-test`, but the title is "Monitor server-side application metrics by using Azure Load Testing Preview"

I think the last segment in the URL should be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3c31866-85f2-ea22-704b-ee91e

[2022-02-24 20:20] AzureGuyforDev opened #88717 "I don't see any documentation or description about Inference Clusters and how they are different from Compute Clusters"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b4be5-1978-ad95-4c40-30e8b52e8cb7
* Version Independent ID: eb8b1d57-70c6-7cf0-2ebd-a43dede30bb9
* Content: [What are compute targets - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-target)
* Conten

[2022-02-24 20:26] julealgon opened #88718 "Documentation refers to VS2019 download (instead of VS2022)"
The page should probably be updated to refer to the newer version of Visual Studio Community.

This is mentioned in the https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-dotnet-v3sdk-samples#prerequisites section.

Perhaps it should mention "at least 2019", and then link to 2022 as the suggested download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-02-24 20:47] nibaccam commented on #82083
@timoklimmer thank you for reporting this. I've updated the documentation to reflect what needs to be used in this scenario. The update will publish later this afternoon.

We will now proceed to close this thread.

#please-close

[2022-02-24 20:47] #82083 closed

[2022-02-24 20:48] julealgon opened #88720 "'Ranking window functions' related article is mentioned twice"
In the "Related Articles" section of the page:
https://docs.microsoft.com/en-us/azure/databricks/sql/language-manual/sql-ref-window-functions#related-articles

The item "Ranking window functions" is presented twice.

![image](https://user-images.githubusercontent.com/461579/155605084-da8a1019-48aa-4d45-b475-f55300404e1d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-02-24 20:50] AaronMaxwell commented on #88624
This problem occurred across many Docs pages over the last couple of days. It appears to have been resolved by our localization team (Sunny/dengyun) now.

At this point the page displays in French for me. Please comment if you're seeing otherwise after a CTRL+F5 refresh of the page.

[2022-02-24 20:50] AaronMaxwell commented on #88624
#please-close

[2022-02-24 20:50] #88624 closed

[2022-02-24 20:54] MarileeTurscak-MSFT commented on #88710
Thanks! I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189666

[2022-02-24 20:54] #88710 closed

[2022-02-24 20:57] vijaysuram commented on #44771
ErrorCode=SqlOperationFailed,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=A database operation failed with the following error: 'Could not find object '{"table":""}' or you do not have permission.',Source=,''Type=System.Data.SqlClient.SqlException,Message=Could not find object '{"table":""}' or you do not have permission.,Source=.Net SqlClient Data Provider,SqlErrorNu

[2022-02-24 21:01] James-Hamil-MSFT commented on #38048
Hi @stuhad , the new uservoice link is https://feedback.azure.com/forums/34192--general-feedback

I'm reopening this issue as it is still occurring.

[2022-02-24 21:03] overbrobot opened #88721 "documentation is incorrect and misleading"
[this page is misleading about scenarios where vnet integration will work](https://docs.microsoft.com/en-us/answers/questions/90637/app-service-regional-vnet-integration.html)

The page indicates that a Standard SKU/tier will work, however, as documented below several times, this is misleading.  There are scenarios where the only guarantee that VNET integration will an App Service Plan will work i

[2022-02-24 21:06] kevklam opened #88722 "Improve guidance for 'authority URI'"
Please add explicit guidance on /common and /organization endpoints that these are *dangerous* to use if there is any possibility that the tenant that the application is deployed on might have external/guest users. It needs to be clear that tenants *almost always* have guest users and that the experience will be broken for all of them - it's natural to assume that 'common' is the best option becau

[2022-02-24 21:10] andrewbrownmsft commented on #88046
@SatishBoddu-MSFT , can you assign this to me, please?

[2022-02-24 21:11] markjbrown commented on #88677
Thanks for your feedback.

Completely agree that's confusing. It doesn't even describe what the content it is linking to. Not sure how that ended up like that.

In either case, I've updated it to correctly reference the tutorial it links to and have submitted a PR to update. Should push live today or early tomorrow.

Thanks again for reporting.

#please-close

[2022-02-24 21:11] #88677 closed

[2022-02-24 21:12] James-Hamil-MSFT commented on #88722
We are investigating your issue and will update you shortly.

Best,
James

[2022-02-24 21:13] andrewbrownmsft commented on #88642
@AshokPeddakotla-MSFT , can you assign this to @vimeht ?

[2022-02-24 21:14] SheldonHage opened #88724 "PLEASE break out the Popup and Redirect to completely separate documents"
This page should not interleaf Popup and Redirect code examples.   Please just dedicate a section (start to finish) to each one sequentially.   It is very hard to mark sure what a given section is for since the examples straddle many screens thus leaving the heading offscreen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-24 21:14] kevklam opened #88725 "'Endpoint' guidance"
Please add explicit guidance on /common and /organization endpoints that these are *dangerous* to use if there is any possibility that the tenant that the application is deployed on might have external/guest users. The existing verbiage is placed/phrased in a way that does not make it clear that tenants *almost always* have guest users and that the experience will be broken for all of them - it's

[2022-02-24 21:22] richardvlas opened #88726 "Once created and deleted component can't be created again"
[Enter feedback here]

This is the message error:
**(UserError) Not found component Example_Train.
Code: UserError
Message: Not found component Example_Train.**

How can I solve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a70fdb-96e1-a30f-bd42-450eba903109
* Version Independent ID: f9b84ffe-95d0-f2e8-184c-70

[2022-02-24 21:26] James-Hamil-MSFT commented on #88724
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-02-24 21:26] James-Hamil-MSFT commented on #88725
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-02-24 21:28] nibaccam commented on #87376
@tackman Thank you for reporting this. The documentation has been updated and will be published later this afternoon.

We will now proceed to close this thread.
#please-close

[2022-02-24 21:28] #87376 closed

[2022-02-24 21:46] StefArroyo commented on #83034
Updated doc w/ new images.

[2022-02-24 21:46] StefArroyo commented on #83034
#please-close

[2022-02-24 21:46] #83034 closed

[2022-02-24 21:47] StefArroyo commented on #84021
Updated doc w/ new images. #please-close

[2022-02-24 21:47] #84021 closed

[2022-02-24 22:09] nickludwig commented on #84446
#please-close

[2022-02-24 22:09] #84446 closed

[2022-02-24 22:15] kevklam commented on #88725
PS - also needed here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

[2022-02-24 22:28] SatishBoddu-MSFT commented on #88177
**Update**: We are checking with PG on this query!

[2022-02-24 22:42] normesta commented on #88347
Ok content has been reverted. Looks like we a well-intentioned PR from a contributor somehow made it through. Sorry for the confusion.

#please-close

[2022-02-24 22:42] #88347 closed

[2022-02-24 22:47] adelagar commented on #88388
Is there an update on this?

[2022-02-24 22:50] msmimart commented on #84488
@alex--thomas, thanks so much for your feedback, and apologies for the delay. This article has been updated to reflect the current Google UI - changes should publish soon. Thanks again!

[2022-02-24 22:50] SatishBoddu-MSFT commented on #88177
Hello @smat91
We have verified this request with Microsoft's PG team. Looks like this is not possible with Azure IoT Central.

We request you to log a feature request on the Official Ideas Portal.

As it turns out at this time the product feature you are looking for is not supported. May I request you to please log the same [here on the Ideas portal](https://feedback.azure.com/d365community/forum/

[2022-02-24 22:50] #88177 closed

[2022-02-24 22:56] #84488 closed

[2022-02-24 23:05] ArmaanMcleod commented on #88707
I've also noticed this. Seems like it was changed here: https://github.com/MicrosoftDocs/azure-docs/commit/ff93525985b09f0f8ca74ad44d6b3bb6729e212e.

[2022-02-24 23:08] asudbring commented on #88707
@ArmaanMcleod yep, that was me.  I got a request to change it that vault core wasn't valid.  Apparently it is.  I will fix this ASAP.

[2022-02-24 23:14] mohrin-r3ry opened #88727 "Extension behavior does not match Quickstart resulting in inability to complete"
Similar to issue #86992.

After step "2. Under the Static Web Apps label, select the plus sign."

for me step 3 prompt is:
![image](https://user-images.githubusercontent.com/100376998/155615986-39401419-6982-4ad1-9429-cc1bf7365ef9.png)
"Enter the name of the new GitHub repository."

Already created the repository earlier in the quickstart... If I enter a new repository name here I then get 'Remote

[2022-02-24 23:15] yamashita-yasuyuki commented on #88421
thank you !

[2022-02-24 23:17] GeethaThatipatri-MSFT commented on #88718
Hi @julealgon Thanks for your findings, We will investigate and update as appropriate

[2022-02-24 23:44] SenorRagequit opened #88728 "Add documentation on how to update the grafana-server on the Grafana image from marketplace"
I have downloaded the newest version of the Grafana image from the azure marketplace, but I quickly found out how old that image is.
It still has Grafana 8.1.1 while there is Grafana 8.4 already available.

But since not being the best with Linux and having a system which has been set up for you, I have no idea how to update that pre-installed Grafana server now.
I have already tried using the off

[2022-02-24 23:53] jennyf19 opened #88729 "Warning comment should be removed under ASP.NET Core tab in "Initialization code""
The warning comment here has been fixed. The issue linked is marked as closed
<img width="443" alt="image" src="https://user-images.githubusercontent.com/19942418/155626940-1c308aad-ff31-4cc4-9993-c7a60953dcae.png">

the warning box should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b2

[2022-02-24 23:55] mackswift commented on #81122
Hello. I'm going through the same document/tutorial and running into the same issue. What was the solution?

[2022-02-25 00:02] JamesTran-MSFT commented on #88729
@jennyf19
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 00:03] bwren commented on #13560
Apologies, it looks like this one got abandoned. Sounds like the issue was identified here. I'd also recommend having a look at the new [custom logs that just went to public preview](https://docs.microsoft.com/azure/azure-monitor/logs/custom-logs-overview).

#please-close

[2022-02-25 00:03] #13560 closed

[2022-02-25 00:06] panchalkushal opened #88730 "Followed the tutorial and it is not working. This is just frustrating at best."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe407c-980d-6dfc-305c-63202534bf48
* Version Independent ID: 09bed06c-ca37-a511-b4a4-0028e76f8919
* Content: [Tutorial: Authenticate users E2E - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-

[2022-02-25 00:06] jmprieur commented on #88729
@JamesTran-MSFT, I agree with @jennyf19: this warning should be removed
Is it something you can do, @JamesTran-MSFT ?

[2022-02-25 00:09] bwren commented on #86093
The description of the field does include "The name of a field in the data that contains the timestamp of the data item." I'll go ahead and make the comment in the sample code a bit more clear though because I agree it can be a little confusing.

#please-close

[2022-02-25 00:09] #86093 closed

[2022-02-25 00:15] JimacoMS4 commented on #87194
Hi @xaelsouth - the guidance to re-generate the serial number on every cert signing request has been removed: https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl#step-6---create-a-subordinate-ca.

Thanks again for your feedback! I'm now going to close this issue. Please feel free to @comment me here or open a new issue if you think something further needs to be done on this.

-Jim

[2022-02-25 00:15] JamesTran-MSFT commented on #88729
@jmprieur
Thank you for looking into this! I can definitely make a PR to get this removed.

[2022-02-25 00:16] JimacoMS4 commented on #87194
#please-close

[2022-02-25 00:16] #87194 closed

[2022-02-25 00:25] YutongTie-MSFT commented on #88717
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 00:30] YutongTie-MSFT commented on #88712
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-25 00:31] SaurabhSharma-MSFT commented on #88691
@breakpoint7 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-25 00:33] YutongTie-MSFT commented on #88726
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 00:50] bwren commented on #85193
Looks like you have Log Analytics scoped to a workspace and not a resource, which is required for the resource operator. See https://docs.microsoft.com/azure/azure-monitor/logs/scope#query-scope

#please-close

[2022-02-25 00:50] #85193 closed

[2022-02-25 01:41] SwathiDhanwada-MSFT commented on #88714
@MubDubs Thanks for your feedback. We will review the issue and get back to you shortly.

[2022-02-25 02:18] ramsateesh opened #88742 "Misleading introduction."
[Enter feedback here]

By default, when using AKS, OS and data disks are encrypted at rest with platform-managed keys, meaning that the caches for these disks are also by default encrypted at rest with platform-managed keys.

Can we fix wording in here?

If it is encrypted by default when why should I turn it on? It gave me an impression that this feature is enabled by default.

I think what you a

[2022-02-25 02:25] Johnnytechn commented on #88682
@SadiqhAhmed-MSFT I got it, really appreciate for your so quick response. Have a good day.

[2022-02-25 02:29] #88577 closed

[2022-02-25 02:44] martinsilha opened #88743 "Typo in command"
In the command provided at [this link](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/connect-azure-cli#view-all-the-arguments), the `postgresql` portion should just be `postgres` like each other command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa8d90e-a00b-5c0e-8121-fb2c71c730ae
* Version In

[2022-02-25 02:55] SaurabhSharma-MSFT commented on #88713
@neelthomas Issues managed in this repo are for Microsoft documentation and in case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [StackOverflow](https://stackoverflow.com/) as it could be better place to get help on your scenario where the community members could provide their expert guidance to

[2022-02-25 02:58] SaurabhSharma-MSFT commented on #88704
@Rajarshi789 As of September 23, 2020, MERGE is now in Preview for Azure Synapse Analytics.
For more information on how to use MERGE: consult this documentation: https://docs.microsoft.com/en-us/sql/t-sql/statements/merge-transact-sql?view=sql-server-ver15.
Are you looking for this ?

[2022-02-25 03:11] kanshiG commented on #88675
Yes it is similar in Periodic mode but you need to verify the data state if that is acceptable to you. We would request you to adopt continuous mode to ensure you get consistent backup across partitions.

[2022-02-25 03:24] kanshiG commented on #88680
Today in CosmosDB for SQL API or MongoDB API - unique index has to be created before data is entered - while creating the collection. You can't create unique index after data is entered.

[2022-02-25 03:37] edarsaut opened #88745 "Lacks details"
Instructions for the in-place edition downgrade lacks for detailed information on how to acomplish this process.

Reinstalling SQL Server to donwgrade Enterprise Edition to Standard edition asks for a SQL Standard Edition serial number,  which is not provided due to the PayAsYouGo licensing model. The serial numer it automatically loads corresponds to an Enterprise edition.

Triying to install an

[2022-02-25 03:56] srizwanhms opened #88746 "Cross Power BI tenant registration and scan | Issue with Step 16.b"
I am running into this issue in Step 16.b for Cross Tenant registration.

Assets (+ lineage) - Failed status means the Azure Purview - Power BI authorization has failed. Make sure the Azure Purview managed identity is added to the security group associated in Power BI admin portal.

Do you have any documentation how to accomplish or add Azure Purview Managed Identity to Power BI admin Portal since

[2022-02-25 03:58] srizwanhms commented on #88746
This is the documentation I am following.

https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant

[2022-02-25 03:58] #88746 closed

[2022-02-25 04:00] rizwanh-MFST opened #88747 "Cross Power BI tenant registration and scan | issue with Step 16.b"
I am running into this issue in Step 16.b for Cross Tenant registration.

Assets (+ lineage) - Failed status means the Azure Purview - Power BI authorization has failed. Make sure the Azure Purview managed identity is added to the security group associated in Power BI admin portal.

Do you have any documentation how to accomplish or add Azure Purview Managed Identity to Power BI admin Portal since

[2022-02-25 04:27] SreejaBhattacharya-MSFT commented on #88745
Hello @edarsaut , thanks for reaching out. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-25 04:32] ShaikMaheer-MSFT commented on #88720
@julealgon Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-25 04:33] AnuragSharma-MSFT commented on #88743
@martinsilha Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-25 04:35] AjayKumar-MSFT commented on #88421
yamashita-yasuyuki, You're welcome. Thanks again for taking time to report this issue.

[2022-02-25 04:35] #88421 closed

[2022-02-25 04:36] ShaikMaheer-MSFT commented on #88747
@srizwanhms Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-25 04:37] neelthomas commented on #88713
Thanks @SaurabhSharma-MSFT

[2022-02-25 04:37] #88713 closed

[2022-02-25 04:37] AnuragSingh-MSFT commented on #88073
@DBJDBJ, Thank you for your response above. I am reaching out to the content team for their review and update, as feasible.

@bwren, can you please share your thoughts on it. Thank you

[2022-02-25 04:42] VikasPullagura-MSFT commented on #88742
@ramsateesh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-25 04:42] VikasPullagura-MSFT commented on #88742
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-02-25 04:43] xiongyu0523 opened #88750 "duplicate content"
This page is duplicated, one of painpoint I found with azure doc is, there a lot of duplicated content, and new user feel like the amount of doucment to read is huge. please try to keep single article/section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542c2bdc-5868-71d5-1d1a-a2c6d61744b0
* Version Independent ID:

[2022-02-25 04:46] SnehaAgrawal-MSFT commented on #88420
@georgeOsdDev Thanks for the feedback! The PR has been created once verified by author will be visible in document.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2022-02-25 04:46] #88420 closed

[2022-02-25 04:49] AnuragSharma-MSFT commented on #88418
@beneuto This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-25 04:50] AnuragSharma-MSFT commented on #88485
@TLKG We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will reopen the issue and gladly continue the discussion.

[2022-02-25 04:50] #88485 closed

[2022-02-25 04:55] #88598 closed

[2022-02-25 04:56] rajb865 commented on #88585
@AshokPeddakotla-MSFT any update on the issue?

[2022-02-25 05:01] SreejaBhattacharya-MSFT commented on #88745
Hello @bluefooted . Could you please review and add your comments on this request as applicable.

[2022-02-25 05:15] v-hagamp commented on #88579
@SaraSRS, Will you please raise an update request in our [portal](https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/apprequest.aspx)?

[2022-02-25 05:19] AjayKumar-MSFT commented on #88412
krispenner, We had been discussing on this internally and I also see you have a support ticket created for this, ending with '..00118', will post back as soon as I have more updates. Thanks!

[2022-02-25 05:21] SaraSRS commented on #88579
I cannot. My email address doesn't exist in a Sharepoint directory which is
preventing me from being able to access the portal.

Sara Nelson | Product Support
SmartRecruiters | The Hiring Success Company
<https://www.smartrecruiters.com/>
***@***.***

On Thu, Feb 24, 2022 at 9:15 PM Hamsika ***@***.***> wrote:

[2022-02-25 05:23] krispenner commented on #88412
Yes that is correct, thank you for your assistance.

[2022-02-25 05:25] AjayKumar-MSFT commented on #88721
overbrobot, Thanks for taking time to share your feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-25 05:25] v-hagamp commented on #88217
@dustinhess, Will you please point the steps in the document what to update in it?

[2022-02-25 05:26] AjayKumar-MSFT commented on #88727
@mohrin-r3ry,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-25 05:32] AjayKumar-MSFT commented on #88730
panchalkushal, Firstly, thanks for taking time to share your feedback on Azure docs channel. Apologies you'd frustrating experience following the steps outlined in the doc.
To better assist you, could you please let us know more details on what specific section/`step` did not work as outlined or had any other issues?

[2022-02-25 05:35] v-hagamp commented on #88332
@adrian-nae, Thanks for your feedback!
When the application request is raised, it supports only SP initiated and the Sign-on URL is mandatory for this case.
Please confirm whether it supports both SP and IDP ?
If it supports both(SP & IDP), please raise the update request in our [portal ](https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/apprequest.aspx)to update it.

[2022-02-25 05:47] #88682 closed

[2022-02-25 05:53] SwathiDhanwada-MSFT commented on #88607
@MikeWedderburn-Clarke As there are no documentation charges, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-25 05:53] #88607 closed

[2022-02-25 06:05] zeeshaanali commented on #88252
Hello @MonikaReddy-MSFT , were you able to repro the issue with out of the box Windows Server 2019?

[2022-02-25 06:11] RohitMungi-MSFT commented on #88461
@levalencia I can confirm that the attached compute is not supported for designer modules. You can continue to use compute instances or clusters.

[2022-02-25 06:36] madsd commented on #88721
Hi @overbrobot This is called out in the first bullet in the Limitations section. On some of our older stamps, you will not be able to use it from Standard due to the architecture, but on most of our infrastructure you will. So, if you start from a Pv3 and then scale down to Standard, you are guarantied to be on the latest generation and thus support it.

[2022-02-25 06:40] SwathiDhanwada-MSFT commented on #88728
@SenorRagequit Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-25 06:44] AnuragSharma-MSFT commented on #88670
@LifeRyuto Scaling storage causes automatic restart. When we scale up the storage and save, the message mentions the same. We need not to manually restart the server.

Please let me know if this helps.

[2022-02-25 06:54] djflocko opened #88751 "HowTo: Client certificate/mutual authentication with APIM behind Application Gateway"
Please add a HowTo article describing how to do client certificate/mutual authentication when Application Gateway is in front of API management.
How to pass the certificate to APIM and how to validate the client certificate in APIM based on the header value.

![grafik](https://user-images.githubusercontent.com/15978502/155670643-355e8f1a-445b-443e-b304-cd9cdb76cf6f.png)

---
#### Document Details

[2022-02-25 07:09] AnnuKumari-MSFT commented on #88391
Hi @PingPongSet ,
SQLDB1.dbo.PassengerCountStats refers to table created within Dedicated sql pool . The idea is to visualize dedicated sql pool data in PBI workspace. Please refer to this article : https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-pool

[2022-02-25 07:12] dedalusmax commented on #88509
okay, i will provide feedback about what we've investigated.
thank you for your support, Gitarani Sharma.

[2022-02-25 07:13] SreejaBhattacharya-MSFT commented on #88671
Since I have not heard back from you, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. I will be happy to reopen the issue and continue the discussion.

[2022-02-25 07:13] #88671 closed

[2022-02-25 07:14] AnnuKumari-MSFT commented on #88391
Hi @saveenr , Requesting you to validate customer feedback and update the document so that reference to this [document ](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-pool) is present in the [same page](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-visualize-power-bi) . Please update accordingly as appropriate. Thankyou

[2022-02-25 07:17] vicancy commented on #61981
Although there are 4kb limitations on access_token, the recommended way for Authorization check is still using claims I believe. Do you have concerns if we use ClaimProvider to filter out the claims needed and shorten the access_token generated?

[code]

[2022-02-25 07:20] vicancy commented on #66046
How about trying the [local emulator](https://github.com/Azure/azure-signalr/blob/dev/docs/emulator.md)?

[2022-02-25 07:48] CedricZhu commented on #88581
Hello Chaitanya,

Thank you so much for your response. Very looking forward to hearing updates from you.

Best Regards

Cedric

[2022-02-25 07:54] JialinXin commented on #85089
Thanks for providing the feedback! Check the function version languages : https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&pivots=programming-language-javascript#languages.

If you're using function v4.0, the supported runtime version is 14(GA)/16(preview). However our [docs sample](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versi

[2022-02-25 08:17] ramki88 opened #88752 "CMK in KV with private endpoint"
Can storage accounts & Azure Database for PostgreSQL use CMK in a KV which uses private endpoint?

I am guessing from #85277 it is not possible. If this can be updated in the docs it would be great!

PostgreSQL Content: [Docs](https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-encryption-postgresql)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-02-25 08:34] BetimShala commented on #42951
Can you explain please what you've missed in configuration, like what did you do wrong and then you fixed it?
Thanks

[2022-02-25 08:38] SubhashVasarapu-MSFT commented on #88230
@LifeRyuto , We have assigned this issue to the respective product owner to update the document accordingly.

[2022-02-25 08:44] SubhashVasarapu-MSFT commented on #88401
@theheatDK , looks like the feature is not available through portal today. But you should be able to pass these in your ARM template,

![image](https://user-images.githubusercontent.com/44890829/155683789-60072b26-8577-4d4e-bf1f-025c0652cadb.png)

[2022-02-25 08:50] #88572 closed

[2022-02-25 08:52] AnuragSharma-MSFT commented on #88743
@martinsilha Thanks for finding this out. Change has been made through a PR which could take few days to go live.

<img width="916" alt="image" src="https://user-images.githubusercontent.com/66360845/155684789-21c98400-4d53-4424-8690-c55cfeb259a4.png">

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the dis

[2022-02-25 09:04] #88084 closed

[2022-02-25 09:04] #87543 closed

[2022-02-25 09:18] SnehaAgrawal-MSFT commented on #88750
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 09:19] #85089 closed

[2022-02-25 09:23] SnehaAgrawal-MSFT commented on #88423
@akinaritsugo Thanks for bringing this to our attention. This is resolved now.  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-25 09:23] #88423 closed

[2022-02-25 09:25] SnehaAgrawal-MSFT commented on #88497
@kano4 Thanks for bringing this to our attention. This is resolved now. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-25 09:25] #88497 closed

[2022-02-25 09:43] vhalharha666 opened #88755 "lntendant Anonymous logon NAuthority And Authority"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-02-25 09:46] yoelhor commented on #88552
Dear [mrochon](https://github.com/mrochon), thanks for taking time to share your valuable feedback. Indeed this type of technical profile can't be called from a `call` type of sub journey. I'm updating the article and and this GitHub issue will be closed automatically (before the new version is published). The fix to the article will be published later today.

If you have any questions or need fur

[2022-02-25 09:51] shashishailaj commented on #88645
@smereczynski Thank you for confirming the same. We have assigned the same to the author for review and updating the thread.

[2022-02-25 09:55] robinpoulose1 opened #88756 "msExchArchiveStatus writeback no longer works"
![image](https://user-images.githubusercontent.com/17806101/155694295-d4915639-a1b7-452b-8bd8-76a38e3d5e00.png)

msExchArchiveStatus used to writeback after Hybrid migration and update the on-premises with Archive state as Hosted Provision. But now this write back is not working. I have checked multiple client same behaviour.

In the Article it says msExchArchiveStatus writebacks but it does not.

[2022-02-25 10:01] Rajarshi789 commented on #88704
Hi Saurabh,

But I see this is in Preview mode, and some features like Output action, WHEN NOT MATCHED .. INSERT INTO tables with Identity fields are not supported yet.

Any idea, when these will be available?

Thanks & Regards,
Rajarshi Das.
Assoc Data Engineering Manager.
• +91-7569981429
• ***@***.******@***.***>

[A picture containing text, clipart  Description automatically generated]
A Unite

[2022-02-25 10:01] shashishailaj commented on #88645
@JasonWHowell Please check the query from our customer .

[2022-02-25 10:04] nhannt97 opened #88758 "How long recording file been saved on AMS storage?"
I'm working on 'recording call' function.
As [docs](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/download-recording-file-sample) , recording file will be saved on AMS storage.
![image](https://user-images.githubusercontent.com/25659972/155695987-92ca0cb2-a2c4-4d78-9001-8759faf7154b.png)
So, I have a question, how long recording file been saved on AM

[2022-02-25 10:21] MrCordeiro commented on #87920
@YutongTie-MSFT small update: my account has no view permissions for the Health Advisory. I'm currently in talks with corporate IT so that I can create the request. That's why I haven't given you its number yet.

[2022-02-25 10:21] yoelhor commented on #88158
Dear [michael-freidgeim-webjet](https://github.com/michael-freidgeim-webjet), thanks for the feedback. I'm updating the article with the relevant information (not a link to another article). A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2022-02-25 10:24] yoelhor commented on #88158
This article explains how to configure the **token** TTL, not the **session** TTL. Please check out my later comment about the update to the article.

[2022-02-25 10:37] nahojs opened #88760 "ClientCredentialProvider Deprecated"
ClientCredentialProvider is deprecated, so code snippets on this page are outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4587f33-8cb3-146b-58ee-6725cd484f7d
* Version Independent ID: 76e9cf47-608d-0065-6e7c-466b96068c2d
* Content: [Manage resources with Microsoft Graph - Azure AD B2C](https://docs.microsoft.c

[2022-02-25 10:38] #88158 closed

[2022-02-25 10:54] sharroy commented on #88252
@zeeshaanali to execute the self-test API, you need to allow port 22 for Linux and port 5986 for Windows. The screenshots shown in the doc show the port number, however, it would be good to call out the prerequisite. We would get it updated.

[2022-02-25 11:14] ulgerdc commented on #61627
Any updates?

[2022-02-25 11:16] Gassela opened #88763 "Other section reports wrong roles"
[Enter feedback here]
Hi,
could you kindly create a new section called **Windows Virtual Desktop** where reporting all following roles?

Desktop   Virtualization Application Group Contributor
Desktop   Virtualization Application Group Reader
Desktop   Virtualization Contributor
Desktop   Virtualization Host Pool Contributor
Desktop   Virtualization Host Pool Reader
Desktop   Virtualization Reader

[2022-02-25 11:22] #88383 closed

[2022-02-25 11:24] amanmcse commented on #88510
@astaykov This is assigned to the author to review and update.

[2022-02-25 11:43] MayankBargali-MSFT commented on #88751
@djflocko Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-25 11:45] PaulSells opened #88764 "MCA to MPA Product transfer"
Hi

the document does not appear to list a migration path from MCA (individual or enterprise) to MPA (Azure Plan) is this a supported transfer scenario? and if so can the document be updated with guidance notes please?

Thanks

Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e27055-9b5c-3fb6-2a01-912ebbc302dc
* V

[2022-02-25 12:22] pajcarpentier commented on #88624
I confirm, it is french now :)
Thank-you.

[2022-02-25 12:27] sebhe opened #88766 "Still in Preview?"
Hi,

is this feature/setting really still in preview, as mentioned in the heading? I can't find any other source that is confirming this.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d2d7bd8-ecfb-091f-af61-d5c53613bc11
* Version Independent ID: 3820216a-f1f2-b52a-6f1e-9e3fcfbb039c
* Content: [Prevent object

[2022-02-25 12:29] vipulsparsh commented on #88756
@robinpoulose1  Thanks for the feedback. We will engage the content development team for further investigation.

[2022-02-25 12:31] vipulsparsh commented on #88760
@nahojs Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-02-25 12:35] theheatDK commented on #88401
Thanks @SubhashVasarapu-MSFT
I have just tested and it works via an ARM template :-)
I will create a pull request for the article that states this.
Regards Peter

[2022-02-25 12:35] #88401 closed

[2022-02-25 12:57] piyushdhore-microsoft commented on #87883
Hi. Thanks for bringing this to our notice. We are sorry for the inconvenience caused. We will be changing the documentation soon to make things more clear.

[2022-02-25 12:57] woeterman94 commented on #57081
Any way we can use rate limiting in the consumption tier?

[2022-02-25 13:01] ajainvivek commented on #66458
I have copy pasted the content on to static folder of the website. I still get the above error. What is expected content type?
@CelesteDG

[2022-02-25 13:07] shashishailaj commented on #88687
@IlkaElina Using client credential flow requires you to build a logic within your application which refreshes the token every 60 minutes. The token that we get using client credential flow is access token only with a lifetime of 60 mins. There is no refresh token attached hence if you use this oAuth flow. I have seen customers using it in a way where they save the token and its expiration time tem

[2022-02-25 13:07] #88687 closed

[2022-02-25 13:11] SnehaAgrawal-MSFT commented on #88758
@nhannt97 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 13:27] dustinhess commented on #88217
Section 5, starting on page 42 is where I'd start. It basically replaces everything starting in the KB with "Add jamf pro from the gallery"

[2022-02-25 13:58] jwshive commented on #88544
@SnehaAgrawal-MSFT Any updates or workarounds?

[2022-02-25 14:17] vaartun commented on #42951
@BetimShala
subjectBeginsWith should be  /blobServices/default/containers/{containername}/blobs/{subfolder}/

Remember the '/' at the end.

More info here:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview?WT.mc_id=AZ-MVP-5003556#filtering-events

[2022-02-25 14:19] AshokPeddakotla-MSFT commented on #88585
@rajb865 Sorry for the delayed response. As I was trying to reproduce the issue from my side.
Are you seeing the error when you run  the command **sudo iotedge config apply** ?

[2022-02-25 14:21] rockboyfor opened #88768 "The Azure CLI ml (V2) availability on Azure China cloud"
Hi

Could you please help to confirm whether the Azure CLI ml(V2) is available on Azure China cloud or not?

When I run the following script to create workspace on Azure China Cloud, the error message popup on console.
`az ml workspace create -n chenyemlworkspace -g chenyerg -l chinaeast2`

Here is my ml extension information and error message:
![image](https://user-images.githubusercontent.com/47

[2022-02-25 14:22] MonikaReddy-MSFT commented on #88755
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-02-25 14:25] MonikaReddy-MSFT commented on #88252
@sharroy - Thanks for providing your insights and raising a PR.
@zeeshaanali - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-25 14:25] #88252 closed

[2022-02-25 14:36] rajb865 commented on #88585
@AshokPeddakotla-MSFT yes, issue comes when I run the command **sudo iotedge config apply**

[2022-02-25 14:50] postb99 opened #88769 "Add link to github sample"
Please add link to relevant sample : https://github.com/azure-ad-b2c/samples/tree/master/policies/embedded-password-reset

This makes the orchestration step edition easier to make (understanding is OK but my final result was not).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0576a50-8bfd-ac73-6cfc-5121de4c1ba1
* Ver

[2022-02-25 14:57] AaronMaxwell commented on #88590
Hello. There have been a number of localization issues across Docs that are not specific to any one page.

These have been addressed by Sunny, our localization PM. (dengyun)

The issue does not appear to repro at this time, but please comment if you continue to experience the problem after a CTRL+F5 refresh of the page(s).

[2022-02-25 14:57] AaronMaxwell commented on #88590
#please-close

[2022-02-25 14:57] #88590 closed

[2022-02-25 14:57] AaronMaxwell commented on #88591
Hello. There have been a number of localization issues across Docs that are not specific to any one page.

These have been addressed by Sunny, our localization PM. (dengyun)

The issue does not appear to repro at this time, but please comment if you continue to experience the problem after a CTRL+F5 refresh of the page(s).

[2022-02-25 14:57] AaronMaxwell commented on #88591
#please-close

[2022-02-25 14:57] #88591 closed

[2022-02-25 15:40] ShaikMaheer-MSFT commented on #88459
@mssaperla Could you please validate feedback and update as appropriate to update SAS? Thank you.

[2022-02-25 15:47] AaronMaxwell commented on #88691
The Azure REST API Reference (https://docs.microsoft.com/en-us/rest/api/azure/) is maintained and updated separately from Azure service documentation.

To update REST API info:
•	Use this form:  https://aka.ms/publish-on-docs/reference
•	See this wiki:  Generation of docs on docs.microsoft.com - Overview (azure.com)
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/79/Generation-o

[2022-02-25 15:48] AaronMaxwell commented on #88691
#please-close

[2022-02-25 15:48] #88691 closed

[2022-02-25 15:52] cchapin2020 opened #88770 "Account owner role limitation"
This question is about being able to create EA subscriptions. We have documentation about creating subscriptions manually and programmatically that state you need Account Owner role.

In the section https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles#user-limit-for-admin-roles it says that there can only be one Account Owner role. There is also this reference

[2022-02-25 15:54] MarileeTurscak-MSFT commented on #88769
@postb99
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 15:55] chez-charlie commented on #81774
Hi @uredkar, to achieve the following window depends on previous window, you need to add self dependencies. The behavior is supported

[2022-02-25 15:55] chez-charlie commented on #81774
#please-close

[2022-02-25 15:55] #81774 closed

[2022-02-25 15:56] chez-charlie commented on #86220
@njnuwjq what is the feedback?

[2022-02-25 15:56] chez-charlie commented on #86220
#please-close

[2022-02-25 15:56] #86220 closed

[2022-02-25 15:57] chez-charlie commented on #86615
Thanks a lot for the feedback @Nyggi . Adding now

[2022-02-25 16:05] chez-charlie commented on #81553
#please-close

[2022-02-25 16:05] #81553 closed

[2022-02-25 16:11] chez-charlie commented on #88057
@preethamrajk we enforce the RBAC on the person/account that is attempting to create the subscription. In the case of authoring in the dev environment, that is the account login to create the trigger; in the case of publishing that is the RBAC used to published the ARM to the prod environment

[2022-02-25 16:11] SwathiDhanwada-MSFT commented on #88770
@cchapin2020 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-25 16:18] chez-charlie commented on #88057
#please-close

[2022-02-25 16:18] #88057 closed

[2022-02-25 16:21] MarileeTurscak-MSFT commented on #88769
Thanks! I made a pull request to add a link to the sample. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189760

[2022-02-25 16:21] #88769 closed

[2022-02-25 16:21] TheCitrixGuy opened #88771 "More Details Please"
Can you please provide a further details on how the REST API method can be used? Very little information on it, especially if you're not familiar with REST API. When will this be available in the portal to just switch on for current VMs? Could there be a button on the article which allows you to switch this on for a specified VM similar to like the 'TRY' option on other articles?

---
#### Documen

[2022-02-25 16:23] panchalkushal commented on #88730
Hi Ajay,

Thanks for reaching out to me. I was following the tutorial and everything
was working fine but after this particular step the front end application
just stopped working. I followed all of the next steps after this but the
front end application still kept giving the HTTP 500 error when calling the
/api/ToDo.

I even checked the Application Insights and there was no useful information
in

[2022-02-25 16:28] barryguglielmo opened #88772 ""az extension add -n db-up" Not Working Pip Exit 1"
Hi There,

I installed the azure cli (2.33.1) on my mac (Monterey 12.2.1) using homebrew (3.3.16-55-g377ac64) using anaconda virtual env with python 3.10.0 and I continue to get the error message stated below when running `az extension add -n db-up`.
In short, pip has an issue installing pymysql and claims that there is a missing file "sqlfront.h". I tried installing pymysql with my own pip instal

[2022-02-25 16:42] AnnuKumari-MSFT commented on #88720
Hi @mssaperla / @leifbro ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-02-25 16:43] SQLFinn opened #88775 "Correct version requirement?"
I was just reading the requirements for the solution, and this caught my eye:

"_All editions of SQL Server 2016 and above are supported_."

Is this really correct, 2016 and above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1a3830-2d51-f861-a150-5cb20ed26a85
* Version Independent ID: aab107d9-b859-8f05-9bf3-b1cb2

[2022-02-25 16:44] barryguglielmo commented on #88772
I figured it out. I needed to `brew install freetds`

This might be a good piece to add to the docs

[2022-02-25 16:44] #88772 closed

[2022-02-25 16:44] JamesTran-MSFT commented on #88729
@jennyf19
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

cc: @jmprieur

[2022-02-25 16:44] #88729 closed

[2022-02-25 16:50] jasongroce commented on #88184
Thank you @verhyppo ! I will update these instances and others across other documentation areas.

[2022-02-25 16:53] jenniehubbardDB commented on #86304
This work has been completed.
#please-close

[2022-02-25 16:53] PRMerger18 commented on #86304
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-02-25 17:14] 1stewart opened #88778 "Incorrectly references 'resource' header instead of scope'"
Point 3 of https://docs.microsoft.com/en-gb/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token#--api-access-for-service-principals-that-are-not-workspace-users references a `resource` header, instead of `scope`, which is both required for the walkthrough, and referenced in an earlier part of the page correctly.

Using resource in the request:

[code]

Using scope in the request (with

[2022-02-25 17:14] GiftA-MSFT commented on #88768
@rockboyfor we'll review your feedback and get back to you shortly. Thanks.

[2022-02-25 17:16] JimacoMS4 commented on #87203
#reassign JimacoMS4

[2022-02-25 17:16] mokabiru commented on #88775
@SQLFinn Yes, if you are using ADS to migrate, SQL Server 2016 is the minimum version supported currently and we are working to support prior versions in the near future.

[2022-02-25 17:18] nibaccam commented on #86496
We will now proceed to close this thread.
#please-close

[2022-02-25 17:18] #86496 closed

[2022-02-25 17:19] lipinght opened #88779 "outdated spark connector version in this doc"
[Enter feedback here]
The spark connector download link and the screenshots are both spark 2.4 but the latest version is 3.1 https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12

please update the connector versions, as it would be misleading for people, but for 2.4 a lot of current adb features such as CDF are missing, so less than desirable.

thanks
L

---

[2022-02-25 17:19] mokabiru commented on #88775
@SQLFinn - I should add that this is a limitation only if you are migrating to SQL Server on Azure VM. This is not a limitation for SQL MI. The article will be updated to clarify this - thanks for the feedback.

[2022-02-25 17:23] savjani commented on #88386
Also adding @SudheeshGH & @shreyaaithal to see if they can help. thanks team

[2022-02-25 17:25] veyalla commented on #88585
@rajb865 please file an issue for this at https://github.com/azure/iotedge/issues

[2022-02-25 17:36] gareth360 opened #88780 "Needs Refresh"
[Enter feedback here]
This data is published over 18 months ago and needs to be refreshed at minimum. It would be good to see the rolling 30 days averages updated daily which is easy to automate.

Thanks
Gareth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID:

[2022-02-25 17:36] SaurabhSharma-MSFT commented on #88716
@adymorz Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 17:38] SQLFinn commented on #88775
Hi,

Thank you for the quick reply and clarification!

- Mika
________________________________
From: Mohamed Kabiruddin ***@***.***>
Sent: Friday, February 25, 2022 7:20:06 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mika Sutinen ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Correct version requirement? (Issue #88775)

@SQLFinn<https://nam12.safelinks.protection.o

[2022-02-25 17:38] nibaccam commented on #88009
@lindacmsheard we haven't heard from you in a couple days. We will now proceed to close this thread. If you have further questions on this topic, please post them here.

#please-close

[2022-02-25 17:38] #88009 closed

[2022-02-25 17:40] GeethaThatipatri-MSFT commented on #88386
Thanks @savjani

[2022-02-25 17:42] tigormanmsft opened #88781 "Remove any indication of possible use of Oracle RAC in Azure Bare-Metal Infrastructure"
Oracle RAC is not supported in any public cloud other than Oracle's own cloud.  Given the existing implication that Oracle RAC is supported, this documentation must be changed to state explicitly that Oracle RAC and Oracle RAC OneNode are absolutely NOT supported in Azure Bare-Metal Infrastructure, in order to explicitly clear up confusion caused by the previously misleading information.

---
####

[2022-02-25 17:43] lorrinferdinand opened #88782 "Non-intuitive explanation for how to use this feature."
I spent about 2 hours unraveling the semantics about what was written, and trying various permutations.  As I was reviewin the "Custom Parameters" section, I focused first on the syntax, and then after scrolling down, I noticed that there was an example.  I think it would be a good move to include a hyperlink to the example in the "Custom Parameters" section.   The next challenge that I had was co

[2022-02-25 17:45] tigormanmsft opened #88783 "Remove any impression that Oracle RAC is supported on Azure Bare-Metal Infrastructure"
Oracle Real Application Clusters (RAC) is not supported in any public cloud other than Oracle's own cloud.  Please remove any mention of Oracle RAC from this page, and add verbiage that makes it clear that Oracle RAC is not supported by Azure Bare-Metal Infrastructure, only single-instance non-RAC Oracle Database is supported.

Given the existing implication that Oracle RAC is supported, this docu

[2022-02-25 17:48] SaurabhSharma-MSFT commented on #88778
@1stewart Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-25 17:49] W1ll1amz opened #88784 "Sample PowerShell cmdlet under "Accessing Metrics" contains a typo"
The sample PowerShell cmdlet under "Accessing Metrics" contains a typo:

  Get-AzMetric -ResourceId $resourceId -MetricNames "UsedCapacity" -TimeGrain 01:00:00

The correct parameter is  -MetricName (without a trailing 'S')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dd1c1ed-ebf6-4606-b7cd-cc005fee74b2
* Version In

[2022-02-25 17:49] SaurabhSharma-MSFT commented on #88752
@ramki88 Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 17:55] tigormanmsft opened #88785 "Remove any indication that Oracle RAC is supported in Azure Bare-Metal Infrastructure"
In the second paragraph on this page, please remove the 2nd and 3rd sentences, leaving only the first sentence at most.

The 2nd and 3rd sentences of the second paragraph on this page mention Oracle Real Application Clusters (RAC) in the context that it is supported on Azure Bare-Metal Infrastructure.  In reality, Oracle RAC is not supported in any public cloud (or bare-metal annex to any public c

[2022-02-25 17:57] rohitnayakmsft commented on #88634
Allow Azure Services add a server level firewall rule with start and end IP of 0.0.0.0. This allows clients from within any Azure regions to connect to SQL DB without adding their IP in the firewall

[2022-02-25 18:01] David-W-Williams opened #88786 "Page refers to AzureRM PS module"
PowerShell example in Cause 1: Port 445 is blocked

Azure PowerShell example states:

_“ This command requires you to be logged into your Azure account, run Login-AzAccount if you haven't already logged in.”_

PowerShell 7.2.1 shows that Login-AzAccount is aliased to Connect-AzureRMAccount.

This article, Migrate Azure PowerShell scripts from AzureRM to Az | Microsoft Docs, states:

_“All versions

[2022-02-25 18:02] bluefooted commented on #88745
@edarsaut This is listed in the prerequisites:
Setup media with the desired edition of SQL Server. Customers who have [Software Assurance](https://www.microsoft.com/licensing/licensing-programs/software-assurance-default) can obtain their installation media from the [Volume Licensing Center](https://www.microsoft.com/Licensing/servicecenter/default.aspx). **_Customers who don't have Software Assur

[2022-02-25 18:06] SumanthMarigowda commented on #88784
@W1ll1amz Thanks for the question! We are investigating and will update you shortly.

[2022-02-25 18:10] GeethaThatipatri-MSFT commented on #88634
Thanks @rohitnayakmsft for your comments

[2022-02-25 18:14] ssivas commented on #88429
@jpizarrom , Thanks for reaching out.

 "AppliesToUserType" and "MemberOf" are part of claim condition used when emitting claims based on conditions. You can specify the source of a claim based on "user type" ( "AppliesToUserType") and the group ("MemberOf" ) to which the user belongs.

The user type can be:

![image](https://user-images.githubusercontent.com/57458999/155765004-4b37ce08-fd19-4487-

[2022-02-25 18:14] #88429 closed

[2022-02-25 18:21] kobulloc-MSFT commented on #88771
@TheCitrixGuy Thank you for the feedback!  I think most of the API instructions are going to leverage the existing [Azure API documentation](https://docs.microsoft.com/en-us/rest/api/azure/) but I'll take a look at this and see what we can do.

[2022-02-25 18:33] KranthiPakala-MSFT commented on #88779
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-25 18:34] AaronMaxwell commented on #82499
This will be resolved in the following PR.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/189778

[2022-02-25 18:34] AaronMaxwell commented on #82499
#please-close

[2022-02-25 18:34] #82499 closed

[2022-02-25 18:39] saavilad opened #88787 "apt.dockerproject.org was shut down."
In https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#gpu-enabled-aks-clusters
seems like apt.dockerproject.org it is not required since it is untrusted and was shut down.
https://www.docker.com/blog/changes-dockerproject-org-apt-yum-repositories/

apt.dockerproject.org	HTTPS:443	This address is used for correct driver installation and operation on GPU-based nodes.

From <https://docs

[2022-02-25 18:51] vipulsparsh commented on #88476
@mpellizzon Thanks for the feedback. We will engage the content development team for further investigation.

[2022-02-25 18:52] BetimShala commented on #42951
Thankss

[2022-02-25 18:53] brazabr commented on #86803
This issue is also affecting my team. We want to use claims from the header in functions to perform some work and after a few fights we find out that the claims property is not populated in the header.

It would make much more sense if the header contain the claims instead of just removing it from the documentation. So if I have a vote, I would vote to get it fixed in the source...

[2022-02-25 18:55] AaronMaxwell commented on #82542
Hello and thank you for contributing to Docs.

Please clarify if this is a request to only make a note of the Angular exception, to document an alternative to AddTelemetryInitializer, or if this is product feedback that should be handled as a bug or feature request.

[2022-02-25 18:56] AaronMaxwell commented on #82542
#please-close

[2022-02-25 18:56] #82542 closed

[2022-02-25 19:13] JuanD5 opened #88788 "Azure auto ml internal error"
[Enter feedback here]
I have encountered an automl error when trying to train a hierarchical time series forecasting model. The error is the following

Encountered an internal AutoML error. Error Message/Code: InvalidOperationException. Additional Info: InvalidOperationException:
	Message: Assertion Failed. Invalid Operation. Target: node. Reference Code: 9c7a19f2-017a-4f38-8617-c81f427c6fea. Deta

[2022-02-25 19:15] nibaccam commented on #88788
@cartacioS can you help here please.

[2022-02-25 19:16] kobulloc-MSFT commented on #88697
@jbpaux Quick update: I'm asked to download the svg as well.  What's confusing is that the image and link are working as expected in the preview without anything immediately obvious in the source file.  I'm continuing to look at this.

[2022-02-25 19:23] JasonWHowell commented on #88645
The article hasn't been changed in a couple of years. It's probably time indeed, and the team is aware. Thanks for sharing.

[2022-02-25 19:26] DerekHerman-MSFT commented on #88766
@sebhe I looked into this and can verify this is still in preview. When a feature is made GA we update the documentation to reflect this.

[2022-02-25 19:26] #88766 closed

[2022-02-25 19:31] AaronMaxwell commented on #82560
Updated per pharring's notes; live this weekend.

[2022-02-25 19:31] AaronMaxwell commented on #82560
#please-close

[2022-02-25 19:31] #82560 closed

[2022-02-25 19:31] mangasoft commented on #79587
Thank you for the feedback.
We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-02-25 19:31] #79587 closed

[2022-02-25 19:32] kobulloc-MSFT commented on #88697
Live page:

![image](https://user-images.githubusercontent.com/37556655/155778436-966ffd77-c89d-4eb9-a1e8-88343fa2d13c.png)

Preview:

![image](https://user-images.githubusercontent.com/37556655/155778918-c5617827-0bf4-4008-b6b5-2a8f13b0317d.png)

[2022-02-25 19:32] Fleid commented on #88260
Hey @JasonWHowell, any idea how to make that happen? :)

[2022-02-25 19:33] mimckitt commented on #88304
Dav4 and Eav4 do **not** supported nested virtualization. I have corrected the doc and it will be live later this afternoon.

#please-close

[2022-02-25 19:33] #88304 closed

[2022-02-25 19:40] SaurabhSharma-MSFT commented on #88596
@zipon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-25 19:40] #88596 closed

[2022-02-25 19:41] JasonWHowell commented on #88260
It's a queueing system (much like Event Hub) and takes a few days minimum to get translated. I don't have any visibility into that system to see the progress. If there's an urgent need, file a request via https://aka.ms/devrellocfeedback

The ja-jp page shows today's date, but the sentence in question isn't current.
https://docs.microsoft.com/ja-jp/azure/stream-analytics/blob-storage-azure-data-la

[2022-02-25 19:46] TakhirMirza opened #88789 "HttpInterceptor doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c13084-08f6-c015-7769-c2ab9170c1d2
* Version Independent ID: 44d5c264-8c95-0ae5-be9c-8982cea33223
* Content: [Tutorial: Create an Angular app that uses the Microsoft identity platform for authentication using auth code flow - Microsoft identity plat

[2022-02-25 19:51] AaronMaxwell commented on #83322
- Updated sample.Value.
- Please comment with more specific guidance around deprecation of new instances.

[2022-02-25 19:51] AaronMaxwell commented on #83322
https://github.com/MicrosoftDocs/azure-docs-pr/pull/189796

[2022-02-25 19:52] AaronMaxwell commented on #83322
#please-close

[2022-02-25 19:52] #83322 closed

[2022-02-25 19:55] KranthiPakala-MSFT commented on #88462
@v-hearya, @spelluru - Could you please have a look at the above feedback and update the doc as appropriate. Thank you

[2022-02-25 19:57] KranthiPakala-MSFT commented on #88472
@mssaperla - Could you please review the above feedback and update the doc as appropriate. Thank you

[2022-02-25 20:00] #84828 closed

[2022-02-25 20:21] ssivas commented on #88430
@jpizarrom , Thanks for reaching out.

These are supported transformationMethod can be used in a ClaimsMappingPolicy. Hope this helps.

transformationMethod=Join
transformationMethod=RegexReplace
transformationMethod=ExtractMailPrefix
transformationMethod=Join
transformationMethod=ToLowercase
transformationMethod=ToUppercase

Some of examples for your reference with RegexReplace:

**Trim** uses tr

[2022-02-25 20:21] #88430 closed

[2022-02-25 20:24] #88216 closed

[2022-02-25 20:29] Oury-MSFT commented on #88695
@gahl-levy Is Model.populate supported yet.?

[2022-02-25 20:31] JackStromberg commented on #85428
Appreciate you reaching out @skarlupka.  Out of curiosity, do you have a NSG or UDR on your subnet?  We have another document that calls out a few ranges required for proper gateway function: https://docs.microsoft.com/azure/application-gateway/configuration-infrastructure#network-security-groups.  I've included a note in the linked document that CRL checks may also be affected--change should be l

[2022-02-25 20:33] AaronMaxwell commented on #86439
https://github.com/MicrosoftDocs/azure-docs-pr/pull/189804

[2022-02-25 20:34] AaronMaxwell commented on #86439
#please-close

[2022-02-25 20:34] #86439 closed

[2022-02-25 20:46] vkurpad commented on #87855
Hi @yowl, Could you please email formrecog_contact@microsoft.com to start a conversation on the issue. It would work best if we could look at a sample document to give you the most accurate guidance

[2022-02-25 20:49] stephajn opened #88791 "More screenshots needed"
This document needs more screenshots to show exactly where the User Flows page exists. I spent so much time trying to find it from inside of the Azure B2C tenant, only to find out that you have to be outside of the Tenant itself and managing the Azure B2C service itself. This needs to be clearer and show screenshots of the steps to get there.

---
#### Document Details

⚠ *Do not edit this section

[2022-02-25 20:58] apwestgarth commented on #88367
@youngjoven can you share the output of the following two commands please?
kubectl get storageclass
and
kubectl get pods -n appservice-ns

[2022-02-25 21:00] AaronMaxwell commented on #86325
https://github.com/MicrosoftDocs/azure-docs-pr/pull/189810

[2022-02-25 21:00] AaronMaxwell commented on #86325
#please-close

[2022-02-25 21:00] #86325 closed

[2022-02-25 21:07] o-l-a-v commented on #13622
So, what's the correct way to delete "MS-AZR-0110P" / "AAD_2015-09-01" Azure subscriptions in 2022?

[2022-02-25 21:07] deboergj opened #88792 "Cosmos - Can't find where it speaks to managing GDPR, PII"
This is really to the main COSMOS page where it shows the major topics.
I do not see any topic regarding GDPR handling.
Does COSMOS provide GDPR (or user privacy) features or tools?  If so, can the front page include a link?
Also did not see any regards to ADL GenV2?

Smiles

g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-25 21:19] James-Hamil-MSFT commented on #88789
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 21:20] James-Hamil-MSFT commented on #88791
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-25 21:20] YutongTie-MSFT commented on #88788
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 21:24] tv505 opened #88793 "Call-out unclear"
The call-out on this page currently reads:

_As of 1-Oct-2020 Cherwell and Provance ITSM integrations with Azure Alert will no longer be enabled for new customers. New ITSM Connections will not be supported. Existing ITSM connections will be supported._

Does this means all "New ITSM Connections will not be supported" or does this mean "New ITSM Connections **to these platforms** will not be suppo

[2022-02-25 21:25] AaronMaxwell commented on #86065
https://github.com/MicrosoftDocs/azure-docs-pr/pull/189814

[2022-02-25 21:26] AaronMaxwell commented on #86065
#please-close

[2022-02-25 21:26] #86065 closed

[2022-02-25 21:33] MicrosoftGuyJFlo commented on #88676
#please-close

[2022-02-25 21:33] #88676 closed

[2022-02-25 21:33] James-Hamil-MSFT commented on #88789
Hi @TakhirMirza , what doesn't work for you? Can you please post the error you're getting?

[2022-02-25 21:36] JimacoMS4 commented on #86425
#assign JimacoMS4

[2022-02-25 21:40] James-Hamil-MSFT commented on #88791
Hi @stephajn , what exact step did you have trouble with, so I can understand better? Was it 2 or 4 under "Create a sign-up and sign-in user flow?"

[2022-02-25 21:42] TakhirMirza commented on #88789
I didn't see request authorization  token:

   1. Request URL:
      http://localhost:4200/api/users/all
      2. Request Method:
      GET
      3. Status Code:
      200 OK
      4. Remote Address:
      127.0.0.1:4200
      5. Referrer Policy:
      strict-origin-when-cross-origin
      1. Response HeadersView source
      1. access-control-allow-methods:
      GET,POST,OPTIONS,DELETE,PUT

[2022-02-25 21:44] TakhirMirza commented on #88789
I have token in my localstorage:

35f71349-69ae-48d1-be6a-09f4c0c31d64.0a29d274-1367-4a8f-99c5-90c3dc7d4043-login.windows.net-idtoken-607e3e89-1dfb-4a7a-833d-b3f66ece4a70-0a29d274-1367-4a8f-99c5-90c3dc7d4043---
{"credentialType":"IdToken","homeAccountId":"35f71349-69ae-48d1-be6a-09f4c0c31d64.0a29d274-1367-4a8f-99c5-90c3dc7d4043","environment":"
login.windows.net
","clientId":"607e3e89-1dfb-4a7a-83

[2022-02-25 21:46] svartanian opened #88795 "Adding additional examples to https://docs.microsoft.com/en-us/azure/role-based-access-control/scope-overview"
[Enter feedback here]

A number of role assignments require customers to use PowerShell as the option is not available in the user interface.

It will be very helpful to add a list of examples for role assignments that require the use of PowerShell or CLI.

For example, I recently worked on a case where customer needed to add Scope/Provider/Microsoft.Subscription -RoleDefinitionName "Reader" which

[2022-02-25 21:48] SaiKishor-MSFT commented on #88780
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-02-25 21:49] JimacoMS4 commented on #86425
@xiongyu0523 Thanks for your feedback! I just checked with the product team, and:

- While you can specify clean_session as 0, this will not have an effect on the behavior. DPS considers each session a "fresh" session. It doesn't retrieve or reuse any persistent session information from previous sessions. This is why the documentation states that the functionality is not supported.

- You are corr

[2022-02-25 21:54] James-Hamil-MSFT commented on #88789
Can you post the relevant code so I can see? You can block out any sensitive information

[2022-02-25 21:58] James-Hamil-MSFT commented on #88795
Thank you for your feedback. We are investigating your issue and will update you shortly.

Best,
James

[2022-02-25 22:01] stephajn commented on #88791
@James-Hamil-MSFT, it was trying to understand what Steps 2 through to 4 were trying to convey.

It may be just be me, but it is confusing to know the distinction between managing the Azure B2C instance and being inside of the Tenant itself. Screenshots showing this distinction would be quite helpful to be clear about the area a person is meant to be in.

[2022-02-25 22:14] murthyla opened #88798 "Due Diligence\disclaimer"
Really excited about MITRE coverage in Sentinel and this will definitely help clients.  A blurb about disclaimer\due diligence and not sole reliance on MITRE coverage would be good to add in my opinion.

https://blogs.gartner.com/pete-shoard/mitre-attck-does-it-do-what-you-need-it-to/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-02-25 22:15] TakhirMirza commented on #88789
app.module.ts

import { BrowserModule } from ***@***.***/platform-browser';
import { NgModule } from ***@***.***/core';
import { FormsModule } from ***@***.***/forms';
import { HTTP_INTERCEPTORS, HttpClientModule } from ***@***.***/common/http';
import { ServiceWorkerModule } from ***@***.***/service-worker';
import { TranslateModule } from ***@***.***/core';
import { BrowserAnimationsModule } fro

[2022-02-25 22:31] tcsougan opened #88799 "The default private zone should be "privatelink.datafactory.azure.net""
[Enter feedback here]
At this level https://docs.microsoft.com/en-us/azure/data-factory/data-factory-private-link#create-the-private-endpoint, on point 6, it is noted that the default private zone will be '(New) privatelink.azurewebsites.net.' which is not accurate. I think that for the data factory the default private zone is "privatelink.datafactory.azure.net"
![image](https://user-images.github

[2022-02-25 23:04] groketh opened #88801 "Error in tutorial code"
Where completing the tutorial, the following command in the 3rd cell produces an authentication error:

`df = spark.read.parquet(wasbs_path)`

I was able to resolve be changing this line:

`blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&sp=rl&sv=2018-03-28&sr=c&sig=XlJVWA7fMXCSxCKqJm8psMOh0W4h7cSYO28coRqF2fs%3D"`

to:

`blob_sas_token = r""`

---
#### Document Details

[2022-02-25 23:18] James-Hamil-MSFT commented on #87771
Hi @jjcv2304 , sorry for the delay in response. Does this script work for you? https://github.com/AzureAD/SCIMReferenceCode/blob/master/Microsoft.SCIM.WebHostSample/Controllers/TokenController.cs

It seems like the names were changed. If so I will update the doc.

Thank you,
James

[2022-02-25 23:19] daviddickson-mosaic opened #88802 "Deploy instructions unclear"
Under the 'Deploy the best model' section there are some steps that are not correct:
step #2 - the deploy button is not a button, but a drop down with 2 options: Deploy to real-time endpoint (preview), or Deploy to web service. Which should be chosen?

step #3, If I select deploy to web service, I do not see a 'Azure Compute Instance' as an option for compute type. Compute type is either Azure Kub

[2022-02-25 23:22] DerekHerman-MSFT commented on #88786
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-25 23:34] laujan commented on #88064
Hi @MacShack, Thanks again for your feedback. I've updated the overview pages to indicate that currently, Custom Translator supports custom translation systems to and from English.

cc: @RohitMungi-MSFT

[2022-02-25 23:35] #88064 closed

[2022-02-25 23:35] dlepow commented on #88692
Reassigning to current writer
#assign: @tejaswikolli-web

[2022-02-25 23:35] laujan commented on #88064
#please-close

[2022-02-25 23:36] Oury-MSFT commented on #88792
@deboergj Thank you for the ask. @markjbrown Does cosmos db provide GDPR features?

[2022-02-25 23:37] milope opened #88803 "If applicable, can we add Key Vault as a trusted service also, be specific on system-assigned vs user-assigned managed identities."
First issue, this article states we are trusted to Azure Storage. I believe this list needs to have Key Vault added as they list API Management as a trusted service:
https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints#trusted-services

Also, second issue, we've been observing incidents where users believe they can use both System-assigned and User-assigned mana

[2022-02-25 23:38] dlepow commented on #87629
@adrianhall - Are there steps to create the OpenAPI definitions that we should document for this scenario? Thank you!

[2022-02-25 23:45] laujan commented on #87855
#reassign: vkurpad

[2022-02-25 23:50] dlepow commented on #88246
@jgarplind - That's a good observation about specifying the Id (and not URL) when using `set-backend-service` with a preconfigured backend. We'll make a doc update soon to make that point. Thanks for contacting us.

[2022-02-25 23:52] #87644 closed

[2022-02-25 23:53] James-Hamil-MSFT commented on #88789
Did you enter the Application ID for "clientID?" it's blank, unless you blocked it out

[2022-02-25 23:56] WilliamDAssafMSFT commented on #84308
Thanks @ViralRana for contacting Microsoft with feedback about our product documentation. Will review this with the PG. If you have any more specific feedback, let us know. If you have a specific suggestion, might be easier for you to [create a Pull Request](https://docs.microsoft.com/sql/sql-server/sql-server-docs-contribute) for this doc and get the ball rolling on a change yourself. By opening

[2022-02-25 23:56] #84308 closed

[2022-02-26 00:02] TakhirMirza commented on #88789
import { BrowserModule } from ***@***.***/platform-browser';
import { NgModule } from ***@***.***/core';
import { FormsModule } from ***@***.***/forms';
import { HTTP_INTERCEPTORS, HttpClientModule } from ***@***.***/common/http';
import { ServiceWorkerModule } from ***@***.***/service-worker';
import { TranslateModule } from ***@***.***/core';
import { BrowserAnimationsModule } from ***@***.***/p

[2022-02-26 00:04] markjbrown commented on #78513
Thank you again for your patience.

The reason this page is not updated for the v3 SDK is that it does not handle the query metrics in the same way as our v2 SDK did.

After discussing internally the team is adding to their upcoming semester. You can track the progress on this from our .NET SDK GitHub repo here, https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2121

Thanks again for reportin

[2022-02-26 00:04] #78513 closed

[2022-02-26 00:05] dlepow commented on #86677
@oskrabanek - Thanks for letting us know about this issue. We'll add more information with a small doc update soon.

[2022-02-26 00:25] lgayhardt commented on #88461
We have updated the documentation to let users know they can't use attached compute. The changes should go live this weekend.

Let us know if you have anymore questions.

Thank you!
#please-close

[2022-02-26 00:25] #88461 closed

[2022-02-26 00:38] markjbrown commented on #88792
Cosmos DB does not provide features specific to compliance with GDPR. We provide the tools and API's that allow customers to implement the means for compliance themselves.

There are a number of resources to learn about how Azure helps customers with compliance. Feel free to explore these here.

https://azure.microsoft.com/en-us/blog/protecting-privacy-in-microsoft-azure-gdpr-azure-policy-updates/

[2022-02-26 00:38] #88792 closed

[2022-02-26 00:51] mike-urnun-msft commented on #88803
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-26 01:07] SaurabhSharma-MSFT commented on #88781
@tigormanmsft Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-26 01:13] SaurabhSharma-MSFT commented on #88764
@PaulSells Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-26 01:17] mmacy commented on #88084
@shwetamathur7 Looks like you missed assigning this the article owner - it's still assigned to you.

![image](https://user-images.githubusercontent.com/13394541/155822973-a8a68301-efcb-4284-b311-6a8d42c12ea1.png)

Also, if this is a bug in the tutorial code it's should be marked as a bug and left open.

Cc: @Dickson-Mwendia @henrymbuguakiarie

[2022-02-26 01:43] specialforest opened #88816 "JSON does not allow multiline strings"
[code]
isn't a valid JSON.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment scripts in templates - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/

[2022-02-26 02:02] panchalkushal commented on #88730
I apologize for opening this issue, I was able to see backend list items from frontend after adding AD application to both and following the "az webapp auth set" commands.

[2022-02-26 02:02] #88730 closed

[2022-02-26 02:26] YutongTie-MSFT commented on #87920
@MrCordeiro The ticket is only works within 7 days, if you are not able to open a ticket within 7days, please let me know, I can enable you a new one.

Regards,
Yutong

[2022-02-26 02:27] YutongTie-MSFT commented on #88802
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-02-26 03:09] SudheeshGH commented on #88386
@GeethaThatipatri-MSFT  ,  Thank you for your idea .....When you server is in Vnet and you want to connect to the server from a client , the minimum networking requirement you need is
1) Ability to resolve the DNS name
2) Inbound connection to the Vnet\Subnet on port 3306 to the server from the client
There is no specific service level requirement you need to connect.

So based on where the client

[2022-02-26 05:23] MhAllan opened #88818 "Add Billing rules for retries"
According to azure team, retry duration is not billed, please add that to documentation: https://github.com/Azure/Azure-Functions/issues/2122#issuecomment-1029740054

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cba06319c9e
* Conte

[2022-02-26 05:58] imeya opened #88819 "what does "Enforce Scale Out Limit" feature do in azure function EP plan?"
In [this article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#always-ready-instances) about azure function EP plan, under App Scale out section -> there is an option "Enforce Scale Out Limit", could you please help explain what does it do?
Per my understanding, if we set the value of "Enforce Scale Out Limit" to 5, then the function app can only scale

[2022-02-26 07:42] #88743 closed

[2022-02-26 07:43] AnuragSharma-MSFT commented on #88680
@kanshiG Thanks for providing details.

@Shang7799 Please let us know if you have any other queries.

[2022-02-26 07:45] AnuragSharma-MSFT commented on #88670
@LifeRyuto Please let us know if you have any further queries.

[2022-02-26 08:02] AnuragSharma-MSFT commented on #88783
@tigormanmsft Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-26 08:08] AnuragSharma-MSFT commented on #88799
@tcsougan  Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-26 08:09] AnuragSharma-MSFT commented on #88801
@groketh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-26 08:10] AnuragSharma-MSFT commented on #88816
@specialforest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-26 08:11] AnuragSharma-MSFT commented on #88818
@MhAllanThank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-26 09:05] KranthiPakala-MSFT commented on #88686
@Meenakshir18 -

You can choose to use a Dynamics dataset or an [inline dataset](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-source#inline-datasets) as source and sink type for Dataverse.

Could you please elaborate a bit on what exactly was he issue? Please share screenshots if possible.

Thanks

[2022-02-26 09:40] pdonovan opened #88822 "Needs to make it clear that the Service Principal created has a password that expires"
This page does not document that the Service Principal that is created has a password that expires in 1 year, and will need to be reset every year (or longer). This is critical for the cluster to be able to pull images, for example, when the HPA needs new pods created. The password expiring will causes services to fail. The expiration needs to be called out clearly, with a link to instructions on

[2022-02-26 12:10] ShaikMaheer-MSFT commented on #88584
@dhole Could you please elaborate more what you mean when you say "**Remove virtual network** seems to be the thing that is created in step 1"? you mean "Remote Virtual network" ?

Could you please share steps where exactly you see above screenshot? I tried to follow the steps mentioned in document, I see similar settings.

Please Note, GitHub forum is dedicated for docs related issues. For any te

[2022-02-26 12:15] ShaikMaheer-MSFT commented on #88747
@srizwanhms Steps are provided in same documentation under section "Same Power BI tenant registration and scan". Below is the link. Follow steps from there.
https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant#same-power-bi-tenant-registration-and-scan

Please note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage

[2022-02-26 12:30] makdaddy8888 commented on #88574
Hello

This posting was made 2 years ago. Is there an underlying reason why this connection hasn’t been created?

Kind Regards
Ben Opit
+61411707070

[2022-02-26 12:46] ShaikMaheer-MSFT commented on #88574
@makdaddy8888 Currently below services has connector for Business central. [Click here](https://docs.microsoft.com/en-us/connectors/dynamicssmbsaas/) to know more details about same.
![image](https://user-images.githubusercontent.com/84302758/155843554-c2306a01-660f-4457-a779-722e2055b917.png)

I created a feedback item for having this connector for Azure data factory as well internally. I encoura

[2022-02-26 15:22] perhseges opened #88824 "Image of storage connection has wrong highlight"
The red square indicating what to copy kighlights the key as the value to copy/paste into the json-setting instead of the connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Tutorial for event-d

[2022-02-26 15:50] johnayoub opened #88825 "supported windows container images"
Can I use a windowsservercore-ltsc2016 image? Per the virtualization [guide](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2019%2Cwindows-10-21H1) it seems possible but the docs aren't clear if the container runs in hyper v isolation mode or not.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-02-26 15:53] zabikcloud commented on #87183
I have the same problem using dotnet. Locally projects works but the github actions fail with the error described above.

[2022-02-26 16:34] edarsaut commented on #88745
@bluefooted, Since most administrators probably don't have Software Assurance nor a deployed SQL Server VM with the specific edition from a marketplace image, I think this could be clearer by mentioning that they need **to deploy** a SQL Server VM with the specific SQL server edition from the marketplace in order to get the right installation media. It may seem obvious, but probably not for someon

[2022-02-26 17:25] SaurabhSharma-MSFT commented on #88822
@pdonovan Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-26 17:26] SaurabhSharma-MSFT commented on #88824
@perhseges Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-26 17:27] SaurabhSharma-MSFT commented on #88825
@johnayoub Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-26 18:33] rabbyn opened #88828 "Incomplete "Supported capabilities" section for Azure SQL Database source"
It seems that the section is incomplete; I would like to know what to expect when scanning a Azure SQL Database (primary key, foreign keys etc...)

As an example here is what this same section is saying for an other source (db2) in this purview docs

"When scanning IBM Db2 source, Azure Purview supports:
Extracting technical metadata including:
Server
Databases
Schemas
Tables including the columns

[2022-02-26 18:53] gdibble opened #88829 "Mention azure-functions-core-tools"
I think it would be helpful for users, to update the install line under "Getting started":

From:
[code]

To:
[code]

This simple step will help users get up and running faster and provide clear and obvious guidance that when installing `@azure/static-web-apps-cli` it also requires `azure-functions-core-tools`.

The alternative is to make `azure-functions-core-tools` a package dependency under/wit

[2022-02-26 19:48] SreejaBhattacharya-MSFT commented on #88678
Hello @roygara, could you please review this and add your comments.

[2022-02-26 19:54] LouisNav commented on #88399
Yes the Issue has been resolved, I was mistaking one service for the other, Azure MySQL and Azure SQL, I was connecting to Azure SQL using Azure MySQL connection config, to connect to Azure SQL I have to use tedious not mysql driver for nodejs.

[2022-02-26 20:22] vishalaj1 commented on #88244
Hi,

Thanks for your feedback and help. Now we disabled the setting from the IBM MQ on supplier side.

We are receiving messages from the source now. So issue is resolved for now.

Is there a way that we are informed when the segmentation feature is available for standard connector.

Regards,
Vishal

[2022-02-26 23:06] srizwanhms commented on #88747
I will give it a try

[2022-02-26 23:11] roberts2727 opened #88830 "Frontdoor resource no longer shows as alias type after switching to premium"
Is there similar documentation for onboarding apex domains to the new frontdoor premium sku? After deleting my frontdoor classic, and adding the new sku, the front door resource type shows no alias available anymore in my azure dns resource zone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02772612-08a7-06a1-f0ca-d6

[2022-02-27 00:07] SaurabhSharma-MSFT commented on #88828
@rabbyn To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [StackOverflow](https://stackoverflow.com/) as it could be better place to get help on your scenario where the community membe

[2022-02-27 00:12] SaurabhSharma-MSFT commented on #88830
@roberts2727 Thanks for letting us know. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-27 00:12] #88830 closed

[2022-02-27 00:16] mgrlabs opened #88831 "Azure CLI commands missing from section 'Create a Server', appears as comments only"
In the section "https://docs.microsoft.com/en-au/azure/postgresql/tutorial-design-database-using-azure-cli#create-a-server" the Azure CLI commands are missing. Only the comments exist.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5469b973-ffaf-3a3a-c36e-c13c7fd8d60f
* Version Independent ID: 135f5461-d016-4e5d-1c66-9

[2022-02-27 07:58] kohei-miyoshi opened #88842 "About scaling in ASE v2"
Hello,
In ASE v2 , scaling frequently will cause operation error.
Indeed, I have faced operation error several times when I scaled some ASP in ASE at the same time.

So if you write about this as a notice, we will happy because we can care about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2

[2022-02-27 08:08] kohei-miyoshi opened #88843 "port 25 thing is a bit difficult to understand"
Hello,

port 25 rule is a bit difficult to understand because now this doc says "ending email on Port 25 is unsupported from all Azure Platform-as-a-Service (PaaS) resources, including Azure App Service and Azure Functions." but we can use port 25 in App service.
Some users will confuse because of that

I hope this doc explain more detail.

c.f.
Now App service can use port 25 regardless of the su

[2022-02-27 08:19] arambazamba opened #88844 "Auth Grant for SPA in Overview Table"
I would like to ask why you are not updating the overview table where it is still stating the implicit flow has to be used for SPAs. For more than one year SPAs also support Auth Grant so my request would be to put them also in this section. Also I want to mention that implicit flow not only works for SPAs but also classic web apps with html and js using msal@1.4.16

---
#### Document Details

⚠ *

[2022-02-27 10:00] NoriStori opened #88845 "Strange wording"
The title for https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#why-are-not-i-seeing-any-leaked-credentials is “**Why are not I** seeing any leaked credentials?”. Should probably be “Why am I not”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e

[2022-02-27 10:31] AbbyMSFT commented on #88594
Hi @avwolferen,
Thank you for your dedication to our documentation. I see that this issue has been resolved.
#please-close

[2022-02-27 10:31] #88594 closed

[2022-02-27 10:31] #88593 closed

[2022-02-27 10:33] #88592 closed

[2022-02-27 10:34] AbbyMSFT commented on #88589
Hi @avwolferen,
Thank you for your dedication to our documentation. I see that this issue has been resolved.
#please-close

[2022-02-27 10:34] #88589 closed

[2022-02-27 11:54] lrtoyou1223 commented on #87150
Thanks @AdanOrtiz for your feedbacks. We plan to have a doc for how to configure PE and related setting using SHIR. Your comments will be included.

[2022-02-27 12:02] lrtoyou1223 commented on #87150
Thanks for providing feedback that helps improve our documentation. This issue has been acknowledged and we are closing the issue. #please-close

[2022-02-27 12:02] #87150 closed

[2022-02-27 12:23] lrtoyou1223 commented on #87351
@Waukeene , thanks for your feedbacks. Already added a note in the doc.

[2022-02-27 12:23] lrtoyou1223 commented on #87351
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-02-27 12:23] #87351 closed

[2022-02-27 12:26] lrtoyou1223 commented on #88361
#please-close

[2022-02-27 12:26] #88361 closed

[2022-02-27 13:39] pmeuser opened #88846 "What‘s about user-based service accounts?"
What I am missing in the definition of workload identities are user-based service accounts, that are still required in AAD, as no all Graph API calls fully support service principals.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8d9746-6f62-aa82-fe13-063eed2c2f7a
* Version Independent ID: c534d56d-d8a6-6126-e00b-8a

[2022-02-27 14:04] GeethaThatipatri-MSFT commented on #88831
Hi @mgrlabs Thanks for your findings,We will investigate and update as appropriate

[2022-02-27 15:39] shashishailaj commented on #88845
@NoriStori Thank you for catching this . We will initiate a change request for the content team to change and approve it .

[2022-02-27 15:44] shashishailaj commented on #88845
@NoriStori We have initiated a change request and the changes should reflect in the documentation in the next 3 days once the change is reviewed and updated by the content team .

Thank you.

[2022-02-27 15:44] #88845 closed

[2022-02-27 15:55] SwathiDhanwada-MSFT commented on #88456
@sorensent  As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-27 15:55] #88456 closed

[2022-02-27 16:57] SaurabhSharma-MSFT commented on #88846
@pmeuser Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-27 16:58] SaurabhSharma-MSFT commented on #88844
@arambazamba Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-27 17:00] SaurabhSharma-MSFT commented on #88843
@kohei-miyoshi Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-27 17:01] SaurabhSharma-MSFT commented on #88842
@kohei-miyoshi Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-27 18:05] AjayKumar-MSFT commented on #88412
Kris, Hope you'd a good weekend.

To keep you posted, we're still discussing with the team on this internally.
Just a quick confirmation, did you use Azure Portal for trying to generate free certs on Apps hosted on an ASE V3?

[2022-02-27 18:06] AjayKumar-MSFT commented on #88555
David-W-Williams, We will close this for now, if you have any further questions on this, please just let us know.

[2022-02-27 18:06] #88555 closed

[2022-02-27 18:22] shashishailaj commented on #87248
@nitish-at We checked this and found that the client is the Virtual machine and the relying party is the application which validates and ensures the platforms trustworthiness . However we agree that the explanation for the same can be improved in conjunction with the terminology . We will engage with the content author and pass on this feedback for them to review.

Thank you .

[2022-02-27 18:22] #87248 closed

[2022-02-27 18:31] #88667 closed

[2022-02-27 18:42] bschaef14 opened #88848 "Reported Property Ordering guarantees lacks clarity"
Optimistic concurrency section does not provide sufficient information for users of IoT Hub Client SDKs to guarantee last reported property by device is what's represented in the twin. I highly recommend stating cleary that an in flight window of 1 is **required** to guarantee correct ordering of twin updates.

For example:
Device sends updates in this order:
{"property": 1} -> {"property": 2} ->

[2022-02-27 18:43] shashishailaj commented on #88844
@arambazamba We are engaging the content team to review the suggestions on the document . They will review and update accordingly .

[2022-02-27 19:01] shashishailaj commented on #87712
@diecknet We have removed the video for now and are in the process of getting a proper video done and linked to this page.

Thank you.

[2022-02-27 19:02] #87712 closed

[2022-02-27 19:12] shashishailaj commented on #88086
@andoius We have engaged the content team on this for reviewing the same and updating as necessary.

[2022-02-27 19:35] shashishailaj commented on #88254
@AndrewMaisey Yes , you are correct . We verified this and it seems that the article needs some changes . We are taking this offline with the content author for review and update.

Thank you.

[2022-02-27 19:35] #88254 closed

[2022-02-27 19:45] #88513 closed

[2022-02-27 19:45] shashishailaj commented on #88513
@Nionexis We have created an internal item for this one and it will e taken care by the content team offline.

[2022-02-27 20:03] shashishailaj commented on #87586
@MattiasAtelius We will work with you on this offline and take it forward internally .

[2022-02-27 20:03] #87586 closed