[2020-09-03 22:36] IoTFier commented on #62058
Thank you @NavtejSaini-MSFT

I even tried creating a bind-mount director in c: via "md C:\CosmosDB.Emulator\bind-mount"
Not sure why in the destination an absolute path is needed.

[2020-09-03 22:39] femsulu commented on #61801
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-03 22:39] #61801 closed

[2020-09-03 22:49] kiranbheemarti opened #62066 "The resource providers list on this page is not complete"
Resource provider list on this page is incomplete, when I check the Resource Explorer in Azure Portal or run az provider list in Azure CLI, I get a much bigger list of providers, can this page be updated or can another page with the full current provider list be linked to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-03 22:52] dhirschfeld commented on #62003
Thanks @SwathiDhanwada-MSFT - that did the job :+1:

User error; though highlighting the required extension more prominently in the docs would probably help avoid that since I'm apparently not the only one who has tripped over this!

[2020-09-03 22:55] bandersmsft commented on #61940
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/128429.
#please-close

[2020-09-03 22:55] #61940 closed

[2020-09-03 22:55] bandersmsft commented on #61940
@vikramdesai01 FYI.

[2020-09-03 23:02] femsulu commented on #61819
Hello @provBarryTolnas, thanks for raising this question. [Runbooks]([url](https://en.wikipedia.org/wiki/Runbook#:~:text=In%20a%20computer%20system%20or,or%20in%20physical%20book%20form.))is broadly used in the IT industry to denote a compilation of procedures and operations routinely executed by an service administrator. Azure Automation's implementation of a "Runbook feature" is detailed [here](

[2020-09-03 23:09] femsulu commented on #61819
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-03 23:09] #61819 closed

[2020-09-03 23:15] kobulloc-MSFT commented on #62064
@felixtsem5 The addition of pane is a great suggestion, and the new text will read "Click **Add** and in the **Add endpoint** pane that is displayed, complete as follows:" for added clarity.  The changes should go live shortly.  Thank you for helping us to improve our documentation!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, p

[2020-09-03 23:15] #62064 closed

[2020-09-03 23:17] femsulu commented on #61821
Hi @provBarryTolnas , thanks for the question. Please take peek at [this content ](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types#python-runbooks) on Runbook support for Python / Python 2 and let me know if you have any followup questions.

![image](https://user-images.githubusercontent.com/34327711/92182580-e2c20c00-ee00-11ea-922a-4feaa9763ac6.png)

[2020-09-03 23:17] femsulu commented on #61821
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-09-03 23:17] #61821 closed

[2020-09-03 23:18] DeletorDev opened #62067 "Lack of a couple of role assignment to AKS cluster resource group"
After follow the steps in below document, I noticed that something is wrong with a POD, then I realized the step 1 of use managed identities is incomplete because you have to assign 2 roles for each resource group.
https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#use-managed-identities

**With error**
az role assignment create --role "Managed Identity Operato

[2020-09-03 23:19] TravisCragg-MSFT commented on #62054
@JayWitt Thanks for the feedback. The docs have been updated to include Cognitive Services as a service endpoint.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-03 23:19] #62054 closed

[2020-09-03 23:21] renzmann opened #62068 "Example does not use all imports"
This example:

[code]

Does not use the `Message` class. I would recommend removing it for clarity's sake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bc6b40-39cd-eb95-1911-ddff96dda210
* Version Independent ID: d91a6110-e9c0-3a34-a321-6850778baaef
* Content: [Quickstart: Use Azure Service Bus queues with Python -

[2020-09-03 23:21] femsulu commented on #61832
reassigning to content owner @bwren to review the doc enhancement request.

[2020-09-03 23:24] adriankjohnson opened #62069 "the toc links to the batch-application-packages page in two places"
The toc should be updated by removing the how-to/Using application packages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0deccdd-d491-6619-1646-391eb10f1c95
* Version Independent ID: 4afbe566-b1a9-3371-a6a6-cb54e06bec83
* Content: [Copy applications and data to pool nodes - Azure Batch](https://docs.microsoft.com/en

[2020-09-03 23:26] ChaitanyaNaykodi-MSFT commented on #61864
@GeertDepickere, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-03 23:28] femsulu commented on #61867
reassignig to doc-author @stevevi  to review and take corrective action.

[2020-09-03 23:31] stevevi commented on #61867
@carlova which scenario is that?  How should the article be corrected?

[2020-09-03 23:32] tfitzmac commented on #62066
@kiranbheemarti - thanks for this feedback. Which resource providers do you think should be added?

[2020-09-03 23:33] KranthiPakala-MSFT commented on #61877
Hi @RonnieQuan, sorry for the delay in my response. I have a confirmation from product team that having same NSG rules for both public and private subnets is fine.

We will now proceed to close this thread. If there are further questions, please feel free to comment or open another issue. We will gladly continue the discussion.

Thank you.

[2020-09-03 23:33] #61877 closed

[2020-09-03 23:34] Karishma-Tiwari-MSFT commented on #61941
Apologies for the delay in response. This would need to be looked by the support engineer to capture details from the backend and have 1:1 session with you, towards resolution. Please create a support request if you have the capability to do so. If not, let me know and I can help you with it. Thanks.

[2020-09-03 23:59] femsulu commented on #61869
Hello @patpicos  - thanks for bringing this to our attention. This is a great suggestion to share directly directly with the Azure Monitor feature engineers using the [Azure feedback Portal](https://feedback.azure.com/forums/357324-azure-monitor-application-insights). This allows the general community to **review**, **comment** & **upvote** this suggestion which in turn helps with internal priorit

[2020-09-03 23:59] #61869 closed

[2020-09-04 00:03] cloudlene opened #62070 "Issue installing Nginx Ingress controller using helm"
Trying to create an ingress controller **as outlined in the document**:
The below command errors out

helm install nginx-ingress ingress-nginx/ingress-nginx \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux

Error: This command needs 1 argu

[2020-09-04 00:03] femsulu commented on #61974
re-assigned to content owner @bwren to review and take corrective action as needed.

[2020-09-04 00:05] sarah026 opened #62071 "Where to find failed-to-scan logs"
Well written, thanks
Can you please also add where the logs go for this when things fail? Mine suddenly started to fail, the storage account is open to all networks (!) and it doesn't seem to be showing any blocked logs or authentication issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-373

[2020-09-04 00:09] Karishma-Tiwari-MSFT commented on #61944
Ephemeral OS Disk is supported for VM sizes that supports Premium storage.
Dv4 series do not support Premium storage while Dsv4-series do support premium Storage.

You can also check if a VM size supports ephemeral disk or not on Azure Portal while creating a VM, as shown below:

In the Azure portal, you can choose to use ephemeral disks when deploying a VM by opening the Advanced section of the D

[2020-09-04 00:15] JasonWHowell commented on #61992
@dsindona FYI. Any tips on this download link are appreciated.

[2020-09-04 00:23] WinstonHoward-MSFT commented on #62037
Hi @ronaldb, if you try the workaround mentioned in the kubernetes/ingress-ngix repo in your specific case does the final ingress-nginx-admission pod get created?

[2020-09-04 00:26] cander commented on #12728
@leesmith - I don't recall the details, and I don't have access to the code base any more, but I did write a [blog post](https://western-skies.blogspot.com/2018/08/scim-with-azure-ad-no-parameters-coming.html) that seems cryptic in retrospect, but maybe it will make sense. It links to a GitHub thread that may be helpful.

[2020-09-04 00:34] carlova commented on #61867
Most tenants created after June 2019 are in USGov, but if a CSP creates a gov tenant currently, that tenant is in USG (Fairfax) rather than USGov (Arlington).

From: Stevan Vidich <notifications@github.com>
Sent: Thursday, September 3, 2020 6:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carlos Ovalle <carlova@microsoft.com>; Mention <mention@noreply.github.com>
Subject: R

[2020-09-04 00:46] anbene commented on #61992
@JasonWHowell - The PMs for this feature are investigating the issue. We'll provide the correct link as soon as possible.

[2020-09-04 00:47] hypertrends opened #62072 "On-Behalf Flow"
Hello, we are trying to understand if there is a timeline for the On-Behalf-Of or Web Chaining Flow? We have a scenario where we have 4 different APIs. Each API has its scopes. We have built a Client with a combination of scopes across multiple APIs. The authenticating user will require one or more of these scopes to be authorized and embedded in the Access Tokens.

It appears that calling multipl

[2020-09-04 00:48] stevevi commented on #61867
@carlova How does this tie to B2B Collaboration availability?

https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#azure-active-directory-premium-p1-and-p2

Isn't the link we provide sufficient for customers to find out on their own if B2B Collaboration is available in their Azure Gov tenant?

https://docs.microsoft.com/en-us/azure/active-directory/externa

[2020-09-04 00:53] carlova commented on #61867
Yes- the link to how can I tell if B2B collaboration available in my Azure US Government tenant is correct. If they check, they can see that they are in USG.

The difference is, on the AAD P2 and P2 article, some or most tenants created after June 2019 have B2B functionality, but not all. We had a customer who thought they would have B2B collab functionality based on their tenant creation date.

F

[2020-09-04 01:00] ChaitanyaNaykodi-MSFT commented on #62055
@drdamour, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 01:00] stevevi commented on #61867
So, if I were to change

B2B Collaboration is available in Azure US Government tenants created after June, 2019. Over time, more tenants will get access to this functionality. See How can I tell if B2B collaboration is available in my Azure US Government tenant?.

to

B2B Collaboration is available in **most** Azure US Government tenants created after June, 2019. Over time, more tenants will get a

[2020-09-04 01:04] ChaitanyaNaykodi-MSFT commented on #62060
@sandervandevelde, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 01:06] ChaitanyaNaykodi-MSFT commented on #62068
@renzmann, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 01:32] mandiaya opened #62073 "SSO Error in log"
[Enter feedback here]

This several days, when I try to log in jira with SSO. It pop up error in our jira logs and get 'InResponseTo do the respoense does not match the ID of the authentication request. Please try again'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Indepe

[2020-09-04 01:37] carlova commented on #61867
Yes, that would address the issue, thank you.

From: Stevan Vidich <notifications@github.com>
Sent: Thursday, September 3, 2020 8:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carlos Ovalle <carlova@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Tenants created after June may not have B2B functionality (#61867)

So, if I were t

[2020-09-04 01:48] mandiaya opened #62074 "Pop up error in logs when I log in confluence with SSO"
![image](https://user-images.githubusercontent.com/49891553/92190411-b5726e00-ee93-11ea-8b3e-b99f6974fbb7.png)

[2020-09-04 01:52] XiaoningLiu commented on #61626
Hi, Azurite V3 Table support in under develpment and open to contribution! Check latest progress here:
https://github.com/Azure/Azurite/projects/2
https://github.com/Azure/Azurite/wiki/Azurite-V3-Table

[2020-09-04 02:46] NavtejSaini-MSFT commented on #61902
@LuisBosquez We will need further guidance here. Please convey if you need info from the Service Desk ticket and we can add it here.

[2020-09-04 02:51] DatacomGIT opened #62076 "hi there, just wondering how this would perform under load? say 20 calls per second?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54701509-aa7f-7ece-4a56-57d14613b5f8
* Version Independent ID: b38d7498-0e6e-956f-4dea-0a4ef82164e2
* Content: [Sample API management policy - Filter on IP Address when using Application Gateway - Azure API Management](https://docs.microsoft.com/en-us

[2020-09-04 02:56] dcbrown16 opened #62077 "RBAC role names"
This doc seems to be referring to "Network Admin and Database Admin" as names of RBAC roles.
To the best of my knowledge, these are not valid role names. Should they perhaps be referring to the following roles?
Network Contributor
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles?toc=/azure/virtual-network/toc.json#network-contributor
SQL DB Contributor
https://docs.m

[2020-09-04 03:04] MayankBargali-MSFT commented on #61749
@milope Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-04 03:32] ram-msft commented on #62074
@mandiaya Thanks for your question. Is there a specific doc that you are referring? If so, could you please share the same?

[2020-09-04 03:36] ram-msft commented on #62056
@marcusfm Thanks for the feedback! We will review and update accordingly.

[2020-09-04 03:49] MayankBargali-MSFT commented on #61979
@ashishsinghbhu Just following up here. Hope my previous comment clears things up.

[2020-09-04 03:59] MayankBargali-MSFT commented on #62068
@renzmann Thanks for your feedback. I have updated the doc and it will be published soon.

[2020-09-04 03:59] ram-msft commented on #61826
Thanks for the feedback. @trevorbye Could you please help with access to the Swift Quickstart guide for Cognitive Services Speech

[2020-09-04 03:59] #62068 closed

[2020-09-04 04:08] JayaChatterjee-MSFT commented on #62011
@olitomlinson Thanks for reporting this item! We have updated the doc and it will be published soon. We appreciate the feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-04 04:10] IvanKosyakov opened #62078 "Need more details on Consumer key, Consumer secret, Refresh token"
Not clear, what is "Consumer key" - probably it's user's account name (e-mail) in Quickbooks Online, "Consumer secret" - probably it's a password to Quickbooks Online account, and most importantly not clear how to acquire "Refresh token".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998a28b0-5278-73e2-7e27-b019978077

[2020-09-04 04:16] hiteshtulsani commented on #62022
@SaurabhSharma-MSFT Did I incorrectly assume that Graph API - User.Read doesn't need Admin Consent as is the case with [Sample Tutorial](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-angular)?

![image](https://user-images.githubusercontent.com/7223344/92198989-7569b600-eea8-11ea-8afe-be639ccdcaa5.png)

[2020-09-04 04:22] AnuragSharma-MSFT commented on #62077
@Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-04 04:23] #62011 closed

[2020-09-04 04:23] VikasPullagura-MSFT commented on #62069
@adriankjohnson
Thanks for pointing this out and providing the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-09-04 04:23] VikasPullagura-MSFT commented on #62069
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2020-09-04 04:26] JayaChatterjee-MSFT commented on #62076
@DatacomGIT Thank you for reaching out! I don't see any problem statement here. Could you please describe the issue ?

[2020-09-04 04:33] HarithaMaddi-MSFT commented on #62078
@IvanKosyakov - Thanks for sharing your valuable feedback. I am looking into it and will get back to you shortly.

[2020-09-04 04:39] HarithaMaddi-MSFT commented on #61911
@JeffSmalley- Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/128134

The changes are live now. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-04 04:39] #61911 closed

[2020-09-04 04:45] JamesTran-MSFT commented on #62057
@brucedkyle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 05:14] vipulsparsh commented on #61722
@robermud Thanks for reaching out and apologies for the delay on this. Yes Ideally a owner of Enterprise App should be able to see  the sign in logs. Are you still facing the issue ?

[2020-09-04 05:24] RohitMungi-MSFT commented on #61932
@marktab thanks for the PR. @fernandocostas The change would be updated in the document within 24 hours of the PR merger.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-04 05:24] #61932 closed

[2020-09-04 05:25] #62003 closed

[2020-09-04 05:26] SwathiDhanwada-MSFT commented on #62003
@dhirschfeld I have made necessary changes to the document and the changes will be available soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-04 05:28] vijayrajah opened #62079 "How to add entitlements for groups"
it is not clear form the docs on how to add (or remove) entitlements for Groups

We want to automate creating groups & assign users to them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab8fc1cf-2f30-d6fb-36dc-331d646d502e
* Version Independent ID: 5d277f96-3795-a8eb-923a-23bb2e6dd9df
* Content: [SCIM API (Groups) - A

[2020-09-04 05:29] AnuragSharma-MSFT commented on #61852
@paulfirelordmu Could you please look into above request and provide the details if possible?

[2020-09-04 05:36] SwathiDhanwada-MSFT commented on #61678
@karthiksriramuoa GitHub issues is the primary channel for customer and community feedback about the Azure documentation.
 If you need technical support via community , I would suggest you post your question [here](https://docs.microsoft.com/en-us/answers/questions/topics/single/24223.html).

As there is no further response,we will close the issue for now. If there are further questions , please r

[2020-09-04 05:36] #61678 closed

[2020-09-04 05:52] psmanhas commented on #62070
@cloudlene Thank you for your query!!!

I found a similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/52826#issuecomment-618070009) as well and as per the thread can you please confirm if you are using Helm 2 or Helm 3?

Thanks

[2020-09-04 05:53] sepple-ms commented on #56351
Hi fgheysels, I have put a sample here built on .NET Core 3.1:
https://github.com/sepple-ms/TSIgen2_MSAL_API_Auth_Sample

[2020-09-04 05:55] simonzhaoms commented on #61939
Sorry, I know what's going on.  Creating a Databricks cluster only returns the cluster ID without given any information about the quota's limitation which causes the cluster cannot be started, so

[code]

won't exit because no error returns.

But it may still be a problem that the logs of DeploymentScript is not realtime, because I don't know anything about the deployment but wait until time out.

[2020-09-04 06:04] SnehaAgrawal-MSFT commented on #61856
@flatproject Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-09-04 06:04] #61856 closed

[2020-09-04 06:10] vipulsparsh commented on #61849
@SmithMMTK  Thanks for reaching out, the article that you mentioned is giving that basic example of creating a service principal as a simple example to make it more simpler with less arguments being passed.  Any prod implementation should be done after analyzing what permission are needed.

For example the doc : https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest does cover all

[2020-09-04 06:11] #50788 closed

[2020-09-04 06:13] WinstonHoward-MSFT commented on #62023
Hi @mrmyss2018, can you double-check the registry key is being created correctly? That is the error message you get when the key doesn’t exist.

[2020-09-04 06:15] WinstonHoward-MSFT commented on #62023
If it doesn't work please ensure you're not using Software Restriction Policies. You can then try moving the VM to another OU without the Software Restriction Policies and then re-try the setup. Let me know if the above tips helped out.

[2020-09-04 06:20] vipulsparsh commented on #61922
@AmitavaHazra Thanks for reaching out. I just tested this in my lab and can see this is working absolutely fine. The important thing to note and is that this happens to the users who logs into the first time only. This is also mentioned here :

![image](https://user-images.githubusercontent.com/63580915/92206150-bbbd1600-eea4-11ea-960d-07e9bde6c5ce.png)

Let me know if you have a scenario where ev

[2020-09-04 06:23] vipulsparsh commented on #61923
@grantog Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand Can you have a look at this ?

[2020-09-04 06:40] vipulsparsh commented on #62019
@Aiv114  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@jeevansd  Can you have a look ?

[2020-09-04 06:44] fgheysels commented on #56351
Thx, but maybe I should've expressed myself clearer
Retrieving a token for TSI using clientId/clientsecret is indeed easily possible.   I was actually looking for an interactive token retrieval sample using MSAL in .NET Core.    In .NET Framework, we would do it like this using ADAL:

[code]

[2020-09-04 06:49] SumanthMarigowda-MSFT commented on #62061
@RichWK Thanks for your question. We are checking on this and will respond to you soon.

[2020-09-04 06:50] SumanthMarigowda-MSFT commented on #61938
@Zhong-J The PR request has been raised, it will update very soon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-04 06:50] #61938 closed

[2020-09-04 06:51] shashishailaj commented on #62067
@DeletorDev Thank you for your feedback . We will review this and update the thread.

[2020-09-04 06:53] shashishailaj commented on #62065
@D-Moonesinghe thank you for your feedback . We will investigate and update the thread.

[2020-09-04 06:55] shashishailaj commented on #62073
@mandiaya Thank you for your query . We will investigate and update the thread.

[2020-09-04 06:57] SumanthMarigowda-MSFT commented on #61748
@eliot-trustm  Are you facing any issue in Proactively recall new and changed files from an Azure file share
A file I want to use has been tiered. How can I recall the file to disk to use it locally?
See [Understanding Cloud Tiering.](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-cloud-tiering#afs-recall-file)

I'd recommend posting your question in https://azure.microsoft.com/

[2020-09-04 06:57] #61748 closed

[2020-09-04 06:58] shashishailaj commented on #62072
@hypertrends Thank you for your feedback . We will investigate and update the thread.

[2020-09-04 07:03] #61670 closed

[2020-09-04 07:18] SatishBoddu-MSFT commented on #61894
Hello @zoombach
We have followed the document and verified all the steps to send the telemetry and receive C2D messages.

Could you please share any error message in your Android Studio when your run the app ? or any Event logs, would help in troubleshooting the issue.

**The below image shows Sending the Telemetry from the Android App:**

![image](https://user-images.githubusercontent.com/6292317

[2020-09-04 07:31] SadiqhAhmed-MSFT commented on #61793
@yashesvi & @bandersmsft FYI

[2020-09-04 07:37] rustem08 commented on #47611
Hello, @RyanHill-MSFT .
I have some issue with apple auth too.

1. I configure the app service for apple auth by this instruction:
https://docs.microsoft.com/ru-ru/azure/app-service/configure-authentication-provider-openid-connect
My auth.json config looks like:
{
    "platform": {
        "enabled": true
    },
    "globalValidation": {
        "redirectToProvider": "apple",
        "unauthentica

[2020-09-04 07:43] PaulFarry opened #62080 "Setting a User Managed Identity"
[Enter feedback here]

The documentation states that you can Set a User Assigned Identity (to a webapp) using powershell, but there doesn't to be any example, the only example is a System Assigned Identity

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#using-azure-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-09-04 07:51] PramodValavala-MSFT commented on #61780
@robvet for representations, filtering for `application/json` did work for me

![apim-representation-application-json](https://user-images.githubusercontent.com/43602528/92213067-9209ec00-eeb0-11ea-90a4-9261750c2889.png)

I do see that some of the screenshots are a little older than the rest but as far as the APIM blades are concerned, still seem accurate. Either way, we are assigning this issue t

[2020-09-04 07:52] wenbof commented on #60637
We actually only depend on that targeted FM(/SAPDS/RFC_READ_TABLE2 ) to retrieve data. if your account can use this FM to get data I assume you are safe.

Given it also has other dependencies, so we put the prerequisites as below.
The SAP user who's being used in the Data Factory SAP table connector must have the following permissions:
•	Authorization for using Remote Function Call (RFC) destinati

[2020-09-04 07:57] VikasPullagura-MSFT opened #62081 "Update required resource providers"
Microsoft.Compute and Microsoft.Storage resources providers are required, document update required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9ab474-2ead-2841-31ed-df59e1f83a60
* Version Independent ID: fbc0a299-c4e7-b8fb-1437-5bdfd56978c5
* Content: [Create an Azure Red Hat OpenShift 4 private cluster](https://

[2020-09-04 07:58] CHEEKATLAPRADEEP-MSFT commented on #62013
@guidovossen  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-04 07:58] #62013 closed

[2020-09-04 08:03] CHEEKATLAPRADEEP-MSFT commented on #61978
@hiendang Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-09-04 08:04] racchen opened #62082 "Is it possible to run group managed service account (gMSA) on Azure Service Fabric"
According to both [doc ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-run-service-as-gmsa) users can set up gMSA on _Service Fabric standalone_. However, there is no clear description about _Azure Service Fabric_.

If we integrated on-prem VNET with Azure VNET. Is it possible to use Active Directory on-premises to set up gMSA on Azure SF?

---
#### Document Details

⚠ *Do n

[2020-09-04 08:05] VikasPullagura-MSFT commented on #62081
The document is updated and changes will be live soon.

[2020-09-04 08:14] PramodValavala-MSFT commented on #62055
@drdamour the doc is about _storage_ queues while you are using service bus queues. Poison queues for storage queues are like how dead letter queues are for service bus queues/subscriptions.

As for the topic/subscription that you tried not having a retry is likely because the `Max Delivery Count` property is set to `1`. You can confirm and change this from the portal as below.

![image](https://u

[2020-09-04 08:18] amanmcse commented on #62012
Hi @AndyBunning, Following up to gather more information.

[2020-09-04 08:24] ricohomewood opened #62083 "Incorrect data in the providers"
This document seems to be out of date with the Azure API schema.

For example you claim that

Microsoft.Sql/servers/databases/auditingPolicies/read
Microsoft.Sql/servers/databases/auditingPolicies/write

are settable permission scopes but when applying this, the Azure API says:

`Status=400 Code="InvalidActionOrNotAction" Message="'Microsoft.Sql/servers/databases/auditingPolicies/write' does not m

[2020-09-04 08:25] psmanhas commented on #62082
@racchen Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-04 08:39] AnassHmida opened #62084 "Creating a matching policy for the content key and for streaming"

[2020-09-04 08:43] shashishailaj commented on #62083
@ricohomewood Thank you for your insights . We are engaging the content authors for reviewing this document .

[2020-09-04 08:49] SwathySubramani opened #62085 "Postman Authentication in Pre- run script Fails - jsonerror :Unexpected token '<' at 3:1 <!-- Copyright (C) Microsoft Corporation. All rights reserved. --> ^"
I am trying to create a pre-run script which gets the bearer token and sets it to the environment variable. The variable is used for authentication for PostDetails request.

Facing the Error : **jsonerror :Unexpected token '<' at 3:1  ^**

Below is the script:

// get the collection
var sdk = require('postman-collection');

// construct the bearer token  request
var tokenRequest = new sdk.Request(

[2020-09-04 09:07] ArdGoossens opened #62086 "4 key components?"
In the text it states "Azure Data Factory is composed of four key components." however, it's not apparent what these are since they are not named and the layout of the page doesn’t give clues either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
* Version Independent ID: 0cf3bb9b-c

[2020-09-04 09:08] FlippieCoetser opened #62087 "Azure Functions Python Binding Overview"
Azure Functions using Python supports only a subset of Bindings. However, the Python reference does not provide any overview of bidings which are supported in Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Cont

[2020-09-04 09:12] shnrr opened #62088 "Do users satisfy the sign-in frequency policy as well by unlock their device?"
This documentation states "If you have Azure AD joined, hybrid Azure AD joined, or Azure AD registered devices, when a user unlocks their device or signs in interactively, this event will satisfy the sign-in frequency policy as well.".
But, it doesn't work in my environment.

Typically, the authentication for unlocking a device is a cache logon.
Therefore, I don't think this event will satisfy the

[2020-09-04 09:12] ward0 commented on #61941
@Karishma-Tiwari-MSFT We resolved the problem by swapping the OS disk with a backup disk...
but still we lost several hours by not being able to click on enter...

[2020-09-04 09:12] #61941 closed

[2020-09-04 09:19] robban80 opened #62089 "page is a mess--impossible to find anything"
[Enter feedback here]

page is a mess--impossible finding or buying anything.
If you say:
"Trial keys expire after a 7 day period, after which a subscription may be purchased on the Azure portal"
why don't you put a link there to make it easy to buy the service? (impossible to find out how without)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-09-04 09:32] #62085 closed

[2020-09-04 09:38] ofalk commented on #42037
Sorry, but this isn't solved.
I was specifically asking to included Red Hat Enterprise Linux (RHEL) to the mentioned [page about configuring DNS](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/azure-dns).

Please reopen and reread my initial request.

Thx,
 Oliver

[2020-09-04 09:56] jfo-ta opened #62090 "The entry for MCOEV seems outdated"
Hello

The description  SKYPE   FOR BUSINESS CLOUD PBX
for MCOEV

seems to me outdated, as Microsoft refer it now as 'Phone System'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service pl

[2020-09-04 10:14] hyoshioka0128 opened #62092 "[Azure Storage Team Blog] link is "404 Error""
https://docs.microsoft.com/en-us/azure/storage/common/storage-c-plus-plus-enumeration

![storage-c-plus-plus-enumeration](https://user-images.githubusercontent.com/40815708/92228428-d31af400-eee2-11ea-8ccf-d80f908654b8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea3819b-1ee0-5cea-8d0a-ddc3b226a343
* Version In

[2020-09-04 10:31] rodolfograve opened #62093 "Why are there no PowerShell Az examples?"
[Enter feedback here]
Hello. It would be great to have examples using PowerShell Az. If something is not available in Az.Aks it should at least be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e477-0a2c-db58ce19a84f
* Content: [Ser

[2020-09-04 10:38] KalyanChanumolu-MSFT commented on #62071
@sarah026 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-09-04 10:50] ram-msft commented on #62050
@jeffputz Thanks for the feedback! We will review and update accordingly.

[2020-09-04 10:52] ram-msft commented on #62089
@robban80 Thanks for the feedback! We will review and update accordingly.

[2020-09-04 10:55] Shahar-do opened #62094 "Network Topology Diagram - See more then one vnet / resource group?"
Hello,

My orgnaziation is using hub & spoke architecture, and therefore we have few resource group, each resource group contains a vnet, with vnet peerings & cross vnet communication.

I would really want know if and how Network Topology Diagram can be used to see more then one resource group?
When I enter "topology" it enforces me to choose a single resource group.
Is there a way to choose multi

[2020-09-04 10:58] v-pugoe commented on #58266
The redundant link have been removed from here. #please-close

[2020-09-04 10:58] #58266 closed

[2020-09-04 11:21] JordyBlommaert opened #62095 "ver_success_msg doesn't work if you are using custom email verification with sendgrid"
We've implemented some localizedresources which contains following strings:
ver_intro_msg
ver_success_msg
We are using custom mail verification with sendgrid but it doesn't show the messages.
The page where we displays the emailverification with sendgrid uses the contentdefinition api.selfasserted
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-09-04 11:45] JordyBlommaert opened #62096 "Typo Displayconrtol"
I've found a typo in the section AssertStringClaimsAreEqual:
The AssertStringClaimsAreEqual claims transformation is always executed from a validation technical profile that is called by a self-asserted technical profile, or a **DisplayConrtol**. The UserMessageIfClaimsTransformationStringsAreNotEqual metadata of a self-asserted technical profile controls the error message that is presented to the

[2020-09-04 11:46] HarithaMaddi-MSFT commented on #62078
@IvanKosyakov - Yes, as per my understanding, the points you mentioned about consumer key and consumer secret are correct. And refresh token link is shared in the document that has detailed steps to acquire refresh token to access QuickBooks. I am moving it to content author to confirm the same.

@linda33wj - Can you please take a look and confirm if understanding is correct to proceed further.

[2020-09-04 11:47] mw8er opened #62097 "Mentioned storage account instead of event hub"
This is the **Tutorial: Stream Azure Active Directory logs to an Azure event hub**
Please replace **storage account**, with **event hub**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8-7125-1e0b-c446-34a0a1366a92
* Content: [Tutorial - Stream logs

[2020-09-04 12:00] hansmbakker opened #62098 "ConfigureAppConfiguration is in preview only"
`ConfigureAppConfiguration` is in preview only and you won't find it if you don't know that you need to enable preview packages in your nuget search filters.

It would also be helpful to include the content of https://github.com/Azure/azure-functions-dotnet-extensions/wiki/Configuration-and-FunctionsHostBuilderContext-support.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-04 12:06] dhawalk1981 opened #62099 "Azure API for FHIR not accessible"
I have setup an Azure API for FHIR (PaaS). I am able to access the metadata at https://<xxxxxxx>.azurehealthcareapis.com/metadata. but when i try to access other URLs, using the access token as documented in https://docs.microsoft.com/en-us/azure/healthcare-apis/get-healthcare-apis-access-token-cli, i am getting authorization failure.

According to the documenation, I assume that I don't have to c

[2020-09-04 12:07] HarithaMaddi-MSFT commented on #62079
@vijayrajah - Thanks for your valuable feedback. I am moving it to content owner to review.

@mssaperla - Can you please take a look

[2020-09-04 12:09] paulfirelordmu commented on #61852
@AnuragSharma-MSFT Sorry for the late response.

Mostly MongoRequests

 Through Java SDKs

We are finding these errors from cosmos logs. Here are some examples:
```{"time":"2020-09-04T10:39:53.3215517Z","resourceId":"xxx","category":"MongoRequests","operationName":"DropIndexes","properties":{"activityId":"xxx","errorCode":"17","duration":"119.968","requestCharge":"1.05","databaseName":"xxx","colle

[2020-09-04 12:17] HarithaMaddi-MSFT commented on #62086
@ArdGoossens - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/128558

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-04 12:32] shaunfindley commented on #61870
Thank you, but another question.  If a security contact already exists with a email address you want to add the phone number to I cannot find a method to just update the phone number.  I have tried to remove the contact then add it again and it fails the same saying the email address already exists even though it was deleted.

[2020-09-04 12:46] mitirazvan opened #62101 "Issuer validation for Guest AzureAd Users"
Hello,

We have a multi tenant application defined in our AzureAd organization and in our client application we have implemented a custom logic to validate the issuer property for the AzureAD users. We can add tenant ids for the allowed organization and everything works ok.
The problem appears when we try to login with an User that belongs to different Organization that is not added as allowed in

[2020-09-04 12:50] jfo-ta opened #62102 "Some entry missing"
TEAMS_COMMERCIAL_TRIAL
FLOW_FREE

are not referenced in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.co

[2020-09-04 12:50] leesmith commented on #12728
@cander No worries! I think I've figured it out. This seems to work for me:

config/initializers/mime_types.rb

`Mime::Type.register "application/json", :json, %w(application/json application/scim+json)`

[2020-09-04 12:53] vipulsparsh commented on #62073
@mandiaya  The error shows that this might be a configuration issue from which the mismatch is coming from. I would appreciate if you can open a support ticket for this and let support find the exact configuration change which is needed for faster resolution.

[2020-09-04 12:55] fawohlsc commented on #62020
@DCtheGeek this was blazing fast - many thanks! 🥇

[2020-09-04 13:13] sepple-ms commented on #56351
@fgheysels : Check that one out: https://github.com/sepple-ms/TSIgen2_MSAL_API_Auth_Prompt

[2020-09-04 13:24] Tusharsp opened #62103 "First function gets deleted when second is published - Azure Functionapp publish using CLI"
The article explains everything needed to develop and deploy the first Azure function. However as soon as second function is published through CLI, first function gets deleted. Need to know how to fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 300eb759-d21c-3df9-2aa9-f60bb611ee3a
* Version Independent ID: 57f

[2020-09-04 13:28] neilamoran commented on #61955
Update - I upgraded my Azure CLI to the latest version (2.11.1) and the problem appears to be resolved.

[2020-09-04 13:30] shashishailaj commented on #62090
@jfo-ta Thank you for your feedback . We will have this reviewed and update the same as necessary .

[2020-09-04 13:59] jfo-ta commented on #62102
TEAMS_EXPLORATORY is missing as well

[2020-09-04 14:09] alexmalus commented on #30075
First off, thank you @marinnedea for such an extensive guide.

--

I followed marinnedea's set-up as I am unable to use snap to install Azure Storage Explorer.
(If you're interested in knowing why did snap not help me, see https://forum.snapcraft.io/t/11209 for details; in my case, I had issue with the home directory being different than what snap expected.)

I have a normal machine, using Ubuntu

[2020-09-04 14:11] jose-lima2011 commented on #61870
shaun findley, your question makes sense i had already seen this problem in fact i had flagged in a similar issue:
https://github.com/Azure/azure-cli/issues/14594
corrected without feedback, I add the question if the phone numbers are still restricted to the US format, I believe it shouldn't because the phone exists worldwide. Add the solution procedure in the System Center or I believe that many

[2020-09-04 14:25] jimc-po commented on #61992
I had a case open on this too and they responded and gave me this link
which worked:

https://www.microsoft.com/en-us/download/details.aspx?id=44299

I hope that helps.

Best,

-jim

[image: Panopta LLC] <https://www.panopta.com/> Jim Cusick
VP of Operations
jim.cusick@panopta.com *| *+1(312) 448-7688
Panopta.com <https://panopta.com/>

On Thu, Sep 3, 2020 at 7:47 PM Andrea Benetti <notifications@

[2020-09-04 14:35] bgehring opened #62105 "Source not available in preview or export"
With Preview features turned off you are able to see the source of the user's login. You can filter by guest accounts and see how all of your guests are logging in. When you export the report, source is not available so your only option to, for instance, find all guest accounts using Microsoft Accounts instead of External Azure Directory accounts is to scroll down the list in the older interface.

[2020-09-04 14:35] Ayanmullick opened #62106 "Sample with Firewall Manager and Virtual WAN"
Is there a sample walk-thru to implement Firewall Manager and Azure Firewall with Virtual WAN using PowerShell? I can't locate the PowerShell documentation to deploy Firewall manager either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2de5293a-ffcf-f22d-6c32-a0412dd1438b
* Version Independent ID: 5c0414b8-690d-9cdb-

[2020-09-04 14:39] flatproject commented on #61856
Thanks @SnehaAgrawal-MSFT . I have now send en email to the above email address referencing this issue.

[2020-09-04 14:44] DevRCRun opened #62107 "Is the Node.js OIDC sample app still being maintained?"
The page uses https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs however per an issue I have submitted there the project seems unmaintained https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs/issues/38

Indeed other issues earlier in the year have been closed with a comment that the sample will be archived (yet the repo has not been archived)

htt

[2020-09-04 14:44] #62084 closed

[2020-09-04 14:45] aebaid opened #62108 "Having doubts in existent information"
Based on my understanding to the topic, I do think that we shall be connecting the express route to the AVS and not to the virtual network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53c9e78f-7448-605e-4231-530cad0fdc78
* Version Independent ID: 0382cf81-d644-68b3-62fc-9741859052ee
* Content: [Tutorial - Configure

[2020-09-04 14:51] #62092 closed

[2020-09-04 15:06] jrudley commented on #62067
Should only need to run it against the MC resource group. What problems did you see with the pod?
[code]

[2020-09-04 15:08] brettsam opened #62110 "PeekLock section needs a couple of changes"
*Note -- a customer brought this up at https://github.com/Azure/azure-functions-host/issues/6500*

I think there's a couple of issues with the PeekLock section:
1. It appears the Default value of `MaxAutoRenewDuration` is 5 minutes, not the maximum: https://github.com/Azure/azure-sdk-for-net/blob/6bebad4c0f6bd83ac46e9bab11870d1c49f2137b/sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerO

[2020-09-04 15:13] Karishma-Tiwari-MSFT commented on #61955
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-04 15:13] #61955 closed

[2020-09-04 15:13] ChrisSommers opened #62111 "Step 3 is not clear"
I cannot see what is meant by this:

"In your Log Analytics workspace under General, access the saved searches for the scope configuration MicrosoftDefaultScopeConfig-Updates"

It needs some more explanation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8578df3-5e0c-a406-858d-7536724fe938
* Version Independent ID: 0a

[2020-09-04 15:25] SwathiDhanwada-MSFT commented on #62111
Thanks for your comment @ChrisSommers.

Assigning to content author @MGoedtel for review.

[2020-09-04 15:26] SwathiDhanwada-MSFT commented on #61122
Thanks @tfitzmac.

@carlosnunez-10m We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-04 15:26] #61122 closed

[2020-09-04 15:27] carlosnunez-10m commented on #61122
Y'all are awesome. Thank you so much!
________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Friday, September 4, 2020 10:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carlos Nunez <Carlos.Nunez@10thmagnitude.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] resourceId() does not work when deploying a te

[2020-09-04 15:29] anbene commented on #61992
@jimc-po The link has been restored.

Please let us know if you have further questions, and thanks again for bringing this to our attention!

#please-close

[2020-09-04 15:29] #61992 closed

[2020-09-04 15:42] PingPongSet opened #62112 "Access Azure SQL Database from Azure AppService via Managed Identity on different Subscriptions"
Is it possible to access Azure SQL Database on one subscription from Azure AppService hosted on a different subscription via Managed Identity?

I followed the steps below, which has no example on different subscription.
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-permissions-to-managed-identity

Other links
https://stackoverflow.com/questions/62003

[2020-09-04 15:47] ChaitanyaNaykodi-MSFT commented on #61817
Hello @swigerb, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-04 15:47] #61817 closed

[2020-09-04 15:51] marcosgm opened #62114 "Improve description of Trusted Microsoft Services"
(I'm a microsoft CSA)
In other pages, like Azure Storage and Keyvault, we can see a detailed list of microsoft services that become authorized to connect to the resource. In Azure SQL there is no list, just two examples (Import/Export and Datasync).
My customers complain about this lack of detail making them very unconfortable checking that box to on.
Example of good documentation: https://docs.mi

[2020-09-04 15:53] ChaitanyaNaykodi-MSFT commented on #62103
Hello @Tusharsp, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 15:55] ChaitanyaNaykodi-MSFT commented on #62110
Hello @brettsam, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-04 16:02] diablodale opened #62116 "Kinect Azure joint coordinate picture doesn't match actual API behavior"
The joint coordinate picture does not match actual joints of API. For example
1. from hip left -> foot left the picture shows 6 joints. However, the API only has 4.
2. from Pelvis -> head. Picture shows 6 joints yet API has only 5.
3. picture is missing joints nose, eye, ear, etc. There is value in these to be in the picture. Given they are in close proximity, I recommend a zoom-in head view paste

[2020-09-04 16:02] chrispauly opened #62117 "Are the Webhook "Source IP address ranges" a list of ranges or individual IP addresses?"
The list of IP addresses under the title look like individual IP addresses and not ranges.  Could this be changed to be more clearer?  I would expect an IP range to have a start and end address or use CIDR notation.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups#webhook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-09-04 16:03] deepaksharma-507 opened #62118 "How can I access the health via an API ?"
I am trying to show the health of our registered domain on our internal portal but I cannot seem to find the correct API URL for the same. Can someone please put me in right direction.

Regards,
Deepak

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6347876-e729-1f2b-d94b-6b8e842d9379
* Version Independent ID: aed5ad45

[2020-09-04 16:05] ChaitanyaNaykodi-MSFT commented on #62087
@FlippieCoetser, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 16:11] SaurabhSharma-MSFT commented on #62097
@mw8er Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 16:11] sharbt commented on #49722
@kgremban Issue also exist on Windows 10 host using "arm32V7" configuration with appropriate Docker/WSL2/Ubuntu installed and in-place cross-compiling for Raspberry.
Fails in Step 1 of Build & push of tutorial with following error:
_PS  docker build  --rm -f "modules\SampleModule\Dockerfile.arm32v7" -t xxcontainerreg.azurecr.io:0.0.1-arm32v7 "\modules\SampleModule" ; if ($?) { docker push xxcontai

[2020-09-04 16:12] uberchris2 commented on #43133
I got here from a google search. It's pretty sad that this was closed without an answer; it's a pretty simple question. _What are the minimal IAM permissions required for an AAD-authenticated user to access the azure portal query editor, given that they already have access to the database itself?_ A good answer would be one or more [Azure RBAC Actions](https://docs.microsoft.com/en-us/azure/role-b

[2020-09-04 16:12] SaurabhSharma-MSFT commented on #62102
@kkern13 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-09-04 16:13] BharathNimmala-MSFT commented on #62053
@BertAnthonyRochester  Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation It would be great if you can specify what query you have with in the documentation, so that we can assist you accordingly.

At this point it appears that there's no further edits or updates needed

[2020-09-04 16:13] #62053 closed

[2020-09-04 16:13] BharathNimmala-MSFT commented on #62043
@BertAnthonyRochester  Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation It would be great if you can specify what query you have with in the documentation, so that we can assist you accordingly.

At this point it appears that there's no further edits or updates needed

[2020-09-04 16:13] #62043 closed

[2020-09-04 16:20] drdamour commented on #62055
ah crap i got it confused, sorry, please close

[2020-09-04 16:21] scyto opened #62119 "Please Clarify what is required vs optional for every field in the co-sell UI tab in partner center."
There is no clarity on what is required vs optional either in the partner center UI or in this doc.

Could you please create a table that clearly articulates what is required vs optional on the co-sell with Microsoft tab in partner center (ie. for every field and every section).

Please clarify not by solution type but by azure marketplace offering type (there is nothing in that portal called IP o

[2020-09-04 16:23] ChaitanyaNaykodi-MSFT commented on #62098
@hansmbakker, Thank you for your feedback! We will review and update as appropriate.

[2020-09-04 16:41] palanis-MSFT commented on #62119
Hi @Vandana<mailto:Vandana.Mahtani@microsoft.com>, can you please take this one? Thank you

Please note: my work hours may not be the same as your work hours. Please do not feel obligated to respond outside of your work hours.

Cheers,
-Palani

From: scyto <notifications@github.com>
Sent: Friday, September 4, 2020 9:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Palani Sund

[2020-09-04 16:42] niyer-msft opened #62120 "Incomplete documentation"
The example provided in this documentation show how to setup autoscale rule for CPU usage.

trigger:
                kind: AverageLoad
                metric:
                  kind: Resource
                  name: cpu

It's not very clear what other rules are supported. Please document all the rules.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-04 16:51] KranthiPakala-MSFT commented on #61878
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2020-09-04 16:51] #61878 closed

[2020-09-04 16:53] jrudley commented on #62067
odd, because I do not have this issue with my clusters running 1.18.4

I add the    --enable-managed-identity  switch during aks creation

[code]

[2020-09-04 16:53] KranthiPakala-MSFT commented on #62024
Thank you for your response. Please do share the forum thread link once you open the issue, so other other readers can refer to it.

Thanks again.

[2020-09-04 16:53] #62024 closed

[2020-09-04 16:57] jrudley commented on #62067
i'd also check out https://github.com/Azure/secrets-store-csi-driver-provider-azure if you haven't. Great info

[2020-09-04 17:01] RyanHill-MSFT commented on #61788
@IgnacioAlvarezArenas I was successfully able to successfully backup an app service with the connection string set to my failover group. What errors did you get on your backup?

[2020-09-04 17:09] DeletorDev commented on #62067
Thanks for the documentation info, but my point for this issue is that we
tried following the steps in
https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes
, but at the end the pod "nginx-secrets-store-inline" keep a
"CreatingContainer" state until the roles are assigned to the cluster
resource group.
When I refer to "we", we are a Microsoft customer, and 3 Micro

[2020-09-04 17:10] WinstonHoward-MSFT commented on #62093
@rodolfograve,

Thanks for the feedback. I will relay your ask to the PM team. However please keep in mind that while all examples on the Microsoft Docs site written for the bash shell, the Azure CLI commands are the same in both shell environments for the most part. You should be able to simply make the examples oneliners and omit bash specific commands like grep. See this [doc ](https://docs.mic

[2020-09-04 17:11] jrudley commented on #62067
Got it, yeah, I depend on the doc from the github repo. The csi driver is
not officially supported by Microsoft, so I can see the frustrations.

On Fri, Sep 4, 2020 at 12:09 PM DeletorDev <notifications@github.com> wrote:

[2020-09-04 17:16] JamesTran-MSFT commented on #62030
@PaulTzl
Thanks for your feedback!
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-04 17:16] #62030 closed

[2020-09-04 17:25] JamesTran-MSFT commented on #62033
@HockeyJustin
Walking through the documentation for [Using the Azure portal](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-terms-of-service-privacy-statement#azure-portal), I was able to see that the UI(Branding) is still an available option to update your terms of service and privacy statement. Additionally, I was also able to find it within the Manifest as well.

![to

[2020-09-04 17:29] ashishsinghbhu commented on #61979
Thank you @MayankBargali-MSFT .. Basically I wasn't able to find a doc where it says the entity max size can be changed since the change was introduced and I came across this as the closest so thought specifying something here could be good idea. We can close this.

[2020-09-04 17:29] #61979 closed

[2020-09-04 17:29] SaurabhSharma-MSFT commented on #62099
@dhawalk1981 Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 17:30] JamesTran-MSFT commented on #62096
@JordyBlommaert
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 17:32] MashaMSFT commented on #44134
#reassign: BustosMSFT

[2020-09-04 17:32] PRMerger14 commented on #44134
BustosMSFT is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-09-04 17:33] tfitzmac commented on #61122
Here are the docs that were updated to clarify the use of these functions:

- [Resource functions for ARM templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource)
- [Create resource groups and resources at the subscription level](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-subscription)
- [Create resources

[2020-09-04 17:35] himanshusinha-msft commented on #62112
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:35] JamesTran-MSFT commented on #62105
@bgehring
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 17:36] JamesTran-MSFT commented on #62118
@deepaksharma-507
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 17:36] himanshusinha-msft commented on #62088
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:38] himanshusinha-msft commented on #62095
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-04 17:40] himanshusinha-msft commented on #62107
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-04 17:41] himanshusinha-msft commented on #62108
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:42] himanshusinha-msft commented on #62120
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:43] himanshusinha-msft commented on #62106
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:44] TravisCragg-MSFT commented on #61778
@RonnieQuan  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-04 17:44] #61778 closed

[2020-09-04 17:45] RyanHill-MSFT commented on #61795
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-04 17:45] himanshusinha-msft commented on #62117
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:47] lmqferreira opened #62121 "Outdated information"
The screenshots in this page are outdated. At the time of this feedback https://myapps.microsoft.com redirect to https://myapplications.microsoft.com/ with a different interface and flow.
In the first paragraph it also doesn't clarify that users are only able to invite guests if they have the guest inviter role (for tenants where this permission is not granted by default).

---
#### Document Detai

[2020-09-04 17:51] SaurabhSharma-MSFT commented on #62121
@lmqferreira Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-09-04 17:51] himanshusinha-msft commented on #62114
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:55] himanshusinha-msft commented on #62094
@Shahar-do Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a document which you are following and if you think it needs  an updat

[2020-09-04 17:56] himanshusinha-msft commented on #62116
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 17:59] himanshusinha-msft commented on #62101
@mitirazvan : Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q & A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an u

[2020-09-04 18:11] brjohnstmsft commented on #60987
@JasperCQC Can you confirm whether escaping worked for you?

[2020-09-04 18:30] grayluck commented on #59439
@mamccrea @KranthiPakala-MSFT @mssaperla Ping on this. I am still seeing https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject-upgrade with outdated information.

Also want to add:

As for today, we might not able to recover the data in the workspaces for customer's privacy consideration.

Could you help update the document so that customers

[2020-09-04 18:31] ecfan commented on #61368
@DTronD, thanks, we've added this request as work item on the doc backlog.

[2020-09-04 18:55] James-Hamil-MSFT commented on #62118
@deepaksharma-507 Hi, unfortunately Azure AD DS doesn't have any API calls for that currently. You can look at the current Graph API available [here](https://docs.microsoft.com/en-us/graph/api/resources/azure-ad-overview?view=graph-rest-beta) to see if something else can work for you. I suggest creating a feature request [here](https://feedback.azure.com/forums/34192--general-feedback) for API cal

[2020-09-04 18:58] James-Hamil-MSFT commented on #62096
Hi, I have created a pull request [here](https://github.com/MicrosoftDocs/azure-docs-pr/pull/128597) with a spelling fix.
Best,
James

[2020-09-04 18:58] #62096 closed

[2020-09-04 19:01] jwettstrom opened #62124 "Update tutorials for monitoring -> Alerts to not use deprecated options."
The tutorial is using deprecated options. Please update to use the new features/options instead. There is a little warning about deprecated options which is fine and good, but the tutorial should be updated too when new features and the current features/options are deprecated. Should be part of the release cycle. Too many places in microsoft documentation that does this and make things quite a bit

[2020-09-04 19:07] AreAyeZee opened #62125 "PowerShell to Set Email SSPR Not Working"
The following PowerShells do not update the email SSPR function.  They update the alternate email; however in reviewing the "StrongAuthenticationUserDetails" attribute, the email address is not updated.  Also, in testing, we are not able to use email for SSPR

Set-AzureADUser -ObjectId user@domain.com -OtherMails @("email@domain.com")

Set-MsolUser -UserPrincipalName user@domain.com -AlternateEmai

[2020-09-04 19:12] SaurabhSharma-MSFT commented on #62022
@hiteshtulsani No, for the sample application it does not require Admin consent as this is  a delegated permissions.  I have build the sample using the "Option 1 (express): Register and automatically configure the app, and then download the code sample" and it is working fine for me. Have you checked if "User Assignment Required" property is set as "No" on Enterprise Applications blade -
![image](

[2020-09-04 19:16] GiftA-MSFT commented on #62089
@robban80 thanks for reaching out and sorry for the inconvenience. If your 7 day free trial period has expired and you don't have an Azure subscription, you can[ create an account for free](https://azure.microsoft.com/free/cognitive-services/). You can also login to [Azure Portal](https://portal.azure.com/) and select a Subscription. Hope this helps. Let me know if you have any further questions o

[2020-09-04 19:31] IvanKosyakov commented on #62078
This is better. I am currently getting "The operation has timed out" error which is different. I hope that in GA version Data Factory will be able to refresh token directly from the "Edit linked service" interface. Next steps will be easy to do using Wrangling Data Flows...

[2020-09-04 19:32] IgnacioAlvarezArenas commented on #61788
This is the exact error: Could not connect to database server.Microsoft.SqlServer.Dac.DacServicesException: Could not connect to database server. ---> System.Data.SqlClient.SqlException: Cannot open Failover Group "ignaciofailovernew.database.windows.net" requested by the login. The login failed. at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnecti

[2020-09-04 19:33] IgnacioAlvarezArenas commented on #61788
apparently what happens is that it tries to find the database with some extra string.

This is my connection string:Data Source=tcp:ignaciofailovernew.database.windows.net,1433;Initial Catalog=ignaciodatabasene;User ID=;Password=*

[2020-09-04 19:33] JnHs commented on #62069
Hi @adriankjohnston, thanks for reporting this! I'm creating a PR to correct the duplication. After that is merged, this issue will be automatically closed (although you may not see the update for a few hours after that happens). Thanks again for submitting your feedback!

[2020-09-04 19:35] SaurabhSharma-MSFT commented on #62097
@mw8er I am seeing it correctly mentioning "event hub" in the documentation.
![image](https://user-images.githubusercontent.com/38112130/92278722-aa770800-eeaa-11ea-9c4b-fc4697cd905c.png)
Can you please provide the link of the document you are referring.  I may be referring to localized version other than en-us .

[2020-09-04 19:43] WinstonHoward-MSFT commented on #61973
I've issued a PR to change this. Thanks for being vigilant! I am now closing this issue. Have a good weekend.

[2020-09-04 19:43] #61973 closed

[2020-09-04 19:46] #62034 closed

[2020-09-04 19:47] #62093 closed

[2020-09-04 19:50] carlosnunez-10m commented on #61122
Amazing. Thank you so much, Tom!

Carlos Nunez
Cloud Architect | 10th Magnitude
www.10thmagnitude.com | carlos.nunez@10thmagnitude.com | (469) 213-3741
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, September 4, 2020 12:33:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carlos Nunez <Carlos.Nunez@10thmagnitude.com>; Mention <me

[2020-09-04 19:57] ecfan commented on #55840
@kulpras, as we haven't heard from @divyaswarnkar, perhaps you could post feedback in the Logic Apps user feedback site for the Connectors section:

https://feedback.azure.com/forums/287593-logic-apps?category_id=145803

I'll close this thread for now. #please-close

[2020-09-04 19:57] #55840 closed

[2020-09-04 20:11] palanis-MSFT commented on #62119
Hi @Palani<mailto:palanis@microsoft.com>,

All fields in the co-sell module are optional today. There isn’t any field in the co-sell module UI that is ‘required’ for a Partner to publish an offer.

Thanks
Vandana
From: Palani Sundaramurthy <palanis@microsoft.com>
Sent: Friday, September 4, 2020 9:42 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; Vandana Mahtani <Vandana.Mahtani@microsof

[2020-09-04 20:15] BrianLevenson opened #62130 "Managed App - allow data actions"
New functionality just shipped for Managed Apps that allows the publisher to define allowed data actions that a customer can take. Submitting a comment to get this on the docs team's radar because this article will need an update to reflect the new functionality. PM should be reaching out soon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-04 20:16] mw8er commented on #62097
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/active-directory/reports-monitoring/tutorial-azure-monitor-stream-logs-to-event-hub.md --> it was corrected in the meantime already 👍

[2020-09-04 20:18] msmbaldwin commented on #43373
Step four now reads, "For "Resource Group", select Create new. Enter myResourceGroup as the name and select Ok.". Thank you! #please-close

[2020-09-04 20:18] #43373 closed

[2020-09-04 20:27] #61368 closed

[2020-09-04 20:28] SaurabhSharma-MSFT commented on #62097
@mw8er We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-04 20:28] #62097 closed

[2020-09-04 20:30] msmbaldwin commented on #38097
We have a new article specifically about ADE on an isolated network: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-isolated-network

Thank you! #please-close

[2020-09-04 20:30] #38097 closed

[2020-09-04 20:31] brendankowitz commented on #62099
@dhawalk1981 if you have a valid token using the documentation above and are still receiving unauthorized, it is possibly due to insufficient access with the RBAC settings (https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac)

[2020-09-04 20:32] msmbaldwin commented on #53473
Hi, @DibyodyutiMondal. https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication now contains this line:

Thank you! #please-close

[2020-09-04 20:32] #53473 closed

[2020-09-04 20:37] JamesTran-MSFT commented on #62057
@brucedkyle
Thanks for your question! Please see below for my findings.

**Findings:**
When it comes to your above example of adding a system-assigned identity to your function app/web app, you can do so using the Portal, even if the resource wasn't created with that feature enabled.

**For more info:** [Identities for App Service and Azure Functions](https://docs.microsoft.com/en-us/azure/app-ser

[2020-09-04 20:44] JamesTran-MSFT commented on #62105
@bgehring
Thanks for your input feedback! Since this is more a feature request, please feel free to use our [User Voice](https://feedback.azure.com/forums/34192--general-feedback) forums to request a feature be implemented into Azure.

If you have a suggestion for how we can improve this documentation, have a question about the specific article or product, please let me know. Otherwise, I'll go ah

[2020-09-04 20:44] #62105 closed

[2020-09-04 20:47] #61331 closed

[2020-09-04 20:48] zr-msft commented on #61331
Thank you @clarenceb for the feedback!

I've updated the article to incorporate your feedback and the changes should be available soon.

[2020-09-04 20:49] mamccrea commented on #59439
@leifbro

[2020-09-04 21:08] normesta commented on #61978
Thank you for showing us that @hiendang! Doc is updated. The change should appear live at about 4:00 today.

[2020-09-04 21:08] normesta commented on #61978
#please-close

[2020-09-04 21:08] #61978 closed

[2020-09-04 21:27] tfitzmac commented on #62066
I have updated the list of resource providers. The update should get published later today.

[2020-09-04 21:28] tfitzmac commented on #62066
#please-close

[2020-09-04 21:28] #62066 closed

[2020-09-04 21:40] JnHs commented on #62069
my automatic close didn't work, but this fix has been merged - should be live later today. Thanks again!
#please-close

[2020-09-04 21:40] #62069 closed

[2020-09-04 21:59] elygre opened #62136 "Describe values to be filled in for configuration form"
In point 9, there is a screenshot of how to fill out the form. It has three relevant fields, for this discussion:

First, "Tenant". It's *fairly* obvious that the the shaded value is supposed to be your tenant ID, so that's ok

Next, "Audience". There is no description at all. That word is not used anywhere in the page, so it's kinda magic. However, the example has a value that starts with `41b232

[2020-09-04 22:05] BharathNimmala-MSFT commented on #62130
@BrianLevenson Thank you for sharing your feedback , we will work with respective document author and incorporate this feedback in the document.

[2020-09-04 22:06] dsindona commented on #62130
@BrianLevenson will the PM submit a doc update via CMO? Otherwise, please have them contact me directly. @anbene FYI
#please-close

[2020-09-04 22:06] #62130 closed

[2020-09-04 22:14] Karishma-Tiwari-MSFT commented on #61794
@viktors-telle Can you please share how have you configured the client certificate on SF? i.e. by thumbprint, by common name, or by common name with pinned issuers.
When you say “I am able to connect using a certificate thumbprint instead of a common name", do you mean that by using FindType = 'FindByThumbprint'; FindValue = “Thumbprint” against the same cluster, Connect-ServiceFabricCluster succe

[2020-09-04 22:17] Karishma-Tiwari-MSFT commented on #61944
@DougPetrole Did that help? Let me know. Thanks.

[2020-09-04 22:20] Karishma-Tiwari-MSFT commented on #62108
@aebaid Can you please provide more context and details around your suggestion on the doc update. This woulds help the author understand the issue better and make updates as necessary.

[2020-09-04 22:29] Karishma-Tiwari-MSFT commented on #61599
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-04 22:43] rolyon commented on #62083
Hi @ricohomewood
Thanks for your feedback. We refreshed the list of operations. It should be current as of today.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations
Let us know if you have additional feedback.
thanks

[2020-09-04 22:44] WinstonHoward-MSFT commented on #61961
Hey @asubmani,

I believe you are referring to [this ](https://docs.microsoft.com/en-us/azure/aks/view-master-logs)doc. I've assigned the issue to that doc author to be fixed. If you are referring to an example kusto query on another page please feel free to let me know and I'll jump right back in.

[2020-09-04 22:44] rolyon commented on #62083
#please-close

[2020-09-04 22:44] #62083 closed

[2020-09-04 22:57] dlepow commented on #61891
@andreasbotsikas - Thanks for the feedback. I've captured the details for a doc update in an upcoming doc sprint. According to our processes, I'll now proceed to close this issue.  Thx again!

#please-close

[2020-09-04 22:57] #61891 closed

[2020-09-04 23:20] TravisCragg-MSFT commented on #61804
@ad-alt I pushed through a different version of your PR. There were issues as the doc owner was recently changed and the typical sign off process did not properly merge the commit the doc will reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and w

[2020-09-04 23:20] #61804 closed

[2020-09-04 23:29] ChaitanyaNaykodi-MSFT commented on #61858
Hello @josh-endries, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-04 23:29] #61858 closed

[2020-09-04 23:41] JamesTran-MSFT commented on #62033
@HockeyJustin
I have created a PR to add steps on how to get to the Manifest, and will now close out this issue since the UI screenshots are still accurate. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-04 23:41] #62033 closed

[2020-09-04 23:42] DavidCBerry13 commented on #54749
@chlumper
I tried this out both by using
`az vm user update -u $username -p $password -n $vmName -g $resourceGroup`
and
`az vm extension set --resource-group $resourceGroup --vm-name $vmName --name VMAccessForLinux --publisher Microsoft.OSTCExtensions --version 1.4 --protected-settings $resetJsonFile`

Both ways, it reset the password for me and I did not experience any timeout issues.  I'm not su

[2020-09-04 23:42] #54749 closed

[2020-09-04 23:49] Tylersuard opened #62138 "Error: Set the COMPUTER_VISION_SUBSCRIPTION_KEY environment variable. **Restart your shell or IDE for changes to take effect.**"
I set my key and my endpoint, but I still get this error, no matter how many times I restart my IDE (VScode by the way).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd31cc0-0bff-8bb0-f848-d048eb0bf53e
* Version Independent ID: 639d27af-330f-2377-72ed-47e2b913c1d9
* Content: [Quickstart: Analy

[2020-09-05 00:25] ChaitanyaNaykodi-MSFT commented on #62124
Hello @jwettstrom, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-05 00:44] ram-msft commented on #62138
@Tylersuard Thanks for the question! We will review and update accordingly.

[2020-09-05 00:46] ram-msft commented on #62125
@AreAyeZee Thanks for your question. Is there a specific doc that you are referring? If so, could you please share the same?

[2020-09-05 00:59] ram-msft commented on #61789
@arseyam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-05 00:59] #61789 closed

[2020-09-05 01:00] ram-msft commented on #61826
@nathander We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-05 01:00] #61826 closed

[2020-09-05 01:12] ronaldb commented on #62037
Yes, ```kubectl delete -A ValidatingWebhookConfiguration nginx-ingress-ingress-nginx-admission``` and then deleting the admission pod created with ```kubectl delete pod nginx-ingress-ingress-nginx-admission-create-xxxxx``` solved the problem.

It didn't happen with the manifest in the sample, but with a fairly simple ingress route it triggered the validation and get the error message. Deleting the

[2020-09-05 01:33] BharathNimmala-MSFT commented on #61965
Thank you @mrbullwinkle for helping on this.

@StefanSchoof Thanks again for reaching out , worker service SDK doesn't provide out-of-box exception tracking unless we have custom code. We need to use [TrackException()](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#trackexception) or capture it as an iLogger trace.

Please feel free to review a sample code from

[2020-09-05 01:33] #61965 closed

[2020-09-05 01:52] BharathNimmala-MSFT commented on #61399
Thank you @dougbrad for helping on this thread.

@pedropaulovc Thanks again for bringing this to notice.  I have raised the PR to update the document , once its reviewed the live document will be updated in next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what we have already raised a PR for . We will go ahead and cl

[2020-09-05 01:52] #61399 closed

[2020-09-05 02:52] haneef95 opened #62142 "Error: AADSTS50020: User account 'Username@outlook.com' from identity provider 'live.com' does not exist in tenant"
Hi,

I've followed the instructions on this page and used the [common](https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration) endpoint as this doc states under the `Fetch the OpenID Connect metadata document` heading that `common` is for:

It works fine for users within the same tenant, however, when trying to sign in with an @outlook.com address, it throws the following e

[2020-09-05 02:54] #49736 closed

[2020-09-05 03:28] leodeoz commented on #57579
@kainzuu Hero!, you were right, it started to work (after some hours) :D i don't know what kind of dark magic was this but the rwrite is working.
The new challenge appears, as the rewrite is returning an insecure file i got "insecure file" to "myazuredge.net". I found this https://www.itinsights.org/Static-Websites-with-Azure-Part-1/ so I'm on it... if there is a better way, i'm open to anything a

[2020-09-05 04:18] josh-endries commented on #61858
Yes, but the Message object returned by the Peek/PeekAsync doesn't. Additionally, the PeekBatch library is legacy, superseded by the Peek library, so going forward (and currently, really) the typical object doesn't. Maybe it could clarify this in the part that references Status.

[2020-09-05 04:22] rangeranger opened #62143 "Why this process is not included in the MSAL Angular sample?"
It looks like the code you mentioned is important and many users are not aware of it. Please include this in Angular Samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8559ad3-5bb7-dc0a-8148-8b0c669bae1b
* Version Independent ID: a9d9d349-ba37-263c-5584-a779b34e3c6c
* Content: [Avoid page reloads (MSAL.js) - Micr

[2020-09-05 04:31] KrishnaG-MSFT commented on #62085
@SwathySubramani Hope you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / en

[2020-09-05 04:33] KrishnaG-MSFT commented on #62047
@DaveBagler Glad to know that you have self resolved the issue. Thanks for the update.

[2020-09-05 04:45] michaelelleby commented on #61495
Should that not be described in the documentation? I am trying to explain to customers why their colleagues cannot see their reservation orders, even if they have Reader role.

[2020-09-05 07:35] ravikusuma commented on #52462
I had the same issue using bash (powershell has no issues). I tried recreating the storage, it wasnt helpful.
Did the old school hack..signed out, signed in to the portal...opened the cloud shell and clicked on the restart.
Magic happened, its working. Perhaps it might help you...give a try , No harm :)

[2020-09-05 07:52] HockeyJustin commented on #62033
@JamesTran-MSFT . Sorry to bother you with this. Your screen looks different to mine. This is what my branding section looks like. Am I just in the wrong area?

<img width="484" alt="msft-b2c-issue2" src="https://user-images.githubusercontent.com/4604271/92300722-fd0cfe80-ef54-11ea-9ead-7051ebebb32c.png">

[2020-09-05 08:37] rtgamber opened #62146 "Grammar errors"
This page is poorly written and has what appear to be grammatical errors.. Please have a native English speaker/editor read this and adjust it.

---o
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ff136fb-c076-b37a-9772-1c30a07fabec
* Version Independent ID: ea5cf8c8-2ff3-7ebc-1c16-adc80912cb50
* Content: [Federating multi

[2020-09-05 09:27] dpapkin opened #62147 "Unable to RDP to VMSS. Article still not updated"
Hi,

Still doesn't work.  Please update the instructions to show how to create the NSG or fix the command so it created the NSG

1) Create NSG in Same Resource Group and Location as VMSS
2) Create Inbound Rule allowing RDP ANy ANY TCP 3389
3) Associate it to the Subnet

Being able to connect to a scale set is an important concept.

_Originally posted by @mimckitt in https://github.com/MicrosoftDoc

[2020-09-05 09:45] thebernardlim opened #62148 "Set-AzKeyVaultAccessPolicy UserPrincipalName not retrieved correctly"
Faced problems when running this line:
`Set-AzKeyVaultAccessPolicy -VaultName $keyVaultName -UserPrincipalName $userId -PermissionsToStorage get, list, delete, set, update, regeneratekey, getsas, listsas, deletesas, setsas, recover, backup, restore, purge`

Error:
`Set-AzKeyVaultAccessPolicy : Cannot find the Active Directory object '' in tenant `
Cause isthe wrong `UserPrincipalName `value was gi

[2020-09-05 09:45] dpapkin commented on #58511
Hi,
  Please update the instructions to show how to create the NSG or fix the command so it creates the NSG

1) Create NSG in Same Resource Group and Location as VMSS
2) Create Inbound Rule allowing RDP ANy ANY TCP 3389
3) Associate it to the Subnet

Being able to connect to a scale set is important concept.  Thanks

[2020-09-05 09:46] dpapkin commented on #53859
Hi,

I don't see any updated memo

 Please update the instructions to show how to create the NSG or fix the command so it created the NSG

1) Create NSG in Same Resource Group and Location as VMSS
2) Create Inbound Rule allowing RDP ANy ANY TCP 3389
3) Associate it to the Subnet

Being able to connect to a scale set is important concept.  Thanks

[2020-09-05 10:14] #62142 closed

[2020-09-05 10:21] ankitoye opened #62149 "Mongoose is fetching empty array from MongoDB"
Suddenly my mongoose app stopped working as CosmosBD (MongoDB) is returning an empty array. It started happening from today only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59571387-86d7-72d7-2c96-6a8e75ee8b1e
* Version Independent ID: d24f0ef2-188f-5603-915e-0a69c2d9b17a
* Content: [Connect a Node.js Mongoose appl

[2020-09-05 10:24] anshu1987 opened #62150 "Not able to SSH into VM via CLI - Showing error message Permission denied (publickey)"
Hi,
I  recently created one VM using Azure Portal, now I am trying to ssh into VM using CLI, but whenever I hit ssh username@IPAddress, it gives me error message Permission denied (publickey).

Can you please suggest what I am missing over here.

I followed some documentation over here  : https://docs.microsoft.com/en-us/cli/azure/azure-cli-vm-tutorial?tutorial-step=4&view=azure-cli-latest

---
##

[2020-09-05 10:30] ram-msft commented on #62143
@rangeranger Thanks for the feedback! We will review and update accordingly.

[2020-09-05 10:35] ram-msft commented on #62147
@dpapkin Thanks for the feedback! We will review and update accordingly.

[2020-09-05 10:43] ram-msft commented on #62148
@thebernardlim Thanks for the feedback! We will review and update accordingly.

[2020-09-05 10:46] ram-msft commented on #62149
@ankitoye Thanks for the feedback! We will review and update accordingly.

[2020-09-05 11:13] KrishnaG-MSFT commented on #62084
@AnassHmida Hope you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance

[2020-09-05 14:08] mibarg commented on #62071
@mcrlc @amih90

[2020-09-05 14:10] haneef95 commented on #59551
Hi,

What are the replacements for `amr` and `acr` claims?

We have a need whereby the client needs to verify that the user has authenticated with MFA.

Kind regards,

[2020-09-05 14:39] haneef95 commented on #46953
Any updates on this?

[2020-09-05 14:44] sartoris opened #62153 "The missing link"
You're saying that because the link is used by many other articles, it's not needed here. That logic assumes a reader lands on this page when reading a series of articles. But most developers I know will land on this page via search. On the web, context is fluid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d678cb66-

[2020-09-05 14:47] himanshusinha-msft commented on #62146
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-05 14:51] himanshusinha-msft commented on #62153
@sartoris . Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

Cam I request you to please elaborate a bit more on "You're saying that because the link is used by many other articles" ?

[2020-09-05 14:55] himanshusinha-msft commented on #62150
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-05 15:56] kobulloc-MSFT commented on #59551
@haneef95 Would you mind opening a new issue with this question?  It will help us with our tracking, as well as help other readers with the same question.  Thank you!

[2020-09-05 16:22] kobulloc-MSFT commented on #61919
@robvet The documentation has been updated and the changes should go live shortly.  Thank you for helping to improve our documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-05 16:22] #61919 closed

[2020-09-05 16:54] anshu1987 commented on #62150
Hi, Kindly treat this on urgent as I am completely block due to this, I tried portal, powershell as well but unable to ssh into machines.

[2020-09-05 17:32] robvet commented on #61919
Thanks for listening.

Please don’t take any of  suggestions critically – always trying to be constructive.

Rob Vettor  | Principal Cloud-Native Application Architect
                      | SSG IP Architect
                      | Microsoft Certified Trainer
                      | CNCF (Cloud-Native Computing Foundation) Speaker Bureau<https://nam06.safelinks.protection.outlook.com/?url=https%3

[2020-09-05 17:50] TimSchaub commented on #44030
Thanks Patrick.
In my Ubuntu 18.04. there is just too many "*" in it. This one works for me:
/home/edcazadmin/helpers/mount.sh       /mnt/storage    fuse    defaults,_netdev        0       0

Regards Tim

[2020-09-05 18:55] sartoris commented on #62153
I thought I was adding to this issue - not creating a new one:
https://github.com/MicrosoftDocs/azure-docs/issues/54938

On Sat, Sep 5, 2020 at 7:51 AM himanshusinha-msft <notifications@github.com>
wrote:

[2020-09-05 19:09] ankitoye commented on #62149
Sorry, it's was user error. This can be closed.

[2020-09-05 19:09] #62149 closed

[2020-09-05 23:19] haneef95 opened #62154 "When will amr and acr claims be available in v2.0 of Microsoft Identity Platform?"
Hi,

This has been an ongoing question for a while now...
#59551, #46953

The latest that I've seen is:

https://github.com/MicrosoftDocs/azure-docs/issues/46953#issuecomment-579924979

We have a need whereby the client needs to verify that the user has authenticated with MFA.

Creating a new issue as advised by @kobulloc-MSFT [here](https://github.com/MicrosoftDocs/azure-docs/issues/59551#issueco

[2020-09-05 23:26] kobulloc-MSFT commented on #62154
@haneef95 Thank you for creating a new issue to help with tracking.  We are investigating this and will get back to you shortly.

[2020-09-06 00:02] Anand-Moghe commented on #52036
Going to refer to this [link](https://docs.microsoft.com/en-us/azure/app-service/overview-patch-os-runtime)

[2020-09-06 00:02] #52036 closed

[2020-09-06 00:15] jackchenquest commented on #21611
@xyz92  I am wondering if you were able to resolve this issue with Azure support? We had same issue with sandgrid ( free account banned and can't delete resource ), reached Azure support and they are saying there isn't anything they can do and we have to reach sendgrid support, which sounds ridiculous to me, since we opened the account through Azure and we just want to get rid of it.

[2020-09-06 00:49] juhang62 opened #62155 "how can I use the minify option for hugo building"
I assume I need to change the automatic generated workflow file. But I don't see how to edit it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878bad36-454a-063c-4100-c73f9e90aea3
* Version Independent ID: b0c548c8-f830-311f-07e1-84f0ba644943
* Content: [Tutorial: Publish a Hugo site to Azure Static Web Apps](https://

[2020-09-06 06:28] KrishnaG-MSFT commented on #62142
@haneef95 Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-09-06 07:09] Tusharsp commented on #62103
Thank you for your response. If you are aware can you let me know the possible way to publish second function in azure app? I had to create 2 Azure apps for 2 functions which does not seem optimum. Publish through VS code doesnt work at all, I have to work only in Azure CLI.

[2020-09-06 07:29] i7a7467 opened #62159 ""https://jwt.ms" SSL certificate expire"
` developers can decode JWTs (JSON Web Tokens) using a site like jwt.ms. `

Although it is described that this url(https://jwt.ms) is used, the SSL certificate of this url has expired on 06/09/2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-29

[2020-09-06 08:27] AnuragSharma-MSFT commented on #62149
@ankitoye Thanks for closing this. Please let us know if you face any other issue and we can discuss on the same.

[2020-09-06 09:15] ram-msft commented on #62155
@juhang62 Thanks for the feedback! We will review and update accordingly.

[2020-09-06 09:15] shashishailaj commented on #62159
@i7a7467 Thank you for pointing this out and we apologize for the error. I have contacted the team internally and we will have this fixed soon. I will update the thread once done.

Thank you.

[2020-09-06 10:28] ymasaoka opened #62160 "RU's distribution is by physical partition, not logical partition"
RU's are distributed by physical partition.
In this article, I think it's inappropriate because you can read that RU's are distributed by logical partitions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independent ID: d6cc05c7-b724-df22-116f-b8f464293a35
* Content: [Wor

[2020-09-06 10:41] vsabella opened #62161 "AKS Documentation"
The AKS Network Configuration / Egress Documentation talks about enabling AzureCloud.* and some other NSG Service Tags, but it does not talk about needing the internet in general, or adding MicrosoftContainerRegistry service tag.

Therefore, the documentation doesn't clearly state that you need *more* open NSG service tags to make this actually work correctly.

Could we get a minimum list of Servi

[2020-09-06 11:29] SeanKilleen opened #62163 "Clarity on Identity Choices for SaaS app"
Hi all,

Thanks for the wealth of docs! I have a question and after reading the docs, I'm still slightly confused as to the recommendation. I figured I'd ask here for guidance and then I could channel that into a PR to update the docs.

Scenario: I am building an enterprise SaaS app. I need to enable organizations to sign up and provision their users within my application. I am targeting both exis

[2020-09-06 12:06] shashishailaj commented on #62146
@billmath Could you please review this request ?

[2020-09-06 12:08] shashishailaj commented on #62143
@rangeranger Could you please let us know if you are referring to a specific sample ?

[2020-09-06 12:09] shashishailaj commented on #62159
@i7a7467 I will update once I have more information on this.

[2020-09-06 12:42] ukhan opened #62164 "Which authentication flow is best to use in browser extension?"
My question is: Which authentication flow is best to use in browser extension?

In the [extension](https://chrome.google.com/webstore/detail/add-to-microsoft-to-do/loblkkbfciiklgoblkigehhghfjfjede), I used "[web code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow)" (with client_secret). It worked for personal accounts, but did not work for Azure AD a

[2020-09-06 13:40] shashishailaj commented on #61936
@aKynsella Thank you for confirming.  We have a running internal project for the same and Microsoft takes this very seriously . However , if you do find anything like this, you are always welcome to let us know and we will be able to have this fixed ASAP. We will be closing this issue now as there are no further actions pending on this issue.

Thank you.

[2020-09-06 13:40] #61936 closed

[2020-09-06 14:00] mslot commented on #12846
@APIWT could you describe your process on how to do this?

[2020-09-06 14:19] shashishailaj commented on #62090
@jfo-ta Thank you for pointing that out. WE verified this internally and have raised a pull request for fixing it in the current document . Once it is reviewed by the maintainers this will be updated in the next 48 hours. We will now close this issue . Should you still have any further queries , please feel free to tag me to your reply and I will be happy to help . Alternatively if I am not availa

[2020-09-06 14:19] #62090 closed

[2020-09-06 16:34] ram-msft commented on #62160
@ymasaoka Thanks for the feedback! We will review and update accordingly.

[2020-09-06 16:42] himanshusinha-msft commented on #62163
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-06 16:44] himanshusinha-msft commented on #62164
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-06 16:46] himanshusinha-msft commented on #62161
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-06 19:08] AjayKumar-MSFT commented on #61981
Ken, Your feedback has been shared with the content owner for further review.

[2020-09-06 19:11] kulbirjandoria opened #62166 "Shared Image ID & version arguments not working in ARM template"
Hi,

I am try to build ARM template for Vm creation using Shared image gallery, but the its not accepting the values for sharedImageID its faileing with below error:
 "error": {
    "code": "InvalidResourceIdFormat",
    "message": "Resource Id provided is not in correct format for property SharedImageId."
  }

I am providing the resource id for image definition from shared image gallery, but stil

[2020-09-06 19:32] AjayKumar-MSFT commented on #62002
@rachelxj-ms, The section "[Supported log types](https://docs.microsoft.com/azure/app-service/troubleshoot-diagnostic-logs#supported-log-types)" in the document, highlights "File changes made to the site content; only available for Premium tier and above", hope this clarifies Or let us know if you still think more clarity on this necessary.

[2020-09-06 19:39] fourthdimension opened #62167 "Incorrect Link for JSON list of "Data center outbound IP addresses""
**On this page:**
https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#data-center-outbound-ip-addresses

**Section:**
Data center outbound IP addresses

**Link is not correct:**
..."download a JSON file that lists IP addresses for all Azure data centers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c

[2020-09-06 19:45] AnuragSharma-MSFT commented on #61862
@pvmraghunandan Could you please look into above ask?

[2020-09-06 19:59] jgwinner commented on #62034
@WinstonHoward-MSFT No worries, thanks WInston. I just like to try to reference these issues when I run into them. The steps listed won't work at all for our Windows app. Kind of ironic that Microsoft doesn't make it easy to build Windows apps.

[2020-09-06 20:00] shashishailaj commented on #60787
The quickstart is a sample and they are hosted on github with details on docs.microsoft.com namespace . The azure samples pages are moved to docs.microsoft.com namespace. The current URL it links to is https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-dotnet-native-aspnetcore-v2/active-directory-dotnet-native-aspnetcore-v2/ . Earlier they were liking to azure.microsoft.com na

[2020-09-06 20:00] #60787 closed

[2020-09-06 20:35] shashishailaj commented on #61707
@mattlangeman Apologies for the delay on this . We checked this and found that you can update redirect_URI to be http://127.0.0.1 by editing the value from application manifest so the details provided in the article are correct . The UI does not seem to like it for some reason .

![image](https://user-images.githubusercontent.com/532022/92334754-7d934280-f0ae-11ea-9cc8-df246bf85fc6.png)

I have re

[2020-09-06 20:43] shashishailaj commented on #61453
@john-crouch Thank you for your patience with us and apologies for the late reply on this. I tried to find more information but was not successful . It would be better to work with the support team to find a solution for this issue to understand more. Please send an email to us on azcommunity[at]microsoft[dot]com referencing this thread and a subject line "ATTN Shashi" along with your azure subscr

[2020-09-06 20:43] #61453 closed

[2020-09-06 20:56] SvenAelterman opened #62169 "Purpose of Connection property is unclear"
The code sample where the controller is modified is confusing. There is a private static property defined and initialized, but they are never used (`Connection`).

The Connection property seems like it should be used to call GetDatabase(), however, the actual call to GetDatabase is called in a `using` block, indicating the resource should be disposed of. This seems to run counter to creating a pro

[2020-09-06 21:12] simonsigre opened #62170 "Updated Link: "Information Security Manual (ISM)" - https://www.cyber.gov.au/acsc/view-all-content/ism"
The ACSC has updated the link (some time ago) from;

`https://acsc.gov.au/infosec/ism/`

--> `https://www.cyber.gov.au/acsc/view-all-content/ism`

Whilst the original link has a redirect in place, its probably best to update all `acsc.gov.au` --> `cyber.gov.au` .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be349f4d-

[2020-09-06 21:18] shashishailaj commented on #61402
@thomas-chizek We are sorry that you had a bad experience with the documentation . I understand you faced some difficulty with . While I agree In some cases , you may not find every cornercase /scenario covered within the documentation, but we do have relevent information linked most of the times to the samples repository or repos on github where most of the sample code is available for consumptio

[2020-09-06 21:18] #61402 closed

[2020-09-06 21:30] ms-zhouma opened #62171 "Live metrics chart for custom event best practice?"
Actually two questions.

## Adding more charts to the live metrics dashboard
In the Live Metrics page there are only 3 streams (Request, Dependency, PerformanceCounter) by default. And I can't seem to find a way to add more rows... Is it even supported?

If so, anyone knows how to do that?
If not, any plan for adding this support?

## Custom measurement not showing up in event stream

I'm trying t

[2020-09-06 22:03] SteveBurkettNZ opened #62173 "Needs P2S with Azure ExpressRoute use case added"
Would be useful to also include the use case of Azure P2S users connecting through to on-premises services where the branch office is connected to Azure via Azure ExpressRoute rather than a S2S VPN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4c

[2020-09-06 22:24] RonnieQuan opened #62174 "Encountered Syntax Error"
In step 8 of https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-rdp-intermittent-connectivity#serial-control
Encountered Syntax Error, Can you please help?

C:\windows\system32>REG ADD "HKLM\SYSTEM\CurrentControlSet\control\Terminal Serv
er\Winstations\RDP-Tcp" /v 'fInheritMaxDisconnectionTime' /t REG_DWORD /d 1 /f R
EG ADD "HKLM\SYSTEM\CurrentControlSet\control\T

[2020-09-06 23:12] BrunoGaudette opened #62175 "Ports mapping in docker run command is inversed"
The mapped ports should come second and not first.
8080:80 and 8081:443 instead of 80:8080 and 443:8081.

[code]

Using the commande as is in Docker Desktop results in error:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c4b1277-dd1e-ceb2-cb85-e3d3df3f6d83
* Version Independent ID: 1f5b6c37-2462-d5a7-2461-df2f64794a0

[2020-09-06 23:13] rangeranger commented on #62143
@shashishailaj : All the below samples

1. https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular/tree/master/
2. Also, all angular versions samples here: https://www.npmjs.com/package/@azure/msal-angular#samples

[2020-09-06 23:20] Anand-Moghe opened #62176 "Is Global peering possible between different region and subscriptions with Azure Gov and Azure Public Cloud?"
I came across the below sentence from VNET FAQ which state:

Yes. Global VNet peering enables you to peer VNets in different regions. **Global VNet peering is available in all Azure public regions, China cloud regions, and Government cloud regions.** _You cannot globally peer from Azure public regions to national cloud regions._

This statement is bit confusing. What is it trying to say? In the fi

[2020-09-07 01:01] mandiaya commented on #62073
Hi Thanks for your reply!

[2020-09-07 01:11] VikasPullagura-MSFT commented on #62161
@zr-msft @palma21
Can you please check and add your comments on this doc update request as applicable.

[2020-09-07 01:12] #62081 closed

[2020-09-07 01:13] #61886 closed

[2020-09-07 01:28] rachelxj-ms commented on #62002
@AjayKumar-MSFT Thank you, highlight is better, PG is going to fix this in portal

[2020-09-07 01:40] likebupt commented on #62014
Hi @hermandr  ,
Thanks for your feedback.
You could hover on the port and the port name will show up like following:
![image](https://user-images.githubusercontent.com/39058063/92340628-bd2d4f00-f0ed-11ea-9106-0268e3c11b12.png)
The left port is sweep result, right-click and you could visualize the sweeping parameters and the metrics.
The right port is the Trained best model, which could be used to

[2020-09-07 02:47] karataliu opened #62180 "Clarify "You can request Key Vault to manage your storage account with a user principal, but not with a service principal.""
I don't read why there is limitation you cannot let keyvault manage storage account with sp, actually we already do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b568009-2a35-c627-cfa0-ff5cbfde027e
* Version Independent ID: 07fc2d02-be89-1170-3b37-9e65808d5d89
* Content: [Manage storage account keys with Azure

[2020-09-07 02:47] BhargaviAnnadevara-MSFT commented on #62166
@kulbirjandoria Thanks for the question! We're investigating this and will get back to you shortly.

[2020-09-07 02:47] MayankBargali-MSFT commented on #62175
@BrunoGaudette Thank you for your feedback! We will review and update as appropriate.

[2020-09-07 02:58] MayankBargali-MSFT commented on #62167
@fourthdimension Thank you for your feedback! We will review and update as appropriate.

[2020-09-07 03:03] OneBlueBird opened #62181 "Missing TrustFrameworkBase.xml"
Hello,

I am trying to setup ROPC with custom policy using the document from link:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/ropc-custom?tabs=app-reg-ga

When uploading ROPC-Auth.xml file, we are getting error as given below:

Policy B2C_TrustFrameworkExtensions tenant "{tenant}" makes a reference to UserJourney with id ResourceOwnerPasswordCredentials but neither the policy nor

[2020-09-07 03:04] RonnieQuan opened #62182 "Differences between Azure Netapp files NFS and Blob Storage NFS"
What are feature differences in following two services?
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-volumes
https://docs.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-support

What about premium fileshare? does it support NFS?
https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-premium-fileshare?tabs=azure-portal

[2020-09-07 03:11] RonnieQuan commented on #61714
@BharathNimmala-MSFT
Just follow up on my questions posted 7 days ago, will you have chance to help?

Thank you!

[2020-09-07 03:19] racchen commented on #62082
@psmanhas  thanks! please keep me update if you have any insight.

[2020-09-07 03:46] RohitMungi-MSFT commented on #62170
@simonsigre Thanks for the feedback. We have assigned the issue to our content author to update the documents with the correct link. @emilyre Could you please review and update the required documents?

[2020-09-07 03:56] Calvin-Yuhui-Liu commented on #12948
I have the same issue and didn't figure out a way to fix it -- the default TrustFrameworkBase.xml in LocalAccounts folder has empty UserJourneys section so where did you get the "same section from LocalAccounts"? Would you please clarify it? Thank you.

[2020-09-07 03:56] SwathiDhanwada-MSFT commented on #62171
@ms-zhouma Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-07 04:02] SubhashVasarapu-MSFT commented on #61913
@SingularityPeru, I was wondering if you have had a chance to look over our previous reply yet.

[2020-09-07 04:12] souravmishra-msft commented on #61791
@csjn, I apologize for the delay in my response. I would like to confirm that Google Chrome also has the same behaviour, where SEAMLESS SSO doesn't work in incognito mode. I will update the doc accordingly and thank you for pointing this out.

[2020-09-07 04:13] SnehaAgrawal-MSFT commented on #61847
@v-hakob Thanks again for the feedback! PR has been created it will visible soon.

[2020-09-07 04:13] #61847 closed

[2020-09-07 04:20] SnehaAgrawal-MSFT commented on #61853
@Farhad-Heybati Since we didn't heard back from you! We will now close this issue, Let us know if you need further information on this.

[2020-09-07 04:20] #61853 closed

[2020-09-07 04:20] ram-msft commented on #61908
@adiun Thanks for the feedback. AML  supports training on local laptops etc, then using AML service just for experiment tracking … for example you can log your key metrics, keep track of your models etc even though your training/test data never leaves on-prem. Then if desired, for an experiment that requires scale up/out, you could put the data in Azure using customer managed encryption keys and v

[2020-09-07 04:26] #62073 closed

[2020-09-07 04:27] vipulsparsh commented on #61722
@robermud We will be closing this now, please feel free to tag me in your comment if you need help.

[2020-09-07 04:27] #61722 closed

[2020-09-07 04:38] SumanthMarigowda-MSFT commented on #62182
@RonnieQuan  Thanks for the question! We are investigating and will update you shortly.

[2020-09-07 04:39] PramodValavala-MSFT commented on #62055
@drdamour Glad we were able to help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-07 04:39] #62055 closed

[2020-09-07 05:00] AshokPeddakotla-MSFT commented on #61894
@zoombach Did you get a chance to see the above response?
Since there are no issues with the documentation, if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

[2020-09-07 05:02] AshokPeddakotla-MSFT commented on #62116
@diablodale  I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-07 05:15] dpapkin commented on #62147
Sure. This documentation issue has been unresolved for years , since people still giving feedback on it. Lets solve it once and for all :)

[2020-09-07 05:17] dpapkin commented on #53859
Document has not been updated with appropriate memo.. Impacted all my azure students

[2020-09-07 05:27] SwathiDhanwada-MSFT commented on #61991
@elvirk Yes, you can deploy multiple custom roles using single ARM template. Each custom role will have only one set of "action" and one set of "non actions".  Providing a sample template for your reference.

`{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "actions": {

[2020-09-07 05:34] dominicbetts commented on #61615
Hi @davix - thanks for the feedback on the article. We took a conscious decision not to include links to the source code because we wanted to encourage people to look at the code as we explained how the different features are implemented. That said, yours is not the first comment along these lines so we are reconsidering the approach. There are plenty of other samples to download and run in the Py

[2020-09-07 05:35] AnuragSharma-MSFT commented on #61852
@paulfirelordmu Thanks for providing the information. This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-07 05:35] dominicbetts commented on #61615
I'll close this issue now, but feel free to post any follow-up comments. Thanks again.
#please-close

[2020-09-07 05:35] #61615 closed

[2020-09-07 05:39] AnuragSharma-MSFT commented on #61904
@kazshi These changes will be live once the PR is approved/merged. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@NavtejSaini-MSFT

[2020-09-07 05:39] #61904 closed

[2020-09-07 05:40] AnuragSharma-MSFT commented on #61903
@kazshi These changes will be live once the PR is approved/merged. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@NavtejSaini-MSFT

[2020-09-07 05:40] #61903 closed

[2020-09-07 05:42] AnuragSharma-MSFT commented on #62169
@SvenAelterman Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-07 05:50] SvenBell opened #62184 "Updates and additions required"
Hi, I have been referencing this page and found the following updates required:

Missing Service Plan Name: PHONESYSTEM_VIRTUALUSER
Missing Service Plan Name: MCOPSTNEAU2
Missing Service Plan Name: TEAMS_EXPLORATORY
Missing Service Plan Name: POWER_BI_STANDARD
Missing Service Plan Name: FLOW_FREE
Missing Service Plan Name: MCOCAP

Service Plan Name: MCOEV
Current Name: SKYPE FOR BUSINESS CLOUD PBX

[2020-09-07 06:02] ocdi opened #62185 "Javascript binding examples"
The blob storage javascript/typescript input examples here are not showing any useful details. How are these supposed to be used correctly? When I generated a function using the VS Code extension, it made a function like this:

[code]

The problem here is what is `myBlob`? It is typed as `any`, which isn't helpful. Will I get a string of the blob contents? Is it an object containing information? I

[2020-09-07 06:04] JayaChatterjee-MSFT commented on #62076
@DatacomGIT I haven't heard back from you. Could you please share the problem description so that we can proceed further with this.

[2020-09-07 06:08] jl-ms commented on #48257
Peering does not restrict or impact MTU, and there is no difference between Global Peering and In-region Peering in the context of MTU size support. Higher MTUs may work based on the type and settings of the VM NIC (eg: setting jumbo frames enables MTU of 4K without fragmentation). In the end, supporting larger MTU size would depend on the VM NIC settings and network infrastructure, but by default

[2020-09-07 06:10] gbgJonas opened #62186 "Top note is not clear."
Hello, thanks for updating the top note :) I would say that it is still not 100% though. The last sentence in the first part
" A resource deployed in the linked template isn't deleted." confuses me. If you have a template with linked 'children' and run the template in complete mode resources in a linked child template will be deleted if it is deleted from the template.
I'm not sure if I misunderst

[2020-09-07 06:13] vipulsparsh commented on #61849
@SmithMMTK We will be closing this now, if you have any follow up questions, please do tag me in your comment.

[2020-09-07 06:13] #61849 closed

[2020-09-07 06:16] vipulsparsh commented on #61922
@AmitavaHazra We will be closing this now, if you have any questions, please feel free to tag me in your comment.

[2020-09-07 06:16] #61922 closed

[2020-09-07 06:16] MayankBargali-MSFT commented on #62175
@BrunoGaudette The error message is expected if port 80 is not available. If you refer to the docker [document](https://docs.docker.com/engine/reference/commandline/run/#publish-or-expose-port--p---expose) the port is for the host machine. In [document](https://docs.microsoft.com/en-us/azure/api-management/how-to-deploy-self-hosted-gateway-docker#deploy-the-self-hosted-gateway-to-docker) point 8 i

[2020-09-07 06:27] MayankBargali-MSFT commented on #61987
@drdamour I have performed some test at my end and found that it handles internally if you passed queueName or topicName in the function.json property and these value are expected in property of function.json. Looks like it internally binds the function.json property queueName or topicName to attribute [queueorTopicName](https://github.com/Azure/azure-functions-servicebus-extension/blob/v4.1.2/src

[2020-09-07 06:35] amanmcse commented on #62012
@AndyBunning Closing the issue as we did not hear back from you.

[2020-09-07 06:35] #62012 closed

[2020-09-07 06:41] SwathiDhanwada-MSFT commented on #62186
Thanks for the feedback @gbgJonas.

Assigning to content author @tfitzmac for review.

[2020-09-07 06:42] hund030 commented on #61490
I was using wrong package. To make the sample code work I should use `Microsoft.Azure.Management.Cdn` but I was using `Microsoft.Azure.Management.Cdn.Fluent`, which caused the error.
BTW, I would like to know what's the difference between these two package?

[2020-09-07 06:44] simonzhaoms commented on #61939
Close this issue because my problem solved

[2020-09-07 06:44] #61939 closed

[2020-09-07 06:55] shashishailaj commented on #62181
@OneBlueBird Thank you for your feedback . We will investigate and update the thread.

[2020-09-07 06:57] shashishailaj commented on #62180
@karataliu Thank you for pointing this out . We will have this checked and update the thread.

[2020-09-07 06:58] rrajan82 opened #62187 "Parse Nested JSON response within Receiving data section"
In section https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-intro#receiving-data, the article states that in the case of Nested JSON response given back by RESTFUL API, set the ResolveJsonPathsInJsonTokens metadata to true, and then we need to specify the element in PartnerClaimType.

<OutputClaims>
  <OutputClaim ClaimTypeReferenceId="displayName" PartnerClaimTyp

[2020-09-07 07:05] SubhashVasarapu-MSFT commented on #62176
@Anand-Moghe, Thanks for reaching out. We will investigate and update this thread.

[2020-09-07 07:25] psmanhas commented on #62174
@RonnieQuan Thank you for the feedback. We will look into it and will keep you updated on the thread

[2020-09-07 07:26] JayaChatterjee-MSFT commented on #62185
@ocdi Thank you for your feedback! We will review and update as appropriate.

[2020-09-07 07:41] viktors-telle commented on #61794
Hi @Karishma-Tiwari-MSFT! The certificate is configured by a common name (subject name) with the issuer thumbprint specified.
Indeed, you are correct, the connection succeeds if I use FindType = 'FindByThumbprint'; FindValue = “Thumbprint” approach for a different certificate.

[2020-09-07 07:43] shashishailaj commented on #62184
@SvenBell Thank you for pointing out . We will investigate the thread and update the thread.

[2020-09-07 07:51] shashishailaj commented on #62187
@rrajan82 Thank you for sharing the observation. We will investigate and update the thread.

[2020-09-07 07:52] amanmcse commented on #62181
@OneBlueBird You will need to use the TrustFrameworkBase.xml file provided in the starter pack. You can download the starter pack using `git clone https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack` or [Download the .zip file ](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/archive/master.zip). Make sure, you update the TrustFrameworkBa

[2020-09-07 07:54] kinetiq opened #62189 "Error in host.json provided for logging"
The host.json provided for setting up logging shows errors in Visual Studio. It's on the samplingExcludedTypes line and the error is: Object shouldn't contain additional properties.

Googling the error brought me to: https://github.com/MicrosoftDocs/azure-docs/issues/47219

So, consider this update:

{
  "version": "2.0",
  "logging": {
    "applicationInsights": {
      "samplingSettings": {

[2020-09-07 08:46] PramodValavala-MSFT commented on #62189
@kinetiq Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-09-07 08:55] vipulsparsh commented on #62065
@D-Moonesinghe Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand  Can you have a look ?

[2020-09-07 08:59] amanmcse commented on #62072
@hypertrends Thank you for reaching out. Please post roadmap related questions at our [feedback portal](https://feedback.azure.com) which is monitored by the product team and they can share the timeline.

[2020-09-07 08:59] #62072 closed

[2020-09-07 09:12] AgassiJoeLVedala89 opened #62190 "Migrate Classic Vnet and Classic Compute to another subscription"
[Enter feedback here] Can some one kindly let me know or share the documentation link to migration classic resources from one subscription to another.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51002d4a-d8de-53d1-2e78-cb0440f5f23e
* Version Independent ID: 40f69d9c-2cb7-87e1-291d-525882347925
* Content: [Move resou

[2020-09-07 09:23] akumaranchath opened #62191 "SSH access is not blocked in an ESP cluster"
The document reads:
“Security and user isolation are important for a HDInsight cluster with Enterprise Security Package. To meet these requirements, SSH access to the cluster with Enterprise Security Package is blocked.”

This statement is incorrect: SSH is not blocked in an ESP cluster. On secure clusters, by default, all domain users in Azure AD DS are allowed to SSH into the head and edge nodes

[2020-09-07 09:38] suneelsunkara opened #62192 "Geolocation headers for Azure CDN"
[Enter feedback here]
Hi Team,
Does Azure CDN support Geolocation headers to give you more granular control of cache behavior and your origin access to the viewer’s country name, region, city, postal code, latitude, and longitude, all based on the viewer’s IP address?
Thanks,
Suneel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-09-07 09:39] MayankBargali-MSFT commented on #62167
@fourthdimension The download link is pointing to the correct [azure data center IP's](https://www.microsoft.com/en-us/download/details.aspx?id=56519). You need to click on download and it will download ServiceTags Public IP's json file.
As mentioned in the [document ](https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#data-center-outbound-ip-addresses) you need to search with the

[2020-09-07 09:58] AgassiJoeLVedala89 commented on #55687
I am having the same issue can you guys help us?

[2020-09-07 10:03] KrishnaG-MSFT commented on #62190
@AgassiJoeLVedala89 I believe [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/classic-model-move-limitations) is the doc that you are looking for.

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, prod

[2020-09-07 10:12] #62189 closed

[2020-09-07 10:16] KillianW opened #62193 "Referenced JSON schema does not describe a full policy definition."
The documentation states that: "The policy definition schema is found here: https://schema.management.azure.com/schemas/2019-09-01/policyDefinition.json"
<details>
<summary>View Schema</summary>

[code]
</details>

However, unless I am mistaken, the schema definition at that location is only for the 'policy rule' section of a policy definition. If you test the example policy definition on the page

[2020-09-07 10:48] pvrk commented on #61803
@eransamocha : With regards to the statement: "The idea here stems directly from a customer request to figure this out.", I am exactly trying to figure out why? I can try to get the entire list but I want to understand where the customer has to provide these.

[2020-09-07 10:51] kailashmsft opened #62194 "when this feature would be available in Azure government cloud"
[Enter feedback here]

one of my customer is looking for this feature in azure government cloud?
Are there any ETA for this
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active

[2020-09-07 11:08] JayaChatterjee-MSFT commented on #61848
@alvinkwekel In this case you should not expect an Event Grid event to be triggered in a timely fashion for each message and then handle only that message.
This is a mechanism that is designed to trigger a receiver and for the receiver then to keep processing messages while they are instantly available. That also explains the two minute interval: https://docs.microsoft.com/en-us/azure/service-bus-

[2020-09-07 11:22] steveculshaw opened #62196 "Confusion over reference to File System versus Container for "users""
[Enter feedback here]
The "Create a Synapse workspace" talks about File System for "users", whereas the "Prepare a storage account" talks about a container for "users"

Is the reference to File System correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID:

[2020-09-07 11:28] rwiankowski commented on #61430
Thank you! This is amazing feedback!

[2020-09-07 11:41] oliverchristen opened #62197 "--tc option has been removed in version 2.6.x"
Mentioned here: https://azure.github.io/Industrial-IoT/modules/publisher.html the --tc option has been removed in version 2.6.x of the OPC-Publisher module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b45e23f-0e80-8483-ece2-eb91f54aee23
* Version Independent ID: 492d75c1-4bb3-4ab5-8008-c501ac03b466
* Content: [Conf

[2020-09-07 11:42] Suizi11 commented on #60870
Hi @kgremban

Yes, thank you. Would be better to mention it that the verification of the root CA cert is required if somebody is creating an enrollment group using certificate type "CA".

Regarding the second issue:
I had 3 certs - Root CA --> Intermediate CA --> Device CA
I tried to upload the IntCA with certificate type "Intermediate CA". I set the full chain and key of the identity cert on the

[2020-09-07 11:48] HarithaMaddi-MSFT commented on #62191
@akumaranchath - Thanks for sharing your valuable feedback. I am moving it to content owner to review.

@omidm1 - Can you please take a look?

[2020-09-07 12:04] RohitMungi-MSFT commented on #62173
@SteveBurkettNZ Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-07 12:12] HarithaMaddi-MSFT commented on #62191
@akumaranchath - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/128753

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-07 12:16] AnuragSharma-MSFT commented on #62056
@marcusfm Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-09-07 12:19] simonvane commented on #36178
I have just run into this issue and wasted a morning working out what was going on. I don't think this is a documentation issue as such. I think the real issue is that app settings with names of greater than 64 characters can be created with warning or error.

Could this issue be re-opened or could you help me with where the best place to raise an issue would be please?

[2020-09-07 12:49] HarithaMaddi-MSFT commented on #62196
@steveculshaw - Thanks for sharing your valuable thoughts. Early this year in February, ADLS Gen2 has changed the label "Data Lake Gen2 File System" to "Containers" to ensure naming consistency across storage services. Synapse workspace creation was referring to filesystem using the earlier convention. Document is currently aligning with portal terminology that is inconsistent between ADLS and Syn

[2020-09-07 13:01] rploeg opened #62199 "SQLCMD not installed in standard container"
Hi,

When I try to execute this in the docker:

/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P "<YourNewStrong@Passw0rd>"

the problem is that sqlcmd is installed in the container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e48b7502-105d-b440-0e30-f69d0a75a5de
* Version Independent ID: 36d4e3f3-0b6b-1a0c-562c-009

[2020-09-07 13:06] eNeRGy164 opened #62200 "Typos in "Front Door & WAF""
There are 2 typos.

1. In the description of the page: _**AAzure** Front Door Service_
2. In chapter 5, line 3: _for **exmaple**, contoso.com_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7528220b-b6b5-1465-f33f-4f282af5e6de
* Version Independent ID: f8151b07-016c-4f85-d465-8650fdc7be83
* Content: [Quickly scale and

[2020-09-07 13:13] steveculshaw opened #62202 "Where is the "Attach to" referring to in the SQL script?"
[Enter feedback here]

The section around using a SQL script  with the parquet file says "In the script, the Attach to field is set to SQL on-demand."

But the script doesn't have any "Attach to" field in it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc0038a0-74af-1272-a637-8415b5a06731
* Version Independent ID: c

[2020-09-07 13:15] alvinkwekel commented on #61848
@JayaChatterjee-MSFT Thanks for you reply. I understand the notification design and that I shouldn't expect a notification for each individual message. This makes perfect sense.

But apart from the documented 2 minute interval for pending messages I notice a longer delay of about 5 to 7 minutes when new messages comes in after a receiver has just read messages from the queue.

Lets assume there is

[2020-09-07 13:19] steveculshaw opened #62203 "Which notebook is the page referring to?"
[Enter feedback here]

The page refers to ... "Go to the Develop hub and find the notebook you previously created."

But which one?  ... you create various notebooks, e.g. both pages "3 - Analyze with Apache Spark" and "5 - Analyze data in a storage account"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63469eed-3276-

[2020-09-07 13:30] jikuja opened #62204 "How data age is calculated for retention purposes"
Documentation does not mention how data age is calculated. Is **TimeGenerated** field being used or some other internal field?

Data collecter API contains **time-generated-field** header to set TimeGenerated. If user is setting this value older than configured retention limit will the data be pruned as soon as pruning process is started after data import?

---
#### Document Details

⚠ *Do not edi

[2020-09-07 13:44] HarithaMaddi-MSFT commented on #62202
@steveculshaw - Thanks for your valuable inputs. I am looking into it and will update you on the details shortly.

[2020-09-07 13:46] HarithaMaddi-MSFT commented on #62203
@steveculshaw - Thanks for your valuable inputs. I am looking into it and will update you on the details shortly.

[2020-09-07 13:51] psmanhas commented on #62194
@kailashmsft Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-07 13:52] souravmishra-msft commented on #61990
Hello @jmprieur, can you please check on this and share a clarity from the code side.

[2020-09-07 13:53] psmanhas commented on #62194
@SanDeo-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-09-07 13:57] zoombach commented on #61894
I finally got the app to work as per the article by looking using a previous commit.  The app has changed to an app called "things", not what the article describes.

I used the commit 18ae6b15c3d10a86bcf9d0a5970ef88384291833 and that works....the head (the last commit) is a different app called "things.  That really should have been done in a  different directory or branch.

https://github.com/Azu

[2020-09-07 14:09] tsarpaul commented on #52554
Couldn't find documentation how to use this feature..

[2020-09-07 14:10] PingPongSet opened #62205 "Error Setting Up Managed Identity by Signing into Azure SQL Database via Azure AD for Azure AppService"
I am having a problem running the command from the link below:

`sqlcmd -S <server-name>.database.windows.net -d <db-name> -U <aad-user-name> -P "<aad-password>" -G -l 30`

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d5

[2020-09-07 14:13] SwathiDhanwada-MSFT commented on #62204
@jikuja Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-07 14:18] shortpatti commented on #61964
@aebaid, Thanks for your feedback.  I'll work on getting the information included :)

[2020-09-07 14:24] amacmillanparks commented on #58713
Hi @mrbullwinkle, I was just wondering if you'd heard anything from the engineering team on this issue?

[2020-09-07 14:32] asergaz commented on #62197
Thanks @oliverchristen for reporting this. The IoT Solution Accelerators doc sections are being reviewed. I will assign @dominicbetts  to prioritize this bug if possible.

Thanks!

[2020-09-07 14:36] joef12345 opened #62206 "Reset password option no longer exists."
There is no longer an option to reset the SQL password from within the Azure SQL portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb2d3ad-4751-0055-82ea-083e634b6353
* Version Independent ID: 2dec60d3-1131-18f9-11ca-53e08a482c74
* Content: [Authorize server and database access using logins and user accounts - Az

[2020-09-07 14:54] drdamour commented on #61987
Agree, i think the mistake is the doc says there are two attributes when there is only 1

[2020-09-07 14:58] evanzhang89 opened #62207 "Trusted Microsoft service cross Azure subscriptions scenario (under the same tenant)"
Reg the description "Resources of some services, when registered in your subscription, can access your storage account in the same subscription for select operations, such as writing logs or backup."

It looks like for monitoring logs, they can be sent to a storage account with firewall and trusted Microsoft service enabled in a different Azure subscriptions (under the same tenant)

The following

[2020-09-07 15:11] ram-msft commented on #61908
you can put it in a directory named as localdeploynoreg as shown below, If you want it in another directory like aaa , you can change localdeploynoreg to aaa in score.py.

![image](https://user-images.githubusercontent.com/49180516/92400534-b502fd00-f149-11ea-8240-6a6d03bc7afa.png)

[2020-09-07 15:38] dbuskirk opened #62208 "What is the future for Ink Recognizer functionality?"
[Enter feedback here]
If you are going to state that the service is being retired, a little more information would be in order, particularly as this service is highly touted elsewhere.

Is the service simply disappearing or will its functionality be subsumed by a related service? If so, what might that be? Is it possible to create new functionality like ink recognition in September 2020?

---
####

[2020-09-07 15:38] sebader commented on #61627
@Karishma-Tiwari-MSFT  do you have any update on this?

[2020-09-07 15:45] SumanthMarigowda-MSFT commented on #61830
@crshovrd41 Your query has been shared with the content owner for further review.

@alkohli Please add your insight on the above query

[2020-09-07 15:47] mmacy commented on #62143
Hi @rangeranger, have you opened an issue in the [Angular sample repo](https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular), by chance?

Since the docs and the samples are in separate repos, your request for updated samples would have better visibility by the team that maintains the samples if you opened your issue in https://github.com/Azure-Samples/active-directory

[2020-09-07 16:00] RohitMungi-MSFT commented on #62208
@dbuskirk Thanks for the questions. We will check with our team internally and get back with more details.

[2020-09-07 16:01] sonic1981 commented on #50228
I've submitted a PR that shows you how you can actually do this https://github.com/MicrosoftDocs/azure-docs/pull/62209

[2020-09-07 16:02] #62206 closed

[2020-09-07 16:02] shortpatti commented on #61964
#please-close

[2020-09-07 16:03] shortpatti commented on #61964
I've updated the content and it's now in the publishing queue.

[2020-09-07 16:04] Alfetta159 opened #62210 "Two blocks of code are presented as if they are options, but they are in fact the same"
[Enter feedback here]
Why would this show identical blocks of code and say that it could be written this way as if it is a _different_ option?

![image](https://user-images.githubusercontent.com/2557947/92404663-ef887d80-f0e8-11ea-95e6-7c5d12dd5782.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-

[2020-09-07 16:08] andrewCluey opened #62211 "Azure DB Migration Service IP Addresses for firewall rules"
The article has several comments stating firewalls need to be opened to allow the 'Azure database migration Service to access the source DB'... Which is fair enough and pretty obvious I'd say as it's highly unlikely a DB Server will not be sat behind at least one type of firewall.

Some of the suggestions in the article include:

"When using a firewall appliance in front of your source database(s)

[2020-09-07 16:16] Mik4sa commented on #61627
I have pretty much the same problem. I would be interested in a solution too 👍

[2020-09-07 16:28] MGoedtel commented on #62111
@ChrisSommers - To remove the 2 VMs from Update Management, from your Log Analytics workspace, in Query Explorer you need to select the saved query - MicrosoftDefaultComputerGroup, which is under Saved Queries/Updates, by double-clicking on it. This will show the query in the editor and then you can remove the UUID for the 2 VMs and then save the query.  I'll bug this article and get it updated We

[2020-09-07 16:48] ChrisSommers commented on #62111
@MGoedtel I don't see that saved query at all in the Workspace's Query Explorer.....

I see Favorites, Saved Queries and Solution Queries and Saved Queries is completely empty.....

[2020-09-07 16:54] SumanthMarigowda-MSFT commented on #62207
@evanzhang89 Thanks for the question! We are investigating and will update you shortly.

[2020-09-07 17:01] SubhashVasarapu-MSFT commented on #62200
@eNeRGy164, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-07 17:01] #62200 closed

[2020-09-07 17:14] shashishailaj commented on #62210
@Alfetta159 Thank you for pointing it out . We will have this reviewed and update the thread.

[2020-09-07 17:28] IoTFier commented on #62058
Hi @NavtejSaini-MSFT, any update on this ?

[2020-09-07 17:30] eransamocha commented on #61803
Specifically in the article referenced for the portion where you are pinging the individual data centers per the URL you are required to enter in the geo-name abbreviation.

In the article it gives the example of wcus for west central us, but doesn't give any more reference examples. So for customers who use any other days enter, there is no where in any of our online documentation that tells them

[2020-09-07 17:30] HarithaMaddi-MSFT commented on #62202
@steveculshaw - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/128766. Below is the snap showing "Connect to" which was referred to as "Attach to" in the document.

![ConnectToSnap](https://user-images.githubusercontent.com/61235246/92409336-e1c10f80-f15d-11ea-98e6-2188127bce1e.PNG)
The changes should be live EOD or tomorrow. In future, if you see a

[2020-09-07 17:35] HarithaMaddi-MSFT commented on #62203
@steveculshaw- Thanks for your contribution. The document intent is to show the trigger creation based on any notebooks previously created in the tutorial. I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/128767

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2020-09-07 17:51] AjayKumar-MSFT commented on #62002
@rachelxj-ms, Thanks for the update.
Since document update is not required, we will close this out, but if you feel you need more information please just let us know.

[2020-09-07 17:51] #62002 closed

[2020-09-07 18:03] BharathNimmala-MSFT commented on #62193
@KillianW Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-07 18:05] suchintakp5 commented on #13838
@sharonlo101 @vasivara-MSFT @saulcruz Can you guys confirm whether the given workaround is the proper solution to this issue?

Also the outputs used for the condition check are of strings, and currently the logical function 'greaterOrEquals' does not support strings.

I got a similar error as shown below.

{
    "errorCode": "InvalidTemplate",
    "message": "The function 'greaterOrEquals' expects

[2020-09-07 18:21] pvrk commented on #61803
@eransamocha : Thanks and it does help me understand the scenario. However I would like to clarify once more.

The URL is required so that you can provide access to it. However, if you are using NSGs, you need not ping, get the URL and then whitelist it. All the URLs are covered under "Azure Backup" service tag. In short, if you give access via service tag in NSG, then you don't need to know URL a

[2020-09-07 18:27] eransamocha commented on #61803
I understand. This specific case was a customer using a sandbox envt to run some basic test, so that might be why they weren't able to use NSGs for the test.

Either way, I will definitely update my customer with the directions from here, but so still think the table list is useful to address that one case as well.

Thank you!

--
Eran Samocha
Azure Specialist
Manufacturing and Resources
M: +1 (51

[2020-09-07 18:55] mailtogurvindersingh opened #62212 "SLA of Azure Monitor with the HTTP Data Collector API"
#### SLA of Azure Monitor with the HTTP Data Collector API

Hello,

We are planning to leverage this in our application, and I got a few questions.

I would like to know what SLA  of Azure Monitor with the HTTP Data Collector API is?
What is it that would cause this API to throw a 429 or 503 error?
Are there any post request threshold per minute?
Does this API work on a queuing mechanism under the

[2020-09-07 19:51] softchris opened #62213 "Update uuid code to `const { v1 as uuidv1 } = require('uuid')`"
The page states:

[code]

That doesn't compile anymore.

Should be:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Quickstart: Azure Blob storage library v12 - JavaScript](https://docs.microsoft.com/en

[2020-09-07 20:28] AjayKumar-MSFT commented on #62016
Yusuke, I was unable to validate/repro this scenario. I wish to engage with you offline for a much closer look and provide specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, WebApp(s) name, I will follow-up with you.
We will close this out, but if you feel you need more information please ju

[2020-09-07 20:28] #62016 closed

[2020-09-07 20:38] AjayKumar-MSFT commented on #62026
@ Vivek, As I understand you have tried all the steps from the referenced thread, but it is still not working. I wish to engage with you offline for a much closer look and provide specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, WebApps name, I will follow-up with you.

As we will work off

[2020-09-07 20:38] #62026 closed

[2020-09-07 20:39] alkohli commented on #61830
@crshovrd41 Thank you for your query! If the file is larger than the size of the disk, you can't split the file over multiple disks.

[2020-09-07 20:40] simonbrady opened #62215 "Spurious special character in code snippet"
The Azure CLI example for downloading the certificate and its private key as a secret has a typo: after "az keyvault secret download" it should say "--file", not "–file".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d39f7f3d-668d-a922-4695-0539a075dcdc
* Version Independent ID: 31b6a561-d2bb-350d-e4f5-3399df55b7b8
*

[2020-09-07 20:51] AjayKumar-MSFT commented on #62050
@Jeff, Apologies for the delay!

@msangapu-msft, requesting your comment on this.

[2020-09-07 20:53] AjayKumar-MSFT commented on #62155
@aaronpowell, Requesting your comments on this ask.

[2020-09-07 20:59] elvirk commented on #61991
Thank you, but I'm getting following error:
Test-AzDeployment -Location "eastus" -TemplateFile C:\Users\elvir\.vscode\OurAutomation\AZURE\AZ-Services\RBAC\custrol-with-arm\cust-role-multiple.json

Code    : InvalidTemplate
Message : Deployment template validation failed: 'The resource 'Microsoft.Authorization/roleDefinitions/3c9ff5a1-f436-53b3-97c7-e689f474b7ff' at line '74' and column '9' is defi

[2020-09-07 21:10] #62210 closed

[2020-09-07 21:10] #62143 closed

[2020-09-07 21:12] shashishailaj commented on #62210
@Alfetta159
We have verified that the second section was indeed duplicate and actually we had a different code snippet fpr that section . We have now updated the same.

[code]

The changes will go live in the next 48 hours. We have now closed this thread.

Thank you.

[2020-09-07 22:02] SaurabhSharma-MSFT commented on #61967
@nerdile Thanks for your suggestion.  I have submitted a PR for adding this to the documentation and it will be merged soon once approved by the author. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-09-07 22:02] #61967 closed

[2020-09-07 22:14] RyanHill-MSFT commented on #62192
Thanks for the feedback @suneelsunkara! We are currently investigating and will update you shortly.

[2020-09-07 22:24] RyanHill-MSFT commented on #62199
Thanks for the feedback @rploeg! We are currently investigating and will update you shortly.

[2020-09-07 22:27] RyanHill-MSFT commented on #62205
Thanks for the feedback @PingPongSet! We are currently investigating and will update you shortly.

[2020-09-07 22:38] RyanHill-MSFT commented on #62211
Thanks for the feedback @andrewCluey! We are currently investigating and will update you shortly.

[2020-09-07 22:39] RyanHill-MSFT commented on #62212
Thanks for the feedback @mailtogurvindersingh! We are currently investigating and will update you shortly.

[2020-09-07 22:49] sdg002 opened #62216 "How do I change a Cosmos container to Autoscale throughput via Azure CLI"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-07 23:59] residentx10 opened #62218 "Will Microsoft R be added to this or will that be another SDK?"
[Enter feedback here] I would like to see Microsoft R SDK added to AML. With an option be available to install Microsoft R instead of CRAN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f89940a-4eac-f1ff-99a7-8fcc47b70482
* Version Independent ID: 52be38c9-5450-42fc-b44f-1189b45b7838
* Content: [Tutorial: Use R to cr

[2020-09-08 00:04] RyanHill-MSFT commented on #62213
Thanks for the feedback @softchris! We have a pending update to fix this.

[2020-09-08 00:06] RyanHill-MSFT commented on #62215
Thanks for the feedback @simonbrady! We are currently investigating and will update you shortly.

[2020-09-08 00:09] #62213 closed

[2020-09-08 00:14] crshovrd41 commented on #61830
Exactly what I needed to know!! Thanks!

This would mean the largest file size is around 6.5TB then?

On Mon, Sep 7, 2020 at 16:40 Alpa Kohli <notifications@github.com> wrote:

~bFox

[2020-09-08 00:15] RyanHill-MSFT commented on #62216
Thanks for the feedback @sdg002! We are currently investigating and will update you shortly.

[2020-09-08 00:18] RyanHill-MSFT commented on #62218
Thanks for the feedback @residentx10! We are currently investigating and will update you shortly.

[2020-09-08 00:45] cryptofetti commented on #55687
Are you using a managed image? If so, what is the OS you are using for this?

[2020-09-08 00:56] hermandr opened #62221 "Error 408 in RStudio compute instance"
I encountered many instances where for no reason, error 408 appears in RStudio.
I have used RStudio in docker containers before and never encountered this issues.

![image](https://user-images.githubusercontent.com/10177608/92422762-1316fb00-f1b1-11ea-8f40-7e35f490e509.png)

When I do a web refresh it shows this screen.
![image](https://user-images.githubusercontent.com/10177608/92422897-9e908c00-

[2020-09-08 01:13] ram-msft commented on #61908
Currently not supported in cli now, please use the python SDK and we have created the backlog work item to check.

[2020-09-08 01:14] ram-msft commented on #62014
@hermandr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-08 01:14] #62014 closed

[2020-09-08 01:16] ram-msft commented on #62074
@mandiaya Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-08 01:16] #62074 closed

[2020-09-08 01:31] alkohli commented on #61830
Yes. Usable is close to 35 TB for 5 disks, so approximately that much. Thanks!

[2020-09-08 01:40] MicrosoftGuyJFlo commented on #61550
@AmitavaHazra Custom controls do not satisfy multi-factor authentication claim requirements. Listed in the section [Known limitations](https://docs.microsoft.com/azure/active-directory/conditional-access/controls#known-limitations)

[2020-09-08 01:41] MicrosoftGuyJFlo commented on #61550
If you want to submit product feedback use the link at the bottom of the doc to do so. The docs are correct as written. #please-close

[2020-09-08 01:41] #61550 closed

[2020-09-08 01:51] DDFXulei opened #62222 "Incompatible JDBC version"
When  I use  version **8.2.2.jre8** jar to connect Azure SQL server locations at Central US, the problem shows:
![image](https://user-images.githubusercontent.com/29651679/92424887-2da0a280-f1b8-11ea-8852-bc361b88622d.png)

When I change to version **7.4.1.jre8** jar, it works well.
![image](https://user-images.githubusercontent.com/29651679/92425009-87a16800-f1b8-11ea-8498-f1565124d527.png)

---

[2020-09-08 01:51] radiumwu opened #62223 "Failed to load resource atlas in China"
I am learning an Azure IoT [course](https://docs.microsoft.com/en-us/learn/modules/create-your-first-iot-central-app/4-set-up-your-development-environment?pivots=vscode-node).
When I load the html file to browser, nothing happened. I check the console and it shows 'Failed to load resource', ‘atlas is not defined at ...’

Is it normal? Is there another way to use atlas in China?

---
#### Document

[2020-09-08 02:27] #62215 closed

[2020-09-08 02:27] collins-emetonjor opened #62225 "BlockBlobService module load failure"
[Enter feedback here]
The "BlockBlobService" module seems only applicable to the old Azure SDK for python which has now been depreciated and no longer working.

When I tried to load the library using the code below

from azure.storage.blob import     BlockBlobService
#BlobServiceClient, BlobClient, ContainerClient

"
I got the following error message
ImportError: cannot import name 'BlockBlobServi

[2020-09-08 02:41] AnjanRB opened #62226 "Documentation doesn't provide any details on how header can be set."
In the documentation there is only a sample header JSON provided, But there is no details on how header parameter can be added to workflow and enforce the headers from the requester.
the document only provides a simple json with below text(in bold below). But where do developer put this Json? in the designer there is no place holder to define http trigger header. Does the documentation suggest to

[2020-09-08 02:51] Vikassharmas commented on #61244
Thanks, ip does not know weather it is used for inbound or for outbound.

We can save one public ip if we use single public ip for both inbound and
outbound.

Rest you can decide.

Thanks for the response, you can close the case.

Regards,
Vikas

On Thu, 27 Aug, 2020, 1:22 pm suvasara, <notifications@github.com> wrote:

[2020-09-08 02:55] agrabhi commented on #62159
The cert is renewed now.

[2020-09-08 02:56] ifflanb opened #62227 "Outlook Logic App Stripping Email Custom Headers"
Hi, I am using custom headers via the office js library here https://docs.microsoft.com/en-us/javascript/api/outlook/office.internetheaders?view=outlook-js-preview to pass meta data in the email headers.
I can see that the header is added but when it is received via the logic app, the custom headers have been removed.
Is this a known issue? Is there a way to prevent the stripping of custom headers

[2020-09-08 02:57] Vikassharmas commented on #61378
Thanks for the response. Let me understand more and if require, I will
revert back to you.

Regards,
Vikas

On Wed, 26 Aug, 2020, 11:27 pm PRMerger20, <notifications@github.com> wrote:

[2020-09-08 03:02] hermandr commented on #62014
Thank you, it's working and clear explanation.
Would be great if documentation was clearer.

[2020-09-08 03:04] MayankBargali-MSFT commented on #62226
@AnjanRB Thank you for your feedback! We will review and update as appropriate.

[2020-09-08 03:16] tina-ho opened #62228 "The level that permission should be granted at"
Hi, we receive some users' feedback is that they granted accounts with "Virtual Machine Contributor" at the resource group level, and then the accounts are still not able to see the command list in "Run commands". It turns out the permission should be granted at the subscription level.

However, the description on this page doesn't mention at which level the permission should be granted. Seeking a

[2020-09-08 03:17] AgassiJoeLVedala89 commented on #55687
@cryptofetti This is a WVD deployed couple of months ago. The client is using it daily till yesterday. But yesterday when he is trying to login to the WVD using Windows Client we are getting an error I have attached the screenshot please check.

![error](https://user-images.githubusercontent.com/32320522/92429537-dbf41a00-f1af-11ea-84c5-bd0f53f3400b.png)

[2020-09-08 03:18] i7a7467 commented on #62159
@shashishailaj @agrabhi
Thank you for your support.
https://jwt.ms is very useful.
I am very happy that I can use it as usual.

[2020-09-08 03:18] AshokPeddakotla-MSFT commented on #62223
@radiumwu This is an expected behavior.

Azure Maps services are currently available except in the following countries/regions:

- China
- South Korea

Verify that the location of your current IP address is in a supported country/region.

As an alternate, you can create an Azure VM in supported regions and then use the Azure Maps.

Hope this helps.

[2020-09-08 04:05] AnuragSharma-MSFT commented on #62056
@marcusfm We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-08 04:05] #62056 closed

[2020-09-08 04:16] #62223 closed

[2020-09-08 04:16] AnuragSharma-MSFT commented on #62222
@DDFXulei Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-08 04:19] ram-msft commented on #62014
@hermandr Yes, We created the backlog item for documentation update. We will update with PR once it's completed.

[2020-09-08 04:21] radiumwu commented on #62223
Thank you AshokPeddakotla-MSFT and your suggestion.

[2020-09-08 04:40] souravmishra-msft commented on #62018
@lightupdifire, By this statement "The remember Multi-Factor Authentication feature isn't compatible with the keep me signed in feature of AD FS", what we mean is not to use both of these options together. If both the options are used together, then it would land up in a continuous looping scenario as If your users select keep me signed in on AD FS and also mark their device as trusted for Multi-F

[2020-09-08 04:44] himanshusinha-msft commented on #62101
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-09-08 04:44] #62101 closed

[2020-09-08 04:44] himanshusinha-msft commented on #62094
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-09-08 04:44] #62094 closed

[2020-09-08 04:50] SwathiDhanwada-MSFT commented on #61991
@elvrik Is it possible for you to share your  ARM template and parameters template so that I can check and help you with resolution?

[2020-09-08 04:53] hermandr commented on #47315
Hi,

I am experiencing the same issue.

Error: ModuleNotFoundError: No module named 'azureml'

I have installed azuremlsdk successfully as instructed.
The RStudio instance is running on azureml compute instance.

![image](https://user-images.githubusercontent.com/10177608/92434094-79ac1100-f1d1-11ea-9889-13cb22493a65.png)

The reticulate version is 1.16
![image](https://user-images.githubuserconte

[2020-09-08 04:53] hermandr commented on #47315
Do I open a new issue??

[2020-09-08 04:57] ram-msft commented on #47315
yes @hermandr. Please feel free to open a new issue.

[2020-09-08 05:06] AnuragSharma-MSFT commented on #61902
@LuisBosquez This is being assigned to the content author to evaluate and update as appropriate.
@NavtejSaini-MSFT

[2020-09-08 05:11] AnuragSharma-MSFT commented on #62077
@dcbrown16 This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-08 05:15] ram-msft commented on #61908
@adiun We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-08 05:15] #61908 closed

[2020-09-08 05:22] psmanhas commented on #62228
@tina-ho
Thank you for the feedback. We will look into it and will keep you updated on the thread

[2020-09-08 05:28] ram-msft commented on #62221
@hermandr Thanks for the question. We are looking into this and will get back to you soon.

[2020-09-08 05:30] SubhashVasarapu-MSFT commented on #61913
@SingularityPeru, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-08 05:30] #61913 closed

[2020-09-08 05:31] vsabella opened #62230 "Partprobe instructions potentially in the wrong place?"
It looks like the "partprobe" part of the format disk instructions are in the wrong place. Shouldn't it be immediately after the "parted" command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2036c044-4fbd-6016-c026-fea724b530d6
* Version Independent ID: dde369ae-7a34-0753-5dfe-3720bf69e996
* Content: [Add a data dis

[2020-09-08 05:46] psmanhas commented on #62070
@cloudlene Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-09-08 05:46] #62070 closed

[2020-09-08 05:47] psmanhas commented on #62082
@racchen I have reached out to our internal team on this and will keep you posted once I have an update.

Thanks

[2020-09-08 06:09] dcbrown16 commented on #62077
Ok thanks

[2020-09-08 06:13] dohughes-msft commented on #52554
@tsarpaul see [here](https://github.com/dohughes-msft/sap/tree/master/arm/key) for an ARM template you can use to deploy your key and some examples on how to refer to it.

[2020-09-08 06:22] amanmcse commented on #62181
@OneBlueBird Closing the issue. Feel free to tag me in your reply if you have any question.

[2020-09-08 06:22] #62181 closed

[2020-09-08 06:24] schwarzzz opened #62232 "Documentation partly outdated ( Managed AAD integration, Helm 3)"
Following this documentation, an AKS cluster with "unmanged" AAD integration is created. This setup is marked as "legacy" in the AKS documentation. Instead, managed AAD integration seems to be state of the art now.
It would be great to have an example using the managed version of AKS...

Also, this documentation still refers to helm 2 (using tiller).

---
#### Document Details

⚠ *Do not edit this

[2020-09-08 06:29] JayaChatterjee-MSFT commented on #62076
@DatacomGIT Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and mention the problem description. We will gladly reopen the issue and continue the discussion.

[2020-09-08 06:29] #62076 closed

[2020-09-08 06:31] Shahar-do commented on #62094
Hello,

Thank you for your response.
I may have been wrong to post the question on this forum, but honestly I
couldn't find the right github project for this issue.
Can you address me, where in github or outside github should I post about
issues related to Azure network monitor etc?

Thank you

Shahar

On Tue, Sep 8, 2020, 7:44 AM himanshusinha-msft <notifications@github.com>
wrote:

[2020-09-08 06:51] AnuragSharma-MSFT commented on #61862
@pvmraghunandan Could you please check this and let us know the asked information?

[2020-09-08 06:54] majguo opened #62233 "It's not clear for beginner on how to "Verify your permissions""
In the 2nd section **Verify your permissions**, it's not clear for users, especially for beginners, on how to verify their permissions, e.g.:
- "**Resource Group which contains the VNet**" and "**Service Principal passed as –client-id**" don't seem to be permissions?
- How can users verify whether they have **User Access Administrator** or **Contributor** role,  and whether they have permission to

[2020-09-08 07:08] psmanhas commented on #62230
@vsabella Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-08 07:08] psmanhas commented on #62230
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-08 07:15] JayaChatterjee-MSFT commented on #61848
@alvinkwekel I believe we are using http client here.  An HTTP client is not considered an “active receiver” unless it’s actively pending with a timeout.  If you want to set the timeout you can do that in the request URI. e.g. :
https://your-namespace.servicebus.windows.net/HttpClientSampleQueue/messages/head?timeout=60

[Refer to this ](https://docs.microsoft.com/en-us/rest/api/servicebus/peek-lo

[2020-09-08 07:22] psmanhas commented on #62233
@majguo Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-08 07:22] elvrik commented on #61991
I'm sorry,but your choose incorrect nickname.
He's elvirk

[2020-09-08 07:35] eNeRGy164 commented on #62200
There is still the typo in the description of the page. See my provided PR.

[2020-09-08 07:44] vipulsparsh commented on #62184
@SvenBell Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kkern13 Can you have a look at this ?

[2020-09-08 07:47] haymansfield commented on #61934
@SaiKishor-MSFT Thanks for looking into this.

My specific concern is around modifying the IKEv2 cryptographic profile (e.g DH Group, PFS setting). When these are modified, I don't think they are reflected in the downloaded client (Policy missmatch errors occur).

Could you possibly investigate whether you can reproduce this?

[2020-09-08 07:51] SwathiDhanwada-MSFT commented on #61991
Thanks for notifying it @elvrik .

[2020-09-08 07:51] haymansfield opened #62235 "DHGroup14 and PFS2048 For client configuration"
DHGroup14 and PFS2048 do not appear to be supported for P2S configuration. When I attempt to create via ARM I get an error suggesting the DHGroup is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c9ea83-f9d6-57c0-301d-323d2747a1c5
* Version Independent ID: 424eec9a-4017-9128-1bbb-9b50996a9b7b
* Content: [A

[2020-09-08 07:56] DreamRivulet opened #62236 "The requirements on kubectl is not very clear"
The requirement on kubectl is not clear:
Kubectl with a minimum version of 1.18.1 or kubelogin

Maybe we can modify this requirement to "Kubectl with a minimum version of 1.18.1 or kubectl of lower versions with kubelogin plugin installed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9

[2020-09-08 08:23] psmanhas commented on #62150
@anshu1987 Apologies for the delay in response and all the inconvenience caused because of the issue.

For logging into the Linux VM, you either need SSH Key or the Password. While you deploy the VM, you can give the username and ssh key as shown below, this will allow you to ssh into the Linux machine with they ssh key you generated.

![image](https://user-images.githubusercontent.com/35990743/92

[2020-09-08 08:35] sklim2002 opened #62237 "Why av set should be FD / UD 1?"
[Enter feedback here]
 The document shows "Domain and Update Domain set to 1". Is it required or only example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c3670-0919-cef3-66b7-8ff697ea2add
* Version Independent ID: 4a200477-327e-67b8-d1da-4569bd660667
* Content: [Create an FCI with Azure shared disks (Preview) -

[2020-09-08 08:41] AjayKumar-MSFT commented on #62050
Jeff, we have a documentation on these, kindly see if these helps or you think more clarity in the doc is necessary.

Yes. The article aims at providing answers to some of the most frequently questions.

[Deploying from a zip file or url](https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package#troubleshooting)
TAR and GZIP formats are not supported.

[Run your app in Azure App Servic

[2020-09-08 08:48] mruepp commented on #24857
Yes, to state that its hard to write scripts to work everywhere is a bit like state that its enough to write software which works only on my local computer 😂😂

[2020-09-08 08:49] amankohli commented on #50919
@jaschoen-msft  @mike-urnun-msft mike-urnun-msft  Do we have plans to enable updating nics to static in the future?

[2020-09-08 08:53] ekrof opened #62238 "This information should be appended"
I couldn't get my Revit CAD software to recognize the Tesla K80 GPU until I followed these steps:

- Install DirectX
- Open Device Manager
- Expand Display Adapters - Two adapters will be listed: Microsoft Hyper-V Virtual & Nvidia Tesla K80(can be different depending on selected series)
- Disable Microsoft Hyper-V Virtual
- Run CMD as administrator. Go to C:\Program Files\NVIDIA Corporation\NVSMI

[2020-09-08 08:55] MayankBargali-MSFT commented on #62175
@BrunoGaudette Following up to see if my previous comment has helped you. Do let me know if you any queries.

[2020-09-08 09:06] ysytnikov commented on #56727
Yes you can create several slots for Functions Premium plan. But once you deploy function to some stage slot it automatically syncs binaries to production slot in few seconds.
Another issue - when I clean up (publish some empty file) slot - all slots are got synced with that file. So no reason to use slots here.
is that expected?

[2020-09-08 09:21] AnuragSharma-MSFT commented on #62216
@sdg002 Thanks for reaching out to us. You can refer to the below articles to update the throughput of the container using Azure CLI:
1. https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/cli/sql/autoscale?toc=/cli/azure/toc.json
2. https://docs.microsoft.com/en-us/cli/azure/cosmosdb/sql/container/throughput?view=azure-cli-latest

There are many ways to do it, you can set it at the time of c

[2020-09-08 09:24] MayankBargali-MSFT commented on #62167
@fourthdimension Following up to see if my previous comment has helped you. Do let me know if you any queries.

[2020-09-08 09:37] RohitMungi-MSFT commented on #62227
@ifflanb Thanks for the question. The Azure docs repo addresses issues related to documentation of Azure services, this issue seems to be referenced to the docs [repo ](https://github.com/OfficeDev/office-js-docs-reference)of office, the appropriate issues page is [here](https://github.com/OfficeDev/office-js-docs-reference/issues). Could you please raise a new issue in this repo so the right team

[2020-09-08 09:40] lightupdifire commented on #62018
@souravmishra-msft
I hope this helps too because we do have some AzureAppProxy applications that do a log out of the user(s) and then the user cannot login back, they stuck on page login.onmicrosoft.com
We were working with MS Support but they couldn't help, now related to some other project found this note :) and I think this could be the reason + AzureAppProxy has some "persistence" cookie setti

[2020-09-08 09:40] #62018 closed

[2020-09-08 09:44] RohitMungi-MSFT commented on #62170
@simonsigre The change is now updated in the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-08 09:44] #62170 closed

[2020-09-08 09:48] gknapp opened #62239 "Fix typo: requets"
Misspelt requests: requets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2dc930c-33a3-d54e-2253-1b1b5a693c17
* Version Independent ID: 7dc5aee5-f473-10c8-5299-d5d0b52b7077
* Content: [Standard rules engine reference for Azure CDN](https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-reference)
* Conte

[2020-09-08 09:59] pradtheep opened #62240 "Unable to Create resource Group Using this template"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb47179-04d1-7d43-23e0-6203a2bf9d6e
* Version Independent ID: b84265b8-2c7d-6b0a-7f9f-b6332e4368db
* Content: [Deploy resources to subscription - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-t

[2020-09-08 10:02] damochiz opened #62241 "util.py is the wrong name."
[Enter feedback here]
The following util.py is incorrect, it should be utils.py.

Load the compressed files into numpy arrays. Then use matplotlib to plot 30 random images from the dataset with their labels above them. This step requires a load_data function that's included in an **util.py file**. This file is included in the sample folder. Make sure it's placed in the same folder as this notebook

[2020-09-08 10:15] psmanhas commented on #62237
@sklim2002 Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-09-08 10:16] psmanhas commented on #62237
@MashaMSFT Can you please check and add your comments on this doc.

[2020-09-08 10:26] jkovacev commented on #52178
@BryanTrach-MSFT any news on this one ? Is Standard Streaminf Endpoint still in preview ?

[2020-09-08 10:26] psmanhas commented on #62236
@DreamRivulet Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-08 10:26] psmanhas commented on #62236
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-09-08 10:35] #62205 closed

[2020-09-08 10:37] amanmcse commented on #62148
We used $userId = (Get-AzContext).Account.Id to make the script less interactive and to run under the currently logged in user account where the Sign-in name is same as the UPN. However, if you are using an account where the sign-in name is different than the UPN, easier option would be to hardcode $userId = <your_upn> as the index may vary based on addition or deletion of the user accounts in the

[2020-09-08 10:37] #62148 closed

[2020-09-08 10:37] NavishkarSadheo commented on #31170
This still hasn't been resolved.

[2020-09-08 10:44] psmanhas commented on #62174
@RonnieQuan  Can you try to run the below and confirm if you are getting the same error:

 REG ADD "HKLM\SYSTEM\CurrentControlSet\control\Terminal Server\Winstations\RDP-Tcp" /v 'fInheritMaxDisconnectionTime' /t REG_DWORD /d 1 /f REG ADD "HKLM\SYSTEM\CurrentControlSet\control\Terminal Server\Winstations\RDP-Tcp" /v 'MaxDisconnectionTime' /t REG_DWORD /d 0 /f

[2020-09-08 11:05] SwathiDhanwada-MSFT commented on #62240
@pradtheep Thanks for your comment.  Can you please let me know which template are you using to create the resource Group and also what error are you facing ?

[2020-09-08 11:06] ysytnikov commented on #36458
Same issue on Elastic Premium plan. Deploying to stage slot same ARM template with same WEBSITE_CONTENTSHARE makes production slot pointing to same binaries as stage slot.
Can't deploy without WEBSITE_CONTENTSHARE  at all as I get `2020-09-08T10:15:32.8385428Z ##[debug]Set-AzWebAppSlot : Operation returned an invalid status code 'BadRequest'` error

[2020-09-08 11:10] RohitMungi-MSFT commented on #62241
@damochiz Thanks for spotting this. We have raised a PR [128802 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/128802)to fix this in the document.

[2020-09-08 11:16] rodolfograve commented on #62093
Hello and thanks for your response.

I think you misunderstood my request: I'm not worried about how to run Azure CLI commands on PowerShell. I think you are right that it should be straight-forward enough.

My request is to get PowerShell Az (as in the [Azure PowerShell module](https://github.com/Azure/azure-powershell))

I fail to understand why both PowerShell Az and Azure CLI continue to exist

[2020-09-08 11:17] JayaChatterjee-MSFT commented on #62185
@ocdi Yes I agree that more information could be included for the JavaScript example. We are discussing to add samples and list of supported types under the "Usage" section. I am looping the content author @craigshoemaker in it.

[2020-09-08 11:21] lindhe commented on #62236
I guess it's a question of definitions, but perhaps we should also remove the clause that says "which is consistent with the Kubernetes support policy for kubectl". As far as I am concerned, it is not consistent with that definition. But I can see there's an argument to be made that it is consistent.

[2020-09-08 11:41] SubhashVasarapu-MSFT commented on #62239
@gknapp, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-08 11:41] #62239 closed

[2020-09-08 11:44] SubhashVasarapu-MSFT commented on #62235
@haymansfield, Thanks for reaching out. We will investigate and update this thread.

[2020-09-08 11:46] hebroin commented on #62175
Yes, but I don't understand the docs.

It says that it needs port 443 to communicate with azure monitor. I mapped host port 443 to port 8081 of the container (like this `8080:80 -p 8081:443`) and it works.
![image](https://user-images.githubusercontent.com/11916335/92471968-ccbc9e80-f1a6-11ea-999f-4d91b43bdb4b.png)

I can see health report of my self-hosted instance on Azure.
![image](https://user

[2020-09-08 11:49] softchris opened #62242 "Opinion, CTA (call to action) should lead to a tutorial instead of an SDK docs overview page"
Currently:

At the bottom of the page, CTA leads to JavaScript documentation overview

Suggested:

It would be more helpful if CTA leads to a tutorial so you learn to use the SDK better, so to this link https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=javascript

That way my learning journey continues, instead of coming to a halt.

#### Document Details

⚠ *D

[2020-09-08 11:50] joshibhu opened #62243 "Deploy this service as a module on IOT Edge device !!"
I have a question if it is possible and feasible option to run this service as a module ? Why because, it would be easy to deploy it at larger scale across the devices if it can be deployed as module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ac2444-8b79-9e9f-144d-9b9090393189
* Version Independent ID: 64433425-

[2020-09-08 11:57] cryptofetti commented on #55687
What release of WVD are you using? Fall 2019 or Spring Release (2020)

If you connect to the rdbroker and run the following what is the current status?

 Get-RdsSessionHost -TenantName "yourTenantName" -HostPoolName "yourHostPoolName"

Please provide the output from the above cmd. Have you attempted to reboot the VM? Is this persistent or non-persistent (utilizing a WIN 10 multisession VM). What i

[2020-09-08 12:08] AshokPeddakotla-MSFT commented on #62243
@joshibhu Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-09-08 12:15] pradtheep commented on #62240
Hi Swathi,

Below template is used to create the RG.
{
  "$schema": "
https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#
",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "rgName": {
      "defaultValue":"newRG",
      "type": "string"
    },
    "rgLocation": {
      "defaultValue": "West Europe",
      "type": "string"
    }
  },
  "variables": {},

[2020-09-08 12:17] MGoedtel commented on #62111
Are you looking at the right workspace linked to the Automation account that has Update Management enabled?  It most definitely be listed under Saved Queries/Updates in Query Explorer. Do you have at a minimum, Contributor rights on the respective workspace?

[2020-09-08 12:17] psmanhas commented on #62228
@tina-ho I tried to do repro in my lab where I gave the VM Contributor role to the user in IAM blade of VM itself and I was able to run script and see the list as well:
![image](https://user-images.githubusercontent.com/35990743/92474946-42058f00-f1fa-11ea-8420-0371810e05d4.png)

![image](https://user-images.githubusercontent.com/35990743/92475635-55652a00-f1fb-11ea-9a77-bfd4665249ff.png)

The sam

[2020-09-08 12:23] AnuragSharma-MSFT commented on #61862
@pvmraghunandan We will now proceed to close this thread.

Please look into this and we can re-open the thread and have the discussion continued

[2020-09-08 12:23] #61862 closed

[2020-09-08 12:32] woeterman94 opened #62244 "No connection string visible in cosmos DB"
I'm unable to see any connection string (as shown here : https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account) in my quick start page.

![image](https://user-images.githubusercontent.com/5755057/92476958-11b0f700-f1e0-11ea-97de-0b9d60774487.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af42e

[2020-09-08 12:33] woeterman94 commented on #62244
Also there is no "connection strings" tab
![image](https://user-images.githubusercontent.com/5755057/92477039-36a56a00-f1e0-11ea-8292-8e21223ffa3c.png)

[2020-09-08 12:54] AnuragSharma-MSFT commented on #62244
@woeterman94 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-08 13:01] robermud commented on #61722
Hi @vipulsparsh thanks for your quick response. Yes, I added a couple of Owners to an App because they needed to see those logs but they can't. They are regular users in our Azure AD, do you think that they need any other permission? Thanks again!

[2020-09-08 13:11] jeffputz commented on #62050
I can search for things too, and those articles are not relevant to what I'm asking. Deployment isn't serving. My concern was specifically about serving on Linux app service instances.

[2020-09-08 13:17] KrishnaG-MSFT commented on #62206
@joef12345 Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-09-08 13:26] MayankBargali-MSFT commented on #61987
@drdamour I have reached out to my team and they confirmed that the doc is correct that there are two attributes that can be used. This [code](https://github.com/Azure/azure-functions-servicebus-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Triggers/ServiceBusTriggerAttributeBindingProvider.cs#L57) handles it internally.

[2020-09-08 13:27] pvmraghunandan commented on #61862
@kummanish , @AnuragSharma-MSFT  we use only Private Link to communicate to Azure services and none of our resources are exposed to internet. So, we have to use only private link endpoint.

[2020-09-08 13:47] RohitMungi-MSFT commented on #62225
@collins-emetonjor Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-08 14:08] MonikaReddy-MSFT commented on #62036
@sguha-v -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-08 14:32] SumanthMarigowda-MSFT commented on #62061
@RichWK  Apologies for the delay in responding here! Your feedback has been shared with the content owner for further review.

[2020-09-08 14:33] DavidTrigano commented on #62004
Hi @oz1212

As your question is related to Event Hub, you should open a ticket through our support, so a dedicated engineer can work with you on that topic. In case you have an Enterprise agreement with Microsoft, you can also reach out to your Technical Account Manager or any Microsoft employee from the account team.

@KalyanChanumolu-MSFT you can go ahead and close this ticket.

[2020-09-08 14:34] ChrisSommers commented on #62111
@MGoedtel - yes, definitely the correct Workspace. Also what's displayed is called 'Saved Queries' - it's not called 'Saved Queries/Updates'....see attached

I also have Owner rights at the subscription level.
![Capture](https://user-images.githubusercontent.com/35919259/92490251-b3d4dd00-f1e8-11ea-9da5-6703ae177449.JPG)

[2020-09-08 14:50] vector-sigma opened #62248 "Missing instructions to derive blocked onmicrosoft.com names when enabling this feature."
When enabling tenant restriction and adding in the exceptions per this doc it would be helpful to mention where or how one could programatically (or worse, manually) obtain the onmicrosoft.com name for the blocked tenant. A user would not know site.consoto.com is actually consotocorp.onmicrosot.com and just having the tenant ID from the logs is not enough by itself to derive the onmicrosoft.com na

[2020-09-08 14:51] DougPetrole commented on #61944
Hi Team,

You're correct - ephemeral OS disks are supported for VM types like Dsv4
where premium storage is supported.

The specific requirements of e-disks are that the size of the cache drive
must be large enough to fit the OS/template used. For Windows Virtual
Desktop, the Windows 10 images are all ~128 GB.

This link shows that the D4s v3 VM has a cache drive size of 100 GB, which
won't suppor

[2020-09-08 14:56] BharathNimmala-MSFT commented on #61714
@RonnieQuan My sincere apologies for delay on this, I will make sure to review this thread and get back to you today EOD.

[2020-09-08 14:57] DCtheGeek commented on #62193
#reassign:DCtheGeek

[2020-09-08 14:57] DCtheGeek commented on #62193
@KllianW You are 100% correct.  I'll clarify that the schema is only for the rule.  When the update merges, this issue will automatically be closed.  Publish will happen at a later time.  Thanks for pointing this out!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-09-08 14:59] #62089 closed

[2020-09-08 15:08] cima commented on #43196
I have also difficulties to install `iotedge` on *Debian 10 amd64*. Based on [Azure IoT Edge supported systems](https://docs.microsoft.com/en-us/azure/iot-edge/support#code-try-0) I have installed `libssl1.0.2` from *Debian 9 amd64* (Stretch) which went fine. I have also added source to Microsoft packeges for *Ubuntu 18.04* and install `libiothsm-std` package. Then I have moved on to installing `i

[2020-09-08 15:08] Dirk-Manderin opened #62250 "No mention of where to get "psping.exe""
Step 2.4 says to run this command ".\psping.exe kms.core.windows.net:1688".  Command returns "The term 'psping.exe' is not recognized as the name of a cmdlet, function, script file, or operable program"  Upon further investigation, I found that psping.exe is part of the SysInternals tools.  This should be explained and a link to the tool provided.

---
#### Document Details

⚠ *Do not edit this se

[2020-09-08 15:09] #62193 closed

[2020-09-08 15:11] DerekHerman-MSFT commented on #62242
@softchris Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 15:11] HarithaMaddi-MSFT commented on #62196
@steveculshaw - I am closing this issue now. Please feel free to comment for any further queries and we will be glad to assist.

[2020-09-08 15:11] #62196 closed

[2020-09-08 15:11] juanandmsft opened #62251 "Screenshots do not match current portal"
Hi,

The soft-delete experience does not match the experience.
There is now a checkbox that enables to force-delete the workspace without using PowerShell, and "Recovery" is now "Recycle Bin".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86984751-da7f-c77b-c78b-a9c9ffacb4a3
* Version Independent ID: 57838082-5ee8-097

[2020-09-08 15:27] charliechen179 opened #62252 "Copy an existing function app to a deployment slot is failed by using the sample"
[Enter feedback here]
Copy an existing function app to a deployment slot is failed by using the sample.

here is the PS scripit:

`$slot =Get-AzWebAppSlot -ResourceGroupName "AD-BILL-RG" -Name AD-Bill-CRMFA

$srcapp = Get-AzWebApp -ResourceGroupName AD-BILL-RG -Name AD-Bill-CRMFA

$destapp = New-AzWebApp -ResourceGroupName AD-BILL-RG -Name $slot.Name.Split("/")[1] -Location 'Canada Central'  -AppS

[2020-09-08 15:28] #62186 closed

[2020-09-08 15:30] HarithaMaddi-MSFT commented on #62191
@omidm1 - Can you please take a look at PR and approve

[2020-09-08 15:35] vikancha-MSFT commented on #62238
@ekrof  Nvidia GRID is not supported on K80 GPUs. Azure offers integrated licence with M60 GPUs(NV/NVv3-VM series) only.  Any other NVidia GPU requires BYOL option Please refer to the support matrix published by Nvidia [here](https://docs.nvidia.com/grid/gpus-supported-by-vgpu.html)

[2020-09-08 15:42] jskop opened #62254 "Documentation or XSD error"
Hi,

Documentation states that OutputClaim node occurences is 0:n whereas TrustFrameworkPolicy_0.3.0.0.xsd found on [GitHub](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/TrustFrameworkPolicy_0.3.0.0.xsd) sets this occurence to 1:1 which causes xml validation errors after trying some examples.
It would be good to have docs inline with schema or vice ve

[2020-09-08 15:49] BradWWM opened #62255 "no."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaa68fda-a8cc-848c-6e7f-dc5a6c55001a
* Version Independent ID: 2de2fccc-02a4-9893-7be6-7f2f667347e1
* Content: [Publishing guide by offer type - Microsoft commercial marketplace](https://docs.microsoft.com/en-us/azure/marketplace/publisher-guide-by-of

[2020-09-08 15:49] tfitzmac commented on #62186
I have added an additional clarification which will get published today.

[2020-09-08 15:49] #62255 closed

[2020-09-08 15:54] juhlee-microsoft opened #62256 "Ambiguous of supporting OS names"
[Enter feedback here]
In the first section, NVv4 is only for Windows. But in the bottom section, there is network performance measurement for Windows and Linux. Is NVv4 supporting both OS or Windows only?

![image](https://user-images.githubusercontent.com/23069399/92499555-e06d0280-f1b0-11ea-917d-d48afd3c9b56.png)

![image](https://user-images.githubusercontent.com/23069399/92499508-cdf2c900-f1b0

[2020-09-08 15:56] SwathiDhanwada-MSFT commented on #62251
Thanks for the feedback @juanandmsft.

Assigning to content author @bwren for review.

[2020-09-08 16:03] ChaitanyaNaykodi-MSFT commented on #62087
Hello @FlippieCoetser, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-08 16:03] WinstonHoward-MSFT commented on #62037
Good to hear your issue is resolved, I will close this issue now. Have a good one.

[2020-09-08 16:03] #62037 closed

[2020-09-08 16:07] MarileeTurscak-MSFT commented on #62248
@vector-sigma
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-08 16:10] JamesTran-MSFT commented on #62254
@jskop
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-08 16:12] JamesTran-MSFT commented on #62057
@brucedkyle
I just wanted to check in and see if you had a chance to review my previous post or if you had any other questions. Otherwise, I'll go ahead and close out this issue at the end of the day, since AKS clusters with managed identities can be enabled only during creation.

Thank you for your time.

[2020-09-08 16:17] WinstonHoward-MSFT commented on #62023
Hi @mrmyss2018, since I haven't heard from you I'm going to close this issue. Comment back on this issue to reopen it if your still having trouble.

[2020-09-08 16:17] #62023 closed

[2020-09-08 16:22] DerekHerman-MSFT commented on #62005
@rukasakurai I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 16:25] #62086 closed

[2020-09-08 16:33] JamesTran-MSFT commented on #62033
@HockeyJustin
Looking at your screenshot, you're using your B2C tenant, which is why you aren't seeing the correct fields under the Branding tab. You'll have to change your directory and select the tenant that isn't B2C in order to see the correct fields.

I've added a PR to update the documentation to make it more clear that the steps aren't completed within a B2C tenant.
![appBranding](https://u

[2020-09-08 16:33] mikeoleary opened #62258 "Question: can we deploy ARO via ARM template, or with az cli only?"
Hi,

I'm not sure if this comes up often enough to be a FAQ but can we deploy a managed OpenShift environment via ARM template (for OpenShift v 4.x, not 3.x)? All instructions I can find for 4.x are CLI, and I can only find ARM template instructions that reference v 3.x.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4