[2022-04-01 22:58] #80981 closed

[2022-04-01 23:03] JamesTran-MSFT commented on #90836
@TLKG
Thank you for following up on this!

After following the documentation, I didn't have any issues setting up a sign-up and sign-in user flow for Google accounts using Azure Active Directory B2C.
![B2CandGoogle](https://user-images.githubusercontent.com/36619112/161352163-5ad30d5d-ae03-42ea-a492-a63890ce7ecc.gif)

From your screenshot, it looks like you might be on the B2C dashboard within you

[2022-04-01 23:07] YutongTie-MSFT commented on #90626
@PatrickFarley Hello Patrick, I just went through all the samples but I have no finding about managed identities, do you have any insight here? Thank you!
https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/tree/master/ContentModerator

[2022-04-01 23:54] eric-urban commented on #90499
@glharper thanks for confirming! Since it's tracked elsewhere, I'll close this Docs issue.

[2022-04-01 23:55] eric-urban commented on #90499
#please-close

[2022-04-01 23:55] #90499 closed

[2022-04-02 00:23] mike-urnun-msft commented on #90878
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 00:24] mike-urnun-msft commented on #90881
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-02 00:26] mike-urnun-msft commented on #90886
@arnaudhelin Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2022-04-02 00:30] TLKG commented on #90836
@JamesTran-MSFT

My Directories + subscriptions: **Current** (002) has `Azure AD B2C`, is created upon creating a `B2C tenant`. But the tenant goes under **Default Directory**.

![image](https://user-images.githubusercontent.com/22269729/161355838-4a70fb8e-0d1e-47f1-a8d2-f25b16bead07.png)

**Default** doesn't have `Azure AD B2C` as you can see
![image](https://user-images.githubusercontent.com/222

[2022-04-02 00:34] johncrim commented on #70484
I'm pretty sure this answer is incorrect (and this issue should be re-opened, because the answer is still not clear in the docs). I just tested an app with a *Web Redirect URI* and I can confirm that it executes an Authorization Code flow. I watched the authorization code exchange in the debugger.

[2022-04-02 00:36] rwike77 commented on #86851
OK, I had some conversation with engineering.  The important note wasn't worded so clearly before.   You're not required to register all permissions in the portal beforehand.  You can register some in the portal and then also dynamically consent to other permissions that are not registered in the portal.  If you want an admin to consent for the entire org, those permissions are required to be regi

[2022-04-02 00:36] #86851 closed

[2022-04-02 01:35] azure1123 commented on #87421
Hi @ElazarK and @ssivas.
Please, do you have any updates?

[2022-04-02 02:08] KrishnaG-MSFT commented on #90874
@Trevor-NetApp Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-02 02:40] vicancy commented on #90891
@anthonychu Hi Anthony, this looks like an Azure Function document-related issue, could you help to redirect this to the right contact? Thanks!

[2022-04-02 02:42] mike-urnun-msft commented on #90876
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-02 02:43] mike-urnun-msft commented on #90877
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-02 02:45] mike-urnun-msft commented on #90879
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 03:02] RyanHill-MSFT commented on #90891
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-02 04:22] AnuragSharma-MSFT commented on #90887
@jdogtech Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-02 04:24] AnuragSharma-MSFT commented on #90892
@fei0x Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-02 04:36] AnuragSharma-MSFT commented on #90893
@robsanf Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-02 04:38] AnuragSharma-MSFT commented on #90900
@tomnolan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-02 04:39] AnuragSharma-MSFT commented on #90903
@FMJim Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-02 06:28] imeya opened #90908 "are IPv6 addresses supported when adding client ip to azure service bus firewall?"
azure service bus firewall: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-ip-filtering

my client only has the ipv6 address and cannot be converted to ipv4. so when I added my ipv6 address to the service bus firewall, it throws error.
is there a way to add ipv6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-04-02 06:52] vicancy commented on #90891
This issue is not related to Azure SignalR, please help triage this to Azure Function team.

[2022-04-02 07:05] anthonychu commented on #90891
@ggailey777

[2022-04-02 07:50] Rashair commented on #86851
Great thanks 👍🏻, good to know for sure.

[2022-04-02 08:09] antmeehan commented on #27962
Note the URL above has changed - https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-user-identities

[2022-04-02 13:24] bolt-io commented on #89144
Any update on what these changes are?
#atcp

[2022-04-02 16:53] lucasmaj opened #90909 "Prefetch > 1 and multiple messages in flight."
Prefetch > 1 (not sure what default value is but default was > 1 in my case) had another side effect that caught me completely by surprise. With prefetch > 1 (and more than 1 messages in the queue) ServiceBusSessionReceiver.ReceiveMessageAsync will very happily hand out next message, even if the first message has not been Completed yet. And this would not happen if PrefetchCount=1. This creates po

[2022-04-02 17:19] markjbrown commented on #90711
What misconceptions? Sorry. I don't know what the video is for.

The screen cap of User Voice is consistent with what I wrote above as I wrote that decline too.

[2022-04-02 17:33] Ayanmullick commented on #90711
@markjbrown, the PowerShell  Principal manager, @SteveL-MSFT,  disagrees with that characterization in the clip below.

**PowerShell for data plane:** https://youtube.com/clip/UgkxoRbjd5HcSy6dEd1_pYJ-D3gItFNKA0pB

[2022-04-02 17:40] brentblawat opened #90911 ""Upload the contents of a directory" Example Syntax"
Just quickly notifying you that it appears the example for  "Upload the contents of a directory" has a double quote after the SAS Token, where it should be a single quote. I could be wrong -- but figure I'd send a note if It is so.

Cheers

-Brent Blawat

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2ee3a6-a4ae-068a

[2022-04-02 17:41] mpellizzon commented on #88476
Hello Robert,

Thanks for the update. But if I´m setting the user as a Contributor, this mean I´m giving him more priviledges than just a Network Contributor right? I mean, I was thinking that giving Contributor Role, I woudn´t need to set a more restrictive role to the user. But seems to me that regarding some specific azure configurations, you have to be more restrictive and regarding the NSG ru

[2022-04-02 18:51] mehdi-ichka opened #90913 "Azure StaticWebApps: The header 'x-ms-client-principal' doesn't contain the claims in custom authorization"
The header 'x-ms-client-principal' doesn't contain the claims in custom authorization

I Configured my StaticWebApp to use custom authrozation with aad, when calling ./auth/me endpoint throught my javascript azure function i get all the expected data including claims. But when accessing data via The 'x-ms-client-principal' header i get userData without the claims array values

Expected Result:
---

[2022-04-02 19:29] ASDrew94 opened #90914 "Azure Bastion - Copy, Paste and Undo not working among other CTRL + [letter] shortcuts"
If you have **CAPS Lock enabled** when clicking **into** the Bastion remote session window, the SHIFT key is **permanently** enabled.

In this state, if you attempt to do CTRL + [letter] shortcuts, they will be read as CTRL + SHIFT + [letter] shortcuts, hence why the common actions do not execute as expected.

To disable, click away from the Bastion remote session, toggle the CAPS Lock, and click

[2022-04-02 19:44] mike-urnun-msft commented on #90908
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 19:44] JohannesM24 opened #90915 "ERROR: azure_iot_nx_client_hub_run hub config exceeds buffer size , when trying to run the binary on the devkit"
After successfully building and copying the .bin file following error appears (as seen with Termite)

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad78bcc1-3658-8084-4ffe-33ff562e8e72
* Version Independent ID: 2a24752e-bc92-43ac-c911-0af9269be285
* Content: [Connect an MXCHIP AZ3166 to Azure IoT Hub quickstart]

[2022-04-02 19:46] mike-urnun-msft commented on #90909
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-02 19:52] mike-urnun-msft commented on #90911
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 19:54] mike-urnun-msft commented on #90913
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 19:55] mike-urnun-msft commented on #90914
@ASDrew94 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2022-04-02 19:55] mike-urnun-msft commented on #90915
Thank you for your feedback! We will review and update as appropriate.

[2022-04-02 20:05] ASDrew94 commented on #90914
I think the information posted above would be useful for Azure Bastion troubleshooting. Here you go:
https://docs.microsoft.com/en-us/azure/bastion/troubleshoot

I apologize as I couldn't find a better spot to report this issue with the Bastion remote session utility.

[2022-04-02 21:20] milyo001 commented on #61632
Same issue here, stuck for days now, if I find solution I will post it here.

[2022-04-02 23:45] MarcoEnxuto opened #90917 "Typo on services.Configure<MsalDistributedTokenCacheAdapterOptions>"
[Enter feedback here]
options.sizeLimit is not correct. It should be **options.L1CacheOptions.SizeLimit=**....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6b0d71-daf8-e75a-5157-a8a3c1c8bf1a
* Version Independent ID: 64d94165-c058-3867-fc63-6d816399fde4
* Content: [Token cache serialization (MSAL.NET) - Microsoft i

[2022-04-03 01:36] rolyon commented on #88476
Hi @mpellizzon
Yes, we have asked the team to check into the Contributor role and determine what its behavior should be related to networking.
thanks

[2022-04-03 02:51] shiftychris opened #90922 "Serverless Cosmosdb through PowerShell"
https://github.com/MicrosoftDocs/azure-docs/issues/63140#issue-707524869

Quoting this issue that creating CosmosDB resources as serverless would be available when it reached GA. Is there any documentation update on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18541d64-33d6-9a5b-b451-a4a7ce983d77
* Version Inde

[2022-04-03 03:35] mike-urnun-msft commented on #90917
Thank you for your feedback! We will review and update as appropriate.

[2022-04-03 05:43] Jaydeep28 opened #90923 "AADB2C90238: The provided token does not contain a valid issuer. Please provide another token and try again."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-04-03 07:13] TedHoward opened #90924 "Tester Notes (tedhoward@)"
1. Confusion about port 3000 or 5000
2. No mention that the use of 'bash' is required, potentially leading to multiple problems
3. [bash] The build & run script doesn't work in PowerShell. Copy/paste fails.
4. [bash] 'ngrok http xxxx' doesn't work in PowerShell - must use Terminal
6. No mention of YOURPUBLICREACHABLEHOSTNAME which is a basic requirement (message":"Cannot lookup Callback hostname y

[2022-04-03 07:19] ElazarK commented on #87421
Hi @azure1123, as a writer for the documentation for the product I am having trouble getting an answer on this. It is not a documentation issue and the products support team would be able to answer this question. Please reach out to them as they will hopefully be able to better assist you.

[2022-04-03 07:19] ElazarK commented on #87421
@please-close

[2022-04-03 07:20] ElazarK commented on #87421
#please-close

[2022-04-03 07:20] #87421 closed

[2022-04-03 07:26] bmansheim commented on #89370
#reassign:bmansheim

[2022-04-03 07:29] bmansheim commented on #89370
@roflemin Thank you for bringing this to our attention. I am waiting for a response from the product manager. Can you clarify what change in the docs will help to clarify the issue?

[2022-04-03 07:45] bmansheim commented on #86527
@swupdiedoowap Got it. I have another PR coming that should help with that.

[2022-04-03 07:50] rashid199 commented on #90297
Here is the related link

[](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/private-link-and-dns-integration-at-scale)

[2022-04-03 07:50] rashid199 commented on #90297
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/private-link-and-dns-integration-at-scale

[2022-04-03 09:18] SadiqhAhmed-MSFT commented on #90595
@dmetcalfe-work Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-04-03 12:19] yurinaito commented on #90856
@SwathiDhanwada-MSFT Thank you for reflecting!
I have confirmed the fix for English document, but for the Japanese document, the preview statement still appears to be there.
Could you please correct the Japanese version as well?

- https://docs.microsoft.com/ja-jp/azure/automation/update-management/overview
"毎月リリースされる "重要な" 更新プログラムとセキュリティ更新プログラムによってセキュリティ コンプライアンスを維持するために Azure 仮想マシンの自動的な評価と更新に関心が

[2022-04-03 13:25] letzfets opened #90926 "Azure CLI version is wrong"
az highest version is currently 2.34.1 - prerequisite section asks for 2.4!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad0996e-81f7-ab62-45a8-b1fef8e379bf
* Version Independent ID: a9e793ee-84a8-b688-222f-2ddbb089ba01
* Content: [Create a JavaScript function from the command line - Azure Functions](https://docs.mi

[2022-04-03 13:27] atomikdesign commented on #20701
I suggest you to handle this in a different way as we do not have answers.
It's quite easy to put something like Azure Front Door and configure subdomains rules.

I've done that for my projects that needed it

[2022-04-03 13:44] AnuragSharma-MSFT commented on #90922
@shiftychris Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-03 13:46] AnuragSharma-MSFT commented on #90923
@Jaydeep28 Thanks for your feedback. GitHub forum is for queries/doubts related to Microsoft Documentation. Could you please provide the url you are refering to?

[2022-04-03 13:48] AnuragSharma-MSFT commented on #90924
@TedHoward Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-03 13:49] AnuragSharma-MSFT commented on #90926
@letzfets Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-03 13:57] AnuragSharma-MSFT commented on #90797
@toastjoqo This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-03 17:33] wguyman opened #90927 "How many images should be used to optimize enrollment template quality? Suggest adding that enrollment should be used for "High" quality images and that 5-10 images are recommended"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24f2953b-2900-322d-dbfd-a53846e75940
* Version Independent ID: 25af9875-58cf-69d5-478d-08fb888d12dc
* Content: [Quickstart: Use the Face client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quicksta

[2022-04-03 18:35] TedHoward commented on #90924
fyi - I'm FTE (redmond/tedhoward)

#4
Correction - works in Terminal running PowerShell; doesn't appear to work in PowerShell ISE
I suspect it's working in ISE but not displaying the output

#5
Appears to be a transient issue. Last night it didn't work (no QR displayed). This morning it works (QR displayed)

Now I have a disappearing Access Policy for KeyVault (the one for Service Principal)

[2022-04-03 19:17] TedHoward commented on #90924
#6
Adding the KeyVault Access Policy for the Service Principal for 'Verifiable Credential Request Service' must be done via PowerShell. Doing it via the Azure portal GUI results in it displaying as successful than at some point silently disappearing.
(Set-AzKeyVaultAccessPolicy referencing the principal by ObjectId)

[2022-04-03 19:35] ezcompanynz commented on #47220
Having the same issue

[2022-04-03 21:16] GeethaThatipatri-MSFT commented on #90771
Hi @nickdiscipio Have you check this [document ](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-choose-offer#measure-and-monitor-your-usage)and [RU Calculater ](https://cosmos.azure.com/capacitycalculator/)

[2022-04-03 21:30] GeethaThatipatri-MSFT commented on #90654
Hi, @naokitakeda14 I have not heard back from you. just want to check..

[2022-04-03 23:04] fran38 opened #90930 "# []()"
https://discord.gg/Zy5MVJpw

[2022-04-03 23:38] ezcompanynz commented on #90819
Also having this issue today, any updates?

[2022-04-03 23:57] mike-urnun-msft commented on #90927
Thank you for your feedback! We will review and update as appropriate.

[2022-04-04 00:01] RyanHill-MSFT commented on #90891
@jayallenmsft let me know if [Authentication and authorization - App Service](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) is the doc you were expecting.

[2022-04-04 00:02] mike-urnun-msft commented on #90886
@arnaudhelin Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2022-04-04 00:16] gbms311 opened #90931 "Remove the word PREVIEW form the instructions"
" Select Azure Active Directory > User settings > User feature previews > Manage user feature preview settings. "

should now read

" Select Azure Active Directory > User settings > User feature > Manage user feature settings. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c68db81b-c293-dc2f-0ff7-e21ead484367
* Versi

[2022-04-04 00:40] MonikaReddy-MSFT commented on #90930
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-04-04 02:24] AnuragSharma-MSFT commented on #90931
@gbms311 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-04 02:45] Vincent0818 opened #90933 "doc is wrong"
missing this rule DNATRC3 in pic
[Enter feedback here]
![image](https://user-images.githubusercontent.com/38422984/161465526-43abad6d-1c54-4559-90ff-9a9c15480908.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6392b4a0-fa1e-fe5e-a31b-1eee48b860ef
* Version Independent ID: 551028da-b651-30ac-0e77-9ee5eebf6bb0
* Cont

[2022-04-04 04:01] #90641 closed

[2022-04-04 04:15] Givary commented on #90594
@lightupdifire

Please send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary and following details in the email body:
Link to this thread/post
We can connect offline and discuss further on this.

[2022-04-04 04:38] Jaydeep28 commented on #90923
[Source](https://github.com/azure-ad-b2c/samples/tree/master/policies/home-realm-discovery-modern)
I am referring to this custom policy.

[2022-04-04 04:47] YutongTie-MSFT commented on #90688
@aahill Hello, could you please help to verify the syntax? Thank you so much,

[2022-04-04 04:49] ram-msft commented on #90791
Thanks, Raised Pull request #https://github.com/MicrosoftDocs/azure-docs/pull/90935 for the Data labeler role.

[2022-04-04 04:50] ram-msft commented on #90791
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-04 04:50] #90791 closed

[2022-04-04 05:00] SwathiDhanwada-MSFT commented on #90561
@nicknameyu To get the "Agent Image Tag" value, you can traverse to the Insights Tab of the resource, from the Nodes tab select a node, and in the properties pane note value of the Agent Image Tag property. For your reference, sharing a snapshot.

<img width="857" alt="image" src="https://user-images.githubusercontent.com/48976275/161476926-e1c82b9f-ff5e-4fe5-bff6-b6afd7e6f98e.png">

Also, I have

[2022-04-04 05:03] ram-msft commented on #90848
@adriantorrie Thanks, Can you please add more details about the error that you are getting.

[2022-04-04 05:04] eltalkhawy opened #90936 "In the image for DataFactory's home, "Ingest" step is selected, where in the step text "Orchestrate" should be selected"
In the image for DataFactory's home, "Ingest" step is selected, where in the step text "Orchestrate" should be selected, which is confusing and can lead to a lot of issues.

![image](https://user-images.githubusercontent.com/18641390/161477475-49f9750d-b77b-478d-95e7-d8095a994946.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-04-04 05:05] AshokPeddakotla-MSFT commented on #90547
As suggested, Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, do let us know.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-04 05:05] #90547 closed

[2022-04-04 05:13] pvrk commented on #80205
Thanks @Klaas- . Will use this information to debug further

[2022-04-04 05:16] #90561 closed

[2022-04-04 05:20] ezcompanynz commented on #90819
Having the same problem here, is there an update to the issue? front door instance is not visible in the drop down menu when trying to setup root domain dns records.  can't get it to add via the supplied poweshell command either.

[2022-04-04 05:30] #90775 closed

[2022-04-04 05:43] v-hgampala commented on #90731
@PhilippZumdohme, could you please raise an update request in our [portal] (https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/apprequest.aspx) for the name change request?

![image](https://user-images.githubusercontent.com/102347245/161480813-3e23a76b-1b72-4a67-9ee7-013daf179e04.png)

[2022-04-04 05:50] v-hgampala commented on #90375
@tunc-ay, What is the status of it, have you raised the request?

![image](https://user-images.githubusercontent.com/102347245/161481657-ec596b07-f1a4-4ba5-b5a0-dcee8b9418aa.png)

The document was updated with the latest, please send a request through our portal to change the name in app gallery.

[2022-04-04 06:03] SadiqhAhmed-MSFT commented on #90855
@tksh164 Appreciate your patience in this matter.

The same document has hyperlink that points to minimum permissions required (custom roles):

To manage permissions at a more granular level, see [Create roles and permissions manually](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbackup%2Fprivate-endpoints%23create-roles-and-permissions-man

[2022-04-04 06:17] tunc-ay commented on #90375
I got this error: We're sorry, but tuncay.kayaoglu@invicti.com can't be found in the microsoft.sharepoint.com directory. Please try again later, while we try to automatically fix this for you.

Is there a way that you can the said email address to the Sharepoint?

[2022-04-04 06:27] SnehaAgrawal-MSFT commented on #90728
@euchungmsft Since we will be working offline, will close this thread here, will update with findings here accordingly.

[2022-04-04 06:27] #90728 closed

[2022-04-04 06:33] Jaydeep28 commented on #90923
I was abele to resolve this issue by removing below item from metadata.

`                        <Item Key="ProviderName">https://sts.windows.net/ffc9d30c-a7e7-486d-bbcd-66d88af6f4c9/</Item>
`

[2022-04-04 06:33] #90923 closed

[2022-04-04 06:44] GiftA-MSFT commented on #90738
@aahill please review above feedback. Thanks.

[2022-04-04 06:52] ram-msft commented on #90853
Thanks, @alexeyo26 Can you please confirm Standard TTS quota is 200 per second or per minute?

![image](https://user-images.githubusercontent.com/49180516/161488880-323153d6-c26b-41fb-8323-5c1ad0816f89.png)

[2022-04-04 07:02] ram-msft commented on #90853
@hengv Thanks, it's 200 transactions per seconds.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-04 07:02] #90853 closed

[2022-04-04 07:28] seanvandermolen opened #90938 "Should detail the requirements for users"
This describes how an AAD joined device and SSO to local resources.  But this will only work if the user exists on the domain controller and is synced to AAD.  This will not work if a user was created in AAD only if I'm not mistaken... as there is no way to add that user to the local share permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-04-04 07:32] CHEEKATLAPRADEEP-MSFT commented on #90936
@eltalkhawy  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the image as appropriate.

[2022-04-04 07:49] Klaas- commented on #80205
@pvrk notice the x-cache: TCP_MISS (2.0.9.4) and x-cache: TCP_HIT (2.0.9.3) so I am guessing you have a problem invalidating caches upon a new version being released :)

[2022-04-04 07:54] KrishnaG-MSFT commented on #90879
Tagging @tfitzmac @mumian to help providing insights on this.

[2022-04-04 07:59] KrishnaG-MSFT commented on #90670
We have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-04 07:59] #90670 closed

[2022-04-04 08:02] mtrmmsoftware opened #90939 "Preview publish features not displayed by default"
[Enter feedback here]
Hi the Azure Container app publish is not displayed by default and the page does not explain how to enable the preview features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b92e9376-e663-c07a-6091-6d700e20fbf9
* Version Independent ID: bde516e6-2e34-72f0-2195-0d7124d2994b
* Content: [Deploy to

[2022-04-04 08:17] AjayKumar-MSFT commented on #90615
edisga, After initial check, your feedback has been shared with the content owner for further review. Thanks for taking time to share your feedback. // @Grace-MacJones-MSFT

[2022-04-04 08:28] v-hgampala commented on #90375
Let us give you the access for it.

[2022-04-04 08:46] miqm opened #90944 "missing tableEndpoint in connection strings"
In [HTTP-Connection strings](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs=visual-studio#http-connection-strings) only blob and queue endpoint urls are specified. Azurite supports also table storage, therefore connection strings should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-04 08:52] ShaikMaheer-MSFT commented on #90806
@spelluru In [azure docs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about) I see image is broken. But in [content source](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/event-hubs/event-hubs-about.md) image is getting loaded properly. Could you please check and do the needful? Thank you.

![image](https://user-images.githubusercontent.com/84302758/161508583-abfe8

[2022-04-04 08:54] ShaikMaheer-MSFT commented on #90808
@jianleishen Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-04-04 08:58] meshkerila commented on #87047
Hi folks,

I see there's been no news in a long while.
I can understand that there's backlog, but at least an acknowledgement or reply is expected.

[2022-04-04 09:02] YutongTie-MSFT commented on #90707
@neelamari Thanks for pointing out this again.

@laujan Hello La, I think the link and the screenshot/guidance are not consisitent. The screeshot are all about old studio, but the link is already updated to new language studio. I was thinking to update the lind directly but then I think a double check will be helpful.

Could you please check which version we should put in there? The old stuio or t

[2022-04-04 09:06] YutongTie-MSFT commented on #90753
@kotagirip Sorry for the late response. May I know is there any error happening?

[2022-04-04 09:26] SadiqhAhmed-MSFT commented on #90595
@dmetcalfe-work We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-04-04 09:26] #90595 closed

[2022-04-04 09:39] Park-minkyu opened #90945 "I tried this code in ubuntu, does this work properly?"
in the main code section
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Redis in .NET Core](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-cor

[2022-04-04 09:43] eissko commented on #66490
Hello Gentlmen @SaurabhSharma-MSFT @AjayKumar-MSFT
any update on this?

As mentioned in the former definition of the issue I have run into the same. I have Azure Function App (standard S1, python runtime, vnet integrated). The reference from keyvault secret in the setting APPLICATIONINSIGHTS_CONNECTION_STRING of app settings is green which means function is able to read the secret from the keyvaul

[2022-04-04 09:50] dknappettmsft commented on #82381
Thanks for the feedback.  These entries have been replaced with newer ones.

#please-close

[2022-04-04 09:50] #82381 closed

[2022-04-04 10:13] sukirti88 opened #90946 "Out of date . The templates are from version 2015 , we have 2019,2021 in place. Powershell and CLI are pertaining to 2015"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a newer metric alert with Azure Resource Manager template - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/aler

[2022-04-04 10:21] jeremy-donson commented on #90525
Thank you, Sir.
Please provide the name of that content author.
Please encourage them to engage with me directly.

This is not a "terrible error",
yet the adverse impact on the software and docs is significant.

Hopefully we all want the same thing:   Proper and consistent use of language in public cloud services.

[2022-04-04 10:32] GitaraniSharma-MSFT commented on #90815
@o-l-a-v , Azure Front Door (Standard/Premium) went GA (Generally Available) on 29th March 2022.
Refer : https://azure.microsoft.com/en-in/updates/generally-available-the-new-azure-front-door-a-modern-cloud-cdn-service/

Zero downtime migrations from Azure Front Door (classic) and Azure CDN from Microsoft (classic) to Azure Front Door Standard and Premium is in the roadmap as documented in the bel

[2022-04-04 10:35] StevenTCramer opened #90947 "How to run CosmosDB emulator in a Docker Linux container from Windows with WSL2?"
I am able to get the emulator running and I can connect to https://localhost:8081/_explorer/index.html but I get
![image](https://user-images.githubusercontent.com/357219/161525623-4064354a-4ef4-4778-8fe2-3e8d5e2020f1.png)
https security warning in Edge.

From where do I get the required certificate?  And in which container/s am I supposed to install it, and where.

In the documentation we need so

[2022-04-04 10:38] AnuragSharma-MSFT commented on #90945
@Park-minkyu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-04 10:40] SwathiDhanwada-MSFT commented on #90946
@sukirti88 Thanks for your feedback. We will review the issue and get back to you shortly.

[2022-04-04 10:41] dmetcalfe-work commented on #90595
Hi @SadiqhAhmed-MSFT, please give me chance to review after the weekend! It's only Monday :)

The example provided by mepand does look promising, however I haven't tested it yet.

I'm also confused why the github issue has been closed so quickly too. It's still not been resolved or implemented on the [Microsoft example](
https://docs.microsoft.com/en-us/azure/backup/scripts/set-system-state-backup

[2022-04-04 10:43] SadiqhAhmed-MSFT commented on #90595
@dmetcalfe-work Thanks for the reply. You can test the example and let us know the status. If issue persist, we can reopen this thread and continue the discussion.

[2022-04-04 10:48] zincob commented on #89584
Hi,
Is it possible to get at least a feedback?

After 25 days the documentation has not been updated and I didn't received any feedback in order to confirm that indeed CDF can be used for streaming

[2022-04-04 10:50] zincob commented on #88342
@mssaperla , @leifbro may ask if there is any update?

[2022-04-04 10:56] marketa2S opened #90948 "basic authentication for API will be deprecated this year"
basic authentication for API will be deprecated this year so it does not make sense to implement it. Can you please provide the guide for oAuth implementation for this Writeback tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed074cb3-7c71-0728-10d5-d1f991162e67
* Version Independent ID: 0ed1eddb-f8d2-172b-0cc

[2022-04-04 11:43] SnehaAgrawal-MSFT commented on #90736
@PedroGuerraPT Thanks again for the valuable feedback!  It has been restored by author again,
FAQ about the warmup request behaviors. [https://docs.microsoft.com/en-us/troubleshoot/azure/general/faqs-app-service-linux#other-questions](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Ftroubleshoot%2Fazure%2Fgeneral%2Ffaqs-app-service-linux%23other-questi

[2022-04-04 12:06] v-hgampala commented on #90375
@tunc-ay, We gave you the access to our portal, please try to raise the request again.

[2022-04-04 12:10] Jeej opened #90950 "Clearify alternative way of delivering events using private link service"
Hi there :wave:,

One of the requirements of my solution is that all communication should be internal. This is why I use VNet integration when possible and otherwise Private Endpoints.

In my solution a resource needs to be triggered when something happens, the event is not per se regular so I choose to use Event Grid Topic to get an event message and that I don't need to poll.

Unfortunately:

On

[2022-04-04 12:12] tunc-ay commented on #90375
Thanks. I am going to do that. @v-hgampala

[2022-04-04 12:24] kapoorh opened #90951 "Deploy Azure IoT edge module using yaml deletes existing other modules"
Hi,

We have configured multiple modules on Azure IoT Edge. We have created one yaml pipeline in Azure DevOps to build and push module into Azure Container registry with the latest version and its working fine.
In the yaml pipeline we are using following steps:

Build module images
Push module images
The above 2 steps build and push the images into ACR, and manually we update the new image on the

[2022-04-04 12:31] shashishailaj commented on #90931
@gbms311 We have initiated a pull request and updated the thread.

[2022-04-04 12:32] #90931 closed

[2022-04-04 12:33] shashishailaj commented on #90787
As we have not received any further response from you , we will be closing this.

[2022-04-04 12:33] #90787 closed

[2022-04-04 12:42] harelbr commented on #90946
Thanks @sukirti88 for the feedback. I just issued an update to the schema version in this article, bumping the version to 2019-04-01.

[2022-04-04 12:45] shashishailaj commented on #90924
@TedHoward Thank you for sharing your findings . We will check this on our side and will collaborate with you as needed. Please allow us some time .

thank you ,

[2022-04-04 12:47] rezanid opened #90953 "Please warn readers that OPENROWSET(BULK.. does not support multiline fields in Synapse (and SQL Server)"
Please warn readers that OPENROWSET(BULK.. does not support multiline fields (i.e. fields that include CR or LF characters) when reading CSV files, even though CSV files generated by Synapse can contain such characters and it is very common for a multi-line text fields to include these characters.

This can save many readers from losing valuable time. Thanks.

---
#### Document Details

⚠ *Do not

[2022-04-04 12:57] omeszar commented on #9925
Having the same problem. This is how I went around it.
First our flow:

- In our application an admin will create external users. We don't want just anyone to create an account.
- The admin assigns the user a username and a password.
- Using Graph we create the user with one identity, userName.
- For completeness we store the email address in the OtherEmails collection.
- The username cannot be ch

[2022-04-04 13:10] #90926 closed

[2022-04-04 13:19] alexwolfmsft commented on #90939
Hello, in order for the Container App publish option to appear you'll need to have Visual Studio 2022 Preview version 2 or higher installed.
https://visualstudio.microsoft.com/vs/preview/

Thanks!

[2022-04-04 13:20] MayankBargali-MSFT commented on #90950
@Jeej Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-04 13:21] tksh164 commented on #90855
@SadiqhAhmed-MSFT Thank you tell that. I overlooked that.

[2022-04-04 13:21] #90855 closed

[2022-04-04 13:45] dilisha commented on #78309
I have the same doubt. Can we know the order of returned blob items or is it random for now?
Will we be able to sort using a particular index tag in the upcoming upgrades?

[2022-04-04 14:15] mtrmmsoftware commented on #90939
I have the latest VS 2022 Version 17.1.3, but I don't have the option

[2022-04-04 14:18] mtrmmsoftware commented on #90939
You mean the released GA Version of VS 2022 would not have it? I have latest version 17.1.3 as of the time of writing but I don't have it

[2022-04-04 14:39] alexwolfmsft commented on #90939
You're correct that the latest GA release is 17.1.3.  However, the Preview version of Visual Studio is a separate install and the latest version there is 17.2.0 Preview 2.1 - did you try installing this?

[2022-04-04 14:55] porrascarlos802018 opened #90958 "Clarification needed for customers on alternatives to get the change applied if latest image is in use"
when customers switch to managed identities , they are meant to execute the upgrade of their nodepools, but if the nodepools are using the latest image already , the change wont be applied. This is by design.

This text can be updated:
From:
"After updating, your cluster's control plane and addon pods will switch to use managed identity, but kubelet will KEEP USING SERVICE PRINCIPAL until you upgr

[2022-04-04 14:56] MsGabsta commented on #90829
@bwren could you please help us here by looking at this request.

[2022-04-04 15:10] spelluru commented on #90950
@jfggdl @robece - could you please review this GitHub issue and add your comment? Thanks.

[2022-04-04 15:11] cmmdesai commented on #90948
@marketa2S Thanks for the feedback. We currently don't support OAuth for Writeback. It's in our backlog to support it and we will update the docs when we implement it. FYI - SAP SuccessFactors updated their guidance and have now moved out the deprecation date for basic auth out by one year to 17-Nov-2023. Link to updated guidance: https://help.sap.com/doc/62fddbd651204629b46bbccbabf886ba/cloud/en-

[2022-04-04 15:13] ingridxinzhuo163 opened #90959 ""SKU" property for app service"
Hi Team,

Appreciated your effort on contributing this document.

Recently we notice that when trying to get property “sku”, it seems though it shows on App Service Portal, but this property is not mentioned in ARM official document:

![image](https://user-images.githubusercontent.com/66397665/161573239-18feb87e-7bd2-4e3b-9c26-ef6b5dbd0ff5.png)

https://docs.microsoft.com/en-us/azure/templates/mic

[2022-04-04 15:21] abhijit-z commented on #90750
Hi @ynpandey @YutongTie-MSFT ,
Can I please get update on this question?

[2022-04-04 15:24] #88717 closed

[2022-04-04 15:30] duongau commented on #90815
Hi @o-l-a-v, switching between tiers post creation is not supported. In order to do so, you will need to recreate the profile. This information was recently added to the tier comparison page: https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/tier-comparison. If you have any further questions, please feel free to reach back out to us. For now I will be archiving this issue. Thank yo

[2022-04-04 15:31] mike-urnun-msft commented on #90886
Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-04 15:31] #90886 closed

[2022-04-04 16:07] PedroGuerraPT commented on #90736
Thank you so much for promptly addressing the issue! 👍

[2022-04-04 16:07] #90736 closed

[2022-04-04 16:15] mike-urnun-msft commented on #90933
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-04 16:20] GeethaThatipatri-MSFT commented on #90608
Hi @sd40250 I am assigning this to the author for the feedback review

[2022-04-04 16:25] cijothomas opened #90966 "ASP.NET basic vs recommended"
In ASP.NET Basic Collection, the doc says CPU/Memory stats are collected, whereas it is only collected in Recommended collection mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c07418-cf3d-9ed7-312f-e9e5d17a4309
* Version Independent ID: 268b5830-a77f-542d-e9c7-5b6999158527
* Content: [Monitor Azure app services

[2022-04-04 16:27] felixtsem5 opened #90967 "Azure Reservation VM instance size spreadsheet clarification"
In the spreadsheet reference in the doc (https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv), it has a few flexibility groups with **Linux** at the end of the name, for example, **Dadsv5 Series Linux** and **Ddsv5 Series Linux**. This has led to people thinking that you can only apply the reservation to the Linux VMs, which I believe is not the case. Can you please clarify?

---
#### Doc

[2022-04-04 16:29] MonikaReddy-MSFT commented on #90966
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-04 16:31] MonikaReddy-MSFT commented on #90966
@cijothomas - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-04 16:31] #90966 closed

[2022-04-04 16:37] esanchezvela opened #90970 "Reference to /dev/ptp0 on manual chrony configuration instead of the recommended /dev/ptp_hyperv device."
In the section of the manual chrony configuration, I noticed the reference to /dev/ptp0 instead of the recommended /dev/ptp_hyperv device alias.

You used:

`refclock PHC /dev/ptp0 poll 3 dpoll -2 offset 0 stratum 2`

Instead of:

`refclock PHC /dev/ptp_hyperv poll 3 dpoll -2 offset 0 stratum 2`

It would be great to see that updated.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-04-04 16:38] PriyankaRudramaina commented on #90958
Hello @porrascarlos802018,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-04 16:39] #90857 closed

[2022-04-04 16:40] PriyankaRudramaina commented on #90857
Hello @jdoblams,

We have made the necessary changes in the documents and it will be updated as soon as it gets published. Please check back after a day or two.

[2022-04-04 16:41] CedricSteenbeke opened #90972 "Missing $ for az cli command"
In the command to create the Service Principal, a $ is missing to execute succesfully.

the correct syntax of the code is:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-2f37-ca2c9ca7e3d8
* Version Independent ID: e4b15b6b-e0fe-fc0e-4981-5b23e3d343ea
* Content: [Register a client application in

[2022-04-04 16:43] spoelstraethan opened #90973 "Should add to the Production note how to get a signature hash when using Google Play managed signing"
The steps here are appropriate for getting the correct signature hash when using Google Play managed signing.

[How to configure Signature Hash with Google Play Signing · Issue #1550 · AzureAD/microsoft-authentication-library-for-android](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1550#issuecomment-962629868)

---
#### Document Details

⚠ *Do not edit this secti

[2022-04-04 16:43] rvandenbedem opened #90974 "Old version of solution limits page"
This page is using an older version of the solution limits page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0d8e000-7a71-4b85-6699-2db08b305633
* Version Independent ID: a5deb09e-157c-dc1d-9050-462ea25188d3
* Content: [Tutorial - Scale clusters in a private cloud - Azure VMware Solution](https://docs.microsoft.com

[2022-04-04 16:44] spoelstraethan opened #90975 "Should add to a Production note how to get a signature hash when using Google Play managed signing"
The steps here are appropriate for getting the correct signature hash when using Google Play managed signing.

[How to configure Signature Hash with Google Play Signing · Issue #1550 · AzureAD/microsoft-authentication-library-for-android](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1550#issuecomment-962629868)

---
#### Document Details

⚠ *Do not edit this secti

[2022-04-04 16:46] JamesTran-MSFT commented on #90870
@EmiFlo
Thank you for your time and patience throughout this issue!

Unfortunately, there isn't a native way to default the PIM emails to your Alternate Email address. However, there are a few options you can take to ensure your alternate email gets the PIM emails.

1) Create an [email rule](https://support.microsoft.com/en-us/office/set-up-rules-in-outlook-75ab719a-2ce8-49a7-a214-6d62b67cbd41#:~:

[2022-04-04 16:46] #90870 closed

[2022-04-04 16:50] JamesTran-MSFT commented on #90875
@KSchlobohm
Thanks for your feedback!

Can you share some more details on what you'd like improved within our [Support and help options for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/support-help-options) documentation, when it comes to the Microsoft.Sql.Client library?

[2022-04-04 16:51] JamesTran-MSFT commented on #90973
@spoelstraethan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-04 16:53] JamesTran-MSFT commented on #90975
@spoelstraethan
Thanks for your feedback!

Since this issue is a duplicate of #90973, I'll close this out and let the author investigate and update as appropriate on your other issue.

[2022-04-04 16:53] #90975 closed

[2022-04-04 17:23] SaiKishor-MSFT commented on #90123
@catmanjan Any update?

[2022-04-04 17:28] suzizuber commented on #90974
@rvandenbedem please provide the link to newer solution limits page so it can be updated.

[2022-04-04 17:30] Oury-MSFT commented on #90972
@CedricSteenbeke Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-04-04 17:30] #90849 closed

[2022-04-04 17:31] SatishBoddu-MSFT commented on #90068
Hello @jonmikeli
Distributed tracing wasn't done for the other languages. But we have logged an internal work item to track this issue\query. We will update the status once we get any update from the product team.
Thanks for your contribution on this topic!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly c

[2022-04-04 17:40] #90707 closed

[2022-04-04 17:47] #90970 closed

[2022-04-04 17:47] laujan commented on #90864
Hi @anbhar, Thank you for your feedback. As mentioned above, the document translator features supports HTML: <a href="https://docs.microsoft.com/en-in/azure/cognitive-services/translator/document-translation/overview#supported-document-formats">[What is Microsoft Azure Cognitive Services Document Translation? - Azure Cognitive Services | Microsoft Docs](https://docs.microsoft.com/en-in/azure/cogni

[2022-04-04 17:48] PriyankaRudramaina commented on #90970
Hello @esanchezvela,

We have made the necessary changes in the documents and it will reflect shortly, please allow it sometime and check in a day or two.

[2022-04-04 17:50] BryanTrach-MSFT commented on #90913
@mehdi-ichka Thank you for raising this to our attention. We observed a similar behavior when trying this in our sandbox.

We believe this is an unexpected behavior and as a result, we would like to provide you a free technical support case so you can work 1:1 with a support engineer to further investigate this matter.

Can you please email us at azcommunity@microsoft.com and in the subject put AT

[2022-04-04 17:50] #90913 closed

[2022-04-04 17:58] YutongTie-MSFT commented on #90660
Hello @Sarchia I just did some research, I think the iso code is consistent with the document, please let me know if there are any official reference we should look into.

As below iso636 list, the kmr reprsents to Northern Kurdish
https://iso639-3.sil.org/code/kmr

ckb represnts to centural Kurdish
https://iso639-3.sil.org/code_tables/639/data/all?title=ckb&field_iso639_cd_st_mmbrshp_639_1_tid=Al

[2022-04-04 18:08] alexwolfmsft commented on #90939
#please-close

[2022-04-04 18:08] #90939 closed

[2022-04-04 18:14] marketa2S commented on #90948
thans a lot for your response! I really appreciate it.

[2022-04-04 18:14] #90948 closed

[2022-04-04 18:18] #90806 closed

[2022-04-04 18:51] sefriend commented on #89574
Hi @mzakirs, the document calls out that both should be selected if you see 2 different display names. Did that not work for you? Updating the display names for the service principals is not a documentation request, it is a service request.

[2022-04-04 18:54] AnuragSharma-MSFT commented on #90801
@naokitakeda14 Thanks for your patience. As much as I understand these terms are used interchangeably but I am tagging the content author for more appropriate response.

[2022-04-04 19:07] Oury-MSFT commented on #90947
@StevenTCramer thanks for your ask. Could you please confirm whether you are running the emulator on docker for windows or for Linux

[2022-04-04 19:37] Kachopsticks opened #90992 "Page Needs More Details on how to define the response body definition."
It seems that when setting up an external call in a dataflow you need to define a response body definition. Outside of two youtube videos, I have been unable to find documentation on how to define a valid response body definition. I believe you have an example on your documentation page but I am not seeing much of an explanation.  I think there should be more on this, or a link to a page explainin

[2022-04-04 19:53] insomniacc commented on #90691
We've managed to figure this one out.
Following the article provided in the error/link and [here](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=portal), and also using the reference from 'Keys and Endpoint' on the translator service itself, we assumed this was a like for like swap, e.g

public endpoint:
https://api.cognitive.microsofttranslator.

[2022-04-04 20:05] GSuggitt opened #90998 "ReferencedSOPInstanceUID tag is wrong"
ReferencedSOPInstanceUID is listed as (0008,1150)
It should be (0008,1155)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c46635-42cb-f353-4ed2-d3fe7e07a606
* Version Independent ID: 82fade13-ec61-435e-7e4e-f81284edde37
* Content: [DICOM Conformance Statement for Azure Health Data Services](https://docs.microsoft.com

[2022-04-04 20:11] MonikaReddy-MSFT commented on #90967
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-04 20:15] MarileeTurscak-MSFT commented on #90917
Thanks @MarcoEnxuto!

I made a pull request to update the example. https://github.com/MicrosoftDocs/azure-docs-pr/pull/193949

This aligns with the documentation here: https://github.com/AzureAD/microsoft-identity-web/wiki/L1-Cache-in-Distributed-%28L2%29-Token-Cache

CC @jmprieur to review

[2022-04-04 20:15] #90917 closed

[2022-04-04 20:31] GeethaThatipatri-MSFT commented on #90998
Hi @GSuggitt Thanks for your findings,We will investigate and update as appropriate

[2022-04-04 20:31] kenwith commented on #90369
Confirmed with product team and removed the O365 logo since it is causing confusion. Thank you for the catch and making the docs better. Much appreciated. Updated diagram should be live shortly.

#please-close

[2022-04-04 20:31] #90369 closed

[2022-04-04 20:31] ThomasWeiss commented on #90831
@sesam85 Thanks for noticing! The fix will be included in our next update later today.
#please-close

[2022-04-04 20:31] Jeej commented on #90950
OK I did some more testing.

In the Service Bus view there is an option that is called "Events" and there there is an option to have an Logic App or Web Hook as event handler. My solution has some logic app, so when I try to use an logic app as an event handler I get a logic app designer but it is not on my ISE environment.

Using the Web Hook option with the callback URL of an test logic app (tha

[2022-04-04 20:31] #90831 closed

[2022-04-04 20:40] DerekHerman-MSFT commented on #90911
It will work with either I believe but it should be one or the other not both. I created a PR to fix this. Thanks for pointing it out.

[2022-04-04 20:40] #90911 closed

[2022-04-04 20:43] markjbrown commented on #90922
Investigating this now. Will revert here once I have something to report.

thanks.

[2022-04-04 21:09] YutongTie-MSFT commented on #90753
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-04-04 21:09] #90753 closed

[2022-04-04 21:09] ezcompanynz commented on #90819
wow.. thats incredibly frustrating that going to premium drops this capability.. I need all the security features of premium but also need root domain functionality.. do you know if there's a work around?

[2022-04-04 21:11] KranthiPakala-MSFT commented on #90820
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-04-04 21:11] #90820 closed

[2022-04-04 21:17] chitturs opened #91000 "Please add example of enabling add-on using cluster ARM template"
Please add example of enabling add-on using cluster ARM template. This snippet works for me.

       "addonProfiles": {
          "openServiceMesh": {
            "enabled": true
          }
        },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3439492-8306-3479-d3a5-0656a1d06985
* Version Independent ID: 6b348938

[2022-04-04 21:26] GeethaThatipatri-MSFT commented on #90827
I'm assigning this to the author for the feedback review

[2022-04-04 21:30] tfitzmac commented on #90879
@stowen-msft - are you running what-if on a resource group or subscription deployment?

[2022-04-04 21:34] GeethaThatipatri-MSFT commented on #90654
Hi, @naokitakeda14  We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-04 21:34] #90654 closed

[2022-04-04 22:00] SaiKishor-MSFT commented on #90819
@thiagoamado & @ezcompanynz Please allow me sometime. I am looking into this currently. Thank you!

[2022-04-04 22:18] GeethaThatipatri-MSFT commented on #90822
Hi, @warnerm06 at which step did you get the error or can you please highlight it from the document. let me reproduce the issue.

[2022-04-04 22:23] ezcompanynz commented on #90819
Thanks! I have a planned cutover for this Thursday.. I would prefer to stick with premium with apex domain if at all possible.. even if it requires some sort of work around. please keep me updated! I have a support ticket logged as well if thats of any help.

[2022-04-04 22:28] Sarchia commented on #90660
It is right that 'ku' is for Kurdish, but it was assigned to Northern Kurdish (Kurmanji) in most platforms, such as Wikipedia, Google, and many localization platforms. There is not much use of 'kmr', only in the cases when for all languages ISO639-3 is used.

Even if you don't change 'kmr' here, for Central Kurdish (Sorani) the code 'ckb' must be used. For all the products not only the translator.

[2022-04-04 22:36] srazasyed opened #91002 "Typo in the example of: Load data from CSV into Azure SQL Database or SQL Managed Instance (flat files)"
The following first command of [step 3 - Load the Data](https://docs.microsoft.com/en-us/azure/azure-sql/load-from-csv-with-bcp#3-load-the-data) of [this MS Azure Doc](https://docs.microsoft.com/en-us/azure/azure-sql/load-from-csv-with-bcp) has a typo for the switch `-t` for field terminator.

`bcp DimDate2 in C:\Temp\DimDate2.txt -S <ServerName> -d <DatabaseName> -U <Username> -P <password> -q -c

[2022-04-04 23:01] SaiKishor-MSFT commented on #90819
@ezcompanynz I can see that this feature is not supported yet for Azure FD Premium/Standard. However, I will check for any workarounds for the same. I will get back to you ASAP. Thank you@

[2022-04-04 23:02] ezcompanynz commented on #90819
@SaiKishor-MSFT Legend, thank you

[2022-04-04 23:04] KranthiPakala-MSFT commented on #90953
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-04 23:05] KranthiPakala-MSFT commented on #90992
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-04 23:11] tfitzmac commented on #90085
We'll close this for now but can be reopened if needed.
#please-close

[2022-04-04 23:11] #90085 closed

[2022-04-04 23:14] catmanjan commented on #90123
@SaiKishor-MSFT we are not using the Host Name Override setting in either test or production

[2022-04-04 23:32] TonySh127-ms commented on #90369
thanks @kenwith and @amanmcse

[2022-04-04 23:38] MarileeTurscak-MSFT commented on #90938
@seanvandermolen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-04 23:40] GeethaThatipatri-MSFT commented on #90883
Hi @kaheamartin Public and Private connectivity is not supported in flex serve yet,

[2022-04-04 23:44] clarenceb opened #91004 "No such role `vnet contributor`, should be `network contributor`"
In section: https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone

It incorrectly states:

"Additionally, you will need a user assigned identity or service principal with at least the `private dns zone contributor` and `vnet contributor` roles."

Fix:

There is no `vnet contributor` role.  It should be changed to `network contributor` role.

---
#### Document Detai

[2022-04-04 23:47] isi-wault opened #91005 "spelling error"
For the Azure CLI example on creating an instance pool, it has '--resrouce-group' which should be '--resource-group'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1ea981-793f-eac2-36fa-59de8714e2e3
* Version Independent ID: b4e2963e-e0aa-b9d1-32a1-02df06c03978
* Content: [Deploy SQL Managed Instance to an instance

[2022-04-04 23:47] KranthiPakala-MSFT commented on #90951
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our engineers a

[2022-04-04 23:49] KranthiPakala-MSFT commented on #90959
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:51] KranthiPakala-MSFT commented on #91000
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:54] tfitzmac commented on #89383
I believe this limit is more related to configuration values rather than quotas for a service. If you still need help with this issue, I suggest directing the question to the [App Service docs about configuration](https://docs.microsoft.com/en-us/azure/app-service/configure-common?tabs=portal).
#please-close

[2022-04-04 23:54] #89383 closed

[2022-04-04 23:57] KranthiPakala-MSFT commented on #91002
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:58] KranthiPakala-MSFT commented on #91004
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:59] KranthiPakala-MSFT commented on #91005
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-04-05 01:54] WilliamDAssafMSFT commented on #90457
Thanks @scott-gibbo, nice catch. Appreciate the time and attention. Will fix!
#please-close

[2022-04-05 01:54] #90457 closed

[2022-04-05 02:28] J227668 commented on #90833
I just read what was added. Thanks for the update. You have an extra " in the new language.

In addition, if you want to keep "CMMC L2 under CMMC 2.0 is similar to L3 CMMC 1.0 but different control mappings." which might be beneficial you might want to remove "but different control mappings". There are other differences that someone might nitpick.

[2022-04-05 02:39] shiftychris commented on #90922
Just to confirm after investigating that you can do it done via Azure CLI but its undocumented. But it is definitely not supported via Azure Powershell

[2022-04-05 03:08] ram-msft commented on #90691
@insomniacc Thanks for the details. We have created backlog to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 03:08] #90691 closed

[2022-04-05 03:11] ram-msft commented on #90848
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 03:11] #90848 closed

[2022-04-05 03:19] ram-msft commented on #90662
@chengyu-liu-cs Thanks for the details.  The documentation [DatabricksStep class](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps.databricks_step.databricksstep?view=azure-ml-py) and the sample notebook https://aka.ms/pl-databricks should both be helpful. Here's some sample code:

from azureml.core import Experiment, Workspace
from azureml.core.compute imp

[2022-04-05 03:33] ram-msft commented on #90662
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 03:33] #90662 closed

[2022-04-05 04:15] ram-msft commented on #90705
@SDlearner-maker Yes I could see the BadArgument: Failed to parse application json. with the shared json file. We would recommend to raise an issue in the following github repo.
https://github.com/Azure-Samples/cognitive-services-language-understanding/issues
You can also check this out for training data: https://benoit-alvarez.medium.com/3-steps-to-convert-chatbot-training-data-between-different-

[2022-04-05 04:26] ram-msft commented on #90705
@SDlearner-maker We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 04:26] #90705 closed

[2022-04-05 04:35] CHEEKATLAPRADEEP-MSFT commented on #90782
@CliftonHS  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 04:35] #90782 closed

[2022-04-05 04:35] CHEEKATLAPRADEEP-MSFT commented on #90779
@ianzhang366  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 04:35] #90779 closed

[2022-04-05 04:45] RohitMungi-MSFT commented on #90864
@anbhar We hope you can try the document translator for HTML documents to avoid complexity with regular translation.
We will go ahead and close this issue, if you have any questions please feel free to raise a new issue or post a question on MS Q&A with tag [azure-translator](https://docs.microsoft.com/en-us/answers/topics/25451/azure-translator.html). Thanks!!

[2022-04-05 04:45] #90864 closed

[2022-04-05 04:51] kapoorh commented on #90951
Hi Kranthi,

We are following the steps from the microsoft document:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/azure-iot-edge?view=azure-devops

Kind regards,
Harsh

[2022-04-05 04:55] YutongTie-MSFT commented on #90660
@Sarchia Thanks a lot, I will involve the content author to make the best change.

@laujan Could you please check on this case? Thanks!

[2022-04-05 05:07] YutongTie-MSFT commented on #90750
@abhijit-z Hello, sorry for the late response, are you mentioning how to create dataset with path of data store as below? I think this has been already mentioned in the document

[code]

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#create-a-filedataset

If you are using Designer UI, you can also add a path when you create your data set.
https://docs.micro

[2022-04-05 05:09] YutongTie-MSFT commented on #90750
We will now proceed to close this thread since there is no document issue.
Please let me know if you still have any block for this issue, I am willing to provide help.

If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-04-05 05:09] #90750 closed

[2022-04-05 05:24] cawighton commented on #90819
I have this issue also  :-(
Please keep me updated.

[2022-04-05 05:25] SreejaBhattacharya-MSFT commented on #91000
Hi @zr-msft , we have example of enabling add-on using Bicep template, can we have the same for ARM templates as well?

[2022-04-05 05:32] shwetamathur7 commented on #90850
@TLKG I understand that you are creating SPA in B2C tenant and adding Microsoft Account identity provider(IdP) to sign-in users with a Microsoft account in your B2C application.
1.To make application for 3rd party authentication, application need to register in your Azure AD B2C tenant. For SPA application in B2C tenant, make sure to select Single-page application (SPA), and then set redirect URL.

[2022-04-05 05:32] bpodolak commented on #90819
I have been trying to follow this guide but running into the same issue. Please keep me in the loop also.

https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-onboard-apex-domain

[2022-04-05 05:43] ezcompanynz commented on #90819
That method doesn't work if you're using Azure Front Door premium, for my sanity I tested with front door classic and it worked but its severely limited on functionality

[2022-04-05 05:56] Park-minkyu commented on #90945
or is it just a dotnet 5 style, I honostly coded in .net 5 style,
all codes wrapped up by namespace and class...

[2022-04-05 06:02] adriantorrie opened #91012 "package.pull() doesn't work as documented"
[Enter feedback here]
Documentation for `package.pull()` is said to pull a **tagged** image. It doesn't.

![image](https://user-images.githubusercontent.com/3909039/161688617-99fa2c04-f482-41ac-be1c-0dfd08272b76.png)

Code used

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b36e14d8-aefa-4e39-82cc-e48492b6b4d4
*

[2022-04-05 06:07] SnehaAgrawal-MSFT commented on #90811
@sotnikop Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-04-05 06:09] thiruma0203 opened #91013 "Missing parameter -Status for Get-AzVMRunCommand"
Documentation suggests using Get-AzVMRunCommand with -Status parameter to get latest output from RunCommand script.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command-managed#get-execution-status-and-results-1

`Get-AzVMRunCommand AzVMRunCommand -ResourceGroupName "myRG" -VMName "myVM" -Name "RunCommandName" -Status`

However, no parameter -Status defined for Get-AzVMRunComm

[2022-04-05 06:12] ailwqqqssdsaasfaddqag commented on #91013
في الثلاثاء، ٥ أبريل، ٢٠٢٢ ٠٩:٠٩ thiruma0203 ***@***.***> كتب:

[2022-04-05 06:54] shwetamathur7 commented on #90863
@epuio. Thank you for your feedback to enhance the documentation. I have added description in the scope parameter and sent to author for review. Once changes will merge, it will reflect in the document.

[2022-04-05 07:03] chengyu-liu-cs commented on #90662
@ram-msft  Thanks for the good summary. Now PipelineData is not recoomended from official [document](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.pipelinedata?view=azure-ml-py) but OutputFileDataset and OutputDatasetCofnig are now. It seems DatabricksStep does not support this recommended way.

Nevertheless, the things I want to understand is how to move

[2022-04-05 07:19] bmansheim commented on #86527
I added a note in https://docs.microsoft.com/en-us/azure/defender-for-cloud/custom-security-policies?pivots=rest-api#api-examples.
Thanks for your help with this and let me know if you need anything else.
#please-close

[2022-04-05 07:19] #86527 closed

[2022-04-05 07:32] skrabbe001 opened #91017 "Why does the example use .Net Core 3.1?"
Why does the example use .Net Core 3.1? .Net 6 is the current standard, and .Net 7 is coming soon. When we update .Net, the samples and docs should also be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe407c-980d-6dfc-305c-63202534bf48
* Version Independent ID: 09bed06c-ca37-a511-b4a4-0028e76f8919
* Conten

[2022-04-05 07:36] #91005 closed

[2022-04-05 07:52] PriyankaRudramaina commented on #91013
@thiruma0203
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-05 07:53] #91004 closed

[2022-04-05 07:53] javiersoriano opened #91018 "IdentityInfo re-synchronizes every 14 days"
In the document it says the IdentityInfo table is resynchronized every 21 days, but this was changed to 14 days. This should be updated.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5457b59-9419-c9bc-53e6-c6ecbbe0a4da
* Version Independent ID: 92abf226-cdc4-54fb-bc96-ddb988f04ab5
* Content: [Microsoft Sentin

[2022-04-05 07:53] PriyankaRudramaina commented on #91004
Hello @clarenceb,

We have made the necessary changes in the documents and it will be updated soon.

[2022-04-05 08:15] #90863 closed

[2022-04-05 08:18] kengaderdus commented on #84895
@tomatsue

We'll now close this issue.
#please-close

[2022-04-05 08:18] #84895 closed

[2022-04-05 08:19] OzBob opened #91019 "Error grant --sdk-auth role Static web app in Cloud Shell"
Following instructions
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-static-site-github-actions?tabs=userlevel
to
"Set up a GitHub Actions workflow to deploy your static website in Azure Storage"

Error running script in Azure Status Web App CLI
```az ad sp create-for-rbac - ...```
results in

in full:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-04-05 08:27] kengaderdus commented on #86587
@mvisosky

Was that article helpful?

[2022-04-05 08:30] rec00n opened #91020 "Trigger is an HTTP Trigger, not queue"
Isn't the the trigger a HTTP trigger in this example? Because the text says: "The following function uses a queue trigger to read a single table row as input to a function."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d328a623-0293-30cd-1356-8c4750e4e88b
* Version Independent ID: a71cd4b1-536f-3f9c-6d06-0437760395e3

[2022-04-05 09:00] ebete opened #91021 "`appGatewayHttpListener` creation not documented"
On this line, you are asked to set the target listener to `appGatewayHttpListener`:

https://github.com/MicrosoftDocs/azure-docs/blob/277b623298a96b456b9986f93cc1019108b6b6f6/articles/application-gateway/redirect-http-to-https-portal.md?plain=1#L123

But there is no mention anywhere else in the page of this HTTP listener or what its configuration is.
When should this listener be created and what s

[2022-04-05 09:02] epuio commented on #90863
Thank you for the quick response!

Paul

On Apr 5, 2022, at 02:54, shwetamathur7 ***@***.***> wrote:

﻿

@epuio<https://github.com/epuio>. Thank you for your feedback to enhance the documentation. I have added description in the scope parameter and sent to author for review. Once changes will merge, it will reflect in the document.

—
Reply to this email directly, view it on GitHub<https://github.

[2022-04-05 09:13] kengaderdus commented on #87044
@fume

Thank you for your feedback and patience. We're addressing this issue, and will comment back once we've it done.

[2022-04-05 09:49] kengaderdus commented on #90481
@GiscardGirard

Normally, it should, but the aim of this article is to show how to access a REST API, which is protected in different ways, via API connectors. Do you still think we need to show how to add the technical profile in a user journey?

[2022-04-05 09:56] cloudlearner253 opened #91023 "tracert output is not working"
I have used this same URL to create NVA, but past 2 weeks, when I am practicing I am facing issue, after applying route to subnet (public), I am unable to ping between the VM and tracert also not successful.

from Private VM to Public VM no traffic is passing. From Public  VMto Private VM, traffic is reaching NVA but after NVA packet are dropped instead reaching private vm.

---
#### Document Deta

[2022-04-05 10:01] nicklasjepsen opened #91024 "Missing instructions on how to inject ITokenAcquisition"
When injecting the `ITokenAcquisition` type in the controller the app is throwing this exception on startup:

`InvalidOperationException: Unable to resolve service for type 'Microsoft.Identity.Web.ITokenAcquisition'`

I guess this is because the `ITokenAcquisition` needs to be added to the service collection, but how? It would be great to have that information in the docs.

---
#### Document Detai

[2022-04-05 10:25] Ravivarman13 commented on #87244
@anzaman Can we have this documented so that customers will not raise the concern again

[2022-04-05 10:31] Tbohunek opened #91025 "More explicit description"
Hi, just wondering, would it be possible/sensible to provide a little more explicit descriptions?

Looking at actions like `Microsoft.Network/virtualNetworks/subnets/contextualServiceEndpointPolicies/read`,
description like `Gets Contextual Service Endpoint Policies` adds nothing more than a few whitespaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-04-05 10:46] MayankBargali-MSFT commented on #90878
@FrankGlez Thanks for reaching out. I have reached out to the team for confirmation and I do see an open issue in the repo [here.](https://github.com/microsoft/startstopv2-deployments/issues/52)

[2022-04-05 10:49] #90762 closed

[2022-04-05 10:50] SnehaAgrawal-MSFT commented on #91017
@skrabbe001 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-05 10:53] MayankBargali-MSFT commented on #90182
@drmiru I have checked with the product team and they confirmed that private endpoint will not work with vnet integration. Private endpoints are only for incoming calls and not for outgoing calls.

[2022-04-05 10:54] SnehaAgrawal-MSFT commented on #91020
@rec00n Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-05 11:08] GiscardGirard commented on #90481
The article describes ways to protect APIs. It details the modifications
needed on the referenced sample for every option. These instructions would
allow a developer to secure an api using all the methods described in the
article except for one. The oauth2 bearer option requires an additional
step. For this option two technical profiles are required. The existing one
in the sample. Plus a new one

[2022-04-05 11:12] SnehaAgrawal-MSFT commented on #90859
@imeya Multitenancy is an architecture where multiple tenants share the same physical instance of the app. Although tenants share physical resources (such as VMs or storage), each tenant gets its own logical instance of the app. Typically, application data is shared among the users within a tenant, but not with other tenants.

On the other hand in [App Service Environment ](https://docs.microsoft.

[2022-04-05 11:33] rec00n commented on #91020
The issue seems only to apply to the Python example

[2022-04-05 11:43] RohitMungi-MSFT commented on #91012
@adriantorrie Thanks for spotting this. Yes, the tag data is not part of the package command and hence `docker images` does not have any information to list. @ssalgadodev Could you please update the document to remove the example of tag data of an image from `docker images` command output in the document?

I have tested the package command with and without the image name & label. The output in bot

[2022-04-05 11:52] shashishailaj commented on #91024
@nicklasjepsen Thank you for your query . We will investigate and update the thread.

[2022-04-05 11:54] shashishailaj commented on #91018
@javiersoriano Thank you for your feedback . We will investigate and update the thread.

[2022-04-05 11:55] shashishailaj commented on #91025
@Tbohunek
Thank you for your feedback . We will investigate and update the thread.

[2022-04-05 12:38] zokiz-eon opened #91028 "Probably very outdated and not helpful at all"
This page starting from `Step 2. Create a new Azure Front Door instance` does not correspond with what and how the configuration of the actual Front Door service looks like. Using it right now is totally useless if you have no idea what you need to do and how the latest Front Door works and should be configured to solve this particular problem of having custom domain for ADB2C.

---
#### Document

[2022-04-05 12:44] rothja commented on #90771
Spoke with @GeethaThatipatri-MSFT this morning, but I do not have the technical answer to provide here. @markjbrown Mark, could you please take a look at this issue and let us know if you or someone else could provide some insights. Thank you!

[2022-04-05 12:47] ram-msft commented on #90650
@jszisanhi We would recommend to raise a Azure support desk ticket from Help+Support blade from Azure portal for your  resource if you have a support plan for your subscription. This will help you to share the details securely and work with an engineer who can provide more insights about the issue that if it can be replicated.

[2022-04-05 12:49] ram-msft commented on #90650
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-05 12:49] #90650 closed

[2022-04-05 13:08] #91018 closed

[2022-04-05 13:28] #89235 closed

[2022-04-05 13:39] SDlearner-maker commented on #90705
Thank you for the reply! So, what is the solution then, we cannot upload large amount of data?

[2022-04-05 14:36] shashishailaj commented on #89187
@vmonge The sentinel pricing always depends upon the data in log analytics workspace that sentinel uses. The UEBA adds a new table within the existing log analytics workspace. Ingestion and analysis of UEBA related data add to the cost for the Sentinel which are referred to as additional charges.  the exact calculation will depend upon the amount of data ingested for UEBA activity. The not has bee

[2022-04-05 14:36] #89187 closed

[2022-04-05 15:00] ondrejspilka opened #91032 "Carefully with 1.1.1.1 DNS settings might reflect local config"
1.1.1.1 might be filtered out by corporate firewalls, so actually DNS given by customer IT department might be the relevant DNS setting. Good to mention in this paragraph. Don't rely on 1.1.1.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cb78a4-78da-5eb2-fbde-9cdec5e8dad6
* Version Independent ID: e7ebf194-5634-ca

[2022-04-05 15:01] JamesTran-MSFT commented on #91028
@zokiz-eon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-05 15:12] KranthiPakala-MSFT commented on #91019
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-05 15:14] KranthiPakala-MSFT commented on #91023
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our engineers a

[2022-04-05 15:23] KSchlobohm opened #91033 "Connecting to SQL should use new Microsoft.Sql.Client"
The new Microsoft.Sql.Client library handles retrieving the token from the endpoint.

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentication

https://github.com/dotnet/SqlClient/pull/730

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-04-05 15:53] mfilippo opened #91036 "IoT Hub API not restricted by SAS token resourceURI"
Hello,

We have noticed that a SAS token generated with **resourceURI** `{my-iothub}/devices/my-edge-device-01` can be used, for example, to invoke a direct method on a module of another (edge) device.

According to the definition of **resourceURI**:

I would expect that **resourceURI** is used to restrict the access to a single device.

For example, if I create a SAS token with a policy with **Se

[2022-04-05 15:54] danielsc opened #91037 "# az extension add -n ml -y is commented out"
the command to install the ml extension is commented out:
# az extension add -n ml -y

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b0af77-7750-19be-32f6-50d1c2646ca8
* Version Independent ID: cd816920-9ade-ea61-3485-b0ebde839a6e
* Content: [Install and set up the CLI (v2) - Azure Machine Learning](https://docs.micr

[2022-04-05 15:54] JamesTran-MSFT commented on #91033
@KSchlobohm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-05 15:56] gmndrg commented on #89884
@pmpopovichjr we are currently working to update this content. Thank you so much for your feedback and time.

[2022-04-05 16:17] agribot2 opened #91039 "queued for export"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b50528b8-1494-420b-066a-4e13c715524b
* Version Independent ID: e49c3f99-92d9-2cf0-26c6-dcb51b4a6eba
* Content: [Export a model programmatically - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service

[2022-04-05 16:18] #91039 closed

[2022-04-05 16:23] JamesTran-MSFT commented on #91028
@zokiz-eon

[2022-04-05 16:50] sijoxavier89 opened #91041 "Query regarding PKCE Support when sending authorization request"
I was going through the documentation and the reference application mentioned in the documentation. I could not find anything mentioned regarding PKCE support when making the request for authorization. As per HL7 [specification ](http://www.hl7.org/fhir/smart-app-launch/app-launch.html)

"Note on PKCE Support: the EHR SHALL ensure that the code_verifier is present and valid when the code is exchan

[2022-04-05 16:56] mike-urnun-msft commented on #91041
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-05 16:58] KranthiPakala-MSFT commented on #90903
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-05 17:07] asergaz commented on #91032
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-05 17:10] #90068 closed

[2022-04-05 17:11] asergaz commented on #91036
@mfilippo Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-05 17:16] ecfan commented on #90495
Hi @nitin-narkar, thanks for reaching out. I've added this request onto our backlog and will triage with other requests accordingly.

[2022-04-05 17:16] #90495 closed

[2022-04-05 17:21] bmilbauer opened #91042 "Steps to make a group available for user self service out of date"
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-self-service-management#make-a-group-available-for-user-self-service

Steps on portal don't reflect steps in doc - looks to me like they may be outdated. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff6576

[2022-04-05 17:22] drdamour commented on #59008
the docs really need updating all they say is

fileLoggingMode - Defines what level of file logging is enabled. Options are never, always, debugOnly.

which is about the same as

dog - defines what level of dog is enabled. options are pitbull, grey wolf, and hot dog

also debugOnly makes me think it has something to do while running in debug mode from VS instead of say release mode, but based on a

[2022-04-05 17:23] ecfan commented on #85936
@ahmedsza As we have existing work items on the backlog to update the docs with info about Standard logic apps, which is being updated in priority order, I'm closing this thread for now. Thanks!

@MayankBargali-MSFT: #please-close

[2022-04-05 17:23] #85936 closed

[2022-04-05 17:23] shylendranc opened #91044 "How to update a created mock-response and how to generate mock response based on input parameters"
Couple of basic question on creating/updating mock response in MS APIM.

1. Once I create a simple mock response, is there a way to update the same , without deleting and re-creating the operation? I looked at the Operations' Form-based editor, Code editor in the 'Design' view but I don't see an option to view or update the already created mock-response.
2. How can I set the mock response based on

[2022-04-05 17:27] asergaz commented on #91036
Hello @mfilippo , if we read the documentation [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev-guide-sas?tabs=node#security-token-structure).

Therefore, and if we check the generateSasToken code example there, it will be the `signingKey` that will restrict the access to a single device or not.

Letting the resourceURI have the value of {my-iothub}/devices/my-edge-device-01 when

[2022-04-05 17:32] JamesTran-MSFT commented on #91042
@bmilbauer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-05 17:41] b-ahibbard commented on #90611
@ravkash thanks for this suggestions. We have updated the consideration bullet to reflect the upgrade scenario.
#please-close

[2022-04-05 17:41] #90611 closed

[2022-04-05 17:42] markjbrown commented on #90922
Yes, this is supported via azure cli as well as ARM templates or Bicep and confirmed there is no Capabilities parameter for New or Update cosmos account cmdlets.

Still working to sort out on our end.

[2022-04-05 17:49] tfitzmac commented on #89074
@takacs525 - thanks for this feedback. I have added the file rename to the air-gapped installation. The update should get published later today.
#please-close

[2022-04-05 17:49] #89074 closed

[2022-04-05 18:13] ChaitanyaNaykodi-MSFT commented on #90702
Hello @F1AMG, since we have not heard back from you. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-04-05 18:13] #90702 closed

[2022-04-05 18:19] davidsmatlak commented on #85238
This issue is pending instructions from the product team about how to register a resource provider in a new subscription.

[2022-04-05 18:24] #83429 closed

[2022-04-05 18:25] ecfan commented on #83429
@dcbrown16, thanks for providing this feedback. A doc update will publish after 4 PM Pacific Time.

[2022-04-05 18:30] GeethaThatipatri-MSFT commented on #90883
Hi @kaheamartin We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-05 18:30] #90883 closed

[2022-04-05 18:50] ayax79 opened #91045 "Python example is broken"
The pyspark example on this page seems is written in scala and it is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102b5ad-f6a9-9ab6-913f-98f5c7559f8f
* Version Independent ID: 0f5d7c5d-4514-6b2a-4518-33ad76a578b4
* Content: [Azure Synapse Dedicated SQL Pool Connector for Apache Spark - Azure Synapse Anal

[2022-04-05 18:50] GeethaThatipatri-MSFT commented on #90888
Hi @HitenBhavsarMSFT private DNS zone was created using preview API?

[2022-04-05 18:50] Rajini09 opened #91046 "error during creation of cognitive linked service in synapse"
I get the following error during the last step. Its fails in the SECRET field as "loading failed". Previous steps work fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a359bfb9-716c-1fcc-97e3-8745ee331363
* Version Independent ID: 3cacf1b3-8cbc-e5dc-c171-8cc4430efdd2
* Content: [Quickstart: Prerequisites for Cognit

[2022-04-05 18:55] ayax79 commented on #91045
I had the wrong page. (too many tabs open)

https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/synapse-spark-sql-pool-import-export

[2022-04-05 18:56] shylendranc commented on #91044
Found option to update the created mock response

[2022-04-05 18:57] #91045 closed

[2022-04-05 18:58] whhender commented on #90712
Thanks for your patience! We are reviewing this request presently.
If there's any particular value you have a question about, please feel free to reach out to me directly in the meantime!

[2022-04-05 19:08] GeethaThatipatri-MSFT commented on #90822
Also, did you get a chance to check this git [link ](https://github.com/tornadoweb/tornado/issues/2608)which is from the StackOverflow you shared, please provide more information on your query?

[2022-04-05 19:13] ckittel commented on #46219
Over the next 24 hours, the clarified wording will be visible in the FAQ.  Thanks!

[2022-04-05 19:14] PRMerger13 commented on #51484
The following users don't have valid GitHub IDs, or are not collaborators on this repo: kitt

i will be

[2022-04-05 19:15] mimckitt commented on #51484
#assign: @mimckitt

[2022-04-05 19:58] TLKG commented on #90850
@shwetamathur7
Did as you suggested got same results.

Let's verify we're on the same page:

1. Did you test using **Free account/subscription**?
2. Three things needed for 3rd party authentication:
    2.1 `Microsoft.AzureActiveDirectory` registered under the Subscription, Settings, Resource providers
    2.2 `B2C tenant` to be created under the subscription
    [Both done using this tutorial, sk

[2022-04-05 20:18] kaheamartin commented on #90883
Hello, I don't think you understood what I was trying to convey. Public **to** Private connectivity is not what I was talking about. What I'm talking about is traffic from a Flexible server instance configured with Private Access at the time of provisioning is set up to integrate into a VNET. What differs from Singler servers here, is that Flexible servers **outbound** traffic actually goes throug

[2022-04-05 20:20] nswitanek opened #91048 "include sample index definition code that corresponds to the sample output"
The output of this skill is multiply nested complex data types.

Please include sample index definition code that corresponds to the sample output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0309f73-20f4-f168-6f5a-8b31a6747510
* Version Independent ID: 07132ee3-d7a3-ccbd-92b8-b42e314490d3
* Content: [Custom Entity

[2022-04-05 20:36] gvanteylingen opened #91050 "Updates required to ANF section"
This is a reopen of now closed PR #78612.

This page requires few updates in the Azure NetApp Files section:

- Under protocols it should read:
SMB 2.1, 3.x (including SMB Continuous Availability optionally)
NFSv3, NFSv4.1 (***note: this is the accurate version description)
Dual protocol access (NFSv3/SMB and NFSv4.1/SMB)

- Under Region Availability
35+ regions

- Under Identity-Based Authenticat

[2022-04-05 20:47] TheovanKraay commented on #88268
Hello @dgpoulet and @Oury-MSFT and cc @markjbrown. The doc has now been updated with a full Java V4 SDK sample provided: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/bulk-executor-java. Can we close this issue now?

[2022-04-05 21:03] Siegfried0 opened #91051 "self-signed certificate as trusted root"
Part of the second paragraph is the following line:
"However, if you have a dev/test environment and don't want to purchase a verified CA signed certificate, you can create your own custom CA and create a self-signed certificate with it."

Can someone explain to me, how I get a self-signet certificate that is issued by a custom CA?
I thought a self-signed certificat is in fact the root of the chai

[2022-04-05 21:11] dlepow commented on #90067
@milope - Thanks for the additional detail. Per the product team, only a system-assigned managed identity is currently supported to access a key vault with a key vault firewall enabled (and access by Trusted Services enabled). We're planning a doc update to make that point more clearly.

[2022-04-05 21:14] omgitsjocke commented on #89920
Any progress on this?

[2022-04-05 21:17] Oury-MSFT commented on #88268
@TheovanKraay I will go ahead and close the Git issue

[2022-04-05 21:17] #88268 closed

[2022-04-05 21:19] rvandenbedem commented on #90974
This is the link: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-vmware/includes/azure-vmware-solutions-limits.md

It is the same as what is already in the current page, but it is showing an older version of this page.

[2022-04-05 21:21] rvandenbedem commented on #90974
I just checked the public version of this page and it looks like the latest version of the solution limits documentation is now being displayed.

[2022-04-05 21:21] #90974 closed

[2022-04-05 21:34] HeidiSteen commented on #90437
@mfalkdel Revisiting this issue one last time.  I was asked to roll back the limit to 1000 because it's a better limit from a performance standpoint.

[2022-04-05 22:00] KranthiPakala-MSFT commented on #90951
Thank you @kapoorh for sharing the requested details. We will notify the respective team to further assist on this.

[2022-04-05 22:27] duongau commented on #88865
@Ikriva The article has now been updated to reflect the correct storage type supported. If you have any questions, please feel free to reach out again. #please-close

[2022-04-05 22:27] #88865 closed

[2022-04-05 22:57] MashaMSFT commented on #80469
Hi @manishjha2088 , thanks again for contacting Microsoft and helping improve our docs! My apologies for the delay but we've processed a change to update the image, it should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need further.

Thanks once more, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#r

[2022-04-05 22:57] #80469 closed

[2022-04-05 22:57] PRMerger16 commented on #80469
GitHub user BustosMSFT has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-05 22:57] MashaMSFT commented on #58840
Hi @rgward , thanks again for contacting Microsoft and helping improve our docs! My apologies for the delay but we've processed a change to update the image, it should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need further.

Thanks once more, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign

[2022-04-05 22:57] #58840 closed

[2022-04-05 22:58] MashaMSFT commented on #76641
Hi @divyabhushan , thanks again for contacting Microsoft and helping improve our docs! My apologies for the delay but we've processed a change to update the image, it should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need further.

Thanks once more, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#re

[2022-04-05 22:58] #76641 closed

[2022-04-05 23:12] duongau commented on #89239
Hi @kaganmersin, I've updated the region availability to say private link instead of private endpoints. If you have any further concerns please feel free to reach back out. For now I will be arching this issue. Thank you! #please close.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194130

[2022-04-05 23:18] duongau commented on #89335
@tetsuyasodo Thank you for the recommendation. The command for CLI has been updated appropriately. Thank you. #please-close.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194131

[2022-04-05 23:18] #89335 closed

[2022-04-05 23:22] #89239 closed

[2022-04-05 23:27] YutongTie-MSFT commented on #91039
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-04-05 23:27] YutongTie-MSFT commented on #91037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-05 23:28] SaiKishor-MSFT commented on #90819
@ezcompanynz The only workaround at this time would be to use an external DNS that can provide DNS Flattening. Hope this helps.

[2022-04-05 23:57] dcrithyne opened #91057 "Is this information current?"
The function "MicrosoftDefaultComputerGroup" does not appear in Saved Groups for the workspace associated with update management (a number of groups which I created for assigning non-azure computers to deployment schedules are displayed). If I try to run MicrosoftDefaultComputerGroup or Updates__MicrosoftDefaultComputerGroup in the query editor, both result in error "Failed to resolve table or col

[2022-04-06 00:06] SatishBoddu-MSFT commented on #90951
Hello @kapoorh Could you please confirm when was the DevOps pipeline run as per your expectation? Was this issue surfaced recently? Just also wanted to know if this is happening in your Dev or Prod environments?

[2022-04-06 00:20] rick-man commented on #81228
@Heidilohr I think this issue has been fixed. Now that we're out of promotional pricing, the Azure Virtual Desktop Pricing page has been updated with the non-promotional pricing details. I now see "Desktops + apps $10 / Apps $5.50"

(There's one section of the Pricing page that still describes the promotional pricing, but that's getting fixed as well.)

[2022-04-06 00:46] Grace-MacJones-MSFT commented on #91048
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-06 00:57] nyates42 commented on #90819
Hi, are there any plans to support Apex domains when using Azure DNS? I migrated all our DNS to Azure so that we could use the Alias record and Apex domains with Front door "classic". We need to move to the premium product but cannot do so if you don't support this.

[2022-04-06 01:02] ezcompanynz commented on #90819
I'm in the exact same boat as you..

[2022-04-06 02:29] WenJason commented on #90645
Is there any update? Thanks.

[2022-04-06 02:32] YutongTie-MSFT commented on #90927
@wguyman Hello, I am a little bit confused about yout question. Could you please provide more information about what you are asking about? Thanks for the understanding.

[2022-04-06 02:38] ernstae opened #91058 "Standard Ebds_v5 and Ebs_v5 sections seem to have the same SKU for each size."
The table outlining Ebds_v5 and Ebs_v5 instance sizes seem to incorrectly reference SKU names for only Ebds_v5 family host sizes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3950928-1977-9c38-3289-79fd011058f3
* Version Independent ID: b349d902-2b31-b303-6313-020da737a901
* Content: [Ebdsv5 and Ebsv5 series - Azure

[2022-04-06 02:41] Mayday-IT opened #91059 "Couldn't finish."
I got as far as creating the outbound rule but the screen's options were different enough from the tutorial that I could not continue.  It's really hard to study for an exam when even the tutorials can't keep up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent I

[2022-04-06 02:47] alemurillo opened #91060 "Azure AD user provisioning for Tableau Personal Access Token / Grant license on sign-in"
Hello,
I'm working to get Azure AD provisioning working with Tableau. After checking the configuration in Azure I can see it only accepts admin user credentials, but there's no option to use Personal Access Token. Can you please confirm if there's any plan to make that option available? Also, I'm interested in the "Grant license on sign-in feature" which as of now is not possible.

---
#### Docume

[2022-04-06 02:47] kekatahi opened #91061 "Need to describe the detail of IP filtering"
[Enter feedback here]
We are able to connect the service bus endpoint TCP level port using telnet from not allowed IP source even if IP filtering enable .
We should describe in the document that IP filtering doesn't mean blocking the port level access. This is customer friendly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-06 03:06] MayankBargali-MSFT commented on #91061
@kekatahi Thanks for your feedback. The document already calls out that the rules apply only for the **supported protocol**. In this case it will be AMQP (5671) and HTTPS (443) as documented [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-faq#what-ports-do-i-need-to-open-on-the-firewall--).

@spelluru Can you please review this and confirm if this needs to be explic

[2022-04-06 03:10] SwathiDhanwada-MSFT commented on #91057
@dcrithyne Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-06 03:24] CHEEKATLAPRADEEP-MSFT commented on #91046
@Rajini09  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-06 03:24] WenJason commented on #90645
Hi Team,

A customer is very focus on this issue. Could you please share the latest status?

Thanks a lot.

[2022-04-06 03:37] dcheung2 opened #91063 "AADSTS900236 should be a documented"
https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol
does not include AADSTS900236.

And I found somehow it is FAQ by a simple google search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42

[2022-04-06 03:56] Givary commented on #91063
@dcheung2 Thanks for your feedback.  We will investigate and update as appropriate.

[2022-04-06 04:09] SreejaBhattacharya-MSFT commented on #91058
Thanks for the feedback @ernstae , we will review and update the document accordingly.

[2022-04-06 04:12] Givary commented on #91060
@alemurillo Thank you for reaching out to us.  We will investigate and update as appropriate.

[2022-04-06 04:32] v-hakob opened #91064 "Node.jp 16"
In the doc, the Node.jp 16 is in Preview. But, I see the supported versions of Node.js is 12, 14, and 16 using CLI (az webapp list-runtimes --os linux | grep NODE). Could you please verify and remove "Preview", if it is not in Preview?
The cx asked us which is correct.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-04-06 04:32] OzBob commented on #85605
I would also raise this as an issue in
https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Azure.Data.Tables/samples/
needs an example of AzFn table referenced as an AzFn Method Attribute.

[2022-04-06 04:53] cijothomas opened #91065 "AddApplicationInsightsTelemetry does not take ConnectionString"
This statement is incorrect. AddApplicationInsightsTelemetry(string instrumentationKey) takes the input string as a instrumentation key, *NOT* as connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d5e-4ebd-8cb9-3d27-efe58def249f
* Conten

[2022-04-06 05:02] bubbletroubles opened #91066 "GA availability date?"
The page says "This feature is currently in Public Preview and will move to GA in **March 2022**.". Its now April 2022. Did it move to GA, or is the GA date pushed out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Co

[2022-04-06 05:04] cijothomas commented on #91065
The following is correct way:
[code]

The following is incorrect, and won't work.
[code]

The following is correct, it works, but *not* recommended as the recommendation is to provide ConnectionString.
[code]

[2022-04-06 05:12] SwathiDhanwada-MSFT commented on #91065
@cijothomas Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-04-06 05:15] cijothomas commented on #90593
The doc already has a section on sampling, and it says sampling is enabled by default : https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#sampling
This info is also mentioned in https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#using-applicationinsightsserviceoptions

https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#how-can-i-get-all-cus

[2022-04-06 05:33] FPMilan opened #91067 "Windows VM name seams not to be restricted to only 15 characters"
Just created a Windows VM with more than 15 characters in its name
<img width="893" alt="image" src="https://user-images.githubusercontent.com/10432654/161902479-07961c26-81e7-4777-a81e-aec7a9e2b89c.png">
Is the 15 character limitation only valid for some regions or is it wrong?
(Same for VMSS)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-04-06 05:34] AaronMaxwell commented on #91065
Thanks for your dedication to our documentation. This issue has been triaged and approved. The associated PR is mentioned above.  #please-close

[2022-04-06 05:34] #91065 closed

[2022-04-06 05:39] #91058 closed

[2022-04-06 05:53] AnuragSingh-MSFT commented on #90893
@robsanf, thank you for the feedback. I am assigning this issue to the content author for review and update, as required.

@bandersmsft, can you please share your thoughts on this issue. Thank you.

[2022-04-06 06:04] ehjalmar commented on #88249
I Agree that this would be good to clarify. We´ve had trouble when adding a subdomain(other than www) and the video in the documentation confuesed us a bit. The video gave example of adding a TXT at "@.mydomain.com", but what worked for us in the end was adding the TXT record here: "myapp.mydomain.com". Would be good to add this kind of example.

[2022-04-06 06:09] basharg opened #91068 "Wrong description in Mixed Operating Systems row"
This table:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes#basic-setup
Has the wrong description for Mixed OS types supported in availability set VMs column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a7f17c-553a-9196-b047-7ddd70c477c6
* Version In

[2022-04-06 06:12] sven5 commented on #90593
Yes, the article seems to have been modified accordingly. See the change date: 04/03/2022

From my perspective the FAQ entry is really helpful and not misleading.

[2022-04-06 06:22] GitaraniSharma-MSFT commented on #91051
@Siegfried0 , thank you for your query. We'll review this and get back to you shortly!

[2022-04-06 06:23] GitaraniSharma-MSFT commented on #91059
@Mayday-IT , thank you for your feedback. We'll review this and get back to you shortly!

[2022-04-06 06:25] GitaraniSharma-MSFT commented on #91066
@bubbletroubles , thank you for your query. We'll review this and get back to you shortly!

[2022-04-06 06:57] bmansheim commented on #89370
Thanks for those details @roflemin . We are tracking a few issues regarding workspaces. I will add this one to the bunch. We're making a plan to resolve them. Feel free to check in with me in May.
#please-close

[2022-04-06 06:57] #89370 closed

[2022-04-06 07:08] j0eyv commented on #57289
Hi @SpockDK, thanks for mentioning this. Had exactly the same issue and solution!

[2022-04-06 07:20] SreejaBhattacharya-MSFT commented on #91068
Hi @basharg , thanks for reaching out. I am reviewing this.

[2022-04-06 07:21] SwathiDhanwada-MSFT commented on #91067
@FPMilan Thanks for your comment. As mentioned in the document, Azure virtual machines have two distinct names: resource name and host name. When you create a virtual machine in the portal, the same value is used for both names. The restrictions in the preceding table are for the host name. The actual resource name can have up to 64 characters.

As you can see in below image, the resource name con

[2022-04-06 07:28] kapoorh commented on #90951
Hi Satish,

This is a first when we are trying to build pipeline for the IoT module deployment on device. and we are trying this on dev.

Our pipeline has only 2 steps Build image and Push image into ACR. and we are setting module on IoT device manually with the latest version image.
but after extending the pipeline steps (Deploy on IoT edge), this deployment removing all the existing modules on t

[2022-04-06 07:40] MayankBargali-MSFT commented on #91064
@v-hakob Thank you for your feedback! We will review and update as appropriate.

[2022-04-06 07:45] syukumoto opened #91070 "Incorrect statements about App Service log"
Regarding following description,  different from current App Service log behavior.

(details)
The documentation says to specify storage in a different region when using App Service log with Firewall configured for storage.
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enable-application-logging-windows

But in practice, it is not possible to specify the Azure Stor

[2022-04-06 07:45] AnuragSharma-MSFT commented on #90860
@ricowang-msft Thanks for mentioning the feedback. This looks like a value addition to the documentation. I am tagging the content author to evaluate and update it accordingly. Thanks.

[2022-04-06 07:52] SwathiDhanwada-MSFT commented on #91057
@dcrithyne The information is indeed correct. I have deployed update management and tested the logs. You can view the Saved Groups as mentioned in the same document you are referring to.

<img width="393" alt="image" src="https://user-images.githubusercontent.com/48976275/161923613-7fada6da-4f75-415e-b26e-53f0a0a637ea.png">

Updates__MicrosoftDefaultComputerGroup are saved as functions, which you

[2022-04-06 07:55] SwathiDhanwada-MSFT commented on #90946
Thanks @harelbr for taking care of this issue.

@sukirti88 As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-04-06 07:55] #90946 closed

[2022-04-06 08:07] kengaderdus commented on #87042
@ncarandini

We've updated our docs. You can have a look. We'll now close this issue. If you've any further questions, feel free to open a new issue. #please-close

[2022-04-06 08:07] #87042 closed

[2022-04-06 08:15] soelchma opened #91071 "Azure network round-trip latency statistics - payload/no payload"
hey guys,

**It's about:**
Azure network round-trip latency statistics
https://docs.microsoft.com/en-us/azure/networking/azure-network-latency

The roundtrip information is awesome!

But what I think is missing is if the roundtrip is measured with a certain size of payload. Or is it just an IMCP/TCP/UDP ping?

Thanks
Manuel

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-04-06 08:20] AMH-UK opened #91072 "Azure MARS from onprem via Private Endpoint Azure forward DNS VM down...."
Hi all. I'm testing out Express Route private peering with Azure MARS agent from on prem.
It looks like a MARS backup can only be via public address or private link addresses and not both. Is this correct? There's far too much documentation online for me to have spotted this limitation yet....

In my case, the onprem via Private Endpoints (P.E) backup have been set up and the MARS agent works via

[2022-04-06 08:32] kamilzzz opened #91073 "Outdated page versions?"
It specifies 2.1.8 as latest page version for self-asserted page and 2.1.5 for unifiedssp.
However, when uploading IEF policy via Azure Portal, when I've specified wrong version I got an error message saying that I can use newer version, 2.1.9, 2.1.10. 2.1.11 and 2.1.12 for selfasserted and up to 2.1.8 for unifiedssp.

Are these new page version in preview or is it safe to use them?

I've tried 2.

[2022-04-06 09:01] agribot2 opened #91074 "Export and download custom vision model error;- is already queued for export"
I am using the code provided at [https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-programmatically](url)
I am using an existing iteration in an existing custom vision project that has already correctly trained , classified images, etc

I am trying download the azure customer vision model using python.

But the response is an error message that says ;- eaf41 re

[2022-04-06 09:08] cstandrew opened #91075 "Custom IP address prefix Whois/RDAP record"
In the 'Certificate readiness' section, it would be useful to clarify whether the certificate in the Whois/RDAP record needs to be kept once the prefix has been successfully provisioned or whether it can be deleted.

If it needs to be kept, what happens once the expiry date is reached? If I initially create the certificate with a validity of 365 days, is there a danger the prefix will be un-provis

[2022-04-06 09:12] oatsoda opened #91076 "Confirm if the details here apply to Isolated Process functions."
Please confirm if the details here apply to Isolated Process functions, because things don't seem to be working correctly and there are issues logged on Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [

[2022-04-06 10:02] agribot2 commented on #91074
Is this defect related to the existing problem reported over a year ago ;-
[https://github.com/MicrosoftDocs/azure-docs/issues/91074](url)

[2022-04-06 10:02] sapporo46 opened #91077 "Typo in page"
Hi, you have a typo under the **Install Elasticsearch** heading. It says, "on the Azure-suppored JDKs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independent ID: 38eaf5d3-b74f-8795-85f4-aa115b8151da
* Content: [Perform network intrusion detection with open source tools

[2022-04-06 10:18] Matt-Mustard opened #91078 "Configure IoT Edge with new certificates"
Similar situation to https://github.com/MicrosoftDocs/azure-docs/issues/82926

### Background

This IoT Edge instance was operating fine before updating the demo Root CA and device cert/key. After updating, new child devices configured using SAS tokens would return "Not authorized to connect".

The steps below demonstrate me trying to verify all the steps in the https://docs.microsoft.com/en-us/az

[2022-04-06 10:32] GitaraniSharma-MSFT commented on #91075
@cstandrew , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-04-06 10:35] GitaraniSharma-MSFT commented on #91077
@sapporo46 , thank you fir your feedback. We'll review this and get back to you shortly!

[2022-04-06 10:45] mfilippo commented on #91036
Hello @asergaz,

Thank you for your answer.

I see but then it also says that DeviceConnect is the only granted permission if we use a **device identity's symmetric key** to produce a token. In the case of a back-end service that needs to invoke a direct method, the token must have the ServiceConnect permission if I understood correctly.

Also, I don't understand what is the point of specifying a

[2022-04-06 10:46] garybushey opened #91079 "Sentence in paragraph does not make sense"
The second line under the Supported Workflows section doesn't seem to make sense.  It leads me to believe there will be a listing of the workflows that use data collection rules but there isn't anything like that.   Paragraph copied below

Supported workflows
Ingestion-time transformation is applied to any workflow that doesn't currently use a data collection sending data to a supported table. The

[2022-04-06 11:11] Tosue commented on #70296
Thank you for this, you just pointed me to the right direction and now I'm able to add priv access groups owners programatically. The output of `Get-AzureADMSPrivilegedRoleSetting -ProviderId 'aadGroups' -Filter "ResourceId eq '<pim group objectid>'" `returns 2 roles, the first one is Member and the second one is Owner. Also if you edit the role settings in Azure AD and enable "permanent assignmen

[2022-04-06 11:12] gbms311 opened #91080 "Type ...Non-Micorosoft"
To make Non-Micorosoft apps compatible with the SMS sign-in feature

should be

To make Non-Microsoft apps compatible with the SMS sign-in feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee9d7f4-1d8d-adc5-c00b-ddccd0225328
* Version Independent ID: 4eb876ad-f2b6-997f-5413-90205504c34f
* Content: [App support fo

[2022-04-06 11:19] mark88d commented on #89920
Also seeing the same issue

[2022-04-06 11:23] AnuragSharma-MSFT commented on #91050
@gvanteylingen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-06 11:25] guywi-ms commented on #91079
#assign-reviewer: @bwren as I am OOF for the next few weeks.

[2022-04-06 11:25] PRMerger-2 commented on #91079
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: bwren as i am oof for the next few weeks.

[2022-04-06 11:25] PRMerger12 commented on #91079
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: bwren as i am oof for the next few weeks.

[2022-04-06 11:25] guywi-ms commented on #91079
#assign-reviewer: @bwren

[2022-04-06 11:26] PRMerger-2 commented on #91079
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: bwren

[2022-04-06 11:26] RohitMungi-MSFT commented on #91074
@agribot2 I think the issue might be with the API rather than this code snippet since the export request status is still queued from the service. Did you try to export the same from the custom vision portal from the performance tab and check if it works?

![image](https://user-images.githubusercontent.com/46958063/161964454-a3018b91-91e8-4d76-b98e-45123c1d08a4.png)

[2022-04-06 11:27] guywi-ms commented on #91079
#assign-reviewer: @bwren

[2022-04-06 11:27] PRMerger20 commented on #91079
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: bwren

[2022-04-06 11:40] EGBL opened #91082 "The content that this link points to needs to be updated"
[Visualize your Azure activity log with Power BI](https://powerbi.microsoft.com/blog/monitor-azure-audit-logs-with-power-bi/) blog post.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Independent ID: b6f75acf-e3ed-f6c3-a29e-8f440eb0a9dd
* Content: [Back-end health and diag

[2022-04-06 11:41] cloudlearner253 commented on #91023
Hi,

https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal

The above pasted link I am referring to, Please check it once and tell me is there any changes made in azure platform which is making the functionality differ now.

Thank You

[2022-04-06 11:43] ricmik commented on #70296
You could also use the API directly to get the member and guest guids:
[code]

The ID's and displayNames are found here: ` $groupRoles.value.roleDefinition | select id,displayName`

[2022-04-06 11:51] csmarin opened #91083 "Misspelled command"
[Enter feedback here]
az dedicated-hsm show --resource group myRG --name hsm1

should be
az dedicated-hsm show --resource-group myRG --name hsm1

a dash is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7273fafc-c951-8bfb-2c35-1403c9171efe
* Version Independent ID: 6dc009c4-7c6f-9010-986b-e050902e1d77
* Content

[2022-04-06 12:02] molotch opened #91085 "Permission evalutation order within named group level"
This page is missing information on how identities on the same level are evaluated. Seems as if a principal is member of two named groups not all groups are considered. It's also unclear in what order the groups on the same level are evaluated, is it deterministic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aa443

[2022-04-06 12:11] shwetamathur7 commented on #91083
@csmarin Thank you for your feedback. We will investigate and update the thread.

[2022-04-06 12:12] shwetamathur7 commented on #91080
@gbms311 Thank you for your feedback. We will check and update the thread.

[2022-04-06 12:14] Givary commented on #91073
@kamilzzz Thanks for your feedback, we will investigate and update the thread.

[2022-04-06 12:25] GitaraniSharma-MSFT commented on #91066
@bubbletroubles , the doc has been updated now and below is the updated Note:

![image](https://user-images.githubusercontent.com/67630903/161973988-f692b2d2-db61-4650-839a-34f67061780e.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-04-06 12:25] #91066 closed

[2022-04-06 12:26] lafranke opened #91088 "Python version confusing/not up-to-date"
Hello,

I noticed that your supported Python version for AutoML is quite misleading and probably not up-to-date. According to your docs, Python 3.8 is not compatible with automl. However, when looking at the PyPI documentation, 3.8 is supported:https://pypi.org/project/azureml-train-automl-client/.

I tried to install it using Python 3.9 and it did not work. Installing the azureml model with Pytho

[2022-04-06 12:29] SnehaAgrawal-MSFT commented on #91070
@syukumoto Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-06 12:30] SnehaAgrawal-MSFT commented on #90859
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-04-06 12:30] #90859 closed

[2022-04-06 12:33] asergaz commented on #91036
Hi @mfilippo ,

You are right. And the ServiceConnect permission does not allow the level of granularity you are looking for, this is, invoke direct methods only to a specific set of devices.

`resourceUri` is taken into account when you [Use a shared access policy to access on behalf of a device](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev-guide-sas?tabs=node#use-a-shared-access-po

[2022-04-06 12:41] bubbletroubles commented on #91066
Fantastic and well done getting it to GA :)

[2022-04-06 12:41] #91077 closed

[2022-04-06 12:42] GitaraniSharma-MSFT commented on #91077
@sapporo46 , we've fixed the typo in the doc, it will reflect shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-04-06 12:42] SwathiDhanwada-MSFT commented on #91079
@garybushey Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-04-06 12:50] mfilippo commented on #91036
Thanks for the clarification @asergaz

[2022-04-06 12:50] #91036 closed

[2022-04-06 13:08] lonevvolf opened #91089 "Incomplete content"
There is a spurious text "If you are" without anything following it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfacf3d-4d48-317b-0c68-2f992ebb60bc
* Version Independent ID: 9f00811a-bbf8-91e9-238b-d28066e19c83
* Content: [Configure PremiumV3 tier - Azure App Service](https://docs.microsoft.com/en-us/azure/app-ser

[2022-04-06 13:09] mjrich19 opened #91090 "Confusing and potentially conflicting documentation around uniqueString function"
On the Bicep [Best Practices Page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/best-practices#names), the documentation reads: "The [uniqueString() function](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/bicep-functions-string#uniquestring) is **useful for creating globally unique resource names.**"

However, on the [reference](https://docs.microsoft.c

[2022-04-06 13:19] shwetamathur7 commented on #91080
@gbms311 Thank you for your contribution to enhance the documentation. I have updated the document. Once changes will be approved, same will be reflected in the document.

[2022-04-06 13:19] #91080 closed

[2022-04-06 13:26] cijothomas commented on #90593
See my reasoning why it is not required and misleading:
1. Sampling is not specially applied to ILogger. So calling out ILogger specially in FAQ is not necessary and might lead to incorrect assumption that this is something special to ILogger.
2. If calling out ILogger specifically, why not then do the same for Dependencies, Requests, Exceptions etc.?

if there is a more generic FAQ about "I am mi

[2022-04-06 13:28] asergaz commented on #91036
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-06 13:32] dknappettmsft commented on #35670
Closing this issue as it seems it is a product issue, rather than something specific to the documentation.  Feedback was submitted through the app to the proper channels.

#please-close

[2022-04-06 13:32] #35670 closed

[2022-04-06 13:37] dknappettmsft commented on #38188
Thanks for the feedback. This article no longer exists, but we have a [prerequisites article](https://docs.microsoft.com/en-us/azure/virtual-desktop/prerequisites) that calls this out in the network section.

#please-close

[2022-04-06 13:37] #38188 closed

[2022-04-06 13:41] MayankBargali-MSFT commented on #91076
@oatsoda Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-06 13:47] ABerTSC commented on #41615
Is there meanwhile a documentation?

[2022-04-06 13:51] alexszym opened #91091 "How to use Synapse spark jobs"
The following article has great documentation for how to use Notebooks in Synapse. As the article itself suggest those are great for validating ideas and get something working quickly, but not so much for defining usage in production.

It would be great to get an equivalent article for how to get Synapse spark jobs working together with the pipelines.

---
#### Document Details

⚠ *Do not edit thi

[2022-04-06 13:55] tfitzmac commented on #91067
@SwathiDhanwada-MSFT - yes, that is correct, thank you.

[2022-04-06 14:14] SvenAelterman opened #91092 "List US Government URLs"
The doc lists URLs in the Azure Commercial cloud that need to be reachable for on-premises installations of the AMA. Please also include the URLs for the Azure Government cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3dca2f-629d-36e9-f0f0-8c7e64cc04ab
* Version Independent ID: f40ee991-6cb8-1eee-9a35-ebc5833d

[2022-04-06 14:17] #91044 closed

[2022-04-06 14:23] EGBL commented on #91082
The link opens but is misleading as the content that is shown is out of date. The article was written in 2015 and there is no longer an Azure Audit Log Power BI content pack. Azure operational and audit logs are now known as Azure Activity logs. I suggest that the content is updated and a new Azure Activity Power BI app is provided or instructions on how you can export Azure Activity logs into Pow

[2022-04-06 14:24] droushd opened #91093 "Conditional Access: device filters questions"
hi all - has anyone figured out how to configure a device filter to utilize device physicalid info to allow only devices registered by specific user GUIDs?  for AzureAD groups, the rule would look like this -- "device.PhysicalIDs -any _ -match "2a6a60be-0a74-4018-870e-f7938b2febb7"".  it seems the variable name is different and it also might not accept this type of rule either.  thanks for any adv

[2022-04-06 14:30] SwathiDhanwada-MSFT commented on #91092
@SvenAelterman Thanks for your feedback.

Assigning to content author @bwren for review.

@shayoniseth FYI.

[2022-04-06 14:38] mhshami01 commented on #90951
Hello @kapoorh. Thank you for your contribution.

The task works as designed. It will configure the device exactly as defined in the given deployment.json file, which contains only one module in this case.

[2022-04-06 14:47] giacomogalletto opened #91094 "Error AADB2C90289 with user flow trying to add Azure AD as Azure AD B2C Identity Provider"
Hello,
I am in a scenario where a number of apps for customers need to be accessed by the internal support team. Thus, I am trying to make the firsts to authenticate with **Azure AD B2C** and the seconds with the **company's Azure AD**.

I am pretty sure to have followed this guide very carefully. However, I am getting the AADB2C90289 'invalid_client' error.

**Here's what I have done on company's

[2022-04-06 14:47] watsonb commented on #91057
It wasn't there in our instance either.  I had to manually create the function.

[2022-04-06 14:50] lucabovo opened #91096 "Encryption enabling for individual dedicated SQL Pools - CLARIFICATION NEEDED"
Good morning,
I've just deployed a Synapse Workspace with double encryption managed with a customer-managed key (CMK), then a dedicated SQL Pool.

In this article I noticed that "Encryption can be enabled or disabled for individual dedicated SQL Pools. Each dedicated pool is not enabled for encryption by default."

**First question**: where do I have to enable the encryption for the dedicated SQL

[2022-04-06 14:51] ram-msft commented on #91088
@lafranke Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-06 15:18] don-petry opened #91099 "Groups are evaluated at time of add, not realtime."
[Enter feedback here]
In testing the Group membership option, we have found the group is evaluated just when added, not in realtime.   This means a user added or removed to/from the group after it was applied as the SSAS Admin will not see a change in permissions.  Groups must be removed/re-added when the membership changes.

Let's update this article to reflect the limitation of this group permis

[2022-04-06 15:22] roofiq opened #91100 "Scaling down instances with long running process"
Hello,

We have set up a metric-based auto scale solution. It works fine, but when it's scaling down, it is shutting down our instances, that are still running some process. As you can imagine, it ends with bad user experience. I didn't find any information about it in official docs so rising this issue here.

After some digging, as I understand, there is a 90sec default timeout, that can't be cha

[2022-04-06 15:25] deforation commented on #90280
Does someone experience imilar issues?

[2022-04-06 15:26] SaiKishor-MSFT commented on #90819
This feature will be supported soon. ETA atm is end of April.

[2022-04-06 15:26] vipul0517 opened #91101 "Limit for scheduled jobs per azure automation account"
What is maximum number of scheduled jobs that can be submitted every 30 seconds per Azure Automation account ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscription limits and quotas - Azure Resou

[2022-04-06 15:29] rvandenbedem opened #91102 "First diagram needs updating."
The first diagram in this page has an object (top right-hand corner) that needs to be updated from "VMware on Azure Pod" to "Azure VMware Solution".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca536a9f-8c26-c0eb-d199-e711fb718b6f
* Version Independent ID: 140b2c2e-2505-6fd1-1ea8-52d9de43ded4
* Content: [Deploy Traff

[2022-04-06 15:30] RyZum commented on #90630
Thanks @DTronD for the feedback. Indeed Slice is a method we've added recently and decided to add support for negative parameters or parameters larger than the length of the original string.

For backward compatibility reasons, we have decided not to change the current substring function.

Thanks for reporting the issue, I'll add a section to the documentation of the ``substring`` function to ment

[2022-04-06 15:33] halcyon2021 opened #91104 "Submit new Azure AD tutorial on SSO integration instruction for Lyve Cloud"
Can you please provide us the process on how we can add an instruction for SSO integration with Azure AD from Lyve Cloud?

Thank you,

Van

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad82c7c8-2bda-ee68-97db-66da6e17646f
* Version Independent ID: b6b8a9bc-6581-859b-5a4d-8b087c04e35e
* Content: [Support and help optio

[2022-04-06 15:46] CelesteDG commented on #91104
Hello there, @halcyon2021 - Thank you for your question. Are you referring to something similar to these articles: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/tutorial-list ? If so, please let me know and I'll let our team know about the request or see if we have one in queue for Lyve Cloud. Thank you.

[2022-04-06 15:48] halcyon2021 commented on #91104
That is correct. We would like to add our application, Lyve. Cloud, to be on the list. We completed our testing on the integration, and it is working as expected.

Van

From: Celeste de Guzman ***@***.***>
Date: Wednesday, April 6, 2022 at 8:46 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Van Nguyen ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Submit new Azure AD

[2022-04-06 15:55] ezYakaEagle442 opened #91107 "Access Config Server and Service Registry Endpoints failure"
How to access Config Server and Service Registry Endpoints failure when the ASC instance is deployed to a VNet ?

wget https://asc-petcliasc.svc.azuremicroservices.io/config/actuator/health --header 'Authorization: Bearer $token'
--2022-04-06 15:47:43--  https://asc-petcliasc**.svc.azuremicroservices.io**/config/actuator/health
Resolving asc-petcliasc.svc.azuremicroservices.io (asc-petcliasc.svc.a

[2022-04-06 15:56] JamesTran-MSFT commented on #91094
@giacomogalletto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-06 15:58] GitaraniSharma-MSFT commented on #91082
@EGBL , thank you for the update. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-04-06 16:02] MicrosoftGuyJFlo commented on #90894
Azure AD joined devices are only reliant on internet connectivity.

Hybrid Azure AD joined devices rely on internet connectivity for an Azure AD activity timestamp but also require line of sight to a domain controller to regularly update credentials.

#please-close

[2022-04-06 16:08] MicrosoftGuyJFlo commented on #90846
The instructions are correct as written. I just went through them in a tenant. The instructions take you to the following location in the Azure portal.

https://portal.azure.com/#blade/Microsoft_AAD_Devices/DevicesMenuBlade/DeviceSettings/menuId/

If this is still an issue for your organization, I would advise opening a support case.

#please-close

[2022-04-06 16:08] #90846 closed

[2022-04-06 16:08] CelesteDG commented on #91104
@halcyon2021 Thank you for the confirmation. Let me loop back here once I've checked with our SaaS tutorials team and seen where this is on their list.

[2022-04-06 16:16] suzizuber commented on #91102
@rvandenbedem update PR in progress, change should publish today. Thank you for catching this.

[2022-04-06 16:40] MicrosoftGuyJFlo commented on #90160
https://docs.microsoft.com/en-us/troubleshoot/azure/active-directory/pending-devices#why-a-device-might-be-in-a-pending-state

Will add this paragraph to the article as well.

[2022-04-06 16:42] vlkuznet opened #91109 "Monitoring page should recommend enabling clientside App Insights"
Given how much of the SWA runs on the client's browser, a lot of valuable telemetry can be gathered with App Insights clientside JS.

I would recommend that we provide a brief description of the functionality and link to Azure Monitor's relevant docs here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-04-06 16:43] kobulloc-MSFT commented on #89338
@cveld Sorry for the delay!  If you don't want to use all of the permissions included in Storage File Data SMB Share Contributor, you can create your own custom RBAC role:
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

[2022-04-06 16:51] SwathiDhanwada-MSFT commented on #91101
@vipul0517 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-06 16:53] vivuu1989 opened #91111 "How to assign access policies to datalake storage account without recursive option"
It seems the Microsoft document on "az storage fs access update-recursive" is not clear not fully functional as per my testing. is there any way to do update alone without doing the update-recursive?

 I have an azuredevops pipeline to assign new access & default policies to the datalake storage account policies without affecting the exising ACL settings and which is working fine.

 But we are fac

[2022-04-06 16:53] KranthiPakala-MSFT commented on #91072
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our engineers a

[2022-04-06 16:56] KranthiPakala-MSFT commented on #91078
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-06 16:56] KranthiPakala-MSFT commented on #91071
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-04-06 16:56] coffeebeantraining opened #91113 "Renaming an Application Gateway Listener Name is not currently possible."
I discovered that when creating a listener name in the application gateway, if you need to rename the listener name is not possible unless you first delete the existing listner name and re-create which is not feasible for production environments.

![snap_screen_20220406095630](https://user-images.githubusercontent.com/59173960/162027746-d506449d-591d-499c-a636-ac4197cb59f3.png)

[2022-04-06 16:57] KranthiPakala-MSFT commented on #91085
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-06 16:58] cijothomas commented on #90862
This is expected to work:
[code]

(Ofcourse you need to have ApplicationInsights:ConnectionString, in IConfiguration)

example appsettings.json:
[code]

The following in application code:
[code]

[2022-04-06 17:18] GeethaThatipatri-MSFT commented on #90822
We haven't heard back from you. We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-06 17:18] #90822 closed

[2022-04-06 17:18] SaiKishor-MSFT commented on #90123
@catmanjan Can you confirm the versions of App Gateway for Test and Production?

[2022-04-06 17:19] Oury-MSFT commented on #90972
@CedricSteenbeke Thank you for pointing this out. I have raised a Pull request to make the change. Changes will be live in 24 to 48 hours. Thank you for helping us improve our documentation.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/194218

[2022-04-06 17:19] #90972 closed

[2022-04-06 17:19] KranthiPakala-MSFT commented on #91096
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-04-06 17:20] KranthiPakala-MSFT commented on #91099
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-06 17:22] KranthiPakala-MSFT commented on #91045
@ayax79 - Hope you were able to find the correct document. Feel free to open a new thread if you have any feedback regarding any specific documents.

Thank you

[2022-04-06 17:30] KranthiPakala-MSFT commented on #90900
@jianleishen , @jonburchel -Could you please help update the document with latest images.

Thank you

[2022-04-06 17:39] kapoorh commented on #90951
Hi Shami,

Is there any way to update the existing module image version from pipeline? and all other modules shouldn't be deleted.

How can we update the module on the devices when we have other modules as well on the same device?

Kind regards,
Harsh

[2022-04-06 17:39] sarahdettorre opened #91117 "Data quality issues should be detected earlier in the pipeline"
This is not the right stage in the pipeline to recommend catching data quality issues.

Here, in the "what is data drift" section, data quality issues are listed as examples of drift, but they are not the same. Data quality issues should be resolved early in the pipeline, close to the data source, using data validation techniques. Data validation is like automated testing for code, but for data. I

[2022-04-06 17:45] Minewiskan commented on #91099
#in-progress

[2022-04-06 17:56] kapoorh commented on #90951
Hi Satish,

Didnt understand this. I am asking whether is it possible to update module without deleting the existing one?

[2022-04-06 17:59] Grace-MacJones-MSFT commented on #91089
Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-06 18:10] SatishBoddu-MSFT commented on #90951
Hi , Can you be more specific, what is the 'update' means? like changes in the module code? or Twin changes? Update the [runtime container version.?](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge?view=iotedge-2020-11&tabs=linux#:~:text=check%20the%20runtime-,module%20versions,-.)

First you did the module deployment or setting manually and then later you are using the pipe

[2022-04-06 18:33] Minewiskan commented on #91099
You are correct in that groups are evaluated at time of add and not realtime. However,  "Groups must be removed/re-added when the membership changes." is not correct. Group membership from AAD is cached for one hour. If there is a change in the group in AAD, it will take effect in the AAS admin role but it will be delayed. If you're finding it takes much longer or not at all, please open a support

[2022-04-06 18:33] Minewiskan commented on #91099
#please-close

[2022-04-06 18:33] #91099 closed

[2022-04-06 18:39] ezYakaEagle442 commented on #90881
here is a Bicep snippet, to be tested ...

[code]

[2022-04-06 18:57] #90087 closed

[2022-04-06 19:00] KSchlobohm opened #91125 "Looking for guidance to describe HttpTriggers with OpenAPI"
Looking for guidance on how to decorate the function and associated models to build a Swagger document that Visual Studio can consume (NSwagClient) to build a proxy client

Looks like these are some of the options that should be considered:
https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#displayattribute

---
#### Document Details

⚠ *Do not edit this sect

[2022-04-06 19:21] Justinha commented on #73316
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-04-06 19:21] #73316 closed

[2022-04-06 19:24] normesta commented on #90530
Property is doc'd now - https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-powershell#change-the-default-network-access-rule. Flag can be set only via PowerShell or CLI. Portal UI functionality is rolling out to public regions as we speak. When that option appears in the portal, I'll update the portal tab for these in

[2022-04-06 19:24] #90530 closed

[2022-04-06 19:25] normesta commented on #90193
Thanks @eyoh5. The feature must be enabled for the subscription of the virtual network. The content has been updated to reflect that. Thanks for reporting!

#please-close

[2022-04-06 19:25] #90193 closed

[2022-04-06 19:36] normesta commented on #90838
Thank you for finding this! I've made the correction. The updated content will appear live after 3 PM today.

Thx again!

#please-close

[2022-04-06 19:36] #90838 closed

[2022-04-06 19:41] Tony00000001 commented on #76665
Any updates?

Thanks!

[2022-04-06 19:46] yeahsicy opened #91128 "Navigation link / tree is not user friendly for our Azure docs"
The new navigation link / tree is not user friendly for **all of our Azure docs**. I picked this doc (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet) as an example. It looks good initially.
![image](https://user-images.githubusercontent.com/34499027/162053096-baa7781e-9abd-4968-a8c5-36083408d0b3.png)

However, when we scroll down, the navigation link / tree is gone.
!

[2022-04-06 19:49] normesta commented on #90715
Thanks for finding this! I've updated the doc. The change will appear live after 3:00 PM.

#please-close

[2022-04-06 19:49] #90715 closed

[2022-04-06 19:49] sijucm opened #91129 "@ServiceBusTopcOutput having subscription name mandatory: How can that even be possible to think?"
I see the following in the example and wonder how can subscription name be given when sending a message to the topic. Doesn't that defeat the basics of topics/subscription pattern? I'm just confused how can this even be thought off by anybody who understands how pub/sub works. And the fact that there are no comments about this makes me scared whether all this is used by people in real life or is t

[2022-04-06 20:12] cynthn commented on #91013
@ju-shim Do you know what is happening with -status?

[2022-04-06 20:13] Justinha commented on #73711
#please-close

[2022-04-06 20:13] #73711 closed

[2022-04-06 20:26] SatishBoddu-MSFT commented on #90951
Hello @asergaz Do you have any suggestions on this query\scenario!
Cc: @AshokPeddakotla-MSFT

[2022-04-06 20:28] prabhatmenon opened #91131 "Built-in Image Analysis skill (Azure Cognitive Services) needs "Skill outputs" section"
[Enter feedback here]
During an OpenHack session, I discovered that this doc is lacking the "Skill outputs" section.
The samples miss out on spelling out the hint is also one of the possible output, and need to know if this is mandatory to output or not. In the end I had to use this in the index definition to make things work:
        {
            "sourceFieldName": "/document/normalized_images/*

[2022-04-06 20:30] Mike-Crowley opened #91132 "download details page needs to include 2022"
This page links to https://www.microsoft.com/en-us/download/details.aspx?id=47594 for the AAD Connect download. Unfortunately there is no page feedback option for that page, however the system requirements explicitly list Windows Server 2019 and 2016, however THIS article says 2016 and up. Therefore the download page should either say the same thing or also include 2022 to remove confusion.

---
#

[2022-04-06 20:35] JamesTran-MSFT commented on #91132
@Mike-Crowley
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-06 20:44] mimckitt commented on #51484
Pushing a fix now.

#please-close

[2022-04-06 20:44] #51484 closed

[2022-04-06 20:49] anesthetiize commented on #35145
Can someone look into this? I have 2 projects halted because the installers cannot be located anywhere. This documentation is wrong and misleading.

[2022-04-06 21:08] duongau commented on #82382
Hello @jannyg, Norway has been added to the list of countries. Please feel free to reach out if you have any further questions about this inquiry. For now I will archive this issue. Thank you. #please-close

[2022-04-06 21:08] #82382 closed

[2022-04-06 21:08] JamesTran-MSFT commented on #91042
@bmilbauer
Thank you for your feedback!

When it comes to the documentation being out of date, can you share what you saw within your Portal? When walking through the steps within my tenant, I didn't find anything wrong or outdated with the documentation.
![image](https://user-images.githubusercontent.com/36619112/162071182-c386aa9c-a7d6-4d36-8301-6b61b66767f0.png)

Thank you for your time and pat

[2022-04-06 21:11] duongau commented on #83603
Hello @MichaelBrooks-Informatyx, Thank you for pointing that out. I removed the apostrophe from the "CDNs". Since this is now resolved, I will archive the issue. #please-close

[2022-04-06 21:11] #83603 closed

[2022-04-06 21:13] mike-urnun-msft commented on #91125
Hello @KSchlobohm - Thank you for your feedback. Since this channel is more for driving improvements toward MS Docs, could you post on [MS Q&A](https://docs.microsoft.com/en-us/answers/index.html) instead for this question?

[2022-04-06 21:17] mike-urnun-msft commented on #91128
Thank you for your feedback! We will review and update as appropriate.

[2022-04-06 21:20] mike-urnun-msft commented on #91107
Hello @ezYakaEagle442 - Thank you for your feedback. Since this channel is more for driving improvements toward MS Docs, could you post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead for your question?

[2022-04-06 21:36] dcrithyne commented on #91057
I wonder if it is absent in our configuration as we have chosen the option "Enable on all available and future machines" for Manage Machines
![image](https://user-images.githubusercontent.com/94335371/162075328-1bab0215-8375-4b3f-89b2-40b76d42c23d.png)

I was looking for a way to remove a record from update management where the agent had been uninstalled and the hybrid worker manually deleted, ori

[2022-04-06 21:40] duongau commented on #74663
Hello @gabriel-kohen-by, I updated the article to include brotli as a compression type. Since this is resolved I will archive this issue. Please feel free to reach back to me if you have any questions. Thank you. #please-close

[2022-04-06 21:40] #74663 closed

[2022-04-06 21:46] coffeebeantraining commented on #91113
Please add the renaming feature to powershell because i doubt portal.azure.com will get around to it anytime soon.

[2022-04-06 21:48] duongau commented on #75669
Hello @sergiosolorzano, I removed the prefix-based text from that section to avoid confusion. Please let me know if you have any questions. Thank you. #please-close

[2022-04-06 21:48] #75669 closed

[2022-04-06 21:50] jcocchi commented on #90485
@Neutrino-Sunset thank you for your feedback! You are correct that the connector only supports the SQL API. I will call this limitation out more clearly in the beginning of the document.

[2022-04-06 21:54] cwatson-cat commented on #88798
@murthyla Thanks for the feedback!
We're checking back with the team before replying to this one and will then also update the content in this article as needed.
In the meantime, we've added this to our backlog, so I'm going to close this issue. Please feel free to continue adding comments if you have additional feedback.
We appreciate your contributions to docs!
#please-close

[2022-04-06 21:54] #88798 closed

[2022-04-06 21:57] mike-urnun-msft commented on #90908
@imeya Thanks again for your feedback. Since this channel is more for driving improvements toward MS Docs, could you post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead for the question above?

While the IP filtering feature discussed in the doc above may not support IPv6 (feel free to log a [feature request here](https://feedback.azure.com/d365community/)), your

[2022-04-06 22:00] cwatson-cat commented on #87480
Thanks for this feedback @[nickselvaggio](https://github.com/nickselvaggio). We've added this to our backlog for updates, so I'm going to close this issue. Please feel free to continue adding comments if you have additional feedback.
We appreciate your contributions to docs!
#please-close

[2022-04-06 22:00] #87480 closed

[2022-04-06 22:03] mike-urnun-msft commented on #91129
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-06 22:10] pauldotyu opened #91135 "Clarification on unsupported replication migration path when NFS is enabled."
In the doc section https://docs.microsoft.com/en-us/azure/storage/common/redundancy-migration?tabs=portal#switch-between-types-of-replication, there is a note that states that migrating from LRS to ZRS is not supported when NFSv4 is enabled on a File Share. PG has confirmed this is also not supported when NFSv3 is enabled on Blob storage so the docs should reflect that to reduce confusion.

---
##

[2022-04-06 22:20] v-rant commented on #91104
Hi @halcyon2021, please follow this article https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/v2-howto-app-gallery-listing to publish your application in AAD and let us know in case you experience any issue.

[2022-04-06 23:04] Grace-MacJones-MSFT commented on #91109
Hi @vlkuznet , Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-04-06 23:07] Grace-MacJones-MSFT commented on #91131
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-06 23:25] asergaz commented on #90951
Hello @kapoorh ,

To achieve this, where you want to build and push **only one module** , you need to leverage the `bypassModules` parameter: "Specify the module(s) that you do not need to build or push from the list of module names separated by commas in the .template.json file."

Every project should reference the same `templateFilePath` , where project1 bypass modules 2,3,4 and project2 bypass

[2022-04-06 23:30] VanMSFT commented on #69345
Hi @bdschaap - Sorry for the delay, and thank you for your patience. MSAL.NET is supported to work with integrated authentication on Windows. AD authentication is also supported for the Microsoft.Data.SqlClient on Linux. I'll go ahead and remove that note. Please let us know if you have any concerns. We appreciate your time and feedback.

[2022-04-06 23:30] VanMSFT commented on #69345
#please-close

[2022-04-06 23:30] #69345 closed

[2022-04-06 23:34] KranthiPakala-MSFT commented on #91100
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-06 23:40] KranthiPakala-MSFT commented on #91111
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-04-06 23:43] KranthiPakala-MSFT commented on #91113
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any document changes upon reviewing this feedback.

If your feedback is specific to a product, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answ

[2022-04-06 23:46] KranthiPakala-MSFT commented on #91117
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-07 00:00] markjbrown commented on #90922
We have added this to our committed list for our upcoming work semester. We will release an update for PS az.cosmosdb to include the --Capabilities parameter for Create and Update cmdlets for a Cosmos account resource.

I do not have an ETA to share but we are targeting the 1st half of this year. As mentioned before, this is supported via other means including ARM, Bicep and az cli.

Thanks for ra

[2022-04-07 00:00] #90922 closed

[2022-04-07 00:31] YutongTie-MSFT commented on #90927
Thanks for reaaching out to us again. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-04-07 00:31] #90927 closed

[2022-04-07 00:36] catmanjan commented on #90123
@SaiKishor-MSFT they are both Standard V2 if thats what you mean?

[2022-04-07 02:17] Rick-Anderson opened #91140 "Update CD code art"
<img  alt="image" src="https://user-images.githubusercontent.com/3605364/162107161-8e52ae2c-6b1f-43f2-8f7f-67df3c7c6349.png">

rename to main.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaaa2dff-e57f-370e-fbf7-3ed37de2bb2a
* Version Independent ID: 24c98efe-5bcf-fe19-445d-8512e7929a58
* Content: [Deployment best pr

[2022-04-07 03:04] samko635 opened #91142 "Stored procedure's error callback"
Hi, my team has written python function to call and run stored procedure for document bulk update.
We're facing 2 challenges at the moment.

**1. Failure retry**: There are a few HTTP response status code recommended to retry if fail according this this(https://docs.microsoft.com/en-us/rest/api/cosmos-db/http-status-codes-for-cosmosdb) page such as 429, 449. However, I've started to doubt if the c

[2022-04-07 03:08] takashiuesaka opened #91143 "The tutorial for Durable Funcsions(Fan-in-fan-out) with Python is wrong"
1. After cloning the sample source from GitHub, the developer has to create a virtual environment, but there is no description of the steps to do so.
2. At the 'Run the sample' section, the contents of json is wrong.  For the Python sample only, the directory specified in the json body must be a Fullpath of one of E2_BackupSiteContent, E2_CopyFileToBlob, or E2_GetFileList.

---
#### Document Detai

[2022-04-07 03:15] samko635 commented on #91142
#1 of my inquiry is answered with more performance testing. Stored procedure indeed returned 429 code for throttling so I could handle the retry on my python application side. I'd still like to know the answer to #2.

[2022-04-07 03:25] thomasgauvin opened #91144 "NuxtJS deployment to Azure Static Web App documentation typo, server-rendered -> static-rendered"
I believe the title of this tutorial is a typo and should be renamed because, as far as I'm aware, Azure Static Web App only supports static-rendered sites. The title of the tutorial indicates that it is possible to host server-rendered sites, but the content specifies `you learn to deploy a [Nuxt.js](https://nuxtjs.org/) generated static website to [Azure Static Web Apps](https://docs.microsoft.c

[2022-04-07 03:34] MayankBargali-MSFT commented on #91143
@takashiuesaka Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-07 03:36] MayankBargali-MSFT commented on #90182
@drmiru Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-07 03:36] #90182 closed

[2022-04-07 04:24] krispenner opened #91145 "Missing description for Wildcards operator of routes match conditions"
Cant find any description of how to use the `Wildcards` operator for `Request Path` routes match condition.

https://docs.microsoft.com/en-us/azure/frontdoor/rules-match-conditions?tabs=portal&pivots=front-door-standard-premium#operator-list

![image](https://user-images.githubusercontent.com/8837910/162119669-e7df1543-df5c-492d-b4d4-45478a7fcca6.png)

---
#### Document Details

⚠ *Do not edit thi

[2022-04-07 04:52] SnehaAgrawal-MSFT commented on #91140
@Rick-Anderson Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-07 04:55] swarleysez commented on #38914
I just ran into this issue. Yes, this is an old issue, but it still exists and, since DevOps is not considered a trusted Microsoft Service, a workaround is still the only option I could find that avoided me having to ditch my private endpoint on the keyvault.

Unfortunately, the above answers didn't exactly work for my situation or I didn't read them all thoroughly, so hopefully the following will

[2022-04-07 04:56] SnehaAgrawal-MSFT commented on #91144
@thomasgauvin Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-07 05:04] #91068 closed

[2022-04-07 05:21] pnarsi opened #91146 "Azure Cognitive Search CMK Enforcement"
In the [ARM template ](https://docs.microsoft.com/en-us/azure/templates/microsoft.search/searchservices?tabs=bicep)for this Search Service there is a parameter called EncryptionWithCmk which based on the description if enabled enforces all data to be encrypted at rest via an CMK.

![image](https://user-images.githubusercontent.com/7891408/162125477-5764a7d7-2c84-432d-8551-1b7e2e543d43.png)

There

[2022-04-07 05:22] fujute opened #91147 "https://adflabstaging1.blob.core.windows.net/share/Transformations.html."
[Enter feedback here]
Under the section " Import a notebook for Transformation "  ->  2. Select Import from: URL. In the text box, enter https://adflabstaging1.blob.core.windows.net/share/Transformations.html.

The " https://adflabstaging1.blob.core.windows.net/share/Transformations.html " is not available same as  " https://storagewithdata.blob.core.windows.net/data?sv=2018-03-28&si=read%20and%20

[2022-04-07 06:21] KazuOnuki opened #91150 "fix how to remove the target variable column in the inference pipeline."
In this [doc](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-deploy#:~:text=Make%20sure%20that%20the%20output%20of%20Select%20Columns%20in%20Dataset%20removing%20target%20variable%20column%20is%20connected%20to%20the%20same%20port%20as%20the%20output%20of%20the%20Web%20Service%20Intput%20component.), It is stated that `Make sure that the output of Select

[2022-04-07 06:37] pnarsi opened #91151 "Using shared private endpoint for accessing storage"
Rather than using the IP based filtering method mentioned in this article can't we just expose the storage account as a shared private endpoint? Is there are reason why the shared private endpoint method is not listed a valid alternative in the note which is at the top of the page.

![image](https://user-images.githubusercontent.com/7891408/162135273-dafe61e7-f72c-4223-9f5c-6462f3604195.png)

---

[2022-04-07 07:16] AMH-UK commented on #91072
Apologies - I had misunderstood where I was posting this; I will put it somewhere else.

[2022-04-07 07:16] #91072 closed

[2022-04-07 07:36] as2005as opened #91154 "Share in HDD"
When adding a managed disk to a resource group, there is the button to choose the disk size (and type). After pressing it there is a table of the different types and their capabilities. Under HDD we can see that from disk size of 512, there are shares. So I guess that [this documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared) should include the HDD option as well.

[2022-04-07 07:40] sijucm opened #91156 "How to use these filters is not documented"
The filters are documented with examples, but I'm not clear how to use them and where. Being technical, I assumed it will be set when creating the subscription, but I'm not sure if that is how Microsoft invented this. I'm ready to be surprised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bce37cf-a134-9a2c-7c1e-8132

[2022-04-07 07:42] kapoorh commented on #90951
Thanks @asergaz,  Ok, Let me try this.

[2022-04-07 08:04] Vikram1988 commented on #88987
The following doc update has been pushed at https://docs.microsoft.com/azure/migrate/tutorial-discover-physical#start-continuous-discovery:
 “The SSH key file supports CRLF to mark a line break in the text file you upload. SSH keys created on Linux systems most commonly have LF as their newline character so you can convert them to CRLF by opening the file in vim, typing ":set textmode" and saving

[2022-04-07 08:18] AjayKumar-MSFT commented on #91151
pnarsi, Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-04-07 08:24] lucabovo commented on #91096
Thank you so much!
I look forward to your reply.

[2022-04-07 08:35] Siegfried0 commented on #91051
@GitaraniSharma-MSFT, thank you. In the meantime, I have already received an answer to my issue by other means.

Yesterday, I found out via a support ticket that the documentation also refers to a certificate signed by your own (public untrusted) CA as 'self-signed'.
It is not possible to use a self-signed in the actual sense on the backend systems (WebApp/WebServers). A chain of trust with at lea

[2022-04-07 08:35] #91051 closed

[2022-04-07 08:45] PriyankaRudramaina commented on #91135
@pauldotyu,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-07 09:02] weyCC81 opened #91157 "Override "msDS-ExternalDirectoryObjectId" on AdminSdHolders"
Hi Microsoft

We have a "permission-issue" (Insufficient access rights to perform the operation) in AD Connect on accounts with "adminCount =1".
How is it possible to add just this permission for this attribute "msDS-ExternalDirectoryObjectId" over powershell, i can not find that in the documentation.

Set-ADSyncExchangeHybridPermissions does not work without "[-SkipAdminSdHolders]"
Access: Read/W

[2022-04-07 09:05] SnehaAgrawal-MSFT commented on #91146
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-07 09:09] Givary commented on #91157
@weyCC81 Thanks for the feedback. We will investigate and update the same.

[2022-04-07 09:13] RamanaSwaroop opened #91158 "GitLab image support"
According to this GitLab project (https://gitlab.com/static-web-apps/azure-static-web-apps-deploy), support for 'azure-static-web-apps-deploy' image not guaranteed. Who is actually maintaining this image in GitLab?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4d0746-aacc-5ddf-5a0e-274e39d32d77
* Version Independent

[2022-04-07 09:14] emarana opened #91159 "Syntax error in the page script"
Hello,

Seems the "for" is not completed for the unattached NIC

![image](https://user-images.githubusercontent.com/16290744/162164924-c1bbef30-3358-41d9-95b3-fc5df36e668b.png)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939e640f-6505-774f-68d9-697a596f14fb
* Version Independent ID: 887d307d-5c87-c9fa-3a95-

[2022-04-07 09:30] SnehaAgrawal-MSFT commented on #90959
@ingridxinzhuo163 Thanks for the feedback! If I am understanding your query right you are trying to deploy App services using ARM template and looking for SKU property, Suggest you to refer to this document might be helpful: https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template?toc=%2Fazure%2Fazure-resource-manager%2Ftemplates%2Ftoc.json&pivots=platform-linux

[2022-04-07 09:31] FergusKidd opened #91160 "Fortanix link brokem"
The link to the Fortanix AKS quick-start seems to be broken and opens a 404 page on Fortanix

https://support.fortanix.com/hc/en-us/articles/360049658291-Fortanix-Confidential-Container-on-Azure-Kubernetes-Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fc25f-180f-5acd-f40c-a46947127c6e
* Version Independent

[2022-04-07 09:46] Michal-Ziemba opened #91161 "There are missing operators explained"
There are & and !& operators not explained on this page.
Can you include them, please?
Thank you in advance

Michal Ziemba

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-c3bd-9b33-f37bb7af6acd
* Version Independent ID: d865098d-299a-ddeb-6eed-9a1db3175de3
* Content: [Use scoping filters in Azure Active Di

[2022-04-07 10:06] VikasPullagura-MSFT commented on #91160
@FergusKidd
Thanks for the feedback! We will check and updated the document as appropriate.

[2022-04-07 10:11] HoLengZai opened #91162 "mistypo in the test example on step 4"
[Step-4 - Validate the setup](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/on-prem-network#--step-4-validate-the-setup)

You do not need the backquote on your test ping example:
![image](https://user-images.githubusercontent.com/20622767/162176418-10aff4f9-dd49-4b7e-af1b-c696723e2fc8.png)

---
#### Document Details

⚠ *Do not edit this section.

[2022-04-07 10:19] loudar opened #91163 "user.properties is outdated. Change to ApplicationProperties"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bce37cf-a134-9a2c-7c1e-81329ab5af72
* Version Independent ID: f97acc7d-9936-ea76-0bdb-1838333abe57
* Content: [Set subscriptions filters in Azure Service Bus - Azure Service Bus](https://docs.microsoft.com/en-gb/azure/service-bus-messaging/service-bu

[2022-04-07 10:23] helloyesthisisdave opened #91164 "No mention of hard 5 JOIN limit in this documentation"
Cosmos restricting queries to only 5 JOINs within the same statement is a significant consideration when designing data structures and query patterns.

However, I can't find any mention of this restriction within these documents, which causes issues as the first time you are notified is when you hit the error whilst writing a query.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-04-07 10:31] VikasPullagura-MSFT commented on #91159
@emarana I just ran the script and it is working without any errors.
Can you please share the screenshot of the error.

[2022-04-07 10:36] DoubleFaults opened #91165 "azure-data-factory-utilities commands do not work"
Refered to package's [README](https://www.npmjs.com/package/@microsoft/azure-data-factory-utilities) , I found that

1. `npm run build export` should be `npm run start export`
1. `npm run build validate` should be `npm run start validate`

Besides, better have a section to tell audiences who are not acquainted with Node that how can they setup this node package.

---
#### Document Details

⚠ *Do n

[2022-04-07 10:44] DoubleFaults commented on #91165
sorry for my false issue, commands listed above are not used for `azure-data-factory-utilities`.

[2022-04-07 10:44] #91165 closed

[2022-04-07 10:47] anand-kakad opened #91166 "Missing hyperlink/more info"
The section of 'Validating a confidential ledger enclave' mentions 'More details about this can be found here'. However there is no link or further resource made available. I am not sure if 'here' was supposed to carry a hyperlink? Please take a look.

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b0cfb35-fbd2

[2022-04-07 11:24] KrishnaG-MSFT commented on #90879
@stowen-msft Closing this issue for now as we didn't hear back from you.If there is any further query or documentation feedback w.r.t the referred Azure document then please let us know so we can gladly continue the discussion. Thanks.

[2022-04-07 11:24] #90879 closed

[2022-04-07 11:27] agribot2 commented on #91074
Hi,
The project and it's iteration, etc works fine when I use it via the web portal.
I suspect that the code provided, or something else, does NOT work on an existing project and an existing iteration.
I suspect different code is required to export an existing model (previously created via training ), based in an existing iteration.

Please help, because it's important for many users ( paying cust

[2022-04-07 12:04] nanordas opened #91168 "How to Install and execute the module"
Sorry for being so slow, but I have downloaded the files and unzipped them.
But I dont understand how to "Install and execute the module in a device that is domain joined to on-premises AD DS with AD DS credentials that have permissions to create a service logon account or a computer account in the target AD."

How to install and execute them? What commands to use? They just open in Notepad for me

[2022-04-07 12:10] slavizh opened #91169 "Dedicated support"
Hi,
Here might be a good place to have information if the log supports dedicated table type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847615aa-75d5-01d1-c64b-8ce385c14397
* Version Independent ID: fad240b7-b122-7f3a-d185-43ad9747b72a
* Content: [Supported categories for Azure Monitor resource logs - Azure Monitor

[2022-04-07 12:13] khairnarshailesh commented on #90951
On be half of @kapoorh ,

Hi @asergaz ,

**Overview:**
We have multiple images in ACR which we use in IOT edge module and we configure the module images manually for each iot edge device. We want to update the image directly after deploy.

**Practical Scenario:**
We have below images in ACR:

We have configured all the above images in IOT edge device, IOT edge device named "iotdevice1".
It creates

[2022-04-07 12:15] vgarmash opened #91170 "Need to update an article to be in syc with "Change feed in Azure Cosmos DB""
The main article about Cosmos DB Change feed (https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed) was recently updated and now mentions that it is supported in all implementations but the Table API:
![image](https://user-images.githubusercontent.com/1226001/162196174-cebb474b-7202-4661-82e8-aa7ad0ec2be7.png)

Although the current article "Serverless event-based architectures with Azure C

[2022-04-07 12:33] AjayKumar-MSFT commented on #91158
@RamanaSwaroop, Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-04-07 12:37] H-Nawabi opened #91171 "Specify for AZURE Commerical vs Azure Government"
Please define the availability of where this feature is support to help define the capabilities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Independent ID: d89d9eef-daed-636d-7414-0b15f3195734
* Content: [Defender for Cloud's integrated vulnerability assessment solutio

[2022-04-07 12:41] johnhaire89 opened #91172 "WPJ removal tool doesn't do anything"
Complete log from the tool below

`BlockOnCompletion failed with error code: 0x80000018.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa632bd8-9300-c9fa-11fc-0c4be6862c6e
* Version Independent ID: d0d3cf71-5945-c202-d466-12c3da3fb473
* Content: [Azure Active Directory device management FAQ](https://docs.microsoft.co

[2022-04-07 12:41] AnuragSharma-MSFT commented on #91170
@vgarmash Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-07 13:07] triggersbroom opened #91173 "Possible typo in section 5. How to avoid duplication of events to the Syslog and CommonSecurityLog tables"
Hi,

In section 5. it states that "On each source machine that sends logs to the forwarder in CEF format, you must edit the Syslog configuration file to remove the facilities that are being used to send CEF messages."

This doesn't make sense to me. Shouldn't it say the change needs to be made on the Syslog forwarder itself, rather than the machine that sends logs to the forwarder?

Thanks
Gavin

[2022-04-07 13:08] GitaraniSharma-MSFT commented on #91145
@krispenner , thank you for your feedback. Could you please share the full screenshot of the Rule set configuration page? And which tier of Azure Front Door you are using?

I checked the rule engine for Azure Front Door Premium in my lab but I couldn't find the Wildcard operator anywhere:

![image](https://user-images.githubusercontent.com/67630903/162205393-9475f9d1-2394-4569-b76d-5b77f3c920a4.pn

[2022-04-07 13:08] kengaderdus commented on #90699
@KSchlobohm

Thanks for your feedback and patience. In relation to the [article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-web-api?tabs=csharpclient) you refer to in this issue, we don't have the concept of roles. Azure AD B2c apps accessing API need scopes to access backend APIs, which are themselves protected by Azure AD B2C.

Let us know if this helps.

T

[2022-04-07 13:10] graudeejs commented on #89931
Or better yet, and I know this might sound revolutionary to Microsoft: Don't do shit like this. It's frustrating to say the least

[2022-04-07 13:20] kengaderdus commented on #90734
@bgawale

Thanks for your feedback and patience. The age gating custom policy sample is now available. Also, the document link has been updated. Please note that this GitHub issue might be closed automatically before the changes go live.

[2022-04-07 13:20] kengaderdus commented on #86290
@Norrch2

Thanks for your patience. The age gating custom policy sample is now available. Also, the document link has been updated. Please note that this GitHub issue might be closed automatically before the changes go live.

[2022-04-07 13:21] shashishailaj commented on #91161
@Michal-Ziemba Thank you for your feedback . We will investigate and update the thread.

[2022-04-07 13:26] MarcoLodini opened #91175 "App Service Key Vault Certificate supports RBAC model"
Hi everyone,
According to the documentation, "Currently, Key Vault Certificate only supports Key Vault access policy but not RBAC model."
However, after testing it, we can affirm that it is supported and works by giving the "Key Vault Secrets User" Role Assignment to the applicationId 4ccdc396-7457-48d6-a089-5a16faf54057

From our tests, it works both by giving it scoped to the precise secret, and

[2022-04-07 13:29] SnehaAgrawal-MSFT commented on #90689
@rocketmonkeys We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-04-07 13:33] shashishailaj commented on #91161
@Michal-Ziemba Could you prove a use case for the negative And (!&) operator and & operator . It would help us understand your scenario and accordingly take it to the engineering for inclusion and explanation of these operators in the article .

[2022-04-07 13:36] mc3784 commented on #90879
Hi @tfitzmac, sorry for the late answer. The deployment are at subscription level.

[2022-04-07 13:37] pebroz opened #91176 "Elaborate on the IO Write Bytes Per Second measurement"
It would be great if the docs explained what components is measured for the

- IO Write Bytes Per Second
- IO Read Bytes Per Second

"The rate at which the app process is writing bytes to I/O operations." is not very helpful. Disk, memory, network? Is it a runtime metric from the underlaying container environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-04-07 13:41] GitaraniSharma-MSFT commented on #91059
@Mayday-IT , could you please let us know where the screenshots differs? I checked them and they look fine.
After creating an Outbound security rule, you need to add inbound security rule in the same manner and then within the NSG, go to Subnets blade/option and click "Associate" to associate the NSG to a particular subnet.

![image](https://user-images.githubusercontent.com/67630903/162212296-b22

[2022-04-07 13:45] shashishailaj commented on #91083
@csmarin Thank you for your catching this . We have initiated a change request on this and it will be updated once the content team approves the request.

Thank you.

[2022-04-07 13:45] #91083 closed

[2022-04-07 13:54] tomonion commented on #89995
Hi, is there any update on this? Thanks.

[2022-04-07 13:55] #86290 closed

[2022-04-07 13:55] #90734 closed

[2022-04-07 13:56] shashishailaj commented on #91166
@anand-kakad Thank you for finding this. we will investigate with the content team and update the thread.

[2022-04-07 13:59] shashishailaj commented on #91173
@triggersbroom
Thank you for your feedback . We will investigate and update the thread.

[2022-04-07 14:01] shashishailaj commented on #91172
@johnhaire89 Thank you for your feedback . We will investigate and update the thread.

[2022-04-07 14:04] shashishailaj commented on #91171
@H-Nawabi Thank you for your inputs  We will investigate and update the thread.

[2022-04-07 14:14] kvietmeier opened #91177 "Typo in the CPU SKU"
They CPU SKU is wrong -
_The Ebdsv5 and Ebsv5 series run on the Intel® Xeon® Platinum 8272CL (Ice Lake)_

The 8272CL is Cascade Lake. I think you mean 8370C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3950928-1977-9c38-3289-79fd011058f3
* Version Independent ID: b349d902-2b31-b303-6313-020da737a901
* Content: [Ebd

[2022-04-07 14:15] shashishailaj commented on #90600
@blockingHD The [step 1 of the article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-user-flow#step-1-add-a-custom-domain-name-to-your-azure-ad-b2c-tenant) does provide the info about adding a custom domain and using the TXT method for this. Could you please point in the article as to what section said that it is not supported so that we can help you better

[2022-04-07 14:18] alecjames opened #91178 "Cannot create private endpoint with VS prof subscription."
I cannot create the private endpoint using a VS professional subscription.  Not sure if this is intentional?  If so, a note stating that would help - or maybe I made a mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a47763b-5a9d-bfcb-b97e-63bfa6570782
* Version Independent ID: f2a07f58-6038-0289-b2f0-d44f58698

[2022-04-07 14:22] rothja commented on #90860
@ricowang-msft, thanks for the feedback. @markjbrown, could you let me know if there is a PM or engineer who could review this docs request? I can help make the change if needed. Thanks! #assign:markjbrown

[2022-04-07 14:29] kengaderdus commented on #83214
@72gm

- You would need to use custom policies to achieve this.
- Your 'unique id num' and 'case ref ' are custom/extension attributes
- Use your email to check if the unique id num and case ref are set:
     - If they are set, and password had already been set, ask for the user password to sign in
     -  If they are set, and password hasn't been set, ask for them together with user password for

[2022-04-07 14:29] veronicapetersen opened #91179 "Expression value is invalid. Specified value has invalid CRLF characters."
When using the validate-jwt policy APIM would throw a 500 when using the example error policy due to the error message containing CRLF characters.

APIM Error:
[{"message":"Expression value is invalid.","expression":"context.LastError.Message","value":"IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey, KeyId: abc', InternalId: 'abc'. , KeyId: abc\r\

[2022-04-07 14:33] akhudairymicrosoft opened #91180 "Add comment regarding limitation on updating existing private end point using bicep templates"
Can we please add a comment about the limitation of updating existing private end point using bicep templates.

This was discussed in this IcM and the customer is insisting on updating the documentation.
https://portal.microsofticm.com/imp/v3/incidents/details/292852252/home

As mentioned in RCA by Jacob Hill (thhill)

**We will update Azure Cognitive Search documentation to reflect the limitation

[2022-04-07 14:34] SreejaBhattacharya-MSFT commented on #91177
Hi @kvietmeier, thanks for the feedback. We will check and update the document as appropriate.

[2022-04-07 14:37] agribot2 commented on #91074
The suggested solution posted at  [https://stackoverflow.com/questions/61097420/question-model-dowloading-with-custom-vision-python-api](url) provides a hint above this detect.
On trying that suggestion out, I see that it works, but ONLY WORKS ONCE !
That suggests the defect prevents a model from being downloaded if it has ever been exported any time in the past !

Please help resolve this defect,

[2022-04-07 14:41] craigbrown commented on #90600
This confused me too. When you add the custom domain name to Azure AD, it tells you to use `@` for the 'Alias or host name'. In practice, you will actually have to use the subdomain instead, e.g. `login.example.com`.

(Also, in step 1.1 when it says "Add your custom domain name" it means the subdomain you want to use - e.g. `login.example.com` rather than just `example.com`. That's implied but I t

[2022-04-07 15:03] YutongTie-MSFT commented on #91150
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-07 15:05] HeidiSteen commented on #91146
Hi @pnarsi and @SnehaAgrawal-MSFT, I think this is a product bug because the docs are generated from swagger/code, which isn't something I own.  I agree that the current description is confusing.  The best docs I've found on this setting are here in the Management REST API:

https://docs.microsoft.com/en-us/rest/api/searchmanagement/2021-04-01-preview/services/create-or-update#encryptionwithcmk

I

[2022-04-07 15:07] HeidiSteen commented on #91146
I'll update the conceptual docs that I do own to clarify this setting: https://docs.microsoft.com/en-us/azure/search/search-security-manage-encryption-keys

[2022-04-07 15:11] RBVieira opened #91181 "For what is vnet integration in this lab?"
Hey, guys. Just a clarification.

You guys just made a non-http trigger from service bus to the function app via private endpoint. Since in the lab you did not call from function app any resource in the vnet I think in this case you would not needed the vnet integration that was done during the lab, rigth? Am I wrong?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section.

[2022-04-07 15:17] tamram commented on #91135
@pauldotyu - Thanks for reporting this issue and for making the fix! Linking your PR to this issue:

https://github.com/MicrosoftDocs/azure-docs/pull/91137

After the PR is merged, we can close this issue.

[2022-04-07 15:29] fluffy-cakes opened #91182 "Service Tag availability on Firewall is confusing or incorrect"
My client would like to add `AzureDevops` and `AzureUpdateDelivery` on a Standard Azure Firewall, outbound. This documentation says it's available for AzureDevops but not AzureUpdateDelivery. Neither of these actually show as a drop down menu in the portal for `Network Rule Collection` within Classic view.

In addition to that, there is nothing mentioned about Service Tags in the Firewall schema:

[2022-04-07 15:30] sijucm opened #91183 "How to use @BindingName?"
There is a code fragment and a note below that does not make things clear. What exactly does the @BindingName do in this context and what is that confusing Note about? Could you give some example of the message in the Queue if that is what it is referring? There should be proper documentation on these things not just random stuff copied into.

@FunctionName("QueueTriggerMetadata")
    public void

[2022-04-07 15:33] MonikaReddy-MSFT commented on #90930
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-04-07 15:36] billy-hopkins-contino commented on #91182
Upvote a resolution on this issue.

[2022-04-07 15:37] dethtungue opened #91184 "Some additional details and visual cues would be helpful in this document."
Good article in general. It helped me solve a problem. I found steps 8, 16, and 17 to be unclear and would benefit from some more detail. Especially step 8 which would benefit from some additional guidance to walk the reader through how to find the Visual Expression Builder Aggregate Columns. A more clear explanation of the purpose of the expressions in 16 and 17 would also be beneficial.

---
###

[2022-04-07 15:38] willcotton-msft opened #91185 "Custom parameterization template has error for datasets"
In the custom parameterization template, there is an error that will cause the template not to generate the expected results. Under datasets, we have:

    "Microsoft.Synapse/workspaces/datasets": {
        "properties": {
            "typeProperties": {
                "*": "="
            }
        }
    }

This will not work because the type of dataset is not specified. We need:

    "Microsoft

[2022-04-07 15:49] GianlucaVagnoni opened #91187 "RESTful technical profile - How to use ResolveJsonPathsInJsonTokens"
Hi all,
from the documentation it is not clear how to use attribute "**ResolveJsonPathsInJsonTokens**" in more complex scenarios.

### Enhance a claim with the full JSON body response

I would like to be able to value a claim with all the JSON body output of an API response.

For example, I have this claim:

[code]
And I want to set its value with the full JSON output of the following TechnicalPro

[2022-04-07 15:55] JimacoMS4 commented on #78066
Hi @simonfrindberg,

We haven't heard back from you, so I'm going to close this issue. Again, I'm sorry about the late response. Device streams should work through a proxy. The product team thinks this is an issue with usage or, possibly, the functionality of the C# SDK. It doesn't appear to be a documentation issue. If you want to pursue it further, I'd suggest [filing an issue against the C# SDK

[2022-04-07 15:58] tfitzmac commented on #90602
@gadros - thanks for this feedback. I have updated that content with your suggestions. It should get published later today.
#please-close

[2022-04-07 15:59] #90602 closed

[2022-04-07 16:02] SreejaBhattacharya-MSFT commented on #91177
Yes, you are correct, it will be 8370C (Ice Lake) processor. I will update the document.

[2022-04-07 16:10] emarana commented on #91159
Hi @VikasPullagura-MSFT sorry, but I wonder how is this possible. I can't run on ISE or Powershell 5.1. Is necessary specific version?

Please look at the images:
![image](https://user-images.githubusercontent.com/16290744/162248354-e83b0d61-6493-4ecb-8266-ce0d4c53f822.png)
![image](https://user-images.githubusercontent.com/16290744/162248623-a3614d6a-ae69-4f57-81d6-24a16bc606ba.png)

Thanks!

[2022-04-07 16:12] shwetamathur7 commented on #91024
@nicklasjepsen Thanks for reaching out. This error is due to the dependency injection is trying to instantiate an instance of ITokenAcquisition and can not able to find the instance. You need to make sure to calls  **EnableTokenAcquisitionToCallDownstreamApi** and **AddInMemoryTokenCaches** while configuring Authentication in startUp.cs file.

This particular document is explaining to call a Web A

[2022-04-07 16:16] JamesTran-MSFT commented on #91187
@GianlucaVagnoni
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-07 16:17] #91177 closed

[2022-04-07 16:19] halcyon2021 commented on #91104
Thank you – I’ll start working on this and will reach out if I have any question.

Van

From: v-rant ***@***.***>
Date: Wednesday, April 6, 2022 at 3:20 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Van Nguyen ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Submit new Azure AD tutorial on SSO integration instruction for Lyve Cloud (Issue #91104)

This message has orig

[2022-04-07 16:20] KSchlobohm commented on #90699
I think Roles and Scopes offer two distinct features.

Roles - Describe the permissions that the app will allow you to perform. As an admin, you can perform tasks that customers cannot.
Scopes - Describe the permissions that you allow the app to perform. As a customer, I allow GitHub to see my email address but not my birthdate.

Please let me know if I'm not using those concepts correctly.

[2022-04-07 16:25] duongau commented on #81472
Hi @tv505, this POP location has been added to the list. Please feel free to reach back out if you have any further questions. Thank you. #please-close

[2022-04-07 16:25] #81472 closed

[2022-04-07 16:26] kobulloc-MSFT commented on #91102
@rvandenbedem The diagram has been updated and is now live.  Thank you again for helping to improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.