[2021-04-05 07:26] #72852 closed

[2021-04-05 07:38] #73030 closed

[2021-04-05 07:39] yoelhor commented on #73226
Thanks for the feedback. The article will be updated later today with the relevant information, and this GitHub issue will be closed.  If you have any questions or need further information, please open new GitHub issue.

Yoel

[2021-04-05 07:44] yoelhor commented on #73175
This is a conceptual type of article (that by the way, we are moving it to the conceptual section of the TOC soon). In the [how to article](https://docs.microsoft.com/azure/active-directory-b2c/custom-policy-get-started) we have added the following note:

![image](https://user-images.githubusercontent.com/20111866/113550432-b7540980-95fb-11eb-8385-21a90f3a9ff6.png)

[2021-04-05 07:49] #73226 closed

[2021-04-05 08:11] SwathiDhanwada-MSFT commented on #73254
@munir94 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-05 08:18] hiaga commented on #73146
@KrishnaG-MSFT : Thanks for your response. I wanted to bring something more to your notice -  as an example https://github.com/MicrosoftDocs/azure-docs/issues/68028 here the registering was only supported via email for certain features. kindly check if that is the case with FranceSouth

[2021-04-05 08:49] slavizh commented on #44112
This might be irrelevant now as as far as I know metric alert rules now can be attached to action groups in another subscription.

[2021-04-05 09:23] amanmcse commented on #73167
@jasonfritts This service principal can be safely removed from Global Administrator role after you have assigned this role to a user. As this application is first party app, you won't get an option to delete it using Azure Portal. If you somehow manage to remove this app, you won't be able sign in to office portal. So removing this app is not a good idea.

I'll work with content author if we can i

[2021-04-05 09:41] SwathiDhanwada-MSFT commented on #73057
@mumian Can you please provide your insights on this issue?

[2021-04-05 09:45] VikasPullagura-MSFT commented on #73177
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-04-05 09:50] #72902 closed

[2021-04-05 10:07] SnehaAgrawal-MSFT commented on #72998
@IgnacioAlvarezArenas Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-04-05 10:23] yoelhor commented on #72996
Thanks for the feedback. I'm updating the article with the relevant information. The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

With regard to the "Select the User administrator role", you don't have to select first the ellipsis on the right side of the item. Just cli

[2021-04-05 10:23] #72996 closed

[2021-04-05 10:28] yoelhor commented on #72887
Yep, indeed this feature currently available for custom policy only.

#please-close

[2021-04-05 10:28] #72887 closed

[2021-04-05 10:32] droidamar007 commented on #35370
Thanks, @iliassk

I've already tried this. When I'm calling this API call using MS graph API, I'm not getting any error and it working fine now but the problem is, even after revoking singin session I'm able to get a new access token using the refresh token.

That's is bit strange and not able to find any blog or post on this.

Thanks for your quick reply!

[2021-04-05 10:33] CHEEKATLAPRADEEP-MSFT commented on #73031
@danabrash  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-05 10:33] #73031 closed

[2021-04-05 10:59] ram-msft commented on #73174
@dotnetexpo Thanks, It's on road map to support for Punjabi in STT( Speech to Text), TTS( Text to Speech) in near future. We have forwarded to the product team. You can also raise user voice request [here ](https://feedback.azure.com/forums/932041-azure-cognitive-services) for the same.

Please follow azure [updates](https://azure.microsoft.com/en-in/updates/) for the announcements.

[2021-04-05 11:00] ram-msft commented on #73174
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-05 11:00] #73174 closed

[2021-04-05 11:01] ram-msft commented on #73212
@aminsaied Can you please help with the document update.

[2021-04-05 11:05] JayaChatterjee-MSFT commented on #73070
@xuwenjian1995  In the document it is mentioned "you need to create the delegation endpoint. It has to perform a number of actions:". You can follow the steps.
Also, you can take help from [Delegating User Authentication and Product Subscription to a 3rd Party - YouTube](https://www.youtube.com/watch?v=z2pU_aHphbw&list=PL8nfc9haGeb4khJEFcDU9Lluit5nYlB3a&index=10)
You may check the sample code for

[2021-04-05 12:00] danimir commented on #73115
Suggested edits

[2021-04-05 12:09] SumanthMarigowda commented on #73040
@AliManouchehri  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-05 12:51] LeoInCode commented on #42379
I have the same problem a two weeks ago, and today, I understand why. One reason, possibly, it's because the connection the database. I'm using postgreSQL and redis, and if redis don't running, the application show this error. Maybe it's happening to you too.

[2021-04-05 12:52] LeoInCode commented on #66877
I have the same problem a two weeks ago, and today, I understand why. One reason, possibly, it's because the connection the database. I'm using postgreSQL and redis, and if redis don't running, the application show this error. Maybe it's happening to you too.

[2021-04-05 13:24] DCtheGeek commented on #73135
@lucianrica I really appreciate the feedback and discussion.  I've made some minor tweaks to the intro paragraph. Your point about a call to action is understood. While just linking the words to the article resolves that, it also can make it harder to spot that it's a link or there is additional information (especially when localized).  The "This article explains" is part of our standard "intent"

[2021-04-05 13:24] #73135 closed

[2021-04-05 13:26] AshokPeddakotla-MSFT commented on #73087
@cbroad @philmea Could you please review this issue and update the doc with correct link? I am unable to find the correct link.

[2021-04-05 13:38] AshokPeddakotla-MSFT commented on #73090
@xtianus79 Could you confirm which part of the doc is not working for you? It would be great if you can share the screenshot of the issue for better understanding and will provide an update accordingly.

[2021-04-05 13:51] GrantErickson commented on #73195
This is really confusing. Here are a bunch of Azure pages that direct back to actual Stack Overflow tags. Why the hard-to-find location in MS Q&A. There was no way to easily find this through typical search channels or know that this is where we should search. I would question if this is the right place for community dialog. Although, I don't really care where it is as long as Microsoft consistent

[2021-04-05 13:54] DishaAgarwal commented on #71365
Is this closed? @mrbullwinkle

[2021-04-05 14:09] srini1978 opened #73257 "Add verbiage about the ability to sort the user attributes on the sign up page"
In the "Configure user attributes input type section", add the following text

Use the Move buttons to move your attributes up and down. This is the order in which attributes will be shown in the sign up page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ace5e69-e1db-52c5-9c57-026fc6145a84
* Version Independent ID:

[2021-04-05 14:11] SwathiDhanwada-MSFT commented on #73254
@munir94  As mentioned in the document, Operational backup is a continuous back up solution. So every time there is a new file, it will be automatically backed up.

![image](https://user-images.githubusercontent.com/48976275/113582926-9d8be400-9646-11eb-92dd-5ffbd19e48ba.png)

[2021-04-05 14:14] munir94 commented on #73254
appreciate it, thanks

[2021-04-05 14:20] SwathiDhanwada-MSFT commented on #73254
@munir94 As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-05 14:20] #73254 closed

[2021-04-05 14:32] rajdeosi commented on #47830
@CHEEKATLAPRADEEP-MSFT-zz I am also getting the same issue. The same piece of code was working a couple of days back with the same maven version, connection string and hub. Below is my code. It's the same which is mentioned in the documentation.

[code]

Maven version,

[code]

[2021-04-05 14:35] RobVyK opened #73258 "Incorrect OS version (1904) referenced under "Your issue isn't listed here or wasn't resolved""
Hi,

There's a small typo on the page, under the "Your issue isn't listed here or wasn't resolved" section.
It says "Your stack listener isn't working and you're running on Windows 10 1809, 1903, **or 1904**", but there's no Windows 10 1904.
I guess it should be 1909 instead?

Regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-04-05 14:52] #73047 closed

[2021-04-05 14:56] NavtejSaini-MSFT commented on #73115
@danimir Not able to find the suggested changes. Please point us to the right link.

[2021-04-05 14:58] AshokPeddakotla-MSFT commented on #73205
@jakereifer  Thanks for the feedback! I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2021-04-05 15:00] danimir commented on #73115
In the PR link itself (MicrosoftDocs/azure-docs-pr#153146) there is a suggestion under REVIEW.

[2021-04-05 15:06] dotnetexpo commented on #73174
@ram-msft Thanks for helping out. Do you how long it take to implement road map to support for Punjabi language in STT and TTS?

Let me know if you need any help regarding Punjabi/Coding , I will be more happy to assist with gathering  requirements ,structure, grammar, vocabulary of Punjabi language in order to implement the feature.

[2021-04-05 15:07] AshokPeddakotla-MSFT commented on #73150
@nandsfordays Did you modify the template?
Please ensure that default values for **allowSsh** are not changed

![image](https://user-images.githubusercontent.com/44426435/113589165-ae405800-964e-11eb-8939-5ac581c53cf4.png)

where are you running this command? are you using bash or PowerShell?

[2021-04-05 15:18] #73137 closed

[2021-04-05 15:20] JustinGrote opened #73259 "Limitations on design needs to be added to FAQ"
## Can I use Azure Route Server to direct traffic between subnets in the same vnet to flow inter-subnet traffic through the NVA?
No. System routes for traffic related to virtual network, virtual network peerings, or virtual network service endpoints, are preferred routes, even if BGP routes are more specific. As Route server uses BGP to advertise routes, currently this is not supported by design.

[2021-04-05 15:21] #72750 closed

[2021-04-05 15:25] VikasPullagura-MSFT commented on #73258
@RobVyK Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-04-05 15:30] JamesTran-MSFT commented on #73257
@srini1978
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-05 15:43] Ponant commented on #73137
Hello @ShannonLeavitt ,
Is it possible to know why this is closed?
Thank you

[2021-04-05 15:48] ShannonLeavitt commented on #73137
@ponant

This can happen when two PRs share a commit—that is, the [same commit](https://github.com/yoelhor/azure-docs-pr/commit/eacd27997f0c11bd7ae170b02922504fc952f34b) was duplicated in both PRs.

This scenario can happen when you create a working branch from another working branch, or when you leave a PR open for some time and inadvertently carry one commit into one or more other PRs.

To preve

[2021-04-05 15:48] cecilphillip opened #73260 "Update helm command for Ingress install"
In the code block below which was copied from the doc...

[code]

The usage of `beta.kubernetes` has been deprecated since 1.14 and should be replaced with `kubernetes.io/os`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a9749

[2021-04-05 16:00] mimckitt commented on #73041
#please-close

[2021-04-05 16:00] #73041 closed

[2021-04-05 16:01] #73258 closed

[2021-04-05 16:11] khyewei commented on #72939
Thanks, @Karishma-Tiwari-MSFT.
@robsmi-msfte, we added a note regarding the static link to Azure Portal - https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch-portal
Thanks for the feedback. Pls let us know if there are any further issues.

[2021-04-05 16:11] bagukall opened #73261 "Max RU limit at physical partition"
https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#provisioned-throughput, I see in this page it is mentioned as Maximum RUs per (**logical**) partition | 10,000. I think it has to be corrected to PHYSICAL,  as the document
https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#physical-partitions - says physical partition can provide a throughput of up to 10,000 requ

[2021-04-05 16:17] roygara commented on #71050
@1RedOne Thanks for bringing this to our attention, we've updated the instructions to the current portal experience.

Accordingly, I'll close this out.

Thanks for helping us improve the docs, we appreciate it! :)

#please-close

[2021-04-05 16:17] #71050 closed

[2021-04-05 16:23] dave22000 opened #73263 "ConditionalAccessProtocolProvier"
Could we get documentation for the ConditionalAccessProtocolProvider here?
There is some information [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/conditional-access-user-flow?pivots=b2c-custom-policy) in the Microsoft Docs but not the full Technical Profile Details.

Specifically, I am interested in the valid values for conditionalAccessClaimCollection during the Remediation

[2021-04-05 16:23] SnehaAgrawal-MSFT commented on #73054
@wahyuen Thanks again for the feedback! The product team is working on this and this will be rolled out in upcoming release.
We will now close this out but if you feel you need more information please just let us know.

[2021-04-05 16:23] #73054 closed

[2021-04-05 16:26] harelbr commented on #72929
Hi @slavizh,
Thanks for the feedback. While an Application Insights availability test alert rule is a metric alert, it has a different configuration and consumption experiences, as well as a slightly different payload.

We'll update the documentation with a specific payload example for an availability test alert.

[2021-04-05 16:33] Ponant commented on #73137
I did not submit any PR. I only created this issue from the published content, here https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-ga, to give feedback. No PR. And I do not see any, hence my question to why this is closed. Is this going to be addressed or has it been addressed?

[2021-04-05 16:34] rboucher commented on #57002
@andrewatfornax , Given the age of this issue  - Can you open a new github issue on this article and refer to this one? That will put it back through the start of our process so we can get this dealt with.  If I do it, I become the owner and not you.  Sorry for the extra work. I'll shepard it through.

[2021-04-05 16:37] rboucher commented on #68852
#reassign:bwren

[2021-04-05 16:40] rboucher commented on #67216
#reassign:bwren

[2021-04-05 16:42] rboucher commented on #61712
#label:"CreateAzMonWIFeb2021"

[2021-04-05 16:42] rboucher commented on #61712
#assign:rboucher

[2021-04-05 16:43] kotpal commented on #73218
And I don't see any network traffic after the initial CONNECTs and GETs - especially when I submit the request. Would it be possible that the gremlin client is running into an issue and not connecting to the gremlin server (running on Cosmos DB)?

I have already tried deleting the db and recreating everything twice. I can try more times, but I am just changing the above values that I get from the

[2021-04-05 16:47] JamesTran-MSFT commented on #73263
@dave22000
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-05 16:49] JnHs commented on #72834
I'm going to close this issue now as I believe it has been addressed, but please let us know if you have additional feedback.
#please-close

[2021-04-05 16:49] #72834 closed

[2021-04-05 16:50] Oury-MSFT commented on #73261
@bagukall  Thank you for your feedback. We will look into it and get back to you.

[2021-04-05 16:54] spelluru commented on #57611
@epomatti - I sincerely apologize for missing your follow up question. I am checking the auto-scaling options in the portal, and I don't see "Messages processed" and "Active messages processed". I see the following:

- Count of active messages in a queue/topic
- Count of messages in a queue/topic
- Count of dead-lettered messages in a queue/topic
- Could of scheduled messages in a queue/topic

Ple

[2021-04-05 17:03] khharper commented on #73042
Thanks @amanmcse !

[2021-04-05 17:13] KranthiPakala-MSFT commented on #73013
@dalemdb , Doc has been fixed and changes are live.

We will now proceed to close this thread. Thanks again for the feedback!

[2021-04-05 17:13] #73013 closed

[2021-04-05 17:16] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for the quick follow up on this!

I spoke to my team and AADC can still create an automated account when using custom settings. For [more info](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#connect-your-directories).

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-05 17:17] #73000 closed

[2021-04-05 17:17] kotpal commented on #73218
I have recreated another Cosmos DB account using simple names for the database and graph database. I say simple because I used "-db" and "-graph" in my previous attempts and they failed.

Now I am able to connect. This is the most weird issue I have faced with Cosmos DB. Names shouldn't matter - especially if it is allowed by the UI and service. But apparently they do when connecting to the servic

[2021-04-05 17:17] #73218 closed

[2021-04-05 17:20] #73252 closed

[2021-04-05 17:20] HarshalAwasthi-8978 commented on #73252
Moving this question to Q&A

[2021-04-05 17:22] ShannonLeavitt commented on #73137
@Ponant I don't know the answer to your question. @yoelhor do you have any insight here?

[2021-04-05 17:24] joelverhagen opened #73264 "Secret reload behavior is unclear, in particular for Key Vault managed storage account with SAS policies"
I have attempted to follow this document with the following setup:

1. Azure Function app with consumption plan, with system managed identity
2. Key Vault, with an access policy allowing the Azure Function for secret `get`
3. Storage account managed by the Key Vault.
4. SAS definition with 2 day expiry.
5. Key Vault reference like `@Microsoft.KeyVault(VaultName=myvault;SecretName=mystorageaccount-

[2021-04-05 17:26] Ponant commented on #73137
Usually when an issue is not answered, it is left open. Either some admin closes it because of a statement that it will not be answered (for whatever sound reason), or it is left open until somoene answers it to enhance the docs. I am fine with any options, in the end. My suggestion works (so far), and I believe others will be interested in having a simpler config.

[2021-04-05 17:30] SnehaGunda commented on #72765
@ankku like Tim mentioned above please open a support ticket, this channel is only is dedicated to addressing doc issues.

We will now close this issue.

#please-close

[2021-04-05 17:30] #72765 closed

[2021-04-05 17:31] Karishma-Tiwari-MSFT commented on #73248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-05 17:34] yoelhor commented on #73137
I have update the document. This is way the issue is closed.

[2021-04-05 17:40] yoelhor commented on #73159
I have asked the engineer to provide details about the missing versions. Will keep you posted ASAP.

[2021-04-05 17:47] JamesTran-MSFT commented on #73257
@srini1978
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author(@msmimart) to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/113605496-97244a80-95fb-11eb-9138-b260f6cdda16.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you

[2021-04-05 17:47] #73257 closed

[2021-04-05 17:56] theikell opened #73265 "The suggested file naming convention for different environments does not work"
I'm trying to create a process to be able to deploy the same ARM template to different environments. My template file name is:

ServiceFabricCluster.json

A parameters file name of ServiceFabricCluster.parameters.json within the same folder works as expected but a parameter file name of ServiceFabricCluster.parameters-dev.json is not recognized and I'm prompted to provide values for each of my par

[2021-04-05 17:56] aravindyeduvaka opened #73266 "aks-custom-headers flag for enabling AKS specialized GPU image"
Right now, the docs specify that you can enable the AKS specialized GPU image by using the custom header "UseGPUDedicatedVHD".

Is there any way to do this using the ARM template? If not, when is this expected to be enabled by default so that is not required anymore? (a version and an ETA would be helpful)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-05 17:59] Karishma-Tiwari-MSFT commented on #73260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-05 18:03] KumudD commented on #62510
@dpapkin Thanks for bringing this to our attention. This article has been updated.

#sign-off

[2021-04-05 18:10] yoelhor commented on #72836
Thank you so much for taking time and providing us feedback. I'm updating the article with more samples and note about exiting AI instances. The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

[2021-04-05 18:14] davidsmatlak commented on #73198
#assign:davidsmatlak

[2021-04-05 18:18] nnylear67 commented on #48662
I will have to try this out, I have been trying to find this information for a while, so it will be easier to manage our SAML SSO applications. Azure should of thought of something like this to prevent downtime.  I will let you know my results and any modifications needed.

[2021-04-05 18:20] davidsmatlak commented on #73198
I'll review the issue and update the documentation.

[2021-04-05 18:21] jlichwa commented on #70125
@ruthbacci we used same resource group for all resources in this example. I updated document to explicitly specify "NODE_RESOURCE_GROUP" in the example.

#please-close

[2021-04-05 18:21] #70125 closed

[2021-04-05 18:27] msangapu-msft commented on #43570
Hi team, the OP is from Microsoft. I've added this to our backlog and will work with Jeremy to update this.

[2021-04-05 18:27] #72836 closed

[2021-04-05 18:35] RyanHill-MSFT commented on #73235
Hi @PKPublicCode, private endpoint doesn't change or alter the behavior of TLS. With a private endpoint, you're dictating how accessible the web app is, which in this case is the VNet. Your app service can still use TLS but there is no gateway or proxy. Services inside the VNet will use the private IP created by turning on private endpoint.

If you have further questions regarding this matter, ple

[2021-04-05 18:35] #73235 closed

[2021-04-05 18:56] yoelhor commented on #73009
The element that contains the message is hidden by default. You can use CSS to show it, such as:

[code]

The following screenshot shows the element in the HTML:

![image](https://user-images.githubusercontent.com/20111866/113613352-c9fd2b80-9659-11eb-984a-3103f26a6d42.png)

[2021-04-05 18:58] SaiKishor-MSFT commented on #72926
@kahawai-sre Apologize for the delay in response. This option is needed if traffic is going from a spoke to the hub gateway since you can have more than one peerings from a VNet, so we need a flag to know which one we will use as a gateway. Hope this helps. Let me know if you have any more questions and I will be glad to answer. Thank you!

[2021-04-05 18:59] nitmatgeo opened #73268 "Need clarity"
Can someone please explain me how to use Azure Function with PowerShell using EventGrid trigger? I would like to test run a function app to just print hello World. How this can be done?

PS: Couldn't find any references in the internet.
Ref: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=csharp%2Cbash

For more information, request your time to un

[2021-04-05 19:03] vermagit commented on #72921
Hi @Klaas- thanks for your feedback.

As you noticed HBv3 (and HBv2) do have NVMeDirect SSDs like Lsv2 (apart from the virtualized iSCSi resource disk). This is sort of denoted in the specs table. More details here :https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/hbv3-series-overview#temporary-storage

I see your feedback that there is no guidance on setting up these /nvmexx

[2021-04-05 19:04] jlichwa commented on #71459
@fkcuk I reviewed your concerns and it seems like tutorial showed several different ways to set it up with different identities. I will update document to provide steps for most common scenario. Please use product documentation which should clarify issues:
https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#provide-identity-to-access-key-vault

[2021-04-05 19:07] yves-chan commented on #73161
Currently, we cannot escape parameters in workbooks. What you could do as a workaround is to create a text parameter named `OriginalFormat` with the value `{OriginalFormat}` before the query so that it can reference the `OriginalFormat` parameter.

[2021-04-05 19:08] jlichwa commented on #72501
@algatik we are not supporting that or any other libraries which is ASP NET open source project. We recommend to use Key Vault SDK directly to guarantee latest best practices. #please-close

[2021-04-05 19:08] #72501 closed

[2021-04-05 19:10] IngridAtMicrosoft commented on #72460
reassigning to @johndeu

[2021-04-05 19:11] IngridAtMicrosoft commented on #73044
I am forwarding to engineering.

[2021-04-05 19:20] johndeu commented on #72460
Trying to see what he is talking about here... looks like he means the JobOutput Asset needs to be created first?

The method in the sample shows that as being passed into the code, and is not a complete working sample.  Perhaps we should change this article to point to the sample repository instead @IngridAtMicrosoft  so that the code used is coming from our main .NET samples for showing how to d

[2021-04-05 19:22] nibaccam commented on #72665
Hi @konabuta since we haven't heard from you in a while, we will now proceed to close this thread.

#please-close

[2021-04-05 19:22] #72665 closed

[2021-04-05 19:29] IngridAtMicrosoft commented on #73044
@jzhouw
The timescale means the number of units in 1 second. So to translate the timestamp in the manifest to humanly readable seconds, you take the timestamp and divide that by the timescale.
In the example timestamp of 6161940 in a timescale of 1000 means 6161.94 seconds.

[2021-04-05 19:30] IngridAtMicrosoft commented on #73044
#please-close

[2021-04-05 19:35] xairrick opened #73270 "Table is created with required ID column, but sample data does have an ID column"
In this paragraph, you create a table with a required ID column -> https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-tool#create-a-sink-sql-table

But when it comes time to map the data, the sample data doesn't have an ID Column,  so you end up with an error
![image](https://user-images.githubusercontent.com/80464/113617463-57258d80-9624-11eb-8f84-927dd208ee8c.png)

---
#### D

[2021-04-05 19:37] craigshoemaker commented on #71934
I updated the doc today with the latest screenshots. The live site will reflect the changes in a few hours.

Thanks for the heads-up, @NocFlame!

#please-close

[2021-04-05 19:37] #71934 closed

[2021-04-05 19:52] MarileeTurscak-MSFT commented on #73148
The only limit is the amount of quires you can perform against a table at one time. There is not a limit of connectors to the CommonSecurityLog table. The question that the specs address is the Event per second (EPS).

[2021-04-05 19:52] #73148 closed

[2021-04-05 19:55] SaurabhSharma-MSFT commented on #73194
@deepikabandhanadham No it is not supported for Azure integration runtime and you need to install SHIR for this to work.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-05 19:55] #73194 closed

[2021-04-05 20:07] shortpatti commented on #72802
#please-close

Based on a conversation with the GBB team, our document reads correctly.

[2021-04-05 20:07] #72802 closed

[2021-04-05 20:08] craigshoemaker commented on #69143
Thanks for the heads-up, @boomalator!

I have updated the instructions to be more clear. The live site should reflect the change in a few hours.

#please-close

[2021-04-05 20:08] #69143 closed

[2021-04-05 20:12] #73159 closed

[2021-04-05 20:14] mrbullwinkle commented on #72791
@billpieper , thanks for the screenshot, that helped clear things up for us. We tested against PowerShell 5.1, in which case you shouldn't get the error you are getting right now. I was able to repro your issue when I tried testing against PowerShell 7.1.

Try the version of the script below:

(In this version I have temporarily commented out the code validating the third parameter as a file so it

[2021-04-05 20:17] yoelhor commented on #72750
Thanks for the feedback. The article is updated with the [relevant information](https://docs.microsoft.com/azure/active-directory-b2c/saml-service-provider-options?pivots=b2c-custom-policy#saml-assertions-signature). If you have any questions or need further information, please open new GitHub issue.

Yoel

[2021-04-05 20:18] craigshoemaker commented on #73238
Thanks for the heads-up, @WinzLogic!

I just fixed the typo.

#please-close

[2021-04-05 20:18] #73238 closed

[2021-04-05 20:19] SaiKishor-MSFT commented on #72157
@lonevvolf
The requirement of compulsorily routing the traffic through AppGW can be solved with the given Solution & Alternate Solution. Rest assured, setting ARR Affinity Cookie Domain will not have any effect on traffic's route.

To include any content for ARRAffinity Cookie setting, we will need to understand some actual use-case(s). This is because "if a response has more than one header with

[2021-04-05 20:20] NetRushJacob opened #73273 "Clarify Serverless Maximums"
The documentation states "The following table lists the limits for storage and throughput burstability per container/database." with a maximum RU/s per (logical) partition of 5000.

It's unclear if that's 5000 RU/s for a database (across 'n' containers) or individually per container.

Examples:
- Database 1: Container 1 | Container 2
- Database 2: Container 3
- Database 3: Container 4

With the ab

[2021-04-05 20:26] yoelhor commented on #72906
The feedback you have mention is about email verification, while this article is about OAuth2 authorization code flow. And yes, you can't configure the TTL of the authorization code. I'm updating [this document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-tokens), and close this issue.

[2021-04-05 20:38] tfitzmac commented on #73265
@theikell - thanks for this feedback. I double-checked using different parameter names, and they worked correctly. You would have to change the deployment command to point to the correct file name. Perhaps that is something that needs to clarified in the doc. What command did you use to deploy the template and parameter file?

[2021-04-05 20:38] BharathNimmala-MSFT commented on #72929
Thank you @harelbr for helping on this thread.

@slavizh Thanks again for taking time to share your feedback and helping us improve our Azure documentation. Based on your feedback, our team has created an internal work item to enhance the document accordingly. We will have a PR created and once its reviewed and approved , changes would go live.

At this point it appears that there's no further edi

[2021-04-05 20:38] #72929 closed

[2021-04-05 20:44] davidsmatlak commented on #73198
I submitted the fix for this issue and when it's merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-04-05 20:53] Karenzhang7717 opened #73274 "Location key not available when uploading a drawing package"
While following the tutorial to upload a drawing package for Azure Map, step 5 was not working - there was no Location key under "header" after posting the HTTP. Please note that the Location key was working after posting on March 30 that I tried, but for some reason it was not there when I tried today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-05 21:13] #72906 closed

[2021-04-05 21:22] yoelhor commented on #73067
Until we fix the document, please use the [.net core sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C).

[2021-04-05 21:23] lonevvolf commented on #72157
It seems that I didn't properly explain what I was trying to say, or else I don't understand the response.

Use Case: I would like to make use of ARRAffinity to always route users to the same App Service instance.  The App Service sits behind the AGW.
Problem: When ARR Affinity is enabled in the Web App, the Web App sets the ARRAffinity cookie in order for this to work.  The browser receives the c

[2021-04-05 21:27] KranthiPakala-MSFT commented on #73270
@xairrick
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-05 21:32] SaiKishor-MSFT commented on #73236
@nayak-mahesh Could you please see if this is possible? Thank you!

[2021-04-05 21:45] ganga1980 commented on #72973
Hi, @BharathNimmala-MSFT , @ferantoMSFT , Thanks for reporting this issue and issue should have been fixed now. version 2.8.2 should work now. please give a try.

[2021-04-05 22:14] BharathNimmala-MSFT commented on #73018
@kozhemyak I am also working with our internal team to get a better clarity on the issue and the location of the script. Will keep you updated as I hear more information on this.

[2021-04-05 22:16] ferantoMSFT commented on #72973
Thanks @BharathNimmala-MSFT  and @ganga1980 . I can see the 2.8.2 image now available publicly:

[https://mcr.microsoft.com/v2/azuremonitor/containerinsights/preview/azuremonitor-containers/tags/list
](https://mcr.microsoft.com/v2/azuremonitor/containerinsights/preview/azuremonitor-containers/tags/list):

[code]

And running the default bash script it is pulling the image correctly:
[code]

Closin

[2021-04-05 22:16] #72973 closed

[2021-04-05 22:41] TravisCragg-MSFT commented on #72987
@sandord We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-05 22:41] #72987 closed

[2021-04-05 22:43] KranthiPakala-MSFT commented on #73178
Hi @antothomas23 ,

Sorry for the delay. you can use `@formatDateTime(utcnow(), 'yyyy-MM-dd-hh-mm-ss')` function to form a path like `2021-04-05-10-39-48` or if you want to concatenate date + time then you can use `@concat()` function.

Hope this helps.

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc fee

[2021-04-05 22:43] #73178 closed

[2021-04-05 22:44] tfitzmac commented on #73145
@PriceChild - thanks for this feedback. I see that really it is the URL that needs to be unique. I'll try to clarify the difference in how the URL resolves.

[2021-04-05 22:56] D-Moonesinghe opened #73277 "Sample Commands along with the Syntax would Help."
az role assignment create --assignee <appId> --scope <resourceScope> --role Contributor

Command Syntax is good.  But -<resourceScop> itself is bit vague.  For instance if we are going to give permissions to ACR do we leave it at the registry name or do we have to point to the repo?

Example would clarify that.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-04-05 22:59] TravisCragg-MSFT commented on #73019
@HaikoHertes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-05 23:03] Styli365 commented on #73019
@HaikoHertes

Technically, the Bs series does have a cache.

Burstable sizes officially support ephemeral OS disks which are dependent on the dedicated cache.

Also, it's "Cached and temp storage"... burstable has the temp disk to which the throttles apply.

[2021-04-05 23:03] Styli365 commented on #73019
@TravisCragg-MSFT please close this.

[2021-04-05 23:08] Karishma-Tiwari-MSFT commented on #73019
@HaikoHertes We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-05 23:08] #73019 closed

[2021-04-05 23:30] lgayhardt commented on #73161
Closing this issue for now, let us know if you have any more questions.

#please-close

[2021-04-05 23:30] #73161 closed

[2021-04-06 00:00] joelverhagen commented on #73264
48 hours went by without the secret being refreshed. My service began to fail. I manually restarted the function app and this resolved the issue. From my perspective, the documents are unclear or wrong here:

[2021-04-06 00:16] D-Moonesinghe opened #73278 "What is the purpose of Dependency Agent is not described."
This article doesn't explain why you need a dependency agent and what is it's purpose.  What does it do that other agents don't do is not explained.  Nor can we find that info anywhere else.
Only a vague alluding to the fact:  "The Azure Monitor for VMs Map feature gets its data from the Microsoft Dependency agent."  Is that its only purpose?

[Enter feedback here]

---
#### Document Details

⚠ *D

[2021-04-06 00:17] D-Moonesinghe opened #73279 "dependency"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7d5e8da-9525-1003-7bb5-3e341887cac4
* Version Independent ID: 0908835c-bde4-f9ef-ca96-8f6f30d427b1
* Content: [Azure Monitor Dependency virtual machine extension for Windows - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-mac

[2021-04-06 00:59] gmantri opened #73280 "Unsure if the sample code would work if the Cosmos DB account has a "Read-only" management lock"
To get the access keys, the sample code makes a `listKeys` API request:

[code]

Assuming everything is set up properly, the above code would work well.

However I am not sure if this code would work if the Cosmos DB account has a "Read-only" management lock. Based on my understanding of management locks, a "POST" operation (like `listKeys`) is not allowed if a resource has a "Read-only" lock.

Is

[2021-04-06 01:28] spelluru commented on #47830
@rajdeosi - Please try the latest code from the article (updated today).
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send

If you still run into the issue, we need to troubleshoot the issue through support channels. Thanks.

[2021-04-06 01:42] yuriwoof opened #73281 "Supportability of VM/VMSS extension for AKS nodes"
I have feedback from some customers regarding the following sentense.

They recognized that it is supported to install LA extensions into virtual machine / VMSS instance.
It's not clarified, but I think this is not supported. Could you please clarify the stance?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5

[2021-04-06 01:44] nickQuant commented on #72750
Thanks so much guys - I really appreciate all the hard work on this.  Confirming this works as expected :)

[2021-04-06 01:45] TravisCragg-MSFT commented on #73266
@aravindyeduvaka Thanks for the feedback. We are actively investigating and will get back to you soon.

[2021-04-06 01:47] Karishma-Tiwari-MSFT commented on #73259
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-06 01:48] Karishma-Tiwari-MSFT commented on #73281
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-06 01:50] andrewatfornax commented on #57002
Hi @rboucher,

No thanks, this ticket describes the issue well.

[2021-04-06 01:51] Karishma-Tiwari-MSFT commented on #72971
Thanks for sharing the update.

[2021-04-06 01:55] Karishma-Tiwari-MSFT commented on #73264
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 01:58] Karishma-Tiwari-MSFT commented on #73268
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 02:02] Karishma-Tiwari-MSFT commented on #73279
This issue looks like a duplicate. I will close this one and our team will help you on the other open issue. Thanks.

[2021-04-06 02:02] #73279 closed

[2021-04-06 02:03] Karishma-Tiwari-MSFT commented on #73278
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 02:25] cro27 commented on #72571
I found the cause of the pre-script failure was due to omitting "command_path = $ORACLE_HOME/bin/" from workload.conf in your example. Adding it back in and using "configuration_path = /etc/oratab" generates app consistent snapshots now. Will setup another database on the test VM and re-test to ensure multiple databases work.
I agree that we should just provide instructions for multiple databases

[2021-04-06 02:30] DishaAgarwal commented on #71365
We won't be doing this for now. Can we archive this?

[2021-04-06 03:01] BharathNimmala-MSFT commented on #73145
Thank you @tfitzmac for helping on the thread.

@PriceChild - Thanks again for bringing this to our notice and helping us improve our Azure documentation. We will have an internal work item to enhance the document to avoid the confusion going forward . Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the docu

[2021-04-06 03:01] #73145 closed

[2021-04-06 03:02] femsulu commented on #21566
adding Brian.

[2021-04-06 03:03] mrbullwinkle commented on #71365
We can close this out for now, but I will create an internal work-item and add it to the backlog with this issue for reference as potential improvements to the existing scripts/examples.  @islamtg  thanks for bringing this to our attention.

[2021-04-06 03:03] mrbullwinkle commented on #71365
#please-close

[2021-04-06 03:03] #71365 closed

[2021-04-06 03:30] TheGoodNEvil opened #73283 "The Apache Maven Mirror Isn't Downloading"
[The Apache Maven mirrors aren't downloading onto my machine.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quickstart - Create and manage access tokens - An Azure Communication Services quickstart](https:/

[2021-04-06 03:49] BharathNimmala-MSFT commented on #73012
@Klaas- Thanks again for reaching out to us with your query, post validation with our internal team it was called out that support of RHEL 7.9 for SAP HANA is currently targeted this April EOM (End of month) 2021. As the target date approaches the respective documentation will be updated accordingly.

Hope this information helps. At this point it appears that there's no further edits or updates ne

[2021-04-06 03:49] #73012 closed

[2021-04-06 03:58] ChaitanyaNaykodi-MSFT commented on #71845
Hello @salqueng, apologies for the delay in my response. The feature has been enabled for Linux Consumption Plan and the document will updated soon.
Please tag me in your response if there are any additional concerns. Thank you!

[2021-04-06 03:58] #71845 closed

[2021-04-06 04:07] AshokPeddakotla-MSFT commented on #72883
Adding @kgremban for further updates on this issue.
@kgremban Please look into this issue and update the doc with correct version as it needs validation.

[2021-04-06 04:21] kahawai-sre commented on #72926
... but in this case we are already controlling the preferred path for traffic that needs to egress via the gateway with routes to an _Azure Firewall_ which itself is in the hub vNet that has the gateway (and should use it based on the effective routes in AzureFirewallSubnet).
i.e. in this context, why does the spoke vNet need to know which peered vNet has the gateway?

[2021-04-06 04:26] AnuragSharma-MSFT commented on #73273
@NetRushJacob Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-04-06 04:27] AnuragSharma-MSFT commented on #73280
@gmantri Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-06 04:32] katz commented on #71758
`prompt=select_account` is on the page now. Thank you!
<img width="1091" alt="Microsoft_identity_platform_and_OAuth_2_0_authorization_code_flow_-_Microsoft_identity_platform___Microsoft_Docs" src="https://user-images.githubusercontent.com/32659/113659195-7da6ff80-96dc-11eb-8ddd-50e7e321264d.png">

[2021-04-06 04:41] wukun2015 opened #73285 "How to specify the NBest length?"
Hello,

i'm using speech-to-test sdk to recognize audio to text.

Current json result seems returning 5 NBest candidates, but how can i specify how many Nbest candidates to receive ? Or full NBest list ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independen

[2021-04-06 04:49] YutongTie-MSFT commented on #73285
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 04:52] rboucher commented on #52469
#reassign:rboucher

[2021-04-06 04:52] rboucher commented on #52469
#label:"CreateAzMonWIFeb2021"

[2021-04-06 04:53] SatishBoddu-MSFT commented on #73193
Hello @rickmcguire Thanks for the feedback,

Could you please submit this issue directly under the [Azure/iotedge-vm-deploy](https://github.com/Azure/iotedge-vm-deploy) Page!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

Please also do visit [Microsoft

[2021-04-06 04:53] #73193 closed

[2021-04-06 04:54] rboucher commented on #38371
Pinging Nick again.

[2021-04-06 04:55] rboucher commented on #38371
#label:"CreateAzMonWIFeb2021"

[2021-04-06 05:02] rboucher commented on #14916
#reassign: @yanivlavi
Cleaning up older issues. Log Alerts are stateless, but there is an update in the works coming very soon that makes them stateful. It will appear in the documentation.

[2021-04-06 05:02] PRMerger6 commented on #14916
GitHub user manishsm-msft has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-04-06 05:02] rboucher commented on #14916
#assign:rboucher

[2021-04-06 05:02] rboucher commented on #14916
#please-close

[2021-04-06 05:02] #14916 closed

[2021-04-06 05:16] ondemandIT opened #73286 "vCPU Limits are not per resource group"
[vCPU Limits are not per resource group, they are per region or SKU and  are for a particular subscription
![image](https://user-images.githubusercontent.com/82015373/113662222-8821b480-965c-11eb-9b2d-b13e597732b9.png)

Thank you

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* V

[2021-04-06 05:21] MattFinlay opened #73287 "typo"
"In this article, you learn how to Visual Studio 2019"

should read:

"In this article, you learn how to use Visual Studio 2019"

like it does when the visual studio code button is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4885c7aa-95fd-b501-37c8-deaeaf5ec54b
* Version Independent ID: 92dcd574-ffef-25f6-

[2021-04-06 05:22] SnehaAgrawal-MSFT commented on #73283
@TheGoodNEvil Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 05:27] AshokPeddakotla-MSFT commented on #73274
@Karenzhang7717 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-06 05:34] pnarsi opened #73288 "Private IP Restrictions Support for Multitenant App with Private Endpoint."
In the **Access restrictions** section of this page it says that we can restrict access from private address blocks for App Services using ILB ASE or **private endpoint**.

![image](https://user-images.githubusercontent.com/7891408/113662503-91a62d80-96eb-11eb-8765-325fab3b6809.png)

However further down the info box in the **IP-based access restriction rules** sectionit says that ip restrictions

[2021-04-06 05:41] AnuragSharma-MSFT commented on #73219
@rarandiv Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-06 05:52] srini1978 commented on #73257
@JamesTran-MSFT  my comment was not about the order of the attribute values within the City attribute but rather the order in which the different attributes should show up on the sign up page. For example if a user flow has "City" "state" "zipcode" as attributes then the move up/down/top/bottom arrows will control the display order of these attributes in the sign up page. This is the feedback and

[2021-04-06 06:11] MayankBargali-MSFT commented on #73125
@johol545 Thanks for sharing the details. I have reached out to my team and will update you once I heard back from them.
I also want to confirm whether there is any extension/ad plus/pop-up blocker that is installed on your Safari browser that might cause the issue.

[2021-04-06 06:16] MayankBargali-MSFT commented on #73287
@MattFinlay Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-04-06 06:17] rboucher commented on #42375
Fixing in internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/153348. Should be out later this week.

[2021-04-06 06:17] rboucher commented on #42375
#please-close

[2021-04-06 06:17] #42375 closed

[2021-04-06 06:18] AnuragSharma-MSFT commented on #73273
@NetRushJacob Actually the max limit of 5,000 RUs is not at database or container level but for each and every logical partitions. Hierarchy goes like this. Database has containers and containers in turn will have logical partitions. Now one can container can have unlimited logical partitions with each partition can have a max size of 20 GB.

The limit of 5000 RUs is for each logical partitions. S

[2021-04-06 06:26] #73287 closed

[2021-04-06 06:30] rboucher commented on #68542
#reassign:bwren

[2021-04-06 06:30] rboucher commented on #63794
#reassign:bwren

[2021-04-06 06:32] joelverhagen commented on #73264
Adding some more details, looks like during this failure period the job host was constantly crashing (`An unhandled exception occurred. Host is shutting down.`), restarting, and getting the same secret. This is very strange because a manual restart of the function from Azure Portal refreshed the secret properly.

[2021-04-06 06:34] johol545 commented on #73125
Hi,

Thanks for looking into it! Not super critical since it works elsewhere
(and who uses Safari anyways? :-) ) but anyway...

Good suggestion with the extension, but my Safari extension is "clean"
without any extensions, unlike my other browsers.

/ Johan

On Tue, Apr 6, 2021 at 8:12 AM MayankBargali-MSFT ***@***.***>
wrote:

[2021-04-06 06:34] PMatthaei commented on #34451
I am also still struggling with failing health checks on port 8080 with my node.js app service.

`Container XXX didn't respond to HTTP pings on port: 8080, failing site start. See container logs for debugging.`

I can observe the startup docker command in the logs: `docker run -d -p <random>:8080`

My nest.js server boots with `process.env.PORT` and logs that it is listening on port 8080. I dont u

[2021-04-06 06:36] SwathiDhanwada-MSFT commented on #73286
@ondemandIT Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-06 06:38] rboucher commented on #42375
Actually, out by 5am Pacific time.

[2021-04-06 06:41] ghjkllasdf-fake opened #73289 "Always-on P2S not worked for VWAN."
Hi author,
I have gone through the whole process and also tried to create a lab in my scenario but somehow it not work.
I got the error mentioned as :**Error 13806: IKE failed to find a valid machine certificate.**

Finally I have the device tunnel created successfully by modify the configure mentioned in doc with below points:
1) In doc, it leverage the authentication method as below:
![Snipaste_

[2021-04-06 06:41] rboucher commented on #61785
#reassign:rboucher

[2021-04-06 06:44] rboucher commented on #39297
#reassign:ofirmanor

[2021-04-06 06:46] rboucher commented on #39297
@ofirmanor Have you heard about this problem with the PowerShell?

[2021-04-06 06:46] rboucher commented on #39297
#label:"TriagedFeb2021"

[2021-04-06 06:47] rboucher commented on #37903
#reassign:rboucher

[2021-04-06 06:48] rboucher commented on #36215
That article 404s at this point.  I think it's been removed.
#please-close

[2021-04-06 06:48] #36215 closed

[2021-04-06 06:49] rboucher commented on #34664
#reassign:nkiest

[2021-04-06 06:50] rboucher commented on #34664
@nkiest Can you comment on the last request?
Is there any ETA for this on the Powershell side (Set-AzDiagnosticSetting)

[2021-04-06 06:50] rboucher commented on #34664
#label:"CreateAzMonWIFeb2021"

[2021-04-06 06:51] rboucher commented on #18746
#reassign:nkeist

[2021-04-06 06:51] PRMerger18 commented on #18746
nkeist is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-04-06 06:51] rboucher commented on #18746
#reassign:nkiest

[2021-04-06 06:52] rboucher commented on #17029
#reassign:nkiest

[2021-04-06 06:55] rboucher commented on #17029
@BenMitchell1979 @amillion8 @abirDahmani  Given the date of this issue, I believe the doc has been redone and contains the required information. I know that @bwren did a lot of ARM template samples work last year. If not, please let us know.
#please-close

[2021-04-06 06:55] #17029 closed

[2021-04-06 06:56] rboucher commented on #16995
Given the date of this issue, I'm sure we've updated the screenshots since then.

#please-close

[2021-04-06 06:56] #16995 closed

[2021-04-06 06:57] rboucher commented on #14555
These alerts have been retired and no one should be using them anymore.

#please-close

[2021-04-06 06:57] #14555 closed

[2021-04-06 07:00] rboucher commented on #13847
@justinbarias Do you still have this question? Very old issue that I'm trying to close out.

We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

[2021-04-06 07:00] #13847 closed

[2021-04-06 07:01] rboucher commented on #13417
AAD did add some tenant logs. https://docs.microsoft.com/azure/active-directory/reports-monitoring/concept-activity-logs-azure-monitor

#please-close

[2021-04-06 07:01] #13417 closed

[2021-04-06 07:02] rboucher commented on #13013
#reassign:nkiest

[2021-04-06 07:03] rboucher commented on #13013
@nkiest Can you comment on this?

[2021-04-06 07:03] rboucher commented on #10374
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-06 07:04] #10374 closed

[2021-04-06 07:04] rboucher commented on #69667
#reassign:JasonFreeberg

[2021-04-06 07:05] rboucher commented on #69667
@JasonFreeberg Can you comment on this issue?

[2021-04-06 07:05] rboucher commented on #59465
#reassign:shilpasharmaAM

[2021-04-06 07:05] PRMerger7 commented on #59465
GitHub user gorankuk has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-04-06 07:06] rboucher commented on #63988
#assign:bwren

[2021-04-06 07:06] antothomas23 commented on #73178
Thanks for the reply! But my question is not yet answered.

As I mentioned in the question, the time part in the folder name is NOT KNOWN for us, it depends on the time when the folder is created. That is why I was enquiring about adding wildcard path for the TIME part in folder name.

Is it possible to provide the folder path like [ @concat((formatDateTime(utcnow(), 'yyyy-MM-dd'),'-??-??-??') ]

[2021-04-06 07:09] rboucher commented on #46131
#label:"CreateAzMonWIFeb2021"

[2021-04-06 07:11] rboucher commented on #37903
#label:"CreateAzMonWIFeb2021"

[2021-04-06 07:11] rboucher commented on #18746
#label:"CreateAzMonWIFeb2021"

[2021-04-06 07:12] rboucher commented on #13013
#label:"CreateAzMonWIFeb2021"

[2021-04-06 07:13] rboucher commented on #69667
#label:"TriagedFeb2021"

[2021-04-06 07:14] rboucher commented on #63988
#label:"TriagedFeb2021"

[2021-04-06 07:15] rboucher commented on #18227
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-06 07:15] #18227 closed

[2021-04-06 07:20] antothomas23 commented on #73178
@KranthiPakala-MSFT
Thanks for the reply! But my question is not yet answered. I am unable to reopen the issue!

As I mentioned in the question, the time part in the folder name is NOT KNOWN for us, it depends on the time when the folder is created. That is why I was enquiring about adding wildcard path for the TIME part in folder name.

Is it possible to provide the folder path like [ @concat((fo

[2021-04-06 07:33] RohitMungi-MSFT commented on #73160
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-04-06 07:33] #73160 closed

[2021-04-06 07:52] fafallou opened #73293 "Please review Accelerated Networking requirement for Dsv4-series in this doc"
Under Dsv4-series section, it says that Accelerated Networking requires a minimum of 4 vCPU, however, enabling Accelerated Networking on a Standard_D2s_v4 actually works. Can you please review this statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfc7bf3f-e024-b964-df90-9dc2ada62cd6
* Version Independent ID: b

[2021-04-06 07:55] JayaChatterjee-MSFT commented on #73070
@xuwenjian1995 Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2021-04-06 08:04] SubhashVasarapu-MSFT commented on #72841
@Avinash279939, Apologies for the delay in response. You were already connected to the Linux VM. Azure Bastion service just acts like a jump server while authentication. So here is how the connectivity works:

1. You connect to the Azure management portal over https using any browser, then you select a virtual machine to connect to.
2. Now the Azure portal connects to the Azure Bastion service usi

[2021-04-06 08:07] SwathiDhanwada-MSFT commented on #73049
@mykolaichuk As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-06 08:07] #73049 closed

[2021-04-06 08:09] SubhashVasarapu-MSFT commented on #72984
@balazsorban44, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2021-04-06 08:17] SwathiDhanwada-MSFT commented on #73286
@tfitzmac Can you please provide your inputs on this ?

[2021-04-06 08:57] gesmyrli opened #73296 "Link for Azure AD Connect Health agent for AD FS is still pointing to a previous version"
Hello,

The link for "Download the Azure AD Connect Health agent for AD FS" is still pointing to the previous version (3.1.77.0). The latest version, which is a month old now (3.1.95.0) cannot be found anywhere.

Thank you,
George
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Vers

[2021-04-06 09:09] ram-msft commented on #73232
@tokogee Just checking to see any update on the details.

[2021-04-06 09:19] ram-msft commented on #73230
@aahill Can you please help with the document update for gdpr-intro-sentence.md.

![image](https://user-images.githubusercontent.com/49180516/113688684-2c503d80-96e7-11eb-9a64-46e3eb913b8d.png)

[2021-04-06 09:23] yuanweilei opened #73299 "Is the description of highlight correct?"
https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout

This page says the highlight will be
![image](https://user-images.githubusercontent.com/26296423/113689103-e86c3100-9704-11eb-9c33-978f09e73c14.png)

But I got
`'<em>super</em> <em>bowl</em> is super awesome with a bowl of chips'`
which contains 2 `<em></em>`

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-04-06 09:37] shashishailaj commented on #73296
@gesmyrli Thank you for your feedback . We will investigate and update the thread.

[2021-04-06 09:42] jasvinder-bhomra-by commented on #57608
I tried the same custom policy configs for single sign out.

To support single sign-out, the token issuer technical profiles for both JWT and SAML must specify:

*   The protocol name, such as `<Protocol Name="OpenIdConnect" />`
*   The reference to the session technical profile, such as `UseTechnicalProfileForSessionManagement ReferenceId="SM-OAuth-issuer" />`.

I updated the configs inextension

[2021-04-06 09:43] jasvinder-bhomra-by commented on #57608
[**@iliassk**](https://github.com/iliassk) **Can you tell me what end session end point url is called?Do we need to pass the parameter post\_logout\_redirect\_uri?**

[2021-04-06 10:05] swildermann opened #73300 "Include example of down-scaling after high capacity reservation"
We get this question often from customers and the field:
What happens if I reserved more capacity than I actually end up using? For instance I reserved 2000 DWU and only use 500 DWUs (for instance on weekends).
The answer I expect: customer still need to pay for 2000 DWUs and therefore should calculate wisely if a reservation of 2000 DWU is reasonable or not.

---
#### Document Details

⚠ *Do not

[2021-04-06 10:11] Sahiep commented on #73300
It would be great to add example calculations to the docs for reserved capacity: one example for reserving 2000DWU and using 3000DWU and the other example on using less than you reserved (e.g. 500 DWUs). Maybe, we could also give some guidance on the typical "break-even" point, when a reservation for the peak DWUs makes more sense, than scaling down. Thanks a lot!

[2021-04-06 10:14] Bafff opened #73301 "Remove decommissioned IP"
Gateway 23.99.160.139 for Central US is already decommissioned as far as I know https://azure.microsoft.com/ru-ru/updates/azure-sql-database-gateways-changes-centralus-september-15-2020/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756

[2021-04-06 10:20] SnehaAgrawal-MSFT commented on #73288
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 10:24] SnehaAgrawal-MSFT commented on #73079
@AllanMatias Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-04-06 10:29] RohitMungi-MSFT commented on #73277
@D-Moonesinghe Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-06 10:30] cveld opened #73303 "Preview endpoint preferred?"
The documentation is mentioning the following REST API endpoint:
`https://{endpoint}/vision/v3.2-preview.3/read/analyze[?language][&pages][&readingOrder]`
which contains the phrase `v3.2-preview.3`, which seems to indicate an endpoint in the preview status.

Do you encourage to use this endpoint or is there any other endpoint that is preferred?
And which endpoint is taken by the .NET SDK?

---
###

[2021-04-06 10:35] simonyarde opened #73304 "Avoiding Bad Gateway errors"
Suggest adding following depends_on config to avoid Bad Gateway error `connect() to unix:///tmp/uwsgi.sock failed (111: Connection refused) while connecting to upstream`.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version Independent ID: df5d92c4-217b-aa4c-ba21-1418505

[2021-04-06 10:41] rarandiv opened #73305 "Confused with the statement mentioned in “With failover groups” section and should needs to be corrected"
Confused with the statement which is mentioned in “With failover groups” section. Link below.
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-transactional-overview#with-failover-groups

As highlighted below, in the first line it had mentioned, geo replication is not supported with a SQL Managed instance using transactional replication and in the next paragraph it’s m

[2021-04-06 11:10] rarandiv commented on #70098
Hi @jovanpop-msft , @KalyanChanumolu-MSFT just checking for an update here. Does the recommendation make any sense?

[2021-04-06 11:12] rarandiv commented on #70167
@ramakoni1 , @SatishBoddu-MSFT , just checking an update here..

[2021-04-06 11:12] ElectricLlama commented on #66561
Thanks. Much appreciated.

[2021-04-06 11:14] rarandiv commented on #71740
@NavtejSaini-MSFT Shouldn't we add notes in the Doc by saying its by design?

[2021-04-06 11:15] rarandiv commented on #71741
Hi @AnuragSharma-MSFT , just checking an update here..hope the recommendation would get consider.

[2021-04-06 11:32] samiozturk commented on #67407
@JamesTran-MSFT  please can you advise how we should handle this in our API. I am facing the same issue. I have managed to get it working by include my custom user attributes in the user flow form. I then leave these blank when creating a user with the form. This will not work in production of course as these are values that my backend API generates and should be invisible to the user in the form.

[2021-04-06 11:41] dominicbetts commented on #72694
Hi @jlorich - thanks for pointing this out - I'm just confirming with the product owner that we should be linking to the new repository - I'll update the article (and other related articles) as soon as I get confirmation.

[2021-04-06 12:17] mafis-hh opened #73307 "Synapse | REST dataset | relativeUrl property not working"
Hello,

I'm using in Azure Synapse the REST connector for a copy activity (source rest endpoint, so we created a REST dataset).
Inside the REST dataset I tried to use the property "relativeUrl". But I tried several combinations with adding/removing slashes on the properties of baseUrl (parameterized linked service) and relativeUrl. None of the combinations with the property relativeUrl set was wor

[2021-04-06 12:17] SnehaAgrawal-MSFT commented on #73239
@EllenFinkelstein Thanks again for the feedback! You may check below document link might be helpful:
https://github.com/Azure-Samples/media-services-video-indexer/blob/master/IntroToVideoIndexer.md

[2021-04-06 12:24] SwathiDhanwada-MSFT commented on #73300
@swildermann @Sahiep  Thanks for your valuable feedback.

Assigning to content author @yashesvi for review.

[2021-04-06 12:34] AnuragSharma-MSFT commented on #73301
@Bafff Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-06 12:48] StannieV opened #73308 "Unclear if there is also a difference in the max limit of the Send batch operation"
It's not clear in the (or any) documentation if the message size difference (standard: 256 KB vs premium: 1MB) has an effect on the [maximum batch size when sending multiple messages in one call](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.queueclient.sendasync?view=azure-dotnet#Microsoft_Azure_ServiceBus_QueueClient_SendAsync_System_Collections_Generic_IList_Microsoft_A

[2021-04-06 12:50] tfitzmac commented on #73145
@PriceChild - the update has been published. If you think the note does not correctly explain the name requirements, let me know.

[2021-04-06 12:59] PriceChild commented on #73145
Thanks @tfitzmac! The note below is currently:

I'm mostly familiar with ASE's using a custom dns, so I'm not too used to the standard setup.

I think it might be clearer just to omit the specific example in the note? To just explain the site must be unique in the ASE?

Depending on the setup of the ASE, appserviceenvironment.net, azurewebsites.net or neither and instead a custom DNS address may b

[2021-04-06 13:18] theikell commented on #73265
I'm validating/deploying from VS. I am selecting the desired parameters
file and VS is generating the command, which includes the correct file
name. The command generated by VS is:

Deploy-AzureResourceGroup.ps1' -StorageAccountName '' -ResourceGroupName
'rg-rnr-dev' -ResourceGroupLocation 'centralus' -TemplateFile
'servicefabriccluster.json' -TemplateParametersFile
'servicefabriccluster.parameter

[2021-04-06 13:26] Niro003 commented on #32204
Here is a solution: https://stackoverflow.com/a/59565064/4315172

[2021-04-06 13:31] EugeneKulikovskiy opened #73309 "Getting Phone number from Authentication contact info"
Hello,

We are using Azure B2C tenant with user flows. For now we've enabled MFA and our users enter phone number on first sign in.
This phone number goes to field "Phone" in section "Authentication contact info", but Authentication methods does not create.
How I can get Phone from "Authentication contact info" through Graph API? or what should I do in order to system fills Authentication methods

[2021-04-06 13:42] NBroomfield commented on #72757
Thanks for your help :-)

[2021-04-06 13:51] NBroomfield opened #73310 "Error while creating internal ingress alongside external ingress"
I'm following your tutorial but I'm experiencing an issue when I try to create the internal ingress.  I believe it's related to the fact that 've already created an external ingress, but I also need an internal one also for the project.  The error I'm getting is:

Error: rendered manifests contain a resource that already exists. Unable to continue with install: ClusterRole "nginx-ingress-ingress-n

[2021-04-06 13:59] SaiKishor-MSFT commented on #73289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 14:11] jaimesanchezfundary opened #73311 "Error 500 on clicking Send Verification code button"
I am following the example on the page Custom emails with sendgrid

the control is displayed correctly but when I press the button for the "Send verification code Button" custom Display Control I received in the browser this error: Failed to load resource: the server responded with a status of 500 (Internal Server Error)

I cannot find a more descriptive error, I configured App Insights to try to

[2021-04-06 14:15] danlopez opened #73312 "Missing Instructions for "Social" starter pack usage."
[Enter feedback here]

Implementing this TechnicalProfile appears to depend on starting with one of the starter packs including "Social" login. If this is case, please update the docs here. If you started with a "Local" starter pack, which the docs don't seem to preclude, there a lot of missing steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-04-06 14:20] sheeeng opened #73313 "Cannot go install github.com/denisenkom/go-mssqldb@latest?"
I'm following the [instructions](https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-go#create-golang-project-and-dependencies) from Microsoft's documentation.

[code]

Did I miss anything?

See also https://github.com/denisenkom/go-mssqldb/issues/649.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-06 14:20] AshokPeddakotla-MSFT commented on #73062
Since this needs investigation and need to handle through 1-1 support, as suggested please reach out for further assistance.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-06 14:20] #73062 closed

[2021-04-06 14:25] willblenkhornjisc opened #73314 "Exported compact s1 custom vision model, local predictions dont match testing interface"
- Relevant service: Running a Compact (S1) Custom Vision Multiclass Image classification model in tensorflow python
- Docs Link: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python

Problem:

Hi, I am trying to run a compact (s1) custom vision multiclass image classification model in python using tensorflow. I have trained the model through the custo

[2021-04-06 14:31] RonnyA opened #73315 "Add some extra details for Blazor deployment"
When deploying a Blazor App you need to configure output_location:

output_location: "wwwroot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63230b97-2269-3fed-7fca-882bb380c5f6
* Version Independent ID: feb2708e-5cea-4ad8-eaaa-f3061e18c11a
* Content: [Tutorial: Publish Azure Static Web Apps with Azure DevOps](https:/

[2021-04-06 14:33] Omri-odix commented on #67806
Same here.
We are also having issues with JIT in the service catalog and marketplace preview. I followed the instructions in the page.
Usually we test our app before uploading it to the market by uploading it to the managed app service catalog in our Azure account. After adding the JIT component to the CreateUiDefinition.json we can create the service catalog managed application definition, but wh

[2021-04-06 14:37] yutaro113 commented on #73106
@AjayKumar-MSFT
Thanks for the clarification!! Understood this application is valid for Application Logs in App Service Log.
I think it would be very helpful for user to have description mentioning below points in the official doc as well. Kindly consider if possible..!
・Default number of log files are 50 and it can be customized by application settings.
・There are multiple logging option (Kudu(de

[2021-04-06 14:38] mioteg commented on #73140
@alkohli Thanks. I'll schedule some time to discuss.

[2021-04-06 14:41] markingmyname commented on #73249
#reassign @sunilagarwal

[2021-04-06 14:51] natharatms opened #73316 "NPS Extension failing with One Time Passcodes"
Hello,
I've been supporting the NPS Extension for a couple of years now and have had many customers who have faced the issue where the Vendor Specific Attributes are lost when OTPs are used.  The docs states that this is not supported, but it's really because the MFA Extension doesn't cache the response from the Network Policies to handle the subsequent Access Request.  This issue has impacted a n

[2021-04-06 14:53] veuncent commented on #36124
Has anything changed regarding Storage Account firewalls and SQL Vulnerability Assessment / Baselines? I am still getting `Could not authenticate to storage account` when trying to approve a baseline when my storage account has a vnet-based firewall rule. Azure services are allowed though, and vulnerability reports are actually persisted to the same Storage Account.

[2021-04-06 14:56] Oury-MSFT commented on #73305
@rarandiv We are looking into this and will get back to you.

[2021-04-06 14:59] fabiendelpierre opened #73317 "Incomplete doc on required outbound network rules for AKS"
This doc is incomplete. Specifically, this section: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#azure-global-required-network-rules

In addition to the rules already listed, we've been told this by Azure support that an egress rule allowing traffic to service tag `AzureFrontDoor.FirstParty` on TCP port 443 is also required, despite its absence from the documentation. AKS cluste

[2021-04-06 15:01] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 15:04] JamesTran-MSFT commented on #73312
@danlopez
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 15:10] JamesTran-MSFT commented on #73316
@natharatms
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

I've also removed your contact info from the post, but will note that the author can reach out to you via "nathar", for any questions.

Thank you!

[2021-04-06 15:11] NavtejSaini-MSFT commented on #71740
@rohitnayakmsft Please confirm if we can add that to notes in this document.

[2021-04-06 15:21] semireg commented on #7263
Fwiw, I saw a 500 error when I deployed an image specifying `node:12-slim` to a Raspberry Pi 4... which is arm, so the container would immediately exit into a backoff restart strategy. The fix for me was to build the image using `arm32v7/node:12-slim`.

[2021-04-06 15:24] tigormanoak commented on #72571
Chris,

What your result really means is that the contents of the "/etc/oratab"
file were incorrect, and that should be corrected, and the command_path
environment variable removed from workload.conf. This is not a "fix", sorry.

The format for the file in configuration_path should be...

    SID:HOME:xxx

...where SID is the value of the ORACLE_SID environment variable and
HOME is the value of th

[2021-04-06 15:41] pierrejeandev commented on #73065
@SnehaAgrawal-MSFT Thank for the link to the application-gateway documentation. I could not guess.

[2021-04-06 15:45] GiftA-MSFT commented on #73303
@cveld we'll review your feedback and get back to you shortly. Thanks.

[2021-04-06 15:50] HarshitaSingh-MSFT commented on #73293
Hello @fafallou , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-04-06 15:52] HarshitaSingh-MSFT commented on #73304
Hello @simonyarde , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-04-06 15:54] Oury-MSFT commented on #73313
@sheeeng We are looking into this and will get back to you

[2021-04-06 16:02] HeidiSteen commented on #73299
@yuanweilei  Yes, you are correct!  I will update the docs. Thank you for letting us know.

[2021-04-06 16:03] ssivas commented on #73296
@gesmyrli , Thanks for your feedback. Azure AD health for ADFS agent (3.1.95.0 version) will be available soon for public download. I will update here once its available for download. Once again thank you for bringing this to our attention.

#please-close

[2021-04-06 16:03] #73296 closed

[2021-04-06 16:07] dreeves14 opened #73320 "Doesn't work."
Followed the directions to the nose and I can see Meraki URL info getting ingested to the Linux box when viewing the omsagent.log  but nothing is getting to Sentinel even after an hour. I feel like there are parts to the directions that are missing entirely to make this work. 0 troubleshooting, or maybe its lost somewhere else, the information path is heavily segmented.

I ran the agent troublesho

[2021-04-06 16:10] NetRushJacob commented on #73273
@AnuragSharma-MSFT Thank you for the clarification; that makes sense.  I will post a tech support ticket around some of the things we've experienced along these lines not matching our expectations based on the documentation.  Thank you!

[2021-04-06 16:17] JamesTran-MSFT commented on #72922
@Norafify89
I just wanted to check in and see if you had any other questions or if this helped resolve your issue?

[2021-04-06 16:27] JamesTran-MSFT commented on #73312
@danlopez
Reading through the [Set up sign-in documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-custom-policy), there are two pre-reqs that should be completed, prior to walking through the custom policy steps.
![image](https://user-images.githubusercontent.com/36619112/113744105-407d4600-96b9-11eb-9fc5-fb83dba7af63.png)

[2021-04-06 16:29] micahl opened #73322 "Need to add .crt extension when copying the ca certificate"
The code snippet for Step 1 under **Configure IoT Edge on devices" should be this (adds the '.crt' file extension to the copied file).

[code]

This would make it similar to [the instruction given for authenticating a regular IoT device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device?view=iotedge-2020-11#ubuntu).  The reason being that the next step to `update-ca-

[2021-04-06 16:32] tfitzmac commented on #73145
Thanks for the great suggestion. That change should get published soon.

[2021-04-06 16:33] Oury-MSFT commented on #73305
@rarandiv Thank you for your feedback
@MashaMSFT  Please see feedback above from customer. Do we need to make any changes in this [doc](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-transactional-overview#with-failover-groups)

[2021-04-06 16:35] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thank you for your time and patience throughout this issue!

You should be able to follow our - [Get started with the Microsoft Graph authentication methods API](https://docs.microsoft.com/en-us/graph/authenticationmethods-get-started) documentation to get/set a user's authentication methods.

**Check the user's authentication methods:**
`GET https://graph.microsoft.com/beta/use

[2021-04-06 16:35] alkohli commented on #72936
@robnotto Thanks for your patience! We confirmed with Engg. The portal states that the order will be fulfilled and shipped within 10 days.
The FAQ states that:
Disk prep and allocation: 5 days
Shipping times: 2-3 days
Both the above steps add up to 8 days of prepping and shipping the order which is consistent with what the portal states: within 10 days.

Hopefully this explanation is clear. Thank

[2021-04-06 16:35] #72936 closed

[2021-04-06 16:36] Oury-MSFT commented on #73261
@bagukall limits are for logical partition as they are the customer exposed entity, physical partition is implementation detail and we will manage the same based on data size. Please let us know if you have ay other questions.

[2021-04-06 16:37] SnehaAgrawal-MSFT commented on #73242
@Dharm78 Thanks! Could you please specify on which part or the document you are referring to help you better on this.

[2021-04-06 16:40] danlopez commented on #73312
Got it, I think I would suggest noting that you should be starting with one of the starter packs with **Social**, and not just the Local starter pack. While I think that you're correct in noting that if you followed the directions exactly and went through that pre-req, it would work, it wasn't obvious to me as a developer working on an actual implementation that I'd need the "Social" Starter pack.

[2021-04-06 16:44] AshokPeddakotla-MSFT commented on #73100
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-06 16:44] #73100 closed

[2021-04-06 16:46] AshokPeddakotla-MSFT commented on #73150
@nandsfordays Could you please confirm the above? Are you still blocked? Can you retry the steps as is and update if you are still seeing the error?

[2021-04-06 16:50] SubhashVasarapu-MSFT commented on #72895
@adminen, Appreciate your patience. This configuration will cause issues in future in coexistence with Express route VPN gateway as it need minimum prefix /27 or higher according to this [doc](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager). Also looks like the coexistence scenario was well described in the document. So, I will edit the document acc

[2021-04-06 16:50] #72895 closed

[2021-04-06 16:51] sjthompsonengl opened #73324 "Schema failure"
It seems that if the JourneyFraming element is present you cannot include any other UserJourneyBehaviors elements e.g. SingleSignOn, SessionExpiryType, JourneyInsights.  The only element that is allowed is ScriptExecution.

The custom policy upload reports "The element 'UserJourneyBehaviors' in namespace 'http://schemas.microsoft.com/online/cpim/schemas/2013/06' has invalid child element 'SessionE

[2021-04-06 16:53] NavtejSaini-MSFT commented on #73155
@DavidTrigano Assigning this to you for further action of reviewing the PR.

[2021-04-06 16:58] rboucher commented on #57002
@andrewatfornax Can you reopen the issue then? I don't have that option on my end.  If you don't have a button then perhaps @BharathNimmala-MSFT can do it.

[2021-04-06 16:59] NavtejSaini-MSFT commented on #73114
@emlisa Please check and verify the PR. We have assigned this to you.

[2021-04-06 17:04] JamesTran-MSFT commented on #73324
@sjthompsonengl
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 17:07] thoo1 commented on #73101
Hi @hpsin sorry for the delay in responding

We are indeed a first party application and also need to support multi-tenant scenarios.

In our first party portal, we have some advanced settings turned on
- msa passthrough [X]
- enabled device only auth support [ ]
- implicit grant
  - access tokens [x]
  - id tokens [x]
- support account types
  - aad users [x]
  - personal microsoft account (MSA)

[2021-04-06 17:07] SamaraSoucy-MSFT commented on #73221
As mentioned in the article,

You can also find the current list of licences included in your Visual Studio licensing on this page: [https://visualstudio.microsoft.com/vs/pricing/](https://visualstudio.microsoft.com/vs/pricing/)

[2021-04-06 17:07] #73221 closed

[2021-04-06 17:13] TheRealSvc opened #73325 "registry module fails"
Hi there,
I followed along the tutorial. Unfortunately i'am not able to get the registry module properly deployed on the (topmost) edge-hub device.
The registry status is on "failed".  In my setup I migrated all modules (including edgeAgent and edge Hub) to my private ACR. As registry module i imported this [https://hub.docker.com/_/registry?tab=description&page=1&ordering=last_updated](url) into

[2021-04-06 17:21] KranthiPakala-MSFT commented on #73307
@mafis-hh
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-04-06 17:25] JamesTran-MSFT commented on #73312
@danlopez
Thank you for the feedback and for taking the time to point this out! I've created a PR to update the documentation and it's currently waiting for the author(@msmimart) to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-06 17:25] #73312 closed

[2021-04-06 17:30] chriswill opened #73326 "Strange code example"
There is absolutely no reason to structure your declaration this way:

[code]
In 20 years of .net programming I've never seen this approach used and it only serves to impede the code readability.  Do you have conflicting namespaces?  No.  So there is actually no reason to use this. Are you trying to reinforce where specific methods originate?  Why?  It makes no sense.

---
#### Document Details

⚠

[2021-04-06 17:30] #73155 closed

[2021-04-06 17:31] DavidTrigano commented on #73155
PR signed off. Changes will be published within 24hours

[2021-04-06 17:31] DerekHerman-MSFT commented on #73163
@pattisanta It looks like you are using an old release of AzFilesHybrid.zip. Can you use the latest release to see if that resolves the issue?
https://github.com/Azure-Samples/azure-files-samples/releases/tag/v0.2.3

[2021-04-06 17:32] EugeneKulikovskiy commented on #73309
@JamesTran-MSFT
Thank you for answer.

In our flow, user doesn't enter phone number on sign up page and we can't create phone number manually using POST method
POST https://graph.microsoft.com/beta/users/avery.howard@wingtiptoysonline.com/authentication/phoneMethods

User enters his phone number only on first login in special Microsoft MFA page.
In this case phone number is written ONLY to field "

[2021-04-06 17:32] aminsaied commented on #73212
I believe that is showing the 70_driver_log.txt file. Why does the OP think this is the 65_job_prep_*** file?

This is the the output from the entry script => it is 70_driver_log file:

![image](https://user-images.githubusercontent.com/13423197/113753750-57c13100-96c3-11eb-954a-44aca6cac9f7.png)

[2021-04-06 17:32] HeidiSteen commented on #73299
@yuanweilei   The doc update is now live:  https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout#new-behavior-starting-july-15

Closing this issue.
#please-close

[2021-04-06 17:32] #73299 closed

[2021-04-06 17:36] pattisanta commented on #73163
Hi Derek,
Thanks. I finally got it to work using PS5.1. However, I am running into a new problem with mounting the share drive with Secure transfer required

Patti

From: DerekHerman-MSFT ***@***.***>
Sent: Tuesday, April 6, 2021 1:31 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Santacroce, Patti ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] AzFilesHybrid (#73163)

[2021-04-06 17:41] SubhashVasarapu-MSFT commented on #73128
@jyotiprakash90, Appreciate your patience. Here is a [document](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#create-a-linux-vm-with-azure-accelerated-networking) that explains about enabling the accelerated networking via Azure portal.
Also, this toggle switch behavior will not be available through portal after creation of the VM.

You can confirm whe

[2021-04-06 17:42] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thank you for the quick follow up on this!

When you say "Authentication contact info", are you referring to the contact info section of the user's profile?
![image](https://user-images.githubusercontent.com/36619112/113755006-ab804a00-96c4-11eb-8794-06931ce3d2f6.png)

Are you able to share a screenshot of what you're seeing, so I can gain a better understanding of your issue?

[2021-04-06 17:48] jyotiprakash90 commented on #73128
Hi,

My question was towards this https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#enable-accelerated-networking-on-existing-<https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#enable-accelerated-networking-on-existing-vms>vms<https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-c

[2021-04-06 17:52] luisquintanilla commented on #72995
@Niharikadutta does .NET for Spark on Synapse only support Linux x64?

[2021-04-06 17:55] DerekHerman-MSFT commented on #73163
@pattisanta Please check our troubleshooting page [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems#cause-1-unencrypted-communication-channel). If you are unable to resolve your issue I recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll fo

[2021-04-06 18:02] Karenzhang7717 commented on #73274
![image](https://user-images.githubusercontent.com/64809520/113757418-d02def00-96cf-11eb-8911-a744048d4022.png)
Hi, I checked the header but the Location key is still not accessible

[2021-04-06 18:14] rwike77 commented on #69650
@wingmans, you can programmatically update an app object through the [Graph application entity](https://docs.microsoft.com/graph/api/resources/application) or using [PowerShell](https://docs.microsoft.com/powershell/module/azuread#applications) as mentioned in the article intro.  Sorry, we don't have any examples of doing so but it is possible.  I'll open up a work item internally to add some exam

[2021-04-06 18:14] #69650 closed

[2021-04-06 18:18] #73167 closed

[2021-04-06 18:21] JustinGalbraith opened #73327 "Global Tier IP Addresses"
Hello,

The current documentation doesn't appear to contain any information about the new Tier (Regional or Global) options for Public IP addresses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95f8e2-963d-3193-ec1f-b0dd9f566ee2
* Version Independent ID: 14376448-43ec-8f0f-65fd-c813256a7520
* Content: [Public IP ad

[2021-04-06 18:33] TrentShoun opened #73328 "Replicate Azure Stack VMs to Azure - Inaccurate"
Hello,
The Azure UI has changed significantly for enabling Azure Site Recovery and it looks like the document for how to enable this for Azure Stack Hub VM's is very out of date

Step 2: Create a vault and select a replication goal and Step 3: Set up the source environment are no longer accurate.

https://docs.microsoft.com/en-us/azure/site-recovery/azure-stack-site-recovery#step-2-create-a-vault-

[2021-04-06 18:33] Karenzhang7717 commented on #73274
Hi, sorry that I messed up the correct tab for viewing the results - the issue is now solved.

[2021-04-06 18:33] #73274 closed

[2021-04-06 18:48] TravisCragg-MSFT commented on #73071
@jwilliams45-aug Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mimckitt I don't have permission to edit the script file, so I am assigning this to you.

[2021-04-06 18:51] timsander1 commented on #73201
Here's how you'd do that query:

SELECT f.id
FROM Families f
WHERE ST_DISTANCE(f.locations[0], {"type": "Point", "coordinates":[31.9, -4.8]}) < 30000

You can access data in arrays the same way, regardless of whether they have geospatial data. Learn more about querying arrays: https://devblogs.microsoft.com/cosmosdb/understanding-how-to-query-arrays-in-azure-cosmos-db/

[2021-04-06 18:51] timsander1 commented on #73201
#please-close

[2021-04-06 18:51] #73201 closed

[2021-04-06 18:52] ramayse opened #73329 "Simple Question"
[I'm just trying to find out if making the change to include custom attributes removes all the existing "default" attributes that are already syncing?

To explain more, we currently have Microsoft Azure Active Directory Connect active and working fine. However, I want to include the homePhone field through our Signature Manger (Exclaimer) and that field currently is not available. I realized we do

[2021-04-06 19:03] daviburg opened #73330 "Incomplete list of accessible resources from OPDG for Logic App"
At minimum the HTTP with Azure AD connector can also make use of the OPDG to access on-premises resources. I am not certain what other connectors may be missing from the list here.

https://docs.microsoft.com/en-us/connectors/webcontents/#creating-a-connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98

[2021-04-06 19:21] jasvinder-bhomra-by commented on #57608
For me it is working.

[2021-04-06 19:27] JamesTran-MSFT commented on #73311
@jaimesanchezfundary
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 19:28] SaiKishor-MSFT commented on #73068
@Ravivarman13 This is expected behavior as seen from https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-configuration#example-2

[2021-04-06 19:29] chalewi opened #73332 "Please remove Windows 7 references from this article as Windows 7 is End of Life"
there are several references to Windows 7 devices in the down level documentation. As Windows 7 is no longer supported, we would like to see these references removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bc474a-a353-984d-3440-144c3444b100
* Version Independent ID: 20ec9d72-24f7-ec32-4c68-f36a5d7968ab
* Cont

[2021-04-06 19:29] JamesTran-MSFT commented on #73324
@sjthompsonengl
Thank you for your time and patience throughout this issue!

Are you able to share any screenshots? So my team and I can gain a better understanding of what you're seeing.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-06 19:30] JamesTran-MSFT commented on #73332
@chalewi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 19:38] cynthn commented on #71664
@asinn826 can you take a look at this issue? You can ping me if you need help with how to work with our GitHub Issue automation :)

[2021-04-06 19:41] cynthn commented on #71948
@ld0614 Thanks for the feedback! I will be doing some work on sharing images and I'll try to include more information about the most appropriate role access to grant. Thanks again!

#please-close

[2021-04-06 19:41] #71948 closed

[2021-04-06 19:42] vick-git opened #73333 "Customization with nested conditions for blob lifecycle management."
[Enter feedback here]

A little more customization would help a lot. For instance, purging blobs using last modified but having a nested condition to leave back a few based on creation date as an AND condition is a common ask for lifecycle management.

Documentation link: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal

---
#### Document

[2021-04-06 19:44] cynthn commented on #69292
@ju-shim @ayshakeen @mimckitt Can we get an updated OS list for the M-series?

[2021-04-06 19:47] cynthn commented on #71589
@mimckitt Can you clarify this? I think "Max cached and temp storage throughput" are identical, but I wanted to double-check.

[2021-04-06 19:47] SaiKishor-MSFT commented on #73183
@saadatahmed Split-Tunnel is enabled for P2S VPN by default. However, forced tunneling option is not currently available and can be upvoted through this[ feature request link. ](https://feedback.azure.com/forums/217313-networking/suggestions/7027397-use-p2s-vpn-connection-as-default-gateway-like-st) Does this answer your question? Let me know if you have any further questions/concerns. Thank you!

[2021-04-06 19:49] cynthn commented on #72082
@brbell Can you clarify the max cache?

@mimckitt

[2021-04-06 19:51] cynthn commented on #63932
@kof-f Is this something that you can answer?

[2021-04-06 19:52] cynthn commented on #65087
@kof-f Is this something that you can answer? Thanks!

[2021-04-06 19:53] Oury-MSFT commented on #73326
@chriswill Thank you for your feedback. We will look into this and will get back

[2021-04-06 19:54] cynthn commented on #70113
@kof-f Do you have any udpates we could make to clarify the format?

[2021-04-06 20:06] hpsin commented on #73101
#please-close.  This was a case of internal app IDs being used for special case scenarios.

[2021-04-06 20:06] #73101 closed

[2021-04-06 20:12] TravisCragg-MSFT commented on #73317
@palma21 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-06 20:13] Karenzhang7717 opened #73334 "Failure converting a drawing package - missing manifest.json"
There has been an issue when I tried to upload the customized drawing package and convert it - even though I do have manifest.json file in my drawing package, it is saying that the package is missing a manifest.json file. I double-checked and can confirm that the operationId is correctly referring to the drawing package that I uploaded.

![Screen Shot 2021-04-06 at 12 30 15 PM](https://user-images

[2021-04-06 20:22] nandsfordays commented on #73150
I got the same thing again and then added this:
--parameters allowSsh=true
and it worked but i was also getting an error prior to it working about not being allowed to change customData, but did not run into that on my last few tries

[2021-04-06 20:22] daviburg commented on #73330
Opened internal task 1832927

[2021-04-06 20:22] #73330 closed

[2021-04-06 20:23] nandsfordays commented on #73150
My guess is that defaultValue should be true not "true"

[2021-04-06 20:24] mmacy commented on #72905
Apologies @hpsin, missed your question of why the first-try fix in https://github.com/MicrosoftDocs/azure-docs/issues/71758 didn't go through. Looks like we're good now, however, so will chalk it up to transient issue.

@benjamincburns I'm now seeing this on the live site, so closing this one out. If you feel this was closed in error, however, please do let me know. Thanks for the call-out on this

[2021-04-06 20:24] #72905 closed

[2021-04-06 20:28] EugeneKulikovskiy commented on #73309
@JamesTran-MSFT
Thank you for answer.

"Authentication contact info" is page in Authentication methods section (OLD user authentication methods experience)
![Phone](https://user-images.githubusercontent.com/76207421/113773367-9a6c2300-972e-11eb-98e8-084cf129aaa4.jpg)

"Authentication methods" is page  in Authentication methods section  (NEW user authentication methods experience)
![Auth_methods](h

[2021-04-06 20:31] DerekHerman-MSFT commented on #73184
So Block Blob Storage account and Block Blob Data are thesame thing?
No they are not, data is what is put into a storage account.

BlockBlobStorage, General-purpose V2, BlobStorage. These are all Storage Accounts. All of these accounts can contain block blob data. Only General-purpose V2 and BlobStorage accounts can have access tiers.

[2021-04-06 20:37] bandersmsft commented on #73300
@swildermann Hi there. Reservations are “use it” or “lose it”, meaning regardless of utilization, you still pay the full amount that you committed to when you bought the reservation. So, you want to fully use your reservation to avoid wasting your money. If you end up buying more reserved capacity than you can use, you have some options to deal with underutilization:

- You can change the scope of

[2021-04-06 20:37] #73300 closed

[2021-04-06 20:40] DerekHerman-MSFT commented on #73333
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-06 20:42] saadatahmed commented on #73183
Option desired is the ability to disable split tunnel on P2S.

Information about split tunnel should be discussed on this article.

On Tue, Apr 6, 2021, 3:48 PM SaiKishor-MSFT ***@***.***>
wrote:

[2021-04-06 20:42] TravisCragg-MSFT commented on #73277
@D-Moonesinghe As is described in the doc, you will need to provide the Resource ID of any resource you want delegate access to. If you would like to give permissions to an ACR, you will need to give the resource ID of the ACR. The easiest way to get the Resource ID is to navigate to the resource in the portal, select 'JSON view' from the upper right of the resource window, and then copy the 'id'

[2021-04-06 20:45] kgremban commented on #73150
@AshokPeddakotla-MSFT and @nandsfordays there is an open issue for this in the iotedge-vm-deploy repo: https://github.com/Azure/iotedge-vm-deploy/issues/8

[2021-04-06 20:46] v-tcassi commented on #73325
Hi!

I haven't seen this error before, personally. Following your registry links took me to a blank result:

![image](https://user-images.githubusercontent.com/67973755/113776091-5ea96d00-96de-11eb-9f4f-5b7e046df6e1.png)

Could you repost that link or explain what it's meant to be pointing to?

In the meantime, I'll contact someone on the dev team to see if they have input on this error you're rec

[2021-04-06 20:55] ChaitanyaNaykodi-MSFT commented on #73308
Hello @StannieV,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-06 21:00] NoelAbrahams commented on #73201
@timsander1

That doesn't answer the question. I want to search _**all**_ elements in the location array.

[2021-04-06 21:01] Roopesh-Bharatwaj-K-R commented on #72841
Hi, Thanks , in between i tried to connect with Azure Bastion service and i faced a login issue but i have followed the documentation provided clearly.

below snapshot of the issue .

![WhatsApp Image 2021-03-30 at 5 05 32 PM](https://user-images.githubusercontent.com/77121467/113777516-19f3f500-9723-11eb-84e9-b9aaab951dbe.jpeg)

[2021-04-06 21:09] #68493 closed

[2021-04-06 21:17] sjthompsonengl commented on #73324
Here’s the error displayed when attempting to import the policy:

***@***.***D72B32.9EA631D0]

Here is a snippet of the Relying Party policy, this works fine until I add the JourneyFraming element

***@***.***D72B32.9EA631D0]

Regards,
Steve

From: James Tran-MSFT ***@***.***>
Sent: 06 April 2021 20:30
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Steve Thompson ***@***.***>; Mention ***@***.***>

[2021-04-06 21:21] kgremban commented on #73150
I got that other pull request merged, which should resolve the error you're seeing. Please try again and let us know.

[2021-04-06 21:23] chuckconway opened #73336 "Errors with Documentation and the documentation no longer leads to a working solution"
There are a number of errors on this page.

1. In the Prerequisites section, "The sample web API and native client apps from https://github.com/jeevanbisht/API-NativeApp-ADAL-SampleApp" the Github repository does not contain related code. The code example is for the deprecated library ADAL and this article is about the Microsoft Authentication Library (MSAL)

2. The text "Under Redirect URL, drop-

[2021-04-06 21:35] MadokaC opened #73337 "Guide is out of date"
[Enter feedback here]
Hi there,

I work for Anaplan and I was wondering if we can get this guide updated?

Anaplan has a new feature to setup SSO with Azure AD and this guide still follows the old feature. We have a few users struggling to update if they follow this guide. Happy to discuss further to see how we can update this guide.

Kindly contact me at madoka.mitsui@anaplan.com to help update t

[2021-04-06 21:42] jeffpatt24 commented on #63428
Majority of registry settings can be configured via group policy or other management solutions. I don't think a note is needed.

[2021-04-06 21:43] jeffpatt24 commented on #63428
#please-close

[2021-04-06 21:43] #63428 closed

[2021-04-06 21:47] jeffpatt24 commented on #33729
Thanks for the feedback! I will add a note in the "Agent installation and server configuration" section if a server restart is required.

[2021-04-06 21:47] jeffpatt24 commented on #33729
#please-close

[2021-04-06 21:47] #33729 closed

[2021-04-06 21:55] duongau commented on #72040
@shooker The documentation should be live now and found here: https://docs.microsoft.com/en-us/azure/dns/private-dns-import-export.

#please-close

[2021-04-06 21:56] #72040 closed

[2021-04-06 22:03] Sammak commented on #73117
Not today, the only option currently is to speak with the admin of the directory you're guested into and have them remove you. We are looking into making improvements to the leave org experience to account for this.

[2021-04-06 22:04] sandeepwadhwa0101 commented on #34451
I am surprised that this issue is still open. After reading the whole issue, I tried updating my Linux container with WEBSITES_PORT variable, but I found that doesn't work, instead I have to use PORT variable. Using the PORT setting, atleast my docker logs mentioned that the container was listening to desired port, but I was still not able to access my jar.
"docker run -d -p 8983:8983 "

@AjayKuma

[2021-04-06 22:12] #73322 closed

[2021-04-06 22:12] gitmadness opened #73340 "Example expression for x-ms-date is missing a closing parenthesis"
https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity#authenticate-access-with-managed-identity
The example expression for formatting datetime for x-ms-date is missing ')'

![image](https://user-images.githubusercontent.com/32003089/113788570-198f3600-96f2-11eb-9dc7-884b46d720b6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-04-06 22:22] MiguelMejiaDca opened #73341 "Storage Use AzCopy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10)
* Con

[2021-04-06 22:35] timsander1 commented on #73201
Ah I understand now! That's not supported but it's a great feature request. Could you submit it to the user voice here: https://feedback.azure.com/forums/263030-azure-cosmos-db?

For now, you could iterate through the array and manually run the query for each array element.

[2021-04-06 22:38] RyanHill-MSFT commented on #73315
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-06 22:47] MarileeTurscak-MSFT commented on #73337
@MadokaC
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 22:49] #73150 closed

[2021-04-06 22:55] ChaitanyaNaykodi-MSFT commented on #73172
Hello @vibraniumforge,
We have assigned this issue to the author to review further and take the next course of action.

[2021-04-06 23:01] MarileeTurscak-MSFT commented on #73336
@chuckconway
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-06 23:05] petertuton opened #73343 "Azure SQL Edge is now GA"
"ARM devices, like Raspberry Pis, cannot run SQL Server. If you want to use SQL on an ARM device, you can sign up to try Azure SQL Edge **in preview**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f033d3a-7af4-53ce-e7da-4ac7444520ce
* Version Independent ID: 1f2f6875-6f69-83f7-1181-ea3e01946813
* Content: [Tutorial

[2021-04-06 23:13] Karishma-Tiwari-MSFT commented on #73314
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-06 23:15] wmgries commented on #71210
This has been deleted in the live document, however, I would advocate that that was the wrong step. We encourage customers to use share-rm now instead of share - share-rm goes through the storage resource provider (Microsoft.Storage) rather than through the data plane. Share-rm does contain the enabled-protocols on the create command. This was never removed from the share command.

#please-close

[2021-04-06 23:15] #71210 closed

[2021-04-06 23:21] Karishma-Tiwari-MSFT commented on #73310
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-06 23:22] #73115 closed

[2021-04-06 23:24] tigormanoak commented on #72571
Hi Tim,

The /etc/oratab file is fine. It is the standard one produced by the Oracle install and written to by dbca.

***@***.*** ~]$ cat /etc/oratab
# /etc/oratab
test:/u01/app/oracle/product/19.0.0/dbhome_1:N
test2:/u01/app/oracle/product/19.0.0/dbhome_1:N

After a lot of testing I can see that the app consistent backup code is not retrieving any values from /etc/oratab.

I can also see that if

[2021-04-06 23:25] omerzubair opened #73344 "CosmosDB - Cannot scale or See collections when privateendpoint is enabled. Also RBAC not available for few important screens."
[Enter feedback here]

Hi MS,

2x issues with cosmos

Once privateendpoint is enabled on CosmosDB (mongoDB 4.0) then cannot use the "Data explorer" or scale cabaility as it does not load.

We are using custom RBAC Roles in Azure.
I do not wish to provide **Firewall** and **Replicate data global** to my clients to change.
Currently the clients are able to add any ip they like despite of having priv

[2021-04-06 23:25] Karishma-Tiwari-MSFT commented on #73320
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-06 23:27] Oury-MSFT commented on #73326
@GithubMirek Please check customer feedback above. Could you please provide some guidance.

[2021-04-06 23:28] Karishma-Tiwari-MSFT commented on #73322
Thanks for bringing this to our attention. The author have created a PR with the update, changes will be live shortly.

[2021-04-06 23:47] Niharikadutta commented on #72995
@luisquintanilla Yes Synapse is only Linux based currently, I will update the document accordingly. Thanks!

[2021-04-06 23:47] tigormanoak commented on #72571
Chris,

What you're saying is that the newer configuration_path functionality is not working in your version of Azure VM Backups, is that correct?

If so, then that is what must be fixed, and not working around the problem by falling back to the soon-to-be-removed functionality of command_path.  Does that make sense?

Please note: one of the documentation change requests submitted will do away wit

[2021-04-07 00:09] HeidiSteen commented on #73299
@RyanHill-MSFT Hi, I resolved and closed this issue earlier this morning.  Wondering if those labels should be removed, or are they needed for reporting purposes??

[2021-04-07 00:10] RyanHill-MSFT commented on #73299
Hi @HeidiSteen, needed for reporting.

[2021-04-07 00:18] yuanweilei commented on #73299
@HeidiSteen, @RyanHill-MSFT
Thank you team!

[2021-04-07 00:25] v-hakob opened #73345 "Update request"
The cx contacted me they cannot find the columns explained this document, when they selected Edit columns button in the Virtual Machines pane (#4 in the instruction).

It seems like this works for the classic VMs but not for ARM VMs. As long as I checked the portal, I found there is the "Maintenance" menu in the menu tab, and it took me to the maintenance menu for VMs to see the right columns.

Co

[2021-04-07 00:30] jeffpatt24 commented on #59780
I've updated the documentation to cover the different options to configure proxy settings. Doc update will be live tomorrow.

[2021-04-07 00:34] sebansal commented on #73052
https://docs.microsoft.com/en-us/azure/key-vault/certificates/overview-renew-certificate#get-notified-about-certificate-expiration
The link to this article has also been added to tutorial and would be live soon.

[2021-04-07 00:44] sebansal commented on #73052
#please-close

[2021-04-07 00:44] #73052 closed

[2021-04-07 00:48] tigormanoak commented on #72571
Thanks for the information.
I will do some testing and let you know what I find.

Regards,
Chris

Chris Olsen
Cloud Solution Architect | Data & AI | One Commercial Partner
Chris.Olsen@Microsoft.com<mailto:Chris.Olsen@Microsoft.com> | Mobile: +61 416 212 055 | Microsoft Australia
***@***.***D72B9B.7E9777A0]

From: Tim Gorman ***@***.***>
Sent: Wednesday, 7 April 2021 9:48 AM
To: Chris Olsen ***@***

[2021-04-07 01:25] Norafify89 commented on #72922
Hi @JamesTran-MSFT,

Yes it's clearly now. If during the installation I have problem where should I contact you and your team?

Thank you so much for the explanation.

[2021-04-07 01:30] Karishma-Tiwari-MSFT commented on #73345
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-07 01:35] tigormanoak commented on #72571
Tim,

There is no WorkloadPatch.py that comes with the image (Oracle:oracle-database-19-3:oracle-database-19-0904:latest) nor is the required directory structure in place (/var/lib/waagent/Microsoft.Azure.RecoveryServices.VMSnapshotLinux-1.0.9174.0/main).
I would imagine this is why things aren't working properly.

***@***.*** ~]# ll /var/lib/waagent
total 141568
-r--------. 1 root root      1280

[2021-04-07 01:48] tigormanoak commented on #72571
Just found the VM backup extensions to waagent, where is states they get installed as part of first backup. (https://github.com/Azure/azure-linux-extensions/tree/master/VMBackup)
Will try that and see if WorkloadPatch.py turns up and if there are any differences.

Regards,
Chris

Chris Olsen
Cloud Solution Architect | Data & AI | One Commercial Partner
Chris.Olsen@Microsoft.com<mailto:Chris.Olsen@

[2021-04-07 01:51] Karishma-Tiwari-MSFT commented on #73151
RDS is a legacy service, which is being replaced by the newer Windows Virtual Desktop (WVD) technology.

The [referenced](https://docs.microsoft.com/en-us/azure/virtual-desktop/rd-gateway-role) document talks about WVD support of RD Gateway, which is in Public Preview.

Here is an article on differences between RDS and WVD: https://cloud.netapp.com/blog/azure-anf-blg-azure-remote-desktop-services-

[2021-04-07 01:51] #73151 closed

[2021-04-07 02:01] BharathNimmala-MSFT commented on #72792
@blhubbard Apologies for delay on this , post discussing with our team it has been called out that we need to have few more edits for the document mentioned in this thread and we will have a internal work item to combine the feedback you have shared with other edits needed.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been list

[2021-04-07 02:01] #72792 closed

[2021-04-07 02:17] knssub opened #73347 "No info on Storage"
[Enter feedback here]
I am really surprised that there is no documentation on storage here. How would one provision and plan for storage. The documentation should be improved, the pricing page does not talk about any storage at all. For any such offerings, you should also provide details on storage, network, and compute.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-04-07 02:23] ChaitanyaNaykodi-MSFT commented on #73340
Hello @gitmadness,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-07 02:45] jeffpatt24 commented on #59780
#please-close

[2021-04-07 02:45] #59780 closed

[2021-04-07 03:43] MarileeTurscak-MSFT commented on #73329
@ramayse
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 04:05] RohitMungi-MSFT commented on #73327
@JustinGalbraith Could you please let us know the document link you are referring to? This will help us direct the issue to the right team. Thanks!!

[2021-04-07 04:13] tigormanoak commented on #72571
Hi Tim,

After the first backup the VM backup extension (v 1.0.9175.0 ) was installed.
There are significant differences between the WorkloadPatch.py downloaded and the corrected new python script you supplied the link to.
The installed version is missing the function readOracleList and a lot of supporting code.

Tested with the corrected python script and app consistent backup works across all da

[2021-04-07 04:28] antothomas23 opened #73349 "Does validation activity in ADF accepts wildcard paths for folder name ?"
Closed the previous issue without clarifying the doubt I asked. #73178

I would like to check the existence of an .ack file in a folder which will be having name with date and time. (eg: folder name = 2021-03-31-01-19-21).

The day day part in the folder can be set, but we are not sure about the time part in the folder name, it depends on the time of creation of that folder. Tried to add this path

[2021-04-07 04:33] AnuragSharma-MSFT commented on #73344
@omerzubair Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-07 04:33] ram-msft commented on #73227
@epa095 Thanks. Raised PR for the AutoMLStep class to use the Azure Machine Learning pipeline [steps ](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps?view=azure-ml-py)package.
train_step = AutoMLStep(name='AutoML_Classification',
                        automl_config=automl_config,
                        outputs=[metrics_data, model_data],

[2021-04-07 04:39] AshokPeddakotla-MSFT commented on #73343
@petertuton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-07 04:40] SwathiDhanwada-MSFT commented on #73328
@TrentShoun Thanks for your feedback.

Assigning to content author @rayne-wiselman for review.

[2021-04-07 04:53] SaiKishor-MSFT commented on #73183
@cherylmc Please let me know if we can add information regarding split tunnel to this document?

[2021-04-07 04:56] #73050 closed

[2021-04-07 04:56] #73173 closed

[2021-04-07 05:00] ram-msft commented on #73232
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-07 05:00] #73232 closed

[2021-04-07 05:01] lalitm14 opened #73351 "what is the Microsoft BOM for the DID Issuing and Verifying solution?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8439886f-5459-ec15-c482-d90bb59ae85e
* Version Independent ID: 23bf7980-1ba8-06e9-da12-088c527a016f
* Content: [Frequently asked questions - Azure Verifiable Credentials (preview)](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-cre

[2021-04-07 05:03] ram-msft commented on #73227
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-07 05:03] #73227 closed

[2021-04-07 05:15] hund030 opened #73352 "Is Azure Storage static website feature available for storage without hierarchical namespace"
The [static website document](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website) saying that `The features described in this article are now available to accounts that have a hierarchical namespace`. Does it mean those storages without hierarchical namespace can't enable static website?

I have created a storage and enable my static website with below cli commands:
[

[2021-04-07 05:52] AnuragSharma-MSFT commented on #73273
@NetRushJacob Thanks for the response.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-07 05:52] #73273 closed

[2021-04-07 05:57] CHEEKATLAPRADEEP-MSFT commented on #73349
@antothomas23  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-07 05:58] TravisCragg-MSFT commented on #73347
@knssub Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-07 06:01] AnuragSharma-MSFT commented on #73301
@Bafff Thanks for reporting this. I have created a PR as below:
![image](https://user-images.githubusercontent.com/66360845/113817900-ab4f7f80-9794-11eb-8002-26fe333bc4d0.png)

This PR could take few days to get approved and will then be live in this document. Please let us know if you have any other queries.

[2021-04-07 06:14] davidobrien1985 commented on #5297
@ruifrvaz that header was renamed?
We also used to be able to get the trace information, but not anymore.

We are adding `Ocp-Apim-Trace : true and Ocp-Apim-Subscription-Key` to the request and are getting the same error as stated here.

[2021-04-07 06:19] Sri-Charan11 opened #73353 "Script not working"
Hi,

The script to extract drop/add foreign key script is returning with blank output (in mysql workbench).

Please guide me through this.

Regards,
Sri Charan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f155bac-1a8d-184d-6fe8-8784ec0e86bb
* Version Independent ID: 8943d45f-d066-0c23-a01d-e4ef4200f4e7
* Content: [T

[2021-04-07 06:27] ssivas commented on #73117
@kachihro , Hope above information help you.

#please-close

[2021-04-07 06:27] #73117 closed

[2021-04-07 06:29] #73301 closed

[2021-04-07 06:30] ssivas commented on #72992
We will now proceed with closure of this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

@please-close

[2021-04-07 06:36] AnuragSharma-MSFT commented on #73353
@Sri-Charan11 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-07 06:38] Klaas- opened #73354 "Wrong json to update legacy Log Analytics Alert API"
Hi,
'{"scheduledQueryRulesEnabled": "true"}' (https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/azure-monitor/alerts/alerts-log-api-switch.md#L54)

should be

'{"scheduledQueryRulesEnabled": true}'

because true is not a string but a boolean

Highlighting the author: @msvijayn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-04-07 06:41] SumanthMarigowda commented on #73341
@MiguelMejiaDca Are you facing any issue? Can you explain is there any issue with the doc or facing any issue with azcopy?

[2021-04-07 06:43] SumanthMarigowda commented on #73352
@hund030 Thanks for your question. We are checking on this and will respond to you soon.

[2021-04-07 06:47] Dharm78 commented on #73242
I had to make following changes to client.js file.

callStateChanged---------->stateChanged
renderReceivedMessage(e.content)--------->renderReceivedMessage(e.message)
renderSentMessage(e.content)--------------> renderSentMessage(e.message)

[2021-04-07 07:31] KrishnaG-MSFT commented on #73354
@Klaas- Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-07 07:33] pmillart opened #73356 "Docker run command doesn't work"
Bonjour,

When we try to run the command docker run as explain in the documentation the container version 3.2-preview.2 does'nt start.
The variables are interpreted as command line.
We have an error message like **[cmd] Eula=accept exited 126**
One workaround is to set the variables in a file and call them with a  --env-file

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-07 07:33] hansmbakker opened #73357 "V4 should be documented as preview"
The V4 SDK is a preview release but this documentation page does not mention that it should not be used other than for experiments. In the SDK github repo, enough people report already that they have been bitten by V4 looking closer to a release than it is.

The last V4 preview update was 3 months ago with no expressed intention to release it anytime soon.

https://github.com/Azure/azure-cosmos-do

[2021-04-07 07:52] ChaitanyaNaykodi-MSFT commented on #73162
Hello @duyn9uyen, apologies for the delay in my response.
In [this scenario ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources) the `appsettings.json` file is referenced as an example of optional environment-specific app settings file which you can copy to  the function app's output folder after deployment.
The `local.se

[2021-04-07 07:55] KrishnaG-MSFT commented on #73055
@jokarl Thanks for bringing this up! Currently we don't yet map body data for "resourcespecific" logs. The work to support this is already done but just the rollout is pending. We will check and push it out ASAP.

[2021-04-07 07:59] blessedwithsins opened #73358 "AKS Integration with Azure KeyVault"
Hi Team,

I was trying to integrate AKS with Azure KeyVault. However, it was failing with below error.

`
Events:
  Type     Reason       Age               From               Message
  ----     ------       ----              ----               -------
  Normal   Scheduled    14s               default-scheduler  Successfully assigned default/nginx-secrets-store-inline-rakesh to aks-aksakv-14120040-

[2021-04-07 08:00] jokarl commented on #73055
That is great to hear, thank you. I will keep this open and await a status update and then see if it works and then close this issue.

[2021-04-07 08:03] Risto-Matti-Dev opened #73359 "az container create with VNet settings fails into error on Azure CLI version 2.21.0"
While running Azure CLI command:

az container create --name tfappcontainer --resource-group FirewalltestRG --image mcr.microsoft.com/azuredocs/aci-helloworld  --vnet aci-vnet --vnet-address-prefix 10.0.0.0/16 --subnet aci-subnet --subnet-address-prefix 10.0.0.0/24

Following error occurs:

The command failed with an unexpected error. Here is the traceback:
'NetworkProfile' object has no attribute

[2021-04-07 08:06] KrishnaG-MSFT commented on #73146
@TRViana This is by design. In the backend, each feature has an enrollmentType that defines how these feature flags are discoverable and how registration/approval works.

“Microsoft.Resources/FranceSouth” has an enrollmentType “autoEnroll”, which means that a user will not be able to sign up for this feature, only the feature owner or Microsoft Support representative (with access to Secured Access

[2021-04-07 08:10] PramodValavala-MSFT commented on #72063
@stefanushinardi Thanks for the insight!

@jaehyunshinML Hope that clears things up. We have assigned this issue to the content author to review and update accordingly.

[2021-04-07 08:17] RohitMungi-MSFT commented on #73334
@Karenzhang7717 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-07 08:19] dirkslab commented on #63642
@aramesh-msft to add. I do have diagnostics enabled. RulesEngineMatchNames gives you the Rule name.

[2021-04-07 08:21] AnuragSharma-MSFT commented on #73357
@hansmbakker Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-07 08:21] matthiasguentert opened #73360 "The SAS is missing a required services ('ss') parameter"
When following the steps as described under "Standard custom setup samples >b. Select Use a SAS URI and then, in the URI text box, enter the following SAS URI:

I receive `The SAS is missing a required services ('ss') parameter` when connecting with Azure Storage Explorer version 1.18.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-07 08:42] anarii opened #73362 "Exchange recipient administrator Azure Active Directory role missing in the documentation"
Recently added Azure Active Directory role Exchange recipient administrator is missing completely in this directory role documentation. It seems some other recently added directory roles like Hybrid Identity Administrator have been documented but the Exchange recipient administrator role is missing.

Also, any additional information how this role actually works? It seems to not be linked to the Ex

[2021-04-07 08:47] sschols opened #73363 "Available service tags list is incomplete"
The table under "Available service tags" is supposed to contain all service tags available for configuration within an NSG. This does not seem to be the case; I can find options in the Portal when creating an NSG role that are not part of this list, like "AzurePortal".

Can you update the list accordingly? Unfortunately, the JSON files mentioned later don't have a specific description as to what t

[2021-04-07 08:50] gicat opened #73364 "Is managed identity mandatory?"
From the documentation it may seem that managed identity is not mandatory? Is that true?
If mandatory, is it possible to add managed identity to an existing cluster?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56

[2021-04-07 08:52] j-mantu commented on #72552
Thank you @svdHero . The handling of the response is dependent on an apps scenario and what the developer wants to do after logging in hence the //handle redirect response comment. Our samples however provide examples of how to display the logged in user's name. Please see https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp/app
#pl

[2021-04-07 08:52] #72552 closed

[2021-04-07 09:03] rayne-wiselman commented on #73328
#reassign:v-harisudhan

[2021-04-07 09:03] rayne-wiselman commented on #73164
#reassign:v-harisudhan

[2021-04-07 09:03] andagon commented on #73009
Hi, CSS was not working. I used Javascript to set the display style. There is one minor issue. As soon as I start typing the email, the text disappears again due to some injected JS code I guess.

Basic question: Is this the intended way to activate the info message via JS or will it be changed in the future?

[2021-04-07 09:04] rayne-wiselman commented on #70141
#reassign:v-harisudhan

[2021-04-07 09:04] rayne-wiselman commented on #69700
#reassign:v-harisudhan

[2021-04-07 09:04] rayne-wiselman commented on #65548
#reassign:v-harisudhan

[2021-04-07 09:04] rayne-wiselman commented on #63925
#reassign:v-harisudhan

[2021-04-07 09:05] rayne-wiselman commented on #58804
#reassign:v-harisudhan

[2021-04-07 09:05] rayne-wiselman commented on #57981
#reassign:v-harisudhan

[2021-04-07 09:05] rkkr opened #73365 "Sample API Management Liquid DateTime formatting is invalid"
Sample DateTime formatting is invalid:
[code]

Should be:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bfc-df28-c601-ffe2-244bf261e869
* Version Independent ID: e2c3a983-4f42-3aa7-1432-6221365c74aa
* Content: [Azure API Management transformation policies](https://docs.microsoft.com/en-us/azure/api-manageme

[2021-04-07 09:05] rayne-wiselman commented on #56754
#reassign:v-harisudhan

[2021-04-07 09:05] rayne-wiselman commented on #70344
#reassign:v-harisudhan

[2021-04-07 09:06] rayne-wiselman commented on #65184
#reassign:v-harisudhan

[2021-04-07 09:06] rayne-wiselman commented on #56207
#reassign:v-harisudhan

[2021-04-07 09:06] rayne-wiselman commented on #54983
#reassign:v-harisudhan

[2021-04-07 09:07] rayne-wiselman commented on #53019
#reassign:v-harisudhan

[2021-04-07 09:07] rayne-wiselman commented on #52643
#reassign:v-harisudhan

[2021-04-07 09:07] rayne-wiselman commented on #51630
#reassign:v-harisudhan

[2021-04-07 09:07] rayne-wiselman commented on #50822
#reassign:v-harisudhan

[2021-04-07 09:08] wukun2015 commented on #73285
any update please ?

[2021-04-07 09:09] venkat1017 opened #73366 "unable to deploy SQLMI VNet Using ARM deployment"
We saw there is a new addition to the UDR for SQL MI recently which got changed from 169 route to include service tags as part of route table
[Powershell script to help validate and prepare ](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-sql%2Fmanaged-instance%2Fvnet-existing-add-subnet%23validate-and-modify-an-existing-virtual-network

[2021-04-07 09:37] sjoubert opened #73368 "AMQP CBS token type support errors"
Hi,

In implementing my own AMQP client, I found out that the [Claims-based authorization](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-bus-messaging/service-bus-amqp-protocol-guide.md#claims-based-authorization) have wrong information. Especially the token type table. From what I've seen and been able to implement:
* The SWT token type is not supported while the JWT on

[2021-04-07 09:42] AshokPeddakotla-MSFT commented on #73090
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

[2021-04-07 09:42] #73090 closed

[2021-04-07 09:43] asergaz commented on #48278
@tesych @qm13 are we adding this info to the doc anytime soon? Please see an identical request in Microsoft Q&A thread: https://docs.microsoft.com/en-us/answers/questions/344156/index.html

Thanks

[2021-04-07 09:44] SubhashVasarapu-MSFT commented on #73128
@jyotiprakash90, here is the info from the doc I have highlighted in my previous response,
![image](https://user-images.githubusercontent.com/44890829/113845451-2758c000-97b3-11eb-9103-a919d7d32626.png)

Unfortunately enabling accelerated networking on an existing VM is not available today from the portal side. Looks like the doc you were referring to needs a PR. We recommend you use PowerShell fo

[2021-04-07 09:53] candidson commented on #35923
I also do not yet see this topic as closed

[2021-04-07 09:54] jyotiprakash90 commented on #73128
Hi,

This option is available now as below:
***@***.***D72BC2.0A7FDAC0]

Regards,
Jyoti Prakash
From: suvasara ***@***.***>
Sent: Wednesday, April 7, 2021 3:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jyoti Prakash Nayak ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Enabling Accelerated Networking via Azure Portal (#73128)

@jyotiprakash90<https://nam06.safelin

[2021-04-07 09:58] tejinderrai opened #73369 "Azure Storage: "Only block blobs are currently supported.""
Hello,

I noticed in this article, it states that "Only block blobs are currently supported". Whilst I understand that Data Share only supports the transfer to a "block blob" blob type to the target storage account, if the source storage account has page blobs, which are not leased, these are copied across to the target mapped storage account as block blobs, perhaps because the blob type is set in

[2021-04-07 10:13] tejinderrai opened #73370 "Update to text in the article: Storage Snapshot Performance section"
Hello, I have found an update required to the text in the "Storage Snapshot Performance" section.

The last bullet point states "For incremental snapshot, number of files in the shared dataset can impact the time takes to find the list of files with last modified time after the last successful snapshot."

It would read more easily, by stating: "For incremental snapshot, **the** number of files in

[2021-04-07 10:14] shashishailaj commented on #73351
@lalitm14 Thank you for your query . Could you please clarify what you mean by BOM ? Do you mean Bill of materials  or the cost associated with using this service at this point ?

[2021-04-07 10:15] shashishailaj commented on #73364
@gicat Thank you for your query. We will investigate and update the thread further.

[2021-04-07 10:19] shashishailaj commented on #73362
@anarii Thank you for your query . We will investigate and update the thread.

[2021-04-07 10:20] shashishailaj commented on #73362
@rolyon Could you please review and help on this one?

[2021-04-07 10:23] hj2m commented on #16381
is this problem still unsolvable?

[2021-04-07 10:23] shashishailaj commented on #73358
@blessedwithsins Thank you for pointing this out an sharing your findings . We appreciate the help . We will have this reviewed on our side and accordingly work with the authors to get this fixed.

[2021-04-07 10:24] JayaChatterjee-MSFT commented on #73070
@xuwenjian1995 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-07 10:24] #73070 closed

[2021-04-07 10:31] sachinpanwar opened #73371 "Add daily per-key quota cap of 86,400 requests per day (UTC day)"
Can we please update this document and add this limit as well?

daily per-key quota cap of 86,400 requests per day (UTC day).

Reference: https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/17365018-enable-higher-rate-limits-for-the-data-access-rest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-04-07 10:34] lalitm14 commented on #73351
Yes what Microsoft components and perhaps a azure pricing calculator estimation

Regards

Lalit

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ShashiShailaj-MSFT ***@***.***>
Sent: Wednesday, April 7, 2021 6:14:37 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: lalitm14 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] what is the Micro

[2021-04-07 10:43] medha-bhatt opened #73372 "This is misleading information - Purview has removed the whole relationship feature while ADC has it - can't view relationships amongst columns in Purview."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84fb447e-9bbc-426a-46a2-f52c8eb988d2
* Version Independent ID: a8d6fffe-4d22-b107-dc1c-28df0e34510c
* Content: [How to view related data assets in Azure Data Catalog](https://docs.microsoft.com/en-us/azure/data-catalog/data-catalog-how-to-view-related

[2021-04-07 11:05] limjianan-camelody opened #73373 "Missing on steps to register for creation?"
There must a missing step
When i try to create the VM,
I hit the error

"The subscription is not registered for creation of VMs with TrustedLaunch security type"

I would thought this is already gone to public preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee728ba-a880-324c-83e7-84936b4d9533
* Version Indepen

[2021-04-07 11:13] swinarko commented on #73360
Unfortunately, I can't reproduce this issue as I can always detach and reattach our public preview container on Azure Storage Explorer 1.18.1 using the provided SAS URI.  #please-close

[2021-04-07 11:13] #73360 closed

[2021-04-07 11:15] amanmcse commented on #73216
Hello @montereyharris • I have updated the warning to: **Moving a key vault to another subscription linked to a different Azure AD tenant will cause a breaking change to your environment.**
I've sent the change to the author to review and merge.

[2021-04-07 11:15] #73216 closed

[2021-04-07 11:16] limjianan-camelody commented on #73373
Okay, after some investigation.
The error message is about region MUST be in South Central US or North Europe.
If not, it will provide a weird message like "The subscription is not registered for creation of VMs with TrustedLaunch security type"

[2021-04-07 11:16] #73373 closed

[2021-04-07 11:34] m1nkeh opened #73374 "Where is episode.avsc"
This doc references a file, but can't locate it anywhere..

`episode.avsc`

![image](https://user-images.githubusercontent.com/79183421/113982638-9fcc8900-9866-11eb-9c9e-5b7bf74ccc18.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f2d051-aac6-4e47-cbf4-e7e8ead230dd
* Version Independent ID: b0767d87-271d-0087-2b1

[2021-04-07 11:34] SenthuranSivananthan opened #73375 "DCR can be configured through ARM template - need to update section."
DCRs can be added through ARM templates.  However the section "Create association using Resource Manager template" says that it can't.  Please update.

![image](https://user-images.githubusercontent.com/16688027/113860123-acbc8000-9773-11eb-88ec-21cb4a96e627.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f21db223-

[2021-04-07 11:35] SwathiDhanwada-MSFT commented on #73375
@SenthuranSivananthan Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-07 11:37] PramodValavala-MSFT commented on #73365
@rkkr Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-04-07 11:45] PramodValavala-MSFT commented on #73368
@sjoubert Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-04-07 11:47] #73365 closed

[2021-04-07 11:47] SadiqhAhmed-MSFT commented on #73143
@AjKundnani While enabling replication, you must have created a fabric object to represent the DR region using something like:
$TempASRJob = New-AzRecoveryServicesAsrFabric -Azure -Location 'West US'  -Name "DRFabric-WestUS"

You can reuse the -Name parameter subsequently to address the recovery fabric object. For e.g.:
$RecoveryFabric = Get-AzRecoveryServicesAsrFabric -Name "DRFabric-WestUS"

Hop

[2021-04-07 11:47] lgayhardt commented on #72791
Closing this issue for now but let us know if the fix above doesn't work for you or if you have any additional questions.

Thank you
#please-close

[2021-04-07 11:48] #72791 closed

[2021-04-07 11:49] SadiqhAhmed-MSFT commented on #73229
@MGoedtel For visibility and further assistance on this.

[2021-04-07 11:52] Nishco opened #73376 "databricks wont generete StorageAccountIdentity.PrincipalId"
hi there

StorageAccountIdentity.PrincipalId  is null so I cannot run Set-AzKeyVaultAccessPolicy

Please try to follow steps and run Set-AzKeyVaultAccessPolicy.
you will get following error

Set-AzKeyVaultAccessPolicy : Cannot validate argument on parameter 'ObjectId'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.
---
#### Document De

[2021-04-07 12:07] CHEEKATLAPRADEEP-MSFT commented on #73369
@tejinderrai  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-07 12:09] CHEEKATLAPRADEEP-MSFT commented on #73370
@tejinderrai  Thanks for the feedback! We are investigating and will update you shortly.

[2021-04-07 12:10] CHEEKATLAPRADEEP-MSFT commented on #73372
@medha-bhatt  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-07 12:15] its-phil opened #73377 "DPS: maximum duration between entering TPM EK and device deployment"
In the referenced article there's a note in step 4 of the "General manufacturing timeline" that reads:

1. Does this refer to the maximum amount of time that may pass between the device manufacturer entering the TPM's EK_pub into the DPS and the device connecting to the DPS for the first time?
2. What are the reasons for this limit? Is there a piece of documentation you can refer me to?
3. What ha

[2021-04-07 12:15] CHEEKATLAPRADEEP-MSFT commented on #73374
@m1nkeh  Thanks for the question! We are investigating and will update you shortly.

[2021-04-07 12:16] CHEEKATLAPRADEEP-MSFT commented on #73376
@Nishco  Thanks for the question! We are investigating and will update you shortly.

[2021-04-07 12:19] svdHero commented on #72552
@j-mantu could you reopen, please? I had already checked all the Microsoft samples you mentioned and they did not answer my questions. I really think that there is a gap in the documentation when it comes to `acquireTokenRedirect` , escpecially for beginners.

I haven't found any code sample that explains how the actual access token can be retrieved after `acquireTokenRedirect`. Those few code sam

[2021-04-07 12:27] Moorepheus opened #73378 "Already out of date?"
Trying to give an additional login rights to change the database, but the examples you give in this topic are incorrect.  I am not sure what I should be doing here.

Okay, through trial and error, I figure it out.   You can close this or delete it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb2d3ad-4751-0055-82ea-

[2021-04-07 12:34] jeanmarc opened #73379 "Incorrect reference to log() - should be workspace()?"
The note at the top of this page states "... Use the log() expression to write ...", shouldn't that be `workspace()`?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 308fb374-f4c6-74c4-806a-59f863e4040c
* Version Independent ID: 9aded2b4-524e-5ece-da83-c8d6eebd0731
* Content: [app() expression in Azure Monitor log queri

[2021-04-07 12:35] dfendit commented on #40680
This remains an issue in combination with an Application Gateway. If you disable the check, it works however I believe this is not best-practice security...

[2021-04-07 12:43] KrishnaG-MSFT commented on #73379
@jeanmarc Thanks for your feedback and PR! We will review and provide an update as appropriate.

[2021-04-07 12:45] PaloSP opened #73380 "Enable Application Insights logging for my API using PowerShell"
Hello, is it possible to enable Application Insights logging for my API using PowerShell commands?

I have already created Application Insights so this will not help me ( [Azure CLI with APIM creator tool](https://github.com/Azure/azure-api-management-devops-resource-kit/tree/master/example/diagnostics))

I am following this [instructions](https://github.com/Azure/azure-powershell/blob/master/src/

[2021-04-07 12:48] atvoid opened #73381 "How to login azure context when using deploymentScripts"
How to login azure context when using deploymentScripts ? I always meet the error below. From the doc, when using 2020-10-01 api version, we don't need to add "identity" to the payload. But how to use storage powershell to upload a blob by using the deployment scripts ?

And the script first line contains "Connect-AzAccount", but the error still ask me to connect. it's weired.

My template is here

[2021-04-07 12:55] SteveColegrove opened #73382 "ADF, AKV, and RBAC model"
When using Key Vault as a linked service in a Data Factory, can the Key Vault use the RBAC model of access instead of the Access Policy model?  In other words, can the Data Factory managed ID be granted an RBAC role to gain access to the vault instead of having to use an Access Policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-07 13:02] AjKundnani commented on #73143
Hello @SadiqhAhmed-MSFT - No, I don't create the fabric object. The scenario am working on is more on-premises to Azure Scenario.

Below is the code used to enable the replication for Hyper-V VM in ASR

[code]

[2021-04-07 13:03] jonathanantoine commented on #62110
Any update ?

[2021-04-07 13:13] duyn9uyen commented on #73162
What would the benefit be to have an environment-specific `appsettings.json` copied to the output folder? That file will neither be read by the Function app in Azure or used for deployment when publishing with VS or VSC.

The  `appsettings.json` file seems to only apply to other [dotnet core applications](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#

[2021-04-07 13:18] weimarcoro commented on #16566
Is anyone also having the same problem but with Azure AD B2C? in my case the email is not returned.

[2021-04-07 13:20] spelluru commented on #73243
@dionito - Thanks for the feedback. Appreciate it. We will track it via an internal DevOps work item and add portal steps as soon as possible. Thanks.

[2021-04-07 13:22] aroon0808 commented on #14254
Hi guys, as You said, we can use azure sql image instead of mssql, but what if I can only download ready made container with mssql image? Have u any tutorial how to setup that azure image?

[2021-04-07 13:28] dgcaron opened #73383 "add a warning that you can't enable any firewall rules on the connected storage account"
at the moment of writing this comment, there seems no way to set a firewall rule and/or create a private endpoint for the storage account used for the cold store.  when you apply a firewall rule, the time series gen2 stops writing to the storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af1e801-c95c-487d

[2021-04-07 13:35] mrochon opened #73384 "Clarify that Core 5 does not use suffix '2' for same templates as 3.1"
Based on this documentation I was trying to use 'mvc2' when trying to create an MVC project with Microsoft.Identity.Web. That produced an error saying that the temaplate does not exist. I now understand the '2' suffix applies only to 3.1 templates. For 5.x templates it should be omitted (making the table displayed in the docs incorrect). Please make it clearer.

---
#### Document Details

⚠ *Do no

[2021-04-07 13:39] RohitMungi-MSFT commented on #73382
@SteveColegrove Thanks for the question. Are you referring to any document from the ADF service that could help us direct this query to the correct team. If Yes, could you please post the link here?

[2021-04-07 13:39] Alexandrovdi opened #73385 "Can't change "DefaultAnswer" phrase"
when you ask a question that is not in the knowledge base, the bot responds with the default phrase. But attempts to change the phrase both through the App Service in Azure and in the qnamaker settings do not lead to anything. I did everything as in the documentation. The bot was created through the qnamaker portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-07 13:40] JustinGalbraith commented on #73327
Hello,

https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-addresses

[2021-04-07 13:43] RohitMungi-MSFT commented on #73327
@JustinGalbraith Thanks for the document link. I have updated the issue so the right team could address your query. Thanks!!

[2021-04-07 13:51] SwathiDhanwada-MSFT commented on #73371
@sachinpanwar Thanks for your feedback. I have raised PR to make change and once approved, the changes will be live soon.

[2021-04-07 13:54] SwathiDhanwada-MSFT commented on #73381
@atvoid Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-07 13:59] RohitMungi-MSFT commented on #73356
@pmillart Thanks for reporting this. I have run the command and it seems to run as expected. Is it possible to provide the complete command you used to report the same to our team?

[2021-04-07 14:07] Jez85 opened #73386 "Build failing"
The Build fails
Error CS0246: The type or namespace name 'ChatHub' could not be found (are you missing a using directive or an assembly reference?) [C:\Users\jehanzeb.ahmed\OneDrive - Accenture\1-Work\1 Sol Dev\1-PCE\1- Wave 11\Azure SignalR\DotNetCoreSample\DotNetCoreSample.csproj]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-07 14:07] thepill opened #73387 "Wrong variable name in python example"
Hello there 👋

there is a wrong variable name in the python example (testing access to the vault)
https://docs.microsoft.com/de-de/azure/key-vault/general/authentication-fundamentals#authentication-process-for-application-python-example

the line
`cert_path = "{ENTER YOUR CLIENT SECRET HERE}"`

should be
`client_secret = "{ENTER YOUR CLIENT SECRET HERE}"`

Actually i wanted to open a pull request,

[2021-04-07 14:09] asergaz commented on #70976
fyi @nberdy to comment. Thanks

[2021-04-07 14:12] m-wester opened #73388 "Update instructions to provide App Federation metadata URL instead of downloaded XML file"
I am a senior technician on OverDrive's Integration team (who performs these setups), and the following request will help streamline the setup for our mutual partners. We do not need the raw XML metadata file -- it is better if we have the IdP metadata URL, so we can automatically pick up any changes like certificate renewals. We do request the IdP metadata URL in communication with our partners b

[2021-04-07 14:14] Wildshot opened #73389 "Not all special characters that are not allowed are listed."
[Enter feedback here]
There are several special characters missing from the Microsoft.Compute section for the virtualMachines Entity.  These are "! # $ % ^ ( ) {  and }".  Now, while the Ibiza portal will tell you there is an error when you are creating the VM, if you are trying to setup an API to deploy VMs, it doesn't warn you during the setup of the API; you only get an indication after the API

[2021-04-07 14:20] Snozzberries opened #73390 "Reference how to use comments"
Currently the guide does not reference the use of comments in Bicep files.

Adding this to the code examples would be beneficial.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fb6c84-311d-56ad-f810-2604dda37974
* Version Independent ID: ab432d50-83e3-f83b-bb6f-80c8f06a8871
* Content: [Tutorial - Create & dep

[2021-04-07 14:20] gcormier opened #73391 "Wording for Compliance Administrator"
Users with this role have permissions to manage compliance-related features in the Microsoft 365 compliance center, Microsoft 365 admin center, Azure, and Office 365 Security & Compliance Center. **Assignees can also manage all features within the Exchange admin center** and Teams & Skype for Business admin centers and create support tickets for Azure and Microsoft 365.

The wording implies a Comp

[2021-04-07 14:54] johnayoub opened #73392 "Response Header Re-write"
Is there's a way to do response header re-writes similar to [application gateway](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#modify-a-redirection-url)? The options seems very rigid at the moment. I'm interested in response header rewrites for app services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-07 15:01] pmillart commented on #73356
@RohitMungi-MSFT please find the run command:
docker run --rm -it -p 5000:5000 --memory 16g --cpus 2 mcr.microsoft.com/azure-cognitive-services/vision/read:3.2-preview.2 Eula="accept" Billing=${ENDPOINT_URI} ApiKey=${API_KEY}
The same command was OK with the version read:2.0-preview

[2021-04-07 15:07] JonParton opened #73394 "Windowing - Session Diagram mistake?"
Hi there,

It appears like there is an error in the diagram for the Session Window example.

The query has a maximum duration of 10 minutes however the second window shown is ~ 17 minutes long.

![image](https://user-images.githubusercontent.com/15039843/113889435-2461cd80-97bb-11eb-834d-e3c69a9f83d6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-04-07 15:09] #73378 closed

[2021-04-07 15:09] omeramin opened #73395 "ADF connection to onPrem Azure DevOps"
_"An Azure subscription linked to Visual Studio Team Foundation Server or Azure Repos that uses the Azure Resource Manager service endpoint."_

The above seems to imply that the Visual Studio Team Foundation SERVER (I assume this means the onPrem instance) is supported for ADF. Based on the UI in the portal, I cant seem to find a way to configure a connection to an onPrem installation of Team Foun

[2021-04-07 15:26] andyjballgit opened #73396 "How do you get the prices for VM Reservations / What permissions are required for EA"
Trying to lookup the Prices for Reservations for various VM Sizes so we can do some analysis , for an EA Enrollment.

I can't find where it is documented on how you retrieve those prices - doesnt appear to be in the Price List , cant find how to documented anywhere

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a4a8f8

[2021-04-07 15:34] nberdy commented on #70976
@jonmikeli Part of the confusion comes from showing "self-signed certificate" when really what is meant is "thumbprint-based certificate". DPS registers the thumbprint of the device's X.509 certificate in IoT Hub.

[2021-04-07 15:37] #71563 closed

[2021-04-07 15:46] emayljames opened #73397 "Laravel != PHP"
Hi,

I am having nightmares trying to setup a custom PHP codebase on Azure App Services, and the only real instructions seem to confuse Laravel for PHP (it is a PHP framework).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac69cc1-da55-0221-3068-68c32247cf07
* Version Independent ID: f990d756-a826-dbdd-29b6-3f7663521

[2021-04-07 15:50] JamesTran-MSFT commented on #73384
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-07 15:50] kilasuit opened #73398 "Event sources diagram shows Azure Policy twice"
On viewing this page the attached image shows Azure policy twice

![image](https://user-images.githubusercontent.com/6355225/113895470-ecf61f80-97c0-11eb-8eb3-1e33262474eb.png)

as highlighted below
![image](https://user-images.githubusercontent.com/6355225/113895204-a56f9380-97c0-11eb-8c6a-3645ff4cd9ba.png)

However this isn't the case when you click onto the image, which shows as below

![image]

[2021-04-07 15:52] JamesTran-MSFT commented on #73387
@thepill
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 15:55] JamesTran-MSFT commented on #73388
@m-wester
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-07 15:56] GiftA-MSFT commented on #73303
@cveld v3.2 public preview version would have the latest features with additional language support. However, please refer to [OCR ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/overview-ocr)> **Reference** tab for links to available versions. I'd recommend using [v3.1](https://westcentralus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-1-ga/operations/5d

[2021-04-07 15:56] YutongTie-MSFT commented on #73385
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-07 15:56] SaurabhSharma-MSFT commented on #73395
@omeramin Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 15:58] JamesTran-MSFT commented on #73391
@gcormier
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 16:00] mimckitt commented on #72082
@jose-l-carvalho I will add you to the email thread offline.

#please-close

[2021-04-07 16:00] #72082 closed

[2021-04-07 16:03] KrishnaG-MSFT commented on #73390
@Snozzberries Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-07 16:04] JamesTran-MSFT commented on #73324
@sjthompsonengl
Thank you for the quick response on this!

For your JourneyFraming tag, can you share what tag you added under the RelyingParty tag? Additionally, it doesn't look like your screenshots uploaded correctly, can you try uploading them again, it would be much appreciated!

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-07 16:08] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for your time and patience throughout this issue, and I'm glad that I was able to help clarify these questions for you!

If you run into any issues during installation, I'd recommend leveraging our [Q&A forums](https://docs.microsoft.com/en-us/answers/products/), specifically - [azure-active-directory](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.htm

[2021-04-07 16:08] #72922 closed

[2021-04-07 16:22] TRViana commented on #73146
Hi Krishna, thanks for the input.
We are reaching out to the Capacity team for help!
I guess that I shall close this thread, so doing it 😄

[2021-04-07 16:22] #73146 closed

[2021-04-07 16:32] timlt commented on #73377
Hi, thanks for reaching out!  I understand the question, basically you're looking for clarification on the meaning of this statement, and also, what is the impact to users if a device sits in a warehouse for that long.

I've submitted a pull request with the following update to that sentence, it should appear on the live site within the next day or two.

"A device can sometimes sit in a warehouse

[2021-04-07 16:37] spelluru commented on #73398
@kilasuit - Thank you for reporting the issue. Appreciate it. I will fix it and publish the updated image today. Thanks.

[2021-04-07 16:37] spelluru commented on #73398
#assign:spelluru

[2021-04-07 16:38] pvrk commented on #16381
We have started integration with Azure Monitor for alerting. With Azure Monitor integration you can configure notifications programmatically. While there is not a direct PS cmdlet to do it, you can use the Action Rules and Action Groups API of Azure Monitor which are publicly documented. (Note - 'Action Group' roughly refers to the email id to which notification should be sent and 'Action Rule' re

[2021-04-07 16:44] anastasia-ms commented on #73334
@Karenzhang7717  Can you send a link to your package file?

[2021-04-07 16:46] HarshitaSingh-MSFT commented on #73293
@fafallou, after deep dive, we got to know that it is available on D2v4 (but not all types). Please be informed that we will update the doc with this and we thank you for reporting this.

[2021-04-07 16:47] #62510 closed

[2021-04-07 16:57] memildin commented on #72216
@sammalwad thanks for the suggested change to the JIT logic. I've forwarded it to the product group and they'll consider it in a future update.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-07 16:57] #72216 closed

[2021-04-07 16:59] SnehaAgrawal-MSFT commented on #73239
@EllenFinkelstein We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-07 16:59] #73239 closed

[2021-04-07 17:01] tnorling commented on #72552
@svdHero Sorry for the confusion, it looks like those docs are still using msal v1. You can get the access token from the redirect by using the event api you shared in the original post. `accessToken` is a property on the payload for the LOGIN_SUCCESS and ACQUIRE_TOKEN_SUCCESS events. LOGIN_SUCCESS will be fired if a new user was logged in as a result of the redirect and ACQUIRE_TOKEN_SUCCESS will

[2021-04-07 17:05] duongau commented on #73129
@saadatahmed The images should align more now. Thank you for your suggestion.

#please-close

[2021-04-07 17:05] #73129 closed

[2021-04-07 17:13] Karenzhang7717 commented on #73334
https://github.com/Karenzhang7717/smartbuilding/blob/main/drawing.zip
please find the package file here.

[2021-04-07 17:14] KranthiPakala-MSFT commented on #73394
@JonParton
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-07 17:14] khharper commented on #73042
Is there any timeline on getting this updated? Or an documentation for an alternative way I can get this working? @amanmcse @rwike77 Thanks for the help on this

[2021-04-07 17:19] kgremban commented on #46942
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

#please-close

[2021-04-07 17:19] #46942 closed

[2021-04-07 17:23] SaiKishor-MSFT commented on #73392
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-07 17:24] #73261 closed

[2021-04-07 17:29] mgblythe opened #73404 "Test issue for new repo"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4487fcf-f79e-2506-7595-7aafb8c66c9f
* Version Independent ID: 351f7d7a-6bef-b933-fa5a-09a47854cae7
* Content: [Add, remove, and arrange favorites in Azure portal](https://review.docs.microsoft.com/en-us/security/benchmark/azure/_placeholder?branch=pr

[2021-04-07 17:32] tfitzmac commented on #73389
@Wildshot - thanks for this feedback. I will update the article.

[2021-04-07 17:43] nidewa opened #73406 "Add one scenario in the Azure Resource Lock documentation - section "Considerations before applying locks""
Hello there,

In the section "Considerations before applying locks", I would like to add one scenario which gets impacted if you apply the lock on the Resource group.
Here is the issue:
The App Service Plan Auto-Scale feature doesn’t work when lock is applied on the Resource group that contains the app service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-07 17:46] JamesTran-MSFT commented on #73404
@mgblythe
Thank you for your GitHub issue! Since this is a test for your new repo, I'll go ahead and close this out.

[2021-04-07 17:46] #73404 closed

[2021-04-07 17:51] samtsejerome opened #73408 "useless!"
once again  an article on /net in Azure has been a pointless dead end and waste of time!
I followed the steps keenly hoping to finally see some value in azure..  but as early on as executing  dotnet run I merely got a page full of inscrutable messages and not what the tutorial said I shoukld expect, which just went to reinforce the impression I have that Azure is complicated and doesnt work well/e

[2021-04-07 17:55] v-tcassi commented on #73325
@TheRealSvc Hi! I actually was able to follow your link--my mistake. That looks like the correct module.

I reached out to the dev team, but I haven't heard back yet.

When I hear back from them, I'll let you know.

Overall, this does seem like a product issue as opposed to a documentation issue, so I would recommend posting your issue at: https://github.com/Azure/iotedge/issues

You'll likely get

[2021-04-07 17:57] timlt commented on #73377
#assign:timlt #doc-enhancement

[2021-04-07 17:58] PRMerger20 commented on #73377
timlt is already assigned.

[2021-04-07 17:59] timlt commented on #73377
#doc-enhancement

[2021-04-07 18:00] yoelhor commented on #73324
This issue is probably related to the order of the elements. Make sure you add the element in the correct order:

![image](https://user-images.githubusercontent.com/20111866/113912534-e88f2e00-97e3-11eb-8077-dd908c457a56.png)

[This document](https://docs.microsoft.com/azure/active-directory-b2c/troubleshoot-custom-policies?tabs=app-reg-ga) will be updated later today with more information about t

[2021-04-07 18:03] yoelhor commented on #73311
This is the error related to the correlation ID: _DisplayControl 'EMAILVERIFICATIONCONTROL' cannot be found in the technical profile 'SelfAsserted-LocalAccountSignin-Email'._ Could you check the display control exist in the policy, or parent policy?

[2021-04-07 18:05] jarekoomen commented on #66877
Also using postgreSQL connection, and same problem.

[2021-04-07 18:05] timlt commented on #73377
#label:"assigned-to-author"
#label:"triaged"

[2021-04-07 18:14] philbe opened #73411 "Documentation bug"
In the section entitled "Automatic Schema Inference", the text says the example "returns the number of rows in September 2017 without specifying a schema." However, I don't think that's what the query returns. Rather, it just returns the first 10 rows, and does not limit it to September 2017.

Phil
https://research.microsoft.com/~philbe

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-07 18:16] axisc commented on #73308
@StannieV thanks for raising the issue - the batch size limit for Premium would be 1MB.
@ChaitanyaNaykodi-MSFT  can you help refine the doc to avoid confusion. Thanks!

cc: @spelluru

[2021-04-07 18:18] SubhashVasarapu-MSFT commented on #72841
@Roopesh-Bharatwaj-K-R, Currently the Bastion service only lets you connect to a Linux VM using SSH. XRDP to Linux is not yet supported now. We would recommend you to upvote the [similar ask](https://feedback.azure.com/forums/217313-networking/suggestions/38941141-enable-bastion-users-to-select-either-rdp-or-ssh-f) here in our Azure feedback section for its future availability.

[2021-04-07 18:18] timlt commented on #73377
Updated content is published:
https://docs.microsoft.com/en-us/azure/iot-dps/concepts-device-oem-security-practices#integrating-a-tpm-into-the-manufacturing-process

Thanks again for your feedback and interest in our docs!

#please-close

[2021-04-07 18:18] #73377 closed

[2021-04-07 18:27] sjthompsonengl commented on #73324
Hi Yoel,

Yes, that was the answer! I re-arranged the elements as described and the policy imported successfully.

Kind regards,
Steve

From: Yoel Horvitz ***@***.***>
Sent: 07 April 2021 19:00
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Steve Thompson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Schema failure (#73324)

This issue is probably related to the order o

[2021-04-07 18:38] JamesTran-MSFT commented on #73324
@sjthompsonengl
Thank you for the quick update and I'm glad that @yoelhor was able to resolve your issue!

Since everything is working on your end, I'll go ahead and close out this GitHub issue. Lastly, as Yoel mentioned, the documentation will be updated later today with more information about this.

Thank you!

[2021-04-07 18:38] #73324 closed

[2021-04-07 18:44] Roopesh-Bharatwaj-K-R commented on #72841
thank you very much ! for this info...

[2021-04-07 18:46] NavtejSaini-MSFT commented on #73366
@venkat1017 We are checking this and will get back to you.

[2021-04-07 18:47] StannieV commented on #73308
@axisc Thank you for the information!

[2021-04-07 18:53] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thank you for the quick response and additional details!

When it comes to getting/updating the phone number within the Authentication methods through the MS GraphAPI, you should still be able to use the - [Get started with the Microsoft Graph authentication methods API](https://docs.microsoft.com/en-us/graph/authenticationmethods-get-started) documentation.

1. Sign into [Graph

[2021-04-07 18:54] chalewi opened #73412 "There are quite a few errors in this page at this time. if you follow this step by step you will not be able to get this working"
Several items need to be updated.

1) When you set this up, you never get a "sign in with google" in the sign in options. Sign in works just by putting your Google address into the MSFT Bar, but we cannot ever get a "sign in with google" to show up.

2) When you create the Oath app, you now in the Google Developer Portal either have to add specific gmail test users for this to work OR you have to

[2021-04-07 18:55] bmedlin opened #73413 "Customizing app insights sampling in asp.net core is poorly documented"
By-passing adaptive sampling for business-critical log events is a very common use-case. The documentation should explicitly spell out how to do this for trace & event categories. The current documentation provides a hint - but blog posts like this: https://www.gustavwengel.dk/application-insights-costs-lots-of-money make me unsure.

Please save us all some time (and money!) by providing clear doc

[2021-04-07 18:57] ChaitanyaNaykodi-MSFT commented on #73308
Hello @axisc, Thank you for your response. Sure I will make a PR shortly to update the doc.

[2021-04-07 18:58] JamesTran-MSFT commented on #73412
@chalewi
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-07 19:00] kgremban commented on #72883
@massand I created a pull request to update all examples to use 1.1 versions of IoT Edge. Since this is a straightforward update, I'll have github close this issue automatically when that pull request is merged. If you have any follow-up questions or comments feel free to post here again and we can reopen the issue if necessary.

Thanks

[2021-04-07 19:00] JamesTran-MSFT commented on #73332
@chalewi
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-07 19:01] #72883 closed

[2021-04-07 19:04] duongau commented on #71574
This was resolved in PR #148984.

#please-close

[2021-04-07 19:04] #71574 closed

[2021-04-07 19:07] JamesTran-MSFT commented on #73387
@thepill
Thank you for pointing this out! I've created a PR to update this documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

cc: @ShaneBala-keyvault
For visibility on the error potentially existing in other languages/repo

[2021-04-07 19:07] #73387 closed

[2021-04-07 19:08] duongau commented on #65271
@juyamagu Since I haven't heard back from you for a while on this GitHub issue. I will be archiving it for now. Please reach out again if you still need assistance. Thanks!

#please-close

[2021-04-07 19:08] #65271 closed

[2021-04-07 19:09] massand commented on #72883
@kgremban It is great to see the versions updated consistently throughout the docs. @veyalla was discussing offline whether we should delete the install instructions for specific package versions from this doc -

BashCopy
sudo apt-get install iotedge=1.0.10* libiothsm-std=1.0.10*
If the version that you want to install isn't listed, follow the Offline or specific version installation steps later i

[2021-04-07 19:10] JamesTran-MSFT commented on #73391
@gcormier
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-07 19:10] #73391 closed

[2021-04-07 19:13] mmacy commented on #72552
@tnorling We need all the help we can get. You can either open a PR or supply the updated code snippets with exact specification of location and I can open the PR.

[2021-04-07 19:15] mmacy commented on #72552
@MarileeTurscak-MSFT can you reopen this issue?

[2021-04-07 19:17] cynthn commented on #73084
@czetie Thanks for the feedback. I'm removing that section, because it is causing confusion. It really depends on what is reporting "CPUs", some report cores, some report vCPUs etc. which is why we try to stick to only talking about vCPUs.

#please-close

[2021-04-07 19:17] #73084 closed

[2021-04-07 19:25] KrishnaG-MSFT commented on #73146
@TRViana Sure. Thanks for the update.
@hiaga Just FYI, same information that's provided in my earlier comment here is shared in [this](https://docs.microsoft.com/en-us/answers/questions/341848/index.html) Q&A platform question as well so that it might help broader audience who might be looking for answer on similar issue.

[2021-04-07 19:26] duongau commented on #67804
@kikawash  could you please provide more details on this? A screenshot would definitely help.

[2021-04-07 19:44] mattcowen opened #73414 "No messages or events shown for sample program"
On step 7 of the "Run the Sample Program" section, I don't see any messages displayed in the terminal in VS Code. When I press enter in the debug console I dont see any events being published. Could someone please confirm thsi is working for them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17c585b7-9db6-0c41-53f0-b

[2021-04-07 19:46] KranthiPakala-MSFT commented on #73204
@samirvora-MS Thanks for the details. Your feedback has been shared with ADF PM team and it is under review.

[2021-04-07 19:46] Karishma-Tiwari-MSFT commented on #72732
Thanks for sharing the details. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-07 19:51] tfitzmac commented on #73286
@ondemandIT - thanks for this feedback. I'll update the text.

[2021-04-07 19:52] fmms opened #73415 "Clarification on ACL vs Azure IAM permissions"
The documentation states:

However, in reality it does not require an Azure IAM assignment. The firewall with "Allow trusted services" already opens for the MSI if it does not have any Azure Role on the resource (e.g. ``Blob Data Contributor``, ``Blob Data Reader``) but just an ACL assignment on a specific folder. Tested with ADF.

Could you please review this paragraph of the documentation with w

[2021-04-07 20:08] duongau commented on #59753
@smith1511 I know this was submitted almost a year ago but please let me know if you still need assistance in regards to this issue you've submitted.

[2021-04-07 20:11] #73286 closed

[2021-04-07 20:13] duongau commented on #59971
@alansfreitas This problem has been resolve in the commit by ryotokuro. I will be closing this for now. Thank you!

#please-close

[2021-04-07 20:13] #59971 closed

[2021-04-07 20:15] sedwardstx opened #73417 "please document 3221225786 exit code too"
We should document the other common error code meaning CTRL+C in this doc

as seen in SFX event tab

ExitCode | : 3221225786
-- | --
ExitReason | : The process/container terminated with exit code:3221225786. Deactivating as part of upgrade since code package changed. For information about common termination errors, please visit https://aka.ms/service-fabric-termination-errors

meaning :
STATUS_CON

[2021-04-07 20:16] duongau commented on #13106
@XanthViper did the above response address your problem? Please let me know whether you need further assistance or if this issue can be closed.

Thanks!

[2021-04-07 20:30] tfitzmac commented on #73406
@nidewa - thanks for this suggestion. I'll add it.

[2021-04-07 20:37] duongau commented on #49049
@mslot This has been addressed and now is reflected in that public doc.

#please-close

[2021-04-07 20:37] #49049 closed

[2021-04-07 20:41] TomMurphyDev opened #73418 "Information lost in Angular example vs No Framework example"
When describing the steps shown for the dialog actions in vscode don't deliver a working output when following the angular tab.This may catch out a beginner who is trying out angular and or azure deployments for the first time.
The no framework tab and dialog in vscode asks for paths for the following elements it places in the yml generated in
/.github/workflows so immediately this aspect is calle

[2021-04-07 20:45] tfitzmac commented on #73406
I have submitted the update. It should get published later today.
#please-close

[2021-04-07 20:45] #73406 closed

[2021-04-07 20:54] duongau commented on #51591
@hsze I'm not sure if this applies anymore because I no longer see this section in the document. Please let me know what it is that we need to change or update and I will look into it for you. Thank you.

[2021-04-07 21:02] MartinJaffer-MSFT commented on #73307
Hello @mafis-hh and thank oyu for bringing this to our attention.  I have reproduced the issue and reported it to the developers.

[2021-04-07 21:04] SaiKishor-MSFT commented on #73068
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-07 21:04] #73068 closed

[2021-04-07 21:13] BharathNimmala-MSFT commented on #73363
@sschols Thanks a lot for taking time to share your feedback and helping us improve our Azure documentation. Our team will further review the feedback and update the document accordingly.

[2021-04-07 21:17] jaimesanchezfundary commented on #73311
Thanks a lot, that did the trick, now, how can I realized that the error was that? Is there a way that I can look up that information in the correlation ID?

Thanks again

From: Yoel Horvitz ***@***.***>
Sent: Wednesday, April 7, 2021 13:04
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jaime Sanchez ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error 500 on clicking Se

[2021-04-07 21:20] SaiKishor-MSFT commented on #73392
@johnayoub Match conditions based on response headers are not supported for Front Door yet. Thank you!

[2021-04-07 21:22] duongau commented on #48225
@dani3lheidemann you're thinking is correct. Your ExpressRoute is configured with a pair of 5Gbps port, so in theory you can get up to twice the speed. More information can be found here in our FAQ explaining more about this: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#if-i-pay-for-an-expressroute-circuit-of-a-given-bandwidth-do-i-have-the-ability-to-use-more-than-my-proc

[2021-04-07 21:22] #48225 closed

[2021-04-07 21:23] Lroca88 opened #73420 "Doc needs updates"
[Enter feedback here]
This document needs some updates. For instance
- extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
- the rules syntax is different in networking.k8s.io/v1 reference: [kubernetes ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource)
---
#### Document Details

⚠ *Do not edit this

[2021-04-07 21:27] BharathNimmala-MSFT commented on #73396
@andyjballgit Thank you for reaching out with your query , we will review and get back to you at the earliest.

[2021-04-07 21:36] tohewi opened #73421 "Api version typo"
Hi,

On the ARM template example  and later in the text you are referring to apiVersion with "underscores", but those seem to be "dashes":

ARM:
{
            "type": "microsoft.devtestlab/labs",
            "name": "[parameters('lab_name')]",
            "apiVersion": "2018_10_15_preview",
            "location": "eastus",
...}

Correct seems to be:
   "apiVersion": "2018-10-15-preview"

Also, th

[2021-04-07 21:37] BharathNimmala-MSFT commented on #73413
@bmedlin Apologies for the experience , certainly we want the documentation to help our customers. Appreciate you taking time to share your feedback, assigned this issue to our document author @lgayhardt to further review and see what we can add to enhance the document.

[2021-04-07 21:38] ecfan opened #73422 "Azure Monitor doc has outdated UX and steps for Azure Logic Apps"
Hi @dkamstra,

I noticed that this topic has outdated UX where these options have been streamlined:

![image](https://user-images.githubusercontent.com/13206671/113937882-aac3e280-97ae-11eb-9412-c19412281233.png)

Now, after you select **+ New step**, you get this UX instead:

![image](https://user-images.githubusercontent.com/13206671/113937940-c0d1a300-97ae-11eb-8da0-e9a48d2575d6.png)

So, the s

[2021-04-07 22:06] KranthiPakala-MSFT commented on #73411
@philbe
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-07 22:11] James-Hamil-MSFT commented on #73329
Hi @ramayse , from this doc it looks like you can just add it to the mappings: https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-attribute-mapping#add-an-attribute-mapping

I reached out to a team member to be sure though. I'll keep you updated.

Best,
James

[2021-04-07 22:11] itsmeow commented on #34167
I think this is still an issue that needs to be taken seriously. The lack of a favicon, the crazy domain. It screams phishing, even though it isn't.
![image](https://user-images.githubusercontent.com/10366817/113941190-a9091780-97cc-11eb-9ce2-b72ff6250b4a.png)

[2021-04-07 22:13] ngie-eign commented on #34167
I'm unsubscribing from this issue.

Obviously the folks with Office365, et al, don't care about basic security best practices.

[2021-04-07 22:17] rwike77 commented on #73042
@paulgarn or @hpsin , could you help out on this?  I don't know enough to help on this one.  Thanks.

[2021-04-07 22:26] Chris1777 opened #73425 "Remain Signed-in option mentioned for free AD but now requires premium"
I've just tried enabling the "Remain Signed-in" feature on an Azure Active Directory free license, since it was mentioned on this page that was possible, but once I got to the "Company Branding"-page in the Azure Portal, i was required to get a Premium plan to continue. The pricing plan for Azure AD also confirms that Company Branding isn't included in the free licens. Please update this in case o

[2021-04-07 22:35] DerekHerman-MSFT commented on #73184
If you are still having confusion please let us know and I will do my best to clear it up for you. If you have any recommend changes to the doc I am happy to pass this on to the author. I will close out this thread for now, but feel free to tag me in your reply and we can reopen the issue.

[2021-04-07 22:35] #73184 closed

[2021-04-07 22:41] Karishma-Tiwari-MSFT commented on #72144
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-07 22:44] DerekHerman-MSFT commented on #73415
@fmms Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-07 22:46] ChaitanyaNaykodi-MSFT commented on #73162
Hello @duyn9uyen, yes you can read the settings in the file from the function app after deployment given that you have edited the `.csproj` file as per the directions given in the documentation.

![image](https://user-images.githubusercontent.com/67453298/113941324-bc5bb900-97b3-11eb-86d7-c2d50a790705.png)

To better understand the concept you can refer to [the sample here](https://github.com/Azur

[2021-04-07 22:46] #73162 closed

[2021-04-07 22:46] JamesTran-MSFT commented on #73425
@Chris1777
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 22:52] bandersmsft commented on #73396
@andyballgit Hi there. With your enterprise agreement, you can see pricing in the EA portal. In the EA portal, navigate to Reports > Price Sheet > search for the VM license that you want to see pricing for. We don’t have much documented, but we do is at https://docs.microsoft.com/azure/cost-management-billing/manage/ea-pricing-overview#current-effective-pricing where the article essentially says t

[2021-04-07 22:52] #73396 closed

[2021-04-07 23:00] andyjballgit commented on #73396
@bandersmsft thx for the reply , but I was after the price for reservations , that doesn't appear to be in the Price sheet that I can see

[2021-04-07 23:00] dkamstra commented on #73074
#please-close

[2021-04-07 23:00] #73074 closed

[2021-04-07 23:08] SnehaGunda commented on #73357
@hansmbakker thank you, I added the following note in the above PR about the preview.

We will now close this issue.

#please-close

[2021-04-07 23:08] #73357 closed

[2021-04-07 23:09] wvanbesien opened #73426 "document fails to mention the 'easy' solution"
The article  is listed under "Integrate Azure Key Vault with Kubernetes" and probably lots of people end up here after a google search.

This article then explains how to do this using a CSI storage driver. I've tried the procedure multiple times with no success.

That being said, to use Azure Key Vault in a pod, you can use Pod Identity and the code you use will be the same as for an app hosted o

[2021-04-07 23:17] dcorns opened #73427 "HTTP agent examples (JavaScript) code correction"
`const http = require('http');
const httpAgent = new http.Agent();
httpAgent.maxSockets = 200;
                                                  //options.agent = httpAgent; this line has undefined object 'options'
const options = {
agent: httpAgent
};
http.request(options, onResponseCallback);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-04-07 23:25] dcbrown16 opened #73428 "ToC missing"
Is this article supposed to be connected to the Automation ToC somewhere? It's not showing anywhere for me.
I assume it should go in the same section as this doc.
https://docs.microsoft.com/en-us/azure/automation/troubleshoot/change-tracking
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1517ef9e-276f-7d37-73b1-bea38354

[2021-04-07 23:34] YutongTie-MSFT commented on #73285
@wukun2015 Hello Wuk, I am a little bit confused about your question. Are you referring to this document?

@trevorbye here for help. Do you have any insight for this issue?

[2021-04-07 23:40] IngridAtMicrosoft commented on #72460
Thanks for taking a look John.  We have a tutorial for this. https://docs.microsoft.com/en-us/azure/media-services/latest/stream-files-dotnet-quickstart

I will remove the other file.

[2021-04-07 23:41] IngridAtMicrosoft commented on #72460
#please-close

[2021-04-07 23:41] #72460 closed

[2021-04-07 23:51] jimoneil opened #73429 "Code referenced in tutorial does not exist"
The walkthrough in this document refers to code in program.cs that does not exist. The implementation in the gitHub project seems quite divergent from what's implied in the article.

contents of program.cs as obtained from git repos:

`
// Copyright (c) Microsoft. All rights reserved.
// Licensed under the MIT license. See LICENSE file in the project root for full license information.

using Comma

[2021-04-08 00:19] rolyon commented on #73362
Hi @anarii
Thanks for your feedback. The Exchange Recipient Administrator role has been added.

[2021-04-08 00:19] rolyon commented on #73362
#please-close

[2021-04-08 00:19] #73362 closed

[2021-04-08 00:31] ChaitanyaNaykodi-MSFT commented on #73380
Hello @PaloSP
Thank you for your feedback! We will review and update as appropriate.

[2021-04-08 00:35] ChaitanyaNaykodi-MSFT commented on #73427
Hello @dcorns,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-08 00:45] DeiverK opened #73431 "additional configuration for CentOS 8.3"
It looks like in CentOS 8.3 (not sure about the other versions) when running command:
sudo kinit <user>@<DOMAIN>

Kinit shows:
kinit: KDC has no support for encryption type while getting initial credentials

I added the below lines in file: /etc/krb5.conf, section: [libdefaults]

default_tgs_enctypes = arcfour-hmac-md5 des-cbc-crc des-cbc-md5
default_tkt_enctypes = arcfour-hmac-md5 des-cbc-crc des

[2021-04-08 00:56] mattpampena opened #73432 "the Stop command does not work."
The following command mentioned in the article does not work:
%synapse stop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e099f8e-2853-ce61-eda6-1e95f7c9517b
* Version Independent ID: 48eec93b-6582-585d-edc1-0d0227b45577
* Content: [Data wrangling with Apache Spark pools (preview) - Azure Machine Learning](https://do

[2021-04-08 00:58] spelluru commented on #73398
Fixed ow.

#please-close

[2021-04-08 00:58] #73398 closed

[2021-04-08 01:07] DeiverK opened #73433 "Additional package in Centos 8.3"
In Centos 8.3 (not surethe other versions), following the same steps, realm join command shows this lines:
* Couldn't find file: /usr/sbin/adcli
 * Required files: /usr/sbin/oddjobd, /usr/libexec/oddjob/mkhomedir, /usr/sbin/sssd, /usr/sbin/adcli
 * Resolving required packages
 ! PackageKit not available: The name org.freedesktop.PackageKit was not provided by any .service files
 ! Necessary packag

[2021-04-08 01:28] BharathNimmala-MSFT commented on #73359
@Risto-Matti-Dev Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-08 01:37] Karishma-Tiwari-MSFT commented on #73383
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-08 01:38] blessedwithsins commented on #73358
@shashishailaj Thanks a ton :)

[2021-04-08 01:40] Karishma-Tiwari-MSFT commented on #73373
Thanks for sharing the update.

[2021-04-08 01:41] BharathNimmala-MSFT commented on #73428
@dcbrown16 Thanks a lot for bringing this to our notice, I guess the next steps was supposed to direct you to below topic. Will fix the document to make this more clear.

![image](https://user-images.githubusercontent.com/45180002/113955497-af998e00-97d0-11eb-82ee-5f59596dbc2e.png)

https://docs.microsoft.com/en-us/azure/automation/change-tracking/overview

[2021-04-08 01:42] Karishma-Tiwari-MSFT commented on #73386
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-08 01:45] Karishma-Tiwari-MSFT commented on #73397
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 01:46] dcbrown16 opened #73435 "NSG flow logs are not available"
This log doesn't appear to be available any more:
NetworkSecurityGroupFlowEvent

I assume that flow logs have to use Network Watcher and can't be directly enabled through diagnostic settings. Please confirm and remove that line from the document if that is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847615a

[2021-04-08 01:46] Karishma-Tiwari-MSFT commented on #73330
Thanks for sharing the update.

[2021-04-08 01:47] kobulloc-MSFT commented on #73421
@tohewi Thank you very much for bringing this to our attention!  We are looking into this and will get back to you shortly.

[2021-04-08 01:59] BharathNimmala-MSFT commented on #73428
@dcbrown16  Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the Next Steps section in the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We w

[2021-04-08 01:59] #73428 closed

[2021-04-08 01:59] rboucher commented on #73435
I have no indication from my backend systems reports that this log has been removed.  According to my information, it still can be routed through diagnostic settings.  What makes you think it's been removed @dcbrown16 ?  Did it disappear from a UI screen?