[2018-11-02 17:28] #18040 closed

[2018-11-02 17:30] MarileeTurscak-MSFT commented on #18122
@huzzeytech
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 17:30] #7022 closed

[2018-11-02 17:30] #11237 closed

[2018-11-02 17:31] MarileeTurscak-MSFT commented on #18130
@mikenri
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 17:32] nezoic opened #18144 "Not getting back Custom Attributes that are only part of Application."
When I make a custom attribute and add it to the signup, it comes back from GraphApi and a JWT, but when I only add it under Application Claims, it doesn't get returned in a JWT or from GraphAPI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c29c26fd-dad6-8435-0694-ba82c784818a
* Version Independent ID: fab7c0ac-b35b-

[2018-11-02 17:35] Mike-Ubezzi-MSFT commented on #17138
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:35] #17138 closed

[2018-11-02 17:36] Mike-Ubezzi-MSFT commented on #17197
@gchudublin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:36] #17197 closed

[2018-11-02 17:37] Mike-Ubezzi-MSFT commented on #17241
@BPA8 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:37] #17241 closed

[2018-11-02 17:38] Mike-Ubezzi-MSFT commented on #17638
@gharmer We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:38] #17638 closed

[2018-11-02 17:39] Mike-Ubezzi-MSFT commented on #17953
@tim-yan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:39] #17953 closed

[2018-11-02 17:39] spbreed opened #18145 "Public access to k8s dashboard"
How to access K8s dashboard outside  ```az aks browse``` , I get 403 (forbidden user) error when i try to access API server URL.  Is it possible to enable remote access to the dashboard ? (I already have custom role binding to dashboard service account  enable minimum features in read-only mode)

[2018-11-02 17:40] Mike-Ubezzi-MSFT commented on #17959
@johnstaveley We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-02 17:40] #17959 closed

[2018-11-02 17:43] Mike-Ubezzi-MSFT commented on #17985
@DMKmod Do you have an Azure Support plan? If not, can you send me your Azure Subscription GUID to AzCommunity at Microsoft dotcom, and I will send you instructions on how to file this issue and receive support. Thank you!

[2018-11-02 17:44] Canutza commented on #7650
I also get this error:
Resource Microsoft.Compute/virtualMachineScaleSets 'VMScaleSetWin' failed with message '{
"error": {
     "code": "InvalidParameter",
     "message": "The SubscriptionId:\"00000000-0000-0000-000-000000000000\" of the request must match the SubscriptionId \"11111111-1111-1111-1111-111111111111\" contained in the Key Vault Id.",
     "target": "sourceVault.id"
   }
 }'

When I

[2018-11-02 17:46] zr-msft commented on #15461
Thank you @cynthn.

I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-02 17:47] DiegoRamirez-MSFT commented on #18145
Hello @spbreed could you please clarify which document are you following?

[2018-11-02 17:50] zr-msft commented on #16899
I have a fix for this issue and I'll add it to the docs soon.

#please-close

[2018-11-02 17:50] Canutza commented on #7650
#please-open

[2018-11-02 17:58] Karishma-Tiwari-MSFT commented on #9159
@alexgman We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-02 17:58] #9159 closed

[2018-11-02 18:02] Adam-Smith-MSFT commented on #18101
@DivyanshiShukla Thank you for the valuable feedback,we are investigating the issue.

[2018-11-02 18:03] upoppe opened #18146 "Permissions on Stored Procedures"
As noted above, a user must have the All permission on the container in order to run a stored procedure. On the other hand, chapter "Resource tokens" suggests that permissions are designed to grant fine-grained access to documents, stored procedures etc. This does not fit together and should be described more precisely: Which resource does support which permission mode and resource link?

As far a

[2018-11-02 18:03] Adam-Smith-MSFT commented on #18101
Thanks for submitting the fix :) . We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-02 18:03] #18101 closed

[2018-11-02 18:04] Adam-Smith-MSFT commented on #18085
@KeiroKamioka0000 Thank you for the valuable feedback,we are investigating the issue.

[2018-11-02 18:05] #17949 closed

[2018-11-02 18:06] PramodValavala-MSFT commented on #17949
@pakhare Thanks for contributing to MS Docs! We have updated the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 18:07] Karishma-Tiwari-MSFT commented on #15397
@zr-msft Can you please update the doc with the information that PowerShell version 6.8.1 is not supported? More information on the above issue is in the email thread that Cynthia tagged you in. Thanks :)

[2018-11-02 18:10] MarileeTurscak-MSFT commented on #18135
@JacenBoy Thanks for catching this error. I have escalated this to the product team to look into. @billmath are you aware of this?

[2018-11-02 18:12] tfitzmac commented on #18124
This is being investigated through a different channel.
#please-close

[2018-11-02 18:21] kgremban commented on #17693
Thanks for the details, @smoms. We do have an article about deploying modules using the IoT extension for the Azure CLI: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-cli

[2018-11-02 18:29] ggailey777 commented on #14634
+ @SunnyDeng

[2018-11-02 18:40] BuffMcBigHuge commented on #12791
@erhopf My problem has been solved after I modified the endpoints to include the region. I also had to add the language url parameter. It was confusing as the location of my resource group is different than the location of the service. It wasn't very intuitive, and frustrating that it broke so suddenly.

[2018-11-02 18:42] larsonmpdx commented on #16960
thanks!  No rush, I'm not waiting on a fix, this was just something I noticed while poking around

[2018-11-02 18:44] leomwa opened #18148 "Does the copy count need to be greater than zero"
...
"copy": {
        "name": "datasetcopy",
        "count": "&lt;can-this-be-zero-thus-copy-not-executed?&gt;"
    }
...

Would the copy be expanded if the count was zero? Or would it error entirely?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12ec3
* Version Independent ID: ab404f2d

[2018-11-02 18:50] tomkuijsten opened #18149 "Bugs in the documentation on "Get Route Range Preview""
I've found an issue with the documentation of this API:

https://docs.microsoft.com/en-us/rest/api/maps/route/getrouterangepreview

The description of all "budget" parameters look like this:

_"Fuel budget in liters that determines maximal range which can be travelled using the specified Combustion Consumption Model. Either fuelBudgetInLiters, **vehicleEngineType** or timeBudgetInSec must be provi

[2018-11-02 18:52] MarileeTurscak-MSFT commented on #18144
@nezoic
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 18:57] MarileeTurscak-MSFT commented on #18140
@nezoic
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 19:03] clement911 commented on #18033
I will keep an eye on it, but is there a rough date for this feature?
It's been in preview for ages! Many months.
We've hold back using it because it's not clear what the limitations are and we don't want to cause any potential downtime to our app.

[2018-11-02 19:10] sumeetmittal commented on #18063
Adam,

This doesn’t look like an service endpoint issue per say. Seems like an ARM permissions error on a particular subscription. Please add someone from ARM team and also loop in Allison Dods from Portal team.

Regards
Sumeet Mittal

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Friday, November 2, 2018 11:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sumeet Mit

[2018-11-02 19:19] YutongTie-MSFT commented on #17904
@keshavksingh
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-02 19:19] #17904 closed

[2018-11-02 19:20] mbialecka commented on #17351
@sandervandevelde Thanks for your patience with this. Your configuration looks good. It may be a product bug. I prepared a new container image, could you please give it a try and let me know if it works for you?

Image URI: `mcr.microsoft.com/azure-blob-storage:1.0.1-linux-amd64`

Simple check:
[code]

If it works it should display just a couple of log lines like this:
[code]

[2018-11-02 19:36] SnehaGunda commented on #16861
@SychevIgor we updated the doc, above is the PR with fixes. We will now proceed to close this issue.

[2018-11-02 19:37] SnehaGunda commented on #16861
#please-close

[2018-11-02 19:39] tfitzmac commented on #7650
@Canutza - this article describes the scenario of using a key vault secret in a parameter file. In that case, the key vault does not need to be in the same subscription. Your scenario involves directly referencing a key vault from a VM property. That scenario is described at [Set up Key Vault for virtual machines in Azure Resource Manager](https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2018-11-02 19:41] SnehaGunda commented on #18074
@guzo-kevin we will now close this issue, if you have further questions, feel free to reopen.

[2018-11-02 19:41] SnehaGunda commented on #18074
#please-close

[2018-11-02 19:41] curtand commented on #18058
HI, @Kasenga
No, this isn't B2C. It creates B2B guest users in an ordinary Azure AD tenant, not in a B2C tenant. I hope this helps.

@MarileeTurscak-MSFT
#please-close

[2018-11-02 19:43] cowinr commented on #17674
Many thanks @PramodValavala-MSFT

[2018-11-02 19:43] erhopf commented on #12791
@BuffMcBigHuge - Thanks for your candid feedback. I'm glad that you're unblocked, but you shouldn't have had this much trouble to start with. We're creating a backlog item to investigate this further.

[2018-11-02 19:43] MarileeTurscak-MSFT commented on #18118
I have assigned this issue to the content author, @rkarlin , to look into your request.

[2018-11-02 19:46] #18058 closed

[2018-11-02 19:49] SnehaGunda commented on #16134
@jjgriff93 and @shivangipatwardhan2018 I have shared this feedback with our engineering teams, we have a work item in our backlog to provide new samples for .Net core. Currently, we are revamping some conceptual docs, once those are done, we will get to these tutorials probably around end of this month.

We will close this issue and track it as an Azure DevOps work item.

[2018-11-02 19:49] SnehaGunda commented on #16134
#please-close

[2018-11-02 19:49] curtand commented on #18126
Hi @poortom1004
My PM is back in the office Monday and we'll figure this out then. Sounds pretty straightforward. Thanks for the contribution!

[2018-11-02 19:51] SnehaGunda commented on #16435
@jjgriff93 thanks for the detailed feedback.  I have shared this feedback with our dev and PM teams, we have a work item in our backlog to provide new samples for .Net core. Currently, we are revamping some conceptual docs, & how-to guide docs once those are done, we will get to these tutorials probably around end of this month.

We will close this issue and track it as an Azure DevOps work item.

[2018-11-02 19:52] SnehaGunda commented on #16435
#please-close

[2018-11-02 19:54] andres-carrilloAdapt2 opened #18150 "Client Authentication with WCF containers"
Hello,

We added a certificate to the ingress controller, and when we browse to the ingress address it prompts for a cert which is desirable.
we have set up the app.config in our wpf application to provide the clientcertificate via the behaviorconfiguration, but we get ssl tunnel could not be created. Is there any docs about this situation? Any other thing we could do to improve this situation?

-

[2018-11-02 20:08] mamccrea commented on #18036
Hi @nkolchakov  - did you add your UDF project as a reference in the Stream Analytics project?

[2018-11-02 20:10] mamccrea commented on #18047
256KB is correct. I'll make the change. Thanks @kamigash! #please-close

[2018-11-02 20:13] Mike-Ubezzi-MSFT commented on #18146
@upoppe Thank you for your interest in Azure products and services and thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-11-02 20:38] SnehaGunda commented on #16857
@SychevIgor thanks for pointing the issue, the portal UI has changed a lot during Ignite. We didn't had a chance to update them yet and I have an Azure DevOps work item this sprint to bulk update them. I don't think this is blocking, so will close this issue here and  track it in our sprint items.

[2018-11-02 20:38] SnehaGunda commented on #16857
#please-close

[2018-11-02 20:47] femsulu commented on #17983
thanks @rothja
assigned to Vic for guidance.

[2018-11-02 20:48] Karishma-Tiwari-MSFT commented on #17211
https://github.com/MicrosoftDocs/azure-docs-pr/pull/57011

[2018-11-02 20:48] smoms commented on #17693
@kgremban thanks lot. So the CLI command would be the following right?

`az iot hub apply-configuration --device-id [device id] --hub-name [hub name] --content [file path]`

[2018-11-02 20:59] jbinko opened #18151 "We should not say "Azure DevOps, don't work with an ILB ASE""
You are writing:
"Internet-based CI systems, such as GitHub and Azure DevOps, don't work with an ILB ASE because the publishing endpoint is not Internet accessible."

I see your point but.
I know Azure DevOps can work with ILB ASE if you use Build Agent. Which is important to highlight because enterprise companies are using it a lot in this setup.
We should not say "Azure DevOps, don't work with a

[2018-11-02 21:01] femsulu commented on #18105
@jjindrich Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-11-02 21:04] femsulu commented on #18108
@ph0rman Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-02 21:07] JasonWHowell commented on #14947
#please-close

[2018-11-02 21:08] femsulu commented on #18121
@DrachovDmytro Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-02 21:11] #18124 closed

[2018-11-02 21:12] #18047 closed

[2018-11-02 21:13] femsulu commented on #18148
@leomwa Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-02 21:17] MarileeTurscak-MSFT commented on #18140
I'm closing this out as it is a duplicate of #18144

[2018-11-02 21:33] jluk commented on #18052
Confirming this is a known sub-par experience, we're working with @aanandr to get this improved to support single RG deletion of the group of resources. The true resolution ETA should be ready in early-mid December.

[2018-11-02 21:38] mamccrea commented on #18092
Hi @ampac28 - Do you see any errors in the Activity Log/Diagnostics? Are the messages making it to IoT Hub?

[2018-11-02 21:42] Kasenga commented on #18110
I've been searching for sample code that uses v2 and works. This does just that!!
Now, time to take the time to see "how" it works.
Thank you, you guys did a great job with this one :)

[2018-11-02 21:53] krokoko commented on #17936
Hello @kgremban ,

  Thank you for the links. I already have a system running which is build in the same way that the tutorial explains: a downstream device is connected to an edge gateway (both have their identities in IoT Hub), and the device stream data on a regular basis. This is working fine.

My question is about eventual guidelines/support about putting in production this architecture, as s

[2018-11-02 21:54] SnehaGunda commented on #16863
@SychevIgor thanks for the feedback, agree that in the current state of docs, the split by API isn't fully complete. We have a project to revamp the conceptual and how-to docs we made bunch of updates to the key concepts and resource model docs. They are currently in draft and under review. The updated docs reflect the feedback you have shared. We will publish the updated docs in the next couple o

[2018-11-02 21:54] SnehaGunda commented on #16863
#please-close

[2018-11-02 21:58] rezasherafat commented on #16960
Sounds good. @larsonmpdx, we would also like to learn about customer's usage of twin metadata. If you have scenarios that depend on metadata, please let me know (you can reach me with email as well). Thanks!

[2018-11-02 21:59] SnehaGunda commented on #16868
@SychevIgor thanks for the feedback, I have created a DevOps work item in my next sprint (starting last week of this month) to update this doc. Will close this issue here and track it internally.

[2018-11-02 21:59] SnehaGunda commented on #16868
#please-close

[2018-11-02 22:03] MarileeTurscak-MSFT commented on #18140
Generally the recommended approach is to keep the signup policy separated in its own application and only use the policies for the bare minimum needed to create the initial account or authenticate the approved user.

If you are looking for more detailed troubleshooting of this issue please direct your question to MSDN and we will reply there. https://social.msdn.microsoft.com/forums/azure/en-US/ho

[2018-11-02 22:04] MarileeTurscak-MSFT commented on #18140
We will proceed to close this thread. If you have further questions please direct them to us on the MSDN forum linked above or tag me in the comments.

[2018-11-02 22:04] #18140 closed

[2018-11-02 22:06] aljo-microsoft commented on #17881
@gperrego,
This is documented: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#configure-container-registry-authentication

ServiceManifest element '<ImageName>' declares what registry to pull your services image from. The ApplicationManifest element '<RepositoryCredentials' property 'AccountName', contains your CR User name, and property 'Password' cont

[2018-11-02 22:18] #14947 closed

[2018-11-02 22:19] #15461 closed

[2018-11-02 22:19] #15698 closed

[2018-11-02 22:19] #16134 closed

[2018-11-02 22:19] #16435 closed

[2018-11-02 22:19] #16857 closed

[2018-11-02 22:20] #16861 closed

[2018-11-02 22:20] #16863 closed

[2018-11-02 22:20] #16868 closed

[2018-11-02 22:20] #16899 closed

[2018-11-02 22:20] #18074 closed

[2018-11-02 22:21] kgremban commented on #17693
Yes, that one works but is being deprecated. The newer version is `az iot edge set-modules` with the same parameters (device ID, hub name, file path). The article should be updated to reflect the new version of the command this evening.

Is there anything else we can help you with, or have we resolved this issue?

[2018-11-02 22:21] MarileeTurscak-MSFT commented on #18144
Have you configured in your sign-up policy to have your custom attributes returned an provided to the application?

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-policies

[2018-11-02 22:30] kobulloc-MSFT commented on #18128
@thecontrarycat Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-02 22:31] aljo-microsoft commented on #16438
@starforce,
If you have time please reach out to me so I can understand how we can help our users be successful aljo@microsoft.com.

Please review our documentation on Resource Manager for why you should use a template to provision your production solution:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-overview

We also document how to export your template from porta

[2018-11-02 22:39] davidmu1 commented on #15420
I have updated the UI customization pages. See https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-customize-ui

#please-close

[2018-11-02 22:39] kobulloc-MSFT commented on #18051
@SWarnberg It appears that the documentation may be out of date.  I'm assigning this to the document author to update accordingly.

[2018-11-02 22:45] apfoerts commented on #17826
Change is in progress, thanks for reporting ✌

[2018-11-02 22:48] davidmu1 commented on #15715
I've tried to get clarification on what change might be required for this issue, but the engineering team believes that that article is accurate.

#please-close

[2018-11-02 22:51] mrrothe commented on #10926
Spent a while trying to figure out how to do this and disappointing that it's missing. Any update on when this might get resolved?

[2018-11-02 22:53] aljo-microsoft commented on #17467
PR 57042 created to update the FAQ's section.

@MicahMcKittrick-MSFT
Please close this.

[2018-11-02 22:56] Karishma-Tiwari-MSFT commented on #18031
I think the issue is similar to these open issues : https://github.com/MicrosoftDocs/azure-docs/issues/15368
and https://github.com/MicrosoftDocs/azure-docs/issues/15286
Network security group has to be created and assigned to the VNET subnet, with inbound port 80 open, for this quickstart tutorial to function properly. The issues are open for doc update, it has to be done for all VMSS docs.
@loui

[2018-11-02 23:08] Diamondust25 opened #18155 "MFA Server - Fraud Alerts w/Text Message"
Is it possible to report fraud if text message is the selected method? If so, how is this done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authentication](https://docs.microso

[2018-11-02 23:09] #15420 closed

[2018-11-02 23:11] gperrego commented on #17881
I don't want to have a separate solution file for my code and then a sln file  for deploying the container to the cluster.

I'm going to upload the image to docker Hub via vsts on build. This build will build the sln file that I added service fabric orchestration support to.

I then want to deploy without creating a second sln file that is empty and is only a wrapper around my container because th

[2018-11-02 23:15] SunnyDeng commented on #14634
For this specific page, we accept the feedback through https://github.com/MicrosoftDocs/azure-docs.ko-kr/blob/master/articles/azure-functions/functions-compare-logic-apps-ms-flow-webjobs.md

In general, the non-English speaker can provide the feedback through their language docs page. For example:
Azure DOCS **English** page: https://docs.microsoft.com/**en-us**/azure/<service slug>/<article>
Azur

[2018-11-02 23:16] mbialecka commented on #17310
@smoms Yes, as the doc states:
"Update <your storage account name>. Account names should be three to twenty-four characters long, with lowercase letters and numbers."

[2018-11-02 23:31] gperrego commented on #17881
@MicahMcKittrick-MSFT
I've seen the article on how to wrap a container but I am referencing the article on how to add orchestration support to an existing. Net application.  I don't want to have a manage a separate solution file for my code and then a sln file for deploying the container to the cluster.  The way I would think this works is:

Steps:
1) Add orchestration support to an existing .net

[2018-11-02 23:38] aljo-microsoft commented on #17248
@pksorensen

NodeType = VMSS
NodeName = VM
NodeTypeName = VMSS == NodeType (Azure Only)

are all valid placement constraints. NodeType and NodeName you define, and can be used. In Azure, NodeTypeName is value is created by SFRP using NodeType defined by the user, and also can be used interchangeably with NodeType.

[2018-11-02 23:50] #15715 closed

[2018-11-02 23:50] #15890 closed

[2018-11-02 23:51] davidmu1 commented on #17810
I understand the suggestion, but this is only a link page to the samples. The suggestion should be made on the samples themselves. I don't believe there is anything to change on the referenced article.

#please-close

[2018-11-02 23:53] ggailey777 commented on #17274
@JohnReeson great catch, and thanks for reporting! I've submitted a private PR with the fix.

[2018-11-02 23:54] maertendMSFT commented on #17820
@rs38, that definitely helps.
Does the same thing happen with the Bash experience?  You can try here: https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart

[2018-11-02 23:57] ggailey777 commented on #17088
Thanks for reporting. We are in the process of updating this article, and I will make sure we get this updated as well. This is now being tracked internally ([1347023](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1347023)).

[2018-11-03 00:05] stepro commented on #18091
@onlyguest please log product issues in the Azure/dev-spaces repository. Thanks!

[2018-11-03 00:07] ggailey777 commented on #18114
@AngelosP I can add a warning in the docs, but do you think we need a warning about this in the UI?

[2018-11-03 00:11] rodji opened #18157 "Verified.Email"
&gt;PartnerClaimType="Verified.Email"
Adds email verification (looks like it marks "email" field as email field).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c33bed9-7e41-92cb-e093-80e5fda0e718
* Version Independent ID: 94d903c4-a70f-5357-53b4-6d17afee2aaa
* Content: [Define a self-asserted technical profile in a c

[2018-11-03 00:14] #17274 closed

[2018-11-03 00:17] rodji opened #18158 "UserInputType password adds "magic" behaviour"
You can't export 'password' claims values to outer scope (global scope).
Example:
Self asserted technical profile has password field. You can't pass it to next OrchestrationStep, but can pass to inner Validation TechnicalProfile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Vers

[2018-11-03 00:50] #18114 closed

[2018-11-03 00:51] ggailey777 commented on #17840
@golfalot anchor link fix is underway! 🚀 Thanks for reporting the issue.

[2018-11-03 00:57] DiegoRamirez-MSFT commented on #18115
Hello @cregnier We are investigating this issue now. Thank you for reporting it

[2018-11-03 01:00] DiegoRamirez-MSFT commented on #18119
Hello @andyjballgit We are investigating this issue now. Thank you for reporting it

[2018-11-03 01:00] BryanTrach-MSFT commented on #18151
@jbinko Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-03 01:02] #17810 closed

[2018-11-03 01:05] Karishma-Tiwari-MSFT commented on #18076
@peterschen Any update?

[2018-11-03 01:09] JasonWHowell commented on #15146
@irgnosis We haven't heard back lately, but let us know if you need continued help in this channel. Thanks much, Jason #please-close

[2018-11-03 02:29] qubitron commented on #12571
@lblanche the following doc topic has troubleshooting steps for common configuration issues: https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#troubleshooting

Those might help you figure out why your site isn't loading.

[2018-11-03 02:41] barborico opened #18159 "HTML vs. URL encoding"
The encoded SAS connection string examples appear to be HTML encoded, rather than URL encoded (as the accompanying text says). Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61008c1e-a107-ff6a-a5e8-26cd0b42b443
* Version Independent ID: b7a1b3c9-4165-8930-d309-da6420f26360
* Content: [Configure a conn

[2018-11-03 03:28] qubitron commented on #16184
@MarkEdmondson1234 see the configure Python app topic at https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#container-startup-process-and-customizations for configuring custom startup files.

[2018-11-03 04:09] CryptonZylog commented on #8648
Would be great if the example on `get /subscriptions/<subscription ID>/resourceGroups/...` was a bit more elaborate.

Can this information be returned as part of an existing ASE? Can this be an Azure-CLI command?

`az resource show --ids /subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.Web/hostingEnvironments/<name>/inboundnetworkdependenciesendpoints --api-version 2016-09-01`

az reso

[2018-11-03 05:58] hanabi1224 commented on #18049
@DiegoRamirez-MSFT  Here's the doc, thanks!
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

[2018-11-03 07:17] mdurand2018 opened #18162 "RHEL + Issue RDP"
Hi,

I was trying to install in RHEL 7.4 but xfce4 is not supported in RHEL https://access.redhat.com/solutions/56723

I was using this guide: https://blogs.msdn.microsoft.com/microsoft_azure_guide/2017/02/19/how-to-install-and-configure-gui-and-oms-on-azure-rhel-linux-vm/ but is now working. But Some groups like "Desktop Platform" and "General Purpose Desktop" are not listed.

At the end I get th

[2018-11-03 07:20] mdurand2018 opened #18163 "RHEL + RDP"
Hi,

I was trying to install in RHEL 7.4 but xfce4 is not supported in RHEL https://access.redhat.com/solutions/56723

I was using this guide: https://blogs.msdn.microsoft.com/microsoft_azure_guide/2017/02/19/how-to-install-and-configure-gui-and-oms-on-azure-rhel-linux-vm/ but is now working. But Some groups like "Desktop Platform" and "General Purpose Desktop" are not listed.

At the end I get th

[2018-11-03 07:56] #17840 closed

[2018-11-03 08:16] SaurabhSharma-MSFT commented on #17897
@chungsu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-03 08:16] #17897 closed

[2018-11-03 08:30] digeler opened #18164 "Upload secret for windows pre encrypted drive"
The doc does not show how to upload BEK secret for Windows only linux.
please update the following gist Into the DOC :

https://gist.github.com/digeler/dd4c80b9eba1ea2870e9310441835eb1
thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246df0be-86c4-083f-5896-d9ed79a94b88
* Version Independent ID: cba0daf5-b5f3-

[2018-11-03 10:05] olira commented on #13930
Can either of you please share a link to the support request to get involved / get an update when the issue is fixed?

[2018-11-03 10:42] Sean0885 opened #18166 "Number in strictFilter Value results in "no good match""
we sync the qna maker with an internal system. so we added a metadata syncitemid with a number as value, e.g. "name":"syncitemid", "value":"123"

after we added this metadata to all our questions in the qnamaker, we were getting always "no good match" result from the qna REST service - with and without using a strictFilter in query. Changing the value to "_123" fixed that and we where getting the

[2018-11-03 11:08] rs38 commented on #17820
@maertendMSFT yes, same result.

[2018-11-03 13:55] smoms commented on #17693
@kgremban thanks lot. please close the issue.

[2018-11-03 14:15] Dawny33 commented on #18041
Sorry. Should've mentioned that my OS was Ubuntu.  But, that's being tracked in a different issue: https://github.com/Azure/azure-docs-cli-python/issues/1116

[2018-11-03 14:39] stepro commented on #18091
@kobulloc-MSFT, can you close this issue?

[2018-11-03 16:30] sandervandevelde commented on #17351
I tried it on both Linux machines:

It failed on XUbuntu (I tested the deployment from the portal first):

root@64b1a431e17c:/azure-blob-storage# dotnet PlatformBlob.dll /blobroot
Illegal instruction (core dumped)
root@64b1a431e17c:/azure-blob-storage#

On Ubuntu 18.04 it fails too (here, the new blob image was not available yet):

Unable to find image 'mcr.microsoft.com/azure-blob-storage:1.0.1-l

[2018-11-03 16:48] gregorvilkner commented on #17054
Mike, the link you provided doesn't work for me. This is a very small but time-consuming issue (it was for me, anyways). Get this page fixed, please.

What I would have liked to see in the 5 posts about this is that the fix in the manifest was to switch "oauth2AllowImplicitFlow": true (it's false by default)

[2018-11-03 16:58] DiegoRamirez-MSFT commented on #18162
Hello @mdurand2018 are you following a particular document on azure.com? if not I would like to recommend to open a thread at the MSDN vistual machines forum so we can help you out with this issue
https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows
if you have any question please let me know

[2018-11-03 17:18] yoelhor commented on #17013
Thanks for the feedback. Please see the list of claims you should add:

|LDAP Attribute   | Outgoing Claim Type  |
|---------|---------|
|User-Pricipal-Name     |userPrincipalName         |
|Surname     |family_name         |
|Given-Name     |given_name         |
|E-Mail-Address     |email         |
|Display-Name     |name         |

[2018-11-03 17:34] #18163 closed

[2018-11-03 17:34] #18162 closed

[2018-11-03 17:38] DiegoRamirez-MSFT commented on #18166
Hello @Sean0885 Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-03 17:51] CarlosOnline opened #18168 "How can media reserved units be changed in V3 API?"
How can the media reserved units be changed in V3 API?

I know how to do it for V2, but not for V3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9504bc21-14ca-e8f3-5809-9273ac0b3cb0
* Version Independent ID: 06010792-11d3-c5c5-e0f5-c444c4ce1363
* Content: [Scaling Media Processing overview](https://docs.microsoft.com

[2018-11-03 18:44] DiegoRamirez-MSFT commented on #18158
Hello @rodji Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-03 18:44] DiegoRamirez-MSFT commented on #18157
Hello @rodji Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-03 18:45] DiegoRamirez-MSFT commented on #18159
Hello @barborico Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-03 18:46] DiegoRamirez-MSFT commented on #18168
Hello @CarlosOnline Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-03 18:51] sandervandevelde opened #18169 "Is CloudAppendBlob supported?"
I would like to append multiple texts in the same blob. Is the CloudAppendBlob class also supported?

This code:
            CloudAppendBlob blob = container.GetAppendBlobReference("appendfilename");
            if (! blob.ExistsAsync().Result)
            {
                blob.CreateOrReplaceAsync().Wait();
            }

results in "System.AggregateException: 'One or more errors occurred.' Stor

[2018-11-03 18:55] marstr opened #18170 "Response Doesn't Contain Expected Field"
When cancelling scheduled messages, I've never gotten back a map with my successful responses as documented here:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#response-3

I'm not sure what the correct behavior is:
1. No map is ever returned.
1. A list of outstanding scheduled messages is returned. (And I've just never tested a use case where I canc

[2018-11-03 21:32] mscherotter opened #18171 "The link to the Live SDK is incorrect"
The link to the Live SDK resolves to https://msdn.microsoft.com/library/bb404787.aspx which isn't for using the LiveAuthClient.  Please update the documentation to describe how to authenticate the Office API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b01cf43e-ecf3-ce7a-f9b8-a54918d23601
* Version Independent ID: b

[2018-11-03 21:40] romankiss opened #18172 "AdvancedFilters property json syntax"
Thanks for this new features, after the following changes (see a property **OperatorType**) it is working well using the REST PATCH call:

     "filter": {
        "advancedFilters": [
          {
            "OperatorType": "NumberGreaterThanOrEquals",
            "Key": "Data.Key1",
            "Values": 5
         },
        {
            "OperatorType": "StringContains",
            "Key": "Su

[2018-11-03 21:49] Rick-Kirkham opened #18173 "How can image versions differ from each other?"
The instructions in this article for creating an image version essentially tell me to specify the image definition, the managed image, and the version number. But version numbers imply that different image versions will be DIFFERENT from each other in some way. But if I follow these instructions to create a second image version (and specify 2.0.0 as the version), it would be exactly the same as th

[2018-11-03 22:03] OverseerMB opened #18174 "Thank you"
Just a quick note to say thanks for the detailed walkthrough.  I was able to successfully delete my vault so that I could start fresh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276c0-0980-ff36-933b-5012a39f75c5
* Content: [Delete a Recovery Services

[2018-11-03 23:48] sbhuttan commented on #15836
I downloaded the chef-starter kit from chef.io today, ".pem" and "knife.rb" files are available under ".chef" folder.

What I did not find is ".validator.pem".

If anyone can confirm and update that will be helpful. Thank you.

[2018-11-04 01:47] DiegoRamirez-MSFT commented on #18169
Hello @sandervandevelde Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-04 01:50] DiegoRamirez-MSFT commented on #18170
Hello @marstr Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-04 01:53] DiegoRamirez-MSFT commented on #18171
Hello @mscherotter Thanks for bringing this to our attention, I have assigned this to the author so it can be updated

[2018-11-04 01:59] mitchellw3 commented on #14847
Love You Israel, Joshua

[2018-11-04 02:01] DiegoRamirez-MSFT commented on #18172
Hello @romankiss thanks for bringing this to our attention, I just would like to confirm, the issue you are experiencing got corrected by replacing "Operator" with "OperatorType" ?

Best

[2018-11-04 02:02] baharw commented on #17280
I am having the same issue. I did follow -

1- Install Azure IoT Edge runtime on Linux (ARM32v7/armhf)
2- Deploy Azure IoT Edge modules from the Azure portal

This portion works. However, once I have deployed the PythonModule step-by-step as per the above instructions the communications stops. With the only ...

[IoTHubMonitor] Start monitoring D2C message for [myRPiDevice] ...
[IoTHubMonitor] Cre

[2018-11-04 02:04] DiegoRamirez-MSFT commented on #18173
Hello @Rick-Kirkham Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-04 02:06] DiegoRamirez-MSFT commented on #18174
Hello @OverseerMB thanks for your feedback and comments

[2018-11-04 02:06] #18174 closed

[2018-11-04 02:27] baharw opened #18178 "E0401:Unable to import 'iothub_client'"
I am getting the following error:

E0401:Unable to import 'iothub_client'

in the main.py. Can you please help me fix it?

Thank you in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Azure IoT Edge Py

[2018-11-04 07:39] Juliako commented on #18168
Hi @CarlosOnline ,
Currently, Media Reserved Units can only be managed using the Media Services v2 API. For more information, see  https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-scale-media-processing-overview.
thank you,
Julia

[2018-11-04 07:51] Ponant opened #18179 "Compare reliable services to external stores"
Comparing reliable collections to external stores such as sql or document db would be of a real help in FAQ, especially that the tutorials use reliable collections as a back end to store voting data. This comes as imposed and while one can understand that this example is to show a feature of service fabric, it becomes important for decision making, e.g. document db vs reliable collection. A simila

[2018-11-04 09:22] tariqjaber opened #18180 "Azure AD Connect Health URLs list"
For automatic upgrade to work, make sure you have opened the URLs in your proxy server for Azure AD Connect Health as documented in Office 365 URLs and IP address ranges https://support.office.com/article/Office-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2

Is the link correct? It doesn't include section for "Azure AD Connect Health"

---
#### Document Details

⚠ *Do not edi

[2018-11-04 09:46] onlyguest commented on #18091
move to Azure/dev-spaces#36

[2018-11-04 09:46] #18091 closed

[2018-11-04 10:13] robymes commented on #18063
I have the same problem, I'm currently a Contributor for a particular Resource Group into a customer's Subscription, and there's no way to be able to create any service endpoint: item is disabled when creating a VN, but also if you try to create a subnet there's no option for Service Endpoint.
On the other hand, I have no issues in my company's Subscriptions (where I'm an Administrator), is this s

[2018-11-04 10:52] femsulu opened #18181 "four deployment modes?"
Under " Modes of running deployment Planner" it says there are four modes but only 3 are listed . Is this a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69ab88d-6c40-e615-962d-db13f3b9755b
* Version Independent ID: 2ce1794a-0f8f-b500-b294-792ea4708737
* Content: [Run the Azure Site Recovery Deployment Planner

[2018-11-04 11:08] JeeWeetje commented on #17351
Using:

- Advantech UNO 2271G-AE
- XUbuntu 18.04, on par with patches and updates
- IoTEdge runtime, edgeAgent and edgeHub modules running version 1.0.4 (latest)
- other custom modules running as supposed or in a stopped state.

I tried a deployment from VS Code. At least I came to a descent Exception in the logs `$iotedge logs microsoftBlobStorage --tail 50`  of the blob storage module now;

`Unh

[2018-11-04 11:10] upoppe commented on #18146
@Mike-Ubezzi-MSFT Thanks a lot. An addition: Permissions with access to specific partition key values are not described in the Cosmos DB REST API documentation (see https://docs.microsoft.com/de-de/rest/api/cosmos-db/create-a-permission). The Permission attribute "resourcePartitionKey" should be added there.

[2018-11-04 11:17] SychevIgor opened #18182 "Add retired date to the first sentence"
Add retired date to the first sentence, where we mentioned that it will be retired.
Dates can be picked from here (or at least we need a link to this answer)
https://docs.microsoft.com/en-us/azure/scheduler/migrate-from-scheduler-to-logic-apps#faq

Articles scares customers and they think that they must rewrite their apps asap. We should explain it from the first sentence, that they have sometime

[2018-11-04 16:02] jrconner384 opened #18183 "Awkward headings"
The H2s phrased as questions are awkward.

Instead of asking “why should I use”, I suggest stating “advantages of using”. Instead of “how do I use”, I suggest “how to use”. Instead of “how do I start”, I suggest “getting started”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc6674ea-108a-b05b-f55d-3476977d83f8
* Ver

[2018-11-04 16:04] louisjvn commented on #18031
Hi, moment I assign an NSG with rule for port 80 it starts working.

Everything done from cloud shell.

Thanks

Louis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Saturday, November 3, 2018 6:56:36 AM
To: MicrosoftDocs/azure-docs
Cc: louisjvn; Mention
Subject: Re: [Micr

[2018-11-04 16:10] gunnarcms opened #18184 "WAF is allready integrated with Azure Security Center"
Hi, the doc says "WAF will be integrated with Azure Security Center soon", it is already integrated, see more details here https://docs.microsoft.com/en-us/azure/security-center/security-center-partner-integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d1f0bd-9465-c7d8-1006-32e050a2419d
* Version Independent

[2018-11-04 16:24] arkein opened #18185 "Please elaborate the tip # 'create your own solution for more frequent status updates of a running script'"
I haven't found any examples on how to get more granular status reporting from the running custom script.
The article mentions developing a custom solution but has no details.
Is there any additional guidance or example available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Ver

[2018-11-04 16:25] falconmick opened #18186 "not getting Location response"
When I call http://localhost:7071/orchestrators/E1_HelloSequence I get the following response:

Content-Type →text/plain; charset=utf-8
Date →Sun, 04 Nov 2018 16:20:05 GMT
Server →Kestrel
Transfer-Encoding →chunked

7d860980-e04d-11e8-a3e6-efa289348be6

Which doesn't include the Location header of which contains the URL i need to fetch to get the status, can you please update the docs to include t

[2018-11-04 16:32] mosharafMS opened #18187 "This article should be rewritten to reflect the functions runtime 2.0"
Azure Functions 2.0 has changed almost everything in this article. Now we can host functions on any platform. Time to change this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functions Runtime In

[2018-11-04 16:35] waynemsft opened #18188 "Size of each flow"
is there any way to know the size of each flow (i.e., how many bytes)?
or do you have predefined unit for each flow (i.e., 1kb or 10 bytes)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Content: [Introduction to flow

[2018-11-04 18:02] mgraf1 opened #18189 "Install-package Powershell command not working"
The command

Install-Package Microsoft.Azure.WebJobs.ServiceBus --Version &lt;target_version&gt;

fails with the error

Install-Package : Project '--Version' is not found.

It needs to be

Install-Package Microsoft.Azure.WebJobs.ServiceBus -Version &lt;target_version&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2018-11-04 18:29] DiegoRamirez-MSFT commented on #18183
Hello @jrconner384 Thanks for bringing this to our attention, I have assigned this to the author so it can be updated

[2018-11-04 18:32] DiegoRamirez-MSFT commented on #18178
Hello @baharw Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-04 18:35] DiegoRamirez-MSFT commented on #18179
Hello @Ponant Thanks for your feedback, I have assigned this to the author to evaluate any possible update

[2018-11-04 18:38] DiegoRamirez-MSFT commented on #18180
Hello @tariqjaber Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-04 18:40] DiegoRamirez-MSFT commented on #18181
Hello @femsulu Thanks for bringing this to our attention, I have assigned this to the author so it can be updated

[2018-11-04 18:44] DiegoRamirez-MSFT commented on #18182
Hello @SychevIgor Thanks for your feedback, I have assigned this to the author to evaluate any possible update

[2018-11-04 18:48] DiegoRamirez-MSFT commented on #18184
Hello @gunnarcms Thanks for bringing this to our attention, I have assigned this to the author so it can be updated

[2018-11-04 18:49] DiegoRamirez-MSFT commented on #18185
Hello @arkein Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-04 18:50] DiegoRamirez-MSFT commented on #18186
Hello @falconmick Thanks for bringing this to our attention, will review the issue and get back to you as soon as possible

[2018-11-04 18:52] DiegoRamirez-MSFT commented on #18187
Hello @mosharafMS Thanks for your feedback, I have assigned this to the author to evaluate any possible update

[2018-11-04 18:53] DiegoRamirez-MSFT commented on #18188
Hello @waynemsft Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-04 19:00] DiegoRamirez-MSFT commented on #18189
Hello @mgraf1 thanks for bringing this to our attention, I have pushed an update on the document, it should be posted within the next few hours

best

[2018-11-04 20:08] athompso commented on #16808
I can confirm the instructions do not work anymore (since the introduction of Managed Disk, as far as I can tell), and yes, waagent is once again broken on OpenBSD 6.4.  (I'd suggest that @reyk from Esdenera should at least know who needs to fix this, since his appliance is still available in Marketplace and appears to be a new-gen VM, not classic.)

[2018-11-04 20:52] cloudmelon commented on #17872
Hi @MarileeTurscak-MSFT I think this information is on the screenshot that I've provided ( obtain via Azure portal ), then I have the following doc link for this issue.
Ref link :
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl#public-certificates-optional

[2018-11-04 21:27] tomkuijsten opened #18190 "GetRouteDirections documentation/javascript problem"
If you read the following documentation:

https://docs.microsoft.com/en-us/javascript/api/azure-maps-rest/models.routegetroutedirectionsoptionalparams?view=azure-iot-typescript-latest#constantspeedconsumptioninkwhperhundredkm

It states that this property type is **number**

This is correct, it does expect a number in the JS library. However, the documentation has this sensible value: 50,8.2:130,2

[2018-11-04 22:05] shaikhosama opened #18192 "Calculate storage account details"
Hi team ,
 Is there any way we could get details of stoarge account usage in general ,

So i would need an way through which i could get details usuage for all storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd3

[2018-11-04 22:35] baharw commented on #18178
@DiegoRamirez-MSFT thank you for the quick response. I have resolved the issues. I needed to download iothub_client and iothub_service. A step that is missing in the instructions. It would be helpful to add that to the instructions so that others can avoid the trial and error that I went through.

Thank you

[2018-11-04 22:45] joknox opened #18194 "Incorrect labels on Request/Response arrowlines on https://docs.microsoft.com/en-us/azure/expressroute/expressroute-nat?"
The arrowline showing traffic from customer to Azure is labelled as 'Response',  and the arrow showing traffic from Azure to customer is shown as 'Request' - I believe should be other way round?  The hexagon showing NAT should also move to the other arrow (so it stays on the 'Request' arrowline).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-11-04 22:55] baharw opened #18195 "PythonModule fails to communicate"
I have followed the tutorial test by step. Almost everything works, except that the PythonModule does not send messages to the IoTHub on the cloud. It does, however, respond to Module Twin calls, evidenced by the entry in the log. Please see the log below. Can you please help me identify what I might be doing wrong?

Python 3.5.3 (default, Sep 27 2018, 17:25:39)
[GCC 6.3.0 20170516]

IoT Hub Clien

[2018-11-04 22:56] falconmick commented on #18186
I am using post. There’s already another issue related to this, when I get
to work I will reference and close

On Mon, 5 Nov 2018 at 4:23 AM, Mike Urnun <notifications@github.com> wrote:

[2018-11-05 00:04] #17467 closed

[2018-11-05 01:01] in4margaret opened #18196 "Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime nuget"
Why don't you use https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime/2.0.0 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47573737-9cd7-68b0-5c3e-45da0a61bb63
* Version Independent ID: d96ce7b0-2652-8f52-9eba-85b369cbeb34
* Content: [C# Quickstart - predict intent - LUIS - Azure Co

[2018-11-05 01:02] falconmick commented on #18186
@mike-urnun-msft your source code is C# which currently works as par the docs, javascript is still not in GA and this is a missing link. However it also kinda makes the tutorial/docs unusable if your using node.

I'm just going to have to fallback to the harder to use Lambda unfortunately.

Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/16118

[2018-11-05 01:02] #18186 closed

[2018-11-05 01:14] JackHorlock opened #18197 "POSIX ACL for Files and Folders"
I have been working with the Azure Data Lake Gen 2 preview and so far cannot find out how to configure the POSIX ACL permissions on files and folders. Where can I find information on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b975977b-abaa-8429-c902-30fd470c43ac
* Version Independent ID: 289cf357-a6d6-7c00-d2

[2018-11-05 01:48] ishepherd opened #18198 "There are no Cool Append blobs, correct?"
This page says that Append blobs aren't supported _for blob-level tiering_:

My understanding is that Append blobs do not support tiering at all - They are always hot even when they are in a cool storage account.

Please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Vers

[2018-11-05 02:10] DiegoRamirez-MSFT commented on #18190
Hello @tomkuijsten Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-05 02:10] haiquan commented on #16618
@BryanTrach-MSFT Is there any solution that I can monitor the block action by IP whitelist?

[2018-11-05 02:16] DiegoRamirez-MSFT commented on #18192
hello @shaikhosama Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-05 02:31] DiegoRamirez-MSFT commented on #18196
Hello @in4margaret Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-05 02:32] DiegoRamirez-MSFT commented on #18197
Hello @JackHorlock Thanks for reaching out, will review your question and get back to you as soon as possible

[2018-11-05 02:48] v-jaswel commented on #9854
Thank you! Doc has been updated.
#please-close

[2018-11-05 03:19] luqmanawawi86 opened #18200 "Provide consent to azure stack"
Mary must provide consent to Azure Stack accessing the guest directory and register Azure Stack with the guest directory.

Any detail steps on how to achieve this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27974ff6-00a9-4ed4-94ab-6b7dd1e2325e
* Version Independent ID: ffbe2e63-9cd2-327b-759c-6663517d7132
* Content

[2018-11-05 03:21] v-jaswel commented on #9860
Thank you, that has been corrected to:
"Click Train Dialogs and then New Train Dialog."
to match the previous section.
#please-close

[2018-11-05 03:56] kuhussai commented on #18198
That's not correct. The default account tier applies to both block and append blobs in the account. Blob-level tiering, however, can only be performed on block blobs.

[2018-11-05 04:17] joknox commented on #18194
Diego,

Oh dear – yes it does clarify - I hadn’t realised it was dealing with traffic over the internet rather than ER!

Joanna

From: Diego Ramirez [mailto:notifications@github.com]
Sent: Monday, 5 November 2018 1:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Knox, Jo <Jo.Knox@team.telstra.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-11-05 05:46] jurjenoskam opened #18202 "Page should mention that alias records to Public IP addresses only work with some resource types"
I created an alias record for a Public IP address which was assigned to an Application Gateway, and ran into the problem that it basically did not work. It would sometimes return the correct address (depending on the creation sequence) but more often than not it would return either no data (NXDOMAIN) or worse: stale data. In the support case I created it was stated that alias records for Public IP

[2018-11-05 05:59] thomshib opened #18203 "Would Read-Only scale out work with sharded databases using elastic pools?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-05 06:51] ams0 opened #18204 "Use service.beta.kubernetes.io/azure-dns-label-name to assign a DNS name"
There's a slightly easier way to achieve the same, and is to use:

service:
    annotations: service.beta.kubernetes.io/azure-dns-label-name: "mycustomdnsname"

in the service definition of the ingress controller (the helm command becomes like:

[code]

This way you can skip the section [here](https://docs.microsoft.com/en-us/azure/aks/ingress-tls#configure-a-dns-name) and just use then `mycustomd

[2018-11-05 07:03] JetstreamRoySprowl commented on #17280
Tagging @sergaz-msft to flag @baharw post above.

[2018-11-05 07:09] tunoi commented on #17195
Hi. Is the Windows Azure Vm Agent provided for x86 platforms? I would need it for a custom VHD that runs Windows 7 x86 Embeded.

[2018-11-05 07:17] dcbrown16 commented on #17195
@tunoi please open your own issue so that it can be tracked and assigned as needed, thanks.

[2018-11-05 07:39] mayank18081993 opened #18205 "Recognizing Printed and Handwritten Text - Image Size"
can we increase the image size greater than 4mb?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e9009
* Content: [Recognizing printed and handwritten text - Computer Vision - Azure Cognitive Services](https://docs.microsoft.co

[2018-11-05 07:41] #9860 closed

[2018-11-05 07:41] #9854 closed

[2018-11-05 07:58] Brianmposi opened #18206 "Automated Data factory Scehduled triggers spin up On-demand cluster vs Manually triggered run spin up a different new On-demand cluster."
For the pas week or so, we've noticed a bug with regards to automated jobs spinning up the on-demand cluster vs manually triggered runs spinning up a different cluster in Data Factory which has caused most of the automated scheduled pipelines to fail.

[2018-11-05 07:59] GPAgethub opened #18207 "Feelback"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-05 08:04] tunoi opened #18208 "Windows Azure VM agent support for x86 platforms"
Is the Windows Azure Vm Agent provided for x86 platforms? The [official documentation ](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows) provides only the x64 version.
I would need it for a custom VHD that runs Windows 7 x86 Embeded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f4

[2018-11-05 08:15] Philippepaiola commented on #17582
Hi Tyson,

Any news from my ask ?

Le lun. 29 oct. 2018 à 18:34, YutongTie-MSFT <notifications@github.com> a
écrit :

--

Cordialement,

Philippe PAIOLA
_______________________________________

Des questions sur Microsoft Azure ? Toutes les réponses sont dans mon 5ème
livre, disponible au prix de* 54 €
<http://fr.wikipedia.org/wiki/Euro_(symbole)>* sur Amazon
<https://www.amazon.fr/Microsoft-Azure

[2018-11-05 08:25] fakelefteye opened #18209 "automatic translation"
hello,

I have a form with an automatic translation if the user types "north dice" which is a brand I don't want it to be translated. And lots of other brands like this one.
I added a file with this syntax Syntax:

&lt;mstrans:dictionary translation=”translation of phrase”&gt;phrase&lt;/mstrans:dictionary&gt;

Example: en-de:

Source input: The word &lt;mstrans:dictionary translation="wordomatic"&

[2018-11-05 08:43] TingLiu6 opened #18210 "Typo, change SDD to SSD"
Typo, not Premium SDD Managed Disk Type, it's  Premium SSD Managed Disk Type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f0a76ee8aaea
* Content: [Azure Premium and Standard Managed Disks Overview for Windows VMs](https://docs.mic

[2018-11-05 08:54] Karishma-Tiwari-MSFT commented on #18031
@louisjvn Thanks for the update.
@zr-msft Can we please make sure that we have all the VMSS docs updated with the provided solution as these tutorials do not work without that. This change will cover these 3 issues:  #15368 #15286 #18031
Please let me know if you need more information/help with this. Thanks :)

[2018-11-05 08:59] lawrencejoffe opened #18211 "Trigger type comparison mapping error"
Hi,

The section on Pipeline-to-trigger relationship, the tumbling window trigger is a many-to-one relationship and not a one-to-one relationship.

You have the ability to create multiple triggers for a single pipeline. This may be interpreted incorrectly.

Kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d

[2018-11-05 09:06] rayne-wiselman commented on #18111
This is fixed. Should be published by Monday/Tuesday

[2018-11-05 09:07] rayne-wiselman commented on #17802
Please assign to @sujayt

[2018-11-05 09:11] rayne-wiselman commented on #17761
thanks for your feedback! This is now fixed.

#please-close

[2018-11-05 09:31] rayne-wiselman commented on #17161
I think this has been answered. #please-close unless there are more comments

[2018-11-05 09:32] chrnz commented on #17520
@dlepow I'm the customer trying to achieve this "Send task-based workload output from container instances to a database in the virtual network"
The database is Azure SQL Database.
We don't want to use the too permissive setting "Allow access to Azure services" and so trying to allow the ACI specific subnet.
In our case, the task is a SQL request that we embed in a powershell script executing in a

[2018-11-05 09:42] ishepherd commented on #18198
Oh - thanks @kuhussai!

So while I'm here: how best to move existing append blobs to the cool tier?

Changing the default just affects new append blobs, append blobs can't be tiered individually, azcopy does not support append blobs (IIUC)

[2018-11-05 09:47] vovikdrg opened #18212 "Azure function fails to upload blob"
When I am resizing photo AF will upload photo to emulator, but it fails with 500 exception. Some errors from logs

5/11/2018 8:45:39 PM [UnhandledException] [ActivityId=6c7e0429-c352-4fac-9ca1-60e55021fdba] EXCEPTION thrown: Microsoft.Cis.Services.Nephos.Common.Protocols.Rest.FatalServerCrashingException: The fatal unexpected exception 'Object reference not set to an instance of an object.' encoun

[2018-11-05 09:48] daniel-rocha commented on #12643
Hello, do we have an update for this?

[2018-11-05 09:56] Souvik04 commented on #14778
@pchoudhari Hi. I am trying to use the 'source' as the strictFilter metadata but it doesn't seem to work. Here is how I am doing-
`Dictionary<string, object> requestData = new Dictionary<string, object>
{
	["question"] = question,
	["top"] = top,
	["strictFilters"] = new Dictionary<string, object>
	{
		["source"] = "748be268-a91c-4fd5-8ce8-e7e789480d71-KB.tsv"
	}
};

string requestBody = JsonConve

[2018-11-05 10:21] wald-tq commented on #16146
How to deploy to an already existing app?

[2018-11-05 10:31] scarbon opened #18213 "serviceBusSKU missing brace"
serviceBusSKU code sample missing curly brace "}" at the end

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e8b925e-ace5-40dd-f70f-f65670db151d
* Version Independent ID: 44534890-fcac-f171-f9c5-f4ceae0995d4
* Content: [Create Service Bus Messaging namespace using Azure Resource Manager template](https://docs.microsoft

[2018-11-05 10:37] DimsumPanda opened #18214 "v2 "Converged" Application"
I added AuditLog.ReadAll (admin only) and Directory.ReadAll permissions to my converged application using the application portal, consented the application to allow for AuditLog.Readall. However, when I use my access_token to the API (created with my admin credentials), I get this error: {
    "error": {
        "code": "Authentication_ApplicationHasNoReadAuditLogDataAccess",
        "message": "A

[2018-11-05 10:39] jolguk opened #18215 "Dev Spaces create fails with can't create a Dockerfile because of unsupported language"
Hi. I'm following the steps at https://docs.microsoft.com/en-gb/azure/dev-spaces/quickstart-nodejs to create a Azure Dev Spaces with node.js but it fails with the error message 'WARNING: Dockerfile could not be generated due to unsupported language. Please create a Dockerfile manually.' I'm using the code at https://github.com/Azure/dev-spaces pointed at by the documentation itself so how is that

[2018-11-05 10:50] Liversage opened #18216 "Using baseball as an example is culture dependent"
While I really appreciate that you want to explain the somewhat complicated issue of consistency levels using an example from real life the choice of baseball is hard (or impossible) to understand if you don't know the rules. Baseball is a popular sport in the Americas and also in some Asian countries but the rules are not well-known in other parts of the world. I don't know the rules and I don't

[2018-11-05 10:53] SwayTex opened #18217 "Sign up for the preview"
Hi there.
Already applied for the preview of dynamic thresholds twice, still no feedback.
Is there any way to contact someone directly?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e700d244-ec5f-b85a-9377-cfc6e1856eb4
* Version Independent ID: 575b6097-0d98-0bf1-71ce-4b0c2283fc52
* Content: [Creating Alert

[2018-11-05 11:06] sergaz-msft commented on #17693
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 11:06] #17693 closed

[2018-11-05 11:09] sergaz-msft commented on #17310
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 11:09] #17310 closed

[2018-11-05 11:12] Minewiskan commented on #16790
@raphaelkoeppel Is your issue saying there's a documentation issue here, or are you having a problem with you API call/response?

[2018-11-05 11:15] BUD93 opened #18218 "Out Dated screenshots"
I am currently deploying application gateway and saw that this document is outdated. Please update this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c569b7f2-c2e0-de8d-bcb1-878a8fa731c7
* Version Independent ID: 52ac1d1c-6a32-390e-e650-c4134a540e76
* Content: [Create an Application Gateway - Azure Portal](h

[2018-11-05 11:33] rayne-wiselman commented on #17607
I added an additional item to the FAQ to explain when these agents are needed. It should publish by tomorrow.

[2018-11-05 11:33] rayne-wiselman commented on #17607
#please-close

[2018-11-05 11:34] PeterIttner opened #18219 "Static Resources will be loaded from wrong Application"
## Description

The provided example just works because one service is provided under the root-path **`"/"`** and the second is provided under **`"/hello-world-two"`**. If you would provide the second first service not under **`"/"`** but instead under **`"/hello-world-one"`** static resources would not be loaded.
This is because the applications render for example **`"<link rel="stylesheet" type=

[2018-11-05 11:36] rayne-wiselman commented on #17663
Failback for VMware happens over a VPN or ExpressRoute - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#failover-and-failback-process
thanks
#please-close

[2018-11-05 11:40] willyrj opened #18220 "Could not enable MultiFactorAuthAdfsAdapter.log"
Hi:
Im following exactly the procedure in order to enable the log in a ADFS server with the MFA Adapter installed and could not find a way to make it work. Are there any updated regarding the Section: Troubleshooting Logs ??
Thanks for your support.
Willy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a214f19-bb7c-2ed

[2018-11-05 12:03] rwatjen opened #18221 "Is it possible to add the custom HTTPS certificate using ARM template"
It's possible to create the CDN endpoint with a custom domain name using an ARM template. Is it also possible to add HTTPS support for that endpoint in the ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* C

[2018-11-05 12:20] kelujule opened #18222 "Scheduled Refresh"
Thank you for the information. Could you possibly provide some more details on Step 8 on how to schedule a regular refresh on Appinsights data (perhaps just link to the relevant page)? In PowerBI Desktop -&gt; File -&gt; Options & Settings I did not find that option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0abef

[2018-11-05 12:20] rasmus-s opened #18223 "How to upgrade VMSS image from Win2012-R2 to Win2016 image?"
I use the automatic OS image upgrades when upgrading within a single sku like (2012-R2-Datacenter), but when change the sku to “2016-Datacenter” I get this error: “Virtual Machine Scale Sets with Automatic OS Upgrade enabled must have all VM instances upgraded to same Platform Image.”
All my nodes are on the same platform 2012-R2, when I want to upgrade them to the new 2016-datacenter sku.
Is this

[2018-11-05 12:38] Jakes234 opened #18224 ""statusCode": 404, "message": "Resource not found""
Can't access the HTTP : https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/keyPhrases, I get an error "statusCode": 404, "message": "Resource not found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7f0fbc6-bf5d-2376-bfc8-f7e63675155b
* Version Independent ID: eef72ee6-4976-656a-d993-7f89fecdeb9a
* Conten

[2018-11-05 12:40] YutongTie-MSFT commented on #18205
@mayank18081993 Sorry, at this time, you can not increase the limitation. I will forward this feature request to product team. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-05 12:40] #18205 closed

[2018-11-05 12:51] pchoudhari commented on #14778
Source is not a metadata. We consider metadata that are explicitly added as metadata as a name:value pair.

[2018-11-05 12:55] Souvik04 commented on #14778
@pchoudhari You mentioned

Am I doing something in a wrong way?

[2018-11-05 12:57] ArturSprinter commented on #17626
I encountered the same problem today while I was configuring DNS Zones on my server.

I was trying to add DNS record set with PowerShell, but no luck. Error still exists (look at screenshot below).
![azure dns error](https://user-images.githubusercontent.com/44770812/47999206-23b44100-e102-11e8-9e87-ab44eddabd64.png)

[2018-11-05 13:01] pchoudhari commented on #14778
Did you add "source" as an explicit metadata to your KB?

[2018-11-05 13:07] YutongTie-MSFT commented on #18209
@fakelefteye Hi, thanks for your feedback here. For Translator issues, please go to: https://stackoverflow.com/questions/tagged/microsoft-translator .
The engineering team monitors it daily. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-05 13:07] #18209 closed

[2018-11-05 13:08] lovababu commented on #12072
Error 'InvalidSignature: The token has an invalid  signature.' when i use SAS policy "RootManageSharedAccessKey" from service bus namespace.

But went fine with SAS policy created on Service Bus Topic page. I am using java sdk 1.2.8, is it expected? If yes, we may have to re-look into this documentation.

[2018-11-05 13:10] YutongTie-MSFT commented on #18196
@diberry Hi Dina, can you please check this doc idea? Thanks!

[2018-11-05 13:15] YutongTie-MSFT commented on #18166
@Sean0885 Good question Sean, thanks for bring it to our insight. I have assigned the author to consider if it needed to be added in the document.

@tulasim88 Hi, can you please take a look of this question? I think it's a good point and should be added in the document. Thanks!!!

[2018-11-05 13:20] Souvik04 commented on #14778
@pchoudhari I see. I think I got the issue. I will try adding the 'source' to filters in the form of name/value in the QnAMaker KB and see how that works. Thanks for your prompt response!

[2018-11-05 13:21] raphaelkoeppel commented on #16790
@Minewiskan The documentation is ok.
The response header “location” is missing.
It schould contain the URL for the get.
(With the refreshId at the end)

[2018-11-05 13:29] pvrk commented on #17884
You first deploy a protection agent to detect resources you can protect. If the protection agent is deployed on a Hyper-V host/VMWare host, you can see all the virtual machines present on the host. Then you can backup those VMs. If you deploy protection agent within a virtual machine, you can see the files/folders/applications within the VM. Then you can protect files/folders/applications within t

[2018-11-05 13:43] Julia-Alexandrova commented on #14857
@Karishma-Tiwari-MSFT , @tysonn Would be great tp get an update on the issue. Thanks in advance.

[2018-11-05 13:49] kkho opened #18225 "Managedidentity feature for Azure Container Instance gives "took too long to respond" error after deploying is finished through Azure CLI"
After deploying a container instance through Azure CLI with managed identity, it seems that everything works fine, but when I am trying to go into the container instance (through FQDN), then it does not show anything and times out.

"This site can’t be reached"

I am following this instructions:

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity

the c

[2018-11-05 13:55] diberry commented on #18196
@in4margaret Thank you for taking the time to ask this question. That is currently being considered but has not been scheduled.

[2018-11-05 13:58] hpatel01 commented on #6129
Managed instance - Is it planned to have database, managed instance or SQL Agent on managed instance to be offline or pause? More than reducing the cost its much needed feature to quiesce the database activity during code upgrades, patches etc. It contradicts with the cross database query feature if it can not be paused for the database updates.

[2018-11-05 13:59] YutongTie-MSFT commented on #18196
@diberry Hi Dina, you want me keep it opening or let me close it?

[2018-11-05 14:00] NissanAloni opened #18226 "failure retrieving json auth key value"
Hi,

I've followed all of the steps with some modifications - I'm using a group enrollment instead of individual enrollment.
When I run prov_dev_client_sample i get the following errors:

Provisioning API Version: 1.2.10

Registering Device

Provisioning Status: PROV_DEVICE_REG_STATUS_CONNECTED
Error: Time:Mon Nov  5 15:55:39 2018 File:c:\temp\azure-iot-sdk-c\provisioning_client\src\prov_device_ll

[2018-11-05 14:10] YutongTie-MSFT commented on #18224
@Jakes234 Hi, sorry to hear your issue. I will suggest you to check if you are using the endpoint which your subscription key is under. Please go to your portal to check your subscription.

[2018-11-05 14:13] mariojacobo opened #18227 "Add planned maintenance and health advisories"
The ARM template example references only the category "ServiceHealth", which is bound to "Service Issue". How can we also add the other 2, "planned maintenance" and "health advisories" in our template ? I can't seem to find any docs referring to this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d87021-31e4-29d5-fb

[2018-11-05 14:15] mayurpuli commented on #16618
Okay, here is the deal: If you want to see the log of which IP addresses accessing my web app, you can see them in webserver logs

But if you want to see a log of restricted IPs accessing my web app, here is the reply from Bryan (copy pasting it which was answered thru an internal email)
------------------------------
I do not believe it would be possible. IP restrictions set in the networking bla

[2018-11-05 14:18] femsulu commented on #18217
@SwayTex Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-11-05 14:19] femsulu commented on #18217
@antonfrMSFT any guidance you can share with @SwayTex?

[2018-11-05 14:32] hpatel01 commented on #7003
Is that a update on this, its so cumbersome to deploy image in availability set and then implement best practices like moving system DBs, errorlogs on another disk, image needs to have atleast 2 disks, one for Windows/OS and 2nd for system DBs.

[2018-11-05 14:33] alexander-riss opened #18228 "Content-type not using proper quotes?"
It looks like the required default Content-Type :
Content-Type: audio/wav; codec=audio/pcm; samplerate=16000
should rather be:
Content-Type: audio/wav; codec="audio/pcm"; samplerate=16000
to be a valid media type - without quotes this will trip most (java) parsers. (see http://www.ietf.org/rfc/rfc2046.txt )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-11-05 14:34] shahiddev opened #18229 "Likelyhood of IP address changing without warning."
If we're using the list of IP addresses provided by `--query possibleOutboundIpAddresses ` as a whitelist, how likely are these to change without prior warning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce77cde-5dc1-65c5-6c56-3fa425966a3b
* Version Independent ID: 0958e461-ca92-2fea-dd67-143cc9f939f6
* Content: [

[2018-11-05 14:34] rolandkru opened #18230 "Azure Data Factory removes all declarations"
When calling a USQL script via Azure Data Factory, all declared variables gets removed, even if those where not specified as a parameter in ADF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263da9e8-8bdc-864d-435c-25bf3c34e34c
* Version Independent ID: d01cafe1-3f9d-cd48-da8f-1e066507ab30
* Content: [Transform data u

[2018-11-05 14:37] krokoko commented on #17936
Hello @chipalost ,

  Thank you for the answer. My scenario would be the second one, where my device will not have connectivity and will connect directly to the edge gateway. Is it today a supported feature or it's under discussion ? Thanks !

[2018-11-05 14:38] calinmarina opened #18231 "Is Enable SQL Database Auditing in Log Analytics destination possible via automation?"
I've been looking around for a while to achieve this and I could only find mentions about doing it in a Storage account with Powershell but I want Log Analytics workspace and I can't seem to find a documented way.

basically... step 7 in following description https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing is what I'm after but obviously in a fully automated way

Thanks

[2018-11-05 14:38] #18230 closed

[2018-11-05 14:39] rolandkru commented on #18230
The problem was, that ADF seems to cache the U-SQL script. So uploading a new version to blob storage does not help.

[2018-11-05 14:55] femsulu commented on #18227
@mariojacobo Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.
@bwren - assigned this to you as i am unable to find @shawntabrizi GH alias.

[2018-11-05 14:57] mamccrea commented on #18098
Hi @kamigash - I am working with the product team on your feedback.

[2018-11-05 15:10] Minewiskan commented on #16790
@raphaelkoeppel Ah! Ok. This issue created as a documentation issue. Sounds like you have more of a support issue. Git Issues from docs is for documentation or product feedback. You'll have to create a support request from the portal or you might try the forum. https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices
#please-close

[2018-11-05 15:10] diberry commented on #18196
#please-close

[2018-11-05 15:16] Skorfulose opened #18232 "Troubleshoot "Workplace Join: YES""
This guide is still lacking.
We currently have hundreds of corporate owned devices that have been workplace joined. Hence they don't reach the hybrid join. Please add:
- Possible reasons for manual/automatic workplace join of (on prem) domain joined devices
- Measures to remediate and reach hybrid join.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-05 15:22] jimmylindo commented on #12346
Hi, How will we handle F users for licensing?

[2018-11-05 15:42] shraboin opened #18233 "Arm request"
Can you set up key rotation through an ARM call?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e31ea14-f6b0-0cd8-0aee-64427a665a36
* Version Independent ID: 60879db1-8dff-b97b-3051-c129181f1c97
* Content: [Set up Azure Key Vault with end-to-end key rotation and auditing](https://docs.microsoft.com/en-us/azure/key-vau

[2018-11-05 15:44] PawelLiebich opened #18234 "RBAC Permissions for Azure Policy"
Hey,
There is misleading information regarding RBAC Permissions for Azure Policy.

Should be:
- Contributor has Azure Policy permissions to read.
- Reader and Security Admin can view compliance information.

[2018-11-05 16:22] tfitzmac commented on #18172
@romankiss - thanks for bringing this to our attention. I have submitted a fix that should get published this morning.

[2018-11-05 16:28] hassanbabaie opened #18236 "Backup of Azure Files with Storage Firewall enabled?"
This is related to the question"File share backup with firewall enabled"

Above it states that you cannot backup Azure files when you have the following:

"You can't protect Azure file shares in storage accounts that have Virtual Networks or Firewall enabled."

Given the limitation related to authentication with Azure Files and needing to use the main account key you almost must need to enable the

[2018-11-05 16:43] #16790 closed

[2018-11-05 16:44] #17161 closed

[2018-11-05 16:44] #17607 closed

[2018-11-05 16:44] #17663 closed

[2018-11-05 16:44] #17761 closed

[2018-11-05 16:45] #18196 closed

[2018-11-05 16:48] Alberto-Vega-MSFT commented on #18226
@NissanAloni Thank you for your feedback! Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 16:48] DiegoRamirez-MSFT commented on #18194
thanks for your confirmation @joknox I will proceed to close this, please do not hesitate to reach out to us if anything is needed

[2018-11-05 16:48] #18194 closed

[2018-11-05 16:52] franelj opened #18237 "Lookup activity with HTTP source calling endpoint twice"
Hi,

I have a pipeline with a Lookup Activity, which is calling an Azure Function through HTTP dataset using a HTTP linked service. A Web Activity was previously used to do this, but since the activity absolutely needs to be run by a self-hosted integration runtime, the type of activity had to be changed.

But for some unknown reason, the activity requests the Azure Function twice (seen on the App

[2018-11-05 16:54] Alberto-Vega-MSFT commented on #18222
@kelujule Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 16:55] MicahMcKittrick-MSFT commented on #18225
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 16:55] MicahMcKittrick-MSFT commented on #18223
Thanks for the question! We are investigating and will update you shortly.

[2018-11-05 16:56] MicahMcKittrick-MSFT commented on #18204
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-05 16:57] MicahMcKittrick-MSFT commented on #18210
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 16:57] Alberto-Vega-MSFT commented on #18203
@thomshib Thank you for your feedback! Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 16:57] MicahMcKittrick-MSFT commented on #18219
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 16:58] erhopf commented on #18228
Hi @alexander-riss, thanks for reaching out. Are you referring to the generic POST request example (see below)? I just tested the request with Postman using the original and proposed syntax and both work. Can you point me to the part of the RFC spec that discusses use of quotations?
![screen shot 2018-11-05 at 8 12 45 am](https://user-images.githubusercontent.com/42188191/48013368-0028d080-e0d9-11

[2018-11-05 16:58] rayne-wiselman commented on #18111
#please-close

[2018-11-05 16:59] Adam-Smith-MSFT commented on #18063
@sumeetmittal I was Travis' backup last week, I don't know the internal contacts for this issue, I'll assign it to Travis since he is back now. If you know any contacts, please let us know so we can route it to the correct channels.

Thanks,

[2018-11-05 17:04] sumeetmittal commented on #18063
Please check with someone on the ARM team. Thanks

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, November 5, 2018 8:59 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sumeet Mittal <Sumeet.Mittal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Need description for "Service endpoints are not available for the currentl

[2018-11-05 17:08] ejacobsen-glofin opened #18239 "How do you upload a module?"
Have not seen any Microsoft documentation for uploading a module to your automation account. Found external resources for this, but cannot find the proper path to reference for the module I've uploaded. Surprised there isn't a "path" property for each module...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d50859e-54

[2018-11-05 17:11] jeffgilb commented on #18115
Hello, installing the ASDK in Azure is not supported and so not documented.

#please-close

[2018-11-05 17:12] Adam-Smith-MSFT commented on #18192
@shaikhosama unfortunately we don't have a tool to do that, however, you can use storage explorer, or azure metrics to read the capacity for each storage solution you are using, more info can be found on this post: https://stackoverflow.com/questions/43629557/check-space-used-in-azure-storage-accounts-in-my-subscription We will now proceed to close this thread. If there are further questions regar

[2018-11-05 17:12] #18192 closed

[2018-11-05 17:15] KyleJAnderson commented on #10811
Hello, I keep getting the following error on the "Microsoft.OperationalInsights/workspaces/savedSearches/schedules/actions" section. I am using apiVersion 2017-03-15-preview

Here is my resource
{
			"name": "[concat(variables('workspaceName'), '/', variables('searchName'), '/', variables('scheduleName'), '/', variables('alertName'))]",
			"type": "Microsoft.OperationalInsights/workspaces/savedSea

[2018-11-05 17:16] KyleJAnderson commented on #10811
sorry the error is
"error": {
    "code": "BadRequest",
    "message": "Please validate the JSON payload."
  }

[2018-11-05 17:18] MarileeTurscak-MSFT commented on #18234
Hi @PawelLiebich , Please reference the document you are referring to so we can address your comments.

[2018-11-05 17:20] alexander-riss commented on #18228
Hi @erhopf i tried the same with e.g. spring rest-client and it always fails to parse the "/" in the codec parameter unless it is quoted. There is one example in the RFC which uses forward slashes - and quotes. see http://www.ietf.org/rfc/rfc2045.txt chapter 5.1

[2018-11-05 17:20] roiyz-msft commented on #18208
@tunoi, we don't support non x64 versions as of today. It may be something we'll explore in the future, but no concrete plans as of now.

[2018-11-05 17:21] Adam-Smith-MSFT commented on #18085
@KeiroKamioka0000 Could you provide us with additional info on what you are trying to accomplish/trying to use ? This would help us provide you with an accurate answer.

[2018-11-05 17:23] Alberto-Vega-MSFT commented on #18208
@tunoi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 17:28] Karishma-Tiwari-MSFT commented on #17433
@IrakliLomidze We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-05 17:28] #17433 closed

[2018-11-05 17:28] Karishma-Tiwari-MSFT commented on #18026
@dinoreborn We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-05 17:28] #18026 closed

[2018-11-05 17:29] MarileeTurscak-MSFT commented on #18232
Thanks, @Skorfulose ! I have assigned this issue to the content author, @MarkusVi , to respond to your feedback.

[2018-11-05 17:30] Karishma-Tiwari-MSFT commented on #18030
@ramankumarlive Did you get a chance to take a look at this issue?

[2018-11-05 17:31] jason-j-MSFT commented on #18230
@rolandkru thanks for the feedback!

[2018-11-05 17:34] Karishma-Tiwari-MSFT commented on #18208
@tunoi Thanks very much for your feedback on this. PLease post your request [here](https://feedback.azure.com/forums/216843-virtual-machines).
This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritization.

[2018-11-05 17:35] #18208 closed

[2018-11-05 17:36] Minewiskan commented on #16799
#please-close

[2018-11-05 17:40] Mike-Ubezzi-MSFT commented on #18216
@Liversage Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-11-05 17:43] NissanAloni commented on #18226
Hi Alberto,
Thanks for the fast reply.
I was referring to the following documentation: https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-symm-key

In addition, I noticed that one of the closed cases referred to the CMAKE command. The command in the documentation is still not updated with the fix.
The correct CMAKE command should be:

**cmake -Duse_prov_client:BOOL=ON -Dh

[2018-11-05 17:46] Alberto-Vega-MSFT commented on #18206
@Brianmposi This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.
I am closing this issue since it is not feedback for a specific documen

[2018-11-05 17:47] rolyon commented on #18108
Hi @ph0rman
Thanks for your feedback. I'll see if If can identity the permissions.

[2018-11-05 17:47] #16799 closed

[2018-11-05 17:48] MarileeTurscak-MSFT commented on #18214
@DimsumPanda
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 17:49] maertendMSFT commented on #17820
@jluk

[2018-11-05 17:49] MarileeTurscak-MSFT commented on #18220
@willyrj
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 17:50] royshea commented on #16716
I can confirm this behavior.  Dropping a bet deeper into the problem.  The table is embedded using:

[code]

That link returns a 404.  Note that it is a link into what appears to be a personal fork(?) by @ellacroi, rather than the base azure-docs repository.  I poked around trying to find a "storefronts_options_table.png" to link to, but have not found one.

[2018-11-05 17:51] MarileeTurscak-MSFT commented on #18233
@shraboin
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 17:54] MouthOfMadness commented on #17569
How do you opt-in to the preview experience, I cannot view the App Registration (Preview) as is, even though I have application registered in it (I can see them via powershell).

[2018-11-05 17:55] joesuffceren commented on #15255
@Marilee The articles you posted are about Microsoft Federation Gateway for Microsoft Exchange organization sharing (cross-org or cross-premises availability/free-busy sharing). They have nothing to do with AAD SAML authentication.

@thommck, I have an application (Bullhorn ATS/CRM) that only wants the federation metadata XML as well, and when those certs expire, my ability to auth to the app brea

[2018-11-05 17:58] rachel-msft commented on #17182
Updated the quickstart at this time to show local psql. Also following up with cloud shell team to see if getting IP is possible.

[2018-11-05 17:58] CelesteDG commented on #17569
@MouthOfMadness - You'll need to sign in to the Azure portal, https://portal.azure.com, select the right tenant/directory and from the services blade, select **Azure Active Directory** and you should see **App registrations** and **App registrations (Preview** (select the latter).

[2018-11-05 17:59] Karishma-Tiwari-MSFT commented on #18185
@roiyz-msft Can you please take a look at this questions and share your insights. Thanks. :)

[2018-11-05 17:59] ggailey777 commented on #14159
@Mike-Ubezzi-MSFT please assign to @craigshoemaker whonow owns this article. Thanks!

[2018-11-05 18:01] nkolchakov commented on #18036
Hi, @mamccrea yes I followed the tutorial. Just forgot to expand the References in the picture

[2018-11-05 18:03] MicahMcKittrick-MSFT commented on #17881
@gperrego thanks for the further clarification.

@aljo-microsoft can you comment further?

[2018-11-05 18:03] Alberto-Vega-MSFT commented on #18215
@jolguk Thanks for your feedback we are currently investigating and will update you shortly.

[2018-11-05 18:04] mike-urnun-msft commented on #18213
Hi @scarbon Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-05 18:04] MicahMcKittrick-MSFT commented on #17920
@jluk thanks for that clarification! I agree this would be something good to note in the doc so others are aware as well.

@dlepow is this something you can work on adding? Or would @seanmck be the best to assign to?

[2018-11-05 18:06] MicahMcKittrick-MSFT commented on #18002
@dlepow @iainfoulds just checking in to see if either of you might be able to comment further on this?

[2018-11-05 18:07] Alberto-Vega-MSFT commented on #18212
@vovikdrg Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 18:09] Karishma-Tiwari-MSFT commented on #18210
@TingLiu6  I have opened a PR with the change. It will be reflected in the doc as soon as the PR is merged. Thanks.

[2018-11-05 18:11] WSturman commented on #15387
@hei9gag , We do support acoustic adaptation for zh-CN | Chinese (Mandarin, simplified).

Please see https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support. Thank you.

[2018-11-05 18:11] ggailey777 commented on #12543
@MisinformedDNA sorry for the inconvenience, but we are behind in getting examples in this article updated for v2 (.NET Core APIs).  This is being tracked internally in this work item: [#1380883](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1380883). Since this issue is being tracked, we can #please-close per the feedback SLA. Thanks!

[2018-11-05 18:11] #13492 closed

[2018-11-05 18:11] tysonn commented on #13492
@dcbrown16 - Thanks for the update! Closing.

[2018-11-05 18:11] MicahMcKittrick-MSFT commented on #18035
@zingaroo I will add a note that for Automatic Updates to apply in Service Fabric clusters your cluster must be built using at least the Silver durability level. As per allowing this for future SF clusters, I would suggest you leave that feedback on uservoice page so others can see it and upvote that feature. Then the product team for Service Fabric can consider implementing it.

https://feedback.

[2018-11-05 18:14] #12543 closed

[2018-11-05 18:15] AngelosP commented on #18114
This is great feedback, thank you all. @ggailey777 we are going to take a look and see what we can do in the UI. There are also some advanced options that sometimes let you control the behavior in some scenarios. We just need to review them and find a nice, friendly, consistent way of stating what will happen after you click Publish in all scenarios. Thanks again!

[2018-11-05 18:15] BryanTrach-MSFT commented on #18229
@shahiddev Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 18:16] Alberto-Vega-MSFT commented on #18207
@GPAgethub Hi It seems like this issue was opened accidentally? In that case we can just close it, otherwise Would you please share the details of your feedback and provide  the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 18:16] mtwelve opened #18241 "Does Hybrid Join require a certain AD DS Schema version..?"
I have been working to enable Hybrid Device Join using AD Connect (version 1.2.65.0) in an environment very sensitive to change and where updating the AD DS Schema version is not currently an option.

My prior existing of ADHJ is that the SCP is required but no changes to the AD DS Schema version.

When trying to configure this today the AD Connect wizard presented the warning below:

![adhj_warni

[2018-11-05 18:17] MicahMcKittrick-MSFT commented on #18035
@zingaroo I added additional information about Automatic Upgrades and Service Fabric Durability tiers. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-11-05 18:18] mtwelve opened #18242 "Does Hybrid Join require a certain AD DS Schema version..?"
I have been working to enable Hybrid Device Join using AD Does Hybrid Join require a certain AD DS Schema version..?Connect (version 1.2.65.0) in an environment very sensitive to change and where updating the AD DS Schema version is not currently an option.

My prior existing of ADHJ is that the SCP is required but no changes to the AD DS Schema version.

When trying to configure this today the AD

[2018-11-05 18:20] MicahMcKittrick-MSFT commented on #18041
@Dawny33 ah okay got it! Thank for you for sharing that extra information. I an tracking that issue now. While we wait to get that resolved I would suggest trying the quick start from [Azure Cloud Shell](https://azure.microsoft.com/en-us/features/cloud-shell/). This should fix your problems until the local update commands are addressed.

[2018-11-05 18:20] #18041 closed

[2018-11-05 18:20] Juliako commented on #17554
@CarlosOnline,

If you used storage REST API, or the storage client SDKS, or the AzCopy command-line utility to upload your files into blobs of a storage account,
•	You can set your blob SAS URL on JobInputHttp (https://docs.microsoft.com/en-us/rest/api/media/jobs/create#jobinputhttp)
•	or, you can create an asset and specify a blob container name (https://docs.microsoft.com/en-us/rest/api/media/a

[2018-11-05 18:28] TravisCragg-MSFT commented on #17963
@mark-mit-k I was able to follow the example and create a new Network Security Group with the 2 security rules using only the New-AzureRmNetworkSecurityGroup cmdlet. Please let me know if you are unable to do the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reop

[2018-11-05 18:31] ggailey777 commented on #14159
@timmyreilly to answer your original question, we can really put the extension installation instructions inline because they differ depending on the development environment (portal/Visual Studio/Core Tools, etc..).

The DocumentClient is installed with the Cosmos DB binding extension (I think it's part of the Microsoft.Azure.DocumentDb.Core package), but you have to add the following using stateme

[2018-11-05 18:31] #18210 closed

[2018-11-05 18:33] mbialecka commented on #17351
@sandervandevelde Thanks for trying it out. At this point I don't see anything else we can try. We need to get that core dump to understand what's the issue.

[2018-11-05 18:33] ChrisJCo opened #18243 "Undocumented prompts"
The first time through the tutorial you may be prompted to install the C# extension as well as be prompted to perform a 'restore' to install dependencies for the project. Familiar for most developers but maybe worth noting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84640735-75c0-096c-9469-e00fedcf147c
* Version Ind

[2018-11-05 18:34] nezoic opened #18244 "Are the extension methods always going to look that way?"
If the extension methods always contain the Guid of the AD Application, doesn't that make this very hard to configure in a strongly typed language? For instance our Dev environment right now has it's own B2C Subscription and Prod will have it's own, that means we cannot strongly type this custom attribute/property in a C# model. This in turn means some really strange JSON Converts and extra logic

[2018-11-05 18:34] ggailey777 commented on #12939
@Karishma-Tiwari-MSFT or @TravisCragg-MSFT please assign this issue to @craigshoemaker who now owns the article.

[2018-11-05 18:34] Lroca88 opened #18245 "Unclear routing API calls to regional backend services"
In this article the author has stated that: "If a region goes offline, the traffic is automatically redirected to the next closest gateway."

What is unclear to me is, if the above statement is valid when adding the routing to regional backend services.
We are setting conditions to explicitly  use a base-url, so, what happens to the matched condition if the entire region is down?
Let's say West US

[2018-11-05 18:36] mbialecka commented on #18169
@sandervandevelde As the doc states, only Block Blobs are supported right now.

[2018-11-05 18:39] TravisCragg-MSFT commented on #18200
@luqmanawawi86 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 18:40] TravisCragg-MSFT commented on #18202
@jurjenoskam could you please share the SR# (Support Request #) that you used to work on this issue for more context?

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 18:41] ggailey777 commented on #14070
@timmyreilly I think that this was an issue for v2 in the preview and at GA before we provided a way to register Cosmos DB input/output binding extensions in the portal (we actually took this article offline at one point). We should #please-close at this point, but feel free to reopen if you are still seeing the issue.

cc. @craigshoemaker, who now owns the article.

[2018-11-05 18:42] saulcruz opened #18246 "Where is the documentation to create a Python Azure Function?"
I have not found the steps to do this, the only runtime stack available are : .NET, JavaScript and Java(Preview), any ideas on how to do this for Python 3.X ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Cr

[2018-11-05 18:42] MicahMcKittrick-MSFT commented on #18219
@PIaH I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-05 18:42] sergaz-msft commented on #17696
Hello @mohibakhan . There is a [new version of iotedge runtime (1.0.4) ](https://azure.microsoft.com/en-us/updates/iot-edge1-0-4/). Can you please use that runtime version and also verify that the Stream Analytics Version is 1.0.0-preview**012** ?

![image](https://user-images.githubusercontent.com/22173500/48019146-99cc9e00-e12a-11e8-928e-5e6d3fc8e910.png)

Thank you!

[2018-11-05 18:43] TravisCragg-MSFT commented on #18218
@BUD93 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 18:43] ggailey777 commented on #14132
@garrytrinder I think that we now have this fixed...@Karishma-Tiwari-MSFT please assign this issue to @craigshoemaker, who now owns the article, so he can verify. Thanks!

[2018-11-05 18:45] ejacobsen-glofin commented on #18114
Thanks guys. I think a warning or note in the docs would be sufficient.

[2018-11-05 18:45] TravisCragg-MSFT commented on #18221
@rwatjen you can use [resources.azure.com](resources.azure.com/) to view the current JSON of existing resources. With this, you can enable HTTPS on an existing CDN and see how the JSON would change for a template.

[2018-11-05 18:45] DCtheGeek commented on #18234
@MarileeTurscak-MSFT This appears to be [Overview of Azure Policy - RBAC Permissions for Azure Policy](https://docs.microsoft.com/azure/governance/policy/overview#rbac-permissions-in-azure-policy).

@PawelLiebich I'll look into this to validate and clarify.  Will get back to you shortly!

@MicrosoftDocs/azure-cxp-triage Please assign to me and label #in-progress.

[2018-11-05 18:46] TravisCragg-MSFT commented on #12939
@ggailey777 done

[2018-11-05 18:47] ggailey777 commented on #14137
@NateCrabb you are correct, we are using a shared include for those next steps links. Probably not a good solution. We are now tracking this internally ([#1380948](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1380948)). #please-close this issue per the feedback SLA.

[2018-11-05 18:50] ggailey777 commented on #14283
@jeffhollan do you have any feedback on this suggestion from @scottrudy?

[2018-11-05 18:51] pivotalguru commented on #17715
@YutongTie-MSFT Do you still need more information?

[2018-11-05 18:52] ChrisJCo commented on #18243
Prompts:

![prompts](https://user-images.githubusercontent.com/27029146/48019675-e0010d80-e0e8-11e8-97be-5d8270305517.PNG)

[2018-11-05 18:53] gperrego commented on #17881
To add another level of clarification I think I'm trying to understand how to pull from a registry instead of push to one. I'm not trying to publish to the registry I'm trying to deploy to the cluster from the registry

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Monday, November 5, 2018 12:03:19 PM
To: MicrosoftDocs

[2018-11-05 18:53] Karishma-Tiwari-MSFT commented on #18057
@chrisvoisey Are you seeing this warning in Azure Portal? If not, can you share what is the status here:

![image](https://user-images.githubusercontent.com/20851144/48019667-d7a8d280-e0e8-11e8-8a11-579eb0272e10.png)

Also, please share what errors/warnings/result are you seeing on running these commands?

1. This command provides general status information:
`Get-AzureRmVMSqlServerExtension -VMNam

[2018-11-05 18:54] ggailey777 commented on #14504
@jeffhollan do you know if we default to debugOnly? It's not entirely clear in the host.json article(s).

[2018-11-05 18:57] MarileeTurscak-MSFT commented on #18233
Hi @shraboin , yes, you can do this. This functionality was just released at Ignite in September. Please see this [Github repository](https://github.com/johndowns/azure-key-rotation), the included[ JSON template ](https://github.com/johndowns/azure-key-rotation/blob/master/template.json), and[ blog post ](https://blog.kloud.com.au/2018/09/19/automatic-key-rotation-for-azure-services/)for guidance.

[2018-11-05 18:58] MarileeTurscak-MSFT commented on #18233
We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-05 18:58] #18233 closed

[2018-11-05 18:59] MicahMcKittrick-MSFT commented on #18225
@kkho I ran through this doc and was able to successfully follow the doc and it worked as expected.

Are you running these commands via Azure Cloud Shell or a local instance of Azure CLI? I ran through Azure Cloud Shell.

[2018-11-05 18:59] Karishma-Tiwari-MSFT commented on #14137
@NateCrabb Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-05 18:59] #14137 closed

[2018-11-05 19:01] ggailey777 commented on #14560
Thanks @IGx89 and @jasonshave, we are tracking this out-of-date article internally ([#1158047](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1158047)). @jeffhollan for your recommendation about deployment slots (which I believe are only supported for [App Service plans](https://docs.microsoft.com/azure/azure-functions/functions-scale#app-service-plan) today).

[2018-11-05 19:03] jeffhollan commented on #14283
We do plan to provide better HTTP injection in the future (sometime early next year most likely).  That said putting in your own `HttpMessageHandler` is a viable option for now as shown [in this sample](https://github.com/jeffhollan/functions-test-samples/blob/5c18dde65699f2fccbd1731ac59bb3eab30ee829/CSharpOddOrEven/CSharpOddOrEvent.Tests/OddOrEvenQueueTest.cs#L35).  Likely would wrap up in a bett

[2018-11-05 19:05] jeffhollan commented on #14504
Yes we default to debugOnly from what I understand @brettsam to confirm 👍

[2018-11-05 19:09] MicahMcKittrick-MSFT commented on #18150
@iainfoulds would you be able to comment further on this?

[2018-11-05 19:09] ggailey777 commented on #14565
@bdcoder2 thanks for reporting this issue. I have added a note to the article about **Copy if newer**.

[2018-11-05 19:13] axayjo commented on #18173
@Rick-Kirkham, we give you the liberty to choose how you want to create and manage image versions. We don't have any checks in place to ensure that the image versions that you're creating under an image definition are different from one another.

[2018-11-05 19:13] smoms commented on #17280
@sergaz-msft  this is the same error i had. No difference in my opinion.

[2018-11-05 19:15] ggailey777 commented on #14691
@simbacat007 sorry again for your bad experience with this tutorial. I have fixed the Azure CLI script bug pointed out by @1221Morthyr1221 (Thanks!). There may be other issues with this tutorial, including it needs to be updated to v2. We are tracking the required work internally ([#1347023](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1347023)).

In the meantime, #please-close thi

[2018-11-05 19:16] andres-carrilloAdapt2 commented on #18150
I think we can close this, my coworker implemented the solution found here: https://blogs.msdn.microsoft.com/morgan/2010/04/15/setting-up-wcf-with-a-load-balancer-using-ssl-in-the-middle/ and it seems to be working. We were stuck on it for about a week or so, so thanks anyways for the reply

[2018-11-05 19:16] #18150 closed

[2018-11-05 19:18] jurjenoskam commented on #18202
@TravisCragg-MSFT Sure, the SR number is 118102625002287.

[2018-11-05 19:18] MouthOfMadness commented on #17569
Alas, I wouldn't write if it were that simple; I've tried clicking into this by:

- Active Directory->App Registration (Preview)
- App Registration -> The preview experience
- Apps Dev -> Click this banner to launch the preview experience

All of the developers in my company are experiencing this, but the Administrator is not; I myself am the subscription admin.  So, I'll ask again, is there a loc

[2018-11-05 19:19] ggailey777 commented on #14979
@Morgma sorry for the difficulties with this article. Everything is now updated to using Core Tools for generating the dockerfile, which give a more predicable experience. This worked when I last tested it, so feel free to reopen if you are still having issues with it. #please-close

[2018-11-05 19:19] barbkess commented on #15864
@fullenw1 : We created a new image and this is fixed now.

#please-close

[2018-11-05 19:21] BryanTrach-MSFT commented on #17648
@poocat We are happy to hear you were able to locate the resolution. Thank you for sharing it publicly as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 19:21] #17648 closed

[2018-11-05 19:22] ggailey777 commented on #15077
@jeffhollan or @mattchenderson what is the best way to clarify the statement at issue?

[2018-11-05 19:29] Rick-Kirkham commented on #18173
@axayjo I'm afraid that your reply does not answer my question. I'm _not_ asking whether you check that the image versions are different from each other. I want to know how it would even be possible to have _different_ image versions from the same managed image. (Different in more than just the version number.) The instructions in this article would produce identical image versions (except in vers

[2018-11-05 19:30] brandonh-msft opened #18248 "HTTP Trigger section is for the Action, not the trigger?"
The [HTTP Trigger section under 'Trigger and action types reference'](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#http-trigger) appears to be for the HTTP action, not the trigger. the Trigger doesn't have any polling/etc for it - you simply set up the trigger and LA gives you the URL to hit, right?

---
#### Document Details

⚠ *Do not edit this section.

[2018-11-05 19:39] ggailey777 commented on #15337
@andriysavin support for .NET Core projects was just [recently added](https://github.com/Azure/Azure-Functions/issues/805), so I suspect that there is a delay in getting the tooling updated. Please repost this query in the [product repo](https://github.com/Azure/azure-functions/issues). Since this specific issue is not technically a documentation issue, #please-close

[2018-11-05 19:39] MicrosoftGuyJFlo commented on #17430
@cronq Some updates to the product have been released that make this blade a little more clear for users. I will be updating the article in our private repo to reflect these updates and will incorporate your feedback there.

[2018-11-05 19:39] MicrosoftGuyJFlo commented on #17430
#please-close

[2018-11-05 19:42] ggailey777 commented on #15487
@mike-urnun-msft please assign to @craigshoemaker

[2018-11-05 19:43] ggailey777 commented on #15766
@Mike-Ubezzi-MSFT please assign this issue to @craigshoemaker, who now owns the article.

[2018-11-05 19:44] #14565 closed

[2018-11-05 19:44] ggailey777 commented on #15821
@Mike-Ubezzi-MSFT please assign this issue to @craigshoemaker, who now owns the article.

[2018-11-05 19:46] ggailey777 commented on #15880
@mike-urnun-msft please assign this issue to @craigshoemaker, who now owns the article.

[2018-11-05 19:47] ggailey777 commented on #15880
@craigshoemaker since this issue seems to be about triggering a function, maybe we need to add links to the [testing article](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function)

[2018-11-05 19:47] ggailey777 commented on #15879
@laultman since this issue seems to be about triggering a function, would it be helpful if we added a link to the [testing article](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function)?

[2018-11-05 19:47] CeciAc opened #18250 "List of certificate per folder"
@wloeven commented on [Mon Nov 05 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/102)

It would be a good addition to provide a list of certificates that should be in the created folders:

acsBlob  = wildcard_blob_&lt;region&gt;_&lt;externalFQDN&gt;
ACSQueue = wildcard_queue_&lt;region&gt;_&lt;externalFQDN&gt;
ACSTable = wildcard_table_&lt;region&gt;_&lt;externalFQDN&gt;
Admin Exte

[2018-11-05 19:50] ggailey777 commented on #16292
@GBPhilip did you happen to come across the [Visual Studio quickstart article](https://docs.microsoft.com/azure/azure-functions/functions-create-your-first-function-visual-studio)? I will add a link at the top to that article.

[2018-11-05 19:51] CelesteDG commented on #17569
Thank you, @MouthOfMadness - This looks like it could be a bug. Please report the issue by clicking the smiley in the header, and sending your feedback so the feature team can investigate and track the issue. Thank you.

[2018-11-05 19:54] jpeterson88 commented on #16002
It would be great to still see an example for ASP.NET Core. Can't seem to access session in my ITelemetryInitializer as it's null.

[2018-11-05 19:56] BryanTrach-MSFT commented on #18229
@shahiddev These IP addresses are very unlikely to change but we do not consider them to be static. If a change were to be necessary, the account administrator ID for your subscription would receive an email alert notifying you of the change along with notifications in the Azure portal. We understand the impact that such a change would have to your service so when possible, we would try to alert y

[2018-11-05 19:56] vikaskumawat80 commented on #17459
I am not sure how to setup DR with Managed Instance. With SQL Database we can have Active Geo-Replication but what Managed Instance? Geo-Instance not going to work here because it can hours to restore the data to a new Instance.

[2018-11-05 19:58] #18229 closed

[2018-11-05 20:05] brettsam commented on #14504
`fileLoggingMode` defaults to `debugOnly`, yes.

[2018-11-05 20:06] femsulu commented on #18239
!IR

[2018-11-05 20:10] ggailey777 commented on #16872
@LarrySmith-1437 there seems to be a bug in the tooling that isn't setting the attribute properly from the UI. @AngelosP is this a known issue?

[2018-11-05 20:11] mohibakhan commented on #17696
The new runtime version is coming to be Version - 1.0.4.18259757
Where can I specify the version for Stream Analytics?  It is still coming to be 1.0.0-preview010

[2018-11-05 20:13] #16292 closed

[2018-11-05 20:15] CHDAFNI-MSFT commented on #17459
@vikaskumawat80  Please create your own Issue as your statement does not sound related to the inquiry for this Issue

[2018-11-05 20:17] diberry commented on #8878
#please-close

[2018-11-05 20:18] KumudD commented on #17448
I have created a work item to add more information regarding HTTP probe failure. Thanks!

#please-close

[2018-11-05 20:18] diberry commented on #9997
#please-close

[2018-11-05 20:19] diberry commented on #9103
#please-close

[2018-11-05 20:20] #9997 closed

[2018-11-05 20:21] vikaskumawat80 opened #18251 "Setup DR with SQL Managed Instance"
I am not sure how to setup DR with Managed Instance. With SQL Database we can have Active Geo-Replication but what Managed Instance? Geo-Instance not going to work here because it can hours to restore the data to a new Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Versi

[2018-11-05 20:22] diberry commented on #18166
@yoonj-MSFT Please assign to me.

[2018-11-05 20:27] cenkersoy opened #18252 "Disabled features"
The article states " some features are disabled in Azure Stack ". It does not specify what those features are or where to find out about them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6d9056b-76b6-8d94-b4ea-b9f2de2ee26f
* Version Independent ID: 9da071b7-7efc-7942-a535-444f26644fdb
* Content: [App Service on Azu

[2018-11-05 20:28] PatrickFarley commented on #9196
@thdotnet, We've fixed the issue. The code was not supposed to use the ImageUrl class, but a different one which is included in the SDK. I've fixed the code snippet in the doc.

[2018-11-05 20:32] erhopf commented on #16100
@gahan, does @wolfma61's response unblock you?

[2018-11-05 20:32] erhopf commented on #12791
#please-close

[2018-11-05 20:46] TravisCragg-MSFT commented on #17448
@TheWinch We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 20:46] #17448 closed

[2018-11-05 20:46] cronq commented on #17430
I did see the updates to the UI, which are great. I love seeing that clarity of Azure MFA vs MFA server in the Azure UI. Thanks!

[2018-11-05 20:46] #17430 closed

[2018-11-05 20:48] #17976 closed

[2018-11-05 20:56] azureapes commented on #13783
RDP brute force password attacks are not uncommon on servers that have rdp/ssh open to the internet. These servers are found by automated tools that crawl the internet in search for the well known ports 3389 and 22.
An Azure load balancer can be placed in front of the RDP/SSH server, even while its a single VM.
There will be no load balancing but you can configure NAT rules that will obfuscate the

[2018-11-05 20:59] MarileeTurscak-MSFT commented on #18241
@mtwelve
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 20:59] aravish opened #18253 "Please correct documentation"
Self-signed cert needs to be generated by below command for the HDI cluster to provision correctly.

New-SelfSignedCertificate -Subject *.contoso100.com -NotAfter $lifetime.AddDays(365) -KeyUsage DigitalSignature, KeyEncipherment  -Type SSLServerAuthentication -DnsName "*.contoso100.com","contoso100.com"

Errors encountered if not done via above command
,"ErrorCode":"DomainNotFoundInActiveDirector

[2018-11-05 20:59] #9196 closed

[2018-11-05 21:00] MarileeTurscak-MSFT commented on #18241
Closing this out since it is a duplicate of #18242

[2018-11-05 21:00] #18241 closed

[2018-11-05 21:00] MarileeTurscak-MSFT commented on #18242
@mtwelve
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 21:01] MarileeTurscak-MSFT commented on #18244
@nezoic
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-05 21:09] Karishma-Tiwari-MSFT commented on #17987
@bdcoder2 -TypeHandlerVersion is the version of the extension as described [here](https://docs.microsoft.com/en-us/powershell/module/AzureRM.Compute/Set-AzureRmVMExtension?view=azurermps-6.11.0). You can find the version of the extension by running these commands, as shared before in the comments above:

[code]
You will get info on PublisherName, ExtensionName, Extension version all from these com

[2018-11-05 21:09] #17987 closed

[2018-11-05 21:11] eringreenlee commented on #8618
#sign-off fixed pictures

[2018-11-05 21:12] CHDAFNI-MSFT opened #18255 "App Service Environment - Refs ASE v1 and not v2"
Not sure if equivalent doc exists for ASEv2, but the link for App Services footnote #5"  5The storage limit is the total content size across all apps in the same App Service plan. More storage options are available in App Service Environment" The link goes to ASEv1 - https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-web-configure-an-app-service-environment#storage

---
###

[2018-11-05 21:17] #14979 closed

[2018-11-05 21:18] JBines commented on #13678
Thanks @billmath I see the FAQ has been updated which is the right place for this good call! I believe it is more common than we are aware of (at least I have seen it more than once) so it’s good to see it called out more clearly. a good question for the raas/rap perhaps.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Bill Mathers <notifications@github.com>
Sen

[2018-11-05 21:30] MarileeTurscak-MSFT commented on #18214
Have you referred to the "Prerequisites" document? This error can sometimes occur if you are missing one of these steps:
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-configure-prerequisites-for-reporting-api

[2018-11-05 21:33] DiegoRamirez-MSFT commented on #18049
Hello @hanabi1224 I am assuming this is considering your script attempts to download something from storage, in which case you will get billed for the information downloaded, you can get an estimate by using the calculator at https://azure.microsoft.com/en-us/pricing/calculator/?service=storage please let me know if you have additional concerns

[2018-11-05 21:41] cwarne opened #18258 "Function App Publishing Removes Existing Functions"
When publishing a C# v2 function app through Visual Studios 2017, any existing function in that function app that is not present in the VS project gets deleted without warning.

Is it possible to find out where the code was being stored and if there is a way to recover the deleted files? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-11-05 21:41] Mike-Ubezzi-MSFT commented on #18251
@vikaskumawat80 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-11-05 21:44] CHDAFNI-MSFT commented on #10588
@ccompy There's an article that covers Path based w/ Azure VMs. An article for App GW w/ 1 internal ASE App Svc, but there's nothing that combined these: App GWs path based routing with internal App Service Environment's App Services. This is a complex issue because of needing to potentially configure an 'override backend path'. Please consider working more with App GW folks on producing such a tu

[2018-11-05 21:45] MarileeTurscak-MSFT commented on #18242
Hi @mtwelve , I have reached out to someone from the product team to confirm an answer for you.

CC: @MarkusVi

[2018-11-05 21:45] davidmu1 commented on #15732
The example in the article was missing the following metadata item:

<Item Key=" XmlSignatureAlgorithm">Sha256</Item>

I have revised the article.

#please-close

[2018-11-05 21:45] cherylmc commented on #17672
Fixed. Thanks, @fguerri! #please-close

[2018-11-05 21:46] davidmu1 commented on #15732
That should be `<Item Key=" XmlSignatureAlgorithm">Sha256</Item>`

[2018-11-05 21:47] TravisCragg-MSFT commented on #17672
@fguerri We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 21:47] #17672 closed

[2018-11-05 21:48] Jann-Skotdal commented on #7935
#please-close

[2018-11-05 21:50] cherylmc commented on #17784
We're updating the article this week. Thanks, @jtuliani! We've taken a doc bug. #please-close

[2018-11-05 21:50] TravisCragg-MSFT commented on #17784
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 21:50] #17784 closed

[2018-11-05 21:54] MarileeTurscak-MSFT commented on #18220
@willyrj You need to add the key HKEY_LOCAL_MACHINE\Software\Wow6432Node\Positive Networks\Logging

Make sure that you have the correct permissions on the folder as well.

See also the guidelines in [this similar thread](https://social.msdn.microsoft.com/Forums/en-US/565c2b16-07ed-4095-a11d-e896d853a2e7/multifactorauthadfsadapterlog?forum=windowsazureactiveauthentication) and let me know if it hel

[2018-11-05 21:55] Juliako commented on #17554
@CarlosOnline, you can also use the AMS v3 API, to upload a local file:

1. Create the Asset (https://docs.microsoft.com/en-us/rest/api/media/assets/createorupdate )
2. Get a writable SAS URL to the Asset’s container in storage (https://docs.microsoft.com/en-us/rest/api/media/assets/listcontainersas ).
  Or, you can name the container yourself.
3. Upload the file into the container in storage usin

[2018-11-05 21:57] jason-j-MSFT commented on #18211
@lawrencejoffe
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-05 21:58] cherylmc commented on #16169
Hi - this has been sent on to the PMs to review and clarify. Thanks @dcbrown16!  #please-close

[2018-11-05 21:59] TravisCragg-MSFT commented on #16169
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 21:59] #16169 closed

[2018-11-05 22:04] Alberto-Vega-MSFT commented on #17892
@MarkAtAgilliance I requested your subscription ID via email but never got your response. Would you please send your subscription ID via email to  AZCommunity@microsoft.com if you haven't? Thanks

[2018-11-05 22:09] cherylmc commented on #16163
@nickward13 - we've taken a doc bug to update this article and explain a bit more clearly. Thanks! #please-close.

[2018-11-05 22:15] TravisCragg-MSFT commented on #16163
@nickward13 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 22:15] #16163 closed

[2018-11-05 22:16] TravisCragg-MSFT commented on #18202
@jurjenoskam the issue will be fixed in the near future, as it is not working as expected. I do not believe that the doc should be updated to reflect this, but I will leave this issue open for a while so that others might be able to find their way here if they are experiencing the same issue.

[2018-11-05 22:35] CarlosOnline commented on #17554
Docs are misleading.  Should correct.  I already know how to upload.  Tracked down the azure storage JavaScript solution to upload from web page.

[2018-11-05 22:41] rothja commented on #14126
@declandata Since you were planning to make this change, I'm going to close out this issue. Thanks again for interacting with us to improve the docs! #please-close

[2018-11-05 22:43] rothja commented on #14165
@ed7257 Thanks again for the question. I am closing this out now based on my previous answer. Thank you!

#please-close

[2018-11-05 22:44] CHDAFNI-MSFT opened #18259 "List storage services included in GRS / RA-GRS replication"
Documentation under this article and 'Redundancy overview', https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy?toc=%2fazure%2fstorage%2ffiles%2ftoc.json,  do not explicitly state what storage services are included in the replication including Blob, File, Queue, Table. If all services are, then list Blob, File, Queue, and Table as examples of storage that's included.

---
####

[2018-11-05 22:46] rothja commented on #15087
@kgopi05 First, I sincerely apologize for the delay in responding on your question! I'm not familiar with Terraform code. Can you point me to an example? Also, do you know if we talk about Terraform code in other parts of the Azure documentation? Thank you!

[2018-11-05 22:47] rothja commented on #17819
@SychevIgor Thanks. I'll make this change.

[2018-11-05 22:47] Adam-Smith-MSFT commented on #18119
@andyjballgit there is actually an option to use AD and ACLS linked to it in preview: https://azure.microsoft.com/en-us/blog/azure-active-directory-integration-for-smb-access-now-in-public-preview/
Let me know if this helps.

[2018-11-05 22:49] Adam-Smith-MSFT commented on #18236
@hassanbabaie Thank you for the valuable feedback,we are investigating the issue.

[2018-11-05 22:51] CelesteDG commented on #17567
Customer confirmed that the issue has been resolved. #please-close
Thank you.

[2018-11-05 22:51] Ayanmullick commented on #7003
@hpatel01 , This is the script I'm using to move each SQL component after deployment
https://dba.stackexchange.com/questions/206201/how-can-the-system-databases-in-sql-server-2016-be-moved-using-powershell/206536#206536

[2018-11-05 22:52] Phydeauxman commented on #10588
@CHDAFNI-MSFT here here

[2018-11-05 22:55] rothja commented on #18086
@KeiroKamioka0000 Thank you for this suggestion! @cynthn @dlepow Can one of you confirm that it would be correct to add IOPS to each number in the table here: https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#virtual-machine-disk-limits? If so, I can make the change. Thanks!

[2018-11-05 22:58] rothja commented on #18255
@CHDAFNI-MSFT Thanks! @femsulu Can you assign this to @cephalin, who is one of the leads on the app-service content? Thank you!

[2018-11-05 23:00] TravisCragg-MSFT commented on #18063
@benjamingorman @robymes have you [verified that you have permission on](https://docs.microsoft.com/en-gb/azure/virtual-network/virtual-network-service-endpoints-overview#provisioning) "Microsoft.Network/JoinServicetoaSubnet" on your account? This permission is required to enable VSE.

[2018-11-05 23:03] Adam-Smith-MSFT commented on #18197
@JackHorlockThanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 23:05] Adam-Smith-MSFT commented on #18236
@hassanbabaie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 23:07] adhiggs opened #18260 "Screenshot PII?"
Isn't that Subscription ID in the screenshot on this page PII?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-canc

[2018-11-05 23:09] #18111 closed

[2018-11-05 23:09] davidmu1 commented on #17013
Added the table to the article.

#please-close

[2018-11-05 23:10] davidmu1 commented on #17366
#please-close

[2018-11-05 23:11] cherylmc commented on #15777
I've updated the doc. Thanks! #please-close.

[2018-11-05 23:11] davidmu1 commented on #17491
I do not believe that a change is needed for this article, but have made a note to look into discussing it in the overview.

#please-close

[2018-11-05 23:12] simbacat007 commented on #14691
Thank much.

Regards
Gary Rosende

From: Glenn Gailey <notifications@github.com>
Sent: Monday, November 05, 2018 2:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: simbacat007 <Grosende1@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] could not get past 2nd step (#14691)

@simbacat007<https://github.com/simbacat007> sorry again for y

[2018-11-05 23:12] Adam-Smith-MSFT commented on #18111
@rayne-wiselman  it looks like I submitted a change on Friday, but it was blocked: https://github.com/MicrosoftDocs/azure-docs-pr/pull/56992 perhaps it just needs approval ?

[2018-11-05 23:12] tysonn commented on #16524
@tknandu - It looks like you have a samples repo link that is set up incorrectly. See https://review.docs.microsoft.com/en-us/help/contribute/code-in-docs?branch=master#out-of-repo-snippet-references for how to link to a samples repo.

[2018-11-05 23:12] TravisCragg-MSFT commented on #15777
@satishdevan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-05 23:12] #15777 closed

[2018-11-05 23:13] cherylmc commented on #11081
I just followed up on this. It's been updated. Thanks! #please-close

[2018-11-05 23:16] cherylmc commented on #9377
This article is in the process of being fully updated. Closing this, as it's out of date. #please-close.

[2018-11-05 23:16] #14165 closed

[2018-11-05 23:30] douglaslMS commented on #17829
@rohancragg We have added this info to the article:

Thanks for bringing this question to our attention.

[2018-11-05 23:30] douglaslMS commented on #17829
#please-close

[2018-11-05 23:32] #18189 closed

[2018-11-05 23:33] georgewallace commented on #18239
@ejacobsen-glofin Thanks for the feedback.. I am in the process of consolidating some of the module docs and that is an item that I will be adding. You are correct you can't provide a local path, you need to provide a uri. I hope to have this update done in the next couple weeks.

[2018-11-05 23:36] TravisCragg-MSFT commented on #17908
@mcurko this could be an intermittent web app issue or a traffic manager issue. Either way it is not working as expected, so I would recommend opening a support request. If you do not have a support plan, please Email me at AzCommunity@microsoft.com with your subscription ID and a link to this post. I will enable a one-time free support request for you to troubleshoot this issue further.

[2018-11-05 23:39] femsulu commented on #18255
assigned to @cephalin

[2018-11-05 23:41] KeiroKamioka0000 commented on #18085
I would like to know, when newly backup has being made, is that backup will be stack V2 Backup or customer must update to V2 Backup?

[2018-11-05 23:43] Alberto-Vega-MSFT commented on #18253
@aravish Thank you for your feedback! Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 23:43] kylepope commented on #15732
I set this up today and also got this same error. However, I don't think this is a bug. ADFS is configured to use SHA-256 by default, but it looks like B2C will use SHA-1 by default (I think). I found that if you specify the following in your ClaimsProvider "MetaData" element, it will work:
[code]

See [the docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-technical-profile#me

[2018-11-05 23:45] Alberto-Vega-MSFT commented on #18243
@ChrisJCo Thank you for your feedback! Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-05 23:45] kylepope commented on #16271
Note: This is actually still an issue since B2C changed the recommended domains. It's not really a breaking issue, but the docs should be updated to use the new "{your-tenant-name}.b2clogin.com" domain, esp. since the call to authenticate will fail with an error similar to the following if you use the wrong domain:
[code]

[2018-11-05 23:49] mbialecka commented on #17351
@sandervandevelde I hope this helps if you want to collect the core dump:

According to [this SO answer](https://stackoverflow.com/questions/28335614/how-to-generate-core-file-in-docker-container), core dump location is controlled by the host system.

1. Check your host setting for core dump location or change it to something easy, like /cores (the linked answer explains how to do it)
2. Start our

[2018-11-05 23:51] TravisCragg-MSFT commented on #18252
@cenkersoy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 23:52] arnabganguly opened #18262 "PowerShell self-signed certificate code needs corrections"
The current code in the PowerShell for Self signed certificate leads to an error when used for creating an Enterprise Security Package based HDInsight Cluster.  The error is related to the domain names that need to be used in the Subject and Dns name.

The issue was also partially addressed in the link  https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-adm

[2018-11-05 23:52] ikramer-ssb opened #18263 "Available Eloqua Tables/Views"
Can you please share information about the available Eloqua tables/views we can query with this connector? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e71f1573-9c3e-9d73-2101-7e11e384e5f7
* Version Independent ID: 8bbaf7d6-f996-5628-277d-e41ebefb044f
* Content: [Copy data from Oracle Eloqua using Azure Da

[2018-11-05 23:53] TravisCragg-MSFT commented on #18250
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-05 23:55] tysonn commented on #14166
Megan is working on validation in our publishing build system for this. This issue should probably be kept open until that functionality is delivered. cc @meganbradley

[2018-11-05 23:56] kylepope commented on #17918
@CeciAc I completely agree with you that there should be clarification on this. There are several closed issue on this article that are similar in nature. Just like you, I was tripped up thinking that I needed to get the private keys/certificates from the ADFS server to load them into B2C. This shouldn't be the recommended approach since those private keys shouldn't be shared with anyone as they a

[2018-11-05 23:56] meganbradley commented on #14166
Thanks @tysonn .

@nschonni BOM characters are in scope for our next round of validation work.

[2018-11-05 23:57] kylepope commented on #15490
Anyone who is also hung up with this issue... you can find more details on this same issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/17918).

[2018-11-05 23:58] dlepow commented on #18002
@ganrad - Hello Ganesh. I don't believe it's possible to use the CLI `--secrets` and `--secrets-mount-path` parameters to mount secrets in multiple directories. However, using the `az container create` CLI and passing a YAML file, you should be able to do so. Note that the secrets here are base64 encoded:

[code]
Does this work for your scenario? Thanks!

[2018-11-05 23:58] tysonn commented on #11505
@msmbaldwin - Could you look at this issue/request about discoverability of the Security content?

[2018-11-06 00:00] roygara commented on #16920
@dcbrown16 I've finally got a reply. Apparently in this case standard reboot here refers to both a portal restart or a reboot from within the guest OS. Because of that, I think it makes sense to leave it as is.

Thanks again for bringing this to our attention!

#please-close

[2018-11-06 00:04] dlepow commented on #17920
#in-progress

[2018-11-06 00:05] MarileeTurscak-MSFT commented on #18244
That is definitely something that can be improved, though at present there is no estimate for if/when this will change, as far as I know. Please leave your product feedback in Azure Feedback to be updated on any changes. https://feedback.azure.com/forums/169401-azure-active-directory

@davidmu1 do you have additional insights about this?

[2018-11-06 00:07] aravish commented on #18253
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-admin-guide-configure-secure-ldap

[2018-11-06 00:12] DiegoRamirez-MSFT commented on #18155
hello @Diamondust25 just checking if you have any update on this

Best

[2018-11-06 00:12] aravish commented on #18253
PowerShell script to be updated with below

$lifetime=Get-Date
New-SelfSignedCertificate -Subject *.contoso100.com `
  -NotAfter $lifetime.AddDays(365) -KeyUsage DigitalSignature, KeyEncipherment `
  -Type SSLServerAuthentication -DnsName "*.contoso100.com","contoso100.com"

[2018-11-06 00:14] MarileeTurscak-MSFT commented on #17847
@kundan123456 we will proceed to close this thread. Please create a new issue under a specific document or reference the document in the comments and tag me in your comment, and we will gladly continue the discussion.

[2018-11-06 00:14] #17847 closed

[2018-11-06 00:19] ajaypamarthy opened #18264 "resource provider for aad related resources."
I am seeing "microsoft.aadiam" resource provide and I am trying to stream AAD activity logs using this resource provide type but I am getting error. "microsoft.aadiam" can you please provide any link explain about this provider

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c2b004-24fa-c5aa-5eb6-5fa7b88510f7
* Versio

[2018-11-06 00:19] dcbrown16 commented on #16920
Thanks @roygara, but the fact remains that this section points to a blog for more information and the blog states that temp disk is lost "When you shutdown or restart your VM," among other things. If we have reliable newer information, I would greatly appreciate it if we can delete the blog reference and salvage any information there that isn't currently duplicated. Having officially approved and

[2018-11-06 00:22] IdiotLeon opened #18265 "Parrellel Programming with TableBatchOperation as well TableOperation(s)."
1. Is TableBatchOperation thread safe? Assuming the situation where I need to insert-or-replace 200 or more entities to TableBatchOperation.

2. Which is more efficient (under what condition): having one TableBatchOperation (entities added in Parrallel), or having TableOperations on each entity AsyncExecuted in Parrallel? Assuming insert-or-replace(operation) only.

---
#### Document Details

⚠ *D

[2018-11-06 00:28] MarkAtAgilliance commented on #17892
Yes, sorry I sent the email but will add the subscription id too.

From: Alberto Vega <notifications@github.com>
Sent: Monday, November 5, 2018 2:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Davies <Mark@agilliance.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] self hosted runtime - how to set up the chain since the first will be

[2018-11-06 00:29] jcbrooks92 opened #18266 "Outbound IP in the Consumption plan not clearly documented."
This document isn't clear that the outbound IPs that you can find in the portal for a consumption based function app may not work all the time. A function app in the consumption plan may start up instances on a new scale unit causing the outbound IPs to change, there for you need to use the second option (whitelisting the whole datacenter) to make this work.

https://docs.microsoft.com/en-us/azure

[2018-11-06 00:34] SaurabhSharma-MSFT commented on #18037
@chriscoop yes, it becomes invalid after the mentioned time.

[2018-11-06 00:38] curtand commented on #16137
Hi @keposet
Azure AD did add that attribute. I added it to the device attribute table. Thanks for the input!!

@MohitGargMSFT
#please-close

[2018-11-06 00:50] femsulu commented on #18264
@ajaypamarthy Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-06 00:57] cherylmc commented on #14960
@vmehmeri  - There are no longer any restrictions on the order in which you create the gateways. For both PowerShell and Portal. I'm going to close this now. Thanks!  #please-close

[2018-11-06 01:00] lukeb1961 commented on #16799
AS I SAID, this page leaves me CONFUSED, not enlightened.  Where are the EXAMPLES? You guys are forgetting normal people have to try to decode this documentation.

[2018-11-06 01:03] mamccrea commented on #18098
Hi @kamigash - the product team is working on this. Please look for a change in next month's release. #please-close

[2018-11-06 01:04] femsulu commented on #18260
@adhiggs Thanks for bringing this to our attention. We are investigating and will update shortly.

[2018-11-06 01:04] PatAltimore commented on #18200
@luqmanawawi86 Thanks for the feedback. You're right. This is confusing. I'll work on an update to this article.  I'll remove the "consent" terminology. Basically, each administrator runs a script.

The first script is run by the administrator of Azure Stack. It configures Stack to allow “user’s from fabrikam and let them authenticate and sign-in”. The second script is run by the administrator of

[2018-11-06 01:05] mike-urnun-msft commented on #18245
Hi @Lroca88 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-06 01:11] cherylmc commented on #8614
This article is in the process of a full rewrite.  We've taken a doc bug on this. Thanks! #please-close

[2018-11-06 01:11] lukeb1961 commented on #16798
You cannot be reading the page referred to in the Issue. Please address the issue.

[2018-11-06 01:15] mike-urnun-msft commented on #18248
Hi @brandonh-msft Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-06 01:16] Diamondust25 commented on #18155
This is the document:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings

[2018-11-06 01:17] mike-urnun-msft commented on #18258
Hi @cwarne Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-06 01:22] lukeb1961 opened #18267 ""Manage database roles and users" and SSDT"
The title of this page is
"Manage database roles and users"

There are FOUR references to SSDT and no time does this page explain the acronym.

To be precise, THIS page.
https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-database-users

should state what SSDT is, before using the acronym.
You could even provide a link, such as
https://docs.microsoft.com/en-us/sql/ssdt/downl

[2018-11-06 01:28] cherylmc commented on #7806
Hi! The note was updated some time ago, but this issue wasn't closed. #please-close

[2018-11-06 01:29] danmyhre opened #18268 "Verify the scheduled synchronization task section"
Needs an updated screenshot using the current Azure AD portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59cedc6-86e8-6549-ee51-0fb2315653d6
* Version Independent ID: 579d36a9-63a6-f1e7-e3ab-803a4ce925db
* Content: [Azure AD Connect: Next steps and how to manage Azure AD Connect](https://docs.microsoft.com/en-us/

[2018-11-06 01:29] #6742 closed

[2018-11-06 01:31] jialic opened #18269 "Session consistency is guaranteed to honor consistent prefix?"
In the bullet points it says "session consistency is guaranteed to honor consistent prefix". However, in the example possible values for session consistency after reading 1-3 are **1-3, 1-4, 1-5, 2-3, 2-4, 2-5**, while possible values for consistent prefix are 0-0, 0-1, 1-1, 1-2, 1-3, **2-3, 2-4, 2-5**. Does the example contradict what is stated in the bullet points?

---
#### Document Details

⚠

[2018-11-06 01:33] Mike-Ubezzi-MSFT commented on #18265
@IdiotLeon Thank you very much for your interest in Azure products and services. If there is something that is unclear or details that you feel would enhance the documentation, you are[free to contribute](https://docs.microsoft.com/en-us/contribute/). In the meantime, we are actively investigating this and will update you shortly.

[2018-11-06 01:36] #18035 closed

[2018-11-06 01:38] #7935 closed

[2018-11-06 01:38] #8878 closed

[2018-11-06 01:38] #9103 closed

[2018-11-06 01:38] #9377 closed

[2018-11-06 01:39] #11081 closed

[2018-11-06 01:39] #12791 closed

[2018-11-06 01:39] #14070 closed

[2018-11-06 01:39] #14126 closed

[2018-11-06 01:39] #14691 closed

[2018-11-06 01:40] #15337 closed

[2018-11-06 01:40] #15732 closed

[2018-11-06 01:40] #15864 closed

[2018-11-06 01:40] #16137 closed

[2018-11-06 01:41] #16650 closed

[2018-11-06 01:41] #16920 closed

[2018-11-06 01:41] #17013 closed

[2018-11-06 01:41] #17366 closed

[2018-11-06 01:41] #17491 closed

[2018-11-06 01:42] #17567 closed

[2018-11-06 01:42] #18115 closed

[2018-11-06 01:42] #18228 closed

[2018-11-06 02:04] mikebudzynski commented on #18245
@Lroca88 The document is about API Management availability. The availability of your whole pipeline, end-to-end, depends on the architecture of your system and usage of API Management (policies), which we cannot predict - and therefore we cannot give an example of.

If you route calls through *when* policy (as in the documentation: https://docs.microsoft.com/en-us/azure/api-management/api-manageme

[2018-11-06 02:06] Mike-Ubezzi-MSFT commented on #18269
@jialic Thank you very much for this detailed feedback. We are investigating and will update this issue tracker with the next steps when we complete our investigation.

[2018-11-06 02:14] SaurabhSharma-MSFT commented on #17962
@Makerone We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-06 02:14] #17962 closed

[2018-11-06 02:23] imartinez2 opened #18270 "Error on Step 4"
The parameter -CreationDataCreateOption is Incorrect must be -CreateOption

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c8cc5d3-e2da-6130-7ef3-4ae4b7fe9010
* Version Independent ID: c9a84f45-023f-51a2-bcf9-eaa30c637c46
* Content: [Migrate a Classic VM to an ARM Managed Disk VM](https://docs.microsoft.com/en-us/azure

[2018-11-06 02:28] zzulueta opened #18271 "Bottleneck at Step 8: Register your application with Google"
Hello,
I went thru this process and I am experiencing a bottleneck at step 8. Once I enter the value for Authorized Javascript Origins, I get this error message from Google: Invalid Origin: domain must be added to the authorized domains list before submitting. So I went to that section  of Google to register authorized domains and I hit a wall because I needed to either uploaded an html file or ad

[2018-11-06 02:30] vrbagal commented on #17413
I have been trying with same code and getting following error

unknown option CURLOPT_VERBOSE
error code = HTTPAPIEX_INVALID_ARG
No SSL clients available.
Error signalled by underlying IO
Open HTTP connection failed (result = HTTPAPI_OPEN_REQUEST_FAILED)
unable to recover sending to a working state
unable to HTTPAPIEX_ExecuteRequest
unable to Blob_UploadBlock. Returned value=3, httpStatus=10737415

[2018-11-06 02:38] roygara commented on #16920
@dcbrown16 Ah, fair point. I'll cut out the blog for now and we'll see about incorporating remaining bits later. I'll create a backlog item to that effect. Thanks for bringing that up again!

[2018-11-06 02:39] SamBroner opened #18272 "Clarify if creating the claim should trigger azure to create the disk"
Either this is my issue, or it's lack of clarity in the documentation.

Regardless, on my machine (Kube 1.9, AKS) creating the PVC does not create a disk. Are there debugging steps available for this? Or am I missing part of the guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793

[2018-11-06 02:41] mike-urnun-msft commented on #18246
Hi @saulcruz Thank you for your feedback! Python support, presently, is in [experimental phase](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages#languages-in-runtime-1x-and-2x), however, you can explore some of the ways people have been using as workaround:
- [Running Python on Azure Functions — Time Trigger, External Libraries](https://blog.powerupcloud.com/running-pytho

[2018-11-06 02:41] SaurabhSharma-MSFT commented on #18262
@arnabganguly Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-06 02:42] SaurabhSharma-MSFT commented on #18268
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-06 03:04] vovikdrg commented on #18212
@Alberto-Vega-MSFT  Thank you for reply but I think i posted in wrong repo, added my comments to https://github.com/Azure/azure-storage-net/issues/801

[2018-11-06 03:07] mehara110 commented on #17918
@CeciAc Sorry but it does not make sense to me. We cannot use a shared key for all customers and send them our private key, neither can ask a customer to share their private key with us. This document is not clear around the signature verification certificate.

[2018-11-06 03:09] EasonWang01 commented on #15767
Node.js example also got the same issue after you solve the first `'type' of undefined TypeError` error.

[code]

[2018-11-06 03:49] dcbrown16 commented on #11178
Are we making any effort to standardize here?

[2018-11-06 03:59] Alberto-Vega-MSFT commented on #18237
@franelj This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-11-06 04:03] Alberto-Vega-MSFT commented on #18231
@calinmarina Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 04:32] martin-displayr opened #18274 "Entity ID instructions are incorrect"
In step 5, the Entity ID should be the same as the signon url i.e.

https://&lt;subdomain&gt;.zendesk.com

Otherwise you get the most unhelpful error message when you try to login and it took some doing to work out why!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Indepe

[2018-11-06 05:10] jason-j-MSFT commented on #18263
@linda33wj could you take a look at this enhancement request?

[2018-11-06 05:12] PramodValavala-MSFT commented on #18248
@brandonh-msft Actually there are 3 types of HTTP Triggers, like so

And the HTTP Trigger mentioned in the section indeed works like mentioned. It performs the defined HTTP request at a given interval. Its like a recurrence triggered LA with a HTTP Action after trigger.
This trigger is more of a shortcut in a way.

Do note that there are some difference between the settings for the HTTP trigger vs

[2018-11-06 05:12] #18248 closed

[2018-11-06 05:12] ChackDan commented on #18179
Diego – can you assign this to Preetha and Mani, who I have copied on this.

From: Diego Ramirez <notifications@github.com>
Sent: Sunday, November 4, 2018 10:36 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Compare reliable services to external stores (#18179)

A

[2018-11-06 05:18] jason-j-MSFT commented on #18267
@Minewiskan the SSDT acronym is not spelled out anywhere in the document, could you take a look?

@lukeb1961 I see your point now with the last issue, sorry I was a bit hasty closing it.

[2018-11-06 05:31] IdiotLeon commented on #17418
The URL on the [repo ](https://github.com/Azure-Samples/storage-blobs-go-quickstart)of the example has not been updated yet. @seguler @ben-st

![image](https://user-images.githubusercontent.com/12004270/48044679-0c954380-e142-11e8-8837-f9b349adde97.png)

[2018-11-06 06:00] Juliako commented on #17554
@CarlosOnline , good to hear and thank you for your comments, we will add the missing info to the docs.

[2018-11-06 06:03] SaurabhSharma-MSFT commented on #18274
@martin-displayr Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-06 06:27] KeiroKamioka0000 opened #18276 "Can VM restored Simultaneously?"
Is it possible to restore simultaneously?
If so is there are an limit of max simultaneous numbers can be restored at time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09-3d51d61b9083
* Content: [Azure Backup FAQ](https://docs.microso

[2018-11-06 06:35] #18098 closed

[2018-11-06 06:52] kkho commented on #18225
I am running it through a local instance of Azure CLI (version 2.0.49). However, when I tried it through ARM template it will work. But not running through a local instance

[2018-11-06 07:09] oaks-view opened #18277 "Unable to successfully send a transaction to deployed smart contract"
Following the tutorial above, i deployed a smart contract to a poa network on azure.  Im also sending a signed transaction as well. following the same steps. However it would seem that the transaction i sent gets discarded every time. Heres why i believer so.
For one, the hash gotten back after the signed transaction is sent. I used this to obtain a transaction receipt, by attaching a geth node to

[2018-11-06 07:14] PramodValavala-MSFT commented on #18258
@cwarne Sorry to hear about that. Except when working on the portal, deployment overwrites by default.

There is a warning about this in the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio#publish-the-project-to-azure) and we are looking into adding one in the UI as well. #18114

Azure Functions creates an Azure File Share to store t

[2018-11-06 07:36] mcurko opened #18278 "Doesn't seem to work with VS2017"
Download and install the Visual Studio Snapshot Debugger:

6.11.2018. 8:31:46 - Found installed product - Visual Studio Enterprise 2017
6.11.2018. 8:31:46 - VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd4

[2018-11-06 07:39] robymes commented on #18063
@TravisCragg-MSFT I'm a Contributor for that Resource Group, if I check Contributor permissions it seems there's no "Microsoft.Network/JoinServicetoaSubnet".
But I can't also find it in another Subscription where I'm the Owner.
How can I check for this permission?

[2018-11-06 07:53] AlexanderTodorovic opened #18279 "ADF with Polybase identical performance as CTAS?"
Dear All,
as mentioned in "Use PolyBase to load and export data quickly"
=&gt; Using CTAS will minimize transaction logging and the fastest way to load your data.

Because ADF also supports Polybase will it also generate
CTAS statements to load data so that it has the same performance as writing own CTAS statements?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-06 08:01] rwatjen commented on #18221
@TravisCragg-MSFT thank you. It doesn't seem to be settable in the ARM template that creates the custom domain, but I hadn't noticed that by clicking on the "Actions (POST, DELETE)" tab after having navigated to the customDomain, it lists the different possible operations. One of them is "enableCustomHttps".

[2018-11-06 08:01] #18221 closed

[2018-11-06 08:15] willyrj commented on #18220
Thanks Marille for your prompt response, but unluckily after following your direction (new registry key and permissions), and also reading and following the article you referenced, the situation  is still the same, no adapter log.
Any other idea ??
Thanks and regards.

[2018-11-06 08:26] tsaltd opened #18280 "Confusing ( out of sync) deployment guides"
The how-to workflow triggered by the &lt;get started&gt; button on the Blockchain Workbencch Preview page
https://azure.microsoft.com/en-us/features/blockchain-workbench/

does not seem to follow The steps outlined in Deploy Azure Blockchain Workbench in

https://docs.microsoft.com/en-us/azure/blockchain/workbench/deploy

I started setting my workbench up using the Preview Page walkthru, but did n

[2018-11-06 09:43] Minewiskan commented on #18267
@lukeb1961 There is no issue here. What SSDT is, how it's used, and how to install it is described in many articles you should read long before getting to this particular article on adding users and groups. For example, [What is Analysis Services?](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-overview#use-the-tools-you-already-know) or the data modeling tutorial ( rol

[2018-11-06 09:54] ggailey777 commented on #17549
@PramodValavala-MSFT please assign this issue to @craigshoemaker, who now owns the article.

[2018-11-06 10:14] anfelbeghoura opened #18282 "Install certificates on the gateway"
I installed certificates in my gateway using the yaml file :
certificates:
  device_ca_cert: "&lt;CERTDIR&gt;\\certs\\new-edge-device-full-chain.cert.pem"
  device_ca_pk: "&lt;CERTDIR&gt;\\private\\new-edge-device.key.pem"
  trusted_ca_certs: "&lt;CERTDIR&gt;\\certs\\azure-iot-test-only.root.ca.cert.pem"

but when I reload daemon with the ; sudo systemctl daemon-reload command;  then I check ioted

[2018-11-06 10:18] mtwelve commented on #18242
Thank you @MarileeTurscak-MSFT

[2018-11-06 10:22] ironicLemon commented on #17502
When RDP'd onto the box as cust1-dev@xxxx.onmicrosoft.com

klist gives:

[code]

[2018-11-06 10:29] guybartal opened #18283 "what is the minimun AKS cluster version for dev spaces"
In one place in this document, it is: 1.9.6 and another one is 1.11.2
So which one is the correct minimum requirement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e8079e-2433-4c01-550b-f9c2c7fd4271
* Version Independent ID: 5cc692b3-2faf-c9b3-fd9e-bd2b8676efd2
* Content: [Create a Kubernetes dev space in the cloud

[2018-11-06 11:08] nicojdejong opened #18284 "Re-Ranking features"
What are the "Special re-ranking features are available for En-* languages that enable better relevance."? Where do I find these documented/made available? For all the supported languages the Azure Search for QnAMakers seems on par, except for this sentence that suggests some specific feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-11-06 11:21] angoyal-msft commented on #18019
@tim-yan We have investigated further and need some more information from you. Are you running active connections for both Wifi and Ethernet at the same time? Or are you connecting from multiple locations, each with their own Public IP? In both scenarios, you are going to need to add each Public IP address you might be connecting from to your Azure SQL Database firewall rules.

[2018-11-06 11:28] BLmposi commented on #18206
Thank you. Will do.

[2018-11-06 12:25] vrbagal opened #18285 "Upload image using NodeMCU ESP8266 CP2102 WIFI"
I am using NodeMCU ESP8266 CP2102 WIFI Serial Wireless Module to upload images from SD card to Blob storage
using
https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_client_sample_upload_to_blob

when I run this i get following error in serial monitor

unknown option CURLOPT_VERBOSE
error code = HTTPAPIEX_INVALID_ARG
No SSL clients available.
Error signalled by underl

[2018-11-06 12:41] SaurabhSharma-MSFT commented on #18158
@rodji Can you please elaborate to which OrchestrationStep you are trying to pass the password claim ?

[2018-11-06 12:58] SaurabhSharma-MSFT commented on #18262
@arnabganguly I am able to run the command as mentioned in the document.
![image](https://user-images.githubusercontent.com/38112130/44291115-2f921480-a231-11e8-8e83-d3735054ca19.png)

[2018-11-06 12:59] SaurabhSharma-MSFT commented on #18262
@arnabganguly I am able to run the command as mentioned in the document.
![image](https://user-images.githubusercontent.com/38112130/44291115-2f921480-a231-11e8-8e83-d3735054ca19.png)

[2018-11-06 13:04] alexander-riss opened #18286 "detailed response does not contain "the same fields" as simple response"
the documentation states that the detailed response contains "the same" fields as the simple response in addition to the NBest array. This is not true since the detailed response does not contain the top level 'DisplayText' field

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6021ebc-4b2a-fbb3-84a4-1753b80442c3
* Vers

[2018-11-06 13:18] alexcastrus commented on #16340
I would also very much like to know how to accomplish this within a JSON template. As a CSP we are in desperate need of this functionality.

Thanks in advance.

[2018-11-06 13:22] SaurabhSharma-MSFT commented on #18268
@danmyhre Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-06 13:23] marinnedea opened #18287 "Wrong default volume type for linux machines: all"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/encrypt-disks#add-additional-data-disks :

- please remember that Azure doesn't offer support for OS disk encryption in Linux, although the ADE extension supports (aka is able to encrypt) OS disks.
- using "--volume-type: all" in an example speaking about adding additional "data" disks has no logic .. It may lead to accidentally encrypt

[2018-11-06 13:35] SaurabhSharma-MSFT commented on #18274
@martin-displayr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-06 13:37] #17819 closed

[2018-11-06 13:39] Xorima opened #18288 "ACR Helm logs out frequently"
Hi,

Would it be possible for the helm username and password to last longer as the token expires after an hour or so of inactivity and it is causing issues with my developers

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-264

[2018-11-06 14:10] SamirFarhat commented on #18063
Hi,
We have the same behavior here. Looks like an ARM issue too.
We have a user that is Contributor of a Resource Group, he created a VNET and a Storage Account, but also have this message. I'm a Reader over the Subscription, and i can make all the wizard (except validating since i'm reader). Looks lie there is a permission at the Subscription Level that needs to be granted to the user.
@robymes :

[2018-11-06 14:17] TomasLipensky opened #18289 "Troubleshooting documentation extension request"
Dear all,

Can you extend the page https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics-troubleshooting , the section "No data is appearing" by comment:

If reinstall of monitoring agent doesn't solve issue, try to:
1) uninstall agent
2) remove directory C:\\WindowsAzure\\Logs\\Plugins\\Microsoft.Azure.Diagnostics.IaaSDiagnostics
3) install agent

We ran into the iss

[2018-11-06 14:34] bodowney opened #18290 "Restrict 3389 access in examples."
[Enter feedback here]
Noticed on the examples given for building the networks it shows the NSG's as allowing 3389 (RDP) from the internet.  Shouldn't this be removed since this would be inviting attacks to these VM's?  At a minimum there should be an NSG/Firewall rule where 3389 is only allowed from known locations..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-11-06 14:37] kkho opened #18291 "Unauthorized while getting a secret from KeyVault even though the Container Instance has read permission through Managed Identity"
I followed the  tutorial here:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity

I have built an ARM template and added the principalId of the container instance to the key vault.
However, when running a postman call to the secret with generated Bearer token while doing this:

`https://cool-kv.vault.azure.net/secrets/SampleSecret/?api-version=2016-10-

[2018-11-06 14:45] tolstyiii opened #18292 "Date for prod?"
Hello, V2 gateway is in preview state else? Could you tell, when it planning to enter the prod? I want to use it for my prod env, which perfomance are now for V2, or it also had types medium, large and the same perfomance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Ind

[2018-11-06 14:46] stubarrpriest commented on #16361
Thanks for pointing me at the forum, I hadn't discovered that.  My issue was exactly the same as the one described in this question and had the same solution: https://social.msdn.microsoft.com/Forums/azure/en-US/2d7e150f-d4d1-491b-950a-c4bb163fd727/http-api-data-not-showing-up-in-log-search?forum=opinsights

[2018-11-06 14:49] xw-mon commented on #13780
Use `cert_validation_mode=ignore` in credentials file, env parameter or at the azure_module in your playbook.

[2018-11-06 15:02] promontis commented on #18055
@MicahMcKittrick-MSFT I don't really have an issue right now, because when using --name the error went away. I also think it has something to do with a version mismatch between client and tiller.

I just wanted to give you guys feedback and the error that I got when following the docs. Maybe adding an info box that, when receiving errors, you could reinitialize the bash environment?

For me the is

[2018-11-06 15:07] zozzi commented on #12419
FTPS with TLS/SSL not working at all !!! over the past few hours

regular plain text (unsecured) FTP works

tried different combinations of settings , different computers, locations, ...

[2018-11-06 15:08] zozzi opened #18293 "FTPS with TLS/SSL not working"
FTPS with TLS/SSL not working at all  over the past few hours !!!

regular plain text (unsecured) FTP works, but I can't connect using FTPS

tried different combinations of settings , different computers, locations, ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Indepe

[2018-11-06 15:13] sergaz-msft commented on #17696
Hi @mohibakhan you should recreate the ASA module again on the Portal or change the Image URI to the latest on the existent module:

![image](https://user-images.githubusercontent.com/22173500/48073278-53347d80-e1d6-11e8-8fa2-1a2536293d20.png)

PS: Best to do after this is to stop iotedge runtime, remove all docker images and containers from your edge device and start iotedge runtime again.

Thank

[2018-11-06 15:14] rothja commented on #17613
@declang I have confirmed that 16 is the right number and the docs should be updated to reflect that. Thanks again for the feedback and helping us to be more accurate in our statements.

#please-close

[2018-11-06 15:18] wboyer opened #18294 ""archived" vs. "achieved" in the first paragraph"
I think "achieved" makes more sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa84fa5e-ce88-6c7c-85af-205d85c5be9b
* Version Independent ID: 33ebf82b-f66a-bcbc-8365-6b9dfa97c1f6
* Content: [Filters and dynamic manifests](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-dynamic-manifes

[2018-11-06 15:36] jmpichardo opened #18295 "Is the command to connect to cluster wrong?"
According with this document, the command to connect to the cluster is:

az acs kubernetes get-credentials --resource-group=myResourceGroup --name=myK8sCluster

But, for some reason, this doesn't work for me.
I used the following command and it worked well:

az aks get-credentials --resource-group=myResourceGroup --name=myK8sCluster

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-11-06 15:38] jcbrooks92 commented on #18293
I'd recommend opening a support case or posting to the app service forums. It's difficult to troubleshoot in the comments section.

[2018-11-06 15:38] mlwhite4 commented on #17443
@jeevansd  Would you please provide an avenue in which I can provide an update image to replace the incorrect image in these instructions?

[2018-11-06 15:39] jmpichardo commented on #18295
Returned error is:
"The Resource 'Microsoft.ContainerService/containerServices/myK8sCluster' under resource group 'myResourceGroup' was not found."

My kubernetes cluster was created using the Portal.

[2018-11-06 15:44] TracyGH commented on #18079
I wanted to add that `X509Store(StoreName.My, StoreLocation.CurrentUser)` seems to work fine once I deploy the application to Azure.  Anyone who accesses the web app or web api from Azure is able to validate against the cert stored in Azure.  However, when running the project locally - it fails for users other than myself.

Is there a different methodology recommended for local VS development vs.

[2018-11-06 15:47] TerryJ123 opened #18296 "Would this work with a mobile device, such as an iPad?"
Great document!  I was able to follow these steps and publish RDS with App Proxy.  I'm wondering if users would then be able to access RDS on an iPad or other mobile device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fcb539-bdbd-068d-46c0-44058146031e
* Version Independent ID: 15e99611-e40e-310c-1625-9e76b27cfe99

[2018-11-06 15:48] mohibakhan commented on #17696
Hey @sergaz-msft

I removed the containers, images and runtime. and deleted the stream job.  I then re-installed Edge runtime, tempSensor and stream Job (preview 012) and when I try to run this I get an error.
**Critical error occurs during node runing**

Here are the logs:

`PS C:\WINDOWS\system32> iotedge logs -f IoTEdgeJob
2018-11-06 15:42:02.326 +00:00 [INF] - Module client initializing ...
20

[2018-11-06 15:50] diberry commented on #18166
@Sean0885 After discussing with service team, they request you contact them via email address qnamakersupport@microsoft.com to help with this issue.

[2018-11-06 15:51] jackt-moran opened #18297 "Initialize twin objects from environment?"
Hi, I've been reading through your documentation as well as your open source code trying to find a way to initialize the IoTHubDeviceTwin without directly using a connection string. IoTHubModuleClient has a method that lets you do exactly that, and I'm wondering if there is a way to do that with IoTHubDeviceTwin. Or, is there some other preferred method to initialize the IoTHubDeviceTwin securely

[2018-11-06 16:02] DimsumPanda commented on #16978
@kalyankrishna1 I was using Powershell commands and not the endpoints and was unable to update the app created in the App Registration Portal.

I am aware that the feature is deprecating soon and hope to get more updates on when the new feature will be ready.

[2018-11-06 16:06] DCtheGeek commented on #18234
@MicrosoftDocs/azure-cxp-triage Can you please also add the label 'azure-policy/svc' for tracking.  Thanks!

[2018-11-06 16:11] sergaz-msft commented on #18169
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 16:11] #18169 closed

[2018-11-06 16:16] willatathena opened #18299 "React Native Support"
Do you have any instructions on how to integrate with React Native? There is a package called https://github.com/CatalystCode/react-native-azurenotificationhub but it is becoming outdated and restricts you to older versions of Firebase and Google Play Services modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aff

[2018-11-06 16:17] sergaz-msft commented on #18149
@dsk-2015 , @walsehgal can you please involve the content author to address this doc-bug? Thank you!
Really appreciate the feedback  @tomkuijsten :)!

[2018-11-06 16:20] sergaz-msft commented on #18190
@dsk-2015 , @walsehgal can you please involve the content author to address this doc-bug?

Thanks for reporting this @tomkuijsten !

[2018-11-06 16:24] sergaz-msft commented on #18195
@baharw can you test the same sample on a different network? Also can you double check that you are not under a proxy? [Configure an IoT Edge device to communicate through a proxy server](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support)

Thank you!

[2018-11-06 16:27] tFable commented on #16340
@alexcastrus I received confirmation through a support ticket that the OMS IaaS extension does not support multi-homing. It is not currently possible to configure the IaaS OMS Extension with two workspaces. The support rep said that there is no indication that this feature is on the roadmap.

[2018-11-06 16:28] genlin commented on #18260
@adhiggs Thanks for the pointing out the problem. I will fix it as soon as possible.

[2018-11-06 16:32] sergaz-msft commented on #18282
Thanks for your feedback @anfelbeghoura . What version of IoTEdge runtime are you using? There is a [new version of iotedge runtime (1.0.4) ](https://azure.microsoft.com/en-us/updates/iot-edge1-0-4/). Can you please use that runtime version and test it again?

Thanks!

[2018-11-06 16:32] Pynop commented on #15129
Hi, I experience the same issue and I'd really prefer to run PS script locally rather then at Azure side. I have the latest AzureRM version:

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
6.11.0     AzureRM                             PSGallery            Azure Resource Manager Module

[2018-11-06 16:36] ikramer-ssb commented on #18263
@linda33wj - I have been able to query Campaigns, Contacts, Email and Email_Groups. What I have not been able to find is the proper way to get Eloqua Activity data. Any info about this would be great.

[2018-11-06 16:36] cwarne commented on #18258
@PramodValavala-MSFT Thank you for the quick reply. I did find the location in Azure File Share, but I don't think I have snapshots on.

[2018-11-06 16:36] #18258 closed

[2018-11-06 16:37] sdgilley commented on #16085
The code has been updated - #please-close

[2018-11-06 16:37] sergaz-msft commented on #18285
@vrbagal thanks for your feedback. The [doc ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-file-upload )where you opened this issue at is not related with https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_client_sample_upload_to_blob.

Can you open a new issue here?: https://github.com/Azure/azure-iot-sdk-c/issues

PS: You can reference this

[2018-11-06 16:37] sergaz-msft commented on #18285
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 16:37] #18285 closed

[2018-11-06 16:39] Adam-Smith-MSFT commented on #18085
@KeiroKamioka0000 Yes it is by default V2 :) This was the blog announcement made for the release: https://azure.microsoft.com/en-us/blog/large-disk-support/ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 16:39] #18085 closed

[2018-11-06 16:40] sergaz-msft commented on #18277
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 16:42] sergaz-msft commented on #18280
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 16:43] Mike-Ubezzi-MSFT commented on #18279
@AlexanderTodorovic Thank you very much for your detailed feedback. I will have the content owner review and update as appropriate.

[2018-11-06 16:43] sergaz-msft commented on #18178
Thank you so much for letting us know the resolution and feedback :). Adding content author to address this and add it to the doc.

[2018-11-06 16:43] andsmit9 commented on #14662
What was the solution? I just ran into this as well trying to do a similar thing: Copy a VM from subscription 1 in tenant 1 to subscription 2 in tenant 2. We were attempting to create an image in Subscription 2/Tenant 2 from snapshots created in Subscription 1/Tenant 1. I have sufficient access to required resources in both tenants but got the same error.

[2018-11-06 16:44] Adam-Smith-MSFT commented on #18259
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 16:45] sergaz-msft commented on #17413
@vrbagal I believe this is related with the new issue opened? https://github.com/MicrosoftDocs/azure-docs/issues/18285

Thanks!

[2018-11-06 16:45] tfitzmac commented on #18172
#please-close

[2018-11-06 16:45] tfitzmac commented on #18080
#please-close

[2018-11-06 16:45] Adam-Smith-MSFT commented on #18119
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 16:45] #18119 closed

[2018-11-06 16:46] tfitzmac commented on #18148
#please-close

[2018-11-06 16:46] Adam-Smith-MSFT commented on #18276
Thank you for the valuable feedback,we are investigating the issue.

[2018-11-06 16:47] sergaz-msft commented on #18297
Hello @jackt-moran , you can use X509 certificates for example. Please check [Device Authentication using X.509 CA Certificates](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-x509ca-overview) and let us know if you have further questions?

Thank you!

[2018-11-06 16:49] CoyoteCloud46 commented on #14662
I sent the solution to Micah and she was going to upload the scripts to Github as a solution

From: andsmit9 <notifications@github.com>
Sent: 06 November 2018 17:44
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Andy Wylie <anwylie@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can this be done when the sub id's are in different AAD ten

[2018-11-06 16:52] andsmit9 commented on #14662
Thanks for your quick response! Hopefully Micah can give an update when she sees this.

In the meantime, if it isn't too much to ask, could you attach the redacted solution here as well?

[2018-11-06 16:57] vhorne commented on #18018
@ebashmakov
Added a qualifying statement to the note about PathPattern:
_Otherwise, any characters allowed in a URL are allowed in PathPattern._

[2018-11-06 17:02] jdickson289 opened #18300 "Edit section "Enable the Log Analytics VM Extension""
Step 4.  In the list of Virtual machines, select a virtual machine you want to install the agent on.
****VM must be running to add it to a Resource Group**, need to add a statement that in order to add a VM to a resource group, the VM must be up and running or it will fail to add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-11-06 17:02] PatAltimore commented on #18280
@tsaltd You're right. This is confusing. I'll pass along the feedback to the team that owns the preview pages.

The good news is that you found the right article to deploy blockchain workbench. Follow the https://docs.microsoft.com/azure/blockchain/workbench/deploy article.

Pat

#in-progress

[2018-11-06 17:04] brandonh-msft commented on #18248
👍 thanks!

[2018-11-06 17:09] CarlRabeler commented on #18251
@vikaskumawat80 geo-replication support is coming to public preview very soon.

[2018-11-06 17:15] tamram commented on #17502
@yuemlu - FYI

[2018-11-06 17:16] jackt-moran commented on #18297
Thanks for the prompt response @sergaz-msft! I will try it out and let you know how it goes.

[2018-11-06 17:21] bjthomson commented on #18110
I raised the above note while debugging a webforms app. I could not see why the <asp:loginName> control was always blank.

Having stepped through the code, I can see that after a successful authentication via OpenIDConnect, I have a bunch of claims, and I can display them in a gridView:

![claims1](https://user-images.githubusercontent.com/22427749/48080406-787cb800-e1e5-11e8-9782-9f54482a55c3.PNG

[2018-11-06 17:22] dsk-2015 commented on #17688
@jpalo, @alinamstanciu is referring to [IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/about-iot-edge) devices.

[2018-11-06 17:29] #18172 closed

[2018-11-06 17:30] MicahMcKittrick-MSFT commented on #18295
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 17:31] MicahMcKittrick-MSFT commented on #18288
Thanks for the question! We are investigating and will update you shortly.

[2018-11-06 17:31] MicahMcKittrick-MSFT commented on #18287
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 17:32] #18267 closed

[2018-11-06 17:35] cherylmc commented on #9990
Docs have been updated accordingly. Thanks for the feedback! #please-close

[2018-11-06 17:38] MicahMcKittrick-MSFT commented on #18270
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 17:39] MicahMcKittrick-MSFT commented on #18272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 17:41] Adam-Smith-MSFT commented on #18276
@KeiroKamioka0000 I need a little bit of clarification, are you referring to restorations of multiple files to one VM or restoring multiple VMs at the same time ?

Thanks,
Adam

[2018-11-06 17:47] #18164 closed

[2018-11-06 17:48] vhorne commented on #18184
@gunnarcms
Updated the sentence.

[2018-11-06 17:48] vhorne commented on #18184
#please-close

[2018-11-06 17:49] MGoedtel commented on #17912
@mabushaireh @jason-j-MSFT - the firewall configuration details for the agent specified in the article - https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid#network-firewall-requirements is correct.  If you are integrating OpsMgr with Log Analytics to collect data from agents reporting to that management group, the firewall configuration for that scenario is correct i

[2018-11-06 17:50] cynthn commented on #18270
@imartinez2 thank you for your feedback! I've filed a PR to get the code block corrected. Thanks again :)

#please-close

[2018-11-06 17:52] MarileeTurscak-MSFT commented on #18244
We will now proceed to close this thread. Please leave your feedback in Azure Feedback (linked above) and feel free to link the issue here.

If you have further questions, please leave a comment and tag me in it and I will gladly continue the conversation.

[2018-11-06 17:52] #18244 closed

[2018-11-06 17:53] #18148 closed

[2018-11-06 17:54] ggailey777 commented on #17061
@abhinav-jain09 thanks for pointing out this content gap. We are now tracking this issue in the Java library repo: https://github.com/Azure/azure-functions-java-library/issues/65

#please-close this issue per the feedback SLA.

[2018-11-06 17:57] rdt000 commented on #12565
I am having a very similar error, but i deleted my token and generated a new 1.  Now my error is
Details: "ODBC: ERROR [HY000] [Microsoft][Hardy] (34) Error from server: Bad Status: HTTP/1.1 302 Moved Temporarily."

[2018-11-06 18:00] MicahMcKittrick-MSFT commented on #14662
The error is due to the fact that the person transferring using the provided script needs to be the AAD Tenant Admin for BOTH subscriptions. Otherwise it will fail.

For example, if you are a MSFT employee you are NOT the AAD admin. So moving stuff from you personal subscription to the MSFT subscription will fail.

A work around was essentially this: https://cloudpuzzles.net/2017/05/moving-azure-m

[2018-11-06 18:00] manikandan5555 commented on #15279
Hi All, any solution for this? app-gateway does not support AuthenticationCertificates for the selected SKU tier WAF_v2. Supported SKU tiers are Standard,WAF". If I execute using powershell its not refelct in the portal

[2018-11-06 18:02] MicahMcKittrick-MSFT commented on #14662
I will work to add information to the doc to make this clear.

[2018-11-06 18:05] sdgilley commented on #17222
Also see https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-track-experiments#viewing-charts-in-run-details
#please-close

[2018-11-06 18:07] mestew commented on #18164
@digeler
Hi Dinor,
I added the script and the tweaks to it we discussed over email. I would think it should go live this afternoon or  tomorrow morning. Thanks for noticing this and helping out!
Thanks,
Meghan
#please-close

[2018-11-06 18:08] #18270 closed

[2018-11-06 18:13] #17912 closed

[2018-11-06 18:16] Mike-Ubezzi-MSFT commented on #18251
@vikaskumawat80 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-06 18:16] #18251 closed

[2018-11-06 18:17] Mike-Ubezzi-MSFT commented on #18216
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 18:19] digeler commented on #18164
great news thanks

[2018-11-06 18:21] Mike-Ubezzi-MSFT commented on #18269
#18269 is related to this GitHub issue where baseball is being used as an analogy, and baseball is not always understood by everybody.

[2018-11-06 18:22] Mike-Ubezzi-MSFT commented on #18269
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 18:28] BryanTrach-MSFT commented on #18271
@zzulueta Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-06 18:34] BryanTrach-MSFT commented on #18299
@willatathena I am unaware of any 1st party documentation that would cover this scenario. As a result, we have assigned your feedback to the doc author for them to review the feedback and determine if any action is necessary.

[2018-11-06 18:40] #18184 closed

[2018-11-06 18:41] TravisCragg-MSFT commented on #18292
@tolstyiii unfortunately I cannot share a timeline for when App Gateway V2 will go into production.

We are still working to get the full documentation out for V2, so you will find some gaps in what exactly V2 offers. Performance levels should be similar to V1, but I recommend testing them internally to see what works best with your application

[2018-11-06 18:41] andsmit9 commented on #14662
Thanks Micah for the update.

Just as an off-the-cuff thought from one of my colleagues: Would a multi-tenant service principal bypass that AAD tenant admin requirement? - https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant

[2018-11-06 18:41] Alberto-Vega-MSFT commented on #17997
@badalk This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-11-06 18:41] johngil1 opened #18303 "Configuration FAQ"
Would love to see a FAQ to address configuration errors such as "unable to retrieve aad-ds resource details"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5519b89-2f5c-8f9a-4de2-34d350b084cf
* Version Independent ID: 8690418c-79d4-d288-685f-5a103c32d17d
* Content: [Configure an HDInsight cluster with Enterprise Secur

[2018-11-06 18:43] TravisCragg-MSFT commented on #18290
@bodowney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-06 18:43] Karishma-Tiwari-MSFT commented on #15397
@mcurko The author has opened a PR with the changes and changes will be live shortly.

[2018-11-06 18:44] #15397 closed

[2018-11-06 18:44] BryanTrach-MSFT commented on #18293
@zozzi I am not aware of any ongoing issues with FTP/S currently. If you are still having this issue, please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this GitHub issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2018-11-06 18:44] #18293 closed

[2018-11-06 18:48] BryanTrach-MSFT commented on #18294
@wboyer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Juliako I am unable to assign the issue to @cenkdin so I have assigned the issue to you. If you agree with the feedback, I can make the edit.

[2018-11-06 18:48] MicahMcKittrick-MSFT commented on #14662
@andsmit9 I don't believe this will bypass the tenant admin requirement. You could attempt to be added as a second global admin of the tenant. That MIGHT work :) Hard for me to test as I won't ever be giving tenant admin privileges for my internal subscription. But testing this out on free trial subscriptions seems to work...