[2020-06-26 06:12] ishepherd commented on #57334
Thanks @AjayKumar-MSFT and @dcbrown16

A colleague today pointed me to this page: https://docs.microsoft.com/en-us/azure/security/fundamentals/subdomain-takeover#use-azure-app-services-custom-domain-verification

That answers my original question: asuid is the one that should be used, because it prevents a possible subdomain takeover attack.

[2020-06-26 06:24] BharathNimmala-MSFT commented on #57903
@don4of4  Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-26 06:26] BharathNimmala-MSFT commented on #57886
@RijingXi95Arten Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-26 06:33] phwecker opened #57930 ""www" reference is confusing"
there were multiple customer inquiries around custom domain setup for static web apps. the current wording (incl. the UI in the product) references www as the hostname to set. customers are taking this as "it only works with www", which -in a real world scenario would be prohibitive, as www often times is already taken.

practically it does work with any hostname, so please verify with product whe

[2020-06-26 06:47] jain6968 commented on #57929
Unhandled Exception: System.AggregateException: One or more errors occurred. (Failed to initialize blob backend.) ---> Microsoft.AzureStack.Services.Storage.Blob.BlobClientException: Failed to initialize blob backend.
   at Microsoft.Azure.Devices.BlobStorage.Common.BlobUtil.InitializeBlobBackend(String rootPath, String logLevel, String enableDiskLogStr, String uncommittedBlocksExpiryTimeStr) in /

[2020-06-26 06:49] VikasPullagura-MSFT commented on #57317
@liutang I have shared he feedback to internal team over email.

However, I would also recommend you to provide this feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

Team will prioritize features bases on the Feedback.

[2020-06-26 06:49] #57317 closed

[2020-06-26 06:52] VikasPullagura-MSFT commented on #56990
@StingyJack Thanks for sharing the details.

When you say regular portal is it portal.azure.com and is happening on this also?

[2020-06-26 06:58] pcdiks commented on #56948
Yes, I still have the problem but after checking it seems related to something I do during the customization of the image that I use to build the VM's. So it seems the problems lies on my side....

[2020-06-26 07:11] amanmcse commented on #57836
@Aravinda766  Closing the issue now. Feel free to tag me in your reply if you have any question.

[2020-06-26 07:11] #57836 closed

[2020-06-26 07:13] sebgod opened #57931 "How to update an existing DnsRecordSet with a TargetResourceId (alias)"
[Enter feedback here]
`New-AzDnsRecordSet` supports setting the `TargetResourceId` (alias record), but I can not find this information for `Set-AzDnsRecordSet` for updating an existing record

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb4b6d90-0526-daa4-8c64-cf3227d912a6
* Version Independent ID: 498d2f31-707b-b1e1

[2020-06-26 07:27] justinyoo opened #57932 "Not all regions the connector is available, although Logic Apps is available in the region"
Hi, Team.

I created a Logic App instance in the Korea Central region, which is fine. However, I couldn't create the Twitter connector in the same region.

Instead, I created another Logic App instance in the West US 2 region. This time the Twitter connector was successfully created.

It seems that, not all regions are the connectors available, although Logic Apps is available in the same region.

[2020-06-26 07:32] MikhailTymchukFT opened #57933 "Is possible to get the current load via API?"
We want to scale our DWU units based on load automatically, but I don't know how to to read current load values (number of queries, queued queries).
Does such API endpoint exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95eb3903-d171-d3c9-180e-a49e14522f27
* Version Independent ID: 44cece14-8e57-4d3b-6e5c-2a8ffe7

[2020-06-26 07:39] bangdu-ms opened #57934 "Add syntax for application rule with wildcard (*) in Firewall."
[Enter feedback here]
This part is not clear about the syntax for application rule with wildcard (*) in Firewall.
Based on the test result, only *.test.com or *test.com is supported. Please kindly post this as well

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Ind

[2020-06-26 07:46] VikasPullagura-MSFT commented on #56974
@mikal768
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Incase if you need any help opening support case, please add your comment here, I will help opening a support case if required.

[2020-06-26 07:46] #56974 closed

[2020-06-26 07:47] VikasPullagura-MSFT commented on #57664
Thank You all for sharing the updates.

[2020-06-26 07:48] VikasPullagura-MSFT commented on #57664
@amjadaljunaidi
Hope the provided information is helpful.

The document will be updated as per the comments from the team.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-26 07:48] #57664 closed

[2020-06-26 08:32] rfcdejong opened #57935 "Missing info if this can run on windows containers"
The documentation doesn't describe of side car container works on windows containers

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed58f2c-446c-b500-122f-407628a8eb17
* Version Independent ID: bce3f5a3-45d8-6b93-522e-a9af298068f5
* Content: [Enable TLS with sidecar container - Azure Container Instances](https://docs.

[2020-06-26 09:01] Jacintopc opened #57936 "Credential Rotation clarification"
Hi, I would like to understand what implications has credential rotation. 46 days for system-assigned managed identity or for user-assigned managed identity? Is it possible to create a user assigned or system-assigned with 3 years rotation period? thanks, Jacinto
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-26 09:09] kummanish commented on #57842
@ealkalai I have provided the content here for getting the private IP. The information is part of the network interface and can be fetched through the solution listed. Let me know if this helps.

[2020-06-26 09:15] ealkalai commented on #57842
My intention was to be able to create these private endpoints via an arm template. but having to do multiple references will not work. So for now i have managed to find the private ip, with powershell cmdlets. It would work similarly with the cli. However, due to the hardcoded array indices it could be prone to errors. Do you think we can add a feature request to get the assigned ip address direct

[2020-06-26 09:21] ram-msft commented on #57734
@GD06 Thanks for the feedback.To expedite the validation process that seems to be 10 business days.
You cannot use and deploy an AKS with FPGA Standard_PB6s without be approved by https://aka.ms/accelerateAI.

Could you please send us an email at Azcommunity@microsoft.com with your subscription ID and URL of this thread? I will expedite the process.

Here are the some samples using FPGA and Azure

[2020-06-26 09:29] Dev-ML11 commented on #56048
Hi @SwathiDhanwada-MSFT,
Can you let me know if any update from your team on this.

[2020-06-26 09:37] amanmcse commented on #57020
@zzl1 The Identity provider needs to be selected in the User flow as well and the callback url needs to be https://your_tenant.b2clogin.cn/your_tenant.partner.onmschina.cn/oauth2/authresp in the IDP.

[2020-06-26 09:37] #57020 closed

[2020-06-26 10:08] AdelaManea opened #57939 "Seems like the Azure Portal interface has change a bit and the page may need an update"
It seems like the interface for the Azure Portal has changed a bit, such as the button Edit (In Monitor) being replaced by Customize. This page may benefit from a review. Thank you.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75687a2c-c9e0-262f-197b-4b88b8e6d27d
* Version Independent ID: 58bd1e

[2020-06-26 10:42] mllipi opened #57940 "outdated documentation"
[Please update the following documentation as the option "**Use App Service**" in HTTP Settings does not exist: https://docs.microsoft.com/en-us/azure/application-gateway/configure-web-app-portal]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218baca3-fde1-9a34-6cb2-19fd48daa471
* Version Independent ID: 651db569-1550

[2020-06-26 10:50] saursi-ms opened #57941 "Protocol Diagram of the ROPC flow shows wrong Info and below fields are also adding confusion."
ROPC flow is only valid for PublicClientApplication which does not require a client secret. However, adding that in the diagram is creating confusion for the new users.

It gives a clear impression that we can use the same flow in creating ConfidentialClientApplication, which is not true. Even the Sample code does not use ConfidentailClientApplication.
For Java, MSAL does not support any API which

[2020-06-26 10:51] jordi-j opened #57942 "Update references from SFB to Teams"
Please update document to mention Teams (if applicable), there are references to SFB but not to Teams. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Use tenant restrictions to manage access to SaaS a

[2020-06-26 11:30] mol opened #57943 "Branding guidelines in docs say logo should be 215x215 but tooltip on page says 48x48 or 50x50"
In Azure, when editing the Branding for an application, the tooltip beside the logo says it should be 48x48 or 50x50 and that it should be transparent.

The docs here says it should be 215x215 and it's recommended it's not transparent.

I'm pretty sure the tooltip in Azure said 215x215 when I created the application yesterday though, so maybe there's two different tooltips for the same page floati

[2020-06-26 11:30] DiakosN opened #57944 "Suggested changes to the Netdocs SSO Page"
Hi, I work in support at NetDocs and think this page could be updated a little.
See below
Configure Azure AD SSO
Point 4: We have other regions for point a and b
https://vault.netvoyage.com/neWeb2/docCent.aspx?whr=<Repository ID>
https://eu.netdocuments.com/neWeb2/docCent.aspx?whr=<Repository ID>
https://de.netdocuments.com/neWeb2/docCent.aspx?whr=<Repository ID>
https://au.netdocuments.com/neWeb2

[2020-06-26 11:47] mormond opened #57945 "Offer Overview table is confusing"
* I assume it should read "Contact Me", not "Contact Us"
* Why have separate lines for Power BI / Dynamics and SaaS Apps?
  + Given the requirements for Power BI / Dynamics and SaaS / Azure apps are the same in this table would it not be clearer to reduce to a single entry for "Trial / Transact"
  + If not, should "SaaS Apps" read "Azure Apps" as "SaaS Apps" would include Power BI / Dynamics?

---

[2020-06-26 11:56] vipulsparsh commented on #57919
@jeevansd Can you look into this ?

[2020-06-26 11:57] SumanthMarigowda-MSFT commented on #57922
@mattgaspar Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-26 11:57] vipulsparsh commented on #57921
@jeevansd Can you look into this ?

[2020-06-26 11:57] VikasPullagura-MSFT commented on #57935
@rfcdejong
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-26 12:02] AjayKumar-MSFT commented on #57930
@phwecker,  Thanks for taking time to share your valuable feedback.
@burkeholland, Requesting your comments.

[2020-06-26 12:20] KrishnaG-MSFT commented on #57591
@Expecho Verified and updated the document as required. The changes will go live in sometime (i.e., in less than 24 hours). Thanks.

[2020-06-26 12:20] #57591 closed

[2020-06-26 12:24] VikasPullagura-MSFT commented on #57926
@kazshi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-26 12:24] KrishnaG-MSFT commented on #57665
@g0pinath-metricon At this point it appears that there's no edits or updates needed for the documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-06-26 12:24] #57665 closed

[2020-06-26 12:25] VikasPullagura-MSFT commented on #57927
@kazshi
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-26 12:28] KrishnaG-MSFT commented on #57669
Assigning @bwren for visibility, review to help provide insights and for document enhancement consideration as appropriate.

[2020-06-26 12:29] psignoret commented on #57941
@saursi-ms, while the underlying service might support certain flows, client libraries are not required to implement all of them.*

This is particularly true for flows such as ROPC which are only supported for legacy reasons and are, generally speaking, something we do _not_ recommend you use. (In MSAL for .NET, for example, username/password flow is not supported at all on .NET Core or UWP, even

[2020-06-26 12:32] KrishnaG-MSFT commented on #57939
@AdelaManea Good observation and thanks for the feedback!
Assigning @mrbullwinkle for visibility, review and document enhancement consideration as appropriate.

[2020-06-26 12:33] KrishnaG-MSFT commented on #57945
@mormond Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-26 12:40] AdelaManea commented on #57939
I appreciate the really quick response! Just a heads up, as I continued reading a few more things looked changed in the interface than I realized initially, so I recommend a review of the whole page not just what I mentioned specifically. I don't know how you usually review these changes so I thought I would mention it. Have a great day!

[2020-06-26 12:41] TheArchitect1030 opened #57946 "Which hybrid identity szenario is supportet and prefered?"
You can find at the prerequisites the following.
A user account in Azure AD with permission to configure provisioning (e.g. Application Administrator, Cloud Application administrator, Application Owner, or Global Administrator).

My question is, which hybrid identity szenario is supportet and prefered within this configuration?
	-Password hash synchronization (PHS) ?
	-Pass-through authentication

[2020-06-26 12:52] tfitzmac commented on #57920
The note has been changed.

[2020-06-26 12:52] tfitzmac commented on #57920
#please-close

[2020-06-26 12:52] #57920 closed

[2020-06-26 12:54] saltniklas opened #57947 "Azure Standard Load Balancer not taking unhealthy nodes out of backendpool"
I have 2 Azure VM sitting behind a Standard Azure Load Balancer.

The load balancer has a healthprobe pinging every 5 seconds with HTTP on /health for each VM.

Interval is set to 5, port is set to 80 and /health, and "unhealthy threshold" is set to 2.

During deployment of a web application to IIS on each VM, we set the /health-endpoint to return 503 and then wait 35 seconds to allow the load bal

[2020-06-26 13:02] SnehaAgrawal-MSFT commented on #57818
@lerlacher-haylix Thanks again for the feedback on this. Could you please elaborate on your query about Auto-Heal to help you better on this.
You may want to investigate below blog link might be helpful:
https://azure.github.io/AppService/2018/09/10/Announcing-the-New-Auto-Healing-Experience-in-App-Service-Diagnostics.html

[2020-06-26 13:16] MGoedtel commented on #57447
@mikenri - The article is up-to-date regarding the OS and versions that are supported.  This solution isn't receiving any further investment by the product group as [AzMon for containers](https://docs.microsoft.com/azure/azure-monitor/insights/container-insights-overview) is the successor for monitoring containers in different Kubernetes environments.  I hope this answers your question. #please-cl

[2020-06-26 13:16] #57447 closed

[2020-06-26 13:29] VarunBhandary commented on #9076
Hi All, Can this be then added to the official documentation please? As figuring this out via forums is quite painful :). It would help others taking the same direction on what the recommendation, limitation is.
![image](https://user-images.githubusercontent.com/25390564/85862249-6afcb300-b7b9-11ea-88b6-6806a1f7a6ac.png)

[2020-06-26 13:37] NehaOberoi92 opened #57948 "Azure Apim Consumption Tier without VNet and als integration"
Hi Team,

I have one issue with this document - three ways are mentioned to connect apim with aks cluster

I have a scenario where I cannot keep apim im vnet and want to integrate it with aks
Second scenario where ingress controller is mentioned seems to be fine but In consumption tier we dont have any IP address..how can I proceed

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-06-26 13:44] belaie opened #57949 "This has some technical limitation; Application app role Value (appRole) and Scope name cannot have same values"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87330ebf-dd47-2616-946b-c4ea21c4b0e9
* Version Independent ID: 61c91ef5-2131-2766-14d6-ed52c24fa49a
* Content: [Protected web API app registration - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-

[2020-06-26 13:46] v-mohaly opened #57950 "couldnt intiatie discovery using VMware appliance"
Am always receive the below error however am the owner of my subscription

Details Azure Key Vault create or update operation failed for &amp;amp;#39;https://azmigrate0357aekv.vault.azure.net/&amp;amp;#39;. The error encountered is &amp;amp;#39;AKV10022: Invalid audience. Expected https://vault.azure.net, found: https://management.azure.com/.&amp;amp;#39; Recommendation Please check if you have &a

[2020-06-26 13:49] vipulsparsh commented on #57819
@ericthomas1  Sure, let us know if you need any further help. We will close this for now, you can always comment here to get this re-opened.

[2020-06-26 13:49] #57819 closed

[2020-06-26 13:50] jmprieur commented on #57949
@belaie: indeed, this is a limitation from Azure AD. Do you suggest we call it out in the doc?

[2020-06-26 13:53] VikasPullagura-MSFT commented on #57839
@nageswar255 Are you using Helm 2 or Helm 3?

[2020-06-26 13:59] AbhimanyuSharmaMosaic commented on #7685
Does this still hold true? No role to allow user to run pipeline manually without letting him modify it?

[2020-06-26 14:01] GiftA-MSFT commented on #57880
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-26 14:01] #57880 closed

[2020-06-26 14:12] lmoloney commented on #56794
PR #57952 is designed to address this. I am not sure if it fully addresses the concern, as more completely addressing the issue may require more significant changes to the document. I think this may warrant a [!NOTE]

[2020-06-26 14:15] kiranpradeep opened #57953 "Requesting documention for amlInput amlOutput endpoints in RULClassifier"
This document introduces endpoints `amlInput` and `amlOutput` out of nowhere without any document references. For every azure ml edge module are the endpoints going to be same? Will an azure ml IoT edge module always have 1 input and 1 output endpoint only? Any chances of an ml edge module message having message properties etc? This is not a request for answers on the above specific questions, but

[2020-06-26 14:21] SatishBoddu-MSFT commented on #57560
@V-Guru Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-26 14:21] #57560 closed

[2020-06-26 14:25] scott1138 commented on #57867
@TravisCragg-MSFT doesn't the TCP timeout relate to a single session and how long it will stay open given no traffic, like in the case of a long running back-end query?  I guess what I am asking is that after any active session has ended, how long does the load balancer's internal table store the source hash and its related destination?  On many load balancing appliances this is configurable. The

[2020-06-26 14:35] cveld opened #57954 "Admin account enabled is required for Azure Portal picklist"
This documentation states clearly that the admin account is disabled by default for security reasons. Unfortunately when we try to pick an image for deployment to an Container enabled App Service we get the following error:
[code]
(subscription, resourcegroup and registry ommitted for privacy)

Ideally we should be able to pick an image without the admin account enabled. In the meanwhile, could yo

[2020-06-26 14:48] iMicknl opened #57955 "Missing code examples for Python"
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=python

Python is supported for Durable Functions and has those HTTP functions, however they are not documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29097a2-e7ac-f8ae-c8b9-65dd9707d089
* Version Independent I

[2020-06-26 14:49] MGoedtel commented on #55091
@femsulu - Yes, I was planning on creating a PR next week to remove this script and the section temporarily until engineering addresses the issues in the script.  In the meantime, customers can go through the portal to create a Run As account.  I also need to review the script to automate renewal of the Run As certificates, as it hasn't been updated.

[2020-06-26 14:50] shashishailaj commented on #57940
@mllipi Thank you for your feedback . We will investigate this update the thread .

[2020-06-26 14:51] shashishailaj commented on #57936
@Jacintopc  Thank you for your feedback . We will investigate this update the thread .

[2020-06-26 14:52] shashishailaj commented on #57931
@sebgod Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 14:54] shashishailaj commented on #57942
@jordi-j Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 14:58] shashishailaj commented on #57934
@bangdu-ms Thank you for your feedback . We will have this reviewed by the content authors.

[2020-06-26 15:05] shashishailaj commented on #57949
@belaie As suggested by @jmprieur  Could you please let us know if you believe it would be better to call this out in a document ?

[2020-06-26 15:06] SatishBoddu-MSFT commented on #57953
@kiranpradeep Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-06-26 15:09] harp365 opened #57956 "Ambiguous Licensing Requirements"
Could the following Note possibly be reviewed and re-phrased?

"Configuring and using the expiration policy for Office 365 groups requires you to possess but not necessarily assign Azure AD Premium licenses for the members of all groups to which the expiration policy is applied."

Wording such as "but not necessarily" in the above should not be used in official Microsoft documentation. It either i

[2020-06-26 15:10] AdelaManea opened #57957 "Microsoft Azure Storage Explorer"
The interface seems to be different, sorry in advance if it's a mistake of mine and I just cannot find it. But for example, right-clicking on containers or blobs, does not offer me the option to create snapshot or manage access policies. Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be092

[2020-06-26 15:12] vivere-dally opened #57958 "Getting all directory roles from the portal"
[Enter feedback here]
Hello, I like your examples but I wanna suggest an improvement. So basically if you go to the portal, at Roles and administrators, you see a bunch of roles that you can assign to users. But when you call Get-AzureADDirectoryRole on a new tenant, you get only a few roles, not all of those listed in the portal, and you have to call Get-AzureADDirectoryRoleTemplate and enable th

[2020-06-26 15:15] JamesTran-MSFT commented on #57809
@leaderanalytics
I just wanted to follow up with you and see if you had a specific ask regarding this article? Or any updates/suggestions?

If not, I'll go ahead and close out this issue at the end of the day.
Thank you for your time.

[2020-06-26 15:16] ezYakaEagle442 opened #57959 "Azure Policy / Gatekeeper v3 EnforceOPAConstraint is deprecated"
[https://docs.microsoft.com/en-us/azure/governance/policy/samples/built-in-policies#kubernetes](https://docs.microsoft.com/en-us/azure/governance/policy/samples/built-in-policies#kubernetes) refers to
EnforceOPAConstraint wheras [https://docs.microsoft.com/en-us/azure/governance/policy/concepts/policy-for-kubernetes?toc=/azure/azure-arc/kubernetes/toc.json](https://docs.microsoft.com/en-us/azure/g

[2020-06-26 15:16] JamesTran-MSFT commented on #57902
@villyg
Thank you for the detailed feedback!

I have assigned this issue to the author of this doc to review/update as appropriate.

[2020-06-26 15:18] DCtheGeek commented on #57959
#assign:DCtheGeek

[2020-06-26 15:20] DCtheGeek commented on #57959
@ezYakaEagle442 Thanks for the feedback!  Those built-in policy definitions recently got updated.  Can you refresh the page and make sure you are seeing the latest version?  The most recent version shouldn't have any built-ins that use _EnforceOPAConstraint_ anymore.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-06-26 15:25] SaurabhSharma-MSFT commented on #57702
@martintoreilly We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-26 15:25] #57702 closed

[2020-06-26 15:32] SatishBoddu-MSFT commented on #57897
@rgamage Yes, I see the same wording ('_self-signed_') for both Self-Signed and  CA Signed sections.

**Ask 1:**  Verify wording

When you authenticate an IoT device with **_self-signed_** certificates, you need to create device certificates based on the root CA certificate for your solution. Then, you retrieve a hexadecimal "fingerprint" from the certificates to provide to IoT Hub. Your IoT devic

[2020-06-26 15:47] LucaOtto opened #57960 "Run Database migrations: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#run-database-migrations"
While in the SSH session, when I do source /antenv/bin/activate it returns: " -bash: /antenv/bin/activate: No such file or directory"

I also noticed in the manage.py file ( following these instructions https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#prepare-app-for-app-service) that there is a problem with line 10:
    try:
        from djang

[2020-06-26 15:51] ezYakaEagle442 opened #57961 "Azure Policy Add-on for Azure Arc enabled Kubernetes FAILS"
I have followed the doc to enable Azure Policy Add-on for Azure Arc enabled Kubernetes, but CLI fails with the error below :
I noticed double quotes aaround the scope :

Changing "azarc-gke" to a valid URI of "http://azarc-gke", which is the required format used for service principal names
Found an existing application instance of "e6139bd3-a625-4596-9605-83f1e9741e12". We will patch it
Creating a

[2020-06-26 15:54] DCtheGeek commented on #57961
#assign:DCtheGeek

[2020-06-26 15:55] BharathNimmala-MSFT commented on #57917
@RonnieQuan Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-26 15:57] DCtheGeek commented on #57961
@ezYakaEagle442 Thanks for the feedback.  I've asked an engineer to look.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-06-26 15:58] shashishailaj commented on #57943
@mol Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 16:00] RamyasreeChakka commented on #57961
@ezYakaEagle442 Thanks for reporting the issue, I will verify and get back to you.

[2020-06-26 16:00] shashishailaj commented on #57944
@DiakosN Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 16:01] nageswar255 commented on #57839
I am using Helm3.x

[2020-06-26 16:01] Jared-Harrington-Gibbs opened #57962 "Roaming user licenses."
Tenant A has Azure P2 licenses
Tenant B has Azure P1 licenses

Does a user from tenant A still get to use their P2 license features if invited as a guest to Tentant B which only has P1 license?

This is the same question asked in https://github.com/MicrosoftDocs/azure-docs/issues/25261 and that was mistakenly closed in the unrelated cmdlet support issue https://github.com/MicrosoftDocs/azure-docs/

[2020-06-26 16:01] shashishailaj commented on #57944
@jeevansd @chetansriv could you please have this reviewed and updated as needed. ?

[2020-06-26 16:03] shashishailaj commented on #57933
@himanshusinha-msft Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 16:03] jkatebin opened #57963 "Typo in MerateImagees"
In the **Moderate images** section you copy & pasted the function call to `ModerateText`.  I believe you meant to put in the call to the images function instead.

Replace  `ModerateText(clientText, TextFile, TextOutputFile);`  with `ModerateImages(clientText, ImageUrlFile, ImageOutputFile);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-06-26 16:04] BharathNimmala-MSFT commented on #57929
@jain6968  Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 16:05] isamllr commented on #23030
Hi, is there an update to this?

[2020-06-26 16:09] BharathNimmala-MSFT commented on #57950
@v-mohaly Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 16:12] shashishailaj commented on #57947
@saltniklas Thank you for reaching out to us. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly. Also your query looks more like a product issue which may require troubleshooting.  . I would suggest to engage

[2020-06-26 16:14] marc-bouvier opened #57964 "Connection pooling when using Java in Azure function"
Hi,

Is there a recommended way to use SQL connection pooling with jdbc / jpa in java azure functions?

Cheers.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content: [Manage connections in Azure Functions](https://doc

[2020-06-26 16:15] GiftA-MSFT commented on #57860
@aashishb can you help clarify the following?
![image](https://user-images.githubusercontent.com/51332022/85877479-3979ec80-b7a5-11ea-8bf2-a4555744d848.png)

[2020-06-26 16:18] asinn826 commented on #57816
@dcbrown16 thanks for calling it out. I'll make the change to remove RHEL 6.x from the list again.

[2020-06-26 16:19] Yamin-lawar opened #57965 "Patch request is not firing when we remove user from group"
We are following document to manage group provisioning

https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#update-group-add-members

We have followed the exact request and response format which mentioned in document but when we are removing user from group there is a no patch request is fired from azure AD to our app, we have confirm the

[2020-06-26 16:29] aashishb commented on #57860
This means if ACR is behind the VNet then ACI cannot pull images from the ACR so ACR cannot be behind the VNet in order for ACI to work.

[2020-06-26 16:35] kristapratico opened #57966 "pip install command incorrect for python form recognizer package"
Should be `pip install azure-ai-formrecognizer`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3de1b4-a118-efae-0e72-7953c8e891b3
* Version Independent ID: 5ad38c9e-c775-8dbc-16ff-705a40b580e1
* Content: [Quickstart: Form Recognizer client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cog

[2020-06-26 16:35] BharathNimmala-MSFT commented on #57948
@NehaOberoi92 Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 16:38] NehaOberoi92 commented on #57948
https://docs.microsoft.com/en-us/azure/api-management/api-management-kubernetes

Point -
Option 2: Install an Ingress Controller

On Fri, 26 Jun 2020, 10:05 pm BharathNimmala-MSFT, <notifications@github.com>
wrote:

[2020-06-26 16:40] JamesTran-MSFT opened #57967 "Disable Purge Protection"
Create a note or sentence that "disabling" purge protection isn't supported. Provide feedback link, if possible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 761d042e-6cbd-7ee3-83bc-3633f7bcaf19
* Version Independent ID: baffab17-d2b0-2cf7-50c1-dc7641b954d1
* Content: [Azure Key Vault - How to use soft-delete with Pow

[2020-06-26 16:40] #57858 closed

[2020-06-26 16:41] dlepow commented on #57189
@macolso - Do you have updated info on whether ACI GPU resources support CUDA >9.0? Thank you

[2020-06-26 16:41] cgillum commented on #57955
@iMicknl thanks for opening this issue. You are right that we're missing the Python-specific documentation here. We unfortunately didn't get around to updating all the docs yet with Python samples.

@davidmrdavid would you be willing to take a crack at this?

FYI @anthonychu

[2020-06-26 16:44] BharathNimmala-MSFT commented on #57948
@NehaOberoi92 Thank you for sharing the document link. Our team will further look into it and get back to you at the earliest.

[2020-06-26 16:49] irsubasi opened #57968 "Gateway IPs of the **Switzerland North** region are missing"
The "Gateway IP addresses" section should include the gateway IPs of the **Switzerland North** region. The gateway IPs are as follows;

**51.107.56.0
51.107.57.0**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content

[2020-06-26 16:50] davidmrdavid commented on #57955
Hi @iMicknl,

I'm actively working to update the docs and samples, so you'll see those grow in scope in the coming days. I also saw you raising the need for a `callHttp` example here: https://github.com/Azure/azure-functions-durable-python/issues/134. So it's in the works!

I'll try to get something out today, at least in the samples directory. If I don't get to it today, it should be out early ne

[2020-06-26 16:55] #57967 closed

[2020-06-26 16:57] BharathNimmala-MSFT commented on #57932
@justinyoo Thank you for your query. We will look into it and get back to you at the earliest.

[2020-06-26 16:57] mmacy commented on #57518
No. The Azure AD directory in your B2C tenant backs the Azure AD resources for your B2C tenant (users, app registrations, etc.), but a 'standard' Azure AD tenant and a B2C tenant currently exist as different entities with differing capabilities.

If you have your B2C tenant selected and you select _Active Directory_, you're still effectively in your "B2C tenant" and you'll see differences in the a

[2020-06-26 16:59] JamesTran-MSFT commented on #57958
@vivere-dally
Thanks for your feedback and detailed explanation! I have assigned this issue to the author of this doc who will investigate and update as appropriate.

[2020-06-26 17:01] JamesTran-MSFT commented on #57956
@harp365
Thanks for your feedback! I have assigned this issue to the author of this doc who will investigate and update as appropriate.

[2020-06-26 17:04] craigshoemaker commented on #53467
@fabiocav, @brettsam - I am supposing that the `HttpClient` should be **non-static instance** in this context. Can you please verify?

[2020-06-26 17:11] Karishma-Tiwari-MSFT commented on #56948
Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-26 17:11] #56948 closed

[2020-06-26 17:13] iMicknl commented on #57955
Thanks for the quick responses @cgillum / @davidmrdavid! And congrats with shipping Durable Functions for Python in preview.

My scenario was focused on consuming the Form Recognizer API, which delivers a 202 response. They offer an Python SDK, however that will keep polling during an Activity function execution which I don't really like. I would like to see if I can call the endpoint in my orches

[2020-06-26 17:13] jeevansd commented on #57944
@v-nagta can you please review this and accommodate the change here?

[2020-06-26 17:16] shashishailaj commented on #57563
@memildin Could you please review this thread and see if the article needs to be changed ?

[2020-06-26 17:17] davidmrdavid commented on #57955
@iMicknl

Thanks for clarifying. I have personally not used the `callHttp` functionality too much in Python Durable, thus the lack of samples, so I'll need to test that it is working as expected, especially considering that you seem to have had issues getting it to work correctly.

Just so I can try to base the sample on your scenario, are you trying to build an orchestrator that polls the Form Re

[2020-06-26 17:17] SadiqhAhmed-MSFT commented on #57945
@dsindona For help!

[2020-06-26 17:20] anthonychu commented on #57955
Let’s sync up next week. Been trying to find help with this. Joseph from DevDiv is willing to help as well (was talking to him about the tutorials).

[2020-06-26 17:22] gtondato opened #57969 "OSI layers misconception"
Under the section:
**Layer 7 application routing with Azure Front Door Service**
It says:
"Traffic Manager uses DNS **(layer 3)** to shape traffic. Azure Front Door Service provides an HTTP/HTTPS (layer 7) routing option."

I think it is a mistake, DNS is part of the **7th layer** in OSI model. If it is not a mistake, an explanation of why this particular DNS belongs to layer 3 would come handy to

[2020-06-26 17:24] ztbrown commented on #41227
This worked for me. Not sure why I need to explicitly state the dependency, but it solved my error.

[code]

[2020-06-26 17:26] iMicknl commented on #57955
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=csharp#http-202-handling

My scenario is related to the described 202 handling part. I can easily work around this by doing a request to the service myself in an activity function, passing the URL from the location header to a new activity that runs in a while loop.

1. Blob trigger triggers orchest

[2020-06-26 17:29] bunkrur commented on #57920
Is there an ETA on this features release?

[2020-06-26 17:34] alexbuckgit commented on #56981
The repo owner asked me to split my original issue because there were two different underlying causes.
The relevant issue is still open:
https://github.com/igorshubovych/markdownlint-cli/issues/100

[2020-06-26 17:37] ezYakaEagle442 commented on #57961
worse, it then breaks the HELM azure-policy-addon as show the error in the logs :

[code]

[2020-06-26 17:38] JimacoMS3 commented on #45264
@perkops Thanks for your feedback! I'm checking with engineering to validate the current limits for module twins.

-Jimaco

[2020-06-26 17:38] #7799 closed

[2020-06-26 17:42] MarileeTurscak-MSFT commented on #57962
@Jared-Harrington-Gibbs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-26 17:43] alexbuckgit commented on #56981
Due for resolution in the next release.

[2020-06-26 17:43] #57773 closed

[2020-06-26 17:44] Mike-Ubezzi-MSFT commented on #57531
@saikumaru I am going to have the content team review this document and make updates as necessary, to ensure any MongoDB API version information and related configuration is present in the document, that might not be supported by the ADF connector.

[2020-06-26 17:49] tastyeggs commented on #7799
@tfosmark (or anyone else in the service fabric team), this is again being closed without the documentation being updated? Or did I miss something?

[2020-06-26 17:55] burma-shave opened #57971 "Does Managed Identity for App services work with VNET integration?"
The doc mentions VNet integration doesn't support 'things like' Azure Active directory. I'm guessing that means we can't use azure ad to authorise access to resources on the VNet using a managed identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1

[2020-06-26 17:59] divyavanmahajan opened #57972 "Function did not appear."
Steps did not work. After committing to Github, the function did not appear.
Diving into the GitHub actions, saw an error
"Enumerating repo to find any files with extension 'csproj'...
Error: Could not detect the language from repo."

However, the Github action did not indicate any error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-26 18:01] AmitavaHazra opened #57973 "Redirect URI issue for embedding dashboard with web application"
Reference:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-manage-job

Section: Embedding Power BI dashboard with web application.
I have created Power BI application and added redirect uri as "http://localhost:13526" which is also mentioned in GitHub code with in cloud.config
  <setting name="RedirectUrl" serializeAs="String">
    <value>http://localhost:13526/</value>

[2020-06-26 18:03] mike-urnun-msft commented on #57964
@marc-bouvier Thank you for your feedback! We will review and update as appropriate.

[2020-06-26 18:04] AmitavaHazra commented on #57690
@MarileeTurscak-MSFT and @shashishailaj,

Please update me on the above.

[2020-06-26 18:06] SnehaGunda commented on #57893
The above PR fixes the example, we will now close this issue.

#please-close

[2020-06-26 18:06] #57893 closed

[2020-06-26 18:07] ezYakaEagle442 commented on #57961
Here is the solution:

# -o tsv is MANDATORY to remove quotes
azure_arc_gke_id=$(az connectedk8s show --name $azure_arc_gke -g $gke_rg_name -o tsv --query id)

az_policy_sp_password=$(az ad sp create-for-rbac --name $appName-gke --role "Policy Insights Data Writer (Preview)" --scopes $azure_arc_gke_id --query password --output tsv)

Could you please update the doc accordingly ?

[2020-06-26 18:11] bowulf72 opened #57974 "Update-AzTag does not appear to be valid"
Updated my Az.Resources to 1.40, the cmdlet still does not appear to be valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc31656
* Version Independent ID: 0310805b-ff71-85bf-3f74-ca4caa6a46ce
* Content: [Tag resources, resource groups, and subscriptions for logical organization - Azure

[2020-06-26 18:14] TravisCragg-MSFT commented on #57867
@scott1138 When using [Source IP Affinity Mode](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-distribution-mode#source-ip-affinity-mode), requests from the same IP will always reach the same backend VM(assuming there are no changes to the backend pool), even with multiple days between the requests.

There is no such setting on Azure Load Balancer which retains the source hash

[2020-06-26 18:22] DCtheGeek commented on #57961
@ezYakaEagle442 Glad that you and @RamyasreeChakka found the solution with your custom script! Since the documented directions don't use _show_ as you did in your custom script, I don't believe there's a need to update the docs (this problem existed with your script as a result of that change from docs). There are many other situations that quotes could be an issue (running in different shells, et

[2020-06-26 18:22] #57961 closed

[2020-06-26 18:35] scott1138 commented on #57867
@TravisCragg-MSFT thanks for following up.  I had assumed it used a table of some sort to track the connections, like NAT.  After re-reading the documentation I see that it does say that the the client request distribution is only recalculated when there is a change.  It might be useful to add something to the documentation that more clearly indicated that there is no TTL for persistence for peopl

[2020-06-26 18:35] #57867 closed

[2020-06-26 18:37] shashishailaj commented on #57327
@knightpfhor This has been fixed . and The change will reflect in the next 24-48 hours on live doc pages.

Thank you.

[2020-06-26 18:38] #57327 closed

[2020-06-26 18:46] GiftA-MSFT commented on #57860
@aashishb thanks for clarifying and updating the doc accordingly.
@dgcaron hope the above response clarifies your question. Will now proceed to close the thread.

[2020-06-26 18:46] itsjusth opened #57976 "Enable new App Insights via ARM template"
Please provide instructions on how to enable this new App Insights debugger in an ARM template.  I am currently enabling the deprecated extension that way.  I need to convert all of my projects over.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c920077-c0c2-ddef-ee04-d74ccc87b590
* Version Independent ID: 677ee52f-1

[2020-06-26 18:50] dlepow commented on #57404
@porrascarlos802018 - The "concurrent operations" here are shown in the table as "ReadOps per minute" and "WriteOps per minute" - referring to storage operations. Does this help?

[2020-06-26 18:55] SaurabhSharma-MSFT commented on #57451
@Imbusyworking I have received update from PG team that the new my apps experience is only supported on the browser and not on the app and they will be updating the documentation on this.

[2020-06-26 18:57] Imbusyworking commented on #57451
@SaurabhSharma-MSFT  Thank you very much for looking into this!

[2020-06-26 18:59] profiseegroup opened #57977 "Microsoft.Resources/deploymentScripts apiversion 2019-10-01-preview does not support azure cli newer than 2.0.80"
Microsoft.Resources/deploymentScripts apiversion 2019-10-01-preview does not support azure cli newer than 2.0.80.  I need to use the az acr helm install-cli command which was added to the azure cli in version 2.2.0, bu the deplymnet script in ARM template cant use the azure cli newer than 2.0.80.  Is there an updated apiversion of the Microsoft.Resources/deploymentScripts that does support a newer

[2020-06-26 19:05] craigshoemaker commented on #54959
@patrickjlee - This page is now updated to be in sync with Functions 3.x. Thanks for the heads up!

#please-close

[2020-06-26 19:06] #54959 closed

[2020-06-26 19:06] craigshoemaker commented on #53999
@aj770077 - this article is now updated to add the clarification you suggested. Thanks for your input!

#please-close

[2020-06-26 19:06] #53999 closed

[2020-06-26 19:07] craigshoemaker commented on #53579
Thanks, @AndyButland for the feedback! The article is now updated to use the appropriate signature.

#please-close

[2020-06-26 19:07] #53579 closed

[2020-06-26 19:15] julieMSFT commented on #53989
@jianyeliu Hello and thank you for contacting Microsoft. I am sorry for the delayed response. I am looking into this for you.

[2020-06-26 19:15] shashishailaj commented on #57550
@pacodelacruz We have initiated a pull request and this will be updated within the next 24-48 hours after approval of content authors. Thank you for catching this in the document. Much appreciated. We will now close this issue. Should you still have any query please do tag me to your reply and I will be happy to help .

[2020-06-26 19:15] #57550 closed

[2020-06-26 19:19] shashishailaj commented on #57557
@rwike77 Could you please review the same and update as needed?

[2020-06-26 19:21] shashishailaj commented on #57558
@rwike77 Could you please look into this?

[2020-06-26 19:21] bandersmsft commented on #57332
@JelmerBarhorst Sorry for the long reponse time. Unfortunately, you can't automatically transfer a reservation from a PAYG subscription to CSP. Instead, you have to cancel and refund the PAYG reservation and then purchase a new reservation under the CSP subscription. Check out https://docs.microsoft.com/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations#pay-as-you-go

[2020-06-26 19:21] #57332 closed

[2020-06-26 19:25] shashishailaj commented on #57743
@msmbaldwin. Could you please review this document . It seems [DefaultAzureCredntial environment](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#set-environmental-variables) variable does not work properly.

[2020-06-26 19:41] burma-shave opened #57978 "Confusion about how appropriate it is to use VNets in securing PaaS services."
Found this doc a very interesting read!

I was a bit confused about the fact that App Service Environment deployed on a VNet was brought up here as a best practice in an article focussed on PaaS and the identity perimeter. Seems like this is drifting back into an IaaS service model and network perimeter in a big way. I read that integration with Azure AD isn't possible when using an App Service on

[2020-06-26 19:44] YutongTie-MSFT commented on #57966
@kristapratico
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-26 19:45] shashishailaj commented on #57793
@AnimeshBarua Yes , you are correct . The ManagerReference would provide you the workday users manager in the workday system but the user must be synced to active directory already for it to map correctly . Are you getting any different output ? Also as it is mentioned in the articles, before turning on the provisioning job, please update the XPATH API expressions under Attribute Mapping -> Advanc

[2020-06-26 19:45] YutongTie-MSFT commented on #57963
@jkatebin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-26 19:46] shashishailaj commented on #57940
@abshamsft Could you please help review this document as suggested by the customer ?

[2020-06-26 19:49] thomps0 opened #57980 "Broken Link"
There is a broken link on this page: "How to set up a multifunction device or application to send email using Office 365 and Microsoft 365" -> https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3

This link returns a 404 Page not found
---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-26 19:56] SnehaGunda commented on #57548
@jffaust thanks for pointing out, I submitted an update to the doc to clarify the allowed characters and link between the docs. Changes will be live later today.

We will close this issue now.

#please-close

[2020-06-26 19:56] #57548 closed

[2020-06-26 20:00] MarileeTurscak-MSFT commented on #50692
This might be have to do with differing interpretations of the title of the role.

If you check https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#app-configuration-data-owner, there is no Action defined in this role and only Data Action is there. To manage it in Azure Portal, there should be permissions under the Action section.

Maybe creating a custom RBAC role and

[2020-06-26 20:00] #50692 closed

[2020-06-26 20:03] shashishailaj commented on #57690
@AmitavaHazra Apologies for the delay on this. We checked this internally and found that yes, Auth app on iOS works in China. Android doesn’t because google play store Services (including push notifications) are blocked there. Hope this answers your query.

Thank you.

[2020-06-26 20:09] MarileeTurscak-MSFT commented on #57170
@KausalyaArumugam , can you confirm whether you are seeing this error message at the Docusign page or Microsoft page? To me it looks like it is coming from the docusign application, in which case this will require reaching out to Docusign about this constraint.

[2020-06-26 20:12] JnHs commented on #57755
Hi @nathankitchen - thanks for your feedback/question. We're confirming the possible deployment options using Admin Agent and hope to have a full response soon. For PowerShell deployment, I believe you should be able to set context to the subscription using Select-AzSubscription <subscriptionId> - are you saying this isn't working when you try using the Admin Agent account?

[2020-06-26 20:12] shashishailaj commented on #57667
@miaojiang Could you please help review and update this document ?

Related #57666 .

[2020-06-26 20:13] shashishailaj commented on #57666
@miaojiang Could you please help review and update this document ?

Related #57667 .

[2020-06-26 20:13] JnHs commented on #57755
#in-progress

[2020-06-26 20:15] #57690 closed

[2020-06-26 20:17] shashishailaj commented on #57947
@saltniklas AS this issue does not pertain to any improvement in any specific azure documentation , I would request you to open a thread on Microsoft QnA and the team will help you further on the same.

Thank you.

[2020-06-26 20:29] shashishailaj commented on #57943
@mol I trieed to find the same but could not . I tried checking the tooltip for around 20 applications in my test directory but I see 215x215 . It might be possible it was temporary change which was caught and rectified by the backend.

![image](https://user-images.githubusercontent.com/532022/85897790-aed2d500-b818-11ea-9055-3acd474130a5.png)
![image](https://user-images.githubusercontent.com/532

[2020-06-26 20:29] shashishailaj commented on #57497
@BakkerJan We are trying to get information on this and will update once we have it .

Thank you.

[2020-06-26 20:37] SnehaGunda commented on #57707
Some examples from the test code here: https://github.com/Azure/azure-cosmosdb-java/blob/81a56e9506827e647253b1b6ae39f95a7aee37a3/sdk/src/test/java/com/microsoft/azure/cosmosdb/rx/internal/ConsistencyTests1.java

For Async SDK, you can use set the connection mode as:

ConnectionPolicy connectionPolicy = new ConnectionPolicy();
connectionPolicy.setConnectionMode(ConnectionMode.Gateway);

[2020-06-26 20:42] anfeldma-ms commented on #57707
Hi @SnehaGunda , it is a little different now, I will put something in today.

[2020-06-26 20:42] anfeldma-ms commented on #57707
Thanks for jumping in.

[2020-06-26 20:44] qianw211 commented on #57945
#please-close  We're rewriting the SaaS docs and the publishing guide this summer, please check back for updates to the Marketplace docs.  Thanks for your feedback!

[2020-06-26 20:44] #57945 closed

[2020-06-26 20:47] mol commented on #57943
Thanks for looking into this. I think I have figured some of it out.

This is the tooltip when viewing my app under 'App registrations'. As you can see it has the tooltip that says the size should be small and transparent. The size of the logo here is actually 215x215 and Azure did not complain:
![AppRegistrationBranding](https://user-images.githubusercontent.com/317217/85899324-2e06df80-b7fe-11ea

[2020-06-26 20:48] mol commented on #57943
Link to that doc is: https://docs.microsoft.com/en-us/azure/active-directory/develop/registration-config-specific-application-property-how-to

[2020-06-26 20:52] shashishailaj commented on #57719
@jayhallsworth I agree , we may not have the VM in the same RG as the VNET . But that is why the tutorial specifies to use the same RG throughout . In general Resource owners like to keep all related VMs within same resource and create different Vnets/subnets for sets of related resources they want in same network /LAN

[2020-06-26 20:52] #57925 closed

[2020-06-26 20:55] shashishailaj commented on #57943
@mol thank you for the aditional information , I will have this checked internally and will update you by early next week.

[2020-06-26 20:57] MartinJaffer-MSFT commented on #57616
Until the document is updated, here are the rules collected from UI messages.

Data flow name: only letters, numbers and '_' are allowed.

Activity name: 55 characters, only letters, numbers, '-' and '_' are allowed.  Spaces are also only permitted in the middle

Trigger name: name can be up to 140 characters and only letters, numbers, '-' and '_' are allowed. Spaces are also only permitted in the

[2020-06-26 20:57] qianw211 commented on #57475
@santhoshbomma9 Hi, It's correct that once the offer is published that the plan pricing is locked and cannot be changed.

#please-close

[2020-06-26 20:57] #57475 closed

[2020-06-26 21:00] divurgentuser commented on #36581
Nice! After adding the 'FHIR Data Contributor' role now I only get 401 error instead of 403 haha

[2020-06-26 21:01] Mike-Ubezzi-MSFT commented on #57968
@irsubasi Thank you for making us aware of this issue. The Azure SQL Database service is available in two regions in Switzerland (North & West), and will look to track down the West region Azure SQL Gateway IP values as well, and have the document updated as appropriate.

[2020-06-26 21:01] julieMSFT commented on #53989
@jianyeliu Hello, on further research, the article has been updated to include  a section on [Create an Apache Spark job definition for PySpark (Phython)](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-job-definitions#create-an-apache-spark-job-definition-for-pyspark-python) and a link to [Sample files for creating Apache Spark job definitions]( https://github.com/Azur

[2020-06-26 21:02] julieMSFT commented on #53989
#please-close

[2020-06-26 21:02] #53989 closed

[2020-06-26 21:04] qianw211 commented on #56825
@jhielscher-arista Thank you for the feedback!  @BrianLevenson is currently on vacation, and he will look at this issue when he gets back.

[2020-06-26 21:07] dlepow commented on #57935
@rfcdejong - Thanks for the question. Currently, you can only deploy a single Windows container instance, or a container group consisting of a single Windows instance. This limitation is noted in the introduction to [container groups](https://docs.microsoft.com/azure/container-instances/container-instances-container-groups), linked from this article's introduction. So at the moment, the sidecar pa

[2020-06-26 21:07] shashishailaj commented on #57518
@reinux . This is as by design currently and as marsh said above the efforts are on to bring both AAD and AAD b2c version experience on portal to parity . the quickstarts are samples on github and can also be accessed directly as per your need. the [Azure AD developer Page](https://docs.microsoft.com/en-us/azure/active-directory/develop/) lists all the links which can be used.

[2020-06-26 21:09] shashishailaj commented on #57518
@reinux . Please let us know if the update provided helps. This is as by design currently and as marsh said above the efforts are on to bring both AAD and AAD b2c version experience on portal to parity . the quickstarts are samples on github and can also be accessed directly as per your need. the [Azure AD developer Page](https://docs.microsoft.com/en-us/azure/active-directory/develop/) lists all

[2020-06-26 21:10] qianw211 commented on #46527
@cpercy737 Hi Cameron, could you please take a look at this issue?  Thanks!

#reassign:cpercy737

[2020-06-26 21:10] PRMerger8 commented on #46527
Only Microsoft employees can manage issues via commenting in this repo.

[2020-06-26 21:14] cpercy737 commented on #46527
The data for that report comes from One Commercial Partner (OCP).  I would suggest reaching out to ocpsup@microsoft.com for assistance.  If your concern is that Customer Usage Attribution is not working correctly, you can log a support ticket with Marketplace Publisher Support (http://aka.ms/marketplacepublishersupport).

[2020-06-26 21:15] Alex-Derbyshire opened #57981 "Unsupported Operating System"
Is there any reason why support for CentOS7 x64 is still not showing as supported on the Azure Deployment Planner v2.52 tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a98929-f5d3-58bc-2f9f-e84e3a3c99f8
* Version Independent ID: 80288e7f-ca07-a61e-41dc-69392ab8e4cc
* Content: [Azure Site Recovery Deployment Plan

[2020-06-26 21:21] shashishailaj commented on #57840
@jaydarius Custom domains feature is not available within F1 free license . you can check the pricing page [here](https://azure.microsoft.com/en-in/pricing/details/app-service/windows/) which does list the free plan does not have custom domain support . this is the reason you are getting 404 . You can upgrade to the next paid plan in the list which has support for around a little more than $10 app

[2020-06-26 21:21] #57840 closed

[2020-06-26 21:22] BharathNimmala-MSFT commented on #57974
@bowulf72 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-06-26 21:24] BharathNimmala-MSFT commented on #57977
@profiseegroup Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-26 21:24] julieMSFT commented on #54694
@atrauzzi HI Alexander, sorry for the delayed response. Please see these resources:
[Azure Synapse Analytics: How it Works](https://vshow.on24.com/vshow/ASAVE20/?regPageId=16890#exhibits/Home)
[Azure Synapse analytics](https://azure.microsoft.com/en-us/services/synapse-analytics/)
[Explore Build on demand sessions](https://mybuild.microsoft.com/sessions?t=%257B%2522from%2522%253A%25222020-05-19T00

[2020-06-26 21:29] BharathNimmala-MSFT commented on #57946
@TheArchitect1030 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-26 21:31] BharathNimmala-MSFT commented on #57981
@Alex-Derbyshire Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 21:35] iainfoulds commented on #57530
Thanks for the feedback, @FoonlyToons

Do you have any specifics as to what's complicated? There are number of different entry points based on which products and licensing you're using, which makes it hard to just provide a very clean, clear direction to use. Security defaults are enabled for all new tenants in terms of securing users though, and is available in all Azure AD tenants, regardless of

[2020-06-26 21:38] julieMSFT commented on #54864
@rgosling, Hello, I have researched your comment and you are correct. I have update the document to link to an article with further information on [User-defined restore points](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-restore-points).  We will address this further to add more information about business continuity for Azure Synapse Analytics. Yo

[2020-06-26 21:38] julieMSFT commented on #54864
#please-close

[2020-06-26 21:38] #54864 closed

[2020-06-26 21:38] iainfoulds commented on #57887
Thanks for the feedback, @robmacf

The intent of this article is to show how to enable passwordless sign-in. One of the linked docs from the article covers conceptual information around passwordless - https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless. There's more that could probably be included in that conceptual doc, but is that more what

[2020-06-26 21:41] MarileeTurscak-MSFT commented on #57980
@thomps0
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-26 21:44] MarileeTurscak-MSFT commented on #57980
Thanks! I just made a pull request to remove the broken reference. Looks like that page got removed.

[2020-06-26 21:44] #57980 closed

[2020-06-26 21:51] julieMSFT commented on #55168
@lukerosser Hi Luke and thank you for contacting Microsoft. I am looking into this issue.

[2020-06-26 22:05] Karishma-Tiwari-MSFT commented on #57954
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-26 22:07] Karishma-Tiwari-MSFT commented on #57969
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-26 22:10] MGoedtel commented on #57079
Engineering has added this to their sprint but no ETA as to when it will be updated.  In the meantime, I've updated the article to remove reference to this runbook/script and it will be added back in once a new version has been released.  Thanks.  #please-close

[2020-06-26 22:10] #57079 closed

[2020-06-26 22:22] bunkrur commented on #57920
@tfitzmac is there an ETA on this feature?

[2020-06-26 22:30] gitsathish opened #57982 "Error importing python classes"
In the python section, unable to import these -
from azure.cognitiveservices.vision.computervision.models import TextOperationStatusCodes
from azure.cognitiveservices.vision.computervision.models import TextRecognitionMode

Have installed, azure-cognitiveservices-vision-computervision-0.6.0
--- error message --
ImportError                               Traceback (most recent call last)
<ipython-in

[2020-06-26 22:30] jaysterp opened #57983 "Parameter typo in SAS token section"
When creating the key vault SAS definition, the docs instruct to pass your generated SAS token to the parameter `--template-id`. However, the command
[code]
uses the parameter `--template-uri`. Kindly update the two mentions of `--template-id` to `--template-uri`. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-26 22:36] himanshusinha-msft commented on #57605
@brunofeldman : I agree that this should not show on the sink side when it is not supported as sink . We have reached out to the concerned team and they will prioritize and fix the issue . Thanks for reporting this .

We are going ahead and closing this issue for now , ou can always re-open the issue if you think that appropriate .

[2020-06-26 22:36] #57605 closed

[2020-06-26 22:39] NavtejSaini-MSFT commented on #57668
@cg6  Please do get back to us with the ticket number and we can follow it or if required get traction on the issue

[2020-06-26 22:39] Mike-Ubezzi-MSFT commented on #57968
Document has been updated but yet to be published until after review by content owner. Although the Switzerland North is the only region the Azure Portal will allow you to deploy to, I see regional information for Switzerland West.

Switzerland West:
          "51.107.152.0",
          "51.107.153.0"

Switzerland North:
          "51.107.56.0",
          "51.107.57.0"

    {
      "name": "Sql.Swi

[2020-06-26 22:43] JamesTran-MSFT commented on #57983
@jaysterp
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-26 22:51] MarileeTurscak-MSFT commented on #57978
@burma-shave
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-26 22:52] JamesTran-MSFT commented on #57983
@jaysterp
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-26 22:52] #57983 closed

[2020-06-26 22:53] stevestein commented on #48620
@markdj - thanks for the feedback. Yes, per the error, elastic client library is not supported with Always Encrypted.

[2020-06-26 22:58] santhoshbomma9 commented on #57475
If the pricing is locked why is wording saying
Select Save after making any **necessary changes to** the plan name, description, **pricing**, or audience availability.
?

[2020-06-26 23:17] irsubasi commented on #57968
Thanks Mike..

[2020-06-26 23:21] MonikaReddy-MSFT commented on #57976
@itsjusth , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-26 23:24] plettb commented on #53855
I've encountered this, too.  What's weird in my case is that it seems to happen only with some sites.  I've tried adding three this week:  two worked one failed.

Something to add is that the one that fails _appears_ to work anyway, but I'm left with the uneasy feeling that I shouldn't move to production, since Facebook still shows it as "In development" rather than "Live".

[2020-06-26 23:33] roygara commented on #43779
@dcbrown16 Sorry for the delay here. If I understand you correctly: You're asking if the max size is 1 TiB or 2 TiB? If so, it's 2 TiB. However, this article doesn't state that the 1TiB is a max size, it's just using 1 TiB as an example value in its commands. You can resize to 2 TiB if you so choose.

Does that make sense? Let me know if you have any additional questions, otherwise I will close th

[2020-06-27 00:21] plettb opened #57984 "Organizational directories not working?"
I don't doubt this is something I'm doing wrong, but despite selecting "Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)", I can only use personal (i.e. not work nor school) accounts.  If I try to use a work account, I get "That Microsoft account doesn't exist. Enter a different account or get a new one."

I've walke

[2020-06-27 00:35] GD06 commented on #57734
@ram-msft  Thank you for taking care of my issue! I have collected some initial data I needed. Thus I am not hurried now to test models on Azure going through tutorial myself. I will wait until the reply to the questionnaire.

[2020-06-27 00:46] Karishma-Tiwari-MSFT commented on #57409
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-27 00:47] Karishma-Tiwari-MSFT commented on #57607
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-27 00:47] Karishma-Tiwari-MSFT commented on #57684
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-27 00:49] Karishma-Tiwari-MSFT commented on #57762
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-27 01:36] hrasheed-msft commented on #56830
Hello @CeciAc. By default, a catalog object is readable by everyone in the organization (Visibility "Everyone"). Once you specify "Owner and These Users", you have three options for what kind of permissions to give the particular user that you are adding. The "Read Only" option implies that a user will only be able to read the data, but not make changes. The "Read/Write" option allows the user to

[2020-06-27 01:36] hrasheed-msft commented on #56830
@CeciAc I hope that this clarification answers your question. I will close the issue for now, but please feel free to reply to the thread if you have additional questions. Thank you.

[2020-06-27 01:37] hrasheed-msft commented on #56830
#please-close

[2020-06-27 01:37] #56830 closed

[2020-06-27 02:05] Mike-Ubezzi-MSFT commented on #57968
@irsubasi A pull request has been submitted and merged with the public facing version of this document. It will take up to 24hrs for this change to be available. This issue will now be closed but the dialog can still continue should there be additional questions or comments.

[2020-06-27 02:05] #57968 closed

[2020-06-27 02:44] BharathNimmala-MSFT commented on #57957
@AdelaManea Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-27 02:48] BharathNimmala-MSFT commented on #57960
@LucaOtto Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-27 02:49] BharathNimmala-MSFT commented on #57972
@divyavanmahajan Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-27 02:50] BharathNimmala-MSFT commented on #57973
@AmitavaHazra Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-06-27 02:51] BharathNimmala-MSFT commented on #57982
@gitsathish Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-27 02:53] BharathNimmala-MSFT commented on #57984
@plettb Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-06-27 02:55] BharathNimmala-MSFT commented on #57971
@burma-shave Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-27 02:56] BharathNimmala-MSFT commented on #57965
@Yamin-lawar  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-27 03:07] BharathNimmala-MSFT commented on #57859
@xristos8574 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-27 03:07] #57859 closed

[2020-06-27 05:47] BharathNimmala-MSFT commented on #57868
@david-jarman Thanks again for bringing this to our notice. I have raised a PR to correct the document , once its reviewed and approved early next week changes will be merged to the main repo accordingly.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, however if you have any fur

[2020-06-27 05:47] #57868 closed

[2020-06-27 08:18] cg6 commented on #57668
@NavtejSaini-MSFT The support request is 120062423002968

You can see in the attachment the memory usage over the last 24 hours. It is only decreasing after significant activity which is why I enquired what the memory reclaim algorithm actually is. I did also test disabling the regular data loads and after a few hours of zero activity the memory use (and cost) was flat at 44%. Based on your descri

[2020-06-27 08:24] edmlbox opened #57986 "System.AggregateException: One or more errors occurred. ---> System.Exception: Publish has encountered an error. We were unable to determine the cause of the error"
[Enter feedback here]
6/27/2020 11:20:07 AM

Followed the tutorial and got an error.

System.AggregateException: One or more errors occurred. ---> System.Exception: Publish has encountered an error. We were unable to determine the cause of the error. Check the output log for more details.
   --- End of inner exception stack trace ---
---> (Inner Exception #0) System.Exception: Publish has encounte

[2020-06-27 09:08] shashishailaj commented on #57986
@edmlbox Thank you for your feedback . We will investigate this and update the thread.

[2020-06-27 09:11] shashishailaj commented on #57751
@KumudD @altambaw Could you please review this and see how best the documentation could be improved by incorporating the suggestions above.

[2020-06-27 09:15] shashishailaj commented on #57793
@AnimeshBarua Please provide an update if you have any issue obtaining the managerRefernce ? If it is something which is straightforward , we will help you here and in case it requires troubleshooting you can post the question on Microsoft QnA and we will have the team look into it . As workday provisioning is more of a enterprise feature , you can also engage Microsoft support as needed. Please l

[2020-06-27 09:41] goh-chunlin commented on #25484
Hi @BryanTrach-MSFT and @hansenms,

With the change of the FHIR Authentication page on the Azure portal, now we can no longer key in the allowed Object IDs in the box.
![image](https://user-images.githubusercontent.com/8535306/85919385-36622780-b89d-11ea-8b18-788728649201.png)

Hence, the same problem now comes back. Even though we have added the Client App to have FHIR Data Write role, it still c

[2020-06-27 09:44] martingbrown opened #57987 "How does the mime type of the the user-data.txt.i file file get set?"
When deploying from an ARM template I get the following warning in `/var/log/cloud-init-output.txt:`

`Unhandled non-multipart (text/x-not-multipart) userdata:`

Looking in `/var/lib/cloud/instance/user-data.txt.i` I see the following:

[code]

When I do the same deployment but use the portal, I'm seeing that the mime type is `text/cloud-config`

It would be great to have a more detailed descripti

[2020-06-27 09:47] goh-chunlin opened #57988 "Misleading Screenshot in AAD Documentation"
Greetings,

The step 1 under "API permissions" has a misleading screenshot. Even though the text says "add a permission to the Azure Healthcare APIs by searching for Azure Healthcare APIs under **APIs my organization uses**", the screenshot actually highlighted "My APIs" instead of "APIs my organization uses", as shown in the image attached below.

![image](https://user-images.githubusercontent.co

[2020-06-27 10:03] Killer47x opened #57989 "UPN Value for 2 Different Forests"
Hi,

what is the UPN used for Synced?
if Contoso.com is my Primary domain with Azure AD Connect running a sync,

but i Install the Azure AD Connect cloud provisioning on a server in Fabrikam.com to Sync to Azure,

will i be able to change the Fabrikam.com Users UPN even tough the Synced Accounts can't be changed
or are they created as an Azure Cloud Account?

---
#### Document Details

⚠ *Do not e

[2020-06-27 10:10] rony2800 opened #57990 "Cassandra apache"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9997900d-ef80-cc69-d8a5-17cf9543524a
* Version Independent ID: 4c3c5ec7-ce21-8ecc-ef3f-11c50336d2bf
* Content: [Azure Marketplace and AppSource preferred solutions - Microsoft commercial marketplace](https://docs.microsoft.com/en-us/azure/marketplace/

[2020-06-27 11:22] KrishnaG-MSFT commented on #57990
@rony2800 I cannot understand what the exact feedback is, so can you please provide more context / information regarding your feedback so that it can be taken care accordingly?

[2020-06-27 11:26] SadiqhAhmed-MSFT commented on #57753
@o-l-a-v Appreciate your patience here. The in-market Azure Migrate appliance for physical scenario is in public preview and we have added the multi-credential support and the increased scale of 1000 to the same appliance.

For brownfield customers, the updates will automatically flow into the existing appliance unless they have disabled auto-update on the appliance. Earlier adding only one creden

[2020-06-27 12:44] ramadarla commented on #37024
Describe powercli supports Moving existing VMs or AVSETs to a existing PPG or not.
**I know powershell do support moving existing VMs.

[2020-06-27 13:49] ashishapcps opened #57991 "How to selectively extract only key-value pairs and not the table structure from the custom model"
I only want to extract the key-value pairs and not the table structure that is being also extracted in my custom model. Is there a way to do that, it would be really helpful as my form is 4 pages long and has a tabular format but I only want the key-value extractions since it is taking too long to analyze the form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-27 14:39] shashishailaj commented on #57989
@Killer47x Thank you for your query. We will investigate and update the thread.

[2020-06-27 14:56] shashishailaj commented on #57988
@goh-chunlin Thank you for catching this. We will engage the content authors to update the screenshot.

[2020-06-27 14:57] shashishailaj commented on #57988
@hansenms Could you please review this and help update the screenshot.

[2020-06-27 14:59] shashishailaj commented on #57991
@YutongTie-MSFT Thank you for your feedback . We will investigate and update the thread.

[2020-06-27 15:05] shashishailaj commented on #57987
@martingbrown Thank you for your feedback . We will investigate and update the thread.

[2020-06-27 15:39] martingbrown commented on #57987
I've figured out what I did. It was the encoding of the bytes before I base 64 encoded the string.

I used this powershell:

[code]

When I changed that to this it worked:

[code]

I still don't really understand why that gave me the result it did though.

[2020-06-27 16:21] SB-o-matic commented on #53855
@MarileeTurscak-MSFT @YutongTie-MSFT

Can we get ANY kind of help?? How can this continue to be ignored?

[2020-06-27 16:58] SB-o-matic commented on #53855
Hey @plettb, please what do you mean when you say some sites? I am testing this out with a dev b2c tenant so that the value of my URL was https://devtenant.b2clogin.com. When you say other websites, do you bean other b2c tenants?

[2020-06-27 17:41] SocMinarch opened #57993 ""Quantity for training a model" is incorrect"
The "Quantity for training a model" entry for "Long audio + transcript (beta)" is incorrect. I have just tried to upload 236 utterances using the English (UK) language but I could not begin training as at least 2001 utterances are required even when using "Long audio + transcript (beta)".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-27 17:43] starforce commented on #56132
Just fyi... We put in the actual Thumbprint value for my cert and I could  then backup data. See below.

"name": "BackupRestoreService",
"parameters": [{
"name": "SecretEncryptionCertThumbprint",
"value": "**[F999999999999ff]"**
}]
}

[2020-06-27 18:23] sandippk opened #57994 "Short and crisp writeup"
Very well explained different storage options in Azure. Short article / to the point and very informative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550031e-4cf6-8d15-84e3-1c2b58951f80
* Version Independent ID: 1a927119-0540-dfd9-9435-5c29c014daff
* Content: [Introduction to Azure Storage - Cloud storage on Azure

[2020-06-27 18:33] shwetamathur7 opened #57995 "Change the tier of block blob that has snapshots"
As per documentation, 'You cannot currently change the tier of a block blob that has snapshots'.

I tried to change the access tier from hot to cool of block blob that has snapshot and i am successfully able to change the tier through portal.

It seems to be document is not updated as per latest changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-27 18:35] michaelbunney opened #57996 "Configuring Application Insights per Environment"
I want to use Application Insights for all my environments, including those in the cloud (Production, Staging, Test) and my local environment (Development).  This article doesn't make clear how to do that—nor does the U.I.  Some concepts aren't made clear.

I understand that I need to add Application Insights Telemetry to my web project so that it has the NuGet packages running inside the app to c

[2020-06-27 18:59] VitalyMCT opened #57997 "Error message enabling CMKs in ADF"
We are getting the following message: "CMK is not enabled for your subscription. Please remove encryption properties"

Can documentation elaborate on what this means? How to enable CMK for a subscription? And what's meant by "remove encryption properties"?

In case it matters, the subscription we are currently trying this with is an Azure Pass.

![image](https://user-images.githubusercontent.com/1

[2020-06-27 19:41] utsw-zhu opened #57998 "This page including broken link: https://azure.microsoft.com/pricing/details/app-service/ (not required authorization but now), tried username and password. Not working at all"
This page including broken link: https://azure.microsoft.com/pricing/details/app-service/ (not required authorization but now), tried username and password. Not working at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a9696e-10fd-a74e-4957-0d7ed9ef5a0f
* Version Independent ID: dad3cbd5-b2d0-9cc4-261f-97b95cf811

[2020-06-27 19:50] VitalyMCT opened #57999 "UI refresh needed"
This page is referencing old (2018 era) UI in a few places. Please refresh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-baaf-8bdf31e3bb57
* Content: [Run a Databricks Notebook with the activity - Azure Data Factory](https://docs.micros

[2020-06-27 21:13] BharathNimmala-MSFT commented on #57994
@sandippk We really appreciate you taking time to share your feedback , will pass on to our document authoring team.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any queries on the documentation please tag us in your reply and will be happy to reopen the thread and continue the conversatio

[2020-06-27 21:13] #57994 closed

[2020-06-27 21:26] BharathNimmala-MSFT commented on #57995
@shwetamathur7 Thank you for bringing this to our notice, our team will look into it and update the document accordingly.

[2020-06-27 21:29] BharathNimmala-MSFT commented on #57997
@VitalyMCT Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-06-27 21:33] BharathNimmala-MSFT commented on #57999
@VitalyMCT Thank you bringing this to our notice, our team will further look into it and update the document accordingly.

[2020-06-27 21:39] BharathNimmala-MSFT commented on #57993
@SocMinarch Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-28 00:09] ram-msft commented on #57734
@GD06 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-28 00:09] #57734 closed

[2020-06-28 00:20] ram-msft commented on #57814
Thanks for the feedback. I have raised PR for this. @xiaojul Could you please check on this.

[2020-06-28 00:27] ram-msft commented on #57813
Thanks for the feedback.I have assigned to the content author to update on this.
@xiaojul Could you please update the following document https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=windows%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio.

[2020-06-28 00:30] ram-msft commented on #57808
I have assigned to the content author to update the following [document](https://docs.microsoft.com/en-us/azure/machine-learning/overview-what-is-azure-ml).

@j-martens Could you please update the document for supported browsers.

[2020-06-28 00:34] ram-msft commented on #57807
I have assigned to content author to update the following [document](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-setup-speech-sdk). @xiaojul Could you please update the document.

[2020-06-28 01:07] MonikaReddy-MSFT commented on #57996
@michaelbunney -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-28 01:20] DavidBowdoin commented on #57766
Can the updated command name be posted here for searchers?  Thanks!

[2020-06-28 03:22] goh-chunlin opened #58000 "Deprecation of '--upn-or-object-id'"
According to the Azure CLI, the option '--upn-or-object-id' has been deprecated and will be removed in a future release. We now have to use '--id' instead. Please correct the outdated command as highlighted in the screenshot below.

Thank you!

![image](https://user-images.githubusercontent.com/8535306/85936900-74a92680-b931-11ea-9203-022e0afa8b47.png)

---
#### Document Details

⚠ *Do not edit th

[2020-06-28 04:07] genlin commented on #57778
@haidersabeeh Thanks for the feedback. I will remove it from the article.

[2020-06-28 04:09] genlin commented on #56447
@cadumi Thanks for the feedback, I will update the article based on your information.

[2020-06-28 04:15] BharathNimmala-MSFT commented on #58000
@goh-chunlin Thank you for bringing this to our notice, our team will look into it and update the document accordingly.

[2020-06-28 04:15] genlin commented on #55945
@ShugoYoko The steps described in this article are only for verifying domain in Azure planform. If you have a issue when verfying the domain, please contact [Azure support](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2020-06-28 04:16] genlin commented on #55945
#please-close

[2020-06-28 04:16] #55945 closed

[2020-06-28 04:20] BharathNimmala-MSFT commented on #57998
@utsw-zhu Thank you for reaching out to us. Sorry i am don't fully understand the issue you are facing, can you please elaborate on which part of the document you are seeing the issue.

[2020-06-28 04:22] genlin commented on #54748
@JustMrMak, Sorry for not reply timely.  If the reset password feature in Azure portal did not work, you can try to [reset local Windows password for Azure VM offline](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/reset-local-password-without-agent).  You can  contact Azure support to resolve the problem quickly.

I will process to close this issue. Feel free to reopen it

[2020-06-28 04:22] genlin commented on #54748
#please-close

[2020-06-28 04:22] #54748 closed

[2020-06-28 05:01] lakal-malimage opened #58001 "Feature request to forcefully stop Azure InvokeAzVMRunCommand"
Sometimes we have to run multiple scripts sequentially, but if one script hangs, we have to wait 90 minutes to timeout the job and start the next one.

Invoke-AzVMRunCommand : Run command extension execution is in progress. Please
 wait for completion before invoking a run command.
 ErrorCode: Conflict

I would like to request a feature to cancel jobs forcefully or set the job timeout during invok

[2020-06-28 05:53] searchavi84 opened #58002 "The term "data disk" is confusing"
HI Team,

I am working as SAP portfolio Architect in Unilever. I would like to suggest you that the term "data disk" is bit confusing because
1. As per MS definition it does include OS disks.
2. In SAP world data disk defines the disk associated specific to database data files.

Would suggest you to have a review and if possible use some more suitable term rather using "data disk" in Azure context

[2020-06-28 06:18] KrishnaG-MSFT commented on #58001
@lakal-malimage [This](https://feedback.azure.com/) UserVoice / feedback forum is the communication channel for new features and idea's related to Azure.

I see [this](https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38191030-allow-cancelling-a-running-command-started-via-ru) related feature request already raised and is triaged by responsible Azure product / feature team. So

[2020-06-28 06:18] #58001 closed

[2020-06-28 06:44] KrishnaG-MSFT commented on #57658
@vohuythao Now I could see the button to add Resource Health Alert in Azure Portal from different browsers. Can you check and confirm?

[2020-06-28 06:56] patware opened #58005 "func new didn't create function.json file"
In section "Create and test the local functions project", the step "Add a function" states that the "func new create a subfolder matching the function name that contains a code file appropriate to the project's chosen language and a configuration file named function.json".

I ran the command, it created the HttpExample.cs file, but:

- no sub-folder
- no function.json

[code]

The code works, but

[2020-06-28 07:23] shashishailaj commented on #58002
@searchavi84 Thank you for your feedback . We will have this reviewed by content authors and update the thread.

[2020-06-28 07:25] shashishailaj commented on #58005
@patware Thank you for your query. We will investigate and update the thread.

[2020-06-28 07:43] BharathNimmala-MSFT commented on #57974
@bowulf72  Below has been called out in the [documentation ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#apply-tags) as well. Can you please confirm the Az.Resources version you have installed on your machine , is 1.12.0 or later  ?

Azure PowerShell offers two commands for applying tags - New-AzTag and Update-AzTag. You must have the Az.Resources module

[2020-06-28 08:17] lkamazaezuzemedium commented on #12974
Leave a commen

[2020-06-28 08:34] shahram919 opened #58007 "aikido_master07@hotmail"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-28 08:55] Alex-Derbyshire commented on #57981
Hi, doc link is https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner-history#version-252

[2020-06-28 09:21] KrishnaG-MSFT commented on #57829
@langfdp Good observation! I was also able to reproduce it.

Additional information as per my observation:
As shown in below screenshots, currently there are many distinct Windows OStype Computers connected to [this](https://portal.loganalytics.io/demo) Demo workspace but Event table doesn't record any events so either there is a need to have active events in the connected Computers and make sure

[2020-06-28 10:29] cqueern opened #58008 "Minor typo"
The sentence that begins:

...should probably begin:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f664ec-a36b-c0e9-baa3-96822af31470
* Version Independent ID: e0a0ac46-5f35-ece5-d20d-bb8bc8a5ce4d
* Content: [FedRAMP High blueprint sample overview - Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance

[2020-06-28 10:30] harryharrytech opened #58009 "Error when enabled data-preload="true""
I am trying to remove the 'flicker' when a user goes to login via Azure B2C.

According to other posts, the solution should be to add data-preload="true" to the CSS files.
But when I do this, this returns two console errors. (tested in Edge and Chrome)

Console Error 1:
Access to CSS stylesheet at 'xxx' from origin 'https://xxx.b2clogin.com' has been blocked by CORS policy: No 'Access-Control-Allo

[2020-06-28 11:08] sassdawe opened #58010 "CLI commands mixed with PowerShell variables are incomplete"
The current lines designed to create a Bastion host using the AZ CLI are mixed with PowerShell variables, but these variables were not set in the example.

I suggest to remove the use of variables because that would give a more simple example. Setting those variables would just complicate the example, plus that would require PowerShell to be used, which might not be available where the CLI is in u

[2020-06-28 11:29] KrishnaG-MSFT commented on #58008
@cqueern Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-28 11:45] DavidLiCIG commented on #57449
@crisansou, if you are using CloudShell from Azure Portal, the SecureClientSecret class is not available. You can, however, pass in the secret as a string. So you can do: $clientCredential = New-Object "Microsoft.IdentityModel.Clients.ActiveDirectory.ClientCredential" -ArgumentList $app.ApplicationId,<YOUR_PASSWORD>

More info on ClientCredential can be found here:
https://docs.microsoft.com/en-us

[2020-06-28 11:47] KrishnaG-MSFT commented on #58007
@shahram919 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if your issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL along with

[2020-06-28 12:06] shashishailaj commented on #58010
@sassdawe Thank you for your feedback . We apologize for the delay on this. We have reached out to the author to have this reviewed and approved as needed. We will update the thread once we have an update .

[2020-06-28 12:07] shashishailaj commented on #58010
@mialdrid Could you please review the PR https://github.com/MicrosoftDocs/azure-docs/pull/54019 and update on this issue. ?

[2020-06-28 12:10] shashishailaj commented on #58009
@harryharrytech Thank you for your feedback . We will investigate and update the thread.

[2020-06-28 12:10] jakub-22 opened #58011 "Misleading title"
The title of the page is "with PowerShell" but half of the example is in C#. The Azure docs seem to show no single example of sending messages via powershell which I guess is only possible via a REST POST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c710caad-673d-1b1e-332d-5fbcae1312e6
* Version Independent ID: d7f02

[2020-06-28 12:30] patware commented on #58005
I just found that there's a function.json in the bin folder.  It gets generated, but not sure from what.

[2020-06-28 13:05] Aarti121766 commented on #57289
PowerShell doesn't work on the NPS server ..At the PowerShell prompt, type cd 'c:\Program Files\Microsoft\AzureMfa\Config', and press ENTER.

Type .\AzureMfaNpsExtnConfigSetup.ps1, and press ENTER. The script checks to see if the Azure Active Directory PowerShell module is installed. If not installed, the script installs the module for you.

[2020-06-28 13:56] gstat-gcloud opened #58012 "Cannot mount dataset to Compute cluster"
Im trying to train a ML experiment on a compute cluster using pytorch.
Created a File Dataset, which I am able to mount in the notebook,
Pass to an experiment via:

`
script_params = {
    '--num_epochs': 30,
    '--data_folder': dataset.as_named_input('panelts_v1').as_mount('/tmp/dataset'),
    '--workspace': workspace_name,
    '--output_dir': './outputs'
}

estimator = PyTorch(source_directory=

[2020-06-28 14:05] gstat-gcloud commented on #58012
Update, it appears it could be related to the compute type?
On a Compute instance I can mount to a CPU compute (STANDARD_DS3_V2) but not to a GPU (STANDARD_NC6)?

[2020-06-28 14:33] gstat-gcloud commented on #58012
It seems to have been a VPN issue.
Once I opened a GPU within my VPN it worked...

[2020-06-28 14:33] #58012 closed

[2020-06-28 14:54] jamserra opened #58013 "Doc error"
3 errors:

1) under "4 - Create a primary gateway" it mentions "Location	The location where your primary managed instance and primary virtual network are." but that does not exist on the "Create virual network gateway" screen

2) under "4 - Create a primary gateway" for "Virtual network	Select the virtual network that was created in section 2, such as vnet-sql-mi-primary." it should be "Select the

[2020-06-28 15:01] BakkerJan commented on #52210
Same question here. How to parse the data within the rows? Is that data always consistend, just as the schema is?
The value of the alerts is within the rows. That data is just one single string of information. I find this hard to parse with Logic Apps.

[2020-06-28 15:16] weiqing-beijing commented on #57535
Hi @asergaz, thanks for your follow up and sorry for late rely. My feedback on Azure IoT SDK in C was based on the belief that the IoT security would be a key differentiator for any IoT platform to be competitive going forward and Microsoft has invest into the IoT security as one of the strategic competitive edge. One of the popular scenario is a IoT Edge gateway with secured leaf device with cert

[2020-06-28 15:16] DCtheGeek commented on #57959
@ezYakaEagle442 Since the pages have been updated and the references are gone, I'm going to close this issue.  If you see it show back up in the doc, please let us know.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-06-28 15:16] #57959 closed

[2020-06-28 15:31] cat-mucius opened #58014 "Capturing decrypted IPsec traffic"
How can I capture inner packets? I only see the IKE & ESP traffic.

[2020-06-28 15:42] shashishailaj commented on #58013
@jamserra Thank you for catching this. We will engage the content authors and have this reviewed and updated as needed.

[2020-06-28 15:51] shashishailaj commented on #58014
@cat-mucius coudl you please provide the documentation that you are referring to . We use github for [Azure docs](https://github.com/MicrosoftDocs/azure-docs/issues) improvement . If you have a troubleshooting query , I would suggest you to open a thread on our new [QnA platform](https://docs.microsoft.com/answers) where the community can help you with your queries related to azure products.

I am

[2020-06-28 15:55] shashishailaj commented on #58011
@jakub-22 Thank you for your feedback . We will investigate and update the thread.

[2020-06-28 16:01] MustAl-Du commented on #57575
Hi @VikasPullagura-MSFT, running the sample as described in the page, will not work. When accessing/browsing to the EXTERNALIP (and EXETERNALIP/hello-world-two), a 503 error will show up (503 Service Temporarily Unavailable
nginx/1.17.10).

To get it working, all I needed to do is to add the " namespace: ingress-basic" to line 5 of hello-world-ingress.yaml file.

I have submitted this pull-request

[2020-06-28 16:12] KrishnaG-MSFT commented on #58012
@gstat-gcloud Glad to know that you have self resolved the issue. Thanks for the update. 👍

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so going forward if you want to share any feedback re

[2020-06-28 17:51] memildin commented on #57563
@Sebastian-Negoescu thanks for the feedback. I'll update the page shortly and change "provider" to "publisher".

Thanks for helping make this content better!

#please-close

[2020-06-28 17:52] #57563 closed

[2020-06-28 18:00] SwiftDavid commented on #57356
How many programs need your VAT number entering? I note you didn't look up
SwiftERM for Q2 otherwise you would have known it was the UK.

On Fri, Jun 26, 2020 at 5:05 AM Qian Wen <notifications@github.com> wrote:

[2020-06-28 18:47] shashishailaj commented on #57579
@vpohl We are reaching out to the author for more details on this.

@asudbring Could you please help review the ask on this issue and see how best the documentation can be improved.

[2020-06-28 18:48] FoonlyToons commented on #57530
You have to remember how people come to a web page in the 1st place, and not your corprorate organization, however logical that may be to Microsoft. I'm sorry you don't have the ability to view the same web pages I see. My description is as clear as I can make it.

https://www.microsoft.com/en-us/security/business/identity/mfa
Enable multi-factor authentication for free

This page does not clearly

[2020-06-28 18:49] shashishailaj commented on #57745
@priyankareddy20 We are reaching out to the authors for  review on this document and further info.

@memildin Could you please review this document and see how best we can improve the same ?

[2020-06-28 18:50] shashishailaj commented on #57793
@AnimeshBarua As we have not got any response from you , We will be closing this thread now. I hope the above posts helps you clarify what you were looking for. In case you still have any query , please feel free to tag me to your reply and we will be happy to help . Alternatively , you can post on [Microsoft QnA](https://docs.microsoft.com/answers) or send us an email on azcommunity[at]microsoft[

[2020-06-28 18:50] #57793 closed

[2020-06-28 18:51] #57947 closed

[2020-06-28 18:55] shashishailaj commented on #57912
@sharad4u Could you please review this and update the document as needed.

[2020-06-28 19:50] AjayKumar-MSFT commented on #57334
Iain, thanks for the update and sharing the answer. We will work with the author and get the document(s) updated as required for additional clarity. We will close this out, but if you feel you need more information please just let us know.

[2020-06-28 19:50] #57334 closed

[2020-06-28 20:13] jamserra opened #58018 "step 6"
In Step 6, most of the steps needs to be changed and the screen shot updated as it is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03a0dc36-e3d5-3a28-c9f9-9e514150d7a4
* Version Independent ID: 5b19f443-599f-e367-3566-f43be87dcf78
* Content: [Tutorial: Add SQL Managed Instance to a failover group - Azure SQ

[2020-06-28 21:06] akumaranchath opened #58020 "Custom script actions are not working as documented"
**Problem:** Azure HDI cluster unable to access bash scripts submitted via custom script actions (in azure portal). Script actions isn’t working as expected like mentioned in the documentation.

According to the documentation:

**Test case 1:** Submit a script that resides in a container in a primary storage account
HDI cluster created in a locked-down virtual network and has ADLS Gen 2 as primary

[2020-06-28 21:58] NavtejSaini-MSFT commented on #57717
@MikeWilcoxMicrosoft We will be going ahead and closing this thread for now. If you have further issue please get back to us.

[2020-06-28 21:58] #57717 closed

[2020-06-28 22:01] NavtejSaini-MSFT commented on #57668
@cg6 Thanks for the ticket number and we will follow it for the answer.

[2020-06-28 22:35] DCtheGeek commented on #58008
@cqueern Thanks again for reporting this item! @KrishnaG-MSFT updated the doc and it'll be published tomorrow.  We appreciate the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-06-28 22:35] #58008 closed

[2020-06-28 23:05] leofmoura opened #58021 "No Azure VM under CLUSTER_RESOURCE_GROUP"
Hello,

I've followed the tutorial BUT when getting VM list under CLUSTER_RESOURCE_GROUP, the result is empty.
I don't understand why.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kub

[2020-06-28 23:10] dcbrown16 commented on #43779
@roygara the locations I cited, like osDiskSizeInMB value as returned by the API or diskSizeGB in the template, are supposed to be representing the max disk size in my understanding. I'm not referring to the example size in the document this issue is linked to. Are the API and template values wrong? I think this issue still needs some coordination with PG etc.

[2020-06-28 23:32] SaurabhSharma-MSFT commented on #57451
@Imbusyworking No problem.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-28 23:32] #57451 closed

[2020-06-28 23:45] artekartian opened #58022 "Require app protection policy (preview)"
Require app protection policy condition in Conditional Access supports currently 4 apps only: Cortana, OneDrive, Outlook, Planner. In the Step 1 scenario when both controls are required (approved client AND App Protection Policy) then all other apps included in Office 365 (like Teams) will not satisfy the condition. With that, the CA works different than expected. Please change the AND to OR (like

[2020-06-29 00:02] chrisbabayans opened #58023 "Clarifying dbutils.fs.mount inputs"
Excellent tutorial.

For step 5 in "Access your blob container from Azure Databricks"

Description for dbutils.fs.mount is

"mount-name is a DBFS path representing where the Blob Storage container or a folder inside the container (specified in source) will be mounted."

Can be further clarified by adding "This directory will be created based on your input here" so a person doesn't go back looking

[2020-06-29 01:56] BharathNimmala-MSFT commented on #58018
@jamserra Thank you for bringing this to our notice and sharing your feedback. I have assigned this issue to our document author @MashaMSFT to further evaluate the feedback and update the document accordingly.

[2020-06-29 01:57] BharathNimmala-MSFT commented on #58020
@akumaranchath  Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-29 01:59] BharathNimmala-MSFT commented on #58021
@leofmoura Thanks for your query, our team will look into it and get back to you at the earliest.

[2020-06-29 02:01] BharathNimmala-MSFT commented on #58022
@artekartian Thanks for your feedback, our team will look into it and get back to you at the earliest.

[2020-06-29 02:03] BharathNimmala-MSFT commented on #58023
@chrisbabayans We really appreciate you taking time and sharing your feedback. Our team will further look into the feedback and see how we can update the document. Thank you

[2020-06-29 02:10] BharathNimmala-MSFT commented on #57981
@Alex-Derbyshire Thank you for sharing the document link.

[2020-06-29 02:39] sebgod opened #58025 "API/documentation for list of portal IP addresses"
Is there a way to get the list of portal IP addresses via an API or a list somehow?
I know there is [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=56519) but I cannot find the proper entry.
Can you point me to the right direction?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-29 03:29] alexchen2016 opened #58026 "Issue about "AzureWebJobsDashboard""
In this doc, it says "This setting is only valid for apps that target version 1.x of the Azure Functions runtime." in section "AzureWebJobsDashboard". But our customer found that Azure function V3 also need this setting. Could you help to confirm this and adapt the content ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-29 03:30] Murthy-VVR-BY opened #58027 "Gen2 Token Issue While Accessing Table"
Followed the documentation and setup the ODBC driver. I'm trying to access the databricks table which is having it's data stored in Azure Data Lake Gen2 and I'm receiving following error

`ERROR [HY000] [Simba][Hardy] (35) Error from server: error code: '0' error message: 'Error running query: com.databricks.backend.daemon.data.client.adl.AzureCredentialNotFoundException: Could not find ADLS Gen2

[2020-06-29 03:56] ansred commented on #57031
Any updates on your side? I can confirm the issue still persists.

As a workaround for now, I am only using the classic experience - [](https://account.activedirectory.windowsazure.com)

and not the new/modern [](https://myapplications.microsoft.com)

cc @MarileeTurscak-MSFT

[2020-06-29 04:07] PramodValavala-MSFT commented on #57363
@jfggdl @clemensv Could you please share any insights on this?

@spelluru I am assigning this issue to you for any potential doc update possible with any insights shared here.

[2020-06-29 04:26] shashishailaj commented on #58014
@cat-mucius Could you please prove an update about the document you were referring to , to help you further ? In case it was a general query , We will close this issue now . Shoud you have any further query , please tag me to your reply and we will be happy to help you further . alternatively you can always create a post on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html)

[2020-06-29 04:30] AshokPeddakotla-MSFT commented on #57756
@schibuch  I have assigned the issue to the content author @robinsh  to evaluate and update the doc as appropriate.

[2020-06-29 04:35] chrisbabayans opened #58029 "Renamed component"
[Enter feedback here]
In Cosmos DB Data Explorer, collection has been renamed container.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d70cb54d-31e5-5e2c-edb1-24df4c1edd83
* Version Independent ID: 091c58b8-f0be-c8f9-6212-4e5ebcfe73d4
* Content: [Tutorial - Implement Azure Databricks with a Cosmos DB endpoint](https://

[2020-06-29 04:49] gvashishtha opened #58030 "Hyphen next to aadpodidbinding is wrong"
In the sample code for editing the kubectl deployment .yml, there is a hyphen to the left of the "aadpodidbinding" variable. If you actually have a hyphen, kubectl will reject the edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eae267a-fb03-0442-a753-44f6054f5fca
* Version Independent ID: 0916076d-7ec9-5fce-4ff2-

[2020-06-29 04:55] SnehaAgrawal-MSFT commented on #57622
@brianburtoninmar Could you please directly paste the screen shot here. Also as its mentioned in the document to achieve further steps we have to navigate to [Azure Resource Explorer.](https://resources.azure.com/subscriptions)  Let me know if issue persists.

[2020-06-29 05:02] SnehaAgrawal-MSFT commented on #57818
@lerlacher-haylix just checking if you have chance to see previous response on this.

[2020-06-29 05:08] PramodValavala-MSFT commented on #58026
@alexchen2016 Thanks for the feedback! We will review and update accordingly.

[2020-06-29 05:29] ChiragMishra-MSFT commented on #57673
@djpmsft Can you please take a look at this?

[2020-06-29 05:40] vipulsparsh commented on #57846
@msmimart Can you look into this ?

[2020-06-29 05:47] vipulsparsh commented on #57946
@@TheArchitect1030  The article talks about automatic provisioning of users in Service Now.   The hybrid identity scenarios talks about the authentication medium your organization will have which will be used to authenticate the users.

There might be few considerations to take for fully implementing any of the Identity solution, as these might have from no configuration/servers to few configurati

[2020-06-29 05:53] lerlacher-haylix commented on #57818
Hi @SnehaAgrawal-MSFT - the following problems exist:

- Documentation for Proactive Autoheal is a 3 year old blogpost
- Documentation for Custom Autoheal is a 2 year old blogpost

This does not provide the required confidence to utilize Auto-Heal features.

With Proactive Auto-Heal we have specifically seen high memory conditions in apps where proactive auto-heal did not trigger at the point we e

[2020-06-29 05:53] AnuragSharma-MSFT commented on #58025
@sebgod Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-06-29 05:54] Allen-Shi-MS commented on #54181
@nehsin No, I can open one right now and will post the ICM ID right after I open it.

[2020-06-29 05:54] TheArchitect1030 commented on #57946
@vipulsparsh Thank you very very much! This is, what i was looking for.

[2020-06-29 05:58] plettb commented on #53855
Sorry - I meant apps.  I've tried three different apps, with their respective B2C tenants.  Two worked, one failed.

[2020-06-29 05:59] ebrucucen commented on #56607
Thank you. As Azure Functions have private endpoints globally, it display same behaviour with AppService, confirms the document and this issue can be closed.

[2020-06-29 06:04] VikasPullagura-MSFT commented on #58002
@searchavi84
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-29 06:04] VikasPullagura-MSFT commented on #58002
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2020-06-29 06:05] Allen-Shi-MS commented on #54181
@nehsin Here's the ICM number :194464975.

[2020-06-29 06:11] AnuragSharma-MSFT commented on #58025
@sebgod As mentioned by you, [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=56519) has the complete list of portal IP addresses. Suppose you need to look for specific regions for Cosmos DB, you can search **'AzureCosmosDB.'** in the file.  Example 'AzureCosmosDB.EastUS' for East US region and locate the address. Image below for you refere

[2020-06-29 06:17] sebgod commented on #58025
@AnuragSharma-MSFT , sorry I was not clear enough:
![image](https://user-images.githubusercontent.com/2624915/85979404-c3cf8400-ba23-11ea-9377-051f48528c95.png)
I am talking about these (fixed?) list of IP addresses. It seems those addresses are needed such that the "Allow access from Azure Portal" is turned on.
For ARM deployment, there is no separate option (at least I am not aware) and those IP

[2020-06-29 06:18] ChiragMishra-MSFT commented on #58027
@Murthy-VVR-BY Thanks for reaching out. We are investigating into the issue and will update you shortly.

[2020-06-29 06:29] jschrap opened #58031 "Troubleshooting VA failures"
Error: The provided storage account shared access signature or account storage key is not valid
This happens if a Firewall and Private Endpoints have been introduced to the storage account where Vulnerability Assessments (VA) are stored.
Quick fix:

1. ensure you are owner of the storage account

1. temporarily unconfigure VA - or change the storage account

1. reconfigure VA with the firewalled s

[2020-06-29 06:32] SubhashVasarapu-MSFT commented on #57231
@jjindrich , Appreciate your patience. Please take a few minutes to submit your idea in the one of the forums available on [here](https://feedback.azure.com/) or vote up an idea submitted by another Azure customer. All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
From there you can track the status of yo

[2020-06-29 06:33] PramodValavala-MSFT commented on #57964
@marc-bouvier While there aren't specific recommendations for java documented here, some would still hold true like using static clients. And any connection pooling available in the JDBC driver would be best to use as well.

[2020-06-29 06:36] vipulsparsh commented on #57946
@TheArchitect1030  Glad that we were able to help you. We will be closing this now.

[2020-06-29 06:36] #57946 closed

[2020-06-29 06:52] RohitMungi-MSFT commented on #58030
@gvashishtha Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-29 06:56] aliabbasmanager opened #58032 "build_signature method equivalent in Python3"
I am trying to run this in Python3 and am facing issues in the below line
bytes_to_hash = bytes(string_to_hash).encode('utf-8')

I have tried to convert this to the following,
bytes_to_hash = bytes(string_to_hash,"utf-8")

But this gives me a 403 invalid signature response from the API. Can you please mention the correct way to do it in Python3?

---
#### Document Details

⚠ *Do not edit this sect

[2020-06-29 06:59] RohitMungi-MSFT commented on #57697
@sanpil Thanks for the response. I have updated this phrase and the change should be available in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-29 06:59] #57697 closed

[2020-06-29 07:00] RohitMungi-MSFT commented on #57746
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-29 07:00] #57746 closed

[2020-06-29 07:00] SwathiDhanwada-MSFT commented on #58032
@aliabbasmanager Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-29 07:06] roofiq opened #58033 "Automatic deployment deletions"
Hello,

That's really great new feature but the documentation does not cover all.

1. I have registred the feature flag and opt out from automatic deletions. I would like to opt in again, how could I do it?
2. Do i understand this well, it deletes deployments on resource group and subscription level? What happened if my ARM template is creating, let's say, 25 new deployments. I have reached the 79

[2020-06-29 07:19] dgcaron commented on #57860
it doesn't really.. the documentation is missing the mention that the virtual network needs to be in the same resource group as the AML instance.  you can specify resource group names for the virtual network for compute clusters etc but not for the ACI instances. so IMHO the docs are lacking this warning (that they need to be in the same RG) and the service is lacking a way to specify the resource

[2020-06-29 07:31] linda33wj commented on #57796
@VitalyMCT thanks for the feedback. These two versions are supported. I've corrected the doc.
#please-close

[2020-06-29 07:31] #57796 closed

[2020-06-29 08:12] jjindrich commented on #57231
Submitted new request, please vote https://feedback.azure.com/forums/34192--general-feedback/suggestions/40779202-azure-firewall-allow-enable-disable-rule

[2020-06-29 08:12] #57231 closed

[2020-06-29 08:18] Sotades opened #58035 "Small subtitle correction"
Hi!

Please replace "How does Logic Apps work" with "How do Logic Apps" work; we could end up in an endless debate about the syntactic correctness of declaring a plural object as a singular entity, but it looks just plain ugly!

BR,

Tony.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b20c74-3d65-5747-39a0-77b3c2214

[2020-06-29 08:22] abhinavdawra opened #58036 "Support for private blobs for primaryscripturi and secondaryscripturi"
[Enter feedback here]
Does this feature for deployment scripts in templates only work with public blobs for primaryscripturi and secondaryscripturi? I am looking to use efmigrate to run my db migration as part of my deployment and using custom scripts seemed to be the solution but it is unable to download files from private blobs and does not have any auth mechanism to use the way we do with sql i

[2020-06-29 08:38] smstuebe opened #58037 "Link to SLA is a dead link (because of redirect to en-gb)"
When clicking on "SLA published by the IoT Hub service" I get a 404, because it redirects me to en-GB. When I change it to en-us or de-de manually, I see the SLAs.

![image](https://user-images.githubusercontent.com/7632775/85991954-7daefc00-b9f4-11ea-8983-ba416289e76f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-06-29 08:39] trandev opened #58038 "Creating alert for xml_deadlock_report"
Hi,

I want to create an alert in Azure SQL Managed Instance.
This alert will notify me when the deadlock happens in my SQLMI. But I can't find the metrics for this kind of events.

And the feature Alerts doesn't support in SQLMI also.

So, could you give me some solutions for this one?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-29 08:56] MakarovIlya944 opened #58039 "Could not connect to Private kubernetes cluster through VM in the same VNet"
[Enter feedback here]
The option

doesn't work and in fact dosen't clear. For example: I create a VM, then what? I need to use it's public IP like url for kubectl config?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
*

[2020-06-29 10:09] GarethOates opened #58040 "Out of date"
The options and screenshots in this documentation are out of date and no longer reflect the options available in the drop downs for Problem Type and Sub types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ad66f-14bd-bd67-40d2-9b6f29cd633c
* Version Independent ID: 922adbe4-fefb-e895-d7dd-42279d24ff66
* Content: [R

[2020-06-29 10:12] nicolasevens opened #58041 "Security controls"
Would it be possible to get more explanation on the security controls preventing a user to connect to Bastion service from another source than the Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure

[2020-06-29 10:13] steveculshaw opened #58042 "Incorrect screenshot and text around number of parameters"
[Enter feedback here]
The section around the downloaded template in "Generate a template" talks about 6 parameters ... but as of today (2020-06-09), just tried and the ARM template has 8 parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec5cd7c-2241-dc13-0f95-be2bbf300d6c
* Version Independent ID: c42e2294-e2

[2020-06-29 11:05] abhilashmk commented on #57786
@Grace-MacJones-MSFT , we got this added to the documentation. I think you can close this issue.

[2020-06-29 11:10] KrishnaG-MSFT commented on #58033
@roofiq Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-29 11:10] lgmorand opened #58043 "Complete the comparison of networks mode"
https://docs.microsoft.com/en-us/azure/aks/concepts-network#compare-network-models

Could it not be useful to list in one place, the differences between these two models. for instance, Windows nodes require CNI and are not listed. AGIC is not listed. Network policies requires CNI, or Calico.

Could you please complete this table and list of main features which may help doing a choice between CNI a

[2020-06-29 11:14] KrishnaG-MSFT commented on #58036
@abhinavdawra Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-29 11:19] rlevchenko opened #58044 "Multiple private endpoints and weird removal/rejection behavior"
Hi folks,

Imagine you have 1 storage account , 1 vnet with multiple subnets and decided to add 1 private endpoint  to that storage account (10.3.1.4 ip , as shown in the picture below):

![private endpoint_1](https://user-images.githubusercontent.com/47359229/85996827-63cfe200-ba11-11ea-9541-129eea1915b9.jpg)

Then, you go to the private DNS zone and check the current A record for the endpoint to

[2020-06-29 11:22] KrishnaG-MSFT commented on #58040
Hello @GarethOates  - really appreciate the suggestion. We will review with the content owner to see how best to improve and update the document based on your feedback.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

@stevendotwang - FYI

[2020-06-29 11:22] #58040 closed

[2020-06-29 11:28] tanveerbadar opened #58046 "How does one create a zip file for ASP.NET Core Web Application"
I believe this page does not mention the correct steps to follow for creating an archive for an ASP.NET Core web app. If I were to simply do a Compress-Archive -Path * it would include all the .cs files too, hardly the intended effect.

What I am guessing is needed - for asp.net - is to run a publish step which copies the bin folder and rest of required files somewhere and then create a zip file o

[2020-06-29 11:32] ChiragMishra-MSFT commented on #58029
@chrisbabayans Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

@mamccrea Can you please take a look at this?

[2020-06-29 11:32] KrishnaG-MSFT commented on #58042
@steveculshaw Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-29 11:33] SnehaAgrawal-MSFT commented on #57741
Thanks for asking question! Could you please ensure that there is no space after /subscriptions/ and after /{resource-group}\.

Example as below:
az ad sp create-for-rbac -n "xxx" --role contributor \--scopes /subscriptions/xxxx/resourceGroups/xxxxx \--sdk-auth

[2020-06-29 11:39] SwathiDhanwada-MSFT commented on #58042
@steveculshaw Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-29 11:41] MayankBargali-MSFT commented on #58035
@Sotades Thanks for reporting this item! I have updated the doc and it'll be published tomorrow. We appreciate the feedback!

[2020-06-29 11:55] AnuragSharma-MSFT commented on #58031
@jschrap Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-06-29 11:55] RohitMungi-MSFT commented on #57534
@akiragothick We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-29 11:55] #57534 closed

[2020-06-29 11:59] jonasmiederer commented on #51627
Having a similar problem, any updates so far?

[2020-06-29 12:01] vuza commented on #51627
No, I contacted them, no response :/

[2020-06-29 12:07] pushkal01 opened #58047 "Cann't connect to CosmosDB using Cqlsh"
Following is the configuration I have
Python version : 2.7.12
java version: 1.8

In cassandra.yml file content
client_encryption_options:
       require_client_auth: false
       protocol: TLSv1.2

cqlshrc.sample.ssl file content
[authentication]
username = username
password = password
[connection]
hostname = host
port = 9042
factory = cqlshlib.ssl.ssl_transport_factory
[ssl]
certfile = <path>/cac

[2020-06-29 12:27] yelevin commented on #57810
Thanks for the heads-up! We're investigating this now.

[2020-06-29 12:30] Yamin-lawar commented on #57965
To add more on to this I just tested users sso which was working fine for us before

- When we have initial cycle I am able to get every post and patch request and when it goes in incremental cycle I am unable to get any post or patch request when I add or remove user and same for group members.

- I have checked in provisioning logs there is no event is showing after incremental cycle run it shou

[2020-06-29 12:34] KjellZijlemaker commented on #51543
Yes, you can add forced tunneling through a VWAN and Secured Hub. However, as earlier described currently in preview

[2020-06-29 12:44] gmantri-ais opened #58050 "Clarification on VMWare Migration Limitations"
As per this [`link`](https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware-migration#migration-limitations), a maximum of 10 servers can be replicated together and if more servers need to be replicated then they need to be grouped together. Also, the link mentions that we can run up to 300 replications simultaneously.

What is not clear is that does this mean we can replicat

[2020-06-29 12:51] syedhamjath opened #58051 "The Python script is missing a double quotes"
[Enter feedback here]
JavaScript script is missing double quote in below line

`if (req.method == "OPTIONS)`

[Link to page](
https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema#use-with-azure-functions)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd55e19-eb11-3b0f-c6e1-3710f712fd58
* Version Indep

[2020-06-29 12:56] KrishnaG-MSFT commented on #58047
@pushkal01 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest y

[2020-06-29 12:59] ChiragMishra-MSFT commented on #57817
@nabhishek Can you please take a look at this?

[2020-06-29 13:01] ChiragMishra-MSFT commented on #58027
@mamccrea Can you please look into this?

[2020-06-29 13:02] ezYakaEagle442 opened #58052 "Az Monitor setup for AKS Arc enabled cluster fails"
The snippet works fine with GKE & K3S as they are connectedClusters
[code]

export azureArc_AKS_ClusterResourceId=$(az connectedk8s show -g $aks_rg_name --name $azure_arc_aks --query id)
fails with AKS as it is a managedCluster, it fails with :

bash enable-monitoring.sh --resource-id $azureArc_AKS_ClusterResourceId --workspace-id $analytics_workspace_id --kube-context $kubeContext
clusterResource

[2020-06-29 13:03] ChiragMishra-MSFT commented on #57886
@kevinvngo Can you please look at this potential doc bug?

[2020-06-29 13:06] subodhpatil commented on #51543
@KjellZijlemaker is this under private or public preview. Is there any documentation around this as P2S support forced tunneling with VWN Secure Hub. Is there a way to try this?

[2020-06-29 13:06] ChiragMishra-MSFT commented on #57903
@don4of4 Can you please make sure that you have followed the doc to install the  "microsoft.vw_sql_requests view" ?

To monitor tempdb usage, first install the [microsoft.vw_sql_requests](https://github.com/Microsoft/sql-data-warehouse-samples/blob/master/solutions/monitoring/scripts/views/microsoft.vw_sql_requests.sql) view from the [Microsoft Toolkit for SQL pool](https://github.com/Microsoft/sq

[2020-06-29 13:09] ChiragMishra-MSFT commented on #57997
@VitalyMCT Have you configured the Azure Key Vault and enabled customer managed keys in the Azure portal ? If not, please do so by following this doc :

https://docs.microsoft.com/en-us/azure/storage/common/storage-encryption-keys-portal#configure-azure-key-vault

Enabling it should resolve the issue.

[2020-06-29 13:14] VikasPullagura-MSFT commented on #58043
@lgmorand
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-29 13:14] VikasPullagura-MSFT commented on #58043
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-29 13:16] KjellZijlemaker commented on #51543
It is under public review right now. You can use the following documentation to try: https://docs.microsoft.com/en-us/azure/firewall-manager/secure-cloud-network

[2020-06-29 13:17] blueelvis opened #58053 "What does 60 minute guarantee mean for Azure Functions Premium Plan?"
It is written on the page that the Azure Functions Premium Plan has - `Unlimited execution duration (60 minutes guaranteed)`.

Could you please clarify the following questions?

1. What does it mean when you say 60 minutes guaranteed?
2. What happens if this guarantee is not met?
3. Is 60 minutes guaranteed even in terms of a platform outage?

-Pranav

---
#### Document Details

⚠ *Do not edit thi

[2020-06-29 13:20] YutongTie-MSFT commented on #57527
@AmitavaHazra Sorry about the delay. In this situation you can not use a camera with VM, since there is no camera in your VM.... Thanks.

[2020-06-29 13:20] KrishnaG-MSFT commented on #57914
@yeswps [This](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) referred Azure document is intended to provide complete list of all platform (that is, automatically collected) metrics currently available with Azure Monitor's consolidated metric pipeline. However, to answer your question, it always monitor's this metrics continuously. For illustration, check below sc

[2020-06-29 13:22] subodhpatil commented on #51543
ok, I know this and we have Secure Virtual Hub implemented. But I was not sure that even for Point to Site VPN below settings will make force tunneling.

Under Internet traffic, Traffic from Virtual Networks, select Send via Azure Firewall.
Under Azure private traffic, Traffic to Virtual Networks, select Send via Azure Firewall.

So if both above are enabled,  all internet traffic will go through

[2020-06-29 13:23] damendo opened #58054 "NSG FLOW LOG Documentation is not clear about Service Endpoints"
Below is feedback that was documentation related but posted on the UserVoice forums. Replicating here as it is the right channel for such issues.

Original post: https://feedback.azure.com/forums/217313/suggestions/40751776

I have noticed that NSG Flow log documentation is not clear . I have couple of questions but didn't find clear documentation about the same.

I have integrated Service Endpoin

[2020-06-29 13:25] KjellZijlemaker commented on #51543
Yes, from what I could test it will. You will have to create a VPN gateway via the VWAN though, but I think that's self-explanatory

[2020-06-29 13:25] VitalyMCT commented on #57997
I don't think the link you've provided is relevant to this issue. It's for Azure Storage account, not for ADF.

My Azure Key Vault is already configured with Soft Delete and Purge Protection options. There is no storage account in play here that I can see - which storage account do you think the CMK setting should be turned on for?

[2020-06-29 13:29] AshokPeddakotla-MSFT commented on #58037
@smstuebe Thanks for the feedback! Links seems to be working fine. Here is the link: https://azure.microsoft.com/en-us/support/legal/sla/iot-hub/v1_2/
Please check now and let us know if you are still blocked.

[2020-06-29 13:29] vishwanath-uppala opened #58056 "Any dates on when it will be GA?"
Any dates on when it will be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a48ddc0-6c13-c292-11cd-b6b75ef8e0a1
* Version Independent ID: 4ab61e67-96ef-51ee-00cf-a6377d82dec4
* Content: [Create IP Groups in Azure Firewall](https://docs.microsoft.com/en-us/azure/firewall/create-ip-group)
* Content Source: [articles

[2020-06-29 13:30] m-sterspace opened #58057 "Provide a non 'www.' example for CNAME records"
[Enter feedback here]

I think the example of `www.example.com` as a subdomain should be amended to also include something like `blog.example.com`. For a user coming into web apps / web development it's often unclear whether or not "www." actually means something special or not. Just from reading this document, I wouldn't assume that I needed a CNAME record for `blog.example.com` because `www.` se

[2020-06-29 13:36] stateofthearb commented on #51543
@KjellZijlemaker Thanks for the feedback!
Do you have an estimate of when this will become GA?

[2020-06-29 13:37] KjellZijlemaker commented on #51543
Unfortunately not, we are also waiting for this to become GA so we can use it into production.. I hope by the end of this year.

[2020-06-29 13:48] tim-snapt commented on #37716
+1 This has been an issue for me for some time now as well.

I initially tried publishing Managed Images to marketplace over a year ago and found that you could only use standard VHD disks so I had to amend my build process.

We recently adopted Packer for all of our different platforms and was delighted to find that it builds a Manged Image. Only to find out that we still cannot use Managed Image

[2020-06-29 13:52] ganga1980 commented on #58052
Hi, @ezYakaEagle442 , you can have resource conflict, can you please try following run following commands to cleanup the stale resources

helm delete azmon-containers-release-1  // this should cleanup everything
kubectl delete serviceaccounts omsagent -n kube-system //cleanup service account in case if previous command not cleaned up

then re-run the enable monitoring command

[2020-06-29 13:55] ezYakaEagle442 commented on #58052
k get po -n kube-system

NAME                                        READY   STATUS    RESTARTS   AGE
aks-link-6578fb67df-5rnsg                   2/2     Running   0          4h6m
azure-cni-networkmonitor-gph84              1/1     Running   0          4h5m
azure-ip-masq-agent-r6djh                   1/1     Running   0          4h5m
azure-npm-ntc75                             1/1     Running   0

[2020-06-29 13:58] vipulsparsh commented on #57821
@sadika9  We are checking this internally and will get back to you on this.

[2020-06-29 13:58] ezYakaEagle442 commented on #58052
[code]

Even after deletion all resources do come back ! : DS, RS, Deploy, Pod & SA

[2020-06-29 14:03] ganga1980 commented on #58052
Hi, @ezYakaEagle442, For AKS, azure monitor for containers has native integration, from the logs, looks like this cluster already enabled for monitoring via native monitoring addon, this can be disabled only as per the instructions https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-optout. can you please explain, why you want to enable monitoring to already monitoring

[2020-06-29 14:07] mmacy commented on #57518
Hi @reinux, I'm going to move to close this one as there are no changes required in the identity platform documentation. I've noted this as a follow-up item for B2C. #please-close

[2020-06-29 14:07] #57518 closed

[2020-06-29 14:13] #58035 closed

[2020-06-29 14:17] ezYakaEagle442 commented on #58052
@ganga1980 good point, I did not realized that, if I can do everything in AKS directly (GitOps, Policy, Monitoring) I should not use Arc for AKS then indeed

[2020-06-29 14:19] stateofthearb commented on #51543
@KjellZijlemaker thank you, yes we in the same boat :)

[2020-06-29 14:23] vhorne commented on #55339
@aks1994
Here's information from the product team:

The rule itself is just enforcing the result of the strict parsing error. So the correct thing to do, if the check is RFC compliant, is to disable the rule.

[2020-06-29 14:26] vhorne commented on #55339
#please-close

[2020-06-29 14:26] #55339 closed

[2020-06-29 14:26] ganga1980 commented on #58052
Hi, @ezYakaEagle442 , with regards to azure monitor for containers,  we have native integration and richer functionality for AKS cluster than Azure Arc K8s.  We recommended to enable monitoring for AKS cluster via  AKS monitoring addon as described in these articles

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-existing-clusters
https://docs.microsoft.com

[2020-06-29 14:29] kalpeshj-hexaware opened #58059 "Form Recognizer API v2.0 link malformated"
On page "https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/", link for Form Recognizer API v2.0 is malformatted.

It is currently :
![image](https://user-images.githubusercontent.com/64843197/86018458-03599880-ba43-11ea-99d0-3e4888b70747.png)

It should be:
https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeWithCustomF

[2020-06-29 14:32] bpcastilho opened #58060 "Windows device guidelines missing"
In the beginning of the doc we have 3 examples of devices - Windows, Android, or iOS.
Though from that point forward we're missing guidelines for the windows device.
Please let us know where we can find them in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2a4498-fdfc-638a-5afd-ef2905f8f4a3
* Version Indep

[2020-06-29 14:44] surajmb commented on #54039
@scott-wi , do you mean this? https://azure.microsoft.com/en-in/resources/templates/101-application-gateway-key-vault-create/

[2020-06-29 14:46] smstuebe commented on #58037
Yes. A hour later or so I clicked again and it was working. I wanted to update/comment this issue, but it is not allowed.

[2020-06-29 14:46] #58037 closed

[2020-06-29 14:51] hansenms commented on #57988
It is only in My APIs if you have set up your own resource application, e.g. for using the OSS code. As it says in the text, "If you are using the Azure API for FHIR.....". The example in the screenshot is for OSS FHIR server and a custom made resource application. So I think the instructions are correct.

[2020-06-29 14:53] VikasPullagura-MSFT commented on #57816
@asinn826 Thanks for the update.

[2020-06-29 14:53] #57816 closed

[2020-06-29 14:55] VikasPullagura-MSFT commented on #57935
@dlepow Thanks for sharing the information.

@rfcdejong
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-29 14:55] #57935 closed

[2020-06-29 14:56] cstainie opened #58063 "Add section on Trusted Services"
Dear,

Can you provide a section where you specify which Azure services are included in the Trusted Services list? Similar to what has been done on the documentation for Key Vault and Storage Account.

Kind regards,
Cédric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4315759e-ebfc-408d-2ae6-7720c995d0d4
* Version In

[2020-06-29 15:01] davidkuzniar opened #58064 "loading data into syapse is not clear"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b415b140-12fa-f613-29c5-4aee3904d4bd
* Version Independent ID: 73e88688-5e6d-c69c-28d1-5a036789c494
* Content: [Tutorial - Perform ETL operations using Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-extract-lo

[2020-06-29 15:03] davidkuzniar opened #58065 "i want to leave feedback as per the button description not submit an issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b415b140-12fa-f613-29c5-4aee3904d4bd
* Version Independent ID: 73e88688-5e6d-c69c-28d1-5a036789c494
* Content: [Tutorial - Perform ETL operations using Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-extract-lo

[2020-06-29 15:04] davidkuzniar opened #58066 "stupid interfaces"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-29 15:04] EgoManiac commented on #51194
Ouch.

I have just spent a week banging my head against a wall trying to get these bindings to work. As a newbie to Azure Functions, I was adamant that it was me getting this wrong. I even hardcoded the function.json as I assumed they were in Beta.

It appears this is now abandonware as the person who was responsible for the binding was an Intern who I assume has now left Microsoft and gone back t

[2020-06-29 15:10] malopMSFT commented on #58044
Thanks for the feedback

According to guidance, using 2 private endpoints on the same network (Vnet) and the same private DNS zone is considered a misconfiguration.

It's generally a bad practice for DNS to use the same domain to resolve to more than a single IP address when not necessary, it could lead to unpredictable behavior on the route traffic will take within the private network leading to

[2020-06-29 15:13] GiftA-MSFT commented on #57860
@aashishb please review above recent feedback for doc enhancement. Thanks.

[2020-06-29 15:26] VikasPullagura-MSFT commented on #57839
@nageswar255 In Helm 3 `--name` parameter is no longer supported.

As this channel is for improving MS Docs, and as this issue is not related directly to the doc, I would recommend you to create a thread on the [Q&A forum](https://docs.microsoft.com/en-us/answers/questions/topics/single/25346.html) for technical queries. Once you post your issue on the forum, it will have visibility across the com

[2020-06-29 15:26] #57839 closed

[2020-06-29 15:28] MonikaReddy-MSFT commented on #57864
@rohancragg - Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-29 15:28] #57864 closed

[2020-06-29 15:30] rohitrdua opened #58067 "Unable to connect to Virtual Machines"
I have performed all steps as mentioned. However I am unable to connect to both the Virtual Machines "myVmWeb" and
'
![myvmweb error](https://user-images.githubusercontent.com/62795742/86025220-df3b8e80-ba25-11ea-8da5-88dc4f75a552.JPG)
![Myvmweb running](https://user-images.githubusercontent.com/62795742/86025228-e19de880-ba25-11ea-89b6-fde1de9447e9.JPG)
![remote](https://user-images.githubusercon

[2020-06-29 15:33] rlevchenko commented on #58044
@malopMSFT yeah, I see. but it's not clear after reading the docs. It's the main point. There is just a recommendation "For a single network using a common DNS server configuration, the recommended practice is to use a single private endpoint for a given private link resource to avoid duplicate entries or conflicts in DNS resolution". Why can't I just reject endpoint without resetting the entire p

[2020-06-29 15:35] VikasPullagura-MSFT commented on #57987
@martingbrown Thanks for sharing the Feedback and troubleshooting details.

I have assigned the issue to content author to check and add comments on the update the document with more detailed information.

[2020-06-29 15:36] BharathNimmala-MSFT commented on #57875
@Haritha-Nuthi  Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-06-29 15:36] #57875 closed

[2020-06-29 15:36] VikasPullagura-MSFT commented on #57987
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2020-06-29 15:36] BharathNimmala-MSFT commented on #57929
@jain6968 Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-06-29 15:36] #57929 closed

[2020-06-29 15:42] RyanHill-MSFT commented on #58046
Thanks for the feedback @tanveerbadar! I agree we're missing the `dotnet publish` for .NETCORE applications. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-29 15:43] RotateAt60MPH commented on #55465
This is not resolved.  I came across this today with exactly the same symptoms.  I attempted the GetInfo and GetDiagnosticInfo methods.  Every call, via the portal, returns:  {"status":500,"payload":null}

[2020-06-29 15:46] forsajt opened #58069 "Wrong syntax of OPENROWSET"
Hi,
The code examples for OPENROWS function seem to have wrong syntax. Function has a parameter called FORMAT, not TYPE.
FORMAT = 'CSV'. Otherwise I am getting "Failed to execute query. Error: Incorrect syntax near 'TYPE'. Incorrect syntax near the keyword 'with'" in Azure Synapse SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-06-29 15:53] dargilco opened #58070 "Sentence missing words"
"you can new LUIS authoring resource"

The above sentence seems to be missing words

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483121b-7839-29e0-3d11-fe72f06f442d
* Version Independent ID: fed1ef3a-b956-5b32-f763-d5859388b1a2
* Content: [Debug errors when authoring a Custom Commands application (Preview) - Azure C

[2020-06-29 15:57] iainfoulds commented on #57530
Thanks for the additional feedback, @FoonlyToons, and sorry for the confusion you encountered.

Unfortunately, there currently isn't a home-based version of Azure Multi-Factor Authentication for Windows 10 Home - the Azure Multi-Factor Authentication and Azure Active Directory services are inherently designed for businesses and enterprises, not individual home users. You can [use two-step verifica

[2020-06-29 15:57] #57530 closed

[2020-06-29 15:58] NavtejSaini-MSFT commented on #39016
@danijam We are closing this thread as documentation is correct for the same.

[2020-06-29 15:58] #39016 closed

[2020-06-29 16:00] dargilco opened #58071 "Replace "build in" with "built-in""
"Build in intents
LUIS has build-in Yes/No intents. "

Replace "build in" (or "build-in") with "built-in"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483121b-7839-29e0-3d11-fe72f06f442d
* Version Independent ID: fed1ef3a-b956-5b32-f763-d5859388b1a2
* Content: [Debug errors when authoring a Custom Commands applicati

[2020-06-29 16:02] dargilco opened #58072 "Missing the word "that""
"If you have many example sentences are similar,"

missing the word "that" ("sentences that are similar")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483121b-7839-29e0-3d11-fe72f06f442d
* Version Independent ID: fed1ef3a-b956-5b32-f763-d5859388b1a2
* Content: [Debug errors when authoring a Custom Commands applicati

[2020-06-29 16:03] malopMSFT commented on #58044
It's only a recommendation as we have a few customer's taking different approaches with different DNS servers on the same private network, those have custom handlers for resolution.

The quote is the same, basically DNS is a common area for a given domain.
"A single private DNS zone is required for this configuration. All client connections made from on-premises and peered virtual networks must  a

[2020-06-29 16:05] dargilco opened #58073 "Link to show how to export & import CC project"
", please recreate the application."

Add a link here to a place that talks about how to export and import a project, so developers don't need to recreate a potentially big project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8483121b-7839-29e0-3d11-fe72f06f442d
* Version Independent ID: fed1ef3a-b956-5b32-f763-d585

[2020-06-29 16:14] dargilco opened #58075 "No need to "try to reconnect" on error 1000"
**Feedback 1**
Regarding
"Error 1000
Idle connections are terminated by server after 5 mins. Try to reconnect."

See my note on the WVAC page:
https://github.com/Azure-Samples/Cognitive-Services-Voice-Assistant/tree/master/clients/csharp-wpf#a-note-on-connection-time-out

There is no need to recreate the connector object. That was the old behavior and has since been fixed. Speech SDK will do that

[2020-06-29 16:22] dargilco opened #58076 "Add links from "Cancellation Codes" table to the relevant sections below it"
I see you have a table of Cancellation Codes, then below the table a description of each case.

Can you please link each line in the table with the corresponding section below describing it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681a3bff-a3ee-9559-8c47-9c8459d8ed38
* Version Independent ID: 05ee3e59-92de-daf5-

[2020-06-29 16:23] #58014 closed

[2020-06-29 16:25] richmhouse opened #58077 "The IP addresses patterns passed to options.KnownNetworks.Add() are not explained"
The IP addresses patterns passed to options.KnownNetworks.Add() are not explained. Should a developer use these actual values or different ones depending on their environment? If the latter how should they determine these?
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f558900b-3bbe-a734-73e6-b04cc16a0139
* Versi

[2020-06-29 16:26] hrasheed-msft commented on #58020
Hello @akumaranchath thanks for reaching out and helping us to improve the docs. It seems like the improvements needed are beyond the scope of a documentation update, and will require extensive testing by the product team. I would encourage you to open a support case with Azure support, or open an issue on on the [HDInsight QA forums](https://docs.microsoft.com/en-us/answers/topics/azure-hdinsight

[2020-06-29 16:26] jfggdl commented on #57363
@dlstucki, would you be able to help @nonoxp et al?

[2020-06-29 16:30] rlevchenko commented on #58044
Got it. Thanks.

[2020-06-29 16:30] #58044 closed

[2020-06-29 16:32] MarileeTurscak-MSFT commented on #58060
@bpcastilho
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-29 16:35] shashishailaj commented on #57936
@Jacintopc Credential rotation for managed identities is done by the underlying system and is not configurable. The same credential rotation policy applies to both system-assigned and user-assigned so no you wont be able to configure it with a 3 year rotation period. If you would like to see this feature to be made configurable , I would suggest you to provide the [product feedback on the uservoic

[2020-06-29 16:35] #57936 closed

[2020-06-29 16:36] SaurabhSharma-MSFT commented on #58066
@davidkuzniar To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-06-29 16:46] SatishBoddu-MSFT commented on #57689
@str1ke-cw Could you please confirm

1. The version of the Azure blob storage SDK you are using ?.
2. How you module is accessing the local blob endpoint(url) ?
3. Have you tried from any back-end application ?

Please mask sensitive info in your replies.

I was able to **repro** this issue when using Azure.Storage.Blobs 12.4.4; C# [Ubuntu 18.04   64 ]
![image](https://user-images.githubuserconten

[2020-06-29 16:52] SatishBoddu-MSFT commented on #55465
@RotateAt60MPH
Thanks for the feedback! Sorry for the inconvenience caused, We have already added this in our backlog item. We are working with the team to update the document. Also we have recorded your feedback which is very helpful.
We request you to please refer [Azure Industrial IoT](https://azure.github.io/Industrial-IoT/) repo for up-to-date information. Please let us know if you need furth

[2020-06-29 16:53] SaurabhSharma-MSFT commented on #58059
@kalpeshj-hexaware The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-29 16:53] #58059 closed

[2020-06-29 16:55] SaurabhSharma-MSFT commented on #58038
@trandev Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-29 16:57] KranthiPakala-MSFT commented on #57723
@MSFTPconlan
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-29 17:01] KranthiPakala-MSFT commented on #58023
@chrisbabayans  Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-29 17:02] dsi28 opened #58078 "Update zip deploy Azure docs to mention time stamp comparison."
Hello,

Would it be possible to update this article to include more of the following information from the Kudu Sync docs:
https://azure.github.io/AppService/2017/10/16/Zip-Push-Deployment-for-Web-Apps,-Functions-and-WebJobs.html

Specifically the following details:
"Efficient file copy: KuduSync will only overwrite an existing file if its last-modified timestamp doesn’t match what’s in the deploym

[2020-06-29 17:04] jay98014 commented on #57650
I believe this is documented here:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad-on-premises#foresttenant-binding-for-password-protection

Even if you are syncing users from your AD forest to two or more AD tenants, you currently must choose one single tenant for the purpose of configuring on-premises Azure AD Password Protection.

Does this help?

[2020-06-29 17:06] crisansou commented on #57449
Ok, it worked, thank you!

Best regards,
Cristina

[2020-06-29 17:10] iainfoulds commented on #56415
Preview limitations are now published per product team feedback - https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-use-email-signin#preview-limitations

#please-close

[2020-06-29 17:10] #56415 closed

[2020-06-29 17:11] KranthiPakala-MSFT commented on #58063
@cstainie  Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2020-06-29 17:15] KranthiPakala-MSFT commented on #58064
@davidkuzniar Thank you for the feedback. Could you please elaborate more on your feedback so that we can request content author to evaluate and update the doc accordingly?

[2020-06-29 17:20] KranthiPakala-MSFT commented on #58065
@davidkuzniar Thanks for the feedback and helping us to improve the document content. I am closing this issue as it appears to be duplicate of other issue #58064. Please feel free to comment if this feedback is different one.

Thank you

[2020-06-29 17:20] #58065 closed

[2020-06-29 17:23] KranthiPakala-MSFT commented on #58069
@forsajt
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-29 17:34] crisansou opened #58079 "How to get ACL permissions from file system?"
Hi,

Is there a function to return ACL permissions from a file system? The get_access_control function only works with directories and files, for example, file_system_client.get_directory_client(i.name).get_access_control()

Best regards,
Cristina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12220c1c-ebce-cf63-0ef7-4

[2020-06-29 17:36] SaurabhSharma-MSFT commented on #58039
@MakarovIlya944 Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-29 17:40] Calvin-Yuhui-Liu opened #58080 "Does "API key" equals "secret"?"
Is the API key recorded in that last step the **secret** in this step? If so can we use the same term so it's easier to understand?
![image](https://user-images.githubusercontent.com/42446782/86036903-6cb1bb00-b9f3-11ea-81cd-5c05d5fc8772.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db8986-3f26-82e2-8985-69f06b

[2020-06-29 17:41] ecfan commented on #58035
@Sotades and @MayankBargali-MSFT: Thanks, I also lowercased "logic apps" to match the grammar changes in this PR for consistency.

[2020-06-29 17:41] SatishBoddu-MSFT commented on #57897
@rgamage I have assigned the issue to the content author @kgremban for further review and update the doc as appropriate.

[2020-06-29 17:42] cweining commented on #57976
@itsjusth - There are instructions here for enabling Application Insights Snapshot Debugger from an ARM template: https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-appservice#azure-resource-manager-template
Please let us know if you have other questions.

[2020-06-29 17:45] Grace-MacJones-MSFT commented on #58078
Hi @dsi28,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-29 17:47] Grace-MacJones-MSFT commented on #58077
Hi @richmhouse, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-29 17:48] Grace-MacJones-MSFT commented on #58057
Hi @m-sterspace, Thank you for the detailed feedback. We are currently investigating and will update you when we have accurate information to provide.

[2020-06-29 17:50] SadiqhAhmed-MSFT commented on #57753
@o-l-a-v We will now proceed to close this thread now. Feel free to reply to my post if need further assistance in this matter.

[2020-06-29 17:51] #57753 closed

[2020-06-29 17:53] SadiqhAhmed-MSFT commented on #57674
@tfitzmac For further assistance.

[2020-06-29 17:59] SadiqhAhmed-MSFT commented on #58050
@gmantri-ais Thanks for the question! We will review this request and get back to you soon.

[2020-06-29 17:59] rgamage commented on #57897
Thank you.  Regarding the requesting of a CA-signed certificate,
specifically I would like to know what the Common Name should be, as that
is a required field when requesting a certificate.  Should we use the url
of the IoT Hub?

Thanks,
Randy

On Mon, Jun 29, 2020 at 10:41 AM SatishBoddu <notifications@github.com>
wrote:

[2020-06-29 18:10] MohamedRadwan-DevOps opened #58081 "I have created a video with animation that shows step by step for all information in this document"
While the document is great but I think having a video that shows all the steps are good too.
So, I have created a video that walks through all the steps in the document. Also, here a GIF that animates the workflow inside the video.
Here is the video:
[https://youtu.be/cLf3nAiGG3Q](https://youtu.be/cLf3nAiGG3Q)

![Azure Data Factory CICD Workflow](https://user-images.githubusercontent.com/14263956

[2020-06-29 18:12] MishalValiyakath opened #58082 "Workarounds to add root domain (contoso.com) CNAME mapping to the traffic manager without using redirect in the application."
Please let me know if there are any workarounds to add root domain (contoso.com) CNAME mapping to the traffic manager without using redirect in the application. Thanks in advance.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ba9fc3-15e0-d154-b4b7-411c1e478efa
* Version Independent ID: 8c78d93a

[2020-06-29 18:24] djpmsft commented on #58081
Hey @MohamedRadwan-DevOps ,

This is awesome! I'm watching your video and its great to see. We have some video resources available on our YouTube channel, but your video is great. Do I have permission to share on ADF social media?

Thanks,
Daniel

Closing this as its not a doc issue (but lets continue to chat)

#please-close

[2020-06-29 18:24] #58081 closed

[2020-06-29 18:31] nitinme commented on #57856
@GiftA-MSFT Yes, it should be "Bring Your Own Storage". I am making the change now.

[2020-06-29 18:31] speers-cbx commented on #13042
Mine is also grey, is this unexpected?

[2020-06-29 18:32] hamiltonha commented on #57783
@JamesTran-MSFT updating: https://github.com/MicrosoftDocs/azure-docs-pr/pull/120536

[2020-06-29 18:33] GiftA-MSFT commented on #58070
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:34] GiftA-MSFT commented on #58071
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:34] YutongTie-MSFT commented on #57953
@j-martens Hi Josee, do you know someone who can help with this part? This is a document request for AML notebook related to IoT edge. Thanks a lot.

[2020-06-29 18:34] SadiqhAhmed-MSFT commented on #58050
@gmantri-ais You can run up to 300 replications simultaneously at a project level. So, it is not 300*10.
To clarify - That’s for VMware agentless migration only. Agent-based VMware migration and Hyper-V migration have no limit on number of VMs replicating at the same time.

Hope this answers your question!

[2020-06-29 18:34] GiftA-MSFT commented on #58072
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:36] GiftA-MSFT commented on #58073
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:36] hansenms commented on #25484
When you are using the same Azure AD tenant for control plane and data plane access, we now recommend that you use Azure RBAC for configuring access:

https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac

If you look at the greyed out box, there is a note about that underneath with a link for for more information.

[2020-06-29 18:36] GiftA-MSFT commented on #58075
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:37] GiftA-MSFT commented on #58076
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-29 18:39] nitinme commented on #57856
@aahill is looking into this and this should get fixed soon.

[2020-06-29 18:52] seangriffin2 commented on #57254
@BryanTrach-MSFT - Did you guys uncover anything? Thanks for checking into this!

[2020-06-29 18:54] j-martens commented on #57953
@YutongTie-MSFT - Gopal Vashishtha & Suresh Kotla

[2020-06-29 19:01] mmacy commented on #53882
@andrewcrayden Hi Andrew, thanks for the input. The original sample had several functionality issues and the .NET Core API sample it depended on was deprecated. When we refactored it, the decision was made to sync to Node.js for both the web app and the API to keep the maintenance responsibilities under one roof so their chances of getting out of sync are much lower.

We most certainly will look a

[2020-06-29 19:01] #53882 closed

[2020-06-29 19:01] YutongTie-MSFT commented on #57966
@kristapratico Thanks for the feedback again, I have created a PR to fix it. You should see the change soon.

[2020-06-29 19:06] JasonWHowell commented on #57472
#please-close

[2020-06-29 19:06] #57472 closed

[2020-06-29 19:07] TravisCragg-MSFT commented on #57630
@jasonphillipsofkroger It looks like you are correct, a second record will be needed to access the kudu console.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-29 19:10] kenwith commented on #55171
The tool for the article is no longer valid. I removed the article and updated references to point to ports here:  https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-add-on-premises-application#open-ports

[2020-06-29 19:10] kenwith commented on #55171
#please-close

[2020-06-29 19:10] #55171 closed

[2020-06-29 19:13] cequencer commented on #56762
Thank you for confirming that the "autolog()" Python API does not exist for mlflow.h2o as this point in time.
I originally raised this discrepancy because it seems there were many other 3rd party MLflow model flavor packages that supports this Python API funciton, so I naturally assumed that would apply to all subsequent MLflow model flavors.

It seems this assumption is not true as user will have

[2020-06-29 19:13] udlose opened #58083 "Update for integration with Microsoft.Identity.Web nuget"
Finally, the `Microsoft.Identity.Web` nuget package has been made available.  The documentation should be updated to include instructions for implementing Authentication using this nuget package - https://github.com/AzureAD/microsoft-identity-web/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-b

[2020-06-29 19:16] zr-msft commented on #41374
Thank you for the feedback @rajdhandus

The most recent API reference show these properties:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2020-04-01/managedclusters#managedclusterloadbalancerprofile-object

#please-close

[2020-06-29 19:16] #41374 closed

[2020-06-29 19:16] YutongTie-MSFT commented on #57953
@gvashishtha Could you please help?

[2020-06-29 19:23] reinux commented on #57518
Sorry for the late reply. Yes, please go ahead and close.

I've switched to IS4 for the time being. I'm still having a hard time wrapping my head around all the moving parts in AAD/B2C.

Thanks. Looking forward to it!

[2020-06-29 19:24] Mike-Ubezzi-MSFT commented on #58038
@trandev The alerting available in the Azure Portal is limited to a subset of metrics. The performance condition/issue pattern you are looking for is 'Locking' and can be used to trigger an alert through Azure Monitor. Please see: [Intelligent Insights](https://docs.microsoft.com/en-us/azure/azure-sql/database/intelligent-insights-use-diagnostics-log) on the available event patterns and structure

[2020-06-29 19:28] AjayKumar-MSFT commented on #57053
@pnarsi, We have pushed the requested changes. The document reflects the changes. Thanks again for taking time to share your feedback.

[2020-06-29 19:28] #57053 closed

[2020-06-29 19:33] #57966 closed

[2020-06-29 19:34] YutongTie-MSFT commented on #57963
@PatrickFarley Hi Patrick, as we discussed, I have no access to the repo. Please help at this moment and I will figure out for similar scenario. Thanks.

[2020-06-29 19:37] laurenhughes commented on #57269
@asubmani No, the managed identities are not recreated during node image upgrade. Managed identities being removed from VM scale sets is a bug that the AKS team is currently working on. A note has been added to the node image upgrade doc and will be live in a few hours. Thanks!

#please-close

[2020-06-29 19:37] #57269 closed

[2020-06-29 19:38] ab-aayers commented on #47255
Similar situation and context:

- added CA weeks after deploying the application to users.

- Clients are domain joined and workplace joined (not Hybrid).

No entries in the logins pane, the policy only went into enforcement 3 days ago at the time of this post.  CA is configured to grant on MFA or "Device Marked as Compliant."
Even in other CA Apps if there is no visible-to-the-user challenge we s

[2020-06-29 19:39] MohamedRadwan-DevOps commented on #58081
Hey @djpmsft
Thank you so much for your feedback! I am happy you like it.
Sure, it will be my pleasure!

Best Regards
Mohamed

[2020-06-29 19:50] TravisCragg-MSFT commented on #58041
@nicolasevens can you give more information on what exactly you are looking for? Azure Bastion gets its permissions from RBAC, and [the required permissions are listed Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-troubleshoot-vpn-point-to-site-connection-problems).

Azure Bastion uses the portal to access VMs. What other ways are you referring to?

[2020-06-29 19:54] saleighton commented on #50773
Thanks for that info, @HasanAboShally-MSFT Can you explain what a developer should do in order to-pre-scan any files being uploaded to blob storage?

[2020-06-29 20:17] tbmccg opened #58086 "Looks like the enterprise app is simply called "Intacct" now, rather than "Sage Intacct". Searching for the Enterprise App and typing "Sage Intacct" will give you zero results."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2809f192-e944-902e-db51-149939878611
* Version Independent ID: 2d788b57-9c1a-3124-690f-4469bc552cee
* Content: [Tutorial: Azure Active Directory integration with Sage Intacct](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/intacct-t

[2020-06-29 20:20] JamesTran-MSFT commented on #58083
@udlose
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-06-29 20:21] RichardSlater opened #58087 "Requirements for a CA Signed Token Signing Certificate"
What does Azure Active Directory require in terms of a X.509 certificate issued by a public CA such as DigiCert, GlobalSign, Verisign, etc?  I have been unable to find any concrete examples of what type of certificate is required, will a Code Signing certificate be sufficient as that allows Digital Signatures, are there other capabilities that a X.509 certificate requires for propper operation wit

[2020-06-29 20:21] JamesTran-MSFT commented on #58086
@tbmccg
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-06-29 20:34] mike-urnun-msft commented on #58053
Hello, @blueelvis - Thank you for your feedback. For #1, the term refers to the duration of the long-running single execution: [Longer run duration](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#longer-run-duration)

@eamonoreilly @alexkarcher-msft could you share your insights and comment on #2 and #3 pls?

[2020-06-29 20:34] DavidSchrag opened #58088 "Outdated screen shots"
In Step 4 under https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/bamboo-hr-tutorial#configure-azure-ad-single-sign-on, the screen shot does not match the Azure portal. Reply URL (Assertion Consumer Service URL) is now a required field. Based on the suggested patterns, I believe the value should be https://<company>.bamboohr.com/saml/consume.php (for a US company).

---
#### Docume

[2020-06-29 20:41] mike-urnun-msft commented on #58011
@jakub-22 Thanks again for your feedback! As the next step, we have assigned this issue to the author to review further and take the next course of action.

[2020-06-29 20:42] erikanderson opened #58089 "Automation for creation of B2C Diagnostic Settings"
We have gotten through the service provider/delegation step in a semi automated fashion and are now looking at automating the creation of the Diagnostic Setting. Since we are already using python sdk we have been looking at:

https://docs.microsoft.com/en-us/python/api/azure-mgmt-monitor/azure.mgmt.monitor.monitormanagementclient?view=azure-python

The question I have there is how to get/set diagn

[2020-06-29 20:47] mike-urnun-msft commented on #58051
@syedhamjath Thank you for your feedback! We will review and update as appropriate.

[2020-06-29 20:48] adhamod opened #58090 "Reference Docs link at the bottom links to Computer Vision 2.0 instead of 3.0"
The Next Steps section should update to point to the latest version.
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/vision-api-how-to-topics/howtocallvisionapi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46e0ccf9-a032-6201-f0c3-e2424404aa35
* Version Independent ID: 42ca4fb4-273d-1fb9-9e4f

[2020-06-29 20:48] jmprieur commented on #58083
Thanks for your feedback
It's definitely on our backlog. We are finalizing public API changes. When that's done we'll update the articles.

CC @mmacy

[2020-06-29 20:50] erhopf commented on #57449
We're in the process of updating docs and @crisansou is unblocked - #please-close

[2020-06-29 20:50] #57449 closed

[2020-06-29 20:55] pinkwerks opened #58091 "The example is outdated and doesn't work with azure flow for registering apps"
I'm trying to follow along on this but all of the instructions are for an outdated flow. App registration now occurs at azure.com. Unfortunately the words and screenshots are out of date. Especially chapters 1 & 2. I'm unable to complete the example.

I'm really stuck on the details of what I'm supposed to enter for my "Package SID" & "Security Key". It's very confusing that I can't find those spe

[2020-06-29 20:56] shubDhond commented on #36458
Hi all, I am the primary developer for deployment slots and I will address your concerns regarding setting WEBSITE_CONTENTSHARE, and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING:

Here is the official guidance:

WEBSITE_CONTENTAZUREFILECONNECTIONSTRING: This should always be set as it tells app service that you are using azure files for content storage.

WEBSITE_CONTENTSHARE:
- This can now be omitted

[2020-06-29 20:57] xavbx33 commented on #57570
it seems that this message appears when we try to retrieve data for a long period ie 36 months, I will try to reduce this to 12 months

[2020-06-29 20:58] mumian commented on #58042
@steveculshaw - I will update the article to match the updated template.

[2020-06-29 21:03] udlose commented on #58083
@jmprieur is there any SWAG you can provide on when the Release (non-preview) version of Microsoft.Identity.Web might be publicly available?

[2020-06-29 21:03] mumian commented on #58036
@abhinavdawra - You can use SAS token.  See https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#use-external-scripts.

#please-close

[2020-06-29 21:03] #58036 closed

[2020-06-29 21:06] dlepow commented on #57852
@przemolb - This is great feedback. I've noted your comments and agree the IAM content would be useful to include. I'll keep this item open for an upcoming update of this content.
#in-process

[2020-06-29 21:06] TravisCragg-MSFT commented on #58054
As is discussed in this document, ALL traffic that flows over a NSG will be logged. Service Endpoints uses routes to direct traffic internally to the destination, but any NSGs that are on the NICs or Subnets that send traffic out to Service Endpoints should be logged as an outbound flow.

For your APIM scenario, any traffic which crosses a NSG should be logged. If you have a NSG on the subnet that

[2020-06-29 21:19] #41442 closed

[2020-06-29 21:20] zr-msft commented on #41442
thank you @ckbargavi  for the feedback.

The article has been updated with your feedback and should be available soon.

[2020-06-29 21:23] SaurabhSharma-MSFT commented on #57385
@felickz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-29 21:23] #57385 closed

[2020-06-29 21:29] MarileeTurscak-MSFT commented on #58088
@DavidSchrag
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-29 21:42] KranthiPakala-MSFT commented on #57933
@MikhailTymchukFT Please refer to below article to monitor and see if that helps.

- [Monitor your Azure Synapse Analytics SQL pool workload using DMVs](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor))

And below article to scale up/down:

- [Scale compute in Azure Synapse Analytics using T-SQL](https://docs.microsoft.com/en-us/azure/s

[2020-06-29 21:42] EklipZgit commented on #36268
FYI for anyone that stumbles upon this the way I did:

You cannot reuse a resource group for a linux App Service Plan (deleted or not) that EVER HAD a windows function in it for quite some time (possibly forever) even after deleting the whole resource group.

Try a new resource group name if you are getting this error, chances are you may have accidentally spun up the resource as a windows funcapp

[2020-06-29 21:46] JamesTran-MSFT commented on #57809
Closing since we didn't receive any updates regarding the above "asks".

If you would like to continue the discussion feel free to reach out on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) or create a new issue.

[2020-06-29 21:46] #57809 closed

[2020-06-29 21:51] FoonlyToons commented on #57530
Thanks, Iain. The Win10 Home sign-in screen was what I was looking for. I'll have to look more into it to see how it functions when the net is down (cached login capability).

Just make sure that the product line people know that MFA is an industry acronym, and should not be used as a product name by itself.

Foon

[2020-06-29 21:52] jeevansd commented on #58088
@v-nagta Can you please update this article? @chetansriv for tracking.

[2020-06-29 21:54] franzinc opened #58094 "sample az command fails"
[code]

with

`az storage account create: error: ambiguous option: --encryption could match --encryption-services, --encryption-key-type-for-table, --encryption-key-type-for-queue
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ace770-a027-43a6-6b39-d95f3d9686fe
* Version Independent ID: 2ffaacd1-87f8-3bfa-48fb-a545

[2020-06-29 21:54] franzinc commented on #58094
I assume it should have been `--encryption-services`

[2020-06-29 22:00] MashaMSFT commented on #56961
Hi @NDSoul, thanks for contacting Microsoft! My apologies for the delay. Would you mind clarifying what you're asking for?

Are you asking that we add a link to this section: https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-transactional-overview#with-failover-groups from this tutorial? https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-betwe

[2020-06-29 22:01] ajfleming1 opened #58095 "URI problem"
When I try the custom URI part I get the following error. What’s the best way to debug this to figure out where I am going wrong?

AADB2C90047: The resource 'https://identityexperienceframework.azurewebsites.net/home/unified' contains script errors preventing it from being loaded.
Correlation ID: cf99bccd-2790-4c12-a6de-9c06fe4d4dec
Timestamp: 2020-06-29 22:00:58Z

---
#### Document Details

⚠ *Do

[2020-06-29 22:06] TravisCragg-MSFT commented on #58056
@vishwanath-uppala IP Groups in Azure Firewall are currently in Public Preview, and unfortunately I cannot give a date for GA at this time.

[2020-06-29 22:07] MashaMSFT commented on #56997
Hi @CODevOp , thanks for contacting Microsoft! For the purpose of this tutorial, using the GUI is provided as the simplified method of creating the publication. However, yes, it is possible to create the publication us sp_addpublication , sp_addlogreader_agent and sp_addpublication_snapshot.

I hope that helps and please let us know if you have any further questions.

Thanks!
Masha from the SQL Do

[2020-06-29 22:11] TravisCragg-MSFT commented on #58067
@rohitrdua The last screenshot you posted typically results in a connection. Did you press 'Connect' or 'Cancel'?

the First Screenshot you posted is typically what happens when an NSG is blocking RDP access. Verify that NSGs allow port 3389 on NSGs that are on the NICs of the VM, or on the subnet that the VMs are in. If there is no NSG attached, all traffic is allowed.

[2020-06-29 22:11] MikhailTymchukFT commented on #57933
@KranthiPakala-MSFT  Exactly what I need, thanks!

[2020-06-29 22:11] #57933 closed

[2020-06-29 22:12] danabrash opened #58096 "Does not include information for updating settings on storage accounts directly"
This article appears to show how to configure a client connection to storage using TLS 1.2.   I do not find the setting change to update the storage account's minimum TLS version settings, or even just to audit which storage accounts are at which level.  This article keeps coming up as the top link for my queries, and is linked directly from the Azure portal, but does not deliver.

Please update t

[2020-06-29 22:22] TravisCragg-MSFT commented on #57715
@CharmanderJieniJieni This is a [known limitation for Azure Private Endpoints](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations), traffic destined for private endpoints will not cross the NSG.

If you are sending outbound traffic from a VM, and that crosses an NSG on the NIC or the subnet that the NSG is in, you should see the outbound flow.

We will now pr

[2020-06-29 22:22] #57715 closed

[2020-06-29 22:26] DanielLarsenNZ opened #58097 "Timeframe between "Early" and "Late" upgradePreference"
What is the minimum amount of time a customer can expect between an "Early" and "Late" `upgradePreference`? Please add some working around the timeframes involved here so that customers know how long they have to react to breaking changes in the Early batch.

https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#upgrade-preference

---
#### Document Details

⚠ *Do not edit th

[2020-06-29 22:29] JimacoMS3 commented on #45264
Hi @perkops -- thanks again for your feedback. I checked with engineering and tested myself as well. You're absolutely correct. I've updated the [Tags and properties format](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins#tags-and-properties-format) section with the correct values. Please note that, in addition to the nesting level being bumped to 10, the key size is n

[2020-06-29 22:29] JimacoMS3 commented on #45264
#please-close

[2020-06-29 22:29] #45264 closed

[2020-06-29 22:41] jischell-msft opened #58098 "Instructions will lead to being vulnerable to CVE-2020-2021"
Security Advisory
https://security.paloaltonetworks.com/CVE-2020-2021

Step 4, SubStep c
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/paloaltoadmin-tutorial#configure-palo-alto-networks---admin-ui-sso

Instructs users to 'clear the Validate Identity Provider Certificate' check box. This is one of the mitigating factors to CVE2020-2021

---
#### Document Details

⚠ *Do not edit

[2020-06-29 22:42] KranthiPakala-MSFT commented on #57999
@VitalyMCT Thanks for the feedback! We have assigned the issue to the content author to update the document as appropriate.

Hi @nabhishek , looks like this doc needs update with latest UI images. Could you please have a look at it, since I don't have access to update images - Thank you.

[2020-06-29 22:45] HuaTang92 opened #58099 "Need clarification about whether it's PARAMETERIZED SQL that LINQ translates to?"
[Enter feedback here]
Hi team,

Could we clarify when LINQ transits to SQL, whether it's PARAMETERIZED SQL that it translates to?
And if possible, could we add comparison between LINQ-to-SQL and Parametrized SQL?

Thanks,
Hua

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af26f57-f473-916a-bd4d-0918ef9eefcd
* Version

[2020-06-29 22:58] RyanHill-MSFT commented on #57960
Hi @LucaOtto, make sure you didn't for the preceding '/' in `source /antenv/bin/activate`. For you line 10 error, make sure the `from django.core.management...` is property indented.

[code]

Hope this helps. Let me know if you run into further problems.

[2020-06-29 23:01] JasonWHowell commented on #57990
There is no feedback here, so I'm assuming it was an accident. Please reopen if there is a question. #please-close

[2020-06-29 23:02] #57990 closed

[2020-06-29 23:03] msaburnley commented on #51604
Thanks for your question. It looks like @mrmueller confirmed that some providers have to leave the name field empty. I am going to close this github issue. Let us know if you have any other questions. Thanks! #please-close

[2020-06-29 23:03] #51604 closed

[2020-06-29 23:11] Mike-Ubezzi-MSFT commented on #57703
@stevestein @CarlRabeler The Azure CLI script in this doc needs to be updated to Gen5, as Gen4 is being retired. This means the `--family` and `--capacity` values passed in the script should either be updated to `Gen5` and `2` or have variables be set.

**Current:**
`--edition GeneralPurpose --family Gen4 --capacity 1`

I went to make this change but I am not able to find the specific script to up

[2020-06-29 23:20] DerekHerman-MSFT commented on #58094
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-29 23:23] xiaojul commented on #57813
We are using a embedded article for "Create a Visual Studio project" section. The owner of "cognitive-services-speech-service-quickstart-uwp-create-proj.md" should take a look

[2020-06-29 23:24] cpenner312 opened #58101 "Example gives error in"
This example doesn't work. When launching the page at the end of the example, an error diagnostics page is displayed.

Using the diagnostic link provided, the following errors were in the startup logs.

2020-06-29T22:42:58.922Z INFO  - Starting multi-container app..
2020-06-29T22:42:58.922Z ERROR - Exception in multi-container config parsing: YamlException: (Line: 4, Col: 1, Idx: 51) - (Line: 4, C

[2020-06-29 23:26] msaburnley commented on #52351
Hey @tarekd all the links on the page are working. I am going to close this github issue. If you have any other questions let us know. Thanks! @please-close

[2020-06-29 23:26] #52351 closed

[2020-06-29 23:27] Mike-Ubezzi-MSFT commented on #57842
@ealkalai Thank you for the additional detail. A good feature request and something to add to the following: [Better support for automation of installation in ARM Template / PowerShell ](https://feedback.azure.com/forums/597976-azure-database-for-postgresql/suggestions/35452474-better-support-for-automation-of-installation-in-a)
We will now proceed to close this thread. If there are further questi

[2020-06-29 23:27] #57842 closed

[2020-06-29 23:32] dmgonch opened #58102 "'Exclude from latest' cannot be updated on a shared gallery image version"
This page claims that 'Exclude from latest' property of an image version can be updated but https://docs.microsoft.com/en-us/cli/azure/sig/image-version?view=azure-cli-latest only mentions this properly to be settable on a version creation. And on Azure portal there is no way to change a value of this property for an existing image version.
---
#### Document Details

⚠ *Do not edit this section. I

[2020-06-29 23:35] xiaojul commented on #57814
Yes. Approved.

[2020-06-29 23:39] msaburnley commented on #53743
Hey @aleazofeifam thanks for your question. I addressed this issue also in a separate email thread. There is no other place as far as what we can see on the documentation side. If you'd like, use this document to get support from an engineer regarding this issue: https://docs.microsoft.com/en-us/azure/active-directory/develop/developer-support-help-options. I am going to close this issue. Thanks!

[2020-06-29 23:39] #53743 closed

[2020-06-29 23:50] dcbrown16 opened #58103 "Changing bandwidth"
The item quoted below seems to imply that you can only change bandwidth using commands.

This page shows that you can do it through the Portal. Perhaps it would be best to revise that section and maybe add a link to this?
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-circuit-portal-resource-manager#modify

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-06-29 23:52] msaburnley commented on #53812
Hey @ezYakaEagle442 thanks for your question. This document is meant for beginners to get started with Azure AD. You can check out documentation here for more advanced users: https://docs.microsoft.com/cli/azure/ad/user?view=azure-cli-latest. I am going to close this pull request. Thanks! #please-close

[2020-06-29 23:52] #53812 closed

[2020-06-29 23:54] msaburnley commented on #53813
Hey @ezYakaEagle442 thanks for your question. This document is meant for beginners to get started with Azure AD. You can check out documentation here for more advanced users: https://docs.microsoft.com/en-us/cli/azure/ad/group?view=azure-cli-latest. I am going to close this pull request. Thanks! #please-close

[2020-06-29 23:54] #53813 closed

[2020-06-30 00:06] cahann commented on #55213
no customer response

#please-close

[2020-06-30 00:07] #55213 closed

[2020-06-30 00:12] JamesTran-MSFT commented on #58098
@jischell-msft
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-06-30 00:17] dargilco opened #58105 "These 2 sentences need to be rewritten"
Regarding these 2 sentences:

"This is not exactly the same as an example utterance so it is a good test to see if LUIS can learn what should be predicted with this intent.

The last query string parameter is query, the utterance query. This utterance is not the same as any of the example utterances. It is a good test and should return the OrderPizza intent as the top scoring intent."

Seems like

[2020-06-30 00:32] Grace-MacJones-MSFT commented on #57786
thanks for the update @abhilashmk.  We will now proceed to close this thread.

[2020-06-30 00:32] #57786 closed

[2020-06-30 00:37] msaburnley commented on #54720
Hey @tofusgh Thanks for your question. I'm looking into this and will reply to this when I receive an answer. Thanks!

[2020-06-30 00:45] hambster opened #58106 "This document didn't cover usage of Private Endpoint"
Any plan to update this document to include new Azure services like Private Endpoint/Link and other practices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500a2c86-b9f9-1e9a-1c22-3579450ba95b
* Version Independent ID: ce872fbb-7707-5ff3-e1f9-aa8c170553cc
* Content: [Securing PaaS Databases in Azure](https://docs.mic

[2020-06-30 00:48] SatishBoddu-MSFT commented on #57689
@str1ke-cw I have assigned the issue to the content author for further review and update the doc as appropriate. If there are further questions regarding this matter, please tag me in your reply.

[2020-06-30 00:55] StingyJack commented on #56990
Yes, the regular portal is portal.azure.com, and yes, the same thing happens on both. I do not see the tab, our network managers do.

[2020-06-30 00:55] kiwi-cam commented on #57650
That's exactly what I was looking for (and hoping not to find).

Could I suggest we add this limitation to the [Azure AD Connect: Supported topologies](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies) page?

[2020-06-30 00:56] msaburnley commented on #56605
Hey @ChrisAtMAF Thanks for your question and I'm looking into this issue.

[2020-06-30 01:01] msaburnley commented on #57349
Hey @Tiagojaduarte Thanks for your question. The Microsoft Identity Manager link is working now. I am closing this GitHub issue. Thanks! #please-close

[2020-06-30 01:01] #57349 closed

[2020-06-30 01:01] SaurabhSharma-MSFT commented on #58080
@Calvin-Yuhui-Liu Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 01:01] #58052 closed

[2020-06-30 01:02] SaurabhSharma-MSFT commented on #58087
@RichardSlater Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 01:03] RyanHill-MSFT commented on #58046
Hi @tanveerbadar you are correct in that there were steps missing. Assuming you're in the root directory of your csproj, you were missing was `dotnet publish --configuration Release --output .\bin\publish` and then `Compress-Archive .\bin\publish\* .\bin\app.zip`. You can then run your `az webapp deployment source config-zip --src .\bin\app.zip`

[2020-06-30 01:03] SaurabhSharma-MSFT commented on #58089
@erikanderson Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 01:04] SaurabhSharma-MSFT commented on #58095
@shashishailaj Thanks for your feedback! We will investigate and update as appropriate.