[2018-11-26 22:54] mike-urnun-msft commented on #18246
@saulcruz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-26 22:54] #18246 closed

[2018-11-26 22:56] JasonGT opened #19535 "Steps are out of date"
The steps for registering the web app and creating the policies are outdated as they do not match the forms on the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcf76a42-4ecb-63c9-8ca0-40af417006d7
* Version Independent ID: 34c4f58e-a6a9-ab8c-0721-c4b8c5e0248b
* Content: [Tutorial - Enable a web applicat

[2018-11-26 22:57] PatrickFarley commented on #16475
@SiliconOrchid , the team reports that the header should be present. I've tried the code in the doc myself and didn't get any errors.

[2018-11-26 22:59] sergaz-msft commented on #19499
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-26 22:59] #19499 closed

[2018-11-26 23:14] razvansalajan opened #19536 "Unlimited Collection minimum throughput 400 RU/s"
The Azure Portal is letting you now to create an unlimited container with a throughput of 400 RU/s.

![image](https://user-images.githubusercontent.com/6765070/49047438-4a5b1a00-f18c-11e8-8d13-a41df1152bf0.png)

The documentation shows a snippet with the range: [1,000 - 1,000,000 RU/s]

![image](https://user-images.githubusercontent.com/6765070/49047526-88f0d480-f18c-11e8-9867-a857c5df81b1.png)

1

[2018-11-26 23:14] SnehaGunda commented on #16946
@shivangipatwardhan2018 hope Milis response helps, Please use the 10250 port for now and we will update with the fix os release in the next version. We will now close this issue if you don't have any further questions. Feel free to reopen in case you need any help on this.

[2018-11-26 23:15] SnehaGunda commented on #16946
#please-close

[2018-11-26 23:17] alex-frankel commented on #19384
Hi @bernardmaltais the issue is that this function:

`deployment().properties.templateLink.uri`

is likely returning null. This is because when we deploy the template in a blueprint, we do the deployment inline, not as a linked reference so there is no templateLink associated with the deployment. You may be able to get around this by hardcoding the uri in the template or using a parameter that you

[2018-11-26 23:21] SnehaGunda commented on #19434
@GVerelst thanks for the feedback, I have submitted a fix to add the quotes.

[2018-11-26 23:23] SnehaGunda commented on #19434
#please-close

[2018-11-26 23:30] MicahMcKittrick-MSFT commented on #19384
Thanks @alex-frankel and @DCtheGeek!

@bernardmaltais let us know if that helps.

[2018-11-26 23:30] telke opened #19538 "Audio Stream Questions"
I understand the audio stream needs to be 16000 samples of PCM encoded single channel audio but I have a couple questions:

- Is the audio stream linear encoded?
- Is the audio stream big endian or little endian?
- Singed or unsigned?

Thanks,
-Craig-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f14a2df-a341-fdfb-6a

[2018-11-26 23:32] MicahMcKittrick-MSFT commented on #19529
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-26 23:32] YutongTie-MSFT commented on #17249
@carlosfbteixeira Thanks for confirming it. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-26 23:32] #17249 closed

[2018-11-26 23:33] MicahMcKittrick-MSFT commented on #11706
ping @rwike77  :)

[2018-11-26 23:34] YutongTie-MSFT commented on #15632
@dumnovnz Please see the post above.
@JasonWHowell Thanks for your update.

[2018-11-26 23:34] MikeDodaro commented on #19053
@lucasgros  The fix is published on Python Quickstart now: https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/quickstarts/python
If that resolves your issue, I'll add the same S9 info to quickstarts for other languages.

[2018-11-26 23:34] edirgarcia commented on #18523
Were you able to figure this out yet?
I see the same issue when trying to use this.

[2018-11-26 23:35] MohitGargMSFT opened #19539 "'Authentication Methods' Icon in Govt Cloud"
As pert GitHub issue #19313 opened by customer, below is reported  -
I cannot see the 'Authentication Methods' icon in the AAD portal.

I could not find any mention of it not being available in Gov in the variations section of this document:

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-securityandidentity#azure-active-directory

---
#### Document Detai

[2018-11-26 23:36] YutongTie-MSFT commented on #18849
@DaveVoyles My pleasure, please tell me if it fixes your problem.

[2018-11-26 23:38] MohitGargMSFT commented on #19539
@gsacavdm Please help address above query. The query is originally asked using this #19313  on another related document.

[2018-11-26 23:38] fleed opened #19540 "Connect remotely"
It is not clear if (and how) it is possible to connect to a (secured) one node cluster from a remote machine.
My final goal is to create a connection in Azure DevOps pipelines so that I can deploy applications as part of releases.
From my experiments, ServiceFabric only listens to the traffic on localhost (127.0.0.1).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-26 23:39] MohitGargMSFT commented on #19313
@dpravo I have created another document feedback #19539 on the [Azure Government Security + Identity](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-securityandidentity#azure-active-directory) document and assigned that to content author to provide further clarification on it.

[2018-11-26 23:39] razvansalajan opened #19541 "Unlimited Collection minimum throughput 400 RU/s"
More details in [Unlimited Collection minimum throughput 400 RU/s](https://github.com/MicrosoftDocs/azure-docs/issues/19536)
The [latest] version (2.1.2.0) of the emulator does not allow creation of an unlimited collection with 400 RU/s.

![image](https://user-images.githubusercontent.com/6765070/49048875-5bf2f080-f191-11e8-8db1-5a3a7c2e713a.png)

Do you plan to make an update ?

---
#### Document

[2018-11-26 23:40] MohitGargMSFT commented on #19314
@lestaat We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-26 23:40] #19314 closed

[2018-11-26 23:44] SnehaGunda commented on #19498
@karan1276 the PyDocumentDB SDK information, API docs, release notes are all available from the following doc:
* https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-python
* Here is the direct link to API reference docs: https://docs.microsoft.com/en-us/python/api/overview/azure/cosmosdb?view=azure-python

Let us know if you have any additional questions.

[2018-11-26 23:45] YutongTie-MSFT commented on #17582
@tysonn Hi Tyson, any idea about this post?

@Philippepaiola Thanks for your effort. IN THE MEANTIME, please see the guide at:
Internal:  https://review.docs.microsoft.com/en-us/help/contribute/?branch=master
External: https://docs.microsoft.com/contribute

Thanks again for your effort to Azure doc.

[2018-11-26 23:48] MarileeTurscak-MSFT commented on #19410
Hi @martinagrom

I tested this in my own lab and was able to access everything in Azure Information Protection with a user assigned only to the Security Administrator role. (See below screenshot.) Can you post a screenshot of what you see when you log in with that role and access Azure Information Protection when clicking on it from the search bar at the top? What exactly are you unable to access?

[2018-11-26 23:48] aljo-microsoft commented on #18694
@inkey

I've only seen this when someone attempted to use a Standard LB in front of both VMSS's. The right way to do this is to front each of them with different LB's, and front those LB with Traffic Manager.

[2018-11-26 23:49] SnehaGunda commented on #19464
@jdanyow Thanks for pointing out the issue, I submitted a fix to update the markdown table, PR referenced above. The changes should be live by EOD tomorrow. We will close this issue now. let us know if you have additional questions.

[2018-11-26 23:50] SnehaGunda commented on #19464
#please-close

[2018-11-26 23:50] lucasgros commented on #19053
@MikeDodaro, in my expericence, this documents indeed how one must do to enable the Visual Sarch API calls.
A few days ago I also updated the associated tutorial - azure-docs/articles/cognitive-services/bing-visual-search/tutorial-bing-visual-search-single-page-app-source.md - to work in this context where 2 separate BingSearchAPI need to be configured to use both Image Search and Visual Search on

[2018-11-26 23:50] #19053 closed

[2018-11-26 23:52] MicahMcKittrick-MSFT commented on #18694
Thanks @aljo-microsoft! That is great feedback.

@inkey so doing as Alex mentioned should help. Regardless, my offer for a support request is on the table if needed :)

[2018-11-27 00:06] SnehaGunda commented on #18146
@nhwilly and @colinrippeyfinarne Thanks for the detailed explanation, wrt to permissions, Cosmos DB currently operates in a different model than the relational databases, there aren't specific permissions to execute stored procedures only. This feature is in our backlog but we may not get to it anytime soon.

You can help us prioritize this feature by voting or logging a request in the Uservoice:

[2018-11-27 00:07] kazshi commented on #19503
@AjayKumar-MSFT Thanks for your clarification.

[2018-11-27 00:07] #19503 closed

[2018-11-27 00:11] YutongTie-MSFT commented on #19538
@telke Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@fmegen Hi, is there anywhere we can find the details of the APIs? If not, can you please add more details of it? Thanks a lot!

[2018-11-27 00:14] Grace-MacJones-MSFT commented on #19532
Hi @DavB-cs, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 00:16] Grace-MacJones-MSFT commented on #19524
Hi @CODevOp, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-27 00:19] Adam-Smith-MSFT commented on #19531
@scsummers Thank you for the valuable feedback,we are investigating the issue.

[2018-11-27 00:20] TravisCragg-MSFT commented on #19505
@dcbrown16 I am unsure of the behavior in that case. I will test it and get back to you.

[2018-11-27 00:23] GraemeMalcolm opened #19542 "How do I find the endpoint URL for a Custom Vision Trial?"
The SDK has been recently updated, and now the **TrainingApi(training_key)** class has been replaced by the **CustomVisionTrainingClient(training_key, endpoint=endpoint)** class.
I'm using a trial Custom Vision account, and while I can find the prediction key for my account in the customvision.ai portal, I can't see where to find the endpoint URL; which is now needed to create a new project via th

[2018-11-27 00:39] femsulu commented on #17626
assigned to Vic.

[2018-11-27 00:40] Mike-Ubezzi-MSFT commented on #19541
@razvansalajan Thank you for the detailed feedback. We are investigating and will update this issue when our research is completed.

[2018-11-27 00:44] samsmithnz opened #19543 "Some screenshots would have helped to improve understanding of these concepts"
Some screenshots would have helped to improve understanding of these concepts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5573bc6e-0482-2240-2d07-2d0f54ccf5eb
* Version Independent ID: dc3d8867-9cf2-80b0-9b96-f8f71de0fb60
* Content: [Tutorial: Deploy your ASP.NET Core app to Azure Kubernetes Service (AKS) by using A

[2018-11-27 00:45] MohitGargMSFT commented on #19401
@JasonGT Please note that it did work for me without an issue.

![s1](https://user-images.githubusercontent.com/32749549/49050950-9b720a80-f19a-11e8-8ca1-cec15d093c6f.JPG)

[2018-11-27 00:46] Mike-Ubezzi-MSFT commented on #19541
@SnehaGunda Is the Cosmos DB Emulator going to updated to have similar functionality?

[2018-11-27 00:50] MicahMcKittrick-MSFT commented on #19501
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 00:50] MicahMcKittrick-MSFT commented on #19508
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 00:51] MicahMcKittrick-MSFT commented on #19514
Thanks for the question! We are investigating and will update you shortly.

[2018-11-27 00:56] kobulloc-MSFT commented on #19348
@imeya In general, you will see latency increase the further your Application Insights resource is from your app (receiving telemetry) or you (reporting telemetry).  For some Application Insights features, like [Analytics](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics) or [Live Metrics Stream](https://docs.microsoft.com/en-us/azure/application-insights/app-insi

[2018-11-27 00:56] #19348 closed

[2018-11-27 01:02] BorisB2015 commented on #19430
Docs were updated. Should be live with the next publish.

[2018-11-27 01:09] BorisB2015 commented on #19430
#please-close

[2018-11-27 01:09] femsulu commented on #19488
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-11-27 01:09] #19488 closed

[2018-11-27 01:10] Karishma-Tiwari-MSFT commented on #19430
@BorisB2015 Thanks for the update.
@v-eslop Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-27 01:10] #19430 closed

[2018-11-27 01:13] SingeCore commented on #19327
Thank you. I've debugged it myself.

[2018-11-27 01:14] Alberto-Vega-MSFT commented on #19523
@evan-morris Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 01:31] MicahMcKittrick-MSFT commented on #19540
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 01:31] baharw commented on #19208
@darobs thank you for the thoughtful response. How does one go about doing this on IoT devices that are hard to access. SSH? How does one do it a scale?

Thank you in advance for any insights.
-Bahar

[2018-11-27 01:38] anwather opened #19544 "Service map in Australia region"
Can you make Service Map available to Log Analytics workspaces in Australia regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f8ee3c-f9c2-91c6-1ea0-48754de93979
* Version Independent ID: bca92218-863f-2ec9-82a2-fcf277b75c14
* Content: [Configure Service Map in Azure](https://docs.microsoft.com/en-us/azure/azure

[2018-11-27 01:43] barclayn commented on #13139
@palusik and @abhiTechcs I was told “Coming soon”  so unfortunately, I have nothing to share beyond that at this point.

[2018-11-27 01:45] jeevansd commented on #13282
@tico24 The doc should get updated by today sometime. So please check the doc tomorrow and you should see the instructions on how to configure this.

[2018-11-27 01:47] rolyon commented on #19482
Hi @DeanGross
In Azure, you have roles for Azure resources and roles for Azure Active Directory. The Built-in roles for Azure resources article lists all the built-in roles for Azure resources:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
The Administrator role permissions in Azure Active Directory article lists all the administrator roles for Azure Active Direct

[2018-11-27 02:02] deosandeep commented on #9835
Yes, we expect username to be entered in lowercase.

[2018-11-27 02:09] obrien-j opened #19545 "Lack of information regarding how to list/get existing indexes."
Not entirely clear if you support list_indexes/index_information just yet, but it'd be great if on this page you were able to at least articulate what the state of indexing-parity is with mongodb.

I've been able to create indexes just fine using the pymongo driver, but no luck yet discovering the indexes I've created.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-11-27 02:16] deosandeep commented on #18380
We did add support for SLES version 12 and openSUSE version 42.3. We are working on updating our documentation and Azure portal experience to include the Azure AD logon option when you create a Linux VM in Azure using the above mentioned SLES and openSUSE versions. In the meantime you can install the Azure AD login VM extension on your SLES or openSUSE Azure VMs, using the instructions documented

[2018-11-27 02:17] OOPMichael commented on #18810
@CelesteDG here's the link to the PS https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermadapplication?view=azurermps-6.13.0 (looks like the 6.13.0 Version is the earliest supported.)

[2018-11-27 02:39] Karishma-Tiwari-MSFT commented on #9835
@deosandeep Thank you for confirming. Can you please update the doc with this information. Thanks :)

[2018-11-27 02:39] jason-j-MSFT commented on #19513
@yimialejoh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 02:40] jason-j-MSFT commented on #19521
@alpinedelight
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 02:48] kobulloc-MSFT commented on #19460
@mcurko Usually not having failures is a good thing :)  If you need to simulate an exception for testing purposes on you ASP.NET app you can try generating a 500 error using:

`throw new Exception();`

Once you get an exception, I've verified that the documentation is correct.

![image](https://user-images.githubusercontent.com/37556655/49055249-b9943680-f1ab-11e8-9333-a4651870fee6.png)

We are go

[2018-11-27 02:48] #19460 closed

[2018-11-27 02:54] v-maroge opened #19546 "Does the resource group for Network Watcher have to be exclusively for the instance?"
When configuring Network Watcher with PowerShell, you can assign an already created Resource group, but can this be any resource group that has other Azure resources in it, or does it have to be exclusively for Network Watcher?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66aa627-50af-2e6f-2151-b24105e4032b
* Versio

[2018-11-27 02:56] terrylan commented on #13014
Please close

[2018-11-27 03:38] fowl2 commented on #17655
@jason-j-MSFT put another way - why is the default cap set so low?

[2018-11-27 03:48] MohitGargMSFT commented on #19404
@mwanchap Please note that all the values in the document for connection string mentioned within {}, need to be replaced with a value. Like in below all the values - {AppId},{TenantId},{Thumbprint},{LocalMachine or CurrentUser}, have to replaced with a required value without {}.

RunAs=App;AppId={AppId};TenantId={TenantId};CertificateThumbprint={Thumbprint};
      CertificateStoreLocation={LocalMa

[2018-11-27 03:51] MohitGargMSFT commented on #19426
@SEI-Billing Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-11-27 03:53] MohitGargMSFT commented on #19449
@alexli1984 Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please mention the MSDN thread URL here and I will make sure you are getting necessary help on it.

[2018-11-27 03:55] pisees opened #19547 "ClusterProtectionLevel not documented here"
Hi,

ClusterProtectionLevel is not documented here. Can you add?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 429e2d0f-d5da-8972-2890-52081eee3330
* Content: [Change Azure Service Fabric cluster settings](https://docs.microsoft.com/en-us/azure/service-fab

[2018-11-27 03:58] MohitGargMSFT commented on #19535
@JasonGT Please note that I am able to correlate the steps mentioned in the document with Azure Portal. Request you please help with specific step which you find out of date so that I could help around it.

[2018-11-27 03:59] dcbrown16 opened #19548 "Network availability measures"
Are there some kind of availability measures taken to protect against faults with the infrastructure roles?
In other words, does the quote below mean the IPs could change due to some kind of VM failure? Or is it supposed to mean they won't change if we don't intentionally take the ASE down?
"These IP addresses will not change so long as your ASE stays up and running."

---
#### Document Details

⚠

[2018-11-27 04:02] SnehaGunda commented on #19489
@freakyfriday Query results returned by the Table API aren't sorted in partition key/row key order as they're in Azure Table storage is the right statement.

The  https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide doc was initially written for Table storage only. Later when Table API in Cosmos DB and Azure Table storage are merged, the docs were brought to Cosmos DB space.

[2018-11-27 04:05] JasonGT commented on #19535
@MohitGargMSFT take a look at the create policies section (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-web-app#create-policies).

The guidance refers to selecting "Sign-up or sign-in policies" from the Azure AD B2C portal. This link no longer exists, it is now "User flows".

Clicking "User flows", there is no "Add" button. It is now "New user flow".

[2018-11-27 04:19] georgewallace commented on #19525
@ceciAc This is now corrected in the source article. I do not see the changes live in the localized versions yet. You can verify here https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-agent-issues

[2018-11-27 04:20] georgewallace commented on #19100
@theheatDK does this answer your question?

[2018-11-27 04:21] Romiko opened #19549 "Monitor Seed Node Transfer - Script should be more verbose"
I have written an update regarding transferring the Seed Nodes over and a way to monitor the transfer.

https://romikoderbynew.com/2018/11/26/service-fabric-upgrading-vmss-disks-operating-system-on-primary-node-type/

#Requires -Version 5.0
#Requires -RunAsAdministrator

&lt;#
.SYNOPSIS
    Removes a VMSS Scale Set from a Node Type.
    A new VMSS Scale set must have already been added to the clus

[2018-11-27 04:27] lren opened #19550 "duplicate "to all regions associated with your account""
Azure Cosmos DB transparently replicates the data within your account to all the regions associated with your account to all the regions associated with your account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87da282-6ace-4f90-e894-b41c7e50649e
* Version Independent ID: 7702ff20-f29d-321c-2516-92d448a6c333
* Cont

[2018-11-27 04:39] SnehaGunda commented on #19515
@rokonec Thanks for the feedback, we have a new doc under works that will have the examples for indexing. The subheading of the section you pointed out should be updated to remove examples, we will make the changes.

In the meantime, here are some examples to exclude index path values:

JSON
{
    "indexingMode": "consistent",
    "automatic": true,
    "includedPaths": [
        {
            "pa

[2018-11-27 04:46] ManojReddy-MSFT commented on #19362
@ConsistentTheory We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-27 04:46] #19362 closed

[2018-11-27 04:51] KetanChawda-MSFT commented on #19406
@natchaporing Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2018-11-27 04:51] #19406 closed

[2018-11-27 04:53] KetanChawda-MSFT commented on #19321
@Eduard-TC Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2018-11-27 04:53] #19321 closed

[2018-11-27 04:56] ManojReddy-MSFT commented on #18870
@spetrukhin Immutable Blobs are considered to be WORM (write once read many) and we need to write more than once with current design for saving diagnostic logs in the storage account. So the behavior we see is expected.

As diagnostic logs use Append Blobs which are not supported by immutable storage, I am afraid we can't  apply time based retention policy on the storage account as of now.

I woul

[2018-11-27 04:56] pratson20 commented on #19364
@kgremban I will try the same and revert back.

[2018-11-27 05:09] rwike77 commented on #11706
@MichelZ @MicahMcKittrick-MSFT   Looks like the [default template](https://github.com/Azure-Samples/service-fabric-cluster-templates/blob/master/5-VM-Windows-1-NodeTypes-Secure/AzureDeploy.json) used by the cmdlet was updated.  Previously, the reliability level was set to Bronze but now is Silver (which requires 5 VMs in the primary node type).

To make this script work, you can set the cluster si

[2018-11-27 05:11] jakaruna-MSFT commented on #19343
CC: @MicahMcKittrick-MSFT

[2018-11-27 05:14] freakyfriday commented on #19489
@SnehaGunda Thanks for confirming this as there's a lot of confusion around the internet on this topic. People are under the impression that results returned by the CosmosDB Tables API are sorted lexicographically as they are in Azure Table Storage.

Are there any plans to address this basic functionality in the near future as not being able to return results in at least ascending order is a deal

[2018-11-27 05:15] CHEEKATLAPRADEEP-MSFT commented on #19550
@lren Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-11-27 05:15] naznaaa opened #19552 "Camera Integration with Azure IoT"
Hi,I have done camera integration with Azure IoT using raspberry pi. While receiving message from azure IoT, motion service which is setup in the raspberry pi is connected.The changes made by me in the code are command to start and stop the motion service.Please have a look at the below code:
`if message_buffer =="on":
os.system('sudo /etc/init.d/motion start 2>&1')
# command to turn on camera
pri

[2018-11-27 05:20] rwike77 commented on #13179
@SidShetye Hi, this is a good suggestion.  At some point in the future we will add some content for this scenario.  Currently, using certificates with Service Fabric Mesh applications isn't supported.  I've added a content work item in our backlog so this won't get lost.  Thanks.  #please-close

[2018-11-27 05:31] manhquang144 opened #19553 "Export Model for Object Detection"
Hi,
I'm trying to export the trained model to mobile for Object Detection but seems like Custom Vision has not supplied this option yet? Is the any future plan for supporting this (with scheduled release date)?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Inde

[2018-11-27 05:33] JSeb225 commented on #19521
Hi @alpinedelight: since you are running a Linux container on Windows host, you will need to first create a volume, then populate the reference data in the volume. Then you can provide the absolute path in volume eg. Vol1/file1.txt
We are improving our documentation to make this clear.

[2018-11-27 05:38] madyanio opened #19554 "Perfect Knowledge"
Microsoft gives very basic and to the point information to get started with Azure B2C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active Directory B2C?](https://docs.microsoft.com/en-us/azur

[2018-11-27 05:39] #19554 closed

[2018-11-27 05:57] raghavdotc opened #19555 "JDBC connection string for Thick and Thin Clients?"
Can you please share the sample JDBC connection string for Thick and Thin Clients?
Also, please share where I can find those JDBC connection urls on the Ambari dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 300908c3-faf0-f363-8aff-c2af8b5ccdb5
* Version Independent ID: a1c6caa5-d5b9-e332-39d8-d4a523771bff
*

[2018-11-27 06:00] jakaruna-MSFT commented on #19549
@Romiko Thanks for your contribution. We will see how we can take it forward.

[2018-11-27 06:01] jakaruna-MSFT commented on #19547
Thanks for the question! We are investigating and will update you shortly.

[2018-11-27 06:05] AjayKumar-MSFT commented on #19393
@brendanarnold, To understand the issue better, could you please let us know where and how exactly are you adding the auth keys '('? Kindly do post some screenshots of the issue after concealing any private information and request you to point the exact document section you are referring to for the steps.

[2018-11-27 06:19] dcbrown16 opened #19556 "What exactly happens to old alerts"
"any alert rules that continue to exist in Alerts (classic) beyond June 2019 will continue to execute, but not be available for modification.
Any alerts remaining in classic monitoring & alerting platform beyond June 2019, will be automatically migrated by Microsoft to their equivalent in the new Azure monitor platform in July 2019."

This suggests that currently existing classic alerts will both

[2018-11-27 06:38] AjayKumar-MSFT commented on #19548
@dcbrown16, Thanks for the question! We are taking a look into your question and will update you shortly.

[2018-11-27 06:40] sergaz-msft commented on #19319
Hello @pudelkoM , to clarify can you confirm that you would like to have "web3", "eth" and "net" exposed over websockets as well?

Thanks

[2018-11-27 06:58] hukun01 opened #19557 "Detailed relation between upgrade time and health check policy?"
Hi,

We have a micro service on Service Fabric, whose deployment takes ~35 minutes, we think that this is very slow, because the other services with similar size on Classic Cloud Service only takes 10 minutes to deploy.
We have the below health check policies, could you provide some example/details in this document to help us understand how the health check affects the total upgrade time? And how

[2018-11-27 07:01] vivekjainAco commented on #19504
Yes.
Operating system: Windows 10
Programming language : C#
response code:  (400 code: Invalid uri or invalid uri format)

[2018-11-27 07:01] robinmanuelthiel commented on #17592
How we achieved continuous recognition for over 10 minutes now is starting a timeout function right after we start the recognition, that reconnects after 9 minutes. The reconnect is quite fast so that we don't lose much information.

[code]

[2018-11-27 07:16] pyoungberg opened #19558 "Make Requests?"
These instructions seem written for the approvers, but how can eligible users make requests? Is there an end user guide hosted somewhere else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e59740d6-af44-c285-d0c2-f2178df56c45
* Version Independent ID: 0ef0bb60-b4e0-aee8-0899-762219399813
* Content: [Approve or deny re

[2018-11-27 07:18] chrisduncan314 opened #19559 "Update screenshots from "VSTS" to "Azure DevOps""
Update screenshots from "VSTS to "Azure DevOps"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12341c79-8f62-a3ed-b87b-11649894aff8
* Version Independent ID: 29d8cf80-32ae-61b5-9965-f86fbad51715
* Content: [Continuous deployment to Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-contin

[2018-11-27 07:45] vnvaditya commented on #12809
This is a very valid ask. Giving "Network Service" the permissions for private key using a powershell script as a start up task is very error prone.

[2018-11-27 07:49] SadiqhAhmed-MSFT commented on #19519
@SergeyKanzhelev, thanks for the feedback.. We have assigned this to the author for further review.

[2018-11-27 08:02] ManojReddy-MSFT commented on #19558
@pyoungberg The steps for how users can activate a role are described [here](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-activate-role).

[2018-11-27 08:06] AceLiu21 commented on #19152
Hi Sir
Do u find the answer about the Issue?
Thx

[2018-11-27 08:10] jakaruna-MSFT commented on #19547
@aljo-microsoft Please take a look at this issue.

[2018-11-27 08:18] mike-urnun-msft commented on #19332
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functions Runtime Installation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install)
* Content Source: [articles/azure-function

[2018-11-27 08:31] kazshi opened #19561 "NTFS compressed drive using 3rd party utilities is also supported?"
"NTFS compression	- Fully supported" - NTFS compressed drive using 3rd party utilities is also supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync deployment](https://doc

[2018-11-27 08:31] Gilves commented on #19413
Hi there, tried again this morning and it still isn't working

[2018-11-27 08:36] Gilves commented on #19413
Are there any local settings that might be affecting this?

[2018-11-27 08:36] shawon017 opened #19562 "Change Tracking Feature from Sql Server TO ADW?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66029772-b5cd-01ea-74e4-3e0a1b7a8a66
* Version Independent ID: 0d0a58d8-885c-552c-56ea-9b07fce832b8
* Content: [Incrementally copy data using Change Tracking and Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremen

[2018-11-27 08:39] mike-urnun-msft commented on #19332
Hello @nbandi413 Thanks for providing that link. Just to make sure, are you aware of this doc pending some changes to reflect [#15820](https://github.com/MicrosoftDocs/azure-docs/issues/15820#issuecomment-427089585)?

[2018-11-27 08:46] CHEEKATLAPRADEEP-MSFT commented on #19461
@Excelaint I'm able to create Azure SQL Database using SSMS 18.0 and 17.9.1 versions without any issue.
As suggested by @Mike-Ubezzi-MSFTMike, have you tried to uninstall followed by installing ODBC Driver?

[2018-11-27 08:48] femsulu commented on #19242
@radhagpt It appears this is currently not supported.
Please share your [feedback directly ](https://feedback.azure.com/forums/170030-signup-and-billing/suggestions/1143971-billing-usage-api) so the responsible engineering team can review and consider adding to a future iteration of the billing api service

[2018-11-27 08:48] #19242 closed

[2018-11-27 08:52] femsulu commented on #19360
Thanks @georgewallace.

@paulmackinnon-adv365 please let us know if the above doesn't work. I will keep this open for another 24hrs. Awaiting your response.

[2018-11-27 08:58] paulmackinnon-adv365 commented on #19360
@georgewallace , I have already updated the solution as per MS guidelines. Is it worth pointing out that this scenario is with a CSP subscription?

[2018-11-27 08:58] CHEEKATLAPRADEEP-MSFT commented on #18953
@spencekile  Our product team actively working on addressing this issue. Meanwhile please use the below workaround and do let us know.
Open SSMS => Options => Additional Connection Parmaters => "**persist security info=true**"

![image](https://user-images.githubusercontent.com/44426401/49069994-a1c2be00-f250-11e8-891d-e6988fb1ee0f.png)

[2018-11-27 08:59] mike-urnun-msft commented on #19471
Hello @nafisIslam - Are you using Javascript? Have you seen [this](https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/RetryOptions.cs#L59) yet?

[2018-11-27 08:59] msvijayn commented on #19556
It is the later, "they will be migrated to a new rule, but the new rule will not be editable"

[2018-11-27 09:01] vicky08 opened #19563 "The links for service tags and azure public IPs are broken"
see this bit
- You can download and integrate with an on premises firewall the list of service tags with prefix details on the following weekly publications for Azure Public, US government, China, and Germany clouds. (e.g. https://www.microsoft.com/download/details.aspx?id=56519)
and
- AzureCloud (Resource Manager only): This tag denotes the IP address space for Azure including all datacenter publ

[2018-11-27 09:08] dcbrown16 commented on #19556
I see, so the "not editable" period is only for however long it takes for the classic alerts rules to be recreated as new rules.
Thanks for the quick response, I think it might be useful to clarify this in the doc so I'll leave this open for now if you want to do that.

[2018-11-27 09:14] jakaruna-MSFT commented on #19540
@fleed In ClusterConfig.json, Each node under "nodes" have "iPAddress" as a key.
If you have followed the tutorial, you would have used "ClusterConfig.Unsecure.DevCluster.json" file. In that all the IP addresses are configured to localhost.
Please change that to your node's IP.
Try this and let me know if it works or not.

[2018-11-27 09:19] SadiqhAhmed-MSFT commented on #19520
@Dummy51, We are closing this for now. Please reply back to the thread if you've any questions.

[2018-11-27 09:19] #19520 closed

[2018-11-27 09:30] Eduard-TC commented on #19321
Hi @KetanChawda-MSFT  thank you for the guide, I'll try to set up a App service with containers.

[2018-11-27 09:39] adil82pk opened #19564 "error 121 Remote IO error syscall: 'writeByte'"
I am getting this using the same setup raspberryPI 3 and bme280. All wirings are correct please help thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version Independent ID: 17ee094f-aee3-ca0c-959b-6380e4ea8b89
* Content: [Raspberry Pi to cloud (Node.js) - Connect Raspberry P

[2018-11-27 09:39] AceLiu21 commented on #19152
Hello
So kindly if u can reply the process of this issue ?

[2018-11-27 09:41] nafisIslam commented on #19471
@mike-urnun-msft i am searching for  Javascript example.
`const retryOptions = new df.RetryOptions(2000,2)`
when i debug the code `retryOptions` does not contain any property called BackoffCoefficient.

[2018-11-27 09:45] rokonec commented on #19515
@SnehaGunda Thanks for fast response. That sample code is of great quality and helped a lot.
Roman

[2018-11-27 10:03] jakaruna-MSFT commented on #19557
Thanks for the question! We are investigating and will update you shortly.

[2018-11-27 10:22] punppis opened #19565 "wrong kubectl command in snippet"
Under "Run the application" the documentation says "Use the kubectl apply command to run the application" but the code snippet says kubectl create: "kubectl create -f azure-vote.yaml"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa

[2018-11-27 10:52] ChiragMishra-MSFT commented on #19373
@nitinme Could you please take a look at this ?

[2018-11-27 10:54] pudelkoM commented on #19319
Yes. Most important would be the "eth" API, as it is required for sending Transactions and calls: [https://wiki.parity.io/JSONRPC-eth-module.html](https://wiki.parity.io/JSONRPC-eth-module.html)

But the others ("web3" & "net") are useful as well.

[2018-11-27 10:54] adamlavery opened #19567 "What a silly process"
How ridiculous is this? There's a real simple solution to stopping this error - only show VM configurations that are actually available in the location selected. Duh!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5d07d0-eab2-1024-aefe-4ba420855a41
* Version Independent ID: c2199197-cced-f195-0261-eca1ba65ff74
* Cont

[2018-11-27 10:57] virtualamjath opened #19568 "Can't Read Device To cloud Messages"
Reading Device to cloud method is broken I followed the steps as mentioned above , i am getting following errors...

It is problem in reading Device to cloud mesages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c88662c85ac
* Version Independent ID: 82007f25-a1ec-832f-a431-c416a1de42a0
* Conte

[2018-11-27 11:02] panoschatz opened #19569 "SKU, Offer, Publisher details not visible"
When creating VMs from an image published in the gallery and querying the source image for that VM, we only get the resource ID of the published image and not the SKU, Offer and Publisher details (they appear blank in comparison to creating a VM straight from a custom managed image).

That raises a false positive alarm on our compliance monitoring tool, as the image from which the VMs are created

[2018-11-27 11:11] jakaruna-MSFT commented on #19565
@punppis Thanks for catching it. Since we are creating the resources for the first time in our example, we can use apply or create. Still it's good to have same subcommand on the description and the actual command.
I will assign this issue to the author to do the necessary update.
More information about Object management (Imperative and declarative) in Kubernetes is [here](https://kubernetes.io/do

[2018-11-27 11:12] jakaruna-MSFT commented on #19565
@iainfoulds Please investigate further and update the document as appropriate.
cc: @MicahMcKittrick-MSFT

[2018-11-27 11:16] dem108 opened #19570 "Algorithm & Module reference link broken"
This is not particularly this (what-is-ml-studio) docuemnt, but the left pane link itself is broken, leaving nowhere to report this issue.
If you look at the left pane, under Reference, if you click the section 'Algorithm & Module reference', it routes to the following page, which is not available:
https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/index.md

The right

[2018-11-27 11:16] pratson20 commented on #19364
@kgremban Rebooting the device has done the trick and i am able to do DPS using TPM now on my gateway device.

Thanks a lot for support.

[2018-11-27 11:30] #16946 closed

[2018-11-27 11:55] Gilves commented on #19413
Sorted now, I was being a chump

[2018-11-27 12:15] darshankumarys commented on #18544
@Adam-Smith-MSFT  can we get any update on this issue?

I see its closed, can you reopen and provide me resolution please ?

[2018-11-27 12:16] AjayKumar-MSFT commented on #19548
@dcbrown16 , As mentioned in the document ‘Note’ – if your ASE becomes suspended and restored, the addresses used by your ASE will change. The normal cause for an ASE to become suspended is: 1. If you block inbound management access or 2. Block access to an ASE dependency. Having said that, the App Service, ASE infrastructure machines does have redundancy and fault tolerance in-place, Apps running

[2018-11-27 12:22] SadiqhAhmed-MSFT commented on #19409
@mcurko, VM Diagnostic extension and Log Analytics are not connected. VM Diagnostic extension is for metric collection only. Log Analytics has its own extension and agent as it has the capability to collect a lot more than just guest metrics. Like, Event logs, use of Assessment packs (i.e. Intelligence packs) etc. Even if Diagnostics extension can collect some of logs, events then they are very li

[2018-11-27 12:29] #19397 closed

[2018-11-27 12:35] StingyJack opened #19571 "So you can only do this when creating a new VM?"
There is no way to enable this for a VM that has already been created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376f32b3-0acb-625a-e635-e62503213c63
* Version Independent ID: c26787f2-f910-c3f0-d787-818d11f71c4a
* Content: [Set up WinRM access for an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machin

[2018-11-27 12:52] LazarusRSKAJ commented on #15020
I also notice that the severity mapping has changed, used to be severity was a string i.e "Severity": "critical", now it is a number i.e. "Severity": "0". The documentation does not reflect this;

Content Source: [articles/log-analytics/log-analytics-api-alerts.md](https://github.com/Microsoft/azure-docs/blob/master/articles/log-analytics/log-analytics-api-alerts.md)

[2018-11-27 12:53] cloudwidth opened #19572 "Need option to GenerateReport to exclude specific disk drives"
Our client has SQL servers that are reporting high disk churn on drives holding only TempDB files and SQL backup files.  These drives would be excluded from any ASR replication.  However the Deployment Planner gives no option to exclude these drives from the resulting excel report during the GenerateReport phase.  Thus every report shows a higher bandwidth requirement than actually needed when cho

[2018-11-27 13:11] luiscantero opened #19573 "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'"
The section #reconfigure-azure-ad-administrator mentions that a real Azure AD user needs to be reconfigured as Admin to be able to sign-in interactively (to add DB users, etc.).

However, it does not mention that the reconfigured Admin is imperative for the SQL server to have access to the Azure AD, e.g. to resolve account access.

Removing the DB Admin after adding the Azure AD group and granting

[2018-11-27 13:13] naznaaa opened #19574 "h"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-27 13:19] mcurko commented on #19409
Thanks for the clarification.

[2018-11-27 14:07] letmaik opened #19575 "Clarify scope and expand to other deployment scenarios"
This page seems to be about the ACI and AKS deployment options only, however there are a few more. This is misleading as the introduction on this page describes "the" deployment workflow, but in fact it only describes the flow that would happen with ACI or AKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4f

[2018-11-27 14:07] ebrucucen opened #19576 "Monitoring"
Can you please provide some documentation and Diagnostics for Scaling? When I create a chart with Azure Monitor, the values are all empty, i.e. Metric Treshold, Observed Metric Value, PObserved Capacity, Scale Actions Initiated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e754567e-9482-5693-5ef8-6cc811ea7f57
* Versi

[2018-11-27 14:32] alpinedelight commented on #19521
Thanks for the rapid response Sebastian - just to clarify, binds are no longer recommended/supported and should be replaced with volumes? As a result when creating the ASA edge reference data set we should point it to the volume path as opposed to host system path - i.e. ignore this documentation (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/stream-analytics/stream-analytics-ed

[2018-11-27 15:01] ozanbora opened #19578 "WSS Upgrade Header problem - Azure Web App for Containers"
Currently, the front ends are not able to handle HTTP upgrade header for secure web socket connections (Azure Web App for Containers).

There is also no enable web socket option available on Application Settings page in the portal.

Is there any workaround to enable Web Socket support atm or it's not supported yet? I tried to enable web sockets through resource explorer but it seems it's not suffi

[2018-11-27 15:10] zoomessence opened #19579 "cannot verify login"
Request Id: d046c1eb-916c-43c9-8745-ae2a47db2e01
Correlation Id: 9a854afb-2c2c-4cf8-8eca-ccd3f3116671
Timestamp: 2018-11-27T15:06:03.010Z
Advanced diagnostics: Disable
If you plan on getting support for an issue, turn this on and try to reproduce the error. This will collect additional information that will help troubleshoot the issue.

i have no way of reporting this to MS as i can't login anywhe

[2018-11-27 15:13] CeciAc opened #19580 "shall we update this tutorial to new v10 API?"
@VALLIS-NERIA commented on [Tue Nov 27 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/180)

shall we update this tutorial to new v10 API?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 72c5a4a6-88f2-c2a5-f459-c3f240a15a46
* Version Independent ID: ac443c2e-f89d-9aa1-cd1c-0f04aa1c12b4
* Content: [Azure 快速入门 - 在浏览器中使用 JavaScript 和 HTML 在对象存储中创建 blob](h

[2018-11-27 15:16] carlbuchmann commented on #17516
I wanted to add to this issue as this is somewhat related to the same article.

- [x] The relevant Azure service or technology: Azure vpn-gateway

- [x] A link to the published documentation article that you have feedback about.:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/vpn-gateway/vpn-gateway-connect-multiple-policybased-rm-ps.md
https://github.com/MicrosoftDocs/azure-docs

[2018-11-27 15:31] RamPallisetti opened #19583 "Unable to download "ARM tempalte" for Azure data factories using powershell"
Hi, We are unable to download "ARM template" for Azure Datafactories using powershell. Getting below warning and template never downloads.. This is blocking many automation tasks.
i can download the same arm template form UI, but will need to get downloaded from powershell for automation.

Export-AzureRmResourceGroup -ResourceGroupName *********************
WARNING: ExportTemplateCompletedWithErro

[2018-11-27 15:31] sbdoroff opened #19584 "Link Update and Spelling"
Hello,

It looks like the link at point three under "Infrastructure before failover" is for a classic VNet-to-VNet setup.  Could that be updated to the current documentation?  That can be found here: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resource-manager-portal

The first bullet point under "Site-to-site connection," in the parentheses (local-network) is mi

[2018-11-27 15:32] sergaz-msft commented on #19152
Thanks for confirming @AceLiu21 . We will continue the discussion on the MSDN thread since we can't relate this issue with a specific doc here.

Thanks!

[2018-11-27 15:32] #19152 closed

[2018-11-27 15:46] darthmolen commented on #19433
I'm looking for 2 things. the cs file for Item, and the cs file for DocumentDBRepository. Although you initialize it with that line. Where is the declaration and the definition of those 2 classes?

[2018-11-27 15:48] robertdolney opened #19586 "Disk size <1TB is incorrect"
Under "Common Issues", it says that disks should be less than 1 TB in size. According to the ASR FAQ and other announcements, disks up to 4 TB are supported within ASR. I believe this page to be out-of-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 101f1927-9428-20c5-06d0-ccc48bad912c
* Version Independent ID: 6c

[2018-11-27 15:50] #19458 closed

[2018-11-27 15:59] Mike-Ubezzi-MSFT commented on #19545
@obrien-j Thank you for the detailed feedback. In looking through docs.mongodb.com there is not much there either after a quick search. I am going to assign this to the content author to evaluate and update as appropriate.

[2018-11-27 16:00] diberry commented on #19504
@vivekjainAco How would that work? The file has to eventually get to the service to be parsed. Where you thinking the file would be sent in the same request somehow or that it would be sent in another request?

[2018-11-27 16:25] TerryLanfear commented on #18066
#please-close

[2018-11-27 16:44] tulasim88 commented on #19153
adding @diberry as well (FYI)

thanks for the feedback @ajaichemmanam
to reduce the number on inputs we take in while creating the QnA Service- we do not ask for an explicit name, but use a naming convention to create an Azure Search service at our end.

Is there a specific reason you are looking to change your Azure Search service name?
in case you want to change the name- you can also create a s

[2018-11-27 16:46] CelesteDG commented on #18056
Hi @wmmaintz - Thank you for the feedback. If you're creating a new app, we recommend using the v2.0 endpoint. You can use the generic register an app quickstart to quickly get started (https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app shows how to do this with the new app registrations preview experience). The platform-specific quickstarts and tutorials shoul

[2018-11-27 16:47] Adam-Smith-MSFT commented on #19561
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-27 16:49] CelesteDG commented on #15447
Hello @davidsk - Thank you for your feedback. We recently published several updates to this topic and part of that update was to remove this info as it's no longer a limitation in the v2.0 endpoint.

[2018-11-27 16:53] BryanLa commented on #19404
Hi @mwanchap - thanks very much for the feedback on this. As @MohitGargMSFT mentioned and you pointed out, these are intended to be placeholders, including the braces. However, I think the article could benefit from some updates to make it more consistent. I'm going to make some revisions based on your feedback, and will be republishing in the next couple of hours.

[2018-11-27 16:54] Adam-Smith-MSFT commented on #19572
@cloudwidth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-27 16:57] Adam-Smith-MSFT commented on #19584
@sbdoroff Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-27 16:59] Adam-Smith-MSFT commented on #19586
@robertdolney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-27 17:06] uvita opened #19588 "Is Azure SQL Managed Instance considered inside the Azure SQL Database?"
Hi, I would like to know if Managed Instances are considered the same as Azure SQL Database or if they are considered as SQL Server instances On-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea45d88b-212b-51ae-b902-6efd5873f6c5
* Version Independent ID: 6f86e171-7553-3d01-00fa-e0865d8d817b
* Content: [Data s

[2018-11-27 17:20] jason-j-MSFT commented on #19562
@shawon017 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 17:21] jason-j-MSFT commented on #19555
@raghavdotc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 17:32] #13179 closed

[2018-11-27 17:34] #13014 closed

[2018-11-27 17:35] #18044 closed

[2018-11-27 17:35] #18066 closed

[2018-11-27 17:35] #19434 closed

[2018-11-27 17:35] #19464 closed

[2018-11-27 17:35] AlkisFortuneFish opened #19589 "Obsolete Actors API reference documentation link"
The Actors API reference documentation link in the Next steps section is pointing to old documentation with most of its links broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42b349f2-e868-298d-e68a-22caf855bea8
* Version Independent ID: d4a5c657-7a1e-7acf-649c-9f27040c537e
* Content: [Reliable Actors on Service

[2018-11-27 17:48] Grace-MacJones-MSFT commented on #19559
Hi @chrisduncan314, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-27 17:50] Grace-MacJones-MSFT commented on #19576
Hi @ebrucucen, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-27 17:51] Grace-MacJones-MSFT commented on #19578
Hi @ozanbora, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 18:04] bernardmaltais commented on #19384
Thank you for the response but I am not sure how this would help in this case.

What URI could I use to access a something.parameters.json file located inside the blueprints structure? Is there a viable syntax that would be equivalent to the following resource:

{
            "name": "getDNSParameters",
            "type": "Microsoft.Resources/deployments",
            "apiVersion": "2018-05-01",

[2018-11-27 18:10] nickgailloux opened #19590 "How do we import settings?"
I have exported settings to settings.json that I would like to import. How do I import them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad122bae-7538-09bc-787f-83799da988fe
* Version Independent ID: a36e9393-877a-209c-7c4c-56ea85ade861
* Content: [Export or delete Azure portal settings](https://docs.microsoft.com/e

[2018-11-27 18:13] lmolkova opened #19591 "ApplicationInsights for Java SDK documentation does not list of supported Java environments"
The documentation should list supported environments so this information is easily discoverable for anyone who considers using AppInsights.

The essential information includes:
* Java versions
* OSes (it is important for perf counter collection)
* App servers

This is partially covered in https://docs.microsoft.com/en-us/azure/application-insights/auto-collect-dependencies#java (App Servers), but

[2018-11-27 18:14] YutongTie-MSFT commented on #19413
@Gilves Glad to see your problem solved!! So what happened? We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-27 18:14] #19413 closed

[2018-11-27 18:16] MarileeTurscak-MSFT commented on #19544
@anwather
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-27 18:17] YutongTie-MSFT commented on #19570
@dem108 Hi, can you please check again, it works for me well. Thanks.

[2018-11-27 18:21] YutongTie-MSFT commented on #19575
@letmaik Thanks for your feedback. I have assigned to the author to look into it.

@hning86 Hi Hai, can you please take a look of this doc-enhancement feedback? Thanks.

[2018-11-27 18:21] kgremban commented on #19364
Thanks for trying that out and confirming it worked, @pratson20. I'll add this information to the documentation, so that other people don't run into the same issue.

[2018-11-27 18:30] MarileeTurscak-MSFT commented on #19410
Please add the Security Administrator role to the user, sign in with that user, and search for Azure Information Protection from the top search bar. Then you will be able to access this section.

[2018-11-27 18:30] MarileeTurscak-MSFT commented on #19410
We will now proceed to close this thread. If you have further questions please tag me in the comments and I will gladly continue the discussion.

[2018-11-27 18:30] #19410 closed

[2018-11-27 18:32] mangeshparanjape commented on #19269
I followed this example step by step but getting following error. Any Idea?

AADSTS90002: Tenant token not found. This may happen if there are no active subscriptions for the tenant. Check with your subscription administrator.

[2018-11-27 18:33] grdoor opened #19592 "Official documentation should be official"
Re: the IIS cert creation instructions - It's great to include a link to an external resource in a See Also (or something similar) section, but official documentation should link to official documentation. If IIS has no official documentation for cert creation, that should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-11-27 18:34] mangeshparanjape opened #19593 "AADSTS90002: Tenant token not found."
I followed this example step by step but getting following error. Any Idea?

AADSTS90002: Tenant token not found. This may happen if there are no active subscriptions for the tenant. Check with your subscription administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version

[2018-11-27 18:40] MicahMcKittrick-MSFT commented on #19589
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 18:41] MicahMcKittrick-MSFT commented on #19592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 18:44] MicahMcKittrick-MSFT commented on #19467
@badalk I will close for now. Let us know if you need more details.

[2018-11-27 18:44] #19467 closed

[2018-11-27 18:45] MarileeTurscak-MSFT commented on #19579
@zoomessence please leave the link to the document to which you are referring so that we can respond.

[2018-11-27 18:45] TravisCragg-MSFT commented on #19546
@v-maroge Resource Groups usually do not have any dependency on other resources. You can add it to a new resource group, existing resource group, or existing resource group with other resources.

[2018-11-27 18:46] jahan2001 commented on #19467
مسائل ناخوشایند !؟

[2018-11-27 18:51] #19565 closed

[2018-11-27 18:58] MicahMcKittrick-MSFT commented on #19557
@hukun01 fair feedback.

@mani-ramaswamy can you take a look?

CC @aljo-microsoft

[2018-11-27 18:59] MohitGargMSFT commented on #19552
@naznaaa Please help with the document on which this feedback is related. Thanks.

[2018-11-27 18:59] MicahMcKittrick-MSFT commented on #19111
@yusufkhatri would you be able to change the secret and see if it can still retentive it? I wonder if it is just cached somewhere if the secret is still the same as before the VM was removed.

[2018-11-27 18:59] Grace-MacJones-MSFT commented on #19573
Hi @luiscantero, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-27 19:00] MohitGargMSFT commented on #19574
@naznaaa Please help with the document on which this feedback is related. Thanks.

[2018-11-27 19:02] MohitGargMSFT commented on #19583
@RamPallisetti Please help with the document on which this feedback is related. Thanks.

[2018-11-27 19:06] MohitGargMSFT commented on #19313
@MicrosoftGuyJFlo Can you please help here? I have also raised another document feedback #19539 on the Azure Government Security + Identity document.

[2018-11-27 19:07] #11295 closed

[2018-11-27 19:07] MohitGargMSFT commented on #19401
@JasonGT We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-27 19:07] #19401 closed

[2018-11-27 19:08] jahan2001 commented on #19401
چند درصد امکان خطا وجود دارد؟

[2018-11-27 19:08] MohitGargMSFT commented on #19426
@SEI-Billing We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-27 19:08] #19426 closed

[2018-11-27 19:15] kobulloc-MSFT commented on #19591
@lmolkova Thank you very much for the feedback!  We're assigning this to the document author so they can update the document accordingly.

[2018-11-27 19:17] MohitGargMSFT commented on #19449
@alexli1984 As mentioned above please open a new MSDN thread and mention that URL here so that I could ensure you are helped on it.

[2018-11-27 19:19] shurane opened #19596 "Difference between 'maxAutoRenewDuration' and 'autoRenewTimeout'?"
I know in Azure Functions 1.x and in the beta for 2.x, I used `autoRenewTimeout`. What is `maxAutoRenewDuration`? Is it the new value? Both names are mentioned on this page so it is a little confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300

[2018-11-27 19:23] alexli1984 commented on #19449
Actually our company has an internal partnership with Microsoft so we’ll be using that channel first. Thanks.

[2018-11-27 19:30] TravisCragg-MSFT commented on #19563
@vicky08 I am currently able to access all of those links from the main page. can you?

[2018-11-27 19:30] MohitGargMSFT commented on #19535
@JasonGT I got your point here. The existing Azure AD B2C tenant will see the experience as per the document. However, any new Azure AD B2C tenant created will have options as explained by you. I am assigning this feedback to content author to address this issue.

[2018-11-27 19:32] anirudhcavale commented on #14757
@varungupta19 the only metrics that appear in this article are the ones the Azure platform emits by default. Metrics like "Logical Disk (C:)% Free Space", are not emitted by default. It requires users to install and configure diagnostics extension on the VM's guest OS. You can specify what metrics and logs should be collected from within the guest OS by the extension. Details about the diagnostics

[2018-11-27 19:41] mike-urnun-msft commented on #19332
Hi @nbandi413 Just following up here, let us know what your thoughts are and if you still need assistance :)

[2018-11-27 19:41] aljo-microsoft commented on #19529
@pisees

https://docs.microsoft.com/en-us/azure/security/azure-service-fabric-security-best-practices

Readiness checklist will be updated to reference this.

@MicahMcKittrick-MSFT
Please close

[2018-11-27 19:41] pyoungberg commented on #19558
Excellent, thank you!

[2018-11-27 19:45] #19529 closed

[2018-11-27 19:47] MicrosoftGuyJFlo commented on #19313
@dpravo @MohitGargMSFT Sent a followup to the product group for a response. I do not have an Azure Government tenant that I can look at this in.

[2018-11-27 19:47] BryanLa commented on #19404
The [Running the application using a Service Principal](https://docs.microsoft.com/azure/key-vault/service-to-service-authentication#running-the-application-using-a-service-principal) section has been updated to clarify the certification placeholders.

CXP: #please-close

[2018-11-27 19:48] MicrosoftGuyJFlo commented on #19313
#in-progress

[2018-11-27 19:56] zoomessence commented on #19579
closing issue as i resolved this issue by loggin in as another admin and changing my user to not require multi-factor auth.

[2018-11-27 19:56] #19579 closed

[2018-11-27 20:03] rachel-msft commented on #6371
Hi @sgandon, what is the error message you see?

You said you are using %40 and \. Where are you using \ ?

[2018-11-27 20:11] kashimiz commented on #19471
@nafisIslam `backoffCoefficient` and other optional properties don't display themselves at debug time unless assigned, since the property only exists on the object once it's given a value. The API documentation for JavaScript Durable Functions will cover all properties the extension recognizes, but it hasn't been published yet. In the meantime, you can reference the `RetryOptions` [TypeScript defi

[2018-11-27 20:30] kscott01 opened #19598 "az webapp create"
The command syntax is different today on a Windows OS.

[code]

[code]

However, az webapp with --runtime "node|10.6" fails for any value specified.
az webapp list-runtimes

[az powershell cmdlet docs](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-list-runtimes)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-27 20:34] djhallxyz opened #19599 "What is a "tenant"?"
I keep coming across the term "tenant" but I can't seem to find a clear definition of what it is with respect to Azure AD.
Is a tenant simple one AD instance, as described here, or is a tenant an application being managed by an AD instance?
From this page: "First, you need to register your application with your Azure Active Directory (Azure AD) tenant."

---
#### Document Details

⚠ *Do not edit t

[2018-11-27 20:34] cheresier opened #19600 "Guidance on CLR is outdated?"
See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#clr. It states "CREATE ASSEMBLY FROM BINARY is supported", however it contradicts an email sent out in April 2016 by Joachim Hammer, Principal Security Program Manager for the Azure SQL Database service:

"In an effort to protect the security of our customers, we have proactively suspende

[2018-11-27 20:35] SnehaGunda commented on #18146
#please-close

[2018-11-27 20:40] #18343 closed

[2018-11-27 20:40] #18753 closed

[2018-11-27 20:41] amthomas46 opened #19601 "C# Package update to 2.0.0 breaks line "var client = new ImageSearchAPI(new ApiKeyServiceClientCredentials(subscriptionKey));""
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-image-search/image-search-sdk-quickstart

ImageSearchAPI errors out. If I revert package to 1.2.0, no issues. Please advise!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43570a31-d6a9-f5b4-2676-4e2683c7a2cb
* Version Independent ID: b4a2f572-3a63-fab5-d68

[2018-11-27 20:42] gavdgavd commented on #19076
Hi Mike. I didn't say that it is getting an error, I said that it doesn't work. If you set a breakpoint in the line "var result = client.SpellCheckerWithHttpMessagesAsync(..." and review the value of the "result" variable, you will see that "result.Body.FlaggedTokens" is equal to zero and that the Response object is giving StatusCode = OK. That means that the text "Bill Gatas" is recognized as hav

[2018-11-27 20:42] SnehaGunda commented on #19550
@lren  Thanks for pointing out the issue, I submitted a fix, the changes should be live soon. In future, if you see any minor updates or bug fixes, please feel free to submit a PR to the doc by clicking on the edit button at the right-hand corner. We encourage community contributions :-)

[2018-11-27 20:42] SnehaGunda commented on #19550
#please-close

[2018-11-27 20:43] georgewallace commented on #18753
@jamiepetey This has been corrected. The changes will go live later today.  This issue was automatically closed by the PR correcting this issue.

[2018-11-27 20:44] georgewallace commented on #18343
@andrewatfornax This has been corrected. The changes will go live later today.  This issue was automatically closed by the PR correcting this issue.

[2018-11-27 20:49] diberry commented on #19389
#please-close

[2018-11-27 20:50] Karishma-Tiwari-MSFT commented on #19592
@grdoor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-27 20:50] diberry commented on #18866
@CalvinFengDatacom Have you looked into using [Dispatch](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch)?

[2018-11-27 20:52] diberry commented on #19270
@tulasim88 Is there a way to fix the /old/ route to auto-redirect to docs.microsoft.com?

[2018-11-27 20:52] MikeDodaro commented on #19076
Correction for Query# "bill gatas"
SpellCheck Results#1
First SpellCheck Result token: Gatas
First SpellCheck Result Type: UnknownToken
First SpellCheck Result Suggestion Count: 1
First SpellCheck Suggestion Score: 0.884978931498889
First SpellCheck Suggestion : Gates
Correction for Query# "empty text field"
Any key to exit...

[2018-11-27 20:52] mwanchap commented on #19404
\*facepalm\*
Apologies - I'm a stooge. Didn't realise the braces weren't meant to be included...
Thanks for clarifying :)

[2018-11-27 20:53] diberry commented on #19290
@kaki104 - this is fixed now. Thank you again for reporting it. #please-close

[2018-11-27 20:56] MikeDodaro commented on #19076
Above is the  output of my code.  Are you using the example documented here? https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/sdk-quickstart-spell-check

[2018-11-27 20:57] diberry commented on #19504
@vivekjainAco The items in the files array array must be publicly reachable from an HTTP request. The data source concept page will make that [more clear](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported#data-source-locations). #please-close

[2018-11-27 20:58] seannybgoode commented on #12377
+1 to the above

Explicitly doing this config in Azure is a little bit painful without documentation.

[2018-11-27 21:04] Mike-Ubezzi-MSFT commented on #18146
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-27 21:04] #18146 closed

[2018-11-27 21:04] gavdgavd commented on #19076
Correction for Query# "bill gatas"
Didn't see any SpellCheck results..
Correction for Query# "empty text field"
Any key to exit...

And yes, I am using the example in these document. Send me by Email your Email address and I will send you the source code that I am using (copy and past from the example in the document)

[2018-11-27 21:06] Mike-Ubezzi-MSFT commented on #19087
@jl101 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Thank you!

[2018-11-27 21:06] #19087 closed

[2018-11-27 21:08] MikeDodaro commented on #19076
Gustavo, you were correct at the start of this issue, and I made some changes from your suggestions.  The code has changed.  Please recopy the code from the page as it shows now, and run the code again.

[2018-11-27 21:08] jamiepetey commented on #18753
Thanks

[2018-11-27 21:10] MarileeTurscak-MSFT commented on #19422
@RudyEvers we are moving away from these sorts of troubleshooting comments on Github. Please ask the question on MSDN, link your question here, and I will ensure that we help you find get your problem resolved. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-11-27 21:11] #19422 closed

[2018-11-27 21:14] gavdgavd commented on #19076
Hi Mike. I just did it a half hour ago. I made a new Visual Studio project and copy/paste your last version. Again, send me a personal Email and I will replay with the complete VS project: you can control it for your self. I can give you also access to the Virtual Machine where the code is running, if necessary.

[2018-11-27 21:17] MikeDodaro commented on #19076
This is not my job, Gustavo.  I write documentation.  I'm not tech support.

[2018-11-27 21:19] mani-ramaswamy commented on #19557
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade#application-upgrade-flowchart shows the overall relationship of timeout, and the parameters are explained @ https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters.   By bringing the waits and stable times down, you can fasten the upgrade. However, on production clus

[2018-11-27 21:21] gavdgavd commented on #19076
It is also not my job to correct Microsoft errors, but I do it in any way. Please send the issue to somebody from tech support.

[2018-11-27 21:37] YutongTie-MSFT commented on #19389
@Charlie-Chat-Bot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-27 21:37] #19389 closed

[2018-11-27 21:37] msmimart commented on #12651
#please-close

[2018-11-27 21:38] msmimart commented on #12813
#please-close

[2018-11-27 21:39] MikeDodaro commented on #19076
@Alberto-Vega-MSFT  Do you have any suggestions where @gavdgavd can get some help?

[2018-11-27 21:39] YutongTie-MSFT commented on #19076
@gavdgavd Hi, we'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread. We will provide tech support. Thanks.

@MikeDodaro Thanks for your help.

[2018-11-27 21:42] YutongTie-MSFT commented on #19601
@amthomas46 Thanks for your response, I have assigned the author to confirm if there is a change about the version.

@aahill Hello! Can you please take a look? Thanks a lot!

[2018-11-27 21:43] YutongTie-MSFT commented on #19290
@kaki104 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-27 21:43] #19290 closed

[2018-11-27 21:45] YutongTie-MSFT commented on #19504
@vivekjainAco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-27 21:45] #19504 closed

[2018-11-27 21:48] douglaslMS commented on #19218
@RamPallisetti Your question is not a doc bug, and is not related to the original issue. I recommend that you repost your question on the [Azure Data Factory forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory) to reach the largest audience of Microsoft and other subject matter experts.

[2018-11-27 21:49] msmimart commented on #13609
#please-close

[2018-11-27 21:49] douglaslMS commented on #19218
@NewOzzie Yes, you're right that updates to both screenshots and text are overdue. We already have this in our backlog so we're going to go ahead and chose your reminder.

[2018-11-27 21:49] douglaslMS commented on #19218
#please-close

[2018-11-27 21:52] kyurthich commented on #6296
Any updates to this? It would be very helpful.

[2018-11-27 21:53] jedes opened #19603 "Vouching for the legitimacy of devices"
"Purchasing a CA certificate has the benefit of the root CA acting as a trusted third party to vouch for the legitimacy of your devices.": vouch to who?

In other words, If an IOT device is to interact only with Azure cloud, and a self-signed root certificate has been registered with the device provisioning service, is a CA certificate still necessary?

---
#### Document Details

⚠ *Do not edit th

[2018-11-27 21:54] tamram commented on #19269
@mangeshparanjape - Could you ask your question on the [Azure Storage MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata)? The support team can help you there. Please give them some additional details on your Azure AD tenant.

[2018-11-27 21:54] #13609 closed

[2018-11-27 21:54] vhorne commented on #18096
#please-close

[2018-11-27 21:54] MohitGargMSFT commented on #19593
@mangeshparanjape Please help with the document on which this feedback is provided. Thanks.

[2018-11-27 22:03] MarileeTurscak-MSFT commented on #19599
@djhallxyz Thanks for the response! We will investigate and update as appropriate.

[2018-11-27 22:07] Karishma-Tiwari-MSFT commented on #19492
test

[2018-11-27 22:07] Karishma-Tiwari-MSFT commented on #19492
test2

[2018-11-27 22:08] Karishma-Tiwari-MSFT commented on #19492
@jtuliani you are right. As per this article: https://azure.microsoft.com/en-us/pricing/details/managed-disks/, P15 should be 125 MiB/s
I have created a PR and changes will be live shortly.

[2018-11-27 22:11] Karishma-Tiwari-MSFT commented on #19189
@RicksterCDN @BorisB2015 Would one of you be able to help out with the customer's question? Thanks :)

[2018-11-27 22:15] Karishma-Tiwari-MSFT commented on #19419
@deosandeep Can you please share if this is supported for AADLoginForLinux? Is it in the roadmap and is there a timeline we can share with the customer? Thanks. :)

[2018-11-27 22:18] eustacea commented on #19603
If your deployment is a closed system between your devices and Azure cloud then it is reasonable to argue you do not need a syndicated root CA.  However, we recommend you back this argument with threat analysis and risk assessment for the deployment.

[2018-11-27 22:18] Romiko opened #19604 "GPT Partitions"
Please be explicit that GPT partition style can be used for VM's on Data Disks. This is not clear in the docs. Also for VM, VMSS, Service Fabric etc.
#Data Disk
$disk |  Initialize-Disk -PartitionStyle GPT -PassThru

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independen

[2018-11-27 22:20] ovishesh opened #19605 "Add a link back to the concepts page at the top level"
It will be great to link back to the concepts page - https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-feature. And potentially add a couple more lines describing Phrase lists on this doc as well, making it more efficient for the reader.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c975bacb-

[2018-11-27 22:20] Karishma-Tiwari-MSFT commented on #19457
@kaywilliams Here is a [MSDN thread] (https://social.msdn.microsoft.com/Forums/en-US/938bd6e5-44a0-414a-b1b7-6c281dea0573/cannot-connect-to-azure-linux-virtual-machine?forum=WAVirtualMachinesforWindows#0c080b73-686b-41df-b221-24c9520606f9) which has the detailed answer to your question. Let me know if that helps. Thanks.

[2018-11-27 22:21] #19492 closed

[2018-11-27 22:23] Karishma-Tiwari-MSFT commented on #19510
@roygara Is this something you would be able to shed some light on? Thanks :)

[2018-11-27 22:30] aahill commented on #19601
Hi @amthomas46, thanks for reaching out. It looks like the C# SDK was recently updated to version 2.0.

As part of the changes, it seems that the client class `ImageSearchAPI()` has been renamed to `ImageSearchClient()`. Using this line should work:
[code]
I'll update this article and the example code accordingly. Hopefully this info helps. Thanks!

#in-progress

[2018-11-27 22:31] Karishma-Tiwari-MSFT commented on #19492
test

[2018-11-27 22:32] douglaslMS commented on #18481
#please-close

[2018-11-27 22:35] jahan2001 commented on #18481
#19601 با تشکر

[2018-11-27 22:37] MarileeTurscak-MSFT commented on #19599
A tenant is essentially an Azure AD instance. Applications are registered within a tenant. The Azure Active Directory is the cloud directory that contains users, groups, etc. The terms "Azure Active Directory" and "Azure tenant" are for the most part interchangeable and are used that way in Azure documentation.

A tenant is an instance of an Azure Active Directory. The tenant is an account in Azur

[2018-11-27 22:38] MarileeTurscak-MSFT commented on #19599
We will now proceed to close this thread. If you have further questions please feel free to tag me in the comments and I will gladly continue the discussion.

[2018-11-27 22:38] #19599 closed

[2018-11-27 22:38] hukun01 commented on #19557
Thanks. I went through the flowchart, but I'm still not clear, because most of the steps in the flowchart seem to be very fast, but the resulted total rollingUpgrade time (in a happy path) is still long. As I mentioned in the first post, our healthCheckWaitDuration is 1.5 minutes, and our healthCheckStableDuration is 2 minutes. I think these numbers are small comparing to the 35-minute total rolli

[2018-11-27 22:40] WonSong commented on #16003
Hello, @klaaslanghout  - Was this documentation ever published?

[2018-11-27 22:43] jahan2001 commented on #16003
in yejoor bazie !ehtemal entesharesh cheghadre?

[2018-11-27 22:46] jahan2001 commented on #16003
ارسال شده از پست الکترونیکی<https://go.microsoft.com/fwlink/?LinkId=550986> مخصوص Windows 10

________________________________
فرستنده: Won Song <notifications@github.com>
‏‏ارسال شده: Wednesday, November 28, 2018 2:10:11 AM
گیرنده: MicrosoftDocs/azure-docs
گیرنده کپی: Subscribed
‏‏موضوع: Re: [MicrosoftDocs/azure-docs] Possible to setup SPA routing? (#16003)

Hello, @klaaslanghout<https://github.c

[2018-11-27 22:46] dylanwind opened #19607 "The document need to update with the context of partition key, and I got error when using Gremlin console to insert vertex."
When create the graph, on Azure portal there is a new property required, "Partition key".
In this example, I use "/userid", but I can't insert vertex by using Gremlin console, when execute the command
gremlin&gt;g.addV('person').property('userid', 2).property('firstName', 'Mary Kay').property('lastName', 'Andersen').property('age', 39)
I got error message:
ExceptionType : GraphRuntimeException
Exc

[2018-11-27 22:48] msmimart commented on #15481
Hi @ahamin01, in a recent update we expanded the answer to "What applications and services support Azure B2B guest users?" with additional considerations for app support for B2B. I hope this helps clarify . Thanks again for your feedback!

[2018-11-27 22:49] SnehaGunda commented on #19489
@freakyfriday we will fix the doc to remove confusion.

Wrt to addressing the functionality, can you please vote or submit a request in the uservoice: https://feedback.azure.com/forums/263030-azure-cosmos-db it will help us prioritize developing the feature.

[2018-11-27 22:49] Mike-Ubezzi-MSFT commented on #19416
@dimijim I went through this tutorial and although I am able to complete this tutorial without issue, I do see a possible step that could cause issues.

In the section: [Create external tables for the sample data](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase#create-external-tables-for-the-sample-data), the instructions have you connect

[2018-11-27 22:56] #18481 closed

[2018-11-27 22:56] MarileeTurscak-MSFT commented on #19567
@adamlavery
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-27 23:05] douglaslMS commented on #17899
I've pinged the Data Factory product team on 11/8 and 11/13 with no response. I resent the question again today (11/27).

[2018-11-27 23:10] MicahMcKittrick-MSFT commented on #19604
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn @zr-msft

[2018-11-27 23:11] managedcoder opened #19613 "Do we still need "Pattern (regular expression) feature" section? It"
Pattern (regular expression) feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c975bacb-0bee-7bb7-0d22-1296e79364b4
* Version Independent ID: 57f07a89-94d6-74ef-1ba3-846e590ac838
* Content: [Phrase lists to enhance entity detection - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-servic

[2018-11-27 23:13] diberry commented on #19613
@managedcoder Hi Russ, this has already been fixed. It should be published in tomorrow morning's AM publish. #in-progress

[2018-11-27 23:14] TylerMSFT commented on #13222
#please-close
Haven't heard any additional feedback since my last response.

[2018-11-27 23:15] managedcoder commented on #19613
Sorry!  Was not finished before I hit the return key by mistake... This deprecation warning is confusing since Patterns are legit as are Regular Expressions Entities.  Perhaps this section is no longer needed and may be actually causing more confusion than clarity.

[2018-11-27 23:18] Alberto-Vega-MSFT commented on #19568
@virtualamjath !itThanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 23:19] Alberto-Vega-MSFT commented on #19564
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-27 23:20] martinlarosa commented on #19397
I have tried specifying a redirect url without success, but I'll try again and report back. Also will try with a fresh new app.

Can you explain how that discussion relates to my case. Maybe it actually doesn't and that is fine. I just can't see how I can apply that to my scenario.

Thank you for looking into this.

[2018-11-27 23:31] eustacea commented on #19603
Hello @Alberto-Vega-MSFT, response had been provided above.  Should this be closed?

[2018-11-27 23:31] TylerMSFT commented on #12299
#please close
I answered the initial question which was how to remove an app.
I have put an item on my backlog to put this info in the docs.

[2018-11-27 23:31] KeiroKamioka0000 opened #19614 "Example of adverse effects?"
I understand when local drive reach to limit, adverse effect such as writing error could be happen.
If it is possible, please consider to add the example of the adverse effect that could happen when local drive hit to the limit.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c03c7ed5-ba60-f10c-fbdb-908b9c5264c

[2018-11-27 23:38] hhy37 commented on #19218
NP

Need later one?

On Nov 27, 2018, at 4:49 PM, Douglas Laudenschlager <notifications@github.com<mailto:notifications@github.com>> wrote:

@NewOzzie<https://github.com/NewOzzie> Yes, you're right that updates to both screenshots and text are overdue. We already have this in our backlog so we're going to go ahead and chose your reminder.

—
You are receiving this because you are subscribed to thi

[2018-11-27 23:38] #13222 closed

[2018-11-27 23:39] #12299 closed

[2018-11-27 23:44] erhopf commented on #17232
@MithunChopda + @aryus96 - The first TTS sample is now available in Python: https://docs.microsoft.com/azure/cognitive-services/speech-service/quickstart-python-text-to-speech

[2018-11-27 23:48] woodwardmatt commented on #19229
Hey @Adam-Smith-MSFT thanks for getting back to me.

The task runs on the Microsoft hosted Ubuntu 16.04 agent - there'll be some more details for that at: https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/linux/Ubuntu1604-README.md

Let me know if there's anything else you need. This is definitely a weird one, just very frustrating as it should be one of the simpler

[2018-11-27 23:49] MohitGargMSFT commented on #19449
@alexli1984 Sure. Please feel free reach out using MSDN forum in case needed.

[2018-11-27 23:49] #19449 closed

[2018-11-27 23:52] MohitGargMSFT commented on #19472
@elirazcc I have assigned the issue to the content author to provide further information in this regard.

[2018-11-28 00:05] v-maroge commented on #19546
@TravisCragg-MSFT Thanks for the clarification!

[2018-11-28 00:13] sergaz-msft commented on #18178
Hello @baharw was your issue solved with the suggestions above? Let us know if you have further questions or if the issue can now be closed?

Thank you!

[2018-11-28 00:18] KeiroKamioka0000 opened #19617 "Is An operating system drive (the D:\ drive) are Temporary Disk of the VM?"
I understand the Apps run on shared or dedicated Virtual Machine.

As like normal Virtual Machine, is D drive are Temporary Disk by default?

Thanks

Can I use the temporary disk (the D: drive by default) to store data?
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq#can-i-use-the-temporary-disk-the-d-drive-by-default-to-store-data

Don’t use the temporary disk to store data. I

[2018-11-28 00:18] MicrosoftGuyJFlo commented on #19320
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/58863

[2018-11-28 00:18] MicrosoftGuyJFlo commented on #19320
Made a change in the private repo that should be published tomorrow that will clear up some of the confusion.

[2018-11-28 00:20] BryanTrach-MSFT commented on #19598
@kscott01 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msangapu Is this related to the issue we discussed last month?

[2018-11-28 00:20] MicrosoftGuyJFlo commented on #18751
MFA Server is still fully supported and is supported on Virtual Machines.

[2018-11-28 00:20] MicrosoftGuyJFlo commented on #18751
#please-close

[2018-11-28 00:24] rtfmoz2 opened #19618 "Missing documentation on support parameters"
&login_hint=user@domain.com at the end of a SAML GET request bypasses the login page and goes straight to the password page for that user on the customers portal.
&whr=domain.com at the end of a SAML GET request bypasses the microsoft generic login page and goes straight to the customers portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-11-28 00:29] moez-slimi commented on #18327
@yoelhor Yes I did. I can send you the custom policies xml if needed.
Thanks !

[2018-11-28 00:29] sergaz-msft commented on #18195
Hello @baharw did the suggestion from @LazarusX helped solve the issue reported?

Thanks!

[2018-11-28 00:32] sergaz-msft commented on #18398
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-28 00:32] #18398 closed

[2018-11-28 00:32] YutongTie-MSFT commented on #19605
@ovishesh
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@diberry Hi Dina, can you please have a look at this issue? Thanks.

[2018-11-28 00:35] MicrosoftGuyJFlo commented on #19320
#please-close

[2018-11-28 00:44] dcbrown16 commented on #15188
Also note that "Managed disks are supported for move as of September 24, 2018." so the "Important" note here is now obsolete.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#virtual-machines-limitations

[2018-11-28 00:49] FranklyFrivolous opened #19619 "Additional Fields in notification"
Loving the update to the email template.
Is there an option/ability to add the ticket information fields in the email alongside the justification?

- Ticket Number
- Ticket System

-Frank

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e

[2018-11-28 00:52] saif-chaudhry opened #19620 "Get values from linked template section needs a note to avoid validation failure"
Hi, please consider putting a note in this document to make sure when you get the output values from linked template in your main template as part of outputs, the linked template "property-name" must NOT have any "-" in the name i.e. "[reference('&lt;name-of-deployment&gt;').outputs.&lt;property-name&gt;.value]" here the "property-name" must not have any "-" in the name e.g. PLB-Pip1 as a property

[2018-11-28 00:54] curtand commented on #14088
As far as I am can determine, the current documentation can stand as is. Correct?
#please-close
@KeiroKamioka0000
@malopMSFT
@TravisCragg-MSFT

[2018-11-28 01:00] AceLiu21 commented on #19152
Hello
Can u give me a successfully Sample Template which have DPS certificate to me.
Cuz I strongly suspicion  the document have some wrong!

From: António Sérgio Azevedo [mailto:notifications@github.com]
Sent: Tuesday, November 27, 2018 23:33
To: MicrosoftDocs/azure-docs
Cc: Ace Liu; Mention
Subject: Re: [MicrosoftDocs/azure-docs] 'Could not find member 'certificate' on object of type 'TemplateRe

[2018-11-28 01:00] AceLiu21 commented on #19152
Hello
Can u give me a successfully Sample Template which have DPS certificate to me.
Cuz I strongly suspicion  the document have some wrong!

From: António Sérgio Azevedo [mailto:notifications@github.com]
Sent: Tuesday, November 27, 2018 23:33
To: MicrosoftDocs/azure-docs
Cc: Ace Liu; Mention
Subject: Re: [MicrosoftDocs/azure-docs] 'Could not find member 'certificate' on object of type 'TemplateRe

[2018-11-28 01:05] imeya commented on #19348
just for your [reference](https://github.com/Microsoft/ApplicationInsights-Home/issues/299), another answer here from application insights team.

[2018-11-28 01:08] Karishma-Tiwari-MSFT commented on #15188
@dcbrown16 Thanks for sharing this. @cynthn will be updating the doc with the above information. :)

[2018-11-28 01:09] dcbrown16 commented on #13565
I assume we probably aren't going to document a weird corner case with a non-recommended fault domain setup, so I'll close this out.

[2018-11-28 01:09] #13565 closed

[2018-11-28 01:12] dcbrown16 commented on #13194
@cynthn one more restriction about availability sets that I'll add to the pile to confirm - it seems the Portal at least will only let you put a new VM in an availability set that is in the same resource group (as the VM you are making). Is that an intentional restriction? Any workarounds with PS/CLI etc.?

[2018-11-28 01:13] rezasherafat commented on #17903
@MageFroh , you typically can use any of the supported versions. In this case I have posted a doc update to reflect the latest supported version: "2018-06-30". Feel free to use that one. Thanks.

[2018-11-28 01:17] BorisB2015 commented on #11969
I think the original question was answered. Hence, #please-close

[2018-11-28 01:22] curtand commented on #14537
Hi @axisc
I should have responded a while ago. There are four GitHub issues on service tags, and the team committed to the work. Following up now to see if we can close this.

[2018-11-28 01:29] Karishma-Tiwari-MSFT commented on #9835
@iainfoulds We have got the confirmation from @deosandeep. Can you please make changes to the doc accordingly?

[2018-11-28 01:30] Mike-Ubezzi-MSFT commented on #19600
@cheresier Thank you very much for your interest in Azure. I have assigned this to the content owner to update as appropriate.

[2018-11-28 01:31] kobulloc-MSFT commented on #19348
@imeya Thank you!

[2018-11-28 01:38] cynthn commented on #9835
@Karishma-Tiwari-MSFT Iain isn't on VMs anymore, please assign it to me. Thanks!

@iainfoulds @zr-msft  - FYI

[2018-11-28 01:38] Mike-Ubezzi-MSFT commented on #19607
@dylanwind I see it.

![screenshot 39](https://user-images.githubusercontent.com/37126106/49122901-47832680-f26b-11e8-9a97-dbf25c259b81.png)

[2018-11-28 01:39] hukun01 commented on #19557
BTW, our cluster has 5 nodes, not sure if this number would be related to the rollingUpgrade time.

[2018-11-28 01:41] Mike-Ubezzi-MSFT commented on #19607
@SnehaGunda @LuisBosquez This tutorial needs to be updated to account for the new partition key property value that was introduced.

[2018-11-28 02:03] CalvinFengDatacom commented on #18866
@diberry No I haven't try it before, I will have a look when I have spare time

[2018-11-28 02:51] baharw commented on #18195
Yes, thank you.

[2018-11-28 02:53] baharw commented on #18178
Yes, thank you!

[2018-11-28 03:10] northtyphoon opened #19623 "Doesn't work on WindowServer2019"
I got the following message when I used platform 2019-Datacenter image to create VMSS with AutomaticOSUpgrade enabled. The message seems claim platform image doesn't support the feature.

Automatic OS Upgrade cannot be enabled on virtualMachineScaleSets configured with a Platform Image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-11-28 03:22] cburko opened #19624 "Is AADLoginForLinux going to work for GUI?"
I'd like to login to my Ubuntu 18.04 Azure VM GUI using my Azure AD credentials. Is there any plan to make the AADLoginForLinux extension work with GUI's like xcfe or ubuntu-desktop?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f914

[2018-11-28 03:26] imeya opened #19625 "How to pass the hashtable to runbook?"
I'm new to runbook, and I want to pass a hashtable to the runbook, but whatever format I tried define in the Parameters area, seams that the scripts does not recognize it as hashtable.

my code:

![runbook-code](https://user-images.githubusercontent.com/25738099/49126964-94650c80-f300-11e8-97fc-71ae266688fd.JPG)

The following is what I passed to it:
@{"FirstName"="Joe";"MiddleName"="Bob";"LastNam

[2018-11-28 03:42] CelesteDG commented on #15447
#please-close Thank you

[2018-11-28 03:43] SnehaGunda commented on #19435
@sridharanprasanna Yes, you can ntegrate with tests written in nodejs using the cosmosdb emulator, the only thing special in this case is to make sure that TLS has been disabled when targeting the emulator’s endpoints (see https://github.com/Azure/azure-cosmos-js/blob/master/src/test/common/_testConfig.ts#L8 for an example how to do that).

For a comprehensive example on how to setup and run Jscri

[2018-11-28 04:08] #19550 closed

[2018-11-28 04:09] CelesteDG commented on #18056
#please-close Thank you

[2018-11-28 04:10] jason-j-MSFT commented on #19588
@uvita
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 04:13] mike-urnun-msft commented on #19596
Hi @shurane Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-28 04:17] CelesteDG commented on #19159
@jkonecki - Thank you for your feedback. The only information I was able to dig up is that it seems to be an error on the service side when it's temporarily unavailable. Solution is to retry again. Adding this info to the doc.

[2018-11-28 04:20] CHEEKATLAPRADEEP-MSFT commented on #19542
@GraemeMalcolm You may follow the below steps to find the endpoint URL for a Custom Vision Trial:

• To get a set of free trial keys, go to the [Custom Vision website](https://customvision.ai/) and sign in with a Microsoft account.

• **Create a new project.**

![image](https://user-images.githubusercontent.com/44426401/49128685-7db7b900-f2f2-11e8-8b29-8cc8b7bee80b.png)

• **Upload and tag images*

[2018-11-28 04:30] #18096 closed

[2018-11-28 04:30] #15447 closed

[2018-11-28 04:31] #12813 closed

[2018-11-28 04:31] #12651 closed

[2018-11-28 04:31] #11969 closed

[2018-11-28 04:31] MicahMcKittrick-MSFT commented on #19624
Thanks for the question! We are investigating and will update you shortly.

[2018-11-28 04:54] TravisCragg-MSFT commented on #14088
@curtand looks good to me. This issue will also be useful as clarification.

@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-28 04:54] #14088 closed

[2018-11-28 04:56] #19170 closed

[2018-11-28 05:07] PramodValavala-MSFT commented on #19507
@charakumar44 The HTTP trigger has some inherent [limitations](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---limits) enforced by the functions runtime and the functions gateway.

The best approach to your problem would be to have the form data uploaded to a blob container and have you function trigger to new blobs created.
Also, since your blobs a

[2018-11-28 05:34] iamrobdavies opened #19628 "Step assumes GUI Windows Server for Provider Setup"
"Step 5: Install the Provider and agent" - these instructions assume installation of the ASR provider on the Hyper-V host, using Windows Server with a GUI.
It's more likely that a Hyper-V host will be using Windows Server Core.  Please can we update this to include command-line instructions for installing the ASR provider (step 5)? Thanks!

---
#### Document Details

⚠ *Do not edit this section. I

[2018-11-28 05:44] ManojReddy-MSFT commented on #19483
@DeanGross I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-28 05:45] ManojReddy-MSFT commented on #19481
@DeanGross I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-28 05:47] ManojReddy-MSFT commented on #19437
@bsocca I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-28 05:50] Adam-Smith-MSFT commented on #19628
@iamrobdavies Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-28 05:53] SadiqhAhmed-MSFT commented on #19213
@vadim-berman, thanks for sharing the email address. Much appreciate your patience and time here. The correct email address is AzureMarketOnboard@microsoft.com.

@yijenj, can you help add the correct email address "AzureMarketOnboard@microsoft.com" to Azure Marketplace On-boarding process?

[2018-11-28 05:57] #19471 closed

[2018-11-28 05:58] letrungkien211 opened #19629 "Should Operation_Id set to be SessionId?"
Hi,
I am developing an App. In this app, after a websocket connection is established, a session_id is created and used in that websocket lifespan. Each request from websocket will be handled by some module. In the whole session, thousands of logs can be created.
In this case, should I use session_id as operation_id, AND websocket_request_id as operation_parentid

Thanks

---
#### Document Details

[2018-11-28 06:02] naznaaa opened #19630 "I have to use the same code in esp32"
hi,i got the code from https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-c.I selected arduino as developing environment and installed esp8266 in it .Now i have to use the same code in esp32 to utilize ble,but on uploading the same code some errors are seen such that libraries installed to connect esp8266 with azure iot is not compatible with esp32.can you please suggest a wa

[2018-11-28 06:02] vicky08 commented on #19563
@TravisCragg-MSFT Seems to be working now. Thanks.
I will close this issue.

[2018-11-28 06:02] #19563 closed

[2018-11-28 06:05] naznaaa opened #19631 "Code not working in ESP32"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-28 06:06] abhiTechcs commented on #13139
@jeffhollan Hi Jeff,

I am not sure, this is the right place to ask this question but i will try my luck here. :)

As per the microsoft documentation
the data encryption at rest is enabled by default for Azure Service Bus. but unfortunately, we cannot enable it using client managed keys for service bus.
Do you reckon we can get this service enabled pretty soon in Future?
My second question is how

[2018-11-28 06:06] naznaaa commented on #19631
hi,i got the code from https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-c.I selected arduino as developing environment and installed esp8266 in it .Now i have to use the same code in esp32 to utilize ble,but on uploading the same code some errors are seen such that libraries installed to connect esp8266 with azure iot is not compatible with esp32.can you please suggest a wa

[2018-11-28 06:08] Naveen-Bhat commented on #14283
For HttpClient, wouldn't it be a good approach to keep the HttpClientFactory as a static member and create HttpClient by using CreateClient factory method? this way, we are delegating the HttpClient creation responsibility to the factory which knows how to deal with the HttpClient effectively.

[2018-11-28 06:20] AjayKumar-MSFT commented on #19614
@KeiroKamioka0000, Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-11-28 06:30] ManojReddy-MSFT commented on #19618
@rtfmoz2 Thanks for the feedback. The process off bypassing Home Realm Discovery is called  Auto-acceleration. This is documented by MS [here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-authentication-for-federated-users-portal#auto-acceleration) and is indeed supported.

[2018-11-28 06:42] rtfmoz2 commented on #19618
Thanks for the reply. The documentation only mentions the whr query string
option. This should really be listed as a valid parameter on this page as
well. The other option login_hint is not shown anywhere to be supported for
SAML only on OpenID. So it should also be listed as a valid parameter on
this page. Since this page documents all the supports parameters used by
Microsoft for SAML 2.0 and Az

[2018-11-28 06:45] AjayKumar-MSFT commented on #19617
@KeiroKamioka0000, It’s different from IAAS VM and PAAS (App Service WebApps) VM. To give you a better insight on this, there are three main types of files that an Azure Web App can deal with:

1. Persisted files: This is what you can view as your web site's files. They follow a structure described here. They are rooted in d:\home, which can also be found using the %HOME% environment variable. For

[2018-11-28 06:48] ManojReddy-MSFT commented on #19618
@rtfmoz2 I understand. I will assign this to the author to consider adding this to the current doc.

[2018-11-28 06:51] rtfmoz2 commented on #19618
I updated my reply above.

[2018-11-28 07:13] dcbrown16 opened #19632 "Behavior of a change in retention"
If I set up retention in a Storage Account for a certain amount (say 30 days) and then changed the setting, does the setting apply retroactively?
In other words, what happens in these two situations?
1. Change retention from 30 days to 10 - will logs older than 10 days all get deleted whenever the next cleanup happens?
2. Change retention from 30 days to 0 (persistent) - will the logs that are cur

[2018-11-28 07:17] arnrist commented on #13282
I've updated my XML file as described in step 9 a on the new docs, and can confirm that the setup is now working! After XML update, the Reply and SignOn URL is listed with https.

Thank you for presenting the solution.

[2018-11-28 07:32] o-l-a-v opened #19633 "Will Android get backup/restore, any ETA?"
Will Android users get backup & restore functionality anytime soon, if ever? Is it in your plans?

I'm about to replace my Android phone. Manually reconfiguring MFA for 40+ accounts is not very tempting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3e97-a52f-85d3-c423e9664fdf
* Version Independent ID: 277881

[2018-11-28 07:34] mike-urnun-msft commented on #19043
Hey @miaojiang any thoughts on this?

[2018-11-28 07:39] ManojReddy-MSFT commented on #19619
@FranklyFrivolous Thanks for your feedback. We are looking into this and will update you shortly.

[2018-11-28 07:55] hiromingithub commented on #9419
Hi Sara Nicolini,
Would you please update the status?
Thanks and kind regards,
Hiromi

[2018-11-28 08:02] omniayehia8 commented on #19299
would you please clarify more ?

[2018-11-28 08:04] ajaichemmanam commented on #19153
Thanks @tulasim88  for your time and the Idea to use the Search upgrade instructions for changing to the required name.

[2018-11-28 08:04] #19153 closed

[2018-11-28 08:19] yushunyu opened #19634 "cognitiveJ can not use."
Why did it not used by this type?

![image](https://user-images.githubusercontent.com/30097653/49138008-03eef200-f329-11e8-9c3a-7df1c7344f79.png)
![image](https://user-images.githubusercontent.com/30097653/49138026-123d0e00-f329-11e8-9558-c0e536be72d5.png)

[2018-11-28 08:20] ManojReddy-MSFT commented on #19299
@omniayehia8 I wanted to confirm you created the attributes as described in the [Directory schema extensions article](https://msdn.microsoft.com/Library/Azure/Ad/Graph/howto/azure-ad-graph-api-directory-schema-extensions). The directory extensions described in this article are created using Graph (specifically Azure AD Graph API) and not through AD Connect schema extensions as described [here](htt

[2018-11-28 08:51] MohitGargMSFT commented on #19630
@naznaaa Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 08:52] MohitGargMSFT commented on #19631
@naznaaa Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 08:52] MohitGargMSFT commented on #19634
@yushunyu Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 09:01] prtdomingo opened #19635 "Site Recovery Checklist for replicating VMs"
Is there a "checklist" in Azure Site Recovery documentation that contains the requirements for on-premise virtual machines be shown to ASR Replicate Setup?

We're having some issues in where we want to protect a certain VM in ASR but we cannot find that particular VM during the setup.

So far, what we've checked is that the configuration server can ping/communicate to the VM.

Is there anything I

[2018-11-28 09:28] astaykov opened #19636 "Unclear purpose of Application Administrator Role"
What is the purpose of Application Administrator Role, as it is affected by "Users can consent apps accessing company data on their behalf" option? If this option is set to "No", then Application Administrator cannot consent to any app any permission. With that respect, the Application Administrator is less powerful than Application Developer, and is equal to a regular user.

If I have to set "Use

[2018-11-28 09:49] PeterSelchDahl opened #19637 "Microsoft Graph API"
Hi John,
Please state clearly that Microsoft does currently not provide access to get/set SSPR/MFA information using Microsoft Graph yet. Also mentioned that this is something you are working on correcting. Thanks :)

/Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae83fda-27b9-edca-1b59-1140de4cc3f5
* Version I

[2018-11-28 09:59] MageFroh commented on #17903
Sounds good, thanks a lot @rezasherafat 👍

[2018-11-28 10:41] ManojReddy-MSFT commented on #19632
Thanks for the question! We are investigating and will update you shortly

[2018-11-28 10:42] tinymoth opened #19638 "Minor typo - Flog Logs!"
[Enter feedback here]

I suspect that "to store raw flog logs." should read "to store raw flow logs."
Tim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa32b540-55b2-1691-6f38-e8687565cecc
* Version Independent ID: 8ad04d57-6370-c8dd-1049-1826a823bd12
* Content: [Azure traffic analytics frequently asked questions](htt

[2018-11-28 10:49] #19218 closed

[2018-11-28 10:53] sergaz-msft commented on #17903
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-28 10:53] #17903 closed

[2018-11-28 11:08] aqiank opened #19640 "Example for RecognizeOnceAsync with PushAudioInputStream"
Hi, I'm struggling in C++ with using RecognizeOnceAsync with memory-backed PushAudioInputStream. For me, it seems to work only when I Write() and then Close() the stream which I thought is strange. I'm guessing I'm using it wrong somehow. So if anybody can provide an example with that use-case, I'd greatly appreciate it. Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. I

[2018-11-28 11:11] ManojReddy-MSFT commented on #19637
@PeterSelchDahl Thanks for the feedback. I have assigned this to the author to validate and update the doc accordingly.

[2018-11-28 11:12] #18056 closed

[2018-11-28 11:14] ManojReddy-MSFT commented on #19636
@astaykov Thanks for the feedback. We are looking into this and will provide an update shortly.

[2018-11-28 11:30] ManojReddy-MSFT commented on #19633
@o-l-a-v Thanks for the question. We are investigating this and will update shortly.

[2018-11-28 11:32] SadiqhAhmed-MSFT commented on #19620
@saif-chaudhry, thanks for the feedback. We will investigate and update as appropriate.

[2018-11-28 12:07] Cecildt commented on #15259
Any updates on progress @lachie83?

[2018-11-28 12:14] JohnStraumann66 commented on #12841
Can you folks please extend this example and show how to add functionality like image comparison to determine if the face in an image matches another face and things like that? I have gone through the "How To" articles, but have been unable to get them to work. Need a thorough step-by-step like this article.

[2018-11-28 12:31] franzoir opened #19642 "Size Signal logic"
I can't find any references explaining what the Size metric is.
Could someone enlighten me if this is total size for the namespace or each message?
"Condition preview
Whenever the size (preview) is greater than &lt;undefined&gt; bytes"

Want to accomplish same as this: https://stackoverflow.com/questions/47657455/how-to-alert-on-queue-size-on-azure-service-bus

---
#### Document Details

⚠ *Do not

[2018-11-28 12:42] Ismailmgl commented on #14121
can we execute PS1 file which is located in GIT directly from azure command?

[2018-11-28 12:51] jakaruna-MSFT commented on #19623
@northtyphoon In the list of [supported ](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#supported-os-images) platform OS, 2019 Datacenter is missing.  I will check and let you know.
CC: @MicahMcKittrick-MSFT

[2018-11-28 12:53] quiz7 opened #19643 "Connection string System.FormatException error"
Hello,

I try to run the data generator but i get the following error message 👍

Exception non gérée : System.FormatException: Le format de la chaîne d'entrée est incorrect.
   à System.Number.ParseSingle(String value, NumberStyles options, NumberFormatInfo numfmt)
   à telcodatagen.Program.GenerateData(String[] args) dans C:\WORK\Enlist\GitHub\azure-stream-analytics\DataGenerators\TelcoGenerator\

[2018-11-28 12:56] glecanu opened #19644 "Incorrect protocol in graphic"
In the graphic showing replication to Azure, the incorrect protocol is shown for the VMs communicating with the Management Server.  The protocol should be HTTPS not HTPPS.
[Enter feedback here]

---
#### Document Details

<span class="emoji-outer emoji-sizer"><span class="emoji-inner" style="background: url(chrome-extension://immhpnclomdloikkpcefncmfgjbkojmh/emoji-data/sheet_apple_32.png);backgrou

[2018-11-28 12:59] quiz7 commented on #19643
sorry, i failed.
I have to enter the following parameters : 0,2 instead of 0.2
cause I'm french :)

Sorry.

[2018-11-28 13:06] asyba opened #19645 "Help Batch transcription"
Hi, I need help to use this API in Java, the documentation is messy and not good explain.

https://eastus2.cris.ai/swagger/ui/index#!/Custom32Speech32transcriptions58/CreateTranscription

https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/batch-transcription#authorization-token

https://github.com/PanosPeriorellis/Speech_Service-BatchTranscriptionAPI

I got a lot of errors, a

[2018-11-28 13:13] KetanChawda-MSFT commented on #19642
@franzoir Thank you posting your question. We will investigate and will get back to you.

[2018-11-28 13:24] colinrippeyfinarne opened #19646 "Code sample will need updating due to changes in using the login.microsoftonline.com/common endpoint"
I have been following the 30 days of MSGraph series and this article is used as the basis for days 23 & 24.

The code to login:

//Pass null for default authority (https://login.microsoftonline.com/common)
var myMSALObj = new Msal.UserAgentApplication(applicationConfig.clientID, null, acquireTokenRedirectCallBack,
    {storeAuthStateInCookie: true, cacheLocation: "localStorage"});

Will need to be

[2018-11-28 13:53] anderseide commented on #14425
Would be great with an update of this documentation

IP is quite safe to use as it's static though the lifetime of the subscription, with a few exceptions. https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#is-the-api-management-gateway-ip-address-constant-can-i-use-it-in-firewall-rules

[2018-11-28 14:02] jantoney opened #19647 "Update to new AZ module"
The AzureRM module is depreciated. Need to update commands to AZ
https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azurermps-6.13.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Us

[2018-11-28 14:21] lestaat opened #19648 "Access ASEv2's ILB IP Address from another VNET with global peering"
Not able to access ASEv2's ILB into a VNET from another VNET (they both have global peering). is there any consideration?
Routing seems be not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking

[2018-11-28 14:21] exzero16 opened #19649 "Activation steps do not work"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy

1.Sign in to the Azure portal as an administrator.
2.Select Azure Active Directory > MFA Server.
3.Select Server settings
4.Select Download and follow the instructions on the download page to save the installer
5.Back on the page that you downloaded the server from, click the Generate Activation Credenti

[2018-11-28 14:21] abhijitchaudhari1 opened #19650 "Summary should be on Value in record not on the number of record"
I am not sure if I am right here(newbie) , but just to confirm if I am thinking right the example  says
  *It calculates the average value for each period if 1 hour, over the last 2 days:*
using
summarize count() by bin(TimeGenerated, 1h)

I think it should be

summarize CounterValue() by bin(TimeGenerated, 1h)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-11-28 14:43] Alberto-Vega-MSFT commented on #19640
@aqiank Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 14:44] sgandon commented on #6371
Hi Rachel, thanks for the qui answer, in fact \@ made it work.

[2018-11-28 14:52] glaisne opened #19651 "Bad registry keys"
find and replace:
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft.NETFramework
with:
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you crea

[2018-11-28 14:56] AndriyGorda opened #19652 "Logging to storage account - no data plane logs written"
Hello team,

When logging to storage, metrics are written and data plane requests are not.

Steps:
1. Create new Cosmos Db account, database, collection
2. Create new Storage account (classic)
3. Check "Archive to a storage account"
4. Configure storage account as the one created on step 2.
5. Check "Log - DataPlaneRequests"
6. Check "Metrics - Requests"
7. Click "Save"
8. Perform data related act

[2018-11-28 15:06] guvnor1972 opened #19653 "Diagram does not match description"
The example hierarchy diagram does not match with the description for "Infrastructure Team management group"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with Azure management groups

[2018-11-28 15:21] dan1els opened #19654 "SAML login hint"
Is it possible to add the same behavior for SAML2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f308c4-9c2a-06c6-d460-5b4b9ed3877f
* Version Independent ID: 9ffaa9db-650b-a250-0e16-b450d69cc3f3
* Content: [Set up direct sign-in using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-director

[2018-11-28 15:30] georgewallace commented on #17462
@jeffwmiles These cmdlets are now out of preview and up.

[Get-AzureRmAutomationSoftwareUpdateConfiguration
](https://docs.microsoft.com/en-us/powershell/module/AzureRM.Automation/Get-AzureRmAutomationSoftwareUpdateConfiguration?view=azurermps-6.13.0)

[Get-AzureRmAutomationSoftwareUpdateMachineRun
](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/get-azurermautomationsoftwar

[2018-11-28 15:32] georgewallace commented on #19167
@nkbpc were you able to verify the appropriate permissions?

[2018-11-28 15:36] msmimart commented on #15481
#please-close

[2018-11-28 15:41] JC-JackClark opened #19655 "Service proxy factory lifetime"
In the Service proxy factory lifetime section it reads "If you use the API ServiceProxy.Create to create a proxy, the framework creates a singleton service proxy. ", should it not be "If you use the API ServiceProxyFactory.CreateServiceProxy to create a proxy, the framework creates a singleton service proxy. "?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-28 15:42] nkbpc commented on #19167
Hi,
The problem was in the “Azure Classic Run As Account”. For some reason, it is not created automatically when the solution is deployed.
My administrator managed to create the account successfully and the problem was resolved.
I could not perform the requested action due to permission issues (and that was the reason why I was seeing the Classic Run As Account as Greyed out).

Thank you a lot for

[2018-11-28 15:47] jdickson289 opened #19657 "Step has Registry key path incorrect"
This step has the registry path incorrect - 1. Locate the following registry subkey: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft.NETFramework\v4.0.30319.
The correct path is HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319
Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-723

[2018-11-28 15:49] jdickson289 opened #19658 "Registry Key path incorrect in Step 3"
Step 3 has incorrect registry key path - Locate the following registry subkey: HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft.NETFramework\v4.0.30319.

Correct path is - HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v4.0.30319

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7

[2018-11-28 15:56] wasabii commented on #18713
Um. Yes. As I said, the REST API never returns any updates as having been applied. The REST API wouldn't exist if I hadn't managed to get the thing installed. :)

[2018-11-28 16:02] maon1317 opened #19659 "Deploy error"
Created a new ASP.NET application following the lab and got this issues

Deploy to local cluster

1>------ Build started: Project: Web1, Configuration: Debug Any CPU ------
1>Web1 -> C:\temp\Web1\bin\Debug\netcoreapp2.1\Web1.dll
1>Web1 -> C:\temp\Web1\bin\Debug\netcoreapp2.1\Web1.Views.dll
2>------ Build started: Project: MeshApplication, Configuration: Debug Any CPU ------
2>Ensuring previously d

[2018-11-28 16:02] martinagrom opened #19660 "acces control shows only MFA registration"
the above screenshot shows 3 options. currently only one option is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b9bf82
* Version Independent ID: bd7ab1c4-856b-0e1c-c9d7-d6a5ea494467
* Content: [How to configure the multi-factor authentication registration policy in Azure Activ

[2018-11-28 16:22] Srikkanth123 opened #19661 "Data import to a table with identity column"
Hi Team,
In the document, importing/copying data to a table with identity column in is not mentioned. Please add the steps to the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75402f01-c53e-25e0-6f1c-bc94d797dda1
* Version Independent ID: a3dfb190-a12d-37cf-2dfe-034becd60e39
* Content: [Schema mapping in cop

[2018-11-28 16:30] aahill commented on #19601
No problem! #please-close

[2018-11-28 16:33] #19601 closed

[2018-11-28 16:39] Mike-Ubezzi-MSFT commented on #19652
@AndriyGorda Thank you very much for the detailed feedback. Do you have an Azure Support Plan? If not, can you please send your Azure Subscription GUID to AzCommunity at Microsoft.com and I can have a one-time incident ticket created to investigate this issue, as there are no actionable documentation corrections to be made at this point. Thank you!

[2018-11-28 16:53] AndriyGorda commented on #19652
Hello Mike,

Sent to azcommunity@microsoft.com
Thank you for your help.

Regards,

[2018-11-28 16:55] jhughes17 opened #19664 "Creating new Resource Group from Example gives error 'az: error: unrecognized arguments: Asia'"
Following along with the example in this document, error is given when trying to use the example. Once I ran the 'az account list-locations' command and got the Name property instead, I then get "Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'." error instead even with an all lower case resource group name.

---
#### Document Details

⚠ *Do not edit thi

[2018-11-28 17:02] mj-dd opened #19665 "How do you handle/update closed businesses in the local business search db?"

[2018-11-28 17:07] jay98014 commented on #17915
Hi folks, the current algorithm does measure additional complexity beyond the presence of a banned token.   If sufficient additional complexity exists, a password may be accepted even if a banned token is present.   Using the "PasswordPotato" example above, "potato" itself is not currently banned (shhhhh - don't tell anyone!) and adds enough extra complexity that the whole password is accepted.

[2018-11-28 17:10] #19193 closed

[2018-11-28 17:11] MicrosoftGuyJFlo commented on #19637
The supported ways to load data are listed in the article. We do not comment on future features or functionality that may or may not be in development in docs articles.

[2018-11-28 17:11] MicrosoftGuyJFlo commented on #19637
#please-close

[2018-11-28 17:17] BhargaviAnnadevara-MSFT commented on #19629
@letrungkien211 Thanks for the feedback! We're investigating this and will get back to you shortly.

[2018-11-28 17:29] MicahMcKittrick-MSFT commented on #19655
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 17:30] diberry commented on #19613
@managedcoder The text is removed from the [doc](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-how-to-add-features) now. #sign-off

[2018-11-28 17:31] diberry commented on #19605
#in-progress

[2018-11-28 17:31] curtand commented on #15466
Hi @cflee
The reference is now in the first paragraph of the virtual networks overview as you requested. Thanks for the great suggestion!

@kobulloc-MSFT
#please-close

[2018-11-28 17:33] Mike-Ubezzi-MSFT commented on #19652
Please update this thread with the response from Support. Thank you!

[2018-11-28 17:36] SharmainePopov commented on #18892
Sorry you can close this. I can’t even remember what I was working on at that point.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Kartik P V R <notifications@github.com>
Sent: Wednesday, November 28, 2018 12:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine

[2018-11-28 17:37] pvrk commented on #18892
#please-close

[2018-11-28 17:43] subashsivaji opened #19666 "Why two pipelines?"
I don't understand why we need two pipelines?
1) Lookup and Execute
2) Iterate and Copy
Cant we have just one pipeline with following activities …. Lookup - Foreach Loop - Copy . It seems to work with 1 pipeline for me. Foreach loop gets the enitiy list from lookup activity and does the copy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-11-28 17:48] MarileeTurscak-MSFT commented on #19625
@imeya
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-28 17:55] miaojiang commented on #19043
APIM cannot get users group membership if they login via B2C. When users login via B2C, we call B2C's API to get users metadata, which does NOT include group membership.

[2018-11-28 17:58] YutongTie-MSFT commented on #19383
@lukasztomalczyk
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-28 17:58] #19383 closed

[2018-11-28 18:00] maertendMSFT commented on #14121
@Ismailmgl, can you provide more details?

[2018-11-28 18:02] larryms commented on #13401
Responding to @apwestgarth's comment from Aug 16, this document intermingles guidance for ASDK & integrated systems, and it's very unclear as to which steps are needed for ASDK vs integrated vs both.  It desperately needs updating to make this more clear; could you update?  thanks.

[2018-11-28 18:05] rachel-msft commented on #6371
Thanks for letting us know

[2018-11-28 18:09] Adam-Smith-MSFT commented on #19647
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-28 18:10] Adam-Smith-MSFT commented on #19644
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-28 18:13] Karishma-Tiwari-MSFT commented on #19624
@deosandeep From my understanding it is not supported. Can you please confirm GUI is supported for AADLoginForLinux? Thanks :)

[2018-11-28 18:14] aljo-microsoft commented on #19557
@hukun01

You will not safely reduce your upgrade duration for production workloads to less than ~30 mins for any change that triggers a cluster upgrade.

You've been provided the links that articulate the system flow during an upgrade.

Using you numbers:
3.5 * 5 UD's = 17.5 minutes or about half of the time is just waiting.

This is a good thing to ensure to avoid a false positive of health.

Re

[2018-11-28 18:15] YutongTie-MSFT commented on #19613
@managedcoder
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-28 18:15] #19613 closed

[2018-11-28 18:15] martinlarosa commented on #19397
@AjayKumar-MSFT what I'm seeing is that the AppServiceAuthSession I'm getting back in the login callback is set to expire on 1969-12-31T23:59:59.000Z
Also trying to access /.auth/logout/done by hand redirects me to the main page of the app

[2018-11-28 18:15] Karishma-Tiwari-MSFT commented on #19510
@Adam-Smith-MSFT Can you please share if you have any insights on whether unmanaged disks are going to be deprecated any time soon? Thanks :)

[2018-11-28 18:32] 321timfin opened #19668 "unzip multiple files from linked ZIP file?"
I see there is a way to deflate a ZIP file but when there are multiple .txt files within a ZIP, how do I specify which to use as my source?  Right now it's only deflating and allowing use of the first file in a set within the source ZIP container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb254eed-873c-17d6-3d95-1

[2018-11-28 18:34] CeciAc opened #19669 "sending Notification to supecific Xamarin.Android Apps"
@JosephBrainstein commented on [Wed Nov 28 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/924)

Hello, I wanna make this program using C#(xamarin.android), not java.
Is the tutorial not here?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7e71a428-6213-e0e1-cfba-76964353e0a2
* Version Independent ID: ef27b609-4c88-3a11-35ad-709df9c518

[2018-11-28 18:35] spencekile commented on #18953
@CHEEKATLAPRADEEP-MSFT That additional connection parameter does resolve the issue with the temp tables not being found in the same session. Thanks for the help in getting this resolved.

[2018-11-28 18:35] u884951 opened #19670 "Determine if websearch record is a video"
Hi there,

i am using Bing Websearch Trial SDK for Java. It works fine.
How can i check if a websearch record is a video ?

Some relevant fields are returning null. Is this a restriction for trial users ?

My app is iterating through "WebPage myResult = webData.webPages().value().get(i);"

                        ret+=String.format("[%d] Web page name: %s ", i, myResult.name())+LF;

[2018-11-28 18:37] Karishma-Tiwari-MSFT commented on #19457
@kaywilliams Did that help? Please let me know. Thanks.

[2018-11-28 18:41] MarkusVi commented on #19660
Hi @martinagrom, the other two options are grayed out.
So, yes, there is only one option available.

[2018-11-28 18:46] aljo-microsoft commented on #19589
@MicahMcKittrick-MSFT

https://github.com/MicrosoftDocs/azure-docs-pr/pull/58956

to update link to point to:
https://docs.microsoft.com/dotnet/api/microsoft.servicefabric.actors?redirectedfrom=MSDN&view=azure-dotnet#microsoft_servicefabric_actors

Please close this.

[2018-11-28 18:55] CeciAc opened #19671 "tiny typo"
@jmrnilsson commented on [Wed Nov 28 2018](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/53)

`&lt;add initializationPage="/Home/About" hostname="[app hostname]" /&gt;`

`hostname` should be `hostName`or will give error or warning i visual studio pro. Seem case-sensitive

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till G

[2018-11-28 18:56] CeciAc commented on #19671
Hi team,
please check the contributor's comment about a typo in the code

[2018-11-28 18:57] kobulloc-MSFT commented on #19386
It does look like we could use a bit more explanation in the logic behind our code samples here.  I'm going to assign this to the document author so they can update the document accordingly.

[2018-11-28 18:58] CelesteDG commented on #16588
@u02cm62 - Thank you very much for your feedback. I'm adding a link to the admin roles topic from the Azure AD consent framework topic (and any other docs where we talk about delegated permissions). The admin roles topic covers in more detail which admin roles can consent to delegated permissions: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-rol

[2018-11-28 18:58] #19589 closed

[2018-11-28 19:08] hukun01 commented on #19557
Thanks. So basically 35 minutes is the bare minimum for a service deployment on Service Fabric?

[2018-11-28 19:09] aljo-microsoft commented on #19547
@pisees and @jakaruna-MSFT

Protection Level's are documented where it makes sense:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-secure-communication
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster
https://docs.microsoft.com/en-us/dotnet/api/system.fabric.protectionlevel?view=azure-dotnet
https://docs.microsof

[2018-11-28 19:16] yzorg opened #19672 "Az Function, Run from Package - deploy via Azure DevOps"
It took me a while to figure out how to use **Run from package** to deploy an Azure Function from Azure DevOps.  It took me a while to realize the "Visual Studio Build" template will, by default, create a zip file for my Core 2.0 compiled function.  I also had to change the variables in the "Azure App Services Deploy" step to find the zip file created by the build step.  This isn't covered anywher

[2018-11-28 19:24] mike-urnun-msft commented on #19672
Hi @yzorg Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-11-28 19:29] MicrosoftGuyJFlo commented on #17915
#please-close

[2018-11-28 19:36] #15466 closed

[2018-11-28 19:42] jockerman-ipspark opened #19673 "YAML Pipeline Documentation"
With the recommended approach for Azure DevOps Pipelines now to use YAML over the UI\Display what would be the approach to building a YAML based pipeline for Azure Service Fabric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17eb0
* Version Independent ID: a69e5b1f-1195-b191-58a4-0caf73

[2018-11-28 19:53] MohitGargMSFT commented on #19635
@prtdomingo Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 19:53] martin1856 commented on #13282
This worked for us as well.  Any way to default login to use the Azure SSO, instead of forcing the user to click the button for Azure to login?

[2018-11-28 19:54] jeevansd commented on #13282
@martin1856  and @arnrist  Thanks for the confirmation.
For forcing the Azure AD login I can take this as a feature request to our plugin. Thanks for your input.

[2018-11-28 19:55] jeevansd commented on #13282
Document is updated now.
#please-close

[2018-11-28 19:56] MohitGargMSFT commented on #19645
@asyba Thanks for your feedback! We will investigate and update soon on it.

[2018-11-28 19:58] TravisCragg-MSFT commented on #19638
@tinymoth Thanks for the feedback! I have fixed the typo, and the change should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-28 19:58] #19638 closed

[2018-11-28 19:59] MohitGargMSFT commented on #19649
@exzero16 Thanks for your feedback! We will investigate and update soon on it.

[2018-11-28 20:00] MohitGargMSFT commented on #19651
@glaisne Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 20:01] MohitGargMSFT commented on #19659
@maon1317 Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 20:01] MohitGargMSFT commented on #19665
@mj-dd Please help with the document on which this feedback is provided. Thanks.

[2018-11-28 20:03] MohitGargMSFT commented on #19646
@colinrippeyfinarne Thanks for your feedback! We will investigate and update soon on it.

[2018-11-28 20:04] MohitGargMSFT commented on #19654
@dan1els Thanks for your feedback! We will investigate and update soon on it.

[2018-11-28 20:12] BorisB2015 commented on #19189
I do not have an ETA on when SUSE/SLES will officially support cloud-init in Azure. Our (MSFT) goal is to build/enable cloud-init package that works with SLES as soon as required upstream work and testing happens but it is ultimately up to the distro vendor to declare support for it. As soon as we have a preview - the doc will be updated accordingly.

[2018-11-28 20:17] CraigHumphrey commented on #12813
@msmimart Thanks, yes, the link you provided is the documentation I was looking for!

BTW I didn't get notifications of updates to this thread, until @CHEEKATLAPRADEEP-MSFT closed it... Is there something up with notifications?

[2018-11-28 20:20] MicrosoftGuyJFlo commented on #19649
The screenshot in step 4 under download shows the link. https://docs.microsoft.com/azure/active-directory/authentication/howto-mfaserver-deploy#download-the-mfa-server

[2018-11-28 20:21] JSeb225 commented on #19521
Yes, in this case it should be replaced by volume. We'll update the doc shortly with this information. Thanks for pointing this out.

[2018-11-28 20:22] MohitGargMSFT commented on #19664
@jhughes17 Thanks for your feedback! We will investigate and update soon on it.

[2018-11-28 20:32] #19508 closed

[2018-11-28 20:33] msmimart commented on #12813
@CraigHumphrey I'm not sure about notifications; I'll look into it. Thanks!

[2018-11-28 20:35] BryanTrach-MSFT commented on #19669
@josephbrainstein Thanks for the feedback! We currently do not have a C# sample for this doc.

As a result, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-28 20:40] BryanTrach-MSFT commented on #19648
@lestaat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 20:41] MicahMcKittrick-MSFT commented on #19343
@itsdeshpande you are correct. But there are some limitations when using Service Fabric
![image](https://user-images.githubusercontent.com/32313503/49180880-caa78980-f30a-11e8-81d1-1a852a0f9f05.png)

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#configuring-a-custom-load-balancer-probe-as-application-health-probe-on-a-scale-set

@alj

[2018-11-28 20:46] BryanTrach-MSFT commented on #19648
@lestaat Are you able to tcpping an Azure VM that is in the same VNET from KUDU? Are you able to tcpping an Azure VM that is in the 'peered VNET'?

[2018-11-28 20:58] maon1317 commented on #19659
https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-quickstart-dotnet-core

[2018-11-28 20:58] YutongTie-MSFT commented on #19570
@dem108
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-28 20:58] #19570 closed

[2018-11-28 21:01] YutongTie-MSFT commented on #18342
@sammym1982
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-28 21:01] #18342 closed

[2018-11-28 21:01] bryanrcarlson opened #19674 "10k limit for a container during polling does not seem to be accurate"
At the section titled "[Trigger - Polling](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---polling)", it's mentioned that "If the blob container being monitored contains more than 10,000 blobs, the Functions runtime scans log files to watch for new or changed blobs.

Per the [comment](https://social.msdn.microsoft.com/Forums/en-US/378da62e-2ca2-4df1

[2018-11-28 21:04] BryanTrach-MSFT commented on #19648
@lestaat We just uncovered the below statement.

[Source](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints)

Since this scenario is unsupported, you'll need to consider alternatives such as using VNETs that are in the same region.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2018-11-28 21:04] #19648 closed

[2018-11-28 21:11] mcurko opened #19675 "Error"
sqlFunction.cs(12,19): error CS0234: The type or namespace name 'SqlClient' does not exist in the namespace 'System.Data' (are you missing an assembly reference?) [/app/sqlFunction.csproj]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f033d3a-7af4-53ce-e7da-4ac7444520ce
* Version Independent ID: 1f2f6875-6f69-83f7-11

[2018-11-28 21:18] YutongTie-MSFT commented on #12841
@JohnStraumann66 Thanks for your advice. @PatrickFarley Can you please take a look? Thanks a lot!

[2018-11-28 21:19] yzorg commented on #19672
Jeff Hollan's medium post turned out to be what I needed, but I was misreading one of his steps and couldn't match my UI to his screenshots.  Still might be a good idea to convert that to a doc.

(And possibly clarify his "build template" step so others don't repeat my mistake. I didn't know build template vs. build process steps that are visually similar.)

[2018-11-28 21:29] YutongTie-MSFT commented on #17188
@strohne
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-28 21:29] #17188 closed

[2018-11-28 21:30] PatrickFarley commented on #12841
@KarthickTC The link is working for me, even when I'm not signed in to GitHub. Is there still an issue?

[2018-11-28 21:32] JohnStraumann66 commented on #12841
It's the code in this article I cannot get to work at all: https://docs.microsoft.com/en-us/azure/cognitive-services/Face/face-api-how-to-topics/howtoidentifyfacesinimage

[2018-11-28 21:39] PatrickFarley commented on #12841
@JohnStraumann66 Please create a separate thread for your issue.

[2018-11-28 21:42] SergeyKanzhelev commented on #19386
One context is on event representing the whole incoming request (RequestTelemetry). Lifetime of it is entire request execution. While it is being executed there are work happening that can produce other telemetry events. Like outgoing requests. Which also needs to be associated with the user and session. Telemetry Initializer is only used for those "enclosed" telemetry events.

Telemetry initializ

[2018-11-28 21:42] JohnStraumann66 opened #19676 "Extend Face API tutorial"
Can you folks please extend this example and show how to add functionality like image comparison to determine if the face in an image matches another face and things like that? I have gone through the "How To" articles, but have been unable to get them to work. Need a thorough step-by-step like this article:

https://docs.microsoft.com/en-us/azure/cognitive-services/Face/tutorials/faceapiincsharpt

[2018-11-28 21:43] JohnStraumann66 commented on #12841
https://github.com/MicrosoftDocs/azure-docs/issues/19676

[2018-11-28 21:44] dem108 commented on #19570
@YutongTie-MSFT can you please check again. I'm NOT referencing this page (`What is Azure Machine Learning Studio?`) as I've mentioned in earlier post. I'm referencing the left pane `Algorithm & Module reference` from the left pane of the main frame, which does not have feedback section, so I'm technically using unrelated document to report this. Please check below screenshot for details. The repo

[2018-11-28 21:45] PatrickFarley commented on #12841
You can go ahead and assign that to me.

[2018-11-28 21:46] roygara commented on #19604
@Romiko thanks for bringing this up! I'll add a mention to the FAQ that it is supported for data disks, while outlining that it is not supported for OS disks.

Accordingly,

#please-close

[2018-11-28 21:49] #19604 closed

[2018-11-28 21:52] Grace-MacJones-MSFT commented on #19294
Hi @dcbrown16, thanks for your patience. To deploy a WAR file to App Service you need deployment credentials. The deployment credentials for your app are provided in the request by using HTTP BASIC authentication. To use HTTP BASIC authentication, you need your App Service deployment credentials which can be found in the deployment center blade in the Azure portal. You can step up your user creden

[2018-11-28 21:52] #19294 closed

[2018-11-28 21:54] Karishma-Tiwari-MSFT commented on #16638
@carlfm01 The fix has been deployed to production in all regions. You can test it out now. Thanks for your patience.

[2018-11-28 21:55] rs38 commented on #17820
tested it with a different corporate notebook with win10 1803 in a corp network in the same city and the shell console works.

any chance to narrow it down?

[2018-11-28 22:03] justinbarias commented on #5480
Had this problem ever since Log Analytics (was called OMS then) was released.. IIS logging ingestion is only supported for VMs which have the Log Analytics agent installed, not for App Services. I think the App Services product team will never build this capability since App insights already does this to a certain extent.
However, App Insights isn't in all countries - so not really feasible for so

[2018-11-28 22:15] sergaz-msft commented on #18089
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-28 22:15] #18089 closed

[2018-11-28 22:32] ShubhaVijayasarathy commented on #19160
you could use partition key

[2018-11-28 22:40] MicahMcKittrick-MSFT commented on #19673
Thanks for the question! We are investigating and will update you shortly.

[2018-11-28 22:45] vhorne commented on #19337
@gundermanc
Fixed

[2018-11-28 22:45] vhorne commented on #19337
#please-close

[2018-11-28 22:46] vhorne commented on #19339
@gundermanc
Fixed.

[2018-11-28 22:46] vhorne commented on #19339
#please-close

[2018-11-28 22:47] cynthn commented on #9835
@jurjenoskam thank you for the feedback! I have added a line into the docs about entering the username in all lower case. Thanks again!

#please-close

[2018-11-28 22:47] gundermanc commented on #19339
Looks like I was erroneously mentioned? :)

[2018-11-28 22:52] #9835 closed

[2018-11-28 22:52] aljo-microsoft commented on #19557
@hukun01

No.*

If performing Dev\Test cycles where you need quick feedback loop, use VS tooling, which leverages linking to optimize for deployment speed; minutes to get things done.

For obvious reasons this isn't safe for production, you should be using a continuous deployment pipeline (Like Azure DevOps), and safe deployment service health checking and roll back (what SF upgrade provides).

Pr

[2018-11-28 22:58] MicahMcKittrick-MSFT commented on #19655
@JC-JackClark good find! I have corrected the doc. Once the PR merges the changes will go live in a few hours.

[2018-11-28 22:58] #19655 closed

[2018-11-28 23:09] YutongTie-MSFT commented on #19670
@u884951 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aahill Hi, can you please help to clarify this issue? Thanks a lot!

[2018-11-28 23:12] aljo-microsoft commented on #19343
@itsdeshpande and @MicahMcKittrick-MSFT
In Azure the Service Fabric Best practice is to use VMSS Auto Image Upgrade Service to keep your OS distro image current with the vendors patch and distro release; you MUST follow all best practices to avoid this feature's unstoppable infrastructure maintenance from reducing your Application availability.

I.E. Once the support Vendor's image is published, a

[2018-11-28 23:19] keithcharlie opened #19679 "UPDATE: Free and bring-your-own-license (BYOL) pricing"
Please add at the bottom of this section:

"Note: When using the BYOL option for Virtual Machine and Container offers, the publisher is responsible for all aspects of distributing, processing, enforcing, and storing the software license key. Users are expected to input the license key directly into the application once the the infrastructure has been provisioned and the application is running.

Wh

[2018-11-28 23:34] jason-j-MSFT commented on #19643
@quiz7 hi!  Is this still an issue?

[2018-11-28 23:35] jason-j-MSFT commented on #19650
@abhijitchaudhari1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 23:36] jason-j-MSFT commented on #19657
@jdickson289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-28 23:36] Ghander commented on #16848
Step 3 -
4. From the Settings page, select Required Permissions, and then select Add. Locate and select the To Do List Service, add the Access TodoListService permission under Delegated Permissions, and then select Done.

The To Do List Service is greyed out and cannot be selected. How do I fix this?

[2018-11-28 23:57] Grace-MacJones-MSFT commented on #19532
@DavB-cs  when did you receive this email?

[2018-11-29 00:01] MGoedtel commented on #19657
@jdickson289 @jason-j-MSFT - I noticed the keypath is missing a slash between Microsoft and .NETFramework so I just updated the article in a PR and it should go live tomorrow.  Thanks for bringing this to my attention.  #please-close.

[2018-11-29 00:11] #19657 closed

[2018-11-29 00:12] DavB-cs commented on #19532
First email: 2018-08-13
Second email: 2018-10-11 (notice of extended deadline)
The summary at the bottom of each email looks like this (our company data hidden)

Subscription name: BIZSPARK
Subscription ID: (removed)
Host name(s) using Inbound IP addresses: live-mySite-PlatformAPI, live-mySite-PlatformWS, live-mySite-DataAPI, live-mySite-Install, live-mySite-Portal
Host name(s) using Outbound IP a

[2018-11-29 00:33] hukun01 commented on #19557
Yeah, we are good with 35 minutes if it's for production deployment. The VS tooling you mentioned seems promising, could you provide more details on that? @aljo-microsoft

[2018-11-29 00:35] gunnarcms opened #19681 "Typo"
In https://docs.microsoft.com/en-us/azure/automation/manage-update-multi#supported-operating-systems , replace "an" by "a" in the sentence "This solution doesn't support an Log Analytics Agent for Linux"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab2afa-e9e7-f897-eebd-4c46c45c1215
* Version Independent ID: 994a31

[2018-11-29 00:35] Grace-MacJones-MSFT commented on #19310
Hi @ggailey777,  can you please look into this?

[2018-11-29 00:41] eustacea commented on #19603
Here are some considerations when architecting the security infrastructure for your deployment: https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-architecture?context=azure/iot-hub/rc/rc

An here is good source for information on public key infrastructure: https://datatracker.ietf.org/doc/rfc5280/

[2018-11-29 00:47] bwren commented on #19650
Actually it should be
summarize avg(CounterValue) by bin(TimeGenerated, 1h)

Making that correction now.  Thanks!

[2018-11-29 00:47] bwren commented on #19650
#please-close

[2018-11-29 00:58] #19650 closed

[2018-11-29 01:01] dcbrown16 opened #19682 "App Service Plans have different behavior for Web Apps and Functions?"
I just want to confirm that the IP addresses of Functions running on App Service Plans are really as unstable as this document claims. This doc says inbound and outbound for Functions "might also change when you haven't taken any actions such as the ones listed."
In contrast, the doc for Web App IPs only states that IPs change on certain operations and doesn't mention changing at other times.
http

[2018-11-29 01:02] Karishma-Tiwari-MSFT commented on #19419
@mikedbrook Can you please elaborate a little more on what do you mean by SSH hardening.
Is this something you are referring to? https://www.sshaudit.com/hardening_guides.html
If yes, it doesn’t seem to change anything we depend on and we should be able to keep working, but I have to test it.
Can you try turning on the debug logging and see what is in the auth log and that would help figure out th

[2018-11-29 01:04] anrothMSFT commented on #19553
Forthcoming int he coming weeks, but no specific date.

[2018-11-29 01:04] Karishma-Tiwari-MSFT commented on #19624
@cburko I heard back from the engineer and he shared that having a GUI login is out of scope for this. It will probably require changing the client and a VM extension cannot do that.

[2018-11-29 01:05] jason-j-MSFT commented on #19661
@Srikkanth123
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 01:08] Alberto-Vega-MSFT commented on #19675
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 01:18] cburko commented on #19624
Hi Karishma,

Thanks for your help.
Regards,
Chris

[2018-11-29 01:18] #19624 closed

[2018-11-29 01:32] jason-j-MSFT commented on #19658
@jdickson289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 01:32] Mike-Ubezzi-MSFT commented on #19420
Apologies for the delay on this documentation feedback. In reviewing the first step, it appears that the `select database` steps is not clearly illustrated but is so contextually:

"In the Azure portal, select your SQL server and then click Manage Backups. On the Configure policies tab, select the checkbox for the database on which you want to set or modify long-term backup retention policies."

!

[2018-11-29 01:33] mike-urnun-msft commented on #19682
Hello @dcbrown16 Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-11-29 01:34] Mike-Ubezzi-MSFT commented on #19420
@CarlRabeler Is @anosov1960 the correct owner for this?

[2018-11-29 01:38] mike-urnun-msft commented on #19674
Hello @bryanrcarlson Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-29 01:39] CarlRabeler commented on #19420
@Mike-Ubezzi-MSFT please assign this to me to fix

[2018-11-29 01:45] Karishma-Tiwari-MSFT commented on #19189
@ManuRiver Hope the above explanation helped. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-29 01:45] #19189 closed

[2018-11-29 01:48] Mike-Ubezzi-MSFT commented on #19428
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. Apologies for the delay.

[2018-11-29 01:50] Mike-Ubezzi-MSFT commented on #19428
@CarlRabeler Assign to you?

[2018-11-29 01:52] Mike-Ubezzi-MSFT commented on #19433
@SnehaGunda Would this get assigned to you or @deborahc? Thank you...

[2018-11-29 01:53] Mike-Ubezzi-MSFT commented on #19435
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-29 01:53] #19435 closed

[2018-11-29 01:54] saikumaru commented on #19477
hi, thank you for your response. Would you be able to please let us know when we can get a reply on this.
I do see this was showcased in the demo videos, in a similar manner, however I am unable to achieve the same. Neither does the Mail-trigger work.

Thank you and eagerly waiting for your response.

[2018-11-29 02:09] jason-j-MSFT commented on #18504
@ravitejapinnaka could you verify if you are still seeing this issue?

[2018-11-29 02:17] v-maroge commented on #10572
@danimir We have another case from a customer asking if the " FORCE_LAST_GOOD_PLAN and CREATE_INDEX are enabled and DROP_INDEX" is still acurrate for today. (Both were disabled when they turned on the setting. It is Japan region FYI)

[2018-11-29 02:31] MarcinJuraszek opened #19683 "Bad recomendation when it comes to handling the Task returned by GremlinClient"
It's a bad practice to use `.Wait()` on a task and I'd expect official Microsoft documentation to avoid that at all cost and suggest using `await` instead.

[code]

should become

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa

[2018-11-29 02:37] #19339 closed

[2018-11-29 03:05] dcbrown16 commented on #10572
@danimir @Mike-Ubezzi-MSFT
Hi I'm working with @v-maroge and we just ran through a test. I think I see where the confusion is coming from.
The settings labeled "Azure defaults" are not actually what you get by default according to our testing. The default for a newly created DB was that all items were OFF and inherited from Server. On the Server, all items were OFF and marked "Forced by user".
I d

[2018-11-29 03:07] MohitGargMSFT commented on #19574
@naznaaa We will now proceed to close this thread. Please open a new issue on the document where feedback is provided and we will gladly continue the discussion.

[2018-11-29 03:07] #19574 closed

[2018-11-29 03:07] MohitGargMSFT commented on #19583
@RamPallisetti We will now proceed to close this thread. Please open a new issue on the document where feedback is provided and we will gladly continue the discussion.

[2018-11-29 03:07] #19583 closed

[2018-11-29 03:14] MohitGargMSFT commented on #19634
@yushunyu As stated above, please help with the document on which this feedback is provided. Thanks

[2018-11-29 03:32] KeiroKamioka0000 opened #19684 "E-mail subject?"
Is their are sample of the E-mail from the Action Group?
I would like to know how the E-mail subject looks like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa0b27d-b18c-22a9-4e7d-cb3a1978338f
* Version Independent ID: 58732c0e-494c-ac9b-115a-f4a2482d6cb5
* Content: [Create and manage action groups in the Azure por

[2018-11-29 03:53] AussieDavo opened #19685 "How to handle the UPN depending on the user type?"
We have many Guest users who are unable to login as the UPN provided by the application has a mangled UPN like "email_gmail.com#ext#@tenant.onmicrosoft.com" as you have noted in the documentation above.

How soon do you expect to allow customers app config to handle the UPN depending on the user type? We would like all Guest users to be able to use SSO seamlessly as the organization employees.

Is

[2018-11-29 05:03] ManojReddy-MSFT commented on #19437
@bsocca We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-29 05:03] #19437 closed

[2018-11-29 05:04] ManojReddy-MSFT commented on #18870
@spetrukhin We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-29 05:04] #18870 closed

[2018-11-29 05:05] Ismailmgl commented on #14121
hello @maertendMSFT ,
 In Azure cloud we have an option of executing Power Shell commands.
For example Example: New-AzureRmResourceGroupDeployment -ResourceGroupName $resourceGroupName -TemplateFile $templateFilePath.. What is wanted to know was, what if we have all these commands in PS1 file and which is located in github. Can we directly call or give the path of ps1 file from cloud shell? " **ht

[2018-11-29 05:15] ChiragMishra-MSFT commented on #19666
@subashsivaji Thanks for the feedback. We are currently investigating into it and will update you shortly.

[2018-11-29 05:20] AjayKumar-MSFT commented on #19671
@CeciAc , @jmrnilsson ,Thank you for your feedback! We are taking a look into this and will update as appropriate.

[2018-11-29 05:32] AshokPeddakotla-MSFT commented on #19668
@321timfin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 06:05] AkshathaSP opened #19686 "WebJob gets aborted. No exceptions are logged."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af36172-e046-c87e-2171-cb55dfc8a8c5
* Version Independent ID: a6cdf0ce-973f-713e-984a-e5f5a08afa57
* Content: [Run Background tasks with WebJobs in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-create-web-jobs)
* Content Source: [articles/

[2018-11-29 06:10] AkshathaSP commented on #19686
I have created a WebJob of Triggered type with Diagonostic logging. It basically fetches data from Azure SQL. I triggered the Web job at 11/28/2018 08:16:23 and the last log of fetching data is 11/29/2018 4:53:13.
The status suddenly shows aborted and there is no exception / errors logged.

[2018-11-29 06:11] AkshathaSP commented on #19686
Is there any limitation on the time that a WebJob can run ?

[2018-11-29 06:16] PramodValavala-MSFT commented on #19507
@charakumar44 Just following up... I hope my answer helps.

[2018-11-29 06:17] AkshathaSP commented on #19686
Note: Always On is enabled for this WebJob

[2018-11-29 06:37] ChiragMishra-MSFT commented on #19509
Hi @atomek1000,

As of now there are only two wildcards allowed for file names - "*" (matches zero or more characters) and "?" (matches zero or single character).

There is no workaround either for achieving the same result as "+". You might have to work with the above 2 wildcards only for now. However, please feel free to suggest this in the feedback forum :

https://feedback.azure.com/forums/270

[2018-11-29 06:37] #19509 closed

[2018-11-29 07:14] kazshi opened #19687 "Can CSP use the reporting API?"
Can CSP use the reporting API? If yes, are there any notes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed7b604-d89f-1d59-87d6-d32e29eb6245
* Version Independent ID: 0113a6ce-3f69-73ce-b063-c07b52348f92
* Content: [Azure Billing Enterprise APIs](https://docs.microsoft.com/en-us/azure/billing/billing-enterprise-api)

[2018-11-29 07:37] SadiqhAhmed-MSFT commented on #19653
@guvnor1972, Thanks for your question. What specific lines are not matching with the diagram? Could you share more details here?

[2018-11-29 08:02] mikedbrook commented on #19419
@Karishma-Tiwari-MSFT

I use a centos baked packer image when deploying the vm which is hardened by ansible based upon CIS hardening guidelines. when I try and ssh to the vm I get no device login option and just get an immediate disconnect from the server.  the below is the ansible that performs the hardening.

# true if IPv6 is needed
network_ipv6_enable: false              # sshd + ssh

# true i

[2018-11-29 08:09] maximuslee1226 opened #19688 "azureml.widgets doesn't work in Azure notebook"
when running the following in Azure Notebook, it says "No module named 'azureml.widgets'"
from azureml.widgets import RunDetails
RunDetails(local_run).show()

When I try to run the command to install the widget within jupyter environment, I get the following error.
module 'azureml' has no attribute 'widgets'

Please fix this so we can run this in Azure Notebook

---
#### Document Details

⚠ *Do no

[2018-11-29 08:41] jaq316 commented on #17336
Thanks. Any update on this?

[2018-11-29 09:03] harkiratiiit opened #19690 "FunctionApp 2.0"
Seems this is not compatible with FunctionApp v2.0. Here, the configuration is read by Microsoft.Extensions.Configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault references in App Service and

[2018-11-29 09:09] amirgra opened #19691 "In what ways other users can create requests to join these groups?"
In this section https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-self-service-management#make-a-group-available-for-user-self-service
it is mentioned that users can create requests to join security and office365 groups, but I couldn't find a way to create a request or to approve requests.

I'm looking for a way for users to send a request to join a security group.

[2018-11-29 09:12] mcurko opened #19692 "Error"
While following instructions on https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet I stumble upon this error:

https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40122dc8-6ffa-cc83-102b-e3207f35efad
* Ve

[2018-11-29 09:13] mcurko commented on #19692
Forgot the error:

C:\Temp\DT\occupancy-quickstart\src>dotnet run ProvisionSample
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code CL7KNW7VV to authenticate.
Exception: Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS70002: The request body must contain the following parameter: 'client_secret or client_assertion'
Trace

[2018-11-29 09:31] ManojReddy-MSFT commented on #19619
@FranklyFrivolous Currently it's not possible  to customize the email template.

I would suggest adding this as a feature request [here ](https://feedback.azure.com/forums/169401-azure-active-directory) for the engineering team to consider adding it.

[2018-11-29 09:32] franzoir commented on #19642
@KetanChawda-MSFT Thank you 👍

[2018-11-29 09:32] #19642 closed

[2018-11-29 09:38] KetanChawda-MSFT commented on #19043
@vetrivelmp The above answer helped answering your question. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-29 09:38] #19043 closed

[2018-11-29 09:40] ArvidBaa opened #19693 "Missing text?"
At the end of the [Update your DNS](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-secure-web-service#update-your-dns) section, at the end of the AKS-part, just below the image, there is a beginning of a text: "self-". I assume that it either isn't supposed to be there, or that it is a beginning or part of a text section that has gone missing.

---
#### Document Details

⚠

[2018-11-29 09:44] dimijim commented on #19416
thank you so much for your response.

On Thu, 29 Nov 2018 at 03:23, Mike Ubezzi <notifications@github.com> wrote:

[2018-11-29 09:47] dpksinghal commented on #14728
I am also hitting the same error message. Any lead on this issue?

[2018-11-29 09:49] mikedbrook commented on #19419
@Karishma-Tiwari-MSFT I have attached the ansible hardening file that is applied to the server.  The server is deployed from a hardened packer image that uses the attached ansible.  the output of my verbose ssh from my local machine is

OpenSSH_7.8p1, LibreSSL 2.7.3
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 48: Applying options for *
debug1: Connecting

[2018-11-29 09:51] imeya opened #19694 "All of the rows can be fetched even if without continuation token"
as per this [link](https://docs.microsoft.com/en-us/rest/api/storageservices/Query-Entities?redirectedfrom=MSDN#remarks), only 1000 rows can be fetched if without continuation token.

But even if I just use this line of code(without continuation token):

[code]
I can fetch all of the rows (more than 10000 rows), so I wonder if this is expected?

---
#### Document Details

⚠ *Do not edit this secti

[2018-11-29 09:57] krottiers commented on #12350
I've found that when you assign a Power BI Free license in the portal it pops up in the Microsoft Graph with: AzureAnalysis (2049e525-b859-401b-b2a0-e0a31c4b1fe4)

[2018-11-29 09:57] sphengle opened #19695 "Highlighting (square brackets) the location identifiers"
I was unable to highlight the location identifiers in my browser (Chrome).  The hyphen seems to have a space around it and this interferes with the highlighting process. E.g. "g-2323" appears as "g - 2323" and the highlight (the square brackets) appears only on the "g" or "-" or "2323".  I had to remove the hyphen from all the location utterances in order to make this work.

---
#### Document Deta

[2018-11-29 10:00] mcurko commented on #19692
Solved!

This happens when the APP type is not Native.

[2018-11-29 10:00] ddobric opened #19696 "Add Supported account types advanced settings"
After registration of application as multitenant enabled, as described above, this can be later changed under advanced settings / "Supported account types"

This should be added to documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-

[2018-11-29 10:16] JuleKuhn opened #19698 "Write Databricks Output to sink using DataFactory V2.0"
How can we write an output table generated by a Databricks notebook to some sink (e.g. ADWH) using DataFactory V2.0? Can this be done using a copy activity in ADF or does this need to be done from within the notebook? How can the output dataset of the Databricks notebook be defined/accessed in ADF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-11-29 10:22] danimir commented on #10572
Hi there, the team will take your feedback into consideration. Thanks!

[2018-11-29 10:29] #17915 closed

[2018-11-29 10:56] SadiqhAhmed-MSFT commented on #19679
@keithcharlie, Thanks for sharing this feedback. We have assigned this to the author for further review.

[2018-11-29 10:57] dipjyotighosh commented on #19287
Thanks for the info. Do you have any plans to move forward with Linux platform as well considering many organizations have majority of their workloads hosted on the same?

[2018-11-29 10:57] theheatDK commented on #19100
@georgewallace - Yes thank you. I still do not understand why we hit the limit, but that is another question :-)

[2018-11-29 10:57] #19100 closed

[2018-11-29 10:58] colinrippeyfinarne commented on #19646
@MohitGargMSFT  I also raised an issue on Bob German's AADsamples repo:

https://github.com/BobGerman/AADsamples/issues/3

Bob mentioned that the issue I saw could have been down to me browsing to http://127.0.0.1:8080 and not to http://localhost:8080 so the error I see about multi-tenant settings could be misleading (just to give you some wider context).

[2018-11-29 11:09] SadiqhAhmed-MSFT commented on #19681
@gunnarcms, thanks for the feedback. For now,we have shared this with the content owner.

[2018-11-29 11:11] omniayehia8 commented on #19299
Hi Manoj,
yeah i created the extension attribute using the graph and it is working while testing with the user had a value on that extension attribute with the same tenant only , so i have two Questions here:
1: the extension attribute only shown if we put a value manually to that attribute for each user using graph.windows.net, Is there a way to make this extension attribute pointed to another at

[2018-11-29 11:12] neeleshray commented on #19346
We would not proceed to close this issue. If you need further assistance, do let us know.

[2018-11-29 11:12] #19346 closed

[2018-11-29 11:14] neeleshray commented on #19283
We would now proceed to close this issue. If you need further assistance, do let us know.

[2018-11-29 11:14] #19283 closed

[2018-11-29 11:15] neeleshray commented on #19685
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-29 11:20] AjayKumar-MSFT commented on #19397
Thanks for the update and providing more details on this issue.
If your requirement fits and for isolating the issue, in the Web.config file add this to the system.Webserver-tag:
<staticContent>
    <clientCache cacheControlMode="DisableCache" />
</staticContent>

Additionally, the GitHub issue which I referenced, addresses a logout page issue which was fixed by commenting on the change of the mai

[2018-11-29 11:42] milleniumfish opened #19699 "Azure Storage Lifecycle Policy not triggering for daysAfterModificationGreaterThan"
Following policy does not seem to kick in, files remain in Cool tier.

[code]

[2018-11-29 11:47] SadiqhAhmed-MSFT commented on #19687
@kazshi, Thanks for the question! For CSP, you can use Azure Rate Card or Partner Center API. See the references below.

Azure Rate Card: https://docs.microsoft.com/en-us/azure/cloud-solution-provider/integration/manage-billing/get-azure-prices and https://docs.microsoft.com/en-us/partner-center/develop/get-prices-for-microsoft-azure

Partner Center API: https://docs.microsoft.com/en-us/partner-ce

[2018-11-29 12:06] AjayKumar-MSFT commented on #19686
@AkshathaSP , Could you please provide the Azure document that you are referring to? And, what App Service Plan are you using?
You may review and make changes to WEBJOBS_IDLE_TIMEOUT and  stopping_wait_time  parameters appropriately based on your requirement and see if that helps. Checkout the [document](https://github.com/projectkudu/kudu/wiki/WebJobs#changing-the-shutdown-wait-time) for more det

[2018-11-29 12:42] AkshathaSP commented on #19686
Hi,
I was going through this document:
https://docs.microsoft.com/en-us/azure/app-service/web-sites-create-web-jobs.
We are using 'Basic: 1 Small' App service plan.

[2018-11-29 12:46] AkshathaSP commented on #19686
What is the default time out if WEBJOBS_IDLE_TIMEOUT and stopping_wait_time are not explicitly specified ?

[2018-11-29 12:52] abhinav-jain09 opened #19702 "Batch operation does not work from Java API"
Hi Team,

I tried emulator with docker https://hub.docker.com/r/microsoft/azure-storage-emulator/ . I was able to create the table but batch operation does not work . I get Bad request exception as follows

com.microsoft.azure.storage.table.TableServiceException: Bad Request .

Can someone fix this?

Regards
Abhinav Jain

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-11-29 12:55] AshokPeddakotla-MSFT commented on #19692
@mcurko Glad to hear that your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-29 12:55] #19692 closed

[2018-11-29 12:57] CeciAc opened #19703 "Кто такой denisenkom?"
@gromas commented on [Thu Nov 29 2018](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/75)

И чем это может грозить в дальнейшем. Предлагаю задуматься всем. Спасибо.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 44fb6283-7b17-7ae4-5ad4-bf5bb5702e7f
* Version Independent ID:

[2018-11-29 12:59] CeciAc commented on #19703
Hi team,
I moving this here since the contributor has some doubts regarding the code

[2018-11-29 13:02] kung-foo commented on #11702
I am getting the same error message from the Azure Portal when trying to attach an existing disk to an existing VM.
![image](https://user-images.githubusercontent.com/1357571/49223531-58ed3f80-f3df-11e8-8faf-22c0aaedbaf9.png)

[2018-11-29 13:20] Sethu2488 opened #19704 "Hebrew Support"
I would like to when Hebrew language will be supported by Bing Spell Check API. Any ETA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e03b67-8c6c-2749-7778-99f7dca069c6
* Version Independent ID: a6ee8911-2630-d6c4-81c7-28a5fdf4b767
* Content: [Language support - Bing Spell Check API - Azure Cognitive Services](https

[2018-11-29 13:22] wsmelton opened #19705 "Adjust location of not supporting Azure SQL assignment to a subnet"
The section: [C. Cannot yet have a SQL database on a subnet](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#c-cannot-yet-have-sql-database-on-a-subnet) should be moved to limitations or added as a note format. (I think the note format is a bit cleaner).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-11-29 13:31] skeeler commented on #16665
Important that this issue gets addressed quickly as this documentation page is linked to from the main Azure Support FAQ page (https://azure.microsoft.com/en-us/support/faq/). Note that when updating this document it would be worthwhile retaining a mention of customizing RBAC roles and pointing to another more generic documentation page on that topic, in case the now-existing support request contr

[2018-11-29 13:34] nagarjunbaindla commented on #10336
Here is the link to instructions
https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/known-issues-and-troubleshooting-guide#stuck-at-checking-experimentation-account-screen-after-logging-in

[2018-11-29 13:36] brendanarnold commented on #19393
<img width="968" alt="kudu" src="https://user-images.githubusercontent.com/584658/49225361-c1d2b880-f3db-11e8-9450-6adba2d5ff8a.png">
<img width="1456" alt="settings" src="https://user-images.githubusercontent.com/584658/49225369-c5663f80-f3db-11e8-9511-6160f7eda6c2.png">

[2018-11-29 13:57] mcollier opened #19706 "Searching for AAD service principal to delete"
When attempting to delete a service principal, should the query for the 'displayName' be the name of the AKS cluster?  As stated in the doc, that search didn't work for me (eventually errored out). However, when I searched in the Azure Portal, I could find it. The service principal display name was not exactly the same as the name of the AKS cluster. The display name started with the AKS cluster n

[2018-11-29 14:13] michaldudak commented on #16003
Hi @klaaslanghout, could you please explain how the routing should be set up or point to the documentation? Also, what do you mean by saying SPAs should be doable *with CSS*?

[2018-11-29 14:23] gbrueckl commented on #17899
ok, thanks for keeping me updated!

[2018-11-29 14:33] PramodValavala-MSFT commented on #15465
@kmcconnell Sorry we couldn't get back to this earlier.

The queue message can be a plain string as well. So, in this case, it would just be the name of the file in the blob container for the example to work.

If you would like to use a JSON payload like this
[code]

Then you would have to use [Runtime Binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#bind

[2018-11-29 14:35] sergaz-msft commented on #18195
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-29 14:35] #18195 closed

[2018-11-29 14:38] kmcconnell commented on #15465
I've since moved on from this project and will have to take a look again. But I think the issue I reported here is that trying to use a string message from the queue is what resulted in the exception in the first place, with a message stating that the queue message must be a JSON object. So I didn't see how I could use a string statement and avoid that exception.

[2018-11-29 14:45] areed145 commented on #13658
@YutongTie-MSFT has local image support been enabled? If not, what are the plans/timing? Thanks!

[2018-11-29 14:50] Frankwayne commented on #16860
https://docs.microsoft.com/en-us/rest/api/trafficmanager/profiles/createorupdate#profile-put-withcustomheaders

update the api version of your arm template.  It has worked for me

[2018-11-29 14:52] SMARTHON commented on #9466
Thanks!!!

it works for the below!

IoT Hub -> <> -> Settings -> Shared Access Polices -> iothubowner -> primary connection string

Very confused if the article haven't mentioned it

[2018-11-29 15:22] saifuddin123 commented on #18767
Thanks for pointing me to the documentation. All the examples take deviceid and moduleid as input to read the twin properties as in this sample. (https://github.com/Azure/azure-iot-sdk-python/blob/master/service/samples/iothub_twin_sample.py)

How do i get them dynamically, especially deviceId? while the module starts. consider the device is created with autoprovision, so i need to get the devicei

[2018-11-29 15:33] TheYabadabadou opened #19710 "Read preference option for MongoDB"
Is it possible to specify the read preference for MongoDB dataset in Data Factory ?
https://docs.mongodb.com/manual/core/read-preference/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05eed8d3-001c-543f-afb2-823a2cff8a35
* Version Independent ID: 1485e156-1eab-20ae-8fe6-ac82301fa846
* Content: [Copy data from MongoDB

[2018-11-29 15:33] MGoedtel commented on #19658
@jdickson289 - The correct path is - HKLM\Software\Wow6432\Microsoft\.NETFramework\v4.0.30319 and what happened is it was correctly stated in the article but markdown misinterprets the "\." characters and reformats with only the period and omits the slash.  After realizing this I fixed the two registry key paths in the article for updating .NET and it was released late yesterday afternoon.  Thanks

[2018-11-29 15:38] Lindahe0707 commented on #11312
Hi

I have the same issue.

400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v1.0/analyze?visualFeatures=Categories%2CDescription%2CColor

Is there any solutions now? Thank you.

[2018-11-29 16:15] runes83 opened #19712 "Add Buypass as CA for Front Door"
Why is not https://www.buypass.com on the list of SSL CA's. We have SSL from Buypass and now we cannot get custom ssl on this service. Could you add them to the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e787652-0c22-e376-ab55-2b3aa8055431
* Version Independent ID: 961cf93b-5312-c470-7784-1da8fe5e4351
* Cont

[2018-11-29 16:35] paulparisien opened #19713 "Not clear about this step"
In the "Enable OAuth 2.0 user authorization in the Developer Console" step, what does "Browse to your API Management instance." mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAu

[2018-11-29 16:38] mcurko opened #19714 "No access to insights.timeseries.azure.com"
Despite being global admin and subscription co-admin, I had to assign myself rights on resource to be able to access TSI portal...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3f77e0d-fa3e-855b-31a4-4799dd126a9d
* Version Independent ID: 55c70869-90ae-320b-4468-4de7ad47d56c
* Content: [Create an Azure Time Series I

[2018-11-29 16:40] virtualamjath commented on #19116
@sergaz-msft any update on this issue .

[2018-11-29 16:46] jhallal commented on #8878
I'm trying to get an answer from QnaMaker by implementing the tutorial provided by @diberry. However, I'm receiving errors, below is my code:

[code]

I'm receiving the following error:
IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.
SocketException: An existing connection was forcibly closed by the remote host

Please

[2018-11-29 16:55] YutongTie-MSFT commented on #19688
@maximuslee1226
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@nacharya1 Hi, can you please take a look of this issue? If I should assign to other employee, please tell me. Thanks.

[2018-11-29 16:55] YutongTie-MSFT commented on #19693
@ArvidBaa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 16:56] YutongTie-MSFT commented on #19704
@Sethu2488
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@noellelacharite Hi Noelle, do you have any idea about the timeline? Thanks.

[2018-11-29 16:57] YutongTie-MSFT commented on #19695
@sphengle
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 17:01] jeffmarino opened #19715 "The article is over a year old, is it still relevant?"
I'm looking to do local / on prem work and want to make sure this is the most relevant approach to azure function on premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca2905c0-7f18-68be-e1d1-f5034c051978
* Version Independent ID: cf5e1c11-3622-7c8c-1bf6-93139536fe69
* Content: [Azure Functions Runtime Overview](

[2018-11-29 17:01] CarlRabeler commented on #19428
@Mike-Ubezzi-MSFT yes, assign to me. This is also why we try not to have duplicate content. One person makes an update to one article and does not look to see if content is duplicated elsewhere. Sigh.

[2018-11-29 17:03] vanishajain23 opened #19716 "Receiving error while running the ContosoAdsCloudService project"
Received the following error while trying to run the service project:

The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.	ContosoAdsCloudService	C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\VisualStudio\v15.0\Windows Azure Tools\2.9\Microsoft

[2018-11-29 17:07] myusrn opened #19717 "owin authorization header and session cookie authentication"
Documentation covers how to configure owin to cover not only browser client requests using actively [ or passively ] acquired session cookie authentication, what is covered in this documentation so far. Would like to have it also cover how at the same time enable support for desktop/native/spa caller of any webapis the web app exposes using authorization header authentication, i.e. support both ty

[2018-11-29 17:24] telke commented on #19538
The question is in reference to the Speech audio input Stream API:
    Content Source: articles/cognitive-services/Speech-Service/how-to-use-audio-input-streams.md

[2018-11-29 17:24] daveba commented on #19472
@elirazcc Thanks for the feedback.  Per this answer provided by the product group, https://stackoverflow.com/questions/53466479/configure-managed-identities-for-azure-resources, managed identities do not support RDFE deployments.  There is no official recommendation at this time.  You may want to try a security principal.  As for deprecation, only the VM extension endpoint will be deprecated.  You

[2018-11-29 17:32] diberry commented on #19605
@ovishesh Please review the page now - top section.

[2018-11-29 17:39] #19681 closed

[2018-11-29 17:44] heatherbshapiro commented on #19688
The newest sdk change with azureml.widgets is not yet deployed to Azure Notebooks. Please try to use `azureml.train.widgets`

[2018-11-29 17:52] douglaslMS commented on #14728
@nabhishek Abhishek, have you had an opportunity to review this issue? Thanks!

[2018-11-29 17:54] cjgronlund commented on #19270
@tulasim88
Two solutions: Please choose one:
* Redirect /old/ URLs to docs on docs.microsoft.com and unpublish the pages
* In the metadata for the /old/ page, use the tag Robots="NOINDEX"

@diberry

[2018-11-29 17:55] ganganarayanan commented on #16665
Thanks for the feedback, I am looking into this. It might take me a week as I need to submit the changes to the Azure support FAQ before I can take the article page down.

[2018-11-29 18:00] Adam-Smith-MSFT commented on #19699
@milleniumfish Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-29 18:01] michaelraam commented on #9231
Hi,

Trying to copy from on pre sql to an sql on an Azure VM and getting an error that source and sync must use the same IR. Sould I configure both IR (on prem and Azure VM) with the same IR authentication key ?

Tnx,
Michael

[2018-11-29 18:03] Alberto-Vega-MSFT commented on #19714
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 18:05] queryquandary opened #19720 "CloudQueueClient Threading Recommendation"
Could you please provide guidance on Microsoft's recommended practice when working with CloudStorageAccount and CloudQueueClient instances from a thread safety perspective?  Specifically, can you create a static instance of CloudQueueClient that can be safely used across multiple threads without having to manage concurrency myself?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-11-29 18:06] mamccrea commented on #18036
Hi @nkolchakov - I just tested this myself without any issues. It's difficult to determine what went wrong without knowing the steps you took.

Things to consider:
- Set the Assembly Source in the Stream Analytics Job Configure Configuration to Local Project References or CodeBehind.
- Build C# project.
- Ensure Target Framework compatibility.

When you get a chance, please try again and let me kn

[2018-11-29 18:07] Alberto-Vega-MSFT commented on #19698
@JuleKuhn Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-11-29 18:13] MarileeTurscak-MSFT commented on #19684
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-29 18:13] Grace-MacJones-MSFT commented on #19690
Hi @harkiratiiit, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-29 18:13] Mike-Ubezzi-MSFT commented on #19705
@wsmelton Thank you for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-29 18:15] MicahMcKittrick-MSFT commented on #19716
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 18:16] MicahMcKittrick-MSFT commented on #19706
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 18:16] Mike-Ubezzi-MSFT commented on #19694
@imeya Thank you for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-29 18:16] georgewallace commented on #19681
@gunnarcms I submitted a PR to fix it.. This will go live today with the update.. Thanks for catching this.

[2018-11-29 18:20] Alberto-Vega-MSFT commented on #19712
@runes83 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 18:30] maertendMSFT commented on #14121
@Ismailmgl, there is not a way to execute a script from Github in Cloud Shell.

Git is available in Cloud Shell, so you could clone the repository and execute the script.  If you are worried about having the most up-to-date version, logic could be added to your PowerShell profile to pull from the repository.

[2018-11-29 18:30] DaveVoyles commented on #18849
Same thing. I can't figure it out.

I went through the steps again, but this time, with the job.json I copy + pasted from the tutorial (didn't fill in my storage account info) and uploaded.

Same output. I take the default job.json, and put it in my onedrive docs folder. It creates a link (which of course has chracters which confuses the terminal, such as "!", so I need to use google's URL shorten

[2018-11-29 18:33] andretms commented on #19646
@colinrippeyfinarne - thanks for your feedback - the [code sample in Github](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/) was already updated with the single-tenant scenarios as well as the [Quickstart](https://docs.microsoft.com/azure/active-directory/develop/quickstart-v2-javascript) - this content for this tutorial will be updated soon.