[2019-11-30 15:15] eestevao opened #43823 "references to wikipedia"
Scale in/ Scale out definitions are links to Wikipedia; this should be removed and the Azure own definition should be included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8de6c-a71b-7c7d-69f5-b1ec446f33ff
* Version Independent ID: 85f9c74a-7039-f466-f2da-bef5eaf106a1
* Content: [Scale up features and capacities

[2019-11-30 16:06] AshokPeddakotla-MSFT commented on #43818
@levi106 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-30 16:10] patrickjlee commented on #40461
This tutorial is confusing as hell. I've spent hours on this without being able to get the app to connect to the Sql Azure database so far.  I think it needs a major rewrite

[2019-11-30 16:21] shashishailaj commented on #43819
@lollasravani Thank you for your feedback . We will investigate and update the conversation with our findings.

[2019-11-30 16:23] shashishailaj commented on #43820
@danield137 Thank you for your feedback. We will have this reviewed with the content team and see how best we can enhance the documentation.

[2019-11-30 16:35] patrickjlee commented on #40461
The tutorial is also buggy.  For example, in the "Grant permissions to managed identity" section, the variable names need to be prefixed by $, otherwise Azure CLI gives an error, so it should be $groupid not groupid, and $msiobjectid not msiobjectid.

[2019-11-30 17:09] hansenms commented on #43485
I probably agree with you, all of our docs are supposed to have somewhere to go next but it is not always easy to pick a place to go. If you have a better suggestion for this one, don't hesitate to suggest, but for now, I will close this. There is no specific action that can be taken,

#please-close

[2019-11-30 17:09] #43485 closed

[2019-11-30 17:49] patrickjlee opened #43824 "This tutorial is confusing as hell, buggy, and over complicated"
I have found this tutorial one of the most poorly written, confusing and overly complex that I have ever seen.

It is buggy. In all the Azure CLI examples, if using Power Shell, the variable names need to be prefixed by $.  For example, in the "Grant permissions to managed identity" section, the variable names need to be prefixed by $, otherwise Azure CLI gives an error,(the term 'groupid' is not

[2019-11-30 17:57] KalyanChanumolu-MSFT commented on #43822
@danield137 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-30 18:24] githubavi opened #43825 "Incomplete Documentation"
Hi, as I was trying to integrate Workplace SSO with Azure AD, I was trying to follow instructions provided here. I failed multiple times to make the integration work. There are several parts which were not clear or not correct and should be rectified.

1. As per documentation, Sign on Url - https://&lt;instancename&gt;.facebook.com
(As per FB support, It should be https://&lt;instancename&gt;.work

[2019-11-30 18:25] msrini-MSFT commented on #43821
@amneshgoel7  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-30 18:47] mike-urnun-msft commented on #43823
@eestevao Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-30 18:48] mike-urnun-msft commented on #43824
@patrickjlee Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-30 18:50] mike-urnun-msft commented on #43825
@githubavi Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-30 19:04] AbdullahA11 opened #43826 "Users license"
is it allow for user to have more than one license ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID: ef317dea-e56a-e6db-3344-67aa028a0ca7
* Content: [What is group-based licensing - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direct

[2019-11-30 20:10] CESARDELATORRE opened #43827 "Algorithm pool for Regression is not the same that for Forecasting"
The sentence above saying: "the third task-type is forecasting, and uses the same algorithm pool as regression tasks".
The algorithm list/pool are not exactly the same for both tasks. That sentence should be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independe

[2019-11-30 20:29] patrickjlee commented on #43824
Also, rather than what is currently suggested in the tutorial (which restricts access for the app to just the databases for which the CREATE USER and ALTER ROLE commands have been run), it is worth mentioning that if you want to grant admin rights for the app to ALL the databases, then all you have to do is set up the myAzureSQLDBAccessGroup group as Active Directory admin for the server (NB for s

[2019-11-30 20:42] CESARDELATORRE opened #43828 "Link to 'AutoMLConfig class' is broken."
The link to 'AutoMLConfig class' is broken.
It should probably be this URL:
https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.automlconfig.automlconfig?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fcbcc1-0824-1dba-f5ae-6cf5c97a9d2c
* Version Independent ID

[2019-11-30 20:57] dhdiez opened #43830 "404 on GitHub link"
this link returns a 404: https://github.com/azure-ad-b2c/apps/tree/master/spa/javascript-hellojs-singlepageapp-popup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa063fd-3b2d-e00d-c382-9ca749254616
* Version Independent ID: 217e50e6-f9ed-d4ad-1d6a-04fbc87aaa4b
* Content: [Single-page sign in using implicit flow - Az

[2019-11-30 21:58] GandalfDDI opened #43831 "Section is no longer applicable"
[Enter feedback here]
The below section is no longer in settings in Windows 10, or if it is then it is hidden somewhere else:
Windows Settings details

In the following table, Other entries in the Settings Group column refers to settings that can be disabled by going to Settings > Accounts > Sync your settings > Other Windows settings.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-30 23:06] spelluru commented on #42432
Fixed the link
#please-close

[2019-11-30 23:06] #42432 closed

[2019-11-30 23:06] spelluru commented on #42336
Thank you @sander1095

#please-close

[2019-11-30 23:06] #42336 closed

[2019-11-30 23:07] spelluru commented on #42334
Thank you @sander1095
Fixed.
#please-close

[2019-11-30 23:07] #42334 closed

[2019-11-30 23:12] bharathreddy123456 opened #43832 "@bharathreddy123456 Note that Azure AD plugin does not support provisioning of users in your JIRA server"
@bharathreddy123456 Note that Azure AD plugin does not support provisioning of users in your JIRA server. So this might be a different issue. Happy to see that it got resolved.

_Originally posted by @jeevansd in https://github.com/MicrosoftDocs/azure-docs/issues/38621#issuecomment-531380748_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-30 23:15] bharathreddy123456 commented on #43832
Hi Jeevan,

If we change username to email ,Can users be able to login using sso after this Azure AD plug-in installed ? We can change user schema settings for username to use email. Could you please suggest ?

Thanks,
Bharath

[2019-12-01 01:05] deloittecanada123 opened #43833 "Exception when adding custom keyword activation"
Hi, I am following: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk

All steps work correctly, and as expected, until adding a custom keyword for activation. I've created my custom keyword in Speech Studio, and have downloaded/extracted the kws.table (Step 2).

In the Direct Line Speech client, in the Settings menu, I've located th

[2019-12-01 01:09] damienpontifex commented on #18204
Legend @ams0 exactly what I was looking for and verified working today

@lindhe It didn't seem to work for me if I was adding the annotation to an existing deployment of nginx-ingress (maybe doesn't update the Public IP resource?) but worked when I created a new deployment

[2019-12-01 02:42] mike-urnun-msft commented on #43826
@AbdullahA11 Thank you for your feedback! We will review and update as appropriate.

[2019-12-01 02:43] mike-urnun-msft commented on #43827
@CESARDELATORRE Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 02:44] mike-urnun-msft commented on #43828
@CESARDELATORRE Thank you for your feedback! We will review and update as appropriate.

[2019-12-01 02:45] mike-urnun-msft commented on #43830
@dhdiez Thank you for your feedback! We will review and update as appropriate.

[2019-12-01 02:48] mike-urnun-msft commented on #43831
@GandalfDDI Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 02:52] mike-urnun-msft commented on #43832
@bharathreddy123456 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 02:56] mike-urnun-msft commented on #43833
Hi @deloittecanada123 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-12-01 02:57] mike-urnun-msft commented on #43811
@buzzkillionair Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-12-01 03:10] jordanchang opened #43834 "Backend with Expires header"
If my backend API returns an Expires header of "5 min from now" and cache-duration is configured for 1 min, I noticed APIM will respect the duration in the Expires header and cache it for 5 mins. Is this a bug or as designed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad05f88c-be94-58f8-b05c-a4a1a102e24f
* Version

[2019-12-01 04:38] deloittecanada123 commented on #43833
@mike-urnun-msft Thanks, I am referring to this tutorial:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk

[2019-12-01 06:41] martymcwizard commented on #29809
i believe the correct picture is on this page
https://docs.microsoft.com/en-us/azure/web-application-firewall/overview
image location
https://docs.microsoft.com/en-us/azure/web-application-firewall/media/overview/wafoverview.png

[2019-12-01 08:26] shahidpages opened #43835 "Blurry images"
Images in this page are blurry; especially under section: Manage alert rules and Alert details page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eff5cd-b885-2e94-2ea6-3f60154123df
* Version Independent ID: ec1862a7-fa36-1ac4-fe68-011ed39c16f3
* Content: [Overview of alerting and notification monitoring in Azure](ht

[2019-12-01 08:27] elrod-johnson opened #43836 "resource operation completed with terminal provisioning state 'Failed'"
I'm trying to create a domain service instance according to the code at:
[Enable Azure Active Directory Domain Services using PowerShell](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/powershell-create-instance#code-try-7)

I'm using this powershell script to create my domain services because my domain name is longer than 15 chars.

edit: _I'm using this code verbatim wit

[2019-12-01 09:32] emmelop commented on #43639
versacerispies, how did you fix the 401 problem?

[2019-12-01 09:52] emmelop commented on #43639
it seems that if you write it down into the .config file the values (tokens) it works fine. Maybe it is not getting the values properly from the UI text boxes ¿?  #OneConsutlantsDemo... what did you change or fix in order the wpf app works? was it something related with the Twitter API?

[2019-12-01 10:26] sondretj opened #43837 "Using IP rules with DevOps Pipelines is not easily combined"
So my goal is simple: Restrict access to \$web container for three out of four environments.

This is done with simple IP Rules by adding the public IP addresses that are allowed and works fine.
However, when the pipeline runs and the Hosted Agent ( in this case ubuntu-18.04) tries to do certain operations, it fails because of the IP rule. Allow trusted MS services is checked, but it has no effect

[2019-12-01 10:46] nikoudel opened #43838 "Async initialization"
The example presented in this document simply sets an access token to a connection in DbContext constructor. It mixes sync and async code by calling Task.Result. Isn't that a pretty bad code smell?
There is a note telling "This demonstration code is synchronous for clarity and simplicity" but I'm not looking for clarity and simplicity - I'm looking for instructions how to properly configure this i

[2019-12-01 10:49] algattik opened #43839 "Clarify retirement status"
The first sentence is confusing "This SDK is retiring soon. This SDK is still appropriate for developers..." if an SDK is retiring, how can it be appropriate for developers to use something that will disappear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c9a7-eeb2-90b9223b932c
* Version Independent ID:

[2019-12-01 11:17] dzoech opened #43840 "Other resources for containers missing resources"
When comparing the listed resources with the manifest XSD, it seems there a some missing resources.

According to the XSD, these are also available:

- DiskQuotaInMB
- ShmSizeInMB
- KernelMemoryInMB
- MaximumIOBandwidth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a961bb-1091-be9f-f9bb-895abf625e39
* Version Indepe

[2019-12-01 11:35] algattik opened #43841 "Document `requests` collection, update text and screenshot"
1. We should point users to the `requests` Log Analytics collection that contain detailed per-request information, including the entire result body.
2. For the text "To look into your web service input and response payloads, select Analytics", the button is now called "Logs (Analytics)"
3. The code screenshot under "Evaluate data" - point 6 shows the use of the ModelDataCollector class, which is n

[2019-12-01 12:37] SwathiDhanwada-MSFT commented on #43701
Glad to hear that it helped. We will close the issue for now. Kindly revert if you have any questions.

[2019-12-01 12:37] #43701 closed

[2019-12-01 13:06] shliilhpltfrom commented on #32681
https://androidfilehost.com/user/?w=settings-home

[2019-12-01 13:13] booyaa commented on #43710
@ManojReddy-MSFT if we were talking about a few seconds, then I could see this reasoning. We're talking about 30 minutes to propagate.

[2019-12-01 13:50] msrini-MSFT commented on #43821
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97436

[2019-12-01 13:57] #43821 closed

[2019-12-01 13:59] msrini-MSFT commented on #43795
@Atul1G , Do you have any update on this issue?

[2019-12-01 14:47] shashishailaj commented on #43836
@elrod-johnson Thank you for your feedback . We will investigate and update this thread.

[2019-12-01 14:49] shashishailaj commented on #43835
@shahidpages Thank you for pointing this out. We will have the content authors review this request and take necessary action.

[2019-12-01 14:50] shashishailaj commented on #43834
@jordanchang Thank you for your feedback . We will investigate and update this thread.

[2019-12-01 14:54] shashishailaj commented on #43837
@sondretj Thank you for sharing your observation .We will evaluate how best these can be incorporated within the existing article.

[2019-12-01 14:56] shashishailaj commented on #43839
@algattik Thank you for your feedback . We will have this reviewed with the content author and see how best it can be updated.

[2019-12-01 14:57] shashishailaj commented on #43839
@lostmygithubaccount Could you please review this request and possibly provide clarity on ETA for retirement of SDK ?

Thank you.

[2019-12-01 15:09] SwathiDhanwada-MSFT commented on #43765
@JnHs Can you please provide your inputs on this?

[2019-12-01 15:14] JayaC19 opened #43842 "Application Insight - Configure Telemetry Module"
We need to update the document to mention that if we override the default Services then Application Insights logging will not work as expected because we create Telemetry client for you.
We should avoid using codes such as
"serviceCollection.ConfigureTelemetryModule&lt;DependencyTrackingTelemetryModule&gt;((module, cfg) =&gt; { });"

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-12-01 15:15] shashishailaj commented on #43830
@dhdiez Thank you for pointing it out and we apologize for the minor error.   We have made the changes and pointed to the correct code path on GitHub . the changes will be piublished in teh next release cycle within the next 24-48 hours. Here is the link for your consumption in case you needed it earlier than the page update. [**`https://github.com/Azure-Samples/active-directory-b2c-javascript-hel

[2019-12-01 15:25] shashishailaj commented on #43384
@RobSiklos Could you please let us know if you were able to check your application as per the suggestion provided by @jmprieur ? It would be great if you can let us know if they helped you or you still have any further queries on the same.

[2019-12-01 15:29] #43830 closed

[2019-12-01 15:36] ToMakeSense opened #43843 "Can't understand the usage of the service bus actions below via its simple description"
The same feeling described in #37233, I think, the reference page just list the **actions** and **triggers** that the **service bus connector** has, all those information  however could be found in the Logic app designer in azure portal except the [Throttling Limits](https://docs.microsoft.com/en-us/connectors/servicebus/#limits). For example, I can't understand the uage of actions below with its

[2019-12-01 15:52] SwathiDhanwada-MSFT commented on #43709
@vikaskanchan Thanks for reaching out! I would suggest you try [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-at-scale-powershell#enable-with-powershell) steps to enable the performance data for virtual machines. If you are still unable to view the performance data, kindly revert to us.We will be very glad to assist you.

[2019-12-01 16:48] HeidiSteen commented on #41929
@ankitvijay  Sorry to hear that , but I understand.  Thank you for pointing out the issues you ran into.  I'll fix what I can on the docs side.

#please-close

[2019-12-01 16:48] #41929 closed

[2019-12-01 16:56] #38392 closed

[2019-12-01 17:02] OneConsutlantsDemo commented on #43639
I used the revised version of the app which I build from the zip file attached above in the trail. This attachment is the revised version. For me both the config and UI worked just perfect. At which point you are thrown with error?

[2019-12-01 17:31] brijesh1ec opened #43844 "Azure Api Management not accepting Angular Application Bearer Token"
I have done all the setting and jwt token validation is working fine. How i can access same token in angular application
I am using MSAL for angular to get the token and passing same token to api management, which is not working.

Individually both are working fine, But i am retrieving token from AAD in angular and passing same to API management Instance , which is not accepted by APIM(Oauth2), Pl

[2019-12-01 17:53] dileep524 opened #43845 "Connect microsoft azure machine learning studio api using vue axios or using express server?"
currently i'm using the below code to connect with web service.
I need to connect to the Microsoft Azure Machine Learning Studio Api by using either vue axios or express. Can someone help me.
[code]
But can i do this by using axios call or express server.

[2019-12-01 18:30] ghsober opened #43846 "the above mentioned command set wont work because it is not with the service management module, please revisit"
this is the steps to proceed with the management of the classic resources:

install-module Azure
import-module Azure
Add-AzureAccount
get-azuresubscription
select-azuresubscription
Import-Module 'C:\Program Files\WindowsPowerShell\Modules\Azure\5.1.1\Azure\Azure.psd1'
Import-Module 'C:\Program Files\WindowsPowerShell\Modules\Azure\5.1.1\ExpressRoute\ExpressRoute.psd1'

New-AzureDedicatedCircuitLin

[2019-12-01 19:32] mike-urnun-msft commented on #43838
@nikoudel Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 19:39] mike-urnun-msft commented on #43840
@dzoech Thank you for your feedback! We will review and update as appropriate.

[2019-12-01 19:53] mike-urnun-msft commented on #43841
@algattik Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 19:55] mike-urnun-msft commented on #43842
@JayaC19 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 20:07] mike-urnun-msft commented on #43843
@ToMakeSense Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 20:18] mike-urnun-msft commented on #43844
@brijesh1ec Thank you for your feedback! We will review and update as appropriate.

[2019-12-01 20:22] mike-urnun-msft commented on #43845
Hi @dileep524 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-12-01 20:27] mike-urnun-msft commented on #43846
@ghsober Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-01 20:39] mike-urnun-msft commented on #43742
@Leejung168 Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-01 20:39] #43742 closed

[2019-12-01 20:40] mike-urnun-msft commented on #43762
@georgelinca Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-01 20:40] #43762 closed

[2019-12-01 21:04] mslot commented on #42878
I cant use this without the version. I am on webapp for container, and using .NET Core 3.0. What are you using, @gorgi?

[2019-12-01 21:22] mslot commented on #42878
Hmm. After more inspection it looks like I had some errors in my config. It is working for webapp for containers and .NET Core 3.0.

[2019-12-01 21:37] cahann commented on #42890
The pattern doesnt get expanded automatically by matching the pattern helps boost the intent score

[2019-12-01 22:15] MarileeTurscak-MSFT commented on #43815
I'm closing this out since the broken link has been removed but I will update this thread with the correct repository if applicable.

[2019-12-01 22:15] #43815 closed

[2019-12-01 23:23] csp-stu commented on #43764
I ended up scrapping my work and starting over - didn't run into this issue again so it was almost certainly user error but would be helpful to have some pointers on what to do with errors like these.

Thanks for the quick response! 🙌

[2019-12-01 23:38] NavtejSaini-MSFT commented on #43764
@csp-stu Thanks for confirming the issue is resolved. It looks like a issue which has resolved after starting over. If you face this issue again, We would advise to raise a ticket with support. We are closing this thread for now.

[2019-12-01 23:55] kromerm commented on #43812
You will use pipeline expressions when working with activities, variables, parameters in pipelines. Data flow expressions are meant to work within the context of data transformations.

[2019-12-02 00:10] kiwiswift opened #43848 "Missing steps between registering mid-tier service and client application"
There are a few steps missing in this documentation. Before registering the client application, the mid-tier service must be configured to expose an api, otherwise it won't be shown when Configuring permissions the client app (step 9).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea40b857-0288-5225-f5e6-588244fffad1

[2019-12-02 00:16] vitaly-livshits opened #43849 "Spark connector is now GA"
Text and screenshots should be updated accordingly.

Thanks,
Vitaly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3af8387-98e9-d695-da94-31448bd7f2f6
* Version Independent ID: 87145660-265a-3c70-7c92-6f7bcbe93afa
* Content: [Power BI - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/bi/power-bi)
*

[2019-12-02 00:39] MicahMcKittrick-MSFT commented on #43806
Cross posted on MSDN: https://social.msdn.microsoft.com/Forums/en-US/f521496b-1f37-475b-9d48-ea8b165f232e/slow-azure-files-mount?forum=AzureContainerServices

I deleted that duplicate and we can work off this issue instead.

[2019-12-02 00:44] ToruMakabe commented on #40987
Any updates? I conducted Serverless Hackason last month, and there was much feedback about the readiness of Azure Functions plan/OS/feature by regions. It is not easy to find it now. I think that is a matter in terms of developer experience.

[2019-12-02 00:49] ram-msft commented on #43451
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-02 00:49] #43451 closed

[2019-12-02 01:12] LoganMerazzi commented on #43503
There is no need to uninstall and reinstall...
Just download from the link mentioned before and it will work.

[2019-12-02 01:39] carlost-MSFT opened #43850 "Missing instruction for SasUrl"
This page needs instruction on how to setup the SasUrl which is mentioned in this page:
https://docs.microsoft.com/en-us/powershell/module/az.network/stop-azvirtualnetworkgatewaypacketcapture?view=azps-3.1.0#examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85090bbe-facd-f493-9817-b639df44f345
* Version Independe

[2019-12-02 02:27] AshokPeddakotla-MSFT commented on #43848
@kiwiswift  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 02:54] mikki opened #43851 "Clarification regarding on boarding non azure machines(windows 10 Ent client)"
Hi Microsoft Team

I just wanted to clarify a few things related to onboarding a windows 10 client to ASC standard tier:

1. As it stands, ASC standard tier integrates with MS defender ATP and includes EDR features, however, when we are onboarding non-azure machines,say windows 10 E3, would it be counted as a node which would incur PAYG charges? or windows 10 E3 would be required to be stepped up

[2019-12-02 03:28] DashleenBhandari-MSFT commented on #43334
@BernardoMB , Just wanted to understand if you need further assistance on this issue.

[2019-12-02 03:29] DashleenBhandari-MSFT commented on #43265
@ththiem , Just wanted to understand if you need further assistance on this issue.

[2019-12-02 04:03] #43696 closed

[2019-12-02 04:04] RohitMungi-MSFT commented on #43696
@damochiz The change is now submitted and the doc should be updated in the next 24 hours.

[2019-12-02 04:05] RohitMungi-MSFT commented on #43700
@wilsonlapwong We will now proceed to close this thread. Please check the configuration of the project and update the keys correctly so the quickstart works as expected.

[2019-12-02 04:05] #43700 closed

[2019-12-02 04:16] jakaruna-MSFT commented on #43647
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-02 04:16] #43647 closed

[2019-12-02 04:16] jakaruna-MSFT commented on #43750
@CeciAc is there any update

[2019-12-02 04:22] msrini-MSFT commented on #43850
@carteixeira , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-02 04:27] CHEEKATLAPRADEEP-MSFT commented on #43849
@vitaly-livshits Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-02 04:35] shashishailaj commented on #43851
@mikki Thank you for your query. We will investigate and update this  thread with related information.

[2019-12-02 04:42] CHEEKATLAPRADEEP-MSFT commented on #43813
@wizaster Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-12-02 04:43] RohitMungi-MSFT commented on #43778
@versacecrispies I have run the quickstart by cloning the project from the [repo](https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Flask-App-Tutorial). Updated the keys and region of my translate, analytics and speech services. Please note, the tutorial uses the scripts with endpoint of westus, If you have created in any other region you would have to update the endpoint along with t

[2019-12-02 04:45] RohitMungi-MSFT commented on #43745
@konabuta A change is now submitted with the updated link and the document should be updated in the next 24 hours. We will now proceed to close this issue. Thanks for your help!!

[2019-12-02 04:45] #43745 closed

[2019-12-02 04:57] SwathiDhanwada-MSFT commented on #43835
Assigning @rboucher for reviewing the issue and updating the images in document.

[2019-12-02 05:00] SumanthMarigowda-MSFT commented on #43497
@andyjballgit The doc has been updated! PR has been merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-02 05:00] #43497 closed

[2019-12-02 05:09] neeleshray-msft commented on #43704
@rwike77  Ryan, could this be verified and updated in the document ?

[2019-12-02 05:10] msrini-MSFT commented on #43850
This doc has the info that you asked for: https://docs.microsoft.com/en-us/powershell/module/Az.Network/Stop-AzVirtualNetworkGatewayPacketCapture?view=azps-3.1.0
Sample command : $rgname = "msrini-TM"
 $storeName = "msrinitmdiag295"
 $containerName = "vpngateway1"
 $key = Get-AzStorageAccountKey -ResourceGroupName $rgname -Name $storeName
 $context = New-AzStorageContext -StorageAccountName $store

[2019-12-02 05:11] HeidiSteen commented on #43801
@manvendrautralia  Sort of.  If you know the document ID, you can use the Lookup Document REST API to pull up a specific document.  You could also do an "empty/unqualified" search to return a batch of documents (you can test this out in Search Explorer in the portal). By default, the service returns 50.  You can set parameters to return more, but there is an upper limit (1000 comes to mind).

Here

[2019-12-02 05:18] SumanthMarigowda-MSFT commented on #43551
@tonesandtones Thanks for the feedback! . Your feedback has been shared with the content owner for further review.

[2019-12-02 05:18] SubhashVasarapu-MSFT commented on #43527
@dcbrown16 , Appreciate your patience. We are assigning this to the respective content author for updating the doc with the above mentioned query. @jaredr80 , Could you provide your insights on this
?

[2019-12-02 05:25] SumanthMarigowda-MSFT commented on #43519
@rabryst  Once the PR is merged, Doc will be updated! Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-02 05:25] #43519 closed

[2019-12-02 05:31] jakaruna-MSFT commented on #43814
@jdkr0220 Submitted a pr to change the link to https://github.com/helm/helm#install

[2019-12-02 05:33] ram-msft commented on #43654
@akash-roy-123  Please use the following nuget package. https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Vision.Face/2.5.0-preview.1
Install-Package Microsoft.Azure.CognitiveServices.Vision.Face -Version 2.5.0-preview.1

[2019-12-02 05:35] maple10001 opened #43852 "Typo in `public static void ModerateText` method"
in `public static void ModerateText(ContentModeratorClient client, string inputFile, string outputFile)` method:
    Console.WriteLine("Screening {0}...", outputFile); // This should be `inputFile` instead of `outputFile`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7b1e-c329-36b5-a034-55f84c8af361
* Version Ind

[2019-12-02 05:49] ChiragMishra-MSFT commented on #43623
@knaidoo33 Since we haven't heard back from you, I am assuming that you found what you were looking for.

I will proceed to close this thread now. Please feel free to still comment and tag me if you have any queries.

[2019-12-02 05:49] RohitMungi-MSFT commented on #43819
@lollasravani Are you using a form recognizer service key? To use this script you would need access to form recognizer resource which can be obtained by submitting a [request form](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview#request-access).

If the request is approved you would get more details on how to use the service and the script should work with the ke

[2019-12-02 05:52] souravmishra-msft commented on #43713
@GNMurthy1982, You can pull the details regarding the country where your B2C AAD directory is hosted by going on to the following location: **Azure Active Directory  >> Properties**

**Step 1:** Login to the **Azure AD B2C tenant**.
**Step 2:** Select the **Azure AD Blade**.
**Step 3:** Select the **Properties blade** under the **Azure AD blade**.

Refer to the screenshot for more info:

![image](

[2019-12-02 05:56] ram-msft commented on #43852
@maple10001 Thanks for the feedback. We will update the doc shortly.

[2019-12-02 06:16] RohitMungi-MSFT commented on #43841
@lostmygithubaccount Could you please review the suggestions from @algattik and include them in the next document update?

[2019-12-02 06:18] KalyanChanumolu-MSFT commented on #43629
@mijp The ShardKey expects a datetime as documented [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-shard-map-management#supported-types-for-sharding-keys)
Could you please try providing the value in this format

`2019-12-01 22:17:28.920`

[2019-12-02 06:19] KalyanChanumolu-MSFT commented on #43629
@stevestein Could you please evaluate if the shardkey format needs to be documented with examples?

[2019-12-02 06:19] RohitMungi-MSFT commented on #43827
@cartacioS Could you please review the suggestions from @CESARDELATORRE and update the document if required?

[2019-12-02 06:26] PramodValavala-MSFT commented on #43724
@deyanp Just following up here... Hope my previous comment clears things up.

[2019-12-02 06:36] AbhaPatankar commented on #29197
Hi Greg,

Any update on this? It is a bit urgent for us as it is impacting ~40 people in our org.

Regards,
Abha

From: Abha Patankar
Sent: Thursday, November 28, 2019 11:01 AM
To: Greg Arnits <gregar@microsoft.com>
Cc: Mention <mention@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Sadagopan Rajaram <sadar@microsof

[2019-12-02 06:38] ChiragMishra-MSFT commented on #43732
@mamccrea Can you please take a look at this?

[2019-12-02 06:38] PramodValavala-MSFT commented on #43607
@amthomas46 I believe the error is thrown from the SQL client not having a proper connection string. Considering it is being fetched from the app settings, could you confirm if its still set properly?

[2019-12-02 06:41] SomyKamble opened #43853 "FailedToEvaluateRScript: The following error occurred during evaluation of R script: R_tryEval: return error: Error: bad restore file magic number (file may be corrupted) -- no data loaded , Error code: LibraryExecutionError, Http status code: 400, Timestamp: Mon, 02 Dec 2019 06:33:22 GMT"
FailedToEvaluateRScript: The following error occurred during evaluation of R script: R_tryEval: return error: Error: bad restore file magic number (file may be corrupted) -- no data loaded , Error code: LibraryExecutionError, Http status code: 400, Timestamp: Mon, 02 Dec 2019 06:33:22 GMT

I have used the following code in r to  create the webservices :

library(AzureML)
library(devtools)
library(

[2019-12-02 07:00] mijp commented on #43629
@KalyanChanumolu-MSFT
Thank you for your reply.

It does n’t work.
Are there other problems?

![image](https://user-images.githubusercontent.com/39982069/69936949-99b0f480-151c-11ea-968c-40990b88e5ec.png)

![image](https://user-images.githubusercontent.com/39982069/69936957-a0d80280-151c-11ea-9ea0-c479baea1cf4.png)

[2019-12-02 07:10] MurrayFoxcroft commented on #28598
Where can I upvote MSI support for Azure functions in ADF linked services?

[2019-12-02 07:15] AjayKumar-MSFT commented on #43612
@PeterAnaniaHC, Thanks for bringing this to our attention. The Azure REST API Reference docs are auto-generated docs based on Swagger APIs. We have shared your feedback with the product team for reviewal and the requested changes would be updated soon but no ETA as of yet. We will close this out, but if you feel you need more information please just let us know. Thanks!

[2019-12-02 07:15] #43612 closed

[2019-12-02 07:32] SumanthMarigowda-MSFT commented on #43579
@murdockcrc  Apologies for the delay!
I was able to get the lattes key version using  the key_version=$(az keyvault key list-versions \
    --name <key> \
    --vault-name <key-vault> \
    --query [].kid \
    --output tsv | cut -d '/' -f 6)
![InkedInkedCapture1_LI](https://user-images.githubusercontent.com/44606021/69938658-e50ad900-1503-11ea-81ad-63e38b682530.jpg)
 Even I tried with --query [-1

[2019-12-02 07:34] SumanthMarigowda-MSFT commented on #43620
@artemuwka  Requesting you to please add your comments here

[2019-12-02 07:35] swiftPeter opened #43854 "Cannot see "Add an additional Azure AD Domain" in Azure AD connect server Wizard"
In the "Use the following steps to add the new top-level domain using Azure AD Connect." section, in AAD connect server, I cannot see "Add an additional Azure AD Domain" button in AAD connect server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081729e5-959f-d8c2-de1b-b035c6dbc8fb
* Version Independent ID: c93eda68-5b

[2019-12-02 07:42] KrishnaG-MSFT commented on #43776
@sujayt Any update on reviewing and merging above PR ?

[2019-12-02 07:46] neeleshray-msft commented on #43782
@iainfoulds Iain, could this be verified and updated in the document ?

[2019-12-02 07:48] neeleshray-msft commented on #43807
@msmimart  Michele, could this be verified and updated in the document ?

[2019-12-02 07:55] neeleshray-msft commented on #43836
@elrod-johnson
This would require detailed troubleshooting. Since this forum is for the Document feedback/questions, I would suggest you to post the query on our new **[Microsoft Q&A Forum](https://docs.microsoft.com/answers/topics/azure-ad-domain-services.html)** with the _Azure Active Directory Domain Services_ tag for us to assist you better.

We would be closing this thread here for now and wo

[2019-12-02 07:55] #43836 closed

[2019-12-02 08:17] murdockcrc commented on #43579
@SumanthMarigowda-MSFT : that works for you because you are working with a key which only has one version. When you are working with a key that has multiple versions, `[].kid` will return an array of all keyIds, which will make the rest of the script fail. However, using the negative array index `-1` will guarantee that you will always get the latest key version, regardless of whether your key has

[2019-12-02 08:17] neeleshray-msft commented on #43634
@v-akhana  We have created a Pull Request for the same to be reviewed.
@msmimart  Kindly review and update the change.

[2019-12-02 08:27] DixitArora-MSFT commented on #43718
@venkatx5 Follow [this](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#grant-permissions-in-azure-ad) which discuss about Grant permissions in Azure AD. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2019-12-02 08:27] #43718 closed

[2019-12-02 08:30] benpaul4u opened #43855 "Typo"
Typo "onwers": "Only existing group owners or group-managing administrators can assign group onwers."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a86aa3-3274-12eb-66a4-8147c0438ed2
* Version Independent ID: da45ec44-72ee-009c-4c0c-472b496f785c
* Content: [Add or remove group owners - Azure Active Directory](https:

[2019-12-02 08:31] ram-msft commented on #43363
Raised PR for this #https://github.com/MicrosoftDocs/azure-docs-pr/pull/97454.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-02 08:31] #43363 closed

[2019-12-02 08:34] genlin commented on #43665
@richard-artes A pull request has been summited to update the article. I will process to close this issue. Feel free to reopen it if there is any other comment about this issue.

#please-close

[2019-12-02 08:34] #43665 closed

[2019-12-02 08:35] genlin commented on #43682
@DavidWeshen A pull request has been summited to update the article. Feel free to reopen it if there is any other comment about this issue. Thanks for your contributions.

[2019-12-02 08:39] yuharucan opened #43856 "Is endpoint policy not supported on subnet which Azure Batch pools are deployed on?"
Is endpoint policy not supported on subnet which Azure Batch pools are deployed on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46dac123-f7ac-a8c2-f4e3-96152b904b27
* Version Independent ID: ac845895-61d8-3d8e-d5b4-ea80a403458e
* Content: [Azure virtual network service endpoint policies](https://docs.microsoft.com/e

[2019-12-02 08:43] rhwilburn opened #43857 "Doesn't feel like best practice"
The article has helped me a fair bit, however:

Kubernetes appears to be best configured declaratively with YAML definitions etc. Using command line to install nginx makes an easier hello world but is making it harder to understand how to get it all into YAML. A good example of being more yaml oriented is here: https://www.dasblinkenlichten.com/kubernetes-networking-101-ingress-resources/

Another

[2019-12-02 08:45] KalyanChanumolu-MSFT commented on #43615
@pvemula2 I am not sure if suppressing alerts for individual queries is supported at the moment.

@monhaber Could you please confirm and evaluate if the documentation needs to be updated accordingly.

[2019-12-02 08:57] MaxMueller0815 opened #43858 "Multiturn extraction Error"
Hi,
I try to make my own Document to use with the multiturn extraction and I could not figure out, why it would not recognize my different Levels of structure. Here stands it has to have different font size so the algorithm can detect and differentiate the levels.
BUT it must also have the first letter capitalized! Without it does not detect prompts.
Please add this to the requirements for time-sa

[2019-12-02 09:15] jpawlowski opened #43859 "Database to programmatically work with license information"
I was not able to find an overview of licenses and their dependencies that could be used in programs and scripts.
That's why I started to create some JSON database files to reflect what's on this page already. I think there is even more information that is useful to be added there.
For the moment, this lives here: https://github.com/jpawlowski/Azure-AD-Licensing-DB/

Any feedback and contribution

[2019-12-02 09:16] sandytsang opened #43860 "Admin Consent Prerequisites"
Documentation said "Granting admin consent requires you to sign in as global administrator, an application administrator, or a cloud application administrator". But when I tested remove a admin from Global administrator role, added as application administrator and cloud application administrator, grant admin consent is no longer available.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-12-02 09:22] #43814 closed

[2019-12-02 09:26] mcurko opened #43861 "Explanation needed"
To assign RBAC to a container, one has to go to "Container properties - Access Control (IAM)". How is it done for a queue, I see no similar menu option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9842135b-e54e-dd35-527c-5204045e72f3
* Version Independent ID: 25ec1f15-883d-8070-6efd-e732c2c6c731
* Content: [Use the

[2019-12-02 09:30] MartinSajpel opened #43862 "Missing links/details for "Generate Certificates" and others"
It looks like the section is missing some links or detailed information on how to handle certificates data in these:
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal#openvpn
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal#ikev2
in both cases please look closely at point 4.

---
#### Document Details

⚠ *Do not edit this section

[2019-12-02 09:41] jakaruna-MSFT commented on #43614
![image](https://user-images.githubusercontent.com/43405697/69948435-a4b45680-1515-11ea-8300-a47cb0cc66a8.png)
@pilchie Its working fine for me in the cloudshell. my version is 2.0.77

I suspect that you are using an old version.

Let us know the version which you are using `az --version`. Instead you can also try with cloudshell  https://shell.azure.com/bash

[2019-12-02 09:43] manvendrautralia commented on #43801
@HeidiSteen Thanks for your reply. The APIs mentioned helps in fetching a document based on query. However I wish to get the keywords along with ranking as extracted for Indexing purpose (using term frequency and inverted document frequency). Is there a way to do so.

[2019-12-02 09:47] jakaruna-MSFT commented on #43808
@danielearwicker
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-02 09:53] jakaruna-MSFT commented on #43750
@Sannioy  is there any update

[2019-12-02 09:54] joeruder commented on #43503
Ditto on all accounts, reinstalled using the above link fixed it.
Did not uninstall first.

[2019-12-02 09:58] prjhunjh opened #43863 "Powershell Command to register the resource provider is not correct for ARM mode..."
Correct command is Register-AzureRmProviderFeature -Feature "hanabackup" -ProviderNamespace Microsoft.recoveryservices

For the command listed in the document we get the below error
 Register-AzProviderFeature -FeatureName "HanaBackup" -ProviderNamespace Microsoft.RecoveryServices
Register-AzProviderFeature : The term 'Register-AzProviderFeature' is not recognized as the name of a cmdlet, function

[2019-12-02 10:02] kartiknagappa commented on #37420
Hi there - do you have an update?

How do I get access to / print out the time series data?

I ran the Get-AzMetric cmdlet via the Azure Cloud Shell and receive the following response:
[code]

[2019-12-02 10:09] ozil-ozil opened #43864 "Financial details section is not appearing in my Partner Center account"
Hi,
I am unable to find "Financial details section" in my Partner Center account. I have followed the following steps

https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/manage-account#financial-details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7106793e-df61-fd08-07b6-c8a50987d559
* Version I

[2019-12-02 10:17] sopelt commented on #40461
@patrickjlee have you seen https://github.com/MicrosoftDocs/azure-docs/issues/43368 ? Thhis cost us hours too...

As for $msiobjectid vs msiobjectid: This sounds like you are running snippets that are written for Azure CLI + bash in a powershell environment.

[2019-12-02 10:24] dcurwin commented on #43863
reassign:pvrk

[2019-12-02 10:24] dcurwin commented on #43863
#reassign:pvrk

[2019-12-02 10:34] aquibqureshi26 opened #43865 "needed port 443 from specific Source or any to Subnet of the AzureBastionSubnet"
Ingress Traffic from public internet: "The Azure Bastion will create a public IP that needs port 443 enabled on the public IP for ingress traffic"

After checking this i created a rule with source as Internet and Destination as the bastion Host Public IP for port 443. and bastion service wasn't working as expected. I then enabled specific source/internet to the subnet address of the bastion subnet

[2019-12-02 11:03] AshishLS commented on #33265
@NHaiby
We are facing this issue on our pdf files. It seems that this issue is still there. Do you have any more updates?

We started by sending 12 PDFs (well within the limits mentioned in the documentation) for the training and still, it failed with following error message:
"code": "1011",

It showed the same error till 3 PDFs and eventually worked for 2 PDFs.

[2019-12-02 11:10] jpawlowski opened #43866 "Naming of the parts a license object contains"
I had a lot of discussions about using the right terms when talking about licenses and their structure.
It seems that even in Microsoft and Microsoft products, there sometimes is some inconsistency about this.

We came up with an agreement internally that I wanted to validate with the public community in order to clarify whether this could also be reflected as a general explanation on docs.microso

[2019-12-02 11:23] sirjun05 opened #43867 "Operations response status is always "not started""
Hi,

I'm trying to enroll an audio into an identification profile , the audio format is correct and when i try to get the operation status, it always return "not started". What's happening? I can't continue what I'm doing because of this. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3

[2019-12-02 11:24] SadiqhAhmed-MSFT commented on #43863
@prjhunjh Thanks for the comment. This issue has been assigned to the content owner to review and update as appropriate.

[2019-12-02 11:32] SadiqhAhmed-MSFT commented on #43864
@ozil-ozil Thanks for the comment. You need to open a [support request](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/support#how-to-open-a-support-ticket) with partner center support to get assistance on this issue.
We will close this issue now. Don't hesitate to reach out to us if you've any question in this matter.

[2019-12-02 11:32] #43864 closed

[2019-12-02 11:32] SwathiDhanwada-MSFT commented on #43763
@siudeks Thanks fore reaching out!! Can you please share the resources for which the tags are being applied partially so that we can verify and assist you accordingly?

[2019-12-02 11:33] Rudolf112 opened #43868 "Teams and Skype"
Says that "Windows Virtual Desktop doesn't support Skype for Business and Teams.". Teams should be supported by now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7e52a-b2b1-0372-0e62-12f6733fc699
* Version Independent ID: a21ed743-3fbc-0d20-6947-188744e0a2f7
* Content: [Install Office on a master VHD image - Azure

[2019-12-02 11:38] KalyanChanumolu-MSFT commented on #43615
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-02 11:40] AshokPeddakotla-MSFT commented on #43853
@SomyKamble Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-02 11:41] AshokPeddakotla-MSFT commented on #43855
@benpaul4u Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 11:43] AshokPeddakotla-MSFT commented on #43856
@yuharucan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 11:51] ManojReddy-MSFT commented on #43855
@benpaul4u Thanks for reporting this. I have updated the doc accordingly.

[2019-12-02 11:51] #43855 closed

[2019-12-02 12:03] AshokPeddakotla-MSFT commented on #43777
@jamesbannan Just checking in to see if the suggestions provided on the other issue helped.
Do let us know if you need further help.

[2019-12-02 12:04] brianbarnett316 commented on #43503
As others have mentioned, I did not have to uninstall/reinstall.  I simply used the link above to download and install the latest version and had no issues after that.

[2019-12-02 12:11] jzoran05 commented on #43815
Thank you! It would be good to understand what happened with the Azure Sample which was behind this link - it was interesting sample and even though there are code snippets in the article it is always great to have actual running code sample...

[2019-12-02 12:15] frackham opened #43869 "Docs do not note that TLS mutual auth / client auth is not supported"
See https://stackoverflow.com/questions/55870819/does-azure-front-door-support-tls-client-authentication . As far as I can see, this was introduced in TLS 1.2, which is listed as supported in AFD. Seems like incomplete support of the spec?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff391336

[2019-12-02 12:20] msrini-MSFT commented on #43865
@aquibqureshi26 , When you apply NSG at a subnet level or NIC level, your destination IP for incoming rule always needs to be a private IP not the public IP. Since Bastion is deployed in a VNET and it has IP addresses on it, you need to update the destination as the whole subnet.

It is covered in this article : https://docs.microsoft.com/en-us/azure/virtual-network/security-overview

[2019-12-02 12:30] AshokPeddakotla-MSFT commented on #43726
@SushrutDeo It appears to be that device continuously sending messages. Just wondering have you modified the code by any chance?  In your output device sending temperature and humidity. In the example device is sending "DeviceId" and "windSpeed" Can you please recheck once and try?

[2019-12-02 12:35] SubhashVasarapu-MSFT commented on #43496
@Iwifia , Appreciate your patience. SSL certificates by default have line breaks after 64 characters. Generally, after certificate exportation we copy the newly exported certificate as you mentioned above by removing all the line-breaks in the certificate. Not removing the line breaks violates the cert data format and will be issued "Invalid Certificate data format" error.
We are closing this issu

[2019-12-02 12:35] #43496 closed

[2019-12-02 12:44] orspod commented on #43237
@marcosgm I believe your issue has been addressed and the doc updated.

#please-close

[2019-12-02 12:44] #43237 closed

[2019-12-02 12:55] AshokPeddakotla-MSFT commented on #43548
@anujsharrma Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-02 12:55] #43548 closed

[2019-12-02 13:02] msrini-MSFT commented on #43795
@Atul1G , Please tag me if you have any further questions.

[2019-12-02 13:02] #43795 closed

[2019-12-02 13:02] frackham opened #43871 "Azure IP Ranges and Service Tags links are broken - resolve to the generic MS download page (effectively a 404 :( )"
See the section: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front

[2019-12-02 13:03] frackham commented on #43871
Apologies, this can be closed, I was fooled by the nearly full screen ad on there!

[2019-12-02 13:04] dotnetpiper opened #43872 "How to read/get Virtual machine background processes using Kusto LOg query , Azure Monitor"
I hope you all are doing great.

I'd like to know, How to read/get Virtual machine background processes using Kusto Log query on Azure Monitor log analytics process. In which table i should get all these available like Perf,Event or any other

e.g. As shown in below screen shot: enter image description here

![VMProcess](https://user-images.githubusercontent.com/20516546/69961313-9f650500-1531-11e

[2019-12-02 13:05] akarshprabhu opened #43873 "Please update document based on v3 SDK"
Please update document based on v3 SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a1f8fb-77e3-acac-eb1e-05571fc4e018
* Version Independent ID: 4bd2399c-7298-848d-e04d-88b74b132dde
* Content: [Database transactions and optimistic concurrency control in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos

[2019-12-02 13:06] akarshprabhu commented on #43873
A code sample like the one in v2 would help.

[2019-12-02 13:18] saurabhsensharma commented on #9664
This has been fixed and the documentation update should happen by 12/3.

[2019-12-02 13:18] saurabhsensharma commented on #9664
#please-close

[2019-12-02 13:18] #9664 closed

[2019-12-02 13:19] siudeks commented on #43763
I temporary removed spaces inside my tags (names and values), so my tagging looks well but is impractical. As the result my tagging (right now) does not reflect the problem

My question - how looking to tagging of my resources would help with improving script which does not include spaces? Do you have problem with reproducing the issue?

[2019-12-02 13:20] msrini-MSFT commented on #43871
@frackham , when you download the file, you will be able to see all the IPs of service tags and Azure IP ranges.

[2019-12-02 13:20] #43871 closed

[2019-12-02 13:21] slavizh opened #43874 "SKUs for capacity reservation"
What are the sku names for capacity reservation options? They are not listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d15cf474-1fc6-b97d-2a52-19f880e20ea9
* Version Independent ID: 524c5814-49e0-11b4-ff0a-9953e7f9f0f6
* Content: [Use Azure Resource Manager templates to Create and Configure a Log Analytics W

[2019-12-02 13:27] SumanthMarigowda-MSFT commented on #43861
@mcurko Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-02 13:28] souravmishra-msft commented on #43746
@amitbapat, Can you please take a look at this and update the documentation with the ARM template details.

[2019-12-02 13:29] SumanthMarigowda-MSFT commented on #43666
@prvempat  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-12-02 13:31] SumanthMarigowda-MSFT commented on #43579
@murdockcrc I have assigned the issue to the content author for further review.

[2019-12-02 13:41] PramodValavala-MSFT commented on #43599
@wilcoblom This repository is primarily for addressing doc issues. Please feel free to open a thread on [MSDN](http://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-logic-apps).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2019-12-02 13:41] #43599 closed

[2019-12-02 13:44] PramodValavala-MSFT commented on #43716
@akashsamalfic Just following up here... Is there a specific doc that you are following?

[2019-12-02 13:58] stokes776 opened #43876 "Does 'Data Modeling' in Preview replace 'Reference Data Set' feature in GA?"
In the Preview environment I cannot find any references or links to add a Reference Data set anymore. In the documentation here I also do not see any references to 'Reference Data Set' as it relates to Preview. Does the 'Data Modeling' feature replace/enhance the Reference Data Set feature? Not complaining, the Data Modeling seems a lot easier to use, just want to make sure I am not missing where

[2019-12-02 14:13] AshokPeddakotla-MSFT commented on #43858
@MaxMueller0815 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:15] AshokPeddakotla-MSFT commented on #43859
@jpawlowski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:16] AshokPeddakotla-MSFT commented on #43860
@sandytsang Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:17] AshokPeddakotla-MSFT commented on #43862
@MartinSajpel Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:22] AshokPeddakotla-MSFT commented on #43866
@jpawlowski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:23] AshokPeddakotla-MSFT commented on #43867
@sirjun05 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:23] NavtejSaini-MSFT commented on #43473
@kagkarlsson Please let us know if you have any further question in this regards.

[2019-12-02 14:24] dan-hanlon opened #43878 "Not explicit about how to give read/write access to a child item"
The documentation for ADLS gen1 is not explicit that you need to give Execute permissions to each folder in the folder hierarchy of an item to be able to access it, but it is explicity called out in the Gen2 documentation (see the note in this section https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#levels-of-permission)

The Gen1 documentation should contain a

[2019-12-02 14:25] NavtejSaini-MSFT commented on #43348
@Ramji-S Please let us know if you have any further questions in this regard.

[2019-12-02 14:25] AshokPeddakotla-MSFT commented on #43868
@Rudolf112 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:27] AshokPeddakotla-MSFT commented on #43869
@frackham Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 14:28] AshokPeddakotla-MSFT commented on #43872
@dotnetpiper Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-02 14:28] lcarli commented on #43765
Hi, @SwathiDhanwada-MSFT ,

Here is my json parameters

`{
    "mspOfferName": {
        "value": "MyOfferName"
    },
    "mspOfferDescription": {
        "value": "MyOfferName conneted in Client"
    },
    "managedByTenantId": {
        "value": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    },
    "authorizations": {
        "value": [
            {
                "principalId": "5baa72c8-f81a-47

[2019-12-02 14:29] AshokPeddakotla-MSFT commented on #43873
@akarshprabhu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-02 14:32] CHDAFNI-MSFT opened #43879 "SCVMM - ASR decomm - instructions update"
With ASR being decommed for SCVMM, the instructions should be updated to reflect the updated guidance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e7c9330-09be-b71f-8204-f1a708bb007e
* Version Independent ID: 207b4132-f489-25aa-9e46-24a8dc5ed35f
* Content: [Set up Hyper-V (with VMM) disaster recovery using Azure Sit

[2019-12-02 14:37] kilasuit opened #43880 "No instructions for Creating an Initative Definition via any automatable means."
Currently this document doesn't show any instructions on how to create a Policy Initiative Definition via automated means, leaving just the portal as the means for creating them, which isn't scalable or easily repeatable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728627-f8e4-0e41-c747-658d9496e9aa
* Version Inde

[2019-12-02 14:42] DCtheGeek commented on #43880
#assign:DCtheGeek

[2019-12-02 14:45] DCtheGeek commented on #43880
@kilasuit Thanks for the feedback, @kilasuit. I'll add this to my backlog. In the mean time, presuming that you are primarily interested in doing this with PowerShell, the cmdlet reference for [New-AzPolicySetDefinition](https://docs.microsoft.com/powershell/module/az.resources/New-AzPolicySetDefinition) is available.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in

[2019-12-02 14:46] aquibqureshi26 commented on #43865
yes, i know that we always needs to specify private IP. but as this is a service offering hence I was little confused with the verbatim highlighted in the issue.
Closing this thread

[2019-12-02 14:46] #43865 closed

[2019-12-02 14:47] mamccrea commented on #43491
I will respond here when the doc has been updated. #please-close

[2019-12-02 14:47] #43491 closed

[2019-12-02 14:50] funiio opened #43881 "December 16, 2019"
"We are working closely with the Workplace by Facebook team to ensure that the Azure AD application is approved and meets their new guidelines. The Workplace by Facebook deadlines is December 16th and we expect to meet that. No work is expected of customers at that time. By 28-February-2020, customers will need to transition to the new integration. We will post here as soon as the migration path i

[2019-12-02 14:51] mrbullwinkle commented on #43650
@VaclavK thanks for bringing this to our attention! The engineering team is gradually consolidating the repos which is unfortunately having the short term side-effect of breaking a lot of our direct links to code. The content you are looking for is now here: https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/develop/WEB/Src/DependencyCollector/DependencyCollector/ApplicationInsigh

[2019-12-02 14:51] mrbullwinkle commented on #43650
#please-close

[2019-12-02 14:51] #43650 closed

[2019-12-02 15:04] AshokPeddakotla-MSFT commented on #43874
@slavizh Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 15:05] mrbullwinkle commented on #43800
The one advantage of globally unique resource names is that it simplifies [cross resource queries](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/cross-workspace-query#identifying-an-application), whereas if you have duplicate names you need to use a fully qualified name in your queries since it can't disambiguate the resource by name alone and the query would otherwise fail. Your

[2019-12-02 15:07] AshokPeddakotla-MSFT commented on #43857
@rhwilburn Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 15:09] DixitArora-MSFT commented on #43757
@AlexKeySmith APIM does not maintain that TCP connection long enough for the backend server to send the response. The Azure LB has a default timeout for 4 minutes, which is not changeable from the user side even if you set forward-request timeout greater than 4 minutes via Policy. For VNET, AFAIK this would not be applicable if the call is made inside the VNET only. Let me know if you have any mor

[2019-12-02 15:12] mcurko opened #43882 "Notes"
Is the fact that VNET IP rages overlap irrelevant?

Also, the RG creation has to set a region, otherwise private link might not be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f85b671d-f324-1bbb-9ae1-cfb4d14f642b
* Version Independent ID: 6357b6d4-9748-c80a-7331-d69e486fa3ad
* Content: [Create an Azure Priva

[2019-12-02 15:15] mosdav opened #43883 "HTTP POST request example for access token is missing _mandatory_ Content-Length header"
Guys,
Using the example, as-is, w/o specifying  Content-Length header (along w/ the length of the encoded URL) is completed w/ BadRequest response.

I also suggest to include the `Connection: close` header within the example
modav@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa1

[2019-12-02 15:19] AllenVisser opened #43884 "step 4 is deprecated to Storage Explorer (Preview) under Download flow log"
step 4 is deprecated to Storage Explorer (Preview) under Download flow log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Version Independent ID: 8812ded6-3f56-737e-5aef-a33fcb908ba1
* Content: [Tutorial - Log network traffic flow to and from a VM using the Azure portal - Azure Ne

[2019-12-02 15:20] jakaruna-MSFT commented on #43817
@marckassay Thanks for the feedback. I will update the doc.

[2019-12-02 15:21] AdityaVishwekar opened #43885 "Get logprofile of the subscription using resource graph query"
There's no proper documentation or module to retrieve log profile associated with Subscription using graph query.
In a runbook, I need to change the context each time for all the subscriptions in management group to get the log profile. Since, Az.cli is not supported in Automation Account we can't use it. To reduce execution time of the runbook I need the resource graph query to get logprofiles.

[2019-12-02 15:21] jakaruna-MSFT commented on #43840
@dzoech
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-02 15:23] allantargino opened #43886 "No Java example for Table output binding (@TableOutput)"
Hi there,

I believe this page could have an example of using the `@TableOutput` binding, which is documented [here](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.functions.annotation.tableoutput?view=azure-java-stable).

Thks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0c

[2019-12-02 15:31] the-blesss opened #43887 "We need alert suppression for X minutes to reduce but not completely turn off noise from multiple alerts in a single day"
The shortest suppression duration is 1 day, this is not going to work for most suppression scenarios. If I have an alert that is triggering multiple times a day, it will be silenced for the entire day. We should have a configurable suppression duration to allow us to quiet multiple alerts from the same sourced event or incident, but not for an entire day.

---
#### Document Details

⚠ *Do not edit

[2019-12-02 15:32] GrantBCU opened #43888 "Microsoft.Azure.NotificationHubs - Can't install past version 1"
I followed the Xamarin.Forms quick start documentation as stated but when I try to add the Microsoft.Azure.NotificationHubs nuget package I get the following error:

Could not install package 'Microsoft.Azure.NotificationHubs 3.2.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content f

[2019-12-02 15:35] GiftA-MSFT commented on #43654
@akash-roy-123 thanks for following up..please let us know if you have any more issues after following the instruction in the above comment..we'll now proceed to close this thread. Thanks.

[2019-12-02 15:35] #43654 closed

[2019-12-02 15:37] sunnypatel opened #43889 "Policy Validator"
Would be nice to have a policy validator linked from this page.  Making a Terraform config for policies requires tedious testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Version Independent ID: cfd91d85-ffff-d2b0-fc7f-61bcae6ed615
* Content: [Policies in Azure API Managemen

[2019-12-02 15:37] AshokPeddakotla-MSFT commented on #43854
@swiftPeter Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 15:42] diberry commented on #43363
PR approved. #please-close

[2019-12-02 15:47] kosticd commented on #18765
we still looking for proper doc...

[2019-12-02 15:52] JayReally opened #43890 "Can't get azure DevOps connection to work"
I've followed these instructions and other tutorials, but whatever I do, the "save" button remains disabled. I'm not getting any feedback from the UI as to why that is though... Tried with different subscriptions, I'm sure it's not related to Azure AD conditional access features as mention in the comment by @rohancragg

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-12-02 15:55] PramodValavala-MSFT commented on #43886
@allantargino Thanks for the feedback! We will review and update accordingly.

[2019-12-02 15:57] PramodValavala-MSFT commented on #43886
@allantargino Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-12-02 15:57] allantargino opened #43891 "Authentication using az login and SAS token generation"
Hi there,

We could have a working example on how to generate  a SAS token using az-cli.
Here is an example that works:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure Bl

[2019-12-02 16:00] lorenzobrito opened #43892 "HTTP to HTTPS redirection does not work"
More than 24 hours and the rule is not applied
http://www.lorenzobrito.com/ is not moving to
https://www.lorenzobrito.com/
https://lorenzostaticsite.blob.core.windows.net/images/ruleengine.PNG?sp=r&st=2019-12-02T15:59:18Z&se=2022-04-09T22:59:18Z&spr=https&sv=2019-02-02&sr=b&sig=6eB5wSd%2Fl19b%2FqiNGvUeVH%2FUZHbXcjJh1LIfwvuL0Js%3D

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-12-02 16:00] DixitArora-MSFT commented on #43889
Hi @sunnypatel Thanks for your feedback. We will review and update as appropriate.

[2019-12-02 16:01] beastofbobmin commented on #39533
When will this be available on the Microsoft Download centre?

[2019-12-02 16:01] passbt opened #43893 "Sysprep fails with SYSPRP MRTGeneralize"
The sysprep example provided above never proceeds beyond `IMAGE_STATE_GENERALIZE_RESEAL_TO_OOBE`. I found the error below in C:\windows\System32\Sysprep\Panther\setuperr.log. I've discovered that uninstalling Windows defender (i.e. `Uninstall-WindowsFeature Windows-Defender-Features`) allows the sysprep to continue as expected. I don't think uninstalling Windows defender is the solution, so I'm lo

[2019-12-02 16:07] yegu-ms commented on #42608
@lwajswaj Thank you for pointing this out! We've updated the doc to reflect it.

#please-close

[2019-12-02 16:07] #42608 closed

[2019-12-02 16:09] raviman8 commented on #43701
Hi,
I do have a question with regards to the WAD and sending specific type of
data to a specific Event Hubs namespace.
In short, would like to send performance data to a specific EH namespaces,
and event logs data to another namespace.
How can this be configured within the XML DiagConfig file?

On Sun, Dec 1, 2019 at 7:37 AM SwathiDhanwada-MSFT <notifications@github.com>
wrote:

--
Thanks,
Ravi Ya

[2019-12-02 16:10] MicahMcKittrick-MSFT commented on #43885
@AdityaVishwekar can you provide the link to the documentation you were able to find? That way I can assign to the correct author to review further.

[2019-12-02 16:11] tfitzmac commented on #43698
@breyed - thanks for this feedback. It looks like the object that is returned has changed. I suspect this is because of how IP addresses are assigned. I am removing that example.

[2019-12-02 16:12] yegu-ms commented on #43804
@SpikePy Thank you for reporting this issue! We're sorry that you weren't able to create a cache. To help us figure out what could be causing this, would you mind sending a screenshot to AzureCache@microsoft.com so that we can look into it?

[2019-12-02 16:15] RobSiklos commented on #43384
Yes, I chose mobile/desktop. Here's the screenshot:
![image](https://user-images.githubusercontent.com/3660275/69975335-01534980-14f5-11ea-9c14-db6ae89a3164.png)

[2019-12-02 16:16] NavtejSaini-MSFT commented on #43743
@jcawte Only Max eDTU value that is wrong is for Premium 1500 eDTU per pool. Here the max is 1000 and not 1500.
We have created a PR for the same https://github.com/MicrosoftDocs/azure-docs-pr/pull/97498 which will fix this. If you have any further question, please get back to us.

[2019-12-02 16:18] #43608 closed

[2019-12-02 16:21] dwrightpulse opened #43894 "Is Data Deduplication and Cloud Tiering supported on the same volume on Server 2019 now?"
The release notes for file sync agent v5 suggest that it is now (see https://support.microsoft.com/en-us/help/4459989/azure-file-sync-agent-v5-release-february-2019); if so, can the comment in https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#data-deduplication be updated please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-12-02 16:27] hrasheed-msft commented on #43680
I sent a reminder to the author today 12/2/2019.

[2019-12-02 16:27] #43698 closed

[2019-12-02 16:29] lordlycastle opened #43895 "Does not work."
I get this error when I try to run step 8 of https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp#configure-and-run-the-azure-function-app.

![image](https://user-images.githubusercontent.com/11729541/69976449-ea2a5100-1520-11ea-81d0-b0a31af73d8b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-02 16:30] Iwifia commented on #43496
This data needs to be added to the document, thus why I opened the issue. Nowhere in the documentation does it say that you need to remove the linebreaks for now or you will fail at importing the cert data.

[2019-12-02 16:31] hrasheed-msft commented on #43756
I sent a reminder to the author today 12/2/2019

[2019-12-02 16:32] mslot commented on #42878
This could actually be nice to know if this is going to be official supported, or this is a "hidden feature", that is going to be removed soon, or changed. I want to use this in production, but i dont want to break things.

[2019-12-02 16:34] v-kydela commented on #42377
Linking: https://stackoverflow.com/questions/58866398/luis-mount-points

[2019-12-02 16:38] mrbullwinkle commented on #43800
I have updated the doc internally. The change will go-live in the public repo later today.

[2019-12-02 16:38] mrbullwinkle commented on #43800
#please-close

[2019-12-02 16:39] #43800 closed

[2019-12-02 16:40] VikasPullagura-MSFT commented on #43820
@cynthn Can you please look into this feedback and add your comment for updating the document accordingly.

[2019-12-02 16:42] VikasPullagura-MSFT commented on #43538
@Pilchie I am assigning the issue to content author for confirming on this.

[2019-12-02 16:52] iainfoulds commented on #43782
Yes, that's correct - wildcard would need to be _*.aadds.contoso.com_. We've started to update docs to show the _aadds_ prefix, so will make sure this LDAPS doc gets updated soon.

#in-progress

[2019-12-02 16:58] MicahMcKittrick-MSFT commented on #43692
@andresbarcenas I will close this out and please see the other issue I linked for work arounds. If you still cannot get the IP out of the pending state let me know and I can get you in touch with Technical Support to look into it further.

[2019-12-02 16:58] #43692 closed

[2019-12-02 16:59] MicahMcKittrick-MSFT commented on #43632
@AndrewJCo what @VikasPullagura-MSFT provided is correct. Once you stop the VM from the Portal the cores are released. There might be a slight time delay from when you stop and when the cores are available. But we do release the cores.

So the documentation is correct. If you are still seeing issues let us know and we can help get you in touch with Technical Support to dig into it further.

[2019-12-02 17:00] dlepow commented on #43516
I will update the documentation to point this out. Thanks @amitamit281 for raising the issue.

[2019-12-02 17:01] MicahMcKittrick-MSFT commented on #43614
As @jakaruna-MSFT mentioned, it is likely a version issue. We have tested it using the latest version of CLI both in cloud shell and on prem and it works as expected. Closing this as there is no doc update needed. if you still see issues after updating to the latest CLI let us know.

[2019-12-02 17:01] #43614 closed

[2019-12-02 17:03] MicahMcKittrick-MSFT commented on #43585
@djcat80 I cannot seem to reproduce the error. I think it would be best to get you in touch with Technical Support. If you don't have the ability to open a technical support ticket you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can then enable you for that support ticket.

Closing this as no doc update is needed and will be on the lo

[2019-12-02 17:03] #43585 closed

[2019-12-02 17:06] MicahMcKittrick-MSFT commented on #43694
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-12-02 17:06] #43694 closed

[2019-12-02 17:08] #43776 closed

[2019-12-02 17:08] bigdaveydave opened #43897 "Error Handling help"
I struggled to invoke a failure to ADF from the webhook so below is the powershell I used to help others:
 Param(
    [object]$WebhookData
 )
if ($WebhookData){
    $parameters = (ConvertFrom-Json -InputObject $WebhookData.RequestBody)
    if($parameters.callBackUri) {$callBackUri = $parameters.callBackUri}
}

$jsonRequest = [ordered]@{
                                output= @{

[2019-12-02 17:11] dlepow commented on #43627
@JuneZhao - Thanks for letting us know and apologies for any confusion in our documentation. Can you please tell us more about your scenario and where you find that the description is not accurate? See also the example in https://github.com/MicrosoftDocs/azure-docs/issues/41476

@VikasPullagura-MSFT - Could you please tag ACI PMs instead of AKS PMs on this issue? Thx!

[2019-12-02 17:11] scott1138 opened #43898 "Explain Linux cert locations"
It would be nice to have some examples regarding the location of the Linux certificates.  It mentions LocalComputer and My, but those are windows locations.  Does that correspond in some way to /etc/ssl?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fd1350-6158-4eb0-b41b-5c7b9a776e96
* Version Independent ID: 713b91

[2019-12-02 17:15] lumayara commented on #25798
Hi.. Following @rposbo 's demo we were able to use the verification part but not identification part. It doesn't seem to be working.

[2019-12-02 17:16] #43797 closed

[2019-12-02 17:17] msjuergent commented on #43662
No, Db2 running SAP workloads is not yet supported to leverage NFS shares based on ANF. Reason is that we still have manual process to provide proximity. Since this manual process is intense, we opened ANF for the case where we differentiate. And this is HANA and especially the scale-out with standby (n+m). As ANF will mature and will provide proximity out of the box, we will be open to work with

[2019-12-02 17:17] tchristiani commented on #25798
This is not a docs issue. This is not the correct place to discuss this. You need to open a bug on the azure.microsoft.com page where this issue is occurring. Thank you.

[2019-12-02 17:20] lordlycastle commented on #21032
Ping... it's been a year??

[2019-12-02 17:21] AdityaVishwekar commented on #43885
@MicahMcKittrick-MSFT https://docs.microsoft.com/en-us/azure/governance/resource-graph/

[2019-12-02 17:23] MicahMcKittrick-MSFT commented on #43885
@AdityaVishwekar thanks for that. I will assign to the author to review and see about adding additional examples.

[2019-12-02 17:24] MicahMcKittrick-MSFT commented on #43662
Thanks @msjuergent

@tobbra I will close this out but if you have further questions let me know.

[2019-12-02 17:24] #43662 closed

[2019-12-02 17:25] Karishma-Tiwari-MSFT commented on #43401
@yyanev Thank you :)

@mkiernan We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-02 17:25] #43401 closed

[2019-12-02 17:30] #43546 closed

[2019-12-02 17:32] #43743 closed

[2019-12-02 17:34] adetayorabiu opened #43899 "How can I implement dead letter queue and retries in Azure Data Factory Event Trigger"
We are looking into implementing dead letter queue and retries in ADF Event triggers. I noticed that blobCreated event triggers in ADF are translated into event subscriptions in storage accounts (can be seen under events tab) but the created event subscriptions do not have dead letters turned on by default.

We have a situations at hand where ADF is unable to process all blobcreated events when th

[2019-12-02 17:35] #43828 closed

[2019-12-02 17:38] djpmsft commented on #43722
Hi all,

This is a duplicate of #43723

As mentioned, the fix is currently awaiting deployment. You should see the all authentication modes supported in the Web Activity starting middle of this week.

Heads up, you will need to use Azure Key Vault to store your passwords as we do not store them in Git mode (which is why the feature didn't exist at first).

[2019-12-02 17:38] djpmsft commented on #43722
#please-close

[2019-12-02 17:38] #43722 closed

[2019-12-02 17:40] Mike-Ubezzi-MSFT commented on #43608
@nonodename The document has been corrected and merged to master but will take a few hours before the change is made live.

[2019-12-02 17:42] dotnetpiper commented on #43872
@AshokPeddakotla-MSFT Kindly find a link for reference as shown here .
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-windows-events

Hope it helps.

[2019-12-02 17:42] carteixeira commented on #43850
@msrini-MSFT ,  I know this link exist, which is why I provided it in my post. My request is that this instruction is mentioned somewhere in the original documentation.
Also, the instruction says it generates PCAP or ETL formats, but my test only generated PCAP and I didn't find an option to choose ETL. This should be updated too.

[2019-12-02 17:44] Karishma-Tiwari-MSFT commented on #43898
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 17:45] Karishma-Tiwari-MSFT commented on #43893
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-02 17:49] cynthn commented on #43820
@danield137 Thank you! I added a link to the bandwidth article. We will take a closer look at the artwork in an upcoming update.

#please-close

[2019-12-02 17:49] #43820 closed

[2019-12-02 17:59] MikeRayMSFT commented on #43359
Thanks for the question. Sorry about the delay. I'm reaching out to some teammates to confirm before I answer.

[2019-12-02 18:00] mwc360 opened #43901 "Visual Editor and Refactor Entity Names?"
For SQL Data Warehouse type SSDT projects the table visual editor is disabled and there doesn't seem to be any support for refactoring entity names...is this on the roadmap? Not being able to refactor entity names (i.e. tables, columns, stored procs) can make it challenging to deploy via dacpacs. Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-02 18:01] silverl commented on #43133
Hello. Checking back for answer here, after 2 weeks. Thank you.

[2019-12-02 18:03] rwike77 commented on #42484
@lixuanzhu, haven't heard back so I'm closing this issue for now.  Feel free to reopen the issue if need be.  #please-close

[2019-12-02 18:03] #42484 closed

[2019-12-02 18:04] silverl commented on #40132
Hello. Following up here. Any movement on extending the header to support more than 1000 characters?

[2019-12-02 18:05] djpmsft commented on #43728
Good catch. I have a fix for all broken links from Samples being changed to SamplesV1. These changes will be live this afternoon.

#sign-off

[2019-12-02 18:07] rwike77 commented on #42814
I've updated this article (and others) with a link to the v2 MSAL samples page.  Hope that helps.  #please-close

[2019-12-02 18:07] #42814 closed

[2019-12-02 18:08] himanshusinha-msft commented on #43878
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-12-02 18:10] himanshusinha-msft commented on #43890
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-12-02 18:10] MarileeTurscak-MSFT commented on #43881
@funiio
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-02 18:11] RobLSDev opened #43902 ""az network application-gateway waf-config set" is deprecated"
The documentation needs to be updated to reference waf policies instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3bd4c2d-241e-8607-da8f-8903e95d7037
* Version Independent ID: 39cbd014-bb0b-3666-6e28-b1bd621b8cb9
* Content: [Enable Web Application Firewall - Azure CLI](https://docs.microsoft.com/en-us/azure/web-

[2019-12-02 18:12] jeevansd commented on #39533
@beastofbobmin It will be updated by this week.

[2019-12-02 18:13] himanshusinha-msft commented on #43897
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-12-02 18:15] jeevansd commented on #43881
@funiio Yes, we are in the final steps.

[2019-12-02 18:15] jeevansd commented on #43881
#please-close

[2019-12-02 18:15] #43881 closed

[2019-12-02 18:17] himanshusinha-msft commented on #43899
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-12-02 18:21] MicahMcKittrick-MSFT commented on #43627
@dkkapur can you help on this or suggest someone who might be able to ?

[2019-12-02 18:23] MicahMcKittrick-MSFT commented on #41065
#reassign: @MashaMSFT

[2019-12-02 18:24] KingdomOfEnds commented on #43477
Good Morning @gregorvilkner! Thank you for the great question! Presently, Azure Time Series Insights is compatible with both the MSAL and ADAL authentication libraries. For .NET-specific migration examples, we recommend reviewing the documentation supplied by the MSAL team: https://docs.microsoft.com/azure/active-directory/develop/msal-net-migration. We will definitely take your suggestion into co

[2019-12-02 18:25] iainfoulds commented on #43782
These updates for consistency have been merged and should publish later on today.

#please-close

[2019-12-02 18:25] #43782 closed

[2019-12-02 18:27] Alberto-Vega-MSFT commented on #43876
@stokes776 Thanks for the feedback! I have assigned the issue to the content author @KingdomOfEnds  to evaluate and update the document as appropriate.

[2019-12-02 18:29] roygara commented on #43598
@SychevIgor Thanks for pointing this out, we appreciate it! We'll correct this asap. :)

[2019-12-02 18:32] KingdomOfEnds commented on #43876
Good Morning @stokes776 ! Not to worry, the Reference Data set feature available in GA has been replaced/enhanced by a unifying Data Modeling feature which provides several new key features as you know. The _instances_, _types_, and _hierarchies_ functionalities allow the equivalent of Reference Data sets to be added (under their own Time Series Model) for comparison against other current and new,

[2019-12-02 18:39] sioakim opened #43904 "Purge option doesn't exist for Linux"
wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh --purge

returns unknown argument: '--purge'

usage: onboard_agent.sh [OPTIONS]
Options:
  -w id, --id id             Use workspace ID &lt;id&gt; for automatic onboarding.
  -s key, --shared key       Use &lt;key&gt; as the shared key for automatic onboarding.
  -d

[2019-12-02 18:43] mike-urnun-msft commented on #43468
cc: @banisadr

[2019-12-02 18:44] Mike-Ubezzi-MSFT commented on #5149
@elcainas Will this work for you: https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started ?

[2019-12-02 18:48] CeciAc opened #43905 "Supported browser"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2923
since the issue affects the en-us document as well

@naomioh commented 11 hours ago — with docs.microsoft.com
I can see icons indicating the browsers are supported, but there is no description of the browser name. I think it violates accessibility guidelines because screen reader users cannot get informa

[2019-12-02 18:52] SubhashVasarapu-MSFT commented on #43535
@cherylmc , Could you please provide your insights on this ?

[2019-12-02 18:52] Mike-Ubezzi-MSFT commented on #43681
@poochwashere Please let me know if you have additional questions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-02 18:52] #43681 closed

[2019-12-02 18:57] allantargino opened #43906 "Lack of examples combining moreLikeThis with filters and selectors"
We could have more examples on how to apply filters and select fields, given this boosts moreLikeThis performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4b7734-494f-3563-3b84-83f530d917a3
* Version Independent ID: c7139def-97d5-5736-66e9-3fa1002ccefa
* Content: [moreLikeThis (preview) query feature - Azure C

[2019-12-02 19:01] DCtheGeek commented on #43885
@AdityaVishwekar There's no property on Subscription for log profile that I'm aware of. Do you mean a log profile on Azure Monitor like you'd get with Get-AzLogProfile? If that's what you are looking for, you are correct that it's not in Resource Graph today.  Please post a request for the feature on [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance). If I misu

[2019-12-02 19:10] allantargino commented on #43906
I just sent a PR addressing this issue. Please let me know if this helps.

[2019-12-02 19:11] SomyKamble commented on #43853
Hi @AshokPeddakotla-MSFT
Hope you are doing great.

Please refer to the feedback url :
https://feedback.azure.com/forums/257792-machine-learning/suggestions/39163882-error-on-failedtoevaluaterscript-the-following

Also I request you to please refer the R code which I am running from my R console

library(AzureML)
library(devtools)
library(MASS)

data("Boston")

sam<-(Boston)

reg<-lm(medv~.,data =

[2019-12-02 19:13] stokes776 commented on #43876
Yes, that answers my question, thank you very much!

[2019-12-02 19:13] #43876 closed

[2019-12-02 19:18] gargiulman opened #43908 "With ADFv2 linked to git repo, how can we get the feature or master branch name through dynamic content"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-02 19:21] knaidoo33 commented on #43623
@ChiragMishra-MSFT

Thanks, I was hoping to see a list of supported sinks specifically for the mapping data flow - similar to the image I shared from the source documentation.

[2019-12-02 19:26] craigktreasure commented on #43407
Hey @OCDtraining. It looks like you've worked through the build issues. Azure Spatial Anchors does not currently support the Windows Mixed Reality VR headsets. Only HoloLens is supported. That's why you're getting the "Access denied to spatial anchor exporter." error.

@CeciAc and @Alberto-Vega-MSFT I believe this is the root cause of this issue and since we don't support the WMR headsets, the iss

[2019-12-02 19:28] MarileeTurscak-MSFT commented on #43883
@mosdav
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-02 19:29] hmc-cs-dwang commented on #14035
Very late to the party, IoT Central has added [preview support for IoT Edge devices](https://docs.microsoft.com/en-us/azure/iot-central/preview/overview-iot-central?toc=%2Fazure%2Fiot-central-pnp%2Ftoc.json&bc=%2Fazure%2Fiot-central-pnp%2Fbreadcrumb%2Ftoc.json#azure-iot-edge-devices) now.

[Build and manage an IoT Edge device template ](https://docs.microsoft.com/en-us/azure/iot-central/preview/tu

[2019-12-02 19:30] MonikaReddy-MSFT commented on #43905
@CeciAc , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-02 19:34] himanshusinha-msft commented on #43525
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-12-02 19:36] xiaoyvr opened #43911 "Pipeline being Triggered Twice after File being Dropped"
It looks like this issue being introduced recently. I created an Event Trigger match for a single file. Once this file was being dropped in ADLS(gen2), the pipeline was triggered twice.

If I remove one of the events BlobCreated or FlushAndClose in Advanced Filters in ADLS event grid settings, there was only one event left and the pipeline was only triggered once. So I guess when ADF was trying to

[2019-12-02 19:37] Pilchie commented on #43614
I had 2.0.76, which was the latest to be installed by the "How to install Azure CLI for Linux" doc on the day I filed it, because I had just installed it.

[2019-12-02 19:37] rbenner1184 opened #43912 "Getting 401 error when running from remote machine to test Azure function"
When attempting to validate the azure function call from a remote machine I am getting a 401 error, telling me that this is unauthorized. I have added the subscription ID under code and appended the name as specified in the tutorial; however I am not getting the expected results. Any ideas why this would be occurring?

**What i ran:**
Invoke-WebRequest -Method Get -Uri "https://api-funct.azurewebs

[2019-12-02 19:38] Pilchie commented on #43538
I have 2.0.76, which was installed on the same day I filed this issue, by following the instructions to install with `apt` on Linux.

[2019-12-02 19:40] mike-urnun-msft commented on #43589
@Rodrigossz It's generally a good practice to use Virtual Environment to run your python app in an isolated environment. I found the following post to be quite insightful on this matter: https://towardsdatascience.com/all-you-need-to-know-about-python-virtual-environments-9b4aae690f97

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it

[2019-12-02 19:40] #43589 closed

[2019-12-02 19:43] mrbullwinkle commented on #43905
Reiterating my comment from the original GitHub Issue. The browser names are present in the alt text so there shouldn't be any issue for screen readers, but in the interest of clarity I have added the browser names outside of the alt text as well.

[2019-12-02 19:43] mrbullwinkle commented on #43905
These changes are merged internally and will go-live later today.

[2019-12-02 19:43] mrbullwinkle commented on #43905
#please-close

[2019-12-02 19:43] #43905 closed

[2019-12-02 19:48] #43912 closed

[2019-12-02 19:49] MicahMcKittrick-MSFT commented on #43614
@Pilchie I would suggest opened a technical support ticket to dig in deeper. We are not able to reproduce the error. If you don't have the ability to open a ticket you can email us at AzCommunity@microsoft.com and provide us with your SubscriptionID and link to this issue and we can help you get in touch with support.

[2019-12-02 19:49] rbenner1184 commented on #43912
This was found later by going into publish using advanced options. This unfortunately was not made clear in the initial tutorial.

[2019-12-02 19:52] MicahMcKittrick-MSFT commented on #43908
@gargiulman please provide us with the link to the documentation you are following so we can better assist.

[2019-12-02 19:53] dargilco commented on #43700
@wilsonlapwong you mentioned you use Direct Line Speech Client v1.7. Please pull the latest changes and re-build the tool, which will now show version v1.8.0. There were changes recently in Direct Line Speech Channel, the Speech SDK and the Azure channel registration portal prior to the service transitioning from "public preview" to GA ("General Availability). That requires running the recent tool

[2019-12-02 20:00] craigshoemaker commented on #43134
Thanks @AlexJPawlak for your feedback. PowerShell support in the docs is part of a larger effort that will touch more than just this article. I am going to #please-close this item, but please know that we are working to add PS throughout the docs.

[2019-12-02 20:00] #43134 closed

[2019-12-02 20:06] AdityaVishwekar commented on #43885
@DCtheGeek Thanks for the response. Yes, I was looking for that only.

[2019-12-02 20:07] TETZUO opened #43915 "Default username and password for Multisession VHD are missing from instructions"
"The second option is to create the image locally by downloading the image, provisioning a Hyper-V VM, and customizing it to suit your needs, which we cover in the following section."

This makes no mention of the account details needed to log into the image to customize it.
I have downloaded the VHD and created a VM but I am presented with a username and password prompt.

---
#### Document Detail

[2019-12-02 20:08] DCtheGeek commented on #43885
@AdityaVishwekar Great, thanks for confirming. Please do post the ask on UserVoice as the team uses it to plan future work. I'm going to close this issue now. Thanks again!

@MicrosoftDocs/azure-cxp-triage Please change the label from 'doc-enhancement' to 'product-question' and #please-close

[2019-12-02 20:08] #43885 closed

[2019-12-02 20:14] msrini-MSFT commented on #43798
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97539

[2019-12-02 20:18] hugobarona opened #43916 "I believe the text is not correct according to the context"
Hi there. I was reading this page and in the section T-SQL, there are T-SQL statements to configure automatic tuning options at database level. In the following sentence, using the DEFAULT option, it would inherit the configuration from server level, and not database level, since we are already setting the DEFAULT at database level. At least it is what makes sense to me, maybe i am wrong.

"Automa

[2019-12-02 20:28] derekrprice opened #43918 "Minor Typo"
In the note under Microsoft responsibilities for AKS worker nodes, replace "these" with "there" ("unless there is an emergency" instead of "unless these is an emergency").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669cf8506892
*

[2019-12-02 20:30] knaidoo33 opened #43919 "Is it possible to use Azure SQL MI as a sink in a mapping data flow task when using Azure ExpressRoute?"
I am curious if the self hosted runtime is still required if an Azure ExpressRoute is set up.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-0c66-af32-0d27-f535e46c96dc
* Content: [Connectivity architecture for a managed instance - Azur

[2019-12-02 20:34] msrini-MSFT commented on #43798
FAQ is updated.

[2019-12-02 20:34] #43798 closed

[2019-12-02 20:35] raghavnielsen opened #43920 "Pattern for dynamic number of characters"
how do we match pattern for dynamic number of characters in tags. for e.g. I want to restrict the tag for email address only. Email address length can be dynamic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c597b5e-464d-0c4b-1208-c95777137d7c
* Version Independent ID: 8b537535-6f61-0e62-b75e-a85996681360
* Content:

[2019-12-02 20:36] DCtheGeek commented on #43920
#assign:DCtheGeek

[2019-12-02 20:38] raybellwaves commented on #43320
https://v3.helm.sh/docs/topics/v2_v3_migration/

[2019-12-02 20:39] APIWT opened #43923 "concat function clarification"
Hello!

I noticed that the `concat` documentation does not specify that you are not allowed to mix the array and string types. This is a little confusing and I think it would be a great improvement to change this to make it clear that you can use either arrays or strings, but not both.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-02 20:47] DCtheGeek commented on #43920
@raghavnielsen Thanks for the question! You can combine a few checks against the same field to make sure it matches what you are looking for. Are you only looking for the `@` symbol? Does it need to be your orgs email such as `@contoso.com`? You can combine these with an `allOf` logical operator and individual conditions to meet each part. Here's an example that makes sure the domain of the email

[2019-12-02 20:47] #43920 closed

[2019-12-02 20:47] rhwilburn commented on #43857
What I was referring to with helm3 is detailed here: https://github.com/helm/helm/issues/2317 . Where I ran into issues was using the helm upgrade --install command for my release, and the helm install command for the nginx deployment. Getting both into the same namespace plus working together over different release names became an issue as (doing an upgrade will remove resources not present in th

[2019-12-02 20:48] MicahMcKittrick-MSFT commented on #43918
@derekrprice thanks for the find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-12-02 20:48] #43918 closed

[2019-12-02 20:49] KingdomOfEnds commented on #43876
@stokes776 - Great to hear! I also wanted to improve my answer as well. I should have mentioned that the REST Reference Data API (but not the UI explorer feature) _is_ still available_ in the Management and Preview API's. Reference Data sets through the API are described here: https://docs.microsoft.com/rest/api/time-series-insights/management/referencedatasets. My apologies for any confusion! Tha

[2019-12-02 20:49] rhwilburn commented on #43857
As for the yaml part, I believe that the following would replace the command line mostly.

See here: https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/mandatory.yaml
and here: https://github.com/kubernetes/ingress-nginx/tree/master/deploy/cloud-generic

[2019-12-02 21:00] RyanHill-MSFT commented on #43570
Thanks for the update @grayjeremy. I have assigned the issue to the content author incorporate this feedback into the document as appropriate.

[2019-12-02 21:03] philmea commented on #43540
#reassign:robinsh

[2019-12-02 21:04] KranthiPakala-MSFT commented on #43911
@xiaoyvr Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-12-02 21:04] aholguinrevint commented on #38116
We're also interested in the question ziesemer asked above.  Can we get some traction here?  We've been attempting to answer this question for months now and have tried multiple avenues (multiple Azure support cases, Azure twitter, reddit, slack, etc.) and still can't reach a clear cut answer.  I would hope that Azure engineers could answer this simple question.

[2019-12-02 21:07] diberry commented on #43423
@vikramdadwal Markdown is not supported as an [initial content type](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported#file-and-url-data-types) but if you add a new question and answer set or edit an existing set with a markdown table, that should be preserved. Does that answer your question?

[2019-12-02 21:07] diberry commented on #43423
#in-progress

[2019-12-02 21:11] ecfan commented on #43599
@wilcoblom, I'm checking with the engineering team that owns the customapishelp@microsoft.com address. The address still looks valid and is a group email address, which happens to include the "keithkdr" sub-group. The other group members should have received your email though.

[2019-12-02 21:15] thespooler commented on #36432
Similarly, is it possible to request multiple scopes in a single call?
If not why does MSAL `ConfidentialClientApplication.PrivateAcquireTokenForClient(string[])` allows for multiple? Is there a specific format?
Requesting
`app.AcquireTokenForClient(new string[] { "https://graph.microsoft.com/.default", "https://<MyTenant>.sharepoint.com/.default" })` causes the same error:

Requesting either indi

[2019-12-02 21:17] RyanHill-MSFT commented on #42933
No worries @TonyLugg. I'll investigate and provide an update.

[2019-12-02 21:17] #43690 closed

[2019-12-02 21:18] zr-msft commented on #43690
Thank you for the feedback @Pilchie! I have improved the command in the docs by incorporating your feedback. The change should be live shortly.

[2019-12-02 21:36] jamesbannan commented on #43777
@AshokPeddakotla-MSFT Thanks for providing the links to those issues. I did read them before posting the new issue, as unfortunately neither of those issue provide a suggestion as to the root cause of the problem nor a repeatable solution.

I worked with the solution developer directly to try and troubleshoot the issue and neither of us could figure out why it wasn't working. I ended up demoing a

[2019-12-02 21:36] #43777 closed

[2019-12-02 21:38] axthosarouris commented on #42814
@rwike77 Thanks! I will check the links

[2019-12-02 21:39] limjianan commented on #31794
microsoft decide not make it into preview.
It will be good to make a disclaimer at the top to exclude them
the new reference should be
https://aka.ms/securitydefaults

[2019-12-02 21:39] limjianan opened #43925 "Security Default instead of baseline protection policies"
microsoft decide not make it into preview.
It will be good to make a disclaimer at the top to exclude them
the new reference should be
https://aka.ms/securitydefaults

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Cont

[2019-12-02 21:43] peternield commented on #41206
Does adding the App Compatibility Feature On Demand alter this?

[2019-12-02 21:43] JnHs commented on #43765
Hi @lcarli - the issue you've experienced with resource locks sounds like the current limitation described here: https://docs.microsoft.com/en-us/azure/lighthouse/concepts/cross-tenant-management-experience#current-limitations
As noted there, you can use system-assigned deny assignments to protect system-managed resources, but resource locks on delegated subscriptions do not prevent actions from u

[2019-12-02 21:45] mamccrea commented on #43492
Hi @eparizzi - Thank you very much for your patience and for explaining the situation. We have a ticket open with the engineer to add a Scala example. Is this issue a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/43493?

[2019-12-02 21:45] #24172 closed

[2019-12-02 21:47] kevinvngo commented on #42852
https://review.docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-overview-faq?branch=pr-en-us-97554

[2019-12-02 21:47] kevinvngo commented on #42852
#please-close

[2019-12-02 21:47] #42852 closed

[2019-12-02 21:55] rachel-msft commented on #41950
#please-close

[2019-12-02 21:55] #41950 closed

[2019-12-02 21:59] anthonychu commented on #24172
Thanks @jameshowe. Removed the line from the sample, should be live in 24 hours.

The type of `currentUtcDateTime` has been fixed in https://github.com/Azure/azure-functions-durable-js/pull/88. It's now a date.

[2019-12-02 22:05] swagulkarni opened #43926 "More RUs for stronger consistency levels"
Can you explain with example, why would stronger consistency levels will lead higher RU consumption as compared more relaxed ones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb0beaa-01ab-7031-937e-2d44c147b5d2
* Version Independent ID: 742b249e-054f-a160-c2f5-7c22a796f9d0
* Content: [Request Units and throughput i

[2019-12-02 22:06] MarileeTurscak-MSFT commented on #43749
What example are you following for the request? I have seen this accomplished doing (tokenClient.RequestClientCredentialsAsync("api1 api2");)

Since this is a troubleshooting question more than a doc issue, please post this to Q&A where we will help troubleshoot. https://docs.microsoft.com/answers/questions/index.html

[2019-12-02 22:06] #43749 closed

[2019-12-02 22:06] davidsandbrand opened #43927 "misleading verbiage"
The 'Network Requirements' section has two cases of misleading verbiage.
(https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connectivity-architecture?source=docs#network-requirements)

Dedicated subnet: The managed instance's subnet can't contain any other cloud service that's associated with it, and it can't be a gateway subnet. The subnet can't contain any resourc

[2019-12-02 22:08] anthonychu commented on #29306
Working on how to properly unit test orchestrators. Here are some integration tests for orchestrators: https://github.com/Azure/azure-functions-durable-js/blob/dev/test/integration/orchestrator-spec.ts

[2019-12-02 22:24] MartinJaffer-MSFT commented on #28598
@MurrayFoxcroft the link for the Data Factory feedback forum is:
https://feedback.azure.com/forums/270578-azure-data-factory
Below I place the link for the specific feature:
https://feedback.azure.com/forums/270578-data-factory/suggestions/37283683-function-app-activity-widget-msi-authentication-su

[2019-12-02 22:25] NavtejSaini-MSFT commented on #43916
@hugobarona There are two things here:
First you can run the following:
ALTER DATABASE current SET AUTOMATIC_TUNING = AUTO | INHERIT | CUSTOM
AUTO will set Azure Defaults which is FORCE_LAST_GOOD_PLAN is enabled, CREATE_INDEX is enabled, and DROP_INDEX is disabled. INHERIT will inherit from parent server.  In CUSTOM we will need to manually configure automatic tuning.

Using the below command
ALTE

[2019-12-02 22:28] MurrayFoxcroft commented on #28598
Upvoted!

[2019-12-02 22:34] slayer3600 commented on #30359
Doesn't look like it's Microsoft.Web supported in Azure Government (even though it is selectable). When trying to save this error is returned: "Failed to save subnet 'Development'. Error: 'Virtual networks in usgovtexas location do not support ServiceEndpoints for Microsoft.Web service.'"

[2019-12-02 22:35] NavtejSaini-MSFT commented on #43926
@swagulkarni The main effect of consistency level is on throughput and latency which in affect the RU consumption. This [document ](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels-tradeoffs)explains it better.
![Capture](https://user-images.githubusercontent.com/52257742/70000907-f535af00-1529-11ea-8d84-938f002fd338.JPG)
You can also check this [document ](https://docs.microsof

[2019-12-02 23:07] MartinJaffer-MSFT commented on #43897
Hello @bigdaveydave .  Could you please clarify the ask?

Is there a problem to be solved, or is this code you wish to contribute to the documentation?

If this is code you wish to contribute, could you please give more context of when to use it, and explain in detail the expected behavior?

[2019-12-02 23:27] hugobarona commented on #43916
Hi @NavtejSaini-MSFT. The command since it is an **ALTER DATABASE** then it is clear that the change is at database level. What i did not understand is, according to the sentence mentioned in the page, when you use the DEFAULT value, it will inherit the configuration from the database level automatic tuning setting. But, since you are applying the DEFAULT at database level already, how is inheriti

[2019-12-02 23:27] MicahMcKittrick-MSFT commented on #43915
If you opted to download an image to use in a Hyper-V environment then you would create a username and password during the setup just as you would if you were booting up a local PC for the first time. This would be the case if you just downloaded the ISO image from Microsoft. If you downloaded an image from your shared image gallery to use and you are getting a password prompt, that means you did

[2019-12-02 23:32] TravisCragg-MSFT commented on #43884
@AllenVisser Thanks for the feedback! I have updated step 4, and the updates should reflect on the doc within 24 hours .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-02 23:32] #43884 closed

[2019-12-02 23:47] #43615 closed

[2019-12-02 23:52] cortesejoseph commented on #43694
Micah / Microsoft Support,

I reviews your links and created the VM with SQL Enterprise as required. I created a deployment template with the desired configuration for future usage. I look forward to completing the tutorial.

Thank you
Joe

From: Micah <notifications@github.com>
Sent: Monday, December 02, 2019 12:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Cortese, Josep

[2019-12-02 23:59] anthonychu commented on #23824
Closing as duplicate. See https://github.com/MicrosoftDocs/azure-docs/issues/12943

[2019-12-03 00:00] anthonychu commented on #23824
#please-close

[2019-12-03 00:00] #23824 closed

[2019-12-03 00:00] anthonychu commented on #12943
Working on updating the sample. Thanks everyone.

[2019-12-03 00:01] julieMSFT commented on #43408
@sumitsengupta Thank you for your question. I will proceed to close this issue. If you still have questions the @ notification feature will continue to work. Thank you for submitting this issue. We hope to hear from you again.

[2019-12-03 00:01] julieMSFT commented on #43408
#please-close

[2019-12-03 00:01] #43408 closed

[2019-12-03 00:19] JimacoMS3 commented on #43624
@ChristianBeier  -- thanks very much for reporting this issue. I've fixed the topic, and it has been published. I'm going to close this issue. If you check the new topic out and don't think your concern has been adequately addressed, please @ comment me in this issue.

Thanks again for your help,

Jimaco

[2019-12-03 00:19] JimacoMS3 commented on #43624
#please-close

[2019-12-03 00:19] #43624 closed

[2019-12-03 00:19] kurx78 opened #43933 "Add msal.net support for Microsoft Teams app development"
I have an ASP MVC application that uses msal.net for authentication, the application is currently on production and we intent to expose it as a tab in a Microsoft Teams app.
We had good results on mobile and browser but on the windows client the application fails to authenticate because the Teams client opens it inside an iframe. We chose msal.net because it has amazing support for all kinds of br

[2019-12-03 00:26] eparizzi commented on #43492
Thanks. Yes, that's a duplicate.

[2019-12-03 00:27] mamccrea commented on #43493
#duplicate https://github.com/MicrosoftDocs/azure-docs/issues/43492

[2019-12-03 00:27] mamccrea commented on #43493
#please-close

[2019-12-03 00:27] #43493 closed

[2019-12-03 00:29] MicahMcKittrick-MSFT commented on #43933
@kurx78 can you provide a link to the documentation you are looking at so we can better assist? Else if this is not related to a specific doc, you can leave product feature suggestions on Uservoice

https://feedback.azure.com/forums/34192--general-feedback

[2019-12-03 00:29] mamccrea commented on #43492
I am tracking this issue with the engineering team and will respond here with the Scala example is available. Thanks again for your feedback. Please let me know if you have additional questions.

#please-close

[2019-12-03 00:29] #43492 closed

[2019-12-03 00:29] TKO77 opened #43934 "Email client support for modern authentication"
Exchange recently announced that it will retire basic authentication for legacy protocols.

https://techcommunity.microsoft.com/t5/Exchange-Team-Blog/Improving-Security-Together/ba-p/805892

In this document, SAML-based SSO only supports clients with basic auth.  Is this document not up-to-date or would this mean that SAML-based federated tenant will have to use latest Outlook w/basic auth or Outl

[2019-12-03 00:43] Mike-Ubezzi-MSFT commented on #43641
@vijayraavi This is a great suggestion for the product group. There is currently no means to connect to a specific replica with `ApplicationIntent=ReadOnly` designation via the Query Editor via the Azure Portal. Can you please make a product enhancement request via the [Azure SQL Database User Voice](https://feedback.azure.com/forums/217321-sql-database).

[2019-12-03 01:07] femsulu commented on #43923
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-03 01:07] femsulu commented on #43920
added triage label

[2019-12-03 01:08] rboucher commented on #42981
Fix in process.

[2019-12-03 01:12] femsulu commented on #43904
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-03 01:16] vikramdadwal commented on #43423
@diberry Please check the steps below. The issue is when I am copy pasting a valid Markup content in QnA portal Editorial mode and clicking save and train, it changes the content i.e. it loose the markdown syntax.

![Markdownissue](https://user-images.githubusercontent.com/10174566/70007771-78550600-1526-11ea-9d38-e69ac0c36973.gif)

`Basically the content in QnA response should be shown as below:`

[2019-12-03 01:17] femsulu commented on #43887
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-03 01:20] TravisCragg-MSFT commented on #43740
@theheatDK What exactly are you trying to accomplish?

If you use this on a VM and set a destination address that will send the traffic across the gateway, you should be able to see the routes that effect the traffic

[2019-12-03 01:21] anthonychu commented on #42899
I'm updating this tutorial. I'll try to address this as well. #reassignto:anthonychu

[2019-12-03 01:25] femsulu commented on #43879
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-03 01:27] MarileeTurscak-MSFT commented on #43934
@TKO77
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2019-12-03 01:27] mike-urnun-msft commented on #43781
@ankitkumarr

[2019-12-03 01:28] Mike-Ubezzi-MSFT commented on #43901
@mwc360 Thank you for bringing this to our attention. The best place for this question is the [Azure SQL Data Warehouse User Voice](https://feedback.azure.com/forums/307516-sql-data-warehouse?query=refactoring%20entity%20names) but I am going to present this to the content author to evaluate this for a doc-enhancement to the [Unsupported features in SSDT](https://docs.microsoft.com/en-us/azure/sql

[2019-12-03 01:30] MicrosoftGuyJFlo commented on #43688
Removing indent to clearly show they are different options.

[2019-12-03 01:32] Mike-Ubezzi-MSFT commented on #43901
@kevinvngo Is there additional support for refactoring entity names?

[2019-12-03 01:37] #43688 closed

[2019-12-03 01:37] MarileeTurscak-MSFT commented on #43934
This does seem to be what the announcement indicates, but I agree that it's unclear. I've reached out to the product team and Exchange PM to confirm about this and will update you as soon as I have an answer.

[2019-12-03 01:39] MicrosoftGuyJFlo commented on #42993
#please-close

[2019-12-03 01:39] #42993 closed

[2019-12-03 01:39] MicrosoftGuyJFlo commented on #42327
#please-close

[2019-12-03 01:39] #42327 closed

[2019-12-03 01:40] MicrosoftGuyJFlo commented on #42225
#please-close

[2019-12-03 01:40] #42225 closed

[2019-12-03 01:40] MicrosoftGuyJFlo commented on #42584
Email out to the PG for clarification.

[2019-12-03 01:41] MicrosoftGuyJFlo commented on #41591
Pending update from PG

[2019-12-03 01:43] MicrosoftGuyJFlo commented on #42893
Device identity product team is working with the Windows product team to get the feature updated. Will close for now but update when there is some new information to provide.

[2019-12-03 01:44] MicrosoftGuyJFlo commented on #42893
#please-close

[2019-12-03 01:44] #42893 closed

[2019-12-03 01:45] MicrosoftGuyJFlo commented on #43500
Will try to work into updates planned for these docs.

[2019-12-03 01:45] MicrosoftGuyJFlo commented on #43500
Thank you for the feedback @wcneumann219

[2019-12-03 01:45] MicrosoftGuyJFlo commented on #43500
#please-close

[2019-12-03 01:45] #43500 closed

[2019-12-03 01:55] MarileeTurscak-MSFT commented on #43934
The Exchange PM says that you can use federation with older versions, but he's uncertain whether basic auth is required for SAML-based SSO. If it is required then I guess you would not be able to use older versions of Outlook. I haven't seen too many cases of people using SAML SSO for Office though. Is that what your setup is?

I've also reached out to some folks on the Identity team to check whet

[2019-12-03 01:58] AshokPeddakotla-MSFT commented on #43888
@GrantBCU Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 02:04] AshokPeddakotla-MSFT commented on #43906
@allantargino Thanks for submitting the PR. We will review and update as earliest.

[2019-12-03 02:10] MartinJaffer-MSFT commented on #43899
Hello @adetayorabiu and thank you for your questions.  Given the intensity of your initial attempt managed to hit some limitation, I would like to consult specialists.  Until then I would like to start addressing your difficulty in authoring the trigger.

The easiest way to get the ARM template for something, is to create it in the visual authoring tool, and then use the 'Export ARM template' butt

[2019-12-03 02:18] wilsonlapwong commented on #43700
Hi Darren,

Thank for your help.  My speech-to-text problem has been fixed by Direct
Line Speech Client v1.8.

However, when I implement the Web Chat with Speech,  I have encountered
Speech to Text problem in Direct Line channel.  I expect that I speak to
the bot in Cantonese and the bot translated my speech to traditional
Chinese in text in Web Chat.  But it did not work.

Please refer the enclos

[2019-12-03 02:27] NavtejSaini-MSFT commented on #43919
@knaidoo33 We are checking this and we will get back to you.

[2019-12-03 02:29] NavtejSaini-MSFT commented on #43927
@davidsandbrand We are checking this and will get back to you.

[2019-12-03 02:38] TKO77 commented on #43934
What came up to my mind was the third-party cloud-based SAML IdP such as OneLogin.

[2019-12-03 02:43] BhargaviAnnadevara-MSFT commented on #43720
@aorlenko83 The change is merged internally and will go-live in the public docs shortly. Thanks again for catching that!

[2019-12-03 02:43] #43720 closed

[2019-12-03 02:56] AshokPeddakotla-MSFT commented on #43892
@lorenzobrito Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 02:57] AshokPeddakotla-MSFT commented on #43894
@dwrightpulse Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 02:59] AshokPeddakotla-MSFT commented on #43902
@RobLSDev Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-03 03:01] mike-urnun-msft commented on #43510
@seike460 I've gone through the steps on this documentation, and I'm able to run PowerShell function locally on a mac. Since we didn't find any issues with these steps and this channel is more for driving improvements towards MS Docs, I will proceed to close this thread.

If you're still encountering this issue, I recommend the following:
- Try upgrading to the latest & greatest version of both Co

[2019-12-03 03:01] #43510 closed

[2019-12-03 03:04] mike-urnun-msft commented on #43811
@buzzkillionair Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-03 03:04] #43811 closed

[2019-12-03 03:04] mike-urnun-msft commented on #43845
@dileep524 Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-12-03 03:10] dcbrown16 opened #43936 "Is this page obsolete?"
This page is not linked in the ToC, and the review date is a couple years old. I know ASC docs have undergone some major revisions recently. Should this be considered out of date? It's still a top hit in searches for Azure Linux VM security.
If obsolete, can it get a note or be retired completely? I know there are other docs describing onboarding of Linux VMs and the recommendations possible for V

[2019-12-03 03:26] rogeraustin opened #43938 "Attested metadata endpoint does not (usually) return the supplied nonce"
Make a request to the attested metadata endpoint using a nonce. For example:

curl  --silent -H Metadata:True 'http://169.254.169.254/metadata/attested/document?api-version=2019-04-30&nonce=1234567890' | jq -r '.["signature"]' &gt; signature

The returned metadata (unpacked as described in https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#validating-that-the

[2019-12-03 03:27] roygara commented on #43598
We've made the corrections and they are live. Accordingly I'll close out this issue.

Again, thank you for bringing this to our attention. :)

#please-close

[2019-12-03 03:27] #43598 closed

[2019-12-03 03:38] dcbrown16 commented on #43450
Thanks @danimir! Please consider documenting that either on this page or in the metric definitions.

[2019-12-03 03:48] HJToland3 commented on #43371
@ruksarsayed, can you please provide additional detail about the "updated commands" and "new versions" you reference? The more specific you can be, the better we'll be able to provide a suitable update. Thank you!

[2019-12-03 04:12] neeleshray-msft commented on #43936
@dcbrown16  Thank you for the feedback. We will review and update accordingly.

[2019-12-03 04:16] KrishnaG-MSFT commented on #43912
@rbenner1184 Glad to know that you have self resolved the issue. Thanks for the update.

[2019-12-03 04:16] AshokPeddakotla-MSFT commented on #43882
@mcurko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-03 04:18] NavtejSaini-MSFT commented on #43919
@knaidoo33 Please confirm if you are talking about the below
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime

[2019-12-03 04:18] AshokPeddakotla-MSFT commented on #43891
@allantargino Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 04:18] neeleshray-msft commented on #43925
@limjianan  Thank you for the feedback. We will review and update accordingly.

[2019-12-03 04:28] NavtejSaini-MSFT commented on #43927
@srdan-bozovic-msft Please confirm regarding the text changes and we will create PR for the same. the text should be:
"The managed instance's subnet can't contain any other cloud service that's associated with it, but other managed instances are allowed and it can't be a gateway subnet. The subnet can't contain any resource but the managed instance(s), and you can't later add other types of resour

[2019-12-03 04:29] SwathiDhanwada-MSFT commented on #43709
@vikaskanchan Did you get a chance to try the above steps mentioned?

[2019-12-03 04:33] AshokPeddakotla-MSFT commented on #43895
@lordlycastle Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 04:42] rogeraustin opened #43940 "Attested metadata time stamp format is not documented"
From the examples provided, and some experimentation by me on a Windows Server 2019 Datacenter VM, it appears that the creation and expiry timestamps in the attested metadata always use month/day/year order with 2-digit years, and the time zone is always 0000. The default language and time zone settings on the server do not affect this (I tried switching to English (Australia) and the Sydney timez

[2019-12-03 04:46] AshokPeddakotla-MSFT commented on #43777
@arduppal Can you please help on this issue?

[2019-12-03 04:54] sriman-biarca commented on #38609
Hi @Karishma-Tiwari-MSFT , can you help me with this, I'm using my own custom image build using packer and the error is attached. I suspect it is because of sysprep. the image I used is `win2016 with sql2016` what I should do now to able to work on this image.

![image](https://user-images.githubusercontent.com/13415761/70021445-c6194f00-15b6-11ea-96ce-5aa4bfb328b6.png)

[2019-12-03 04:55] AshokPeddakotla-MSFT commented on #43853
@SomyKamble Thanks for the link.
It seems like your issue is not a documentation bug or feedback. Your question might be better suited for a developer forum like [StackOverflow](https://stackoverflow.com/) or [MSDN](https://social.msdn.microsoft.com/Forums/en-US/newthread).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-12-03 04:55] #43853 closed

[2019-12-03 05:13] Jerx88 commented on #41591
This is revolved by Microsoft Azure support (or maybe it was Frank?). Anyway, the correct version can now be downloaded.

[2019-12-03 05:14] #41591 closed

[2019-12-03 05:22] souravmishra-msft commented on #43713
@GNMurthy1982, We are closing this thread for now. Do let us know if any further help is needed on this so that we can re-open this thread and help you further.

[2019-12-03 05:22] #43713 closed

[2019-12-03 05:23] VikasPullagura-MSFT commented on #43938
@rogeraustin Thanks for your feedback. I am assigning this issue to content author to check on this product feedback of cached response.

[2019-12-03 05:35] DashleenBhandari-MSFT commented on #43265
@ththiem , I will proceed with the closure of the issue. Please feel free to reopen if you still need assistance.

[2019-12-03 05:35] #43265 closed

[2019-12-03 05:35] DashleenBhandari-MSFT commented on #43334
@BernardoMB  I will proceed with the closure of the issue. Please feel free to reopen if you still need assistance.

[2019-12-03 05:35] #43334 closed

[2019-12-03 05:39] vikaskanchan commented on #43709
Thanks for the input , Sorry but i was busy with other thing i ll check by today and come back to you.

Thanks,
Vikas.
________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Tuesday, December 3, 2019 9:59 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vikaskanchan <vikaskanchan@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-12-03 05:46] SumanthMarigowda-MSFT commented on #43503
@brianbarnett316 @LoganMerazzi @joeruder : The Bug has been fixed, refer to the suggestion mentioned in the below link:
https://github.com/microsoft/AzureStorageExplorer/issues/2321
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-03 05:46] #43503 closed

[2019-12-03 05:54] SwathiDhanwada-MSFT commented on #43763
I tried to reproduce the issue from my end and I could see the resources were being tagged even though if tags has spaces.Except for few resources like Traffic manager, the tags with spaces weren't enforced ( which is known limitation). So as you mentioned that some of the tags were applied partially , I would like to know the resources for which the tags were applied partially so that I can verif

[2019-12-03 06:05] anilskp opened #43941 "Azure Security center"
In the Architecture diagram shown in the page, why security center is hown inside a resource group. My understanding is that security center can be enable for a subscription. Isn't it misleading showing security center inside a resource group.
Anil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ea89d4-bb48-1ca1-49f9-

[2019-12-03 06:07] RohitMungi-MSFT commented on #43778
@versacecrispies We will now proceed to close this thread as this is not a document bug. For issues related to service or setup of translator service please post in our stackoverflow [forum ](https://stackoverflow.com/questions/tagged/microsoft-translator)for the right audience.

[2019-12-03 06:07] #43778 closed

[2019-12-03 06:13] pvrk commented on #43863
If you are using 'AzureRM' module, then you have to replace 'Az' in this command with 'AzureRm'. In the documentation, the command is explicitly given for 'Az' module since that is the recommended module by Azure PS.

[2019-12-03 06:14] PramodValavala-MSFT commented on #43724
@deyanp Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-03 06:14] #43724 closed

[2019-12-03 06:34] GNMurthy1982 commented on #43713
Thanks a lot for the response. We have created B2C tenant for DEV environment and testing completed.
Now we need to create B2C  tenant for production. Will it same procedure or Should I take any special steps for production? Please guide me.
I have followed steps mentioned in below URL
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant

[2019-12-03 06:37] SpikePy commented on #43804
Sent you the example to the given mail address.

[2019-12-03 06:38] slavizh commented on #43874
Thanks! I already found what is needed to be set. Probably will blog about it but it is good if it is in the official docs as well.

[2019-12-03 06:38] ToMakeSense commented on #43566
Add another problem related to the **"Logic Apps Management solution"**, Pinning it to the dashboard cannot display well.
![image](https://user-images.githubusercontent.com/6244148/70026211-2ec5f300-15da-11ea-977d-fc2c6343e269.png)

But, it actually looks OK when check it in Log Analytics workspace. This problem has occurred for some time.
![image](https://user-images.githubusercontent.com/6244148

[2019-12-03 07:06] hammadj commented on #33157
@wolfganggallo  I'm getting this exact same error. My azure portal seems to be stuck in an error state now as well and does not let me make any changes. Did you manage to fix this?

[2019-12-03 07:09] Balakrishna625 opened #43943 "How to run the Azure container instance (same setup shown in documentation) on port 443 ??"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-03 07:31] jorgecarleitao opened #43944 "The header of the token contains nonce"
As I dropped in [stackoverflow](https://stackoverflow.com/questions/59151559/how-do-i-validate-a-microsoft-jwt-id-token), it seems that the `header` part of the token contains a `nonce`, which is against the specs and makes the token be marked as invalid in some implementations of JOSE validation.

There is no reference of a nonce in the headers in RFC 7519.

---
#### Document Details

⚠ *Do not e

[2019-12-03 07:32] Ramji-S commented on #43348
@NavtejSaini-MSFT Thanks for the follow up. I am good. Please have the "ports" part as well if its needed for DirectHttps mode in Async. I am being told that even for Async Java, ports (10000 - 20000)need to be opened for direct mode. Any insights on this in documentation would greatly help.

[2019-12-03 07:33] amanmcse commented on #43554
@rungsoso, We did not hear back from you. From the details that you have provided, it appears that your account is blocked by Azure AD Identity Protection Sign-in policy. Please contact your administrator to exclude your account from the policy or dismiss the Risk event and then try to leave the organization again.
I am proceeding with closure of this thread. Feel free to reply to this thread if y

[2019-12-03 07:33] #43554 closed

[2019-12-03 07:45] alohaninja commented on #11824
@femsulu - confirming that **IIS app logs** (`AppServiceHTTPLogs`) are [now available _in preview_ directly piping into Azure Log Analytics](https://azure.microsoft.com/en-us/updates/new-app-service-integration-with-azure-monitor-preview/) - we are still waiting on **server logs** and **httperr logs** - looking forward to making this data easily queryable for Azure Webapp users. Great progress! 💯

[2019-12-03 07:48] srungta opened #43945 "The link to Structured QnA.doc, is incorrect"
The link points to semi structured doc instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77ea12d-96c2-8adf-8f7d-40f87578f403
* Version Independent ID: b0c2b367-ebac-3f1e-f3ec-6273f700c0e2
* Content: [Data sources supported - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-se

[2019-12-03 07:53] SwathiDhanwada-MSFT commented on #43874
@slavizh : Glad to hear you were able to resolve the issue. We will update the document accordingly.

As a reference to others who are searching for SKUs related to capacity reservation , I am adding sample template in this issue .

`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "work

[2019-12-03 07:59] amanmcse commented on #43721
@ChrisParrBIE This functionality is not yet in place and will be added in near future. Our product team is working on providing support for managing Conditional Access policies via PowerShell cmdlets. You can track updates from Product Team [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19198480-support-exporting-and-importing-conditional-access#{toggle_previous

[2019-12-03 07:59] #43721 closed

[2019-12-03 08:02] VikasPullagura-MSFT commented on #43940
@rogeraustin Thanks for the Feedback.
I am assigning the issue to content author for confirming and enhancing the document accordingly.

[2019-12-03 08:04] jakaruna-MSFT commented on #43750
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-03 08:04] #43750 closed

[2019-12-03 08:05] dozer75 opened #43946 "Cannot connect using this tutorial"
For some reason I can't use Robo 3T 1.3.1 to connect according to this tutorial. I get the error message:

In addition, the screenshot of the connection information in Azure is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b796522-3bf2-515f-99b3-001591eef9ce
* Version Independent ID: c996e6d4-f6f1-194c-546f-d1

[2019-12-03 08:06] msrini-MSFT commented on #43862
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97603

[2019-12-03 08:11] jakaruna-MSFT commented on #43715
@MicrosoftDocs/aks-pm please provide your inputs

[2019-12-03 08:12] ChiragMishra-MSFT commented on #43623
@knaidoo33 Thanks for clarifying the ask. I have assigned the issue to the content owner to comment.

@kromerm Can you please take a look at this?

[2019-12-03 08:17] deyanp commented on #43724
@PramodValavala-MSFT, thanks, it is clear now that Microsoft.NET.Sdk.Functions is unrelated to the warmup trigger!

[2019-12-03 08:21] #43862 closed

[2019-12-03 08:29] lgmorand commented on #43715
From a colleague, I got this information "The Kube Scheduler will automatically understand that the spreading behavior should be extended across zones, and it will try in "best effort" to distribute your pods evenly across zones assuming your nodes are heterogeneous (similar SKU)"

It seems logical, as it is the default dehavior of k8s but since, it's possible to override the scoring of SelectorSp

[2019-12-03 08:55] cconcordet commented on #40856
@anirudhgarg I did open the issue as requested, do you have any updates ?

[2019-12-03 08:58] danimir commented on #43916
@hugobarona - You are correct, the sentence should say server level, and not database level. We'll fix this in the article. Thank you once again on your feedback.

[2019-12-03 08:59] bigdaveydave commented on #43897
If this code can be contributed in some way as an example I think it could help users a lot more.

Context - Calling a Webhook from an ADF pipeline to perform a Restore of an Azure SQL Database, if it fails I want the ADF pipeline to fail also and not carry on performing any more activities.
This section is for the start of your powershell script:
[code]
You need the parameter to receive the Webho

[2019-12-03 09:03] hugobarona commented on #43916
@danimir  thank you for your help. I am happy that I am not still crazy. The sentence was not making sense in my mind, that's why I insisted a little bit to at least understand if i was completely confused or the sentence should say server level. Thank you.

[2019-12-03 09:07] danimir commented on #43916
@hugobarona - :) Thanks for raising up this one and helping us make this article a bit better. I've just made the correction to the server level, it will be visible online within the next 24hrs.

[2019-12-03 09:18] iocuydi opened #43947 "How to run docker inside azure container instance?"
Hi, how can I run docker commands such as building a docker image, inside an azure container instance, that is itself running a docker image?

According to this link: https://stackoverflow.com/questions/52973546/docker-in-docker-in-aks

you can do this in AKS by mounting /var/run/docker.sock with hostpath. However there is no hostpath param for ACI. Is there any equivalent operation for ACI?

This

[2019-12-03 09:51] dzoech commented on #43501
@MicahMcKittrick-MSFT sorry for being impatient but have you had a chance to get further information about the correct terminology or more specifically how the different terms of both sources are related?

[2019-12-03 09:54] lordlycastle opened #43949 "DirNotFound Exception on Publish"
I get the following error when I try to publish.

[code]

Contents of tmp file:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589dec51-5df3-c655-f76e-e009bfbfbb07
* Version Independent ID: 03d392c8-cd6c-bd4a-c2e4-653838f81023
* Content: [Azure SignalR Service serverless quickstart - C#](https://docs.microsoft.

[2019-12-03 09:56] Balakrishna625 commented on #43947
Hello @iocuydi
To run your docker image inside ACI, You can use of Azure Container Registry.
step0: Create Azure Container Registry
step1: Include a Dockerfile in your application code
step2: Build the Dockerfile with a tag and create a Docker image
step3: Push the Docker image to Azure container Registry with a image name and tag
step4: Now create a ACI, while creating, choose the image type as p

[2019-12-03 10:08] sjoerdsmink commented on #41069
@anzaman could you take a look at this? It has been reported a long time ago, and documentation is still not updated.

[2019-12-03 10:12] Veena-A commented on #20318
Can we use the Azure Function Activity inside ADF for BlobTrigger Function? if so  what method name we should specify in linked service settings option? what exactly the Method indicates? I'm facing 3608 validation error not able to execute the function through ADF.

[2019-12-03 10:23] Larryngolog opened #43950 "QnA not showing correct answer for selected prompt"
I have created prompts for one of the questions. For each prompt I have created a new question. Prompt is linked with question. I have selected that the question is in context only. When I click on the selected prompt option I do not get redirected to the selected question but QnA is showing other questions as answer to this prompt. In "analyze" window I cannot select answer as a correct one. Is t

[2019-12-03 10:31] Veena-A opened #43951 "Will the Azure Function activity supports BlobTrigger function inside ADF?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-03 10:38] jpcrs opened #43952 "LINQ to SQL translation not updated?"
According to the example in the docs, the LINQ `Take` are translated to `TOP`, but it doesn't seems right, the tests that I did `Skip` and `Take` are translated to `OFFSET` and `LIMIT`.

Examples:

`_cosmosDbService.GetQueryable().Where(x => x.Id == "**").Skip(2);`

Is translated to

`"SELECT VALUE root FROM root WHERE (root[\"id\"] = \"**\") OFFSET 2 LIMIT 2147483647 "`

And

`_cosmosDbService.Ge

[2019-12-03 10:42] vslepakov opened #43954 "Open ports on gateway device"
This section only mentions AMQP, MQTT and HTTPS as being supported for inbound communication whereas the table also suggests MQTT + WS and AMQP + WS. Would be great to explicitly mention WebSockets as being supported as this leads to some confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37

[2019-12-03 11:00] AshokPeddakotla-MSFT commented on #43943
@Balakrishna625 Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario.
These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-12-03 11:01] RohitMungi-MSFT commented on #43945
@srungta Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-03 11:08] AshokPeddakotla-MSFT commented on #43954
@vslepakov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-03 11:17] AshokPeddakotla-MSFT commented on #43685
@viv-liu Please check this issue and provide your insights.

[2019-12-03 11:22] RohitMungi-MSFT commented on #43950
@Larryngolog Is it possible to provide an example for your case to try out the scenario? Multi turn provides a default answer text which will be used as the answer in the QnA which has no extracted answer from the document but has a hierarchy. Could you please check adding this in your KB settings help?

[2019-12-03 11:36] AjayKumar-MSFT commented on #43949
@lordlycastle, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-12-03 11:42] milsto commented on #42851
Please reopen this issue. The documentation is not updated, and I was affected by this issue. Solution proposed by reporter would have worked for me - please include it in documentation.

[2019-12-03 11:44] jakaruna-MSFT commented on #43817
@marckassay Submitted a PR.  Changes will reflect in hours

[2019-12-03 11:47] SushrutDeo commented on #43726
Nope. I just followed the instructions and used the same code. I don't know why screen shot is different. But if you want, point me to the correct code and I will try with that.

[2019-12-03 11:49] jakaruna-MSFT commented on #43816
@wkasdorp I will check in my environment and update the product team about this issue.
Can you give an example with the actual url so that it will be easier for me to test and report it.

[2019-12-03 11:50] #43817 closed

[2019-12-03 11:59] jakaruna-MSFT commented on #43868
@Rudolf112 I reached out to the product teams. I will update you once i have some information

[2019-12-03 12:02] scottclarke1 opened #43955 "Typo?"
Hey Guys
Is this a typo under the Attribute Name (Connect UI) column for msExchUserHoldPolicies;

ms-Exc-hUserHoldPolicies - shouldn't this read ms-Exch-UserHoldPolicies?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-54da40

[2019-12-03 12:06] KalyanChanumolu-MSFT commented on #43952
@jpcrs Thank you for letting us know and raising a pull request to update the documentation.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-03 12:21] KalyanChanumolu-MSFT commented on #43946
@dozer75, Please have a look at [this](https://github.com/Studio3T/robomongo/issues/1566) issue on the Studio 3T repo.

@sivethe FYI on updating the screenshots

[2019-12-03 12:35] karabasosman commented on #7731
Is there any update ?

[2019-12-03 12:44] jakaruna-MSFT commented on #43857
@rhwilburn Thank you very much for the detailed feedback.
In this document we tried to keep the installation steps as simple as possible. because of the we went with command line options.

Having yaml instead of commands will make the steps complex.  What do you think?

This doc is not yet tested with helm3.  I will check this doc with helm 3 and let you know the updates.

[2019-12-03 13:00] vinod1976 opened #43957 "importError: No module named core"
while running the Azure ML tutorial i am getting the following error. I am using 3.6 version as mentioned in the tutorial (notebooks.azure.com)
ImportErrorTraceback (most recent call last)
<ipython-input-5-af7a2485e636> in <module>()
----> 1 import  azureml.core

ImportError: No module named core

[2019-12-03 13:02] Expecho opened #43958 "Regarding graceful shutdown"
According to [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#cancellation-tokens) we can use the passed cancellation token to be notified when the function is shutdown. How long do we have to finish up our logic since there seems to be no way to pass a message back to the runtime indicating we are actually finished. Or should we use `CancellationToken.R

[2019-12-03 13:08] shanrath opened #43959 "URL NotebookParams in portal is undocumented"
It would be helpful to shed some light on this, as the deeplinks are internally used in a few locations in the insights portal (failures blade links to the 'new failures analysis' workbook with some parameters such as 'OverTimeRange' and 'RequestFilters').
I would also like to use these + the timecontext parameter to link directly from alerts to a workbook with pre-filled parameters.

---
#### Doc

[2019-12-03 13:15] lcarli commented on #43765
Hi, @JnHs!

Thak you for the explanation and sorry for do not found this before.

One question is: To me, if I really understood, system-assigned deny assignements is only available thru Blueprints. So, I can't apply to Resources or Resources Groups that already exists...

Did I missunderstood something?

[2019-12-03 13:20] bdschaap commented on #42981
I believe you're saying that in addition to some documentation improvements that there will also be a bug fix.  Is that correct?

[2019-12-03 13:36] PramodValavala-MSFT commented on #43607
@amthomas46 Since this repo is primarily for addressing documentation issues, we will now proceed to close this thread.

Please feel free to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions) with the same query.

[2019-12-03 13:36] #43607 closed

[2019-12-03 13:38] PramodValavala-MSFT commented on #43716
@akashsamalfic Since we have not heard back from you we will now proceed to close this thread.

Also, do note that this repository is primarily for addressing documentation related issues. Please feel free to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions) with the same

[2019-12-03 13:38] #43716 closed

[2019-12-03 13:48] sriman-biarca opened #43960 "unable to see `SQL server settings` tab with `SQL server 2016 with windows server 2016` custom image"
Hi, I created an image using packer taking `SQL2016SP1-WS2016` image as base OS. when I am trying to create an instance with the custom image, I'm unable to see `SQL server settings` tab and also creating instance is failing. I suspect it is not fully generalized or sysprep is not completly done. what should I do for this image. how to use sysprep as .ps1 script.

Here attached the image.
![image]

[2019-12-03 13:58] EdAlexander opened #43961 "Classic policies blocking security defaults"
After disabling the baseline policies i was presented with this blocking error: "It looks like you have Classic policies enabled. Enabling Classic policies prevents you from enabling Security defaults."  I can find no other policies enabled (or created).  Is there a specific place I should be looking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-03 14:13] SuperDuperOne commented on #22628
im getting the same issue actually @TravisCragg-MSFT

I've followed along with the Azure Doc also.

{ "id": "/subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/grafana_service_group/providers/Microsoft.Resources/deployments/grafana-labs.grafana_oss-20191203133613/operations/4AA7B579568F99FD", "operationId": "4AA7B579568F99FD", "properties": { "provisioningOperation": "Create", "provisioningSt

[2019-12-03 14:19] shashishailaj commented on #43944
@jorgecarleitao Thank you for your query. We will investigate and update further.

[2019-12-03 14:21] shashishailaj commented on #43780
@Nalini-M I hope the information provided helped. As we have not received any further information from your side, we will proceed with closure on this thread. Should you have any further issue , feel free to tag me or the author of this document to your reply and we will be happy to help you .

[2019-12-03 14:21] #43780 closed

[2019-12-03 14:23] guibirow opened #43962 "How long the token is valid for"
In the docs it says `Once you are successfully signed in, the account token is cached for future kubectl commands`
But does not mention how long the token is valid for.
How would we use it into an automated pipeline? Can we use the same token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84495e76-eca6-ddc9-989f-01c84

[2019-12-03 14:23] rithinskaria commented on #38595
Hello all,

I am getting the same on Budget API:

URI: https://management.azure.com/providers/Microsoft.Management/managementGroups/112/providers/Microsoft.Consumption/budgets?api-version=2019-05-01

Response:

{
    "error": {
        "code": "400",
        "message": "The Principal Id cannot be null/empty in the header. (Request ID: 850c7cda-a4a5-4085-bb38-3d3c223d4aca)"
    }
}

Please advise

[2019-12-03 14:24] shashishailaj commented on #43826
@AbdullahA11 Yes the user is allowed to have multiple different licenses either assigned directly or assigned transitively by virtue of user being part of the groups due to license policies applied on groups. Hope that answers your query. Please let us know in case you have any further questions.

[2019-12-03 14:28] AshokPeddakotla-MSFT commented on #43951
@Veena-A Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario.
These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-12-03 14:28] bertrandpons opened #43963 "How to specify / change Stack settings with PowerShell or ARM template"
Hello,

Could you please provide details on how to specify or change Stack settings with PowerShell or ARM template?

Thank you

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps i

[2019-12-03 14:31] shashishailaj commented on #43955
@scottclarke1 Thank you for catching this. We will have it updated on our end. Also I would like to infrom you that we love pull requests by our reader and even you can make a pull request for any new changes directly in the document and if you are interested you can fork the [azure docs repo](https://github.com/MicrosoftDocs/azure-docs) and go through the [contributor's guide](https://docs.micros

[2019-12-03 14:33] AshokPeddakotla-MSFT commented on #43957
@vinod1976 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-03 14:37] shashishailaj commented on #43955
@scottclarke1 We have updated the document and the changes will be live in the next release cycle after 24-48 hours.  We will now close this issue . Should you still see the change not updated after 48 hours please do tag me to your reply and I will be happy to help .

Thank you.

[2019-12-03 14:37] Dragonsong3k commented on #43306
Excellent work guys. I love the feedback system built in to the documentation!

[2019-12-03 14:41] vinod1976 commented on #43957
https://docs.microsoft.com/en-us/learn/modules/intro-to-azure-machine-learning-service/6-train-model

[2019-12-03 14:43] Dragonsong3k commented on #43306
Sorry was not sure if I was supposed to close this :(

[2019-12-03 14:44] #43955 closed

[2019-12-03 14:45] psignoret commented on #36432
You must identify only one resource (API) if you're using /.default.

[2019-12-03 14:48] shashishailaj commented on #43859
@jpawlowski This is great information Julian . It may take some time however we will surely have this idea reviewed and explored on how best this can be incorporated within the existing documentation .

[2019-12-03 14:49] itzafugasi commented on #41390
@zaherbutt
I thought that was the case when I saw it didn't exist as per the document.
Other than that, great document to migrate from federation to PTA - just did it in my production environment and went very smoothly, besides Exchange Online activesync devices being prompted for password after the change, when according to this document, they shouldn't be.  But not a big deal since a pilot group

[2019-12-03 14:52] KalyanChanumolu-MSFT commented on #43786
@JakubW88 You can use an [Azure Automation Runbook](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types) to schedule powershell commands to delete and restore.

Support on GitHub is limited to documentation only.
Please post this issue on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Newest) or [MSDN](https://social.msdn.microsoft.com/foru

[2019-12-03 14:53] SumanthMarigowda-MSFT commented on #43770
@kogesaka Thanks for the feedback! . Your feedback has been shared with the content owner for further review.

[2019-12-03 14:55] AshokPeddakotla-MSFT commented on #43773
@PatAltimore Please check this and add more clarity on this doc if this is by design?

[2019-12-03 14:57] shashishailaj commented on #43866
@jpawlowski Thank you for your explanation . This is really good information to include within the existing content along with the [Azure AD License DB in JSON format](https://github.com/jpawlowski/Azure-AD-Licensing-DB/) which you have detailed in #43859 . We will have this reviewed with content team on how best it can be integrated/referenced with existing content .

Thank you.

[2019-12-03 15:04] CeciAc opened #43964 "cache store max-age header is not working"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/598

@hendriksteinhorst commented 7 hours ago
Using the code snipped for the max-age calculation in the cache store policy does not work for me. If the cache misses I get the following result:
"message": "Cache lookup resulted in a miss. Cache headers listed below were removed from the request to prompt the b

[2019-12-03 15:10] diberry commented on #43423
@vikramdadwal - thank you for putting so much work into the issue and reproduction of the issue. This is a product issue.

@RohitMungi-MSFT Can you follow up with the product team on this?

[2019-12-03 15:15] jjindrich opened #43965 "Wildcard domain to custom DNS server"
Can I wildcard all domains to forward to my DNS server ? I want to configure to forward all queries to my DNS server. I cannot use https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options because getting this error from CoreDNS pod: cannot serve dns://.:53 - it is already defined

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-12-03 15:23] Saby007 opened #43966 "Spelling Mistake"
Spelling Mistake in the first note "you can decreause or increase the 90-day default limit."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and configuration - Azure Logic Apps](https://docs.microsoft.

[2019-12-03 15:27] webash commented on #42535
Any update here?

[2019-12-03 15:28] MonikaReddy-MSFT commented on #43905
@mrbullwinkle - Thanks for taking care of updating the doc.

[2019-12-03 15:32] dozer75 commented on #43946
@KalyanChanumolu-MSFT I found my issue with the first one.. It fails because there wasn't any databases available. Clumsy of me not checking that since the message states it had something to do with the datbases... However.. I think that the listdatabases command shouldn't fail because of that, but thats out of scope here...

[2019-12-03 15:32] vinod1976 commented on #43957
@AshokPeddakotla-MSFT  https://docs.microsoft.com/en-us/learn/modules/intro-to-azure-machine-learning-service/6-train-model

[2019-12-03 15:33] woutervanranst commented on #43798
Thanks!

There is a slight nuance: "[...] you don’t need to force traffic from an Azure Bastion subnet to Azure Firewall because the communication between Azure Bastion and your VMs is private", the typical scenario is to force traffic from outside to azure bastion through a firewall, not to force traffic between bastion and vms through a firewall

[2019-12-03 15:39] KalyanChanumolu-MSFT commented on #43946
@dozer75 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-03 15:39] #43946 closed

[2019-12-03 15:43] judyanndixon commented on #39307
Please remove the V3 endpoint from the Billing API documentation.  It is confusing until you read this closed issue.

Link to documentation that is incorrect.  https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-billing-periods

[2019-12-03 15:43] MonikaReddy-MSFT commented on #43963
@bertrandpons Thanks for the question. We will investigate it further and update you shortly.

[2019-12-03 15:43] shashishailaj commented on #43790
@mariuszo-at-microsoft-com We have updated the same and it should reflect in the existing documentation in the next release cycle in 24-48 hours. We will now close this issue. Should you have any further queries on this , please feel free to tag me to your reply and I will be happy to help .

[2019-12-03 15:44] iancraig45 commented on #43523
Yes I downloaded the latest. Did you test this in a subscription with multiple resource groups to rule out that being the cause?

From: Alberto Vega <notifications@github.com>
Sent: Wednesday, November 27, 2019 11:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ian Craig <ian.craig@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] C

[2019-12-03 15:44] #43790 closed

[2019-12-03 15:46] judyanndixon commented on #39307
I noticed today when my EA API key had expired that even after you regenerate a new key, it takes a while for the new key to work.  I kept getting 401 errors back for a while.  Then I read this:
Please note: If you enter your EA API Key in Cloudyn without waiting in 30 minutes, Cloudyn will continue to show a 401 error indefinitely, until you re-enter the key. Cloudyn will not automatically retry

[2019-12-03 15:53] AshokPeddakotla-MSFT commented on #43947
@iocuydi Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-03 15:53] jn-altius opened #43967 "Log Analytics resource group"
Does the Log Analytics Workspace have to be in the same Resource Group as the resource being monitored? (i.e. can I have a Batch Service in one RG that sends logs to Log Analytics in another RG in the same subscription?)

If so, how do I reference this in the ARM template?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-03 15:53] joereiss opened #43968 "Azure Function - Using ImageResizer. Gif thumbnails loose animation and their quality is bad"
I'm running an Azure function 1.x (http-trigger), ImageResizer 4.2.5.

The thumbnail Gifs are loosing animation and are of bad quality.  According to ImageResizer Dos, I need to use ImageResizer plugins: Animated and Pretty Gifs.  Most ImageResizer documentation specifies how to install plugins via web.config or done in code.  AZ functions don't have web.config, so i'm looking to do it in AZ funct

[2019-12-03 16:01] AshokPeddakotla-MSFT commented on #43941
@anilskp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-03 16:04] AshokPeddakotla-MSFT commented on #43958
@Expecho Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 16:07] AshokPeddakotla-MSFT commented on #43959
@shanrath  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 16:15] markjbrown commented on #43926
Strong consistency (and bounded staleness) requires twice the RU/s for the same amount of throughput because every read requires hitting two replicas versus one for Session or weaker levels of consistency. We read two replicas to check the LSN for the data to ensure it is the same. This is how we provide the consistency guarantee itself.

Note that this impact to throughput is for reads only. Thro

[2019-12-03 16:15] #43926 closed

[2019-12-03 16:24] Marqis opened #43970 "Windows Server VPN client"
Is it possible to install a VPN client, with support for Azure AD authentication, on Windows Server 2016?

The Azure VPN Client (Preview) seems to be only for Windows 10. Is support for Windows Server VPN clients planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Inde

[2019-12-03 16:29] AshokPeddakotla-MSFT commented on #43960
@sriman-biarca Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-03 16:33] ryan-daly-AgFCS opened #43971 "Availability?"
We aren't seeing this feature or the ability to enable it in our ADB Admin page. Is this a preview feature that I'm not seeing documented somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98eb0b83-1816-1010-23cd-fb85c4827063
* Version Independent ID: 59f33c51-5f16-1427-3bae-01fcaa8814e7
* Content: [Customize Co

[2019-12-03 16:39] DixitArora-MSFT commented on #43757
@AlexKeySmith So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-03 16:39] #43757 closed

[2019-12-03 16:41] CHEEKATLAPRADEEP-MSFT commented on #43971
@ryan-daly-AgFCS  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-12-03 16:45] DixitArora-MSFT commented on #43964
@CeciAc Thanks for  reaching out. We will review and update as appropriate.

[2019-12-03 16:49] RyanHill-MSFT commented on #43895
@lordlycastle what version of Visual Studio are you running? Do you have the Azure workloads installed?

[2019-12-03 17:01] santhoshbomma9 opened #43973 "How many days before activating a Subscription"
How many days do we have before a subscription is activated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5ac9-610513382609
* Content: [SaaS Fulfillment API v2](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc

[2019-12-03 17:05] santhoshbomma9 commented on #42677
I got the answer for this, the quantity is basically applicable when there is a per-seat/per-user based plan. This Quantity implies number of users the plan is activated for. And can be changed by the patch call on the Subscription Api, if the user wants to change it. @femsulu You can confirm and close this ticket if you like!

[2019-12-03 17:06] santhoshbomma9 commented on #41979
Any update please?

[2019-12-03 17:06] santhoshbomma9 commented on #41922
Any update please?

[2019-12-03 17:15] MicahMcKittrick-MSFT commented on #43501
@athinanthny @peterpogorski any update?

[2019-12-03 17:17] MicahMcKittrick-MSFT commented on #43961
@EdAlexander please share the documentation you are following so we can better assist.

[2019-12-03 17:17] MicahMcKittrick-MSFT commented on #43968
@joereiss please share the documentation you are following so we can better assist.

[2019-12-03 17:20] dargilco commented on #43700
@wilsonlapwong thank you for confirming the fix. Regarding your other issue, please open an issue directly on the GitHub repro for web chat: https://github.com/Microsoft/BotFramework-WebChat
Thanks,
Darren

[2019-12-03 17:22] jpawlowski commented on #43866
Thanks! Just to let you know that we’re also in direct contact with the Azure AD and licensing product group in MSFT. If you would like to avoid over communication, drop me a line to have this aligned better.

Cheers,
Julian

[2019-12-03 17:23] lordlycastle commented on #43895
@RyanHill-MSFT Here's the info:

[code]

[2019-12-03 17:25] MS-jgol commented on #43166
@prabhushrikant What environment are you running the app on (App Service, AKS etc)?
If you have not done so, please follow these links to see if you are using the right SDK version with the agent:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent

[2019-12-03 17:30] buzzkillionair opened #43974 "Issue with AzCopy in automated program"
I keep getting the same error when I try to automate the azcopy process.
[code]
My goal is to create a python script that will automatically transfer data when I run it. The SAS that I am using is not expired and I am unsure of the issue. Everything I have commented out is something I have tried to fix it.

My Code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-03 17:32] EdAlexander commented on #43961
Enabling security defaults in https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-security-defaults

EAC Partners/317.762.3331

From: Micah<mailto:notifications@github.com>
Sent: Tuesday, December 3, 2019 12:17 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Edward Alexander<mailto:ed@eacpartners.com>; Mention<mailto:menti

[2019-12-03 17:34] MicahMcKittrick-MSFT commented on #43961
@EdAlexander thanks for that. I am assigning to the correct engineer to look into this further.

[2019-12-03 17:34] MicahMcKittrick-MSFT commented on #43974
@buzzkillionair please provide the link to the documentation you are following so we can better assist.

[2019-12-03 17:36] UniSnake opened #43975 "Transforming of events no longer supported"
The documentation says "It can also transform those events on the wire back and forth." (between Event Grid format and CloudEvents format). However, at least for newer Event Grid instances, this is not allowed. Attempting to setup a subscription with a delivery schema different from the input schema results in an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-12-03 17:41] EdAlexander commented on #43961
10.10.2.21 mac address 00:02:03:09:b5:8a  Woonsang Telecom, Inc

EAC Partners/317.762.3331

From: Micah<mailto:notifications@github.com>
Sent: Tuesday, December 3, 2019 12:34 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Edward Alexander<mailto:ed@eacpartners.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Classic policies blocki

[2019-12-03 17:42] EdAlexander commented on #43961
User is MPAdmin

EAC Partners/317.762.3331

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, December 3, 2019 12:34:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Edward Alexander <ed@eacpartners.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Classic policies blocking security defaults (#43961)

@EdAl

[2019-12-03 17:49] msrini-MSFT commented on #43798
The communication between bastion and your VMs happens over private IPs.

When you try connecting to RDP via bastion, the public communication gets translated to private ip and your VM will be receiving the RDP traffic privately from Bastion. Hope that clarifies

[2019-12-03 17:50] rachel-msft commented on #43681
Hi @poochwashere. West US 2 has temporarily been removed from the available replica regions. We apologize for the delay in updating the docs. This will be fixed shortly.

[2019-12-03 17:50] buzzkillionair commented on #43974
@MicahMcKittrick-MSFT  https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10 is what I followed and then I used the help function within azcopy.

[2019-12-03 17:50] DCtheGeek commented on #43941
@absheik Can you comment on this?

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-12-03 17:53] rboucher commented on #42981
Published.  @bdschaap  Should be out in a few hours. #please-close

[2019-12-03 17:53] #42981 closed

[2019-12-03 17:56] mike-urnun-msft commented on #43966
@Saby007 Thank you for pointing this out and helping us drive improvements towards MS Docs! I've created a PR that corrects the spelling mistake and the change should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-03 17:56] #43966 closed

[2019-12-03 17:58] artemuwka commented on #43620
Just got back from a short vacation - appreciate your patience, Gavin! And thanks for the context, this is helpful. Sounds like in your scenario disaster/outage would be one of the main reasons to execute a failover which is exactly what this flavor was designed for. One other consideration to throw into the blend of implications (on top of slight downtime and potential data loss) is that once fai

[2019-12-03 18:04] TheFrogPrince opened #43978 "'join' does not have an overload that supports the arguments given: (Array, StringLiteral)"
I'm Googling the above phrase and getting nothing, even though that is what the expression editor is giving to me right now.  My expression:

@join(take(skip(split(pipeline().parameters.BlobFileName, '/'), 1), 3),'/')

Very aggravating:

pipeline().parameters.BlobFileName is a string something like:

/MyContainer/MyMachineName/Year/Month/Filename.csv

In order to programmatically setup a file sour

[2019-12-03 18:10] siudeks commented on #43763
Steps to reproduce

1. Create resource group and add a tag with value (spaces included)
Example: resource group **siudeks-lab**, tag: "my tag"="my value"
![image](https://user-images.githubusercontent.com/3256574/70074992-28e10980-15fc-11ea-9d48-147b349e81da.png)

2. Add a resource (e.g. storage account) into the resource group
3. Reuse slightly modified script from [docs](https://github.com/Micro

[2019-12-03 18:12] TheFrogPrince commented on #43978
(sadly... it does not appear that I can attach screenshots or I would)

[2019-12-03 18:15] iocuydi commented on #43947
@Balakrishna625 I want to be able to run docker commands inside my ACI. For example, in my ACI, while it's running, I'd like to run "docker build -t imagename:tag <path_of_Dockerfile>" and create another docker image. Do you know how to do this?

@AshokPeddakotla-MSFT Which document specifically should I pick for this? The general one for azure container instances?

[2019-12-03 18:19] yshahin commented on #25798
The issue has been resolved.

[2019-12-03 18:21] rachel-msft commented on #36259
Thank you for your feedback. Closing this issue as the quickstart sample will remain in this simplified format for now.

#please-close

[2019-12-03 18:21] #36259 closed

[2019-12-03 18:21] zjalexander commented on #37249
Yes, I'm currently following up on this.

[2019-12-03 18:24] roygara commented on #43770
@kogesaka thanks for reaching out, we appreciate it!

Would you mind clarifiying your scenario? What specifically do you mean by "damaged?" Do you mean when the physical disk in the server itself is damaged?

[2019-12-03 18:24] rachel-msft commented on #41116
Thank you for your feedback. The documentation has been updated and the changes will be published shortly.

#please-close

[2019-12-03 18:24] #41116 closed

[2019-12-03 18:27] lixuanzhu commented on #42484
It is in the screen shot on this article.  https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis#expose-a-new-scope-through-the-ui

It is part of portal UI which this article talks about.

[2019-12-03 18:32] kogesaka commented on #43770
@roygara , thank you for contacting me.

Yes. In addition, I would like to know how to recover when the OS disk is safe and only the data disk (set as the server endpoint) is damaged.

[2019-12-03 18:32] lixuanzhu commented on #42484
I just commented again.  The issue has been closed.  Not sure if you can
see it or not.

On Mon, Dec 2, 2019 at 10:03 AM Ryan Wike <notifications@github.com> wrote:

[2019-12-03 18:35] sharad4u commented on #43869
@AshokPeddakotla-MSFT , @frackham - Client certificates or client auth is not yet supported by AFD. Please feel free to raise a PR on this page/section - https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#ssl-configuration

[2019-12-03 18:42] sharad4u commented on #41486
@TravisCragg-MSFT - @SidShetye is correct and that HTTP/2 is only supported from Client to AFD, but **not** AFD to the backend. Do you want to raise a PR for fixing [this ](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-http2) page to have that info as well?

[2019-12-03 18:49] stephlocke commented on #5806
I'm in the current situation of using msal.js with aad b2c - this isn't returning info like email addresses and all the docs seem to point at needing to query graph to get it. I definitely don't want to have to have a separate credential and solution for retrieving the info. Being able to use at least the /me endpoint is something I'd expect and indeed, other Microsoft folks say that's how to do i

[2019-12-03 18:51] TheFrogPrince commented on #43978
@concat( take(skip(split(pipeline().parameters.BlobFileName, '/'), 1), 3)[0] ,'/', take(skip(split(pipeline().parameters.BlobFileName, '/'), 1), 3)[1] ,'/',
take(skip(split(pipeline().parameters.BlobFileName, '/'), 1), 3)[2])

#muttersandwandersoff

[2019-12-03 18:51] CeciAc opened #43981 "Error in the security operator description."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/484

@skjivert commented 10 hours ago — with docs.microsoft.com
The security operator is said to have the ability to just read all settings in Intune. But when you click on it we get the following.
microsoft.intune/allEntities/allTasks Manage all aspects of Intune.

Manage and read seems to be pretty far apar

[2019-12-03 18:58] Tiberriver256 opened #43982 "How do you keep mail forwarding working?"
Scenario:
I have a locally-managed partner account in Active Directory with a UPN of: bob@external.contoso.com and a mail attribute of bob@great-external-company.com.

How do I sync them up as guest users and keep their email address as bob@great-external-company.com so that emails to their account work properly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-12-03 18:59] philiplai opened #43983 "Not able to enter a resource group"
There is no way to enter a resource group.  Can someone check on that?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bee109c-3482-efb4-f04a-a81d549ad743
* Version Independent ID: 4f8a2993-40ed-e518-e44c-914807355db2
* Content: [Create your first automated ML experiment - Azure Machine Learning](https://docs.

[2019-12-03 19:00] PishPoshery opened #43984 "Possible example error"
In the section linked to the URI below, enabling the diagnostics extension using the classic deployment model
and the Set-AzureVMDiagnosticsExtension cmdlet is discussed with an example. However the example does not contain the Set-AzureVMDiagnosticsExtension cmdlet and seems to have a mixture of cmdlets for both classic and ARM deployment models.

https://docs.microsoft.com/en-us/azure/virtual-ma

[2019-12-03 19:04] joereiss commented on #43968
@MicahMcKittrick-MSFT
from the Imageresizer web page:

https://imageresizing.net/docs/v4/plugins/prettygifs
https://imageresizing.net/docs/v4/plugins/animatedgifs

[2019-12-03 19:04] MicrosoftGuyJFlo commented on #43447
@Sculpin90 security defaults does not allow for customization or exclusion. To customize policies you must be licensed for and use Conditional Access to create policies.

[2019-12-03 19:06] CeciAc opened #43985 "errorcoder 2010 - A task was canceled."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/553

@mhansma commented 8 hours ago — with docs.microsoft.com •
I'm getting an errorcode 2010, referencing to this page but the error isn't mentioned here.
Please could you update this.

{
"errorCode": "2010",
"message": "A task was canceled.",
"failureType": "UserError",
"target": "XML to TSV",
"details": []

[2019-12-03 19:07] sharad4u commented on #28931
@ishepherd , @riverar - Any updates to routes or backend pools etc. are all seamless and will cause zero downtime (unless you misconfigure things). Certificate updates are also atomic and will not cause any outage provided you are not switching from AFD Managed to Use your own cert or vice versa, Do you mind raising a PR for the doc with the above? Thanks
@arcticdoggie - Check out [this ](https://

[2019-12-03 19:07] sharad4u commented on #28931
@SubhashVasarapu-MSFT FYI

[2019-12-03 19:22] rboucher commented on #30127
@bwren  is working to overhaul this content

[2019-12-03 19:23] MicahMcKittrick-MSFT commented on #43968
@joereiss I will assign to one of our Functions engineers. However if this is not related to a specific Azure doc you might be instructed to post your question in one our of supported Functions Forums.

[2019-12-03 19:26] keggster101020 commented on #42255
@gucalder in my comment above, I provided an example of what that call looks like, where you can add or subtract properties based on how many destinations are enabled.

ex: Sending to eventhub

[code]

[2019-12-03 19:29] cthombor commented on #31136
Indeed, I thought I was being spearphished very cleverly today, with a very plausible-looking invoice accompanied by an email that invited me to "View your Agreement(s) <https://aka.ms/AA1wm3t>."  Yeah right, like I'm gonna follow a link to some dodgy-looking URL in the Monserrat domain!    Thanks for posting the bona-fides here to github, clearly not a phishing attack ;-)

[2019-12-03 19:36] MicahMcKittrick-MSFT commented on #43962
Thanks for the question! We are investigating and will update you shortly.

[2019-12-03 19:36] MicahMcKittrick-MSFT commented on #43965
Thanks for the question! We are investigating and will update you shortly.

[2019-12-03 19:37] MicahMcKittrick-MSFT commented on #43984
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-03 19:38] MicahMcKittrick-MSFT commented on #43974
Thanks for that. I have assigned this to our storage engineer to look into further.

[2019-12-03 19:39] MicahMcKittrick-MSFT commented on #43908
@gargiulman I will close this. If you still have feedback or a question please open a new issue directly on the document you are having issues with and we can assist further.

[2019-12-03 19:39] #43908 closed

[2019-12-03 19:41] MicahMcKittrick-MSFT commented on #43933
You can also leave feedback for the Teams group here:

https://docs.microsoft.com/en-us/microsoftteams/platform/feedback

I will close this. But if there is a specific document you are having issues with please open a new issue directly on that page and we can assist further. Otherwise, look into the feedback links I provided above and let me know if that doesn't help.

[2019-12-03 19:41] #43933 closed

[2019-12-03 19:41] stdistef opened #43986 "Two AZ SKUs are missing"
VpnGW4AZ and VpnGw5AZ are missing here.   They are also missing on the Pricing page.    They are shown as valid Gateway Skus in the doc discussing connections and throughput, so I know they exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b1636d-5e05-ff6a-5412-fff24162ee64
* Version Independent ID: 79fea7c8-d22c

[2019-12-03 19:42] CeciAc opened #43987 "Availability tests Ip`s are outdated"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/554
@tkrielaart commented 7 hours ago — with docs.microsoft.com
Today I was testing something in application insights. I noticed that not all the ip`s that are used by the availability test are mentioned in the page. Could this please be updated.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-03 19:45] ishepherd commented on #28931
@sharad4u Good to hear, thanks!
Ok I will raise the PR

[2019-12-03 19:50] nairmanu commented on #18299
@BryanTrach-MSFT @jwargo Is there a react native example ready yet?

[2019-12-03 19:53] TravisCragg-MSFT commented on #43986
@stdistef Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-03 19:55] #41215 closed

[2019-12-03 19:57] tiwari-abhishek commented on #40048
@rezamohamed same boat. let me know if you find anything.

[2019-12-03 19:57] KranthiPakala-MSFT commented on #43727
@gjayalal We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@djpmsft Could you please have a look at the above request from customer? - Thanks.

[2019-12-03 19:57] MarileeTurscak-MSFT commented on #43981
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-03 19:57] jtuliani opened #43988 "What does 'CanDelegate' do?"
What does the 'CanDelegate' flag do? It's part of the role assignment properties but as far as I can tell, it's not explained anywhere in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33d42957-44e8-cf46-40c2-51b35776abe2
* Version Independent ID: d853fb3d-413d-873b-cd3d-6e8ecda73164
* Content: [Tuto

[2019-12-03 19:59] rezamohamed commented on #40048
I got it to work by just reinstalling the EF Core Nuget packages with the 2.2.4 version which is what my project was targeting

[2019-12-03 19:59] flyboarder opened #43989 "Example code is invalid"
The examples used here do not match the github repo. There is no EventHubClient object, there have been multiple issues opened about aligning the code with the repo and it is still incorrect.

The example will need to be updated to make use of the EventHubProducerClient and EventHubConsumerClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-12-03 20:01] jwargo commented on #18299
@nairmanu no, I've not worked on one.

[2019-12-03 20:04] spelluru commented on #43989
Hi @flyboarder - Thanks for the feedback. EventHubProducerClient and EventHubConsumerClient are from the **preview** SDK. This article uses the GA (generally available) version of the SDK. We will update this quickstart when the new SDK goes GA.

Here are the links to preview SDK readme and samples:
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/eventhub/event-hubs/README.md
https://git

[2019-12-03 20:05] #43447 closed

[2019-12-03 20:18] tfitzmac commented on #43923
@APIWT - thanks for this suggestion. I have added a couple of sentences to concat that clarifies how the parameters can be used. It should be published this afternoon.

[2019-12-03 20:23] tfitzmac commented on #43923
#please-close

[2019-12-03 20:23] #43923 closed

[2019-12-03 20:26] philiplai commented on #43983
Found out you need to create a resource group first.

[2019-12-03 20:26] #43983 closed

[2019-12-03 20:33] joereiss commented on #43968
@MicahMcKittrick-MSFT

In the Azure Function the following fixes the Gif problem.

 var config = ImageResizer.Configuration.Config.Current;
 new ImageResizer.Plugins.PrettyGifs.PrettyGifs().Install(config);
 new ImageResizer.Plugins.AnimatedGifs.AnimatedGifs().Install(config);

I don't want to this to run every time the function is called.  The question is - Is there a startup or initialization pl

[2019-12-03 20:47] jrassi05 commented on #42443
i have the same issue.

[2019-12-03 20:50] RyanHill-MSFT commented on #43655
Hi @kaplik, you can use https://github.com/Microsoft/java/tree/master/docker for Tomcat images as documented in https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-java#docker-containers.

Hope this helps. If not, please feel free to re-open this issue and tag me in your reply.

[2019-12-03 20:50] #43655 closed

[2019-12-03 21:11] mjtpena opened #43991 "Other Deployment Methods (using DevOps)"
Hi Team, I think it is nice that you can deploy smart contracts using VS Code just by right clicking.
It's very convenient to do. However, I don't see a clear guidelines on how to deploy a Smart Contract using Truffle in a DevOps environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df32d8b8-aa8f-b8da-3bc6-3fcba1

[2019-12-03 21:15] bdschaap opened #43992 "containsAny"
Can you explain what containsAny does?  More specifically what "containsAny": null does in conjunction with "field" and "equals".  It's referenced many times in this article but I'm unable to find an explanation of its purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d3740fc1
* Versio

[2019-12-03 21:18] kpball commented on #42652
@tamram I'm having problems with this as well.  Trying not to have to save a SAS token in the config file, I was trying to use this method to create a temp SAS token.  This is currently holding me up because it doesn't work.