[2018-09-04 00:47] bherila opened #14444 "Not working in v2"
FYI. here is how you have to do it in v2 for now:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2018-09-04 00:58] KeiroKamioka0000 opened #14445 "Download the uploaded file"
Is there any option to download the uploaded file for the Support Request?
If not, please consider to write that to the document.

Sorry if this was written already in somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e266861-1776-1cd9-4c80-aeb9fc36bb50
* Version Independent ID: de25db8c-55a0-5af5-d735-693215c

[2018-09-04 01:15] #14426 closed

[2018-09-04 01:27] josefree commented on #14363
sign off the update is correct.  Thanks for the help.

[2018-09-04 01:46] developersenakim commented on #14424
I was able to follow all the steps.
- I was able to connect to VM using SSH.
- I allowed local UX to connect.
- I changed.env file.
It still does not update the AZure service url. what i see on local machine and Azure web service URL is diffrent.

I added example panel - which does not show.

[2018-09-04 01:54] #14379 closed

[2018-09-04 01:54] aamer-s opened #14446 "Defunct hyperlink"
Hello,

The documentation is great but there is a defunct hyperlink which could be rectified.
Under "Step 1", there is a point "Enable modern authentication: You need to enable modern authentication on your tenant for this feature to work." -&gt; The hyper-link for 'modern authentication' takes you to 'Page Not Found'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-09-04 01:54] #8892 closed

[2018-09-04 02:05] ellacroi commented on #14437
@qianw211 Let's review this one and make sure we cover this update.

[2018-09-04 02:22] badalk opened #14447 "Can we disable SSH into the node VMs? Is it recommended?"
Can we disable the ability to SSH into the node VM completely? We have concerns over security and since nodes are managed and maintained by Microsoft we would like to disable it completely. Is it possible? Also what we would not be able to do if we do so (apart from accessing logs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-09-04 02:37] lliimsft commented on #14332
@nizi1127 can you please share more detail about your failure, including your job definition, stdout and stderr log file?

In addition, Batch AI training for multiple nodes is beyond the scope of this quick start. You are welcomed to submit your question to the Batch AI [repo](https://github.com/Azure/BatchAI), or directly contact our support alias askbatchai

[2018-09-04 02:45] badalk opened #14448 "Modifying tags - need more clarity"
What do you mean by "Modifying and deleting tags and other properties of resources in the MC_* resource group can lead to unexpected results such as scaling and upgrading errors. Modifying the resources under the MC_* in the AKS cluster breaks the SLO" - If as part of corporate governance we need to tag each VM to indicate the cost center etcs.. wouldn;t that be possible? If my cluster is mult-ten

[2018-09-04 03:16] SaurabhSharma-MSFT commented on #14446
@aamer-s I am getting any error going to the link and it goes to the page - https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/

[2018-09-04 03:38] YutongTie-MSFT commented on #14444
@bherila Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:39] YutongTie-MSFT commented on #14447
@badalk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:40] YutongTie-MSFT commented on #14443
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:41] YutongTie-MSFT commented on #14438
@Forrin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:42] YutongTie-MSFT commented on #14439
@andremarques023 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:43] YutongTie-MSFT commented on #14442
@arcotek-ltd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 03:45] YutongTie-MSFT commented on #14445
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@genlin Hi, this is a doc-enhancement issue. Can you please check it and update the document as necessary? Thanks a lot!

[2018-09-04 03:55] msvijayn commented on #14392
@cconrado - You can parse the JSON table in various ways; Microsoft MVPs have published some samples on how to do this via [Logic App](https://www.stefanroth.net/2018/08/23/azure-monitor-modify-alerts-using-logic-app/) and [Automation Runbook](http://blogs.catapultsystems.com/cfuller/archive/2018/08/24/techniques-to-make-azure-monitor-alerts-from-log-analytics-more-useful-creating-custom-alerts-wi

[2018-09-04 04:12] zhouwangzw commented on #14296
We are currently working on a new version of Javascript Speech SDK, which will be released soon. Please stay tuned.

Sorry for inconvenience.

Thanks.

[2018-09-04 04:29] girishgouda commented on #13775
I am using vscode. I do not see the function.json added after add the packages.

Can you provide solution for vscode

On 04-Sep-2018 2:13 AM, Karishma Tiwari - MSFT <notifications@github.com> wrote:

@girishgouda<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgirishgouda&data=02%7C01%7C%7C13a7584381d34bfa0dcd08d611ddec40%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C

[2018-09-04 05:11] femsulu commented on #14442
@keithcharlie any ideas on this? @arcotek-ltd is looking for Marketplace guidance on Marketplace offerings that call third-party APIs that bill on a consumption model.

[2018-09-04 05:14] minhaj-dell commented on #14230
@Saurabhsharma Ironically *The Federation that uses a new or existing farm with AD FS in Windows Server 2012 R2* section. Below I've copied what it says in case you have difficulty finding it!

With federated sign-in, your users can sign in to Azure AD-based services with their on-premises passwords. While they're on the corporate network, they don't even have to enter their passwords. By using th

[2018-09-04 05:39] tkumark opened #14450 "Description for QueryRuntimeStatistics"
Under "Turn on logging in the Azure portal" there is no description for QueryRuntimeStatistics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196c9642-a016-e182-1435-51550b1cdee9
* Version Independent ID: fd354372-db8e-1eb8-dfc2-83e1c6c3954c
* Content: [Azure Cosmos DB diagnostic logging](https://docs.microsoft.com/en-

[2018-09-04 05:51] login21 opened #14451 ""Use an existing static public IP address" step is not working for me."
I followed mentioned steps, created my static public ip and ran below command

helm install stable/nginx-ingress --name my-nginx --set rbac.create=false --set rbac.createRole=false --set rbac.createClusterRole=false --set controller.service.loadBalancerIP="myip"

but load balancers external ip status is always showing pending.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-09-04 05:55] YutongTie-MSFT commented on #14327
@mahilleb-msft Hi, can you please help to check it and update the sample code as necessary? Thanks a lot!

[2018-09-04 05:58] danimir commented on #14443
Thank you on your question.
- The correct link for using T-SQL is already included in this article (not the one you refer to), and in particular this link is: https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-set-options?view=azuresqldb-current.
- You also might want to consider reading this article on using T-SQL with automatic tuning with some examples: https://az

[2018-09-04 06:03] femsulu commented on #14448
@badalk Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-09-04 06:06] mrik23 opened #14452 "Get / Set authentication info"
There have been already few issues opened for this, but I still don't see any update in this article to clarify how to get and set the authentication info as they seem to be returned by the API in AAD portal.

[code]

I'm looking at removing these info as part of the user offboarding script / process, I thought I would get useful info from this article.

---
#### Document Details

⚠ *Do not edit t

[2018-09-04 06:06] waqasahmedch opened #14453 "workbench API is not accessible even in swagger and giving Error 401"
Hi , we have created a  default workbench application following step by step documentation but the workbench API is not accessible even in swagger and giving Error 401. We tried our best to fix it but no luck so far. We opened  a case with Microsoft support but again no luck. Can someone help us in this regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-09-04 06:11] gauravagarwal28 opened #14454 "How do I connect a downstream device to edge gateway where downstream device is coded in Nodejs?"
The example only shows the process for downstream devices running .NET applications

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71acc49c-a23e-493f-c3f5-4ec46846616c
* Version Independent ID: bd3abb8d-1b48-0efd-f6a4-1b3f7a12c039
* Content: [Create a transparent gateway with Azure IoT Edge - Linux](https://docs.micros

[2018-09-04 06:12] BharathRahulDS commented on #14429
Thank you for the response. Below is the link.
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-model-chaosparameters#enablemovereplicafaults

[2018-09-04 06:17] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 any updates?

[2018-09-04 06:25] Karishma-Tiwari-MSFT commented on #14202
@poulinjulien Did you get a chance to try the solution provided in the MSDN thread you posted [here](https://social.microsoft.com/Forums/en-US/2bee621c-f3d9-41a3-a89f-7c5ddfc6f784/quotinput-string-was-not-in-a-correct-formatquot-error?forum=windowshpcdevs).

[2018-09-04 06:37] Karishma-Tiwari-MSFT commented on #14348
@ChackDan Looks like Justin didn't get tagged properly. Can you please tag him here. :)

[2018-09-04 06:39] mahilleb-msft commented on #14327
CC @fmegen

@hei9gag - can you share your SDK version, API level, and platform architecture? I assume your are running the quickstart (quickstart/java-android/)? Please note that at this stage Android on Intel is not yet supported (cf. the matrix at https://aka.ms/csspeech). Would you be able to modify the sample output the error details (`result.getErrorDetails()`) ?

Thanks, Mark

[2018-09-04 06:40] login21 commented on #14451
Just to give more info, when I am running above command without --set controller.service.loadBalancerIP  parameter, dynamic ip is getting allocated to load balancer but when trying to attach a static public ip its never comes up.

[2018-09-04 06:48] jvano commented on #13263
The fix has been checked in and will be deployed soon. It should be available by end of September

[2018-09-04 07:02] fmegen commented on #14327
@hei9gag - thanks for your question.

Do you happen to have more information about the result you are getting along the Cancel status?
Especially, the error string would be important to know.

kind regards,
 friedel

[2018-09-04 07:27] jameschanck commented on #9712
Hi, do you have a python code example of webcam face recognition using Face API? I understand we need to collect faces, upload faces & train a recognition model, then feed live face for recognition prediction.

[2018-09-04 07:58] vlflorian commented on #14183
Alright, thank you very much for the detailed answer and for the help.

[2018-09-04 07:58] #14183 closed

[2018-09-04 08:27] gitathrun commented on #14349
@YutongTie-MSFT
1. For Azure ml docker image creation: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3

2. For GPU-enabled docker image usage in Azure Experiment(training) stage: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/how-to-use-gpu

3. For customize docker image usage in deployment, it also mentioned __T

[2018-09-04 08:32] IgorRogDevPro opened #14455 "Request to update formulations."
I find the following formulation in Security Administrator role description a bit misleading: "Users with this role have all of the read-only permissions of the Security reader role, plus the ability to manage configuration for security-related services: Azure Active Directory Identity Protection, Azure Information Protection, Privileged Identity Management"

The word 'manage' makes one think that

[2018-09-04 08:40] dishajain1211 commented on #14103
thanks!

On Thu, Aug 30, 2018 at 11:21 PM YutongTie-MSFT <notifications@github.com>
wrote:

[2018-09-04 09:15] MohsineC commented on #8176
We have the exact same issue.
We have built in some checks for duplicates in the ETL and it just generates an error when this occurs, after that we fix it manually.
@MS. Please fix it :-(

[2018-09-04 09:28] Sogup commented on #14269
Previously the Azure Backup service used to use the Resource Group where the VM resides to create the Restore point collection and if the group was locked the service couldn’t clean up. We have changed this design in the recent service deployment. Backup service creates a separate resource group than the resource group of the VM to store restore point collection. Customers are advised not to lock

[2018-09-04 09:33] femsulu commented on #14451
@login21 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-04 09:35] femsulu commented on #14450
@tkumark Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-04 09:36] jtuliani commented on #14269
Thanks. Where is this new resource group documented? I'm keen to see the documentation around the name of the group and any other advice (e.g. not locking or deleting it)

Thanks again!

[2018-09-04 09:37] femsulu commented on #14453
@waqasahmedch Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-04 09:42] femsulu commented on #14454
@gauravagarwal28 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-04 09:47] Sogup commented on #14269
https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-first-look-arm

[2018-09-04 09:48] femsulu commented on #14452
@mrik23 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-04 09:53] jtuliani commented on #14269
Thank you!

[2018-09-04 09:57] hei9gag commented on #14327
@mahilleb-msft  @fmegen Thanks for the quick response. Currently, I am not in Hong Kong right now. Will get back to you when I back. Thanks for the help again.

[2018-09-04 10:04] Aggror opened #14456 "-DetailedOutput parameter is deprecated"
Using the following line in powershell: 'Get-AzureRmAlertRule -ResourceGroup &lt;myresourcegroup&gt; -DetailedOutput', results in a deprecation warning:  "Parameter deprecation: The DetailedOutput parameter will be deprecated in a future
breaking change release."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d292a1d5-

[2018-09-04 10:36] Nitesh097 opened #14457 "Please confirm the listed services support a move or not in CSP migration."
Citrix Virtual Desktop Essentials
Citrix Virtual Apps Essentials
Connections
Route Filters
Data Lake Storage Gen1
StorSimple Data Managers
Storage Sync Services
Import/export jobs
Notification Hub NameSpaces
App Service Domains
SQL server stretch databases
Virtual clusters
Managed databases
Elastic job agents       Preview
Event hub clusters   Preview
Machine learning studio web service Plans
Mach

[2018-09-04 10:56] edgewalls commented on #5133
This is a little confusing, i must agree. So where does Azure site backup and recovery sit if Azure public peering has been depreciated?

[2018-09-04 11:01] developersenakim commented on #14423
![image](https://user-images.githubusercontent.com/41668767/45027738-3c11cc00-b07d-11e8-851a-e2d1ddfbb7c2.png)

that has been assigned. I am getting this.

[2018-09-04 11:07] Rakshitakv opened #14458 "mvn azure-functions:run is throwing an error"
mvn azure-functions:run is throwing an error
![screenshot 21](https://user-images.githubusercontent.com/41083036/45028157-8edd8a80-b061-11e8-98a5-b53662aeda5b.png)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven

[2018-09-04 11:13] Rakshitakv commented on #14458
mvn azure-functions:run is throwing an error
![screenshot 21](https://user-images.githubusercontent.com/41083036/45028157-8edd8a80-b061-11e8-98a5-b53662aeda5b.png)

[2018-09-04 11:31] vdias opened #14459 "Windows server Prerequisites..."
Missing software prerequisites for the mobility agent installation on windows servers.

Found a error today about needing .net framework for the agent installation...

https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-install-mobility-service

[2018-09-04 11:31] Anmolgan81 opened #14460 "Do LogAnalytics solution support move?"
I dont see log analyitics solutions being listed in the Azure move resources do they support move??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](h

[2018-09-04 11:34] jtuliani opened #14461 "CoreOS?"
CoreOS is listed in the supported distros table, then it says CoreOS is not supported. Contradiction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c9e8ae3-4417-930b-7c53-780b8ac6d5e1
* Version Independent ID: a9563489-c6d8-dc6b-d015-1f101a8b5670
* Content: [Azure Network Watcher Agent virtual machine extension for L

[2018-09-04 11:56] jtuliani opened #14462 "Ubuntu versions?"
Does the Network Watcher extension really not work on the later Ubuntu distros (eg. 18.04?)

If it doesn't work or isn't supported, the page really needs to say so explicitly. Otherwise, it just looks like the page hasn't been kept up-to-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c9e8ae3-4417-930b-7c53-780b8

[2018-09-04 11:58] mpoeckl opened #14463 "Please add prerequisite: Ensure that the group policy allows a user to log on as a service."
A pretty common issue when installing the gateway is the following: it fails to install as a service even though you are a local administrator for the computer - Installation can fail if the user is in the computer’s local Administrator group, but group policy does not allow that username to log on as a service. Please add this as a prerequisite for the installation (as this is missing in the trou

[2018-09-04 12:05] jtuliani opened #14464 "Pre-installing Network Watcher extension required or not?"
The doc says we need to pre-install the network watcher extension before taking a packet capture

However, from what I can tell, we can just create the capture without doing this (from the Portal at least). The network watcher extension is installed automatically for us if necessary.

So, why bother to pre-install? It's much easier to let it install automatically.

Please can you clarify? And upda

[2018-09-04 12:07] otykier opened #14465 "Don't encourage use of table variables for ETL scenarios!"
[This tutorial](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/tutorial-incremental-copy-multiple-tables-portal.md) describes how ADF can be used to incrementally load data between multiple on-premise SQL sources and an Azure SQL DB.

This is a very common ETL scenario, so the article is likely viewed by a lot of professionals. Unfortunately, there is one major flaw:

[2018-09-04 12:08] derekharkin opened #14466 "Exchange ActiveSync Conditions"
The article mentions that "You can only configure the device platforms condition"
Can you please confirm that this means that Location conditions cannot be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* Content:

[2018-09-04 12:10] SQLBent commented on #14465
I do fully agree!

Furthermore the approach with setting a new sink value before the data have been committed to the table could be causing gaps and missing data.

[2018-09-04 12:59] m-kumaran opened #14467 "Java SDK Samples"
It would be nice if the documentation has the Java SDK equivalent for each c# sample code.
Especially, there is no way to see the Java method for offline Fairplay DRM to set **RentalAndLeaseKeyType.PersistentUnlimited**, in the following page:
[https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-protect-hls-with-offline-fairplay](https://docs.microsoft.com/en-us/azure/med

[2018-09-04 13:40] minhaj-dell opened #14468 "Windows login for external user using Smartcard"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-04 13:47] minhaj-dell commented on #14468
Dell - Internal Use - Confidential

Federation related document above shows that for a user external to the domain to login using smart card, Admin has to expose a web proxy. The way I understand this is that user would need to login to windows locally (with SC) and then login to this web proxy using smart card again to gain access to AAD. Is this correct? Is there a way to configure windows login

[2018-09-04 13:52] badalk opened #14470 "Do we need to install nginx ingress controller separately?"
kubectl cluster-info indicates that this is by default installed when we deploy AKS through portal and hence the question

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Kubernetes

[2018-09-04 13:55] hpcre opened #14472 "error in statement " It is not possible to change VM sizes directly from the portal or PowerShell.""
Hello. I believe there is an error in this statement: " It is not possible to change VM sizes directly from the portal or PowerShell."
Because I just changed the size of my deployed VM from CLI from Ds1 to Bs1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca21c78d-bcb3-aac5-79a0-4e3525603b11
* Version Independent ID:

[2018-09-04 14:03] dmc-tech opened #14473 "How do we connect using a AD FS SPN ?"
The instructions assume that the user is using AAD to connect.  The az login --help shows "The AAD tenant, must provide when using service principals."

az login \
  --tenant &lt;Azure Active Directory Tenant name. For example: myazurestack.onmicrosoft.com&gt; \
  --service-principal \
  -u &lt;Application Id of the Service Principal&gt; \
  -p &lt;Key generated for the Service Principal&gt;

How

[2018-09-04 14:04] sergaz-msft commented on #14097
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.
Thank you!

[2018-09-04 14:04] #14097 closed

[2018-09-04 14:12] badalk commented on #14470
In addition, best practice of using static IP for nginx ingress controller as documented above, can we do it at the time of provisioning AKS either through the portal (did not see any option) OR through the ARM template?

[2018-09-04 14:23] Nombril opened #14476 "Foot note annotation incorrect for Brazil South"
Missing () in the chart: Brazil South 2 should be Brazil South (2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity and disaster recovery (BCDR): Azure Paired Regions](https://docs.microsoft

[2018-09-04 14:28] cconrado commented on #14392
So this is good and would be helpful to have a link on the docs. But is
there no way with logic apps to join each column and row in the loop?

On Mon, Sep 3, 2018, 10:55 PM Vijay Nagarajan <notifications@github.com>
wrote:

--
Carlos Conrado

[2018-09-04 14:30] BrainSlugs83 commented on #12971
Crap.  I thought the thread was dead, so I stopped looking. XD -- I'll take a look at the SO thread today and get back to you!

[2018-09-04 14:30] yodobrin opened #14477 "user id"
The user ID should be provided (in the Data Factory UI) as:
Azure\\&lt;storage name&gt;
and not as writen
AZURE\\&lt;storage name&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 875046ad-0ad6-e02b-fc45-6eeb9afa340a
* Version Independent ID: 8f4e9372-eb73-d02a-7703-43fe149a7c1b
* Content: [Copy data from/to Azure Fil

[2018-09-04 14:32] clark0820 opened #14478 "The pipeline JSON format is not up-to-date."
"linkedServiceName" should be just a string instead of an object (The error message doesn't really quite tell).
"linkedServiceName": {
            "referenceName": "MyOnDemandSparkLinkedService",
            "type": "LinkedServiceReference"
        },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6220eb4d-df3e-cb10-42

[2018-09-04 14:34] sergaz-msft commented on #14254
@SarithaMaran I believe that SQL Server Container for Linux is [x64-compatible only](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup?view=sql-server-2017#system). See the following Docker and GH repositories that generate the container for more info:

https://hub.docker.com/r/microsoft/mssql-server-linux/
https://github.com/Microsoft/mssql-docker

"[Linux-based containers](https:

[2018-09-04 14:37] AlexKeySmith commented on #13860
Hi @BryanTrach-MSFT I agree with @dcbrown16's deduction, it would be handy if this clarification is added to the documentation.

I vote to re-open this.

[2018-09-04 14:40] BrainSlugs83 commented on #12971
It looks like the workaround is just the framework moniker thing you already had me try? -- but I went ahead and tried it again, with every version between 4.5.2 and 4.7.2 (at least that my Visual Studio knows about). -- And it didn't see to have any effect. :(

[code]

[2018-09-04 14:49] paulmackinnon-adv365 opened #14479 "Custom logs are not separating the log with the timestamp"
I am going to copy/paste exactly what was written from a previous issue, as it still directly applies (I've tried doing the very same thing), **AND** Azure Help Service blade in the portal does not load (probably something to do with their major issue today). Regardless, this still applies and it's not working;

From; https://github.com/MicrosoftDocs/azure-docs/issues/11976

Have tried to upload a

[2018-09-04 14:56] mmacy commented on #14334
Adding @SteveLasker from the product team for comment.

[2018-09-04 14:56] sbhuttan commented on #10487
@rmcmurray - Any updates on this issue? I am running into same problem. Unable to find JDK while trying to create the VM.

[2018-09-04 14:56] qianw211 commented on #14437
Hi @ellacroi, I got it! Thanks!

[2018-09-04 15:17] iainfoulds commented on #13275
@seanmck There's another user reporting 404 trying to access the Resource Manager templates for network configuration changes - https://github.com/MicrosoftDocs/azure-docs/issues/14179. Is there any progress on a repo to hold these templates so the docs can be updated, please?

[2018-09-04 15:29] iainfoulds commented on #13785
Hi, @lesca. If there's additional context to share here, please let me know, otherwise I'm going to close this one for now.

#please-close

[2018-09-04 15:30] MicahMcKittrick-MSFT commented on #14458
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 15:31] MicahMcKittrick-MSFT commented on #14461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 15:33] MicahMcKittrick-MSFT commented on #14462
#14461

@jtuliani thanks for the feedback. Let's just work off of the first issue you opened. We can address both things in one. Will investigate and update you shortly.

[2018-09-04 15:33] #14462 closed

[2018-09-04 15:36] Adam-Smith-MSFT commented on #14310
@SheridanLGrant Could you try deleting the cached journal files/content located in: `C:\Users\admin\AppData\Local\Microsoft\Azure\AzCopy`
This should resolve the problem.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 15:36] #14310 closed

[2018-09-04 15:36] SimonJHudson opened #14480 "Error in metadata syntax"
There is an error in the two paragraphs
Structured data format through file upload
and
Structured data format through import

The syntax shows a backslash before the pipe character:
Metadata
Key1:Value1\|Key2:Value2

This backslash is not parsed by QnA Maker and results in name:value pairs if used. The correct syntax is:
Key1:Value1|Key2:Value2

---
#### Document Details

⚠ *Do not edit this secti

[2018-09-04 15:37] Mike-Ubezzi-MSFT commented on #14331
@Jan-Olof The following documentation further explains the MQTT specific configurations.
[Communicate with your IoT hub using the MQTT protocol](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support). This should answer your questions with greater detail but to answer them briefly, You can choose to use the MQTT protocol directly through the device SDK or the public device endpoint,

[2018-09-04 15:39] Mike-Ubezzi-MSFT commented on #14321
@AndyLiTaiwan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 15:39] #14321 closed

[2018-09-04 15:42] essjayy1 commented on #8704
I'm getting the same issue (403 error), could it potentially require an Azure AD Premium P2 license?

[2018-09-04 15:49] Adam-Smith-MSFT commented on #14322
@aquibqureshi26 Charges/pricing:The Power BI free tier supports reports for backup reporting data under 1 GB per user, if you have more, you'll need a [subscription](https://powerbi.microsoft.com/landing/signin/)

And to answer your first question, you can find a detailed response under **1. Storage** in this [link](https://azure.microsoft.com/en-us/blog/azure-backup-reports/)
We will now proceed

[2018-09-04 15:49] #14322 closed

[2018-09-04 15:49] Mike-Ubezzi-MSFT commented on #14191
@djpirra This functionality is currently being developed. You can track progress, even up vote or ask a question: [Automatic Generation and Updating of table statistic](https://feedback.azure.com/forums/307516-sql-data-warehouse/suggestions/18024499-automatic-generation-and-updating-of-table-statist)

Please let me know if there are additional questions. Thanks, ~Mike

[2018-09-04 15:52] Mike-Ubezzi-MSFT commented on #14204
@jhadz81 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 15:52] Adam-Smith-MSFT commented on #14324
@CraigHumphrey Do you have a an Azure Support plan ? If you do please open a support ticket, and provide us with the ticket number so I can follow up on it, otherwise, Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN Adam" in the subject field, and

[2018-09-04 15:54] Mike-Ubezzi-MSFT commented on #14204
@anosov1960 An opportunity to improve the documentation experience.

[2018-09-04 15:55] Mike-Ubezzi-MSFT commented on #14308
@kalkivshashank We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 15:55] #14308 closed

[2018-09-04 15:55] Mike-Ubezzi-MSFT commented on #14318
@ElectricLlama We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 15:55] #14318 closed

[2018-09-04 16:02] sulmar opened #14482 "Compilation error"
I loaded GetStarted project and I have error during compilation:
In file included from ...\Local\Arduino15\packages\AZ3166\hardware\stm32f4\1.4.1\cores\arduino/Arduino.h:28:0, from sketch\GetStarted.ino.cpp:1:
...\local\arduino15\packages\az3166\tools\arm-none-eabi-gcc\5_4-2016q3\arm-none-eabi\include\stdlib.h:22:20: fatal error: alloca.h: No such file or directory
compilation terminated.
exit sta

[2018-09-04 16:04] YutongTie-MSFT commented on #14480
@SimonJHudson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 16:06] YutongTie-MSFT commented on #14479
@paulmackinnon-adv365 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 16:08] YutongTie-MSFT commented on #14465
@otykier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 16:11] davidekarasek opened #14483 "Why are we dependent on .Net to send emails"
Why are we creating yet another third party dependency for CDO (Collaborative Data Objects) that was working and should still work on any Microsoft Server. And here again you need a heavy coding resource to build a .Net component, using the latest computing paradigm of the day that is likely to keep changing at Microsoft.s whim. And we add the\ time on top of that to build a .Net component where b

[2018-09-04 16:13] davidekarasek opened #14484 "Open source and JavaScript are the Web standards. USE THEM and like Google create a generic API for sending emails"
Open source and JavaScript are the Web standards. USE THEM and like Google create a generic API for sending emails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](

[2018-09-04 16:16] MarkIannucci commented on #14206
@femsulu , thank you for the follow up.  I think we're not on the same page with what I'm trying to do.

A while back, my employer bought a VS Enterprise Subscription for me.  At the time our AD hadn't been federated with Azure, so I assigned my VS Enterprise Subscription to a MSA account.  In the last week or so, my VS Enterprise subscription was transferred via the Volume Licensing Service Cente

[2018-09-04 16:18] danimir commented on #6792
@Ayanmullick: Audit, and SQLSecurityAuditEvents are not listed on the page you've quoted for a reason as they are unsupported categories in Azure SQL Analytics. Thank you.
@jason-j-MSFT #please-close

[2018-09-04 16:28] jluk commented on #14171
Thanks for clarifying @KloudEzy! I see what you mean now, I will update our docs with the region specificity. Next time, try running `clouddrive unmount` if you need to disassociate a storage account and pick a new one! @Mike-Ubezzi-MSFT please close this thanks for the help!

[2018-09-04 16:45] YutongTie-MSFT commented on #14459
@vdias
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 16:46] cbrooksmsft commented on #11982
The issue here is that the portal does not yet use the users identity to access blob data, but continues to use the access key and requires a role with permission to call list keys.

For now, you can test the identity based access using the Powershell or Azure CLI preview modules.
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-script?toc=%2fazure%2fstorage%2fblobs%2ftoc.jso

[2018-09-04 16:48] YutongTie-MSFT commented on #14468
@minhaj-dell Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 17:05] #14175 closed

[2018-09-04 17:14] MBCO commented on #13718
Same error still exist. Any fixes. Mij logfile show the following
D:\home\site\wwwroot\node_modules\azure-event-hubs\dist\lib\rhea-promise\connection.js:183

    async createSender(options) {

          ^^^^^^^^^^^^

SyntaxError: Unexpected identifier

    at Object.exports.runInThisContext (vm.js:76:16)

    at Module._compile (module.js:542:28)

    at Object.Module._extensions..js (module.js:57

[2018-09-04 17:15] BryanTrach-MSFT commented on #14467
@m-kumaran Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-04 17:25] Karishma-Tiwari-MSFT commented on #14202
@poulinjulien Since you are engaged with the engineer on the [MSDN thread](https://social.microsoft.com/Forums/en-US/2bee621c-f3d9-41a3-a89f-7c5ddfc6f784/quotinput-string-was-not-in-a-correct-formatquot-error?forum=windowshpcdevs), I am closing this issue here.
If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 17:29] YutongTie-MSFT commented on #14349
@tedway @rastala @aashishb Hi, do you have insight of this issue? Thanks a lot!

[2018-09-04 17:30] MicahMcKittrick-MSFT commented on #14377
@jackchenquest what exactly is the output you are looking to get from running this in a custom script? I am not sure I am seeing the use case.

[2018-09-04 17:31] Karishma-Tiwari-MSFT commented on #14334
Assigning this issue to @SteveLasker as well, for insights. I will close this out once the product roadmap question is answered. :)

[2018-09-04 17:31] tfitzmac commented on #14460
Log Analytics is listed as supported.
#please-close

[2018-09-04 17:32] tfitzmac commented on #13503
The change has been published.
#please-close

[2018-09-04 17:33] Anmolgan81 commented on #14460
@tfitzmac  Am talking about Log Analytics solutions do those supports move?

[2018-09-04 17:34] MicahMcKittrick-MSFT commented on #14444
@bherila thanks for this! Yes, the majority of the docs are written for V1 until V2 goes GA.

I will assign to the author to see if we should get this more clearly noted.

[2018-09-04 17:38] v-kydela opened #14486 "The overview of a Computer Vision resource in the Azure portal still gives api.cognitive.microsoft.com/vision/v1.0 as the endpoint"
It should say v2.0 instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [Computer Vision for Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/home)
* Conten

[2018-09-04 17:40] ggailey777 commented on #14444
Thanks @bherila, this is related to the latest set of [Azure Functions v2 runtime breaking changes](https://github.com/Azure/app-service-announcements/issues/129). I am still trying to work through these in our documentation, and I will address this particular issue ASAP.

[2018-09-04 17:42] LisandroSu opened #14487 "You only need the first certificate from the output window."
@Bnjmn83 commented on [Tue Sep 04 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/129)

Please fix the following section :

"... Copy to clipboard the output starting from -----BEGIN CERTIFICATE----- and ending at -----END CERTIFICATE-----, making sure to include both of these lines as well."

and add:

"You only need the first certificate from the output window."

---
#### Dokument

[2018-09-04 17:42] LisandroSu commented on #14487
Hi team,

Please check the issue created by the user.

Thanks!

[2018-09-04 17:45] Karishma-Tiwari-MSFT commented on #14376
@theBlueclouds Any updates? Can you please clarify on the question above. Thanks.

[2018-09-04 17:46] Mike-Ubezzi-MSFT commented on #14450
@tkumark After clicking on the `Turn on diagnostics` link, you should be presented with the Diagnostics configuration blade, where you can select where to direct the log data to and the type of logging desired:

![screenshot 266](https://user-images.githubusercontent.com/37126106/45048024-9be18600-b02f-11e8-9cdb-43fa3bd2ecac.png)

Do you not see this Diagnostics Configuration Blade and the option

[2018-09-04 17:51] mike-urnun-msft commented on #14380
Hi @meishanli Thank you for reporting this! We have validated & assigned this issue to the author to investigate further and take the right course of action.

[2018-09-04 17:56] sureshrajan77 commented on #14364
Adding a note, I've used the following library,
Sandboxable.Microsoft.WindowsAzure.Storage
Sandboxable.Microsoft.WindowsAzure.Storage.Blob
Sandboxable.Microsoft.WindowsAzure.Storage.Auth

[2018-09-04 17:58] iainfoulds commented on #14179
Hi @jurjenoskam, thanks for getting in touch.

We don't technically enforce a maximum, as such. The default maximum for the kubelet is 110, as noted in https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/. The Kubernetes doc on large clusters also then goes along with this recommended maximum, though actually suggests no more than 100 - https://kubernetes.io/docs/setup/cluste

[2018-09-04 17:58] MarileeTurscak-MSFT commented on #14455
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-04 17:58] MarileeTurscak-MSFT commented on #14466
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-04 18:03] mike-urnun-msft commented on #14249
@v-anpang Have you checked if the "When an item is modified" is using correct connection? If you continue to encounter this issue, please re-create the connection as new, and try again.

Because this issue doesn't address any specific content of this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please open a thread on [MSDN forums](

[2018-09-04 18:03] #14249 closed

[2018-09-04 18:05] jingjing-z commented on #14384
Thank you for reporting this. I've updated the content. Could you close the issue?

[2018-09-04 18:06] Shreelekha19 opened #14488 "Question"
Hi, Can I add attributes collected in user profile to claims ? If yes how ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8c77b2-27b0-269c-6e96-5ca02b8a4f18
* Version Independent ID: f11ce176-9a04-5d47-05fa-8c86278048cd
* Content: [Add or change profile information for a user in Azure Active Directory](https://docs.

[2018-09-04 18:08] JasonWHowell commented on #14192
@markingmyname Could you take a look in case you can help this question. Thanks, Jason

[2018-09-04 18:08] JasonWHowell commented on #9346
@markingmyname Could you take a look in case you can help this question. Thanks, Jason

[2018-09-04 18:09] keithcharlie commented on #14442
Today we have 2 options for marketplace pricing & billing:

1. **Pay-as-you-go virtual machine model** where the software license is billed as a per-hour meter and  priced according to the cores/vcpu on the host virtual machine, and the Azure infrastructure costs are billed separately.

2. **Monthly subscription *aaS model** where the software license is billed as a single, flat-rate amount presen

[2018-09-04 18:09] Minewiskan commented on #11928
@joymon Unfortunately we're no going to be able to document this, Doing so would require testing hundreds if not thousands of file types. We simply don't have enough customer demand for this to justify the effort. Sorry we cannot be of more help.
#please-close

[2018-09-04 18:12] MicrosoftGuyJFlo commented on #14452
@mrik23 as was mentioned in the previously opened issues work is being done to create a Graph API for setting and changing security info is coming soon but no dates to share.

[2018-09-04 18:14] MicahMcKittrick-MSFT commented on #14447
@badalk the AKS nodes are not exposed to the internet so from a security perspective they are completely isolated to their own virtual network.

In addition, you need to have the SSH key in order to access the nodes via SSH. Which adds another layer of security. You can limit this access further by using Access Control on the AKS cluster

![image](https://user-images.githubusercontent.com/32313503

[2018-09-04 18:15] usavilaje commented on #9346
@steelanddata   @markingmyname  I agree that VM's, which are just data, should be included in the Data Catalogue.  Please proceed.

[2018-09-04 18:17] YutongTie-MSFT commented on #14480
@SimonJHudson Hi, I have fixed this issue and you should see the change shortly. Thanks again for you feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 18:17] #14480 closed

[2018-09-04 18:17] MicahMcKittrick-MSFT commented on #14451
@login21 I generally see setting a external static ip takes 2-5 mins. Have you tried canceling the --watch command and rerunning it? Sometimes I find the property does not auto update.

[2018-09-04 18:18] JasonWHowell commented on #9346
@usavilaje Good idea for sure, but it isn't there today.

The best place to request new features is on the [user voice forum](https://feedback.azure.com/forums/906052-data-catalog) and vote on other good ideas. Please add the idea there.

We won't be able to comment on new feature requests and features changes here in the documentation pages though.

Thanks, Jason

#please-close

[2018-09-04 18:26] danimir commented on #10367
#please-close @Mike-Ubezzi-MSFT Page updated and issue addressed.

[2018-09-04 18:27] Mike-Ubezzi-MSFT commented on #10367
@gilherau We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 18:27] #10367 closed

[2018-09-04 18:27] mike-urnun-msft commented on #14314
Hi @BenGood We're glad to hear that you were able to find this info and appreciate you sharing it with us here. Surely, this will benefit and be helpful to others visiting this issue in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 18:27] #14314 closed

[2018-09-04 18:40] MicahMcKittrick-MSFT commented on #14458
@Rakshitakv what is the output of the mvn clean package ?

Does it succeed?

[2018-09-04 18:45] tfitzmac commented on #14415
@Anmolgan81 - thanks for this information. I am submitting a changed to the article.

[2018-09-04 18:46] #11928 closed

[2018-09-04 18:47] #9346 closed

[2018-09-04 18:50] jason-j-MSFT commented on #14463
@mpoeckl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:51] YutongTie-MSFT commented on #14486
@v-kydela Thanks for the feedback, I will investigate it and update the document properly.

[2018-09-04 18:51] jason-j-MSFT commented on #14477
@yodobrin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:52] jason-j-MSFT commented on #14478
@clark0820
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:52] YutongTie-MSFT commented on #14487
@LisandroSu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:53] YutongTie-MSFT commented on #14482
@sulmar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:53] YutongTie-MSFT commented on #14473
@dmc-tech Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:55] vit100 opened #14490 "Typo in documentation"
Wrong:
The **createServiceBusService** method also supports additional options, which enable you to override default topic settings such as message time to live or maximum topic size
Correct:
The **createTopicIfNotExists** also supports additional options, which enable you to override default topic settings such as message time to live or maximum topic size

---
#### Document Details

⚠ *Do not ed

[2018-09-04 18:56] YutongTie-MSFT commented on #14457
@Nitesh097 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:57] YutongTie-MSFT commented on #14456
@Aggror Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 18:57] YutongTie-MSFT commented on #14464
@jtuliani
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 19:07] Mike-Ubezzi-MSFT commented on #14331
One more note as I received some feedback:

Again, please let us know if you have additional questions.

[2018-09-04 19:09] #14415 closed

[2018-09-04 19:20] adubey8 opened #14491 "Data lifecycle through Managed Application"
The document needs to include few important sections:
- What is the data lifecycle for apps operating on Consumer subscription
- Examples of end-to-end sample application and what all operations could they perform on the Consumer data
- I want to create an application which will run on Consumer's subscription and interact with piece of their data. How do I test this setup when I am part of a subsc

[2018-09-04 19:32] jackchenquest commented on #14377
This custom script is just a demo code to show Invoke-WebRequest doesn't working in custom script extension.

Invoke-WebRequest is a useful function to retrieve web content, if it doesn't work in custom script extension, then it should be documented.

[2018-09-04 19:38] JasonWHowell commented on #14340
@rhpoon Sorry for the hours of troubleshooting.

I have updated the smart quotes “xyz” and replaced with straight quotes "xyz". Hope that is the right fix. I expect it will publish this afternoon.

Thanks, Jason

[2018-09-04 19:47] MicrosoftGuyJFlo commented on #14452
#please-close

[2018-09-04 19:47] jackchenquest commented on #14377
There could be many use case for Invoke-WebRequest in a initial custom script. for example:
To read a secret file
$secret=$(Invoke-WebRequest "https://firewalledsa.blob.core.windows.net/vmcredential/secret.txt").Content

To check a web server status
$webstatus = $(Invoke-WebRequest "https://mybuildserver.com").StatusCode

[2018-09-04 19:52] TravisCragg-MSFT commented on #14377
@MicahMcKittrick-MSFT this is a continuation of #14311, I can show you my repro if needed.

[2018-09-04 19:58] TravisCragg-MSFT commented on #14378
@munir94 That table shows the minimum Azure Stack version that is required for the RP. You should be able to deploy it on 1807. For further assistance with your deployment failures, please post on the [Azure Stack MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack).

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2018-09-04 19:58] #14378 closed

[2018-09-04 19:59] TravisCragg-MSFT commented on #14400
@omnimose Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:04] Mike-Ubezzi-MSFT commented on #14490
@vit100 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:05] sethmanheim commented on #14490
@Mike-Ubezzi-MSFT Please assign to @spelluru

[2018-09-04 20:06] Mike-Ubezzi-MSFT commented on #14490
Reference: In the [Create a topic](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-topics-subscriptions#create-a-topic) section, the folloing paragraph needs to be updated:

The `createServiceBusService` method also supports additional options, which enable you to override default topic settings such as message time to live or maximum topic size.

[2018-09-04 20:07] Mike-Ubezzi-MSFT commented on #14191
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 20:07] #14191 closed

[2018-09-04 20:08] TravisCragg-MSFT commented on #14403
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:09] Juliako commented on #14380
I removed the link for now

[2018-09-04 20:09] Juliako commented on #14380
#please-close

[2018-09-04 20:09] #14340 closed

[2018-09-04 20:16] curtand commented on #14455
@MarileeTurscak-MSFT
This is mine, Marilee.
@curtand

[2018-09-04 20:16] TravisCragg-MSFT commented on #14405
@Vincent0818 These issues are designed for questions or issues regarding Azure documentation. For future questions, your best place to ask them is the[ Azure Networking MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork).

You can do either, and the main difference will be how you route your traffic and the potential latency difference for traffic

[2018-09-04 20:20] ghogen commented on #12716
OK to close this now, I think. #please-close

[2018-09-04 20:31] iainfoulds commented on #14448
@badalk Thanks for the question. _Adding_ tags is fine. As you note, that's common behavior to keep track of resources. You are then free to modify or delete those custom tags.

What's not supported is modifying or deleting the existing tags assigned by the Azure platform. A VM that is part of an AKS cluster includes tags for the ACS version, Kubernetes version, associated nodepool and resource gr

[2018-09-04 20:33] #12716 closed

[2018-09-04 20:38] YutongTie-MSFT commented on #14486
@noellelacharite Hi, can you please check this issue? In Azure portal, the default setting of endpoint is V1, which should be V2 according to the document.
![image](https://user-images.githubusercontent.com/38084098/45056466-d5be8680-b047-11e8-90f9-2de2cd5e4832.png)

[2018-09-04 20:39] jason-j-MSFT commented on #14217
@tsrob50 I believe the doc you are looking for is here:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-custom-fields

We are closing the issue for now but feel free to add comments as needed.

[2018-09-04 20:39] #14217 closed

[2018-09-04 20:40] YutongTie-MSFT commented on #13658
@vashish76 Can you please you are using a right key of Computer Vison? Please check the following document and make sure you are using CV key. https://blogs.msdn.microsoft.com/kwill/2017/05/17/http-401-access-denied-when-calling-azure-cognitive-services-apis/

[2018-09-04 20:42] Mike-Ubezzi-MSFT commented on #14341
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:43] jason-j-MSFT commented on #14409
@ashishthaps this looks like a documentation bug, could you take a look?

[2018-09-04 20:43] Mike-Ubezzi-MSFT commented on #14341
Verified that what is in the documentation is not what has been provided by the customer.

[2018-09-04 20:43] SaurabhSharma-MSFT commented on #14466
@derekharkin Yes, that is correct as per the other documentation [Client apps]( https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/conditions#client-apps)  as well.

[2018-09-04 20:45] Mike-Ubezzi-MSFT commented on #14393
@hiesus Thank you for providing the solution to your issue. I will forward this to the content owner to evaluate if adding this detail to the documentation is warranted. Regards, ~Mike

[2018-09-04 20:48] Mike-Ubezzi-MSFT commented on #14417
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:48] MohitGargMSFT commented on #14404
@bubbletroubles I can verify. Yes it seems ' is allowed as valid character for user name. I will assign this issue to content author to further investigate and update the document accordingly.

[2018-09-04 20:53] TravisCragg-MSFT commented on #14464
@jtuliani Thanks for the feedback! you are correct, the extension will install itself automatically.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 20:54] Karishma-Tiwari-MSFT commented on #14472
@hpcre Are you using cloud service and referring to the VM used as role instance for your cloud service?
Also, it looks like the document you are referring to is this one - https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-sizes-specs and not the one you opened the issue on. Is that right?

[2018-09-04 20:55] Mike-Ubezzi-MSFT commented on #14435
@jpchauhan Would it be possible to post this recommendation to the [Azure Data Warehouse User Voice forum](https://feedback.azure.com/forums/307516-sql-data-warehouse). I do not see this request there, which is an efficient means for making such requests. This channel is intended to address documentation issues and enhancements. I am going to forward this this on as an enhancement request to the c

[2018-09-04 20:57] #14448 closed

[2018-09-04 20:57] Mike-Ubezzi-MSFT commented on #14443
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 20:57] #14443 closed

[2018-09-04 20:59] iainfoulds commented on #14374
Thanks for getting in touch, @siudeks. I already have a doc update that should clarify some of this, which should publish in the next week.

What actually happens is that you are assigned a public IP address for the lifespan of the ingress controller. That address is technically static, yes. But, if you delete that NGINX controller, the public IP address resource is deleted, and the address is ret

[2018-09-04 20:59] JMcConahie opened #14493 "Upper Load Threshold Description is confusing"
The description for Upper Load Threshold says "If the average load of all partitions of the service is lower than this value, then the service will be scaled out." Should it say "higher than this value"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e07cf860-f9d3-201b-72a2-6ba7756b649c
* Version Independent ID: dee19b

[2018-09-04 21:02] JasonWHowell commented on #14409
@pohnczek LOL at that acronym. Thanks for catching this typo. I'll fix it for publication this afternoon around 3pm. Thanks~ Jason

[2018-09-04 21:06] SHAGGAR opened #14494 "Incorrect license requirement and broken link"
There are two errors in the sentence: "There is no additional charge for Office 365 customers, and it can be enabled by following the steps in our Get started with password management guide."
The first error is the claim that there is no additional charge for office 365 customers to do self service password resets.  This is incorrect as sspr requires at least an azure ad p1 on top of any 365 licen

[2018-09-04 21:07] ChrisSfanos commented on #14316
Hey @rocifier - can you let me know the exact repro steps for this?  And if you can email me the log file (webpi@microsoft.com), I will take a look.

[2018-09-04 21:09] davidmu1 commented on #12850
Unfortunately, the article was in error when calling out support for javascript. I have removed mention of it.

#please-close

[2018-09-04 21:09] peddabavisriram opened #14495 "Log analytics currently works only for public Basic load balancers. this has to be corrected i believe if i am not wrong."
Log analytics currently works only for public Basic load balancers. Logs are only available for resources deployed in the Resource Manager deployment model.

this has to be updated as i see the below.

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-04 21:10] MarileeTurscak-MSFT commented on #14427
We have these related sample files for reference: https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios/aadb2c-ief-setup-adfs2016-app

And these Azure Samples, which might be what you are looking for: https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios

Other than these I suggest you dig through githu

[2018-09-04 21:13] hpcre commented on #14472
Hello,

I just went to the end of the page i was reading and clicked on "sign in to
give documentation feedback"

I'm using Azure directly from the Azure CLI. My comment is that i could
change vm size from cli, so i don't understand the statement on this page
that vm size can't be changed.

On Tue, 4 Sep 2018, 22:54 Karishma Tiwari - MSFT, <notifications@github.com>
wrote:

[2018-09-04 21:13] MicrosoftGuyJFlo commented on #14494
Self-Service Password Reset for cloud users is included for Office 365 customers.

You are correct if you are referring to Self-Service Password Reset/Change/Unlock **with on-premises writeback**. Any time you want to include an on-premises user who is synced to the cloud they require Azure AD Premium licensing.

More information about licensing can be found in the licensing article below
https://

[2018-09-04 21:15] MohitGargMSFT commented on #14421
@0marni Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-09-04 21:16] Mike-Ubezzi-MSFT commented on #14491
@adubey8 Thank you very much for providing documentation feedback and your interest in Azure. Can you please provide a link to the specific documentation you are referring to? It wasn't identified when you created this recommendation. Once it has been posted, I can move forward with this request. Regards, Mike.

[2018-09-04 21:17] MohitGargMSFT commented on #14381
@jongiddy We will proceed to close this thread. Please let us know if you have any further query in this regard.

[2018-09-04 21:18] Mike-Ubezzi-MSFT commented on #14476
@Nombril Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 21:25] YutongTie-MSFT commented on #14488
@Shreelekha19 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 21:27] JasonWHowell commented on #14371
@mamccrea Please consider an example similar to this in the JSON parsing doc. Thanks, Jason

[2018-09-04 21:28] Mike-Ubezzi-MSFT commented on #14181
@ShawnXxy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 21:28] #14181 closed

[2018-09-04 21:28] JasonWHowell commented on #14184
#please-close

[2018-09-04 21:30] derekharkin commented on #14466
Thanks for the confirmation

On Tue, 4 Sep 2018, 21:43 SaurabhSharma-MSFT, <notifications@github.com>
wrote:

[2018-09-04 21:31] SaurabhSharma-MSFT commented on #14468
@minhaj-dell That is not correct and you don't have to do that.  Purpose of federated sign-in is to get you authenticated through the on-premise ADFS server and application proxy resides on-premises network which allows ADFS to be accessible from external users.  Please refer to other documentations - [Integrate your on-premises directories with Azure Active Directory](https://docs.microsoft.com/e

[2018-09-04 21:43] #14409 closed

[2018-09-04 21:46] jmhmaine opened #14497 "Received Notice but Current IP and Virtual IP are the same"
We received the notice but the current IP and Virtual IP are the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05cdb94-c985-242c-1460-b16b1ed2df5d
* Version Independent ID: 1254aa45-6289-6553-06e5-38766c89d017
* Content: [How to prepare for an inbound IP address change - Azure](https://docs.microsoft.com/en-us/

[2018-09-04 21:49] prabh-62 commented on #14385
@AnilKongariMSFT
I understand that ZipDeploy can only deploy to `\home\site\wwwroot`. My question is, I am using VSTS CI/CD to automatically update website on Azure App Service. I have multiple aspnet core apps on same AppService. At one time, I need to push and update only one aspnetcore project and don't want to overwrite existing projects. How can I achieve this if not through ZipDeploy?

[2018-09-04 21:58] tfitzmac commented on #14457
@Nitesh097 - the best way to verify whether you can move resources is to run the [Validate Move operation](https://docs.microsoft.com/rest/api/resources/resources/validatemoveresources).

Or, you can look at the current article which lists the Azure services that support the move operation. You would need to look at the service for each resource type that you listed. For example, you can determine

[2018-09-04 22:02] YutongTie-MSFT commented on #14493
@JMcConahie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 22:06] tfitzmac commented on #14416
@Anmolgan81 - you can run the [Validate move operation](https://docs.microsoft.com/en-us/rest/api/resources/resources/validatemoveresources) to assess whether the move will succeed. I am adding a section to this article about that operation.

[2018-09-04 22:06] andrewdialpad opened #14498 "Clarification on preferred_username claim"
Azure AD v1 had a 'upn' claim in the id token, but v2 only has email and preferred_username. From a quick look, preferred_username seems to match the user's upn.

The documentation states about preferred_username: "Since it is mutable, this value must not be used to make authorization decisions."

Our system allows customers to pre-provision user accounts given an email address. Later we try to ma

[2018-09-04 22:09] Mike-Ubezzi-MSFT commented on #14184
@ShawnXxy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 22:09] #14184 closed

[2018-09-04 22:13] YutongTie-MSFT commented on #14484
@davidekarasek Thanks for the feedback. We will investigate it and we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 22:13] #14484 closed

[2018-09-04 22:15] MicrosoftGuyJFlo commented on #14494
#please-close

[2018-09-04 22:26] Mike-Ubezzi-MSFT commented on #14197
@imhashir Apologies for the delay in getting to this issue. There was an outage today in Azure that is still being reconciled, and given the time necessary to set-up a an Azure Blockchain Workbench, I found the following information on the Blockchain Collaboration site:

[Azure Blockchain Workbench - Unable to "Add a member"
](https://techcommunity.microsoft.com/t5/Blockchain/Azure-Blockchain-Work

[2018-09-04 22:28] Mike-Ubezzi-MSFT commented on #14371
@eugen-nw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 22:28] #14371 closed

[2018-09-04 22:37] YutongTie-MSFT commented on #14494
@SHAGGAR
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-04 22:37] #14494 closed

[2018-09-04 22:38] msangapu commented on #5444
Hi @BryanTrach-MSFT. I've pushed the changes and it should take effect tomorrow morning ~10am PST.

[2018-09-04 22:38] msangapu commented on #5749
Hi @BryanTrach-MSFT. I've pushed the changes and it should take effect tomorrow morning ~10am PST.

[2018-09-04 22:39] mike-urnun-msft commented on #14085
Hi @VenkatGowrishankar Thanks again for reporting this issue. We have validated and corrected this and the change will reflect after our next merge occurs. We identified other issues, such as having to [add "resource" and "client_id" as "key, value" pair as an additional parameters](https://social.msdn.microsoft.com/Forums/vstudio/en-US/767bbd28-86a5-4af4-be0a-fb4838bfdfb1/echo-api-with-oauth2-tal

[2018-09-04 22:39] #14085 closed

[2018-09-04 22:39] YutongTie-MSFT commented on #14495
@peddabavisriram Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-04 22:45] Adam-Smith-MSFT commented on #14364
@sureshrajan77 I wanted to check, was the key used still valid when you got this error message ? If it was still valid, I'd recommend posting and issue in this repos since this one is mainly documentation related: https://github.com/Azure/azure-storage-net/issues/
Please add the issue # here so we can track it back in case if it's a product bug.
We will now proceed to close this thread. If there a

[2018-09-04 22:45] #14364 closed

[2018-09-04 22:48] mike-urnun-msft commented on #14158
Hey @ar-tama Could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) and include its URL here pls? Please tag me here in your reply with @mike-urnun-msft handle

[2018-09-04 22:52] MarileeTurscak-MSFT commented on #14428
Hi @mchudinov , if you don't specify one, SAML11 is the default. However, you can specify your own OutputTokenFormat as laid out in this document: https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/Features%20part%206.md

[2018-09-04 22:54] MicahMcKittrick-MSFT commented on #14470
@badalk we had another user reach out regarding ARM templates in #12447 I suggest checking out that issue as well as it has some links and examples.

You do not need to deploy an ingress controller for your cluster if you do not want. When you deploy a cluster a load balancer is already created which you can use to route traffic to your services. This is just an example of how to create an ingress

[2018-09-04 22:59] MicahMcKittrick-MSFT commented on #14493
@JMcConahie thanks for this find! You are correct :)

I have submitted a fix. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-09-04 23:02] sureshrajan77 commented on #14364
It works as expected, earlier the issue occurred due to Wrap, Unwrap option was not chosen at azure policy setting configuration for encryption/decryption.

Thank you so much for your response. Indeed, this issue can be closed.

[2018-09-04 23:02] Grace-MacJones-MSFT commented on #14248
Hi @v-maroge, daily backups are unlimited for all plans including the Isolated Service Plan. However, you get more disk space (1TB) for the Isolated Service Plan than the Standard Service Plan (50 GB).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-04 23:02] #14248 closed

[2018-09-04 23:03] TravisCragg-MSFT commented on #14495
@peddabavisriram Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-04 23:08] v-maroge commented on #14248
さちさん

お疲れ様です。Isolated Planのデイリーバックアップは無制限で間違いないようです。
お客様へのご案内よろしくお願いします：）

まりか

From: Grace-MacJones-MSFT <notifications@github.com>
Sent: Tuesday, September 4, 2018 4:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marika Rogers <v-maroge@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Daily backup limits for Isolated service pla

[2018-09-04 23:22] cameronattard opened #14500 "User Provisioning Limitations?"
We're currently finding that only a few of our roles using the IDP are syncing back to AAD via automatic user provisioning. So far we haven't been able to identify why this is happening - there are no errors logged. What kind of filtering does the user provisioning do to the roles returned by ListRoles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-09-04 23:25] patpicos opened #14501 "Function name mismatches screenshot"
The screenshot shows a function alias of sentiment1 whereas the code uses sentiment(). Please align the two

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8a0339-c3f9-ce89-afe9-d261f5b24fdc
* Version Independent ID: 555607fd-ccd2-c35c-1c6b-1d22675a406e
* Content: [Azure Stream Analytics integration with Azure Machine

[2018-09-04 23:35] CraigHumphrey opened #14502 "Running as System may not work with Authenticating Proxys"
The File Sync related services run under the System account, which may not be able to work through an authenticating proxy.

So you may need to put credentials into the config files mentioned, which is not ideal.

Is there a chance that this service could run under specific credentials in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-09-04 23:38] CraigHumphrey commented on #14324
Hey Adam,
thanks for that.  Yes, I did end up logging this with Azure support.  Though about two hours after I did, the syncing started to work...
I'm now playing with the Proxy configs to see if I can get it working through our Authenticating Proxy, but having credentials in .config files isn't ideal.
Note: I have it running at the moment via Fiddler, without authentication, which is far from ide

[2018-09-04 23:44] tfitzmac commented on #14407
@ShubhaVijayasarathy or @xurui203 might have some insight about when to use Event Hubs directly with Azure Functions vs. using Event Grid to facilitate events between those services.

[2018-09-05 00:00] ishepherd opened #14503 "Questions"
Is the outage autodetected or is this a human decision by the Azure Ops team? What criteria/guidelines are used? (For example the [issues yesterday](https://mobile.twitter.com/AzureSupport/status/1037045999175327744). Was an outage triggered and why/why not?)

I thought Cosmos DB would (1) try to replicate it after the outage is resolved, (2) then put it to the conflict feed *if there is a conflic

[2018-09-05 00:01] JasonWHowell commented on #14501
@mamccrea Let's take a look at this screenshot mismatch. Thanks, Jason

[2018-09-05 00:02] SaurabhSharma-MSFT commented on #14498
@andrewdialpad Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-05 00:03] SaurabhSharma-MSFT commented on #14500
@cameronattard Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-05 00:43] Mike-Ubezzi-MSFT commented on #14171
@KloudEzy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 00:43] #14171 closed

[2018-09-05 00:52] tamram commented on #13841
@simeyla - Thanks, it's a good suggestion. I've made a note for us to clarify that in the content going forward.

#please-close

[2018-09-05 01:17] fhryo-msft commented on #13097
@Sambsamb , this script is not used to calculated used capacity. can you try this one for your purpose? https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-billing-size-powershell

[2018-09-05 01:27] cliffkoh opened #14504 "What is the default "logger" configuration in an empty host.json?"
The documentation page at https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring does not mention what the default is...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Funct

[2018-09-05 01:35] andresravinet opened #14505 "Prerequisites"
Is this a typo? Should it Windows? "To handle the extension on the VM, you need the Azure Linux Agent installed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a01146cd-ccd3-210d-66ee-d097ba958061
* Version Independent ID: d3726453-07cd-414e-cac8-49497b1540d6
* Content: [Azure VM extensions and features for Windows](h

[2018-09-05 01:36] sergaz-msft commented on #14263
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-05 01:36] #14263 closed

[2018-09-05 01:37] sergaz-msft commented on #14309
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-05 01:39] tamram commented on #11982
Thanks all - I am adding a note to the documentation to make this preview limitation more clear.

#please-close

[2018-09-05 01:43] sergaz-msft commented on #14328
@adwk67 sharing the [Tutorial: Develop a Java IoT Edge module and deploy to your simulated device](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-java-module).

Hope that helps :)!

[2018-09-05 01:43] sergaz-msft commented on #14328
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-05 01:43] #14328 closed

[2018-09-05 01:49] sergaz-msft commented on #14333
Thank you @tfitzmac 👍 .
@maheshinvent We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @tfitzmac in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-05 01:49] #14333 closed

[2018-09-05 01:59] BryanTrach-MSFT commented on #13860
@cephalin Can you please review @AlexKeySmith feedback to determine if the doc should be enhanced?

[2018-09-05 02:06] jmhmaine commented on #14497
It was option 3, but A record IP matched virtual IP.

On Tue, Sep 4, 2018, 7:23 PM Bryan Trach <notifications@github.com> wrote:

[2018-09-05 02:58] jeevansd commented on #14500
@cameronattard We only fetch the roles which are mapped to your Identity Provider. Other roles we dont need in Azure AD as they cannot be used while doing SSO.

[2018-09-05 02:58] jeevansd commented on #14500
#please-close

[2018-09-05 03:06] dcbrown16 opened #14506 "Support connecting via REST API?"
Does Cosmos DB support accessing Gremlin through REST API over HTTP as described below?
http://tinkerpop.apache.org/docs/3.0.1-incubating/#_connecting_via_rest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-7932-0a5a967e9b17
* Content: [A

[2018-09-05 03:18] cameronattard commented on #14500
Any idea why some roles mapped to the IDP are not being synced?

[2018-09-05 03:28] jasonwangnanjing opened #14507 "ingress-service as internal-load-balance does not pass traffic to ingress controller behind waf"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-05 03:45] jasonwangnanjing commented on #14507
Hi experts,
i am deploying system with aks. We are using waf and ingress.We expect traffice go though WAF->ingress->backend services.
I set up ingress service with
---
kind: Service
apiVersion: v1
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
  annotations:
     service.beta.kubernetes.io/

[2018-09-05 03:48] adamjbradley opened #14508 "Develop a Custom Control"
I understand that the custom control is not open for general development. I am working at a leading security company, how can we become a custom control provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76-a127be502170
* Version Independent ID: 7bbf1dc5-bd91-d03a-7939-439bfbee85c9
* Content:

[2018-09-05 04:26] #14458 closed

[2018-09-05 04:40] Anmolgan81 commented on #14416
But that will tell if resource will move or not, I need some tool that will analyse the csp subscription and look for dependence and judge the subscription according to those finding s do we have something like that?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Wednesday, September 5, 2018 3:36:17 AM
To: Mic

[2018-09-05 04:48] SCuffy commented on #12981
@FanrayMedia Spending Limits are not available for Pay as you Go subscriptions.

[2018-09-05 05:12] dcbrown16 opened #14509 "Switching private IP allocation methods"
Is the behavior for switching between dynamic and static private IPs the same on classic VMs as it is on ARM VMs?
Specifically,
Dynamic -&gt; Static: keeps the same IP unless a different one is specified
Static -&gt; Dynamic: keeps the same IP even if there are open IPs lower in the range
Information derived from:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-

[2018-09-05 05:14] archergod opened #14510 "India' is missing from the list"
In your Asia Pacific I didn't find the name of country like India. Really you don't have Indian map?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd8f5a8-7ecb-9ee8-0bc9-53b1c5949e41
* Version Independent ID: 32eb1cc8-893b-eb61-df92-717bf9f8d4a7
* Content: [Geocoding Coverage in Azure Maps](https://docs.microsoft.com

[2018-09-05 05:50] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 I am sorry it did not work out for you. This forum is for doc specific issues, I would recommend opening a post on Stack overflow to get the visibility of the developer community out there.

[2018-09-05 05:53] Karishma-Tiwari-MSFT commented on #13775
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 05:53] #13775 closed

[2018-09-05 06:37] msvijayn commented on #14392
@cconrado - In Azure documentation, we detail on the core functionality; specific scenarios based details like extracting computer details for Perf counter query based alert - are available through our MVP and [Microsoft TechCommunity](https://techcommunity.microsoft.com/) sites.

As we can only comprehensively state and explain the Azure alert functionality. Specific scenario queries, like yours

[2018-09-05 06:42] Karishma-Tiwari-MSFT commented on #14504
@cliffkoh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-05 06:54] bvenkisubbu opened #14511 "How to backup storage account in everyday 7 am?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-05 06:55] kazshi opened #14512 "max size of data source - any limitation for Linux?"
This is related #5841 - the data is as of August 2015, do we have more latest info?
I'm looking for the latest data for Linux specifically - any size limitation for Linux?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09-3d51d6

[2018-09-05 06:57] Karishma-Tiwari-MSFT commented on #14505
@andresravinet Thanks for bringing this to our attention. I have created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/50881)for this. Once this PR is merged, change will be live.

[2018-09-05 06:58] bvenkisubbu opened #14513 "How to recover storage account if accidental deleted storage account without raise request to azure support?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-05 06:59] kazshi commented on #14512
I found "For Azure IaaS VM backup, each VM can have up to 16 data disks, and each data disk can be up to 4095 GB."

[2018-09-05 07:02] kazshi commented on #14512
I found "For Azure IaaS VM backup, each VM can have up to 16 data disks, and each data disk can be up to 4095 GB." and I understand it applies to Linux VM aswell.   Closing.

[2018-09-05 07:02] #14512 closed

[2018-09-05 07:03] Jan-Olof commented on #14331
@Mike-Ubezzi-MSFT Thanks again for your answers. Appreciated. I haven't had time to experiment much yet, but I will.

One quick final question: If you set up IoT Edge at a place where only port 443 is open (not 5671 or 8883), will everything work like it should automatically (fall back to WebSocket) or do you have to configure something for this to work? (I mean the communication between EdgeHub/E

[2018-09-05 07:06] githitesh opened #14514 "Link doesn't work"
In Prerequisites section, the 'Create a Service Principal' link doesn't navigate to the appropriate section in the documentation. It appears as if it will redirect to a new page and seems broken, even though the section is on the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91b06b7d-2028-98a0-6039-bbb36ea2

[2018-09-05 07:10] vashish76 commented on #13658
Hi
I am not getting 401 error but 400 client error: Bad request for url

https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Handwritten

Do you have troubleshooting guide for it  ?

[2018-09-05 07:15] Nitesh097 commented on #14457
@tfitzmac The services which is listed by me is not present in Azure service list. It would be helpful if you update the list.

[2018-09-05 07:18] mrdfuse commented on #14447
@badalk plus, afaik the nodes are not maintained by microsoft, you'll still need to restart them yourselve after upgrades have been applied.

[2018-09-05 07:33] YutongTie-MSFT commented on #14502
@CraigHumphrey Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:36] YutongTie-MSFT commented on #14508
@adamjbradley Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:49] jurjenoskam commented on #14179
Hi @iainfoulds, thanks for your reply. I understand that with standard networking, the limits as you describe apply and that these aren't AKS maximums. However, when using Azure Advanced Network (which is Azure specific), the default limit is 30 instead of 110. It is this difference that triggered my question: what is the reasonable range when using advanced networking on the cluster?

[2018-09-05 07:49] YutongTie-MSFT commented on #14509
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:52] YutongTie-MSFT commented on #14510
@archergod Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:52] dimachernov opened #14515 "Manage owned groups by a guest user"
In the "Compare member and guest default permissions" table, it is says that guest users can manage groups they own, but I am having some issues what that.

I created a security group, invited a guest user (MSA) and made this user a group owner. When I access the group's members page under the guest user account, the Add Members button is grayed out as well as the Remove button from the context me

[2018-09-05 07:53] YutongTie-MSFT commented on #14506
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:54] YutongTie-MSFT commented on #14503
@ishepherd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 07:54] pedrr opened #14516 "Users and groups"
is it also supported to use device groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [What are conditions in Azure Active Directory conditional access?](https://docs.microsoft.com/en-us/azure/active-direc

[2018-09-05 07:55] m2804 opened #14517 "Missing Table Storage"
Under the Type of storage account --&gt; services supported  only three data services are mentioned. Azure Table storage comes under which service plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Independent ID: a93993be-f687-16e1-ff5b-b526699c009f
* Content: [Introduc

[2018-09-05 07:56] YutongTie-MSFT commented on #14501
@patpicos We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 07:56] #14501 closed

[2018-09-05 07:56] dominicbetts commented on #14393
Hi @hiesus, can you confirm whether you were using Visual Studio 2017 or Visual Studio Code when you tried the tutorial? Thanks, Dominic

[2018-09-05 07:57] cephalin commented on #5444
#please-close

[2018-09-05 07:57] cephalin commented on #5749
#please-close

[2018-09-05 07:58] dominicbetts commented on #13672
Ping @Mike-Ubezzi-MSFT

[2018-09-05 07:58] YutongTie-MSFT commented on #14507
@jasonwangnanjing Hi, can you please share which document or tutorial you are referring to for your issue? Thanks a lot. We look forward to your response.

[2018-09-05 08:00] dominicbetts commented on #14035
@pallavijadhav1429 - I'm going to request that we close this issue. If you have any follow up questions or would like to provide more information, please go ahead and reopen this issue. Thanks for your interest in IoT Edge and IoT Central.
#please-close

[2018-09-05 08:02] dominicbetts commented on #13957
Hi @manchejs0 - I'm going to request that this issue is closed. Please feel free to reopen it if you have any further questions about the File Upload tutorial. Thanks, Dominic
#please-close

[2018-09-05 08:08] jasonwangnanjing commented on #14507
Hi ,

I am referring to https://docs.microsoft.com/en-us/azure/aks/ingress.

[2018-09-05 08:14] jtuliani commented on #14464
Thanks. Does the auto-install also apply when creating a capture via PowerShell/CLI/REST API/template? Thanks!

[2018-09-05 08:48] Mike-EEE commented on #14389
Excellent, thank you for providing additional context @MichaelHauss.

I myself _think_ I understand the mechanics and dynamics at play here now, so I can start to get some sense of understanding on what a typical site might cost.  It took me writing in and hassling your team to get to that point, however.  The CDN offers a different level of complexity here as you are now offering hosting services

[2018-09-05 09:10] Usarshakya commented on #8702
Is problem solved? I am also going on through same issue. Can anyone help me out? The email address is not being passed over

[2018-09-05 09:29] femsulu commented on #14388
@tfitzmac any thoughts on the incomplete URL post-upload?

[2018-09-05 09:30] ChiefWiggum opened #14520 "GremlinServer and GremlinClient lifetime recommendations"
It would be great if you could add a comment regarding the lifetime of the `GremlinServer` and `GremlinClient`. For the _CosmosDB SDK_ you have the following list of [recommendations](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#sdk-usage) including the tip

Would you suggest the same pattern? Or maybe just keep a `GremlinServer` for the lifetime of the app and create a new `G

[2018-09-05 09:35] scarbon opened #14521 "Secrets and Azure Vault"
How does Azure Secrets come into play when deploying?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea439429-69f0-2878-495f-92cbaf61c789
* Version Independent ID: d9e2e3f9-8387-cde6-2042-93bae86645f0
* Content: [Visual Studio Azure resource group projects](https://docs.microsoft.com/en-us/azure/azure-resource-manager/

[2018-09-05 09:38] femsulu commented on #14394
@TravisCragg-MSFT this is more of an Azure Stack question. can you pls engage your contacts on Azure Stack to help unblock this issue?

[2018-09-05 09:41] jtuliani opened #14522 "Instructions to install VM extension don't work"
PS C:\WINDOWS\system32&gt; $AzureNetworkWatcherExtension = Get-AzureRmVMExtensionImage -Location WestEurope -PublisherName Microsoft.Azure.NetworkWatcher -Type NetworkWatcherAgentWindows -Version 1.4.13.0
Get-AzureRmVMExtensionImage : Artifact: VMExtension was not found.
ErrorCode: NotFound
ErrorMessage: Artifact: VMExtension was not found.
StatusCode: 404
ReasonPhrase: Not Found
OperationID : 338

[2018-09-05 09:52] femsulu commented on #14397
@alexeyshishkin01 , thanks again for the detailed feedback. Are you seeing the same behavior using the equivalent PowerShell cmdlets ?

@tfitzmac  looks like we have some inconsistencies the Azure CLI cmd for list Sizes & List SKUs.

[2018-09-05 09:53] jtuliani commented on #14522
PR submitted https://github.com/MicrosoftDocs/azure-docs/pull/14523

[2018-09-05 09:53] #14522 closed

[2018-09-05 09:54] femsulu commented on #14414
@tfitzmac can you please take a peek at this doc-enhancement request?

[2018-09-05 10:00] femsulu commented on #14416
@Anmolgan81 while your comment is valid, I believe it is out of scope for this doc. sounds like you are looking for a tool to validate within the context of the subscription and not the resource itself . this is more of a product feedback and will be great if you can share this feedback directly with the engineering team using this [link](https://feedback.azure.com/forums/281804-azure-resource-man

[2018-09-05 10:04] femsulu commented on #14432
assigning to @georgewallace to review & update the runbook sample as appropriate

[2018-09-05 10:06] femsulu commented on #14436
Hi @LisandroSu , any update on this please?

[2018-09-05 10:07] femsulu commented on #14439
@georgewallace any ideas if VSTS support is still on the roadmap?

[2018-09-05 10:10] femsulu commented on #14442
thanks @keithcharlie .

@arcotek-ltd hope Keith's update answers your question. we will now close this issue but don't hesitate to reply to @femsulu if you have any followup questions.

[2018-09-05 10:10] #14442 closed

[2018-09-05 10:18] femsulu commented on #14456
@rboucher may be helpful to add a note in the doc calling out future deprecation. thoughts?

[2018-09-05 10:35] vashish76 commented on #13658
@YutongTie-MSFT - Now I am receiving the following error after inputting right key for subscription key

HTTPError: 404 Client Error: Resource Not Found for url: https://westcentralus.api.cognitive.microsoft.com/vision/v1.0recognizeText?mode=Handwritten

Does it mean that the end point url is not accessible ? I have this endpoint mentioned in keys section

Plz suggest

[2018-09-05 10:53] alexeyshishkin01 commented on #14397
unfortunately, I don't use PowerShell - so the answer is: I don't know

[2018-09-05 11:01] femsulu opened #14526 "very well written."
This doc was easy to read.  Good flow and very informative on ACM's rich cost-analysis service  . cant wait to dive into the new version of ACM!! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7349e660-9bb8-9676-6e48-17796a97b674
* Version Independent ID: 3b80ab4a-f9c2-0b81-aa7b-99fff673d813
* Content: [Explore Azur

[2018-09-05 11:17] ampac28 opened #14528 "General question"
Does direct method payload message resides in IoT hub  as message .

[2018-09-05 11:32] mrbullwinkle commented on #14375
@Tulkis The management pack was released as a preview mp, and unfortunately never made it to general availability due to low adoption. There are no plans at this time to create a new SCOM management pack for Application Insights.

While there is not a new management pack you could certainly still monitor an application both with SCOM 2016 and Application Insights either via adding the appropriate

[2018-09-05 11:33] siudeks commented on #14374
Thanks a lot for the explanation

[2018-09-05 11:33] #14374 closed

[2018-09-05 12:09] login21 commented on #14451
Yes I did that. I waited for almost 25 mins and it was same.

[2018-09-05 12:44] gbaman opened #14529 "Table formatting is broken"
The table formatting in "Verify internet access" is broken. Likely just a Markdown formatting issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7406940a-16c5-d13d-5d53-c89bdb2854d9
* Version Independent ID: 15a859c7-5a36-7aa3-17d8-20b64299654a
* Content: [Prepare on-premises Hyper-V server for disaster recovery of

[2018-09-05 12:52] oleksandr-bilyk opened #14530 ""osProfile" should be in template json path path /properties/virtualMachineProfile/osProfile/"
"osProfile" should be in template json path path /properties/virtualMachineProfile/osProfile/
However in "Add all certificates to the virtual machine scale set osProfile" section "osProfile" tag is located in path /properties/osProfile/ (without "virtualMachineProfile" node.) In many samples I have seen "osProfile" node under "virtualMachineProfile". Is it mistake?

---
#### Document Details

⚠ *D

[2018-09-05 12:58] cconrado commented on #14392
Hi Vijay,

I understand, it's just the examples for it's use is there for the other
alert field payloads. But the search results example isnt and that's the
one I believe most people would need guidance on.

Also I was curious how you can send a web hook back to azure to change it's
alert status ?

Thanks

On Wed, Sep 5, 2018, 1:38 AM Vijay Nagarajan <notifications@github.com>
wrote:

--
Carlos Co

[2018-09-05 13:00] paulmackinnon-adv365 opened #14531 "Could not get build source upload URL"
Followed the steps as above, failed at "az acr build --registry $ACR_NAME --image helloacrbuild:v1 ."

I have tried this locally and in the cloudshell, the error given is; "Could not get build source upload URL"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c97db060-5c54-3b95-8382-59822b1d05b7
* Version Independent ID

[2018-09-05 13:26] hiesus commented on #14393
Hi Dominic.

With visual studio 2017.

At the beginning I tried Visual Studio code, but I could not successfully start debugging, so I change to Visual Studio with better results.

Best regards.

Enviado desde mi iPhone

El 5 sept. 2018, a la(s) 3:56 a. m., Dominic Betts <notifications@github.com> escribió:

[2018-09-05 13:34] tfitzmac commented on #14388
@ATGardner - The displayed URL is the full URL but it is protected so the contents of the file are not available to everyone. The query string parameters are the [SAS token](https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) that is required to access the file. Given that the output URL includes the SAS tok

[2018-09-05 13:42] bwren commented on #14217
Custom Fields still work the same way in the Azure portal using the current Log Search page.  They don't work in the Advanced Analytics portal, and the new Log Analytics page is still in preview.  We'll have appropriate guidance out for custom fields when it reaches general availability.

[2018-09-05 13:42] bwren commented on #14217
#please-close

[2018-09-05 14:01] iammatthew2 commented on #13957
@dominicbetts I'm getting the same error reported above. I'm seeing this on running the code example:
[code]

[2018-09-05 14:26] YutongTie-MSFT commented on #14515
@dimachernov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:27] sergaz-msft commented on #14407
Hello @Mike-EEE , as I explained above, it will always depend on your scenario. For example if you need to rapidly add a different third-party service to be notified whenever an event occurs, Event Grid simplifies event consumption. For costs calculation you can use https://azure.microsoft.com/en-us/pricing/calculator/ .

I will let @ShubhaVijayasarathy and @xurui203 comment on this.

Thank you.

[2018-09-05 14:29] YutongTie-MSFT commented on #14526
@femsulu Thanks Femi! Glad to know our document help you well! We will now proceed to close this thread.

[2018-09-05 14:29] #14526 closed

[2018-09-05 14:30] YutongTie-MSFT commented on #14521
@scarbon Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:32] YutongTie-MSFT commented on #14514
@githitesh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:34] YutongTie-MSFT commented on #14531
@paulmackinnon-adv365 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:35] YutongTie-MSFT commented on #14520
@ChiefWiggum Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:37] YutongTie-MSFT commented on #14530
@oleksandr-bilyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 14:41] YutongTie-MSFT commented on #14513
@bvenkisubbu Hi, you might be interested in the [AzCopy ](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy#blob-copy)tool to help with this. Possibly[ Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup) would be worth looking at too. We are currently investigating and will update you shortly.

[2018-09-05 14:43] YutongTie-MSFT commented on #14511
@bvenkisubbu Hi, you might be interested in the AzCopy tool to help with this. Possibly Azure Backup would be worth looking at too. We are currently investigating and will update you shortly.

[2018-09-05 14:45] JasonBSteele opened #14534 "Pricing page Action types do not map to those on this page"
From the Pricing Page:
Pricing details
Every time a Logic App definition runs the triggers, action and connector executions are metered.

PRICE PER EXECUTION
Actions	£0.000019
Standard Connector	£0.000094
Enterprise Connector	£0.000746

But there is no explanation on this page as to which Actions are classified as "Action" and which are "Standard Connectors".
Are Built-Ins "Actions"? Are Managed C

[2018-09-05 14:48] abdurixit opened #14535 "iotHubName is not found"
I am getting following error message. Anything wrong with the code?

2018-09-05 14:45:30 INFO:  IoT Hub SDK for C, version 1.1.28
2018-09-05 14:45:30 ERROR: File:iothub_client_ll.c Func:IoTHubClient_LL_CreateFromConnectionString Line:836, iotHubName is not found

[2018-09-05 14:55] sergaz-msft commented on #14423
@developersenakim what is the result when you run Visual Studio Code in Administrative mode?
Thank you!

[2018-09-05 15:10] sergaz-msft commented on #14438
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 15:12] Mike-EEE commented on #14407
Thank you for your continued patience and assistance here, team.  I understand that this will depend on the scenario, @sergaz-msft.  An example would be indeed a great starting point.  Please note that the intention here is not to solve the question for me in this GitHub issue, but for providing additional content for your documentation to eliminate confusion for those who are reading and analyzin

[2018-09-05 15:12] alovera opened #14536 "Changing the Actor ID?"
There's no information here (or anywhere that I can find) on whether or not you can change the Actor ID once the actor has been created.  It appears to be read-only inside the actor service, but that doesn't always mean that it can't be changed by some other mechanism.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42b

[2018-09-05 15:28] sergaz-msft commented on #14453
@waqasahmedch we have several issues [reported on MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureblockchain&sort=relevancedesc&brandIgnore=True&searchTerm=401) similar with yours. Did you have a look there already?

- A 401 usually indicates that your bearer token has expired.

Let us know if this info helped?
Thank you!

[2018-09-05 15:40] axisc opened #14537 "List of services (Base/Standard/Premium) for which Service Tags are available"
It helps to have a list of Azure offerings (Base/Standard/Premium) for which Service Tags are available. We got a customer query regarding this.

For e.g.
Service Tags are not available for Standard Service Bus Messaging - only for Premium.
Service Tags are available for Event Hubs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-09-05 15:48] iammatthew2 commented on #13957
Actually, this was user error on my part. This is now working for me.

The issue was that I had not completed the process in the azure portal where you setup the storage container for the IoT Hub file upload. So basically I had no storage container associated with my hub. But I do think a better error message would have helped. I suspect that is the origin of this issue for the original reporter a

[2018-09-05 15:49] darcyreimer opened #14538 "Diagram incorrect?"
The diagrams show that the "Ocean View" term is a "should," but is it not a "must" because of the + sign in front of the search terms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1842b50c-636d-0489-4ba6-7237b7edcf4b
* Version Independent ID: acf02d51-2ed2-81cd-97a5-0127cb061f17
* Content: [Full text search engine (L

[2018-09-05 15:50] sergaz-msft commented on #14454
Hello @gauravagarwal28 ,

As long as the **owner CA** is [trusted at the OS level.](https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-create-transparent-gateway-linux#os-level), you would just need to [initialize the IoT Hub device sdk with a connection string referring to the hostname of the gateway device](https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-create-transparent-gateway-lin

[2018-09-05 15:54] jeevansd commented on #14500
@cameronattard Please make sure that mapping of the Role and IDP is correct. Then it will sync all the roles. If you are not sure then you can stop the provisioning and start again.

[2018-09-05 16:01] YoDaMa commented on #14309
Hi apologies looks like my initial response did not go through.

In the steps working with the IoTHub Workbench for VSCode, there are prompts given to the user that do not align with the prompts in the guide.

**In this step:** Click F1 to open the command palette, type and select IoT Workbench: Device, then select Config Device Settings > Select IoT Hub Device Connection String

**Observed Behavi

[2018-09-05 16:05] sergaz-msft commented on #14482
@sulmar I am not sure if this is related but are you in the latest firmware version?

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#upgrade-to-the-latest-firmware

![image](https://user-images.githubusercontent.com/22173500/45106066-a5511800-b12d-11e8-983e-9d2c1468f0d5.png)

The same documentation is placed here: https://microsoft.github.io/azure-iot-

[2018-09-05 16:07] blueelvis opened #14539 "The Timegrains & Categories arguments' plural names are now deprecated"
Hi,

I am receiving this warning along with others when trying to use `Set-AzureRmDiagnosticSetting` to setup diagnostic logs for an NSG -

[code]
The content above needs to be fixed to use these singular arguments.

Also, for some unknown reason, `Set-AzureRmDiagnosticSetting` doesn't seem to work. Using this command - `Set-AzureRmDiagnosticSetting -ResourceId $subnet.NetworkSecurityGroup.Id -Sto

[2018-09-05 16:08] BrainSlugs83 commented on #12971
Right, so my original post **_is_** regarding the issue I perceive to be present within the current documentation. (i.e. that following the documented steps results in a warning that is impossible to get rid of -- and that there is no workaround present in the documentation).

If the workaround you posted works for everyone else and just not me, then I recommend including it as a step in the docum

[2018-09-05 16:15] jtuliani opened #14540 "Next hop types don't match behavior seen"
The doc lists the various next hop types: Internet, Virtual Appliance, VirtualNetworkGateway, VnetLocal, VnetPeering, and None.

From the Azure Portal, I'm seeing a different type: 'VirtualNetwork'.

The doc should be fixed so the types listed match what the portal shows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-09-05 16:18] PatAltimore commented on #14453
@waqasahmedch

Here's some background on how blockchain workbench authenticates with AAD that may help you determine your issue. When you deployed workbench, you registered a client app with AAD.  This is what workbench uses to authenticate with AAD.  https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-deploy#blockchain-workbench-api-app-registration

A 401 is an unaut

[2018-09-05 16:30] MichaelHallak opened #14541 "DB2 for i 7.3 support?"
Hi There,

I'm helping an organization plan an upgrade to i 7.3 from i7.1, and would like to know if the db2 connector will continue to be supported for the new version. Can you confirm?

Thanks!
Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e62611c-d499-c2ab-c2f5-663cd6911757
* Version Independent ID: ad3a4b

[2018-09-05 16:31] SimonPuckeyAW commented on #14130
Sorry for delay replying @MikkelHegn , had a some other tasks to pick up. Also apologies if the info in my last message was confusing! To simplify: when I am running a container with Service fabric orchestration support on my local SF cluster any process running in the container (application code, ping etc) cannot resolve domain names. I think Im following guidance and dont think Im doing anything

[2018-09-05 16:35] iainfoulds commented on #14447
@badalk As others have noted, you can indeed close the SSH port in the network security group if you wish, just bear that in mind if you need to re-open access for troubleshooting or maintenance. The nodes are not directly maintained by Microsoft other than automatic updates being applied to them. You still need to perform manual reboots if they are required by the system.

[2018-09-05 16:45] Adam-Smith-MSFT commented on #14513
@bvenkisubbu , there isn't a way to recover data unless if you have adopted preventive measures, such as the ones mentioned in this link, under Storage:https://docs.microsoft.com/en-us/azure/architecture/resiliency/recovery-data-corruption
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 16:45] #14513 closed

[2018-09-05 16:47] mumian commented on #14521
See https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-keyvault-parameter.

[2018-09-05 16:47] MarileeTurscak-MSFT commented on #14427
Let me know if this helps! I'm closing this out for now, but feel free to leave a comment or open a new issue and I will gladly continue the discussion.

[2018-09-05 16:47] #14427 closed

[2018-09-05 16:48] #14511 closed

[2018-09-05 16:48] MarileeTurscak-MSFT commented on #14428
I'm closing this out for now but please leave a comment or open a new issue if you would like to continue the discussion.

[2018-09-05 16:48] #14428 closed

[2018-09-05 16:51] manish-shukla01 commented on #10914
It mostly looks correct. Just one statement:
Example scenario
In the EA portal at the start of August you have €200k.
You want to purchase 100 E4_v3 VMs which has a total reservation cost of ~128k
(In the pricing calculator this cost for 100 E4_v3 is ~€264 as this includes SW cost)
"Just for RI, your total MC should go down by 128K. or if less MC is left, then it should go to overage by exact amou

[2018-09-05 16:53] MicahMcKittrick-MSFT commented on #14536
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 16:54] #14461 closed

[2018-09-05 17:04] Brenduns commented on #13243
@aricbernard  I apologize for this late update.  I worked with our engineering team and they identified some subtle changes for the content to attempt to better address your concerns, which were added about 16 days ago - though not initially tied to this github feedback item.

If you find the content still doesn't provide the guidance your seeking, please let me know, and provide as much detail as

[2018-09-05 17:08] kgremban commented on #14341
@vladislav-mitev The JSON provided in the article does match the "record" value in your sample. But you're saying that's not sufficient, that you want the whole message output? I'm not sure that it adds significant clarity to include the extra JSON formatting around each event type. If anything, maybe we could include a sample log in the "Read logs from Azure Event Hubs" section, after the sample

[2018-09-05 17:08] curtand commented on #14455
@MarileeTurscak-MSFT
Thanks! Should be able to fix this fast.

[2018-09-05 17:09] jason-j-MSFT commented on #14541
@MichaelHallak
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:09] YutongTie-MSFT commented on #14535
@abdurixit Thanks for the feedback! We are currently investigating and will update you shortly. At the same time, can you please share the document you are referring to, it will be helpful to us to solve your issue.

[2018-09-05 17:11] YutongTie-MSFT commented on #14517
@m2804 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:12] YutongTie-MSFT commented on #14529
@gbaman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:12] MicahMcKittrick-MSFT commented on #14447
Thanks @iainfoulds and @mrdfuse for the added comments.

@badalk I will close this for now but if you have additional questions just let me know and we can reopen and continue.

[2018-09-05 17:12] #14447 closed

[2018-09-05 17:13] #14493 closed

[2018-09-05 17:13] YutongTie-MSFT commented on #14534
@JasonBSteele Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:14] Karishma-Tiwari-MSFT commented on #14505
@RichardScheel As you have already submitted the fix [here](https://github.com/MicrosoftDocs/azure-docs/commit/3fc5f5c5fcfe853ba4fcc89fc3b207968d8baf7d ), I am deleting my PR.
I will close this issue once the changes are live.

[2018-09-05 17:14] Karishma-Tiwari-MSFT commented on #14376
@theBlueclouds Any updates?

[2018-09-05 17:16] Karishma-Tiwari-MSFT commented on #14334
@SteveLasker Can you please help with this customer's question on ACR roadmap?

[2018-09-05 17:16] Grace-MacJones-MSFT commented on #14534
@JasonBSteele Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:17] MicahMcKittrick-MSFT commented on #14377
@jpconnock can you help route this to the correct owner to looked into? I agree if this is not possible via CSE we should document it.

I tried to assign to listed author but does not appear in GitHub anymore.

[2018-09-05 17:18] Karishma-Tiwari-MSFT commented on #14316
@rocifier Can you please share the details asked in the above comment?

[2018-09-05 17:21] Karishma-Tiwari-MSFT commented on #12971
@jpconnock Can you please take a look, if we can cover it in the doc as doc enhancement?

[2018-09-05 17:26] Grace-MacJones-MSFT commented on #14538
@darcyreimer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-05 17:27] PatAltimore commented on #14453
@waqasahmedch I'm sorry.  I answered the wrong question for this issue. Sorry for the confusion. I was answering if you received an error in Workbench.

@sergaz-msft gave a better answer for your question.

Have you tried the REST API samples? https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench/rest-api-samples These can help show how to use Azure AD authentication and Wor

[2018-09-05 17:30] jackchenquest commented on #14377
I think this should be a fixable bug.  Invoke-WebRequest is a useful function and I don't see any reason why it shouldn't work in CSE.

[2018-09-05 17:32] SaurabhSharma-MSFT commented on #14466
@derekharkin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 17:32] #14466 closed

[2018-09-05 17:37] Karishma-Tiwari-MSFT commented on #14351
@gorgiare To clarify and dig deeper, can you please share if you are running the scripts as is, from the doc or do you also have some custom code running?

[2018-09-05 17:39] TravisCragg-MSFT commented on #13243
@aricbernard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-05 17:39] #13243 closed

[2018-09-05 17:41] tfitzmac commented on #14407
@Mike-EEE - here are some [pricing examples for Event Grid.](https://azure.microsoft.com/en-us/pricing/details/event-grid/). As you can see, the price for Event Grid can be inexpensive (in fact the first 100,000 operations each month are free), so that might not be a big factor in your decision. Instead, I would focus on your scenario and look at the suggestions in the article that [compares messa

[2018-09-05 17:42] TravisCragg-MSFT commented on #14509
@dcbrown16 yes, that is correct. The big difference is that when you stop the VM, you will potentially lose your IP on Dynamic.

[2018-09-05 17:42] jpconnock commented on #12971
I will add a work item to our backlog to address this issue in our docs, and I'll follow up with engineering to see what they can do.  Thanks @Karishma-Tiwari-MSFT and @BrainSlugs83 !

[2018-09-05 17:43] femsulu commented on #5444
@JatinBavishi We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:43] #5444 closed

[2018-09-05 17:43] femsulu commented on #5749
@SteveBurkettNZ We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:43] #5749 closed

[2018-09-05 17:44] femsulu commented on #11982
@akuzhan We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:44] #11982 closed

[2018-09-05 17:44] femsulu commented on #12850
@matdcooper We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:44] #12850 closed

[2018-09-05 17:45] femsulu commented on #13503
@cap273 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:45] #13503 closed

[2018-09-05 17:46] femsulu commented on #13785
@lesca We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:46] #13785 closed

[2018-09-05 17:47] femsulu commented on #13841
@simeyla We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:47] #13841 closed

[2018-09-05 17:47] femsulu commented on #13957
@manchejs0 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:47] #13957 closed

[2018-09-05 17:48] namtazpro opened #14545 "Reference to OMS is out of date."
The article still references OMS but this is now out of date. OMS is no longer referenced in most recent Azure articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39704318-6aa1-18ed-99dc-f1ac9c98e421
* Version Independent ID: a5841317-9e6d-b117-f663-9aec1205552b
* Content: [Azure advanced threat detection](https:/

[2018-09-05 17:49] femsulu commented on #14179
@iainfoulds any thoughts on @jurjenoskam comments above?

[2018-09-05 17:49] Adam-Smith-MSFT commented on #14517
@m2804 Azure table doesn't have a specific service plan, but has a charge based on the storage capacity used and the type of redundancy.

Below is an overview for pricing for Azure Tables: More can be found **[here](https://azure.microsoft.com/en-us/pricing/details/storage/tables/)**
![tablespricing](https://user-images.githubusercontent.com/34456968/45111226-4a9dc900-b0f9-11e8-8110-854a38b209ce.p

[2018-09-05 17:49] #14517 closed

[2018-09-05 17:49] TravisCragg-MSFT commented on #14537
@axisc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 17:49] femsulu commented on #14035
@pallavijadhav1429 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:49] #14035 closed

[2018-09-05 17:50] femsulu commented on #14293
@beaubgosse We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:50] #14293 closed

[2018-09-05 17:51] femsulu commented on #14380
@meishanli We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:51] #14380 closed

[2018-09-05 17:51] femsulu commented on #14452
@mrik23 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:51] #14452 closed

[2018-09-05 17:51] Adam-Smith-MSFT commented on #14324
Thanks for the update Craig, I reached out to the internal team regarding the credentials/clear text in the config file, I'll close this issue and will keep you posted on #14502

[2018-09-05 17:51] #14324 closed

[2018-09-05 17:52] femsulu commented on #14460
@Anmolgan81 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:52] #14460 closed

[2018-09-05 17:53] femsulu commented on #14500
@cameronattard We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-05 17:53] #14500 closed

[2018-09-05 17:55] Anmolgan81 commented on #14460
@femsulu You can close this, but I haven't got the answer to my question. I dont know why you guys hurry so much in closing the issue, and you dont consider if the issue is resolved or not.

[2018-09-05 17:59] femsulu commented on #14460
@Anmolgan81 there is no rush to close your issue. I thought your question had been answered. the migration assessment tool may be a good way to validate your question but I can re-open if you feel your question hasn't been fully addressed.

@tfitzmac do you know if log analytics solutions can be  moved?

[2018-09-05 18:01] Anmolgan81 commented on #14460
@tfitzmac the question is not about the assessment tool here. Please look at this thread first, its about the Log Analytics solution supports move or not, as far as I know the log analytics has been listed in move operations, but there is nothing about the solutions there, may be that is something you can look at.

[2018-09-05 18:03] femsulu commented on #14526
@bandersmsft  - fyi

[2018-09-05 18:08] iainfoulds commented on #14179
@jurjenoskam Very much depends on your workloads :) There is no hard and fast response here. The default limit of 30 pods per node for advanced networking is to take into consideration the additional compute resources that may be required to process the virtual networking components. In the same way that 110 pods is considered the maximum recommended, I'd go with 30 being the maximum recommended u

[2018-09-05 18:12] Yahnoosh commented on #14538
Yes, that's a mistake, @HeidiSteen do you have the original diagram?

[2018-09-05 18:16] femsulu commented on #14460
@Anmolgan81, I understand the question you are asking. My only point here is that the doc was written to address resource moves. Perhaps we need a separate doc that addresses moving solutions that may using listed resources under the covers. AFAIK, this doc wasn't meant to address this but definitely good feedback for consideration in future docs.

@tfitzmac any thoughts here?

[2018-09-05 18:31] gorgi commented on #14351
Hi @Karishma-Tiwari-MSFT I just checked and I am using the exactly the same code.

[2018-09-05 18:34] pyoungberg opened #14548 "User doesn't see option"
I have a user on an iPhone 6S that doesn't see the option for Auto Backup. They're running the latest version of the app - 11.4.1. Is there a reason why this option would be missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3e97-a52f-85d3-c423e9664fdf
* Version Independent ID: 2778814f-fba7-97f3-039c-674

[2018-09-05 18:46] badalk commented on #14447
Thanks Iain and Micah. so in a way i look at it as a shared responsibility. i.e Microsoft updates the nodes automatically but customers needs to restart the nodes either manually or in automated way. But can you provide more details on what kind of updates are we talking about? Does this include OS, security, kubernetes updates / patches? e.g. If K8s 1.11 has released security updates / fixes for

[2018-09-05 18:56] tfitzmac commented on #14460
Log Analytics solutions support move, but in my test, I was not able to move solutions. This [article](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-faq#q-is-there-a-simple-and-easy-way-to-move-an-existing-log-analytics-workspace-to-another-log-analytics-workspaceazure-subscription) indicates data from a Log Analytics workspace can't be moved.

@MGoedtel - can you clarify whet

[2018-09-05 18:58] pisees opened #14550 "How do I find issues for a specific document that may have already been created?"
For example for https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md

[2018-09-05 19:01] TravisCragg-MSFT commented on #14539
@blueelvis I had no issues following the steps given in this article. You might want to update your Azure PowerShell modules and try this again.

[2018-09-05 19:02] TravisCragg-MSFT commented on #14540
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 19:06] pisees commented on #14550
Never mind, when to the bottom of the article and created an issue there: https://github.com/MicrosoftDocs/visualstudio-docs/issues/1486

[2018-09-05 19:06] #14550 closed

[2018-09-05 19:06] SaurabhSharma-MSFT commented on #14488
@Shreelekha19 Please refer to [Customizing claims issued in the SAML token for enterprise applications in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization) to customize the SAML claims.  You can also refer to [Azure AD token reference](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-id-and-access-t

[2018-09-05 19:07] Anmolgan81 commented on #14457
Hi @femaulu this is kind of important if you can test out the above services and let us know in 2-3, days that would be helpful, we have a customer who would like to know about all the azure services that supports move or not, so please kimdly let us know about the ETA.

[2018-09-05 19:10] Anmolgan81 commented on #14457
@tfitzmac the scenerio which you are talking about in your case i.e event grid, cant be true if ww talk about log analytics and its solutios, so solutions are also the part of log analytics workspace as far as I know they don't support move. Please don't mislead us in these cases, we would want to make sure if a service supports move or not.

[2018-09-05 19:13] Anmolgan81 commented on #14457
@femsulu @tfitzmac am not wrong if I say that you are in a rush to close the thread, you dont even consider in justifying yourself or your answers. Please reopen this as we would like to know about all the services that are listed in here that will supports move or not.

[2018-09-05 19:28] tfitzmac commented on #13284
@aindeevar and @allthedrones - if you have dead letter configured, and either 400 or 413 (Request Entity Too Large) is returned, the event is sent to dead letter. All other responses are retried.

I am adding that clarification to the article.

[2018-09-05 19:31] v-miclar opened #14553 "Topic is too long"
It needs to be subdivided and have child topics, such as:
- App listing best practices
- Marketing best practices
- Build an effective marketing campaign

Also be nice to have some media: graphics, flowcharts, screencaps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467c5737-af04-369d-b2a0-eaae886ad1d0
* Version Inde

[2018-09-05 19:52] seanmck commented on #13275
I was hoping to move it to the quickstart templates, but I just noticed that it's actually two templates, with an imperative step in the middle to grant the cluster SP access to the newly created vnet, so it's not going to be straightforward. I will just the restore the files as-is for now to unbreak the links.

[2018-09-05 19:52] MicahMcKittrick-MSFT commented on #14391
@iainfoulds I ran through this doc using kubernetes version 1.9.9 and I see the same thing as @akoval-jsp

In addition, when manually scaling the nodes they seem to stay in pending state

[code]

[code]

[code]

[code]
[code]

[code]

[code]

@iainfoulds do you have a contact in AKS we can reach out to in regards to this?

[2018-09-05 19:53] Karishma-Tiwari-MSFT commented on #14472
@hpcre The statement "It is not possible to change VM sizes directly from the portal or PowerShell", you are referring to, is in the docs for [Cloud services]( https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-sizes-specs):
and not in this windows VM doc. That's why I wanted to understand if you asking that question in reference to cloud services or in general Windows VM?

[2018-09-05 19:54] TravisCragg-MSFT commented on #14464
@jtuliani this auto-install only happens in the Portal. You will still need to manually install the extension when using other methods.

[2018-09-05 19:55] laoki commented on #5560
Rothja,

You wrote that using separate disks would probably give similar performance.
If you're using disk stripping, isn't this supposed to always give higher iops because of the pool of disks?

Can you get any more information about this regarding performance?

I have a client that I've recommended then to use a separate disk just for log files.
Today, I have discovered that they have a storage

[2018-09-05 19:59] seanmck commented on #13275
Should be fixed now. Can you double-check @iainfoulds?

[2018-09-05 20:02] iainfoulds commented on #13275
Thanks, @seanmck. The templates resolve correctly now. Let me know if you update the templates and we need to point docs to a different location.

@MicahMcKittrick-MSFT With the templates now available and resolving correctly, #please-close

[2018-09-05 20:02] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 Thanks for bringing this to our attention. We will share any further updates on this here.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 20:02] #12971 closed

[2018-09-05 20:04] pokorourk opened #14555 "customEmails property syntax"
I believe this:

"customEmails": "[variables('customEmails')]"

Should be this instead:

"customEmails": ["[variables('customEmails')]"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3b9fa00-b319-daa4-3bd5-1f83f96590d4
* Version Independent ID: 69d25f7e-30e4-0c6a-1d67-25e282d71a3c
* Content: [Create a classic metric

[2018-09-05 20:06] MicahMcKittrick-MSFT commented on #14451
@login21 thanks for confirming.

@iainfoulds I am seeing the same issue. Seems the external IP is stuck pending. Can you try as well?

Might be related to #14391 as well

[2018-09-05 20:06] TravisCragg-MSFT commented on #14473
@dmc-tech you will need to [create service principles for ADFS](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-create-service-principals#create-service-principal-for-ad-fs).

[2018-09-05 20:07] MicahMcKittrick-MSFT commented on #14470
@badalk I will close for now but if you have more questions let me know and we can reopen and continue.

[2018-09-05 20:07] #14470 closed

[2018-09-05 20:07] Karishma-Tiwari-MSFT commented on #14351
@gorgi Thanks for clarifying. This scenario is difficult to reproduce on my end. I would recommend sharing this to us next time when that error occurs so that we can have a support engineer look into exactly what happened in your subscription.

[2018-09-05 20:11] MicahMcKittrick-MSFT commented on #14447
@badalk It would be updates assoicated with the nodes. So that would mean an OS and security updates.

If kubernetes releases and update you will still need to do that yourself

https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-upgrade-cluster

[2018-09-05 20:11] TomArcher commented on #11330
@airwolfnh Sorry for taking so long to get back to you. From the Terraform PM, this cannot currently be done using Terraform. We are following up with the AKS team to see if they can modify their API to allow the specification of an NSG during creation.

As this is not a doc bug, I'm attaching the #please-close tag for our Issues team to close.

[2018-09-05 20:12] #13275 closed

[2018-09-05 20:12] #11330 closed

[2018-09-05 20:14] MohitGargMSFT commented on #14381
@jongiddy We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-05 20:14] #14381 closed

[2018-09-05 20:15] MohitGargMSFT commented on #14421
@0marni Please let me know if you need any assistance in opening Azure Support Ticket.

[2018-09-05 20:28] adubey8 commented on #14491
Thanks Mike, this was in regards to https://docs.microsoft.com/en-us/azure/managed-applications/managed-apps-quickstart-cli

[2018-09-05 20:34] MicahMcKittrick-MSFT commented on #14530
@oleksandr-bilyk this is not a mistake. If you review other examples of Scale Set instances you will see that the OS profile option is generally outside of the VirtualMachineProfile option.

https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-public-ip-linux/azuredeploy.json

This is because in a scale set there are multiple configurations that go into place as you are deployi

[2018-09-05 20:34] SaurabhSharma-MSFT commented on #11681
@alexvicegrab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-05 20:34] #11681 closed

[2018-09-05 20:36] JECROFT commented on #12809
Would this work? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management

[2018-09-05 20:36] JECROFT commented on #12810
Couldn't you also load it at runtime with the APIs?

[2018-09-05 20:38] YutongTie-MSFT commented on #13658
@vashish76 Hi, I have followed the tutorials and it works for me.
![1](https://user-images.githubusercontent.com/38084098/45119690-fd2d5600-b110-11e8-8f22-41dec8fde9f2.PNG)

You can run this quickstart in a step-by step fashion using a Jupyter notebook on MyBinder according to the document: https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/python-hand-text

[2018-09-05 20:46] MicahMcKittrick-MSFT commented on #14531
@paulmackinnon-adv365 I ran through this doc  but did not run into any errors building

[code]

Make sure the forked repo is not set to private.

![image](https://user-images.githubusercontent.com/32313503/45120084-03700200-b112-11e8-8f7c-67b198d07718.png)

And the URL to your GitHub repo is correctly set in the previous steps. If all else fails, I suggest remove the forked repo and running throug

[2018-09-05 20:48] MicahMcKittrick-MSFT commented on #14536
@alovera I am not aware of a way to change the ActorID

@vturecek can you comment on this? And if we cannot, maybe we can add a note in the doc to make this clear

[2018-09-05 20:50] Mike-Ubezzi-MSFT commented on #14491
@adubey8 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 20:55] LisandroSu opened #14557 "The brand name is wrong. The correct brand name is "direct" and not "Direct"."
@mike-neck commented on [Wed Sep 05 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/685)

[フィードバックをこちらに入力してください]

The wrong brand name "Direct" is used throughout the document. The correct brand name is "direct". All characters are lower cases. Please do not capitalize the first character.(https://direct4b.com/ja/)

ブランド名が間違えています。ドキュメントでは「Direct」と書かれていますが、すべてが小文字の「direct」が正しいブランド名です

[2018-09-05 20:56] LisandroSu commented on #14557
Hi team,

Please check on this issue

Thanks!

[2018-09-05 20:56] TomArcher commented on #12362
@iakko Per the Terraform PM, you can set a static IP in a loadbalancer using the following Azure provider: https://www.terraform.io/docs/providers/azurerm/r/loadbalancer.html
 
Does this answer your question?

[2018-09-05 20:56] hning86 commented on #14334
Hi, we are going to update the Azure ML services very soon and will deprecate the classic ACR as a dependency.

[2018-09-05 21:01] LisandroSu commented on #14436
Hi @femsulu Sorry for the delay. The document is https://docs.microsoft.com/nl-nl/azure/app-service/containers/app-service-linux-ssh-support.

It seems that the user edited his comment in the original issue and is missing that info. If you need it I can paste the original comment.

Thanks!

[2018-09-05 21:03] Mike-Ubezzi-MSFT commented on #13930
@dev151 I spoke with the product team:

Please let us know if this is still an issue for you.

Regards,
Mike

[2018-09-05 21:05] TomArcher commented on #12999
@paulmackinnon-adv365 et al. I've raised the issue with the Terraform feature team. Either they or I will reply to this as soon as we know something concrete. Thank you.

[2018-09-05 21:06] jason-j-MSFT commented on #14413
@MGoedtel I am seeing the same thing as reported in this issue.  I know Log Analytics has been changing a lot recently, do you have any guidance here?

[2018-09-05 21:07] tmaeller commented on #8409
Hi folks, just letting you know (finally):

1) I've confirmed with two SSO engineers here at 8x8 that the Identifier and Reply URLs in step 3 must both be entered as https://sso.8x8.com/saml2

2) I have enough access to our test Azure account to see that Azure is either much different on our account, or more likely that the interface has changed significantly since this doc was published. You migh

[2018-09-05 21:10] TomArcher commented on #13780
@mahaboob @glynastill Thanks for your feedback.
@kyliel @yuwzho Could you please look into this issue?

[2018-09-05 21:11] adpick commented on #12981
This service is deprecated and the article is badly out of date. @manish-shukla01 should be able to comment on the plan for an improved feature set in this space.

[2018-09-05 21:14] TomArcher commented on #13786
@nunix Thanks for the Issue. I've reached out to the Terraform feature team to get their input. I'll update this Issue when they reply.

[2018-09-05 21:17] MohitGargMSFT commented on #14515
@dimachernov Please try to assign the Guest user any directory role such guest inviter. Follow [this document ](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-users-assign-role-azure-portal) to do it. Once you assign relevant directory role, please login again to check if Add Member got enabled.

[2018-09-05 21:17] SteveLasker commented on #14334
Hey folks. Sorry for the delay as we engaged the ML team on the issue.
We are still working through the details.
Existing ACR Classic customers should migrate to Basic, Standard or Premium registries. While I appreciate there's a direct daily/monthly charge for these tiers, Classic wasn't free either. Customers paid for storage, with no SLA on the service.
The goal here is to have ML create regist

[2018-09-05 21:17] sergaz-msft commented on #14535
@abdurixit from the error messages shared it looks like the connection string is not well formed. As requested by @YutongTie-MSFT let us know the documentation you are following?

Thank you.

[2018-09-05 21:25] TomArcher commented on #13806
@johannesnormannjensen I've reached out the Jenkins feature team to see if they can provide guidance.

[2018-09-05 21:28] TomArcher commented on #14387
@ravikiran-srini Thanks for the feedback. I believe this issue has been resolved. Could you please try again, and let us know. Thanks!

[2018-09-05 21:33] MohitGargMSFT commented on #14516
@pedrr Yes, it will work for all groups synced or created in AAD Tenant.

[2018-09-05 21:39] jtuliani commented on #14464
Thought so, thank you!

[2018-09-05 21:43] sergaz-msft commented on #14309
Hello @YoDaMa thank you for coming back. Your feedback definitely help us improve the documentation :).

I know some changes were made after you opened this issue and other changes will be submitted soon.

I have assigned the issue to the content authors to evaluate and update as appropriate.

[2018-09-05 22:01] femsulu commented on #14553
@v-miclar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-05 22:01] rocifier commented on #14316
Yes, I have email the above email. Log is already in this thread above. Attaching steps here for reference:

1) Take a machine with Visual studio 2017 and Windows 10 Enterprise on it.
2) Install Azure Cloud tools via Visual Studio installer.
3) Click "Install the Microsoft Azure Service Fabric SDK" from the getting started guide for service fabric here: https://docs.microsoft.com/en-us/azure/servi

[2018-09-05 22:01] jeevansd commented on #8409
@chetansriv can you please make these changes in the doc?

[2018-09-05 22:04] Mike-Ubezzi-MSFT commented on #13672
@ampac28 This question is best served through the [Azure Stream Analytics User Voice](https://feedback.azure.com/forums/270577-azure-stream-analytics). Please let us know if you have any additional questions.

[2018-09-05 22:06] sergaz-msft commented on #14487
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 22:09] notanic opened #14558 "192.168.1.1/255 is not correct CIDR notation for an IP address"
It should be 192.168.1.1/32 if the intention is to have a mask of 255.255.255.255.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b48753-cabe-fe92-42de-21775f4f99c3
* Version Independent ID: 45a1fa90-c4f8-6d0b-e1a8-ed996de671eb
* Content: [Secure access to Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logi

[2018-09-05 22:10] sergaz-msft commented on #14510
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-05 22:26] minhaj-dell commented on #14468
@SurabhSharma thanks, I did review these links but don't have full clarification.  So I understand AD FS being important, with Web proxy I envision following:
1) User loads WAP page
2) Enters pin for smartcard
3) WAP redirects to AD FS
4) ADFS authenticates with AD and gets TGT
5) ADFS redirects to AAD with TGT.
6) AAD returns access token
7) ADFS generates another token in response to the token r

[2018-09-05 22:42] Mike-Ubezzi-MSFT commented on #14520
@robinsh @shizn Any chance you can assist with getting this in the hands of someone who can fix this tutorial?

[2018-09-05 22:43] Mike-Ubezzi-MSFT commented on #13718
@robinsh @xinshiMSFT Any chance you can assist with fixing this tutorial, or know someone who can address this?

[2018-09-05 22:48] minhaj-dell opened #14559 "Daemon acquiring access toke on behalf of the user"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-05 22:48] MarileeTurscak-MSFT commented on #14545
@namtazpro Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-05 22:48] IGx89 opened #14560 "Deployment slots"
The sentence "Function Apps doesn't yet support deployment slots." is incorrect, in that deployment slots are indeed available (in preview). Based on comments in GitHub issues however it seems that the support for deployment slots may be going away (ref: https://github.com/Azure/azure-functions-core-tools/issues/227#issuecomment-385532310), so it's possible that sentence should just be removed the

[2018-09-05 22:49] badalk opened #14561 "Static public IP for Ingress controller"
I have provisioned AKS cluster through ARM template. RBAC is enabled and also provided the server app id, secret, client app id and tenant in the aadprofile as shown below

        "aadProfile": {
          "clientAppID": "[variables('clientAppID')]",
          "serverAppID": "[variables('serverAppID')]",
          "serverAppSecret": "[variables('serverAppSecret')]",
          "tenantID": "[variab

[2018-09-05 22:52] MarileeTurscak-MSFT commented on #14548
@pyoungberg
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-05 22:56] minhaj-dell commented on #14559
I read the process of registering an daemon and using its App ID and Cert to acquire the access token on behalf of the user in order to call Web APi and gain other resources.  I am trying to understand how the user context in which the Daemon is established?  Are the APIs like AuthenticateContext in the background associating the Daemon access token request with a particular user?  This is importa

[2018-09-05 23:01] MicahMcKittrick-MSFT commented on #14560
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-05 23:01] jeevansd commented on #14557
@chetansriv Please fix the name issue here. Then Localization team will move the change to JP article.

[2018-09-05 23:04] MicahMcKittrick-MSFT commented on #14561
@badalk thanks for the feedback. I confirmed this behavior earlier on some other issues (Listed Below). We are investigating.

@iainfoulds same issue as #14561 and similar to #14391

I confirmed t

[2018-09-05 23:06] MicahMcKittrick-MSFT commented on #14391
#14451
#14391
#14561

[2018-09-05 23:07] MicahMcKittrick-MSFT commented on #14451
#14451
#14391
#14561

[2018-09-05 23:07] MicahMcKittrick-MSFT commented on #14561
#14451
#14391
#14561

[2018-09-05 23:12] TravisCragg-MSFT commented on #14394
@jhan40 You can find information about [Azure Stack and Identity Here](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-identity-overview).  I am researching now to find out if this is possible using an ADFS deployment, as well as the best way to accomplish this task.

[2018-09-05 23:19] jason-j-MSFT commented on #14413
@jungopro I was able to pin a chart:
![capture39](https://user-images.githubusercontent.com/37126381/45126236-42f51900-b127-11e8-9f13-6fc19f240430.PNG)
![capture38](https://user-images.githubusercontent.com/37126381/45126237-47213680-b127-11e8-8e5e-9fb18dc8a730.PNG)
![capture37](https://user-images.githubusercontent.com/37126381/45126273-818ad380-b127-11e8-9acc-b7fbaf36b3c7.PNG)

[2018-09-05 23:29] ellacroi commented on #14553
@qianw211 a feedback item from Mike on doc structure. Would you please take a look?

[2018-09-05 23:32] qianw211 commented on #14553
@ellacroi @v-miclar Hey, it's great to see Mike using the feedback system! :) I'll take a look at this... Thanks!

[2018-09-05 23:49] femsulu commented on #14555
@pokorourk Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-05 23:49] cherylmc commented on #11770
HI @Jeroen-Priester - thanks for your feedback. We're working on FAQ updates right now, so expect new information and updates for Ignite. Including clarification regarding ExpressRoute. I have that on the list now. Thanks again!

[2018-09-05 23:49] cherylmc commented on #11770
#please-close

[2018-09-06 00:00] TravisCragg-MSFT commented on #11770
@Jeroen-Priester We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 00:00] #11770 closed

[2018-09-06 00:02] TravisCragg-MSFT commented on #14357
It will not function properly until you create the loopback. What OS are you using? I can try to find some documentation on how to create a the loopback, but it can differ depending upon the OS .

[2018-09-06 00:03] TravisCragg-MSFT commented on #14311
@jackchenquest We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 00:03] #14311 closed

[2018-09-06 00:03] TravisCragg-MSFT commented on #14271
@abhiturbot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 00:03] #14271 closed

[2018-09-06 00:06] TravisCragg-MSFT commented on #11515
@Phydeauxman thank you for posting how you resolved the issue!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 00:06] #11515 closed

[2018-09-06 00:11] Karishma-Tiwari-MSFT commented on #14505
@andresravinet Thanks for bringing this to our attention. Changes are live now. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 00:11] #14505 closed

[2018-09-06 00:49] BryanTrach-MSFT commented on #14558
@notanic Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-06 01:03] aamer-s commented on #14446
The behavior is still the same for me:

I'm located in Adelaide, Australia (if it makes any difference)
The main article is : https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-quick-start

This is the URL I'm clicking:

![image](https://user-images.githubusercontent.com/29091687/45128932-ceba8400-b1bf-11e8-9694-e3b9e40ab29e.png)

And this is where I ge

[2018-09-06 01:11] Mike-Ubezzi-MSFT commented on #13718
@jimeilong @rubinstu @MBCO Possible solution to this issue is: For running sample, you must modify node version in app settings. Change value for "WEBSITE_NODE_DEFAULT_VERSION" to "8.9.4".

Can one of you test this out? Apologies for the delay on this. Regards, ~Mike

[2018-09-06 01:26] Mike-Ubezzi-MSFT commented on #13718
Please update the doc.

[2018-09-06 01:42] badalk commented on #11541
Folks when you  enable http routing, the addon deploys two components by default installs nginx ingress controller and external DNS controller. Whenever new service deployments are added it adds an a-record in the DNS zone -> refer http-routing-solution-overview section in this document

[2018-09-06 01:47] ecfan commented on #7862
@Bartolomeus-649 This article has been updated with the current UX and behavior. If there are other issues, please open a new GitHub issue. Thanks for letting us know so we could fix this.

@MicahMcKittrick-MSFT #please-close

[2018-09-06 02:00] #7862 closed

[2018-09-06 02:11] RanchMobile commented on #11515
Actually This Tutorial helped me and resolved the issue:
http://devchat.live/en/2018/07/02/how-to-map-url-path-based-rules-in-application-gateway-for-your-azure-web-app-service/

[2018-09-06 02:15] zer0sum opened #14564 "My Apps for Android directing to an incorrect link"
The link for My Apps for Android appears to have a broken: https://play.google.com/store/apps/details?id=com.microsoft.myapps

"My Apps for Android
My Apps for Android is supported on any Android device that is running Android version 4.1 or later.
It is available at the Google Play store."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-09-06 02:58] badalk commented on #14561
I dont know if this helps but i tried to look into the pods which are running for nginx-controller service in kube-system namespace and i see that one of the pods is in CrashLoopBackOff status as shown below..

 kubectl get pods -n addon-http-application-routing-nginx-ingress --namespace kube-system
NAME                                                              READY     STATUS             REST

[2018-09-06 03:11] dimachernov commented on #14515
@MohitGargMSFT  I assigned the Guest Inviter role and Add members  is active now, but I can't add any members.  No matter if I type an existing user or a new guest user in the "Select member or invite an external user" box, the box frame becomes red.

![image](https://user-images.githubusercontent.com/8929292/45130676-ee0bde00-b1cc-11e8-9391-d5d9d68f38f2.png)

[2018-09-06 03:16] bdcoder2 opened #14565 "Unable to read local.settings.json file when running Azure Function locally"
See: https://stackoverflow.com/questions/52194154/unable-to-read-local-settings-json-file-when-running-azure-function-locally

The weird part is I have one project (run locally) that can read the local.settings.json file and a second project in which the exact same code does NOT read the local.settings.json file.

I am stumped -- I have posted the code in my StackOverflow question.

---
#### Docum

[2018-09-06 03:59] kyliel commented on #13780
@mahaboob @glynastill Thank you for raising the issue. Where do you meet such an issue? In Cloud Shell or Ubuntu/CentOS/SLES? And I assumed you met such an issue when you try running rg.yml. Right?
I just had a try in Cloud Shell and did not see the error. Need your help narrow down the environment and how-to. Thank you.

[2018-09-06 04:25] CHDAFNI-MSFT opened #14566 "Log Analytics pricing clarification"
Can clarity be provided on if data generated by Security Center when using an 'EXISTING' log analytics workspace will incur a cost. Per this document, a new workspace that is created won't incur a log analytics cost "Workspaces created by Security Center do not incur Log Analytics charges"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-06 04:37] jpchauhan commented on #14435
Thank you. Posted in the forum -
https://feedback.azure.com/forums/307516-sql-data-warehouse/suggestions/35333992-dwu-calculator

[2018-09-06 05:17] jpchauhan opened #14567 "PowerShell Command"
Please add PowerShell command to check, if Compute is paused or in running state?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1afb09c2-de7b-8eaf-c9a9-d5fa2ba12a3d
* Version Independent ID: 2556d1af-f2c1-f0a4-9b75-849eee56a2b1
* Content: [Quickstart: Pause and resume compute in Azure SQL Data Warehouse - PowerShell](

[2018-09-06 05:34] jyzhang56 opened #14568 "Cannot update the AllowedVmSizesInLab policy through UI after login with the custom role"
Hello,

I have followed the documentation to create the custom role and assign it to a user.
After I logged in using the user with the custom role, I saw that the AllowedVmSizesInLab policy UI is still disabled for this user. I am not be able to update the policy.
How can I verify if the permission is granted to the user or not?

Thanks,
Amber

---
#### Document Details

⚠ *Do not edit this sectio

[2018-09-06 05:37] Karishma-Tiwari-MSFT commented on #14565
@bdcoder2 I would recommend trying the following:

1. First of all, try using `ConfigurationManager.AppSettings["test"]` in place of System.Environment.GetEnvironmentVariable( "test" ) and check if you are getting the expected result.

2. Make sure your local.settings.json file is marked to always be copied to the build output. (by right clicking on it in Visual studio). This will copy your files

[2018-09-06 05:48] VitorX opened #14569 "How can set and use IoTHub.StreamId?"
The IoTHub.StreamId is always null

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddf4c6b-8241-80b2-717b-ce3fe72e09c2
* Version Independent ID: 89d31103-4bbf-d16b-b485-a826af56c81a
* Content: [Stream data as input into Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-def

[2018-09-06 05:51] AnilKongariMSFT commented on #14385
@prabh-62, Thank you for more details around the scenario.

This can be done by custom deployment script with kuduscript tool by setting DEPLOYMENT_TARGET parameter as part of deploy.cmd, here are some high level steps on how to achive this

1. Install node.js, this is required to run the kuduscript tool
2. install the kuduscript tool
	npm install kuduscript -g
3. Go to the root of your repository

[2018-09-06 06:06] mrdfuse commented on #11541
Ok so if don't use the Azure DNS stuff, it's best to install your own nginx for ingress?

[2018-09-06 06:09] waqasahmedch commented on #14453
Dear All, Thanks for reply.  I have attached the line of the code where we are getting error while following REST API sample from github URL. Basically we are authenticated but unable to get list of applications. I have attached the source code as well. Thanks again for your kind help.

[Azure.Blockchain.FeedBack.zip](https://github.com/MicrosoftDocs/azure-docs/files/2355707/Azure.Blockchain.FeedB

[2018-09-06 06:24] HaripraghashSubramaniam opened #14570 "What does commitMode default do?"
Unclear on what commitMode "default" does

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-3851bd204bf2
* Version Independent ID: fefdb693-fb98-25a0-684c-d828bb709114
* Content: [Asynchronous refresh for Azure Analysis Services models](https://docs.microsoft.com/en-us/azure/analysis-services/analy

[2018-09-06 06:40] eddyzhu1980 commented on #10031
I got warning for this line "Some(M(map)) <- scala.collection.immutable.List(JSON.parseFull(niceResponse))". The warning is "Object JSON in package json is deprecated: this object will be removed". Can you please provide the correct code to replace this line? thank you.

[2018-09-06 06:56] femsulu commented on #14559
@minhaj-dell Thanks for your comment. Please share a link to the process document you referenced above.

[2018-09-06 06:57] NayangiriGoswamiGit commented on #14263
Hello @sergaz-msft ,
Sorry for delay,
I'm following this `https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning` link
My observation is,
Module-2, which is on edge and is ML module is listening on 127.0.0.1:5001.
According to logs from ML module, ML module is not able to get messages from M1 after around 24 0r 30 hours.
When I restart ML module everything works fine.

[2018-09-06 06:58] dmc-tech commented on #14473
Yes, that is clear, but can you be more precise in the connection example.  '--tenant <Azure Active Directory Tenant name. For example: myazurestack.onmicrosoft.com>' mentions AAD tenant only, not AD FS.
Also, when supplying the key generated for the Service Principal, it has to be in PEM format.  Nowhere in the docs does it indicate how you go about converting the certificate to the correct forma

[2018-09-06 07:01] femsulu commented on #14567
@jpchauhan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 07:02] femsulu commented on #14564
@zer0sum Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 07:05] femsulu commented on #14566
@CHDAFNI-MSFT Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 07:15] mehdipanjwani opened #14571 "Custom JSON payload option is missing"
Where is the "Custom JSON payload" option in webhook??? When creating action group, only webhook URI is available. Cant see custom json payload textbox anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-ea70-f747-80a9bc914fd7
* Content:

[2018-09-06 07:30] YutongTie-MSFT commented on #13284
@aindeevar
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 07:30] #13284 closed

[2018-09-06 07:59] pedrr commented on #14516
@MohitGargMSFT thanks for this info. Just to clarify. I want to scope a Conditional Access Rule to a specific synced user group and exclude some managed (but uncompliant) devices. Is this also supported to mix user and device groups in Include and Exclude settings?

[2018-09-06 08:03] bingosummer opened #14573 "What happens when changing the account type?"
I've noticed that it's supported to change the account type of managed disks and Azure Portal reports the change is successful right after I click the Save button.
My question is: will the content in the disk be copied when changing account type? especially from premium SSD to standard HDD? My original thought is the account type changing will cost several minutes.

---
#### Document Details

⚠ *D

[2018-09-06 08:10] suyogjainveritas opened #14574 "Pricing for writing data to Archive from Hot using SetBlobTier API."
If I want to write my data to Archive, I first have to upload it to Hot/Cool  and the execute SetBlobTier API to move to Archive.
Suppose I initially upload my data to Hot Tier, and instantaneously move it to Archive. Will I be charged for "Data Storage" on Hot? If yes, the how much?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-09-06 08:21] chrish619 opened #14575 "Need further documentation for Slot Swap / AppInitialization / WarmUp cycles"
Should probably look into integrating / adding some of the following issues / gotchas for slot warmup when using AppInitilization module

https://ruslany.net/2017/11/most-common-deployment-slot-swap-failures-and-how-to-fix-them/

(Note: I'm not the original author, but have found this valuable since it seemed this was the only place this information was available)

[2018-09-06 08:24] easkerov opened #14576 "Mistake in "Create NICs" section"
I believe there is a mistake in "Create NICs" section. Why do we need to associate every NIC with Public IP? We use Public IP here only as entry point for traffic for load balancer here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046b3b2d-59fb-c6f9-48ee-a22f739e001f
* Version Independent ID: 256a1e9a-ef16-ef66-a85f

[2018-09-06 08:27] zhiliangxu opened #14577 "Valid OAuth redirect URIs template is updated"
It seems that the Valid OAuth redirect URIs template has been updated to `https://login.microsoftonline.com/te/{tenant}.onmicrosoft.com/oauth2/authresp`. Could you please update the document? This change should also apply to all other identity providers' set up documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-09-06 08:37] girishgouda opened #14578 "Event grid subscription does not work for V2 runtime both for portal and VSCode"
Event grid subscription does not work for V2 runtime both for portal and VSCode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [Event Grid trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/az

[2018-09-06 08:38] girishgouda commented on #14578
Do we need to use only V1? When this will be fixed

[2018-09-06 08:42] Devilblessed opened #14579 "MacOS Sierra no longer supported"
please update the documentation. MacOS Sierra and El Capitan no longer work since 2018 July update. This is because they use TLS1.1 to create the IKEv2 tunnel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-d97ae4cac174
* Version Independent ID: 3e15f99b-2f2d-7adc-a2d9-0b2184989db7
* Content: [A

[2018-09-06 08:43] Devilblessed commented on #14579
and add the MacOS High Sierra to the supported MacOS

[2018-09-06 09:11] GitMaggie opened #14580 "Code error in script"
Function RESTAPI-Auth {
$global:SubscriptionID = $Subscription.SubscriptionId
======
This returns null -&gt;should be $Subscription[0].Subscription.Id ? or $Subscription.Subscription.SubscriptionId ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df391c1a-b718-0caa-6d03-30fbeba46731
* Version Independent ID: 276178e6-4

[2018-09-06 09:11] vivekjainAco commented on #13357
@BryanTrach-MSFT Hi Thank you for your advice. However, it does not solve my problem because of the following reasons:

1. for the PDF (application/pdf): it has metadata property for metadata_title, but I wanted to get the individual page headings or subheadings as the field in my index.
2.  same is the case for DOC (application/msword) type.

I want these fields in my indexer to make the search m

[2018-09-06 09:24] SychevIgor opened #14581 "Add note that customer can use ("Backup and Site Recovery (OMS)") as an alternative in a global search instead of "Recovery Services vaults""
My customer followed this guide, but did a mistake and didn't find "Recovery Services vaults" in a global search (New). Please, add a note, that he can create service using both ways, bot for alternative way customer need another search query.

Or, maybe you can even provide feedback to a product team, that naming must be consistent across different create experiences .

---
#### Document Details

[2018-09-06 09:26] blueelvis commented on #14539
@TravisCragg-MSFT - I am running this with v6.8.1 and this seems to be breaking. I am receiving those warnings on 6.8.1. There seems to be another bug which has been reported over [here](https://github.com/Azure/azure-powershell/issues/7132) as well which has the Debug trace containing those warnings. Going forward, the `TimeGrains` & `Categories` would be deprecated so better to have that in the

[2018-09-06 09:32] gitathrun commented on #14334
@SteveLasker Many thanks! Great work!

[2018-09-06 09:40] poulinjulien commented on #14202
I still have some questions/remarks.
1. I used "HPC Pack cluster for Excel workloads" from the Azure Marketplace to create the cluster and not the template referenced in the article. Is that still a correct way to instantiate the cluster?
2. When using that template, the article states that "The steps differ slightly from the following". What are the differences?
3. Do I need to install Excel (201

[2018-09-06 09:46] ChristianBeier opened #14582 "Update needed"
That is a great example on how to deal with out-of-order events and how to utilize Logic Apps and Cosmos DB. Unfortunately I spent much time fideling with the partition key what is used in the Logic App.

Following solution suggestions:

- **Without Partition Key**: As the refered collection setup instruction does not use a partition key, the logic app should not contain it either. Btw. it would b

[2018-09-06 09:58] wesmc7777 commented on #14487
@Bnjmn83 @LisandroSu  This is fixed and the update should be published later today. Thank you!

[2018-09-06 10:01] Bnjmn83 commented on #14187
Any news?

They only difference I can see is that the docs use an _Ubuntu Server VM_ whereas I am using the _Desktop_ version

[2018-09-06 10:09] nunix commented on #13786
@TomArcher good point, sorry. It is (was) the two points, but I guess that only the "update the docs in order to use the environment variables" would be my PR here.

Now, my second point, the `ARM` environment variables do not work, my guess now is that I did run example from my console (WSL) instead of Cloud Shell. Therefore I suppose that the environment variables are:
**Cloud Shell:**
[code]
**

[2018-09-06 10:16] TecumsehSamp opened #14583 "Default lock duration for queue"
The REST API documentation for Azure Service Bus [here](https://docs.microsoft.com/en-us/rest/api/servicebus/create-queue) states that the default LockDuration value for a queue is 30 seconds.

However, omitting this when using the create queue method, the LockDuration seems to be set to the highest possible value.

Code:

[code]

This can seen here from a consumer of a message sent to the queue:

[2018-09-06 10:20] aseeralmeem opened #14584 "[بياناتي"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 4fb8bd80-8dc3-94be-dc1e-7cd6428da63c
* Version Independent ID: 523e8db2-6428-6a51-b536-c3d531560aee
* Content: [Change your credit card for Azure](https://docs.microsoft.com/ar-sa/azure/billing/billing-how-to-change-credit-card)
* Content Source: [articles/billing/billing-

[2018-09-06 10:25] jantoney opened #14585 "ScreenShots need to be updated"
The screens shots and wording need to be updated. The 'Web App' now has selections for Windows, Linux and Containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sensor data

[2018-09-06 10:32] diptisheth opened #14586 "How to set cron expression using variable?"
Hi,
I want to send emails every month? How to write cron expression for that, as my day of the month will be variable , which will be used from a setting page?

[2018-09-06 10:45] brgsstm opened #14587 "VMs that remain in a "Not assessed" state"
Any info regarding troubleshooting VMs that remain in a "not assessed" state after several days?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab2afa-e9e7-f897-eebd-4c46c45c1215
* Version Independent ID: 994a3147-4c52-b74c-3227-35d6c46ef470
* Content: [Manage updates for multiple Azure virtual machines](https://docs

[2018-09-06 10:51] rsedano opened #14588 "Start-AzureRmNetworkWatcherResourceTroubleshooting Error: This gateway does not belong to the specified subscription"
I am trying run a Runbook for monitoring the status of a VPN connection. But it failed with the following error message:

[code]

The powershell run book is based on the following Microsoft article see [here](https://docs.microsoft.com/en-nz/azure/network-watcher/network-watcher-monitor-with-azure-automation?view=powershell-3.0)

I have also tried it using Network Watcher VPN Troubleshoot from Azu

[2018-09-06 11:14] dmc-tech opened #14589 "There is a type in the PowerShell script"
# SHA1 Finterprint:
should be
# SHA1 Fingerprint:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583c4bab-c16a-a723-04ac-b3265d9e8269
* Version Independent ID: ba902e46-2c31-aeea-87e8-8c186d6d1820
* Content: [Connect to Azure Stack with CLI](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-version-pr

[2018-09-06 11:16] paulmackinnon-adv365 opened #14590 "Connect to node via RBAC?"
Is there a way to connect to the node using our Azure creds if RBAC has been enabled on the resource? Just seems a bit odd to have to SSH and create a temp pod to jump on the node. Can this not be done via an Az command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Indep

[2018-09-06 11:21] milkmansrevenge opened #14591 "Extend Service Bus security description to cover security of data at rest"
The Service Bus documentation covers a very brief mention of security of data in transit, but has nothing on security of data at rest, see [Security](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview#security) section. The general Azure Data Encryption-at-Rest documentation indicates that this happens transparently within Azure using service-managed keys,

[2018-09-06 11:36] Aaron-Yue opened #14592 "Is there an end flag when all audio data has been sent to the server (when no TextToSpeech)?"
I'm confused how to end one websocket connection after I send all data followed by silence(1s), I know I can get a 'final' type for each utterance, but I don't know if the utterance is the last one. Now I can only wait for some seconds and if there is no more message I think I get all the results and close the connection. Is there a better way to handle this?  Thanks!

---
#### Document Details

⚠

[2018-09-06 11:45] garfbradaz commented on #9508
I agree here - the order didnt click until i read this blog post and specifcally the diagram showing the Client. Orchestrator and Activities.

https://blog.mexia.com.au/async-http-apis-with-azure-durable-functions

[2018-09-06 12:48] jlucktay opened #14593 "2 queries in the Prerequisites section"
1) The sentence near the beginning "The DSC Linux extension supports all the Extension Supported OS's except" - does this mean support for the extension stopped past a particular version on some distributions?

2) The link behind "Extension Supported OS's" goes to "https://azurewiki.cloudapp.netvmagentextension/extensionSupportedOSs" - this seems malformed.
If I try to navigate to just "https://az

[2018-09-06 13:17] DharitaChokshi opened #14594 "Route filter on message body is not working"
For QueryString - temperatureAlert = "true" - everything is working fine. But for query string - $body.temperature &gt; 30 - then I don't receive any messages.
Issue description is posted at: https://stackoverflow.com/questions/52204809/azure-iothub-devicemessage-route-filter-on-message-body-not-working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-09-06 13:31] marykayb opened #14595 "Please update this document with recommended controller restart intervals"
Please update this document with recommended controller restart intervals. On two support cases I have been told that 8000 series controllers require periodic restarts. The document states: "A controller restart or shutdown is not required as a part of normal system operation." Please add the recommended restart interval, for example 6 months or whatever it should be. This will allow proper proact

[2018-09-06 13:41] soggychipsnz commented on #14588
I'm having the same error performing this today in the portal on a subscription where this was working for someone else yesterday. Be curious to see what the fix is

[2018-09-06 13:45] luislinietsky opened #14596 "Set a Bus maxConcurrentCalls for a specific azure function"
Hi !
I wanted to know if it is possible to have a service bus triggers to run one at a time while others to run in parallel with a a different value of maxConcurentCalls, within a same Azure Function App.
As I understand from the documentation, when setting servicebus-&gt;maxConcurrentCalls in the host.json, that applies for all the service bus trigger functions within the same FunctionApp.
Is the

[2018-09-06 13:54] minhaj-dell commented on #14559
https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios#daemon-or-server-application-to-web-api under the heading:
Daemon or server application to web API

https://github.com/azure-samples/active-directory-dotnet-daemon-certificate-credential

[2018-09-06 14:01] DenysM84 opened #14598 "Azure Service Fabric local cluster .Failed to open base key for machine ComputerFullName to check if machine is IOT Core."
I installed ASF on virtual machine in Azure. But when I try to create cluster, I will see error:
"Failed to open base key for machine ComputerFullName to check if machine is IOT Core."

PS C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup> .\DevClusterSetup.ps1

Using Cluster Data Root: C:\SfDevCluster\Data
Using Cluster Log Root: C:\SfDevCluster\Log

WARNING: The cluster data root (C:\S

[2018-09-06 14:04] sergaz-msft commented on #14582
@ChristianBeier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 14:07] tfitzmac commented on #14388
I have added an additional note about the SAS token that is included with the output URL. It should get published this morning.
#please-close

[2018-09-06 14:09] sergaz-msft commented on #14583
@TecumsehSamp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 14:13] markgar opened #14599 "Suggest HCM VM Size"
It would be nice if there were a suggested VM size for the HCM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9799b467-4163-cf32-1089-489ad5d5263e
* Version Independent ID: acfb23b2-30a7-d79e-f821-6e7b390f8bb5
* Content: [Hybrid Connections overview](https://docs.microsoft.com/en-us/azure/biztalk-services/integration-

[2018-09-06 14:18] sergaz-msft commented on #14585
@jantoney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 14:27] achal1012 commented on #5959
I am also facing the same issue.

[2018-09-06 14:31] bdcoder2 commented on #14565
Hi Karishma -- thank-you very much, I updated my StackOverflow question with a solution (as per your suggestion).

PLEASE add an "IMPORTANT" note to this documentation indicating that the local.settings.json property "Copy to Output Directory" setting MUST be changed in Visual Studio to: "Copy if newer" when testing locally; otherwise, System.Environment.GetEnvironmentVariable method will NOT retu

[2018-09-06 14:34] sergaz-msft commented on #14589
@dmc-tech thank you for your feedback! The fix was done and the document will be updated by the end of the day.

[2018-09-06 14:34] #14589 closed

[2018-09-06 14:37] sergaz-msft commented on #14591
@milkmansrevenge Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 14:38] HeidiSteen commented on #13357
@vivekjainAco I recommend posting questions like this to stackoverflow.  That forum is closely monitored and you'll get expert responses.  If the following answers don't help, I think SO should be your next step: https://stackoverflow.com/questions/tagged/azure-search

Indexers -- which should be viable given your source data is Azure blobs -- have a field mapping capability to overcome the field

[2018-09-06 14:41] sergaz-msft commented on #14594
@DharitaChokshi thank you for your feedback! On the [SO thread](https://stackoverflow.com/questions/52204809/azure-iothub-devicemessage-route-filter-on-message-body-not-working) I see that you answered your own question. Should anything on [this doc](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language#get-started-with-device-to-cloud-message-routes-query-expressions) be

[2018-09-06 14:41] ATGardner commented on #14388
Thank you for your follow up.
In my humble opinion, there is no special need to show the URL at all. A simple "upload completed" seems enough to me. But if a URL is being displayed, it should be a valid one that can easily be checked to work.

My main problem was that I was confused by seeing the URL in the notification, and not being able to use it to check the uploaded file. After I tried severa

[2018-09-06 14:57] eross-msft commented on #14564
@zer0sum  I'm experiencing the same issue and am looking into it with the product group. I'll keep you in the loop when I have an answer.

[2018-09-06 15:03] ggailey777 commented on #14565
@karishma-tiwari-msft please assign to me and I will update the docs.

[2018-09-06 15:16] jdogg89 opened #14600 "Custom JSON payload option is missing for Administrative type of activity log"
when trying to setup webhooks, for example storage account list key views, there is no option to setup custom json payloads.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-ea70-f747-80a9bc914fd7
* Content: [Webhook actions for log alerts in Az

[2018-09-06 15:29] ggailey777 commented on #14578
@girishgouda the v2 webhook endpoint URL format has recently changed, per [this announcement](https://github.com/Azure/app-service-announcements/issues/129):

We are in the process of updating the docs and the portal to reflect this change. Thanks for your patience.

[2018-09-06 15:39] jtuliani opened #14601 "Alerts?"
The doc needs to explain how I can set up alerts so I'm notified if Connection Monitor discovers a problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-acb4-6d93-62ee9ff60d43
* Content: [Monitor network communication - tutorial - Azure port

[2018-09-06 15:54] epnasis opened #14602 "Can't login with AADLoginForLinux extension on linux VM"
Keep getting this error in /var/log/secure:

Sep  6 09:06:06 hdi-zl02 sshd[1451]: pam_aad(sshd:auth): CURL: Failed to call http://169.254.169.254/metadata/instance/compute?api-version=2017-12-01 (7)
Sep  6 09:06:06 hdi-zl02 sshd[1449]: error: PAM: System error for user@domain.com from my_ip.com

The VM is a RHEL 7.5 deployed in eastus2 region.

Same issue as #12766

[2018-09-06 16:00] farabisameer opened #14603 "Feedback on documentation regarding endpoints"
Even though the documentation says that free trial keys are generated in westcentralus, I had to change my end point to westus to prevent an invalid subscription key error.

I think it would be beneficial to include the following link
https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236

---
#### Document Details

⚠ *Do not edit this

[2018-09-06 16:04] jeffhebrank opened #14604 "PowerShell to disable triggers out of date"
The screenshot above shows the inline script option selected, and a text area for script arguments. When I use an inline script in my release, there is no box for script arguments, its only available if i select the Script File Path option.

Also when I run the script to disable triggers, the release throws an error:
The term 'Get-AzureRmDataFactoryV2Trigger' is not recognized as the name of a cmd

[2018-09-06 16:08] enetics-eugene opened #14605 "Example domain is not registered in public DNS"
The example domain used in this page (contoso100.com) has not been registered in the public DNS, as have other contoso-related domains (eg, contoso.com). If this domain were to be registered by a malicious actor or security researcher, then users running the documented commands without substituting their own values could lead to serious system compromise. I recommend that this domain name be regis

[2018-09-06 16:33] divyaswarnkar commented on #9848
Hi, Please try "DividedBy" and it should work. We are also going to update the doc with all the filter names.

[2018-09-06 16:36] Karishma-Tiwari-MSFT commented on #14590
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-06 16:40] Karishma-Tiwari-MSFT commented on #14593
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-06 16:41] Karishma-Tiwari-MSFT commented on #14596
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-06 16:46] Shreelekha19 commented on #14488
Thank You Saurabh for references. However, I already went through those links.
We are using JWT token and so get JWT Id token from Azure AD . The "Optional claims in Azure AD" article specified there are standard optional claims and if I use them I get those added in my claims.
Eg;
"optionalClaims":
   {
       "idToken": [
             {
             "name": "tenant_ctry",
            "essential"

[2018-09-06 16:48] vhorne commented on #14072
@ljliu2k Thanks. I updated the FAQ.
#please-close

[2018-09-06 16:53] HeidiSteen commented on #14538
@darcyreimer @Yahnoosh @Grace-MacJones-MSFT  Diagrams are fixed in the live docs. Thanks for reporting the error!

#sign-off

[2018-09-06 16:56] Grace-MacJones-MSFT commented on #14538
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 16:56] #14538 closed

[2018-09-06 16:57] Karishma-Tiwari-MSFT commented on #14334
@SteveLasker Thanks for detailed explanation on customer's query.
@gitathrun We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 16:57] #14334 closed

[2018-09-06 17:00] Firoso commented on #14530
Actually @MicahMcKittrick-MSFT , all of the examples you provided demonstrate the opposite.

OsProfile both in your snippet AND link are under virtualmachineprofile.  Count the braces :)

[2018-09-06 17:02] Karishma-Tiwari-MSFT commented on #14351
@gorgi Please let us know when you see this issue again so that we can do troubleshooting by looking into your subscription at that time, as this is an intermittent issue.
If you do not have any other question, we will now close this issue.

[2018-09-06 17:03] Karishma-Tiwari-MSFT commented on #14376
@theBlueclouds We will now close this issue. Please come back whenever you are ready. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 17:03] #14376 closed

[2018-09-06 17:03] darcyreimer commented on #14538
That's a phenomenal response.

[2018-09-06 17:03] Karishma-Tiwari-MSFT commented on #14472
@hpcre Any updates? Please let us know if you have any other question on this one.

[2018-09-06 17:04] MicahMcKittrick-MSFT commented on #14530
@Firoso ah! Yes apparently I cannot count on Wednesdays :)

@aljo-microsoft can you take look and confirm the doc is correct?

[2018-09-06 17:09] MohitGargMSFT commented on #14515
@dimachernov You are correct. I can also see the same behavior. However, when I add another role as Report Reader, then it allows guest user to add members to group. I will assign to content author to document right directory roles required to be assigned to guest user to manage group.

[2018-09-06 17:11] MohitGargMSFT commented on #14421
@0marni We will now proceed to close this thread.

[2018-09-06 17:11] #14421 closed

[2018-09-06 17:14] MicahMcKittrick-MSFT commented on #14590
@paulmackinnon-adv365 we have some information on how to work with RBAC enabled nodes

https://docs.microsoft.com/en-us/azure/aks/aad-integration

That being said, if you want to actually SSH to a POD you need to create a SSH tunnel. This is because AKS nodes are not exposed via public IP. So the only way to connect via SSH is to create an SSH tunnel as described in this doc.

[2018-09-06 17:15] MohitGargMSFT commented on #14516
@pedrr I have not done such configuration. However, it should work fine. I will
suggest you to open a new MSDN forum post and community may help you based on their experience. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please mention the MSDN thread U

[2018-09-06 17:20] faceoffers28 opened #14606 "Notifications for when the app is closed, stopped or not running"
The documentation also fails to mention how to handle Android Notifications when the app is closed, stopped or not running. In Step 13 of the Android instructions for FCM, it specifically mentions the following: The sendNotification() method should be executed when the app is not running and a notification is received. Android instructions
https://docs.microsoft.com/en-us/azure/notification-hubs/n

[2018-09-06 17:20] timmyreilly opened #14607 "To Disable Logging we have to disconnect our bindings?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#disable-built-in-logging

If we want to use Application Insights we can't use Azure Storage bindings? Are we supposed to add an appsetting back for our Queue/Blob/Table storage triggers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-2

[2018-09-06 17:22] butchmarshall opened #14608 ""Service Principal Objects" are unable to configure Automatic provisioning"
I am able to configure "Automatic" provisioning in a "Non-Gallery" application when it originates in a tenant.

When I install that application as a "Service Principal Objects" into another tenant "Automatic" provisioning is not available.

When that same tenant creates their own "Non-Gallery" application they are able to configure "Automatic" provisioning.

I filed a support request under "Help +

[2018-09-06 17:26] Adam-Smith-MSFT commented on #14581
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 17:35] Mike-Ubezzi-MSFT commented on #13930
@dev151 Thanks for the additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 17:39] femsulu commented on #14571
@mehdipanjwani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 17:40] Shreelekha19 opened #14609 "Trying to set Idle session timeout using Token lifetime policies"
Hello we followed the commands , instructions and example provided in document and found that they work but not as expected.  For eg:
1. we set policy for Single-Factor Session Token Max Age and Multi-Factor Session Token Max Age for 15 mins and I was expecting it will sign me out but it didn't rather it signed me out after 1 hour which is the token lifetime of id token.
2. PS C:\WINDOWS\system32&

[2018-09-06 17:43] femsulu commented on #14580
@GitMaggie Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 17:50] MGoedtel commented on #14413
@jungopro and @jason-j-MSFT - This article has been in the queue for re-writing to reflect recent and pending changes that will be coming shortly.  It will be addressed after Ignite.  #please-close.

[2018-09-06 17:52] #14413 closed

[2018-09-06 17:54] marekr opened #14610 "strange breakup of EventHub "how-to guides" vs. separate send and receive event sections"
Just to throw it out there because it threw me off.

The "How-to" guides for Event hubs have .NET Framework, Go and Python.

The completely separate Send events and Receive events in the left hand tree menu, have .NET Standard, Java and Apache Storm.

Shouldn't these be condensed into one set of menus?

i.e.

-Receive Events
--.NET Standard
--.NET Framework
--Java
--Go
--Apache Storm
--Python

?

[2018-09-06 17:55] MGoedtel commented on #14323
@vasivara-MSFT - the reference content is not something I manage.  Looping in @tfitzmac who manages the ARM content for an update.

[2018-09-06 17:55] MarileeTurscak-MSFT commented on #14608
@butchmarshall
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-06 17:55] Karishma-Tiwari-MSFT commented on #14317
@v-maroge There isn't any extra cost associated with downloading VHD from a VM in Azure. Let me know if you have any related question.

[2018-09-06 17:55] MicahMcKittrick-MSFT commented on #14598
@DenysM84 please provide me with the link to the document you are following so I can better assist.

[2018-09-06 17:57] MicahMcKittrick-MSFT commented on #14602
Thanks for the feedback! We are currently investigating and will update you shortly.

Link to doc: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad

[2018-09-06 17:58] MarileeTurscak-MSFT commented on #14605
@enetics-eugene
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-06 18:00] MicahMcKittrick-MSFT commented on #14607
Thanks for the question! We are investigating and will update you shortly.

[2018-09-06 18:00] necevil opened #14611 "Issues with Cert-Manager and Helm not being up to date."
Cert-Manager will have all kinds of problems if helm installing a version that is not up to date.  It would be good to direct users to update helm prior to installing with the above process since some of them (like me!) may not have updated in a bit causing an older version of cert-manager to be installed and generally wreaking havok on the process of generating certs!

---
#### Document Details

[2018-09-06 18:00] agvardha opened #14612 "ASDK 1.1807.0.76 Running Diagnostics of deployed VM does not work"
I am working on a issue with @TravisCragg-MSFT #14079. To close on this I need to get my Diagnostics to run. Unfortunately the diagnostics does not run. The user interface is very bad and that might be the source of my misery. I am following @charlesjoy created https://www.youtube.com/watch?v=juAv3o7_CZU to run the diagnostics. On ASDK 1804 it had worked on ASDK 1807 it just does not.

1. My admin

[2018-09-06 18:00] femsulu commented on #14587
@brgsstm Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 18:03] femsulu commented on #14600
closing as Duplicate of #14571

[2018-09-06 18:03] #14600 closed

[2018-09-06 18:08] vasivara-MSFT commented on #14569
@VitorX it is a custom property added by the sender. If the user didn't add any value it will be null.

[2018-09-06 18:12] vasivara-MSFT commented on #14570
@HaripraghashSubramaniam There are three values that you can give to commitMode (default, transactional, partialBatch). it will be defaulted to "transactional", when none of the above three values are specified.

[2018-09-06 18:14] noellelacharite commented on #8669
Thanks everyone, looks like this has been resolved.
@SaurabhSharma-MSFT you can close this issue.

Thanks!

[2018-09-06 18:14] vasivara-MSFT commented on #14604
@jeffhebrank Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:15] cgillum commented on #9508
Seems like a pretty obvious conceptual doc we should have created right away! Sorry for not including that. @jeffhollan actually authored a nice one in response to this feedback and it's available now: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-types-features-overview