[2020-11-18 14:35] puneethkgowda commented on #65506
@shizhMSFT I am using the admin account to connect to ACR. I am using the username and password from below screen in ACR access keys.

![image](https://user-images.githubusercontent.com/44995344/99543333-13194f80-29d9-11eb-9755-c8895aa79dc0.png)

[2020-11-18 14:39] engineersamuel commented on #66065
Thank you @ram-msft , and @tmccrmck  could you also provide an example of a `DummyEntryScript` that would be appropriate to use here?

[2020-11-18 14:43] SnehaAgrawal-MSFT commented on #66269
@jonashaefele Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-18 14:48] RohitMungi-MSFT commented on #66176
Could you please check if your credentials are working with this endpoint directly using curl?

`curl -H "Ocp-Apim-Subscription-Key: <your_key>" https://api.bing.microsoft.com/v7.0/search?q=microsoft+devices`

[2020-11-18 14:55] CaitlinV39 commented on #64870
@AnuragSharma-MSFT can you help us close this? We resolved several weeks ago.

[2020-11-18 14:56] flarsmar opened #66275 "Import-Module .\HybridRegistration.psd1 is not supported on Powershell 7"
Step 2 on Manual Install (https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install#step-2---install-the-runbook-environment-and-connect-to-azure-automation)

Import-Module .\HybridRegistration.psd1 is not supported on Powershell 7 (Tested latest version 7.1)
Import command fails with error:
Import-Module: Could not load type 'System.Web.HttpException' from assembly 'System.

[2020-11-18 15:03] SadiqhAhmed-MSFT commented on #66195
@Lahiru89 Not planned yet. I encourage you to comment and up-vote this [feedback item](https://feedback.azure.com/forums/256299-site-recovery/suggestions/9978900-support-long-term-retention-or-backup-integration) with your use-case/business requirement for increasing the retention period.

We will now proceed to close this issue as no further action required from our end through this channel.

[2020-11-18 15:03] #66195 closed

[2020-11-18 15:06] jonashaefele commented on #66269
Thanks! Let me know if you need more details.

Haven't used Azure yet, but a client of mine is 100% on Azure, so will have to get my head around deploying to Azure and guides like this one are gold for that.

Will be trying to deploy a next.js app soon. So can feedback more after having gone through the whole process, if needed.

[2020-11-18 15:13] VikasPullagura-MSFT commented on #66125
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-11-18 15:18] pablodiazgutierrez commented on #66176
Hi Rohit,

Yes, that curl query works. But replacing the endpoint in the sample SDK code still doesn't work. I get `Operation returned an invalid status code 'Resource Not Found'` just as before.

[2020-11-18 15:24] aosyatnik opened #66276 "Claim "bearerToken" specified for the bearer token is not present in the available claims."
I was following [this article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-rest-api#acquiring-an-access-token).

We have b2c tenant with a custom policy. I want to trigger the azure function and set custom claim, when user registers. My function app is secured with AAD. Looks like this:
![image](https://user-images.githubusercontent.com/8158404/99548883-667ba580-29b9-11eb-89

[2020-11-18 15:35] matjazl commented on #64870
@AnuragSharma-MSFT can you please close this as there is no action item for us.

[2020-11-18 15:36] snpdev commented on #65895
Thanks @mksuni. I searched the SDK and found that the specific methods are:

- [ServersOperationsExtensions.Start](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.mysql.flexibleservers.serversoperationsextensions.start?view=azure-dotnet-preview)
- [ServersOperationsExtensions.StartAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.mysql.flexibleser

[2020-11-18 15:40] KrishnaG-MSFT commented on #66275
@flarsmar Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-18 15:47] psmanhas commented on #66102
@DOMZE Apologies but currently I dont have any ETA for fix.

I will provide your feedback to our internal team to reflect same in document accordingly.

Thanks

[2020-11-18 15:55] SumanthMarigowda-MSFT commented on #66028
@austintraver  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/
 since it's not directly related to the documentation. We'll follow up there and I would like to work closer on this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and w

[2020-11-18 15:55] #66028 closed

[2020-11-18 15:57] Mcclellange opened #66277 "Link for adding collaborators"
The link for adding collaborators doesn't take you to the page explaining how to do this. It sends you back to the main page :(

"Learn how to add collaborators to your service."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9f2ee3-4756-3b2f-5ce0-b8fd2123672c
* Version Independent ID: 0369594b-dcee-0e55-f205-ef6f92d

[2020-11-18 16:14] aidanfinn opened #66278 "Policy-Based VPN Support"
The text says:

"A virtual WAN can use only route-based VPN devices and device instructions."

However, other documentation on Azure Virtual WAN and publicly presented content states that both policy-based and route-based VPN appliances can be used to connect to Azure Virtual WAN. Is the above text wrong, or does VPN over ExpressRoute only support route-based VPN? A correction appears to be requir

[2020-11-18 16:32] kumarallamraju opened #66280 "syntax errors for AZ CLI on this page"
https://docs.microsoft.com/en-us/azure/stream-analytics/quick-create-azure-cli

backslash is missing for some of the az cli commands.

az stream-analytics input create

az stream-analytics output create

az stream-analytics transformation create

az stream-analytics job start

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-18 16:34] sdgilley commented on #66114
It sounds like the final fixes will be in the code, rather than a change to the documentation, so I'll #please-close this as a document issue.

[2020-11-18 16:34] #66114 closed

[2020-11-18 16:35] shizhMSFT commented on #65506
Admin user credentials should work. Could you double check the credentials and login server name for the helm command? Please also check that you have double quoted the password variable in case there’s special characters in it.

If you still have difficulties on the authentication, please provide the helm version and the login server name if possible. Again, we suggest you opening a support ticke

[2020-11-18 16:42] mamccrea commented on #66280
Thanks @kumarallamraju! I will fix it right now.

[2020-11-18 16:42] MashaMSFT commented on #65748
Hi @parasparekh , thanks for your feedback! My apologies, I am not sure I understand exactly what you mean. Are you referring to this image in the [hybrid](https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/business-continuity-high-availability-disaster-recovery-hadr-overview#hybrid-it-disaster-recovery-solutions) section?

![image](https://user-images.githubusercontent.com/327831

[2020-11-18 16:43] mamccrea commented on #66280
I have fixed the syntax and the changes will go live later today. Thanks again for bringing it to our attention.

#please-close

[2020-11-18 16:43] #66280 closed

[2020-11-18 16:45] timsander1 commented on #66006
Hi @rgamage, I'll create a work item to add a syntax section here like we have for all the other system functions.

For COUNT(), you can use any scalar expression and you'll get the same result. So for example, using COUNT(1) vs COUNT(2)  will have no impact on results.

[2020-11-18 16:50] jeevansd commented on #58098
@jischell-msft We have already updated the article and provided the guidance to clear off the checkbox. So I don’t think any action is needed here anymore.

[2020-11-18 16:50] jeevansd commented on #58098
#please-close

[2020-11-18 16:50] #58098 closed

[2020-11-18 16:50] ivanst0 opened #66282 "NC and NCv2 are no longer listed on "GPU optimized virtual machine sizes" page"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d9e8ae-89d0-2e7e-3217-4a9443d1f36d
* Version Independent ID: 24e2d297-d334-eb25-688b-76415eb02704
* Content: [Azure VM sizes - GPU - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu)
* Content Source: [articles/virtual-machines/siz

[2020-11-18 16:55] vispatster opened #66283 "Deny pulling unhealthy images - ACR"
If Azure defender scan ACR images and found them unhealthy/vulnerable, is there any way to prevent those images from pulling?

How can it be done?

[2020-11-18 16:58] NavtejSaini-MSFT commented on #66273
@bilak We are checking this and will get back to you.

[2020-11-18 17:01] NavtejSaini-MSFT commented on #65895
@mksuni Thank you for the help here. @snpdev We will be closing this feedback if there is no additional question. Please get back to us if you need any further help.

[2020-11-18 17:17] mimckitt commented on #66215
Just like the Network Security Groups, Application Security groups are applied to the entire Scale Set. That means it covers all the instances regardless of if you end up scaling up or scaling down.

[2020-11-18 17:18] souravmishra-msft commented on #65847
Hello @bryhall, I apologize for the delay as it took me sometime fetching you a suitable answer for this query. The algorithm works this way (assigning one point to each instance of a banned term) in an attempt to balance security and usability. Initial testing of this feature (2+ years ago or so) showed that end users got really frustrated when their new password was rejected due to the presence

[2020-11-18 17:29] bilak commented on #66273
now I've found that it's possible to get insights by some date range, but it would be very helpful if it's possible to set it by some fields with datetime range not only by seletcing it in ui. It's strange that daterange changes when I change for example the type of metrics which I want to see.

[2020-11-18 17:39] TerryLanfear commented on #57978
@burma-shave @jmccor99 - Thank you for your feedback. This article is being updated to add secure PaaS service with private link. I will follow-up with you once the update is made. Again, thank you!

[2020-11-18 17:40] virvirlopez opened #66285 "Loading a register model is not working"
# Azure documentation issue guidance
Before today the process has been working correctly for 10 months, and after today without changing anything wee are not able to load register models into Azure. The way that I can loading the model is:
model = Model(ws, name=model_name, version="110")

I can see the models if I print the list of models in my workspace if I ran the command:
for model in Model.l

[2020-11-18 17:48] bean-os commented on #31136
would mircosoft include this domain on their docs if it wasn't official?

[2020-11-18 17:57] ronhowe opened #66286 "Is The Query Wrong?"
The screenshot shows an Operator of "Greater than".

Should that be "Greater than or equal to"?  If not, wouldn't only a single change be excluded from the results and the intention of this alert is to fire any any change at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304e5858-e4a0-2f47-d270-cdf7b6785b90
* Vers

[2020-11-18 18:04] MarileeTurscak-MSFT commented on #66265
@peterjoinobits
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 18:05] Kitwradr commented on #66266
yes I am able to create Feature flags now thanks @ZhijunZhao

[2020-11-18 18:07] WinstonHoward-MSFT commented on #66282
Thanks for the doc feedback, I've assigned it to the author to take a look.

[2020-11-18 18:08] idontusenumbers commented on #31136
Would a hacker that broke into the the microsoft docs and re-write them use a domain similar to aka.ms? would the hacker use microsoft.com?

[2020-11-18 18:08] cynthn commented on #66047
I'm going to remove the graphic for now, until we can get an updated version. Thanks again for the feedback!

#please-close

[2020-11-18 18:08] #66047 closed

[2020-11-18 18:08] seanytak opened #66288 "Pipeline fails if Node gets Preempted"
Hello, I am currently working with an AML Pipeline that uses a Low-Priority VM Compute Cluster.

The error I am receiving is
`AzureMLCompute job failed. PreemptionError: Nodes of this job got pre-empted. Check if the run has failed or restarted. Reason: Received pre-emption warning signal`

On the docs it says that a "A preempted job is restarted, not resumed." but in my experience thus far, a pre

[2020-11-18 18:11] SebDub commented on #66114
Yes. How can I be informed when the 'System: MaxDeliveryCountExceeded' error is fixed (I didn't know where elseto open the issue)

However, the documentation would need, IMHO, to revisit the difference between resume_from and resume_child.

Thanks.

[2020-11-18 18:14] normesta commented on #65807
Hi @thommck. Thanks for pointing out the confusing text. "Cooking" in this case is just any sort of process to aggregate small files into larger ones. I've updated the text to omit the term "Cooking". There are no Data Lake Storage Gen2 capability per se that is designed to aggregate files that I am aware of. @swums can you suggest any sort of recommended approach to aggregating small files into l

[2020-11-18 18:15] lmigu053 commented on #54345
Change the order in the Delete old migration step:
rm -r Migrations
(was "rm Migrations -r")

The -r is used when you're deleting (rm) a folder directory instead of a single file. The -r stands for recursive as in it will apply rm recursively to other files within Migrations

[2020-11-18 18:22] udg-tobias-kleinmann opened #66290 "Example references invalid property"
Section "Reference local functions" mentions the property `backendurl `twice.
This property does not exist. It should be `backendUri`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Work with proxies in Azure

[2020-11-18 18:25] MarileeTurscak-MSFT commented on #66261
@sheigel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 18:28] BryanTrach-MSFT commented on #65733
@chenxizhang I'm not sure why this is happening based on my research of your error. It sounds like you have the necessary CORS configuration setup.

We'd like to assist you further. Can you please reach out to azcommunity@microsoft.com with your subscription ID and the URL of this post so we can help you further?

We look forward to your reply.

(Since we are taking this offline we will close out

[2020-11-18 18:28] #65733 closed

[2020-11-18 18:29] JamesTran-MSFT commented on #66262
@bertrandpons
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 18:34] rthorn17 commented on #65792
@v-tawe It looks like the sample on the docs page is incorrect which we will get updated.  Thanks for calling this out.

It should have **const result = await client.managementGroups.createOrUpdate(
          argv.groupID,
          {**

------
Full sample:

[code]

[2020-11-18 18:46] DCtheGeek commented on #65792
#assign:DCtheGeek

[2020-11-18 18:48] DCtheGeek commented on #65792
@v-tawe @rthorn17 Thanks for the question and providing the correct JavaScript code.  I've updated the doc to reflect this.  Once that merges, this issue will automatically close.  Publishing to live will happen at a later point in time.  Thanks again for pointing this out @v-tawe!

@MicrosoftDocs/azure-cxp-triage Please remove label 'product-issue' and add 'doc-bug', and #in-progress

[2020-11-18 18:51] #65792 closed

[2020-11-18 18:58] MonikaReddy-MSFT commented on #66283
@vispatster -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-18 18:59] RonnieQuan opened #66291 "When The Feature Will be GA?"
Storage account encryption scope, when it will be GA?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41969b7b-5eaf-0a9d-9c13-d6d18838148f
* Version Independent ID: 03737566-bfde-8c4b-8458-a6275ebcd07a
* Content: [Encryption scopes for Blob storage (preview)](https://docs.microsoft.com

[2020-11-18 18:59] spelluru commented on #65992
@MayankBargali-MSFT - Just spoke with Ashish. Yes, encryption is not limited to Premium tier but is provided for all tiers. Thanks.

[2020-11-18 19:00] MonikaReddy-MSFT commented on #66285
@virvirlopez -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-18 19:01] porrascarlos802018 commented on #61336
Hello team we need an update on this .

[2020-11-18 19:01] spelluru commented on #15719
#in-progress

[2020-11-18 19:05] RonnieQuan opened #66292 "Any ETA When Object Level RBAC will be GA?"
Hi,

Any idea when this feature will be GA?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32fc20a0-4321-c74a-34aa-909f43a72db0
* Content: [Grant permission to applications to access an Azure key vault using Azure RBAC](ht

[2020-11-18 19:05] #66149 closed

[2020-11-18 19:06] AjayKumar-MSFT commented on #65904
@mcbsys,  Just to add more clarity, I notice that you'd created the App Service in question using the “WordPress on Linux” template from the Portal. Now, when you use this template the docker image which has _WordPress_ already configured is run for the created App Service. By default, the image is "- appsvcorg/wordpress-alpine-php:0.72 ([source](https://hub.docker.com/r/appsvcorg/wordpress-alpine

[2020-11-18 19:06] JamesTran-MSFT commented on #66208
@binhnguyen1984
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-11-18 19:06] cynthn commented on #65801
Thanks for the feedback! I've created a work item to update this topic. I'm going to close this issue for now.

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1794572

@mimckitt

#please-close

[2020-11-18 19:06] #65801 closed

[2020-11-18 19:07] tfitzmac commented on #66089
@o-l-a-v - thanks for this feedback. I am trying to get more information from internal experts.

[2020-11-18 19:11] SadiqhAhmed-MSFT commented on #66031
@akiohose SQL Database reserved vCore – Covers both SQL Managed Instance and SQL Database Elastic Pool/single database. Only the compute costs are included with a reservation. The SQL license is billed separately.  We will update the doc with this change.

@bandersmsft Thanks for sharing the info. Kindly update the documentation.

Closing this issue as no further action required through this chann

[2020-11-18 19:11] #66031 closed

[2020-11-18 19:14] duongau commented on #65271
@juyamagu may I get an update status on this request?

[2020-11-18 19:22] binhnguyen1984 commented on #66208
@JamesTran-MSFT In the meantime, I have found some code that works for IE 11. Thank you very much for your time.

[2020-11-18 19:24] anbene commented on #65693
@MarlEva This update has been published.

#please-close

[2020-11-18 19:24] #65693 closed

[2020-11-18 19:28] j1mmyfever opened #66294 "Timeout hit because the script actually takes that long..."
Is there a means to extend the custom script extension max runtime?  ie:  indefinitely?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension for Windows - Azure Virtual Machines](https

[2020-11-18 19:28] dansydner commented on #66186
@HarithaMaddi-MSFT  It is our understanding that the classic pipelines are being phased out. Because of that we are fully focused on yaml pipelines. I am trying to wrap my head around CI/CD for Data Factory and how to fit it in with our existing pipelines. Having to convert the pipelines from classic to yaml takes away my attention from learning what's important and specific for Data Factory deplo

[2020-11-18 19:28] b-juche commented on #66222
@b-roconl - Thanks again, Robert.  Per our discussion with dev. lead, we've added the following verbiage under Considerations for dual protocol -

* UNIX users mounting the NTFS security style volume using NFS will be authenticated as Windows user root for UNIX root and pcuser for all other users. Make sure that these user accounts exist in your Active Directory prior to mounting the volume when u

[2020-11-18 19:28] #66222 closed

[2020-11-18 19:29] shashishailaj commented on #65972
@sanjeevkumar761 As new regions keep getting added , we would like to point the section for available regions to one source of truth which is [products by region page](https://azure.microsoft.com/global-infrastructure/services/?products=azure-dedicated-hsm). This is done to make sure that customers always can find out all the currently available regions for Azure Dedicated HSM.

@johncdawson Pleas

[2020-11-18 19:37] mpchen opened #66295 "Why assignment scope is not defined in assignment.json?"
Wondering whether it is possible to specify the policy assignment scope in assignment.json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e746c38-18e2-56fd-becf-a4d0d05127f6
* Version Independent ID: d4be02d5-a0c5-a614-f206-e3448bd337cc
* Content: [Details of the policy assignment structure - Azure Policy](https://do

[2020-11-18 19:41] himanshusinha-msft commented on #66229
@Anmolgan81 , @MoulshreeSD  : I think this is because of the fact thats some table already have a column named "StudentId" and this is pulled into the query when you use **"*"**  and then you are also calling out the c.studentId again , so in the mapping we are having two columns with the same name . Can you try and update this c.studentId to c.studentId as 'StudentId_C' and see if that helps .

[2020-11-18 19:42] Nickomang commented on #11631
@artisticcheese, thanks for the feedback. Closing due to age and lack of doc-affecting action. If you feel this is still an issue, feel free to reopen with a specific reference to what you believe should change in the article.

#please-close

[2020-11-18 19:42] #11631 closed

[2020-11-18 19:49] gvashishtha commented on #66271
Hi Kiran, this behavior is by design. What you are describing is a new feature. I recommend you submit a description of your scenario [here](https://feedback.azure.com/forums/257792-machine-learning)

[2020-11-18 19:52] 180254 commented on #66115
Ok, maybe I'll shed more light on what this is about.

- I recorded scheduled event, which concerned several VMs and each of them was in a different update domain.
- I created an Azure Support Ticket in which I wrote that this is probably a bug. Such behavior is contrary to the documentation. The documentation states that:

- @kaleshas is handling my ticket. He have escalated this issue with Produ

[2020-11-18 19:53] #65904 closed

[2020-11-18 19:53] RyanHill-MSFT commented on #66274
Thanks for the feedback @emilpeder! Can you further elaborate on the missing `$`? Are saying it shouldn't be there or it causes an error for you?

[2020-11-18 20:02] mmacy commented on #66206
@dkreeft You are correct, the Azure portal doesn't currently allow you to specify a loopback address with the `http://` scheme. This is covered in that section of the article, here:

![image](https://user-images.githubusercontent.com/13394541/99580321-31109100-2994-11eb-9ac8-fe32f506db43.png)

And below with links for your convenience:

The team is aware of the portal restriction and the added fri

[2020-11-18 20:17] DCtheGeek commented on #66295
#assign:DCtheGeek

[2020-11-18 20:20] DCtheGeek commented on #66295
@mpchen Thanks for the question!  If you look at the [Create REST API](https://docs.microsoft.com/rest/api/resources/policyassignments/create), you can see that `{scope}` is part of the endpoint, not part of the assignment.json.  As a result, it can't be part of the JSON file.  I'm going to close this issue since I believe I've answered your question.

@MicrosoftDocs/azure-cxp-triage Please label

[2020-11-18 20:20] #66295 closed

[2020-11-18 20:20] DerekHerman-MSFT commented on #66218
@mcqj Glad you got it figured out. I have created a PR to update the article with the required HTML. The changes should go live soon. Thanks for your contribution!

[2020-11-18 20:20] #66218 closed

[2020-11-18 20:20] #65972 closed

[2020-11-18 20:25] manekinekko commented on #65834
Thank you @TopperKain for raising this issue!

@AjayKumar-MSFT your PR lgtm 👍

@craigshoemaker are going to update this page for GA?

[2020-11-18 20:27] JamesTran-MSFT commented on #66208
@binhnguyen1984
Thank you for the quick follow up! I'm glad that you were able to find some sample code that works for IE11, I'll go ahead and close out your issue.

Thank you for your time and patience throughout this issue.

[2020-11-18 20:27] #66208 closed

[2020-11-18 20:29] JamesTran-MSFT commented on #66292
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 20:35] tamram commented on #63446
@jeffw-wherethebitsroam - The new 12.7.0 package for blobs includes methods on the client object to make it easier to generate the SAS. We'll update the examples in the docs in the near future.

[2020-11-18 20:37] engineersamuel opened #66296 "Code comment says to avoid multiple calls, then code calls multiple times"
The code comments say:

[code]

Then the sample code calls `run.parent.log` twice which is counter to the advice in the comment.  Either calling twice is ok and the comment is unclear and needs to be given more context and instructions, or the code is breaking convention and the `run.parent` should be cached as a local variable and called that way.

[code]

---
#### Document Details

⚠ *Do not edi

[2020-11-18 21:03] benjamin-goldman opened #66297 "Manually tracking dependencies recommendation is total garbage"
Hi - your recommendations for Manually tracking dependencies are total garbage and will introduce failures and latency into customer systems that are un-excusable.

you should replace this with a link to this: https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#outgoing-dependencies-tracking

before you introduce horrible tech debt to your customers.

---
#### Docum

[2020-11-18 21:08] SatishBoddu-MSFT commented on #65999
Hello @wmk1 Just checking back, could you please let us know if you need further help in this matter.

[2020-11-18 21:16] duongau commented on #57590
@richard-artes This doc has been updated now to reflect the newer options in the portal.

#please-close

[2020-11-18 21:16] #57590 closed

[2020-11-18 21:17] MarileeTurscak-MSFT commented on #66276
@aosyatnik
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 21:28] OskrOne commented on #11469
I have exactly the same error. I am able to sign up but I am not able to login again. Does anyone knows any solution?

[2020-11-18 21:31] MonikaReddy-MSFT commented on #65964
@xuwenjian1995 - I'm going to assign this to the document author so they can provide the details accordingly.

[2020-11-18 21:32] anbene commented on #65862
@keithcharlie I've updated the doc to clarify that private plans are available for both Azure Global and Azure Government. The update will go live later today.

[2020-11-18 21:54] #66231 closed

[2020-11-18 21:58] sredman opened #66298 "The sample import script uses a value for MaxSizeBytes which is invalid"
If you attempt to run the sample script on the page https://docs.microsoft.com/en-us/azure/azure-sql/database/scripts/import-from-bacpac-powershell#sample-script, one of two things will happen:

1. In a region where enforcement has been enabled, you will receive an error message like: `New-AzSqlDatabaseImport : 40619: The edition 'Standard' does not support the database data max size '262144000'.`

[2020-11-18 22:03] Grace-MacJones-MSFT commented on #65758
Hi @sunilprabha,

Apologies for the late response. The engineering team is hoping to make this feature GA by end of this calendar year however this is an estimate, **not** a promise.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-18 22:03] #65758 closed

[2020-11-18 22:06] GregDSmith opened #66299 "Microsoft is directing its users to their “Databricks representative”?"
Why would Microsoft be directing its users to their “Databricks representative”? Why would we not be contacting our Microsoft contacts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67ef993-6a06-2ff7-0461-303c8e42445d
* Version Independent ID: 1e308f72-3f97-d522-858f-580f94e2bed8
* Content: [Azure Databricks SQL Anal

[2020-11-18 22:10] RIKIKU commented on #66253
@SubhashVasarapu-MSFT,
I appreciate your reply and making it possible to submit feedback on this documentation.
I think your comment has actually illustrated my point here. The customRules property is not a part of the Application gateway schema. If I follow the link you provided and use my browser to search for "customRules"  it seems this is not a property of the App Gateway template.

After qui

[2020-11-18 22:21] BharathNimmala-MSFT commented on #66286
@ronhowe Thanks for reaching out with your query, we will review and get back to you at the earliest.

[2020-11-18 22:31] SatishBoddu-MSFT commented on #65909
Hello @toddysm
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-11-18 22:31] #65909 closed

[2020-11-18 22:35] lmegha opened #66301 "Blocked Algorithms still run for AutoML Experiment"
I have been trying to run an AutoML Forecasting Experiment with only allowing one algorithm (FBProphet) to run and no other supported algorithms. The issue I run into is that even though I specify the blocked algorithms, they still run in the experiment taking up unnecessary runtime. For eg, my experiment should run only for 1-2 hours but it ends up running for 24-30 hours because it still runs th

[2020-11-18 22:38] Nickomang commented on #39485
Thanks everyone for your work on this, and @MedAnd for bringing it to our attention. I've added a statement to the Resource Model conceptual article.

#please-close

[2020-11-18 22:38] #39485 closed

[2020-11-18 22:46] ChaitanyaNaykodi-MSFT commented on #66290
Hello @udg-tobias-kleinmann, Thank you for your feedback! We will review and update as appropriate.

[2020-11-18 22:48] SatishBoddu-MSFT commented on #66263
Hello @langebo Thanks for reaching out to us!.
Looks like the issue is more related to 'Product-Implementation' which can be posted on **Microsoft Q&A**  Or **Azure/IotEdge Github page** to get a solution from community champions or MVPs or directly from Product Team.

I suggest you to post this **"How-To"** query on

* Directly under the [Azure-IoTEdge-GitHub Feature Request](https://github.com/A

[2020-11-18 22:56] RyanHill-MSFT commented on #65993
@anavarro9731 I don't see the packages you have listed. But I've verified against .NET Core 2.2 and higher that you should see both `SendAsync` and `SendAsyncCore` methods in Microsoft.Azure.WebJobs.Extensions.SignalRService nuget package version 1.2 and higher. You'll also need `using Microsoft.AspNetCore.SignalR;` statement. Anything below that and the SignalRTrigger object isn't supported.

[co

[2020-11-18 22:56] #65993 closed

[2020-11-18 23:16] sameer-kumar opened #66303 "Connect Azure WebApp to Azure Sql PaaS with Private Endpoint and MI"
My application exception has brought into this page [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#how-to-set-up-private-link-for-azure-sql-database).
I'm looking for accessing Azure SQL PaaS from Azure WebApp via Managed Identity and Private EndPoint but couldn't find any documentation or guidance.

I have an AspNetCore3.1 app hosted on Linux Azure WebA

[2020-11-18 23:34] duongau commented on #61170
This should be updated now.

#please-close

[2020-11-18 23:34] #61170 closed

[2020-11-18 23:41] hsiang168 commented on #66296
Lvhsiang

[2020-11-18 23:41] DerekHerman-MSFT commented on #66291
@RonnieQuan This feedback page is for issues or suggestion for Microsoft documentation. As such I cannot promise that I will be able to provide this information. I am reaching out to the internal product team to see if they are able to provide an ETA for the GA release.

[2020-11-18 23:44] YutongTie-MSFT commented on #66162
#please-close

[2020-11-18 23:44] #66162 closed

[2020-11-18 23:45] ChaitanyaNaykodi-MSFT commented on #66002
Hello @nianton, We have proposed the suggested changes to the document and are currently pending doc-authors review, I will now proceed to close this issue out. Please tag me in your reply if there are any further concerns. Thank you!

[2020-11-18 23:45] #66002 closed

[2020-11-18 23:52] YutongTie-MSFT commented on #66296
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-18 23:52] YutongTie-MSFT commented on #66288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-18 23:53] YutongTie-MSFT commented on #66277
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-18 23:59] javester opened #66305 "Need to mention that this supports only v2 storage accounts!"
please add mention that private endpoints only work on v2 accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c8f-81d7-3b5b-edce932294cf
* Version Independent ID: 619d6b5e-ea75-61dd-5ef4-f653f9822cb8
* Content: [Use private endpoints - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/

[2020-11-19 00:10] davidsteinar commented on #65643
Thank you for the investigation. In my application logs I have gotten the "Succeeded" value in the response from the Get operation status.

Here are two code examples provided by Microsoft that present the "Succeeded" value in the model, not "Succeed":

[github.com/Ercenk/AzureMarketplaceSaaSApiClient](https://github.com/Ercenk/AzureMarketplaceSaaSApiClient/blob/174f98bffd4305a9a400afbf3911f2bdfbc

[2020-11-19 00:19] WinstonHoward-MSFT commented on #65964
Hey @tanmaygore, do you know the answer to this? I've assigned myself to it so it doesn't get lost.

[2020-11-19 00:21] anbene commented on #66048
Thanks @KrishnaG-MSFT. I'll reassign this issue to me and I'll investigate the reported error.

#reassign:anbene

[2020-11-19 00:25] loganballard commented on #33157
Adding another comment to echo other's sentiments.  This issue is very frustrating, as exposing all networks for KV is often not a solution for many organizations.  I am running into this using Terraform and am currently having to work around it.  A fix from @microsoft would be awesome.

[2020-11-19 00:31] nathanmcnulty opened #66306 "Need better guidance on updating decryption key for AZUREADSSO"
The current guidance encourages very bad practices - storing domain admin credentials to be used with a script, or more likely, nobody will bother rotating the decryption key.

I would like to see the following clarifications in this document:

1) Why are we expected to run this every 30 days?
2) Why is there no guidance on how to automate this with least privilege?
3) The docs indicate permission

[2020-11-19 00:37] raboley commented on #33157
Same for me, we can't have an open to internet kv or appgw, and cannot use the feature as much as we may want to. :/

[2020-11-19 00:49] MarileeTurscak-MSFT commented on #66164
Thanks @cmmdesai! Closing this out as it's dependent on the Workday admin. Feel free to tag us in the comments or create a new issue if there are further questions.

[2020-11-19 00:49] #66164 closed

[2020-11-19 00:49] sgryphon opened #66308 "Solution accelerator creation form is not working due to security issue with AAD in a frame"
In the Deploy Device Simulation section, trying to create the accelerator is failing due to security issue with AAD running in a frame. A workaround is to copy the URL from the error and paste into a new tab, not in a frame.

Steps to reproduce:
1. Go to https://www.azureiotsolutions.com/Accelerators
2. Open Device Simulation
3. Click Try Now
4. Authenticate (sign in to AAD)
5. On the create page,

[2020-11-19 00:52] MarileeTurscak-MSFT commented on #66232
ARM templates support conditions. https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-conditions

The error means that one of your actions is not valid or doesn't exist. What is the action you are trying to add?

[2020-11-19 00:58] zhangkeqiang opened #66309 "error in Create a virtual network card and associate with public IP address and NSG"
PS /home/zhangkq2000> # Create a virtual network card and associate with public IP address and NSG
PS /home/zhangkq2000> $nic = New-AzNetworkInterface `

InvalidOperation: Cannot index into a null array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df7220e-bdc8-7b82-73b9-75d0bde6ffca
* Version Independent ID: f25d0b

[2020-11-19 00:59] MonikaReddy-MSFT commented on #66270
@ezYakaEagle442 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-19 01:00] tfitzmac commented on #66089
@o-l-a-v  - I have been given a workaround that might work but I am not seeing your plan in any of the current offerings, which might be a problem. Before getting into the workaround, did you try moving the VM and get an error?

Here's the workaround:
1. Copy plan info
1. Clone the OS disk to the destination subscription OR move the original disk after deleting the VM from source subscription
1. I

[2020-11-19 01:02] #52778 closed

[2020-11-19 01:03] TravisCragg-MSFT commented on #53145
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-19 01:03] #53145 closed

[2020-11-19 01:07] weijia-ai opened #66310 "Is there a way to delete a specific version of certificate in Key Vault?"
[Enter feedback here]
Right now, if a cert has been renewed in key vault, it will have multiple version under a same name.
Is there a way to delete a specific version for one cert? From document, looks like we can only delete the certificate with all version all together.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-19 01:08] Karishma-Tiwari-MSFT commented on #66007
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-19 01:09] MarileeTurscak-MSFT commented on #66234
Hi @sarah026

You need to use the[ Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/blueprints/overview), as you can't directly create your own deny assignments. As mentioned in the document,  you can't directly create a deny assignment as deny assignments are created and managed by Azure .
https://docs.microsoft.com/en-us/azure/role-based-access-control/deny-assignments

To [vi

[2020-11-19 01:09] #66234 closed

[2020-11-19 01:09] SaurabhSharma-MSFT commented on #66278
@aidanfinn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-19 01:22] craigktreasure commented on #65866
@SatishBoddu-MSFT Please re-assign to @msftradford. Thanks!

[2020-11-19 01:34] BharathNimmala-MSFT commented on #65971
@dodge1350-frp Apologies if the question was not answered, [this repo](https://github.com/MicrosoftDocs/azure-docs/issues) is to drive improvements on Azure documentation and at this point there were no edits needed to the existing documentation linked to this thread . However wanted to take feedback with our internal team and if document enhancement is needed , take it as a backlog item.

Regardi

[2020-11-19 01:38] mike-urnun-msft commented on #66135
@NaeemIsAtGitHub Just checking in here again and curious to see the articles you mentioned. Also, I don't see any statements on this doc suggesting that CRON expressions are not supported on Consumption SKU. Although it does say so about the use of `TimeSpan` type:

[2020-11-19 02:01] Karishma-Tiwari-MSFT commented on #66270
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-19 02:04] tracychms commented on #66065
Thanks for feedback. EntryScript is not publicly available yet and we are working on publishing it. You can also use print or python logger for logging, check example here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-pipelines#configure-write-to-and-review-pipeline-logs

[2020-11-19 02:11] kiranpradeep commented on #66271
@gvashishtha Thanks for the reply. If I understand you correctly, at the moment, it is not possible to use `Model.package()` or a any other API in Azure ML SDK to a point to a different ACR other than one linked with ML workspace. Is that correct understanding?

[2020-11-19 02:14] #66271 closed

[2020-11-19 02:24] SaebAmini commented on #66110
@souravmishra-msft thanks for your confirmation, explanation and the compilation of links. I already know what OIDC and OAuth are and how they work (I think I do anyway 🙃). My issue is with regards to the samples and documentation. OIDC supports the implicit flow and just the fact that an app is server-side isn't proof enough of the flow it is using.

I think @mmacy pointed out the crux of the iss

[2020-11-19 02:25] VikasPullagura-MSFT commented on #66257
@wanglijun378617 We were able to reproduce the issue and team is working on fixing this issue.

[2020-11-19 02:34] Grace-MacJones-MSFT commented on #65821
Thanks for the update Mark. Glad your web app is now working.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-19 02:34] #65821 closed

[2020-11-19 02:44] VikasPullagura-MSFT commented on #66309
@zhangkeqiang I tried the tutorial and did not see the error you encountered.

Based on the error, the $vnet.Subnets[0] is null in your case.

Requesting you to recheck once on your end.

Check if the below the subnet creation is successful
[code]

And once the VNET creation step is done

[code]

Here see the value in `$vnet`. This should have the subnet value you have create in the previous step.

[2020-11-19 02:56] gvashishtha commented on #66271
@Salil Bapat<mailto:Salil.Bapat@microsoft.com> keep me honest here but I think the answer is yes.

From: Kiran Pradeep <notifications@github.com>
Sent: Wednesday, November 18, 2020 6:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gopal (he/him) Vashishtha <Gopal.Vashishtha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Specifyin

[2020-11-19 02:56] MayankBargali-MSFT commented on #65992
@spelluru Thanks for the confirmation.

@yellowpanda Adding more to the above comment. Yes, your understanding is correct that Azure Service Bus supports the option of encrypting data at rest with either Microsoft-managed keys or customer-managed keys. The article specifically talks about the premium tier where customers can use Azure Storage Service Encryption (Azure SSE).

You can also refer to

[2020-11-19 03:07] VikasPullagura-MSFT commented on #66137
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-11-19 03:09] VikasPullagura-MSFT commented on #66236
@palma21
Can you please check and add your comments on this.

[2020-11-19 03:22] VincentYip01 opened #66312 "Azure API Role Assignments Not Working for managementGroup scope"
Hi,

I am unable to get any results using managementGroup scope for Role Assignments API:
https://management.azure.com/providers/Microsoft.Management/managementGroups/{groupid}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01
It always return 0 results.
Note that:
1. The application user i'm using to run the API has Management Group Reader role at the Tenant Root level
2. I

[2020-11-19 03:32] MonikaReddy-MSFT commented on #66312
@VincentYip01 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-19 03:43] BharathNimmala-MSFT commented on #66023
@TheMorganator Thanks again for bringing this to our attention and helping us to improve our Azure documentation. I was able to repro the issue and raised a PR to fix the issue in the document. Once the PR is reviewed and approved , the change would go live later in the week.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the document

[2020-11-19 03:43] #66023 closed

[2020-11-19 03:48] BharathNimmala-MSFT commented on #66084
@douglasmaciver Thanks again for bringing this to our attention and helping us to improve our Azure documentation. I did raise a PR to fix the issue in the document. Once the PR is reviewed and approved , the change would go live later in the week.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what is al

[2020-11-19 03:48] #66084 closed

[2020-11-19 03:50] VikasPullagura-MSFT commented on #66223
@pjdamato Thanks for the Feedback. I will share this with internal team.

[2020-11-19 03:54] JFolberth commented on #65195
Is there any update on this?  I am able to update the documentation if it is accurate however the message returned from CLI is still conflicting if this is in fact accurate.

[2020-11-19 03:56] CHEEKATLAPRADEEP-MSFT commented on #66264
@Lerty  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be a better place to get help on your scenario. These forum community members cou

[2020-11-19 03:59] CHEEKATLAPRADEEP-MSFT commented on #66299
@GregDSmith  Thanks for the feedback! Currently, I'm working with the product team to get clarity of the above statement?

[2020-11-19 04:00] CHEEKATLAPRADEEP-MSFT commented on #66301
@lmegha  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be a better place to get help on your scenario. These forum community members co

[2020-11-19 04:01] jolauMSFT commented on #65841
@SubhashVasarapu-MSFT  and @amitsriva
Can you please consider the additional changes to the document below based on an internal conversation today.
1. Move the Known Issue section to the top of the article, as the first subsection after the introduction.
2. Change the first sentence in the known issue section from:
Application Gateway v2 does not currently support the following ciphers:
TO:
Applic

[2020-11-19 04:03] AnuragSharma-MSFT commented on #64870
@theGOTOguy We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-19 04:03] #64870 closed

[2020-11-19 04:09] AnuragSharma-MSFT commented on #66303
@sameer-kumar Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-11-19 04:10] AnuragSharma-MSFT commented on #66298
@sredman Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-19 04:10] SumanthMarigowda-MSFT commented on #66294
@j1mmyfever Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 04:12] SumanthMarigowda-MSFT commented on #66297
@benjamin-goldman Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 04:14] VincentYip01 commented on #66312
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-rest

This is the document. Issue with Management Group scope.

[2020-11-19 04:28] BharathNimmala-MSFT commented on #66297
Assigning this issue to our document author @lgayhardt to further evaluate the feedback. Thank you

[2020-11-19 04:29] mike-urnun-msft commented on #66020
@pnarsi I confirmed with the Event Grid team that this feature is in GA status. We'll remove the "(preview)" part shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-19 04:29] #66020 closed

[2020-11-19 04:35] shashishailaj commented on #66306
@nathanmcnulty Thank you for your query. We will have this reviewed and update the thread.

[2020-11-19 04:38] shashishailaj commented on #66310
@weijia-ai Thank you for your query. We will investigate and update the thread.

[2020-11-19 05:13] shashishailaj commented on #65509
@rkontrimas The commands mentioned have already been removed from the document . Could you please check it again and let us know which section you believe changes should be done ?

[2020-11-19 05:20] wshope99 opened #66313 "How to extract the resolution with V3?"
I understand how I would extract the resolution in V2 since it is clearly a field in the JSON, but how do I extract the resolution in V3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfee1185-f94a-eee9-2726-14dcdfd6f283
* Version Independent ID: d11173e2-e0d8-3347-65e1-5d105fba80be
* Content: [Number Prebuilt entity

[2020-11-19 05:33] matuhinal commented on #66201
Good day
Only russian and  on eml 18952lludi@gmail.com

[2020-11-19 05:46] Mraelstone opened #66314 "Error"
Issue with setting up logging in exercise for AZ web app after posting

Received following error:
InvalidArgumentValueError: az webapp log config: 'true' is not a valid value for '--application-logging'.

Was not able to setup log analytics :(
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd

[2020-11-19 05:48] HarithaMaddi-MSFT commented on #66186
@djpmsft - Can you please take a look and share your thoughts.

[2020-11-19 06:09] AshokPeddakotla-MSFT commented on #66308
@sgryphon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-19 06:27] Jiihaa opened #66315 "Add section with data types"
[Enter feedback here]
It would be really helpful to have a list of all supported data types (int, object..) and examples of the format how to pass them. For example in ML templates there seems to be parameter type 'Number' and there is no documentation anywhere what that is, and how to pass a a value of that type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-11-19 06:38] mcurko opened #66316 "X509 security"
_Service Fabric SDK's default behavior is to deploy and install the certificate with the furthest into the future expiring date; the classic behavior allowed the defining of primary and secondary certificates, to allow manually initiated rollovers, and is not recommended for use over the new functionality._

When you mention "classic behaviour", do you refer to thumbprint identified certificates (

[2020-11-19 06:42] emilpeder commented on #66274
Sure, I am simply wondering whether the variable `azureaduser` should not be created using the $ sign like `$azureaduser`?

[2020-11-19 07:05] arjunbalgovind opened #66318 "Incorrect example for Key Vault VM extension on Azure Arc"
The example PowerShell script provided for the Key Vault VM extension is incorrect on this page.
Here is the corrected sample:
[code]

The changes made are:
1. For `observedCertificates` it should be @**(** "observedCert1" **)**, not {
2. `authenticationSettings` instead of `authenticationLocationSettings`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-19 07:25] CHEEKATLAPRADEEP-MSFT commented on #66299
@GregDSmith As per the communication with the product team.  To get access to the ADB SQL Analytics you need to reach out to your sales representative at Microsoft.

In case, if you do not have a sales representative at Microsoft. I would suggest you file a support ticket and with a strong business use case.

Once you have created a support ticket, I would request you to share the support request

[2020-11-19 07:34] SumanthMarigowda-MSFT commented on #66305
@javester Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 07:51] jeffzhu1990 opened #66320 "The External Identities (B2C, B2B) MAU based pricing is not yet supported in Australia"
Hi team,

Just for notice that Australia is not yet supported for MAU. Not sure any other regions do not support it yet. please contact PG and update that information on this document. our customer is counting on this document to understanding our product.

Thank you !
v-jizh24
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-19 07:52] Deepti886 commented on #66155
Hi Team, Is there any update? Can I get the sample project to deserialize the v3 endpoint JSON? Please share an update on it.

[2020-11-19 07:54] SadiqhAhmed-MSFT commented on #66173
@jdelforno Have you had a chance to see the previous response? Feel free to reach out to us if you've additional questions in this regard.

[2020-11-19 08:07] souravmishra-msft commented on #65847
closing the thread for now since received no more updates on this yet.

[2020-11-19 08:07] #65847 closed

[2020-11-19 08:12] BharathNimmala-MSFT commented on #65971
@dodge1350-frp Just wanted to keep you updated that I did hear back from our Product team and based on initial analysis MFA is not supported for any cmdlet in Automation. However I have created an internal ticket with our team to further evaluate and see if there is any work around for this scenario. Will keep you updated as I get further information. Thank you

[2020-11-19 08:12] cpinotossi opened #66322 "For Azure Cloud Solution Providers (CSP) subscriptions, changing the Azure AD directory for the subscription isn't supported."
Hello,
there is a NOTE which does mention "For Azure Cloud Solution Providers (CSP) subscriptions, changing the Azure AD directory for the subscription isn't supported.".
But there is another article which does mention that moving Subscriptions between AAD for CSP would be possible:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp
Could y

[2020-11-19 08:13] lanicolas opened #66323 "Linux Azure Hybrid Benefit"
I believe the important note that  mentions that you need to redeploy is no longer the case, now that it has been announce the Azure Hybrid benefit for Linux VMs.

RHEL images currently available in Azure Marketplace support either bring-your-own-subscription (BYOS) or pay-as-you-go licensing models. The Azure Hybrid Use Benefit and dynamic switching between BYOS and pay-as-you-go licensing isn't

[2020-11-19 08:22] viguyonv opened #66324 "Importing packages from the Synapse package interface does not work"
[Enter feedback here]
Hello,

I've tried to import packages to Synapse Spark pool using the technique described in the documentation and had two issues :

1) The "import pip" command does not work, and it is not supported.
2) The lib i've imported is not listed in the packages, using this command :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-19 08:22] vipulsparsh commented on #66320
@jeffzhu1990 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-19 08:47] maestrigia opened #66326 "on-premises Active Directory Domain Services authentication over SMB for Azure file shares"
[on-premises Active Directory Domain Services authentication over SMB for Azure file shares]

I am using this public article to implement and integrate the AD DS with the azure file share
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable

you can find my environment below inside this picture
![image](https://user-images.githubusercontent.com/3

[2020-11-19 08:52] o-l-a-v commented on #66089
@tfitzmac

Thank you.

I'm pretty sure the customer tried regular move first, but I've asked for a confirmation on that one.

Regarding marketplace plans/ offerings:

* Seems not thought through when offerings, even from Microsoft, can just disappear, expire, and then a VM can't be moved to new subscriptions.
* Also it's strange not to have a unique identifier like a GUID so there can be no confus

[2020-11-19 09:10] evertonmc opened #66328 "Configure server parameters pgFlexible Server via ARM Templates"
@lfittl-msft Is there a way to set  server parameters via ARM templates?
I'm currently getting

while deploying with

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 357ab5a9-05c1-96b5-c25b-ab13268ac648
* Version Independent ID: 0951164f-1571-7fdf-516a-fc627d2970ae
* Content: [Configure server parameters - Azure

[2020-11-19 09:15] langebo commented on #66263
@SatishBoddu-MSFT Thank you. I have posted this question to the Microsoft Q&A portal.

You can find the question here: https://docs.microsoft.com/en-us/answers/questions/168262/upload-all-containers-of-blob-storage-iot-edge-mod.html

Closing this issue, since it's probably continued on the Microsoft Q&A portal

[2020-11-19 09:15] #66263 closed

[2020-11-19 09:16] evertonmc opened #66329 "What about flexibleServers/configurations ARM Template"
What about an example for `Microsoft.DBforPostgreSQL/flexibleServers/configurations` in the ARM Template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b0b7c42-a6d2-d2b2-5dd2-f8752e109cde
* Version Independent ID: d016d075-2393-b7b0-4410-bef55a6792e8
* Content: [Quickstart: Create an Azure DB for PostgresSQL Flexible

[2020-11-19 09:24] mw8er opened #66330 "Private Link Domain for Azure Data Factory"
Hi there,

clould you please confirm the following entry:

Private link resource type / Subresource | Private DNS zone name | Public DNS zone forwarders
-- | -- | --
Azure Data Factory (Microsoft.DataFactory/factories ) / portal | privatelink.azure.com | azure.com

Isn't there an 'adf' included somewhere?

Best regards,
Michael

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-11-19 09:35] roharon opened #66331 "Incorrect azure functions quickstart url"
There are Incorrect url on [azure functions quickstart index page](https://docs.microsoft.com/azure/azure-functions)

**Create your first function (C#)** links to `Quickstart: Create your first function in Azure using Visual Studio`.

Also others are link to [`Quickstart: Create a C# function in Azure using Visual Studio Code`](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-fu

[2020-11-19 09:39] fearofweapons opened #66332 "Link required to v9.7"
The page needs a link to v9.7 of the unified updated.
On the Rollup update page there is NO rollup with a version of 9.7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce6ad6e7-d15f-5e98-57ef-cfa59f6dff78
* Version Independent ID: 035bcb10-18f1-0831-99b7-f76a5ad21ddf
* Content: [Manage the configuration server for dis

[2020-11-19 09:43] OffColour commented on #66029
That doesn't apply in the situation where there is no network available and an Admin needs to login to resolve the issue of the network not working.
Suggest the page has extra information added on how to add a local admin account via something like Intune

[2020-11-19 09:51] SumanthMarigowda-MSFT commented on #66326
@maestrigia Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 09:51] mariuszo-at-microsoft-com opened #66334 ""Contributor" role might be not enough"
Information in **Availability** section says that "Owner" or "Contributor" role is required.

Information in **Step 4, point 2 section** says that role "Owner" is required, which is also confirmed here:
[https://docs.microsoft.com/en-us/azure/azure-arc/servers/onboard-service-principal#create-a-service-principal-for-onboarding-at-scale](https://docs.microsoft.com/en-us/azure/azure-arc/servers/onbo

[2020-11-19 09:53] SumanthMarigowda-MSFT commented on #66316
@mcurko mcurko Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-11-19 09:54] SumanthMarigowda-MSFT commented on #66260
@marinnedea  The PR has been merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-19 09:54] #66260 closed

[2020-11-19 09:57] SumanthMarigowda-MSFT commented on #66201
@matuhinal We cannot completely understand your question as this is an English global support. It would be helpful, if you can translate your question in English.Or you can consider support in other languages from here: https://azure.microsoft.com/support/options/
Refer the FAQ here: [For which languages does Microsoft provide support?](https://azure.microsoft.com/en-in/support/faq/)

[2020-11-19 09:58] AjayKumar-MSFT commented on #66314
@Mraelstone, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-11-19 10:03] lesterw1 opened #66335 "Critical Step Missing for enabling Azure Active Directory authentication"
The steps on the page **Sign in to Windows virtual machine in Azure using Azure Active Directory authentication (Preview)** is missing a critical step. Following the steps, you can build and deploy a new Windows 2019 Data Center VM with **Login with AAD credentials** enabled and grant a user for **Virtual Machine Administrator Login** but you will not be able to login as that user.

Running ``` ds

[2020-11-19 10:11] mcurko commented on #66316
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security

[2020-11-19 10:16] KrishnaG-MSFT commented on #66315
@Jiihaa Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-19 10:16] KrishnaG-MSFT commented on #66318
@arjunbalgovind Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-19 10:18] KrishnaG-MSFT commented on #66130
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-11-19 10:18] #66130 closed

[2020-11-19 10:19] rualthan opened #66336 "Indicate early deletion fee will be applied to new blob as well"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers?tabs=azure-portal
From the statement it is unclear if early deletion charge will be applicable to a new blob written into cool tier. Please clarify this statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a

[2020-11-19 10:26] RohitMungi-MSFT commented on #66313
@wshope99 The V3 version of the API provides the number resolution in the number field rather than the resolution field. V3 API include significant JSON request and response changes from V2 API, some of the changes and migration strategy for V2 to V3 are available [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-api-v3).

[2020-11-19 10:49] reginbald commented on #66197
Here is sample project if you would like to try this out https://github.com/reginbald/dotnet-core-client-cert

[2020-11-19 10:49] nidiculageorge commented on #66087
@VikasPullagura-MSFT is this update released

[2020-11-19 11:12] AnuragSharma-MSFT commented on #66328
@evertonmc Thank you for the feedback. We are actively investigating and will get back to you soon.
@lfittl-msft

[2020-11-19 11:13] AnuragSharma-MSFT commented on #66329
@evertonmc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-19 11:14] SubhashVasarapu-MSFT commented on #66330
@mw8er, Thanks for reaching out. We will investigate and update this thread.

[2020-11-19 11:18] fbacker commented on #27171
@cephalin is it possible to specify the maximum 'combined' limit? As of last year (december 23:rd 2019) we where running 20 instances of P2v2.

documentation:
maxConcurrentRequestsPerCpu = 7.500 websockets
P2v2 (2 cores) = 15.000 websockets

We where running the 23;rd
20 instances of P2v2 = 300.000 websockets

However, when we got above 60.000+ connections we ran into connection issues.

So the Ap

[2020-11-19 11:29] alexandreweiss opened #66337 "Typo in the Scenario 1 schema"
Hi Team,

Please be aware that you have a typo in the Scenario1 schema where Hub vnet address space should be 10.0.0.0/16 instead of 10.1.0.0/16

Thansk !
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c36-24c5-fa91a5be474a
* Version Independent ID: c6bd0573-22ef-f1d5-5553-000bd8f8c1bd
* Content: [U

[2020-11-19 11:33] SubhashVasarapu-MSFT commented on #66337
@alexandreweiss, Thanks for reaching out. We will investigate and update this thread.

[2020-11-19 11:35] EllisG93 opened #66338 "Application Rule SNAT is Forced"
The documentation says "Application rules are always applied using a transparent proxy whatever the destination IP address." but does not clarify that application rules force SNAT even when the private IP ranges are set on the Firewall config for 0.0.0.0/0.
Can this be made clearer please, as I had to open a support ticket to understand this behaviour.

Thanks

---
#### Document Details

⚠ *Do not

[2020-11-19 11:39] HarithaMaddi-MSFT commented on #66324
@viguyonv - Thanks for posting the issue. I am looking into it and will get back to you with more details.

[2020-11-19 11:41] VikasPullagura-MSFT commented on #66323
@lanicolas
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-19 11:41] VikasPullagura-MSFT commented on #66323
@asinn826
Can you please check and add your comments on this doc update request as applicable.

[2020-11-19 11:51] FabianHertwig opened #66339 "Please provide a minimal working example for submitting a training job with python"
Hi,

when following the how to guide <https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets> and copying the example snippets into a submit script you end up with the code below. That will not run. `project_folder` and `compute_target` are not set. `experiment` is never created.

It would be helpful if there is a minimal complete example (not snippets) that is at l

[2020-11-19 12:04] shashishailaj commented on #66322
@cpinotossi Thank you for your feedback . We will investigate and update the thread.

[2020-11-19 12:05] bgspan opened #66340 "Additional info on least privilege"
I would love to see a section in each "how to" article specifying the required least privilege (and/or RBAC role) to perform the task described in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75537b6-d25d-92f8-179e-3f7ea2e13024
* Version Independent ID: e509cf4d-8d4c-79b8-1afe-4faa514ca845
* Content: [M

[2020-11-19 12:05] shashishailaj commented on #66334
@mariuszo-at-microsoft-com Thank you for your query . We will investigate and update the thread.

[2020-11-19 12:08] shashishailaj commented on #66335
@lesterw1 Thank you for your feedback . We will investigate and update the thread.

[2020-11-19 12:15] KrishnaG-MSFT commented on #66340
@bgspan Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-19 12:21] kolodziejczyk0 opened #66341 "Additional requirements for ADF integration runtime and Parquet files"
Hello,
I would like to suggest to add more relevant information about the required configuration if you don't use official JRE but want to use OpenJDK. For me installing only OpenJDK and setting `JAVA_HOME` didn't work at all and I tried around 5-6 different JDK versions and setups.
Finally, I managed to get it working with just copying JDK and doing correct settings, however except of `JAVA_HOME`

[2020-11-19 13:13] dodge1350-frp commented on #65971
Thanks for the info on the token based access for MSOnline, I will give that a try and see if it yields positive results.  As for the comment that “based on initial analysis MFA is not supported for any cmdlet in Automation”, that just isn’t true.  I have been able to connect to all other cmdlets using MFA credentials as that is well documented in the literature.  MSOnline, however, does not suppo

[2020-11-19 13:16] cloudhubzawsaz opened #66342 "Please update cdn option 2"
Could you please update the screenshots and documentation for option 2. I don't see these options anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0f8fa5-b31c-17fc-64ee-e1b77f4f1389
* Version Independent ID: 24461bb6-a8ac-65e8-db24-fd359cab4130
* Content: [Using Azure CDN with SAS](https://docs.microsoft.com/en

[2020-11-19 13:17] b-roconl commented on #66222
Hey Julie,

Thanks for the assistance!

-Robert Conlan

From: Julie Chen <notifications@github.com>
Sent: Wednesday, November 18, 2020 2:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bob Conlan (NETAPP INC) <b-roconl@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] pcuser (#66222)

@b-roconl<https://nam06.safelinks.protection.out

[2020-11-19 13:28] AshokPeddakotla-MSFT commented on #65786
@ningweinw I have checked with our internal team on this issue and here is the response from the team.

**ran through a quick test and it looks like the property custom_properties will at least have the device ID. The output for that property will look similar too

{'$.cdid': 'ESP8266-FG1'}**

Please let us know if that helps.

[2020-11-19 13:28] #66342 closed

[2020-11-19 13:28] cloudhubzawsaz commented on #66342
Duplicate of existing issue

[2020-11-19 13:36] dkershaw10 opened #66343 "More information required"
Based on customer support cases (for using Microsoft Graph), customers want to know when sign in activity (last sign in time) was starting to be recorded, and for how long this info will be retained.  The first one is answered (Dec 2019) except the EM says that it's April 2020 so this needs checking, AND the second question is not answered by the topic.

Also I believe the permissions to read this

[2020-11-19 13:44] shashishailaj commented on #65511
@richardhauer I reviewed and it is not any kind of "opt-in" for using optional claim through the token configuration blade. any app you register will have token configuration blade.

![image](https://user-images.githubusercontent.com/532022/99673552-ecbbe880-2a9a-11eb-8019-4478d29aa4c0.png)

I checked it in apps registered with Free tenant as well as Azure AD premium and within apps registered fro

[2020-11-19 13:52] marcstern opened #66344 "IP address change monitoring"
Would it be possible to use any kind of standard for commits related to IP changes to allow an automated monitoring of changes?

Concrete need:
We have to whitelist IP addresses used for availability web tests.
We subscribed to the commit feed and we receive all changes.
Currently, we are obliged to read almost every single message because ther is no way to figure out a commit contains a change to

[2020-11-19 13:58] GitaraniSharma-MSFT commented on #65945
@zerweck , thank you for your reply. I understand that it would be difficult for a user with no PowerShell/CLI access to disable Accelerated Networking or resize an AN enabled VM to a size which doesn't support AN but the option to disable Accelerated Networking was never available through Azure Portal. Could you please provide some details on what you referred as "This was previously possible"?

[2020-11-19 13:59] elvirk commented on #66232
Hi and thank you for your respond, but my question is not whether ARM support condition. My question is if ARM conditions can be used to make "custom role" portable across different Azure Environments. Here is an example:
I create this custom role that has service "Microsoft.LabServices" which is available in Azure Commercial, so if I try to deploy this role in Azure Government environment, this s

[2020-11-19 13:59] dodge1350-frp commented on #65971
No success in obtaining access via the proposed solution:
Secure Application Model <https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fpowershell%2Fpartnercenter%2Fsecure-app-model%3Fview%3Dpartnercenterps-1.5%23msonline&data=04%7C01%7Cdshumate%40foundationrp.com%7C7f32d545bdc8422eaa3d08d88c2b54dc%7C7ba70ca2d9de49119277f5febbf4589c%7C0%7C0%7C637413465040

[2020-11-19 14:01] ningweinw commented on #65786
Thank you for the help

Best Regards
Ning Wei

On Thu, Nov 19, 2020 at 9:28 PM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

[2020-11-19 14:13] SrinathPAtil commented on #66322
@cpinotossi : You are right with your understanding that the tenant of CSP subscriptions cannot be changed. In the document I see that there are grammatical issues when it says "Note that the change directory isn't the CSP subscription." It should have been isn't supported for CSP subscription.

If you read further it says "For example, you're transferring from a CSP to a pay-as-you-go subscriptio

[2020-11-19 14:17] MayankBargali-MSFT commented on #65992
@yellowpanda Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-19 14:17] #65992 closed

[2020-11-19 14:18] Lerty commented on #66264
is there other places  more related to the Azure DDoS Protect Plan team?

[2020-11-19 14:23] mmckechney opened #66345 "Programmatic way to get Elastic Pool limits?"
Is there a programmatic way (REST API, PowerShell, CLI) to show the limits of an existing pool? For instance, I have a GP_Gen5 2 core pool that has a 100 database limit according to the docs. However, when getting information on this pool from PowerShell or the Azure CLI, that limit is not returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-11-19 14:33] MonikaReddy-MSFT commented on #66283
@vispatster -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-19 14:33] MonikaReddy-MSFT commented on #66285
@virvirlopez -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-19 14:47] felixtsem5 opened #66347 "Links to az CLI commands needs to be updated"
I noticed that the links to the az CLI commands took me to the page that contains the command but not the exact section. Upon further investigation, I found that the links on the page has dashes instead of underscores. So for example the az aks get-credentials command, this is what the link sent me to:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials
And

[2020-11-19 14:56] SumanthMarigowda-MSFT commented on #66336
@rualthan Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 14:57] SumanthMarigowda-MSFT commented on #66331
@roharon Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 14:58] VikasPullagura-MSFT commented on #66087
@nidiculageorge It will be released by end of this week.

[2020-11-19 14:58] SumanthMarigowda-MSFT commented on #66332
@fearofweapons Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 14:59] SumanthMarigowda-MSFT commented on #66338
@EllisG93 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 15:01] SumanthMarigowda-MSFT commented on #66339
@FabianHertwig Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 15:02] SumanthMarigowda-MSFT commented on #66343
@dkershaw10 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 15:03] SumanthMarigowda-MSFT commented on #66341
@kolodziejczyk0 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-19 15:04] SumanthMarigowda-MSFT commented on #66344
@marcstern Thank you for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-11-19 15:04] TomGeske commented on #66347
seems like all anker links to azure CLI are broken. @zr-msft are you aware of any global change in az cli docs? I think this may impact other docs in our repo as well.

[2020-11-19 15:13] jgoretzky commented on #66148
Hi,
Yes I have seen this document. But it does not contain an example of how an Android device can read the data back.

Regards,
Jared

From: SatishBoddu <notifications@github.com>
Sent: Wednesday, November 18, 2020 5:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jared Goretzky <jared.goretzky@criticalvector.tech>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2020-11-19 15:18] mmacy commented on #66206
@dkreeft By the way, thanks for raising this issue, we can make the current restriction clearer.

@sureshja @lnalepa For now, I'm going to:

- Add `http://localhost` and `https://localhost` back to the top of the list of redirect URIs in the [Localhost exceptions](https://docs.microsoft.com/azure/active-directory/develop/reply-url#localhost-exceptions) section
- Make some edits for clarity on the

[2020-11-19 15:19] spelluru commented on #65931
#please-close

[2020-11-19 15:19] #65931 closed

[2020-11-19 15:19] marcstern commented on #66344
articles/azure-monitor/app/ip-addresses.md

[2020-11-19 15:20] spelluru commented on #65164
I have added a few examples. We will add more in the future.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sql-filter#examples

#please-close

[2020-11-19 15:20] #65164 closed

[2020-11-19 15:20] VikasPullagura-MSFT commented on #66347
@felixtsem5
Thanks for the feedback! We are currently investigating and will fix the document accordingly.

[2020-11-19 15:22] wshope99 commented on #66313
I've looked at that documentation before, and it makes sense to me when looking at it from a high-level view. However, when I go to code in C#, I see no methods to allow me to access the number field itself, only the metadata underneath the $instance field.

This is the LuisResult class that I am using: https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.cognitiveservices.language.luis.r

[2020-11-19 15:44] v-tcassi commented on #65169
These titles were updated for clarity and approved in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/136906

#please-close

[2020-11-19 15:44] #65169 closed

[2020-11-19 15:51] mdrakiburrahman opened #66348 "Accessing Event Hub Schema Registry through Databricks"
Hi Team,

I understand that the Schema Registry for EH is currently [in preview](https://docs.microsoft.com/en-us/azure/event-hubs/schema-registry-overview), and there is some work-in-progress to consume from the Schema Registry from the Kafka surface (such as [this](https://github.com/arerlend/azure-schemaregistry-spark)).

Would you be able to advise if it's possible to leverage the Schema Regis

[2020-11-19 15:54] rafsalas19 opened #66349 "The code section that has you run "az vm create" does not work on Azure CLI without adding a location flag."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7239b61e-4b06-67ae-5719-9bc0572283e8
* Version Independent ID: fe537392-b6e2-f313-5065-e347ebf66252
* Content: [Create a VM from a generalized image using the Azure CLI - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2020-11-19 15:54] GFParker opened #66350 "Azure web page not found"
I followed the instructions for the walkthrough, "Create your first durable function in C#" (Visual Studio version), and it all went OK up to the last stage where you run it in Azure.  My HttpStart function has a FunctionName of IntegrationOrchestration_HttpStart.  Visiting the web page https://{_mySite_}.azurewebsites.net/api/IntegrationOrchestration_HttpStart gives the error, This {_mySite_}.azu

[2020-11-19 16:00] AjayKumar-MSFT commented on #65834
Thanks manekinekko for the review.

@TopperKain, The requested changes have been merged and will go live shortly.
We always strive to make our Azure docs more discoverable and up to date with the latest changes. Thanks again for taking time to share your feedback in improving the doc. It's much appreciated!
We will close this out, but if you feel you need more information please just let us know.

[2020-11-19 16:00] #65834 closed

[2020-11-19 16:10] AjayKumar-MSFT commented on #40968
@JFolberth, Much appreciate you taking time to create a PR, we (@mattchenderson) will review the PR and merge. Apologies for the delay.

[2020-11-19 16:26] mcurko opened #66352 "Configure Windows security using a machine group"
From

`"ClusterIdentity" : "[domain\machinegroup]",
        "ClientIdentities": [{
            "Identity": "[domain\username]",`
to

`"ClusterIdentity" : "ServiceFabric/clusterA.contoso.com",
        "ClientIdentities": [{
            "Identity": "CONTOSO\\usera",`

If the domain is CONTOSO, shouldn't ClusterIdentity be something like CONTOSO\\groupname. How does "ServiceFabric/clusterA.contoso.co

[2020-11-19 16:35] mavilleg opened #66353 "Bring clarity"
2 of my customers did the same mistakes, both using the scénario 1 and trying to inspect their traffic between a VM and a managed postgreSQL database. Could you add a note saying that for a database different from SQL we shouldn't use application rules to filter the traffic ?

thanks in advance !

PS: is there a roadmoap for the integration of others FQDNs than SQL for application rules ?
PS2: the

[2020-11-19 16:36] NavtejSaini-MSFT commented on #66094
@KitLemmonds Please check this document for general FAQ's - https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/frequently-asked-questions-faq
It has information on scaling up and down and other details. Go through the same and let us know what specific question we can answer.

[2020-11-19 16:38] msftradford commented on #65866
Hi @vtieto, I'm happy to take a look at this with you. We're going to go ahead and leave this issue open (internal #30720836) and have it serve as a reminder to update the outdated screencaps in the document.

For helping with your specific issue, can you give us an idea of what you do see in your Project pane? Hopefully, you see "Favorites", "Assets", and "Packages". If you have an "Assets" direc

[2020-11-19 16:39] GFParker commented on #66350
It seems that I had managed to publish the Function App, but not any Functions.  I'm not sure how that happened - am I supposed to Publish a Function App first, then click Publish again to publish the functions?  Or do you just have to wait 30 mins for it all to appear?  In any case, they are there now and it's working; but I'd still like to know if I didn't follow the instructions correctly, or i

[2020-11-19 16:39] remvst commented on #33505
Hey guys, am facing the same issue. I am able to deploy my multicontainer app using `docker compose up` on Azure, however I need a persistent domain (rather than an IP). I am using `az webapp create ...` and specify my `docker-compose.yml` file, but the image also fails to pull with the same error message when checking the logs:
[code]
Would love to be pointed to some documentation on how to fix t

[2020-11-19 16:43] joshnoe opened #66354 "$container isn't set"
Some of the commands require the `$container` variable, but this variable is not set in the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db3d06eb-12d1-5fdb-e5f7-647556d0d38b
* Version Independent ID: 8f53d1c4-316d-76ca-8664-6a18ba3676c1
* Content: [How to enable Azure Key Vault logging](https://docs.microso

[2020-11-19 16:46] anbene commented on #66048
@morcinim Thank you for bringing this to our attention - I've removed the extra space from the script. We really appreciate your contribution!

#please-close

[2020-11-19 16:46] #66048 closed

[2020-11-19 16:46] NavtejSaini-MSFT commented on #66345
@mmckechney We are checking this and will get back to you.

[2020-11-19 16:47] #65895 closed

[2020-11-19 16:50] jasonfritts opened #66355 "Changes to home user object not reflected in Guest user object"
It should be mentioned that after redemption, if there are any changes to the invited user's home user object (UPN, or deleted\recreated etc.) these changes will not be reflected in the guest tenant.  The user must be re-invited to guest tenant to update guest user object to match the home user object changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-11-19 16:53] jasonfritts opened #66358 "MAU pricing change clarifications"
Can we get some clarification for customers who were using the old B2B 1:5 AAD premium billing model.  How will this differ from 1:5 pricing of standard Azure AD B2B user? Today, a standard B2B user isnt billed per active user are they? Only if they used AAD premium features do they need to be licensed?

 Does this change mean that standard B2B users will now be billed on a MAU basis even if custo

[2020-11-19 16:57] JoeDibley opened #66359 "Fido2 Keys - AllowSelfServiceSetup not available"
Hi there,
I was setting up FIDO2 today and found that I followed all documentation and then just whatever I did I couldnt get the "+ Add Method" to show the security key for users in the mysignins security info page: https://mysignins.microsoft.com/security-info

Upon looking at some 3rd party blogs and such on the scenario I found that the Allow Self Service Setup option was not available in the

[2020-11-19 16:58] MarileeTurscak-MSFT commented on #66354
@joshnoe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-19 17:17] CarlosLanderas commented on #33157
Having the same problem today. :(

[2020-11-19 17:19] mimckitt commented on #66294
There is not a way to extend the timeout period. The 90 mins is there by design.

I might suggest looking at using startup tasks inside the VM instead of custom script. That might be more of a solution that would work for you.

[2020-11-19 17:22] vishalgoyal16444 opened #66361 "Using Unpivot transformation in ADF for dynamic column names"
We have 3000 CSV files and each file has week wise data for that week. For each week, dates are stored as column names and each column has relevant values. Also, these files have 2 different file formats used with some columns being common.

We want to be able to use unpivot to move date columns into rows. Since dates change in every file, how can we do this. We have tried using conditional split

[2020-11-19 17:28] j1mmyfever commented on #66294
Thank you.

Looks like I just lost the ability to continue monitoring a deployment in
EV2, and also must have it end in that 90 minute window or have it report a
failure.  Not a big deal, I have work arounds.

On Thu, Nov 19, 2020 at 12:19 PM Micah McKittrick <notifications@github.com>
wrote:

[2020-11-19 17:32] V4A001 commented on #61024
I am stuck here as well here. The sample given on the website does not work at all. First I spent a lot of time figuring out that for the azure load balancer file the resource group name of the ip resource group should be used.

If I follow the azure-load-balancer setup for the fixed ip I would say that this dns must be filled in in the ingress setup.

Any progress here?

[2020-11-19 17:34] ksaye opened #66362 "Missing code on: Upload and tag images"
[Enter feedback here]
Your section Upload and tag images is missing the required code and is a duplicate of the create tag section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Image classificati

[2020-11-19 17:34] spelluru commented on #33451
@rajrao - Appreciate it. I added a few examples yesterday. I will add yours to the article too. Thanks!!

[2020-11-19 17:34] spelluru commented on #33451
#in-progress

[2020-11-19 17:35] mimckitt commented on #66294
If you would like to provide some more details about what the end goal you are looking to achieve is I would be happy to suggest some alternative solutions. Otherwise if you have workarounds, that is great as well. Always happy to help find the right solution :)

[2020-11-19 17:35] spelluru commented on #15719
I have added a few examples yesterday. I will be adding more today/tomorrow. #please-close

[2020-11-19 17:36] #15719 closed

[2020-11-19 17:36] spelluru commented on #49471
#in-progress

[2020-11-19 17:42] SatishBoddu-MSFT commented on #65999
Hello @wmk1
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft to repo

[2020-11-19 17:42] #65999 closed

[2020-11-19 17:47] SaurabhSharma-MSFT commented on #66348
@mdrakiburrahman Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-19 17:48] spelluru commented on #66348
@clemensv - could you please take a loot at this issue and respond when you get a chance? Thanks.

[2020-11-19 17:53] shashishailaj commented on #66322
@cpinotossi Hope the above explanation helps. I have corrected the grammatical error that Srinath have talked about and the change should go live in the next 48 hours on public documentation. In case you do not have any other queries on this , we will be closing this issue by tomorrow.

[2020-11-19 17:55] oising commented on #33157
Another viable option for people pissed off with the struggle with appgw is to use Azure Frontdoor (it's basically a trimmed down appgw) but it only works on public networks (no vnets)

[2020-11-19 18:02] PramodValavala-MSFT commented on #66049
@vbeaulieu278 Just following up here to see if my response clears things up. If you are not receiving notifications even when there are no active listeners present on the entity, it would be best to open a support ticket for a deeper investigation into what may be the cause.

[2020-11-19 18:02] #66049 closed

[2020-11-19 18:04] piotrgradzinski opened #66364 "OAuth2 using authentication bearer for userinfo endpoint"
I am doing an integration between Azure B2C and Forgerock Access Management platform using OAuth2. I am using custom policies.
Within `ClaimsEndpoint` I have the following endpoint `https://example.com/oauth2/userinfo`. B2C is sending the request in a form of
[code]
where ForgeRock requires that the access token is sent as Authorization Bearer header
[code]
as described here: https://backstage.for

[2020-11-19 18:08] MarileeTurscak-MSFT commented on #66355
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-19 18:09] KamleshKhollam commented on #66268
Posted issue on:

**Microsoft Q&A:**

https://docs.microsoft.com/en-us/answers/questions/167090/azure-stream-analytics-job-reference-input-join-er.html

**Stack Overflow:**

https://stackoverflow.com/questions/64890130/azure-stream-analytics-reference-input-join

[2020-11-19 18:35] vbeaulieu278 commented on #66049
@PramodValavala-MSFT Sorry for the delay. I checked the metrics and there are no active connections on the namespace.
You asked "Could you confirm if you were getting notifications for other entities within the namespace at the time?"
Is is because any active listener on a namespace would prevent the event from being sent out?

[2020-11-19 18:41] ShaneBala-keyvault commented on #65941
Hello, IoT Hub is not supported as a Key Vault Trusted Service.
However, IoT hub does support service tags so you can configure access to Key Vault.
https://azure.microsoft.com/en-us/updates/iot-hub-feature-service-tags-is-now-generally-available/

[2020-11-19 18:41] Nordes opened #66369 "Not able to set VNET rule for VPN"
Maybe it's only me, but I don't see the option for the VNet in azure.

I see:
- Firewall rules
- SSL settings
- TLS settings

Do we need to have a particular SKU in order to achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e785d4-cb1f-dc12-6702-48ffe1287734
* Version Independent ID: f359048a-b2a7-9b42-c10

[2020-11-19 18:41] ShaneBala-keyvault commented on #65941
#please-close

[2020-11-19 18:41] #65941 closed

[2020-11-19 18:43] ChaitanyaNaykodi-MSFT commented on #66350
Hello @GFParker, Thank you for your feedback! We will review and update as appropriate.

[2020-11-19 18:45] Niharikadutta opened #66370 "Code samples for C# empty in Microsoft Spark Utilities article"
A lot of code snippet samples for C# are empty:

Such as:

![image](https://user-images.githubusercontent.com/8151864/99709545-2b7a8000-2a54-11eb-8893-8f4648bb46ec.png)

And:

![image](https://user-images.githubusercontent.com/8151864/99709591-40efaa00-2a54-11eb-817e-1dfaa5e569f6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-11-19 18:53] mscatyao commented on #33157
We're actively working on allowing AppGW to work with KeyVaults set to only allow private endpoints and select network access. As per @jmcshane's suggestion, we've updated the [docs ](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#how-integration-works) to include an important note under the "How integration works" section regarding this limitation. We'll update this th

[2020-11-19 18:54] colin-small opened #66371 "There appears to be a bug in the web ui with respect to IP Groups."
There appears to be a bug in the web ui with respect to IP Groups.

When viewing network rules that are using IP Groups you can see the count of the IP Groups that are selected for that rule, let's say 8 for arguments sake.

If you hover over the IP Group count it changes from 8 to 0. If you click on the drop down, it shows none of the IP Groups selected, even though there are really 8 selected.

[2020-11-19 18:55] lfittl-msft commented on #66328
@evertonmc Thanks for reaching out - I'll check with the team.

For future reference, you can also email our mailing list as well for questions: AskAzureDBforPostgreSQL@service.microsoft.com

[2020-11-19 19:03] SadiqhAhmed-MSFT commented on #66332
@Sharmistha-Rai For visibility

[2020-11-19 19:05] AjayKumar-MSFT commented on #66180
@MichaelSL, I have tried the same cmdlet and it works. Just to clarify, is that Core WebApp on Linux or something else?

![image](https://user-images.githubusercontent.com/44606227/99709027-a5e2e880-2ac4-11eb-858c-c819f463bda0.png)
![image](https://user-images.githubusercontent.com/44606227/99709303-03773500-2ac5-11eb-9ada-e75e65f123f0.png)

I'm not sure about the input you'd set, if the issue sti

[2020-11-19 19:12] mrbullwinkle commented on #66297
@MicrosoftDocs/azure-cxp-triage This isn't a doc-bug it is a doc-enhancement request. There is nothing technically incorrect about the recommendation that if a dependency is not tracked automatically you can either not track it, or you can track it manually. The suggested linked content is still effectively manually tracking the dependency albeit with a different pattern/syntax that may prove usef

[2020-11-19 19:19] #66117 closed

[2020-11-19 19:26] mcurko opened #66374 "Configure Windows security using gMSA"
Please add steps on how to greate gMSA, retrieve the required information and add it in config file (ClustergMSAIdentity and ClusterSPN). I created a gMSA named "gmsa1", added a servicePrincipalName "http/servicefabric/cluster.mons.hr" to it, set the following variables:

ClustergMSAIdentity "gmsa1@mons.hr"
ClusterSPN "http/servicefabric/cluster.mons.hr"

but the cluster creation results in "Syste

[2020-11-19 19:31] phwecker opened #66376 "NodeJS SDK link points to deprecated version on NPM ..."
it seems the link should point to the current NPM package, rather than the deprecated one. the deprecation message does show which one is the more current one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e6115e-3f3f-6ab2-446c-37edc567ecd3
* Version Independent ID: 8bcf5f59-1412-abb3-275d-300b2c6929e0
* Content: [D

[2020-11-19 19:47] IngridAtMicrosoft commented on #66376
Thanks @phwecker I will take a look.

[2020-11-19 19:50] lmegha commented on #66301
Okay, got it! Thanks for pointing that out, closing this thread.

[2020-11-19 19:50] #66301 closed

[2020-11-19 19:51] shashishailaj commented on #65057
@p0shkar We have updated the document . The update should be live in the next 48 hours. We will be closing the issue now. Should you have any further query , please let us know and we will be happy to help .

Thank you .

[2020-11-19 19:51] #65057 closed

[2020-11-19 19:53] Dekor86 commented on #24300
Why is this closed?  I sat MS500 and there was a question that had use of both -contains and -match that I couldn't decide on an answer for.  Thought I'd be able to read up on it after but seems still no clear documentation on what rules -match follows in dynamic queries in Azure AD.  Seems a bit ridiculous that MS would test people on something they don't even know themselves.....

[2020-11-19 19:53] rmcolbert commented on #65868
@tesharp The azure.com zone is only used for putting the ADF management portal behind private link (adf.azure.com CNAME adf.privatelink.azure.com) You can still put your Azure Data Factory factory instance behind private link because they use "privatelink.datafactory.azure.net" but there is a bug right now there also. Data Factory instances that existed prior to the Private Link GA for ADF may alr

[2020-11-19 19:56] AndriySvyryd commented on #65615
@BryanTrach-MSFT Have you had a chance to review this?

The confusion between DbContext pooling and connection pooling is somewhat common, see https://github.com/dotnet/efcore/issues/17167 and https://github.com/dotnet/efcore/issues/14625. We should strive to make the documentation clear and accurate.

[2020-11-19 19:57] ronbruintjes commented on #61024
The problem I had with the label seems to be a restriction on what characters can be included in the DNS label. Only lower case, numbers, and dash seem to be allowed.

We were also able to deploy by disabling a webhook that validates the configuration. This was a Known Issue, and is resolved in a new release of the Helm chart.

Here's the changes I made to initially deploy (way back in August 2020

[2020-11-19 19:57] rmcolbert commented on #65868
@tesharp As a workaround, you can create a CNAME record in your privatelink.azure.com zone:
management.privatelink.azure.com CNAME arm-frontdoor-prod.trafficmanager.net

Though you would need an entry for every *.azure.com entry that is a CNAME to privatelink.azure.com to prevent breaking other things.

[2020-11-19 20:11] centerquebec opened #66378 "Introducing JPDEVC LAB"
Code repository issue number :

08cd8206904e52b7de09f1f77c095cc1994a915c

[2020-11-19 20:12] cherylmc commented on #66202
Thanks! Fixing now! #please-close

[2020-11-19 20:12] tfitzmac commented on #66217
@zyadamec - thanks for this feedback. I am updating the article to show the new commands that support subscription tags.

[2020-11-19 20:12] #66202 closed

[2020-11-19 20:14] bryhall commented on #65847
Thanks for the explanation.  I think your last sentence is really the gist of why algorithm doesn't seem to make sense.  Long pass phrases are harder to crack for sure, even when repeated banned words are used (e.g. PasswordPasswordPasswordPasswordPassword), but the logic breaks down when the long password becomes an easy to guess string, for example, when employee of an company called "Tail Spin

[2020-11-19 20:14] josealvarez97 commented on #63369
@SnehaAgrawal-MSFT @sethmanheim does the node.js API, when imported from azure-sb, has support for FCM template registrations? It seems it only has for GCM, which is deprecated.

[2020-11-19 20:23] cherylmc commented on #64921
Thanks! We've decided to leave it as-is for now. #please-close

[2020-11-19 20:23] #64921 closed

[2020-11-19 20:31] keithcharlie commented on #65862
Thanks so much

Keith Vidal | w: 805.450.3580<nxphone:805.450.3580>

From: Andrea Benetti <notifications@github.com>
Sent: Wednesday, November 18, 2020 1:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Keith Vidal <Keith.Vidal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] azure gov applicability? (#65862)

@keithcharlie<https://

[2020-11-19 20:39] AjayKumar-MSFT commented on #34451
I totally understand such issues can be frustrating, sincere apologies for all the inconvenience caused.  Just to add clarity, there could be varied causes for the start-up errors, I have checked a few apps mentioned here and found different potential causes and not specific to _WEBSITES_PORT_ settings.
Having mentioned that, we're adding more FAQs in this doc to add more clarity.
Kindly pardon! I

[2020-11-19 20:44] BryanTrach-MSFT commented on #63627
@jcbrooks92 Thank you for the feedback. We have gone ahead and updated the doc. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-19 20:44] #63627 closed

[2020-11-19 20:46] ivo-andreev opened #66379 "ACI VCPU Pricing Clarification"
Currently ACI VCPU pricing is unclear, not properly described in FAQ and samples. If a container instance has 3 containers - with VCPU split as follows 1+ 0.1 + 0.1, although the sum is 1.2VCPU, the user will be billed for 48VCPU hours per day for a full day of operation instead of 36VCPU hours.
In my case this lead to 300 USD higher monthly bill than expected.
I had a long 2-months support thread

[2020-11-19 21:04] tejinderrai opened #66381 "Registering a service with this sample code."
Hello,

To expand on this sample further, have you considered creating a couple of data services and registering these within startup.cs e.g.

   public void ConfigureServices(IServiceCollection services)
    {
        ...
        services.AddSingleton<GraphService>();
        services.AddSingleton<MailService>();

    }
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-11-19 21:07] lfittl-msft commented on #66328
@evertonmc Looks like this is currently not supported - we are looking into fixing this. For now I would recommend using the CLI for automating parameter configuration.

Hope that helps!

[2020-11-19 21:10] cherylmc commented on #65849
I'll take a doc bug on this. Thanks! #please-close

[2020-11-19 21:10] #65849 closed

[2020-11-19 21:18] lfittl-msft commented on #66258
@kny78 Thanks for reaching out! We are actually working on Postgres 13 for Flexible Server already, and should have news on this soon. Note that you can already use Postgres 12 on Flexible Server.

For future service questions like this, you can also email AskAzureDBforPostgreSQL@service.microsoft.com

[2020-11-19 21:23] vispatster commented on #66283
Please close this issue.

It wasn't related to any doc

[2020-11-19 21:49] V4A001 commented on #61024
Dank je wel (thank you)! Delete the validation hook does not destroy anything? I read some doubt between the 3.5K issues reported in azurecli (a lot related to k8 not working). I will try. If working, is there anybody at MicrosoftDocs responsible for updating the documentation to avoid that those 3.5K issues get more... and/or MS fans go to Google or AWS?

[2020-11-19 21:51] MarileeTurscak-MSFT commented on #66358
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-19 21:55] jasonfritts opened #66382 "Include Azure Gov endpoints in required network connectivity"
The required network connectivity section should include the required URLs for Azure Gov. for Service Bus (*.servicebus.usgovcloudapi.net ) and Passwordreset URLs  (*.passwordreset.microsoftonline.us) .

I could only find this information somewhat mentioned in this separate doc which is geared towards developers not the server admins who would be configuring password writeback (https://docs.micros

[2020-11-19 22:12] rjewell-lower opened #66383 ""Save Query" documentation missing"
The opening list mentioned that you will learn about how to "Save, load, export, and copy queries and results", but details on saving are missing from this version.  Found them in a previous version, roughly here: https://github.com/MicrosoftDocs/azure-docs/commit/efae9a83207d73e8df4174253cefed31f4a36325#diff-2d6e51cfc26f3d7c94e0b5a7895599b65055e599cfe6b849aac4ad6cbc94881fR187

Info on "Loading" w

[2020-11-19 22:23] WinstonHoward-MSFT commented on #66349
Thanks for the issue, I'll take a look.

[2020-11-19 22:25] WinstonHoward-MSFT commented on #66352
Thanks for the doc feedback, I've assigned it to the author to take a look.

[2020-11-19 22:28] marcoklose opened #66384 "MSIX App attach on Windows 2019"
I am trying to run the app attach on Windows Server 2019 (1809 Build 17763.1577) and see the follow error when I stage the package. The same script is running successfully on Windows 10.

`Cannot convert argument "deploymentOptions", with value: "StageInPlace", for "StagePackageAsync" to type "Windows.Management.Deployment.DeploymentOptions": "Cannot convert value "StageInPlace" to type
"Windows.M

[2020-11-19 22:28] mjrsnyder opened #66385 "User Provisioning still skipping users assigned to the Default Access role for a configuration from the applicaiton gallery"
Users associated with the default access role are still not being synced like this page says they will be.  The change was supposed to go out in July of 2020 but does not appear to have been released.  I still see AzureAD skipping sync on users in the Default Access role for an existing configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-11-19 22:28] ashishmundrajll commented on #57835
Was this resolved? We like to also use Microsoft Graph API from ADF to read email body from a shared MailBox. Thanks.

[2020-11-19 22:31] c3474 opened #66386 "Missing URL?"
[Under title "Configure Azure AD SSO", Step 4, only the identifier URL is present. Basic SAML Configuration
has **two** required fields "Identifier (Entity ID)" and also "Reply URL (Assertion Consumer Service URL)." The Reply URL value seems to be missing from step 4.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166

[2020-11-19 22:31] DerekHerman-MSFT commented on #66291
@RonnieQuan Unfortunately I am not able to provide an ETA. I recommend monitoring https://azure.microsoft.com/en-us/updates/ for any updates.

[2020-11-19 22:31] #66291 closed

[2020-11-19 22:34] mmacy commented on #66110
@SaebAmini This is _exactly_ the type of constructive feedback we always hope for - thank you! :medal_sports:

1. & 2. Would you be willing to open issues in the affected sample repo(s) so the team that owns the sample(s) can track and address? Definitely feel free to cross-link this issue for context if you do so.

3. Funny you mention that - there's a work item (PBI 1194716) that's just been pic

[2020-11-19 22:38] MonikaReddy-MSFT commented on #66378
@centerquebec -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-19 22:46] YutongTie-MSFT commented on #66362
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-19 22:54] YutongTie-MSFT commented on #66155
@Deepti886 Hello, we have forwarded your feedback to the author. He will review this request, respond here and update the document with more samples if needed. Thanks a lot for your feedback again.

[2020-11-19 22:55] oising commented on #33157
@skinlayers that could work -- won't know until you try it though!

[2020-11-19 22:56] gstevens-kyriba commented on #38772
For me the biggest reason is cost.  In order to have APIM in Internal or External mode, it has to be Premium Tier, which costs 20x as much as Developer, Basic or Standard Tier.  ($48/mo vs $2802/month) For that reason alone, I too want my APIM to remain public. (ie, be the edge device...)

I CANT make APIM run on a private network, Premium tier pricing is a non-starter.

It doesn't make much sense

[2020-11-19 23:05] JamesTran-MSFT commented on #66359
@JoeDibley
Thank you for the detailed description of your issue and the workaround you took to resolve it! I've assigned this issue to the author to look into and update the docs as necessary with your findings for the UI bug.

Thank you for your time and patience throughout this issue.

[2020-11-19 23:07] JamesTran-MSFT commented on #66381
@tejinderrai
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-19 23:09] JamesTran-MSFT commented on #66382
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-19 23:11] JamesTran-MSFT commented on #66386
@c3474
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-19 23:18] JamesTran-MSFT commented on #66292
@RonnieQuan
Thank you for your time and patience throughout this issue. When it comes to Azure updates, please follow our [Azure Updates](https://azure.microsoft.com/en-us/updates/) page for the latest updates on Azure products and features to meet your cloud investment needs.

[2020-11-19 23:18] #66292 closed

[2020-11-19 23:26] spelluru commented on #64239
Checked with the product team. Ordering is not guaranteed in general (both success and failure scenarios).

[2020-11-19 23:39] spelluru commented on #56765
#please-close

[2020-11-19 23:39] #56765 closed

[2020-11-19 23:56] JamesTran-MSFT commented on #66364
@piotrgradzinski
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-20 00:20] CarlosLanderas commented on #33157
I was able to fix this following the next steps:

- Remove the existing ssl-cert profile using az network application-gateway ssl-cert remove
- Disable the firewall temporally and allow access from all networks
- Bind the certificate again from azure key vault (I checked twice that all the service identity permissions were ok).
- Disable public key vault access again

Everything working ok

[2020-11-20 00:20] jdfoxmicro opened #66393 "Information missing"
Hello. This document is missing information and is unclear in some places.

After an internal transfer, if you then do what's in "Adding the domain name to a managed organization in Azure AD", what happens to the services and subscriptions in the previous tenant? Those remain available, so long as the user signs in with the onmicrosoft.com address, correct? I figure then, you have to start over, a

[2020-11-20 00:21] JoeDibley commented on #66359
No problem! I am happy I have now enabled the configuration of FIDO2 so no problem here! Just in case it helps, I used to f12 dev tools in chrome to get the API call for a POST change to FIDO2 roles (just enabling it and clicking save), then saw that on the GET for the same call when refreshing the page allowSelfServiceSetup was in the get and not the POST so added it to the POST call which was th

[2020-11-20 00:32] BryanTrach-MSFT commented on #65266
@btardif As requested we have assigned you to the feedback. Please let us know if we can assist in any way.

[2020-11-20 00:40] BryanTrach-MSFT commented on #64218
@difatkulbayanova Please note the doc includes information about private endpoints, which is another name for Azure Private Link.

If you feel there is something specific that should be added, please let us know.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2020-11-20 00:40] #64218 closed

[2020-11-20 00:45] sameeraman opened #66394 "Required more information on Lightweight mode SQL Detection Process"
In this article, it explains that the "lightweight" management mode downloads the agent binaries to the VM but doesn't install the agent on the VM. Furthermore, it mentions this mode detects if SQL installed or not by looking at the registry of the VM. So there's a confusion, how it's going to read the registry without running a service on the VM. A lot of our customers these days are very securit

[2020-11-20 00:57] James-Hamil-MSFT commented on #66026
Hi, I've created a pull request with a link to the first document. Looping in @msmimart

[2020-11-20 00:57] #66026 closed

[2020-11-20 01:04] JamesTran-MSFT commented on #66382
@jasonfritts
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the author to review and accept the changes.

Thank you for your time and patience!

[2020-11-20 01:04] #66382 closed

[2020-11-20 01:06] V4A001 commented on #61024
not working...

[2020-11-20 01:07] WinstonHoward-MSFT commented on #65136
Hey @kieronlanning ,

Firstly thanks for your patience as we dove into this. After much discussion and cross collaboration unfortunately, retrieving a thumbprint in the CSDEF via the cscfg xpath reference is unsupported. We looked into retrieving it from a different path but it's unsupported. The root of this is the xpath-visible values are wrapped in a [RoleEnvironment wrapper mechanism](https://

[2020-11-20 01:07] #65136 closed

[2020-11-20 01:25] WinstonHoward-MSFT commented on #65964
Hi @xuwenjian1995,

Yes the values listed in the doc you've linked are the supported values. The xpath-visible values are prefaced with `\RoleEnvironment` and that [wrapper](https://docs.microsoft.com/en-us/previous-versions/azure/reference/ee773173(v=azure.100)) doesn't support any path to the certificate config info. Thanks for the issue, I'll now close this issue.

[2020-11-20 01:25] #65964 closed

[2020-11-20 01:25] rbevans-ugh commented on #48460
i would really love this.

[2020-11-20 01:26] SaiKishor-MSFT commented on #66086
@aoweis Apologize for the delay in response.
This document only talks about creating a Bastion Host and expects you to have a VM already setup.[ Here is a link]( https://docs.microsoft.com/en-us/azure/bastion/quickstart-host-portal.) which also talks about creating a VM if you do not have one. Here is a direct link to [creating a new Windows Virtual Machine](https://docs.microsoft.com/en-us/azure/

[2020-11-20 01:29] markvogt opened #66396 "CRITICAL FLAW in documentation describing Image Uploading & Tagging !!!"
HARD TO BELIEVE I'M THE FIRST ONE TO FIND THIS FLAW (after this documentation being around for 3 YEARS)...
- On this page your sample code for DEFINING tags looks fine; BUT
- On this same page the next step is SUPPOSED TO be Uploading & Tagging training images, but you provide the EXACT SAME SAMPLE CODE FOR DEFINING TAGS :-O

FIX THIS !
HOW is anyone supposed to ADOPT these technologies if the ver

[2020-11-20 01:35] PramodValavala-MSFT commented on #66049
@vbeaulieu278 Events are sent out to all entities of the namespace. My query was to see if the issue was for just the one entity or all of them in the namespace.

[2020-11-20 01:55] genlin commented on #65720
#please-close

[2020-11-20 01:55] #65720 closed

[2020-11-20 01:59] golfalot commented on #27135
Here's a guide to get up and running quickly with **legacy** Azure Table Storage using the **latest** Microsoft.Azure.Cosmos.Table NuGet package

1. Get the code sample: https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started
2. Update all NuGet packages
2. Comment out in Program.cs both lines pertaining to BasicSamples (they are the new Cosmos stuff, legacy Azure Table Sto

[2020-11-20 02:10] lilyjma opened #66397 "Conflicting numbers on Event Hubs partitions"
[Enter feedback here]
This doc says partition count ranges from 2 to 32, but [this page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq#how-many-partitions-do-i-need) says it ranges from 1 to 32.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39e1-fd7551bc94b9
* Version Independent

[2020-11-20 02:16] WinstonHoward-MSFT commented on #66379
Thanks for the doc idea, I've assigned the doc author @macolso to take a look at adding that clarification.

[2020-11-20 02:18] Karishma-Tiwari-MSFT commented on #66374
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-20 02:18] spelluru commented on #66397
@lilyjma - from 1-32 is correct. I will update the article. Thanks.

[2020-11-20 02:19] Karishma-Tiwari-MSFT commented on #66394
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-20 02:30] xiopeter3345 opened #66398 "get_installed_distributions of pip does not exists"
This part of document does not work for synapse anymore,

import pip #needed to use the pip functions
for i in pip.get_installed_distributions(local_only=True):
    print(i)

The following python code works for the same purpose,

import pkg_resources

for d in pkg_resources.working_set:
    print(d)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-11-20 02:43] miguelstratoss commented on #66257
I have the same issue, please help me to fix it

[2020-11-20 03:43] spelluru commented on #33063
I was told that this issue is fixed, so closing the issue.

#please-close

[2020-11-20 03:43] #33063 closed

[2020-11-20 04:08] NickKletnoi commented on #29587
I have the same issue

[2020-11-20 04:14] AnuragSharma-MSFT commented on #66369
@Nordes Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-20 04:15] SaebAmini commented on #66110
@mmacy and that's exactly the type of response and outcome I was hoping for 🙂 Thank you for your detailed answer and sharing your plan on how these points will be addressed. Happy to raise 1 and 2 on the respective repos.

[2020-11-20 04:16] CHEEKATLAPRADEEP-MSFT commented on #66259
@SarveshPandey  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-20 04:16] #66259 closed

[2020-11-20 04:23] CHEEKATLAPRADEEP-MSFT commented on #66370
@Niharikadutta  Thanks for bringing this to our attention. We will review the document and update as appropriate.

[2020-11-20 04:26] CHEEKATLAPRADEEP-MSFT commented on #66398
@xiopeter3345  Thanks for bringing this to our attention. We will investigate and update as appropriate.

[2020-11-20 04:29] kumarallamraju opened #66402 "Syntax error while showing the IOT hub's connection string."
syntax error while displaying the IOT hub's connection string.
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2018-06

bash-3.2$ az iot hub device-identity connection-string show --device-id myEdgeDevice --hub-name ka-asaiothub
CommandNotFoundError: 'connection-string' is misspelled or not recognized by the system.
Did you mean 'show-connection-string' ?
Still stuck?

[2020-11-20 04:39] kumarallamraju opened #66403 "syntax error while deploying edge VM"
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2018-06

this is the right syntax

az deployment group create \
--resource-group {RG} \
--template-uri "https://aka.ms/iotedge-vm-deploy" \
--parameters dnsLabelPrefix='my-edge-vm' \
--parameters adminUsername='kumara' \
--parameters deviceConnectionString=$(az iot hub device-identity show-connection-string --device-id m

[2020-11-20 04:46] SubhashVasarapu-MSFT commented on #66032
@kishaa, @0GiS0, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion. Also, product team would prioritize against existing backlog, add in roadmap as appropriate and would announce and/or update the related Azure document once it is addressed. Thanks for your active participation.

[2020-11-20 04:46] #66032 closed

[2020-11-20 04:48] SubhashVasarapu-MSFT commented on #66126
@sarah026, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-20 04:48] #66126 closed

[2020-11-20 04:51] SubhashVasarapu-MSFT commented on #66106
@daggmano, Appreciate your patience. Yes, routes are case sensitive, and rules you can do case transforms. We are working on updating the document accordingly. We appreciate your feedback. Also, please note that these changes would take some time to reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continu

[2020-11-20 04:51] #66106 closed

[2020-11-20 04:57] GlenArthur opened #66404 "Please close this issue."
Please close this issue.

It wasn't related to any doc

I was trying to find how to block vulnerable images from ACR/security center

_Originally posted by @vispatster in https://github.com/MicrosoftDocs/azure-docs/issues/66283#issuecomment-730645210_

[2020-11-20 05:02] vipulsparsh commented on #66385
@mjrsnyder  Thanks for reaching out. I would request you to give this feedback to the following team here :
provisioningfeedback@microsoft.com and check for the status.

[2020-11-20 05:04] HarithaMaddi-MSFT commented on #66361
@vishalgoyal16444 - Thanks for posting the question. We are looking into it and will get back to you soon.

[2020-11-20 05:23] ram-msft commented on #66396
@markvogt Thanks for the feedback! We will review and update accordingly.

[2020-11-20 05:24] BharathNimmala-MSFT commented on #66353
@mavilleg Thank you for reaching out, our team will review your query and circle back at the earliest.

[2020-11-20 05:25] BryanTrach-MSFT commented on #65615
@AndriySvyryd My apologies for the delay and confusion on my end. I agree that the doc should be reviewed and as a result, we have assigned it to the doc author for further review.

Thank you for raising this up and seeing it through.

@v-miegge Please let us know if we can assist in any way.

[2020-11-20 05:30] SumanthMarigowda-MSFT commented on #66371
@colin-small Thanks for the question! We are investigating and will update you shortly.

[2020-11-20 05:39] RohitMungi-MSFT commented on #66404
Closing this issue as it was not intended to be created.

[2020-11-20 05:39] #66404 closed

[2020-11-20 06:12] SumanthMarigowda-MSFT commented on #66237
@asears Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

Besides that, we also test Azurite through Devops pipeline, you might reference it:
Config: https://github.com/Azure/Azurite/blob/master/azure-pipelines.yml
Oauth test case: https://github.com/Azure/Azurite/blob/master/tests/blob/oauth.test.ts

[2020-11-20 06:13] SumanthMarigowda-MSFT commented on #66255
@reddyeswar161 Thank you for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-11-20 06:19] PramodValavala-MSFT commented on #66179
@hitsy Just following up here... Could you confirm if manually connecting to the SFTP server works using the same key?

[2020-11-20 06:19] zvrba opened #66406 "Setting password on a managed SP"
To minimize the number of service principals and applications in the directory, I have tried setting a password on a system-managed SP by using this API https://docs.microsoft.com/en-us/graph/api/serviceprincipal-addpassword?view=graph-rest-1.0&tabs=http

Surprisingly, it worked as expected. The application's system-managed identity continued to work, and I could authenticate with that SP also usi

[2020-11-20 06:21] jpwdkblog opened #66407 "The URL in the quickstart step is inappropriate"
[Enter feedback here]
Importing the URL "https://docs.microsoft.com/azure/cognitive-services/qnamaker/troubleshooting" listed in the section below into KB creates only one QNA pair. This is an inappropriate URL as an example.

- [Create your first QnA Maker knowledge base](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/quickstarts/create-publish-knowledge-base?tabs=v1#create-yo

[2020-11-20 06:21] jpwdkblog opened #66408 "The URL in the Create a knowledge base step is inappropriate"
[Enter feedback here]
Importing the URL "https://docs.microsoft.com/azure/cognitive-services/qnamaker/troubleshooting" listed in the section below into KB creates only one QNA pair. This is an inappropriate URL as an example.

- [Create a knowledge base](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/manage-knowledge-bases#create-a-knowledge-base)

I suggest changing to

[2020-11-20 06:22] SnehaAgrawal-MSFT commented on #66199
@phatcher Thanks a lot for your valuable feedback! The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) item and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they information they can currently share.
We will

[2020-11-20 06:22] #66199 closed

[2020-11-20 06:28] amanmcse commented on #66239
@Jimnar All the requirements and configurations for RDP'ing to Azure AD Joined VM are documented here: [Connect to remote Azure Active Directory-joined PC](https://docs.microsoft.com/en-us/windows/client-management/connect-to-remote-aadj-pc). If you follow the instructions in this document, you won't need to make changes to your .rdp file explicitly to make remote desktop connection work.

[2020-11-20 06:28] #66239 closed

[2020-11-20 06:33] kny78 commented on #66258
Thanks @lfittl-msft . We are currently located in Norway East, where Flexible server is not available.

Do you know if there is any plans for "PostgreSQL Flexible Server" in Norway East?

[2020-11-20 06:37] AnuragSharma-MSFT commented on #66298
@sredman The `-DatabaseMaxSizeBytes "262144000"` corresponds in range of greater than 250 MB so S3 performance level should work as per the [article](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-transact-sql?view=azuresqldb-current&tabs=sqlpool#arguments-1). However even when I tried to repro with same value I was also getting error. When I changed the `DatabaseMaxSizeByte

[2020-11-20 06:41] amanmcse commented on #66306
@nathanmcnulty This is assigned to author to review and make required changes.

[2020-11-20 06:42] AnuragSharma-MSFT commented on #66303
@sameer-kumar Thanks for the detailed provided.

GitHub forum is primarily focused on providing the answers related to queries/issues pertaining to documents/article.

For technical implementation issues, I would suggest you to post the queries on [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [Stack Overflow](https://stackoverflow.com/questions/ask).

Doing this

[2020-11-20 06:46] HarithaMaddi-MSFT commented on #66398
Duplicate of #66324

[2020-11-20 06:46] #66398 closed

[2020-11-20 07:01] HarithaMaddi-MSFT commented on #66324
@viguyonv - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#138544

The changes should be live once the author approves them. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-20 07:16] Quintinon opened #66414 "Azure Government Availability Tests IP addresses used in production no longer match documentation"
In the addresses-grouped-by-location section of the document, at the bottom is the Azure Government IP addresses. We recently added firewall rules to one of our applications which had App Insights availability tests. We added the 5 address groups indicated and everything was working fine for about 2 weeks until 2 days ago when some new IP address not in these ranges started being blocked by the fi

[2020-11-20 07:37] psmanhas commented on #66115
@180254 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-20 07:37] psmanhas commented on #66115
@EricRadzikowskiMSFT Can you please check and add your comments on this doc update request as applicable

[2020-11-20 07:38] RohitMungi-MSFT commented on #66407
@jpwdkblog Thanks for spotting this. It looks like the QnAMaker troubleshooting page has changed formatting which is causing the KB to not load correctly. @nerajput1607 Could we look at adding an alternate URL as an example as this needs updating the corresponding screen shots in the subsequent steps?

[2020-11-20 07:39] V4A001 opened #66416 "Not clear if load balancer should be created before creating the ingress controller"
It would be nice to have 1 working yaml file as the different pages can also be confusing and not working together.
I assume the load balancer should be created before creating the ingress controller with static ip.
https://github.com/Azure/AKS/issues/1974

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-26

[2020-11-20 07:41] RohitMungi-MSFT commented on #66408
@jpwdkblog Thanks for the suggestion. This issue is similar to [66407](https://github.com/MicrosoftDocs/azure-docs/issues/66407) I am referencing the issue here so our content team can make this update on all documentation referring to this URL. @nerajput1607 FYI.

[2020-11-20 07:42] amanmcse commented on #66335
@lesterw1  You can't manually set AzureAdPrt to YES. In fact, AzureAdPrt will be YES when you are signed in with Azure AD user account and if a PRT is present on the device for the logged-on user. PRT (Primary Refresh Token) on Azure AD joined devices is issued only when AAD user signs in. If you sign in to AAD joined device with a local user account, PRT won't be issued and AzureAdPrt will be NO

[2020-11-20 07:42] #66335 closed

[2020-11-20 07:47] KrishnaG-MSFT commented on #66383
@rjewell-lower Thanks for the comment!
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-11-20 07:49] KrishnaG-MSFT commented on #66414
@Quintinon Thanks for the comment!
Assigning @lgayhardt for visibility, review and document enhancement consideration if appropriate.

[2020-11-20 07:53] AshokPeddakotla-MSFT commented on #66403
@kumarallamraju Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-20 07:53] vipulsparsh commented on #66334
@mariuszo-at-microsoft-com Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@memildin  Can you have a look ?

[2020-11-20 07:54] AshokPeddakotla-MSFT commented on #66402
@kumarallamraju Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-20 07:54] HarithaMaddi-MSFT commented on #66361
@kromerm - Can you please take a look and suggest your thoughts.

[2020-11-20 07:58] HarithaMaddi-MSFT commented on #66341
@linda33wj - Can you please take a look and share your thoughts

[2020-11-20 08:07] PhilipAnthonyMurray opened #66417 "More examples of Posix and Azure CLI"
As Posix is not a user friendly format and which appears to have changed from the storage-preview library examples of how to use the syntax, specifically in the context of the az storage fs directory create --permission option would be useful. I am really struggling to understand what the requirement is here and the documentation gives me no starting point.

---
#### Document Details

⚠ *Do not ed

[2020-11-20 08:07] dcbrown16 commented on #65982
I have had the same question come up.

[2020-11-20 08:15] zerweck commented on #65945
Thank you for your reply. The concerned VM's had previously not enabled AN and it was automatically enabled without our interaction just because it was an eligible size for AN. ^
If our users (how now use a non-AN-eligible size) now choose to resize their VM's back to a size which is eligible, it seems that this might just happen again, without our consent to do so. In that case, they might now be

[2020-11-20 08:17] Sharmistha-Rai commented on #66332
@fearofweapons - we are on our way to deploy v9.39. It is going to be tough to find the link for 9.7 as it is years behind. My suggestion will be to use some of our newer versions. The documentation uses an example of 9.7, 9.8, etc. to explain the 'N-4' supportability but it is a very old version we're talking about.

[2020-11-20 08:27] tesharp commented on #65868
@rmcolbert Thanks for looking at it. I guess that workaround works for management.azure.com, Though as you mention it can break other services that also has a privatelink.azure.com CNAME.

Since we are not using ADF at the moment on PL it is not a problem, but I created the issue as I imagined it would create problems for others. Maybe it is worth adding a note on this in documentation with workar

[2020-11-20 08:52] shashishailaj commented on #66393
@jdfoxmicro Thank you for your feedback . We will investigate and update the thread.

[2020-11-20 08:53] shashishailaj commented on #66406
@zvrba Thank you for your feedback . We will investigate and update the thread.

[2020-11-20 09:03] SadiqhAhmed-MSFT commented on #66173
@jdelforno We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-11-20 09:03] #66173 closed

[2020-11-20 09:07] AjayKumar-MSFT commented on #66384
@marcoklose, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-11-20 09:11] richardhauer commented on #65511
@shashishailaj

I beg to differ...

As you can clearly see - mine do not have that blade.
The first image is from the App Registrations section in AAD B2C, the second is from AAD.

![image](https://user-images.githubusercontent.com/225807/99781624-33c5de80-2b6c-11eb-8620-fe6f4807ba1d.png)
![image](https://user-images.githubusercontent.com/225807/99781768-61ab2300-2b6c-11eb-8054-bd98839350b7.png)

[2020-11-20 09:18] CHEEKATLAPRADEEP-MSFT commented on #66417
@PhilipAnthonyMurray  Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2020-11-20 09:21] AnuragSharma-MSFT commented on #66303
@sameer-kumar We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-20 09:21] #66303 closed

[2020-11-20 09:22] AnuragSharma-MSFT commented on #66328
@lfittl-msft Thank you for the details provided.

@evertonmc Please let us know if you have any other query for the same.

[2020-11-20 09:26] SadiqhAhmed-MSFT commented on #66227
@Mahesh-MSFT Sorry for the delay.

1 – CUA is not supported for AKS today.

2 – unfortunately the guidance for using MAs to deploy to AKS is that [it’s not supported today](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Flegal%2Fmarketplace%2Fcertification-policies%233001-value-proposition-and-offer-requirements&data=04%7C01%7CSadiqh.Ahmed%40microsoft

[2020-11-20 09:26] #66227 closed

[2020-11-20 09:32] kieronlanning commented on #65136
@WinstonHoward-MSFT Thanks to you and the team for working so hard on this!

[2020-11-20 09:37] fbacker commented on #27171
Running a PS2v2 testing on 1 instance I noticed that over 4000+ connections I'm getting 502 (Bad Gateway) errors.

Looking at the documentation:

So running PS2v2 i'm allowed 3,968 websocket connections (not "unlimited" = 15.000 websockets as in note *7).

[2020-11-20 10:04] vipulsparsh commented on #66310
@weijia-ai Unfortunately, there is no way of achieving this currently.  However, you can upvote a similar idea on our feedback forum to prioritize this.
https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/37472878-allow-certificate-versions-to-be-deleted

[2020-11-20 10:05] GitaraniSharma-MSFT commented on #66338
@EllisG93 , thank you for your feedback. Could you please send an email to azcommunity@microsoft.com referencing this thread as well as your support ticket number (which you opened for this issue), so that we can have a look and confirm the same with the backend team? Please mention "ATTN gishar" in the subject field.

[2020-11-20 10:13] yvesrosius opened #66418 "Incomplete description of impacted services (All applications using Azure AD)"
Please specify which applications are using Azure AD (or a link to an article describing these services.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#protecting-all-users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
*

[2020-11-20 10:25] shashishailaj commented on #65511
@richardhauer Apologies for the inconvenience. I checked the details on my side again after reviewing your screenshots above.  I tried to check with someone internally on this and I have tried replicating the same scenario as yours. For testing, I followed the following steps to replicate your scenario in order to understand more.

- I have a B2C tenant named con*.onmicrosoft.com and I tried loggi

[2020-11-20 10:27] GitaraniSharma-MSFT commented on #66353
@mavilleg , thank you for your feedback.
It is already mentioned in the article as below:
![image](https://user-images.githubusercontent.com/67630903/99789199-3282ba80-2b48-11eb-8a0c-06764eb5b1eb.png)

Q. Is there a roadmoap for the integration of others FQDNs than SQL for application rules?
A. At the moment, SQL FQDN filtering is generally available as per below update:
https://azure.microsoft.co

[2020-11-20 10:33] shashishailaj commented on #66322
@cpinotossi Please let us know if the above explanation helped or if you have any further queries on this . We will be happy to help you further.

Thank you.

[2020-11-20 10:34] mavilleg commented on #66353
Oh yes I did not see it, should it be better highlighted ?
Yes that’s the only typo I saw.

Thanks a lot !
Have a terrific day,
[signature_1493003138]
Maxime VILLEGER
Cloud Solution Architect
Customer Success Unit
Microsoft France - 39 Quai du Pdt Roosevelt - 92130 Issy les Moulineaux
' +33.6.89.16.96.62    • mavilleg@microsoft.com<mailto:mavilleg@microsoft.com>

De : Gitarani Sharma <notification

[2020-11-20 10:47] GitaraniSharma-MSFT commented on #65945
@zerweck , thank you for your response. I just tried to re-size a non-AN eligible VM to an AN eligible VM via Azure portal in my lab but it did not enable Accelerated Networking by default. And hence I was able to re-size it down to a non-AN eligible VM again.
If it happened in your case, then we might need to look what exactly went wrong. In this case, could you send an email to azcommunity@micro

[2020-11-20 10:50] GitaraniSharma-MSFT commented on #66353
@mavilleg , thank you for the quick response.
Let me check with the backend team to see if there is any other FQDN filtering in pipeline and get back to you with an update. Post that I will assign this issue to the author for the typo correction in the picture and also request to highlight the Application rule on Azure SQL statement, if possible.

[2020-11-20 10:57] clement911 commented on #66199
@phatcher we agree!
Please vote here https://feedback.azure.com/forums/169385-web-apps/suggestions/41716588-allow-scale-up-to-premium-v3-without-redeploy-or-c

[2020-11-20 11:29] solddrem opened #66419 "Is the sentence "All resources created in Azure are distributed across multiple geographical regions around the world. " correct ?"
Hello,
under "Locations" is written: "All resources created in Azure are distributed across multiple geographical regions around the world."

That implies all resources gets distributed across regions always. That sounds not right to me, but i am unsure about the statement, and it confuses me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-11-20 11:52] runemy opened #66420 "Azure Sentinel can run on workspaces in any GA region of Log Analytics - is not correct"
With reference to MS supportcase #120111925000250 "Cannot add LogAnalytics workspace in NorwayEast to Sentinel", it's not correct that "Azure Sentinel can run on workspaces in any GA region of Log Analytics".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: e

[2020-11-20 12:03] JayaChatterjee-MSFT commented on #66112
@pnarsi Can you check this : https://docs.microsoft.com/en-us/azure/event-grid/network-security#service-tags ?
Once you add the service tag at the function level ( in access rules) wait for 5-10 mins. It should work fine.

[2020-11-20 12:12] MoulshreeSD commented on #66229
Hello, Can you tell me how I can implement this query in a view?

Regards,
Moulshree

[2020-11-20 12:18] MikeWedderburn-Clarke opened #66421 "MACSec encryption - clarify wording"
Adding the same feedback as here - https://github.com/MicrosoftDocs/azure-docs/issues/65614

Please clarify the wording at the start of the 'Data-link' section: https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-overview#encryption-of-data-in-transit

The 1st few lines imply that it is only encrypted when it moves "outside physical boundaries not controlled by Microsoft (or on

[2020-11-20 12:18] SubhashVasarapu-MSFT commented on #66105
@jinchunhuachoco, Appreciate your patience. Yes, DDoS policies are applied to VPN gateway as well. The doc has been edited accordingly and it would take some time for the changes to get reflect over the document.

[2020-11-20 12:23] marcoklose commented on #66384
https://docs.microsoft.com/de-de/azure/virtual-desktop/app-attach

[2020-11-20 12:46] karavar commented on #66406
Can you please expand what you mean by application's system-managed identity? Are you referring to Azure Managed identities (aka.ms/managedidentity) or an Azure AD Application Registration and the corresponding Service principal that gets created? I'm guessing you are referring to the later, in which case this is expected.
If you do a Get on the SP using its ID, what is the value of Service princi

[2020-11-20 13:06] ShivaUdari opened #66422 "Portal Options Changed | Need to Change Screenshots"
[Hello Team,

As we aware that there are changes made to the Azure portal. Now we have **Size + Performance** option instead **Configuration** hence requesting to update the screenshots in document.

Thank you 👍 ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent

[2020-11-20 13:11] MonikaReddy-MSFT commented on #66283
@vispatster - Thanks for your response. Please raise your question in [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) where our Engineers and Community are active in answering questions.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2020-11-20 13:11] #66283 closed

[2020-11-20 13:12] MonikaReddy-MSFT commented on #66285
@virvirlopez -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-20 13:12] #66285 closed

[2020-11-20 13:12] MonikaReddy-MSFT commented on #66378
@centerquebec -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-20 13:14] nicolalgallacher commented on #66421
I would echo Mike's comments above. Currently investigating for customers around security concerns and the wording leads to confusing on whether it is data in transit outside the MS Azure platform or from Azure to Customer Datacentre off the cloud

[2020-11-20 13:35] RohitMungi-MSFT commented on #66313
@wshope99 The reference seems to be from the java SDK instead of C#. The .net SDK is a different [documentation ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.language.luis.runtime.models?view=azure-dotnet)link for the runtime model. The issues page for the SDK is here on [github](https://github.com/Azure/azure-sdk-for-net/labels/Cognitive%20-%20LUIS).

[2020-11-20 13:37] zvrba commented on #66406
I'm referring to Azure Managed Identities.

[2020-11-20 13:41] psmanhas commented on #66422
@ShivaUdari Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-20 13:42] psmanhas commented on #66422
@kirpasingh Can you please check and add your comments on this doc update request as applicable

[2020-11-20 13:46] mjrsnyder commented on #66385
@vipulsparsh, thank you for your response.  I just sent an email to the address above with my findings.

[2020-11-20 13:46] ShivaUdari commented on #66422
Thank you Preeti :)

[2020-11-20 13:55] AjayKumar-MSFT commented on #66314
@Mraelstone, Kindly use the below commands to enable application logging for filesystem and azureblobstorage as below:

_az webapp log config --name yourwebppname --resource-group yourRGname --application-logging filesystem --level information_

_az webapp log config --name yourwebappname --resource-group yourRGname --application-logging azureblobstorage --level information_

the **--applicationlo

[2020-11-20 13:55] AjayKumar-MSFT commented on #66314
@Mraelstone, Kindly use the below commands to enable application logging for filesystem and azureblobstorage as below:

_az webapp log config --name yourwebppname --resource-group yourRGname --application-logging filesystem --level information_

_az webapp log config --name yourwebappname --resource-group yourRGname --application-logging azureblobstorage --level information_

the **--applicationlo

[2020-11-20 14:06] joaopgrassi commented on #52657
Hey everyone, sorry for the nagging but I wonder if there's any news on this? Specifically, does my reasoning and "solution" is the correct approach? I want to go ahead and change some of our services to start sending information logs to App insights, but want to make sure I'm doing it correctly/following the recommendations.

[2020-11-20 14:10] ronbruintjes commented on #61024
Graag gedaan (you're welcome)! If it doesn't work, I think you may need to open a new issue related to the page. I doubt if anyone from Microsoft is watching this issue, since it's closed. You can reference this issue in the new one.

Good luck!

[2020-11-20 14:21] Deepti886 commented on #66155
Hi Team, Thanks,
Especially please provide the samples to deserialize all types entities, including builtin entity, pattern entity and List entity. I am facing very much difficulty in extracting the data from builtin DateTime entity and its resolution values using .Net returned from the V3 prediction endpoint json. Please update asap as we require to do it in our project  it asap.

[2020-11-20 14:26] spelluru commented on #66397
Fixed. #please-close

[2020-11-20 14:26] #66397 closed

[2020-11-20 14:33] r-milne opened #66423 "Reg File did not work"
Hi folks,

The reg file to disable HTTP2 did not work.  I do not expect to see it in the format you have.

This is an actual export.

Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WinHttp]
"EnableDefaultHttp2"=dword:00000000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-20 14:38] msdpalam opened #66424 "Does updating the key version for a customer-managed key have any effect on decrypting the content/doc/blob?"
The document explains that "Updating the key version for a customer-managed key does not trigger re-encryption of data in the storage account. There is no further action required from the user.". From the document though, it is not very clear, what effect the key update has, if there is any, during the decryption of the content/document, stored in Azure Storage.

Can we please clarify so customer

[2020-11-20 14:39] VikasPullagura-MSFT commented on #66128
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-11-20 14:49] o-l-a-v commented on #66089
We have difficulties to determine what marketplace plan/ offer a given plan (by info from ARM export or Az PowerShell) is referencing to. Do you have any guidence to share here?

We've found one more plan for current customer:

![image](https://user-images.githubusercontent.com/6450056/99813428-f2233c80-2b47-11eb-83c5-c222e9a65f55.png)

How do I know if a Marketplace offer is this exavt plan?

[2020-11-20 14:59] SumanthMarigowda-MSFT commented on #66416
@V4A001 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-20 15:02] AshokPeddakotla-MSFT commented on #66403
@kumarallamraju Documenetaion is correct. I have further verified that this command is deprecated:
az iot hub device-identity **show-connection-string** --device-id myEdgeDevice --hub-name {hub_name}

![image](https://user-images.githubusercontent.com/44426435/99814061-78eb1000-2b6e-11eb-9fac-4e18130bd7f1.png)

You might need to install or update latest azure iot cli extension. Please use below co

[2020-11-20 15:02] #66403 closed

[2020-11-20 15:05] SumanthMarigowda-MSFT commented on #66418
@yvesrosius Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-20 15:05] AshokPeddakotla-MSFT commented on #66402
@kumarallamraju Kumar Allamraju FTE Documentation is correct. I have further verified that this command is deprecated:
az iot hub device-identity show-connection-string --device-id myEdgeDevice --hub-name {hub_name}

![image](https://user-images.githubusercontent.com/44426435/99815016-c9af3880-2b6f-11eb-8fab-0e75bd62a56b.png)

You might need to install or update latest azure iot cli extension. Ple

[2020-11-20 15:05] #66402 closed

[2020-11-20 15:06] V4A001 commented on #61024
@ronbruintjes : I have a version working now with a second static ip, but it allows me to take away the azure load balancer (completely remove it) and the external ip of the ngnix is an external ip. I would expect that would be the ip of the azure load balancer? I believe that an azure-load-balancer and a ingress controller are two separate things? The ingress points back to the documentation on c

[2020-11-20 15:10] AshokPeddakotla-MSFT commented on #66308
@troyhopwood Unable to repro the issue. could you please look into this feedback and update the as appropriate?

[2020-11-20 15:20] richardhauer commented on #65511
Right - so referring back to my original point, the documentation references the blade "Token Configuration" which isn't present for me.  I thought it might be a Premium feature, but based on your investigations it is instead not available for a B2C Tenant, even through the AAD section of the portal.

I suggest, to save this confusion (that even caught you out) that this clarification be made in t

[2020-11-20 15:20] patiljayesh040 opened #66425 "PowerShell script to get ASR replication health status for all servers in Azure Subscription."
Hello All,

I just need help with PowerShell script to get ASR replication status for all servers in Azure Subscriptions with Azure-to-Azure disaster recovery setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff08de1c-1661-5523-0f1a-eca1fd34c3e9
* Version Independent ID: 64502dfc-db1c-ad5e-fa61-02e0163f85f6
* Conte

[2020-11-20 15:28] kumarallamraju commented on #66403
This is still wrong
$(az iot hub device-identity connection-string show --device-id myEdgeDevice --hub-name <REPLACE_WITH_HUB_NAME> -o tsv) `

bash-3.2$ az iot hub device-identity -h

Group
    az iot hub device-identity : Manage IoT devices.

Commands:
    add-children           : Add specified comma-separated list of non edge device ids as children
                             of specified edge

[2020-11-20 15:31] SnehaAgrawal-MSFT commented on #66197
@reginbald Thanks for asking question! Yes, it supports. As mentioned in the doc "TLS termination of the request happens at the frontend load balancer. When forwarding the request to your app code with client certificates enabled, App Service injects an X-ARR-ClientCert request header with the client certificate. App Service does not do anything with this client certificate other than forwarding i

[2020-11-20 15:38] jelmerkok opened #66426 "Referencing AddMicrosoftWebAPI instead of AddMicrosoftIdentityWepAPI"
Hi,

The last 2 lines before the Heading "Token validation" say:

"This method calls **AddMicrosoftWebAPI**, which itself instructs the middleware on how to validate the token. For details see its **source code**."

It seems **AddMicrosoftWebAPI** does not exist, and that it should say **AddMicrosoftIdentityWebApi**. This is supported by the finding that the link of the last words of the second li

[2020-11-20 15:38] v-miegge commented on #65615
@BryanTrach-MSFT and @AndriySvyryd: I am the technical writer who added the article to GitHub, but I am not the author who created and assembled the contents to be added. According to the article history, this was requested in Content Idea (CI 115826) by Ramu Konidena (ramakoni) on 3/20/2020, and Cephas Lin (Cephas.Lin) was the Technical reviewer who approved the article.

I will forward your requ

[2020-11-20 15:40] V4A001 commented on #66416
I think the azure load balancer and the ingress controller are 2 different things. However, the ingress controller refers back to the creation of the static ip, then you move further with the azure-load-balancer service and hook up an ip there. By doing this you cannot use that static ip anymore for the ingress controller, which is a more sophisticated load balancer.

This concept network document

[2020-11-20 15:43] AshokPeddakotla-MSFT commented on #66254
@reddyeswar161 Could you please explain what exactly are you trying to achieve? local.config.user is a configuration file you need to create under the project folder when you running the sample locally.

[2020-11-20 15:43] V4A001 commented on #61024
See also: https://github.com/MicrosoftDocs/azure-docs/issues/66416

[2020-11-20 15:44] AshokPeddakotla-MSFT commented on #65786
@ningweinw Please let us know if you have any further queries or are we good to close this issue?

[2020-11-20 16:06] tshaiman opened #66427 "Doc was published on June 2018"
[Enter feedback here]

This page is 2.5 years old. Is it still relevant ? Is the warning / notice that kubernetes is not secured unless using hypervisor
is still valid ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57992e58-4e0c-5b5d-0136-ca7974283d2d
* Version Independent ID: ef933650-5c49-de38-62c0-23afaeb1716f
* C

[2020-11-20 16:12] squevill opened #66428 "Extra (uncessary) PowerShell commands in Firewall configuration sample script to define domain and policy name, they are not used."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31718c09-8c87-c102-d326-c78e5ff018fd
* Version Independent ID: 1b15c261-9ea8-e23b-d6a1-b3131dd403b9
* Content: [Windows Virtual Desktop RDP Shortpath (preview) - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/shortpath)
* Content Source

[2020-11-20 16:15] squevill commented on #66428
Issue entered by mistake - closing.

[2020-11-20 16:15] #66428 closed

[2020-11-20 16:27] valentijnscholten opened #66429 "allowing bypass of azure ad and disabling websudo sound insecure"
Do I understand correctly that anyone is able to bypass the azure login? This would be insecure as one of the reasons to use Azure AD is to enforce MFA. Even if it would only be allowed for admins, it would be insecure as admins have privileged access.

Any plans on supporting this? There is a reason for websudo and we cannot disable this with regards to compliance rules.

---
#### Document Detail

[2020-11-20 16:40] ChaitanyaNaykodi-MSFT commented on #66331
Hello @roharon, Thank you for pointing out the issue and fixing it as well. The fix proposed was merged and is live now. We really appreciate the help provided. Thank you!

[2020-11-20 16:40] #66331 closed

[2020-11-20 16:43] tcsougan opened #66430 "The underscore (_) special character in Header names is currently supported, and the limitations should be updated."
[Enter feedback here]
The Limitations part of the docs should be updated since the (_) is being supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aedb5a9b-70bd-506d-41c7-2ede4e12e116
* Version Independent ID: b55a0075-80ff-a967-3d9d-8429e7663b8c
* Content: [Rewrite HTTP headers with Azure Application Gateway](h

[2020-11-20 16:50] MarileeTurscak-MSFT commented on #66421
@MikeWedderburn-Clarke
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-20 16:56] colin-small commented on #66371
The problem actually seems worse than I originally thought.

If I view the network rules via the command line with Azure CLI for example, I can see all of the IP Groups that are actually being used in the network rule.

If I modify the network rule in the portal by adding an additional IP Group (mind you, it still shows none selected due to the issue at hand) it then shows the single new IP Group

[2020-11-20 16:59] msdpalam commented on #66109
@RohitMungi-MSFT, thanks for your guidance. I guess there is no way to provide guidance on how many sample forms we would need, since we have the train and retrain to find the accuracy of the model, with labeling as well. Am I thinking right? Is it possible to provide some guidelines around these aspects, in the Azure doc, so customers can follow? This is more from customer's find the doc more use

[2020-11-20 17:02] dereklokey opened #66431 "Adjust Queue Message Invisibility Timeout"
Is there a way to set the invisibility timeout on the queue messages?  The default of 30 seconds is too short for what we are doing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141a682b-afaa-a36c-f3cc-baab732b38a9
* Version Independent ID: 6202c305-b765-6237-fb49-18ad0fa7374c
* Content: [Load files from Azure Blob s

[2020-11-20 17:07] MonikaReddy-MSFT commented on #66425
@patiljayesh040 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-20 17:12] shashishailaj commented on #66322
@cpinotossi As per my discussion internally with @SrinathPAtil , he has engaged with you to help you understand about the CSP subscription and directory linking. We are going to close this issue now. In case of any further queries , please feel free to ping me .

Thank you.

[2020-11-20 17:13] #66322 closed

[2020-11-20 17:15] gundarev commented on #57607
#close

[2020-11-20 17:16] shashishailaj commented on #64428
@woutvanduffelspks At this point we do not have a date for the same and the decision whether it will be in P1 or P2 is not decided yet. This article will be updated once we have more information . We will close this issue now as it is not possible to provide a ETA on this .

Thank you

[2020-11-20 17:16] #64428 closed

[2020-11-20 17:20] shashishailaj commented on #65511
@richardhauer Yes I completely agree with you on this and I am in the process of making appropriate changes to the document . We will be adding a note to the article about the same . the change should reflect in the next 48 hours in production after it has passed the review. I will keep the thread updated with the details.

Thank you.

[2020-11-20 17:24] sredman commented on #66298
According to Powershell, 262144000 is exactly 250MB:
![image](https://user-images.githubusercontent.com/1900703/99829356-0f88e400-2b11-11eb-8af6-a1b54b6058ce.png)

I am the product team :) [MSFT internal profile page](https://who/is/siredman) -- You must use exactly a value from that the list in the linked documentation. Even one byte difference will not work. (This applies to DTU-based databases.

[2020-11-20 17:27] duongau commented on #65432
@simonezzzz you can create a public PR against that Troubleshooting doc in your own private branch and request a merge that way. I'll review it before we get it publish. If you have the text written out already. You can also post it here and I can make the PR to add it to the Troubleshooting article. Whichever you feel comfortable with.

[2020-11-20 17:30] jasonhorner opened #66432 "Add a note about variable behavior in parallel iteration activities"
in ADF, Variables are currently scoped at the pipeline level this means that they are not thread safe and can cause unexpected and undesired behavior if they are accessed from within a parallel iteration activity such as a foreach loop. especially when the values is also being modified within that foreach activity. the documentation to should be updated to call this behavior out

---
#### Document

[2020-11-20 17:32] MarileeTurscak-MSFT commented on #66426
@jelmerkok
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-20 17:32] nathan-alexander-byu opened #66433 "I need simple github integration for databricks FOLDERS- the insane instructions on this page are not that"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9284b8c9-ecc2-e265-d123-84387b91f713
* Version Independent ID: 1ab9c80e-0261-a65b-dd24-18d9484f1704
* Content: [API examples - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/examples#workspace-api-

[2020-11-20 17:40] aahill commented on #66155
Thanks @Deepti886

I checked our LUIS [samples repo](https://github.com/Azure-Samples/cognitive-services-language-understanding) and don't think we have a sample that demonstrates consuming the v3 REST API. In the meantime I'd recommend looking at the documentation for [deserializing JSON](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to?pivots=dotnet-5-0#dese

[2020-11-20 17:49] shubDhond commented on #36458
Hi all,

Extremely sorry for the delay in response here, this thread was not being monitored as well as it should have been.

To address the confusion, the behaviour described by @clawrenceks above is correct as of now. For sites which do not already have Azure Files storage configured, you will be required to provide both WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE. Once the

[2020-11-20 18:05] WinstonHoward-MSFT commented on #66419
Thanks for the doc feedback, I've assigned this to the doc author to take a look.

[2020-11-20 18:08] shashishailaj commented on #65511
@richardhauer We have added the following note in the article to make it clear about the UI .

The changes have been merged but would take upto 48 hours for convergence across all the regions. This issue will auto close once change is in production . In case you have any further queries , please feel free to tag me to your reply or reply to my email and I will be happy to help you further.

Thank

[2020-11-20 18:09] Karishma-Tiwari-MSFT commented on #66428
Thanks for sharing the update.

[2020-11-20 18:13] originalnetadmin opened #66434 "Incorrect result expected from test"
In the "Test the cluster setup" section, step 4, it states that Pacemaker would not start up on the killed node. This is not the correct expected result due to the setting below in /etc/sysconfig/sbd (set as part of https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker#sbd-fencing) :

SBD_STARTMODE="always"

This setting implies that Pacemaker

[2020-11-20 18:21] Karishma-Tiwari-MSFT commented on #66434
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-20 18:22] mike-urnun-msft commented on #66135
@NaeemIsAtGitHub Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-20 18:22] #66135 closed

[2020-11-20 18:26] NavtejSaini-MSFT commented on #66094
@KitLemmonds We are going ahead and closing this issue for now. Please come back to us if you have any further issues or questions.

[2020-11-20 18:26] #66094 closed

[2020-11-20 18:26] WinstonHoward-MSFT commented on #66427
Hi @tshaiman ,

This doc was last updated 8 days ago. That warning notice was update in that commit. See commit https://github.com/MicrosoftDocs/azure-docs/commit/ad2c5e6063aebaf7e7f525799e561ba279a41752. Usually the date is only updated if there is a major rewrite or change to the doc. I've written PR to update the last updated date to the last minor update.

[2020-11-20 18:30] SaurabhSharma-MSFT commented on #66432
@jasonhorner Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-20 18:30] #66427 closed

[2020-11-20 18:32] MaxThom opened #66437 "Reader never close"
[Enter feedback here]
Ty for the details on how to connect to Postgres.
I found one issue that took me some time to find.
After implementing the CRUD on my side, all the operations were not working except the read.

This is because the Reader is never close.
After the read loop, please add
reader.Close();

Ty
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-11-20 18:38] SaurabhSharma-MSFT commented on #66430
@tcsougan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-20 18:42] JamesTran-MSFT commented on #66423
@r-milne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-20 18:43] JamesTran-MSFT commented on #66429
@valentijnscholten
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-20 18:53] midesa commented on #66324
#sign-off

[2020-11-20 18:56] mloskot opened #66438 "Deploy to Azure using the command line shows VS Code"
The "Create a web app" tutorials front page at https://azure.microsoft.com/en-gb/get-started/web-app/ says

![image](https://user-images.githubusercontent.com/80741/99838718-dc267380-2b69-11eb-8c13-55260141591c.png)

Then, hit the blue "Launch quickstart" button to load this page.

Unless I'm missing something, this very page presents how to deploy to Azure using VS Code and **not** the command li

[2020-11-20 18:56] colin-small commented on #66371
Also, I just verified that selecting the empty checkboxes next to IP Groups in the network rule for IP Groups that are actually already in use in the rule adds duplicate IP Groups to the rule

[2020-11-20 19:02] rafsalas19 opened #66439 "Location flag missing"
The commands "az disk create" and "az vm create" both require "--location" flags and arguments to work. It errored out on me until I added the location.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a3b473-2b79-2ee0-7227-dcfe0d2ebe88
* Version Independent ID: 81b0485f-60f7-cc85-fafb-c252e155515f
* Content: [Create a

[2020-11-20 19:06] JamesTran-MSFT commented on #66262
@bertrandpons
Thank you for your time and patience throughout this issue!

My team and I were able to test this out on our end and there won't be any impact to your B2C tenant if you move a subscription from one AzureAD tenant to another. This is because your B2C tenant is linked to the subscription itself and not the AzureAD tenant.

[Link an Azure AD B2C tenant to a subscription](https://docs.mi

[2020-11-20 19:08] peter93 commented on #52204
I have a similar issue. When I follow the tutorial above with an ACI deployment, I can't create an Azure Machine Learning Service function. The "Function signature" reads "Your deployment does not have an associated swagger.json". However I have specified the inference schema in my score.py and the endpoint has the swagger URI.

[2020-11-20 19:16] DerekHerman-MSFT commented on #66424
@msdpalam Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-20 19:25] SnehaAgrawal-MSFT commented on #66156
@venkateshkuppusamy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-11-20 19:27] #66226 closed

[2020-11-20 19:35] JayaChatterjee-MSFT commented on #66226
@applegrew  Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
For your second question I have already reached out to the author @spelluru. He will look into it.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2020-11-20 19:36] MarileeTurscak-MSFT commented on #66355
Thank you! I made a pull request to add a note about this.

[2020-11-20 19:36] #66355 closed

[2020-11-20 19:37] #66112 closed

[2020-11-20 19:37] AjayKumar-MSFT commented on #66384
@marcoklose, Thanks for sharing the document URL, I have updated the Azure doc metadata info in your original post and assigned an SME, who will review the issue and get back to you soon.

[2020-11-20 19:39] normesta commented on #66417
Thank you for the feedback @PhilipAnthonyMurray. Yes this article is intended to provide relatively basic code examples as a primer to using PowerShell commands + Data Lake Storage Gen2. Can you please let me know which types of examples you'd like to see (That are not currently in that article)? There are also examples for setting ACLs recursively in this article: [Set access control lists (ACLs)

[2020-11-20 19:42] spelluru commented on #64239
Added the note based on feedback from Dev:

 Note

Event Grid doesn't guarantee order for event delivery, so subscriber may receive them out of order.

#please-close

[2020-11-20 19:42] #64239 closed

[2020-11-20 19:43] waynestevensinsight opened #66440 "Answer to question about finding client IP is misleading"
The question asked is how to find the client IP for messages being sent to my namespace. The answer is really just a workaround that can get you separate messages generated with IP addresses... really only helpful for diagnostic purposes, doesn't help you get the source IPs relating to your own messages. What the question is looking for is a way to tack the originating IP address onto messages alr

[2020-11-20 19:45] spelluru commented on #66226
For issue #2, I have already added the Message Headers section to the article:
https://docs.microsoft.com/en-us/azure/event-grid/receive-events#message-headers

[2020-11-20 19:50] normesta commented on #66037
Hi @nansravn . Thank you for sharing your impressions. Yes, communicating in docs that Data Lake Storage Gen2 is not a dedicated service is difficult. It is a problem that our team is very aware of and we try to avoid creating the impression of a separate service wherever we can. We want to convey that it's a set of capabilities that are unlocked in a Blob storage account when the hierarchical nam

[2020-11-20 19:51] shashishailaj commented on #64384
We checked this with the backend team and have updated the document with the following statement related to no risk.

When configuring [custom Identity protection policies](https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-policies#custom-conditional-access-policy), you can also configure it to trigger upon **No risk** level. No Risk means there is n

[2020-11-20 19:53] MarileeTurscak-MSFT commented on #66421
Thanks @MikeWedderburn-Clarke  and @nicolalgallacher . I agree that this is good feedback.

I made a pull request to add this language. https://github.com/MicrosoftDocs/azure-docs-pr/pull/138631

In the future though you are welcome to make your own pull requests for this, since you are both Microsoft employees and the Github comments are more intended for customers. If you don't have write-access

[2020-11-20 19:53] #66421 closed

[2020-11-20 19:59] #64384 closed

[2020-11-20 20:11] mcbsys commented on #65904
@AjayKumar-MSFT. Thanks for this information. One thing is unclear. You say that changing linuxFxVersion to PHP|7.3 will pull a new Docker image. My experience is that when I deployed the appsvcorg/wordpress-alpine-php:0.72 image, then set linuxFxVersion to PHP|7.3 (or PHP|7.4), WordPress continued to work fine and in fact the Azure Configuration blade started working as well. Did that pull a new

[2020-11-20 20:20] garciarodrigor commented on #55378
Hi we have the same issue using a client credentials from a Application, I added Owner role to it and it fail with the same error

`msrest.http_logger : Request URL: 'https://graph.windows.net/690b6114-8fb7-4554-b29b-acc18e6fc5cd/servicePrincipals?$filter=appId%20eq%20%27f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875%27&api-version=1.6'
msrest.http_logger : Request method: 'GET'
msrest.http_logger : Request

[2020-11-20 20:21] tfitzmac commented on #66217
I have submitted an update to the CLI section to show the new commands. That includes showing how to work with subscription tags. It should get published later today.

[2020-11-20 20:21] tfitzmac commented on #66217
#please-close

[2020-11-20 20:21] #66217 closed

[2020-11-20 20:30] brandonmartinez opened #66441 "Clarify Role Permissions On Owner/Manager/Developer"
Working with a partner today and the question came up if the owner has the permissions in the following roles; the assumption was yes, but it might be good to clarify that (e.g. "* has all permissions of Manager and Developer" or "these roles are tiered").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd00bb97-aa3d-7e

[2020-11-20 20:51] shashishailaj commented on #65509
@rkontrimas We checked with the author on this and as per them the details are correct . the old commands have already been corrected and removed from the article. As we have not received any response from your side , we are going to close this issue. Should you still have any query on this, feel free to tag me or the author @kailashmsft  to your reply and we will be happy to help . alternatively

[2020-11-20 20:51] #65509 closed

[2020-11-20 20:53] shashishailaj commented on #66420
@runemy Thank you for providing this information . We will have this verified and update the documents after necessary review with the content authors.

[2020-11-20 21:02] michuny25 commented on #51732
I actually dug up the PR which is claimed to have fixed this [This PR](https://github.com/MicrosoftDocs/azure-docs/commit/569079120e7e0a48221046bf28349ce02482e895#diff-f279f48e20c93a260f3f43ede7856edc9d0309d2e2e0d86132540b766f68c0c0).

Changing the following sentence from this

to this

in **no way** fixes the issue I addressed above. It just introduces **another false information**. The model fro

[2020-11-20 21:16] RVerma93 opened #66442 "Using A Certificate from AKV to Authenticate an API (Python)"
Hi all, I am looking to use a .PFX file in my Azure Key vault to directly authenticate a post request in my code. Before I uploaded my certificate to KV, I was using a function to manually convert the .pfx to .pem format so I could use it. Pasted below are the various ways I have tried to use the certificate in Key Vault to authenticate.

[code]
Is there any way to directly use the KV certificate

[2020-11-20 21:36] PSPally opened #66443 "Awesome help page"
I'm just hit the button for feedback..  No issue.  Just the opposite.

This page:  https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-create-site-to-site-rm-powershell#feedback

Is **awesome**!  I _love_ the drop down box that switches the directions to different ways of doing the work.  Thank you, thank you, thank you!!!!!

I know it takes time, but please do that everywhere you can!

[2020-11-20 21:39] lfittl-msft commented on #66258
@kny78 Plans yes, but we don't have a timeline we can share yet at this point. Would it be an option for you to utilize the North Europe region instead? (already available)

[2020-11-20 21:46] johnayoub opened #66444 "Fixed Width to CSV creates empty line at end of file"
I have followed the instructions in this guide and the output contains an extra empty line at the end. This is also apparent in the screenshot as well. Is this a bug? How should I avoid having that extra empty line at the end?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e9541a6-8759-8788-6a93-81fe55fee8da
* Version

[2020-11-20 21:59] JamesTran-MSFT commented on #66364
@piotrgradzinski
Thank you for your doc enhancement recommendations, I've assigned this issue to the author of this doc to look into and update as necessary.

Expected changes:

- Add default value information to the docs - change proposed in #66365
- Information on how to unset this value.

Workaround for integrating between Azure B2C and Forgerock Access Management platform using OAuth2:

- Crea

[2020-11-20 22:04] MonikaReddy-MSFT commented on #66425
@patiljayesh040 - This will be done using cmdlets in the Az.RecoveryServices module https://docs.microsoft.com/powershell/module/az.recoveryservices..

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-20 22:04] #66425 closed

[2020-11-20 22:04] cjoakim opened #66445 "Create GitHub Repo for https://docs.microsoft.com/en-us/azure/cosmos-db/create-cassandra-api-account-java"
Could you please create a GitHub repo for the completed solution described here:
https://docs.microsoft.com/en-us/azure/cosmos-db/create-cassandra-api-account-java

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ed3e9a-82ac-92ce-21ff-abedd6200857
* Version Independent ID: 7e51a99a-d801-a5d8-f66e-5aafa19f56ce
* Content

[2020-11-20 22:06] MonikaReddy-MSFT commented on #66312
@VincentYip01 - It is expected behavior. The Management Group Reader role does not include permissions to read role assignments.
To read role assignments, you must select a role that includes the following permission:
Microsoft.Authorization/roleAssignments/read

Hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further

[2020-11-20 22:06] #66312 closed

[2020-11-20 22:27] duongau commented on #60960
@mike-urnun-msft Apologies for not having this answer for you until now. Your assumption is correct. With Front Door your connectivity and TLS termination is only with backends that have public endpoints. When you stack the Front Door service with an Application Gateway you can ensure that your HTTPS traffic is encrypted end to end to your VMs inside a virtual network. Please let me know if you ha

[2020-11-20 22:28] NavtejSaini-MSFT commented on #66437
@MaxThom We are checking this and will get back to you.

[2020-11-20 22:28] habeebtc opened #66446 "Bug in Powershell sample"
[Enter feedback here]

There is a bug in the powershell sample:

-Method $method

This passes in a string "POST" into the Method parameter, which requires an Enum Type.  You end up with "Object Reference not set"...

Should be:

-Method Post

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a

[2020-11-20 22:29] gstevens-kyriba commented on #38772
I think the biggest concern here is price.  If APIM needs to talk to an Internal API its gotta be premium tier which is 20x the cost..  ($48 / month vs $2802/month).

If your APIs only allow Oauth2 token invocations, technically they are "secure", so why spend 20x the money to put the API in a private network?

APIM -> Public Azure App Service API = $100 / month
APIM -> Private API - $3500/month -

[2020-11-20 22:34] NavtejSaini-MSFT commented on #66273
@bilak The Performance insights are basically based on the Query Store that you create as given in document as well. Also please visit the Query Store [concepts](https://docs.microsoft.com/en-us/azure/postgresql/concepts-query-store) and [Best practices](https://docs.microsoft.com/en-us/azure/postgresql/concepts-query-store-best-practices) for the same.

This will convey how to do the best usage o

[2020-11-20 22:45] mslot commented on #36458
@shubDhond so we need to deploy connectionstring and contentshare appsettings on the first deploy to the production slot, but not on deploys after that. Is there any way of doing this automatically? Like detect if a resource has been deployed through ARM? Or do we manually need to pass this info into the ARM ( fx through a parameter that tells if this is the first deployment?

[2020-11-20 22:46] YutongTie-MSFT commented on #66155
@aahill  Thanks, I will forward this to product team.

[2020-11-20 22:49] NavtejSaini-MSFT commented on #66345
@mmckechney There appears to be no way to check this directly. You can always use the [Get ](https://docs.microsoft.com/en-us/rest/api/sql/elasticpools/get) Command to get the SKU name to check the DB limits. This article explains that in detail.
But we can check this internally and get back to you.

[2020-11-20 22:52] NavtejSaini-MSFT commented on #51732
@michuny25 We have reopened the issue and assigned to the author.
@SnehaGunda Can you please check this further.

[2020-11-20 22:56] NavtejSaini-MSFT commented on #66445
@cjoakim We are checking this further but need help with routing this correctly. Please convey what you mean exactly by creating a repo for this documentation. Can you please share your use case.

[2020-11-20 22:58] CaitlinV39 commented on #66056
I moved this to our open source and removed this piece so it should be closed form here.

[2020-11-20 23:21] jlichwa commented on #66111
@Caoxuyang Key Vault has "intelligent" engine and automatically alternates between key1/key2 for generating sas keys. SAS is generated from active key and alternate key is rotated only after 90 days, rotated key becomes active key and after 90 days the other key is rotated. It takes 180 days for both to be rotated.

The active key concept is explained here: https://docs.microsoft.com/en-us/azure/k

[2020-11-20 23:50] mcbsys commented on #65904
@AjayKumar-MSFT An update. Thank you for the referral to the WordPress on Azure Docker site, which I followed to its Github pages. For some reason, the critical "how to" .md files are not displayed in the Azure marketplace, but I learned enough to realize that I probably need to abandon this image. For example, they recommend against doing a major version upgrade to WordPress inside the container

[2020-11-21 00:00] #54942 closed

[2020-11-21 00:00] TravisCragg-MSFT commented on #55049
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-21 00:00] #55049 closed

[2020-11-21 00:03] TravisCragg-MSFT commented on #58041
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-21 00:03] #58041 closed

[2020-11-21 00:03] TravisCragg-MSFT commented on #58054
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-21 00:03] #58054 closed

[2020-11-21 00:20] JnHs commented on #64476
Thanks again @algattik, I'm adding info to explain the autopool concept to our nodes and pools topic, and have added links from the autopool mentions in Best practices (and elsewhere). When the fix for this issue is merged, this issue will automatically close. The update on the live docs page will happen sometime after that. Appreciate your sharing your feedback on our docs!

[2020-11-21 00:42] kwhaler opened #66449 "Typo in "The Built-in serverless SQL pool" section"
Last paragraph needs a "T"
https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#the-built-in-serverless-sql-pool

...use SQL withou*t* having to reserve capacity...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID: 181a621d-0e8

[2020-11-21 00:53] StoicTom opened #66450 "Update guidance for XFS - `nobarrier` option removed"
See issue #55705, opening a new issue per the notes in the last one. Documentation still shows a last update note from 2016, new guidance is still needed for XFS on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7792d5a-de76-c48a-0c8d-46b3e918a503
* Version Independent ID: 23b37b12-4a16-d108-2705-2d96ceb484c8
*

[2020-11-21 00:55] shubDhond commented on #36458
@mslot unfortunately I don't think its possible to tell within a template whether a resource already exists or not but this should be possible with this (https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-conditions) combined with a parameter passed to the template telling it whether the site is configured for Azure Files already. This can be determined b

[2020-11-21 01:01] BharathNimmala-MSFT commented on #66446
@habeebtc Thanks a lot for bringing this to our attention , we will review and fix the document accordingly.

[2020-11-21 01:02] BharathNimmala-MSFT commented on #66441
@brandonmartinez Thanks a lot for sharing your feedback to improve our Azure documentation, we will review the feedback and see how we can enhance the document.

[2020-11-21 04:08] SubhashVasarapu-MSFT commented on #66443
@PSPally, we are glad to hear that! we really appreciate your feedback. We will try to ease the work and work towards a user-friendly UI wherever it is possible.

[2020-11-21 04:10] SubhashVasarapu-MSFT commented on #66105
@jinchunhuachoco, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-21 04:10] #66105 closed

[2020-11-21 04:53] kumarallamraju opened #66451 "Typo while creating an appservice plan"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/frontdoor/quickstart-create-front-door-cli

az appservice plan create \
--name myAppServicePlanSouthCentralUS \
-resource-groupg myRGFDSouthCentral

should be --resource-group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9790f3ea-1c30-b926-46c3-f04939ca2170

[2020-11-21 05:37] ningweinw commented on #65786
Please close this, thank you

On Fri, Nov 20, 2020, 23:45 AshokPeddakotla-MSFT <notifications@github.com>
wrote:

[2020-11-21 06:08] SubhashVasarapu-MSFT commented on #66451
@kumarallamraju, appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-21 06:08] #66451 closed

[2020-11-21 06:20] femsulu commented on #66138
Hello @yichungyu  - This doc has all the published list of Log Analytics IPs.  I suspect this undocumented IP is a new addition that hasn't been added to the doc. Passed on the feedback to the doc owner to review and make necessary updates. Thanks again for sharing this feedback. Have a good weekend.

@lgayhardt  - FYI.

[2020-11-21 06:21] femsulu commented on #66138
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-11-21 06:21] #66138 closed

[2020-11-21 06:41] shashishailaj commented on #65511
@richardhauer The change is live . Should you have any further question , please feel free to let us know. we will close this by EOD tomorrow.

[2020-11-21 06:42] #66449 closed

[2020-11-21 06:44] MichaelSL commented on #66180
tried once again:

[code]

[2020-11-21 06:48] BhargaviAnnadevara-MSFT commented on #66449
@kwhaler Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-11-21 06:49] BhargaviAnnadevara-MSFT commented on #66431
@dereklokey Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 06:50] BhargaviAnnadevara-MSFT commented on #66433
@nathan-alexander-mck Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 06:55] BhargaviAnnadevara-MSFT commented on #66450
@StoicTom Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 06:56] BhargaviAnnadevara-MSFT commented on #66438
@mloskot Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 07:49] BhargaviAnnadevara-MSFT commented on #66442
@RVerma93 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-21 07:58] BhargaviAnnadevara-MSFT commented on #66439
@rafsalas19 I just tried executing the snippet as is on Azure Cloud Shell running Azure CLI **2.14.0** and was able to do so successfully without passing the `--location` parameter explicitly.

Could you please specify where you tried to run it and with which Azure CLI version?

[2020-11-21 08:00] BhargaviAnnadevara-MSFT commented on #66444
@johnayoub Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 08:02] BhargaviAnnadevara-MSFT commented on #66440
@waynestevensinsight Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-21 11:37] MoeJw opened #66454 "Question about DiagnosticSettings Metric timeGrain propriety"
Name | Type | Required | Value
-- | -- | -- | --
timeGrain | string | No | the timegrain of the metric in ISO8601 format.

the timeGrain is set to take an ISO8601 value but sometimes I found examples that take "AllMetrics" value ):

So please if anyone can clarify this, since it's not mentioned in the documentation

[code]

[2020-11-21 11:44] DebashishSarkar opened #66455 "Specify product name as Azure Monitor for "Storage""
It should be Storage, not VMs.
![image](https://user-images.githubusercontent.com/6063546/99875939-57932e00-2c19-11eb-94cd-62dde4d3bd4d.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75687a2c-c9e0-262f-197b-4b88b8e6d27d
* Version Independent ID: 58bd1e87-6399-d276-7258-b5022d1019a8
* Content

[2020-11-21 11:54] DebashishSarkar opened #66456 "Able to see Azure Monitor Storage for GPv1 accounts, article states otherwise"
The article states that Azure Monitor for Storage isn't available for GPv1 storage accounts but I am able to see Azure Monitor for storage under my GPv1 storage account.
![image](https://user-images.githubusercontent.com/6063546/99876619-ea35cc00-2c1d-11eb-9504-b0b7f8f835fd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-21 14:12] fume opened #66457 "Wrong policy name in sample http requests"
When you show the HTTP requests to be issued to get a token via ROPC (https://docs.microsoft.com/en-us/azure/active-directory-b2c/ropc-custom?tabs=app-reg-ga#test-the-policy) or to redeem a refresh token (https://docs.microsoft.com/en-us/azure/active-directory-b2c/ropc-custom?tabs=app-reg-ga#redeem-a-refresh-token), the *policy name* in the URL is wrong

https://<tenant-name>.b2clogin.com/<tenant-

[2020-11-21 14:15] shashishailaj commented on #66457
@fume Thank you for pointing this out. We will have this verified and update the thread.

[2020-11-21 14:39] dereklokey commented on #66431
Fantastic, thank you!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Saturday, November 21, 2020 12:49:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Derek <dereklokey@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Adjust Queue Message Inv