[2020-04-10 15:53] shameeds opened #52173 "does Registry entries required even if the .net framework is 4.6 or higher?"
As per the above doc, we need to have .net framework 4.6 or higher, or enable the registry entries.
TLS 1.0 is disabled and .net framework is 4.6.2 in our VM 2016 server.
But still we are getting error.
Please let me know if TLS 1.0 is disabled is it mandatory to make registry changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-04-10 16:05] shraboin opened #52174 "Configure your application to use TLS 1.2 for Service Stack"
There are no suggestions given for Service Stack. The link associated with Service Stack just says create a help request on GitHub or Stack Overflow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5e31f8-a816-2b22-96c0-f763fa67f9e6
* Version Independent ID: d1ff1bc0-c88e-f51f-c6d8-fb9f9b212b94
* Content: [Remove TLS 1

[2020-04-10 16:07] martinpruss commented on #52149
I've had exactly the same results.  Regardless of the keyword or phrase entered, the training always results in a failure.

[2020-04-10 16:13] SaurabhSharma-MSFT commented on #52173
@shameeds Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-10 16:13] arham92 commented on #51972
Hi,
Waiting for your kind reply. Your answer give me a help to finalize my project technology.

[2020-04-10 16:14] SaurabhSharma-MSFT commented on #52167
@vbatr Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-10 16:16] SaurabhSharma-MSFT commented on #52163
@jnphlp Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-10 16:17] SaurabhSharma-MSFT commented on #52148
@filipkcz Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-10 16:27] abrahamfathman commented on #47191
Please fix the documentation MS - just spent 4 hours on this...

[2020-04-10 16:27] dagiro commented on #51782
@Fabiest, In regards to the Note, the engineer stated, "The user verified things are working for Kafka 1.1 based on the verification steps. In those verification steps we are using 9092 port while producing the message to Kafka which is not SSL.
Hence we still need the note box."

[2020-04-10 16:31] MohamedSahbi commented on #52171
The description says "When the first two digits are 24 or greater, the format is dd:hh:mm" that means it is 24 days.  The form hh:mm:ss is between 00:00:00 and 23:59:59 .  Meanwhile, it is better to avoid using 24:00:00 , it would be better to use 25:00:00 or bigger value to avoid the confusion.

[2020-04-10 16:37] cgillum commented on #52170
Scheduling, yes. The article actually mentions that entity operations have a _scheduled time_ that you can use to schedule an event in the future:

However, it's not possible to cancel an operation before it triggers.

[2020-04-10 16:37] Mike-Ubezzi-MSFT commented on #51784
@roofiq My assumption is based upon a single pipeline that has been run two times. I need clarity on the delta between the ARM template used in run 1 and run 2 of the same pipeline. I believe the issue is that there is a seeding operation taking place and you must wait for that process to complete, or the `update` operation to the existing auto-failover group is not allowed. What is the update tha

[2020-04-10 16:42] Mike-Ubezzi-MSFT commented on #51732
@michuny25 Thank you for the clarification and your time for making this clear. This is extremely helpful. I will have the content team evaluate and update this document based upon your feedback.

[2020-04-10 16:44] julieMSFT commented on #30452
@mlee3gsd Hi Martin, to close comment #please-close.

[2020-04-10 16:44] #30452 closed

[2020-04-10 16:45] Mike-Ubezzi-MSFT commented on #51732
@sakash279 This document will need to be reviewed for accuracy and updated. @SnehaGunda for awareness.

[2020-04-10 16:45] tfitzmac commented on #52113
I have submitted an update to include Microsoft.Insights. It should get published today.

[2020-04-10 16:46] tfitzmac commented on #52113
#please-close

[2020-04-10 16:46] #52113 closed

[2020-04-10 16:46] prateekplus opened #52175 "PHP 5.6 not supported"
I tried to run my PHP app (for PHP ver 5.6) using the configuration blade in the web app only gives the option to select 7.2 to the minimum. Did try using the CLI version and saved with 5.6 but still the app shows the phpinfo to 5.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e564777-8d59-9065-6f0d-d8ea3fc6ee62
*

[2020-04-10 16:47] arizzi12 opened #52176 "dev mode vs prod mode"
almost there...getting the following after the db update and re-deploy...thoughts please?

error:
Error.
An error occurred while processing your request.
Request ID: 800216f1-0002-f300-b63f-84710c7967bb

Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

The Development environment shouldn't be enabled for deployed applicatio

[2020-04-10 16:49] arizzi12 commented on #52176
fyi, the error is seen locally and via the prod azure site

[2020-04-10 16:57] odee30 opened #52177 "Link not working"
I get a 404 error accessing the link "For more information about these files and their usage, see Terratest in Terraform Modules.."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67e2aaeb-9332-648d-6577-42c1bbe77583
* Version Independent ID: 0d27688c-bc6b-0f97-7e8e-0db48621a109
* Content: [Tutorial - Create a Terraform

[2020-04-10 17:26] Grace-MacJones-MSFT commented on #52172
Hi @heaps926, Thanks for the question. We will check with the engineering team internally and get back to you shortly.

[2020-04-10 17:28] himanshusinha-msft commented on #52150
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:29] himanshusinha-msft commented on #52151
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:36] himanshusinha-msft commented on #52152
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-04-10 17:38] himanshusinha-msft commented on #52154
Thanks for the ask  . At this time we are reviewing it  and we will reply back as soon as we can .

[2020-04-10 17:38] YutongTie-MSFT commented on #52165
@maseedat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 17:40] Murthy582 commented on #52051
I was referring to the following documentation. There is no mention about passing custom port numbers.
https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server

[2020-04-10 17:42] himanshusinha-msft commented on #52155
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:44] rboucher commented on #41219
@cuifudean They tested and looked at the configuration of the underlying components.  It's probably related to what you were using. If you remember, let me know if it was Virtual Machines, Cloud Services or Service Fabric.  If you don't remember that's fine.  Thanks for responding.

[2020-04-10 17:46] himanshusinha-msft commented on #52153
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:47] himanshusinha-msft commented on #52156
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:49] himanshusinha-msft commented on #52157
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:50] himanshusinha-msft commented on #52158
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:51] himanshusinha-msft commented on #52170
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 17:53] arolsmith commented on #51976
I would like to echo what ybutola said. I followed the instructions exactly and I am now stuck on finding a solution for a client.

I also repeatedly get the same notice when running builds: "pending-Jenkin's doesn't have a label 'xyz'"

I set up a Bitnami Jenkins Marketplace solution in Azure and was able to run jobs on slaves correctly. However, the individuals I'm doing a job for want to use th

[2020-04-10 17:56] himanshusinha-msft commented on #52171
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-10 17:57] rboucher commented on #41219
#please-close

[2020-04-10 17:57] #41219 closed

[2020-04-10 17:57] MonikaReddy-MSFT commented on #51730
@erwinmanuel , The doc is updated now to reflect a warning message that talks about the need to restart VM after configuring the setting.  Also explains that the registry setting doesn't get picked up in the Group Policy UI:

Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, p

[2020-04-10 17:57] #51730 closed

[2020-04-10 17:57] himanshusinha-msft commented on #52177
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 18:01] davidzwa commented on #52053
I have edited my comment with more details.

[2020-04-10 18:02] bowlerma opened #52178 "Standard Streaming Endpoint in Preview?"
This document and the pricing page appear to indicate that the Standard Streaming Endpoint is still in Preview, is this correct?  The document is a little ambiguous and it seems strange to make the default something that is not generally available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a6e1018-20f7-a898-4f0c-

[2020-04-10 18:13] shashishailaj commented on #51816
@brucedkyle  i have reached out internally to find more on this and will update once i have any further information.

Thank You.

[2020-04-10 18:16] spelluru commented on #14568
@jyzhang56 - Apologize for the delay. I was able to reproduce the issue and opened a bug with the product team. I will update this GitHub issue as I hear from them. Thanks.

[2020-04-10 18:17] KranthiPakala-MSFT commented on #52126
@basilwong The activity will be executed on our infra machine in a VM pool. You can whitelist the Azure IP range though, depending on what your server allows for inbound traffic.

[2020-04-10 18:20] KranthiPakala-MSFT commented on #52146
@dagiro Could you please have a look at this? - Thanks!

[2020-04-10 18:21] SaurabhSharma-MSFT commented on #52087
@CharmanderJieniJieni Sorry, my apologies, I thought of service principals rotation in Managed Identities and the answer is Yes for the credential rotation as it is managed in the background and whenever a UserAssigned or SystemAssigned Identity is created, the Managed Identity Resource Provider (MSRP) issues a certificate to that identity. The default rotation occurs every 46 days and credential

[2020-04-10 18:30] chwarr commented on #52079
They won't hurt, but I don't think they're needed here. @rikogeln knows more details about this than I do.

I don't work on ARR, but on some shared components that ARR uses where the CVs come from. I happened to see this issue when I was poking around looking at other things on GitHub.

[2020-04-10 18:31] jimsander opened #52179 "API/CLI for bulk creation"
Hi Team, had asked about this in the IG announcment and some meetings June last year; has anything been created in the way of generating bulk access packages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Id

[2020-04-10 18:43] DarrinEide commented on #51939
@CameronDevine, I was able to fix this for the API in our weekly release that went out yesterday.

The DOI field accessible via the API is now normalized to be uppercase, so as long as you ensure your queries reflect that then you get the correct result assuming we actually have it. I updated the [API documentation for DOI](https://docs.microsoft.com/en-us/academic-services/project-academic-knowle

[2020-04-10 18:48] Karishma-Tiwari-MSFT commented on #52144
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-10 18:49] Mike-Ubezzi-MSFT commented on #52174
@shraboin Thank you for bringing this to our attention. The link should point to the following: https://github.com/ServiceStack/ServiceStack.Redis#servicestackredis-ssl-support and I have created a pull request with this change.

[2020-04-10 18:52] himanshusinha-msft commented on #51773
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-04-10 18:52] #51773 closed

[2020-04-10 18:56] SaurabhSharma-MSFT commented on #52145
@frehnejc I have submitted a PR to update the documentation to include section on managing Certificates and it will be merged upon approval of the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-10 18:56] #52145 closed

[2020-04-10 19:02] Mike-Ubezzi-MSFT commented on #52174
A Pull Request has been submitted and merged with the public facing version of this document. It will take up to 24hrs for this change to be available. This issue will now be closed but the dialog can still continue should there be additional questions or comments.

[2020-04-10 19:02] #52174 closed

[2020-04-10 19:06] bbayles opened #52181 "Service Tags JSON file links are not stable"
The [Discover service tags by using downloadable JSON files](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview?view=azurermps-2.3.0#discover-service-tags-by-using-downloadable-json-files) links go to Microsoft.com download pages. These pages initiate downloads of files with a different name for every update.

This is not useful for staying up-to-date with the service ran

[2020-04-10 19:11] SnehaGunda commented on #51782
@Fabiest We had a discussion with our product team and the note and important box are helpful for other users. We added them as a result of previous issues, so we will leave them as-is for now.

Closing this issue if there aren't further questions.

[2020-04-10 19:12] SnehaGunda commented on #51812
@Fabiest Thanks for the feedback, David's PR above addresses your suggestions. The PR will be merged today and the content will be live by EOD.

[2020-04-10 19:18] dagiro commented on #51813
@Fabiest, Thank you again for bringing this to our attention. I have updated the article. The update should be visible shortly.

[2020-04-10 19:24] jshowley commented on #49364
I also would like v2 so I can do custom labeling with a local form recognizer in docker.

[2020-04-10 19:27] ganrad opened #52182 "Correction: Deploy VM using stored key-values"
**Section: Deploy VM using stored key-values**
**Point # 3** states

In step # 3, I believe the ARM template is used to deploy the VM (not the App. Configuration Store) !  So this sentence should be corrected as below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-0717-23d4-5d63-c5728919cda8
* Version Indepen

[2020-04-10 19:29] mananshah19 commented on #52133
Sounds good :)

On Thu, Apr 9, 2020 at 6:38 PM Masha at MSFT <notifications@github.com>
wrote:

--
V/r,
*Manan Shah*
*Infrastructure and System Design*
Premier One
*Motorola Solutions*
*O:*  720-693-6354
*E:  **manan.shah@motorolasolutions.com <manan.shah@motorolasolutions.com>*

,

--

*Your privacy is important to us. That is why we have taken appropriate
measures to ensure the data you provide

[2020-04-10 19:32] smf723 commented on #49364
You can download the labeling tool in a docker container following the instructions [here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool)

What's not available is the ability to analyze forms locally in a container with V2. We need this for compliance reasons to keep data on premise. I'm not sure why this is so difficult because they are just runn

[2020-04-10 19:46] jshowley commented on #49364
I have the labeling tool in a docker container but it is pointing to an azure blob storage. I can't put our data in the cloud for compliance reasons as well. I want to do custom labeling and keep the data on premise.

[2020-04-10 19:47] CaptOveur commented on #23942
https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/adac/introduction-to-active-directory-administrative-center-enhancements--level-100-#bkmk_enable_recycle_bin

The above link details how to enable the AD Recycle Bin and should be added to this document.

[2020-04-10 19:52] smf723 commented on #49364
I just used forms without sensitive data for my training. For us the forms are not sensitive, there actually publicly available forms, it's just the data on them that is.

Keep in mind, even if you could keep all your training data locally, you still have to the Azure service to analyze the forms so you won't be compliant anyway. That's why I was asking about being able to run the analysis functio

[2020-04-10 19:54] DavidCBerry13 commented on #46175
Yes, correct.  I updated the doc and now it shows MB rather than GB.  #please-close

[2020-04-10 19:54] #46175 closed

[2020-04-10 20:00] shraboin commented on #52174
Hey Mike, could we add a note that version 5.6 of ServiceStack is needed? Version 5.6 added TLS version support: https://docs.servicestack.net/releases/v5.6#change-sslprotocols

[2020-04-10 20:03] #51876 closed

[2020-04-10 20:03] rikogeln commented on #52079
@reneschulte - the correlation vector (cV) of each call definitely helps us to troubleshoot the issue. so if you can please include them in your reports.

In related news - we found two issues thanks to your report. One with the managed identity UI and one with the inner workings of the conversions/create REST API. We are working on fixes for both of them and will update you here once they have be

[2020-04-10 20:04] gdprtcl commented on #51371
The business objective was to get the AKS deployment keys programmatically and make the request work with Authentication Enabled.
As you said right, the Python SDK eases this out.
But for our .NET core app, we are relying on providing the auth key manually in the code which then makes the service call happen.

[2020-04-10 20:05] Karishma-Tiwari-MSFT commented on #51738
@StingyJack  As mentioned in the document, the limit is 60 containers per container group.
That's why I mentioned that Certain default limits and quotas can be increased. You would need to try and see by requesting by following the support request process.

![image](https://user-images.githubusercontent.com/20851144/79019687-c65cc480-7b2b-11ea-98a3-f220422c6f99.png)

[2020-04-10 20:05] SnehaGunda commented on #52146
@dcbrown16 Thanks for the feedback. I think that statement is safe to have. You are right that there wouldn't be any outbound traffic. However, the inbound traffic to this IP should be allowed for communication. By default, the IP address can be blocked as mentioned in the other doc you linked.

[2020-04-10 20:08] SaurabhSharma-MSFT commented on #52179
@jimsander Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-10 20:09] SnehaGunda commented on #51812
We will now close this issue.

#please-close

[2020-04-10 20:09] #51812 closed

[2020-04-10 20:09] SnehaGunda commented on #51813
We will now close this issue.

#please-close

[2020-04-10 20:09] #51813 closed

[2020-04-10 20:11] CharmanderJieniJieni commented on #52087
Thanks. This is important reference for us, could you update it somewhere in the document?

[2020-04-10 20:11] SnehaGunda commented on #52107
FYI we have notified the script owner to make the changes.

[2020-04-10 20:18] GiftA-MSFT commented on #52141
@wwlpublish the new neural voices are currently in [preview](https://azure.microsoft.com/en-us/updates/azure-cognitive-services-adds-new-style-voices-to-neural-text-to-speech/). Refer to the following [document](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup?tabs=csharp#adjust-speaking-styles) for more details. Thanks.

[2020-04-10 20:21] KranthiPakala-MSFT commented on #52125
@prashant-kumar-mishra Thanks for reaching out on this. Just wanted to check if you have tried  using `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.14.1` by changing `EventHubClient.create(connStr.toString(), pool)` to `EventHubClient.createFromConnectionString(connStr.toString(), pool)`

[2020-04-10 20:21] TravisCragg-MSFT commented on #52181
@bbayles Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-10 20:23] Mike-Ubezzi-MSFT commented on #52174
@shraboin I will add that. Thanks for the suggestion.

[2020-04-10 20:27] GiftA-MSFT commented on #52149
@Katsuhikochi and @martinpruss I was able to follow the instructions successfully. My resource is in the East US region. Where's your resource located so I can investigate further? Thanks.

![image](https://user-images.githubusercontent.com/51332022/79020851-f619c580-7b47-11ea-97b1-55206831897f.png)

[2020-04-10 20:29] martinpruss commented on #52149
My resource is in Canada Central.

From: GiftA-MSFT <notifications@github.com>
Sent: April 10, 2020 16:28
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: martinpruss <martinruss@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to Successfully create a Custom Keyword. (#52149)

@Katsuhikochi<https://nam12.safelinks.protection.outlook

[2020-04-10 20:32] CeciAc opened #52184 "Link to Azure dynamic inventory plugin."
@riemers commented on [Fri Apr 10 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/587)

Link to the azure plugin is a 404.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: d2b8e92b-a339-3869-9c78-e99cb04b94ee
* Version Independent ID: f26cb51b-3a0f-ff82-1b92-03084b52fd56
* Content: [Zelfstu

[2020-04-10 20:33] SnehaGunda commented on #51508
The secondary indexes doc is live: https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra-secondary-index

We will now close this issue

#please-close

[2020-04-10 20:33] #51508 closed

[2020-04-10 20:48] Karishma-Tiwari-MSFT commented on #52130
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/111014

[2020-04-10 20:48] GiftA-MSFT commented on #52149
@martinpruss I agree with you. I will report this bug and keep you posted.

[2020-04-10 20:57] nbandi413 commented on #52137
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#windowsconfiguration
has "provisionVMAgent": "boolean", this will autoprovision the agent, and is working just fine. Please close this issue.

[2020-04-10 20:57] #52137 closed

[2020-04-10 21:01] MarileeTurscak-MSFT commented on #51804
Never mind. Got a response from someone on my team. The reason why you are not getting the admin consent request form is because you are explicitly going to the adminconsent endpoint (https://login.microsoftonline.com/{tenantId}/adminconsent?). This endpoint is for admins only, not for users. Users get the consent request form when they are trying to access a resource and try to use a permission t

[2020-04-10 21:02] MarileeTurscak-MSFT commented on #51804
Hope this helps! If you have further questions feel free to reach out on [Q&A.](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered)

[2020-04-10 21:02] #51804 closed

[2020-04-10 21:08] MarileeTurscak-MSFT commented on #51908
Based on the documentation, it should be the SSO technical profile. "The self-asserted technical profile doesn't persist the data to Azure AD B2C. Instead, a call is made to a validation technical profile that's responsible for persisting the data." https://docs.microsoft.com/en-us/azure/active-directory-b2c/self-asserted-technical-profile

CC: @msmimart

[2020-04-10 21:08] #51908 closed

[2020-04-10 21:14] nayak-mahesh commented on #50796
#please-close

[2020-04-10 21:14] #50796 closed

[2020-04-10 21:18] SaurabhSharma-MSFT commented on #52087
@CharmanderJieniJieni Sure, I have submitted a PR to update the documentation and it will be merged once approved by the document author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-10 21:18] #52087 closed

[2020-04-10 21:18] #51933 closed

[2020-04-10 21:20] suresh8771 commented on #38180
-privateIpAddress : The term '-privateIpAddress' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
was included, verify that the path is correct and try again.

Got above error at the end of completion

[2020-04-10 21:20] hpsin commented on #50421
@paulgarn can comment on this better.

[2020-04-10 21:21] jeevansd commented on #52090
@ailichev Can you please send the email on this issue to us on SaaSApplicationIntegrations@service.microsoft.com and then we can help you resolve this issue. In the mean time please try rebooting the server to make sure that the changes are reflected. Most of the time that solve the problem here. If not we can schedule some time with your team to solve this issue.

[2020-04-10 21:24] archanaiyer commented on #52079
The change for the conversion REST API have been deployed. The storage account linking should now work. Let us know if you have trouble with that!

[2020-04-10 21:30] MartinJaffer-MSFT commented on #51777
The additional cases you bring up are interesting, @arvind-dhariwal .  I will assign to doc author for consideration, @nabhishek .

[2020-04-10 21:32] kuulemart commented on #50796
What happens now? Will the documentation be updated?

[2020-04-10 21:41] ashishharjani opened #52185 "Token Name is wrong"
There is a section mentioned above "Get an access token" . That is not correct, instructions say to go and run a B2C User Flow and complete sign in process and generate and copy that token. The token which generally gets generated by this process is called id_token and not access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-04-10 21:55] apwestgarth commented on #47551
Hi @Ayanmullick  just so I can clarify the request here.  You are looking for using the Azure PowerShell to deploy a custom app in a .net core 3.1 linux custom container, which sites in an Azure Container Registry, to Azure App Service Linux?

Adding @btardif, @panchagnula, @cephalin for awareness

[2020-04-10 22:00] ailichev commented on #52090
I've sent an email to SaaSApplicationIntegrations@service.microsoft.com.
We tried to restart jira service and reboot server. Actually these actions didn't solve the issue.

[2020-04-10 22:07] BryanTrach-MSFT commented on #52178
@bowlerma Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 22:29] marcfiu opened #52186 "OpenLogic now a different company and not easy to find the preview image"
I would like to try any CentOS 7 based image with working cloud-init support on Azure.  When searching for OpenLogic, a different company is listed with a note (formerly OpenLogic). I've tried a few of their images, but then it shows in the azure VM provisioning GUI that the image does not support cloud-init.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-10 22:34] sdgilley commented on #51876
Thanks for bringing this to our attention.  We have a task to update the compute instance with the correct packages, but in the meantime I've also updated the article to do an install of the package.

#please-close

[2020-04-10 22:35] Grace-MacJones-MSFT commented on #52175
Hi @prateekplus, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 22:36] Grace-MacJones-MSFT commented on #52176
Hi @arizzi12, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-04-10 22:38] Grace-MacJones-MSFT commented on #51811
@narasimhareddyjob any updates about this issue?

[2020-04-10 22:47] Grace-MacJones-MSFT commented on #51836
Hi @GFoley83, checking to see if Ajay's comment helped answer your question. We appreciate your feedback. Let us know if you need additional information on ASP

[2020-04-10 22:54] TravisCragg-MSFT commented on #52139
Communication within a VNET has no additional encryption to other resources on the Virtual Network, and will act just like a normal Network. You can enable any addition encryption that you would like.

Azure takes a multitude of additional protection steps to isolate and protect your traffic within the datacenter, and make sure that no one else can see your traffic outside of your Virtual Network.

[2020-04-10 22:58] TravisCragg-MSFT commented on #52147
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

i will reach out to you internally as well .

[2020-04-10 23:02] Karishma-Tiwari-MSFT commented on #52162
Is this resolved?

[2020-04-10 23:02] SaurabhSharma-MSFT commented on #52179
@jimsander Bulk creation unfortunately is not possible.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page

[2020-04-10 23:03] Karishma-Tiwari-MSFT commented on #52186
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 23:05] #52130 closed

[2020-04-10 23:12] MarileeTurscak-MSFT commented on #51850
You need either global admin access or privileged role administrator access to delegate admin roles. https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles

Hope this helps.

If you have further questions feel free to reach out on [q&a](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered).

[2020-04-10 23:12] #51850 closed

[2020-04-10 23:17] Karishma-Tiwari-MSFT commented on #51837
@MashaMSFT Need your help with this question. Let me know if you have any inputs on this. Thanks :)

[2020-04-10 23:28] lightningrob opened #52188 "What determines the scope of a client session?"
There is an example of two different regions "using the same session".  How is that possible?
If multiple threads in a process are sharing a documentClient, are they in the same session?  What about multiple processes connecting to the same database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-178

[2020-04-10 23:29] MarileeTurscak-MSFT commented on #51978
Thanks! I confirmed this in my tenant using az role definition list. Looks like it got missed.

I made a pull request to add the role. https://github.com/MicrosoftDocs/azure-docs-pr/pull/111043

CC: @rolyon

[2020-04-10 23:30] #51978 closed

[2020-04-10 23:41] payiAzure opened #52189 "Reset password for VM in VM scale set using VM access extensions didn't work"
[Enter feedback here]
To reset the password of VMs in my virtual machine scale set, I follow the "Passwords" section, options 'Reset the password using the VM access extensions.' in this doc with the following commands:

$ResourceGroupName = "ShdConsumerRSG"
$VMSSName = "NodeType1"
$publicConfig = @{"UserName" = "payi"}
$privateConfig = @{"Password" = "*****"}
$extName = "VMAccessAgent"
$publisher

[2020-04-10 23:55] apwestgarth commented on #47551
Sorry @Ayanmullick  I now see the scenario in your comments in this thread.

[2020-04-10 23:56] Mikhail-msft commented on #50209
Connection string is the only required for codeless attach. However the instrumentation key is recommended to be set for backward compatibility if customer uses the old Application Insights SDK.

[2020-04-11 00:06] SnehaGunda commented on #52092
What Mike said above, currently there isn't any automatic refresh. You have to manually refresh the data similar to Power BI.

[2020-04-11 00:56] Mike-Ubezzi-MSFT commented on #52188
@lightningrob Yes, they are in the same session. This is the case when you have multiple write regions enabled for your Cosmos DB instance. Please see: [Configure multi-master in your applications that use Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-multi-master). An example of this is the following with [.NET SDK v2](https://docs.microsoft.com/en-us/azure/cosmos-db/ho

[2020-04-11 01:13] Ricardoaraujo00 opened #52191 "This second way works, the original didn't"
/.auth/login/twitter/callback. For example, https://contoso.azurewebsites.net/.auth/login/twitter/callback.

&gt;&gt;&gt;&gt;&gt;
/signin-twitter. For example, https://contoso.azurewebsites.net/signin-twitter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a857a8-ee6c-509b-75aa-f13147a4412b
* Version Independent ID: a

[2020-04-11 01:14] nitinme commented on #39281
Thanks @anandmt

#please-close

[2020-04-11 01:14] #39281 closed

[2020-04-11 01:16] nitinme commented on #39374
Thanks @anandmt

#please-close

[2020-04-11 01:16] #39374 closed

[2020-04-11 01:18] nitinme commented on #41369
Thanks for providing the resolution @anandmt

#please-close

[2020-04-11 01:18] #41369 closed

[2020-04-11 01:38] dmgonch opened #52192 "For ApplicationHealthLinux requestPath cannot start with a slash"
My testing showed that with ApplicationHealthLinux using requestPath that starts with a slash causes the health status check to always fail. The same request path but without the slash works for the extension on Linux. But ApplicationHealthWindows works regardless of whether requestPath starts with a slash or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-11 02:05] Mike-Ubezzi-MSFT commented on #52092
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-11 02:05] #52092 closed

[2020-04-11 02:08] Mike-Ubezzi-MSFT commented on #51784
@roofiq We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-11 02:08] #51784 closed

[2020-04-11 02:14] cevanno opened #52193 "Conversion of 40M poly model results in 0 poly due to absolute path bug"
Are there any details on how to export a model and textures from Unity to be compatible with ARR?
I exported a model from Unity with embedded materials and textures because the instructions are unclear if the localAssetDirectoryPath can have subfolders (say for materials and textures).  The upload and convert succeed but the stdout.txt shows many errors for these embedded resources expecting to fi

[2020-04-11 03:27] BarnumD commented on #51902
Agree!  Was stuck wondering if my application was running and how to access it!?

[2020-04-11 03:55] KrishnaG-MSFT commented on #52184
@CeciAc Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-11 04:30] dbartz opened #52194 "table does not contain "Expected network bandwidth (Mbps)""
The other VM Types feature the same table, with the difference the the "max NICs" column als has "Expected network bandwidth (Mbps)".
Example:
https://docs.microsoft.com/en-us/azure/virtual-machines/lsv2-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID:

[2020-04-11 04:44] dbartz opened #52195 "Q&A on credit monitoring is outdated/unclear"
The statement "We will be introducing 2 new metrics in the coming weeks" refers to an unclear moment in time.

As far as I can see, this is already implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e1904473af31
* Content: [

[2020-04-11 05:12] BharathNimmala-MSFT commented on #52195
@dbartz Thank you for bringing this to our notice. Will review the feedback and fix the document accordingly.

[2020-04-11 05:24] shashankkr commented on #52089
Thanks mike, also in the above example, "disabled": false, what does this setting do?

[2020-04-11 05:27] BharathNimmala-MSFT commented on #52185
@ashishharjani Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-04-11 05:39] surfBoy opened #52197 "Lost faith in example on fist couple of steps"
Hi
Doc wants you to open VS 2019 .NET console project
This can't compile example code (i.e. using var recognizer = new SpeechRecognizer(config);)
Error CS8370 Feature 'using declarations' is not available in C# 7.3. Please use language version 8.0 or greater.

C# 8.0 (and higher) is supported only on .NET Core 3.x and newer versions. Many of the newest features require library and runtime features

[2020-04-11 05:51] himanshusinha-msft commented on #52182
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-11 05:55] himanshusinha-msft commented on #52189
Thanks for the ask  . At this time we are reviewing it  and we will reply back as soon as we can .

[2020-04-11 06:00] himanshusinha-msft commented on #52191
@Ricardoaraujo00 : Can you please elaborate the ask here please ?

[2020-04-11 06:02] himanshusinha-msft commented on #52192
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-11 06:04] himanshusinha-msft commented on #52193
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-11 06:06] himanshusinha-msft commented on #52194
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-11 06:07] himanshusinha-msft commented on #52197
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-11 06:13] KrishnaG-MSFT commented on #52184
Tagging @TomArcherMsft for visibility, review and document enhancement consideration.

As per [this](https://github.com/ansible/ansible#branch-info) information, the devel branch of the ansible GitHub repository corresponds to the release actively under development where as the stable-2.X branches correspond to stable releases.

However, the link to "**Azure dynamic-inventory plug-in**" in [this](

[2020-04-11 07:09] femsulu commented on #52007
@FbaillonGfi Une mise à jour s'il vous plaît?

[2020-04-11 08:11] reneschulte commented on #52079
Woohoo! That worked. 🎉

I had to recreate the ARR resource and re-assign IAM roles so the Storage Account can access the new ARR but after that the conversion script worked now!

Thank you and have a great weekend. 🙌

[2020-04-11 08:11] #52079 closed

[2020-04-11 08:18] reneschulte opened #52198 "The script does not generate the SAS Uri anymore and the SAS Uri steps are different"
The script does not automatically generate the SAS URI at the end anymore.

Then the manual steps to create one are different as shown in this screenshot. The Azure Portal context menu is different and has more options in the dialog.
https://docs.microsoft.com/en-us/azure/remote-rendering/quickstarts/convert-model#optional-re-creating-a-sas-uri

---
#### Document Details

⚠ *Do not edit this secti

[2020-04-11 08:48] jonharro opened #52199 "Solution Architect"
One of the better written and useful Docs pages I have come across.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d32078e-3211-6e2e-ab0f-b6d94699f55c
* Version Independent ID: 307ec888-e6b6-cc04-fa7e-acc3220d77f2
* Content: [Authentication for Azure AD hybrid identity solutions - Active Directory](https://docs.micros

[2020-04-11 10:27] mperdeck opened #52200 ""cd" is wrong"
It says "cd LocalFunctionsProject", but should be "cd LocalFunctionProject" (no s)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c85f7-53b3-59a2-3f42-fbccbba07d32
* Content: [Create a function in Azure that responds to HTTP requests](https://docs.micros

[2020-04-11 11:21] stevensnicole opened #52201 "Fraud Alert reports"
Hello,

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#view-fraud-reports

This link states this:

View fraud reports
Sign in to the Azure portal.
Select Azure Active Directory &gt; Sign-ins. The fraud report is now part of the standard Azure AD Sign-ins report.

There are no reports available in Azure AD -&gt; Sign-Ins.
I tested reporting an access at

[2020-04-11 11:41] irvinhg opened #52202 "Windows on Arm is not supported ?"
Hello,

I'm getting the following error when importing the AzureAD module. I'm using Windows on Arm, is there a workaround ?

Import-Module : The current processor architecture is: X86.  The module 'C:\Program Files
(x86)\WindowsPowerShell\Modules\AzureAD\2.0.2.76\AzureAD.psd1' requires the following architecture: Amd64.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-11 13:03] mperdeck opened #52203 "Logstream severely broken, or instructions are missing something"
The method for getting logs shown in the "Portal" section never shows me the log entries generated by my function.

In the section "Core Tools", running
func azure functionapp logstream &lt;FunctionAppName&gt;
from the command line gives me no logs at all, except for this once a minute:
No new trace in the past x min(s).

Running
func azure functionapp logstream &lt;FunctionAppName&gt; --browser
d

[2020-04-11 13:25] prashant-kumar-mishra commented on #52125
Thanks Kranthi, I used the same  and it worked for me.

[2020-04-11 14:08] RohitMungi-MSFT commented on #52198
@reneschulte Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-11 14:11] RohitMungi-MSFT commented on #52199
@jonharro Thanks for the feedback. We shall pass the same to our content team for helping us build this documentation.

[2020-04-11 14:12] samartzidis commented on #37727
If it only uses the Azure infrastructure to connect why does in need to expose port 443 on a public Internet IP?

[2020-04-11 14:12] RohitMungi-MSFT commented on #52200
@mperdeck Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-11 14:12] NikosSpanos opened #52204 "Stream Analytics job Function - Deploy ACI container"
I would like to use Stream Analytics Job to score data passing through stream analytics. When I connect the deployment to an existing ACI container instance then I get this message for the Function signature "Your deployment does not have an associated swagger.json".

The contrary to this error is the following two events:
Event 1: When I use the scoring URL to score some values locally (in a Jupy

[2020-04-11 14:14] RohitMungi-MSFT commented on #52201
@stevensnicole Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-11 14:15] RohitMungi-MSFT commented on #52202
@irvinhg Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-11 14:16] RohitMungi-MSFT commented on #52203
@mperdeck Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-11 14:32] Ricardoaraujo00 commented on #52191
Sorry for over simplified that comment. I'm saying that the call back address that we are supposed to fill in the twitter developer console isn't that stated in the docs on step 3, but how i show in the last line of my comment.

[2020-04-11 14:35] RohitMungi-MSFT commented on #51896
@AAGhotkar We will now proceed to close this thread. Please raise an issue from the document you are referring to from the bottom of the page using the Feedback section so the correct team can help further with the issue. Thanks.

[2020-04-11 14:35] #51896 closed

[2020-04-11 14:36] RohitMungi-MSFT commented on #52040
@ojasvin  We will now proceed to close this thread. Please raise an issue from the document you are referring to from the bottom of the page using the Feedback section so the correct team can help further with the issue. Thanks.

[2020-04-11 14:36] #52040 closed

[2020-04-11 14:37] RohitMungi-MSFT commented on #52041
@ojasvin  We will now proceed to close this thread. Please raise an issue from the document you are referring to from the bottom of the page using the Feedback section so the correct team can help further with the issue. Thanks.

[2020-04-11 14:37] #52041 closed

[2020-04-11 16:08] shashishailaj commented on #52199
@jonharro Thank you for your kind words. Much appreciated. In case you have any issues , feel free to use the feedback section at the end of the page for any issues or recommendations  with the documentation that you may have.  If you find anything wrongly mentioned , you can also initiate a pull request to have it reviewed by the content team and having that fixed. We will close this issue now. S

[2020-04-11 16:30] SychevIgor opened #52205 "Update screenshot to prevent confusion"
https://docs.microsoft.com/en-us/azure/machine-learning/media/how-to-manage-workspace/delete-workspace.png
shortly- it's not in a preview. it would be nice to have consistent screenshot that will nor be source of confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6d62cb-c3fc-40b9-ba2e-edab34bb319f
* Version In

[2020-04-11 16:47] DCtheGeek commented on #33696
Closing this as the PM has responded with available material and this isn't a docs issue.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-04-11 16:47] #33696 closed

[2020-04-11 16:50] DCtheGeek commented on #36393
This issue has been addressed already, so closing the issue.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-04-11 16:50] #36393 closed

[2020-04-11 17:12] DCtheGeek commented on #44805
PM has addressed this issue with a docs update, so closing this issue.

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-04-11 17:12] #44805 closed

[2020-04-11 17:23] DCtheGeek commented on #52099
#reassign:DCtheGeek

[2020-04-11 17:24] DCtheGeek commented on #52099
@Forcebyte Thanks for the feedback. I'm looking at it with the PM to make the appropriate update.  This issue will automatically close when the update merges.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage Please adjust label to 'doc-enhancement' and #in-progress.

[2020-04-11 17:25] markjbrown commented on #52188
This is a typo. It should read...

The "West US 2 writer" and the "West US 2 reader" are using the same session.

I will update this. Thanks for pointing out.

[2020-04-11 17:29] markjbrown commented on #52188
Added to existing PR on this doc. @SnehaGunda  please review #110532 and merge.

Thanks.

#please-close

[2020-04-11 17:29] #52188 closed

[2020-04-11 17:43] orloffm opened #52206 "A record and ip address"
The confusing part is with adding the A record. Say, I want it to point to my App Service. What if its IP address changes? What is the way to handle that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Tutori

[2020-04-11 17:46] shashishailaj commented on #49856
@StefanIvemo This change has been updated and the document update is live.

Thank you.

[2020-04-11 17:47] shashishailaj commented on #51779
@SergGu Sorry to have misunderstood you. I have updated the table and this should be online in the next release cycle within the next 48 hours. For your reference the calculation would be something like below.

| Log type | No. of users | Events per second | Events per 5-min interval | Volume per interval | Messages per interval | Messages per month | Cost per month (est.) |
|--------------|------

[2020-04-11 17:47] #51779 closed

[2020-04-11 17:48] #52199 closed

[2020-04-11 17:51] expresspotato opened #52207 "Really? This is a paid service, just to protect my account with MFA?"
I can't believe this is a paid service just to protect my account with MFA and a virtual token... Moving on to another service to investigate.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6-5472-62c3-5eae-fa39ecccd12e
* Content: [Enable Azure Multi

[2020-04-11 18:25] #44802 closed

[2020-04-11 18:29] himanshusinha-msft commented on #52204
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-11 18:31] himanshusinha-msft commented on #52205
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-11 18:32] RonnieQuan opened #52208 "Suggestion - Connecting to private endpoints"
This information is import, to connect via public endpoint FQDN, not the privatelink one.
If you could indicate the reason behind that, it will be even better, e.g. it breaks SSL, certificate and why.
https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints#connecting-to-private-endpoints

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-04-11 18:33] himanshusinha-msft commented on #52206
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-11 18:35] himanshusinha-msft commented on #52207
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-11 18:37] himanshusinha-msft commented on #52208
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-11 18:39] abhirockzz commented on #52077
Thanks. Can you point me to the part which was updated? I can't seem to find it

[2020-04-11 18:40] sayotte opened #52209 "`az aks create` fails, apparently due to Service Principal propagation / race"
Looks related to this issue: https://github.com/Azure/azure-cli/issues/9585
But, while that issue is still outstanding, this doc should provide new users with a sure-to-work sequence.

Output:
[code]

I only have one Azure subscription, and heading into this tutorial I confirmed that I had no other resources of any type.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-11 18:55] ramseygr opened #52210 "Need more information on getting to the search result 'rows' (from Log Analytics) so we can use the data."
I can parse the JSON to the search results, but actually getting to the 'rows' that show the actual data from the Log Analytics has proven to be a challenge. Please add some insight to this article for how to make that easy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd63841c-b79c-94f0-d07c-86bda071df08
* Version I

[2020-04-11 19:05] cevanno commented on #52193
ok I found that all textures need to be in the same folder as the fbx.  Now the stdout has no errors.  However the model still does not render in the Quickstart scene even after loading reaches 100%.  The Connection Status is Connected.
Wondering if the ARR system has some unpublished size limits, I also tried again with a small 50K poly model with the same result.  No errors I can see, but not re

[2020-04-11 19:09] BharathNimmala-MSFT commented on #52210
@ramseygr Thank you for your valuable feedback, assigning this to our document author @rboucher to further evaluate the feedback and update the document accordingly.

[2020-04-11 19:29] aspnet4you opened #52211 "Install Az.PrivateDns requires -AllowClobber option"
When you run Install-Module -Name Az.PrivateDns command, you get an error telling you that you need to run this command with -AllowClobber option. That's what I did and it worked.

Install-Module -Name Az.PrivateDns -AllowClobber

I was able to successfully migrate the preview private dns (showing under DNS Zones on Azure Portal) following the instructions on this page. DNS zones shows under Priva

[2020-04-11 19:34] RonnieQuan opened #52212 "NSG for subnet with private endpoint - typo?"
Currently, you can't configure Network Security Group (NSG) rules and user-defined routes for private endpoints. NSG rules applied to the subnet hosting the private endpoint are applied to the private endpoint. A limited workaround for this issue is to implement your access rules for private endpoints on the source subnets, though this approach may require a higher management overhead.

"NSG rules

[2020-04-11 19:35] yobyot opened #52213 "Definition of time period for log analytics query is both irrelevant and confusing"
The "Time Period" description on this page is flawed.

First, the parameter name does not match the portal UI, which calls this parameter "Period (in minutes") making it unclear if, indeed, the doc is describing the evaluation period. Doc should consistently match the UI. Full stop.

Worse, this text is both useless and inaccurate:

"Time Period. Specifies the time range for the query. The query r

[2020-04-11 19:48] aquibqureshi26 opened #52214 "can you please add how to mount a volume on windows?"
I think just like Linux, this article should show us how we can mount a netapp volume on windows system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c4691a-bc1e-3a5e-4849-a4ab11eb3f17
* Version Independent ID: 6ca9ad64-3a8e-69f7-0eca-471d3e0e3706
* Content: [Mount Azure NetApp Files volumes for virtual machines](h

[2020-04-11 20:24] AdiAlexa commented on #51357
Because we were not getting any actual instructions on how to fix this, I have gone and read up on Logic apps and managed to change HTTP Webhook action to a HTTP action. And it's quite simple actually. See below seps:
1. Go to your Logic App
2. Click the Logic App designed on the blade
3. You will see the Recurrence Step and the HTTP Webhook Step. Add new Step
4. Search for HTTP and select it. (th

[2020-04-11 20:31] nazreen commented on #21821
this terminology still appears on https://docs.databricks.com/data/data-sources/azure/azure-datalake-gen2.html#language-python
and it was quite confusing. to represent the usage within Azure, it should be changed to `container-name`

[2020-04-11 21:01] flamingboo commented on #51917
Indeed. The documentation is quite confusing. We should be NOT talking  be about service principal. But rather about the clientIds of the managed identities of AKS and of the addons. And how to retrieve them. Such as:
az aks show -g $RESOURCE_GROUP -n $CLUSTER_NAME --query identityProfile.xxxxxxx.clientId -o tsv

[2020-04-11 21:21] rajnemani opened #52215 "UPN for user RBAC does not work"
The rbac-aad-user.yaml still says UPN or objecId but only objectId works. This closed issue https://github.com/MicrosoftDocs/azure-docs/issues/28105 seems to indicate that this document would be fixed but that is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version

[2020-04-11 22:06] Katsuhikochi commented on #52149
@martinpruss My region is Southeast Asia. I also agree that it might an issue with the region. Will report this bug.

[2020-04-11 22:16] glteache commented on #8028
Please re-open this issue. Following the outlined steps, another more potential reason for the permissions error is due to reverse DNS lookup, making the error misleading on what's wrong.

To successfully join requires adding "rdns = false" under the [libdefaults] section in the /etc/krb5.conf file so joins will work properly. Without adding this line returns the above error message to a user who'

[2020-04-11 22:44] Oxyrus opened #52216 "Doesn't explain how to receive the role in the token"
Even though the title of the article says "How to: Add app roles in your application **and receive them in the token**", it isn't explained anywhere how to get the role in the token generated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40a

[2020-04-11 22:51] srvbpigh commented on #38339
Hello, @rayifu

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-12 00:29] xqpoo9 opened #52217 "Strategy to reduce security issues related to super permissive attributes included in Mail.Read"
My application requires quite a narrow scope of permissions. I need some of the basic email metadata attributes, but not full access to all email contents. Currently using Mail.Read presents of a lot of issues, although it provides the data I need, it also contains a lot of un-necessary data like the email contents, which is an un-necessary security liability.

Question - How do I limit the permis

[2020-04-12 00:37] kcheeeung opened #52218 "Template or HDInsight Bug. Edge Node Fail to Deploy"
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-apps-use-edge-node#add-an-edge-node-to-an-existing-cluster

I was following the exact steps to create an edge node here and it failed to deploy. I did not change anything about the template, and the URI is incorrect so it fails. How did the `azuredeploy.json` show up in the URI?

### **Here are the steps I did.**
1. Create HDInsight Hadoop

[2020-04-12 00:48] Andriy-dev opened #52219 "UDRs in VWAN hub"
Would it be possible to create UDRs in VWAN hub VNET ?

We are currently have hub-and-spoke topology with a firewall in the hub and Express route connected to one of the spoke vents. Can we maintain the same topology but with VWAN ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* V

[2020-04-12 00:49] Andriy-dev opened #52220 "Inter region connectivity ?"
Is it possible to place VWAN hubs in different regions and achieve spoke to spoke connectivity between regions ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* Version Independent ID: 906d444a-332d-2254-7093-8dc817bb1026
* Content: [Architecture: Global transit network architectur

[2020-04-12 01:05] DixitArora-MSFT commented on #51814
@markpaley For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-12 01:05] #51814 closed

[2020-04-12 01:15] DixitArora-MSFT commented on #51852
@morteza54dp PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-12 01:18] #51852 closed

[2020-04-12 01:22] DixitArora-MSFT commented on #51846
@worldspawn When creating a function app, you must create or link to a general-purpose Azure Storage account that supports Blob, Queue, and Table storage. This is because Functions relies on Azure Storage for operations such as managing triggers and logging function executions. Some storage accounts don't support queues and tables. These accounts include blob-only storage accounts, Azure Premium S

[2020-04-12 01:22] #51846 closed

[2020-04-12 01:22] dmprantz opened #52221 "User CBA not fully Supported in AAD"
Why does Azure AD not support User CBA?

AAD supports Assertion based Authentication where an Assertion can be a signed JWT (JWS).  Both Client Assertions and User Assertions are supported.

Client Assertions can be signed by a private key specifically associated with that client, but User Assertions can only be created by federation partners (e.g. ADFS) or existing connections (On Behalf Of) or m

[2020-04-12 01:50] DixitArora-MSFT commented on #51963
@Sannioy In order to use the library to connect to IoT Hub, we need to provide the EventHub-compatible connection string, in this format (see this issue: [#185](https://github.com/Azure/azure-event-hubs-dotnet/issues/185))
Endpoint=sb://MYIOTHUB.servicebus.windows.net;SharedAccessKeyName=iothubowner;SharedAccessKey=-secret removed-

Using the native IoT Hub connection string makes the library fail

[2020-04-12 01:50] #51963 closed

[2020-04-12 01:51] DixitArora-MSFT commented on #51962
@Sannioy  In order to use the library to connect to IoT Hub, we need to provide the EventHub-compatible connection string, in this format (see this issue: #185)
Endpoint=sb://MYIOTHUB.servicebus.windows.net;SharedAccessKeyName=iothubowner;SharedAccessKey=-secret removed-

Using the native IoT Hub connection string makes the library fail with the following error:
Illegal connection string parameter

[2020-04-12 01:51] #51962 closed

[2020-04-12 02:11] DixitArora-MSFT commented on #51964
@kpietralik It does have it in AsJwt() method (https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ContextVariables

Working examples has been given by Product team of Azure Api Management in these SO post.

https://stackoverflow.com/questions/56222808/decrypt-bearer-token-in-azure-api-management-to-get-acr-values

https://stackoverflow.com/questions/44539958/az

[2020-04-12 02:11] #51964 closed

[2020-04-12 04:41] dmgonch commented on #52192
Additional issue with the current page content: it claims that Linux extension status logs are placed under /var/lib/waagent/apphealth. My testing showed though that this directory stays empty. I did find some status data reported under /var/lib/waagent/Microsoft.ManagedServices.ApplicationHealthLinux-1.0.0

[2020-04-12 05:40] RohitMungi-MSFT commented on #52209
@sayotte Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 05:42] RohitMungi-MSFT commented on #52211
@aspnet4you Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 05:44] RohitMungi-MSFT commented on #52212
@RonnieQuan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 05:47] RohitMungi-MSFT commented on #52213
@yobyot Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 05:51] himanshusinha-msft commented on #52214
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:52] himanshusinha-msft commented on #52215
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:53] himanshusinha-msft commented on #52216
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:54] KrishnaG-MSFT commented on #52213
Assigning content owner @yanivlavi for visibility, review and document enhancement consideration as appropriate.

[2020-04-12 05:55] himanshusinha-msft commented on #52217
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:56] himanshusinha-msft commented on #52218
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:57] reveation-labs opened #52222 "Frustrating error when creating new collection"
I followed all the steps outlined in above document including step 5 where it says to keep Replica Set Name field empty. When I click on connect I am able to connect successfully. I am also able to create database. But when I try to create collection, it throws below error -

Sorry, we are currently experiencing high demand in this region, and cannot fulfill your request at this time. We work cont

[2020-04-12 05:58] himanshusinha-msft commented on #52219
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 05:58] RohitMungi-MSFT commented on #52221
@dmprantz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 05:59] himanshusinha-msft commented on #52220
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 06:00] himanshusinha-msft commented on #52222
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 06:21] amitrana3348 opened #52223 "Web App Not working, messaging entity not found"
Until recently, to be precise, this code was working till last week

I use this code to demonstrate IoT webapp but is no more running.
All the steps done and checked multiple times
Deployment node version chosen as (10.14 and 10.6.0) same issue both times.

here's the stream log output

`webappUsing event hub consumer group [webapp]
(node:6028) [DEP0005] DeprecationWarning: Buffer() is deprecated

[2020-04-12 06:23] #52223 closed

[2020-04-12 06:23] amitrana3348 commented on #52223
mistakenly posted here

[2020-04-12 06:40] riverar opened #52224 "Quickstart table link goes nowhere, need update"
The quickstart table link goes to https://aka.ms/csspeech which just lands you in the main speech docs hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9580a2c-70be-afe3-66e7-ee6942e2249e
* Version Independent ID: c55ad529-c760-9d1a-c74f-efcc04454e7f
* Content: [Scenario Availability - Speech service - Azure Cognit

[2020-04-12 07:04] kcheeeung commented on #52218
I have updated the post with the steps I have taken to reach this.

[2020-04-12 08:07] mike-urnun-msft commented on #51668
@izzy1993 With **Python 3.7.7** and **azure-servicebus version: 7.0.0b1** Below sample works for me:

[code]

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-12 08:07] #51668 closed

[2020-04-12 08:08] wimvanhouts commented on #45071
@Khyzdul it is primarily a matter of "what we already have". We have a fairly large product which already has SAML Integrated for the login procedure, and works with AAD.

However, another (new) module/extension/plug-in needs to access the MS Graph SDK and we can give it the assertion, but it actually needs to "exchange" this for a token (this is not visible for the user then) and call the Graph f

[2020-04-12 08:25] mike-urnun-msft commented on #52170
@onionhammer I hope @cgillum's reply above answered your question. We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-12 08:25] #52170 closed

[2020-04-12 08:48] huy-lv opened #52225 "My project's pricing tier is S0 but prediction api limit to 2 requests per second"
Hi, when i access my customvision project setting in
https://www.customvision.ai/projects/&lt;projectid&gt;/settings
it show my project tier is S0. But when i call prediction API, it said request limit to 2 requests per second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a084d7-acb6-9893-b6d1-6fef01e0bd07
* Versio

[2020-04-12 09:02] NitroAMD opened #52226 "Taints and Tolerations"
The listed sample.yaml don't work anymore, because the Windows nodes use taints now, so this is needed:

      tolerations:
      - key: "sku"
        operator: "Equal"
        value: "windows"
        effect: "NoSchedule"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Ind

[2020-04-12 09:10] johnpudd opened #52227 "URL Path Regex issues"
I'm trying to work out whether it's me, the documentation, or the feature that is at fault.

It's certainly not clear, however have multiple test, it seems the "Ignore Case" flag is automatically applied (i.e. the option does not work properly). If true, this renders case sensitive checks impossible.

For instance, in order to 301 redirect users to lowercase urls, the regex below (is looking for a

[2020-04-12 09:12] KSLiquid opened #52228 "Azure Functions __app__ support for intellisense?"
Hi,

I develop Azure Functions (Python) in Visual Studio Code.
I kann reference other Python Files via importing from __app__.
The problem is that intellisense does not recognize this path. Therefore there is no intellisense support for any imported class.
Do i have any option to fix that?

Thanks alot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-04-12 09:12] ajsing opened #52229 "Error: New-AzVirtualNetworkGateway : Subnet reference is required for ipconfiguration"
Hi Team,

I was following this doc step by step and ran into error "Subnet reference is required for ipconfiguration" when running final cmdlet "New-AzVirtualNetworkGateway" to deploy the VPN Gateway. I don't see any error in the cmdlet below that I'm running.

New-AzVirtualNetworkGateway -Name MYVPNGW -ResourceGroupName LAB-RG -Location southeastasia -IpConfigurations $gwipconf -GatewayType Vpn -

[2020-04-12 10:24] ebrucucen commented on #48874
Hi,
I had the same issue. I think az cli version could be the issue (I have upgraded to 2.3.1) and it does not recognise the "resource" subcommand. Here is how I managed to create via az. Key is the _master for Host Keys:
[code]

[2020-04-12 10:47] ebrucucen opened #52230 "AzureFunction's Add Event Subscription screenshot is out-of-date"
The screenshot from the portal to Add Event Grid Subscription to Azure Functions is not up-to-date:

Document URL: https://docs.microsoft.com/en-gb/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=python

Image URL: https://docs.microsoft.com/en-gb/azure/azure-functions/media/functions-bindings-event-grid/endpoint-url.png

[2020-04-12 10:58] rahg-bmake opened #52231 "Undocumented Error in creating a Linked Service"
I am getting the following error while creating a linked service to the CosmosDb (SQL) while authenticating using AKV.

However, there is no such property in the linked service JSON code. It is not obvious what's causing this issue. Please document this behavior and help me.

[2020-04-12 11:02] dcurwin commented on #51931
#reassign:SujayJDesai

[2020-04-12 11:12] rahg-bmake opened #52232 "Undocumented Error in creating a Linked Service"
I am getting the following error while creating a linked service to the CosmosDb (SQL) while authenticating using AKV.

&gt; The value of the property '' is invalid: 'Format of the initialization string does not conform to specification starting at index 0.'. Format of the initialization string does not conform to specification starting at index 0.

However, there is no such property in the linked

[2020-04-12 11:17] rahg-bmake commented on #52231
Created a issue via page itself for better tracking and relevance
https://github.com/MicrosoftDocs/azure-docs/issues/52232

[2020-04-12 11:17] #52231 closed

[2020-04-12 12:29] jhnns-s opened #52233 "Error when running 'Single node Keras to distributed deep learning' Notebook with Databricks Runtime 6.3 ML"
Hi everyone,

i encountered a issue when trying this example Notebook ( https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/deep-learning/mnist-tensorflow-keras.html ). It did not run when i chose the Runtime 6.3 ML (in the Notebook comment the requirement says 5.4 ML or higher). When i switched to 6.1 ML the Notebook ran without any problems.

- Worker: Standard_NC6s_v3 (beta) x2

[2020-04-12 12:30] BAM5 commented on #51600
@TomaszOledzki That's somewhat silly. Browsers hold loads more sensitive data than just a SAS uri. Passing security tokens via uri is a highly common practice and one that shouldn't be feared. OAuth for example does this a bunch!

[2020-04-12 12:57] TeeMakk commented on #51190
Does it mean that if I use a D48s_v3 Azure VM, the number of cores in the VM is 24 cores based on the ration 2:1 (vCPU:Core)

[2020-04-12 13:22] patrickjlee commented on #46309
Why on earth is authorization with Azure AD/Managed Identity not supported for Table storage, when it is supported for blobs and queues? Do you realise that this makes it look as if Microsoft are not committed to helping developers keep their use of Azure secure?

[2020-04-12 13:22] RohitMungi-MSFT commented on #52224
@riverar Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 13:29] JoeBrockhaus commented on #9561
@ccompy the link you provided returns a 404.

[2020-04-12 13:32] DixitArora-MSFT commented on #52230
Hi @ebrucucen Thanks for your feedback. We will review and update as appropriate.

[2020-04-12 13:33] DixitArora-MSFT commented on #52228
Hi @KSLiquid Thanks for reaching out. We will review and update as appropriate.

[2020-04-12 13:38] RohitMungi-MSFT commented on #52225
@huy-lv Thanks for the question. Please note that the custom vision settings of your login cannot be seen by any other user who does not have access to your subscription. Couple of quick things you can check for this error from the settings page is to check if the Prediction resource is of kind Custom Vision Prediction and expand it to check the pricing tier that reflects under it.

![image](https

[2020-04-12 13:40] RohitMungi-MSFT commented on #52226
@NitroAMD Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 13:42] RohitMungi-MSFT commented on #52227
@johnpudd Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 13:43] RohitMungi-MSFT commented on #52229
@ajsing Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 13:45] RohitMungi-MSFT commented on #52232
@rahg-bmake Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 13:46] RohitMungi-MSFT commented on #52233
@jhnns-s Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 14:05] huy-lv commented on #52225
My resource kind is **Custom Vision Training**, what does this mean? And what is the different between them?

[2020-04-12 14:07] prawin2k opened #52234 "Instructions to use Feature Flags and Secrets in Azure functions"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7ccc
* Version Independent ID: e2571455-af0a-19f6-799c-ea09ae602680
* Content: [Quickstart for Azure App Configuration with Azure Functions](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp#crea

[2020-04-12 14:21] olebaad opened #52235 "Typo in "Create the Azure function""
Just an annoying typo  in the "az functionapp create" code snippet:

"--functions_version" should be replaced by "--functions-version"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Tutorial: Use Azure Event

[2020-04-12 14:36] rohandholakia1 commented on #30424
Hi,

What was the solution for this as i am facing the same issue?

Thanks

[2020-04-12 14:38] RohitMungi-MSFT commented on #52225
@huy-lv Resources for training and prediction are used separately so effectively you can have different tiers for training and prediction which can help you scale based on your scenario which also helps you build a decoupled training and prediction resources. In this case if the resource was used for training only you would not be able to publish the iteration of your project and it would request

[2020-04-12 15:12] huy-lv commented on #52225
Thank you for your information. In my resource group page on Azure portal, there are two resources for Cognitive Services: one for training and one for prediction. And then on Customvision project, i published iteration with the resource for prediction.
![image](https://user-images.githubusercontent.com/7688070/79072206-f5309180-7d09-11ea-9b8f-341020962914.png)
After that i go to setting page, the

[2020-04-12 15:12] Rohitk-2497 commented on #30424
I believe the resolution was to use the DATE type as opposed to INT for the first column in the table:

CREATE TABLE BarnDataIntFloats
(
Date DATE NOT NULL,
Temperature FLOAT NOT NULL,
RelativeHumidity FLOAT NOT NULL,
DewPoint FLOAT NOT NULL
)

[2020-04-12 15:19] RohitMungi-MSFT commented on #52225
@huy-lv The setting to be a prediction or training resource is selected while creating the resource from custom vision portal. If you have already created a resource from Azure portal then the selection used during creation is applied. Screen shot below from Azure portal.

![image](https://user-images.githubusercontent.com/46958063/79072436-a7faf280-7cfe-11ea-985f-8c529cbe3c4e.png)

In your case s

[2020-04-12 15:29] patrickjlee opened #52236 "Why isn't there a sample provided? Why doesn't the code given work without further information? Why is the approach to using Managed Identity so inconsistent between Azure storage, Azure SQL databases, CosmosDb and KeyVault?"
This is yet another example of very poor documentation. Why are Microsoft making it so difficult for developers to use Managed Identity to access Storage securely?
Using the code above in debug mode, even after choosing an Account for Azure Service Authentication gives a runtime error when the following line is executed:

await containerClient.CreateIfNotExistsAsync();

An unhandled exception occu

[2020-04-12 15:45] izzy1993 commented on #51668
Thanks Mike! It work's in the version well however I'm now having issues setting the 'Label' property this way. I'll open another issue with it.

[2020-04-12 15:50] patrickjlee commented on #52236
Also, when you say "Environment variables", do you really mean environment variables (which are set for the user on a particular machine), or do you mean application settings (which can be set in  the application's secrets or appsettings.json)?

[2020-04-12 15:50] huy-lv commented on #52225
I found it, my prediction resource is F0, not S0, i changed it and everything work fine :D thank you for help 👍

[2020-04-12 15:55] izzy1993 opened #52237 "Setting the 'Label' property in a service bus message"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bc6b40-39cd-eb95-1911-ddff96dda210
* Version Independent ID: d91a6110-e9c0-3a34-a321-6850778baaef
* Content: [Quickstart: Use Azure Service Bus queues with Python](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-python-how-to-use-queues#feedback)

[2020-04-12 16:06] v-liatba opened #52238 "Is it possible to connect key vault's secret to storage account"
I have an existing storage account and I would like to connect the key vault secret to it, is it possible to connect this kind of resource? also it doesn't appear in the data store gallery. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec2b2a8b6055
* Version Independent ID: 7eb0fce9-

[2020-04-12 16:44] pontusvision opened #52239 "Can SQL queries be made against a GraphDB?"
As  a multi-model database, does Cosmos DB support making SQL queries against graph databases created using Gremlin?  E.g. other multi-model graph databases such as Orient DB enable this sort of SQL Query:
[code]
It is unclear whether such operations supported in Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-12 17:01] RohitMungi-MSFT commented on #52225
@huy-lv We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-12 17:01] #52225 closed

[2020-04-12 17:05] johnpudd commented on #52227
Thanks @RohitMungi-MSFT

[2020-04-12 17:13] saitejakothamasu opened #52240 "Not able to visualize the sensor data in web app using iot hub"
Able to get the blank chart in the web app using iot hub but device name and data is not displayed in the chart. But it's working for local host using azure iot hub.

[2020-04-12 17:18] StingyJack commented on #51738
@karishma-tiwari-msft  I asked which limit it was. That was my first question. Don't be all "as mentioned in the document...", when you decided to finally answer the question in the same sentence. It's not like it was mentioned previously and you are reinforcing the point.

The error message text does not jibe with the limit you are pointing out. Nor does the limit. I'd expect that the docs text w

[2020-04-12 18:00] msrini-MSFT commented on #52229
@ajsing , Can you make sure you created Gateway subnet ?

You cannot use other subnet for the gateway creation.

[2020-04-12 18:24] upmygit opened #52241 "Access policy has to be on managed identity directly, Azure AD group not working!"
I noticed that a key vault reference works just fine if the managed identity of the function app has been used in setting the access policy directly. If I put the managed identity within a Azure AD group and use it in the access policy, it just doesn't work. I even gave the group Key vault contributor rights on the resource group in which the key vault resides.

I don't want every app's managed id

[2020-04-12 18:25] upmygit commented on #50692
Any updates?

[2020-04-12 18:34] RohitMungi-MSFT commented on #52032
@gbottari Thanks for the link. I have done some testing of this scenario and noticed that the voice name is not available in your input but after setting the same in the xml the voice does sound similar to me.

@IEvangelist Here is the scenario where I have used this xml as mentioned in the example in the [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/spee

[2020-04-12 18:48] gaikovoi commented on #33157
1. **There is still an issue with non-90 days soft delete (retention) period.**  In this case, the error is "_The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource **exisiting** property._" (BTW, there is a typo in this error message.) Workaround is to set KV object property 'softDeleteRetentionInDays' to 90. You can use [https://resources.azure.com/](h

[2020-04-12 18:49] gaikovoi commented on #48866
This product issue is also discussed here - https://github.com/MicrosoftDocs/azure-docs/issues/33157

[2020-04-12 18:55] KlemensM opened #52242 "configuration only ypossible through CLI?"
I'm new to portal.azure.com, is this configuration possible without using CLI, just by a GUI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660
* Content: [Mount Azure Files volume to container group - Azure Container Insta

[2020-04-12 19:00] ybutola opened #52243 "Docker issue on Jenkins"
Jenkins doesn't have docker installed. I added docker plugin even after that it didn't work. I'm getting the following error:
docker: not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d05f9bc7-ab32-1e99-92a7-0aa19ac5cb0a
* Version Independent ID: a752022e-3193-f12a-809b-be9e67bbe402
* Content: [Deploy from GitH

[2020-04-12 19:22] sapien47 opened #52244 "Provide linux stripping commands would help"
For /hana/data and /hana/log, the Azure documentation mentions repeatedly that you may need to build a RAID 0 using MDADM or LVM over multiple Azure Premium Storage disks. I think it would add a tremendous value to actually provide thoses commands line both for mdadm and lvm, in a step by step procedure. Your competitors (AWS and Ali Baba) provide such procedure, from the  setup od the data disk i

[2020-04-12 19:53] Nazar-Pa opened #52246 "new Entity values cannot be recognized"
When I add new entities (for example new city(Madrid) in the "Airport" entity) the bot doesn`t recognize it . For example when I type "flight to Madrid" - the bot gives "Sorry but the following airports are not supported: madrid", then it prompts "To what city would you like to travel?" - I type again "madrid", this time the bot accepts the city Madrid. Please let me know  what is the problem behi

[2020-04-12 19:55] Nazar-Pa opened #52247 "new added Entities are not recognized"
When I add new entities (for example new city in the "Airport" entity) the bot doesn`t recognize it . For example when I type "flight to Madrid" - the bot gives "Sorry but the following airports are not supported: madrid", then it prompts "To what city would you like to travel?" - I type again "madrid", this time the bot accepts the city Madrid. Please let me know  what is the problem behind? How

[2020-04-12 19:56] cagrimunyas opened #52248 "wrong or out of date information"
SpeechRecognizer object doesn't have any "language" parameter in its construct. The solution is to specify the language while constructing the SpeechConfig object. It has speech_recognition_language parameter to specify the language. Pass the instantiated SpeechConfig object while constructing the SpeechRecognizer object.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-12 20:02] kiwimarc commented on #52162
I don't know if Microsoft fixed it, but if you just remember to do the fixes to your code, then it's fixed :)

[2020-04-12 20:21] CESARDELATORRE opened #52250 "The 'Algorithm Cheat Sheet' looks outdate"
The 'Algorithm Cheat Sheet' looks outdated, for instance, it doesn't include important ML tasks such as Time-Series Forecasting with algorithms such as Auto-Arima, Prophet, Time-Series-Regressors, etc.

Also, additional algorithms for Clustering, Recommenders and Image Classification based on Transfer Learning architectures (Inceptionv3, ResNet, etc.)

---
#### Document Details

⚠ *Do not edit thi

[2020-04-12 20:30] BharathNimmala-MSFT commented on #50718
@evmimagina Hope you are doing good. Inactive issues make it difficult for us to track what is being worked on, so we close them if there is no activity, but that doesn't mean the conversation has to be over. Tag me in your reply and we'll reopen the issue so we can pick it up again right away. This allows you to take time without feeling rushed and makes things easier to manage for us. Thank you

[2020-04-12 20:30] #50718 closed

[2020-04-12 20:46] DHowett-MSFT opened #52252 "Guidance about depending on error codes is confusing"
The top of the documentation specifies,

Now, That's all fine and well. Error codes aren't an API. But then, there's a couple very specific error codes that cannot be detected in any way _other than_ by code.

AADSTS70016 | AuthorizationPending - OAuth 2.0 device flow error. Authorization is pending. The device will retry polling the request.
-- | --

Here's one, as an example. If you look at the

[2020-04-12 20:52] Andriy-dev opened #52253 "Centralized route management to route traffic to the hub - BGP option"
I could not find the way to configure BGP in order to perform centralized route management to route traffic to the hub. Would it be possible to point me to the documentation describing that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf49df08-5490-9b4d-974c-460ab64343c0
* Version Independent ID: 9a81a3bb-f6c4-1907

[2020-04-12 21:25] BharathNimmala-MSFT commented on #51764
@rich-davies Apologies for the delay to get back to you on this one. Azure Advisor integrates with Azure Security Center to bring you security recommendations. You can get security recommendation from the Security tab of Advisor dashboard. For additional information on  Security recommendations please refer to [this ](https://docs.microsoft.com/en-us/azure/security-center/security-center-recommend

[2020-04-12 21:30] NeoTech124 opened #52255 "Still "Preview?""
"Create a role assignment in Windows Virtual Desktop Preview" Is this still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156a552a-fe64-e5dc-b86a-b7d8ccbeee1d
* Version Independent ID: d83f235e-3ae2-ad71-30c6-0bd7f95fb894
* Content: [Windows Virtual Desktop service principal role assignment - Azure](https:

[2020-04-12 21:33] BharathNimmala-MSFT commented on #51820
@bdegs Apologies for the delay to get back to you on this. We appreciate your feedback and i am assigning this issue to our document author @bwren to further evaluate the feedback and incorporate into the document accordingly.

[2020-04-12 21:55] neeleshray-msft commented on #52252
@DHowett-MSFT Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-12 22:19] BharathNimmala-MSFT commented on #51829
@DeanGross Thanks again for bringing this to our notice, i have raised the PR to reflect the feedback. Once reviewed and approved the document will be updated accordingly. Thanks

[2020-04-12 22:24] BharathNimmala-MSFT commented on #51913
@Jont-K  Apologies for the delay to get back to you on this. Assigning this issue to our document author @qianw211 to further evaluate the feedback and update the document accordingly.

[2020-04-12 22:39] himanshusinha-msft commented on #52235
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 22:41] himanshusinha-msft commented on #52236
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 22:42] floriangrousset commented on #50957
Thanks @VikasPullagura-MSFT @suhuruli. Keep up with the good work guys!

[2020-04-12 22:43] himanshusinha-msft commented on #52234
@prawin2k
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2020-04-12 22:47] himanshusinha-msft commented on #52237
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 22:48] BharathNimmala-MSFT commented on #51742
@mohammedrameesp Thank you again for bringing this to our notice, as @bandersmsft called out the issue is already being worked upon by  our Product Group. Once we have an update on the fix will update the thread accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further feedback

[2020-04-12 22:48] #51742 closed

[2020-04-12 22:49] himanshusinha-msft commented on #52238
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-12 22:51] himanshusinha-msft commented on #52239
Thanks for the ask  . At this time we are reviewing it  and we will reply back as soon as we can .

[2020-04-12 22:52] himanshusinha-msft commented on #52240
@saitejakothamasu  Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs

[2020-04-12 22:53] himanshusinha-msft commented on #52240
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-12 22:57] HiromuKato opened #52258 "About RemoteModelEntity script"
In Highlight objects setcion,
It is not explained which GameObject to attach the RemoteModelEntity script to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d529ca-79aa-86e7-c213-90b694010064
* Version Independent ID: 5931e658-a6b3-8996-6bb5-5ce7f4797afa
* Content: [Working with remote entities in Unity - Azure Remot

[2020-04-12 23:55] BharathNimmala-MSFT commented on #52143
@agr Thanks again for reaching out to us, currently the .create function with arguments is feasible only with in [Azure Data Explorer](https://docs.microsoft.com/en-us/azure/kusto/query/functions/user-defined-functions). However the same doesn't seem to be available for functions with in Azure Monitor logs, i have reached out to our Internal teams to confirm on the same, will keep this thread upda

[2020-04-12 23:58] gaikovoi opened #52259 "Unable to add group to the role"
The part "Add a new model database role and add a user or group" doesn't work if "memberName" is a name of the Azure AD group.
The error message is

The JSON DDL request failed with the following error: Failed to execute XMLA. Error returned: 'The user or application: '&lt;pii&gt;sasUsers&lt;/pii&gt;' was not found in your organization's Azure Active Directory.

---
#### Document Details

⚠ *Do no

[2020-04-13 00:17] channyein87 commented on #27791
I had same error `"User is not authorized to query the management service"`.
I fixed by adding my username as an `Owner` Role of the Subscription.

[2020-04-13 00:42] EderAprigio opened #52262 "Corrigir texto"
Sugiro a correção do texto no trecho The following command will create a file named "npscertificate" on your "C:" drive in format .cer.

out-file c:\npscertficate.cer

Apenas corrigir o trecho "npscertficicate"

Grato!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Indepen

[2020-04-13 00:52] nilaybhima commented on #15061
Having the same problem as @gesch80550. Has this been resolved?

[2020-04-13 00:58] dcbrown16 commented on #52146
Thanks for checking @SnehaGunda. Customers are often very insistent on having precise guidance regarding security measures such as firewall/NSG open IPs and ports. I have checked with Networking PMs for research on a support case and the statement was that only Load Balancer health probes send inbound communication on this address. Again, I'm happy to share my findings so far internally if that he

[2020-04-13 01:04] neeleshray-msft commented on #52262
@EderAprigio Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-13 01:06] neeleshray-msft commented on #52262
@EderAprigio  From your text translation here's what I understand -
_"I suggest correcting the text in the excerpt The following command will create a file named "npscertificate" on your "C:" drive in format .cer.
out-file c: \ npscertficate.cer
Just fix the "npscertficicate"
Thankful!"_

I am assigning the thread to the author for more insights

[2020-04-13 01:07] neeleshray-msft commented on #52262
@iainfoulds Could this be looked into ?

[2020-04-13 01:08] neeleshray-msft commented on #52083
@curtand Could this be verified ?

[2020-04-13 01:10] nonokangwei opened #52265 "Four node Linux cluster architect snapshot issue"
the snapshot with maxShares is 2, the example is 4 nodes example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b73c0b-4ef3-03ec-6d17-7085ed9a9c86
* Version Independent ID: 41c65315-c617-48b2-e273-5a8e11a62269
* Content: [Sharing an Azure managed disk across VMs (preview) - Azure Windows Virtual Machines](https://doc

[2020-04-13 01:18] ram-msft commented on #52247
@Nazar-Pa Thanks for the question. We will update you shortly.

[2020-04-13 01:20] ram-msft commented on #52248
@cagrimunyas Thanks for the question. We will update you shortly.

[2020-04-13 01:21] ram-msft commented on #52250
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-04-13 01:32] jiecao-574 commented on #51357
Hello team,

For now, after the logic app is generated automatically following the steps of docs, we delete http webhook action and add a http action instead.

Thank you.

Jie Cao
Technical Support Engineer
Logic Apps & BizTalk Integration
Customer Service & Support
jiecao@microsoft.com<mailto:jiecao@microsoft.com>
+86 (21) 52638570
Mon-Fri 09:30-17:30 UTC+8 (China Standard Time)

Contact https://

[2020-04-13 02:00] Mike-Ubezzi-MSFT commented on #51837
@dcbrown16 The difference is whether you are wanting to extend the O/S Disk or are you wanting to extend Data or Log drives for an [Existing VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-storage-configuration#existing-vms). If you are wanting to extend the O/S Disk then yes, you will need to follow the instructions outlined in the follo

[2020-04-13 02:00] #51837 closed

[2020-04-13 02:27] GFoley83 commented on #51836
Thanks Ajay.

I think it would be really useful to have this highlight either on the App Services or App Services Plan page.

I think a list/table of all the "Apps" that can be associated with an App Service plan would still be really useful.

Thank you.

[2020-04-13 02:30] HiromuKato commented on #52258
I then found out that I didn't need to attach script, but I didn't understand that because there was no explanation.

[2020-04-13 02:36] prawin2k commented on #52234
@himanshusinha-msft
I was requesting you guys to provide a sample code with the combination of below.

- Accessing App Configuration with Azure Functions - I have found it at https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp#create-an-app-configuration-store
- Access Feature Flags with Azure Functions - I couldn't find it any where. Can you please add

[2020-04-13 02:37] VikasPullagura-MSFT commented on #52244
@sapien47
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-13 02:37] VikasPullagura-MSFT commented on #52244
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-04-13 02:53] AshokPeddakotla-MSFT commented on #49268
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 02:53] #49268 closed

[2020-04-13 02:55] EderAprigio commented on #52262
Thanks a lot. That is alll

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: neeleshray-msft <notifications@github.com>
Sent: Sunday, April 12, 2020 10:05:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: EderAprigio <ederaprigio@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Corrigir texto (#5226

[2020-04-13 03:27] WenJason opened #52270 "Configure and access audit logs by cli or powershell"
Hi All,
If audit logs can be configured by Azure cli or powershell? If can, will you add the Azure cli or powershell guides in the future? Thanks.
Best Regards,
Jason

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 421bca87-cb05-fb48-e73b-06fb13ad7228
* Version Independent ID: fd7e1df4-eabd-cbdf-74e8-6037b44cafd3
* Cont

[2020-04-13 03:29] VikasPullagura-MSFT commented on #51843
@alexsab1
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-13 03:29] #51843 closed

[2020-04-13 03:34] VikasPullagura-MSFT commented on #52255
@NeoTech124
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-13 03:36] AshokPeddakotla-MSFT commented on #28498
@JimacoMS3 No further questions on this. Confirmed with @aishanibhalla and closing this issue.
Thank you!

[2020-04-13 03:36] #28498 closed

[2020-04-13 03:39] VikasPullagura-MSFT commented on #52265
@nonokangwei
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-13 03:39] VikasPullagura-MSFT commented on #52265
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-04-13 03:45] SnehaAgrawal-MSFT commented on #52241
@upmygit Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-13 03:45] prawin2k commented on #52234
I have also posted a question in Stackoverflow along with screenshots.

https://stackoverflow.com/questions/61181243/usage-of-azure-app-configurations-feature-flags-in-azure-functions

[2020-04-13 03:50] CHEEKATLAPRADEEP-MSFT commented on #52039
@raviman8  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-13 03:50] #52039 closed

[2020-04-13 03:51] ram-msft commented on #52035
@IEvangelist Can you please check on this.

[2020-04-13 03:55] CHEEKATLAPRADEEP-MSFT commented on #52259
@gaikovoi The error message "The user or application: '<pii>sasUsers</pii>' was not found in your organization's Azure Active Directory." clearly says, sasusers is not a part of Azure Active Directory.

**Note:** Server administrators must be a valid user or security group in the Azure Active Directory (Azure AD) for the tenant in which the server resides. You can use Analysis Services Admins for

[2020-04-13 03:58] SwathiDhanwada-MSFT commented on #52243
@ybutola Thanks for your comment. We will review and get back to you shortly. .

[2020-04-13 04:00] ram-msft commented on #51993
@denyshubh The following  sample demonstrates how to authenticate to the Text Analytics service.
There are two supported methods of authentication:
    1) Use a Cognitive Services/Text Analytics API key with AzureKeyCredential from azure.core.credentials
    2) Use a token credential from azure-identity to authenticate with Azure Active Directory
    See more details about authentication here:
htt

[2020-04-13 04:00] #51993 closed

[2020-04-13 04:00] saitejakothamasu opened #52271 "Not able to visualize iot hub's device and it's data using web app"
Not able to visualize the device and it's data using web app but chart is getting displayed. But able to visualize chart, device data in the web page in the local host.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Co

[2020-04-13 04:04] gsacavdm commented on #49402
@stevevi - since you've been submitting improvements for the Azure Gov docs :)

[2020-04-13 04:17] gaikovoi commented on #52259
@CHEEKATLAPRADEEP-MSFT the **group** 'sasUsers' **exists** in AAD and the user who runs the code is server admin.

The sample in the article **does not work** for groups.

[2020-04-13 04:22] BhargaviAnnadevara-MSFT commented on #51966
@YggY We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-13 04:22] #51966 closed

[2020-04-13 04:27] CHEEKATLAPRADEEP-MSFT commented on #52125
@prashant-kumar-mishra  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-13 04:27] #52125 closed

[2020-04-13 04:27] YutongTie-MSFT commented on #51892
@samjones00 Hi Sam, thanks for the feedback. I have created a PR for that. It should be alive soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-13 04:27] #51892 closed

[2020-04-13 04:29] jakaruna-MSFT commented on #52209
@sayotte this issue is fixed.

Whats the version of Azure cli which you are using?

Can you try with the latest azure cli or with cloudshell

[2020-04-13 04:30] CHEEKATLAPRADEEP-MSFT commented on #52233
@jhnns-s Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-13 04:36] VikasPullagura-MSFT commented on #52255
@NeoTech124 This is GA, updated the document. Changes will go live soon.

[2020-04-13 04:44] manish-95 commented on #51785
@BrendaMeng I am using a Microsoft demo tenant, the account I am using is admin@m365x972312.onmicrosoft.com

[2020-04-13 04:44] AshokPeddakotla-MSFT commented on #51847
@ElliotWood Not seeing any errors when trying the same. Adding @rbrundritt for further help.
@rbrundritt Are there any known issues? please check this and provide your suggestions.

[2020-04-13 04:48] AshokPeddakotla-MSFT commented on #51800
@levi106 Thanks for confirming. Let me check this issue internally and update you as earliest. Thanks for your time and patience.

[2020-04-13 04:49] narasimhareddyjob commented on #51811
Hi Grace-MacJones-MSFT,

Thank you. I didn't take any backup of app service. I just want to understand whether we can restore the app if it is deletes accidentally/intentionally?

I didn't run the above command.

If I have 2 or more slots on app services previously before deleting, can we restore the all slots for same the app?

[2020-04-13 04:51] VikasPullagura-MSFT commented on #52242
@KlemensM Thanks for your Query.

Mounting of Volumes is currently not possible from GUI. You can use CLI, Rest, Yaml or ARM Template methods.

[2020-04-13 05:07] souravmishra-msft commented on #52271
@saitejakothamasu, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 05:09] souravmishra-msft commented on #52253
@Andriy-dev, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 05:20] SumanthMarigowda-MSFT commented on #44267
@Grant-Rc Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the docume

[2020-04-13 05:20] #44267 closed

[2020-04-13 05:26] AshokPeddakotla-MSFT commented on #52258
@HiromuKato Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-13 05:29] CHEEKATLAPRADEEP-MSFT commented on #52218
@kcheeeung I have tried to repro the same and able to create Edge node without any issue.

Make sure you haven't modified any URL in the template.

- Create HDInsight cluster.
- Click on Deploy to Azure.
- Provide details about the HDInsight cluster.
- Click on I agree terms and conditions and Purchase.

![image](https://user-images.githubusercontent.com/44426401/79094391-f9de5f80-7d74-11ea-866e-5

[2020-04-13 05:37] PramodValavala-MSFT commented on #52105
@subodhpatil Looks like this option is not exposed by the connector today. Please feel free to open a [feature request on UserVoice](https://feedback.azure.com/forums/287593-logic-apps) to include support for this.

In the meantime, you would have to use the [Create or Update Template Deployment ARM Action](https://docs.microsoft.com/en-us/connectors/arm/#create-or-update-a-template-deployment) wh

[2020-04-13 05:38] PramodValavala-MSFT commented on #52103
@divyaswarnkar Could you please share insights on this one?

[2020-04-13 05:52] souravmishra-msft commented on #52246
@Nazar-Pa, Can you please share the Azure Documentation that you are following for this, so that it can be assigned to the right team.

[2020-04-13 05:55] souravmishra-msft commented on #52270
@WenJason, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 06:06] ajsing commented on #52229
@msrini-MSFT , Thanks for looking into this, I appreciate your quick response on this.

Yes, I have "GatewaySubnet" created in my VNET that I'm passing in variable "$subnet" when running cmdlet "New-AzVirtualNetworkGatewayIpConfig". I have attached an image for more clarity. Please let me know if anything else needed from my end.

![image](https://user-images.githubusercontent.com/58727090/7909646

[2020-04-13 06:07] RohitMungi-MSFT commented on #52224
@chrisbasoglu Is this the correct quick start [link ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/text-to-speech?tabs=dotnet%2Clinux%2Candroid&pivots=programming-language-csharp)that needs to be referenced

Could you please check and correct the same?

[2020-04-13 06:09] edwardshao opened #52274 "No scaling out/in instance information in "Autoscale notification webhook payload""
I would like to know which instance is scaling out/in when I received the "Autoscale notification".
It looks like the [payload schema](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-webhook-email#autoscale-notification-webhook-payload-schema) on the page does not include this kind of information.

Is it possible to include scaling instance information (such as instance id)

[2020-04-13 06:15] Cherif-Git opened #52275 "Update attribute of a stagging object"
Could you explain how is it possible to update an attribute in the metaverse for an object that does not have an update from the connector space.
Example: I have an attribute A from an AD user set to a specific date, this attribute A doesn't change and so the object is not under any import/update process. Depending on the present date and on the value of the attribute A, another attribute B can ch

[2020-04-13 06:16] msrini-MSFT commented on #51991
@lurodri , Do you have any updates ?

[2020-04-13 06:19] souravmishra-msft commented on #52275
@Cherif-Git, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 06:20] souravmishra-msft commented on #52274
@edwardshao, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 06:20] CHEEKATLAPRADEEP-MSFT commented on #52259
@gaikovoi If you are providing the group name such as "chepra" does not recognize and throws the error message.

![image](https://user-images.githubusercontent.com/44426401/79097137-95270300-7d7c-11ea-8ef8-8eb27c141e7e.png)

**Note:** You need to provide  Email of the group created.

![image](https://user-images.githubusercontent.com/44426401/79097233-d15a6380-7d7c-11ea-977f-ad105c3f4a3d.png)

Now

[2020-04-13 06:22] msrini-MSFT commented on #52229
Can you execute the below command with the -debug switch and share the results ?

$gwipconf = New-AzVirtualNetworkGatewayIpConfig -Name GwIPConf -Subnet $subnet -PublicIpAddress $gwpip -debug

[2020-04-13 06:22] VikasPullagura-MSFT commented on #52177
@TomArcherMsft
Can you please check and update the link as applicable.

[2020-04-13 06:27] PramodValavala-MSFT commented on #52142
@worldspawn As mentioned in the note at the bottom of this page, sharing a task hub between different function apps will result in undefined behavior with the functions competing for messages, which is the same as for v1.

But in v2, there is are [new HTTP APIs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=csharp#consuming-http-apis) that allo

[2020-04-13 06:27] SumanthMarigowda-MSFT commented on #49513
@brandonh-msft We do support IP based restrictions in SAS tokens

[2020-04-13 06:28] SumanthMarigowda-MSFT commented on #51600
@TomaszOledzki We do support IP based restrictions in SAS tokens

[2020-04-13 06:34] souravmishra-msft commented on #51830
@PaulEstevesAtPEX and @arcum, It looks like this issue would need proper investigation to understand where things are failing. Hence I would request you to create a support ticket with Azure AD support, so that they can get on call and help you further.

Closing this thread for now.

[2020-04-13 06:34] #51830 closed

[2020-04-13 06:35] VikasPullagura-MSFT commented on #52186
@danielsollondon Please add your comments.

[2020-04-13 06:38] souravmishra-msft commented on #52052
@gp92, Staged rollout will only impact work account not personal

[2020-04-13 06:38] #52052 closed

[2020-04-13 06:43] PramodValavala-MSFT commented on #52200
@mperdeck Thanks for catching that! We have worked up a PR to address, which once merged should reflect in a couple of hours.

[2020-04-13 06:47] SujayJDesai commented on #51931
I believe we have already identified this issue in our installer and fix is on the way. Just to reconfirm, would you be able to share the log file or the section of the log where you see the failure?
log file location - C:\Program Files\Microsoft Azure Backup Server\DPM\DPMLogs\DpmSetup.log

[2020-04-13 07:00] SumanthMarigowda-MSFT commented on #51699
@ram-msft The PR requested has been raised.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 07:00] #51699 closed

[2020-04-13 07:01] BharathNimmala-MSFT commented on #51829
@DeanGross Thank you for helping us to fix the documentation. PR has been reviewed and the changes will be merged later in the week. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversat

[2020-04-13 07:01] #51829 closed

[2020-04-13 07:07] SumanthMarigowda-MSFT commented on #51998
@arvind-dhariwal Thanks for raising this question! Firstly, apologies for the delay in responding here.
Your feedback has been shared with the content owner for further review.

[2020-04-13 07:22] SumanthMarigowda-MSFT commented on #52098
@artisticcheese Each rule definition includes an action set and a filter set. The action set applies the tier or delete actions to the filtered set of objects. The filter set limits rule actions to a certain set of objects within a container or objects names.

Filter set: Each rule definition includes an action set and a filter set. The action set applies the tier or delete actions to the filtered

[2020-04-13 07:24] #52200 closed

[2020-04-13 07:30] SumanthMarigowda-MSFT commented on #52120
@RonPattersonBadger Are you referring to this link: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-acl?view=powershell-7

[2020-04-13 07:43] shubhambhattar commented on #47830
Getting these errors while running the new SDK:

[code]

Relevant portion of code:

[code]

[2020-04-13 07:44] BhargaviAnnadevara-MSFT commented on #51918
@gkgaurav31 Please make a correction in your `bootstrap.properties` file as follows:

`spring.cloud.azure.appconfiguration.stores[0].connection-string= ${APP_CONFIGURATION_CONNECTION_STRING}`

and then build and run your application. Navigating to `http://localhost:8080/welcome` should pull up the output as described in the doc.

I'll correct the documentation to reflect this change.

Thank you ve

[2020-04-13 07:45] SumanthMarigowda-MSFT commented on #52155
@mkrdip I see you have posted similar query in different repro also informed that your  issue is been fixed.
Thanks for sharing the troubleshooting steps which helped you in fixing the issue. https://github.com/Azure/azure-sdk-for-python/issues/10782
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2020-04-13 07:45] #52155 closed

[2020-04-13 07:45] ajsing commented on #52229
here is the result of result cmdlet with -Debug switch:

`PS C:\WINDOWS\system32> $gwipconf = New-AzVirtualNetworkGatewayIpConfig -Name GwIPConf -Subnet $subnet -PublicIpAddress $gwpip -debug

DEBUG: 12:45:18 PM - NewAzureVirtualNetworkGatewayIpConfigCommand begin processing with ParameterSet 'SetByResource'.

Confirm
Continue with this operation?
[Y] Yes  [A] Yes to All  [H] Halt Command  [S] Sus

[2020-04-13 07:53] msrini-MSFT commented on #52229
Can you give it a shot from Azure CloudShell in the portal. I see your Az.Network version is old.

[2020-04-13 08:00] fhtino opened #52276 "Cloud Shell not required"
You can simplify / clarify documentation. You are not obliged to use "az webapp update ..."  to activate client certificate. You get the same result from Portal switching ON the "Require incoming certificate" under Configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Vers

[2020-04-13 08:02] mike-urnun-msft commented on #52154
Hello @mslot If it wasn't the following doc, I think that it could still be of help:
[Choose the right integration and automation services in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs)

Comparing Functions vs Durable Functions, IMO the main difference between the two lies in the type of operation they're suited to carry out in a serv

[2020-04-13 08:02] SnehaAgrawal-MSFT commented on #52276
@fhtino Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-13 08:05] #48495 closed

[2020-04-13 08:16] BhargaviAnnadevara-MSFT commented on #51918
@gkgaurav31 I have submitted a PR to fix the issue that's awaiting review.

[2020-04-13 08:19] mike-urnun-msft commented on #52089
Hi @shashankkr To clarify, the problem you're having is such that a single message (of json array) sent to the `Topic` as-is but the array is split up as separate messages after your Functions app outputs on a Queue? Could you provide a sample of your payload?

`"disabled":false` specifies whether the particular Functions is to be disabled or not, refer to:
[How to disable functions in Azure Funct

[2020-04-13 08:19] SumanthMarigowda-MSFT commented on #52208
@RonnieQuan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-13 08:27] amanmcse commented on #52047
Hi @Cherif-Git,

Do you have Parent OU name GROUP and Child OU named WRITEBACK present in your domain?

Without getting a closer look at your environment it will be hard for me to know what could be causing this error. Please open a support case as the error appears to be due to some configuration issue.

[2020-04-13 08:27] #52047 closed

[2020-04-13 08:28] kanirudh54 opened #52277 "Can a service connection be setup with Azure Resource Manager using managed identity to a subscription on another azure account?"
Can a service connection be setup with Azure Resource Manager using managed identity to a subscription on another azure account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 763d599a-86a5-1526-f3bd-2ee4e483de69
* Version Independent ID: 36dbbe9c-c563-45ef-f95a-b65cb6d792e0
* Content: [Configure managed identities usi

[2020-04-13 08:30] mike-urnun-msft commented on #51789
@morteza54dp Thank you for reporting this and helping us drive improvements towards MS Docs! I've created a PR that updates the step 5 to point out the **Insert policy** button.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-13 08:30] #51789 closed

[2020-04-13 08:30] rroman81 commented on #38674
the code snippet `Get-AzureKeyVaultSecret -VaultName $vaultName -Name $certificateName`  ... it should be Get-AzKevaultSecret cmdlet instead.

[2020-04-13 08:32] mike-urnun-msft commented on #52002
Hey @esunder If you're able to consistently reproduce this issue, could you share a screenshot of the console error as well as provide info on your browser?

[2020-04-13 08:34] Cherif-Git commented on #52047
Yes I do have a Parent OU named GROUP and Child OU WRITEBACK.
I'll create a support case.
Thank you

[2020-04-13 08:45] KalyanChanumolu-MSFT commented on #52239
@pontusvision As of today, Azure Cosmos DB supports Apache Tinkerpop's graph traversal language, known as [Gremlin](https://tinkerpop.apache.org/docs/3.3.2/reference/#graph-traversal-steps).

Support for SQL queries is available only with the SQL API.

[2020-04-13 08:51] juniwang opened #52278 "How to keep SAS token safe if uses single Key Vault to manage storage account keys?"
This doc suggests `Only a single Key Vault object should manage storage account keys. Don't allow key management from multiple objects.`.  What if we need to grant different storage permissions to different applications? How to prevent one app from getting another app's SAS token?

For example, let's say we have a storage account, application A and B. A has full permission to the storage. B should

[2020-04-13 09:13] Nazar-Pa commented on #52246
I am following LUIS documentation for this.

On Mon, Apr 13, 2020, 07:53 souravmishra-msft <notifications@github.com>
wrote:

[2020-04-13 09:29] AshokPeddakotla-MSFT commented on #51800
Meanwhile I am assigning this issue to the author @kgremban to review further and update the doc if there are any changes.

[2020-04-13 09:31] msrini-MSFT commented on #52253
@vhorne , Can you point out the doc where centralized route management is described ?

[2020-04-13 09:35] lanicolas opened #52279 "Multiple tenant support"
On the document it states that "Update Management can be used to natively onboard machines in multiple subscriptions in the same tenant." however since Lighthouse was introduce this can be done accross multiple tenants if I am not mistaken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9

[2020-04-13 09:39] ajsing commented on #52229
@msrini-MSFT , I removed all Az PS modules from my local machine and installed it again which seem to have fixed this issue. I updated my AZ modules couple of days ago but not sure why it had the older one. So you were right that older module was causing this issue.

I really appreciate your attention to this issue. I'm closing this thread.

[2020-04-13 09:39] #52229 closed

[2020-04-13 09:42] sffamily commented on #47191
it is fixed and will be published online in a day.

[2020-04-13 09:43] kishan19 commented on #51719
Any updates?

[2020-04-13 10:24] KalyanChanumolu-MSFT commented on #52270
@ajlam Could you please help here if you have a timeline.

[2020-04-13 10:29] LANETLTD opened #52280 "Hands onlab is not working, 403 error"
"Error 403 - This web app is stopped." message received.  Thanks

It would also be REALLY usefule if there was any documentation on how to deploy policy via DevOps. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728627-f8e4-0e41-c747-658d9496e9aa
* Version Independent ID: 443bc940-a2a2-7c99-6d96-d7c6dd904173
*

[2020-04-13 10:32] KalyanChanumolu-MSFT commented on #51900
@HUBBER12 You can upload the attachment into BlobStorage and get the blob url(s).
Then create a document in CosmosDB with the links.
The permissions to the blob will have to be managed separately and not within CosmosDB

[2020-04-13 10:33] femsulu commented on #51881
Thanks for bringing this to our attention @jonwbstr. Adding content owner @bandersmsft for further review.

[2020-04-13 10:40] shameeds commented on #52173
Any update on this

[2020-04-13 10:47] asergaz commented on #52198
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-13 10:47] femsulu commented on #51961
assigning to content owners for further review.

[2020-04-13 10:55] urig opened #52281 "Missing information about "Service Principal Id""
This page explains how to create a *Service Principal* but lacks any details about the term *"Service Principal Id"*.

The *"Service Principal Id"* is important for some processes such as creating a *Service Connection* from an *Azure DevOps Project* to an *Azure Subscription*.

The term "Service Principal Id" is also sometimes conflated with the term "Application Id".

Please augment this page by

[2020-04-13 11:10] mailtogurvindersingh opened #52282 "Delete Resource Group - It automatically determines the sequence by which resources have to be deleted"
I has the same impression that deleting a resource group automatically determines the seqency in which resources have to be deleted and we do not have to worry about ot. But this is nor entrely true

it failed to delete because the NIC was associated with subnet and all can you clarify ?

**see the error below**

{"Error":{"Code":"ResourceGroupDeletionBlocked","Target":null,"Message":"Deletion of

[2020-04-13 11:17] VikasPullagura-MSFT commented on #52202
@ChristianMontoya Can you please add your comments on this.

[2020-04-13 11:34] PramodValavala-MSFT commented on #52157
@y10e I believe the mention in the app service is specific to private (self-signed or internal CA provided) certificates. This is usually not required for public CAs since most clients already have them installed.

Nonetheless, I believe cases where APIM is deployed for internal use would indeed require this.

We are assigning this issue to the content author for further review and to update the d

[2020-04-13 11:36] spmanjunath commented on #51485
@mike-urnun-msft ,

I believe you are referring to the usage of liquid templates in the return statement below, if so, this is now what i was looking for, the NamedValue variable referenced in the return string is processed as part of <set-body/> code (after the return), i.e., the value is not fetched within C# code.  I am looking for a mechanism to access NamedValue within C# code to do further p

[2020-04-13 11:43] yinhew opened #52283 "The "chunked-transfer" sample code doesn't have chunked effect on dotnet core"
The code works well on dotnet framework.
But on dotnet core, I saw all data was sent as a whole, instead of being sent chunk by chunk.
Is there any sample for dotnet core with the chunk transfer effect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Version Independent ID: 29347a6

[2020-04-13 11:47] souravmishra-msft commented on #52283
@yinhew, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:48] souravmishra-msft commented on #52282
@mailtogurvindersingh, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:49] femsulu commented on #51914
Hello @MaximSidorchuk, AFAIK this is currently unsupported in ARM. I suggest posting your question on [this technical forum channel](https://stackoverflow.com/questions/tagged/azure-resource-manager?tab=Newest) for guidance or workaround from subject matter experts in the community. Would also recommend [sharing feedback directly](https://feedback.azure.com/forums/281804-azure-resource-manager) wi

[2020-04-13 11:49] femsulu commented on #51914
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-13 11:49] #51914 closed

[2020-04-13 11:50] souravmishra-msft commented on #52281
@urig, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:52] souravmishra-msft commented on #52277
@kanirudh54, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:52] ChiragMishra-MSFT commented on #52012
@kromerm

[2020-04-13 11:53] souravmishra-msft commented on #52278
@juniwang, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:55] souravmishra-msft commented on #52279
@lanicolas , thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 11:57] souravmishra-msft commented on #52280
@LANETLTD, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-13 12:03] BoOnAzure opened #52285 "can't make this work even though I followed the instruction"
[Enter feedback here]
I have encountered errors for the 'Copy data1' activity in IterateAndCopySQLTables pipeline.
 "errorCode": "InvalidTemplate",
    "message": "The expression 'item().TABLE_SCHEMA' cannot be evaluated because property 'TABLE_SCHEMA' doesn't exist, available properties are 'count, value, effectiveIntegrationRuntime, billingReference, durationInQueue'.",
    "failureType": "UserE

[2020-04-13 12:10] olileger opened #52286 "Clarify Services Resiliency : "All Azure management services""
Could you please clarify the assertion "All Azure management services are architected to be resilient from region-level failures" within the "Service Resiliency" section ?
Which Azure services are you talking about ? Is it the control plane or is it some Azure Services ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-13 12:11] olileger commented on #52286
Or maybe the Azure "Management and Governance" services as listed here: https://docs.microsoft.com/en-us/azure/?product=management-and-governance ?

[2020-04-13 12:15] femsulu commented on #51967
Hello @zagruby , as we haven't heard back, we will close this issue but please don't hesitate to respond and we will gladly continue the discussion.

[2020-04-13 12:15] #51967 closed

[2020-04-13 12:24] RohitMungi-MSFT commented on #52016
@CeciAc We will now proceed to close this thread. As the guidance is provided in the referenced issue to use the endpoint from azure portal and use the rest of the path as mentioned in the tutorial.  If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-13 12:24] #52016 closed

[2020-04-13 12:32] artisticcheese commented on #52098
@SumanthMarigowda-MSFT I do  not understand how this answers my question. Let me describe scenario in detail to explain the problem.
I have a file called document.txt with modified date of January 1, 2015. I have set and action to Archive any files with modified date of more then 15 days ago. I assigned this policy and after it was executed that file is in Archive tier. Next day I asked to rehydra

[2020-04-13 12:40] sapien47 commented on #52244
Hello Vikas,

What is a doc update request ? Is there a docuemnt to fill ?

Thanks

[2020-04-13 12:41] #52034 closed

[2020-04-13 12:41] NowinskiK commented on #29819
hey folks. I've just tried to reconfigure my existing Self-hosted node with a new AuthenticationKey, instead of uninstalling the whole app and install it manually. Works great. Small issue though. When I use option with NodeName it doesn't work and giving a name is "Node_1" always. How to grant the required name to the node?

[2020-04-13 12:55] eruditewriter opened #52287 "YAML example not complete"
Following this tutorial and example did not completely work for me. I had to add: device_aliases: {'ephemeral0': '/dev/sdb'} below #cloud-config to get a custom deployment to work in formatting the swap partition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7781b573-2873-1d3a-b0fe-e8478aafd6f5
* Version Independent

[2020-04-13 13:02] SnehaAgrawal-MSFT commented on #52036
@Anand-Moghe Thanks for the clarification and bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-04-13 13:11] sharadrumane opened #52288 "IoTEdge ASA Module not showing output of query"
I have deploy one C# module on my windows IoT Edge device. and i am trying to give the input of my module to stream analytics edge job and have to perform some query and pass the output to IoT Hub. i have given the routes as below

ModuleToASA:  FROM /messages/modules/{module_Name}/*  INTO BrokeredEndpoint("/modules/{ASA_Module_Name}/inputs/input")

ASAToHub: FROM /messages/modules/{ASA_Module_Nam

[2020-04-13 13:18] DCtheGeek commented on #52280
#reassign:DCtheGeek

[2020-04-13 13:22] DCtheGeek commented on #52280
@LANETLTD Thanks for pointing this out.  Unfortunately, Hands-on Labs has currently suspended operations per https://www.microsoft.com/handsonlabs/selfpacedlabs.  I'll remove the entry from the TOC for now and will add it back once it is operational again.

As to deploying Policy via Azure DevOps, the [Design Policy as Code workflows](https://docs.microsoft.com/azure/governance/policy/concepts/pol

[2020-04-13 13:28] LANETLTD commented on #52280
Hi thanks

That’s great.

Thanks for the code workflows page.

Still would be useful to see how Azuredevops pipelines can be used to deploy these policies as code.

I’ll figure it out thought, once I do I’ll publish a video on it.

Thank you !
Mitesh

From: David Coulter <notifications@github.com>
Sent: 13 April 2020 14:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mitesh Cha

[2020-04-13 13:33] TCBTech commented on #42392
Was this issue ever resolved and if so, what was the resolution? I am experiencing the exact symptoms.

[2020-04-13 13:35] GiftA-MSFT commented on #52159
@robinmanuelthiel please refer to the following [swagger documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/swagger-documentation) for creating and managing projects via REST API. Thanks.

[2020-04-13 13:38] kanirudh54 commented on #52277
Thanks. Just adding additional info.

Goal: Copy file from Azure repo on Azure account A to VM on azure account B. A and B are on different domain i.e A is on microsoft.com and B on aadgatewaytest.onmicosoft.com

Steps:
1. Added service connection azure account A(image attached). Got the subscription Id and Subscription name from publish settings file of Azure account B. Tenant Id was picked up fr

[2020-04-13 13:46] gaikovoi commented on #52259
Hi @CHEEKATLAPRADEEP-MSFT
Thank you for the screenshots. They explain the different product behavior I experience. You use "_Office 365_" type group, while I use "_Security_" group.
![image](https://user-images.githubusercontent.com/34320902/79122956-03f96180-7d67-11ea-87d1-bbcaa612b81e.png)

Security groups do not have email:
![image](https://user-images.githubusercontent.com/34320902/79124729-f3

[2020-04-13 13:49] GiftA-MSFT commented on #52149
I will close this thread since this issue is not a document issue. However, I have reached out to product team regarding the bug and will share updates with you. Thanks.

[2020-04-13 13:49] #52149 closed

[2020-04-13 13:49] shashankkr commented on #52089
@mike-urnun-msft thanks for the clarification on the 'disabled' key. Here is the sample payload
[{
			"object": "lead",
			"uuid": "afc78950-1b7a-11ea-8513-70bc1068d33e",
			"id": "00Q",
			"ts": "2019-01-01 00:00:00",
			"model_type": "VisitSetModel",
			"score": "0"
		},
		{
			"object": "lead",
			"uuid": "aa91f3c2-1b7a-11ea-b3e1-70bc1068d33e",
			"id": "00Q",
			"ts": "2019-01-01 00:00:00",

[2020-04-13 14:09] martinpruss commented on #52149
Thanks. For the time being I’ve created a new resource in eastern us.

Sent from my mobile device. Please excuse any typos.

On Apr 13, 2020, at 09:49, GiftA-MSFT <notifications@github.com> wrote:

﻿

I will close this thread since this issue is not a document issue. However, I have reached out to product team regarding the bug and will share updates with you. Thanks.

—
You are receiving this bec

[2020-04-13 14:10] VikasPullagura-MSFT commented on #52244
@sapien47 Apologies for the confusion. No. there is no document filling from your side.

Through your feedback, you have mentioned that it will be good to include the instructions (step-by-step) on Linux stripping to the document.

So, I have the assigned the issue to content author for checking this feedback and enhance the document.

[2020-04-13 14:12] sayotte commented on #52209
Pretty sure this is with the latest version:
[code]

[2020-04-13 14:12] diberry commented on #51990
#in-progress

[2020-04-13 14:14] AshokPeddakotla-MSFT commented on #49261
@kgremban Thanks for the doc update.
@ChristianEder The Doc has been updated as per the suggestions. please check and let us know if you have further queries.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 14:14] #49261 closed

[2020-04-13 14:16] upmygit commented on #50692
Both **App Configuration Data** roles result in "No Access" when granted to the user. Once I grant role Reader to the user on the resource group, the error changes into "User is not authorized to load access keys". It states that user needs to be assigned the contributor or owner role.
I know that works, but why is there **App Configuration Data Owner**?? Very confusing.

[2020-04-13 14:20] AshokPeddakotla-MSFT commented on #49171
@kgremban Thanks for the doc update. Just wanted to check if thus issue can be closed.

[2020-04-13 14:21] IEvangelist commented on #52197
Hi @surfBoy,

Yes, the article is using [C# 8 which requires .NET Core 3.0](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version). If you're looking for the equivalent code, the change is simple.

[code]

Instead of a using declaration - it's a using statement. #please-close

[2020-04-13 14:21] #52197 closed

[2020-04-13 14:22] AshokPeddakotla-MSFT commented on #46601
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-13 14:22] #46601 closed

[2020-04-13 14:23] diberry commented on #51990
@csharpfritz Thank you for letting us know about this confusion. The term resource name is correct, even though it does not appear in the portal as a field name. Perhaps you can see the connection from the left-hand navigation's button name, "+ Create a resource", or imply the naming from the "Resource group", meaning several resources can be added to the group. Additionally, a resource is your ac

[2020-04-13 14:23] #51990 closed

[2020-04-13 14:25] asergaz commented on #38553
Thanks @wes-b. I have assigned this issue to @tesych to update the doc accordingly.

[2020-04-13 14:37] upmygit commented on #50692
I have to conclude that the App Configuration Data roles are not meant to be used for granting access for azure portal usage.

[2020-04-13 14:38] guntaled commented on #38713
Is 15 minute interval still correct?

[2020-04-13 14:40] zagruby commented on #51967
@archunz and @femsulu  I have been trying different parameters in the script to be sure we have picked the correct time frame. So I tried -10 as well, this should pick up logs for the past 10 days.
`$GetDate = (Get-Date).AddDays((-1))`
Usually the logs in portal are visible under 'Activity log' after around 2 minutes, when I was searching for "register" and "unregister".

With reference to:

I del

[2020-04-13 14:44] djpmsft commented on #38713
yes, 15 minutes is the shortest possible interval/frequency combination

[2020-04-13 14:46] #52280 closed

[2020-04-13 14:47] diberry commented on #51887
#in-progress

[2020-04-13 14:51] guntaled commented on #38713
Thanks!
(I tried a dummy tumbling window trigger set to 10 minutes and it worked -- wanted to check, was hoping this might have changed. Won't use it in prod.)

[2020-04-13 14:56] diberry commented on #51887
Fix will be published today. #please-close

[2020-04-13 14:56] #51887 closed

[2020-04-13 14:57] diberry commented on #51562
@xtianus79 Do you have time to clarify your question?

[2020-04-13 15:01] danielsollondon commented on #52186
Hi, currently OpenLogic CentOS images in the Portal are not provisioned using cloud-init yet, the only preview cloud-init is [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#centos), in May, we are targeting updating the Open Logic 7.x images to cloud-init, with Portal support.

[2020-04-13 15:06] jjacksonGithub commented on #51357
I ran into this as well, thank you jiecao-574

[2020-04-13 15:08] dagiro commented on #51782
#please-close

[2020-04-13 15:08] #51782 closed

[2020-04-13 15:09] dagiro commented on #52146
#please-close

[2020-04-13 15:09] #52146 closed

[2020-04-13 15:22] #51989 closed

[2020-04-13 15:28] Fedozzz commented on #51545
@neeleshray-msft, @ajayanti1
Got those communication from MS formal channels:

/Quote/

Hope you are doing well!

I am sending you this email with the updates for your question.

From the last few days of March, the two subscriptions Office 365 F1 and Microsoft 365 F1 will be changed to Office 365 F3 and Microsoft 365 F3.

But the SKU numbers for each of the subscriptions will stay the same. The o

[2020-04-13 15:28] code-vega opened #52290 "Clarify if whole group is disabled it wont work."
If one of your OWASP rule set groups is disabled (the whole group is disabled) then the migration wont work. I had to enable one of the rules in that group, migrate, then disable that one rule again for it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9906cba-acc2-5978-1380-2b2f445a00da
* Version Independent

[2020-04-13 15:32] himanshusinha-msft commented on #52234
@prawin2k : Thanks for the clarification .
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-04-13 15:34] MGoedtel commented on #51832
@femsulu + @JustinGrote - Based on the blog article it appears that the guidance under the Best practices section of the Managing modules article is out of date.  I'll double-check with engineering and if they confirm, I'll get that article updated and incorporate the details from the blog article so it's consistent and the authoritative source of truth. #in-progress

[2020-04-13 15:35] AshokPeddakotla-MSFT commented on #51800
@levi106 If you can't use the module name then it's a name resolution issue / DNS issue. Could you please double check on this?

[2020-04-13 15:37] #52255 closed

[2020-04-13 15:42] danijam opened #52291 "How do you get started with Progressive Profiling"
I'm struggling to find more information how you setup progressive profiling. The paragraph in this page does not provide sufficent detail to get started.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is

[2020-04-13 15:42] Phatage opened #52292 "Can't run scene in the Unity editor"
When playing the scene in the Unity 2019.3.5f1 editor, I get the two errors below. I've disabled my VPN but wondering if this can have anything to do with firewalls blocking access?

NullReferenceException: Object reference not set to an instance of an object
Microsoft.Azure.RemoteRendering.Unity.ARRServiceUnity+&lt;&gt;c__DisplayClass59_0.&lt;StartSession&gt;b__1 () (at Library/PackageCache/com.m

[2020-04-13 15:45] jackt-moran opened #52293 "Multiple Anomaly Detection Calls Valid?"
Hi,
I am wondering if having multiple calls to anomaly detection functions within the same query step is valid. I see nothing in the documentation saying it is valid or invalid, and I haven't seen any examples in the documentation with more than a single function call. Additionally, I am using multiple calls within the same query step on live data and seeing strange results. I can elaborate furthe

[2020-04-13 15:46] shankarpandala opened #52295 "Unable to pass arguments to pipeline endpoint"
Published an ml pipeline as the documentation. Pipeline is not considering the arguments passed to the rest endpoint. It is running with the arguments given while creating the pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a759a6f8-a79b-f0ff-8f5b-37e0facbc7a9
* Version Independent ID: 113c69db-8620-4ad4-0036-

[2020-04-13 15:49] qianw211 commented on #51913
#please-close

The updates should be live today.  Thanks!

[2020-04-13 15:49] #51913 closed

[2020-04-13 15:49] romel56 commented on #22326
Does anyone know the GA date since it has been more than a year for this last question?

[2020-04-13 15:50] NehaOberoi92 commented on #50444
Not working for me...not sure how this was closed

[2020-04-13 15:52] rikogeln commented on #52198
@reneschulte
Thanks for the feedback!

FYI the script only generates the SAS URI when using the -UseContainerSas parameter as described in https://docs.microsoft.com/en-us/azure/remote-rendering/quickstarts/convert-model#run-the-conversion

If you use a connected storage account we do not emit the SAS URI, since in this case the user could use the connected storage account to load a model as well.

[2020-04-13 15:53] Jont-K commented on #51913
Thank you for making the update.

Jont

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Mon, Apr 13, 2020 at 10:49 AM PRMerger18 <notifications@github.com>
wrote:

[2020-04-13 15:59] pontusvision commented on #52239
@KalyanChanumolu-MSFT , Thanks for the reply; can you tell me whether it is possible to query data that was entered using Gremlin via SQL queries?  E.g. if a gremlin query as follows adds a node:
[code]
Can the data be accessed via SQL (perhaps using a query similar to the following one:
[code]
Thanks!

[2020-04-13 16:03] sshams79 commented on #52274
Hi @edwardshao,

The webhook supports a set of static key/value pairs defined in the Autoscale only.
https://docs.microsoft.com/en-us/rest/api/monitor/autoscalesettings/createorupdate#webhooknotification

Autoscale is not aware of specific instance ids being scaled and hence does not send it.

[2020-04-13 16:06] rbrundritt commented on #51847
Not aware of any issues. Has an Azure maps key been added to the request? I don't see it in the URL above.

[2020-04-13 16:07] devbert opened #52296 "Error while processing request"
Hi,
when I run the app in Android Studio I get following error in my mobile app: "Error while processing request".

These are the errors in Android Studio from Logcat:
2020-04-13 18:05:42.297 9897-9897/? E/Zygote: isWhitelistProcess - Process is Whitelisted
2020-04-13 18:05:42.297 9897-9897/? E/Zygote: accessInfo : 1
2020-04-13 18:05:42.313 9897-9897/? E/ple.zumoappnam: Unknown bits set in runtime

[2020-04-13 16:12] SaurabhSharma-MSFT commented on #52291
@danijam Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-13 16:15] msjuergent commented on #52244
@sapien47 There is some documentation that is published: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/configure-lvm for LVM and https://docs.microsoft.com/en-us/azure/virtual-machines/linux/configure-raid for mdadm. I admit, we likely miss to point to those in the SAP documentation. Do you think these articles are sufficient? Or should these articles be more detailed and eventuall

[2020-04-13 16:16] mmacy commented on #42462
Per @navyasric #reassign:hamiltonha

[2020-04-13 16:17] perktime opened #52297 "Is SSL/TLS CPU processing really intensive?"
I think SSL/TLS processing being CPU intensive is a myth in 2020. Google tested this back in 2010 and saw less than a 1% difference between HTTP and HTTPS. https://www.imperialviolet.org/2010/06/25/overclocking-ssl.html: "In January this year (2010), Gmail switched to using HTTPS for everything by default. Previously it had been introduced as an option, but now all of our users use HTTPS to secure

[2020-04-13 16:27] KranthiPakala-MSFT commented on #52126
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-13 16:27] #52126 closed

[2020-04-13 16:29] simonaco opened #52299 "Update page to use Publish Profile as Deployment Credential"
Using Azure Service Principle for RBAC as Deployment Credential has been deprecated. See https://github.com/Azure/functions-action

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0ad9be-7b06-1d81-0339-3776b7fedca2
* Version Independent ID: 83637bff-1ba9-3421-1380-41cfaa5138f1
* Content: [Use GitHub Actions to make cod

[2020-04-13 16:33] IEvangelist commented on #52032
This is a great sweeping look into the issue @RohitMungi-MSFT, with that said - I agree that we should await the product team's evaluation of the problem.

[2020-04-13 16:34] IEvangelist commented on #52035
#reassign @oscholz

[2020-04-13 16:35] #52141 closed

[2020-04-13 16:36] Mike-Ubezzi-MSFT commented on #51583
@rhubley This is not supported for on-premise from what I have researched. This is specific to Azure Machine Learning where Azure SQL Database is being deployed. More information would be helpful in the documentation. This is also in preview, so limited support at the moment.

[2020-04-13 16:52] MarileeTurscak-MSFT commented on #51909
Thanks for this! I made a pull request to note that the permissions must be applied to "This object and all descendant objects." https://github.com/MicrosoftDocs/azure-docs-pr/pull/111140

[2020-04-13 16:52] #51909 closed

[2020-04-13 16:52] jasonfare opened #52300 "Enable Microphone"
Can you add a link to any documentation on how to enable the microphone to work with Teams?  I found a TechNet forum answer of
Set-RdsHostPool -TenantName "TENANTNAME" -HostPoolName "HostPoolName" -CustomRdpProperty "audiocapturemode:i:1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c18

[2020-04-13 16:53] sdgilley commented on #52205
Thanks for finding this, I'm replacing the image now.  Also clarified that this step occurs back in Azure portal, not in the studio.  Updates should be available later today.

[2020-04-13 16:54] IEvangelist commented on #52283
Hi @yinhew,

I'd encourage you to rely on the .NET Speech SDK rather than using C# manually with the REST API endpoints. How did you confirm that the .NET Core was not sending in chunks, if this code doesn't actually work - it might be a bug with the .NET Core runtime rather than the C# sample client.

See, [`HttpWebRequest.SendChunked`](https://docs.microsoft.com/en-us/dotnet/api/system.net.httpw

[2020-04-13 17:03] himanshusinha-msft commented on #52285
Thanks for the ask  . At this time we are reviewing it  and we will reply back as soon as we can .

[2020-04-13 17:04] macolso commented on #51860
Hi @YanDavKMS ~ VN does not support GPU deployments today, but you can deploy GPU based container groups via ACI directly.

[2020-04-13 17:04] SumanthMarigowda-MSFT commented on #52098
@artisticcheese I manually rehydrated an archived blob, how do I prevent it from being moved back to the Archive tier temporarily?
When a blob is moved from one access tier to another, its last modification time doesn't change. If you manually rehydrate an archived blob to hot tier, it would be moved back to archive tier by the lifecycle management engine. Disable the rule that affects this blob t

[2020-04-13 17:06] SaurabhSharma-MSFT commented on #52167
@vbatr Is this API your custom API and who all can basically consent to "act_as_user" scope in the defined API permissions.
![image](https://user-images.githubusercontent.com/38112130/79141235-378bba00-7d6e-11ea-939b-f7255fc9ab9f.png)
Users get consent request form when they are trying to access a resource and try to use a permission that admin has not consented for. For example, if the request co

[2020-04-13 17:06] himanshusinha-msft commented on #52293
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-13 17:07] #52098 closed

[2020-04-13 17:08] DorvalFagundes commented on #51469
Hi, how are you?
I put some documents to train my API translator. And now? How can I use the learning in my next translations? I do not be a developer or system analyst. I'm a translator that works with proofreading and translations and wishes create a better way to improve his job. I work only the MS Word. There is a way to use the API which I uploaded in my own Microsoft Word? Thanks so much.

[2020-04-13 17:09] AshokPeddakotla-MSFT commented on #51934
@olivoarroba Answer is yes as per the @lyrana suggestions.
@lyrana Can this issue be closed?

[2020-04-13 17:13] SaurabhSharma-MSFT commented on #52185
@ashishharjani The documentation is correct and you need access token and subscription key to test Secure API call.

[2020-04-13 17:14] esunder commented on #52002
Hi Mike,

I am not able to reproduce the issue today. You can close.

Thanks!

On Mon, Apr 13, 2020 at 3:32 AM Mike Urnun <notifications@github.com> wrote:

[2020-04-13 17:15] b-juche commented on #52214
@aquibqureshi26 -- Thanks for your comment.

Does Step 2 in [Mount or unmount a volume for Windows or Linux virtual machines](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-mount-unmount-volumes-for-virtual-machines) not provide the information you were looking for?  Step 2 (with screenshots from the UI) explains how to display the UI instructions for mapping/mounting

[2020-04-13 17:17] Nickomang commented on #46065
Hi @gstevens-kyriba,

Thanks for reaching out. Looks like this is a case of some of our documentation being up-to-date and some having older information. In this case, another user had the same question answered: https://github.com/MicrosoftDocs/azure-docs/issues/19766
but the changes didn't propagate to the whole doc set.

You're right that not controlling the azure.com domain is an issue, which

[2020-04-13 17:17] #46065 closed

[2020-04-13 17:18] jackt-moran commented on #52293
Thanks @himanshusinha-msft !

[2020-04-13 17:20] SaurabhSharma-MSFT commented on #52207
@expresspotato You need Azure AD Premium license to enable **Multi-Factor Authentication with Conditional Access**.  However, Basic multi-factor authentication features are available to Office 365 and Azure Active Directory (Azure AD) administrators for no extra cost.  Please refer to [pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/) page and MFA [documentation](https:

[2020-04-13 17:22] diberry commented on #51302
Removing link until the Recognizers-Text repo has a document. #please-close

[2020-04-13 17:22] #51302 closed

[2020-04-13 17:25] diberry commented on #51182
Rohit answered the question. #please-close

[2020-04-13 17:25] #51182 closed

[2020-04-13 17:26] diberry commented on #50825
As this isn't a QnA Maker issue, and the customer hasn't responding in 12 days, #please-close

[2020-04-13 17:26] #50825 closed

[2020-04-13 17:29] spmanjunath opened #52302 "Need clarity on API Management limits w.r.t. number of CA certificate."
In the document 'Maximum number of CA certificates per service instance' is specified as 10; however it is not clear about this limit for Consumption tier.  The inferred number is 10, since consumption tier is always assumed to be one.  It would be helpful if the applicable limit is documented for Consumption tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-13 17:30] Nickomang commented on #46076
Hi @gstevens-kyriba, @nheinbaugh, @lindgrend
Thanks for bringing this to our attention. As stated here: https://github.com/MicrosoftDocs/azure-docs/issues/46065 this is a case of a change being made but not propagated to the rest of the docs.

For more context on this issue please see the following: https://github.com/MicrosoftDocs/azure-docs/issues/19766
In summary, for non-microsoft employees, w

[2020-04-13 17:30] diberry commented on #50271
Fixed. #please-close

[2020-04-13 17:30] #46076 closed

[2020-04-13 17:30] #50271 closed

[2020-04-13 17:34] NavtejSaini-MSFT commented on #52076
@CeciAc Please provide us the required information.

[2020-04-13 17:35] diberry commented on #49742
@cahann Can you please have some one review this issue and provide guidance?

[2020-04-13 17:36] NavtejSaini-MSFT commented on #52109
@jimsander Please help us with more details to work on this issue.

[2020-04-13 17:37] diberry commented on #49742
@aliciaep for visibility

[2020-04-13 17:38] lyrana commented on #51934
Hi @olivoarroba
I am glad to hear that our decision to go back to a '.' is in line with your expectations. Linking PBI [3775658 ](https://msazure.visualstudio.com/One/_workitems/edit/3775658)
#please-close

Below is an example of the column names that the new flattening logic will produce and how to query them, let me know if you have any questions.

TS ID has been configured as data.items.id
time

[2020-04-13 17:38] #51934 closed

[2020-04-13 17:39] SumanthMarigowda-MSFT commented on #52173
@shameeds TLS 1.0 is disabled and .net framework is 4.6.2 in our VM 2016 server.
But still we are getting error.

-What is the error? Is this an error when trying to encrypt the VM? Or?

[2020-04-13 17:40] himanshusinha-msft commented on #51859
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-04-13 17:40] #51859 closed

[2020-04-13 17:43] SubhashVasarapu-MSFT commented on #51956
@AKonCloud , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-13 17:43] #51956 closed

[2020-04-13 17:47] dragav commented on #45672
@peledins https://keyvaultsdk.visualstudio.com/keyvault-vm-extension (internal link)

[2020-04-13 17:49] Grace-MacJones-MSFT commented on #52175
Hi @prateekplus,  App Service upgrades the underlying PHP runtime of your application as part of the regular platform updates. As a result of this regular update process, your application will be automatically updated to the latest patch version of PHP available in the platform.

Once a version of PHP has reached it's end of extended support your application will be upgraded to the next recommende

[2020-04-13 17:49] #52175 closed

[2020-04-13 17:50] DixitArora-MSFT commented on #52299
Hi @simonaco Thanks for reaching out. We will review and update as appropriate.

[2020-04-13 17:50] SubhashVasarapu-MSFT commented on #51888
@devlife , Appreciate your patience. We have assigned this issue to the respective content author to have a look into this doc-idea. Thanks for sharing your feedback.

[2020-04-13 17:51] JimacoMS3 commented on #47915
Hi @lastcoolnameleft and @Chaiethanya,

The topic has now been updated for the V2 SDK. As stated previously, you can just use pip install to install the azure-iot-hub package for the service SDK. Please give it a try. Let me know if you have any issues. I'll leave this open for a couple of days and then move to close it.

Thanks,

Jimaco

[2020-04-13 17:54] asears opened #52304 "Learn more in Automatic online backup and restore with Azure Cosmos DB - incorrect URL"
Currently Learn more in Automatic online backup and restore with Azure Cosmos DB links to
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/backup-and-restore
which appears to be incorrect.

URL should probably be https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-restore with additional guidance for long-term retention policies and recovery steps.

---
##

[2020-04-13 17:55] DarylThayil commented on #51392
@hamiltonha can you take a look and answer this?

[2020-04-13 18:00] Karishma-Tiwari-MSFT commented on #52287
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-13 18:04] devops-lucina commented on #27555
Any movement on this?

We added new secrets to the Key Vault and referenced via the App Configuration Service. All existing KV references resolve as expected, but the new settings/secrets do not resolve the Microsoft.KeyVault reference.

[2020-04-13 18:04] brendanrempel commented on #49614
I have a question: why?  Additional question:  why not 18363?

[2020-04-13 18:12] sapien47 commented on #52244
Hello msjuergent,

Yes, those are the kind of links I was looking for, thanks.
I think it will indeed add great value to develop those articles with more details and cover more scnearios.

Thank you very much

[2020-04-13 18:12] YanDavKMS commented on #51860
Hey @macolso

Thanks for the response.
Since the rest of my questions are not related directly to the opened issue, may I contact you privately?

Thanks

[2020-04-13 18:15] tamram commented on #51600
@TomaszOledzki - I agree with @BAM5. Either way, this is a design issue, not a documentation issue, so I'm closing out this issue that was opened on the documentation.

If you have further questions about the design of the service, please post to the Azure Storage forum at https://social.msdn.microsoft.com/forums/azure/home?forum=windowsazuredata.

#please-close

[2020-04-13 18:15] #51600 closed

[2020-04-13 18:15] richardeakin commented on #51386
This issue was closed, although ARM support hasn't been added yet.

[2020-04-13 18:16] msmbaldwin commented on #26725
We have added a page for this: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-isolated-network #please-close

[2020-04-13 18:16] #26725 closed

[2020-04-13 18:17] Mike-Ubezzi-MSFT commented on #51900
Providing additional information per the REST API for Cosmos DB. See the [Remarks](https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-an-attachment#remarks) section for the Create Attachment operation:

[2020-04-13 18:18] Mike-Ubezzi-MSFT commented on #51900
@HUBBER12 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-13 18:19] #52205 closed

[2020-04-13 18:27] basilwong commented on #52126
@KranthiPakala-MSFT just one more follow up question. Where is the documentation that lists the Azure IP address range?

Is it on a per region basis?

[2020-04-13 18:27] swanderz opened #52306 "cross-validation for forecasting"
Does it use [Hyndman's approach](https://robjhyndman.com/hyndsight/tscv/) where each successive fold is a super set of the previous fold?

@CESARDELATORRE @jadhosn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6e8bb8-9f33-6315-dec3-915c82152f4f
* Version Independent ID: 0d184dff-a615-49e4-089a-8c41a8ff801c
* Content

[2020-04-13 18:34] HUBBER12 commented on #51900
@Mike-Ubezzi-MSFT  - Thanks for responding.  I do find your post above helpful.  but i'm wanting confirmation/clarificatoin about CosmosDB-Attachments (Your first option).   Documentation shows that Attachments is being Depreciated from Cosmos DB.  Is it being replaced with something else, or is the only way in the near future your #2 option?

[2020-04-13 18:41] Mike-Ubezzi-MSFT commented on #52304
@asears Thank you for bringing this to our attention. I have submitted a pull request to have the public facing instance of this document updated. It should be visible within the next 24hrs.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-13 18:41] #52304 closed

[2020-04-13 18:42] ajlam commented on #52270
@WenJason, audit logs can be enabled using the Azure CLI command: `[az mysql server set configuration](https://docs.microsoft.com/en-us/cli/azure/mysql/server/configuration?view=azure-cli-latest#az-mysql-server-configuration-set)`. There's no docs available for this yet, but I can try to get to it later this week. In the meantime, please see a few examples below:

Example to turn on audit logs:
`a

[2020-04-13 18:44] Karishma-Tiwari-MSFT commented on #52091
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-13 18:48] tamram commented on #52236
@patrickjlee - Based on the environment variable error you are getting, it sounds like you have not properly configured the environment variables for the service principal. Have you followed all of the steps shown here? I recommend starting with a simple scenario and getting that working.

https://docs.microsoft.com/azure/storage/common/storage-auth-aad-msi#authenticate-a-service-principal-in-the-

[2020-04-13 18:53] tamram commented on #52236
@patrickjlee - When we say environment variables, we really mean environment variables, not application settings. The Azure.Identity client library reads those environment variables at runtime to get the properties of the service principal. Azure AD uses those properties to authenticate the service principal and return a token to your code. All of that happens under the covers; all you have to do

[2020-04-13 18:57] Norrch2 opened #52307 "Fix Code Example for AAD-Common"
In the code example for Modify your custom policy, https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-custom-attributes#modify-your-custom-policy
, you need to close the technical profiles.

The final &lt;technicalprofiles&gt; is missing the / and should be &lt;/technicalprofiles&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-13 19:11] usuyama commented on #39799
@rastala @nibaccam Are there any documentation about "directories_to_watch". I looked around but couldn't find any.

Another question regarding ./outputs and ./logs. By default, they need to be on the root of the source_directory? It doesn't seem to work if they're in the same directory with the main entry script.

[2020-04-13 19:11] CarlRabeler commented on #32134
Please assign to @allenwux

[2020-04-13 19:15] usuyama opened #52308 ""directories_to_watch" documentation"
@rastala @nibaccam Are there any documentation about "directories_to_watch". I looked around but couldn't find any.

Another question regarding ./outputs and ./logs. By default, they need to be on the root of the source_directory? It doesn't seem to work if they're in the same directory with the main entry script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-13 19:16] Grace-MacJones-MSFT commented on #51890
hello @davecatt, a PR has been submitted by @btardif  to update this doc. The changes will go-live in the public doc soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-13 19:16] #51890 closed

[2020-04-13 19:19] usuyama commented on #52308
Does "directories_to_watch" apply to both "outputs" and "logs" folders?

[2020-04-13 19:20] BharathNimmala-MSFT commented on #52302
@spmanjunath Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-13 19:31] swanderz opened #52309 "Need guidance for misalignment with DataFrameFrequencyException"
I was able to figure this out, but I imagine other users would struggle to solve this exception:
`azureml.automl.core.shared.forecasting_exception.DataFrameFrequencyException`
[code]
@CESARDELATORRE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6275c379-c934-8a50-9954-eba4527db79c
* Version Independent ID: 6a105809-57

[2020-04-13 19:33] Mike-Ubezzi-MSFT commented on #51900
@HUBBER12 Thank you for the additional context. Let me get an answer for you.

[2020-04-13 19:34] jovanpop-msft commented on #48199
@danimir could you help with this?

[2020-04-13 19:35] jovanpop-msft commented on #48199
@AdamS-MSFT - @danimir is new PM contact for monitoring and alerting so could you please reassign it?

[2020-04-13 19:38] Mike-Ubezzi-MSFT commented on #51900
@abhijitpai and @markjbrown The [Storage and Throughput](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#storage-and-throughput) section of this document states that the attachment feature is being deprecated. Is there a desired method going forward or new functionality that will be released? Thank you!

Maximum attachment size per Account (Attachment feature is being depreciated)

[2020-04-13 19:39] jovanpop-msft commented on #41834
Changed in PR 14516 on private branch

[2020-04-13 19:40] btardif commented on #51890
This is fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/111173

[2020-04-13 19:40] jovanpop-msft commented on #42688
@KalyanChanumolu-MSFT could you reassign it to @srdan-bozovic-msft ?

[2020-04-13 19:41] Michael9127 opened #52310 "OpenID Connect "platf" JWT claim values unclear"
I am hoping to use the optional "platf" claim in the access token JWT to identify if an authentication request is coming from a managed device. I enabled the claim and observed that it is a number. However, I cant find any documentation about what status each integer indicates. Would love some more information about how to interpret the "platf" claim

---
#### Document Details

⚠ *Do not edit this

[2020-04-13 19:42] msmbaldwin commented on #34948
We created a brand new article for the interaction of Key Vault and ADE; you can see it here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-key-vault. Thank you for your feedback!  #please-close

[2020-04-13 19:42] #34948 closed

[2020-04-13 19:45] MarileeTurscak-MSFT commented on #52009
I was unable to do it as WeChat blocked my account, and after multiple attempts I could not get it reactivated. I'm assigning this to the author to look into.

[2020-04-13 19:47] msmbaldwin commented on #36895
Hi, @blueelvis. The [Azure encryption overview](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-overview) article in our Azure Security Fundamentals site provides a summary of both Encryption at Rest and Encryption in Transit.  It links to an article specifically on [Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atres

[2020-04-13 19:47] #36895 closed

[2020-04-13 19:56] PeterCLu commented on #51359
Hi @giorgia995, since we haven't heard back from you in a little while, I'll proceed to #please-close this issue. If you feel that your doc issue has not yet been resolved, you can open a new issue with additional information

[2020-04-13 19:56] #51359 closed

[2020-04-13 19:57] CeciAc commented on #38339
Issue moved to [MicrosoftDocs/azure-docs.ja-jp #4370](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4370) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-13 19:59] tfitzmac commented on #52282
I tested the scenario of deleting a resource group that contains a network interface associated with a subnet. The deletion was handled without any manual steps on my part. I would guess there was condition in your environment that blocked the deletion from being handled as expected. If you need more help with it, it would be best to work with support as they can evaluate more about your environme

[2020-04-13 19:59] tfitzmac commented on #52282
#please-close

[2020-04-13 19:59] #52282 closed

[2020-04-13 20:01] CeciAc commented on #38339
Hello, @rayifu

Your feedback is much appreciated.

Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4370

Kind regards,

Microsoft DOCS International Team

[2020-04-13 20:01] btardif commented on #51811
to restore slots you need to specify the `-Slot <slot-name>`  parameter. Restoring an app does not restore it's child slots.

[2020-04-13 20:03] MartinJaffer-MSFT commented on #52086
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-13 20:03] #52086 closed

[2020-04-13 20:04] laurenhughes commented on #51256
@cynthn @ju-shim

[2020-04-13 20:05] karthikp8888 opened #52312 "is there a way to generate same sub for multiple client id"
We have multiple client id. One for development redirect URL and one for production redirect URL. Based on the documentation it appears that the claim sub would have different values in development and production instance of the application. Our third party application uses sub as unique identifier of the user in the application. Having different sub would prevent us from migrating security role a

[2020-04-13 20:07] PeterCLu commented on #52295
Hi @shankarpandala, thanks for your report. Can you confirm that the pipeline parameter has been created correctly?

You can confirm this by opening the pipeline draft in the designer and selecting the Settings pane (gear icon near the Pipeline draft name). This will show any any available pipeline parameters. If you don't see any parameters in the Pipeline Parameters double check the instructions

[2020-04-13 20:08] PeterCLu commented on #52308
#assign:@nibaccam

[2020-04-13 20:08] cynthn commented on #51256
#reassign @ju-shim

[2020-04-13 20:09] aquibqureshi26 commented on #52214
Step 2 shows how to connect using SSH to linux instance hosted on Azure.
My intention was to connect to windows server using NFS to net app. Those instruction is missing in the article.
If we create SMB file share then instruction to connect to windows server is present. but i want to connect NFS share to windows server on azure.

[2020-04-13 20:09] PeterCLu commented on #52309
Hi @swanderz, this is filed under the designer error codes. Did you see this exception while using the drag and drop designer?

[2020-04-13 20:11] #51811 closed

[2020-04-13 20:13] pplavetzki opened #52313 "Failed to Create Subnet"
Executing the command:
[code]
Received the following message and the subnet did not create:
[code]
Using PowerShell 7.0.0 on mac.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a03427-b70e-ab8e-1977-bac5066dbc96
* Version Independent ID: bcb8091d-0c21-d462-0216-b53c21733de0
* Content: [Create a virtual network - quic

[2020-04-13 20:16] danimir commented on #48199
@AdamS-MSFT Before reassigning and escalating to PG please check for existence of already available documentation.

--------
@theheatDK For alerting, see this: https://docs.microsoft.com/bs-latn-ba/azure/sql-database/sql-database-insights-alerts-portal

In terms of best practices and monitoring no recommendations can be given at this time because it all depends. This is because every database, env

[2020-04-13 20:19] BharathNimmala-MSFT commented on #52143
@agr Post validation with our internal teams it has been called out that currently we do not have this feature of .create-or-alter commands in Azure Monitor Logs and only limited to Azure Data Explorer. However there are plans to work on a feature to enable with limited functionality probably through programmatic way  in the future. Please subscribe to [announcements](https://azure.microsoft.com/e

[2020-04-13 20:19] #52143 closed

[2020-04-13 20:21] Mirend opened #52314 "RBAC section missing content"
At https://docs.microsoft.com/en-us/azure/security/fundamentals/identity-management-overview#rbac, it states "The following lists four fundamental built-in roles. The first three apply to all resource types." but then there is no list of four items.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c24e0e2-d91c-e902-1fc3

[2020-04-13 20:21] Mirend commented on #29779
I just added a new comment, but didn't realize this was the same issue. It was raised a year ago, but was never fixed.

[2020-04-13 20:24] swanderz commented on #52309
I saw it after using the drag and drop designer. If the error was listed on this page, it wouldn't have filed this issue.

![image](https://user-images.githubusercontent.com/8158673/79157754-00c39d00-7d8a-11ea-9e26-cdbfcca691b1.png)

[2020-04-13 20:26] PeterCLu commented on #51855
The document changes have been merged in. You should see the changes live in a few hours. I'll proceed to #please-close this issue. @djpugh, if you felt that your issue has not been resolved, please open a new issue with additional information.

[2020-04-13 20:26] #51855 closed

[2020-04-13 20:27] PeterCLu commented on #52306
#assign:@nibaccam

[2020-04-13 20:30] BharathNimmala-MSFT commented on #52195
@dbartz Thanks again for bringing this to our notice. PR has been raised , once reviewed and approved the document will reflect it accordingly later this week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the threa

[2020-04-13 20:30] #52195 closed

[2020-04-13 20:34] csteegz commented on #51328
You need to use the models from the SDK. Unfortunately, these services are not integrated and I do not believe there is going to be a way to deploy them at this time.

If you're insistent on trying, there is a possible approach.
I am not familiar with the structure of the model produced by custom vision.
If custom vision service is using transfer learning, it is possible you could take split out t

[2020-04-13 20:36] MarileeTurscak-MSFT commented on #51559
Authenticator App restores the most recent backup. I did not find any documentation indicating otherwise. Still, I have reached out to the MFA team to check if there is way to achieve this and will keep you posted on the progress. Checked again today and no updates so far.

[2020-04-13 20:44] BharathNimmala-MSFT commented on #51764
@rich-davies Please review the above information and let us know if you have any further queries. Thank you.

[2020-04-13 20:45] KranthiPakala-MSFT commented on #52126
Hi @basilwong, Thanks for your response. Unfortunately, webhook activity is one of the very few activities that doesn't run on IR, it runs on our infrastructure service web role.

Below is the download link for Azure IP Ranges which needs to be whit-listed.

https://www.microsoft.com/download/details.aspx?id=56519

[2020-04-13 20:45] wsmckenz opened #52315 "SMB does not work on the internet"
What I mean is, for millions of users—especially small businesses—SMB is not available with azure, or any other internet storage service, simply because almost all consumer ISPs block port 445, including ATT and Comcast. Documentation for azure files needs to updated for this reality. It says things like "make sure your firewall has port 445 open" when in fact for many situations it has nothing to

[2020-04-13 20:52] Hasil-Sharma opened #52316 "Passing name of linked service as a parameter"
Hi,

In my use case I've a fixed set of linked services for ADLSg2 and I want to pass name of the linked service to use for a dataset as a parameter to it. Is it possible to do this in azure data factory?

I cannot pass name of the storage account to linked service as a parameter due to hard compliance requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-13 20:56] msrini-MSFT commented on #52313
@pplavetzki , It is just a warning. You need to execute the next command to add the subnet successfully.

$virtualNetwork | Set-AzVirtualNetwork

[2020-04-13 20:59] ashishharjani commented on #52185
@SaurabhSharma-MSFT  - Please follow the steps mentioned under Get an access token section on the page. Once you run the B2C User Flow and it redirects to https://jwt.ms , then please check the token category in browser URL like mentioned below

![image](https://user-images.githubusercontent.com/38477910/79160543-9584c580-7d9f-11ea-87da-67d800863d55.png)

If we don't want to use that token then in

[2020-04-13 21:02] MarileeTurscak-MSFT commented on #52307
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-13 21:04] MarileeTurscak-MSFT commented on #52307
Thanks! Just made a PR to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/111206

[2020-04-13 21:04] #52307 closed

[2020-04-13 21:14] MarileeTurscak-MSFT commented on #52314
@Mirend
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-13 21:18] MarileeTurscak-MSFT commented on #52314
Thanks! I made a pull request to add the missing roles: https://github.com/MicrosoftDocs/azure-docs-pr/pull/111208

They're also listed in this article. https://docs.microsoft.com/en-us/azure/role-based-access-control/overview

CC: @TerryLanfear

[2020-04-13 21:18] #52314 closed

[2020-04-13 21:21] CharmanderJieniJieni opened #52317 "Secret rotation"
When rotating secrets under Service Principals, a random hash string is created. Does Azure side do any validation to make sure that the new secret is not same with previous versions of secrets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-3

[2020-04-13 21:21] MarileeTurscak-MSFT commented on #52310
@Michael9127
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-13 21:21] mimckitt commented on #46992
I have read through the doc a few times now and I see we do clearly call out that automatic OS upgrades require either health probes or health extensions.

At this point in time I don't find the document to be unclear and I don't see any edits that need to be made. That being said, this issue will remain on this page so if others feel it is also confusing they can comment and w can always reconsid

[2020-04-13 21:21] #46992 closed

[2020-04-13 21:23] TerryLanfear commented on #52314
@MarileeTurscak-MSFT - Thanks for addressing this issue! Instead of adding the missing roles, I think it would be better to delete the two sentences creating the confusion: "The following lists four fundamental built-in roles. The first three apply to all resource types." Under "Learn more" we link to the article that lists the roles.

[2020-04-13 21:26] mimckitt commented on #49892
Assigning to @sasha-melamed who owns the L series and @vikancha who owns the N series to look into this further.

[2020-04-13 21:27] jeevansd commented on #52090
@ailichev We are setting up a meeting to help resolve this issue.

[2020-04-13 21:27] jeevansd commented on #52090
I am closing this ticket here as we have taken this over the email.
#please-close

[2020-04-13 21:27] #52090 closed

[2020-04-13 21:27] ddcruz commented on #23045
Thanks for these posts,  I'm sorry y'all had to go through these under Azure.

I encountered the same issue, and decided to look for alternative options.

I did a bit of research and created an free account under https://community.cloud.databricks.com/.  I was able to create an account, create and spin up a cluster in under 5 minutes, import the notebook per the training exercises and was able to

[2020-04-13 21:27] basilwong commented on #52126
@KranthiPakala-MSFT  For the Data Factory Webhook activity, what is the name in the JSON file downloaded from the link that has the address prefixes?

https://www.microsoft.com/download/details.aspx?id=56519

[2020-04-13 21:29] macolso commented on #51860
Sure, @YanDavKMS!

@VikasPullagura-MSFT we can close this one out

[2020-04-13 21:29] basilwong commented on #52126
Additionally, if the Data Factory is in an Azure Government Account, is there a different set of prefixes?

[2020-04-13 21:30] mimckitt commented on #50407
@danielsollondon could you help determine the right fix for this doc?

[2020-04-13 21:44] himanshusinha-msft commented on #51884
@sneakernuts : We have initiated the necessary updated . We should have the updated reflected soon on the docs . At this time we are going ahead and closing the issue .

[2020-04-13 21:44] #51884 closed

[2020-04-13 21:49] NavtejSaini-MSFT commented on #52084
@screig For postgress_fdw you need to open up the source ranges (to internet). The port basesd opening up of NSG doesn't work.
Ip address based whitlisting will be available once VNET feature is released, which is going to be in the coming months. (~3 months). Private preview will be kicked off in a couple of weeks.

[2020-04-13 21:50] b-juche commented on #52214
Thanks for explaining, @aquibqureshi26.
We'll consult our subject matter expert on providing the content you need.
[cc: @lichunli-ms, @ntap512]

[2020-04-13 22:00] dschlitt commented on #52139
Thanks for the clarification Travis and Rohit.

[2020-04-13 22:01] udlose commented on #32000
@yegu-ms Why was this closed?  Has it been implemented yet?

[2020-04-13 22:09] MarileeTurscak-MSFT commented on #52148
@filipkcz are they using Exchange Online? Blocking Basic authentication will block app passwords in Exchange Online.

This is noted in these docs:

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults

https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/disable-basic-authentication-in-exchange-online

Hope this help

[2020-04-13 22:09] #52148 closed

[2020-04-13 22:10] 2552Software commented on #8227
ADAL.NET used all over the place by Microsoft.   ADAL.NET is still supported by Microsoft.  I get that you want us to move forward but even Microsoft is not moving...

[2020-04-13 22:10] habeebtc opened #52318 "Please describe the relationship to "ServerResponseLatency""
The AppGW request-response logs have 2 basic metrics: Server Response Latency and Total Time.

This article seems to suggest that Backend Last Byte Response time should be the same value as Server Response latency.

However, I had a support engineer just suggest that Backend Connect Time is not counted as a part of Server Response Latency, which is both different from what I'd get from this articl

[2020-04-13 22:11] CeciAc opened #52319 "What are the terms of use presented here?"
The comments below were machine translated

@SteveDuchene commented on [Sun Apr 12 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/704)

The terms of use and display of the Bing Search API are important to know from what I see. But it would be good to be clearer as to the nature and origin of these conditions: Are these legal or contractual conditions? If they are contractual, is th

[2020-04-13 22:11] RonPattersonBadger commented on #52120
[cid:image001.png@01D611AD.C59B1DE0]
This link points to Get-ACL, and not Set-ACL.

Further, section 3 is messed up.
[cid:image002.png@01D611AD.C59B1DE0]
The section Configure NTFS permissions with icacls:
. you have to mount the share before you can determine its permissions using icacls.  Therefore the order is incorrect:  The section “Mount a file share from the command prompt” should appear be

[2020-04-13 22:12] Roblarson opened #52320 "Please provide example on how to use Azure Monitor to Alert on these limits"
Great that we have all of the limits defined, but would like to be able to create Azure Monitor alerts and notifications before I reach these limits. Can we do this based on a threshold of say 75% of the limit?  Please provide the sample queries to build a dashboard or trigger notifications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-04-13 22:21] BharathNimmala-MSFT commented on #52118
@andrePKI Thank you for reaching out to us. Please look through the below documentation for on boarding Azure Sentinel and sending that data to [Log Analytics](https://docs.microsoft.com/en-us/azure/sentinel/quickstart-onboard#enable-azure-sentinel-) and see if this fits your scenario.

[ On board Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/quickstart-onboard#connect-data-sourc

[2020-04-13 22:22] MartinJaffer-MSFT commented on #52238
@v-liatba  Hello and thank you for your question.  Could you please clarify?
Could you show me a picture where it does not appear in the gallery?
What Authentication method are you using?
Which parts do you want to keep in key vault?

[2020-04-13 22:23] Karishma-Tiwari-MSFT commented on #52060
Can you please refer to this and share if this is what you are looking for?
https://docs.microsoft.com/en-us/cli/azure/network/nat/gateway?view=azure-cli-latest

There are 2 feedback posts open on this topic as well:
https://feedback.azure.com/forums/217313-networking/suggestions/35394586-nat-gateway-functionality-in-azure
https://feedback.azure.com/forums/217313-networking/suggestions/15488244-of

[2020-04-13 22:30] Mike-Ubezzi-MSFT commented on #40751
@simonmckenzie

Azure SQL Managed Instance does not support Active Geo-Replication and with Auto Failover Groups, publication needs to be removed from the primary and configured on the secondary after failover.

The [Features](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#features) section of the document explains Managed Instance limitations.

[2020-04-13 22:30] #40751 closed

[2020-04-13 22:43] KranthiPakala-MSFT commented on #52285
@BoOnAzure Thanks for reaching out. Could you please verify if you have the correct dynamic expression `@activity('LookupTableList').output.value` as table name value in `TriggerCopy` (Execute pipeline) activity of `GetTableListAndTriggerCopyData` (parent) pipeline? Because this value will set the result list from the Lookup activity as an input (`tableList` parameter) to the second pipeline `Iter

[2020-04-13 22:59] BharathNimmala-MSFT commented on #52015
@dl8on Thanks for reaching out to us, requesting you to please review the below documentation for leveraging Azure Monitor with different architectures and see any this fits your requirement.

[Azure Monitor Logs for Service Providers](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/service-providers)

Single Log Analytics workspace can monitor resources in all of your subscriptions

[2020-04-13 23:00] Karishma-Tiwari-MSFT commented on #52300
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/111243

[2020-04-13 23:03] #52300 closed

[2020-04-13 23:03] aahill commented on #50563
Hi @manvendrautralia

Thanks for reaching out! Currently you can't custom train the Text Analytics API.

I've forwarded your feedback about the string "Office 365" to the service team, but it'll also help to know which endpoint were you accessing here.

Since this isn't a documentation issue I'm going to close the issue, but you can submit a feature report directly as well through the [UserVoice]

[2020-04-13 23:03] #50563 closed

[2020-04-13 23:08] CeciAc opened #52322 "Review the example in python for recognition from an audio file"
The comments below were machine-translated

@abalvet commented on [Mon Apr 13 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/706)

The python code provided does not allow recognition on an audio file, even following the format recommendations (audio wav 16 Khz).
I have an error:
No speech could be recognized: NoMatchDetails (reason = NoMatchReason.InitialSilenceTimeout)

In additio

[2020-04-13 23:08] vikancha commented on #49892
The ACU data for compute is managed by @DavidBerg-MSFT .

[2020-04-13 23:16] CeciAc opened #52323 "Installation steps on Linux need updating"
@gogux commented on [Mon Apr 13 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/711)

The installation steps on Linux (Ubuntu) described at https://docs.microsoft.com/es-es/azure/azure-functions/functions-run-local?tabs=linux%2Ccsharp%2Cbash#install-the-azure-functions-core-tools need to be updated as the correct source is now &lt;&lt;deb [arch={arch}] https://packages.microsoft.com

[2020-04-13 23:17] #51980 closed

[2020-04-13 23:18] cloudhandler commented on #52001
Opening an item to clarify in portal

[2020-04-13 23:19] mimckitt commented on #49395
Updated the table. Once the PR merges the changes should go live later tonight or early tomorrow morning.

Let me know if you have any other questions.

[2020-04-13 23:19] #49395 closed

[2020-04-13 23:20] SaurabhSharma-MSFT commented on #52179
@jimsander We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-13 23:20] #52179 closed

[2020-04-13 23:31] JasonWeiand-MSFT opened #52325 "Please add explanation that for application logging only storage accounts in the same region are available"
I y'all,

I get this question a lot "why can't I see my storage account in the drop down?" and it's almost always because it's in another region and they are trying to use a single store in one region to store log data for several sites deployed to multiple regions.

They then want official documentation outlining that limitation. This would be an ideal page to send them to for this.

I just teste

[2020-04-13 23:36] anthonyawuley opened #52326 "Syntax Error In Scala Map"
[Enter feedback here]

// Write configuration
Notice syntax error in `"Upsert" : "true"` instead of ` "Upsert" -> "true"`

val writeConfig = Config(Map(
  "Endpoint" -> "https://doctorwho.documents.azure.com:443/",
  "Masterkey" -> "YOUR-KEY-HERE",
  "Database" -> "DepartureDelays",
  "Collection" -> "flights_fromsea",
  "Upsert" : "true"
))

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-13 23:37] coldplay5467 commented on #51559
If it’s not a current feature, can Microsoft please make it one? Or create a Recycle Bin so if an MFA account is deleted, it can be restored; similar to OneDrive when deleting files. Thanks!

[2020-04-13 23:56] Karishma-Tiwari-MSFT commented on #52186
Thanks @danielsollondon
@marcfiu We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-13 23:56] #52186 closed

[2020-04-13 23:56] kgremban commented on #49171
@AshokPeddakotla-MSFT Thanks for the reminder.

@Tam66662 I added a new article providing some standard information about formatting createOptions, and samples from some common scenarios:  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-use-create-options. This is definitely a work in progress, as we'll be building out the content to reflect additional scenarios (including @ckcampbell248's