[2019-10-12 16:38] jetsons commented on #40632
No idea what you're going on about. Just try running New-AzPrivateDnsZone
in azure cloud shell and it will say "command not found".

On Sat, Oct 12, 2019, 10:03 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-10-12 16:45] msrini-MSFT commented on #40632
@jetsons , The documentation which I have provided you has the answer to your question.

Make sure you have installed latest version of Azure PowerShell. For more information on Azure PowerShell (Az) and how to install it visit https://docs.microsoft.com/powershell/azure/**new-azureps-module-az**

Make sure that you've Az.PrivateDns module for the Azure PowerShell installed. To install this module

[2019-10-12 16:51] dcurwin commented on #11389
The documentation has been updated.

#please-close

[2019-10-12 16:51] #11389 closed

[2019-10-12 16:59] Tiberriver256 commented on #40261
In case others stumble on this over time, I opened a User Voice for the ability to schedule the specific time:
https://feedback.azure.com/forums/217321-sql-database/suggestions/38799886-schedule-time-for-azure-sql-data-sync

[2019-10-12 17:20] klogan12 commented on #40452
Yeah , i see the case being altered in the header from brower network tab.
This does not happens when we try directly with out using AFD...

[2019-10-12 17:22] msrini-MSFT commented on #40452
Did you configure redirect rule in AFD or in the backend ?

[2019-10-12 17:24] klogan12 commented on #40452
Yeah , there is a redirect configured to backend .. which rul url rewrite also.

[2019-10-12 17:28] msrini-MSFT commented on #40452
Can you share me the URL where you are facing this issue?  I can test this from my end

[2019-10-12 18:06] kanshiG commented on #39829
#please-close

[2019-10-12 18:06] #39829 closed

[2019-10-12 18:10] jasonshave opened #40639 "Java example doesn't work"
Could you please revisit the Java example as I tried it and it doesn't return anything. I get a 200/OK from my API but the body is empty. When I tried the exact same code in C# it worked perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca50463-807e-fd04-de4d-25be2199ae70
* Version Independent ID: 7a8f74f9-81b

[2019-10-12 18:40] kanshiG commented on #39830
#please-close

[2019-10-12 18:40] #39830 closed

[2019-10-12 18:45] gerhard67 commented on #40277
@Alberto-Vega-MSFT , I running a Ubuntu container on a Windows host. Pls see also the docker command.

[2019-10-12 18:47] jjindrich commented on #36838
Retested, now working correctly. Thanks for fixing

[2019-10-12 18:48] femsulu commented on #40629
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-10-12 18:51] femsulu commented on #40630
@kumarallamraju  - good catch. assigning to the content author for review.

[2019-10-12 18:57] igomat opened #40640 "Set context to customer's subscription"
How to set context to the customer's subscription in PowerShell? The:
Set-AzureRmContext -SubscriptionName "&lt;CustomerSubName&gt;" -TenantId "ServiceProviderTenantID" Surprisingly returns other subscription from the Tenant but not the Customer one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d

[2019-10-12 19:00] igomat opened #40641 "Create a resource in customer subscription via Portal"
How to create via Portal a resource in delegated customer's subscription? When the delegated role is e.g. Contributor.
When going via My Customers tab, choosing the customer, then the subscription, proper RG, using Add button, then there is no the customer subscription on the drop down list!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-10-12 19:02] igomat opened #40642 "Switching to customer's directory in Portal - not possible"
How to properly switch to the delegated customer subscription / directory? It's not present in Directories + Subscription tab even the account has delegated the Contributor role in the destination subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID:

[2019-10-12 19:27] jomalsan commented on #40262
@Alberto-Vega-MSFT The tutorial should be updated to reflect it not working in the Cloud Shell. Then for running it locally, one of the requirements is Python 3.5.3 or higher.

[2019-10-12 19:55] dcurwin commented on #40456
#reassign:sogup

[2019-10-12 20:03] markdebruijne commented on #25882
@MarileeTurscak-MSFT  ?

[2019-10-12 20:12] himanshusinha-msft commented on #40638
@y-luis  Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2019-10-12 20:18] himanshusinha-msft commented on #40639
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-12 20:22] himanshusinha-msft commented on #40640
@igomat  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-12 20:24] himanshusinha-msft commented on #40641
@igomat .Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-12 20:25] himanshusinha-msft commented on #40642
@igomat Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-12 21:01] meet-rs-api opened #40643 "How to enable Docker Container logging under App Service Logs?"
I can't find this checkbox in AppService logs - is this guidance a bit outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on Linux - Azure](https://docs.microsoft.com/en-us/a

[2019-10-12 21:16] synth3tk commented on #23292
I think we're approaching spring 2020 here soon. Can we get an updated ETA, @mdgattuso?

[2019-10-12 21:19] femsulu commented on #40288
adding Azure Advisor PM owner @saket-ms to review doc update request.

[2019-10-12 21:21] MarileeTurscak-MSFT commented on #40608
@jgwinner thanks for catching this! I made a pull request to remove the redundant article link.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/91556

[2019-10-12 21:21] #40608 closed

[2019-10-12 22:22] sfilinto opened #40644 "Typo needs correction"
While that code must remain the URL &gt; While that code must remain in the URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https://docs.microsoft.com/en-us/azure/s

[2019-10-12 22:53] krubenok opened #40645 "func init fails"
When running through the Azure functions quick start guide, running the `func init ProjectName` command fails with the following error:

[code]
However, @jimbobbennett suggested creating the project via the VS Code extension which did work as expected. System is running macOS 10.15 with Python 3.6.9. Happy to provide more details as needed.

cc: @jimbobbennett

---
#### Document Details

⚠ *Do not

[2019-10-12 22:55] aldelar opened #40646 "Broken link to PipelineStep"
This link in the doc leads to a 404: https://docs.microsoft.com/api/azureml-pipeline-core/azureml.pipeline.core.builder.pipelinestep?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8fc8bdb-1ee0-b978-e42f-de875b8cb50f
* Version Independent ID: dbad235e-f8d6-361b-d337-f9d2a3573059
* Content: [What are ML

[2019-10-12 22:55] aldelar commented on #40646
It's in this paragraph in the page:
https://docs.microsoft.com/api/azureml-pipeline-core/azureml.pipeline.core.builder.pipelinestep?view=azure-ml-py

[2019-10-12 23:17] Ofer-Gal opened #40647 "Deploying template using PowerShell script failed."
I get Deploy-AzureResourceGroup.ps1 : The term
18:08:31 - 'Get-AzureRmResourceGroup' is not recognized as the name of a cmdlet, function, script file, or operable program.
I did Install-Module Az and Install-Module AzureRM
Still

Even the "Help" Tell us about your experience at https://go.microsoft.com/fwlink/?LinkId=691202 redirects to https://www.instant.ly/s/yMAeE which does not exist

---
####

[2019-10-13 00:31] kumarallamraju commented on #40629
Also vmware should be written as VMware not VmWare :-)
Check out their website.

[2019-10-13 00:42] mahanteshvk opened #40649 "Microsoft.Azure.Cosmos.CosmosException"
When I am trying to run a web app and trying to create using,
DatabaseResponse database = await client.CreateDatabaseIfNotExistsAsync(databaseName);
in InitializeCosmosClientInstanceAsync, I am getting the below exception,

"Response status code does not indicate success: 503 Substatus: 0 Reason: (The request failed because the client was unable to establish connections to 3 endpoints across 1 reg

[2019-10-13 00:44] jgwinner commented on #40608
You are welcome! Thanks for fixing it!

[2019-10-13 01:24] SnehaGunda commented on #39831
@zl00p3r The info saying "Region name in create keyspace command is ignored at present" is already available in the planned support section. I added some context inline within the create keyspace command to make it better. I hope the updates are helpful.

We will now close this issue if there aren't further questions.

#please-close

[2019-10-13 01:24] #39831 closed

[2019-10-13 01:29] karlmutch opened #40650 "Where is the sample Dockerfile kept"
I am trying to get a GPU application going on Azure and have run into multiple issues with nvidia containers being created.  Where is the Dockerfile source for the sample tf mnist application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deaac79e-bd40-2d95-7288-e15371726e91
* Version Independent ID: 9fd80908-20f1-7970

[2019-10-13 01:40] mbrancato opened #40651 "No documentation for mapping storage to containers"
A preview feature is to allow custom path mapping of storage accounts to App Service. The feature links to this page for more information on how to access mapped storage paths. These paths are not restricted to the `/home` folder, etc.

![image](https://user-images.githubusercontent.com/8493275/66709726-3aaeda80-ed38-11e9-9cb4-3cd416ca60f8.png)

The `Learn more` link here references the `Configure

[2019-10-13 02:50] SogoGolf opened #40652 "Debug JS test instructions dont work"
VS Code Version: 1.39.1 ; Mac OSX

The provided json for launch.json does not work, throws error in VS Code.

Also changing the offending line to:  "${workspaceRoot}/node_modules/jest/bin/jest.js" -&gt; fixes the compile error however breakpoints in the index.test.js we're not being hit after running via F5

{
  "type": "node",
  "request": "launch",
  "name": "Jest Tests",
  "program": "${workspa

[2019-10-13 03:21] ltfleming commented on #33999
Having the same issue. Delete's fine according to the UI, but reappears after a refresh or portal navigation.

[2019-10-13 03:40] macrochen86 opened #40653 "Could not complete "Create a web app" due to below error"
user@Azure:~/quickstart/python-docs-hello-world$ az webapp up -n hw20191012webapp
hw20191012 doesn't exist
Creating Resource group 'macrochen_rg_Linux_centralus' ...
validation error: Parameter 'ResourceGroup.location' can not be None.
user@Azure:~/quickstart/python-docs-hello-world$ ls
application.py  LICENSE  README.md  requirements.txt

---
#### Document details

⚠ *Do not edit this section. It

[2019-10-13 03:50] jlee-vi opened #40654 "SSIS"
Hi team,

I notice that SSIS is not mentioned here, and yet it's quite an important consideration when selecting a deployment option. Could this be included in the documentation (perhaps with reference to ADF SSIS integration runtime also?)

Many thanks,
James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a66

[2019-10-13 03:56] marckassay opened #40655 "Explanation needed for the Docker-Compose tab"
A closed [comment](https://github.com/MicrosoftDocs/azure-docs/issues/38628) that started by @jewpaltz for this page never got answered. I'm curious myself on the purpose of the Configuration `<textarea>`. More to the point, why is it editable but doesn't seem to reflex any edits? This is in Azure's: App Service &gt; Container Settings &gt; Docker-Compose tab.

And also, for the 'Choose File' butt

[2019-10-13 04:07] krubenok commented on #40645
Update. There was an incomplete installation of the npm package that was taking precedence over the version that I `brew installed` for some reason. Running `npm uninstall` fixed the issue.

[2019-10-13 04:07] #40645 closed

[2019-10-13 04:32] PramodValavala-MSFT commented on #40652
@SogoGolf Thanks for the question! We will review and get back to you!

[2019-10-13 04:32] PramodValavala-MSFT commented on #40647
@Ofer-Gal Thanks for the question! We will review and get back to you!

[2019-10-13 05:19] ggailey777 commented on #37952
@msundbakken thanks for clarifying your original comment. I'll check with the product team to see if they can update the [schema reference document](http://json.schemastore.org/host).

cc. @jeffhollan

[2019-10-13 05:19] msrini-MSFT commented on #40542
@igorjnz , do you have any update on this issue?

[2019-10-13 05:20] msrini-MSFT commented on #40452
@klogan12 , do you have any update on this issue?

[2019-10-13 05:24] ggailey777 commented on #37952
I've opened an issues in the host repo to track this. #please-close

[2019-10-13 05:24] #37952 closed

[2019-10-13 05:26] ggailey777 commented on #39378
#assign:craigshoemaker

[2019-10-13 05:53] #39586 closed

[2019-10-13 06:07] ggailey777 commented on #8868
It sounds like this issue is no longer reproducible. Please reopen this issue if you can still repo it. #please-close

[2019-10-13 06:07] #8868 closed

[2019-10-13 06:41] ggailey777 commented on #9084
I've been working on updating this quickstart, and I haven't run into this issue.

[2019-10-13 06:44] ggailey777 commented on #13016
The referenced PR contains an extension article that adds a storage binding output to this function.

[2019-10-13 06:48] ggailey777 commented on #14178
It seems like this issue has already been fixed. If I'm wrong, please reopen with more details. #please-close

[2019-10-13 06:48] #14178 closed

[2019-10-13 06:51] baatch opened #40657 "Outdated and incomplete"
The tutorial is showing pictures of outdated Azure devops screenshots.
In the start it says:

But the tutorial only creates one build pipeline that also does the deploy release?

Is it not standard to have a build and release pipeline seperately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9cc33d-2ba8-da5e-5420-09

[2019-10-13 06:56] ggailey777 commented on #14927
We are only supporting [LTS versions of Java](https://www.oracle.com/technetwork/java/java-se-support-roadmap.html). [Per Oracle](https://www.oracle.com/technetwork/java/java-se-support-roadmap.html), the next LTS version is [Java 11](https://github.com/Azure/azure-functions-java-worker/issues/120). This article clearly requires JDK 8. #please-close

[2019-10-13 06:56] #14927 closed

[2019-10-13 06:58] ggailey777 commented on #18815
We've updated the original tutorial to show how to add an output binding to the function project and rebuild the container. #please-close

[2019-10-13 06:58] #18815 closed

[2019-10-13 07:09] ggailey777 commented on #31867
#please-close

[2019-10-13 07:09] #31867 closed

[2019-10-13 07:14] ggailey777 commented on #30447
We now have an entry here for [Azure Functions](https://docs.microsoft.com/azure/azure-subscription-service-limits#functions-limits). Please reopen with a new comment if you see that any relevant info is missing. #please-close

[2019-10-13 07:14] #30447 closed

[2019-10-13 11:22] KalyanChanumolu-MSFT commented on #40413
@carcaryn Thank you for reaching out.
Support on GitHub is limited to documentation only.
Please post this issue on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-cosmosdb) for greater visibility.

[2019-10-13 11:22] #40413 closed

[2019-10-13 11:25] KalyanChanumolu-MSFT commented on #40447
@fly-high-bj, @salmanhbutt  Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-13 11:26] KalyanChanumolu-MSFT commented on #40566
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-13 11:26] #40566 closed

[2019-10-13 11:28] KalyanChanumolu-MSFT commented on #40571
@siddharth-vaghasia Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-13 11:34] YutongTie-MSFT commented on #40646
@aldelar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-13 11:36] KalyanChanumolu-MSFT commented on #40283
Is the error message posted above accurate?
I am asking because at the console, you should see localhost but from your message i see the hostname.

![image](https://user-images.githubusercontent.com/8835012/66714984-7189fc80-eddb-11e9-9248-9b58834a9252.png)

[2019-10-13 12:39] souuuf opened #40658 "sample not working when hosting on iis server secured(https)"
Hello,

I hope I can find an answer to my issue.
I've followed te sample : https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

I've created the app Id on azure (with secret key), and set the redirect URL to localhost. when executing the app,I'm able to connect using my MS account, and execute the ms graph functions.

But when I hosted the app on one of my IIS server (https),

[2019-10-13 13:19] VikasPullagura-MSFT commented on #40551
@eriawan Thanks for the PR.

@makotog PR for fixing the document has been raised. The doc will be updated once the author approves the PR. I am closing the issue for now.

[2019-10-13 13:19] #40551 closed

[2019-10-13 13:30] VikasPullagura-MSFT commented on #40549
@Chai-NED Yes, this is currently not supported at this time. This support will be added soon. Please follow the [this page](https://azure.microsoft.com/en-in/updates/?product=virtual-desktop) for the updates on WVD.
I am closing the issue for now.
Thanks.

[2019-10-13 13:30] #40549 closed

[2019-10-13 13:43] macrochen86 commented on #40653
More error massages as shown below:

user@Azure:~/quickstart/python-docs-hello-world$ az webapp up -n hello-world
Webapp hello-world already exits. The command will deploy contents to the existing app
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'resource_group'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages

[2019-10-13 14:06] PingPongSet opened #40659 "What is the difference between BlobAttribute vs BlobTriggerAttribute?"
Can anyone elaborate on the difference between `BlobAttribute` vs `BlobTriggerAttribute`?

       [FunctionName(nameof(Run))]
        public async Task Run(
            [BlobTrigger("container/{name}")]
            byte[] data,
            [Blob("container/{name}", FileAccess.Read)]
            byte[] data2,
            string name)
    		{
                    }

https://docs.microsoft.com/en-us/a

[2019-10-13 14:25] siddharth-vaghasia commented on #40571
Thank you...

[2019-10-13 14:51] VikasPullagura-MSFT commented on #40404
@aquibqureshi26 I have reached out to internal teams on this feedback. At this point we are not doing any changes to the document, as this document is intended to be the minimal steps to get started and the FSLogix documentation is referenced in the article for more details. By default, when FSLogix is installed, “everyone” is added to the include group, so the instructions in the article are corr

[2019-10-13 14:51] #40404 closed

[2019-10-13 15:05] VikasPullagura-MSFT commented on #40548
@Chai-NED I have reached out to internal team on this, and YES it is supported.

Document author has acknowledged you feedback on enhancing the document. Your feedback remains on the document and the authors will priorities this input.

I am closing the issue for now and please feel free to mention my name in the comment if you want to reopen this issue.

[2019-10-13 15:05] #40548 closed

[2019-10-13 15:36] MicahMcKittrick-MSFT commented on #40650
Thanks for the question! We are investigating and will update you shortly.

[2019-10-13 15:47] thomasjsweet opened #40662 "Struggling with the 403 error running the scala code"
Hello,
I realize a lot of hard work went into this tutorial, and support for those running it. I am running into a 403 error with running the scala code in the notebook. I am reasonably sure I have followed all the steps. I gave my application both storage contributor and storage owner role. I am using a pay as you go account, of which I am admin. Is there anything else obvious here?

I am going t

[2019-10-13 16:19] neilmallon opened #40663 "Incorrect screenshot of 'outbound' where it should show 'inbound'"
Under - Negative filtering: "do not sync these" point 3 it states to make sure 'inbound' is selected but the initial screenshot example shows an 'outbound' rule being created'. The subsequent screenshots then show the correct 'inbound' rule title.  Screenshot needs to be updated (or cropped). Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-10-13 16:24] himanshusinha-msft commented on #40643
@meet-rs-api .Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:28] himanshusinha-msft commented on #40644
@sfilinto :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:33] himanshusinha-msft commented on #40649
@mahanteshvk . Thanks for the feedback . Can you please let us know which Microsoft document you are referring to ?

[2019-10-13 16:37] himanshusinha-msft commented on #40651
@mbrancato  . Thanks for the feedback .We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-10-13 16:43] himanshusinha-msft commented on #40653
@macrochen86 :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:45] himanshusinha-msft commented on #40654
@jlee-vi .Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:48] himanshusinha-msft commented on #40655
@marckassay :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:51] himanshusinha-msft commented on #40657
@baatch : Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:51] himanshusinha-msft commented on #40657
@baatch :We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-10-13 16:54] himanshusinha-msft commented on #40658
@souuuf :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 16:58] himanshusinha-msft commented on #40659
@PingPongSet :Thanks for the feedback  . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 17:01] himanshusinha-msft commented on #40662
@thomasjsweet .Thanks for the feedback . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 17:03] himanshusinha-msft commented on #40663
@neilmallon.Thanks for the feedback . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 17:48] Raj-Krishnamoorthy opened #40664 "Architecture diagram"
Great documentation. An Architecture diagram would be very useful and easy to understand if there is a picture, especially for the network aspect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03a0dc36-e3d5-3a28-c9f9-9e514150d7a4
* Version Independent ID: 5b19f443-599f-e367-3566-f43be87dcf78
* Content: [Tutorial: Add

[2019-10-13 18:02] NavtejSaini-MSFT commented on #40385
Thanks @rachel-msft. Please confirm  and close the issue once the typo is fixed.

[2019-10-13 18:04] KrishnaG-MSFT commented on #40463
@ElanShudnow As at this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-10-13 18:04] #40463 closed

[2019-10-13 18:18] thomasjsweet opened #40665 "Few things I needed to do to make this work"
Hi, - this demo helped me learn - thank you. I had to be a bit creative however.
1. The docker image kept exiting(1) after starting. I rebuilt using Ubuntu 18, with a bigger sku. That worked.
2. I could not connect to sql unless I checked the "Trust server certificate" checkbox in the options of SQL Manager.
3. I could not get the notebook to connect to the DB, but I eventually opened up all IP to

[2019-10-13 19:07] souuuf commented on #40658
Thank you, Waiting for a solution from you :)

[2019-10-13 19:17] DaleKoetke commented on #40430
Europe West and Europe North are different regions (see https://azure.microsoft.com/en-us/global-infrastructure/regions/). So as stated at https://azure.microsoft.com/en-ca/pricing/details/bandwidth/, outbound data transfer between Azure services located in two regions is charged at the normal rate and inbound data transfer is free.

[2019-10-13 20:12] eosho commented on #5544
1) Can assignable scope also be done on the Resource group level where folks with resource group level access can access the network watcher?

2) Is it also possible to scope this per region ? For example if #1 is true, and users are in the USA they can only manage network watcher in the USA region but not any other country.

[2019-10-13 20:13] rbrayb opened #40666 "Custom policies are now GA"
"custom policies (in public preview)".

They are now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899-f35a-0f08-d280110ded13
* Content: [Frequently asked questions (FAQ) for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/

[2019-10-13 20:38] JohnRusk commented on #30980
@vikaskumawat80 and @ImrePyhvel Azure -> S3 is not currently supported. There is a feature request logged here: https://github.com/Azure/azure-storage-azcopy/issues/348, with some discussion there of if it should be implemented.

[2019-10-13 20:38] himanshusinha-msft commented on #40664
@Raj-Krishnamoorthy Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 20:40] himanshusinha-msft commented on #40664
@Raj-Krishnamoorthy  We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-10-13 20:41] himanshusinha-msft commented on #40665
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 20:43] himanshusinha-msft commented on #40665
@thomasjsweet :We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-10-13 20:44] JohnRusk commented on #36347
BTW, recent versions of AzCopy are designed to delete target blobs/files after an error.  E..g if it gets half-way through transferring a particular file, then that file fails for some reason, it will attempt to delete the half-written destination file. This is necessary for things like Azure Files, where there is no concept of committed/uncommitted.  For consistency, AzCopy also does the same thi

[2019-10-13 20:44] himanshusinha-msft commented on #40666
@rbrayb Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-13 20:45] himanshusinha-msft commented on #40666
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-10-13 20:52] JohnRusk commented on #35800
@nicolaszhang Regarding partial data, see my comment above (in the thread Purge Bad Blocks). AzCopy is designed to delete partial data after failures IF it has deletion rights and IF the failure is a controlled one (i.e. something where AzCopy can detect it and perform cleanup in response). Sudden termination of the AzCopy process itself would not be a controlled failure, and so it would not be ab

[2019-10-13 20:53] JohnRusk commented on #35712
The relevant feature request is here: https://github.com/Azure/azure-storage-azcopy/issues/348

[2019-10-13 21:04] JohnRusk opened #40667 "Please clarify when base share is modified"
The page says: "The share snapshot remains intact after copying, but the base file share is overwritten with a copy of the data that was available in the share snapshot".  It's not clear, from the current wording, whether the base share is overwritten only if you are restoring _to_ the base share; or if the base share also gets modified even if you are coping the data from the snapshot _to somewhe

[2019-10-13 21:04] JohnRusk commented on #40154
For blobs you can simply use the URL of the snapshot as the source.  Snapshot URLs look like the URL of their parent blob, but have an additional query string parameter to identify the snapshot date (in addition to the SAS, if any).  I'm not sure of the answer regarding Files.

[2019-10-13 21:25] ggailey777 commented on #24109
@ericnewton76 sorry it took so long to address your issue.
I have created a PR to add a note about the timezone. You can add your requests for portal features, including timezone info and CRON builder in this repo: https://github.com/azure/azure-functions-ux/issues

[2019-10-13 22:07] baatch opened #40668 "More detailed documentation about the whole solution is needed."
Hi could we please have a more detailed documentation of the complete solution? It is very shallow and very hard to get an understanding of the data flow and etl process..

For Azure functions, exactly how is the data processed? Are there any transformations of the data and which are the intermediete sql tables?

A data flow diagram would be very helpful.

Also more details about the sql tables an

[2019-10-13 22:33] SogoGolf opened #40669 "add an example"
i think it would be useful to add an example here using Azure Data Factory for the following scenario:
- copy data from one hosted CosmosDb (eg. prod) into a second hosted CosmosDb (eg. test)

in this case, each time the copy operation is run, data in the destination CosmosDb is DELETED/CLEARED, before copying data from "prod" (to "test")

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-13 22:54] mmacy commented on #40666
@rbrayb Wow. Amazing these are still cropping up, hanks for catching this. Fixing now. :flushed:

[2019-10-13 23:00] #40666 closed

[2019-10-13 23:38] fowl2 commented on #17996
Ahh, so the correct way to get a resource provider for a resource is the following?

`Get-AzResourceProvider -ProviderNamespace ($resource.ResourceType.Split('/')[0])`

[2019-10-14 01:03] don4of4 opened #40670 "Blob Filtering Advice is Misleading/Wrong"
This documentation around filtering on this page is highly misleading.

This language leads users to believe that `PutBlob` is an atomic commit for a blob, and it is not.  It is an atomic BLOCK operation and will be called many times while a blob is being uploaded.  Users should instead filter to PutBlockList.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-14 01:05] #40670 closed

[2019-10-14 01:27] KrishnaG-MSFT commented on #40670
@don4of4 Hope you have self resolved the issue and hence closed the issue. Thanks for the update.

[2019-10-14 02:20] RezareBuildmaster opened #40672 "Spelling mistake on this line"
compatible with the paswordless experience. Microsoft encourages customers to evaluate the

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory passwordless sign in (preview)](https://docs.mi

[2019-10-14 02:25] veyalla commented on #40277
@gerhard67 It seems like you are trying to install IoT Edge daemon in a Docker container. This is not tested and most likely won't work because of systemd dependencies.

 I'm not sure what scenario you're trying but you can run IoT Edge with Linux containers w/ Docker Desktop for Windows following the instructions in this article. With this config, It uses the iotedged service on Windows, the apt-

[2019-10-14 02:32] SwathiDhanwada-MSFT commented on #40667
@JohnRusk Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-14 02:35] SwathiDhanwada-MSFT commented on #40668
@baatch Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-14 02:41] SwathiDhanwada-MSFT commented on #40669
@SogoGolf Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-14 02:44] SwathiDhanwada-MSFT commented on #40672
@RezareBuildmaster Thanks for the feedback. At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-14 03:03] Alberto-Vega-MSFT commented on #40262
@jomalsan Thanks for taking the time to provide feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-14 03:21] Alberto-Vega-MSFT commented on #40277
@gerhard67 These issues are reserved for feedback for the documentation and it doesn't seem like you are following this tutorial. I see that you are MS employee please reach out to me and I can connect you with some help in the edge team or you can reach out to veyalla too.

[2019-10-14 03:21] #40277 closed

[2019-10-14 03:33] SumanthMarigowda-MSFT commented on #40386
@samhodgkinson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-14 03:36] YutongTie-MSFT commented on #40398
@j-martens Hi Josee, could you please help us to add those information to document? Thanks a lot.

[2019-10-14 03:37] SumanthMarigowda-MSFT commented on #40254
@qub1n Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
If you still find any difficulties in pricing, Free [billing and subscription management suppor](https://azure.microsoft.com/en-us/support/options/)t has been provided.

[2019-10-14 03:37] #40254 closed

[2019-10-14 04:11] TimLovellSmith opened #40673 "How are NAT pool ports assigned?"
Is it meant to be predictable, corresponding to instanceInputEndpoint? Inquiring minds want to know if they can depend on any such assumption!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcdef
* Version Independent ID: 9ada224f-5a76-bcde-2dc0-928a29c4323f
* Content: [Azure virtual mach

[2019-10-14 04:22] KetanChawda-MSFT commented on #40419
@SABARISHV06 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 04:22] #40419 closed

[2019-10-14 04:24] KetanChawda-MSFT commented on #40527
@FISHMANPET Checking in to see if the above post helped answering your question.

[2019-10-14 04:29] SwathiDhanwada-MSFT commented on #40359
@ATummillo  Are you still facing the issue?
@enadmin  Yes, Microsoft.LogAnalytics isn't available. I have removed it. Can you please verify again  if you are still not able to see Guest(Classic) even after registering the mentioned resource providers?

[2019-10-14 04:38] femsulu commented on #40120
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-14 04:38] #40120 closed

[2019-10-14 04:45] kweebtronic commented on #36709
Need to import the storage management package 'Microsoft.Azure.Management.Storage' and then instantiate a StorageManagementClient with appropriate credentials. Then you can use the extension methods to set a legal hold e.g.

await client.BlobContainers.SetLegalHoldAsync(
	resourceGroup,
	storageAccount,
	containerName,
	tags,
	cancellationToken);

[2019-10-14 04:46] femsulu commented on #40318
@ctaggart we will now close this issue since your original question has been answered. Please don't hesitate to reply if you have any follow-up comments or questions.

[2019-10-14 04:46] #40318 closed

[2019-10-14 04:49] CHEEKATLAPRADEEP-MSFT commented on #40662
@thomasjsweet This error occurs if the service principal which you are using for Azure Data Lake Storage Gen2 is not granted the appropriate role assignment.

Register the service principal, granting the correct role assignment, such as Storage Blob Data Contributor, on the Azure Data Lake Storage Gen2 account.

Hope this helps.

[2019-10-14 05:07] SnehaAgrawal-MSFT commented on #40461
Thanks again for asking Question! As mentioned in the doc to grant this identity access to our SQL Database, we need to add it to an Azure AD group.
Also, for granting permissions Azure AD user's credentials is required.
You may refer to below doc: https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#azure-ad-administrator-roles

[2019-10-14 05:11] SwathiDhanwada-MSFT commented on #40673
@TimLovellSmith Thanks for the comment. We are actively looking into it.

[2019-10-14 05:14] YutongTie-MSFT commented on #40646
@aldelar Hi, thank you for the feedback, I have fixed the link and you should see the change soon. ^^

[2019-10-14 05:16] femsulu commented on #40351
@qianw211  - kindly review.

[2019-10-14 05:26] SnehaAgrawal-MSFT commented on #40565
Thanks again for asking question! When we deploy our web app to App Service we can use a separate deployment slot instead of the default production slot called as staging slot when running in the Standard, Premium, or Isolated App Service plan tier.  Deployment slots are live apps with their own host names. App content and configurations elements can be swapped between two deployment slots, includ

[2019-10-14 05:35] KalyanChanumolu-MSFT commented on #40654
@jlee-vi Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-14 05:41] msrini-MSFT commented on #40632
@jetsons , I will go ahead and close this issue for now. If you have any further questions please feel free to tag me.

[2019-10-14 05:41] #40632 closed

[2019-10-14 05:42] msrini-MSFT commented on #40542
@igorjnz , I will go ahead and close this issue for now. Please feel free to tag me if you have any further questions.

[2019-10-14 05:42] #40542 closed

[2019-10-14 05:43] msrini-MSFT commented on #40497
@Euripedes68 , I will go ahead and close this issue for now. Please feel free to tag me if you have any further questions.

[2019-10-14 05:43] #40497 closed

[2019-10-14 05:44] msrini-MSFT commented on #40452
@klogan12 , I will close this issue for now. Please drop an email to azcommunity@microsoft.com with exact details of AFD and backend configuration to troubleshoot further.

[2019-10-14 05:44] #40452 closed

[2019-10-14 05:48] souravmishra-msft commented on #40378
@kebaranas, Since we didnt get any response from your end on this, we are closing this thread. Please open a new thread against the doc.

[2019-10-14 05:48] #40378 closed

[2019-10-14 05:49] ManojReddy-MSFT commented on #40672
@RezareBuildmaster Thanks for taking the time to report this. I have updated the doc and the issue will be closed automatically when the PR is merged.

[2019-10-14 06:02] femsulu commented on #40324
Hi @veeyeskay , I just tested all the links in the first paragraph and they all work fine. Its possible this was resolved earlier in the week. Please send a screenshot if you are still experiencing the error.
Closing this issue as resolved but don't hesitate to respond if issue persists.

cheers.

[2019-10-14 06:02] #40324 closed

[2019-10-14 06:05] #40672 closed

[2019-10-14 06:09] SwathiDhanwada-MSFT commented on #40567
@madhanan When you create the automation account, there are some modules that are already available. Those are called as global modules.Here are the list of global modules.

![image](https://user-images.githubusercontent.com/48976275/66731881-3210ee00-ee77-11e9-8fdf-32f5790cd153.png)

Hope this helps !

[2019-10-14 06:20] DashleenBhandari-MSFT commented on #40374
@SgtSpamCan , could you please elaborate the steps so that I can investigate further

[2019-10-14 06:26] souravmishra-msft commented on #40472
@elhamkarshenas, Just wanted to check with you if the earlier response helped in clarifying your query or not. Do let us know if there are any more queries around this.

[2019-10-14 06:28] souravmishra-msft commented on #40210
@amarnathprofisssional, I just wanted to check with you if there are any more queries around this question. Do let us know, so that we can proceed accordingly.

[2019-10-14 06:34] ram-msft commented on #40570
@xenogew Can you please share the sample that you are trying, please follow the below documents for using the predictions().
https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.cognitiveservices.vision.customvision.prediction.predictions.detectimage?view=azure-java-stable#com_microsoft_azure_cognitiveservices_vision_customvision_prediction_Predictions_detectImage__

https://docs.microsof

[2019-10-14 06:49] harika-thallam opened #40674 "Is there any existing documentation around Json structure required for creating datasource of type Custom Log for log analytics workspace?"
Hi team,

I was looking for documentation around creation of a custom data source (Custom Log) for Log analytics workspace. There seems to be details around the process to be followed using Azure Portal(https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-data-sources).

But however, I couldn't find much when coming to REST API documentation (https://docs.microsoft.com/en-us/rest/ap

[2019-10-14 06:49] souravmishra-msft commented on #40004
@cdandrea, I wanted to following up with you to check if the above response helped or not. If not do let us know if there are any more queries around this so that we can help accordingly.

[2019-10-14 06:51] BharathNimmala-MSFT commented on #40636
@rajata07 Thanks again for your question. The [Filtering and preprocessing telemetry in Application Insights SDK](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling)  page talks about examples for supported languages. Currently Azure Monitor only provides support when using the supported SDKs listed on [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pl

[2019-10-14 06:58] SABARISHV06 commented on #40419
@KetanChawda-MSFT sorry for the delay, I refered the link https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net and by the way I found the answer for the bulk update by using **enableUpsert**  flag. Thanks for the help over here.

[2019-10-14 07:02] Boombasteg opened #40675 "Why don't changed used space in ACR after puging?"
I tuned auto purging my ACR according [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge), and check it (all works, hundreds of my images have been successfully deleted).

But I can't see that used space has been changed in overview my ACR. Why?

![image](https://user-images.githubusercontent.com/11660672/66733845-8ca34d80-ee69-11e9-8fc7-6d60fec3

[2019-10-14 07:02] SnehaAgrawal-MSFT commented on #35478
@psallis Apologize to delay response. This issue has been resolved. If any other concerns on this request to open fresh issue for better visibility. Thanks again!

[2019-10-14 07:14] nnamedieh commented on #8666
Any Update on this? I do not exactly know why you closed this case, since there was no solution provided. I have the same issue. I want to use AzureAD PowerShell v2 module to get information about "UsersPermissionToUserConsentToAppEnabled" by using command (Get-MsolCompanyInformation).UsersPermissionToUserConsentToAppEnabled. Is there any pendant to Get-MsolCompanyInformation in AzureAD v2 Module?

[2019-10-14 07:17] BoSoeborgPetersen commented on #30419
How about now?

[2019-10-14 07:31] #24109 closed

[2019-10-14 07:33] jovanpop-msft commented on #36295
#please-close  because we are explaining that there will be short amount of time and the customer who is using retry logic would not notice this.

We are not describing time because it should be few seconds in most of the cases, but edge cases is hard to explain here.

[2019-10-14 07:33] #36295 closed

[2019-10-14 07:34] jovanpop-msft commented on #38824
#please-close because we don't have additional info that we can share at the moment.

[2019-10-14 07:34] #38824 closed

[2019-10-14 07:53] BhupalPatil commented on #40106
Thanks @Alberto-Vega-MSFT , I have sent mail to  AZCommunity@microsoft.com, I have also raised same query on StackOverflow.

Thanks,
Bhupal

[2019-10-14 08:05] mfalkvidd opened #40676 "404 link to EventHubTriggerAttribute.cs"
This page links to https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/EventHubTriggerAttribute.cs which results in 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa

[2019-10-14 08:09] sparianer commented on #39519
@djpmsft I just can confirm the statement of @tianlai, since it took me quite a time to find out, that this issue is not a problem of my code/settings, but an Azure problem.
There is no hint or message at all when you configure a trigger that way. *sigh*

BTW: There are now more than two weeks ago and the error is still occurring in region Europe West.
How is the current state/planning?

[2019-10-14 08:19] jakaruna-MSFT commented on #40650
[Image ](https://hub.docker.com/r/microsoft/samples-tf-mnist-demo/tags) is uploaded to docker hub by @lachie83

@zr-msft do you have any inputs regarding this issue?

[2019-10-14 08:22] DashleenBhandari-MSFT commented on #40643
@meet-rs-api ,
To enable web server logging for Windows apps in the Azure portal, navigate to your app and select App Service logs.

For Web server logging, select Storage to store logs on blob storage, or File System to store logs on the App Service file system.

There is *default_docker.log file under /home/LogFiles which contains stdout and stderr logs.

https://docs.microsoft.com/en-us/azure/a

[2019-10-14 08:28] RamlingaReddy opened #40677 "Conditional Access Support for Storage Explorer"
Could you confirm if Conditional Access support has been added to Storage Explorer ? As per this article, CA is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f1c7f52-873b-e4c1-cd82-90acb5059eb2
* Version Independent ID: 6558eee1-6893-9508-007b-6cbe1446abfc
* Content: [Azure Storage Explorer troubleshoo

[2019-10-14 08:37] jtuliani opened #40679 "Modify should have Mode=Indexed? What about tags on resource groups?"
Doc states: A Modify policy should always have mode set to Indexed.

However, from https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#mode it's clear that mode=all would be required to modify tags on resource groups.

Appears contradictory. I suggest the guidance in this doc should be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-14 08:38] SwathiDhanwada-MSFT commented on #40674
@harika-thallam Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-14 08:40] SwathiDhanwada-MSFT commented on #40675
@Boombasteg Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-14 08:42] Leejung168 opened #40680 "FrontDoor has certificate name(CN) check enabled"
Hi Doc Team,

There are 4 informations need to update to avoid any confusion.

a. By default, Azure Front Door has certificate name(CN) check enabled, which leads the backend is unhealthy if the CN doesn't match between the certificate that returned by backend and the hostname that configured on the backend host header. To fix this, we can disable certificate check by running:
Get-AzFrontDoor -Res

[2019-10-14 08:43] SwathiDhanwada-MSFT commented on #40676
@mfalkvidd Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-14 08:44] SwathiDhanwada-MSFT commented on #40677
@RamlingaReddy Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-14 08:45] SwathiDhanwada-MSFT commented on #40679
@jtuliani Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-14 08:45] qub1n commented on #40254
ok, thanks, this answer is fine. Just please update the documentation, it is not written there.

[2019-10-14 08:48] austindonnelly opened #40681 "How is Azure NetApp Files different from Azure Files?"
There's the NFS vs. SMB difference, and the storage pool management, anything else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45-f9f3-991fb4cf8eb1
* Version Independent ID: 8335006a-84b6-700d-03a4-36191da4791a
* Content: [FAQs About Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-n

[2019-10-14 08:51] DixitArora-MSFT commented on #40492
@koushik984 For now I will proceed with closure of this . Since this channel is for driving improvements towards MS Docs. For any product related question/issue, I would recommend you to create a thread on the forums- MSDN / Stackoverflow and If there are further questions regarding this doc, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 08:52] SubhashVasarapu-MSFT commented on #40680
@Leejung168 , Please help with the link of document on which above document feedback request is created.In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-10-14 08:57] prabhakarreddy1234 opened #40682 "Add Exclusion to Azure policy through Azure CLI"
I can't find documentation on how to add `exclusions` to a policy assignment through Azure CLI.

https://docs.microsoft.com/en-us/cli/azure/policy/assignment?view=azure-cli-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6760bb-c278-da56-a95c-4e82e221f1e8
* Version Independent ID: e25cbd2a-b415-214f-7d50-c40399

[2019-10-14 09:01] KrishnaG-MSFT commented on #40568
As at this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-10-14 09:01] #40568 closed

[2019-10-14 09:04] SumanthMarigowda-MSFT commented on #40681
@austindonnelly Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-14 09:06] ivanignatiev opened #40683 "Add to this document description of the ApiManagement service tag"
Hello,

There is ApiManagement service tag, if I am right it represents only Api Management control plane service from ARM side and not the service itself which will connect to API backend.

That is confusing when ApiManagement service tag allowance in NSG does not allow to ApiManagement gateway to connect to backend, please describe it in details in the documentation.

---
#### Document Details

[2019-10-14 09:32] gossion opened #40684 "Which ports and domains do I need to open/whitelist for the agent in Azure China cloud?"
The ports and domains mentioned [above](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-faq#which-ports-and-domains-do-i-need-to-openwhitelist-for-the-agent) do not cover Azure China cloud, can you add list for china cloud?

And BTW, customer saw an error within AKS monitoring addon like
[code]

It posted request to chinaeast2.monitoring.azure.com , but when we exe

[2019-10-14 09:41] SumanthMarigowda-MSFT commented on #40516
@ekpgh  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-14 09:51] jos1977 opened #40686 "Current link to the Azure Databricks dbc is not working"
The current link to the Azure Databricks notebook file is not working, it seems like the github respository is there, but not the file  :

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/azure-databricks/Databricks_AMLSDK_1-4_6.dbc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92

[2019-10-14 09:51] PramodValavala-MSFT commented on #40683
@ivanignatiev Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-10-14 10:07] ManojReddy-MSFT commented on #40479
@andrePKI  We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-10-14 10:07] #40479 closed

[2019-10-14 10:26] ram-msft commented on #40686
@jos1977 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-10-14 10:34] adeinde opened #40687 "Alternate Phone Option"
Is it possible to make the Alternate Phone Option invisible to users in Combined SSPR mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Version Independent ID: 0ebfde0e-5597-fed9-f87c-761fd778fb25
* Content: [Combined registration for Azure AD SSPR and Multi-Factor Authenticati

[2019-10-14 10:42] meet-rs-api commented on #40643
My comment was about incorrect guidance you have on the web page which implies that there is some special switch to be enabled for docker container logging in addition to enabling app service logs.

Anyhow, I am fine with closing this issue as I might be the only one confused with the wording :)

[2019-10-14 10:42] #40643 closed

[2019-10-14 11:00] SnehaAgrawal-MSFT commented on #40451
@chadsowald For detailed information on this you may refer to this blog: https://blogs.technet.microsoft.com/kv/2016/09/26/manage-certificates-via-azure-key-vault/
Also, we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [MSDN](https://social.msdn.micro

[2019-10-14 11:00] #40451 closed

[2019-10-14 11:02] elvirus839 commented on #39724
Hi, I encountered the same issue, trying to run the script on windows:
D:\Projects\Log10\Log10Info\azure-iot-samples-python-master\iot-hub\Quickstarts\back-end-application>python BackEndApplication.py
Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in <module>
    import iothub_service_client
  File "C:\Users\juniore\AppData\Local\Programs\Python\Python37-32\lib\site-pac

[2019-10-14 11:08] PramodValavala-MSFT commented on #40592
@rostyslav-diakiv Thanks for working up a PR for this!

[2019-10-14 11:11] ManojReddy-MSFT commented on #40667
@JohnRusk I am modifying "You can copy a file in a share snapshot to a destination with a different name. The resulting destination file is a writable file and not a share snapshot."  to

"You can copy a file in a share snapshot to a different destination with a different name. The resulting destination file is a writable file and not a share snapshot. In this case, your base file share will remai

[2019-10-14 11:15] shashishailaj commented on #40285
@amotley At this point the Managed Identity does not have cross domain capability and we do not have any plans for making it that way as of now . In case it is ever made it would have some privacy compliance and consent implications due to which the resulting solution would be exceedingly complex. We will close this issue now. I would suggest you to provide feedback on the [Azure feedback forums](

[2019-10-14 11:15] #40285 closed

[2019-10-14 11:17] PramodValavala-MSFT commented on #40659
@PingPongSet To quote the doc for the trigger attribute,

and the one for the input binding attribute,

[2019-10-14 11:17] ismaan1998 opened #40688 "Connect to Azure Cosmos DB"
The code provided in this section won't work because there is a single ' comma ' missing in the end of connection_string

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1dcd40-daee-e1f1-3c10-1f0e02d7c794
* Version Independent ID: ae5f5ff1-9d2f-2780-89d2-a6fa1fba43e7
* Content: [Get started with Azure Table storage and

[2019-10-14 11:17] baSSiLL commented on #40511
Hi @FrankHu-MSFT
Here is an initial authentication request which is done from the main browser frame (request is built by **passport-azure-ad** library for Node JS).
`
https://<my tenant>.b2clogin.com/<my tenant>.onmicrosoft.com/oauth2/v2.0/authorize?p=b2c_1_signin&redirect_uri=<my redirect uri>&response_type=code%20id_token&response_mode=form_post&client_id=c8775769-a3a5-4d43-9783-959d94aee71a&st

[2019-10-14 11:26] SwathiDhanwada-MSFT commented on #40640
@igomat From the information provided, i could see you are unable to view the customer subscription from your tenant. And similar issues #40642 #40641  has been reported by you where you are unable to view the customer subscription. Can you please cross verify if you have necessary access to the customer subscription?

@JnHs Any inputs on this issue?

[2019-10-14 11:38] shashishailaj commented on #40488
@memildin Could you please help on this further and have this verified with engineering ? The document will need to be updated accordingly.

[2019-10-14 11:44] shashishailaj commented on #40480
@iainfoulds @MikeStephens-MS Could you please review this request and help make changes to the documentation as requested by the customer ?

[2019-10-14 11:45] PorkyProgs opened #40691 "Confusion regards 1st point mentioned under 'Enable TLS 1.2 for Azure AD Connect' section"
Under the section: Enable TLS 1.2 for Azure AD Connect
is the 1st point correct:
1. TLS 1.2 cannot be enabled prior to Windows Server 2008 R2 or later.
Should it not read:
1. TLS 1.2 cannot be enabled prior to Windows Server 2008 R2 or earlier.
Or have I really misunderstood something here?
AtB
Porky

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-10-14 11:58] timyhac opened #40693 "Protect Self"
This page from AWS has some pseudocode that I want to emulate: https://aws.amazon.com/blogs/aws/new-instance-protection-for-auto-scaling/
Basically, while doing some long-running task I want to protect the instance from scale-in, and in my application - it needs to come from the instance doing the work.

How do you set instance protection from within the VM itself?
-- OR --
How do you find the ins

[2019-10-14 12:06] simonemarra commented on #40317
Just use Hub.RegisterNative to use the third parameter (also UnregisterAll method is affected by this change!)

[2019-10-14 12:06] AndrewLouw opened #40694 "Metric size limit is much too small"
I often get an error: Metric Document is too large, xxxxb is larger than the max metric size 3000b
I don't understand why there is a limit on the size of the metric document, and why it's so small. But it means that if I train for 400 epochs then the size of the list of loss values is too large to be uploaded on it's own. This fails the run after training and prevents other metrics being tacked, p

[2019-10-14 12:24] eakoning opened #40695 "`SecureString` should not be used for new development"
The docs about `SecureString` state that it should not be used for new development.
https://docs.microsoft.com/en-us/dotnet/api/system.security.securestring?view=netframework-4.8#remarks

I think the code sample on this page should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-29943

[2019-10-14 12:38] silverl commented on #40132
Hi, @TravisCragg-MSFT. Checking up with you after a week. Any update? Thanks.

[2019-10-14 12:43] tudormaz opened #40696 "Removing special chars"
Hello. I haven't been able to find an example of how to remove/replace a special char from a string. In my case, I have a variable which contains some line breaks. How can I remove them? I tried via @replace(varName, '\n', '') and @replace(varName, '\\n', ''). It didn't work. Any other ideas? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-10-14 12:55] drdamour commented on #40461
I think u need to re-evaluate the question as https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-sql#create-a-contained-user-in-the-database-that-represents-the-vms-system-assigned-identity shows you can grant access to a user without adding them to an ad group.  This article should be updated to explain the group is not nescessary

[2019-10-14 12:58] jovanpop-msft commented on #34275
#please-close page is changed

[2019-10-14 12:58] #34275 closed

[2019-10-14 13:02] treimers commented on #40513
Thank you very much for your answers and your support.

I did an "az account set" before I tried the cluster creation. So I think this was not the reason.

I made a new attempt according to the AKS walk through and it worked:

az aks create --resource-group TRS-aks-test --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys
SSH key files '/home/treimers/.ssh/id_rsa' and

[2019-10-14 13:02] #40513 closed

[2019-10-14 13:03] Canis-Lupis commented on #40603
Thank you, Frank.  I look forward to seeing what your team finds out/clarifies.
________________________________
From: Frank Hu <notifications@github.com>
Sent: Friday, October 11, 2019 4:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Suggestions (#40603)

[2019-10-14 13:05] shriazure commented on #40607
@djpmsft Thank you for the response. The idea behind using "All Containers" is to create event for all the files created under the storage namespace to copy them to a secondary storage using ADF pipeline. Again, the geo replication option provided by Microsoft is not helping me as our DR region is in a different geography. So I would like to create ADF pipeline for auto copy. I am open to any othe

[2019-10-14 13:07] shriazure commented on #40607
I understand this is not an issue per se. But I would like to continue to engage on this thread as I am trying to find out a solution for my requirement as explained in my previous response to @djpmsft. Thanks.

[2019-10-14 13:14] cgballance opened #40697 "magic ip addresses"
i think it would be useful to note that the ip addrs for external dns in this example states that these are centurylink dns servers.  maybe a link to a list of public dns servers would be instructive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-

[2019-10-14 13:32] karandesai28 opened #40698 "How to find out the changelog of which azure user changed the value of which parameter?"
I thought the changelog would get saved in the Activity Log but I am not able to find it there. Do I need to setup logging for changes to get recorded? If yes, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86f6b13-c87a-15ae-c1c1-18f76590071e
* Version Independent ID: 39300193-b15f-fc88-5c56-00b4d4ff9506
* Conten

[2019-10-14 13:36] DCtheGeek commented on #40679
#reassign:DCtheGeek

[2019-10-14 13:37] DCtheGeek commented on #40679
@jtuliani Great question. I'm checking with the team to confirm as I believe you are correct. Thanks!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-10-14 13:40] mafis-hh opened #40699 "Data Factory - Linked Service - allow parameter for Integration Runtime"
The parameterization of Data Factory objects, especially Linked Services is a very valuable feature. We are using it quite often to reduce code duplication.

We now have the case, that we would like to use Linked Services as OnPrem MS SQL Server or OnPrem Oracle instances on multiple networks.
We have Self hosted integration runtimes for each network. But so far we can't parameterize the integrati

[2019-10-14 13:43] lpozo16 opened #40700 "Broken link"
Hi, the ApplicationInisghts-Home link doesn't work --&gt; https://github.com/Microsoft/ApplicationInsights-Home/labels/schema   . The result is "No results matched your search." Please, fixe it.

Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abec1591-e1ef-dcae-9cb7-8a6afd7de947
* Version Independent ID:

[2019-10-14 13:46] j-martens commented on #40398
#reassign:@peterclu

[2019-10-14 13:50] chadsowald commented on #40451
Thanks @SnehaAgrawal-MSFT.  For others who might find this question, that blog doesn't directly answer either question, but comes close:

1. The App Service "periodically polls" for renewed certs from the KV.  Again, in my testing it took about 3-4 hours.
2. When a new cert is found App Service "rebinds SSL/TLS for your app".  It doesn't say if it restarts your app or not.  Presumably not though,

[2019-10-14 14:01] porrascarlos802018 opened #40701 "support policy not provided."
Customers are looking now for Istio , and our website doesnt tell anything about SLA, or support policy , AKS has a support policy telling ISTIO its third party not technical support, so does GKE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f

[2019-10-14 14:11] mafis-hh opened #40703 "Data Factory publish from git branch - "Integration Runtime" won't be created"
We have multiple stages for DataFactory, so we have one Data Factory for DEV and one for PROD.

We use Azure DevOps Repo to transport the development (adf objects) from DEV to Prod. Using this scenario we have the issue with transporting an "Linked Integration Runtime" (the linked runtime is self hosted).

We merged our changes from development branch (for DEV Data Factory) to master branch (for P

[2019-10-14 14:16] arcotek-ltd opened #40704 "Silent install / automation options"
Thanks for the documentation, however, I don't see any reference to installing this silently / autonomously.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Azure AD Connect: Custom installation](https://docs.

[2019-10-14 14:23] b-juche commented on #40681
I myself am not familiar with Azure Files.  Looping in Lichun @lichunli-ms for response.

[2019-10-14 14:24] thiagosoeiro commented on #16997
Any update on this? I'm facing the same 40mb limit error.

[2019-10-14 14:25] shivtorov opened #40706 "URL formatting"
the URL of this article is:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/headerf5-tutorial
it's better to fix it to be:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/f5-tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425194b4-d7e2-5f13-a6ca-294bd227d565
* Version Indepen

[2019-10-14 14:27] b-juche commented on #40516
@ekpgh Could you please elaborate what the issue is about?  Sorry I'm not clear.  The file currently has the following ms.date format:

ms.date: 04/16/2019

I think that matches the mm/dd/yyyy format.

[2019-10-14 14:30] Mort2k commented on #33551
Hello

Did anyone solve this ?

Same issue for me on initial deployment. I have checked all permissions:

Error
{ "id": "/subscriptions/ccb48057-fba5-48fb-8b5f-858c54753d23/resourceGroups/CetusVWD-MGMT/providers/Microsoft.Resources/deployments/Microsoft.Template/operations/B9D63EC87D210D52", "operationId": "B9D63EC87D210D52", "properties": { "provisioningOperation": "Create", "provisioningState":

[2019-10-14 14:30] kraigb commented on #40544
@walsehgal Yes, please file an issue on https://github.com/Microsoft/AzureNotebooks/issues as this doesn't seem like a doc issue. Once you've filed an issue there, please close this one.

[2019-10-14 14:34] MicahMcKittrick-MSFT commented on #40693
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-14 14:35] MicahMcKittrick-MSFT commented on #40701
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-14 14:35] husamhilal opened #40707 "KEK Rotation"
Is the Key Encryption Key rotated automatically? Same for Encryption Keys that are stored as secrets? How that is managed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c15-78f7-adac-151401c13b6c
* Content: [Enable Azure Disk Encryption for Windo

[2019-10-14 14:35] ekpgh commented on #40516
That's odd. When I viewed the article last week it had 15 in the month place, something like 15/04/2019. It looks okay today, though. Maybe there was a bug somewhere else that affected it. I checked it three times - and the other articles in the doc set didn't have that. Didn't save a screenshot I guess. At any rate, it's okay now. Thanks for checking.

[2019-10-14 14:49] j-martens commented on #39882
#reassign:@cartacioS
FYI: @trevorbye

[2019-10-14 14:50] SnehaAgrawal-MSFT commented on #40461
@drdamour Thanks for bringing this to our attention. I have shared  your feedback with the content owner for further review.

[2019-10-14 14:53] NavtejSaini-MSFT commented on #40695
@eakoning Thanks for the feedback. We are checking this.

[2019-10-14 14:55] mrbullwinkle commented on #40636
@rajata07 just to expand on the response above the App Insights community SDK for Python linked to in the reply above is not supported and is not recommended by the Application Insights product group.

For Python + Application Insights we recommend testing out our OpenCensus/Open Telemetry integration with Python: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python](https:/

[2019-10-14 14:56] NavtejSaini-MSFT commented on #40698
@karandesai28 We are checking this and we will get back to you.

[2019-10-14 14:59] MicahMcKittrick-MSFT commented on #40587
@rostyslav-diakiv fixed :) Once the PR merges the changes will go live after a few hours.

[2019-10-14 14:59] #40587 closed

[2019-10-14 14:59] MicahMcKittrick-MSFT commented on #40605
@dwhiteddsoft I will go ahead and close this out as I have tested the doc and it works as is. If you still have issues just let me know and we can always reopen and continue the discussion.

[2019-10-14 15:02] dwhiteddsoft commented on #40605
Sorry was out over the weekend. I wish you hadn't closed it but understand leaving things open. I can recreate and will file another one

[2019-10-14 15:07] BharathNimmala-MSFT commented on #40700
@lpozo16 Thank you for bringing this to our notice, we will further look into this and get back to you shortly. Thanks

[2019-10-14 15:09] MicahMcKittrick-MSFT commented on #40605
@dwhiteddsoft we can leave it open. However I have confirmed that the doc works as expected both locally and in cloud shell without the location. See my above comments and give it another go and let me know.

[2019-10-14 15:11] mrbullwinkle commented on #40700
@BharathNimmala-MSFT I can take care of this one right now, thank you!

[2019-10-14 15:13] SwathiDhanwada-MSFT commented on #40684
@gossion Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-14 15:18] #40592 closed

[2019-10-14 15:21] mamccrea commented on #40622
Hi @fly-high-bj - this article should help clarify: https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals

[2019-10-14 15:24] jakaruna-MSFT commented on #40675
@Boombasteg Can you check the usage once with CLI?
You can use `az acr show-usage`

[2019-10-14 15:25] giovannifl commented on #40637
Below document explains how to use Azure File Share with Premim tier in a SQL Server FCI scenario.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster-premium-file-storage

Also it says "Premium file shares are SSD-backed consistently-low-latency file shares that are fully supported for use with Failover Cluster Instance f

[2019-10-14 15:25] MicahMcKittrick-MSFT commented on #40701
@porrascarlos802018 I am a bit confused on what exactly you are looking to have added to this document. Can you elaborate?

[2019-10-14 15:27] amarnathprofisssional commented on #40210
@souravmishra-msft

Thanks for the details.
Let me check and get back to you guys.

[2019-10-14 15:31] brtmeyer commented on #32513
Since DataFlow is now Generally Available and there is no longer any note about region restrictions in the documentation, I wonder again why DataFlow isn't yet available in South Brazil.

[2019-10-14 15:31] dwhiteddsoft commented on #40605
Screen cap of the command used with resources in resource group visible.
<img width="1332" alt="Screen Shot 2019-10-14 at 11 27 05 AM" src="https://user-images.githubusercontent.com/4751106/66763371-bb272580-ee75-11e9-9685-f735df1b2d3d.png">
Resource group is in West US. VM location is Central US. Next image is appending --location
<img width="1428" alt="Screen Shot 2019-10-14 at 11 31 10 AM" src=

[2019-10-14 15:32] dwhiteddsoft commented on #40605
If I should scrub these images let me know and I will remove. I dont know what information is too much :-(

[2019-10-14 15:33] MicahMcKittrick-MSFT commented on #40637
@giovannifl I believe this is now supported. Looking at this doc it seems we might need to review and update. I will assign to the content author to confirm.

[2019-10-14 15:33] husamhilal opened #40710 "Can a VALUE of PolicyRule be retrieved from a REST API?"
Can a value of condition under PolicyRule be retrieved from a REST API?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [Details of the policy definition structure - Azure Policy](https://docs.microsof

[2019-10-14 15:37] MicahMcKittrick-MSFT commented on #40605
@dwhiteddsoft right so in the example we provide in the document, both the VM and image are in the same region. So you don't need to provide the location. But in your case since the VM is in a different region you just need to tell the command where to find the VM. There is nothing wrong with doing it this way. A resource group is just a logical container to group resources and does not have any e

[2019-10-14 15:37] mrbullwinkle commented on #40700
The link is now updated internally. It now points to [here](https://github.com/Microsoft/ApplicationInsights-Home/issues). The change will go-live in the public docs between 10-11 AM (UTC-7) later today.

@lpozo16 Thanks again for letting us know about this and helping us to improve our docs.

I am now going to close out this issue.

[2019-10-14 15:38] mrbullwinkle commented on #40700
#please-close

[2019-10-14 15:38] #40700 closed

[2019-10-14 15:39] dwhiteddsoft commented on #40605
perfect. that was what I was hoping you guys would do as it thumped me for about 30 minutes.

[2019-10-14 15:41] MicahMcKittrick-MSFT commented on #40605
note added. Once the PR merges the changes will be live after a few hours :)

[2019-10-14 15:41] #40605 closed

[2019-10-14 15:43] KrishnaG-MSFT commented on #40682
@prabhakarreddy1234 '--not-scopes' parameter under 'az policy assignment create' is the one to use for adding exclusion.

[2019-10-14 15:48] mamccrea commented on #40447
Hi @fly-high-bj - Thank you for this feedback. I've updated the article.

@salmanhbutt - VARCHAR(MAX) is supported, but row size must not exceed 1MB.

- [Polybase limitations](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-versioned-feature-summary?view=sql-server-ver15#known-limitations)
- [SQL DW data types](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/s

[2019-10-14 15:51] mamccrea commented on #40665
@thomasjsweet - I'm so glad you found this tutorial helpful. Thanks for providing feedback - I will update the article.

[2019-10-14 15:57] MicahMcKittrick-MSFT commented on #40693
@timyhac you would not set the protection from inside the VM itself. Rather you apply it from the outside and pick the instance you want to protect.

You can read here on how to get the instance ID of a VM

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-ids

[2019-10-14 15:57] NextTurn opened #40711 "Broken link"
https://aka.ms/ascresetsecurityconfigurations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9c795b-521e-5f94-d40f-4c36b0c17467
* Version Independent ID: 14ec0a43-17e1-ee13-c44e-1958076b6a72
* Content: [Retirement of Security Center features (July 2019)](https://docs.microsoft.com/en-us/azure/security-center/security

[2019-10-14 15:59] MicahMcKittrick-MSFT commented on #40466
@kumarallamraju I will assign to the content author to review and see if it makes sense to add a note.

[2019-10-14 16:01] GiftA-MSFT commented on #40614
@KatieProchilo can you please provide examples of the inconsistencies you've observed so we can work on enhancing the document?

[2019-10-14 16:08] PramodValavala-MSFT commented on #40400
@kratocpa Due to the nature of your query, I believe it would be best to take this over email and work with you 1-1. Please feel free to send an email to `azcommunity[at]microsoft[dot]com` with the link to this issue.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2019-10-14 16:08] #40400 closed

[2019-10-14 16:15] GiftA-MSFT commented on #40604
@erhopf please review user's feedback for further document enhancement. Thanks.

[2019-10-14 16:16] GiftA-MSFT commented on #40601
@erhopf please review user's feedback for further document enhancement. Thanks.

[2019-10-14 16:17] GiftA-MSFT commented on #40610
@erhopf please review user's feedback for further document enhancement. Thanks.

[2019-10-14 16:18] GiftA-MSFT commented on #40612
@erhopf please review user's feedback for further document enhancement. Thanks.

[2019-10-14 16:32] molsches opened #40713 "Certificate generation should encourage use of Key Vault (and include instructions on the topic)"
It seems logical that since certificate generation and protection is such a big piece of P2S setup that Azure would want users to use the Azure Key Vault solution to complete this part of the instructions vs. giving the user a bunch of other ways to generate self-signed certificates or "enterprise solutions".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-10-14 16:35] TravisCragg-MSFT commented on #40410
@theheatDK We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 16:35] #40410 closed

[2019-10-14 16:35] #40505 closed

[2019-10-14 16:38] mrbullwinkle commented on #13015
#reassign:@lgayhardt

[2019-10-14 16:40] YutongTie-MSFT commented on #40694
@AndrewLouw
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-14 16:42] KranthiPakala-MSFT commented on #40696
@tudormaz Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-10-14 16:46] mendreHOM commented on #33551
I have been having the same issue with Conflict for months....  Unable to deploy this...

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\

[2019-10-14 16:50] lgayhardt commented on #13015
Here is the new availability doc with a TrackAvailability example: https://docs.microsoft.com/en-us/azure/azure-monitor/app/availability-azure-functions

#please-close

[2019-10-14 16:50] #13015 closed

[2019-10-14 16:50] #40586 closed

[2019-10-14 16:50] PramodValavala-MSFT commented on #40589
@cconcordet The `func` CLI relies on either the [`az` CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) or [`Az.Accounts` cmdlet](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.7.0) to be available for publishing to azure. Installing either one should resolve your issue.

There is already an issue on the [azure-functions-core-tool

[2019-10-14 16:53] KranthiPakala-MSFT commented on #40699
@mafis-hh Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-14 16:58] SaurabhSharma-MSFT commented on #40595
@John-Blair Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-14 16:59] DCtheGeek commented on #40679
@jtuliani You are correct.  Modify needs to be `mode=all` if the target resource is a resource group. I'm going to add that clarification to the doc.  This issue will automatically be closed when the change is merged. Thanks for pointing this out!

[2019-10-14 17:00] SaurabhSharma-MSFT commented on #40545
@We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-14 17:00] #40545 closed

[2019-10-14 17:00] #40354 closed

[2019-10-14 17:01] JnHs commented on #40640
Thanks @SwathiDhanwada-MSFT - yes, if the user has been included when the subscription was onboarded, they should be able to view/access that subscription (as in Directories + Subscription noted in one of the other issues). @igomat I am guessing that the onboarding did not work properly for some reason or that the user does not have the right permissions (or is not a member of the group which has

[2019-10-14 17:02] ramankumarlive commented on #40271
You can find the information here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#transactions

[2019-10-14 17:07] DCtheGeek commented on #40710
#assign:DCtheGeek

[2019-10-14 17:08] shashishailaj commented on #40321
@matteomorales Thank you for sharing your experience with the documentation . We have made a change in added the point about the proxy within the documentation. the changes would be live in the next 24-48 hours as per the next release cycle . We will now close the issue. In case you still have any further query on this, please tag me to your reply and we will be happy to help.

Thank you.

[2019-10-14 17:08] #40321 closed

[2019-10-14 17:09] ramankumarlive commented on #40302
@degerrit degerrit You can certainly use Ubuntu 16.04 and 18.04 LTS. We will update our documentation to fix the problem. Thanks for reaching out and providing the feedback.

[2019-10-14 17:09] vinynigam commented on #40414
Hi. Connection Monitor 2.0 is in private preview. Happy to have you try it out. Please fill up the form in the announcement. REgarding your setup are the API management services hosted anywhere in Azure or on-premise ? We provide users the ability to install agents on-premise or Azure and check connectivity to any endpoint

[2019-10-14 17:15] DCtheGeek commented on #40710
@husamhilal Policy doesn't currently report the evaluated results of individual `value` entries in a policy definition, but does report compliance on the entire policy's evaluation. Through the portal, you can see [Causes for non-compliance](https://docs.microsoft.com/azure/governance/policy/how-to/determine-non-compliance), but the reason information isn't available via API. If this is a feature

[2019-10-14 17:15] #40710 closed

[2019-10-14 17:16] #40679 closed

[2019-10-14 17:26] HowardEdidin commented on #39542
@shaungl   I am in the process of updating the tutorial and will notify you when it has bee3n completed.

[2019-10-14 17:33] rajeevmv commented on #40106
@BhupalPatil
If it helps, you will find the DPS C# MQTT device client implementation [here](https://github.com/Azure/azure-iot-sdk-csharp/tree/master/provisioning/transport/mqtt).

A document describing this in detail does not exist yet.

[2019-10-14 17:36] mkennedy345 opened #40717 "Azure Migration with Data Box"
Hi Data Box team,

I have a customer who is trying to migrate about 100 VMs, and file shares from on premises to Azure. How long does it take for Microsoft to Upload the Data to Azure? Also, how do you account for the change in data that takes between the time that the data is transmitted on to the data box and uploaded to the cloud. Because they have tight SLAs and there data changes frequently.

[2019-10-14 17:40] eugen-nw commented on #40274
@Karishma-Tiwari-MSFT I'm sorry I was very busy last week!  Thanks very much for the info!  We deploy Windows containers that run in AKS on Virtual Nodes, so we can scale their count to our hearts' content.  I want to be able to assign a user assigned Managed Identity to the Container so it can use it to retrieve secrets from a Key Vault.  From reading https://docs.microsoft.com/en-us/azure/aks/op

[2019-10-14 17:41] jayaamamidala opened #40718 "403 forbidden error when trying to call using sendAsync Method Instead of PostAsync"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue
PR for the code

https://github.com/jayaamamidala/LogAnalytics/blob/master/ConsoleApp1/ConsoleApp1/Program.cs

unable to use sendAsync method instead o

[2019-10-14 17:44] eugen-nw opened #40719 "Azure Kubernetes service supports Managed Identities as well"
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

As such that service should be listed on this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [Managed identities for Azure resourc

[2019-10-14 17:44] lobrien commented on #40646
Thanks @YutongTie-MSFT !

[2019-10-14 17:48] FrankHu-MSFT commented on #40704
@arcotek-ltd Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:48] FrankHu-MSFT commented on #40706
@shivtorov Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:48] FrankHu-MSFT commented on #40707
@husamhilal Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:48] FrankHu-MSFT commented on #40711
@NextTurn Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:49] KrishnaG-MSFT commented on #40710
@DCtheGeek Thanks for the super quick response. :+1:

[2019-10-14 17:49] FrankHu-MSFT commented on #40711
Thanks for letting us know about this! We're currently looking into this and will work to resolve this issue. I apologize that the link is broken, stay tuned for the correct links.

We will also work to make the changes to the docs as well accordingly.

[2019-10-14 17:50] MicahMcKittrick-MSFT commented on #40074
@rajurh I am not sure about how to tokenize a yaml file or if it is possible. I know if you are using ARM templates you can define and pass them in as parameters instead.

@dkkapur any idea on this?

[2019-10-14 17:51] FrankHu-MSFT commented on #40691
@PorkyProgs Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:51] FrankHu-MSFT commented on #40687
@adeinde Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:52] sujitks opened #40720 "Deny assignments with blueprints"
I am trying to apply dent assignments using the blueprints but it keep failing to deploy template artifact complaining about valid array value for the permissions.action.

Is it possible at all to apply deny assignments to a resource group? Or still this is being worked on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-10-14 17:53] FrankHu-MSFT commented on #40719
@eugen-nw Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:53] FrankHu-MSFT commented on #40720
@sujitks Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 17:57] shashishailaj commented on #40349
This is a great question . Whether or not you should change from a third party federation provider to Seamless SSO is something that needs to be decided on the kind of applications you are using. If you are using Seamless SSO was built for Microsoft first party Office 365 Apps . Hence if you are completely use Microsoft applications , its better to enable Seamless SSO however if you have other app

[2019-10-14 17:57] #40349 closed

[2019-10-14 18:03] husamhilal commented on #40710
@DCtheGeek Thanks a lot for your quick response. 👍
Just to be specific. I'm trying to provide the value attribute with an input from a REST API.
For example, something similar to this: [get('https://endpointurl/datainput')]

[2019-10-14 18:06] KrishnaG-MSFT commented on #40596
Assigning @rboucher for visibility, help, to provide insights / clarity on the disk quota and for document enhancement consideration if required.

[2019-10-14 18:15] TravisCragg-MSFT commented on #38652
@thevman This feature will be GA at [Microsoft Ignite](https://www.microsoft.com/en-us/ignite).

[2019-10-14 18:15] himanshusinha-msft commented on #40649
@mahanteshvk : We have not heard from on this . At this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an upda

[2019-10-14 18:15] dlepow commented on #40462
Documentation update published, so I am closing this issue.
#please-close

[2019-10-14 18:15] #40462 closed

[2019-10-14 18:16] ggailey777 commented on #9084
The quickstart updates have been merged. Please reopen if you are still having issues. #please-close

[2019-10-14 18:16] #9084 closed

[2019-10-14 18:16] patobtx opened #40721 "Hybrid Connection not current available for Linux App Service Plans"
The documentation makes no mention that the App Service must be Windows, and that the feature is not available on Linux App Services. From the Azure portal, it is not possible to add a hybrid connection to a Linux App Service, and the feature appears not compatible at this time.

Another user reported their comments on this feedback item: https://feedback.azure.com/forums/169385-web-apps/suggestio

[2019-10-14 18:17] jhueppauff opened #40722 "Is it possible to add a group as owner"
Just wondering if there is an option to add an AAD Group as Group Owner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a86aa3-3274-12eb-66a4-8147c0438ed2
* Version Independent ID: da45ec44-72ee-009c-4c0c-472b496f785c
* Content: [Add or remove group owners - Azure Active Directory](https://docs.microsoft.com/en-us/az

[2019-10-14 18:18] ggailey777 commented on #13016
The new article has been added to the master branch in the private repo. It should be live by 4pm PST 10/14/19. Please reopen this issue if you need more information. #please-close

[2019-10-14 18:18] #13016 closed

[2019-10-14 18:18] srinadhayarram commented on #39625
I am able to see Life cycle management in portal now.

Thank You,
Srinadha Yarram

[2019-10-14 18:18] #39625 closed

[2019-10-14 18:20] ggailey777 commented on #31117
Since we are tracking this requirement internally, #please-close

[2019-10-14 18:20] #31117 closed

[2019-10-14 18:20] TravisCragg-MSFT commented on #40697
@cgballance Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-14 18:22] TravisCragg-MSFT commented on #40713
@molsches Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-14 18:23] MarileeTurscak-MSFT commented on #40722
@jhueppauff
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 18:24] ehrnst commented on #40641
You probably have the "directory and subscription filter" making things difficult for you. It can some times change when browsing the portal.

[2019-10-14 18:24] ggailey777 commented on #30626
I am not able to reproduce this issue any longer, so I assume it's been fixed. We do use a republish scenario in the new [Java extended quickstart](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-storage-queue-python). Please reopen if still an issue. #please-close

[2019-10-14 18:24] #30626 closed

[2019-10-14 18:24] jonbeck7 commented on #39164
Currently DS/D15v2 are married to a single hardware type which is no longer being deployed for new capacity, therefore making capacity for the D/DS15v2 more constrained, which put it in the category that makes up previous/Older generation.  To avoid capacity issues, we suggest moving to Dv3 or Ev3.  We are about to announce the D15iv2/DS15iv2 sizes which will be the constrained sizes, and then all

[2019-10-14 18:26] ehrnst commented on #40642
Are you sure the sub is delegated correctly. Usually this takes some time for the portal to clear it's cache and function properly. If you list subscriptions in cloudshell, do you have it there?
I have had lot's of strange things happen because of the portal intense caching

[2019-10-14 18:27] KranthiPakala-MSFT commented on #40703
@mafis-hh Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-14 18:32] shashishailaj commented on #40546
@FreeSMIME WE checked with the product team and they are actively working on this one. It may take some time but this is an active issue in the backend . As the details connect to multiple other things and the Azure Portal UX hence testing is taking some time to get it fixed. At this point we will close this issue as this is already being working on by Product group.

Thank you.

[2019-10-14 18:32] #40546 closed

[2019-10-14 18:36] MartinJaffer-MSFT commented on #39777
@fantinis That is interesting, those two PL do look similar.  Could you please supply pipeline run ID for each of them?  Also, indicate whether it was triggered or debug run.

[2019-10-14 18:42] djpmsft commented on #40607
How often are files getting created in your storage accoun ? Would you be able to move them in batches (say once an hr or once a day)?

[2019-10-14 18:44] RyanHill-MSFT commented on #40583
Thanks for the feedback @w0ut0. The typo should be corrected shortly.

[2019-10-14 18:44] #40583 closed

[2019-10-14 18:45] marckassay opened #40724 "Storage with Docker Compose using 'long form syntax'?"
I assume [long form syntax](https://docs.docker.com/compose/compose-file/#long-syntax-3) isn't a valid alternative form to be used when mounting a volume? This question of mine came from reading this [section](https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-serve-content-from-azure-storage#use-custom-storage-in-docker-compose).

Also, if short form syntax is the only valid for

[2019-10-14 18:47] #40625 closed

[2019-10-14 18:48] shriazure commented on #40607
Thanks for your time, Daniel! My RTO is 15 minutes. So I should be able to create copies within that time. Also I don't want my batch job run idly in non-business hours or weekends. So thought of utilizing EDA.

[2019-10-14 18:50] JohnRusk commented on #40667
Perfect, thanks!

[2019-10-14 18:54] YutongTie-MSFT commented on #40646
@lobrien  No Problem!

@aldelar
It has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-10-14 18:54] #40646 closed

[2019-10-14 18:56] RyanHill-MSFT commented on #40416
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 18:56] #40416 closed

[2019-10-14 18:56] Grace-MacJones-MSFT commented on #40724
Hi @marckassay, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-14 18:57] MashaMSFT commented on #40664
Hi @Raj-Krishnamoorthy , thank you for your feedback! You're right, a diagram would be helpful here.  Let me see what I can do :)

Thanks!
Masha from the SQL Docs team

[2019-10-14 18:58] MonikaReddy-MSFT commented on #40721
@patobtx - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-14 19:00] rachel-msft commented on #40385
Fixed on Friday.

#please-close

[2019-10-14 19:00] #40385 closed

[2019-10-14 19:00] djpmsft commented on #40607
If you are comfortable using a 15 minute RTO, I would suggest using a Tumbling Window or Schedule trigger with a 15 minute window. Using a schedule trigger, you can choose to not run it on weekends. Worst case scenario is you run it and no data is moved!

[2019-10-14 19:01] AjayKumar-MSFT commented on #22774
Your feedback has been shared with the content owner (@msangapu) for further review on doc clarity.

[2019-10-14 19:08] DCtheGeek commented on #40710
Azure Policy supports most, but not all of the Resource Manager template functions. For the list of Policy supported functions, see [Policy functions](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#policy-functions). I don't believe there is a Resource Manager template function similar to `get`. For that, I'd recommend posting the request to [Resource Manager's Us

[2019-10-14 19:08] HeidiSteen commented on #39798
@Markgar  Sorry for the confusion. We removed the article and logged a work item to provide an equivalent solution in the future. Both the article and content pack it relies on are obsolete and need to be redesigned from scratch.

[2019-10-14 19:08] HeidiSteen commented on #39798
#please-close

[2019-10-14 19:08] #39798 closed

[2019-10-14 19:08] rwike77 commented on #38787
@Blightysoft  Thanks for pointing this out.  I've updated the article with a short section on setting access policies for resources.  Article updates should publish live this afternoon.  #please-close

[2019-10-14 19:08] #38787 closed

[2019-10-14 19:10] normesta commented on #39936
Thank you for the feedback! I've updated the screenshot in the article. That change should appear in the content this afternoon.

[2019-10-14 19:10] normesta commented on #39936
#please-close

[2019-10-14 19:10] #39936 closed

[2019-10-14 19:13] walsehgal commented on #40544
@RohitMungi-MSFT , @souravmishra-msft  thanks. Opened a new issue here https://github.com/microsoft/AzureNotebooks/issues/755. Closing this one now.

[2019-10-14 19:13] #40544 closed

[2019-10-14 19:13] rwike77 commented on #40611
@heyoni @MarileeTurscak-MSFT  I can see how this would be a bad experience.  We have several articles that are shared between the v1 and v2 TOCs, including "authentication basics".  This article, however, also links to a number of v2-only articles so it would be very easy up your versions.

I'll create a v1 version of this article so people won't accidentally wander into the v2 articles without re

[2019-10-14 19:13] djpmsft commented on #39519
As of two weeks ago, ADLS gen 2 had events enabled in all regions. If you are running into issues with events, please reach out to the ADLS team.

@sparianer what is the error you are getting? There is a chance it may be a different issue.

[2019-10-14 19:29] BharathNimmala-MSFT commented on #40193
Thank you @lisaguthrie for clarifying and providing additional information.

@unmeshM Hope the above information helps you, please let us know if you have any additional queries.

[2019-10-14 19:34] tarinidash opened #40725 "Wrong partition #s for standard tier namespace"
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-overview#event-hubs-dedicated-quotas-and-limits

The above document says a standard tier can have max 40 partitions/namespace which is incorrect.
A Standard tier namespace can have 10 eventHubs instances
Each eventHubs instance can have max 32 partitions.
That makes 320 max partitions for a namespace.

---
#### Document Details

[2019-10-14 19:34] BharathNimmala-MSFT commented on #39668
Thank you @cweining for your response.

@balukantu Hope the above information helps you. Will go ahead and close the issue for now, however if you have any further queries please feel free to tag us in your reply and will be more than happy to take the conversation forward. Thanks

[2019-10-14 19:34] #39668 closed

[2019-10-14 19:38] shashishailaj commented on #40625
@xaxxon We have made an internal change and this should go live in the next 24-48 hours as per the realase cycle once it is merged after the review. We will now close this issue Should you have any further query , please feel free to tag me to your reply.

[2019-10-14 19:41] NavtejSaini-MSFT commented on #40688
@wmengmsft We have crated the PR(https://github.com/MicrosoftDocs/azure-docs-pr/pull/91691) for this request. Please check and approve.

[2019-10-14 19:43] Alberto-Vega-MSFT commented on #39570
Adding this for future reference from the Python SDK repo: https://github.com/Azure/azure-iot-sdk-python/issues/339

[2019-10-14 19:44] NavtejSaini-MSFT commented on #40695
@rimman Please check into the document and update if required.
@eakoning We have assigned this to our Doc author for further review.

[2019-10-14 19:47] enadmin commented on #40359
![image](https://user-images.githubusercontent.com/51483083/66778497-d99f1800-ee99-11e9-8b0f-6c70036b8324.png)
That's correct, I don't get Guest(Classic) as an option for Metric Namespace, just Virtual Machine Host.

[2019-10-14 19:50] #40429 closed

[2019-10-14 19:50] Alberto-Vega-MSFT commented on #40429
@antelope511 Closing this issue for now. I could not find an entry on user voice but if you create one please share it here so others can upvote your request and help the team to prioritize. Tagging @deepakpalled for awareness.

[2019-10-14 19:50] git14 commented on #39121
@MicrosoftGuyJFlo would it be possible to update the documentation with a screenshot of the selector or to explicitly state do not select "All Windows Editions". We have encountered this issue with several of our partners where they have made an incorrect selection.

[2019-10-14 19:50] dsm0880 opened #40726 "Please add documentation regarding HSTS Header"
Hey, needed to add HSTS header to Azure Functions and found after some digging that it was added but never documented(I think). I found this in the code regarding the hsts property:

        "hsts" : {
          "description": "Configuration settings for Strict-Transport-Security",
          "type": "object",
          "properties": {
            "isEnabled": {
              "description": "Indica

[2019-10-14 19:54] tamram commented on #39684
@SquGus - Thanks for your feedback. I have updated this topic to contain only Microsoft-maintained tools, and used Yes/No for clarity.

#please-close

[2019-10-14 19:54] #39684 closed

[2019-10-14 19:56] LuisCabrer commented on #40244
I disagree. The bing documentation and the code we created always use the correct endpoint:

Also, I just tested on Postman and this GET request worked:

https://api.cognitive.microsoft.com/bing/v7.0/entities/?q=Pablo Picasso&mkt=en-us&count=10&offset=0&safesearch=Moderate

[2019-10-14 19:56] fantinis commented on #39777
@ChiragMishra-MSFT
left: b9db66fb-bdd6-4dfb-9298-6bbbde69c5b7
right: dd1df4e6-5766-4869-ab99-2e68380b3405
in both, debug and run.

[2019-10-14 19:57] NavtejSaini-MSFT commented on #40698
@karandesai28 Please check the below links and we will try to help with any questions. the documents explain in details what kind of logs are captured if you enable log auditing. Hope this helps.
https://docs.microsoft.com/en-us/azure/mysql/concepts-audit-logs
https://docs.microsoft.com/en-us/azure/mysql/howto-configure-audit-logs-portal

[2019-10-14 20:01] Canis-Lupis opened #40727 "Is rolling over the keys a requirement for SSO to work/keep working?"
I've set everything up for SSO as per this article but SSO isn't working for end users.  When trying the test steps, they are still asked to sign on.  We only have one domain and the only difference I see is that our domain in AAD Admin Center for Seamless single sign-on shows a status symbol of an orange warning triangle instead of a green check circle.

Hovering over the warning icons give a mes

[2019-10-14 20:03] Alberto-Vega-MSFT commented on #40468
Hi @brianmrush Thanks for trying Azure IoT Hub! Can you confirm that you are following the tutorial exactly as is? The simulated device should be connected. Are you able to complete this section successfully (seeing device telemetry as the screenshot shows)?

[2019-10-14 20:08] ggailey777 commented on #40726
Thanks @dsm0880 this work item is in the backlog (internally [1586154](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1586154)) and schedule to be addressed this sprint. #assign:ggailey777

[2019-10-14 20:09] dsm0880 commented on #40726
@ggailey777 Cool, thanks!

[2019-10-14 20:12] rwike77 commented on #39201
@hpsin, mind taking a look at this one?  Thanks.

[2019-10-14 20:13] alexkarcher-msft commented on #18078
#please-close

[2019-10-14 20:13] #18078 closed

[2019-10-14 20:13] alexkarcher-msft commented on #20284
#please-close

[2019-10-14 20:13] #20284 closed

[2019-10-14 20:19] cmusa17 opened #40728 "Missing Information"
The documentation is missing a step to generate the ca-key and ca-cert file.

The command is as follows, and it should be run prior to running the command in Step 4:

openssl req -new -newkey rsa:4096 -days 365 -x509 -subj "/CN=Kafka-Security-CA" -keyout ca-key -out ca-cert -nodes

Then you can run the command in Step 4: openssl x509 -req -CA ca-cert -CAkey ca-key -in wn1-cert-sign-request -out wn

[2019-10-14 20:21] hpsin commented on #39201
We don't support CORS/authz code flow for SPA yet. We're investigating support currently. That said, we have appropriate controls in place that you can securely use the implicit flow - many of the issues described in the RFC fall under the category of "poorly implemented IDP", and are issues that we protect against.

[2019-10-14 20:21] cmusa17 opened #40729 "Incorrect Information"
In this section of the document: Update Kafka configuration to use SSL and restart the brokers
Step 6 says: Add configuration properties to the Kafka server.properties file to advertise IP addresses instead of the Fully Qualified Domain Name (FQDN).
This is incorrect, the configuration properties should be added to the kafka-env template under the Kafka Configuration in Ambari and it should update

[2019-10-14 20:23] EyalPerry opened #40730 "You guys have a universal npm package for both node and the browser, but the docs indicate I should download and unzip a .js file"
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage/storage-blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4090e045-28aa-2924-ca80-e74546f677f5
* Version Independent ID: 438704d0-88ff-aa19-a8cc-4d037290b46a
* Content: [Quickstart - Create a blob in Azure Storage by using JavaScript and HTML in the br

[2019-10-14 20:24] shriazure commented on #40607
The challenge I had using a schedule trigger was to copy all the files that were created in the last 15 minutes across all the containers under the storage account namespace. I know ADF has got an activity to copy since last modified time at the container level. Does it do at the storage account level?

[2019-10-14 20:24] hpsin opened #40731 "Remove section on id token validation for SPA app."
The section on validating id tokens is invalid and should be removed.

Implicit flow apps have no reason to validate id tokens. They should trust they're accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version Independent ID: 42c5b06a-81a7-97f7-a4cf-7ca77a30ec37
* Content

[2019-10-14 20:24] hpsin commented on #40731
Opening on myself to handle later.

[2019-10-14 20:25] hpsin commented on #39201
See this for more details

https://developer.microsoft.com/en-us/office/blogs/our-thoughts-on-implicit-grant-with-microsoft-identity/

#please-close

[2019-10-14 20:25] #39201 closed

[2019-10-14 20:29] igorjnz commented on #40542
Hi Karthik,

Sorry for the delay, I can confirm that on digiwebinterface.com a www.[mydomain].com<http://www.[mydomain].com> points to [mydomain].azurefd.net.
I noticed over the weekend it actually verified my domain and provisioned it just took over 24hours.

Best Regards,

Igor Jovovic - Technical Engineer

p +6495559029    m +64 21 261 5282
www.provokesolutions.com<http://www.provokesolutions.c

[2019-10-14 20:33] Alberto-Vega-MSFT commented on #40485
Hi @MaStr11 can you share your source of information?

[2019-10-14 20:39] djpmsft commented on #40088
There currently is bug with handling very large monitoring outputs similar to the pattern you have (100s of sources and sinks). The current workaround is to split your data flow up into different data flow objects. You can run them in a for-each, but understand that each execution will have its own spark cluster created.

[2019-10-14 20:43] kgremban commented on #36838
Thanks for confirming, @jjindrich

@ksaye I know it's been a while since you originally opened this issue, but are you still blocked here?

[2019-10-14 20:43] cherylmc commented on #40713
@anzaman

[2019-10-14 20:45] MaStr11 commented on #40485
We recognized the change because we have a unit test in place that is testing this limit. There wasn't any official announcement as far as I know.

[2019-10-14 20:47] kgremban commented on #40520
@shizn Can you look at this issue?

[2019-10-14 20:49] damiandiaz76 opened #40733 "Instead of adding the managed identity directly to the key vault access policy, can you add the managed identity to an azure AD group that has key vault access?"
I tried to add the managed identity to an AD group that has access to the key vault but it was unable to resolve the secrets on startup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault references - A

[2019-10-14 20:55] kyubisation commented on #39201
That is a bit disappointing.
Nevertheless, thank you for answering the issue.

The MSAL.js library does not seem mature enough, looking at the roadmap and some of the issues. So we would have preferred to use a more mature standalone OIDC library.
However, we also had problems with the Implicit Flow, but I cannot provide details right now, since I'm on holidays and I do not have our example app av

[2019-10-14 20:55] RikardStrand commented on #40533
I have a opened support ticket [REG:119101122000149] and it refers to the following page:
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#active-directory-limits

As there are no limitations on the application assignments I should be able to have any number of applications, assignments and being in a supported state without having any scalability or performance issues for

[2019-10-14 20:57] vabgujral commented on #22774
Thanks Ajay!

[2019-10-14 20:59] JasonWHowell commented on #40507
#please-close

[2019-10-14 20:59] #40507 closed

[2019-10-14 21:01] hpsin commented on #39201
Appreciate the feedback.  Could you reach out to me directly (hirsin at microsoft) to discuss the problems with MSAL.JS and the problems you hit? I own OAuth at Microsoft, so want to shortcut the official channels that eventually lead to me anyway.

[2019-10-14 21:06] kyubisation commented on #39201
Thank you for the heads-up.
I will try to do that next week.
Have a nice week! 😃

[2019-10-14 21:08] Heidilohr commented on #40006
@jakaruna-MSFT @mike-urnun-msft I've updated the doc to address this issue.

[2019-10-14 21:08] #40006 closed

[2019-10-14 21:13] roygara commented on #40302
@degerrit The table reflects the minimum version, we've updated it to make that more apparent. Thanks for pointing this out, we appreciate it. :)

@MicahMcKittrick-MSFT FYI

[2019-10-14 21:23] #40302 closed

[2019-10-14 21:29] EricJizbaMSFT commented on #38797
@PramodValavala-MSFT @vbrodsky FYI we just released v0.19.0 of the functions extension for VS Code which has the fix for this

[2019-10-14 21:31] SujanKansakar opened #40734 "Windows UAC needs to be turned on for SSPR to work from windows 10 Login Screen"
Have spent time trobleshooting issues with SSPR screen not working from windows 10 Login Screen. After the "Reset Password" link is clicked it went back to the login screen.
After enabling UAC on the device. SSPR worked as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* V

[2019-10-14 21:33] mpchen opened #40735 "What permission is needed to change ASC's pricing tier and other settings?"
Could you pls. clarify on what role is needed to change ASC's pricing tier and other settings such as email contact and auto provisioning? Is Security Admin role sufficient? or it needs contributor role on the subscription? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c61e7b5-619a-fbd4-c7de-a1d04a33e61f
* Ve

[2019-10-14 21:36] YutongTie-MSFT commented on #40694
@AndrewLouw  Thank you for reaching out again. I will forward this suggestion to product team. @heatherbshapiro  could you please also take a look of this issue? Thanks.

[2019-10-14 21:42] KranthiPakala-MSFT commented on #40623
Hi @karanth77 Could you please confirm if you are talking about HTTP Linked service Authentication type? The reason is I can see the "Client Certification" authentication type while creating the HTTP Linked service.

![image](https://user-images.githubusercontent.com/50185738/66784966-c20f6180-ee90-11e9-8dcd-3669e3caac4a.png)

[2019-10-14 21:46] mattyweb commented on #36991
Thanks, @jrm346 ! I'm now doing something similar. The only difference is I was seeing ValueErrors so my exception handling is a little different.

[code]

The guidance on this still seems lacking to me. I landed on this approach after a few other attempts failed. It should be safe to assume that most real-world usage of Python functions will have both shared code and unit tests. Seems like the do

[2019-10-14 21:46] SogoGolf commented on #40565
thanks @SnehaAgrawal-MSFT thats great. can i suggest you put the above link into the documentation page i raised the issue on ? would be super helpful.

[2019-10-14 21:47] abdulSparSA commented on #33766
Is this issue really resolved? I battled with the instructions in the python section - there doesnt seem to be an option 'to ‘Get shared access signature’ when i right  click on my container?

[2019-10-14 22:14] anishkshah commented on #40154
Looks like like I missed this email can you share the steps to use storage
explore? I want to copy files or a file from a snapshot on a file share
both locally and to a different azure file share.

On Fri, Oct 11, 2019, 9:45 AM SumanthMarigowda-MSFT <
notifications@github.com> wrote:

[2019-10-14 22:18] eugen-nw opened #40736 "Encrypt/decrypt using X509 Certificates"
I am quite new to this topic, so please bear with me.  However, am I correct in believing that using X509 Certificates is not a supported scenario if I were to take the route of using Blob/TableEncryptionPolicy objects and I'll need to do the encryption & decryption myself using the IKey instances returned by the GetRSAPublicKey() and GetRSAPrivateKey() extension methods?

---
#### Document Detail

[2019-10-14 22:22] saket-ms commented on #40288
Ack and actively working for the updates

[2019-10-14 22:25] MarileeTurscak-MSFT commented on #40493
Hi @james-stocks , are you still having this issue?

[2019-10-14 22:29] MarileeTurscak-MSFT commented on #40718
@jayaamamidala please include the link to the document you are following.

[2019-10-14 22:30] MarileeTurscak-MSFT commented on #40717
@mkennedy345 please provide a link to the document you are following so that I can better assist you.

[2019-10-14 22:38] jayaamamidala commented on #40718
@MarileeTurscak-MSFT  https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#c-sample , we are using SendAsync Instead of PostAsymc Method

[2019-10-14 22:41] JohnRusk commented on #40154
As far as I can tell (I'm not on the Storage Explorer team) it looks like you just open the share in Storage Explorer, choose View Share Snapshots from the menu, select the right snapshot from the drop down, and then copy what you want from there.

[2019-10-14 22:44] eugen-nw opened #40739 "What would be the Key rotation procedure?"
Could you please document what specific steps client code needs to do in order to support replacing the IKey used to encrypt a Table?  Probably read _all_ records present in the table using the old Ikey and update each of them using the new IKey?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4f

[2019-10-14 22:51] pablomujica commented on #37403
Hello @KrishnaG-MSFT are there any news on python 3 on Azure Automation?

[2019-10-14 22:54] APErebus opened #40741 "Entity construction doesn't give good example of what object should be passed to ctx.SetState"
The current example for [Custom initialization on first access](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-dotnet-entities#custom-initialization-on-first-access) doesn't give a good example of what type of object/value should be passed to `ctx.SetState()` to initialize the entity.

I'm assuming for the example `Counter` object you would pass an instance of the

[2019-10-14 23:04] ccortezaguilera opened #40742 "Typo in webhook payload"
Please fix the typo in the payload or in the docs about the payload. In the Azure Marketplace Saas Fulfillment api web hook payload there is an action of "Unsubscribe" but in the description of the possible actions it lists it as just "unsubscribe".

[code]

this json has `"action": "Unsubscribe",`

[code]

this description has `unsubscribe (when the resource has been deleted)`

I'm not sure if th

[2019-10-14 23:05] Heidilohr commented on #40550
Hi @lijun1234, sysprep is required. The instructions are on [this page](https://docs.microsoft.com/azure/virtual-machines/windows/prepare-for-upload-vhd-image).

[2019-10-14 23:11] KranthiPakala-MSFT commented on #40696
Hi @tudormaz, Here is an example I tried using replace function and it works in replacing '\n'.

I have two variables inputVar (string) = A\nB (this is the default value I used for testing), another variable outputVar (string). I used a Set Variable activity to test this. Here is dynamic expression I used in  Set Variable activtiy : @replace(variables('inputVar'), '\n', '')

Here is the input:
![i

[2019-10-14 23:15] MartinJaffer-MSFT commented on #40703
Hello @mafis-hh  and thank you for your query.  Could you please clarify which Factory the runtime was originally created in?  There is a common scenario I want to share with you.

A Self-Hosted Integration Runtime (SHIR for brevity) is 'owned' by a single Factory, and can be 'shared' with other Factories.  Although both the 'owned' and 'shared' both resolve to the same physical machine, the way t

[2019-10-14 23:21] mkennedy345 commented on #40717
https://docs.microsoft.com/en-us/azure/databox/data-box-overview
________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, October 14, 2019 5:31:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Kennedy <jakenned@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Migration with D

[2019-10-14 23:22] MarileeTurscak-MSFT commented on #40742
@ccortezaguilera
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-14 23:22] KranthiPakala-MSFT commented on #40699
@mafis-hh Thanks again for the feedback. Please share your idea/suggestion in Azure Data Factory user voice forum, where all the feedback shared is monitored and reviewed by ADF engineering team. Posting an idea in ADF feedback forum will give an opportunity to other users with similar idea to up-vote your suggestion.

Here is the link for Azure Data Factory user voice forum: https://feedback.azur

[2019-10-14 23:31] FrankHu-MSFT commented on #40249
Hey @mustafamg I'm following up on this issue, can you please let us know the current status?

[2019-10-14 23:31] #40423 closed

[2019-10-14 23:35] brandonh-msft opened #40744 "v1.x version of doc doesn't fully doc functionTimeout"
In the v2.x doc, `functionTimeout` has verbiage indicating defaults and specs for v1.x functions. This same verbiage should appear in the v1.x version of the doc page itself. Additionally, I would encourage it be removed entirely from the v2.x documentation, since it's not applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-14 23:58] SaurabhSharma-MSFT commented on #40631
@wshamroukh For this application to work you need to deploy it on azure and enable the MSI endpoint as directed as the solution looks for an MSI enabled app.

[2019-10-15 00:00] FrankHu-MSFT commented on #40320
Hey @rmaziarka  i'm following up on this issue, can you please respond in regards to the last post? If there's no response by end of day tomorrow i'll be closing out this issue,

[2019-10-15 00:01] FrankHu-MSFT commented on #40511
Hey @baSSiLL I see that does make it a bit confusing. Thank you for letting us know about this! If you utilize form_post though, it should have sent back a post request to your Node JS Server. Are you sure you're not seeing any traffic come back to your server/reply url endpoint?

in addition to that, this doc only describes using the response_type=token+id_token not the code+id_token.

[2019-10-15 00:01] SaurabhSharma-MSFT commented on #40658
@souuuf I suggest you to please open your issue on the sample repo- https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/issues so that the sample owner can help you with your query.

[2019-10-15 00:02] KranthiPakala-MSFT commented on #40725
@tarinidash Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-15 00:03] KranthiPakala-MSFT commented on #40728
@cmusa17 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will an update as appropriate.

[2019-10-15 00:19] cawrites commented on #40458
#please-close

[2019-10-15 00:19] #40458 closed

[2019-10-15 00:33] FrankHu-MSFT commented on #40720
Hey @sujitks can you please provide the arm template you're trying to use? Has this ever worked before?

[2019-10-15 00:33] FrankHu-MSFT commented on #40719
Hey @eugen-nw I'm following up on this issue, thank you for providing this information. We're going to go ahead and make that change. We appreciate your feedback and thank you for contributing and helping us to make the docs better !

[2019-10-15 00:38] #40719 closed

[2019-10-15 00:39] FrankHu-MSFT commented on #40719
@Please let us know if there are anymore questions within the scope of this git issue by @ing me or please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-15 00:53] KyleB715 opened #40746 "We should modify 'Choose the thresholds carefully for all metric types' section a bit"
Azure App Service support has seen many issue with flapping and recommends 40% difference between scale in and scale out rules. Can that be noted in this document somewhere? Also, we should change the following section to reflect the 40% best practice that is recommended by support...

"Increase instances by 1 count when CPU% &gt;= 80
Decrease instances by 1 count when CPU% &lt;= 60"

should be ch

[2019-10-15 00:54] dcbrown16 opened #40747 "Document storage account firewall limitation"
Per this thread, it seems you cannot use serial console when using storage account firewalls.
https://github.com/Microsoft/azserialconsole/issues/48
Please document that here until resolved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a682c1b8-b126-192b-6cce-6da70a492c27
* Version Independent ID: 2d5afb43-894c-a7a5-

[2019-10-15 00:55] KyleB715 commented on #40746
the above recommendation is for cpu % based rules

[2019-10-15 01:01] robsonaaron commented on #40458
I noticed this was closed, but the error code wasn't added to the document?

[2019-10-15 01:40] susan-wangyi commented on #40517
May I get some updates? Thanks.

[2019-10-15 01:43] femsulu commented on #40746
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-10-15 02:25] tturn02 opened #40748 "Personalizer Instance not created."
It has been over 9 hours now, and i've had several conversations with customer support but the Personalizer instance has not been created yet. This makes it impossible to get past step 2 for this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb09de11-6321-20b6-1632-21d4b4568536
* Version Independent ID: b5a3b

[2019-10-15 02:33] FrankHu-MSFT commented on #40320
I'm following up on this issue, in addition to the last response. I'd like to clarify as I have come across some more information.

There is unfortunately no straight migration. You can export/import using Graph or create custom flows to make your users move to the other tenant during sign-in, for example. Password hashes can't be "migrated" in any case.

See the migration approaches document.

Yo

[2019-10-15 02:34] davejdyer opened #40749 "Are new SCOM 2019 Azure Monitor connections still possible?"
Could you please elaborate and clarify this statement:

"Recent changes to Azure APIs will prevent customers from being able to successfully configure integration between their management group and Azure Monitor for the first time. For customers who have already integrated their management group with the service, you are not impacted unless you need to reconfigure your existing connection.
A new m

[2019-10-15 02:35] FrankHu-MSFT commented on #40249
Hey @mustafamg if there's no response by end of day tomorrow I'll be closing out this github issue, please let us know if you have anymore questions. If this issue is closed out, please open a new github issue with a reference to this issue for more information.

[2019-10-15 02:38] SwathiDhanwada-MSFT commented on #40684
@MGoedtel Can you please review this?

[2019-10-15 02:41] mike-urnun-msft commented on #40741
@APErebus Thank you for your feedback! We will review and update as appropriate.

[2019-10-15 02:43] mike-urnun-msft commented on #40744
@brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-15 03:03] BharathNimmala-MSFT commented on #40636
Thank you @mrbullwinkle for additional details.

@rajata07 Hope the above information clarifies your query. Please let us know if you need any other information. Thank you.

[2019-10-15 03:52] shashishailaj commented on #40731
@hpsin Thank you for acknowledging the same. We will keep this as a placeholder for now and will update further as you make changes to the system.

[2019-10-15 03:53] shashishailaj commented on #40735
@mpchen Thank you for your feedback . We will investigate and update the thread further.

[2019-10-15 03:54] shashishailaj commented on #40727
@Canis-Lupis Thank you for your feedback. We will investigate and update the thread further.

[2019-10-15 03:55] shashishailaj commented on #40734
@SujanKansakar Thank you for your feedback. We will investigate and update this thread further.

[2019-10-15 04:02] simonmckenzie opened #40751 "Notes on geo-replication are unclear"
This page states that a managed instance can only be a publisher and/or distributor if it _isn't_ participating in geo-replication, but later on, it states that you _can_ use auto-failover groups (which are built on top of active geo-replication).

Does this mean that an active geo-replicated managed instance _can_ participate in replication, but only as a subscriber? Whatever the meaning is here,

[2019-10-15 04:05] DashleenBhandari-MSFT commented on #40575
@MattCrees , This is a known issue that iOS 13 has changed how notifications are called. I will be engaging document author to elaborate further.

[2019-10-15 04:05] neeleshray-msft commented on #40184
@barmutayn  This would require additional troubleshooting, hence we would suggest you to post on the [MSDN Azure AD Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD).

[2019-10-15 04:05] #40184 closed

[2019-10-15 04:07] DashleenBhandari-MSFT commented on #40374
@SgtSpamCan , I will go ahead and close the issue as I haven't heard back from you. Please feel free to reopen once you need further assistance.

[2019-10-15 04:07] #40374 closed

[2019-10-15 04:08] DashleenBhandari-MSFT commented on #40643
@meet-rs-api We will work with the document authors to improve the messaging in the document.

[2019-10-15 04:12] ManojReddy-MSFT commented on #40667
@JohnRusk I have submitted a PR and the issue will be closed automatically when the PR gets merged. Thanks for taking the time to provide feedback.

[2019-10-15 04:12] #40667 closed

[2019-10-15 04:17] KetanChawda-MSFT commented on #40527
@FISHMANPET Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-15 04:18] CHEEKATLAPRADEEP-MSFT commented on #40729
@cmusa17  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-10-15 04:42] souravmishra-msft commented on #39178
@sanjaybhagia, Wanted to check if the above response helped in answering your query. Do let us know if there are any more queries around this same. If not then we would like to close this thread out for now.

[2019-10-15 04:47] sanjaybhagia commented on #39178
Hi again,

As I said, I just used the end-point that was referred in the docs. I'm sure if I host this function myself it will work. I created this issue to point out that the function end-point that is provided is the docs has different behavior than what code is referring to.

[2019-10-15 04:48] anishkshah commented on #40154
Did not work in storage explorer was stuck in trying to download kind of
loop. I would prefer azcopy over storage explorer.

On Mon, Oct 14, 2019, 3:41 PM John Rusk [MSFT] <notifications@github.com>
wrote:

[2019-10-15 04:48] SwathiDhanwada-MSFT commented on #40433
@jtuliani We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-10-15 04:48] #40433 closed

[2019-10-15 04:55] SwathiDhanwada-MSFT commented on #40674
@harika-thallam I hope you are looking for this [document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/template-workspace-configuration#configure-a-log-analytics-workspace).

Hope this helps!

[2019-10-15 05:01] harika-thallam commented on #40674
@SwathiDhanwada-MSFT  That was helpful, but I was looking for C# SDK documentation explaining the same.

[2019-10-15 05:01] dcbrown16 commented on #32740
@SubhashVasarapu-MSFT the table was fixed, so just waiting on the image to be redone with white background instead of transparent so that it works on dark background.

[2019-10-15 05:05] SumanthMarigowda-MSFT commented on #40739
@eugen-nw Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-15 05:06] SumanthMarigowda-MSFT commented on #40736
@eugen-nw Thanks for your question. We are checking on this and will respond to you soon.

[2019-10-15 05:10] danielsc commented on #40694
could you elaborate on how you log the loss? The intended way to log series is by calling `run.log(key, value)` repeatedly, in your case once per epoch.

[2019-10-15 05:56] AndrewLouw commented on #40694
I've been using log_list, so I can use graphing tools in the portal ui. Does the metric size limit apply to each individual metric? Or to the whole collection of metrics?

[2019-10-15 06:28] jakaruna-MSFT commented on #40217
@mladents Good that  you got it worked.

[2019-10-15 06:28] #40217 closed

[2019-10-15 06:54] neeleshray-msft commented on #39808
@JonesMikael  As of today, only TPM2.0 is considered for Hybrid Join. "Software based" is not an option for TMP1.2

[2019-10-15 06:54] #39808 closed

[2019-10-15 06:58] neeleshray-msft commented on #40353
@RobertoBorges  Kindly contact your Technical Account Managers or you can create a Billing Ticket for the same.

[2019-10-15 06:58] #40353 closed

[2019-10-15 07:00] JonesMikael commented on #39808
So maybe we could clarify more in detail in the article what this actually means? For example (if this is true); "Starting from Windows 10 1903 release, TPMs 1.2 are not used for Hybrid Azure AD join and devices with those TPMs will be considered as if they don't have a TPM _and therefore Hybrid Azure AD Join will not work at all_"?

[2019-10-15 07:07] Boombasteg commented on #40675
It is ~61 Gb:
{
  "value": [
    {
      "currentValue": 61023358357,
      "limit": 107374182400,
      "name": "Size",
      "unit": "Bytes"
    },
    {
      "currentValue": 0,
      "limit": 10,
      "name": "Webhooks",
      "unit": "Count"
    }
  ]
}
And on portal now it is 56.8:
![image](https://user-images.githubusercontent.com/11660672/66808231-7c57a500-ef33-11e9-86d8-7e12a32a1da4.png)

[2019-10-15 07:15] neeleshray-msft commented on #39867
@Hopechenhpe  The B2B Guest user settings have been moved under "Organizational Relationships" -> "Settings".

[2019-10-15 07:15] #39867 closed

[2019-10-15 07:16] reminia commented on #10943
@douglaslMS  Can you give out the formula using to caculate max current jobs based on VM memory and cpu cores? I need to choose the VM size we should use to deploy hosted IR.

[2019-10-15 07:19] rajata07 commented on #40636
Great, thank you very much @mrbullwinkle and @BharathNimmala-MSFT.

[2019-10-15 07:19] #40636 closed

[2019-10-15 07:30] SnehaAgrawal-MSFT commented on #40565
@SogoGolf Glad to know it was helpful. Its linked in the document in Add or edit section under “[stick the setting to the current slot.”](https://docs.microsoft.com/en-au/azure/app-service/deploy-staging-slots#which-settings-are-swapped) Will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-10-15 07:30] #40565 closed

[2019-10-15 07:32] tudormaz commented on #40696
Hello and thank you for your answer. I'm sorry I didn't provide some sample data. I didn't mean a hardcoded \n but rather the special char of line break.
[code]

![image](https://user-images.githubusercontent.com/6485708/66809905-e756ab00-ef36-11e9-9780-4f4343783820.png)

![image](https://user-images.githubusercontent.com/6485708/66809827-caba7300-ef36-11e9-9b10-7c0c58a43aa3.png)

![image](https:/

[2019-10-15 07:33] ManojReddy-MSFT commented on #39708
@cypherstream  We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-10-15 07:33] #39708 closed

[2019-10-15 07:34] abhirockzz opened #40754 "Diagrams do not reflect Azure File support for Azure Premium storage"
[Volumes section](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#volumes) mentions "Files can use Azure Standard storage backed by regular HDDs, or Azure Premium storage, backed by high-performance SSDs."

However, this is not reflected in the diagrams in sections [Persistent volumes](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#persistent-volumes) and [Persistent volum

[2019-10-15 07:40] treimers commented on #40513
Please note that the hint with the service principal was very helpful also!

As of our Azure set up I could not grant permission for the service principal on my own virtual network. After omitting the virtual network parameter the command created a network in the cluster resource group and granted the permission for the service principal on that virtual network.

[2019-10-15 07:56] sujitks commented on #40720
Hi @FrankHu-MSFT, thanks for the reponse, I am using follwoing template as an artifact in the blueprint to deploy. There is nothing much.
[code]

I am getting following errors:
[code]

[2019-10-15 07:59] hyperioreviewer opened #40755 "Provide more information on Distributed Transactions in SF Mesh"
Hi,
The article mentions Distributed Transactions. Please elaborate on whether this feature will be "natively" supported by SFMesh, and how will developers leverage it?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1772867c-92c7-f8ae-e19a-929478763da3
* Version Independent ID: 2df08f43-c2be-63e3-1b6f-99932ddd5

[2019-10-15 08:00] KalyanChanumolu-MSFT commented on #40751
@simonmckenzie Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-15 08:00] ram-msft commented on #40570
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-15 08:00] #40570 closed

[2019-10-15 08:01] sparianer commented on #39519
It's the same error message as mentioned above:
"Failed to get subscription status on storage events for event trigger: <trigger name>"

In _View detail_ there is only a common message "InternalServerError executing request"

The trigger looks the following way:
![image](https://user-images.githubusercontent.com/56535341/66812146-a78dc480-ef32-11e9-8344-c8bb834ae168.png)

[2019-10-15 08:04] blueelvis opened #40757 "I get different IP addresses"
As per the event schema example above, I should be getting the same IP address in the event but when I inspect the event, I notice that `httpRequest.clientIpAddress` is different that what is contained in `data.claims.ipaddr` . Could you please clarify?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278

[2019-10-15 08:09] james-stocks commented on #40493
Hi Marilee-

I am still unable to select only MFA-disabled users with the `Get-MsolUserByStrongAuthentication` cmdlet as per the original issue.
I can certainly use `Get-MsolUser` and the command you provided works in my dev environment but I am unsure if running `Get-MsolUser -all` then piping the results to `Select` is efficient in Production where we have over 100,000 users in AD and only need

[2019-10-15 08:11] Tanharuki commented on #38867
Now The documents show the japaneast is available,But i tried to deploy the SQL database,the message showed below:
**please accept preview terms to use the Zone Redundant Azure SQL Database**

I want know how to judge if the Availability Zone (Azure SQL database service) is already GA(General Availability) or still preview in EASTJAPAN region.

[2019-10-15 08:36] v-tawe opened #40759 "link 404"
The link for **Desired State Configuration (DSC)** : https://docs.microsoft.com/en-us/powershell/dsc is 404, please check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a410153e-4b2d-ee5d-3ce4-6e050f2aaaf9
* Version Independent ID: 80b06afb-9e10-5bd9-3019-bd28aca84a97
* Content: [How to create Guest Configuration poli

[2019-10-15 08:38] ManojReddy-MSFT commented on #40733
@damiandiaz76 It should be supported. I will test this scenario and will get back to you with my findings.
 I have observed access policies taking longer time to affect in terms of MSI's and requiring the restart of the app services. Please account for that during your testing as well.

[2019-10-15 08:38] KrishnaG-MSFT commented on #40759
@v-tawe Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-15 08:39] mandarj123 opened #40760 "format of usermetadata parameter?"
what is the format of usermetadata parameter for specifying endpoint as host:port format, while creating hybrid connection from Relay ?

i have tried "test.com:3993" or { host:'test.com',port:3993} but the hybrid connection is not visible in app service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0

[2019-10-15 08:41] ManojReddy-MSFT commented on #40730
@EyalPerry Thanks for reporting this. We will get back to you shortly regarding this.

[2019-10-15 08:51] SamirFarhat opened #40761 "Please Add information about the number of Gateway instances deployed within the Zones"
Hi,
There are 2 or 3 Availability Zones per region. It's confusing that the information of how much zones are used within a Gateway deployment is not mentioned. We should say: A Gateway Instance is created in *each* zone (2 or 3), and the Gateway is resilient across all zones
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-10-15 09:00] souravmishra-msft commented on #40533
@RikardStrand, The update shared on the support ticket is correct and there is no limitations on the number of users that are being assigned to an application registered in AAD.
Coming your query on performance, I can say there wont be issues with Performance, scalability and stability. Also, there wont be any issues with SSO.
The only performance issue that you can expect is around the provisioni

[2019-10-15 09:04] memildin commented on #40488
Hi Jonathan, thanks for the feedback.

Below are our thoughts on the topics you raised.

Whilst it's true that secure score is not calculated at the Management Group level, Azure Security Center policies can be applied at the Management Group level. Consequently, a compliance report will cover all resources under that Management Group.

Regarding the point you raised about multi-subscription repor

[2019-10-15 09:05] Rajani-Janaki-Ram commented on #40638
@y-luis can you let me know what's the region where you are trying to create the vault in? and also the source region of the VMs?

[2019-10-15 09:05] memildin commented on #40488
#please-close

[2019-10-15 09:05] #40488 closed

[2019-10-15 09:07] Rajani-Janaki-Ram commented on #40047
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-autoupdate#manage-as-part-of-the-enable-replication-step

the image in this step shows the automation account selection drop down.

[2019-10-15 09:08] SwathiDhanwada-MSFT commented on #40749
@davejdyer Thanks for the comment. We are actively looking into the issue and we will update you soon.

[2019-10-15 09:14] KannugoPrithvi commented on #32982
Having a similar where a react shell application is trying to fetch micro front end from other url. Anyone has a solution for this issue ?

[2019-10-15 09:17] DimaGershman opened #40762 "User Name field is missing from the exported csv"
I am using B2C with local account and Email as a username, but in the exported CSV I see only ObjectIDs under userPrincipalName or other columns.
I would really like to get the "USER NAME" column, as I see it on the azure portal (as normal user emails)
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800fcb4-d25

[2019-10-15 09:18] RohitMungi-MSFT commented on #40748
@tturn02 We tried to create a resource in the US West2 region and it seems to work fine now.
![image](https://user-images.githubusercontent.com/46958063/66816985-9f488000-ef58-11e9-8387-9501e1816a82.png)

It looks like this could be an issue with this particular deployment. Could you please try to create a new instance or use the trial key(valid for 7 days) by following this [link](https://azure.m

[2019-10-15 09:28] KetanChawda-MSFT commented on #40757
@blueelvis Thank you for your question! We will review and provide an update as appropriate.

@spelluru any thoughts ?

[2019-10-15 09:31] michal-demecki-profil-software opened #40764 "Docs Sample use deprecated version (azure-iothub-device-client)."
According to [azure-iot-sdk-python](https://github.com/Azure/azure-iot-sdk-python): `azure-iothub-device-client` is from v1-deprecated ([migration_guide](https://github.com/Azure/azure-iot-sdk-python/blob/master/migration_guide.md))

But I cannot find any `upload_blob` method in `azure-iot-device==2.0.0rc11`.
Although `azure-iothub-device-client` has it, but installation on `python:3.6` container

[2019-10-15 09:40] baSSiLL commented on #40511
@FrankHu-MSFT It doesn't work with `response_mode=form_post` because of `X-Frame-Options: DENY` header which is sent in all responses from B2C endpoints.
When I use `response_mode=fragment` or `response_mode=query` then the response is a redirect to my redirect URI. And browser follows a redirect successfully because X-Frame-Options is only respected when displaying actual contents and doesn't aff

[2019-10-15 09:46] idbanham opened #40765 "Missing information about at-rest encryption for IoT Hub"
**Issue with page**  - https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-ground-up

**Issue Description** - According to https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#encryption-model-and-key-management-table IoT Hub supports data encryption at rest. However there is no specific documentation that explains how to implement this. We need to make i

[2019-10-15 09:48] DreamRivulet commented on #40300
any update on this issue? @MicahMcKittrick-MSFT   @sauryadas

[2019-10-15 09:53] iravii opened #40767 "Bypass MFA authentication skip this step button not appearing"
This is similar but close to #37449 .

I have 2 service accounts where when I logged into owa, the first account would get an option to register for the MFA but at the bottom "Skip this setup" option would come up where as
for the second account when logged in the "Skip this Setup " option wouldn't come up.

Can anybody point out why is this happening as both the accounts are same.
Thanks,
Ravi

[2019-10-15 10:00] SnehaAgrawal-MSFT commented on #40760
@mandarj123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 10:00] souravmishra-msft commented on #40083
@jgwinner, I can understand that these features like **Seamless SSO** or **Hybrid Azure AD** join can get fairly confusing. Based on your query you shared with us, I see that you have PCs that are already joined to your On-Prem AD domain. Now to get the SSO experience, you can opt for one of the following features:

- **Seamless Single SignOn**
- **Hybrid Azure AD join**

Both of these features pr

[2019-10-15 10:02] iravii commented on #40767
![mfa](https://user-images.githubusercontent.com/13792963/66822010-01a57e80-ef61-11e9-9f01-db079bc4457a.JPG)

[2019-10-15 10:03] souravmishra-msft commented on #40472
@elhamkarshenas, We are closing this thread for now. Feel free to reopen this thread in case any more queries around this issue comes up.

[2019-10-15 10:03] #40472 closed

[2019-10-15 10:17] askalski85 opened #40768 "Why I can't resize every element"
Not all of the elements have a resize option. I am trying to put graphs related to cost of my services. Unfortunately due to long resource group names I am not able to see the graph properly.
I know I could use short group names or use tags, but in general why I can't just simply resize any type of element on the dashboard?

Also in above doc I can see lack of the resize option.
https://docs.micro

[2019-10-15 10:22] souravmishra-msft commented on #40557
@pyoungberg, The **app passwords** are considered to be **legacy feature** and since the **converged MFA/SSPR** is the new experience, hence app passwords option is not available here.
In case you would like to use the app password feature, you would have to use the old MFA registration portal.

[2019-10-15 10:29] SubhashVasarapu-MSFT commented on #40304
@theheatDK , Appreciate your patience. As Azure firewall works on layer 3 (Network Layer) it does not have capability of protecting against web attacks which has HTTP/HTTPS protocols. In this case you should opt for Application gateway where the Web Application Firewall (WAF) is a feature of Application Gateway that provides centralized inbound protection of your web applications from common explo

[2019-10-15 10:29] #40304 closed

[2019-10-15 10:30] SubhashVasarapu-MSFT commented on #40761
@SamirFarhat , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-15 10:36] deheems opened #40769 "Not up to date?"
When Azure Dev Spaces is selected from launch settings, I can select my right subscription an AKS cluster. But I can't select Space:"Default". I get the option to create a new space. When I try I get the following error: "Value cannot be null. Parameter name: source".
I think it has something to do with the space, how can I create a space?

![image](https://user-images.githubusercontent.com/565858

[2019-10-15 10:37] souravmishra-msft commented on #40762
@DimaGershman, Thank you for sharing the query. I am looking into this. Though it looks like not possible, as this is how it is stored in the B2C directory (userPrincipalName). I am checking on this to see if there is an alternative available.

[2019-10-15 10:54] theronic opened #40770 "How do I insert an entity into a table?"
The README.md extensively describes a variety of auth setups and insert/update handlers, but nowhere does it seem to describe how to insert a row into a table using the easy tables interface from an arbitrary JS file.

How do I add an entity to a table and commit the transaction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-15 11:01] jakaruna-MSFT commented on #40747
@dcbrown16
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-15 11:08] jakaruna-MSFT commented on #40754
@abhirockzz
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-15 11:10] SwathiDhanwada-MSFT commented on #40674
@bwren Can you please review this and update the document if necessary?

[2019-10-15 11:11] SumanthMarigowda-MSFT commented on #40547
@tdevere Did you uploaded the images in the thumbnails container as mentioned in the instructions here? If not, I would recommend you to check once.
When click on image, You will see an error message can you share me that?

[2019-10-15 11:15] SwathiDhanwada-MSFT commented on #40359
@enadmin I have reproduced the issue from my end, and i was able to view the Guest(Classic) metrics.
![image](https://user-images.githubusercontent.com/48976275/66825098-3583a280-ef67-11e9-8ab6-a54ff00a2e69.png)

As this is not a documentation issue, i would recommend you to post your question in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=opinsights) or raise a [Azure s

[2019-10-15 11:15] #40359 closed

[2019-10-15 11:16] SwathiDhanwada-MSFT commented on #40567
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-15 11:16] #40567 closed

[2019-10-15 11:16] GatisVerzemnieks commented on #23789
Is there any updates regarding this bug?

[2019-10-15 11:20] jakaruna-MSFT commented on #40755
@hyperioreviewer
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-15 11:37] krisbock opened #40771 "Missing step to define project_folder"
Twice the PythonScriptStep function uses source_directory=project_folder, when project_folder is not defined anywhere in the page.  If the page is read in isolation, it's not clear what project_folder needs to be pointing to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version

[2019-10-15 11:43] sauryadas commented on #40300
A rolebinding instead of a clusterrolebinding is created for the kube-system namespace and bound it to the cluster role for it to apply only to the kube-system namespace and not the entire cluster. @MicahMcKittrick-MSFT  Can you please update the docs?

[2019-10-15 11:47] rkarlin commented on #27055
@cabailey do you want to review this? thanks

[2019-10-15 11:47] rkarlin commented on #25963
@cabailey can you please review this? thanks

[2019-10-15 11:48] rkarlin commented on #27417
@cabailey please review

[2019-10-15 11:49] xieofxie opened #40772 "How to handle 302 redirect in http action?"
It will report "failed".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88388cfb-3f47-e89b-ad03-01d0c9674dc6
* Version Independent ID: 21df1ee4-6487-b054-2a62-152e7bc768f6
* Content: [Call HTTP and HTTPS endpoints - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/connectors-native-http)
* Content So

[2019-10-15 11:53] jolguk opened #40773 "The github code link seems to fail now"
I get an EOF when trying to clone the code sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda66a82-305c-262b-eae4-be2cf9068b38
* Version Independent ID: 75660609-9643-3406-b707-d1752183c9bf
* Content: [Upload, encode, and stream with Azure Media Services v3](https://docs.microsoft.com/en-us/azure/media-services

[2019-10-15 11:53] RikardStrand commented on #40533
Awesome, thanks for the information. #caseclosed

[2019-10-15 11:53] #40533 closed

[2019-10-15 11:57] ryanspletzer commented on #39520
Hi, can someone let me know what `IS_MEMBER_OF` does?

Also I know that perhaps some of the operators may be "preview" ones but it doesn't say anything to that effect in the portal... it just lists them all and they you want to find out more about what one of them does like `IS_MEMBER_OF` and you can't find anything when searching.

[2019-10-15 12:03] noocyte commented on #16997
Did not GA? Still an issue.

[2019-10-15 12:07] tayamasa commented on #40207
The following setup is not supported.
[Onpre 01]---(ExR)---------------------------------------(ExRGW)
　　　　　　　　　　　　　　　　　　　　　　　　　[VNET]
[Onpre 02]---(VPN ”Force tunneling - Default Site”)---(VPNGW)

The following setup is better.
[Onpre 01]---(ExR)-------------------------------(ExRGW)
　　　　　　　　　　　　　　　　　　　　　　[VNET]
[Onpre 02]---(VPN ”Force tunneling - BGP”)---(VPNGW)

I discussed to Sarthak Agarwal.

[2019-10-15 12:07] su-jie commented on #40657
@baatch thanks for the feedback. I will update the doc to fix that.

[2019-10-15 12:09] ovidiubuligan commented on #38914
@souravmishra-msft  it seams that the whitelisting azure devops services , the ip's in the link are it is not enough .
For example trying to link the variable group from devops to the secrets from keyvault I needed to also add the ip: 52.236.x.x  (I intentionally hid the lat 2 bytes). Do you know from where these ip's are? Can you provide the full range of ip's for devops variable groups linkage ?

[2019-10-15 12:10] Dan-cws commented on #16997
Happy birthday to you, happy birthday to you, happy birthday 40 mb issue, happy birthday to you!

[2019-10-15 12:10] amine-merimi commented on #31844
Hi,

I already done the workaround 1 month ago.
The bug reappeared. I'm not going to erase ma y mappings a second time.

Microsoft must do something ASAP !

[2019-10-15 12:11] KalyanChanumolu-MSFT commented on #40283
@prabhushrikant  Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions please post the same on [MSDN Forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azurecache) for greater visibility.

[2019-10-15 12:11] #40283 closed

[2019-10-15 12:24] wshamroukh commented on #40631
@saurabhsensharma I tried to deploy it on Azure website as per the instruction in the documentation, but when you try to browse the web app URL, the page keeps loading and loading and then eventually we get `HTTP ERROR 500`

[2019-10-15 12:30] theheatDK commented on #40304
Thanks @SubhashVasarapu-MSFT,
Sorry but I still do not understand it. I do understand that there is no WAF etc. in Azure firewall.
But we are talking about Network rules, nothing else. For Network rules I would expect the firewall to handle inbound tcp traffic regardless if it is rdp or http. Then you can combine it with an Application Gateway with WAF if you want to.
Regards Peter

[2019-10-15 12:32] eelajah commented on #27800
When can we expect the details on the federation scenario where we do not have two prompts for logging in to remote desktops and remote apps?

[2019-10-15 12:49] Smurfa commented on #38099
.NET Core is no longer in preview, any news on this?

[2019-10-15 13:14] MonikaReddy-MSFT commented on #40769
@deheems , Thank you for reaching out to us. We will investigate this further and get back to you shortly.

[2019-10-15 13:15] waysidefarm commented on #40547
@tdevere have you completed all parts of the tutorial? This part only uploads the image.... part 2 creates the thumbnail

[2019-10-15 13:23] MonikaReddy-MSFT commented on #40721
@patobtx - I'm going to assign this to the document author so they can update the document accordingly.

[2019-10-15 13:24] DCtheGeek commented on #40759
#reassign:DCtheGeek

[2019-10-15 13:24] DCtheGeek commented on #40759
@v-tawe Thanks for spotting this! I'll get it corrected right now.  This issue will automatically close when the PR to fix it is merged.  Thanks for letting me know!

@MicrosoftDocs/azure-cxp-triage Please change label from 'doc-enhancement' to 'doc-bug' and #in-progress

[2019-10-15 13:28] spelluru commented on #40757
@banisadr - could you please answer when you get a chance? Thanks.

[2019-10-15 13:29] jaq316 opened #40774 "Billing details"
It would be great if we could get some clarity here on how billing works with the Delay and Delay Until actions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8361907-737c-3c3d-3225-217a044e54b2
* Version Independent ID: 6da6a9cc-9436-aae0-06d7-606e09688795
* Content: [Delay the next action in workflows - Azure Logic

[2019-10-15 13:35] jzuchora87 commented on #40047
Hello,
I believe the screenshots are out of date. I have no option to select my already existing automation account:
![image](https://user-images.githubusercontent.com/34356109/66836281-0fdaa700-ef2f-11e9-9801-b616fd6a838e.png)

[2019-10-15 13:38] MonikaReddy-MSFT commented on #40310
Hello @letargis,
Closing this issue for now, If you foresee this issue again, please reach out to at azcommunity@Microsoft.com as instructed above.

[2019-10-15 13:38] #40310 closed

[2019-10-15 13:45] DreamRivulet commented on #36291
any update on this for multiple backend pool static egress ip?

[2019-10-15 13:53] DreamRivulet commented on #40300
@sauryadas  could you also check my comments: https://github.com/MicrosoftDocs/azure-docs/issues/40300#issuecomment-539821598 ？I think this part may also needs to be updated.

[2019-10-15 13:56] PramodValavala-MSFT commented on #40659
@PingPongSet Just following up here... Hope my previous comment clears things up.

[2019-10-15 14:20] MGoedtel commented on #39960
@boscoedash & @femsulu - I uncovered two issues with the JSON and corrected them - 1 section termination issue and syntax error with the customlogname section.  The updated article goes live later today.  #please-close.

[2019-10-15 14:20] #39960 closed

[2019-10-15 14:23] #40759 closed

[2019-10-15 14:29] MGoedtel commented on #37894
@phspies & @SwathiDhanwada-MSFT - I've talked with the PM who is responsible for this solution and they will document the schema for me, but I don't have an ETA.  I've bugged this and it will get tracked addressed as soon as they share the schema with us to incorporate into the article.  #please-close.

[2019-10-15 14:29] #37894 closed

[2019-10-15 14:31] theanatar opened #40776 "Missing word"
On the "Streaming Logs" section, there is a word missing in the following sentence:
"While developing an application, you often want to what's being written to the logs in near-real time when running in Azure."

It needs to say:
"While developing an application, you often want to see what's being written to the logs in near-real time when running in Azure."

The word "see" (or a synonymous) needs

[2019-10-15 14:34] prashant-kotwal commented on #40303
Hi @SaurabhSharma-MSFT  @MarileeTurscak-MSFT ,  Do you have any updates on this. ?
We have registered Mobile/Native App earlier with redirect uri format supported as per documentation for Android  https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-android . Now, Below format Signature Hash value is not supported with query parameter("=" character). msauth://com.xxxxxxxx.

[2019-10-15 14:42] BhupalPatil opened #40777 "Post Request Authorization with X509 Certificate"
Hi Team, can we have this documentation extended to cover up file upload Post Request authorization  when device is registered with X509 certificate.
In normal scenario when device is registered with Symmetric key we send POST request to below url with SAS token which is generated using device key however if device is registered with X509 certificate what should be the POST request submit as auth

[2019-10-15 14:45] ggailey777 commented on #40776
@theanatar thanks for reporting this!

[2019-10-15 14:56] ajt2018 opened #40778 "Awful tutorial"
I've only got a few instructions down and am already pulling my hair out.
Versions of .NET core are a complete mess and a mystery to any new to it.
2.2.0 didn't get installed from the latest downloads (various 2.1 and 3.0 versions only)
Had to find that manually and make sure it was version 109 so I could use it in VS 2017
Had to add .NET cross platform to VS
dotnet-ef wasn't installed for some re

[2019-10-15 14:58] #40776 closed

[2019-10-15 15:01] HeidiSteen commented on #40571
@siddharth-vaghasia  Closing the loop -- docs are now updated to specifically call out the SQL variants: https://docs.microsoft.com/en-us/azure/search/search-indexer-overview#supported-data-sources

Thanks for contributing!

#please-close

[2019-10-15 15:01] #40571 closed

[2019-10-15 15:03] cobra30299 opened #40779 "verify IP address for GWs"
can someone please verify that this page and IP addresses are accurate as of 10/15/2019 ? My customer is asking .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36fc6a4-489e-47c5-2882-1f043f751e7b
* Version Independent ID: d2402e71-a346-5c9e-5b6b-c76ccf283b54
* Content: [Gateway traffic migration notice for Azure SQL

[2019-10-15 15:07] denniszielke opened #40780 "AKS does not have HA master!"
"The AKS control plane components for your cluster are also spread across zones in the highest available configuration when you create a cluster specifying the --node-zones parameter."  is wrong and should be removed until it is available.
See correct documentation: "KS provides a single-tenant cluster master, with a dedicated API server, Scheduler, etc" https://docs.microsoft.com/en-us/azure/aks/

[2019-10-15 15:08] ckbargavi opened #40781 "Fix typo "vitual" to "virtual" in first diagram from this page"
Fix typo "vitual" to "virtual" in first diagram from this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59f6188-5a22-9f66-9dde-8b28123872f4
* Version Independent ID: 96310808-4d51-c097-1287-77086c766a42
* Content: [Container networking with Azure Virtual Network](https://docs.microsoft.com/en-us/azure/virtual-ne

[2019-10-15 15:17] siddharth-vaghasia commented on #40571
@HeidiSteen ...thank you...!!

[2019-10-15 15:17] NavtejSaini-MSFT commented on #40588
@furmangg We are assigning this to our author for further review.
@XiaoyuMSFT Please check this and help the user accordingly.

[2019-10-15 15:30] msrini-MSFT commented on #40781
@ckbargavi , Thank you for your feedback. I will take a look and update soon.

[2019-10-15 15:30] RamlingaReddy commented on #40677
"Conditional Access
Because of a limitation in the Azure AD Library used by Storage Explorer, Conditional Access isn't supported when Storage Explorer is being used on Windows 10, Linux, or macOS."

As per the article conditional access is not yet supported. However, few users are reporting that they were able sign-in to their azure subscription until recently. Please confirm.

[2019-10-15 15:33] SamaraSoucy-MSFT commented on #40420
All of the commands in the quickstart can be run on Powershell- the Azure CLI (`az` commands), the Dev Spaces CLI (`azds` commands), git, and Helm are not OS dependent and can be run from Windows, Mac, or Linux. If you decide to use Helm for deployment. you can configure that on your laptop [using the documentation for Helm](https://helm.sh/docs/using_helm/).

The basic workflow is:
1. Setup the c

[2019-10-15 15:33] #40420 closed

[2019-10-15 15:33] KrishnaG-MSFT commented on #40776
@ggailey777 Thanks for the super quick response. 👍

[2019-10-15 15:35] jgwinner commented on #40083
Thank you, but that really helps not at all.

Sorry to be blunt ... the requirement is to be able to have OneDrive log in automatically.

None of the above even addresses OneDrive.

So what does it take to make the GPO settings for OneDrive to either do a prompted KFM move or a silent KFM move?

As I can tell you neither solution works with AD and SSO. The user manually has to log in, which means

[2019-10-15 15:36] MicahMcKittrick-MSFT commented on #40517
@susan-wangyi Apologies. I am still working offline to get an accurate answer. Will update as soon as I have more information.

[2019-10-15 15:37] arkintz commented on #38342
Was there ever any resolution to the "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'" errors? I have multiple App Services running various ASP.NET Core APIs, dotnetcore based WebJobs and Azure Functions that are all intermittently experiencing this problem. Implementation follows this document and it usually works, until it doesn't.

[2019-10-15 15:38] MicahMcKittrick-MSFT commented on #40780
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 15:45] AjayKumar-MSFT commented on #40653
@macrochen86, Kindly confirm if the WebApp name that you're provisioning doesn't already exist and you're deploying the WebApp into an appropriate Resource Group (review for any typos). Kindly let me know if this helps or post a screenshot of the cmdlet you used after concealing any private details.

[2019-10-15 15:47] MicahMcKittrick-MSFT commented on #40300
Thanks @sauryadas I will update the doc today

[2019-10-15 15:49] lsnoddy opened #40782 "CorpnetSAW Service Tag"
Can the CorpnetSAW service tag be added to this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft.com/en-us/azure/virtual-network/security-ov

[2019-10-15 16:01] msrini-MSFT commented on #40782
@lsnoddy  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-15 16:06] markwa commented on #39665
I have the same issue. I have tried the work around that I think is being suggested in this thread.

I created a new AAD user called Qwiqr.

![image](https://user-images.githubusercontent.com/5772529/66848468-0c661080-ef6d-11e9-8fe7-169b0ec74185.png)

And then I created a new app registration belonging to the new AAD user.

When I try to verify the domain I still get this error...

"Verification o

[2019-10-15 16:07] msrini-MSFT commented on #40781
@aanandr , Can you please fix the typo in the image ?

[2019-10-15 16:13] DixitArora-MSFT commented on #40774
Hi @jaq316 Thanks for your feedback. We will review and update as appropriate.

[2019-10-15 16:15] DixitArora-MSFT commented on #40772
Hi @xieofxie This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-10-15 16:21] MicahMcKittrick-MSFT commented on #40271
Thanks @ramankumarlive Not sure how I missed that :)

@aschlei I will close this out but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-15 16:21] #40271 closed

[2019-10-15 16:23] MicahMcKittrick-MSFT commented on #40693
@timyhac I will go ahead and close this but if you have further questions just let me know and we can always reopen and continue the discussion.

[2019-10-15 16:23] #40693 closed

[2019-10-15 16:24] MicahMcKittrick-MSFT commented on #40780
adding @MicrosoftDocs/aks-pm to confirm.

[2019-10-15 16:35] cabailey commented on #27055
Closing this issue - it's no longer relevant now that Fusion is enabled by default in the general availability release, and if you need to disable it, you can do so using standard UI controls (no more unfriendly command line!)

In case you haven't found it, the new design is documented in this new article: https://docs.microsoft.com/en-us/azure/sentinel/fusion

#please-close

[2019-10-15 16:35] #27055 closed

[2019-10-15 16:39] olofhellman commented on #38342
No, I never figured out the root cause of the 'NT AUTHORITY\ANONYMOUS LOGON'” errors.

- Olof

[2019-10-15 16:40] KranthiPakala-MSFT commented on #40622
@mamccrea Thanks for the details.

@fly-high-bj We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-10-15 16:40] #40622 closed

[2019-10-15 16:40] cabailey commented on #25963
Closing this issue - happy to update that it's no longer relevant now that Fusion is enabled by default in the general availability release, and if you need to disable it, you can do so using standard UI controls (no more unfriendly command line!)

In case you haven't found it, the new design is documented in this new article: https://docs.microsoft.com/en-us/azure/sentinel/fusion

#please-close

[2019-10-15 16:40] #25963 closed

[2019-10-15 16:42] mleziva opened #40785 "Building Block Element Order"
This page seems to be outdated and is not consistent with the password complexity page: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom

I encountered the following problems:
The order of elements inside of the BuildingBlocks element is significant as Predicates element must be listed directly after ClaimsSchema element

Predica

[2019-10-15 16:49] cabailey commented on #27417
@ArttuArstila  Thank you for your interest in this feature and your patience while Sentinel was still in preview.  Now that the service is generally available, we have a lot of technical details about the feature (renamed advanced multistage attack detection) and the scenarios supported in this new documentation: https://docs.microsoft.com/en-us/azure/sentinel/fusion

If you feel that information

[2019-10-15 16:49] cabailey commented on #27417
#please-close

[2019-10-15 16:49] #27417 closed

[2019-10-15 16:52] YutongTie-MSFT commented on #40771
@krisbock Hi, thank you for the feedback. We will investigate this issue and let you know if we have any update.

[2019-10-15 16:55] PhilippJust commented on #38643
Thank you!

[2019-10-15 17:01] aturlov-at-work opened #40788 "The example provided here nor the entire command does not work"
Tried an example provided here and my own examples but the CustomScript does not work on a VM scale set. The command installs the CustomScript extension but the extension does not do what it's supposed to: download files and execute commands. It simply does absolutely nothing as if it was not invoked which is perhaps the reason because there are not traces on VM instances of anything related to th

[2019-10-15 17:03] msrini-MSFT commented on #40782
@lsnoddy , It is a Service Tag which is not available to all customers and is used only for internal services. So, documentation will not be updated as of now. Please reach out to me internally if you need more info.

[2019-10-15 17:03] #40782 closed

[2019-10-15 17:06] Mike-Ubezzi-MSFT commented on #40602
@davidmi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-15 17:07] MicahMcKittrick-MSFT commented on #40788
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 17:09] ggailey777 commented on #40589
I wasn't aware that the Azure CLI was a requirement to run Azure Functions Core Tools (func.exe). I'm checking with the product team about this.

[2019-10-15 17:16] v-kydela opened #40789 "Why isn't Node.js a stack option in General Settings?"
There are just these:

![image](https://user-images.githubusercontent.com/41968495/66853672-af4e6880-ef34-11e9-8e4b-c57222fbf90b.png)

However, creating a Node.js app is one of the quickstarts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5e

[2019-10-15 17:17] MicahMcKittrick-MSFT commented on #40788
@aturlov-at-work do you have automatic Guest updates enabled? If not, you likely need to update the VMSS after applying the custom script for it to apply to all the instances.

[2019-10-15 17:21] guyhay commented on #40016
thank you for the feedback, update in progress.

[2019-10-15 17:21] ggailey777 commented on #38058
Azure Functions doesn't use any of these prefixes for connection strings, and there's no way to get to the builders to set them. Not sure what we would need to document here. If you have a specific suggestion for something that's incorrect in this article, please reopen. #please-close

[2019-10-15 17:21] #38058 closed

[2019-10-15 17:32] PatrickFarley commented on #33766
@abdulSparSA Can you post a screenshot of your right-click menu?

[2019-10-15 17:33] Canis-Lupis commented on #40727
Upon further testing, it doesn't appear that rolling over the keys is the issue.  All my testers use Chrome and SSO isn't working.  I had them try IE and Edge and it works with those browsers--they are able to open https://myapps.microsoft.com/{ourdomain}.com and not be prompted to log on.  So, the issue is probably with Chrome.

I had three testers directly add https://autologon.microsoftazuread-

[2019-10-15 17:35] SaurabhSharma-MSFT commented on #40704
@arcotek-ltd Unfortunately you cannot perform silent installation of Azure AD connect.  Please upvote an existing feature request at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/11648064-unattended-installation-azure-ad-connect).

[2019-10-15 17:37] #22594 closed

[2019-10-15 17:38] ggailey777 commented on #22594
Note that my fix for the package language suggested in the original issue triggered this being closed. Please feel free to reopen if there are other clarifications needed in this article, or submit a new feedback issue.

[2019-10-15 17:40] BryanTrach-MSFT commented on #40778
@ajt2018 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 17:41] ggailey777 commented on #12726
I can no longer reproduce these issues in the current versions. Please reopen if this is not resolved for you. #please-close

[2019-10-15 17:41] #12726 closed

[2019-10-15 17:42] BryanTrach-MSFT commented on #40789
@v-kydela Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 17:44] Alberto-Vega-MSFT commented on #40485
Thanks @MaStr11

[2019-10-15 17:45] ajlam commented on #40491
@athempel - thanks for the suggestion! I'll look into a subsection to the ["Connecting from Azure"](https://docs.microsoft.com/en-us/azure/mysql/concepts-firewall-rules#connecting-from-azure) section to refer to the VNET docs.

[2019-10-15 17:45] BryanTrach-MSFT commented on #40773
@jolguk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-15 17:47] MarileeTurscak-MSFT commented on #40764
@michal-demecki-profil-software
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 17:47] ArchieCoder opened #40790 "UWP integration sample"
Hello,

Last week, as a Microsoft MVP Windows Development, I raised the flag to the MVP DL that the Immersive Reader does not have a SDK for Windows apps. The IR team has done something for iOS but it does not help Windows devs (or Android devs).

I'm adding the integration of the IR in my UWP app but I have no idea how to bind the "Back" button with the WebView of UWP. I have other feedback, but

[2019-10-15 17:48] ggailey777 commented on #18712
This is an end-to-end getting started tutorial, which features a triggered function execution. You can learn more about scheduling a WebJob that you publish from Visual Studio here: https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#scheduling-a-triggered-webjob #please-close

[2019-10-15 17:48] #18712 closed

[2019-10-15 17:49] aturlov-at-work commented on #40788
@MicahMcKittrick-MSFT thanks for your help. This was indeed the cause of the behavior. Once I used `--upgrade-policy-mode automatic` the CustomScript started working as expected. This issue is resolved.

[2019-10-15 17:51] #40788 closed

[2019-10-15 17:57] FrankHu-MSFT commented on #40720
I see, where are you getting this template? The issue is with the template not
There is an issue with the value : [guid(resourceGroup().id)].

I assume this resource is part of multiple resource groups and that's the reason why it's throwing this error,

in addition to that it looks like your scope hasn't been replaced with the correct subscription id :  "Scope": "/subscriptions/<SUBSCRIPTION_ID>/

[2019-10-15 17:57] ggailey777 commented on #31480
@adamosoftware you are right that the current screenshots are out-of-date with VS 2019, and I am fixing that. If the published function app is using anything other than the strings in the application settings in the portal, that is a bug. @leftmostlane the portal hasn't changed. You are still supposed to use **Application settings** for your connection strings. The Connection strings section is fo

[2019-10-15 18:01] #31480 closed

[2019-10-15 18:02] ggailey777 commented on #24613
@Petermarcu new TOC is now live. #please-close

[2019-10-15 18:02] #24613 closed

[2019-10-15 18:02] rwike77 commented on #40611
@heyoni  The v1 version of the article is live now:  https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-authentication-scenarios Hope that helps. #please-close

[2019-10-15 18:02] #40611 closed

[2019-10-15 18:03] msrini-MSFT commented on #40561
@HiroyukiSakoh , As of today you will not be able to attach UDR on the Bastion Gateway subnet and you will not be able to use Disable BGP propagation feature to get your setup working. But there is a private preview feature to add UDR in such scenario which you can leverage. You will be updated about this feature once it is in Public Preview.

[2019-10-15 18:03] #40561 closed

[2019-10-15 18:03] prabhushrikant commented on #40283
so does that mean my stunnel is not working. How to make sure of that it's working?

[2019-10-15 18:09] tamram commented on #28819
#reassign: @roygara

[2019-10-15 18:12] ggailey777 commented on #27741
@SeanFeldman good suggestion. I wish there was a `latest` template in NuGet. I will updates to the latest versions.

[2019-10-15 18:13] Minewiskan commented on #40424
@isamllr  - We try to keep this article specific to supported data sources. ADLS Gen 2 is not currently supported, however, you can connect Azure AS to ADLS Gen 2  by using the preview multi-protocol access Blob APIs. Check out the following links to learn more.
https://powerbi.microsoft.com/en-us/blog/connecting-azure-analysis-services-to-azure-data-lake-storage-gen2/
https://docs.microsoft.com/e

[2019-10-15 18:13] #40424 closed

[2019-10-15 18:14] roygara commented on #28819
@juyama @jakaruna-MSFT Sorry for the delay, these have been updated for a while and are currently accurate but, I wasn't aware of this particular GitHub issue.

#please-close

[2019-10-15 18:14] #28819 closed

[2019-10-15 18:15] djyou commented on #40675
The number matches `61023358357/(1024*1024*1024) = 56.8GiB`

Could you share your registry name or send to `ACR Support <acrsup@microsoft.com>`

[2019-10-15 18:16] Alberto-Vega-MSFT commented on #39844
@shreyasraghunath If you still need help you might want to talk to support. We can enable a free one time support ticket.

Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-10-15 18:19] MicahMcKittrick-MSFT commented on #40517
@susan-wangyi thanks for the patience on this. The answer is yes, TRIM support is still available for those versions.

The doc was updated and those were removed as we are approaching the end of support lifecycle for 2008 and are encouraging people to upgrade.

https://support.microsoft.com/en-us/help/4456235/end-of-support-for-windows-server-2008-and-windows-server-2008-r2

So we are leaving the

[2019-10-15 18:19] #40517 closed

[2019-10-15 18:22] mhopkins-msft commented on #27633
Removed the obsolete references.
#please-close

[2019-10-15 18:22] #27633 closed

[2019-10-15 18:24] ggailey777 commented on #30231
It doesn't sound like this is a documentation issue to me. @lokijota have you tried following @AjayKumar-MSFT's latest suggestion?

[2019-10-15 18:25] gregmilligan opened #40792 "Missing the EDU SKUs"
Can someone update this with the M365 A1, A3, A5 SKUs, along with all of the sub-components?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing -

[2019-10-15 18:25] MarileeTurscak-MSFT commented on #40785
@mleziva
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 18:31] c-ashton opened #40794 "typo"
"This chart proides an overview:" in section https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios#how-each-flow-emits-tokens-and-codes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1a08b2-74d4-6350-70c5-6661ef4f7ad1
* Version Independent ID: 52059965-3709-2520-0ed0-82c22648fea2
*

[2019-10-15 18:34] Nickomang commented on #14433
Thanks for the feedback @EVMartinez, we've added an easier to find reference in our docs.

#please-close

[2019-10-15 18:34] #14433 closed

[2019-10-15 18:34] #27741 closed

[2019-10-15 18:36] ggailey777 commented on #35467
#reassign:craigshoemaker

[2019-10-15 18:36] mrbullwinkle opened #40796 "Testing ms.subservice automated metadata labeling."
Test of swapping ms.service metadata value to: azure-monitor and ms.subservice to: application-insights. CXP Triage please feel free to disregard this I will close after the test is complete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abec1591-e1ef-dcae-9cb7-8a6afd7de947
* Version Independent ID: f6119b02-ee1a-6bdd

[2019-10-15 18:37] Alberto-Vega-MSFT commented on #40764
@michal-demecki-profil-software Thanks for trying IoT Hub. Would you please open an issue with your question on the SDK repo? and share the link here?

[2019-10-15 18:39] Alberto-Vega-MSFT commented on #40106
Closing this issue since customer is getting help from support.

[2019-10-15 18:39] #40106 closed

[2019-10-15 18:43] githubavi opened #40797 "How to send live camera feed to the AMS RTMP ingest url using an Windows App or a Xamarin Forms Mobile App?"
Hi, After doing hours and hours of research, I have failed to find any Azure documentation or forums where I can not find out a way of how to send live camera feed to the RTMP ingest url of AMZ. I used OBS software to do the streaming. But I would like to do the same thing from an Windows or a Xamarin Forms application. Let me know if there any documentation or tutorial related to that.

---
####

[2019-10-15 18:44] ggailey777 commented on #40589
It turns out that you do need to have Azure CLI or AzAccounts cmdlet installed for sign-in when using any of the `func azure` commands. We will need to add this to several articles that use Core Tools ([1615659](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1615659)).

[2019-10-15 18:48] pyoungberg commented on #40557
@souravmishra-msft can you update the article again please? We're in Q4 and the feature still hasn't rolled out to GA so the reference to 'more info in Q3' is misleading. You could probably just link it to https://www.microsoft.com/en-us/microsoft-365/roadmap?featureid=46338 and call it good.

[2019-10-15 18:49] #40557 closed

[2019-10-15 18:49] MarileeTurscak-MSFT commented on #40794
@c-ashton
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 18:50] MarileeTurscak-MSFT commented on #40794
Great catch! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91881

The change should go live within 24 hours.

[2019-10-15 18:50] #40794 closed

[2019-10-15 18:53] FrankHu-MSFT commented on #40792
@gregmilligan Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 18:54] sujitks commented on #40720
Hi Frank,

I have removed the actual subscription id before putting it on github.Yes,
test-rg is the resource group I am trying to test

Best Regards, Sujit

On 15 October 2019 at 18:57:54, Frank Hu (notifications@github.com) wrote:

I see, where are you getting this template? The issue is with the template
not
There is an issue with the value : [guid(resourceGroup().id)].

I assume this resource

[2019-10-15 18:57] FrankHu-MSFT commented on #40720
Hello @sujitks okay, the issue still remains that the problem is with :
There is an issue with the value : [guid(resourceGroup().id)].

See : https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-string#guid

As this is an issue with the arm template and there are resources describing how to properly assign deny assignments.

The GitHub doc issues are mean

[2019-10-15 19:01] y-luis commented on #40638
@Rajani-Janaki-Ram, I am trying to create the vault at **Germany West Central** and the source region of the VMs is **West Europe**.

[2019-10-15 19:02] FrankHu-MSFT commented on #40511
Hey @baSSiLL thank you for letting us know about this! I'm going to go ahead and make the change to the docs accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-15 19:02] sanpil commented on #40771
The snippets are based on this sample notebook: https://aka.ms/pl-data-dep. We will update the documentation. Thanks for reporting.

[2019-10-15 19:14] eriawan commented on #40711
@FrankHu-MSFT

I know the updated link in Azure Security Center GitHub has been moved.
I have submitted a PR that updates the link: #40798

Please review.

[2019-10-15 19:15] sakthi-vetrivel opened #40799 "Incorrect Link"
A link from: https://azure.microsoft.com/en-us/services/azure-policy/ took me to this page, when the link said: Learn more about Azure Policy for AKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78761db3-45f2-4c72-81fb-7c013e6be05b
* Version Independent ID: b123f354-0d56-8f41-5bb7-95b231588a5d
* Content: [Azure Moni

[2019-10-15 19:17] ElanShudnow opened #40800 "Clarification on Activity Log Data"
The article mentions, "Two data types -- Usage and AzureActivity -- are retained for 90 days by default, and there is no charge for for this 90 day retention. These data types are also free from data ingestion charges."

Activity Log Data is retained for 90 days even outside of Log Analytics.  Can you confirm that Activity Log Data is stored in Log Analytics for 90 days regardless if your current

[2019-10-15 19:18] sujitks commented on #40720
Hi Hi @FrankHu-MSFT <https://github.com/FrankHu-MSFT>,

Thanks for your quick response.

I have created this issue because azure docs are not clear enough to
provide details of the deny assignments on the page. I trying to get data
from powershell and working through to see if it works.

You should have an example provided to create deny assignments. Reason for
using guid(ResourceGroup().id) was t

[2019-10-15 19:18] ksaye opened #40801 "Error: az: error: unrecognized arguments: --attach-acr"
Using version 2.0.69 of the Azure Client, I am getting the error unrecognized argument, as shown below:

PS C:\Users\KevinSaye\Desktop\Bob\azure-voting-app-redis> az --version

azure-cli                         2.0.69 *

command-modules-nspkg               2.0.3
core                              2.0.69 *
nspkg                              3.0.4
telemetry                          1.0.3 *

Extension

[2019-10-15 19:22] cloranger opened #40802 "Need to Update for US Gov Regions"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d004939e-c536-33b0-7151-fcae2abcc3fc
* Version Independent ID: 12d0932a-536d-f62b-c399-a56a7bf60fcd
* Content: [Regions - Speech Service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions)
* Content Source: [articles

[2019-10-15 19:25] MarileeTurscak-MSFT commented on #40495
Hi @mirikitomo ,

Since I have not heard back, please send me an email at AzCommunity@microsoft.com, or open a new issue for further troubleshooting.

[2019-10-15 19:25] #40495 closed

[2019-10-15 19:27] MarileeTurscak-MSFT commented on #40767
@iravii  please include the link to the article you are following so that I can better assist.

[2019-10-15 19:31] Adam-Smith-MSFT commented on #40585
@mikeblakeuk I escalated the case, currently waiting on feedback, will get back to you as soon as i getr an answer

[2019-10-15 19:31] BernardoMB opened #40803 "Upload a file to blob storage"
This page should specify which calls to the Storage REST API should be mande in order to continue with the Tutotial: Encode a remote file based on URL and stream the video - REST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d08723a0-f42c-7a2f-efff-828d745e4ebd
* Version Independent ID: 2df45dba-fab1-5cf7-8cc3-212d9e7

[2019-10-15 19:38] YutongTie-MSFT commented on #40790
@ArchieCoder  Hi, thanks a lot for reaching out. If my understanding is not wrong, you are requesting the sample of Android dev? Since this forum is only for document feedback, if you have other concern, please let me know and I will forward to appropriate engineering team for review.

[2019-10-15 19:38] #29055 closed

[2019-10-15 19:46] NavtejSaini-MSFT commented on #40779
@cobra30299 We are checking with author regarding this.
@rohitnayakmsft Please confirm the document has the updated Gateway IP's.

[2019-10-15 19:49] NavtejSaini-MSFT commented on #40698
@karandesai28 Please let us know if you need any further help with this.

[2019-10-15 19:50] BharathNimmala-MSFT commented on #40193
@unmeshM Hope the above information helps you, we will go ahead and close the issue for now. However if you have further queries please feel free to tag us in your reply and will be happy to continue the conversation . Thank you

[2019-10-15 19:50] #40193 closed

[2019-10-15 19:52] Frumpi opened #40804 "Table missing""
"The table below that lists out specific steps for each Service Type and Data Type."

There is no such table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1120db7-908f-e245-e87b-6582b7793594
* Version Independent ID: e061e44d-57cb-2743-25a9-665c35da2b91
* Content: [Azure AD Connect Health - Health service data is not

[2019-10-15 19:58] jackiebecker opened #40805 ""File not Found" Error on step 4 of 'Create a new project'"
Gave module name 'CSharpModule' and changed uri to '&lt;my registry&gt;.azurecr.io/csharpmodule' where &lt;my registry&gt; is name of ACR that has already been created. Upon clicking "Add" project initially appears to be creating (and some files are added to solution, the deployment templets & the iotedge.proj file, but then process stops and following error appears:

"The system cannot find the f

[2019-10-15 20:03] FrankHu-MSFT commented on #40720
Hey @sujitks i see I understand now, you would like an example of how to assigned deny assignments. it seems that the doc is unclear and in HOW to properly assign a deny assignment,

The doc could use some more clear steps on what is supported and not supported for azure deny assignments.

I'll go ahead and engage some more members to help add this information accordingly.

cc: @rolyon