[2019-09-19 08:07] SwathiDhanwada-MSFT commented on #39183
@jantoney  Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update

[2019-09-19 08:08] ToruMakabe commented on #39185
@msrini-MSFT Thanks! I will close this issue.

[2019-09-19 08:08] #39185 closed

[2019-09-19 08:08] KrishnaG-MSFT commented on #39047
Assigning content owner @bobbytreed for visibility, review and document enhancement consideration if required.

[2019-09-19 08:12] DixitArora-MSFT commented on #39028
@oleksandr-bilyk Following up again in case missed the previous communication.

[2019-09-19 08:15] mikanyg commented on #14765
I also setup this a couple of days ago. I can see logs coming in and I can see the workbook with graphs, but the summary view and the dashboard does not work. It simply shows:
![image](https://user-images.githubusercontent.com/3300695/65225936-4820ce00-dac6-11e9-9db5-18fa10ba45a4.png)

[2019-09-19 08:16] vdchuyen commented on #31003
Founded, you have to move the static IPs to the correct Resource-group of your Cluster, usually AKS automatically created a mapping Resource-group for k8s.

 _kubectl describe service_ can be useful

[2019-09-19 08:16] RohitMungi-MSFT commented on #39163
@erhopf According to the note each voice could have a different bitrate but they are not updated in the documentation in the language [page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#standard-voices). Could you please check if this can be updated where the different voices that are listed?

[2019-09-19 08:23] PhlashGBG commented on #38545
We have been working exclusively with an access_token from the customer/external IDP, since id_token from AAD are not signed (https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/117) and thus not much use for asserting a caller's identity. Thanks for letting me know about the dependency on application manifest details in the issuing IDP, I'll have a look at the manifest for th

[2019-09-19 08:31] akczcz opened #39188 "Munich as Expressroute location"
Should you add Munich as Expressroute location in connection with announcement from Azure service updates dated to 12.9.2019 (Copenhagen, Stockholm and Munich meet me sites) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e56a6244e

[2019-09-19 08:40] SwathiDhanwada-MSFT commented on #39182
@MikeInSwitzerland  Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-19 08:44] #38545 closed

[2019-09-19 08:47] SubhashVasarapu-MSFT commented on #39188
@akczcz, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-19 08:54] MikeInSwitzerland commented on #39182
Thank you.   I've posted more notes, with some screenshots, here:

[https://stackoverflow.com/questions/57999438/running-an-azure-docker-container-registry-created-by-vs2019](url)

[2019-09-19 09:00] SubhashVasarapu-MSFT commented on #38835
@brreisner, While changing address prefix of a local network gateway with an existing connection you will be having a shot blip which is not noticeable and it's a very quick disconnect/ connect. But no, you don't need to delete the connection. @cherylmc,  Could you please have a look at this concern and make necessary edits if required.
We are closing this issue for now. If there are further quest

[2019-09-19 09:00] #38835 closed

[2019-09-19 09:02] sachdevaswati commented on #35251
#please-close

[2019-09-19 09:02] #35251 closed

[2019-09-19 09:15] PramodValavala-MSFT commented on #39083
@masilva-uei Just following up here... A doc would allow us to direct your query to the appropriate team.

[2019-09-19 09:18] MdAbidHussain-91 opened #39189 "Getting invalid grant error"
Hi,
I followed all steps mentioned in this guide but I am getting the following error :
{
    "error": "invalid_grant",
    "error_description": "AADSTS65001: The user or administrator has not consented to use the application with ID '5617d05d-fdc6-4c56-b1dc-38b8576cfafd' named 'AzureADBlob'. Send an interactive authorization request for this user and resource.\r\nTrace ID: 7979ed8a-3959-4be5-9206

[2019-09-19 09:26] arvitis opened #39190 "App tests automation"
It is mentioned that this is optional, but for publishing the offer is mandatory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b50ce1d1-fc0b-0d5d-ff42-8da5baa3b8c2
* Version Independent ID: f53d7482-5aa1-de0b-68c0-f302161568a1
* Content: [Create a new Dynamics 365 Business Central offer in the Commercial Marketplace]

[2019-09-19 09:27] SubhashVasarapu-MSFT commented on #38891
@alvipeo, I wish to engage with you offline further for a detailed look and to provide a specialized assistance to you, so could you please send an email to me - AzCommunity[at]Microsoft[dot]com referencing this thread and your subscription ID. Since we will work with you offline I will close this issue out.
Also, I'm also sharing your feedback with the content owner (@vhorne ) to review further o

[2019-09-19 09:27] #38891 closed

[2019-09-19 09:29] amistry79 commented on #31771
Please reopen this thread since I am running into similar situation where WebSocket must be enabled for linux based app service and we do not have nodejs application with socket.io. See the reported github issue here https://github.com/microsoft/botbuilder-js/issues/1183

[2019-09-19 09:29] irfan432 opened #39191 "Maximum RPO for Azure DR mentioned is 72 hours but it allows only for 24 hours."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b5526-edb7-fa2f-a6f4-de75c5fd39a3
* Version Independent ID: d1815c07-d020-8d86-75cf-a193e32bba03
* Content: [Common questions about Azure-to-Azure disaster recovery with Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-quest

[2019-09-19 09:30] jonesty commented on #23536
@mdgattuso Our cert now appears in the list and I can enable HTTPS, which appears to work momentarily but it doesn't stick - it always reverts back to disabled. Is there still an issue here or are Sectigo certs still unable to be used?

[2019-09-19 09:30] irfan432 commented on #39191
As per the FAQ, it is mentioned I can set RPO maximum for 72 hours but while configuring I only get to 24 as maximum.

[2019-09-19 09:32] alexespencer opened #39192 "Scope questrion: Boxes for guided hand-written numbers"
Hello,

Are digit boxes to guide a person into entering their numeric ID on a form currently supported? Example (in ASCII text...sorry!)

Customer ID
+-------------+
|   |   |   |   |   |   |
+-------------+

I have trained a model using an empty PDF and then filled in JPGs, and the response never contains the text written in the boxes.

---
#### Document details

⚠ *Do not edit this section. It i

[2019-09-19 09:34] alexespencer commented on #39192
Like the "roll no." in the top left of this image: https://timesofindia.indiatimes.com/thumb/msid-68407859,imgsize-132635,width-400,resizemode-4/68407859.jpg

[2019-09-19 09:49] ChiragMishra-MSFT commented on #39170
@deepikabandhanadham Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-09-19 09:54] pilarodriguez commented on #21079
@lmolkova You mentioned that using `TelemetryConfiguration.Active` should be avoid, but what is the reason? I've seen in the documentation that configuring ITelemetryInitializers with the `TelemetryConfiguration.Active.TelemetryInitializers.Add` is not allowed in .Net Core. But I am doing it like this and I don't get any errors and the initializers are working correctly

[2019-09-19 09:58] dcurwin commented on #38999
#reassign:utraghuv

[2019-09-19 10:01] RohitMungi-MSFT commented on #39192
@alexespencer Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-19 10:03] danimir commented on #39162
@mayurpuli - This is a support question, whereas this forum is intended for documentation questions. For functionalities not working as expected, please open a support ticket using Azure portal for engineering to have a look at and provide assistance. Thank you.

[2019-09-19 10:10] slime-uk commented on #38349
Great 👍 thanks.

From an Azure automation runbook we either need a way to enquire on the health orchestrator to see if an agent is healthy/unhealthy, or be able to Test-NetConnection (AzureVMSS-instance VM) -Port (our service tcp port) or possibly invoke command on VMSS instance. The third one is what we are currently trying but I’m concerned about latency. By the time we get an answer I’m concern

[2019-09-19 10:12] PramodValavala-MSFT commented on #39064
@t-l-k I believe bindings are really applicable in the context of a function invocation and hence its behavior. While you cannot get an instance of `IBinder`, I believe you could still create objects of the attribute classes like `BlobAttribute`, `StorageAccountAttribute`, etc. and share them instead.

@cgillum @brettsam Could you confirm and share insights on this?

[2019-09-19 10:15] cephalin commented on #37533
@degrover-cn The doc is now updated. Thank you for your feedback. #please-close

[2019-09-19 10:15] #37533 closed

[2019-09-19 10:17] SwathiDhanwada-MSFT commented on #39190
@arvitis Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-19 10:20] KalyanChanumolu-MSFT commented on #39162
@mayurpuli As suggested above, please reach out to azure support for assistance.
We will proceed to close this issue now.

[2019-09-19 10:20] #39162 closed

[2019-09-19 10:33] KrishnaG-MSFT commented on #39171
@mayurpuli Does your powershell script use 'Get-AzMetric' / 'Get-AzureRmMetric' cmdlet with 'ResourceId' parameter ? If yes, make sure you use new ResourceId in the script.

[2019-09-19 10:33] ahamedembibe opened #39193 "Query error"
[Enter feedback here]
Can you please check anything wrong in this query?

mysql> SET group_concat_max_len = 8192;
Query OK, 0 rows affected (0.02 sec)

mysql>     SELECT SchemaName, GROUP_CONCAT(DropQuery SEPARATOR ';\n') as DropQuery, GROUP_CONCAT(AddQuery SEPARATOR ';\n') as AddQuery
    ->     FROM
    ->     (SELECT
    ->     KCU.REFERENCED_TABLE_SCHEMA as SchemaName,
    -> KCU.TABLE_NAME,

[2019-09-19 10:34] SnehaAgrawal-MSFT commented on #38922
@alvipeo Thanks for clarification! I have shared the issue with content author for further review and update the document as appropriate.

[2019-09-19 11:06] wbargerb commented on #39120
What I do not understand is that you create a VPN gateway in the vnet-Hub, which does not contain a gateway subnet yet. It only has the firewall subnet. When you create the VPN gateway it will also create a subnet gateway in the vnet-Hub in my opnion. If you create the gateway subnet upfront for the on-prem and spoke network, why don't you do this for the vnet-hub? Also why is there the need for a

[2019-09-19 11:22] AjayKumar-MSFT commented on #39184
@jason-work123, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-09-19 11:33] Rainer21 opened #39194 "Azure Data Lake Gen2 comparison with Blob Storage"
Hi,

after some time where ADLS Gen2 is on the market it would be great, when we could have the comparison with blob storage parallel to ADLS Gen1: https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-comparison-with-blob-storage.

Please create a separate comparison. Specific performance statements based on scenarios would be great too.

---
#### Document Details

⚠ *Do not edit

[2019-09-19 11:37] BevanG commented on #38340
@shashishailaj , I understand that there is no "Create" action, but wouldn't your example above mean that they can't edit any resources within that resource group even after it's created?

How do I prevent a user from creating resources but give them access to edit/write to them after creation?

[2019-09-19 11:41] DavidR91 opened #39195 "Packer does not appear to trigger events?"
Classic use case for events would be wiring up a deletion event in reaction to BlobCreated - esp. for automated processes like Packer VM image creation

But whatever Packer is doing to create VHDs and store them as blobs does not appear to trigger this event

You get a BlobDeleted event when it destroys its temporary VHD, but no events for it creating/writing the final VHD

Can anyone shed some li

[2019-09-19 11:46] wtam commented on #38613
@ram-msft, @j-martens when I install 1.0.62 I have the following compatiblity issue.  any suggestion?

ERROR: azureml-widgets 1.0.57 has requirement azureml-core==1.0.57.*, but you'll have azureml-core 1.0.62 which is incompatible.
ERROR: azureml-train-core 1.0.57 has requirement azureml-core==1.0.57.*, but you'll have azureml-core 1.0.62 which is incompatible.
ERROR: azureml-train-automl 1.0.57 h

[2019-09-19 11:54] alvipeo commented on #38891
Thank you! Email is sent.

[2019-09-19 11:58] artisticcheese opened #39197 "Is it "InProgress" or "In Progress" for "status" field"
As per documentation it shall be "InProgress" (no space), yet actual data for event spells as "In Progress". In addition it was "In progress" for quite sometime now untill recently.
Error when you try to create alert with space is belo

[code]
Actual event is below

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-19 11:59] ali-hamud opened #39198 "Pricing tiers are not synced with documentation for Free active directory."
Pricing tier shows a limit of 500K objects per directory while docs show 50K objects limit per directory.

Pricing:
https://azure.microsoft.com/en-us/pricing/details/active-directory/

Docs:
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-service-limits-restrictions

Commit which changed the docs but not the pricing:
https://github.com/MicrosoftDocs/azure-docs/

[2019-09-19 12:02] jakaruna-MSFT commented on #39075
@sasanmcp Is there any update

[2019-09-19 12:04] jakaruna-MSFT commented on #39000
@athinanthny Please add your comments

[2019-09-19 12:08] KetanChawda-MSFT commented on #39015
@mikebudzynski can you please share your thoughts here.

[2019-09-19 12:23] A-A-Khawaja opened #39199 "Migration to another subscription"
I know that migration of managed instances and managed instance databases to another subscription are not officially supported yet. So what is the best method for moving a managed instance to another subscription? Please suggest the most efficient approach.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0

[2019-09-19 12:35] KrishnaG-MSFT commented on #39107
@venkatx5 Verified and updated the document as required. Thanks.

[2019-09-19 12:35] #39107 closed

[2019-09-19 12:45] MayurBar commented on #34609
I want to implement installation in React Native code, how would I create SASToken??

[2019-09-19 12:51] kyubisation opened #39201 "SPA usage does not work, due to CORS"
Thank you for this documentation. I appreciate the effort to maintain thorough documentation.

The authorization code flow does not work for an SPA, due to https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token not providing CORS headers.
Also client_secret needs to be provided, even though that is strange, due to it being required in frontend code and therefore being insecure.
Since Authori

[2019-09-19 12:53] jakobli commented on #33099
To get this to work we had to configure the Login Redirect URL to https://wd3-impl.workday.com/{tenant}/login-saml2.htmld.

[2019-09-19 12:57] ChiragMishra-MSFT commented on #39194
@Rainer21 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-09-19 13:00] KalyanChanumolu-MSFT commented on #39147
@DarinMacRae Thank you for the feedback.
Yes, the features are out of preview and the screenshots can be updated.
Please comment and let us know if you would like to see any other content added/updated.

This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-09-19 13:05] crixo opened #39202 "Custom policies Facebook sign in not working"
I configured Facebook Identity provider and the related Facebook App.

I'm able to successfully execute the "B2C_1_signupsignin1" User Flow but executing the Custom Policy described in this tutorials to sign in w/ Facebook (LocalAccount sign in works) I'm getting the following error (from Audit Log - Correlation ID matches the error message shown in the jwt.ms callback page):

[code]

---
Error sh

[2019-09-19 13:13] DanlFrn commented on #39124
This is is similar to my problem:

[https://blogs.msdn.microsoft.com/appconsult/2018/10/24/deploy-a-docker-multi-container-application-on-azure-web-apps/](url)

I cannot connect to my container because Azure adds a random number to my service name, like this:

**serving_2_254bc79a**

[2019-09-19 13:14] t-l-k commented on #39064
When a function class is created, and dependencies injected into it before it's instance method is executed, is this not a context applicable to a function invocation? The distinction is not documented.

[2019-09-19 13:15] SubhashVasarapu-MSFT commented on #38855
@jpduffield, Does the ASG_A includes ILB's IP?

[2019-09-19 13:15] cephalin commented on #38996
#reassign:cephalin

[2019-09-19 13:16] mrbullwinkle commented on #39011
You can refer to either this page within the docs: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript](https://docs.microsoft.com/azure/azure-monitor/app/javascript) or this page on the JS repo [https://github.com/microsoft/ApplicationInsights-JS/blob/master/README.md](https://github.com/microsoft/ApplicationInsights-JS/blob/master/README.md) for the same info that link used to c

[2019-09-19 13:18] cephalin commented on #38996
@mgfink Thank you for your feedback. As far as the doc is concerned, I've address the confusion, and the doc update should be published sometime today. As far as the actual behavior of the said app settings, I suggest you open a case at https://feedback.azure.com.

#please-close

[2019-09-19 13:18] #38996 closed

[2019-09-19 13:21] cephalin commented on #33926
@iizotov I've updated the doc and it should be published sometime today. Thank you. #please-close

[2019-09-19 13:21] #33926 closed

[2019-09-19 13:21] t-l-k commented on #39064
To clarify: I've no problems creating attribute instances. I just can't pass them into a binder without passing `IBinder` references all throughout my code. I can create a hack and capture `IBinder` into a scoped dependency at the beginning of my function, but what's the point? It should just be available via DI.

I hadn't thought about trying binding attributes in my service constructors tho, hmm

[2019-09-19 13:24] SuperSing opened #39203 "Getting data from Data Lake Gen2"
Is it possible to get data from Data Lake Gen2 ? We are currently having issues with it. Thanks !

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: cd91721f-4a86-30cb-5e37-147c7319f0e6
* Version Independent ID: 98499c4f-ad83-81a4-e5db-af6415f79a98
* Content: [Access data in Azure storage services - Azure Machine Learni

[2019-09-19 13:24] jay-amd commented on #38964
I'm all set now. Thank you.

[2019-09-19 13:24] cephalin commented on #38316
@apwestgarth can you take a look at the portal feedback?

[2019-09-19 13:25] cephalin commented on #38316
@apwestgarth Here it is.

[2019-09-19 13:26] adrianwells opened #39204 "AOBO and DAP"
Is not Administer on Behalf of (AOBO)and delegate administration privileges (DAP) the same? If they are the same, then please update the article accordingly and update the references to include https://docs.microsoft.com/en-us/partner-center/customers_revoke_admin_privileges
If it is different then please added to this document for clarity. Thank you.

---
#### Document Details

⚠ *Do not edit thi

[2019-09-19 13:30] jpduffield commented on #38855
@SubhashVasarapu-MSFT
No, the LB is not in the ASG, only the pooled VMs are in the ASG.

[2019-09-19 13:42] zr-msft commented on #15259
There's a note at the top of the doc calling out the recommend approach for setting up TLS:
https://docs.microsoft.com/en-us/azure/aks/http-application-routing

I believe this resolves the issue.

#please-close

[2019-09-19 13:42] #15259 closed

[2019-09-19 13:47] PramodValavala-MSFT commented on #39064
@t-l-k Function invocations are only when it is triggered. Classes are initialized as they are loaded I believe.

And while the binding attributes wouldn't work on the constructor, but you should be able to create instances of them I believe. Something like this

[code]

You could also define them in a separate class and pass them around your code (like in a service class that could injected).

[2019-09-19 13:49] test123114 commented on #39122
According to my test, we can the [rest api](https://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdatehttps://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdatel) to create cert. Can I use it to upload private or public certificate. If ok, how to use the api?

[2019-09-19 13:52] AlexBrassington opened #39206 "Secure erasure details not clear"
There is a wide range of measures that conform to the NIST standards that may or may not be acceptable to users. Indeed the category that Databox would fall into is not entirely clear as the standards typically address individual components rather than more substantial units such as Databox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-19 13:53] mrbullwinkle commented on #39011
The link is now fixed internally. The change will go-live in the public docs between 10-11 AM (UTC-7) later today. I also noticed the JavaScript snippet in the article was slightly out-of-date and that it was using an older version of the snippet that is no longer recommended due to updates that have been made to the SDK. The new version of the snippet is:

[code]

[2019-09-19 13:53] mrbullwinkle commented on #39011
Thanks again for bringing this to our attention and helping to improve the docs!

[2019-09-19 13:53] mrbullwinkle commented on #39011
#please-close

[2019-09-19 13:53] #39011 closed

[2019-09-19 14:17] GSolapure opened #39207 "Troubleshooting Git integration - Steps are somehow incorrect"
3.Delete all resources from your collaboration branch
This not at all recommended
    --Bulk delete is not possible in ADF
   -- It will delete all components while publishing and then add new ones.

Best Practice to follow -
1.	Remove your current Git repository
2.	Reconfigure Git with the same settings, but make sure Import existing Data Factory resources to repository is selected and choose New

[2019-09-19 14:24] Sashwat commented on #39177
Ah it's part of Azure Monitor, not listed separately as a product. I looked at this intro doc to App Insights and couldn't find any direct reference or link to regional availability https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview

[2019-09-19 14:24] msrini-MSFT commented on #38855
@jpduffield , I think that explains why it is not working. Your ASG is custom group and you need to explicitly add the ILB's IP in order to get this working.

In the Subnet A, you have blocked the inbound traffic from all sources and allowed traffic from ASG B to ASG A. If ASG A doesn't include ILB's IP, it will fail.

Moreover, this documentation speaks about the behavior of the packets when it r

[2019-09-19 14:27] spelluru commented on #37965
Updated the article.

#please-close

[2019-09-19 14:27] #37965 closed

[2019-09-19 14:42] erhopf commented on #39163
#reassign: @QinyingLiao

@QinyingLiao - Can you help us resolve the bitrate question from @thed0ctor? Thanks!

[2019-09-19 14:42] PRMerger16 commented on #39163
QinyingLiao is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-09-19 14:44] shashishailaj commented on #38864
@GiggaWatson We obtained a response from the backend team and they mentioned that you are correct that all the OUs that contain a computer account which need to be hybrid azure AD joined must be added to Azure AD sync scope. This is mentioned within the detailed scenario page in the section for [selecting identity infrastructure scenario](https://docs.microsoft.com/en-us/azure/active-directory/dev

[2019-09-19 14:44] #38864 closed

[2019-09-19 14:45] NavtejSaini-MSFT commented on #39147
@yegu-ms Please help in getting this document updated.

[2019-09-19 14:47] NavtejSaini-MSFT commented on #38079
@rohitnayakmsft Please provide an update regarding this.

[2019-09-19 14:48] blueelvis commented on #33008
@rwike77 - Thanks a lot! It would be really helpful to have a rest endpoint. Please let me know if any more information/testing is required from my end.

[2019-09-19 14:51] #38939 closed

[2019-09-19 14:57] j-clerc opened #39208 "Duplicate Product entries"
GUID: 061f9ace-7d42-4136-88ac-31dc755f143f  - "MICROSOFT INTUNE A DIRECT"  and "INTUNE"

GUID: 0c266dff-15dd-4b49-8397-2bb16070ed52 - "SKYPE FOR BUSINESS PSTN CONFERENCING" & "AUDIO CONFERENCING"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-

[2019-09-19 15:01] stefanwiele opened #39209 "socialIdpUserId is renamed to issuerUserId in base policy"
&lt;OutputClaim ClaimTypeReferenceId="socialIdpUserId" PartnerClaimType="userId"/&gt; needs be changed into:
&lt;OutputClaim ClaimTypeReferenceId="issuerUserId" PartnerClaimType="userId"/&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 821b1380-1072-7ab4-b8d7-0fcb993d68be
* Version Independent ID: 93c75bbd-e3e3-67c2

[2019-09-19 15:05] NavtejSaini-MSFT commented on #39199
@A-A-Khawaja Thanks for the question and we will get back to you regarding the same.

[2019-09-19 15:07] gabriion opened #39210 "Make the section [Enable reverse proxy via Azure Resource Manager templates] more explicit"
1.	For an existing cluster, add a step that shows how to download the ZIP file (ps script for deployment) from the resource group.
2.	Make it more obvious that we need to edit the template.json file, and NOT the parameters.json file.
3.	Steps on how to clean up the ARM template to keep just Service Fabric resource and remove the “dependson…” so we can deploy.
4.	Maybe a link on how to verify the t

[2019-09-19 15:26] LuisEmilioR opened #39211 "Multiple SKUs are missing"
Microsoft PowerApps Plan 2 Trial	POWERAPPS_VIRAL	dcb1a3ae-b33f-4487-846a-a640262fadf4
Power BI (free)	POWER_BI_STANDARD	a403ebcc-fae0-4ca2-8c8c-7a907fd6c235
Multi-Geo Capabilities in Office 365	OFFICE365_MULTIGEO	84951599-62b7-46f3-9c9d-30551b2ad607
Microsoft Flow Free	FLOW_FREE	f30db892-07e9-47e9-837c-80727f46fd3d
Microsoft Teams Trial	MS_TEAMS_IW	74fbf1bb-47c6-4796-9623-77dc7371723b
Dynamics 365

[2019-09-19 15:28] alexespencer commented on #39192
![Example](https://user-images.githubusercontent.com/7407677/65258189-5ab4fa80-dafa-11e9-88c4-9f3060e6e849.jpg)

Thanks for looking into this @RohitMungi-MSFT - I've anonymised and uploaded a clearer example for you to play with. It's a bit harder to anonymise the empty PDF, but hope this helps?

[2019-09-19 15:29] Mfawzi010 commented on #39030
Hello,

While trying to restore a VM (created from a custom image) using a "replace disks" job I end up receiving a "UserErrorInvalidAuthenticationTokenTenant" error with a warning that states "The subscription is transferred to another tenant". This issue does not occur when I restore a VM that is created in from the Marketplace though.

Some key details:
Running Windows Server 2012 R2
ASR Vault

[2019-09-19 15:31] JasonWHowell commented on #39136
Hi @basilhariri
I think its already there in this section. Maybe we can add it higher up if that's not coming across well.
https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-stream-from-eventhubs#attach-libraries-to-spark-cluster

[2019-09-19 15:34] shaunco commented on #18089
This seems to be back... If I create a Digital Twins resource under an Azure subscription, but never use it, then I can delete it. Once I start using it the Azure portal fails to delete it. I now have 2 subscriptions with these undeletable Digital Twin instances...

The first attempt gives:
Error code: InternalServerError
Message:
An error was reported while committing a database transaction but i

[2019-09-19 15:37] DixitArora-MSFT commented on #39165
@ecfan Any inputs in this ?

[2019-09-19 15:37] MicahMcKittrick-MSFT commented on #39210
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @peterpogorski

[2019-09-19 15:40] damart23 opened #39212 "NATing for Public IP Addresses is not clear."
As far as I know, there's currently no way to have a Public IP Address assigned to a Virtual Network directly without having it NAT'ed to the private IP Address of the VM.

Could you please consider reviewing this and adding this in the documentation so that we don't get any confusion on how this IP addresses will work internally?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-09-19 15:44] igomat opened #39213 "New-AzSqlInstance - not take pipeline input"
Using the suggested:
$instanceTwo = $instancePool | New-AzSqlInstance -Name "mi-pool-name" -VCore 4 -StorageSizeInGB 512
returns:
New-AzSqlInstance : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any ofthe parameters that take pipeline input.

---
#### Document Details

⚠ *Do n

[2019-09-19 15:46] igomat opened #39215 "New-AzSqlInstance - required parameters not covered"
In the suggested:
$instanceOne = $instancePool | New-AzSqlInstance -Name "mi-pool-name" -VCore 2 -StorageSizeInGB 256
there is missing AdministratorCredential parameter for the cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1ea981-793f-eac2-36fa-59de8714e2e3
* Version Independent ID: b4e2963e-e0aa-b9d1-32a1-0

[2019-09-19 15:49] jeevansd commented on #38043
@mandiaya Confluence removed this version from the confluence download page.
Details available in their site;  https://confluence.atlassian.com/doc/confluence-6-15-release-notes-965554120.html

[2019-09-19 15:51] rohitnayakmsft commented on #38079
We have discussed the feedback item and certainly see it as a valuable addition. We shall explore ways of creating this via automation in future. No ETA yet on when this will be available.

[2019-09-19 16:06] NavtejSaini-MSFT commented on #38079
Thank you @rohitnayakmsft

[2019-09-19 16:07] tamram commented on #38116
#reassign: @roygara

@roygara - Can you investigate?

[2019-09-19 16:10] ecfan commented on #39165
@DixitArora-MSFT, sure, we can add this note.

[2019-09-19 16:16] ziesemer commented on #38116
Thanks.  Please make special consideration for how this relates to various security & compliance requirements that require encryption here, for either data-at-rest and data-ins-use (as this falls somewhere between the two).  As-is, without being documented one way or another, this is becoming a particular sticking point...

[2019-09-19 16:18] YutongTie-MSFT commented on #39203
@SuperSing
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 16:23] trevorbye commented on #38921
@casieo yes I will let the product team know about this and see if it's something they have plans to implement, and if not, if it's something they would consider. #please-close

[2019-09-19 16:23] #38921 closed

[2019-09-19 16:27] MHarrison22 opened #39216 "Infinite Scroll Issue"
The resultList is null for the infinite scroll example when the Next function gets called, can be replicated by loading up the InfiniteScroll.sln, searching "a", and scrolling down

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8cde97a-8763-52e1-104c-8415f554c698
* Version Independent ID: 2d93d797-a7e4-6e61-10d7-202d7

[2019-09-19 16:27] bschlechty opened #39217 "Update documentation for Server 2019"
Please update this documentation to note that SQL Clustering in Azure does not work with the new Distributed Network Name option and that the cluster must be created manually using New-Cluster with the switch "-ManagementPointNetworkType Singleton" Given that there is no documentation for New-Cluster in Server 2019 this setting very difficult to find and this issue is not referenced in any SQL or

[2019-09-19 16:29] cijothomas commented on #21079
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152 Active is deprecated for .NET Core.

[2019-09-19 16:34] basilhariri commented on #39136
Wow I have no idea how I missed it! Sorry about the confusion

[2019-09-19 16:34] #39136 closed

[2019-09-19 16:37] marc-sensenich opened #39218 "Add Service Bus Subscription RBAC Azure CLI Example to Page"
Under https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#resource-scope it says that Subscription level RBAC can not be assigned via the portal, is it possible to add an example similar to the one below on the page for future consumers until it is available in the portal

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-09-19 16:42] #38925 closed

[2019-09-19 16:44] dops0 commented on #39066
I wanted to update this issue with additional information.

I can confirm that, using the extension method documented at https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-gpu-linux behaves the same way. The latest NVIDIA GPU driver and CUDA gets installed, but, RDMA is broken after this. Looks like NCR machines are unusable with the latest CUDA drivers from NVIDIA on Ce

[2019-09-19 16:44] netRunner0 commented on #38932
Very very thanks!

[2019-09-19 16:47] MicahMcKittrick-MSFT commented on #39066
Thanks for this info @dops0 ! This will be very valuable for the engineering teams. I am working offline to figure out what is going on and any recommended solutions/ work arounds. We will update this post once we have more.

[2019-09-19 16:49] shashishailaj commented on #39178
@sanjaybhagia Thank you for your query. We will investigate and update this thread.

[2019-09-19 16:50] shashishailaj commented on #39187
@crixo Thank you for your query . We will investigate and update this thread further.

[2019-09-19 16:51] msaburnley commented on #39040
Hey @v-alkolc ,

I'm looking into this and will let you know when I update the document. Thanks!

[2019-09-19 16:53] joeyeng commented on #25666
Has this work been completed?

[2019-09-19 17:00] Karishma-Tiwari-MSFT commented on #39198
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 17:00] shashishailaj commented on #39189
@MdAbidHussain-91 Thank you for your query. We will investigate and update the thread further.

[2019-09-19 17:00] Karishma-Tiwari-MSFT commented on #39217
@bschlechty Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-19 17:05] Grace-MacJones-MSFT commented on #39216
Hi @MHarrison22, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 17:06] #32356 closed

[2019-09-19 17:09] Karishma-Tiwari-MSFT commented on #39191
@irfan432
Thanks for the feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-19 17:11] bschlechty commented on #39217
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster

On Thu, Sep 19, 2019 at 10:01 AM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-09-19 17:19] IEvangelist commented on #38010
Hi again @SpicySyntax!

We are going to track this effort internally, and close this issue here now. We'll report back here when we have a solution in place, or at least an answer for you. Sorry for the delay and thank you.

#please-close

[2019-09-19 17:19] #38010 closed

[2019-09-19 17:25] Grace-MacJones-MSFT commented on #38964
Glad your issue was resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-19 17:25] #38964 closed

[2019-09-19 17:28] sladeedmonds commented on #38985
Hello, I've completed about as much testing as I have time for.  First, I have heard from the Service Fabric team via a support ticket that the EventStore Service was held back in Azure Gov due to a bug.  That is apparently why it didn't get installed automatically when we auto-upgraded to 6.5.  The steps for adding it to an existing 6.5 cluster are the same steps listed for the 6.4 documentation:

[2019-09-19 17:31] VitaliyKurokhtin commented on #38432
Not at the moment.

[2019-09-19 17:34] ronnydahl commented on #29721
This is not how you do proper followup and case mitigation. The issue is still happening in the latest Visual Studio 2019 build (16.2.5) and the documentation (this page, https://docs.microsoft.com/en-us/azure/key-vault/vs-key-vault-add-connected-service) has not been updated. Note that issue was reported in April 2019.

[2019-09-19 17:37] ashwinnatty commented on #32330
Hi any updates on this one ? We do auto scaling for the Self hosted IR with VMSS and when the instances scales down, the Datafactory doesn't unregister the instance. Are there any automation options to unregister that we can call when the instance is scaled down?

[2019-09-19 17:39] KrishnaG-MSFT commented on #38935
@codevulture At a glance if you want to configure an activity log alert for recommendations of security category; you can use the following ARM template for activity log alert rule:

[code]

[2019-09-19 17:39] FrankHu-MSFT commented on #39211
@LuisEmilioR Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 17:39] FrankHu-MSFT commented on #39201
@kyubisation Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 17:39] FrankHu-MSFT commented on #39202
@crixo Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 17:39] FrankHu-MSFT commented on #39208
@j-clerc Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 17:39] FrankHu-MSFT commented on #39209
@stefanwiele Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 17:39] xtianus79 opened #39219 "confusing for the qna subscriptionKey"
The way you assume the key for the qna authorization is from the EndpointKey but that is incorrect it is the service key... clearly documentation would help that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f497268-0c29-4346-b9e9-3a037a13e3d5
* Version Independent ID: e6c64346-6e47-36bb-ef2a-9d6609805377
* Content:

[2019-09-19 17:41] KranthiPakala-MSFT commented on #39207
@GSolapure Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-09-19 17:43] dylanbronson commented on #34640
For what it's worth, I had the same issue with the same
I read this thread to get the workaround (using westus instead of westus2).

[2019-09-19 17:45] dylanbronson commented on #34640
*with the same error message

[2019-09-19 17:46] mmacy commented on #26402
Hi @SogoGolf, wanted to let you know that we've just published two new introductory articles in Azure AD B2C. The first should help customers determine whether the service is right for their scenario, and the second is a bit more in-depth overview of the technical aspects of the service:

1. [What is Azure Active Directory B2C?](https://docs.microsoft.com/azure/active-directory-b2c/active-director

[2019-09-19 17:55] Alberto-Vega-MSFT commented on #31138
@toddgauntgs Was the previous comment useful?

[2019-09-19 17:55] hpsin commented on #38545
Note that all v2 id tokens are signed - but in your scenario you should be using access tokens since it's an external client attempting to authenticate against your resource.

[2019-09-19 17:57] Karishma-Tiwari-MSFT commented on #38609
Is there any update? Please let me know.

[2019-09-19 17:58] ishasahni1 commented on #39021
@johnneycao thank you so much for the feedback. I will like to inform you that our team doesn't manages these blogs localization. I checked with the designated loc pm and they confirmed that they are currently not localizing these blogs in simplified Chinese. So when you click on the blog link you will be redirected to the en-us blog page.

@VikasPullagura-MSFT FYI

[2019-09-19 17:58] toddgauntgs commented on #31138
@Alberto-Vega-MSFT I had already figured this out after some testing a while back, though good to have this documented clearly. Thanks for following up.

[2019-09-19 17:58] joedev-big commented on #39001
I didnot.  I will actually have to set up a lab environment to test this
out and won't be able to work on it until next week.  You can close this
issue out and if I need to, I will open a support ticket.  You've been
helpful.  Thanks.

On Thu, Sep 19, 2019 at 12:40 AM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-09-19 18:05] Karishma-Tiwari-MSFT commented on #38985
Glad to know you were able to resolve the issue with the help of support team.
Thank you for sharing the update and detailed explanation. This is very helpful. This issue will stay with this doc, so will be publicly available for anyone to reference it.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a

[2019-09-19 18:05] #38985 closed

[2019-09-19 18:06] asoccer commented on #38873
Is there any update on this? Here also has conflicts with the compliance documentation https://docs.microsoft.com/en-US/azure/security/compliance/azure-services-in-fedramp-auditscope#azure-government-services-by-audit-scope

[2019-09-19 18:11] slandsaw commented on #35820
@markarnolditpro, we're also trying to transition to AFD without downtime. Here's what I've learned... as the docs state, if you have a CNAME pointing to AFD, domain verification will happen automatically. However, if you use afdverify, you'll need a digicert CAA record.

source: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#validate-the-domain

[2019-09-19 18:12] TobiasAsk opened #39221 "The repo is empty"
There is no actual code in the repo, neither in the zip nor on GitHub!

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 0ca3aefd-ffd9-db88-db5d-b6b3d60134cf
* Version Independent ID: cc4a730a-70b2-0fa7-e4fd-3490ccf1e8c9
* Content: [Microsoft identity platform Python web app quickstart](https://docs.microsoft.com/nb-no

[2019-09-19 18:13] FrankHu-MSFT commented on #39159
Hey @chappedhide @neeleshray-msft

Thanks for your input again, I believe @cawrites will be looking into this further.

[2019-09-19 18:17] hjlarrea opened #39222 "Mounting a file share behaves like a Docker 'bind mount' and not like a propper volume."
It seems that mounting a file share on a ACI behaves like mounting bind mounts rather than mounting Docker volumes.

From [Docker](https://docs.docker.com/storage/):

- If you mount an empty volume into a directory in the container in which files or directories exist, these files or directories are propagated (copied) into the volume. Similarly, if you start a container and specify a volume which

[2019-09-19 18:18] dhirajgandhi commented on #39204
AOBO and DPOR are not same.

[2019-09-19 18:20] Karishma-Tiwari-MSFT commented on #39058
@MashaMSFT Did you get a chance to look into this? Thanks :)

[2019-09-19 18:23] Karishma-Tiwari-MSFT commented on #39217
Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-09-19 18:25] Karishma-Tiwari-MSFT commented on #39068
Is there any update?

[2019-09-19 18:27] Karishma-Tiwari-MSFT commented on #39067
Please share the doc link so that we can direct it to the right team.

[2019-09-19 18:35] adrianwells commented on #39204
@dhirajgandhi thank you, I made a mistake in referecing DPOR, I meant DAP (delegate administration privileges) https://docs.microsoft.com/en-us/partner-center/customers_revoke_admin_privileges. Will correct the original issue title and content.

[2019-09-19 18:36] dluc opened #39223 "The documentation is incomplete"
Please add information about new parameters such as "enableRequestHeaderTracking"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps](https://docs.microsoft.com/

[2019-09-19 18:39] MarileeTurscak-MSFT commented on #39221
@TobiasAsk
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-19 18:40] craigshoemaker commented on #15881
The doc now has examples that show how to bind to a [single attribute](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-class-library#single-attribute-example) as well as [multiple attributes](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-class-library#multiple-attribute-example).

#please-close

[2019-09-19 18:40] #15881 closed

[2019-09-19 18:42] mrbullwinkle commented on #39223
@dluc good catch, thank you. I will get this updated today to bring this to parity with: [https://github.com/microsoft/ApplicationInsights-JS/blob/master/README.md](https://github.com/microsoft/ApplicationInsights-JS/blob/master/README.md)

[2019-09-19 19:00] msangapu-msft commented on #13970
@Cephalin I think you can close this. This page has since been updated.

[2019-09-19 19:04] Alberto-Vega-MSFT commented on #18089
Hi @shaunco I'm sorry to hear that you are facing this issue. Would you please open a new issue and link to this one.

[2019-09-19 19:06] MicahMcKittrick-MSFT commented on #39222
Adding @dkkapur who might be able to assist further.

[2019-09-19 19:11] denhsu commented on #25058
--os deprecated, so --platform

[2019-09-19 19:12] TravisCragg-MSFT commented on #39212
@damart23 can you elaborate a bit more on your suggestion? Public IP Addresses attach to objects (Such as VMs, App Gateways, VPN Gateways, ect) inside the network and allow for communication to and from the internet.

Public IPs cannot be tied to a VNET itself, only to the objects inside them. The traffic is then directed to the Direct IP of the object in the VNET, where Network Security Group rul

[2019-09-19 19:12] denhsu commented on #13754
--os deprecated, so --platform

[2019-09-19 19:14] FrankHu-MSFT commented on #39209
Hey @stefanwiele do you have any documentation from Salesforce that can verify this statement?

[2019-09-19 19:15] craigshoemaker commented on #32174
@GuilhermeMorais - Are you still experiencing this issue? Your code is nearly identical to the [sample here](https://github.com/craigshoemaker/azure-functions-dynamic-sendgrid-api-key/blob/master/SendMessage.cs).

[2019-09-19 19:16] MashaMSFT commented on #39058
@Karishma-Tiwari-MSFT , still investigating :)

[2019-09-19 19:16] NavtejSaini-MSFT commented on #39151
@tushar-kesare The Logical partition are created for each of the value of the partition key. If the logical partition is getting full, The Cosmos DB will at some point – automatically and transparently – split the partition. That is, it will create a new partition, and move roughly half the data from the first partition into the new partition.
This [document ](https://docs.microsoft.com/en-us/azur

[2019-09-19 19:18] FrankHu-MSFT commented on #39202
Hey @crixo so are you using your own AAD B2C Custom policy?

Because you say that the B2C_1A_signup_signin policy is working, and could you provide the policy that you're using that is failing so that we can take a look?

[2019-09-19 19:21] Mike-Ubezzi-MSFT commented on #39213
@igomat Thank you for bringing this to our attention. We are evaluating this and will take correction or provide feedback as appropriate.

[2019-09-19 19:26] ash2017 commented on #38704
We need to test this more thoroughly and have opened a work item to investigate. Doc update will follow.

[2019-09-19 19:27] Mike-Ubezzi-MSFT commented on #39215
@igomat Thank you for bringing this to our attention. We will make a correction to the PowerShell example or clarify the documentation to clarify any assumptions.

[2019-09-19 19:28] MHarrison22 commented on #39216
Also I'm seeing a similar issue with the typeahead solution, let me know and I can open an additional ticket

[2019-09-19 19:29] mayurpuli commented on #39171
Customer uses - Get-AzMetric. Where does this commandlet pulls the information from? I believe the customer has not enabled the Diagnostic Settings on the database.

[2019-09-19 19:33] ChristianMontoya commented on #39046
@tazmologist , @MicahMcKittrick-MSFT  : Unfortunately, we do not yet support assigning user groups as part of app group assignments. This has been a top ask and are looking to support this in the future.

[2019-09-19 19:34] Karishma-Tiwari-MSFT commented on #39073
See if this helps:
https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-custom-script-windows/azuredeploy.json

[2019-09-19 19:34] #39046 closed

[2019-09-19 19:36] sowsan opened #39226 "OSBA and PCF - Guidance"
Need guidance on using OSBA for PCF here ? PCF no longer using OSBA in their tiles (products) and look like no much active contribution going on OSBA project

"Have Open Service Broker for Azure installed and configured with your Cloud Foundry instance."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99b87704-07b7-d0c6

[2019-09-19 19:36] roygara commented on #38348
@forester123 you should delete that screenshot, since it contains sensitive info.

But thanks, I've been in contact with the product team and have looped them in, I'll let you know what they come back with.

[2019-09-19 19:42] kubikb opened #39227 "What is passed to stored procedure in case of a SQL Sink"
Hello Team,
there seems to be some confusion in this doc over what is passed to the stored procedure if specified for an Azure SQL Database sink in a Copy activity.
Under the "Azure SQL Database as the sink" header, the "sqlWriterStoredProcedureName" property's description tells the user that the passed stored procedure is invoked per batch. A batch may hold multiple rows of data as governed by th

[2019-09-19 19:47] NavtejSaini-MSFT commented on #39199
@A-A-Khawaja The managed instances can only moved to the Managed instance cause as SQL engine version for Managed instance is higher than other versions.
One of the options could be Back up to Blob and restoring the backup in new sub. The Copy_Only command works in the managed instance. Here are the details for the same
[Backup ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-man

[2019-09-19 19:47] anis020 opened #39228 "Managing the same App Name while cloning."
Is there any way by which we can have the same App Name when Cloning the existing app service for V2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfacf3d-4d48-317b-0c68-2f992ebb60bc
* Version Independent ID: 9f00811a-bbf8-91e9-238b-d28066e19c83
* Content: [Configure PremiumV2 tier - Azure App Service](https://docs.

[2019-09-19 19:48] robinsh commented on #36979
Hi @parkops. If it's a create action, and that hub name does not already exist, it will create it. If it already exists, it will trigger an error that is written to the ErrorLog (as you noted above). I would suspect there would be an eTag mismatch if the eTag already exists. I'll try it with the new import/export code sample and report back.

[2019-09-19 19:48] raisingcode opened #39229 "Are the VM Limits applicable to Physical Server"
Wanted to get some clarification on the on premise VM requirements above as it relates to physical servers.  For example , for VMs the limitation the documentation mentions a  2TB limit for the system disk. Is that just a physical server as well? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-

[2019-09-19 19:49] bospoort opened #39230 "APIs are not there."
When looking for the API in step 5 of Set permissions for your app, there is no Azure Digital Twin API or Azure Smart Spaces API. The note mentioned that the exact name of the API depends on the region would be more helpful if it would list the exact names. I deployed my Azure Digital Twin instance in West US 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-19 19:50] diberry commented on #39219
@xtianus79 - did you mean to log this issue against the composite tutorial? #in-progress

[2019-09-19 20:04] #39001 closed

[2019-09-19 20:12] artisticcheese opened #39231 "Please provide examples for connecting accross Azure AD tenants"
Need example for connecting to different Tenant/Subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c87883-1e32-6383-9d21-306f91406ba6
* Version Independent ID: ba6f8deb-cbfc-bf07-2bc8-26f5e6145859
* Content: [Create an Azure private link service using Azure PowerShell](https://docs.microsoft.com/en-us/azure/

[2019-09-19 20:18] NavtejSaini-MSFT commented on #39016
@oslake We are assigning this case to you for rejecting the previously created PR and also to remove the confusion create a PR for removing UK North from this document.
Please let me know if you need any help.

[2019-09-19 20:18] walsehgal commented on #39110
@sujayvsarma, thanks for pointing it out. We will look into it and update the doc.

[2019-09-19 20:19] prvb120793 commented on #33099
Hey Guys, i'm not sure if this is a right chain for this question. Hopefully someone can help me.
Were trying to configure Azure SSO for Workday-Test and once Workday is timeout were getting an error message. Is there a specific link to direct it to the myapps.microsoft.com after it Timeout?

[2019-09-19 20:23] celsoglima commented on #39154
No, I am not looking for documentation on how to add multiple ACS/Reply urls, but how the multiple urls are handled in Azure. How does Azure know where to return the connection to? On an SP initiated connection, does the SP provide something in the token request indicating which SP the token should be sent to?  Maybe my question is more about SAML than about Azure AD.

[2019-09-19 20:24] SqlMasterVedran commented on #8277
Unfortunately, as already stated, changing column count of Virtual Disk is not supported. It can be set only during creation of Virtual Disk. You can do this as a workaround:
- add new drive(s) to existing storage pool
- create new virtual disk over all disks in the pool, having increased column count
- use log shipping to move databases to this new drive without downtime
- switch by last log back

[2019-09-19 20:26] cap273 commented on #33099
@prvb120793 see this thread: https://social.msdn.microsoft.com/Forums/SECURITY/en-US/eb2d06e3-1a85-4a70-bf3d-7ed606e58000/workday-sso-with-azure-ad-mobile-app-login-redirect-url-and-timeout-redirect-url?forum=WindowsAzureAD

[2019-09-19 20:31] chriscrawfordTR commented on #28027
What was the solution to this?

[2019-09-19 20:32] cactusbash commented on #34827
@ryanps1 Found the issue was related to port 1443 - open that up and you should be fine, as stated by the yellow ribbon after the error is thrown.

[2019-09-19 20:32] NavtejSaini-MSFT commented on #39149
@mco100 According to the pricing details for the geo replication on this [page](https://azure.microsoft.com/en-us/pricing/details/sql-database/single/):
Active geo-replication creates up to four online (readable) secondaries in any Azure region. Secondary active geo-replication databases are priced at 100 percent of primary database prices. The cost of geo-replication traffic between the primary a

[2019-09-19 20:38] omerzubair commented on #39004
Hi @KrishnaG-MSFT
I know i can use DevOps Pipeline to create resources from ARM templates to Azure subscription. However i am building all business logic in Azure Automation account running under the Azure AD APP.
I would like this Azure AD App to reach out to DevOps for latest ARM templates done by developers and deploy. This will save me a step to get stale ARM templates from Storage account.

[2019-09-19 20:39] alvipeo opened #39232 "I break the App Gateway with simple rules - update the docs!"
so I need to set a rule that whitelist some IP's for a *single* app in my ILB ASE. I have multiple in there but the rule must be applied to a single one - "app-x.domain.com". I created the following script:

[code]

It does work. But when the rules are applied I see App Gateway in the Portal as "Failed". So it seems like something is missing here. Can you please tell us what's wrong with such a ca

[2019-09-19 20:44] devpog commented on #39151
Just hit the same error, which is pretty annoying, considering that the size of the data set I'm working on is substantially larger than the threshold of 10GB.

{"Errors":["Partition key reached maximum size of 10 GB"]}

[2019-09-19 20:44] roygara commented on #38116
@ziesemer Sure, in this case there is no SSE on the temp disk, we'll update the doc to reflect that. Although I believe you could enable encryption on it from the VM itself, if you really wanted encryption on it.

[2019-09-19 20:46] Adam-Smith-MSFT commented on #39195
@DavidR91 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-19 20:56] MarkAtAgilliance commented on #16998
Hi @markingmyname, This is still a concern.  in the example, body() and actions() are shown but still no documentation on them.  In fact this example no longer works because body() is not found.  Can the example be updated to a working example with documented capabilities?  Many thanks.  Mark.

[2019-09-19 21:00] crixo commented on #39202
The custom policy "B2C_1A_signup_signin" described in this tutorial works w/ Local account but fails w/ Facebook account.
User Flow "B2C_1_signupsignin1" described in a different tutorial works w/ LocalAccount and Facebook account.
Custom policy and user flow use the same Facebook app id
The custom policy "" is the following (as per github repo  active-directory-b2c-custom-policy-starterpack).
Tra

[2019-09-19 21:03] markingmyname commented on #16998
@djpmsft for awareness

[2019-09-19 21:12] ninarn commented on #34827
Yes, the query editor uses ports 443 and 1443 to communicate. Please ensure you have enabled outbound HTTPS traffic on these ports. You will also need to add your outbound IP address to the server's allowed firewall rules to access your databases and data warehouses.
Please try these and see if you can connect to query editor?

[2019-09-19 21:24] MarkF26 commented on #27235
For each Azure region there is a pool of IP addresses that is used for scenario#3. The list is available from the following site https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519

[2019-09-19 21:25] furia10 opened #39235 "Pricing unit is missing"
I understood that most prices presented are hourly, except for the one before the last, which seems to be daily. Could you please confirm and update this page? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7d3f74a-37a1-3f1f-20c5-ee762bf785ea
* Version Independent ID: 324dcf4e-90f8-b75e-2ff1-93f46d2bbd48
*

[2019-09-19 21:30] Karishma-Tiwari-MSFT commented on #39193
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-19 21:31] KranthiPakala-MSFT commented on #39129
Hi @gaikovoi,  I have checked with the internal team and the max limit is 1000 per account for IP firewall rules.

Hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-09-19 21:31] #39129 closed

[2019-09-19 21:32] dmarlow opened #39236 "HA/DR for single database"
The doc says this: "it is highly recommended to configure the server to use two different key vaults in two different regions with the same key material"

Does this mean in the event of an outage with KV in one region that there are manual steps that need to be taken to configure the existing SQL server to use the secondary KV? Or, is there a way to configure a single SQL server to use two Key Vau

[2019-09-19 21:36] OsipCraft opened #39237 "Backslash does not work"
[Enter feedback here]

Hello, thank you. It is very useful. But please update the code of VM creation. Backslash does not work. Need replace it to the gravis - `.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074568ee-1fc9-3d9a-1c10-96ada221c0aa
* Version Independent ID: 9e5ebd88-534b-3d7e-f145-03797a56330f
* Content:

[2019-09-19 21:38] yyuank commented on #36915
I was able to update the value for "AllowToAddGuests". Please see the screenshot below. I have not heard about this change of this setting. Could anyone from the PowerShell team advise and validate if there's a change?

![PS AllowToAddGuest](https://user-images.githubusercontent.com/46729835/65282866-d149fc00-daea-11e9-9f84-a4e2b91e555c.JPG)

[2019-09-19 21:39] MicahMcKittrick-MSFT commented on #39237
Are you referring to this section?
[code]

The code does work when you run in in the Azure Cloud Shell which is what we design the docs to do. If you are running it locally you are correct and might need to modify the commands a bit.

![image](https://user-images.githubusercontent.com/32313503/65283060-34d42980-daeb-11e9-8d25-029881277c65.png)

[2019-09-19 21:49] SogoGolf commented on #26402
Hi that sounds great, will take a look

[2019-09-19 21:59] Bafff commented on #34152
@TravisCragg-MSFT any news?

[2019-09-19 22:00] asinn826 commented on #37820
Hey @dcbrown16 - all RHEL custom images brought onto Azure will effectively be BYOS. Custom image will be billed just the base compute fee just like our BYOS images, and customers are expected to use their own source of updates. The purpose of the Azure RHUI is to provide updates to our PAYG VMs, so it is not intended for use with custom images/BYOS images.

Did that help? Happy to chat more.

[2019-09-19 22:11] Grace-MacJones-MSFT commented on #39228
Hi @anis020, thanks for the comment! We are currently investigating and will update you shortly.

[2019-09-19 22:13] TravisCragg-MSFT commented on #34152
@Bafff Not at this time. The doc author currently has the action going forward.

If you have any specific questions about Azure Front Door I would be happy to answer them!

[2019-09-19 22:20] spelluru commented on #38808
Updated the image
#please-close

[2019-09-19 22:20] #38808 closed

[2019-09-19 22:21] spelluru commented on #37652
@ahemavathy
@Ashish-Jovial

We have updated the script that was failing and tested to make sure it runs fine. Please try it now. Thanks!

#please-close

[2019-09-19 22:21] #37652 closed

[2019-09-19 22:30] NavtejSaini-MSFT commented on #39151
@devpog If there was a confusion, i have modified my answer to align more self to the question. Hope this helps.

[2019-09-19 22:33] jonesty commented on #23536
Tried switching over to Verizon, which allegedly doesn't have CA restrictions and still having same issue.

[2019-09-19 22:45] antonygnanasekar opened #39238 "Testing"
Testing comment for monitoring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create C# ASP.NET Core web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-starte

[2019-09-19 22:45] #39238 closed

[2019-09-19 23:05] mmacy commented on #39044
Hi @crixo, give this a try:

[code]

I was able to successfully delete a user with the `B2C.exe` console app after using those commands to apply the permissions with the Azure AD PowerShell V2 module. I haven't yet tested password update, will give that a try tomorrow. If that works, and my additional testing of the other operations work, I'll update the article.

[2019-09-19 23:14] Grace-MacJones-MSFT commented on #39238
okay, hope everything is working fine. @antonygnanasekar

[2019-09-19 23:16] Alberto-Vega-MSFT commented on #34640
Hi @dylanbronson I'm sorry to hear you are facing this issue.  I can't reproduce the issue. This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for thi

[2019-09-19 23:24] AndrewGailer commented on #38595
@bandersmsft @KrishnaG-MSFT
Are there any updates on this issue?

[2019-09-19 23:25] kobulloc-MSFT commented on #39226
@sowsan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-19 23:27] sidharthdeshpande opened #39239 "No Instructions to work with proxy pac files"
Hi,

How would the storage explorer work with organisation settings that use a pac file for proxy configuration?

Regards,
-Sidharth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Explorer troub

[2019-09-19 23:28] MicahMcKittrick-MSFT commented on #39239
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 23:44] JasonYeMSFT commented on #39097
Hi @ashwinnatty,
Which step in the doc example gives you this error? The SAS signature looks correct and should be able to be used to attach the storage account in Storage Explorer.

[2019-09-19 23:46] dcbrown16 commented on #39091
I was able to confirm internally that Azure has a system based on capacity and so on to distribute VMs to DCs within a region. I'll add a PR.

[2019-09-19 23:55] dcbrown16 commented on #39091
Hmm I'm not sure what the best place to put this information is in the doc. Apologies but let me leave this open so you can consider what to do. You can email me or contact me in Teams at v-dibr and I can share the internal info I got.

[2019-09-19 23:56] KranthiPakala-MSFT commented on #39227
@kubikb Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-09-20 00:01] Karishma-Tiwari-MSFT commented on #39091
Thanks for sharing the update. I will connect with you offline.

[2019-09-20 00:01] Mike-Ubezzi-MSFT commented on #39215
In referencing the [Examples](https://docs.microsoft.com/en-us/powershell/module/az.sql/set-azsqlinstance?view=azps-2.6.0#examples) for [Set-AzSqlInstance](https://docs.microsoft.com/en-us/powershell/module/az.sql/set-azsqlinstance?view=azps-2.6.0), the $instanceOne PoweShell sample should look something like the following:

PS C:\>$SecureString = ConvertTo-SecureString $InstancePassword -AsPlainT

[2019-09-20 00:01] MicahMcKittrick-MSFT commented on #39000
@MedAnd I have updated the doc to refer to that document. Good suggestion :)

Once the PR merges the changes will go live after a few hours.

[2019-09-20 00:01] #39000 closed

[2019-09-20 00:02] KranthiPakala-MSFT commented on #39235
@furia10 Thanks for the feedback. Could you please point us to the exact section in the doc to which you are referring to?

[2019-09-20 00:03] MicahMcKittrick-MSFT commented on #38925
@Redgwell this has been corrected. Once the PR merges the changes will go live after a few hours.

[2019-09-20 00:06] MicahMcKittrick-MSFT commented on #38357
@dzoech I took a look and it seems that it is not needed in every case. However we have decided to leave it in the documentation as it does make it easier to avoid future issues.

[2019-09-20 00:06] #38357 closed

[2019-09-20 00:06] Mike-Ubezzi-MSFT commented on #39215
@stevestein For awareness and if there is a verified update that needs to be made, I can complete the PR but there might be additional changes to the same doc via Git Issue #39213.

[2019-09-20 00:08] MicahMcKittrick-MSFT commented on #38373
@eanyanwu I have removed the note. Once the PR merges the changes will go live after a few hours.

[2019-09-20 00:08] #38373 closed

[2019-09-20 00:08] #38978 closed

[2019-09-20 00:08] #38884 closed

[2019-09-20 00:08] #38625 closed

[2019-09-20 00:09] MicahMcKittrick-MSFT commented on #38947
@MikeInSwitzerland any update on this?

[2019-09-20 00:11] Mike-Ubezzi-MSFT commented on #39213
I believe the issue is that in the documentation the $instanceOne and $instanceTwo PowerShell examples reference that same managed pool (-Name "mi-pool-name")

Assigning to the content team for review (@stevestein).

[2019-09-20 00:12] femsulu commented on #39229
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-20 00:12] MicahMcKittrick-MSFT commented on #39237
I will go ahead and close this out as I have verified it works in the Cloud Shell. If you have further questions or comments just let know and we can always reopen and continue the conversation.

[2019-09-20 00:12] #39237 closed

[2019-09-20 00:17] dcbrown16 commented on #7610
@cephalin just wanted to note that we got another support request asking about the difference between these two locations now. Just a push to either get rid of the Custom Domains UI, or document both of them if it's going to take more than another year to remove it. Thanks!

[2019-09-20 00:19] dcbrown16 commented on #37820
Great, thanks @asinn826! That will help us support customers with RHEL images. I can close for now.

[2019-09-20 00:19] #37820 closed

[2019-09-20 00:22] femsulu commented on #39197
@artisticcheese good catch. I too am able to repro the above.
@stephbaron can you confirm this is a recent change? is it possible to change the actual event output to match the recent change?

[2019-09-20 00:24] axayjo commented on #39061
@yeswps Great set of questions!

Here are the answers:

1. I see that your image will be replicated to East US 2, so the platform will automatically pick the copy in that region
2. If your image is not replicated to Japan East, you will not be able to create a VM with that image.

[2019-09-20 00:25] dcbrown16 commented on #39175
@SnehaAgrawal-MSFT...the lower screenshot is "Minimium" aggregation, not minutes. What are you trying to show me?

[2019-09-20 00:27] dcbrown16 commented on #39175
I guess you just mean that the units on the Y axis or in the value displayed at the bottom change. I'm aware that this happens based on the dynamic settings like aggregation or period. What are we trying to document when we say that a metric has a particular unit, then?

[2019-09-20 00:30] MarileeTurscak-MSFT commented on #39009
I do not believe that it is supported as B2C has a different app registration experience. In my own b2c tenant it shows up but does not display my applications.

+ @msmimart and @mmacy to confirm

[2019-09-20 00:48] Scotis opened #39240 "Link broken: JavaScript reference"
In the "Reference docs" section - the link for "JavaScript reference" is broken.  Probably should be linked to https://github.com/microsoft/ApplicationInsights-JS/blob/master/AISKU/API.md ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a

[2019-09-20 00:59] MartinJaffer-MSFT commented on #38948
@AlexanderTodorovic  I have followed the tutorial up until step [Create a Job](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-events?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#create-a-job).  I have not run into the error message you reported.

The error message sounds like what would happen if steps 3 and 4 under ['Create and populate a Databricks Delta table'](https://docs

[2019-09-20 01:30] forester123 commented on #38348
@roygara thank you so much! Please keep me update.

[2019-09-20 01:59] MedAnd opened #39241 "IConfigurationRefresher refresher = null never used in above sample?"
Seems "refresher" variable is never used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e873ff-4355-498f-d3d3-d404644981bd
* Version Independent ID: 84465809-2226-c06d-e21c-ff0910d954b6
* Content: [Tutorial for using Azure App Configuration dynamic configuration in a .NET Core app](https://docs.microsoft.com/en-us/a

[2019-09-20 02:04] XiaoningLiu commented on #28565
Just like any Node.js readable stream, we don't need to know the content length to read blob data. How did you handle Readablable stream in Node.js before? For example, when reading from local file.

[code]

You can do the same thing to the `downloadResponse.readableStreamBody`. You can pipe the stream directly to another writeable stream.

[2019-09-20 02:20] tamram commented on #35360
@damienkherbert - Thanks for your feedback. I've updated the examples in this article. These methods are backward compatible, however. The latest release versions of the client library (11.x) support both sync and async methods. Everything ran okay as it was, but I cleaned them up a bit and made them async.

#please-close

[2019-09-20 02:20] #35360 closed

[2019-09-20 02:24] Alberto-Vega-MSFT commented on #39230
@bospoort Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 02:35] dcbrown16 opened #39242 "Free vs Standard"
What changes in the Free vs Standard tiers of Security Center for Web App monitoring?
Just in time VM access, adaptive application controls and network threat detection appear to be for IaaS resources.
App Services are checked as covered under Free on the pricing page, but there is also a charge when Standard is enabled. What additional features are available specifically for App Services when Sta

[2019-09-20 02:46] mike-urnun-msft commented on #39218
Hi @marc-sensenich - Thank you for your feedback! We will review and update as appropriate.

[2019-09-20 02:46] NavtejSaini-MSFT commented on #39236
@dmarlow  Azure Key Vault already has a feature that adds redundancy and availability. This is based on the paired region architecture for Key Vault. Here is the Document which explains this in detail:
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-disaster-recovery-guidance

Here is more details for configuring TDE with Key Vault. Here is the [link](https://docs.microsoft.com/en-in/az

[2019-09-20 02:49] DixitArora-MSFT commented on #39028
@oleksandr-bilyk Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-20 02:49] #39028 closed

[2019-09-20 02:52] KrishnaG-MSFT commented on #39204
@adrianwells Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-20 02:59] DixitArora-MSFT commented on #39165
@ecfan Adam has already looped us in the email chain. Please review if it can be added.

[2019-09-20 03:05] KalyanChanumolu-MSFT commented on #39027
@aayush3667 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-20 03:05] #39027 closed

[2019-09-20 03:05] KalyanChanumolu-MSFT commented on #39101
@s-miller We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-20 03:05] #39101 closed

[2019-09-20 03:07] KrishnaG-MSFT commented on #38935
@codevulture As there is no edit required for the Azure documentation you were referring to, so closing this issue for now. If there are further / any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-09-20 03:07] #38935 closed

[2019-09-20 03:16] DixitArora-MSFT commented on #39090
Hi @Hazhzeng PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-20 03:16] #39090 closed

[2019-09-20 04:17] igomat opened #39245 "Database replicatedmaster does not exist - error"
MI Pool created, SQL Instance created. But when attempt to create a DB on an Instance then received:
New-AzSqlInstanceDatabase -Name "mipooldb1" -InstanceName "poolmi-001" -ResourceGroupName "myResourceGroup"
New-AzSqlInstanceDatabase : Long running operation failed with status 'Failed'. Additional Info:'Database 'replicatedmaster' does not exist. Make sure that the name is entered correctly.'

--

[2019-09-20 04:21] igomat opened #39246 "Database replicatedmaster does not exist - error"
MI Pool created, SQL Instance created. But when attempt to create a DB on an Instance then received:
New-AzSqlInstanceDatabase -Name "mipooldb1" -InstanceName "poolmi-001" -ResourceGroupName "myResourceGroup"
New-AzSqlInstanceDatabase : Long running operation failed with status 'Failed'. Additional Info:'Database 'replicatedmaster' does not exist. Make sure that the name is entered correctly.'

--

[2019-09-20 04:22] Romiko commented on #39201
Hi,

We faced a similar issue, Implicit Grant is too old now. So we chose Auth0 and then will move to Okta later. Will keep an eye on MS Identity 2.0, I think it has some good features coming out in the future!

[2019-09-20 04:43] msrini-MSFT commented on #39231
@artisticcheese , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-20 05:00] souravmishra-msft commented on #39069
@allenwux, Since we didnt get an update from your end, we are closing this thread for now. Feel free to re-open if required.

[2019-09-20 05:00] #39069 closed

[2019-09-20 05:00] souravmishra-msft commented on #39002
@dluc, Do let us know if there are any further queries around this. We are closing this thread for now, and feel free to re-open this if required.

[2019-09-20 05:00] #39002 closed

[2019-09-20 05:02] SwathiDhanwada-MSFT commented on #39087
Thanks for informing. As you said earlier, seems anyone with AD account will be able to create management group as of now.

[2019-09-20 05:05] KalyanChanumolu-MSFT commented on #39246
Closing this issue as duplicate of #39245

[2019-09-20 05:05] #39246 closed

[2019-09-20 05:06] SwathiDhanwada-MSFT commented on #38949
At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-09-20 05:06] #38949 closed

[2019-09-20 05:07] SwathiDhanwada-MSFT commented on #39010
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-20 05:07] #39010 closed

[2019-09-20 05:13] MdAbidHussain-91 commented on #39189
Thanks @shashishailaj for acknowledgment. Please help me here.. I am stuck with this for quite sometime now.

[2019-09-20 05:19] igomat commented on #39213
@Mike-Ubezzi-MSFT No, it's not the issue that both $instanceOne and $instanceTwo reference the same managed pool. You can execute just a single one but the error will pop up.
The source of the error is that the New-AzSqlInstance accept pipeline object only for InstancePool parameter but the rest of mandatory parameters like Edition, Location, ComputeGeneration, SubnetId have Accept pipeline input:

[2019-09-20 05:32] PramodValavala-MSFT commented on #39177
@Sashwat Yes. The link to the regional availability page is under `Resources` in the menu on the right.

[2019-09-20 05:34] ManojReddy-MSFT commented on #38785
@JenszSigterman We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-20 05:34] #38785 closed

[2019-09-20 05:44] qiliao123 commented on #39163
We are adding this feature to the TTS voice list API. Stay tuned.

A quick answer: all neural voices in 24khz now. Standard voices are 16khz, unless specifically stated in the voice name, e.g., JessaRUS24K.

[2019-09-20 05:48] SnehaAgrawal-MSFT commented on #39122
@test123114 Thanks for replying! There is one workaround which you may use but it might not be the most useful process in terms of efficiency:

 1. Use the binding cmdlet in PowerShell to upload the certificate and create the binding >> the cert is uploaded at this stage. The cmdlet to add binding in PowerShell :https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/new-azurermwebapps

[2019-09-20 05:51] Mike-Ubezzi-MSFT commented on #38995
@v-miclar Is it possible that this tutorial can be extended to include additional data elements?

[2019-09-20 05:54] SnehaAgrawal-MSFT commented on #39175
@dcbrown16 Thanks for bringing this to our attention. I have shared your feedback with the content owner for further review.

[2019-09-20 05:55] Mike-Ubezzi-MSFT commented on #39131
@SnehaGunda for awareness.

[2019-09-20 06:00] test123114 commented on #39122
Ok. I will test it. Can you tell me how to upload public certificate.

[2019-09-20 06:11] dcbrown16 commented on #39175
I assume the documented units should be referring to the units for whatever value is returned by the API/PowerShell/CLI, assuming those are all the same.

[2019-09-20 06:23] AshokPeddakotla-MSFT commented on #27912
@liydu Thanks for the fix.
@kartben [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/89209) has been created to update the doc as per your suggestions and changes will go live after the merge.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-20 06:23] #27912 closed

[2019-09-20 06:24] mco100 commented on #39149
so database price is identical for geo replication without failover group and for failover group, correct ?

[2019-09-20 06:31] msrini-MSFT commented on #39232
@alvipeo , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-20 06:32] BryanTrach-MSFT commented on #7505
@linitram The doc has now been retired and now redirects to the link Mangesh provided above.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-20 06:32] #7505 closed

[2019-09-20 06:34] msrini-MSFT commented on #38855
@jpduffield , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-09-20 06:34] #38855 closed

[2019-09-20 06:55] ChiragMishra-MSFT commented on #39194
@Rainer21
Azure Data Lake Storage Gen2 is the world’s most productive Data Lake. It combines the power of a Hadoop compatible file system with integrated hierarchical namespace with the massive scale and economy of Azure Blob Storage to help speed your transition from proof of concept to production.

- Is fully integrated with the Azure Blob Storage platform; Every Blob Storage capability (Azure A

[2019-09-20 06:57] ChiragMishra-MSFT commented on #39170
@deepikabandhanadham Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory)/ [Stackoverflow](https://stackoverflow.com/tags/azure-data-factory/new)

Once you post your issue on forums, it will have visibility across the community which is a better suited a

[2019-09-20 06:57] #39170 closed

[2019-09-20 07:04] kotharij commented on #38935
@KrishnaG-MSFT : Thanks for your response! Appreciate that. But unfortunately that does not work out for me. Anyway i think there is no clean way which azure provides for security recommendation like other recommendations. Not sure how to log a bug for that as it is not a doc issue i guess. Please forward if possible to appropriate team/person. thanks again.

[2019-09-20 07:09] mw8er opened #39249 "Add restricted claims to token"
It would be great if you could include an example on how you could add an restricted claim, e.g. azp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content: [Customize claims for an app in an Azure AD tenant (Public P

[2019-09-20 07:10] mw8er commented on #39249
I'm talking about  OAuth Endpoints v2.0. The claim exists in one tenant I work with but not in another

[2019-09-20 07:15] sidk25 commented on #39114
@kranthi : Any progress on this?

[2019-09-20 07:16] sidk25 commented on #39114
The variable groups would be managed for different environments. But it can only be configured for linked service parameters.
The pipeline parameters such as source file path is different for instance on test and production environment. How it can be configured in CICD as it does not turn up automatically in template-parameters.json file.
Hope I was able to explain my query here.

[2019-09-20 07:22] lonevvolf commented on #21440
Has there been any news on this?

[2019-09-20 07:41] jpduffield commented on #38855
@msrini-MSFT Why has this been closed? The issue has not been resolved. The documentation is still wrong.

[2019-09-20 07:46] jjindrich opened #39250 "Windows images ACR Build"
Please could you update docs which base OS is used for build on --Platform Windows ? I need to build docker image on Windows 2019. Is it possible ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc176ffc-0be2-fcc3-037d-22aa53fa0251
* Version Independent ID: 8e23e2e6-88ec-9bae-5712-2b0b62161ab4
* Content: [Automate buil

[2019-09-20 08:00] GuilhermeMorais commented on #32174
Hi @craigshoemaker. I saw the example, and it was created after I create this issue, maybe it was resolved at that time.
For now, I'm not working on that anymore. Thank you for your attention to this matter.

[2019-09-20 08:01] #32174 closed

[2019-09-20 08:05] cawrites commented on #37987
@chrisc-ws the ResultType Enum  you are referring to is part of the SDK for Azure .NET The values are defined here: https://docs.microsoft.com/dotnet/api/microsoft.azure.management.monitor.models.resulttype?view=azure-dotnet
The other ResultType you are referring to is part of the AD sign on status as shown in the link:
https://docs.microsoft.com/azure/active-directory/reports-monitoring/reference

[2019-09-20 08:07] mike-urnun-msft commented on #38870
@derekrprice Host Id itself, which is a hashed GUID-like string [computed here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Executors/DefaultHostIdProvider.cs), isn't available as an App Setting. However, if you're referring to the hostname as your function app name and being able to bind to it, it is available as an app setting: `APPSETTING_WEBSITE_SITE_NA

[2019-09-20 08:07] #38870 closed

[2019-09-20 08:15] DixitArora-MSFT commented on #39078
@priyakantpatel There is a static list of IPs for outgoing IP addresses for Logic Apps and Connectors per Region, you can see more detail [here](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#inbound-ip-addresses---logic-apps-service-only).

Also, if you need a single IP or if you want avoid other user with a Logic App in the same region access to your resources, yo

[2019-09-20 08:19] RohitMungi-MSFT commented on #39192
@alexespencer Thanks for the feedback. I have used your sample file to test and analyze the form and it looks like not all the fields in the text boxes are identified in the response. Here is the file for your reference.

[reponse_analyze.txt](https://github.com/MicrosoftDocs/azure-docs/files/3634838/reponse_analyze.txt)

I have also tried to create some test files in PDF format which are similar

[2019-09-20 08:25] tiandklerk commented on #38862
Hi @normesta

I do not usually follow up on these things, but I was curious if you managed to look at this.

Thank you again.

[2019-09-20 08:27] alexespencer commented on #39192
@RohitMungi-MSFT - you have perfectly captured the issue here with these examples, that's what I'm seeing. We do have the ability to influence form design into the future, including drop-out ink areas (so you would see one bounding box in the scanned image, but the candidate would still see guided areas per digit) - however this can take years to make it's way through the systems.

[2019-09-20 08:28] PramodValavala-MSFT commented on #39102
@guizi1991 Since there is no doc feedback to address here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Also, please feel free to open an issue on the specific doc that you are referring to by providing feedback at the bottom of that page.

[2019-09-20 08:28] #39102 closed

[2019-09-20 08:33] PramodValavala-MSFT commented on #39206
@AlexBrassington Thanks for the feedback! We will review and update accordingly.

[2019-09-20 08:37] KrishnaG-MSFT commented on #38935
@kotharij Apologize for the inconvenience caused (if any)! You can share the feedback / suggestion based on your experience with Azure product by routing to bottom of Azure document you are referring and clicking on 'This product' as shown in below screenshot.

![image](https://user-images.githubusercontent.com/45988031/65306773-d5862000-dba3-11e9-9397-7f9c0318582c.png)

[2019-09-20 08:38] NigelClarkExient commented on #31097
I landed here looking to leverage the same agent to stream windows 10 logs into azure sentinal - Microsoft's SIEM. Unless I am missing another method, I see the agent being the quickest solution deployed through intune MDM to all devices to ensure full monitoring across all devices, servers and desktops.

[2019-09-20 08:46] jpduffield commented on #38855
@msrini-MSFT wrote:

My setup *is* working. But the documentation explaining how I should configure things is wrong.

Huh? Did you even try this? This doesn't fail, it works as expected.
This is the bit that *does* work in accordance with the documentation. The ILB is not (and does not need to be) in the ASG because the inbound filtering is applied at the destination VM.
It's the outbound filterin

[2019-09-20 08:48] jakaruna-MSFT commented on #39250
@jjindrich
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 08:54] JonesMikael opened #39251 "Clarify that diagnostics data is only shown when error"
You reference a few times in the article that "'Previous Registration' subsection in the 'Diagnostic Data' section". I tried to find it in my output but couldn't. Then I realize that this is ONLY shown when there's an actual error, otherwise you never get this in the output. You might want to clarify this in the article. Reference here: https://docs.microsoft.com/bs-latn-ba/azure/active-directory/

[2019-09-20 08:57] kotharij commented on #38935
@KrishnaG-MSFT : Not at all! Thanks for your help!

[2019-09-20 09:16] msrini-MSFT commented on #39232
I debugged your script and I found 2 issues.

1. In the command "New-AzApplicationGatewayFirewallPolicy" you have referenced "$apiMyginiWhitelistIPsRule" which you haven't defined. You need to use "$apiAllExceptIPsRule"

2. IP address which you have referenced in match variable is invalid.

-MatchValue "194.22.333.444/32" `

That is why you will be getting 500 Internal server error.

I used the be

[2019-09-20 09:26] PramodValavala-MSFT commented on #39083
@masilva-uei Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please feel to provide doc feedback at the bottom of the specific doc that you are referring to.

[2019-09-20 09:26] #39083 closed

[2019-09-20 09:31] PramodValavala-MSFT commented on #39105
@DrReedo Just following up here... Hope my previous comment clears things up.

[2019-09-20 09:32] SnehaAgrawal-MSFT commented on #39122
@test123114 You can upload public certificates to with PowerShell using Azure REST API. Here is an example that I found with the REST API and ARM Client (rather than PowerShell) but the same API calls should work in PowerShell.

https://azure.microsoft.com/en-us/updates/installing-public-certificates-in-app-service/?ref=msdn

[2019-09-20 09:39] SnehaAgrawal-MSFT commented on #39012
@test123114 We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [msdn](https://social.msdn.microsoft.com/Forums/en-US/home) forum. Thank you for your understanding.

[2019-09-20 09:39] #39012 closed

[2019-09-20 09:40] qusp66 opened #39257 "this document provides incorrect information"
if one tries to call PublishNodes with the example json payload in this page, one gets:
[09:39:14 ERR] HandlePublishNodesMethodAsync: Exception (Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'OpcPublisher.PublishNodesMethodRequestModel' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly.
To fix this error either change the JSON to a JSON o

[2019-09-20 09:45] thecpshah opened #39258 "Get confidence level"
Hello

I have implemented code to recognise handwritten text using the code here

https://github.com/microsoft/Cognitive-Vision-Python/blob/master/Jupyter%20Notebook/Handwriting%20OCR%20API%20Example.ipynb

How do I get `confidence level` between `0` to `1`? At present it gives `low` or `high`.

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-20 09:47] msrini-MSFT commented on #38855
@jpduffield , I understand what you are saying.

This documentation explains for the scenarios where you have a Public Load balancer, you need to explicitly allow your Client's public IP address in your VM's NIC NSG. We just wanted to make your readers understand that LB just forwards the packet and it will not be acting as a reverse proxy.

For a ILB, it will work anyways until you have a deny ru

[2019-09-20 10:09] ram-msft commented on #39258
@thecpshah Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-20 10:18] ChiragMishra-MSFT commented on #39013
@test123114 Did you get a chance to try it out ?

[2019-09-20 10:34] sidk25 commented on #39114
Same question is posted on stack overflow - https://stackoverflow.com/questions/57894768/how-to-update-adf-pipeline-level-parameters-during-cicd#

[2019-09-20 10:38] iricigor opened #39259 "moving VMs in an existing vNet"
On the page it is written as a not supported scenario:
&gt; Virtual machines in an existing virtual network but you aren't moving all resources in the virtual network.

But, in my experience, this is working fine. Can you please review this?

Also, there are no mentions about availability sets. I think this is also limiting scenario, i.e. you cannot move only one VM from AV set.

---
#### Document

[2019-09-20 10:40] Lelivienne opened #39261 "wrong rules"
first of all names should be provided in full, to avoid confusion - in effect there are two 'Port:' definitions and 'Source' can have a meaning for both - IP and port.
second of all - 'Source Port' should be configured as 'Any' not 3389 - at least in my case setting it caused machine unvailable via RDP, only by setting Source Port to Any solved the issue.

---
#### Document Details

⚠ *Do not edit

[2019-09-20 10:50] bojanz27 commented on #19720
Wow. Nearly a year later an MS can't still provide a recommended usage pattern for CloudQueueClient and CloudQueue.

[2019-09-20 11:10] Kofl opened #39262 "Inconsistent name of Authentication Service"
In step 8. name = sts, but in step 11. the name is "AzureSSO", which is not consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5e4a-d18d-a9f4fba5aedb
* Version Independent ID: 2a58c27f-19e8-1a9a-f14a-45db73b91cc2
* Content: [Tutorial: Azure Active Directory Single sign-on (SSO) integration with Sa

[2019-09-20 11:13] BhupalPatil opened #39263 "Documentation for more Chart Types and AI in Azure Time Series Insights"
Hi Team,

This documentation talk about basic flow, is it possible to add/build different graphs (bar char/pie chart etc..) on the data sent by IOD Hub?

Can we build alerting in such a way that time series insights will self learn the data pattern and trigger alert if there is significant drop/increase in the data?

Thanks,
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-09-20 11:17] AbhishekTripathi opened #39264 "Nested Json not allowed for custom config DI"
As mentioned here https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings, you can bind the configuration to custom object for injection later. However, in most real world scenarios, you may want to have your configuration as complex nested json structure. Azure ƒn doesn't allow that at the moment. If your `local.settings.json`

[2019-09-20 11:26] jakaruna-MSFT commented on #39261
@Lelivienne
Thanks for the feedback! I will submit a PR to fix this document

[2019-09-20 11:31] jaiswati opened #39265 "Skill did not execute within the time limit '00:03:00'. This is likely transient. Please try again later."
Hi,
How to resolve
Skill did not execute within the time limit '00:03:00'. This is likely transient. Please try again later.
https://go.microsoft.com/fwlink/?linkid=2099689

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ec6b9-5539-262e-b0b6-ceef87336d92
* Version Independent ID: e6e23cc4-2790-3202-95c2-54ee6ed62711

[2019-09-20 11:31] jakaruna-MSFT commented on #39261
@Lelivienne I hope removing the `Port: 3389`  in the second line is fine.
If we remove that then it matches the table displayed on the Azure portal.

If we try to add a new rule, Then we need to mention about source and destination port ranges as well.

[2019-09-20 11:33] SubhashVasarapu-MSFT commented on #39188
@akczcz , The document was updated accordingly and it will take some time to get reflected over the docs.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-20 11:33] #39188 closed

[2019-09-20 11:34] BhupalPatil opened #39266 "Data Copy"
Hi Team,

Data aspect missing in documentation and its regarding the data being sent from source (IOT Hub/Event Hub).

Is it possible to send data to Time Series Insights and same it is also getting redirected to storage account? so the data is present on both places ( Storage Account and Time Series Insights).

Thanks,
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-20 11:41] souravmishra-msft commented on #39262
@Kofl, Thank for pointing it out. We will investigate with the content author and update the same.

[2019-09-20 11:42] Kofl opened #39267 "just-in-time provisioning"
Hi,

it states, the just-in-time provisioning is enabled by default. But in screenshot 8 for Sales force, "Just in time provisioning" near the bottom is not ticked?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5e4a-d18d-a9f4fba5aedb
* Version Independent ID: 2a58c27f-19e8-1a9a-f14a-45db73b91cc2

[2019-09-20 11:43] souravmishra-msft commented on #39249
@mw8er, Thank-you for pointing it out. We will investigate with the content author and update the same.

[2019-09-20 11:45] SwathiDhanwada-MSFT commented on #39259
@iricigor Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-20 11:46] PramodValavala-MSFT commented on #39111
@nik-lazer The command starts the functions host with the debug port open. The steps after that in the docs is for setting up a remote configuration that connects IntelliJ to the debug port.

[2019-09-20 11:49] AshokPeddakotla-MSFT commented on #39263
@BhupalPatil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-20 11:49] AshokPeddakotla-MSFT commented on #39266
@BhupalPatil Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 11:51] Lelivienne commented on #39261
depends if you use basic or advanced. i'd suggest providing full info from advanced definition just as it is now, just corrected.

20 wrz 2019 13:32 jakaruna-MSFT <notifications@github.com> napisał(a):

@Lelivienne<https://github.com/Lelivienne> I hope removing the Port: 3389 in the second line is fine.
If we remove that then it matches the table displayed on the Azure portal.

If we try to add a

[2019-09-20 11:56] durgesh23 opened #39268 "Can not connect to azure cosmos db from azure function App using Node.js"
Hi,
I am trying to send the incoming data from the IoT in the cosmos DB.
I am receiving data in the function app but sadly I am not able to connect the cosmos DB using the connection string provided( in cosmos DB quickstart and connection string blade.

Below is my node.js application:
`
module.exports = function (context, IoTHubMessage, callback) {
  try {
    var dbName = "temp-db";
    var coll

[2019-09-20 12:06] jakaruna-MSFT commented on #39250
@dlepow whats the build image used for windows containers?
Please add your comments

[2019-09-20 12:06] #39251 closed

[2019-09-20 12:07] ManojReddy-MSFT commented on #39251
@JonesMikael Thanks for the feedback. I have updated the doc to include that information.

[2019-09-20 12:10] KetanChawda-MSFT commented on #39268
@durgesh23 Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- MSDN / Stackover

[2019-09-20 12:10] SwathiDhanwada-MSFT commented on #39004
@omerzubair In order to fetch ARM template from DevOps repository,you can call [REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/source%20providers/get%20file%20contents?view=azure-devops-rest-5.1) using Powershell.

To perform the authentication, you can create [personal access token](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-to

[2019-09-20 12:12] KetanChawda-MSFT commented on #39264
@AbhishekTripathi Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-20 12:20] AjayKumar-MSFT commented on #31771
@Amit, Just to confirm, are you stating that .NET Core WebApp is affected by this limitation as yiliaomsft mentioned? Could you please describe more details on your scenario?
Or, Since the issue  is not related to document, we recommend posting technical questions on the [technical forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview) where one of our specia

[2019-09-20 12:20] s-miller commented on #39101
Hi, thanks for response Kalyan.
The request  was not for an answer for me per se; it was that an explanation of why there are 2 databases should be provided in the Quickstart Guide for the benefit of *all* users working their way through it.

[2019-09-20 12:22] KetanChawda-MSFT commented on #39145
@rayfmorris The Functions runtime always picks the maximum permissible version defined by the version range or interval. The version value above allows all bundle versions from 1.0.0 up to but not including 2.0.0. For more information, see the [interval notation for specifying version ranges](https://docs.microsoft.com/nuget/reference/package-versioning#version-ranges-and-wildcards).

Since there

[2019-09-20 12:22] #39145 closed

[2019-09-20 12:22] KalyanChanumolu-MSFT commented on #39245
@igomat Thank you for the feedback.
I will have to deploy an MI to test this. I will test this and get back to you shortly.

[2019-09-20 12:25] KetanChawda-MSFT commented on #39218
@spelluru Any thoughts here?

[2019-09-20 12:32] xerosum opened #39269 "Override 'servers' element for individual operations"
Swagger 3.0 supports the server being overriden for individual operations. So you can set the backend for all operations but then override them where necessary.
https://swagger.io/docs/specification/api-host-and-base-path/
But when importing an openapi file like this, if the server has been specified for an individual operation, APIM seems to ignore it.

---
#### Document Details

⚠ *Do not edit t

[2019-09-20 12:37] JonesMikael commented on #7928
@KjetilEVRY So if tpm.msc says the following, we're all good with the issue you described?

![tpm](https://user-images.githubusercontent.com/32098920/65327385-1ab24e00-dbb4-11e9-85c5-69fb752fd981.png)

[2019-09-20 12:40] KjetilEVRY commented on #7928
@JonesMikael Yes, if the status is "Ready to use", you are good to go.

[2019-09-20 12:44] marcelodiiorio commented on #36404
Hello. The comment in the note about AlternateId is confusing to me. It says that we can only use userPrincipalName as AlternateId, and for example here https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-how-it-works, it says that we can use any other attribute defined as AlternateId

The agent validates the username and password against Active Directory by using sta

[2019-09-20 12:46] jakaruna-MSFT commented on #39261
I submitted a PR. Please check that.  It should reflect in the actual doc within few hours.
If needed we can create additional PR
I hope the author is asking the users to verify the provided info with the table.

[2019-09-20 12:47] jakaruna-MSFT commented on #39075
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-09-20 12:47] #39075 closed

[2019-09-20 12:52] JonesMikael commented on #7928
@KjetilEVRY Thanks for the quick response! Great, then we can rule that out on this testclient. It shows **AzureAdPrt: NO** but all other clients (that work) show **AzureAdPrt: YES** and EnterprisePrtAuthority with the address to ADFS etc.

[2019-09-20 12:55] BhargaviAnnadevara-MSFT commented on #39240
@Scotis Thanks for the question! We're investigating this and will update this as appropriate.

[2019-09-20 12:59] SadiqhAhmed-MSFT commented on #39030
@smithcl167 If you want to create multiple VMs, please follow the steps:

Generalize a VM using SysPrep: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource#generalize-the-windows-vm-using-sysprep
	Make sure this VM is not restarted or connected to post SysPrep.
	Create a Image using this SysPrep'ed machine: https://docs.microsoft.com/en-us/azure/virtual-machines

[2019-09-20 13:00] SadiqhAhmed-MSFT commented on #39030
@Mfawzi010 Replace existing is supported for unencrypted managed VMs. It's not supported for unmanaged disks, generalized VMs, or for VMs created using custom images. Reference doc - https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms

[2019-09-20 13:01] SadiqhAhmed-MSFT commented on #39039
@ChrisSommers We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-20 13:01] #39039 closed

[2019-09-20 13:01] evilsi opened #39270 "Strongswan version 5.8.0"
There are changes to Strongswan which means this configuration no longer works.
install these only: apt install strongswan strongswan-pki libstrongswan-extra-plugins

Generate the client certificate but specify --size 4096
#ipsec pki --gen --size 4096 --outform pem &gt; "${USERNAME}Key.pem"

copy the certificates in to the folders like this: (variations breaks the authentication)
#/etc/ipsec.d/cer

[2019-09-20 13:01] test123114 commented on #39122
Sorry. I can not see the sample via the link. Could you tell me which the rest api I should use?

[2019-09-20 13:06] BhargaviAnnadevara-MSFT commented on #39241
@MedAnd Thank you for the feedback! We shall evaluate and update this as appropriate.

[2019-09-20 13:07] BhargaviAnnadevara-MSFT commented on #39242
@dcbrown16 Thanks for the question. We're investigating this and will get back to you shortly.

[2019-09-20 13:09] durgesh23 commented on #39268
Hi, I am referring to this documentation link:
https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#feedback

I have also referred to a non Microsoft documentation( having documentation to links to  Microsoft azure issues. I am alos linking taht page as well.
https://medium.com/@nuwanprabhath/sending-messages-from-azure-iot-hub-to-cosmos-db-using-azure-functions-javascript-717d

[2019-09-20 13:27] BhargaviAnnadevara-MSFT commented on #39240
@mrbullwinkle It seems like the [Java reference](http://dl.windowsazure.com/applicationinsights/javadoc/) is also broken. Could you please provide the right URLs for both to fix?

[2019-09-20 13:28] j-martens commented on #38654
Thanks for your report. Please reopen if you feel this does not answer your question. #please-close

[2019-09-20 13:28] #38654 closed

[2019-09-20 13:31] spelluru commented on #39218
@KetanChawda - Yes. Makes sense to add that example.

adding @axisc for approval

[2019-09-20 13:35] jmattmacd commented on #38503
Did you figure this out, we have the exact same issue - cant access the classic portal (every attempt to access https://account.windowsazure.com/subscriptions redirects to account.azure.com) and cant change the service admin from the new one

[2019-09-20 13:37] nnmer commented on #25343
@jlian  thanks for the feedback. The item at UserVoice [exists](https://feedback.azure.com/forums/321918-azure-iot/suggestions/38591947-enable-per-device-message-throttling-capability)

[2019-09-20 13:39] raghavan20 opened #39271 "Stream Analytics Job: Forwarding messages to appropriate file system based on information in the JSON message"
I have subscribed to `multiple protocol support` of ADLS2 and I have a hierarchy enabled storage account.

Assume I have two file systems
- tenant1
- tenant2

I get messages from Iot Hub from two tenants in standard JSON schema
ex: `{ "tenant_id": "tenant1", "tag": "speed", "value": "100", "dateTime": "2019-08-31T00:00:01Z" }`

Now I would like to send messages to appropriate file systems based on

[2019-09-20 13:45] ManojReddy-MSFT commented on #38503
@dmarlow @jmattmacd I have escalated this internally to understand why this is happening. I will try to get an update as early as possible.

[2019-09-20 13:45] dhirajgandhi commented on #39204
They are not same. The partner can have AOBO access even if the DAP is removed.

[2019-09-20 14:06] nabeelp opened #39272 "Can not convert Object to String"
When trying to create a container, using the examples above, I kept getting the following error:
New-AzResource : {"code":"BadRequest","message":"Unable to parse request payload due to the following reason: 'Can not convert Object to String.'.\r\nActivityId: e2e28d28-c849-404a-8cb1-8b41b00c87a3, Microsoft.Azure.Documents.Common/2.5.1"}

The resolution was to change the line
        "id"=$container

[2019-09-20 14:15] cephalin commented on #13970
#please-close

[2019-09-20 14:15] #13970 closed

[2019-09-20 14:20] #39111 closed

[2019-09-20 14:21] AkshayTharval opened #39273 "More information on inference_schema.parameter_types"
I am not able to find any information about inference_schema.parameter_types, besides numpy and pandas what are the other parameter types supported?
Is there a github for this library? I suppose this library is made by Microsoft?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Vers

[2019-09-20 14:21] martincoetzer commented on #36404
Hi. The statement is directly out of the FAQ, but I agree it is confusing. @billmath can maybe clarify if the FAQ is correct. The FAQ sounds circular: as in AlternateID is supported as long as you sync UserPrincipalName

[2019-09-20 14:23] #39177 closed

[2019-09-20 14:26] adrianwells commented on #39204
@dhirajgandhi and @KrishnaG-MSFT thank you for the replies. Based on @dhirajgandhi's comments may you please update this article to clarify this further or add a reference to article to further detail this. Thank you.

[2019-09-20 14:30] martincoetzer commented on #36404
I'm removing the note in this doc, because it is confusing

[2019-09-20 14:32] jwargo commented on #38788
@MayurBar a Push Channel is just a string value, the name for the channel.

[2019-09-20 14:37] oleksandr-bilyk commented on #39028
Looks like Fuction dependency injection nuget already depends on Microsoft.Extensions.DependencyInjection.Abstractions. So it is OK.

[2019-09-20 14:37] jwargo commented on #34609
@MayurBar in the Azure Portal - it's the Access Policies.

[2019-09-20 14:39] NavtejSaini-MSFT commented on #39151
@tushar-kesare @devpog Please let us know if you have any other question or we will close this thread by EOD.

[2019-09-20 14:40] NavtejSaini-MSFT commented on #39236
@dmarlow Please do get back to us if you have any additional questions or we will go ahead and close this thread by EOD.

[2019-09-20 14:43] jlongo62 opened #39274 "Many properties exist but are undocumented."
Regarding page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/extensions/oms-windows.md. (This is the only place I have found docs with ARM/PS properties for deploying the MMA Agent)

Many properties are missing:
Documented Extension Properties

workspaceId
workspaceKey
Undocumented Extension Properties

Control Panel;Microsoft Monitoring Agent app to determine

[2019-09-20 14:53] xtianus79 opened #39275 "can you expand upon labeling utterances that have spelling mistakes?"
this seems like a possible solution but can you give more context so that an example can be shown on how to label a spelling mistake and the outcome of luis learning and adjusting to the learned spelling for proper outcome?  thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50468472-f7f2-abcd-fd47-65f6e8319757
* V

[2019-09-20 14:58] alvipeo commented on #39232
the IP I just changed from the real one. that's not an issue.

let me try that.

[2019-09-20 15:02] bexxx commented on #38941
This is an issue only affecting the GET of webhooks. Internally the parameters are preserved and used for sending the events.

[2019-09-20 15:03] MicahMcKittrick-MSFT commented on #39274
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 15:04] ChrisGibson1982 opened #39276 "Installing the guest configuration extension"
I can't find documentation on how to install the guest configuration extension on a windows VM.  The policy doesn't seem to do it, and i can't find it listed as an extension either in the portal or via powershell.  Are there any docs on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b

[2019-09-20 15:14] cawrites commented on #39159
@chappedhide we have provided feedback to your issue. If you have any other questions please don't hesitate to contact us again.

[2019-09-20 15:15] cawrites commented on #39159
#please-close

[2019-09-20 15:15] #39159 closed

[2019-09-20 15:15] joshkostal opened #39277 "Gremlin Query Doesn't Work"
When trying to add a vertex to the graph using the listed query:
:&gt; g.addV('person2').property(id, '2').property('name', 'somename2')
I get an error stating:
ActivityId : 8271eba3-4009-4a16-be2d-18380a75148e
ExceptionType : GraphRuntimeException
ExceptionMessage :
        Gremlin Query Execution Error: Cannot add a vertex where the partition key property has value 'null'.
Source : Microsoft.Azu

[2019-09-20 15:16] DCtheGeek commented on #39276
#assign:DCtheGeek

[2019-09-20 15:16] DCtheGeek commented on #39276
@ChrisGibson1982 Thanks for the question! If you are using a built-in initiative for Guest Configuration, the **DeployIfNotExists**policy within the initiative handles the deployment and configuration of the extension.  There is no way to manually install it, currently. The [Guest Configuration definition requirements](https://docs.microsoft.com/azure/governance/policy/concepts/guest-configuration

[2019-09-20 15:17] KrishnaG-MSFT commented on #39204
Assigning content owner @JnHs for visibility, review and document enhancement considerations.

[2019-09-20 15:17] wilsoncrespo commented on #31128
@SadiqhAhmed-MSFT do you have any further information about this issue, I am also facing the problem of not seeing the ports 80 and 443 listed in the portcheck page you provided.

Please somebody could give another portcheck url that includes the ports themselves mention in the documentation of installing the Application Proxy Connector?

[2019-09-20 15:17] cawrites commented on #38352
@lightupdifire  we have provided feedback to your issue. If you have any other questions please don't hesitate to contact us again.

[2019-09-20 15:18] cawrites commented on #38352
#please-close

[2019-09-20 15:18] #38352 closed

[2019-09-20 15:19] wilsoncrespo commented on #25136
Hi @ManojReddy-MSFT I want to ask you if there is a new website url to test the missing ports?

[2019-09-20 15:20] cawrites commented on #37987
@chrisc-ws  we have provided feedback to your issue. Please take the opportunity to review.

[2019-09-20 15:22] markjbrown commented on #39277
Hi Josh. Can you email us at askcosmosdb@microsoft.com with this? We can better loop in the right folks and help you there. Thanks.

#please-close

[2019-09-20 15:22] #39277 closed

[2019-09-20 15:22] AlexanderTodorovic commented on #38948
@MartinJaffer-MSFT The delta table is created successfully. The folder delta-tables/customers was created and the ...snappy.parquet file was also created. However the documentation says this cell shouldn'be run. Because later in the tutorial the function passes a value to the source_file widget and I think it'll be fine. Thank you!

[2019-09-20 15:22] #38948 closed

[2019-09-20 15:23] KrishnaG-MSFT commented on #39276
@DCtheGeek Added 'product-question' and 'in-progress' labels.

[2019-09-20 15:24] alexander-riss commented on #38941
@bexxx i am not sure what you mean with GET of webhooks? i thought events are sent via POST only? (while POST request can still use GET url parameters ...)

[2019-09-20 15:32] markjbrown commented on #39272
Hi Nabeel, pretty sure there is another explanation. This script runs with no errors as is. Feel free to post the script you ran as a gist (just remove the account name) and I can take a look. Thanks.

[2019-09-20 15:34] cynthn commented on #21440
@lonevvolf Thanks again for the feedback. Someone internally was working on a PowerShell script to try and catalog everything from the VM and then handle each piece, but I think they ran into some issues and had to set the work aside for a bit. I think we discussed switching over to editing the template for the VM instead of trying to script the move, as I think this will handle licensing and othe

[2019-09-20 15:37] KrishnaG-MSFT commented on #39088
@rthorn17 Thanks for the quick response. 👍
@frehnejc At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-09-20 15:37] #39088 closed

[2019-09-20 15:39] Alberto-Vega-MSFT commented on #38963
@JawadJaber Thanks again for reaching out. Using the devices simultaneously it is not supported for sure. Not sure though if what you are doing it is "supported". I have assigned the issue to the content author to help answer, evaluate and update as appropriate.

[2019-09-20 15:41] KrishnaG-MSFT commented on #39277
@markjbrown Thanks for the quick response. 👍

[2019-09-20 15:46] softwarecraft opened #39278 "NotActions on Contributor excludes Policy actions as well but this is not obvious or explicit"
Hi, the list of NotActions for Contributor role doesn't make any mention of Policy but the following are excluded:
* Create and manage policy assignments
* Create and manage policy definitions
* Create and manage policy sets

Would be helpful to make this explicit by mentioning policy in the Not Actions description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-09-20 15:49] mrbullwinkle commented on #39240
Update to the doc to address the broken links has been merged internally. It will go-live in the public docs between 10 - 11 AM (UTC-7).

[2019-09-20 15:49] mrbullwinkle commented on #39240
Thank you for bringing this to our attention!

[2019-09-20 15:49] mrbullwinkle commented on #39240
#sign-off

[2019-09-20 15:50] YutongTie-MSFT commented on #39275
@xtianus79
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry
Hi Dina, could you please check this issue and update the document as necessary? Thank you.

[2019-09-20 15:50] mrbullwinkle commented on #39240
#please-close

[2019-09-20 15:50] #39240 closed

[2019-09-20 15:52] stephbaron commented on #39197
Checking...

[2019-09-20 15:54] mrbullwinkle commented on #39223
The updates to the doc have been merged internally. They will go-live in the public docs between 10 - 11 AM (UTC-7). Thanks again for bringing this to our attention!

[2019-09-20 15:54] mrbullwinkle commented on #39223
#please-close

[2019-09-20 15:54] #39223 closed

[2019-09-20 15:55] Robbiem06 opened #39279 "Appliance - Specify vCenter Server"
Instead of connecting to vCenter can you connect directly to host for discovery. I currently dont have the vCenter appliance and cant install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e91f6f9-23d7-da62-b7f9-4f77e1924653
* Version Independent ID: 813a0912-51f8-13c0-2096-efe6c9fe1514
* Content: [Troubleshoot Azure

[2019-09-20 15:57] msrini-MSFT commented on #39231
@artisticcheese, do you mean you need to create an Endpoint in one tenant and service link to another tenant ?

[2019-09-20 16:05] florinc commented on #29892
The above script didn't work for me because the log file names ended up in a wrong format. They have the `%timestamp%` at the end which makes the file names to have a few `/` chars.
This resulted in the `The system cannot find the path specified.` error, which ended the script (with success), when it tried to write to the log. The script stopped before creating any logs or installing the .NET Fram

[2019-09-20 16:06] yull1860 opened #39280 "Website Contributor ref a missing Microsoft.Web/serverFarms/join/action"
Hi , I need to create a custom role for users work on web app/function app while not create app service plan . I found Microsoft.Web/serverFarms/join/action is not working now , website contributor Role has this (without description) and cli will give error say not a valid resource provider operation

BTW , seems I must include Microsoft.Web/serverFarms/Write in the custom role otherwise new webap

[2019-09-20 16:06] normesta commented on #38862
Hi @tiandklerk. This could possibly be a bug with the connector. @bensack can you please take a look?

[2019-09-20 16:06] ChrisGibson1982 commented on #39276
Thanks @DCtheGeek, that does, but one thing that isn't clear is if the guest configuration can co exist with the Azure DSC extenion?  On machines that aren't registered in Azure DSC the extension doesn't deploy, but on vanilla machine it does

[2019-09-20 16:07] #39004 closed

[2019-09-20 16:08] GaryTuttle1 commented on #36967
Do we have a link for the sample yet?

[2019-09-20 16:09] artisticcheese commented on #39231
Yes, that's one of the things which advertised use case when ISV provides services to external clients with no connectivity between subscriptions/tenants.

[2019-09-20 16:10] VictorDenisenko opened #39281 "Error in Step 4"
String "var faces = await faceClient.Face.DetectAsync(s);"  is wrong. Visual Studio writes error message '"iFaceOperations" does not contain a definition for "DetectAsync"'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f087f4-64bd-ebda-e5b9-540bf9cd041e
* Version Independent ID: 9885cd90-3d7c-1ede-4992-e8408f048d9a

[2019-09-20 16:10] krokoko commented on #27534
You need to create a custom HSM as explained [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/devdoc/using_custom_hsm.md). An example is provided [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/samples/custom_hsm_example/custom_hsm_example.c)

In Java, C# and Python you have APIs which allows you to provide your own certificates ([Java

[2019-09-20 16:15] DCtheGeek commented on #39276
The Guest Configuration uses "LCMv2" or "DSCv2", so doesn't conflict with earlier implementations of DSC such as locally managing the LCM or Azure State Configuration (which is also managing the local LCM, but from a Pull Server). If you are seeing issues with the built-in Guest Configuration initiatives working on specific machines (namely systems using Azure State Configuration), I think the rig

[2019-09-20 16:21] Japeth opened #39282 "VMSS for WVD"
Is it possible to use a VMSS for WVD?
It seems it would be a much simpler solution to scaling WVD session hosts than the manual process outlined here. Just a suggestion.

Doc: https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script

[2019-09-20 16:22] ChrisGibson1982 commented on #39276
will do, cheers

[2019-09-20 16:24] DCtheGeek commented on #39276
@MicrosoftDocs/azure-cxp-triage As this is moving to support, #please-close.

[2019-09-20 16:24] #39276 closed

[2019-09-20 16:28] NavtejSaini-MSFT commented on #39149
@mco100 You are correct with an exception.
Consider this example. You have DB in East US region geo replicated to West US.
![Geo-Repli](https://user-images.githubusercontent.com/52257742/65342805-84752c80-dba1-11e9-9d1f-2b5fb37fb1ec.JPG)

Here on the top banner where it says "You can now automatically manage ......failover group" If you click on that it will open the blade for creating a failover

[2019-09-20 16:37] jmprieur commented on #36967
@Darko-git @GaryTuttle1 this is the right sample, but the code was moved to a reusable library. I need to update the documentation (it's on my backlog)

If you read this, I think that should clarify: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/Microsoft.Identity.Web/README.md

[2019-09-20 16:39] dmarlow commented on #39236
I understand that KV is already redundant. The part I'm confused about is "configure the server to use two different key vaults". How can SQL be configured to use two different KVs? I thought a data encryption protector could only use a single KV key, and thereby a single KV.

[2019-09-20 16:39] MicahMcKittrick-MSFT commented on #39282
@Japeth not possible at this time.

I will add @ChristianMontoya and @Heidilohr to add this suggestion to the backlog.

[2019-09-20 16:39] #39282 closed

[2019-09-20 16:40] PramodValavala-MSFT commented on #39271
@raghavan20 Could you please share the doc that you are referring to?

[2019-09-20 16:47] ajayanti1 commented on #39208
Issue resolved.

[2019-09-20 16:48] ajayanti1 commented on #39208
#please-close

[2019-09-20 16:48] #39208 closed

[2019-09-20 16:48] svangeti opened #39283 "are there plans to add "Event" feature on Storage with HNS enabled."
Right now, In Gen2 storage account with HNS enabled, there is no option to configure "Events" like on Blob storage. Are there any plans to add that feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d399-d863-030abc4ce6ed
* Version Independent ID: a46bd7ed-cb90-7a85-63bc-d079ae78d9b6
* Content: [Reac

[2019-09-20 16:51] mike-urnun-msft commented on #39269
Hi @xerosum - Thank you for your feedback! We will review and update as appropriate.

[2019-09-20 16:55] ajayanti1 commented on #38435
Added.

[2019-09-20 16:55] ajayanti1 commented on #38435
#please-close

[2019-09-20 16:55] #38435 closed

[2019-09-20 17:06] sonnycloudtp opened #39286 "This document page is dated."
The information on this doc page is dated, and is not correct anymore. It is not clear how to set the various storageEncryptionMonitoringEffect-like (Policy names reference) parameters anymore. as of Sep. 2019, the Security Policy blade on this page does not point to the options mentioned on this page. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-20 17:13] Karishma-Tiwari-MSFT commented on #39283
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-20 17:16] FrankHu-MSFT commented on #39267
@Kofl Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-20 17:16] FrankHu-MSFT commented on #39278
@softwarecraft Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-20 17:16] FrankHu-MSFT commented on #39280
@yull1860 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-20 17:17] YutongTie-MSFT commented on #39281
@VictorDenisenko
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 17:18] YutongTie-MSFT commented on #39273
@AkshayTharval
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 17:24] svangeti commented on #39283
Thanks for the response. here is the document that shows linking events to blob storage.
My question is, is there similar functionality available on Gen2 Storage FileSystem events.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

[2019-09-20 17:24] ianc911 opened #39287 "Missing step"
This article makes no mention of creating a connection request policy on the remote NPS server. If there is no CRP on the server matching the request from the RDP server, the request will fail. It is not sufficient to merely create a network policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64

[2019-09-20 17:25] nhwilly opened #39288 "Registration vs Installation in the back end section"
This: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management#registration-management-from-the-device is pretty confusing.  It clearly states at the top of the entire page that an `installation` is an enhanced `registration`.

Does that mean all the SDK calls that reference `registration` are interchangeable with `installation`?  Because

[2019-09-20 17:33] Karishma-Tiwari-MSFT commented on #38609
We will now close this issue. Please come back when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-09-20 17:33] #38609 closed

[2019-09-20 17:33] Karishma-Tiwari-MSFT commented on #39057
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-20 17:33] #39057 closed

[2019-09-20 17:34] craigshoemaker commented on #25491
The article is now updated with IoT links.

#please-close

[2019-09-20 17:34] #25491 closed

[2019-09-20 17:37] NavtejSaini-MSFT commented on #39236
@dmarlow We are assigning this case to doc author for more insight into this.
@aliceku Please check the users question and clarify the doubts.

[2019-09-20 17:39] SaurabhSharma-MSFT commented on #39198
@ali-hamud Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-20 17:41] djpmsft commented on #39114
Hi @sidk25 ,

You need to create a custom parameters file to be able to make pipeline parameters dynamic. This is highlighted in this point of the documentation: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#use-custom-parameters-with-the-resource-manager-template.

As this value is specified at trigger time, you specify it in the trigger section shown in th

[2019-09-20 17:44] Karishma-Tiwari-MSFT commented on #39067
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-20 17:44] #39067 closed

[2019-09-20 17:46] Karishma-Tiwari-MSFT commented on #39068
We will now close this issue. Please share the doc when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-20 17:46] #39068 closed

[2019-09-20 17:46] Karishma-Tiwari-MSFT commented on #39073
Did that help? Let me know. Thanks :)

[2019-09-20 17:50] benhxy opened #39289 "Please document the claim that represents group overage"
The documentation mentioned that "then an overage claim will be added to the claim sources pointing at the AAD Graph endpoint containing the list of groups for the user." but never mentioned that claim's value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID:

[2019-09-20 17:51] Adam-Smith-MSFT commented on #19720
@bojanz27 I'd recommend posting in Azure issues:  https://github.com/Azure/azure-storage-net/issues
If you need any specific help/questions which can be reviewed by the product team. or use the previously mentioned case: https://github.com/Azure/azure-storage-net/issues/732

[2019-09-20 17:52] Karishma-Tiwari-MSFT commented on #39191
Can you please share the link to the doc so that we direct it to the right team.

[2019-09-20 17:52] palma21 commented on #38807
That is likely a task for https://github.com/kubernetes-incubator/external-dns

It supported that scenario but appears that the private dns zone api changed and external DNS needs to be updated

[2019-09-20 17:53] Karishma-Tiwari-MSFT commented on #39283
Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-09-20 17:53] mmacy commented on #39044
@crixo I've just confirmed that user update, including password reset, functions after having applied the above role to the application's service principal with the PowerShell commands shown above. I'll now update the article, and once merged, this issue will be closed.

Thanks for the call-out on this!

[2019-09-20 17:57] AjayKumar-MSFT commented on #38931
@WenJason, I did not see this behavior on my test, could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, I would like to work closer with you on this query.As I will work with you offline, we will now proceed to close this thread.

[2019-09-20 17:57] #38931 closed

[2019-09-20 18:03] cschedler commented on #26913
Via powershell:
 ##Get Workspace ID
$workspaceId = Get-AzOperationalInsightsWorkspace -Name $LAWorkspaceName -ResourceGroupName $ResourceGroupName

##Get Workspace Key
$workspacekey = Get-AzOperationalInsightsWorkspaceSharedKey -ResourceGroupName $ResourceGroupName -Name $LAWorkspaceName

$PublicSettings = @{ "workspaceID" = $workspaceId.CustomerId}
$ProtectedSettings = @{ "workspacekey" = $worksp

[2019-09-20 18:04] Adam-Smith-MSFT commented on #39283
@svangeti it looks it's actually supported when HNS is enabled as well: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-events
the tutorial is related to ADLS but provides the basics, let me know if this helps.

[2019-09-20 18:24] ROSMITHJ-MSFT commented on #34496
Looks like it was corrected; many thanks for the help, everyone~

[2019-09-20 18:24] #34496 closed

[2019-09-20 18:26] Karishma-Tiwari-MSFT commented on #26913
@cynthn Can you please help assign this to the right person as roiyz is not in the team anymore. Thanks :)

[2019-09-20 18:27] joshkostal commented on #39131
@Mike-Ubezzi-MSFT apologies, I had mixed up the partition key label and value. It should work given the current instructions

[2019-09-20 18:27] #39131 closed

[2019-09-20 18:30] HJToland3 commented on #39193
@ahamedembibe, in the query above, you should replace 'SchemaName' with the name of your schema. Please let us know if this does not resolve your issue.  Thanks!

[2019-09-20 18:33] cynthn commented on #26913
@Karishma-Tiwari-MSFT I have a spreadsheet of owners. I'll ping you offiline.

[2019-09-20 18:40] MicrosoftGuyJFlo commented on #39053
Security Keys are not available in GCC yet. I would recommend adding a feature request in the product feedback section where other customers can vote on it as that is a location the product team draws feedback for planning from.

[2019-09-20 18:42] A9G-Data-Droid commented on #39053
Thanks @MicrosoftGuyJFlo but I don't know where that is. Can you provide a link?

[2019-09-20 18:42] femsulu commented on #38972
@anirudhcavale - any update on this please?

[2019-09-20 18:45] SaurabhSharma-MSFT commented on #39053
@MicrosoftGuyJFlo  Thanks.
@A9G-Data-Droid Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-09-20 18:45] MicrosoftGuyJFlo commented on #39053
![image](https://user-images.githubusercontent.com/25777989/65351092-05c9c080-db9c-11e9-863e-063b2f2c1c4c.png)
It is to the left of the feedback item for docs

[2019-09-20 18:51] A9G-Data-Droid commented on #39053
Thanks! I'll check it out. Just a note to the documentation team: It's really difficult for GCC-High customers to know which features are available to us. It would be nice to have a compatibility disclosure on documentation pages that show what the documentation is applicable to. I find that the pictures and steps are always slightly different from what I see in my tenant.

[2019-09-20 18:53] MicrosoftGuyJFlo commented on #39053
@A9G-Data-Droid thanks for the feedback I will relay that to my leadership. Its hard even for us to know what is or is not available sometimes.

[2019-09-20 18:53] MicrosoftGuyJFlo commented on #39053
#please-close

[2019-09-20 18:53] #39053 closed

[2019-09-20 18:57] femsulu commented on #38984
@tfitzmac, any guidance here. wasn't able to find a workaround to utcNow()

[2019-09-20 18:57] normesta commented on #39283
@svangeti - also see this article - [Azure Event Grid event schema for Blob storage](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) for specifics on events for HNS-enabled accounts and the specifics on event data. Hope that further helps.

[2019-09-20 19:06] HJToland3 commented on #39193
Also, there appears to be an extra open parenthesis - this is the correct query to use - I will update the article accordingly.

SET group_concat_max_len = 8192;
    SELECT SchemaName, GROUP_CONCAT(DropQuery SEPARATOR ';\n') as DropQuery, GROUP_CONCAT(AddQuery SEPARATOR ';\n') as AddQuery
    FROM
    (SELECT
    KCU.REFERENCED_TABLE_SCHEMA as SchemaName,
                KCU.TABLE_NAME,

[2019-09-20 19:11] KranthiPakala-MSFT commented on #39227
@kubikb We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

Hi @linda33wj, Could you please have a look at the feedback from @kubikb? - Thanks!

[2019-09-20 19:13] mmacy commented on #38447
@maviso5 Hi, one final update for you. Both the documentation and the code sample have been updated to fix _user logout_ and the _To-Do List_, and are confirmed to be functional in their current state. Thanks again for your patience while we got this sorted.

* [Tutorial: Enable authentication in a web application using Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-

[2019-09-20 19:15] YutongTie-MSFT commented on #39273
@jpe316
Hi Jordan, could you please provide more information about the library? I can not find anything either. Thank you.

[2019-09-20 19:16] craigshoemaker commented on #12978
@GuyHarwood - can you provide some more detail on what you mean, please?

[2019-09-20 19:22] Grace-MacJones-MSFT commented on #39288
HI @nhwilly,  thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-20 19:23] Grace-MacJones-MSFT commented on #39265
Hi @jaiswati, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 19:25] msdotnetclr commented on #39227
I actually wrote a pipeline to find the answer myself. Here's how I did it:
1. Create the following SQL objects in an Azure SQL DB, which consist of a user defined table type, a writer stored procedure, and a table the writer SP inserts into.
[code]
2. Create 2 Azure SQL datasets (one as source, one as sink) without specifying table name
3. Create a pipeline and add a Copy Data activity. Select th

[2019-09-20 19:30] TravisCragg-MSFT commented on #39270
@evilsi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-20 19:30] KingdomOfEnds commented on #39230
@bospoort - Thank you for helpful comment! As noted in the documentation, there are in fact multiple API names that exist. Which appears for you will depend on the tenant or organization you belong too.

The two most common are: **Azure Digital Twins** (external to Microsoft) and **Azure Smart Spaces Service** (Microsoft).

Do you mind verifying which organization you are testing deployment on? Th

[2019-09-20 19:48] kumarallamraju opened #39294 "Store the output of network private-endpoint show in networkInterfaceId variable"
[Enter feedback here]

#Query for the network interface ID
az network private-endpoint show --name myPrivateEndpoint --resource-group myResourceGroup --query 'networkInterfaces[0].id'

The output of the above command should be stored in a variable called "networkInterfaceId"before executing the following command. Just experienced it. Worth highlighting the same..

az resource show --ids $networkIn

[2019-09-20 19:48] YutongTie-MSFT commented on #39219
@diberry  Hi Dina, yes. I believe there are some customers who are confused about different keys for service. Would you like to add more details about it? Thanks.

[2019-09-20 19:59] Alberto-Vega-MSFT commented on #39257
@qusp66 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-20 20:03] jwargo commented on #39288
@nhwilly No, they're not interchangeable. Registrations are synchronous and Installations are asynchronous. For several reasons, you're better off using Installations.

[2019-09-20 20:07] nhwilly commented on #39288
That's what it looked like, but the way some of the paragraphs are written `registrations` are referred to in the middle of `installation` related information.

Anyway, thanks for clearing that up.  Basically it seems like I need to manage all of it on my end and just use installations as the delivery method.

At least I know which approach to take at this point.

Thanks again,.

[2019-09-20 20:07] #39288 closed

[2019-09-20 20:10] femsulu commented on #38986
I can confirm this is the current default behavior.
@dcurwin, who on the PG side can speak to this?

[2019-09-20 20:21] omerzubair commented on #39004
Thanks for the suggestion.
If i leave organisation the personal access token will be expired. Is that correct?
Cheers

[2019-09-20 20:30] omerzubair opened #39296 "Source control sync depends on person?"
Hi
I would like to know, whats the behaviour of source control if person leaves the organisation ?
- behaviour in both situations i.e using Portal Add button or Personal Access Token?
- Can we connect source control with Azure Ad App creds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e

[2019-09-20 20:33] MicahMcKittrick-MSFT commented on #39274
@axayjo can you look into this one?

[2019-09-20 20:37] robinsh commented on #7851
#reassign @JimacoMS3
Jimaco -- can you take a look at this?

[2019-09-20 20:39] robinsh commented on #7851
@AshokPeddakotla-MSFT I'm still in the middle of something; turning it over to Jimaco to take a look at.

[2019-09-20 20:40] kptonn commented on #37690
You get a welcome email that your subscription has been whitelisted

[2019-09-20 20:40] robinsh commented on #27826
Still on my list. Hopefully by end of September; rewriting this article is part of another project I'm working on, and I have a new code sample that the customer can just run.

[2019-09-20 20:43] jcuello opened #39297 "Please review for any updates on schema changes or "copy and paste" errors"
I have been trying to create an Alert Rule for the 'Recommendation' event through Az PowerShell 2.6 and it took longer than it should have since the documentation states that there could be 4 values for the Event Level: “Critical”, “Error”, “Warning”, or “Informational”.

However this is incorrect since the only valid value it was able to accept was "Informational" after getting many "Bad Requests

[2019-09-20 20:44] robinsh commented on #37084
It looks to me like the yellow ones are all part of the IoT product, and the blues ones are "other", or non-IOT technologies.

[2019-09-20 21:13] diberry commented on #39219
@YutongTie-MSFT @xtianus79 The tutorial this issue is on/about doesn't use the QnA Maker subscriptionkey - that I know of. That is what I'm confused about.

[2019-09-20 21:16] rohinkoul commented on #38807
I am not sure I have full context on this. However, looking at the above comments I can say that Azure private DNS zone API has indeed changed; old API is on depreciation path but still working. While updates are required to make sure that the latest API is being used I am not sure why would the behavior of existing product break as old API is still working.

[2019-09-20 21:16] vhorne commented on #38881
fixed
#please-close

[2019-09-20 21:16] #38881 closed

[2019-09-20 21:18] bandersmsft commented on #38595
@andrewgailer Still awaiting reponse from the engineering team. Will follow-up.

[2019-09-20 21:18] palma21 commented on #38807
I don't think external dns was attempted to be used. OP can confirm. If they're ok to use old API it should still work as documented on that page.

[2019-09-20 21:31] irfan432 commented on #39191
Hi Team,

Here is the link : https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions
Please refer to the question in the document “How far back can I recover?”
[cid:image001.png@01D5701C.494DD350]

Thanks and Regards,
Irfan Mohammad
Microsoft Consultant

Mob: +971-50-8290332
Email: mirfan@alpha.ae<mailto:mirfan@alpha.ae>

From: Karishma Tiwari - MSFT <notifications@git

[2019-09-20 21:32] danvalero opened #39299 "order of composite index paths"
The doc says:
"The order of composite index paths (ascending or descending) should also match the order in the ORDER BY clause."
however, later on it says that the index "(name ASC, age ASC)" supports the query "SELECT * FROM c ORDER BY c.name DESC, c.age DESC". I nthis case the index order does not match the order in the ORDER BY.
Is not that a contradiction?

[2019-09-20 21:33] danvalero opened #39300 "order of composite index paths"
The doc says:
"The order of composite index paths (ascending or descending) should also match the order in the ORDER BY clause."
however, later on it says that the index "(name ASC, age ASC)" supports the query "SELECT * FROM c ORDER BY c.name DESC, c.age DESC". I nthis case the index order does not match the order in the ORDER BY.
Is not that a contradiction?

---
#### Document Details

⚠ *Do not

[2019-09-20 21:35] hrasheed-msft commented on #38846
@hidwatanabe The engineering team has confirmed that this is an open bug with Hortonworks (HIVE-1199). You can open a ticket with support who may be able to provide more information on the bug and possible workarounds.

[2019-09-20 21:35] hrasheed-msft commented on #38846
#please-close

[2019-09-20 21:35] #38846 closed

[2019-09-20 21:47] Karishma-Tiwari-MSFT commented on #39137
Looks like it is not a required field. Refer to the docs below and let me know if you have any questions.
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfrp-model-clusterproperties#provisioningstate

https://docs.microsoft.com/en-us/rest/api/servicefabric/sfrp-model-provisioningstate

[2019-09-20 21:48] hrasheed-msft commented on #39099
Resolved on an email thread. #please-close

[2019-09-20 21:48] #39099 closed

[2019-09-20 21:48] hrasheed-msft commented on #38943
Resolved on an email thread. #please-close

[2019-09-20 21:48] #38943 closed

[2019-09-20 21:50] svangeti commented on #39283
@Thanks @Adam-Smith-MSFT @normesta , I kind of overlooked the documents. It serves the purpose.

[2019-09-20 21:50] #39283 closed

[2019-09-20 21:55] IgorPietraszko opened #39301 "How do I achieve the same but for Resource Owner Password grant."
I have a mobile app and want to use the Resource Owner Password grant flow for authentication and to gain access to my APIs.  I implemented the above Authorization Code grant flow and it works OK.  How do I implement the Resource Owner Password grant flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-08

[2019-09-20 22:01] Karishma-Tiwari-MSFT commented on #39299
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-20 22:14] ThomasWeiss commented on #39300
@danvalero The next bullet point (after the one you quoted) actually says "The composite index also supports an ORDER BY clause with the opposite order on all paths.", so that query is supported.
#please-close

[2019-09-20 22:14] #39300 closed

[2019-09-20 22:18] Karishma-Tiwari-MSFT commented on #39155
You are right. Here is the doc which talks in detail about IP addressing for AKS clsuter:
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#plan-ip-addressing-for-your-cluster

[2019-09-20 22:26] Karishma-Tiwari-MSFT commented on #39191
Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-09-20 22:33] Karishma-Tiwari-MSFT commented on #39091
Sharing the information obtained here, for reference:
If you DON’T select an availability zone (the zone is “None”), then the VM is still deployed in one of the data centers that correspond to zones.

Is the DC chosen basically at random?
There is basically an ‘Allocator’ that makes decisions based on a variety of factors including capacity, health etc but from a customer perspective yes, they hav

[2019-09-20 22:33] sasanmcp commented on #39075
Got it. So filesURL is always necessary. Depending on whether you’re hosting it in storage account or not, you can or cannot add storage account name and key.

From: jakaruna-MSFT <notifications@github.com>
Sent: Thursday, September 19, 2019 5:03 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Mention <mention@noreply.github.com>
Subj

[2019-09-20 22:38] Karishma-Tiwari-MSFT commented on #39217
@bschlechty Is there any chance that you got this information from the support case? If yes, please share the support ticket number with me, so that I can refer to it and make the requires changes in the right doc. Thanks :)

[2019-09-20 22:38] TravisCragg-MSFT commented on #38961
@ashemedai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-20 22:45] femsulu commented on #38995
@v-miclar is no longer on the team. adding @qianw211 for input.

[2019-09-20 22:50] minimonsters opened #39303 "Only start time triggers a rule evaluation; End time is really "go back to default""
The following is not adequately documented.

If you try to have tiered or overlapping rules, the autoscale system will NOT evaluate the rulesets again when it completes a ruleset timeframe, as implied by the documentation - it will just return to default, even if the end time is still within another ruleset's timeframe.  You must have another ruleset that has a start time *at or after* the ending

[2019-09-20 22:56] FrankHu-MSFT commented on #39278
Hey @softwarecraft I don't see them in the notactions in my contributor role. Where did you hear/see that these permissions were a part of the contributor Azure RBAC roles?

[2019-09-20 23:00] FrankHu-MSFT commented on #39278
I only see :

[code]

[2019-09-20 23:21] gnerd commented on #33750
its been 3 months - please update the instructions.

[2019-09-20 23:25] bschlechty commented on #39217
119072621002367

On Fri, Sep 20, 2019 at 3:38 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-09-20 23:27] dcurwin commented on #38986
@pvrk

[2019-09-20 23:41] eyast opened #39305 "Typo in the screenshot in the note section"
There is a typo in the screenshot that should have read "Configure your backup" instead of "configure you backup". I understand this might need to be resolved somewhere else but i thought of bringing this to your attention

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Ind

[2019-09-20 23:58] softwarecraft commented on #39278
On the page in question, the section for Contributor https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor only makes mention of denying Create / Delete of role and role assignment:

However these NotActions also implicitly deny Contributor these actions

- Microsoft.Authorization/policyAssignments/Create
- Microsoft.Authorization/policyAssignments/Delete
- Mi

[2019-09-21 00:38] cijothomas commented on #38861
Please close. I updated the doc to suggest using Telemetryinitializer.  #please-close

[2019-09-21 00:38] #38861 closed

[2019-09-21 00:39] cijothomas commented on #38885
Added this https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#sampling-in-azure-functions

#please-close

[2019-09-21 00:39] #38885 closed

[2019-09-21 00:46] mikebudzynski commented on #39015
API Management in internal VNET doesn't have the built-in traffic manager in multi-region configuration and you need to use your own traffic management solutions. The built-in traffic manager is provided with API Management in external VNET as well as outside VNET.

[2019-09-21 01:23] cawrites commented on #37987
@chrisc-ws we appreciate you contacting us and we have provided the information as requested. Please don't hesisate to contact us again.

[2019-09-21 01:24] cawrites commented on #37987
#please-close

[2019-09-21 01:24] #37987 closed

[2019-09-21 01:34] ecfan commented on #39165
@fiksen99 and @DixitArora-MSFT, I've created a work item to address this feedback. Thanks!

[2019-09-21 02:39] pichandwork commented on #37163
@LarsKemmann Currently, there is no support to enable HTTPS through ARM templates.
Please use REST API enablehttps on frontend endpoint for the same
https://docs.microsoft.com/en-us/rest/api/frontdoorservice/frontdoor/frontendendpoints/enablehttps

[2019-09-21 02:42] raghavan20 commented on #39271
I am not sure this is the right place to ask how to achieve certain function with Stream Analytics Job.

The page I was looking at was https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-outputs#blob-storage-and-azure-data-lake-gen2

[2019-09-21 02:49] KrishnaG-MSFT commented on #39296
@omerzubair Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-21 02:51] KrishnaG-MSFT commented on #39297
@jcuello Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-21 02:52] KrishnaG-MSFT commented on #39303
@minimonsters Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-21 02:54] KrishnaG-MSFT commented on #39279
@Robbiem06 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-21 04:56] tu-trankilo opened #39306 "R"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79391404-d88b-d100-5765-1de9d4171576
* Version Independent ID: 2b1c797c-421d-235a-a96d-e1f0b798076c
* Content: [Upgrade Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-upgrade)
* Content Source: [articles/iot-hub/iot-hub-upgrade.

[2019-09-21 04:59] Murthy582 opened #39307 "401 Authentication Failed"
We have generated the token as suggested in this [link](https://docs.microsoft.com/en-us/azure/billing/billing-enterprise-api#enabling-data-access-to-the-api).

When trying to invoke following GET API call using that token, it's returning 401.

https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts/{myEnrollmentNo}/providers/Microsoft.Consumption/billingPeriods/201906?api-vers

[2019-09-21 05:06] PramodValavala-MSFT commented on #39286
@sonnycloudtp Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:07] PramodValavala-MSFT commented on #39287
@ianc911 Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:07] PramodValavala-MSFT commented on #39289
@benhxy Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:08] PramodValavala-MSFT commented on #39294
@kumarallamraju Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:10] PramodValavala-MSFT commented on #39301
@IgorPietraszko Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:12] PramodValavala-MSFT commented on #39305
@eyast Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:14] aspnet4you commented on #38914
You can add a step in the build definition to whitelist the agent IP address, then remove it from the whitelist at the end of the build. This is not a solution but a workaround until Azure product team adds Azure DevOps as a trusted service. Thanks to @[Daniel Mann](https://stackoverflow.com/questions/57891761/how-can-i-deploy-content-to-a-static-website-in-azure-storage-that-has-ip-restri) for pr

[2019-09-21 05:14] PramodValavala-MSFT commented on #39306
@tu-trankilo Could you please elaborate on your query?

[2019-09-21 05:16] PramodValavala-MSFT commented on #39307
@Murthy582 Thanks for the feedback! We will review and update accordingly.

[2019-09-21 05:29] PramodValavala-MSFT commented on #39271
@raghavan20 This repo is essentially for working with doc feedback but we are glad to help out with your other queries as well.

You could also direct your queries to [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-stream-analytics) which would have better reach and you could get help from ot

[2019-09-21 06:22] SharmaAnshuman commented on #33417
@AjayKumar-MSFT  `WEBSITE_TIME_ZONE` = 'Asia/Kolkata' not working for linux app service

[2019-09-21 06:40] msrini-MSFT commented on #39232
@alvipeo , Does it worked for you? Do you have any update on this issue?

[2019-09-21 07:24] alvipeo commented on #39232
My App Gateway is at degraded state. Let me fix it and I'll try again.

[2019-09-21 07:51] GuyHarwood commented on #12978
Function.json allows you to have filter and take attributes on input bindings for querying table storage rows.  This is not documented anywhere

[2019-09-21 09:13] eyast opened #39308 "Number of Core sets in documentation doesnt match product"
Hi - the documentation states that two core sets are supported by WAF, but WAF now supports 3 (they added support for OWASP 3.1 as well)
Thanks, Eyas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d1f0bd-9465-c7d8-1006-32e050a2419d
* Version Independent ID: 0d3bd3f8-6759-02ea-4a30-fc7b40f2c30e
* Content: [Introductio

[2019-09-21 10:32] craigshoemaker commented on #12978
@jwargo - I updated the article to include a replacement token in sample code to make the intent more clear. I hope this helps.

I am leaving this issue open in order to address @camiloramirezf and @GuyHarwood's questions. On both accounts I have contacted the Engineering team for details to use in the article.

[2019-09-21 10:53] maviso5 commented on #38447
@mmacy - Thanks for your efforts in updating and fixing this. I'll take a fresh copy of the code sample etc. and retry :)

[2019-09-21 11:10] tiesmaster commented on #37418
@tamram Your welcome, and thnx for fixing it ;)

[2019-09-21 12:09] JimacoMS3 commented on #39210
@MicahMcKittrick-MSFT I'm no longer with Service Fabric. Please re-assign to someone on that team.

#reassign @MicahMcKittrick-MSFT

[2019-09-21 13:27] kubikb commented on #39227
Thanks for your investigation, @msdotnetclr ! I had the feeling that the stored procedure is in fact invoked per batch and warnings related to row-by-row execution us just outdated information.

I submitted the following PR to remove the old warnings: https://github.com/MicrosoftDocs/azure-docs/pull/39309

[2019-09-21 14:05] vikramdadwal opened #39310 "Upload the json files in release task to app configuration"
We are keeping the app configuration json file in our git repo for each environment. We want the release pipeline to upload those files to update the configuration in Azure app configuration.

How can we achieve the same?

This is very important for us as making updates from app configuration directly from portal leads to mistakes from devs and we also wants to maintain the tracking of changes in

[2019-09-21 15:16] diberry commented on #39275
@xtianus79 - this article isn't dealing with how to label spelling mistakes. This article is about how to correct spelling mistakes before they are sent to LUIS. Perhaps you want to know how to label when you aren't using spell check or when a word isn't in the spell check dictionary?

[2019-09-21 15:58] DixitArora-MSFT commented on #39078
@priyakantpatel Just following up again in case missed the previous communication.

[2019-09-21 16:38] BeyMelamed opened #39311 "Feedback"
Utter confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac9e8541-82eb-c4c5-5ed1-ff135a27e5ea
* Version Independent ID: 651b56dd-d7cb-1c25-2e4d-52bc6a513d78
* Content: [Azure MFA sign-in with two-step verification - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-fa

[2019-09-21 16:43] IdiotLeon commented on #13090
![image](https://user-images.githubusercontent.com/12004270/65376401-366d3100-dc54-11e9-8c94-e3f1097ecdb5.png)
Where can I specify unique key nowadays?

[2019-09-21 16:56] mgaufman opened #39312 "More clarity wrt to not charging for VNet peering for traffic passing through a remote gateway"
For the https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview#pricing section:
1. It makes sense to explicitly call out that traffic passing through VNet peering and then remote gateway is not charged for VNet peering only if flows directly to the gateway, not through an NVA (in the hub VNet) before reaching the gateway.
2. Would be good to mention in the example

[2019-09-21 16:57] Karishma-Tiwari-MSFT commented on #39308
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-21 16:59] Karishma-Tiwari-MSFT commented on #39310
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-21 17:01] Karishma-Tiwari-MSFT commented on #39311
Thanks for the feedback. Can you please elaborate so that we can assist you better.

[2019-09-21 17:01] Karishma-Tiwari-MSFT commented on #39312
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-21 18:01] fmms commented on #6226
@reubster :
I am just building the TMSL as part of DevOps pipeline dynamically and injecting there the authentication information from secure variables.

@hakoneriksson
instead of trying to install parts of SSMS on the build agents I am using Tabular Editor. That is a nice 2MB concise download that i do during the build. See https://github.com/otykier/TabularEditor.
The author spoke at SQLbits abo

[2019-09-21 20:23] unshavenspyder opened #39313 "Updates on Managed Identity Usage?"
Is there any update on adding additional use cases for granting access to other Azure resources using the API Management Service Managed Identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e6fa6cc-8307-4391-7cd9-2b6d5ccd9b7b
* Version Independent ID: c78c84c8-99e6-9746-f3f2-f1f5098582a3
* Content: [Use managed id

[2019-09-21 20:29] AicyDC commented on #39135
I'm using PowerShell 6.2.2, on a Mac OS version 10.12.6 computer.

The vault variable is defined as follows:

$RecoveryVaultName = "Tommy-RecoveryServicesVault"

I am able to use this with the  Get-AzRecoveryServicesVault cmdlet, it is just when I pipe it into the Set-AzRecoveryServicesBackupProperty cmdlet as per the article that I get the error message.

Leaving out the piped command I successfu

[2019-09-21 20:35] femsulu commented on #39030
@Mfawzi010 hope this clarifies things. let us know if you have any followup questions. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-21 20:35] #39030 closed

[2019-09-21 21:36] sasanmcp commented on #39073
It definitely does. Examples are the thing that complements references. Here I just want to make sure reference is complete. I want to make sure there is no other directive mentioned in the Custom Extension arm schema that is missing in these reference/examples available through this page.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, September 20, 2019 10:47 AM
To: Micros

[2019-09-21 22:33] ryanwa opened #39314 "https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/quickstart-v2-python-webapp.md does not point the correct Python sample"
I am attempting to follow the process laid out in the document here:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/quickstart-v2-python-webapp.md

However, when I get to downloading the sample project .zip file, there is no source.

We believe this to be because the master branch does not have the source code in it, however, the link is archive of the m

[2019-09-21 22:44] ryanwa opened #39315 "Please use a requirements.txt file or a Pipfile for your required libraries"
I should not have to manually pip install anything. Please update your example project to use a requirements file or Pipfile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca3aefd-ffd9-db88-db5d-b6b3d60134cf
* Version Independent ID: cc4a730a-70b2-0fa7-e4fd-3490ccf1e8c9
* Content: [Microsoft identity platform Python

[2019-09-21 23:22] MarileeTurscak-MSFT commented on #39154
Hi @celsoglima ,

I have reached out to someone on the product team for this answer as I am not sure how the back end side of this works.

Please send me an email at AzCommunity@microsoft.com so I can loop you into the discussion.

I'm closing this thread out as this is more of a product question than a document issue, but I'll update the thread as soon as we have the answer.

[2019-09-21 23:22] #39154 closed

[2019-09-21 23:36] MarileeTurscak-MSFT commented on #39211
Thanks @LuisEmilioR

I've assigned this to the content author to look into.

[2019-09-21 23:51] MarileeTurscak-MSFT commented on #39221
Yep, the code is definitely missing.

@abhidnya13 could you look into this?

[2019-09-22 00:12] MarileeTurscak-MSFT commented on #39242
Hi @dcbrown16

As you mentioned, the standard tier includes Just in time VM Access, adaptive application controls, and network threat detection, which the free tier does not include. I don't believe there is any other difference.

Here is the comparison chart.
![image](https://user-images.githubusercontent.com/13383753/65380530-12304500-dc92-11e9-950b-d37d701f5d84.png)

Was there something more sp

[2019-09-22 01:31] aakash-shah opened #39317 "Does This Work Or Apply To Password Resets?"
This page references a user _changing_ their password.  However, if the users password is _reset_, does password protection still apply?  It would also be helpful to clarify this information on this page so it's clear.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53684ada-fb90-0497-30d2-8c8c5d3a39ec
* Versio

[2019-09-22 02:18] polywld7 opened #39318 "What did i do? Im only trying to help!"
#[What did I do?](https://google.com) @polywld7
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure resources](https://docs.microsoft.com/en-us/azure/role-based-acces

[2019-09-22 03:30] AmoebaCell opened #39319 ""Expected network performance (Mbps)" is not included in B-series burstable"
**Related Service:**
Azure Virtual Machine / Virtual Network

**One of the issue exists link:**
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#b-series

**Detailed Information:**
According to document: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-machine-network-throughput#expected-network-throughput, the last column of the table should contain foll

[2019-09-22 04:48] csjh60627 opened #39320 "infromation about RLS in video needs to be updated"
in the video the PM said RLS is on the roadmap, but today it's available. I believe the video is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d200cb5d-8f70-87c5-2437-c54701f7681f
* Version Independent ID: df184959-2b22-4796-c0b1-0a8ad91be35a
* Content: [Azure SQL Data Warehouse column-level security](htt

[2019-09-22 04:53] KrishnaG-MSFT commented on #39080
Assigning @TomArcherMsft for visibility, review and document enhancement consideration w.r.t above query _#2 i.e., related to updating httpPlatform processPath of web.config section (if required) and to provide insights or clarification on above query _#1.

[2019-09-22 05:09] mrvamsidhar opened #39321 "Not clear information on "ResourceGroupValueCollection""
Hello, I am trying to update my blueprint assignment to exclude locking for certain Service Principal. I keep getting below error. I am passing object to resource Groups in the below format.
resourceGroups: {
"PLaceHolderNameAtTheTimeofCreatingArtifact(RGToLock)": {
   Name: "ActualResourceGroupName"
   Location: "location"
}
}

Is the above syntax is correct?

Here is the WIKI I am following: htt

[2019-09-22 05:16] PramodValavala-MSFT commented on #39314
@ryanwa Thanks for the feedback! We will review and update accordingly.

[2019-09-22 05:17] PramodValavala-MSFT commented on #39315
@ryanwa Thanks for the feedback! We will review and update accordingly.

[2019-09-22 05:21] PramodValavala-MSFT commented on #39317
@aakash-shah Thanks for the question! We will review and get back to you!

[2019-09-22 05:25] PramodValavala-MSFT commented on #39318
@polywld7 Could you please elaborate your query? Note that this repo is for driving doc feedback.

If you have a product related question, feel free to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD&filter=alltypes&sort=lastpostdesc) or [StackOverflow](https://stackoverflow.com/tags/azure-rbac) for wider community reach.

[2019-09-22 05:28] PramodValavala-MSFT commented on #39319
@AmoebaCell Thanks for the question! We will review and get back to you!

[2019-09-22 05:30] PramodValavala-MSFT commented on #39320
@csjh60627 Thanks for the feedback! We will review and update accordingly.

[2019-09-22 05:32] PramodValavala-MSFT commented on #39321
@mrvamsidhar Thanks for the question! We will review and get back to you!

[2019-09-22 05:34] PramodValavala-MSFT commented on #39313
@unshavenspyder The service itself uses Managed Identity for accessing certificates from KeyVault. But there is an [`authentication-managed-identity`](https://docs.microsoft.com/en-us/azure/api-management/api-management-authentication-policies#ManagedIdentity) policy that you can use to fetch a token and use in your policies.

[2019-09-22 05:57] ChiragMishra-MSFT commented on #39013
@test123114 I will now proceed to close this issue. However, please feel free to comment and tag me if you have any questions.

[2019-09-22 05:57] #39013 closed

[2019-09-22 07:06] clement911 commented on #28720
Related feature: https://feedback.azure.com/forums/217321-sql-database/suggestions/34337935-monitor-queries-on-secondary-database-when-read-sc

[2019-09-22 07:08] whentotrade opened #39322 "Exposing Docker socket to a container via volumne"
Is it possible to access the docker socket from a container with a volume setting like ${WEBAPP_STORAGE_HOME}/var/run/docker.sock:/var/run/docker.sock:ro ? E.g. container like reverse proxies as Traefik require something like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c99-9834-076ec646d0e6
* Ve

[2019-09-22 07:18] Karishma-Tiwari-MSFT commented on #39322
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-22 08:45] whentotrade commented on #39322
Thanks. Just for context.

1) this is the docker compose loaded into the container settings:
[code]

However, the container start, the traefik container is not able to access the docker.sock. This configuration works on my local test environment without any problem.

[2019-09-22 08:47] ToMakeSense opened #39323 "The schema of "Initialize variable" action's inputs section confused me"
As the **variables** under **inputs**  is array, It looks as if it's possible to create multiple variables at the same time in "Initialize_variable" action, however, it's impossible.

[code]
![image](https://user-images.githubusercontent.com/6244148/65384602-acf25780-dd56-11e9-92a1-0b11c601ce9d.png)

So, the schema of "Initialize variable" action's inputs section is confused, if it's imposible to

[2019-09-22 09:04] djaus2 opened #39324 "ssh requires local account"
The "Run the SSH Client" section says to action the following:
ssh &lt;username&gt;@localhost -p 2222
That means you need a local account not an MSA account if running on Windows.
Maybe there is an alternative command for using an MSA account locally with ssh client?? If so can we have in that section.  If not the local account requirement needs to explicitly stated and a link to how  add a local

[2019-09-22 09:52] KrishnaG-MSFT commented on #39171
@mayurpuli Get-AzMetric cmdlet pulls the information on the fly from backend workspace repository. To fetch metric data using Get-AzMetric cmdlet, it's not mandatory to go to 'Diagnostic settings' tile under your resource in Azure portal and add the diagnostic setting by clicking on '+Add diagnostic setting' and sending the metric data to either Log Analytics workspace / Storage account / Event Hu

[2019-09-22 09:52] #39171 closed

[2019-09-22 10:41] KrishnaG-MSFT commented on #39297
Assigning @johnkemnetz for visibility, review and document enhancement considerations.

[2019-09-22 10:44] KrishnaG-MSFT commented on #39303
Assigning @anirudhcavale for visibility, review and document enhancement considerations.

[2019-09-22 10:52] ManojReddy-MSFT commented on #39317
@aakash-shah It works for password reset as well. It is documented in the [FAQ ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-faq#general-questions)section for this feature.

In this document, we only mention that DC which receives the password change request should have the DC agent installed. The request can be a password reset by admi

[2019-09-22 12:05] kishoreachint commented on #29314
Hello I got the same issue. I re-install the azure cli by using az aks install-cli. After that added the same in environmental variable. Make sure that you add the C:\Users\<user>\.azure-kubectl" to your search path.

For current session, run  Run "set PATH=%PATH%;C:\Users\achin\.azure-kubectl" or "$env:path += 'C:\Users\achin\.azure-kubectl'" for PowerShell.

For future, Update system PATH enviro

[2019-09-22 12:13] nickstaggs commented on #37532
This isn't a production issue or anything but over a month with no response is a bit discouraging @mike-urnun-msft @axisc

[2019-09-22 12:47] bennya1 opened #39325 "ETA for GA?"
Hi, may you please share ETA\roadmap for when customers can use it in their production?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Servic

[2019-09-22 12:59] KrishnaG-MSFT commented on #39296
@omerzubair Once the user is removed from Azure AD, the PATs and FedAuth tokens are invalidated within an hour, since the refresh token is valid only for one hour. So I believe ideally sync stops after that period of time. And same should apply to Portal way of access as well.

Regarding connecting source control with Azure Ad App creds, I don't think it's currently supported. If interested, you m

[2019-09-22 13:00] KrishnaG-MSFT commented on #39004
@omerzubair Once the user is removed from Azure AD, the PATs and FedAuth tokens are invalidated within an hour, since the refresh token is valid only for one hour. So I believe ideally sync stops after that period of time.

[2019-09-22 13:09] mrvamsidhar opened #39326 "How to apply Deny Assignments to Existing Resource Groups?"
Deny Assignments Really Helps to restricts users(even user having owner access) from Deleting resources.

I see we can set to deny Assignment to New Resource Group. How can we apply deny assignments to existing resource groups? Can we create an Append policy? Can you point to any reference document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-09-22 13:15] ebrucucen commented on #38053
I had the same error message (even if with the exact command @KalyanChanumolu-MSFT has put). My `az --version` was 2.0.60, upgrading to the latest (2.0.72) solved the issue.

[2019-09-22 13:35] aakash-shah commented on #39317
@PramodValavala-MSFT , @ManojReddy-MSFT Much appreciated and thanks for the prompt reply!  I definitely see this on the FAQ you linked to.  May I suggest either mentioning this directly on this page, or perhaps referencing users to the FAQ if they look up password resets?  When I looked up "reset" on the page I didn't see any references, which is what prompted my question.

Thanks!

[2019-09-22 13:57] AjayKumar-MSFT commented on #33417
@SharmaAnshuman,
You could try with this app setting:
![image](https://user-images.githubusercontent.com/44606227/65389006-e040e080-dd6e-11e9-86f7-dff031ff3f8a.png)

After setting that, this is the outcome:
![image](https://user-images.githubusercontent.com/44606227/65388978-9657fa80-dd6e-11e9-88b5-69f93c10ceff.png)

[2019-09-22 13:59] msrini-MSFT commented on #39308
@eyast , Thank you for your feedback. This documentation will be revamped with the new update by the end of this month.

Reference: https://github.com/MicrosoftDocs/azure-docs/issues/38279

@vhorne , Can you get update this documentation ?

[2019-09-22 14:00] #39308 closed

[2019-09-22 14:12] rajapratapk opened #39327 "name thumbnail_urls is not defined"
I'm getting an error as stated in the subject. thumbnail_urls is defined no where, is it from PIL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 300f1139-9fe4-5969-f8ab-cc9415941008
* Version Independent ID: b5e79872-0386-8684-c680-19a380c8d433
* Content: [Quickstart: Search for images - Bing Image Search REST API and

[2019-09-22 14:24] SharmaAnshuman commented on #33417
@AjayKumar-MSFT  Thank you, it worked.

[2019-09-22 14:30] KranthiPakala-MSFT commented on #39207
@GSolapure Thanks again for sharing your insights. We will pass the info to content author.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-09-22 14:30] #39207 closed

[2019-09-22 14:34] KranthiPakala-MSFT commented on #39235
@furia10 We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-09-22 14:34] #39235 closed

[2019-09-22 14:36] SharmaAnshuman commented on #33417
@AjayKumar-MSFT  it is not working on consumption plan

[2019-09-22 14:58] DixitArora-MSFT commented on #39078
@priyakantpatel Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-22 14:58] #39078 closed

[2019-09-22 15:31] softwarecraft opened #39328 "Slack company / workspace name inconsistent"
This page refers to the Slack company / workspace by three different names:
* "&lt;companyname&gt;"
* "your Slack company"
* "Microsoft Azure AD"

Please use a consistent name, or make it clear when you switch to a sample / example name.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919ac673-c2e9-6768-1071-7607c5c6a5c

[2019-09-22 16:04] Karishma-Tiwari-MSFT commented on #39323
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-22 16:04] DCtheGeek commented on #39321
#reassign:DCtheGeek

[2019-09-22 16:04] DCtheGeek commented on #39321
@mrvamsidhar Thanks for the question!  It looks like your JSON might be malformatted.  The **resourceGroups** property must be in quotes and both the property names, **name** and **location**, inside the segment for your specific resource group (RGtoLock in your example), must also be in quotes.  There should also be a comma after the value for **name**.  Without it, it won't see both of those pro

[2019-09-22 16:05] MicahMcKittrick-MSFT commented on #39325
@bennya1 apologies but we do not have any ETA that we are able to share at this time. However as we move closer to GA the docs will be updated to reflect that.

[2019-09-22 16:05] #39325 closed

[2019-09-22 16:06] Karishma-Tiwari-MSFT commented on #39324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-22 16:07] Karishma-Tiwari-MSFT commented on #39326
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-22 16:08] Karishma-Tiwari-MSFT commented on #39327
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-22 16:16] DCtheGeek commented on #39326
The Deny assignments article is here: https://docs.microsoft.com/azure/role-based-access-control/deny-assignments.

Azure Blueprints and Azure managed apps can create deny assignments as part of their workflow and options. There's a tutorial, [Protect new resources with Blueprints resource locks](https://docs.microsoft.com/azure/governance/blueprints/tutorials/protect-new-resources) for using Deny

[2019-09-22 16:23] Karishma-Tiwari-MSFT commented on #39328
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-22 16:38] marcpascual opened #39329 "terraform destroy/apply fails"
TerraForm users are impacted with this change. On-demand re-spins fail. And unlike KeyVault where soft delete is optional, there is currently no setting to turn it off. Do you have plans to have a switch for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee926e55-244a-b28c-1daa-ba56402d7149
* Version Inde

[2019-09-22 17:57] D-Jeffrey commented on #36085
When will this move from Preview to Released?

[2019-09-22 18:21] mitchellalm opened #39330 "Link azure container to an existing VPN that connect to on-premise"
We have a huge roadblock of using Azure containers on ACI because we couldn't connect them back on on-premise from an existing VPN.
When following the [documentation here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#preview-limitations), we try to create the new container to an existing VPN that connect to on-promise, it never works. Here are our command.

P

[2019-09-22 18:21] KrishnaG-MSFT commented on #39329
@marcpascual Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-22 19:18] toddysm opened #39331 "Adding group as Owner doesn't work"
When I check my permissions for a subscription I see the following:

[code]

However, when I sign in with my user, I don't have the rights to change the subscription name. Adding my user directly as Owner works.

This kind of complicates security management because we need to explicitly add individuals as owners for redundancy purposes instead of using a group and removing their access by simply r

[2019-09-22 19:42] diberry commented on #39055
@ShivaKumarChittamuru Please review this text, does it make sense:

## Ignore spelling mistakes
If you don't want to use the Bing Spell Check API v7 service, you need to add the correct and incorrect spelling.

Two solutions are:

* Label example utterances that have the all the different spellings so that LUIS can learn proper spelling as well as typos. This option requires more labeling effort t

[2019-09-22 20:16] DeanGross opened #39332 "Mobile Device/App Management Best Practices"
Please provide a link to best practices for Mobile device and application management (i.e., Intune)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* Content: [Security best practices and patterns - Microsoft Azure](https

[2019-09-22 20:18] DeanGross opened #39333 "Duplicates"
the boundary security best practices and network security best practice links point to the same resource, please remove one of them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* Content: [Security best practices and p

[2019-09-22 21:09] jg11jg commented on #7990
![Uploading image.png…]()

[2019-09-22 21:13] jg11jg commented on #7990
Not sure how you got that view above showing version number and uninstall but this is what I have ...

![image](https://user-images.githubusercontent.com/21290414/65394434-fc03b100-dd85-11e9-9cc5-e9d87966960a.png)

[2019-09-22 21:27] omerzubair commented on #39296
Hi @bobbytreed & @KrishnaG-MSFT ,

So if Managed Identity/Service principle is not avail to be assigned to a DevOps Repository (as Reader) then only method left is to use old method of :

1. Creating a service account on-prem
2. Assigning the service account as a reader access to DevOps project
3. Login browser as a service account
4. Generating Personal Access Token (PAT) for the service account.

[2019-09-22 21:30] omerzubair commented on #39004
Hi @KrishnaG-MSFT,
So we should setup the sync as on-prem service account?
Bit similar to our other discussion :

https://github.com/MicrosoftDocs/azure-docs/issues/39296

[2019-09-22 21:43] omerzubair commented on #39296
Hi Guys,
added the suggestion as well.
https://feedback.azure.com/forums/246290-automation/suggestions/38653999-setup-devops-sourcecontrol-sync-as-a-azureadapp-se

[2019-09-22 22:08] MartinJindrisek opened #39334 "windows 10 pro workstation update"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 459c24c5-2d50-f119-5a74-4519bfd55fe4
* Version Independent ID: d085cee9-cd2a-f503-38af-9fdadfa9fdb1
* Content: [About Network Monitoring in Azure Monitor logs](https://docs.microsoft.com/en-us/azure/networking/network-monitoring-overview#expressroute-

[2019-09-22 22:34] KrishnaG-MSFT commented on #39331
@toddysm Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-22 23:01] #39151 closed

[2019-09-22 23:03] NavtejSaini-MSFT commented on #39149
@mco100 If there is no answer at this time, we are going ahead and closing this thread. if you have any question, please get back to us and we will continue the dialogue.

[2019-09-22 23:03] #39149 closed

[2019-09-22 23:42] pavlalexandr commented on #12356
The problem here that you give reference to Azure Data Factory V1, but we talking about Azure Data Factory V2 (where copy data tool wizard doesn't exist at all). I do not see "Export as-is to JSON files or Cosmos DB collection" option for any providers in version 2, so as a result, I can't save raw JSON documents to Cosmos DB collection, it just not copy inner arrays for me. If there shouldn't be

[2019-09-23 00:23] MarileeTurscak-MSFT commented on #39333
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 00:25] NavtejSaini-MSFT commented on #39199
@A-A-Khawaja We are going ahead and close this thread. Please get back to us if you have any questions and we will continue the discussion.

[2019-09-23 00:25] #39199 closed

[2019-09-23 00:31] MarileeTurscak-MSFT commented on #39333
I believe it is because the lower section of that article talks about boundary best practices, under the "Adopt a Zero Trust Approach" section.

I made a pull request to link to that section. https://github.com/MicrosoftDocs/azure-docs-pr/pull/89371

+ @TerryLanfear in case there is additional documentation that can be linked here.

[2019-09-23 02:00] omnimose opened #39335 "error in Create domain controllers section"
After you've created the network, subnets, availability sets, and an Internet-facing load balancer, you're ready to create the virtual machines for the domain controllers.

There is no step to create "Internet-facing load balancer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Ve

[2019-09-23 02:13] MicahMcKittrick-MSFT commented on #39335
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 02:14] MicahMcKittrick-MSFT commented on #39330
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 02:52] kfprugger opened #39336 "Fresh install iotedge on Raspbian stretch has issues with dependencies"
Installer fails after multiple clearn installs of Rasbian.

![image](https://user-images.githubusercontent.com/20729981/65399541-4e939c00-dd8b-11e9-9976-6a0d6e6deadc.png)
## Journalctl

![image](https://user-images.githubusercontent.com/20729981/65399606-a9c58e80-dd8b-11e9-85c2-30b6445ae5ef.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-23 02:53] mrvamsidhar commented on #39321
@DCtheGeek , Thanks for your reply. My JSON is exactly like what you mentioned. Here is my JSON object for your reference.
`{
  "identity": {
    "type": "systemAssigned",
    "principalId": "XXXXXXXXXXXXXXXXXXX",
    "tenantId": "XXXXXXXXXXXXXXXXXXXX"
  },
  "location": "westus2",
  "properties": {
    "blueprintId": "/subscriptions/XXXXXXX/providers/Microsoft.Blueprint/blueprints/locked-storagea

[2019-09-23 03:04] DixitArora-MSFT commented on #39264
Hi @AbhishekTripathi This channel is for driving improvements towards MS Docs, for any product related question/issue, I would recommend you to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.
Once you post your issue on Azure Functions Repo, it will have visibility across the Azure Function Product Group which is

[2019-09-23 03:07] bexxx commented on #38941
This issue only affected responses from our service when you query webhook definitions e.g. with a
GET /api/speechtotext/v3.0-beta1/transcriptions/hooks or in the response for the POST /api/speechtotext/v3.0-beta1/transcriptions/hooks.

We have a fix ready which will be deployed to PROD regions within a week. There is no change needed from your side. Existing webhooks will continue to work.

[2019-09-23 03:23] davidc555 commented on #38862
Hi folks.  Just letting you know that I am having this issue.  I raised a ticket with Support, who advised that the connector is not yet supported in the Service....only on Desktop currently.  I really hope you can resolve this so I can get my reports to refresh automatically in the Service.

[2019-09-23 03:53] SnehaAgrawal-MSFT commented on #39122
@test123114 As mentioned in the above blog Azure Resource Manager resource type called sites/publicCertificates under the Microsoft.Web resource provider. You may refer to below screen shot.
![image](https://user-images.githubusercontent.com/46553948/65401120-af4ec300-dde3-11e9-9a08-06376ee935d1.png)

[2019-09-23 04:00] Karishma-Tiwari-MSFT commented on #39332
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-23 04:01] Karishma-Tiwari-MSFT commented on #39334
Can you please elaborate on your feedback so that we can assist better.

[2019-09-23 04:03] Karishma-Tiwari-MSFT commented on #39336
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 04:07] kgreed opened #39338 "Please add Directory"
And explain whether it is the same thing as Tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7fd20156666
* Content: [Azure glossary - Azure dictionary](https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology#fe

[2019-09-23 04:12] bexxx commented on #38941
Sorry, I got distracted looking at the ping and test URLs.

I verified that we are using the parameters when doing the POST request against your service. If you are still seeing the issue from your side, please contact speech services support at speechsupport@microsoft.com and provide them your subscription details.