[2020-04-13 23:59] CameronDevine commented on #51939
@DarrinEide

Thank you for fixing this, robustly searching for papers is now much easier.

[2020-04-13 23:59] #51939 closed

[2020-04-13 23:59] Karishma-Tiwari-MSFT commented on #50444
Which Azure CLI version are you using?

[2020-04-14 00:15] SeaDude opened #52327 "LiveStream for PowerApps?"
Hello,
I've been using AppInsights to monitor some PowerApps; just add the correct Instrumentation Key.
How do I enable LiveStream functionality in PowerApps?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df9-dd05-859001f24eba
* C

[2020-04-14 00:20] Karishma-Tiwari-MSFT commented on #52115
@ChristianMontoya Can you please confirm on this and I can make an update.
@JimMoyle mentioned that it is supported as an endpoint, but not as a host, this particular article is regarding hosts.

[2020-04-14 00:22] v-hakob opened #52328 "Boot diagnostics to set the storage in different region."
There is PowerShell cmdlet "Set-AzVMBootDiagnostic" to modifies boot diagnostics properties of a virtual machine. It allowed users to change the storage in different region, but the logs are not stored in the storage set.
According to Satyaki Chowdhury, it is a know issue. It is not recommended to have it that way because there will be issues when doing start, redeploy, delete etc. operations on t

[2020-04-14 00:22] Karishma-Tiwari-MSFT commented on #52153
@ChristianMontoya Can you please share your insights on this? Thanks :)

[2020-04-14 00:26] BharathNimmala-MSFT commented on #52320
@Roblarson Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-14 00:33] kecoli opened #52329 "target data object is not defined"
replace "dset" with "target" or vice versa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593eef63-77bf-caa5-34ac-a82940997373
* Version Independent ID: 845716a1-733e-fe82-8ecf-344858d2f206
* Content: [Analyze and monitor for data drift on datasets (preview) - Azure Machine Learning](https://docs.microsoft.com/en-us/az

[2020-04-14 00:35] kecoli opened #52330 ""target" dataset is not defined"
need to replace with "dset" or vice versa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593eef63-77bf-caa5-34ac-a82940997373
* Version Independent ID: 845716a1-733e-fe82-8ecf-344858d2f206
* Content: [Analyze and monitor for data drift on datasets (preview) - Azure Machine Learning](https://docs.microsoft.com/en-us/azu

[2020-04-14 00:38] Karishma-Tiwari-MSFT commented on #52100
I think your issue is because the service is disabled temporarily.

[2020-04-14 00:39] Karishma-Tiwari-MSFT commented on #52106
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-14 00:52] #51918 closed

[2020-04-14 01:02] Karishma-Tiwari-MSFT commented on #52158
@ChristianMontoya Can you please confirm if there are any limitations on number of users/session host per pool? Thanks.

[2020-04-14 01:12] BharathNimmala-MSFT commented on #52286
@olileger Thank you for your query, i am assigning this issue to our document author @cynthn to further help on this.

[2020-04-14 01:13] Grace-MacJones-MSFT commented on #52325
Hi @JasonWeiand-MSFT, thanks for bringing this our attention! We will evaluate and update the docs shortly. Can you share the steps you took so we can repo this? is there a message that pops up in the portal suggesting  why users can't see their storage account?

[2020-04-14 01:15] ryoma-nagata commented on #52076
Unable to connect to the IP listed in the document as follows.

![image](https://user-images.githubusercontent.com/41713997/79175488-d41a8e80-7e38-11ea-92a3-f018877f8dc1.png)

[2020-04-14 01:15] medavamshi opened #52331 "How can we leverage azure firewall in a hub/spoke design?"
Azure firewall has a requirement of /26 and Azure Zone redundant expressroute gateways has a requirement of /27 for gateway subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Content: [Tutorial: Deploy & configure

[2020-04-14 01:18] PeterCLu commented on #51328
@h164654156465 , unfortunately this isn't supported. From a member of the team:
"
 FPGA on Azure only support those accelerated models included in SDK, i.e. ResNet50, ResNet152, etc, see documentation here. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-fpga-web-service

It does not support models exported from Azure Custom Vision today
"
You're more than welcome to open a f

[2020-04-14 01:18] #51328 closed

[2020-04-14 01:18] dl8on commented on #52015
@BharathNimmala-MSFT The two links you provided don't seem to line up with what I was perceiving this article to state is possible. In multiple places in this article, it states one can "Consolidate log entries from multiple Azure subscriptions and tenants into one location for analysis together" and "Collect Activity log across multiple subscriptions and tenants." It makes no mention of having to

[2020-04-14 01:24] PeterCLu commented on #52330
@kecoli, thanks for your report.

Can you help me understand your issue? The code snippets are examples, and they are not intended to be runnable as is. Readers are meant to replace the dset variable with their own dataset.

[2020-04-14 01:26] VikasPullagura-MSFT commented on #51860
@macolso Thanks for providing the details.

@YanDavKMS We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-14 01:26] #51860 closed

[2020-04-14 01:32] VikasPullagura-MSFT commented on #52328
@v-hakob Thanks for providing the details through Feedback.

I have assigned the issue to content author to update the article with a note.

[2020-04-14 01:32] VikasPullagura-MSFT commented on #52328
@Deland-Han
Can you please check and add your comments on this doc update request as applicable.

[2020-04-14 01:32] BharathNimmala-MSFT commented on #52015
@dl8on Appreciate your feedback and apologies that it didn't answer your query fully. I am looping in  our document author @bwren to further evaluate the document feedback and share any further insights they might have. I will also follow with our internal teams on your specific query on collecting logs across tenants without use of Azure Lighthouse and update you accordingly.

[2020-04-14 01:34] PeterCLu commented on #52250
Moved discussion offline.  #please-close

[2020-04-14 01:34] #52250 closed

[2020-04-14 01:41] WenJason commented on #52270
@ajlam Sounds great. Thanks a lot.

[2020-04-14 01:41] #52270 closed

[2020-04-14 01:46] dl8on commented on #52015
Thank you @BharathNimmala-MSFT!

[2020-04-14 01:51] JustinBacaAIS opened #52333 "DoD Root CAs"
Are DoD Root CAs going to be made available for Azure Government under the Standard Microsoft or what is the roadmap to have a Verizon or equivalent CDN in place to allow DoD Root CA signed certificates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef62d00-9423-f984-0fc8-5cfba03daaed
* Version Independent ID: c11dd0

[2020-04-14 01:53] JimmyLS commented on #49331
Can we have an answer now? Today is April 14th, we need to know an answer before May 1st how to deal with the existing policies to avoid any impact!

Thanks.

[2020-04-14 01:57] stevenli510 commented on #49331
Same question here. We need the answer to avoid the impact during this transition.
Thank you for your help.

[2020-04-14 02:05] motowilliams commented on #35615
Where is the link to these ARM docs / examples?

[2020-04-14 02:10] NavtejSaini-MSFT commented on #52326
@anthonyawuley We are checking this and will get back to you

[2020-04-14 02:12] Think3wang commented on #44668
Plus one on this suggestion, for now the doc is not updated yet.

[2020-04-14 02:15] NavtejSaini-MSFT commented on #52326
@anthonyawuley We have created the pull request to correct the same - https://github.com/MicrosoftDocs/azure-docs-pr/pull/111264 and once approved the document will reflect the changes.

[2020-04-14 02:18] colemickens opened #52334 "How to share an image publicly?"
Hi.

I'd like to get images published for a Linux distro into Azure in as-close to an official capacity as possible. What does this require? Ideally we would get a platform image similar to other Linux distros that are offered by default to users.

What's the best way to pursue this? Is there public documentation on platform image onboarding? Azure Marketplace doesn't quite seem right since we are

[2020-04-14 02:19] Mike-Ubezzi-MSFT commented on #52306
@swanderz Thank you for your inquiry. The content team is already investigating this issue and will have an update when they have information to share.

[2020-04-14 02:27] MonikaReddy-MSFT commented on #52327
@SeaDude , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-14 02:33] Mike-Ubezzi-MSFT commented on #52319
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-04-14 02:35] Mike-Ubezzi-MSFT commented on #52322
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-04-14 02:45] Mike-Ubezzi-MSFT commented on #52334
@colemickens The following document explains how to publish a Virtual Machine image to Azure Marketplace: [Virtual Machine Offer Publishing Guide](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-virtual-machines). Please let us know if you have any additional questions.

[2020-04-14 02:47] CHEEKATLAPRADEEP-MSFT commented on #52259
@gaikovoi Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@Minewiskan Could you please look into this issue?

[2020-04-14 02:52] Mike-Ubezzi-MSFT commented on #52316
@Hasil-Sharma Thank you for your detailed inquiry. Your question is being reviewed and a response will be available when the engineer has information to share.

[2020-04-14 02:52] colemickens commented on #52334
Okay, thanks, I had misread that page before and took it to only apply to paid offers, but I now see that a freely licensed image would fall under BYOL.

Thanks Mike!

[2020-04-14 02:52] #52334 closed

[2020-04-14 02:55] ChrisB9907 opened #52335 "Clarification or guidance needed on effects in the GUI of admin.microsoft.com and portal.azure.com"
When following the guide to setup and apply AUs found here https://docs.microsoft.com/powershell/azure/active-directory/working-with-administrative-units?view=azureadps-2.0, the result in admin.microsoft.com lets the admin switch between having no scope or just seeing the scoped users and allows you to add and edit users not under the scope of the AU. So the only function that Administrative Units

[2020-04-14 02:59] SnehaAgrawal-MSFT commented on #52296
@devbert Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-14 03:00] Mike-Ubezzi-MSFT commented on #52312
@karthikp8888 Thank you for your inquiry. We will evaluate this scenario to see if this is something that should be added to the documentation.

[2020-04-14 03:03] Mike-Ubezzi-MSFT commented on #52317
@CharmanderJieniJieni Thank you for the product question. We are investigating and will update you when we have information to share.

[2020-04-14 03:04] GiftA-MSFT commented on #52073
@CeciAc I was able to successfully run this [sample notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/scikit-learn/training/train-hyperparameter-tune-deploy-with-sklearn/train-hyperparameter-tune-deploy-with-sklearn.ipynb) (ensure to add the following code to train_iris.py).

`import joblib

joblib.dump(svm_model_linear, 'model.joblib')`

[2020-04-14 03:06] dlgoodr commented on #27312
Any thoughts here?

[2020-04-14 03:08] Mike-Ubezzi-MSFT commented on #52297
@perktime Thank you for the detailed feedback. We are evaluating this information and will have the content team make an update to the documentation as appropriate.

[2020-04-14 03:11] Mike-Ubezzi-MSFT commented on #52318
@habeebtc Thank you for bringing this to our attention. We are evaluating your feedback and will have the content team update the documentation as appropriate.

[2020-04-14 03:15] Mike-Ubezzi-MSFT commented on #52315
@wsmckenz Thank you for bringing this to our attention. We are evaluating this feedback and will have the content team update the document as appropriate.

[2020-04-14 03:19] HannahHsiao opened #52337 "Please disk charge info for data flow charge"
Hi team,
Please add disk charge info for data flow.
If you are using Data Flows  in your data factory, then Data Flows  also bill for the managed disks which is required for Data Flow execution and debugging. Because VMs from Databricks is needed for data flow activity execution, so we will forward the billing on bandwidth and disks from databricks (which is for both debug/warmpool/job cluster) to

[2020-04-14 03:22] BhargaviAnnadevara-MSFT commented on #51918
@gkgaurav31 The change is merged internally and will go-live in the public docs shortly. Please let me know if you see issues.

[2020-04-14 03:24] BhargaviAnnadevara-MSFT commented on #51966
@YggY The change is merged internally and will go-live in the public docs shortly.

[2020-04-14 03:29] Mike-Ubezzi-MSFT commented on #52288
@sharadrumane Thank you for bringing this issue to our attention. Is there a specific document you are following? It is helpful to create an issue based upon a specific document, as this channel is intended to address documentation issues; like tutorials that are not succeeding.

[2020-04-14 03:33] Mike-Ubezzi-MSFT commented on #52290
@code-vega Thank you for bringing this to our attention. We are evaluating this feedback and will make updates to the documentation as appropriate.

[2020-04-14 03:37] Mike-Ubezzi-MSFT commented on #52292
@Phatage Thank you for bringing this to our attention. We are investigating this and will update you when we have additional information to share.

[2020-04-14 03:41] Mike-Ubezzi-MSFT commented on #52323
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-04-14 03:44] Mike-Ubezzi-MSFT commented on #52329
Closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/52330

[2020-04-14 03:44] #52329 closed

[2020-04-14 03:48] Mike-Ubezzi-MSFT commented on #52331
@medavamshi Thank you very much for your inquiry. Would it be possible for you to share the document you are referring to? This will be helpful with the investigation of identifying any documentation updates or fixes are required.

[2020-04-14 03:52] msrini-MSFT commented on #51991
Please tag me if you have any further questions.

[2020-04-14 03:52] #51991 closed

[2020-04-14 03:53] zhenlan commented on #35615
Here is the document of an example of how to read key-values from App Configuration with ARM template. Particularly, please check out the usage of `listKeyValue(...)` API.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager

The support for writing to App Configuration with ARM template is to be worked on, which is tracked in https://github.com/Azure/AppConfi

[2020-04-14 03:55] Mike-Ubezzi-MSFT commented on #52333
@JustinBacaAIS Thank you for your inquiry. This is being investigated and we will update you when we have accurate information to share with you.

[2020-04-14 03:59] neeleshray-msft commented on #52335
@ChrisB9907 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-14 04:01] medavamshi commented on #52331
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/expressroute/expressroute-about-virtual-network-gateways.md
https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal
/27 works fine for zoneredundant (gatewaysubnet), but firewall cannot be deployed as /26  unless i change the gatewaysubnet to /25

[2020-04-14 04:10] VikasPullagura-MSFT commented on #52192
@dmgonch Thanks for bringing this to our notice.

Internal Team is working on addressing this from platform side as the behavior is not consistent on Windows and Linux version of extension. Also, ApplicationHealthLinux currently prefix requestPath with “/” by default.

Want to check if this is currently blocking you from using the health extension in anyway?
Requesting you to share your Subscripti

[2020-04-14 04:10] Mike-Ubezzi-MSFT commented on #52331
@medavamshi Thank you for the additional information. I edited this issue to make it easier to consume and assigned it to our networking engineer for review.

[2020-04-14 04:15] #52182 closed

[2020-04-14 04:15] BhargaviAnnadevara-MSFT commented on #52182
@ganrad Thanks for catching that error in the docs!

Another important correction I noticed that was needed was with the file names in the Powershell command, to this:

[code]

I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly. Thanks again!

[2020-04-14 04:18] jdkrobinson opened #52339 "GeoMatch is not a valid attribute"
I tried to configure a GeoMatch policy and received the following error:
New-AzApplicationGatewayFirewallCondition : Cannot validate argument on parameter 'Operator'. The argument "GeoMatch" does not
belong to the set "IPMatch,Equal,Contains,LessThan,GreaterThan,LessThanOrEqual,GreaterThanOrEqual,BeginsWith,EndsWith,Regex"
specified by the ValidateSet attribute.

---
#### Document Details

⚠ *Do n

[2020-04-14 04:20] benlaughlin commented on #44095
What is a support ticket? Isn't that what I just did?

[2020-04-14 04:29] dmgonch commented on #52192
@VikasPullagura-MSFT No I'm not blocked. What worked is to simply never supply requestPath that starts with / for either Windows or Linux extension.
Note as well another issue I reported above about /var/lib/waagent/apphealth that is always empty.

[2020-04-14 04:30] PramodValavala-MSFT commented on #51942
@lmmarsano Hope my previous comment helps clears things up.

We are assigning this issue to the content author for further review and to update the docs accordingly.

@mhoeger @jeffhollan Could you please share insights on whether a binding value can be a stream in javascript.

[2020-04-14 04:46] msrini-MSFT commented on #52339
@jdkrobinson , Can you try the same command via Azure CloudShell in Portal ?

It might be because of the Power Shell version mismatch.

[2020-04-14 04:50] colemickens opened #52340 "Why Choose Gen2? aka Timeline for Gen2 Disk Encryption?"
I don't understand how a user is supposed to make an informed decision about which platform to use here. If I were to skim this page, I would get that there's basically no features (a 2TB OS disk isn't a feature, in my opion) and a downside of not getting Azure Disk Encryption. (And VHDX doesn't work...)

I guess it doesn't feel very second generation? When is Disk Encryption planned to arrive for

[2020-04-14 04:54] SwathiDhanwada-MSFT commented on #52243
@ybutola Can you please share the steps that you have followed as the information you have provided is too vague ? Also at what point are you prompted with this error?

[2020-04-14 04:55] lpbayliss opened #52341 "AZ Login Command"
It appears that the `az login` command is incorrectly displaying the backticks.
The markdown file shows the command and the wrapping backticks indented, possibly why it's being rendered funny on the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c8

[2020-04-14 05:04] shankarpandala commented on #52295
I am using REST endpoint. I can see the argument passed also correctly in the pipeline parameters.
But in the run time, When I am using argument parser, I getting the argument passed while creating the pipeline. Not the argument that is passed to the rest endpoint

[2020-04-14 05:08] SnehaAgrawal-MSFT commented on #52241
@upmygit Thanks for asking question! To elaborate on this managed identities tend to cache tokens and that sometimes causes a delay in the policies and group memberships taking effect.
A restart of the resource might be helpful. Also, ensure that your managed identity is not part of too many groups (upper limit of ~200).

[2020-04-14 05:13] TimLovellSmith commented on #31714
+1

I walked past that UX once without seeing it, then amazingly once again AFTER I knew it was there - and what it looked like and what page it was on - because even though I knew I had to look for it, I still wasn't seeing it!

One issue for me is probably that I did not expect to find it on the same page as the one which asks me which kind of function trigger I want to use. But a bigger issue w

[2020-04-14 05:40] dcbrown16 commented on #45196
Azure datacenter IP info has been removed.

[2020-04-14 05:40] #45196 closed

[2020-04-14 05:40] VikasPullagura-MSFT commented on #52242
@KlemensM
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-14 05:40] #52242 closed

[2020-04-14 05:45] DixitArora-MSFT commented on #52341
Hi @lpbayliss Thanks for your feedback. We will review and update as appropriate.

[2020-04-14 05:47] ChrRing opened #52342 "Extend table for 'Encryption Model and key management table' also for data in transit"
The table 'Encryption Model and key management table' (https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#encryption-model-and-key-management-table) is a nice summary for encryption model for data at rest. It would be good to have the same comprehensive view for data in transit. Especially for CMK scenarios. As of now you have to dig into each separate service to see wh

[2020-04-14 05:48] VikasPullagura-MSFT commented on #52192
@dmgonch Thanks for emailing the details. As you are directly now engaged with the product team on this issue, I will proceed to close this issue for now.

However, your comments and feedback will remain on this document.

[2020-04-14 05:48] #52192 closed

[2020-04-14 05:57] souravmishra-msft commented on #52342
@ChrRing, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 05:58] djpmsft commented on #52337
Hi @HannahHsiao .

I am a little confused by your ask here. All cluster charges are included within the data flow price. An example of a pipeline with data flows is located in the article [here](https://docs.microsoft.com/en-us/azure/data-factory/pricing-concepts#transform-data-in-blob-store-with-mapping-data-flows)

[2020-04-14 05:59] souravmishra-msft commented on #52340
@colemickens, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 05:59] AshokPeddakotla-MSFT commented on #51386
@richardeakin As @qm13 mentioned, "We are actively working on an ARM implementation of body tracking" Once the implementation is done we will update you and the docs are also be updated accordingly.

[2020-04-14 06:00] souravmishra-msft commented on #52337
@HannahHsiao, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 06:01] upmygit commented on #52241
Well now, Azure AD group does work but it takes a long long time for it to work.
Only the next day I saw the check turned green. I did no measurements but it must have been at least a few hours. This makes it almost useless since settings change, and it should work within a few seconds.
Is this normal?

[2020-04-14 06:07] PramodValavala-MSFT commented on #52057
@jbrezina Thanks for catching that! We will work up a PR to fix the links.

As for .NET Core, looks like there is no similar API as of yet and there is an [open issue](https://github.com/Azure/azure-sdk-for-net/issues/7380) that tracks this.

[2020-04-14 06:07] PramodValavala-MSFT commented on #52105
@subodhpatil Just following up here... Hope my previous comment clears things up.

[2020-04-14 06:08] PramodValavala-MSFT commented on #52142
@worldspawn Just following up here... Hope my previous comment clears things up.

[2020-04-14 06:11] souravmishra-msft commented on #52246
@Nazar-Pa, Can you please share the exact document URL that you are following

[2020-04-14 06:24] femsulu commented on #52007
@FbaillonGfi We are closing this issue since we havent heard from you. Please reply If there are further questions regarding this matter and we will gladly continue the discussion.

[2020-04-14 06:30] sharadrumane commented on #52288
@Mike-Ubezzi-MSFT i am referring below tutorial, but not implementing the part mention in the tutorial. as i am deploying my separate module and output of that module i have to pass to my ASA Edge module via route. i am not sure whether my ASA job is getting the input or not as i have mention Edge Hub as my input stream and json format as my input type. i have to receive the input from my module t

[2020-04-14 06:30] taysco commented on #51296
@DixitArora-MSFT

I am encountering the same problem here. I can also confirm that my az func is getting executed so the validation process on your side is connecting, it's just failing somewhere. Any ETA on getting a resolution here? This is impacting our SignalR events.

[2020-04-14 06:38] amanmcse commented on #52252
@DHowett-MSFT  You should look for authorization_pending per the standard here https://tools.ietf.org/html/rfc8628#section-3.4. Azure AD also tries to stick with the standards. We will edit the doc to make this clearer.

I am closing the thread for now. Feel free to tag me in your reply if you have any question.

[2020-04-14 06:38] #52252 closed

[2020-04-14 06:45] StefanSchoof opened #52343 "Docs should contains needed packages"
To use the Queue Attribute in my Visual Studio C# Azure Function I needed to install the [Microsoft.Azure.WebJobs.Extensions.Storage](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage) nuget packages. I think this info should be part of this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-14 07:06] RohitMungi-MSFT commented on #52246
@Nazar-Pa This platform is used for issues related to bugs in the documentation and we would highly recommend to raise a general inquiry through user voice from LUIS portal for issues related to individual app behavior which may vary based on the training and other factors. General inquiry through user voice is available from the top right corner of LUIS portal, the smiley symbol. Also, other user

[2020-04-14 07:23] DixitArora-MSFT commented on #52343
Hi @StefanSchoof Thanks for your feedback. We will review and update as appropriate.

[2020-04-14 07:23] sbstu6 commented on #6701
Regarding host caching for all Disk type
*****************************************
Host caching supports Standard HDD, Standard SSD & Premium SSD

In case you would require to add 8 TB disk, host caching will not be enabled as size of disk is more than 4095 GiB

Also, if we want to increase any existing disk to above 4095 Gib then we have to disabled host caching before expansion.

[2020-04-14 07:31] CHEEKATLAPRADEEP-MSFT commented on #30009
@riserrad I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/111275](https://github.com/MicrosoftDocs/azure-docs-pr/pull/111275)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-04-14 07:31] #30009 closed

[2020-04-14 07:33] slavizh opened #52344 "ARM template property hbi_workspace is not correct"
ARM template property hbi_workspace is not correct. The correct property is hbiWorkspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bb762e3-f0ac-c0de-baaf-393093c4ff69
* Version Independent ID: 35020248-277f-167b-9ff4-ed8ca8cc4478
* Content: [Create a workspace with Azure Resource Manager template - Azure Machine

[2020-04-14 07:41] vbatr commented on #52167
Hi @SaurabhSharma-MSFT ,
thanks for your answer.

I've configured the exposed api to be consented by admin an users:
![image](https://user-images.githubusercontent.com/20244602/79197341-39bb4a80-7e3a-11ea-8776-c3ac4fb23b91.png)
Also this api was added to API permission on the resource:
![image](https://user-images.githubusercontent.com/20244602/79197508-84d55d80-7e3a-11ea-8abc-be814473126b.png)

W

[2020-04-14 07:43] AshokPeddakotla-MSFT commented on #51847
@ElliotWood Could you confirm and validate whether Azure maps key has been added to the request?

[2020-04-14 07:51] jakaruna-MSFT commented on #50997
@rdbraber I got the information from the product team.

Editing the "coredns" config is not possible to for forwarding all the traffic to a specify DNS server.

To achieve the same functionality, we can add te same DNS to the Vnet.   So that all traffic will forwared to that dns server.

you can also edit  "coredns-custom" config map if you want to have exclusions for some dns zones to be forwarde

[2020-04-14 07:56] Think3wang opened #52345 "Is there a way to set up managed identity for an existing AKS cluster?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/use-managed-ident

[2020-04-14 07:57] kktyau commented on #51046
any update? This ticket has been raised for ~20 days ago.
Can the location (Singapore2) be added to PCCW Global ASAP?

[2020-04-14 08:02] taysco commented on #51296
I figured out a work around in case anyone else is stuck ... if your using the examples, add a console.log(req); and re-run the  az eventgrid event-subscription create command ... it'll say Running... and make a post to your endpoint, grab the validationUrl from the console.log output and open that in a browser. This all must be done in 5 minutes or while the az command is saying 'Running...' ...

[2020-04-14 08:06] FbaillonGfi commented on #52007
Yes.

Cordialement
Frédéric BAILLON
Business Developer Solutions Microsoft
Architecte Azure – Power platform
Alliance manager Inrule
Performance & Transformation
Tèl. : +33 (0) 6 48 68 42 52
Pensez à l'environnement... économisez le papier, n'imprimez ce message que si réellement nécessaire.

De : Dana Sindona <notifications@github.com>
Envoyé : jeudi 9 avril 2020 19:22
À : MicrosoftDocs/azure-doc

[2020-04-14 08:22] benmarriott-TVT commented on #51773
Hi

This is now working… thanks for taking the time to look into it – I appreciate it! You can keep it closed!

Thanks

Ben

Ben Marriott
TVISION TECHNOLOGY LTD
I am going to be running 106km around the Isle of Wight on 2nd May 5th September raising money for Breast Cancer Now. Please sponsor me!
You can help me raise money for this great cause by donating directly to my fundraising page - https:/

[2020-04-14 08:24] YanDavKMS commented on #51860
Thank you very much all for your help :-)

[2020-04-14 08:28] euangordon commented on #31714
@TimLovellSmith My experiences exactly. If I didn't want a user to find the functionality, this is where I would have put it. Exactly where it is not expected. They could have put it on a separate modal, or even not setting the default to the latest version and forcing the user to select would have been better.

[2020-04-14 08:29] jjindrich commented on #52060
Hi, I'm asking for AKS design with NAT gateway. Are is written https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype we can use Azure FW for egress traffic. I'm asking you why is not possible/not documented how to use NAT gateway with AKS (instead of Azure FW).

[2020-04-14 08:31] sujayvsarma opened #52346 "Storage API - How to create a new key via API?"
Area : Azure Storage
Method: REST API

There is no documentation on how to CREATE the Storage Account key. However, there are two documents: [list existing keys](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listkeys) and [regenerate existing keys](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/regeneratekey).

Please point me to the documentation on how

[2020-04-14 08:46] sujayvsarma commented on #52346
Oops. Sorry. I didnt realize that keys are automatically created when you create the account.

[2020-04-14 08:46] #52346 closed

[2020-04-14 08:50] rich-davies commented on #51764
So will the ASC security recommendations, security score etc be surfaced in ARG at some point soon?

[2020-04-14 08:54] DaveBrickley commented on #47270
Please can someone advise me how to easily remove Facebook from the custom sign up process? It seems to be referenced across several files and editing them raises exceptions and errors

[2020-04-14 09:03] VikasPullagura-MSFT commented on #52345
@Think3wang Thanks for posting your query.

Currently as mentioned in the document, existing AKS clusters cannot be updated to enable managed identities.

Requesting you to please post your product feedback [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks), so that it will reach right team.

![image](https://user-images.githubusercontent.com/48944027/79206034-61bba580-7

[2020-04-14 09:03] #52345 closed

[2020-04-14 09:04] v-liatba commented on #52238
Thanks, I managed.
you can close

[2020-04-14 09:04] #52238 closed

[2020-04-14 09:20] VikasPullagura-MSFT commented on #51695
@AjKundnani As you are engaged with the PG team over email on this issue, requesting you to continue the discussion over email. However, your comments will remain on this document.

We will now close this issue.
Thanks.

[2020-04-14 09:20] #51695 closed

[2020-04-14 09:27] FlorianBorn71 commented on #52292
We have addressed the exception so once the new version of the sample is out, there should be proper error output in the text panel.
To fix this locally in file ARRServiceUnity.cs, replace
{PropertiesTask.Context.ErrorMessage}
in line 216 with:
{CurrentSessionTask.Context.ErrorMessage}

[2020-04-14 09:28] PramodValavala-MSFT commented on #52103
@anttitoippa We are assigning this issue to the author to share insights on this and include the information in the docs as required.

[2020-04-14 09:29] FlorianBorn71 commented on #52292
Regardless of the exception above, does it work in the second run?

[2020-04-14 09:34] edwardshao commented on #52274
Hi @sshams79,

Thanks for the reply.
Is it possible to include the instance ids in the future?
Or any recommended approaches to know which instances being scaled?

[2020-04-14 09:38] ChrisAtMAF commented on #50722
Hey, sorry for the confusion, but Reply URL should be:

`https://*.icims.com/*`

With asterisks. I'm afraid they got chewed up by the autoformatting!

[2020-04-14 09:39] ChrisAtMAF opened #52347 "Reply URL should be https://*.icims.com/* (with asterisks)"
Hi,

Re isue #50722, the Reply URL should be:

`https://*.icims.com/*`

With asterisks. I'm afraid in issue #50722 they got chewed up by autoformatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e4dadc-b84d-feda-330b-14e258014b20
* Version Independent ID: ac5b133b-99e9-7446-6127-f3b785ab0829
* Content: [Tutorial

[2020-04-14 09:40] eparizzi commented on #16002
Can we please have an updated working example for ASP.NET Core written in this doc. page?

[2020-04-14 09:50] douglaswaugh opened #52348 "'ongoing endpoint monitoring' in Priority Traffic Routing Method"
Under the Priority Traffic Routing Method it is explained that the availability of an endpoint is determined by 'ongoing endpoint monitoring'.  I just wondering exactly what this entails.  Does it hit the root of the site and await any status code, or is it looking for a particular status code, can you configure it to await a response from a health check endpoint?

Thanks,
Douglas.

---
#### Docum

[2020-04-14 09:51] 84618315 opened #52349 "Localize your email"
it is unclear where i should put reference for the claimtransformation:
currently it is placed in the sendgrid technicalprofile like:

&lt;TechnicalProfile Id="SendGrid"&gt;
              ...
              &lt;InputClaimsTransformations&gt;
                &lt;InputClaimsTransformation ReferenceId="GetLocalizedStringsForEmail" /&gt;
                &lt;InputClaimsTransformation ReferenceId="Genera

[2020-04-14 09:52] DavidDataOrbis commented on #51876
You are welcome. Great to see such an efficient follow up and update

[2020-04-14 09:55] 84618315 commented on #52349
It would be good to have the sample include localization of the emails.

[2020-04-14 09:59] vipulsparsh commented on #52349
@84618315 Thank you for your query. We will investigate and update this thread further.

[2020-04-14 10:12] rgerrits opened #52350 "Another reason for a failed Workplace Join"
If the setting "Do not save encrypted pages to disk" is enabled in the advanced settings of Internet Explorer for a user, then Workplace Join fails. (with eventIDs  400&404)

Took me a while to figure this one out. Perhaps this can be added to the list, so it might help someone else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-14 10:17] FlorianBorn71 commented on #52059
Awesome, thanks for the repro steps! They helped pinpointing the underlying problem. The team is working on this.

[2020-04-14 10:19] FlorianBorn71 commented on #52258
@HiromuKato, good catch, this was unclear indeed.

I have now added the following hint:
"Do not assign this script to any game object as it will be assigned programmatically by the code below."

[2020-04-14 10:20] v-nagta commented on #50722
@ChrisAtMAF Can you please clarify what comes in the place of asterisks
https://*.icims.com/*
for ex: SUBDOMAIN in the first asterisk

[2020-04-14 10:36] tarekd opened #52351 "Azure AD App Proxy deployment plan link is broken"
Goes to a file not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 795962ba-55a1-65f3-e7fe-4c5d968af8e5
* Version Independent ID: 4a0cf543-0959-42cc-55b8-bc40481dd591
* Content: [Deployment plans - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-

[2020-04-14 10:44] jethrovaneetvelde opened #52352 "Resolved status"
What is the true way to see if it is a new incident, or a resolved status?
In the examples I can see monitorCondition = "Resolved", which I interpret as an existing incident that has been resolved. Yet I get the alert below. It has monitorcondition = "Fired" for "BLABLA - Mitigated" with status Resolved. It is VERY hard to automate alerts because of the huge inconsistency in all the different serv

[2020-04-14 10:45] ChrisAtMAF commented on #50722
Hi @v-nagta

The correct value includes the asterisks - they do not need to be replaced. This is the config we were given by ICIMS support and it is working:

`https://*.icims.com/*`

[2020-04-14 10:46] BoOnAzure commented on #52285
this is my Lookup table input. For testing purpose I used my own TestDB
![image](https://user-images.githubusercontent.com/63590782/79215902-a57bd280-7e8f-11ea-85ea-7831bacc43e4.png)

this is my Lookup table output
![image](https://user-images.githubusercontent.com/63590782/79216231-2dfa7300-7e90-11ea-8bf7-1beb5e5c41c6.png)

Note that my source table is from OnPrem SQL server and sink table is fro

[2020-04-14 10:51] v-nagta commented on #50722
Hi @ChrisAtMAF so you are saying the value `https://*.icims.com/*` is not a variable value.
is it fixed for every customer?

[2020-04-14 10:54] gheester commented on #22597
Microsoft, please re-open this case. It needs to be addressed.

[2020-04-14 10:56] souravmishra-msft commented on #52347
@ChrisAtMAF, Thank you for pointing this out. Will update the document shortly.

[2020-04-14 10:57] ChrisAtMAF commented on #50722
@v-nagta Yes

[2020-04-14 10:59] souravmishra-msft commented on #52351
@tarekd, Thank you for pointing this out. Will update the link shortly.

[2020-04-14 11:02] souravmishra-msft commented on #52350
@rgerrits, Thank you for pointing this out. We are working on this and will update the doc accordingly.

[2020-04-14 11:12] divyamoorthyTR opened #52353 "How to use azureServiceTokenProvider = new AzureServiceTokenProvider("RunAs=App;AppId={clientId}") to fetch access token to access any of the azure resources"
I tried fetching the access token to access all resources in azure using
azureServiceTokenProvider = new AzureServiceTokenProvider("RunAs=App;AppId={clientId}");
serviceCreds = new TokenCredentials(await azureServiceTokenProvider.GetAccessTokenAsync("https://management.azure.com").ConfigureAwait(false));

But I get an exception
Connection String: RunAs=App;AppId="ClientId of user managed identity"

[2020-04-14 11:13] simonsigre commented on #51401
@hpsin this was pulled from the o365 management API implemented by the Splunk built (https://splunkbase.splunk.com/app/4055/)  connector.

That being said.. this is pulled in "raw" so I don't suspect this has been modified.
I think my confusion/concern is the use of;
[code]
"Not"

[2020-04-14 11:20] VikasPullagura-MSFT commented on #52340
@ju-shim Can you please add your comments on this ask.

[2020-04-14 11:22] CHEEKATLAPRADEEP-MSFT commented on #52204
@NikosSpanos  Thanks for reaching out. I see that you have opened a support case related to this issue. A support engineer is actively looking into it and will assist you as soon as they have an update. I will closely monitor this issue and update here once we have our findings ready.

[2020-04-14 11:27] AjayKumar-MSFT commented on #51426
Michael, I have notified the author about this feedback. We will consider adding Private Link information in this doc mostly after it's GA.  Thanks again for your feedback on this. We will close this out, but if you feel you need more information please just let us know.

[2020-04-14 11:27] #51426 closed

[2020-04-14 11:29] dheerajkumar-solanki opened #52354 "Is Dataframe cache not work with Databricks-connect?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-14 11:30] #52354 closed

[2020-04-14 11:33] NikosSpanos commented on #52204
Thank you for your reply. I am looking forward to your response regarding this matter. I hope my request was clear and accurate. Briefly, how can we set up an ACI container to send data through a Stream Analytics Machine Learning Function? The Function Signature of the scoring URI of an ACI container is not recognized by Stream Analytics Functions, contrary to the AKS cluster's scoring URI of whic

[2020-04-14 11:34] sergevm commented on #48902
Seem to have a related issue, i.e., when I try to delete a subnet, I get an error:

`Failed to delete subnet 'xxx'. Error: Subnet xxx is in use by my-resource-group/providers/Microsoft.Network/virtualNetworks/my-vnet/subnets/xxx/serviceAssociationLinks/AppServiceLink'>my-vnet/xxx/AppServiceLink and cannot be deleted. In order to delete the subnet, delete all the resources within the subnet. See ak

[2020-04-14 11:39] KOFlynn commented on #39078
Hi, the managed outbound connector IP's have changed recently for North Europe causing us some issues.
they were:
13.79.173.49/32, 40.112.90.39/32, 52.169.218.253/32, 52.169.220.174/32, 13.69.227.208/28, 52.178.150.68/32, 104.45.93.9/32
And now they are:
13.69.227.208/28, 52.178.150.68/32, 104.45.93.9/32, 94.245.91.93/32, 52.169.28.181/32

How often can we expect these IP's to change and how can w

[2020-04-14 11:40] 84618315 commented on #52349
found the problem, you have to put the inputclaimstransformation in the same techinal profile as the localizedResources.

[2020-04-14 11:48] YggY commented on #44837
any update?

[2020-04-14 11:53] wadstromdev commented on #50986
I've tried Powershell Core 7.0 with Az.Resources 1.13.0 and Powershell 5.1 with Az.Resources 1.4.0.

[2020-04-14 11:58] AjayKumar-MSFT commented on #51974
@rafaelberrocalj, Apologies for the delay! If I have understood your scenario correctly.   You could override the web.config with the location globalization setting.

       <configuration>

       <system.web>

       <globalization culture="pt-BR" uiCulture="pt" />

       </system.web>

     </configuration>

The Culture value determines the results of culture-dependent functions, such as the d

[2020-04-14 12:02] rafaelberrocalj commented on #51974
Hello @AjayKumar-MSFT , i need to change the globalization on the app service.
I'm not running an .net solution.
The timezone can be set using TZ on azure portal, but cant change the langague.
I'm running an docker linux app (metabase).

[2020-04-14 12:09] RohitMungi-MSFT commented on #52344
@slavizh Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-14 12:10] asergaz commented on #52288
Thank you @sharadrumane ,
Since you are not following the doc we request that this issue is moved either to MSDN or StackOverflow forums for further discussion with the community. See [Azure IoT support and help options](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-support-help) for details.

My advisory is that you confirm that you finish this tutorial successfully with your curren

[2020-04-14 12:10] #52288 closed

[2020-04-14 12:13] shankarpandala commented on #52295
I am not using the PipelineParameter, may be that might be the issue.

Any example that uses PipelineParameter?

[2020-04-14 12:26] msimecek opened #52356 "Link to Activity User Guide doesn't work"
Points to: https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md which doesn't exist (404).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Version Independent ID: 28259d9c-5174-f138-c0aa-bc2125c3be1a
* Content: [Azure Applica

[2020-04-14 12:36] BartVanBerkel opened #52357 "AKS cluster with managed identities"
We like the use of managed identities over the creation of a service principal for an AKS cluster. https://docs.microsoft.com/en-us/azure/aks/use-managed-identity
However from this document it is not clear which managed identity you need to give the permissions. Can the document be updated. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-14 12:39] HiromuKato commented on #52258
Thank you very much!

[2020-04-14 12:49] strangecyan opened #52358 "URL Authorization on Linux"
It's not clear if all the features of Authentication/Authorization is supported on both Windows & Linux app services. Specifically, and this doesn't appear to be included in this page explicitly, the URL routes authorisation found in this blog post. https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html. Can you confirm if this is supported on Web App for Linux?

---
#### Docum

[2020-04-14 12:53] Neelkamal10 opened #52359 "Error-Forbidden"
Encountered error :
![Screenshot (2)](https://user-images.githubusercontent.com/54034262/79226688-6bed9c00-7e7c-11ea-9b19-a224ae1c8ea4.png)

 WHILE IMPLEMENTING THIS DOC:https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-storage-keys-powershell#service-principal-application-id
here is my script:
[t2.txt](https://github.com/MicrosoftDocs/azure-docs/files/4475307/t2.txt)

---
#### D

[2020-04-14 13:02] Neelkamal10 commented on #52359
@PRMerger19 Resolve my error .
i eagerly await for your response.

[2020-04-14 13:06] RubenKhachatryan opened #52360 "New version of WALinuxagent is missing on RH repos."
Current version of WALinuxagent is `2.2.38-2.el7_7` from **"rhui-rhel-7-server-rhui-extras-rpm"** repository:
[code]
[code]
`yum check-update WALinuxAgent` didn't find any version for update:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544
* Version Independent ID: cf60b900-6f8

[2020-04-14 13:07] MonikaReddy-MSFT commented on #52356
@msimecek , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-14 13:15] coaldric opened #52361 "Public IP Prefix"
This isn't accurate:

"type public ip address prefix. When Public IP address prefixes appear in the search results, select it." You need to type "Public IP Prefix" without address in the search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ff0cc43-48e9-4ce6-edd7-24fe07280737
* Version Independent ID: 4bf0c32c-3dc4-8

[2020-04-14 13:19] pecrow opened #52362 "Connecting to Azure Container Registry Through a Bastion Private Endpoint"
Can we please have a document for this process. Also mention the need of two different FQDN/IP pairs to resolve to get both IP addresses for the Bastion PE. One maps to &lt;acr name&gt;.azurecr.io, while the other maps to &lt;acr name&gt;.&lt;azure region&gt;.data.azurecr.io.  Then you need to make sure that these FQDNs resolve to the two respective Bastion PE IP addresses.

---
#### Document Deta

[2020-04-14 13:23] SMazu commented on #51799
Hello Everyone!

Did someone get a chance to take a look at it? 🙂

Thanks in advance!

[2020-04-14 13:26] rikogeln commented on #52198
@reneschulte  two questions to speed up my inquiry:

- in which example app would you like to enter the SAS output by Conversion.ps1? I am trying to figure out if the samples have the option to work with connected storage accounts.

- when you say "The Azure Portal context menu is different and has more options in the dialog." what exactly do you mean? We tried to see if the context menu looks dif

[2020-04-14 13:35] shameeds commented on #52173
When I apply Azure Disk encryption on the VM, I got the below error

Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "Failed to configure bitlocker as expected. Exception: An error occurred while sending the request., InnerException: System.Net.WebException: The underlying connection was

[2020-04-14 13:38] markthebault commented on #51658
I would also like this feature, not all companies can easily modify their existing DNS to resolve other domains. Having an endpoint on a storage account like `mystoraceaccountname.mycompany.internal` would be a must have. Is any ETA on this feature being available?

[2020-04-14 13:38] souravmishra-msft commented on #52362
@pecrow, Thank you for sharing the update. We are looking into this and will update you shortly.

[2020-04-14 13:40] souravmishra-msft commented on #52361
@coaldric, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 13:42] souravmishra-msft commented on #52360
@RubenKhachatryan, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 13:48] souravmishra-msft commented on #52358
@strangecyan, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 14:04] hpsin commented on #51401
Yep, that's not a great message.  It's a very "point in time" message - at the time the message is sent to the client it is true.  I've added some additional flavor to it:
 <Code>50158</Code>
    <Name>ExternalSecurityChallenge</Name>
    <Message>External security challenge not satisfied. User will be redirected to another page or authentication provider to satisfy additional authentication chall

[2020-04-14 14:10] NavtejSaini-MSFT commented on #52076
Thanks @ryoma-nagata for the information. We are assigning this to our document author to check.
@rohitnayakmsft Can you please check this gateway and provide insight.

[2020-04-14 14:13] souravmishra-msft commented on #52348
@douglaswaugh, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 14:14] souravmishra-msft commented on #52352
@jethrovaneetvelde, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 14:15] NavtejSaini-MSFT commented on #52109
@jimsander Please let us know how we can further help you regarding this issue. We will be closing the issue by EOD.

[2020-04-14 14:16] NavtejSaini-MSFT commented on #52084
@screig Let us know if you need any help regarding this issue.

[2020-04-14 14:18] VitalyMCT opened #52364 "#44888 - Azure Synapse"
The subject ticket has been closed, however, there was no corresponding change to this page. You may want to review.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial - Perform ETL operations using Azur

[2020-04-14 14:18] souravmishra-msft commented on #52353
@divyamoorthyTR, Can you please share the Microsoft doc that you are referring to while trying this out, so that we can align the best team to help you further.

[2020-04-14 14:20] souravmishra-msft commented on #52357
@BartVanBerkel, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-14 14:21] VikasPullagura-MSFT commented on #52360
@mimckitt Can you please check and add your comments on this.

[2020-04-14 14:25] HarrisburgUSysAdmin opened #52365 "Role Required"
What role is required to use "Organizational Relationships" in Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Enable B2B external collaboration settings - Azure AD](https://docs.microsoft.com/en-us/

[2020-04-14 14:27] #52057 closed

[2020-04-14 14:28] reneschulte commented on #52198
I missed the -UseContainerSas script param. It works as expected with it. My fault.

For the outdated screenshot. The context menu looks like this for me in the Azure Portal:
![image](https://user-images.githubusercontent.com/7439129/79236184-eca49c00-7e6c-11ea-813f-f7101f44bfa5.png)

Compare that with the one you have in the docs which seems outdated:
![image](https://user-images.githubuserconten

[2020-04-14 14:29] divyamoorthyTR commented on #52353
I am referring https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#running-the-application-using-managed-identity-or-user-assigned-identity and https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support to fetch access token using user managed identity

[2020-04-14 14:34] JJDE opened #52366 "Azure Marketplace Support for Microsoft.Resources/deploymentScripts ?"
will it work to add this resource-type (Microsoft.Resources/deploymentScripts) to an ARM Script used in Azure Marketplace? If yes, what needs to be defined for attribute "identity" in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43

[2020-04-14 14:35] tradingshiksha commented on #45266
I am still stuck at this step , from where I can get sysid of sso , since at that step sso configration is not even created

[2020-04-14 14:41] rikogeln commented on #52198
@reneschulte the context menu looks different for you since in the documentation we describe how to use the "Storage Explorer (preview)" and you are navigating into your storage container via "containers" - i can confirm that you will get two different looks for the context menu. but you will get the one we show when using the "Storage Explorer (preview)" as shown in the screenshot.

[2020-04-14 14:42] ilyasdhin commented on #23889
I found that even with if the admin option was turned on, the the run instance was grayed out. I tagged my image with latest and only then did it work

[2020-04-14 14:51] reneschulte commented on #52198
Ahhh! My fault again. Should read better. 😁

Vielen Dank.

[2020-04-14 14:51] #52198 closed

[2020-04-14 14:52] smoms opened #52367 "Does it support only for Azure SQL and SQL Server? What about Oracle?"
Does it support only for Azure SQL and SQL Server? What about Oracle? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66029772-b5cd-01ea-74e4-3e0a1b7a8a66
* Version Independent ID: 0d0a58d8-885c-552c-56ea-9b07fce832b8
* Content: [Incrementally copy data using Change Tracking - Azure Data Factory](https://docs.mi

[2020-04-14 14:53] rikogeln commented on #52198
thanks to your continued feedback we could resolve this issue. (and i think i spotted some other issue - so win win!)

Kein Ding.

[2020-04-14 14:58] abij opened #52368 "Can I create ComputeInstace using ARM?"
I want to create a personal vm (compute instance) for datascientists using ARM-deployment to force VNet and non-public SSH-access with auto-shutdown. I did not find a solution to reach these goals.
I have found these are definitions: https://docs.microsoft.com/en-us/azure/templates/microsoft.machinelearningservices/2019-11-01/workspaces/computes

Are you planning to support the creation of Compute

[2020-04-14 15:01] D4-AzIdentity opened #52369 "Authorized Client Applications"
I may be mistaken, but there's no explanation of "Authorized Client application" on this page with the exception of the screenshot. Can we add a full explanation here?

If you have two separate enterprise applications one for the client app and one for web api, you can grant permission for your users, however this is an issue for multitenant applications as you need to authorized the client applic

[2020-04-14 15:05] qianw211 commented on #52135
@jimbarrett33  Please use the following link when signing in to partner center:
https://partner.microsoft.com/dashboard/account/v3/enrollment/introduction/partnership.
We appreciate your feedback, and we will be updating the documentation shortly.  Thanks!

#please-close

[2020-04-14 15:05] #52135 closed

[2020-04-14 15:07] j03Martin opened #52370 "ARM Template Directions"
This is only shows how to build the function app using az cli. What about ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c85f7-53b3-59a2-3f42-fbccbba07d32
* Content: [Create a function in Azure that responds to HTTP requests](https://docs.

[2020-04-14 15:08] AlissonRS commented on #52140
Just want to provide more details.

As you can see below, the dates are "Local Time", and local time is fetched from my OS. How can I change my "local time" in my Azure account so all these screens (e.g Performance, Failures, Events, Logs) stop relying on my OS?

![image](https://user-images.githubusercontent.com/4753901/79240636-6bd3a900-7e48-11ea-90ec-93b2e2defa73.png)

[2020-04-14 15:13] vhorne commented on #50832
Done:
https://docs.microsoft.com/en-us/azure/firewall/quick-create-multiple-ip-template
#please-close

[2020-04-14 15:13] #50832 closed

[2020-04-14 15:18] YutongTie-MSFT commented on #51255
@alathrop
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-14 15:18] #51255 closed

[2020-04-14 15:27] clarkmac opened #52372 "Page summary text is repeated twice"
No reason to have this "The materialized views in Azure SQL Data Warehouse provide a low maintenance method for complex analytical queries to get fast performance without any query change. This article discusses the general guidance on using materialized views." repeated twice at the top.  Is there another sentence intended? or just delete the extra.

---
#### Document Details

⚠ *Do not edit this

[2020-04-14 15:37] alathrop commented on #51255
Thank you for the response - very helpful

[2020-04-14 15:41] DixitArora-MSFT commented on #52370
Hi @j03Martin Thanks for your feedback. We will review and update as appropriate.

[2020-04-14 15:41] ChristianMontoya commented on #52158
@pabbinedi : No, we do not have current limits on users per host pool or number of sessions per host pool. If we do add limits for continuity of the service, we'll update the docs accordingly.

[2020-04-14 15:42] ChristianMontoya commented on #52153
I will need to send around internally for an answer on this one.

[2020-04-14 15:43] ppothnis opened #52373 "Rename File - Using Rest API"
Hi Team,

I am following Rest API reference
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/create
for Renaming a file in ADLS Gen2 Filesystem and I am unable to rename

My Request -
Put https://{storageaccount}.dfs.core.windows.net/{FilesystemName}/Test1.csv?resource=file

Host: {storageaccount}.dfs.core.windows.net
Content-Length: 0
Authorization: Bearer {Acces

[2020-04-14 15:45] iotrock commented on #11450
Asked solution in 6 months before till now did not receive solution from
Microsoft. better move on amazon greengrass atleast their will quick
response of my problem.

On Sat, Apr 4, 2020 at 12:59 AM Brendan Rempel <notifications@github.com>
wrote:

[2020-04-14 15:49] ChristianMontoya commented on #52115
@briantaintor : Can you give your thoughts here? The "Applies to" at the top of the article is a bit confusing, so wanted to see what the intentions are here.

[2020-04-14 15:49] Will-Hyde opened #52374 "Inaccurate information"
In the "Best practice for loading data into SQL Server"section, it does not appear possible to create and use a temporary table from within the Data Factory pipeline. I'm not sure why this page is recommending using a workflow that is not possible to create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e7af17-5daf-

[2020-04-14 15:50] RonPattersonBadger opened #52375 "Long delays in assigning Share permission"
Section 2 describes creating the Share permission.  It has been my experience that it can take several hours before the share permission change is affected on the file share, resulting (during the interim) in vexing errors mapping the drive.  Tools like PowerShell's "Get-SMBShareAccess" also don't work to show the Share's configuration, so it seems to be impossible to detect when the share permiss

[2020-04-14 15:54] spmanjunath opened #52376 "Support for handling multipart/form-data in policy expressions."
I was looking for a solution to split incoming multipart/form-data (JSON data & file) to two separate backend requests.  Can this be achieved using policy expression?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Cont

[2020-04-14 16:02] mimckitt commented on #52340
@colemickens We don't have any ETA at the moment for when Azure Disk Encryption will support Gen2. That being said it a top priority to ensure feature parity across gen 1 and gen 2 VMs. So work is actively being done to address that.

Gen2 leverages modern boot architecture (UEFI boot). Ideally every customer would want to use a more modern boot architecture instead of a legacy one. And unless the

[2020-04-14 16:05] sajidfaizan commented on #51652
@Karishma-Tiwari-MSFT we still get the query error, could you assign this to someone on high priority as its affecting the business.

Thanks.

[2020-04-14 16:10] leovms commented on #46475
@titiks, I was recently made aware of this thread. If there's an issue with the [Azure Pipelines DevTest Labs Tasks](https://marketplace.visualstudio.com/items?itemName=ms-azuredevtestlabs.tasks), please report it in our [Issues](https://github.com/Azure/azure-devtestlab/issues) section of our [GitHub project](https://github.com/Azure/azure-devtestlab). Additionally, we allow contributions to help

[2020-04-14 16:11] RonnieQuan opened #52377 "Rerverse DNS Lookup and Private DNS Zone VNet Resolution Link"
Can you please provide more information about how reverse DNS lookup works with VNET resolution only link?
VM1 in vnet1
VM2 in vnet2
myzone1 is linked to vnet1 as resolution and registration
myzone1 is lined to vnet2 as resolution only
from a vm2, does it support reverse lookup on VM1 ip?
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-insta

[2020-04-14 16:12] RonnieQuan opened #52378 "Private DNS Zone VNet Resolution Link and Rerverse DNS Lookup"
Can you please provide more information about how reverse DNS lookup works with VNET resolution only link?
VM1 in vnet1
VM2 in vnet2
myzone1 is linked to vnet1 as resolution and registration
myzone1 is lined to vnet2 as resolution only
from a vm2, does it support reverse lookup on VM1 ip?
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-insta

[2020-04-14 16:13] neeleshray-msft commented on #52221
@iainfoulds Could this be looked into ?

[2020-04-14 16:13] robcamer opened #52379 "Provide details on now the change from consumption to Premium plan (or vice versa)"
It would be good to provide guidance on steps to change from a consumption plan to a Premium plan or vice versa.  I think this is only possible with the Azure CLI.  Also on whether it's supported to an App Service Plan from Consumption (or vice versa).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6

[2020-04-14 16:13] apsyspeople commented on #43306
It seems to be relative to ServiceNow Instance version, so that from Newyork, you need to use the custom script variant.

-Anders

[2020-04-14 16:15] neeleshray-msft commented on #51943
@rido-min We will be closing this thread now. Let us know if you need further help with this.

[2020-04-14 16:17] browseaware opened #52380 "Data Movement Service (DSM)?"
Where can I find details on the DSM? I can't seem to find other documentation on it. Is it something that is created with this architecture automatically? It's unclear what if anything I need to do with the DSM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6f95be-15fb-4822-1fa2-4f61ef029093
* Version Independent ID

[2020-04-14 16:20] robinmanuelthiel commented on #52159
There is not a single mention of "Projects" in the old v2.0 Swagger Documentation. Please re-open the issue.

[2020-04-14 16:22] SaurabhSharma-MSFT commented on #52365
@HarrisburgUSysAdmin Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 16:22] neeleshray-msft commented on #52342
@msmbaldwin Could this be looked into ?

[2020-04-14 16:23] SaurabhSharma-MSFT commented on #52369
@D4-AzIdentity Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 16:24] neeleshray-msft commented on #52350
@MicrosoftGuyJFlo Could you look into the same ?

[2020-04-14 16:25] KatieProchilo opened #52381 "Pronunciation available wider than en-US and de-DE"
In the header paragraph it says "Pronunciation customization is currently only available for en-US and de-DE." Pronunciation data is an option for a few other languages as well (Italian, French) so this sentence needs to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Ver

[2020-04-14 16:28] nwipfli opened #52382 "Failback supported for EFI machines"
This statement "Only failover is supported for EFI VMs. Failback is not supported." looks incorrect because from the rollup 42 (Nov 2019), failback for EFI machines is supported. See https://support.microsoft.com/en-us/help/4531426/update-rollup-42-for-azure-site-recovery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-14 16:29] rboucher commented on #49252
@kazshi, This has been fixed in the last update on March 27th.

[2020-04-14 16:29] rboucher commented on #49252
#please-close

[2020-04-14 16:29] #49252 closed

[2020-04-14 16:42] susej2 opened #52383 "Missing resource URi"
When creating a VM from a custom image the parameter /ImageName must include the full resource Id. Otherwise this can not be created under a different RG thru PS.
This is not indicated on the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 194

[2020-04-14 16:43] philipstreet-hiscox opened #52384 "Duplicate NSG rules"
There appear to be two sets of duplicate Inbound rules;

1) "Communication to your logic app" & "Logic app run history" have the same Source/Destination & Port.

2) "API Management - management endpoint" & "Connector policy deployment" have the same Source/Destination & Port. A previous support ticket identified that one of those rules should have Source = Internet. I also mentioned this as a corr

[2020-04-14 16:44] Minewiskan commented on #52259
@gaikovoi  - This is described in two articles, [Manage database roles and users](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-database-users) and [Manage server administrators](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-server-admins). Both include the following statement.
**Security groups** must be mail-enabled with the MailEnabled p

[2020-04-14 16:48] Nickomang commented on #50957
Hi @floriangrousset, thanks for bringing this to our attention. Sorry to say I can't share any information on when 7.X will be coming to the onebox image. In any case, I've made sure to update the article in question and any others that make use of the now-deprecated image.

Best,
Nick

#please-close

[2020-04-14 16:48] #50957 closed

[2020-04-14 16:48] tfitzmac commented on #52320
@Roblarson - thanks for your feedback. Unfortunately, alerts and notifications are too big to cover here. They are best covered through the [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/) documentation.

[2020-04-14 16:48] tfitzmac commented on #52320
#please-close

[2020-04-14 16:48] #52320 closed

[2020-04-14 16:49] AP-Nick commented on #43306
We're on New York, and the custom script did not work. It kept redirecting to that SSOCIRCLE site. Switched it back to Update1 and it worked as expected.

Build name: Newyork
Build date: 03-02-2020_2243
Build tag: glide-newyork-06-26-2019__patch7-02-25-2020

[2020-04-14 16:49] mesteves opened #52385 "SFTP Linked Service (Connection)"
# SFTP Connection customization / parameterization

I have some pipelines that use the connector-sftp, and I have different environments that need to run under different sftp accounts. How can such setting be configurable (example by getting values from vault).
https://docs.microsoft.com/en-us/azure/data-factory/connector-sftp

The only option available to pick from vault is the password.

Is it p

[2020-04-14 16:52] marcusmills opened #52386 "Outbound communications question"
In "Connection policy" -> "Redirect (recommended):": Do you need to allow outbound communication from the client to all Azure IP addresses in the region or just Azure SQL IP addresses for port range 11000-11999?  The suggestion to use service tags would suggest just the Azure SQL IPs but this is contrary to the first statement.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-14 17:04] #52099 closed

[2020-04-14 17:07] shashishailaj commented on #51842
@Wibbbs If you are looking for uploading the certificate within an app service instance directly from windows , its not possible. You would have to upload the certificate from portal and once that is done you can use the cmdlets as explained in the article to update the certificate.

Thank you.

[2020-04-14 17:08] #52073 closed

[2020-04-14 17:12] ajlam commented on #52270
@WenJason - I'm working on the PR to add CLI support. This should be published within the next 24 hours.

[2020-04-14 17:13] KranthiPakala-MSFT commented on #52364
@VitalyMCT Thanks for reaching out. Could you please elaborate more on your feedback and also please point us to the ticket you are referring to?

[2020-04-14 17:15] KranthiPakala-MSFT commented on #52367
@smoms
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-04-14 17:17] FlorianBorn71 commented on #52258
#please-close

[2020-04-14 17:17] #52258 closed

[2020-04-14 17:18] FlorianBorn71 commented on #52059
#in-progress

[2020-04-14 17:19] KranthiPakala-MSFT commented on #52374
@Will-Hyde
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-04-14 17:29] henriquebelotto commented on #51826
I can see my application when I go to this option. But then, the [step 2](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=applications#test-the-custom-policy) doesn't work because I cannot see the application there.

[2020-04-14 17:30] AshokPeddakotla-MSFT commented on #51847
@ElliotWood you have mentioned, Changing isAsync to "False" fixed the issue. However, we do not see such type of issues. If there are no further questions on this, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-14 17:30] #51847 closed

[2020-04-14 17:31] msrini-MSFT commented on #52361
@coaldric , You will search for "Public IP Prefix" and you can see the resource from the search results as below;

![image](https://user-images.githubusercontent.com/47132998/79255267-9ef75600-7ea3-11ea-808c-a8e8e5509014.png)

Then select the Public IP prefix from the result. It will take you to the resource itself where you can see all the Public IP Prefix which you have created. Then select the

[2020-04-14 17:32] YutongTie-MSFT commented on #52381
@KatieProchilo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-14 17:33] FlorianBorn71 commented on #52193
Hi @cevanno, do I understand your initial comment correctly that the render statistics indicate that no polygons are rendered? I assume the built-in engine model renders fine so the video stream etc. is working properly?
What can also be a problem is that the model is outside the view frustum, because it has been exported with far off-center pivot. To rule out that issue, can you try exporting wit

[2020-04-14 17:34] VitalyMCT commented on #52364
I am unsure what additional information you are looking for.

The ticket # is in the subject line: https://github.com/MicrosoftDocs/azure-docs/issues/44888

It's marked as resolved, however, it's not resolved.

[2020-04-14 17:34] msrini-MSFT commented on #52348
@douglaswaugh , You can configure your health monitoring of Traffic manager. You can either choose TCP based health check up or HTTP or HTTPS based health check up.

If it is a TCP based probe, then you need to have a successful TCP handshake.
If it is HTTP or HTTPS based probe, then you will be need a 200 OK response from the endpoint.

[2020-04-14 17:34] PeterCLu commented on #51354
@ezwiefel Currently, they need "reader" access to score a model.

[2020-04-14 17:36] Noutlaw1 opened #52388 "OBSystemState cmdlets do not exist anymore."
Referring to this line here:

New-OBPolicy | Add-OBSystemState |  Set-OBRetentionPolicy -RetentionPolicy $rtn | Set-OBSchedule -Schedule $sched | Set-OBSystemStatePolicy

It looks like several of these cmdlets do not exist anymore, at least based on the module documentation here: https://docs.microsoft.com/en-us/powershell/module/msonlinebackup/?view=winserver2012-ps

Specifically:

Add-OBSystemSt

[2020-04-14 17:37] himanshusinha-msft commented on #51958
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-14 17:38] AshokPeddakotla-MSFT commented on #52271
@saitejakothamasu Please share more details along with screenshots to help you further on this.

Mean while, please leverage the [troubleshooting guide](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#troubleshooting) and see if it helps to identify the issue and solve it?

[2020-04-14 17:39] RyanHill-MSFT commented on #51611
Hi @RonnieQuan, apologies for the delayed response. Using

![this](https://docs.microsoft.com/en-us/azure/app-service/media/web-sites-integrate-with-vnet/vnetint-regionalworks.png)

as a guide, Service Endpoints are configured through your VNet. When added, your essentially extending the address space range; essentially creating a tunnel between your subnet of the VNet and the list of addresses th

[2020-04-14 17:43] trudolf-msft opened #52389 "Link broken"
Q: Is there an API to access the password reset or registration reporting data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e52e30ad-95a6-9779-b884-d4648653f3a8
* Version Independent ID: d3e67e0e-1c20-7ab2-54a3-0b6f6542ccfb
* Content: [Self-service password reset FAQ - Azure Active Directory](https://docs.microsoft.

[2020-04-14 17:44] dsindona commented on #43197
@mnoc2 sorry for the delay on this. Virtual Machine offers are being migrated to Partner Center. Please see the newer documentation that has additional steps around Azure Key Vault and might clear things up for you: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/azure-vm-image-certification
Please let me know if you have any additional questions.
#please-close

[2020-04-14 17:44] #43197 closed

[2020-04-14 17:44] mamccrea commented on #52364
Thanks for bringing this to our attention @VitalyMCT. I've updated the doc to use Azure Synapse. Please allow a few hours for the changes to go live.

#please-close

[2020-04-14 17:44] #52364 closed

[2020-04-14 17:47] ezwiefel commented on #51354
@PeterCLu - Thanks! I eventually figured that out, but we should make sure it’s clear in the docs.

[2020-04-14 17:48] PeterCLu commented on #51571
@mjmaldonado, thanks for your report.

Generally ml-core should work with the latest runtime. We are  testing runtime version compatibility with auto-ml and will update the doc when that completes.

[2020-04-14 17:51] Heidilohr commented on #51652
@sajidfaizan The query error happens because there are no errors to report.

If you go to the workspace where your diagnostics data is, then go to **Logs** and check the **Tables** tab in the query, you can see if there are any errors listed there. If there's no table, then that means there are no errors for the query to report, which is why the query fails.

[2020-04-14 17:51] PeterCLu commented on #51354
Thanks @ezwiefel , your feedback has been heard! Glad to hear you were able to figure things out though! #please-close

[2020-04-14 17:51] #51354 closed

[2020-04-14 17:52] FlorianBorn71 commented on #52193
Here is what you can do without re-exporting: You can have a look at the bounding box extent of an exported model. This is described here:

https://docs.microsoft.com/en-us/azure/remote-rendering/how-tos/conversion/get-information

(The outputStatistics section -> boundingBox entry).
You may notice that bounding box values (min/max position) are not centered around the origin, but far off in one d

[2020-04-14 17:53] BhargaviAnnadevara-MSFT commented on #52140
@AlissonRS AFAIK, this is not doable directly from the App Insights portal.

However, you can choose to drill down on your query in the Log Analytics blade from the "View in Logs" option as follows, to see data in UTC time:

![image](https://user-images.githubusercontent.com/44050820/79257132-d0255580-7ea6-11ea-99ab-dd3d039ab2f4.png)

Please use this workaround for the time being while I check fur

[2020-04-14 17:54] coaldric commented on #52361
Hey Karthik,

Sorry, I did this on the fly and didn't give you much to work with. I was following this portion of the doc:

![Capture](https://user-images.githubusercontent.com/57390775/79257092-69457380-7e89-11ea-867a-9a6c12cd8f0c.JPG)

![image](https://user-images.githubusercontent.com/57390775/79257175-8c702300-7e89-11ea-9ac0-0356309b0983.png)

![image](https://user-images.githubusercontent.com

[2020-04-14 17:56] KranthiPakala-MSFT commented on #52126
@basilwong Thanks for providing additional info. I have reached out to internal team to get more clarification about your ask and will get back to you once I have a response from the team.

[2020-04-14 17:57] coaldric commented on #52361
So just to be clear: https://docs.microsoft.com/en-us/azure/virtual-network/manage-public-ip-address-prefix#create-a-public-ip-address-prefix portion is incorrect as "At the top, left corner of the portal, select + Create a resource.

Enter public ip address prefix in the Search the Marketplace box. When Public IP address prefix appears in the search results, select it." doesn't work as written.

[2020-04-14 17:59] vhorne commented on #51155
fixed
@please-close

[2020-04-14 17:59] #51155 closed

[2020-04-14 17:59] divyaswarnkar commented on #52103
@anttitoippa for Send scenarios i.e when you send message from Logic Apps to SAP, we now support plain XML as well, along with Biztalk based schema. For receive, the support for plain XML will come later this year. Hope this answers your question.

[2020-04-14 18:00] jmorgansmith opened #52392 "Add additional columns during copy"
In "Tip" section, need to add comment to refresh schema via "Import Schema" on "Mapping" tab to enable easier mapping.

Might want to also include JSON example for mapping Additional Columns....

                            {
                                "source": {
                                    "path": "$['additional column here']"
                                },

[2020-04-14 18:02] RonnieQuan commented on #51611
Thanks for the detail information and the beautiful diagram, it make perfect sense.
I guess the wording is vnet integration route RFC1918 traffic and route traffic for list of service endpoint addresses.

[2020-04-14 18:03] msrini-MSFT commented on #52361
@coaldric , Thank you for your feedback. I will update the doc shortly.

[2020-04-14 18:03] dlepow commented on #52053
@davidzwa - Thanks for your feedback. This behavior is documented in the [ACR FAQ](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#az-acr-login-succeeds-but-docker-fails-with-error-unauthorized-authentication-required). In short, the Azure resource name of a registry can be mixed case, but the fully qualified login server name must be all lowercase for docker opera

[2020-04-14 18:03] sladeedmonds commented on #49449
Please answer... why would you choose one or the other?

[2020-04-14 18:05] msrini-MSFT commented on #52361
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/111345

[2020-04-14 18:06] ezwiefel commented on #51354
@PeterCLu - This issue / feedback should remain open. We don't have the required permissions documented anywhere...

[2020-04-14 18:09] mmacy commented on #52162
@kiwimarc Thanks for spotting these errors - fix coming up.

[2020-04-14 18:10] Lahiru89 commented on #50216
I encountered with the same issue. The initial account used to manage PIM for others does not automatically gets assigned Privilege Role Administrator or Security Administrator roles. And when eligible Global Administrator activates his account he can change everything in PIM; assign more roles to self, change settings and even remove other accounts from PIM. That is absurd. Previously it worked w

[2020-04-14 18:11] #52361 closed

[2020-04-14 18:14] KranthiPakala-MSFT commented on #52285
@BoOnAzure Thanks for your response. Looks like the initial issue was resolved. The latest error might be due to incorrect Query in Source of your `CopyData Activtiy` inside `IterateSQLTables activity`

Could you please verify if your query is same as this - `SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]`

Please compare your `IterateAndCopySQLTables` pipeline with below pipeline J

[2020-04-14 18:17] bingoglossy opened #52393 "Step 2 under "Get data using the Azure Active Directory reporting API with certificates" does not exist for me"
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutorial-access-api-with-certificates#get-data-using-the-azure-active-directory-reporting-api-with-certificates

In my view there is not a "Settings" option after clicking on my app. Is this the older GUI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-14 18:18] FlorianBorn71 commented on #52061
Hi @reneschulte , is this essentially the same problem as discussed with @rikogeln earlier today, i.e. the missing -UseContainerSas parameter?

[2020-04-14 18:20] dlepow commented on #51606
@turing-complet @jakaruna-MSFT - Apologies for jumping in late here. Unfortunately, a managed identity  enabled in a container group can't be used to pull an image from ACR to create a container. The identity is only available *within* a running container, not at create time. I have a documentation work item to update the ACI managed identity article with that information.

For your scenario, woul

[2020-04-14 18:21] reneschulte commented on #52061
Not really the same issue but we can close this as well as it seems fixed now. Thanks.

[2020-04-14 18:21] #52061 closed

[2020-04-14 18:27] PeterCLu commented on #52368
#assign:@sdgilley

[2020-04-14 18:28] mmacy commented on #52162
@Karishma-Tiwari-MSFT @kiwimarc Fix in https://github.com/MicrosoftDocs/azure-docs-pr/pull/111351 has been merged, changes should be visible sometime after 3PM PST publish today.

[2020-04-14 18:30] JLunda opened #52394 "Provider Needs Required Features Field"
As of version 2.0, the provider is required to be configured with a features field, even if that field is just an empty block. The following block of code can be added to the variables.tf file to prevent the terraform apply command from throwing an error for the required features field. This is direct from the CLI documentation: https://www.terraform.io/docs/providers/azurerm/index.html#example-us

[2020-04-14 18:33] henriquebelotto commented on #51826
@yoelhor
I think that I found why I can't see the application, as shown below.
![image](https://user-images.githubusercontent.com/38217514/79260421-3e90f600-7e5c-11ea-9f78-defa6ca32c1a.png)

Because when I registered the application I selected the option "Accounts in this organizational directory only", so the application is not accessible by selecting from the list or trying to access through the

[2020-04-14 18:36] roygara commented on #49449
@OffColour @sladeedmonds Sorry for the delayed response. The question of which one you select would be entirely up to you. It's your environment. I checked with the product team to see if they had any additional advice we could add to the doc but, they made it clear that this is a choice that end users make entirely on their own, for their AD DS.

[2020-04-14 18:44] Mikhail-msft commented on #42074
This is a correct - currently the extension needs to be turned on in case if SQL command capture is required (for older .net). The agent itself will back-off if SDK is present.
That behavior might change in future, there the extension's agent will take over the SDK.

[2020-04-14 18:44] gaikovoi commented on #52259
@Minewiskan that would be great to have a bit more clarification in the tutorial.

Also, you comment and the whole previous discussion raised a branch of questions.
1. Are "office"-type groups allowed the be used as security principals in AzAS?
2. Do I really need to have "security" group mail-enabled? Even mail-enabled security group still has to be referenced as **obj:groupid@tenantid**, not by

[2020-04-14 18:45] mrbullwinkle commented on #42074
Perfect, thank you for confirmation. I will add a note to the docs, but we can remove it if we change the behavior in the future.

[2020-04-14 18:48] SnehaGunda commented on #51900
@HUBBER12 Currently attachments are under deprecation, we recommend that you use Azure blob storage. There aren't any plans for the attachments version 2. However, we are working on AAD support with new roles that will allow you to manage permissions in an easier way.

[2020-04-14 18:53] rothja commented on #32134
@allenwux I'm assigning this issue to you. Thank you! #reassign:allenwux

[2020-04-14 18:54] captainyakult commented on #38319
I have the same issue. I've spent an entire day trying to fix this. So frustrating

[2020-04-14 18:57] HUBBER12 commented on #51900
Thanks @SnehaGunda.  Please close this case now.  Have a great rest of your week.

[2020-04-14 18:57] #51900 closed

[2020-04-14 19:03] CeciAc opened #52395 "Link "Dispatch an Event Grid event""
@kitingChris commented on [Tue Apr 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/648)

Link points to the current site. Please update with the correct link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79bffab-0af8-75fc-f800-73eb979611ad
* Version Independent ID: ca382131-4030-d1ba-44d4-35309bb91f

[2020-04-14 19:09] robcamer opened #52396 "Add documentation on how to have this function with the storage account also in the Virtual Network"
It would be great to add what's required to have this configuration function with the Storage Account used by the Azure Function and VM also configured in the Virtual Network as that is likely what would be the deployed configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4662c6-e943-b48f-6d19-8d0db28007b5
*

[2020-04-14 19:12] mrvladis opened #52397 "Azure AD B2C SAML metadata url is incorrect"
[Enter feedback here]
Azure AD B2C SAML metadata url should be https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/your-policy/samlp/metadata?idptp=your-technical-profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Independent ID: 054d298b-937e-9f01-a

[2020-04-14 19:22] davidzwa commented on #52053
Hmm I would throw a warning in the CLI, since this should not be advised as the error at docker's side is misleading i.m.o.

[2020-04-14 19:22] Karishma-Tiwari-MSFT commented on #52354
@dheerajkumar-solanki  Since you closed this issue, wanted to check if this issue is resolved?

[2020-04-14 19:23] tfitzmac commented on #52302
@vladvino - can you clarify whether the limit of 10 CA certificates per service instance applies to Consumption tier?

[2020-04-14 19:28] SaurabhSharma-MSFT commented on #52389
@trudolf-msft Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 19:28] SaurabhSharma-MSFT commented on #52393
@bingoglossy Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 19:29] bwren commented on #52015
@dl8on You are absolutely correct and thanks for pointing this out. Cross tenant does require lighthouse. I'll get a note in there specifying that.

[2020-04-14 19:29] SaurabhSharma-MSFT commented on #52397
@mrvladis Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 19:33] shashishailaj commented on #52033
@MicrosoftGuyJFlo Could you please review this one and see if we can add a detailed section on the reporting data available depending upon the licenses?

@Jared-Harrington-Gibbs We are assigning this to the content authors for review and this thread will be updated accordingly.

[2020-04-14 19:35] KranthiPakala-MSFT commented on #52392
@jmorgansmith  Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-04-14 19:42] dddugan commented on #51589
Me, too. We need a supported way to require MFA on a specific application every time or within a relatively short session. Example: MFA is generally required for Azure AD protected applications, and users are allowed to check do not challenge again for 14 days. However, a highly sensitive application should require MFA to occur every time or within the last X minutes, disregarding the do not chall

[2020-04-14 19:44] dsindona commented on #52007
#in-progress

[2020-04-14 19:44] nastassiar opened #52398 "Error message about SKU when trying to assign custom role to group"
When trying to assign custom roles, there is a notification stating that due to the plan level we cannot assign a role to a group.

This seems odd since we are using the Premium P1 SKU and from what the documentation says this doesn't have anything to do with SKU and is due to the fact that assigning custom roles to groups currently isn't possible: https://feedback.azure.com/forums/169401-azure-ac

[2020-04-14 19:47] Coopem16 opened #52399 "LOB App built with the Intune SDK"
Does the Require Approved Client App aslo support applications bult with the Intune SDK?
https://docs.microsoft.com/en-us/mem/intune/developer/apps-prepare-mobile-application-management.

Or is this restricted to these apps only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Vers

[2020-04-14 19:48] vladvino commented on #52302
@tfitzmac CA certs are not supported in the Consumption tier.

[2020-04-14 19:48] JasonWeiand-MSFT commented on #52325
Hi Grace,

Thank you for the super quick response.

Steps:

  1.  Create an app service in a resource group of your choosing in one region.
  2.  Create a storage account in that same resource group but in a different region.
  3.  In the portal, go to your app service and select Application Logging from the left pane.
  4.  Select Application Logging(Blob) > “On”
  5.  Click storage settings unde

[2020-04-14 19:50] shooker opened #52400 "Add Private Link"
In the final section, "Secure your critical Azure service resources to only your virtual networks" could there be a section about Private Link added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a52c6eeec07a
* Content: [Best practi

[2020-04-14 19:51] #52217 closed

[2020-04-14 19:53] RudyEvers commented on #38319
@captainyakult Did see you the cause of my problem?
By deleting the application data of Azure Storage Explorer and restarting Azure Storage Explorer I could create containers in the blob.

[2020-04-14 19:54] MarileeTurscak-MSFT commented on #52400
@shooker
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 20:04] Coopem16 opened #52401 "Whiteboard"
Should witeboard be in this list it is not protected by the Intune SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure Active Directory](https://docs.micros

[2020-04-14 20:16] CeciAc opened #52402 "Azure Account Center> Profile> No [Tax record]"
The comments below were machine-translated

@HannahHsiao commented on [Tue Apr 14 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/615)

Azure Account Center> Profile> No [Tax record]

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 4fb8bd80-8dc3-94be-dc1e-7cd6428da63c
* Version Independent ID: 523e8db2-6428-6a51-b536-c3d531560aee
* Content: [變更您用於 Azure

[2020-04-14 20:17] sir-wally opened #52403 "how to run in-place upgrade"
This article doesn't actually tell you how to update the client... how you do you update it? Do I download the latest version and install it, or run an update from the current client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent ID: 0ea93b27-477a-84e5-3d93-67

[2020-04-14 20:29] Phatage commented on #52292
Thanks for that, after making that modification on line 216 of ARRServiceUnity.cs, I'm now getting a new error below that seems to be hanging everything up. I tried it both with my VPN on and off, as well as on my HL2 which has no VPN and is on my home wifi network. I'll admit I'm not any sort of expert but it looks like to me that the error reporting at RemoteRendering.cs:304 is itself having an

[2020-04-14 20:29] rtaylor72 opened #52404 "Getting undocumented error 0x801c0042 (-2145648574)"
2020-04-14T19:19:57.4557707Z	[Information]:	Getting Tenant ID from MSI.
2020-04-14T19:19:57.4557707Z	[Information]:	Targeting host name:169.254.169.254, url path: /metadata/identity/info?api-version=2018-02-01
2020-04-14T19:19:57.4713913Z	[Information]:	DsrCmdAzureHelper::GetMetadataRestResponse: HTTP Status Code: 400
2020-04-14T19:19:57.4713913Z	[Information]:	dwDownloaded:68, dwCombinedSize:68
2

[2020-04-14 20:35] amittapas commented on #50444
Facing same issue, here are the CLI versions,
azure-cli                          2.2.0 *

[2020-04-14 20:43] mgblythe commented on #48506
#assign @santhoshsomayajula

[2020-04-14 20:44] mgblythe commented on #48506
@santhoshsomayajula - can you take a look at this one and let me know if there's any doc changes and/or if you want the OP to open this as a product request.

[2020-04-14 20:47] bchen007 opened #52405 "Cannot start xrdp on my 18.04 Ubuuntu VM"
I followed the instructions to install but getting an error 'failed" when running the start command:

sudo service xrdp start
Job for xrdp.service canceled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use

[2020-04-14 20:54] bingoglossy commented on #52393
This may help:

"Public keys are now referred to as Certificates. Passwords are now referred to as Client secrets.

https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide-for-app-registrations-legacy-users#keyscertificates--secrets

Thanks!

[2020-04-14 20:56] GiftA-MSFT commented on #52319
@CeciAc [Bing Search API use and display requirements](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/use-display-requirements) is part of the [Online Services Terms](https://www.microsoftvolumelicensing.com/DocumentSearch.aspx?Mode=3&DocumentTypeId=31). The following also document provides relevant compliance and privacy information regarding Azure Cognitive Services. H

[2020-04-14 20:56] #52319 closed

[2020-04-14 21:04] YutongTie-MSFT commented on #52005
@PatrickFarley Hi Patrick, could we have a sample for local file? It's confused to customer since there need to be done some changes with the sample above. Thanks.

[2020-04-14 21:16] Mike-Ubezzi-MSFT commented on #52386
@marcusmills Thank you for bringing this to our attention. I believe this is an omission as it should read

[2020-04-14 21:17] YutongTie-MSFT commented on #52018
@CeciAc Hi Cecilia, customer need to replace "YOUR_ENDPOINT" with their actual endpoint url from portal then it should be fine.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-14 21:17] #52018 closed

[2020-04-14 21:19] Mike-Ubezzi-MSFT commented on #52386
@rohitnayakmsft for awareness. Can you verify if this is correct or if a doc update needs to be made.

[2020-04-14 21:20] YutongTie-MSFT commented on #52021
@CeciAc This is duplicate with https://github.com/MicrosoftDocs/azure-docs/issues/52043
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-14 21:20] #52021 closed

[2020-04-14 21:26] MonikaReddy-MSFT commented on #52327
@SeaDude , Live Metrics for PowerApps is not currently supported and there is no plan to support LiveStream.

I hope the above response answer your question and we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-14 21:26] #52327 closed

[2020-04-14 21:28] femsulu commented on #52108
Good question, @Borkason. AFAIK, this Windows Update pop-up is specific to Microsoft Monitoring Agent setup. The simply means the agent will be updated via Windows Update. This shouldn't change any pre-existing update preferences on your server(s). Doesn't hurt to [double-check your Windows Update settings](https://www.youtube.com/watch?v=PZiC2RY6ZzQ) once the agent installation has been successfu

[2020-04-14 21:29] MarkusKoenig73 opened #52406 "how to set up win 2016 DSVM"
Hello
a month ago it was still possible to create a win 2016 DSVM, can you give me instructions how to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 256bb460-6bd0-404e-a720-f50ea44ab46c
* Version Independent ID: b58ada0a-8f5f-1d00-6baf-e06fc2caabe4
* Content: [Quickstart: Create a Windows Data Science Virtual

[2020-04-14 21:31] femsulu commented on #52108
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-14 21:31] #52108 closed

[2020-04-14 21:35] PatrickFarley commented on #52005
@rringham You've entered your actual subscription key in the appropriate header, correct?

[2020-04-14 21:35] BrendaMeng commented on #51785
@manish-95  Thanks for the sharing.  Will try to enable redeployment for this account and get back.

[2020-04-14 21:38] MarileeTurscak-MSFT commented on #52082
I do not have any IotEdge devices so am unable to test this. Assigning this issue to the author for further investigation.

[2020-04-14 21:38] mrvladis opened #52408 "Update and test the relying party file section missing step"
Within the "Update and test the relying party file" you should have an additional step:
SignUpOrSignIn.xml  - also has a reference to AzureAD tenant in both
[code]

It is also mentioned within the:

[code]

The other step that this section is missing is reference to the custom policy:
`    <PolicyId>B2C_1A_TrustFrameworkExtensions</PolicyId>`
It is referring to "default" one, while previously arti

[2020-04-14 21:39] YutongTie-MSFT commented on #52005
@PatrickFarley
According to the document, customer changed the var in their console
setx COMPUTER_VISION_SUBSCRIPTION_KEY "your-key"

[2020-04-14 21:42] mrbullwinkle commented on #52327
@SeaDude just to tag on to the response. If you are interested in this functionality being added to PowerApps in the future, you can post a suggestion here to get the feedback in front of the PowerApps PM team: [https://powerusers.microsoft.com/t5/forums/postpage/board-id/PowerAppsIdeas](https://powerusers.microsoft.com/t5/forums/postpage/board-id/PowerAppsIdeas)

[2020-04-14 21:47] YutongTie-MSFT commented on #52043
@appleyuchi Could you please try:
client = WebSearchClient(CognitiveServicesCredentials(subscription_key), endpoint="https://api.cognitive.microsoft.com/bing/v7.0" )?

Thanks.

[2020-04-14 21:49] ju-shim commented on #52340
Thank you for your response, @mimckitt.

@VikasPullagura-MSFT this issue can now be closed. No further work on the doc in question will happen at this time. Thank you!

[2020-04-14 21:51] PatrickFarley commented on #52005
@rringham Can you confirm you've set the env variables?

[2020-04-14 21:55] turing-complet commented on #51606
@dlepow thanks, that makes sense. I was thinking the managed identity would apply to the container group resource, as opposed to the containers themselves. The arm template solution is fine, still wish the yaml file deployment supported environment variables, but that's a different issue. Feel free to close this out.

[2020-04-14 21:59] KranthiPakala-MSFT commented on #38713
Hi @guntaled, Thanks for bringing this point to us. We have verified this with internal engineering team and confirmed that the minimum window interval for TWT is now reduced from 15 minutes to 5 minutes.

I have submitted a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/111382) to update the doc from 15 minutes to 5 minutes. The changes should be reflected within 24hrs.

Thanks again fo

[2020-04-14 22:01] patrickjlee commented on #52236
As I mentioned in my original comment, I am using a dev environment that should support single sign-on (SSO): I am using Visual Studio 2019 ("Using the code above in debug mode, even after choosing an Account for Azure Service Authentication gives a runtime error when the following line is executed:").  That is all I need to do to access a SqlServer database when running a Visual Studio project in

[2020-04-14 22:01] MarileeTurscak-MSFT commented on #52097
It does appear to be supported for on-premises exchange for Outlook mobile apps. https://docs.microsoft.com/en-us/mem/intune/protect/conditional-access-intune-common-ways-use

This was announced in 2018. https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/11530827-conditional-access-for-on-premise-exchange-and-out

Note, however:

"Microsoft Outlook for Android and iOS/iPadOS is

[2020-04-14 22:02] TravisCragg-MSFT commented on #52359
@Neelkamal10 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-14 22:02] MarileeTurscak-MSFT commented on #52097
Hope this helps! If you have further questions or if I misunderstood anything about your ask, feel free reach us on [Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or open a new issue.

[2020-04-14 22:02] #52097 closed

[2020-04-14 22:03] tfitzmac commented on #52302
@vladvino - thanks!

@spmanjunath - the [CA certificate article](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-ca-certificates) in the API management docs states the supported tiers.

[2020-04-14 22:04] tfitzmac commented on #52302
#please-close

[2020-04-14 22:04] #52302 closed

[2020-04-14 22:04] TravisCragg-MSFT commented on #52372
@clarkmac Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-14 22:08] TravisCragg-MSFT commented on #52373
@ppothnis Thanks for the feedback. We are actively investigating and will get back to you soon.

Can you post a link to any Azure Doc besides the Rest API that you are using?

[2020-04-14 22:12] CeciAc opened #52409 "Single application or multiple"
@erwinkramer commented on [Tue Apr 14 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/588)

So the text is: "running only a single customer's applications", did you really mean to say applications (plural) or application?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: af931817-c3c8-6376-d

[2020-04-14 22:26] TravisCragg-MSFT commented on #52394
@JLunda Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-14 22:26] GiftA-MSFT commented on #52330
@kecoli please refer to the above response. Will proceed to close this thread. Thanks.

[2020-04-14 22:26] #52330 closed

[2020-04-14 22:28] BharathNimmala-MSFT commented on #52366
@JJDE Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-14 22:29] tamram commented on #52236
@patrickjlee - If you are using VS 2019, then you should not need to create the service principal and populate the environment variables, as explained in the doc. The environment variables are only necessary if the environment does not support SSO.

We are unable to reproduce your error. Because this is not an issue relating to the documentation, nor to Azure Storage, I am closing this issue, and

[2020-04-14 22:29] #52236 closed

[2020-04-14 22:30] BharathNimmala-MSFT commented on #52382
@nwipfli  Thank you for your feedback, we will look into it and update the document accordingly.

[2020-04-14 22:31] BharathNimmala-MSFT commented on #52388
@Noutlaw1 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-14 22:33] CeciAc opened #52410 "Can container use local disk on VM in AKS node pool?"
@CodingXCat commented on [Tue Apr 14 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/715)

Can container use local disk on VM in AKS node pool or using K8s hostdisk mount?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724d659c-dcc8-7c77-1994-b3e8cc62eb8f
* Version Independent ID: f6c82819-267b-6d05-fb0b

[2020-04-14 22:34] tamram commented on #50938
@marceardz - The token is automatically continually renewed before it expires.

Here's some more information about the DefaultAzureCredential type:

https://docs.microsoft.com/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet
https://azure.github.io/azure-sdk/posts/2020-02-25/defaultazurecredentials.html

#please-close

[2020-04-14 22:34] #50938 closed

[2020-04-14 22:37] MarileeTurscak-MSFT commented on #52408
@mrvladis
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 22:38] CeciAc opened #52411 "Small correction"
@marcelo-salvatori commented on [Tue Apr 14 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/592)

"Scale up events" and "Scale down events" subtopics should be changed to "Scale out events" and "Scale in events", since there's no resource being added to existing nodes, but new nodes are being added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-14 22:44] SaurabhSharma-MSFT commented on #49786
@arowse-pfl I have received an update from the product team that is a bug and team is working to provide a fix.  I am unable to provide an ETA yet, but will update here if get to know more.  Sorry for your inconvenience and appreciate your patience on this.

[2020-04-14 22:44] alanflanders opened #52412 "No compute target available to generate profile"
I have two running compute resources attached to my workspace, but neither is available to generate a profile for my dataset. Please could you describe exactly the criteria for generating a profile wrt a compute resource. Particular region? Size of compute? Is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-14 22:45] MarileeTurscak-MSFT commented on #52404
@rtaylor72
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 22:45] MarileeTurscak-MSFT commented on #52401
@Coopem16
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 22:48] j03INTHECLOUD commented on #36849
This is still an issue!!!!!!

[2020-04-14 22:49] ernani commented on #6209
This is what worked for me, the doc should at least update the proper approach:

![image](https://user-images.githubusercontent.com/114523/79281382-fa681a80-7e88-11ea-9771-3798b7d01af3.png)

[2020-04-14 22:49] NavtejSaini-MSFT commented on #52380
@browseaware These are few of external blogs to get started in addition above mentioned Git Document.
https://www.oraylis.de/blog/understanding-pdw-data-movement-service-dms
https://cloudmonix.com/blog/azure-sql-data-warehouse-improves-the-data-querying-performance/

Please let us know if you have any specific question on this and we will try to get that info from our internal teams.
Hope this hel

[2020-04-14 22:53] MarileeTurscak-MSFT commented on #52401
Require approved client app was recently updated with Whiteboard. @pelarsen , I saw that you made an announcement about this so please comment if you have details to share.

 https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant

[2020-04-14 22:54] MarileeTurscak-MSFT commented on #52401
I will proceed to close this thread but feel free to open a new one if you have further questions or comments.

[2020-04-14 22:54] #52401 closed

[2020-04-14 22:54] #52262 closed

[2020-04-14 22:57] dl8on commented on #52015
Thanks for clarifying, @bwren! Although I am disappointed that Lighthouse is required, I’m glad I’m no longer asking myself why I can’t get this figured out. :)

[2020-04-14 22:58] PatrickFarley commented on #47408
Hi, I've just asked the PM about this. The "elements" issue is straightforward, but the "fieldName" issue is tricky because it still shows up in my sample output.

[2020-04-14 22:59] axdemendoza opened #52413 "Unable to create new Compute Instance"
I'm going through this tutorial with the free trial subscription (East US), but I am unable to create a compute instance at step #4 of Open the Cloned Notebook. The error I get is "The specified subscription has a total vCPU quota of 0 and is less than the requested compute training cluster and/or compute instance's min nodes of 1 which maps to 1 vCPUs". However, the free subscription has a vCPU q

[2020-04-14 22:59] shivanissambare commented on #52406
Hi @MarkusKoenig73
Any particular reason you don't want to create a Windows 2019 DSVM?

[2020-04-14 23:00] TravisCragg-MSFT commented on #52377
@RonnieQuan Reverse DNS queries are only scoped to the same virtual network, so VM2 in VNET 2 will not be able to do a Reverse DNS Query for a VM in VNET 1. For more information, [please review this scenario](https://docs.microsoft.com/en-us/azure/dns/private-dns-scenarios#scenario-name-resolution-across-virtual-networks).

We will now proceed to close this thread. If there are further questions r

[2020-04-14 23:00] #52377 closed

[2020-04-14 23:01] Eldar1205 opened #52414 "Reliability of scans triggering on push"
Hi,
I read the statement "Image scans are triggered on every push" - how reliable is this? Does ASC rely on notifications from the ACR that may get lost over internet, or does ASC proactively checks for image versions and guarantees eventual consistency of scans?
Additionally, if I'd like to deny an image push in case of some vulnerabilities that are a no-go for production, is there a way to trigg

[2020-04-14 23:02] greendx commented on #50685
Seems to have worked for me with CentOS 7.7 about an hour ago.

[2020-04-14 23:04] MarileeTurscak-MSFT commented on #52402
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 23:05] MarileeTurscak-MSFT commented on #52403
@sir-wally
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 23:05] Karishma-Tiwari-MSFT commented on #52060
@MicrosoftDocs/aks-pm Can you please share your insights on this customer question? Thanks :)

[2020-04-14 23:06] Karishma-Tiwari-MSFT commented on #52100
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-14 23:06] #52100 closed

[2020-04-14 23:06] TravisCragg-MSFT commented on #52378
@RonnieQuan  closing as duplicate of #52377.

[2020-04-14 23:06] #52378 closed

[2020-04-14 23:08] PatrickFarley commented on #48427
I've created a PR to fix this.
@MikeCodesDotNET , Thanks for pointing out this mistake - the scenario for local image reading wasn't meant to be described in this doc.

[2020-04-14 23:09] Karishma-Tiwari-MSFT commented on #52158
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-14 23:09] #52158 closed

[2020-04-14 23:11] Karishma-Tiwari-MSFT commented on #52194
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-14 23:14] TravisCragg-MSFT commented on #52206
@orloffm As is stated in the doc, the A record must be manually updated if the underlying IP address for the web app changes. a CNAME is recommended unless you are using a root domain.

Please let me know if you have any additional questions.

[2020-04-14 23:18] vikramdadwal commented on #49730
@diberry : I tried the train API, but It is not making any changes in the QnA. Do we need to enable anything ?

[2020-04-14 23:19] Eldar1205 opened #52416 "Host level protection with AKS"
AKS team says that the VMs running AKS pods should be untouched by customers directly, so how can Security Center's agent be running on the host? Will AKS install it on customer's behalf if Security Center is used to monitor cluster security? Will Security Center auto-install on the host for customers and AKS team will keep supporting the clusters?

---
#### Document Details

⚠ *Do not edit this s

[2020-04-14 23:20] TravisCragg-MSFT commented on #52219
@Andriy-dev [Here is an example of adding a route table to a VWAN Hub VNET](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-route-table-portal#route). There are some differences between the 2 systems, but VWAN is designed to work with Expressroutes and global networks.

[2020-04-14 23:21] Karishma-Tiwari-MSFT commented on #52215
If we're using a user within our tenant we would be expected to specify UPN. If we're granting permissions to a user outside our tenant but still within AAD, we would specify ObjectId. For groups, continue to use ObjectId.

[2020-04-14 23:23] diberry commented on #49730
@vikramdadwal The active suggestions happen on a schedule (30 minutes) and only apply to question alternatives that the ML model considers appropriate. If you think you have met this criteria, please let me know.

[2020-04-14 23:23] Karishma-Tiwari-MSFT commented on #52383
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-14 23:25] sheyitx opened #52417 "The links to arm templates are broken"
The links in the section shown below are broken:

Download the Azure Resource Manager template and parameter files:

rgDelegatedResourceManagement.json
rgDelegatedResourceManagement.parameters.json

I think the new location is linked here: https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#create-an-azure-resource-manager-template

---
#### Document Details

⚠ *Do not edit t

[2020-04-14 23:27] TravisCragg-MSFT commented on #52220
@Andriy-dev You can only have 1 hub per Azure region, but hubs in different regions can connect to each other. This feature is currently in preview. You can [find more information Here](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-about#resources).

[2020-04-14 23:31] TravisCragg-MSFT commented on #52139
@dschlitt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-14 23:31] #52139 closed

[2020-04-14 23:32] Grace-MacJones-MSFT commented on #52172
Hello @heaps926, thanks for your patience.  AAD v2 is now supported in App Service.  A PR has been submitted internally to update the doc https://github.com/MicrosoftDocs/azure-docs-pr/pull/111401

You can use AAD v2 by adding /v2.0 to the end of the issuer URL in the site configuration.  Use `https://login.microsoftonline.com/<tenant-id>/v2.0`, and replace <tenant-id> with the Directory (tenant)

[2020-04-14 23:32] #52172 closed

[2020-04-14 23:34] SaurabhSharma-MSFT commented on #52393
@bingoglossy The PR for the fix has been created and it will be merged once approved by the document author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-14 23:34] #52393 closed

[2020-04-14 23:35] PatrickFarley commented on #48429
@MikeCodesDotNET , Unfortunately we can't add a closing bracket in the initial snippets, because the snippets are being pulled from a working code sample that includes all of the scenarios. But I'll add a note that calls out the need for closing brackets.

[2020-04-14 23:35] SaurabhSharma-MSFT commented on #52417
@sheyitx Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-14 23:39] vikramdadwal commented on #49730
@diberry : Thanks for the quick reply. Sure I will wait for 30 min now and get back to you.

Also why, if I do the same thing from PORTAL it reflects immediately? why that is not the case with Train API?

[2020-04-14 23:41] diberry commented on #49730
Are you referring only to train - in terms of timing? Or the full active learning experience?

[2020-04-14 23:47] vikramdadwal commented on #49730
I am referring to the following action in PORTAL:

https://github.com/MicrosoftDocs/azure-docs/issues/49730#issuecomment-596765674

[2020-04-14 23:47] diberry commented on #49730
[Train](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/train) is only about adding suggestions to KB. This API is on the runtime.

[Publish](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/publish) might be what you really want in terms of moving kb into production.

[2020-04-14 23:48] diberry commented on #49730
@RohitMungi-MSFT Can you check me on this?

[2020-04-14 23:51] Grace-MacJones-MSFT commented on #52409
Hi @CeciAc , thanks for the Comment. We are looking into this and will get back to you soon.

[2020-04-14 23:58] diberry commented on #49730
I believe the Test panel is updated the KB via the Update API. Is that what you see on the F12/Dev tools?

[2020-04-14 23:58] SaurabhSharma-MSFT commented on #52417
@sheyitx The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out and providing the correct link, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-14 23:58] #52417 closed

[2020-04-15 00:03] flashtheman opened #52418 "Unknown field "acme" in io.cert-manager.v1alpha2.Certificate.spec"
There seems to be an error in the the documentation for https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip.

When I run the line
[code]
I get the following error:
error: error validating "certificate.yaml": error validating data: ValidationError(Certificate.spec): unknown field "acme" in io.cert-manager.v1alpha2.Certificate.spec; if you choose to ignore these errors, turn validation off

[2020-04-15 00:05] tesych commented on #38553
I updated the [Hardware Spec article](https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#power-device) with additional changes about power cable.

[2020-04-15 00:07] TravisCragg-MSFT commented on #52297
@perktime Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-15 00:09] vikramdadwal commented on #49730
@diberry : Yea, Just checked, it is calling update API with request:

`{
    "add": {
        "qnaList": []
    },
    "delete": {
        "ids": []
    },
    "update": {
        "qnaList": [{
            "id": 1310,
            "source": "Editorial",
            "questions": {
                "add": ["what is policy"],
                "delete": []
            },
            "metadata": {

[2020-04-15 00:10] SaurabhSharma-MSFT commented on #52207
@expresspotato We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-15 00:10] #52207 closed

[2020-04-15 00:48] habeebtc opened #52421 "Difference between TimeGenerated and timeStamp_t"
What is the difference between TimeGenerated and timeStamp_t?

TimeGenerated appears to be ingestion time, which could be pretty divergent from timeStamp_t.

Is this correct?  And if so, I presume we should be using timeStamp_t for more accurate reporting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0639c6f-f0b4-0a

[2020-04-15 00:50] TravisCragg-MSFT commented on #52318
@habeebtc Can you post the support request number (SR#) of the support case? I would like to look into this further.

[2020-04-15 00:50] nikhilr5 commented on #31950
I am trying to use the Speech to text azure api for a project I am working on, yet the line
speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey.value, regionOptions.value);

is giving me an error saying speechConfig is undefined.  I included the bundle in my directory and am working on this project in JS react.  Anyone else run into this issue?

[2020-04-15 00:58] TravisCragg-MSFT commented on #52290
@code-vega What migration are you referring to? This doc is about associating a WAF Policy with an existing App Gateway.

Was the association failing with one of the OWASP rule set groups disabled?

[2020-04-15 01:00] habeebtc commented on #52318
120040824005637

[2020-04-15 01:03] djpmsft commented on #26361
#please-close

[2020-04-15 01:03] #26361 closed

[2020-04-15 01:10] peterinnesmsft opened #52422 "Migration process is extremely painful"
I had old applications in the LUIS portal which meant I had to migrate. I tried migrating but consistently ran into errors. Even when I deleted the apps, it still prompted me to migrate and continued to fail. It wasn't until a teammate sent me the link to the 'Troubleshooting errors with the migration process' section here that I figured out what I needed to do -  but even then, the error I receiv

[2020-04-15 01:14] mike-urnun-msft commented on #52376
Hello @spmanjunath - Pretty sure you can and I don't recall any limitations around `multipart/form-data`. Although there isn't a specific policy dedicated to handling `multipart/form-data`, there are various tools available at your disposal that'll enable you to accomplish the same result. For example, you can use the `context` object to validate if an inbound request is of `multipart/form-data` t

[2020-04-15 01:17] dlepow commented on #48496
Added note to ACI log analytics article that log analytics ID and key can also be added on container group update.
#please-close

[2020-04-15 01:17] #48496 closed

[2020-04-15 01:20] mike-urnun-msft commented on #52379
@robcamer Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-15 01:22] mike-urnun-msft commented on #52384
@philipstreet-hiscox Thank you for your feedback! We will review and update as appropriate.

[2020-04-15 01:23] TravisCragg-MSFT commented on #52331
@medavamshi These should go into separate subnets. The GatewaySubnet should be /27, and the Firewall in a /26. I am not aware of a requirement for a larger GatewaySubnet if a firewall is in the Virtual Network.

If this does not answer your question, can you elaborate more on your ask?

[2020-04-15 01:25] mike-urnun-msft commented on #52396
@robcamer Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-15 01:30] shahanur commented on #38595
Without using service-principal the automation really does not make any sense. Has anyone overcome this issue yet? Also, what MS suggested to use additional headers (x-ms-client-tenant-id :
x-ms-client-object-id :
x-ms-client-principal-id:) did not work either. Is there any better solution? Why MS always does things a half-way-through?

[2020-04-15 01:42] MarileeTurscak-MSFT commented on #52163
Just to clarify - you're looking for the device management type required to list Android Intune-enrolled devices?

[2020-04-15 01:53] RonnieQuan opened #52423 "DNS Server Configuration for Databrick Cluster VNet"
Can you please point out if you have documented DNS server configuration for DataBricks Cluster VNet?
I encountered exactly error as posted in
https://forums.databricks.com/questions/29650/cluster-terminated-reason-network-configuration-fa.html

Once I switch from my customized DNS sever to Azure provided DNS server for the VNet, the cluster is successfully created.

Can you please clarify this is

[2020-04-15 01:58] TravisCragg-MSFT commented on #48902
@sergevm If you have deleted the App Service and the link, yet the subnet is not able to be deleted, you will need to create a support request.

If you do not have a support plan, please Email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support request for you to get the subnet deleted.

[2020-04-15 01:59] TravisCragg-MSFT commented on #52333
@JustinBacaAIS They will be added to the Standard Microsoft plan only, as the other offerings are not available for Government clouds.

[2020-04-15 02:06] TravisCragg-MSFT commented on #52023
@maxcli Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-15 02:06] #52023 closed

[2020-04-15 02:10] BicycleMark commented on #6135
Hmm i think support for Easy Tables is no longer supported

[2020-04-15 02:17] Dc9894 commented on #43230
Does this doc apply to functions 3.x? if not, where can I find docs about testing that version functions?

[2020-04-15 03:00] ram-msft commented on #52413
@axdemendoza Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-15 03:01] ram-msft commented on #52412
@alanflanders Thanks for the question. We will update you shortly.

[2020-04-15 03:15] VikasPullagura-MSFT commented on #50685
@greendx Thanks for providing information on working CentOS 7.7.

@solomson  Can you please retry once and check it it is working for you now.

[2020-04-15 03:17] VikasPullagura-MSFT commented on #52340
@mimckitt Thanks for providing the details.

@colemickens
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-15 03:17] #52340 closed

[2020-04-15 03:36] CHEEKATLAPRADEEP-MSFT commented on #52423
@RonnieQuan This has been already documented here: [Azure Databricks - Configure custom DNS ](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/on-prem-network#--option-configure-custom-dns
).

If you want to use your own DNS for name resolution, you can do that with Azure Databricks workspaces deployed in your own virtual network. See the following

[2020-04-15 03:37] CHEEKATLAPRADEEP-MSFT commented on #52218
@kcheeeung
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-15 03:37] #52218 closed

[2020-04-15 03:39] CHEEKATLAPRADEEP-MSFT commented on #52204
@sidramadoss Could you please add your insight on this issue?

[2020-04-15 03:42] dlepow commented on #48237
@elangelo - Thank you for the question, and apologies for slow response. The article provides a link to a Resource Manager JSON template [here](https://github.com/Azure/azure-quickstart-templates/tree/master/101-aci-vnet). I hope you are able to adapt that for your needs?

[2020-04-15 03:50] Jared-Harrington-Gibbs opened #52426 "Confusion about MFA registration policies"
[this document](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection#license-requirements) states that MFA registration policy is not included with Azure AD Premium P1.<br/>
[this document](https://azure.microsoft.com/en-ca/pricing/details/active-directory/) states that Multi-factor authentication with conditional access is included as part of Az

[2020-04-15 03:55] neeleshray-msft commented on #52398
@nastassiar Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-15 03:56] neeleshray-msft commented on #52399
@Coopem16 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-15 03:57] neeleshray-msft commented on #52414
@Eldar1205 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-15 03:58] neeleshray-msft commented on #52416
@Eldar1205 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-15 03:59] neeleshray-msft commented on #52426
@Jared-Harrington-Gibbs Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-15 04:06] VikasPullagura-MSFT commented on #52405
@bchen007
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-15 04:08] jdkrobinson commented on #52339
I updated my Pwsh to 7 core and Az.Pwsh to 2.8.0 and it appears to have worked. Thanks. #rookieommission :-D

[2020-04-15 04:09] TravisCragg-MSFT commented on #52375
@RonPattersonBadger Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-15 04:20] rithinskaria commented on #38595
The service principal will work on the subscription scope and you can make a Logic to add the cost of the child items in the management group.

[2020-04-15 04:21] SeaDude commented on #52327
Done! https://powerusers.microsoft.com/t5/Power-Apps-Ideas/Support-Azure-AppInsights-LIVE-METRICS/idi-p/526262#M30268
Please upvote!

[2020-04-15 04:29] win-prac commented on #44248
I had/have the same issue. I think its resource-related constraint because of the current situation. I select the location East us then I got a few machines to choose from.

[2020-04-15 04:34] SwathiDhanwada-MSFT commented on #52243
@ybutola  Just checking if you had chance to check my previous comment

[2020-04-15 04:45] ChiragMishra-MSFT commented on #52054
@djpmsft Can you please take a look at this?

[2020-04-15 04:54] ChiragMishra-MSFT commented on #52232
@rahg-bmake Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory).

Once you post your issue on forums, it will have visibility across the community which is

[2020-04-15 04:54] #52232 closed

[2020-04-15 04:54] ram-msft commented on #52368
@abij Thanks for the feedback. We will update you shortly.

[2020-04-15 05:00] guo-sun opened #52429 "Authentication/Authorization page"
I was only able to find the authentication and authorization settings page after opting in to the preview Azure functions management experience. There was no obvious way to reach that page in the standard experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independe

[2020-04-15 05:04] SnehaAgrawal-MSFT commented on #52429
@guo-sun Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-15 05:06] SteveFarmerJr commented on #51499
From your comments to @Grace-MacJones, It sounds like you're still using the callback code to trap your errors instead of  await hub.UnregisterAllAsync(token).  How exactly are you calling the Unregister/Register methods?

[2020-04-15 05:07] DixitArora-MSFT commented on #52228
@KSLiquid Try using from __app__.SharedCode import module .

Reference: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure

[2020-04-15 05:10] DixitArora-MSFT commented on #52230
@ebrucucen I have assigned this to content author for further review and update as appropriate.

[2020-04-15 05:28] AjayKumar-MSFT commented on #51974
@rafaelberrocalj, Thanks for sharing additional details. I'm checking on this internally and will get back to you shortly.

[2020-04-15 05:34] CHEEKATLAPRADEEP-MSFT commented on #52385
@mesteves  Thanks for the question! We are investigating and will update you shortly.

[2020-04-15 05:41] GitMaggie commented on #41478
The script has been updated to use Az, however, it still checks "ARM version", can you update the script and remove all ARM related commands ？

[2020-04-15 05:47] ChiragMishra-MSFT commented on #52385
@mesteves I have written an article on how to parameterize Linked Services in ADF by modifying the JSON directly. Please have a look at this :
https://social.technet.microsoft.com/wiki/contents/articles/53335.parameterizing-linked-services-and-datasets-in-azure-data-factory-v2-using-code-json.aspx
The article is about REST connector but for all connectors, the process should be similar.
Hope this

[2020-04-15 05:53] #51842 closed

[2020-04-15 06:03] mike-urnun-msft commented on #51972
@arham92 Sorry for the delay in replying. Azure Functions is built on top of Azure WebJobs which also requires a storage solution. I believe the only trigger that runs without a storage dependency is the HTTP trigger. So I would include a storage component in any architecture utilizing Azure Functions. I hope this helps in finalizing your project.

Since this channel is more for driving improvemen

[2020-04-15 06:03] #51972 closed

[2020-04-15 06:03] VikasPullagura-MSFT commented on #52418
@flashtheman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-15 06:04] VikasPullagura-MSFT commented on #52418
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-15 06:04] PramodValavala-MSFT commented on #52105
@subodhpatil Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-15 06:04] #52105 closed

[2020-04-15 06:04] PramodValavala-MSFT commented on #52142
@worldspawn Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-15 06:04] #52142 closed

[2020-04-15 06:05] mike-urnun-msft commented on #52002
Glad to hear that the issue is resolved, @esunder! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-15 06:05] #52002 closed

[2020-04-15 06:05] kvsrkrishnan commented on #48976
I have the same request. Could you please update the documentation with some PowerShell commands to check if everything works fine at this step?

[2020-04-15 06:17] KSLiquid commented on #52228
It works! thanks a lot :)
The reference says to write
from __app__.Shared instead of app.Shared, this was my problem

[2020-04-15 06:17] #52228 closed

[2020-04-15 06:18] kobulloc-MSFT commented on #52131
@bebemau I'll pass that request to the document author.

For .NET Framework console apps, I went through the [documentation ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-app#connect-to-an-app-configuration-store)and it may be helpful to see what a finished App.config looks like.

[code]

Program.cs is very straight forward:

[code]

Then you should get somethin

[2020-04-15 06:19] KalyanChanumolu-MSFT commented on #52239
@pontusvision No, as of today, you cannot query across API's using SQL.

[2020-04-15 06:22] VikasPullagura-MSFT commented on #52405
@bchen007 I followed the instructions in the document and I was successfully able to RDP into Ubuntu VM. I have configured xrdp to use xfce as the desktop environment as mentioned in the document and it works as expected. I have added screenshot of the repro for your reference below.

Can you try to see what errors you see in the xrdp logs `/var/log/xrdp.log` when you try xrdp session from local.

[2020-04-15 06:23] KalyanChanumolu-MSFT commented on #52222
Thank you for your interest in Azure CosmosDB

We are sorry we couldn't cater to your needs at this time.

Due to the ongoing situation with Covid-19, capacity allocation is being prioritized for First Responders (fire, EMS, and police dispatch systems), Health screening and management applications.

You might temporarily experience allocation failures while provisioning Azure resources in certain

[2020-04-15 06:26] ppothnis commented on #52373
@TravisCragg-MSFT  - I am just referring to doc
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/create#code-try-0

Rename seems to be a pain for so many people and there are no resource from MSFT which demonstrates the correct usage of it.

For Example - if I just copy the Put Request and try to run it keeps failing with error message
'Header is missing' even whe

[2020-04-15 06:29] souravmishra-msft commented on #52422
@peterinnesmsft, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 06:29] DixitArora-MSFT commented on #52395
Hi @CeciAc Thanks for your feedback. We will review and update as appropriate.

[2020-04-15 06:32] souravmishra-msft commented on #52421
@habeebtc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 06:34] souravmishra-msft commented on #52411
@CeciAc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 06:35] souravmishra-msft commented on #52410
@CeciAc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 06:35] medavamshi commented on #52331
I got it working . Quick question though. Can the firewall subnet be on a
separate vnet and still apply rule for hub/ spoke vnets?

On Tue, Apr 14, 2020, 9:23 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2020-04-15 06:44] gkaleta opened #52430 "removeOption 3: Deploy APIM inside the cluster VNet"
It is not recommend using the same vnet as AKS. subnets will be used for nodepools for example and it is not good practice to 'put' anything else into the CNI/VNET. Especially for upgrades.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-7

[2020-04-15 06:51] shankarpandala commented on #52295
I was able to pass dynamic arguments using PipelineParameter using this https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.graph.pipelineparameter?view=azure-ml-py

But, I am not to pass dynamic input

[2020-04-15 07:13] #52339 closed

[2020-04-15 07:17] dheerajkumar-solanki opened #52431 "Is spark dataframe cache not working in Databricks-connect?"
When I tried running code from local to databricks cluster using databricks-connect, code was running fine. I just found one issue that, I cached dataframe in code, but it still computing from start.

So, Is dataframe cache is not supported in databricks-connect?

In the limitation, there is no mention of dataframe cache as limitation.
(https://docs.microsoft.com/en-us/azure/databricks/dev-tools/d

[2020-04-15 07:20] dearandyxu commented on #52367
Oracle CDC support in ADF is on our roadmap.
Basically Change Tracking technology is only available on SQL.
#please-close

[2020-04-15 07:20] #52367 closed

[2020-04-15 07:23] linda33wj commented on #51958
@azurance thanks for raising the issue. To clarify, REST connector does read values in JSON response **as-is** without any conversion. Please double check your REST API spec on what exact value they actually return to client. If the issue persists, please open a support ticket then team can look into your specific case.

#please-close

[2020-04-15 07:23] #51958 closed

[2020-04-15 07:27] DixitArora-MSFT commented on #52430
Hi @gkaleta Thanks for your feedback. We will review and update as appropriate.

[2020-04-15 07:42] ShirleyWangMSFT commented on #49091
Hi @tyler555g thank you for your feedback.  Can you please file a support ticket so we can take a look at why copy is not recognizing certain data types during extraction?

#please-close

[2020-04-15 07:42] #49091 closed

[2020-04-15 07:46] TerenceHinrichsen commented on #42392
Had a similar incident and I opened a support ticket for this.
Eventually narrowed it down to a "preview" feature I selected while creating the VM (should not have enabled)
![image](https://user-images.githubusercontent.com/25814265/79311500-cf6bde00-7efd-11ea-81d6-e136242f990f.png)
Had to recreate the Vm, but then it worked.

[2020-04-15 07:48] linda33wj commented on #45914
Thanks all for raising this issue. We are looking into this. Please stay tuned.

[2020-04-15 07:50] TheAsteroid opened #52432 "Please clarify how flexible the Redis reserved capacity is"
It appears that the paragraph "Determine the right cache size before purchase" was copied from the documentation for SQL (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-reserved-capacity#determine-the-right-sql-size-before-purchase) and only partially updated to reflect the Redis use case.

Could you please clarify how flexible the Redis reserved capacity is?
- E.g. what if I res

[2020-04-15 07:54] Neelkamal10 commented on #52359
@TravisCragg-MSFT  Have you got any solution yet?

[2020-04-15 07:55] TheAsteroid commented on #52432
I'm now seeing that https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/understand-azure-cache-for-redis-reservation-charges#discount-applied-to-azure-cache-for-redis explains the use cases I asked about, I now understand this better.

However, the paragraph still seems to be written partly for SQL. It would be nice to have this rewritten specifically for Redis.

[2020-04-15 08:01] john-mills-nz opened #52433 "Explain how to use Application app roles with Azure Functions"
Please document how to restrict access to Azure Functions to only those applications with a specific Application app role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a toke

[2020-04-15 08:02] rurounijones commented on #49742
https://cognitive.uservoice.com/forums/551524-language-understanding-luis/suggestions/39933520-builtin-entities-in-compositeentities-must-have-as is an example of an problem I have with the current LUIS response that I cannot tell is still an issue or not in the V3 API based on documentation

[2020-04-15 08:04] souravmishra-msft commented on #52433
@john-mills-nz, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 08:07] VikasPullagura-MSFT commented on #52411
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-04-15 08:12] saitejakothamasu commented on #52271
Not able to paste the screenshots here. Issue is am able to see the graph but it is showing as '0 devices' even though device is sending temperature to iot hub. but the device id and it's data is not being displayed in the graph.

[2020-04-15 08:19] jakaruna-MSFT commented on #52410
we cane by creating an  emptydir volume. But NOT recommended for persistent storage.

you can use them for temporary storage.   Emptydir will be deleted once the pod is deleted or moves out to another nodes.

If you need persistent storage, you can use azure files or azure disks

[2020-04-15 08:25] efsjouw commented on #52198
Weird the UseContainerSas option doesn't appear to be working for me. I get the "Session is Ready" message and the id's and all that but not the "generated model SAS URI" message. Also message:null for some reason.

Also after exiting and trying to stop the session with the command (which I have done a few times before) i suddenly get a 401 unauthorized.

[2020-04-15 08:31] saitejakothamasu commented on #52271
In the Log stream it is being reflected as Invalid iot hub connection string. I have used the iot hub connection string of service as suggested above.

[2020-04-15 08:33] rikogeln commented on #52198
@efsjouw Can you please verify that you use the -UseContainerSas option with the Conversion.ps1 script and not with RenderingSession.ps1

please open a separate issue for the 401 and if you can provide use with the MS-CV correlation vector http response header which makes debugging easier for us

[2020-04-15 08:37] anttitoippa commented on #52103
@divyaswarnkar I tried to be more precise and create few examples. You´ll find them attached. The scenario is when I send IDOCs over RFC to Logic Apps SAP connector and save them (_{body}_) to blob storage XML.

SAP IDOC structure documentation (_WE60_) uses "_segment type_" naming/definitions on IDOC segments but the Azure SAP Connector uses "_segment definition_" naming/definitions. Due that dif

[2020-04-15 08:41] lisaguthrie commented on #52131
There's a new ASP.NET sample here: https://github.com/Azure/AppConfiguration/tree/master/examples/DotNetFramework/WebDemo

Also working on a tutorial on our docs site.

[2020-04-15 09:05] jephlu commented on #52163
In first, yes.
More generally, a way to read attributes, formated for dynamic Groups.

[2020-04-15 09:07] jnphlp commented on #52163
In first, yes.
More generally, a way to read attributes, formated for dynamic Groups.

[2020-04-15 09:08] gsxmax opened #52436 "This feature need latest aks-preview extension"
Please run "az extension remove --name aks-preview" and "az extension add --name aks-preview" before using the --mode parameter,  or we will meet this error: "az: error: unrecognized arguments: --mode system"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225b99ee-4c4d-54c2-cafa-ddcd286438da
* Version Independent ID: c

[2020-04-15 09:26] likebupt commented on #52295
@shankarpandala, could you please clarify how you publish the pipeline?  Please refer to this documentation](https://docs.microsoft.com/azure/machine-learning/how-to-retrain-designer#create-a-pipeline-parameter).

[2020-04-15 09:34] shankarpandala commented on #52295
I am not using ML Studio. I am using https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/machine-learning-pipelines-advanced/tutorial-pipeline-batch-scoring-classification.ipynb this tutorial as reference.

[2020-04-15 09:36] CHEEKATLAPRADEEP-MSFT commented on #52431
@dheerajkumar-solanki  Thanks for the question! We are investigating and will update you shortly.

[2020-04-15 09:49] SnehaAgrawal-MSFT commented on #51627
@vuza Thanks for the clarification on this request you to send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2020-04-15 09:51] mohovkm commented on #52216
Any updates?

[2020-04-15 09:56] leqiao-1 opened #52437 "aml compute target core nums"
Hi, I created a aml compute target with size STANDARD_D14_V2, one node. But when I log in, I find it is 8 core nums and 16 processors, not 16 core nums. Is that normal ?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b4be5-1978-ad95-4c40-30e8b52e8cb7
* Version Independent ID: eb8b1d57-70c6-7cf0-2ebd-a43dede30

[2020-04-15 10:03] mrck commented on #50247
@Karishma-Tiwari-MSFT @mlearned Do you have any update on this? Is `outboundType` GA already or is it still only part of the preview?

[2020-04-15 10:14] K-dt opened #52438 "After leaving one of two organizations the selection list in the teams title bar is still available. How to get rid of this selection?"
First thanks for these instructions. I followed them along, but sadly I still see the selection list of the organizations I´ve been in before, although my user is a member the main organization only now (the leaving action is now 1 1/2 days behind)

How can I get rid of this unneeded selection list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-04-15 10:19] esbenbach opened #52439 "Guide/Howto for the "new" CmdLet"
It would be nice if the guide was updated with details on how to add a secondary certificate using the "new" cmdlet as referenced in "Tip" box.

Currently the only thing going on is a link to the generic help page which is only partially useful as guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6

[2020-04-15 10:38] KlemensM opened #52440 "JDK SUpport"
is there a plan to support JDK9 and higher? Java 8 is about 6 years old and is missing some features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef3d7e8a-f011-dca1-8834-7d99f934448a
* Version Independent ID: 0571dc14-76a6-1d73-bcb7-08e84d256744
* Content: [Use Java and Gradle to publish a function to Azure](https:/

[2020-04-15 10:39] rinso11 commented on #38188
yeah, any update?! It's not good to get all the way through to a failed deployment to find in the troubleshooting the network needs to use DNS of AD DS and not default

[2020-04-15 10:40] VikasPullagura-MSFT commented on #52436
@gsxmax
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-15 10:40] VikasPullagura-MSFT commented on #52436
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-15 10:41] screig commented on #52084
Do you think you should amend the documentation to include this? It would be good if the documentation is complete, without the information above one cannot get the fdw plugin to work.

[2020-04-15 10:41] VikasPullagura-MSFT commented on #52439
@esbenbach
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-15 10:41] VikasPullagura-MSFT commented on #52439
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-04-15 10:44] VikasPullagura-MSFT commented on #52202
@irvinhg This is a compatibility issue as per the error you have shared.

Requesting you to open a support ticket for troubleshooting the issue.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I can then enable your subscription for one tim

[2020-04-15 10:47] swasifali opened #52441 "typo"
Point 3 under 'Guaranteed order' section has a typo.  I guess "Customer adds removes Item A from their shopping cart" should say "Customer removes Item A from their shopping cart"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b70ef3e-1007-803f-4cce-8fbc91c26fd2
* Version Independent ID: 38703e02-7db4-b545-9855-4e2e7a

[2020-04-15 10:56] abshamsft commented on #52318
@habeebtc _Backend Last Byte Response time_ metric is the per minute aggregation of _serverResponseLatency_ log field, and _Application Gateway total time_ metric is the per minute aggregation of _timeTaken_ log field.
As mentioned in this article, _Backend Last Byte Response time_ is the time interval between start of establishing a connection to backend server and receiving the last byte of the

[2020-04-15 11:11] MarkusKoenig73 commented on #52406
since I have legacy code running which is on VMs windows 2016.
I struggle with the fact that on windows 2019 dsvm there is miniconda where on windows 2016 there is anaconda

[2020-04-15 11:17] TCBTech commented on #42392
Thanks for the feedback. This was not my case. I have a 2016 Server that has been running in AD for 2 years. It was removed from AD and I am now trying to add it back into the same domain. For some reason, it suddenly thinks it is Azure AD joined, even though it is not. If I run dsregcmd /status, it shows as neither Azure AD nor Domain Joined.

[2020-04-15 11:19] jtuliani opened #52442 "Doesn't work"
Template doesn't work. Firstly, it's not even valid JSON (stray comma). Even with that fixed, deployment fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0123bad-47d3-a6bc-95b4-95aea681ad95
* Version Independent ID: acaf27f7-1d41-954d-f4f2-5065ffd896d6
* Content: [Use Azure Resource Manager templates to onboard U

[2020-04-15 11:38] KrishnaG-MSFT commented on #52442
@jtuliani Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-15 11:40] jmprieur commented on #8227
@2552Software : actually Microsoft is moving. you'll see more and more documentations mentionning ADAL.NET being changed to using MSAL.NET.
cc: @aiwangmicrosoft

[2020-04-15 11:41] RohitMungi-MSFT commented on #52437
@leqiao-1 I have tested by creating a STANDARD_D14_V2 compute instance from Azure ML portal and after logging to the instance the no. of CPUs shows as expected.

[code]

[2020-04-15 11:49] o-l-a-v opened #52443 "Why does deployment to customer tenant have to be done with a member of the customer tenant? How about AOBO?"
https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#deploy-the-azure-resource-manager-templates

![image](https://user-images.githubusercontent.com/6450056/79334090-f2a78500-7f1f-11ea-9f1d-dca21cfde43c.png)

So far when testing this out, we've been using AOBO from our CSP Partner tenant to a customer tenant, and it seems to work.

* Why does documentation say that it has to b

[2020-04-15 12:02] JJDE opened #52444 "Design Questions"
1. Conditional steps
Is it possible to hide/show dynamically steps based on selections in "basics" ?
I created in "basics" section an dropdown "Installation-Phase" = Phase1/Phase2...Based on the selected Phase i want to show an different step

2. Basics - Choose existing Resourcegroup
By default we have to choose Subscription + Resourcegroup. By default it's not possible to choose an existent (and

[2020-04-15 12:02] eparizzi commented on #37481
We need clarification on this.

[2020-04-15 12:07] skwasiborski opened #52445 "The note about Service Fabric upgrade domain by upgrade domain behavior is misleading"
This note stating: "When using Automatic OS Upgrades with Service Fabric, the new OS image is rolled out Update Domain by Update Domain to maintain high availability of the services running in Service Fabric. To utilize Automatic OS Upgrades in Service Fabric your cluster must be configured to use the Silver Durability Tier or higher. For more information on the durability characteristics of Servi

[2020-04-15 12:09] mpalumbo7 opened #52446 "Typos in example docs"
1. All of the steps are `1.` instead of 1,2,3,...
2. The variable `LOCALFILE` should be `LOCALFILENAME`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Version Independent ID: 7be6f792-09f8-c22f-86b6-d0f690e9b3a4
* Content: [Explore data in Azure blob storage with pandas - Team Dat

[2020-04-15 12:14] orloffm commented on #52206
Yes, that's understandable.

Please understand where I'm coming from: I've made an app service, and have
followed the previous tutorial to transfer domain management from Namecheap
to Azure DNS. Now I move to this tutorial page, and I want to direct the
root domain to my app service. The approach is to make the A record point
to ip address. But what is the proper way to ensure that this always wor

[2020-04-15 12:35] DreamRivulet commented on #51251
@mlearned  Could you please share an ETA when this doc will be update for the new login page? Thanks in advance.

[2020-04-15 12:40] KurtAigner opened #52448 "Configure Dynatrace SSO"
Please do not contact the Dynatrace support team to configure SSO. Please take a look at https://www.dynatrace.com/support/help/shortlink/users-sso-hub instead, where you find instructions on how you can configure SAML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255cc613-d89e-b2db-e22e-5fb87159594f
* Version Indepe

[2020-04-15 12:42] UmakanthKallakuri commented on #24936
The below approach outputs a GUID but not the actual secret.

Example:
$sp = New-AzADServicePrincipal -DisplayName "Azure-Testing2-sp"
$BSTR = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($sp.Secret)
$PlainPassword = [System.Runtime.InteropServices.Marshal]::PtrToStringAuto($BSTR)
$PlainPassword
WARNING: Assigning role 'Contributor' over scope '/subscriptions/81c1c85a-ad96-409a-9be

[2020-04-15 12:48] IEvangelist commented on #52283
This is a known issue: https://github.com/dotnet/runtime/issues/18632. The recommended thing to do is to use `HttpClient`.

#please-close

[2020-04-15 12:48] #52283 closed

[2020-04-15 12:51] yuemasy commented on #48278
@tesych, could you provide the physical distance between the color sensor origin and the camera front cover? Thanks.

[2020-04-15 12:51] RonnieQuan commented on #52423
Thank you for the information, we created vnet subnets for our Databricks, and it's not working.
Let me review the document you shared to see if any findings.

[2020-04-15 12:58] larspars opened #52449 "Azure Verizon CDN doesn't support brotli, yet the docs claim it does"
The docs indicate that the Azure CDN on the Standard Verizon tier supports brotli compression. This appears to be untrue. I do not get brotli compressed responses from their CDN, even with the request header "Accept-Encoding: br", and when the origin serves the file as brotli.

A Microsoft representative confirmed to me that the docs are incorrect, and that the Verizon CDN in fact does not support

[2020-04-15 13:03] NeoTech commented on #37727
@samartzidis It doesnt, but there is this idea in infosec/devops circle that a 2048 bit TLS certificate is alot more safe than 4096 AES+DES certificate over SSH - The fact that it would take 15x more time to brute force the later one is not takein into consideration, that both protocols can be middle man attacked is not taken into consideration either. Its a good scare tactic to make people pay fo

[2020-04-15 13:03] pkruesi opened #52450 "Get the nics before they were created"
Under "Create the backend pool" section
[code]

But the creation of the myNic1 and myNic2 happends at the section "Create two virtual machines" of this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51fe6df9-e646-2add-678b-a4383f09715f
* Version Independent ID: 77c5735e-9942-e983-d603-5e084993b192
* Content: [

[2020-04-15 13:12] souravmishra-msft commented on #52432
@TheAsteroid, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 13:14] souravmishra-msft commented on #52440
@KlemensM, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 13:16] souravmishra-msft commented on #52438
@K-dt, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 13:17] VikasPullagura-MSFT commented on #52445
@skwasiborski
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-15 13:17] VikasPullagura-MSFT commented on #52445
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-04-15 13:17] souravmishra-msft commented on #52441
@swasifali, Thank you for pointing this out. We are working on this and would update the doc accordingly.

[2020-04-15 13:18] ybutola commented on #52243
I tried again and followed all the steps given in this tutorial, and what I get is : permission denied for docker.

[2020-04-15 13:19] souravmishra-msft commented on #52443
@o-l-a-v, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-15 13:21] archunz commented on #51967
Thanks for your detailed response, @zagruby.

Based on your response, I think you are trying to run the query in the customer or Managed tenant. Is that correct ?

The capability documented here allows the MSP or managing tenant to query their own (i.e. MSP or managing tenant) tenant level activity logs and capture the below action - "Microsoft.Resources/tenants/register/action" . This should cove

[2020-04-15 13:22] alexandreweiss commented on #28272
Hi Cheryl,
Sorry but it seems the doc is still outdated as i can see same comment when configuration Private peering monitoring than Microsoft Peering.
We should mention that an Agent is also required in the Azure vNet to monitor, isn't it ?

Thanks, Alex (alweiss)

Extract of Private Peering monitoring configuration (same as Microsoft peering) :
Click the ON-PREM AGENTS Add Agents button to add t

[2020-04-15 13:33] vytux-com opened #52451 "Inaccurate - A database copy is a snapshot of the source database as of the time of the copy request."
A database copy is a snapshot of the source database as of the time of the copy request.

The above statement is not accurate. For example I just started a copy of a 250GB S6 database, about 40 minutes into the copy I assumed it was safe to transact on the original db and did a truncation of 500 odd tables. This reduced the size of the db to 156GB. About 1.5 hours later the copy completed and to m

[2020-04-15 13:33] jaambis commented on #45634
Hi Susheel,

Have you found a solution?

[2020-04-15 13:41] souravmishra-msft commented on #52281
@urig, Thank you for pointing this out. We are working on adding these details in the documentation. For the time being, I am sharing the details you requested for here for your reference.

When you register and application in AAD, two objects get created:

1. Application Object
2. Service Principal Object

Since these are two different types of objects in Azure AD, hence each of these has a respe

[2020-04-15 13:43] RohitMungi-MSFT commented on #52032
@gbottari We can confirm that this is a but in the pt-BR model where the style tag does not make any difference to the speech. Our team is currently working on this item and we have an internal backlog to fix this and currently there is no ETA for the fix. We will proceed to update the document with appropriate changes when the fix is rolled out.

We will now proceed to close this thread as we hav

[2020-04-15 13:49] zagruby commented on #51967
@archunz No, this is not correct, I am running the report in the MSP tenant, so the tenant which is managing other's tenants.

I was running the script thru service principal account with proper role and scope. (I was trying contributor role as well after it failed with Monitoring Reader.)

[2020-04-15 13:53] ayusmadi opened #52452 "Does Terraform communicate with Azure API using TLS 1.2?"
As per title, our organization were asked to address this security question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2130aa5d-9111-4df9-f94d-c23c73d189c4
* Version Independent ID: c971eb22-773a-3d4d-f832-e6c31c877271
* Content: [Using Terraform with Azure](https://docs.microsoft.com/en-us/azure/terraform/terrafo

[2020-04-15 13:54] spmanjunath commented on #52376
Hi Mike, If i were to relate this with asp.net core the way to handle multipart is to use IFormCollection , but this is not one of the supported types in APIM.  In such a scenario, what are the other options that are available?  I tried to explore IMessageBody interface (which is return type of context.Request.Body), but i couldn't find any documentation related to this - not sure if this helps th

[2020-04-15 13:56] Forcebyte commented on #13547
@nksiest. Looks like the log naming format is incorrect, should I re-open this issue or create a new one?
[code]
insights-operaitonal-logs is what appears in Azure today, no?

[2020-04-15 13:58] jackt-moran opened #52453 "GA Release Planned?"
Hi,
I don't know if this is the appropriate place to ask this question, so my apologies if it isn't. Per the Azure Updates Blog this feature has been in public preview since September 2018 [(blog post here)](https://azure.microsoft.com/en-us/updates/public-preview-c-sharp-udf-for-azure-stream-analytics-on-iot-edge/). Is there a plan for this feature to become GA? It would be very helpful to know,

[2020-04-15 14:10] JustinBacaAIS commented on #52333
@TravisCragg-MSFT Is there an expected date for MAG customers to use DoD signed certificates in CDN Custom Domains, or is this capability available today?

[2020-04-15 14:10] thelethalkind opened #52454 "Second Listener on same port?"
Hey there, how are you creating a secondary listener using the same port 80?  I'm not seeing that as possible when I create this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 990b5cd5-f5a2-268a-3722-3001d0fd5345
* Version Independent ID: b6b5acfd-d55b-108d-65fe-69c49657189b
* Content: [Internal redirection using Powe

[2020-04-15 14:13] BharathNimmala-MSFT commented on #52444
@JJDE Thank you for your query, we will further look into it and get back to you at the earliest

[2020-04-15 14:13] thelethalkind commented on #52454
Nevermind I answered my own question, it needs to be a multi site listener.  Apologies!

[2020-04-15 14:24] mrvladis commented on #28378
@MarkusVi  @shashishailaj  Why did we close this issue without being resolved?
Did you actually published B2C errors and above in particular?

I hope definition of "soon" mentioned above is less than a year :)

[2020-04-15 14:26] haymansfield commented on #51353
@SubhashVasarapu-MSFT Thanks for passing this on.

Is there any update?

[2020-04-15 14:28] ripsy85 commented on #47176
Hello, I have exactly the same problem and I have Condiftional Access Policies enabled.
I have 3 RDG forwarding the requests to the NPS server where I have installed the NPS Extension follow the links you mentioned.
The error message is

And still not able to understand why.

[2020-04-15 14:35] brianreidc7 opened #52456 "Azure AD Password Protection and Azure AD App Proxy On Same Machine"
In this document is says "so it's not recommended to install Azure AD Password Protection Proxy and Application Proxy on the same machine." and in https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-add-on-premises-application (the AAD App Proxy docs) it says "These different versions are incompatible when installed together on the same machine." - which is correc

[2020-04-15 14:35] brianreidc7 opened #52457 "Azure AD Password Protection and Azure AD App Proxy On Same Machine"
In this document is says "These different versions are incompatible when installed together on the same machine." and in https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy (the AAD Password Protection docs) it says "so it's not recommended to install Azure AD Password Protection Proxy and Application Proxy on the same machine." - which

[2020-04-15 14:37] amergey commented on #50063
Hello, as updating image sku should be possible, if I understood well this does not seem to be a doc issue, shall I raise an issue in azure-cli project instead ?

[2020-04-15 14:37] femsulu commented on #52114
Hi @rofangaci  -  Re: **azure configure mode arm** : there is no corresponding command in Azure CLI 2.0 (az) because there is no support for classic/ASM mode in this version of the CLI.

Re: **azure group deployment create <my-resource-group> <my-deployment-name> --TemplateFile deploylaworkspacetemplate.json --workspaceName <workspace-name> --location <location>**

The Az CLI 2.0 version of the ab

[2020-04-15 14:39] femsulu commented on #52114
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-15 14:39] #52114 closed

[2020-04-15 14:41] RohitMungi-MSFT commented on #52344
@Blackmist Could you please review and update the property in ARM template? It looks like the property is supposed to be  [hbiWorkspace](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?view=azure-ml-py#get-details--): Boolean for ARM templates?

[hbi_workspace ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?view=

[2020-04-15 14:42] jordaniza opened #52458 "Add import pandas as pd to code snippets"
see above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Version Independent ID: 7be6f792-09f8-c22f-86b6-d0f690e9b3a4
* Content: [Explore data in Azure blob storage with pandas - Team Data Science Process](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-p

[2020-04-15 14:46] OffColour opened #52459 "Certificate Password"
Is "Do not use any special characters in your .pfx file password. Only alphanumeric characters are supported." a new limitation (and breaking change)?

We've been using a password with special characters and longer than twelve characters on a v1 app gateway for the last two years and now I'm trying to add a new certificate with the same password and I'm getting a "password incorrect" error.

Also,

[2020-04-15 14:49] BharathNimmala-MSFT commented on #51764
@rich-davies Thank you for reverting back on this.

@saket-ms - Can you please help answer @rich-davies query? thank you

[2020-04-15 14:57] SamirFarhat opened #52461 "Please document how to append content to an append blopb using Set-AzStorageBlobContent"
Hi,
The documentation shows how to create a blob, but not how to append a blob.
Set-AzStorageBlobContent does not seem able to append blob content.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Quick

[2020-04-15 14:58] amanmcse commented on #52349
@84618315 Thank you for updating the thread with the solution you found. I will now close this thread.

[2020-04-15 14:58] #52349 closed

[2020-04-15 15:00] AshokPeddakotla-MSFT commented on #51800
@levi106 Did you get a chance to see the above suggestions? Are you still blocked?

[2020-04-15 15:01] amanmcse commented on #52351
@tarekd I have assigned it to the author of the document. Could you please share a screenshot of the link which is not working as I couldn't find the broken link on this page.

[2020-04-15 15:03] Joon commented on #31491
I have just tested out deploying the keyvault with customer-managed keys. If the key version is left entirely out of the properties section, it uses the latest version and enables auto-rotation.

Would appreciate some info in this document of what auto-rotation actually means, especially when multiple storage accounts are referencing the same key.

Example ARM Template snippet (note no version in

[2020-04-15 15:03] archunz commented on #51967
Thanks @zagruby for confirming that you are running the query from the MSP tenant.

I think you had the right authorizations as you were able to read the tenant level activity log and retrieve other actions per your previous comment.

Let us connect further via the conversation setup by CSA to  debug further.

[2020-04-15 15:04] spidercloud opened #52462 "Cloud Shell, Read-only file system"
When I'm opening a Cloud Shell from my Azure subscription (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx), then I get an error which says:

MOTD: To edit files in the shell, type: code, vim, emacs, vi or nano

VERBOSE: Authenticating to Azure ...
Out-File: /opt/microsoft/powershell/7/profile.ps1:143
Line |
 143 |              $addAzAccountParameters.Keys > $azErrorPath
     |              ~~~~~~~~~~~~~~~~~

[2020-04-15 15:06] balintbako commented on #44645
Same here. From event viewer:
"Http request status: 400. Method: GET Endpoint Uri: https://login.microsoftonline.com/<tenantID>/sidtoname Correlation ID: ***"
Followed by the reported ""AAD Cloud AP plugin call Lookup name name from SID returned error: 0xC000023C"

All test calls return 200. IDs and the JWT token adds up too.

[2020-04-15 15:09] amanmcse commented on #52438
@K-dt Could you please confirm if you login to https://portal.azure.com and try to switch directory, do you still see the tenant of the organization that you left?
![image](https://user-images.githubusercontent.com/33834131/79353784-294dc180-7f59-11ea-9fbf-936e0248f7e8.png)

[2020-04-15 15:09] msrini-MSFT commented on #52313
@pplavetzki , Please tag me if you have any further questions.

[2020-04-15 15:09] #52313 closed

[2020-04-15 15:10] msrini-MSFT commented on #52348
@douglaswaugh , Do you have any update on this issue?

[2020-04-15 15:10] mrbullwinkle commented on #52327
Just added my upvote, thanks again for the feedback!

[2020-04-15 15:11] GiftA-MSFT commented on #52446
@mpalumbo7 we will review your feedback and get back to you shortly. Thanks.

[2020-04-15 15:12] GiftA-MSFT commented on #52458
@jordaniza we will review your feedback and get back to you shortly. Thanks.

[2020-04-15 15:14] JasSuri commented on #51518
@mwwhited appreciate the feedback. Do try to point us in the precise direction to make sure your observation is understood.

@amanmcse this needs to be reopened. Step 5 of the ProxyApp reg is inaccurate. The Redirect URI needs to be a URI (myapp://auth), and not a URL (https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com)

[2020-04-15 15:17] BharathNimmala-MSFT commented on #52015
@bwren Thank you for the confirmation and helping on this thread.

@dl8on Thanks again for your feedback, with help of @bwren we will update the document with the note to clarify the cross tenant requirement.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have an

[2020-04-15 15:17] #52015 closed

[2020-04-15 15:26] timothy-salazar opened #52463 "Suggest different name for example storage class"
I'm willing to admit that I could be wrong since I'm relatively new to Azure. I've puzzled this all out on my own, and there's a chance that I've misunderstood something (if so let me know).
If customers are using AKS, there is an existing storage class called "azurefile". If someone tries to make a storage class called "azurefile" on an AKS cluster (as they would if they're following along with t

[2020-04-15 15:28] code-vega commented on #52290
I was trying to associate a WAF Policy with an existing App Gateway that already had a WAF Config. My understanding is that the Config and the Policy need to match. However, if one of the OWASP Rule Set Groups is disabled the association wont work. I got this from reading this script: https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/migrate-policy
"# Throw an error, since ruleGro

[2020-04-15 15:29] s2pstefan commented on #45434
It seems that it is available now: https://github.com/Azure/azure-functions-durable-python Please update this document accordingly.

[2020-04-15 15:31] MarileeTurscak-MSFT commented on #52448
@KurtAigner thanks! I'll update this to include the support help page instead.

[2020-04-15 15:31] MarileeTurscak-MSFT commented on #52457
@brianreidc7
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-15 15:32] MarileeTurscak-MSFT commented on #52456
@brianreidc7
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-15 15:33] MarileeTurscak-MSFT commented on #52456
Closing this out as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/52457

But will answer on the other thread.

[2020-04-15 15:33] #52456 closed

[2020-04-15 15:35] JasSuri commented on #52185
If you look at the entire URL, the access_token should also be there.

[2020-04-15 15:35] anthonychu commented on #45434
The docs are being updated. While the Durable Functions Python repo is public and we're accepting contributions, we're not quite ready for a public preview. Look for an announcement in the next month or so.

[2020-04-15 15:36] YutongTie-MSFT commented on #52043
@appleyuchi
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-15 15:36] #52043 closed

[2020-04-15 15:36] amanmcse commented on #51518
@JasSuri Sure, I will update that.

[2020-04-15 15:47] ManoKanmani opened #52464 "Azure AD Connect Provisioning Agent is not Installing on the server"
Hi Team,

We are not able to install the Azure AD Connect Provisioning Agent in our On Premises Server. When we are trying to install the agent we would end up with "Failed to Start. Verify that you have sufficient privileges to start system services" along with "0x80070643"

Currently we are using "Windows Server 2019"

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inb

[2020-04-15 15:47] ilazorenko opened #52465 "Bpm'online was renamed to Creatio last year"
Hi guys,

how can we update the instruction because of bpm'online renaming? The actual platform name is Creatio.

If any assistance or confirmation required, do let me know.
You can easily check it by going to http://bpmonline.com/.

Kind regards,
Irina Lazorenko

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0e8e16-

[2020-04-15 15:53] RobertCadd opened #52466 "Adaptive Application Controls overwrites my Applocker policy"
https://docs.microsoft.com/en-us/azure/security-center/security-center-adaptive-application
This page states the following:
"Adaptive Application Controls from Security Center doesn’t support VMs for which an AppLocker policy is already enabled by either a GPO or a local security policy."
but I'm seeing that the Microsoft monitoring agent service installed is overwriting the applocker policy I hav

[2020-04-15 15:59] aykitaya opened #52469 "Monitoring Contributor cannot set diagnostic settings for a VM."
Hi team,
I'd like to ask about ”Monitoring Contributor” role.
The description of ”Monitoring Contributor” on this page is described below.

Set diagnostic settings for a resource.*

However, I confirmed that  a user who is only assigned ”Monitoring Contributor” cannot set diagnostic settings for a VM.
For enable diagnostic settings of VM, I think that  it is necessary to assign at least "Storage A

[2020-04-15 15:59] #51518 closed

[2020-04-15 16:00] amanmcse commented on #51518
I have updated Step 4 under Application tab and Step 5 under App Registration (preview) tab of Proxy in **Register the ProxyIdentityExperienceFramework application** section. Although App Registration (preview) still supports https in reply url for Native apps, I have updated both the tabs to keep the instructions similar for both app registration experiences.

Changes might take some time to refl

[2020-04-15 16:11] levi106 commented on #51800
Which DNS setting? I have confirmed that the blob container has been received the request from a blob container's log.

[2020-04-15 16:17] IEvangelist commented on #51965
Hi @RohitMungi-MSFT --  I have an email into the product team.

[2020-04-15 16:22] igormatic opened #52470 "The O365 Groups(Teams) are not automatically renewed"
I have created the Group Expiration Policy and activated this only for a few Groups/Teams for testing.
I can see that all of these Groups have the Expiration Date. For example: one group has the Expiration Date 17. Mai 2020 and i made many changes in this Teams Group in last 2 Days but the Expiration Date is still the same. I already checked in Audit Log(Azure AD) the Activities "autorenew group"

[2020-04-15 16:25] bebemau commented on #52131
Thank you very much for the update and the sample, i will take a look at it.

The issue i have is i am not able to use managed identity with a web
application.  Connection string works but looks like connection string will
not be supported in newer version and we do prefer using managed identity.

On Tue, Apr 14, 2020 at 11:18 PM kobulloc-MSFT <notifications@github.com>
wrote:

[2020-04-15 16:25] PramodValavala-MSFT commented on #52203
@mperdeck I believe the logs are being streamed to application insights as expected since the command that works opens the browser to the application inisights directly.

As for the built-in log streaming, there are some prerequisites which may or may not have been set based on how you deployed your function

1. It is **not supported** on the Linux Consumption Plan
2. The [`AzureWebJobsDashboard`]

[2020-04-15 16:33] SaurabhSharma-MSFT commented on #52466
@RobertCadd Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-15 16:33] SaurabhSharma-MSFT commented on #52465
@ilazorenko Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-15 16:39] jeevansd commented on #52465
@v-nagta Can you please update the article and also submit the request to update the name in the App Gallery.

[2020-04-15 16:41] tikicoder commented on #35170
Is there any update on this I am having a similar issue

[2020-04-15 16:44] dckfnuance opened #52473 "Get-AzDataLakeGen2ChildItem returns only 5000 entries"
With az.storage 1.13.3+, Get-AzDataLakeGen2ChildItem only returns 5000 items. With 1.13.1 and before there was no such restrictions. We need to be able to get all child items to properly apply the ACL to all subfolders and files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Vers

[2020-04-15 16:45] rwiankowski commented on #38666
@AakashMasand did you ever get this resolved? I have the exact same issue.

[2020-04-15 16:48] RohitMungi-MSFT commented on #52032
To add, we have also removed pt-BR-FranciscaNeural from the documentation until a fix is deployed. Thanks @IEvangelist for the [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/111471).

[2020-04-15 16:49] #52032 closed

[2020-04-15 16:50] nibaccam commented on #52308
@rastala can you help here please?

[2020-04-15 17:00] cartacioS commented on #52306
Hello,

That is correct.

To ensure correct evaluation, we added rolling-origin cross validation (ROCV) as the standard method to evaluate machine learning models on time series data. It divides the series into training and validation data using an origin time point. Sliding the origin in time generates the cross-validation folds.

You can read a bit more about how&why here: https://azure.microsof

[2020-04-15 17:03] rajnemani commented on #52215
This use case is for "With in the tenant user." scenraio  I am not sure  when you say we are expected to provide UPN for within the tenant user.  This document clearly says you can use UPN or objected.  My testing indicates that UPN does not work and ObjectId does.  Can you please look at the issue 28105 (linked above) and comment?  Groups scenario is not applicable for this test case.

[2020-04-15 17:05] KranthiPakala-MSFT commented on #52453
@jackt-moran
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-04-15 17:07] SaurabhSharma-MSFT commented on #52185
@JasSuri I am also getting only id_token and the url doesn't have an access token.

[2020-04-15 17:07] dlepow commented on #52053
@davidzwa - Forgot to mention, recent versions of the Azure CLI do show a warning at `az acr login` with mixed case registry names. Just curious, what version do you use? For example, in CLI version 2.2.0:
[code]

[2020-04-15 17:08] SaurabhSharma-MSFT commented on #52167
@vbatr I am looking into this and update you with my findings.

[2020-04-15 17:08] PatrickFarley commented on #47787
Hi, taking a look now

[2020-04-15 17:09] tchristiani commented on #50878
Response has been provided.
#please-close

[2020-04-15 17:09] #50878 closed

[2020-04-15 17:10] bandersmsft commented on #52402
@CeciAc Can you tell me what the customer's question or issue is with the section of the article?

[2020-04-15 17:11] sandeeplodhirajput commented on #52285
I follow the steps but end up with error. Please help to resolve the issue. Sharing error message.

Pipeline - IterateAndCopySQLTables

--------------------------------------------------------------
Error - same error repeated 10 times
--------------------------------------------------------------

{
    "errorCode": "2200",
    "message": "ErrorCode=SqlOperationFailed,'Type=Microsoft.DataTransfer

[2020-04-15 17:13] b-slim opened #52474 "What is the best JAVA SDK to be used for the Storage APIs"
I am planing on using AZURE Cosmos DB and use the Table API (My use case is simple enough not need for indexing). Am confused about which SDK to use.
The Quick start points to the old Java SDK that seems to be deprecated as per this page https://github.com/Azure/azure-storage-java.
Thus my question what is the recommended SDK or library to use going forward. Thanks

---
#### Document Details

⚠ *D

[2020-04-15 17:14] dagiro commented on #51799
@SMazu thank you for your patience. This is being actively discussed and hope to get back to you with something by next week.

[2020-04-15 17:15] JordanBurns27 opened #52475 "Empty App Service Plans"
Are there any plans to adapt the advisor to inform you of empty AppService Plans? They are a fixed cost and if you have no apps running in them it can be a large waste of dollars.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7

[2020-04-15 17:16] hazemelh commented on #49742
@rurounijones Hey Jeffrey
Can we jump on a quick call to go through all your issues? I understand there are multiple points, for example the LUDown file, the responses in Composites vs ML Structured and where you cant see what it should or would be.

We're working on documentation right now that clearly explains the differences between composites and ML entities with structure and hopefully that w

[2020-04-15 17:18] arefinsami opened #52476 "Is it possible to have the Hub and Sync database in different subscription?"
Is it possible to have the Hub and Sync database in different subscription?

The "New-AzSqlSyncGroup" doesn't seem to option to achieve it. This doc says " The Sync Database has to be an Azure SQL Database located in the same region as the Hub Database", which doesn't seem to be precise. Should it instead say, " The Sync Database has to be an Azure SQL Database located in the same region and subsc

[2020-04-15 17:21] PeterCLu commented on #51571
@mjmaldonado, the team has successfully tested with version 6.5. I'll update the doc and #please-close this issue.

Thanks again for the report!

[2020-04-15 17:21] #51571 closed

[2020-04-15 17:22] MarileeTurscak-MSFT commented on #52163
Thanks for clarifying! I'm checking with someone on my team as I also could not find the right document.

[2020-04-15 17:26] NavtejSaini-MSFT commented on #52084
@rachel-msft Please check this information can be added to the document.

[2020-04-15 17:27] ElmoGonzo opened #52477 "Invalid Request???"
I included the grant_type=authorization_code in the POST request and got this response anyway
{
    "error": "invalid_request",
    "error_description": "AADSTS900144: The request body must contain the following parameter: 'grant_type'.\r\nTrace ID: aa950d2c-66fc-4f42-98b5-505c3d5aa500\r\nCorrelation ID: 769bb70a-98e1-4d2e-99b3-f6060c6781cb\r\nTimestamp: 2020-04-15 15:46:56Z",
    "error_codes": [

[2020-04-15 17:31] jackt-moran commented on #52453
Thank you @KranthiPakala-MSFT .

[2020-04-15 17:32] KalyanChanumolu-MSFT commented on #52474
@b-slim Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-04-15 17:33] ecfan commented on #52384
Each rule set is broken out for easier identification in the left column, but they also have slightly different information in the Notes column. Also, I recall that "Source = Internet" was replaced by "Source = APIManagement".

[2020-04-15 17:33] mwwhited commented on #51518
As I've stated multiple times in multiple places these examples are based on dotnet core 2.2 and a version of b2c from several years ago.  Just start doing a refresh getting everything in line with the latest bits on both sides.  And while you are at it consider making the tool suck less.  Huge, cryptic xml files are very WCF of you guys.

[2020-04-15 17:36] akuthantech opened #52478 "Grammatical Error - Why use entitlement management"
Under "Why use entitlement management?" &gt; business partners &gt; first bullet

The sentence should either read, "No one person may know … "  OR "One person may not know …"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb

[2020-04-15 17:50] SaurabhSharma-MSFT commented on #52185
@ashishharjani @JasSuri I see access token when I explicitly assign API endpoint to the scope of the registered B2C app. Steps I followed -
1. Assign API endpoint scope to existing B2C app
![image](https://user-images.githubusercontent.com/38112130/79369150-5cfefc00-7f05-11ea-9947-12975b303090.png)

2.  While running the userflow select Your Resource under "Access Tokens" with "Scopes". (see scree

[2020-04-15 17:54] vishalpatole opened #52479 "BadRequest response with Storage Rest API"
Clone github sample code for BLOB Rest API and was hoping sample will run but can’t figure out why I am getting BadRequest..
Tested application with Gen 1 and Gen 2 storage accounts.

##https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/common/storage-rest-api-auth.md

### [Sample code]
 internal static class Program
    {
        static string StorageAccountName = "storagege

[2020-04-15 18:00] spelluru commented on #46475
#please-close

[2020-04-15 18:00] #46475 closed

[2020-04-15 18:01] tesych commented on #38553
Thanks @wes-b for pointing it out and now the [Hardware Spec](https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#power-device) is updated and live.
@asergaz please close this issue if there's no additional issues.

[2020-04-15 18:02] robsanf opened #52480 "Step 12 - select Resource Group - redundant on all Mobile App quickstarts"
step 12 under "Create a new Azure Mobile App backend" is redundant with step 5 in the procedure for this and all other Mobile App quickstart topics. Step 12 should be deleted in all cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b726a7b-f40a-6e43-fa23-716dee06666b
* Version Independent ID: 03f1b853-90df-455c-7b

[2020-04-15 18:05] PatrickFarley commented on #47787
I'm going to combine the Identify and Create and Train PersonGroup sections into one section, because that's how the sample code is structured. This way we can present the full method in chronological order, with its signature and closing bracket.

[2020-04-15 18:11] msrini-MSFT commented on #52454
@thelethalkind , As you mentioned you need to use Multi-site listener.

[2020-04-15 18:11] #52454 closed

[2020-04-15 18:12] MarileeTurscak-MSFT commented on #52478
@akuthantech
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-15 18:14] MarileeTurscak-MSFT commented on #52478
Thank you! Good catch.

I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/111507

I appreciate your contribution. :)