[2021-04-22 11:48] AnuragSharma-MSFT commented on #74060
@oliharvey I have gone through the document and it looks little conflicting. When the connection switches from older to new compute, there could a connection break even though for a split second. I am assigning this issue to the content author to review and update as appropriate.

[2021-04-22 11:48] shashishailaj commented on #74194
@lightupdifire Thank you for your feedback . We will investigate and update the thread.

[2021-04-22 11:53] gokusupa opened #74202 "Powershell Operation returned an invalid status code 'BadRequest'"
There is a bug with the powershell listed here.

Set-AzActionGroup : Exception type: ErrorResponseException, Message: Microsoft.Azure.Management.Monitor.Models.ErrorResponseException: Operation returned an invalid status code 'BadRequest'

This is a known problem reported here

https://github.com/Azure/azure-powershell/issues/11642

Looks like this is only availbe for customers with Enterprise Agr

[2021-04-22 12:27] pauljemmett opened #74205 "Problems with Instructions"
The layout of the bicep file disagrees with how MS specify it should be done from https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts?tabs=bicep

Also, if you try to run New-AzResourceGroupDeployment -Name firstbicep -ResourceGroupName myResourceGroup -TemplateFile $bicepFile -verbose -debug  as stated you get an error in PowerShell of
New-AzResourceGroupDeployment:

[2021-04-22 12:29] mohatb opened #74206 "Microsoft.ContainerService should be registered if DNS Zone is on a different subscription."
if the private DNS Zone is on a different subscription than the AKS cluster when specifying --private-dns-zone, then Microsoft.ContainerService should be registered in both subscriptions. otherwise a permission issues will occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Vers

[2021-04-22 12:33] Herman5006 commented on #74129
@BharathNimmala-MSFT any update? Thanks so much.

[2021-04-22 12:43] drmanhatin commented on #73671
Upon closer inspection, ONNX also runs on Android and iOS too, and its a Microsoft product! Perhaps it would be wise to add this in the docs aswell. https://www.onnxruntime.ai/

[2021-04-22 12:44] pantanuj opened #74207 "Deployment from Azure DevOps stuck on "The remote provider has asked us to wait until ...""
[Enter feedback here]
Following the instructions for Deploying to Azure Static web apps from Azure DevOps.

The pipeline runs but continues to show this message.

The remote provider has asked us to wait until 4/22/2021 12:37:09 PM before attempting to provision a resource. This will cause delays in the running of this request.

When the time indicated is reached, it is simply incremented by 2 min

[2021-04-22 12:48] fuglede commented on #68279
@amanmcse As pointed out by @jennirethi, that solution is for a different resource; can this be reopened?

[2021-04-22 12:48] jcruiz commented on #73450
This question in this thread has been answered. Ok to close this issue @barclayn

[2021-04-22 12:57] RyanHill-MSFT commented on #74171
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 12:59] Ovyone opened #74208 "Please clarify: "For other users, charges might apply in the future.""
Where does one find this pricing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab87f953-2276-3c34-743b-e39f62d35b60
* Version Independent ID: 15186f5f-03b1-e538-53d9-8ce936374fc0
* Content: [Exempt an Azure Security Center recommendation from a resource, subscription, management group, and secure score](https://docs.

[2021-04-22 13:01] DCtheGeek commented on #74184
@JohnLBevan Thanks for the question! The structure is partially to help with some of the SDK functions that take those components as a standalone file. For example, in Azure CLI the command for creating a policy assignment, `az policy assignment create`, uses a `params` (or `p`) parameter that expects a JSON string or **path** of just the parameter node. While you could add extra steps in your pip

[2021-04-22 13:01] GiftA-MSFT commented on #74199
@wangzheng0310 we'll review your feedback and get back to you shortly. Thanks.

[2021-04-22 13:01] DCtheGeek commented on #74184
#label:"product-question"

[2021-04-22 13:20] dhirajgandhi commented on #74152
It is possible to have multiple partners will Partner Admin Link. The user who has RBAC access to customer's Azure resources need to tag the MPN ID.

[2021-04-22 13:27] damienbod commented on #73450
Hi @jcruiz I believe this is not solved. the documentation is missing for this.

I'm implementing a PoC for VC on Azure. I have created an **Input type: Verifiable credential** and the credentials are all setup. Now I need to implement an APP which issues these credentials.

Can you add docs for using **Input type: Verifiable credential** to create a Verifiable credential ?

Greetings Damien

[2021-04-22 13:30] KrishnaG-MSFT commented on #74178
@mikesierra2 Thanks for sharing the feedback and bringing this up.
Assigning @bwren for visibility, review and document enhancement consideration if applicable.

[2021-04-22 13:36] KrishnaG-MSFT commented on #74202
@gokusupa Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2021-04-22 13:37] shashishailaj commented on #64362
@matthewjlevy

Adding to what Justin mentioned , It is managed domain environment and managed by Microsoft completely in the backend . The DR procedure for replica sets is internal and is not documented. It is same as you would have within local on-premise active directory where you have two domain controllers in the same domain physically present in two different datacenters. For your specific qu

[2021-04-22 13:43] mmacy commented on #72782
#reassign:henrymbuguakiarie

[2021-04-22 13:49] diehlmitchell opened #74211 "vague instructions"
where to put
"import com.microsoft.aad.msal4j.*;"
is not very clear
here:https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-java-webapp#more-information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa2ce92f-5316-8a49-b879-2a8983066858
* Version Independent ID: 683d4638-610c-461a-8827-46571b

[2021-04-22 13:51] mediumspw opened #74212 "Turn off automatic updates for MSIX app attach applications"
Am I turning off updates on the hosts that will attach the app and the host I'm creating the package and image on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d9a579b-3ae9-27a1-f954-8dbabd6691e7
* Version Independent ID: 2929c812-131c-24a0-76fb-f99a7af4af03
* Content: [Windows Virtual Desktop MSIX app attach portal

[2021-04-22 14:00] ssivas commented on #74208
@Ovyone , Thank you for your feedback . We will investigate and update the thread.

[2021-04-22 14:16] iampeterdaniels opened #74213 "I'd love to see this fleshed out more. Other use cases (exporting data from a SQL DB), discussion of file formats (parquet v csv, etc)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b36958c-2337-8140-760f-094c47bf754c
* Version Independent ID: ab8913f5-eb96-67b1-c0c4-348851585c71
* Content: [Best practices for using Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-best-practice

[2021-04-22 14:21] Jonatan-V commented on #61497
Hi
As stated in this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/65782), as well as another issue mentioned in that one, this is a known bug that you are actively working on.. but is still present.
Can you share a link to the work item and an ETA for when the fix will be released?

Regards Jonatan

[2021-04-22 14:23] flobeier commented on #73047
@sachinpanwar @SwathiDhanwada-MSFT at the moment the payload is sent without the `schemaId` field and `data` object when a Log Alert for Log Analytics is used. So the sample payload for Log Analytics was correct and is now wrong.

[2021-04-22 14:24] jonwbstr opened #74214 "Title doesn't match Table of contents"
Hello,
The TOC says "configure automatic updates" but the page title is "Configure Microsoft Endpoint Configuration Manager"

I did a double, tripple take as I was interested in learning about configuring automatic [windows] updates, or guidance on that topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4690ad4-6cc

[2021-04-22 14:52] nunepalli commented on #74021
I sent an email to dmsfeedback@microsoft.com from Bharath.Nunepalli@hcahealthcare.com
Please respond to that asap.

[2021-04-22 14:54] jonwbstr opened #74215 "Missing information and a related article"
Hello

This section says,

However, the "Connect windows computers" talks about connecting virtual machines. So I can't tell if we're supposed to manually connection the session host vm's "before we get started". And I am unable to identify where the workspace ID and primary key of the workspace is being used later in the setup process. I searched for both "workspace ID" and "primary key" and both

[2021-04-22 15:03] InformTechPro opened #74216 "Network requirements confusing-vague"
Network Requirements normally contain address (FQDN) and Ports. Specified requirements are very generic "local network adapter" , "outbound Azure datacenters on port 443" until we get to Azure Arc connected machines. Basically which Azure datacenter FQDN does the agent communicate to?

https://docs.microsoft.com/en-us/azure/governance/policy/concepts/guest-configuration#network-requirements

---
#

[2021-04-22 15:14] spelluru commented on #74127
@mike-urnun-msft - please confirm with @axisc and update the articles when you get a chance. Thanks.

[2021-04-22 15:30] DCtheGeek commented on #74216
@InformTechPro Thanks for the question. I've pinged the PM to help answer this question.

#assign:mgreenegit
#label:"product-question"
#label:"triaged"
#label:"assigned-to-author"
#label:"in-progress"

[2021-04-22 15:40] 1RedOne opened #74222 "Azure ARC VM Extensions page should be direct with what isn't allowed"
There is a list of which functionality is supported for ARC VMs on this page, but we might want to be explicit about which Functions aren't supported, like things like Azure Backup specifically, or other high-value extensions someone might be wondering about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b29b2f-783a

[2021-04-22 15:41] ransagy commented on #44432
Is there a way to set the stack VERSION through this as well?

[2021-04-22 15:48] PeterCLu commented on #73776
Hi @tchmiel, thanks for the catch! The latest version supported are SDK: 1.27 and Conda: 4.9.2.

I've updated the document, you should see the changes live in a few hours. I'll proceed to #please-close this issue.

If you feel that your documentation issue hasn't been resolved, please open a new issue with additional information. Have a great day!

[2021-04-22 15:48] #73776 closed

[2021-04-22 15:49] MartinJaffer-MSFT commented on #74053
Thank you for your feedback, @naleczynskia  .  It was very informative, something I was unaware of.  While I am not a database specialist, I can see how knowing where the transaction happens is an important consideration.
 This has been assigned to the content owner, @linda33wj  and will be updated as appropriate.

[2021-04-22 15:54] mgreenegit commented on #74216
@InformTechPro I want to act on this but I'm not clear. Would you mind a bit of discussion?

"Local network adapter" refers to machines in Azure routing traffic through an attached network interface for the virtual machine as opposed to using private networking in Azure, where the connection is not routed through the machine's virtual NIC. Is there something about this section that is not clear, t

[2021-04-22 16:05] YutongTie-MSFT commented on #73987
@wangzheng0310 Thanks a lot, I will work with content author to see how we can include this to our document.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-22 16:05] #73987 closed

[2021-04-22 16:06] subashsivaji opened #74223 "Egress bandwidth cost one-time?"
Under the heading **Costs associated with changing how data is replicated**

Is it really one-time cost at initial-setup?

Every time the data gets replicated from primary to secondary it will incur egress bandwidth cost. Say if 10GB data is written to primary storage every 1 hour. It will incur that 10GB egress bandwidth cost every hour, correct?

---
#### Document Details

⚠ *Do not edit this se

[2021-04-22 16:10] asergaz commented on #74071
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-22 16:10] #74071 closed

[2021-04-22 16:18] kswat opened #74224 "Please can you kindly stop giving examples that are not secure and unusable"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be102bb9-17d2-8205-54a1-f67cc473f987
* Version Independent ID: 1fc42b31-711f-388a-c265-c004f674ff99
* Content: [Quickstart - Azure Key Vault Secret client library for Java](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java?tab

[2021-04-22 16:20] aripp opened #74225 "ContentResponse version number string of "1.0.0" is not accepted by Azure B2C Directory"
The documentation specifies the possible ContentResponses as described below:

`HTTP/1.1 200 OK
Content-type: application/json

{
    "version": "1.0.0",
    "action": "Continue",
    "postalCode": "12349", // return claim
    "extension_<extensions-app-id>_CustomAttribute": "value" // return claim
}

or

HTTP/1.1 200 OK
Content-type: application/json

{
    "version": "1.0.0",
    "action": "Show

[2021-04-22 16:21] K31D opened #74226 "Enable monitoring from the Azure portal not working"
The documentation on how to enable Container Insights for ARO is wrong.
The Enable is just a link to this documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed9fdfd-06c2-3df3-d13d-65565a3fe8e9
* Version Independent ID: 8ee7ab79-4d0f-a441-aeb3-b84b459618ad
* Content: [Configure Azure Red Hat OpenShift v4.x wi

[2021-04-22 16:34] trevor-schmidt1214 opened #74227 "ASG to ASG connections failing"
On Azure VM start ups, Octopus successfully connects to some servers, but not others.  The Octopus Server was restarted and the build server was restarted and neither resolved the issues. Through troubleshooting, we have came to realize the ASGtoASG NSG rules are being skipped during connection troubleshooting coming from a deploy server to a build server living in the same resource group.

Upon r

[2021-04-22 16:38] pazniak opened #74228 "azureiotsecurity should bind-mount / as readonly, shouldn't it?"
According to azureiotsecurity module description[1] it scans (collect, analyze, aggregate) the system for vulnerabilities. So it is not supposed to *write* on the root filesystem. Instead, this [2] article requires to bind-mount "/"  with read-write access mode.

Is there a way to separately specify a volume where the module can persist whatever it needs? I want to keep access to "/" as *readonly*

[2021-04-22 16:45] RyanHill-MSFT commented on #74197
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 16:48] RyanHill-MSFT commented on #74207
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 16:56] ThomasWeiss commented on #74193
@AaliAlikoski The new RBAC presented on this page only covers data operations, and not management operations like creating databases and containers. If you want to authenticate such management operations with an AAD identity, there is already a way to achieve that with [Azure RBAC](https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control). Note that you can assign Azure RBAC and

[2021-04-22 16:59] NavtejSaini-MSFT commented on #73986
@sr-msft We have assigned this issue to you for further review and feedback.

[2021-04-22 16:59] chaisen2006 opened #74230 "Path Based routing in combination with Multi-site option."
Hi Team,

Can you please confirm if we can use Path Based routing in combination with Multi-site option. ( Azure App Gateway )

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c5c94a5-2548-b3a2-3a43-d52bc0892227
* Version Independent ID: 01e9c2bc-3265-447c-5d0f-488039c60e87
* Content: [Tutorial: URL path-based

[2021-04-22 17:01] NavtejSaini-MSFT commented on #74021
@nunepalli Thank you for sending the mail to DMS team. For now we will be closing this feedback and if you dont get any traction, post the comment here and we will pick the conversation again.

[2021-04-22 17:02] NavtejSaini-MSFT commented on #74064
@rohitnayakmsft We are assigning this to you for further review and feedback and we will make changes as you convey.

[2021-04-22 17:04] NavtejSaini-MSFT commented on #74135
@mikenri Please let us know if you need further help.

[2021-04-22 17:04] mike-urnun-msft commented on #74131
Hi @Hmr-ramzi If you're still encountering issues with AKS, please consider making a post on [MS QnA channel](https://docs.microsoft.com/en-us/answers/index.html).

[2021-04-22 17:04] RyanHill-MSFT commented on #74126
@ccompy, are there any insights into @jsandersrocks question?

[2021-04-22 17:05] grumm90 commented on #65873
any news?

[2021-04-22 17:10] MGoedtel commented on #74222
@1RedOne - Thanks for the suggestion and we will take that into consideration during our next sprint.  Because this isn't directly related to an issue with the article, I'm going to proceed with closing this. #please-close

[2021-04-22 17:10] #74222 closed

[2021-04-22 17:11] Justinha commented on #72817
@abhijeet-MSFT This has been added to the prerequisites. Thanks for the correction!

[2021-04-22 17:11] Justinha commented on #72817
#please-close

[2021-04-22 17:11] #72817 closed

[2021-04-22 17:14] Justinha commented on #70769
@Jakub-Urban great point, thanks you! Sorry for delay. This was added to Prerequisites as suggested.

[2021-04-22 17:15] Justinha commented on #70769
#please-close

[2021-04-22 17:15] #70769 closed

[2021-04-22 17:19] KranthiPakala-MSFT commented on #74192
@OrrinEdenfield
Thanks for the feedback! We have assigned the issue to the content author to review this and provide an update as appropriate.

[2021-04-22 17:25] OrrinEdenfield commented on #74192
Great. Thank you @KranthiPakala-MSFT.

[2021-04-22 17:25] murrayi commented on #74154
Thanks @JamesTran-MSFT @hpsin @mmacy for helping resolve this issue!

Found the github page corresponding to the article is here:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/v2-oauth2-auth-code-flow.md

Hope the postman link is fixed for this doc and any others affected!

[2021-04-22 17:32] mikenri commented on #74135
@NavtejSaini-MSFT

The main issue is it seems that the MySQL gateway is still used when using service endpoints.
The MySQL server version presented when first connecting is 5.6 even though the server is running 5.7

This causes compatibility issues with some 3rd party applications that determine the server version based on what the server introduces itself as when first conecting.

Is there no way

[2021-04-22 17:36] mike-urnun-msft commented on #74183
Hey @JPalmerDev - It sounds like you were attempting to make edits to your function that is already zipped as a package & uploaded on to Azure but the expectation with zip deploy is that your package contains a **ready-to-run app** that doesn't need further changes/edits hence the error message.

cc-ing @ggailey777 for feedback on correlating Portal errors to corresponding docs.

[2021-04-22 17:42] BryanTrach-MSFT commented on #74191
@SvenSowa Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 17:43] Andriy-dev opened #74231 "VpnGw5AZ SKU"
It is unclear what 5AZ in SKU means if maximum number of Availability Zones in Azure is 3. Would you clarify it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0377d24-bad6-0d7e-e5b1-0343d225d835
* Version Independent ID: 163949a6-584f-9c7c-815f-ad69f09f83dd
* Content: [Azure VPN Gateway: configuration settings](http

[2021-04-22 17:45] TravisCragg-MSFT commented on #74129
@Herman5006 Thanks for the feedback!

To understand this, you will need to understand [Availability Zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#availability-zones), where a datacenter region has 3 separate zones inside of a single region. These zones have their own separate infrastructure, so failures in any infrastructure will only bring down 1 of the 3 regions.

[2021-04-22 17:46] kgremban commented on #73789
@stewartadam I found two references to "device explorer" in the how-to develop in VS Code article, and updated them both to clarify that the devices are under the Azure IoT Hub section of the Explorer tab. Since this change is straightforward, I'll have github close this issue automatically once my pull request is merged. If you have any follow-up questions or comments, though, feel free to post t

[2021-04-22 17:50] #73789 closed

[2021-04-22 17:52] BharathNimmala-MSFT commented on #74226
@K31D Thank you for reaching out with your query , will review and get back to you at the earliest.

[2021-04-22 18:01] TravisCragg-MSFT commented on #73884
@yutaro113 This might be possible, but it is not a supported scenario. It is recommended that you forward the DNS query to your Azure Virtual Network.

To add an explanation on why this is necessary, I have assigned this issue to the doc author to evaluate and update as appropriate.

[2021-04-22 18:11] b-juche commented on #74191
@SvenSowa - Thanks for the comment:
"Select-AzSubscription xyz before running any of the commands mentioned below."

Can you help me find the command reference for 'Select-AzSubscription' to point users to?

I find only
'Select-AzContext' (https://docs.microsoft.com/en-us/powershell/module/az.accounts/select-azcontext?view=azps-5.8.0 ) and
'Get-AzSubscription' (https://docs.microsoft.com/en-us/pow

[2021-04-22 18:12] DaveVoyles opened #74232 "Article does not link to the most current information on the topic"
[Enter feedback here]
The top of the article has a warning which reads: "This is Gen 1 information", but does not link to the most current information that I should be looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd8ab30-7266-39bd-b6c5-d8973fb0a212
* Version Independent ID: 46b6126f-fefb-e9a5-c77a-253e3

[2021-04-22 18:19] SvenSowa commented on #74191
Yeah, sorry. Its an alias.

https://github.com/Azure/azure-powershell/issues/10848

Am 22.04.2021 um 20:11 schrieb Julie Chen ***@***.***>:

﻿

@SvenSowa<https://github.com/SvenSowa> - Thanks for the comment:
"Select-AzSubscription xyz before running any of the commands mentioned below."

Can you help me find the command reference for 'Select-AzSubscription' to point users to?

I find only
'Select

[2021-04-22 18:28] andrewmatveychuk opened #74234 "The list of supported resources at the tenant level is misleading"
The list of supported resources at the tenant level is misleading. You cannot deploy custom Azure Policy definitions or initiatives at the tenant level. Currently, it looks like you can do that when, in fact, you can only create assignments for the build-in policies and initiatives.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-22 18:30] b-juche commented on #74191
@SvenSowa - Thanks for clarifying.

So we'll have users use the 'Set-AzContext' command, which has a command reference for details.

We'll update the doc to include the following statement:

"If you have multiple Azure subscriptions, ensure that you are registering for the intended subscription by using the 'Set-AzContext' (https://docs.microsoft.com/powershell/module/az.accounts/set-azcontext)  c

[2021-04-22 18:32] ejschoen opened #74236 "MSAL4J doc for using an authentication result should demonstrate getting access token from IAuthenticationResult instance"
The java doc pages for using MSAL4J demonstrate getting an IAuthenticationResult.  But the pages for using that result assume that the application has an accessToken in a variable.  The example should demonstrate getting the access token from the IAuthentication Result

Rather than this:
conn.setRequestProperty("Authorization", "Bearer " + accessToken);

this:
IAuthenticationResult authenticationR

[2021-04-22 18:33] PrometheusRising1 opened #74237 "DevOps Link in Article is Broken (leads to 404 error)"
DevOps link under "Multi-Tenant app with database-per-tenant" (anchored link here: https://docs.microsoft.com/en-us/azure/azure-sql/database/saas-tenancy-app-design-patterns#d-multi-tenant-app-with-database-per-tenant) is broken and does not lead anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f6795f-45de-12

[2021-04-22 18:40] b-juche commented on #74191
Doc change has been merged and being published through PR 155608 (https://github.com/MicrosoftDocs/azure-docs-pr/pull/155608 ).

#please-close

[2021-04-22 18:40] #74191 closed

[2021-04-22 18:41] parithon opened #74238 "No PoweShell Option?"
Is there no way to update the password via PowerShell? Having to do this via the GUI makes it difficult to automate the password change!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63af3e3-677e-32d8-ca7e-c9b253ca4afb
* Version Independent ID: fe8effb3-cd62-cc65-2dd9-3306a63d9e33
* Content: [Azure AD Connect sync:

[2021-04-22 18:49] DerekHerman-MSFT commented on #74213
@iampeterdaniels Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 18:50] gechu opened #74239 "Computed signals - best practise"
What is best practise for creating a "computed signal" in processing pipeline?

Except from article:
_"**Computed signals** from the processing pipeline are pushed to Azure Time Series Insights Gen2 for storing and analytics."_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e91b487-f485-0bb2-625a-f8ca191bbc9e
* Versio

[2021-04-22 19:09] himanshusinha-msft commented on #74014
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-04-22 19:12] yehudamakarov commented on #74014
2 additional points.
1. I didn’t notice this is officially for Linux and Mac.
2. Kafka connect runs on windows and there are windows scripts in the download files.

I’d suggest to make the content windows friendly because it can be.

But technically, there’s nothing wrong with the content.

[2021-04-22 19:14] muniz034 opened #74240 "QnA Maker Update API not working"
I want to add follow-up prompts to my QnA KB, but it is not working. I tried this  https://github.com/MicrosoftDocs/azure-docs/issues/32586, however, it is not working !

Step-by-step:

1. I create a KB using this JSON. (Create KB)

[code]

2. After, I update the KB using this JSON. (Update KB)

[code]

But the KB don't update at all.
Thank you.

---
#### Document Details

⚠ *Do not edit this sect

[2021-04-22 19:15] pettys commented on #24673
This description sounds like it should be really helpful, but I have no idea what it means or how to begin fixing it.

[2021-04-22 19:18] MalachiMcintosh commented on #74177
Thanks @AnuragSharma-MSFT

[2021-04-22 19:18] himanshusinha-msft commented on #74012
@alhieng : Just wanted to check if the library was intalled on the cluster . Please go [here ](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-python-packages)to know how to installed libraries on the cluster .

[2021-04-22 19:22] jakobfischer17 opened #74243 "Support for Confidential Compute Instances - different statements in localized docs"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/36012717/115773453-9ee03f00-a3b0-11eb-8fba-6e11af81af74.png)

https://docs.microsoft.com/en-us/azure/batch/batch-pool-vm-sizes => lists DCSV2 as supported, so I can assume Confidential Computing is supported.

![image](https://user-images.githubusercontent.com/36012717/115773486-ab649780-a3b0-11eb-8167-e57fbb47feca.png)

Howe

[2021-04-22 19:22] welshkc opened #74244 "Document out of date"
This document shows a part of the management interface that does not exist any longer.  In its place is a redirect to another blade with confusing fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea1437d-a485-ed34-7706-c5be45ff3d8f
* Version Independent ID: f265f582-1894-bef9-9b81-a6bbd34b4381
* Content: [Quicks

[2021-04-22 19:30] DanielBirmingham commented on #60671
Hi @MarileeTurscak-MSFT , it appears that the change either never made it to the docs, or it was reverted back.  Should I file another request?

[2021-04-22 19:30] dbshawt commented on #37692
hey @jakaruna-MSFT, what do you mean by creating a user?

[2021-04-22 19:31] dbshawt commented on #37692
hey, @soheilade what do you mean by creating a user?

[2021-04-22 19:40] cynthn commented on #64301
FYI - for anyone interested - the benchmark docs were updated recently with new numbers for Linux and a change to CoreMark for Windows.

[2021-04-22 19:41] cynthn commented on #65415
@henbox FYI - the benchmarking docs have been updated with new numbers.

[2021-04-22 19:52] JamesTran-MSFT commented on #74224
@kswat
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-22 19:53] cc-laura opened #74247 "Missing code?"
Where is the "SubmitRequest" method? I can't figure out what is used to actually send the request queries to the server.

Thanks,
Laura

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa-aa3773c55806
* Content: [Build an Azure Cosmos DB

[2021-04-22 19:53] JamesTran-MSFT commented on #74238
@parithon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-22 19:54] JamesTran-MSFT commented on #74244
@welshkc
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-22 19:55] JamesTran-MSFT commented on #74236
@ejschoen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-22 20:00] kgremban commented on #73567
@SeryioGonzalez Since we haven't heard back from you, I'm going to close this issue. If you have the time to provide more details about your experience and how you think the content could be improved, please post here again and we'll reopen the issue.

#please-close

[2021-04-22 20:00] #73567 closed

[2021-04-22 20:14] jmprieur commented on #74236
#assign-to @navyasric

[2021-04-22 20:17] JamesCromptonMSFT opened #74249 "Code sample doesn't compile"
The primary code sample at the top of the page:

ChangeFeedProcessor changeFeedProcessor = cosmosClient.GetContainer(databaseName, sourceContainerName)
        .GetChangeFeedProcessorBuilder<ToDoItem>(processorName: "changeFeedSample", HandleChangesAsync)
            .WithInstanceName("consoleHost")
            .WithLeaseContainer(leaseContainer)
            .Build();

uses named parameter process

[2021-04-22 20:17] welshkc commented on #74244
Turns out I was trying to edit the wrong type of app and the docs are correct for the app that I thought I was working on.

Disregard my comment.

Ed

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, April 22nd, 2021 at 2:54 PM, James Tran-MSFT ***@***.***> wrote:

[2021-04-22 20:28] Karishma-Tiwari-MSFT commented on #74206
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 20:32] Karishma-Tiwari-MSFT commented on #74214
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 20:33] Karishma-Tiwari-MSFT commented on #74215
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 20:39] ZeffyReport opened #74250 "Update documentation to show that ACL on share parent directory cannot be changed"
The documentation talks about the default permissions granted to the Azure Files share and the fact these can be changed using icacls or Windows explorer, but they do not detail that the parent level permissions cannot be changed. Can you add documentation on the same as some environments do no want 'Authenticated Users' wanting modify access on the parent directory on a share, which would influen

[2021-04-22 20:53] GrzegorzHejman opened #74251 "Parameter file 64KB limit - is it correct?"
Is the information about the 64KB limit for the parameter file correct?
I've just tested it and it seems that deployment of the template with approximately 2.5 MB parameter file was successful. Deployment of ARM templates with parameter file above 2.5 MB failed with error 413 request entity too large.

Can you double-check if the limits haven't changed?

---
#### Document Details

⚠ *Do not edit t

[2021-04-22 21:01] DerekHerman-MSFT commented on #74250
@roygara Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 21:02] JnHs commented on #74243
Hi @jakobfischer17 - thanks for pointing this out. The information on the en-us page is correct - Batch does support DCsv2 sizes. The inconsistent documentation is due to a delay updating the localized pages. I'll investigate why it's taken so long, and make sure these are updated as quickly as possible.

[2021-04-22 21:23] bwren commented on #74178
Thanks for the comment. I believe Intune focuses more on mobile clients and desktops. Azure Monitor is focused more on servers that Intune typically isn't managing, so I don't know that this would be a common scenario. I'll ask around, but I don't think it's a common enough scenario for us to document.

[2021-04-22 21:23] bwren commented on #74178
#please-close

[2021-04-22 21:23] #74178 closed

[2021-04-22 21:33] cynthn commented on #37692
@dbshawt In order to use the serial console you have to have a user account on the machine that is secured with a password (not an SSH key). I think that might be what they mean by creating an account - the original VM used an SSH key, so they needed to create a new acocunt with a password to use serial console.

But, someone can correct me if I am wrong :)

[2021-04-22 21:34] BryanTrach-MSFT commented on #74227
@trevor-schmidt1214
Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2021-04-22 21:35] BryanTrach-MSFT commented on #74240
@muniz034 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 21:36] bmedlin opened #74252 "Confusion on outbound IP changes"
This wording is confusing:
"When your function app runs in a Consumption plan or in a Premium plan, the outbound IP address might also change even when you haven't taken any actions such as the ones listed above."

Is this the same as saying "When your function app runs in a Consumption plan or in a Premium plan, the outbound IP address may change at any time." ? I need to be certain whether I can

[2021-04-22 21:41] MarileeTurscak-MSFT commented on #74211
@diehlmitchell
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-22 21:43] TanGolf opened #74253 "Conflict in comments related to Python Azure Function input stream use (func.InputStream)"
Hi,

In the Python section of [https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-bindings-storage-blob-input.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-bindings-storage-blob-input.md) there seems to a conflict in the comment in the Python code snippet with other documentation. The comment states `The type

[2021-04-22 21:43] yil578 opened #74254 "download the VM Agent installer link 404"
[Enter feedback here]
The 'download the VM Agent installer' link in the [Manual Installation](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#manual-installation) section has 404 - File or directory not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e238

[2021-04-22 21:44] GiftA-MSFT commented on #74199
@wangzheng0310 **File Share** isn't a supported datastore type in a virtual network. These are the supported storage types.

- Azure Blob
- Azure Data Lake Storage Gen1
- Azure Data Lake Storage Gen2
- Azure SQL Database

[2021-04-22 21:54] BharathNimmala-MSFT commented on #74143
@LudicrousLiam Apologies for your experience , post discussing with our Internal team it was called out that visibility to Activity Logs in the demo environment was removed on purpose and the documentation should be updated accordingly. Our team has taken a backlog item to update the document with the new table so that its not confusing any more.

However the filters shared in the existing documen

[2021-04-22 21:54] #74143 closed

[2021-04-22 22:01] LudicrousLiam commented on #74143
Thank you!

[2021-04-22 22:03] Oury-MSFT commented on #74249
@JamesCromptonMSFT Thank you for your feedback. We are looking into this and will get back to you.

[2021-04-22 22:05] jeffpatt24 commented on #23316
This section was removed in the Troubleshooting documentation due to an FSRM bug. If you specify more than one character in the file screen policy to block, the FSRM MMC snap-in can crash. We will re-add this content once the FSRM bug is fixed.

[2021-04-22 22:05] jeffpatt24 commented on #23316
#please-close

[2021-04-22 22:05] #23316 closed

[2021-04-22 22:06] Oury-MSFT commented on #74237
@PrometheusRising1 Thank you for your feedback. We are looking into this issue and will get back.

[2021-04-22 22:14] femsulu commented on #74251
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-04-22 22:26] dlepow commented on #71747
The article has been updated with improved login workflow with exposed token. Thanks again for raising the issue.
#please-close

[2021-04-22 22:26] #71747 closed

[2021-04-22 22:33] dlepow commented on #73733
@northtyphoon - Can we be more specific about the `docker build` options that are supported in the  task`build` step? Thanks!

[2021-04-22 22:33] JamesTran-MSFT commented on #74224
@kswat
Thank you for your feedback! Adding @msmbaldwin for visibility on this.

[2021-04-22 22:33] #74224 closed

[2021-04-22 22:36] femsulu commented on #73896
redirecting to @rashi-ms to review and confirm.

[2021-04-22 22:39] femsulu commented on #74016
redirecting to @lgayhardt to review doc-update request.

[2021-04-22 22:41] femsulu commented on #74069
redirecting issue to doc-author, @trkeya  for further review.

[2021-04-22 22:43] femsulu commented on #74134
redirected to doc-athor @tfitzmac to review doc-update request.

[2021-04-22 22:44] mike-urnun-msft commented on #73890
@geoffbrucepayne Hope the sample was helpful. Since we didn't determine any changes to this documentation upon review this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-22 22:44] #73890 closed

[2021-04-22 22:44] dlepow commented on #72999
@alexeyshishkin01 - Thanks for your feedback. The behavior in your point 1 is by current design. I appreciate there is some inconsistency with `az acr credential` command behavior. For additional product feedback, consider opening an issue in the [acr](https://github.com/Azure/acr) GitHub repo.
I'm submitting a doc fix for your point 2 - helpful callout! When that fix merges, this issue will close

[2021-04-22 23:08] LucienUrech commented on #15515
Hi @YutongTie-MSFT
We want to create an AI enrichment pipeline for documents. Most needs can be met with the cool cognitive services. But we also have to be able to read barcodes on the documents, and there is still no cognitive service for that. It would be nice if you could include such a function into the Computer Vision API. So far, we haven't found a barcode API from another developer that wo

[2021-04-22 23:10] YutongTie-MSFT commented on #15515
@LucienUrech I am checking internally for this.

[2021-04-22 23:15] #72999 closed

[2021-04-22 23:19] dlepow commented on #71439
@SteveLasker @yugangw-msft  - Can you please comment on this question about how/whether service endpoint policies affect access to ACR data endpoints? Many thanks

[2021-04-23 00:02] BryanTrach-MSFT commented on #74212
@mediumspw Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:06] BryanTrach-MSFT commented on #74223
@subashsivaji Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:07] BryanTrach-MSFT commented on #74225
@aripp Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:08] BryanTrach-MSFT commented on #74228
@pazniak Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:10] BryanTrach-MSFT commented on #74230
@chaisen2006 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:11] BryanTrach-MSFT commented on #74231
@Andriy-dev Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:12] BryanTrach-MSFT commented on #74232
@DaveVoyles Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:15] BryanTrach-MSFT commented on #74253
@TanGolf Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 00:44] ChaitanyaNaykodi-MSFT commented on #74252
Hello @bmedlin,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-23 01:02] BharathNimmala-MSFT commented on #73782
@Amarender-KR My sincere apologies for delay in getting back to this thread.

Thanks again for bringing this issue to our notice, we are able to repro it. Post analysis seems that the actions we used in the document are referencing "Send to email" (version 1) action. However currently we could only see "Send to email (V2)" action with in the Logic App designer .

![image](https://user-images.githu

[2021-04-23 01:02] #73782 closed

[2021-04-23 01:03] kirkmj opened #74257 "Issue with cookie-based affinity"
With the option --http-settings-cookie-based-affinity set to "Enabled" I don't think the app gateway will behave the way your quickstart explains. In order to get both backend servers to respond to a browser query I had to change this option to disabled. curl would return both servers in an alternating fashion as expected, which lines up as there are no cookies involved there.

---
#### Document D

[2021-04-23 01:23] natpascual1027 commented on #73970
@elisolMS

Your response made it so much clearer! :D I now have a better understanding of what the licensing doc says.

[2021-04-23 02:05] SteveLasker commented on #71439
They’re not correlated. You can turn on data-endpoints independent of service endpoints as Service Endpoints are based on network tags on the public endpoints.
However, if you enable Private Link, dedicated data-endpoints are automatically enabled.
I should call out that we will be deprecating Service Endpoints as they’re the less secure predecessor to Private Links which is GA.

Hope that helps
S

[2021-04-23 02:40] linda33wj commented on #74053
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #64051
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #65159
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #66341
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #66597
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #68291
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #71865
#reassign:jianleishen

[2021-04-23 02:46] linda33wj commented on #72725
#reassign:jianleishen

[2021-04-23 02:47] linda33wj commented on #73307
#reassign:jianleishen

[2021-04-23 02:47] linda33wj commented on #57835
#reassign:jianleishen

[2021-04-23 02:47] linda33wj commented on #57531
#reassign:jianleishen

[2021-04-23 02:47] ToruMakabe commented on #38225
@msrini-MSFT @sharad4u Any updates? Or Are there any blockers to update the doc? Many users want to integrate AFD with Key Vault firewall, so this improvement of the doc is important. Could you please consider updating this doc?

[2021-04-23 02:47] linda33wj commented on #61640
#reassign:jianleishen

[2021-04-23 02:49] ToruMakabe opened #74261 "Azure Front Door as Trusted Service"
It seems that [Azure Front Door works as trusted service](https://github.com/MicrosoftDocs/azure-docs/issues/38225). Could you please update the list? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29579d6a-ad17-fd0f-9a27-3860d81efe6b
* Version Independent ID: 73738ba6-8189-1762-52da-326d153ed8b5
* Content: [Vi

[2021-04-23 03:07] don007git commented on #73832
Sorry being late, no, not good. as I said it only has 4 options, instead of 5 options shown on the page. I don't know how to attach a screen shot here, but it looks exactly as the diagram shown on that page, except for missing the  "Connect to Computer Instances" option. Please look at the diagram on that page, I am sure you know what I am talking about, or please let me know how to attach a scree

[2021-04-23 03:45] YutongTie-MSFT commented on #73935
@jasonmellone Hello, I have created the link with a PR. You should see the change soon. Thanks again for pointing this out.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-23 03:45] #73935 closed

[2021-04-23 04:08] AnuragSharma-MSFT commented on #74247
@cc-laura Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-23 04:09] AnuragSharma-MSFT commented on #74177
@MalachiMcintosh We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-23 04:09] #74177 closed

[2021-04-23 04:30] ssivas commented on #73970
#pelase-close

[2021-04-23 04:31] #73970 closed

[2021-04-23 04:54] AshokPeddakotla-MSFT commented on #74239
@gechu Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 04:59] AnuragSharma-MSFT commented on #73983
@surendramaran We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-23 04:59] #73983 closed

[2021-04-23 05:00] AnuragSharma-MSFT commented on #74052
@dgpoulet We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-23 05:00] #74052 closed

[2021-04-23 05:15] pnarsi opened #74263 "Inconsistent FW Requirements"
The "Firewall requirements for on-premises/private network" of this page does not align to this "Port and Firewall" section on this page: https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#ports-and-firewalls

Service Bus is replaced by Azure Relay (ServiceBus tags won't work) and this other page says that the SHIR VM needs to have outbound connectivity to a

[2021-04-23 05:17] Charuwaka commented on #24673
With Latest Update Everything is Working Fine Now

[2021-04-23 05:17] psmanhas commented on #74254
@yil578 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-23 05:17] psmanhas commented on #74254
@amjads1 Can you please check and add your comments on this doc update request as applicable

[2021-04-23 05:19] SubhashVasarapu-MSFT commented on #74257
@kirkmj, Thanks for reaching out. We will investigate and update this thread.

[2021-04-23 05:26] AnuragSharma-MSFT commented on #74193
@ThomasWeiss Thanks for providing the required information.
@AaliAlikoski Please let us know if you need more details on the same.

[2021-04-23 05:47] Tarjei-stavanger opened #74264 "Why not use the PowerShell SSL module on windows???"
[Enter feedback here]
I wonder why the PowerShell SSL module is not used for Windows. If there is a good reason apart from mirroring the Linux method, it would be nice to see it mentioned in the beginning of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869192a9-b222-7355-f5e5-fe2c72a62a03
* Version Indep

[2021-04-23 06:02] ram-msft commented on #73972
@hylinux We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-23 06:02] #73972 closed

[2021-04-23 06:02] ram-msft commented on #73945
@academMisfit  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-23 06:02] #73945 closed

[2021-04-23 06:14] SubhashVasarapu-MSFT commented on #73954
@hkelley, Appreciate your patience. Looks like the PR has already been submitted. It would take some time for the changes to get reflect over the document.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-23 06:14] #73954 closed

[2021-04-23 06:26] CHEEKATLAPRADEEP-MSFT commented on #74263
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-23 06:34] mauve commented on #71461
Any progress?

[2021-04-23 06:55] #73985 closed

[2021-04-23 06:57] aramesh-msft commented on #63642
@dirkslab This is a known limitation in Front Door. The issue is as follows-
From your non-working example, if your incoming URL is `mydefaultfrontend.azurefd.net/b9af09/apiman/core/api/v1/test1` then we can divide the path into two parts - matched path and unmatched path (wildcard match).
1. Matched path - This is the "Patterns to Match" parts of the incoming URL so in this case **/b9af09/**
2. U

[2021-04-23 07:04] yob8 opened #74265 "This page does not include Availability Zone failure HA scenario for Postgres Single Server"
This page does not include the Availability Zone failure HA scenario for Azure Posgres Single Server.

There is no information if restore is required or not when Availability Zone goes down.

Is Gateway multi-AZ?
what are RTO and RPO when Availability goes down?
What are recovery steps if any (Does AZ failure require user action)

It would be great if the above information is included in the docum

[2021-04-23 07:05] Kalaivin commented on #73445
Good day Ryan,

Sorry for taking so long to respond.

The SQL gets the app name here:

"CREATE USER [<identity-name>] FROM EXTERNAL PROVIDER;
ALTER ROLE db_datareader ADD MEMBER [<identity-name>];
ALTER ROLE db_datawriter ADD MEMBER [<identity-name>];
ALTER ROLE db_ddladmin ADD MEMBER [<identity-name>];
GO"

Where the <identity-name> is the name of the app.

Now, in regards to the issue itself:

I

[2021-04-23 07:10] ichivers commented on #73985
Still the same, why closed?

[2021-04-23 07:13] SnehaAgrawal-MSFT commented on #73985
@ichivers Thanks for the feedback! The PR has been created for this and it will be visible soon.

[2021-04-23 07:20] mslot commented on #72080
I have actually found some errors in the template. I have now enabled versioning and change feed:
[code]

Still i get the same error:
[code]

[2021-04-23 07:32] SwathiDhanwada-MSFT commented on #74144
@deccansoft Most metrics in Azure are stored for 93 days. However, you can only query for no more than 30 days worth of data on any single chart. This limitation doesn't apply to log-based metrics. In case , if you see a blank chart or your chart only displays part of metric data, verify that the difference between start- and end- dates in the time picker doesn't exceed the 30-day interval. Once y

[2021-04-23 07:32] vussan commented on #74197
I just did. Please check the email.

[2021-04-23 07:59] GitaraniSharma-MSFT commented on #74019
@RonnieQuan , We are closing this issue for now. In case you would like to test the private preview feature for Fastpath over Vnet peering, please reply and we will gladly continue the discussion.

[2021-04-23 07:59] #74019 closed

[2021-04-23 08:04] shashishailaj commented on #74261
@ToruMakabe Thank you for your feedback . We will investigate and update the thread.

[2021-04-23 08:14] AaliAlikoski commented on #74193
@ThomasWeiss thanks for a quick and knowledgeable answer! I have somehow missed the already existing way to tdo management operations, thanks for pointing it out. However, I already implemented the creation of database and containers using bicep, which seems to be a better approach in my case anyway, I have no real need to dynamically create them after the initial setup via bicep/ARM.

[2021-04-23 08:14] #74193 closed

[2021-04-23 08:18] jesperkristensen opened #74266 "Azure Function trigger documentation is unclear on poor error handling"
Most triggers in Azure Function have very poor error handling, offering neither at-least-once nor at-most-once delivery of messages or events.

For example the Cosmos DB trigger can deliver an event zero times, if an unhandled exception occurs, or multiple times, if the function is stopped while the event is being processed.

The documentation page for the Cosmos DB trigger at https://docs.microso

[2021-04-23 08:22] KrishnaG-MSFT commented on #73055
@jokarl Can you test now and see if it works.

[2021-04-23 08:26] KrishnaG-MSFT commented on #74152
@dhirajgandhi Thanks for the super quick response.
@VipinAgarwal Let us know if you have any further questions. If not, we would like to go ahead and close this issue.

[2021-04-23 08:57] SnehaAgrawal-MSFT commented on #73971
@take-4c Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-23 09:01] jokarl commented on #73055
@KrishnaG-MSFT it does not seem to work, do I have to perform any additional steps?
![image](https://user-images.githubusercontent.com/6864214/115847361-2a92b380-a423-11eb-84db-787b57c040e0.png)

[2021-04-23 09:31] maarten03 opened #74267 "Feedback on 'Create custom fields in a Log Analytics workspace in Azure Monitor (Preview)'"
I read "Expand the record properties, click the ellipse" and was looking for the ellipse. Can it be that you mean the 'menu sign' with the three dots?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0f4a1f-0c45-d4c4-a751-01f38c6fd237
* Version Independent ID: a7687863-1ac0-3efb-c671-393d824b8c77
* Content: [Custom fie

[2021-04-23 09:35] AshokPeddakotla-MSFT commented on #73688
@kgremban Do we have any update on this query? Could you please update your findings?

[2021-04-23 09:45] AnuragSharma-MSFT commented on #74265
@yob8 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-23 09:57] AshokPeddakotla-MSFT commented on #74264
@Tarjei-stavanger Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-23 10:11] KrishnaG-MSFT commented on #73055
@jokarl Ah! Got it! At this point, only Canary and West Central US regions got updated. Complete rollout would take some more time (i.e., around week or two). Sorry for asking to check to test out early at this time. :)

Will update you once everything is done.

[2021-04-23 10:12] andrePKI opened #74268 "Subscription == subscription != subscription"
I think it is a little bit confusing that subscription in this respect is not the subscription most commonly used (from grouping resources in resource groups) by people working with Azure. Maybe it is good to add a note to mention this distinction, to make it a bit moer clear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-23 10:28] jokarl commented on #73055
No worries, I'll await the rollout. The API Management instance is in North Europe and the Log Analytics workspace is in West Europe if that matters.

[2021-04-23 10:29] SwathiDhanwada-MSFT commented on #74267
@maarten03 Thanks for reaching out. Yes, the ellipsis mean the three dots. I just made change from ellipse to ellipsis and the change will be live soon.

[2021-04-23 10:37] #73923 closed

[2021-04-23 10:41] schmitch opened #74269 "adminconsent in multi-tenant client_credentials applications?"
Currently I hope this is the right way to ask questions or missing documentation for Microsoft365/Azure AD Documentation.

My problem is that we are building a multi-tenant applications that needs to access emails within a background daemon. However the problem is how to correctly know, that the user is allowed to consent to the application.

There is an example that speaks about it:

- https://do

[2021-04-23 10:44] JoaoSilva02 commented on #35407
I was also interested in this topic.
My question is:
- Is there any possibility of referring to the published Pipeline by name? Something like this:

p = PublishedPipeline.get(ws, **name="<Pipeline Name>"**)
p.disable()

[2021-04-23 10:48] oliverchristen commented on #73688
I think I understand now. Certificates and symetric keys will be the only options to authenticate. If this is correct, feel free to close this issue.

[2021-04-23 10:58] SubhashVasarapu-MSFT commented on #73645
@Jakenuts, I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2021-04-23 11:08] maximivanov commented on #69667
@swatisahay I believe the app setting is `WEBSITE_HEALTHCHECK_MAXPINGFAILURES` (note no extra underscores) - at least that's what I used previously (and it worked).

[2021-04-23 11:39] asergaz commented on #74228
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-23 11:41] mehtaAbhimanyu commented on #73892
Thank you so much for you quick reply.
![problem](https://user-images.githubusercontent.com/43494969/115865915-3e491480-a439-11eb-9b06-5143af574847.PNG)
The problem I have is at this stage.
Since I removed XR plugin management, the errors are gone. But I am trying to configure windows mixed reality with the Legacy XR management system (as shown in picture)
The problem is, I see the windows mixed r

[2021-04-23 11:42] mehtaAbhimanyu commented on #73892
P.S. I also tried with Windows Mixed Reality 4.2.1 package. The option was still grayed out. On Unity 2019 LTS
Unable to configure the XR settings..

[2021-04-23 11:43] porkamizeria opened #74271 "IP range correction"
Hi Guys, shouldn't the IP range circled below (as well as in Workflow, step 5 example) be 10.0.0.0/8 rather than 10.0.0.0/24?

![Capture](https://user-images.githubusercontent.com/44444640/115866054-0fc73b80-a431-11eb-9a38-43fd5e825b6c.PNG)

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ec0f6d3-0cda-caf3-4a5e-

[2021-04-23 11:44] dannradkov opened #74272 "How to edit JIT of multiple VM's"
In your article https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time?tabs=jit-config-asc%2Cjit-request-asc you write how to:
1) enable jit on multiple VM's
2) edit jit on 1 vm
How do i edit the JIT configuration for multiple VM's from the portal ?
If the portal doesnt support this, can you provide a powershell guide ?
[Enter feedback here]

---
#### Document Details

[2021-04-23 11:56] pesetskyps opened #74273 "New-CACertsCertChain command does not produce subdirectories private, csr and other"
1. `New-CACertsCertChain` command does not produce subdirectories private, csr and other. Names of files also different. So the other references in the tutorial are not relevant for Windows system.

2. _Repeat steps 1-3 for a second device with device ID custom-hsm-device-02. Use the following values for that device:_
Those steps require file new-device.pfx and new-device.pem to be remove or opens

[2021-04-23 12:16] GitaraniSharma-MSFT commented on #74200
@andyturn31 , yes Azure Bastion Vnet peering is currently in Public Preview. Not sure why it is not mentioned in Azure updates page but since MS Docs and Azure Updates are 2 different repositories, we do not have visibility or control over updating Azure updates page. If you need any help with MS Docs, please provide a feedback and we will look into it.

We are closing this issue for now. If there

[2021-04-23 12:16] #74200 closed

[2021-04-23 12:27] SimonDarksideJ opened #74274 "Getting Started and How-To's show you code, but NOT how to setup the Unity scene"
[Enter feedback here]
Just getting started with Anchors and I've got a project, instaled the ASA sdk and samples, including running them on a device and testing, great.

I then wanted to create my own scene.  ALL the docs then talk about the code, and integration, placing anchors, great.

But I have set up a new blank scene and have a camera and light, and nowhere in the docs does it also tell you

[2021-04-23 12:30] SimonDarksideJ opened #74275 "How-To pages need updating as they still state to use Visual Studio 2017 and other old tech"
From this page
https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app

The setup guide talks about very old tech, Visual Studio and Unity versions. This needs to be updated in line with the current ASA samples repo that uses Visual Studio 2019 and Unity 2020

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-04-23 12:35] GitaraniSharma-MSFT commented on #74231
@Andriy-dev , VpnGw5AZ is VPN Gateway ‘size 5’ with AZ-enabled. It is not VpnGw '5AZ' but is VpnGw5 'AZ'.

![image](https://user-images.githubusercontent.com/67630903/115871399-220b9e80-a45e-11eb-9aec-7ec91005826f.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-23 12:35] #74231 closed

[2021-04-23 12:42] Luunk opened #74276 "Change "New-AzADDomainServiceReplicaSetObject" to "New-AzADDomainServiceReplicaSet" in the documentation."
Example code is referencing to the comand: "New-AzADDomainServiceReplicaSetObject".
In latest module version (0.1.0 - Az.ADDomainServices) the command is: "New-AzADDomainServiceReplicaSet"

Minor adjustment to the documentation is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c701f84-d6a8-b5aa-dad7-4c38b77496

[2021-04-23 12:55] MarekLani opened #74277 "Unable to authenticate in Digital Twin Explorer - Invalid client secret"
When trying to authenticate digital twin explorer returns following error:

AuthenticationError: EnvironmentCredential authentication failed.(status code 400).
More details:
invalid_client(status code 401).

AADSTS7000215: Invalid client secret is provided.
Trace ID: 37c3b890-9870-401d-b04a-5673d6fc2e01
Correlation ID: 8e58d42a-7db5-470c-884d-2e529e9bb180
Timestamp: 2021-04-23 12:44:47Z
    at Env

[2021-04-23 13:15] mlcooper opened #74278 "Checkpointing functionality for Logic App Event Hub connector"
I am not able to find any information about whether or not the Event Hub connector for Logic Apps inherently provides [checkpointing](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#checkpointing) functionality.  If it does, I was wondering if you could explicitly state that on this page?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-04-23 13:15] shashishailaj commented on #74272
@dannradkov Thank you for your query . We will investigate and update the thread. However , we welcome these questions on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) rather than github as they involve considerable R&D work and are not directly related to any issues on documentation. We would try to find answer for this one but if it takes long time , we would request you t

[2021-04-23 13:17] shashishailaj commented on #74269
@schmitch Thank you for your query. We will investigate and update the thread.

[2021-04-23 13:19] shashishailaj commented on #74276
@Luunk Thank you for pointing that out. We will investigate and update the thread.

[2021-04-23 13:33] Hooch180 commented on #66490
Any updates on this?

[2021-04-23 13:34] tfitzmac commented on #73933
Sorry, I am not familiar with the details of this API. Probably someone from Monitoring would be the best person to contact.

[2021-04-23 13:49] SatishBoddu-MSFT commented on #73991
Hello @jokarl please let us know if you were able to post the suggestion at https://aka.ms/iotedge-suggestion.

Please let us know if we are good to close this thread.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft for further technical help in this matter.

[2021-04-23 13:55] RyanHill-MSFT commented on #73445
Okay, I understand. Great callout @Kalaivin. I'll make a note of that in the doc.

[2021-04-23 13:57] andrePKI opened #74280 "How many groups can be enabled for SSPR?"
In the first step 3. it says **Select group**. How many groups can be selected? Just one?
If it is only one, please make a note of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cacc043b-aeec-5deb-e60f-b11e6381b0ba
* Version Independent ID: aa2be87c-296f-b3ff-9549-4407c46746d4
* Content: [Enable Azure Active Dire

[2021-04-23 14:04] #73991 closed

[2021-04-23 14:07] schmitch commented on #74269
actually I can also give more input into this, but it's really hard to express in words I guess.

[2021-04-23 14:30] RyanHill-MSFT commented on #74207
Hi @pantanuj,

Means that there's an issue obtaining an agent to run your pipeline. There was service degradation reported on https://status.dev.azure.com/_history. Once that issues have been mitigated, you should have no issue running your pipeline.

[2021-04-23 14:30] #74207 closed

[2021-04-23 14:32] tfitzmac commented on #74251
@GrzegorzHejman - thanks for this feedback. You're right, the limit has changed. The hard limit is now 4 MB, but you may get an error with a smaller file size because the total size of the request might exceed the job limit.

I'll update the docs.

[2021-04-23 14:32] madhura0110 opened #74281 "Explicitly call out that Az CLI/Azure Resource Explorer should not be used to determine outboundIpAddress for Consumption & Premium Plans"
I'm working with a customer who was relying on the output of the AzCLI commands mentioned in the document to determine the outbound IP addresses for their Consumption hosted Function App. While the documentation states that when scaling Consumption/Premium functions the IP range could change, they expected the new IP addresses to be reported via the Azure CLI. This needs to be clarified in the doc

[2021-04-23 14:43] tsrob50 opened #74282 "System Assigned Managed Identities not removed"
Hello,  I created a couple test Azure Automation accounts with System Assigned Managed Identities.  After deleting the automation accounts, the identities are still showing in Azure AD and on the subscription with the RBAC role I assigned to it.  I waited several hours and the have not been removed.
Thanks,
Travis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-04-23 14:44] diehlmitchell opened #74283 "possibly outdated instructions"
[
on this page, it is instructed to include war packaging, however its already included with the example zip folder. This causes an error preventing from running the "mvn package" command
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-java-webapp#running-the-project-from-tomcat
 ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-04-23 14:49] kosinsky commented on #71708
@RonyMSFT do you have any updates?

[2021-04-23 14:51] tfitzmac commented on #74251
I have submitted the update. It should get published later today. Thanks again.

#please-close

[2021-04-23 14:51] #74251 closed

[2021-04-23 14:52] robfrenchcdw opened #74286 "Missing parquet file"
Hi, it looks like the file used in this code is missing from the folder. Is there another path for this?
https://contosolake.dfs.core.windows.net/users/NYCTripSmall.parquet
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-1e84865605bc
* Version Independent ID: d0fc26d6-2a86-dbed-2f48-c798b551f3f0
*

[2021-04-23 14:53] sarthak-git opened #74287 "Sign-in frequency interval update does not take effect and PS cmdlet do not work as advertised"
[when trying to update the Sign-in frequency of an policy the operation is successful but it does not take effect  , only way to achieve this is by deleting and recreating the policy and the PS cmdlets do not work -https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadmsconditionalaccesspolicy?view=azureadps-2.0

![image](https://user-images.githubusercontent.com/48988578/115888706

[2021-04-23 14:56] tfitzmac commented on #74153
@joleito - thanks for this suggestion. I think it makes sense. I'll update the doc.

[2021-04-23 14:57] pantanuj commented on #74207
Thanks. It worked today.

[2021-04-23 15:17] tfriesenbccorp opened #74288 "Broken link for Azure Virtual Machine Agent"
Bad link: https://go.microsoft.com/fwlink/?LinkID=394789

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azur

[2021-04-23 15:17] DerekHerman-MSFT commented on #74223
@@ubashsivaji It isn't really a one time charge as documented on the [pricing page](https://azure.microsoft.com/en-us/pricing/details/storage/blobs/). I am assigning this to the doc author to clarify this. Thanks for bringing this to our attention.
_When you write data to a GRS, RA-GRS, GZRS, or RA-GZRS account, the data is replicated to another Azure region. The geo-replication data transfer char

[2021-04-23 15:17] GitaraniSharma-MSFT commented on #74059
@Mahesh-MSFT , to answer your question "Will connectivity between 2 VNets work if they simply share the ER circuit AND NOT have any peering between them?" -> Yes, 2 Vnets sharing a single ER circuit (without Vnet peering between them) will have connectivity to each other.

Coming back to your query on why the doc says Vnet peering is recommended, I would like to point out the below reasons:

1. Th

[2021-04-23 15:17] #74059 closed

[2021-04-23 15:21] brianjking commented on #54185
@diberry So until July this won't work? https://github.com/MicrosoftDocs/azure-docs/issues/73385#issuecomment-824226930

Thanks!

[2021-04-23 15:33] robbbbbb opened #74289 "Process for restoring a soft-deleted version is undocumented"
In the section [Restoring a soft-deleted version](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview#restoring-a-soft-deleted-version) it advises use of the [Undelete Blob](https://docs.microsoft.com/en-us/rest/api/storageservices/undelete-blob) operation which undeletes the blob and all versions. Doing so doesn't actually restore the blob to the container. You need to follow

[2021-04-23 15:36] GitaraniSharma-MSFT commented on #74114
@ragazzojp , We have assigned this to the content owner/author for review.

@asudbring , I have added you to internal email discussion with CDN PG. Please update the doc post their confirmation.

[2021-04-23 15:39] #72517 closed

[2021-04-23 15:40] jyama4ta commented on #73796
@shashishailaj Is there any update? The statement is a security statement and is very sensitive. I hope it will be corrected quickly so that it is a consistent and accurate statement.

[2021-04-23 15:46] JamesTran-MSFT commented on #74280
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-23 15:47] JamesTran-MSFT commented on #74283
@diehlmitchell
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-23 15:48] kobulloc-MSFT commented on #74288
@tfriesenbccorp Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-04-23 15:48] JamesTran-MSFT commented on #74287
@sarthak-git
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-23 15:57] joleito commented on #74153
Excellent! Thank you so much!

Alonso Leiton Alvarez
Support Engineer | Apps & Infrastructure | Azure Backup and Recovery Services
Customer Service & Support | Microsoft Corporation
Email: ***@***.******@***.***>
Working Hours: Mon-Fri 10:00AM to 7:00PM CT

From: Tom FitzMacken ***@***.***>
Sent: Friday, April 23, 2021 8:57 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Alonso Leiton Alvarez ***

[2021-04-23 16:01] Fbiss opened #74290 "Validation Policies - Property Structure of OpenApiError is not detailed"
Please provide details of the content that gets set to the errors-variable-name. I can see that its a list of OpenApiError but without information on the property structure of OpenApiError I cant tell what I can log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6696a2f-0437-5238-0032-393351594956
* Version Independe

[2021-04-23 16:06] mikenri commented on #74135
@NavtejSaini-MSFT   Any thoughts on next steps?  Should I open up another case?  It seems like the diagram for how access works with service endpoints isn't accurate and the connection still goes through the gateway as there's a mismatch between what the server introduces itself as when you first connect and the output of the select version(); query

[2021-04-23 16:19] #74199 closed

[2021-04-23 16:24] CHDAFNI-MSFT opened #74291 "Private Link Workaround for AMPLS Created Before April 19 2021"
For section [https://docs.microsoft.com/en-us/azure/azure-monitor/logs/private-link-security#log-analytics-solution-packs-download](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/private-link-security#log-analytics-solution-packs-download) - the guidance for dates prior to April 19th is to filter at the Firewall level to specific URLs.

However... I believe our documentation can be upda

[2021-04-23 16:35] NavtejSaini-MSFT commented on #74139
@CaitlinV39 Please convey if you have created an action item internally to track for this so we can close this feedback.

[2021-04-23 16:38] NavtejSaini-MSFT commented on #74034
@mairaw We have assigned it to our author for further review.

[2021-04-23 16:38] #74021 closed

[2021-04-23 16:44] kobulloc-MSFT commented on #73993
@JAK1047 Sorry for the delay!  The console/copy formatting in the docs and accompanying instructions were taking up quite a bit of space (half a page) so I created a PR with an instruction for readers to use the current RDAgent version and provided an example.  This should make it much clearer for readers moving forward.

[2021-04-23 16:47] Oury-MSFT commented on #74237
@stevestein Please see customer feedback above. When I clicked on the DevOps link in this [document]( https://docs.microsoft.com/en-us/azure/azure-sql/database/saas-tenancy-app-design-patterns#d-multi-tenant-app-with-database-per-tenant), I landed to a 404 Page not found. Could you please help update the document with a correct link. Thanks

![image](https://user-images.githubusercontent.com/78940

[2021-04-23 16:54] KranthiPakala-MSFT commented on #74286
@robfrenchcdw Thanks for reaching out. You need place the sample data file in the primary storage account you created for the workspace.

1. Download this file to your computer: https://azuresynapsestorage.blob.core.windows.net/sampledata/NYCTaxiSmall/NYCTripSmall.parquet
2. In Synapse Studio, navigate to the Data Hub.
3. Select Linked.
4. Under the category Azure Data Lake Storage Gen2 you'll see

[2021-04-23 16:55] pimvandenderen opened #74293 "Wrong az CLI command"
Feedback from my customer; under "create or update data export rule" --> "Use the following command to create a data export rule to a specific event hub using CLI. All tables are exported to the provided event hub name" the command listed is:

“/subscriptions/subscription-id/resourceGroups/resource-group-name/providers/Microsoft.EventHub/namespaces/namespaces-name/eventHubName/eventhub-name”

The

[2021-04-23 17:03] NavtejSaini-MSFT commented on #74135
@savjani Please check the feedback from @mikenri  and let us know if we can make this change.

[2021-04-23 17:07] stevestein commented on #74237
@PrometheusRising1 - thanks for pointing out the broken link.

The correct link is: https://docs.microsoft.com/azure/devops/user-guide/what-is-azure-devops

#please-close

[2021-04-23 17:07] #74237 closed

[2021-04-23 17:08] nvankesteren opened #74294 "Next Steps links are dead"
The Next Steps links in the article are no longer working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-0717-23d4-5d63-c5728919cda8
* Version Independent ID: b8726c93-69e0-07d5-5bff-0b875dec00ab
* Content: [Create an Azure App Configuration store by using Azure Resource Manager template (ARM template) - Azur

[2021-04-23 17:10] hpourreza opened #74295 "how to create the zip file"
The page says "When you are developing on a local computer, it's easy to create a .zip file of the function app project folder on your development computer." but it will be helpful if you mention on how to do that or point to a document explaining on how to properly create the zip file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-23 17:15] ChaitanyaNaykodi-MSFT commented on #74266
Hello @jesperkristensen,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-23 17:19] GitaraniSharma-MSFT commented on #74196
@chaisen2006 , in Azure application gateway, One listener can be attached to one rule only.
Please refer : https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#request-routing-rules

When you say "In URL based routing, we can have multiple rules per listener", I believe you are talking about "multiple backend HTTP settings per rule" and **not** "multiple rules

[2021-04-23 17:19] #74196 closed

[2021-04-23 17:21] ggailey777 commented on #74295
@hpourreza thanks for providing this feedback. I agree that this needs to be clarified. All of the tools that support local development and publishing for Azure Functions (Visual Studio Code, Visual Studio, and Core Tools) support .zip publishing.
You could also just create a .zip of the project folder, which is a step performed by most publishing pipelines.

[2021-04-23 17:21] ggailey777 commented on #74295
#assign:ggailey777

[2021-04-23 17:28] ggailey777 commented on #74252
@bmedlin I agree that the wording isn't good here. Essentially, due to auto-scaling behaviors, the outbound IP can change at any time when running on a Consumption or Premium plan. If you need to guarantee the stability of the outbound IP to allow list, you need to either run on a [Dedicated (App Service) plan](https://docs.microsoft.com/azure/azure-functions/dedicated-plan) or run on a [Premium p

[2021-04-23 17:29] mike-urnun-msft commented on #74278
@mlcooper Thank you for your feedback! We will review and update as appropriate.

[2021-04-23 17:32] ChaitanyaNaykodi-MSFT commented on #74290
Hello @Fbiss,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-23 17:32] GitaraniSharma-MSFT commented on #74230
@chaisen2006 , yes, you can use Path Based routing in combination with Multi-site option in Azure Application gateway.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-23 17:32] #74230 closed

[2021-04-23 17:32] mike-urnun-msft commented on #74281
@madhura0110 Thank you for your feedback! We will review and update as appropriate.

[2021-04-23 17:43] kobulloc-MSFT commented on #74288
@tfriesenbccorp The link was down this morning, but it's back up again now.  Let me know if you are still having problems.

[2021-04-23 17:45] tanmayjog opened #74296 "Awesome article. Extremely helpful. Minor modifications"
[Enter feedback here]
For running below commands, require az login from the VM. Which requires az module to be installed on the server. Instead, we can hardcode some of the variables

Instead of

httpEndpoint=$(az storage account show \
    --resource-group $resourceGroupName \
    --name $storageAccountName \
    --query "primaryEndpoints.file" | tr -d '"')

Use this

httpEndpoint="https://"Stora

[2021-04-23 17:47] tsrob50 commented on #74282
Hello,

In my recent experience, following the steps in the article did not remove the System Assigned Managed Identity from Azure AD.  It looks like I need to manually delete the identities from Azure AD after removing the Automation account.

I understand that this is in preview and not fully integrated yet, I just wanted to raise awareness that my experience was different from what was outlined

[2021-04-23 17:53] JamesTran-MSFT commented on #74238
@parithon
Thank you for your time and patience throughout this issue!

From our [Azure AD Connect: Accounts and permissions](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#express-installation-wizard-summary) documentation, it looks like the AD DS account password is collected from your on-prem AD credentials. Therefore, you should be able to

[2021-04-23 17:55] DerekHerman-MSFT commented on #74289
@robbbbbb
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-23 18:00] JamesTran-MSFT commented on #74280
@andrePKI
Thank you for your feedback!

As stated within our docs - currently, you can only enable one Azure AD group for SSPR using the Azure portal.
![image](https://user-images.githubusercontent.com/36619112/115911481-fdde9c00-a422-11eb-96bc-05f4414ba2c8.png)

Since our documentation is currently up to date, I'll go ahead and close out this issue.
Thank you for your time and patience!

[2021-04-23 18:00] #74280 closed

[2021-04-23 18:07] ggailey777 commented on #74252
Thanks @ChaitanyaNaykodi-MSFT!  #reassign:ggailey777

[2021-04-23 18:12] YutongTie-MSFT commented on #74121
@faizankhan1995 Let me know if you need more information.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-23 18:12] #74121 closed

[2021-04-23 18:16] jonburchel commented on #8582
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-04-23 18:16] #8582 closed

[2021-04-23 18:27] DerekHerman-MSFT commented on #73980
@ehsf973 I am going to closeout this issue for now. If you still feel there is something missing from the doc please tag me and let me know and we can reopen the issue.

[2021-04-23 18:27] #73980 closed

[2021-04-23 18:30] ianc911 opened #74297 "Document errorlevel"
Hi. Please document the errorlevel, or exit code generated when azcopy is run from a batch file. Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage

[2021-04-23 18:41] SatishBoddu-MSFT commented on #74273
Hello @pesetskyps
Our SME will review your feedback soon.

[2021-04-23 18:42] SatishBoddu-MSFT commented on #74274
Hello @SimonDarksideJ
I have assigned the issue to the content author for further review.

[2021-04-23 18:42] wesmc7777 commented on #74273
@pesetskyps Thank you for bringing these to our attention.

1. This tutorial currently demonstrates in example how to use the Bash shell approach using a Git Bash shell. The Git Bash can be used with Windows-based systems. Building the chain should also be possible with PowerShell but the steps will differ. I'll have this made more clear.
2. Good point, I'll have this mentioned
3. Nice catch, than

[2021-04-23 18:44] SatishBoddu-MSFT commented on #74275
Hello @SimonDarksideJ Thanks for the feedback!.
I have assigned the issue to the content author for further review.

[2021-04-23 18:51] SimonDarksideJ commented on #74274
As a further comment and on further investigation, the examples do not reflect the current state of the sdk and just breed confusion.

The new manager script handles a lot of the basic functionality listed in the docs. So it needs updating to the new way of using anchors.

Ideally the sdk itself needs to also incorporate some of the example code, such as the base classes to make adoption easier.

[2021-04-23 18:51] JAK1047 commented on #73993
Thank you for keeping up with this!

[2021-04-23 18:51] #73993 closed

[2021-04-23 18:54] BharathNimmala-MSFT commented on #74293
@pimvandenderen  Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to incorporate the feedback, once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now

[2021-04-23 18:54] #74293 closed

[2021-04-23 18:58] jatinas commented on #74232
@DaveVoyles, data ingress throttling is not applicable for Gen2 as it uses a Pay-As-You-Go model, where Gen1 has a limited capacity based on the selected tier. Both of the offerings are currently available to the customers.

[2021-04-23 19:02] eric-camplin opened #74300 "azure/virtual-machines/sizes-previous-gen - Section "A-series - compute-intensive instances" should be removed"
TOPIC: azure/virtual-machines/sizes-previous-gen

**A-series - compute-intensive instances** section should be removed.
A8-11 sizes seem to be no longer available in Azure portal, checked via create a VM UI- looked in West US 2 and East US.

Document **Note** edit needed: says A8-11 slated for removal in March '21. so note should be updated

---
#### Document Details

⚠ *Do not edit this section.

[2021-04-23 19:03] chuckb1300 opened #74301 "Article title suggests the use of a USB thumb drive"
The title of this article suggest that you could use a USB thumb drive, unless you fully read and digest the contents prior to starting the process.  I would suggest putting an image within the doc that shows the host computer and the Percept device connected to grab the users attention. (note: i lost 4 hours trying to trouble shoot why the Percept needed an ext4 formatted thumb drive that Windows

[2021-04-23 19:04] BharathNimmala-MSFT commented on #74291
@CHDAFNI-MSFT Thanks for sharing the feedback on this and helping us improve our Azure documentation. I have assigned this issue to our document author to further review the feedback and enhance the document accordingly.

[2021-04-23 19:11] ramya-rao-a commented on #73912
The PR to update the sample is ready to be merged: https://github.com/Azure-Samples/app-service-msi-servicebus-dotnet/pull/6
@spelluru is trying to find the repo owners to get it merged.

@JoshLove-msft, the file to update: https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/service-bus-messaging/service-bus-managed-service-identity.md

[2021-04-23 19:25] ju-shim commented on #74169
I am looking into this for you, thank you for your patience!

[2021-04-23 19:30] jonburchel commented on #65545
Hi Samir,

Thanks for helping improve the docs to report issues!

I looked at the page and went to Edit Trigger on a trigger of my own in a pipeline, but I do not see the Advanced Recurrence Options like your screenshot in the issue shows.  Where did you grab that from?  I just went to the Author/Monitor Tool and selected an existing pipeline there and then clicked Trigger to Add/Edit, and add a s

[2021-04-23 19:33] Big-Cam opened #74303 "RHEL"
In the Supported OS section for RHEL 8 there are 3 sku's that are listed as supported for Azure Disk Encryption.

RedHat | RHEL 8-LVM | **8-LVM** | RedHat:RHEL:8-LVM:latest | OS and data disk (see note below)
RedHat | RHEL 8.2 | 8.2 | RedHat:RHEL:8.2:latest | OS and data disk (see note below)
RedHat | RHEL 8.1 | 8.1 | RedHat:RHEL:8.1:latest | OS and data disk (see note

This needs to be updated to

[2021-04-23 19:33] RonnieQuan opened #74304 "Routes for App Gateway Subnet"
We have monitoring requirement to query the route for my Azure application gateway subnet, including BGP routes and System routes.

If this is not supported for now, do you have plan to support it?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Indep

[2021-04-23 19:39] samirvora-MS commented on #65545
Hi Jon,
I see the Advance option while editing the schedule Type Triggers.

***@***.***D7384E.66AEDF60]

Regards,
Samir Vora
Technical Advisor
Azure Rapid Response
Office: +1 469-775-0098
Las Colinas, TX
Hours: Monday - Friday 9am to 6pm CST ( UTC -6 )
***@***.***D7384E.66AEDF60]

We are interested in any feedback you have about the service you receive. Please feel free to contact ARR Managers:
Ar

[2021-04-23 19:55] wkilday opened #74305 ""Verify deployment" section appears to be incorrect"
The "Verify deployment" section appears to be copied from the previous tutorial step ([9 - Use parameter files](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/bicep-tutorial-use-parameter-file?tabs=azure-powershell#verify-deployment)).  It is referencing two resource groups and parameter files, but the "Deploy template" section is deploying to a single resource group and i

[2021-04-23 20:00] BryanTrach-MSFT commented on #74268
@andrePKI Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 20:01] kobulloc-MSFT commented on #74294
@nvankesteren Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-04-23 20:04] SatishBoddu-MSFT commented on #74277
Hello @MarekLani
I have assigned the issue to our SME for further review.

[2021-04-23 20:06] SatishBoddu-MSFT commented on #74301
Hello @chuckb1300
I have assigned the issue to the content author for further review.

[2021-04-23 20:07] DerekHerman-MSFT commented on #74296
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-23 20:07] kobulloc-MSFT commented on #74294
@nvankesteren I believe the broken links may be referring to the following (still investigating):

https://azure.microsoft.com/en-us/resources/templates/101-app-configuration-store-ff/
https://azure.microsoft.com/en-us/resources/templates/101-app-configuration-store-keyvaultref/

[2021-04-23 20:19] ejschoen commented on #74236
and of course that should be:
[code]
I had to go look at the IAuthenticationResult interface to see that accessToken was a function and not a field.

[2021-04-23 20:19] baanders commented on #74277
Hi @MarekLani,

Do you have any [environment variables](https://docs.microsoft.com/dotnet/api/overview/azure/identity-readme#environment-variables) set that specify different account information than the credentials you're trying to use with Azure Digital Twins?

DefaultAzureCredential tries a few different credential types in a [certain order](https://docs.microsoft.com/dotnet/api/overview/azure/

[2021-04-23 20:21] DaveVoyles commented on #74232
OK that makes sense then. Thank you!

[2021-04-23 20:21] #74232 closed

[2021-04-23 20:47] BharathNimmala-MSFT commented on #74305
@wkilday  Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised PR to incorporate the feedback, once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however

[2021-04-23 20:47] #74305 closed

[2021-04-23 20:51] nickwgrit opened #74307 "Date format incorrect for IEF date claims transformation examples"
In the examples for the Date claims transformations, the date format is incorrect. Instead of:

`2020-15-03T11:34:22.0000000Z`

It should read:

`2020-03-15T11:40:35.0000000Z`

 - https://docs.microsoft.com/en-us/azure/active-directory-b2c/date-transformations#example-1
 - https://docs.microsoft.com/en-us/azure/active-directory-b2c/date-transformations#example-2
 - https://docs.microsoft.com/en-us

[2021-04-23 20:55] wesmc7777 commented on #73429
@jimoneil This did need to be refreshed for the latest changes in the sample as you mentioned. Thank you for reporting this!

[2021-04-23 20:56] DerekHerman-MSFT commented on #74297
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-23 20:58] BharathNimmala-MSFT commented on #74268
@bandersmsft Can you please help further review this feedback and have a backlog item to enhance the document. Thank you.

[2021-04-23 20:58] kgremban commented on #74264
@Tarjei-stavanger By "the Powershell SSL module" do you mean this: https://www.powershellgallery.com/packages/OpenSSL/1.0.0? Or something else?

[2021-04-23 21:08] kgremban commented on #74098
I'm going to close this issue now. Please feel free to post here again if you have further thoughts on the topic and we can reopen it. Thanks again.

#please-close

[2021-04-23 21:08] #74098 closed

[2021-04-23 21:10] krispenner opened #74309 "List all logging category names"
Please list all logging categories that are logged to for MSAL.NET and Microsoft Identity Web libraries.

Eg: "Microsoft.Identity.*" ?
Because I need to enable logging of MSAL.NET but I need to know what category/logger name to use for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142bc24c-85e2-4477-5fb7-0d13d02

[2021-04-23 21:22] JamesTran-MSFT commented on #74307
@nickwgrit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-23 21:23] JamesTran-MSFT commented on #74309
@krispenner
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-23 21:29] Joffbuilds opened #74310 "Access reviews not automatically removing denied users in dynamic groups"
Access reviews not automatically removing denied users in dynamic groups. It seems this works fine in static groups, but dynamically allocated users are not removed upon being denied in access review (once the review ends). It doesn't seem like Azure seems to alert the reviewer or admins that it failed to remove users.

1. Under the access review, one goes to "scheduled review"
2. Click on the rev

[2021-04-23 21:30] phil-dando opened #74311 "OWASP 3.1 rules in documentation that are no longer in the WAF Azure UI"
The following OWAS 3.1 rules are in the documentation (and used to be in the Azure WAF UI) but are no longer visible in Azure Portal WAF UI (either selected or not selected)

920360	Argument name too long
920370	Argument value too long
920380	Too many arguments in request
920390	Total arguments size exceeded
920400	Uploaded file size too large
920410	Total uploaded files size too large

---
#### D

[2021-04-23 21:39] chuckb1300 opened #74313 "Updates needed to Create a Device Update Account"
Updates are needed to the Create a Device Update Account dialogs.  Some but not all highlighted in **bold** below.

Go to the Azure portal and sign in with the Azure account you are using with Azure Percept.
In the search bar at the top of the page, enter Device Update for IoT Hub**s**.

Select Device Update for IoT Hub**s** when it appears in the search bar.

Click the +Add button in the upper-le

[2021-04-23 21:54] #74238 closed

[2021-04-23 21:56] MoeJw commented on #73933
Thank you all

[2021-04-23 21:56] #73933 closed

[2021-04-23 22:15] Careyjmac commented on #74159
Hi there,

You are correct that the object definition using "url" instead of "data" will also work. I actually have a task on myself to do an entire separate document that better explains everything regarding file references in skillsets, but I am not sure when I am going to have time to do it. In the meantime, I'll try to make sure I set aside some time next week to update the doc to including me

[2021-04-23 22:19] #73429 closed

[2021-04-23 22:25] Jordithecloud opened #74317 "Windows Voice Assistant Client v1.15.0 error (bad request)"
The Windows Voice Assistant Client v1.15.0 keeps popping up with an error:

![image](https://user-images.githubusercontent.com/51406064/115935422-69f8e880-a493-11eb-97d2-49ca7dbc9358.png)

I'm sure the subscription key and region are correct. Please assist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7068-9f6c-5

[2021-04-23 22:27] JamesTran-MSFT commented on #74307
@nickwgrit
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-23 22:27] #74307 closed

[2021-04-23 22:28] Karishma-Tiwari-MSFT commented on #74002
@50Wliu Thanks for bringing this to our attention. Since this request is about updating Azure templates and the scope for these doc issues is to help identify gaps and issues with the Azure docs repository documentation, I have shared this feedback with the right team who could help fix it.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comm

[2021-04-23 22:28] #74002 closed

[2021-04-23 22:41] savjani commented on #74135
Thanks @mikenri for reaching out. I am adding @Bashar-MSFT who is our PM owner to investigate and update the document accordingly. Thanks @NavtejSaini-MSFT

[2021-04-23 23:01] wesmc7777 commented on #73723
@jimoneil You are correct.  Thank you. Fixed

[2021-04-23 23:17] #73723 closed

[2021-04-23 23:20] Bashar-MSFT commented on #74135
Thanks for reporting this. I am on it, will update you once its done

[2021-04-23 23:25] tfitzmac commented on #74002
@50Wliu - I agree that in most cases the upgradePolicy is required. However, I found [one example](https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-scale-existing/azuredeploy.json) that changes VM SKU for a scale set, and upgradePolicy was not included. So, I think technically not required is accurate.

If you have feedback about the property descriptions or whether a prope

[2021-04-23 23:32] JSeb225 commented on #73394
Hi @JonParton, sorry for the delayed response. The name of the parameter is actually somewhat confusing since the the actual duration of a session windows could then be up to twice maxDuration. I'll update the doc with more info, and also investigate if we can rename the name of this parameter to be more explicit.
So the diagram is actual correct.
@Please-close

[2021-04-23 23:32] #73394 closed

[2021-04-23 23:38] #74153 closed

[2021-04-23 23:39] tfitzmac commented on #74153
@joleito - the update has been made. It should get published on Monday.

[2021-04-23 23:56] Karishma-Tiwari-MSFT commented on #68417
@mlearned Is there any update on when we are expecting "maintenance window" guidance to come out?
Another GitHub issue recently opened: https://github.com/MicrosoftDocs/azure-docs/issues/74011
Please let me know. Thanks. :)

[2021-04-24 00:00] Karishma-Tiwari-MSFT commented on #74011
The doc author had shared that there will be some guidance coming out for a "maintenance window" of when to expect the upgrades. It is still being worked on and not quite ready to share yet.
I have reached out to him, will share the update here as I hear back.

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag

[2021-04-24 00:00] #74011 closed

[2021-04-24 00:47] kobulloc-MSFT commented on #74288
@tfriesenbccorp We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-24 00:47] #74288 closed

[2021-04-24 00:47] Karishma-Tiwari-MSFT commented on #74063
I have reached out to Product team to confirm on the same.

[2021-04-24 00:54] BryanTrach-MSFT commented on #74271
@porkamizeria Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-24 01:01] Karishma-Tiwari-MSFT commented on #74141
@okkarkyaw92 To help me understand better, can you please elaborate on your ask? Please let me know if you are requesting an update to the document or have a question.

[2021-04-24 01:04] Karishma-Tiwari-MSFT commented on #74212
@mediumspw Can you please elaborate on your ask to help me understand better? Are you asking how to Turn off automatic updates for MSIX app attach applications or requesting a document update? Please let me know. Thanks.

[2021-04-24 01:06] Karishma-Tiwari-MSFT commented on #74303
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-24 02:11] BryanTrach-MSFT commented on #74300
@eric-camplin Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-24 03:49] BryanTrach-MSFT commented on #74310
@MarileeTurscak-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-24 03:50] BryanTrach-MSFT commented on #74304
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-24 03:54] BryanTrach-MSFT commented on #74311
@phil-dando Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-24 03:55] BryanTrach-MSFT commented on #74313
@chuckb1300 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-24 03:57] BryanTrach-MSFT commented on #74317
@Jordithecloud Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-24 04:08] tdihp commented on #71439
@SteveLasker Thanks for the reply.

What if we are **not using dedicated data endpoints**? Service endpoints will be forwarding to blob storage correct? In that case if user is **not configuring this for ACR but for something else accessing blob storage**, as Service Endpoints takes effect for all access to a type of service, blob storage could be restricted by the service endpoint polices which *

[2021-04-24 04:39] okkarkyaw92 commented on #74141
Hi,

Yes, need to update the document by removing "Assign users to session host" since we don't have to assign users to session hosts in Windows Virtual Desktop with Azure Resource Manager Windows Virtual Desktop objects by PowerShell.

[2021-04-24 07:36] SnehaAgrawal-MSFT commented on #74092
@joakimhellum Thanks for asking question! You may set similar limits for linux using ARM properties:  `maxMemoryInMb`

Reference: [Microsoft.Web/sites 2018-02-01 - ARM template reference ](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites?tabs=json#SiteLimits)

[2021-04-24 08:18] BharathNimmala-MSFT commented on #73996
@bakandah Thanks a lot for bringing this to our notice and helping us improve the Azure documentation, you right that deploy template option through jobs is disabled currently. And we need to use the template blob URL to download the template JSON and deploy template manually.

We will have a backlog item to correct the document. Once its reviewed and approved by PG, changes would go live.

We wil

[2021-04-24 08:18] #73996 closed

[2021-04-24 09:14] MarekLani commented on #74277
@baanders thank you for getting to this issue so quickly. I have done some reading on DefaultAzureCredentials and I have seen people having issues when their account was joined into multiple organizations.  I haven't tried setting environment variables, but for now I overcome issue by creating my own service principal and swapping DefaultAzureCredential() for ClientSecretCredential in setupProxy.j

[2021-04-24 09:35] joakimhellum commented on #74092
@SnehaAgrawal-MSFT Thanks alot! Very cool. We are testing this now and will confirm within few hours.

[2021-04-24 10:10] yaens opened #74319 "wrong symbol in sentence"
There is a wrongly interpreted symbol in the first sentence:

"Azure Cosmos DB is Microsoftâ€™s fast NoSQL database with open APIs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4255f572-38cc-08aa-6fb7-08c919713cf9
* Version Independent ID: c04fe4dd-e75d-1028-8f2e-154d8c303da2
* Content: [Quickstart - Build a .NET con

[2021-04-24 10:15] AnuragSharma-MSFT commented on #74319
@yaens Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-24 12:58] Venky1141 commented on #73724
@psmanhas Mam Any Update

[2021-04-24 13:38] jonmartin136 opened #74320 "High Availability & Failover Configuration With Customer Managed Keys (CMK)"
Hi

RE: high-availability-with-customer-managed-tde
"If there is an outage affecting the primary key vault, and only then, the system will automatically switch to the other linked key with the same thumbprint in the secondary key vault, if it exists."

It is not clear how you would link both key vaults with SQL Server as the portal only allows linking to a single key vault (key/version) from the T

[2021-04-24 14:45] shashishailaj commented on #74261
@amitbapat Could you please review this request and see how best the document can be updated ?

[2021-04-24 15:37] AnuragSharma-MSFT commented on #74320
@jonmartin136 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-24 16:37] joakimhellum commented on #74092
@SnehaAgrawal-MSFT We made multiple tests and setting `limits.maxMemoryInMb` don't seem to have any effect on Linux container in App Service, as the limits as not visible in the container (through cgroups).  Is there any documentation that describes exactly what `limits.maxMemoryInMb` does and what effect it has for Linux containers on App Service? Many thanks!

[2021-04-24 17:35] DeanGross opened #74321 "naming convention suggestions for tags"
Please provide some suggestions/guidance for naming conventions for tags used by SOC teams. For organizations getting started with the technology sharing some lessons learned about what works well could be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c02cb40-9145-c68e-0760-045ccdbc9950
* Version Independent

[2021-04-24 17:50] BryanTrach-MSFT commented on #74321
@DeanGross Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-24 18:02] helplessJ commented on #48662
I think OP is trying to find out how to get a list of all SSO Enabled Enterprise Applications and the expiration date of the x509 certificate.  I came upon this page looking for the same thing.  My team needs a report of these:
![image](https://user-images.githubusercontent.com/4011405/115968364-a36a3c00-a505-11eb-8f37-7255db0688ea.png)

[2021-04-24 19:15] wtnlee commented on #74271
this has been fixed

[2021-04-24 19:18] wtnlee commented on #74271
https://github.com/MicrosoftDocs/azure-docs-pr/pull/155836

[2021-04-24 20:04] adamkimsft opened #74322 "Tutorial uses 15 minute interval for polling when twitter polling is limited to 1 hour"
[Enter feedback here]
Add a link to the twitter connector limits which state that trigger polls is limited to 1 hour.  Tutorial has you put in 15 minutes.

https://docs.microsoft.com/en-us/connectors/twitterconnector/#limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1a4055-33b7-eead-6eb4-0092b7112567
* Version I

[2021-04-24 20:44] don007git commented on #73832
![image](https://user-images.githubusercontent.com/8097372/115972455-edf2b500-a513-11eb-9cef-ae1dbbd0a502.png)

[2021-04-24 20:46] don007git commented on #73832
![image](https://user-images.githubusercontent.com/8097372/115972497-41fd9980-a514-11eb-8ff5-935759f1541b.png)

[2021-04-24 21:05] SiddhanthUnnithan commented on #73832
Hi @don007git can you send a screenshot of the Azure ML Studio (ml.azure.com) compute instance page? I'm curious if you were able to access Jupyter, Jupyter Lab, or R Studio for this compute instance?

[2021-04-24 22:33] southerncoder opened #74324 "Links reference SQL Database but article makes no mention"
[Enter feedback here]
The bulleted list of links for setting up Private Link or Private Service for **Azure SQL** seem to refer to articles that do not mention SQL Database.  Suggestion would be to change the links to refer to the targeted resource of Azure App Service.  Kind regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-04-25 01:13] Ronnie-personal opened #74325 "Custom DNS Zone for Azure Monitor Private Endpoint"
Does logic analytics workspace private endpoint depends on the storage account?
Even though each workspace can be added to private link scope separately, but scadvisorcontentpl.blob.core.windows.net is global, if scadvisorcontentpl.blob.core.windows.net is resolved to private IP, will other logic analytics workspace outside of the private link scope still works?

![image](https://user-images.githu

[2021-04-25 01:25] nrmzz opened #74326 "Incorrect reference/typo"
Under the section "Search for and view policies and assignments", it is stated to do the following in VSCode Azure Policy extension.

"Command Palette:

From the menu bar, go to View > Command Palette, and enter Policies: Search Policies."

I believe this should read "Policy: Search Policies"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-04-25 01:47] BryanTrach-MSFT commented on #74322
@adamkimsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 01:48] BryanTrach-MSFT commented on #74324
@southerncoder Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 01:49] BryanTrach-MSFT commented on #74325
@Ronnie-personal Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 01:50] BryanTrach-MSFT commented on #74326
@nrmzz Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 02:01] don007git commented on #73832
I can, all works perfectly, From VS, I can also connect to this instance with "Azure ML Connect to Compute instance for Jupyter Server" to run the notebook, but except for this "Connect to Compute" option.

[2021-04-25 02:03] don007git commented on #73832
![image](https://user-images.githubusercontent.com/8097372/115977755-8141df80-a540-11eb-8d44-8a9a075098d3.png)

[2021-04-25 02:42] Ronnie-personal opened #74327 "Azure Monitor Private Link - Scalability"
In our corporate environment, we have identical total DNS solution, there is no separate DNS zone, one FQDN is resolved to one single IP only no matter query from our Azure environment or query from our on prem data center.

I can utilize the spoke and hub topology to share one private link scope, but since one private link scope can only connect up to 50 Azure monitor resources, and we definitely

[2021-04-25 02:56] don007git commented on #73832
to be clear that all is good, I can also start and stop the instance with VS.

Thanks again

[2021-04-25 03:07] Ronnie-personal opened #74328 "Can We Turn On Private Link for Log Analytics Workspace Only"
Given the complexity of Application Insight Global Endpoint, All or Nothing, and DNS override, is it possible to turn on private link for just log analytics workspace and leave application insight outside of the private link?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867ebb3d-7036-104c-a2e0-

[2021-04-25 03:15] Ronnie-personal opened #74329 "NSG Rule Requirement for Load Balancer"
One or two years ago, when configure internal Azure standard load balancer, we have to allow inbound rule to reach to backend pool directly, but now seems it works fine with one rule to allow to inbound to LB IP from a source client, then another inbound rule to allow from LB IP to the backend pool.

Can you please point out where the rule requirement is documented and how does LB work behind the

[2021-04-25 05:19] amitbapat commented on #74261
@Jack ***@***.***> is the right PM owner for this.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ShashiShailaj-MSFT ***@***.***>
Sent: Saturday, April 24, 2021 7:45:22 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Amit Bapat ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Front Door as Trusted Service (#74261)

@amitbapat<htt

[2021-04-25 05:53] kobile70 opened #74330 "the limit for custom RBAC role per AD tenant is wrong"
under the https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-directory-limits section you are saying that "A maximum of 30 Azure AD custom roles can be created in an Azure AD organization." and this is not aligned with https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-role-

[2021-04-25 05:59] AnuragSharma-MSFT commented on #74327
@Ronnie-personal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 06:00] AnuragSharma-MSFT commented on #74328
@Ronnie-personal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 06:01] AnuragSharma-MSFT commented on #74330
@kobile70 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 06:03] AnuragSharma-MSFT commented on #74329
@Ronnie-personal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 07:26] anotherrohit opened #74331 "verify credential error code 6"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/390220/115984578-ae9c8680-a55c-11eb-8b46-0371820ba9f2.png)
I receive an error on my authenticator app VC Networking error: code 6 on the verify credential step. Any idea what went wrong and how to troubleshoot this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-04-25 07:58] v-junjianxia opened #74332 "Cannot connect to dataset in ADF data flow"
I am tring to set a data flow in ADF. The input sink from a dataset, there is a parameter in the dataset, it is defining the filename. When I do not use parameter to test connection, it is success. But if I set a parameter, it failed and throw below exception.

![image](https://user-images.githubusercontent.com/82934601/115985122-f19e3e80-a5dc-11eb-990d-819b455c974f.png)
![image](https://user-imag

[2021-04-25 08:15] memildin commented on #74208
Hi @Ovyone, thanks for the question.

If you're looking for pricing around Azure Defender, you'll find all the details on these two pages:

- [Security Center pricing](https://azure.microsoft.com/en-us/pricing/details/security-center/)
- [Azure Security Center free vs Azure Defender enabled](https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing)

Regarding the pricing for

[2021-04-25 08:15] #74208 closed

[2021-04-25 09:42] noakup commented on #69508
We are adding the below ARM template to our docs. It creates:
* A private link scope (AMPLS) named "my-scope"
* A Log Analytics workspace named "my-workspace"
* Add a scoped resource to the "my-scope" AMPLS, named "my-workspace-connection"

[code]

[2021-04-25 09:43] noakup commented on #68739
This is a design limitation. Adding AMPLS force-sends all Application Insights traffic through the private endpoint, so it will only work for App Insights resources added to the AMPLS list. This is a known issue we document [here](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/private-link-security#planning-your-private-link-setup).

[2021-04-25 09:55] b0bbyB opened #74335 "Bash examples not Powershell"
Examples doesn't work with powershell they are written in bash/Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c790bc3
* Content: [Create a Windows VM with Azure Image Builder (preview) - Azure Virtual Machines](https://doc

[2021-04-25 10:17] memildin commented on #65989
Hi @SHANE0MAC, thanks for the feedback and for taking the time to help us improve the docs.

Many of the changes you suggested were included in a recent refresh of this page and you'll see those go live in the coming days.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-25 10:17] #65989 closed

[2021-04-25 10:18] noakup commented on #74291
That would have been a good workaround but it won't work. our internal configuration service wouldn't know to use it, and would still attempt to contact the public storage account (scadvisorcontent) for any AMPLS created before April 19th. This is why the AMPLS has to be recreated. For the PE, it's usually easier to re-create than add a zone mapping manually (we see many errors when its done manua

[2021-04-25 10:18] memildin commented on #66912
Hi @SHANE0MAC, thanks for the feedback and for taking the time to help us improve the docs.

This change is included in a recent refresh of this page and you'll see the new page and graphics go live in the coming days.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-25 10:18] #66912 closed

[2021-04-25 11:03] porkamizeria commented on #74271
Great stuff! Super quick! Thanks Guys! Cheers!

[2021-04-25 11:03] #74271 closed

[2021-04-25 11:37] kp2017 opened #74336 "YAML is broken"
YMAL produces error:

Encountered error(s) while parsing pipeline YAML:
/azure-pipelines.yml: (Line: 5, Col: 10, Idx: 38) - (Line: 5, Col: 10, Idx: 38): Mapping values are not allowed in this context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63230b97-2269-3fed-7fca-882bb380c5f6
* Version Independent ID: feb2708e-

[2021-04-25 12:09] SnehaAgrawal-MSFT commented on #74028
@ChanceYoung Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-04-25 13:07] AnuragSharma-MSFT commented on #74331
@anotherrohit Thank you for the detailed feedback. This is being assigned to the content author for further action.

[2021-04-25 13:11] AnuragSharma-MSFT commented on #74332
@v-junjianxia Thanks for your feedback. GitHub Issues are primarily related to any queries on article/document. For technical queries, I would suggest you to reach out to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum or [Stack Overflow](https://stackoverflow.com/questions/ask) forum.

[2021-04-25 13:11] #74332 closed

[2021-04-25 13:13] AnuragSharma-MSFT commented on #74335
@b0bbyB Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 13:15] AnuragSharma-MSFT commented on #74336
@kp2017 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-25 13:53] GitHubUser1339 opened #74338 "Create an Event Grid system topic fails"
The following step in the tutorial fails for me:

[code]
With the following error message:
![image](https://user-images.githubusercontent.com/17045753/115996062-1e9f2100-a5de-11eb-9af9-87879b29cce5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa94a5b-ea4c-ccc3-6b42-0cf64bf5b09b
* Version Independent ID: c603b25

[2021-04-25 13:59] DCtheGeek commented on #74338
@GitHubUser1339 The step says to use `global` and not `westeurope` for the **location** parameter.  Can you try again with that value?

#assign:DCtheGeek
#label:"product-question"
#label:"triaged"
#label:"assigned-to-author"
#label:"in-progress"

[2021-04-25 14:17] DCtheGeek commented on #74326
@nrmzz Thanks for pointing this out.  The group name did indeed change from "Policies" to "Azure Policy" in a recent version. I've created a PR to fix this issue.  Once it merges, this issue will automatically be closed.  The update will be made live during our next publishing cycle.  Thanks again!

#reassign:DCtheGeek
#label:"assigned-to-author"
#label:"in-progress"
#label:"cxp"

[2021-04-25 14:26] #74326 closed

[2021-04-25 14:59] Ronnie-personal opened #74339 "Azure Application Insight Encryption"
Based on the document, the data is encrypted, can we have more detail, is it encrypted using Microsoft Managed Key, and is the key scoped to a particular resource or to subscription or all subscriptions under on AAD tenant or entire Azure?

Does it support CMK encryption?

https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy#is-the-data-encrypted
[Enter feedback here]

-

[2021-04-25 15:36] guyhorn1964 opened #74340 "The Catalog Creator rights"
The Catalog Creator has all righte a Catalogus Owner has PLUS 1: Create Catalogus. No thanks... :-) De nada.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42fb095-d0d2-bcc8-9048-615027626c22
* Version Independent ID: 54e26c06-0d56-b390-b257-82d584506bd2
* Content: [Delegation and roles in entitlement management - Azu

[2021-04-25 15:57] guyhorn1964 opened #74341 "User can register applications"
There must be an alternative for User can register applications = Yes. My organisation will never allow that. Instead, I think it is enough to grant the Application Developer role to the delegated Catalogus administrators. Please tell me if that's a viable scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c41a43

[2021-04-25 16:25] billti opened #74342 "Is a refresh token reusable or one-time only? Is this configurable?"
I can't find anywhere in the Microsoft docs that indicate if the refresh token remains valid after a new refresh token is issued.

In my limited testing, it looks like it is, but I'm unclear of the restrictions around this. For example, from the post at https://stackoverflow.com/questions/65066197/will-an-old-refresh-token-still-be-valid-if-a-new-refresh-token-get-issued it appears that with Googl

[2021-04-25 17:23] BryanTrach-MSFT commented on #74339
@Ronnie-personal Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 17:24] BryanTrach-MSFT commented on #74340
@guyhorn1964 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 17:25] BryanTrach-MSFT commented on #74341
@guyhorn1964 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 17:27] BryanTrach-MSFT commented on #74342
@billti Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 17:28] BryanTrach-MSFT commented on #74227
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-25 17:28] #74227 closed

[2021-04-25 17:33] inknochen opened #74343 "Where it says "IP-based SSL binding", shouldn't that be TLS binding?"
Where it says "IP-based SSL binding", shouldn't that be TLS binding?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e44d6d0-0592-2a9b-c293-e1c9cbd03358
* Version Independent ID: 46809322-79e6-ba2c-c7f9-1f038b603d4c
* Content: [Prepare for SSL IP address change - Azure App Service](https://docs.microsoft.com/en-us/azure

[2021-04-25 17:40] Ronnie-personal opened #74344 "Azure Resource Graph Query Integration With Azure Monitor Alert"
Does Azure monitor support creating alert based on Azure resource graph query result?

We have complicated logic to detect the non compliant resource, Azure resource graph query is the perfect fit for the query, but after resources are identified, we would like to send notification.

Please let me know if any product feature is available for this use case.

[Enter feedback here]

---
#### Document

[2021-04-25 17:51] benjamin-goldman opened #74345 "out of the box this does not run in azure"
sorry - i was looking for a quick start with exactly this sort of content and it works great locally and fails miserably.

its a small change - but i feel for quick start docs it should be covered.  See here:
https://stackoverflow.com/questions/58764322/cannot-install-dotnet-ef-tool-on-windows-10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-25 17:58] DCtheGeek commented on #74344
@Ronnie-personal You mention non-compliant resources.  Is that for Azure Policy non-compliance? If so, Azure Policy is now integrated with Azure Event Grid and you can subscribe to compliance state change events.  See [Tutorial: Route policy state change events to Event Grid with Azure CLI](https://docs.microsoft.com/azure/governance/policy/tutorials/route-state-change-events) for details.

There'

[2021-04-25 17:58] #74344 closed

[2021-04-25 18:24] fauberon opened #74346 "Unable to insert an article or widget"
Several issues on the **developper portal** of APIM while trying to add pages with an organized content.
1. Define new page => add a section => unable to see anything such as the "add widget".
2. Adding a new section is the only opton.
3. Unable to edit a layout directly.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-25 20:01] nvankesteren commented on #74294
Yes, thanks for the links. I did find a lot of other links broken, so hopefully you'll investigate for others, but at least I got what I searched for. Thanks again.

[2021-04-25 20:16] mmankos-microsoft opened #74347 "Client Credentials doc uses JWT that can't be validated without mentioning this fact"
tl;dr a JWT is supposed to be signed by a private key on the identity server (azure ad) and then validated with a public key exposed at the /keys endpoint. However the specific example in the Azure docs was using some secret third key not mentioned anywhere, a private key, to sign the token.

Edit - After looking at some links I posted below, not sure if there's a third private key or just a nonce

[2021-04-25 21:02] mmacy commented on #74309
@jmprieur is this on the wiki, by chance?

[2021-04-25 21:22] rp-msft opened #74349 "There should be a section for Linux VMs also for troubleshooting network connectivity issues."
There should be a section for Linux VMs also for troubleshooting network connectivity issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d53ad458-9843-0f8a-c295-c2892a959943
* Version Independent ID: bdec0c28-88d2-638b-9549-99d73e45b1a2
* Content: [Troubleshoot Azure VM connectivity problems](https://docs.microsoft

[2021-04-25 21:41] publix-psessa commented on #43381
I got it to work from changing  EventHubClient.createFromConnectionString(connStr.toString(), pool) to EventHubClient.create(connStr.toString(), pool).

I got error:
error: value createFromConnectionString is not a member of object com.microsoft.azure.eventhubs.EventHubClient
val eventHubClient = EventHubClient.createFromConnectionString(connStr.toString(), pool)

[2021-04-25 22:25] schnerring commented on #30370
So I haven't seen any updates on GitHub, however, the [IMDS documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows#instance-metadata) has been updated:

`userData` was introduced with version `2021-01-01` of the IMDS API. I'm excited to be testing this soon.

[2021-04-25 22:28] schnerring commented on #64154
A copy from my comment from the original issue for visibility: https://github.com/MicrosoftDocs/azure-docs/issues/30370#issuecomment-826399635:

So I haven't seen any updates on GitHub, however, the [IMDS documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows#instance-metadata) has been updated:

`userData` was introduced with version

[2021-04-25 23:57] sreediff opened #74351 "Azure sql paas"
[Is the autoscale feature available for azure sql pass (elastic pool)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7105f7a-e333-6e61-015e-e50902548308
* Version Independent ID: 4b68de93-8417-4cda-6428-c56847363e48
* Content: [Best practices for autoscale - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure

[2021-04-26 00:43] BryanTrach-MSFT commented on #74343
@inknochen Thank you for your question.

There are two types of SSL bindings for web apps. SNI and IP based. SNI is the newer standard but only works on newer browsers.

IP based offers two advantages in that it's compatible with a wider range of browsers and provides the web app with a static IP address that provides peace of mind that it will not be changed and cause site availability issues.

T

[2021-04-26 00:43] #74343 closed

[2021-04-26 00:45] BryanTrach-MSFT commented on #74345
@benjamin-goldman Can you please let us know what step you had issues with so the doc author can narrow the scope of their investigation?

We look forward to your reply.

[2021-04-26 00:46] BryanTrach-MSFT commented on #74346
@fauberon Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-26 00:46] BryanTrach-MSFT commented on #74347
@mmankos-microsoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-26 00:47] BryanTrach-MSFT commented on #74349
@rp-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-26 00:48] BryanTrach-MSFT commented on #74351
@sreediff Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-26 00:53] pnarsi opened #74353 "Server 2019 GA?"
This there GA support for this feature in the context of Windows Server 2019? This[ page](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows) suggests that it is still a preview feature but there is no moment of this in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-26 01:03] pnarsi opened #74354 "NSG Service Tag for Authentication"
Is there a Service Tag that I can configure on the outbound NSG attached to my Azure VM so that it has connectivity to these four required FQDNs for authentication?:

- https://enterpriseregistration.windows.net
- https://login.microsoftonline.com
- https://device.login.microsoftonline.com
- https://pas.windows.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-26 01:57] sccjas opened #74355 "Attribute Level is not passed to the workspace when using Diagnostic Data to send in to workspace"
Is the attribute not available when using Diagnostics Settings to send in Azure Activity logs?    I have a tenant that I connect activity logs of all my subscriptions to the log analytics workspace (Legacy way). All the entries in the log space have a value in the Level column.  However on my other tenant where I used the recommended way (Diagnostic Settings) none of my entries have a Level value.

[2021-04-26 02:04] mlcooper opened #74356 "Clarify if the Event Hub LogicApp connector can use an Event Hub level shared access key policy"
After much time spent trying to get my Event Hub connector working with a shared access policy key that was created at the Event Hub level, as opposed to the Event Hub Namespace level, it appears that this connector **MUST** use a key created at the Event Hub Namespace level.

Can you confirm if that is the case, and if so, can you explicitly note that in the documentation?

Thanks!
---
#### Docum

[2021-04-26 02:43] mmankos-microsoft commented on #74347
Thanks Bryan - FYI there are a few different threads on this
- https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/521#issuecomment-577400515
- https://stackoverflow.com/questions/49933215/how-to-validate-microsoft-graph-api-jwt-access-token-and-secure-your-api
- https://stackoverflow.com/questions/45317152/invalid-signature-while-validating-azure-ad-access-token-but-id-token

[2021-04-26 03:54] CHEEKATLAPRADEEP-MSFT commented on #74012
@alhieng  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-26 03:54] #74012 closed

[2021-04-26 04:42] femsulu commented on #74351
Hello @sreediff  - AFAIk Azure Sql pass is not on the [list of services ](https://docs.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-overview#supported-services-for-autoscale)supported by the Azure monitor Autoscale feature.
Just FYI, check out the [Elastic Database tools](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-scale-introduction) to scale out Azure SQL paa

[2021-04-26 04:57] wteuee opened #74357 "Configure two web apps and manage the traffic between them using traffic manager"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f164c8d-6445-b688-48c0-cb9344008e4d
* Version Independent ID: 5da2d711-edf2-5bab-66bd-8b1548f2d11c
* Content: [Control traffic with Traffic Manager - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-traffic-manager)
* C

[2021-04-26 05:23] AnuragSharma-MSFT commented on #74247
@cc-laura Please check the highlighted section in yellow where we are making the submit request:

![image](https://user-images.githubusercontent.com/66360845/116032554-8c4e5a00-a67d-11eb-966b-d3b7d82e6f5c.png)

Please let us know if you have more queries around it.

[2021-04-26 05:23] KalyanChanumolu-MSFT commented on #74319
@yaens Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live by EOD or tomorrow.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

We will proceed to close this issue now.

[2021-04-26 05:23] #74319 closed

[2021-04-26 05:32] MayankBargali-MSFT commented on #74041
@gmndrg The below statement holds true. The storage resource provider only sends events to the event grid resource provider only when the data is fully committed to a Block Blob. In the below context only the operation such as CopyBlob, PutBlob, and PutBlockList REST API calls from SPR sends events to the event grid resource provider. Internally how the copy blob works do not matter to the event g

[2021-04-26 05:32] #74041 closed

[2021-04-26 05:34] MayankBargali-MSFT commented on #74043
@XZ07 As there was no response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-26 05:34] #74043 closed

[2021-04-26 05:36] Tarjei-stavanger commented on #74264
Yes, that is correct.

[2021-04-26 05:52] CHEEKATLAPRADEEP-MSFT commented on #74176
@Adi-Nugraha-T  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-26 06:00] jmprieur commented on #74309
yes it's in the wiki, @mmacy

[2021-04-26 06:13] msftnadavbh commented on #68322
Hi, any feedback?

[2021-04-26 06:23] ylashin opened #74358 "Queries should have exact column names casing"
I have 2 databases in my serverless pool one of them uses default collation and the other a UTF8 one.

![image](https://user-images.githubusercontent.com/2197158/116037151-0943f880-a6ab-11eb-8a68-c883dde1e681.png)

Queries running on default collation database can use parquet column names not matching the case of the columns in parquet file.

![image](https://user-images.githubusercontent.com/2197

[2021-04-26 06:38] SumanthMarigowda commented on #74042
@Mikako-ff Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused

"myaccount" Can you provide more information on your query and may I know what exactly are you trying to accomplish?
myaccount in the document refer to the Storage account name,

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not d

[2021-04-26 06:38] #74042 closed

[2021-04-26 06:52] GitHubUser1339 commented on #74338
@DCthegeek I did, the first error message is what I get when using 'global' as the location.
"Identiy is unavailable for global"

[2021-04-26 06:55] CHEEKATLAPRADEEP-MSFT commented on #74358
@ylashin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-26 07:08] johol545 opened #74360 "Last retry happens immediately after previous attempt"
I run into the issue below while implementing a function app triggered by the service bus binding.

In short, the last retry attempt happens immediately after previous attempt. For example, using a max delivery count of 2 for the queue and the following function.json will trigger the function (which is set up to always throw an error)as follows:

[code]

**Listing timestamp and time between retrie

[2021-04-26 07:16] SnehaAgrawal-MSFT commented on #74092
@joakimhellum Thanks for reply. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2021-04-26 07:22] jurjenoskam opened #74361 "This page still says that RBAC is only for management plane operations"
Under the heading `Authorize a security principal to access Key Vault`,  the bullet point "Role Permissions" says that role permissions are only used for management plane operations. This is no longer the case, as is documented on https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide.

Could this page be updated to include mentioning using RBAC (instead of Access Policies) for Key Va

[2021-04-26 07:24] Mikako-ff commented on #74042
Can't I use other account name with the emulator? like "myaccount1" "myaccount2".

[2021-04-26 07:36] #74152 closed

[2021-04-26 07:38] pranitha9 opened #74362 "Could not be able to restore AKS persistent volume in Another another availability Zone for DR Case"
I am working for Backup and restore of Azure kubernetes services Disks (persistent volumes) for DR scenario.

The thing is I am able to Backup AKS PVs and restore them in same availability zone by using Velero.

but considering the DR scenario - if one availability zone crashes then we need to restore AKS PVs in another AZ and able to attach them to AKS pods.

please suggest the way how to achieve

[2021-04-26 07:48] KrishnaG-MSFT commented on #74362
@pranitha9 Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's your

[2021-04-26 07:59] ricred commented on #44425
Still getting this error on Standard V2.

- Wild card cert in backend pool service.
- Service is working correctly.

Application Gateway reporting unhealthy ( mismatch cn.. like the others above) sometimes, and when it starts to report it it never comes back to healthy.

My solution is to "touch" any attributes in the application gateway and save it - and suddenly the probe health is back to healt

[2021-04-26 08:01] pranitha9 commented on #74362
Yes Thank you.

[2021-04-26 08:01] #74362 closed

[2021-04-26 08:04] BhargaviAnnadevara-MSFT commented on #74357
@wteuee Thanks for the question. Could you please elaborate on the enhancement you are suggesting to this doc?

[2021-04-26 08:21] TanGolf opened #74363 "Azure Portal does not allow adding a new Function App to an existing Consumption App Service Plan"
Hi,
This documentation (https://docs.microsoft.com/en-us/azure/azure-functions/consumption-plan - See "Multiple Apps in the Same Plan" section) states that it is possible to have multiple Function Apps in the same Consumption App Service Plan. However, when adding a new Function App through the portal, this is not an option in the "Hosting" tab. I have ensured that the same Resource Group and Regi

[2021-04-26 08:23] shashishailaj commented on #74354
@pnarsi Thank you for your feedback . We will investigate and update the thread.

[2021-04-26 08:25] shashishailaj commented on #74353
@pnarsi Thank you for your query . We will investigate and update the thread.

[2021-04-26 08:26] Bashar-MSFT commented on #74135
@mikenri  this is done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/155939 Please resolve this

[2021-04-26 08:30] andylholloway opened #74364 "Very little documentation on URL Authorization Rules"
Hi
I have implemented authentication (EasyAuth) for my Azure Function App. I have a user case where I require 1 function to be accessed by an anonymous request.

I see from the documentation that to allow anonymous requests you set "Action to take when request is not authenticated" to "Allow anonymous requests (no action)". This of course works, but it also means all other functions allow anonymou

[2021-04-26 08:49] archeon1004 opened #74365 "Azure AD service limits and restrictions seems to be outdated"
Hi,

In the table when it comes to groups limits and restrictions description there is information that nesting of the groups is not supported scenario when it comes to App role assignment for access and provisioning.
While I did not tested the access with nested groups, it certainly works for provisioning (eg. the one used with GCP connector).
Could you please check it and update the information?

[2021-04-26 09:03] alephenne opened #74366 "Contradictory VPN Gateway information in the page"
The VPN gateways section in the page indicates :
	...
	Assign a dynamic basic public IP to a VPNGw 1-5 SKU front-end configuration.
	Assign a **static** standard public IP address to a VPNGwAZ 1-5 SKU front-end configuration.
	...
but, later in the page, the "At-a-glance" table says "Static : No" :
	Top-Level resource          IP address accociation			Dynamic  	Static
	...
	VPN gateway

[2021-04-26 09:17] dominicbetts commented on #73775
Hi @scottcun - thanks for the detailed feedback on the tutorial. To respond to your points:

- Whether to command is `python` or `python3` depends on a number of factors - the OS your using, what other version of Python have been installed in the past, etc. For simplicity we left it as `python` on the assumption that people would be familiar with their own specific python environment.
- With the U

[2021-04-26 09:17] noakup commented on #74328
No, it's not possible, Application Insights will be affected as well.

[2021-04-26 09:19] dominicbetts commented on #73775
#please-close

[2021-04-26 09:19] #73775 closed

[2021-04-26 09:22] AshokPeddakotla-MSFT commented on #74239
Adding @deepakpalled for further insights.
@deepakpalled Could you please check this issue and provide your insights?

[2021-04-26 09:27] MonikaReddy-MSFT commented on #74366
@alephenne - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-04-26 10:07] amanmcse commented on #74269
@schmitch When `prompt=consent` parameter is passed along with the authentication request, users will always be prompted for consent regardless of whether they have already consented or not.

[2021-04-26 10:09] Lycrosa commented on #55049
Time was off by 15 seconds on my machine. Forced windows to sync now it works. Not sure if that should happen.

[2021-04-26 10:09] fgheysels commented on #74145
Additional information: when I manually enable the system defined identity via the Azure Portal, and I select 'export template' afterwards, I can see this:

[code]
I'll try if it is sufficient to change my template to just specify
[code]

[2021-04-26 10:10] shashishailaj commented on #74361
@jurjenoskam Thank you for your feedback . We will engage the content team for reviewing this ask .

[2021-04-26 10:11] KrishnaG-MSFT commented on #74355
@sccjas Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-26 10:29] amanmcse commented on #74108
@Ben-m-s If you refer to below text under the section **Require approved client app**, it is mentioned that the broker app can be the Microsoft Authenticator for Android devices and for Android devices, it can be either the Microsoft Authenticator or Microsoft Company portal.

 For Microsoft Teams on Android, Microsoft Company portal is required.

[2021-04-26 10:29] #74108 closed

[2021-04-26 10:32] amanmcse commented on #74049
@nataliahering I've assigned it to the author to review and update.

[2021-04-26 10:33] jcruiz commented on #74331
@anotherrohit was this during the `Validate credentials` step? were there any errors that you can share printed out in the terminal? also make sure that the ngrok command is run on port 8082.

[2021-04-26 10:45] yoelhor commented on #74084
Thanks @waynestevensinsight your feedback is well taken. I can see now the new Facebook UI. I'm updating the article with the relevant information (I see new the new UI). The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

The pool request contains the following fixes:

-

[2021-04-26 10:45] gechu commented on #74239
Regarding computed signals, reading "Historical Data Ingestion", the article recommends:

"Do not stream live and historical data in parallel. Ingesting out of order data will result in degraded query performance."

"Ingest historical data in time-ordered fashion for best performance."

How can I calculate signals that may be the product of a range of "historical"  events, while feeding them into

[2021-04-26 10:48] #74084 closed

[2021-04-26 10:48] SubhashVasarapu-MSFT commented on #74017
@afield1235 , Azure Bastion doesn’t support AAD logins currently.
Request you to post your feedback for this feature [here](https://feedback.azure.com/forums/217313-networking/suggestions/37961281-aad-integration).
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-26 10:48] #74017 closed

[2021-04-26 10:53] dominicbetts commented on #72626
Hi @geoffbrucepayne  - I've updated the article with some additional details for offline commands - the changes should be visible later today.
Let me know if you have any further questions. Thanks!
Dominic

[2021-04-26 10:53] dominicbetts commented on #72626
#sign-off

[2021-04-26 11:02] SwathiDhanwada-MSFT commented on #74144
@deccansoft Did you get chance to check my previous comment ? Kindly let me know if you have further questions.

[2021-04-26 11:10] deccansoft commented on #74144
Thanks...I query is resolved.

Regards,
Sandeep Soni

On Mon, 26 Apr 2021, 16:32 SwathiDhanwada-MSFT, ***@***.***>
wrote:

[2021-04-26 11:16] #74144 closed

[2021-04-26 11:22] shashishailaj commented on #73562
@lukedbarton We have updated the link and initiated the pull request for the content team to review and approve. Once approved it will be reflecting in the current document within the next 48 hours. As for your reference the updated link is https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-auth-for-office-2013-and-2016?view=o365-worldwide . We will now close this issue.

Thank you

[2021-04-26 11:40] SnehaAgrawal-MSFT commented on #74092
@joakimhellum looking forward to help you on this.  Will close this here.

[2021-04-26 11:40] #74092 closed

[2021-04-26 11:40] mkoivi-ms opened #74368 "Creating private endpoint missing from post-provisioning steps"
[Enter feedback here]
If Synapse Workspace is using Managed Virtual Network, adding Private Endpoint should be added to post provising steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b78dce-a2a7-5ae1-b3da-6e9523eaa737
* Version Independent ID: 1b1add52-1e0f-5750-1b23-31cfb193332d
* Content: [Enabling Synapse wo

[2021-04-26 11:47] opticyclic opened #74369 "How Do I See Older Logs?"
This page shows how to Stream logs.
Later on the logs are no longer available.
You should document on this page where the logs are stored and how to view them after.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Conte

[2021-04-26 11:53] stevepmo opened #74370 "What a mess"
[Enter feedback here]

Why do you have so many different lengths ? it's crazy.
Can you split the minimum and maximum lengths to separate columns ?
I tried to copy & paste to excel but your hidden table is full of merged cells so it didn't work
Impossible to filter to see which resources have maximum lengths < 50 which would be really helpful
can't see every needing a length > 50 but maybe someone

[2021-04-26 12:01] SubhashVasarapu-MSFT commented on #74083
@RonnieQuan , we are working towards updating the documentation. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-26 12:13] SubhashVasarapu-MSFT commented on #74090
@RonnieQuan , Standard Load Balancer in Application Security Group (ASG) is not available today. You can provide your feedback and upvote the same ask here in this[ feedback section](https://feedback.azure.com/forums/217313-networking/suggestions/40567828-make-it-possible-to-include-standard-load-balancer).

We are closing this issue for now. If there are further questions regarding this matter, p

[2021-04-26 12:13] #74090 closed

[2021-04-26 12:21] shashishailaj commented on #71427
@Lou-tech-dotcom My apologies for the delay on this . As per what I have found on my side , this can happen if the metadata xml have some fields malformed. This would require deeper troubleshooting hence I would like to request you to send us an email on azcommunity[at]microsoft[dot]com and we will help you with the next steps on how to get support on the same.

Thank you.

[2021-04-26 12:21] #71427 closed

[2021-04-26 12:36] #73885 closed

[2021-04-26 12:37] magichappens89 commented on #59982
@kenwith just came across and still can´t find clear information / explanation why admin consent is required for apps that have "User assignment required". While it makes sense to enable that option if admin consent was granted for certain permissions, making it mandatory when the option is enabled seems unnecessary or at least not clear in the docs.

[2021-04-26 12:39] shashishailaj commented on #70539
@googleirfan This was checked and we found that the 150 users are the employees from the current company out of the total 2000 who requested access. The number 150 does not denote the guest users (external identities) rather in-company employees  . And a total of 10500 external identities requested the access as well . The external identities from contoso are looked at a ratio of 1:5 and that leav

[2021-04-26 12:39] #70539 closed

[2021-04-26 13:09] schmitch commented on #74269
@amanmcse yeah I know that. We actually want to use client_credentials, since we have a daemon that can get users **and** we want to validate that the user actually always has admin permissions inside azure ad. so we pass `prompt=consent` unfortunatly a "bad" tenant, could just remove `prompt=consent` and we would not know that it was not there, thus it might be problematic, consider the following

[2021-04-26 13:25] nguyenminh1402 opened #74372 "ASG backend pools with Secured Virtual WAN Hub"
[Enter feedback here]
Dear,

For the Scenario 2 - Different VNETs why don't the UDR Next Hop is Azure FW Private IP instead of Internet type?

And how ASG health probe the backend pools cross VNETs thru vHUB?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15f6fb6f-5b91-cea5-d95d-dc4c09d2c58c
* Version Independ

[2021-04-26 13:59] rhamlett opened #74373 "MAXDOP setting of zero at database vs server level - Which has precedence?"
I have a quick question about the MAXDOP setting at the server level, as opposed to the database level.

I have read the documentation, but I am unclear as to specific precedence.  Suppose a cx has the MAXDOP set to 8 in their server config, but set to 0 at the database level.  So based on this statement about how this setting works at the server level:

[https://docs.microsoft.com/en-us/sql/datab

[2021-04-26 14:05] #74234 closed

[2021-04-26 14:15] bakandah commented on #73996
Hello @BryanTrach-MSFT @BharathNimmala-MSFT,
Thank you very much for following up on this!
I am always happy to help! 😊

[2021-04-26 14:22] SamaraSoucy-MSFT commented on #74368
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-04-26 14:30] DCtheGeek commented on #74184
Confirmed that this approach still stands and is recommended.  I'm going to close this issue now.  Feel free to open a new Issue for any Docs issues you see.  Thanks!

#please-close

[2021-04-26 14:30] #74184 closed

[2021-04-26 14:31] baanders commented on #74277
Thank you @mareklani for sharing this additional information and the temporary solution you've found! I'll continue working with our devs to see what else you might be able to try to get DefaultAzureCredential to work for you. I'll continue to follow up here when I have more information.

[2021-04-26 14:31] NavtejSaini-MSFT commented on #74135
Thank you @Bashar-MSFT  and @savjani. @mikenri We are going ahead and resolving this feedback.

[2021-04-26 14:31] #74135 closed

[2021-04-26 14:33] gmndrg commented on #74041
@MayankBargali-MSFT I opened this issue after a Microsoft support case and it was stated by the Product Group the information is incorrect, since Copyblob is async. It will work sometimes but sometimes it won't so it will have to be removed from the documentation of the ones that trigger once completed. You can reach out to me separately so I can refer to you the case details. Please reopen this u

[2021-04-26 14:36] NavtejSaini-MSFT commented on #74373
@rhamlett We are looking into this and we will get back to you.

[2021-04-26 14:37] DCtheGeek commented on #74216
@InformTechPro Just checking in if the answer provided by @mgreenegit covers the question you had. @mgreenegit did make a minor change to improve clarity in this content that I believe resolves this question, so I plan to close this issue tomorrow if there is no further discussion or question on the content.  Thanks!

[2021-04-26 14:40] CaitlinV39 commented on #74139
Yes, we are tracking and will have an update this week.

[2021-04-26 14:42] cveld commented on #69992
I am confused, what is this setting:
https://docs.microsoft.com/en-us/azure/templates/microsoft.dbforpostgresql/servers/securityalertpolicies?tabs=json
State -> True

When I toggle the Advanced Threat Protection setting in the portal, this State property gets toggled as well.

[2021-04-26 14:43] PramodValavala-MSFT commented on #74356
@mlcooper That is correct. The connection string should be at the namespace level for the connector to work as expected, especially in the designer view since it requires full permissions to list available event hubs.

The steps in [this section](https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-azure-event-hubs#check-permissions-and-get-connection-string) do take you step by

[2021-04-26 14:44] SubhashVasarapu-MSFT commented on #74372
@nguyenminh1402, Thanks for reaching out. We will investigate and update this thread.

[2021-04-26 14:50] fgheysels commented on #74145
Specifying

[code]

indeed enables a System assigned Identity to my SignalR resource.  However, question is now:  how do I retrieve the principal-id that has been assigned ?

At first, I thought I' d add an output to my ARM template, which retrieves the identity in a similar fashion as what I do with for instance an Azure Function App:

[code]

However, this gives a parse - error:

##[error]Detail

[2021-04-26 14:55] NavtejSaini-MSFT commented on #74249
@timsander1 Can you please check this feedback and update the the document if needed.

[2021-04-26 14:57] PramodValavala-MSFT commented on #74360
@johol545 This is the expected behavior and is documented in [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=javascript#using-retry-support-on-top-of-trigger-resilience) of the doc.

The function's retry policy works on top of service bus's functionality. In your example, the last retry is expected because the underlying service requeues th

[2021-04-26 15:00] PramodValavala-MSFT commented on #74369
@opticyclic The [Analyze Data](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#analyze-data) section right above the Streaming Logs section mentions that all data collected is sent to Application Insights which can be queried as required.

[2021-04-26 15:10] spelluru commented on #74014
@abhirockzz - Could you please review and let me know what you think? If you could track it as an internal work item with a link to this GitHub issue, that would be great. Thanks.

[2021-04-26 15:22] SteveWohl commented on #74139
@CaitlinV39

Hi Caitlin, is there a way I can edit this without creating a new PR? If this is not possible,, then I'll update the MD file and will create a new PR for this doc fix.

[2021-04-26 15:42] johol545 commented on #74360
Hi Pramod,

Thanks for your response!

Yes, the number of attempts are as described in the documentation, we can
agree on that.

However, with an exponential backoff, I do not expect the 6:th attempt
(which is the 5:th and last retry attempt) to happen immediately after the
5:th attempt. I find nothing in the documentation that would indicate this.

I understand that attempt 7, which is the first

[2021-04-26 15:43] PramodValavala-MSFT commented on #74363
@TanGolf It is possible to have multiple Azure Functions in a single Consumption Plan but the Azure Portal doesn't support this. You can achieve this through other means like ARM Templates, Azure CLI, or Azure PowerShell.

We will work up a PR to include this information in the docs.

Also, there is a [feature request](https://feedback.azure.com/forums/355860-azure-functions/suggestions/39252400-w

[2021-04-26 15:44] MayankBargali-MSFT commented on #74041
@gmndrg Sure. I will work with you and accordingly will update the document as needed.

[2021-04-26 15:46] mlcooper commented on #74356
I had tried to use a key at the Event Hub level to make the permissions more 'granular' , but it obviously did not work.  Thank you for the clarification.

[2021-04-26 15:46] #74356 closed

[2021-04-26 15:47] JnHs commented on #74243
Hello again @jakobfischer17! The German article now shows the updated, correct information. Thank you again for raising the issue.
I'm going to close this issue out now, but if you have further feedback please let us know.
#please-close

[2021-04-26 15:47] #74243 closed

[2021-04-26 15:53] btardif commented on #53436
@JasonFreeberg  FYI

[2021-04-26 15:55] btardif commented on #71426
@yutanglin16 I think you are working on this no?

[2021-04-26 15:56] btardif commented on #53360
FYI @JasonFreeberg

[2021-04-26 16:08] ivapplyr commented on #50919
Tentative ETA of July for Public Preview

[2021-04-26 16:11] Ronnie-personal commented on #74327
@AnuragSharma-MSFT  Thanks for the triage! This is a critical question, can you please provide more guidance!

Thank you so much!

[2021-04-26 16:12] SiddhanthUnnithan commented on #73832
Thanks for sharing the second screenshot @don007git. What happens if you click the "VS Code" option for that compute?

[2021-04-26 16:17] yoelhor commented on #74225
Hi @aripp,

I have checked this issue with v 1.0.0 for both ValidationError and ShowBlockPage errors.

![image](https://user-images.githubusercontent.com/20111866/116116296-ab6fda80-a6c3-11eb-854b-3d5f21d23eab.png)

The policy returns the error message correctly.

![image](https://user-images.githubusercontent.com/20111866/116116443-d6f2c500-a6c3-11eb-9d42-65e0a7695383.png)

Can you tell me more a

[2021-04-26 16:19] KumariSupriya commented on #30370
@schnerring  : thanks for follow up. Yes user data is now available https://azure.microsoft.com/en-us/updates/user-data-through-azure-instance-metadata-service-now-generally-available/ and as you pointed out we would not support custom data via IMDS but recommend users to use UserData for the same.

[2021-04-26 16:28] alhieng commented on #74012
You have confirmed this is not a documentation issue and is working as expected, if the need plotly library is installed/defined correctly? See attached screenshot.

***@***.***D73A7E.6DC227D0]

From: CHEEKATLAPRADEEP-MSFT ***@***.***>
Sent: Sunday, April 25, 2021 8:55 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Alex Hieng ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-d

[2021-04-26 16:42] alhieng commented on #74012
I just ran this command to verify if my spark cluster has the correct library installed.  I see plotly 4.12.0 installed on the spark cluster (see screenshot).  I am not a python/spark expert (could totally be wrong), but according to the error message, it's a syntax error "name 'plotly' is not defined".   If it's a system issues, I would be happy to open a thread on Stack Overflow to track the iss

[2021-04-26 16:44] mishrapratyush opened #74377 "Steps don't match for Linux IoTEdge VM on Azure"
[Enter feedback here]
I have created a Linux VM on Azure and setup IoTEdge runtime on it. The Simulated temperature example (https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2020-11) works on it. Now when using the same VM to set it up as a transparent gateway the steps in the msdn article don't match. I can't proceed to configuration steps after copying over the certi

[2021-04-26 16:46] #73562 closed

[2021-04-26 17:02] debugaftercoffee commented on #53334
@zvrba What did you use for your username and password when using the ROPC Flow with the dummy service principal? I am trying the same thing, and I have try the ClientID and service principal object id as the username, and ClientSecret as the password, but I get the following HTTP 400 on the call to get the token. I appreciate any guidance you can provide.

`'AADSTS50034: The user account xxxx doe

[2021-04-26 17:03] ricfwolff commented on #46497
This documentation (and feature) is still confusing. It's been two hours that I'm trying to find this "Remove spending limit" configuration and it's impossible! Neither the "Manage" button. Nor the account.azure.com website... 😢

[2021-04-26 17:09] silverl commented on #40132
Hi, @SaiKishor-MSFT. Just checking in after a month. Any update?

[2021-04-26 17:18] wtnlee commented on #73650
Why does the customer/partner wish to move a P2S VPN Gateway from RG to RG or subscription to subscription? It makes logical sense to keep a hub + all its  children (gateways) in a single RG.

[2021-04-26 17:21] jonburchel commented on #67059
Thank you for your question @wahyuen.  I think it is a great feature idea.  I checked and confirmed the development team is considering this for a future update, but unfortunately it isn't available yet.  I will close this issue out now but if you have further questions feel free to respond here too.  #please-close

[2021-04-26 17:21] #67059 closed

[2021-04-26 17:42] KranthiPakala-MSFT commented on #74286
@robfrenchcdw
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-04-26 17:42] #74286 closed

[2021-04-26 17:44] robfrenchcdw commented on #74286
Thank you!

From: Kranthi Pakala ***@***.***>
Sent: Monday, April 26, 2021 11:42 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Rob French ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing parquet file (#74286)

EXTERNAL EMAIL

@robfrenchcdw<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_robfrenchcdw&d=DwMCaQ&c=PzM68gSF_5r1R7BCE75oeA&r=We9W0Mw4Fg

[2021-04-26 17:46] aholler2 opened #74379 "App Settings Required or Not is Unclear"
It is unclear whether the app settings are required for the app service health check feature to work or not. Will app service health checks work with just the "healthCheckPath" web config setting specified? Does WEBSITE_HEALTHCHECK_MAXPINGFAILURES need to be set for this feature to work or will it default if the app setting is not set?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-04-26 17:53] jonburchel commented on #66432
I am reassigning to the new owner since the prior content author moved to another team.  @chez-charlie, can you help us answer this one?  Thank you!  #reassign:chez-charlie

[2021-04-26 18:08] shashishailaj commented on #71756
@Daniel-t

I got this checked and found that the MAU billing is properly defined here in this current article and if you review the complete pricing page , it should be clear that you are charged only if your MAU user count exceeds than 50000 for any calendar month.

This page says: "The pricing tier that applies to your guest users is based on the highest pricing tier assigned to your Azure AD te

[2021-04-26 18:08] #71756 closed

[2021-04-26 18:09] aahill commented on #73779
Will look into clarifying this information. Tracking via internal work item for next sprint:  #1838504

#please-close

[2021-04-26 18:09] #73779 closed

[2021-04-26 18:18] RobinBeismann commented on #69493
@MGoedtel - do you have an update on the schedule? The release was a year ago now.

[2021-04-26 18:19] shashishailaj commented on #73595
@pnarsi Yes, the Azure Function premium plan is supported. In order to provide great insights and detect any security anomaly  Azure Defender for App service depends on querying not just VM resources logs but the underlying network logs as well and hence the Azure functions premium plan is supported. However if you check the Azure functions consumption plan , it is totally based on the access to c

[2021-04-26 18:19] #73595 closed

[2021-04-26 18:22] feistyj opened #74380 "Outdated since Feature Change"
5. Guest invite settings is showing incorrect data on this page since a feature change was placed earlier this year. Please update this document to reflect the new changes

![image](https://user-images.githubusercontent.com/83242314/116131842-e0b40280-a69a-11eb-96a0-1c2be816c6ae.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-04-26 18:26] mlcooper opened #74381 "Invalid JSON example"
Hi, I noticed for [this example](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-resource-manager-templates-overview#full-example-template), the JSON is actually invalid.  There are a couple of  `,` that are causing it to be invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e8368e-10de-d0fd-a

[2021-04-26 18:27] shashishailaj commented on #73799
@jesussalasp My apologies for the delay on this.  At a time there can be only one audience , there cant be multiple audience in one token. Because Audience denotes the end entity who would be able to consume the token to provide access to the requestor . This is by design at this point . There may be other ways to design this but I am not sure on them.  I would suggest you to send us an email to a

[2021-04-26 18:27] #73799 closed

[2021-04-26 18:29] shashishailaj commented on #73796
@jyama4ta My apologies for the delay on this. I have assigned this to the author for review and further action.

[2021-04-26 18:34] SadiqhAhmed-MSFT commented on #74330
@tfitzmac For assistance/clarification on the above query.

[2021-04-26 18:38] SatishBoddu-MSFT commented on #74377
Hello @mishrapratyush Thanks for the feedback!

Our SME will review your feedback soon.

[2021-04-26 18:40] shashishailaj commented on #72837
@raunakjhawar We have initiated a request with the content team for updating this . Once the review is complete , the article should be updated within 48 hours.

Thank you.

[2021-04-26 18:40] #72837 closed

[2021-04-26 18:43] bandersmsft commented on #74268
@andrePKI Most of the EA portal functionalty has already moved to the Azure portal so this article is getting stale and outdated.  I'll work on updating this article very soon. When I do, I'll clarify per your suggestion. Thanks for the feedback.
#please-close

[2021-04-26 18:43] #74268 closed

[2021-04-26 18:44] paulbatum opened #74382 "Timeout reference table is wrong for premium V1"
This table has an incorrect value for the Premium SKU on V1:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout

It says that the default timeout is 30 minutes but in fact no default timeout is applied in V1 unless the app is in the consumption SKU:
https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script/Host/ScriptHost.cs#L1675-L1693

PR is here:
htt

[2021-04-26 18:45] bandersmsft commented on #73899
@SychevIgor You're right. Most of the EA portal functionality has already moved to the Azure portal, so this article is getting stale and out of date. I'll work on updating it soon and incorporate your feedback. Thanks.
#please-close

[2021-04-26 18:45] #73899 closed

[2021-04-26 18:46] MGoedtel commented on #69493
@RobinBeismann - Support for Ubuntu 20.04 has slipped to sometime later this quarter as a result of an Azure service dependency. Once it is supported, the table of supported versions will be updated. Thanks for checking in.

[2021-04-26 18:48] bandersmsft commented on #74202
@gokusupa Thanks for the feedback. I'll investigate with the Cost Management + Billing team and update the article afterward.

[2021-04-26 18:48] v-gpettibone commented on #74377
@SatishBoddu-MSFT Hello SatishBoddu. I don't work on IoTEdge or know anything about it. Please assign this to Kelly Gremban who owns the doc set.
@kgremban

[2021-04-26 19:08] v-gpettibone commented on #74377
Please reassign to Kelly Gremban who owns the doc set.

From: SatishBoddu ***@***.***>
Sent: Monday, April 26, 2021 11:39 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Greg Pettibone (Aquent LLC) ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Steps don't match for Linux IoTEdge VM on Azure (#74377)

Hello @mishrapratyush<https://nam06.safelinks.protection.outlook.com/

[2021-04-26 19:20] shashishailaj commented on #74361
@jurjenoskam Thank you for your feedback . We have requested the content team to review this request .

[2021-04-26 19:32] hpsin commented on #74342
Refresh tokens from the Microsoft identity platform are usable multiple times, but there are caveats:

1. Using a refresh token multiple times does not update its expiration time (which is held, encrypted, in the token itself)
2. A refresh token used multiple times in parallel can fail and then succeed - i.e. if you request a token for a highly-privileged API, and simultaneously a low-privileged A

[2021-04-26 19:33] baanders commented on #74277
Hi @mareklani,

Devs have confirmed that multi-tenant scenarios adds complexity to authentication, and that different authentication mechanisms (such as InteractiveBrowserCredential or passing a token in the authentication header of a request) might be more appropriate for certain customers than our default suggestion of DefaultAzureCredential (which was chosen for its ability to handle most simpl

[2021-04-26 19:33] #74277 closed

[2021-04-26 19:47] cschar opened #74384 "Test prediction endpoint uses filename 'test_od_image.jpg" but in data repo its called 'test_image.jpg'"
When doing the tutorial here:
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?tabs=visual-studio&pivots=programming-language-python

At the end , there is the test prediction part where we run the code:

[code]

earlier in the tutorial, there are instructions to download the images from here:
https://github.com/Azure-Samples/cognitive-se

[2021-04-26 19:51] andresu13 opened #74385 "TLS 1.2 Only Mode"
The document states that "TLS 1.2 Only Mode" should be disabled. However, if we want to disable weak cyphers, shouldn't TLS 1.2 be enforced instead (by enabling this "TLS 1.2 Only Mode" option)?

Is that a typo on the document?

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca07bf8-d285-e7ae-aaf1-a9292bbdf75c

[2021-04-26 19:57] billti commented on #74342
Awesome! Thanks for the clarification. I assume point 2) is irrespective of multiple-use/single-use (i.e. you can't use a refresh token to request access to APIs it wasn't initially issued for)? Or is this some type of condition that is specific to _simultaneous_ requests with the same token?

[2021-04-26 20:11] bigben386 commented on #62884
Just came to add my frustration with the lack of documentation of this issue. I spent half a day troubleshooting this issue last week. The documentation definitely needs to be updated to mention the required sam remoting permission needed for the MSOL users on the domain controllers.

[2021-04-26 20:22] DarinShapiroMS opened #74386 "Documentation page refers to vCPUs instead of Cores."
This page describes each size of the HBxV3 VM series in terms of vCPUs.  This is incorrect for this all HPC VM families as the number referenced in the VM size, Standard_HB120rs_v3 for example, has 120 full cores not vCPUs.  This is an important thing to distinguish as it lead to improper comparison to other VM families that use hyper threading and are measured by vCPU.

For an example of the prop

[2021-04-26 20:24] cherylmc commented on #73847
All set. The note will publish this week. #please-close

[2021-04-26 20:24] #73847 closed

[2021-04-26 20:36] RyanHill-MSFT commented on #74364
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-26 20:38] BrunyC opened #74387 "Authentication in Mongo DB is not working in Azure Container Instance when deploying with Azure File Share as mount volume"
I am deploying mongo db container as Azure container instance in a group using Azure CLI YAML script. Here I am using a Azure file share as a mount volume, while using this mount volume the authentication is not enabled in mongo db. Though without mount volume it is working fine. Here is my YAML script:

apiVersion: '2019-12-01'
location: eastus
name: api-service
properties:
  containers:
    - na

[2021-04-26 20:50] kgremban commented on #74377
Hi @mishrapratyush it sounds like you set up your device with IoT Edge version 1.1, and now are looking at the certificate configuration steps for version 1.2.

You can switch between versions using the drop-down menu above the table of contents, or each article that has two versions has a switcher under the title to help you navigate:

![image](https://user-images.githubusercontent.com/13578436/1

[2021-04-26 20:52] berberich opened #74388 "Clarify bulk user download limit"
This section:
`Each bulk activity to create a list of users can run for up to one hour. This enables creation and download of a list of at least 500,000 users.`

Should instead read:
`Each bulk activity to create a list of users can run for up to one hour. This enables creation and download of a list of up to 500,000 users.`

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-26 20:53] luisquintanilla commented on #73948
@SiddhanthUnnithan thoughts?

[2021-04-26 20:56] kgremban commented on #74264
Thanks for clarifying. The short answer to your original questions is that I didn't know this module existed. But I'll check it out and see how it fits into our scenario.

[2021-04-26 20:57] cherylmc commented on #71197
Hi- I've updated the article. It will publish this week. Thanks! #please-close

[2021-04-26 20:57] #71197 closed

[2021-04-26 21:00] ChaitanyaNaykodi-MSFT commented on #74381
Hello @mlcooper,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-26 21:08] Heman-ava opened #74389 "Synapse Notebook not Shown in Pipeline"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-26 21:08] RADickinson opened #74390 "Sign in button / icon download file names"
You might want to take another look at the name of the files you ask to download to use as icons or sign in buttons within apps. Perhaps a tactical _ (underscore) between 'symbol' and 'lockup' would be less suggestive of an alternative meaning to the name.

`ms-symbollockup_signin_dark.png`

I will now drag my mind from the gutter.

All the best.
Rob

---
#### Document Details

⚠ *Do not edit this

[2021-04-26 21:10] luisquintanilla commented on #73948
@wangzheng0310 can you provide more information about the version of Visual Studio Code & the Azure ML extension you're using.

Also, I noticed in the screenshot you provided, the `connect-remote-compute-instance` is referring to a Git branch, not to anything related to the Azure ML extension or Jupyter Server.

Some things you might want to try: if you click on the VS Code Status Bar, you'll be p

[2021-04-26 21:16] cherylmc commented on #70222
#please-close

[2021-04-26 21:16] #70222 closed

[2021-04-26 21:17] luisquintanilla commented on #73948
@wangzheng0310 one other thing you can try is, in the *.vscode/settings.json* file, set or change the `jupyter.jupyterServerType` value to `local`.

![image](https://user-images.githubusercontent.com/46974588/116151900-398f9500-a6b3-11eb-9d3a-03e1ec684e23.png)

[2021-04-26 21:18] SiddhanthUnnithan commented on #73948
Hi @wangzheng0310! Based on the screenshot you provided it doesn't look like you're connected to the remote compute instance. In the case of a connected compute you would see something similar to this in the bottom left of your VS Code window:

![image](https://user-images.githubusercontent.com/6413608/116151806-f4ab3480-a699-11eb-8b43-623837ee0499.png)

If the compute instance is stopped then the

[2021-04-26 21:19] cherylmc commented on #70151
updated. #please-close

[2021-04-26 21:19] #70151 closed

[2021-04-26 21:22] cherylmc commented on #69779
Thank you. I will pass this on to the product team. #please-close

[2021-04-26 21:22] #69779 closed

[2021-04-26 21:24] Heman-ava opened #74391 "Synapse Notebook not Shown in Pipeline"
<img width="284" alt="Synapse Spark Notebook Not shown in Pipeline" src="https://user-images.githubusercontent.com/76827341/116151896-38f6fe80-a6b3-11eb-98ed-fe3b01ae88a2.png">
<img width="284" alt="Synapse Spark Notebook Not shown in Pipeline" src="https://user-images.githubusercontent.com/76827341/116151927-42806680-a6b3-11eb-96d3-d2eb3d52c710.png">
<img width="284" alt="Synapse Spark Notebook N

[2021-04-26 21:32] ciufudean opened #74392 "Copy-pasted content in two sections"
Sections *Create a resource group* and *Create an Azure App Service plan* have the same content, both talk about resource groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d5437c-5b4f-bf5b-4877-e810d5fefb4f
* Version Independent ID: eea67277-74ba-c23c-bee5-af4cf6eb14db
* Content: [Quickstart: Create a Ruby app -

[2021-04-26 21:51] MarileeTurscak-MSFT commented on #74365
@archeon1004
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-26 21:52] #74381 closed

[2021-04-26 21:52] MarileeTurscak-MSFT commented on #74380
@feistyj
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-26 21:53] ChaitanyaNaykodi-MSFT commented on #74381
Hello @mlcooper, Thank you for the feedback, We have made a PR to rectify the issue, you will be able to see the changes soon. Please let me know if there are any concerns. Thank you!

[2021-04-26 21:54] kromerm commented on #71621
It is likely that the double double quotes is throwing it off: ""

Open an Azure Support ticket on this so engineering can take a look at how to handle it

[2021-04-26 21:55] kromerm commented on #71621
#please-close

[2021-04-26 21:55] #71621 closed

[2021-04-26 22:00] MarileeTurscak-MSFT commented on #74385
@Justinha can you please confirm on this one? Not sure if the intent is to use 1.3.

[2021-04-26 22:01] MarileeTurscak-MSFT commented on #74388
@berberich
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-26 22:21] MarileeTurscak-MSFT commented on #74388
Thanks for the discussion around this, @berberich. @curtand, this has been confirmed with the PG.

I made a pull request to update the doc and will sign off once the build has completed. https://github.com/MicrosoftDocs/azure-docs-pr/pull/156068

[2021-04-26 22:21] #74388 closed

[2021-04-26 22:26] MarileeTurscak-MSFT commented on #74390
@RADickinson good catch! :)

I made a pull request to update this document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/156070

@rwike77 please review.

[2021-04-26 22:26] #74390 closed

[2021-04-26 22:34] ValOlson commented on #71662
This will be fixed as part of https://github.com/MicrosoftDocs/azure-docs-pr/pull/155793

[2021-04-26 22:44] jlichwa commented on #74261
Document update will be published by tomorrow. #please-close

[2021-04-26 22:44] #74261 closed

[2021-04-26 22:48] #74382 closed

[2021-04-26 22:50] ChaitanyaNaykodi-MSFT commented on #74382
Thank you @paulbatum.

[2021-04-26 22:54] ToruMakabe commented on #74261
@jlichwa THanks!

[2021-04-26 22:57] SaurabhSharma-MSFT commented on #74370
@stevepmo Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-26 22:58] SaurabhSharma-MSFT commented on #74387
@BrunyC To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-04-26 22:59] SaurabhSharma-MSFT commented on #74389
@Heman-ava To assist you better on your query could you provide us with the link to the document you are referring to with your ask ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experi

[2021-04-26 23:00] SaurabhSharma-MSFT commented on #74391
@Heman-ava Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-26 23:13] TanGolf commented on #74363
Thanks @PramodValavala-MSFT. Good to know that it can be done via the CLI.

[2021-04-26 23:13] KonTheCat opened #74393 "Is it nessesary to do this configuration at this point?"
I have a brand new WVD environment I built for testing where it did not seem to be necessary to configure the txt record, the email discovery just worked. The domain name is hosted in Azure DNS. Is this configuration no longer needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17be4454-e9d7-a43c-4a07-45d7d4760ce0
*

[2021-04-26 23:15] coverprice opened #74394 "Billing scopes doc incorrectly (?) claims MCA subs must reside in same tenancy."
There seems to be conflicting documentation about whether an MCA billing account can have subscriptions that belong to multiple tenancies, vs whether all subs under an MCA must reside in the same tenancy.

In the referenced doc, the sentence "Unlike EA billing scopes, Customer Agreement billing accounts are bound to a single directory and **can't have subscriptions across multiple Azure AD directo

[2021-04-26 23:17] CHDAFNI-MSFT commented on #74291
@noakup
The behavior sounds bizarre.

Since the dns query is performed at the client agent level and the documentation doesn't reference needing a particular LA Agent version.... how would the agent know to look up "scadvisorcontentpl" instead of "scadvisorcontent"?

Is there a special instruction that's being sent to the Agent with regards to solution installation that would refer it to the PL or

[2021-04-26 23:21] BharathNimmala-MSFT commented on #74370
@stevepmo Apologies for the experience, assigning this to our document author @tfitzmac to evaluate the feedback and see how we can enhance the document for a better viewing experience.

[2021-04-26 23:48] hpsin commented on #74342
All of our refresh tokens are valid against all APIs (that the user has access for).  So when you get a refresh token after a call to get Graph User.read, you can attempt to use it for Azure Resource Manager user_impersonation, as well as a Teams API.  These are all valid requests, and will each be evaluated separately for consent, MFA requirements, etc.

[2021-04-27 00:18] hpsin commented on #72013
Update doc, should be live tomorrow.  #please-close

[2021-04-27 00:18] #72013 closed

[2021-04-27 00:30] tfitzmac commented on #74370
@stevepmo - thanks for the feedback. The table generally works better with fewer columns so I am going to keep length as a single column. The formatting of the table is handled in a standard way across the site so we don't have control over how it would appear in an Excel spreadsheet.
#please-close

[2021-04-27 00:30] #74370 closed

[2021-04-27 00:42] vermagit commented on #74386
The mapping between 'v' and 'p' (virtual to physical) is implicit as 1:1 here when it is mentioned elsewhere (in the docs) that there is no hyper-threading on the H* VM sizes.
Though I agree that a simplified convention may reduce some confusion. Tagging @mimckitt.

[2021-04-27 00:46] tfitzmac commented on #74330
@rolyon or @curtand - do you know if this difference needs to be fixed?

[2021-04-27 01:04] rolyon commented on #74330
@tfitzmac These limits are correct. These limits refer to two different types of custom roles - Azure AD custom roles vs. Azure custom roles.
https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-create
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

[2021-04-27 01:23] anotherrohit commented on #74331
Yes during validate credential step with ngrok 8082. I get a different error when i hit the direct URL instead of the reverse proxy ngrok URL now
CNSUELErrorDomain code -1004
2021-04-25 07:14:41.409	INFO		MSA_SDK  	0	TID=1		 23 (+[MSALogger setLogCallback:]) MSA logging initialized, SDK version 3.0.3.210120
2021-04-25 07:14:41.426	VERB		PhoneFactor	0	TID=1		 551 (-[PhoneFactorAppDelegate applicati

[2021-04-27 01:53] MonikaReddy-MSFT commented on #74366
@alephenne - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-27 01:53] #74366 closed

[2021-04-27 02:09] lgayhardt commented on #73936
Hi @DeanGross thank you for the feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1838635) to our backlog to add more examples to the parameter doc. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-04-27 02:09] #73936 closed

[2021-04-27 03:03] xinmeng2 opened #74395 "Custom domain section currently is under Networking"
[Enter feedback here]
The documentation is saying Custom domain is under Blob Service section.
![image](https://user-images.githubusercontent.com/83261232/116179387-d43ab300-a749-11eb-9a57-00c2d137c47f.png)
But actually it is in Networking.
![image](https://user-images.githubusercontent.com/83261232/116178460-309cd300-a748-11eb-8d60-9bea5b68b57c.png)

---
#### Document Details

⚠ *Do not edit this

[2021-04-27 03:19] JamesTran-MSFT commented on #74321
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-27 03:44] ram-msft commented on #74384
@cschar Thanks for the feedback! We will review and update accordingly.

[2021-04-27 04:03] don007git commented on #73832
same as below

![image](https://user-images.githubusercontent.com/8097372/116183487-93a84e80-a6e3-11eb-8ff3-07b824de22a0.png)

[2021-04-27 04:04] don007git commented on #73832
Please show me sample if I didn't capture as you requested.

[2021-04-27 04:29] AnuragSharma-MSFT commented on #74247
@cc-laura Awaiting your response on this.

[2021-04-27 04:34] BhargaviAnnadevara-MSFT commented on #74392
@ciufudean Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-04-27 04:46] SnehaAgrawal-MSFT commented on #74379
@aholler2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-27 04:52] psmanhas commented on #74393
@KonTheCat Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-27 04:55] krispenner commented on #74309
Thank you so much! That is perfect! Sorry I couldn't find it myself.

[2021-04-27 04:55] #74309 closed

[2021-04-27 04:57] vussan commented on #74197
@RyanHill-MSFT, any update?

[2021-04-27 05:02] Tarjei-stavanger commented on #74264
You might also want to look into the certificate provider for moving or copying certificates.

[2021-04-27 05:28] SnehaAgrawal-MSFT commented on #74112
@hiyosh-msft Thanks! Your feedback has been shared with the content owner for further review.

[2021-04-27 05:37] ChaitanyaNaykodi-MSFT commented on #74074
Hello @AbhishekTripathi, apologies for the delay.
As mentioned in [the documentation](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#elements-1)

Based on the [explanation given here](https://stackoverflow.com/questions/53690281/apim-combine-throttling-policy-approach) the counters are maintained independently and as per the policy mentioned by you

[2021-04-27 05:37] #74074 closed

[2021-04-27 05:38] mike-urnun-msft commented on #74127
@gomateus I confirmed with @axisc that, between the two conflicting statements in the question above, the former is more of a remnant from when partitioning did use to be supported on the Premium SKU, and how that support continued on to exist for those who were already using them on their Premium SKUs, hence the part: "but any previously existing partitioned entities in Premium namespaces continu

[2021-04-27 05:39] amanmcse commented on #73588
@MNF Thank you for the feedback.
The toggle button to choose a policy type between User Flow and Custom Policy is added to almost all **How To** documents in B2C. This would require changing all of those documents. I will discuss this with the content author to see how can we accommodate the change.

[2021-04-27 05:39] #73588 closed

[2021-04-27 05:47] zvrba commented on #53334
You cannot use ROPC with a service principal. You have to create an actual User object (Azure portal -> AAD -> Users -> New user). If this account is to be used for automation, there are two things to set after creating the account and setting the initial password:

1. Do NOT require that the user change password on first login.
2. Consider setting password expiry to "never".

[2021-04-27 05:48] SubhashVasarapu-MSFT commented on #74068
@WiseOldHowell , the page you were referring to explains about "AzApplicationGatewayFirewallPolicyExclusion". Here is the page for global parameters "[AzApplicationGatewayFirewallPolicySetting](https://docs.microsoft.com/en-us/powershell/module/az.network/new-azapplicationgatewayfirewallpolicysetting?view=azps-5.8.0)"

We are closing this issue for now. If there are further questions regarding thi

[2021-04-27 05:48] #74068 closed

[2021-04-27 06:10] shashishailaj commented on #71765
@DanielLarsenNZ We have requested the content team to review this ask and see how best this information can be restructured in the document.

[2021-04-27 06:29] ChaitanyaNaykodi-MSFT commented on #74086
Hello @lengau, apologies for the delay,
The requested feature is currently being [tracked here](https://github.com/Azure/azure-functions-python-worker/issues/681) on the Azure Function Python worker repo.
As we maintain this repository for documentation improvements, we will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-04-27 06:29] #74086 closed

[2021-04-27 06:30] SadiqhAhmed-MSFT commented on #74394
@coverprice Thank you for your post. We will review and get back to you shortly.

@bandersmsft FYI, to clarify the query.

[2021-04-27 06:46] paulbouwer commented on #71333
@04diiguyi - I have just successfully used the [1.7.3 instructions](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux) to deploy Istio and all the addons to an AKS 1.20.5 cluster.

The integration addons (like Kiali) were [deprecated](https://istio.io/latest/news/releases/1.8.x/announcing-1.8/#deprecations) in Istio 1.8.x. There are now [sepa