[2021-03-17 16:11] Tiberriver256 commented on #72158
One more thing to mention here is there doesn't seem to be any documentation on the `<base />` tag and how that works within inheritance

[2021-03-17 16:16] azwildfire opened #72316 "Document is over a year old"
These machines appear to have gone GA - can we update this document to reflect the GA status of these machine sizes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7457bf0-dc21-6f49-d4e5-4de493219ef1
* Version Independent ID: f5969121-2e88-8bf3-77f0-428ae4cc59ad
* Content: [Msv2-series (Preview) - Azure Virtual Machin

[2021-03-17 16:18] HarshitaSingh-MSFT commented on #72289
@Eneuman, the mentioned arguments are required for running a sample application using AAD pod-managed identity. They are specifically not required for pod identity. Hope that clarifies your question.

[2021-03-17 16:22] SwathiDhanwada-MSFT commented on #72005
@yvesgermain Thanks for your feedback. I have made necessary changes to the document and they will be live soon.
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-17 16:24] #72005 closed

[2021-03-17 16:26] SaiKishor-MSFT commented on #72313
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-17 16:29] MonikaReddy-MSFT commented on #72316
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-17 16:29] SaiKishor-MSFT commented on #72030
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-17 16:29] #72030 closed

[2021-03-17 16:31] MonikaReddy-MSFT commented on #72316
@azwildfire- Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-17 16:31] #72316 closed

[2021-03-17 16:32] martincoetzer commented on #72207
The example might need a better description, but the intention is: in an emergency, any user with a trusted windows device and accessing from the corporate network, can connect to SP and Exchange, but only users in the ContingencyAccess group can connect to SP and Exchange, from an external location (if their device is domain joined). If you want to block all users internally then you will need to

[2021-03-17 16:33] SaiKishor-MSFT commented on #72285
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-17 16:35] RodrigoGroener commented on #72298
OK good point,
but as you can see in Version 1.0 and 1.1 of the security baseline for API Management, the data at rest section 4.8 is marked with responsibility "Microsoft".
![image](https://user-images.githubusercontent.com/3526035/111503068-b50e3600-8746-11eb-9ed7-3ebad4b33c2c.png)

In compare, there are some security controls that are really marked with "not applicable"
![image](https://user-im

[2021-03-17 16:36] santhoshbomma9 commented on #71580
Hi @SwathiDhanwada-MSFT just wondering any update on this please?

[2021-03-17 16:36] GitHubUser1339 opened #72319 "Expand on 'Nested count expressions are also allowed' section"
The 'Nested count expressions are also allowed' section shows an example of a nested-count expression. Unlike other examples the example doesn't provide any details how the evaluation works for this nested count expression.

Also the example contains two count expressions and I would also expect two conditions, or an explanation why there's only one condition ("greater": 0).

![image](https://user

[2021-03-17 16:36] MonikaReddy-MSFT commented on #72296
@Jared975 - All the links are working as expected. I do not see a bad hyperlink in the document. Do you mind sharing more specific details on where exactly you are seeing this issue ?

[2021-03-17 16:36] haoewqopi opened #72320 "1st Graphic Shows FIDO2 as "Preview""
I believe FIDO2 went GA very recently yet the first graphic in this article lists FIDO2 as still in Preview. The graphic's filename is "authentication-methods".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content: [

[2021-03-17 16:41] MonikaReddy-MSFT commented on #72198
@ktleach - Did you get a chance to look at the above response? Please provide us more details on that. Thank you.

[2021-03-17 16:41] DerekHerman-MSFT commented on #72308
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-17 16:41] JamesTran-MSFT commented on #72320
@haoewqopi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-17 16:42] himanshusinha-msft commented on #72312
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-17 16:43] julieMSFT commented on #70724
#reassign:julieMSFT

[2021-03-17 16:44] julieMSFT commented on #69994
#reassign:julieMSFT

[2021-03-17 16:44] MaraSteiu commented on #69135
Hi Jason!

I'm not sure how this PR is connected to my work, but I might be missing something. I tried to view the preview URLs, but they don't work.

Thanks,
Mara
From: Jason Roth ***@***.***>
Sent: Wednesday, March 17, 2021 8:16 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mara-Florina Steiu ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] More detailed documentatio

[2021-03-17 16:44] julieMSFT commented on #69241
#assign:julieMSFT

[2021-03-17 16:54] mgreenegit commented on #72311
Yes a change to content would be on the same frequency as “new”. Great point. I will add that to the doc. cc @nitinbps

[2021-03-17 16:55] hecflores opened #72322 "Support for private endpoints is half baked"
Based on the documentation it makes sense but it still raises a question.

I created the required private endpoints using our autromation using ARM templates with the following coding snippet:
[code]

This was done with the following services:
- (2) Function Apps
  - **VirtualNetwork_{Private Endpoint Name}_privateLinkResourceId** - `Resource Id of Function Apps`
  - **VirtualNetwork_{Private Endp

[2021-03-17 16:58] MayankBargali-MSFT commented on #72298
@RodrigoGroener Apology for missing it. I am syncing with the team to update this.

[2021-03-17 16:59] ChrisGibson1982 commented on #72311
So just to clarify, it checks every 5 minutes and if the policy has changed it should download the new policy and modules specified in it? or have I miss understood?

[2021-03-17 17:02] jeremyVignelles opened #72323 "FUNCTIONS_WORKER_RUNTIME should include `dotnet-isolated` as a valid value"
On that page, the FUNCTIONS_WORKER_RUNTIME gives the valid values as an exhaustive list, but the list doesn't include `dotnet-isolated`, as created by the visual studio code extension.

Moreover, [that page](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions) should also be updated to state that `dotnet-isolated` must b

[2021-03-17 17:04] davidsmatlak commented on #72278
#assign:davidsmatlak

I'll review this documentation request.

[2021-03-17 17:06] davidsmatlak commented on #71045
#assign:davidsmatlak

[2021-03-17 17:07] sumeetmittal commented on #71936
Yes, please feel free to add it to troubleshooting section. Thanks

From: Akshay Mittal ***@***.***>
Sent: Wednesday, March 17, 2021 5:25 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sumeet Mittal ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Limitations section to include "Managed Storage Account are not supported". (#71936)

@sumeetmittal<https://nam06.safelinks.

[2021-03-17 17:08] MayankBargali-MSFT commented on #72307
@vdimov-gcmlp This [docs](https://docs.microsoft.com/en-us/azure/connectors/connectors-sftp-ssh) applies only to Azure Logic Apps as the document says "Monitor, create, and manage SFTP files by using SSH and Azure Logic Apps" and the content in this document only talks about logic app.

I do understand your concern here. I will work with my team on how best we can migrate our existing documents fo

[2021-03-17 17:11] KranthiPakala-MSFT commented on #72322
@hecflores
Thanks for reaching out! We have assigned the issue to the content author to further review the ask and provide an update as appropriate.

@nabhishek - Could you please have a look at the above ask? - Thanks

[2021-03-17 17:12] DerekHerman-MSFT commented on #72284
@dd09
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-17 17:12] alexboata opened #72326 "Outbound proxy to HDInsight management"
Hello,

How can we route traffic to HDInsight management through a proxy to avoid opening NSG outbound and also to not use an Azure firewall?

Thank you,
Alex

[2021-03-17 17:23] JayaChatterjee-MSFT commented on #72323
@jeremyVignelles  Thank you for your feedback! We will review and update as appropriate.

[2021-03-17 17:24] JamesTran-MSFT commented on #72320
@haoewqopi
Thanks for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/111510332-e701a700-870a-11eb-9ae5-e3ed33078f15.png)
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key

[2021-03-17 17:25] shashishailaj commented on #72274
@claire-q We have checked this internally and the configuration is unsupported at this point from our side. We will close this issue now.

#please-close

[2021-03-17 17:42] chaitranagaraj opened #72328 "City name Boston is not working"
[Enter feedback here]

I tried the Databricks quickstart sample from Microsoft site.  After multiple attempts it was not working with City name as Boston. Then i checked open datasets documentation from Azure site and changed the city to Seattle.

"Safety/Release/city=Seattle"

The code worked well and i was able to complete the quickstart guide.
---
#### Document Details

⚠ *Do not edit this sect

[2021-03-17 17:48] nanditavalsan commented on #72302
#reassign: @RonyMSFT

[2021-03-17 17:52] KranthiPakala-MSFT commented on #72264
@pidahbus
Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and update the document as appropriate.

[2021-03-17 17:52] KranthiPakala-MSFT commented on #72264
@mssaperla - Could you please have a look at the above feedback? - Thank you

[2021-03-17 17:54] stefanushinardi commented on #38213
@craigshoemaker I just realized that Glenn already already referred the link I sent earlier. maybe we could link the section from the testing article?

[2021-03-17 17:58] cynthn commented on #72290
@dtopham75 Good catch! The correct graphic was in the repo, but the wrong link was used. Doc has been updated and the fix should be live after 3:00 PM PST today. Thanks again!

[2021-03-17 18:06] #72079 closed

[2021-03-17 18:12] D-Moonesinghe opened #72330 "Diagram doesn't match the descriptions"
Trigger alert settings diagram doesn't match the description.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432c5a45-c707-d478-ad23-17973292962b
* Version Independent ID: dde02992-7192-70aa-a2c1-ebeda3624e7f
* Content: [Creating Alerts with Dynamic Thresholds in Azure Monitor - Azure Monitor](htt

[2021-03-17 18:14] commakoerschgen commented on #72022
Yes. My point is that the cited statement from https://docs.microsoft.com/en-us/azure/active-directory/develop/publisher-verification-overview is misleading because it says that "[...] end-users will no longer be able to grant consent to most newly registered multi-tenant apps without verified publishers. [...]". It does not clearly state that this is only the case if the feature "risk-based step-

[2021-03-17 18:25] SadiqhAhmed-MSFT commented on #72219
@Brucius  Appreciate your patience in this matter.

Encrypted VMs can only be restored by restoring the VM disk as explained below. **Replace existing** and **Restore VM** aren't supported.
Restore encrypted VMs as follows:
1.	[Restore the VM disk](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#restore-disks).
2.	Recreate the virtual machine instance by doing one of the

[2021-03-17 18:27] sgdesmet commented on #72247
Hello @JamesTran-MSFT, we have a custom `DisplayControl` to do email verification. This DisplayControl has an additional `ValidationClaimsExchangeTechnicalProfile` which validates that the email is not yet in use. It does so by combining an AAD Technical Profile and a `AssertStringClaimsAreEqual` output claims transformation, similar to what is done here: [link](https://stackoverflow.com/questions

[2021-03-17 18:27] rwike77 commented on #72093
@gxtaillon  Thanks, I've submitted an update to add this error code.

[2021-03-17 18:32] JamesTran-MSFT commented on #72247
@sgdesmet
Thank you for the quick and detailed response! I'll pass this info along to our engineering team and update as soon as possible.

[2021-03-17 18:32] KranthiPakala-MSFT commented on #72328
@chaitranagaraj
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-17 18:42] pragnagopa commented on #71628
Closing as this is code-defect and needs to be addressed.

[2021-03-17 18:48] deetoo opened #72332 "hybrid benefit doc unclear."
Specifically for the 'Can I use Azure Hybrid benefit with Windows nodes' the documentation suggests executing:
**az vmss show --name myAKSCluster --resource-group MC_CLUSTERNAME**

This, to me anyway, is very confusing. In the steps above, there are commands that explain how to create, or update a cluster to enable-ahub, and _those commands are referencing the expected cluster name and resource gr

[2021-03-17 18:48] kevincathcart-cas commented on #71680
@yoelhor While the codebase may not have a proper 2.1.4 implementation, part of the control plane believes it does. Indeed, 12 days ago versions up to 2.1.3 where selectable for built in flows in the UI. Then it went away for a while, but just today I created a new Login flow in the UI, and had it *default* to 2.1.4.

These 2.1.3 and 2.1.4 "versions" don't seem to have desired behavior, likely bec

[2021-03-17 18:52] #72245 closed

[2021-03-17 19:00] TravisCragg-MSFT commented on #71875
@yotauber Unfortunately this functionality is not possible with classic load balancers. If this is something that you need, I highly recommend upgrading to an ARM based deployment with a [Standard Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview).

Classic cloud services are still supported, but there will be no added functionality coming in the future.

[2021-03-17 19:11] DerekHerman-MSFT commented on #72100
@RonnieQuan Apologies for the delayed response here. That is correct, you can see this information in the section [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#change-the-default-network-access-rule). Also noted at the top of the page in the Important section: _Turning on firewall rules for your storage account blocks incoming requests for

[2021-03-17 19:11] #72100 closed

[2021-03-17 19:22] JamesTran-MSFT commented on #72257
@ewahner
Thank you for your time and patience!

Based off my testing the '[What If Tool](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/what-if-tool)', is currently only available for your AzureAD tenant (not AzureAD within your B2C tenant). As of right now, [adding Conditional Access policies to user flows in your B2C tenant](https://docs.microsoft.com/en-us/azure/acti

[2021-03-17 19:30] v-jheichman opened #72333 "How is Asset Count calculated?"
This scan shows 2 assets scan, 1 asset classified
![image](https://user-images.githubusercontent.com/79594106/111526476-081ec380-871c-11eb-94bf-dd2c7bb0840a.png)

In this document, I only see 1 Azure Dedicated SQL Pool table scanned. Why does this scan show 2 scanned assets? **Where does the number 2 get calculated?**

![image](https://user-images.githubusercontent.com/79594106/111526909-8aa78300-

[2021-03-17 19:40] abu3lia opened #72334 "2 problems in this doc"
Hello,
While I was following this doc, I found 2 issues with it:

Issue #1: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/how-to-configure-lvm-raid-on-crypt#remove-the-temporary-folders-and-temporary-fstab-entries
The command have a typo, it should be **umount** not **_unmount_**.

Issue #2: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/how-to-configure-lvm-raid-on-

[2021-03-17 19:43] shaima-MS opened #72335 "Request to add additional information"
Hello team,

I would like to ask you to include the information that only 2 secrets can be added to the application registration in the B2C tenant which is an app model constraint.

Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-

[2021-03-17 19:53] MarileeTurscak-MSFT commented on #72335
@shaima-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-17 19:56] djpmsft commented on #72333
Hey @v-jheichman ,

There are two assets here as both the SQL Pool table and the Azure SQL Server are considered assets in Azure Purview.

Thanks,
Daniel

[2021-03-17 20:08] v-jheichman commented on #72237
Some more information about attempting to delete assets from data sources that no longer exist
a. Deleting a scan does not delete the asset
b. Running a scan on a data source after deleting the data source does not delete the asset
![image](https://user-images.githubusercontent.com/79594106/111531433-c2fd9000-8721-11eb-8501-f3fa48638ad2.png)

c. The asset still exists even after a failed scan atte

[2021-03-17 20:16] ToddBowman opened #72338 "Is using a NAT gateway on the cluster subnet supported?"
If I don't want to use a public IP to provide outbound internet access when using a standard load balancer, can I attach a NAT gateway to the subnet the cluster is configured to use?  Is that a supported configuration?  If so, is there a switch so the public IP never gets automatically created?  Just set to 0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-03-17 20:16] #72197 closed

[2021-03-17 20:16] AjayKumar-MSFT commented on #72197
Thanks for the insights, Luis. Much appreciated.

[2021-03-17 20:18] MNF commented on #38427
@ClairelyClaire mentioned that
AzureAD .well-known config is partially invalid, making OAuth2 registration with the "common" **or "organizations" endpoints** impossible go-gitea/gitea#12073
I also noticed the issue on organisations ( not common) endpoints,
getting errors like
`oidc: issuer did not match the issuer returned by provider, expected "https://your-tenant-name.b2clogin.com/tfp/c5b28ff6-f

[2021-03-17 20:21] hpsin commented on #38427
In a possible v3, as mentioned above.  We cannot break our existing apps.

Use of B2C here is out of scope - I believe B2C requires you to use the special B2C issuer and endpoints, no?

[2021-03-17 20:22] maertendMSFT commented on #68262
Can folks try this workaround?
`install-module pswsman`
`Disable-WSManCertVerification -All`

[2021-03-17 20:46] MayankBargali-MSFT commented on #71628
@pragnagopa Thanks for offline discussion and confirmation.

@v-anvari  As this is the code defect. I am closing this document issue.

[2021-03-17 20:46] #71628 closed

[2021-03-17 20:52] pearcec opened #72339 "Updating api-server-authorized-ip-ranges"
The documentation isn't clear enough about updating api-server-authorized-ip-ranges on existing clusters that did not specify a range during cluster creation.  If you add IPs it breaks the cluster.  You need to add the IP address of the load balancer to this range.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d

[2021-03-17 21:00] roy-work opened #72340 "Instructions appear to be missing a step"
At "[Give Tenant 2 Access](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants#give-tenant-2-access), we're told to log into the other tenant while specifying the application's client ID of the application we created in the first tenant.

Trying this, for me, results in the error:

This bit, in particular,

Would appear true: I haven't installed the app, or co

[2021-03-17 21:18] sayedihashimi commented on #71933
@vijayrkn @deepchoudhery can we try to see if we can reproduce this issue? @ssivas has tried to repro it with no luck.

[2021-03-17 21:18] felixtsem5 commented on #72267
This may be affected some other pages as well. I'm flipping through the Cosmos DB docs and I started seeing the same item. Here's another example. If you need me to open another issue, please let me know.
https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-java

[2021-03-17 21:23] vijayrkn commented on #71933
Adding @Phenning since it is in the one ASP.NET dialog. I think we created 2 applications only for the Blazor scenarios.

[2021-03-17 21:33] ricktam1469 commented on #72185
Any update on this?

[2021-03-17 21:39] MGrasdal commented on #68262
Thanks, @maertendMSFT. That works. When I posted about this issue some time ago, I had speculated that strict certificate checking had to be disabled. I was hoping that MS would update the code to do this. I was about to try a similar work around, but thanks for your solution!

[2021-03-17 21:54] YutongTie-MSFT commented on #72246
@AgribotGit Thanks for pointing out this. I have updated the doc and code sample for every language if there is one. For the code bug @PatrickFarley could you please take a look of that and update the document? Thanks.

[2021-03-17 22:05] phenning commented on #71933
For Blazor WebAssembly hosted scenarios, the second application we add would have _Server as a suffix to the app name. We touched the provisioning code for this in 16.8. I am currently reproing this for MVC as well as described above,

I'm going to install a 16.7 build to see if it repros the same way to see if this was a regression from the changes in 16.8 or existed the whole time we supported .

[2021-03-17 22:35] sdgilley commented on #71388
Thanks @djpugh for bringing this to our attentions. We're reviewing the case now to see what could be added to the documentation.  + @vijetajo

[2021-03-17 22:37] helplessJ commented on #57307
@akousmata Unfortunately no additional details to report, was not able to work with my dev team enough to get this working in dev.  Implementation died on this issue :(

Hoping you got past that error and apologies for late response!

[2021-03-17 22:37] frater commented on #68585
Not sure this was a great solution - the supporting information would be very useful, just removing the link leaves the documentation... much less useful.

[2021-03-17 22:38] davidsmatlak commented on #72278
I submitted the fix for this issue and when it's merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-03-17 22:48] TravisCragg-MSFT commented on #72294
@samueljamkhandi-MSFT Thanks for the feedback! It is my understanding that this is not possible as well. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-17 22:49] TravisCragg-MSFT commented on #72332
@deetoo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-17 22:51] bwren commented on #72109
I talked to the PM about this, and that row in the results can be ignored. He's going to update the query to exclude that row.

#please-close

[2021-03-17 22:51] #72109 closed

[2021-03-17 22:53] toddysm commented on #70985
@DavidNorena Here is the documentation how to use Managed Identity on a VM to access ACR: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity.

The problem is that Docker CLI doesn't know anything about MI and you will need to run few `az` commands before the Docker task - the first will be to login to Azure and the second to login to ACR. T

[2021-03-17 22:57] TravisCragg-MSFT commented on #72334
@abu3lia Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-17 23:10] barshow commented on #38427
@hpsin what about another keyword like common-compliant, or something that allows the issuer to be what it is suppose to be.  I would also argue a major version bump is allowed to break apps, but that is another discussion.

[2021-03-17 23:10] davidsmatlak commented on #72278
@georgeOsdDev thanks for your feedback. I added the note to superscript 5 for [App Service limits storage](https://docs.microsoft.com/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits) and the update should be online within 24-hours.

[2021-03-17 23:29] bwren commented on #15020
#please-close

[2021-03-17 23:29] #15020 closed

[2021-03-17 23:34] MarileeTurscak-MSFT commented on #65893
Response: For RBAC permissions so long as the user attempting to run the import has access to the location where the BACPAC is stored, e.g. an Azure storage account, and is authorized to access, and modify, the logical SQL server that should be sufficient.

[2021-03-17 23:34] #65893 closed

[2021-03-17 23:36] shizn opened #72345 "No module named 'psycopg2._psycopg' in WSL2"
Errors when run command in WSL2 Ubuntu
[code]
[code]

Extra info
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-5416-44039cee39b8
* Version Independent ID: 72844ca4-b087-de15-be00-e0d87020a48b
* Content: [Tutorial: Deploy a Python Django app with Postgres - Azure App Service](https://docs.micr

[2021-03-17 23:39] MarileeTurscak-MSFT commented on #72259
Thanks! I made a pull request to update this.

@yelevin please review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150934

[2021-03-17 23:39] #72259 closed

[2021-03-17 23:39] BharathNimmala-MSFT commented on #72330
@D-Moonesinghe Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2021-03-17 23:39] #72126 closed

[2021-03-17 23:40] bwren commented on #30127
Looks like this issue got dropped, but the article was subsequently rewritten.

#please-close

[2021-03-17 23:40] #30127 closed

[2021-03-17 23:41] BharathNimmala-MSFT commented on #72314
@andyturn31 Thank you for reaching out, we will review our scenario and get back to you at the earliest.

[2021-03-17 23:42] bwren commented on #54827
Looks like this issue got dropped. I am adding a note about security events though. Yes, ASC is required to collect security events.

#please-close

[2021-03-17 23:42] #54827 closed

[2021-03-17 23:45] clouddna-au commented on #60595
Any update on this and also what the behaviour will be for event grid when the outcome is "GenericError"?

[2021-03-17 23:46] BharathNimmala-MSFT commented on #72319
@GitHubUser1339 Thank you for reaching out with your query, assigned this issue to our document author @DCtheGeek to further review the query and share any pointers.

[2021-03-17 23:49] MarileeTurscak-MSFT commented on #72175
Thanks! It does look like it moved to the top of the page under the Provisioning section like you said.

I made a pull request to update the guide to match the new UI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150938

@kenwith please confirm.

[2021-03-17 23:49] #72175 closed

[2021-03-17 23:54] jasonhorner opened #72346 "No documentation on how to filter event triggers on flushwithClose to prevent multiple triggers from firing"
This post:
https://docs.microsoft.com/en-us/answers/questions/46331/processing-azure-data-factory-event-trigger-proper.html

refers to this page for more information
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger

however none of the information about how to access the eventpayload (@trigger().outputs.body) property or that the property even exists... seems to be p

[2021-03-17 23:56] BharathNimmala-MSFT commented on #71848
@CharlPels My sincere apologies for delay in getting back to this thread. Post discussion with our internal team it was called out that this is a known limitation and unfortunately will not be fixed.  However, the recommendation was that the modern Azure way to manage this is to use service tags. Please refer [here ](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview) for

[2021-03-17 23:56] #71848 closed

[2021-03-18 00:13] dcstwh commented on #71635
If there are no other questions , we will close this issue. Thank you.

[2021-03-18 00:19] Plus3IT-Azure commented on #20737
This worked for me, thanks for the fix!

[2021-03-18 00:43] anzaman commented on #72049
Portal update is currently being rolled out to all regions, you can use http://aka.ms/vpnportalflight if you do not see BGP Peers option in regular portal for the time being.

[2021-03-18 00:44] rwike77 commented on #72093
Update has merged.  #please-close

[2021-03-18 00:44] #72093 closed

[2021-03-18 00:45] LilacBrandy opened #72347 "Instructions for the other compute types"
Hello team,
Would it be possible to add instructions for the other compute types? There's 3 compute options (VM's, IoT and storage) but only instructions for the IoT.
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1f31375-1e4c-013b-9234-221c996086c9
* Version Independent ID: 2fe0d586-45ff-b2bc-a02e-

[2021-03-18 00:45] SaiKishor-MSFT commented on #72049
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-18 00:45] #72049 closed

[2021-03-18 00:48] zroxlol opened #72348 "365 account app-password creation-"
When signed in to an account using an Exchange Online Plan 1 license- we have set up MFA to sign in and are requiring to use the account from a series of scanners that are used remotely via 4G wireless dongles (unable to add 365 connectors to a static external IP) and would like to set up an app-password for the account to have the scanners use to send emails-
However when in the MFA page the only

[2021-03-18 01:01] fusyd opened #72349 "misleading Azure Retail Prices fro spot vm instances"
the price of spot vm instances returned by the Azure Retail Prices api is not the real price.

I did a query on E2as V4 spot in AU East region, it shows 0.016806 (USD/hr). However in the history pricing/eviction page, it shows 0.11160 (USD/hr) which is 6 times more expensive. I observed for a few days and got the same result every time.

the query I used:
https://prices.azure.com/api/retail/prices

[2021-03-18 01:34] parilla opened #72350 "Microsoft recommended alternative to auto-acceleration"
Hello, the beginning of the article states: **Microsoft does not recommend configuring auto-acceleration any longer**

I could not see a reference to what Microsoft recommends as an alternative.

Does such alternative exist, and if so what are the details?

Kind regards,
Andrew

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-03-18 01:36] allsyed opened #72351 "Missed to"
Grammatical mistake in this section of the [document](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#quick-task). In 3rd paragraph,

`sends it ACR Tasks and`  it should be `sends it to ACR Tasks and`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc176ffc-0be2-fcc3-037d-22aa

[2021-03-18 02:09] #72278 closed

[2021-03-18 02:39] PramodValavala-MSFT commented on #72338
@ToddBowman Thanks for the question! We will review and get back to you!

[2021-03-18 02:39] PramodValavala-MSFT commented on #72339
@pearcec Thanks for the feedback! We will review and update accordingly.

[2021-03-18 02:41] PramodValavala-MSFT commented on #72345
@shizn Thanks for the question! We will review and get back to you!

[2021-03-18 02:42] PramodValavala-MSFT commented on #72347
@LilacBrandy Thanks for the feedback! We will review and update accordingly.

[2021-03-18 02:48] PramodValavala-MSFT commented on #72348
@zroxlol Thanks for the question! We will review and get back to you!

[2021-03-18 02:49] PramodValavala-MSFT commented on #72350
@parilla Thanks for the feedback! We will review and update accordingly.

[2021-03-18 02:52] PramodValavala-MSFT commented on #72351
@allsyed Thanks for the feedback! We will review and update accordingly.

[2021-03-18 03:14] VigilanteWang commented on #72207
Thanks, then the thread can be closed

[2021-03-18 03:36] Incarnation-p-lee commented on #70719
@Tom-Van-Asch
Could you please share some more information about this, like spring boot version, spring cloud version and dependencies involved ? So that we can try to understand more about this issue.

[2021-03-18 03:45] star286 opened #72352 "what's the difference between "My Queries" and "Shared Queries" in "Query explorer" in Application insights?"
In [this doc](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/example-queries#query-explorer), it has no information about "My Queries" and "Shared Queries"  in "Query explorer". Here is the screenshot in azure portal:

![sharedquery](https://user-images.githubusercontent.com/76468643/111569816-6f9d4780-87de-11eb-956e-1cc484f12b86.JPG)

As per my understanding, if the query is saved into

[2021-03-18 03:47] lgayhardt commented on #70262
Hi @NoelAbrahams the descriptions for the metrics you mentioned can be found in the [Microsoft.Insights/Components section of the supported metrics with Azure Monitor doc](https://docs.microsoft.com/azure/azure-monitor/essentials/metrics-supported#microsoftinsightscomponents). I put the descriptions below and will add these to the App Insights metrics doc.

- **Page load network connect time** - T

[2021-03-18 03:52] #70262 closed

[2021-03-18 03:59] VikasPullagura-MSFT commented on #72339
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-18 04:03] PeterCLu commented on #71505
Thanks @KSLHacks for the report. You raise an excellent point about being clear on expectations.

I've added an additional warning in the ["Secure the workspace with a private endpoint"](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet#secure-the-workspace-with-private-endpoint) section to make it more clear that security mechanisms must be enabled individually.

[2021-03-18 04:12] CHEEKATLAPRADEEP-MSFT commented on #72326
@alexboata  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2021-03-18 04:14] CHEEKATLAPRADEEP-MSFT commented on #72346
@jasonhorner  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add to the document.

[2021-03-18 04:16] VikasPullagura-MSFT commented on #72349
@fusyd There is a bug identified for this. Team is working on fixing the issue asap.
Thanks.

[2021-03-18 04:18] PeterCLu commented on #71505
#please-close

[2021-03-18 04:18] #71505 closed

[2021-03-18 04:19] CHEEKATLAPRADEEP-MSFT commented on #72103
@v-jheichman  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-03-18 04:19] #72103 closed

[2021-03-18 04:21] mila411 opened #72353 "Possibility of wrong regular expression"
Hi. This page has the following annotation, which actually replaces "resourceGroup" with "resourcegroup":

And the script that checks the result after adding the exception to Storage also uses a regular expression to specify "resourcegroup" in lowercase.

[code]

However, the value of ResourceGroup stored in the $rule variable after adding the exception is "resourceGroup", which is a camel case, s

[2021-03-18 04:27] PeterCLu commented on #71540
Hi @Rhynri ,

Thanks so much for your report. You're correct, there is a large difference between the documentation given for inference configs and deployment configs. I've created a doc-work item to a backlog to address your concerns.

https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1827391

Our documentation team will triage this request as soon as we can.

Thank you!
#please-clo

[2021-03-18 04:27] #71540 closed

[2021-03-18 04:34] SwathiDhanwada-MSFT commented on #71996
@MS-jgol Can you please provide your inputs on this?

[2021-03-18 04:42] VikasPullagura-MSFT commented on #72340
@roy-work
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-18 04:42] VikasPullagura-MSFT commented on #72340
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2021-03-18 04:51] Incarnation-p-lee commented on #70666
@Tom-Van-Asch

Hi there, let me share more information when u upgrade to spring 2.4.x. I suppose you disabled `Java In-Process Agent` from the `Application Insights` blade of Azure Spring Cloud.

* spring boot 2.4.1.
* spring cloud 2020.0.0.
* Dependencies as below:
[code]
* Sample repository [here](https://github.com/Incarnation-p-lee/insights/tree/spring-2.4.x), please NOTE the branch is `spring

[2021-03-18 04:54] #72351 closed

[2021-03-18 04:55] VikasPullagura-MSFT commented on #72351
@allsyed The document is updated and changes will go live soon.

[2021-03-18 05:05] lgayhardt commented on #58679
@acearun Do you have the query used for this screenshot from the tree visualization documentation?

[2021-03-18 05:28] SnehaAgrawal-MSFT commented on #72280
@star286 Thanks for reaching here. Could you please share the link of document you are referring to help you better on this.

[2021-03-18 06:00] SubhashVasarapu-MSFT commented on #72116
@bhicks329, Apologies for the delay in response. Azure Firewall was deployed here to inspect the traffic between the spokes. If your requirement is to mediate the traffic to Azure Private Endpoints using a security appliance, then you can deploy a Firewall to perform packet inspection.
**Note:** If you're using a private endpoint in a hub-and-spoke model from a different subscription, reuse the sa

[2021-03-18 06:10] CHEEKATLAPRADEEP-MSFT commented on #72353
@mila411  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-18 06:19] SwathiDhanwada-MSFT commented on #72291
@v-lyivan I have checked from my end and I could see splitting by port is possible. Adding screenshot for your reference.

![image](https://user-images.githubusercontent.com/48976275/111581855-061e3880-87e0-11eb-97f3-ebd16dde9c31.png)

[2021-03-18 06:21] SubhashVasarapu-MSFT commented on #72116
Apologies, I misunderstood your question. From the scenario 3, We must do SNAT even everything is under single virtual network. It would be listed on a special note and documented if the SNAT is required in the scenario 1. But, for further confirmation & insights on this I will tag the respective PG here.

[2021-03-18 06:31] KranthiPakala-MSFT commented on #72089
@NastasiaSaby - Sorry for the delay in response.
Yes, you are correct. For more clarification please refer to this article: [What is Databricks Delta or Delta Lake?](https://www.element61.be/competence/databricks-delta)

Hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly

[2021-03-18 06:31] #72089 closed

[2021-03-18 07:17] bhicks329 commented on #72116
Thanks for coming back to me. The bit was missing here was the largely undocumented InterfaceEndpoint feature that appears in all the route tables as documented here - https://journeyofthegeek.com/2020/09/10/interesting-behaviors-with-private-endpoints-new.

From a pure networking perspective the diagram doesn't make much sense ..
![image](https://user-images.githubusercontent.com/21193823/1115867

[2021-03-18 07:26] KrishnaG-MSFT commented on #72177
@jordanmills I believe you have unintentionally closed this issue. Hence re-opening it.
Assigning content owner @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-03-18 07:34] yoelhor commented on #72335
Dear @shaima-MS,

Thanks for the feedback. I'm updating the article with the relevant information. The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

Yoel

[2021-03-18 07:39] JelmerBarhorst commented on #70507
Any update?

[2021-03-18 07:44] v-lyivan commented on #72291
@SwathiDhanwada-MSFT Thank you very much for your reply!

Is this the reason why it's showing most(all) of the packet count as port 0?
![image](https://user-images.githubusercontent.com/71321833/111590078-94cd8e00-87bd-11eb-9d62-aa1e84082935.png)

From [here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics#multi-dimensional-metrics)

[2021-03-18 07:52] KrishnaG-MSFT commented on #72203
@positivism1 Verified and updated the document as required. Thanks.

[2021-03-18 07:52] #72203 closed

[2021-03-18 07:52] KrishnaG-MSFT commented on #72204
@trentis Verified and updated the document as required. Thanks.

[2021-03-18 07:52] #72204 closed

[2021-03-18 08:00] ggailey777 commented on #71628
Thanks @v-anvari for reporting this issue and @MayankBargali-MSFT and @pragnagopa for tracking it down to a product issue. Please use the linked issue to track the product fix. ⭐

[2021-03-18 08:05] ram-msft commented on #72132
Thanks for the feedback, Please follow the Use authentication credential secrets during training on compute clusters: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-secrets-in-runs

You can use ManagedIdentityCredential when inferencing on AKS vms, along with a credential wrapper class like the one described here: https://github.com/Azure/azure-sdk-for-python/issues/8557. This

[2021-03-18 08:20] yanivlavi commented on #72330
I checked and I believe it does match. Not sure what the issue is.

[2021-03-18 08:26] ram-msft commented on #72137
@wukun2015 Thanks We are checking internally on this with the product team.

[2021-03-18 08:29] #72335 closed

[2021-03-18 08:34] AgribotGit commented on #72246
Thanks for your prompt and helpful reply.
When trying use Azure customer service to do image classification, using the python SDK and API etc  ...  The details of keys, end-points, etc are tricky to understand.
I recommend that several clear pictures be added to the instructions.

Also, there might be some other problem with the python code snippets. Could you as Patrick to try to figure out why t

[2021-03-18 08:36] AjayKumar-MSFT commented on #72095
@azav, Apologies for the delay! From your other thread(s) on this document/screenshot (72096 and 72097), could you please confirm if you're on the right project or if you're using the sample project or your own project. Kindly do share a screenshot on this.

Entitlements are added to an app via the Entitlements.plist file. This file is included in Xamarin.iOS projects by default but may be missing

[2021-03-18 08:38] SubhashVasarapu-MSFT commented on #72313
@mberges2121ms, you need to download that retired documentation from the site which has the content.

![image](https://user-images.githubusercontent.com/44890829/111596401-20154680-87f3-11eb-8935-d78721744903.png)

HTTP status Codes,
![image](https://user-images.githubusercontent.com/44890829/111596343-12f85780-87f3-11eb-90d5-e814b977311a.png)

[2021-03-18 08:54] ravindraaditya commented on #35934
@FrankHu-MSFT any workaround available?

[2021-03-18 09:01] CharlPels commented on #71848
Thanks for the feedback however I do not think you give a solution
Service tags are nice and work well in some cases however not in this one because the service tag you refer to would be AzureMonitor and that has the following note
This tag has a dependency on the AzureFrontDoor.Frontend and Storage tag.
https://docs.microsoft.com/nl-nl/azure/virtual-network/service-tags-overview#available-service

[2021-03-18 09:02] AjayKumar-MSFT commented on #72096
Apologies for the delay! Thanks again for your feedback.

Xamarin.Azure.NotificationHubs.iOS is the official package:
https://www.nuget.org/packages/Xamarin.Azure.NotificationHubs.iOS/
![image](https://user-images.githubusercontent.com/44606227/111598265-0d9c0c80-87f5-11eb-9f4a-886f37da92a2.png)

We have separate tutorials for both the platforms.
![image](https://user-images.githubusercontent.com/

[2021-03-18 09:02] #72096 closed

[2021-03-18 09:03] davidbarrowsatasos opened #72355 "az disk list returning empty array"
[Enter feedback here]

please see:  https://github.com/Azure/azure-cli/issues/4532

a user commenting on that page says "the CLI returned an empty list 15 minutes after disk creation".

The tutorial here [ https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv ], in the section "Back up a persistent volume", tells the user to issue the command "az disk list".  But the command returns an

[2021-03-18 09:20] filippopovic commented on #72353
@mila411, @azaricstefan is owning this part of doc. I can't find "assign to" option

[2021-03-18 09:21] amanmcse commented on #72348
@zroxlol Make sure that you have enabled Creation of App Passwords using via MFA Service Settings.

1. Go to https://account.activedirectory.windowsazure.com/UserManagement/MfaSettings.aspx
2. Sign in with Global Admin account.
3. Make sure "Allow users to create app passwords to sign in to non-browser apps" option is selected, as shown below:

![image](https://user-images.githubusercontent.com/33

[2021-03-18 09:31] namtazpro opened #72356 "doc update. 16 Units now available"
Update messaging units options: The article mentions "You can purchase 1, 2, 4 or 8 messaging units for each Service Bus Premium namespace". 16 messaging units is also available. As per options available in the UI dropdown and this article https://docs.microsoft.com/en-us/azure/service-bus-messaging/automate-update-messaging-units#scale-based-on-a-metric

---
#### Document Details

⚠ *Do not edit

[2021-03-18 09:35] irishun opened #72357 "Container not found in the Azure portal of Container Registry"
Hi there,
I am using the sub-assessment command to retrieve the vulnerability scanning results and found there is a container in scanning results that cannot be found in the Azure portal of Container Registry.

What in my mind is that perhaps the image was created and scanned, but later also removed from ACR.
Does Azure Security Center maintain the scanning results even after an image is deleted?

[2021-03-18 09:36] MattNamaste opened #72358 "Good article, but how do you implement an approval step if you are an enterprise that doesn't use Mailchimp, but hasn't yet migrated to o365? I note that the Teams connectors are in Preview which seems to rule them out"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616cbf28-e4c7-a539-911c-8c601031831a
* Version Independent ID: cad3d887-b65e-b2e0-a6b6-49e6cdb9e108
* Content: [Build approval-based automated workflows - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/tutorial-process-mailing-lis

[2021-03-18 09:48] SubhashVasarapu-MSFT commented on #69393
@monojit18, Hope you are doing good! I want to extend my sincerest apologies for this delay. For a TLS/SSL certificate to be trusted, the backend server certificate must be issued by a CA that's included in the trusted store of Application Gateway. If the certificate wasn't issued by a trusted CA (for example, a self-signed certificate was used), users should upload the issuer's certificate to App

[2021-03-18 09:53] jkovacev commented on #54462
This is really needed so we can know based on logs from which Zones are CDN requests being made. Any news on when can we expect this list to be made ?

[2021-03-18 09:54] mila411 commented on #72353
@CHEEKATLAPRADEEP-MSFT  Like @filippopovic , I can't see "assign to" option, can you assign @azaricstefan instead of me?

[2021-03-18 10:01] samueljamkhandi-MSFT commented on #72294
@TravisCragg-MSFT - we further digged into this and were able to figure out how to enable SSE+CMK for existing VMSS using PowerShell. I'll submit a PR to update this in the document now.

Following is a simple script if you want to do it the simple way:

#set variables
$vmssname = "name of the vmss"
$diskencryptionsetname = "name of the diskencryptionset already created"
$vmssrgname = "vmss resour

[2021-03-18 10:08] HarshitaSingh-MSFT commented on #72355
Hello @davidbarrowsatasos , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-18 10:13] ShaneOsborne opened #72361 "Wrong DataFrame name in example"
Data frame in section 'Read data into a DataFrame' is called df_device_info

In next section 'Run anomaly detection using Cognitive Services on Spark' the same data frame is called df_signals

df_device_info should be renamed to df_signals

Shane

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8888eb52-22ad-0507-4d5b-8e

[2021-03-18 10:13] SwathiDhanwada-MSFT commented on #72352
@star286 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-18 10:23] sonic1981 commented on #51006
I love MSs use of Github. A question is asked, someone posts some incorrect information obviously trying to meet some kinds of response metric, then the OP says this is wrong, then someone posts some vaguely related docs then the issue is shut.... and no one is any the wiser as to the solution to the problem. This pattern is repeated all over the Azure git hubs pages.

[2021-03-18 10:24] matejskubic opened #72362 "JsonConvert support for XmlNode"
Is it possible to add support for `Newtonsoft.Json.JsonConvert.SerializeXmlNode` and `Newtonsoft.Json.JsonConvert.DeserializeXNode`.

APIM is used a lot to send back and forth JSON and XML. There are scenarios where front-end format is different than back-end. I know that Lquid templates can be used but there is no option to create _generic_ template like _JsonConvert_.

---
#### Document Details

[2021-03-18 10:52] SadiqhAhmed-MSFT commented on #72145
@michalchecinski Appreciate your patience in this matter. I tried running the docs script, and it ran seamlessly. Would like to see how you're using it. Please share more details.

[2021-03-18 10:58] BhargaviAnnadevara-MSFT commented on #72120
@SlokaTech-Git Hope the above inputs help. Are there any further questions here?

[2021-03-18 10:58] BhargaviAnnadevara-MSFT commented on #72121
@SlokaTech-Git Hope the above inputs help. Are there any further questions here?

[2021-03-18 11:05] #72207 closed

[2021-03-18 11:09] phifa commented on #39322
thats sad

[2021-03-18 11:20] azaricstefan commented on #72353
Hi @mila411 are you using Az.Storage module with version 3.4.0?

[2021-03-18 11:25] SwathiDhanwada-MSFT commented on #72310
@jonbprogramming  Can you elaborate your issue , I have tried to deploy app service using below bicep and it deployed successfully.

[code]

Also , which example were you referring that there is missing apostrophe?

[2021-03-18 11:27] piyushgupta12 opened #72363 "Wrong Usage Query"
[Enter feedback here]

In following query, either change BillableDataGB  to BillableDataMb or divide by 1000

Usage
| where TimeGenerated > ago(32d)
| where StartTime >= startofday(ago(31d)) and EndTime < startofday(now())
| where IsBillable == true
| summarize BillableDataGB = sum(Quantity) by Solution, DataType
| sort by Solution asc, DataType asc
---
#### Document Details

⚠ *Do not edit this s

[2021-03-18 11:39] mila411 commented on #72353
@azaricstefan Yes, it is. I did this with Azure CloudShell. Then I did the version check as specified in the documentation and it returned 3.4.0.

[2021-03-18 11:39] jun110 opened #72364 "Supporting version of Snapshot Debbuger is wrong."
[Enter feedback here]
I found that the supported versions are wrong.
![image](https://user-images.githubusercontent.com/25476639/111620077-9c2a8100-8829-11eb-80f7-2211a1d53f75.png)

I don't think that Snapshot Debbuger supports .NET Core 2.0 and ASP .NET Core 2.0 .
Supported version is .NET Core 2.1 and 3.0 .
Please confirm it.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-03-18 11:39] GitaraniSharma-MSFT commented on #71863
Thank you for the updates @asudbring . When you say "the API page still 404's to that link so that will have to be fixed on the other end" who will they be? Do we need to reach out to someone to get the link fixed?

[2021-03-18 11:41] jun110 commented on #72364
Sorry, I took mistake.

The correct information is here

[2021-03-18 11:48] KrishnaG-MSFT commented on #72363
@piyushgupta12 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-18 11:50] KrishnaG-MSFT commented on #72364
@jun110 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-18 11:53] VirtualJasonC commented on #35923
Hi @kromerm and @KranthiPakala-MSFT
Is this thread really closed?  Our security policy requires the use of private endpoints (which prevents the use of public IR in Azure), and also prohibits the use use of "preview" features such as Managed VNET.  Is there any other solution to get ADF data flows working, either with self-hosted IR or some other method?

[2021-03-18 11:57] alexboata commented on #72326
@CHEEKATLAPRADEEP-MSFT the document is https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-restrict-outbound-traffic

[2021-03-18 11:58] roopasd opened #72365 "Can transactional replication used to replicate data between azure single database instance on same server?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86961aa1-9131-414d-ef79-2b6f0a132baa
* Version Independent ID: eee9536e-1b43-41eb-12c5-15fd16186127
* Content: [Azure SQL Server replication to Azure SQL Database - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/replicat

[2021-03-18 11:59] allanlw commented on #72235
Actually it would seem that having both of those is insufficient to access the resource, which is unexpected. 'Microsoft.Consumption/*/read' and 'Microsoft.CostManagement/*/read' works though.

[2021-03-18 12:02] alexboata commented on #72326
Also opened https://docs.microsoft.com/en-us/answers/questions/320665/outbound-proxy-to-hdinsight-management.html
What is the Stack Overflow Microsoft page?

[2021-03-18 12:03] alexboata commented on #72326
This is not a document feedback request. I need product support for Azure HDInsight in this scenario.

[2021-03-18 12:13] filippopovic commented on #72305
thank you, i sent PR

[2021-03-18 12:32] azaricstefan commented on #72353
As I can see from the screenshot you executed Add-AzStorageAccountNetworkRule with the 'resourceGroups' inside $resourceId somehow.
![image](https://user-images.githubusercontent.com/9116773/111626149-f3126500-87ed-11eb-83ce-167703c435b5.png)

Try removing the network rule with  Remove-AzStorageAccountNetworkRule or by deleting it in the Azure Portal UI (Storage account/Networking) and then going

[2021-03-18 12:53] moafzalmulla opened #72368 "Javascript to Node"
Hi there,

I am a JS dev, that was tasked with a  **react - azure data lake** auth task, and was  sent the link to your documentation.

To sum it up I had issues. Which makes your documentation look bad, when its not.

I really suggest you rename **Javascript** to **Node** in the side menu of the documentation.
Like its done in [Stripe](https://stripe.com/docs/billing/subscriptions/checkout) docum

[2021-03-18 12:54] AnuragSharma-MSFT commented on #72365
@roopasd Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-18 12:58] t-leblanc commented on #72230
@SadiqhAhmed-MSFT , thank you for this extensive list. I would like to inform the system admins when there is a ASR new agent version available so they can plan installation. So, I guess it's not really an error but an informational event. Can can also be queried through a certain event id?

[2021-03-18 12:59] OlveJA commented on #25560
The case isn't about guests @neeleshray , I don't know why you keep bringing it up.

If a user does not have an admin role assigned, and "Restrict access to Azure AD administration portal" is enabled, users will not be able to access and administer enterprise applications when they are assigned as owners of the app.
Nor is possible with a custom role, even when scoping to specific applications.

T

[2021-03-18 13:09] MayankBargali-MSFT commented on #72356
@namtazpro Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-03-18 13:11] pvickrey opened #72369 "Out of date screenshots"
The screenshots are for a old version of the page, please update with new screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-e536-eb0830918b2e
* Version Independent ID: 49be1539-737b-8874-eca6-1cdbc5263d73
* Content: [Change your two-factor verification method and settings - Azure Active Dir

[2021-03-18 13:12] #72356 closed

[2021-03-18 13:15] DEberhardt commented on #66824
Think I found another one:
`MCOPROFESSIONAL` seems to be missing

[2021-03-18 13:16] ticoncei commented on #72159
Thank you very much for the swift action team!

Kind Regards,

Tiago Conceição

Support Engineer
Cloud Identity POD Support
Customer Services and Support

Office: +351 (21) 0602164 X2164

***@***.******@***.***>

Working hours: 09h to 18h

[cid:9e01404c-392d-4076-ab93-50ee118d6d73]

Team Manager | Tiago Simões ***@***.******@***.***>) +351 (21) 0491316

If you have any feedback about my work, plea

[2021-03-18 13:16] cshea15 opened #72370 "Adding Gov Licenses"
[Enter feedback here]
Can we add the M365 Gov licenses that are needed for WVD as well under the Requirements section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desktop? - Azure](

[2021-03-18 13:21] SnehaAgrawal-MSFT commented on #68374
#assign:snagraw

[2021-03-18 13:21] PRMerger10 commented on #68374
snagraw is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-03-18 13:22] SnehaAgrawal-MSFT commented on #68374
#assign:SnehaAgrawal-MSFT

[2021-03-18 13:25] SnehaAgrawal-MSFT commented on #68374
#unassign:SnehaAgrawal-MSFT

[2021-03-18 13:28] MayankBargali-MSFT commented on #72362
@matejskubic MicrosoftDocs Github issue is mainly related to the document issue. Please feel free to raise a [feature request on UserVoice](https://feedback.azure.com/forums/248703-api-management) to support this, if this is something that you would want to see in APIM.

Unfortunately, Newtonsoft.Json.JsonConvert.SerializeXmlNode and Newtonsoft.Json.JsonConvert.DeserializeXNode are not supported .

[2021-03-18 13:28] #72362 closed

[2021-03-18 13:33] ram-msft commented on #72132
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-18 13:33] #72132 closed

[2021-03-18 13:39] SnehaAgrawal-MSFT commented on #72280
@star286 Further looking at the Pricing calculator link this 730 hours can be changed by clicking there, you will see scroll tab will appear.
![image](https://user-images.githubusercontent.com/46553948/111635366-6e3f3f80-881d-11eb-8558-ba3ccb80d704.png)

[2021-03-18 13:41] dh2003 opened #72371 ""commandtoexecute must use protectedsettings for secrets""
There are no description or examples of how to use this test correctly as far as i understand.
Could be nice with with an example

Thank you
Dan Hansen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09b0964f-2681-1293-5370-7e2cb03a2935
* Version Independent ID: 751c977d-2ab5-c304-155c-8caeac141645
* Content: [Test case

[2021-03-18 13:51] akshaymatmicrosoft commented on #71936
@GitaraniSharma-MSFT : Please add below bullet under **"Troubleshooting scenario"** section as agreed with @sumeetmittal

- Access to Managed Storage Accounts stopped working after applying a Service Endpoint Policy over the subnet
   - Managed Storage Accounts are not supported with service endpoint policies. If configured, policies will deny access to all Managed Storage Accounts, by default. If

[2021-03-18 13:58] zaalion opened #72373 "Need a simulated Modbus device as a message source"
[Enter feedback here]
Hello,

Can you suggest any simulated modbus device which I can use in this tutorial? I need some incoming messages to test thie Modbus TCP Module.

Thanks,
Rez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cf39c04-42da-c7a8-4367-7eec34528d1e
* Version Independent ID: a0b54432-40db-bbc0-354c-0b9

[2021-03-18 14:27] tflorio commented on #71482
@VikasPullagura-MSFT  -
Sorry I didnt see your reply right away.  In re your question, I need clarity on what the features are that would be lost if you are using a Server + CAL licensing + Software Assurance to license SQL Server on an Azure VM.

I also would need some clarity- can you use this to license SQL Server Managed Instances as well?

[2021-03-18 14:35] emerrf opened #72375 "Improve content with an example from the provided reference"
Improve content of the page with the example available in the following link:
 https://cloudarchitected.com/2020/01/using-azure-ad-with-the-azure-databricks-api/

Thanks Alexandre Gattiker for the amazing post! He works for Microsoft.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088dd54c-b5ef-2e6d-1fe7-8035bdec6ba5
*

[2021-03-18 14:37] mila411 commented on #72353
Oh,  this is exactly what I have been doing. So I removed the network rule as you pointed out and re-run it, and it worked!
![ps_stdout](https://user-images.githubusercontent.com/47683731/111642189-39dd7a80-8841-11eb-85e4-fbc85a33d4e7.png)

Only 3.4.0 returned. As for Az.Synapse, 0.8.0 seemed to be preinstalled, but I tried it with 0.7.0 and 0.8.0, and both worked!

Thank you for your help! I'm so

[2021-03-18 14:37] #72353 closed

[2021-03-18 14:37] Glaubscher opened #72376 "Suggested update to routing information."
[Enter feedback here]

Make it clear that the telemetry filter is case sensitive and needs to match on the payload case, not your model case.
caused a lot of frustration to figure out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7fd4eb-3cbb-f1da-7d6f-d39018cd4697
* Version Independent ID: a7519ee3-e125-378c-8fb7-7

[2021-03-18 14:40] SaurabhSharma-MSFT commented on #72375
@emerrf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-18 14:40] gujarnilesh opened #72377 "Suggestion on the page"
[While following the steps, using portal AZ Cli,

the command below failed to create a image

az image create --resource-group "XXX" --name "XXX" --source "XXX"

Reason
In our case, the default location in my case had quota issue, the error on portal CLI was misleading and we added the location to the command, can this be added in the tip, to ensure
if users attempting to create image should ensur

[2021-03-18 14:43] tfitzmac commented on #71781
There is no update required for this article.
#please-close

[2021-03-18 14:43] #71781 closed

[2021-03-18 14:44] shashishailaj commented on #72357
@irishun Thank you for your query . We will investigate and update the thread .

[2021-03-18 14:48] JamesTran-MSFT commented on #72369
@pvickrey
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-18 14:49] cmmdesai commented on #72069
@chanduravuri12 The Workday to AD / Workday to Azure AD user provisioning app does not sync passwords. When creating accounts, a random strong password is generated. You will need to set up an out of band process to reset the password and communicate it to the new user.

[2021-03-18 14:51] azaricstefan commented on #72353
I'm glad that you configured it finally. 😄
You are welcome @mila411! 👍

[2021-03-18 15:06] Satya-Panigrahy-Volvo opened #72379 "'sid' description is missing from the document for v2.0 token. There is also 'appid' coming in v2.0 token"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/ac

[2021-03-18 15:16] MonikaReddy-MSFT commented on #72377
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-18 15:18] MonikaReddy-MSFT commented on #72296
@Jared975 - At this moment since there is no doc update, we are going ahead to close the issue.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-18 15:18] BillmanH opened #72380 "Doc requires you to select Blobs but no such button exists."
Possibly this article is out of date? There is no selectable item called blobs. The doc specifically says _select Storage accounts, select the storage account that you used earlier, and then select Blobs._  Where is the correct place to look for those logs?

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB+4AAAEaCAYAAAA/oX4aAAAWpmlDQ1BJQ0MgUHJvZmlsZQAAWIWVWAdUVM2S7juRGWZIQ85DGHLOOeecBREYc

[2021-03-18 15:19] #72067 closed

[2021-03-18 15:19] BillmanH commented on #72380
@FergusKidd

[2021-03-18 15:21] MonikaReddy-MSFT commented on #72244
@NillsF - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-03-18 15:23] MonikaReddy-MSFT commented on #72198
@ktleach - I hope the above response on Standard DS3 V2 answered your question.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-18 15:23] #72198 closed

[2021-03-18 15:30] SumanthMarigowda commented on #72064
@billspat Apologies for the delay! The PR has been initiated necessary changes will take place very soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-18 15:30] #72064 closed

[2021-03-18 15:33] brsteel opened #72381 "New FAQ request"
Please add a question:
Can I assign a Custom Role to a Group?

Answer:
No, only Built-in Roles are allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e34556d-8bf3-7e01-1906-a455dfd93d6f
* Version Independent ID: b9c0bfea-3aaa-b91e-0acc-15f27dfa3127
* Content: [Troubleshooting roles assigned to cloud group FAQ - A

[2021-03-18 15:35] totopopov commented on #47781
Well you can get the outbound IP by connecting to the container and executing _curl ifconfig.me_ . However the fact that the IP address can change from time to time is kind of bad.

[2021-03-18 15:41] MonikaReddy-MSFT commented on #71321
@michalhoppe  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-03-18 15:41] SumanthMarigowda commented on #72090
@tsrob50 Apologies for the delay! The PR request has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-18 15:42] MonikaReddy-MSFT commented on #70107
@marcelkmfst - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-03-18 15:44] MonikaReddy-MSFT commented on #70113
@marcelkmfst - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-03-18 15:44] mattiasholm commented on #49186
I'd like to clarify to anyone who's implementing the above solution that the 1 year expiration for an Azure AD service principal is in fact just a default value, meaning it can easily be overridden during creation, should you feel the need to.

Simply append "--years <int>" to the "az ad sp create-for-rbac" command.
Although the official documentation lacks this information, I've verified that the

[2021-03-18 15:55] JamesTran-MSFT commented on #72379
@Satya-Panigrahy-Volvo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 15:55] davidsmatlak commented on #72371
#assign:davidsmatlak

[2021-03-18 15:56] MarileeTurscak-MSFT commented on #72380
@BillmanH
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 15:56] MarileeTurscak-MSFT commented on #72381
@brsteel
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 15:59] davidsmatlak commented on #72371
@dh2003 thank you for the documentation feedback. I'll research this issue and update the documentation.

[2021-03-18 16:02] SumanthMarigowda commented on #72166
@bertrandpons You can provide SAS and Manage access policies from Azure Storage explorer
For other Share level  or file level permissions over SMB can be done through portal, PowerShell ,CLI or more
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-assign-permissions
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it

[2021-03-18 16:02] #72166 closed

[2021-03-18 16:11] hpsin commented on #72379
Hi @Satya-Panigrahy-Volvo - can you validate that this is a v2 token, not a token from the v2 endpoint? Check the ver claim in the token.

sid is an optional claim, documented here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

[2021-03-18 16:14] magrefaat commented on #71912
updated es-mx availability for prebuilt entities

[2021-03-18 16:18] mikemorrison111 opened #72384 "Install Microsoft Remote Desktop on a Chromebook"
[Enter feedback here]
RE: Install Microsoft Remote Desktop on a Chromebook from
https://docs.microsoft.com/en-us/azure/lab-services/connect-virtual-machine-chromebook-remote-desktop#install-microsoft-remote-desktop-on-a-chromebook

I have an admin at a larger school district this is not able to find the "Remote Desktop" app in his store.
"I think they took this down from the store. I was looking f

[2021-03-18 16:19] KrishnaG-MSFT commented on #72371
@davidsmatlak Thanks for the super quick response. 👍

[2021-03-18 16:26] GitaraniSharma-MSFT commented on #72140
@karlochacon , as mentioned in the [Prerequisites](https://docs.microsoft.com/en-us/azure/firewall-manager/secure-hybrid-network#prerequisites) section,

To route the spoke subnet traffic through the hub firewall, you need a User Defined route (UDR) that points to the firewall with the Virtual network gateway route propagation setting disabled. This option prevents route distribution to the spoke

[2021-03-18 16:29] jlichwa commented on #51006
@sonic1981 this is not correct, but if you post question to Key Vault about Kusto and Data Explorer it can happen, how Key Vault team can know details about it. So it is more about asking questions to the right team.
Did you try proposed solution? The library retrieves token and you have example in document I attached how to pass token to Kusto.

[2021-03-18 16:34] JamesTran-MSFT commented on #72257
@ewahner
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous post? Since the What If Tool,  is currently only available for your AzureAD tenant, I'll go ahead and close this out at the end of the day pending any questions from your end.

Thank you for your time and patience throughout this issue.

[2021-03-18 16:49] ericdboyd commented on #68262
@maertendMSFT that resolved the issue. Is this a temporary workaround and will the Cloud Shell behavior go back to the way it was before regarding the certificate verification, or is this going to be the way going forward?

[2021-03-18 16:50] JagVeerappan commented on #72349
@fusyd We are sorry about the confusion and the bug is fixed. I hope you are able to see the correct prices. Thanks,

[2021-03-18 16:50] rolyon commented on #69971
Hi @Gassela
We've been contacting individual teams. We've updated updated doc with a few more roles.
thanks

[2021-03-18 16:56] rolyon commented on #70688
Hi @DeanGross
Thanks for your feedback. If you can clarify more what you'd like to see in this article, please add to this issue. I will close for now.
thanks

[2021-03-18 16:56] rolyon commented on #70688
#please-close

[2021-03-18 16:56] #70688 closed

[2021-03-18 17:04] AndrejsSo opened #72386 "Non-existing URL in video"
Hi Team,

In video are given 2 URLs, one of them is:
http://aka.ms/hybrid/sso

Actually it is not opening:
**404 - Page not found
Hmm, we couldn't find this link, but here are some related search results that may be helpfu**l.

Thanks
Andrejs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f291181-8b5c-4a94-44e0-67e26d

[2021-03-18 17:04] cachai2 commented on #49298
@craigshoemaker I'll need to investigate

[2021-03-18 17:11] JamesTran-MSFT commented on #72386
@AndrejsSo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 17:21] #60916 closed

[2021-03-18 17:21] #70593 closed

[2021-03-18 17:21] tfitzmac commented on #71625
I have updated the article. The change should get published later today. You need delete access for Microsoft.Resources/subscriptions/resourceGroups and any resources in the resource group.

[2021-03-18 17:21] tfitzmac commented on #71625
#please-close

[2021-03-18 17:22] #71625 closed

[2021-03-18 17:28] YutongTie-MSFT commented on #72361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-18 17:29] hpsin commented on #38427
Good call - we usually think about this in terms of clients getting access tokens, and resources validating those access tokens, with no control over how the access token was requested (e.g. they're often requested from v1, even if you're running a v2 resource).

However, we could indeed fix this with an ID token issuer optional claim, or a new issuer for metadata.

Would you prefer to leave code

[2021-03-18 17:29] PeterCLu commented on #71691
@jpmlblog, thanks for your report. I'm investigating this issue with the product team.

[2021-03-18 17:29] NavtejSaini-MSFT commented on #72149
@dcblakesley Please let us know if you need any further help with this.

[2021-03-18 17:30] BharathNimmala-MSFT commented on #71848
Thanks a lot @CharlPels for taking time to share your additional feedback. I am taking this feedback with our internal team and will share any learnings we might have on this.

[2021-03-18 17:34] JamesTran-MSFT commented on #72386
@AndrejsSo
Thank you for pointing this out! I wasn't able to find the URL you mentioned within the video, are you able to share the timestamp where you see - http://aka.ms/hybrid/sso

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-03-18 17:42] rothja commented on #69135
@MaraSteiu Mara, this is a git issue feedback from @13daysaweek. It is on the [SQL Data Sync](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database) article. So if you look at the top of this issue, you can see their suggestion. You can decide whether we should implement any changes now or whether we take this into consideration for the future. Reach

[2021-03-18 17:43] rothja commented on #69135
Oh, and if you are not the right person, @MaraSteiu , let me know and I'll reassign it to the correct person to look into the suggestion. Thanks!

[2021-03-18 17:44] jofrance commented on #72334
Issue 1 is valid there's a typo that needs to be fixed.

Issue 2 is not an actual issue, the command is added to iterate on multiple md devices and to keep consistency with other cycles and outputs on the doc, I added a note to clarify this.

[2021-03-18 17:46] wcneumann219 opened #72388 "Wrong redirect URL?"
I believe the article's sample URL of https://myapps.azure.com is incorrect. Shouldn't it be:

https://myapps.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial for bulk inviting B2B collab

[2021-03-18 17:50] CloudCrusader opened #72389 "text correction"
in the last line of code to copy there is $[local variable name], but this should be $remote
this would be confusing for people who don't know PowerShell very well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdbb009-ef13-5e6c-d206-6d86418cd270
* Version Independent ID: 8684030a-20a7-33ba-9b94-2acf37d613c6
* Conten

[2021-03-18 17:52] leodeoz opened #72390 "Multiple Disck Script issue"
Multiple disks script says "$diskconfig.add( )", which should be "$diskconfig += "
Thanks,
Leo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06cf2081-3683-d4fa-b248-2dd7092055da
* Version Independent ID: 581a240a-2402-59a2-6d2a-0503c70cb8c6
* Content: [Replicate Azure VMs running in Proximity Placement Groups - Azure

[2021-03-18 17:56] deshriva commented on #72169
@mabushaireh With HDI4.0, Sqoop component version is 1.5.0. Version will be correctly reflected in the cluster with our next release, meanwhile you might see 1.5.2 but it is still 1.5.0.
I will update the doc to say 1.5.0.

[2021-03-18 17:58] DerekHerman-MSFT commented on #72358
@MattNamaste Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-18 17:58] JamesTran-MSFT commented on #72388
@wcneumann219
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 18:00] wtnlee commented on #72389
Updated. will be updated in our next publishing cycle. thx

[2021-03-18 18:08] KranthiPakala-MSFT commented on #72169
@deshriva Thanks much for confirming and fixing the doc.

@mabushaireh The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you

[2021-03-18 18:08] #72169 closed

[2021-03-18 18:09] DerekHerman-MSFT commented on #72368
@moafzalmulla Can you please share the url to the article you are referring to?

[2021-03-18 18:15] SubhashVasarapu-MSFT commented on #72389
@CloudCrusader, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-18 18:15] #72389 closed

[2021-03-18 18:19] kobulloc-MSFT commented on #72384
@mikemorrison111 Thank you for reaching out to us!  I've put together a list of apps below from different stores.  Let me know if you have an issue with any of them.

**GooglePlay Store**
Microsoft Remote Desktop: https://play.google.com/store/apps/details?id=com.microsoft.rdc.androidx
_(Remote Desktop 8 is the older release, last updated in October of 2020)_

**Microsoft Store**
Microsoft Remote

[2021-03-18 18:20] BharathNimmala-MSFT commented on #72390
@leodeoz Thank you for your feedback, we will review and get back to you at the earliest.

[2021-03-18 18:20] IanMercer opened #72392 "If Cosmos doesn't support the full Gremlin API this page should make that clear"
According to the feedback page and other forums support for Gremlin is only *partial*:

https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33632779-support-gremlin-bytecode-to-enable-the-fluent-api

This page should state that up-front so as not to cause people to head down the Azure-Cosmos-Gremlin path only to find it doesn't work 100%. A large yellow warning box on the page nex

[2021-03-18 18:23] GitaraniSharma-MSFT commented on #72200
@GavinJin8 , if I understand correctly, your customer's CDN setup did not have the Custom domain mapped to their CDN endpoint and the CNAME record entry contained the cdnverify subdomain and post 1 year validity of the certificate, the auto renewal failed. Is that correct?
If yes, may I know what exact information DigiCert provided you?

[2021-03-18 18:30] GitaraniSharma-MSFT commented on #71863
@asudbring , do we need to assign this issue to someone else. Awaiting your response. Thank you!

[2021-03-18 18:33] asudbring commented on #71863
I've been assigning all of these when I can to the PM, as I don't have the information to fix any of them.

@amitsriva is the PM I have been assigning them to.

[2021-03-18 18:37] GitaraniSharma-MSFT commented on #71863
@asudbring , In that case, should we assign it to CDN PG? They should be aware of who owns the link.

[2021-03-18 18:39] asudbring commented on #71863
On ones that I can't fix myself, I've been sending over to @amitsriva, the PM for CDN.

[2021-03-18 18:41] paulbatum opened #72393 "Code snippet for Multiple output bindings does not show definition of the custom type"
The multiple output bindings section explains that the user has to make a custom type, but then the code snippet shows the custom type being used, but not defined. This is a crucial piece because the output binding attributes have to be defined on that custom type. This is the missing part:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-03-18 18:41] SwathiDhanwada-MSFT commented on #72295
@ktatar1209 Kindly elaborate on your feedback on what you meant by mismatch?

[2021-03-18 18:42] SwathiDhanwada-MSFT commented on #72291
@v-lyivan Yes , you are right. Do you have any further questions ?

[2021-03-18 18:45] SaiKishor-MSFT commented on #40132
Our team is currently investigating this issue actively. I will post any updates regarding the same. Appreciate your patience in the meanwhile. Thank you!

[2021-03-18 18:52] elqu20 commented on #72258
Article updates have been made.

[2021-03-18 18:55] dkutetsky commented on #30551
To successfully connect to SFTP from ADF you need to have the keys generated in PKCS#1 format, so the private key should be started from the:
``` -----BEGIN RSA PRIVATE KEY-----```
and not from
``` -----BEGIN OPENSSH PRIVATE KEY-----```

By default, ssh-keygen generates the keys in the new PKCS#8 format, to generate this in old pem/PKCS#1 format, use `-m PEM` argument:
```ssh-keygen -t rsa -b 4096

[2021-03-18 18:56] brettsam commented on #53467
It sounds like the suggestion by @qfyra is to add a comment like:

[code]

I think this is valid.

I think that the bigger concern (and should be tackled simultaneously) is to change the constructor to take an `IHttpClientFactory` rather than the client directly. Then, use `factory.CreateClient()` to set it, rather than having the `HttpClient` passed in directly, which can lead to trouble.

[2021-03-18 18:57] barshow commented on #38427
@hpsin this is a good question, I would think a new issuer would have the most flexibility in the case that an app maybe uses multiple oidc libraries, web vs phone etc.  Thank you for even considering this!

[2021-03-18 18:59] D3athByMonkey opened #72394 "Incorrect Requirements Listed"
The OC application is not listed as a requirement which causes the shell to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed9fdfd-06c2-3df3-d13d-65565a3fe8e9
* Version Independent ID: 8ee7ab79-4d0f-a441-aeb3-b84b459618ad
* Content: [Configure Azure Red Hat OpenShift v4.x with Container insights - Azure Monitor]

[2021-03-18 19:00] SatishBoddu-MSFT commented on #72376
@Glaubscher
I have assigned the issue to our SME for further review.

[2021-03-18 19:03] adbadram commented on #71482
Hey @tflorio wit AHB you get features such as HA/DR benefits which you wont be able to get via Server +CAL, Please check here for more information https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/business-continuity-high-availability-disaster-recovery-hadr-overview#free-dr-replica-in-azure

[2021-03-18 19:03] jasonhorner commented on #72346
FWIW,  I would also ensure you link to this article from the updated documentation:
https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage?tabs=event-grid-event-schema
However it looks like ADF is either changing the event payload or this documentation too is slightly out of date.

the key to getting the information out of the trigger appears to be  to use the @triggerBody().e

[2021-03-18 19:06] jasonhorner commented on #72346
I can't leave a new feedback issue but my suggestion would be to expose a new event system property called Event from the triggerbody() object directly so you could reference triggerbody().Event from the trigger to get the entire payload as a first class object in ADF / synapse

[2021-03-18 19:07] SatishBoddu-MSFT commented on #72373
Hello @zaalion Thanks for showing your interest in Azure IoT-Edge via this documentation/Tutorial.

We would like to request you to submit a separate post on the [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/questions/topics/single/25493.html). Please use a tag. Community champions and SMEs will be responding to your query soon on that forum.

https://docs.microsoft.com/en-us/answ

[2021-03-18 19:09] SadiqhAhmed-MSFT commented on #72219
@Brucius Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-03-18 19:14] hpsin commented on #38427
That makes sense - it's a run-time decision tightly coupled to the code, not the app registration.  I'll get some other folks to give some input. Thank you for the idea and helping tease out the distinctions here.

[2021-03-18 19:21] brettsam commented on #54683
The peek-lock pattern already happens automatically for QueueTriggers, but I don't see any official documentation on this anywhere. The way it works:
1. Messages are dequeued with `GetMessage`, which pulls the message and marks it as invisible with a timeout (a part of the Storage service).
2. Function starts with the message.

If function is successful:

3. Function completes and the message is d

[2021-03-18 19:21] ChaitanyaNaykodi-MSFT commented on #72393
Thank you @paulbatum, we have assigned this issue to doc-author for further review and approval.

[2021-03-18 19:38] picardsrcd opened #72397 "Rewrite is incorrect"
[Enter feedback here]
Please update the example from
`nginx.ingress.kubernetes.io/rewrite-target: /$2`
to
`nginx.ingress.kubernetes.io/rewrite-target: /$1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use y

[2021-03-18 19:39] Oury-MSFT commented on #72365
@roopasd Transactional Replication is at database level so it can be used between two databases irrespective if they are on the same server or not. Having said that Transactional Replication **is not available on Azure SQL DB**, **only available on Azure SQL MI**.

[2021-03-18 19:42] ju-shim commented on #59353
@vermagit is this something you can fix on your own now that you have access to the public repo? Please respond and I can close this issue. Thank you!

[2021-03-18 19:43] roopasd commented on #72365
Thank you for clarifications. This answered my query.

On Fri, 19 Mar 2021, 01:09 Oury-MSFT, ***@***.***> wrote:

[2021-03-18 19:46] ju-shim commented on #60499
Hello, I looked into this quick start and we refreshed it some time after you submitted this issue. It is up to date and there have been recent releases surrounding Orchestration Modes. Here is a link to the Orchestration Modes preview:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes

In the coming months, you will see a number of up

[2021-03-18 19:46] #60499 closed

[2021-03-18 19:49] vermagit commented on #59353
Seeing that this is >1 year old request, it appears that the left tree pane is fully populated now. I'd suggest closing this.

[2021-03-18 19:49] #59353 closed

[2021-03-18 19:50] MonikaReddy-MSFT commented on #72397
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-18 19:52] maertendMSFT commented on #68262
This is just a temporary fix.  This issue was due to a change in an upstream dependency, the cmdlets will be fixed in the future.  Leaving this issue open until that point.

[2021-03-18 19:54] ekpgh commented on #72255
Thanks for the comment, I updated the article with the new information. (Still hoping to come up with a software fix, though.)

[2021-03-18 19:54] ju-shim commented on #61019
@Karishma-Tiwari-MSFT

I am looking into this. The change should be added into the doc mentioned, just not sure of the exact method/location yet. Thank you for your assistance.

[2021-03-18 19:55] tfitzmac commented on #71902
@olivelawn - were you able to fix the issue? If so, are there any documentation changes that would have helped with your issue?

[2021-03-18 20:02] garthoid opened #72399 "Error from server (Forbidden): pods is forbidden"
Following the steps on this page I have hit a problem. I do not have priv to view nodes, pods pretty much anything.
Here is what I did:
1. Create an Azure AD group
2. Created a resource group
3. Created an Azure AD enabled AKS Cluster assigning the AD Group created in 1 above and placed it in the resource created in 2.
4. Updated my local kubeconfig file by get-credentials for the resource group a

[2021-03-18 20:05] zengin opened #72400 "The link is broken for setting up the Authenticator app"
https://account.activedirectory.windowsazure.com/proofup.aspx?proofup=1 link in Step 1 of **Set up the Microsoft Authenticator app to send notifications** section is resulting in an error page. I couldn't set up the Authenticator app following the steps there because of that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-18 20:10] JamesTran-MSFT commented on #72400
@zengin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 20:21] asudbring commented on #71299
Change verbiage to match image.  Will investigate adding the asked for explanations to article.

#please-close

[2021-03-18 20:21] #71299 closed

[2021-03-18 20:22] asudbring commented on #72201
Send to PM for review:

#reassign:@anavinahar

[2021-03-18 20:23] dpomBF opened #72401 "Can't Get Phone Number for B2C User"
Hi, This document says that you can manage phone numbers in B2C ([see here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-operations#user-phone-number-management-beta)).
I followed the link to [here](https://docs.microsoft.com/en-us/graph/api/phoneauthenticationmethod-get?view=graph-rest-beta&tabs=http).
However, when I called the API "https://graph.microsoft.com/beta

[2021-03-18 20:29] bmedlin opened #72402 "Log retention undefined"
Azure Functions should provide clear documentation on how to manage log retention. This is a common requirement of enterprise projects. Is Log Analytics continuous export the only option? Do we need to consider App Insights sampling? Are the files also written to the function's storage account? If so - is there a cleanup / rollover policy?

---
#### Document Details

⚠ *Do not edit this section. I

[2021-03-18 20:33] JamesTran-MSFT commented on #72257
@ewahner
Thank you for the quick response!

I'll go ahead and close out this thread, but feel free to share your User Voice item here so others looking to implement this feature can easily vote on it as well.

[2021-03-18 20:33] #72257 closed

[2021-03-18 20:41] hfulks opened #72404 "Watermark table doesn't update"
The customer and project tables update accurately, but the watermark values aren't changing from the project setup values.
Attempted multiple data changes and resetting the data back to original values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Version Independent ID: 4002e01

[2021-03-18 20:42] TravisCragg-MSFT commented on #72221
@VictorDC92 I looked through the doc, and you are correct! It is strange that this is not listed.

The commands you listed above enable [managed identities](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity) for your AKS cluster. This will allow an azure managed service principal designed specifically for your AKS cluster to make changes & create resources within Azure. There will be

[2021-03-18 20:45] TravisCragg-MSFT commented on #72294
@samueljamkhandi-MSFT Thanks! By posting it here, the doc author will be able to see it and review it. Thank you.

[2021-03-18 20:52] Oury-MSFT commented on #72365
Thank you @roopasd for your quick response . We are glad that was helpful. As I mentioned above , In transactional replication Azure SQL DB can never be a publisher so the scenario of replication between 2 Azure SQL DB is not possible. If you need transactional replication you should choose Azure SQL managed instance.

[2021-03-18 20:57] davidsmatlak commented on #71045
Hi @cynthn. Can you respond to the customer's questions about subscription limits for the number of VMs and VM cores? Thanks.

[2021-03-18 21:01] cynthn commented on #71045
@davidsmatlak I think this needs to go back to engineering for them to clarify. @mimckitt

[2021-03-18 21:03] mimckitt commented on #71045
These are just the default limits. So if you want to create VMs and require more than 20 cores, you need to request them. This is prevent Fraud subscriptions from opening new subscriptions and spinning up thousands of cores.

When you open a subscription, you get 20 cores. If you want to use more, you request them via support ticket.

[2021-03-18 21:07] zroxlol commented on #72348
Hi amanmcse, thanks for the quick response!
I've just logged in and checked to find that unfortunately that option is already enabled, is there another location I could check that could be preventing me from creating an app password for the account?

Kind regards

[2021-03-18 21:12] zroxlol commented on #72348
Oh, brilliant. I've just reset/removed all MFA devices/methods and re-added them, now it has the app-password option when adding new method!
I'm not sure exactly what changed or if reset/re-add did the trick but I've got what I wanted from now!
Thanks team :)

[2021-03-18 21:12] #72348 closed

[2021-03-18 21:13] husamhilal commented on #61019
Maybe add popup note mentioning that "reader" permissions is required for the account running to enable disk encryption over the key vault. Add that before the section "Set up a key encryption key (KEK)". @Karishma-Tiwari-MSFT whenever you are available feel free to reach out to me internally on Teams if you have questions, happy to help :)

[2021-03-18 21:17] SaurabhSharma-MSFT commented on #72404
@hfulks Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-18 21:24] v-jheichman opened #72407 "Error: (9082) The CosmosDb key is in a wrong format"
2 questions:

1. Which CosmosDB key should be copied to the Key Vault?
CosmosDB has 4 set of keys
- Primary and secondary for Read-write keys
- Primary and Secondary keys for Read-only keys

The 3rd step under the Account key section lists
"Copy your key and save it somewhere for the next steps"

2. The 6th step under Account key  may need clarification:
"Select + Generate/Import and enter the Nam

[2021-03-18 21:30] olivelawn commented on #71902
I was only able to fix the issue with the help of Azure's backend support. The request went through a few different teams but it was the network team that was able to fix. It took approximately a week to figure it out. All that was mentioned by the engineer, was that a "sync operation" was performed on the backend. Afterwards, I was able to delete the RG exactly as I had attempted previously.

[2021-03-18 21:31] irenehua commented on #59071
#please-close

[2021-03-18 21:31] #59071 closed

[2021-03-18 21:31] BharathNimmala-MSFT commented on #72394
@D3athByMonkey Thank you for bringing this to our notice, apologies for your experience. We will review the feedback with our internal team and update the document as needed.

[2021-03-18 21:36] YutongTie-MSFT commented on #72246
@AgribotGit Thanks for the confirmation. But that sample is not in this repo so I have no access to fix it. I can help update this document. @PatrickFarley will take care of the code sample in Azure Sample repo.

Thank you again.

[2021-03-18 21:36] djpmsft commented on #72333
If there are no additional questions, I will go ahead and close this issue. Feel free to re-open and continue asking questions in the chat.

Thanks,
Daniel

[2021-03-18 21:37] msmimart commented on #56244
#please-close

[2021-03-18 21:37] #56244 closed

[2021-03-18 21:46] #64688 closed

[2021-03-18 21:50] anavinahar commented on #72201
Yes @ToruMakabe, we will update this to make it clear.

[2021-03-18 21:50] #72090 closed

[2021-03-18 22:03] mhopkins-msft commented on #71130
Hi @star286,

Thanks for reporting this. I have discussed this with the feature team and was told that this behavior is by design. The **Access Tier Change Time** is a blob property, which is in a separate set of properties from the storage account properties. It would be prohibitively expensive to change this property on every object in a storage account every time the default account tier is cha

[2021-03-18 22:03] #71130 closed

[2021-03-18 22:04] epa095 commented on #72132
Soo, should I be able to use 'credentials = DefaultAzureCredential()' to get authenticated as the system assigned managed identity or not on a AML commute cluster (not AKS)?

[2021-03-18 22:05] davidsmatlak commented on #71045
@cynthn and @mimckitt thanks for your responses. I'll update the documentation.

[2021-03-18 22:15] AdamSharif-MSFT commented on #72003
Thanks James!

[2021-03-18 22:21] Oury-MSFT commented on #72392
@IanMercer We are looking into this. We will get back to you shortly

[2021-03-18 22:31] DSPatrick opened #72409 "bad forum link"
[Enter feedback here]
forum link goes to locked technet forums, should go to QnA https://docs.microsoft.com/en-us/answers/topics/microsoft-authenticator.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46313f6-ce23-85a7-19c3-21152a3cc401
* Version Independent ID: 6c09429c-4de0-3bbe-41bc-b0c41ed333bc
* Content: [Que

[2021-03-18 22:41] ChaitanyaNaykodi-MSFT commented on #72158
Hello @Tiberriver256, apologies for the delay. The required information is [documented here  ](https://docs.microsoft.com/en-us/azure/api-management/set-edit-policies#configure-scope)
[code]

Please let me know if there are any additional concerns. Thank you!

[2021-03-18 22:54] ToruMakabe commented on #72201
@anavinahar Thanks! Please close after the fix.

[2021-03-18 23:02] JamesTran-MSFT commented on #72409
@DSPatrick
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-18 23:15] davidsmatlak commented on #71045
I submitted the fix for this issue and when it's merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-03-18 23:41] kobulloc-MSFT commented on #72384
@mikemorrison111 That first link should be what they need and the others may help depending on what they want to use.  If you run into any issues, let us know and we'll get that sorted out.  For now we are going to close this as resolved but just tag me in your reply if you want to continue the conversation.

[2021-03-18 23:41] #72384 closed

[2021-03-18 23:53] #64807 closed

[2021-03-18 23:54] anavinahar commented on #72201
Should be live shortly.

#please-close

[2021-03-18 23:54] #72201 closed

[2021-03-18 23:59] Oury-MSFT commented on #72392
@IanMercer Thank you for your feedback. We have already documented this limitation of Gremlin [here](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-limits).
@christopheranderson Is there a way to link this [document](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-limits) to the main document.?

[2021-03-19 00:01] #71045 closed

[2021-03-19 00:11] ChaitanyaNaykodi-MSFT commented on #70415
Hello @jonocarnie, apologies for the delay. I could not replicate the issue faced and after a deliberation within the team it was decided that it will be very helpful if you could please raise this issue on the [Azure-function-core-tools repo](https://github.com/Azure/azure-functions-core-tools/issues) with appropriate reproducing steps so that the team can determine if the issue faced should be i

[2021-03-19 00:11] #70415 closed

[2021-03-19 00:39] duongthaiha opened #72414 "Sample file does not include sample-service."
Hi The documentation mentioned sample-service folder however it is missed out from the zip file https://github.com/Azure-Samples/azure-iot-samples-ios/archive/master.zip. It will be great if someone can have a look.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6bc4fa-3dde-5d65-82a2-f96da962bc16
* Version Independen

[2021-03-19 00:44] bwren commented on #72177
The method to get to solutions has changed as solutions are steadily being replaced with insights. I'll do an update here though to identify the new method.

#please-close

[2021-03-19 00:44] #72177 closed

[2021-03-19 00:54] bwren commented on #30838
Cleaning up some old issues. This article has actually been replaced.

#please-close

[2021-03-19 00:54] #30838 closed

[2021-03-19 00:54] djpmsft commented on #72407
#assign @viseshag

[2021-03-19 01:16] brendanzagaeski commented on #69816
Great catch! I've submitted an update for review to fix this. Thanks for reporting it!

[2021-03-19 01:17] brendanzagaeski commented on #69819
Also a great catch! I've submitted an update for review to fix this too. Thanks for reporting it!

[2021-03-19 01:19] bwren commented on #48833
Cleaning up some old issues here. I just added a short section to this article pointing out the download.

#please-close

[2021-03-19 01:19] #48833 closed

[2021-03-19 01:21] star286 commented on #72280
@SnehaAgrawal-MSFT , thanks for your reply. I know we can change it to 120 hours manually in pricing calculator.

But as per the[ pricing details page](https://azure.microsoft.com/en-us/pricing/details/app-service/windows/), it still shows the monthly cost is $9.49/month(here, it must use 760hours instead of 120hours. if its 120hours, the monthly cost should be $1.56), here is the screenshot:

![p

[2021-03-19 01:25] ftai10 opened #72415 "Can not complete quick start of Live Video Analytics"
[Enter feedback here]

I try to quick start of Live Video Analytics as below link.

https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/get-started-detect-motion-emit-events-quickstart

I did those steps several times. But I could not complete all time.

All time error happens at "Invoke GraphTopologyList" step, returning 500 status code.
The response is below

[code]
F

[2021-03-19 01:25] BharathNimmala-MSFT commented on #72081
@Klaas- Thank you for taking time to share additional feedback on this. I have shared the feedback to our document authoring team and we will have a backlog item to enhance the document rather than just the small note.

We will refer this thread as we work on the backlog item to enhance the document. We will go ahead and close this issue for now, however if you have any further feedback on the doc

[2021-03-19 01:25] #72081 closed

[2021-03-19 01:57] lgayhardt commented on #46961
Closing this issue for now since an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1701423) has already been created and added to our backlog. Will update this thread when the work is completed. Thank you for your patience.

#please-close

[2021-03-19 01:57] #46961 closed

[2021-03-19 02:07] Andriy-dev opened #72418 "NVA BGP Peering with Route Server across VNET peering"
Looking to check if BGP Peering between NVA and RS across VNET peering is supported ? In my scenario bgp connection constantly dropped and re-established.

[ VNET1 ---NVA1] ---- [VNET2---RS--NVA0]

NVA0 can establish BGP with both ips of RS, but NVA1 , constantly dropped the connection.

NVA1

Neighbor        V           AS MsgRcvd MsgSent   TblVer  InQ OutQ Up/Down  State/PfxRcd
10.0.1.4        4

[2021-03-19 02:25] #69816 closed

[2021-03-19 02:25] #69819 closed

[2021-03-19 02:26] likebupt commented on #70106
@marciomocellin  Hi, could you please share your scenario? Do you want to have real-time inference, or just rerun the pipeline, or do batch inference?
Also love to have a call to learn more about your feedback.
Please contact keli19@microsoft.com

[2021-03-19 02:49] SubhashVasarapu-MSFT commented on #72418
@Andriy-dev, Thanks for reaching out. We will investigate and update this thread.

[2021-03-19 02:51] DerekHerman-MSFT commented on #72370
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-19 03:06] Li-Yanzhi opened #72420 "No "register as a shared device" option in Microsoft Authenticator App on Android"
In section "Authenticator app settings & registering the device in the cloud",  there is no No "register as a shared device" option in latest version of Microsoft Authenticator App on Android.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db69ded4-f558-58c7-f037-c78a9ef710f4
* Version Independent ID: 16f0383c-939b-de6

[2021-03-19 03:10] CHEEKATLAPRADEEP-MSFT commented on #72407
@v-jheichman  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-19 03:29] Satya-Panigrahy-Volvo commented on #72379
Hi @hpsin Here is the token I got from v2.0 endpoint. this was for a client credential flow. the end point is
https://login.microsoftonline.com/<tenant>/oauth2/v2.0/token

"iss": "https://sts.windows.net/<tid>/",
  "iat": 1616083185,
  "nbf": 1616083185,
  "exp": 1616087085,
  "aio": "",
  "appid": "",
  "appidacr": "1",
  "idp": "https://sts.windows.net/<tid>/",
  "idtyp": "app",
  "oid": "",
  "

[2021-03-19 03:30] #72326 closed

[2021-03-19 03:33] hpsin commented on #72379
Yep, that's a v1 token, so this is expected. Thanks!

[2021-03-19 03:42] Satya-Panigrahy-Volvo commented on #72379
So it's like I am using a v2.0 endpoint(not v2) and getting an access token of version 1? If you see the endpoint, it is to get version 2 access token. because If I see the endpoints, there is a subtle different in endpoints
**https://login.microsoftonline.com//oauth2/v2.0/token** is for version 2
**https://login.microsoftonline.com//oauth2/v2/token** for version 1
 Just curious to know what excac

[2021-03-19 03:44] fabiocav commented on #53467
Yes, the comment is a nice-to-have and it's not a hard deviation from the guidance as that applies to when you're  handling the construction and lifetime.

The issue pointed out by @brettsam on the other hand is a serious bug, that would lead to potential sporadic failures.

@kashimiz tagging you here as this is a good candidate for an analyzer. A function class should *never* take an `HttpClient`

[2021-03-19 03:45] hpsin commented on #72379
APIs determine which access token version they get, using the accessTokenAcceptedVersion attribute.  The version one URL there is not correct - there is no "vx" in the v1 endpoint.

Microsoft identity platform access tokens - Microsoft identity platform | Microsoft Docs<https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#what-app-is-a-token-for>

From: Satya-Panigrahy-Vol

[2021-03-19 03:48] DavidMwihuri01 commented on #56244
#please-close

[2021-03-19 03:49] BryanTrach-MSFT commented on #72415
@ftai10 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-19 03:52] olitomlinson opened #72422 "Update description for durableTask/useLegacyPartitionManagement"
The docs currently say the default is `true` for `useLegacyPartitionManagement`

I believe as of 2.4.1(?) this default was changed to `false` so maybe the description should be changed to reflect this new default, and make the ‘legacy’ default be a caveat?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9

[2021-03-19 03:59] ram-msft commented on #71912
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-19 03:59] #71912 closed

[2021-03-19 04:05] savjani commented on #71348
@AnuragSharma-MSFT - Would you be able to help close this thread?. thanks !!!

[2021-03-19 04:07] AnuragSharma-MSFT commented on #71348
@chriscopemorgan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@savjani

[2021-03-19 04:07] #71348 closed

[2021-03-19 04:16] AshokPeddakotla-MSFT commented on #72414
@duongthaiha Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-19 04:25] SaiKishor-MSFT commented on #72210
@ManasaDevadas You would create CNAME record for multisite. I am assigning this issue to the author to further investigate this. Thank you!

[2021-03-19 04:25] ssivas commented on #72069
@cmmdesai , Hope above information helps. #please-close

[2021-03-19 04:26] #72069 closed

[2021-03-19 05:00] MayankBargali-MSFT commented on #72402
@bmedlin Thank you for your feedback! We will review and update as appropriate.

[2021-03-19 05:01] MayankBargali-MSFT commented on #72422
@olitomlinson Thank you for your feedback! We will review and update as appropriate.

[2021-03-19 05:04] vipulsparsh commented on #72357
@irishun ASC does not show vulnerability for the deleted resources now. This issue was fixed last month. If the results are coming and the resources is not found, this will need internal investigation to  verify the state of resource.

As a next step, please open a support case with us. Support personal will help you further on this.

[2021-03-19 05:06] vipulsparsh commented on #71717
@DeanGross Closing for now, please send the screenshot to proceed.

[2021-03-19 05:06] #71717 closed

[2021-03-19 05:06] rswetnam opened #72423 "Page way to big and impossible to figure out"
This page is really unhelpful and way to big.  Every year I purchase a pfx certificate from Commodo, upload it to Azure.  It works - I get a nice green check box saying that my certificate was successfully uploaded.  Then what?

I am directed to this page which is put together like one of the most complicated contraptions that Rube Goldberg could dream of.  It tries to answer everything and it ans

[2021-03-19 05:06] karlochacon commented on #72140
yes please close the ticket thanks
*--------------------------------*

On Thu, Mar 18, 2021 at 10:26 AM Gitarani Sharma ***@***.***>
wrote:

[2021-03-19 05:25] HarshitaSingh-MSFT commented on #72289
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-03-19 05:31] github832040 opened #72424 "Some Azure AD roles scope can be "Administrative Unit" in addition to tenant level"
Hi,

In the page https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles, under the section "Differences between Azure roles and Azure AD roles", in the third row, under the "Azure AD roles" column, it seems the accurate value for the cell should be "scope is at tenant/Administrative Unit level".

This makes sense as some Azure AD roles (e.g. User Administra

[2021-03-19 05:47] VikasPullagura-MSFT commented on #72338
@ToddBowman I checked with internal team on this.

Yes, you can use a NAT gateway on the AKS subnet and it works fine if you create and attach the gateway before the cluster deployment.
Be aware when using API Server Authorized IP Ranges your NAT Gateway IP must be whitelisted too.
No, you cannot use the outbound type flag to prevent the public outbound IP from being created today. This is in prod

[2021-03-19 06:05] AjayKumar-MSFT commented on #72095
azav, We will close this thread for now, if you have any questions, please just let us know.

[2021-03-19 06:05] #72095 closed

[2021-03-19 06:34] SwathiDhanwada-MSFT commented on #72352
@star286  Queries saved in "My Queries" section is only visible and accessible only to you and Queries saved in "Saved Queries" section can be accessible by other users who has access to Application Insights.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-19 06:34] #72352 closed

[2021-03-19 06:39] Eneuman commented on #72289
Thank you :)
We can close this issue

[2021-03-19 06:44] vipulsparsh commented on #72235
@allanlw  Checked in my lab, I can see what are you trying to convey. I will report this internally.

[2021-03-19 06:48] GitaraniSharma-MSFT commented on #72140
Thank you for the update @karlochacon .
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-19 06:48] #72140 closed

[2021-03-19 06:53] sscchh2001 opened #72425 "Can we list the request limitation in the document?"
My customer have 50+ subscriptions and hit request limitation easily when accessing policy pages in Azure portal.
Can we add the request limitation information in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f27a5e9-2bf3-ebbe-7586-affaf9d27635
* Version Independent ID: fc9217a0-9a24-1d36-4f68-e5f1029d5

[2021-03-19 06:56] w3bStuff commented on #33817
The documentation has also been updated: [App Service CORS vs. your CORS](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#app-service-cors-vs-your-cors)

[2021-03-19 07:03] #72289 closed

[2021-03-19 07:03] ggailey777 commented on #72323
reassign:ggailey777

[2021-03-19 07:04] HarshitaSingh-MSFT commented on #72289
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-19 07:06] ggailey777 commented on #72323
Thanks @jeremyVignelles for catching this!

[2021-03-19 07:06] GitaraniSharma-MSFT commented on #71863
Thank you for the update @asudbring.

@amitsriva , request you to help us get the below link fixed as it gives 404 currently.
https://docs.microsoft.com/en-us/rest/api/cdn/edgenodes

[2021-03-19 07:17] roopasd commented on #72365
Thank you for Clarification,
I was looking at the options to take incremental back of Sql Database
single instance (not MI) to another Sal db single instance  in same sever .
The primary back up is completed, now we need to take incremental back up.
I understood as per your explanation, replication cannot be used for single
instance or atleast as publisher.

On Fri, 19 Mar 2021, 02:22 Oury-MSFT, *

[2021-03-19 07:30] mikaelsand opened #72426 "How do I reimport"
It seems we have a case of the new validation policies not working.
We are using the portal but there is no effect. It might be down to something in this article:

How do I go about this?
1. How can I know which API-version was used to import?
2. How do I reimport the APIs using the correct API-version.
3. Why is not the portal using the correct version?
4. Why is not the VS Conde extension using

[2021-03-19 07:44] JozefMelichar opened #72427 "Problem with EventHubClient.createFromConnectionString(connStr.toString()"
Hello,

I'm experiencing below error when trying to run the script: SendTweetsToEventHub from https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-stream-from-eventhubs:

        _command-2682908066933071:19: error: value createFromConnectionString is not a member of object com.microsoft.azure.eventhubs.EventHubClient
        val eventHubClient = EventHubClient.createFromConnecti

[2021-03-19 07:45] alexboata commented on #72326
Why is this closed?

[2021-03-19 07:51] alexboata commented on #72326
My problem remains please reopen the issue.

[2021-03-19 07:52] alexboata opened #72428 "My issue was closed without being solved. Please reopen it."
Outbound proxy to HDInsight management #72326

[2021-03-19 07:53] alexboata commented on #72428
Please give me an ETA when the issue will be reopened and an ETA for a solution.

[2021-03-19 07:59] shashishailaj commented on #72401
@dpomBF Thank you for your query . We will investigate and update the thread .

[2021-03-19 08:00] SatishBoddu-MSFT commented on #72164
Hello @zaalion
Just checking back! Please let us know if you need further help.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

Please let us know if we are good to close this issue.

[2021-03-19 08:01] lgayhardt commented on #69133
@jhodgsonuk Sorry for the delay. Thank you for pointing this out, I will make a PR to update the screenshots and add connection string. It should go live later today.

#please-close

[2021-03-19 08:01] #69133 closed

[2021-03-19 08:01] shashishailaj commented on #72420
@Li-Yanzhi Thank you for your feedback . We will investigate and update the thread.

[2021-03-19 08:04] ram-msft commented on #72137
Thanks, Currently CogSvc speech container doesn't support IPv6. We have roadmap to support this in near feature.

[2021-03-19 08:05] shashishailaj commented on #72424
@github832040 Thank you for your feedback . We will investigate and update the thread.

[2021-03-19 08:27] ianrandell-sh opened #72429 "Setting names can't include a colon (:)"
The page says "Setting names can't include a colon (:) ..." re local.settings.json

This is surely wrong as I'm currently using a colon in my settings (as advised when using Options pattern) and it works perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent

[2021-03-19 08:30] ianrandell-sh commented on #72429
ah - the next sentence says "... and the colon is reserved to support dependency injection."

makes sense now.

[2021-03-19 08:30] #72429 closed

[2021-03-19 08:33] niTrekker3267 opened #72430 "Azure AD B2C Custom Policy - Sign Up Flow with custom details validation."
Hi,
I would like to create an AD B2C custom policy to meet the following business requirements.
**Business Requirement**
The product sold to customers has a unique product identification number and the customer registers an email Id while buying a product from the dealer. These customer details (product identification number, registered mail Id, and other details) are then stored in the manufactur

[2021-03-19 08:35] Klaas- commented on #72081
One more thing that came up in a support request: the screenshot query will not actually work at all, you need 4 threshold breaks within the query you are using. So if you have a bin_at(15m ...) you will need a period of at least 60 minutes to reach "consecutive breaches greater than 3"

[2021-03-19 08:37] CHEEKATLAPRADEEP-MSFT commented on #72326
@alexboata I had closed the issue, since this issue not related to the document and it's a product question which is better suited on Forums rather than on docs.

[2021-03-19 08:39] CHEEKATLAPRADEEP-MSFT commented on #72428
@alexboata I had closed the issue, since this issue not related to the document and it's a product question which is better suited on forums rather than on docs.

Since you have already opened a question on MS Q&A (https://docs.microsoft.com/en-us/answers/questions/320665/outbound-proxy-to-hdinsight-management.html), you can continue the discuss on the thread.

[2021-03-19 08:39] #72428 closed

[2021-03-19 08:45] PatrikHanssonIntersolia opened #72431 "Add Os to supported versions"
I think https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-overview#supported-versions
should clearly state that only ubuntu is supported as OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124d1b14-660e-d0df-71e5-4eb3bc943288
* Version Independent ID: 3eb3b7fb-644a-bbf1-186d-96bc43d279dc
* Co

[2021-03-19 08:46] CHEEKATLAPRADEEP-MSFT commented on #72427
@JozefMelichar  Thanks for reaching out on this. Just wanted to check if you have tried using `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.14.1` by changing `EventHubClient.create(connStr.toString(), pool)` to `EventHubClient.createFromConnectionString(connStr.toString(), pool)`.

Hope this helps.

[2021-03-19 08:56] ianrandell-sh opened #72432 "Running locally via VS 2019 (via F5) ignores the LocalHttpPort setting in local.settings.config"
The page suggests that using the LocalHttpPort setting in local.settings.config will make the function run on a different port instead of the default 7071.

However, running via F5 in VS 2019 appears to ignore that - it still runs the function on 7071.

Googling turns up this SO post:  https://stackoverflow.com/questions/44976890/how-to-run-azure-function-app-on-a-different-port-in-visual-studio

[2021-03-19 09:11] yoelhor commented on #72401
There is a know issue with getting the phone number that registered via Azure AD B2C user flow, or custom policy. We have added the following note to avoid mistakes:

![image](https://user-images.githubusercontent.com/20111866/111757245-ca4ca700-88a3-11eb-8bd8-dffde36dd4b1.png)

As for now, you can read phone numbers that registered via the Graph API, or when the phone number is enabled via Azure

[2021-03-19 09:15] akashperfect opened #72433 "Private endpoint creation for sites doesnt work says resource not supported"
[Enter feedback here]
When trying to create a private endpoint for website it says resource not supported.
Please see the following image below:

![image](https://user-images.githubusercontent.com/2953096/111757737-a5ffc300-88c1-11eb-8406-8afd5e99af8a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-5e19-57

[2021-03-19 09:17] misterspeedy opened #72434 "Small typo"
I think the phrase "The all data or just..." must include a typo.  Should be "Then all data or just..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e421adc8-1c38-e4e4-16cc-adde039e7ae7
* Version Independent ID: 0c8c84f8-4eb7-ab37-7384-577d18283ccb
* Content: [Common use cases and scenarios for Azure Cosmos DB](http

[2021-03-19 09:22] JozefMelichar commented on #72427
Thank you. That helped. Problem was probably in older library.

I have one more error in ReadTweetsFromEventHub. Could you kindly advise also here?

          command-2682908066933073:10: error: reference to ConnectionStringBuilder is ambiguous;
          it is imported twice in the same scope by
          import com.microsoft.azure.eventhubs._
          and import org.apache.spark.eventhubs._

[2021-03-19 09:36] SwathiDhanwada-MSFT commented on #72431
@PatrikHanssonIntersolia Thanks for reaching out. Supported OS versions are documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/faq#sql-insights-preview). Kindly check it.

[2021-03-19 09:44] mcurko opened #72436 "Description not clear"
Create a Microsoft Azure **Virtual Network** for Azure Database Migration Service by using the Azure Resource Manager deployment model, which provides **site-to-site connectivity** to your on-premises source servers by using either ExpressRoute or VPN.

What does this mean at all? Create a VNET to achieve site-to-site connectivity?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-03-19 09:55] HarshitaSingh-MSFT commented on #72399
Hello @garthoid , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-19 09:56] arnaudceol commented on #41969
I can confirm what has been writen by @Rocketboy235, in the tutorial you need to give permission on objects, in addition to containers, when creating the SAS.

[2021-03-19 10:02] chkrishna2001 commented on #34451
I haven't set any port or websites_port. I am not using custom container also. Just created a linux app service with code option. But I am not able to run my app in azure from last 2 days. This is crazy i am always getting below error

`docker run -d -p 9088:8080 --name dev-entrustody-portfolio-assesment-api_0_4e1d8fbf -e WEBSITE_SITE_NAME=dev-entrustody-portfolio-assesment-api -e WEBSITE_AUTH_ENA

[2021-03-19 10:04] PatrikHanssonIntersolia commented on #72431
I know, but say that you are going to test it...the first thing is probably not to read the FAQ.
I'm not saying it isn't documented...but why not say it on the front page.
I for one didn't catch it until after I had created the profile.

[2021-03-19 10:07] johnmreynolds opened #72437 "Connecting via ssms is very poorly documented"
I'm trying to do what should be a trivial operation, which is to connect to a synapse database with SSMS using a Microsoft account.

However, this doesn't work, and the documentation for this is very unclear and scattered across multiple different documents.

The server itself is definitely correctly configured as I can access it via that account using the web portal. Unfortunately I can't find an

[2021-03-19 10:18] AnuragSharma-MSFT commented on #72434
@misterspeedy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-19 10:19] AnuragSharma-MSFT commented on #72436
@mcurko Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-19 10:20] m-gug opened #72438 "IP's used for health checks"
In the HTTPLogs i'm seeing a private IP used for the health checks. Is there a more detailed information regarding the origin of the health check requests?
I'm asking because we are filtering the access based on the user agent and i would like to include the IP as an additional filter criteria.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-19 10:38] jokarl opened #72439 "IoT Edge device as downstream device information is incoherent"
In the documents introductory text, the following is stated:

Then later in the section about [Transparent gateways](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway?view=iotedge-2018-06#transparent-gateways):

Which one is true?

Not related to the question above, but we have pattern where edge devices belong to one hub and downstream devices belong to another. `n` number of do

[2021-03-19 10:56] ram-msft commented on #72137
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-19 10:56] #72137 closed

[2021-03-19 10:57] ChrisAtMAF commented on #64807
Hi,
I see this case has been 'closed' - but there's still no 'Can I make guest objects visible in the global address list?' information under 'Manage guest access in Microsoft 365 Groups.' ????

[2021-03-19 10:58] ChrisAtMAF opened #72440 "Wrong reference in "Can I make guest objects visible in the global address list?"
Ref #64807 which was closed without actually being fixed.

The section 'Can I make guest users visible in the Exchange Global Address List?' states 'For details, see Can I make guest objects visible in the global address list? in Manage guest access in Microsoft 365 Groups.'

But 'https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-guest-access-in-groups?view=o365-worldwide'

[2021-03-19 11:05] ssivas commented on #72420
@Li-Yanzhi , I have tried installing latest version of Authenticator app (6.2102.1274) but was unable to repro the issue as I could see **Register as shared device** option under **work or school account**. See below screenshot for your reference.

Could you please share app version which you are using? Thanks.

![version](https://user-images.githubusercontent.com/57458999/111770868-f894ab80-88d0-

[2021-03-19 11:16] SwathiDhanwada-MSFT commented on #72425
@sscchh2001 Thanks for your feedback.

Assigning to content author @DCtheGeek for review.

[2021-03-19 11:21] AnuragSharma-MSFT commented on #72283
@meteor8shower Thanks for pointing it out. I observed the similar behavior. I am assigning it to the content author to evaluate and update it accordingly.

[2021-03-19 11:25] MelissaW990 commented on #69380
@sethmanheim yes the source code in the sample works but it does not match the documentation at all. The sample hasn't been updated in 2 years and still uses the FirebaseMessenging Service which is no longer necessary.

[2021-03-19 11:25] CHEEKATLAPRADEEP-MSFT commented on #72437
@johnmreynolds Thanks for bringing this to our attention.

To connect synapse SQL pool via SSMS:

**Step1:** Go to Azure Portal => Synapse Workspace => Overview => Copy Dedicated SQL endpoint :synapseworkspacename.sql.azuresynapse.net

![image](https://user-images.githubusercontent.com/79183421/111772799-48747200-88d3-11eb-8046-e496430302c3.png)

**Step2:** Open SSMS => Connect to database engine

[2021-03-19 11:40] nrapopor opened #72441 "Usability for AKS"
[Enter feedback here]
Very useful for turning the nodes for use of ELK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 380f1a40-3494-7d98-216d-9fd1cd624314
* Version Independent ID: 2ac3f4f8-0bf3-68a7-cb78-ff9a252ecd8b
* Content: [Customize the node configuration for Azure Kubernetes Service (AKS) node pools (preview) -

[2021-03-19 11:52] HarshitaSingh-MSFT commented on #72399
@garthoid , can you please verify your membership to the group? There have been issues in the past about lag in the addition of users to the group.

[2021-03-19 11:59] v-jheichman commented on #72237
Good morning, We are nearing the end of our pilot, and it's important that we are able to delete data out of the assets. This post indicates I can't delete using the UI but there is a way to do it through an API. Does anyone have more information on that API?

https://feedback.azure.com/forums/932437-azure-purview/suggestions/42103249-delete-assets-and-items-from-the-catalog-using-the

[2021-03-19 11:59] the-grayest opened #72442 "Missing important steps in guide"
Team,

After step no.4, in the 'Permanently deleting soft deleted backup items' section, should be a step to Disable Soft Delete in vault properties (temporary maybe). Otherwise, guide leads to exact same backup status, which indicated that backup item protected for another 14 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-03-19 11:59] AjayKumar-MSFT commented on #72429
Thanks for leveraging Azure docs feedback channel! Yes, that is correct - In this case, the colon is reserved to support dependency injection. Much appreciate the follow-up on this.

[2021-03-19 11:59] BhargaviAnnadevara-MSFT commented on #72120
@SlokaTech-Git We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-19 11:59] #72120 closed

[2021-03-19 12:00] BhargaviAnnadevara-MSFT commented on #72121
@SlokaTech-Git We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-19 12:00] #72121 closed

[2021-03-19 12:11] GitaraniSharma-MSFT commented on #72433
@akashperfect , thank you for your feedback. We are currently reviewing this feedback and will get back to you shortly!

[2021-03-19 12:18] v-jheichman commented on #72333
No additional questions. Thank you for your help.

[2021-03-19 12:18] #72333 closed

[2021-03-19 12:23] #72433 closed

[2021-03-19 12:23] spudcz opened #72443 "Inconsistent naming of git branch names"
Either rename branch name in source github repository from master to main (https://github.com/azure-samples/dotnetcore-sqldb-tutorial) or update Bash commands on current page to work with master branch instead of main branch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version

[2021-03-19 12:28] marcino239 opened #72444 "Additional way how to login into acr with helm 3.0"
Loging into acr without using service principal account and password

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-2643722bd186
* Content: [Store Helm charts - Azure Container Registry](https://docs.microsoft.com/en-us/azure

[2021-03-19 12:28] pascal-hauser opened #72445 "Missing Content about Path Mappings"
The section 'Which settings are swapped?' doesn't mention 'Path mappings' (e.g. to mount Azure File shared into a container). Path mappings are currently swapped. As I understand this - unfortunately - cannot be configured. Maybe you'd like to extend the documentation about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-03-19 12:29] rarandiv opened #72446 "Recommendation to add warning and the best practice in note section of the document"
We have seen many cases where the PostgreSQL single server stuck in the recovery for long duration. And if it’s stuck in a recovery state, then we can’t do much to expedite the situation as the recovery process of the server is a single thread operation and sometimes it may take very long time to recover.
In such cases, the customer either just needs to wait or restore a server. (again post-restor

[2021-03-19 12:33] danmana commented on #20104
Actually, I've recently noticed that this doesn't happen for Chrome (at least not always)... sometimes it doesn't send any `accept` header :(

This makes it impossible to catch these cases without accidentally overriding assets.

I don't have any solution for this yet.

It's sad that the static website feature doesn't support SPAs 100% :(

[2021-03-19 12:39] Tiberriver256 commented on #72158
Ah, that's exactly what I was hunting for. I didn't expect it to be half-way down a walkthrough of the portal policy UI though. Might I suggest moving that little section about scopes to this page?

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-policies

[2021-03-19 12:40] AjayKumar-MSFT commented on #72423
@rswetnam, Thanks for taking time to share your valuable feedback on this Azure doc! Firstly, we apologies for any frustration with this.

Just to highlight, the doc aims to outline step-step instructions on how to create, upload, or import a private certificate or a public certificate into App Service., and once the certificate is added, it links to the associated doc on how to secure custom DNS

[2021-03-19 12:45] marciomocellin commented on #70106
Now it's too late. I solved it in another way.

[2021-03-19 12:45] #70106 closed

[2021-03-19 12:46] moafzalmulla commented on #72368
This one:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-javascript

On Thu, Mar 18, 2021 at 6:09 PM DerekHerman-MSFT ***@***.***>
wrote:

[2021-03-19 13:10] AjayKumar-MSFT commented on #72438
@m-gug,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-19 13:32] AjayKumar-MSFT commented on #72443
@spudcz, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-19 13:32] azaricstefan commented on #72437
@johnmreynolds can you share the error that you are getting and the steps that you took?

[2021-03-19 13:35] NavtejSaini-MSFT commented on #72446
@rarandiv We are checking this and will get back to you.

[2021-03-19 13:41] PramodValavala-MSFT commented on #72426
@mikaelsand Thanks for the question! We will review and get back to you!

[2021-03-19 13:43] katz commented on #71758
@hpsin
Unfortunately, the document still says "Indicates the type of user interaction that is required. The only valid values at this time are login, none, and consent."
`select_account` is somehow missing.

![image](https://user-images.githubusercontent.com/32659/111789024-13344800-8904-11eb-9afa-ab547b06696e.png)

[2021-03-19 13:48] rarandiv commented on #71740
Thanks for the confirming @rohitnayakmsft this is by design. Can we add note to the document mentioning the same.

[2021-03-19 13:48] johnmreynolds commented on #72437
I was trying to follow various steps on the multiple pages this is discussed, for instance on:

https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/get-started-ssms

and just got a failed logon message. Turns out the issue was that despite what that document says, connecting to the root of the server to browse the databases doesn't work, and you manually need to specify the database name

[2021-03-19 13:49] xp0522 opened #72447 "I can't figure out why I can't create external table"
I have a csv file on ADLS Gen2 named "stagehadoop". The blob container is called irisdata. Under it I have a data folder and the csv file is located in there. I am using the iris dataset (Id | SepalLengthCm | SepalWidthCm | PetalLengthCm | PetalWidthCm | Species). Below is the query I ran on Ambari:
 DROP TABLE myTable;
CREATE EXTERNAL TABLE myTable (
    t1 int,
    t2 float,
    t3 float,
    t4

[2021-03-19 13:53] irishun commented on #72357
Hi @vipulsparsh Thank you for the reply. As we will migrate to another AML platform, I will record this down and open a ticket if we still see the same there. Have a nice weekend.

[2021-03-19 14:11] SaurabhSharma-MSFT commented on #72447
@xp0522 Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-19 14:15] KrishnaG-MSFT commented on #72442
@the-grayest Thanks for the feedback.
Assigning content owner @v-amallick for visibility, review and document enhancement consideration as appropriate.

[2021-03-19 14:51] shehryar-azam commented on #35934
I was trying to verify the subdomain, after verifying the root domain every thing was fine.

[2021-03-19 14:52] dpomBF commented on #72401
Ok, anyhow this feature is in beta, so I'm not going to use it. Is there a plan for it to move to GA?
In terms of the documentation, will "get" also only return an enabled phone number?

Thank you.

[2021-03-19 15:14] bwren commented on #72431
Ubuntu is the only supported OS for the monitoring VM. In addition to the FAQ, it's listed in the monitoring VM requirements in the onboarding article - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-enable#create-azure-virtual-machine.

[2021-03-19 15:16] soninaren opened #72449 "Add documentation for FUNCTIONS_REQUEST_BODY_SIZE_LIMIT used to configure HttpRequest body size"
We need to document this new setting  in the documentation below once this feature is released.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings

Here is the related feature issue and PR.
Issue: https://github.com/Azure/azure-functions-host/issues/7204
PR: https://github.com/Azure/azure-functions-host/pull/7229/files

---
#### Document Details

⚠ *Do not edit this sect

[2021-03-19 15:21] PatrikHanssonIntersolia commented on #72431
Since I already had VM:s that I wanted to monitor I didn't read the "Create Azure Virtual Machine" part.
I just thought that it should be front and center so people see it early.
I'm not disputing that it isn't documented, just that in my opinion it should be more highlighted.

[2021-03-19 15:25] tslavik commented on #72426
This is really crucial here. I tried to import an api via rest like this ` url: https://${{env.fqdn}}/subscriptions/${{env.subscription}}/resourceGroups/${{env.apirg}}/providers/Microsoft.ApiManagement/service/${{env.apisvc}}/apis/${{env.apiname}}?api-version=2021-01-01-preview
        method: PUT
        payload: ....` but it does not work. When I look at resources.azure.com I see the old version

[2021-03-19 15:27] msmimart commented on #72440
Hi @ChrisAtMAF, thanks for following up. The fix was made so the issue was auto-closed, but the article hadn't quite published yet. It's live now.

[2021-03-19 15:39] rarandiv commented on #71666
Hi @sr-msft just checking if there is any plan to update the document in near future?

[2021-03-19 15:43] becke-ch-s0-v1 opened #72450 "Path Mappings: Mount Storage: Not working with private endpoints for Azure Storage"
Hi, the limitations on this page "https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux" are incomplete because mount storage is not working with private endpoints for Azure Storage.

My Web App is regional VNet integrated (https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration) and accessibl

[2021-03-19 15:48] bandersmsft commented on #64711
@alex-frankel The article was recently updated per your request. There's a new ARM teamplate sample with info about how to deploy using Azure CLI and PowerShell.
#please-close

[2021-03-19 15:48] #64711 closed

[2021-03-19 15:50] #72365 closed

[2021-03-19 15:51] DerekHerman-MSFT commented on #72430
@niTrekker3267 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-19 15:51] #72430 closed

[2021-03-19 15:55] msmimart commented on #72388
Hi @wcneumann219, you're right. We just updated this article to say that if you want to forward the user to the My Apps page, you must change this value to https://myapps.microsoft.com or https://myapplications.microsoft.com. There's also an internal work item to update the template itself. Thanks so much for pointing this out.

[2021-03-19 15:55] bandersmsft commented on #65736
@J0F3 I'm not sure what kind of subscriptions you have. We recently updated the following articles to address your request. See the one that's for your subscription type.

- https://docs.microsoft.com/azure/cost-management-billing/manage/programmatically-create-subscription-microsoft-customer-agreement
- https://docs.microsoft.com/azure/cost-management-billing/manage/programmatically-create-subscr

[2021-03-19 15:55] #65736 closed

[2021-03-19 15:55] DerekHerman-MSFT commented on #72368
@moafzalmulla Thanks for the link. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-19 15:56] azaricstefan commented on #72437
Did you connect to serverless or dedicated endpoint?

[2021-03-19 16:04] #57555 closed

[2021-03-19 16:06] HeidiSteen commented on #71591
@yuki-0310 Sorry for the delayed response. This generated discussion among engineering, and it wasn't clear what the guidance should be.  Those issues are now resolved.  The response you got from the ping (azsntio.southeastasia.cloudapp.azure.com [52.139.243.237]に ping を送信しています 32 バイトのデータ:) is the IP address that you should specify in the inbound rule. There will be a better solution in the near f

[2021-03-19 16:07] ekalyvio opened #72451 "Needs corrections"
This whole page needs to be updated.
1) Creating the VM with _az vm create_ it complaints
`admin user name cannot contain upper case character A-Z, special characters \/"[]:|<>+=;,?*@#()! or start with $ or -`
It needs the `--admin-username azureuser` at the bottom of the command that is missing.

At the Prepare data disks section.
2) The command _sudo parted /dev/sdc --script mklabel gpt mkpart x

[2021-03-19 16:17] VikasPullagura-MSFT commented on #72209
@SnoWolfT Apologies in delayed response.

Lv2 is available in all 3 zones in US East, but when querying availability it is not showing all. Internal team is checking on this. However, you can still deploy to all 3 zones,

UltraSSD [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd?tabs=azure-portal#vms-using-availability-zones) linked in your feedback pr

[2021-03-19 16:17] haymansfield opened #72452 "Is it possible to combine the approach in the article with a separate external egress through a public ip address?"
I have configured the internal ingress as per the instruction but my pods are no longer able to call out externally.

Is it possible to combine the approach in the article with a separate external egress through a public ip address?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-0fb1-f089-3f7ca4fad729
* Ve

[2021-03-19 16:19] sr-msft commented on #71666
@rarandiv I have updated both Flexible and single server docs in the storage limitation section. Thanks again.

[2021-03-19 16:20] paulbatum commented on #72393
Resolved by https://github.com/Azure/azure-functions-dotnet-worker/pull/319

[2021-03-19 16:20] #72393 closed

[2021-03-19 16:23] rarandiv commented on #71666
Thank you very much for the quick updates on those docs @sr-msft

[2021-03-19 16:26] amanmcse commented on #72276
@greendx The 14 days grace period to register for MFA is not configurable as it is predefined for Security Defaults and MFA registration policy configured in Azure AD Identity Protection. The purpose of this time is to allow users to register for MFA as per their convenient time rather than forcing them to register for MFA at next logon.

You can post an idea of making this time configurable at ou

[2021-03-19 16:26] #72276 closed

[2021-03-19 16:26] AzureGuineaPig opened #72453 "Secure Score Showing As Percentage Now, Not Numerical Value"
The secure score no longer shows as a numerical value, but as a percentage.  This documentation needs to be updated with pictures and notes reflective of that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcc3d22-db50-3c7a-a6b8-b9740a34920c
* Version Independent ID: d283a2fc-92fc-ab0e-5a7d-b92248213d2e
* Content: [W

[2021-03-19 16:29] garthoid commented on #72399
@HarshitaSingh-MSFT

I just checked today and confirmed that I am a member of the group associated on the az aks create command line. The User Type in the group is "member". I am also the owner of the group. Under group properties its group type is "security" and membership type is "assigned".

What I find interesting is that there are no "Azure Role Assignments" listed on that tab.

Its bizarre t

[2021-03-19 16:30] vhorne commented on #71807
Article updated
#please-close

[2021-03-19 16:30] #71807 closed

[2021-03-19 16:39] knssub opened #72454 "Please always provide a Diagram for better understanding"
[Enter feedback here]
It will be super useful for readers if you could provide a full visual diagram of each security component , how and where it fits into the overall architecture. All AWS documents are pretty clear on this area, and easy to understand. While, Azure has been pretty good documentation, there is lack of visualization elements for better understanding for readers who are new or may

[2021-03-19 16:39] pidahbus commented on #72264
@mssaperla @KranthiPakala-MSFT Hi. Any update on this?

[2021-03-19 16:44] GitaraniSharma-MSFT commented on #72200
@GavinJin8 , could you please provide an update on the above comment?

[2021-03-19 16:45] doveryai opened #72455 "Incorrect examples"
The syntax suggests that SAS tokens are only required for source URLs, but I can only get az copy to work if I provide a SAS token to both source and destination urls, i.e.

Works:

`azcopy copy 'https://<source-storage-account-name>.blob.core.windows.net/<container-name><source-SAS-token>' 'https://<destination-storage-account-name>.blob.core.windows.net/<container-name><dest-SAS-token> --recursi

[2021-03-19 16:48] abu3lia commented on #72334
Thanks Cheschi :)

[2021-03-19 16:50] normesta commented on #72368
@moafzalmulla - you are right! This is not JavaScript for the browser and our doc should be clear about that. I shall make the change today for the 3 PM publish. Thank you for reporting!

[2021-03-19 16:53] BillmanH commented on #72380
Note that the correct term is actually `container` which contains blobs. However when setting up archive from Azure IoT hub it takes a long time for the two to sync. This causes you to wonder if you didn't set it up correctly.  That wonder in augmented when you see that the instructions don't match the visuals in the experience.

So hanging the doc to say something like "Go to settings>Containers"

[2021-03-19 16:55] normesta commented on #72455
Hi @doveryai . Have you provided AzCopy with authorization credentials by using Azure AD? If so, then you should be able to omit the SAS from the destination URL. The content provides that information in the [Guidelines](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy#guidelines) section of that article. If you don't use Azure AD, then yes, you have to provide a

[2021-03-19 16:56] hpsin commented on #71758
Hm.  @mmacy any idea why the commit above didn't go through?

[2021-03-19 17:00] RyanHill-MSFT commented on #72445
Thank you for the feedback @pascal-hauser, we'll update the doc to include Path Mappings shortly.

[2021-03-19 17:00] NavtejSaini-MSFT commented on #72149
@dcblakesley For now we are going ahead and closing this feedback. Please get back to us if any other question.

[2021-03-19 17:05] spelluru commented on #71339
@ramya-rao-a

Create a separate article for it. I will follow up with a link to the staged article to get your feedback. Thanks.

#please-close

[2021-03-19 17:05] #71339 closed

[2021-03-19 17:05] #72445 closed

[2021-03-19 17:07] RyanHill-MSFT commented on #72450
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-19 17:16] andrewwillett opened #72456 "Missing answer to question"
This section's answer is duplicated from the previous answer and is incorrect:

Q: The Azure sign-in page displays the usernames of users who have previously signed in successfully. Can this behavior be turned off?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17a26ec-5c26-483c-f51e-c45f614e1541
* Version Independent

[2021-03-19 17:23] danielgerlag commented on #69198
Looks good, I wonder if there is value in having a Postman collection that potential customers could download that already has all this setup?

[2021-03-19 17:30] ChaitanyaNaykodi-MSFT commented on #72158
Hello @Tiberriver256, actually the page I referenced above is already [linked here](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-policies#-how-to-configure-policies) on the suggested page.
We will now to proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-03-19 17:30] #72158 closed

[2021-03-19 17:32] dreyx opened #72458 "Pay-as-you-go should be written as Pay-As-You-Go as seen in on the Azure Offer page."
Pay-as-you-go should be written as Pay-As-You-Go as seen in on the Azure Offer page.

Fix this: https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connectivity#pay-as-you-go

To reflect like this: https://azure.microsoft.com/en-us/offers/ms-azr-0003p/
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-03-19 17:43] morgansimonsen opened #72459 "Missing info and wrong info about signing keys?"
Signing keys
The documentation states to use New-AzureADApplicationKeyCredential to add a custom signing key to the service principal object. The correct command to add keys to the service principal object is New-AzureADServicePrincipalKeyCredential. I have never been able to make custom claims policy work when adding key credentials for the application, only when adding for the service principal.

[2021-03-19 17:44] jkatebin opened #72460 "Missing a line, your code does not work as described"
[Enter feedback here]
Do not forget to CREATE the asset before submitting the job...

Asset outputAsset = await client.Assets.CreateOrUpdateAsync(resourceGroupName, accountName, outputAssetName, new Asset());

You'll get an asset not found exception when you run your code as you have it currently.  This will be confusing for new users such as myself.

---
#### Document Details

⚠ *Do not edit this

[2021-03-19 17:44] DeanGross commented on #70688
Sorry, i think i pasted in the wrong link, it should have been https://docs.microsoft.com/en-us/azure/active-directory/roles/security-planning#identify-and-categorize-accounts-that-are-in-highly-privileged-roles

[2021-03-19 17:53] SadiqhAhmed-MSFT commented on #72145
@michalchecinski We haven't heard back from you. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-03-19 18:07] Karishma-Tiwari-MSFT commented on #72441
Thanks for sharing the feedback. We are glad that this article was of help to you. We will continue working towards keeping the docs updated and relevant.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-03-19 18:07] #72441 closed

[2021-03-19 18:22] SnehaGunda commented on #72434
@misterspeedy thank you for pointing it out. You are right it's a typo. we encourage public contributions, would you be interested in submitting a fix? you can click on the edit button on the page and submit a PR.

[2021-03-19 18:23] rajdhandus opened #72462 "AAD Pod Identity - error while adding pod identity"
Tried following the document and got the following error.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use Azure Active Directory pod-managed identities in Azure Kubernetes Service (Preview) - Azure

[2021-03-19 18:23] BryanTrach-MSFT commented on #72415
@ftai10 After following the doc, we are also receiving a similar error at the _Invoke GraphTopologyList_ step as well.

As a result, we have assigned the feedback to the doc author to have them review the doc further and make any changes as needed.

[2021-03-19 18:35] TerryLanfear commented on #72454
@knssub - Thank you for your feedback! We will soon publish a diagram that meets your request. The diagram differentiates the Azure security services and features.

#please-close

[2021-03-19 18:35] #72454 closed

[2021-03-19 18:39] MikeChristensen opened #72463 "Code does not compile"
The [CosmosDB] attribute does not exist.  I've tried adding the following NuGet package reference, but no luck:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfb86c0-02ed-0abc-8789-ba91d7979762
* Version Independent ID: ecbcc2c6-869e-2492-f10f-a07cf4b34209
* Content: [Azure Cosmos DB output binding for Functi

[2021-03-19 18:47] storesund opened #72464 "Missing spark database, and erroneous reference to "earlier, we used...""
Thanks for the quickstart.

However, as far as I can see, the user gets an error that "The database nyctaxi does not exist" from spark. The following cell, or similar, is needed:
[code]

Also, the page says that "Earlier, we used dedicated SQL POOL to...". This is not correct, this page comes _before_ the guide on SQL POOLs?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-03-19 18:54] emuench commented on #70394
Re-opened this with SR after his reply and also pinged another resource; 39335.

[2021-03-19 18:55] showellb opened #72465 "Exposing Endpoint URL for the API call."
Is it possible to add a note informing that if you want to integrate an API with Azure AD B2C flow - either by using API Connectors for User Flows or by using REST Technical Profile for custom policies-, the API Endpoint must be public?
This could be a reference for us, providing support, and customers who need this information to proof the requirement to expose it.

---
#### Document Details

⚠ *

[2021-03-19 18:56] RyanHill-MSFT commented on #72220
I've submitted an update to the doc to better clarify client secret @Peter-B. Thank you for your feedback.

[2021-03-19 18:58] #72220 closed

[2021-03-19 19:13] SadiqhAhmed-MSFT commented on #72219
@Brucius We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-19 19:13] #72219 closed

[2021-03-19 19:51] SubhashVasarapu-MSFT commented on #72458
@dreyx, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-19 19:51] #72458 closed

[2021-03-19 19:54] SubhashVasarapu-MSFT commented on #72313
@mberges2121ms, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-19 19:54] #72313 closed

[2021-03-19 19:57] MicrosoftGuyJFlo commented on #72453
#reassign @MicrosoftGuyJFlo Email out to PG for more detail.

[2021-03-19 20:00] micahl opened #72467 "Clicking the link under "Next Steps" sends me to the 1.1 docs for the Windows quickstart"
Is there a link that would keep someone going through the docs on the v1.2 version of the docs?  Perhaps direct to the quickstart on Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef994221-bfeb-9aa0-4ee1-5a264b4d921f
* Version Independent ID: 51f776a0-4460-90d8-80de-5c444ca0adff
* Content: [What is Azure IoT Edge

[2021-03-19 20:01] micahl commented on #72467
@kgremban fyi

[2021-03-19 20:25] JamesTran-MSFT commented on #72388
@wcneumann219
Thank you for pointing this out! Since @msmimart updated the article and is currently working internally on updating the template, I'll go ahead and close out this thread.

[2021-03-19 20:25] #72388 closed

[2021-03-19 20:26] TravisCragg-MSFT commented on #72370
@cshea15 I am not familiar with that licensing program. If you have a Microsoft sales representative, your best bet is to go through them for more clarity on the OS license type that comes with that program and if it is valid for WVD.

[2021-03-19 20:26] UncleRic opened #72468 "As ususal from Microsoft, GARBAGE!"
No info of what to do with the damn authenticator when I can't even authenticate my damn MS account.
How do I do it?
No solution.
*&&^%#@!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d2980d-b36b-9dc3-5c0c-4abed8d19ae2
* Content: [Download and install

[2021-03-19 20:29] vhorne commented on #72210
Yes, in a production environment you can use a CNAME for name resolution. In an isolated tutorial environment, you can use the hosts file for name resolution.

Article updated for clarification.

[2021-03-19 20:29] vhorne commented on #72210
#please-close

[2021-03-19 20:29] #72210 closed

[2021-03-19 20:29] sameer-kumar opened #72469 "Missing instructions on how to map to /home from Azure WebApp for Linux"
I'm following the link of [Custom Containers](https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux) but couldn't find any steps for accessing persistence storage. I can see similar [steps](https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app#add-persistent-storage) for multi-container app but nothing for single container. I

[2021-03-19 20:30] JamesTran-MSFT commented on #72465
@showellb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-19 20:32] JamesTran-MSFT commented on #72456
@andrewwillett
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-19 20:32] DerekHerman-MSFT commented on #72432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-19 20:34] cshea15 commented on #72370
It’s the same as M365 E3 and 5 but for Government. I had talk to a Fed engineer who had a customer who used it.

﻿ ﻿ --
[Microsoft]
Charles J Shea
Senior Engineer
America’s Infrastructure
FastTrack for Azure

Office: +1 (518) 292-2987
***@***.******@***.***>
10 AM - 6 PM EST
﻿
If you have any feedback about my work, please let either me or my manager Christian Epstein  know at ***@***.***

From: T

[2021-03-19 20:35] JamesTran-MSFT commented on #72468
@UncleRic
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-19 20:51] DCtheGeek commented on #72319
@GitHubUser1339 Thanks for the feedback and pointing this out.  The engineer has updated the article to fix the missing condition and add additional details.  The update just merged and should publish in a few hours, so I'm going to close this issue.  Thanks again!

#please-close

[2021-03-19 20:51] #72319 closed

[2021-03-19 20:53] natke opened #72471 "Copying/pasting on a mac"
I found out by trial and error that on a mac, the keyboard shortcut for pasting is SHIFT-CTRL-V. Would be great to include this in the docs!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e035d394-de3e-5c25-b539-08a7fa840032
* Version Independent ID: 0c51d3f0-f7ca-9af1-d6f1-02840d4ea4e1
* Content: [Copy and paste to an

[2021-03-19 20:54] nanditavalsan commented on #71975
Added "formerly SQL DW" to indicate this is for dedicated pools on Azure SQL server as is noted in the first 2 lines of the doc. #please-close

[2021-03-19 20:55] #71975 closed

[2021-03-19 21:06] Karishma-Tiwari-MSFT commented on #72462
Thanks for the question. We are currently investigating and will update you shortly.

[2021-03-19 21:10] Karishma-Tiwari-MSFT commented on #72451
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-19 21:10] Karishma-Tiwari-MSFT commented on #72444
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-19 21:13] tech1982 opened #72472 "514/tcp can't be setup on Cisco ASA as a syslog destination"
Please verify the public document which you published

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2297cd-b6ce-3f7b-d96c-75071ae4955d
* Version Independent ID: aa2c3925-e72a-c0cf-a4ae-75062e349a67
* Content: [Connect Cisco data to Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/connect-cisco#step-2-

[2021-03-19 21:22] MS-jgol commented on #71996
@NoriMin

There different flavors and offering within App Service. App Service on AKS refers to Windows Containers - a relatively new offering by App Service.

Functions basics refers to the bindings through .Net, without the language-specific worker. To have a complete distributed tracing a language-specific worker is needed. In addition, there is now Functions of Windows and a newer Functions on

[2021-03-19 21:25] spa5603 commented on #57793
Hello @shashishailaj I am also using the Workday AD user provisioning app and I have a problem with the managerreference. The config is not changed since the app is installed in azure. The user provisioning works great but I have no manager in manager attribute of the test user. The manager is also already in AD. Is it maybe because of existing scoping filter? the manager was not provisioned by th

[2021-03-19 21:30] TravisCragg-MSFT commented on #72452
@haymansfield Ingress controller only handles inbound traffic / establishing an inbound TCP session. You should be able to have an Egress controller and Ingress controller without issue.

By default, AKS clusters have outbound access, and this is [described here in the egress document](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#background). I would double check that any NSGs a

[2021-03-19 21:51] mberry1212 opened #72474 "My Apps Secure Sign-in browser extension"
These instructions for configuring Atlassian Cloud for SSO with Azure Active Directory say to download the "My Apps Secure Sign-in browser extension" but nowhere does the document say where to obtain the extension. I do not see the referenced screenshot in the enterprise application "Atlassian Cloud" and I also do not see it in the Atlassian admin portal. Where do I get the "My Apps Secure Sign-in

[2021-03-19 21:59] med-bouras commented on #53751
Hello
I have the same problem. Itried this method but always the same problem :(
what should I di plz?

[2021-03-19 22:00] SaiKishor-MSFT commented on #72471
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-19 22:02] brkrall opened #72475 "Listed subnet settings seem to be out of date, 'Users' option is not showing up in the Portal when opening subnet settings. Revision may be needed."
In the table listed under Step 5 for 'Change subnet settings', there is a setting named 'Users' used to manage user access to the subnet:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-subnet#change-subnet-settings

However, in practice, this option does not appear to exist in the subnet settings and user access is instead managed by opening the ellipses to the righ

[2021-03-19 22:03] julieMSFT commented on #69367
#assign:julie MSFT

[2021-03-19 22:03] PRMerger6 commented on #69367
julie is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-03-19 22:05] julieMSFT commented on #69367
Hello @hidwatanabe, thank you for contacting Microsoft. We have updated the document with the following: "To create SQL pools, Apache Spark pools and Integration runtimes, users must have at least Azure Contributor role at the workspace. The contributor role also allows these users to manage the resources, including pausing and scaling. If you are using Azure portal or Synapse Studio to create SQL

[2021-03-19 22:05] julieMSFT commented on #69367
#please-close

[2021-03-19 22:05] #69367 closed

[2021-03-19 22:12] julieMSFT commented on #70019
#assign:julieMSFT

[2021-03-19 22:14] #72323 closed

[2021-03-19 22:19] dochoss commented on #48652
Hi team, really needing an answer to this.  I know this was closed a year ago (almost to the day), but I can't find any information about this anywhere else.  Can we get source code for this sample app?  I have my policy working, but I don't know how to create the initial SAML request.  A sample would fix that immediately.

[2021-03-19 22:20] zr-msft commented on #68996
Thank you for the feedback @ezYakaEagle442!

The article has been updated to incorporate your feedback:
https://docs.microsoft.com/azure/aks/concepts-clusters-workloads#nodes-and-node-pools

#please-close

[2021-03-19 22:20] #68996 closed

[2021-03-19 22:21] javester opened #72476 "typo in first sentence "This article helps you understand what is managed identity for Data Factory (formerly known as Managed Service Identity/MSI) and how it works.""
slight grammar error typo:

This article helps you understand what is managed identity for Data Factory (formerly known as Managed Service Identity/MSI) and how it works.

should be:

This article helps you understand what a managed identity is for Data Factory (formerly known as Managed Service Identity/MSI) and how it works.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-19 22:35] julieMSFT commented on #72305
@gmuenster Thank you for contacting Microsoft. We have updated the article with the correct link, [troubleshooting](resources-self-help-sql-on-demand.md). Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-03-19 22:35] julieMSFT commented on #72305
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/151202

[2021-03-19 22:37] julieMSFT commented on #72305
#assign:julieMSFT

[2021-03-19 22:37] julieMSFT commented on #72305
#please-close

[2021-03-19 22:37] #72305 closed

[2021-03-19 22:39] BharathNimmala-MSFT commented on #72330
Thanks a lot @yanivlavi for helping on the thread.

@D-Moonesinghe Can you please help clarify or give more context on what exact issue you are seeing, so that our team can help accordingly. Thank you.

[2021-03-19 22:45] SatishBoddu-MSFT commented on #72439
@jokarl
I have assigned the issue to our SME for further review.

[2021-03-19 22:51] normesta commented on #72176
Thank you for the feedback. I've updated the doc and it should appear live by tomorrow!

#please-close

[2021-03-19 22:51] #72176 closed

[2021-03-19 22:52] normesta commented on #72368
Ok I've updated the doc to be clear about Node.Js. These changes should appear live by tomorrow. Thank you!

#sign-off

[2021-03-19 22:52] normesta commented on #72368
#please-close

[2021-03-19 22:52] #72368 closed

[2021-03-19 23:16] ColinEff commented on #7759
This may help. had a similar issue running terraform from ADO with a service principal with owner rights on one subscription,, attempting to add other subscriptions to a management group.
    # Permissions required for adding subscription to a management group, assigned to the service principal, in the remote subscription
    #  perm: "Microsoft.Authorization/roleAssignments/write"     # required

[2021-03-19 23:26] b-juche commented on #71720
@olt1892 - Haven't gotten clarification from you about this request, but I don't want to miss any further input you might have.  If you are an ANF team member, you can reach out at juliec@netapp.com.  For now I'm closing this issue.  Thanks!

#please-close

[2021-03-19 23:26] #71720 closed

[2021-03-19 23:34] SaiKishor-MSFT commented on #72212
@Herman5006 Did you clear cache and try?

[2021-03-19 23:45] SaiKishor-MSFT commented on #72475
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-20 00:05] SnehaGunda commented on #72119
@tomkuijsten the doc pointed in the link was merged with the current one. So that link is no longer needed. I submitted a PR above to fix it. The fix will be live on Monday. We will close this issue now.

#please-close

[2021-03-20 00:05] #72119 closed

[2021-03-20 00:09] autohub7 opened #72478 "Syntax error on the example"
Under Template parameters file.
I found there's a comma at the end of parameters.secured-parameter-name.reference.keyVault.id

"id": "/subscriptions/<Azure-subscription-ID>/resourceGroups/<Azure-resource-group-name>/Microsoft.KeyVault/vaults/<key-vault-name>",   <=== Remove this comma

`{
   "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
   "content

[2021-03-20 00:09] greendx commented on #71665
I've spent a lot more time today than I care to admit attempting to get the scenario in your Third Thought but without line of sight to AD DS (intentionally don't have connectivity between azure and on-prem AD DS) to work.

I guess that would be 4th scenario where my account syncs from AD DS -> AAD (via AD Connect) -> AAD DS my VM is joined to AAD DS and I am able to login to it with my synced acc

[2021-03-20 00:31] tommydogs opened #72479 "addProperty example #2, issue losing Parent property"
Example code I am using in Azure Logic App "compose" step, which is supposed to add a child property to the parent "customerName" property:
`addProperty(json('{ "customerName": { "firstName": "Sophia", "surName": "Owen" } }')['customerName'], 'middleName', 'Anne')`

Should produce output of:
[code]

But produces this output:
[code]
...losing the Parent property

---
#### Document Details

⚠ *Do no

[2021-03-20 00:54] BryanTrach-MSFT commented on #72460
@jkatebin Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 01:14] SnehaGunda commented on #71769
@MartinJohns Thank you for your feedback, I updated the doc in the above PR. Changes will be live on Monday. We will now close this issue.

#please-close

[2021-03-20 01:14] #71769 closed

[2021-03-20 01:18] ChaitanyaNaykodi-MSFT commented on #72463
Hello @MikeChristensen,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-20 01:40] TheFairey commented on #61587
Hi Lucas,

Sorry for the delay, been very busy but sadly this didn’t fix my issue, it was also suggested by our MS Support in the ticket.

This is from a WSL2 Ubuntu Bash shell:

From: Lucas ***@***.***>
Sent: 10 March 2021 13:46
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: TheFairey ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] AKS failing to deploy - "vnet-subnet-id

[2021-03-20 02:31] rarandiv commented on #69790
Hi @jovanpop-msft , @AnuragSharma-MSFT , just checking if there is any plan to update the document in near future?

[2021-03-20 02:34] rarandiv commented on #70167
Hi @ramakoni1 , @SatishBoddu-MSFT , Just checking if there is any plan to update the document with a suggested recommendation in the near future?

[2021-03-20 02:36] rarandiv commented on #70986
Hi @pochiraju, @JamesTran-MSFT , @AnuragSharma-MSFT , Just checking if there is any plan to update the document with a suggested recommendation in the near future?

[2021-03-20 02:37] diablodale opened #72480 "need warning for TensorRT caching of Kinect Azure Body Tracking"
Please add a warning -or- specifically tell us to ignore the Onnx runtime warning about enabling the experimental caching of engine/profiles for the TensorRT support with `ORT_TENSORRT_ENGINE_CACHE_ENABLE=1`

Note both of the warnings at https://www.onnxruntime.ai/docs/reference/execution-providers/TensorRT-ExecutionProvider.html. Here is one of the two:

I'm glad I was diligent and found the expe

[2021-03-20 02:52] BryanTrach-MSFT commented on #72097
@azav We have assigned your feedback to the doc author for further review.

[2021-03-20 02:54] BryanTrach-MSFT commented on #72110
@dmorris6-hub We apologize for the delay. We are reviewing your thread and hope to have an update to share with you on Monday. Thank you for your understanding.

[2021-03-20 03:25] SnehaGunda commented on #69350
The above PR updates the doc. The changes will be live early next week. We will now close this issue.

#please-close

[2021-03-20 03:25] #69350 closed

[2021-03-20 03:27] SnehaGunda commented on #70179
@V4A001 Please check out the doc per Thomas's suggestion. We will now close this issue.

#please-close

[2021-03-20 03:27] #70179 closed

[2021-03-20 04:03] diablodale opened #72481 "body tracking v1.1.0 references deprecated envvar `ORT_TENSORRT_ENGINE_CACHE_PATH`"
This page writes to use the envvar `ORT_TENSORRT_ENGINE_CACHE_PATH`
That envvar is deprecated and may be removed in future versions of Onnxruntime.
The better envvar to use is `ORT_TENSORRT_CACHE_PATH`. Notice "ENGINE" is missing.

This better envvar to use can be seen in both

official code https://github.com/microsoft/onnxruntime/blob/718ca7f92085bef4b19b1acc71c1e1f3daccde94/onnxruntime/core/pro

[2021-03-20 04:28] GavinJin8 commented on #72200
@GitaraniSharma-MSFT
I am MSFT support engineer, let me ping you directly over teams.

[2021-03-20 05:36] haaami01 opened #72482 "referencia-tesztelése.md"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823a4e41-1c11-bdb6-8efe-9b50a5c630f0
* Version Independent ID: 2ea84238-9763-d95b-9e6a-d11ca0bffba9
* Content: [Maintenance and updates - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-and-updates)
* Conten

[2021-03-20 06:15] DerekHerman-MSFT commented on #72449
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-20 06:17] DerekHerman-MSFT commented on #72459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:17] DerekHerman-MSFT commented on #72464
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:19] DerekHerman-MSFT commented on #72467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:20] DerekHerman-MSFT commented on #72469
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:21] DerekHerman-MSFT commented on #72472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:22] DerekHerman-MSFT commented on #72474
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:23] DerekHerman-MSFT commented on #72476
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-20 06:24] DerekHerman-MSFT commented on #72478
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:25] DerekHerman-MSFT commented on #72479
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:26] DerekHerman-MSFT commented on #72480
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 06:27] DerekHerman-MSFT commented on #72481
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-20 07:34] lgayhardt commented on #69265
Thanks for the feedback @cijothomas, I created a [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1828154 )for this and will update with thread when the work is completed.

@please-close

[2021-03-20 07:34] #69265 closed

[2021-03-20 07:38] lgayhardt commented on #68093
Thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1828155) internally and it is currently on our backlog. We'll close out this issue for now, but will @mention you when the update is complete.

#please-close

[2021-03-20 07:38] #68093 closed

[2021-03-20 08:26] SubhashVasarapu-MSFT commented on #69393
@monojit18, I trust you are doing great!
I haven’t heard back from you on this case. I understand that you might be busy on other high priority tasks at your end. Hence, I would like to get your thoughts to close this case. If you need further assistance with this issue, whether it is because the problem manifested itself again or the solution does not completely resolve the issue, you can reopen

[2021-03-20 09:24] HQJaTu commented on #35298
Azure Key Vault cannot import PKCS#12 (or a PFX if you will) into a secret.

What I do is import the bytes of the PKCS#12. See [my comment](https://github.com/MicrosoftDocs/azure-docs/issues/35298#issuecomment-559070843) above for details.

Also, please investigate the new approach of AppGw Key Vault integration.
Docs are at [https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-cer

[2021-03-20 09:36] AbhishekTripathi opened #72485 "Assigning same Custom Domain to multiple endpoints not possible when both profiles are Verizon Premium"
The document mentions that the same cdnverify domain to be mapped to two different cdn endpoints. However, it is not possible to do so when you have your endpoints in two different cdn profiles where both are of type Verizon. I am facing this issue with Verizon Premium and possibly the issue is with others too where the profiles are same and this approach is attempted. I found this mentioned here:

[2021-03-20 09:45] AbhishekTripathi opened #72486 "CDN Certificate when Traffic Manager fronting CDNs for active failover"
The document doesn't mention HTTPS anywhere. It must be obviated that when the `cdnverify` cname is added and the CDN endpoint is updated with the custom domain, is HTTPS required to be enabled for this custom domain? If the steps are no different from a standalone CDN with HTTPS, it should be mentioned as well just to be clear about it.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-03-20 09:57] AgribotGit commented on #72246
Hi

  I believe that I have found a defect in the azure custom vision app and I believe that the bug is the root cause of the problem I posted at

python - predictor.classify_image(project.id, publish_iteration_name, image_contents.read()) causes invalid iteration - Stack Overflow<https://stackoverflow.com/questions/66657779/predictor-classify-imageproject-id-publish-iteration-name-image-contents-

[2021-03-20 10:03] 987a73ae7992294d opened #72487 "Give consistency level descriptions their own headers"
It would be nice if instead of using bullet points to describe the different consistency levels, you used a h3 tag (###)  so that they are both easier to spot and differentiate, and easier to link to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-

[2021-03-20 10:29] chinmoysarangi opened #72488 "Needs to include information about new data sources."
Needs to include information about new data sources, such as, Azure (multiple sources), Amazon S3 etc.

![image](https://user-images.githubusercontent.com/79183421/112285293-29e5f080-8cb0-11eb-87c8-25cbb83e4ce9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b2f6ed-2247-f021-4ebe-08f01e9f6f6b
* Version Independen

[2021-03-20 11:01] stephenstack commented on #60331
I have spent quite a bit of time replicating all the issues reported above and still do not have  a resolution. No errors on the token etc.. but getting a 403 on the /Patient endpoint. Even trying to get a token from Api for FHIR comes back with this..

I note the docs are updated . Will raise a ticket and see.

stephen@Azure:~$ az account get-access-token --resource=https://sacascufhir.azurehealt

[2021-03-20 11:11] nikhilnaregal opened #72490 "Regarding changes in Django file."
Amazing Page with a detailed procedure but it would be really great if also you start from the very basics (already build Django project on the local system to azure).
There aren't many articles on the internet which explain the changes to be made to default settings that are already provided while creating the Django project for deploying in azure.
Whereas Her**ku documentation clearly explains e

[2021-03-20 11:12] coffeeplant commented on #71300
Hi @jdubois thanks for clearing that up, the directions weren't very clear to me. I was putting in the database name where it said AZ_DATABASE_NAME

[2021-03-20 11:12] #71300 closed

[2021-03-20 11:20] #72490 closed

[2021-03-20 11:22] carstenskjaer opened #72491 "ssh command example uses public key file when private key file should be used"
The connect to new vm
ssh -i ~/.ssh/id_rsa.pub azureuser@10.111.12.123
is wrong - you should not supply you pub key here!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys to connect to Linux VMs -

[2021-03-20 11:26] justin-fb opened #72492 "Speech to Text - File Type"
Please add the file type and bit requirements to the quickstart docs. This was very difficult/time consuming to figure out.

https://stackoverflow.com/a/44813025/8016906

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* C

[2021-03-20 11:27] justin-fb commented on #72492
https://stackoverflow.com/a/58875374/8016906

[2021-03-20 13:50] PramodValavala-MSFT commented on #72482
@haaami01 Thanks for the feedback! We will review and update accordingly.

[2021-03-20 13:50] PramodValavala-MSFT commented on #72485
@AbhishekTripathi Thanks for the question! We will review and get back to you!

[2021-03-20 13:51] PramodValavala-MSFT commented on #72486
@AbhishekTripathi Thanks for the feedback! We will review and update accordingly.

[2021-03-20 13:51] PramodValavala-MSFT commented on #72487
@987a73ae7992294d Thanks for the feedback! We will review and update accordingly.

[2021-03-20 13:51] PramodValavala-MSFT commented on #72488
@chinmoysarangi Thanks for the feedback! We will review and update accordingly.

[2021-03-20 13:52] PramodValavala-MSFT commented on #72491
@carstenskjaer Thanks for the feedback! We will review and update accordingly.

[2021-03-20 13:52] PramodValavala-MSFT commented on #72492
@justin-fb Thanks for the feedback! We will review and update accordingly.

[2021-03-20 14:25] hansenms commented on #60331
@stephenstack I would recommend not commenting on closed issues. It doesn't always get noticed.

In this case, it looks like you are in an Azure cloud shell. Try to run `az login` before requesting a token, so you are signed in as the user you will be requesting a token for.

[2021-03-20 15:21] stephenstack commented on #60331
Accept your response in terms of a closed issue, but this is where I landed and someone else is likely to find this. I found my issue.
My account was set to role owner in Azure API for FHIR IAM settings. This appears not to have authorization to R/W to the API. I add my account to the 'FHIR Data Contributor' role. And it postman started to work. The docs should be updated to reflect this role requ

[2021-03-20 16:36] IanMercer commented on #72392
Neither the main page nor the suggested link mentioned "ByteCode" or "fluent traversal API" which are the likely search terms.

The user feedback was titled _"Azure Cosmos DB Graph API doesn't support Gremlin Bytecode. Therefore it is not possible to use the fluent traversal API of Gremlin.NET."_ and it summarizes the situation better, but is likely found only _after_ trying to implement Gremlin o

[2021-03-20 16:53] GitHubUser1339 opened #72493 "Accessing current array member with template functions"
The section 'Accessing current array member with template functions' decribes the use of the _current()_ function. What I don't get from this chapter is **when** and **why** to use this function? Doesn't the _count_ expression with a _where_ condition enable me to evaluate individual members of an array?

What is the difference between these two examples:

**Example with just count/where expressio

[2021-03-20 17:27] jzuchora commented on #67328
Hello, any movement on this?

[2021-03-20 18:16] felinepc commented on #72168
@allanlw Just want to say THANK YOU. I was going nuts trying to stop the ocean of Microsoft logs in my function (I use EF Core, so every query command etc...), and just couldn't get it to work via either `host.json` or `local.settings.json` ("logging:loglevel:..." etc). Magically I clicked the link at the very bottom of the doc to get to this page. Yes you absolutely saved lots of pain :).

I sinc

[2021-03-20 18:44] AjayKumar-MSFT commented on #72490
Nikhil,  Thanks for taking time to share your valuable feedback on this Azure doc. We really appreciate the suggestions.

The doc aims to show step-step instructions on how to deploy Django web app and connect it to an Azure Database for Postgres database. The tutorial is meant to show something more involved, but still allow readers to learn things beyond a specific framework. For example, here y

[2021-03-20 18:47] Zarathrustra opened #72494 "Confusion"
The page was bewildering in its profusion. I was expecting a simple explanation (or, even better, a video) of how to upload my Excel spreadsheet into an Azure workspace.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550031e-4cf6-8d15-84e3-1c2b58951f80
* Version Independent ID: 1a927119-0540-dfd9-9435-5c29c014daff
* C

[2021-03-20 18:53] BenjaminAbt opened #72495 "documentation contains wrong user agent"
The documentation says the health check user agent is `ReadyForRequest/1.0` but actually it's `HealthCheck/1.0`

my code to verify this on Azure App Service for Linux with ASP.NET Core

[code]

![image](https://user-images.githubusercontent.com/6189336/111882407-ae392a80-89b5-11eb-8262-3be1e19fd75e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-03-20 23:57] D-Moonesinghe commented on #72330
As reader who is a not an expert;

The following explanation and the diagram didn't make sense.  Later on, a
few of my colleagues and I came to a working explanation that made sense.
I still think this explanation  in the artilce can be improved. At least
mention

1) What does a period grouping of 5 minutes mean?  2) how you come about
with a 5 minute period?     2)Is it a default value ?

[2021-03-21 00:19] benjamin-goldman opened #72496 "what about a powershell instance?"
[Enter feedback here]
is there a way to do this inpowershell?

At the moment we cant run AZ commandline from function apps - but we can run powershell...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Execute

[2021-03-21 01:54] KrishnaG-MSFT commented on #72493
@GitHubUser1339 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-21 04:49] lissff opened #72499 "azure cni max-pod is setting to 110 by default from portal"
[Enter feedback here]

It doesn't make sense for AKS created from Portal (using Azure CNI) with 110 as default max_pods; the behavior is inconsistent to all other sources and there is no explanation on why we design it this way:

Portal | 110 | 110 (configured in the Node Pools tab) | No

Moreover, when creating AKS from portal, it is really hard to find where we could configure max pods (it is hi

[2021-03-21 05:19] DerekHerman-MSFT commented on #72494
@Zarathrustra Can you please confirm the documentation URL you are referring to?

[2021-03-21 05:20] DerekHerman-MSFT commented on #72495
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-21 05:21] DerekHerman-MSFT commented on #72496
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-21 05:48] Li-Yanzhi commented on #72420
@ssivas I  am also using same version of Authenticator as yours, but still cannot find the option of "registered as shared device".

![image](https://user-images.githubusercontent.com/6248137/111895213-13d7f600-8a4c-11eb-8c82-5169848d4ba7.png)
![image](https://user-images.githubusercontent.com/6248137/111895220-1e928b00-8a4c-11eb-88ce-438ef20249b5.png)

[2021-03-21 06:40] SogoGolf opened #72500 "Please provide an example of pagination via using CosmosDb"
We are trying to get pagination working in an ASP.Net Core Web API (version of ASP.Net Core is 5.0.0), via using the CosmosDb C# API continuation token approach. We are getting consistent errors each time the continuation token is passed back to retrieve the next set of response data (first payload returns ok + the continuation token, second fails). Strange thing is the continuation token "string"

[2021-03-21 06:44] algattik opened #72501 "Add link to Key Vault configuration provider"
Developers could end up on this page although they are only looking for a way to read secrets in their application. In this case this page is most useful: https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration

It would be good to add a clear paragraph linking to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-21 06:57] yoelhor commented on #72465
Thanks for the feedback. We are working on the REST API docs (merging the user flows and custom policies). You should see the documents updates in about two weeks. I'll update this thread when the doc is published.

Yoel

[2021-03-21 07:07] KevSpally-collab commented on #65000
Is there fix on this issue, i am running into the same problem.

I tried via azure databricks CLI and getting this error:
Error: b'{"error_code":"INVALID_PARAMETER_VALUE","message":"Scope with Azure KeyVault must have userAADToken defined!"}'

And also via databricks API i am getting this error:
Curl is giving me this error: ]Script failed with exit code: 22

I am using a Servince principal, so i

[2021-03-21 07:52] GitaraniSharma-MSFT commented on #72200
Thank you for the details @GavinJin8 . I've reached out to the PG team for an update on same. Will keep you posted.

[2021-03-21 09:10] SumanthMarigowda commented on #72082
@jose-l-carvalho  Thanks for raising this question! Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-21 10:30] miklemiracle opened #72502 "There link to Microsoft Marketplace Lead Writer solution isn't working,"
There link to [Microsoft Marketplace Lead Writer](https://mpsapiprodwus.blob.core.windows.net/documentation/MicrosoftMarketplacesLeadIntegrationSolution_1_0_0_0_target_CRM_6.1_managed.zip) solution isn't working, giving me error:

`This site can’t be reached
mpsapiprodwus.blob.core.windows.net`

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-03-21 10:34] Baasky01 opened #72503 "Steps in screenshot typo error"
[Enter feedback here]
The steps "4. 8-byte binary hash is converted to 64-bit byte binary." described inside the diagram seems to be incorrect.
It should be **16**-Byte binary hash. Check the steps described in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version In