[2020-06-30 01:06] SaurabhSharma-MSFT commented on #58106
@hambster Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-30 01:13] Hakuroda opened #58107 "wrong way to check my customDomainVerificationId"
As written below, this document says when we verify our ownership of the domain we can see customDomainVerificationId  by
[this way](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#get-domain-verification-id).

**To add a custom domain to your app, you need to verify your ownership of the domain by adding a verification ID as a TXT record with your domain

[2020-06-30 01:17] BharathNimmala-MSFT commented on #57974
@bowulf72 Hope you had a chance to review the above information. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-06-30 01:17] #57974 closed

[2020-06-30 01:20] dbrennan opened #58108 "It would be helpful to have a little more info or documentation on the magic value {queueTrigger}"
Is there reference docs on substitutable varibales that get magically set with various bindings? I assume this is what's happening here, but it's not 100% clear from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a

[2020-06-30 01:21] RyanHill-MSFT commented on #58046
@tanveerbadar I've updated the doc indicating the missing publish step for dotnet projects. Thanks for the feedback.

[2020-06-30 01:21] #58046 closed

[2020-06-30 01:21] NavtejSaini-MSFT commented on #58099
@HuaTang92 We are checking this and we will get back to you.

[2020-06-30 01:28] MicrosoftGuyJFlo commented on #57223
Update has been in my backlog for a while. Just got time to get to it and update it to the new prod endpoint. Should publish tomorrow.

[2020-06-30 01:41] contento commented on #34451
So, I am quite not sure whether this issue is open or not!

We wasted time trying to fix our apps and or the way we were deploying via AZ CLI but after trying to deploy to Azure a simple example from [plotly](https://dash.plotly.com/layout) we found out that it's apparently a well-know issue (Yes, Bing brought me here).

I also followed the recommendation from [Configure a custom Linux container f

[2020-06-30 01:46] bissont commented on #55016
This feature is now in Storage in storage explorer 1.14.

Thanks!

[2020-06-30 01:46] #55016 closed

[2020-06-30 01:48] SaurabhSharma-MSFT commented on #57770
@priyankareddy20 Yes, it redirects you to another page so that you define the scope for this policy and other details required to onboard the respective policy to the portal.  Once you are able to add this standard, you can view your new standard under **Regulatory compliance** blade the dashboard will start displaying the regulatory compliance assessment against this new standard in few hours.

[2020-06-30 01:55] worldspawn opened #58109 "Adding the AAD-* technical profiles shown in the code snippet breaks the policy."
After adding the provided snippet from the documentation:
[code]

The policy cannot be uploaded. I get the error:

Validation failed: 1 validation error(s) found in policy "B2C_1A_SAMSTRUSTFRAMEWORKEXTENSIONS" of tenant "xxx.onmicrosoft.com".The required "Protocol" element is missing from TechnicalProfile with id "AAD-UserWriteUsingAlternativeSecurityId" in policy "B2C_1A_SamsTrustFrameworkExtensi

[2020-06-30 02:01] jason-ra opened #58110 "Confirm approach to forwarding DNS zones for on-prem resources"
This reads as conflicting advice when designing DNS for on-prem clients accessing Private Endpoints:
Point No. 1 - We don't recommend that you override a zone that's actively in use to resolve public endpoints. Connections to resources won't be able to resolve correctly without DNS forwarding to the public DNS. To avoid issues, create a different domain name or follow the suggested name for each s

[2020-06-30 02:35] Chao0000 opened #58111 "The indent of code in Python file is not appropriate."
[Enter feedback here]
In the step "Create a Python application" → "9. Add the following functions inside the main function to handle property updates sent from your IoT Central application:"

The functions in "9."  should be inside the "main", but the indent of the code in this step looks wrong.
If someone uses the code as it is, these functions will be defined inside "command_listener()", instead

[2020-06-30 03:26] worldspawn commented on #58109
Removing
[code]

made it work. Is it invalid to include those in a signinsignup profile?

[2020-06-30 03:31] ram-msft commented on #57814
@dargilco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-30 03:31] #57814 closed

[2020-06-30 03:41] ram-msft commented on #58090
@adhamod Thanks for the feedback. We will update you shortly.

[2020-06-30 03:45] Mike-Ubezzi-MSFT commented on #57861
Since this document offers both the SQL API Cosmos DB service or the Cosmos DB Emulator as options for this Quickstart, there should be more explicit information about running a Node.js solution with the Emulator. The Emulator document does mention how to [export certificate](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#export-the-tlsssl-certificate) and use for Java development

[2020-06-30 03:58] #57223 closed

[2020-06-30 04:01] RyanHill-MSFT commented on #51437
@jayendranarumugam I wanted to follow up to see if your system identities ever showed up?

[2020-06-30 04:04] atrauzzi opened #58112 "Azure teams are over-referencing this page in response to numerous deprecations"
Can we please see other versions of this page outside of the Python ecosystem?  It really is turning out to be unhelpful when people are asking about alternatives and they get sent over to this very terse example in a single language.

For myself, I'd prefer to see something about how I can get traces out of PHP and into Azure monitor.  Particularly using open and standard formats and not by havin

[2020-06-30 04:08] atrauzzi opened #58113 "Where's the PHP support?"
If I have a PHP application, I have options for instrumenting via standard formats (jaeger, zipkin, opentelemetry, opencensus, opentracing). I shouldn't need a Microsoft-specific library to use Insights.

Where's the forwarder-based option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c

[2020-06-30 04:08] VikasPullagura-MSFT commented on #58102
@dmgonch
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-30 04:19] sadika9 commented on #57821
@vipulsparsh great, thank you

[2020-06-30 04:20] tanveerbadar commented on #58046
Thank you for the fast resolution!

[2020-06-30 04:23] kalpeshj-hexaware commented on #58059
Thanks Saurabh for the update.

[2020-06-30 04:34] SnehaAgrawal-MSFT commented on #58082
@MishalValiyakath Thank you for your feedback . We will investigate and update the thread .

[2020-06-30 04:34] SnehaAgrawal-MSFT commented on #58107
@Hakuroda Thank you for your feedback . We will investigate and update the thread .

[2020-06-30 04:36] SnehaAgrawal-MSFT commented on #58101
@cpenner312 Thank you for your feedback . We will investigate and update the thread .

[2020-06-30 04:37] SnehaAgrawal-MSFT commented on #58091
@pinkwerks Thank you for your feedback . We will investigate and update the thread .

[2020-06-30 04:38] SnehaAgrawal-MSFT commented on #58097
@DanielLarsenNZ Thank you for your feedback . We will investigate and update the thread .

[2020-06-30 04:39] SnehaAgrawal-MSFT commented on #57622
@brianburtoninmar Since we didn't here from you we will now close this issue, Let us know if you have further question on this.

[2020-06-30 04:39] #57622 closed

[2020-06-30 04:46] SnehaAgrawal-MSFT commented on #57822
@sivasenthil-kumaraguru Thanks again for the feedback! I have created PR and it will be validated soon.

[2020-06-30 04:46] #57822 closed

[2020-06-30 04:49] brnn8r commented on #40206
Shouldn't this documentation https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-output?tabs=python

mention that the limit for an azure function out put binding is 240 * 1024 bytes as per https://github.com/Azure/azure-functions-eventhubs-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/Triggers/EventHubAsyncCollector.cs#L27

It's not clear f

[2020-06-30 05:05] AshokPeddakotla-MSFT commented on #58111
@Chao0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-30 05:09] AMoghrabi commented on #35544
Are there any updates on this? I don't want our users to run a command, I'd like the SSO page to appear and authenticate.

[2020-06-30 05:22] asudbring commented on #42472
I ran through this article and it's for creating a new storage account and private endpoint which restricts the storage account on creation.  I tested it by running through the steps and then attempting to connect to the endpoint with storage explorer and was unable to view anything underneath the storage account and got this message:
![image](https://user-images.githubusercontent.com/26909696/860

[2020-06-30 05:28] jayendranarumugam commented on #51437
Hi @RyanHill-MSFT thanks for the replay. It showed up after some time. Maybe we need to wait for couple of hours to reflect back in the enterprise application

[2020-06-30 05:30] ram-msft commented on #58105
@dargilco Thanks for the feedback. We will update you shortly.

[2020-06-30 05:32] gmantri-ais commented on #58050
Thanks @SadiqhAhmed-MSFT!

[2020-06-30 05:32] #58050 closed

[2020-06-30 05:33] KrishnaG-MSFT commented on #57658
@vohuythao As there is no response and as at this point it appears that there's no edits or updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-06-30 05:33] #57658 closed

[2020-06-30 05:39] SubhashVasarapu-MSFT commented on #58103
@dcbrown16 , Thanks for reaching out. We will investigate and update this thread.

[2020-06-30 05:41] AElharouny commented on #49356
Hello @DixitArora-MSFT @vladvino
I'm also looking for information on when we can use SetHttpProxy with HTTPS traffic.

[2020-06-30 05:50] SubhashVasarapu-MSFT commented on #58103
@dcbrown16 , Appreciate your feedback. The doc has been updated accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-30 05:50] #58103 closed

[2020-06-30 05:53] SubhashVasarapu-MSFT commented on #58110
@jason-ra , Thanks for reaching out. We will investigate and update this thread.

[2020-06-30 05:56] pnarsi opened #58114 "RBAC Permissions to be able to allow Pipeline to read Azure Monitor Alerts"
Step 6 of the "Configure continuous monitoring" section of this page talks about adding the details of the Application Insights resource that Azure Pipelines should be using for the continuous monitoring. This step I believe assumes that the user performing this step on Azure DevOps portal has some sort of RBAC permission on Application Insights resource instance. Have we got details around what p

[2020-06-30 06:13] BhargaviAnnadevara-MSFT commented on #58112
assign:@reyang

[2020-06-30 06:16] BharathNimmala-MSFT commented on #57950
@v-mohaly  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-30 06:16] #57950 closed

[2020-06-30 06:18] BhargaviAnnadevara-MSFT commented on #58112
@atrauzzi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

#assign:reyang

[2020-06-30 06:18] PRMerger10 commented on #58112
reyang is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-06-30 06:20] priyankareddy20 commented on #57770
Hello Team,

It would ask for Scope a new page
Parameters new page
Remediation,managed identity new page
Create.

I have tested in my environment and complaince did reflect in some time.

I raised the feedback regarding the documentation as the changes have not
been implemented w.r.t the redirection, what and how the parameters has to
be changed.

Ideally MS documentation would provide the steps t

[2020-06-30 06:20] BhargaviAnnadevara-MSFT commented on #58112
@reyang Could you please take a look?

[2020-06-30 06:22] PRMerger12 commented on #58112
reyang is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-06-30 06:25] BhargaviAnnadevara-MSFT commented on #58113
@atrauzzi Thanks for the question. We're investigating this and will get back to you shortly.

[2020-06-30 06:32] Consigas commented on #58098
We posted a [training video for the Palo Alto Networks FireWall](https://www.consigas.com/best-practices/authenticating-globalprotect-and-prisma-access-remote-access-users-against-office365-azure-ad) explaining how to securely set up SAML authentication end-to-end against Office 365 Azure AD. The critical element which explains how to set up certificate validation of the SAML Identity Provider sta

[2020-06-30 06:32] SwathiDhanwada-MSFT commented on #57426
@jureid Can you please provide your inputs on this issue?

[2020-06-30 06:38] reyang commented on #58112
@lzchen @ramthi need to replace my alias with yours for https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/opencensus-python.md.

[2020-06-30 06:40] lgmorand opened #58115 "Proximity placement group - questions"
I have some questions regarding the PPG with AKS because some parts are not covered by the documentation

1- since we use PPG in a single zone, does it imply that we reduce the average SLA of the workers node ? should it not be written  as a warning ?

2- documentation does not say if we can have a multi AZ cluster but with a single nodepool using PPG

3-  if we create a cluster with a ppg, will a

[2020-06-30 06:41] SnehaAgrawal-MSFT commented on #57849
@alirezacads Thanks again for the feedback! Could you please share the screen shot to help you better on this.
 Also, ensure you have Contributor role to do this.
You may refer to below doc for more details on this: https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#role-definition

[2020-06-30 06:47] SnehaAgrawal-MSFT commented on #57818
@lerlacher-haylix Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-06-30 06:55] khandelwalbrijesh commented on #56132
@starforce, This means that your issue is resolved. Let us know if you are facing any more issues with Backup Restore service.

[2020-06-30 06:59] VikasPullagura-MSFT commented on #58039
@MakarovIlya944

Apologies around the clarity missing on this.

Once you deploy VM in same VNET, then once your login to VM you should be able to access the cluster with Cluster DNS.
In case your have deployed VM without Public IP, please see this [doc](https://docs.microsoft.com/en-us/azure/virtual-network/associate-public-ip-address-vm) and add a Public IP to the VM.
Ensure that there is no subn

[2020-06-30 07:00] dcbrown16 commented on #42472
Thanks @asudbring. What does the storage firewall look like when you run through it that way? Is it set to only allow "selected networks", and if so is there anything under that?

[2020-06-30 07:02] BryanTrach-MSFT commented on #57254
@jstawski @seangriffin2 I apologize for the delay.

Sending a test notification goes beyond simply reading so the reader role will not work. Since sending test notifications has the ability to reach a wide array of customers, you can only use the default RBAC role of contributor. I assume this is too much access for your use case.

The good news is you can create a custom RBAC role to allow the us

[2020-06-30 07:02] #57254 closed

[2020-06-30 07:08] Hakuroda opened #58116 "wrong JDK runtime version"
It seems different jdk runtime version is written compare to actual environment.

**The Azure Functions runtime supports Java SE 8 LTS (zulu8.31.0.2-jre8.0.181-win_x64). This guide contains information about the intricacies of writing Azure Functions with Java.**

\<this document\>
Java SE 8 LTS (zulu8.31.0.2-jre8.0.181-win_x64)

\<actual environment\>
Java SE 8 LTS (zulu8.42.0.23-jre8.0.232-win_x

[2020-06-30 07:29] Cogax opened #58117 "Recommendation for Singleton SqlConnection"
Hi all

I am really confused by the recommendation of registering SqlConnections as Singletons.

In general, it's strongly recommended to dispose an SqlConnection as soon as possible:

Source: https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling#adding-connections

Do I understand it wrong or is it a mistake?

---
#### Document Details

⚠ *Do not edit this se

[2020-06-30 07:48] ChiragMishra-MSFT commented on #58079
@crisansou I can confirm that you are right, the file system client doesn't have a get_access_control.

@normesta is there a way to get ACLs for a file system with the SDK?

[2020-06-30 07:49] mike-urnun-msft commented on #57654
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-30 07:49] #57654 closed

[2020-06-30 07:57] VikasPullagura-MSFT commented on #56990
@StingyJack I checked with internal team on this and got confirmation that it is missing on preview.portal.azure.com and team is working on getting this added.

However, the Integration Tab should not be missing from regular portal (portal.azure.com). So team has requested to get session ID where this repros for checking on this to get this checked further.

Please open a support case to get this

[2020-06-30 07:58] femsulu commented on #57544
Adding @bandersmsft

@eshy thanks for calling this out, can you please provide additional details on why you believe the content is out-of-date and / or incorrect.

[2020-06-30 08:00] femsulu commented on #57688
Thanks for calling this out. Adding @MGoedtel to review.

[2020-06-30 08:21] shashishailaj commented on #58109
@worldspawn Thank you for your query. We will investigate and update the thread.

[2020-06-30 08:29] BASFmthibodeaux opened #58119 "Alert in Azure Security Center is not updated in the alerts on the Documents"
SQL Advanced Threat Protection Tampering is not referenced. It would be nice to have the background on this.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a055-79ae32b62a6d
* Version Independent ID: 66ce0f69-16aa-c1f8-5163-7cc5392a3399
* Content: [Reference table for all Azure

[2020-06-30 08:34] Klaas- opened #58120 "preregistration script location"
Hi,
currently you suggest downloading the preregistration script directly from a microsoft website (https://aka.ms/scriptforpermsonhana). Does that script reside on github? I would like the script to be versioned and downloadable from github so I can do code reviews on changes.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-30 08:34] ElectricLlama opened #58121 "AAD group integration"
"Users with the Contributor or Owner role on the workspace resource are automatically assigned to the admins group".

I assumed in this statement that "Users" and "Groups" are interchangeable. Therefore this security set up would work:

User > AAD Group > granted Contributor role in databricks workspace

But from my testing... this does not work. In other words there is no AAD Group capability in

[2020-06-30 08:37] KrishnaG-MSFT commented on #58096
@danabrash Thanks for the feedback!
Assigning @tamram for visibility, review and document enhancement consideration as appropriate.

[2020-06-30 08:38] manekinekko commented on #57909
Thanks @PhilLepanto for opening this issue. This is great feedback.

@craigcaseyMSFT how can we update the docs to remove the confusion?

Also, what's your thought on this?

[2020-06-30 08:43] LucaOtto commented on #57960
Hi Ryan,

Actually I managed to fix all that and went further on.

When I run the database migrations<https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#run-database-migrations> I’m seeing the error with the sqllite db ( screenshot below). it states that it is locked. Any idea why?

Thanks
Luca

[A picture containing sitting, table  Description a

[2020-06-30 08:44] abhinavdawra opened #58122 "Deployment Script windows container images"
Hi Team,

The current script container is a linux container. Is there a way we can provide a custom Azure container image for a windows based container instead? I am looking to execute a exe file using this powershell but since the container is linux OS it is unable to do so.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-30 08:44] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Thanks for your patience. I would suggest you to use this below API to retrieve the pricing details as this API is the source for Azure Pricing Calculator.

https://management.azure.com/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/providers/Microsoft.Consumption/pricesheets/default?api-version=2020-01-01-preview

This API  can be used for all type of subscriptions. Currently this i

[2020-06-30 08:54] ChiragMishra-MSFT commented on #57903
@don4of4 We haven't heard from you in quite some time. Please try to set things up the way I suggested. Do let us know if it still doesn't resolve the issue.

I will now proceed to close this issue, but feel free to comment and tag me.

[2020-06-30 08:54] #57903 closed

[2020-06-30 08:57] mavusi opened #58123 "Need authenticator app to set up authenticator app"
The reason for me landing on this page is because I am trying to set up the authenticator app. However, the app wants me to perform a two-step verification before I can add my account. And the two-step verification wants me to use the authenticator app which I am trying to set up. So basically I am stuck in a cyclical hell. And I have no idea how to get out.
---
#### Document Details

⚠ *Do not ed

[2020-06-30 08:57] ChiragMishra-MSFT commented on #57997
@VitalyMCT Sorry for the confusion and thanks for pointing out the wrong link. It was a typo from my side. Please have a look at the modified comment for the updated link.

Also, please review this requirement:
![image](https://user-images.githubusercontent.com/43365826/86106067-bd054780-badd-11ea-9c52-7d6b48b99391.png)

[2020-06-30 09:00] chez-charlie commented on #57997
Hi @VitalyMCT currently CMK can only be configured on new Data Factories. Capabilities to bring CMK to existing Data Factories in under development. Please look out for update to this doc, as well as ADF tech blog for announcements. Thanks a lot

[2020-06-30 09:06] pauldj54 opened #58124 "az dt is not in the az command group"
I updated the azure cli to the newest version and install/update the azure-iot extension as proposed in the article.

Testing the installation I received the following error:

`az: 'dt' is not in the 'az' command group. See 'az --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft

[2020-06-30 09:08] Dev-ML11 commented on #56048
Thank you @SwathiDhanwada-MSFT,
But the API you have provided is the price sheet API which has same rates as that of Rate Card API which was verified by me the last time when you provided this.

I haven't found an entry for Container Instances - memory duration price which says 0.0000012 per GB-s.

[2020-06-30 09:11] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 The PriceSheet API version which I have provided earlier is 2019-10-01 . Now I have provided you the latest version which is 2020-01-01-preview.

Kindly check and revert.

[2020-06-30 09:17] loma89 commented on #44875
Hi, normally an App Service instance contains 4 folder inside D:\home, they are \site, \siteextension, \logfiles, \data
Does Local Cache contains \LogFiles and \Data folders, thus take them into account of local cache size?

[2020-06-30 09:27] PramodValavala-MSFT commented on #57964
@marc-bouvier Just following up here... Hope my previous comment clears things up.

[2020-06-30 09:28] pauldj54 commented on #58124
Hi,
I already solved the issue. I had to remove the deprecated azure-cli-iot-ext as follows:
`az extension remove --name azure-cli-iot-ext`
Now is working as expected.

[2020-06-30 09:28] #58124 closed

[2020-06-30 10:03] KrishnaG-MSFT commented on #58122
@abhinavdawra Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-30 10:08] cstainie opened #58127 "ARM Example - API Version"
Dear,

It seems the apiVersion used in the ARM example is not documented in the ARM template reference doc.
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/allversions

Where can I find information on this version?

Kind regards,
Cédric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: babaec3b-2c19-c6

[2020-06-30 10:08] SadiqhAhmed-MSFT commented on #58120
@Klaas- Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-06-30 10:11] pvrk commented on #58120
@Klaas- : Unfortunately, the script is not hosted on github and reviewed by the engineering team. May I know, if you have any concerns due to which you were planning for a review? Or any proposals?

[2020-06-30 10:17] KrishnaG-MSFT commented on #58033
Tagging @mumian for visibility and to help provide insights.

[2020-06-30 10:29] KrishnaG-MSFT commented on #57838
@rboucher Assigning it to you as this is internally being taken care by you. Thanks. 👍

[2020-06-30 10:33] julioas09 opened #58128 "The threshold line example is not working"
Hi, the Threshold line example is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8d99d3-7106-b698-8b25-048e700856af
* Version Independent ID: acea573d-f161-fd32-6eaf-1546c5682b74
* Content: [Creating charts and diagrams from Azure Monitor log queries - Azure Monitor](https://docs.microsoft.com/en-us/azur

[2020-06-30 10:35] ram-msft commented on #57813
@trevorbye Could you please update the note in the following [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-setup-speech-sdk#create-the-project-and-select-the-target-architecture)section.
![image](https://user-images.githubusercontent.com/49180516/86116618-5dae3400-baeb-11ea-992c-56460b5cc219.png)

[2020-06-30 10:48] atrauzzi commented on #58112
I think you guys are going to have to take a more holistic look at this. This isn't about a single document. But the availability of this document has resulted in other parts of the Azure ecosystem treating it as the canonical reference to answer just about any question about instrumentation for Monitor. When really is not very helpful for a number of reasons.

[2020-06-30 10:57] Vegas588 opened #58129 "Provide permissions needed to migrate data"
You must include somewhere the exact roles and permissions needed for the Data Migration Service to connect to an on-premise MongoDB service. We are doing a POC for a client now and are struggling badly because there is no documentation on the permissions needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e862b15-

[2020-06-30 11:02] Bart-Hoofd opened #58130 "Please update "Unexpire Password" details"
See result of feedback here: https://github.com/MicrosoftDocs/azure-docs/issues/55262. This result is not clearly reflected in the documentation.
- The extended "Unexpire-password" can only be delegated from the root, not sub OUs.
- The permissions are already present by default, granted to Authenticated Users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-06-30 11:05] shashishailaj commented on #58123
@mavusi Thank you for your query. We will investigate and update the thread further.

[2020-06-30 11:08] sormita opened #58131 "Not able to execute the script enable-monitoring.ps1 successfully"
I followed the instructions given in this document to populate the variable in order to run the script enable-monitoring.ps1. However, I am getting the following error while trying to run the script:
"Close other powershell logins and try installing the latest modules forAz.Accounts in a new powershell window: eg. 'Install-Module Az.Accounts -Repository PSGallery -Force'"
When I tried to do 'Insta

[2020-06-30 11:18] BhargaviAnnadevara-MSFT commented on #58114
@pnarsi Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-30 11:32] shashishailaj commented on #58130
@Bart-Hoofd Thank you for your feedback . The previous thread is in the backlog of the content author and they will be working on it. We will engage with the content authors on this one as well . This will take some time to update the documentation as it needs involvement of backend product team as well . However this and the older issues are in the content teams backlog and will be worked upon in

[2020-06-30 11:34] shashishailaj commented on #58130
@iainfoulds Could you please review this request and see how best the document can be improved ? This is related to MicrosoftDocs/azure-docs#55262

[2020-06-30 11:36] shashishailaj commented on #58119
@BASFmthibodeaux Thank you for your feedback . We will investigate and update the document

[2020-06-30 11:36] BhargaviAnnadevara-MSFT commented on #58112
@atrauzzi Thank you for the insights. We understand the confusion this is causing and will do our best to make the content clearer.
Looping in @mrbullwinkle to provide any inputs and evaluating overall content enhancements.

[2020-06-30 11:36] steveculshaw opened #58132 "Any details on the authentication options"
[Enter feedback here]
Are there any details on the authentication used in the call to the nested logic app?
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#create-nested-logic-apps

The "raw" HTTP action has got an option to select the various authentications options; Managed Identity, Basic Auth, etc.

But the Logic App action only has an option for Header ... nothing a

[2020-06-30 11:53] Klaas- commented on #58120
Have you thought about putting the script into an RPM and putting it into https://packages.microsoft.com/ ? I don't like the non-versioned get-by-url part of this script. Makes it hard to roll back to an older version if problems arise etc.

[2020-06-30 11:54] eshy commented on #57544
The instructions to turn the spending limit on, once you get to the azure subscription in billing + cost management are:

There is no banner, or any mention of a spending limit on that page, I couldn't find anything anywhere else in that section. So, it's not clear how you can turn on spending limit

[2020-06-30 12:06] KrishnaG-MSFT commented on #58128
Hello @julioas09, Thanks for reaching out! As shown in below screenshot, it is working for me. When you say it's not working, can you explain with provide more details / deeper context so that it will help to diagnose and troubleshoot the issue in a better way?

![image](https://user-images.githubusercontent.com/45988031/86124020-167a7000-baf8-11ea-94f7-de2cc56842e7.png)

[2020-06-30 12:08] atrauzzi commented on #58112
I think it's particularly important to address the lack of some kind of agent/forwarder option for portable formats.

The concern right now is that Azure is attempting to provoke a lock-in scenario by forcing people to install haphazardly maintained SDKs.

[2020-06-30 12:15] KrishnaG-MSFT commented on #58131
@sormita Thanks for the comment.
@ganga1980 Any insights on this?

[2020-06-30 12:17] KrishnaG-MSFT commented on #58108
@dbrennan Thanks for the feedback.
Assigning @craigshoemaker for visibility, review and document enhancement consideration as appropriate.

[2020-06-30 12:20] KrishnaG-MSFT commented on #58124
@pauldj54 Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-06-30 12:26] MonikaReddy-MSFT commented on #57976
@cweining  - Thank you for providing your insights.
@itsjusth - I hope @cweining has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-30 12:26] #57976 closed

[2020-06-30 12:33] XchangeVisions opened #58135 "Copy Data Activity failes on datatype uniqueidentifier when Staging is enabled and no column mapping configured."
Using Azure Data Factory Copy Data Activity from Azure SQL Database to Azure Synapse Analytics.

The Copy Data Activity failed with InvalidCastException error 'The given value of type String from the data source cannot be converted to type uniqueidentifier of the specified target column.'.

This happens when Copy Data Activity is configured with Staging Enabled but without explicit mapping configu

[2020-06-30 12:36] cwang25 opened #58136 "This page instruction is outdated"
This page instruction is outdated. I followed FTP instruction to deploy, the actual Azure page never updates nor error logs being outputs and the page stuck on default page :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6924846-3993-db7f-92c2-96a069bda515
* Version Independent ID: b0ec25d1-8ea8-c0e4-304d-ab03692fa8

[2020-06-30 12:37] abarqawi opened #58137 "should add command for connect and download kubeconfig"
[Enter feedback here]
please mention that you need to run >>	az aks get-credentials --resource-group myResourceGroup --name myAKSCluster
to be able to connect to AKS cluster
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df

[2020-06-30 12:44] KrishnaG-MSFT commented on #58135
@XchangeVisions [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I sugg

[2020-06-30 12:47] robmacf commented on #57887
Thanks, that article linked under "What is Passwordless?" is exactly what I was looking for. I didn't see the link until you pointed it out - I was looking for wording like "how it works" or" behind the scenes."

If I could make one small suggestion, better link text would be "Learn how passwordless authentication works"; this would also be more consistent with the wording of the other two links.

[2020-06-30 12:53] VitalyMCT commented on #57997
I saw that requirement too and have been following it. Still not working.
Can you repro and/or check with the product team?

On Tue., Jun. 30, 2020, 5:00 a.m. Chenye Zhu, <notifications@github.com>
wrote:

[2020-06-30 12:54] PramodValavala-MSFT commented on #58116
@Hakuroda Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-06-30 12:57] XchangeVisions commented on #58135
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-schema-and-type-mapping

[2020-06-30 13:06] PramodValavala-MSFT commented on #58117
@Cogax Thanks for catching that! `SqlConnection` is a bad example here considering the library implements connection pooling by default.

A better example could be `DocumentClient` I suppose. We will work up a PR to update the doc accordingly.

[2020-06-30 13:19] PramodValavala-MSFT commented on #58026
@alexchen2016 While the app setting does work for all versions of azure functions, application insights is the way to go from v2 on wards.

In case of v1, this is setting is required as application insights is not supported.

[2020-06-30 13:21] shaaga opened #58140 "Warning to set the Azcontext to the required subscription"
Hi,

I feel it would be good if we have an extra warning before the first set of powershell commands saying that we should pre set the context in the powershell to the required subs using "Set AzContext -SubscriptionId "<subscription_id_of_the_vnet>".

I worked for the first time on azure powershell today for creating an express route gateway and was lost when I got below error while trying to fet

[2020-06-30 13:35] RyanHill-MSFT commented on #58136
Can you tell us what framework you were trying to FTP to your app service @cwang25?

[2020-06-30 13:50] cstainie opened #58141 "Clarify how messages are cleared from a failed over EH"
Can you clarify how the messages that are stuck on an Event Hub that needed to be failed over can be 'pulled' as described in step 2 from the failover process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 863a845f-4b06-126e-3cd3-88875fadf8e4
* Version Independent ID: 2ab93b2c-5796-1623-3396-f294d9c469b5
* Content: [G

[2020-06-30 14:02] markgar opened #58143 "HIPPA"
I think that it is spelled HIPAA not HIPPA.

https://www.cdc.gov/phlp/publications/topic/hipaa.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9b3f74-15bd-3e7c-0cc1-d4f4b83a555f
* Version Independent ID: 3aef1f00-b348-4ff6-431a-d0b5fc943352
* Content: [Azure Firewall certifications](https://docs.microsoft.com/en-

[2020-06-30 14:06] mrbullwinkle commented on #58112
adding @DawgFan

[2020-06-30 14:21] tajaber opened #58144 "Is it a must to be domain joined"
Hi,
On article https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#azure-ad-connect-server
it is mentioned: This server **must be domain joined** and may be a domain controller or a member server.

while on this article we have a table that explain some options when the server is  **standalone/workgroup machine**

Can you please clarify if AAD Connec

[2020-06-30 14:22] ram-msft commented on #57900
I have raised a #https://github.com/MicrosoftDocs/azure-docs-pr/pull/120659 for the same. @sanpil Can you please check on this.

[2020-06-30 14:24] Trimack opened #58145 "Errors in the snippets for connecting to AKS via SSH"
1. The page https://docs.microsoft.com/en-us/azure/aks/ssh has this snippet:
[code]
The dollar sign $ should presumably be on the left-hand side to create a new variable.

2. The snippet:
[code]
fails to evaluate with AZ CLI v2.4.0 with errors along the lines of:
[code]

A successful version of the snippet's last argument looks like this: ` "{'username':'azureuser','ssh_key':'$(cat ~/.ssh/id_rsa.p

[2020-06-30 14:24] #57900 closed

[2020-06-30 14:25] vipulsparsh commented on #57820
@ericthomas1 Azure Security Center standard tier is protecting Azure Storage, blob files uploaded to Azure Storage. They produce telemetry streaming logs. In many cases the stream operation logs contain hashes related to the blobs. These hashes are compared using Microsoft's Threat Intelligence to do hash reputation analysis looking for viruses, trojans, spyware and ransomware.

When a match is fo

[2020-06-30 14:36] #52792 closed

[2020-06-30 14:37] tohnperfect opened #58146 "Cannot upload data to the custom vision project"
Package Name: azure-cognitiveservices-vision-customvision
Package Version: 3.0.0
Operating System: Ubuntu 18.04
Python Version: 3.6.9

I got this error:

`msrest.exceptions.SerializationError: Unable to build a model: Unable to deserialize to object: type, AttributeError: 'ImageFileCreateEntry' object has no attribute 'lower', DeserializationError: Unable to deserialize to object: type, AttributeE

[2020-06-30 14:39] cqueern opened #58147 "Instance Metadata Service versioning"
The page reads:

Is that true today? If not, suggest updating the page accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service - Azure Windows Virtual Machines](https://doc

[2020-06-30 14:48] mrbullwinkle commented on #58112
RE: comment from @reyang: > `@lzchen` `@ramthi` need to replace my alias with yours for https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/opencensus-python.md.

the metadata has now been updated to point to lzchen the change is merged internally and will go-live between 10-11 AM UTC-7.

[2020-06-30 14:49] SaurabhSharma-MSFT commented on #58132
@steveculshaw Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 14:56] pvrk commented on #58120
This was a conscious decision to make sure all customers use the same version and using this (aka) way was the easiest and fastest. Because we are GA service, we are very wary of changes going in and the focus is not to break any existing configuration. If you are not able to configure backups due to a bug/issue in the script, that will be taken up with very high priority, fixed and relayed to cus

[2020-06-30 15:00] richmhouse opened #58148 "Say Exactly How to Deploy an Asp.Net Core 3.1 Angular SPA With Identity to a Linux App Service"
The Visual Studio 2019 template for Asp.Net Core 3.1 Angular SPA With Identity works fine in development. However it does not deploy out of the box to a Linux Azure App Service (at least not in a working state).  Please specify the exact steps a developer needs to take to get the template app working in Azure or change the template so it works out of the box. It would be good if Microsoft could en

[2020-06-30 15:09] SnehaAgrawal-MSFT commented on #57741
@DhruvKinger Just checking if you have chance to see above response.

[2020-06-30 15:10] Klaas- commented on #58120
if you argument like that, then why does Microsoft version windows updates? :D

In any case, just note that having a properly signed rpm would be nicer for security-aware customers, I can live with this for now but it means I'll have to version it myself in my automation environment.

Greetings
Klaas

[2020-06-30 15:10] #58120 closed

[2020-06-30 15:11] beachseeker opened #58149 "Incorrect link in Point in time restore section."
The link for REST API in the Point-in-time restore goes to a generic page which appears to have no relevance to Point in time restores.  Please point the link to the proper documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de79f464-39dc-a5ad-0d9d-fab2ed248222
* Version Independent ID: 6cf17fc7-3bdd-c419-8d9

[2020-06-30 15:12] jstawski commented on #57254
Thank you @BryanTrach-MSFT I didn't know we could create custom roles!

[2020-06-30 15:12] erikanderson commented on #58089
Thank you, I think we will be blocked until the API version for diagnostic settings is updated to support azuread, see https://github.com/Azure/azure-sdk-for-python/issues/12250

[2020-06-30 15:36] pvrk commented on #58120
@Klaas- Sorry if this appeared as an argument. My intent is to assure you that latest versions shouldn't break anything existing. The easiest way for us, as a cloud service, for delivering a light weight script, was this way than providing via RPMs. If you are really looking for versions, the version information is also present in the script. Thanks for understanding.

[2020-06-30 15:40] DhruvKinger commented on #57741
Sorry I just checked it now,I had already solved that so forgot to check it.

Thanks,The way you told me was same in mine case which I used to solve it. thanks a lot.

[2020-06-30 15:42] SatishBoddu-MSFT commented on #57953
@kiranpradeep I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-06-30 15:44] pvrk commented on #58120
@Klaas- Also would like to inform you that I have taken this feedback and informing to the team so that this can be considered in any future design by engineering. Thanks.

[2020-06-30 15:45] MarileeTurscak-MSFT commented on #58144
@tajaber
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 15:48] VikasPullagura-MSFT commented on #58140
@shaaga
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-30 15:48] VikasPullagura-MSFT commented on #58140
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-06-30 15:49] VikasPullagura-MSFT commented on #58115
@lgmorand
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-30 15:49] APIWT commented on #36458
@shubDhond Thank you so much. Can we get an official update on the documentation?

[2020-06-30 15:51] VikasPullagura-MSFT commented on #58147
@cqueern
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-30 15:52] shilpasharmaAM commented on #57611
Based of the https://docs.microsoft.com/en-us/rest/api/servicebus/queues/get

Messages processed: The number of messages in the queue
Active messages processed: Number of the active messages in the queue, topic or subscription

Documentation will be updated to reflect the above, thanks for calling it out.

In terms of the time grain statistics, "Average" indicates that the metrics obtained during

[2020-06-30 15:54] YutongTie-MSFT commented on #58146
@tohnperfect
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 15:57] YutongTie-MSFT commented on #57527
@AmitavaHazra
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-30 15:57] #57527 closed

[2020-06-30 16:02] msmimart commented on #46620
#please-close

[2020-06-30 16:03] DerekHerman-MSFT commented on #57995
@shwetamathur7 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-30 16:03] YutongTie-MSFT commented on #57982
@gitsathish Thanks for the feedback, actually this is not existing in 0.6.0 version anymore. Could you please share the document you are following so that we can fix it?

If you want to use, please install 0.5.0 version, thanks.
pip install azure-cognitiveservices-vision-computervision==0.5.0

[2020-06-30 16:09] asudbring commented on #42472
Here is what it looks like after creation using the article:
![image](https://user-images.githubusercontent.com/26909696/86149889-726dd600-bab1-11ea-8879-1c11a1112bcf.png)

[2020-06-30 16:17] elhorton opened #58154 "add information on property key/value structure"
Hi, we've seen some customer issues recently where it was unclear how empty string or null values for properties should be handled. Below is the official policy from Hub team, which informs how the SDKs parse this information. Could this information be published in these samples please? Thanks!

Here is the current convention for C2D message property key/value pairs:
1.	If there’s no `=`, assume n

[2020-06-30 16:18] rfrankeny opened #58155 "Git errors during tutorial"
When I get to the step "Push to Azure from Git" I am getting errors.  When I do the command:
git remote add azure <deploymentLocalGitUrl-from-create-step>

I get:
fatal: Not a git repository (or any parent up to mount point /home/bob)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

To try and alleviate this error I did a "git init" command.  I then rerun the above comma

[2020-06-30 16:21] mpchen opened #58156 "expected behavior of adding new policies to an initiative"
[Enter feedback here]

What is the expected behavior of adding new policies to an initiative that is assigned? Will the newly added policies get automatically assigned? Or I need to re-assign the initiative for the new policies to take affect?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68937d84-5e47-4f20-7

[2020-06-30 16:21] #58071 closed

[2020-06-30 16:23] DCtheGeek commented on #58156
#assign:DCtheGeek

[2020-06-30 16:23] NavtejSaini-MSFT commented on #58149
@beachseeker  We are checking this and will get back to you.

[2020-06-30 16:25] GiftA-MSFT commented on #58071
@dargilco thanks for the feedback, we have updated the document accordingly including [[58070](https://github.com/MicrosoftDocs/azure-docs/issues/58070)], [[58072](https://github.com/MicrosoftDocs/azure-docs/issues/58072)].

[2020-06-30 16:25] DCtheGeek commented on #58156
@mpchen Thanks for the question.  Per the [evaluation triggers](https://docs.microsoft.com/azure/governance/policy/how-to/get-compliance-data#evaluation-triggers), when an initiative that is already assigned is updated, the evaluation cycle and timing is the same as if it was assigned to a new scope (~around 30 minutes to apply, then the evaluation cycle starts).  Let me know if that answers your

[2020-06-30 16:26] GiftA-MSFT commented on #58072
@dargilco this issue will be resolved along with the above referenced issue. Thanks.

[2020-06-30 16:26] #58072 closed

[2020-06-30 16:26] GiftA-MSFT commented on #58070
@dargilco this issue will be resolved along with the above referenced issue. Thanks.

[2020-06-30 16:26] #58070 closed

[2020-06-30 16:30] GiftA-MSFT commented on #58075
@xiaojul please review above feedback along with [[58076](https://github.com/MicrosoftDocs/azure-docs/issues/58076)], [[58073](https://github.com/MicrosoftDocs/azure-docs/issues/58073)].

[2020-06-30 16:31] GiftA-MSFT commented on #58076
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-30 16:31] #58076 closed

[2020-06-30 16:31] GiftA-MSFT commented on #58073
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-30 16:31] #58073 closed

[2020-06-30 16:32] JonesMikael opened #58157 "What happens if you change to "Do not allow users to create app passwords to sign in to non-browser apps""
I think it would be good to clarify on this page what happens if you change to **(o) Do not allow users to create app passwords to sign in to non-browser apps** after the fact and you know if you have users that use app passwords. Will this instantly block all those users using it today or will the continue to work and only block creation of NEW app passwords?

---
#### Document Details

⚠ *Do not

[2020-06-30 16:32] msmimart commented on #48856
@Oppedijk, just wanted to follow up. I'll go ahead and close this for now, but if you have additional info or suggestions for this, please don't hesitate to let me know. #please-close

[2020-06-30 16:32] #48856 closed

[2020-06-30 16:32] astaykov opened #58158 "Remove the confusing information about custom domain name on step 6"
Please remove the very confusing information regarding custom domain name in step 6:

This information seems to be carried over from general Azure AD, but has little to no relevance to Azure AD B2C. Customers cannot just add custom domain domain name to Azure AD B2C tenant to be used for B2C flow. This feature is in development. Please refer to the following items for reference:

 * https://feedba

[2020-06-30 16:33] mpchen commented on #58156
Thanks @DCtheGeek. This answers my question.

[2020-06-30 16:33] #58156 closed

[2020-06-30 16:34] SquirrelAssassin commented on #7926
So why cant I make a custom role or definition for microsoft.directory/devices/bitLockerRecoveryKeys/* which seems to be whats required?

[2020-06-30 16:35] MarileeTurscak-MSFT commented on #58158
@astaykov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 16:36] jtuliani opened #58159 "Azure NAT"
How come you have a dedicated service all about outbound connectivity (Azure NAT) yet it is not discussed on this doc page which is all about...(wait for it)...outbound connectivity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-16e2-1916-427

[2020-06-30 16:37] YutongTie-MSFT commented on #57982
@gitsathish
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-30 16:37] #57982 closed

[2020-06-30 16:38] BhargaviAnnadevara-MSFT commented on #58113
Adding @DawgFan

[2020-06-30 16:44] ChristopherGLewis opened #58160 "Descriptions are often missing a WHY"
There are a significant number of Polices in Azure that cover a wide range of areas in Azure, and I've always taken each policy as a "Best Practice" implementation.  The Descriptions of the polices typically tell what the policy does and I've been content with that.

However, recently I've had a customer ask me WHY? on a given policy, and I started to think that yes, in general, most policies are

[2020-06-30 16:45] asudbring commented on #58159
Hi @jtuliani
We are currently doing a rework of the outbound connections document to include the NAT service.  We are currently working through the organization and reworking some of the concepts.  We are targeting to publish by End of month July.

Thanks!
allen

#please-close

[2020-06-30 16:45] #58159 closed

[2020-06-30 16:48] KrishnaG-MSFT commented on #58135
@XchangeVisions Sure. Thanks for sharing the link of the question that was raised in Microsoft Q&A. This would help broader audience who might be looking for update on similar issue.

[2020-06-30 16:48] #58135 closed

[2020-06-30 16:48] jtuliani commented on #58159
Great to hear your working on it. In the meantime, this has cost me **hours** today. And your update is still a month away.

Surely it would only take 5 minutes to add a note to the page referring to https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview and to explain this provides another option for outbound connectivity?

[2020-06-30 16:50] DCtheGeek commented on #58160
@ChristopherGLewis Thanks for the feedback! We've been improving the language in the description fields, but we still have a ways to go before I'll be satisfied with them. These descriptions come from the source, which we publish in GitHub (https://github.com/azure/azure-policy). If you have specific definitions you'd like to see improved, please open an issue there and it'll get routed to the own

[2020-06-30 16:50] #58160 closed

[2020-06-30 16:50] SnehaAgrawal-MSFT commented on #57834
@DaveSlinn Thanks for the feedback! The documentation doesn’t discuss an A record because there shouldn’t be a tight dependency on the IP address. The documentation tells you to configure a CNAME pointing your custom domain name to the default domain name of the static website. That name is in the Microsoft-owned DNS space and the A record is maintained by us.

[2020-06-30 16:50] SadiqhAhmed-MSFT commented on #57765
@trstroem Hope the previous response helped answer your question. Let us know if you have questions, if not, we will go ahead close this thread.

[2020-06-30 16:59] SadiqhAhmed-MSFT commented on #57570
@dedvds  @xavbx33 If you are using POWER BI TEMPLATE APP for ACM connector, We have couple of customers reporting similar error.
The customers while setting up the cost management app updates the last parameter “Scope” with their enrollment number value instead of string “Enrollment Number”. Due to this the code just fails saying required parameter is missing.

This is not only initial setup but c

[2020-06-30 16:59] KranthiPakala-MSFT commented on #58121
@ElectricLlama
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-30 17:00] leoscricca opened #58162 "DotLiquid version?"
- Is DotLiquid kept up to date?
- What is the version of the current Logic Apps-Liquid connector?
- Is the "Where" filter implemented in this Liquid connector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a474
* Content: [C

[2020-06-30 17:01] #57856 closed

[2020-06-30 17:01] KranthiPakala-MSFT commented on #58127
@cstainie Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-30 17:01] RohitMungi-MSFT commented on #57830
@bignorm64 We have reviewed this behavior internally with our product team. The labeling tool will use only a single format that is selected while training, if the model is trained with documents of different formats the format selected in the tool during training will be the global format that will be returned in the value date. In this case it looks like MDY.

As per the current functionality of

[2020-06-30 17:02] mmacy commented on #53882
@andrewcrayden In addition do the sample mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/53882#issuecomment-651301493, here's another one that might be worth checking out:

https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi

[2020-06-30 17:03] KranthiPakala-MSFT commented on #58141
@cstainie
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-06-30 17:06] diegocaracciolo opened #58164 "Correcting link"
Under the section "Best practices to optimize provisioned throughput", bullet 2 has a link to "Optimizing the cost of queries", but the actual link takes you to https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-restore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3442e3f3-adb5-0632-0af6-d3b2440657eb

[2020-06-30 17:06] baanders commented on #58124
@pauldj54  Thank you for the description of and resolution for this issue! I have updated the doc to add a check for the legacy extension and instructions to remove.

[2020-06-30 17:07] sujitks opened #58165 "Example missing for mounting storage account over private link"
Hi,

We are trying to setup a private link by using private endpoint to access storage account into different tenant and subscription from DataBricks notebooks.

When we try to mount the storage account over the private link it fails and complains about authorisation error.

Can you please suggest what should be fqdn for key url when using the private link?

---
#### Document Details

⚠ *Do not ed

[2020-06-30 17:10] DawgFan commented on #58112
@atrauzzi I wasn't aware this had become a canonical reference for Open Source instrumentation. Who is directing you to this document -- we can align internally.

This is only meant to cover our Python-OC scenario, which is our first SDK that uses an open source standard. We are in the process of re-basing our SDKs in Open Telemetry (the next incarnation of OC), but as you note, it's half-baked (m

[2020-06-30 17:14] atilaca commented on #45574
Same error here. Any news guys?

[2020-06-30 17:31] craigshoemaker commented on #24702
I have updated the article to add detail around content type requirements for non-C# functions and known issues.

#please-close

[2020-06-30 17:31] #24702 closed

[2020-06-30 17:32] KumariSupriya commented on #58147
Yes it's true as we still have a tail end of the deployment and close to 99.9 % but not 100% complete in all regions.

[2020-06-30 17:46] VYSAKH1 opened #58166 "Upgrade 12 SP3 to 12 SP4 and then 15 SP1"
[Enter feedback here]
I know that the title says  upgrade 12 SP4 to 15 SP1. How about images running with older Service Packs (eg. SP3) . Can they be migrated to 12 SP4 and later to 15 SP1 ? I have few machines provisioned originally with SP3 and migrated to SP4. But they fail to migrate to 15 SP1 using the above steps. Is this doc strictly for machines running with SP4 ?

---
#### Document Detail

[2020-06-30 17:48] kenotron opened #58167 "The doc is for .net core 3.x but the tutorial isn't updated"
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp?view=aspnetcore-3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Add sign-in with Microsoft to ASP.NET Core w

[2020-06-30 17:51] dargilco opened #58168 "There is no version named "sentiment" in the JSON file"
Regarding this
"From the Manage section, on the Versions tab, select the sentiment version, then select Clone to clone the version, "

The app JSON file mentioned in the text (link: https://raw.githubusercontent.com/Azure-Samples/cognitive-services-language-understanding/master/documentation-samples/tutorials/machine-learned-entity/pizza-intents-only.json) does not have a version named "sentiment"

[2020-06-30 17:51] kenotron commented on #58167
blocked: https://github.com/AzureAD/microsoft-identity-web/issues/126

[2020-06-30 17:51] #58167 closed

[2020-06-30 17:53] BryanTrach-MSFT commented on #58148
@richmhouse Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-30 17:54] BryanTrach-MSFT commented on #58155
@rfrankeny Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 17:56] epomatti commented on #57611
@shilpasharmaAM thanks for the response

Still not clear to me, I don't understand what "active" means, and if a message is "processed", what is still in the queue?

Can we get more clarification?

[2020-06-30 17:57] DaleKoetke commented on #57378
Metric data storage in the Application Insights log store can be saved for up to 730 days.  Metric data in the Azure Monitor metrics store is only stored for 90 days,

[2020-06-30 18:01] YutongTie-MSFT commented on #58168
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 18:01] sethmanheim commented on #55075
Hi @mb16 and thanks for your feedback. This tutorial has recently been updated so can you please check again and reopen this issue if there is still a problem? Thank you again! #please-close

[2020-06-30 18:01] #55075 closed

[2020-06-30 18:02] dargilco opened #58169 "Change "'Save" to "Create""
Regarding this:

"4 . In the Create new phrase list box, enter the name SizePhraselist then enter values of: small, medium, and large. When the Suggestions box fills in, select extra large, and xl. Select Save to create the new phrase list."

Instead of "Select Save" is should say "Select Create". There is no Save button. There is a "Create" button.

---
#### Document Details

⚠ *Do not edit this

[2020-06-30 18:02] SubhashVasarapu-MSFT commented on #58143
@markgar , Thanks for reaching out. We will investigate and update this thread.

[2020-06-30 18:04] sethmanheim commented on #54472
@ederbond Thank you for the feedback and sorry for the delay. I am in the process of fixing this and the update should be published later today or tomorrow. Thank you again! #please-close

[2020-06-30 18:04] #54472 closed

[2020-06-30 18:08] MarileeTurscak-MSFT commented on #58157
@JonesMikael
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 18:09] SaurabhSharma-MSFT commented on #57770
@priyankareddy20  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-30 18:09] mmacy commented on #57863
@manikandantk88 Thanks for bringing this to our attention. It's not currently clear from that section's heading, but "interactive" as it's referred to here is relating more to _interactive_ versus _silent_ login--whether the user is (or is not) prompted to sign in--as opposed to a type of token grant flow.

I'm going to leave this one open for now until I/we get a chance to add some clarification,

[2020-06-30 18:10] sethmanheim commented on #48727
@codebeaulieu Sorry for the delay, please let us know if this is still an issue. #please-close

[2020-06-30 18:10] #48727 closed

[2020-06-30 18:10] str1ke-cw commented on #57689
@SatishBoddu-MSFT thank you for your reply. Please, see below for my answers and further questions.

According to the logs: "Starting Azure Blob Storage on IoT Edge, version 1.2.0.0."
The docker image is tagged as "latest".

`http;BlobEndpoint=http://AzureBlobStorageonIoTEdge:11002/<name>;AccountName=<name>;AccountKey=<key>`

I used the Azure Python SDK and it failed with the same error. I haven't

[2020-06-30 18:13] dargilco opened #58170 "Missing instruction to select the List option"
Regarding this section:

"1. Select Entities from the left menu then select + Create.

2. Set the entity name as SizeListentity so it is easy to identify when compared to the SizePhraselist created in the previous section.

3. Add the sizes the client application expects: Small, Medium, Large, and XLarge then add synonyms for each. The synonyms should be the terms that a user enters in the chat bo

[2020-06-30 18:16] dargilco opened #58171 ""Select @SizeListentity" instead of "Select @SizeList"."
Regarding this:

"Add feature of SizeList entity
Select Entities from left menu to return to the list of entities.

Select Order from the list of entities.

On the Schema and features tab, select the Size entity, then select + Add feature.

Select @SizeList from the drop-down list."

It should say "Select @SizeListentity" instead of "Select @SizeList". The instructions above ask us to name it "Siz

[2020-06-30 18:25] atrauzzi commented on #58112
Hey Matt, thanks for jumping in, nice to meet you as well.

My apologies, I've only just started tracking the incidences this morning (out of frustration as I was looking for options) in a gist as I start gathering more meta-info on this topic.

Just now however during an Azure Monitor AMA, I was directed again to the python specific implementation: https://techcommunity.microsoft.com/t5/azure-mon

[2020-06-30 18:27] mimckitt commented on #49190
#reopen

[2020-06-30 18:27] dedvds commented on #57570
@SadiqhAhmed-MSFT , Many thanks for the response, but I have checked this and still we got the error.

[2020-06-30 18:35] craigshoemaker commented on #31958
This article is now updated with the feedback provided above. The live site will update with the next public content refresh.

#please-close

[2020-06-30 18:36] sethmanheim commented on #56282
@marstr Please take a look. Thanks!

[2020-06-30 18:45] mumian commented on #58042
@steveculshaw - the article has been updated.

#please-close

[2020-06-30 18:45] #58042 closed

[2020-06-30 18:53] Mike-Ubezzi-MSFT commented on #58164
@diegocaracciolo Thank you for bringing this to our attention. It should link to: [Optimize query cost in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/optimize-cost-queries), which can be found in the [Next Steps](https://docs.microsoft.com/en-us/azure/cosmos-db/optimize-cost-throughput#next-steps) section. I will have a PR submitted to correct the link.

[2020-06-30 18:58] dlepow commented on #57954
@cveld - Thanks for pointing out this issue. I will update the article to note the current requirement for using the admin account with an app service.
#in-progress

[2020-06-30 18:58] stevestein commented on #57703
@MikeWilcoxMicrosoft - thanks for pointing this out.   I'll update the script and circle back....

[2020-06-30 19:12] Mike-Ubezzi-MSFT commented on #58164
@diegocaracciolo This issue has been corrected and will be live in the next 24hrs.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-30 19:12] #58164 closed

[2020-06-30 19:15] cwang25 commented on #58136
I'm using Node 10LTS framework.

The files I copied to FTP is files generated via "npm run build"
I also followed the documentation to create Web.config as well.

[2020-06-30 19:18] kenwith commented on #57943
Checking with product team to find out about tooltips. In my test I am seeing the 219x219 so need to find out where the tooltip comes from and why there could be a different one as shown in screenshot above.

Also checking with the authors of the referenced /develop article about the 94x94 pixels and what that means. I submitted a PR (referenced above) to remove the 94x94 unless there is a reason

[2020-06-30 19:25] julieMSFT commented on #56794
@Robert-Kostecki Hi Robert, the [CREATE TABLE (Transact-SQL) IDENTITY (Property)](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql-identity-property?view=sql-server-ver15#remarks) remarks section lists the things that are not guaranteed with identity. Values being consecutive is one of the constraints. I do understand your concern that it does not appear that there i

[2020-06-30 19:25] julieMSFT commented on #56794
#https://mseng.visualstudio.com/TechnicalContent/_boards/board/t/SQL/Stories/?workitem=1742354

[2020-06-30 19:26] julieMSFT commented on #56794
#please-close

[2020-06-30 19:26] #56794 closed

[2020-06-30 19:27] TravisCragg-MSFT commented on #58056
@vishwanath-uppala [IP Groups in Azure Firewall is Generally Available Today](https://azure.microsoft.com/en-us/updates/azure-firewall-july-2020-update/). Your timing is fantastic!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-30 19:27] #58056 closed

[2020-06-30 19:29] MashaMSFT commented on #57546
Hi @NWiddup, thanks for contacting Microsoft and I apologize for the delay. Would you please mind providing a screenshot of how you're using the Az CLI in the portal to install the SQL IaaS extension?

Thanks!
Masha from the SQL Docs team

[2020-06-30 19:32] TravisCragg-MSFT commented on #57719
@jayhallsworth We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-30 19:32] #57719 closed

[2020-06-30 19:38] AjayKumar-MSFT commented on #57733
@LarsKemmann,  You could find the approach outlined in this [documentation-](https://docs.microsoft.com/azure/data-factory/data-factory-service-identity) When creating a data factory, a managed identity can be created along with factory creation. The managed identity is a managed application registered to Azure Active Directory, and represents this specific data factory. This article helps you und

[2020-06-30 19:38] #57733 closed

[2020-06-30 19:38] julieMSFT commented on #54694
@atrauzzi HI Alexander, I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-06-30 19:38] julieMSFT commented on #54694
#please-close

[2020-06-30 19:38] #54694 closed

[2020-06-30 19:41] AjayKumar-MSFT commented on #57930
I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for the feedback!

[2020-06-30 19:46] rachel-msft commented on #55607
The discrepancy occurred during the rollout time frame of the TLS features.
1) By default, Postgres servers enforce secure protocol connections. This is controlled by an on/off switch. For historical reasons this switch has the word SSL in its name.
2) You can select the minimum TLS version your client should support: https://docs.microsoft.com/azure/postgresql/howto-tls-configurations

[2020-06-30 19:46] ahyerman opened #58173 "Databricks gives me a link to a dead page when I try to use pip/conda commands."
When running pip/conda commands on Databricks runtime 7 ML I get the following exception:

org.apache.spark.SparkException: %pip/%conda commands are currently in public preview. To enable this feature, see https://docs.microsoft.com/azure/databricks/notebooks/notebooks-python-libraries.html#enable-pip-and-conda-magic-commands

The url is incorrect and points to a missing page. THe correct link is:

[2020-06-30 19:48] HenryLGatesFoundation opened #58174 "Question withdrawn"
Question withdrawn.

[2020-06-30 19:53] #55607 closed

[2020-06-30 19:55] tomresing opened #58175 "Add a note on bias free communication"
Please add a note like the following:

For an example of this note in existing documentation, see [Create users in Azure Database for MariaDB](https://docs.microsoft.com/en-us/azure/mariadb/howto-create-users)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca0a6a40-2dc8-5863-fdb2-e34a704e4889
* Version Independent ID:

[2020-06-30 19:56] AjayKumar-MSFT commented on #58005
Thanks for the update, @patware, the build process creates a function.json file for each function. This function.json file is not meant to be edited directly. You can't change binding configuration or disable the function by editing this file.

The code for all the functions in a specific function app is located in a root project folder that contains a host configuration file and one or more subfo

[2020-06-30 19:56] #58005 closed

[2020-06-30 19:58] #58174 closed

[2020-06-30 19:58] HenryLGatesFoundation commented on #58174
Answer located

[2020-06-30 20:03] solarfusionuk opened #58176 "Line breaks"
Is it possible to add line breaks into the sign-in page text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Content: [Add branding to your organization's sign-in page - Azure AD](https://docs.microsoft.com/en-us/azure

[2020-06-30 20:04] LioDiera opened #58177 "Step 3 Port test"
To what destination endpoints do we test ports 443 and 80? Or is there a utility available that we can use to verify connectivity to the correct endpoints?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 057be820-930e-4a15-fad0-3466f6cb0b13
* Version Independent ID: 4f34c185-0f69-28cf-0292-b721b36

[2020-06-30 20:05] MarileeTurscak-MSFT commented on #57234
Yes, you're right - looking in 1.5.30 build the cmdlet has been updated for descendant groups.

![image](https://user-images.githubusercontent.com/13383753/86171876-50388000-bad2-11ea-8c28-7de3fd320bee.png)

I'm making a pull request to update the documentation. Thanks for pointing this out!

[2020-06-30 20:07] AjayKumar-MSFT commented on #58091
Apologies for any inconvenience or frustration with this issue. Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and update the document as appropriate.

[2020-06-30 20:20] TravisCragg-MSFT commented on #58143
@markgar Thanks for the feedback! I have fixed the spelling, and the docs should update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-30 20:20] #58143 closed

[2020-06-30 20:20] ajfleming1 commented on #58095
My issue was that I did not have CORS enabled correctly at my end point.

[2020-06-30 20:20] #58095 closed

[2020-06-30 20:24] hansenms commented on #57988
#please-close

[2020-06-30 20:24] #57988 closed

[2020-06-30 20:26] hansenms commented on #57896
@Mike-Ubezzi-MSFT, @BharathNimmala-MSFT  this seems to be app service related and not related to Azure API for FHIR.

[2020-06-30 20:31] hansenms commented on #58000
@moiradillon12 will update this in a next round of revisions.

[2020-06-30 20:32] NavtejSaini-MSFT commented on #58149
@beachseeker The REST API link is generic for Databases but you can find the detailed information under "Create/Update" modeule - https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#creates-a-database-from-pointintimerestore.

Hope this helps. We will try to change the link in the document.

[2020-06-30 20:36] AjayKumar-MSFT commented on #57857
@lonpalmer,
The WEBSITE_LOAD_USER_PROFILE=1 in the Azure App Setting requires Basic or higher plan. As mentioned in this [document](https://github.com/projectkudu/kudu/wiki/Configurable-settings#add-user-profile-support-for-a-site), it is only available for sites running in the Basic,Standard, and Premium mode. So Consumption plan do not work.
I believe it would be better to highlight about this s

[2020-06-30 20:50] ajfallasf opened #58180 "AKS + Managed Identity + exiting Virtual Network does not imply to assign a role."
Note about when using your own vnet, ip address or attached disk that are outside of "MC_" resource group it does not specifically imply that you will need to assign roles to access those resources, please specify it and also the link to delegate access for the background does not seems that is a link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-30 20:53] rcabr opened #58181 "Monitor Icons section missing icon"
The first sentence of the "Monitor Icons" section says:

"This icon means that the transformation data was already cached on the cluster, so the timings and execution path have taken that into account:"

But there is no icon displayed.

The image shows a data flow with many shapes, but it is not clear if one of them is the icon mentioned.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-30 20:57] YutongTie-MSFT commented on #58171
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 20:57] smitty-codes opened #58182 "solution patterns diagrams under archiving and reference are identical"
The design diagram under [Archiving real-time data for analytics](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-solution-patterns#archiving-real-time-data-for-analytics) and the one under [Use reference data for enrichment](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-solution-patterns#use-reference-data-for-enrichment) seem to be identical. W

[2020-06-30 20:58] YutongTie-MSFT commented on #58170
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 20:59] #57887 closed

[2020-06-30 20:59] YutongTie-MSFT commented on #58169
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-30 21:00] iainfoulds commented on #57887
The doc link under 'Next steps' has now been updated to make it clearer. This update should publish in the next hour or so Thanks.

[2020-06-30 21:00] rccnw opened #58183 "'Manually install or update Azure Functions binding extensions from the portal' - needs update"
https://docs.microsoft.com/en-us/azure/azure-functions/install-update-binding-extensions-manual

Install a binding extension steps do not correspond with current portal experience.
step 2.  No 'Platform Features' tab any more, but I got past that in to Kudu ok.
step 4 :  there is no 'delete icon next to bin,  (no icon, no bin).
step 5.  there is no 'extensions,csproj' file
I stopped at this point

[2020-06-30 21:03] bandersmsft commented on #57439
#please-close

[2020-06-30 21:03] #57439 closed

[2020-06-30 21:06] Mike-Ubezzi-MSFT commented on #57896
@hansenms This has been identified as a `healthcare-apis` service. It is a tutorial to build a Web Application that makes the below listed call to the FHIR Server. I can step through the tutorial to confirm the issue but there is a call to get patient ('/Patient', 'GET'). Is it greyed out in the portal under app service...? Let me repro this.

* Service: **healthcare-apis**

[2020-06-30 21:06] kainzuu commented on #57579
I am also having a ton of issues with this and can't get the URL Rewrite to work at all.  The documentation is all over the place, but that looks like that is on the path to resolution.

@vpohl What worked finally?  I thought I had done it like you suggested but it is still not working after waiting about 18 hours.  Here is what I did since escaping the slashes caused the issue you mentioned:

![i

[2020-06-30 21:07] mike-urnun-msft commented on #58183
@rccnw Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-30 21:08] mike-urnun-msft commented on #58162
@leoscricca Thank you for your feedback! We will review and update as appropriate.

[2020-06-30 21:12] erhopf commented on #57588
#reassign: @v-demjoh

[2020-06-30 21:15] erhopf commented on #57405
It looks like `RecognizeOnceAsync()` is the method that needs to be referenced in the documentation. @trevorbye is looking into this.

[2020-06-30 21:15] juanren opened #58184 "cannot find "Blob Index tags" option"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 212e4923-c8a9-b800-880a-84d3dc450438
* Version Independent ID: 42c37760-0599-6843-34fa-86eda2cab55e
* Content: [Utilize Blob Index to manage and find data on Azure Blob storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-index-h

[2020-06-30 21:16] YutongTie-MSFT commented on #58169
@dargilco Thanks for the feedback, I have fixed this bug and you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-30 21:16] #58169 closed

[2020-06-30 21:17] steveculshaw commented on #58042
Many thanks

[2020-06-30 21:20] IntegraITManager opened #58185 "Rotation frequency of service/Microsoft managed keys?"
What is the frequency that service-managed (Microsoft-managed) keys are rotated, eg: for Azure Storage?
Required for ISO audit purposes, can't find this info anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Con

[2020-06-30 21:23] mamccrea commented on #58175
Thanks for this feedback, @tomresing. I have made changes in the source. Please allow a few hours for the changes to go live.

#please-close

[2020-06-30 21:23] #58175 closed

[2020-06-30 21:23] YutongTie-MSFT commented on #58171
@dargilco I have fixed the bug and you should see the change soon. Thanks for the feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-30 21:23] #58171 closed

[2020-06-30 21:24] mamccrea commented on #57769
Thank you, @craigjar for your feedback. I have made changes to the article. Please allow a few hours for the changes to go live.

#please-close

[2020-06-30 21:24] #57769 closed

[2020-06-30 21:25] erhopf commented on #56437
#reassign: @v-demjoh

[2020-06-30 21:28] MarileeTurscak-MSFT commented on #57234
Thanks! I made a pull request to add descendant group objects to the table of permissions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/120766

[2020-06-30 21:28] #57234 closed

[2020-06-30 21:28] erhopf commented on #56014
@reassign: @v-demjoh to discuss updates with @rhurey

[2020-06-30 21:31] erhopf commented on #55099
#please-close

We've created an internal work item. Additionally, we've published additional guidance as STT basics. https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-to-text-basics?tabs=import

[2020-06-30 21:31] #55099 closed

[2020-06-30 21:40] xiaojul commented on #58075
addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632

[2020-06-30 21:46] tehyatt opened #58186 "Output binding for blob storage needs documentation for path substitution"
On this page, we see "path": "samples-workitems/{queueTrigger}" but there is no indication as to where the queueTrigger value is coming from.  Or how to change it.

For example, can I somehow set aribitrary values in my function to be injected into the path?  "path": "{containerName}/{queueTrigger}".  How would I set the containerName value?

Perhaps a new guid?  "path": "samples-workitems/{guid}"

[2020-06-30 21:51] chschrae opened #58187 "Device ID should match the other tutorials"
On this page there is a device ID that is "myFirstDevice" and then it says "Change this parameter only if you modified it from the one used in Send telemetry from a device to an IoT hub."

In that sentence the last part is a link to another tutorial where the .Net code names the device "MyDotnetDevice".

They should be consistent throughout the examples.

---
#### Document Details

⚠ *Do not edit

[2020-06-30 21:53] DaveSlinn commented on #57834
My DNS host requires me to set an A record for my custom domain.  In lieu of one, it uses the name "PARK" which doesn't return anything.  In order to get it to work, I had to set it to something - and I just used the IP address from the App Service website I run on Azure.  Seems to have worked.

[2020-06-30 22:13] rboucher commented on #57611
Hi @epomatti .  The concept of "Active messages" is discussed in the Service Bus documentation. @spelluru Can you provide a specific piece of documentation that explains the difference? I went looking and couldn't find it myself. It would also be helpful to update this documentation to mention what the term active means. https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-metr

[2020-06-30 22:15] chmagitt opened #58189 "Issue with authentication: Need admin approval"
Hello

I'm stuck at step "Need admin approval"

This type of credential will cause a browser window to open, asking to provide  Azure credentials
unfortunately I cannot authenticate with my MSFT account
and receive the pop up message

" chmagitt@microsoft.com
Need admin approval
adt-clientapp-cma
adt-clientapp-cma needs permission to access resources in your organization that only an admin can gra

[2020-06-30 22:17] DerekHerman-MSFT commented on #58184
@juanren For preview, you must first register your subscription before you can use Blob Index for your storage account in the preview regions. More info can be found in the document below:

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs

[2020-06-30 22:21] RyanHill-MSFT commented on #58136
@cwang25, can you share your build script that's in your `package.json`? I zipped a server.json and package.json (similar to what's in this [repo](https://github.com/Azure-Samples/nodejs-docs-hello-world)) and was able to successfully run the app after using `az webapp deployment source config-zip` CLI command. I'm using an Linux app service plan that's utilizing Node 10|LTS runtime.

[2020-06-30 22:29] RonnieQuan opened #58190 "Service Bus Outbound Push to Function App"
Does service bus has outbound and push to function app when a message is created?
Does service bus has similar feature like app service vnet integration to allow outbound to reach out to my private endpoint?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c362e8fa-107b-8aa6-ae81-d1d622a74498
* Ver

[2020-06-30 22:33] KranthiPakala-MSFT commented on #58165
@sujitks
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-30 22:36] KranthiPakala-MSFT commented on #58173
@ahyerman Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-30 22:36] gs-repo opened #58191 "Issue setting up peer nodes with /azhlf tool"
I'm running into an issue when trying to join peer nodes:

./azhlf channel joinPeerNodes -o $PEER_ORG_NAME  -u $PEER_ADMIN_IDENTITY -c $CHANNEL_NAME --ordererOrg $ORDERER_ORG_NAME
./azhlf channel setAnchorPeers -c $CHANNEL_NAME -p peer1 -o $PEER_ORG_NAME -u $PEER_ADMIN_IDENTITY

I get the following error:

Error: "targets" parameter not specified and no peers are set on this Channel instance or sp

[2020-06-30 22:44] RonnieQuan opened #58192 "What does fully integration with function mean?"
Does function needs to initiate the request to retrieve the message from the queue.

Or when a message is created in the queue, it will trigger the function app?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3af764-3978-6abe-f756-2c2c4ef47e31
* Version Independent ID: c4dca68a-1c95-42af-9eb3-e

[2020-06-30 22:48] RyanHill-MSFT commented on #57960
Hi @LucaOtto, the screen shot didn't come through in your email. Were there any connections to the db other than your app when you attempted to run `python manage.py migrate`?

[2020-06-30 22:50] KranthiPakala-MSFT commented on #57452
@VitalyMCT After verifying with internal sources it is recommended to use Python 2.7 or 3.5.3+. For more info, please refer to https://github.com/Azure/azure-sdk-for-python

I am still engaging with Internal team to make necessary updates to the doc to reflect correct information.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-06-30 22:50] #57452 closed

[2020-06-30 22:52] dbrennan opened #58193 "Update version of Microsoft.Azure.WebJobs.Extensions.Storage to use for bindings"
Based on setting up a new project with .NET Core 3.1 in VS Code the current version of Microsoft.Azure.WebJobs.Extensions.Storage is 4.0.2 so ideally this page would be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7362b2-b991-a5bb-45e8-1e6d9ebb04d5
* Version Independent ID: 6dd2cefe-f557-0ca9-c8cc-6b0e2f76

[2020-06-30 23:12] YassineSOUABNI opened #58195 "Only "Security Groups" supported for User and Groups assignment"
Dear,

does the Azure AD Automatic user provisioning support only Security Groups (including mail-enabled security groups)
or does it also support the O365 Groups.
Tests show that O365 groups get provisioned to the SaaS Application but since the documentation doesn't clearly state the types of groups supported. Could you please point that out in the documentation ?

---
#### Document Details

⚠ *D

[2020-06-30 23:23] MartinJaffer-MSFT commented on #57795
The updates as per issue #57796 make the versions in this doc, a subset of the others, resolving the conflict.

[2020-06-30 23:23] #57795 closed

[2020-06-30 23:29] Marusyk opened #58197 "Cannot convert anonymous method to type 'IObserver<DiagnosticListener>' because it is not a delegate type"
This code doesn't compile

[code]

Error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c95270-3f41-13fb-5676-f3c61d00e64e
* Version Independent ID: b25b389a-feac-7cf1-b2b7-df0a24fa412a
* Content: [Azure Service Bus end-to-end tracing and diagnostics - Azure Service Bus](https://docs.microsoft.com/en-us/azure/service

[2020-06-30 23:34] mamccrea commented on #58173
Thanks for bringing this to our attention @ahyerman. It looks like .html was appended to the URL in the exception, and you're correct about the correct link. I've opened a ticket to have this fixed.

@KranthiPakala-MSFT - can you please change the label to product issue?

#please-close

[2020-06-30 23:34] #58173 closed

[2020-06-30 23:39] yeswps commented on #57914
@KrishnaG-MSFT
Take your screenshot for example
top chart Network Out Total, Sum, vertically, it jumps between 10MB to 40MB, is this measurement an indication of current throughput of the outbound traffic, which translates to 10MB/s to 40MB/s?
![image](https://user-images.githubusercontent.com/29582257/86187282-6ada1b80-bb09-11ea-9ca8-52c4d3c4d306.png)

On left corner of Network Out Total, Sum cha

[2020-06-30 23:42] jlichwa commented on #47350
Updated #please-close

[2020-06-30 23:42] #47350 closed

[2020-06-30 23:43] JamesTran-MSFT commented on #58087
@RichardSlater
I was able to find some links, which I'll post below. However, I'm not sure if this will completely answer your question. Therefore, I have reached out to our product team regarding your issue and will update you as soon as possible.

Links:
[About Azure Key Vault certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#certificate-policy)
[Mana

[2020-06-30 23:46] mamccrea commented on #58165
Hi @sujitks! Can you please share the error you are getting?

[2020-06-30 23:51] originalnetadmin opened #58198 "Cloud-init removal of default config file from Hyper-V image is missing"
Step 8 to remove cloud-init default configs does not show deletion of /etc/cloud/cloud.cfg.d/subiquity-disable-cloudinit-networking.cfg.

$ cat /etc/cloud/cloud.cfg.d/subiquity-disable-cloudinit-networking.cfg
network: {config: disabled}

This file disables cloud-init networking and must be removed to enable cloud-init to use dhcp in Azure.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-30 23:57] sir-wally opened #58199 "move from per-user MFA to conditional access MFA without forcing all my users to reregister"
Is there a way to move from per-user MFA to conditional access MFA without forcing all my users to reregister?

Per the doc-
If MFA is re-enabled on a user object that already has registration details, such as phone or email, then administrators need to have that user re-register MFA via Azure portal or PowerShell.

Requiring my entire org to reregister would be a daunting task. Hopefully I am mis

[2020-07-01 00:04] mamccrea commented on #58121
Hi @ElectricLlama - please see [Assign users and groups to the application](https://docs.microsoft.com/azure/databricks/administration-guide/users-groups/scim/aad#assign-users-and-groups-to-the-application).

[2020-07-01 00:07] xyz92 commented on #57835
Hi, any updates on this please?

[2020-07-01 00:11] mamccrea commented on #58029
Thanks for the feedback. I've updated the doc. The changes will go live this evening.

#please-close

[2020-07-01 00:11] #58029 closed

[2020-07-01 00:13] Mike-Ubezzi-MSFT commented on #57896
@divurgentuser Did you deploy your web application with an App Service Plan? I believe that might be preventing you from having access to the App Service Editor, which is the case for Linux workloads under the F1 (Free) App Service Plan. Below is the S1 App Service Plan for Windows:

![Screenshot (90)](https://user-images.githubusercontent.com/37126106/86187620-12971f80-baf1-11ea-8656-d47e839b2a55

[2020-07-01 00:13] DNorthcott opened #58200 "Missing step for azure CLI iot extension"
This document requires an additional step for the installation of the the extension azure-cli-iot-ext.

This command needs to be executed before the first step under registering a new IoT edge device section.

az extension add --name azure-cli-iot-ext

If this command is not run and the user does not have the extension installed the following error is thrown by the CLI.

az iot hub: 'device-identi

[2020-07-01 00:13] mamccrea commented on #58027
Hi @Murthy-VVR-BY - which Databricks Runtime are you using?

[2020-07-01 00:17] kokeysian opened #58201 "Missing screenshots and steps."
It appears that the steps was supposed to show the screenshots but the page only shows a text box with a copy button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d74d8a8-30f0-662e-1081-7a471fb2da67
* Version Independent ID: 506d1806-cccf-15c6-52ee-ef7785334808
* Content: [Add your organization's privacy info - Azur

[2020-07-01 00:18] mamccrea commented on #58023
Thanks for your feedback @chrisbabayans! I have updated the doc to make it more clear.

#please-close

[2020-07-01 00:18] #58023 closed

[2020-07-01 00:30] tomresing commented on #58175
That's great news!

[2020-07-01 00:31] msaburnley commented on #54720
Hey @tofusgh Currently there is no set duration and the data is available indefinitely. However, this is subject to change so please keep that in mind. It may not be the case that the data will always be available indefinitely. Thanks for your question and I will be closing this github issue. #please-close

[2020-07-01 00:31] #54720 closed

[2020-07-01 00:37] cwang25 commented on #58136
Do I need to modify anything in package.json ?
(I left package.json as default when I created the project from templates)

`{
  "name": "app",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@drizzle/react-components": "^1.5.1",
    "@drizzle/react-plugin": "^1.5.1",
    "@drizzle/store": "^1.5.1",
    "react": "^16.11.0",
    "react-dom": "^16.11.0",
    "react-router": "^5.1.2"

[2020-07-01 00:38] msaburnley commented on #56605
Hey @ChrisAtMAF we looked into this and tested it on our end, and received an update for the latest What's New release notes for June. I'd suggest to try and set it up again or use a another feeder app. Thanks again for your question. #please-close

[2020-07-01 00:38] #56605 closed

[2020-07-01 00:39] SaurabhSharma-MSFT commented on #58129
@Vegas588 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-01 00:40] SaurabhSharma-MSFT commented on #58191
@gs-repo To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-01 00:43] SaurabhSharma-MSFT commented on #58137
@abarqawi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-01 00:44] SaurabhSharma-MSFT commented on #58145
@Trimack Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-01 00:45] SaurabhSharma-MSFT commented on #58201
@kokeysian Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-01 00:47] bignorm64 commented on #57830
@RohitMungi-MSFT I understand the current behavior but wanted to highlight two things.

1. The documentation has a highlighted note about the formats of values that are acceptable when a date format of DMY is selected but has noting about the formats of values that are acceptable when MDY has been selected which seems to be an omission to me.
2. If a value of '1 JUN 2020', which is a universal way

[2020-07-01 00:48] gs-repo commented on #58191
I’m following steps in this document: https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperledger-fabric-consortium-azure-kubernetes-service#build-the-consortium

The last step in Consortium management commands causes issues. I’ve attached the documented outputs and the accompanying script file (which contains the values from the document provided).

From: SaurabhSharma-MSFT <notificat

[2020-07-01 01:04] dargilco opened #58202 "Pop-up window saying "Upgrade your composite entities".. what should I do with this?"
Regarding

"1. In the LUIS portal, on the My apps page, select + New app for conversation, then Import as JSON. Find the saved JSON file from the previous step. You don't need to change the name of the app. Select Done"

When I do this, I get a pop-up windows saying this:

**Upgrade your composite entities**
Upgrade your composite entities for:
- Improved accuracy
- Better debuggability

Learn mor

[2020-07-01 01:16] msaburnley commented on #56202
Hey @ganganarayanan I've created the following PR to update the content with the screenshot you provided: https://github.com/MicrosoftDocs/azure-docs-pr/pull/120797. It should publish sometime tomorrow. I'll be closing this github issue. Thanks again for your feedback! #please-close

[2020-07-01 01:16] #56202 closed

[2020-07-01 01:51] PramodValavala-MSFT commented on #58132
@steveculshaw The doc covers [URL Security in the FAQ Section](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#q-what-about-url-security) which is basically achieved by calling the logic app by a generated SAS token.

For further security, it would be best to [expose logic apps through APIM](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#q-can

[2020-07-01 02:21] vipulsparsh commented on #57820
@ericthomas1 We will close this now, feel free to comment if you have any further questions.

[2020-07-01 02:21] #57820 closed

[2020-07-01 02:44] BharathNimmala-MSFT commented on #58154
@elhorton Thank you for bringing this to our notice, our team will further look into it and get back to you earliest.

[2020-07-01 02:57] vipulsparsh commented on #57497
@BakkerJan  Apologies for the delay in this one. For enabling the SMS based authentication you must be signed as Global Admin. The authentication administrator would not have this capability.  This is called in [this ](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/my-staff-configure)article under   Before you begin section.

[2020-07-01 03:00] SatishBoddu-MSFT commented on #58154
@elhorton Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-07-01 03:02] PramodValavala-MSFT commented on #58186
@tehyatt All triggers and bindings support [binding expressions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns), which is what you see in the examples here.

[2020-07-01 03:05] SatishBoddu-MSFT commented on #58200
@DNorthcott
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-01 03:07] SatishBoddu-MSFT commented on #58189
@chmagitt
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-01 03:08] SatishBoddu-MSFT commented on #58187
@chschrae
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-01 03:25] tehyatt commented on #58186
Excellent, thanks. I had been reading lots of documentation pages about binding parameters to the function inputs and outputs but couldn't find this. Thanks again!

[2020-07-01 03:25] #58186 closed

[2020-07-01 03:26] gorillatechnology opened #58206 "Out-of-date description and screenshot of Azure Portal"
Regarding the section "Acquire Azure Active Directory GUID ID" https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-rdg#acquire-azure-active-directory-guid-id

The written steps and screenshot discuss a Directory ID which is not shown in the actual Azure portal. The actual Azure portal shows a Tenant ID.

---
#### Document Details

⚠ *Do not edit this sect

[2020-07-01 03:27] NhatDuy1407 opened #58207 "How can I deny to renew token silently and force user logins?"
Hi All,

How can I deny to renew token silently and force user logins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa063fd-3b2d-e00d-c382-9ca749254616
* Version Independent ID: 217e50e6-f9ed-d4ad-1d6a-04fbc87aaa4b
* Content: [Single-page sign-in using implicit flow - Azure AD B2C](https://docs.microsoft.com/en-us/a

[2020-07-01 03:32] CHEEKATLAPRADEEP-MSFT commented on #58182
@smitty-codes  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you please review and update the document as appropriate?

[2020-07-01 03:39] CHEEKATLAPRADEEP-MSFT commented on #58181
@rcabr  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-01 03:44] MayankBargali-MSFT commented on #58192
@RonnieQuan Service Bus is the pull model and the client application needs to pull the messages from the service bus to consume it. In case of function app trigger, it will keep on waiting for the message. As soon as the message is sent to the service bus it will consume it.

[2020-07-01 04:11] PramodValavala-MSFT commented on #58190
@RonnieQuan Thanks for the feedback! We will review and update accordingly.

[2020-07-01 04:12] SnehaAgrawal-MSFT commented on #57741
@DhruvKinger Thanks for update. We will close this now.

[2020-07-01 04:12] #57741 closed

[2020-07-01 04:18] tastyeggs commented on #50253
Guys, please do something about this issue. It is extremely difficult once we end up in this state to recover. Your documentations are outdated, and there's no sense of urgency to fix these things from your side. One reason we customers pay to use Microsoft software is so these basic things are taken care of, yet 4 months after so many users report this issue, nobody feels this is important enough

[2020-07-01 04:24] KrishnaG-MSFT commented on #58166
@VYSAKH1 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-01 04:26] VikasPullagura-MSFT commented on #58198
@originalnetadmin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-01 04:26] VikasPullagura-MSFT commented on #58198
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2020-07-01 04:28] SnehaAgrawal-MSFT commented on #57834
Glad to know that you got working! Thanks again for the feedback! We will now close this out. Let us know if you have further question on this.

[2020-07-01 04:28] #57834 closed

[2020-07-01 04:37] SatishBoddu-MSFT commented on #58200
@DNorthcott

There is a Note: section which gives us the information on
* **New** version of the Azure IoT extension : _azure-iot_  [Recommended]
* **Legacy** version of the Azure IoT extension:  azure-iot-cli-ext

![image](https://user-images.githubusercontent.com/62923178/86202143-505a6f00-bb16-11ea-86e9-8b231d88b5a5.png)

In the below image, I have added **only the latest extension** and create

[2020-07-01 04:41] NWiddup commented on #57546
Hi @MashaMSFT, the commands I'm using are below:

`
az sql vm list --resource-group NWPS4SQL20200329_LAB1
`
`
az sql vm create --name SQL01 --resource-group NWPS4SQL20200329_LAB1 --license-type PAYG
`
`
az sql vm list --resource-group NWPS4SQL20200329_LAB1
`

Here is a screenshot (with Subscription & ResourceID's removed). According to the docs, I believe the highlighted lines should have installe

[2020-07-01 04:48] SatishBoddu-MSFT commented on #58189
@chmagitt Could you please pin point exact location of the document section where you are stuck with login? to better understand the issue.

[2020-07-01 04:54] NhatDuy1407 opened #58209 "Is token id able to be reused if it's still not expired?"
For a case, I create token id twice and they are valid time span, my question is: should the latest one be valid or both?
Is The older token id revoked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsof

[2020-07-01 04:59] MSNina123456 opened #58210 "enable action group to use app script error: it will throw out error if app already has been assigned the ActionGroupsSecureWebhook” Role"
. The $myServicePrincipal variable will be $null if the App already has been assigned the “ActionGroupsSecureWebhook” Role. So the script isn’t re-runnable without error (false negative).

In my opinion, New-AzureADServiceAppRoleAssignment shouldn’t be called if the role has been assigned.

![image](https://user-images.githubusercontent.com/47805999/86204631-90fbcc00-bb9a-11ea-84cb-39e63c195e43.pn

[2020-07-01 04:59] SatishBoddu-MSFT commented on #58187
@chschrae I have assigned the issue to the content author @robinsh  for further review and update the doc as appropriate.

[2020-07-01 05:02] VikasPullagura-MSFT commented on #58147
@KumariSupriya Thanks for sharing the details.

[2020-07-01 05:29] shawon017 opened #58211 "The system cannot find the path specified."
Tasks are failing, and inside the task stderr.txt file I'm getting this msg "The system cannot find the path specified."
Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent ID: 8c6bcc7c-4428-be5b-2221-0c0302cdd281
* Content: [Run a parallel workload - A

[2020-07-01 05:33] SumanthMarigowda-MSFT commented on #57663
@jorgecarleitao Thanks for raising this question! Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Also This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on this forum: https://azure.microsoft.com/en-us/support/community/
since it's not directly related to th

[2020-07-01 05:33] #57663 closed

[2020-07-01 05:47] SumanthMarigowda-MSFT commented on #57799
@isehuetdk It looks perfect there is no 404 error,
This content has been moved. Please see [Azure Storage Client Library for .NET](https://docs.microsoft.com/en-us/previous-versions/azure/dn261237(v=azure.100)?redirectedfrom=MSDN)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and w

[2020-07-01 05:47] #57799 closed

[2020-07-01 05:59] tastyeggs commented on #50253
Alright, I finally understood what the article meant. This is what needs to happen (in case others come searching):

1. Remove the admin permissions from Azure AD user
2. Hard-delete the "quarantined" user, i.e. the userXXXX@domain.onmicrosoft.com from the Azure AD using following powershell commands:
[code]
3. Initiate an AD Connect Sync by running these commands on the server where AD Connect is

[2020-07-01 06:01] ram-msft commented on #58202
@dargilco Thanks for the feedback. We will update you shortly.

[2020-07-01 06:07] SadiqhAhmed-MSFT commented on #57570
@dedvds I suggest you reach out to Azure technical support team by raising a technical support team. The support professional would help you further to resolve this issue.

[2020-07-01 06:16] shashishailaj commented on #58206
@gorillatechnology Thank you for pointing it out. We will have this reviewed and engage the content authors as needed.

[2020-07-01 06:17] shashishailaj commented on #58207
@NhatDuy1407 Thank you for your query . We will investigate and update the thread .

[2020-07-01 06:19] SwathiDhanwada-MSFT commented on #58210
@MSNina123456 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-01 06:20] shashishailaj commented on #58209
@NhatDuy1407 Thank you for your query . We will investigate and update the thread .

[2020-07-01 06:20] #50004 closed

[2020-07-01 06:21] shashishailaj commented on #58176
@solarfusionuk Thank you for your feedback . We will investigate and update the thread.

[2020-07-01 06:23] shashishailaj commented on #58195
@YassineSOUABNI Thank you for your feedback . We will investigate and update the thread.

[2020-07-01 06:24] shashishailaj commented on #58177
@LioDiera Thank you for your feedback . We will investigate and update the thread.

[2020-07-01 06:28] SumanthMarigowda-MSFT commented on #58185
@IntegraITManager Thanks for your question. We are checking on this and will respond to you soon.

[2020-07-01 06:54] KrishnaG-MSFT commented on #58180
@ajfallasf Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-01 06:55] MayankBargali-MSFT commented on #54981
@harouny Below will be the behavior when you have enabled "ForwardDeadLetteredMessagesTo" property at the subscription/queue level.
In all three scenario messages will be stored at the source (subscription/queue) dead letter queue. If the messages are in dead letter queue then you will able to find the reason why the message is moved (not why they are moved to the destination) to the dead letter b

[2020-07-01 06:57] vipulsparsh commented on #58176
@solarfusionuk   Currently we do not support the line break functionality. I would encourage you to vote the [feedback ](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/11051139-support-html-support-in-azure-ad-branding)here if it matches your requirement, if not, please create a new feedback. PG review these feedbacks and bring in the features with more votes.

Let us

[2020-07-01 07:00] SwathiDhanwada-MSFT commented on #58032
Assigning to content author @bwren to review this request.

[2020-07-01 07:00] ANISSARIZKY opened #58212 "azure"
[E{
  "assignableScopes": [
    "/"
  ],
  "description": "Allows user to use the applications in an application group.",
  "id": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleDefinitions/1d18fff3-a72a-46b5-b4a9-0b38a3cd7e63",
  "name": "1d18fff3-a72a-46b5-b4a9-0b38a3cd7e63",
  "permissions": [
    {
      "actions": [],
      "notActions": [],
      "dataActions": [

[2020-07-01 07:06] nkumars commented on #57873
Guys, we are ordered to get this fixed at the earliest. The question is very simple, the defined **ClaimType** should adopt to the datatype of incoming claim. Something like this
[code]
This claimtype is used to map an input claim **memberOf** holding **string** datatype for some users and **stringCollection** for other users. We would expect this **role_id** should adopt to the incoming datatype

[2020-07-01 07:24] MayankBargali-MSFT commented on #57775
@darkantoine Whenever you are sending messages to the service bus queue/topic (partition entity) then the messages are stored in the round-robin fashion. While sending the message if you have used partition key (session ID, partition key, or message ID) then all the messages having the same partition key will be stored in the same partitioned at the backend. If there is a specific consumer/applica

[2020-07-01 07:27] SwathiDhanwada-MSFT commented on #57827
@scunge6006 Thanks for your valuable feedback. When diagnostic settings are enabled to send logs to Event Hub, diagnostic settings creates event hubs in the event hub namespace if they do not exist. Therefore, it needs manage permissions to create them.

As this is more of feature request than documentation change, I would recommend you to navigate [here](https://feedback.azure.com/forums/267889-a

[2020-07-01 07:27] #57827 closed

[2020-07-01 07:34] rboucher commented on #57914
@yeswps That depends on the time period you pick. I think you may be confusing what "Total" means. The description of the metric says " The number of bytes out on all network interfaces by the Virtual Machine(s) (Outgoing Traffic)". So it's totaling up all the network interfaces, not a time period on a chart. It, like most other metrics, is likely tracking the bytes every minute. Then it aggregate

[2020-07-01 07:50] william-liebenberg opened #58213 "How to set autoscaleMaxThroughput at the database level instead of container via ARM"
**Hi all**

I'm trying to set `autoscaleMaxThroughput` at the database level instead of container level via ARM templates.

I can do this manually via the Azure Portal but not through ARM. I exported the template from the one I manually updated:

[code]

but when executing my ARM template I get the following error:

[code]

Any advice?

Thanks :)

---
#### Document Details

⚠ *Do not edit this sec

[2020-07-01 07:54] SumanthMarigowda-MSFT commented on #57725
@jhudsoncedaron Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
This channel is for driving improvements towards MS Docs, for any product related question/issue  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now pro

[2020-07-01 07:54] #57725 closed

[2020-07-01 08:01] SumanthMarigowda-MSFT commented on #57811
@CharmanderJieniJieni  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Try to see if this helps in checking to see if the IP is blocked due to IP restrictions. If the request is being blocked by IP restrictions it occurs on the FrontEnds of the infrastructure so the 403s would not be seen in the application logs. There's a detector available i

[2020-07-01 08:01] #57811 closed

[2020-07-01 08:12] SumanthMarigowda-MSFT commented on #57922
@mattgaspar Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Thanks for the feedback! The PR has been raised

[2020-07-01 08:34] #57922 closed

[2020-07-01 08:35] SumanthMarigowda-MSFT commented on #57957
@AdelaManea Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Which version of Azure Storage Explorer are you using?
The below mentioned option are available in Azure Storage explorer
![Capture](https://user-images.githubusercontent.com/44606021/86221863-15eae380-bba3-11ea-9a67-a958ee956466.JPG)

 Currently Azure does not have any provision to t

[2020-07-01 08:35] #57957 closed

[2020-07-01 08:46] imcdnzl opened #58215 "Warehouse isn't a product"
[Enter feedback here]

In the below paragraph "Azure Warehouse" isn't a product. I'm guessing it should be one of the Synapse products.

Works with all your Azure data
Data Lake Analytics works with Azure Data Lake Storage for the highest performance, throughput, and parallelization and works with Azure Storage blobs, Azure SQL Database, Azure Warehouse.
---
#### Document Details

⚠ *Do not edit t

[2020-07-01 09:12] SadiqhAhmed-MSFT commented on #58212
@ANISSARIZKY Could you please provide more details about your issue?

[2020-07-01 09:12] #56914 closed

[2020-07-01 09:21] SnehaAgrawal-MSFT commented on #57849
Just checking if you have chance to see previous response on this.

[2020-07-01 09:31] enniobolondi commented on #55047
Hi, I'm wondering if during the creation of a "ProxyIdentityExperienceFramework" application, the suggested "Redirect URI":
`myapp://auth`
Is correct.
In [another tutorial](https://iqunlock.com/aspnetcore-sso-authentication-with-b2c/#what-are-we-building-here) they suggest to use the following:
`https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com`
Can you investigate?
thanks and

[2020-07-01 09:36] mym-kingbob opened #58216 "Curl command is not working when after create three Azure Durable Functions"
I check the three durable functions using the following curl command.
But, It happened error that the HelloSequence function response `411 Length Required` HTTP Status.
This HTTP Status is not set `Content-Length` in header.

[code]

So, I add Content-Length header in above command and execute then successfully responsed `202 Accepted` from durable function.

[code]

---
#### Document Details

⚠ *

[2020-07-01 09:39] lokijota commented on #43196
Also having this issue.

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situa

[2020-07-01 10:05] Dev-ML11 commented on #56048
@SwathiDhanwada-MSFT,
Though PriceSheet API document says 2019-10-01, when we try accessing with that version it shows an error asking to use latest API version so i have verified the data against latest version "2020-01-01-preview".

[2020-07-01 10:05] horns-k opened #58218 "Display a date or date range during which the change was applied"
Display a date or date range during which the change was applied to servers.
There are usually no braking changes, but its important to know when the change occurred for debugging sql bugs and testing performance benchmarks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version I

[2020-07-01 10:09] amanmcse commented on #57873
@nkumars  The values that you can use for DataType is documented [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema#datatype). It has to be a specific value and cannot be dynamic.

In your case, the external IDP has to be configured to return stringCollection everytime. Even if there is a single string value, the external IDP should return single value in the array/col

[2020-07-01 10:15] CHEEKATLAPRADEEP-MSFT commented on #58215
@imcdnzl Thanks for your contribution, I've addressed this issue in PR:[ https://github.com/MicrosoftDocs/azure-docs-pr/pull/120830]( https://github.com/MicrosoftDocs/azure-docs-pr/pull/120830)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to ta

[2020-07-01 10:16] #58215 closed

[2020-07-01 10:23] SumanthMarigowda-MSFT commented on #53965
@vishag Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2020-07-01 10:23] #53965 closed

[2020-07-01 10:43] Kayohi opened #58219 "Typescript section appreciated on the az functions documentation including Azure Service Bus"
Hello,
It would be nice to have the Typescript documentation included in azure functions documentation and related connectors, like for example Azure Service Bus 👍
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output

Regards,
Marek
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2020-07-01 10:48] MayankBargali-MSFT commented on #58216
@mym-kingbob  Thanks for reporting this item! I have updated the doc and it'll be published within few hours. We appreciate the feedback!

[2020-07-01 10:53] LucaOtto commented on #57960
Hi Ryan,

See below. To answer your question: I simply followed the tutorial, and I haven’t deviate from what’s described in it.

It’s also confusing because the article specifies in the tile PostgresSQL ( but only in Azure), locally it uses a Sqllite which seems to be the problem here.

I hope it helps to clarify.

Thank you again.

Luca

W
Last login: Tue Jun 30 15:52:51 2020 from 172.16.1.3

[2020-07-01 11:02] login21 opened #58220 "Azure function called from Data Factory is not having any log in Application Insights"
I created a Data Factory pipeline and configure an azure function as a part of my pipeline. Everything is working fine but when I started looking for the logs in Application Insights, there is nothing. Then I tried calling that azure function from Postman and then I was able to see the logs in Application Insights. I am wondering if this the case, when azure function is getting executed from Data

[2020-07-01 11:07] amanmcse commented on #57899
@babukumarg  You need to use SamlMessageSigning parameter as documented here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-issuer-technical-profile#cryptographic-keys. Azure AD B2C uses this key to sign the SAML response and send to the relying party.

[2020-07-01 11:19] craigshoemaker commented on #57972
@divyavanmahajan - Thanks for your feedback! This repo is for the product documentation, please create an issue for product functionality on the [static-web-apps](https://github.com/azure/static-web-apps/issues) repo.

#please-close

[2020-07-01 11:19] #57972 closed

[2020-07-01 11:20] AnuragSharma-MSFT commented on #57718
@mmeiman This would require further troubleshooting to find out the root cause. Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Once you receive an email from cx enable free support

[2020-07-01 11:20] #57718 closed

[2020-07-01 11:22] amanmcse commented on #58199
@sir-wally  Thank you for reaching out. We will investigate and update the thread further.

[2020-07-01 11:32] PramodValavala-MSFT commented on #58193
@dbrennan Thanks for the feedback! We will review and update accordingly.

[2020-07-01 11:34] yeswps commented on #57914
@rboucher
Thanks Rob! Now this starts to make sense. Take Krishna's screenshot for example, the sampling interval is every 5 minutes, and the total sampling period is 24 hours.

For Network Out Total, Sum
In last 24 hours, total sum is 2.9GB, break down to 5 minutes sampling interval:
2.9GB = 2.9 x 1024 MB = 2969.6MB
2969.6MB / 24 hours = 123.733 MB / Hour
5 minutes sampling = 12 samplings in each

[2020-07-01 11:38] AnuragSharma-MSFT commented on #58213
@william-liebenberg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-01 11:39] MayankBargali-MSFT commented on #58197
@Marusyk Can you confirm if you have System.Reactive.Core package installed in your project as it uses System.Reactive.Core library to subscribe to DiagnosticSource: https://www.nuget.org/packages/System.Reactive.Core

[2020-07-01 11:41] AnuragSharma-MSFT commented on #58218
@horns-k Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-01 11:43] rnarayana opened #58222 "Pass through of access token does not work for OAuth 4.0"
I have an ADFS 4.0 setup that returns an extra claim "Job Title" in the id_token. I can verify this by inspecting the id_token in the return POST call from ADFS to B2c https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/oauth2/authresp

However neither this extra claim, nor the original access token is included in the final id_token that is passed to jwt.ms

I selected _allatclaims_ and _openid

[2020-07-01 11:44] Mojo-OG opened #58223 "Missing Browser Flags & Known Browser Limitations"
This page needs to have its information revised, in testing and referencing this Chromium Project post https://bugs.chromium.org/p/chromium/issues/detail?id=458508 I have found the following:

**Microsoft Edge (Chromium):**

**AuthNegotiateDelegateAllowlist** and **AuthServerWhitelist** policy flags MUST be configured, as leaving the default behaviour for _Not configured_ is to ignore certain requ

[2020-07-01 11:52] craigshoemaker commented on #57909
@PhilLepanto:

You make an excellent point about shaping this content to pick up from where the quickstart. The quickstart is going to go through some changes which will affect this article, and one of those changes will be to make a better flow as you suggest.

Another change in the works is to feature the VS Code extension by default, and move the portal experience guidance into a separate artic

[2020-07-01 11:52] #57909 closed

[2020-07-01 11:54] sqlrohit commented on #44740
Thanks, Marilee for the clarification that user needs to be having global admin role permission, but on the page, it is nowhere documented as who can make these changes

[2020-07-01 12:12] JiroP opened #58224 "SignalR addGroup javascript example"
I'm not sure if the document is outdated, however I only got adding to groups to work by replacing "userId" with "connectionId", in the index.js file in azure functions. The group management passed when using userId, however when sending messages to that group, the messages didn't go through to group members. Changing the attribute fixed sending messages to corresponding groups.

---
#### Document

[2020-07-01 12:12] ward0 commented on #57865
@TravisCragg-MSFT  Thanks for the link to the HSTS header page, that helped us further a lot 👍

[2020-07-01 12:17] PramodValavala-MSFT commented on #58219
@Kayohi Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

Do note that the JavaScript code will work as is for Typescript as well except that you would have to add the type information for static typing benefits, which is what you are referring to I believe.

[2020-07-01 12:18] SimonGustavsson commented on #47513
@MarileeTurscak-MSFT The typo is in the flow diagram **image** and still very much there. :-) Came here to report the same thing, but found this issue through search so thought I'd comment here instead.

Direct URL to image: https://docs.microsoft.com/en-us/azure/active-directory/develop/media/v2-oauth2-client-creds-grant-flow/convergence-scenarios-client-creds.svg

[2020-07-01 12:21] timograef78 opened #58225 "Add how to remove a role assignment from a user to PIM PowerShell documentation"
Hi,

you have documented on https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles how to assign a role to a user. Is it possible to also describe how to a remove a role from a user to avoid issues?

Thank you.

BR,
Timo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-07-01 12:27] sasikumarsampath opened #58227 "ASR - DRBD setup are not supported"
[Enter feedback here]

DRBD | Disks that are part of a DRBD setup are not supported. - is this true?

We have on boarded DRBD devices is in ASR and it is working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content:

[2020-07-01 12:30] SwathiDhanwada-MSFT commented on #58033
@roofiq Thanks for reaching out!!

1)You can use  [REST API](https://docs.microsoft.com/en-us/rest/api/resources/features/unregister) to opt in automatic deletions of deployment for now.

2)If your resource group is already at the 800 limit, your next deployment fails with an error. The automatic deletion process starts immediately. You can try your deployment again after a short wait.

For custom

[2020-07-01 12:34] manekinekko commented on #57909
Haha! Sorry @craigshoemaker I trusted the autocomplete and didn't notice I tagged the wrong person. Oops! 😅

[2020-07-01 12:48] PramodValavala-MSFT commented on #58224
@JiroP Thanks for the question! We will review and get back to you!

[2020-07-01 12:48] PramodValavala-MSFT commented on #57964
@marc-bouvier Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-01 12:48] #57964 closed

[2020-07-01 12:48] PramodValavala-MSFT commented on #58026
@alexchen2016 Just following up here... Hope my previous comment clears things up.

[2020-07-01 12:56] Kayohi commented on #58219
Exacly the above and also for example how to properly configure the bindings in function.json.
Thanks @PramodValavala-MSFT!

[2020-07-01 12:57] Murthy-VVR-BY commented on #58027
@mamccrea  5.5 LTS
![image](https://user-images.githubusercontent.com/67333317/86246351-7b050000-bbc8-11ea-93d1-1ba732a73edf.png)

[2020-07-01 13:09] PramodValavala-MSFT commented on #58219
@Kayohi Most of the `function.json` shouldn't change apart from the addition of the [`scriptFile` parameter](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#using-scriptfile) which should point to the generated JS file.

All of this information is available in the [JavaScript Language Reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-refere

[2020-07-01 13:10] pjirsa opened #58228 "Inaccurate Data regarding RBAC blob access"
The *note* on this page states that default RBAC roles of Owner, Contributor, and Storage Account Contributor DO NOT have access to blob data. This is not true. All of those roles are able to access blob data via the Azure portal or storage explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-167

[2020-07-01 13:12] JuneZhao commented on #57657
Any update on this?

[2020-07-01 13:15] AjayKumar-MSFT commented on #57986
@edmlbox,  Apologies for the delay!

There could be several causes for this error, you may try the following steps to isolate the issue.

Test deploy locally and debug from the Output tab.
Ensure that you have [latest SDK](https://docs.microsoft.com/azure/azure-functions/functions-versions) and updates installed on your machine.
Remove WEBSITE_RUN_FROM_PACKAGE setting entirely from Azure Functions

[2020-07-01 13:17] #58216 closed

[2020-07-01 13:19] RohitMungi-MSFT commented on #58030
@gvashishtha A PR is submitted to fix this issue and it should be updated in the document in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-01 13:19] #58030 closed

[2020-07-01 13:34] Kayohi commented on #58219
I've closed by missclick, sorry. I'm aware of these references. Its just for Typescript there are  pieces of information in different places so my intention by creating this ticket was to ask maybe to organize it better.

[2020-07-01 13:37] realrubberduckdev opened #58229 "Does an IP Restriction change restart the App Service?"
Hi, this is a follow-up from #27520
As that issue is old, I created a new one.

The documentation [Azure App Service access restrictions](https://docs.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions) says nothing about add/remove/edit IP restrictions causing the app service to restart.

I also double-checked on kudu console that the `pid` doesn't change after the 'add/remove/edit

[2020-07-01 13:41] RyanHill-MSFT commented on #58136
Which template did you use @cwang25? Also, [enable logging](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enable-application-logging-linuxcontainer) for your app service. This will help us determine if the issue is with missing dependencies since FTP deployments don't support dependency restores.

[2020-07-01 13:43] realrubberduckdev commented on #58229
@SnehaAgrawal-MSFT Are you able to find out what actually goes on, after add/update/delete of network restriction rule?

Tagged you as you were checking this in 2019 https://github.com/MicrosoftDocs/azure-docs/issues/27520#issuecomment-475508318 Thanks.

[2020-07-01 13:50] cj13579 opened #58230 "Inconsistent and incorrect test lead payload formatting"
On [this page](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-get-customer-leads#how-can-i-find-the-test-lead) under a section titled "How can I find the test lead?" there is an sample test lead. In this example all of the keys are all lower case. This is inconsistent with the HTTPS JSON Schema which is found on [in step 6 of this page](https://docs

[2020-07-01 13:50] patware commented on #58005
Hi, I think I wasn't clear in my feedback, I'm sorry; there's a discrepancy between the documentation versus the user experience.

The doc instructs the user to modify the function.json file in order to change the auth method, however that file is not there, the command ```func new``` does not create file as the docs says.

Also, the function file wasn't created in its folder as the doc says but a

[2020-07-01 13:56] RonnieQuan opened #58231 "Start Runbook From Portal - Object Type Parameter"
Any guidance on how to pass object type parameter value?

I have runbook with input field as object type, when I try to start from portal, it seems only accept string, every input is string.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dcc44c4-9f64-6b0c-e045-0e5e3c567970
* Version Independent

[2020-07-01 14:00] RonnieQuan commented on #58192
@MayankBargali-MSFT Thanks for the prompt reply.

Glad to know it's pull model, so my function app is vnet integrated, and my service bus is configured with private endpoint, will that work for the pull model?

[2020-07-01 14:02] SadiqhAhmed-MSFT commented on #58227
@sasikumarsampath Thanks for the comment. We are checking on this and will get back to you soon.

[2020-07-01 14:05] iliassk commented on #35370
About revoking refresh tokens:

@yoelhor @ManojReddy-MSFT , I couldn't find any docs describing how we can call Microsoft Graph's invalidateAllRefreshTokens or [revokeSignInSessions](https://developer.microsoft.com/en-us/office/blogs/breaking-change-invalidate-all-refresh-tokens-update-in-microsoft-graph-beta/) when a user authenticates on an Azure AD B2C via the b2clogin.com  V2 endpoints.

I hav

[2020-07-01 14:06] SadiqhAhmed-MSFT commented on #58230
@cj13579 Thanks for the feedback. This issue being assigned to the content owner to review and update as needed.

@dsindona FYI.

[2020-07-01 14:12] thomas-mutter opened #58232 "Package version 3.x for Event Grid does not exists"
Hi folks

I am looking for compatibility information of nuget packages and azure function bindings.
This documentation says: Installing the NuGet package, version 3.x
But the latest package Microsoft.Azure.WebJobs.Extensions.EventGrid is 2.1.0

I would highly appreciate to find an overview of all azure function binding packages and their compatibility with the different function runtime versions.

[2020-07-01 14:26] iliassk commented on #57608
Hi @JamesTran-MSFT, I apologize for the delayed response. I was a bit discouraged by your [response](https://github.com/MicrosoftDocs/azure-docs/issues/57608#issuecomment-649005732). None of the issues you linked answer my question.
I have no problem logging out my users on App A, when I initiate the logout on App A. The issue is when the logout has been initiated on App B. Azure AD B2C is suppose

[2020-07-01 14:26] RohitMungi-MSFT commented on #58105
@diberry The current set of sentences @dargilco is referring to is the following:

I think we can combine these sentences because there is some repetition. Can we re-phrase it to the following:

[2020-07-01 14:36] vhorne commented on #57940
#reassign:surajmb

[2020-07-01 14:37] vhorne commented on #55838
#reassign:surajmb

[2020-07-01 14:39] vhorne commented on #55838
#reassign:surajmb

[2020-07-01 14:41] vhorne commented on #51024
#reassign:surajmb

[2020-07-01 14:42] vhorne commented on #50632
#reassign:surajmb

[2020-07-01 14:43] vhorne commented on #48758
#reassign:surajmb

[2020-07-01 14:44] vhorne commented on #48758
#please-close

[2020-07-01 14:44] #48758 closed

[2020-07-01 14:45] vhorne commented on #47571
#reassign:surajmb

[2020-07-01 14:45] vhorne commented on #47015
#reassign:surajmb

[2020-07-01 14:46] vhorne commented on #47015
#reassign:surajmb

[2020-07-01 14:47] vhorne commented on #45582
#reassign:surajmb

[2020-07-01 14:48] vhorne commented on #51529
#reassign:surajmb

[2020-07-01 14:50] vhorne commented on #50411
#reassign:surajmb

[2020-07-01 14:51] vhorne commented on #38706
#reassign:surajmb

[2020-07-01 14:52] vhorne commented on #38551
#reassign:surajmb

[2020-07-01 14:53] vhorne commented on #37042
#reassign:surajmb

[2020-07-01 14:54] vhorne commented on #34063
#reassign:surajmb

[2020-07-01 14:56] VikasPullagura-MSFT commented on #58039
@MakarovIlya944 Any update on the issue?

[2020-07-01 15:01] martin-nisbet opened #58233 "Incorrect GitHub link to AzureBastion-NSG quickstart"
[Enter feedback here]

The link given on the page for the quickstart template refers to an ARM template for AzureBastion *without* the NSG rules. It should instead refer to this one: https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-bastion-nsg
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdc9

[2020-07-01 15:03] martin-nisbet commented on #58233
This is a duplicate of #55579. Page updates are taking their time.

[2020-07-01 15:07] MashaMSFT commented on #57546
Hi @NWiddup , thanks for reaching out once more and clarifying! So there may be some confusion between the SQL IaaS extension, and registering with the SQL VM resource provider. The SQL IaaS extension is installed when you register with the SQL VM resource provider, but it can also be installed manually.

The az cli command you're executing ([az sql vm create](https://docs.microsoft.com/cli/azure/

[2020-07-01 15:10] jhudsoncedaron commented on #57725
If you're not willing to believe the doc is wrong that's not my problem. On finding this we decided to not use Azure storage.

[2020-07-01 15:11] MashaMSFT commented on #56871
Hi @kaysauter , thanks for contacting Microsoft and providing your feedback! Yes, Azure Bastion is supported. I have created an internal work item  ([1742704](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1742704)) to add this to the documentation over the next few months.

I will close out this Git Issue for the time being but please feel free to comment should you need anything

[2020-07-01 15:13] NavtejSaini-MSFT commented on #58099
@timsander1 Please check this and provide insight into the same.

[2020-07-01 15:17] NavtejSaini-MSFT commented on #58149
We have created PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120855 to fix this.

[2020-07-01 15:20] djpmsft commented on #58220
Hi @login21 ,

Running an Azure Function from Data Factory should add the logs to Application Insights (if the Azure Function is configured properly). Similarly to Postman, the product is more or less just orchestrating the job by calling an Endpoint/API and then letting Azure Functions do the rest.

If this is not the behavior you are experiencing, I would recommend opening a support ticket.

Tha

[2020-07-01 15:20] NavtejSaini-MSFT commented on #58031
@jschrap Please explain your ask in detail. Are you having troubleshooting issues or this is something you faced and you were able to resolve.
Please provide more information to take this thread forward.

[2020-07-01 15:21] djpmsft commented on #57018
Closing this issue due to lack of response

#please-close

[2020-07-01 15:21] #57018 closed

[2020-07-01 15:22] #57888 closed

[2020-07-01 15:24] evillegas92 commented on #13639
Hi, I have disabled the Developer Analytics Tools extension and now I don't know how to re-enable it. It is not listed under Extensions and Updates. How can I enable this extension again? I do have it installed in my Visual Studio 2019 though.

[2020-07-01 15:26] eino-makitalo commented on #28378
I get this also
Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler: Error: Message contains error: 'server_error', error_description: 'AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access.
Correlation ID: 5577cb7d-6504-49ef-9947-dacf20d94672
Timestamp: 2020-07-01 15:19:18Z
', error_uri: 'error_uri is null

[2020-07-01 15:26] KrishnaG-MSFT commented on #58211
@shawon017 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-01 15:35] ericthomas1 commented on #57820
@vipulsparsh , thank you for the information, but the question still stands: **Where** are the logs stored within my tenant and how can I access them?

[2020-07-01 15:36] eino-makitalo commented on #28378
@ajbrun   This helped me https://stackoverflow.com/questions/60140997/b2c-custom-policy-skip-signup-for-aad-by-authenticationsource-ends-up-with-aadb2

I add this line to custom B2C :         <OutputClaim ClaimTypeReferenceId="objectId" PartnerClaimType="oid"/>

They really should document this error code

[2020-07-01 15:40] MarileeTurscak-MSFT commented on #58223
@Mojo-OG
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 15:41] rhsumner commented on #51738
Yeah, I'm getting the same issue on my Kubernetes Cluster when scaling:
_```
Status:         Pending
Reason:         ProviderFailed
Message:        api call to https://management.azure.com/subscriptions/xxx/resourceGroups/xxx-cluster_westeurope/providers/Microsoft.ContainerInstance/containerGroups/xxx-5c5649645d-wlvcz?api-version=2018-10-01: got HTTP response status code 400 error code "ContainerG

[2020-07-01 15:41] laminsamba opened #58235 "Azure APIM OAuth 2.0 generated token work with legacy portal but not on new developer portal."
Azure APIM OAuth 2.0 generated token work with legacy portal but not on new developer portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf31137-c536-2d90-3a76-bca7cd88cf53
* Content: [Authorize developer accounts using OAuth 2.0 in API Management - Az

[2020-07-01 15:41] SaurabhSharma-MSFT commented on #58225
@timograef78 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 15:42] SaurabhSharma-MSFT commented on #58235
@laminsamba To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-01 15:43] laminsamba commented on #58235
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2

[2020-07-01 15:50] priyankareddy20 opened #58236 "https://docs.microsoft.com/en-us/azure/security-center/security-center-management-groups https://docs.microsoft.com/en-us/azure/security-center/security-center-get-started I would like to understand, how do we upgrade the subscriptions to standard, if we hav emore than one subscription. Upgrade document covers 1 subscription and Management Group document covers multiple subscriptions w.r.t security policies. Could you please update the document with steps, how do we upgrade to standard or free if we have multiple subscription sin the same tenant"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d4bc3-f4c0-29d6-d364-b87e94909901
* Version Independent ID: 4072adaf-066d-b248-1b15-222b017e7179
* Content: [Upgrade to Standard tier - Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-get-started)
* Con

[2020-07-01 15:52] VikasPullagura-MSFT commented on #58021
@leofmoura Apologies in delayed response.

If you have followed the tutorial, in the begining of the article you might have created a VMSS based AKS Cluster. You can check the MC_ resource group on Azure Portal there will be VMSS.

![image](https://user-images.githubusercontent.com/48944027/86264791-93811480-bbe0-11ea-98e8-8b18816f8b25.png)

So, modify the vm list to vmss list as shown below.
![im

[2020-07-01 15:53] JamesTran-MSFT commented on #57608
@iliassk
Thank you for your time and the detailed response!

After speaking with my team, I've re-opened your issue and have reached out to our product team for further guidance/troubleshooting.

I'll update you as soon as I receive a response from their end.

[2020-07-01 15:55] VikasPullagura-MSFT commented on #56990
@StingyJack I will proceed to close this issue now.
Please get this checked via a support case or as suggested, please send email as per previous comment with session ID where this repros.

[2020-07-01 15:55] #56990 closed

[2020-07-01 15:55] SnehaAgrawal-MSFT commented on #58082
@MishalValiyakath Thanks again for asking question! As its mentioned in this [article,](https://docs.microsoft.com/en-us/azure/dns/tutorial-alias-tm)  You can create an alias record for your domain name apex to reference an Azure Traffic Manager profile. An example is contoso.com. Instead of using a redirecting service, you configure Azure DNS to reference a Traffic Manager profile directly from y

[2020-07-01 15:56] Mojo-OG commented on #58223
Tested on:
Microsoft Edge (Chromium) Version 83.0.478.58 (Official build) (64-bit)
Google Chrome Version 83.0.4103.116 (Official Build) (64-bit)
Mozilla Firefox Version 78.0 (64-bit)

[2020-07-01 15:57] rgamage opened #58237 "Where are the 'Best Practices'?"
When I run this command on my Edge device:

I see this warning:
"Container Engine is not configured with DNS Server setting.  Please see [https://aka.ms/iotedge-prod-checklist-dns](url) for best practices"

That 'best practices' link directs to this page.  But this page has no best practices recommendations or checklist.

Perhaps that link is wrong in the edge runtime, or that best practice page h

[2020-07-01 15:59] attrib75 opened #58238 "Enable client-side monitoring instructions out of date"
The instructions on the Enable client-side monitoring are out of date.  It says to

Select Settings >** Application settings**

There is no longer Select Settings >** Application settings** in App Service.

It is under

Settings > Configuration
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f5

[2020-07-01 16:00] SaurabhSharma-MSFT commented on #58066
@davidkuzniar We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-01 16:00] #58066 closed

[2020-07-01 16:03] chmagitt commented on #58189
Hello

I’m stuck here in the documentation:
“in your command window, run the program with command dotnet run”

[A screenshot of a cell phone  Description automatically generated]

Here is the output of my console

[A screenshot of a cell phone  Description automatically generated]

And I cannot authenticate correctly

Here is the error message
[A screenshot of a cell phone  Description automatical

[2020-07-01 16:04] mrbullwinkle commented on #57996
@michaelbunney thanks for reaching out and apologies for the confusion the doc is causing. It is on our schedule to update/rewrite this doc during our July sprint.

I think there are four core questions you are asking, let me try to take a quick stab at a preliminary answer.

1. **The experience in VS 2019 doesn't map to the doc** -- Unfortunately the VS team did a UI redesign of the App Insights

[2020-07-01 16:11] #54823 closed

[2020-07-01 16:13] rboucher commented on #57914
@yeswps Glad that helps.  Given your question, I think it makes sense for me to include this example in the documentation section I just referred you too.  Keep in mind that we are doing averages when we aggregate periods together. So the jump to an average of 35.19kb per second while accurate could be hiding significant peaks and valleys.  It could have been any combination of numbers that added

[2020-07-01 16:15] ErcNovelT opened #58239 "Bulk invite users feature not working"
Hello,

We tried to use the bulk invite users feature on our Azure AD portal but it fails every time on the uploading with the following error message:

![image](https://user-images.githubusercontent.com/22659235/86267141-8fe09400-bbc6-11ea-8a19-2ed169ecc4b8.png)

We followed the [documentation ](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/users-bulk-add), removed th

[2020-07-01 16:20] diberry commented on #58105
@RohitMungi-MSFT Please open a PR with this change.

[2020-07-01 16:21] markjbrown commented on #58213
This needs to be in the Options. Example below.

{
          "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
          "name": "[concat(variables('accountName'), '/', parameters('databaseName'))]",
          "apiVersion": "2020-04-01",
          "dependsOn": [
             "[resourceId('Microsoft.DocumentDB/databaseAccounts/', variables('accountName'))]"
            ],
          "pro

[2020-07-01 16:22] AshokPeddakotla-MSFT commented on #58237
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-01 16:23] isamllr commented on #40851
@sumeetmittal ACLs in ADLS gen2 do rely on AAD (set access for objectisds), so I strongly believe the AAD endpoint should be enabled as well to the Azure network can be used instead of the customers network, even though it is functional without. This will help to avoid ingress & egress cost for the customer any may have a perf impact.

Adding @victorar for his input.

@jafife

[2020-07-01 16:24] cijothomas commented on #57996
The best option to separate local/staging/prod is via instrumentationkey (or connectionstring which has instrumentationkey).
Depending on the # of separate environment, create as many AI resources.

For local - leaving ikey empty is good enough to NOT send to azure. There is no need of anything else other than just empty ikey.

There is no publicly documented way of send data to multiple resources

[2020-07-01 16:29] nanditavalsan commented on #53684
The functionality in the list is now available in preview state for Azure Synapse SQL.

[2020-07-01 16:29] msmimart commented on #57625
Hi @YYZRichard, wanted to double-check on the **User flows** option not appearing in the UI - as long as you've switched your directory to the B2C tenant (using **Directory + subscription** in the top toolbar) *and* you've opened the **Azure AD B2C** service, it should be there. But I see we do need to update the screenshots/instructions to replace **User flows (policies)** with **User flows**. Th

[2020-07-01 16:32] MakarovIlya944 commented on #58039
Yeah, it's okay now, thank for answer

[2020-07-01 16:32] #58039 closed

[2020-07-01 16:33] ericsampson commented on #45672
@dragav @msmbaldwin @peledins could someone please just paste the information from the internal document here in the meantime? We really need a better understanding of `linkOnRenewal` before the official documentation goes through the wait to be updated.
And also if certificate auto-rotation works using the Linux KeyVault VM Extension, which is super unclear.

[2020-07-01 16:34] v-demjoh commented on #56437
Live tomorrow at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-file

#please-close

[2020-07-01 16:39] LRomandine opened #58241 "Service Endpoint Diagram update for Microsoft Peering"
The diagram on this page still references expressroute public peering which is deprecated and it should reference microsoft peering instead.  the paragraph before the diagram could use better microsoft peering explanation too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version

[2020-07-01 16:46] RyanHill-MSFT commented on #58229
Hi @realrubberduckdev the add/update/delete of IP restriction rules is done at the front-end load balancer. This is does not force the app to restart. In the past however, the restriction implementation was done at the web worker role using IIS configuration. That message you're seeing was left over from that implementation. I'll send this feedback to the portal team so message can be removed and

[2020-07-01 16:46] #58229 closed

[2020-07-01 16:47] #58184 closed

[2020-07-01 16:49] DerekHerman-MSFT commented on #58228
@pjirsa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-01 16:49] v-demjoh commented on #56038
#reassign: @v-demjoh

[2020-07-01 16:50] SatishBoddu-MSFT commented on #58189
@chmagitt Thanks for the info, the attached screenshots are not uploaded properly, if possible please retry to upload. Make sure no sensitive info is uploaded. I will work on my side and will update you shortly.

[2020-07-01 16:53] v-demjoh commented on #56014
#reassign: @v-demjoh

[2020-07-01 16:55] v-demjoh commented on #56437
#please-close

[2020-07-01 16:55] #56437 closed

[2020-07-01 16:56] chmagitt commented on #58189
<img width="812" alt="Unknown" src="https://user-images.githubusercontent.com/26851738/86270985-6fb3d380-bbcc-11ea-93a4-a65be6276b7d.png">
<img width="570" alt="Screenshot 2020-07-01 at 18 55 58" src="https://user-images.githubusercontent.com/26851738/86271047-85c19400-bbcc-11ea-8f19-223ef5b6887d.png">

[2020-07-01 16:59] chmagitt commented on #58189
This is what happen when I launch the client app to load a model

[2020-07-01 17:00] SatishBoddu-MSFT commented on #58189
@chmagitt
Thanks for the details! We are currently investigating and will update you shortly.

[2020-07-01 17:01] sayak1711 opened #58243 "How to give predefined subscriptions to choose from?"
How to give predefined subscriptions to choose from? To connect to a service like Stripe there needs to be predefined subscriptions for each product which user can choose from followed by which he/she will be redirected to payments page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a

[2020-07-01 17:04] trevorbye commented on #38555
SpeakerRecognition is now GA, with a completely different doc set. Check out the new [basics article](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speaker-recognition-basics), which should clear some of this up. #please-close

[2020-07-01 17:04] #38555 closed

[2020-07-01 17:06] MartinJaffer-MSFT commented on #57831
While it is possible for the IPs to change 'several times within the same day',  the changes on average are closer to the 'every few months' timescale than the 'several times within the same day' timescale.
@pnarsi
Using the firewall with service tags is a recommended practice, as per [service tag doc](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview).

[2020-07-01 17:07] neeleshray-msft commented on #54617
@RedBlue1776
Apologies for the delayed response. We tried the Powershell cmdlets on Azure AD B2C. PowerShell cmdlets are not yet available for all functions of Azure AD B2C. However via PowerShell, we support managing custom policies only as documented here: [https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage-custom-policies-powershell](https://docs.microsoft.com/en-us/azure/active

[2020-07-01 17:07] #54617 closed

[2020-07-01 17:09] neeleshray-msft commented on #54835
@Staubi999
As @MrAzureAD mentioned, if you need the users to access the Sharepoint information you would need the required licenses for the same regardless of if the user is a "member" or "guest".
Hope it has answered your query. Let us know if you know if know if you need further help.
We will be closing this issue for now.

[2020-07-01 17:09] #54835 closed

[2020-07-01 17:10] trevorbye commented on #45711
added F0 rate limit to the doc. #please-close

[2020-07-01 17:10] #45711 closed

[2020-07-01 17:11] #57625 closed

[2020-07-01 17:17] msmimart commented on #54204
Hi @memildin, we looked into this and tested it on our end, and received an update for the latest What's New release notes for June. I'd suggest to try and set it up again or use a another feeder app. Thanks again for your question. #please-close

[2020-07-01 17:17] #54204 closed

[2020-07-01 17:18] mikebudzynski commented on #58235
@laminsamba - this repository is limited to documentation issues. Please, open a bug report with reproduction steps in the developer portal repository: https://aka.ms/apimdevportal

#please-close

[2020-07-01 17:18] #58235 closed

[2020-07-01 17:20] neeleshray-msft commented on #55749
@NielsKlein
Apologies for the late response.
We tried the different Admin roles you mentioned. The Group Administrator works fine like you mentioned. However, with the Teams Service Administrator we found that the limitation as of today is that Groups can be created/modified by on means of Teams Admin Center and, Azure AD Portal.

Let us know if you need further help. We will be closing this threa

[2020-07-01 17:20] #55749 closed

[2020-07-01 17:22] trevorbye commented on #47344
closing as this is not a docs issue. If the service still has subtle variations in silence duration that affect your app behavior, I would recommend implementing your own logic to detect/adjust the durations to be in line with what you expect (there are many signal processing sdk's out there). #please-close

[2020-07-01 17:22] #47344 closed

[2020-07-01 17:22] SaurabhSharma-MSFT commented on #57965
@Yamin-lawar I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2020-07-01 17:25] #57761 closed

[2020-07-01 17:39] dargilco opened #58245 ""A version can be exported at the app or version level" is said twice in different ways... need to rewrite these two sentences"
Regarding this text:
"A version can be imported at the app level. That version becomes the active version and uses the version ID in the versionId property of the app file. You can also import into an existing app, at the version level. The new version becomes the active version.

A version can be exported at the app or version level as well. The only difference is that the app-level exported vers

[2020-07-01 17:39] roygara commented on #43779
@dcbrown16 Ah, I see what you mean now. Thanks for bringing this to our attention. Unfortunately, this avenue only gets feedback to the docteam, I've already reached out internally to see if I can make the appropriate team aware and see if there's an avenue that you could use so that you can track progress on this feedback. I'll let you know as soon as I hear back.

[2020-07-01 17:44] BharathNimmala-MSFT commented on #58231
@RonnieQuan  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-01 17:45] mrbullwinkle commented on #13639
@evillegas92 when disabled it should still show up:
![image](https://user-images.githubusercontent.com/31510320/86274484-c22acb00-bb9f-11ea-8a1e-4faf3b6cc676.png)

With the option to re-enable:

![image](https://user-images.githubusercontent.com/31510320/86274568-df5f9980-bb9f-11ea-87f6-b247f1aa7a18.png)

If you aren't seeing it and it is still showing as installed I would try uninstalling by unch

[2020-07-01 17:47] BharathNimmala-MSFT commented on #58238
@attrib75 Thank you for bringing this to our notice. I have assigned this issue to our document author @mrbullwinkle to further evaluate the feedback and update the document accordingly.

[2020-07-01 17:47] mamccrea commented on #57874
Thanks for the feedback. I've added a note to make this more clear. It should go live by the end of the week.

#please-close

[2020-07-01 17:47] #57874 closed

[2020-07-01 17:47] mrbullwinkle commented on #58238
Thanks for pointing this out. We'll get this updated in this month's sprint.

[2020-07-01 17:48] stevestein commented on #48620
#please-close

[2020-07-01 17:48] #48620 closed

[2020-07-01 17:50] BharathNimmala-MSFT commented on #57998
@utsw-zhu Sorry not able to able to fully understand the doc issue here. Since we have not heard back from you we will now proceed to close this thread. If you have further feedback or have additional details , please tag me in your reply. We will gladly reopen the issue and continue the discussion. Thank you

[2020-07-01 17:50] #57998 closed

[2020-07-01 17:50] #58117 closed

[2020-07-01 17:50] mamccrea commented on #52431
I will now proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-07-01 17:50] #52431 closed

[2020-07-01 17:52] mamccrea commented on #56500
I will now proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-07-01 17:52] #56500 closed

[2020-07-01 17:55] hpsin commented on #58209
In OAuth and OIDC, bearer tokens can (and should) be used until they are expired.  Getting a new one does not imply anything about previous tokens.  If your application has a need to only accept the latest token, you can cache the "iat" time of the last-seen token and only accept tokens issued at or after that time, ratcheting forward when you see a new token.

[2020-07-01 17:57] KranthiPakala-MSFT commented on #57973
@AmitavaHazra You should register your app as shown in below image, with URI and redirect URI and have the same URI in the application. As well as on cloud.config, the same URI should apprear.

[code]

![image](https://user-images.githubusercontent.com/50185738/86276099-27bf8d00-bb89-11ea-8822-1355d9eb79d2.png)

Hope this helps.

We will now proceed to close this thread. If there are further quest

[2020-07-01 17:57] #57973 closed

[2020-07-01 18:03] KranthiPakala-MSFT commented on #58064
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks.

[2020-07-01 18:03] #58064 closed

[2020-07-01 18:04] afratila opened #58246 "Who has permissions to view scan results?"
I can't find this in any of the documentation: who has permissions to view scan results? I cannot view the scan results on our SQL database and would like to create a custom Azure role to enable only this. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent

[2020-07-01 18:04] mamccrea commented on #56762
I don't know if it's on their roadmap. Here's how to contribute: https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst

[2020-07-01 18:05] stevestein commented on #55152
@rogihee - thanks for the feedback. Yes, this is true. Depending on the specific situation you need to test your scenario and break into the largest batch size that makes sense and successfully completes for your data. The article mentions this in a couple places:

For the fastest insert performance, follow these general guidelines _but test your scenario_:
For < 100 rows, use a single parameteriz

[2020-07-01 18:05] #55152 closed

[2020-07-01 18:07] msmimart commented on #56042
Hi @MisinformedDNA, we've recently updated the app registration instructions to reflect UI changes. Thanks for the feedback! #please-close

[2020-07-01 18:07] #56042 closed

[2020-07-01 18:11] scottsta commented on #57612
There are multiple policy types.
You can have multiple policies of each type.
For a given policy type, one can be the 'organizational default'.

[2020-07-01 18:13] MarileeTurscak-MSFT commented on #58222
@rnarayana
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 18:13] MarileeTurscak-MSFT commented on #58236
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 18:22] yeswps commented on #57914
@rboucher The graph makes sense, it would be better to accompany some explanation, such as:
1. For one minute time period, from minute 0 to 1 , server 1 to 3 total counts are: 1+1+1 = 3. From minute 1 to 2, server 1 to 3 total counts are: 5+1 = 6
2. For two minutes time period. From minute 0 to 2, server 1 to 3 total counts are: (1+1+1) + (5+1) = 9
3. For five minutes time period. From minute 0 to

[2020-07-01 18:30] Sharmistha-Rai commented on #46515
This thread can be closed now.

[2020-07-01 18:32] msmimart commented on #55047
@deepaksunny98, @enniobolondi, the article is now updated. When registering the ProxyIdentityExperienceFramework application section, the Redirect URI needs to be a URI (myapp://auth), and not a URL (https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com). Thanks much for your feedback. #please-close

[2020-07-01 18:32] #55047 closed

[2020-07-01 18:32] KranthiPakala-MSFT commented on #58069
Hi @forsajt, The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-01 18:32] #58069 closed

[2020-07-01 18:33] gvashishtha opened #58247 "Need to make it clear that KeyVault access requires the correct Access Policy to be set"
When I went through this documentation for the first time, I had to escalate to one of our engineers because I had assumed my Identity would have access to my Key Vault as long as it had access to my Workspace.

This was incorrect. In fact, I needed to do step 4 of [this documentation
](https://docs.microsoft.com/en-us/azure/key-vault/general/authentication#grant-a-service-principal-access-to-key-

[2020-07-01 18:33] gvashishtha commented on #58247
@shivanissambare FYI

[2020-07-01 18:34] SadiqhAhmed-MSFT commented on #58227
@sasikumarsampath DRBD disks are still unsupported but ASR. It might be successful in protection but, you may see data inconsistency issues upon recovery/failover.

Hope this answers you question!

[2020-07-01 18:39] dragav commented on #45672
[Certificate linking](https://docs.microsoft.com/en-us/azure/service-fabric/cluster-security-certificate-management#certificate-linking-explained)

Re: Linux - there is a [KVVMext for Linux](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-linux), and the SF runtime supports CN-based declarations of cluster certificates for both platforms.

[2020-07-01 18:39] abhisharm opened #58248 "The container doesn't get created in the azure blob storage account I define"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f16616-4848-55f3-f6aa-f95f566811e9
* Version Independent ID: 34898e71-b8af-6d9d-ee53-49f34e2e4033
* Content: [Azure Key Vault logging](https://docs.microsoft.com/en-us/azure/key-vault/general/logging)
* Content Source: [articles/key-vault/general/lo

[2020-07-01 18:44] JamesTran-MSFT commented on #58248
@abhisharm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 18:46] v-demjoh commented on #57588
#please-close

[2020-07-01 18:46] #57588 closed

[2020-07-01 18:50] m1o1 opened #58249 "Info about adding multiple public ssh keys to vmss"
I'm not sure if it's even possible, but it would be great if there were some documentation about how to add multiple public ssh keys to a vmss, so multiple members of our team could access the cluster without having to share ssh keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
*

[2020-07-01 18:57] TravisCragg-MSFT commented on #58233
@martin-nisbet It looks like the previous issue never fully updated the docs. I updated the link again, and it should be updated on the doc within 24 hours.

[2020-07-01 18:57] TravisCragg-MSFT commented on #58233
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-01 18:57] #58233 closed

[2020-07-01 18:58] erhopf commented on #52551
@artsheiko in the next steps we've added a link to Speech Recognition Basics, which builds on the single example provided in the quickstart. It cover continuous recognition and a full suite of core functionality: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-to-text-basics?tabs=import&pivots=programming-language-python

#please-close

[2020-07-01 18:58] #52551 closed

[2020-07-01 19:01] Cloudmersive commented on #26050
This is terrible.  Please provide roadmap guidance.

[2020-07-01 19:04] TravisCragg-MSFT commented on #58241
@LRomandine Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-01 19:04] Duchynko commented on #48902
@dgcaron this worked! Thanks a lot.

[2020-07-01 19:05] rboucher commented on #57914
@yeswps Thanks for the feedback.  I did have an explaination I was working on. I'll make sure I include what I've learned from your feedback. Thanks for asking! I'll also contact the product team about your UI feedback. @vgorbenko . Can we close this issue for now?  I'm scheduled to update the doc I referred to above in July 2020.

[2020-07-01 19:06] anbene commented on #46527
Thank you Cameron for providing the two support paths. Closing this issue.

#please-close

[2020-07-01 19:06] #46527 closed

[2020-07-01 19:08] anbene commented on #58230
Reassigning as dsindona is OOF.

#reassign:anbene

[2020-07-01 19:08] TravisCragg-MSFT commented on #57843
@hisasima Thanks for the feedback! I agree that this does not fully explain the average throughput mechanic. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-01 19:09] TravisCragg-MSFT commented on #57865
@ward0 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-01 19:09] #57865 closed

[2020-07-01 19:15] durayakar opened #58251 "The steps to enable Diagnostic logging are incorrect"
The steps to enable Diagnostic logging are incorrect.
We do not see the Diagnostic Settings link inside the Load Balancer Blade / Monitoring Section.

1. In the portal, click Resource groups.
2. Select <resource-group-name> where your load balancer is.
3. Select your load balancer.
4. Select Monitoring > Diagnostic settings.

Steps 3 and 4 should be reversed like below :
1. In the portal, click Re

[2020-07-01 19:28] vlkuznet opened #58252 "DNS and Routing App settings should be explained"
We have a few App Settings controlling DNS resolution in App Service, briefly alluded to in this document.

The following items:

- WEBSITE_DNS_SERVER
- WEBSITE_DNS_ALT_SERVER
- WEBSITE_VNET_ROUTE_ALL

The naming is pretty self explanatory, but surely it wouldn't hurt to have a standalone table explaining what each value does?

I'd propose the Functions App Settings Reference document as an exampl

[2020-07-01 19:28] erhopf commented on #50934
#reassign: @v-demjoh

John, can you take a look and update these docs based on Darren's feedback? Thanks!

[2020-07-01 19:29] erhopf commented on #50946
#reassign: @v-demjoh

John, can you adjust based on the feedback provided. Thanks!

[2020-07-01 19:30] TravisCragg-MSFT commented on #57931
@sebgod You can find [instructions to update an existing record set here in this doc](https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets#add-a-record-to-an-existing-record-set). The [Set-AzDnsRecordSet](https://docs.microsoft.com/en-us/powershell/module/az.dns/set-azdnsrecordset?view=azps-4.3.0) cmdlet does not have a way to specify by ID, you will need to pass in the DnsRecordSe

[2020-07-01 19:30] #57931 closed

[2020-07-01 19:30] #51380 closed

[2020-07-01 19:32] shashishailaj commented on #57934
@vhorne Could you please help on this and see how best we can improve the documentation.

[2020-07-01 19:33] erhopf commented on #51965
#reassign: @oscholz

[2020-07-01 19:34] shashishailaj commented on #57497
@BakkerJan Hope the above information clarifies the doubts. We will now close this issue. Should you have any further qureries , please feel free to tag me or @vipulsparsh  to your reply and we will be happy to help .

[2020-07-01 19:34] #57497 closed

[2020-07-01 19:34] erhopf commented on #52035
This has been added to the product team's backlog.

#please-close

[2020-07-01 19:34] #52035 closed

[2020-07-01 19:36] erhopf commented on #49628
JavaScript instructions are now available as part of the quickstart for both Node.js and Browser.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-microphone?tabs=dotnet%2Cx-android%2Clinux%2Cjava-runtime%2Cwindowsinstall&pivots=programming-language-javascript

#please-close

[2020-07-01 19:36] #49628 closed

[2020-07-01 19:37] erhopf commented on #49502
#reassing: @v-demjoh

John, please work with Archer to resolve this doc issue. Thanks!

[2020-07-01 19:37] BakkerJan commented on #57497
How does this stand against the least privilege principle of Zero Trust? If I want to delegate this feature to managers, I don’t like to bump them to global admin 😁

[2020-07-01 19:37] erhopf commented on #49495
#please-close

[2020-07-01 19:37] #49495 closed

[2020-07-01 19:37] shashishailaj commented on #55629
@yoelhor Could you please help on this ?

[2020-07-01 19:44] markturpinMSFT opened #58253 "Load Balancer Rules Spanning VNETs"
[Enter feedback here]
On this page, it mentions:
A load balancer rule can't span two virtual networks. Frontends and their backend instances must be located in the same virtual network.

But, on this page, it says that is possible with standard LB:

"If the two virtual networks in two different regions are peered over Global VNet Peering, you cannot connect to resources that are behind a Basic Loa

[2020-07-01 19:49] shashishailaj commented on #57497
I agree , At this point as per the design, for SMS based auth enablement part the GA would have to step in . And bumping the managers to GA is not that great an Idea. However the overhead then comes for the global admin. As this feature is still in preview , I would suggest you to file a feedback Request on https://feedback.azure.com and the program managers would review and prioritize it accordin

[2020-07-01 19:52] shashishailaj commented on #58119
@BASFmthibodeaux We have assigned this to the content team to review the suggestion and see if the document can be updated.

[2020-07-01 19:56] shashishailaj commented on #58206
@gorillatechnology  Directory ID and tenant ID both refer to the same thing . Its the Unique guid which refers to the Azure AD instance. I will request the author for updating the screenshot as I do not have permissions to update screenshots in the repo.

[2020-07-01 19:58] shashishailaj commented on #58206
@iainfoulds Could you please help update the screenshot on this document as requested by the customer because currently the term Tenant ID is used in the portal instead of Directory ID as it was earlier ?

![image](https://user-images.githubusercontent.com/532022/86286023-58440d00-bc03-11ea-80c9-19af7fe2bddb.png)

[2020-07-01 20:05] ericsampson commented on #45672
Thanks @dragav. However we're not using SF just plain VMs, and I can't find any code/documentation for the Linux KVVM extension that would tell me how to hook into a cert renewal event notification in order to restart nginx so that the new SSL cert is picked up.

[2020-07-01 20:08] mike-urnun-msft commented on #58232
@thomas-mutter Thank you for your feedback! We will review and update as appropriate.

[2020-07-01 20:09] SaurabhSharma-MSFT commented on #58080
@Calvin-Yuhui-Liu Yes that is correct and I have submitted a PR to add clarity in the documentation. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-01 20:09] #58080 closed

[2020-07-01 20:11] dlepow commented on #57266
@SteveDMurphy - I published an update to the article with corrected naming information. Thanks again for pointing out the inconsistency.
#please-close

[2020-07-01 20:11] #57266 closed

[2020-07-01 20:11] dragav commented on #45672
There is no such thing (re: notification). You'll probably need to set up a file watch and build your own. I'm not familiar with nginx, but most web server technologies have/should have provisions for plugging in a custom server cert loader.

[2020-07-01 20:14] clongnecker opened #58254 "Missing steps in instructions"
Before the section entitled "Configure RADIUS timeout value on Remote Desktop Gateway NPS", there are several steps missing. The next steps refer to a Remote RADIUS Server group called "TS GATEWAY SERVER GROUP" that doesn't exist, and a Connection Request Policy that doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-07-01 20:25] Mike-Ubezzi-MSFT commented on #57896
@divurgentuser We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-01 20:25] #57896 closed

[2020-07-01 20:29] MarileeTurscak-MSFT commented on #58254
@clongnecker
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-01 20:36] #57914 closed

[2020-07-01 20:38] anbene commented on #57408
Re-assigning this issue as dsindona is OOF.

#reassign:anbene

[2020-07-01 20:48] SatishBoddu-MSFT commented on #58189
@chmagitt I have followed below steps to upload the sample model to my ADT.

**Step 1:** Author SampleModel.json file
![image](https://user-images.githubusercontent.com/62923178/86288983-b939f980-bb9f-11ea-8838-a2b4f212aa3e.png)

**Step 2:** Register an App and give permissions to Azure Digital Twins in my org.
![image](https://user-images.githubusercontent.com/62923178/86289159-0c13b100-bba0-11ea

[2020-07-01 21:07] zr-msft commented on #37861
Thank you for the feedback @xenalite!

We're updating all our guidance to use helm 3 as it contains major design improvements by removing the tiller component and capturing multiple updates for forward patching. AKS never had direct support of the helm client, so if something went wrong with helm that is out of scope of the AKS service.

#please-close

[2020-07-01 21:07] #37861 closed

[2020-07-01 21:30] oscholz commented on #51965
Thank you @wukun2015 for letting us know. I've added this to our backlog, and we will update this ticket when we have resolved the backlog item.
#please-close

[2020-07-01 21:30] #51965 closed

[2020-07-01 21:36] #52463 closed

[2020-07-01 21:37] zr-msft commented on #52463
Thank you for the feedback @timothy-salazar!

I have updated the examples to avoid any conflicts with naming. The changes should be available soon.

[2020-07-01 21:45] ericsampson commented on #45672
Thanks @dragav , at least I know now that there isn't something available but not documented yet.

[2020-07-01 21:52] NWiddup commented on #57546
Thanks @MashaMSFT, that answers the question :)

[2020-07-01 21:52] #57546 closed

[2020-07-01 21:54] dargilco opened #58256 "typo"
"To transfer ownership of a resource, ou can either:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407d2781-1fe1-38a6-dc18-37d4e37d651c
* Version Independent ID: 919a2206-13f9-4f51-2e4f-45fe062d7d43
* Content: [How to use authoring and runtime keys - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/a

[2020-07-01 21:56] ammills01 opened #58257 "Steps to publish"
Great tutorial!  I was able to go through this and get the report I needed. I then published to my app and tried to setup a daily refresh and that's where things went south. Based on everything I've seen it looks like I cannot auto-refresh unless the API endpoint sends back a 200. I have not been able to find an endpoint with the same base URL that returns a 200, here is the URL I'm using: https:/

[2020-07-01 22:10] anbene commented on #57408
santhoshbomma9 Thank you for the feedback. We have fixed the broken link. We really appreciate your contribution!

#please-close

[2020-07-01 22:10] #57408 closed

[2020-07-01 22:19] scunge6006 commented on #57827
Thanks for the update and suggestion. I will follow up with contacting the Azure team.

Miles

From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Wednesday, 1 July 2020 7:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Scott Hill, Miles <Miles.Scott-Hill@team.telstra.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Setting event hub

[2020-07-01 22:28] Mike-Ubezzi-MSFT commented on #57917
@RonnieQuan Yes, the `subnet_to_vnetlocal` entry is required because the entire solution is deployed to a dedicated subnet and all services running on that subnet (in support of the managed instance) leverage this route, not just the Managed Instance. Please see: [Virtual cluster connectivity architecture](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connectivity-architecture-

[2020-07-01 22:38] RyanHill-MSFT commented on #57960
The sqlite mention is especially weird because I didn't get that as you can see below.

![2020-06-29 19_04_09-ssh___172 16 1 2](https://user-images.githubusercontent.com/47189704/86297591-be13a300-bbc9-11ea-85d4-4f93ba6c4592.png)

When I ran `az webapp config appsettings set --name <app-name> --resource-group <app-resource-group> --settings DJANGO_ENV="production" DBHOST="<postgresql-name>.postgre

[2020-07-01 22:41] dargilco opened #58258 "typo "In order the change the app in the container"""
"In order the change the app in the container"

should say "In order to change"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc19d2e0-5960-c165-083c-a9dcf9976c91
* Version Independent ID: 58d32965-6909-2461-5158-aa66d904bf3c
* Content: [Docker containers - LUIS - Azure Cognitive Services](https://docs.microsoft.com/e

[2020-07-01 22:55] normesta commented on #58079
Not sure. @priyashetty-gh might know.

[2020-07-01 22:56] caksoylar opened #58259 ""Gen1 to Gen2 mapping" link still goes to the storage-preview extension"
AFAICT this page is now documenting the new `az storage fs` APIs to access ADLS Gen 2 storage with Azure CLI. However the link [Gen1 to Gen2 mapping](https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview#mapping-from-adls-gen1-to-adls-gen2) still points to the storage-preview documentation which uses the `az storage blob directory` API.

A more general issue is that there i

[2020-07-01 22:58] normesta commented on #57754
Hi @thorhj - thank you for raising this. Yes the comment was erroneous. I've corrected the comment. Also, I added some text that clarifies that when the hierarchical namespace feature is enabled on the account, directories are no longer virtual. They are concrete objects that appear as zero-length blobs when listing. Thanks again.

[2020-07-01 22:58] normesta commented on #57754
#please-close

[2020-07-01 22:58] #57754 closed

[2020-07-01 23:01] lucasmaj opened #58260 "Adaptive Sampling Configuration"
When it comes to configuring adaptive sampling for .NET Core 3.0 worker service application this article states

I found out that it is actually not exactly the same. While ASP.NET Core Apps use something like this:
[code]
background services don't offer such Configure method, to the best of my knowledge. What is needed instead is the following from within ConfigureServices method

[code]

Great t

[2020-07-01 23:16] tschaffler commented on #56911
This issue can be closed - all now working for me. I had copied and pasted several times from the code examples, but may have still had some kind of mistake somewhere in my naming conventions, connection definition, function settings, or something else. I think the error was on my end!

[2020-07-01 23:16] #56911 closed

[2020-07-01 23:27] iainfoulds commented on #58206
Thanks, @shashishailaj. This has been updated in https://github.com/MicrosoftDocs/azure-docs-pr/pull/120942 (along with a couple of other docs), and the changes should go live tomorrow.

#please-close

[2020-07-01 23:27] #58206 closed

[2020-07-01 23:37] jvaught48 commented on #27791
Up until yesterday things worked fine for me, then all of a sudden I am getting this "User is not authorized to query the management service" error.  I have tried every step in this thread to no avail. My user is Global admin with MFA disabled, RDS Owner, subscription owner, Tenant Creator. I am running Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com" first and signing in success

[2020-07-01 23:38] login21 commented on #58220
Thank You for the response. I will closing this ticket here and will create a support ticket. Thank You.

[2020-07-01 23:38] #58220 closed

[2020-07-01 23:38] justin-r-r opened #58262 "Instructions outdated?"
Instructions on this help page don't match what I'm seeing on my "Additional security verification" page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc7dec3-d354-6e40-8662-0e8175e3cb09
* Version Independent ID: 49976ef5-2893-8f73-3a64-94c2f3753d04
* Content: [Set up an authenticator app as your two-factor verifica

[2020-07-01 23:43] amadav opened #58263 "Public Instances behind an internet facing load balancer don't have publicIpAddress in IMDS response."
[Enter feedback here]
I am trying to retrieve public-IP for a VMSS instance using IMDS service on Linux. The VMSS is attached to a backed of an internet facing Standard SKU load balancer and each instance is also assigned a Standard SKU public-IP. The IMDS response for networking information, contains private-ip, but not public-ip as I can view it from portal. Is there any recommendation to get th

[2020-07-01 23:44] SeanXuMSFT opened #58264 "questions about Oauth2 support for domain federation"
i had a customer who is asking the following questions:

1. if we have any future plan to support integrate Azure AD with 3rd-party federation servers via openidconnect/oauth2. The current powershell cmdlet Set-MsolDomainFederationSettings has a parameter -OpenIdConnectDiscoveryEndpoint, does it mean we are already doing something to support openidconnect/oauth2 for AAD federation?
2. Currently to

[2020-07-01 23:49] priyashetty-gh commented on #58079
ACLs scope is for directories and files for ADLS Gen2. For account and container/filesystem level access, you can use RBAC. For more information, please refer to https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#set-file-and-directory-level-permissions-by-using-access-control-lists

[2020-07-01 23:57] JamesTran-MSFT commented on #58262
@justin-r-r
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-01 23:59] crisansou commented on #58079
Ok, this is a gap then because this functionality is available in PowerShell through the command: (Get-AzDataLakeGen2Item -Context $Ctx -FileSystem $FileSystemName).ACL

[2020-07-02 00:19] priyashetty-gh commented on #58079
@crisansou - we'll review and circle back to you on this.

[2020-07-02 00:37] MarileeTurscak-MSFT commented on #57984
Hi @plettb , Are you seeing this on all accounts, even if you create a new one?

When did you last log into the account? If you don't log in at least once a year, the account is inactive and the only way to recover it is if you have the password. If you haven't accessed the account in five years it will be deleted.

If it has been less than 1 year since you last logged in, see:
https://support.mic

[2020-07-02 01:00] mike-urnun-msft commented on #58243
@sayak1711 Thank you for your feedback! We will review and update as appropriate.

[2020-07-02 01:54] SaurabhSharma-MSFT commented on #58239
@ErcNovelT To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-02 01:55] SaurabhSharma-MSFT commented on #58245
@dargilco Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 01:58] SaurabhSharma-MSFT commented on #58247
@Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-02 01:59] SaurabhSharma-MSFT commented on #58249
@m1o1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 02:00] SaurabhSharma-MSFT commented on #58246
@afratila Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 02:02] SaurabhSharma-MSFT commented on #58251
@durayakar Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 02:03] SaurabhSharma-MSFT commented on #58253
@markturpinMSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 02:04] SaurabhSharma-MSFT commented on #58252
@vlkuznet Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-02 02:12] cassiej555 opened #58266 "Additional Resources - last two URL links are the same"
Hi

Both the last links within the additional resource section:

What is session control in Microsoft Cloud App Security?

How to protect Atlassian Cloud with advanced visibility and controls

Go to the same URL:

https://docs.microsoft.com/en-us/cloud-app-security/proxy-intro-aad

Is that meant to be true?

Thanks
Cassie

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-07-02 02:29] william-liebenberg commented on #58213
Thanks Mark!

It works :)

I did try your exact suggestion previously but with an older API version... using the latest made it work :)

[2020-07-02 02:34] frankdrewes opened #58267 "SendClaimsIn supports 'Url' as a valid option"
The SendClaimsIn metadata tag also supports "Url' as an option.

I tried to add a working example, but the custom policy XML is being interpreted as HTML and not displaying in the preview. I can send it to you if you would like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Versi

[2020-07-02 02:40] cqueern commented on #58147
Yes, thanks Team. Appreciate all your hard work.

[2020-07-02 02:42] PramodValavala-MSFT commented on #58132
@steveculshaw Just following up here... Hope my previous comment clears things up.

[2020-07-02 02:55] amanmcse commented on #57873
@nkumars Closing the thread now. Feel free to tag me in your reply, if you have any question.

[2020-07-02 02:55] #57873 closed

[2020-07-02 02:57] amanmcse commented on #57899
@babukumarg  Closing the thread now. Feel free to tag me in your reply, if you have any question.

[2020-07-02 02:57] #57899 closed

[2020-07-02 03:16] vipulsparsh commented on #57820
@ericthomas1  Those logs are never stored, they are just the streaming logs which gets created when blobs are getting uploaded. You cannot access them.

[2020-07-02 03:27] alirezacads commented on #57849
Hello Sneha

Currently, the link is there where the document suggests.
I had to contact our admin (who had admin access to our MSFT subscription) and possibly some of the changes they've made has affected this.

If there is a known reason for the link to not be there (like my permission, or anything like that) I think it's great if the document specifies it.

Thanks for the help

[2020-07-02 04:06] shashishailaj commented on #58264
@SeanXuMSFT Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 04:07] shashishailaj commented on #58266
@cassiej555 Thank you for catching this . We will review it and action the same accordingly.

[2020-07-02 04:09] cassiej555 commented on #58266
All good.

I’m very interested in what the second URL should be as I’m flummoxed if I
can find it.

Cassie

On Thu, 2 Jul 2020 at 14:08, ShashiShailaj-MSFT <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-07-02 04:10] shashishailaj commented on #58267
@frankdrewes Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 04:14] InfiniteQ2 opened #58268 "Editing previous route tables"
The doc mentions that for preexisting routes, to use new route table capabilities, delete any pre-existing routes from Routing section for the hub in Azure portal.  Currently, the preexisting routes in the vWAN are greyed out, so they're un-selectable, un-viewable, and un-deletable.

How, or when, can we view/delete these routes made previously?

---
#### Document Details

⚠ *Do not edit this sect

[2020-07-02 04:18] sormita opened #58269 "Not able to view AKS logs in LogAnalytics Workspace"
I have created a LogAnalytics workspace and attached the logs of my AKS cluster to this workspace using the instructions in the below link: https://docs.microsoft.com/en-us/azure/aks/view-master-logs I am able to view the logs of my AKS cluster inside the AKS cluster blade:
![image1](https://i.stack.imgur.com/067ln.png)
I am able to view the logs inside the Default LogAnalytics workspace as well: