[2022-03-03 10:59] SreejaBhattacharya-MSFT commented on #89057
@davelobban , Let me check with the internal team and I shall update the thread once I hear back from them.

[2022-03-03 11:09] LifeRyuto opened #89146 "Does scaling storage require a restart?"
Does scaling **storage** require a restart? This doc says

However, according to [another doc](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-compute-storage#scale-resources), it says scaling storage also requires a restart.

Does scaling storage lead to a downtime, like connections termination or failure?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-03-03 11:10] lahaddad opened #89147 "How DBUs in Delta Live Tables are charged?"
Q: How DBUs in Delta Live Tables are charged?
A: DLT clusters will be priced the same as all-purpose compute for now but in the future, there will be a separate SKU for DLT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d60fc135-19b8-1f98-fa5b-e2ff1ce9030c
* Version Independent ID: 32846715-7b00-8631-002a-d949d7bd0cae

[2022-03-03 11:10] lahaddad commented on #89147
This is based on [SF ticket 00128036](https://help.databricks.com/s/case/5003f00000HdXgrAAF/delta-live-tables).

[2022-03-03 11:11] lahaddad commented on #89147
#sign-off

[2022-03-03 11:22] eisber opened #89148 "Searching for Device Provisioning Service does not find Microsoft DPS"
Searching for Device Provisioning Service in Azure Portal does not find Microsoft DPS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a75512f-47db-ecee-70d3-9e2e5f470e1c
* Version Independent ID: 74f13239-66c4-dd09-68d4-a77a6c65fcba
* Content: [Quickstart - Set up IoT Hub Device Provisioning Service in the Microsoft Az

[2022-03-03 11:55] shashishailaj commented on #89146
@LifeRyuto Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:06] dkboon01 commented on #88206
Drew
What happens if it is not http trigger?  If you used a timer trigger, can
you pass in a parameter ?

On Wed, Mar 2, 2022 at 5:48 PM Drew Skwiers-Koballa <
***@***.***> wrote:

[2022-03-03 12:20] o-l-a-v opened #89150 "Can Key Vault RBAC roles be set on management group scope?"
I tried setting Key Vault RBAC role "Key Vault Secrets Officer" on a management group with one subscription. The role inherited down to the Key Vault when checking "Access control (IAM) blade, but actually getting access to a Key Vault secrets never applied. I waited for hours.

Then I set it on the Key Vault itself, and it worked within minutes.

On what scopes (Parent of nested Managementont Gro

[2022-03-03 12:21] shashishailaj commented on #89136
@StephenBethke Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:27] shashishailaj commented on #89141
@nth-block Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:30] shashishailaj commented on #89135
@WenJason Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:33] shashishailaj commented on #89144
@bolt-io Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:35] shashishailaj commented on #89139
@georgalthaus Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:37] GitaraniSharma-MSFT commented on #89043
@kimjamia , thank you for bringing this to our notice. You are correct.

SPN ObjectID for **Azure Front Door (Classic)** is **"ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037"**.
It was documented correctly but was recently changed due to a misunderstanding between the SKUs.

You can validate the same in PowerShell as below:

ServicePrincipalNames : {ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037,
ApplicationId

[2022-03-03 12:37] guywi-ms commented on #84973
@xuegao112  Thanks for your inquiry and apologies for the delayed response!

If you change the data retention policy on the AzureActivity and Usage tables to more than 90 days, you'll be charged for retaining this data beyond the 90-day period.

We've submitted a documentation change to clarify this issue, and the updated article should be live by tomorrow.

Please let us know if there's anything

[2022-03-03 12:37] #84973 closed

[2022-03-03 12:38] shashishailaj commented on #89111
@chenlonglab198 Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:39] shashishailaj commented on #89142
@Christopher-P-Green Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:42] shashishailaj commented on #89150
@o-l-a-v Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:50] shashishailaj commented on #89117
@wailinoo1 Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 12:51] GitaraniSharma-MSFT commented on #89043
@kimjamia , the doc has been updated with the correct SPN ID for Azure Front Door (Classic) i.e. ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037. The changes will reflect shortly!

[2022-03-03 12:58] vladai78 commented on #89038
Hi @naokitakeda14

Thank you for the feedback. We have removed the confusing part of the wording related to per-instance limits in the table. It looks much cleaner and clearer now - thanks!

All the details and best practices are explained in the "File IO characteristics in General Purpose tier" section of the article - let us know if you have additional questions or comments.

[2022-03-03 12:59] andyofengland opened #89151 "confusing message about container support in a single node cluster"
The *note* indicates that containers are not supported on a single node cluster - however, this is incorrect.

"Containers are not supported on local single node Service Fabric clusters (neither Linux clusters on OneBox, nor Windows clusters on local Service Fabric installations)."

Setup a single node cluster and then create a containerised web app in visual studio.  Deploy the app into the clust

[2022-03-03 13:08] guywi-ms commented on #86164
@darrenjoycenz Thanks very much for your inquiry!

For Pay-As-You-Go (per-GB) pricing details, see https://azure.microsoft.com/pricing/details/monitor/.
You can see your per-node costs in your Azure usage and charge data. For more information, see https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/download-azure-daily-usage.

We've submitted a documentation change to clarify

[2022-03-03 13:08] #86164 closed

[2022-03-03 13:21] AshokPeddakotla-MSFT commented on #89148
@eisber Thanks for reporting the issue.
I'm able to see DPS through All Services -> Internet of Things
<img width="912" alt="image" src="https://user-images.githubusercontent.com/44426435/156572763-eaabbfea-1eb5-4259-9f7a-659131999596.png">

I am checking internally with our team and update here if there is any known issue.

[2022-03-03 13:42] eisber commented on #89148
so I'm literally searching for it, not navigating there

![image](https://user-images.githubusercontent.com/10142286/156576435-5514a081-ab08-4fa5-8f19-a8a3ebec6630.png)

[2022-03-03 13:52] AnnuKumari-MSFT commented on #88799
PR is raised for the document enhacement: https://github.com/MicrosoftDocs/azure-docs/pull/89152

The default private zone listed in the doc is  '(New) privatelink.azurewebsites.net.'
However, Data Factory has 2 private endpoints dataFactory and portal.
Each has it default dns zone name.
dataFactory - **'privatelink.datafactory.azure.net'**
portal - **'privatelink.adf.azure.com'**

[2022-03-03 14:05] cscoon opened #89153 "Note re: integration between Azure Data Factory and Git is confusing and poorly worded"
The following Note is confusing and probably not worded correctly:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Independent ID: 2035c3ea-1e64-4f1b-0194-c1b407812e28
* Content: [Source control - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/sourc

[2022-03-03 14:16] wesleyae commented on #84090
This is also an issue on the screenshot here: https://docs.microsoft.com/en-us/azure/bastion/vnet-peering

[2022-03-03 14:16] dougscc opened #89154 "Nested groups in Azure AD are not supported within all scenarios."
What does this *mean*? Which scenarios? Where can we expect it to fall down? Is this a bug? Is this by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independent ID: d49c873c-9843-8428-a6d1-a1995067d13b
* Content: [Service limits and restrictions - Azure Active Dir

[2022-03-03 14:22] itamar56 opened #89155 "Bicep Linter should test for old API versions"
[Enter feedback here]

I see there is not test for old API versions being used in the templates. This is something very useful in ARM TTK.
I think this should be implemented in Bicep as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2df3f41-9a44-bf71-0031-09f19d4cbaa1
* Version Independent ID: 03c1e994-73a7-bdb2-

[2022-03-03 14:22] AshokPeddakotla-MSFT commented on #89148
@eisber It seems to be an issue with the preview portal. Please Go to All Services or create a resource -> Select Internet of Things -> DPS

<img width="733" alt="image" src="https://user-images.githubusercontent.com/44426435/156582901-efdf7807-a12f-48f5-b2a8-a4f7e225a63d.png">

<img width="733" alt="image" src="https://user-images.githubusercontent.com/44426435/156583113-7ed4e0a1-19b1-4527-a6a4-0

[2022-03-03 14:33] W1ll1amz commented on #88889
Hi @MonikaReddy-MSFT do you have any news for me on this? Many thanks.

[2022-03-03 14:51] jstenlund opened #89156 "Add Azure Function extension as prerequisite"
The article does not mention that the Visual Studio Code extension "Azure Function" is a prerequisite. I had the same issue as reported [here](https://github.com/Azure/logicapps/issues/368), and also found that installing the Azure Function extension (as suggested in one of the comments) resolved my issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-03-03 14:55] danmyhre opened #89158 "MFA from home tenant"
I believe this now needs updating...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-336b308c564f
* Version Independent ID: d6eca215-d352-50b0-994e-0077a5e54fe6
* Content: [B2B collaboration FAQs - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/external-identities

[2022-03-03 15:00] Fleid commented on #89117
Hi @wailinoo1, CASE is supported with 2 syntaxes ([see doc](https://docs.microsoft.com/en-us/stream-analytics-query/case-azure-stream-analytics?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstream-analytics%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json)):

Simple:
[code]

Searched CASE expression:

[code]

Do you have trouble using them?

[2022-03-03 15:06] UnknownGreyBerry opened #89160 "old azure portal steps"
The steps under azure portal appear to be using old steps and screenshots. The advanced access policy options are located direct under access policies now.

see attached file for how the portal looks today
<img width="1027" alt="Screenshot 2022-03-03 160313" src="https://user-images.githubusercontent.com/100856572/156591843-3c130fc2-b57d-4b4e-bf7c-a616afaf188c.png">

---
#### Document Details

⚠ *

[2022-03-03 15:23] sergioandreslq commented on #88524
The process works perfectly.
I got this error with 2 different tenants and I invested time in research, I suggest updating the steps on this page to link it and solve it easier.

3.2.1.1.5.	Step 5 EnableMIPLabels
#get data for Microsoft 365 groups
$grpUnifiedSetting = (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ)
$grpUnifiedSetting

3.2.1.1.5.1.	Step 5.1: i

[2022-03-03 15:23] hiLemontree commented on #88595
@cynthn & @PRMerger-2 @kobulloc-MSFT , could we have some update for this issue?
Thank you!

[2022-03-03 15:24] tfitzmac commented on #89155
@itamar56 - thanks for this feedback. This repository is specifically for doc enhancements. To request a change in the product, please use the [Bicep repo](https://github.com/Azure/bicep/issues).
#please-close

[2022-03-03 15:24] #89155 closed

[2022-03-03 15:29] adieldar opened #89162 "How do I change the environment of the notebook?"
[Enter feedback here]

I created a custom environment successfully. However there is no explanation how to use it - either set it as the new environment for the workspace, or just use it for specific notebook. I can probably do it using the API, but I expected to have some UI to change the workspace environment. Please advise, thanks Adi

---
#### Document Details

⚠ *Do not edit this section. It

[2022-03-03 15:30] rafaelsmoreno commented on #56733
I have the same situation:

- streaming dataset getting a positive feedback, status 200, after pushing data into it
- Data not refreshing automatically in reports at pbi service
- Refresh status = dataset creation date_time instead of actual last refresh.

What am I missing? I could not get any help from this thread so far, and documentation does not address this particular scenario.

[2022-03-03 15:38] shashishailaj commented on #89158
@danmyhre Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 15:46] kobulloc-MSFT commented on #89160
@UnknownGreyBerry Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-03-03 15:47] AdelaManea opened #89163 "Powershell/Az-CLI support for soft-delete restore in flat namespace"
Hello team,

I am a Azure Storage CSS engineer. We receive a good amount of cases where customers request Powershell or Azure CLI support in managing soft-deleted blobs when versioning is enabled also, for flat namespace accounts. We cannot assist them besides recommending they use .NET. We do not develop scripts for customers as part of CSS, so if they do not know .NET we cannot assist further.
F

[2022-03-03 15:50] MayankBargali-MSFT commented on #89156
@jstenlund The document does call out this in the Prerequisites tools section [here](https://docs.microsoft.com/en-us/azure/logic-apps/create-single-tenant-workflows-visual-studio-code#tools) to install the extension in your VS Code.

[2022-03-03 15:50] dzsquared commented on #88206
Ok, I think I understand a bit more, and see you also have asked a similar question on the repository for the bindings. Linking here for future searchability: https://github.com/Azure/azure-functions-sql-extension/issues/212

First off - for the timer trigger - the object made available to the function and bindings is the TimerInfo object:
- https://docs.microsoft.com/en-us/azure/azure-functions/f

[2022-03-03 16:00] jstenlund commented on #89156
@MayankBargali-MSFT I'm referring to [this extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions), which isn't mentioned in the tools section.

[2022-03-03 16:22] PbALpi7xEX commented on #74714
We have an interesting issue relating to this and would like to know more for our own sanity. Azure FD WAF Microsoft_DefaultRuleSet-1.1-XSS-941101 is triggering on URLs which have filenames beginning with "onedrive". We have employee html pages about onedrive and they all trigger a block because of a referrer URL containing a query param. If we access the link direct (without a referrer) it passes

[2022-03-03 16:31] stevevi commented on #89068
#please-close

[2022-03-03 16:31] #89068 closed

[2022-03-03 16:32] pragnagopa commented on #81222
Yes, `dotnet-isolated` is right value !

[2022-03-03 16:42] ShaikMaheer-MSFT commented on #89145
@lahaddad Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-03 16:45] gitralf opened #89166 "Azure Germany is deprecated"
Azure Germany is deprecated, this page can be removed or at least add an information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76aa640d-c6f1-a76a-f461-835b83b410a5
* Version Independent ID: 5a5a4ad9-8550-7b3e-7f67-41aa4cba407a
* Content: [Azure AD Connect in Microsoft Cloud Germany](https://docs.microsoft.com/en-u

[2022-03-03 16:45] ShaikMaheer-MSFT commented on #89147
@lahaddad Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-03 16:51] AaronMaxwell commented on #84097
#please-close

[2022-03-03 16:54] fmerinop opened #89167 "ARM Templates do not work"
[Enter feedback here]
Hi @ll,

I have try to deploy several times (doing the QuickStart in advance and directly) and I am always getting the same error in register-edge-device-on-hub Conflict

{
    "status": "Failed",
    "error": {
        "code": "DeploymentFailed",
        "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see h

[2022-03-03 16:55] bsaxbergMS opened #89168 "RBAC role needed to view?"
[Enter feedback here]
Any way we can list what RBAC role you would need from the Azure side to view the tenant id via steps 1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd7fa4e-3f87-b10e-02c9-270abb108fe0
* Version Independent ID: 659699df-0088-4715-8965-2b8594243a24
* Content: [How to find your tenant ID - Azure

[2022-03-03 17:03] mtrcyclemark opened #89169 "Please update"
Hello,

Please update the following statement to provide more explicit clarity for migration scenarios:

"Having multiple Azure AD Connect sync servers connected to the same Azure AD tenant is not supported"

In forest consolidation scenarios it may be the case that AAD Connect needs to be moved from one forest to another. I believe it would be helpful & add clarity that it is OK to have an active

[2022-03-03 17:30] kobulloc-MSFT commented on #89102
@valtynikov Quick update: There are some additional layers which adds some complexity to this on the AKS side which we are reviewing however it looks like this may need to be updated (as well as in some other locations).  We're continuing to review this and will keep you updated.

[2022-03-03 17:39] AlanPintor-git opened #89170 "Error(s) when running the C# sample code"
[Enter feedback here]
Greetings,
I completed many of your courses and paths for IoT Central but still can not connect a "real device" (hardcoded) to IoT Central nor send telemetries.

I am using the C# sample and Visual Studio 2022

In this tutorial I am getting these errors:
![image](https://user-images.githubusercontent.com/81703131/156612481-9aebca42-b0fa-48b3-8ee9-e6541554da1a.png)

Can you pl

[2022-03-03 17:49] KranthiPakala-MSFT commented on #88919
@yankovj Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://do

[2022-03-03 17:52] KranthiPakala-MSFT commented on #88924
@xujiongda
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-03-03 17:53] ecfan commented on #88858
Hi @saurabh8391, I've updated the screenshots and steps in this doc. If you still run into places where the doc doesn't match the product, please add on to this thread. Meanwhile, we'll close this issue for now.

@mike-urnun-msft: #please-close

[2022-03-03 17:53] #88858 closed

[2022-03-03 17:58] ecfan commented on #89100
@DamionWaltermeyer: Both docs have been updated, thanks!

[2022-03-03 17:59] #88829 closed

[2022-03-03 17:59] JasonWHowell commented on #88924
@farukc @nicjohn79 do you know this subject by chance?

[2022-03-03 18:06] KranthiPakala-MSFT commented on #89153
@cscoon Thanks for the feedback, could you please elaborate a bit on your feedback?

@nabhishek Could you please review the above feedback and help improve the content? -  Thank you

[2022-03-03 18:09] filipers opened #89171 "Before certificate renewal - Needs specific time window"
Under section "Steps to set certificate notifications", it is not clear when the "Before certificate renewal" notification will happen. Is it 1 day, 10 days etc. We need specific information to test notifications properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adde7541-5e77-17e0-5f7d-9690215b2064
* Version Ind

[2022-03-03 18:17] Karishma-Tiwari-MSFT commented on #88627
@cynthn Would you be able to share your insights on this? Thanks.

[2022-03-03 18:20] Karishma-Tiwari-MSFT commented on #89105
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-03-03 18:22] MarileeTurscak-MSFT commented on #89169
@mtrcyclemark
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 18:22] kobulloc-MSFT commented on #88595
@hiLemontree Ah, this is specific to your VM deployment.  This would be the checklist from that section:

**Do you have a qualifying role?**
Confirm whether or not you have one of the qualifying roles using Access control (IAM) and checking the Roles/Classic Administrator for Administrator, Co-administrator, Owner, or Contributor.

https://docs.microsoft.com/en-us/azure/role-based-access-control/r

[2022-03-03 18:23] MarileeTurscak-MSFT commented on #89166
@gitralf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 18:24] TorquinDSL opened #89172 "Time Formatting"
Please explain time formatting with respect to scheduling Logic App Workflows. The page mentions time zones but there is no explanation of how to format times and time zones.
Please explain it and show multiple examples of date/times that Azure will accept as valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87df9

[2022-03-03 18:25] MarileeTurscak-MSFT commented on #89168
@bsaxbergMS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 18:32] MarileeTurscak-MSFT commented on #89171
@filipers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 18:44] cynthn commented on #88627
@Karishma-Tiwari-MSFT that sounds like a product team question. I forwarded you an e-mail with changes that engineering was planning on making, but I don't think they have created a PR yet.

[2022-03-03 18:45] MarileeTurscak-MSFT commented on #89171
The notifications are based on the Lifetime Actions. You can set a trigger specified by days before expiry or lifetime span percentage, and the action to send an email gets fired at that time and all contacts will be emailed.

https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-rotate-certificates

https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates

[2022-03-03 18:45] johnayoub opened #89173 "Exclusion rules inheritance"
I currently have two WAF rules one on the application gateway level and another for a specific URI. If I have some exclusions at the global level do they apply also to the specific URI as well?

Global: Exclude Cookie1
URI: Exclude Cookie 2

Is the end result Cookie 1 & Cookie would be excluded for that specific URI or only Cookie 2 would be excluded?

---
#### Document Details

⚠ *Do not edit thi

[2022-03-03 18:47] TheTechOddBug opened #89174 "Explanation not clear enough about how to add some parse option to previous queries."
For the https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-cost-storage#data-volume-by-azure-resource-resource-group-or-subscription entry, when you add the command to parse _ResourceId:

---
If needed, you can also parse the _ResourceId more fully:

Kusto

Copy
| parse tolower(_ResourceId) with "/subscriptions/" subscriptionId "/resourcegroups/"
    resourceGroup "/providers/" provi

[2022-03-03 18:49] kelleymh commented on #37610
Yes, I think the new article covers this information.  It clarifies that 'eth0' should be the synthetic interface, and that only the synthetic interface should have an IP address.  The originator's comment about binding to an IP address rather than interface is correct.  Saying "binding to the interface" is essentially shorthand for saying "binding to the IP address of the interface".

I would agr

[2022-03-03 18:50] MarileeTurscak-MSFT commented on #89171
I made a pull request to update that section with a note that this value is specified in the Lifetime Actions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190480

Hope this helps!

[2022-03-03 18:50] #89171 closed

[2022-03-03 18:54] kelleymh commented on #44303
This comment mentions "testpmd", which is a DPDK component.  The new article you reference above doesn't cover DPDK.  There is separate public documentation for setting up and configurating DPDK, which I'm not involved in.  A good person in the Dev team for DPDK documentation is Long Li (longli@microsoft.com).

[2022-03-03 18:56] valtynikov commented on #89102
@kobulloc-MSFT thanks for taking a closer look! You are right, a similar change would need to be made to a few other pages in this section of the documentation. Please let me know if I can be of any help.

[2022-03-03 19:10] cscoon commented on #89153
It's unclear what role Azure Storage plays in the ADF CI process, if any at all.  My understanding is that the integration involves the flow of source code from the ADF into Git, and from the collaboration branch into the ADF.  It's possible that the phrase Azure Storage is being used incorrectly here, as this article doesn't describe any role that storage plays in this process.

[2022-03-03 19:10] #89071 closed

[2022-03-03 19:11] cluelessgumshoe commented on #89071
got it working using POST instead, thanks!

[2022-03-03 19:29] ju-shim commented on #88517
This size does not support disk bursting.

@support -- Any VM SKU with a burst column (see [here](https://docs.microsoft.com/en-us/azure/virtual-machines/ev4-esv4-series#esv4-series)) supports it, while those without such a column don’t.

There is no VM bursting for the larger Msv2 VMs, however, we did just recently (within the last month) update the [M-series](https://docs.microsoft.com/en-us/azu

[2022-03-03 19:29] #88517 closed

[2022-03-03 19:33] MarileeTurscak-MSFT commented on #89169
The full sentence says,

I think because the staging server scenario is specified, it's pretty clear that this is referring to multiple active Azure AD Connect servers at once. Could you clarify where you think the confusion could occur?

I did make a pull request to update the guide, but will leave it open for the author's discretion. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190488

[2022-03-03 19:33] #89169 closed

[2022-03-03 19:33] bandersmsft commented on #88490
https://github.com/MicrosoftDocs/azure-docs-pr/pull/190489

[2022-03-03 19:35] mike-urnun-msft commented on #89138
Thank you for your feedback! We will review and update as appropriate.

[2022-03-03 19:40] krispenner commented on #88580
@SnehaAgrawal-MSFT any update you can share? I have requested an update via my support request this week as well but never heard anything back from the support engineer. This has been blocking us from moving forward for 10 days now. Anything you can share at all would be greatly appreciated.

[2022-03-03 19:42] Oury-MSFT commented on #88643
@Markbrown could you please bring some clarity on the above feedback. Thanks

[2022-03-03 19:45] mbukovich commented on #85713
hspin updated me through email that this is not a bug and is designed behavior because of security implications and that this is not just a matter of SAML SSO enabled apps, but apps containing custom signing certificates.

@nickludwig will documentation be updated to alert customers not to use apps with custom signing certificates as mid-tier APIs in the OBO flow?

[2022-03-03 19:49] nickludwig commented on #85713
@mbukovich yup! Took over docs ownership from Hirsch 2 weeks ago, so still doing some onboarding here. My goal is to submit a PR updating the doc next week, and I'll tag you when I do so you can take a look.

[2022-03-03 19:55] v-asymes opened #89175 "generate pasphrase"
the generate passphrase seem to be referring to preview and not classic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d179f813-5826-7ec3-30c5-9b6b9c0a9acc
* Version Independent ID: 3141a3e5-ea3b-cba1-7e34-4df69b8e1aa3
* Content: [About the Mobility service for disaster recovery of VMware VMs and physical servers with

[2022-03-03 19:55] mbukovich commented on #85713
@nickludwig
Awesome, thanks!

[2022-03-03 19:58] ckittel commented on #44303
@kelleymh, correct, but the issue the customer experienced would have been prior to any DPDK scenario.  That's why I thought maybe you might have been able to speak to it, since it was a boot-time, kernel driver level documentation request.  DPDK just happened to be the scenario that caused the customer to identify the issue, but isn't really related from what I can tell.

[2022-03-03 20:08] filipers commented on #89171
@MarileeTurscak-MSFT, thanks for the update but could you please elaborate?

The documentation that I mentioned, refers to the renewal notification that happens “Before certificate renewal”. This is what needs to be clarified.

There are two notifications when the Certificate is under auto-renewal:

If a certificate's policy is set to auto renewal, then a notification is sent on the following even

[2022-03-03 20:12] nicjohn79 commented on #88924
@JasonWHowell Yes, I think they are saying 'azure.archive.ubuntu.com' needs to be added to the Target FQDNs section. @xujiongda is the Target FQDNs section is where this endpoint needs to be added in the documentation?

[2022-03-03 20:21] bandersmsft commented on #88490
@TaylorHuang2017 I'm removing the paragraph you mentioned above. The updated article will get refreshed live today at 3:30 PM.

#please-close

[2022-03-03 20:21] #88490 closed

[2022-03-03 20:21] jeffhollan commented on #87404
Added to docs. Thanks for the feedback - it should roll out in next 24 hours. #please-close

[2022-03-03 20:21] #87404 closed

[2022-03-03 20:21] jeffhollan commented on #86999
Added to docs. Thanks for the feedback - it should roll out in next 24 hours. #please-close

[2022-03-03 20:21] #86999 closed

[2022-03-03 20:21] jeffhollan commented on #83376
Added to docs. Thanks for the feedback - it should roll out in next 24 hours. #please-close

[2022-03-03 20:21] #83376 closed

[2022-03-03 20:24] Mouzou commented on #69658
Hi @psmanhas,
Any update on this?
Thank you

[2022-03-03 20:25] kelleymh commented on #44303
For normal (not DPDK) network setup in a VM on Hyper-V or in Azure, there should not be any need to modprobe either the mlx4 or mlx5 driver.  Upon being offered a Mellanox VF device, the Linux kernel should find the appropriate driver (either mlx4 or mlx5) and load it automatically.   I have not previously heard of any customer instances where this did not work.  The original poster's comments men

[2022-03-03 20:28] ckittel commented on #44303
Wonderful, thanks for the much deeper added context!

[2022-03-03 20:34] markjbrown commented on #87841
@cpinotossi is there a docs-related bug or question here? I'm not clear on what you are asking.

Thanks.

[2022-03-03 20:38] #87841 closed

[2022-03-03 20:42] ecfan commented on #89172
Hi @TorquinDSL,

Thanks for your question. The **Time zone** property on a recurrence-based trigger provides a list of time zones for you to select, for example, in the **Recurrence** trigger:

![image](https://user-images.githubusercontent.com/13206671/156649040-712155be-089a-4b2c-ae4d-00a80bff2d8d.png)

So, I don't think you have to manually format the time zone. However, the start time requires

[2022-03-03 20:45] veronicapetersen opened #89176 "Add content on using New-MgServicePrincipalAppRoleAssignment"
Can this be updated to leverage New-MgServicePrincipalAppRoleAssignment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32925b4-4773-501a-590e-0ed0d3c017ce
* Version Independent ID: f2b2e4d7-90e1-96c1-cf54-1a1144f6b0ee
* Content: [Assign a managed identity to an application role using PowerShell - Azure AD](https://do

[2022-03-03 20:48] miked1313 opened #89177 "W365 Business supports ExpressRoute?"
For **On-premises connection**:  Does Windows 365 **Business** really support all of these?  "Supported by ExpressRoute, VPN, Azure Gateway, and SD-WAN".  I think it is none of them.  Tried to find docs supporting this and could not find any.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5820d1-1b49-3c41-62c3-c5fd53

[2022-03-03 20:53] johnayoub opened #89178 "WEBSITE_PULL_IMAGE_OVER_VNET now working"
I have a windows container that I deployed to ACR but I can't seem to pull the image over the private endpoint in App Service. I have the VNET integration setup along with the private endpoint and the following setting WEBSITE_PULL_IMAGE_OVER_VNET set to true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f081389e-21c

[2022-03-03 21:10] fmerinop opened #89179 "Verify the installation - edgeHub module is not enabled"
[Enter feedback here]

When you get a 417, the edgeHub module is not enabled.

However, to quickly enable the IoT Edge hub module so we can have a successful status in the IoT Hub cloud interface, we can issue an empty deployment. In the previous page, click on the Set Modules button and just hit "next" until you get to the "submit" button.  A deployment with no other modules will be created, but

[2022-03-03 21:31] brianstringfellow opened #89180 "How to Specify the VM Image Version"
I cannot find anywhere in the Azure Image Builder documentation about how to set the VM image version. It appears the default three part version is some sort of timestamp. I would like to be able to specify the version number when I generate the image versions. I see only a mention of the version format in a troubleshooting guide but no specifics on how to set it.

e.g.
The image version name shou

[2022-03-03 21:34] tamram commented on #85122
@Diogo-Feliciano - This appears to now be working as expected in the latest version of the CLI.

#please-close

[2022-03-03 21:34] #85122 closed

[2022-03-03 21:44] Wibbbs commented on #40789
I am confused by this page then.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-nodejs?tabs=windows

[2022-03-03 21:45] jameskingdon-microsoft opened #89182 "Missing field `metadata_creation_date`"
This page is missing any mention of the default field `metadata_creation_date`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63559d85-a673-b5cb-6ac0-465c988774c3
* Version Independent ID: 3cfbd312-0eb4-d2a4-0819-566a197d6475
* Content: [Azure Blob indexer - Azure Cognitive Search](https://docs.microsoft.com/en-us/azur

[2022-03-03 21:46] #89182 closed

[2022-03-03 21:47] jameskingdon-microsoft commented on #89182
Nevermind, found it on this page https://docs.microsoft.com/en-us/azure/search/search-blob-metadata-properties

[2022-03-03 21:48] Wibbbs opened #89183 "Configuration for Node is not available through the portal for this app"
When enabling Application Insights on a Web App I receive the following message when selecting nodeJS as the stack type. Although the documentation page states that this should work. I am not sure if I am missing something or this is a documentation mix up.

![image](https://user-images.githubusercontent.com/24574428/156658214-7c836051-b40b-491c-bf17-d8a2a63fe57c.png)

---
#### Document Details

⚠

[2022-03-03 21:51] meztez opened #89184 "useradd limitation"
useradd has a 32 characters limit on username length, would you suggest using something else than email for server account provisioning?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee51fd57-24aa-7456-2799-9785e30a875d
* Version Independent ID: b3113a9c-ba3c-7c50-1357-d92ab15c438d
* Content: [Tutorial: Azure

[2022-03-03 21:54] msangapu-msft commented on #51639
Hi @yejiyang Are you still having issues? Can you please clarify which step?

[2022-03-03 21:55] mbiver opened #89185 "Better examples and explanation of how to use custom data"
Hello, team.  I've read through this and really don't have any idea how to use it.  I think the page could be improved by adding some examples of how to run commands, or a script, etc. for both Windows and Linx.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282b39fe-e8fe-f698-36c2-321f088f6554
* Version Indep

[2022-03-03 21:56] SaiKishor-MSFT commented on #89173
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-03 21:57] ecfan commented on #82150
Closing this issue as the work item is already on the backlog and prioritized with other work.

@MayankBargali-MSFT: #please-close

[2022-03-03 21:57] #82150 closed

[2022-03-03 22:00] ecfan commented on #83358
As a work item already exists on the backlog and is prioritized with other work, we're closing this work item for now.

@mike-urnun-msft: #please-close

[2022-03-03 22:00] #83358 closed

[2022-03-03 22:17] tamram commented on #89163
#reassign: @stevenmatthew

[2022-03-03 22:22] MarileeTurscak-MSFT commented on #89184
@meztez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 22:30] kobulloc-MSFT commented on #89180
@brianstringfellow Thank you for your question!  I'm doing some research and will get back to you shortly.

[2022-03-03 22:41] SatishBoddu-MSFT commented on #89179
Hello @fmerinop Thanks for the feedback!

Wanted to understand the right section in the document which needs enhancement? Could you please name that section?

[2022-03-03 23:11] MrMcMisterson commented on #87249
Agreed, there is no way to run this

[2022-03-03 23:23] tigormanmsft opened #89186 "Oracle database recovery missing from "Restore The Entire VM" section"
The section of this page entitled "**[Recovery](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-backup-azure-backup?tabs=azure-portal#recovery)**" should be moved to the bottom of the page and renamed as "**Special Use-Case:  restoring disks to an existing VM**".  This is because it is a discouragingly complex set of instructions for a use-case that will on

[2022-03-03 23:27] James-Hamil-MSFT commented on #89184
Hi @meztez , where are you seeing that useradd has a 32 char limit? AAD string attributes have a 256 char limit: https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes

[2022-03-03 23:33] technion commented on #81940
Just noting that the merged PR, which was submitted more than a year ago, does not address most of the community concerns.

[2022-03-03 23:43] meztez commented on #89184
Yes @James-Hamil-MSFT.

On ubuntu impish, most other linux distro too. useradd utility has a 32 character length limit, see useradd manpage https://linux.die.net/man/8/useradd under Caveat.

So if you run `useradd -m myname.isalongname-becausemyparentscouldnotpickonlyone@mycompany.com` you will get a invalid name warning.

Also see useradd source code :
https://github.com/shadow-maint/shadow/blob/

[2022-03-03 23:56] vmonge opened #89187 "Sentinel UEBA enable - additional charges may apply clarification."
Hello, can you provide more detils on this section :

"No special license is required to add UEBA functionality to Microsoft Sentinel, but **additional charges may apply**. "

What does add charges mean?  You mean Ingestion to BehaviourAnalyticsInsights source increase or will it collect from other sources as well?
The statement alone is not giving the customers a clear expectation what charges th

[2022-03-04 00:03] meztez commented on #89184
@James-Hamil-MSFT From what I'm seeing, the cloud ubuntu image useradd version we are using was compiled with utmp.h values of 32.

[code]

[code]

[2022-03-04 00:09] pizzaz93 commented on #76535
Hi @mitulmk,

Please reference the updated documentation at https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/grafana-plugin.

[2022-03-04 00:13] SaiKishor-MSFT commented on #88996
@webpwnized Thank you for reaching out to us on Github.

- The step- open your firewall resource group basically is asking you to open your Resource Group where your firewall resides i.e., a regular resource group and then choose the Firewall.

- Are you saying you cannot find the firewall object in the regular resource group? If you have created the firewall already, it should show up in the reso

[2022-03-04 00:31] danieldespainTLS opened #89188 "Add an example that returns all properties of a document in a JOIN query"
The example for a JOIN only returns the c.givenName property.  It's easy to deduce that I could write "SELECT c.givenName, c.gender ..." to get more fields.  However I might not want to manually write out ALL the fields **_when I want the entire document_** of each person.

There's a _very_ simple way to do that:

SELECT **VALUE c** FROM Families f JOIN...

but I can't find that (VALUE keyword) an

[2022-03-04 00:32] naokitakeda14 commented on #89038
Hi, @vladai78
Thank you for modifying the document.
I still have a concern.
You removed the part of per-instance limits in the table. Which means, max IOPS per instance is not "Up to 30-40 K IOPS per instance".
Hence, for example, if I create 100 x 300 GB files with max 2300 IOPS each, it's simply total 230,000 IOPS (2300 x 100), I can get 230,000 IOPS per instance, isn’t it?

[2022-03-04 00:48] WilliamDAssafMSFT commented on #88337
Thank you @constantino-casado for the attention to here. @ajagadish-24 has removed that content. Thanks for taking the time to provide this feedback, your suggestions help improve our documentation.

#please-close

[2022-03-04 00:48] #88337 closed

[2022-03-04 00:51] MarileeTurscak-MSFT commented on #89168
Hi @basxbergMS,

There shouldn't be any special RBAC role required. Even the default "User" role can read the tenant ID/directory ID, and if the admin panel is restricted they should still be able to access the data via Powershell.

Since you seem to be an internal user and the Github issues are intended more for external customers, feel free to message me on Teams or create a pull request if you

[2022-03-04 00:51] #89168 closed

[2022-03-04 00:58] YutongTie-MSFT commented on #89162
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-04 01:45] Karishma-Tiwari-MSFT commented on #89151
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-04 01:46] Karishma-Tiwari-MSFT commented on #89177
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-04 01:47] TaylorHuang2017 commented on #88490
@bandersmsft Thanks a million Bill. I appreciate your assistance!

[2022-03-04 02:03] jlautman commented on #88643
This is precisely the point of this documentation issue. There's this one corner scenario where adding throughput to a database is impossible, called out in one place on the docs (that I can't even find again), among over a dozen articles, quickstarts, and how-tos either strongly implying or outright stating that any database and container resource can be migrated back and forth.

@markjbrown If I

[2022-03-04 02:15] VikasPullagura-MSFT commented on #89142
@Christopher-P-Green
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-04 02:15] VikasPullagura-MSFT commented on #89142
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-03-04 02:30] VikasPullagura-MSFT commented on #89186
@tigormanmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-04 02:30] VikasPullagura-MSFT commented on #89186
@cro27
Can you please check and add your comments on this doc update request as applicable.

[2022-03-04 02:32] VikasPullagura-MSFT commented on #89061
@AndreiDita
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-04 02:33] VikasPullagura-MSFT commented on #89061
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-03-04 02:41] Husky-Devel opened #89204 "Remove Streamlabs OBS from the Verified list"
Remove [Streamlabs OBS](https://streamlabs.com/) from the list of encoders, Its just obs but more scummy they have stolen branding and obs witch obs has asked them to remove and then they changed there name to  Streamlabs there is no resone they should be on the list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83a3f

[2022-03-04 02:47] RyanHill-MSFT commented on #88921
This may be bug in the task @TLKG. Can you post your yaml?

[2022-03-04 02:54] Mason742 opened #89205 "Include claim in the API request without User Attribute set in the user flow form in B2C"
Hi,

I have the following same problem as [xelossan](https://github.com/MicrosoftDocs/azure-docs/issues/67407). We are told that it is by design, but no answer was given on how an API should save custom attributes during User Flow.

I can only get my attributes to save by including my custom user attributes in the user flow form. This is not suitable for production of course as these are values th

[2022-03-04 02:55] Givary commented on #89115
@cmcapellan Thank you for raising this issue, i have reached out to the content/product team and shared the details, they are investigating into this and will update the article.

[2022-03-04 02:55] #89115 closed

[2022-03-04 02:59] suimma74 commented on #74823
Here is the doc: https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#loadbalancer-annotations

[2022-03-04 03:16] david-ps opened #89206 "Microsoft charges a 3% Marketplace Service - Example Error"
https://docs.microsoft.com/en-gb/azure/marketplace/plan-saas-offer#saas-billing

"Microsoft charges a 3% Marketplace Service" does not match:

"The following example shows a sample breakdown of costs and payouts to demonstrate the agency model. In this example, Microsoft bills $100.00 to the customer for your software license and pays out $80.00 to the publisher."

---
#### Document details

⚠ *Do

[2022-03-04 03:18] AaronMaxwell commented on #76535
#please-close

[2022-03-04 03:18] #76535 closed

[2022-03-04 03:35] joesessions opened #89207 "The repo has no .sln file."
I set up the db... but I can't get anywhere in VS without a .sln file, right?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196-870b-760f-94a97ae437e8
* Content: [Deploy an ASP.NET Core and Azure SQL Database app to Azure A

[2022-03-04 03:38] cro27 commented on #89186
This feedback has been incorporated into PR #189581

[2022-03-04 03:59] SumanthMarigowda commented on #89163
@stevenmatthew Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-04 04:00] AshokPeddakotla-MSFT commented on #89170
@AlanPintor-git Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-04 04:06] MonikaReddy-MSFT commented on #89175
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-04 04:07] ccmitmanager opened #89208 "Typos"
In several areas 'principal' is misspelt as 'principle'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active Directory logs to Azure Monitor logs](https://docs.microsoft.com/en-us/azure/active-

[2022-03-04 04:13] SwathiDhanwada-MSFT commented on #89174
@TheTechOddBug Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-04 04:14] SwathiDhanwada-MSFT commented on #89183
@Wibbbs Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-04 04:28] AjayKumar-MSFT commented on #89178
johnayoub, Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-04 04:36] MonikaReddy-MSFT commented on #89205
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-04 04:36] Givary commented on #89076
@AndrewBlumhardt Thank you for raising this concern related to incident trigger vs alert trigger, do you have any use cases to justify this change, Please send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary.

[2022-03-04 04:36] #89076 closed

[2022-03-04 04:37] MonikaReddy-MSFT commented on #89167
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-04 04:40] AjayKumar-MSFT commented on #89207
joesessions,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-03-04 04:40] AjayKumar-MSFT commented on #89207
@alexwolfmsft, requesting your comments on this.

[2022-03-04 04:42] AjayKumar-MSFT commented on #89204
Husky-Devel, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-03-04 04:47] AjayKumar-MSFT commented on #89182
jameskingdon-microsoft, Thanks for raising this question on Azure docs feedback channel. Glad to know that you figured it out. Much appreciate the follow-up.

[2022-03-04 04:52] shwetamathur7 commented on #89208
@ccmitmanager Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 05:08] AnuragSharma-MSFT commented on #89188
@danieldespainTLS Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-04 05:15] siege089 opened #89209 "Add Instructions for loading custom jars"
Documentation is lacking for adding custom jars not in a maven repository. It's easy to do, but I couldn't find anywhere online that has this feature documented.

Steps:

- Open interpreter settings and edit livy2
- Add configuration value livy.spark.jars with type set to string
- Set value to a comma delimited list of urls where the jar(s) are located.
- Save and restart livy2 interpreter

---
##

[2022-03-04 05:16] xujiongda commented on #88924
@nicjohn79 Thank you for checking this. Yes, it needs to be added in the Target FQDNs section.

[2022-03-04 06:18] ShaikMaheer-MSFT commented on #89209
@siege089 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-04 06:38] AnuragSharma-MSFT commented on #88670
Hi @LifeRyuto thanks for your patience. Yes there is minor downtime for few minutes when we scale up the storage. Please go through the article for other downtime events in more details:

[Planned downtime events](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-business-continuity#planned-downtime-events)

[Unplanned downtime mitigation](https://docs.microsoft.com/en-us/

[2022-03-04 06:40] Ausxor opened #89211 "Section 'What happens when I abort the migration?' does not address the question in the title"
The section titled 'What happens when I abort the migration?' does not tell the reader what happens when they abort the migration, and instead makes a point that the process can be aborted. I would expect this section to detail what happens if it is aborted, such as:
* Are the connection strings reverted back to the standard namespace?
* Are there resources remaining to cleanup?

---
#### Document

[2022-03-04 06:40] AnuragSharma-MSFT commented on #89146
@LifeRyuto Please check the other thread for these details:

[Does scaling storage require a restart?](https://github.com/MicrosoftDocs/azure-docs/issues/88670)

[2022-03-04 07:18] samuelpienaar opened #89212 "ArcGIS Enterprise incorrect reply URL in help documentation"
Good day,

The reply URL in the tutorial https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/arcgisenterprise-tutorial should be changed from: https://<EXTERNAL_DNS_NAME>/portal/sharing/rest/oauth2/saml/signin2, to https://<EXTERNAL_DNS_NAME>/portal/sharing/rest/oauth2/saml/signin

Kind regards,

Sam
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-03-04 07:43] DailyTech opened #89213 "the images are too small/unfocused on ALLL pages everywhere on "docs""
[Enter feedback here]

the images are too small/unfocused on ALLL pages everywhere on "docs"
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63aafb7a-9c0a-8bcb-89da-31887dd4cc75
* Version Independent ID: 374b743f-0621-42e3-a100-a89a3ba725af
* Content: [Move Azure VMs to availability zones in another region with Azure Res

[2022-03-04 07:48] #89208 closed

[2022-03-04 07:54] shwetamathur7 commented on #89212
@samuelpienaar Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 08:00] shashishailaj commented on #89187
@vmonge Thank you for your inputs . We will investigate and update the thread.

[2022-03-04 08:06] AnuragSharma-MSFT commented on #89188
@danieldespainTLS Using **_'SELECT VALUE c '_** works fine when I tried. Could you please try below query and let us know if you face any issue:

[code]

[2022-03-04 08:15] kobulloc-MSFT commented on #89113
@azarainey This is a confusing area where 3 services have an unfortunate overlap in both name and functionality (and this ignores the overlap between AD and ADDS as seen in the AD link below).  You make a good point and I believe you are correct but a subject matter expert will be needed to verify this.  I've included a description of the differences below and will assign this to the document auth

[2022-03-04 08:33] psignoret opened #89215 "Update screenshots to match current UX"
The screenshots in this article need to be updated to match current consent experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a85b3af2-e3e5-1b3d-4a3e-ece11cd6aab4
* Version Independent ID: 75ceec2b-dac1-d19f-2a88-d4740d26647a
* Content: [Azure AD consent framework - Microsoft identity platform](https://docs.mi

[2022-03-04 08:42] Oppedijk commented on #85807
@msmbaldwin Any update on this?

[2022-03-04 08:52] SwathiDhanwada-MSFT commented on #89213
@DailyTech Thanks for your feedback.

Assigning to content author @rayne-wiselman   for review.

[2022-03-04 09:10] AlanTuring1988 opened #89217 "Defender for IoT: tutorial-onboarding Network parameters"
Hi all,

I try the installation on my laptop using Hyper-V a VM with iot-sensor ios file (version sensor-10.5.5.5-r-970f918.iso), about it, from Guide is not clear how to set the network parameters after that selected a profile.

Is it possible indicate an example and how retrieve/decide them?

Tnks and br,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-03-04 09:13] hctrr commented on #89096
Out of the first 50 controls outlined in the ASB Initiative Assignment - I've compare those controls vs. the ASB workbook vs. the [recommendations reference](https://docs.microsoft.com/en-us/azure/defender-for-cloud/recommendations-reference).

"no change" = same control name as the ASB workbook.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns

[2022-03-04 09:24] AnuragSharma-MSFT commented on #88831
@mgrlabs Thanks for reporting this. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-04 10:09] Givary commented on #89089
@jeevanearform Thank you for raising this issue,  let me investigate and raise internal backlog request with our team.

[2022-03-04 10:47] marc181982 opened #89220 "Unclear documentation"
The documentation is unclear and lacking details, for example:

- SCC relay (if SCC is enabled) contains a value, e.g. tunnel.australiaeast.azuredatabricks.net. What do i need to do with this value? I can't add it to my UDR?
- Which traffic can be routed over the Azure Firewall, and which traffic must be routed over the backbone network (for example only traffic to the SCC relay service)
- Also mi

[2022-03-04 11:00] fabnord commented on #88510
@amanmcse any update you can share about the review and update process? Thanks in advance.

[2022-03-04 11:25] LifeRyuto commented on #88670
Hi @AnuragSharma-MSFT , thank you so much for providing the information. I got it.

[2022-03-04 11:25] LifeRyuto commented on #89146
Thank you.

[2022-03-04 11:25] #89146 closed

[2022-03-04 11:36] Argante80 commented on #60531
@MayankBargali-MSFT Hi, the sorting of messages is not guaranteed even if I set properly the PartitionKey without using the sessions? As I understood if the PartitionKey is present the message is routed always to the same partition and when I create a generic receiver it is connected to a specific partition. This could semplify a scenario where you have thousands of senders and a few receivers and

[2022-03-04 11:38] vladai78 commented on #89038
Hi @naokitakeda14 - I've replied to your additional questions via e-mail. Let's continue the conversation in that thread

[2022-03-04 11:51] AnuragSharma-MSFT commented on #89146
@LifeRyuto We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-04 11:53] MarcoLodini commented on #89171
Also since, via PowerShell, you can't set both properties RenewAtNumberOfDaysBeforeExpiry and EmailAtNumberOfDaysBeforeExpiry at the same time, the way to handle notifications in these cases is not clear

[2022-03-04 11:56] amanmcse commented on #88869
Closing out due to inactivity.

[2022-03-04 11:56] #88869 closed

[2022-03-04 12:15] HarisSpahija opened #89222 "What does internal mean?"
Perhaps there can be a link or explenation to what internal means. Internal is a very broad term and is used in different languages and companies in different ways.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Conten

[2022-03-04 12:18] Ryuubi1 commented on #38048
We are suffering from the same issue. The onprem SamAccountName is interfering with the Azure AD identity, most likely due to a duff migration carried out from an unsupported old server in the past. If anyone knows how to remove or amend this attribute in Azure I'd be very keen on the help.

[2022-03-04 12:19] chrbsg opened #89223 "invalid go code"
The 2nd example on this page (in-memory stream TTS) contains an invalid main function (args are not allowed):

[code]

Handlers are also not defined:

[code]

These can be copied as-is from the first example.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064d7074-3ea4-21e4-60b4-b09976bbdf7e
* Version Independent ID: 1

[2022-03-04 12:25] TorquinDSL commented on #89172
The Recurrence that I see does not have the same options:
[image: image.png]

On Thu, Mar 3, 2022 at 3:42 PM Esther Fan ***@***.***> wrote:

[2022-03-04 12:26] devsheoran opened #89224 "Azure Site Recovery Replication : Unable to customize target encryption key vault"
I am trying to setup ASR replication (Azure to Azure) for ADE encrypted VM (Windows Server 2019 Datacenter). Though I am able to customize targets like resource group, vnet, cache storage account etc but the key vault. I have full access permission on the target key vault.

<img width="620" alt="image" src="https://user-images.githubusercontent.com/17984605/156762918-bfb9ab28-6a11-413f-9eff-8775fc

[2022-03-04 12:31] shwetamathur7 commented on #89215
@psignoret Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 12:38] ram-msft commented on #89223
@chrbsg Thanks for the feedback! We will review and update accordingly.

[2022-03-04 12:43] ashuw018 opened #89225 "Page does not mention anywhere what is the scale of property Length , is it Bit or Bytes or something else"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd361
* Content: [Calculate size of a blob container with PowerShell - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-co

[2022-03-04 12:50] MonikaReddy-MSFT commented on #89206
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-04 12:51] MonikaReddy-MSFT commented on #89205
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-04 13:05] MonikaReddy-MSFT commented on #89222
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-04 13:07] MonikaReddy-MSFT commented on #89224
@devsheoran - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-04 13:08] rpalves opened #89227 "Examples on how to align a disk size"
Hi! Please give examples on how to align a disk size, and how to calculate to said alignment.
The example:  value % 1MB
I could not understand what requires to be done when you get a non-zero value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-40

[2022-03-04 13:16] JanRou opened #89228 "bad json in sample code :-("
[Enter feedback here]

{
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "ClientId": "[Client_id-of-web-api-eg-2ec40e65-ba09-4853-bcde-bcb60029e596]",
    "TenantId": "common" <===== missing comma Have you tested the procedure or documentation your self?

   // To call an API
   "ClientCertificates": [
      {
        "SourceType": "KeyVault",
        "KeyVaultUrl": "https

[2022-03-04 13:28] SumanthMarigowda commented on #89225
@ashuw018 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-04 13:29] danieldespainTLS commented on #89188
Yes, that query works fine.  My "issue" is that **_the documentation_** doesn't give **an example or explanation** for "SELECT VALUE f".

All of the examples on this page look like "SELECT f.id FROM..." or "SELECT f.id, c.givenName, p.givenName FROM..." (listing _only specified properties_).  That query is a perfect, simple example of "SELECT **_VALUE_** f" that I would love to see added to the pa

[2022-03-04 13:35] danieldespainTLS commented on #89188
For reference, this is where I eventually found the answer I needed:

https://stackoverflow.com/questions/48277152/get-all-fields-from-a-documentdb-joined-query

But it took me quite a while to find it.  Googling "Cosmos DB JOIN query" Microsoft's docs (rightfully) are the top results and this stack overflow answer was way down in the google results.  There are a few "join" docs at Microsoft, but

[2022-03-04 13:39] SeanGraySage opened #89230 "Vague descriptions for Functions metrics."
The descriptions for Function Execution Count and Function Execution Units just repeat the metric names. That doesn't help us understand exactly what they mean. Please could this be updated to tell us what these metrics are actually measuring?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438

[2022-03-04 13:40] devsheoran commented on #89224
@MonikaReddy-MSFT This is the link to the document https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-replication-ade-vms

[2022-03-04 13:54] Mason742 commented on #89205
Hello, I understand. [Add an API connector to a sign-up user flow](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-api-connector?pivots=b2c-user-flow)

Then my feedback related to this doc is under Before Creating the user -> Continuation response this paragraph should be marked as important note because it is easily overlooked and hard to find this information via search engine. T

[2022-03-04 14:21] Alex-str11 opened #89233 "SAML assertions obtained with an OAuth2.0 OBO flow"
The info for the SubjectConfirmationData in the SAML token should mention that the issued reply URL is the first one in the list of reply URLs set on the enterprise application. We don't return the reply URL marked as default in the SAML SSO setup but the first one in the list, and since this is not mentioned in the documentation for SAML assertions obtained with an OAuth2.0 OBO flow it's causing

[2022-03-04 14:24] si-chan opened #89234 "Pre-requisites for MS Authenticator to enable Number Match"
Please clarify the pre-requisites for the MS Authenticator app to enable Number Match.
Are they the same as the pre-reqs for Passwordless?

The Passwordless sign-in page (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone) says:

  Latest version of Microsoft Authenticator installed on devices running iOS 8.0 or greater, or Android 6.0 or

[2022-03-04 14:28] SwathiDhanwada-MSFT commented on #89230
@SeanGraySage Thanks for your feedback.

Assigning to content author @rboucher   for review.

[2022-03-04 14:39] VikasPullagura-MSFT commented on #89227
@rpalves
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-04 14:39] VikasPullagura-MSFT commented on #89227
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2022-03-04 14:51] fmerinop commented on #89179
Hi @,

At the end of Verify successful configuration section Create and provision an IoT Edge device on Linux using symmetric keys - Azure IoT Edge | Microsoft Docs<https://docs.microsoft.com/en-us/azure/iot-edge/how-to-provision-single-device-linux-symmetric?view=iotedge-2020-11&tabs=azure-portal%2Cubuntu#verify-successful-configuration> , it asks to execute "sudo iotedge check" command. If the t

[2022-03-04 14:55] sheigel opened #89235 "Resource Ids to use is gone"
I cannot find that list of resource ids mentioned. I used to be able to but now I just get redirects to other useless stuff:
![image](https://user-images.githubusercontent.com/227824/156785821-65367ded-fca7-4e62-9a2a-70297e908449.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf35ebc-b14e-167f-9f73-c7df4d2b60b5
*

[2022-03-04 15:02] KyferEz opened #89236 "Unclear instructions for "Option 2: Disconnect and reconnect Git repository""
The instructions for fixing a Stale publish branch are a little unclear in "Option 2: Disconnect and reconnect Git repository". What is unclear is Step 3: "Create a pull request to merge the changes to the collaboration branch".

The question can arise: Where am I creating the Pull Request from and to?
The answer is: Step 3 in this document is only required when following suggested best practices

[2022-03-04 15:15] zioalex opened #89237 "Private Link service can have more than one NAT IP configurations linked to it"
In this section https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview#details where you talk about multiple NAT IP configurations, it is not clear how to scale and  which are the current limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Versio

[2022-03-04 15:28] kaganmersin opened #89239 "Unclarified private link location limitation for Azure Front Door Premium"
When I try to create Azure Front-Door Premium with Private link configuration I realized one thing that Front Door expects the private link into one of the certain locations. The documentation explains that private endpoints are available in certain locations (East US, West US 2, South Central US, UK South, and Japan East) but unlike the documentation, this list should belong to allowed private li

[2022-03-04 15:31] ccmartins commented on #74714
@PbALpi7xEX Rule 941101 in fact looks at the referrer header as you're stating, as you can see [here](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.1/dev/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf#L682). It then compares the value against the "[detectXSS" operator](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v3.x%29#detectxss
) which is based on [libinjectio

[2022-03-04 15:43] arsenvlad opened #89241 "Provide multitenancy guidance for enterprise SaaS ISVs using Azure AD B2C"
Please provide guidance on the various current ways enterprise SaaS ISVs can use Azure AD B2C for multitenant applications providing pros/cons for each of the options? Thinking something analogous to what Azure SQL Database has here https://docs.microsoft.com/en-us/azure/azure-sql/database/saas-tenancy-app-design-patterns#i-tenancy-models-compared

The document should also include an "index" with

[2022-03-04 16:12] jmalouf69 opened #89242 "Is there a decided timeframe when this will change from preview to GA?"
Is there a decided timeframe when this will change from preview to GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 380f1a40-3494-7d98-216d-9fd1cd624314
* Version Independent ID: 2ac3f4f8-0bf3-68a7-cb78-ff9a252ecd8b
* Content: [Customize the node configuration for Azure Kubernetes Service (AKS) node pools (preview) -

[2022-03-04 16:27] AlanTuring1988 commented on #89217
Hi @MonikaReddy-MSFT

I read this
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/defender-for-iot/organizations/tutorial-onboarding.md
and
the guide https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/how-to-install-software (in particular the paragraphs “Sensor installation for the virtual appliance” and “Install the software”) but for both there are not specify

[2022-03-04 16:31] tejaswikolli-web commented on #88822
I have made changes to the https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-registry/container-registry-auth-service-principal.md, It is under review, will be published very soon.

[2022-03-04 16:31] terrymandin opened #89243 "Testing routes from documentation fails with "The server didn't understand your query. Check your query syntax and try again."""
The queries listed in this page do not work when I use the test feature in the "route details" page.  For example, I enter:

![image](https://user-images.githubusercontent.com/833055/156800795-fa154db9-cf8d-4100-8511-fc904abfc8b7.png)

and add the following in the "Message Body" under "Test":

[code]

When I click on "Test route" I get:

![image](https://user-images.githubusercontent.com/833055/15

[2022-03-04 16:41] michaelspinks opened #89245 "Issues with dependsOn in example"
I've been following through your tutorial and had some observations I hope you
can help with?

I have been following the example here https://docs.microsoft.com/en-gb/azure/azure-arc/kubernetes/tutorial-use-gitops-flux2#apply-a-flux-configuration-by-using-the-azure-cli and this is my experience

## Example 1
[code]

### Expected outcome
Deploys infrastructure and apps.  App has a dependency on inf

[2022-03-04 16:43] VikasPullagura-MSFT commented on #89242
@jmalouf69
Thanks for your Question! We will check and will get back on this.

[2022-03-04 16:46] shashishailaj commented on #89228
@JanRou Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 16:47] #89243 closed

[2022-03-04 16:48] shashishailaj commented on #89233
@Alex-str11 Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 16:50] shashishailaj commented on #89235
@sheigel
Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 16:51] shashishailaj commented on #89241
@arsenvlad
Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 16:51] MicrosoftGuyJFlo commented on #88939
#please-close

[2022-03-04 16:51] #88939 closed

[2022-03-04 16:52] shashishailaj commented on #89234
@si-chan
Thank you for your feedback . We will investigate and update the thread.

[2022-03-04 17:07] cwilson-cra opened #89247 "Typo in Sidebar - Change EMABLE to ENABLE"
Title of page in left sidebar navigation has typo - says EMABLE when should say ENABLE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fd8b22b-649c-cdb5-8328-95bb4cd1fb76
* Version Independent ID: 5fd8b22b-649c-cdb5-8328-95bb4cd1fb76
* Content: [ENABLE_PHOTON configuration parameter (Databricks SQL) - Azure Databricks

[2022-03-04 17:10] scautomation opened #89249 "Very Bad KQL Practice"
search * should never be used, please update your queries to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1389b35c-ccbc-b321-736d-28ce5134f089
* Version Independent ID: 4dcb1bed-12f1-a13b-a3e5-3f4ba9918d38
* Content: [Query Azure Monitor logs to monitor Azure HDInsight clusters](https://docs.microsoft.c

[2022-03-04 17:19] ChristianPresley commented on #89249
The documentation for the search operator says precisely to NOT use it like this. Please update the article to not use `search *`

https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/searchoperator?pivots=azuremonitor

[2022-03-04 17:30] noelmdeveloper opened #89250 "Visual Studio 2022"
[Enter feedback here]

Is there a Microsoft Azure Logic Apps Enterprise Integration Tools Extension that works for Visual Studio 2022?  The link to the 2019 version would not install since I have Visual Studio 2022.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fc9dfa-fedf-01d9-1d60-6819d03a4c91
* Version Independent

[2022-03-04 17:36] AaronMaxwell commented on #89183
Thanks for your dedication to our documentation.

Please validate you're able to enable auto instrumentation on the sample Node.js application from the following page. (Quick starts typically take 10 minutes or less to complete.)

https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs

If the sample application can be instrumented as expected then you'll likely need some technical he

[2022-03-04 17:38] jasongroce commented on #89206
Thanks @david-ps, good catch! This has been fixed and will be published later today. #please-close

[2022-03-04 17:38] #89206 closed

[2022-03-04 17:53] divyaswarnkar commented on #89250
@noelmdeveloper The tools would work with VS2019 only. We do not have them for VS2022 yet. Please feel free to add your ask on User Voice : https://feedback.azure.com/d365community/forum/cb47c115-7926-ec11-b6e6-000d3a4f032c

[2022-03-04 17:55] bandersmsft commented on #88586
Hi @v-vys. According to the Billing engineering team, the steps we currently have documented are the correct way to cancel a legacy support plan. If the steps aren't working for you, please open a support request in the Azure portal at https://go.microsoft.com/fwlink/?linkid=2083458.

#please-close

[2022-03-04 17:58] ggailey777 commented on #88474
Linked PR addresses the issue. Thanks for the heads-up about this issues. #please-close

[2022-03-04 17:58] #88474 closed

[2022-03-04 17:58] markjbrown commented on #88643
If you want to use that ARM template to provision throughput for a database then just add the options block you see for the container to the database resource. If you need an example of that you can look at our Mongo ARM template samples where this is demonstrated.

I don't think we make any assumptions on how much of our docs customers read. But we do expect that customers looking for answers wil

[2022-03-04 18:02] MikeBakerSAV opened #89252 "internet or gatewaymanager service tag?"
troubleshooting:
"In the Inbound Rules section, add an inbound rule to allow destination port range 65503-65534 for v1 SKU or 65200-65535 v2 SKU with the Source set as Any or Internet."
should this be Internet/Any or GatewayManager  ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3927777-bbee-6c8d-61bd-5646fd8b9d25

[2022-03-04 18:03] ecfan commented on #89172
@TorquinDSL: For some reason, your attached screenshot didn't render?

[2022-03-04 18:06] rossanov opened #89253 "Picture does not clarify that UDs can span across multiple FDs"
+@mimckitt for awareness

I believe there is a conceptual problem in the picture of this public doc.

The picture shows some UDs placed in different FDs, but none of them are spanning more than one FD.
According to this layout it seems that one UD cannot span across multiple FDs, which contradicts with what was previously displayed on an older version of this page ([from Bing image search](https:/

[2022-03-04 18:07] mimckitt commented on #89253
#assign: @mimckitt

[2022-03-04 18:07] mimckitt commented on #89253
Thanks @rossanov Adding this to the backlog.

[2022-03-04 18:25] MsGabsta commented on #79634
@bwarren18 are you trying to get a list of available extensions in a region or a list of extensions on a VM?

[2022-03-04 18:26] stuhad commented on #38048
Contacting Azure support and linking them to this issue managed to get it resolved for me, the sorry agent removed the lingering attributes for us

[2022-03-04 18:29] ChaitanyaNaykodi-MSFT commented on #89252
Thank you for your feedback! We will review and update as appropriate.

[2022-03-04 18:32] dhirajgandhi commented on #89084
It needs to be done by Partner or Customer.

[2022-03-04 18:43] Norrch2 commented on #86290
Good Afternoon. Checking in for another update, please.

[2022-03-04 18:45] dhirajgandhi commented on #88674
This is an internal Microsoft discussion.  Please reach out to incentive contract Wasim Rasheed.

[2022-03-04 18:51] KranthiPakala-MSFT commented on #89220
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-04 18:55] KranthiPakala-MSFT commented on #89145
@mssaperla Could you please review the above feedback and share your thoughts? - Thank you

[2022-03-04 18:55] KranthiPakala-MSFT commented on #88919
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-03-04 18:55] #88919 closed

[2022-03-04 18:56] JV-conseil opened #89255 "Unable to connect and run read-only queries on the pgBouncer console"
I have enabled `pgbouncer.enabled` in server parameters.

I have added a user `pgbouncer` to `pgbouncer.stats_users` server parameters.

(A) I have attempted to connect directly to pgBouncer.

[code]

(B) I have attempted first to connect to `postgres` database then switch to `pgbouncer`, when I run the query below it ends with "Operation timed out"

[code]

(C) I created `pgbouncer` as a register

[2022-03-04 19:07] Fleid commented on #89117
Closing but please comment or re-open if needs be, we'll get notified ;)

#please-close

[2022-03-04 19:07] #89117 closed

[2022-03-04 19:09] mike-urnun-msft commented on #89211
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-04 19:23] jlichwa commented on #89150
@o-l-a-v unfraternally the delay is related to RBAC propagation and it can take many hours (up to 24h).

[2022-03-04 19:24] SaiKishor-MSFT commented on #88112
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-04 19:24] #88112 closed

[2022-03-04 19:25] SaiKishor-MSFT commented on #88996
@webpwnized Any update?

[2022-03-04 19:26] ChaitanyaNaykodi-MSFT commented on #89239
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-04 19:27] ChaitanyaNaykodi-MSFT commented on #89237
Thank you for your feedback! We will review and update as appropriate.

[2022-03-04 19:28] SaiKishor-MSFT commented on #89006
@CloudStarMan I followed the instructions, and it did create the App GW for me. Can you please let me know if you are getting any error at the App GW creation step? I would encourage you to open a support case with Azure Support regarding this. Thank you!

[2022-03-04 19:33] sumeetmittal commented on #89237
Sorry, I don't follow the feedback. I believe we have a good explanation on how you scale with NAT IPs.

Private Link service can have more than one NAT IP configurations linked to it. Choosing more than one NAT IP configurations can help service providers to scale. Today, service providers can assign up to eight NAT IP addresses per Private Link service. With each NAT IP address, you can assign m

[2022-03-04 19:40] #87162 closed

[2022-03-04 19:50] o-l-a-v commented on #89150
24h!? Is this unique to data plane RBAC?

[2022-03-04 20:03] jlichwa commented on #89150
Control plane also has significant delays, but data plane takes even longer to propagate. Not sure about use case, but for PIM controlled assignments the scope can be set during activation/request.

[2022-03-04 20:09] KranthiPakala-MSFT commented on #89236
Thanks for reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-03-04 20:10] KranthiPakala-MSFT commented on #89247
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-04 20:12] KranthiPakala-MSFT commented on #89249
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-04 20:17] JasonWHowell commented on #89249
@ChristianPresley
How does the search * perform on your subscription for this scenario?
The consideration is simply for performance as I understand it. I get that searching all tables is not efficient, but also listing tables that can change is a maintenance burden too.  The trade-off is having to list all the table names.

[2022-03-04 20:21] edurguti commented on #87374
Couldn't find any other info on the internet, so when I have an azure firewall with a public IP, there's only 2496 connections that it can handle at a time for a public ip?

[2022-03-04 20:48] mabicca commented on #88627
Red Hat 8.x is fully supported by Red Hat, just to make sure we have that reference:
https://access.redhat.com/support/policy/updates/errata/

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/16481759/156839241-29fb1603-3b6a-4ab2-b80a-9176010ec9c4.png">

I do see 8.3 won't support ELS, however all 8.x releases will end on May 31 2024 and the ones that support ELS (Exten

[2022-03-04 20:49] bandersmsft commented on #88586
#please-open

[2022-03-04 20:51] bandersmsft commented on #88586
@v-vys I've received new info from the Billing team. You are correct that support plan cancel steps differ for legacy support plans. They'll give me updated info so that I can update the article. I'll reply here when I have more details.

[2022-03-04 20:54] Wibusts opened #89257 "Unable to find Url or Link to review commands or graph query"
[Enter feedback here]
Will be useful to include hyperlink to article that provide Graph reference or PS command to  update setting:

**"This setting is available in Microsoft Graph and PowerShell only. Setting this flag to $false prevents all non-admins from reading user information from the directory. This flag does not prevent reading user information in other Microsoft services like Exchange On

[2022-03-04 21:03] alandillon commented on #29092
My best suggestion for this is to use azure policy to deny creation of all resources for all users. Then make a user that is used for IaC and that user is excluded from the azure policy. And use that user to deploy your arm/bicep/terraform templates.

[2022-03-04 21:21] kobulloc-MSFT commented on #88595
@hiLemontree We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-04 21:21] #88595 closed

[2022-03-04 21:32] david-ps commented on #89206
👍

[2022-03-04 21:39] BittahCriminal opened #89258 "Incorrect region specified"
![image](https://user-images.githubusercontent.com/5335837/156845233-e37da17e-1ad8-4038-9da0-940291955896.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Cross-region replication in Azure](https://docs.mi

[2022-03-04 21:43] jsturtevant opened #89259 "Provide sample azure cli script that configures the required ports"
Converting the jpeg image to azure cli commands was tedious, it would nice if you provided a set of commands to configure this instead of trying to convert the commands from the jpeg image.

Example (needs some clean up)

[code]

--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Versio

[2022-03-04 21:54] jhasner opened #89260 "Tweak to instructions to make it work"
For the next person:
This didn't work for me until I changed the database scoped credential to a regular credential.
CREATE **DATABASE SCOPED** CREDENTIAL
        [https://bloburlgoeshere/traces]
    WITH
        IDENTITY = 'SHARED ACCESS SIGNATURE'  -- "SAS" token.
        ,secret = 'secret goes here'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-04 22:08] porrascarlos802018 opened #89261 "Dynamic Calc"
Customer confirmed documentation was not clear for them . Maybe due too many examples, is it possible to include a online calc, where they can enter current number of IPs (aksoutbound rule) , maximum number of nodes desired or configured for the cluster  so they get a number of ports that can be set as maximum per node.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section

[2022-03-04 22:10] markjbrown commented on #88643
Spoke with cx. As mentioned, this is not something we see customers running into.

We will however look into where we might document this with a Note or Tip in our docs on throughput.

Thanks for raising.

#please-close

[2022-03-04 22:10] #88643 closed

[2022-03-04 22:17] #89245 closed

[2022-03-04 22:19] Karishma-Tiwari-MSFT commented on #88627
Thanks @[mabicca](https://github.com/mabicca) for sharing your insights.

[2022-03-04 22:23] MarileeTurscak-MSFT commented on #89257
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-04 22:31] prannoytank commented on #35923
Hi Team,

Has this issue been resolved  or we still cant run use Linked service with Self hosted Integration runtime in Data flow ?

[2022-03-04 22:33] michaelspinks commented on #89245
Worked on 5th pass - ignore

[2022-03-04 22:35] kanshiG commented on #88673
That makes sense and we will incorporate it in next cycle of updates.

[2022-03-04 22:36] kanshiG commented on #88673
It is already in the pr.

[2022-03-04 22:45] Oury-MSFT commented on #89255
@JV-conseil Could you please open a support ticket so we can better look at your environment for troubleshooting. Do you have a support plan?

[2022-03-04 23:00] zeinab-mk commented on #88747
we have updated the docs: https://github.com/MicrosoftDocs/azure-docs-pr/pull/190679#issuecomment-1059582074

[2022-03-04 23:00] zeinab-mk commented on #88747
#please-close

[2022-03-04 23:00] #88747 closed

[2022-03-04 23:24] #88924 closed

[2022-03-04 23:38] pizzaz93 commented on #87563
#please-close

[2022-03-04 23:38] #87563 closed

[2022-03-04 23:45] AnatoliB commented on #81222
So, just to double-check we are on the same page. We are finalizing on the following text, correct?

[2022-03-04 23:46] SaiKishor-MSFT commented on #88865
@duongau Can you please look into this?

[2022-03-04 23:47] SaiKishor-MSFT commented on #88996
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-04 23:47] #88996 closed

[2022-03-05 00:00] tigormanmsft opened #89264 "Remove reference to Oracle from Azure BareMetal documentation"
In the section of the page entitled "**[Bare Metal Benefits](https://docs.microsoft.com/en-us/azure/baremetal-infrastructure/concepts-baremetal-infrastructure-overview#baremetal-benefits)**", there is a bulleted list which lists the benefits, as shown here...

The referenced Oracle document gives the impression that one can run Oracle RAC on Azure Bare Metal.  Due to this ambiguity which results i

[2022-03-05 00:11] johndeu commented on #89204
I can remove the word OBS from the brand, but Streamlabs.com appears to be a widely used solution promoted by many live streaming platforms.  If you can prevent more details evidence for why they should not be on the list, we can evaluate it.

[2022-03-05 00:20] ChaitanyaNaykodi-MSFT commented on #89259
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-05 00:39] ggailey777 commented on #81222
Maybe more precisely:

[2022-03-05 00:40] MonikaReddy-MSFT commented on #89250
@divyaswarnkar - Thank you for providing your insights.
@noelmdeveloper  - I hope @divyaswarnkar has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-05 00:40] #89250 closed

[2022-03-05 00:42] MonikaReddy-MSFT commented on #89258
@BittahCriminal - Thanks for bringing this to our attention. Can you please elaborate on what region are you specifically looking at and for which regional pair?

[2022-03-05 00:44] BittahCriminal commented on #89258
On the page link. It specifies the Brazilian region, but it has a us regional pair. Just seemed odd that was the case

[2022-03-05 00:48] MonikaReddy-MSFT commented on #89205
@Mason742 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-05 00:48] #89205 closed

[2022-03-05 01:16] kobulloc-MSFT commented on #89261
@porrascarlos802018 Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-03-05 04:10] jeffmparker opened #89272 "How to find users that are using Basic Authentication?"
I received an alert that users in my tenant may be using Basic Authentication. I was hoping this page would tell me how to find those users and what the apps are that using it, so that I can take action before it is turned off. But it doesn't. How do you do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-

[2022-03-05 07:57] Klaas- commented on #88627
HI @mabicca
you are misunderstanding the first statement of Red Hat, that means that the major release 8 is supported until 2029/2031, the important part for a minor release of rhel is the timeline you also screenshotted, so 8.3 was supported until 8.4 was released, there is no extended update support or update services for sap solutions. So 8.3 has been unsupported since 2021-05-18 (https://acces

[2022-03-05 09:14] crshovrd41 opened #89275 "KeyVault permissions error on starting replication"
The article doesn't cover a keyvault permissions issue that surfaced for me when enabling replication. It had to do with ensuring the vnet I was using had the keyvault service endpoint enabled. I highly recommend adding this to the documentation somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f698746-5f2d-4b

[2022-03-05 11:58] DeanGross opened #89276 "Finding MFA Enablement wizard"
Please provide some instructions for navigating to the MFA enablement wizard. I can't figure out where it is hidden in the M365 admin center.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4180415d-70f5-1ab2-408f-1f850c678829
* Version Independent ID: d868ad2e-b8fd-bd12-f843-be7a3be80aba
* Content: [Find and address gap

[2022-03-05 12:12] andyjballgit commented on #84684
any update on this ? thx

[2022-03-05 13:11] TAREKME commented on #89084
Hello Dhiraj,

Thanks for clarification

Regards,
Tarek Metwally

From: Dhiraj Gandhi ***@***.***>
Sent: Friday, March 4, 2022 8:32 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tarek Metwally ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] CSP to EA (Issue #89084)

It needs to be done by Partner or Customer.

-
Reply to this email directly, view it on GitHub<https://

[2022-03-05 13:34] mtrcyclemark commented on #89169
Disregard.

From: Marilee Turscak - MSFT ***@***.***>
Sent: Thursday, March 3, 2022 1:34 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: mtrcyclemark ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Please update (Issue #89169)

The full sentence says,

"Having multiple Azure AD Connect sync servers connected to the same Azure AD tenant is not supported, except for a sta

[2022-03-05 14:13] MonikaReddy-MSFT commented on #89260
@jhasner - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-05 14:16] MonikaReddy-MSFT commented on #89264
@tigormanmsft -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-05 14:17] MonikaReddy-MSFT commented on #89272
@jeffmparker  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-05 14:20] MonikaReddy-MSFT commented on #89275
@crshovrd41 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-05 14:20] #89275 closed

[2022-03-05 14:21] MonikaReddy-MSFT commented on #89276
@DeanGross  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-05 15:42] MS-jeremy opened #89279 "Definition of blob_sas_token is incorrect"
[Enter feedback here]

In, the step 3 in [Run a Spark SQL job](https://docs.microsoft.com/en-us/azure/databricks/scenarios/quickstart-create-databricks-workspace-portal?tabs=azure-portal&source=docs#run-a-spark-sql-job):

This is not updated.
As per [Data Access_Open Data Set_Seattle Safety Data](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-seattle-safety?tabs=pyspark#azure-databri

[2022-03-05 20:02] #81937 closed

[2022-03-05 20:06] SauravB-MS opened #89280 "Please include under password requirement for windows : Passwords may not contain the user's samAccountName (Account Name) value"
Please include under password requirement for windows:
Passwords may not contain the user's samAccountName (Account Name) value or entire displayName (Full Name value).

Market place windows images has [Policy:Password must meet complexity requirements](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements#reference)

[2022-03-05 20:26] pvanroos opened #89282 "Relevant for .NET 6?"
I noticed there was only sample for core projects targeting 5.x and below.

Is this approach still relevant in .NET 6.x?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead183b0aab
* Content: [Use managed identities to access App Con

[2022-03-05 21:44] moshem-pangea opened #89284 "Prepare certificate for use with VM: keyvault name and resource group are required for az vm secret format"
In "Prepare certificate for use with VM" section:
For `az vm secret format --secret "$secret" --output json` to work, keyvault name and resource group (or keyvault ID, which isn't intuitive, even without resource group) must be added. Otherwise, it'll end up with something like: "ERROR: unable to find vault 'yourVault' in current subscription."
Full command should be: `vm_secret=$(az vm secret for

[2022-03-05 21:45] SreejaBhattacharya-MSFT commented on #89111
Hi @macolso , please could you check and add your inputs here.

[2022-03-05 22:07] PhilOchu opened #89285 "Configure App Service to return a usable access token section - CLI Command does not appear to work."
Under Configure App Service to return a usable access token section
[Configure App Service to return a usable access token](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-windows#configure-app-service-to-return-a-usable-access-token))

The Azure CLI command provided does not appear to work.

[code]

I am not sure if the command for az webapp auth show has chan

[2022-03-05 22:45] JoshuaGarrison27 opened #89286 "Enter_the_Client_Secret_Here not present in demo"
`Enter_the_Client_Secret_Here` not present in demo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8027df4-5e60-69aa-1c0a-249053cb6e72
* Version Independent ID: c4ca0cff-b1b2-3690-00b9-af6c81d838b9
* Content: [Quickstart: Sign in users in web apps using the auth code flow - Microsoft identity platform](https://docs.mic

[2022-03-06 05:02] MonikaReddy-MSFT commented on #89279
@MS-jeremy - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-06 05:03] MonikaReddy-MSFT commented on #89280
@SauravB-MS - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-06 05:04] MonikaReddy-MSFT commented on #89282
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-06 05:07] MonikaReddy-MSFT commented on #89284
@moshem-pangea - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-06 05:07] #89284 closed

[2022-03-06 05:08] MonikaReddy-MSFT commented on #89285
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-06 05:09] MonikaReddy-MSFT commented on #89286
@JoshuaGarrison27  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-06 08:05] MS-jeremy commented on #89279
Thanks @MonikaReddy-MSFT , I've created a PR https://github.com/MicrosoftDocs/databricks-pr/pull/965 already, can you please assign the PR to the author directly as well? thanks!

[2022-03-06 09:03] ElazarK commented on #88339
#please-close

[2022-03-06 09:03] #88339 closed

[2022-03-06 09:16] batamig commented on #89217
Hi @AlanTuring1988 - thanks for writing into docs!
I'm going to take this request back to the team to improve or clarify, and I'm opening a backlog item to get it handled.
I'm closing this issue in the meantime so as not to have double-tracking, but please feel free to add more details as needed.

In addition to the resources mentioned above, I can also suggest either opening a support ticket or a

[2022-03-06 09:16] #89217 closed

[2022-03-06 10:53] yoelhor commented on #83768
Thanks for the feedback. You are right the enumeration isn't relevant to this case. Usually a paragraph user type doesn't have restriction. There is one scenario where a paragraph has restrictions, when using it with claims transformation, such as GetMappedValueFromLocalizedCollection.

[2022-03-06 10:58] #83768 closed

[2022-03-06 11:05] Rakeshgodumala opened #89292 "It is not working."
hello sir,
When I try to deploy my project it is showing an error the content is not showing
The content server has rejected the request with InternalServerError
Reason: An unexpected error has occoured. Please try again later

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version

[2022-03-06 12:30] qmacro opened #89293 "Instructions to find Pivotal Cloud Foundry don't work"
The first paragraph states: "_This tutorial provides quick steps to create and generate the parameters you need to provision a Pivotal Cloud Foundry (PCF) cluster on Azure. **To find the Pivotal Cloud Foundry solution, perform a search in the Azure Marketplace.**_" (emphasis mine).

These instructions do not work, no Pivotal Cloud Foundry solution can be found, and this tutorial unfortunately has

[2022-03-06 13:48] MonikaReddy-MSFT commented on #89293
@qmacro - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-06 13:49] MonikaReddy-MSFT commented on #89292
@Rakeshgodumala - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-06 15:21] ManCalAzure commented on #81361
Still having the same issue with today. Any update on this?

[2022-03-06 15:23] AjayKumar-MSFT commented on #89178
johnayoub, As mentioned in this [doc](https://azure.github.io/AppService/2021/07/03/Linux-container-from-ACR-with-private-endpoint.html)- Windows container apps does not yet support pulling containers over virtual network, but you can use managed identity to pull from Azure Container Registry and you can pull from custom registries, that are accessible from the internet.

[2022-03-06 15:29] AjayKumar-MSFT commented on #89204
@Husky-Devel, Just checking if you have had a chance to see the response from johndeu. Hope removing acronym\word `OBS` from the brand helps clarify. Thanks again for taking time to share your valuable feedback for improving Azure docs.

[2022-03-06 15:55] thbanasi commented on #87926
What does NetworkAccessTrafficLogs provide?

[2022-03-06 16:09] TharinduK opened #89294 "Outdated screenshot and portal menu options"
I am not seeing "Advanced Access Policy" blade for Key Vault resource anymore. I see the options under "Access Policies" blade. I assume UI changed however the screen shot was not updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bcd765-e7de-c91e-2193-a6b7c166ed05
* Version Independent ID: 6432a759-9995-e08a-ee3

[2022-03-06 16:34] slynickel commented on #87926
I'm not sure, hence the issue. I can't find anywhere where the list of these is documented besides this article.

[2022-03-06 18:04] johnayoub commented on #89178
@AjayKumar-MSFT Thanks for the clarification! Any ETA on when this feature will be available?

[2022-03-06 18:07] saeedalhamed opened #89295 "No clear information about Signing in logs"
Hope to take this with high priority, one of our customers has been very upset about the documentation where its not mentioning
a clear information about the signing in logs, especially for external accounts, I see in the documentation about Facebook as an example of external identity where you are able to view the users signing activity in the audit logs only, the customer believes that the signi

[2022-03-06 18:23] VitalyMCT opened #89296 "Missing link"
Regarding

The link in this paragraph is missing. It could be that when #84623 was resolved the link was mistakenly omitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919b175-3966-9d2c-29b0-e0d5d0377728
* Version Independent ID: 5e8d2084-07e4-f3d2-f0bf-ab2a50cb933b
* Content: [Sign up for premium editions - Azure

[2022-03-06 18:35] mbarsott opened #89297 "Wrong and confusing description for Client Id"
Under "Step 4: Configure the sample web app", on the description for the value related to the ClientId key, it says "The web API application ID from [step 2](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-web-app?tabs=visual-studio#step-2-register-a-web-application)." It should be "The Web App Application (client) ID...". This is confusing, especially f

[2022-03-06 18:41] Vikram1988 commented on #88987
@thnurg for pointing this out. I have requested the Engineering to validate this before we can update the doc with this info

[2022-03-06 18:41] mbarsott opened #89298 "Wrong port in the documentation/application"
The entire documentation assumes the application is running on port 5001, but the launchSettings uses completely different ports:
![image](https://user-images.githubusercontent.com/16526496/156937355-d8185129-b0dd-4758-b81f-a3bbdf3531fd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714f2c6b-3bc4-9e14-7f0a-7b56d52

[2022-03-06 18:41] bwren commented on #84748
Apologies, it looks like this one got missed. SUSE 15 SP2 has been added to the supported list.

#please-close

[2022-03-06 18:41] #84748 closed

[2022-03-06 18:48] mbarsott opened #89299 "Confusing banner displayed over what the user should see"
When the user runs the app for the first time, the accept cookies banner is displayed over what the user expect to see, including the Sign In button. The text in the banner is confusing and since the user does not see what is expected he or she will think something went wrong. The banner should not be displayed over the navigation panel, this is bad design.

---
#### Document Details

⚠ *Do not ed

[2022-03-06 19:01] murbanowicz commented on #77408
Hi,
Is there any update on the roadmap for M1 Mac?

[2022-03-06 20:33] wroozle opened #89301 "VMCustomization' is not enabled for the Subscription. Error trying to create vm from command line"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df7220e-bdc8-7b82-73b9-75d0bde6ffca
* Version Independent ID: f25d0b1f-63b8-3cfc-64c2-d1750fc2f287
* Content: [Quickstart - Create a Linux VM with Azure PowerShell - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linu

[2022-03-06 20:34] wroozle commented on #89301
VMCustomization' is not enabled for the Subscription. Error trying to create vm from command line

Not learning what I hoped to learn today.  Kinda stonewalled by random issue.

[2022-03-06 20:34] #89301 closed

[2022-03-06 20:39] cynthn commented on #89301
@wroozle did you figure out the issue or give up? If you paste the syntax into a comment here, we might be able to see what the issue is?

[2022-03-06 20:47] cedmallet commented on #40789
this is still an issue when setting up CI with Github in the deployment slot.

I'm trying to set up a Github Action for an auto-deployment on commit, but the detected stack is .Net, even though I have a `WEBSITE_NODE_DEFAULT_VERSION` variable set.

As a result, the only option is to write the workflow script manually.

[2022-03-06 21:50] Tanbeer99 opened #89302 "Azure docz"

[2022-03-06 22:02] mike-urnun-msft commented on #88861
Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-06 22:02] #88861 closed

[2022-03-06 23:41] RyanHill-MSFT commented on #88921
`api_location` should be set to `api` and your workflow should be using `Azure/static-web-apps-deploy@v1`

![Screenshot 2022-03-06 183920](https://user-images.githubusercontent.com/47189704/156947350-5a6c0003-3b98-4e59-8da7-0fbd53064ecc.png)

[code]

[2022-03-06 23:41] #88921 closed

[2022-03-07 00:51] Kie681 opened #89314 "Japanese version has duplicated sentences"
Hi,
please review an attached pic.
IN Japanese version,
"Number of IPs in a VNet (including immediately peered VNets) accessing volumes in an Azure NetApp Files hosting VNet" is duplicated or two different entries.

![image](https://user-images.githubusercontent.com/100915350/156950148-18bb2fd2-2e39-4cbe-8d51-c00c9179879a.png)

thanks,
Kie

---
#### Document Details

⚠ *Do not edit this section. I

[2022-03-07 01:01] TLKG opened #89315 "Does userId persist within the same app in all sessions?"
My SWA uses AAD login, this app is open to public so anyone has a valid MS acct can log in.

Based on my understanding for this [Client principal data](https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript) for `userId`, if the same user `xyz@outlook.com` logs in and out my app, the first time his `userId` value is `xyz111` then this is his value forever **within

[2022-03-07 01:28] shwetamathur7 commented on #89297
@mbarsott Thanks for your feedback. We will investigate and update the thread.

[2022-03-07 01:29] shwetamathur7 commented on #89298
@mbarsott Thanks for your feedback. We will investigate and update the thread.

[2022-03-07 01:55] ram-msft commented on #89116
@trungngv Thanks, For each audio input, one transcription result file is created. The [Get transcriptions files](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetTranscriptionFiles) operation returns a list of result files for this transcription. To find the transcription file for a specific input file, filter all returned files with kind set to Transc

[2022-03-07 01:56] #88993 closed

[2022-03-07 01:58] KrishnaG-MSFT commented on #89302
@Tanbeer99 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in any Azure document then please elaborate your feedback and share the Azure doc

[2022-03-07 01:59] akki-s opened #89316 "Secured virtual hub Firewall AZ support"
The comparison table in the page says that for `Secured virtual hub` Azure Firewall Availability Zones are supported. However, if I go on and try to deploy a firewall to an existing VWAN Hub, the option to select AZ is disabled and defaulted to `None` for both Standard and Premium tiers of the firewall.

Either the documentation is incorrect or there is a bug when deploying Firewall in the hub. Pl

[2022-03-07 02:05] akki-s opened #89317 "Unclear whether the hub supports Availability Zones"
From the response under the content for the question [How are Availability Zones and resiliency handled in Virtual WAN?](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#how-are-availability-zones-and-resiliency-handled-in-virtual-wan), it is unclear whether the Hub resource supports Availability Zones. The document says resources in VWAN such as ExpressRoute, Firewall etc suppor

[2022-03-07 02:15] ram-msft commented on #89116
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 02:15] #89116 closed

[2022-03-07 02:17] ram-msft commented on #89118
@nibaccam Can you please review and update the following Explore labeled datasets via pandas dataframe.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-labeled-dataset#explore-labeled-datasets-via-pandas-dataframe

[2022-03-07 02:23] RohitMungi-MSFT commented on #89294
@TharinduK Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-07 02:29] SubhashVasarapu-MSFT commented on #89316
@akki-s , Thanks for reaching out. We will investigate and update this thread.

[2022-03-07 02:32] SubhashVasarapu-MSFT commented on #89317
@akki-s , Thanks for reaching out. We will investigate and update this thread.

[2022-03-07 03:16] MonikaReddy-MSFT commented on #89296
@VitalyMCT  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-07 03:17] MonikaReddy-MSFT commented on #89295
@saeedalhamed  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-07 03:19] MonikaReddy-MSFT commented on #89299
@mbarsott -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-07 03:54] MonikaReddy-MSFT commented on #89258
@BittahCriminal - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 03:54] #89258 closed

[2022-03-07 03:55] MonikaReddy-MSFT commented on #89222
@HarisSpahija - Can you please elaborate on in what terms are you looking for the definition of internal?

[2022-03-07 03:59] MonikaReddy-MSFT commented on #89084
@dhirajgandhi - Thank you for providing your insights.
@TAREKME - I hope @dhirajgandhi has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 03:59] #89084 closed

[2022-03-07 04:00] SnehaAgrawal-MSFT commented on #89315
@TLKG Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-07 04:17] AnuragSharma-MSFT commented on #89038
@vladai78 Thanks for covering this over email.

@naokitakeda14 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-07 04:25] TAREKME commented on #89084
Thanks all for the support

From: MonikaReddy-MSFT ***@***.***>
Sent: Monday, March 7, 2022 5:59 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tarek Metwally ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] CSP to EA (Issue #89084)

@dhirajgandhi<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdhirajgandhi&data=04%7C01%7CTarek.Metwally%40

[2022-03-07 04:27] kobulloc-MSFT commented on #89160
@UnknownGreyBerry Thank you for bringing this to our attention!  I'll get a PR out to update the Portal steps and include the doc author to get the screenshot updated as well.

![image](https://user-images.githubusercontent.com/37556655/156968009-9674278f-5bea-42a1-b761-e4cc70093f90.png)

[2022-03-07 04:39] AnnuKumari-MSFT commented on #88799
@lrtoyou1223 , Requesting to review and approve the PR: https://github.com/MicrosoftDocs/azure-docs/pull/89152
Thankyou. Please reopen in case of any issue.

[2022-03-07 04:39] #88799 closed

[2022-03-07 04:42] AnnuKumari-MSFT commented on #89106
@saveenr Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-03-07 04:49] SumanthMarigowda commented on #89314
@Kie681 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-07 04:50] SumanthMarigowda commented on #88880
@akshaymatmicrosoft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 04:50] #88880 closed

[2022-03-07 04:54] SumanthMarigowda commented on #88889
@W1ll1amz Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2022-03-07 04:54] #88889 closed

[2022-03-07 05:03] enihcam opened #89320 "`Expected network bandwidth` for D2ds_v4 is confusing."
| Size |  Expected network bandwidth  (Mbps) |
|---|---|
| Standard_D2ds_v4<sup>2</sup> | 1000  |
| Standard_F2s_v2<sup>4</sup>  | 5000   |

i benchmarked with speedtest within two VMs, d2ds-v4 and f2s-v2, and found the inbound/outbound network performance are same.

so what does `Expected network bandwidth` really mean? should i perform the test by accessing the VM from outside?

---
#### Documen

[2022-03-07 05:25] Karishma-Tiwari-MSFT commented on #89177
@[miked1313](https://github.com/miked1313) Can you please share the doc/link you are referring to, for this statement?
'Supported by ExpressRoute, VPN, Azure Gateway, and SD-WAN'

[2022-03-07 05:27] SwathiDhanwada-MSFT commented on #89174
@TheTechOddBug To get data volume by resource group , the _ResourceId is parsed as `extend resourceGroup = tostring(split(_ResourceId, "/")[4] )` , the same can also be parsed as ```| parse tolower(_ResourceId) with "/subscriptions/" subscriptionId "/resourcegroups/"
    resourceGroup "/providers/" provider "/" resourceType "/" resourceName```

To get data volume by resource , you can use the ment

[2022-03-07 05:27] SwathiDhanwada-MSFT commented on #89174
@bwren Can you please review this ?

[2022-03-07 05:33] AnnuKumari-MSFT commented on #89094
Hi @chez-charlie ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-03-07 05:36] deandownunder opened #89322 ""Intra subnet traffic""
Please can you clarify the guidance for Intra-subnet traffic?  The statement below seems to suggest that traffic between hosts within a subnet actually traverses the subnet boundary for it to be affected by the NSG?  It makes perfect sense for security rules in an NSG applied to a NIC, not so much sense (to me) that security rules in an NSG at the subnet boundary should do this.

"It's important t

[2022-03-07 05:40] ju-shim commented on #87879
Updated.

#please-close

[2022-03-07 05:40] #87879 closed

[2022-03-07 06:00] Husky-Devel commented on #89204
Thank you

[2022-03-07 06:00] #89204 closed

[2022-03-07 06:07] ju-shim commented on #82176
@mamccrea - The **Confidential Compute** writers should circle back to this and update the documentation. Let me know if that is me or someone else on our team!

[2022-03-07 06:08] #89038 closed

[2022-03-07 06:09] AnuragSharma-MSFT commented on #89035
@Shang7799 Thanks for your feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-07 06:11] CHEEKATLAPRADEEP-MSFT commented on #87365
@DarinShapiroMS  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@Juliako Could you please update the document with the above changes?

[2022-03-07 06:12] CHEEKATLAPRADEEP-MSFT commented on #89167
@fmerinop  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@Juliako Could you please update the document with the above changes?

[2022-03-07 06:13] AnuragSharma-MSFT commented on #89188
@danieldespainTLS Thanks for detailed reply. Really appreciate.

We can add this code snippets as this could help others having similar issue. Just one request, as this is more specific to Join clause, could you please create a new issue on below doc link as that would be more appropriate place to make these changes.

[Joins in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/

[2022-03-07 06:15] GitaraniSharma-MSFT commented on #89322
@deandownunder , thank you for your query. We'll review this and get back to you shortly!

[2022-03-07 06:19] zeeshaanali opened #89323 "Certification Test Tool doesn't work for Azure Server 2019 gen 2 even after adding port 5986"
Linking previous [issue](https://github.com/MicrosoftDocs/azure-docs/issues/88252) which wasn't resolved.

Even after adding the port 5986 ( _as inbound and outbound_ ) on Windows, the VM certification tool cannot connect and hence do not work. And the log as pointed in the image doesn't gives any useful information.

I am quite sure that the issue should be reproducible.

Port added:
![image](htt

[2022-03-07 06:21] racchen commented on #88926
@mike-urnun-msft sure, thanks for checking..

[2022-03-07 06:25] AaronMaxwell commented on #89183
#please-close

[2022-03-07 06:25] #89183 closed

[2022-03-07 06:25] AaronMaxwell commented on #86480
#please-close

[2022-03-07 06:27] kobulloc-MSFT commented on #89185
@mbiver The introduction ends with an understated link to cloud-init which has a great walkthrough:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#deploying-a-cloud-init-enabled-virtual-machine

I think if we bring more attention and add context for those two links, readers will have a better understanding of why this is used and how to use it without duplicating so

[2022-03-07 06:33] SnehaAgrawal-MSFT commented on #88825
@johnayoub Thanks for reply! We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your feedback is more related to [Containers on Windows](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2019%2Cwindows-10-21H1) doc, we kindly invite you to share your feedback directly on the r

[2022-03-07 06:33] #88825 closed

[2022-03-07 06:41] hisasima opened #89324 "We can use WinSCP to download"
This article said ssh client does not support download but I confirmed that we can use WinSCP (or Teraterm) in order to download a file. I hope you add this information into this document.

https://docs.microsoft.com/ja-jp/azure/bastion/vm-upload-download-native

This command can be used to upload files from your local computer to the target VM. File download is not supported.

---
#### Document D

[2022-03-07 06:54] Yunus-MSFT opened #89326 "VMSS instances outbound connectivity"
[Can we a note for customers reference as below:
Outbound internet connections doesn't work on VMSS instances if one of the VMSS instance associated with Standard SKU public IP address.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c3ba2e-4447-da7a-02d2-a5637cd1d1c8
* Version Independent ID: 9e27ac75-fbd1-79b2-e816

[2022-03-07 07:10] GitaraniSharma-MSFT commented on #89324
@hisasima , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-07 07:12] SubhashVasarapu-MSFT commented on #87987
@SenorRagequit, Apologies for the delay in response. Yes, Azure Firewall doesn't support the standard outbound PIP today. Instead, you can deploy Azure NAT Gateway in the Firewall subnet to overcome this scenario. Azure NAT gateway does NAT Azure PIP's to unique NAT PIP. Also, there will be no issue for inbound Natting here because NAT gateway works only on outbound connections.

[2022-03-07 07:28] AmmarHassan1 commented on #70505
I still face this issue with latest vsCode and REST extension installed. selecting 'Attach to APIM' doesn't work for me.

[2022-03-07 07:40] kengaderdus commented on #84208
#please-close

[2022-03-07 07:40] #84208 closed

[2022-03-07 07:47] dani3lheidemann opened #89328 "Use managed identity instead of RunAs Account?"
Hi Azure Team,

thanks for the great documentation. As I was reading over it, I was wondering if it doesn't make more sense to use a managed identity for auto-scaling instead of a service principal, since all operations like secret expiration etc. is done by AAD? I would not recommend Azure Automation Run As Accounts since Managed Identities are supported for Automation Accounts.
What do you think

[2022-03-07 07:48] AnuragSingh-MSFT commented on #89026
@ramganesh19, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-03-07 07:48] #89026 closed

[2022-03-07 08:06] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali Thank you for reporting this issue. We will look into it and get back to you soon.

[2022-03-07 08:30] RohitMungi-MSFT commented on #88940
@bensir4u Did you try to kill a process that is already running on port 5000?
You could also try to change the port in your [YAML ](https://docs.microsoft.com/en-us/azure/cognitive-services/anomaly-detector/how-to/deploy-anomaly-detection-on-container-instances#create-an-azure-container-instance-resource-from-the-azure-cli)to an available port and check if the container comes up successfully. Than

[2022-03-07 08:47] SnehaAgrawal-MSFT commented on #88994
@yehudamakarov Thanks again for the feedback! If my understanding is right you want to set Php version using Azure CLI if so, you may refer to [this document](https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-linux#set-php-version) as mentioned here:

`az webapp config set --resource-group <resource-group-name> --name <app-name> --linux-fx-version "PHP|8.0"

[2022-03-07 08:49] SnehaAgrawal-MSFT commented on #89002
@eosho Just checking in to see if you have chance to see @madsd response, let us know if further query or issue remains.

[2022-03-07 09:06] SnehaAgrawal-MSFT commented on #89049
@RichardAtFirstImpression Could you please elaborate on your requirements on "draft email" to help you better on this.

[2022-03-07 09:09] jeevanearform commented on #89089
@Givary It has been 5 days since logged this. Any update.

[2022-03-07 09:11] AjayKumar-MSFT commented on #89178
johnayoub,  I had been checking on this internally with our product engineering team. We do not have an ETA on this yet, if there are any updates/changes, we'll update the docs appropriately -[ Integrate your app with an Azure virtual network | Application routing](https://docs.microsoft.com/azure/app-service/overview-vnet-integration#application-routing.

[2022-03-07 09:24] realworldazure opened #89329 "Content no longer correct - Advanced Access Policies no longer exist"
[Enter feedback here]

Hello, this page references 'advanced access policies' via a diagram that is out of date. I look at the UI and can see that Advanced Access Policies is no longer available. It should be 'Access Policies'.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82

[2022-03-07 09:35] AbbyMSFT commented on #88457
Hi @mclgoerg  -
Thank you for checking back. I assigned this to @gardnerjr, who was checking with another developer for this information. Aside from following up here, I will follow up offline to see if he made any progress.
Thanks,
Abby

[2022-03-07 09:41] RutgerKosters opened #89330 "ANF network planning: same region, cross subscription"
Hi team,

I just noticed this page doesn't specifically list the option for connectivity to a volume in a peered VNet in the same region, **across subscriptions**. This is a valid topology.

Suggestion:
Add he following line to the table listed here: https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#supported-network-topologies

"Connectivity to volume

[2022-03-07 09:48] KrishnaG-MSFT commented on #89329
@realworldazure Thanks for the feedback.
Assigning to @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2022-03-07 09:50] jikuja commented on #82868
Any ETA for OpenVPN client cipher setting configuration?

Which cipher is used by default?

[2022-03-07 09:52] mhomm commented on #89060
Hello @MayankBargali-MSFT any update? I'm working on a network design for FunctionApp with vnet integration and waiting a clarification before asking the network space I need to my network team
Thanks

[2022-03-07 09:55] MayankBargali-MSFT commented on #89156
@jstenlund I have tried to reproduce the issue at my end but didn't have an issue when the azure function [VS code extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions) is not installed. Only in case if [Azure function core tools ](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3904) are not installed then only I observe the issue

[2022-03-07 10:08] sdg002 opened #89331 "Singleton attribute vs Durable functions - how are they different?"
[Enter feedback here]
Considering the vastness and ever changing landscape of Cloud technologies , it would be very nice if MS can provide links to real life scenarios to demonstrate the suitability of a certain technology.

Example:
- What would be a nice business case for a Singleton web job?
- What are the caveats of a Singleton web job?
- How is it different from durable Azure functions  (as d

[2022-03-07 10:27] kengaderdus commented on #83214
Hey @72gm

Thank you for your feedback and patience. Your question is a product issue than a doc one. I've informed our product team and created a work item on this issue for internal tracking. I'll comment back to this thread when we've something. Thanks again. #please-close

[2022-03-07 10:27] #83214 closed

[2022-03-07 10:50] TheTechOddBug commented on #89174
Maybe, including the example in this way could be helpful to clarifying the documentation. Thanks!!

[2022-03-07 11:06] kengaderdus commented on #87134
Hi @DaveMenist,

Thank you for your feedback and patience. We avoid mentioning the line number to which certain snippets are added because line numbers can change depending on a user's scenario. Currently,  we tell you the file .XML name and the element (xml tag) to which you add the snippet.

For full output examples, we provide an example custom policy in GitHub.

Even with this, we're always wo

[2022-03-07 11:06] #87134 closed

[2022-03-07 11:19] RohitMungi-MSFT commented on #88949
@PatrickFarley Could you please help review the guidance and update it to be consistent for using the container?

[2022-03-07 11:26] #88955 closed

[2022-03-07 11:43] SnehaAgrawal-MSFT commented on #89331
@sdg002 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-07 11:51] shwetamathur7 commented on #89212
@samuelpienaar These are the reference values which need to update with the actual values provided by ArcGIS Enterprise. However, I have updated the URL provided in the portal while configuring the SSO to be in sync and sent it for review to author.

[2022-03-07 11:51] #89212 closed

[2022-03-07 12:08] dariusz-wozniak opened #89333 "InstrumentationKey placement"
There's a small mismatch on where to put the `InstrumentationKey`.

Online documentation page (URL: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net) says it should be at the bottom of the file:

...while the generated configuration file (AppilcationInsights.config) says it should be on top of the file:

It doesn't affect functionality but would be nice to have that one matched.

-

[2022-03-07 12:37] GameModes opened #89334 "Can't create VM for machine learning IOT edge guide"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure
[code]

### Expected/desired behavior

### OS and Version?

### Mention any other details that might be useful
The error is similar to: #45 but this has a different error.
It can't be because the VM doesn't exist because when I use the Get-AzComputeResourceSku with this reg

[2022-03-07 12:40] tetsuyasodo opened #89335 ""az ad sp create --id <id> --role Contributor" not working"
In option2, the following az CLI command fails:

[code]

This is just because "az ad sp create" command doesn't accept "--role" option unlike "az ad sp create-for-rbac" command.
I think this is document bug and this instruction needs to be modified as follows:

[code]

Additionally, as [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/80169)(#80169) states, AppId should be "205478c0-

[2022-03-07 12:46] #86886 closed

[2022-03-07 12:48] getazcloud opened #89336 "5 additional GiB, and you are billed for 105 GiB"
Hello,
This sentence is not clear:

If you have a share with 100 GiB of data but only 5 GiB has changed since your last share snapshot, the share snapshot consumes only 5 additional GiB, and you are billed for 105 GiB.

If only 5 GB data is changed, why do I need to pay for 105 GB or you mean 105 GB for the data stored on Azure Files (raw data, not the snapshot.
Thanks,
Lukas

---
#### Document De

[2022-03-07 12:58] kengaderdus commented on #86730
Dear @prTrainreck

Thank you for your feedback and patience. We're gathering the information required to respond to this issue appropriately.  I'll comment back to this thread when we've something.

[2022-03-07 13:27] goodfm41 opened #89337 "SSH Errors when creating AKS Cluster"
The command to create a new AKS cluster (Create a Kubernetes cluster/https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster?tabs=azure-cli#create-a-kubernetes-cluster) is either incorrect or broken:

PS C:\Users\user33> New-AzAksCluster -ResourceGroupName myResourceGroup -Name myAKSCluster -NodeCount 2 -GenerateSshKey -AcrNameToAttach AMAzCR
WARNING: Upcoming breaking change

[2022-03-07 13:41] GitaraniSharma-MSFT commented on #81361
@ManCalAzure , could you try installing Azure Route server via Azure PowerShell or CLI and check if you are able to install it?
PowerShell: https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-powershell
CLI : https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-cli

In case you are able to install it via either PS or CLI and unable

[2022-03-07 13:42] VanMSFT commented on #88925
Hey @DaveWut - Can you please update to the latest SSMS, and try again? https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15

[2022-03-07 13:43] shwetamathur7 commented on #89228
@JanRou Thanks for pointing this out. I have updated the json sample and sent for approval to author.

[2022-03-07 13:48] GitaraniSharma-MSFT commented on #87374
@edurguti , as mentioned in the [limitations/known issues](https://docs.microsoft.com/en-us/azure/firewall/overview#known-issues) of Azure Firewall,

Issue : Azure Firewall currently supports 2496 ports per Public IP address per backend virtual machine scale set instance. By default, there are two virtual machine scale set instances. So, there are 4992 ports per flow (destination IP, destination p

[2022-03-07 13:48] bmansheim commented on #86968
Hi @amanmcse . Good that you pointed this issue out! Dependency agent was deprecated from Microsoft Defender for Cloud, as is noted in [our latest release notes](https://docs.microsoft.com/en-us/azure/defender-for-cloud/release-notes#march-2022).
PR #190764 removes references to that product from our docs.

[2022-03-07 13:54] bmansheim commented on #86527
Hi @swupdiedoowap . I just wanted to update you that we are tracking this issue internally and plan to post updates soon.

[2022-03-07 13:58] shashishailaj commented on #89320
@enihcam Thank you for your feedback . We will investigate and update the thread.

[2022-03-07 14:03] KrishnaG-MSFT commented on #89140
@grimstoner This is taken care. Now the document shows it as January 2022. Thanks again!

[2022-03-07 14:03] #89140 closed

[2022-03-07 14:03] shashishailaj commented on #89328
@dani3lheidemann Thank you for your query . We will investigate and update the thread.

[2022-03-07 14:05] cveld opened #89338 "Azure RBAC permission required?"
Is it required that regular AVD users need to have Azure RBAC permissions on the fileshare?
Or is NTFS access enough?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69769604-b1c3-a2b8-318d-354ebf0d82a1
* Version Independent ID: 964330fc-1a4f-05ca-502a-a09f26e79f10
* Content: [Create FSLogix profile container Azure File

[2022-03-07 14:10] Aqueum opened #89339 "Digital Twins on Mac/Linux"
Up to https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-command-line-app the Digital Twins tutorials work well on Macs (& Linux), however this pages' requirements for Visual Studio's Azure Development Workload make things very difficult.

Could instructions be added for Mac (& Linux) users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-07 14:14] ElectricLlama commented on #87790
The issue still remains: if I use the new CI/CD process, then start using global parameters, the npm validate step in the build pipeline will fail. Can you include clear instructions on how to get around this? I assume I need to copy a global parameter file into the collabaration branch. That's fine. Does it need a special name or folder structure to be recognised and included by then npm step? Pl

[2022-03-07 14:16] lukos opened #89340 "This is very hard to understand"
I have clicked through various MS pages after seeing a warning that my functions app is running on v2 and should be upgraded. I saw a console error which took me to a github issue which took me to a "how to upgrade" page which then pointed to separate pages for the tools and the project, the project link brought me here but I still can't see how to upgrade the app.

In this page, all I can see is

[2022-03-07 14:18] johnayoub commented on #89178
@AjayKumar-MSFT thanks!

[2022-03-07 14:20] #89297 closed

[2022-03-07 14:20] cinamori commented on #88260
I confirmed that the Japanese page was also updated. Thank you for your support.

[2022-03-07 14:21] KrishnaG-MSFT commented on #88331
@himanshukgit

Received below update from PG:

**"Last Evaluated” and “Definition Version”:**

“Last Evaluated” and “Definition Version” can be retrieved from the list policy states REST APIs as fields "timestamp" and "policyDefinitionVersion", respectively.

https://docs.microsoft.com/en-us/rest/api/policy/policy-states

![image](https://user-images.githubusercontent.com/45988031/157051591-757b08

[2022-03-07 14:27] KrishnaG-MSFT commented on #89077
@bhpat I have verified and updated the document as required. The update should go live in sometime i.e., in less than 24 hours. Thanks again!

[2022-03-07 14:33] #89286 closed

[2022-03-07 14:34] Dickson-Mwendia commented on #89286
Thanks @JoshuaGarrison27 opening this issue. We have updated the article with the correct sample app for the demo.

[2022-03-07 14:34] KrishnaG-MSFT commented on #88331
@himanshukgit I have updated the referred Azure document with a note on the same. The update will go live in sometime i.e., in less than 24 hours.

At this point it appears that there's no more edits or updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the referred Azure documentation, please do let us kn

[2022-03-07 14:34] #88331 closed

[2022-03-07 14:36] mamccrea commented on #82176
#assign: @lauradolan

[2022-03-07 14:38] JoshuaGarrison27 commented on #89286
Thank you very much!

[2022-03-07 14:49] kaburkett opened #89343 "Azure Data Lake Storage v2 HNS - Disaster Recovery Failover Not Supported"
In the Azure portal it is saying:

` Failover for storage accounts with hierarchical namespace enabled (Azure Data Lake Storage Gen2 storage accounts) is not supported at this time. `

This is not mentioned anywhere in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Ve

[2022-03-07 14:57] AsiaMartini opened #89349 "Wrong minimum SDK version"
Although the documentation says that the minimum SDK version is API level 21, the SDK crashes when used on a device with API version lower than 26.
Here is the error:

[code]

I found that in the MapMath class there are some methods annotated with: @SuppressLint ("NewApi").
Lint will tell you whenever something in your code isn't optimal or may crash. By passing NewApi there, you're suppressing al

[2022-03-07 14:57] maulik-modi commented on #83675
@SrijitBose-MSFT , any news?

[2022-03-07 15:02] miked1313 commented on #89177
Hi @Karishma-Tiwari-MSFT - Well that's odd, I submitted this feedback using the page on the article/doc which was [https://docs.microsoft.com/en-us/azure/virtual-desktop/compare-virtual-desktop-windows-365](https://docs.microsoft.com/en-us/azure/virtual-desktop/compare-virtual-desktop-windows-365) and it appears to have been removed?  Was it moved somewhere else?  It was a great article.

Here is

[2022-03-07 15:24] jfdoyon opened #89353 ""Can be regional?" column does not match API data"
Hello,

Looking at the data in the "Can be regional?" column, there seems to be inconsistencies with what the API and JSON data provide.

For instance, for the tag AzureArcInfrastructure, the column says "no", but if you go here https://azureipranges.azurewebsites.net/ and look at that service tag, you'll see there are many regional versions of it actually defined.

Can these regional restrictions

[2022-03-07 15:31] lukos commented on #89340
Thanks @ggailey777

That linked article says, "you can only change the runtime version before you've created any functions in your function app" so that doesn't sound like it is able to update. It is also unclear how the version in the portal refers to the sdk version in the project in visual studio. Although 2 sounds like dotnet core 2.2., I am not sure if that is the intention or whether the ver

[2022-03-07 15:46] jonyjesus18 opened #89354 "PowerShell to change Public Network Access for Synapse Workspace"
After a significant amount of time I have been unable to use CLI or PowerShell to disable a Synapse Workspace Public Network Access.
Is this available (somewhere I could find) or if not, is it something that is under implementation?
Would be a great feature.
Best Regards,
Joao

[2022-03-07 15:48] kobulloc-MSFT commented on #89338
@cveld Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-03-07 16:02] SaiKishor-MSFT commented on #89353
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-07 16:07] SaiKishor-MSFT commented on #89006
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 16:07] #89006 closed

[2022-03-07 16:12] Axel92Dev commented on #40132
@SaiKishor-MSFT @TravisCragg-MSFT @vhorne I just upvoted this too https://feedback.azure.com/d365community/idea/57fa37b8-fd58-ec11-a819-0022484bf651

I don't know how to launch different campaigns (with facebook, linkedin, google pixels), having HubSpot forms keeping the CSP which is an OWASP top ten best practice.

If there was a work-around, you could have took your time in fixing this. But give

[2022-03-07 16:16] joe-hdai commented on #34167
(my comments are my own)

Adding to the chorus of developers who strongly encourage Microsoft to rethink this redirect.

It's embarrassing that an organization, who owns this very platform, can't/won't resolve this simple issue. This sort of behavior from an organization the size of Microsoft can set precedent - which in this instance is unfortunate.

If you're a security engineer at Microsoft, pl

[2022-03-07 16:25] kpraxor opened #89355 "Needs updating for Replica Sets"
This page's info is out-of-date re: use of a single region.  Azure AD Enterprise and Premium support Replica Sets, which should be incorporated into this page re: network design considerations.  Also, is it still a priority to dedicate an entire VNET to AADDS?  Forwarder support on VNET DNS is much improved now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-03-07 16:28] MarileeTurscak-MSFT commented on #89326
@Yunus-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 16:29] Siby22071989 opened #89356 "Port 25 Unblock - Cannot be enabled on any subscriptions except EA and Field Led"
[Enter feedback here]
It is possible to have this block removed if your Azure subscription is in good standing and has a sufficient payment history. you can request to have the restriction removed by going to the Cannot send email (SMTP-Port 25) section of the Diagnose and Solve blade for an Azure Virtual Network resource in the [Azure portal](https://portal.azure.com/).

We have to replace this s

[2022-03-07 16:30] ogrwindrider opened #89357 "login to Azure Labs from hacker using my computer"
I have evidence of a hacker using RDP to access:

TERMSRV/ml-lab-7dacc5d2-f496-44e0-bd52-243b8780f568.southcentralus.cloudapp.azure.com:63259

from my computer during the period 3/2/22-3/5/22.    You should check who is the owner of that Azure lab account to prevent them from using your platform as a means to download malware.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2022-03-07 16:31] #89356 closed

[2022-03-07 16:38] ShaikMaheer-MSFT commented on #89042
@spelluru Could you please validate customer feedback of adding available regions where Premium tier can be deployed and enhance document as appropriate? Thank you

[2022-03-07 16:41] AshokPeddakotla-MSFT commented on #89148
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-07 16:41] #89148 closed

[2022-03-07 16:41] ShaikMaheer-MSFT commented on #89044
@spelluru Could you please validate feedback to include generating SAS token using Azure portal and enhance document as appropriate? Thank you.

[2022-03-07 16:43] #87730 closed

[2022-03-07 16:45] ShaikMaheer-MSFT commented on #89052
@jianleishen Could you please validate customer feedback and enhance your document as appropriate? Thank you.

[2022-03-07 16:47] kobulloc-MSFT commented on #89357
@ogrwindrider Thank you for reporting this.  I'm currently investigating the issue however be aware that this is designed to be feedback for documentation improvements so you may get a faster response by opening a [Support Ticket](https://azure.microsoft.com/en-us/support/create-ticket/).

To confirm, an unauthorized user attempted to connect to an Azure Lab using your personal computer?

[2022-03-07 16:48] ShaikMaheer-MSFT commented on #89109
@nabhishek Could you please validate customer feedback of changing main to master in documentation and update doc as appropriate? Thank you.

[2022-03-07 16:57] ogrwindrider commented on #89357
Thank you. I wasn’t sure where to send this report.  I do not have any Azure Lab accounts.  I happened to notice the RDP connections from my computer and investigated by looking at the Windows Security Event logs.  I will try to use the URL you provided, but, since I do not have an Azure account, I’m not sure if it will allow me to open a support ticket.

===============================

wind'n wa

[2022-03-07 17:27] pjrcdf opened #89360 "Correction Required"
In the section linked here - https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/overview-eiot?source=docs#integration-with-microsoft-defender-for-endpoint

The article reads

"Two examples of such devices are Voice over Internet Protocol (VoIP) printers and smart TVs."

I believe this should read as below

"Two examples of such devices are Voice over Internet Protocol (VoIP) pho

[2022-03-07 17:29] CJRicard opened #89361 ""Supported OS images" heading misleading"
Customers and internal MSFT employees alike get confused by the list of "Supported OS Images" in this article because if you don't read on to the "Patch Orchestration modes" heading, you might miss the nugget under "AutomaticbyPlatform" that says "This mode is only supported for VMs that are created using the supported OS platform images above."

Might it be possible to change the "Supported OS Im

[2022-03-07 17:35] Fleid commented on #88260
We really appreciate your contribution to making the doc better. Don't hesitate to do it again :)

[2022-03-07 17:43] magrande commented on #14539
The content was updated way back. The document no longer references the old AzureRM module. Set-AzDiagnosticSetting is  used instead. The third warning regarding Timegrains & Categories arguments' plural names was removed. This issue is resolved.
#please-close

[2022-03-07 17:43] PRMerger16 commented on #14539
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-07 17:49] #88706 closed

[2022-03-07 17:54] ChaitanyaNaykodi-MSFT commented on #89335
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-07 17:57] bwren commented on #83236
Sorry for not getting to this sooner. I agree this is a pretty complex article. Just created a work item to get it restructured.

#please-close

[2022-03-07 17:57] #83236 closed

[2022-03-07 17:58] AbbyMSFT commented on #74664
Hi @SwathiDhanwada-MSFT,
This issue is a storage insights issue and should be assigned to the Azure storage team. Please assign to that team and remove the Azure-monitor label.
Thanks,
Abby

[2022-03-07 18:07] aahill commented on #88202
Thanks for bringing this up. I'll add a note into this article mentioning to keep the application information secret.

#please-close

[2022-03-07 18:09] bwren commented on #87961
For security, we need the primary or secondary key of the workspace along with the workspace ID. If you're interested in more details behind the authentication requirements, you might submit a question to the [Azure Monitor Q&A forum](https://docs.microsoft.com/answers/topics/24223/azure-monitor.html).

#polease-close

[2022-03-07 18:13] bandersmsft commented on #88674
@JMAvenant I sent an email to you and Wasim about this for follow up offline discussion. If Wasim recommends any doc updates, I'll be sure to make them and info you.

Closing this doc issue here.

#please-close

[2022-03-07 18:13] #88674 closed

[2022-03-07 18:15] mbiver commented on #89185
I took a look at the link but still am not sure how to run a script in a VM after deployment using the custom data capability.  Also, we saw that CLI will Base64 encode the information, but we don't show how to do that for using the portal.  All I want to do is use custom data to execute a couple of commands after deployment, but when I put the commands in custom data, nothing happens.  I've even

[2022-03-07 18:17] bwren commented on #87962
The new [custom logs API that's currently in preview](https://docs.microsoft.com/azure/azure-monitor/logs/custom-logs-overview) has additional authentication options. We currently only documented one method but should be adding more as we add to that documentation.

#please-close

[2022-03-07 18:17] #87962 closed

[2022-03-07 18:21] bwren commented on #86625
This solution has been replaced with [Container Insights](https://docs.microsoft.com/azure/azure-monitor/containers/container-insights-onboard) so we aren't maintaining this list. The article will be moved to our Retired section soon.

#please-close

[2022-03-07 18:21] rboucher commented on #89230
@SeanGraySage Thanks for your feedback. I'll pass this information along to the group that does Functions.  Azure Monitor pulls all that information into this article, but I don't have direct control over changing that information.

[2022-03-07 18:21] #86625 closed

[2022-03-07 18:23] tamram commented on #89163
@AdelaManea - We're working on your request. Feel free to reach out to us internally for any reason. We'll let you know when the update is ready.

[2022-03-07 18:28] laujan commented on #87855
Hi @yowl , I understand that @vkurpad provided a workaround solution. May we close this issue? Thank you!

[2022-03-07 18:30] yowl commented on #87855
Yes, I'm still implementing it, but looks like it will work.  Thanks.

[2022-03-07 18:30] #87855 closed

[2022-03-07 18:30] bwren commented on #85787
We appreciate the request. I'll go ahead and create a work item to add this, but I'm not sure what priority we're going to be able to give it since we're focusing our efforts on the [Azure Monitor agent](https://docs.microsoft.com/azure/azure-monitor/agents/azure-monitor-agent-overview)  which is in the process of replacing the Log Analytics agent.

#please-close

[2022-03-07 18:30] #85787 closed

[2022-03-07 18:30] laujan commented on #87855
Great! Thank you for your feedback.

[2022-03-07 18:34] rboucher commented on #89230
@SwathiDhanwada-MSFT Can you please remove the Azure-Monitor/svc label and assign this to Azure Functions?

[2022-03-07 18:42] rboucher commented on #89230
@reassign:SwathiDhanwada-MSFT

[2022-03-07 18:43] bwren commented on #82379
Sorry, took some time to get to our backlog here. You would presumably need some automated method to move out the log on a nightly basis. You could create your own automated method to collect the log using the new [custom logs API](https://docs.microsoft.com/azure/azure-monitor/logs/custom-logs-overview). Beyond that, you may want to check the [Azure Monitor Q&Q forum](https://docs.microsoft.com/a

[2022-03-07 18:43] #82379 closed

[2022-03-07 18:45] kobulloc-MSFT commented on #89185
@mbiver Ah, for troubleshooting you'll want to use Microsoft Q&A (this is the channel for documentation changes):
https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

If you are looking to run a script in a VM after deployment, you are probably looking for the Custom Script Extension or even Run command:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-sc

[2022-03-07 18:46] rboucher commented on #89230
#reassign:@SwathiDhanwada-MSFT

[2022-03-07 18:53] ggailey777 commented on #89340
Also, the version of Functions and the SDKs tend to move with .NET versions, but they aren't numerically linked. For example, Functions v4 supports .NET 6.

[2022-03-07 18:59] Wibusts opened #89364 "Missing Clarification"
[Enter feedback here]

The doc recommends to leave some OU,s selected but does not clarify which ones are:

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#domain-and-ou-filtering

 "Some OUs are essential for functionality, so you should leave them selected."

This page configures domain-based and OU-based filtering. If you plan to make changes, then s

[2022-03-07 19:00] alexwolfmsft commented on #89207
@AjayKumar-MSFT  This issue was recently resolved, thank you for bringing this to our attention!

https://github.com/Azure-Samples/msdocs-app-service-sqldb-dotnetcore

[2022-03-07 19:05] omar-nav opened #89365 "How does this Critical change affect these steps"
Does this announcement affect the steps mentioned here?
[Azure IoT TLS: Critical changes are almost here! (…and why you should care)](https://techcommunity.microsoft.com/t5/internet-of-things-blog/azure-iot-tls-critical-changes-are-almost-here-and-why-you/ba-p/2393169)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-03-07 19:06] rboucher commented on #89230
#label:functions/svc

[2022-03-07 19:07] JamesTran-MSFT commented on #89364
@Wibusts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/157101178-46822f51-3a12-4e37-85a6-13715854fca5.png)

[2022-03-07 19:08] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali Did you check the Windows Firewall?

[2022-03-07 19:08] #87653 closed

[2022-03-07 19:09] #89109 closed

[2022-03-07 19:11] rboucher commented on #88728
#reassign:@kayodeprinceMS

[2022-03-07 19:15] bwren commented on #81820
Sorry for delay in getting to this. Once you add configuration that the portal isn't able to support, I think you're going to need to perform any additional configuration also using templates since the portal. You can do complete configuration of WAD using [ARM templates](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-windows-install). I'll add a note to the arti

[2022-03-07 19:15] #81820 closed

[2022-03-07 19:19] ElanShudnow opened #89366 "Removal of a statement"
Why is this statement in the article, "See [Azure VM sizes with no local temporary disk](https://docs.microsoft.com/en-us/azure/virtual-machines/azure-vms-no-temp-disk)."???

Someone reading that may think that when using ADE, either the Linux VM doesn't support ADE at all when the VM has a temporary disk or they may think that encryption of the temporary disk isn't supported.

Clearly neither of

[2022-03-07 19:20] bwren commented on #80651
I'm not entirely what this is referring to. Diagnostic settings can only use, Blob Storage which isn't clearly specified in the article. I'm going to add that. Please let us know if there's some other restriction that you're referring to.

#please-close

[2022-03-07 19:20] #80651 closed

[2022-03-07 19:21] #87961 closed

[2022-03-07 19:39] susej2 opened #89367 "No instructions for persistent mount."
[Enter feedback here]

Based on a few customer interactions on this documentation is not explained how to do a permanent mount of the blobfuse on a VM.

The steps below should be included.
**Persisting**

- Make sure the fuse package is installed (e.g. yum install fuse)

Update connection.cfg file with your storage account information.
Edit /etc/fstab with the blobfuse script.
Add the following li

[2022-03-07 19:42] rboucher commented on #87211
Hi @johnjgonzalez. Thanks for your feedback.  I agree. This is confusing.   The Activity Log is at the subscription level and so it doesn't appear in the diagnostic settings UI, which shows the settings for individual resources. Instead, see https://docs.microsoft.com/azure/azure-monitor/essentials/activity-log#send-to-log-analytics-workspace and the other sections below on how to send the activit

[2022-03-07 19:43] bmuller4 commented on #87879
Thanks for correcting the documentation. However, my point #2 still remains open, specifically for the PowerShell examples. For some reason the Azure CLI doesn't require the location parameter but the Az Powershell cmdlets Set-AzVMRunCommand does. The example on this page should reflect this.

Proof as tested via Azure Cloud Shell:
PS /home/firstname_lastname> Set-AzVmRunCommand -ResourceGroupName

[2022-03-07 19:44] jstenlund commented on #89156
@MayankBargali-MSFT That's interesting. I'm able to reproduce the issue by disabling the Azure Functions extension.

Steps to reproduce, with the extension disabled:
1. Go to the Azure sidebar and the Logic apps (standard) section.
2. Click _Create New Project..._
3. Choose a folder
4. Choose stateful or stateless, it does not matter which
5. Enter a name

When confirming the name, I'm presented w

[2022-03-07 19:44] yehudamakarov commented on #88994
No, I want to know where the documentation is for all of those settings because I need to set the stack options for a dotnet app service.

Thanks,
Yehuda Makarov
On Mar 7, 2022, 03:47 -0500, SnehaAgrawal-MSFT ***@***.***>, wrote:

[2022-03-07 19:46] yehudamakarov commented on #88994
But the settings are documented right next door. These links should be linked to from the regular configuration docs!

https://docs.microsoft.com/en-us/azure/app-service/configure-language-dotnetcore

Thanks,
Yehuda Makarov
On Mar 7, 2022, 03:47 -0500, SnehaAgrawal-MSFT ***@***.***>, wrote:

[2022-03-07 19:48] pizzaz93 commented on #86480
@rjk did this documentation update answer that question?
Which language SDK was your question regarding?

[2022-03-07 19:50] pizzaz93 commented on #86480
#please-open

[2022-03-07 19:54] cynthn commented on #88327
#reassign @MsGabsta - reassigning from Amjad. Let me know if you are not the right person :)

[2022-03-07 19:56] AmarBadal commented on #89118
@habiba-h, Thanks for your feedback.
We will be updating the online documentation.

[2022-03-07 19:57] cynthn commented on #61583
#reassign @MsGabsta

[2022-03-07 19:58] cynthn commented on #61183
#reassign @MsGabsta

[2022-03-07 19:59] cynthn commented on #59657
#reassign @MsGabsta

[2022-03-07 19:59] rjk commented on #86480
@pizzaz93 where can I see what's changed? I don't see any change linked on this issue and a quick search on 'flush' 'shutdown'  or 'ApplicationStopping' gives me nothing on https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core or https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-monitor/app/asp-net-core.md. Maybe I'm just looking in the wrong place?

C#

[2022-03-07 19:59] cynthn commented on #67436
#reassign @MsGabsta

[2022-03-07 20:04] cynthn commented on #69434
#reassign @MsGabsta - I think this might be about the fwlink not pointing to the most recent version? Might be good to pull that link and just leave the line in about searching for the version you want?

[2022-03-07 20:04] cynthn commented on #71722
#reassign @MsGabsta

[2022-03-07 20:20] pizzaz93 commented on #86480
Hi @rjk,

The update can be seen at: https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#flushing-data

[2022-03-07 20:21] MarileeTurscak-MSFT commented on #89330
@RutgerKosters
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 20:26] Oury-MSFT commented on #89103
@m60freeman If there are no additional questions. I will go ahead and close the Git issue.

[2022-03-07 20:29] bwren commented on #83405
Apologies for the delay in getting to our backlog here, and thanks for this. We're getting this updated.

#please-close

[2022-03-07 20:29] #83405 closed

[2022-03-07 20:31] rjk commented on #86480
@pizzaz93 - looks great, thanks!

[2022-03-07 20:32] #86480 closed

[2022-03-07 20:38] m60freeman commented on #89103
Your answer seems to be the usual "it depends". But that may be all that's possible because there seem to be no guaranteed specifications for this; it's more "here's what we hope you'll get, but you might not get it at any given point of time, depending on _noisy neighbor_ issues". If that's truly the best information available, you might consider adding it to the document (because that detail isn

[2022-03-07 20:39] HeidiHasting commented on #89109
Hi, why has this been closed?

The product has default collaboration branch name 'master', the screenshot on the docs site has 'master'. The text has 'main'.

Either the documentation needs updating or thr product.

I'm OK with closing things but a comment/reason would be nice

[2022-03-07 20:53] ChaitanyaNaykodi-MSFT commented on #88938
Hello @mrdenny, this tutorial is intended to implement [URL-based routing](https://docs.microsoft.com/en-us/azure/application-gateway/url-route-overview) using PowerShell.
The document link shared above is present in 1st paragraph of this tutorial.
![image](https://user-images.githubusercontent.com/67453298/157115688-ded1ec88-5e11-4e46-a19c-0b1876d4dbb1.png)

Hope this answers your question. We wi

[2022-03-07 20:53] #88938 closed

[2022-03-07 21:20] austonli commented on #80470
Docs already state it takes several minutes to update. Product team will create task to address this issue to reduce the delay

[2022-03-07 21:21] austonli commented on #80470
#please-close

[2022-03-07 21:21] #80470 closed

[2022-03-07 21:24] roflemin opened #89370 "Need to define requirement of Defender for Servers on a custom workspace"
Hello,

We are having to field and getting negative feedback from the customers about the lack of the requirement of Defender for Servers on a custom workspace.

We have cases in relation to MDE Alert detection on a Virtual Machine in the subscription that is connected to the workspace which has both Virtual Machines from the subscription and other subscriptions. These subscription based virtual m

[2022-03-07 21:30] kobulloc-MSFT commented on #89361
@CJRicard Thank you for the feedback!  We are reviewing the document and will get back to you shortly.

[2022-03-07 21:34] itishnitsa opened #89372 "What Azure AD roles can manage custom app consent policies?"
Hi,

Can you please add information on permissions to manage these custom policies. Which Azure AD role(s) is required to manage the custom app consent policies?

Thanks,
Tanya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 819bffaf-da09-9370-762f-fe657a6cc7d0
* Version Independent ID: ec50883b-345f-db49-1127-267456733

[2022-03-07 21:34] cynthn commented on #76092
#reassign @MsGabsta

[2022-03-07 21:40] JamesTran-MSFT commented on #89372
@itishnitsa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-07 21:41] SaiKishor-MSFT commented on #89367
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-07 21:42] mike-urnun-msft commented on #81222
Thank you all for your input & feedback! @sgalles I've created a PR that updates the statement per the suggestion above.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-07 21:42] #81222 closed

[2022-03-07 21:47] SaiKishor-MSFT commented on #89343
@kaburkett Thank you for reaching out to Github regarding your questions. Information regarding this is mentioned as a Note in this document- https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance#understand-the-account-failover-process

[2022-03-07 21:51] mike-urnun-msft commented on #77103
@lechnerc77 Sorry for the late reply. The guidance in the Usage section pertaining to the `partitionKey` and `rowKey` is to **_not set_** them but you should be OK using them as Filters.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-07 21:51] #77103 closed

[2022-03-07 21:55] cynthn commented on #78865
#reassign @MsGabsta

[2022-03-07 21:57] MicrosoftGuyJFlo commented on #38048
Sounds like they resolved this for you. #please-close

[2022-03-07 21:57] #38048 closed

[2022-03-07 21:59] cynthn commented on #79129
#reassign @MsGabsta

[2022-03-07 22:00] cynthn commented on #80736
#reassign @MsGabsta

[2022-03-07 22:02] bwren commented on #85390
Apologies for the delay in getting to this and thanks for the input. Making that update.

#please-close

[2022-03-07 22:02] #85390 closed

[2022-03-07 22:02] JimacoMS4 commented on #74402
Hi @pesetskyps,

I'm going to go ahead and close this issue. Please @comment me here or open a new issue if you think further follow-up is needed. Thanks again for your question!

Best,

Jimaco

[2022-03-07 22:02] #74402 closed

[2022-03-07 22:38] micahl commented on #87117
@dgkelaidonis the command `sudo iotedge config apply` is equivalent to `sudo iotedge config apply -c '/etc/aziot/config.toml'` since the former attempts to find and use a config file at /etc/aziot/config.toml by default.  It will throw an error if it doesn't exist.

Is there a github issue or a more detailed description of the bug you encountered?  At first glance it seems unrelated to whether you

[2022-03-07 22:38] jonburchel commented on #88672
Thanks for your feedback to help us improve the docs, @algattik.  I changed this wording now and it should appear in the next publishing cycle later today.

[2022-03-07 22:46] KyferEz opened #89375 "Registration instructions could use highlighting and clarification"
At the heading "Enable access policy enforcement for the Azure Storage account" there is a paragraph which contains this statement "If the output of the last command shows RegistrationState as Registered, then your subscription is enabled for access policies. If the output is Registering, wait at least 10 minutes before retrying the command."

There are 2 issues with this:
1. This needs to be high

[2022-03-07 22:48] #88672 closed

[2022-03-07 22:49] b-hchen commented on #89314
@[Kie681](https://github.com/Kie681) - Thanks for the comment.  The English version was updated a few days ago to remove the duplicated entry.  The translated versions usually get updated a few days later by the system.  Unfortunately I have no way to manually update the translated version.

@[SumanthMarigowda](https://github.com/SumanthMarigowda) - Do you know who handles content localization and

[2022-03-07 22:49] webpwnized opened #89376 "The page does not explain or link on how to create/link ASG to the network interface"
The page does not explain or link on how to create/link ASG to the network interface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9094312b-daa3-640d-ce45-6505aeb6e276
* Version Independent ID: a9ba95c4-53bd-62b5-6c64-29ad6d9f5c94
* Content: [Azure application security groups overview](https://docs.microsoft.com/en-us

[2022-03-07 22:51] cynthn commented on #81116
#reassign @MsGabsta

[2022-03-07 22:51] jonburchel commented on #87576
Thank you @michael-vella for helping us improve the docs.  Good catch!  I updated the image now and it will appear on the next publishing cycle later today.

[2022-03-07 22:53] SaiKishor-MSFT commented on #89376
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-07 23:06] ericcsinger opened #89377 "Incorrect PowerShell example"
[Enter feedback here]
At least for PowerShell core, I think the lines

[code]

should be replaced with a single line of
[code]

When looking at this [link ](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2?view=net-6.0#methods)  it indicates that import is obsolete since the object is immutable.

---
#### Document Details

⚠ *Do not edit th

[2022-03-07 23:08] MarileeTurscak-MSFT commented on #89377
@ericcsinger
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 23:11] MarileeTurscak-MSFT commented on #89377
Thanks @ericcsinger ! It does look like the import is obsolete.

I made a pull request to update the Powershell. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190856

@sebansal could you please review this?

[2022-03-07 23:11] #89377 closed

[2022-03-07 23:18] inward-eye commented on #89375
will address, thanks for the feedback

[2022-03-07 23:25] #89228 closed

[2022-03-07 23:34] captainmike opened #89379 "Telemetry correlation for custom event or exception in JavaScript"
It is not obvious how to set the operation id of a custom event or exception to the invocation id of the context.

None of the following worked:

[code]

Please advise. Would like to see the documentation to be more comprehensive in this regard.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d

[2022-03-07 23:43] MarileeTurscak-MSFT commented on #89334
@GameModes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 23:44] MarileeTurscak-MSFT commented on #89339
@Aqueum
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 23:45] MarileeTurscak-MSFT commented on #89349
@AsiaMartini
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 23:48] #87576 closed

[2022-03-07 23:49] MarileeTurscak-MSFT commented on #89349
Thanks! I made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190865

@stevemunk please review and confirm.

[2022-03-07 23:49] #89349 closed

[2022-03-07 23:53] MarileeTurscak-MSFT commented on #89354
@jonyjesus18
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-07 23:58] MarileeTurscak-MSFT commented on #89354
Hi @jonyjesus18 ,

There is documentation [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings) for setting the -PublicNetworkAccess property to "Disabled."

To change public network access in AZ CLI, you can follow this script: https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#azure-cli-in-a-bash-shell

You can also explore the Azure

[2022-03-07 23:58] #89354 closed

[2022-03-08 00:01] MarileeTurscak-MSFT commented on #89360
@pjrcdf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-08 00:02] MarileeTurscak-MSFT commented on #89360
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190868

[2022-03-08 00:02] #89360 closed

[2022-03-08 00:05] #88070 closed

[2022-03-08 00:09] cynthn commented on #81118
#reassign @MsGabsta

[2022-03-08 00:10] cynthn commented on #81235
#reassign @MsGabsta

[2022-03-08 00:10] cynthn commented on #81283
#reassign @MsGabsta

[2022-03-08 00:12] cynthn commented on #82871
#reassign @MsGabsta

[2022-03-08 00:12] cynthn commented on #83458
#reassign @MsGabsta

[2022-03-08 00:12] cynthn commented on #84119
#reassign @MsGabsta

[2022-03-08 00:12] cynthn commented on #84867
#reassign @MsGabsta

[2022-03-08 00:13] cynthn commented on #85208
#reassign @MsGabsta

[2022-03-08 00:13] cynthn commented on #85606
#reassign @MsGabsta

[2022-03-08 00:14] cynthn commented on #86219
#reassign @MsGabsta

[2022-03-08 00:14] cynthn commented on #87897
#reassign @MsGabsta

[2022-03-08 00:34] junghyeon-ryu commented on #88070
Hello @PRMerger16, is there any reason you close this case? The document hasn't been changed, as @RohitMungi-MSFT pointed out, we need to add where/how we can get datadriftIDs in the doc. The current version demonstrates using '/datadriftID/runs/', this is totally odd. for visibility +@sdgilley , @nibaccam

[2022-03-08 00:39] georgeOsdDev opened #89383 "Question about max request body size of App Service Linux"
Is there any limitation or configuration for max request body size of App Service Linux.
It seems that request does not reach to my container, when I upload more than 2GB file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0

[2022-03-08 00:45] jonyjesus18 commented on #89354
Hi @MarileeTurscak-MSFT
Thank you for the reply.
I just checked the documentation but first link you sent is regarding server level public network access. My question was wether we can use powershell at Synapse workspace level. In the Azure Synapse module there is no such feature.
Should I open a feature request then?

[2022-03-08 00:54] kobulloc-MSFT commented on #89357
@ogrwindrider Thank you again for reaching out to us!  We are going to close this thread as resolved but if there are any questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-08 00:54] #89357 closed

[2022-03-08 00:55] kobulloc-MSFT commented on #89185
@mbiver We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-08 00:55] #89185 closed

[2022-03-08 00:59] kobulloc-MSFT commented on #89366
@ElanShudnow Thank you for your feedback.  We've assigned this to the document author for further review.

[2022-03-08 01:12] MonikaReddy-MSFT commented on #88967
@ezYakaEagle442 - We have raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/190778

Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2022-03-08 01:12] #88967 closed

[2022-03-08 01:13] MarileeTurscak-MSFT commented on #38048
@stuhad do you have the number of the support case or a summary of the resolution? I've seen a few others reporting this problem and would like to share the fix.

[2022-03-08 01:32] dlepow commented on #87629
@MayankBargali-MSFT - It sounds like this issue is more likely about the product/documentation experience in Logic Apps:

Could you please assign there as a possible product or doc issue? Thanks very much.

[2022-03-08 01:34] yang-jiayi opened #89386 "PySpark Code error: account, not account_name."
There is a mistake in the PySpark Code, it should be **_account_** instead of **_account_name_** in the fsspece argument.
https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.open

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91f1c299-9cf3-25c0-2ded-4a9d14a08938
* Version Independent ID: b948ca8c-c162-a74f

[2022-03-08 01:35] yuriwoof opened #89387 "Request for adding that it cannot be used in conjunction with storage account failover"
This feature blocks storage account failover. I can reproduce this error on my end.
Could you please add this as limitation?

1.	Deploy Storage Account v2 (RA-GRS) named “labstoragefailover” on Japan East
2.	Create container/ upload blob at “labstoragefailover”
3.	Deploy Storage Account v2 (RA-GRS) named “labblobreplicatarget“ on Japan West (target storage account of object replication)
4.	Create

[2022-03-08 01:59] paranoidashu opened #89388 "Role information missing."
[Enter feedback here]

This article does not say what role/access required to investigate risk and risky users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5779b726-83b3-3242-297a-17410b372ab5
* Version Independent ID: ff902d75-e5b4-25db-4d31-80d28808efff
* Content: [Investigate risk Azure Active Directory Identity P

[2022-03-08 02:18] SatishBoddu-MSFT commented on #89365
Hello @omar-nav Thanks for the query!

Please don't be confused with TLS vs Device Authentication\Provisioning concepts!
Internet connection between the IoT device and IoT Hub is secured using the Transport Layer Security (TLS) standard.

**After a successful TLS handshake**, IoT Hub can authenticate a device using a symmetric key or an **X.509 certificate**(this is what you are currently reading

[2022-03-08 02:43] CHEEKATLAPRADEEP-MSFT commented on #89386
@yang-jiayi  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-08 02:55] WenJason commented on #89135
Hi, is there any update?

[2022-03-08 02:57] DaveWut commented on #88925
Hello @VanMSFT. It works now, thanks! :)

[2022-03-08 02:57] #88925 closed

[2022-03-08 03:24] inward-eye commented on #89375
@CHEEKATLAPRADEEP-MSFT this has been addressed and can be closed

[2022-03-08 03:27] inward-eye commented on #89375
#assign @CHEEKATLAPRADEEP-MSFT

[2022-03-08 03:43] mike-urnun-msft commented on #88960
Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-08 03:43] #88960 closed

[2022-03-08 03:46] SumanthMarigowda commented on #89041
@ Firstly apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2022-03-08 03:46] #89041 closed

[2022-03-08 03:49] SumanthMarigowda commented on #89029
@eddylin-ms The PR has be initiated, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 03:49] #89029 closed

[2022-03-08 03:49] SumanthMarigowda commented on #89110
@camalloy Firstly apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-08 04:03] SnehaAgrawal-MSFT commented on #89002
@eosho We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2022-03-08 04:03] #89002 closed

[2022-03-08 04:24] AnuragSharma-MSFT commented on #89188
@danieldespainTLS Awaiting your response on this.

[2022-03-08 04:26] CHEEKATLAPRADEEP-MSFT commented on #89375
@inward-eye Thanks for the confirmation.

@KyferEz  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 04:26] #89375 closed

[2022-03-08 04:34] vipulsparsh commented on #89096
@hctrr Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-03-08 04:36] vipulsparsh commented on #89158
@danmyhre Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-03-08 04:37] RohitMungi-MSFT commented on #88940
@bensir4u We hope the above suggestions helped to get the service running. We will now proceed to close this thread.

[2022-03-08 04:37] #88940 closed

[2022-03-08 04:55] Yunus-MSFT opened #89392 "Application Gateway autoscaling parameters"
[ I understand autoscaling in V2 is performed based on below parameters, it will be helpful for customers to understand what parameters are included/when will App gw autoscale in the document:
{
        "Name": "CpuUtilization",
        "Name": "Throughput",
        "Name": "CurrentConnections",
        "Name": "HostUtilization",
}]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-03-08 05:01] kromerm commented on #87608
#please-close

[2022-03-08 05:01] #87608 closed

[2022-03-08 05:01] amanmcse commented on #89370
@roflemin Thank you for your feedback. We will investigate and update the thread further.

[2022-03-08 05:01] kromerm commented on #87405
#please-close

[2022-03-08 05:01] #87405 closed

[2022-03-08 05:40] SreejaBhattacharya-MSFT commented on #89320
Hi @enihcam , thanks for reaching out. Expected network bandwidth means the maximum network throughput limit. If you used some benchmarking tool to test the network bandwidth/throughput between the two VMs, that is, D2ds_v4 and F2s_v2, then you will get the lower throughput for the VM that has the lower expected network bandwidth.
To test the throughput, you must use both VMs of same size.
Please

[2022-03-08 05:40] #89320 closed

[2022-03-08 05:41] SreejaBhattacharya-MSFT commented on #89320
Also, the network bandwidth allocated to each virtual machine is metered on egress (outbound) traffic from the virtual machine. All network traffic leaving the virtual machine is counted toward the allocated limit, regardless of destination. For example, if a virtual machine has a 1,000 Mbps limit, that limit applies whether the outbound traffic is destined for another virtual machine in the same

[2022-03-08 05:47] shashishailaj commented on #89388
@paranoidashu Thank you for your feedback . We will investigate and update the thread.

[2022-03-08 06:01] wentingd opened #89393 "Locale switcher does not work properly (for all pages on Docs)"
[Enter feedback here]

Locale switcher on the bottom does not redirect correctly.
(applies to all pages under https://docs.microsoft.com/)

To reproduce:
Click on "日本語" (Japanese) on the local switcher at bottom of the reported page
(Or alternatively use any other language / any other pages)

Current:
We get redirected to: https://docs.microsoft.com/target=https://docs.microsoft.com/en-us/azure/ap

[2022-03-08 06:18] VikasPullagura-MSFT commented on #87633
@vikancha-MSFT Thanks for sharing the details.

@LeonSpark
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-08 06:18] #87633 closed

[2022-03-08 06:20] shashishailaj commented on #89091
@bruceburge We have updated the document . The changes should show up in the next update.

[2022-03-08 06:20] #89091 closed

[2022-03-08 06:23] SatishBoddu-MSFT commented on #89179
Hello @fmerinop thanks for the feedback on the section!

As of now the status code 417 -- is normal, and means that the device is ready to receive a [module deployment](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-vscode?view=iotedge-2020-11). Which is the next in the tutorial\documentation section. I have taken this feedback and added it to my backlog to discuss with SMEs

[2022-03-08 06:25] shashishailaj commented on #89235
@sheigel The team is checking the details on this document and will update once we have found the changes needed to be done.

[2022-03-08 06:31] kathleenlgo opened #89394 "Support for Teams desktop application"
Under Known Issues, it says "Except for Teams, SMS-based authentication isn't compatible with native Office applications."

However, in this related article, it says that Microsoft Teams desktop application is not yet supported: https://docs.microsoft.com/en-us/azure/active-directory/authentication/how-to-authentication-sms-supported-apps.

May I clarify please whether or not the SMS-based authent

[2022-03-08 06:44] stuhad commented on #38048
TrackingID#2202100030000571

Product: Azure/Azure Active Directory User Provisioning and Synchronization/Syncing from AD to AAD/Problem affecting a single user.

Resolution:
"I got an update from the product group[ stating they have cleared the on premises attribute which was causing the issue. please follow the steps below and let me know if it helps to resolve the issue.

Run dsregcmd/Leave
then

[2022-03-08 06:45] SatishBoddu-MSFT commented on #89107
Hello @dehoward We have submitted a PR to fix the document title, thanks a lot for the feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 06:45] #89107 closed

[2022-03-08 06:59] GitaraniSharma-MSFT commented on #89392
@Yunus-MSFT , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@mscatyao , could we include autoscale parameters considered by App GW and when/how Appgw autoscales?

[2022-03-08 06:59] lechnerc77 commented on #77103
Shouldn't there then be an adjustment of the documentation that you can use them as filter?
Currently it sounds like they are forbidden which does not seem to be the case, if I understand you correctly

[2022-03-08 07:02] v-hakob commented on #88327
Hi, I got the internal doc with the instruction. Basically if there is the existing agent, it needs to be uninstalled. It might be helpful if this doc has the instruction. If you would like me to to post the link which requires sign-in , please let me know.

Because I got the info, I am ok to close the case. Thank you for the help.

[2022-03-08 07:15] rboucher commented on #89230
Hi @SeanGraySage . Looks like the descriptions are at https://docs.microsoft.com/en-us/azure/azure-functions/monitor-metrics?tabs=portal#functions-specific-metrics , but we need to get them back into the backend system so they appear in this article.  Thanks for the heads up.

[2022-03-08 07:20] rboucher commented on #89230
Let me know if this doesn't answer your question @SeanGraySage. I plan to close this issue in a few days if we don't hear from you.  Ok?

[2022-03-08 07:20] rboucher commented on #89230
#reassign:@rboucher

[2022-03-08 07:25] SreejaBhattacharya-MSFT commented on #89294
Hello @msmbaldwin , could you please evaluate this document update request and update it as required.

[2022-03-08 07:30] rboucher commented on #87211
Fixing via internal PR. https://github.com/MicrosoftDocs/azure-docs-pr/pull/190896/

[2022-03-08 07:37] rboucher commented on #87211
@johnjgonzalez . Please me know if the information above answers your question. I intend to close this issue in a few days if I don't hear from you.  Thanks!

[2022-03-08 07:42] JamesTran-MSFT opened #89395 "Add a note for limit increases"
Add a note that customers should reach out to our support team for limit increases over the specified limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc36e54-cd9b-e581-34e4-952eff4936ec
* Version Independent ID: 8634c912-91c9-dfd6-96fb-786fa164f475
* Content: [Azure AD B2C service limits and restrictions - Azur

[2022-03-08 07:50] JamesTran-MSFT commented on #89395
@JamesTran-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-08 08:10] bartlannoeye opened #89397 "EventGrid host.json settings as migration path from blobtrigger"
A common scenario for Event Grid is to replace a Blob storage trigger with multpiple benefits (lower delays, no need for polling, ...). It also allows for event filtering or even react based on event and filename in your Azure Function instead of already binding the stream.

Blob storage trigger however has one setting that I'm currently missing for Event Grid, is this on the roadmap for Event Gri

[2022-03-08 08:20] #89160 closed

[2022-03-08 09:17] ram-msft commented on #89223
@eric-urban Could you please update the [code](url) the 2nd example.

https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cbrowserjs%2Cwindowsinstall&pivots=programming-language-go#text-to-speech-to-in-memory-stream

[2022-03-08 09:30] CHEEKATLAPRADEEP-MSFT commented on #89386
@yang-jiayi I had tested the PySpark code mentioned in the document and it works as excepted.

![image](https://user-images.githubusercontent.com/79183421/157208216-bf7081f5-2d3a-43f4-8509-251d0590889c.png)

[2022-03-08 09:33] VikasPullagura-MSFT commented on #88221
@ddanboyle Thanks for reporting this.
We have updated the document and changes will go live soon.

[2022-03-08 09:43] SnehaAgrawal-MSFT commented on #89049
@RichardAtFirstImpression Since we have not heard back from you we will now proceed to close this thread.
If there are further query regarding this matter, please let me know.

[2022-03-08 09:43] #89049 closed

[2022-03-08 09:44] leppie commented on #88176
Not sure why this was closed as the link was never fixed...

[2022-03-08 09:46] SnehaAgrawal-MSFT commented on #88994
@yehudamakarov Thanks for reply! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-03-08 09:49] Rmh-Tech opened #89400 "Missing instructions on how to apply rules"
This page is very detailed in how to create FW rules, but there are no instructions or links to instructions which show users how to apply the rules to their wafV2 App Gateways.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc64fc
* Version Independent ID: 4c03470f-1e5e-62d1-fbf2-4386e371

[2022-03-08 09:52] dominicbetts commented on #89170
Hi @AlanPintor-git - it looks like you're running the **FileUploadSample** instead of the **TemperatureController** sample. I'll get a note added to the tutorial to point out that you may need to set **TemperatureController** as the Start Up project in the solution.

Step 2 of the prerequisites already contains a link to an article that shows you how to create an IoT Central app.

The "Run the cod

[2022-03-08 10:05] bhavana-129 commented on #88332
@adrian-nae Could you please respond to the @v-hagamp comment?

[2022-03-08 10:06] Krummelz commented on #77831
@MayankBargali-MSFT I think you misunderstood. The API you mentioned is only useful for adjusting the same settings that we can already adjust via the Azure Portal. The UI appears to match exactly what your API allows us to set. The settings are the same.

The problem is that a consumer _**should**_ be redirected to the delegation endpoint as per your [documentation](https://docs.microsoft.com/en-

[2022-03-08 10:15] bhavana-129 commented on #88217
@dustinhess Have you done with the changes in the article? If yes, please share the PR link here.

[2022-03-08 10:15] Krummelz commented on #77831
Just found this - [https://github.com/Azure/api-management-developer-portal/issues/1479](https://github.com/Azure/api-management-developer-portal/issues/1479)

[2022-03-08 10:27] shashishailaj commented on #89394
@kathleenlgo Thank you for your feedback . We will investigate and update the thread.

[2022-03-08 10:29] oneAnuragByte opened #89401 "Extension bundle table points to 3.4.0 (unreleased version of extension bundle)"
The Extension Bundle table available [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles) points to version 3.4.0 of `extensions.json`. However, the latest 3.X version of extension bundle released is 3.3.0 based on the release link here: [Releases · Azure/azure-functions-extension-bundles (github.com)](https://github.com/Azure/azure-functions

[2022-03-08 10:36] spustlik opened #89402 "Missing in-browser scenario"
Some links (for example from
https://github.com/microsoft/cognitive-services-speech-sdk-js [Quick tutorial - Browser](https://docs.microsoft.com/azure/cognitive-services/speech-service/quickstart-js-browser)) with in-browser scenario are going here, but no in-browse rscenario is provided here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-03-08 10:39] #89401 closed

[2022-03-08 10:46] GitaraniSharma-MSFT commented on #89400
@Rmh-Tech , thank you for your feedback. At the beginning of [this doc](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/create-custom-waf-rules), there is a link - To learn how to deploy a WAF with a custom rule using Azure PowerShell. see [Configure Web Application Firewall custom rules using Azure PowerShell](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/c