[2020-03-19 18:56] swjain23 commented on #50319
@beelesnik - I replied to your email.

[2020-03-19 18:58] MashaMSFT commented on #50504
Hi @JohnDelisle , thanks for bringing this to our attention! Let me look into this :)

Thanks!
Masha from the SQL Docs team

[2020-03-19 19:11] asudbring commented on #50462
Fixed
https://github.com/MicrosoftDocs/azure-docs-pr/pull/108360
#please-close

[2020-03-19 19:11] #50462 closed

[2020-03-19 19:27] mamccrea commented on #49567
Hi @adetayorabiu - 600 is the number of active tokens allowed for a user and NOT the lifetime. I will update the doc to make that more clear.

#please-close

[2020-03-19 19:27] #49567 closed

[2020-03-19 19:41] loftyet commented on #50074
Just want to update that Linked Service is not necessary in WebActivity. The reason I had the error is that My CopyActivity has used a Self-hosted Integration Runtime, and my WebActivity has been set to depend on the dataset of the sink of CopyActivity. This setup causes error. Once I removed my WebActivity dependent on dataset, the problem solved and no error.

[2020-03-19 19:44] ckcampbell248 commented on #49171
Adding on that I would like to see examples for mapping devices...for example a USB camera.

[2020-03-19 19:46] MarileeTurscak-MSFT commented on #50398
Thanks @jurajgh !

I'm closing this out since it is continuing over a support case. The other engineer on my team also was not able to reproduce this but has reached out to the AAD team and will write back when he hears from them. If we confirm an outage or workaround I will post it on this thread.

[2020-03-19 19:46] #50398 closed

[2020-03-19 19:50] himanshusinha-msft commented on #50397
@vlado101 : We are engaging the internal team to get more help on this . As per the internal team , can you please see when you try to add manually fill in the primary index column name does that work ?

[2020-03-19 19:51] mamccrea commented on #47752
@dcbrown16 @CharmanderJieniJieni @JamesDLD @kazshi

I apologize for the delay! Here's a recent blog article on using Private Link and VNet endpoints - https://databricks.com/blog/2020/02/28/securely-accessing-azure-data-sources-from-azure-databricks.html

You can use Private Link to connect to your managed Azure Data Services in your subscription.

You can’t use Private Link to connect to Blob, SQ

[2020-03-19 19:53] mamccrea commented on #50403
Hi @phetzel1 - thanks for the feedback! Here's a blog article on how to connect securely: https://databricks.com/blog/2020/02/28/securely-accessing-azure-data-sources-from-azure-databricks.html

It includes configurations for private link and secure endpoints for ADLS Gen2

[2020-03-19 19:55] WSGomes11 opened #50516 "api.idpslections"
Is there a list of localization string IDs for api.idpselections? or, if I'm doing wrong, what I need to do to translate de IDP selecions? I create LocalizedResource strings for API.idpselections, but some stringID's like the buttons are not recognized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 986c1f85-07c7-ec91-

[2020-03-19 19:57] djpmsft commented on #50074
@loftyet That is exactly the issue and we have an open item to track an improvement on the error message.

As a workaround has been found and a repair item is being tracked on the MSFT side, I will proceed to close this issue. Feel free to continue asking questions.

#please-close

[2020-03-19 19:57] #50074 closed

[2020-03-19 19:57] jcbrooks92 commented on #42947
@gakovoi what SKU (consumption or dedicated) and what OS (windows or Linux) is your client using?

[2020-03-19 19:57] rolyon commented on #50264
Hi @HughDevlin
Thanks for the feedback. I'm not sure how to change the wording here. Each type is described in more detail in the bulleted list. Can you suggest an alternative?
thanks

[2020-03-19 20:11] lokijota opened #50517 "Text missing in the first sentence"
It reads:

"Use the select transformation to rename, drop, or reorder columns. This transformation doesn't alter row data, but chooses which columns are propagated downstream. This process is called

In a select transformation, [...]"

This process is called what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dddc6c4

[2020-03-19 20:23] craig-martin opened #50518 "Consider updating to reflect that Windows Server can be AAD joined"
Based on this:
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97-4f816a2b696c
* Content: [What is device identity in Azure Active Director

[2020-03-19 20:23] FlavioDiasPs opened #50519 "Missing documentation"
It is missing DurableFunctions examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-e

[2020-03-19 20:30] TjommeVergauwen opened #50520 "Double flattening does not work"
Hi,

When using a JSON input file with 2 levels, I try to use the new Flatten functionality twice.
Unfortunately this does not work properly:
or he incorrecly detects the sublevels as being an array instead of the proper data type
or he fails with user input error when trying to execute
or he complaints that a mapping is not filled in, while it is. Reselecting the mappings does make this issue go

[2020-03-19 20:32] TravisCragg-MSFT commented on #50468
@jinzejian The connections from the Hub VNET and Spoke VNETs that bypass the NVA Vnet are there for routing scenarios where passing through the NVA is not needed.

Please let me know if you have any additional questions

@cherylmc Are there any reasons you can add?

[2020-03-19 20:41] JLambEJG opened #50521 "user.accountEnabled -eq true = Dynamic membership rule validation error: Invalid object type."
Using your example for including only enabled users, I get this error: "Failed to save dynamic group. Dynamic membership rule validation error: Invalid object type.". This is the query with the error: (user.accountEnabled -eq true)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a360d153-0892-fd9f-83e5-a4128fbfb557
* Ve

[2020-03-19 20:49] yashesvi commented on #15826
How to give permissions at scale using PS:

**Get list of all reservation orders that you have access to**
Doc: https://docs.microsoft.com/en-us/powershell/module/az.reservations/get-azreservationorder?view=azps-3.6.1

**Execute New-AzureRmRoleAssignment to provide access to individual reservation orders**
Doc: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-power

[2020-03-19 20:52] dc995 opened #50523 "Broken links for c, Java, python - 404 on Github"
C: iotedge_downstream_device_sample
Java: SendEventX509.java
Python: send_message_x509.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3512ec24-1146-0dc8-4529-80d4770e1ec2
* Version Independent ID: 8abd57ee-a785-4d47-c0e5-6ac713367279
* Content: [Authenticate downstream devices - Azure IoT Edge](https://docs.microsof

[2020-03-19 20:52] nelsonpv commented on #46511
@msrini-MSFT

[2020-03-19 20:52] TravisCragg-MSFT commented on #50487
@kikawash Thanks for the feedback! This limit is [discussed further in this update](https://azure.microsoft.com/en-us/updates/nsg-flow-logs-retention-restored/).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-19 20:53] saikiran-karumuri-jdas opened #50524 "Java V12 SDK is giving time out issue while reading the blob file from storage"
[What i`m trying is: I wrote a java code using V12 SDK (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java) to download the blob file from storage and i`m using that code inside Azure function and calling the function. If run the java code outside of Azure function its working perfectly fine. But if i ran by keeping inside the function, its failing with waited for s

[2020-03-19 20:53] TravisCragg-MSFT commented on #50488
@kikawash Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-19 21:00] femsulu commented on #50472
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-19 21:01] softchris opened #50525 "Add Secret Manager - please add this one liner to make it easier"
Now: you are pointing the user to a Secret Management intro article away from the tutorial. All they really need to know is `dotnet user-secrets init` and`UserSecretsId ` is populated. Please make this change.. It's easier if everything is in one article rather than having to go to another article and then come back

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-03-19 21:03] softchris opened #50526 "Can't run on `netcoreapp3.1` - crashes when running"
I'm following all the instructions for 3.1 and it ends up producing a runtime error when doing `dotnet run`,
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart for Azure App Configuration with A

[2020-03-19 21:03] femsulu commented on #50474
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-19 21:05] axisc commented on #49729
Here is the documentation on throttling.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-throttling

Yes, your summary is right but it depends on resources allocated to Premium namespace and what your throughput requirements are.

[2020-03-19 21:12] femsulu commented on #50479
re-opening thread to add triage labels.

[2020-03-19 21:13] #50479 closed

[2020-03-19 21:13] MicrosoftGuyJFlo commented on #49566
This is due to the design of the OS. Windows passes this information silently but other vendors have not implemented this functionality. When a policy is evaluating for device health, compliance, and some MCAS functionality this can be triggered.

[2020-03-19 21:17] NavtejSaini-MSFT commented on #50470
@alsastre Please confirm what version of PowerShell you are using.This looks like an issue with Powershell rather than Azure AD. If you can run the command - $PSVersionTable and provide result as well.

[2020-03-19 21:18] MartinJaffer-MSFT commented on #50382
I have updated the document pending pull request 108379.

[2020-03-19 21:18] #50382 closed

[2020-03-19 21:19] CeciAc opened #50527 "Document how private link uses redirect/proxy"
@ecki commented on [Thu Mar 19 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/633)

If I use a Database Service with private link, will it always proxy to my database or is it using the redirect method. What's the performance implication.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforde

[2020-03-19 21:29] femsulu commented on #50482
Hi @Hari1667 , Happy to help! Mind sharing the link to the Azure Data factory documentation you are refrencing? Looking fwd to your response.

[2020-03-19 21:30] TravisCragg-MSFT commented on #50491
@ElanShudnow Thanks for the feedback. I have confirmed that these are incorrect, the proper permissions for an NSG rule is "Microsoft.Network/networkSecurityGroups/securityRules/write

[2020-03-19 21:32] scootafire opened #50528 "Microsoft Azure Active Directory single sign-on for Confluence and JIRA not taking Azure configs when MEtadata URL updated"
We have  been using this Plugin for a few years now successfully.  We had to change the Metadata URL  yesterday.  When hitting resolve it is not picking up the changes and or updating the new identifier.  This is causing SSO option to not work.
I uninstalled and reinstalled and same behavior.  Do I need to reboot Confluence server to clear some cache or setting that is impeding?
We had to disable

[2020-03-19 21:38] TravisCragg-MSFT commented on #50508
@aruwo17 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-19 21:38] KenBrady commented on #49916
I did reply by email, but did not realize that that I had to utilize this forum.  Also please understand that I am working on this part-time, and may be slow to reply.  My original response follows.  Thank you!
===================================================
Thank you for replying.

All prerequisites are fulfilled.

I don't know where to find "/LogFiles".  I've searched all Docker-related fold

[2020-03-19 21:54] CeciAc opened #50529 "Many errors on the page, making it really hard and time consuming to fix an unbootable VM"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/634

@mimergel commented 44 minutes ago — with docs.microsoft.com
Hi, Please correct/improve the documentation. Thanks, Michael

wrong:
$snapshotId=(az snapshot show --name $snapshot --resource-group $resourceGroup --query [id] -o tsv)
correct:
$snapshotId=(az snapshot show --name $snapshot --resource-group $

[2020-03-19 21:56] will-smothers opened #50530 "Need a version that works with Windows 10 Kiosk Mode"
Currently there is no way to select the Windows Virtual Desktop client to be used with Windows 10 kiosk mode. I have tried both the wizard and the Powershell ways of setting it up and neither way "sees" the WVD client as a valid app that can be used. Would like to use with Windows 10 Enterprise LTSC in Kiosk mode on a thin client so they can log in and work securely.

[2020-03-19 21:59] softchris commented on #50526
I found out why this happens. I didn't have the double quotes surrounding the conn string value
[code]
should have been

[code]

When I was following this tutorial https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core?tabs=core3x and did a similar mistake I got an error that said `Id` missing which gave me a hint that something was wrong with how the Co

[2020-03-19 22:06] softchris opened #50533 "Add Secret Manager - please show UserSecretsId assignment"
It's so much easier if you just add `dotnet user-secrets init` as instruction instead of pointing the user to another doc on how to do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Version Independent ID: ba2bfca5-06a9-abc8-77f2-fbcb0dcb74c3
* Content: [Quickstart for adding

[2020-03-19 22:06] MashaMSFT commented on #50344
Hi @mleneveut, thanks for your feedback! I have added a sentence explaining that failvoer groups are an abstraction layer, and also added a note that failover groups are configured at the server level. These changes should be live tomorrow.

I am going to close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our documentation!
Masha

[2020-03-19 22:06] #50344 closed

[2020-03-19 22:09] alsastre commented on #50470
Output:
[code]

[2020-03-19 22:10] softchris opened #50534 "Please add instruction on how to obtain Connection String"
Currently:
This secret contains the connection string to access your App Configuration store. Replace the &lt;your_connection_string&gt; value in the following command with the connection string for your App Configuration store.

Suggest:
Go to Azure resource / Access Keys / Primary Key and make a note of the Connection string value. You will use it later and set this as a secret.

---
#### Docume

[2020-03-19 22:14] cagrimunyas opened #50535 "wrong documentation"
In the sample code it's written as speechsdk.AudioOutputConfig however it is supposed to be speechsdk.audio.AudioOutputConfig as referenced here : https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.audio.audiooutputconfig?view=azure-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-03-19 22:27] femsulu commented on #50516
Hi @WSGomes11, happy to help! Mind sharing the link to the Azure AD documentation you are referencing?
Looking forward to your response.

Cheers.

[2020-03-19 22:29] WSGomes11 commented on #50516
Sure!
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids

[2020-03-19 22:34] rogeraustin commented on #31160
@flobeier The correct answer appears to be  [Move Azure VMs between Azure Government and Public regions](https://docs.microsoft.com/en-us/azure/site-recovery/region-move-cross-geos) which also applies to cross-cluster moves.

[2020-03-19 22:34] MarileeTurscak-MSFT commented on #50518
Thanks @craig-martin

I have passed your feedback along.

[2020-03-19 22:36] NTDS commented on #38672
When the phone number is used, is it a human making that call from MSRC or is it an automated system?  If the phone number requires options to be pressed, asking this question to understand whether a 24 hour helpdesk number with options can be used or if an automated system is used.

[2020-03-19 22:38] kylecweeks opened #50536 "NTLM needed for enterprise AD authentication on Windows"
I ran into an issue where users in the protected users security group were not able to connect as NTLM is disabled for such a user. https://docs.microsoft.com/en-us/windows-server/security/credentials-protection-and-management/protected-users-security-group

Can you please verify, and update the documentation to reflect that RDP connections by IP address require NTLM authentication if using enterp

[2020-03-19 22:39] ripom commented on #41184
Since this week, I have the same issue with Standard_LRS

[2020-03-19 22:45] SaurabhSharma-MSFT commented on #50336
@yelevin can you please help adding documentation or relevant links if available ?

[2020-03-19 22:46] rolyon commented on #50267
Hi @HughDevlin
This update has been published:
https://docs.microsoft.com/en-us/azure/role-based-access-control/overview
thanks

[2020-03-19 22:46] rolyon commented on #50267
#please-close

[2020-03-19 22:46] #50267 closed

[2020-03-19 22:50] KenBrady opened #50537 ""Run the Application" - "dotnet ef database update" fails"
The command "dotnet ef database update" fails with the messages show below.  I can skip the step and run the app, but when I try to open localhost:5000 I get the error "Microsoft.Data.Sqlite.SqliteException (0x80004005): SQLite Error 1: 'no such table: Todo'."

I'm running dotnet version 3.1.101.  The dotnet help shows no commands ef, database, or update.

===================================
dotne

[2020-03-19 23:22] cconrado opened #50538 "Folder Path Value is Incorrect"
The folder path isnt "/Runbooks" its "/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/source-control-integra

[2020-03-19 23:24] KranthiPakala-MSFT commented on #50517
@lokijota Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-19 23:24] kobulloc-MSFT commented on #50493
@softchris Thank you for the feedback!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:25] kobulloc-MSFT commented on #50494
@softchris Thank you for the feedback!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:26] kobulloc-MSFT commented on #50525
@softchris Thank you for the feedback!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:27] kobulloc-MSFT commented on #50526
@softchris Thank you for bringing this to our attention!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:27] KranthiPakala-MSFT commented on #50520
@TjommeVergauwen Thanks for bringing this to our attention. Could you please share some sample that way we could reproduce the scenario.

Thanks.

[2020-03-19 23:28] kobulloc-MSFT commented on #50533
@softchris Thank you for the feedback!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:28] kobulloc-MSFT commented on #50534
@softchris Thank you for the feedback!  We are going to assign this to the document author so they can review the documentation.

[2020-03-19 23:31] gaikovoi commented on #42947
@jcbrooks92 Windows on the Consumption plan

[2020-03-19 23:34] NavtejSaini-MSFT commented on #50389
@RFlintstone Yes you are correct but the error is in the document only. The App.js being closed by git is already correct.
![Capture1](https://user-images.githubusercontent.com/52257742/77124121-684f2c80-6a18-11ea-9e48-9ce79a329457.JPG)
And we ran the same and it worked.
![Capture](https://user-images.githubusercontent.com/52257742/77124137-713ffe00-6a18-11ea-9474-f639484b8e06.JPG)

We have edited

[2020-03-19 23:36] edburns opened #50539 "Try to improve readability of "Link templates for deployment""
Consider https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates . This is a terribly important topic, that is rather difficult to clearly describe.  As such, every little bit of readability helps.  This issue corresponds to a feature branch in my fork.  I'll issue a PR presently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-19 23:42] anavinahar commented on #48284
#please-close

Please provide translation so we can best help. Since this is an image we can't plug it into translation engines.

[2020-03-19 23:42] #48284 closed

[2020-03-19 23:47] anavinahar commented on #38055
This has been fixed.

#please-close

[2020-03-19 23:47] #38055 closed

[2020-03-19 23:48] vpandher commented on #16336
Is there any update on this? I am sending FormData(Image Files) from my web application to my Java Azure Function. How can I read in those Files from the FormData Object in my java code ?

I would then like to upload these Image files to my Blob Storage..

Any help would be greatly appreciated!!

[2020-03-19 23:54] anavinahar commented on #47227
That is correct, once ports are exhausted from the first IP, only then we move to the next IP as needed based on connections.

[2020-03-19 23:57] jcbrooks92 commented on #42947
Due to the nature of how consumption works the outbound IPs are not dedicated as they are in a Dedicated App service or an ASE. The only option to guarantee a consumption based function would always be able to talk to the Key Vault overtime would be to use datacenter IP range mentioned here. Unfortunately there is not a better solution right now for consumption.

https://docs.microsoft.com/en-us/a

[2020-03-19 23:57] MarileeTurscak-MSFT commented on #50253
I agree that it could be clearer and is not currently documented. We need to be able to isolate duplicate accounts. I've assigned this to the content author to update.

[2020-03-20 00:00] MarileeTurscak-MSFT commented on #50451
Hope this helps! I've passed your feedback along to the author, @msimart, as well. If you add a request in User Voice it will get triaged by the product team into their work list.

[2020-03-20 00:00] #50451 closed

[2020-03-20 00:18] davidonelson opened #50541 "UserErrorBcmDatasourceNotPresent error not documented"
I got their error during a VM restore and I can't find any documentation on it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f030558-66a5-d963-54a2-3f71643c5ef0
* Version Independent ID: 2cdf6775-5ee9-83b6-3a1b-b87a682c1b1c
* Content: [Troubleshoot backup errors with Azure VMs - Azure Backup](https://docs.microsoft.c

[2020-03-20 00:27] Karishma-Tiwari-MSFT commented on #50444
There is another thread on the same issue: https://github.com/MicrosoftDocs/azure-docs/issues/50180
It looks like CLI issue and has been reported to CLI team here: https://github.com/Azure/azure-cli/issues/12594

[2020-03-20 00:30] Karishma-Tiwari-MSFT commented on #50415
Is there any update?

[2020-03-20 00:31] markjbrown commented on #50152
@Mike-Ubezzi-MSFT I will comment on your PR for language to update this.

thanks

[2020-03-20 00:34] irenehua commented on #50508
Fix has been checked in.

[2020-03-20 00:35] Karishma-Tiwari-MSFT commented on #50495
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 00:35] davidsmatlak commented on #50484
I submitted the fix for this issue and when it merges, this issue will automatically close. The updated document will be online within 24 hours.

[2020-03-20 00:37] Jlouden9 opened #50542 "OpenVPN"
Hi,

There appears to be conflicting information. In this page it mentioned that only IKEv2 and SSTP are supported protocol's. However on https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about it references OpenVPN as well. I'm assuming this page is just missing OpenVPN references, if that is true could the page be updated to reflect the capability of OpenVPN for routing within Azu

[2020-03-20 00:37] Karishma-Tiwari-MSFT commented on #50496
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 00:38] anavinahar commented on #50508
#please-close

[2020-03-20 00:38] #50508 closed

[2020-03-20 00:40] Karishma-Tiwari-MSFT commented on #50504
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 00:42] cynthn commented on #49609
@Karishma-Tiwari-MSFT FYI - this issue was about the use of 'grep' instead of --query in the CLI examples. I don't think that has been done yet, but I can add this in when we do an upcoming update to the Image Builder docs.

[2020-03-20 00:43] TravisCragg-MSFT commented on #50536
@kylecweeks Thanks for the feedback! If this is a blocking issue, your best bet will be to go through support for confirmation.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-20 00:45] cynthn commented on #37579
There is now a PowerShell version here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-gallery and more\updated PowerShell and CLI docs should be coming out in the next few weeks as well. You can also check out drafts of this work here: https://github.com/danielsollondon/azvmimagebuilder

#please-close

[2020-03-20 00:45] #37579 closed

[2020-03-20 00:46] Karishma-Tiwari-MSFT commented on #50510
@WillemVerwijs You can access Windows Virtual Desktop resources from your macOS devices with our downloadable client. This guide will tell you how to set up the client.

https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-macos
https://docs.microsoft.com/nl-nl/azure/virtual-desktop/connect-macos

[2020-03-20 00:51] Karishma-Tiwari-MSFT commented on #50529
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 00:54] Karishma-Tiwari-MSFT commented on #50498
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-20 00:56] Karishma-Tiwari-MSFT commented on #50515
@ritazh Can you please help confirm on this one? Thanks :)

[2020-03-20 00:59] crpietschmann commented on #50451
Thanks! I was able to get some other help to get my app working. This article shows pretty much what we did there. It would be great if there was more documentation for Azure DB B2C that explained this stuff better. Searching was impossible to find what's needed, and it was especially hard since it's different in .NET Core 3.1 versus 2.x and there's a lot of 2.x related articles out there.

[2020-03-20 01:09] YutongTie-MSFT commented on #50489
@rnielikki Hi, which version does not work for you? Thanks.

[2020-03-20 01:20] YutongTie-MSFT commented on #50481
@ShanmugaSP
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 01:26] YutongTie-MSFT commented on #50535
@cagrimunyas
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-20 01:27] Ayanmullick commented on #49621
ok. Thanks for confirming.

[2020-03-20 01:27] #49621 closed

[2020-03-20 01:29] willshi commented on #50459
@SubhashVasarapu-MSFT the same issue for us, please fix ASAP.

[2020-03-20 01:32] gaikovoi commented on #42947
In my environment, it is enough to allow outbound + inbound IPs of the function app on the KV to make the whole setup works. I didn't digg enough, but I know that if I do not allow _inbound_ IP, the function runtime will be unable to load app configuration settings from KV (see link to docs in my original post). BTW, I'v checked function app on standard plan - it has inbound IP in the outbound lis

[2020-03-20 01:46] calethix commented on #37490
Did you ever get an answer to this?  I have assigned a user contributor access, which says "Lets you manage everything except access to resources", to a virtual machine.  However, attempting to reset the password for the virtual machine fails.

[2020-03-20 02:15] neeleshray-msft commented on #50521
@JLambEJG Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-20 02:22] dotnetgator opened #50543 "Can the Metadata and InputClaims please be explained a little better?"
In the Starter Pack login-NonInteractive policy, there are several entries across the Metadata and InputClaims that don't seem to able to be rationalized based on the documentation above. These include:
* The Metadata includes a scope declaration of "email openid", but the input claims contain a scope entry with just "openid" (and if you trap the request, it appears that maybe the input claims ent

[2020-03-20 02:27] mitchellgarner commented on #41184
Hi there, having a similar issue on my end.  Have completed all the prerequisites, AAD DS has been in use for a while, however we are also using a private endpoint for the given share.

Using the private endpoint we can mount using the secret key, however when attempting to mount as a signed in AAD DS user (in this case my AAD DC Admin account) it fails to mount, saying my password is incorrect an

[2020-03-20 02:39] #50484 closed

[2020-03-20 02:50] benpeterswake opened #50544 "NewsAnswer struct is incorrect..."
// This struct formats the answer provided by the Bing News Search API.
type NewsAnswer struct {
    ReadLink       string `json: "readLink"`
    QueryContext   struct {
        OriginalQuery   string   `json: "originalQuery"`
		AdultIntent     bool        `json: "adultIntent"`
	} `json: "queryContext"`
	TotalEstimatedMatches   int  `json: totalEstimatedMatches"`
	Sort  []struct {
	    Name    str

[2020-03-20 02:53] SnehaAgrawal-MSFT commented on #50537
@KenBrady Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-20 03:03] kiranpradeep commented on #49887
@kgremban Thanks a lot. That was _exactly_ the piece of information I was looking for.

[2020-03-20 03:07] erichrt commented on #48459
#assign:erichrt

[2020-03-20 03:08] PRMerger7 commented on #48459
Only Microsoft employees can manage issues via commenting in this repo.

[2020-03-20 03:08] VikasPullagura-MSFT commented on #50460
@yckwan Can you please the above provided suggestion and update on the issue.

[2020-03-20 03:10] VikasPullagura-MSFT commented on #50274
@dealancer We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-20 03:10] #50274 closed

[2020-03-20 03:14] NTDS opened #50545 "Phone Number use"
If the configured international phone number is used, is it a human making that call from MSRC or is it an automated system? If the phone number requires options to be pressed, asking this question to understand whether a 24 hour helpdesk number with options can be used or if an automated system is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-20 03:19] KrishnaG-MSFT commented on #50538
@cconrado Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-20 03:21] AshokPeddakotla-MSFT commented on #50497
@LouanDuToitS3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-20 03:22] AshokPeddakotla-MSFT commented on #50523
@dc995 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-20 03:37] DixitArora-MSFT commented on #50519
Hi @FlavioDiasPs Thanks for your feedback. We will review and update as appropriate.

[2020-03-20 03:39] DixitArora-MSFT commented on #50219
@BradHester So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-20 03:39] #50219 closed

[2020-03-20 03:40] DixitArora-MSFT commented on #50221
@foyezah Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-20 03:40] #50221 closed

[2020-03-20 03:43] DixitArora-MSFT commented on #50426
@Ericgre I have assigned this to content author for further review and update as appropriate.

[2020-03-20 04:02] femsulu commented on #50527
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-20 04:06] KalyanChanumolu-MSFT commented on #50483
@MaxHegel Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-20 04:09] KalyanChanumolu-MSFT commented on #50486
@garrett-wood Thank you for letting us know, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2020-03-20 04:09] #50486 closed

[2020-03-20 04:11] KalyanChanumolu-MSFT commented on #50490
@jmorcar Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-03-20 04:12] KalyanChanumolu-MSFT commented on #50492
@asears Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-20 04:13] femsulu commented on #50528
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-20 04:14] KalyanChanumolu-MSFT commented on #50524
@saikiran-karumuri-jdas Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-20 04:17] femsulu commented on #50530
@will-smothers, happy to help! Kindly share a link to the documentation you are referencing and we will gladly assist further.

Cheers,
Femi

[2020-03-20 04:17] KalyanChanumolu-MSFT commented on #50539
@edburns Thank you very much for the PR.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-20 04:19] yulin-li commented on #50392
@eseezeni
Thanks for your feedback! We added `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384` and `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384` ciphers back, which are supported on Windows server 2012. But in long term, we will not support these ciphers with less secure, maybe you can migrate your project to a newer OS.

[2020-03-20 04:21] KalyanChanumolu-MSFT commented on #50512
@svangeti Thank you for the reaching out.
I see that the same issue is created on the AppService - Managed Identity doc as well.
We will close this as a duplicate.

[2020-03-20 04:21] #50512 closed

[2020-03-20 04:22] KalyanChanumolu-MSFT commented on #50511
@svangeti Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-20 04:23] femsulu commented on #50541
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-20 04:41] DashleenBhandari-MSFT commented on #48748
@mkokabi , I have not heard back from you in a couple of days. I ll go ahead and close the issue for now. Feel free to reopen in case you need further help.

[2020-03-20 04:41] #48748 closed

[2020-03-20 04:43] DashleenBhandari-MSFT commented on #49037
@gjj , I have not heard back from you. Please let me know if you need further help.

[2020-03-20 04:45] GiftA-MSFT commented on #50250
@hylinux I will proceed to close this thread since this is not a doc issue. Also, I'm not able to reproduce the error you presented. If you continue to experience errors please let us know on MSDN forum so we can investigate further. Thanks.

[2020-03-20 04:45] #50250 closed

[2020-03-20 04:50] BillzGitHub opened #50546 "Files do not show up in my Documents folder on my local machine"
I have no exceptions thrown and all seems to be working as intended but when I check my Documents folder, prior to hitting Enter during the Clean up process, there are no files in my Documents.

Also, the container and .txt file however do get uploaded to blob storage but do not get deleted after the clean up process has finished.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-03-20 04:57] AnandKatta commented on #50415
I have a  created two micro-services. Micro-services is developed in .net core 3.1. Using Ingress resources based on the path, am redirecting to respective micro-service. Now the application is working based on the path in the url. The problem is in each micro-services, we have a swagger enable in .net core web-api. When I navigate to the swagger url,it's not working. Getting Error: Failed to fetc

[2020-03-20 05:06] RohitMungi-MSFT commented on #50544
@benpeterswake Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-20 05:06] davidonelson commented on #50541
I will explain the cause of this error message and the resolution
- I was doing a restore of a virtual machine
- The restore said "Completed with warnings" with error code "OlrBackupFailed" warning message "Failed to take snapshot of the VM", even though it said "completed with warnings" it was not completed.
- The restore started a backup (I think to backup the original VM before it is overwritte

[2020-03-20 05:19] jakaruna-MSFT commented on #50469
you can have one ApplicationManifest.xml per environment.

[2020-03-20 05:21] jakaruna-MSFT commented on #50042
Whats your AKS version?

If coredns is deleted, Then dns resolution wont work.

Coredns is introduced after 1.12 i think

[2020-03-20 05:22] mdzullo commented on #15826
Can you share one example, also will it works for az module? Thank you.

[2020-03-20 05:23] femsulu commented on #49975
Sorry for the delay, @nastassiar - adding @bmoore-msft - [script](https://gist.github.com/bmoore-msft/ae6b8226311014d6e7177c5127c7eba1#file-verify-deploymentguid-ps1) author - to offer guidance.

[2020-03-20 05:23] #49975 closed

[2020-03-20 05:26] jakaruna-MSFT commented on #49264
Got your email.
I will enable one time free support ticker for your subscription.

Please engage with support and find the root cause for this issue.

I will send the details to use the free support ticket to your email

[2020-03-20 05:27] SubhashVasarapu-MSFT commented on #50542
@Jlouden9 , We are looking into this query and will update you as soon as possible.

[2020-03-20 05:35] memildin commented on #50545
@NTDS, thanks for the question.
The phone number is not used today and MSRC will not call you about security events.
This email notification settings page will shortly be changed, and the phone number field will be removed.
The documentation will of course also be updated.
Please be in touch if you have any further questions.

[2020-03-20 05:36] memildin commented on #50545
#please-close

[2020-03-20 05:36] #50545 closed

[2020-03-20 05:52] jinzejian commented on #50468
Hi Travis,

Thanks for your answer.

I’m asking this because one of my customers deployed everything exactly the same as this document, thought this is something Microsoft recommended.

As such I would like to feedback if we can add some note in the document to remind people that it’s not a necessary configuration, to avoid similar confusions.

Thanks again.

My working hours are 7:00-16:00 Mon-Fr

[2020-03-20 06:12] imsiddsingh opened #50547 "Cannot find a property 'ipValidated'"
Nice article !! I am unclear about ipValidated property. Could you explain more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54701509-aa7f-7ece-4a56-57d14613b5f8
* Version Independent ID: b38d7498-0e6e-956f-4dea-0a4ef82164e2
* Content: [Sample API management policy - Filter on IP Address when using Application Gatew

[2020-03-20 06:18] Hari1667 commented on #50482
Hi @femsulu thanks for the response here the document have referred
[](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net)

[2020-03-20 06:39] dcurwin commented on #50541
#reassign:sogup

[2020-03-20 06:49] ChiragMishra-MSFT commented on #50402
@udaykumar54 The PowershellGet module on your machine seems to be outdated.

Please install the latest version first.

`install-Module PowerShellGet –Repository PSGallery –Force`

Important: Please do close and re open the powershell console to load the updated module.

Then try

install-Module Az.Storage -Repository PSGallery -RequiredVersion 1.9.1-preview –AllowPrerelease –AllowClobber –Force

H

[2020-03-20 07:15] PramodValavala-MSFT commented on #50547
@imsiddsingh Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-03-20 07:22] sysadmin-exe opened #50549 "where is the link?"
the last mine before "NEXT STEPS"

see (link: Migrate WAF Config to a WAF Policy).

WHERE IS THE LINK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc23d8e-20ac-0d88-018d-b0ce153bb54d
* Version Independent ID: cbb5de42-8a4e-6162-1ae7-e7fdbf0cf205
* Content: [Azure Web Application Firewall (WAF) policy overview](http

[2020-03-20 07:27] SeanXuMSFT opened #50550 "AADSTS7500529 error code is not listed here"
customer got this error code due to application side backend change, they are asking to update the documetn with the details for this error code so they could save a lot of time to find the correct direction for troubleshooting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Versi

[2020-03-20 07:36] msrini-MSFT commented on #50549
@sysadmin-exe  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-20 07:50] TjommeVergauwen commented on #50520
Hi,

The JSON source file 'SpotifySearch-Queen.json' contains 3 hierarchies we want to flatten: A first level on Items and a second level for images and genres.
![DF_SpotifySearchJSONToASQL](https://user-images.githubusercontent.com/42241062/77144583-8bb0c080-6a86-11ea-8f39-fa996859872c.PNG)
Without the second split on images and/or genres all works fine.
Source code is attached:
[50520-ADF_Flatte

[2020-03-20 07:51] ripom commented on #41184
@mitchellgarner I spent 3 days on this issue with no results. I am not using private link and having your identical same issue. I think something has been changed that broken something during the SPN share provisioning. I am not sure but it looks very plausible because I can logon with uer on my VM AAD DS domain joined, this means AAD DS domain can validate the password and create the ticket. I su

[2020-03-20 07:55] haugan commented on #26312
@malballah that's a creative solution! How does it work with regards to overhead and latency for each API call; do you experience slower responses?

[2020-03-20 08:02] #50549 closed

[2020-03-20 08:14] #50202 closed

[2020-03-20 08:20] malballah commented on #26312
@haugan
It works very fine remember I have added a version with caching, so both APIM and the Azure function will be having the secret from the vault once they check the first time

[2020-03-20 08:21] shashishailaj commented on #50543
@dotnetgator Thank you for your query. We will investigate and update this thread.

[2020-03-20 08:22] SnehaAgrawal-MSFT commented on #50367
@ishepherd Thanks for asking question! If I have understood right you want to use App service certificate for different apps, If so: As mentioned in the doc this is the free App Service Managed Certificate and let you secure custom domains on your Windows and Linux apps at no additional charge.
As this is in preview and there are limitations for this.

You may refer to doc link for more detail on

[2020-03-20 08:27] shashishailaj commented on #50550
@SeanXuMSFT Thank you for your feedback . We will check this with the content team and let you know accordingly.

[2020-03-20 08:35] DixitArora-MSFT commented on #50239
@justinyoo I have lopped in Chris from Azure Function product team to comment further on this , if I missed something.

[2020-03-20 08:36] DixitArora-MSFT commented on #50324
@paulisfluent Thanks for reverting back so just checking if there is anything more you need on this.

[2020-03-20 08:39] rhuanbarreto opened #50552 "SSL Config for Ruby is wrong"
If you see the page https://github.com/brianmario/mysql2#ssl-options the SSL options for the mysql2 client are different. I can't manage to connect to the database using only the ssl ca so I needed to disable ssl in order to use on my rails application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51acac74-aeca-592f-

[2020-03-20 08:51] Klaas- commented on #49961
I just started testing with RHEL8, but I have a couple of issues already:
* kdump - it seems kdump is deactivated by default on all rhel images in azure that I've looked at, it is not recommended by Red Hat to turn this off. I opened up a support case for this, it seems that is already being addressed (120031824003186)
* subscription manager is not properly deactivated, you need to also set auto_e

[2020-03-20 08:55] laurn001 commented on #8535
"Basic SKU" permit 1 S2S connection for policy-based gateway.
+++
With the custom IPsec/IKE policy, you can now configure Azure route-based VPN gateways to use prefix-based traffic selectors with option "PolicyBasedTrafficSelectors", to connect to on-premises policy-based VPN devices. This capability allows you to connect from an Azure virtual network and VPN gateway to multiple on-premises policy

[2020-03-20 08:57] michael-niemand commented on #50042
CoreDNS itself is there of course - its the coredns-custom ConfigMap that's missing. I'm asking myself is this is standard or not.  1.14.4 is the version of that cluster.

[2020-03-20 08:59] rhuanbarreto commented on #34657
I'm also having issues about connecting to the same VNet. Everything is connected fine but it doesn't work.
Using VNet would be way easier and safer than using the two solutions described in this article.

[2020-03-20 08:59] ishepherd commented on #50367
Thanks!

I think my scenario might not be supported because your first link says

I'll try it out and revert back.

[2020-03-20 09:10] bamajeed commented on #36170
Also the section to set up the diagnostic logs is outdated and needs to be updated with the new experience

[2020-03-20 09:17] stephaneey opened #50554 "Wrong documentation about signature calculation"
Hello,

I have customers for which I implemented both Signin/SignUp+Product delegation through the old portal. Switching to the new portal breaks it!  You document this:
[code]
and this is indeed how it worked with the old portal. With the new portal, I get a different signature, but if I do this:
[code]
Then I get the same signature. Somehow, the new portal has inverted both variables. Now, since

[2020-03-20 09:21] pafnow commented on #48956
This part of the script is really unclear and should be fixed

[2020-03-20 09:28] DixitArora-MSFT commented on #50554
Hi @stephaneey Thanks for your feedback. We will review and update as appropriate.

[2020-03-20 09:29] jflieben opened #50555 "regional support text is totally wrong"
The text states in which regions this feature is not available, however, I have tested a number of other public european regions and got "This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in this location (francecentral)."

Please update the list or use an inclusive instead of exclusive list. I'd really like this feature to be available in We

[2020-03-20 09:30] sysadmin-exe commented on #50549
You closed the feedback without looking at what was asked. I just think there should be a link/hyperlink on the last line under heading "EXISTING WAF CONFIGURATION"
This is what the last line says : see (link: Migrate WAF Config to a WAF Policy).

[2020-03-20 09:35] tr-hagfjall opened #50556 "Bad URL to Azure Active Directory Module for Windows PowerShell"
https://technet.microsoft.com/library/jj151815.aspx leads to a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45e65a0-74ae-440c-0064-2a0b1c6bb0d9
* Version Independent ID: a50f705d-ab3f-ca2b-aedd-9ab37bea3d3f
* Content: [Azure AD Connect: Use a SAML 2.0 Identity Provider for Single Sign On - Azure](https://docs.mi

[2020-03-20 09:42] ioan-agopian commented on #46525
Any news on this? I am also interested in the recommended update method for the Office installation. Or any update method :).

[2020-03-20 09:50] whisper3032 opened #50557 "language description mistake"
the script should be Python, not scala.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba47f948-5b90-9098-1987-1f6605c607c8
* Version Independent ID: efb7d68e-10fd-6bc8-84d8-c5e2de2c9180
* Content: [How to Create Table DDLs to Import into an External Metastore - Azure Databricks](https://docs.microsoft.com/en-us/azure/

[2020-03-20 10:01] CHEEKATLAPRADEEP-MSFT commented on #50557
@whisper3032 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you please fix the document?

![image](https://user-images.githubusercontent.com/44426401/77153499-dac71780-6abf-11ea-9133-eee01866e4d0.png)

[2020-03-20 10:08] RicardoNiepel opened #50558 "Update Managed Identity docs for AKS Clusters (GA)"
Please update the Managed Identity for AKS Clusters docs because this feature is GA since yesterday.
"AKS Clusters using Managed Identity are now Generally Available (GA) and will no longer need a service principal."
[AKS Release 2020-03-16](https://github.com/Azure/AKS/releases/tag/2020-03-16)

It is unclear which steps are still necessary.

---
#### Document Details

⚠ *Do not edit this section.

[2020-03-20 10:12] SubhashVasarapu-MSFT commented on #50111
@jjindrich , Appreciate your patience. As @sharad4u mentioned, we cannot guarantee when the IP address may change, please do not take a direct dependency on AFD IP, I understand you have mentioned you cannot use Azure DNS but the best approach would be to leverage Azure DNS in this scenario. You may always share product specific feedback on [Uservoice](http://feedback.azure.com/)

Thanks for under

[2020-03-20 10:12] #50111 closed

[2020-03-20 10:25] psyduck101 commented on #42878
Lately i've been having problems with retrieving the secret without the version. When i deploy my function with an ARM template, it gives errors that the key vault reference is invalid, which result in the function host not starting since it is not resolved. When i change it to specific version, it seems to work. I know it still has not been confirmed that it is officially supported, but any one e

[2020-03-20 10:29] tmhui94 commented on #47732
@kgremban I tired just now and its working !
Thanks for the info @kgremban !

[2020-03-20 10:38] gorgi commented on #42878
@psyduck101 I used it without a version in a function app recently. Make sure you specify the URL properly:

@Microsoft.KeyVault(SecretUri=https://{vault-url}/secrets/SecretName/)

The forward slash at the end might be the issue with your configuration?

[2020-03-20 10:40] townendk commented on #49746
@geek2point0 / @miketoupin- could you talk through the steps needed to that? Looking to tidy my implementation up a bit and sounds like this would be a good step.

[2020-03-20 10:40] SumanthMarigowda-MSFT commented on #50546
@BillzGitHub Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-20 10:40] SumanthMarigowda-MSFT commented on #50555
@jflieben Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-20 10:44] Houuse opened #50560 "how to undo all this,"
am working on current project where previous developer tried to get this to work, it didn't and left the db with a lot of clutter, needless tables and SP,

is there simple straightforward way to undo all of it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID

[2020-03-20 10:50] booyaa opened #50561 "2nd cli example in Run to completion example should be split into multiple lines"
creating issue so I can reference in PR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be6d1d9-d67a-f17b-b1d3-d3dee4ceafbd
* Version Independent ID: 438264cb-69b1-8e78-58ba-ef79401b1028
* Content: [Restart policy for run-once tasks - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances

[2020-03-20 10:51] VikasPullagura-MSFT commented on #50558
@RicardoNiepel
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-20 10:52] VikasPullagura-MSFT commented on #50558
@sauryadas
Can you please check and add your comments on this doc update request as applicable.

[2020-03-20 11:03] amanmcse commented on #50448
@fabio770 Please let us know if you have any further question or shall we proceed with closure of this thread?

[2020-03-20 11:04] amanmcse commented on #50354
Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-03-20 11:04] #50354 closed

[2020-03-20 11:09] ChrisSommers commented on #50311
Windows. It has 4 partitions on it, all formatted

[2020-03-20 11:18] Samantha-Yu commented on #44969
Thanks for the feedback! This article has been refreshed to follow the latest UI. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-20 11:18] #44969 closed

[2020-03-20 11:21] Samantha-Yu commented on #49185
Thanks for the feedback! This article has been refreshed to address the issue. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-20 11:21] #49185 closed

[2020-03-20 11:23] Samantha-Yu commented on #35930
Thanks for the feedback! This article has been refreshed to address the issue. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-20 11:23] #35930 closed

[2020-03-20 11:25] Samantha-Yu commented on #29655
Thanks for the feedback! This article has been refreshed to address the issue. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-20 11:25] #29655 closed

[2020-03-20 11:29] psyduck101 commented on #42878
The url is matching with what you specified, including the forward slash. It seems to have worked in the past, it just seems to be the last couple of weeks with ups and downs. I double checked my keyvault and function on possible settings, but these are all open.

[2020-03-20 11:30] manvendrautralia opened #50563 "Office 365 not appearing as a keyword"
Hi team,

We tested a document and realized that "Office 365" is not appearing in the result, considering that it appeared quite a lot of times in the text. Could you please check if this keyword is part of whitelisted keys. Also suggest if there is a way to custom train the cognitive APIs with additional keywords.

Thanks,
Manvendra

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-03-20 11:33] qhaitoNNV commented on #50240
Different IPSec parameter combinations affect the expected Gateway throughput for Gateway SKU's as stated in this document. The link you provided doesn't make mention of this. Do different IPSec combinations (Encryption and Integrity) affect the expected throughput for Standard and High Performance Gateways and if it does what are the expected values?

[2020-03-20 11:35] shashishailaj commented on #50556
@tr-hagfjall Thank you for pointing that out. We will have this reviewed and update the same .

Thank you .

[2020-03-20 11:38] AshokPeddakotla-MSFT commented on #50523
I have assigned the issue to the content author @kgremban to evaluate and update the doc as appropriate.

[2020-03-20 11:43] Dolvaran opened #50564 "Rewrite HTTP headers"
This capability is not available within UK South - contrary to all published documentation. Any attempt to use it results in an error stating that it is in Private Preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f75e973-f682-8e41-0a5b-87d9b8563662
* Version Independent ID: 0b8b2774-9d60-c54e-bcb2-3ff03df48521

[2020-03-20 11:50] yoelhor commented on #50516
Please use the `api.signuporsignin` instead the `api.idpselections`. If you don't want to have the local account option, you can still list only federated IDPs, such as Facebook, Microsoft, and Google.

[code]

[2020-03-20 12:02] oproulx opened #50565 "API Reference page doesn't open on the new portal"
Link to my API portal:
https://chargehub.developer.azure-api.net

When clicking on the API details, this link doesn't load:
https://chargehub.developer.azure-api.net/apis#api=5b48efb870d306100de3d1a3

I re-published the site...

Any help is appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-

[2020-03-20 12:08] arvinyorro commented on #41790
@AgSync-Aaron  Could you share your docker file? at least at the line of the ENTRYPOINT. I can't get it to work

Thank you,

[2020-03-20 12:31] geoffrey-vl commented on #49722
@sslijver, I've encountered the same issue.
I'm confident that it has to do with the host vs target architecture. I'm on a x86-64 Ubuntu host, targeting armv7.

What I did was enabling docker to run on qemu for arm devices. Do the following:

$ sudo apt-get install qemu binfmt-support qemu-user-static
$ docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

now to check if you can

[2020-03-20 12:32] jakaruna-MSFT commented on #50561
@booyaa Thanks for your contribution .
i hope you have updated that command to a multiline one for readability and match with other examples

[2020-03-20 12:36] dArignac opened #50567 "GraphSONv2 vs. returned format"
The documentation says that GraphSONv2 is returned, in fact GraphSONv2 looks different to the official format: http://tinkerpop.apache.org/docs/3.4.6/dev/io/#_edge_2
What is returned looks like GraphSONv1 with TinkerGraph serialization: http://tinkerpop.apache.org/docs/3.4.6/dev/io/#_tinkergraph

What is your recommendation for a local variant of the Cosmos Graph for development, as the Cosmos emu

[2020-03-20 12:44] yckwan commented on #50460
Yes, it redirects me to login page now. Thanks for helping.

[2020-03-20 12:46] VikasPullagura-MSFT commented on #50561
@booyaa We will now close the issue this issue, the changes will go live once the PR is approved.

[2020-03-20 12:46] #50561 closed

[2020-03-20 12:51] NavtejSaini-MSFT commented on #50149
@rachel-msft Please convey if there is a list or this could be a idea for a new document.

[2020-03-20 12:53] NavtejSaini-MSFT commented on #50319
@beelesnik The team has already replied to you over email. Please confirm if we can close this thread. Also share the answer to your question here so others can get help from the same.

[2020-03-20 12:54] psyduck101 commented on #42878
I found out that it was related to the arm template creation of resources being out of order, and the vault didn't contain the accesspolicy yet, the moment the site was created. Thanks for the help :)

[2020-03-20 12:55] VikasPullagura-MSFT commented on #50460
@yogevdaniel Appreciate your contribution to community.

@yckwan Thanks for responding back on this, Glad to hear that it is working now.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-20 13:01] yckwan commented on #50460
But right now i have "Message: AADSTS500113: No reply address is registered for the application." error.

[2020-03-20 13:04] mumian commented on #50068
@HoPGunmaster thank you for your comment.  We are planning to update this tutorial with a different scenario.

#please-close

[2020-03-20 13:04] #50068 closed

[2020-03-20 13:06] VikasPullagura-MSFT commented on #50460
@RoopChevuri @ChristianMontoya Can you please check and add your comments.

[2020-03-20 13:09] yoelhor commented on #50543
Dear John,

First, thanks for your feedback. Looks like we have some overlapping between the metadata and the input claims. This includes almost any information that can be sent via input claims.

I had discussion with the engineers regarding similar issue, related to the `login-NonInteractive` technical profile's `client_id` and `IdTokenAudience` metadata. The input claims have the SAME values (c

[2020-03-20 13:16] geek2point0 commented on #49746
@townendk I used the Azure UI to do it. I added a parallel branch action, so I could compare side-by-side. I set it as a POST and just copied over the URI and Body fields, then deleted the HTTP Webhook.

[2020-03-20 13:18] DashleenBhandari-MSFT commented on #50565
@oproulx , Thanks for raising the issue. We will investigate and update you.

[2020-03-20 13:18] will-smothers commented on #50530
https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-windows-7-and-10

[2020-03-20 13:24] DashleenBhandari-MSFT commented on #50439
@HenkoR , Are you seeing any errors due to this? It shouldn't lead to errors as WP install will prompt you for a database name. Please let us know if you are seeing an error due to this.

[2020-03-20 13:24] allan-mobley-jr opened #50570 "Charges for free tier"
I followed the instructions about creating a new cosmos db account and applied the free tier during account creation.

Yet I have already been invoiced for some charges and the current charges is showing cost accumulating.

I have not even added a container with any data in it. Just a database with autopilot (max 4000 RU's) with shared RU's. The minimum is 400 RU's.

So there is no way that I coul

[2020-03-20 13:25] DashleenBhandari-MSFT commented on #50211
@mperdeck , We have taken this in our queue and will be making changes as per VS 2019. It may take sometime though. I will go ahead and close the issue for now. Feel free to re-open in case you need further help.

[2020-03-20 13:25] #50211 closed

[2020-03-20 13:32] allan-mobley-jr commented on #50570
Just received a response from Azure billing support. The support person says the cosmos db account was deployed as 100 RU's and I was billed accordingly. LOL. I am being told to create a free tier account. LOL.

That is what I did. This makes no sense. You cannot even create a 100 RU's database.

[2020-03-20 13:34] yoelhor commented on #50499
Dear @henriquebelotto

I fixed your policy, please search for 'Yoel:' in the policy. In the policy:
1. The order of the elements is important. To fix the issue, I moved the `LocalizedCollections` before the `LocalizedStrings` element. I'll make sure our documentation reflect this order. Thanks for the feedback!
1. Not important, but when you overwrite an element in the extension file, such as a co

[2020-03-20 13:39] allan-mobley-jr commented on #50570
I am starting to see a pattern with Azure so-called free offerings. First, I was charged almost $100 for deploying two Azure Functions under the consumption plan with "the first one million requests free, blah, blah..." I did not even have an actual function running in one of the Function App deployments, the other had only been executed 18 times for testing.

Now, I am being charged for what is s

[2020-03-20 13:40] fleed opened #50571 "Required role"
What's the required role to create a firewall rule?
I granted **SQL DB Contributor**, **SQL Security Manager** and **SQL Server Contributor** roles to a user, but he's still not able to add the rule by himself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b404ba7-af5a-bb77-4cd4-c0123490e0ed
* Version Independent ID:

[2020-03-20 13:42] yoelhor commented on #50358
Could you please share your policy file (jut remove your tenant name and any private data), or a link to test your policy?

[2020-03-20 13:45] yoelhor commented on #50330
We found an issue related to the new app registration. We are working on fixing it. Meanwhile w'd recommend to use the legacy app registration. For more information, see my previous comment.

Please do NOT close this issue.

[2020-03-20 13:47] emulic commented on #50330
Thanks!

[2020-03-20 13:48] yoelhor commented on #50134
As for now you have to transfer the claim. Following our call I'm closing this issue. Should you have any questions, please don’t hesitate to contact me directly

#please-close

[2020-03-20 13:48] #50134 closed

[2020-03-20 13:52] yoelhor commented on #49702
We are working on this issue directly.

#please-close

[2020-03-20 13:52] #49702 closed

[2020-03-20 13:55] yoelhor commented on #49725
I checked with the engineers, the recommendation is to provide both input and persist claim. We'll fix the starter pack to reflect this requirement.

Thank you again for bringing this issue to our attention

#please-close

[2020-03-20 13:55] #49725 closed

[2020-03-20 14:02] fabio770 commented on #50448
@yoelhor Thank you so much! It's clear to me what I have to do now.

[2020-03-20 14:02] fabio770 commented on #50448
@amanmcse You can close this thread. Thank you!

[2020-03-20 14:03] stegag commented on #46672
As per the public documentation

Native Azure AD authentication is only supported for OpenVPN protocol and Windows 10 and requires the use of the Azure VPN Client.
https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about

When configuring the Azure VPN Client, you need to use the XML file (not the ovpn) as described in the config article
https://docs.microsoft.com/en-us/azure/vpn-gat

[2020-03-20 14:08] #50448 closed

[2020-03-20 14:08] XzeroR3 opened #50572 "Unable to Provision new NVv4 virtual machines"
When using the Create Resource - Provision a Host Pool, I am unable to select the new generally available NVv4 virtual machines in either the South Central US, or East US region.  I would like to demo the GPU partitioning in Windows Virtual Desktop but am unable to do so.

Please see https://azure.microsoft.com/en-us/blog/power-your-azure-gpu-workstations-with-flexible-gpu-partitioning/ for genera

[2020-03-20 14:16] #48214 closed

[2020-03-20 14:19] Jimbos10 commented on #50297
Any update on this?

[2020-03-20 14:23] RohitMungi-MSFT commented on #50544
@benpeterswake Thanks for helping us on this one. Indeed the struct needs a change and we have submitted a PR to correct it. The change should be updated in the doc as soon as the PR is merged.
@aahill Could you please review and approve the [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/108441)?

[2020-03-20 14:28] #48652 closed

[2020-03-20 14:31] antonygibbs opened #50574 "Surely this is a bug with all Core images? Or the ADE extension?"
I don't know how many core images there currently are in the Azure Gallery, but it must be a lot. Why have these four missing files not been baked in to these images as part of the imaging process. This seems like a complete one-off no-brainer which will require minimal effort from Microsoft and save their customers a significant amount of time on a repeated basis.
If updating the images isn't a f

[2020-03-20 14:33] 3vi1 opened #50575 "Error in CreateAzureLogicApp.ps1: No -logicappname parameter"
When I run the createazurelogicapp script per the instructions (https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script), it gives me an error:

This seems to be coming from the New-AzResourceGroupDeployment command.

`                $SchedulerDeployment = New-AzResourceGroupDeployment -ResourceGroupName $ResourceGroupName -TemplateUri "$ScriptRepoLocation/azureLogicAppCreati

[2020-03-20 14:35] Aus-A-Lot opened #50576 "Impact on existing recources?"
The page talks about audit and remediation but where is the information on the impact of resources? If you apply a no allow on /VitualMachines will the machines in that RG be de-allocated? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ff8ed82-0cf5-7f1a-737d-a66bd859682c
* Version Independent ID: bb

[2020-03-20 14:43] dotnetgator commented on #50543
Thank you @yoelhor I also noticed some of the sample profiles do in fact omit some of these values and run OK. I am stuck between assuming that some may/may not be used by IEF in processing the protocol request and others are just lumped into the request payload, or perhaps there's a system for providing "static" values in Metadata, and then "dynamic" values in claims (except for the whole default

[2020-03-20 14:44] XzeroR3 opened #50577 "Create a virtual machine from an unmanaged image - Link Incorrect"
Hello,

The link "Create a virtual machine from an unmanaged image" is going to https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-from-user-image.md (page not found)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e2-67cc-e5891fdbefd7
* Version Independent ID: 16b54c4d-07de-9d14-2a74

[2020-03-20 14:46] DCtheGeek commented on #50576
#assign:DCtheGeek

[2020-03-20 14:48] asergaz commented on #50307
Thank you @armcmu .

@alinamstanciu could you please validate if this has to do with the note at the top of this article?

"The Azure Digital Twins preview program is currently at capacity. As a result, new customers are no longer being added and no additional Azure Digital Twins resources can be created at this time. If an instance somewhere is deleted, it is possible your resource creation will

[2020-03-20 14:50] vlado101 commented on #50397
Hi @himanshusinha-msft , yes when I manually specify a column to be used for a partition then ADF does use parallel copies. The issue comes when I have a large group of tables and am sending them to an ForEach activity and I leave that column blank.

Because the tables are different I am not sure which one to be used for partition and per my reading of the documentation I thought that ADF would au

[2020-03-20 14:53] panoschatz opened #50578 "Can't enable encryption with Customer key"
Everything works fine up to the point of running:

Set-AzureRmStorageAccount `
    -ResourceGroupName $storageAccountResourceGroup `
    -AccountName $storageAccountName `
    -KeyvaultEncryption `
    -KeyName "&lt;mykeyname&gt;" `
    -KeyVersion $key.Version `
    -KeyVaultUri $keyVault.VaultUri

Which results in the below:
Set-AzureRmStorageAccount : Keyvault policy recoverable is not set

---

[2020-03-20 15:08] markjbrown commented on #50570
Hi Allan. We do not charge for the first 400 RU/s and 5GB of storage. The portal currently does not reflect whether the account is Free Tier or not. We are working to update that.  If you are being charged it is because you have another Cosmos account that is not in free tier.

Thank you.

#please-close

[2020-03-20 15:08] #50570 closed

[2020-03-20 15:10] #47995 closed

[2020-03-20 15:12] dotnetgator commented on #47995
@v-shils  for what reason was this closed? The TP is still included in the Starter Pack Policies, and remains undocumented. It seems to have been closed without explanation or action item.

[2020-03-20 15:12] markjbrown commented on #50339
If you have a bug with the emulator please use the feedback link at the top right of Data Explorer to file an issue. If there is a regression with emulator, this is the best way to contact the engineering team so they can help resolve.

Thanks.

#please-close

[2020-03-20 15:12] #50339 closed

[2020-03-20 15:17] arunrath12 opened #50580 "Getting AzureResourceCreationFailedErrorCode under head Code : ResourceDeploymentFailure"
I am not getting any possible reason for error code : AzureResourceCreationFailedErrorCode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67e0bb17-736b-4c84-22b0-47148e43131e
* Version Independent ID: c73c7142-a617-c24d-8983-15586e2974de
* Content: [Troubleshoot common deployment errors - Azure Resource Manager](https:

[2020-03-20 15:17] DCtheGeek commented on #50576
@Aus-A-Lot Thanks for the question!  As this article mentions in the intro, Policy evaluates _create_ and _update_ requests to perform the _effect_ defined in the policy definition on them.  Information on how each effect impacts the request is on the [effects](https://docs.microsoft.com/azure/governance/policy/concepts/effects) page. Each effect explains how it handles a _create_ (PUT) or _update

[2020-03-20 15:17] #50576 closed

[2020-03-20 15:17] kelemvor33 opened #50581 "Where is the Access Panel to view expiration dates?"
The article states "In addition to Access Panel where users can view group details including expiration date and last renewed date..."  Where is this Access Panel located?  We want to turn this on for a test group and see how it shows up but can't find anywhere to show the expiration date, last renewal date, etc.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-03-20 15:20] allan-mobley-jr commented on #50570
Like I said, this account was created with the free tier account option in the portal. I was subsequently invoiced for this account. It is the only Cosmos Db account in this subscription. So please don’t tell me it must be another account in the subscription.

I have attached an image that proves I used the free tier account option. The image shows a failure to deploy another Cosmos Db account in

[2020-03-20 15:22] sarangbk commented on #41184
Same issue for me for the last 3 days. It did work earlier when we PoC'd this, now the auth is not  working at all.

[2020-03-20 15:28] allan-mobley-jr opened #50582 "Closed but not Finished!"
![Capture](https://user-images.githubusercontent.com/38449003/77178851-0b965500-6a9e-11ea-8520-364718556232.PNG)
Hey, don't dismiss my post as being finished. You did charge me for a free tier. I only have one Cosmos Db in the subscription. THE FREE TIER ONE.

WHEN I TRY TO CREATE ANOTHER COSMOS DB ACCOUNT IN THE SAME SUBSCRIPTION WITH THE FREE TIER OPTION, I GET A DEPLOYMENT FAILURE BECAUSE I ALR

[2020-03-20 15:30] WSGomes11 commented on #50516
Hi! I tried with `api.selfasserted` and worked! thank you!

[2020-03-20 15:30] #50516 closed

[2020-03-20 15:35] markjbrown commented on #50040
Change Feed is not an op-log and does not contain every mutation of records within a container. It  only contains the latest version of an item. It also does not contain deletes. If you want to track deletes use a tombstone flag on your data. This is and more details on Change Feed is explained in our docs here. https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed.

To answer the op's ques

[2020-03-20 15:35] #50040 closed

[2020-03-20 15:35] cgillum commented on #50239
We internally use the WebJobs SDK to look up the storage account connection string by name. The WebJobs SDK accepts both `Storage` and `AzureWebJobsStorage` to be equivalent, and ultimately returns the default connection named `AzureWebJobsStorage`.

Given that this works correctly with a real storage account and fails with Azurite, I suspect this is actually a compatibility issue with Azurite. Th

[2020-03-20 15:38] leniency commented on #50459
I have a similar issue where I have multiple pools, each with only a single backend. I should be able to disable the probe:

But get the error:

It works fine when I have only a single pool and single backend, but other configurations error, counter to what the docs say should be possible

[2020-03-20 15:39] valotee opened #50583 "ADF OData connector and Odata on Dynamics 365 FO"
I am able to Dynamics 365 FO but get this error when I try to populate path in the dataset.
Requesting response from path and query failed with status code Unauthorized and message . . Activity ID: 679c29e7-3e95-45b1-8756-19fee79ab7dc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
*

[2020-03-20 15:45] v-radelg opened #50584 "test1111"
test1111

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b6e2b9-7808-6c9b-101e-e6c49c14e175
* Version Independent ID: 92c38af6-f984-5833-bbee-513c4731ecc5
* Content: [Security framework - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/security#feedback)
* Content Source: [articles/iot-edge/security.md

[2020-03-20 15:45] #50584 closed

[2020-03-20 15:45] allan-mobley-jr commented on #50570
Here’s the cvs file for the invoice. A pdf was not available.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Mark Brown<mailto:notifications@github.com>
Sent: Friday, March 20, 2020 11:08 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Allan Mobley<mailto:allan.mobley.jr@qbcart.net>; Author<mailto:author@noreply.github.com>
Subject:

[2020-03-20 15:45] v-radelg opened #50585 "test loc label"
localization
loc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b6e2b9-7808-6c9b-101e-e6c49c14e175
* Version Independent ID: 92c38af6-f984-5833-bbee-513c4731ecc5
* Content: [Security framework - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/security#feedback)
* Content Source: [articles/iot-edge/sec

[2020-03-20 15:48] SaurabhSharma-MSFT commented on #50574
@antonygibbs Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 15:48] VWFeature opened #50586 "Would be user friendly to include a link to the Microsoft Authenticator App"
Would be user friendly to include a link to the Microsoft Authenticator App

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory passwordless sign-in (preview)](https://docs.microsoft.com/en-

[2020-03-20 15:48] kunalbabre commented on #41184
I tried this out found out the drive was getting mapped but not appearing in explorer, I can see it in Powershell.

This helped: https://superuser.com/questions/1066071/net-use-does-not-create-drives-in-explorer-on-windows-10

[2020-03-20 15:48] bmoore-msft commented on #49975
@femsulu - API and TF are supported, but you cannot "self verify" those - currently you need to work with someone who has access to the logs to validate

[2020-03-20 15:49] SaurabhSharma-MSFT commented on #50581
@kelemvor33 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 15:50] SaurabhSharma-MSFT commented on #50586
@VWFeature Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 15:51] malopMSFT commented on #50527
Hi Cecilia

For SQL, we are only using proxy mode at this point, for heavy applications the performance impact is ~2% on specific scenarios, most of the scenarios have no penalty.
For Cosmos DB when supported by the API type, it's using redirection with no penalty on performance

[2020-03-20 15:52] malopMSFT commented on #50527
PostgreSQL, MySQL, MariaDB are only using proxy mode including the public access method :)

[2020-03-20 15:53] Aus-A-Lot commented on #50576
Thanks so much for the quick and clear answer! That helped a lot.

[2020-03-20 15:54] malopMSFT commented on #30604
Please assign to @altambaw for peering routes

[2020-03-20 15:55] malopMSFT commented on #34813
@allegradomel, can help to follow up

[2020-03-20 15:56] mmacy commented on #47995
@dotnetgator Hi John,

When a PR in the private repo (azure-docs-pr) is merged, and that PR fixes an issue (includes a "Fixes URLTOTHEISSUE" comment), the issue in azure-docs is automatically closed when the PR reviewer (in this case @v-shils) merges it.

It takes some time to make it from master > live, and then there are two publishing events per day - 10AM PST and 3PM PST - after which the chan

[2020-03-20 16:02] malopMSFT commented on #39634
Hi tonyt73

We had this into our bug fixes list, do you mind trying to replicate the issue and see if it's still active
It should be solved by now with one of our previous releases

[2020-03-20 16:04] #50585 closed

[2020-03-20 16:04] malopMSFT commented on #42222
@allegradomel can you help us with a documentation update

[2020-03-20 16:05] malopMSFT commented on #42438
@allegradomel + @altambaw can help with the review

[2020-03-20 16:07] malopMSFT commented on #42671
@RamanDhillon I believe the page has been updated lately, can you help with the review and follow up

[2020-03-20 16:13] henriquebelotto commented on #50354
In the unified.html is works fine, I added the "data-preload" as you can see and then, Azure doesn't change my code later.
<link href="url/css/unified.css" rel="stylesheet" type="text/css" data-preload="true">

However, when it goes to the selfasserted, Azure modifies the code and add this  "crossorigin="anonymous".
<link href="https://caatmemberportalblob.blob.core.windows.net/caatmemberportaltem

[2020-03-20 16:14] henriquebelotto commented on #50354
Also, the CSS files are the templates provided here, I haven't modified them.

[2020-03-20 16:14] malopMSFT commented on #48050
it was super close to GA announcement, already available without preview :)

[2020-03-20 16:17] malopMSFT commented on #48050
#please-close

[2020-03-20 16:17] #48050 closed

[2020-03-20 16:18] henriquebelotto commented on #50354
By the way, when I don't add this "data-preload", I don't see the attribute "crossorigin="anonymous" in my hmtl in the page.

[2020-03-20 16:22] rwike77 commented on #42454
@mlsendian  Closing this issue, sounds like there's no plans to programmatically accessible.  #please-close

[2020-03-20 16:22] #42454 closed

[2020-03-20 16:24] hpsin commented on #43848
Hey @shashishailaj, please assign this to me.

[2020-03-20 16:26] gsaravanan20 commented on #50374
Quick update:
I am using IoT edge for linux

[2020-03-20 16:27] henriquebelotto commented on #50499
@yoelhor thank you for your support.
In fact, I didn't realized that the order (collections -> strings) matter. Now it works.

Regarding your feedback about only override what is needed, I'll check my code to make it cleaner, as you explained. Thank you

[2020-03-20 16:27] pablof300 opened #50587 "Updating Azure VM when certificate is added leads to 'certificateStore' is not allowed."
I am trying to add a certificate to an existing Linux (Ubuntu 18.04) Azure Virtual Machine. I am adding a SSL certificate from my keyvault:

[code]
However, when I run the update, I get the following error:
[code]
This is a Linux VM, so I don't know why Update-AzureRmVM expects a certificateStore?

According to the official doc, Certificate Store parameter is only required for Windows VMs:

https:

[2020-03-20 16:27] mimatn commented on #20737
@JedenFalls I can confirm that your solution works. I had to import the resource stauts before applying the configuration you propose, but after applying it ` az network profile delete --id ...` worked and I was able to delete the affected subnet. Thank you!

[2020-03-20 16:30] #50587 closed

[2020-03-20 16:31] dealancer commented on #50274
@jakaruna-MSFT, @VikasPullagura-MSFT thanks for the explanation.

So is this true for both AzureDisk and AzureFile? If I want volume to be mounted to multiple nodes, (e.g. if my pods running on different nodes), e.g. AzureFile is only an option?

[2020-03-20 16:32] hpsin commented on #29375
Hey all - having your front end app validate the token is not going to help. We call that client side security and it doesn't work. What's the benefit of having the JS running in the attackers browser do the validation? They'll just edit it out or call your API directly with the tampered token.

Your backend app that accepts the token needs to validate the token - that's a hard and fast rule, you

[2020-03-20 16:32] malopMSFT commented on #47610
#please-close

[2020-03-20 16:32] #47610 closed

[2020-03-20 16:33] hpsin commented on #50421
You have to use optional claims for this, not claims mapping.

[2020-03-20 16:34] hpsin commented on #49678
Please assign to me @SaurabhSharma-MSFT

[2020-03-20 16:34] IEvangelist commented on #50535
This has been fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/108438 #please-close

[2020-03-20 16:34] #50535 closed

[2020-03-20 16:34] hpsin commented on #49205
@rwike77 please assign to me

[2020-03-20 16:39] SumanthMarigowda-MSFT commented on #50237
@icelava We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-20 16:39] #50237 closed

[2020-03-20 16:41] paulbatum commented on #36458
So one thing to keep in mind is that the filesystem for a webapp/function app looks something like this:
[code]

When you use run from package, that only replaces the wwwroot folder in this tree. Everything else is provided by the main file system. If you make a consumption or elastic premium function app without WEBSITE_CONTENTAZUREFILECONNECTIONSTRING then the main filesystem is not available ou

[2020-03-20 16:42] SumanthMarigowda-MSFT commented on #50258
@alexvy86  It's in public preview once it's been GA it should be updated, However we have update the article with the Feedback back link.
We announced earlier today the public preview of Active Directory authentication and authorization support for Azure Files. With this feature, just like a traditional on-premises file server, you can domain join your storage account to your regular Active Direct

[2020-03-20 16:44] jfwillia opened #50588 "Required: Reply URL (Assertion Consumer Service URL)"
Reply URL is listed as a requirement in Basic SAML Configuration, but the value is not listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a19b96f1-9291-73c5-0dbe-b9c7008ba7b4
* Version Independent ID: c08afb2c-705f-ee69-7148-a528f3b4cb20
* Content: [Tutorial: Azure Active Directory integration with Qualtrics](

[2020-03-20 16:49] cherylmc commented on #50536
#reassign:charwen

[2020-03-20 16:49] Mike-Ubezzi-MSFT commented on #50152
@jg11jg The document has been updated and the publicly visible copy should reflect these changes in the next 24 hours. Likely sooner.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-20 16:49] #50152 closed

[2020-03-20 16:50] SumanthMarigowda-MSFT commented on #50374
@gsaravanan20  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata  or https://azure.microsoft.com/en-in/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We wil

[2020-03-20 16:50] #50374 closed

[2020-03-20 16:51] SumanthMarigowda-MSFT commented on #50423
@GlobeProgger Thanks for the update! Your feedback has been shared with the content owner for further review..

[2020-03-20 16:51] BharathNimmala-MSFT commented on #50580
@arunrath12 Thank you for your query, we will look into this further and get back to you at the earliest.

[2020-03-20 16:53] BillzGitHub commented on #50546
Here is my **Code**
`import os, uuid
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient

try:
    print("Azure Blob storage v12 - Python quickstart sample")
    connect_str = os.getenv('AZURE_STORAGE_CONNECTION_STRING')

    # Create the BlobServiceClient object which will be used to create a container client
    blob_service_client = BlobServiceClient.from_connection_st

[2020-03-20 16:55] himanshusinha-msft commented on #50252
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-03-20 16:55] #50252 closed

[2020-03-20 16:56] jto-bianchini opened #50589 "Account without MFA"
Hi guys,

I would like to know if after activated external NPA the users without MFA activated will be able to login too?

Thanks!
JB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Integrate RDG with Azure MF

[2020-03-20 17:00] pkshultz commented on #49022
@deepikabandhanadham  Here's an example of adjusting `time()` to reflect a local time zone:
[code]
Keep in mind that this auto-scale formula would need to be adjusted at the start and end of daylight saving time (if applicable).

I've created a PR to add an example to the article.

@VikasPullagura-MSFT, feel free to close.

[2020-03-20 17:01] SumanthMarigowda-MSFT commented on #50555
Regional availability
Azure Files AD authentication (preview) is available in [most public regions](https://azure.microsoft.com/en-us/global-infrastructure/regions/).

Azure Files AD authentication is not available in:

West US
West US 2
East US
East US 2
West Europe
North Europe

If you wish you may leave your [feedback ](https://feedback.azure.com/forums/217298-storage)here All the feedback you

[2020-03-20 17:02] mmacy commented on #47995
@dotnetgator Ah, interesting - without perms in the upstream repo that contains the PR fix, GitHub doesn't display the link.

With perms in upstream repo:
![image](https://user-images.githubusercontent.com/13394541/77187444-ba806400-6a91-11ea-8079-69b2869c0d23.png)

Without perms:
![image](https://user-images.githubusercontent.com/13394541/77187544-e4d22180-6a91-11ea-8062-e58174c134e9.png)

[2020-03-20 17:03] SumanthMarigowda-MSFT commented on #50546
@rishabpoh  Requesting you to please add your comments here

[2020-03-20 17:04] SumanthMarigowda-MSFT commented on #50524
@saikiran-karumuri-jdas

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2020-03-20 17:04] dotnetgator commented on #47995
Thanks! It was just unusual compared to other updates that I had received, and looked like it had been "just closed". my apologies for the confusion.

[2020-03-20 17:05] mmacy commented on #47995
@dotnetgator Oh, and one other tidbit - when you see PRMerger has closed an issue, that means that the edit on the doc was minimal enough that it satisfied the automerge criteria and was automerged by the PRMerger bot when the author signed-off on the PR. When you see a v-dash or other GitHub use has merged the PR, that means it's a large enough edit that it's gone through a human PR review.

[2020-03-20 17:10] nilshedstrom opened #50590 "Error in ARM template for Resource group and resources"
There is an error in the ARM template for 'Resource group and resources'

[code]
The comma should be before the line
"kind": "StorageV2",
not after it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb47179-04d1-7d43-23e0-6203a2bf9d6e
* Version Independent ID: b84265b8-2c7d-6b0a-7f9f-b6332e4368db
* Content: [Deploy res

[2020-03-20 17:11] BharathNimmala-MSFT commented on #50503
@MaximIvanovInternals Thanks again for bringing this to our notice , given that "Form Id" is integer "" might not be required. PR was raised and the changes have been live in the document now.

We will go ahead and close the issue for now, however if you have any further queries please tag us in your reply and will be happy to continue the conversation. Thank you

[2020-03-20 17:11] #50503 closed

[2020-03-20 17:11] smoms opened #50591 "Unable to select role with Snowflake"
I am adding Snowflake. After I select an user the Select Role tile is greyed out. Why? If at this stage the real app's link is not yet given then how does AAD knows which roles are supported by the app? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID:

[2020-03-20 17:12] KranthiPakala-MSFT commented on #50583
@valotee Thanks for reaching out. Could you please elaborate more on this phrase - "_I am able to Dynamics 365 FO but get this error when I try to populate path in the dataset._"

What is the Linked service you are using?
Were you able to test Linked service connection?

Please provide some clarification to better assist on your ask.

Thanks.

[2020-03-20 17:12] BharathNimmala-MSFT commented on #50590
@nilshedstrom Thank you for bringing this to our notice, we will fix the document accordingly.

[2020-03-20 17:13] smoms opened #50592 "Why user is created in two places"
I understand that with Automated user provisioning users from AAD should be automatically provisioned in Snowflake. So why do I need to create the user BrittaSimon@contoso.com also in Snowflake? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5733ec0-25ee-bd16-58d4-6a921f6ab1fd
* Version Independent ID: d80fe5dc

[2020-03-20 17:19] robinsh commented on #36170
Thanks, we're aware. The metrics and diagnostics articles are high on my list for refresh/rewrite.

[2020-03-20 17:22] afratila opened #50593 "Cannot rename a linked service"
Is this functionality (renaming a linked service) something that is planned for the future? Currently all I can find are sketchy workarounds like [here](https://www.connorkirkpatrick.com/2018/06/06/how-to-rename-a-linked-service-in-azure-data-factory/). I would be fine editing the JSON directly if need be, but the ADF UI doesn't allow you to change the name so that isn't an option.

The name box i

[2020-03-20 17:26] lyrana commented on #49956
Hi @fgheysels

/.default can be used to acquire a token for all of the static scopes, and it's by default set up when the Azure AD Resource is registered, you can see example code [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-v1-app-scopes#scopes-to-request-access-to-all-the-permissions-of-a-v10-application).

For Time Series Insights the scope to use is "/user_impers

[2020-03-20 17:26] spelluru commented on #50426
#reassign: spelluru

[2020-03-20 17:27] Karishma-Tiwari-MSFT commented on #50251
Select your VM in the portal. Under DNS name, click Configure.

Click Configure under DNS name

Enter the desired DNS name and then select Save.

Enter a DNS name label for your public IP resource

To return to the VM overview blade, close the Public IP address blade. Verify that the DNS name is now shown.

You can now connect remotely to the VM using this DNS name such as with ssh azureuser@mydns

[2020-03-20 17:28] Karishma-Tiwari-MSFT commented on #50251
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-20 17:28] #50251 closed

[2020-03-20 17:29] xantari opened #50596 "Should have more information on this page about proper setup in .NET Core and DI (Dependency Injection)"
This article doesn't properly point to the Microsoft.Extensions.Azure repo / nuget with an example of proper setup in .NET Core using DI and IAzureClientFactory. This information really needs to be included here...

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Microsoft.Extensions.Azure/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-03-20 17:30] djpmsft commented on #50593
We have no currently plans to do this. The easiest way is to delete and recreate the linked service. If you wish for this to be added or prioritized, feel free to add it to [our feedback forum](https://feedback.azure.com/forums/270578-data-factory)!

As this forum is mainly used for documentation issues, I am going to go ahead and close this issue.

#please-close

[2020-03-20 17:30] #50593 closed

[2020-03-20 17:31] djpmsft commented on #50593
FYI: https://feedback.azure.com/forums/270578-data-factory/suggestions/34444087-implement-functionality-to-rename-linked-services

[2020-03-20 17:33] SaurabhSharma-MSFT commented on #50581
@kelemvor33 The documentation talks about Access Panel which is [here](https://account.activedirectory.windowsazure.com/r#/applications).
![image](https://user-images.githubusercontent.com/38112130/77185513-c28ad480-6a8e-11ea-8b2c-24f246497e08.png)

With the new my App's experience, you can find that under MyApps > My Groups
![image](https://user-images.githubusercontent.com/38112130/77190212-12b9

[2020-03-20 17:41] SaurabhSharma-MSFT commented on #50528
@scootafire To assist you better on your query could you provide us with the link to the document you are referring to ?

[2020-03-20 17:43] rwike77 commented on #49205
#reassign:@hpsin

[2020-03-20 17:43] MarileeTurscak-MSFT commented on #50588
@jfwillia
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 17:43] SaurabhSharma-MSFT commented on #50313
@davidobrien1985 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-20 17:43] #50313 closed

[2020-03-20 17:47] smoms opened #50597 "If we set SSO on an AWS Master/Root Account, would then AAD be federated also with all child AWS accounts?"
If we set SSO on an AWS Master/Root Account, would then AAD be federated also with all child AWS accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutorial: Azure Active Directory single sign-on (SSO)

[2020-03-20 17:50] scootafire commented on #50528
Not sure what document you think I was referring too?  I am informing that these plugins that the Team here has coded are not taking changes when updating the metadata URL parameter.  So steps are we update the Metadata URL but it is expected to pull in a different parameter but it does not and remains the same from previous thus not allowing SSO to work
![image](https://user-images.githubusercont

[2020-03-20 17:54] mumian commented on #50590
@nilshedstrom  - thank you for catching the error.  We will get it fixed later today.

#please-close

[2020-03-20 17:54] #50590 closed

[2020-03-20 17:54] kelemvor33 commented on #50581
When I go to that link, all I see are the standard office apps.  I tried my
Global Admin account and me regular account.  And I don't see the "new
experience" option either.

[image: image.png]

On Fri, Mar 20, 2020 at 12:33 PM SaurabhSharma-MSFT <
notifications@github.com> wrote:

[2020-03-20 18:01] JasonBSteele commented on #50040
That's very interesting

Well that's "fairly" reassuring, but I would have thought that this worth calling out in the docs? (It's taken me a long time to get to this response, and I am sure other users would like to know the situation)

[2020-03-20 18:07] mumian commented on #50539
@edburns - thank you for taking the time to edit the article.  I am in the process of reviewing the PR.

#please-close

[2020-03-20 18:07] #50539 closed

[2020-03-20 18:10] ramadarla opened #50598 "how to add new prefixes to the express route private peering"
I see from vNET gateway propagation there can be up to 200 per circute, but how do i add or remove some prefixes from AzurePrivatePeering routing table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4792b5c-81ee-5619-15bd-cd63aec1f946
* Version Independent ID: 12f9c00f-e6f6-ab76-8d34-b7f5a6b4d15f
* Content: [Azure Ex

[2020-03-20 18:11] #50517 closed

[2020-03-20 18:17] pablof300 opened #50599 "SSL Certificate is not found in /var/lib/waagent/ for Linux Azure VM"
I am trying to add an SSL certificate for my website hosted in a Linux Virtual Machine (Ubuntu 18.04). I added the certificate successfully doing this:

    $certURL=(Get-AzureKeyVaultSecret -VaultName $keyVaultName -Name $key).id
    $vm=Get-AzureRmVM -ResourceGroupName $resourceGroup -Name $vmName
    $vaultId=(Get-AzureRmKeyVault -ResourceGroupName $resourceGroup -VaultName $keyVaultName).Resou

[2020-03-20 18:17] KranthiPakala-MSFT commented on #50517
@lokijota Thanks again for bringing this to our attention. The PR for the fix has been created and it will be merged soon. I am closing the issue based on this update, if there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-20 18:25] BharathNimmala-MSFT commented on #50331
@schittli Thank you for your feedback. To further understand your feedback and route it accordingly so that respective team can evaluate the feedback please share some additional information.

Is the feedback to enhance the document by including the steps to use Get-AutomationPSCredential on desktop version powershell ?

Requesting @MGoedtel to further review this thread . Thanks

[2020-03-20 18:28] paulbatum commented on #36458
Following from my comment above.. I also discovered that the system currently has some inconsistent behavior regarding generating WEBSITE_CONTENTSHARE so that you don't even need to specify it initially. Some of you have been saying that you haven't needed to specify it, while others are getting an error saying its required. As far as I can tell, this behavior works correctly for consumption (i.e.

[2020-03-20 18:28] arunrath12 commented on #50580
Thank You Bharat. I am getting this error while commissioning a new HDInsight Cluster(Cluster_Version-3.6, Spark_Version-2.1). Hope you can help me soon with a concrete reason of failure.

Do let me know in case you need further detail to resolve it.

[2020-03-20 18:33] softwarecraft opened #50600 "Must use exactly the provided template include exact column names"
Please update this page to clarify that file file submission must exactly match the provided template include exact column names.

If not, Azure Portal will give an error msg like:
The csv file you uploaded is not valid. Please verify operation type and correct csv file.
Unknown CSV header found: displayName,userPrincipalName,passwordProfile,accountEnabled . Please remove duplciate columns: userPr

[2020-03-20 18:33] mumian commented on #50580
@arunrath12 - See this helps - http://answers.flyppdevportal.com/MVC/Post/Thread/b08d9bd0-a4a8-4abf-8452-2a524152a0a3?category=hdinsight

[2020-03-20 18:34] mikebudzynski commented on #50565
@oproulx You're still using the preview version of the developer portal. This is how you can migrate to the production version: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#-how-can-i-migrate-from-the-preview-version-of-the-portal

[2020-03-20 18:37] rnielikki commented on #50489
I'm trying to say it works, the mentioned versions are just old. I don't know if the mentioned version can changed automatically to newer version. (Not serious problem, though)

[2020-03-20 18:49] MarileeTurscak-MSFT commented on #50589
@jto-bianchini
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 18:58] NavtejSaini-MSFT commented on #50570
@allan-mobley-jr - Even though the thread has been closed, We can still continue the discussion.
1) We would close the duplicate thread created for this issue. If needed we will re open this issue.
2) The best way to get this resolved is to create the support ticket which you have done.
3) We have insight into the ticket, support personnel has asked more details, which we see you have provided.
4)

[2020-03-20 18:58] NavtejSaini-MSFT commented on #50582
@allan-mobley-jr We are closing this as duplicate - https://github.com/MicrosoftDocs/azure-docs/issues/50570

[2020-03-20 18:58] #50582 closed

[2020-03-20 19:02] mhopkins-msft commented on #50423
@GlobeProgger Thanks for the update! This seems like an edge case that doesn't need to be added to the documentation.

Thanks,
 ~ _Mark_

#please-close

[2020-03-20 19:02] #50423 closed

[2020-03-20 19:06] markjbrown commented on #43088
Hi Van. Our apologies for the extraordinary time it has taken to resolve this. Thank you for your patience.

We would like to resolve this issue but we need to take offline to better do this. I will contact you at your email address on your GitHub profile so we can resolve.

Thanks.

[2020-03-20 19:06] hpsin commented on #47224
#please-close

[2020-03-20 19:06] #47224 closed

[2020-03-20 19:10] #50476 closed

[2020-03-20 19:10] Karishma-Tiwari-MSFT commented on #50587
As you have a MSDN post for this open, we will work with you there. Thanks.

[2020-03-20 19:11] ajlam commented on #50476
@batanun, I have updated the screenshots. These should go live within the next 4-5 hours.

[2020-03-20 19:11] arunrath12 commented on #50580
Checked it, however I am not having any special character in ssh username. Therefore it is not due to username. Something else is causing the issue.

[2020-03-20 19:13] dealancer commented on #50272
Actually I realize that you can bind PV directly to pod or pvc so both options are correct.

[2020-03-20 19:15] arunrath12 commented on #50580
Error log image attached below :
![image](https://user-images.githubusercontent.com/18583797/77198503-163c0300-6b0d-11ea-88ed-0de54b3586bc.png)

[2020-03-20 19:25] Tiger519 commented on #44719
@RohitMungi-MSFT I have been deleting and recreating, making sure only one app is on the app service plan, and ensuring all the resources AND the resource group are in the same region (West US) and I still receive the error. Can we please get this issue reopened and look into the issue? This impacts our entire deployment pipeline.

[2020-03-20 19:28] cijothomas commented on #47902
Functions registers application insights in its own way. The best approach is to stick with what Functions docs state.

[2020-03-20 19:31] tremblaysimon opened #50601 "Make it more clearer if we really need to specify Encrypt=true and TrustServerCertificate=false in connection string"
I don't know if that article is always accurate https://social.technet.microsoft.com/wiki/contents/articles/2763.windows-azure-sql-database-connection-encryption.aspx since it says that connection between Azure SQL and client is always secured (TLS). Reading that page section https://docs.microsoft.com/en-us/azure/security/fundamentals/database-security-overview#encryption-in-motion, I think we ca

[2020-03-20 19:33] markjbrown commented on #50040
Yeah sorry for the delay. Bit backlogged.

Thanks.

[2020-03-20 19:35] BharathNimmala-MSFT commented on #50580
@arunrath12 Thanks for additional information. Please see if below helps

- [HDInsight - ResourceDeploymentFailure](https://stackoverflow.com/questions/47561267/hdinsight-resourcedeploymentfailure)
- In case you are running the commands from On Premise servers - Please make sure the DNS servers are successfully configured , NSG rules and adding the service endpoints for SQL and Stogare could help

[2020-03-20 19:35] Karishma-Tiwari-MSFT commented on #50272
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.
As Vikas hears any other details from the product team, we will be sharing it here.

[2020-03-20 19:35] #50272 closed

[2020-03-20 19:35] markjbrown commented on #31781
@matendie what are the current regions for your account?

[2020-03-20 19:38] Karishma-Tiwari-MSFT commented on #50577
Thanks for the feedback. In the meantime, please refer to this stack overflow post for the steps:
https://stackoverflow.com/questions/45307612/create-an-azure-vm-with-an-unmanaged-disk

[2020-03-20 19:41] mhopkins-msft commented on #50546
Hi @BillzGitHub,

Thank you for pointing this out. The sample code was updated to be more portable across operating systems. It now uses a directory called *data*, which is located in the actual project directory. I've updated the article. It will be published later today.

Thanks!
 ~ *Mark*

#please-close

[2020-03-20 19:41] #50546 closed

[2020-03-20 19:41] tremblaysimon commented on #50601
Reading the other page, with that Caution note, I think it's more clearer that we must specify the connection string parameters to ensure a secure connection...

![image](https://user-images.githubusercontent.com/5879940/77200599-4cec2c00-6ac1-11ea-8f52-e67b8770571d.png)

[2020-03-20 19:53] cijothomas opened #50602 "Document the list of common unsupported technology"
Example: Php Wordpress sites. As they are hosted behind IIS, some minimal Requests gets monitored, but mostly incorrect as well.
Its best to call out - WordPress and other php sites are NOT supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-

[2020-03-20 20:00] spelluru commented on #38821
I can't find this statement. I guess that the article is already updated.

#please-close

[2020-03-20 20:00] #38821 closed

[2020-03-20 20:00] #50406 closed

[2020-03-20 20:02] henriquebelotto opened #50603 "Ajax call "error" response blocks the execution of Azure B2C"
Hello,

I'm using an ajax call inside a Javascript in my selfasserted page. When this call returns an error (Bad Request, for example), then Azure basically stops as well.

In my page, I have a simple "checkbox" and this Ajax call replaces the text on this checkbox, like the example provided in this page. If the ajax call doesn't work, then the text on the checkbox stays as it was originally. But,

[2020-03-20 20:03] KranthiPakala-MSFT commented on #50406
@malthe Thanks again for the feedback. The PR for the fix has been created and it will be merged soon. I am closing the issue based on this update. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-20 20:03] spelluru commented on #12692
#please-close

[2020-03-20 20:03] #12692 closed

[2020-03-20 20:05] spelluru commented on #15455
We have this statement:

"The WinRM artifact requires a hostname as a parameter, which should be the **fully qualified domain name (FQDN)** of the VM."

#please-close

[2020-03-20 20:05] #15455 closed

[2020-03-20 20:11] DrewBino opened #50605 "Is there a way to assign a connector to multiple groups?"
Say I want a site-specific connector group for one application, but then I want a multi-site connector group for high availability of a different application? How can that be accomplished?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b1066f-7a38-736d-93af-2aaceb2b503d
* Version Independent ID: ebf0c93f-f173-5853-d6

[2020-03-20 20:12] henriquebelotto commented on #50603
I'm closing this.
There was a problem with my JavaScript and that was holding up Azure.
It's fine now. I'm closing this thread.

[2020-03-20 20:12] #50603 closed

[2020-03-20 20:14] PeterCLu commented on #50430
@BillmanH , thanks for your report! The link has been fixed, you should see the change live in a few hours. #please-close

[2020-03-20 20:14] #50430 closed

[2020-03-20 20:15] rtaylor72 commented on #39634
I just got this error as part of my build process.  I can no longer run "Set-AzVirtualNetwork" on a loaded vnet config (Get-AzVirtualNetwork) if that vnet has a subnet with a private endpoint attached to it.  I have also narrowed it down to when I run "Set-AzVirtualNetworkSubnetConfig" with the "-PrivateLinkServiceNetworkPoliciesFlag 'Enabled'" setting causes the error.

[2020-03-20 20:20] wpbrown opened #50606 "Incorrect behavior description"
"When resultTruncated is true, the $skipToken property is set in the response." is not correct.

When you get more results either from using top or the default 1000 limit, you get a skipToken and resultsTruncated = false. resultsTruncated is only true when paging isn't possible (because id is not projected).  If resultsTruncated is true, there is no skipToken.

---
#### Document Details

⚠ *Do not

[2020-03-20 20:21] FlavioDiasPs opened #50607 "Confusing"
It is mixing examples and doesn't stick on something. This way we can't have a good understanding of what is happening and how to do the whole thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1d067e9bba5e
* Content: [Developer's

[2020-03-20 20:25] MarileeTurscak-MSFT commented on #50591
@smoms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:28] #50144 closed

[2020-03-20 20:29] MarileeTurscak-MSFT commented on #50592
@smoms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:29] NavtejSaini-MSFT commented on #50552
@rhuanbarreto We are checking this and we will get back to you.

[2020-03-20 20:29] BreakingBI opened #50609 "Awkward Flow in Section 3 - Search an Index"
The flow of steps in Section 3 - Search an Index is awkward for someone who is simply following the steps without a strong understanding of how the process works.  They create the searchstring value, but it doesn't get used.  Instead it immediately gets replaced by a different searchstring, which is used.  Perhaps taking the text from Step 2 and adding it to the set of Options in Step 5 would crea

[2020-03-20 20:31] Ajay-Changulani commented on #48715
Hello, any update on this?

[2020-03-20 20:31] NavtejSaini-MSFT commented on #50560
@Houuse We are checking this and will get back to you.

[2020-03-20 20:32] MarileeTurscak-MSFT commented on #50597
@smoms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:33] MarileeTurscak-MSFT commented on #50600
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:34] NavtejSaini-MSFT commented on #50571
@fleed We are checking this and we will get back to you.

[2020-03-20 20:35] MarileeTurscak-MSFT commented on #50601
@tremblaysimon
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:35] MarileeTurscak-MSFT commented on #50605
@DrewBino
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-20 20:40] Mike-Ubezzi-MSFT commented on #50279
@Bastien-Brd Apologies for the delay in responding to your inquiry. I have engaged the content author and the product group to get you the correct information.

[2020-03-20 20:44] DCtheGeek commented on #50606
#assign:DCtheGeek

[2020-03-20 20:44] DCtheGeek commented on #50606
@wpbrown Thanks for the feedback!  I'm validating with the engineers and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-03-20 20:45] algattik opened #50610 "Which extra for Databricks with AutoML?"
https://docs.microsoft.com/en-gb/azure/machine-learning/how-to-configure-environment#azure-databricks reads
[code]

but https://docs.microsoft.com/en-us/python/api/overview/azure/ml/install?view=azure-ml-py#advanced-install-extras reads:

you should use the `automl_databricks` extra

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-20 21:00] mchudinov commented on #50452
Thank you!

[2020-03-20 21:00] #50452 closed

[2020-03-20 21:01] smoms commented on #29375
@hpsin well this depends on the OIDC flow. And the spec is clear that client MUST validate token:
https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation

It is seprate discussion that malicius user are free to create "bad" apps for its (bad?) users; however still the app will never be able to access backends.
On the other end a "good" and protected apps should make sure that token

[2020-03-20 21:01] KranthiPakala-MSFT commented on #50405
@singhalsunil065 The doc has been recently updated with a video which shows a demonstration on how to create dependent pipelines in your Azure Data Factory using tumbling window trigger.

https://channel9.msdn.com/Shows/Azure-Friday/Create-dependent-pipelines-in-your-Azure-Data-Factory

Or

https://www.youtube.com/watch?v=4A4lv5XGI98

Hope this helps to make thing clear. Let us know if you have an

[2020-03-20 21:02] Karishma-Tiwari-MSFT commented on #50510
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-20 21:02] #50510 closed

[2020-03-20 21:03] Karishma-Tiwari-MSFT commented on #50444
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-20 21:03] #50444 closed

[2020-03-20 21:04] DCtheGeek commented on #50606
@wpbrown Looks like you are correct! Thanks for pointing this out, I'll be working to correct it.  Once that PR is merged (which happens prior to publishing), this issue will automatically close.  Thanks again!

[2020-03-20 21:04] fgheysels commented on #49956
Thanks for the info @lyrana

The code that you've posted is exactly what I have right now as well.  (Note that the `resourceId` in the code above should have the value `https://api.timeseries.azure.com/`, otherwise you'll get an Unauthorized back when querying TSI  (notice the trailing forward slash) )

However, when I use the access token that I've acquired by this code, and want to retrieve some

[2020-03-20 21:04] lastcoolnameleft commented on #50274
@dealancer This is mostly relevant for AzureDisk because they can only be attached to one node at a time.  AzureFile can be attached to multiple nodes at the same time, so no migration of the disk is necessary.  And yes, your second question is correct:  If you want pods on different nodes to access the same data volume, AzureFile is the only supported option.  (There are other options, but not 1s

[2020-03-20 21:10] Karishma-Tiwari-MSFT commented on #50299
Are you running these as one command?

[2020-03-20 21:18] annerajb commented on #46337
Any update on this?

[2020-03-20 21:19] hpsin commented on #29375
Note the requirements you linked:

We trust the TLS connection in SPA scenarios.  There is no value in having the client-side application validate the tokens, because the "bad user" of the "good app" will simply edit around that code.  The app JS isn't protecting anything that a malicious user doesn't already have access to, and if an attacker has taken over the TLS connection the user is already

[2020-03-20 21:21] bherrsk commented on #50453
So to make matters worse, I've done a restore test and can confirm that the time zone is not being picked properly.

If I pick 2:18PM Local in the PIT recovery window, the restore runs, and the UTC timestamp for recovery point in time translates to 1:18PM. This means the GUI is entirely wrong.

This is a significant issue.

[2020-03-20 21:25] MarileeTurscak-MSFT commented on #50396
Hi @JeremyTBradshaw ,

Thank you for this detailed feedback. I agree that this could be clearer and I think it's a good idea to list that table with the checkmark listing whether the app uses modern authentication. I made a pull request to update the language and have passed your feedback along to the content author, @MicrosoftGuyJFlo , as well.

https://github.com/MicrosoftDocs/azure-docs-pr/pull

[2020-03-20 21:25] #50396 closed

[2020-03-20 21:26] annerajb opened #50611 "Documentation on how to implement AAD Authentication at the protocol level?"
It seems the Azure VPN Client is only supported for Windows I would love it to be supported across multiple platforms and would be willing to implement it if it the changes where better documented.

Could the docs.microsoft.com page or this github issue explain a bit what's required/ what changes from the regular openvpn protocol implementation?

Specifically what's new / unique of the AAD authent

[2020-03-20 21:28] Mike-Ubezzi-MSFT commented on #50279
@Bastien-Brd To make your scenario plausible, there is a feature that would need to be implemented in the Azure Database for PostgreSQL managed service. The solution is to use private links with your PostgreSQL VNET: [Private Link for Azure Database for PostgreSQL-Single server](https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-private-link) Did you manage to see

[2020-03-20 21:29] #50606 closed

[2020-03-20 21:29] Mike-Ubezzi-MSFT commented on #50364
@Vijaydaswani Where you are to get a support request filed for this issue?

[2020-03-20 21:33] knuthalvor opened #50612 "Not able to change colors of chart lines"
For some reason I'm not able to get the color picker up when pressing the color bar on the legend. Is this feature removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d-1388-1cc3-01c009b1d2ec
* Content: [Advanced features of Azure Metrics Ex

[2020-03-20 21:34] tingram-hp opened #50613 "Status = VPN Platform did not trigger connection."
When attempting to connect through Azure VPN Client, I received the following error: "Azure VPN: Dialing VPN connection &lt;VPN Connection Name&gt;, Status = VPN Platform did not trigger connection."

I would also see the following error in Event Viewer from RasClient: "The user &lt;User&gt; dialed a connection named &lt;VPN Connection Name&gt; which has failed. The error code returned on failure

[2020-03-20 21:35] kr-arjun opened #50614 "Typo in DB_HOME variable"
driver_conf="$DNB_HOME/driver/conf/config.conf"

The DNB_HOME should be corrected to DB_HOME.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ff50d07-e0de-ebc3-7161-86abba8a84b5
* Version Independent ID: e756df59-ceeb-abe2-c3f2-9c5089028cab
* Content: [Encrypt traffic between cluster worker nodes - Azure Databricks](ht

[2020-03-20 21:37] chadmath commented on #50613
Great feedback!!! Will work on getting this updated.

[2020-03-20 21:38] SaurabhSharma-MSFT commented on #50528
@scootafire I was referring to any Microsoft documentation if you are following any.
@jeevansd  Can you please help here ?

[2020-03-20 21:38] aahill commented on #50544
Thanks @RohitMungi-MSFT and @benpeterswake - I've merged the change in, and it should be live in the documentation shortly. #please-close

[2020-03-20 21:38] #50544 closed

[2020-03-20 21:41] chadmath commented on #50613
@cherylmc & @anzaman - Great feedback! Can we update pls.

[2020-03-20 21:42] benpeterswake commented on #50544
Thanks guys!

On Fri, Mar 20, 2020 at 5:38 PM aahill <notifications@github.com> wrote:

[2020-03-20 21:43] mwc360 opened #50615 "Please add syntax for dropping primary keys"
Please add syntax for dropping primary keys. This isn't clear and it appears the normal syntax doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413435de-1a55-d8bf-d15d-798720245ff0
* Version Independent ID: 24ac1b6e-2b4c-995d-8ca1-77ab644ebbe4
* Content: [Primary, foreign, and unique keys - Azure SQL Data Wa

[2020-03-20 21:58] femsulu commented on #50563
Hi @manvendrautralia, Happy to help! Please share a link to the documentation you are referencing and we can investigate further.

[2020-03-20 22:03] femsulu commented on #50575
Hi @3vi1 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-20 22:07] ncarandini opened #50616 "Can you add a demo with ASP.NET Core Web App that calls a ASP.NET Core Web API?"
Reading about changing web.config looks like a bit legacy, these days.
.NET Core 3.1 is LTS and we're moving to .NET 5...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469d2731-66dd-4490-89bd-4a36f893e7be
* Version Independent ID: 11f4ae00-d1e9-1355-a0c3-2435f90b17d8
* Content: [Tutorial: Grant access to an ASP.NET we

[2020-03-20 22:18] lisaguthrie commented on #50526
Hi @softchris, the need to surround the values with double quotes is dependent on the shell used. The article does have a note in there stating that it may be necessary:

![image](https://user-images.githubusercontent.com/26001667/77210335-f6c9b980-6abd-11ea-89f6-71b8af389f84.png)

Is there additional guidance that you think would be helpful?

[2020-03-20 22:18] rolyon commented on #50296
Hi @vaishnavk
We've made some updates to this article. Let us know if you have any additional feedback.
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-rest
thanks

[2020-03-20 22:18] rolyon commented on #50296
#please-close

[2020-03-20 22:18] #50296 closed

[2020-03-20 22:20] femsulu commented on #50599
Hi @pablof300, Happy to help! Please share a link to the Azure documentation you are referencing and we will investigate further.

[2020-03-20 22:23] pablof300 commented on #50599
@femsulu I was following this doc page: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server

They use cloud-init since they are using a nginx web server, but I am using docker, so I will be launching my server with something like

`docker run -v /var/lib/waagent/yourcert:/container/to/path/cert -d --name containerName yourImage`

For that I need to find where m

[2020-03-20 22:23] sdgilley commented on #50481
@ShanmugaSP thanks for your question.  There isn't a simple answer.  W@e're adding an article to address this very topic.

In the meantime, here's the short answer: It depends on what compute target you are using.  Azure Machine Learning compute clusters are created by default with a min of 0 nodes.  This means that when not in use the you won't have any VMs to pay for.  Other training targets don

[2020-03-20 22:23] #50481 closed

[2020-03-20 22:23] SaurabhSharma-MSFT commented on #50412
@chrsdrhm yes, that is correct as policy doesn't differentiates between mobile or other devices.

[2020-03-20 22:28] KranthiPakala-MSFT commented on #50614
@kr-arjun Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate

[2020-03-20 22:29] MarileeTurscak-MSFT commented on #50588
Thank you! I made a pull request to update the screenshots and add instructions around the Reply URL. https://github.com/MicrosoftDocs/azure-docs-pr/pull/108535

[2020-03-20 22:29] #50588 closed

[2020-03-20 22:32] femsulu commented on #50609
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-20 22:38] sayanghosh123 opened #50617 "ETA for Azure Migrate current version and REST API"
Hi,

Is there an ETA for Azure Migrate REST API to expose the projects, assessments, etc. done by the current version of Azure Migrate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d18912e1-fcca-5ea6-869c-10548a5bde04
* Version Independent ID: f06260f5-3204-57a7-0ceb-ddb12cabd81d
* Content: [About Azure Migrate - Azu

[2020-03-20 22:39] MicrosoftGuyJFlo commented on #49566
#please-close

[2020-03-20 22:39] #49566 closed

[2020-03-20 22:40] Vijaydaswani commented on #50364
@Mike-Ubezzi-MSFT  I will raise the support request, involved in some other work.

Thanks for your help.

[2020-03-20 22:41] kobulloc-MSFT commented on #50602
@cijothomas Thank you for bringing this to our attention!  I'm going to assign this to the document author.

[2020-03-20 22:59] SaurabhSharma-MSFT commented on #50581
@kelemvor33 I am unable to see your image.  Can you please try to send the image again on GitHub issue.

[2020-03-20 23:10] Mike-Ubezzi-MSFT commented on #50364
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-20 23:10] #50364 closed

[2020-03-20 23:14] MarileeTurscak-MSFT commented on #50616
@ncarandini
Thanks for your feedback! I have sent your idea to the content author - @msmimart can we add something like this?

[2020-03-20 23:14] lyrana commented on #49956
Hi @fgheysels first wow thanks for the code-review, I just gone as far as getting the token earlier... I updated my code w/ trailing slash, then used my token in Postman and was able to make requests, so I think if you don't mind doing a sanity check and [open ](https://jwt.io/) both tokens to compare them--is the same OID present? Are both API calls to the same TSI environment?

[2020-03-20 23:24] #50275 closed

[2020-03-20 23:26] TravisCragg-MSFT commented on #50564
@Dolvaran I was able to add a HTTP rewrite rule without an issue in UK south. Make sure that you are doing this with a V2 SKU.

To pursue this further, your best bet is to create a support request. If you do not have a support plan, please email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support request for you to troublesho

[2020-03-20 23:26] #50564 closed

[2020-03-20 23:51] TravisCragg-MSFT commented on #50598
@ramadarla The routes for Azure Private Peering are advertised from your on-prem edge router via BGP when you set up the peering.

please let me know if you need more information.

[2020-03-20 23:51] Amarcoccia commented on #41184
Same situation... Storage account and ADDS don't work yet.

[2020-03-20 23:54] TravisCragg-MSFT commented on #50611
@annerajb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-21 00:25] tfitzmac commented on #48270
@torfulle - thanks for this feedback. I have submitted an update to include subscription tagging. It should get published Monday AM.

[2020-03-21 00:25] tfitzmac commented on #48270
#please-close

[2020-03-21 00:25] #48270 closed

[2020-03-21 00:29] tfitzmac commented on #49532
@g-petre - I have submitted an update to the article to show these new commands. You can now update tags without using Set-AzResource. Hopefully, that fixes the scenarios you described.

The update will get published Monday AM.

[2020-03-21 00:29] tfitzmac commented on #49532
#please-close

[2020-03-21 00:29] #49532 closed

[2020-03-21 00:40] TravisCragg-MSFT commented on #50536
@kylecweeks I can confirm that this is a limit with Azure Bastion, and we will be updating the docs as well.

[2020-03-21 00:52] TravisCragg-MSFT commented on #50468
@jinzejian Great point!

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-21 01:00] dataslicer opened #50618 "Private Link Service availability for Azure Cache Premium?"
Congrats on the recent GA of Azure Private Link for Azure Services.
What is the plan and availability of support for Azure Cache Premium?
Are there any workarounds available until the availability date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f10

[2020-03-21 01:03] TravisCragg-MSFT commented on #50240
@qhaitoNNV Unfortunately we do not have published documentation for legacy SKUs, and the only guarantees we give are the ones on this page.

It is possible for different IPsec combinations to have a slightly different throughput, but we only guarantee the values stated on this page.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2020-03-21 01:03] #50240 closed

[2020-03-21 01:11] SubhashVasarapu-MSFT commented on #50618
@dataslicer , We are looking into this query and will update you as soon as possible.

[2020-03-21 01:14] cijothomas opened #50619 "Re-write this entire page."
The instructions in the github page for .net logging is more explanatory than this page.
https://github.com/microsoft/ApplicationInsights-dotnet/tree/develop/LOGGING

Also separate out java , phyton into their respective changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Vers

[2020-03-21 01:18] cijothomas commented on #50363
I fixed it with a PR to private repo. closing.

[2020-03-21 01:18] #50363 closed

[2020-03-21 01:34] Mike-Ubezzi-MSFT commented on #50567
@dArignac Thank you for bringing this to our attention. We are investigating and will update you when we have accurate information to share.

[2020-03-21 01:54] pzerger commented on #32474
You have an extra word in "automatically generate incidents in Azure Sentinel automatically". Drop the first or last occurrence of "automatically" to correct.

[2020-03-21 02:10] femsulu commented on #50617
Hi @sayanghosh123 , we are currently investigating and will get back to you shortly.

[2020-03-21 02:13] femsulu commented on #50612
Hi @knuthalvor  , we are currently investigating and will get back to you shortly.

[2020-03-21 02:19] ggailey777 commented on #50324
Thanks @paulisfluent for your feedback on this article. I can see why there is confusion. This article is more in the reference style where each element is an H2 regardless of the structure in the JSON. If we followed the JSON with the Headings, many items would disappear from the right-nav.

\+ @craigshoemaker what are your thoughts about this?

[2020-03-21 02:58] GiftA-MSFT commented on #50610
@algattik we will review your feedback and get back to you shortly. Thanks.

[2020-03-21 03:18] mike-urnun-msft commented on #50607
@FlavioDiasPs Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-21 03:55] BharathNimmala-MSFT commented on #50572
@XzeroR3 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-21 03:57] BharathNimmala-MSFT commented on #50578
@panoschatz Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-21 04:14] dragav commented on #50498
Short answer: yes.

An VMSS MI represents the identity of that VMSS as an Azure resource. This functionality is implemented by the corresponding resource provider, Compute.
An SF MI represents the identity of that SF app as, again, an Azure resource. The two MI implementations are completely separate/independent of each other.

[2020-03-21 04:52] Samy99999 opened #50620 "ForEach fails"
I followed the instructions as per the Doc., but i'm getting an error in the ForEach process :

ActivityName         : IterateSQLTables
ActivityType         : ForEach
PipelineRunId        : 1ade5a98-6212-4710-bba0-345981275aea
PipelineName         : IterateAndCopySQLTables
Input                : {ItemsCount}
Output               : {}
LinkedServiceName    :
ActivityRunStart     : 3/21/2020 4:29:21

[2020-03-21 06:07] JennyLawrance commented on #49245
@jlorek If you can share your app name where you are seeing the 503, I can help get to the bottom of this. Technically, Web sockets is supported for App Service Linux and the WebSocket-Extensions issue also should no longer be happening.

Is there anything more complex to try to repro this problem after deploying the default Blazor project app? I just tried to deploy a sample, and it loads for me

[2020-03-21 06:11] arowse-pfl opened #50622 "Data Flow Sink with derived column output without root element"
How is one supposed to output the entirety of the derived column as described here without the contents being wrapped in another JSON object?

Example: if I derive an object of {a:"b"} I want to output as {a:"b"}

It seems i can output the derived column, but i have to map it to some sort of key value (example: "c"). Data Flow then proceeds to sink a JSON object with format of {c:{a:"b"}} to my fi

[2020-03-21 06:23] Karishma-Tiwari-MSFT commented on #49022
Thanks @pkshultz

[2020-03-21 06:23] #49022 closed

[2020-03-21 06:50] tbtmuse opened #50623 "SAS URLS"
I have searched but have not been able to find an explanation as to why an array of SAS URLS is returned, May you kindly explain why multiple SAS URLS are returned, every tutorial and example I find only makes use of the first URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d08723a0-f42c-7a2f-efff-828d745e4ebd
* Ve

[2020-03-21 06:50] arunrath12 commented on #50580
I tried rerunning the same pipeline and cluster got created without any deployment issue. Not sure what was impacting yesterday. May be yesterday there was some issue at cloud provider end.

Thank You everyone for your try to resolve the issue.

Would definitely list down the possible reason for such deployment errors that I researched from internet. They are :-
1. Trying to deploy a cluster of mo

[2020-03-21 06:50] #50580 closed

[2020-03-21 06:51] BharathNimmala-MSFT commented on #50596
@xantari Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-21 06:53] BharathNimmala-MSFT commented on #50580
@arunrath12 Thank you for your help and sharing your experiences with broader community.

[2020-03-21 06:55] ramadarla commented on #50598
So that confirms we can not update new prefixes manually through Azure..correct

[2020-03-21 10:15] theheatDK opened #50625 "How to list all directories for an organization?"
Hi,
After you have created multiple directories for an organization, how do you list all directories for an organization?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & cre

[2020-03-21 10:19] ChrisTav424 commented on #49746
Thanks @Raymond78, switching to HTTP worked for me too. I'm assuming the only difference is that it doesn't wait for the job to be successful before it shows as 'successful' like a webhook would?

[2020-03-21 11:09] algattik opened #50626 "First read "Create a basic controller""
It would be useful to direct readers to first read https://docs.microsoft.com/en-us/azure/aks/ingress-basic, as it introduces concepts used here, such as the nginx ingress controller chart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-0fb1-f089-3f7ca4fad729
* Version Independent ID: 929253d7-c763-6429-5

[2020-03-21 11:16] KalyanChanumolu-MSFT commented on #50615
@mwc360 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-21 11:20] KalyanChanumolu-MSFT commented on #50620
@Samy99999 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-21 11:22] KalyanChanumolu-MSFT commented on #50622
@arowse-pfl Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-21 11:25] KalyanChanumolu-MSFT commented on #50623
@tbtmuse Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-21 11:26] KalyanChanumolu-MSFT commented on #50625
@theheatDK Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-21 11:28] KalyanChanumolu-MSFT commented on #50626
@algattik Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-21 11:34] crgarcia12 opened #50627 "what about running locally?"
There should be a section on running app insights locally (which packages to include, where to put the key, etc)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.

[2020-03-21 11:40] JasonBSteele commented on #50040
Hi @markjbrown, I quite understand, it really wasn't a complaint, I was attempting to point out that without the guidance in the docs others, and MSFT associates, will also spend this time to get to the same conclusion . Many thanks

[2020-03-21 12:18] mu88 opened #50628 "Use VM on a regular basis"
I'm thinking about moving my development environment over to Azure. As far as I understand, I need a VM with sufficient performance and then I can install the Visual Studio base image. But what happens if I install extensions like ReSharper into Visual Studio and do a restart? Will my Visual Studio configuration with the installed extensions still be there or do I have to install them again?
Or in

[2020-03-21 12:32] sayanghosh123 commented on #50617
Thanks. To add more context, the current API queries
'Microsoft.Migrate/projects/' which is really the old migrate projects.

It would be great to have 'Microsoft.Migrate/migrateprojects' data via the REST API

[2020-03-21 13:00] smoms commented on #29375
The specification states that app must validate the token. So I still expect the libraries does that job. Also because a "good app" cannot be compromised by a malicious user. I struggle to see how e.g. a Web App can be compromised on the fly.
The Implicit Grant flow threats are well documented:
https://tools.ietf.org/html/rfc6819#page-37
In such description the threats are related to other types o

[2020-03-21 13:05] josedbaez opened #50629 "Azure Migrate link is incorrect"
Azure migrate link in this page is incorrect. Should point to: https://docs.microsoft.com/en-gb/azure/migrate/migrate-services-overview

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7451c574-c14d-3163-c964-bf0ec676d67f
* Version Independent ID: 27fce11f-cdbd-7c4f-a550-c7d402165454
* Content: [Optimize your cloud inves

[2020-03-21 13:18] raymondd78 commented on #49746
@ChrisTav424 Yes all jobs show as succesfull. But as the logic app call's a webhook of a runbook you can check the status of the runbook.

[2020-03-21 13:29] Benjiiim commented on #41878
Hi @qianw211.
It doesn't seem resolve to me as the roadmap table is still embeded in a picture, not editable, not searchable, not accessible, ...
Can you please reopen this issue?

[2020-03-21 13:45] DashleenBhandari-MSFT commented on #50627
@crgarcia12 , Thank you for raising the issue. We will investigate and update you.

[2020-03-21 13:45] hubbardw opened #50630 "All Users Group"
We enabled the "All Users" group in AAD some time ago and now it appears that the setting to disable the group no longer exists under AAD-&gt;Groups-&gt;General. How can we disable this group? It appears that the group is adding in external users as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1

[2020-03-21 13:46] DashleenBhandari-MSFT commented on #49037
@gjj , I will go ahead and close this issue. Feel free to reopen in case you need further help.

[2020-03-21 13:46] #49037 closed

[2020-03-21 13:55] hubbardw commented on #50630
To answer my own question, I had to make myself an owner of the "All Users" group in order to delete it.

[2020-03-21 14:10] KrishnaG-MSFT commented on #50603
@henriquebelotto Gald to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-21 14:12] KrishnaG-MSFT commented on #50584
#test-issue

[2020-03-21 14:13] KrishnaG-MSFT commented on #50585
#test-issue

[2020-03-21 14:15] KrishnaG-MSFT commented on #50629
@josedbaez Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-21 15:07] phenixita opened #50631 "The ClusterRoleBinding doesn't work with the User Principal Name"
If I use the User Principal Name inside the basic-azure-ad-binding.yaml file I don't get the correct permissions (I can't list the nodes). If I set the the object-id of my user it works correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff
* Version Independent ID: 3611b478-6df6

[2020-03-21 15:30] nelsonpv commented on #50498
Thanks for the response!

[2020-03-21 15:30] #50498 closed

[2020-03-21 16:12] Vikasjx opened #50632 "Backend Custom port"
What if the web application running on backend pool servers is running on custom port say 8080 for http or 8443 for https. Please also explain scenario for backend custom port. Health check always fails if backend is using custom port. If it is not supported then update in this article please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-03-21 16:19] DixitArora-MSFT commented on #50337
@ivan-sam I have assigned this to content author for further review and update as appropriate.

[2020-03-21 16:29] jasonyslai commented on #50435
@CeciAc Hi I have followed this tutorial. Try to replace the connection string before puslish backend project to azure.
![image](https://user-images.githubusercontent.com/958382/77231129-dc81ff80-6bd3-11ea-9a74-f85461ad220a.png)

[2020-03-21 16:33] jzhouw opened #50633 "LiveEvent.DeleteAsync error of Forbidden"
the code works ok with same configuration on CreateAsync/GetAsync methods on LiveEvents but failed on DeleteAsync
[code]

[2020-03-21 17:26] wupaz opened #50634 "Didn't work with Remote Desktop App (UWP)"
Could you add a note this feature didn't work with your Remote Desktop App (UWP) I lost many hours to try.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Sign in to Windows virtual machine in Azure using Azur

[2020-03-21 17:49] AshV opened #50635 "Is this going to deprecate?"
Is this feature going to deprecate on May 1, 2020 as mentiones on https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248e65a4-a6cf-994a-afda-6f0fd2b434e1
* Version Independent ID: 37ded9c0-45fe-9e8a-f4d8-445a

[2020-03-21 18:17] mocleiri opened #50636 "Document that backend needs to expose anonymous endpoint for health check"
At work we had problems putting an application gateway in front of an ILB ASE because the app inside was using basic authentication and returning 401 on the health probe checks.

It would be useful to call out in the documentation that the backend application should expose url that can be accessed anonymously.

For us we changed the health check to interpret 401 authorization failed as a successfu

[2020-03-21 18:41] nelsonpv commented on #50498
@dragav - Today AzureServiceTokenProvider relies on the VMSS Managed Identity. There are production services that use this identity to make downstream calls to Key Vault for instance.

As per the doc, at the end of the preview period, the SF MI would be integrated with this class and it would introduce a breaking change at that point, therefore, it would be great to call this out in the doc.

Thou

[2020-03-21 18:58] AjayKumar-MSFT commented on #49245
Thanks @JennyLawrance for your help and comments.
@LANSoftwareentwicklung, @ameyakarve, as Jenny requested, could you please share one of the WebApp name directly here or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

Default Blazor app works for us, if there are any additional/complex steps that you're configuring and want to share th

[2020-03-21 19:41] dotnetgator opened #50638 "Confused about "Persist Claims" section"
I am not quite sure I grasp the concept being explained in the Persist Claims section: https://docs.microsoft.com/en-us/azure/active-directory-b2c/self-asserted-technical-profile#persist-claims

Does this imply that if a PersistClaims (or is it PersistedClaims) section is included in a Self-Asserted TP, any claims listed in this section are automatically written to Azure AD storage? Is there any g

[2020-03-21 19:46] dotnetgator opened #50639 "What are the "rules" for claims collected in unifiedssp?"
It seems that the unifiedssp and unifiedssd pages have some different behaviors when it comes to choosing what claims will be presented and/or collected on the page. Is it possible to collect more than just username/password for a signin (for example, Delta Airlines collects Username, Password, and Last Name on their site's page for some sign-in operations.) Is there guidance for what claims get w

[2020-03-21 20:09] axisc commented on #49729
#please-close

[2020-03-21 20:09] #49729 closed

[2020-03-21 20:26] JohnDelisle opened #50640 "Where is Spot pricing? I cannot find it anywhere!"
Where are you hiding Spot pricing?

Also, more specifically, how can I retrieve Spot pricing programatically, as an EA customer?  I need this information to inform spot purchases.  The entire point is cost-optimization of non-persistent workloads.  That implies a need to have cost data to inform spot instance decisions.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-03-21 20:28] JohnDelisle opened #50641 "Programatic access to spot pricing"
Which API provides spot pricing data?  I need this to inform spot purchases.  Specifically, for EA customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bcebc93-3efa-b89a-e348-cb6605dbac9e
* Version Independent ID: dfae3da1-d422-f1ff-44da-2a2a6e553f9a
* Content: [Use Azure Spot VMs - Azure Windows Virtual Machines

[2020-03-21 20:42] yoyotam opened #50642 "azure-vote-hpa.yaml file is missing three dashes ---"
the "kubectl apply" ignores the second part of the file because of the three dashes missing, so azure-vote-front-hpa won't be created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c78ddb5
* Content: [Kubernetes on Azure tutoria

[2020-03-21 21:03] vladik-hbinov commented on #47676
Found an option doing what I was looking for on .net core after creating this thread https://social.msdn.microsoft.com/Forums/en-US/4334293a-1f67-4a5f-81ce-2082fbac3bc5/azure-active-directory-with-mfa-azure-sql-database-connection-string and getting an answer from Mike Ubezzi who pointed me to the right direction also and this document https://docs.microsoft.com/en-us/azure/app-service/app-service

[2020-03-21 21:03] femsulu commented on #50633
Hi @jzhouw, happy to help! Please share a link to  the Azure documentation you are referencing so we can investigate further?

[2020-03-21 21:11] wrprice opened #50643 "Document unmodifiable fields"
I'm used to incrementing the zone SOA serial number when making record changes. The Private DNS Zone REST APIs document the `SoaRecord.serialNumber` field, and PUT operations accept arbitrary values, but the `serialNumber` field appears to be forced always to one(1).  The portal UI shows the field as editable as well, but newly saved values for this field are likewise ignored.

Please document thi

[2020-03-21 21:40] femsulu commented on #50628
Hi @mu88 Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-21 21:44] femsulu commented on #50631
Hi @phenixita , Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-21 21:51] femsulu commented on #50640
Hi @JohnDelisle -  Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 21:52] femsulu commented on #50641
Hi @JohnDelisle - Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 21:54] dragav commented on #50498
@nelsonpv not sure why integrating with AzSvcTokenProvider would constitute a breaking change? You control at which level of containment a resource is being assigned an identity (VMSS, SF), and the integration with AzSvcTokenProvider is meant to isolate the code from that. If anything, it allows you to run the same code in different forms of hosting (directly on VMSS, as a WebApp, an Az Fn or an A

[2020-03-21 21:55] femsulu commented on #50642
Hi @yoyotam, Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 22:33] nelsonpv commented on #50498
Thanks for the detailed response. I would like to clarify the behavior for the below scenario.

If separate managed identities are assigned to SF app and underlying VMSS resource where the code actually runs, which one would AzSvcTokenProvider use? SF app or the VMSS one?

[2020-03-21 22:34] femsulu commented on #50630
Hi @hubbardw Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 22:41] femsulu commented on #50631
adding @MarileeTurscak-MSFT since this touches Azure AD.

[2020-03-21 22:49] femsulu commented on #50632
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-21 22:58] femsulu commented on #50634
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 23:01] femsulu commented on #50635
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 23:25] femsulu commented on #50636
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-21 23:26] femsulu commented on #50638
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-21 23:31] femsulu commented on #50639
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-21 23:51] femsulu commented on #50643
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-22 00:50] dragav commented on #50498
@nelsonpv - that is a great question, and the short answer is "not determined yet".
We have yet to add this support, and I presume we will go in order of containment (closest to farthest layer) - that means SF would take priority over VMSS.

With other hosting platforms (WebApps or Fn) the endpoint has the same ip as VMSS' IMDS, so the higher abstraction/closest to the code wins (or rather, it hid

[2020-03-22 00:59] PedroC88 opened #50645 "Resources Location differ from the yaml and the az command"
In the yaml file the location is specified as westus but in the az command is eastus. Is that correct? When is each used? Shouldn't they be the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed58f2c-446c-b500-122f-407628a8eb17
* Version Independent ID: bce3f5a3-45d8-6b93-522e-a9af298068f5
* Content: [Enable SSL

[2020-03-22 01:22] homeworryfree opened #50646 "Outline on the left is collapsed and current document location no longer indicated"
Moving to this page collapses the outline and removes the current location showing as a a gray background.  The URL also appears to change, yet this document still shows as part of the Cloud Adoption Framework.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID:

[2020-03-22 01:25] homeworryfree opened #50647 "Collapses menu on left and loses current location in Cloud Adoption Framework docs"
Instead of retaining the expanded menu on the left and indicating the current position with a gray background, it collapses the menu and does not show the current position.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790b479d-d480-ff4f-c5cb-f047f51fc0c1
* Version Independent ID: f5a6c6d3-ee91-578d-e158-e5b90b073faf

[2020-03-22 01:57] vkacherov commented on #49093
@mocleiri Just add your Console appender and reference it:
<Configuration packages="com.microsoft.applicationinsights.log4j.v2">
    <Appenders>
        <ApplicationInsightsAppender name="aiAppender" instrumentationKey="[YOUR_KEY]" />
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Consol

[2020-03-22 01:59] vkacherov commented on #49093
Fixing MD

[2020-03-22 02:33] femsulu commented on #50645
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-22 02:35] femsulu commented on #50646
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-22 02:38] femsulu commented on #50647
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-22 02:39] femsulu commented on #50647
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-22 03:06] MicrosoftGuyJFlo commented on #50282
See the following for permissions.

https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#permissions

[2020-03-22 03:06] deccansoft opened #50648 "Workload"
Are you sure that Target workload	for Basic is "Development and production" as documented above or Basic tier should be only for Development?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-0642-8ae7bd8a790b
* Version Independent ID: 6dc1fcc4-dd65-1a3a-af5d-c698dbb1b2ba
* Content: [Service tiers - DTU

[2020-03-22 03:09] yinoa opened #50649 "Disable BGP route propagation in UDR?"
" Disable BGP route propagation" in this part  "To route the spoke subnet traffic through the hub firewall, you need a User Defined route (UDR) that points to the firewall with the Disable BGP route propagation option set. The Disable BGP route propagation option prevents route distribution to the spoke subnets. This prevents learned routes from conflicting with your UDR."

Question:  Is it "Virtu

[2020-03-22 03:16] mxxmusic opened #50650 "How to deploy module by IoT Hub service SDK, like IoT Hub service node SDK."
I want to deploy the module to my iot edge device via iot hub service SDK. But I find only 3 ways to deploy module:
Azure portal
Azure CLI
VS Code.

Current have IoT Edge module deploy have public API for developer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3808c67c-7c20-c275-efaa-d3724ccd88fc
* Version Independen

[2020-03-22 05:32] KalyanChanumolu-MSFT commented on #50648
@deccansoft Thank you for reaching out.
Even the Basic tier provides 99.99% uptime and a 7 Day back up retention.
If there are production use cases that can do with the limits for a Basic tier, it can be used in production as well.

[2020-03-22 06:00] SubhashVasarapu-MSFT commented on #50649
@yinoa , We are looking into this query and will update you as soon as possible.

[2020-03-22 06:15] HughKu opened #50652 "Behavior on exceeding the maximum queued runs per pipeline"
As documented [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#data-factory-limits), for data factory v2, the maximum queued runs per pipeline is **100**.

However it does not explain what is going to happen if a long run pipeline (say with concurrency **1**) simultaneously receives more than 100 event triggers. Would I lost those ex

[2020-03-22 07:07] dcurwin commented on #50453
#reassign:sachdevaswati

[2020-03-22 07:11] homeworryfree opened #50653 "Visual search from an image goes to bing web search api, which is the previous entry"
Cloud Adoption Framework &gt; Adopt &gt; Innovate&gt;Best Practices &gt; Engage via apps &gt; Intelligent experiences &gt; infusing intelligence &gt; Visual search from an image  goes to the Bing Web Search API, which is the previous document in the outline.  This should go specifically to the visual image search document.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-22 07:41] HughKu opened #50654 "Blob events don not always get triggered in ADF v2"
Not sure if this is a bug but It seems like event triggers do not always get fired.

I have set up an event trigger (on _non-empty blob created_) mapped to a one certain pipeline, and everything goes well if a trigger run is accordingly fired upon the creation of a blob.

However, until today's running, I find that nearly half of the blob creation (1026 out of total 2058 blobs of the same rule) do

[2020-03-22 08:33] yelevin commented on #50336
Hi,

@johnjohnjohn87 Thanks so much for your contribution.  This document is already currently undergoing a major review and rewrite, and should contain the answers to your questions. Stay tuned!

[2020-03-22 08:49] jwilleke opened #50655 "Does the Azure portal Require JavaScript to be enabled?"
Listing the supported browser is nice, but there should also answer other requirements like: Does the Azure portal Require JavaScript to be enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported br

[2020-03-22 09:08] braest opened #50656 "Change availability set : Incompatibility with marketplace images"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/change-availability-set

incompat with marketplace images :
Long running operation failed with status 'Failed'. Additional Info:'Creating a virtual machine from Marketplace image requires Plan information in the request. VM:
     | '/subscriptions/*'.' ErrorCode:
     | VMMarketplaceInvalidInput ErrorMessage: Creating a virtual machin

[2020-03-22 10:04] Air-Git opened #50657 "Management plane and Data plane"
Somewhere I found a good paragraph on the difference between the management plane and the data plane. But in the general document structure it does not seem to be well defined.
For example, this is called "manage blobs". But it consists of management plane information: e,g, create a storage account. There's no obvious link to the data plane e.g. read/write a blob.

---
#### Document Details

⚠ *Do

[2020-03-22 10:23] jlorek commented on #49245
@JennyLawrance - The `/weatherforecast` API Endpoint is Part of the Blazor Client Side Default Project. It's not included in the Server Side Default Project, since it's not required due to the Server Side Application Architecture. Would you mind trying to reproduce with the Server Side Project Template `dotnet new blazorserver`?

@AjayKumar-MSFT - Sure, just head to https://peakseason.azurewebsite

[2020-03-22 10:53] jlorek commented on #49245
I also created another sample without Containers, using App Service with Web App on Linux on a Net Core 3.1 Stack and F1 App Service Plan:
https://peakseason-code.azurewebsites.net
Also facing the same problems.

[2020-03-22 11:04] Justien22 opened #50658 "No supported version of EME detected on this user agent"
Hi, I'm working on the newest version of Microsoft Edge and I also tested this on Google Chrome but I still get the same error and so didn't manage to play a video on my website with Dash.js. I don't know how to fix this because I read in the explanation that  these browsers normally support the W3C Media Source Extensions (MSE).

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-03-22 12:37] johnjohnjohn87 commented on #50336
Will do! Thanks for the update!

John Bart
________________________________
From: Yechiel Levin <notifications@github.com>
Sent: Sunday, March 22, 2020 3:33:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: johnjohnjohn87 <john.bart@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Needs more info (#50336)

Hi,

@johnjohnjohn87<https://

[2020-03-22 12:46] ramondeklein commented on #50164
@mdgattuso Any progress on this item? I have created another wildcard certificate (not via PowerShell, but using sslforfree.com) and it seems to work fine. However, I need an automated solution because the certificates expire every 3 months...

[2020-03-22 12:51] Timovzl opened #50659 "Clarify replication synchronicity"
Between the [High Availability](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-high-availability) and [Read Scale-Out](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out) docs, it is unclear what replication is synchronous vs. asynchronous.

Let's consider one of the setups for greater SLAs: **premium** with **zone-redundant configuration**.

1) Is th

[2020-03-22 12:55] span opened #50660 "Add information on blobscaninfo"
When trying to reprocess data in blob storage in a function, it is sometimes not enough to just delete the receipt. It seems the function also keeps a "last scan" stamp in the `azure-webjobs-host/blobscaninfo` folder for the function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecb1e79-f603-03fd-2ef9-c6cf08ffaacd
*

[2020-03-22 13:06] tom-rb commented on #49348
Hi @iammikeleung , I have reduced the batch size as well to have it working, but it's very slow - still tolerable in my use case..

[2020-03-22 13:20] DixitArora-MSFT commented on #50660
Hi @span Thanks for reaching out. We will review and update as appropriate.

[2020-03-22 13:41] DashleenBhandari-MSFT commented on #50658
@Justien22 , Thanks for raising the issue. I will investigate and update you.

[2020-03-22 14:07] pacific202 opened #50662 "Increment a variable"
This page really needs an example of how to increment a variable (assuming using the Set Variable Activity).  I have a multi-part result set using an HTTP adapter and need to figure out how to loop the request until the next set of 50 returns no body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff4df3-ae31-335a-bf

[2020-03-22 14:56] StingyJack commented on #48095
@mhopkins-msft - Sorry but I dont see anything marked v12;   v11.1.3 is the latest I can get.
![image](https://user-images.githubusercontent.com/15381181/77252594-34982080-6c2b-11ea-83b6-2f985251850b.png)

I dont imagine this would be a behavior that would change from version to version, are you sure it has, or is this just a bit of hope?  I'm not blocked by it, and just wanted to share an issue a

[2020-03-22 15:04] StingyJack commented on #47257
@VanMSFT  - Please try making a connection using this connection string type via powershell's Invoke-SqlCmd (SqlServer module I think ) and getting it to work.

It doesnt, and you get the error noted in the OP. The only way to get this to work with powershell is to use powershell v5.1 and write out the .net code for opening a connection and executing SQL (`new SqlConnection(connStr)`, `new SqlComm

[2020-03-22 15:07] StingyJack commented on #41001
I'm asking for an example of the connection string. A plain old connection string, like we have always had for SQL server that starts with "Server=" or "DataSource=" that I can feed to `Invoke-SqlCmd`

[2020-03-22 15:44] Robulane commented on #48360
Any news on this topic? The tutorial was not updated and the issue still reproduces.

[2020-03-22 15:47] eakarat1141 opened #50663 "Please draw a diagram for Active Directory (AD) (preview)"
Please draw a diagram for Active Directory (AD) (preview). For example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable Active Directory authentication over SMB for Azure Files](https://docs.microsoft.co

[2020-03-22 15:48] KalyanChanumolu-MSFT commented on #50650
@mxxmusic Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-22 15:50] KalyanChanumolu-MSFT commented on #50652
@HughKu Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-22 15:51] KalyanChanumolu-MSFT commented on #50653
@homeworryfree Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-22 15:53] KalyanChanumolu-MSFT commented on #50654
@HughKu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-22 15:55] KalyanChanumolu-MSFT commented on #50655
@jwilleke Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-22 15:57] KalyanChanumolu-MSFT commented on #50656
@braest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-22 15:58] KalyanChanumolu-MSFT commented on #50657
@Air-Git Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-22 16:07] tsrob50 opened #50664 "'microsoft.office365.network' is not supported Error"
Hello,

I am trying to create a new role with PowerShell and get the following error.
New-AzureADMSRoleDefinition : Error occurred while executing NewAzureADMSRoleDefinition
Code: Request_BadRequest
Message: Resource category 'microsoft.office365.network' is not supported.
InnerError:
  RequestId: d3f97557-53b1-4632-9453-78edd830e3db
  DateTimeStamp: Sun, 22 Mar 2020 16:00:14 GMT
HttpStatusCode: B

[2020-03-22 16:16] KalyanChanumolu-MSFT commented on #50287
@nonokangwei Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2020-03-22 16:16] #50287 closed

[2020-03-22 16:24] KalyanChanumolu-MSFT commented on #50659
@Timovzl Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-22 16:27] jackngok commented on #50299
Yup, I did it as one commmand and show the above error message

[2020-03-22 16:29] evandropomatti opened #50665 "IoT Edge error: 417 -- The device's deployment configuration is not set"
While following the [quickstart tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux) I ran into this error message on the IoT Edge:

[code]
The message was there since the device was created, and I am unable to deploy modules to the device.

I tried restarting the service but it had no effect.

![image](https://user-images.githubusercontent.com/6530769/77254583-a890f380-6c40

[2020-03-22 16:47] kummanish commented on #48003
@KalyanChanumolu-MSFT can you please update the github request based on my reply. We can close this one.

[2020-03-22 16:51] evandropomatti commented on #50665
Ok I'm not sure what I did wrong but I had to add the module again. Maybe I missed something.

[2020-03-22 16:52] KalyanChanumolu-MSFT commented on #48003
@sjyang18 ARM template can now be used for configuring encryption.
Please check the reply from @kummanish.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-22 16:52] #48003 closed

[2020-03-22 17:51] qianw211 commented on #41878
@Benjiiim Hi, could you please let me know the reasons that you want to go in and edit the roadmap table?  Thanks!

[2020-03-22 18:18] dotnetgator opened #50666 "What are the available UserMessage Metadata values?"
In the Starter Pack base policy declaration for LoginUser, three UserMessage Metadata values are defined:
[code]

These values are not described in the Metadata section above. Although the names are somewhat self-descriptive, is there any clarity available under which circumstances each is presented (especially considering that an OIDC profile may be used to federate more than just the underlying

[2020-03-22 18:24] hbiarge commented on #49274
@Karishma-Tiwari-MSFT we are creating the apps with AZ CLI at the moment.

[2020-03-22 18:34] Jimbos10 commented on #50422
Just wondering if there is an update on this.  Thank you.

[2020-03-22 18:57] Mike-Ubezzi-MSFT commented on #45473
@pauloster Did this answer your question? I am going to move to close this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Thank you!

[2020-03-22 18:57] #45473 closed

[2020-03-22 19:03] dotnetgator commented on #50543
One more question @yoelhor . You mentioned above that it is OK to omit certain Metadata values above and instead just the analogous InputClaims. Does it work the other way? Can the constants used for the OIDC call with grant_type, scope, nca, client_id, and resource_id just be provided in Metadata? This would mean that the extra ceremony involved in making sure these claims are decalred would no l

[2020-03-22 19:11] aloksan opened #50668 "Correction"
$subscriptionId=mySubscriptionID
$resourceGroupName=myResourceGroupName
$snapshotName=mySnapshotName
$sasExpiryDuration=3600
$storageAccountName=mystorageaccountname
$storageContainerName=mystoragecontainername
$storageAccountKey=mystorageaccountkey
$destinationVHDFileName=myvhdfilename.vhd

az account set --subscription $subscriptionId

$sas=(az snapshot grant-access --resource-group $resourceGro

[2020-03-22 19:27] BharathNimmala-MSFT commented on #50668
@aloksan Thank you for bringing this to our notice, will fix the document accordingly.

[2020-03-22 19:53] Benjiiim commented on #41878
For example, to edit "Ongoing through 2019".
But having some text instead of an image would help for other reasons (eg: accessybility for people using screen readers, ability to search for content).

[2020-03-22 19:55] BharathNimmala-MSFT commented on #49225
@Biju-Joseph Apologies for the delayed response on this, can you please confirm if you are still seeing the same issue ?

[2020-03-22 20:00] qianw211 commented on #41878
Hi @BrianLevenson and @MarlEva, could you please look into this GitHub issue?  Thanks!

[2020-03-22 20:23] mike-urnun-msft commented on #50284
@gpduck We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-22 20:23] #50284 closed

[2020-03-22 20:42] BharathNimmala-MSFT commented on #50662
@pacific202 Thank you for your feedback, our team will further look into it and get back to you at the earliest

[2020-03-22 20:43] BharathNimmala-MSFT commented on #50663
@eakarat1141 Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-22 20:44] BharathNimmala-MSFT commented on #50664
@tsrob50 Thank you for reaching out, our team will further look into it and get back to you at the earliest.

[2020-03-22 20:46] BharathNimmala-MSFT commented on #50666
@dotnetgator Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-22 21:20] NavtejSaini-MSFT commented on #50570
@allan-mobley-jr As conveyed in the support ticket, a flag got enabled for the subscription which changed free tier to pay as you go. Support is investigating it further the reason for the same.

[2020-03-22 21:24] NavtejSaini-MSFT commented on #50319
@beelesnik We are going ahead and closing this thread for now and if you have any issues and concern, Please comment here and we will continue this discussion.

[2020-03-22 21:24] #50319 closed

[2020-03-22 22:07] femsulu commented on #50665
<<re-opoened to add triage labels>>
thanks for the update @evandropomatti. Happy this is resolved for you.

[2020-03-22 22:07] #50665 closed

[2020-03-22 22:20] jenkins540 opened #50670 "Iterate through subscriptions using an Array to avoid manual work"
$subscriptions = @("b90af070-9c1e-4fcf-b2d4-40b6e6XXXXXX",
                                "caf0edd2-4d68-4b67-96b7-0e449XXXXXX",
                                "da95d654-099d-4af4-b655-cddc9XXXXXX")

for ($i=0; $i -lt $subscriptions.count; $i++){
#Provide the subscription Id where the VMs reside
$subscriptionId = $subscriptions[$i]
#Provide the name of the csv file to be exported
$reportName = $

[2020-03-22 22:48] dcbrown16 commented on #47752
Thanks @mamccrea, is there a work item to add guidance on Private Link to the Databricks docs?

[2020-03-22 22:50] dcbrown16 commented on #37490
@calethix no official word other than possibly Microsoft.Compute/virtualMachines/write. I don't think my team tested this one.

[2020-03-22 23:15] msandbu commented on #47540
Any feedback here?

[2020-03-22 23:16] prashantma opened #50671 "Cannot push Azure functions using VS 2019"
I am using VS 16.4.5. When I select "Publish..." option in menu to try to publish Azure function app, it shows error below "Publish failed / assembly not found" error. I verified "Azure Functions and Web Jobs Tools" is installed using "VS - About" window. However, second issue is, if I try to locate "Azure Functions and Web Jobs Tools" using "Extensions" window under (Installed or Online), it is n

[2020-03-22 23:17] nonokangwei commented on #50287
@KalyanChanumolu-MSFT Thanks for your help.

[2020-03-22 23:22] Slowly commented on #17181
round and round and round and round and round. THE ONLY WAY TO ACCESS ANY SECURITY WEB PAGE IS IF YOU CONTACT YOUR EMPLOYER'S SECURITY PEOPLE AND HAVE THEM ADD YOUR PHONE (DEVICE) DIRECTLY TO THEIR SYSTEM, BECAUSE EVERY PAGE IS GOING TO REQUIRE TWO-FACTOR AUTHENTICATION, SENDING MESSAGES TO A PHONE THAT HAS NOT BEEN REGISTERED YET.

Once Security personnel have registered your phone properly for t

[2020-03-23 00:08] Khyzdul commented on #45071
@umeshbarapatre - I have a different authorization scenario and I am trying to determine if I can use SAML Assertion to OAuth2 bearer token flow or if this thread is saying it won't work. In my case I am using SAML2 SSO to 3rd party app with AzureAD as the IdP… this is working, but I want to get an OAUTH bearer token to call Microsoft graph (same tenant as AzureAD) to integrate 3rd party app to Of

[2020-03-23 00:15] mchudinov opened #50674 "workable example with remoting STATEFUL"
Could you please provide a workable project example with STATEFUL service?
I have tried all versions of remoting v1, v2, v2_1 and neither works. I always get error "Invalid partition key/ID '{0}'  for selector {1}"-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independen

[2020-03-23 00:22] michaelsync opened #50675 "There are a lot of usages about "grep" in this "Windows" guide."
&gt;&gt; grep: The term 'grep' is not recognized as the name of a cmdlet, function, script file, or operable program.
&gt;&gt; Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

I am on Windows. I am following this guide but I noticed that there are a lot of usages about "grep" which I don't think it exists by default on Windows. I looked for

[2020-03-23 00:36] TheKlingon commented on #50435
Hi.
I already tried to do that, but without success.
![Annotazione 2020-03-23 012624](https://user-images.githubusercontent.com/8925451/77268584-b8432300-6ca6-11ea-8278-70a722a8d2f6.jpg)

[2020-03-23 01:38] BharathNimmala-MSFT commented on #50670
@jenkins540 Thank you for reaching out, the [sample script](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-powershell-sample-collect-vm-details#sample-script) in the documnet is an example about reading all VM details in a subscription, however you can further expand to read from multiple subscriptions as per your needs.

Please note that this channel (the [Azure

[2020-03-23 02:06] deepakiara opened #50677 "Fail on iOS 13.3"
Can't make it work under iOS 13.3 using code above.
It does work either via TEST SEND in Azure Notification Hub portal with the default message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa4b158-79fb-e664-3604-0c8a2ef925d1
* Version Independent ID: 33d2079e-1cd9-7933-b9fd-f57aeb0794fc
* Content: [Azure Notificati

[2020-03-23 02:12] deepakiara commented on #50677
typo.. It does NOT work either via TEST SEND.....

[2020-03-23 02:18] jasonyslai commented on #50435
@TheKlingon Hi,
In my case, I have created two services: 1. Azure Web App and 2. AzureSQL.
Have you run the Code First Migration on Command Prompt as following command?
Enable-Migrations
Add-Migration "CreateDoItemTable"
Update-Database
![image](https://user-images.githubusercontent.com/958382/77273882-9b7f0d80-6cef-11ea-8792-554abe54dbe7.png)

[2020-03-23 02:39] xuxuai520 commented on #50327
My free trial account has expired, so I can’t verify it anymore.

[2020-03-23 02:44] PramodValavala-MSFT commented on #50677
@deepakiara Thanks for the question! We will review and get back to you!

[2020-03-23 02:47] PramodValavala-MSFT commented on #50675
@michaelsync Thanks for the feedback! We will review and update accordingly.

[2020-03-23 02:48] PramodValavala-MSFT commented on #50674
@mchudinov Thanks for the question! We will review and get back to you!

[2020-03-23 02:50] PramodValavala-MSFT commented on #50671
@prashantma Thanks for the question! We will review and get back to you!

[2020-03-23 03:39] SaurabhSharma-MSFT commented on #50150
@deep-mm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-23 03:39] #50150 closed

[2020-03-23 04:07] ritazh commented on #50515
@kbetts-wwt Thanks for the inquiry. The keyvault flexvol solution is in the process of being deprecated in favor of https://github.com/kubernetes-sigs/secrets-store-csi-driver

[2020-03-23 04:14] BhargaviAnnadevara-MSFT commented on #50619
@cijothomas Thanks for the feedback. This has been assigned to the content author to evaluate and update as appropriate.

[2020-03-23 04:15] lelandvelasco commented on #50555
Can onboard in one of our region for testing?

[2020-03-23 04:51] ram-msft commented on #50350
@mostwired By default, active learning is off, it's supported in run time version 4.4.0 and above. If your knowledge base was created on an earlier version, upgrade your runtime to use this feature.
You need to turn on active learning for alternate questions.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning#turn-on-active-learning-for-alternate-question

[2020-03-23 04:53] KalyanChanumolu-MSFT commented on #50648
@deccansoft We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-23 04:53] #50648 closed

[2020-03-23 04:59] rtaylor72 opened #50679 "Instructions incomplete"
az network private-endpoint create \
    ...
    --connection-name myConnection

myConnection is not defined.  If you look at the help it says "Name of the private link service connection.".  It is a string name for the private link service *connection*, that you can only delete or update per other help pages. So there does not appear to be a way to create it.  Please fix this so this example work

[2020-03-23 05:01] manvendrautralia commented on #50563
Hi @femsulu , We are referring the MS Text Analytics API (https://docs.microsoft.com/en-in/azure/cognitive-services/text-analytics/overview).

[2020-03-23 05:02] #42671 closed

[2020-03-23 05:08] DashleenBhandari-MSFT commented on #50565
@oproulx , I will go ahead and close the issue for now. Feel free to re-open if you need further help.

[2020-03-23 05:08] #50565 closed

[2020-03-23 05:19] DashleenBhandari-MSFT commented on #50439
@HenkoR , I have not heard back from you in a couple of days. I will go ahead and close the issue. Feel free to reopen in case you need further help.

[2020-03-23 05:19] #50439 closed

[2020-03-23 05:24] DashleenBhandari-MSFT commented on #50107
@robcamer , We have discussed this issue internally. We will be updating the documents for Visual Studio 2019. The tutorials would also need to be updated. Is it fine if I go ahead and close this issue if you don't need further assistance. Please let me know if you have any concerns.

[2020-03-23 05:54] VikasPullagura-MSFT commented on #50599
@pablof300 Thank you for your question!

We have seen that you have posted the same question in this [MSDN](https://social.msdn.microsoft.com/Forums/en-US/6fc6a90b-7ef9-47b0-8a00-70bc19f56e29/adding-ssl-certificate-to-linux-azure-vm?forum=azurescripting) and it will have visibility across the community which is a better suited audience for such types of issues. And this MSDN post already has engag

[2020-03-23 05:54] #50599 closed

[2020-03-23 05:58] SnehaAgrawal-MSFT commented on #50367
@ishepherd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-23 05:58] #50367 closed

[2020-03-23 06:02] ChiragMishra-MSFT commented on #50366
@nabhishek Can we add an example for the same?

[2020-03-23 06:04] ChiragMishra-MSFT commented on #50402
@udaykumar54 We haven't heard from you in quite some time. Please try out the suggestion. It should work.
I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries on the same.

[2020-03-23 06:04] #50402 closed

[2020-03-23 06:06] msrini-MSFT commented on #50572
@ChristianMontoya, Can you please take a look?

[2020-03-23 06:12] SnehaAgrawal-MSFT commented on #50537
@KenBrady Thanks for asking question! You may try solution and refer to similar thread might be helpful: [My contribution to this document when the command is executed: dotnet ef database update](https://github.com/MicrosoftDocs/azure-docs/issues/49867)

[2020-03-23 06:15] SubhashVasarapu-MSFT commented on #49341
@ChrisSommers , Appreciate your patience. According to [RFC 1123](http://www.ietf.org/rfc/rfc1123.txt) section 2.1 "Host Names and Numbers" limits host names to letters-digits-hyphen. Even many of the popular domain registrars doesn't accept special characters like underscore in the domain name.
![image](https://user-images.githubusercontent.com/44890829/77287382-6f698980-6cfb-11ea-8b3a-07d2a5d76e

[2020-03-23 06:15] #49341 closed

[2020-03-23 06:16] gadeweever commented on #50677
Hey we're also hitting this issue on multiple devices with iOS v13.3.1 with Xamarin IOS. It seems to be related to a change in the format for the device token:

iOS 13.3:
RegisteredForRemoteNotifications: Registering notifications for {length = 32, bytes = 0xf1d219ab c4aab6f4 e0408ae2 8a6e9a5c ... c6ddccbb 6a63fe2f }

iOS 12:
RegisteredForRemoteNotifications: Registering notifications for <eb3a962

[2020-03-23 06:19] DixitArora-MSFT commented on #50466
@dcbrown16 I have assigned this to content author for further review and update as appropriate.

[2020-03-23 06:20] SnehaAgrawal-MSFT commented on #50485
@tobvil Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review

[2020-03-23 06:24] SeanXuMSFT commented on #50550
thanks Shashi

[2020-03-23 06:25] DixitArora-MSFT commented on #50519
@FlavioDiasPs If you are trying to receive messages from 1 eventhub and passing it on to the next, then something like this below will also do the trick. There's no need to use DurableFunctions for this and the Azure Function runtime will scale by itself if there are many messages, see [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---scaling)

[

[2020-03-23 06:25] ChiragMishra-MSFT commented on #50620
@Samy99999 Can you please share the error message and if possible a screenshot? That would help us narrow down to the problem.

[2020-03-23 06:27] DixitArora-MSFT commented on #50554
@vladvino Any inputs in this ?

[2020-03-23 06:37] jflieben commented on #50555
@lelandvelasco in which exact regions is it enabled now? We have a data residency requirement of Europe.

[2020-03-23 06:42] VikasPullagura-MSFT commented on #50675
@michaelsync Please try to run this article on [Cloud Shell](https://shell.azure.com) with Bash shell it should work without any issues. As the commands in the articles are mentioned as Azure CLI these are expected to be ran on BASH or Linux based terminal.

[2020-03-23 06:57] BharathNimmala-MSFT commented on #50453
@bherrsk Apologies for the experience you are seeing. Post validation with our internal Product team seems the issue needs a deeper investigation and additional information needed from you in terms of screen shots. Best way to get help is to open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) since this isn't an issue with the docs.

However if you are unable to creat

[2020-03-23 07:15] nelsonpv commented on #50498
Thanks for the response. It will be interesting to understand the behavior once this reaches the end of preview/GA. Will wait and see.

[2020-03-23 07:19] RohitMungi-MSFT commented on #50653
@aahill Is it possible to update the link to `visual search from an image`  to the documentation of [visual search](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/overview). This is currently redirecting users to [Bing Search API](https://docs.microsoft.com/en-us/azure/cognitive-services/Bing-Web-Search/?toc=https%3A%2F%2Fdocs.microsoft.com%2Fazure%2Fcloud-adoption-fr

[2020-03-23 07:29] PramodValavala-MSFT commented on #50671
@prashantma Could you try to [update the extension](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#update-your-tools-in-visual-studio-2017) as mentioned in the docs and restart visual studio before trying to publish again?

[2020-03-23 07:34] tbtmuse opened #50683 "Transform upscales input video"
Hi, is there a way to make a custom transform behaves like the AdaptiveStreaming preset, and make sure that it does not output a video larger than the input video, lets say for example with the custom transform below:

[code]
If my input video is 1080p is it possible to ensure that it only creates output for 1080p, 720p and 480p  and if my input is 720p, it only creates video for 720p, and 480p?

[2020-03-23 07:39] AshokPeddakotla-MSFT commented on #50327
You can upgrade your subscription to continue further if free trial is expired. After you upgrade, your subscription still has access to free services for 12 months. You only get charged for usage beyond the free services and quantities. Please see [Upgrade your Azure free account](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/upgrade-azure-subscription#upgrade-your-azure-f

[2020-03-23 07:41] AshishMoradiya commented on #47518
How about URL authorization in App service running on Linux? I tried [this](https://medium.com/@roshanj/how-to-configure-url-authorisation-in-azure-e714a2818d8c
) way to expose few urls anonymously. however it isn't seems working. discussed [here](https://stackoverflow.com/questions/57316618/azure-url-authorization-rules-not-being-applied)

[2020-03-23 07:56] tonisc opened #50684 "Available in West Europe?"
Hi, I have an SQL Server in West Europe region and I have this options availables:
"Deny public network access", "Connection Policy" and "Allow Azure Services".
Is possible that this features working in this region? I have problems connecting SQL server trought a VNET. Is possible that this is the problem (the region)?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-03-23 08:05] AshokPeddakotla-MSFT commented on #50303
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-23 08:05] #50303 closed

[2020-03-23 08:05] SumanthMarigowda-MSFT commented on #50258
@alexvy86 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-23 08:05] #50258 closed

[2020-03-23 08:14] joanna1010 commented on #20348
It happens to me from time to time as well. Also if I manually configured the VNET integration with the app service and the next time, deployment would work and it will continue to work. but it is always the first time that some attempts would be Bad Request and internal server error without further details.

[2020-03-23 08:18] g-petre commented on #49532
@tfitzmac Thank you for your help.

[2020-03-23 08:23] solomson opened #50685 "CentOS 7 AAD login wrongly listed as supported?"
[Enter feedback here]

I'm trying to create a CentOS 7.7 VM with AAD authentication through the Azure portal.

I select the image "CentOS-based 7.7"

When scrolling forward to the management section it states "This image does not support Login with AAD."

While the docs clearly state that CentOS 7 is supported for this feature

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-03-23 08:28] xtellurian opened #50686 "Confirm name of backend host header"
The name of the backend host header is not explicitly mentioned on this page.

I initially assumed the host header was "Host" - but that appears to be not the case, and the value may actually be "X-Forwarded-Host". This is unfortunate as "Host" is a commonly used header often used by reverse proxies.

This page should explicitly mention the name of the backend host header.

---
#### Document Detai

[2020-03-23 08:38] alternaivan opened #50687 "Make a distinction between App Service OS for agent-based app monitoring"
Hello,
From this page I cannot see if there is Agent-based application monitoring available for App Service applications running on Linux OS. Please make sure to add this distinction and prevent others from researching deeper on this topic, which should be provided in this document. If there is a section or document on this present, maybe add a pointer or link?

Thanks,
Marjan

---
#### Document D