[2021-05-26 11:26] KrishnaG-MSFT commented on #75739
@dpapkin  I have verified and updated the document as required. The changes should reflect in some time i.e., in less than 24 hours. Thanks again!

[2021-05-26 11:26] #75739 closed

[2021-05-26 11:36] pholdridge opened #75904 "Add Device Ownership Filter"
Please add the ability to filter for Device Ownership. This is important to only require company owned devices to be compliant and allow BYOD users access with MAM without requiring compliance. Because conditional access only can be assigned to users, we cannot differentiate which device they are using to target only company owned devices for compliance.

---
#### Document Details

⚠ *Do not edit

[2021-05-26 11:44] MartinDBakerCDW opened #75905 "Sandbox is not explained or further documented. Leading to confusion & misunderstanding."
Microsoft’s documentation is “very light” on specific detail for Azure Migrate’s “Test migration” process. This page talks about a sandbox frequently, but doesn’t tell you that you need to create that Sandbox environment.

We had fun with test-migrations. We couldn’t understand why we only saw our Production vNet in the drop-down & it took us some time to figure out why. i.e. the vNet MUST be in t

[2021-05-26 11:54] MartinDBakerCDW opened #75906 "No detail outlining that you must keep Azure Migrate Appliances on different VMWare hosts."
We have learnt from Microsoft Azure Migrate Support that you should not co-locate the Azure Migrate Appliance on the same VMWare host as the Azure Migrate Replication Appliance.

This detail is missing from this page. The page should also reference how this can be achieve using VMWare affinity. The link below outlines this:
[https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.resmgmt.

[2021-05-26 11:58] jayendranarumugam opened #75907 "Expiration/Auto renew Info for free managed certificate missing in the Doc"
With the recent GA of [managed certificates,](https://azure.microsoft.com/en-us/updates/app-service-managed-certificates-now-generally-available/)

But the ms docs does not talk about it clearly like, expiration / auto-renew will be taken care of automatically by azure. Would love to get this clarity on the docs as well

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-05-26 12:08] AnuragSharma-MSFT commented on #75890
@francesco1119 Thank you for the detailed feedback. This is being assigned to the content author for further review.

[2021-05-26 12:10] MartinDBakerCDW opened #75909 "Process Differed At Step 5 of Start Appliance Setup"
We found the configuration process differed from that documented at step 5 of Start Appliance Setup here:
[https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-agent#set-up-the-replication-appliance](url)

We were confronted with a UI not documented, that stated the configuration was going to add An Enterprise Application to Azure AD named "MicrosoftASR-AzureRepApp", "Permissions

[2021-05-26 12:14] MartinDBakerCDW opened #75910 "Process Followed Differed at Step 7 of Start Appliance Setup"
We found our process differed from the documentation here at Step 7 of Start Appliance Setup.

Step 7 "Select Install VMWare PowerCLI...etc" simply didn't occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62967601-8035-87b6-afb6-3b8b371f68b2
* Version Independent ID: ad05dc9f-328a-f3b5-1b5b-25edf969a2e4
* Content:

[2021-05-26 12:18] ericcsinger opened #75911 "Please provide a powershell example."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53cf7c9c-480d-241e-a894-50179cf7d488
* Version Independent ID: 90ed5485-f439-fd52-a7ff-6e8de8145b84
* Content: [VM Snapshot Windows extension for Azure Backup - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions

[2021-05-26 12:22] piotrgwiazda commented on #74557
It seems that the feature is implemented. I just cannot find documentation.
![image](https://user-images.githubusercontent.com/5331863/119658738-c8680c80-be2d-11eb-8c51-d417ad8d1528.png)

[2021-05-26 12:33] piotrgwiazda commented on #75765
@SadiqhAhmed-MSFT unfortunately the portal won't let me set Zone Redundant storage. This is why I am looking for CLI/API. Which REST API version should I use?

[2021-05-26 12:41] daneel3001 commented on #68608
Thanks

[2021-05-26 12:52] BhargaviAnnadevara-MSFT commented on #75907
@jayendranarumugam Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-26 12:53] BhargaviAnnadevara-MSFT commented on #75900
@richardjharding Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-26 12:57] andrewdmoreno commented on #14520
I agree, there should definitely be an official recommendation or guidance on how to use these libraries. I am using from within aspnetcore and am not clear on whether I am going to encounter an issue by using a singleton `GremlinClient` and therefore playing it safe by setting it scoped with the downside of incurring additional overhead.

[2021-05-26 12:58] dflowersmfn opened #75917 "Documentation does not address the use of Standard IP SKU when creating a VPN Gateway for Express Route."
When giving directions on creating the VPN Gateway for Express Route, the concept of what IP SKU must be used is not addressed. I assume that this is because this option is greyed out when you create from Portal. But while this is not an option in portal, there is no documentation saying that this cannot be done unless you're deploying gateways with the AZ ending (Availability Zone), which it cann

[2021-05-26 13:01] mbinnix opened #75918 "is private endpoint still a limitation on smb mult-channel for azure files?"
This document lists under limitations:

"SMB Multichannel for Azure file shares currently has the following restrictions:"
....
...

- Private endpoints for storage accounts are not supported.
.....
...."

But I have recently configured a new azure premium files storage account with ZRS redundancy in East US 2, turned on both privatelink and smb multi channel and connected azure Windows VMS to a s

[2021-05-26 13:11] MartinDBakerCDW opened #75919 "Process Differed at Step 6 Replicate VMs"
The process we encountered differed at Step 6 of Replicate VMs

When we got to Step 6 of Replicate VMs (link below), we could not continue.
[https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-agent#replicate-vms](url)

This was caused by the Configuration Server registration not being finalized. We encountered a message onscreen to that effect. I navigated to Azure Migrate - Do

[2021-05-26 13:22] MartinDBakerCDW opened #75920 "Keyvault Permissions Issue"
We were logged in as a general user within the AzureAD. We specified the AzureMigrate AAD account within the portal configuration UI when we configured the Azure Migrate PaaS project.

When we started to configure VM replication we encountered errors, indicating issues with Keyvault Access Policies. Looking at those policies, we could see that an Access Policy had been created for the account whic

[2021-05-26 13:24] msmbaldwin commented on #75878
Hi, @CorgiDev. I just clicked on several of the links in the article and received no 404s. Can you give an example?

[2021-05-26 13:25] MonikaReddy-MSFT commented on #75581
@kenwith -  Thank you for providing your insights.
@ClearIt03  - I hope @mtillman has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-26 13:26] MartinDBakerCDW opened #75921 "VMWare Version Issues"
We’d followed the instructions here for setting up the VMWare AzureMigrate User account & assigned the Read Only role.

However in VMWare 6.7 you cannot assigned the built-in Read-Only role & also assign the Guest Operations privileges.

In VMWare 6.5, we had to create a custom role – cloned from Read-Only & adding Guest Operations.

This should be detailed here.

---
#### Document Details

⚠ *Do

[2021-05-26 13:28] GitaraniSharma-MSFT commented on #75899
@BrijMohanD , thank you for your feedback. We'll review this and get back to you shortly!

[2021-05-26 13:28] MonikaReddy-MSFT commented on #75677
@marinnedea - Thanks for bringing this to our attention. RHEL 8.3 is not an EUS release so it is end of life after RHEL 8.4 has
GA'd.
In Red Hat Enterprise Linux 8, EUS is planned for RHEL 8.1, 8.2, 8.4, 8.6, and 8.8 (see above chart).
•	8.1 (ends November 30, 2021)
•	8.2 (ends April 30, 2022)
•	8.4 (ends May 30, 2023)
LifeCycle page [https://access.redhat.com/support/policy/updates/errata:]()

At

[2021-05-26 13:28] #75677 closed

[2021-05-26 13:28] GitaraniSharma-MSFT commented on #75917
@dflowersmfn , thank you for the feedback. We'll review this and get back to you shortly!

[2021-05-26 13:34] MonikaReddy-MSFT commented on #75911
@ericcsinger - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-26 13:35] MayankBargali-MSFT commented on #75876
@CharlesWilliamW Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-26 13:39] MayankBargali-MSFT commented on #75896
@take-4c Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 13:51] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda The correct API would be:  https://docs.microsoft.com/en-us/rest/api/backup/backupresourcevaultconfigs

[2021-05-26 13:52] SadiqhAhmed-MSFT commented on #75693
@NeilMacMullen Hope the previous post answered your question. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-05-26 13:52] #75693 closed

[2021-05-26 13:53] julisch94 opened #75923 "Error when trying to run Scala script for SendTweetsToEventHub"
I receive this error when I run the Scala script:
[code]

I have installed the libraries:

- com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12
- org.twitter4j:twitter4j-core:4.0.7

Like this page said: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-create

You could also update the screenshots from Twitter API. It has heavily changed.

---
#### Document Details

⚠ *Do not edit th

[2021-05-26 13:55] SadiqhAhmed-MSFT commented on #75535
@FallenHoot RHEL 8 support has been added and the doc changes are reflecting now.

Thanks once again for bring this to our attention.

[2021-05-26 13:55] #75535 closed

[2021-05-26 13:57] ssivas commented on #75891
@ryoji-kawamura,  Thank you for your query . We will investigate and update the thread.

[2021-05-26 14:00] MayankBargali-MSFT commented on #75740
@marshyon This depends on how you are writing the URL matching and it is case sensitive and here you are writing the URL matching for your application. As per the sample code, the URL will be /api/HttpExample and which is correct.
    http.HandleFunc("/api/HttpExample", helloHandler)

This is how the go handles it uses the [gorilla/mux](https://pkg.go.dev/github.com/gorilla/mux). Mux supports the

[2021-05-26 14:00] #75740 closed

[2021-05-26 14:08] psmanhas commented on #75717
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-05-26 14:10] ssivas commented on #75904
@pholdridge , Thank you for your query . We will investigate and update the thread.

[2021-05-26 14:14] SadiqhAhmed-MSFT commented on #75693
@NeilMacMullen You can subscribe to Azure notification here - https://azure.microsoft.com/en-in/updates/

[2021-05-26 14:17] msmimart commented on #68988
@pamcdo the article is now updated to reference the AzureAD module. Thanks so much for your feedback!
#please-close

[2021-05-26 14:17] #68988 closed

[2021-05-26 14:22] antimajain commented on #75181
Same Issue I am facing in cosmos sdk 4 also

[2021-05-26 14:25] ssivas commented on #75904
@pholdridge , Thank you for feedback. I would recommend you to leveraging our [User Voice forum](https://feedback.azure.com/forums/169401-azure-active-directory) which would help our engineering team to priority of feature implementation also community members can comment and/or up-vote to increase the priority. Once again thank you for sharing feedback.

#please-close

[2021-05-26 14:25] #75904 closed

[2021-05-26 14:26] msmimart commented on #70175
Hi @alvipeo, thanks so much for your suggestion. We've created a backlog item for the additional web app example so we can actively track this internally for a future update. #please-close

[2021-05-26 14:26] #70175 closed

[2021-05-26 14:29] daveba commented on #75901
assign: @Nicholak-MS

[2021-05-26 14:30] BhargaviAnnadevara-MSFT commented on #75869
@gbaeke Thank you for bringing this to our attention. You're right in that single quotes in the given command would not let variable substitution happen correctly.

I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-05-26 14:31] BhargaviAnnadevara-MSFT commented on #75867
@benc-uk Thank you for bringing this to our attention. You're right in that single quotes in the given command would not let variable substitution happen correctly.

I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-05-26 14:44] AnshuSoni-sys commented on #53264
@MarcLaf We have checked this configuration using new Edge Chromium in our side and it is working properly. Can you please confirm, whether you are still facing this issue?

[2021-05-26 14:50] cutecycle opened #75925 "mssence.svc is referenced in Exclusions, but Windows Defender Threat Protection is MsSense.exe"
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/iaas-antimalware-windows#template-deployment

When adopting the virtualmachine Antimalware extension verbatim and running in parallel with powershell-based Custom Script Extensions, Azure Security Center raises a [high severity alert.](https://docs.microsoft.com/en-us/azure/security-center/alerts-reference#alerts-resourcemanager)

[2021-05-26 14:54] rhythmnewt commented on #67002
Is it still true that CUDA 9 is the currently supported version on ACI?

[2021-05-26 15:00] GiftA-MSFT opened #75927 "Identify face against the entire PersonDirectory not working"
**Original Q&A Thread**: https://docs.microsoft.com/en-us/answers/questions/390344/index.html

I found the issue with below line on example provided Microsoft Documentation website.

`body.Add("personIds","['*']");`

The below line resolve the issue

`body.Add("personIds", new List<string> { "*"});`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-05-26 15:02] mayurigupta13 commented on #75871
The statement is correct. Azure Arc enabled Open Service Mesh is in public preview. However, the integration of Arc enabled OSM with Azure Monitor is very new and in private preview OR limited support. The GitHub link details how one can get support when using this feature.

[2021-05-26 15:04] GiftA-MSFT commented on #75927
@PatrickFarley can you please review above doc bug. Thanks.

[2021-05-26 15:11] dggomes256 opened #75928 "Can't find some information referenced in document"
In the section:
**Add Azure AD identity provider to a user flow**

The document references:
_For Application, select the web application named **testapp1** that you previously registered. The Reply URL should show https://jwt.ms._

I can't find the **testapp1**  referenced in this step in any part of the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-26 15:12] waqar-anwar1990 opened #75929 "Will the Reservation affect ongoing operations on Azure SQL Server and Databases?"
Hello,

We are looking into using the Reservation for our SQL Server and Databases but had one final query before we go ahead with it.

Will applying a reservation affect any of the existing operations on the Server and Databases? We are currently using Azure's DataSync services on different databases within Azure and onPremises as well. So we want to be sure that reservations will not affect any

[2021-05-26 15:14] MarcosMMartinez opened #75930 "*edited* service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset annotation set for deprecation - doc needs update"
This annotation is set to be depcrecated and the doc needs to be updated accordingly.

*edited*
service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset

<br class="Apple-interchange-newline">

Ref:  https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/

![image](https://user-images.githubusercontent.com/29489962/119685519-6dc1b700-be13-11eb-9ade-d47aee3dc3c0.png)

--

[2021-05-26 15:15] mws1581 opened #75931 "Lack of support for DNS configuration list."
This page does not appear to be getting updated regularly.  We are frequently coming across documentation for generally available private endpoints that are not listed on this page.

One example is Azure API for FHIR: https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/configure-private-link

We were given guidance to use this page as a source of authority to periodically enable new endpoi

[2021-05-26 15:19] MonikaReddy-MSFT commented on #75930
@MarcosMMartinez - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-26 15:30] katiep23 commented on #75595
@yoelhor I'm never making it back that far.  After I approve my sign-in to my federated AD, I am taken to "https://login.microsoftonline.com/common/SAS/ProcessAuth" with this screen.  There is no "authresp" response.

![image](https://user-images.githubusercontent.com/51712098/119688093-4e279000-be0d-11eb-9604-2b1d9cf7336a.png)

[2021-05-26 15:31] HarshitaSingh-MSFT commented on #75901
@jeffzhu1990, please note that we are already planning to update the service plans in the doc soon as they are missing. Please keep an eye on the updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-26 15:31] #75901 closed

[2021-05-26 15:33] aronchick commented on #75748
It is my opinion this is a deep anti-pattern. You have a bunch of code in the documents but because of the nature of Python/Jupyter/ML, you can't just copy and paste a blurb - it won't work. You should have a link off to a notebook that includes all the code from the article - each one in an individual cell - to give people context how it runs.

[2021-05-26 15:37] pmeuser opened #75934 "conditional access policies seem not to supports service principals in user context"
The article recommends the mitigation: "Use conditional access to block service principals from untrusted locations. Configure them under the user context, and their tokens should be used to trigger the service principal."

Do I understand this recommendation correctly, that a service principal should be added as "specific user" in a CA policy blocking access from a untrusted location? This seems

[2021-05-26 15:38] lyzlisa opened #75935 "Document how to pass an environment variable to `host.json` in Azure Functions"
Document how to pass an environment variable that was set in Function App > Settings > Configuration > Application settings to `host.json` in [host.json settings](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-bindings-sendgrid.md#hostjson-settings).

I'm interested in knowing how to avoid hard-coding the value of `"from"` in the following example given

[2021-05-26 15:38] skonrad-MFI opened #75936 "Azure B2C Page Layouts Release Notes missing latest versions"
[Enter feedback here]
The latest Page Layout versions within Azure B2C are newer than what is listed on this Page Layouts Release Notes page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4272fbd-ad3d-6099-39bc-966320101b03
* Version Independent ID: ac21035f-4145-b309-d45c-3c38e965301d
* Content: [Page layout versions

[2021-05-26 15:41] rahug1190 commented on #75910
@MartinDBakerCDW Thanks for the feedback. We are aware of this step not being required anymore and will be updating the documentation shortly.

[2021-05-26 15:43] porrascarlos802018 opened #75937 "Setting nodepool Azure tags on availability sets."
Setting nodepool Azure tags on AKS clusters with availability sets.

kindly update the documentation to clarify availability sets in AKS, does not support the usage of tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb-9510-22e2cd56d16b

[2021-05-26 15:43] yoelhor commented on #75936
Thanks for the feedback. We are updating the page layout version soon.

[2021-05-26 15:45] pmeuser opened #75938 "How to use Azure key vault to protect hard-coded shared secret?"
Please can you add a reference to how to use an Azure Key Vault to protect hard-coded shared secret?

"Challenge:
Use of a hard-coded shared secret in a script using a service principal.

Mitigation:
Use a certificate or Azure Key Vault​."

Securing access to Azure Key Vault requires Managed Identity which is only supported for Azure Resources. Therefore this recommendation sounds like a hen-egg-p

[2021-05-26 15:48] Nicholak-MS commented on #75901
I have submitted a pull request with the missing service plans for Office 365 E5 Product.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/160082

[2021-05-26 15:50] pmeuser commented on #75934
Oh I just saw, that there is another feedback regarding the same topic.

BTW: The article itself later mentions the missing support of CA with SPs as challenge:
"Challenge: Can't manage service principals' sign-in with Conditional Access."

Please, can you correct the recommendations to be consistent? Thanks a lot!

[2021-05-26 15:50] yoelhor commented on #75928
Dear @dggomes256, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-26 15:51] GiftA-MSFT opened #75939 "How to enable continious deployment when deploying labeling tool via Azure portal"
Original Q&A Thread: https://docs.microsoft.com/en-us/answers/questions/406732/index.html

According to documentation about deploying labeling tool, there is possibility of setting of setting continuous deployment but there is no option for setting it. Here is the documentation that I follow: https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/deploy-label-tool?tabs=v2-1

The

[2021-05-26 15:51] yoelhor commented on #75595
Could you contact me directly yoelh@microsoft.com ?

[2021-05-26 15:53] jeevansd commented on #75830
@v-hagamp and @v-rant  Can you please confirm these patterns with Digicert and then we can get these updated in the docs?

[2021-05-26 15:54] #75928 closed

[2021-05-26 15:57] GiftA-MSFT commented on #75939
@laujan can you please review above feedback. **Docker** tab does not have an option for **continuous deployment**. However, you can can configure continuous deployment when you set **publish** to **code**. Document needs to be updated.

[2021-05-26 16:00] #75022 closed

[2021-05-26 16:09] JamesTran-MSFT commented on #75934
@pmeuser
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-26 16:10] yoelhor commented on #65924
Hey sorry for the late response. The PS script supports only English letters.

#please-close

[2021-05-26 16:10] #65924 closed

[2021-05-26 16:10] JamesTran-MSFT commented on #75936
@skonrad-MFI
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-26 16:12] JamesTran-MSFT commented on #75938
@pmeuser
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-26 16:14] JamesTran-MSFT commented on #75707
@lXbalanque
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

I'll go ahead and close out this issue at the end of the day pending any response from your end, and I'll keep an eye out for your email.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-05-26 16:14] msmimart commented on #53855
We've since made enhancements to the Facebook documentation that hopefully will help address this issue. As we haven't received feedback on this in several months we'll go ahead and close this issue for now. #please-close

[2021-05-26 16:16] psurma opened #75941 "TypeError: cca.acquireTokenByClientCredentials is not a function"
Function name is incorrect, it should be cca.acquireTokenByClientCredential NOT cca.acquireTokenByClientCredentials

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ddb2f7-4a84-5174-a8fd-d5fd73ddaef6
* Version Independent ID: 285b621a-9a32-744d-b3ae-a93bd6c07aec
* Content: [Migrate your Node.js application from ADAL to

[2021-05-26 16:17] JamesTran-MSFT commented on #75828
@Sweggle
Thank you for your time and patience!

I spoke with our Azure Security Center team and they recommend making sure that you have the most up to date agent and re-running the on-demand scan to see if that resolves your issue.

If you're still having problems with this please let me know.
Thank you again for your time and patience throughout this issue.

[2021-05-26 16:18] yoelhor commented on #70759
Dear @mattallscripts, thanks for the feedback. We have updated the [release notes](https://docs.microsoft.com/azure/active-directory-b2c/custom-policy-developer-notes#oauth-20-application-authorization-flows) with information about OBO. Please check the notes for details.

A new version with a clarification will publish later today, and this GitHub issue will be closed automatically (before the do

[2021-05-26 16:18] #70759 closed

[2021-05-26 16:19] #75174 closed

[2021-05-26 16:21] yoelhor commented on #73067
The new [article](https://docs.microsoft.com/azure/active-directory-b2c/configure-authentication-sample-web-app?tabs=visual-studio) is published. Closing this issue. If you have any questions or need further information, please open new GitHub issue.

#please-close

[2021-05-26 16:21] #73067 closed

[2021-05-26 16:21] atastrophic commented on #75872
sorry about that, it is on this page.

https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-dotnet

[2021-05-26 16:22] msmimart commented on #72507
@KevinCathcart thanks so much for the feedback. We've created a work item for internal tracking so we can include the enhancements in a future iteration of the SSO doc. #please-close

[2021-05-26 16:22] #72507 closed

[2021-05-26 16:23] vineetvikram commented on #69796
Hi Martin

My apologies on the delay in responding to this thread. Team was really busy with a feature roll-out and then pandemic in India caused further delays.
I have passed on your feedback to the concerned Product Manager and they should be looking at it soon.

Regards
Vineet

[2021-05-26 16:24] PeterCLu commented on #75383
Hi @konabuta, thanks for the report!

I've reported this issue to the product team. They are now aware of this platform limitation, however they do not plan to add Edge support on Edge.

I've added a documentation work item to document platform support in the future. Our documentation team will prioritize this request along with other requests. Thanks so much!

#please-close

[2021-05-26 16:24] #75383 closed

[2021-05-26 16:25] seelamr1026 opened #75942 "Issue in deploying model using Azure CLI"
Hi Team, I have been using Azure CLI to deploy my ML Model and has been facing the issue mentioned below can anyone help me fixing this

**Azure-cli-ml Version': '1.29.0', 'Error': MlCliError({'Error': 'Error parsing --inference-config-file. Must be valid JSON or YAML file.', 'Response Content': MlCliError({'Error': 'Error while parsing file. Must be valid JSON or YAML file.', 'Response Content':

[2021-05-26 16:25] markjbrown commented on #75578
Please assign to @ThomasWeiss

Thanks

[2021-05-26 16:26] #73080 closed

[2021-05-26 16:28] PeterCLu commented on #75802
#assign:@sdgilley

[2021-05-26 16:29] seelamr1026 commented on #75942
the command where the error occured

az ml model deploy -n test -m testmodel:1 --overwrite --ic inferenceconfig.json --dc re-deploymentconfig.json --resource-group ML --workspace-name test

JSON for interferenceconfig is same as mentioned in the document.

[2021-05-26 16:31] danhayes123 opened #75943 "Table should be "StorageBlobLogs" not "StorageBlobLog""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Independent ID: 36381f6b-f57b-95a2-67cd-80bffcee238c
* Content: [Monitoring Azure Blob Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/monitor-blob-storage?tabs=azure-portal)
* Content Sourc

[2021-05-26 16:38] lXbalanque commented on #75707
Hi James, unfortunately, I don't have time at the moment to review
this. I'll try to follow up again once I can revisit.

On Wednesday, May 26, 9:14 AM,  wrote:

[2021-05-26 16:39] yoelhor commented on #74600
Dear @takuyateraoka , thanks for the feedback. We are updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-26 16:39] NavtejSaini-MSFT commented on #75847
Thank you for the reply @markjbrown . @sthoward0914 - Please let us know if you need any further info or we will go ahead and close this request.

[2021-05-26 16:44] TerryJ123 opened #75944 "Log Analytics"
For clarity, in step 4 under creating the automation account, it might be helpful to state that the Log Analytics workspace should exist prior to running the script.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34

[2021-05-26 16:47] JamesTran-MSFT commented on #75707
@lXbalanque
Thank you for the quick follow up!

I'll go ahead and close this out. Feel free to follow up when you're free and I'll be more then happy to provide the email instructions again or re-open this issue.

[2021-05-26 16:47] #75707 closed

[2021-05-26 16:55] jatin7 opened #75946 "Power BI integration with B2C"
Is it possible to integrate Power Bi with AAD B2C ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899-f35a-0f08-d280110ded13
* Content: [Frequently asked questions (FAQ) for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/activ

[2021-05-26 16:58] derisen commented on #75941
@psurma thank you very much for catching this!
@James-Hamil-MSFT fixed via [#160094](https://github.com/MicrosoftDocs/azure-docs-pr/pull/160094)
#please-close

[2021-05-26 16:58] #75941 closed

[2021-05-26 17:01] RyanHill-MSFT commented on #75741
Hi @giovannifl, I'll update the doc to call this out more explicitly but in the following note, *webspace* is the app service plan, not the app service.

Apologies for the confusion.

[2021-05-26 17:03] chirangaalwis opened #75947 "[SQL Database][vCore] Support for Storage Auto Growth"
While evaluating the service tier options under **Storage**, it was noticed that Azure SQL Database service tiers - **General Purpose** and **Business Critical** do not mention about the availability of support for storage auto growth (at least within a range specific to the relevant service tier). In contrast, the **Hyperscale** service tier provides flexible auto growth of storage.

During datab

[2021-05-26 17:03] JamesTran-MSFT commented on #75946
@jatin7
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-26 17:04] svennela opened #75948 "missing - resource-group"
[Enter feedback here]
It should be --resouce-group and --output, instead -resouce-group and -output
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df16df9a-a855-2512-5e26-baec15e3be88
* Version Independent ID: c77f255b-57c9-7e2d-2b10-98a8fe538376
* Content: [Quickstart: Connect an existing Kubernetes cluster to Azure Ar

[2021-05-26 17:11] BharathNimmala-MSFT commented on #75885
@TaniyaModi Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-05-26 17:14] ChaitanyaNaykodi-MSFT commented on #75935
Hello @lyzlisa,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-26 17:16] knicholasa commented on #75631
I have completed a fix.

[2021-05-26 17:16] knicholasa commented on #75631
#please-close

[2021-05-26 17:16] #75631 closed

[2021-05-26 17:18] Oury-MSFT commented on #75578
@ThomasWeiss  let me know if we can make a modification in the doc. Thanks

[2021-05-26 17:24] YutongTie-MSFT commented on #75942
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-26 17:29] DerekHerman-MSFT commented on #75888
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-26 17:30] JasonWHowell commented on #71557
#please-close

[2021-05-26 17:30] #71557 closed

[2021-05-26 17:31] zeinab-mk commented on #72886
Already addressed the issue by @viseshag. please close this issue.

[2021-05-26 17:32] #75741 closed

[2021-05-26 17:41] ericthomas1 commented on #60595
Please provide better documentation on how the EventGrid messaging should occur and which Log Analytics tables to use to pinpoint errors.

Otherwise, here is where software engineers end up spending their time https://stackoverflow.com/questions/67696967/determine-cause-of-a-runaway-azure-function-using-kusto.

[2021-05-26 17:42] femsulu commented on #75879
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-26 17:44] femsulu commented on #75898
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-26 17:53] PeterCLu commented on #75750
#assign:@nibaccam

[2021-05-26 17:53] PeterCLu commented on #75748
#assign:@nibaccam

[2021-05-26 18:07] ericthomas1 commented on #60595
Oh and here: https://stackoverflow.com/questions/67097728/how-to-view-actual-event-grid-message-in-azure-portal

[2021-05-26 18:16] femsulu commented on #75921
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-26 18:18] KranthiPakala-MSFT commented on #72886
Thanks @viseshag and @zeinab-mk for updating the docs.

@DeanGross Content has been updated here: https://docs.microsoft.com/en-us/azure/purview/purview-connector-overview

We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-26 18:20] normesta commented on #75064
Hi @hodgkinsonp are you specifying more than 49 columns in your query? The current limit if 49. This Github issue reports the exact same error - https://github.com/Azure/azure-sdk-for-net/issues/21011.

[2021-05-26 18:23] BharathNimmala-MSFT commented on #75948
@svennela - Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to correct the doc. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if y

[2021-05-26 18:23] #75948 closed

[2021-05-26 18:29] JayaChatterjee-MSFT commented on #75851
@fgcgithub How are you reading the value? Are you trying to read using Configuration Manager? Then you may add a Connection String from the Azure portal:

From your Function App UI, click Configurations --> Application Settings --> Add connection strings
If used as an Environment Variable, then can add the App setting.
Also, please share the document section, what you are referring to.
However, th

[2021-05-26 18:37] BryanTrach-MSFT commented on #75615
@vitorbencini Thanks for the question. For telephony solutions, we are working to expand the geographic availability but don’t have any specific timelines to share for Europe – though it is something we are actively looking into. Updates will be available in the [Azure blog](https://azure.microsoft.com/search/updates/?q=azure+communication+services&products=).

You can view more info about our cur

[2021-05-26 18:37] #75615 closed

[2021-05-26 18:38] MarcLaf commented on #53264
Sorry I can no longer test this as we dropped Jamf for Intune. But glad to hear it's working now.

[2021-05-26 18:43] GiftA-MSFT commented on #75845
Hello @JeffMII can you please share the document you are referencing? We need to link the document to your post.

[2021-05-26 18:44] BharathNimmala-MSFT commented on #75576
@paulfinol Our sincere apologies for delay in getting back to this thread.  I have reached out to our internal team to find an answer for your query, we will update the thread accordingly as we hear more information.

[2021-05-26 18:45] SadiqhAhmed-MSFT commented on #75929
@waqar-anwar1990 Thank you for posting this question.  We will check with the concerned team and get back to you soon.

[2021-05-26 18:46] #75900 closed

[2021-05-26 18:47] DeanGross commented on #72886
I don't see any new connectors on those pages, AWS is not listed. Why was this closed?

[2021-05-26 18:49] SaurabhSharma-MSFT commented on #75708
@sig9 ok, got it.  If you have already a support ticket open then you probably do not need this GitHub issue as this GitHub repository is used to track documentation issues rather than product bugs or product feedback.  Please let me know if have any questions.

Thanks
Saurabh

[2021-05-26 18:49] viseshag commented on #72886
There’s a redirection link to the main sources page. We should find full lair of sources there.

Warm Regards,
Vishal

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dean ***@***.***>
Sent: Wednesday, May 26, 2021 11:47:30 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Vishal Anil ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] out of

[2021-05-26 18:53] KranthiPakala-MSFT commented on #72886
Hi @DeanGross Here is the redirection link:

![image](https://user-images.githubusercontent.com/50185738/119715470-e5deab80-be18-11eb-991c-330568f5f228.png)

[2021-05-26 18:59] KranthiPakala-MSFT commented on #72886
Re-opening the issue to further re-evaluate the feedback.

@viseshag, @ChandraKavya  - Looks like it is missing in below list on this doc: https://docs.microsoft.com/en-us/azure/purview/purview-connector-overview.

 Could you please update accordingly.

![image](https://user-images.githubusercontent.com/50185738/119716150-a95f7f80-be19-11eb-8bad-f8992ad8a79f.png)

 Thank you

[2021-05-26 19:05] scotts777 opened #75952 "Hosting Platform Windows Eludes to a Non-Existing Startup File"
Under the section Java SE, for this page, it describes deploying via a jar file and that the jar file needs to be names app.jar.  However, the Notes in this section say that a startup file can be specified to call the java command.  However, this appears to only be true for the Linux Platform?  I have chosen the Windows Platform on the top of the page and it says this, but the Startup File link ta

[2021-05-26 19:08] #75869 closed

[2021-05-26 19:09] SadiqhAhmed-MSFT commented on #75929
@waqar-anwar1990 Reservations should not affect these operations since the benefit is applied after the usage has been emitted and sent to commerce (UAE) and before it flows to cost management and billing.

Hope this helps!

[2021-05-26 19:12] yoelhor commented on #75946
Azure AD B2C can't be used to authenticate users for Microsoft 365. Azure AD is Microsoft's solution for managing employee access to SaaS apps and it has features designed for this purpose such as licensing and Conditional Access. Azure AD B2C provides an identity and access management platform for building web and mobile applications.

[2021-05-26 19:13] DerekHerman-MSFT commented on #75918
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-26 19:17] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda You can see this in portal but only in the 2 regions that are supported.

![image](https://user-images.githubusercontent.com/44458118/119718213-ea40ae00-be84-11eb-9c70-ffda9c1064e1.png)

Please find below the relevant API

PATCH  https://management.azure.com/subscriptions/<subID>/resourcegroups/<vaultRG>/providers/Microsoft.RecoveryServices/vaults/vaultName/backupstorageconfig/vaults

[2021-05-26 19:17] SaiKishor-MSFT commented on #75931
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-26 19:18] stewartadam opened #75954 "Examples should not use numbered inputs or outputs"
Many of the Edge docs (including this page) use numbered naming for I/O routes which is not very descriptive, and can be confusing for users. Like variable naming, descriptive names should be used here.

A more descriptive configuration might look like:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0

[2021-05-26 19:20] yoelhor commented on #72648
You can have single app for both the app and the API. Or you can have two separate app registrations. One for the mobile app, and one for the API. In the later case, the API scopes are configured in the API app registration. Then the scopes must be published into the mobile app registration. The scopes specify in the authorization request must be from the same API app registration.

[2021-05-26 19:20] kennethvs opened #75955 "About Policy behavior with filters for devices"
The Policy behavior with filters for devices table doesn't make sense when reading it and could use some more context about the "why"

It states for example that for unregistered devices, when using positive operators like Equals, StartsWith, EndsWith, Contains, In for any attribute the device filter is not applied, but when using the negative operators like NotEquals, NotStartsWith, NotEndsWith,

[2021-05-26 19:21] stevenxzhou commented on #75936
The release note is under review. https://github.com/MicrosoftDocs/azure-docs/pull/75874

[2021-05-26 19:21] stewartadam opened #75956 "Examples should not use numbered inputs or outputs"
See #75954 for details. `input1` is not descriptive, and does not make clear the intended use. It leads to a bunch of misleading questions like "are all inputs numbered?" or "how does one define input2?" or "is 'the input1 endpoint' as referenced in the docs something baked into the platform?".

It should be made clear that inputs are (a) user defined, (b) configured via deployment manifest and (c

[2021-05-26 19:22] DeanGross opened #75957 "Incorrect instructions"
The page states that individual Defender products are monitored but when I view the instructions in sentinel, it tells me that they are coming soon. This documentation should not state that something will happen when it has not yet been deployed, this is confusing and misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-05-26 19:22] GiftA-MSFT commented on #75845
@aahill can you please review above feedback. Are you aware of any changes that may cause the error?

[2021-05-26 19:29] femsulu commented on #75921
@vineetvikram kindly review this doc-enhancement request.

[2021-05-26 19:32] femsulu commented on #75909
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-26 19:34] GiftA-MSFT commented on #75845
@Sintrias just to verify, did you specify the version as well? `npm install --save @azure/ai-text-analytics@5.1.0-beta.5`

[2021-05-26 19:35] yoelhor commented on #75936
Dear @skonrad-MFI , thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-26 19:37] Sintrias commented on #75845
I did not. The command I used to install the package is `npm install @azure/ai-text-analytics`.

[2021-05-26 19:39] GiftA-MSFT commented on #75845
Tried both and unable to reproduce the error.

[2021-05-26 19:43] yoelhor commented on #75595
Thanks! so, the issue is related to the AAD app registration. Please check the app registration with ID that starts with `3e9c9ed1-b162-4451`.   The one that appears in the error above. Make sure the following redirect URL is actually configure in that app

![image](https://user-images.githubusercontent.com/20111866/119721166-806bd880-be73-11eb-9d23-268990c46464.png)

[2021-05-26 19:43] GiftA-MSFT commented on #75845
Are you having this error when you try to install the package or getting the from a specific section of the code?

[2021-05-26 19:44] Sintrias commented on #75845
I can share my project with you. It is a work in progress though, so it doesn't fully compile even with the previous package version. It did however reach the next build stage after changing to the previous package version.

[2021-05-26 19:44] #75936 closed

[2021-05-26 19:46] Sintrias commented on #75845
When doing `npm run start`. It is an Express project.

[2021-05-26 19:47] rayterrill opened #75958 "Bug in Docs with Configure F5 SSO - givenname?"
Step 9 of "Configure F5 SSO" says "Username Source" should be "session.saml.last.attr.name.http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" - isn't givenname generally first name? Should be something like "'session.saml.last.attr.name.http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-05-26 19:48] seasidebruin opened #75959 "Unable to login as a new Oracle user after install"
I used these steps in Azure to install ORACLE 12c and 19c database.  I can login as SYS and make modifications via sqlplus or sql developer.  I then created a user via sqlplus (also tested with sqldeveloper) just fine as SYS.  I then try to log into sqlplus as the new user and it fails.  I also tried via sqldeveloper and it also failed.
Currently I have 19c database installed, but it also happened

[2021-05-26 19:51] JamesTran-MSFT commented on #75958
@rayterrill
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-26 19:51] JamesTran-MSFT commented on #75957
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-26 19:53] Sintrias commented on #75845
Also, I am usin TSLint.

[2021-05-26 19:57] APIWT commented on #75620
Hey @anastasia-ms! The issue is that if your subscription has not registered the `Microsoft.Maps` resource provider, then the ARM template will fail to deploy. This is probably applicable to many different places (not just ARM, and not just Azure Maps), but the documentation around this could be better in my opinion.

[2021-05-26 19:59] yoelhor commented on #73719
This issue is probably related to the MSAL library. I'm closing this issue. Please see the reported issue on the MSAL GitHub repo https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/issues/68.

#please-close

[2021-05-26 19:59] #73719 closed

[2021-05-26 20:05] cherylmc commented on #75425
Hi @Tarjei99 - the cmd in the article does indeed create a root certificate, which you can validate by looking at the Certification Path for the certificate. However, I will take your suggestion of having the export process additionally shown as a PowerShell cmd to the product team. Thanks for taking the time to comment!

[2021-05-26 20:05] cherylmc commented on #75425
#please-close

[2021-05-26 20:05] #75425 closed

[2021-05-26 20:10] yoelhor commented on #74049
Dear @nataliahering, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-26 20:13] cherylmc commented on #74766
Hi- I can't repro this. The link does take me to the Overview of Partner VPN device configurations page, which contains the parameters. If you are looking for specific configurations provided using partner links, the link in the bullet just prior to that will take you to the page with individual links.

[2021-05-26 20:13] cherylmc commented on #74766
#please-close

[2021-05-26 20:13] #74766 closed

[2021-05-26 20:18] joshhayskr opened #75961 "Propagation delay takes longer than 5 minutes"
https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#what-is-the-propagation-time-if-i-make-a-change-to-my-waf-policy

We had to make an adjustment during a production issue and have seen intermittent failures continue for an hour+.  Are others observing this?  We are going to open a support ticket for tracking as well, but wanted to raise it with the documentation team in

[2021-05-26 20:21] #74049 closed

[2021-05-26 20:23] yoelhor commented on #75062
Closing due to inactivity

#please-close

[2021-05-26 20:23] #75062 closed

[2021-05-26 20:34] Sweggle commented on #75828
@JamesTran-MSFT
Thanks for replying, I only installed the VA agent a week or two ago ... reading the FAQ it says the agent should be updated automatically. I would _assume_ it is on the latest version but I've no way of knowing. It seems like in my tenants where I have a few machines its ok, but i have one with 90-100 machines and its just not updating.
Any ideas?
Thanks!

[2021-05-26 20:37] femsulu commented on #75905
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-26 20:37] Sweggle commented on #75828
JUst checked this .. I have 4.4.0.38 in what seems to be a tenant that updates quickly and one that doesnt. Both Windows 2016.

I'm also assuming that where it says "Time Generated" in the vulnerability in Azure Security Centre this is the last time it detected this vulnerability on this specific host....and that it hasnt scanned since then.

[2021-05-26 20:40] benCoomes opened #75962 "Use Cosmos Resource Tokens"
Hi MS Documentation team,

First, thank you for the great information on how to generate resource tokens for cosmos. I have been able to get that working without issue. What I am struggling to find information on now is how to use those resource tokens with the .Net Cosmos SDK V3.

I am able to create a CosmosClient, passing in the cosmos endpoint and resource token. I've been able to verify that

[2021-05-26 20:40] femsulu commented on #75919
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-26 20:41] sthoward0914 commented on #75847
Okay. Understood. Can we at least have something that will make sense in the context? As I said, with music, it is either strong consistency, or it is chaos and noise. What would provide a logical explanation to a diverse audience. I don't think music is it.

I'm open, but give me something shareable with a class.

[2021-05-26 20:43] femsulu commented on #75906
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-26 20:46] femsulu commented on #75903
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-26 20:49] MarileeTurscak-MSFT commented on #75719
This was answered in [this thread](https://github.com/MicrosoftDocs/azure-docs/issues/38456):

If you have questions about specific fees, you can have a free conversation with the [Billing [](Team](https://azure.microsoft.com/en-us/support/options/)) and they should be able to help.

[2021-05-26 20:49] #75719 closed

[2021-05-26 20:50] femsulu commented on #75920
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-26 20:53] #75946 closed

[2021-05-26 20:54] GiftA-MSFT commented on #75845
Upon further review, the issue seems to be based on the modules you are importing and the way you are importing them. I found a similar [question](https://stackoverflow.com/questions/61736931/importing-shared-angular-module-error-module-declares-component-locally-but-i) that may help point you in the right direction. Also, checkout this [thread](https://stackoverflow.com/questions/60740708/module-

[2021-05-26 21:05] DerekHerman-MSFT commented on #75943
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-26 21:20] WGabriel commented on #75835
Hi Yutong, any feedback on the issue described above? Thank you in advance!

[2021-05-26 21:28] nibaccam commented on #75748
An edit has been applied to this doc. @aronchick thank you for the suggestion. The edit should be published later today.

We will now proceed to close this thread #please-close

[2021-05-26 21:28] #75748 closed

[2021-05-26 21:31] Phydeauxman opened #75965 "Container create command no longer works without passing registry credentials"
The document says to use the command below to deploy a container instance:

`az container create --resource-group myResourceGroup --name mycontainer --image mcr.microsoft.com/azuredocs/aci-helloworld --dns-name-label aci-demo --ports 80`

When using the command above from within a VS Code terminal, the user gets prompted for registry credentials.

---
#### Document Details

⚠ *Do not edit this sec

[2021-05-26 21:47] mike-urnun-msft commented on #75833
Hi @star286 - That's right, all 100 users will share the same connection pool owned by the same instance of `HttpClient`.

Per the doc for [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-5.0):

[2021-05-26 21:55] KranthiPakala-MSFT commented on #75923
@julisch94
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-26 22:03] ericthomas1 commented on #60595
**So... if this is indeed the sequence of events, how can this be possible?**
- 0 Published Events
- 7 Delivery Failed Events
![image](https://user-images.githubusercontent.com/42788729/119736941-5db9cf80-be33-11eb-9d2f-7dab389dbcc6.png)

**More importantly, how is this investigated using Log Analytics?**

[2021-05-26 22:09] ericthomas1 commented on #60595
@abhiyadav1323 , when you say:

Which table are you querying? Is this a table in Azure App Insights or Log Analytics (with Diagnostic Setting on System Topic)?

Thank you

[2021-05-26 22:15] markjbrown commented on #75847
I'm not sure why you think the others beside strong do not reflect the behavior of the consistency model. The sequence of the notes is accurate to the consistency model's behavior. Additionally, feedback on using the musical notes has been very positive and is in fact, what we show in the Azure portal.

This is the first instance of feedback asking it be changed. I'm open to changing it to use ano

[2021-05-26 22:21] spelluru commented on #60595
@ericthomas1 - Sorry. I am not the right person to answer these questions. Please send me an email and I will loop in the PM and devs. Thanks.

[2021-05-26 22:23] ericthomas1 commented on #60595
Ok. What is your email address?

[2021-05-26 22:25] sthoward0914 commented on #75847
@markjbrown

In answer to your question, because musical notes are more than just an order. The notes indicate the pitch and the timing. When you change the order that the notes are played (arrive), you change the musical piece you are playing. It becomes even more chaotic as that can change harmonies/chords, and at the end, if you have anything other than strong consistency that can enforce not o

[2021-05-26 22:27] SatishBoddu-MSFT commented on #75956
Hello @stewartadam
Our SME will review your feedback!

[2021-05-26 22:29] SatishBoddu-MSFT commented on #75954
Hello @stewartadam
As this is related to the other issue, We will now proceed to close this and will be working with you on the related issue: https://github.com/MicrosoftDocs/azure-docs/issues/75956

[2021-05-26 22:29] #75954 closed

[2021-05-26 22:33] spelluru commented on #60595
same as my GitHub alias (spelluru). Thanks.

[2021-05-26 22:35] mrochon opened #75967 "Statement that 'consumer accounts do not support groups' is incorrect"
It is not clear how any account (consumer or work) could support groups. Usually, it is groups which do or do not support accounts. I think what was meant was that 'consumer accounts do not support administrative operations' and therefore there is no point in including them in groups if the groups are used to manage B2C. Consumer accounts can definitely be added to security groups as owners or mem

[2021-05-26 22:43] SenthuranSivananthan opened #75968 "Microsoft.KubernetesConfiguration needs to be registered"
Need to add the following provider in the first step when registering the providers, otherwise k8s-extention can not be enabled.

Error:
[code]

Missing registration:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bceeac-dc48-471b-2d60-b7442b60ee06
* Version Independent ID: a0381e86-0a67-19a3-eb35-f758ce1c2f2c

[2021-05-26 23:14] ThomasWeiss commented on #75578
I'm currently verifying this with the engineering team.
________________________________
From: Oury-MSFT ***@***.***>
Sent: Wednesday, May 26, 2021 10:18 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Thomas Weiss ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] PublicNetworkAccess must be enabled, documentation does not say so (#75578)

@ThomasWeiss<https://nam06.safel

[2021-05-26 23:23] sebansal opened #75970 "Support for user assigned identity is missing currently"
If the customer is using a User Assigned Identity, that isn’t supported yet and ACR team can speak to timelines and official statements about support. please clarify the same in the document to set the right expectation for the customers. - Key vault team

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys#advanced-scenario-key-vault-firewall
---
###

[2021-05-26 23:28] JamesTran-MSFT commented on #75967
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-26 23:32] roygara commented on #75242
@kellylu2sym Hello, thanks for reaching out. I've went through the article and attempted the various code samples for both SDKs using both connection string variants (with the endpoint suffix and without). For me it works both ways for all of the commands. I don't know why it was giving you an exception but, as written, the code samples in the article are valid.

Since the code samples are valid,

[2021-05-26 23:32] #75242 closed

[2021-05-26 23:49] Oury-MSFT commented on #75947
@chirangaalwis Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-26 23:50] ValOlson commented on #74903
Hello @jeevannagvekar,

Glad to hear that you have successfully updated package updates using Device Update! To answer your remaining questions-

1. An example of application update will be available when we launch the capability in a few months, so stay tuned.
2. For 5, I don't mean the Edge Runtime module but rather an IoT Hub Module (non-containerized). [This ](https://docs.microsoft.com/azure/

[2021-05-26 23:50] deyaaeldeen commented on #75845
Hi @Sintrias. I work on the `@azure/ai-text-analytics` package and I hope to be able to help resolving the issue you are seeing. If non of what my colleagues' suggestions worked, would you mind sharing a github repo to your Express project so I can take a closer look?

[2021-05-26 23:57] ram-msft commented on #75714
@oceansv We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-26 23:57] #75714 closed

[2021-05-27 00:03] CorgiDev commented on #75878
@msmbaldwin The links under the "Authenticate and create a client" header on down the rest of the page were the ones that initially made me try clicking through them. There are a few here and there that work, but a good number return 404 errors.

I was trying to use that page while working on a project and ended up having to go to the ["Microsoft Azure Key Vault Secrets Client Library for Python"]

[2021-05-27 00:05] rboucher commented on #73438
Contacting the SQL folks to take a look.

[2021-05-27 00:09] YutongTie-MSFT commented on #75835
Hello @WGabriel , I just tried this and it works well for me. Please make sure your created a preview version and make sure you have selected the Custom question answering (Preview) when you created it as below. Thanks.
![image](https://user-images.githubusercontent.com/38084098/119745821-cc068e00-be43-11eb-9883-e316e3ec83de.png)
![image](https://user-images.githubusercontent.com/38084098/11974618

[2021-05-27 00:15] ThomasWeiss commented on #75578
@o-l-a-v Can you clarify what you mean _"PublicNetworkAccess" must be enabled_? This is enabled by default and doesn't require a specific action - unless it was disabled before.

[2021-05-27 00:18] CorgiDev commented on #75878
The Azure SDK for Python page I linked in my previous comment was a slightly out of date version. The [Azure Key Vault Secrets client library for Python - Version 4.2.0](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/master/docs-ref-services/latest/keyvault-secrets-readme.md) page is the more up to date version and is stored under the MicrosoftDocs repo, just a different part than wha

[2021-05-27 00:22] YutongTie-MSFT commented on #75942
@seelamr1026 Hello, sorry for your experience, could you please try to use the Machine Learning environment to see if that solves the problem? https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#enable-docker
We encourage the usage of Environment based deployment which is faster and more reliable. I have seen similar issue solved by using the environment.

At the mean t

[2021-05-27 00:26] Sintrias commented on #75845
Ah. Those links are handling Angular projects. I'm very familiar with Angular. Neither of those will fix the issue however. NgModule is only recognized by Angular. The project I'm working on now is an Express project so NgModule won't be helpful here.

[2021-05-27 00:29] Karishma-Tiwari-MSFT commented on #75688
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-27 00:30] Sintrias commented on #75845
I can. It's pretty late in the day at the moment so I will need to wait for tomorrow to share it with you. I'll be sure to create the repo first thing in the morning and share the pull request link with you.

[2021-05-27 00:40] Karishma-Tiwari-MSFT commented on #75925
Thanks for the feedback! I have assigned the issue to the content author to investigate further and review your pull request.

[2021-05-27 00:41] Karishma-Tiwari-MSFT commented on #75937
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-27 00:42] Karishma-Tiwari-MSFT commented on #75944
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-27 00:42] Karishma-Tiwari-MSFT commented on #75959
Thanks for the question. We are currently investigating and will update you shortly.

[2021-05-27 00:45] Karishma-Tiwari-MSFT commented on #75970
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-27 00:46] JasonWHowell commented on #72407
#please-close

[2021-05-27 00:46] #72407 closed

[2021-05-27 00:46] JasonWHowell commented on #71604
#please-close
MicrosoftDocs/Azure-docs-pr#159628

[2021-05-27 00:46] #71604 closed

[2021-05-27 00:49] Karishma-Tiwari-MSFT commented on #75965
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-27 01:05] kemurayama commented on #75898
Hi, I found my mistakes and forgot some commands.

[2021-05-27 01:05] #75898 closed

[2021-05-27 01:50] star286 commented on #75833
@mike-urnun-msft , thanks for your information:). One more question, is this also true for documentdbclient / sql client?

[2021-05-27 02:07] msmimart commented on #73085
@quintusm, we appreciate you pointing this out. Please have a look at [Manage Azure AD B2C with Microsoft Graph](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-operations), which gives an overview of B2C management scenarios and points to the MS graph documentation for details. Hopefully this is the info you're looking for. Thanks again for your feedback. #please-close

[2021-05-27 02:07] #73085 closed

[2021-05-27 02:21] SudhaGPillaiP opened #75972 "Password ="
This document encouraging a very dangerous practice of storing plain text password. There are so many other ways to connect to DB without displaying plain text in the script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2184eee-03ed-bc72-cbae-57203d7e2269
* Version Independent ID: 859b106a-f37d-e051-eb0a-58884b2df647

[2021-05-27 02:29] seasidebruin commented on #75959
Is the issue that I created the user name in all lower case?  Is that an issue in Oracle?

[2021-05-27 02:51] RyanHill-MSFT commented on #75952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-27 03:02] RyanHill-MSFT commented on #75968
Thanks for the callout @SenthuranSivananthan. We'll get the doc updated.

[2021-05-27 03:12] #75968 closed

[2021-05-27 03:20] RyanHill-MSFT commented on #75772
@mcalnd70 can you email us at AzCommunity[at]microsoft[dot]com _ATTN: Ryan_. Since some apps did get the refreshed cert, we need to work more closely with you to see what happen to the others. Please include your subscription id and affected app services.

[2021-05-27 03:23] codehedgehog opened #75979 "Repeated 'QuickStart' phrase in C#: Create a new C# application"
In setting-up C#, Create a new C# application, the phrase 'QuickStart' is repeated.  It should be:
`dotnet new console -o ManagedIdentitiesQuickstart`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbaae7dd-61f3-2888-a08a-3a2a6612ea6b
* Version Independent ID: 19cb544f-05c6-16fe-0dcc-bfb594326048
* Content: [Use manage

[2021-05-27 03:24] nssidhu opened #75980 "How to listen for Deletes on Objects from SalesForce"
Currently we only get Insert & Updates from the salesforce.
How do i get the Deletes from salesforce as well. if Logic app is triggered for INSERT/UPDATE/DELETE is there a way to find out
if the record was updated/Inserted or deleted on salesforce side ?

Also what mechanism does logic app use to listen for changes ?
Salesforce support the following
1) CDC with replayID
2) SOSQL Object Query
3) Pu

[2021-05-27 03:29] #74600 closed

[2021-05-27 03:30] HarshitaSingh-MSFT commented on #75766
@Bhodges94, can you pls share link that says "you can instead enable each account for per-user Azure AD Multi-Factor Authentication"?

[2021-05-27 03:37] msmimart commented on #73222
Hi @bilginbaldji, we've updated this article. Thank you so much for your feedback! #please-close

[2021-05-27 03:37] #73222 closed

[2021-05-27 03:42] BhargaviAnnadevara-MSFT commented on #75979
@codehedgehog Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-27 03:42] ElSrJuez opened #75981 "Role Assignment"
As per this page, Global Administrator and Identity Governance Administrators have permissions over Access Reviews.
User Administrator doesnt mention Access Reviews?
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#user-administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40ed

[2021-05-27 03:44] BhargaviAnnadevara-MSFT commented on #75900
@richardjharding Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-05-27 03:45] #75715 closed

[2021-05-27 03:46] prvempat commented on #74067
Hi @BryanTrach-MSFT , @cephalin Following up to check the status of the document update.

[2021-05-27 03:51] BhargaviAnnadevara-MSFT commented on #75715
@pxmonti Thanks again for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-05-27 03:52] BhargaviAnnadevara-MSFT commented on #75867
@benc-uk We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-05-27 03:52] #75867 closed

[2021-05-27 04:14] vipulsparsh commented on #75955
@kennethvs Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-27 04:15] vipulsparsh commented on #75736
@ThijsLecomte Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-27 04:17] vipulsparsh commented on #75981
@ElSrJuez Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-27 04:19] ajay960singh opened #75982 "Python SDK for real-time speech-to-text from stream"
Hey,

I've an audio stream from ffmpeg, which I want to pass to Azure speech-to-text for real-time transcription and diarization.

Can you pls guide to the right documentation/tutorial for Python implementation of this?

Thanks

[2021-05-27 04:27] M0ns1gn0r opened #75983 "Running emulator on Windows with WSL2"
Please add a section "Run the Linux Emulator on Windows OS" for users of Docker on WSL2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a59d2ab-cacd-5545-bddb-b9304f204605
* Version Independent ID: bbcf9128-f9c3-fa84-b085-ba566f45d56f
* Content: [Run the Azure Cosmos DB emulator on Docker for Linux](https://docs.micro

[2021-05-27 04:27] SaiKishor-MSFT commented on #75961
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-27 04:34] BharathNimmala-MSFT commented on #75613
@ld0614 Our sincere apologies for getting back to this thread , assigning this issue to our document @Rajeswari-Mamilla to further evaluate the feedback and update the document accordingly.

[2021-05-27 04:39] AnuragSharma-MSFT commented on #75962
@benCoomes Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-05-27 04:42] AnuragSharma-MSFT commented on #75972
@SudhaGPillaiP Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-05-27 04:44] seasidebruin commented on #75959
The user issue I experienced was related the user I created was in all lowercase.
If I had created the user in all uppercase, then there is no issue.

[2021-05-27 04:44] #75959 closed

[2021-05-27 04:44] AnuragSharma-MSFT commented on #75983
@M0ns1gn0r Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-05-27 04:45] BhargaviAnnadevara-MSFT commented on #75979
@codehedgehog Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-05-27 04:54] seelamr1026 commented on #75942
I have looked into the document provided. I am using Azure CLI for my model deployment. Creating an environment beforehand or specifying the same details in the inference config during deployment should serve me the same purpose right, specifying the same details in the inference should also create an environment for me.

Also after creating the environment using CLI I should still go ahead with u

[2021-05-27 04:59] v-hagamp commented on #53264
#please-close

[2021-05-27 04:59] #53264 closed

[2021-05-27 05:24] AnuragSharma-MSFT commented on #75763
@tigerdeccan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-27 05:24] #75763 closed

[2021-05-27 05:26] MhAllan opened #75985 "Variable names in examples are weird"
All variable names in Azure communication services examples are weird. the underscore is at the end of the variable which bothers me reading the code.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f6c0b6e-a3b1-ed87-f673-4842029e498f
* Version Independent ID: 10cb7160-76d2-3f5c-3a6d-b9bbddc75d0e
* Content: [Quickstart

[2021-05-27 05:39] BhargaviAnnadevara-MSFT commented on #75985
@MhAllan Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-05-27 05:45] Sharmistha-Rai commented on #75576
@paulfinol - the maximum disk size supported by Azure Site Recovery is P50.

[2021-05-27 05:46] HarshitaSingh-MSFT commented on #75771
AAD auth to domain-joined only machines will not work. For a standalone WS 2019 or Win10, the machine must be hybrid AAD joined or AAD joined. We will update the same in docs, thank you again for bringing this up!

[2021-05-27 05:49] MayankBargali-MSFT commented on #75980
@nssidhu Thank you for your feedback! We will review and update as appropriate.

[2021-05-27 05:54] BhargaviAnnadevara-MSFT commented on #75982
@ajay960singh Thanks for the question. The [Azure Speech to Text Service](https://azure.microsoft.com/en-us/services/cognitive-services/speech-to-text/) enables real-time transcription of audio streams into text, and should help you with your requirement.

Here are some resources to get you started:

- [Python SDK](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/?view=az

[2021-05-27 06:00] kennethvs commented on #75955
Hi @vipulsparsh

After sleeping one night over it, I now realize that it might also mean that the filter gets applied for negative operators on unregistered devices because it cannot be determined what the attribute cannot be determined. The means for example that in the case that the unregistered device is has the device manufacturer attribute of Microsoft and the operator is NotEquals Microsoft.

[2021-05-27 06:04] RohitMungi-MSFT commented on #75982
Transcription and diarization are available using the REST API. Please use the following [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#batch-transcription-api).

Diarization only supports recognizing two speakers on mono channel recordings and the supported audio formats are [these ](https://docs.microsoft.com/en-us/azure/cognitive-ser

[2021-05-27 06:14] JYOTHIRMAISURI commented on #75576
@Sharmistha-Rai  Thanks much for the response.

[2021-05-27 06:19] hogendoorn opened #75987 "Full management mode powershell example is missing the location parameter"
Full management mode powershell example is missing the location parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f2e47a4-1781-8c55-c269-1946adbb46db
* Version Independent ID: ed091689-e342-2661-8b3a-5be2ad164b3a
* Content: [Register with SQL IaaS Agent Extension - SQL Server on Azure VM](https://docs.microsoft

[2021-05-27 06:20] SnehaAgrawal-MSFT commented on #75731
@ChevronSoftware Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-05-27 06:40] ShachafGoldstein commented on #75375
@JamesTran-MSFT - can you assist with this issue?

[2021-05-27 06:44] o-l-a-v commented on #75578
@ThomasWeiss

It's easy to make the assumption that using Service Endpoint means you don't need PublicNetworkAccess. That's what I assumed first.

People also IaC these things, there it's even easier to just think "PublicNetworkAccess, sound like something I should disable given that I'm using Service Endoint".

[2021-05-27 07:08] ram-msft commented on #75750
@aronchick We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-27 07:08] #75750 closed

[2021-05-27 07:10] psmanhas commented on #75987
@hogendoorn Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-27 07:10] psmanhas commented on #75987
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-05-27 07:25] vitorbencini commented on #75615
Hi Bryan, thanks for the reply! It`s so sad to not see it there. It`s definitely one service that my company would use. I will keep looking on the blog and roadmap for sure.

[2021-05-27 07:25] mtapiero opened #75988 "send message does not has a label example"
[Enter feedback here]
The page states:
"The message has a label (Scientist) and body (Einstein)."
The example that follows has no reference to the label.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eeb2bb-6ee5-4ee8-c5c3-2ecee05fe910
* Version Independent ID: 30fcb211-8b76-ebc1-0c9b-c0567d7234bf
* Content: [How to

[2021-05-27 07:40] kumarg25 opened #75989 "Enable RBAC on Existing Cluster requires EnableAzureRBACPreview flag"
[Enter feedback here]

When running the command to enable Azure RBAC on an existing cluster it is giving the following error

`az aks update -g rbacrg -n rbacclsr --enable-azure-rbac`

`Operation failed with status: 'Bad Request'. Details: aadProfile.enableAzureRBAC requires Microsoft.ContainerService/EnableAzureRBACPreview feature flag`

It works only when I register the feature - "EnableAzureRBA

[2021-05-27 07:43] arolshan opened #75990 "Is this supported in US Gov (virginia region) cloud?"
[Enter feedback here]

Hi,
is this supported in Azure US Gov cloud?

Thanks, Arik.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent ID: c18a4db6-71e3-a539-1e7f-2f49662f4bbc
* Content: [Azure Active Directory authentication - Azure SQL Database](https://docs.micro

[2021-05-27 07:50] Rajeswari-Mamilla commented on #75613
@Sharmistha-Rai - can you please make the doc change? This is a known issue that is to be fixed in the upcoming release milestone.

[2021-05-27 07:52] fjanon opened #75991 "Add Svelte"
Please add Svelte as an option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2551d3-44b0-652d-8c77-b7e62606556f
* Version Independent ID: 6a647d1b-c5d3-6600-2b55-22777282b0c3
* Content: [Quickstart: Building your first static site with the Azure Static Web Apps using the CLI](https://docs.microsoft.com/en-us/azure/s

[2021-05-27 07:53] stewartadam commented on #75954
Sounds good, thanks!

[2021-05-27 08:02] konabuta opened #75992 "Private Endpoint / Link from Azure ML Workspace"
I heard that Azure Machine Learning Workspace connect to ACR, Storage and Key Vault using Managed ID. Not Private Link.

But in this pages, this architecture diagram shows private endpoint to ACR, Storage and Key Vault from Azure ML Workspace.
![image](https://user-images.githubusercontent.com/3815677/119788263-f3755d80-bf0c-11eb-9e2e-4998e417f5f4.png)

Please delete private endpoint/link icon fro

[2021-05-27 08:04] yoelhor commented on #75967
Hey @mrochon, practically, you can add consumer account to a security group.  It's a matter of supportability.  Consumer accounts can NOT be added to security groups as owners or members.  There may be performances issues with large groups having thousands or million of members. And we don't support this feature yet.

[2021-05-27 08:12] hodgkinsonp commented on #75064
Thanks @normesta - yep that's why. I'd raised this before we realised the limit was based on the number of columns.
Regards
Paul

[2021-05-27 08:14] rahug1190 commented on #75906
@MartinDBakerCDW There is no limitation for co-hosting Azure Migrate appliance and Azure Migrate replication appliance on the same host. The only limitation is that both these appliances need dedicated VMs and cannot co-exist on the same VM. We will investigate this incident internally and ensure that better guidance is shared going forward.

[2021-05-27 08:34] #75967 closed

[2021-05-27 08:36] MasterKolka opened #75993 "Missing subresource name for Redis cache"
Hello,

After you added ability to use private endpoints with Redis you haven't added subresource name ("redisCache") to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endp

[2021-05-27 08:41] fgcgithub commented on #75851
Hallo JayaChatterjee,

thanks for your help, in the meantime my solution is running!

Yours
Franz-Georg

Von: JayaChatterjee-MSFT ***@***.***>
Gesendet: Mittwoch, 26. Mai 2021 20:29
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: fgcgithub ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/azure-docs] after adding connection string to webapp, the app doesn't work anymore: "An error occur

[2021-05-27 08:55] #75309 closed

[2021-05-27 09:02] Sweggle commented on #75828
I just wanted to expand on this further. It seems that vulnerabilities which were discovered and have then been remediated are not disappearing from the list of vulnerabilities for the affected VM resource when viewing in Security Centre. Eg i have a vulnerability for Adobe PDF Reader showing time generated 19th May ... the software has since been updated and yet the item persists in the list.

I

[2021-05-27 09:02] lijithomas2020 opened #75995 "Typo Sentient Analysis"
Use opinionMining=true in Sentient Analysis requests to get Opinion Mining results.
//Typo in the above sentence; Sentient ->Sentiment
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID: b58189d7-aaec-3487-a1c0-452726f940b3
* Content: [Perform sentiment analysis

[2021-05-27 09:08] GitaraniSharma-MSFT commented on #75993
@MasterKolka , thank you for your feedback. We have assigned this issue to the respective product/content owner for updating the doc accordingly.

@malopMSFT , for your review.

[2021-05-27 09:26] #75851 closed

[2021-05-27 09:26] FallenHoot opened #75996 "Azure SQL Database is not supported without Azure SQL Server"
When it comes to Azure SQL I often find a inconsistency in the documentation.

**Find documentation about the Azure SQL family of SQL Server database engine products in the cloud: Azure SQL Database, Azure SQL Managed Instance, and SQL Server on Azure VM.**

The inconsistency here is Azure SQL Database. Well yes, Azure provides Azure SQL Database, but that service is useless by itself, and it is h

[2021-05-27 09:36] jankosecki opened #75997 "[Fulfillment API] Renew requests received by webhook"
Hi,

we have a product published in Azure marketplace and the integration with the Marketplace has been written based on the
[Marketplace Fulfillment API V2](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2).

Today we observed a flood on 500 responses from our webhook handler, caused by messages with an "action" value that is not supported by us:

[2021-05-27 09:36] GitaraniSharma-MSFT commented on #75758
@som-nitjsr , As mentioned in the [doc](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-configuration#waf-exclusion-lists), the values of the chosen field aren't evaluated against WAF rules, but their names still are, which means the exclusion rules only exclude the checking of a cookie's value, not of its name.

I found similar issue reported here : http

[2021-05-27 09:45] Nick-Lucas opened #75998 "cosmos-db linux emulator, mac steps "command not found" for "update-ca-certificates""
The setup steps for mac contain the command `update-ca-certificates` but this appears to be a non-standard command and has no installation instructions provided. On googling the command it's also very unclear how to get this on a mac.

Could some clarification be added to set the command up if the mac system does not already have `update-ca-certificates`?

Additional info which might be important:

[2021-05-27 09:51] #75907 closed

[2021-05-27 09:52] cephalin commented on #75907
@jayendranarumugam the description already mentioned the cert is automatically renewed and I made it clearer. Thanks.

[2021-05-27 10:06] AnuragSharma-MSFT commented on #75990
@arolshan You can check the list of products available for the sovereign clouds by Azure:

[Products available by region](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=all&regions=non-regional%2Cusgov-non-regional%2Cus-dod-central%2Cus-dod-east%2Cusgov-arizona%2Cusgov-texas%2Cusgov-virginia)

Also as per the [article](https://docs.microsoft.com/en-us/azure/azure-govern

[2021-05-27 10:06] JonNieminen commented on #33632
This doesn't really work for me - how did you actually do this UDR?

I've got my routes following on my spoke VNET:

0.0.0.0/0 -> NVA
10.1.0.0/24 (subnet itself) -> Virtual Network
10.0.0.0/23 (vnet itself) -> NVA
10.0.0.0/19 (all peered vnets) -> NVA

My AzureBastionSubnet is in the hub VNET in 10.2.0.0/27. With this setup there's an asymmetric routing. If I add 10.2.0.0/27 -> Virtual Network it

[2021-05-27 10:08] AnuragSharma-MSFT commented on #75998
@Nick-Lucas Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-05-27 10:14] GitaraniSharma-MSFT commented on #75899
@BrijMohanD , We have assigned this to the content owner/author for review.

@allegradomel , looks like the service tag API is not up to date. Could you please review this and update accordingly?

In downloaded file:
![image](https://user-images.githubusercontent.com/67630903/119809111-64fbde80-bf02-11eb-96ca-b1ef2973eb8e.png)

In Rest API JSON:
![image](https://user-images.githubusercontent.com/6

[2021-05-27 10:14] RohitMungi-MSFT commented on #75992
@konabuta [Private link ](https://docs.microsoft.com/en-US/azure/machine-learning/how-to-secure-workspace-vnet#secure-the-workspace-with-private-endpoint)can be configured with the Azure Machine learning workspace which can help to use the private endpoint as mentioned [here](https://docs.microsoft.com/en-US/azure/machine-learning/how-to-secure-workspace-vnet#secure-the-workspace-with-private-endp

[2021-05-27 10:25] DEberhardt commented on #66824
Hello again,

have added a little caveat to my script now if I cannot distinguish the ServicePlanName and Id due to a malformed string. - Have found one, submitting PR in a minute:
[code]
Cheers,
David

[2021-05-27 10:25] RohitMungi-MSFT commented on #75995
@lijithomas2020 Thanks for spotting this. A PR is created to fix this typo. The fix will be updated next week since MS Build conference is in progress. Thanks!!

[2021-05-27 10:30] Martin-Idel-SI commented on #33157
@mgmccarthy
Yes, exactly. I set networking to "Private endpoint and selected networks" and the subnet of the app gateway is not whitelisted and no private endpoint exists that the application gateway has access to.

If the app-gateway subnet is whitelisted - everything is working as expected on my end.
If the app-gateway has access to a private endpoint for the Keyvault - everything is working as

[2021-05-27 10:37] FallenHoot opened #76001 "Backup-Rention for Azure SQL Server and Azure Azure SQL Database needs to be updated to reflect how it actually happens."
Talking about this section:
https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database#backup-retention

`If you delete a server or a managed instance, all databases on that server or managed instance are also deleted and cannot be recovered. You cannot restore a deleted server or managed instance. But if you had configured long-term retention (LTR) f

[2021-05-27 10:41] #75084 closed

[2021-05-27 10:58] BhargaviAnnadevara-MSFT commented on #75643
@lampeTechnidoo Hope the above inputs help. Do let us know if you have further questions here.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-05-27 10:58] #75643 closed

[2021-05-27 11:04] AshokPeddakotla-MSFT commented on #75872
@atastrophic Thanks for pointing to the link. You are correct. CLI command should be --hub-name. You can also use **-n** to get the result.

![image](https://user-images.githubusercontent.com/44426435/119815033-bc9d4880-bf08-11eb-9a99-8b6559858bad.png)

PR has been created to update the doc. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread.

[2021-05-27 11:07] dominicbetts commented on #64487
#reassign:barnstee

[2021-05-27 11:12] dominicbetts commented on #72896
@pesetskyps - Ugan will be making a note in the docs about this. Thanks again for reporting this.

#please-close

[2021-05-27 11:12] #72896 closed

[2021-05-27 11:21] meangreenmachine opened #76003 "Significant redundant text on documentation page"
[There is significant (verbatim) redundant text on this documentation page; two instances of the same passage. One of these instances should be deleted (keep the instance that fits the narrative best). I.e. the following passage appears twice on the same page:

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c054b7-

[2021-05-27 11:55] #75872 closed

[2021-05-27 12:00] thepaulmacca opened #76004 "404 - Page not found Errors"
All of the links in this page are giving `404 - Page not found` errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9518823a-7a0f-b8c5-20cf-5f0235ee0a19
* Version Independent ID: be59ee76-39d4-e905-dc5e-9a7b0dba6f87
* Content: [Azure Monitor docs: What's new for April 2021 - Azure Monitor](https://docs.microsoft.com/

[2021-05-27 12:07] Patchfox opened #76005 "Alignment to the enterprise access model tiers"
The tier model example should be aligned to the new enterprise access model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b427c59d-d87e-7b8d-f197-fe5ed529f74c
* Version Independent ID: 57b69578-ed34-4906-65ca-4178f2befb5a
* Content: [Managing privileged Azure AD groups in Privileged Identity Management (PIM)](https://

[2021-05-27 12:12] #75758 closed

[2021-05-27 12:14] thomast1906 commented on #50407
I still get a lot of traffic to my blog regarding the XML file from this issue - can we look at getting this fixed? I can happily assist were needed.

[2021-05-27 12:28] HarshitaSingh-MSFT commented on #76005
Hello @Patchfox , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-27 12:32] HarshitaSingh-MSFT commented on #75771
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-27 12:32] #75771 closed

[2021-05-27 12:40] yelevin commented on #75957
@DeanGross
Thanks for your question.
The document distinguishes between **incidents** and **alerts** from the individual Defender products - which can be ingested into Sentinel (either directly or through M365 Defender) - and **events** from the individual Defender products, which only Defender for Endpoint supplies today, and the others are coming soon.

To further clarify, **events** are log ent

[2021-05-27 12:41] JYOTHIRMAISURI commented on #75576
#please-close

[2021-05-27 12:42] #75576 closed

[2021-05-27 12:45] MayankBargali-MSFT commented on #75988
@mtapiero I have removed this content for the confusion as there is no label property of the message. It means the source code is sending different Scientist name as the body of the message. The doc will be published soon. We appreciate the feedback!

[2021-05-27 12:46] paulfinol commented on #75576
wait, i Opened a case with MS support and they told me the documentation is not  updated and i could use full premium disk offer , until P80. otherwise how do you support 32tb data disk¿?

[2021-05-27 12:52] SnehaAgrawal-MSFT commented on #75991
@fjanon Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-27 12:55] spowellnet opened #76007 "Improve the guidance on building the linked Service"
This section is not entirely helpful

CaCertFile | The full path to the SSL certificate that's used by the server. Example:&nbsp;CaCertFile=&lt;cert path&gt;;
-- | --

Regardless of how I format this in the UI or indeed in the JSON I seem to get an error when trying to connect telling me
ERROR [HY000] [Microsoft][Network] (80) SSL error: Invalid path or certificate filename

I am using the correct

[2021-05-27 12:56] SwathiDhanwada-MSFT commented on #76004
@thepaulmacca Thanks for your valuable feedback. We will update the document soon.

[2021-05-27 13:02] SnehaAgrawal-MSFT commented on #75675
@MatthewSteeples Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-05-27 13:19] MonikaReddy-MSFT commented on #75989
@kumarg25 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-27 13:37] AnuragSharma-MSFT commented on #75996
@FallenHoot Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-05-27 13:46] GitaraniSharma-MSFT commented on #76003
@meangreenmachine , thank you for your feedback. We will review this and get back to you shortly!

[2021-05-27 13:53] SaiKishor-MSFT commented on #75375
@ShachafGoldstein  Apologize for the delay in getting back to you. I see a different behavior when a UDR route is added to the GW Subnet as you mentioned. Let me reach out to our internal team and get back to you with more details.

[2021-05-27 13:56] #75595 closed

[2021-05-27 14:03] paulfinol commented on #75576
wait, i Opened a case with MS support and they told me the documentation is not updated and i could use full premium disk offer , until P80. otherwise how do you support 32tb data disk¿?

[2021-05-27 14:08] vijayvc commented on #75135
@RyanHill-MSFT Hi Ryan, I am running into the same errors encountered by @retroray81. Could you please share the resolution for this, if any?

[2021-05-27 14:13] RyanHill-MSFT commented on #75135
Try the following. Run the

[code]
to generate the payload data. Update the `additionalLoginParams` in `body.json` and push the update using

[code]

[2021-05-27 14:14] ajayagrawal28 commented on #75405
Scripts are working as per steps mentioned in Microsoft doc :)
Updating scikit-learn==0.20.3 will do. Happy to take further queries, if any.

![image](https://user-images.githubusercontent.com/57935908/119841775-bb2d4980-bf23-11eb-8acb-1649353e09c6.png)

[2021-05-27 14:18] RyanHill-MSFT commented on #75782
@IgnacioAlvarezArenas, due to the nature that Snapshot is still in Preview, I've assigned your feedback to the content author for further review.

[2021-05-27 14:21] vijayvc commented on #75135
Thank you. put works.  Is there a way to verify the changes made? I don't see the "additionalLoginParams" property when I query it back.

[2021-05-27 14:35] #75875 closed

[2021-05-27 14:39] parklinkivic opened #76010 "What is M365 Apps?"
[Enter feedback here]
A detailed description of what services are considered M365 Apps would help understand better. Is Office E1 or F1 part of M365 Apps? Is just Exchange Online Kiosk part of M365 Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcd

[2021-05-27 14:45] DebashishSarkar opened #76011 "Azure Portal shows measurement for used and allocated space"
https://docs.microsoft.com/en-us/azure/azure-sql/database/file-space-manage?source=docs#monitoring-file-space-usage
"Most storage space metrics displayed in the **Azure portal** and the following APIs **only measure the size of used data pages**"

Portal shows metric for both.
![image](https://user-images.githubusercontent.com/6063546/119846975-3abd1780-bf28-11eb-9dad-4d32e2f41610.png)

---
#### D

[2021-05-27 14:58] mmacy commented on #67195
@DaveZimmermann There's been a fix committed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/156852 for this article that resolved a build failure issue.

However, I'm not sure which file you're referring to in your comment here:

Do you remember which file that was? I'd like to make sure any confusion is resolved either here or in the article or both before we close this issue.

Cc: @jason

[2021-05-27 14:59] alin-devnet commented on #49663
Any updates on this?

[2021-05-27 15:01] mmacy commented on #74488
@Enosinger Thanks for your patience on this. A fix for this issue has been committed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/156852 and the updated article is now live. I'll close this one out, but do please open a new issue if you feel it's not been addressed to your satisfaction. Thanks! #please-close

Cc: @jasonnutter @hamiltonha @SaeedAkhter-MSFT

[2021-05-27 15:01] #74488 closed

[2021-05-27 15:05] hpsin opened #76013 "How do I use WAM instead of a web browser?"
I had expected to see an explanation of how to use the WAM broker (.WithBroker()) on this page, as that uses the broker instead of a browser instance. Using WAM on Windows is also the best practice, so we should tell people how to use it and in fact to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294070a0-2f1

[2021-05-27 15:06] ii-batman commented on #75826
@psmanhas Hi, any update on this please?

[2021-05-27 15:10] HarshitaSingh-MSFT commented on #75766
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-05-27 15:10] HarshitaSingh-MSFT commented on #75902
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-05-27 15:16] mrochon commented on #75967
Hi @yoelhor, I am definitely adding consumer accounts to security groups in my [multitenant sample](https://github.com/mrochon/b2c-mt-rest/blob/3db0544919a4731e31bd26bc06f5c9480e0ba12c/RESTFunctions/Controllers/Tenant.cs#L309) as both owners and members. Do you mean to say that I should not do that or that given my small scale (a few members per group) I have not yet hit the technical limitations

[2021-05-27 15:27] #72648 closed

[2021-05-27 15:34] chadcarlton opened #76014 "Missing documentation on using the -match operator in AAD Dynamic Groups"
I am trying to create an AAD dynamic group using the -match operator.

The current documentation is NOT clear on the supported syntax for this operator, and from the below referenced ticket, looks like it does not use an established regular expression format/supported feature set.

This ticket https://github.com/MicrosoftDocs/azure-docs/issues/24300 tried to get additional documentation specified

[2021-05-27 15:36] hribeiro-msft opened #76015 "Wrong Powershell code"
[Enter feedback here]

There is something wrong on the code from:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#using-azure-powershell-1

It should be this instead:
$resourceGroupName = "<myResourceGroup>"
$accountName = "<myCosmosAccount>"
$readOnlyRoleDefinitionId = "<roleDefinitionId>" # as fetched above
$principalId = "<aadPrincipalId>"
New-AzCosmosDBSqlRoleAssignment -Acc

[2021-05-27 15:39] tcsougan opened #76016 "According to Digicert, "afdverify" sub-domain is not a valid way to process a domain."
[Enter feedback here]

According to my recent case to Digicert, Using the "afdverify" sub-domain is not a valid way to process a domain.

We will need to verify the domain using other methods, such as DNS TXT record.

The DNS TXT method should not cause any problems. The required TXT entry is a standalone DNS record which would not interfere with the existing DNS records. If the customer is concer

[2021-05-27 15:43] lijithomas2020 commented on #75995
No worries. Thanks @RohitMungi-MSFT!

[2021-05-27 15:49] AnuragSharma-MSFT commented on #76015
@hribeiro-msft Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-05-27 15:53] JamesTran-MSFT commented on #76013
@hpsin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-27 15:54] JamesTran-MSFT commented on #76010
@parklinkivic
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-27 15:56] markjbrown commented on #75847
Thanks again for your feedback and thoughts on this.

As I stated previously, I'm always open to finding a metaphor that helps convey this concept as it can be challenging at first to grasp. That said, I have not received really any feedback beyond this that the musical notes are not a useful way to relate to this.

I will make note of your feedback and comments here and track for any future feedb

[2021-05-27 16:06] JamesTran-MSFT commented on #75828
@Sweggle
Thank you for the detailed follow ups on this!

After speaking with our ASC team, we'd like to take a closer look into your environment and issue, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subje

[2021-05-27 16:12] mmacy commented on #76013
@hpsin Hirsch, for your requests can you use the internal doc request template instead of GitHub issues?

[2021-05-27 16:14] hpsin commented on #76013
Will do, sorry :)

[2021-05-27 16:14] #76013 closed

[2021-05-27 16:17] normesta commented on #75064
Thanks for the reply @hodgkinsonp! Since we've addressed the column limitation in the docs recently, I'll close the issue. Thanks again!

#please-close

[2021-05-27 16:17] #75064 closed

[2021-05-27 16:25] JamesTran-MSFT commented on #75958
@rayterrill
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-05-27 16:25] #75958 closed

[2021-05-27 16:30] deyaaeldeen commented on #75845
@Sintrias no worries at all, I am looking forward to it!

[2021-05-27 16:34] Anand-Moghe opened #76018 "Can I use Azure commercial Cloud AAD for Self-hosted Developer portal in Azure Gov Cloud?"
Can I use Azure commercial Cloud AAD for Self-hosted Developer portal in Azure Gov Cloud?
If so, can we have some documentation for "How To" do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40f30ff3-54dd-4989-4341-b523898e16dc
* Version Independent ID: aa6ab109-3419-61ea-7a1d-8aca5d53e2a3
* Content: [Self-host t

[2021-05-27 16:39] #75979 closed

[2021-05-27 16:40] yehudamakarov opened #76019 "No explanation to deploy/publish code to a specific deployment slot"
From https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#deployment-slots you have

Great. so for more information I go there. What does it say there? See https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#deployment

Great. I can't find any way to get my code directly to a slot via the core tools. There are no options in the `pub

[2021-05-27 16:43] #75061 closed

[2021-05-27 16:47] femsulu commented on #75997
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-27 16:54] femsulu commented on #76014
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-27 16:54] SaiKishor-MSFT commented on #75481
@sergiosolorzano Thank you for the feedback. We have updated the document accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-27 16:54] #75481 closed

[2021-05-27 17:01] bwnicko opened #76020 "Azure Deployment script (AzureCLI kind) has limitations. It doesn't allow to execute a relatively long script with az, kubectl, kubelogin and helm"
Hello,

There is a script, that I intend to use inside the arm template (which is part of one big blueprint).
It deploys Spark Operator with using helm to Azure K8S Cluster (already exists).
Since it has shell commands, I've chosen to use the AzureCLI version, but not the Powershell.

[code]
This script is inside of the following arm template (+parameters JSON file for sure). I placed it here as o

[2021-05-27 17:01] ggailey777 commented on #75061
@trailmax thanks for your feedback. The .NET 5.0 docs are in progress. I turned off the auto generated links that I agree were confusing.

[2021-05-27 17:01] Oury-MSFT commented on #76011
@DebashishSarkar Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-27 17:08] KranthiPakala-MSFT commented on #76007
@spowellnet
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-27 17:20] #75642 closed

[2021-05-27 17:20] erikhjensen opened #76021 "Clarification required about SSLMode inbound connections."
The PaaS solution for Azure Postgres offers a non-SSL connection ability.  I have found that now, in preview, the flexible server forces inbound connections to have sslmode enabled.

The documentation suggests that TLS is supported.  and in the subsequent paragraph it suggests that it doesn't support earlier TLS versions.   It does however not reflect that TLS is required or that non TLS connectio

[2021-05-27 17:52] palma21 commented on #75930
@MarcosMMartinez The image refers to disable-tcp-reset, which should not be in the doc, but you mention idle timeouts. There's no plan to deprecate idle timeout.

[2021-05-27 17:59] BhargaviAnnadevara-MSFT commented on #75979
@codehedgehog Thank you for catching that error in the docs. The change is merged internally and will go-live in the public docs shortly.

[2021-05-27 18:23] robtextrequest opened #76023 "Does the database remain online and responsive during an encrypt/decrypt operation?"
If TDE is enabled or disabled for a database, does the database remain online and responsive during the encrypt/decrypt operation? If it remains online, are DTUs consumed by the encrypt/decrypt operation?

From testing, it appears that the database does remain online and that no DTUs or CPU are consumed.

But I would love for the answer to be officially stated within the documentation. Thanks!

--

[2021-05-27 18:24] pxmonti commented on #75715
You're most welcome!

[2021-05-27 18:25] ThomasWeiss commented on #76015
@hribeiro-msft using the account name as the `scope` is also supported, but I realize that this may be confusing as it contradicts what's explained above; we will update the docs accordingly, thanks!
#please-close

[2021-05-27 18:25] #76015 closed

[2021-05-27 18:34] davinci26 opened #76024 "HTTP status: 500 Internal Server Error"
Hey folks,

What about this error:

[code]

The corresponding error on my docker is:

[code]

[2021-05-27 18:37] aronchick commented on #75750
I disagree that this has been solved. Why wouldn't you just link to the content on GitHub?

Obviously, you know your users better than me, but this would be a serious blocker for me.

[2021-05-27 18:37] aronchick commented on #75750
@ram-msft

[2021-05-27 18:58] vadim-kovalyov commented on #75780
@mronnlun you should be able to set fqn by setting `hostname` property to FQDN in config.toml. Don't forget to do `sudo iotedge config apply` after that. If it does not take effect right away, you would probably need to re-create EdgeAgent container, so the env vars updated properly. `sudo docker rm -f edgeAgent` should do the trick and then restart the edge again `sudo iotedge system restart`.

[2021-05-27 19:03] sreejaptfa opened #76029 "Please provide Bicep template example to integrate web sites with VNet"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-v

[2021-05-27 19:11] ericthomas1 opened #76030 "All subpage URLS are not working on this page: https://docs.microsoft.com/en-us/rest/api/eventgrid/"
All links on this docs page just point to the page itself: https://docs.microsoft.com/en-us/rest/api/eventgrid/.

The subpages are 404'd.

Example:
- https://docs.microsoft.com/en-us/rest/api/eventgrid/subscriptionevents/update

[2021-05-27 19:21] Aminadad27 opened #76031 "Hey need help"
marked as spam.

_Originally posted by @femsulu in https://github.com/MicrosoftDocs/azure-docs/issues/75848#issuecomment-848093679_

[2021-05-27 19:24] ChaitanyaNaykodi-MSFT commented on #75671
Hello @SvenSowa, Thank you for the feedback. I have made a PR to address this issue and it is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-05-27 19:24] #75671 closed

[2021-05-27 19:27] MarcosMMartinez commented on #75930
@palma21 - sorry for the mix-up with the title. You'll find the tcp reset annotation in our doc:

![image](https://user-images.githubusercontent.com/29489962/119885618-10effa80-bf00-11eb-907f-46fcefbd9a87.png)

This is the issue.

[2021-05-27 19:29] JayaChatterjee-MSFT commented on #75875
@jeffcollaboro Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We are now closing this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-27 19:31] JayaChatterjee-MSFT commented on #76019
@yehudamakarov Thank you for your feedback! We will review and update as appropriate.

[2021-05-27 19:34] JayaChatterjee-MSFT commented on #76019
@yehudamakarov Deployment slots works as an individual app service. So you should use the commands or steps what you follow for the app service / production slot. Did you already try that and encountered any issue?

[2021-05-27 19:36] JamesTran-MSFT commented on #75828
@Sweggle
Thank you for the email, I'll go ahead and close this out while you work with our ASC support team on this.

Thank you for your time and patience throughout this issue!

[2021-05-27 19:36] #75828 closed

[2021-05-27 19:44] bwhybel opened #76033 "Some of the example commands use – rather than - for flags"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 436ced8b-728a-8b1d-833b-0c71e1b8c777
* Version Independent ID: a86c8133-f78b-b8b4-5d44-8820a6dc7a65
* Content: [Use PowerShell to create a user delegation SAS for a container or blob - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blob

[2021-05-27 19:53] Cameron-Micka commented on #75876
Thank you for reporting this @CharlesWilliamW! Can I ask how you imported MRTK-Unity? Was it by directly adding it to your project or via a package?

If it was imported via a package do you see a `MRTK\Shaders` folder that was autogenerated in your project?

[2021-05-27 19:56] yehudamakarov commented on #76019
The issue is that there is no context of separate deployment slots in regards to the functions core tools (powershell publishing). You can just publish the code. Not to a deployment slot in particular. Then both deployment slots get updated from the publish.
On May 27, 2021, 15:35 -0400, JayaChatterjee-MSFT ***@***.***>, wrote:

[2021-05-27 19:59] JayaChatterjee-MSFT commented on #76030
@ericthomas1 Thank you for your feedback! We will review and update as appropriate.

[2021-05-27 20:20] crisansou opened #76035 "How to deploy a model that is already registered in the workspace?"
Hello,

The tutorial teaches how to deploy the model that is in the directory ../../model-1/model. Do you have an example of how to deploy a model that is already registered in the workspace?

![image](https://user-images.githubusercontent.com/29444086/119891525-726b9580-bf0f-11eb-8974-a872fcf9cf73.png)

Regards,
Cristina

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-05-27 20:27] femsulu commented on #76024
Thanks for bringing this to our attention, @davinci26 .
KIndly share the link to the Azure doc you are referncing so we can try to repo on our end and help unblock your issue.

[2021-05-27 20:32] MicrosoftGuyJFlo commented on #75955
@SanDeo-MSFT Can you take a look at this. Asking for additional clarity around filter cases.

[2021-05-27 20:33] MicrosoftGuyJFlo commented on #75745
#please-close

[2021-05-27 20:33] #75745 closed

[2021-05-27 20:33] MicrosoftGuyJFlo commented on #75725
#please-close

[2021-05-27 20:33] #75725 closed

[2021-05-27 20:34] femsulu commented on #76020
Thanks for bringing this to our attention, @bwnicko. We are actively investigating. If possible, please share any links to any documentation you are referencing. This helps us with repro if needed.

[2021-05-27 20:36] hribeiro-msft commented on #76015
Hey @Thomas ***@***.***>, just something about this, when I tried it with the account I was getting the following, not sure if is expected since you are telling me that it should work.

***@***.***D75340.60399DC0]

Best regards,
Hugo Ribeiro
Support Engineer – Data and AI Azure Rapid Response

Phone: +351 210603955
Email: ***@***.******@***.***>

08:30-17:30 (UTC+1)
Monday-Friday

Managers:
Ahmad

[2021-05-27 20:37] femsulu commented on #76031
Kindly specify what help you need and the related Azure documentation you are referencing. this allows us to route your issue to the appropriate SME.

[2021-05-27 20:39] jlichwa commented on #74590
#please-close

[2021-05-27 20:39] #74590 closed

[2021-05-27 20:40] femsulu commented on #76001
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-27 20:42] pirminf opened #76036 "Singel forest multiple AzureAD Tenants not supported vs. Client-side SCP"
In Section [Unsupported Scenarios](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#unsupported-scenarios) first paragraph says

I assume this is since only one SCP can be defined in configuration container

However [Controlled validation of hybrid Azure AD join](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-control) sug

[2021-05-27 20:47] jlichwa commented on #75516
@dsabsay can you provide more details?
We show actual schema of how it is logged in Storage and also provide information for each field here: https://docs.microsoft.com/en-us/azure/key-vault/general/logging?tabs=Secrets#interpret-your-key-vault-logs:
![image](https://user-images.githubusercontent.com/52512203/119894888-0890c300-bef2-11eb-9de7-9e37f5607798.png)

[2021-05-27 20:54] ash2017 commented on #69635
@nehsin please investigate

[2021-05-27 20:55] kgremban commented on #65832
I'm going to close this issue as it looks like you found a working solution and shared it on the Q&A post. I also got some additional information on the topic:

Thanks.

#please-close

[2021-05-27 20:55] #65832 closed

[2021-05-27 21:18] Sintrias commented on #75845
Hey sorry. I haven't had the time to create the repo yet today. Just letting you know I haven't forgotten. I should have it by the end of the day.

[2021-05-27 21:18] #76033 closed

[2021-05-27 21:19] ChaitanyaNaykodi-MSFT commented on #76018
Hello @Anand-Moghe,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-05-27 21:34] islamtg opened #76037 "SPN o365 error"
Hey I am getting the following when I try to add the spn and secret to the connector in synapse for the office 365
Office365 data loading failed to get OAuth token. Operation returned an invalid status code 'InternalServerError'

is there a way to explain to me what permissions does the spn require?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-05-27 21:42] mlcooper commented on #74590
@jlichwa are you able to document what you just described on the pricing page?

[2021-05-27 21:53] ThomasWeiss commented on #76015
@hribeiro-msft I just checked and this used to work in the previous versions of the cmdlets, but does not in the GA version! Even better reason for updating the docs, which I'm doing right now. Thanks again for pointing that out!

[2021-05-27 21:53] javester opened #76038 "first 'azure quickstart template' link is dead"
link is dead, 404 on first 'azure quickstart template' link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4be300e5-3323-269f-bb5a-f75fc68576b2
* Version Independent ID: 64685f46-c1f7-f195-4bb3-be96ec621193
* Content: [Cloud Shell in an Azure Virtual Network](https://docs.microsoft.com/en-us/azure/cloud-shell/private-v

[2021-05-27 21:54] MasayukiOzawa opened #76039 "Is it now possible to run it on k8s other than AKS?"
In the latest documentation, the following statement has been removed.

In the latest version, is App Service on Azure Arc now supported to run on Azure Arc with k8s other than AKS?
Specifically, I'm trying to get it to work with AKS on Azure Stack HCI on-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bceea

[2021-05-27 22:01] ktoliver commented on #76033
Hi @DerekHerman-MSFT - I'm a PR reviewer in this repository. PRMerger automatically closed this issue when I merged the associated pull request. You assigned the issue to me. Is there something you need me to do with the issue? Thanks.

[2021-05-27 22:28] Rick-Anderson opened #76040 "The Azure UI has changed and points to this page, which is wrong for the new UI"
Selecting  Configuration now shows the following

![image](https://user-images.githubusercontent.com/3605364/119904893-d0d04e00-bee6-11eb-835c-46aa60d58b95.png)

.... lication at runtime. Learn more
Learn more points here.

What controls below? I can see doing this for security reasons, but provide guidance on settings that are not secrets.

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-27 22:31] santhoshbomma9 opened #76041 "Add new image versions on a plan"
Could you add information on how to update/replace an image on an exiting live plan of a VM Offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1cf32c6-d75a-b5d2-c6af-41647f7b868c
* Version Independent ID: 22e77ed0-db1b-50c3-03fa-5ee6f9b194c9
* Content: [Update an existing offer - Microsoft commercial marketplace](h

[2021-05-27 22:34] #76040 closed

[2021-05-27 22:43] Oury-MSFT commented on #76021
@erikhjensen Thank you for feedback. We are looking into this and will get back shortly. Thanks

[2021-05-27 22:45] Oury-MSFT commented on #76023
@robtextrequest Thank you for your feedback. We are looking into this and will get back. Thanks

[2021-05-27 22:46] dstrome opened #76042 "Broken link in tip alert"
The first link in the tip alert at the top of the topic goes to a 404. https://docs.microsoft.com/en-us/articles/cosmos-db/table-api-faq.yml#table-api-in-azure-cosmos-db-vs-azure-table-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83df0ac8-6349-4ea5-4698-fdf00c69c92f
* Version Independent ID: 5afd32d5-5585-c49

[2021-05-27 22:59] dsabsay commented on #75516
@jlichwa It's useful to know that the doc you linked applies. I assumed it did, but it was never actually stated in the docs.

I think the bigger issue for me is that there are many fields in the resulting Log Analytics table that are not documented. Some examples below:

![Screen Shot 2021-05-27 at 3 45 26 PM](https://user-images.githubusercontent.com/11727932/119906203-9d9bb800-bf02-11eb-99d6-1b

[2021-05-27 23:01] YutongTie-MSFT commented on #76035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-27 23:05] bandwiches commented on #74766
Perhaps I can provide a different point of view.  To me, the article is misleading.  The first sentence of the first paragraph states:

The only two sections that relate to anything on-premises or 3rd party are the first two sections [Device Requirements](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-overview#device-requirements) and if stretch a little, [Si

[2021-05-27 23:05] jlichwa commented on #75516
@dsabsay we can only document what Key Vault logs above fields does not come from Key Vault. So if you have questions about Azure Monitor product and their log analytics you need to look in their documentation.
https://docs.microsoft.com/en-us/azure/azure-monitor/
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/resource-manager-log-queries

[2021-05-27 23:09] sarthak-git opened #76043 "MFA_NPS_Troubleshooter.ps1 Script provides incorrect information"
![image](https://user-images.githubusercontent.com/48988578/119907616-47d10b00-bf16-11eb-805e-5bb9b27dfadf.png)

Script Says the user does not have a valid MFA license for MFA , which is incorrect user has an E3 assigned to him
![image](https://user-images.githubusercontent.com/48988578/119907713-7ea72100-bf16-11eb-895d-86eb2dc10726.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2021-05-27 23:13] brjohnstmsft commented on #75614
@pankajydv I recommend asking this question on [Stack Overflow](https://stackoverflow.com) if you haven't already. If you tag your question with "azure-cognitive-search", the engineering team for the service will be notified and should be able to answer your question. This repo is for documentation specifically, and isn't monitored as closely by the engineering team. You'll need to provide more in

[2021-05-27 23:13] rborbolla commented on #69223
Buenas tardes, ¿alguien sabe cómo se soluciona el error 403? Estoy usando una versión basica pero con mi tarjeta asociada.

[2021-05-27 23:16] dsabsay commented on #75516
@jlichwa Here's some of the other fields in the same table. They are clearly from Key Vault:

![Screen Shot 2021-05-27 at 4 11 40 PM](https://user-images.githubusercontent.com/11727932/119907925-3f70d400-bf06-11eb-804f-4c747e473dda.png)

When I configure Key Vault logging to Log Analytics, this seems to be how the data comes in (in the generic `AzureDiagnostics` Log Analytics table). I think this

[2021-05-27 23:22] retroray81 commented on #75135
@RyanHill-MSFT Same behavior here - the PUT works but I never see additionalLoginParams when I query it back.  I was able to set the identityProviders/azureActiveDirectory/login/loginParameters but then I receive an error:

AADSTS901002: The 'resource' request parameter is not supported.

We really need **detailed** instructions on how to replicate the V1 solution, not just how to run some command

[2021-05-27 23:23] jlichwa commented on #75516
@dsabsay those could be fields created by Azure Monitor. So you will have to learn that product from their documentation. We send data as described and you can validate it in Storage. If you look for direct mapping log it to Storage and you should see the same. If you see discrepancy let us know.

[2021-05-27 23:28] RyanHill-MSFT commented on #75135
@vijayvc @retroray81 I definitely understand. I'm trying to determine why the rest method isn't working as expected. As soon as I'm able to determine the reason, I'll update this issue.

As for the detailed instructions, V2 is still preview which is why there is lack of docs, but I'll work with the product group to see what can be brought forward.

[2021-05-27 23:31] retroray81 commented on #75135
@RyanHill-MSFT if we can verify what a working body.json would look like, that would be a good start.  Currently there is confusion regarding the additionalLoginParams and loginParameters properties and knowing what should be set where would be most helpful.

[2021-05-27 23:31] dlepow commented on #76018
@Anand-Moghe - Thanks for the question. I'm not aware of this scenario but am adding @mikebudzynski who may have more information.

[2021-05-27 23:33] msft-edluo opened #76045 "ARM template example not properly spaced leading to visually misleading example"
The example ARM template on this page makes it look like the keys "name" and "location" show up twice, when the second example is within the properties. I think the example ARM template snippet on page https://docs.microsoft.com/en-us/azure/app-service/environment/zone-redundancy should be indented so that it is clear that the name and location keys aren't duplicated.

[code]

---
#### Document De

[2021-05-27 23:53] JamesTran-MSFT commented on #76043
@sarthak-git
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-27 23:57] gle-iam opened #76047 "Achieving AAL3 with FIDO2"
How can AAL3 be achieved for FIDO2 when MFA registration is a prerequisite for FIDO2 registration? The user can always avoid using FIDO2.

Can passwordless be enforced for cloud access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36a92a90-4b26-8f6f-5c90-77dec7b55c95
* Version Independent ID: 5d2b6ef8-126a-a7cd-3fd5-

[2021-05-27 23:58] JamesTran-MSFT commented on #76036
@pirminf
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-27 23:58] mikebudzynski commented on #76018
@Anand-Moghe, Azure AD isn't supported out-of-the-box in the developer portal in the government cloud, but you might be able to override the hardcoded endpoints. Please, reach out to Azure support if you have more questions or need further assistance.

[2021-05-28 00:36] ThomasWeiss commented on #75578
@o-l-a-v I see where you're coming from, and thanks for clarifying. It makes sense, and I'll update the service endpoint documentation to mention that public network access is required.

[2021-05-28 00:42] SaiKishor-MSFT commented on #76016
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-28 00:57] SaiKishor-MSFT commented on #75608
@PhilipAnthonyMurray Redirect rule and Path based rule are not separate entities but they work together.  If redirection is configured for a path-based rule, only requests in a specific site area are redirected. An example is a shopping cart area that's denoted by /cart/*. This is path-based redirection. Hope this helps. Please let us know if you have further questions. Thank you!

[2021-05-28 01:14] ChaitanyaNaykodi-MSFT commented on #75865
Hello @richsage,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
@ggailey777, FYI we might have to change the screenshot in the document.

[2021-05-28 01:18] SaiKishor-MSFT commented on #75676
@cherylmc Can you please look into this? Thank you!

[2021-05-28 01:34] CharlesWilliamW commented on #75876
I downloaded MixedRealityFeatureTool (1.0.2104.3-Beta) and imported mixed reality toolkit foundation 2.5.1
I cannot find another way to get version 2.5.1

I do not see a MRTK\Shaders folder

[2021-05-28 01:50] palma21 commented on #75930
Yup that one we can remove (although it's not being planned to be removed yet, it's not a bad time to take it out)

[2021-05-28 01:50] YutongTie-MSFT commented on #75942
@seelamr1026 Sorry I failed to reproduce your issue. To solve this, I think support ticket will be a better way. I can provide a one-time-free ticket to assign one support engineer help you solve this one on one if you do not have support plan. Please let me know the subscription key and I will enable one for you.

[2021-05-28 02:06] JeffMII commented on #75845
So I just realized I'm using two of my accounts here. Sorry if anyone had some confusion. I created the github repo:

https://github.com/JeffMII/Azure-Text-Analytics-Debug.git

[2021-05-28 02:06] Cameron-Micka commented on #75876
Thank you, that is helpful information. Let me reach out to the Feature Tool’s author to see if he has any suggestions.

If this is blocking you, you may have luck importing MRTK directly though GitHub. But, I understand that’s normally a less desirable workflow.

[2021-05-28 02:16] KrishnaG-MSFT commented on #76038
@javester Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-28 02:47] Karishma-Tiwari-MSFT commented on #75959
Thanks for sharing the update.

[2021-05-28 02:52] Karishma-Tiwari-MSFT commented on #71919
I have assigned it to Sara for triage to localization teams.

[2021-05-28 02:54] Karishma-Tiwari-MSFT commented on #62147
@Absoblogginlutely Thanks for sharing the feedback. The doc author has shared the update in the comment above:

"I created a work item on my end to tackle this issue and provide accurate information on this process. Work is slated for **June/July timeframe.** There will be other doc improvements made on the topic of connecting to a scale set(s) sooner than that."

[2021-05-28 03:19] Karishma-Tiwari-MSFT commented on #76020
Is there something in any specific Azure document you are looking to have updated or are having issues with? Please share the documentation url in that case. The scope for these doc issues is to help identify gaps and issues with the documentation.

If you are looking for help with debugging the issue, I would suggest opening a support ticket or reaching out to the Microsoft [Q&A forum for AKS her

[2021-05-28 03:20] Karishma-Tiwari-MSFT commented on #76024
Is there something in any specific Azure document you are looking to have updated or are having issues with? Please share the documentation url in that case. The scope for these doc issues is to help identify gaps and issues with the documentation.

If you are looking for help with debugging the issue, I would suggest reaching out to the [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answe

[2021-05-28 03:21] davinci26 commented on #76024
i followed up internally with the ACR team and resolved my issue. Thanks!

[2021-05-28 03:21] #76024 closed

[2021-05-28 03:36] SamaraSoucy-MSFT commented on #75687
That does explain the issue more clearly, thank you. The issue is that while something like Databricks dbutils understands both the local file cache and how to talk to Azure storage accounts, the Synapse equivalent mssparkutils currently doesn't. On the flip side, savefig doesn't know how to save to blob storage or adls.

So far I haven't found a way to bridge that gap. I do need to close the doc

[2021-05-28 03:36] #75687 closed

[2021-05-28 03:47] BhargaviAnnadevara-MSFT commented on #76045
@msft-edluo Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-28 03:47] BhargaviAnnadevara-MSFT commented on #76029
@sreejaptfa Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-05-28 04:32] georgeOsdDev opened #76052 "Question about RBAC Build-in Role Website Contributor"
RBAC : Build-in Role

`Website Contributor`  describes

What the word `but not access to them.` means?
I think Website Contributor can access and write/update application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
*

[2021-05-28 04:35] KranthiPakala-MSFT commented on #76037
@islamtg
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-28 04:46] AjayKumar-MSFT commented on #76040
Rick, Thanks for taking time to share your feedback on the Azure docs feedback channel.
the docs explains about those settings "[Configure app settings](https://docs.microsoft.com/azure/app-service/configure-common#configure-app-settings)" and "[Configure connection strings](https://docs.microsoft.com/azure/app-service/configure-common#configure-connection-strings)", please let us know if there is

[2021-05-28 04:47] AjayKumar-MSFT commented on #76039
@MasayukiOzawa, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-28 04:58] take-4c commented on #75896
@MayankBargali-MSFT
Thank you! Are there any updates? I would greatly appreciate it if you could handle this immediately. This is very time-sensitive.

[2021-05-28 05:06] MaxMeng1985 commented on #75405
@AjAgr , thanks for your help.  I am new to Machine Learning and Jupyter, I just realized I need to uncomment pip command by removing the # character in front of them in the first cell.
After installing the scikit-learn and restarting the kernal, the ONNX conversation works successfully.  Thanks again.

[2021-05-28 05:12] SwathiDhanwada-MSFT commented on #75606
Assigning to content author @bwren for review and doc-enhancement if required.

[2021-05-28 05:16] SwathiDhanwada-MSFT commented on #75456
@kajencik Thanks for your valuable feedback and I have shared your feedback with product team.  You might be aware of this that Start/Stop V1 is under depreciation path so any new ideas will be considered to include in our [Start/Stop V2](https://docs.microsoft.com/en-us/azure/azure-functions/start-stop-vms/overview).

Also, Is it possible for you to share the usage on this particular scenario? Pr

[2021-05-28 05:47] AnuragSharma-MSFT commented on #75962
@benCoomes I was reading through an article where in it mentions about the maximum clock skew time for token is around 15 mins. This could be the reason you are able to use the resource token even after expiry for sometime.

Could you please try using the token say after 20 mins of expiry time? It should throw the '401 unauthorized exception'.

[2021-05-28 05:48] AnuragSharma-MSFT commented on #75962
Article link:

[Azure Cosmos DB service quotas](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#metadata-request-limits)

[2021-05-28 05:49] msrini-MSFT commented on #76016
@tcsougan , Will you be able to share me the case # so I fully understand your scenario as why adverify doesn't work in your case?

[2021-05-28 05:51] SadiqhAhmed-MSFT commented on #75929
@waqar-anwar1990 Please let me know if you've any further questions in this matter.

[2021-05-28 05:51] SadiqhAhmed-MSFT commented on #75765
@piotrgwiazda Hope the previous post helped answer your question. Let me know if you need any further assistance here.

[2021-05-28 05:52] SadiqhAhmed-MSFT commented on #75656
@vosj Closing this issue for now. Doc changes will be taken care of by content owner post review by the feature PM.

[2021-05-28 05:52] #75656 closed

[2021-05-28 05:53] AnuragSharma-MSFT commented on #75972
@SudhaGPillaiP Your rightly mentioned that password should be stored and used by taking proper security measures. There could be different ways to achieve that and based on requirement and resource availability one can choose the appropriate method suitable to them. These articles however focus primarily on other functionalities and using the password is just a part of it.

[2021-05-28 06:18] KrishnaG-MSFT commented on #73055
@jokarl The rollout is completed. Can you please re-try and see if it works.

[2021-05-28 06:55] sammydeprez opened #76053 "Invalid JSON - API return Answer"
This is missing closing brackets, add ]} at the end of the json document

`{
    "@search.answers": [
        {
            "key": "4123",
            "text": "Sunlight heats the land all day, warming that moist air and causing it to rise high into the   atmosphere until it cools and condenses into water droplets. Clouds generally form where air is ascending (over land in this case),   but not whe

[2021-05-28 06:57] PramodValavala-MSFT commented on #74360
@johol545 I believe option 1 is the expected behavior as well after looking at the unit tests for the WebJobs SDK. I've raised a PR for the same, which should close this issue when merged.

[2021-05-28 06:58] msrini-MSFT commented on #76016
@yujiaoMSFT , Digicert mentioned this "Using the "afdverify" sub-domain is not a valid way to process a domain
We will need to verify the domain using other methods, such as DNS TXT record
"

Can we update the doc ?

[2021-05-28 07:01] #75988 closed

[2021-05-28 07:02] jovalen opened #76054 "Link to "Create an Image Definition in a Shared Image Gallery" doesnt work"
[Enter feedback here]

The hyperlink Create an Image Definition in a Shared Image Gallery (https://azure.microsoft.com/en-us/resources/templates/101-sig-image-definition-create/) doesnt exist (you get a 404 error).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b276e2a1-6208-4caa-bcda-1f6d11aac207
* Version Independent

[2021-05-28 07:07] motasem13 opened #76055 "Managed App Service Certificate Limitations"
We do not issue managed certificates for domains with special characters such as фопкасаx.com. Hyphens are allowed though.
can you please update the document to reflect this
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9

[2021-05-28 07:07] Bhodges94 commented on #75766
Hi,

I already included this link after the text I wrote.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates

[2021-05-28 07:16] AjayKumar-MSFT commented on #76053
@sammydeprez, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-28 07:17] psmanhas commented on #76054
@jovalen Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-28 07:17] KrishnaG-MSFT commented on #76041
@santhoshbomma9 Thanks for the feedback.
Assigning @trkeya for visibility, review and document enhancement consideration as appropriate.

[2021-05-28 07:18] Ari6 opened #76056 "About Application configuration URL"
[Enter feedback here]
I am not sure which is correct information about Application configuration URL.

Under Offer information says:

Under CRM package availability says:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1302e00d-1e98-f3d2-bb7d-e7fe17bcb1bb
* Version Independent ID: 06c2ca81-9455-8171-0bea-2de6f14fa4a7
*

[2021-05-28 07:20] psmanhas commented on #76054
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-05-28 07:24] IgnacioAlvarezArenas commented on #75782
Thanks @RyanHill-MSFT.

[2021-05-28 07:30] KranthiPakala-MSFT commented on #75580
Hi @julieMSFT this is related to this template from Azure-samples and it looks like a fix is required. Could you please escalate this this relevant folks to have a look - https://github.com/Azure-Samples/Synapse/blob/main/Manage/DeployWorkspace/workspace/azuredeploy.json

Thank you

[2021-05-28 07:31] gfchaves commented on #73055
I have the same issue with my APIm instances, and so far nothing changed. @KrishnaG-MSFT

[2021-05-28 07:33] SumanthMarigowda commented on #76042
@dstrome  Thanks for the question! We are investigating and will update you shortly.

[2021-05-28 08:07] PhilipAnthonyMurray commented on #75608
Hi @SaiKishor-MSFT, I understand that but the question was more along the lines of if you are utilising both Path based and redirection rules within the same Request routing role how is the precedence handled as the documentation does not state one way or the other.

Lets say I have Request routing rule that has one Path based rule and one Redirection rule as below:

Path - /*
Redirection - /patht

[2021-05-28 08:09] SnehaAgrawal-MSFT commented on #76055
@motasem13 Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-28 08:13] YutongTie-MSFT commented on #76035
@crisansou Is this helpful? https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#connect-to-your-workspace

[2021-05-28 08:14] YutongTie-MSFT commented on #75838
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-28 08:15] YutongTie-MSFT commented on #75942
We enable a support ticket for this case, ticket number: 2105280060001932

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-28 08:15] #75942 closed

[2021-05-28 08:21] papichulo opened #76058 "Front-channel logout URL"
This page is a great walktrough,
but does not mention anything on Single Sign Out.
How would I go about implementing this in a SPA-only (Angular) situation?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c13084-08f6-c015-7769-c2ab9170c1d2
* Version Independent ID: 44d5c264-8c95-0ae5-be9c-8982cea33223
* Conte

[2021-05-28 08:29] msandbu opened #76059 "Trouble with deployment of Azure Arc App Services"
When trying to deploy a new webapp using Azure Arc I'm getting asked for --plan

I have been following all the steps in the deployment guide, but when I get to this command

 az webapp create \
    --resource-group myResourceGroup \
    --name app01 \
    --custom-location $customLocationId \
    --runtime 'NODE|12-lts'

It asks the following (

the following arguments are required: --plan/-p

---

[2021-05-28 08:46] SjoerdWesterhof opened #76060 "Partition set"
In section https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#replica-sets the image introduces the term "partition set". This term is never used or explained in the rest of the page.  Is the wrong term used, should the concept not be used in the image, of should it be explained in the article. This is unclear to me.

Kind regards,
Sjoerd

---
#### Document Details

⚠ *Do not e

[2021-05-28 08:59] chdalski opened #76062 "PM2 does not work with Node14 in Linux App Service as described"
Hi there,

the "configure-nodejs-server" section describes how to use PM2 with nodejs, see:
https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-linux#configure-nodejs-server

Reading the document I thought creating a "ecosystem.config.js" file would be enough for the app service, to start my app with PM2.
This does not work - at least not with Node 14.
http

[2021-05-28 09:13] weyCC81 opened #76063 "SendAs is not shown as Global Reader (EXO)"
SendAs Permission are not shown as Global Reader in the new and old Exchange Web-Interface

Please add the following to "Global reader role has a few limitations right now"
* Exchange admin center - SendAs Permission are not shown in the Web

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8e

[2021-05-28 09:25] dominicbetts commented on #64487
#reassign:marcshier

[2021-05-28 09:25] PRMerger10 commented on #64487
marcshier is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-28 09:26] PRMerger9 commented on #64487
marschier is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-28 09:32] BhargaviAnnadevara-MSFT commented on #76059
@msandbu Thanks for the question. We're investigating this and will get back to you shortly.

[2021-05-28 09:55] roopasd opened #76065 "Databricks autoloader : how to fetch file name which are not yet processed and read by autoloader."
Suppose there are thousands of files autoloader is processing, how to get the file names which are not yet processed?
Or is there any way to  know how many files are processed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141a682b-afaa-a36c-f3cc-baab732b38a9
* Version Independent ID: 6202c305-b765-6237-fb49-18ad0fa73

[2021-05-28 10:05] fjanon opened #76066 "API function creates the /API folder in the wrong VS code project"
Select Azure Static Web Apps: Create HTTP Function....

It seems that there is no way to select the project where the /api folder is created. The api folder is created in the first project found in VS code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a5

[2021-05-28 10:19] ganesh-gawande opened #76067 "Routing query to identify change in desired property only"
I am trying to use Azure IoT hub message routing on Device Twin change event.

I would like to get the notification of Device Twin change - only if any thing in desired property is changed. I don't want the notification if reported property is changed.

Can you please help with the query? any reference to documentation?

[2021-05-28 10:29] AjayKumar-MSFT commented on #76062
@chdalski, Thanks for taking time to post your question on Azure docs feedback channel. While I'm taking a look into this issue, and get back to you soon.

The pm2 module is not installed by default in the Node 14 LTS image.  Our product team is working on changes to include pm2 in the Node.js blessed images, but there is no exact ETA at this time.

[2021-05-28 11:06] 2ndcahl opened #76069 "Just a "only" too much"
In the first "Note"-section it says:
"For Azure SQL Managed Instance, the supported option FORCE_LAST_GOOD_PLAN can only be configured through T-SQL **only**.
I think the last "only" should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ef45327-7cdf-fc60-2a04-b785bc12f4cf
* Version Independent ID: b4f8c915

[2021-05-28 11:08] psmanhas commented on #75871
@ezYakaEagle442 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-28 11:08] #75871 closed

[2021-05-28 12:03] vipulsparsh commented on #76047
@gle-iam Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-28 12:06] vipulsparsh commented on #76063
@weyCC81 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-28 12:09] b-col opened #76071 "Incorrect instructions for handling expired accounts"
Section "Account expiration" suggests that you disable the Azure AD user account via PowerShell. Doing this would only be a temporary change, since the on-prem account is still enabled. As soon as Azure AD Connect performed a delta sync, the Azure AD user's sign-in status would revert to unblocked.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchro

[2021-05-28 12:13] AnuragSharma-MSFT commented on #76060
@SjoerdWesterhof Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-05-28 12:15] cephalin commented on #75782
@IgnacioAlvarezArenas Yes, as a preview feature it's currently going through some changes. We're not ready to update the docs at this point but sometime in June. #please-close

[2021-05-28 12:15] #75782 closed

[2021-05-28 12:24] eyoh5 opened #76072 "Powershell script shows wrong parameter syntax for 'Update_Vmss' command"
[Enter feedback here]
Powershell command "Update_Vmss" inputs name of scale set through '-VMScaleSetName' parameter.
This page uses '-Name' parameter instead of '-VMScaleSetName' several times.

[wrong command]
Update-AzVmss `
  -ResourceGroupName "myResourceGroup" `
  **-Name** "myScaleSet" `
  -VirtualMachineScaleSet $vmss

[expected command]
Update-AzVmss `
  -ResourceGroupName "myResourceGroup

[2021-05-28 12:24] alta01 commented on #26118
The module is correct. It does not provide encryption by default, but can be enabled. If you are referring to question 2, then nothing is wrong with that assertion.

[2021-05-28 12:39] yoelhor commented on #75215
Dear dave22000, thanks for the feedback.

The vscode extension uses a find and replace. You can use this approach in the PS script. For example,

[code]

 I'm updating the article with the relevant information. A new version will publish soon, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new Git

[2021-05-28 12:57] crisansou commented on #76035
Hi @YutongTie-MSFT ,

Thanks for the answer, but I don't know if that is it. I will try to explain it better. I have a registered model and I would like to deploy to ACI or AKS using the managed endpoint to create multiple versions of models under a single endpoint and perform safe rollout to newer versions.

Is it possible to use the https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoi

[2021-05-28 12:59] qaiserali commented on #19456
We are having the same issue, and our Azure DevOps pipelines are not able to reach the storage account due to network limitations.

[2021-05-28 13:25] KidsCanProgram opened #76073 "Virtual network issue solved by disabling Bastion"
When I create the Virtual Network there is an issue and it was solved by disabling Bastion
Do I need to enable it?
And is it a must to connect with Bastion?

Best regards,
Omar Moustafa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-

[2021-05-28 13:28] KidsCanProgram commented on #76073
I use Sandbox for educational purposes I don't have Azure btw.

BTW = By the way

[2021-05-28 13:41] alexdodakov opened #76074 "Azure AD B2C - Sign In user flow - Force password reset on first login"
Hi,

I'm searching for the ability to force password changing after the first login. However, the described approach doesn't work. User see only the 'The password is expired' instead of being redirected to the Password Reset page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba68c500-97ef-0043-42d1-fd4e2cd1c2bc
* Ver

[2021-05-28 14:14] jwojan opened #76076 "The "Automate Configuration using the MS Graph" link in the left nav pane points to a dead link"
Atempts to click on the "Automate Configuration using the MS Graph" link in the left nav pane on any page under this topic results in a 404 as the URL is malformed, or the material at the intended location does not exist. The result is an inability to find the material in question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-05-28 14:18] Nicholak-MS commented on #75432
#please-close

[2021-05-28 14:18] #75432 closed

[2021-05-28 14:21] Nicholak-MS commented on #75161
#please-close

[2021-05-28 14:33] Nicholak-MS commented on #69763
#please-close

[2021-05-28 14:33] #69763 closed

[2021-05-28 14:36] #75215 closed

[2021-05-28 14:50] Nick-Lucas commented on #75998
Thanks, it looks like the steps were just copied and pasted from the Linux steps, as it also references Debian and a certificates folder only present on Linux systems.

While I may be missing some nuances, I was eventually able to access the explorer view in Chrome with no SSL errors after doing the following instead:

[code]

[2021-05-28 14:55] KrishnaG-MSFT commented on #73055
Tagging @MayankBargali-MSFT @promoisha for visibility, review and to provide insights.

[2021-05-28 15:04] yoelhor commented on #76074
Dear @alexdodakov , thanks for the feedback. This  article describes how to force a password reset after 90 days.  Although, you can set the password policy to force a password manually, using MS Graph.

[code]

Make sure your user flow type is "Recommended".  I just tested my policy and it does take the user to the password reset page.

Note, this feature is currently only available for User Flow

[2021-05-28 15:05] #76074 closed

[2021-05-28 15:11] Whetstone-Geoffrey opened #76078 "No Code Tab in Azure Media Player"
Azure Media player does not offer the Code Tab any longer.

We use this to embed codes from Azure Media Services. And its useless without the ability to generate that embedded code.

The images in this document are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bba6896-48dd-503f-1a49-98b79fa59fbb
* Versio

[2021-05-28 15:13] nikidandwani commented on #33157
what kind of access does app-gateway have to private endpoint for keyvault in your last line?
Is it the same as allowing virtual networks in c) here https://docs.microsoft.com/en-us/azure/application-gateway/media/key-vault-certs/key-vault-firewall.png ?

I have also been testing it today and it simply does not work without adding the virtual network/subnet where application gateway lives in.

[2021-05-28 15:13] mwgustin commented on #75998
Thanks for the update Nick - worked perfectly for me.

[2021-05-28 15:18] MonikaReddy-MSFT commented on #76072
@eyoh5 -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-28 15:18] #76072 closed

[2021-05-28 15:22] craigshoemaker commented on #75991
Thanks for the suggestion @fjanon! I am a huge fan of Svelte, but at the moment I'm limiting the amount of frameworks represented in the quickstarts to what is currently published.

#please-close

[2021-05-28 15:22] #75991 closed

[2021-05-28 15:26] craigshoemaker commented on #75853
@manekinekko - does the doc need to add this step, or is the CLI being updated to take care of the path issue?

[2021-05-28 15:29] mgmccarthy commented on #33157
@Martin-Idel-SI  and @nikidandwani, turns out the root cause of my issue was the person who was responsible for creating and then uploading the certificate to key vault was doing it in PEM format, instead of PFX format. Apparently, app gateway's don't support PEM formatted certs, but key vault can have either one uploaded to it.

After those certs were changed to PFX format and uploaded to key vau

[2021-05-28 15:31] jonbloom commented on #69420
One more thing to note -- creating roles in Azure AD seems to require P1, but this doc indicates that you can assign roles appropriately with the Free plan.

[2021-05-28 15:32] JamesTran-MSFT commented on #76076
@jwojan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/120007841-3546e800-bf8f-11eb-95da-0f2b3ae49070.png)

[2021-05-28 15:41] sdgilley commented on #75802
Thanks for your dedication to our documentation. I've created an internal work item to incorporate your suggestion. I'm  closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-05-28 15:41] #75802 closed

[2021-05-28 15:43] JamesTran-MSFT commented on #76071
@b-col
Thanks for your feedback!

The [Account Expiration section](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#account-expiration) suggests that you disable the Azure AD user account via PowerShell, if your organization uses the "accountExpires" attribute within Active Directory.

The reason is, this attribute (accountExpires) is not

[2021-05-28 15:58] b-col commented on #76071
@JamesTran-MSFT
What you are saying is correct, however the action of disabling the user's Azure AD account will be undone by Azure AD Connect during the next synchronisation task, since the **accountEnabled** attribute is synchronised by default.

The suggestion should be to disable the user's AD account, not blocking the Azure AD account. Disabling the AD account will also disable the Azure AD a

[2021-05-28 16:09] JamesTran-MSFT commented on #76071
@b-col
Thank you for the clarification and follow up on this! I've assigned this issue to the author who will investigate and update the section as appropriate.

[2021-05-28 16:20] #76020 closed

[2021-05-28 16:34] ConnorMcMahon commented on #75573
@vigouredelaruse

At this time, we don't have any official support for encryption, and are just highlighting an external library that had a solution for encryption. If you need key rotation supported for encryption, you would likely need to get the owners of that repository to implement it, or fork the repo and expand on their `EncryptionService` implementation.

[2021-05-28 16:38] femsulu commented on #76056
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-28 16:38] FranNev opened #76082 "Write stage duration"
![image](https://user-images.githubusercontent.com/61700333/120015557-bc25b000-bfe3-11eb-91a6-2ad83cde519d.png)

Hi! I would like to know if "Write stage duration" here, means "Duration of the writing stage". Could you help me with that?
Thanks and best regards,
François

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2021-05-28 16:45] ashishkatare opened #76083 "oauth 2.0 implementation with Azure APIM"
I am wondering if you could please give me some documentation to implement oauth 2.0 client credentials with Azure APIM. how would i generate API key and Secret for different external partners . would one set be applicable to one external partners or each for developer in that org.
Server to server authentication is the one we are thinking and planning to implement oauth 2.0 with OKTA as oauth tok

[2021-05-28 16:47] cynthn commented on #76054
@jovalen Thank you for the feedback! I've filed a pull request to update the links. The fix should be live later today.

#please-close

[2021-05-28 16:47] #76054 closed

[2021-05-28 16:52] ElanShudnow opened #76084 "Need the CSV file updated to include supported resources across regions"
This page includes a recently new column as to what resources are supported to be moved across regions.  But the CSV link at the bottom (To get the same data as a file of comma-separated values, download move-support-resources.csv.) doesn't yet have this new column.  Please update the CSV file to include this column as we run scripts during assessments that analyze this CSV to determine what resou

[2021-05-28 16:53] JamesTran-MSFT commented on #76043
@sarthak-git
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/120017237-7e506980-bf9a-11eb-9706-26015f34091b.png)
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#troubleshooting

[2021-05-28 16:55] tonyhain opened #76085 "Storage account type BS"
[Enter feedback here]
The Azure CLI requires a storage account, which in itself is fine, but the serial port access requires a "custom storage account". The UI in the CLI setup page does not offer setting the type of storage account so that it will be compatible with the serial port access requirements. This page does not even recognize that there are different types of storage accounts which is i

[2021-05-28 16:58] sarthak-git commented on #76043
Thanks james

On Fri, May 28, 2021 at 11:54 AM James Tran-MSFT ***@***.***>
wrote:

--
Sent from Ipad

[2021-05-28 17:07] Oury-MSFT commented on #76069
@2ndcahl Thank you for your feedback. We are reviewing this and will get back shortly.

[2021-05-28 17:07] vigouredelaruse commented on #75573
@ConnorMcMahon  thanks for looing into it.

i will defer going so far as to implement rotation myself until  i get to v1.02 of the implementation i'm most concerned about at the moment. hopefully encryption options will continue to evolve meantime

[2021-05-28 17:07] #75573 closed

[2021-05-28 17:09] YutongTie-MSFT commented on #75835
@WGabriel Hello, does above solve your problem? Thanks.

[2021-05-28 17:26] himanshusinha-msft commented on #76065
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-05-28 17:31] SumanthMarigowda commented on #75798
@keithdoyle9  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-28 17:34] himanshusinha-msft commented on #76082
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-05-28 17:48] femsulu commented on #76067
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-28 17:56] msmimart commented on #75253
@John-Garland thanks so much for pointing this out; an update is underway. Please note that this GitHub issue will close automatically before the doc is published, but you'll see the updates later today. Thanks again! #please-close

[2021-05-28 17:56] #75253 closed

[2021-05-28 17:59] AjayKumar-MSFT commented on #75863
Anand-Moghe, As discussed, closing this for now. Thanks for your feedback.

[2021-05-28 17:59] #75863 closed

[2021-05-28 18:01] roygara commented on #75791
#assign:roygara

[2021-05-28 18:02] roygara commented on #75791
Hello @circy9 , thanks for reaching out and making us aware of this. This is a typo, it should be MiB. We've corrected it and the new change should be live later today.

Thanks for helping us improve the docs, we appreciate it! :)

#please-close

[2021-05-28 18:02] #75791 closed

[2021-05-28 18:07] Grace-MacJones-MSFT commented on #75614
We will now proceed to close this thread. @pankajydv please repost your question on Stack Overflow like Bruce mentioned. Thanks

[2021-05-28 18:07] #75614 closed

[2021-05-28 18:20] curtand commented on #67587
Hi @michevnew
Thanks for your feedback! This is fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/160472
There's no new picture there but it now just refers to what happens in an example operation in text.

#please-close

[2021-05-28 18:20] #67587 closed

[2021-05-28 18:24] Oury-MSFT commented on #76011
@oslake Could you please help with the above feedback from customer. Thanks

[2021-05-28 18:34] Nicholak-MS commented on #74100
I added this today and it will go out with the next deployment.

#Please-Close

[2021-05-28 18:34] #74100 closed

[2021-05-28 18:34] curtand commented on #69675
Hi @cchapin-ms
Thanks for the feedback!! The link is fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/160472
The year is correct. I'll check to see if the customers that we were accommodating still depend on the text.

#please-close

[2021-05-28 18:34] #69675 closed

[2021-05-28 18:34] maertendMSFT commented on #76038
Fixed!  Thanks for calling this out!

#please-close

[2021-05-28 18:35] #76038 closed

[2021-05-28 18:35] Nicholak-MS commented on #71529
I believe I have addressed all of these fixes in a PR today. It will deploy later today. Thanks for bringing these to our attention.

#please-close

[2021-05-28 18:35] #71529 closed

[2021-05-28 18:37] Oury-MSFT commented on #76021
@niklarin Could you please with the above feedback from customer. The documentation suggests that TLS is supported. and in the subsequent paragraph it suggests that it doesn't support earlier TLS versions.

![image](https://user-images.githubusercontent.com/78940872/120027309-0f7a0d00-bfa8-11eb-8de7-91cdb482d711.png)

[2021-05-28 18:39] Nicholak-MS commented on #66824
@DEberhardt, thank you for your help in identifying these issues and fixing a few along the way. I submitted a PR today that should address all of the remaining items above. But if and when you find some additional bugs let me know and I will address them.

[2021-05-28 18:41] Torxsmind opened #76087 "Middleman VM?"
This page or previous ones does not show the full requirements.  It appears that I would need a VM to be the middleman between Log analytics and the Meraki Dashboard with the Azure agent.

If my assumptions are correct then there needs to be minimum and recommended specs of that VM.  Lastly there should be some networking guidance.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-05-28 18:41] curtand commented on #55889
Hi @athmanb
I'm waiting on this resolution and will publish as soon as I get it.

Thanks!!

#please-close

[2021-05-28 18:41] #55889 closed

[2021-05-28 18:45] erikhjensen commented on #76021
Hi team.. my comment is moreso that I have a COTS app which unfortunately does not support sslmode for PostgreSQL at this time.  When we provisioned the Flexible PostgreSQL server, it ONLY supported inbound encrypted connections even though we used a private endpoint notion and had the Azure Team fix the VNET DNS resolution as they indicated that in preview mode, the internal-DNS resolution is not

[2021-05-28 18:47] ThomasWeiss commented on #75962
@benCoomes The SDK does not automatically refresh the token when it expires, so you will need to issue a new token first and re-initialize your SDK with it.
Depending on your use-case, I would suggest looking at our new [data plane RBAC](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac), which provides very similar functionality (token-based access to your data) with more granula

[2021-05-28 18:56] JamesTran-MSFT commented on #76087
@Torxsmind
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-28 18:57] bmedlin opened #76088 "Add example of using object output"
Hi - I can't find any examples of using an output of type 'object'. Do I need to cast it? Can I drill through properties even though they don't show in intellisense/auto-complete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f819c500-ec35-424c-8559-f557f0840f4d
* Version Independent ID: deb6b4a0-16f1-9c58-f535-5b608f

[2021-05-28 18:59] curtand commented on #74693
Hi @TheITguy666
Thanks for your feedback! This is fixed in the Privileged Identity Management article in https://github.com/MicrosoftDocs/azure-docs-pr/pull/160472 .

I work with AJ and I'll work with her to adjust the permissions listed in the  other article.

#please-close

[2021-05-28 18:59] #74693 closed

[2021-05-28 19:20] ssivas commented on #76052
@georgeOsdDev ,

Thanks for reaching out.

Yes, you are right. The `Website Contributor` Can manage websites but not the web plans to which they are connected. In addition to that every Contributor role in Azure can create and manage resources except access. For an example: if you are `Virtual Machine Contributor` then you can manage virtual machines, **but not access** to the virtual network or s

[2021-05-28 19:20] jeevansd commented on #69420
@jonbloom Creating Roles in the Azure AD does not require any licenses. You can open the app in App Registration and then use the AppRoles user interface and add or update the roles as needed. If you are aware about the public page which says that Roles requires Premium license then please let us know.

[2021-05-28 19:21] paulbatum opened #76089 "Functions blob trigger documentation should be explicit about support for SAS tokens"
The documentation for the connection property should highlight what type of connection strings is supported - specifically it should be explicit that the blob trigger cannot be used with just a SAS token - it needs full access to the storage account (either via an account key, or managed identity).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-05-28 19:23] leandmilo commented on #75273
Hi guys, any update with the documentation? Thanks

[2021-05-28 19:26] RyanHill-MSFT commented on #75841
Try using [going through the portal](https://docs.microsoft.com/en-us/azure/app-service/environment/using#dns-configuration) @cveld. PowerShell and CLI support aren't readily supported just yet.

If you run into issues, feel free to reopen and tag me in your reply.

[2021-05-28 19:26] #75841 closed

[2021-05-28 19:26] MartinJaffer-MSFT commented on #76082
Hello @FranNev and thank you for bringing this to our attention.  I agree with you the name is potentially misleading.
The name "Write stage duration" sounds to me like the duration of the writing stage of the process.
Yet the definition next to it says it is the duration of writing to a staging location.  This implies a second write will happen to move from staging to final destination.

@kromerm

[2021-05-28 19:31] AjayKumar-MSFT commented on #75842
Pablo, Apologies for the delayed response.

I was able to install the packages with the cmdlets outlined in doc.

![image](https://user-images.githubusercontent.com/44606227/120033082-beeec800-c018-11eb-921d-95eb8cbf1767.png)
![image](https://user-images.githubusercontent.com/44606227/120033300-05442700-c019-11eb-89f4-1248256103ab.png)

I would suggest you to take a look into the steps outlined he

[2021-05-28 19:34] MartinJaffer-MSFT commented on #76082
Oh, did I misunderstand your ask @FranNev ?  Were you asking "is this specific to Synapse, or for any sink?"
This document is shared by Data Factory and Synapse Analytics, both have Mapping Data Flows.

[2021-05-28 19:38] JasonWHowell commented on #72015
#please-close I hope the screenshot helps. We'll update the article to better explain things.

[2021-05-28 19:38] #72015 closed

[2021-05-28 19:53] benCoomes commented on #75962
Thanks @ThomasWeiss, knowing to dispose the old SDK and create a new one with a current token is what I needed. I looked, but didn't find any examples showing how to use the CosmosClient with a token. That might be helpful to add to the documentation on creating tokens. I'll look into the data plane RBAC suggestion.

@AnuragSharma-MSFT, thank you for pointing that out. I did confirm my tokens expi

[2021-05-28 20:04] danimir commented on #76069
@2ndcahl - I am fine with this suggestion. Content editors can go ahead and make this style change.

[2021-05-28 20:06] Oury-MSFT commented on #76069
@danimir I will raise a PR to update the doc. Thanks

[2021-05-28 20:13] mkaply opened #76091 "Add GPO information for network.negotiate-auth.trusted-uris"
Besides just setting the pref, you can also use GPO or Intune to set network.negotiate-auth.trusted-uris.

See: https://github.com/mozilla/policy-templates/blob/master/README.md#authentication

The corresponding GPO is

Software\Policies\Mozilla\Firefox\Authentication\SPNEGO\

Would be nice to update the docs for this method.
---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-05-28 20:32] RyanHill-MSFT commented on #75952
@scotts777, not sure when or why the startup box for Java was removed. You can try adding `STARTUP_COMMAND` to application settings and setting it to the path of the jar file. Another option is updating the web.config to indicate the path of the jar file.

[code]

[2021-05-28 20:32] #75952 closed

[2021-05-28 20:47] curtand commented on #69340
Hi @jaggersystems
Thanks for your feedback! I added in the PowerShell install step in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/160472

#please-close

[2021-05-28 20:47] #69340 closed

[2021-05-28 20:55] samadara-msft opened #76092 "A list of supported operating systems under Prerequisites in Azure VM Agent overview document"
Can we have make list of supported operating systems for Azure VM Agent?

The following Azure VM agent prerequisites does not indicate full list of supported operating systems:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#prerequisites

Example, something like below:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-

[2021-05-28 20:59] FranNev commented on #76082
Hello @MartinJaffer-MSFT and thank you for your prompt response! :)
My question is related to Data Factory. Actually, I'm part of the team which is working on the translation of UI into French. And one of the translators had some doubts regarding the meaning of "Write stage duration". He translated it as "Duration of the writing stage". But one of my colleagues thinks that "stage" here should be u

[2021-05-28 21:00] cdaf commented on #33157
It appears, anecdotally, that the transient error which renders an Application Gateway using Key Vault (both in a private network) inaccessible has been addressed?

Does anyone know if Microsoft actively fixed this, or is it simply a case that the people on this thread do not tear-down & stand-up their environments often enough to have been affected by it?

[2021-05-28 21:23] MartinJaffer-MSFT commented on #76082
I do not know what polysemous means, but I do appreciate the precision in word choice and meaning.

I will run a Data Flow now and look at the available metrics.  To my logic, there should be a "duration of write" feature before there can be a "duration of write to staging" feature.  I will also assign this issue to content owner, @kromerm .

![image](https://user-images.githubusercontent.com/4661

[2021-05-28 21:24] Oury-MSFT commented on #75947
@chirangaalwis  Auto scaling is not available for General Purpose or Business Critical. SQL DB hyperspace supports it.
@stevestein Is there a way to automate scaling for Azure SQL General Purpose and Business Critical?

[2021-05-28 21:34] MartinJaffer-MSFT commented on #76082
Assuming Sink Processing Time is total time, then all the other durations should sum to Sink Processing Time.
1s 381ms + 141ms + 4ms + 1ms = 1s 527ms
1s 527ms < 2s 428ms (Sink Processing Time).
Given I just proved myself wrong, the missing time must be for writing to final destination.  This must mean Write Stage Duration must be writing the output of transformations to a staging table where the M

[2021-05-28 21:39] georgeOsdDev commented on #76052
Hi @ssivas

Thank you for feedback.

App Service is provided with Scale Unit. So each individual servers are hidden from user even if user have `Owner` roll.
https://docs.microsoft.com/en-us/archive/msdn-magazine/2017/february/azure-inside-the-azure-app-service-architecture#what-is-an-app-service-scale-unit
Azure portal offers `Console` blade and `Advanced Tools` (Kudu) blade instead of direct ser

[2021-05-28 22:00] femsulu commented on #76085
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-28 22:01] bstollnitz opened #76094 "Curated PyTorch environment"
In the section where we specify a curated PyTorch environment, is there a particular reason to set the environment as a separate step, instead of passing it to the ScriptRunConfig constructor?

I find that it's more likely that people will want to write code like this:

    env = ws.environments['AzureML-PyTorch-1.6-CPU']
    config = ScriptRunConfig(source_directory='./src',

[2021-05-28 22:01] computerwizjared commented on #49636
@SaurabhSharma-MSFT any chance there's been an update here? we are running into the same thing.

[2021-05-28 22:08] bstollnitz opened #76095 "Missing requirements when running "python run-hello.py""
I got the following error when running "python run-hello.py":

![image](https://user-images.githubusercontent.com/882699/120046113-4f4fed00-bfc6-11eb-9662-bd2455a72793.png)

The error was resolved after installing azure-dataset-runtime and version 3.0.0 of pyarrow (the machine had 4.0.0).

Shouldn't this simple example just run?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-05-28 22:08] MartinJaffer-MSFT commented on #76007
Thank you for your feedback. This has been assigned to the content owner, @jianleishen  , and will be updated as appropriate.

[2021-05-28 22:12] JamesTran-MSFT commented on #76091
@mkaply
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-28 22:13] femsulu commented on #76066
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-28 22:18] MartinJaffer-MSFT commented on #76037
Hello @islamtg .  Do you get this error when doing "test connection" , "preview", or something else?  Does this happen consistently?

[2021-05-28 22:24] bstollnitz opened #76096 "Conda environment statement"
Under "Next Steps", it says that we saw how to take a local Conda environment to the cloud, but I don't think that was demonstrated. As far as I can tell, the code demonstrates only how to use a curated environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f9d033-9007-7b0a-d651-88d5d3846b2a
* Version Independen

[2021-05-28 22:28] femsulu commented on #76083
Hi @ashishkatare , thanks for the comment. Sharing these 2 related docs below.
Let me know if you've already seen this content. Happy to assist further.

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

[2021-05-28 22:36] pavel-petrenko opened #76097 "Multiple Errors in the code example"
[Enter feedback here]

Section:
  "Set up diagnostics with a Trusted Platform Module (TPM) endpoint of Azure Attestation"
Last line in the script.
  we have:
    "Set-AzDiagnosticSetting -ResourceId $ attestationProvider.Id -StorageAccountId $ storageAccount.Id -Enabled $true"
  correct one:
    "Set-AzDiagnosticSetting -ResourceId $attestationProvider.Id -StorageAccountId $storageAccount.Id -Enab

[2021-05-28 22:52] Oury-MSFT commented on #76011
@DebashishSarkar We raised a PR to update the doc. Changes should be live in 24 hours to 48 hours.
Thanks again for reaching out.

[2021-05-28 22:52] #76011 closed

[2021-05-28 23:01] YutongTie-MSFT commented on #76094
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-28 23:01] YutongTie-MSFT commented on #76095
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-28 23:02] YutongTie-MSFT commented on #76096
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-28 23:23] femsulu commented on #76073
Hello @KidsCanProgram, Doesnt sound like you need the Bastion service for your scenario so makes sense to disable it. the Bastion service is not a requirement but it does provide a secure & seamless way to manage remote desktop session for windows or SSH for Linux through a Secure Socket.  You can find more information on Bastion service [here](https://azure.microsoft.com/en-us/services/azure-bast

[2021-05-28 23:23] #76073 closed

[2021-05-28 23:26] Karishma-Tiwari-MSFT commented on #76092
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-28 23:37] femsulu commented on #76084
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-28 23:48] femsulu commented on #76088
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-28 23:51] femsulu commented on #76097
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-28 23:53] islamtg commented on #76037
Test connect.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: MartinJaffer-MSFT ***@***.***>
Sent: Friday, May 28, 2021 6:18:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Islam El-Ghazali ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] SPN o365 error (#76037)

Hello @islamtg<https://nam06.safelinks.protection.outlook.com/?url

[2021-05-29 00:16] femsulu commented on #76078
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-29 00:20] rolyon commented on #73839
Hi @AlexImray
Thanks for letting us know about this. The service team will work to update. Once they do, I'll update the docs.
Let us know if you have any additional feedback.
thanks

[2021-05-29 00:20] rolyon commented on #73839
#please-close

[2021-05-29 00:20] #73839 closed

[2021-05-29 00:33] rolyon commented on #73932
Hi @BraydonZhao
Thanks for your feedback. Classic administrators apply only to subscriptions. For example, if you try to assign a Co-administrator at a management group scope, you see the following message:
"Co-administrators can only be added at the subscription level. Open Access control (IAM) for the subscription to add co-administrators"
Let us know if you have any additional feedback.
thanks

[2021-05-29 00:33] rolyon commented on #73932
#please-close

[2021-05-29 00:33] #73932 closed

[2021-05-29 03:48] bstollnitz opened #76099 "Minor typo: should be "cloned" instead of "closed""
In the "Open the cloned notebook" section, we can find the following text:

"1. Open the tutorials folders that was **closed** into your User files section."

I think it should be:

"1. Open the tutorials folders that was **cloned** into your User files section."

I think it should be "cloned" instead of "closed".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-29 04:35] mike-urnun-msft commented on #76089
Thank you for your feedback, @paulbatum! We have assigned this issue to the author to review further and take the next course of action.

[2021-05-29 07:28] ppgovekar opened #76106 "Azure Portal link is redirecting to https://ms.portal.azure.com/#create/Microsoft.EventHubCluster instead of https://ms.portal.azure.com/#create/Microsoft.EventHub for Event Hubs Premium (Preview)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a5c504-bd11-6f5e-c96d-658e045fa6c2
* Version Independent ID: 34d0ff20-e2bb-2a96-7db1-a36fba0bbe03
* Content: [Overview of Event Hubs Premium (Preview) - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-premium-overview)

[2021-05-29 07:30] ppgovekar opened #76107 "Screenshot are old and needs update as we changed Schema Registry Icon and few Blade design changes"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a082981-4808-dfe3-533f-7fa1f70738e7
* Version Independent ID: fa9a6ab4-c7fe-7e80-0628-f49d8203a4b7
* Content: [Create an Azure Event Hubs schema registry - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/create-schema-registry)
*

[2021-05-29 08:08] KidsCanProgram commented on #76073
Yeah, I want to use Bastion but it doesn't work when I enable the Bastion in the virtual network and gives an error but, if I disabled it, there is no error.

I will send you the error.

[2021-05-29 08:21] Aminadad27 commented on #76031
I need help creating a blog for a book that I want to publish and start creating my own business

[2021-05-29 08:57] FreddyMcRay opened #76109 "Cannot configure additionalLoginParams"
Following the instruction from the this tutorial https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#configure-app-service-to-return-a-usable-access-token I'm not able to change additional login params. I'm keep getting this:
`
{
  "Code": "BadRequest",
  "Message": "Cannot execute the request for site fron-end-evg-test because the site is running on auth ver

[2021-05-29 09:14] satyasyamnn opened #76110 "Comparing methods - Choose the right authentication method for your Azure Active Directory hybrid identity solution"
Comparison of various authentication methods, for

Is there a TLS/SSL certificate requirement? for PTA it is marked "NO".

it should have been yes, as AAD authentication service needs to connect to PTA agents passing credentials.  Please check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d32078e-3211-6e2e-ab0f-b6d9

[2021-05-29 09:59] FreddyMcRay opened #76111 "IDX10511: Signature validation failed"
Following the instructions provided in the current doc my angular.js app could not access back-end api. I'm getting 401 response:
`
{
    "code": 401,
    "message": "IDX10511: Signature validation failed. Keys tried: '[PII is hidden]'. \nkid: '[PII is hidden]'. \nExceptions caught:\n '[PII is hidden]'.\ntoken: '[PII is hidden]'."
}
`

Hosting platform: Linux

---
#### Document Details

⚠ *Do not

[2021-05-29 10:30] giovannifl commented on #75741
Hi @RyanHill-MSFT ,
I understand your comment but az webapp config ssl create requires the Web App name and its Resource Group name. As a result, if the Web App is deployed in a different resource Group than the App Service Plan, az webapp config ssl create fails with the following error:
ERROR: Not Found({"Code":"NotFound","Message":"Cannot find Certificate with name admin-dashboard.dev.keyless.i

[2021-05-29 10:36] giovannifl opened #76112 "az webapp config ssl create not support Web App and App Service Plan in different Resource Groups"
As already mentioned in https://github.com/Azure/azure-cli/issues/9972 and https://github.com/MicrosoftDocs/azure-docs/issues/75741,
`az webapp config ssl create` not support Web App and App Service Plan in different Resource Groups

If above command is executed on Web App running in a different Resource Group than its App Service Plan, then `az webapp config ssl create` fails with the following e

[2021-05-29 11:36] BhargaviAnnadevara-MSFT commented on #76029
@sreejaptfa Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-29 12:08] AnuragSharma-MSFT commented on #75972
@SudhaGPillaiP Awaiting your response on this.

[2021-05-29 12:09] AnuragSharma-MSFT commented on #75990
@arolshan Awaiting your response on this.

[2021-05-29 13:27] SychevIgor opened #76113 "Is it in preview or generally available?"
In Microsoft Build 2021 book https://news.microsoft.com/build-2021-book-of-news/

"Text Analytics for health is now generally available with Text Analytics in Azure Cognitive Services. "

but article says - preview.
![image](https://user-images.githubusercontent.com/578954/120072107-b939c680-c09a-11eb-8767-4718fbb1c496.png)

Which one is correct?

---
#### Document Details

⚠ *Do not edit this sec

[2021-05-29 14:22] MayankBargali-MSFT commented on #76099
@bstollnitz Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:24] MayankBargali-MSFT commented on #76106
@ppgovekar Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:25] MayankBargali-MSFT commented on #76107
@ppgovekar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-29 14:26] MayankBargali-MSFT commented on #76109
@FreddyMcRay Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:27] MayankBargali-MSFT commented on #76111
@FreddyMcRay Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:28] MayankBargali-MSFT commented on #76110
@satyasyamnn Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:32] MayankBargali-MSFT commented on #76112
@giovannifl Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 14:34] MayankBargali-MSFT commented on #76113
@SychevIgor Thank you for your feedback! We will review and update as appropriate.

[2021-05-29 15:24] FocusOnSoftware opened #76114 "Static Functions can not have contructors"
When I follow step 3) "Add a constructor used to obtain an instance of IConfiguration through dependency injection" I receive a compiler error stating that static classes can not have a constructor.  Azure functions are static classes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7ccc

[2021-05-29 15:33] pierrekhouryb commented on #62419
Somehow, this is possible using Pulumi:
https://www.pulumi.com/docs/reference/pkg/azure-native/azureactivedirectory/b2ctenant/

[2021-05-29 15:43] aamanlamba opened #76115 "Starter Kit download is not extractable"
The Purview Starter Kit zip file mentioned in the [tutorial for scanning data with Azure Purview:]( https://docs.microsoft.com/en-us/azure/purview/tutorial-scan-data )

that is [stored on github here ](https://github.com/Azure/Purview-Samples/blob/master/PurviewStarterKitV4.zip) cannot be extracted. It appears to be empty.

Thus, executing the step Dir -Path <path-to-extracted-files> -Recurse | Un

[2021-05-29 16:01] mkaply commented on #76091
I'm  more than happy to help fix this if necessary. I just forked the docs and can put a patch together. Also, FYI, the chrome policies on this page are named incorrectly (they moved away from Whitelist) and they link to the old documentation.

[2021-05-29 16:42] BhargaviAnnadevara-MSFT commented on #76045
@msft-edluo Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-05-29 16:45] femsulu commented on #76114
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-29 16:49] femsulu commented on #76097
Hi @pavel-petrenko  , The errors have been resolved.  You will see the new changes reflect on the doc shortly. Thanks again for bringing this to our attention.

[2021-05-29 16:49] #76097 closed

[2021-05-29 16:52] femsulu commented on #76115
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-29 18:03] arolshan commented on #75990
I reviewed the links you sent and they weren't helpful.

I asked specifically on the feature of using AAD to query SQL.

I know it wasn’t supported a year ago on sov clouds.

Is it now supported? Are there any engineers from the Azure SQL RP team that can confirm this?

Thanks, Arik.

[2021-05-29 19:00] ggailey777 commented on #62298
I think that this has been addressed where now all examples are anonymous access. #please-close

[2021-05-29 19:00] #62298 closed

[2021-05-29 19:41] pruggera opened #76116 "Availability sets and Availability zones"
Aren't Availability sets within an Availability zone?  What don't you make this simple clarifying statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc927ec4-97ad-b143-acc1-06f091d01080
* Version Independent ID: 6f9d720c-b9b7-22d7-6e20-6da6c705eac6
* Content: [Availability options for Azure Virtual Machines - Az

[2021-05-29 20:52] jrudlin opened #76117 "Azure P2S VPN support"
The article mentions that VPN Gateway and ExpressRoute Gateway route exchange is supported. Does this include Azure VPN P2S Gateways?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b478b95e-31a8-9a13-f882-ae0d373d6b2d
* Version Independent ID: c14961a5-d819-e99a-b453-601a01f3371d
* Content: [About Azure Route Server (P

[2021-05-29 22:31] FranNev commented on #76082
@MartinJaffer-MSFT
Sorry for the linguistic jargon! "Polysemous" = "having multiple meanings".
Thank you very much for all your efforts to answer my question. :)

[2021-05-30 00:03] ram-msft commented on #75862
@irishun Thanks , Please follow the cognitive services [quick start ](https://github.com/Azure-Samples/cognitive-services-quickstart-code) samples  and SDK [samples ](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples) for [authentication](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview).

[2021-05-30 00:04] ram-msft commented on #75862
@irishun  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-30 00:04] #75862 closed

[2021-05-30 00:29] YutongTie-MSFT commented on #75835
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-30 00:29] #75835 closed

[2021-05-30 00:55] idusortus commented on #62419
Testing this now, thanks for the tip man.

[2021-05-30 02:09] eyoh5 commented on #74405
@psmanhas @EricRadzikowskiMSFT Any Update for this issue?

[2021-05-30 03:21] femsulu commented on #76116
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-30 03:29] femsulu commented on #76117
Hello @jrudlin  Thanks for the post. We are actively investigating.  Kindly share the link to the article for reference.

[2021-05-30 04:46] YutongTie-MSFT commented on #76096
@bstollnitz Thanks for the feedback, I have created a PR to make this description better.

[2021-05-30 04:48] YutongTie-MSFT commented on #76094
@bstollnitz Hello, I don't think there is any specific reason to write it this way. It should be the same. @aminsaied Please correct me if I am not correct.

[2021-05-30 05:02] YutongTie-MSFT commented on #76095
@aminsaied Hello Amin, could you please check on this issue and update the document ? Thanks a lot.

[2021-05-30 05:35] YutongTie-MSFT commented on #76035
@crisansou Thanks for the details, I have assigned this issue to the author @rsethur for more information.

@rsethur Sethu, could you please take a look on this issue? Thank you.

[2021-05-30 06:52] kajencik commented on #75456
@SwathiDhanwada-MSFT I'm aware of the new solution, however, it seems it is based on compiled code rather than powershell (I saw a dll referenced, but did not check into that much further) and I did not find an easy way to add my own.

In terms of scenario - We are doing many WVD deployments for our customers, and the samller ones, where you just have 2-5 VMs, does not seem to need the complex aut

[2021-05-30 06:53] jrudlin commented on #76117
[https://docs.microsoft.com/en-us/azure/route-server/expressroute-vpn-support](url)

[2021-05-30 07:36] codemaker opened #76122 "Where I can find chart for Sign-in Activity and risk level?"
[Enter feedback here]

Is this table still holds good? where I can find reference in the document.  Because some say that "infected device" is low!

Sign-in Activity | Risk Level
-- | --
Sign-ins from IP addresses with suspicious activity | Low
Sign-ins from unfamiliar locations | Medium
Sign-ins from infected devices | Medium
Sign-ins from anonymous IP addresses | Medium
Impossible travel to atyp