[2019-05-01 16:12] SumanthMarigowda-MSFT commented on #30417
@adrianwells Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:13] SumanthMarigowda-MSFT commented on #30418
@SquirrelAssassin Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:15] SumanthMarigowda-MSFT commented on #30419
@Sethu2488 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:16] SumanthMarigowda-MSFT commented on #30421
@gabrielke Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:19] erhopf commented on #30413
@SumanthMarigowda-MSFT - This may be a product issue if the service is down.

[2019-05-01 16:27] walkersa commented on #30083
@Alberto-Vega-MSFT Thanks for getting back to me. VS is telling me in need to match the version of .Net Core specified in the global.json file (2.2.100, I've currently go the latest version installed) but when I go to download it I'm told that this version is not compatible with VS 2019. Should I just go back to 2017? I also tried the steps in the link you provided but that didn't work either

[2019-05-01 16:28] Sshetty2 commented on #29787
@PatAltimore Is there anything you can do here? Have others had success running this demo; migrating their smart contracts to the network?

[2019-05-01 16:35] woodrum commented on #30361
@georgewallace Thanks for the info... disabling the classic VM's was all it needed.  In regards to the region mapping, I was OK with that.  The issue that hit me was on my global subscription filter, I usually only leave our prod subscription enabled.  I had to enable the dev subscription to see the log analytics workspace / automation accounts in dev when deploying the solution, as it opens a sec

[2019-05-01 16:39] Adam-Smith-MSFT commented on #30040
@ToshinaoOnodera Thanks for the feedback, we created an internal bug to the Storage Service team to notify them about the lack of documentation related to the mentioned name spaces. I'll go ahead and close this issue.

[2019-05-01 16:39] #30040 closed

[2019-05-01 16:40] PatAltimore commented on #29787
@Sshetty2  I actually don't know this article very well. @codyborn is the actual author. However, everyone is heads down preparing for the //build conference next week.  I don't expect a response from Cody until after build. The best place for support issues is the forum.  https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureblockchain.

Pat

[2019-05-01 16:40] curtand commented on #29805
Hi @TxTurbo
I'm taking your concerns to the product team. We're working in sprints and there's little chance for me to know how long or what form any change will take. I'm certain this was taken into account, but I wasn't privy to the discussions. Tagging @zawad the feature owner.

You've been heard, and we will respond. But I know this will take a while whatever change is made, so
#please-close
@

[2019-05-01 16:42] fixx220 opened #30432 "Process Server Deployment Fails"
When using the above method to deploy an Azure based Process Server, it fails with the error:  "The value of parameter imageReference.version is invalid."  This is because the "OsVersion" variable in the ARM template has a trailing space.  Confirmed by removing this space and redeploying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-01 16:43] Mike-Ubezzi-MSFT commented on #29470
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-01 16:43] #29470 closed

[2019-05-01 16:45] vikramdadwal opened #30433 "When the GA would be available ?"
When the GA would be available ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview)
* Content Source: [ar

[2019-05-01 16:47] TomasHubelbauer commented on #29470
Well my question would be - are you gonna do it or not then? You are closing this thread out of the blue.

But I see this repository uses GitHub Issues in a very, uhm, _particular_, way, and it's probably not worth to attempt further discussion anyway, so feel free to disregard.

[2019-05-01 16:56] sshorkey opened #30434 "How to just get raw data?"
All this stuff with fancy queries.. is there a way to just get the raw log data, spat out into text? As in, get the exact same output I would get it if I just ran 'cat' on the stdout of the service itself. This is a very basic use case yet I can't find any way to do this with Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-05-01 16:57] cbailiss commented on #28927
@ravindra-gaikawad Thanks, but as I said in the question.... the link to generic ASP.NET core logging documentation does not help.  To quote my question:

"Function.MyFunction" needs documenting, since it looks specific to Azure Functions, so the reference to the generic .NET Core logging docs doesn't explain what "Function.MyFunction" is.

I don't understand what Function.MyFunction is here?  Sho

[2019-05-01 17:03] nkumars opened #30435 "Javascript doesn't seem to work in Desktop applications"
# Javascript doesn't seem to work in Desktop applications

Trying to have custom login page _(connected to Azure AD B2C)_ with some more custom fields _(not intended to override the standard login functionality)_ to have more user friendly.

- My login page in **WPF** application need to have a drop-down field selecting a language and based on which the login page should display in that particular

[2019-05-01 17:03] serafing commented on #29108
@TomBertie  - Yes this worked for me as well.  Thanks so much for posting it!

param (
    [Parameter(Mandatory=$True)][string]$WorkspaceName,
    [Parameter(Mandatory=$True)][string]$ResourceGroupName,
    [Parameter(Mandatory=$True)][string]$SubscriptionId,
    [Parameter(Mandatory=$True)][string]$OfficeUsername,
    [Parameter(Mandatory=$True)][string]$OfficeTennantId,
    [Parameter(Mandatory=

[2019-05-01 17:09] mike-urnun-msft commented on #30410
@falmada Thank you for your feedback! We will review and update as appropriate.

[2019-05-01 17:13] gokayokutucu commented on #17959
From SQL Management Studio, right-click to [YourLOCALDatabase] and open Tasks>Export Data-tier Application. You can export your database to Azure Blob Storage on this wizard. After backup, connect your Azure SQL Server from SQL Management Studio. Go to your [YourREMOTEDatabase], right-click Databases folder from treeview and go to Import Data-tier Application. Choose your backup file from Blob Sto

[2019-05-01 17:19] SaurabhSharma-MSFT commented on #29577
@jaffadog I am working internally with the product team on your issue and update you as soon as hear back from the team.  Thanks for your patience.

[2019-05-01 17:26] Alberto-Vega-MSFT commented on #30083
This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-05-01 17:27] HolyChris commented on #30413
I was hitting
https://westus.tts.speech.microsoft.com/cognitiveservices/v1/voices/list

On Wed, May 1, 2019 at 10:07 AM erhopf <notifications@github.com> wrote:

[2019-05-01 17:27] wesmc7777 commented on #28293
We are aware of dependency limitations with the current builds of the library. These are noted here

 - Mac OS: Python 3.7.0 (or 2.7) + libboost-1.67 + curl 7.61.1 (all installed via homebrew) Any other distribution/OS probably embed different versions of boost & dependencies which won't work and will result in an ImportError at runtime.

We are fully aware that this is a less than ideal situation

[2019-05-01 17:28] MicahMcKittrick-MSFT commented on #30419
@Sethu2488 At this time we do not have any ETA information we can share. As new updates are available we will be sure to update the documentation.

[2019-05-01 17:28] #30419 closed

[2019-05-01 17:30] MicahMcKittrick-MSFT commented on #30421
@gabrielke I have assigned this to the author to review and see about changing any titles.

[2019-05-01 17:32] chargerback-ron commented on #17959
Azure SQL Managed Instance gives the following error when choosing Import Data-tier Application:

TITLE: Microsoft SQL Server Management Studio
------------------------------

Property MasterDBPath is not available for Server '[my-managed-instance.wus1d5c56ba38e9f.database.windows.net]'. This property may not exist for this object, or may not be retrievable due to insufficient access rights. (Micr

[2019-05-01 17:33] MicahMcKittrick-MSFT commented on #30429
@ChrisDevriese not sure I fully understand the issue. Which command is failing? Did you make sure to update you CLI?

[2019-05-01 17:34] MicahMcKittrick-MSFT commented on #30225
Thanks @sptramer

@dlepow  I will assign to you to look into this further.

[2019-05-01 17:37] MicahMcKittrick-MSFT commented on #29612
Hi @rjmiller-revint any luck?

[2019-05-01 17:39] SaurabhSharma-MSFT commented on #30423
@mikenri Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-01 17:40] ChrisDevriese commented on #30429
$ az --version
azure-cli        2.0.63

Extensions:
dev-spaces       1.0.0

az aks use-dev-spaces -g MyResourceGroup -n MyAKS

stops on this message.  I've seen other users razing the issue...  Try it on Ubuntu, you will catch it.

azds
returns:
azds: command not found

[2019-05-01 17:40] AjayKumar-MSFT commented on #29654
For the doc source context and to receive dedicated and quicker assistance with this issue. Raised a GitHub issue in the targeted document : https://github.com/MicrosoftDocs/visualstudio-docs/issues/3182 and also at the moment in the process of assisting with a support ticket.

[2019-05-01 17:40] Grace-MacJones-MSFT commented on #30023
@jdkr0220 upon further review we feel your feedback would be best received by the doc author to make the necessary update to this doc. We have assigned the issue to the doc author

[2019-05-01 17:41] SaurabhSharma-MSFT commented on #27051
@007 Thanks for your feedback.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-05-01 17:44] TravisCragg-MSFT commented on #30145
@Anmolgan81 Unfortunately I cannot. If you have other channels you might be able to get a different timeline, but publicly I cannot say.

[2019-05-01 17:47] erhopf commented on #30413
@HolyChris - Can you send me your code. I can't replicate your issue.

[2019-05-01 17:48] BharathNimmala-MSFT commented on #30433
@vikramdadwal Thank you for the question. Routing this to @yegu-ms to provide GA dates for the product.

[2019-05-01 17:52] himanshusinha-msft commented on #30416
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-01 17:53] sanpil commented on #29958
We are investigating.

[2019-05-01 17:58] Mike-Ubezzi-MSFT commented on #17959
@chargerback-ron Can you ensure your SSMS instance is updated to the latest. I am running 17.8.1 and see that v18 is now GA.

![Screenshot (450)](https://user-images.githubusercontent.com/37126106/57032676-cfe16b00-6bff-11e9-99ca-9cf6c944d574.png)

![Screenshot (451)](https://user-images.githubusercontent.com/37126106/57032690-d5d74c00-6bff-11e9-8cb7-fe836306dd53.png)

[2019-05-01 18:02] SaurabhSharma-MSFT commented on #30209
@MCFHTAGENTS yes, once after u-installation you may need to remove the folders manually.  I do not understand your second concern why you feel express installation is not sufficient for SSO or directory synchronization ? I don't think these two are dependent on express installation.

[2019-05-01 18:06] MCFHTAGENTS commented on #30209
I think it was having read [https://docs.microsoft.com/en-gb/azure/security/azure-ad-choose-authn](https://docs.microsoft.com/en-gb/azure/security/azure-ad-choose-authn) consciously choosing those settings was front of mind and being asked to do an express install sounded wrong. Having got this working now I realise a lot of that was stored on the database so didn't matter - would be reasuring to

[2019-05-01 18:08] wpitallo commented on #29989
Awesome thanks @Mike-Ubezzi-MSFT, appreciate the help!

[2019-05-01 18:12] Adam-Smith-MSFT commented on #30425
@JoMoore88 Thank you for the valuable feedback,we are investigating the issue.

[2019-05-01 18:13] YutongTie-MSFT commented on #30154
@visuazn Hi, just check are you still suffering from this issue? Thank you.

[2019-05-01 18:14] chargerback-ron commented on #17959
Mine is newer than yours.

![image](https://user-images.githubusercontent.com/10093772/57033638-3d8e9680-6c02-11e9-8909-62adb1b720ff.png)

[2019-05-01 18:19] SnehaGunda commented on #22907
@kazshi FYI we added this content, it will be available in this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query when the release branch content goes live on May 6th morning. We will now close this issue.

#please-close

[2019-05-01 18:22] TravisCragg-MSFT commented on #30418
@SquirrelAssassin This feature is coming soon, but is not yet released. Enabling this on your subnets will do nothing at this time. It should reach public preview in the next quarter, at which time documentation will be released and it will begin working.

You can find more information in #30359. If you have any other questions please let me know.

We will now proceed to close this thread. If ther

[2019-05-01 18:22] #30418 closed

[2019-05-01 18:24] Karishma-Tiwari-MSFT commented on #29895
@ChristianMontoya Did you get a chance to take a look. The customer has replied with the information you requested. Thanks :)

[2019-05-01 18:26] Mike-Ubezzi-MSFT commented on #17959
@chargerback-ron Yes, I just got done with an upgrade exercise. Since you can have two instances of SSMS installed on your machine of two major releases, can you install v18 and attempt the same actions?
The latest version of SSMS for each major release are:
[SSMS 17.9.1](https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#download-ssms-1791)
[Download SSMS 18.0 (GA)]

[2019-05-01 18:27] netapp-bcammett opened #30437 "Enable a managed identity in Azure Gov upon creation?"
It looks like you can't enable a managed identity on a VM when creating it. You can only enable it after it's been created. Is that true? I can't find documentation that confirms this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8beab7d8-fc48-1501-d7a9-56f776d07323
* Version Independent ID: dc6c4e97-4c4a-6481-ec1b-e

[2019-05-01 18:29] SaurabhSharma-MSFT commented on #30197
@toddjohnson39 Yes, if the user is unique then this feature requires an Azure AD Premium P1 license to be member of one or more dynamic groups. Also, as mentioned in the document you don't have to assign licenses to users for them to be members of dynamic groups, but you must have the minimum number of licenses in the tenant to cover all such users.

[2019-05-01 18:34] ajlam commented on #28990
Cannot reproduce issue.

@t106362512  - what version of MySQL Workbench are you using?

[2019-05-01 18:36] SaurabhSharma-MSFT commented on #30240
@nacient Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-01 19:04] abatishchev commented on #29871
+1. It's really hard to find a sample ARM template to enable soft delete.

[2019-05-01 19:09] tamram commented on #29806
@normesta - FYI

[2019-05-01 19:20] tfosmark commented on #9554
Thank you for confirming--I will close this now.

[2019-05-01 19:20] #9554 closed

[2019-05-01 19:21] hshelby commented on #28785
I'm having this same issue, and no amount of installing/uninstalling of packages, cleaning the solution, or even creating a new solution seems to work.

[2019-05-01 19:22] tfosmark commented on #9726
Thanks for the update. I'm closing this now.

[2019-05-01 19:22] #9726 closed

[2019-05-01 19:23] kobulloc-MSFT commented on #30366
The error suggests that the user you are using doesn't have permissions (and although I can't see the screenshot you posted, I trust that everything shows that it is in order there).

I can verify that I was able to complete the setup as described in the documentation with Lab Creator Role.  Just to make sure we haven't overlooked anything, can you try removing and adding the user again with the L

[2019-05-01 19:24] ppavanm commented on #21968
@BigBadPhysicist - Was this issue opened in iotedge repo?  Did you find any solution to this issue?

[2019-05-01 19:33] rbrayb opened #30439 "Please amplify the reason for multiple reply URL"
"To configure multiple replyURLs" ...

What is the reason for this feature? It is not documented anywhere. Other IDP e.g. ADFS do not allow this.

Could you please add a paragraph explaining the pros and cons of enabling the ability to have multiple reply URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee

[2019-05-01 19:36] sanpil commented on #29958
Hi Anders, can you please upgrade to SDK version 1.0.33?

[2019-05-01 19:37] #29805 closed

[2019-05-01 19:38] ps-tb commented on #30420
@hansenms Thanks for the quick response and the links.

When I followed the quick start and tutorial, it took some time to find the first link unfortunately. If you complete the two in order, you wouldn't necessarily get to that page, at least I didn't. When I was going through the step to configure the audience,
<quote>
The configured audience. For Azure API for FHIR this is https://azurehealthca

[2019-05-01 19:38] #30420 closed

[2019-05-01 19:41] himanshusinha-msft commented on #30348
@sjoerdvannoort : We have made the updates , but that will go live on 6th May( Monday)  due to some internal processes . I will close this is for now . You can always on reopen this issue if you think that's required .

[2019-05-01 19:41] #30348 closed

[2019-05-01 19:41] femsulu commented on #30361
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-01 19:41] #30361 closed

[2019-05-01 19:42] MicahMcKittrick-MSFT commented on #30429
@ChrisDevriese thanks for that.

I created an Ubuntu 18.04 VM and was able to successfully install Azure CLI and run az aks use-dev-spaces -g MyResourceGroup -n MyAKS without any issues.

However, the next steps where we run azds prep --public I get the command is not recognized. So I am seeing some issues there.

@zr-msft do you know if there are any prerequisites here we are missing?

[2019-05-01 19:43] femsulu commented on #30272
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-01 19:43] #30272 closed

[2019-05-01 19:45] tamram commented on #30425
@normesta - FYI

[2019-05-01 19:45] femsulu commented on #30434
@sshorkey Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-01 19:46] BarrettNashville opened #30440 "PowerShell now in Preview"
I believe the PowerShell row should now be changed from "Experimental" to "Preview" per this recent blog post: https://azure.microsoft.com/en-us/updates/powershell-support-in-azure-functions/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent ID: 2fe0dbd3-7e5b-04b1

[2019-05-01 19:47] JoMoore88 commented on #30425
I noticed in the docs there is a way to enable this option using a preview module in azure CLI which would work I suppose. But if there is a way to do it via ARM that would be preferred.

[2019-05-01 19:48] femsulu commented on #30432
@fixx220 thanks for catching this. We are actively investigating and will get back to you soon.

[2019-05-01 19:48] trichardson01-kellogg opened #30441 "RegisteredForRemoteNotifications never gets called and missing line to launch app"
Based on this tutorial I have 2 Questions. (1) What doesn't "RegisteredForRemoteNotifications" every get called. (2) Is the "FinishedLaunching" routine missing "LoadApplication(new App())" or "return base.FinishedLaunching(application, launchOptions)" to launch the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45

[2019-05-01 19:49] yzheng-msft commented on #29214
@ohadbitt CLI extension storage-preview 0.2.5 (https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest)  has support for lifecycle management. We will move this support to CLI core in the next several weeks. We will update this doc with a link then.

[2019-05-01 19:50] yzheng-msft commented on #28776
@tpeiffer @amit-jain CLI extension storage-preview 0.2.5 (https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) has support for lifecycle management. We will move this support to CLI core in the next several weeks. We will update this doc with a link then.

[2019-05-01 19:50] femsulu commented on #30422
@Charmendar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-01 19:50] bgkenney commented on #29910
All my subscriptions are also "Not Read for migration..." I still get the emails alerting me to the June deadline and it's May 1st.

[2019-05-01 19:51] yzheng-msft commented on #29834
@droessmj Thanks for the feedback. We are working on adding several events on this and I will update this doc once that work is deployed.

[2019-05-01 19:52] SaurabhSharma-MSFT commented on #30315
@mrjohnsonalexander Unfortunately, the feature to create key vault certificates using ARM template is not supported.  Please post this as a feedback https://feedback.azure.com/forums/906355-azure-key-vault. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the ap

[2019-05-01 19:55] santoshupadhyayula commented on #25020
Hi I am using this script t send data to eventhub, and i found out that the connectionstring for the storage account has an extra variable 'EndpointSuffix', i tested the code by adding the variable and also by removing it but still keep running the following error:
'ConfigurationErrorsException: The Service Bus connection string is not of the expected format. Either there are unexpected properties

[2019-05-01 19:56] chargerback-ron commented on #17959
@Mike-Ubezzi-MSFT  SSMS 18.0 does not give me the error! I will do some experimenting now. Thank you!

[2019-05-01 20:03] j-martens commented on #29958
@sanpil - is this response for the lack of release notes or for the pipeline failure issue?

[2019-05-01 20:08] sanpil commented on #29958
Re: Pipeline.publish() fails in .30.

[2019-05-01 20:09] j-martens commented on #29958
@swanderz - there was a publishing booboo around release notes. We hope to have that worked out soon. Sorry for the delay.

[2019-05-01 20:15] kenleach opened #30442 "Typo on page"
"The minimum prefix that you need to declare for the local network gateway is the host address of your BGP peer IP address on your VPN device. In this case, it's a /32 prefix of 10.52.255.254/32.  "
There is a type the IP should read "10.51.255.254/32"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba8af16e-8da4-287b-0

[2019-05-01 20:23] ryankmcintyre commented on #24975
@danielgwilson You should see other entries for existing files in your csproj in an ItemGroup section. Add proxies.json there if it isn't already.

[2019-05-01 20:26] xNiklasJern commented on #30058
Hi @saurabhsensharma
The scenario would be one weree one would have designed a group based framework for assigning licenses for each SKU, and you only want this to be used. Sure you can have policy internally saying that you only should use these groups. however anyone with a role that can assigning license can break this "policy" and still assign user directly to licenses. and the entire framewor

[2019-05-01 20:27] Mike-Ubezzi-MSFT commented on #30435
@nkumars Can you provide the documentation link you are attempting to follow? If there is not one, then I suggest this issue be presented to MSDN or Stack Overflow for greater visibility.

I also found the following that might be a solution to your issue: https://www.infoq.com/articles/html-desktop-net

We will now proceed to close this thread. If there is a specific issue or recommendation with a

[2019-05-01 20:32] v-videba commented on #9764
Any update here?  I think configuring a tag on NSG could work, but will prefer the confirmation

[2019-05-01 20:33] mrjohnsonalexander commented on #30315
Thanks for your considerations, answers to most of my questions, and the reference link for KV feedback.

Understanding KV Secrets Certificate Policy PUT isn't supported by ARM, what is the boiler plate recommendation to version the certificate policy or does KV not have a recommendation to version this configuration?

E.g. the root of what I'm looking for is:

Is KV recommendation to use an ARM d

[2019-05-01 20:35] tamram commented on #30425
@JoMoore88 -

I'm sorry that the docs are confusing on this point. The static websites feature is now generally available, so that command is now in the latest version of the
[Azure CLI](https://docs.microsoft.com/en-us/cli/azure/storage/blob/service-properties?view=azure-cli-latest#az-storage-blob-service-properties-update). The client libraries also support configuring static websites.

You'll n

[2019-05-01 20:35] Mike-Ubezzi-MSFT commented on #30344
Assigning to the content owner to evaluate and update as appropriate.

[2019-05-01 20:39] Karishma-Tiwari-MSFT commented on #30370
@kenchinlai @KumariSupriya Can either of you share your insights on this? Thanks :)

[2019-05-01 20:41] #12578 closed

[2019-05-01 20:42] #12599 closed

[2019-05-01 20:42] #15905 closed

[2019-05-01 20:42] #17450 closed

[2019-05-01 20:42] #19090 closed

[2019-05-01 20:42] #19805 closed

[2019-05-01 20:42] #20435 closed

[2019-05-01 20:43] #23300 closed

[2019-05-01 20:43] Adam-Smith-MSFT commented on #30425
I also reached out internally to the team to check if ARM supports Static Website deployments. @seguler may confirm if it is supported or not.

[2019-05-01 20:49] #24184 closed

[2019-05-01 20:49] #24770 closed

[2019-05-01 20:50] #25392 closed

[2019-05-01 20:50] #25572 closed

[2019-05-01 20:50] #28213 closed

[2019-05-01 20:50] #28407 closed

[2019-05-01 20:50] #28414 closed

[2019-05-01 20:51] #28579 closed

[2019-05-01 20:51] #29131 closed

[2019-05-01 20:51] #29321 closed

[2019-05-01 20:51] #29534 closed

[2019-05-01 20:51] #29535 closed

[2019-05-01 20:51] #29806 closed

[2019-05-01 20:52] #30072 closed

[2019-05-01 20:52] #29643 closed

[2019-05-01 20:52] #30103 closed

[2019-05-01 20:56] RiverS2501 opened #30443 "Possible Spelling Error"
First sentence, second paragraph under subheading Reserve Instances for Predictable Workloads says "Console" and I believe it should say "Contoso"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d55f111-797f-7e1b-c1a0-08c00af0174e
* Version Independent ID: 157d8898-43bf-a9ca-810b-0c4ec400ad69
* Content: [Contoso-Set up

[2019-05-01 21:10] abatishchev opened #30444 "Screenshot at View the service principal of a managed identity in the Azure portal is outdated"
The screenshot at [https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-view-managed-identity-service-principal-portal#view-the-service-principal](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-view-managed-identity-service-principal-portal) is outdated

---
#### Document Details

⚠ *Do not edit this se

[2019-05-01 21:11] abatishchev commented on #30444
Please disregard.

[2019-05-01 21:11] #30444 closed

[2019-05-01 21:12] stewartadam opened #30445 "'Management Solutions' category no longer exists"
I believe it was renamed to Log Analytics when exploring available solutions in the gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2902958-bbda-b892-6da7-1b8ed598c6bb
* Version Independent ID: 7f63a743-b2a7-245a-dcee-07d4b357051c
* Content: [Monitoring solutions in Azure Monitor](https://docs.microsoft.com/en-

[2019-05-01 21:12] tfosmark commented on #10372
It looks like this issue has been addressed in the following article, so I'm closing this issue. Thanks.
[Incrementally load data from multiple tables in SQL Server to an Azure SQL database](https://docs.microsoft.com/azure/data-factory/tutorial-incremental-copy-multiple-tables-powershell)

[2019-05-01 21:12] #10372 closed

[2019-05-01 21:25] danielstocker opened #30447 "Add details on Service Plan Limits"
For example: If more than 100 consumption plans exist in a single subscription, users receive this error.

“Conflict: The maximum number of Dynamic ServerFarms allowed in a Subscription is 100.”

This should be documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d

[2019-05-01 21:26] danielstocker commented on #30447
We migh twant to mention this here too
https://azure.microsoft.com/en-gb/pricing/details/app-service/plans/

[2019-05-01 21:27] zr-msft commented on #30429
Not to my knowledge. Roping in @lisaguthrie and @johnsta

FYI @MicahMcKittrick-MSFT I cannot reproduce. Just did a fresh ubuntu VM and was able to run `azds prep --public` without issue.

After installing, I know the logs say the following:

does that resolve the issue?

[2019-05-01 21:29] MicahMcKittrick-MSFT commented on #30429
@zr-msft thanks Zach. I will try a new VM again. Maybe something weird happened. Will update shortly.

[2019-05-01 21:29] tony-gutierrez opened #30448 "Reference is missing for @azure?"
This page is discussing @azure service bus, but when you click "reference" in the left menu, it takes you to a page about a completely different library?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eeb2bb-6ee5-4ee8-c5c3-2ecee05fe910
* Version Independent ID: 30fcb211-8b76-ebc1-0c9b-c0567d7234bf
* Content: [How to

[2019-05-01 21:31] tony-gutierrez opened #30449 "Consolidate your docs?!"
Half the info is for https://github.com/Azure/azure-sdk-for-node, and the other for https://github.com/Azure/azure-sdk-for-js

It is incredibly hard to find information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eeb2bb-6ee5-4ee8-c5c3-2ecee05fe910
* Version Independent ID: 30fcb211-8b76-ebc1-0c9b-c0567d7234bf
* C

[2019-05-01 21:34] KevinXTian opened #30450 "Content Request: Add sample json output for each of the activity"
Could you please add sample json output for each of the activity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a9035171
* Version Independent ID: c4fe312f-71a6-fe9b-e301-6e69c14ca46d
* Content: [Lookup activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/cont

[2019-05-01 21:37] MarileeTurscak-MSFT commented on #30343
I have reported this as a product bug.

I can't see this being normal behavior unless you have something hard coded in an app that could be causing this.

[2019-05-01 21:38] MarileeTurscak-MSFT commented on #30326
The 1 and l are normalized but that should not make a difference in the scoring. CC: @MicrosoftGuyJFlo

[2019-05-01 21:39] MarileeTurscak-MSFT commented on #30326
Thanks for your feedback. We will now proceed to close this thread but if you have further comments, feel free to tag me or @MicrosoftGuyJFlo in the comments and we will gladly continue the discussion.

[2019-05-01 21:39] #30326 closed

[2019-05-01 21:40] tony-gutierrez opened #30451 "Notification hub?"
The old service bus library handled notification hub as well? Does this new library also? If not do we now have to use both the old and new service bus libraries to use both services on one server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eeb2bb-6ee5-4ee8-c5c3-2ecee05fe910
* Version Independent ID: 30fcb211-8b7

[2019-05-01 21:40] RickB-0923845 commented on #30053
OK, then I think I've misunderstood the purpose of the feature. I assumed it would prevent use of external identity while permitting use of resources belonging to external organizations. But now I'm thinking it will determine both my user's identity in my directory and his identity in the external directory and the log records will reference both, so I can see that jdoe@contoso.com (my organizatio

[2019-05-01 21:42] mlongoria opened #30452 "Missing instructions to create table in Azure SQL DW"
There is no table definition for the SensorLog table that should be created in Azure SQL DW. The prerequisites say "Then, create an Azure SQL Data Warehouse database." This won't work unless there is a table definition that actually matches the output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d5ce69-2d77-7a6b-4

[2019-05-01 21:55] Adam-Smith-MSFT commented on #30357
@gatornation11 I'd recommend posting [here](https://github.com/Azure/azure-storage-azcopy/issues) since not created the logs when no sync is needed should be added as a product improvement, I'll go ahead and resolve this case since it's not document specific. Please let me know if you have any other questions.

[2019-05-01 21:55] #30357 closed

[2019-05-01 21:57] axisc commented on #30394
@aelij
yes, the limitation will apply to ManagementClient also.

[2019-05-01 21:57] Adam-Smith-MSFT commented on #30167
@jnsunkersett I'd recommend Posting this issue in either [stackoverflow](https://stackoverflow.com) or [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata) since it's not specific tothe page's documentation(conflict between Media services nuggets/name spaces and Azure blob storage name spaces). I'll go ahead and resolve this issue, please feel free to reopen if

[2019-05-01 21:57] #30167 closed

[2019-05-01 21:58] honghuig commented on #24559
Thanks for the feedback. I'm checking with Azure Marketplace team now. @ishasahni1

[2019-05-01 22:01] Adam-Smith-MSFT commented on #30360
@jhankins71 unfortunately both options are not part of Storage explorer(forcing re-authentication, or auth timeouts). I'd recommend leaving feedback in [here](https://feedback.azure.com/forums/217298-storage) for future consideration.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-01 22:01] #30360 closed

[2019-05-01 22:06] MicahMcKittrick-MSFT commented on #30429
@zr-msft well not sure what I did differently but it works now... Thanks :)

@ChrisDevriese After successfully running `az aks use-dev-spaces -g MicahUbuntu -n MicahAKS
`
I can now use AZDS as seen below:

[code]

Since @zr-msft and I have confirmed it works on Ubuntu 18.04 there might have been a step you missed or just a random failure. Could you try deploying a new Ubuntu VM and trying again?

[2019-05-01 22:11] TechWatching commented on #30352
Okay I see it's good to know. However the documentation only mentions limits about the number of characters (by month or by request) and don't talk about a limit on the number of request by minute or hour. And I encountered 429 responses when doing requests too frequently. What annoys me is that I don't know what is this frequency limit and what changes about that depending on the tier.

[2019-05-01 22:16] Adam-Smith-MSFT commented on #30223
We currently don't have a specific library in Java that does that, you may have to create a custom class, and use the existing libraries from the Java SDK documentation, I'd recommend checking this [documentation](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.storage.file?view=azure-java-legacy)

We will now proceed to close this thread. If there are further questions regarding thi

[2019-05-01 22:16] #30223 closed

[2019-05-01 22:27] SnehaGunda commented on #28227
@slynickel , @jwr456 All data in Azure Comsos DB is encrypted at rest. Encryption at rest is enabled by default and yes it uses AES - 256 on all regions where the account is running. We will get this added to the docs.

[2019-05-01 22:32] SnehaGunda commented on #28227
Submitted a fix to update the doc, we will close the issue if there aren't further questions.

[2019-05-01 22:33] tfitzmac commented on #30422
@Charmendar - it depends on where you adding the copy. For a nested template, you can use copy at the level of resource type Microsoft.Resources/deployments. You can't use it inside the resources section of the nested template because that section is just part of a property named template.

[2019-05-01 23:00] dlepow commented on #30225
Thanks @TurtleBeach for pointing out the issue with the PowerShell script. I will fix. In the meantime, you can check out [this article](https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-1.8.0) which provides a number of options for creating a SP.
#in-progress

[2019-05-01 23:10] allenwux opened #30454 "Need to update YourLanguageUnderstandingIntentName1,2,3"
Otherwise it won't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e2a2f45-6d55-0fef-6eec-0892577be3d9
* Version Independent ID: c776f260-6421-218d-758a-6b470200d720
* Content: [Tutorial: Recognize intents from speech by using the Speech SDK for C# - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure

[2019-05-01 23:12] bernitorres commented on #11982
@femsulu @tamram Did this limitation ever get solved? Is it possible to give read-only access at the container level and be able to see them in the Portal?

[2019-05-01 23:18] TravisCragg-MSFT commented on #30442
@kenleach Thanks for catching this! I have updated the IP, but the update will not show on the live document until 5/6.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-01 23:18] #30442 closed

[2019-05-01 23:21] tfosmark commented on #7799
@tastyeggs No, you are correct. This issue was closed in error; I'm reopening it.

[2019-05-01 23:40] curtand commented on #29562
Hi @testad
Zawad is the PM for this feature, so I think you got your answer, and it doesn't seem like docs need updating. Thanks for your engagement!

#please-close
@shashishailaj

[2019-05-01 23:48] cmcapellan opened #30456 "Server Core Support"
Needs to add whether Server Core is supported. For other MS products, there is a description of how to run the installer in silent mode and how to run any PS scripts on another non-core server or without use of IE window for Modern Auth sign-in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e

[2019-05-02 00:06] garybushey opened #30457 "Error accessing Kusto Query Language link"
When trying to access to the  Kusto Query Language link (https://kusto.azurewebsites.net/docs/query/index.html) I was prompted to login to my Azure tenant and when I did I was told: User account 'GaryBushey@outlook.com' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application '1aa99b22-4316-4bde-83df-4e2b9e09eeb3'(Kusto Public Website (Documentation)

[2019-05-02 00:17] kaushalp opened #30458 "Add examples on how to pass custom JAVA variables to Azure Functions."
It would good to include details on how to pass variables to the Java runtime.
For example: how do I pass `-Djava.net.preferIPv4Stack=true` to my Java function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [

[2019-05-02 00:28] Mike-Ubezzi-MSFT commented on #30452
@mlongoria Thank you very much for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2019-05-02 00:39] Mike-Ubezzi-MSFT commented on #30457
@garybushey Just to confirm, the following [URL](https://kusto.azurewebsites.net/docs/query/index.html) is giving you a credential challenge that is ultimately failing? Do you have multiple subscriptions associated with your Azure login? Thanks for any additional details you can provide. Thanks.

[2019-05-02 00:52] itsjpavank commented on #30258
It will be also good to add information about granting permissions

Example : exec sp_addrolemember 'db_datareader', <appname>

[2019-05-02 00:53] itsjpavank commented on #30258
exec sp_addrolemember 'db_datareader', <appname>

[2019-05-02 00:53] itsjpavank commented on #30258
exec sp_addrolemember 'db_datareader', appname

[2019-05-02 00:56] skywalkerisnull opened #30459 "Diagram hard to see connections"
When using the dark theme, it is hard to see the connections in the diagram under the text "A taxonomy of the workspace is illustrated in the following diagram:"

Clicking on the diagram opens it up and the background of the diagram changes from transparent, to white.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c580

[2019-05-02 01:01] skywalkerisnull opened #30460 "Diagram hard to see connections"
When using the dark theme, it is hard to see the connections and some of the text in the diagram.

Clicking on the diagram opens it up and the background is still transparent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fcbcc1-0824-1dba-f5ae-6cf5c97a9d2c
* Version Independent ID: 0de15ea0-6def-bf7e-2e68-ae7d434d2d

[2019-05-02 01:01] javiermicrosoft opened #30461 "query comment"
Perf | where CounterName == "% Processor Time" | summarize AggregatedValue = max(Max) by Computer
returns empty values. shouldn't it be
Perf | where CounterName == "% Processor Time" | summarize AggregatedValue = max(CounterValue) by Computer
instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 018e59bd-1f1c-738d-06

[2019-05-02 01:02] mike-urnun-msft commented on #30451
Hi @tony-gutierrez Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 01:03] mike-urnun-msft commented on #30458
Hi @kaushalp Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 01:03] MicrosoftGuyJFlo commented on #30335
@amasse3 Correct. That is what the article says. Do you have a question? Or are you just making a statement?

[2019-05-02 01:04] mike-urnun-msft commented on #30449
Hi @tony-gutierrez Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-05-02 01:05] mike-urnun-msft commented on #30448
Hi @tony-gutierrez Thank you for reporting this issue! We will review and make any necessary changes.

[2019-05-02 01:08] mike-urnun-msft commented on #30440
Hi @BarrettNashville Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 01:10] mike-urnun-msft commented on #30431
Hi @mjarmstrong Thank you for reporting this issue! We will review and make any necessary changes.

[2019-05-02 01:22] JoMoore88 commented on #30425
Thank you both, no need to apologize, this is my fault for poorly skimming and reading the documentation. I knew it was GA and went to the documentation with the assumption that it would be done via ARM. I should have read through the documentation more carefully.

I can use the CLI, thank you both for your time on this.

[2019-05-02 01:30] mjb484 commented on #25817
I had this error too. Make sure

var deviceId = 'MyNodeDevice';

in BackEndApplication.js matches the name of the device you are trying to control.

[2019-05-02 01:32] amasse3 commented on #30335
@microsoftGuyJlo - sorry for the confusion.  I believe this in in error and AAD Premium is not required for PHS.

[2019-05-02 01:39] ggailey777 commented on #30440
@BarrettNashville the fix is complete for this, but you won't see it until May 6th due to publishing schedules around //Build.

[2019-05-02 02:23] patros opened #30462 "Add app service plan hybrid connection limits"
It would be handy to have the app service hybrid connection limits from https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections listed on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca272

[2019-05-02 02:35] bdschaap commented on #16257
It seems like this might be fixed because I see metric alerts in Resource Explorer now

[2019-05-02 02:43] #16257 closed

[2019-05-02 02:44] SumanthMarigowda-MSFT commented on #30437
@netapp-bcammett Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:45] SumanthMarigowda-MSFT commented on #30439
@rbrayb Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:46] SumanthMarigowda-MSFT commented on #30441
@trichardson01-kellogg Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:47] SumanthMarigowda-MSFT commented on #30443
@RiverS2501 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:48] SumanthMarigowda-MSFT commented on #30445
@stewartadam Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:49] SumanthMarigowda-MSFT commented on #30447
@danielstocker Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:50] SumanthMarigowda-MSFT commented on #30450
@KevinXTian Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:50] m-raman commented on #30134
@jakaruna-MSFT I know this works. This is not the problem I have highlighted.

Setup:

![image](https://user-images.githubusercontent.com/47915651/57054459-20c49280-6cd8-11e9-8fed-ce975822ea68.png)

Working Access Through 10.10.14.14 (Internal Load Balancer IP)

![image](https://user-images.githubusercontent.com/47915651/57054507-5a959900-6cd8-11e9-8586-5102fe475530.png)

After applying Azure Netw

[2019-05-02 02:51] SumanthMarigowda-MSFT commented on #30454
@allenwux Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:51] SumanthMarigowda-MSFT commented on #30456
@cmcapellan Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:52] SumanthMarigowda-MSFT commented on #30459
@skywalkerisnull Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:53] SumanthMarigowda-MSFT commented on #30461
@javiermicrosoft Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:54] SumanthMarigowda-MSFT commented on #30462
@patros Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 02:55] SumanthMarigowda-MSFT commented on #30460
@skywalkerisnull Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 03:30] todayppp opened #30464 "How can I add "UPN" to User Attributes & Claims page?"
When I set "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" to name and namespace,
it said "This claim type is restricted".
I know "UPN" is under "SAML restricted claim set" in PowerShell page, but I could set
this attribute in "Old experience" page.
It is quite confusing to me and wondering why.
Is there a policy setting or Powershell command to allow Azure AD to output this attribute

[2019-05-02 03:34] divahno commented on #20701
Hi @mdgattuso Any updates on this feature?

[2019-05-02 03:59] SnehaAgrawal-MSFT commented on #30125
@wahyuen Kindly do let us know how that goes or you need any assistance further, We will close this out but if you feel you need more information please just let us know.

[2019-05-02 03:59] #30125 closed

[2019-05-02 04:01] SnehaAgrawal-MSFT commented on #30327
@Ahmad-Al-Ali Just checking in if you have had a chance to see the previous response. Let me know if you have any other question on this.

[2019-05-02 04:10] DixitArora-MSFT commented on #30448
@tony-gutierrez I agree when you click on "reference" in the left menu section , respective pages have information not only w.r.t to service Bus only but have information for other Azure services. Just checking if you have find any issues w.r.t service bus links/information .

[2019-05-02 04:15] #22907 closed

[2019-05-02 04:21] ManojReddy-MSFT commented on #30334
@skgitti I understand your concern here. I would suggest providing your feedback as a feature request [here ](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=171228)explaining your scenario. This is monitored by the product team and would help them to consider adding this a feature.

[2019-05-02 04:47] nickbeagley2 commented on #6621
This is enforced in your GUI but not by powershell. I can create linked server names with dash character (-) in them using Set-AzDataFactoryV2LinkedService powershell module.

I can test and edit the linked services created with powershell in the GUI, modify and publish them. I just can't deploy the json through the ADFv2 GUI or manually create them with a dash in their name.

[2019-05-02 04:54] AshokPeddakotla-MSFT commented on #28693
@LeeHyeongWon Did you get a chance to see the above response? Do let us know if you still need help.

[2019-05-02 05:16] jakaruna-MSFT commented on #30144
@mrdfuse If we change the doc now, we need to change again when the issue is fixed with Kured.
I will let @iainfoulds  take the decision.

@iainfoulds  Please add your comments

[2019-05-02 05:23] KrishnaG-MSFT commented on #30462
Assigning @rothja for visibility and document enhancement consideration to add app service hybrid connection limits in [this](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits) article

[2019-05-02 05:23] jakaruna-MSFT commented on #30347
That error occurs only in some regions.
There is update released for that feature.  I will try that and let you know the status

[2019-05-02 05:23] jakaruna-MSFT commented on #29975
There is update released for that feature.  I will try that and let you know the status

[2019-05-02 05:24] SumanthMarigowda-MSFT commented on #30312
@Charmendar Thanks for bringing this to our attention. The PR request for doc has been initiated

[2019-05-02 05:24] jakaruna-MSFT commented on #28822
There was update released for that feature yesterday.  I will try that and let you know the status

[2019-05-02 05:26] skgitti commented on #30334
feedback sent:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37527133-need-option-to-ignore-or-resolve-all-in-identity-p

[2019-05-02 05:37] Rohitk-2497 commented on #30424
@SumanthMarigowda-MSFT any update?

[2019-05-02 05:41] BartVanDerVurst commented on #16473
@micahtan Any update on this? This feature is still missing and creating a bottleneck on ADF?

[2019-05-02 05:47] DixitArora-MSFT commented on #30451
@axisc Any inputs on this .

[2019-05-02 06:11] ManojReddy-MSFT commented on #30129
@javirivas80 Thanks for the update. I will go ahead and close this issue for now. Please do let us know, once you get an update from the support.

[2019-05-02 06:11] #30129 closed

[2019-05-02 06:13] ManojReddy-MSFT commented on #30334
@skgitti Thanks for taking the time to provide the feedback. We appreciate it.

I will go ahead and close this issue. Feel free to tag me if you have any further questions regarding this.

[2019-05-02 06:13] #30334 closed

[2019-05-02 06:25] PramodValavala-MSFT commented on #30387
@JustinGrote Thanks for catching that! We have worked up a PR for addressing this.

The fix should reflect in a couple of hours.

[2019-05-02 06:31] ManojReddy-MSFT commented on #30437
@netapp-bcammett It is possible to enabe a system managed idenity at the time of creation. (check the screenshot below)
![image](https://user-images.githubusercontent.com/44399320/57059142-7cd7e880-6cd1-11e9-846c-efaf9b415e9c.png)

You can also use Azure CLI to assign a system/user managed identity at the time of VM creation using the below command.

"az vm create -n MyVm -g rg1 --image debian --a

[2019-05-02 06:32] PramodValavala-MSFT commented on #30394
@axisc Thanks for the insight! I will create a PR to include this.

@aelij Hope that clears your query.

[2019-05-02 06:34] KetanChawda-MSFT commented on #30458
@kaushalp  This has been tracked here : https://github.com/Azure/azure-functions-java-worker/issues/171

The option you are referring to is already part of the default JVM options we use. Please see : https://github.com/Azure/azure-functions-java-worker/blob/dev/worker.config.json#L7 for the complete list of JVM options.

We have recently fixed typo for `IPv4Stack` and fix will be released by end

[2019-05-02 06:36] tony-gutierrez commented on #30448
Yes, in that I cannot find the API reference for the new SB library. A
little tutorial is not sufficient.

On Thu, May 2, 2019, 12:10 AM DixitArora-MSFT <notifications@github.com>
wrote:

[2019-05-02 06:37] RohitMungi-MSFT commented on #30336
@uusimaeki It looks like we had an issue during one of our roll-out during the period 04/15-04/22 which caused the details to be unavailable using KbId during this period. The data though is still available in the log traces. The query might not work correctly but the raw logs are not lost. You should be able to see everything as usual after 04/22.

[2019-05-02 06:47] nkumars commented on #30435
@Mike-Ubezzi-MSFT I'm referring to [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples) link.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples

[2019-05-02 06:52] ChiragMishra-MSFT commented on #30255
@subashsivaji The changes have been made on the doc. Closing the thread now. Thanks again for the feedback.

[2019-05-02 06:52] #30255 closed

[2019-05-02 06:53] subhankars opened #30467 "Unauthorized error due to special characters in Client Secret"
**Unauthorized error while trying to get token from oauth2/token endpoint if client secret contains special characters**

Below POST call worked absolutely fine from Postman, but if I so the same from any API or APIM Inbound policy or from any Logic App I get unauthorized error.

After looking in this issue #25742 , I figured out if the client secret contains any special characters like **+, /, .*

[2019-05-02 06:55] msrini-MSFT commented on #30351
@markarnolditpro , Any update on this issue?

[2019-05-02 07:28] VikasPullagura-MSFT commented on #30409
@anthony-schneider I have assigned the issue to the content author, to investigate further and update the doc as required.

[2019-05-02 07:29] VikasPullagura-MSFT commented on #30409
@Heidilohr please look into the issue.

[2019-05-02 07:32] ManojReddy-MSFT commented on #30053
@RickB-0923845 Guest users are authenticated in resource tenant but the final token will be issued by the tenant where they are added as guest users. So unless the tenant you are added as guest is whitelisted in the headers, it will be blocked.

Product team is actually considering this scenario and will provide a way to make this work. I do not have any ETA regarding this though.

Coming to your

[2019-05-02 07:37] ManojReddy-MSFT commented on #30296
@TiloGit It should work ideally if you configure the NSG acordingly.

@eringreenlee For visbility and to confirm if this is possible in AAD DS ?

[2019-05-02 07:37] nnamedieh opened #30468 "Question about Service Tag "AzureCloud""
Hi all,
I have a question regarding service tag "AzureCloud". You wrote "[...] all datacenter public IP addresses. If you specify AzureCloud for the value, traffic is allowed or denied to Azure public IP addresses.". From my understanding, all datacenter public IP addresses means even all service public IP addresses - so for instance public IP addresses for Azure SQL database or even cognitive ser

[2019-05-02 07:41] subashsivaji commented on #30255
The issue raised was for Tumbling window trigger i.e. for @trigger().outputs.windowStartTime and @trigger().outputs.windowEndTime.

The note (pull request) has been added for @trigger().startTime - which wasnt the issue at all in first place. This at least had an example timestamp we were able to infer it is ISO format.

[2019-05-02 07:42] msrini-MSFT commented on #30468
@nnamedieh , I will test this out in my lab and post my findings here.

[2019-05-02 07:42] VikasPullagura-MSFT commented on #30408
@chi-ltd I followed the doc and it is working for me.
Can you please check if port 80 is open on the NSG and on your subnet.
![image](https://user-images.githubusercontent.com/48944027/57061807-f07ef300-6cdb-11e9-8db8-57417719198e.png)

[2019-05-02 07:46] ram-msft commented on #30323
@kiwidamien We were unable to reproduce this issue please raise a support request from the Help + Support blade of Azure Portal to check.
If you do not have a support plan we can enable a one-time support request if you can email us at azcommunity[at]microsoft[dot]com. Please provide us with your subscription id and URL of this thread in the email. Thank you.

[2019-05-02 07:46] rayne-wiselman commented on #28902
#please-close

[2019-05-02 07:48] rayne-wiselman commented on #26708
#please-close

[2019-05-02 07:49] lucidhwee commented on #26708
Sorry for this late close...Thank you for the support!

[2019-05-02 07:49] #26708 closed

[2019-05-02 07:51] rayne-wiselman commented on #22018
#please-close

[2019-05-02 07:54] rayne-wiselman commented on #19586
#please-close

[2019-05-02 07:54] rayne-wiselman commented on #19572
#please-close

[2019-05-02 07:55] rayne-wiselman commented on #19093
#please-close

[2019-05-02 07:56] rayne-wiselman commented on #18679
#please-close

[2019-05-02 07:59] rayne-wiselman commented on #16244
#please-close

[2019-05-02 08:06] vapolasa commented on #16244
Thanks!

[2019-05-02 08:06] #16244 closed

[2019-05-02 08:07] RohitMungi-MSFT commented on #30352
@Jann-Skotdal Thanks for your clarification. It would be great if we can address the concern of @TechWatching to make it more easier to understand the reason for the responses. @TechWatching I am wondering if the response you received could be due to [Sentence length limitations](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits#sentence-length-limits)?

[2019-05-02 08:18] KalyanChanumolu-MSFT commented on #30355
@sugarjig You will have to set the -AutoExecuteStatus to "Enabled"

`Set-AzureRmSqlServerAdvisorAutoExecuteStatus -AdvisorName "ForceLastGoodPlan" -AutoExecuteStatus Enabled -ServerName $serverName -ResourceGroupName $resourceGroupName`

By Default, Automatic Tuning is Disabled on the server.

Please let us know if you have any further questions.

[2019-05-02 08:29] TechWatching commented on #30352
No I am only using the Translate function. If it can help I discovered that I don't receive 429 responses after upgraded to next pricing tier. However with a Translator API key on the free tier I still have the 429 errors.

[2019-05-02 08:32] ChiragMishra-MSFT commented on #30450
@KevinXTian Thanks for the feedback. I am assigning this issue to the content owner to review and update as appropriate.

@sharonlo101 Can you please take a look ?

[2019-05-02 08:33] AshokPeddakotla-MSFT commented on #30166
@saifuddin123 Have you had a chance to see the above response? We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-02 08:33] #30166 closed

[2019-05-02 08:35] ChiragMishra-MSFT commented on #30399
@linda33wj Can you please take a look at this?

[2019-05-02 08:36] KrishnaG-MSFT commented on #30392
@elvirk Thanks for the feedback!

If you are referring to [deploying simple windows VM](https://azure.microsoft.com/en-us/resources/templates/101-vm-simple-windows/) sample template used in the tutorial then in the consecutive sub-section i.e., [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-tutorial-use-conditions#modify-the-template) under point number 2, it

[2019-05-02 08:38] RohitMungi-MSFT commented on #30395
@siddiqaa Thanks for pointing this out. It looks like this file is a recent addition for the implementation of the [AudioWorkletProcessor](https://webaudio.github.io/web-audio-api/#audioworklet)  This file will be loaded only in recent browsers that supports Audio worklet. It is
 currently in js because it needs to be in es6.
@fmegen Do we have a plan to update this documentation to add more infor

[2019-05-02 08:41] SumanthMarigowda-MSFT commented on #30464
@todayppp Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 08:43] DixitArora-MSFT commented on #30381
@eschrader This will be corrected when  PowerShell 6.2 is installed. Installed powershell 6.2 from [doc](https://github.com/PowerShell/PowerShell#get-powershell) and configure in Visual Studio code as follow.
File-->>Preferences->> Settings

![image](https://user-images.githubusercontent.com/46984568/57064593-5ff8e080-6ce4-11e9-850a-3926501a9329.png)

[2019-05-02 08:43] SumanthMarigowda-MSFT commented on #30349
@michaelfjohn78 Can you please provide more information on this query?

[2019-05-02 08:43] aorsten opened #30469 "Run the function locally: Settings must be of the form "name=value"."
When running the function locally with `func host start`, the script stops with the following error:

[code]

I was able to remove the error by undoing the "Reference bindings" step. Basically by letting "host.json" look like:
[code]

However, this is not according to this guide, so you should probably do something about it.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-05-02 08:44] ashvinmacaw commented on #28050
Hi, I see now the package options is working and the code mentioned in https://aka.ms/aml-data-prep-open-save-dataflows-nb is not working. Can you advise how can I check and track such changes?

Is this also applicable to other packages, that changes are reverted back ?

[2019-05-02 08:46] KalyanChanumolu-MSFT commented on #30188
@schellem Strange that the XML segment for sessionState wasnt added automatically for you after installing RedisSessionStateProvider. I tried it and it worked fine for me.
I have submitted a pull request to address the issue with providers element. The edit should go live by EOD or tomorrow.

[2019-05-02 08:52] nguaman opened #30470 "add DAfN to the documentation"
I was trying differents things and is possible to add 'DAfN' to the request.
DAfN : Affiliation display name
This is useful if I want to find the gridid associated  (grid.ac)
Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35d512e67
* Version Independent ID: d43cbd6a-5dd1-0e6a-70cb-25

[2019-05-02 08:54] stoff75 opened #30471 "Loggs on domain controller"
I may have missed some step in IT training somewhere, but a question regarding setting up a custom view in the event viewer on the domain controllers described here. The filter you want us to use has a reference to the exe file of the PTA agent - but the agent isn't on the domain controller so how can there be logs from it?
I've added the view/filter on my PTA agent servers and I see those fine on

[2019-05-02 08:56] KalyanChanumolu-MSFT commented on #30188
We will proceed to close this thread now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-02 08:56] #30188 closed

[2019-05-02 09:09] JonesMikael opened #30472 "Windows Server and Chrome still not FULLY supported"
I see on Mar 22, @MarkusVi  committed a changed to the supported browsers portion of this article removing the "Coming soon" on Windows Server 2016 and Chrome and stating it's now fully supported. However, we argue it's not FULLY supported yet.

We have many customers and thousands of users running Office 365 and using Azure AD Conditional Access and have the following Condtional Access requiremen

[2019-05-02 09:30] KalyanChanumolu-MSFT commented on #30303
@Anilkbalakrishnan What is the SKU that you are using?

When you sign up for the first time, you can spin up 250 GB of SQL Database standard S0 instance with 10 database transaction units for 12 months.

Any other SKU will be charged accordingly.

[2019-05-02 09:32] jakaruna-MSFT commented on #30267
@daoenterprise  is there any update

[2019-05-02 09:37] msrini-MSFT commented on #30468
@nnamedieh , It seems like you will not be able to use Service Tags for Outbound Rules in NSG. So, you need to think of other alternative such as Azure Firewall.

[2019-05-02 09:48] Nosferatu-Dk opened #30473 "Reset password via OnPremis AD not working"
I have this working, But resetting a users password via the local onpremis DC does not work.
And Im unsure if it works as designed.

What works, reset password from the client computer it self.
From https://passwordreset.microsoftonline.com it work great to.

Is this as designed or ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-02 09:50] SadiqhAhmed-MSFT commented on #30447
@rothja To review this request and update as appropriate.

[2019-05-02 09:51] RohitMungi-MSFT commented on #30403
@vapaunic Thanks for pointing this out. @swatig007 Should we update the documentation to use only [HyperDriveConfig ](https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.hyperdrive.hyperdriveconfig?view=azure-ml-py)class? The current [documentation ](https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.hyperdrive?view=azure-ml-py) for SDK though sti

[2019-05-02 09:52] ThirstyBrain commented on #30467
We are also facing the same issue.

[2019-05-02 09:53] SubhashVasarapu-MSFT commented on #30407
@chrisdoofer , Thank you again for your feedback. We are looking in to it to make necessary document corrections.

[2019-05-02 09:54] RohitMungi-MSFT commented on #30470
@nguaman Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-02 09:55] Shenderchuk opened #30474 "Managed disks and SSE (BYOK)"
The FAQ says that only Microsoft manages encryption keys for managed disks. But there is a possibility to create a managed disk encrypted by own key. Here is a link of REST API doc: https://docs.microsoft.com/en-us/rest/api/compute/disks/createorupdate#encryptionsettings
Also, it's possible to do via terraform and ARM template.
Is it correct statement that Managed disks support Bring Your Own Key

[2019-05-02 09:56] AjayKumar-MSFT commented on #30284
@haohuancheng,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-02 09:56] #30284 closed

[2019-05-02 09:58] jakaruna-MSFT commented on #30134
@m-raman Got it. I didn't note the annotation on the service.
This will happen for all Cloud load balancers which uses the Nodeport in the background. Its happening because the kube proxy masks the incoming ip.
We can overcome this by setting the `externalTrafficPolicy to Local` or setting an annotation to the service.
Please look at "[Preserving the client source IP](https://kubernetes.io/docs/ta

[2019-05-02 09:58] mrdfuse opened #30475 "Not possible to add redirecturi https://ininprodeusuxbase.microsoft.com/*"
Hi, apparently you now need to add a redirect uri to the AD client when using AD authentication.
I'm trying this but I have two issues:
* with the new layout of the app registrations in the portal you need to make a choice for each redirect uri that you add, either Web or Public client. Which one is correct in this case?
* It's not possible to add 'https://ininprodeusuxbase.microsoft.com/*' in the

[2019-05-02 09:59] jakaruna-MSFT commented on #30337
@aljo-microsoft @vturecek Please add your comments

[2019-05-02 10:03] SadiqhAhmed-MSFT commented on #30445
@stewartadam Monitoring solutions were previously referred to as management solutions.
![image](https://user-images.githubusercontent.com/44458118/57068411-4c9f4280-6cef-11e9-8edf-99dd801c55a0.png)

In the Azure portal open All services and locate Solutions.

[2019-05-02 10:14] fbarbare opened #30476 "awverify with wildcard not working"
I'm trying to move a wildcard domain from 1 webapp to another (configured using a CNAME). The domain I am trying to move is looking like this: `*.app-name.ci.domain.com`.
Not to have any downtime, I am trying to use the `awverify` approach:
[code]
But when I add the TXT host `awverify.*.app-name.ci` in Azure-DNS record, there is an error:

I thought it might be because of the subdomains, but I get

[2019-05-02 10:20] anuponugoti opened #30477 "Custom policy - Error when uploading sign"
Hi,

I'm trying to create custom policies and I have followed the below article.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#
I've have removed all  "Facebook" references as I was getting below error when trying to upload
TRUSTFRAMEWORKBASE.xml file.
**Validation failed: 1 validation error(s) found in policy "B2C_1A_TRUSTFRAMEWORKBASE" of te

[2019-05-02 10:20] horiacristescu opened #30478 "Pull image fails"
After executing Login on 'containerpreview.azurecr.io' and getting 'Login Succeeded' response, I try:

&gt; docker pull containerpreview.azurecr.io/microsoft/cognitive-services-recognize-text:latest

Error response from daemon: manifest for containerpreview.azurecr.io/microsoft/cognitive-services-recognize-text:latest not found

Apparently the manifest is missing. Was there a recent change?

---
#

[2019-05-02 10:25] SnehaAgrawal-MSFT commented on #30346
@giovannifl Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-02 10:29] SadiqhAhmed-MSFT commented on #30443
@RiverS2501 Thanks once again for bringing this to our attention. We've raised a pull request and the changes would go live in few hours. Closing this issue for now. Feel free to reach out to us if you've any concerns.

[2019-05-02 10:29] #30443 closed

[2019-05-02 10:34] SadiqhAhmed-MSFT commented on #30342
@rayne-wiselman Would you be able to make necessary changes here?

[2019-05-02 10:42] sylr commented on #13728
@TravisCragg-MSFT In https://feedback.azure.com/forums/217313-networking/suggestions/35340511-create-private-dns-zone-in-virtual-network-which-a an admin said it will be possible to link private zones to not empty VNETs when the feature will be GA.

Could you please tell us what kind of timetable there is until GA.

Thank you.

[2019-05-02 10:46] Anilkbalakrishnan commented on #30303
Hi I have created Basic instance with 2 GB of storage. However I have now upgraded to the standard SKU S0 with 10 database Transaction units. Let me check if I will be charged for that and update you

[2019-05-02 10:49] SumanthMarigowda-MSFT commented on #30467
@subhankars Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:49] SumanthMarigowda-MSFT commented on #30469
@aorsten Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:50] SumanthMarigowda-MSFT commented on #30471
@stoff75 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:51] SumanthMarigowda-MSFT commented on #30472
@JonesMikael Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:52] SumanthMarigowda-MSFT commented on #30473
@Nosferatu-Dk Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:53] SumanthMarigowda-MSFT commented on #30474
@Shenderchuk Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:55] SumanthMarigowda-MSFT commented on #30475
@mrdfuse Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:56] SumanthMarigowda-MSFT commented on #30478
@horiacristescu Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:56] SubhashVasarapu-MSFT commented on #21476
@tudort-iquest , Thanks for your feedback. Let me check its progress with the respective PG and will update you on this.

[2019-05-02 10:56] SumanthMarigowda-MSFT commented on #30476
@fbarbare Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:57] SumanthMarigowda-MSFT commented on #30477
@anuponugoti Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 10:58] SnehaAgrawal-MSFT commented on #30330
@kggayo Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-02 11:24] RohitMungi-MSFT commented on #30454
@allenwux Thanks for your inputs. Yes, the intents needs to be updated as they are just placeholders to add your intent and it's id.

[2019-05-02 11:27] mfalkvidd opened #30479 "Clarify "Maximum depth of object in device twin""
Could we get a clarification on what _Maximum depth of object in device twin_ means?
We are successfully using the following structure for a device twin. I _think_ the depth of this structure is 7, which seems to violate the rule Maximum depth of object in device twin=5.
[code]
Or is the depth only calculated below "desired", so we have a depth of 5?

How about the metadata, that IoT Hub adds auto

[2019-05-02 11:27] ernesto-arm commented on #26751
Is there a way to tell an auto-scaling policy to use wardeploy? at the moment the auto-scaling policy is bringing the whole system down for a few minutes (race conditions mentioned) until the new instance is completely warmed up

[2019-05-02 11:37] jakaruna-MSFT commented on #28822
#29975 is resolved. This issue is not yet resolved.

[2019-05-02 11:39] jakaruna-MSFT commented on #30347
This issue is resolved now. I verified with Ubuntu and it works well..

[2019-05-02 11:39] jakaruna-MSFT commented on #29975
This issue is resolved now. I verified with Ubuntu and it works well..

[2019-05-02 11:43] juho-hanhimaki opened #30480 "How to determine the time it takes for TCP probe to be down"
Let's say I am using Basic SKU and have a TCP probe with following settings:
`      "properties": {
        "protocol": "Tcp",
        "port": 1234,
        "intervalInSeconds": 5,
        "numberOfProbes": 2
      }`

How long does it take (min/max duration) for the probe to be down after I close the TCP listener on the server? Is there some timeout involved?

---
#### Document Details

⚠ *Do not

[2019-05-02 11:46] rwarnke opened #30481 "Missing Error Code 0x80c80243"
The error code "0x80c80243 Security Descriptor size is too large" should be included on this page with information about size limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7235bd07-1172-ac6a-3dab-0200fd73bd87
* Version Independent ID: 9620b286-fe9e-0c56-c01f-ddf7c3c36ac0
* Content: [Troubleshoot Azure Fil

[2019-05-02 11:46] nphmuller commented on #30347
Also working here. Thanks for the quick and clear communication!

[2019-05-02 11:46] #30347 closed

[2019-05-02 11:49] jakaruna-MSFT commented on #30265
@iainfoulds Please add your comments

[2019-05-02 11:58] schellem commented on #30188
I tested that the web.config transform is applied if I created a new project and also verified that the session provider works. When adding the provider to our existing ASP application the web.config changes are not applied and I still can't get it working with our existing project after adding what appears to be the settings added to a new project. I'm guessing there are things other than just th

[2019-05-02 12:06] jakaruna-MSFT commented on #30340
@ashleywb Custom script extension run only once on the server unless there is a a change to the script (script parameter passed to in the command). I hope you are creating a server from the image and using Custom script extension to download the script and run. is my assumption correct?
How are you calling the custom script extension when you create a server?

[2019-05-02 12:08] Archehandoro commented on #22223
Unfortunately, for us, using the mappings as @DJackson625 suggested doesn't import the custom profiles/roles from Salesforce into Azure AD.

Did anyone got lucky adding other mappings?

[2019-05-02 12:09] nnamedieh commented on #30468
@msrini-MSFT thanks for your quick response. You mean that Service tag "AzureCloud" does not cover all Azure services with public IP, just a few like compute or sql? Then I really have to look for another solution. Thank you!

[2019-05-02 12:10] RohitMungi-MSFT commented on #30459
@skywalkerisnull Thanks for the interesting note :) . I would leave to it authoring team to check if it is possible to update the diagram with neutral colors. Also, does downloading the diagram and viewing it locally work for you?

[2019-05-02 12:12] RohitMungi-MSFT commented on #30460
@skywalkerisnull Thanks for the interesting note :) . I would leave to it authoring team to check if it is possible to update the diagram with neutral colors. Also, does downloading the diagram and viewing it locally work for you?

[2019-05-02 12:16] RohitMungi-MSFT commented on #30470
@nguaman Thanks for your inputs. DAfN is available in the documentation for [Afiliation ](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/affiliationentityattributes)entity. Are you requesting to get this added for [Paper ](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/paperentityattributes)entity too?

[2019-05-02 12:20] LosManos opened #30482 "Broken link"
Link ListBlobsSegmentedAsync, DownloadToFileAsync and more are broken.
(The latter is/was leading to https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.blob.cloudblob.downloadtofileasync)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID

[2019-05-02 12:27] nguaman commented on #30470
Yes! exactly!

[2019-05-02 12:28] garybushey commented on #30457
That URL does require me to login.  I do have multiple subscriptions
associated with my login (although it doesn't get far enough to ask me to
select a subscription).  It seems like the URL requires authorization which
I am not sure is the intended situation since I am coming from Microsoft
documents that do not require any sort of authentication.

Here is the error message I received when accessi

[2019-05-02 12:32] msrini-MSFT commented on #30480
@juho-hanhimaki , In Windows the default timeout value is 3 seconds.

In your scenario, LB tries to initiates a TCP connection and waits for 3 second to get a response. Re-transmission of the first TCP connection will happen on 6th second, for which LB would have already sent  send Probe request. If it fails on the second time, then the probe is down.

With your config, if the server stops respond

[2019-05-02 12:33] msrini-MSFT commented on #30468
@nnamedieh , I meant you will not able able to choose Service tags for outbound rules. You can navigate to any NSG and to the outbound rules. You will not able to able to find the Service Tag option.

[2019-05-02 12:36] mareksamaj opened #30483 "Audience is incorrect for Azure API for FHIR"
To get a valid auth. bearer token to access Azure API for FHIR via Postman the audience should be https://MYFHIRSERVICE.azurehealthcareapis.com. Without specifiying the MYFHIRSERVICE in the URL you will get 401 when calling APIs (WWW-Authenticate →Bearer error="invalid_token", error_description="The audience is invalid"). The existing guide specifies the Auth Url (aka audience) as https://azurehea

[2019-05-02 12:38] Blackmist commented on #30459
@skywalkerisnull There should be an update soon (maybe today) that swaps out the transparent background for a plain white one. Thanks for the feedback!

[2019-05-02 12:40] slynickel commented on #28227
Thank you! I'll close out as the original issue creator.

[2019-05-02 12:40] #28227 closed

[2019-05-02 12:51] diberry commented on #30478
@horiacristescu Thank you for reporting this. I'll look into it and report back. #in-progress

[2019-05-02 12:53] KevinXTian commented on #30450
I can give a use case for the sample json output.

Use case:
The output of first pipeline will be needed as the input of the second pipeline. If I don’t know the output of the first pipeline, I have to run the first pipeline and design the following pipelines. That is painful if I need to choose the type of pipelines, since some work can be done by using different activities. If the sample output

[2019-05-02 12:58] ManojReddy-MSFT commented on #30135
@jrxdavid We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-02 12:58] #30135 closed

[2019-05-02 13:00] netapp-bcammett commented on #30437
Is that screenshot from the Azure Government Console? It looks different.

Also, does it also apply when deploying a VM from a Marketplace image?

[2019-05-02 13:00] grayjeremy commented on #30292
That video is exactly what I needed.  Can we put some links to multi-tenant service principals documentation and potentially write up the content of the video? or link to it?  Its really changing the focus of the document from a person clicking through the portal to an automation account that I think we should showcase.

Thanks!

[2019-05-02 13:02] jwargo commented on #30441
@spelluru can you please take a look?

[2019-05-02 13:04] ManojReddy-MSFT commented on #30437
@netapp-bcammett I do not have a Gov portal to test with and the screenshot is actually for a marketplace image.

The CLI command should work with market place images as well. I will try to get a confirmation regarding Gov tenant. Do you not see this in the Gov tenant at the time of creation ?

[2019-05-02 13:06] pgoldman5699 commented on #9518
It looks like this article no longer exists, so I am closing this. Thanks!

[2019-05-02 13:06] #9518 closed

[2019-05-02 13:07] netapp-bcammett commented on #30437
No, I didn't see the option at time of creation in the Gov portal.

[2019-05-02 13:10] MarkDNL opened #30484 "Section "Create Storage Accounts" is obsolete"
Since the latest updates for ASR replication takes place to Managed DIsks. This means that ASR is no longer using multiple storage accounts, but just one LRS account for caching.

Please update this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b30773e2-4884-2926-9fbd-e8c12ebd70a5
* Version Independent ID: b0

[2019-05-02 13:14] SaurabhSharma-MSFT commented on #30209
@MCFHTAGENTS Thanks.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-02 13:14] #30209 closed

[2019-05-02 13:14] Alberto-Vega-MSFT commented on #30083
@walkersa  Closing this thread for now since we are taking it offline. Please reach out to the email I provided if you don't have a paid support plan. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-02 13:14] #30083 closed

[2019-05-02 13:15] JerryMWeeks commented on #29975
Many thanks I'll give this a test again over the next few days and respond back.

[2019-05-02 13:18] gatornation11 commented on #30377
Small followup, I have tried it a couple of times now. It fails around the 140k file count mark. Not exactly the same file but in that range. When I map a drive letter to the UNC path it works fine...

[2019-05-02 13:21] #19586 closed

[2019-05-02 13:22] markarnolditpro commented on #30351
Ok thanks.  I'm evaluating AFD now and impressed with overall capability.  I suspect we'll use the overall feature set but good to know we can opt out of CDN etc if we choose.  Please close.

[2019-05-02 13:35] kevCurnow opened #30485 "Log Analytics vs. Metrics Explorer"
I am measuring what I believe to be the same performance counter, for the same machine, over the same time span, for the same aggregation in both Log Analytics and the Azure Monitor Metrics Explorer. However, I am getting differing results between the two.  Any idea why this might be occuring?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-05-02 13:42] #30351 closed

[2019-05-02 13:50] jtracey93 opened #30486 ""Backup preference: Secondary Only" - Are the settings displayed correct?"
Hey,

It seems that "Backup preference: Secondary Only" & "Backup preference: Secondary" are both exactly the same option wise.

Surely "Backup preference: Secondary Only" would only backup from the secondary node in the region for all backup types?

Let me know

Thanks

Jack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-02 13:52] levilugato commented on #14391
Same isse Here, I tried many things but nothing works

[2019-05-02 13:57] CeciAc opened #30487 "Missing parameter in authorization request"
Copying this from here: https://github.com/MicrosoftDocs/azure-docs/issues/30363

@caelistic commented on Tue Apr 30 2019

The parameter "client_assertion" or "client_secret" is missing in the parameters for the authorization request.
Sending the request without one of those parameter returns the following error:
"AADSTS7000218: The request body must contain the following parameter: 'client_assert

[2019-05-02 13:59] naman commented on #15027
Hey Guys! I am seeing the same issue as mentioned by OP. I have double checked the secrets / IDs passed while creating the AKS cluster. It will be great if anyone from Microsoft Support could help me out? Thanks

To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code XXX to authenticate.

E0502 19:23:38.648435   53430 azure.go:127] Failed to acquire a t

[2019-05-02 14:03] chi-ltd commented on #30408
Hello

I added a new NSG rule for port 80 any to any.  I am still getting page cannot be displayed.

I also allowed all inbound traffic on the local VM firewall.  Same issue.

Ideas?

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 02 May 2019 08:43
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.c

[2019-05-02 14:06] Jann-Skotdal commented on #30352
@TechWatching : Could you provide some more details on your requests: How many characters were you attempting to send (both in individual requests and total), how fast were you sending the requests, and any other details you think may be pertinent?

[2019-05-02 14:17] vainolo commented on #24805
Yes, @VanMSFT - I added a new page that replaces the word document. Please close the issue

[2019-05-02 14:18] Marusyk commented on #18497
How to solve that?

[2019-05-02 14:30] PramodValavala-MSFT commented on #30118
@mganeshphani I followed up on this internally and there seems to be a way to achieve this via the `Code View` and using the `OneDrive REST APIs`.

If you look at the workflow JSON of your Logic App with the OneDrive connector, it should look something like this
![image](https://user-images.githubusercontent.com/43602528/57082225-ef69b800-6d13-11e9-9ce5-b5342e0852b6.png)

The metadata object has p

[2019-05-02 14:30] #30118 closed

[2019-05-02 14:34] alistairnes commented on #25614
Any update on this? Seems to have been broken for two months...

[2019-05-02 14:39] pgoldman5699 commented on #9736
It looks like this article no longer exists, so I am closing this. Thanks!

[2019-05-02 14:40] Norrch2 opened #30490 "Paragraph Question"
Good Morning, I am working with a scenario that I thought the "Paragraph" UserInputType would be helpful. However, I am unable to determine if I can set a default value. From my testing it appears that the purpose of the Paragraph is to only display errors?

Is there a way to set a default text that will always be displayed?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-05-02 14:42] badalk commented on #14391
Hey levilugato, My issue was the service principal did not have permissions (network contributor) on the resource group where my vnet existed. Once i had that solved, it worked for me.

Not sure what is your deployment architecture but there must be something that is not allowing you to create a load balancer / static ip

[2019-05-02 14:44] SumanthMarigowda-MSFT commented on #30479
@mfalkvidd Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:44] TechWatching commented on #30352
Well that's not that easy to tell, as a matter of facts I am translating some elements in a bunch of xml files. So I am looping though my files and sending groups of elements to translate to the API.

I am sending requests about every one second or less (I wait until a request returned me a response and do a quick treatment on the response before sending the next request). I also tried delaying my

[2019-05-02 14:45] SumanthMarigowda-MSFT commented on #30481
@rwarnke Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:45] SumanthMarigowda-MSFT commented on #30482
@LosManos Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:47] SumanthMarigowda-MSFT commented on #30484
@MarkDNL Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:48] SumanthMarigowda-MSFT commented on #30485
@kevCurnow Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:48] Mike-Ubezzi-MSFT commented on #30435
@nkumars Thank you for providing this update. I have assigned this to an engineer who has expertise with Active Directory. We will evaluate and correct any issues with the documentation or the code samples as appropriate.

[2019-05-02 14:49] SumanthMarigowda-MSFT commented on #30486
@jtracey93 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:50] obsoletenewyork opened #30491 "Please document sign-in error 500021"
Please document sign-in error 500021

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-dire

[2019-05-02 14:51] SumanthMarigowda-MSFT commented on #30487
@CeciAc Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:52] SumanthMarigowda-MSFT commented on #30490
@Norrch2 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-02 14:59] trevorbye commented on #28050
@ashvinmacaw what SDK version are you using? `Dataflow.open()` should be working, and the package design pattern should not be. I checked SDK v 1.1.2 and nothing seems to have been reverted.

[2019-05-02 15:00] Mike-Ubezzi-MSFT commented on #30483
@mareksamaj Thank you for providing this detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-02 15:01] EthanSolomon opened #30492 "deserialize"
This code is great if you want to print it obviously. However, I want to deserialize it to a class (like in the c# example) and then work form there. How would I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64da7063-85dc-190b-da91-d6d875a5024f
* Version Independent ID: 252349b0-2a85-7bc3-17e6-8ca6a3ec156b
*

[2019-05-02 15:19] rothja commented on #30462
@patros Thanks for the question. I manage this article, but I'm not the subject matter expert on all areas. Could you give me a little more information? Is this related to [App Service Plans](https://azure.microsoft.com/en-us/pricing/details/app-service/plans/) or is it something different? Thank you for helping me to understand so I can get it to the right person.

[2019-05-02 15:19] weikanglim opened #30494 "Impact of the restart on actively running functions"
Hi! I've been looking around for documentation regarding how the application restart would affect actively running functions.

Would actively running functions be terminated, or would they be awaited for until their execution completes?

If the former, some guidance on how it should be best handled would be useful.
If the latter, I wonder if it would be worth adding it to the list of benefits for

[2019-05-02 15:24] zsiebers commented on #18015
Which MS has this been updated in I have looked through Log Analytics Docs and Security Center, but cannot find any updated info on it.

[2019-05-02 15:27] craigg-msft commented on #21476
assign to @HJToland3

[2019-05-02 15:51] MicahMcKittrick-MSFT commented on #16473
@BartVanDerVurst no update on my end. Not sure if @ivana61 filed a feedback request on Uservoice for this as it was a feature request

[2019-05-02 16:04] hansenms commented on #30483
@mareksamaj That depends. If you keep the original audience setting (`https://azurehealthcareapis.com`) then that is the correct audience. If you chance the audience, then you also need to change it when you request a token. Both ways will work.

[2019-05-02 16:16] jeevansd commented on #24858
@arnrist @scootafire @max-allan-surevine @pauska Now we have published the new JIRA plugin version on the Microsoft Download Center. So please feel free to download it from there and then you can use it.
I will close this thread now. We will also update this doc to show the support for new JIRA 8.0 version in our plugin.

[2019-05-02 16:16] jeevansd commented on #24858
#please-close

[2019-05-02 16:19] jeevansd commented on #21049
@nujiel and @gsahlstrom @nzkid @rikhily Now we updated the plugin for JIRA 8.0 and also mentioned the support for Linux OS into it. Please see the updated Microsoft Download Center Page for it.
We are alos updating this doc for the newer versions and Linux support.
I am closing this ticket now.

[2019-05-02 16:19] jeevansd commented on #21049
#please-close

[2019-05-02 16:34] RobBath opened #30496 "Retention Labels"
What happens when Groups expire to their SharePoint files that have retention labels applied? I can see that this page documents precisely what happens with Retention Policies for the conversation & mailboxes - but what about the SharePoint content within a group-connected team site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-02 16:37] Heidilohr commented on #30409
@anthony-schneider @VikasPullagura-MSFT We're working updating the doc right now. Thanks for bringing this to our attention.

[2019-05-02 16:40] mlottner commented on #30201
#please-close

[2019-05-02 16:51] wickste commented on #30201
Thanks!

[2019-05-02 16:51] #30201 closed

[2019-05-02 16:51] iainfoulds commented on #30265
There's already a doc update lined up to go out on Monday to reflect the latest status of the Azure AD app registration UI.

#please-close

[2019-05-02 16:52] DuffmanBE opened #30498 "New-AzADServicePrincipal command not working"
Whenever I try to run the following command:
New-AzADServicePrincipal -ApplicationId "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8"

Powershell returns this error:
New-AzADServicePrincipal : Object reference not set to an instance of an object.
At line:1 char:1
+ New-AzADServicePrincipal -ApplicationId "205478c0-bd83-4e1b-a9d6-db63 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-05-02 16:53] frenchy237 commented on #30366
Yes, I have removed the role and then re-added it and it will not work. I
am receiving an error that says the Lab Creator does not have permission to
write  a lab environment in my subscription. I am not sure the cause of
this.

On Wed, May 1, 2019 at 3:24 PM kobulloc-MSFT <notifications@github.com>
wrote:

--

*Samuel French*

(215)-582-2002

[2019-05-02 16:58] DuffmanBE commented on #30498
I am new to Azure and using powershell and from [the tutorial I was following](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-1-default-enable-https-with-a-cdn-managed-certificate) it was not clear you had to log in using `Connect-AzAccount`.

[2019-05-02 16:58] #30498 closed

[2019-05-02 17:01] sshorkey opened #30499 "How to download PEM key from keyvault in usable format"
I have a PEM key stored in the Azure Keyvault that I need to be able to download and use as a pem key as part of a build process (it requires the use of a decryption tool that requires the cert be a local file, it doesn't support getting it from Azure) and the download secret commands just create a backup file that isn't in a usable format.

[2019-05-02 17:04] taromielnaz opened #30500 "Availability Zone Validation"
I created a VM in AV zone for 2 . So I see it in "Location" section written "2" . What is the next step to make sure AV Zone configured correctly and is working ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b71318f-48c9-4491-f393-8a69588599a3
* Version Independent ID: cf870587-ac9b-327e-9f13-e8f765d907c5
* Content:

[2019-05-02 17:05] georgewallace commented on #29349
@jtuliani, The script will timeout after 90 minutes, it is under [Tips and Tricks](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#tips-and-tricks) section of this article.

[2019-05-02 17:05] himanshusinha-msft commented on #30416
@jn-altius : The appId is the application (Client) ID of the registered application in AAD (a normal GUID) .

[2019-05-02 17:08] georgewallace commented on #18185
@arkein By default the Custom Script Extension doesn't return status updates.. You can use other solutions like [Run Command](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command), but this also only returns output once the script has completed.  Are you looking for a way to retrieve status of the script as it is running?  Or output while it is still running?

[2019-05-02 17:11] himanshusinha-msft commented on #30264
Since we have not heard back on this , we are going ahead and closing the issue . You can always reopen this issue if you wish too.

[2019-05-02 17:11] #30264 closed

[2019-05-02 17:13] georgewallace commented on #15469
@tjcdw Just wanted to follow up on this older issue.  It looks like you found a workaround for the unsupported scenario.  As we don't want to document something that is unsupported, I plan to leave the documentation as is. If you have any further issues please don't hesitate to reach out. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-02 17:15] levilugato commented on #14391
Hi @badalk , I don't know if this situation has a relation to my problem but I'm using aks + Istio and change the Ingress of Istio to an Internal Load Balancer, there is something that Hpa needs to consume on external network  ?
Thanks

[2019-05-02 17:15] kobulloc-MSFT commented on #30366
@frenchy237 At this point, I think we've exhausted everything we can do from a documentation standpoint, but I want to make sure we get this resolved for you.  If you wouldn't mind, please start a thread on MSDN and we'll help you troubleshoot this further:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

We are going to close this t

[2019-05-02 17:15] #30366 closed

[2019-05-02 17:22] georgewallace commented on #13892
@MirzaSikander I see this issue has been stale for a while and just wanted to follow up.  You are correct Custom Script Extension cannot run as a user account.  If you want to run a script on a VM as a different user, you can use a [Hybrid Runbook Worker](https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker) through Azure Automation.  We have this [overview](https://d

[2019-05-02 17:23] #30313 closed

[2019-05-02 17:23] #26498 closed

[2019-05-02 17:24] #30377 closed

[2019-05-02 17:31] JoelHazelton opened #30503 "Client apps"
What is the expected behavior for client apps? I have this policy configured on my account with a 1 hour timeout (for testing purposes), with most webapps and all modern auth client apps included. On MS Teams, I'm being signed out every hour and prompted to sign back in. On Outlook I'm being prompted every morning, but not at all throughout the day. On OneDrive I don't believe I'm being prompted a

[2019-05-02 17:31] #15469 closed

[2019-05-02 17:32] JoelHazelton commented on #30503
FYI - I'm referring only to the "sign-in frequency" policy.

[2019-05-02 17:33] YutongTie-MSFT commented on #30154
@visuazn We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-02 17:33] #30154 closed

[2019-05-02 17:33] SaurabhSharma-MSFT commented on #30444
@abatishchev Thanks for your feedback.  If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-02 17:34] SaurabhSharma-MSFT commented on #30491
@obsoletenewyork Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-02 17:35] michaelstiben commented on #9975
Is there any update about this? I'm getting the same cad request

[2019-05-02 17:35] YutongTie-MSFT commented on #30492
@EthanSolomon Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-02 17:37] pgoldman5699 commented on #9798
@vladvino

Requested to close by assignee

[2019-05-02 17:37] #9798 closed

[2019-05-02 17:37] Mike-Ubezzi-MSFT commented on #30218
@wpitallo Thank you for the additional detail. That looks to be a portal bug. Can you send your Subscription ID to [AzCommunity](ailto:azcommunity@microsoft.com), if you do not have an active Azure support plan. I will return instructions to engage support. If you have a support plan, please create a support request.
We will now proceed to close this thread. If there are further questions regardin

[2019-05-02 17:37] #30218 closed

[2019-05-02 17:40] #13892 closed

[2019-05-02 17:42] JasonWHowell commented on #29933
@jdecowski18 We are a little behind, and couldn't take a look yet. Did you have any breakthroughs to get this scenario to work in HDI 3.6? Thanks, Jason

[2019-05-02 17:42] VanMSFT commented on #24805
@vainolo - Thanks Arieh!
#please-close

[2019-05-02 17:44] MicahMcKittrick-MSFT commented on #30500
@taromielnaz if you see the zone listed as you mentioned there is nothing else you need to do. The VM is located in the zone you selected. If you have multiple VMs that you put into the same availability zone you can check the others to make sure they are where you requested. Besides that, there is nothing to test or more to configure. Availability zones just allow you to spread your VMs throughou

[2019-05-02 17:45] RickB-0923845 commented on #30053
I think I'm getting a clearer view of things. Is this right:
User is a Contoso employee. A copy of his Contoso directory record (same ID) has been added as a guest to Fabrikam’s directory and granted certain permissions by Fabrikam.
•	User requests a Fabrikam resource, and is referred to AAD to get a Fabrikam access token
•	Contoso’s Proxy adds headers with access context of Contoso and permitted

[2019-05-02 17:50] pgoldman5699 commented on #9840
@MicahMcKittrick-MSFT
Not sure how I unassigned novino from this, but he doesn't show up in the list when I try to assign him back

[2019-05-02 17:51] michaelstiben opened #30505 "UnsupportedMediaType"
I'm trying to enrroll audio to an IdentificationProfileId using the required format using the header "Content-Type : multipart/form-data " but I'm getting
`{
    "error": {
        "code": "UnsupportedMediaType",
        "message": "Unsupported Media Type"
    }
}`

[2019-05-02 17:52] ashvinmacaw commented on #28050
@trevorbye, I have not installed any specific version but I use Azure notebook as advised [here](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-environment).

I see I have [azureml.core.VERSION] 1.0.17. which is an old version.

Azure notebooks have the packages inbuild in them and so do I need to upgrade them manually?
If not, please advise how to update the libr

[2019-05-02 17:52] prbans opened #30506 "Info missing - how to read app settings in file"
I can't find information on how to read app settings in python in your documentation,

Looking at the repo below, I can infer that we should use os.environ(&lt;key&gt;), could we please add this to the documentation somewhere?

https://github.com/yokawasa/azure-functions-python-samples/tree/master/v2functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-05-02 17:53] prbans commented on #30506
Specifically this file:

https://github.com/yokawasa/azure-functions-python-samples/blob/master/v2functions/blob-trigger-cosmosdb-out-binding/__init__.py

[2019-05-02 17:53] MicahMcKittrick-MSFT commented on #9840
@JohanSellberg looks like he's not part of this repo anymore. Will assign to @aljo-microsoft to handles most of the SF documentation and can reroute as needed

[2019-05-02 18:00] Mike-Ubezzi-MSFT commented on #30499
@sshorkey Thank you very much for your interest in Azure cloud services. You should be able to use the Get-Certificate and Get-Key operations form the [Azure Key Vault REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/). See: [Keys, secrets, certificates, and storage accounts](https://docs.microsoft.com/en-us/rest/api/keyvault/#keys-secrets-certificates-and-storage-accounts)

[2019-05-02 18:03] tamram commented on #11982
@bernitorres - Yes, this feature is now generally available, and you can grant read-only access to a user so that they can see blob data in the portal. However, you must also grant the user the Azure Resource Manager Reader role, so that they can navigate through the account resources to see the blob data in the portal. See [Use the Azure portal to access blob or queue data](https://docs.microsoft

[2019-05-02 18:05] Mike-Ubezzi-MSFT commented on #30505
@michaelstiben Thank you very much for bringing this to our attention. To help move this forward can you provide a reference to a tutorial or quickstart document you are following? It will be helpful with the investigation and resolution of the issue.

[2019-05-02 18:06] SaurabhSharma-MSFT commented on #30503
@JoelHazelton Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-02 18:07] SaurabhSharma-MSFT commented on #30496
@RobBath Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-02 18:07] sshorkey commented on #30499
How do I do this from the command line?

[2019-05-02 18:08] mr-fuller opened #30507 "sign in"
Is signing in to Azure supposed to do something? Because it's not doing anything for me on Windows and I'm not seeing Resource Group or Hosting Plan (edited to add a screen shot)
![image](https://user-images.githubusercontent.com/20356962/57097876-d1d22980-6ce6-11e9-8f0c-0010d3fda18d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-02 18:11] trevorbye commented on #28050
@ashvinmacaw the dataprep SDK is a separate package so that v 1.0.17 is for azureml-sdk, not azureml-dataprep. Either way, getting the packages updated on azure notebooks is a huge problem we have, as it is usually delayed by a couple weeks. It's something done on the back end of the service so it's not something you can update.

For now you could run locally if you want to use the new design patt

[2019-05-02 18:13] curtand commented on #29430
Hi @DeanGross

Thanks! I updated the article.

[2019-05-02 18:13] curtand commented on #29430
#please-close

[2019-05-02 18:13] kasirajans commented on #28562
Hi Team,
Still the link is pointed to old https://csm.cherwell.com/contact. Can you please update the right link?

[2019-05-02 18:18] pgoldman5699 commented on #9900
@nkiest @johnkemnetz

Reassigned per John's request

[2019-05-02 18:20] jdecowski18 commented on #29933
Thanks for the response Jason. No major breakthroughs for me yet.

[2019-05-02 18:24] serkanluks commented on #15122
Hi, is this solved?  Log Analytics troubleshooting link is still pointing to the same one and seems like not updated.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/vmext-troubleshoot
How can I find out if  "update_azureoperationalinsight_agent_heartbeat" task scheduled correctly?

[2019-05-02 18:28] MarileeTurscak-MSFT commented on #30499
Is the information here what you are looking for?  https://github.com/MicrosoftDocs/azure-docs/issues/14761

[2019-05-02 18:31] sshorkey commented on #30499
^ I tried following the solution described in there:

However it didn't work. It failed with:

[2019-05-02 18:31] yikei commented on #28050
As @trevorbye mentioned, you can use Azure Notebooks with your current version of azureml-sdk v1.0.17 (which likely means azureml-dataprep v1.0.15 - see [release notes](https://docs.microsoft.com/en-us/azure/machine-learning/service/azure-machine-learning-release-notes#2019-02-25)).

To help with that, please consult the documentation in this [GitHub Repo](https://aka.ms/aml-data-prep-notebooks),

[2019-05-02 18:47] MarkAtAgilliance opened #30508 "deployment script may need a "Sleep" otherwise can receive "Resource cannot be updated during provisioning" error."
In this section:

https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-script-to-stop-and-restart-triggers-and-clean-up

This line seems to cause an intermittent error if you have a lot of triggers (we have 36 event based triggers).
Start-AzDataFactoryV2Trigger -ResourceGroupName $ResourceGroupName -DataFactoryName $DataFactoryName -Name $_ -Force

By adding

[2019-05-02 19:09] taromielnaz commented on #30500
Does it mean that I have like a mirror of my VM in another region?

[2019-05-02 19:12] mike-urnun-msft commented on #30506
Hi @prbans Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 19:12] mike-urnun-msft commented on #30494
Hi @weikanglim Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 19:14] SaurabhSharma-MSFT commented on #30496
@RobBath When the group expires the SharePoint contents will be held in the retention container for specific number or days.  Please refer to [How a retention policy works with content in place](https://docs.microsoft.com/en-us/office365/securitycompliance/retention-policies#how-a-retention-policy-works-with-content-in-place).

[2019-05-02 19:15] MicahMcKittrick-MSFT commented on #30500
No that is not what it means. Take a look at the Availability Zones documentation that explains how they work and what they are

https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

Let me know if you have followup questions.

[2019-05-02 19:37] mareksamaj commented on #30483
@hansensms True that, thank you. It is a minor thing, but perhaps a slight change to the wording to hint that it needs to reflect the configured audience of the Azure API for FHIR resource. At the moment, in the two sections mentioned above, it states either _"For Azure API for FHIR this is https://azurehealthcareapis.com"_ or _"audience is https://azurehealthcareapis.com for Azure API for FHIR"_

[2019-05-02 19:37] MarkusVi commented on #30033
Hi @SaurabhSharma-MSFT, the article is up to date.

#please-close

[2019-05-02 19:46] michaelstiben commented on #30505
Thanks in advance.

I'm working with the documentation of swagger from the Speaker Recognition API. More accurely, I'm trying to use the method of [Create enrollment]https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5645c725ca73070ee8845bd6).

I'm sure that I'm using a correct IdentificationProfileId and Ocp-Authentication. Also, I took the Content-Type f

[2019-05-02 19:48] femsulu commented on #22018
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-02 19:49] gary-pitkis commented on #9039
is it supported now?

[2019-05-02 20:01] willdaviesdevelops commented on #30507
you signed in with an Windows (Microsoft) Account.  That account isn't necessarily an Azure account.

[2019-05-02 20:03] MarileeTurscak-MSFT commented on #30499
The error you are getting generally occurs when you have an invalid certificate format. Make sure your file has no trailing or leading spaces within the certificate file.

Example of a good file:

`-----BEGIN CERTIFICATE-----
MIICuTCCAiKgAwIBAgIDbuoZMA0GCSqGSIb3DQEBBAUAMIGHMQswCQYDVQQGEwJa
QTEiMCAGA1UECBMZRk9SIFRFU1RJTkcgUFVSUE9TRVMgT05MWTEdMBsGA1UEChMU
VGhhd3RlIENlcnRpZmljYXRpb24xFzAVBgNVBAsTDlRF

[2019-05-02 20:04] MarileeTurscak-MSFT commented on #30499
We will now proceed to close this thread. Since this is a troubleshooting question and not a document feedback, please move any additional questions to MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-02 20:04] #30499 closed

[2019-05-02 20:06] Absoblogginlutely opened #30509 "Need to update install the agent before you can Deploy the Storage Sync Service"
The second line to deploy the storage sync service requires the dll from the agent to have been installed on the machine already.
Therefore  "Deploy the Storage Sync Service" needs to be switched with "Install the Agent" so that Install the Agent is first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1c

[2019-05-02 20:07] Mike-Ubezzi-MSFT commented on #30505
@michaelstiben Thank you for the additional detail. I have assigned this to an engineer with expertise in Cognitive Services to evaluate and assist here.

[2019-05-02 20:09] MarileeTurscak-MSFT commented on #30329
Hi VigneshwaranKS,

I'm closing this out since it looks like you were able to resolve this on Stackoverflow. https://stackoverflow.com/questions/55922170/how-to-set-redirect-urls-to-b2clogin-com-for-azure-active-directory-b2c-in-react

Resolution:

authentication.initialize({ instance: 'https://mytenant.b2clogin.com/', tenant: 'xxxxxxxxx_tenantGUID__xxxxxxxxxxxx', signInPolicy: 'B2C_1_signupsignin

[2019-05-02 20:09] #30329 closed

[2019-05-02 20:11] YutongTie-MSFT commented on #30219
@Tom-Wells-NW Hi Tom, I will actively check with the product team for the road map but at the meantime, it will be helpful if you can put your idea in https://cognitive.uservoice.com/forums/555925-speaker-recognition-api the product feedback channel. Product team will actively check all the product feedback there. Thank you.
We will now proceed to close this thread. If there are further questions

[2019-05-02 20:11] #30219 closed

[2019-05-02 20:13] YutongTie-MSFT commented on #30221
@seank842 Hi Sean, thank you for your feedback and I will actively check with the product team for the road map but at the meantime, it will be helpful if you can put your idea in https://cognitive.uservoice.com/forums/555925-speaker-recognition-api the product feedback channel. Product team will actively check all the product feedback there. Thank you.
We will now proceed to close this thread. If

[2019-05-02 20:13] #30221 closed

[2019-05-02 20:14] MarileeTurscak-MSFT commented on #30456
Thanks for the feedback. I have assigned this issue to the content author, @MicrosoftGuyJFlo , to consider your suggestion.

[2019-05-02 20:20] Absoblogginlutely opened #30510 "Install Az and AzureRm?"
These instructions state to install both az and azurerm.
This will then lead to issues with the two modules conflicting along with prompts to remove the azurerm module.
Is this module really required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-

[2019-05-02 20:25] eliastheodoro commented on #21488
Same problem here.

[2019-05-02 20:26] MarileeTurscak-MSFT commented on #30390
Hi Ashish,

Thank you very much for your suggestions. I am bringing this to the attention of @parakhj and @rojasja  from the B2C team.

The best place to post this feedback is on User Voice, since that is where the product team can directly take your feedback and put it into their backlog. https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596

[2019-05-02 20:27] MarileeTurscak-MSFT commented on #30390
We will proceed to close this thread. Please post your comments to User Voice so the product team can address them there.

[2019-05-02 20:27] #30390 closed

[2019-05-02 20:27] georgewallace commented on #14377
@jackchenquest Following up on this old issue, I have created a PR to update the documentation to add this as a scenario and what to do.  When this PR is merged it will automatically close this issue.  Don't hesitate to reach out if you have further questions.

cc @MicrosoftDocs/azure-cxp-triage

[2019-05-02 20:31] taromielnaz commented on #30500
Thanks. Although documents are not clear, this case can be closed.

[2019-05-02 20:33] MicahMcKittrick-MSFT commented on #30500
@taromielnaz if you have feedback on what is not clear in the docs I am happy to review and see if we can make them better. That is the whole point of this repo :)

For any documents that you find unclear you can always open an issue directly on the doc simply calling out what is not clear and what you propose be done in order to improve them. You can also submit PR against docs directly and the a

[2019-05-02 20:35] MarileeTurscak-MSFT commented on #30343
The product team has replied that when an event is old and we do not have exact date on it anymore the stamp dateTime equivalent will be set to zero, which sets it to the beginning of the epoch at 1970.

[2019-05-02 20:36] MarileeTurscak-MSFT commented on #30343
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-02 20:36] #30343 closed

[2019-05-02 20:39] rkarlin commented on #29870
Hi @gregpakes I'm checking and will get back to you soon.

[2019-05-02 20:41] ashvinmacaw commented on #28050
I will continue with the current version until I encounter further problems. I understood the reason for why package option was working for me but not for others and its clear now.

Thanks!

[2019-05-02 20:42] pgoldman5699 commented on #9727
@shants123

Reassigned by me at Ziv's request

[2019-05-02 20:43] swetharai opened #30512 "Fix typo"
replace "Lamed locations" with "named locations" in the following :
Organizations can configure up to 90 lamed locations, each configured with up to 12000 IP ranges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Conte

[2019-05-02 20:50] akouris opened #30513 "Error when deleting Authenticator App from Additional Security page"
I have been using 2FA for sometime. It works with not problem with SMS verification. It also works nicely with the Microsoft Authenticator app on my iOS device.

I have two issues.

1) Today I tried to delete the authenticator app registration of my iOS device from the Additional Security page. Every time I do that, the process times out, there is an error message, and I have been waiting for many

[2019-05-02 20:50] mr-fuller commented on #30507
The account I used is the account I use to sign in to the Azure Portal. Is that not what I should be using?

[2019-05-02 21:06] TravisCragg-MSFT commented on #30498
@DuffmanBE Glad you were able to get it running successfully!

[2019-05-02 21:08] carlosporter commented on #29975
Hello, I'm seeing the same  issue on a RHEL 7.6 server... does the update work  on that distribution as well ?

[2019-05-02 21:10] xurui203 commented on #30426
Hi! Thank you for pointing this out, we will get it corrected shortly! :)

#please-close

[2019-05-02 21:15] jeffwmiles commented on #30097
@msrini-MSFT - I'm not sure if I was clear enough. The documentation I linked, in the [IPsec/IKE parameters section](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices#ipsec), states that these are parameters for the default configuration of an Azure VPN Gateway. This document is not FortiGate specific.

The document page this issue was opened on states "Currently Azu

[2019-05-02 21:22] TurtleBeach opened #30514 "Function Runtime is Unreachable"
This page is borderline useless. Java functions were running this morning (5/2/2019). Now report runtime is unreachable. Nothing about function is available - a message states "You have created a function app! Now it is time to add your code".
Well guess what - there WAS a function app, it has not changed, but MS somehow managed to break the runtime.

---
#### Document Details

⚠ *Do not edit this

[2019-05-02 21:25] alexkarcher-msft commented on #30514
Hello Jack,

There is currently an Azure wide outage affecting Functions: https://azure.microsoft.com/en-us/status/

When the status is reported as all green on that page your app will be back working again.

[2019-05-02 21:28] MarileeTurscak-MSFT commented on #30512
@swetharai
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-02 21:29] MarileeTurscak-MSFT commented on #30512
The pull request is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/75613

[2019-05-02 21:29] #30512 closed

[2019-05-02 21:35] carlosporter commented on #29975
There is a workaround described here: https://github.com/Azure/azure-linux-extensions/issues/791  that disables password authentication

Changing the line in /etc/sudoers.d/aad_admins from:

%aad_admins ALL=(ALL) ALL
to

%aad_admins ALL=(ALL) NOPASSWD: ALL

With this change an Azure Active Directory account can become root on the test server without entering the user password, however there is not

[2019-05-02 21:40] taromielnaz commented on #30500
Thanks, I will proceed with the link you sent.

[2019-05-02 21:47] #30500 closed

[2019-05-02 21:52] v-stepbe commented on #16303
Waiting for Monday build verification.

[2019-05-02 22:00] mike-urnun-msft commented on #30059
Hi @zirain Since this channel is for driving improvements towards MS Docs, could you ask this question on MSDN forums please? Be sure tag me here with the URL of your MSDN thread so i can ensure your question gets answered. Based on the workflow you've designed above, i'm not quite if that's the best way to go about it and MSDN forums is more suiting platform to drive the necessary discussions.

A

[2019-05-02 22:00] #30059 closed

[2019-05-02 22:04] xurui203 commented on #30123
Hi! It is in our roadmap but we don't have an exact date yet. You can check this page for the latest updates on the regions we support: https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#services-support-by-region

#please-close

[2019-05-02 22:14] ajayanti1 commented on #12350
@kylomon - Power BI Standard (a403ebcc-fae0-4ca2-8c8c-7a907fd6c235) comes with just one service plan - Power BI Free (2049e525-b859-401b-b2a0-e0a31c4b1fe4).

[2019-05-02 22:17] mike-urnun-msft commented on #30164
Hi @mirkkupet Thanks again for pointing this out and helping us drive improvements towards MS Docs! We have corrected this typo and change will reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-02 22:17] #30164 closed

[2019-05-02 22:26] patros commented on #30462
Hi @rothja. It is a feature of app service plans. It's listed under networking on the page you linked.

It's a feature that allows you to run a "gateway", a hybrid connection manager, on premise behind your firewall. It allows you to connect to on premise endpoints like database servers. It does this by opening an outbound connection to your app service and creates sort of a tunnel. This is all do

[2019-05-02 22:34] ajayanti1 commented on #10466
@skille - For now, you can use the following commands to get plans for any given SKU that is in our tenant.
1. Get-AzureADSubscribedSku | Select -Property Sku*  (this will list SkuId and SkuPartNumber that are available in your tenant).
2. $licenses = Get-AzureADSubscribedSku
3. $licenses[<index>].ServicePlans (it's a 0 based index).

Please let us know if you run into issues. Hope this helps!

[2019-05-02 22:36] ajayanti1 commented on #12547
@DdMad - For now, you can use the following commands to get plans for any given SKU that are in your tenant.
1. Get-AzureADSubscribedSku | Select -Property Sku* (this will list SkuId and SkuPartNumber that are available in your tenant).
2. $licenses = Get-AzureADSubscribedSku
3. $licenses[].ServicePlans (it's a 0 based index).
Please let us know if you run into issues. Hope this helps!

[2019-05-02 22:38] ajayanti1 commented on #18553
@Ashley-Walton - For now, you can use the following commands to get plans for any given SKU that are in your tenant.
1. Get-AzureADSubscribedSku | Select -Property Sku* (this will list SkuId and SkuPartNumber that are available in your tenant).
2. $licenses = Get-AzureADSubscribedSku
3. $licenses[].ServicePlans (it's a 0 based index).

Please let us know if you run into issues. Hope this helps!

[2019-05-02 22:39] ajayanti1 commented on #27223
@luisgiraldo - For now, you can use the following commands to get plans for any given SKU that are in your tenant.
1. Get-AzureADSubscribedSku | Select -Property Sku* (this will list SkuId and SkuPartNumber that are available in your tenant).
2. $licenses = Get-AzureADSubscribedSku
3. $licenses[].ServicePlans (it's a 0 based index).

Please let us know if you run into issues. Hope this helps!

[2019-05-02 22:42] ajayanti1 commented on #29569
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh  - You can use the following command to get SkuPartNumber for all the SKUs in your tenant:
Get-AzureADSubscribedSku | Select SkuPartNumber

[2019-05-02 23:01] Adam-Smith-MSFT commented on #30425
@JoMoore88 Thanks for the update, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-02 23:01] #30425 closed

[2019-05-02 23:05] mike-urnun-msft commented on #30071
@dwumpus  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-02 23:05] #30071 closed

[2019-05-02 23:09] ChristianMontoya commented on #29972
@Flodu31 : Odd...MFA only occurs at the time you acquire and Azure AD token. You should be able to use the following article to gather the exact error: https://docs.microsoft.com/azure/virtual-desktop/troubleshoot-client-connection#troubleshooting-end-user-connectivity

[2019-05-02 23:13] ChristianMontoya commented on #29895
@Jez85 : One more thing to confirm...is the user sourced from the Azure Active Directory you're trying to make a tenant from? Or is it a guest user (sourced from another directory)?

[2019-05-02 23:17] JasonWHowell commented on #14805
This was resolved on 1/26/2019. #please-close

[2019-05-02 23:20] JasonWHowell commented on #21233
#please-close
This issue is resolved.

[2019-05-02 23:25] andrewhellyer opened #30516 "Reprotect copying all Azure disks"
According to the doco - re-protecting back to VMware, "only the disks that were replicated from on-premises to Azure will be replicated back".
I am replicating a single C: from a VMDK in VMware, and the virtual machine has an iscsi mapped volume also (using the MS initiator). We replicate this into Azure using a NetApp Cloud volumes appliance, and map it to the guest in Azure using iscsi.
When we

[2019-05-02 23:29] mayurpuli opened #30517 "Speech SDK / more than 20 concurrent requests"
Hello: If I have 100 doctors using the speech SDK connected to the same endpoint with the setting of “20 concurrent requests” (as per this : https://azure.microsoft.com/en-us/pricing/details/cognitive-services/speech-services/), Does Microsoft automatically increase my maximum concurrent request number? Does it slow down the response time because each person is waiting for a previous request to be

[2019-05-02 23:34] jeevansd commented on #19083
@chetansriv and @v-viinde Can we please fix this?

[2019-05-02 23:59] MarileeTurscak-MSFT commented on #30439
There are a number of reasons but it is useful for testing and QA. If you have for example a localhost and a published app but don't want to add and remove the reply URL when you're testing in prod vs locally, it is useful.

It is also useful for adding subdomains.

[2019-05-03 00:01] MarileeTurscak-MSFT commented on #30439
For example, you could have different deployment slots like this:

http://mysite-prod.com
http://mysite-uat.com
http://localhost:12345

[2019-05-03 00:02] MarileeTurscak-MSFT commented on #30439
I'm passing your feedback along to the content author, @CelesteDG , to look into.

[2019-05-03 00:03] rbrayb commented on #30439
OK – thanks.

Will you update the docs?

Also the docs refer to doing this via PowerShell  but you can now do it directly in the Portal – max. 250 items.

Rory

From: Marilee Turscak - MSFT [mailto:notifications@github.com]
Sent: Friday, 3 May 2019 12:00 p.m.
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rory Braybrook [DATACOM] <RoryB@datacom.co.nz>; Mention <mention@noreply.gi

[2019-05-03 00:22] jeevansd commented on #24858
#please-close

[2019-05-03 00:24] shants123 commented on #9727
@pgoldman5699 @tfosmark this issue is too old and the doc has changed multiple times. Can you please clarify it is still an issue?

[2019-05-03 00:33] skywalkerisnull commented on #30460
@RohitMungi-MSFT  Yes, downloading it to my local machine I can view it in an image viewer. Or switching form the dark theme to the light theme I can also read it easily.

[2019-05-03 00:38] #14805 closed

[2019-05-03 01:00] tcjohnson71 opened #30520 "Office 365 E3"
Can I do this with my Office 365 E3 account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b2e40dd-fcd8-de19-6148-1d58fd55dd60
* Version Independent ID: 16543f92-a956-43e0-754c-a2e36c2022e9
* Content: [Sign up for Azure with Office 365 account](https://docs.microsoft.com/en-us/azure/billing/billing-use-existing-offic

[2019-05-03 01:23] TurtleBeach opened #30521 "Deployment in VS Code does not ask for Group or Region"
The instructions above indicate that there should be an opportunity to specify a Resource Group and Region, but when function is deployed, the name provided is used to create a Resource Group, and the region is westus.
In addition, I cannot find any place to explicitly specify a Resource Group or Region.
The installation of required Powershell components was also less than straightforward. THe "En

[2019-05-03 01:26] sjm-au commented on #30411
Sumanth there are already requests in the closed tab to provide more troubleshooting information.
Please assist us in troubleshooting by providing this.
Below is a start
https://s4erka.wordpress.com/tag/hybrid-azure-ad-registration

[2019-05-03 01:43] sugarjig commented on #30355
This doesn't make sense to me. If I have enabled automatic tuning through the Azure Portal, I can use `Default` with the above mentioned Powershell command, and I get the desired result. Observe.

[code]
The corresponding Portal view of this server is below. Notice that the settings are inheriting from the Azure defaults.
<img width="1155" alt="Screen Shot 2019-05-02 at 9 30 06 PM" src="https://us

[2019-05-03 01:46] JamesEarle opened #30522 "Clarity on Speech to Text Customization using the SDK."
I don't understand why the SDK is flagged as "No" on the customization row for Speech to Text on the table on this page, so I wanted to clarify my understanding. You can definitely use the SDK to use custom models in Speech to Text,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e54515b-dff7-4345-7e85-146692a33701
* V

[2019-05-03 01:46] PramodValavala-MSFT commented on #30514
@TurtleBeach The outage has been mitigated and all services are back to normal. Your issue should have been resolved as well.

Do let us know if that's not the case.

[2019-05-03 01:49] elvirk commented on #30392
Ok - I missed that.

[2019-05-03 01:49] #30392 closed

[2019-05-03 01:49] elvirk commented on #30392
solved.

[2019-05-03 01:50] vishleshpatel commented on #22731
Thanks @artmasa .. Your post helped me find similar non-descriptive error in my templates.

[2019-05-03 01:53] elvirk opened #30523 "Question on test login"
4. Select Download RDP File and then follow the instructions to sign in into the virtual machine using the password stored in the key vault. - To confirm, this means to open KeyVault and copy and paste password?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4b373d-ae48-beb4-c5f2-3fab4d88732e
* Version Independent ID

[2019-05-03 01:55] spelluru commented on #30311
@Daya-Patil - Please share the link to the PR. I thought I had signed off a PR with this change, but I don't see it in the live article. Thanks.

[2019-05-03 01:57] spelluru commented on #30311
@Daya-Patil - Never mind. I see the PR link above and I did sign-off on it. I think it's on hold for until the BUILD. It should be merged on Monday next week. Thanks.

[2019-05-03 02:22] jaspertomas opened #30524 "Problems installing lamp-server^"
In running this instruction in low end Azure VMs (1 virtual cpu, .5 gb ram)
sudo apt update && sudo apt install lamp-server^
I found that often, problems appear with mysql, leaving mysql-server unconfigured and the mysql service unable to start.
Is this a matter of 32bit vs 64 bit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-05-03 02:23] jaspertomas commented on #30524
Title should be "Problems installing lamp-server^ on low end VMs"

[2019-05-03 02:39] DixitArora-MSFT commented on #30451
@axisc Just following up again in case missed the previous communication.

[2019-05-03 03:03] mike-urnun-msft commented on #30521
Hi @TurtleBeach Thank you for your feedback! We will review and update as appropriate.

[2019-05-03 03:09] brunoborges opened #30525 "[Azure Functions/Java] Document behavior and defaults of JAVA_OPTS"
The Java support on Azure Functions comes with defaults for `JAVA_OPTS` settings, as well different behavior when the function runs on a Consumption plan versus a Dedicated/Premium plan.

// @pragnagopa

[2019-05-03 03:21] prajster opened #30527 "Cannot bind parameter 'VirtualNetwork'"
Unable to Bind $VirtualNetwork1 to parameter Virtual network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cb3de0-aac6-49bb-a6b8-e7d1fb422b1e
* Version Independent ID: 9ee114b8-14cc-0bb9-b46e-937cdb406bd3
* Content: [Connect virtual networks with virtual network peering - PowerShell](https://docs.microsoft.com/en-u

[2019-05-03 03:29] SumanthMarigowda-MSFT commented on #30509
@Absoblogginlutely Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:30] SumanthMarigowda-MSFT commented on #30510
@Absoblogginlutely Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:32] tfosmark commented on #9727
It looks like this issue no longer exists, so I am closing this. Thanks!

[2019-05-03 03:32] #9727 closed

[2019-05-03 03:32] SumanthMarigowda-MSFT commented on #30513
Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [Azure Community forum ](https://social.msdn.microsoft.com/Forums/en-US/home?filter=alltypes&sort=lastpostdesc)as it could be better place to get help on your scenario. These forum community members could provide their expert g

[2019-05-03 03:34] SumanthMarigowda-MSFT commented on #30516
@andrewhellyer Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:35] SumanthMarigowda-MSFT commented on #30517
@mayurpuli Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:35] #9736 closed

[2019-05-03 03:35] SumanthMarigowda-MSFT commented on #30520
@tcjohnson71 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:37] SumanthMarigowda-MSFT commented on #30522
@JamesearlThanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:38] SumanthMarigowda-MSFT commented on #30524
@jaspertomas Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:39] SumanthMarigowda-MSFT commented on #30525
Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-05-03 03:41] SumanthMarigowda-MSFT commented on #30523
@elvirk Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 03:42] jamshaidishaque commented on #19298
I am still facing this issue, every time when I try to create a Azure function with maven it is not reading my connection-string from pom.xml and create a new storage account.

I am providing the value like this

<property>
<name>AzureWebJobsStorage</name>
<value>Storage_account_connection-string</value>
<property>

[2019-05-03 03:43] SumanthMarigowda-MSFT commented on #30527
@prajster Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 04:10] ChiragMishra-MSFT commented on #30255
@subashsivaji Thanks for pointing that out. A note will be added very soon there too.

[2019-05-03 04:25] #30123 closed

[2019-05-03 04:25] jakaruna-MSFT commented on #30267
Thanks @MashaMSFT .

@daoenterprise I am closing this issue. One the PR merges, Then we will have the new image on the Document.

[2019-05-03 04:25] #30267 closed

[2019-05-03 04:39] kiwidamien commented on #30323
@ram-msft, thanks for the help. An email has been sent to the address listed.

[2019-05-03 04:52] ndbills opened #30528 "All links are broken (trying to go to MSDN)"
Nearly all of the links in this documentation refer to MSDN and are all broken and result in 404's on Microsoft's website. Please fix!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Get started with Azure Cos

[2019-05-03 04:54] VikasPullagura-MSFT commented on #30408
@chi-ltd Can you please share the screenshot of the error. Also can you let us know from where are you accessing the IIS web-server (from another server or from your laptop-Windows 10).

[2019-05-03 04:59] DixitArora-MSFT commented on #30448
@tony-gutierrez Just checking if you have gone through these [samples](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus/samples) and see if it helps.

[2019-05-03 05:02] PramodValavala-MSFT commented on #30469
@aorsten That section required functions core tools of version 2.6.1071 or higher as mentioned.

Could you confirm if you are using the same?

[2019-05-03 05:15] RohitMungi-MSFT commented on #30470
@alch-msft Could you please help us update the document if it is officially supported for [Paper ](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/paperentityattributes)entity too?

[2019-05-03 05:19] jakaruna-MSFT commented on #30524
@jaspertomas I would say that 512 MB is less for the LAMP server.
You can run the installation in one terminal and then check the amount of RAM and CPU used .
Check the metrics during the installation and after the installation also.

When i tried the installation on the 2 GB server, It used aroung 430 MB during MAX utilization.
After the installation, Its using around 400 MB.  This is without any

[2019-05-03 05:20] jakaruna-MSFT commented on #30524
Also share the error is you are facing during the installation.

[2019-05-03 05:20] RohitMungi-MSFT commented on #30460
@nacharya1 Could you please check if the diagram can be updated so that it supports dark modes of browsers without switching to light mode or downloading the diagram?

[2019-05-03 05:27] PramodValavala-MSFT commented on #30506
@prbans Thanks for the feedback! I guess the fact that App Settings are exposed as environment variables is mentioned in their [reference doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings).

**But** it would be best to have that information in this doc, as it is available for other language-specific docs as well.

@ggailey777 Could you have a section for environmen

[2019-05-03 05:29] RohitMungi-MSFT commented on #30336
@uusimaeki Please do let us know if you are able to use the query to get by KbId in the latest queries?

[2019-05-03 05:53] msrini-MSFT commented on #30468
@nnamedieh , As mentioned in the above comment, you will not be able to use Service Tags for Outbound rules in NSG. So you need to look into other solutions like Azure Firewall. I will close this issue, please tag me if you have any questions.

[2019-05-03 05:53] #30468 closed

[2019-05-03 06:02] Rohitk-2497 commented on #30424
Resolved

[2019-05-03 06:06] #21233 closed

[2019-05-03 06:29] MohitDhingra-MSFT commented on #30306
Hi @stewartadam,

Yes, the "https://apps.dev.microsoft.com/" portal will no longer support registering and managing Azure AD applications here starting May 2019.  We recommend that you manage your existing applications and register new applications by using the App registrations from https://portal.azure.com.

We will now close this issue. Should you have any further queries, please tag me to your

[2019-05-03 06:29] #30306 closed

[2019-05-03 06:49] SadiqhAhmed-MSFT commented on #30520
@tcjohnson71 You just need a PUID to sign-up for Azure. MSA or O365, anything would be fine. That being said, you should be able to sign up to Azure using your Office 365 E3 account.

[2019-05-03 06:54] SadiqhAhmed-MSFT commented on #30485
@vgorbenko Your thoughts please.

[2019-05-03 06:56] KalyanChanumolu-MSFT commented on #30528
@ndbills Thank you for reporting the broken links.
This is being assigned to the content author to update as appropriate. 

[2019-05-03 06:58] jakaruna-MSFT commented on #23945
@nastassiar In Azure docs, For all the services you can navigate to the end of the Table of contents on the left and click on Reference.
Then select the "Resource manager template" option. That will take to to the template for that service.
![image](https://user-images.githubusercontent.com/43405697/57123288-e3770800-6d9e-11e9-9ef2-be380d4636cd.png)

[2019-05-03 06:59] KrishnaG-MSFT commented on #30523
@elvirk Yes, this means to put down the password manually after downloading RDP file. The expectation is that you might already know the password or if you have access to KeyVault then you may get the password from the KeyVault.

[2019-05-03 07:11] SadiqhAhmed-MSFT commented on #30479
@rothja Could you please verify this info and update us here. This might require inputs from PG.

[2019-05-03 07:19] Grace-MacJones-MSFT commented on #29894
Upon further review we feel your feedback would be best received by the doc author, to update the current doc as necessary.

[2019-05-03 07:24] Grace-MacJones-MSFT commented on #29884
Hi @abilous-ti,
We need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID,  and link to this thread. I can enable your subscription to be able to create one.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2019-05-03 07:24] #29884 closed

[2019-05-03 07:39] sidk25 opened #30531 "Data Factory Pipeline Renaming creates new pipeline after deployment"
I was able to setup and deploy everything as mentioned in this page. A scenario I was testing of rename existing Data factory pipeline and then deploying using a DevOps Release Pipeline. It was found that, the existing data factory pipeline was untouched and new pipeline was created with the name which was use to rename the old pipeline. Is this a bug or I am missing some step here.

---
#### Docu

[2019-05-03 07:47] aorsten commented on #30469
[code]
I installed it all yesterday, so I suppose I was using the latest.

[2019-05-03 07:51] vishalaj1 opened #30532 "ModfiedStartDate and ModifiedEndDate does not allow NULL values"
Hi,

When we are trying to pass dynamic values to the modified start and end date we get error:
errorCode": "2200",
    "message": "Failed to convert the value in 'modifiedDatetimeStart' property to 'System.Nullable`1[[System.DateTime, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]' type. Please make sure the payload structure and value are correct. ",
    "failureTy

[2019-05-03 08:29] CHEEKATLAPRADEEP-MSFT commented on #30532
@vishalaj1 Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-05-03 08:31] SnehaAgrawal-MSFT commented on #30327
@Ahmad-Al-Ali Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-03 08:31] #30327 closed

[2019-05-03 08:39] chi-ltd commented on #30408
Hello

Just a page cannot be displayed.

Here are the NSG rules:

[cid:image001.png@01D50194.20160800]

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 05:55
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd<

[2019-05-03 08:44] icefire1 opened #30533 "Documentation seems to be out of date"
The Fabric client methods seem to be out of date. None of the Fabric client calls from the sample code compiles using ServiceFabric 6.4.638

I propose the following edits:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aafb6e-d024-5c2f-7d59-5fee2bf048ba
* Version Independent ID: 80eb15cd-a54b-883b-1d63-2766ed

[2019-05-03 08:46] jtuliani commented on #29349
Thanks George! Not sure how I missed it! Might be worth surfacing more boldly higher up? Just a suggestion.

[2019-05-03 08:46] #29349 closed

[2019-05-03 08:46] VikasPullagura-MSFT commented on #30408
@chi-ltd I am unable to open/see the screenshot you sent. How are you accessing the web-server? Is it from another server or from your laptop (Win10). Please share this information to troubleshoot further.

[2019-05-03 08:48] brechtvhb commented on #25285
Any update on this?

[2019-05-03 08:52] uusimaeki commented on #30336
This query still does not find KbIDs

[code]

[2019-05-03 08:52] VikasPullagura-MSFT commented on #30408
@chi-ltd Can you check from this tool if the Web-server public ip is open on the required port [https://ping.eu/port-chk/](url)

[2019-05-03 09:18] KetanChawda-MSFT commented on #30494
@alexkarcher-msft any thoughts here?

[2019-05-03 09:26] chi-ltd commented on #30408
Apologies, from a desktop (win10 client) in another network over the internet.
Thanks

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 09:47
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd<https://github.co

[2019-05-03 09:27] chi-ltd commented on #30408
Its showing closed.

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 09:53
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd<https://github.com/chi-ltd> Can you check from this tool if the Web-server public i

[2019-05-03 09:35] PeterOrneholm opened #30534 "Make it more clear what languages are supported in "Speech-to-text""
Me myself, including many other, have misunderstood the table for what languages are available for "Speech-to-text".
As we live in Sweden, we have been looking whether or not Swedish is available. When scrolling down to that we have noticed all columns said "No" and really didn't bother on reading the text or column headers. Turns out that by being in the table, the language is supported. When you

[2019-05-03 09:41] VikasPullagura-MSFT commented on #30408
@chi-ltd Requesting you to share the screenshot of the NSG rules to troubleshoot the issue. Also, please check if you have NSG on NIC or Subnet. In case you have 2 different NSG's attached to Subnet and NIC, you need to open appropriate ports on both the NSG's.

[2019-05-03 09:52] phenixita opened #30535 "UploadBlob broken link"
Hi team,
there is a broken link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.blob.cloudblockblob.uploadfromfileasync in the *Upload blobs to the container* section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-

[2019-05-03 10:03] Flodu31 commented on #29972
Thanks for the Tshoot guide.
I found the error and it's my fault, the user where I tried to connect was issued from the Azure AD and not from the Active Directory.
Florent

[2019-05-03 10:03] #29972 closed

[2019-05-03 10:06] nkumars commented on #30435
sdfsdf

[2019-05-03 10:09] chi-ltd commented on #30408
![NSG1](https://user-images.githubusercontent.com/43997657/57131308-e9b3b700-6d93-11e9-9fb0-64a7487e3965.jpg)

[2019-05-03 10:09] chi-ltd commented on #30408
I only have one NSG applied to the VM only, nothing applied to the subnet.  I will post the screenshot.

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 10:42
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd

[2019-05-03 10:17] ChiragMishra-MSFT commented on #30531
@sidk25 Thanks for bringing this to our notice.

I am assigning it to the content owner to review and update.

@gauravmalhot Can you please take a look at this one ?

[2019-05-03 10:18] RohitMungi-MSFT commented on #30534
@PeterOrneholm Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-03 10:22] SadiqhAhmed-MSFT commented on #30281
@sochan1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-03 10:22] #30281 closed

[2019-05-03 10:23] #30445 closed

[2019-05-03 10:23] SadiqhAhmed-MSFT commented on #30445
@stewartadam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-03 10:31] JonathanWilbur opened #30536 "No instructions on where to get the Azure Root Certificate"
I am using DBeaver to connect to a MariaDB instance, and I have to install the root certificate first, before connecting over TLS. I cannot find a root certificate for Microsoft without just taking it directly from the connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 531ced58-9b25-a9d9-6175-ba35f0171340
* Ver

[2019-05-03 10:32] mshansen01 commented on #18015
@Alberto-Vega-MSFT @ine8181 @MGoedtel I don't think "..will work with PG to update..." means closed. This should be re-opened until the doc is actually modified to reflect the resolution of the issue.

[2019-05-03 10:33] PramodValavala-MSFT commented on #30469
@aorsten The problem seems to be a missing `AzureWebJobsStorage` application setting which is really not needed for just a HTTP triggered function. There was an issue raised (and fixed) for this - Azure/azure-functions-core-tools#1256

Note that Extension bundles are a pretty new feature which should be safe to remove for now but they do hope to help when adding different types of functions using

[2019-05-03 11:00] PramodValavala-MSFT commented on #30410
@falmada You're right. In fact, I believe any network-related problem (NSG, Firewall, etc.) would give you this error especially, if its an [Internal ASE](https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase) which I believe it is in your case.

Essentially, the browser should be able to resolve and access the function app from where its running.

We are assigning this iss

[2019-05-03 11:18] AshokPeddakotla-MSFT commented on #30479
@mfalkvidd Please check the [documentation](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#tags-and-properties-format) to understand how tags and properties defined along with the depth. Regarding your first structure, after desired the depth will be 4.
Do let us know if you have further questions.

[2019-05-03 11:20] PeterOrneholm commented on #30534
Thanks! Funny enough since I wrote the comment above, I've heard from yet another person that had misunderstood it. They had been waiting for Swedish for quote some time while it actually is available... :)

[2019-05-03 11:35] SumanthMarigowda-MSFT commented on #30535
@phenixita Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 11:36] mfalkvidd commented on #30479
@AshokPeddakotla-MSFT yes that documentation is clear. Maybe a reference to that documentation could be added to https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits ?

[2019-05-03 11:39] RohitMungi-MSFT commented on #30336
@tulasim88 Could you please help to guide us on how we can correct this? Do we need to reach out through support to fix the issue?

[2019-05-03 11:41] Marusyk opened #30538 "letsencrypt-prod doesn't work"
I follow this guide step by step and at the end change all Let's Encrypt to use prod rather than staging, but it still show me that certificate is not secure:
Issued by/to: kubernetes ingress controller fake certificate.

What is the problem? How can I fix that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-d

[2019-05-03 11:45] ram-msft commented on #30323
We advised the customer to open a support request by providing them one-time free support request enablement. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-03 11:45] #30323 closed

[2019-05-03 11:48] chi-ltd opened #30539 "Raid options"
Hi
I cannot find any info here regarding mirroring of disks.  What is the consensus here?  Not to bother mirroring data disks within a VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked quest

[2019-05-03 11:50] nabilzay opened #30540 "Multiple public IPs with Azure Firewall?"
Is it possible to have multiple Public IPs for DNAT on a VNET with Azure Firewall? I understand Azure Firewall has only one Public IP, but is it possible to use Public Load Balancers or VM level Public IPs in addition to Azure Firewall?

[2019-05-03 11:53] githubavi opened #30541 ""extensionBundle" does not work in deployed Azure Functions"
Hi, I have tried to follow this tutorial and it seems the suggested change in host.json,
 "extensionBundle": {
        "id": "Microsoft.Azure.Functions.ExtensionBundle",
        "version": "[1.*, 2.0.0)"
    }
breaks the Function Runtime when deployed to Azure functions cloud environment. For local testing there is no issue.
Please review and change this part of document accordingly

---
#### Docu

[2019-05-03 11:53] bdschaap opened #30542 "Fault Domain of Availability Test"
Can you discuss fault domains as it relates to Availability Tests?  Yesterday's Azure network outage appears to have reduced the number of availability tests performed in my environment.  Availability shows 100% but I suspect that the tests weren't actually performed to determine whether my site was accessible.  It seems as though the network may be a single point of failure.

---
#### Document De

[2019-05-03 12:12] VikasPullagura-MSFT commented on #30408
@chi-ltd can you please share the screenshot from local browser by (web server) that worked for you.

[2019-05-03 12:15] Daya-Patil commented on #30527
@prajster Which command are you referring to ? I just tried all the commands on article and they work for me.

[2019-05-03 12:29] tomgallard commented on #22940
@MicahMcKittrick-MSFT @cephalin - please can we reopen this one. I am running to problems with automatic migrations using MSI / access token - and I can't see a solution anywhere in this thread.

[2019-05-03 12:41] arnrist commented on #24858
@jeevansd - I downloaded and installed the app now and it is not working.
Can see a error in the logs when trying to enable the app:
nested exception is java.lang.IllegalStateException: The bundle is uninstalled.

Tested on Jira 8.0.0
Tried re-installing the app.
Did you see any issues related to this under your testing?

[2019-05-03 12:55] maulik-modi opened #30544 "Clarify "This standalone Windows Server package is commercially available ""
hi team,

Kindly clarify "Commercially" in this page > notes section. This page says Service Fabric is available at [no cost](https://azure.microsoft.com/en-in/updates/service-fabric-windows-server-ga/)

Also, Docker image is available here : [on this link](https://hub.docker.com/r/microsoft/service-fabric-reliableservices-windowsservercore)

Thanks,
Maulik.

---
#### Document Details

⚠ *Do not e

[2019-05-03 13:00] vishalaj1 commented on #30532
In documentation it says we can give null to modifiedstart and enddate. But i think it does not work when we give null values. Can you verify?

[2019-05-03 13:01] AshokPeddakotla-MSFT commented on #30479
@mfalkvidd Sure, we will look into this. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-03 13:02] jaspertomas commented on #30524
Hello, attached are the full text of the lamp-server installation
as well as error logs from journalctl and systemctl
Insufficient memory is quite enough of an explanation, thank you very much.
Please add this bit of information into the docs.

I was asked to install lamp-server and a website onto a government owned VM
which had
2 vcpus and 32GB ram.
The original installation went fine, then I scr

[2019-05-03 13:26] chi-ltd commented on #30408
Here you go
[cid:image001.png@01D501BC.2F265B60]

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 13:12
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd<https://github.com/chi-ltd> can you please share the s

[2019-05-03 13:26] LasseNisted opened #30545 "Unexpected consent prompt when adding Application Role without scope"
If I create two app registrations (A and B) (in my case in different Azure ADs). Then add two roles to B's appRoles in the manifest (one application type restricted and one user type restricted). Then consent to B in A's AD (via admin prompt), and then add API Permission in A to B.ApplicationRole. Then use the button to grant admin consent. If I then try to auth with A's client ID with B as the re

[2019-05-03 13:27] rothja commented on #30462
@patros Thank you! This helps a lot. My guess is that @cephalin might be the right person to help look at this initially. Cephas, can you let us know if you can help on this limits request? Thank you!

[2019-05-03 13:27] SiliconOrchid opened #30546 "Provide additional information about IsEncrypted setting key."
There is currently only a very brief few words about `IsEncrypted` key.    Could you provide a more detailed explanation, or a link to other resources, as the purpose of this field is unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b6

[2019-05-03 13:28] rothja commented on #30462
@SumanthMarigowda-MSFT Can you reassign this git issue to @cephalin for now and unassign me? @patros Thank you for your patience as we route this issue!

[2019-05-03 13:32] ManojReddy-MSFT commented on #30053
@RickB-0923845 Yes. You are correct.

• Does the user still get a Fabrikam token? Yes, user will get a Fabrikam token as it is allowed in the proxy headers.
• Does Contoso still get a log record? No, Contoso will get a record if Fabrikam is  actually blocked
• Does the log record sent to Contoso show his Fabrikam identity? Contoso will not get any record
• Does the log record sent to Contoso separ

[2019-05-03 13:38] mfalkvidd commented on #30479
Will you remember to add a reference if this issue is closed?
The reason this issue was opened was that I was unable to find relevant information on the page referenced. That page is still lacking the information I asked for, so I wouldn't consider this issue closed.

[2019-05-03 13:42] ManojReddy-MSFT commented on #30437
@netapp-bcammett Did you get a chance to try with the CLI. I am still waiting to get an update from the product team.

[2019-05-03 13:46] nacharya1 commented on #30460
Add others to help while I am oof.
Regards,
Nilesh

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: RohitMungi-MSFT <notifications@github.com>
Sent: Thursday, May 2, 2019 10:20:42 PM
To: MicrosoftDocs/azure-docs
Cc: Nilesh Acharya; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Diagram hard to see connections (#30460)

@nacharya1<https://nam06.safelinks.prot

[2019-05-03 14:16] rajdhandus opened #30548 "Please mention the APIs that support this Unique key Policy"
As of right now - i believe its just Core SQL API that supports this feature..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee0468ba-1b3b-6ba4-d9f6-c60da3e7c486
* Content: [Use unique keys in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-

[2019-05-03 14:18] SumanthMarigowda-MSFT commented on #30536
@JonathanWilbur Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:19] antoniobriones opened #30549 "Mapping of Azure function projects vs Function apps in Azure"
Hi all,

I'm creating two different projects with VS code which deploy two different Azure functions, one with c# as the target language and the other one with Powershell.

I set up both projects to use an existing function app (so that both functions can live in the same app) and disabled the option to delete all files.

However, I found that every time I deploy one of the functions, the deployme

[2019-05-03 14:20] msrini-MSFT commented on #30540
@nabilzay , Azure Firewall doesn't support Multiple IP address as of now. With the LB you can do a PAT to the VMs which is present in the same VNET. You can use the Inbound NAT rule to achieve this.

Let me know if you have any questions.

[2019-05-03 14:20] SumanthMarigowda-MSFT commented on #30538
@Marusyk Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:21] SumanthMarigowda-MSFT commented on #30539
@chi-ltd Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:21] chillryan commented on #30507
@mr-fuller can you send us what's in your Cloud Explorer window to see if there's any issues with pulling your subscriptions in.

![image](https://user-images.githubusercontent.com/12909366/57143371-bae61280-6d8c-11e9-99ee-cea4aaa53bfe.png)

[2019-05-03 14:22] diberry commented on #30478
@horiacristescu Can you please try again? I see both the 'latest' as well as several versions, the latest being '1.1.008510001-amd64-preview`

[2019-05-03 14:23] SumanthMarigowda-MSFT commented on #30541
@githubavi Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:24] SumanthMarigowda-MSFT commented on #30541
@githubavi Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:28] janefreakindoe opened #30550 "This page fails to mention that there's a limit on how many OR operators can be used in a grouping in a pattern."
There is a limit of no more than 2 OR operators in a grouping.  (I'm baffled as to why, but there it is.)  This page should either explicitly mention the limit, or provide a link to:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-patterns#nesting-limits-for-groups-with-or-ing-syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-03 14:31] rothja commented on #30479
@mfalkvidd I can work on adding that link for you. @AshokPeddakotla-MSFT, can you reopen this and assign it to me for tracking. Thanks, and sorry for the confusion.

[2019-05-03 14:31] maamleka opened #30551 "ADF SFTP Connector"
When private key content is stored in Azure Key Vault (AKV) as a secret in Open SSH format, the connector fails to read it from AKV. It works for the passphrase but fails for private key content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-b

[2019-05-03 14:31] Rich-Lang opened #30552 "Need to configure for "Accounts in any organizational directory"."
I followed Option 2 for Registering Application.   I believe there is a missing a step to select "Accounts in any organizational directory" for "Who can use this application or access this API?"  Error Message:

AADSTS50194: Application 'ed1129e8-d1f7-4575-b00e-be5a0cdf47ce'(ASPNet-Tutorial) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such ap

[2019-05-03 14:34] SumanthMarigowda-MSFT commented on #30544
@maulik-modi Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:37] diberry commented on #30550
@janefreakindoe Thank you for posting this issue. Are you saying the tutorial, as written, is broken due to the use of more than 2 OR operators in one of the patterns? Or are you saying that the limit of 2 OR operators should be mentioned in the tutorial even if it isn't used? #in-progress

[2019-05-03 14:38] SumanthMarigowda-MSFT commented on #30545
@LasseNisted Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:39] SumanthMarigowda-MSFT commented on #30546
@SiliconOrchid Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-03 14:40] janefreakindoe commented on #30550
The latter.

Thanks for your quick response!
-Laura

From: Dina Berry <notifications@github.com>
Sent: Friday, May 3, 2019 10:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Laura Jackson <ljackson@precisionlender.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] This page fails to mention that there's a limit on how many OR operators can be

[2019-05-03 14:40] Rich-Lang commented on #30552
As I look closer, the correct selection is "Accounts in any organizational directory and personal Microsoft accounts (e.g. Skype, Xbox, Outlook.com)"

[2019-05-03 14:41] Mike-Ubezzi-MSFT commented on #30222
@wpitallo The Data Explorer experience is slightly different than the Gremlin client experience but the current driver being used by the Portal (Query Explorer, etc.) cannot be updated on an individual basis. You can control this by writing your own client (which you have done) and using the [supported connectors](https://docs.microsoft.com/en-us/azure/cosmos-db/graph-introduction#get-started). Th

[2019-05-03 14:41] #30222 closed

[2019-05-03 14:42] diberry commented on #30550
@janefreakindoe Your suggested change will appear in the documentation on the pattern tutorial by the end of next week.

[2019-05-03 14:50] dpace-cs opened #30553 "Step 14 needs updating"
The directions and screenshot for Step 14 doesn't include the new dropdown box for password hash format and it appears that changing this will affect the success of importing the cert into Azure ADDS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4272d319-e30f-2cf1-53fd-393369def971
* Version Independent ID: 41afbab8-

[2019-05-03 15:08] aquibqureshi26 opened #30555 "No basic NSG creation node snippet is provided"
Hi Team,

I cannot find the NSG creation using python. It would have been awesome if that was also added in this page content.

I'm trying using below but giving an error

[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef185ad-d91d-cfa2-e9f9-a2430a7cc37d
* Version Independent ID: 2fc1caf2-65d5-2bfb-79e7-13d46a02b6e

[2019-05-03 15:22] TurtleBeach opened #30556 "What are requirements/restrictions for dns-name-label (beyond unique in region)"
Is there a maximum length? Are any characters not allowed?
Jack Copper

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62ea62be-5823-191a-17b1-910272d94746
* Version Independent ID: c069a0e1-4025-187e-36b4-257e933681dc
* Content: [Quickstart - Deploy Docker container to Azure Container Instances - CLI](https://docs.micr

[2019-05-03 15:33] jlandgrave opened #30557 "Add a Power Platform Example?"
It would be most useful if you could also show an example of calling an ML Web Service using a Custom Connector and Microsoft Flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Independent ID: b7b8ae97-1801-42b1-431e-c96ca5e958f7
* Content: [Create client to consume depl

[2019-05-03 15:35] CeciAc opened #30558 "Please verify if Service Administrator will lose access after change directory"
@HannahHsiao commented on [Fri Apr 19 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/279)

Please verify if Service Administrator will lose access after change directory. Service Administrator shouldn't lose access after change directory. Thank you.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independ

[2019-05-03 15:36] shalosi commented on #26499
Hello team any update on this?

[2019-05-03 15:50] SubhashVasarapu-MSFT commented on #30261
@JGrusa , Appreciate your patience. **It says NIC starts in No RoCE mode**. RoCE mode generally stands for RDMA pver Converged Ethernet where again RDMA stands for Remote Direct Memory Acess which is responsible for faster & efficient network bandwidth. So, I assume that running in no RoCE mode might not help in getting better bandwidth.
**Now coming to the generated events** ,
**1.**It says that

[2019-05-03 15:54] VikasPullagura-MSFT commented on #30408
@chi-ltd I am unable to open/see the screenshot you sent. Request you to attach it again.

[2019-05-03 15:56] CeciAc commented on #30558
Hi team,
User is reporting incorrect information in the documentation
best regards

[2019-05-03 16:05] RohitMungi-MSFT commented on #30454
@allenwux We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-03 16:05] #30454 closed

[2019-05-03 16:09] aydeisen opened #30559 "CloudStorageInBytes_s when SchemaVersion_s == V2"
In the document, it says that CloudStorageInBytes_s is a valid field, and that SchemaVersion_s should be V2.

When I look in Log Analytics, the only entries that have CloudStorageInBytes_s are ones where SchemaVersion_s is V1.

Is the field still present in V2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b901fad-f1

[2019-05-03 16:11] chi-ltd commented on #30408
![Untitled](https://user-images.githubusercontent.com/43997657/57150517-6cee0080-6dc6-11e9-9723-bb42241ec919.jpg)

[2019-05-03 16:11] RohitMungi-MSFT commented on #30534
@PeterOrneholm The text above the [table](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#speech-to-text) actually says all the languages in the table are supported with different levels of customization.

I would leave it to the documentation team @erhppf  to decide if they would like to consider your request as this would need additional column to mainta

[2019-05-03 16:19] MicahMcKittrick-MSFT commented on #30556
Thanks for the question! We are investigating and will update you shortly.

[2019-05-03 16:20] VikasPullagura-MSFT commented on #30408
@chi-ltd Please drop an email to AzCommunity@microsoft.com with your Subscription ID, VM name and VM Public IP. So that we can troubleshoot it further from our end.

[2019-05-03 16:20] MicahMcKittrick-MSFT commented on #30555
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-03 16:32] jacwil opened #30560 "H-series Size Table a little dyslexic"
Values are swapped in "MPI support" and "Temp storage (GB)" columns for Standard_H16r and also Standard_H16mr.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f65d0-2ef2-bc61-a57d-7607421d3e8a
* Version Independent ID: e5413b4b-bfe6-1e7c-ea31-5ea302d63ae9
* Content: [Azure Windows VM sizes - HPC](https://docs.microso

[2019-05-03 16:32] MicahMcKittrick-MSFT commented on #30539
@chi-ltd for increases disk performance you can strip the disks in Windows or configure a Raid in Linux. We have a best practices for disks here:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-performance

It is technically for SQL but the best practices are the same. They explain how to get the best disk performance out of an Azure VM.

If that i

[2019-05-03 16:33] PtMcBride opened #30561 "OVA to VHD Conversion"
Are there any official documentation on Converting OVA to VHD? As OVA is essentially a tar file holding the VMDK File and OVF (Configuration File), is there a supported conversion or method to bring these files into Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Ind

[2019-05-03 16:34] MicahMcKittrick-MSFT commented on #30429
@ChrisDevriese I will close this for now as multiple of us have been able to run through the doc and it works as expected. Please try the steps again on a new Ubuntu VM and if you are still having issues just let me know.

[2019-05-03 16:34] #30429 closed

[2019-05-03 16:34] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint I will close this for now. If you try the steps again and still have issues just let us know and we can always reopen and continue the discussion.

[2019-05-03 16:34] #29612 closed

[2019-05-03 16:36] krishorrocks opened #30562 "CORS support?"
I've seen many forum posts regarding being unable to call the API from browser clients due to default CORS configuration of the API. Would be great if this page addressed that issue and either provided instructions for how to configure/get around this or at least let people it is a limitation to consuming the API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-05-03 16:37] rimman commented on #30548
because this is a specific capability to Cosmos DB - that's why it is surfaced in our core API.

[2019-05-03 16:39] stewartadam commented on #30445
It's still incorrect, the current title is `Log Analytics`, not Management Solutions or Monitoring Solutions.

Because of all these renames, the overall UX attempting to get new monitoring solutions is poor since Azure ARM resources (like App Insights or Log Analytics workspaces) are mixed in the listings with Log Analytics solutions.

[2019-05-03 16:39] MicahMcKittrick-MSFT commented on #30474
@Shenderchuk after reading through this doc it seems we are talking about encryption at REST and not actual Azure Disk Encryption. So this means the disks stored in the data center are encrypted and the keys are managed by Microsoft. This is different than selecting Azure Disk encryption and encrypting them yourself. So the doc appears correct to me.

@roygara to confirm.

[2019-05-03 16:41] MicahMcKittrick-MSFT commented on #30533
@icefire1 thanks for this. I have assigned this to the content authors to review. Also, if you have a proposed change you can submit a PR against the doc yourself and the authors can review it and merge the changes. This way you get credit for the changes as well.

[2019-05-03 16:45] MicahMcKittrick-MSFT commented on #30544
Thanks for the feedback @maulik-modi I have submitted a fix to the doc. Once the PR merges the changes will go live after a few hours.

[2019-05-03 16:45] #30544 closed

[2019-05-03 16:46] SaurabhSharma-MSFT commented on #30553
@dpace-cs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-03 16:51] erhopf commented on #30534
@PeterOrneholm - We hear your frustrations and will look into an update. We've added this request to our backlog.

#please-close

[2019-05-03 16:57] jeevansd commented on #24858
@arnrist Please reach out to us on SaaSApplicationIntegrations@service.microsoft.com and then we can investigate this issue with you.

[2019-05-03 16:57] jeevansd commented on #24858
#please-close

[2019-05-03 16:58] MicahMcKittrick-MSFT commented on #30385
@jfalameda the IP address is an internal MSFT endpoint. So the call would look like as written. I will make some doc edits to make that more clear :)

[2019-05-03 16:59] ElanShudnow opened #30564 "Vnet-To-Vnet and Site-To-Site"
This article talks about having your Recovery VNET and your Azure VNET to be connected via Vnet-to-Vnet.  Then having a Site-to-Site from on-premises to your Azure network to start forwarding the 192.168.1 to your Azure Network.  But, with some testing and looking for documentation, it doesn't appear that transit connectivity through the Azure Network vnet to the Azure Recovery vnet works.  It see

[2019-05-03 16:59] YutongTie-MSFT commented on #30289
@robcamer Reported to the moderator of the Swagger Document, thanks a lot for your feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-03 16:59] #30289 closed

[2019-05-03 17:00] KrzysztofCwalina opened #30565 "Partitions not explained"
This page refers to partitions. But this concept is not explained. I tried to find an explanation in the Event Hubs overview link, but this document also directly does not explain the concept. I got tired of clicking on links and not being able to find explanations of concepts in this basic "how to get started" guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-05-03 17:00] #30385 closed

[2019-05-03 17:01] erhopf commented on #30522
@JamesEarle + @SumanthMarigowda-MSFT - While the SDK does allow you to use an already created custom models, you **cannot** use the SDK to create/train/deploy custom models. For the latter, you'll need to use the REST APIs: https://westus.cris.ai/swagger/ui/index

[2019-05-03 17:02] himanshusinha-msft commented on #30426
Closing the issue now

[2019-05-03 17:03] MicahMcKittrick-MSFT commented on #30386
@jfalameda if you follow the link to OsProfile there is some more information on these values and where to find them

![image](https://user-images.githubusercontent.com/32313503/57153262-a6a11600-6d8a-11e9-9e94-5f0727ea8cd7.png)

Have you selected that link and reviewed the items?

[2019-05-03 17:03] Karishma-Tiwari-MSFT commented on #30560
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-03 17:04] Karishma-Tiwari-MSFT commented on #30561
Thanks for the question. We are currently investigating and will update you shortly.

[2019-05-03 17:05] MicahMcKittrick-MSFT commented on #30555
@aquibqureshi26 can you provide me the link to the document you are referring to? I am not seeing an actual article you are referencing.

[2019-05-03 17:08] aquibqureshi26 commented on #30555
For NSG. I cannot find any docs article for python. Hence I requested if someone can add NSG creation and attaching the NSG using python then that would be helpful.

I've copied the code snipped from
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-network/tests/test_mgmt_network.py

[2019-05-03 17:09] MicahMcKittrick-MSFT commented on #30556
@TurtleBeach from my understanding, the restrictions can be found here:

https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#containers

![image](https://user-images.githubusercontent.com/32313503/57153561-75751580-6d8b-11e9-84e5-ffb671b15d7b.png)

@dlepow @iainfoulds to confirm though :)

[2019-05-03 17:09] MicahMcKittrick-MSFT commented on #30555
@aquibqureshi26 got it. Thank you. I will take a look and see what I can find.

[2019-05-03 17:10] kobulloc-MSFT commented on #30542
@bdschaap Thank you for reaching out to us!  We'll get back to you with an answer shortly.

[2019-05-03 17:11] aquibqureshi26 commented on #30555
Thanks Mac. :) it would be helpful as I've requested this through pro service request and involved Open source team and i think engineers are not trained on python hence not received any call.

[2019-05-03 17:14] ggailey777 commented on #30546
@SiliconOrchid the default (true) is that we encrypt the setting value using the machine key, similar to how we do it when stored in app settings Azure, for example:

[code]
I will update the article to make this more clear. Thanks for your query.

[2019-05-03 17:14] aquibqureshi26 commented on #26106
Hi,
Following up to check for any update

[2019-05-03 17:15] aquibqureshi26 commented on #30054
Hi,

Just following up to get an update on the thread.

[2019-05-03 17:16] aquibqureshi26 commented on #29861
Hi,

Any update on the query.

[2019-05-03 17:21] nexxai commented on #30426
Just curious why this was closed if the typo is still visible?

[2019-05-03 17:22] MicahMcKittrick-MSFT commented on #30555
Looks like we do have a doc on creating VMs using Python

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/python

Based on this, it would seem that you should create a NSG during this section

![image](https://user-images.githubusercontent.com/32313503/57153874-3d220700-6d8c-11e9-853b-8c82e9a98e2c.png)

Or it could also be created when making the subnet

![image](https://user-image

[2019-05-03 17:22] roygara commented on #30474
@MicahMcKittrick-MSFT Correct, managed disks do not support customer managed keys yet.

[2019-05-03 17:24] SiliconOrchid commented on #30546
Acknowledged, thank you very much for the quick turnaround.

[2019-05-03 17:25] MicahMcKittrick-MSFT commented on #30538
@Marusyk I see you commented on #18497 which is the same problem. I will close this one and we can work on that other issue.

[2019-05-03 17:25] #30538 closed

[2019-05-03 17:27] MicahMcKittrick-MSFT commented on #18497
Hey @iainfoulds

@Marusyk is having a similar issue and I see this item is still open. Did we ever come up with a game plan for this doc/ issue? I can enable people for support if needed as well.

[2019-05-03 17:28] MicahMcKittrick-MSFT commented on #30474
Thanks @roygara

@Shenderchuk I will close for now as everything in the doc is correct. Let me know if you have further questions and we can always reopen and continue the discussion.

[2019-05-03 17:28] #30474 closed

[2019-05-03 17:29] aquibqureshi26 commented on #30555
Thanks Mac for the quick response, As mentioned earlier I've a ticket opened for this with no response. if someone has to update their labor hours then they can do the same in this SR 119050322000673

[2019-05-03 17:33] TurtleBeach commented on #30556
@MicahMcKittrick: While I appreciate the effort, I had in fact reviewed that page, and it does not have an entity named "dns-name-label". Hold a gun to my head, and I would guess the "Public IP Address" entity (NOT the container registry entity) would apply. BUT why should a developer have to guess?? And why should a developer have to go elsewhere (I have about a dozen tabs open right now trying t

[2019-05-03 17:33] iainfoulds commented on #18497
@MicahMcKittrick-MSFT Let's Encrypt would fall under advisory, best-effort through CSS - https://docs.microsoft.com/en-us/azure/aks/support-policies#aks-support-coverage

[2019-05-03 17:35] YutongTie-MSFT commented on #30562
@krishorrocks Thank you for your feedback,  we will investigate it and get back to you soon.

[2019-05-03 17:35] himanshusinha-msft commented on #30551
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-03 17:35] YutongTie-MSFT commented on #30557
@jlandgrave Thank you for your feedback,  we will investigate it and get back to you soon.

[2019-05-03 17:37] MicahMcKittrick-MSFT commented on #30556
@TurtleBeach I agree. If we can get definitive confirmation on any limitations/ recommendations I can easily add them into the steps in this doc to eliminate the guess work.

[2019-05-03 17:40] MicahMcKittrick-MSFT commented on #18497
Thanks @iainfoulds

So for anyone having issues with the prod certificate, we would suggest you reach out to Azure Technical Support. If you do not have the ability to open a technical support ticket, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for that support request.

[2019-05-03 17:41] icefire1 commented on #30533
@MicahMcKittrick-MSFT Sure np, I've created a pull requests at #30533 :)

[2019-05-03 17:46] MicahMcKittrick-MSFT commented on #30533
@icefire1 thanks! Just fyi, the PR merging is offline until 5/6. So I would not expect to have it reviewed till that date or a couple days after.

[2019-05-03 17:47] twooley commented on #19141
This issue is outdated as ADLS Gen2 is GA. Requesting that it be closed. Thanks.

#please-close

[2019-05-03 17:47] icefire1 commented on #30533
@MicahMcKittrick-MSFT Okay, no worries. Thanks for the heads up

[2019-05-03 17:48] ashleywb commented on #30340
@jakaruna-MSFT we create a vm and then add the custom extension. This runs the script as expected (eventually once the custom extension has installed on the vm.

We then update forceUpdateTag so it runs when the vm next starts up.

[2019-05-03 17:49] JamesEarle commented on #30522
@erhopf Thanks, that is consistent with my understanding but I don't feel like the differentation is made clear in this documentation. Perhaps distinguishing between custom model usage (SDK) and custom model management (REST) would help here.

[2019-05-03 17:50] mike-urnun-msft commented on #30549
Hi @antoniobriones Since this channel is for driving improvements towards MS Docs, could you provide us with the URL of the documentation that this feedback is applicable to?

[2019-05-03 17:51] erhopf commented on #30522
@JamesEarle - Agreed. We'll look into an update that clears this up.

[2019-05-03 18:17] Karishma-Tiwari-MSFT commented on #30370
@Shell32-Natsu Is your VM running or in stop state? We would be able to get the information from your VM which will help us troubleshoot, if it is in running state.

On your running VM, please query metadata from within the VM with the following and provide the information back to us.

curl -H Metadata:true "http://169.254.169.254/metadata/instance/compute?api-version=2019-02-01"

As an example, s

[2019-05-03 18:18] KingdomOfEnds commented on #29347
These have been updated. More substantial changes will be made here and in the examples repo if needed.

[2019-05-03 18:18] #29347 closed

[2019-05-03 18:19] JustinGrote opened #30570 "Update Powershell to show it is now in Preview for 2.x"
Powershell is now in preview, this table should reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-48c87f2c59e8
* Content: [Azure Functions runtime versions overview](https://docs.microsoft.com/en-us/azure/azure-functions/f

[2019-05-03 18:20] SaurabhSharma-MSFT commented on #30197
@toddjohnson39 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-03 18:20] #30197 closed

[2019-05-03 18:20] SaurabhSharma-MSFT commented on #30109
@ynijsen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-03 18:20] #30109 closed

[2019-05-03 18:22] rbavery opened #30571 "persistent mount instructions don't work for linux"
I spent an hour with Azure Storage support troubleshooting these instructions for persistent mounting on the linux data science VM, no progress was made. I can do non persistent mounting with blobfuse and these instructions, but the persistent instructions don't actually mount anything, I'm just stuck with an empty mount point.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-05-03 18:27] kgremban commented on #29173
Hi @Gamecock, following up on this issue. Have you been able to notice a pattern to the switching module names yet? Do you find yourself changing deployment methods, or deployment manifests while testing? It may be that the best way to prevent other users from having this same experience is to standardize that module name across all our samples, but I'm also just curious if you discovered anything

[2019-05-03 18:27] ggailey777 commented on #30570
Thanks @JustinGrote. We have the fix in the [private repo](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75479), it's just been delayed by //Build publishing. This should go live Monday am.

[2019-05-03 18:28] ggailey777 commented on #30570
#please-close

[2019-05-03 18:28] kgremban commented on #28187
@Exlsunshine I got confirmation that this functionality is only in the C# SDK at the moment. Does that answer resolve this issue?

[2019-05-03 18:29] Shell32-Natsu commented on #30370
It is in the running state. The VM ID is 29a5dc1e-8ce1-4064-8371-f24776b11a10.

The output of the command

`curl -H Metadata:true "http://169.254.169.254/metadata/instance/compute?api-version=2019-02-01"`

is:

[code]

[2019-05-03 18:30] kgremban commented on #27696
@mill5james Did you have a chance to test whether the difference in your two code samples was the capitalization of the parameter, rather than the use of brackets?

[2019-05-03 18:31] kgremban commented on #27078
@AshokPeddakotla-MSFT can you #please-close this issue, and we can reopen it if @erwelch reports that they're still having trouble setting up the VM?

[2019-05-03 18:34] rbavery commented on #30571
To reproduce, start this vm: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-dsvm.linux-data-science-vm-ubuntu

have a file share with some data, and follow the persistent mount instructions. Or go to Azure Portal and to your fileshare and use the mount command provided by the "Connect" button.

[2019-05-03 18:38] johncrim opened #30572 "Clarify typeHandlerVersion(s)"
It's not clear what the relationship is between typeHandlerVersion in the ARM JSON, vs the extension version. This should be clarified in the docs.

FWIW, this extension version seems to work (so far), so my guess is that the major.minor part of the version number can be used for `typeHandlerVersion`:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-05-03 18:43] bearrito opened #30574 "Confusion on CA capabilities"
There article appears misleading
It states in one portion:

Currently, only downstream devices with symmetric key authentication can connect through IoT Edge gateways. X.509 certificate authorities and X.509 self-signed certificates are not currently supported.

Then later says

When a device connects to an IoT Edge gateway, the downstream device is the client and the gateway device is the server.

[2019-05-03 18:49] MicahMcKittrick-MSFT commented on #30572
@johncrim you can find information about the versions of the extensions as found here:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows

Would you think adding a note and providing a link to the above doc would suffice?

[2019-05-03 18:51] jsandersrocks opened #30575 "Tutorial does not work as written"
there is no csproj file that the note talks about and running as written results in

[5/3/2019 6:49:20 PM] The following 3 functions are in error:
[5/3/2019 6:49:20 PM] E1_SayHello: The binding type(s) 'activityTrigger' are not registered. Please ensure the type is correct and the binding extension is installed.
[5/3/2019 6:49:20 PM] HttpStart: The binding type(s) 'orchestrationClient' are not reg

[2019-05-03 19:02] rwike77 commented on #29293
@christerengman  The article has been updated, thanks for bringing this up.  #please-close

[2019-05-03 19:04] Silverlight42 opened #30576 "Update Starburst Presto Version"
The Presto version offered is now v302-e.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c813b82-2890-64ef-8449-1fa13e854848
* Version Independent ID: f466b61b-1532-79c0-f4ec-4e336ec9fe70
* Content: [Install third-party applications on Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-apps-in