[2020-10-13 19:00] #42383 closed

[2020-10-13 19:11] KranthiPakala-MSFT commented on #64075
Hi @linda33wj , could you please add the below image which is missing as per the feedback.

![image](https://user-images.githubusercontent.com/50185738/95905002-220f4100-0d4d-11eb-888b-d27a9cbe8c3a.png)

Thank you

[2020-10-13 19:11] himanshusinha-msft commented on #63883
Hello @gopasupa , I did run a very basic test and i can see that the logs are flowing throwing to the log analytics . I was able to see the logs within 15 mins .

On the ADB side this is what my setting is .
<img width="730" alt="1" src="https://user-images.githubusercontent.com/47539458/95904476-6d751f80-0d4c-11eb-9a1e-db38db80281d.PNG">

I did a very simple query on log analytics side .

AzureAc

[2020-10-13 19:11] #63883 closed

[2020-10-13 19:13] chandhru1 commented on #62981
Hello,

We are running into the same issue

We would like to run multiple Cisco CSR 1000v's behind two azure Standard Internal Load balancer, however we couldnt run it because of this limitation

Azure ILB -> Cisco CSR1000v Router 1 External NIC0  <--> Cisco CSR1000v Router 1 External NIC1  <-->  Azure ILB
                     Cisco CSR1000v Router 2 External NIC0  <--> Cisco CSR1000v Router 2 Ext

[2020-10-13 19:21] alex-rolls commented on #64034
Thank you for your help.

Alex Rolls
Data Platforms & Development | Data Platforms Admin
Enterprise Data Services

T: 023 80304423 (ext 24423)
E: alex.rolls@ageas.co.uk<mailto:alex.rolls@ageas.co.uk>
W: www.ageas.co.uk<http://www.ageas.co.uk>

Ageas Insurance Limited, Ageas House, Hampshire Corporate Park, Templars Way, Eastleigh SO53 3YA

[cid:image001.jpg@01D6A19E.4F3C87C0]<http://www.ageas.co.u

[2020-10-13 19:24] HarmanDhunna commented on #64073
Hi @thomaschadwick,

Would you able to verify if the redirect_uri you are using is registered as SPA or installed client(native client)?

[2020-10-13 19:32] KranthiPakala-MSFT commented on #64065
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2020-10-13 19:32] #64065 closed

[2020-10-13 19:39] Kraftwerx opened #64327 "Doc bug in code snippet to enable NFS preview"
the line continuation ticks are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b539-d2ea-48ce-00f63a8bf99e
* Content: [Create an NFS share - Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-create-nfs-

[2020-10-13 19:39] mcough2 opened #64328 "Doc or Blog?"
Since commit 399b814 (Sep 2, 2020) this doc diverged from a typical MSFT doc to something closer to an opinionated blog. Perhaps this should be moved to a blog or updated to a more typical MSFT doc page.

For Instance:
"The most common reason Azure Event Hubs customers ask for Kafka Streams support is because they are interested in Confluent's "ksqlDB" product."
"The licensing terms might also aff

[2020-10-13 19:42] SadiqhAhmed-MSFT commented on #64281
@Sharmistha-Rai FYI

[2020-10-13 19:43] D-Moonesinghe commented on #63982
Thank you Baratha for an excellent job.

On Tue, Oct 13, 2020 at 2:09 PM BharathNimmala-MSFT <
notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moonesinghe@gmail.com

[2020-10-13 19:47] SubhashVasarapu-MSFT commented on #64023
@Bouke, Appreciate your patience. Outbound connections have a 4-minute idle timeout. This timeout is adjustable via [Outbound rules](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview#idletimeout). You can also use transport (for example, TCP keepalives) or application-layer keepalives to refresh an idle flow and reset this idle timeout if necessary.

[2020-10-13 20:02] thomaschadwick commented on #64073
It is registered as a SPA. When we try to use 'native client' it doesn't provide a refresh token.

[2020-10-13 20:03] artisticcheese commented on #49586
Please update documentation already. Somebody have to go and find this Github ticket for instructions to work where user is not part of tenant being onboarded to

[2020-10-13 20:22] MarileeTurscak-MSFT commented on #64320
@Torxsmind
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 20:24] MarileeTurscak-MSFT commented on #64322
@SimonT-STHS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 20:25] Ajayan1008 commented on #63417
Just to let you know, we are working on this. Thanks.

[2020-10-13 20:26] Ajayan1008 commented on #63434
This is in progress. Thanks for raising the issue.

[2020-10-13 20:28] PeterCLu commented on #64113
@rschiefer, thanks for your report. As of September 2020, Enterprise edition and Basic edition have merged. You no longer need to set an edition. You can learn more about the, see [What happened to enterprise edition](https://docs.microsoft.com/en-us/azure/machine-learning/concept-workspace#what-happened-to-enterprise-edition).

I'll update the documentation to clarify this. Thank you!

[2020-10-13 20:36] HarmanDhunna commented on #64073
Gotcha! B2C has not officially started supporting SPA applications, but as we are starting to support SPA apps, we'll require  code_challenge. If there is documentation that says we don't require code_challenge for SPA apps, we'll need to correct that right away.

As for the native client not being able to get a refresh token. What is being returned when you request for refresh_token? I believe yo

[2020-10-13 20:38] WinstonHoward-MSFT commented on #64291
Thanks for the question, I'm taking a look.

[2020-10-13 20:39] vick-git commented on #64291
@WinstonHoward-MSFT , thanks a lot, waiting to hear from you. I am happy to provide any details as needed.

[2020-10-13 20:42] #64328 closed

[2020-10-13 20:53] WinstonHoward-MSFT commented on #64291
Hi @vick-git , I'm not seeing the `Get-AzStorageContainer` command specified in this doc. To clarify what doc is this issued tied to? Thanks.

[2020-10-13 21:01] normesta commented on #19798
I believe that the original question was addressed although /SourceSAS:SAS1 appears to refer to AzCopy V8 syntax. Closing issue as this entire article was revamped for AzCopy v10. @jackbond if there is something specific about the current version of this article that is inaccurate please open an issue that points us to the specific area of content that requires edits. Thank you!

[2020-10-13 21:01] normesta commented on #19798
#please-close

[2020-10-13 21:01] #19798 closed

[2020-10-13 21:01] JamesTran-MSFT commented on #64304
@krob527
Thanks for the quick reply!

From the documentation, I see that the screenshots are outdated. However, when you mention the "application access options", are you referring to the User Access URL? Or something else?

The other portions within the documentation screenshots, can be found within the App Registrations portion of AzureAD.
-AzureAD -> App Registrations -> Select your app registr

[2020-10-13 21:03] evertonmc commented on #64202
Hey @AnuragSharma-MSFT, @lfittl-msft thank you very much for the quick and efficient response.
Looking forward to use this in production.
I’ll meanwhile close this one

[2020-10-13 21:03] #64202 closed

[2020-10-13 21:04] normesta commented on #20736
Thanks for the feedback @WyattBest. The AzCopy v8 content has been archived and is no longer being maintained. We recommend using AzCopy V10. If after reviewing that content (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10) you find something inaccurate or misleading, please do open an issue. Thank you!

[2020-10-13 21:04] #20736 closed

[2020-10-13 21:09] normesta commented on #64261
@DCtheGeek can you help with this? I'm unfamiliar with these controls.

[2020-10-13 21:12] vick-git commented on #64291
@WinstonHoward-MSFT , this one- https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell#list-directory-contents

Tried this command first - AzDataLakeGen2ChildItem
Then tried, Get-AzStorageContainer

Either way, I facing issues listing containers or listing blobs inside containers. I am trying for my adls gen2 account (vadls)

[2020-10-13 21:16] JamesTran-MSFT commented on #64300
@nrmzz
I have created a PR to update the documentation with [this link](https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa?toc=/azure/active-directory/conditional-access/toc.json&bc=/azure/active-directory/conditional-access/breadcrumb/toc.json#create-a-conditional-access-policy) and will now close out this issue. Please allow some time for the changes

[2020-10-13 21:16] #64300 closed

[2020-10-13 21:16] DCtheGeek commented on #64261
@normesta The list is everything that maps to Azure Policy Regulatory Compliance for the `Microsoft.DataLakeStore`.  If that RP covers both "Gen1 and Gen2" or "only Gen1" we should probably update both the title of the page itself to properly reflect that as well as enhance the description of the definition itself.  I'll start an internal email and add you to it.

[2020-10-13 21:31] normesta commented on #64261
Ok thank you @DCtheGeek! I'll await final confirmation. @vsriram-binary - we will keep you updated with what we learn. Thank you for raising this to our attention!

[2020-10-13 21:38] cpdohert opened #64331 "PowerShell instructions are incorrect, mix AzureRm and Az module syntax"
You've copy-pasted the PowerShell script instructions from DigiCert's web site, but those instructions are for the AzureRm PowerShell Module, version 2.18.  You're using `Login-AzAccount` which is an Az module command, but several of the following commands use AzureRm syntax which will not work with Az module 4.8 under PowerShell 7 (for instance, "-IssuerName" in Set-AzureKeyVaultCertificateIssuer

[2020-10-13 21:43] MattMellifont opened #64332 "Using a forward lookup zone on onprem windows DNS server"
Hi,

**Scenario**
I have been successful in setting up a forward lookup zone for database.windows.net and then adding in a cname that points sqlservername --> 192.168.1.1 (private endpoint IP). Therefore resulting in all requests to sqlservername.database.windows.net in the internal on premise network to route via our Azure VPN to the specified private endpoint IP and therefore hitting the PaaS SQ

[2020-10-13 21:52] vikramdadwal opened #64333 "Data consistency verification in copy activity does work if the source is Sql and destination is Azure Data Lake Gen2 ?"
[Enter feedback here]

Data consistency verification in copy activity does work if the source is Sql and destination is Azure Data Lake Gen2 ? If yes, how it does that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70956e0c-ddec-96a9-e1d4-d25dc54f7a28
* Version Independent ID: 385b0054-fc50-a103-0b3d-53aa3fc20e64
* C

[2020-10-13 22:01] kenwith commented on #64304
@krob527 - I see your point and agree it is very confusing. I am fairly new on the team and getting my head around why there is an "App registrations" and "Enterprise applications" and how they work together has been a pain. I added some information to help clarify. You are exactly right that if an app was added through app registrations the fields are different. Hopefully the note will help other

[2020-10-13 22:01] #64113 closed

[2020-10-13 22:01] kenwith commented on #64304
https://github.com/MicrosoftDocs/azure-docs-pr/pull/133744

[2020-10-13 22:02] kenwith commented on #64304
#please-close

[2020-10-13 22:02] #64304 closed

[2020-10-13 22:04] bychkov opened #64334 "Incorrect example for cross-domain policy"
Example for cross-domain policy is incorrect. Second level node should be <cross-domain-policy> and NOT <cross-domain> as specified in example. See correct example below:

        <cross-domain>
            <cross-domain-policy>
                <allow-http-request-headers-from domain="*" headers="*" />
            </cross-domain-policy>
        </cross-domain>

---
#### Document Details

⚠ *Do not

[2020-10-13 22:07] Mike-Ubezzi-MSFT commented on #64292
Hi, @ezYakaEagle442. Thank you for taking the time to inquire about ARM supportability. I am going to have an engineer who supports this area engage you directly. In the mean time, if you can deploy the following: [Connect an Azure Arc-enabled Kubernetes cluster (Preview)](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/connect-cluster) where in the [Before you begin](https://docs.micr

[2020-10-13 22:14] JamesTran-MSFT commented on #64331
@cpdohert
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-13 22:21] JamesTran-MSFT commented on #64309
@RedWasVenting
Did you follow the [Sign in to your accounts using the Microsoft Authenticator app](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-sign-in) or the [Frequently asked questions (FAQ) about the Microsoft Authenticator app](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-faq) documentation?

I'd recommend posting

[2020-10-13 22:21] #64309 closed

[2020-10-13 22:27] joshkyh commented on #64078
Hi @gvashishtha,

Yes, I think the use of global variables is unavoidable, and suppression is the only way out. "If we had not specified variable as `global` within init(), Python would have created a new local variable (within init(), leaving the module level value unchanged).

![image](https://user-images.githubusercontent.com/14764966/95922375-dfa63c80-0dfe-11eb-9a17-8ebb7a3b5709.png)

I believ

[2020-10-13 22:27] #64078 closed

[2020-10-13 22:42] MartinJaffer-MSFT commented on #64051
Thank you for your feedback, @jpaulo-kumulus  . This has been assigned to the content owner, @linda33wj  and will be updated as appropriate.

[2020-10-13 22:52] jakehockey10 commented on #64073
@yoelhor Thanks for the response.  I was just reporting the error code not being in the documentation, and I think I understand why it isn't now.  I am using the msal-angular library, so I'm not sure of the internals of what is going on enough to elaborate further.  This was something that occurred for about 20 minutes the other day and then seemed to go back to normal.

[2020-10-13 22:55] verbedr opened #64335 "Error in code example"
I think that the code on this page

public void ConfigureServices(IServiceCollection services)
{
    services.AddAzureSignalR();
}

should be

public void ConfigureServices(IServiceCollection services)
{
    services.AddSignalR().AddAzureSignalR();
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b9

[2020-10-13 23:02] JamesTran-MSFT commented on #64073
@jakehockey10
Thank you for the quick response! Since this issue was created by you and is resolved, I'll go ahead and close out this issue.

@thomaschadwick, if you'd like to continue this conversation with @HarmanDhunna feel free to create a new ticket or you can email me using the information below and I can connect you to Harman offline.

Email: AzCommunity@microsoft.com
Subject: ATTN - James

[2020-10-13 23:02] #64073 closed

[2020-10-13 23:39] gregdegruy commented on #63977
Thanks Subhash, that answers my question.

[2020-10-13 23:39] #63977 closed

[2020-10-13 23:57] Karishma-Tiwari-MSFT commented on #64042
@fgheysels Can you please share the region you have ACI deployed?
It is a known issue which have been fixed in certain regions already and in the process of rollout in remaining regions as well. In the meantime, can you please try the workaround - stop the container group, wait 2 minutes, and start your container group instead of restart.

[2020-10-14 00:07] Karishma-Tiwari-MSFT commented on #64060
@erikadoyle Let me know if you approve this change of removing that section in the doc and I can update it.

[2020-10-14 00:11] Karishma-Tiwari-MSFT commented on #64152
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-14 00:32] BharathNimmala-MSFT commented on #63907
@wedaly My sincere apologies for delayed response on this.

Thanks for sharing the private [repo](https://github.com/CharanBR/azure-docs/blob/bba7bbf5a145fa3b4ca51fd6b17e90b279057c8d/articles/azure-monitor/platform/template-workspace-configuration.md), was able to deploy the workspace with immediatePurgeDataOn30Days property.

![Data_Rentention](https://user-images.githubusercontent.com/45180002/9

[2020-10-14 00:32] #63907 closed

[2020-10-14 00:42] Amos-Matthew commented on #64079
I will retry using your instructions.

Thank you!

[2020-10-14 00:52] takekazuomi commented on #62950
I have the same problem

[2020-10-14 01:11] sereilly opened #64337 "Wrong class name for ModelData"
DigitalTwinsModelData should just be ModelData

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5389e8ca-c178-1b35-5745-105638c647c6
* Version Independent ID: c0e2213c-aba0-24b9-4285-644ca1d39837
* Content: [Tutorial: Code a client app - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-c

[2020-10-14 01:24] MarileeTurscak-MSFT commented on #64322
@SimonT-STHS thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/133783

CC: @MicrosoftGuyJFlo

[2020-10-14 01:24] #64322 closed

[2020-10-14 01:26] WenJason commented on #64274
@AnuragSharma-MSFT Refer to this [article](https://docs.microsoft.com/en-us/azure/mysql/concepts-ssl-connection-security#ssl-default-settings), the sovereign clouds' certificate links are different from the global's. So I have a little confusion. Thanks.

[2020-10-14 01:35] ynorvo opened #64338 "new Azure AD SSO UI is only able to dispaly 15 characters"
Hi Microsoft,
Looks like the new Azure AD SSO UI: https://myapplications.microsoft.com is only able to dispaly 15 characters to the single app name under the icon, is it possible to be increased?
![image](https://user-images.githubusercontent.com/50066732/95933293-c9997b80-0e00-11eb-9e90-4c5dc22353f7.png)

https://myapps.microsoft.com/ is able to display at least 25 characters.
![image](https://us

[2020-10-14 02:01] WinstonHoward-MSFT commented on #64175
Hi @Venkateshkuppusamy, thanks for your issue and patience. This tutorial uses the CLI within the Azure Cloud Shell. That being said you can download the Azure CLI and use it locally on your Windows 10 PC but there are a few things to be careful of.

1. Ensure your `cloud-init.txt` file is stored in the directory where your executing commands for the CLI to find it.
2. Use Portal to delete the VMs

[2020-10-14 02:21] WinstonHoward-MSFT commented on #64285
Hi @thommck ,

You can the VM specific specs on the VMs corresponding page under the VMs Types and Sizes doc [here](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes). For example the `Standard_A1_v2` VM of the Av2-series supports a maximum of 2 data disks and does not support preimium storage. I found that information from the Av2-series VM page [here](https://docs.microsoft.com/en-us

[2020-10-14 02:36] vick-git commented on #64291
@WinstonHoward-MSFT , just an added FYI, Get-AzStorageContainer works well for gpv2 account, just not for adls.

[2020-10-14 02:50] blueww commented on #64291
@WinstonHoward-MSFT

Could you share the version of Az.Storage do you use? You can share the result of "Get-module" after the issue repro?

And please also share the debug log for the failure. (rerun the failure command with "-Debug" parameter, please hide any confidential).

BTW, for Azure Powershell issue, the normal way is open an issue in https://github.com/Azure/azure-powershell/issues. If yo

[2020-10-14 02:53] MonikaReddy-MSFT commented on #64310
@deepakkhetwal -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-14 03:13] gary918 opened #64343 "Request to have an inference config file in xml format."
- [ ] The relevant Azure service or technology.
machine-learning

- [ ] A link to the published documentation article that you have feedback about.
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/machine-learning-service-inference-config.md

https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#inference-configuration-schema

- [ ] Clear, spe

[2020-10-14 03:18] vick-git commented on #64291
@blueww , I am using 2.7.0 https://www.powershellgallery.com/packages/Az.Storage/2.7.0.
![image](https://user-images.githubusercontent.com/57968021/95939272-86072900-0d90-11eb-8a75-d5b364042129.png)

The debug file: [Debug.txt](https://github.com/MicrosoftDocs/azure-docs/files/5375385/Debug.txt)

Sure will note that going forward, Wei. I just clicked on the feedback section from Get-AzDataLakeGen2

[2020-10-14 03:26] AnuragSharma-MSFT commented on #64199
@papadi We will now proceed to close this thread. PR should be live in few days. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-14 03:26] #64199 closed

[2020-10-14 03:37] SnehaAgrawal-MSFT commented on #64335
@verbedr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 03:38] #64079 closed

[2020-10-14 03:45] blueww commented on #64291
@vick-git

From debug log, the error is :
[code]

Please check if the URI is correct for your account? Have your account really enabled HierarchicalNamespace?

If it's correct and HierarchicalNamespace is enabled, It looks like your machine has problem to access the dfs endpoint of your account. This should be an environment issue, not only Powershell, but also SDK/Tools will also fail on this mac

[2020-10-14 04:02] qtuner opened #64346 "protected resource map url is case sensitive"
please add that the protectedresourcemap  url is case sensitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1889fcfe-437f-f8cb-2de9-f4eb605f5430
* Version Independent ID: 6e6d0777-15c3-4002-ce38-64365ba01436
* Content: [Tutorial: Create an Angular app that uses the Microsoft identity platform for authentication - M

[2020-10-14 04:04] ram-msft commented on #64323
@KeithWalton Thanks for the question! We will review and update accordingly.

[2020-10-14 04:10] kudlatiger opened #64347 "Can Azure function in one region communicates to Virtual machine in other region using VNET peering?"
[Can Azure function in one region communicates to Virtual machine in other region using VNET peering?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure Virtual Network peering](https://docs.microsoft.com/

[2020-10-14 05:04] CHEEKATLAPRADEEP-MSFT commented on #64328
@mcough2  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-10-14 05:05] HarithaMaddi-MSFT commented on #64333
@vikramdadwal - Thanks for posting the question. I will get back to you with more details.

[2020-10-14 05:09] saimachi commented on #64279
Hello @HeidiSteen, thank you for your response.

When I try to access the indexer through the portal, I see that "The data is temporarily unavailable".

Using the REST API, I am able to get details about my indexer, yet when I check the status, I see the same 500 error. I can post indexer details (JSON data) if necessary.

[2020-10-14 05:29] vick-git commented on #64291
@blueww , thanks much. Resolved it, it was the endpoint issue. Plus as discussed, worked on setting the Acquire Lease the right way - $blob.ICloudBlob.AcquireLease($leasePeriod, $null, $null, $null, $null)

Appreciate it with quick responses.

[2020-10-14 05:29] #64291 closed

[2020-10-14 05:32] amanmcse commented on #64210
Closing out as duplicate of #1269

[2020-10-14 05:32] #64210 closed

[2020-10-14 06:06] CHEEKATLAPRADEEP-MSFT commented on #64246
@shailendrabirthare  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-14 06:06] #64246 closed

[2020-10-14 06:09] bgawale commented on #38069
This still seem to be an issue as we are facing same issue. The api seem to be responding fine when invoked from Postman but fails when invoked from ADF Web Activity.
Api is simple - Uses basic authentication, tried configuring it web activity i.e. reading password from Azure key vault but always returns with 401 Unauthorized.

[2020-10-14 06:10] CHEEKATLAPRADEEP-MSFT commented on #64178
@kunamneni117  Yes, Azure Devops and Databricks needs to be created within the same account.

Your feedback  has been shared with the content owner for further review.

[2020-10-14 06:21] JayaChatterjee-MSFT commented on #64334
@bychkov Thank you for your feedback! We will review and update as appropriate.

[2020-10-14 06:21] SubhashVasarapu-MSFT commented on #64347
@kudlatiger, Thanks for reaching out. We will investigate and update this thread.

[2020-10-14 06:30] dcurwin commented on #64164
I hope this answered your question. Thanks for reaching out.

#please-close

[2020-10-14 06:30] #64164 closed

[2020-10-14 06:34] Sharmistha-Rai commented on #64281
@rockboyfor - thanks for bringing this to our notice.
For issue one, I will update the steps listed for navigating to vault.
For issue two, where is the lag occurring, exactly? After clicking 'Next' on the Virtual Machine selection tab or after clicking 'Enable replication'?

[2020-10-14 06:35] SaiKishor-MSFT commented on #64136
@RonnieQuan
You can create different backend pools for different types of requests. You can then use host headers in the listener to use the appropriate backend as needed. So this is a supported setup. If you have any further questions/concerns, please let us know.

[2020-10-14 06:36] aralvar opened #64352 "Maximum Idle timeout for NAT GAteway"
In this article it is mentioned that idle timeout can go from 4 to 10 mins. But the actual maximum value for the timeout is 2 hours (120 mins)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba948130-9ae2-4e15-398e-3573c46d5392
* Version Independent ID: f2bed927-309d-d106-c126-b07d357b880e
* Content: [Tutorial: Create a

[2020-10-14 06:41] SubhashVasarapu-MSFT commented on #64352
@aralvar, Thanks for reaching out. We will investigate and update this thread.

[2020-10-14 06:45] VikasPullagura-MSFT commented on #64292
@slack Can you please check and add your comments on this issue.

[2020-10-14 06:49] HenriSchulte opened #64353 "Typo in voice name for en-GB-RyanNeural"
The voice name for the Ryan voice is listed as "En-GB-RyanNeural". This will not be recognized as a valid voice. Instead, "en-GB-RyanNeural" works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language supp

[2020-10-14 07:05] algattik opened #64354 "Improve accessibility"
The image is very hard to read. When clicked to zoom in, the lines following Switzerland are clipped.
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/22099722/95954888-50982500-0dfc-11eb-9ae7-35c74501e50e.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56b

[2020-10-14 07:13] kasunsjc commented on #64235
FYI - I found below too
https://community.powerbi.com/t5/Developer/Error-creating-Power-BI-output-in-Azure-Stream-Analytics/td-p/938576#

[2020-10-14 07:19] shivaprathipati opened #64355 "Apache Kafka Connect support on Azure Event Hubs - Is this feature still in preview?"
Is this feature still in preview? Is there a timeline for making this feature generally available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a585d03f-fa14-f78f-65d7-c8a92b6f1c1f
* Version Independent ID: 7420d0da-80c7-4289-68dd-b131baf3ee70
* Content: [Integrate with Apache Kafka Connect- Azure Event Hubs - Azure

[2020-10-14 07:21] yoelhor commented on #57368
The Culture claims resolvers are based on the following .Net properties
- `{Culture:LanguageName}` - [CultureInfo.TwoLetterISOLanguageName](https://docs.microsoft.com/dotnet/api/system.globalization.cultureinfo.twoletterisolanguagename)
- `{Culture:RegionName}` - [RegionInfo.TwoLetterISORegionName](https://docs.microsoft.com/dotnet/api/system.globalization.regioninfo.twoletterisoregionname) of the

[2020-10-14 07:21] yoelhor commented on #57368
#please-close

[2020-10-14 07:21] #57368 closed

[2020-10-14 07:36] HarithaMaddi-MSFT commented on #64333
@vikramdadwal - As per the below lines from documentation, the data consistency verification will only check for row count when copy activity is moving data from SQL to ADLS Gen2 and if mismatch is found, then it is considered as inconsistent.

_When copying a table in single copy activity with data consistency verification enabled, copy activity fails if the number of rows read from the source is

[2020-10-14 07:39] VikasPullagura-MSFT commented on #64353
@HenriSchulte Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-10-14 07:39] cedarbaum commented on #64235
@kasunsjc - can you please try using PowerShell and let us know if this option works? Instructions can be found here: https://docs.microsoft.com/en-us/azure/stream-analytics/powerbi-output-managed-identity#use-the-power-bi-powershell-cmdlets

[2020-10-14 07:39] HarithaMaddi-MSFT commented on #64355
@shivaprathipati - Thanks for posting the query. I will check with the product team and will get back to you with more details.

[2020-10-14 07:41] ErnestBrant commented on #64164
Hello dcurwin

Thanks very much for taking the time to reply yo my query, much appreciated

Ernest

[2020-10-14 07:43] yuemlu commented on #64077
@emilylagoand Sorry for the delay response. We found a Portal regression on the Configuration page that resets the AD feature flag. We are conducting a hotfix to address this Portal regression. It is expected to be fixed by end of the week.

[2020-10-14 07:44] #64353 closed

[2020-10-14 07:45] yoelhor commented on #55126
Thanks for the feedback. This issue has been fixed, and the following is considered a valid response:

[code]

[2020-10-14 07:45] yoelhor commented on #55126
#please-close

[2020-10-14 07:45] #55126 closed

[2020-10-14 07:45] NT-D opened #64356 "Please add range of host.json parameters"
Would you please describe value range of parameters in `host.json` ?

I got following error when I set 1 to `prefetchCount`.
[code]
Because the data range is not documented, I unexpectedly get this exception. I think it's good for other developers to write min/max value of `batchCheckpointFrequency`, `maxBatchSize` and `prefetchCount` in the document.
https://docs.microsoft.com/en-us/azure/azure-f

[2020-10-14 07:48] KalyanChanumolu-MSFT commented on #64337
@sereilly Thank you for reaching out and providing feedback.

Yes, you are right.
The documentation page references version 1.0.0-preview.3 of Azure.DigitalTwins.Core where the class name is ModelData

We are renaming the below classes in version 1.0.0-preview.4 and the documentation is being updated accordingly to accommodate the upcoming release.

"ModelData" to "DigitalTwinsModelData"
"RequestO

[2020-10-14 07:52] #63979 closed

[2020-10-14 07:53] #64036 closed

[2020-10-14 07:54] psmanhas commented on #64260
@kingces95 I tried to follow the article and I was able to get the bash shell in container as below:

![image](https://user-images.githubusercontent.com/35990743/95959710-7505f880-0e20-11eb-94e3-806b9b4d3714.png)

Can you let me know what error are you getting and what permission you have over resource and directory?

Thanks

[2020-10-14 07:57] Shuhuiling opened #64357 "make the X-Forwarded-For header shown in the accesslog of Frontdoor"
[Enter feedback here]

As we known, AFD support XXF header but it won't show in the accesslog of AFD.
Can we Add the XFF headers into the accesslog of AFD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure

[2020-10-14 08:02] SnehaAgrawal-MSFT commented on #64277
@JackyChiou Thanks again for the feedback! Could you please share more details on this to help you better on this.

[2020-10-14 08:05] yoelhor commented on #54498
Thanks for the feedback. We are updating the Graph to Microsoft.Graph 3.17.0. The Microsoft.Graph.Auth still in preview.
See the PR https://github.com/Azure-Samples/ms-identity-dotnetcore-b2c-account-management/pull/13

[2020-10-14 08:05] yoelhor commented on #54498
#please-close

[2020-10-14 08:05] #54498 closed

[2020-10-14 08:07] jreypo commented on #64222
@Mahesh-MSFT Azure Bastion is the service recommended to connect to the jumpbox in order to not expose it to the internet, is the purpose of Bastion in this document. Azure Bastion cannot be used to connect to AVS virtual machines since those VMs are not Azure IaaS objects.

[2020-10-14 08:11] vipulsparsh commented on #64346
@qtuner Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@hamiltonha Can you have a look ?

[2020-10-14 08:13] jreypo commented on #64217
@Mahesh-MSFT the referenced note and article, [Planning the Azure VMware Solution deployment](https://docs.microsoft.com/en-us/azure/azure-vmware/production-ready-deployment-steps), does not correspond with the Hub & Spoke article. This issue has been open to the worng document.

BTW I agree with you and that article must be updated. @shortpatti can you help here to get this issue closed for the H

[2020-10-14 08:18] phwecker opened #64358 "current web-pack has issues with version 4 of webpack-cli, current instructions result in error upon execution"
when following the instructions the npx command throws the following error :

Cannot find module 'webpack-cli/bin/config-yargs'

this seems to be related to a version incompatibility between the installed versions

    "webpack": "^5.1.0",
    "webpack-cli": "^4.0.0",

manually downgrading to webpack-cli 3.x got rid of the error message. due to backend issues i was unable to check though, if it wo

[2020-10-14 08:18] Anmolgan81 opened #64359 "Where is the Backup option while creating Azure SQL Database?"
I cannot see any backup selection option in Azure SQL database when looking for selecting geo redudandend backup options
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Automatic, geo-red

[2020-10-14 08:20] BharathNimmala-MSFT commented on #64327
@Kraftwerx Thanks a lot for bringing this to our notice, our team will review this and fix the document accordingly.

[2020-10-14 08:31] Mahesh-MSFT commented on #64217
thanks @jreypo . my question is about hub and spoke only.

can an existing hub's expressroute gateway in gateway subnet be used for connecting with avs?

[2020-10-14 08:31] AnuragSharma-MSFT commented on #64359
@Anmolgan81 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-14 08:36] GitaraniSharma-MSFT commented on #64209
Hello @wanglijun378617 , thank you for your feedback. The role assignment cannot be done in the backend. It has to be done manually as you did. This article is missing the role permission assignment steps as mentioned in : https://github.com/MicrosoftDocs/azure-docs/issues/62764

I am checking with the doc author to see when the article will be updated with the role assignment steps and will get b

[2020-10-14 08:37] Bonnie-Chen95 opened #64360 "Microsoft.WorkloadMonitor/notificationSettings is reporting not supported when assigning for actions/not-actions"
[Enter feedback here]
Hi Team,

Currently when cx/users try to assign role definition,  Microsoft.WorkloadMonitor/notificationSettings seems to be reporting not supported by the RPs.

![image](https://user-images.githubusercontent.com/59153820/95964484-6e38af00-0e3b-11eb-9184-e2002777cf8a.png)

Question:
- I am not sure if  this is recently deprecated/removed or we are having issues here?
- It wil

[2020-10-14 08:39] SubhashVasarapu-MSFT commented on #64023
@Bouke, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-14 08:39] #64023 closed

[2020-10-14 08:45] aslomp opened #64361 "outdated, should be using Az instead of old instructions using AzureAD"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8425ea7f-a353-1e79-73c5-9f39a7a0fb18
* Version Independent ID: 36783690-1c8f-92b3-6f79-75260032c49d
* Content: [Assign custom roles using Azure PowerShell - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-ass

[2020-10-14 08:47] SubhashVasarapu-MSFT commented on #64019
@ragakar, Appreciate your patience. Here is the [document](https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-cli#create-two-virtual-machines) that explains adding ubuntu machines to the backend pool. The example helps in hosting a simple Node.js app using a NGINX server behind the APPGW.
We are closing this issue for now. If there are further questions regarding this matter,

[2020-10-14 08:47] #64019 closed

[2020-10-14 08:49] matthewjlevy opened #64362 "Disaster recovery process for Azure AD DS"
Is there a supported DR procedure document for Azure AD DS replica sets? I know the feature is in public preview, but my customer needs to understand what the DR simulation process would be of a replica set outage.
Is it possible to disable/block the vNet injected network interfaces in one region to simulate AAD DS domain controller failure and region failure of AAD DS? Is this supported?
Similarl

[2020-10-14 08:54] 4nandP opened #64363 "Guidance on connection string"
Can we add some guidance on what the connection string should look like when using Managed Identity and RBAC instead of SAS?

An example such as
`Endpoint=sb://{namespace}.servicebus.windows.net/;Authentication=Managed Identity`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c25a321-1f2d-4fec-a957-cfca751941df
* Versi

[2020-10-14 08:57] 4nandP commented on #64363
Related: https://github.com/Azure/azure-service-bus/issues/322#issuecomment-573939529

[2020-10-14 09:08] yoelhor commented on #64167
Thanks for the feedback. The `ErrorHandlers` element is not officially supported yet. I'm fixing the sample you have mentioned by removing the error handlers. So, we don't plan to document it.

#please-close

[2020-10-14 09:08] #64167 closed

[2020-10-14 09:10] AjayKumar-MSFT commented on #64021
We will close this for now, the author will review the PR and the doc would reflect when the changes are merged.

[2020-10-14 09:10] #64021 closed

[2020-10-14 09:13] zeeshan-commits opened #64364 "B2C Custom Policy"
I am trying to get SAML integration with custom policy. However following the documentation for creating a custom policy (I used LocalAccount sample) I keep getting the following error

[code]

I have attached the custom policy I am trying to get working. Any unique ids and keys have been removed from this file. This file contains the Base and the Extension policy
[B2C_1A_signup_signin.txt](https:

[2020-10-14 09:24] mauve opened #64365 "Cannot find device streaming sample code for C"
I cannot find the C sample code in the repo, can somebody post a link to the sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae229583-e117-74e1-b8ac-542a9658a51d
* Version Independent ID: 692dab9d-5ffd-1c32-4079-54f455c136d7
* Content: [Azure IoT Hub device streams C quickstart for SSH and RDP](https://docs.micr

[2020-10-14 09:25] yoelhor commented on #64364
It may be related to a conflict with the user journey defined in your base policy. Could you change the user journey name, from "SignUpOrSignIn" to something else, such as "SignUpOrSignInSAML". Lines:

[code]

If it doesn't work, I'll debug your policy. But, let's start with this change.

Yoel

[2020-10-14 09:28] yoelhor commented on #64018
Yes, you can add this functionality. It's similar to the [password-less sign-in solution](https://github.com/azure-ad-b2c/samples/tree/master/policies/passwordless-email).

[2020-10-14 09:31] simonzhaoms commented on #55026
I also tried the method in [Access Key Vault secret when deploying Azure Managed Applications](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/key-vault-access) to grant access to the Appliance Resource Provider service principal.  And I got the same error:

[code]

Then I find there are two Appliance Resource Provider (ARP) service principals.  They have the sam

[2020-10-14 09:38] jd1984 opened #64366 "This setting applies to the following client apps:"
The list of apps under https://aka.ms/supportedmampolicyapps does not contain all the apps I can see under "Public Apps > Select apps to target" in the App protection policies.

Does the documentation need updating to match?

Thank You

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac

[2020-10-14 09:43] JackyChiou commented on #64277
Provided it offline. Thank you

SnehaAgrawal-MSFT <notifications@github.com> 於 2020年10月14日 下午4:03 寫道：

﻿

@JackyChiou<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FJackyChiou&data=02%7C01%7C%7Cbf7d1cb7441d411993d908d870179850%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637382593920683913&sdata=6Cmb7FhY4g%2BlJ4wjhyvnh065uyTK8%2Fx3Qj5eXuq5FJo%3D&reserved=0> Thanks a

[2020-10-14 09:47] yoelhor commented on #63802
The doc will be updated later today. Meanwhile you can find the policy here: https://github.com/azure-ad-b2c/samples/tree/master/policies/conditional-access

[2020-10-14 09:48] psmanhas commented on #64260
@kingces95 As per our discussion we will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-14 09:48] #64260 closed

[2020-10-14 09:49] ram-msft commented on #64267
@ghiden Thanks, We are seeing the "Name", "ShortName", "Gender", "Locale", "SampleRateHertz", and "VoiceType" by passing the issue token and without any query params. Please follow the below using the access token and snapshot for the same.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#how-to-use-an-access-token

![image](https://user-images.githubuse

[2020-10-14 09:52] yoelhor commented on #53906
Closing due to inactivity.

#please-close

[2020-10-14 09:52] #53906 closed

[2020-10-14 09:53] yoelhor commented on #55629
Closing due to inactivity.

#please-close

[2020-10-14 09:53] #55629 closed

[2020-10-14 09:54] zeeshan-commits commented on #64364
@yoelhor Sadly still the same error :c

[code]

[2020-10-14 09:55] yoelhor commented on #58089
For more information, see https://github.com/Azure/azure-sdk-for-python/issues/12250

#please-close

[2020-10-14 09:55] #58089 closed

[2020-10-14 09:56] simonzhaoms commented on #55026
I thought I needed the token of the user assigned managed identity (UMI) to get the secret via [key vault API](https://docs.microsoft.com/en-us/rest/api/keyvault/getsecret/getsecret) instead of

[code]

So I tried the method in [Accessing the Managed Identity token](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-managed-identity#accessing-the-managed-ide

[2020-10-14 09:57] SAIMMINHAS opened #64367 "Issue in 'Identity Protection' policies"
Hi,

**Q1:**
'Identity Protection - 'Sign-in risk policy' and 'MFA registration policy'
I've been working on the 2 policies of 'Sign-in risk policy' and 'MFA registration policy' under the 'Identity Protection' section. I've noticed an issue when it comes to MFA. To simulate this issue, i've installed the 'Tor' browser on both my PC and mobile phone.

I've been testing using the following 'Use cas

[2020-10-14 09:57] #63802 closed

[2020-10-14 10:22] PramodValavala-MSFT commented on #64003
@anilsoni85 Just following up here... Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-14 10:22] #64003 closed

[2020-10-14 10:23] SubhashVasarapu-MSFT commented on #64352
@aralvar, Appreciate your feedback. We will update the doc accordingly.
![image](https://user-images.githubusercontent.com/44890829/95976594-60802b00-0e35-11eb-94bb-f803255b4c25.png)

[2020-10-14 10:28] SubhashVasarapu-MSFT commented on #64352
@aralvar, the doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-14 10:28] #64352 closed

[2020-10-14 10:51] yoelhor commented on #64364
I manage to run your policy with just one small change. Not sure whether it's related to this error message.
You have to change fllowing line

[code]
[code]

[2020-10-14 10:56] SnehaAgrawal-MSFT commented on #64287
Thanks again for the feedback! If I have understood right, you are configuring an App Service app for multi-tenanted use. Just to confirm when setting Expose an API for multi-tenant app have you pasted in the URL which is based on one of the tenant verified domains?

Referring this section: [Creating an app registration in Azure AD for your App Service app:](https://docs.microsoft.com/en-us/azure/

[2020-10-14 10:57] yoelhor commented on #62095
Display controls have a different set of IDs. For more information, please see [Verification display control user interface elements](https://docs.microsoft.com/azure/active-directory-b2c/localization-string-ids#verification-display-control-user-interface-elements).

Thus, the ver_intro_msg, ver_success_msg aren't relevant.

[2020-10-14 11:06] JordyBlommaert commented on #62095
The diplay controls does not provide a solution once the code is successfully verified or an intro message that guides the user through the interface.

[2020-10-14 11:10] FernandoChavesOliverira opened #64369 "Inconsistent/missing names"
Hello,

The Friendly Names should match the names used in Azure.
e.g.: AUDIO CONFERENCING in Azure/O365 shows as Microsoft   365 Audio Conferencing

Missing names:
e.g.: DYN365_ENTERPRISE_P1_IW; DYN365_SCM; Dynamics_365_Onboarding_SKU
All, or most, of the free versions are missing as well

There should be an export button to, at least CSV

Regards,

---
#### Document Details

⚠ *Do not edit this s

[2020-10-14 11:12] yoelhor commented on #62095
Could you elaborate on the business requirements? What are you trying to achieve, from UX prespective?

[2020-10-14 11:23] JordyBlommaert commented on #62095
When the user successfully verified his/her e-mailadres we want to display the message "Mailadres is successfully verified. Please click next to fill in additional information". In our previous release we were using the standard B2C mail verification flows we now uses Sendgrid as mail relay service and therefore we need to use displayclaims however our previously created translations doesn't work

[2020-10-14 11:25] alevincenzi opened #64370 "Add limit for deleteAfterMinutes"
Hello

it would be nice to know te supported range of values for the parameter `deviceAutoDeleteProperties.deleteAfterMinutes`

We tried to insert 525600 minutes (1 year) but the module reacted with:

[code]

Can you please add it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-f68e-167c-5e8ad91605e0
* Ve

[2020-10-14 11:30] fgheysels commented on #64042
Hi @Karishma-Tiwari-MSFT , my ACI is deployed in North Europe.

The ACI is desployed via an Azure DevOps pipeline.  The pipeline is now configured that the existing ACI is deleted before the ACI ARM template is being applied.

[2020-10-14 11:33] AnuragSharma-MSFT commented on #64338
@ynorvo Thanks for reaching out to us. I am afraid there is no way to do it as the site is designed to show limited number of characters. You can still hover over them to see the entire text although.

Also you can provide the feedback on the same and based on that it could be taken care.

[2020-10-14 11:39] GitaraniSharma-MSFT commented on #64093
@shadowano , thank you for your questions. Please find the responses below:

1. Could you please explain this question a little more?
If you are using Azure to host your DNS domains, you must delegate the domain provider's domain name system (DNS) to an Azure DNS. For more information, see [Delegate a domain to Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns).

[2020-10-14 11:39] SnehaAgrawal-MSFT commented on #64358
@phwecker Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 11:45] ioan-agopian opened #64371 "Are there any updates to AMD driver?"
We are using NVasv4 machines (AMD based) with a Windows Virtual Desktop deployment using Windows 2004 Multisession.
And we have some weird Start Menu flickering issues on some users.
Any updates to the AMD Radeon Instinct drivers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b614e743-5405-47cd-ee21-b442b4acb44d
* Ver

[2020-10-14 11:50] SubhashVasarapu-MSFT commented on #64354
@algattik, opening image in new tab should help in this case.
![image](https://user-images.githubusercontent.com/44890829/95984852-71369e00-0e41-11eb-9ceb-2070371f90d1.png)

[2020-10-14 11:55] jreypo commented on #64217
@Mahesh-MSFT thanks for clarifying.

To answer your question yes, and existing ER gateway can be used to connect to AVS as long as it does not exceed the limit of 4 ER circuits per VNET. However in order to access AVS from On-prem through ER customer must have Global Reacg since the ER gateway does not provide transitive routing between its connected circuits.

[2020-10-14 11:55] SubhashVasarapu-MSFT commented on #64357
@Shuhuiling, Thanks for reaching out. We will investigate and update this thread.

[2020-10-14 12:01] Mahesh-MSFT commented on #64217
thank you so much @jeypo for providing this clarification.

in this case, note about needing an empty gateway subnet in [Planning the Azure VMware Solution deployment](https://docs.microsoft.com/en-us/azure/azure-vmware/production-ready-deployment-steps) should be removed, correct?

[2020-10-14 12:27] zeeshan-commits commented on #64364
@yoelhor Still gives me the same issue when I try to login using SAML SSO

[2020-10-14 12:31] alijahnas commented on #56453
Hello, we are having the exact same problem.
We are uploading the Root CA in the Http settings. The backend servers return a certificate with the right CN that is equal to the Host name we use in Http settings and health probe. Still we have the error:
`The Common Name (CN) of the backend certificate does not match the host header entered in the health probe configuration. Either change the probe

[2020-10-14 12:38] yoelhor commented on #56907
The message has been changed to `Use verification code <code> for <app name>` authentication. MSG & DATA RATES AMU APPLY.` which is supported by iOS autocomplete.

#please-close

[2020-10-14 12:38] #56907 closed

[2020-10-14 12:40] yoelhor commented on #62095
Thanks for clearing that up. I'm checking whether display control support this message.

[2020-10-14 12:46] GitaraniSharma-MSFT commented on #64332
@MattMellifont , thank you for your questions. We have assigned this issue to the respective product owner for review.
@mblanco77 , could you please review the questions and provide your inputs?

[2020-10-14 13:06] darren-johnson commented on #56453
Hi Ali, I'm waiting on Microsoft to get back to me as we have raised this via our CSA.  The most frustrating bit is everythign appears to function correctly with the GW it's just the custom probe that is the issue.  When I hear back from MS I'll update here too.

[2020-10-14 13:07] yoelhor commented on #51558
Closing due to inactivity.

#sign-off

[2020-10-14 13:09] yoelhor commented on #51218
Closing due to inactivity.

#sign-off

[2020-10-14 13:10] #51218 closed

[2020-10-14 13:11] #51558 closed

[2020-10-14 13:12] yoelhor commented on #51826
The document has been updated with the correct steps.

#please-close

[2020-10-14 13:12] #51826 closed

[2020-10-14 13:14] yoelhor commented on #51488
Solution has been found.

#please-close

[2020-10-14 13:14] #51488 closed

[2020-10-14 13:14] gesmyrli opened #64373 "Wrong PowerShell command and instructions"
Hello,

The PowerShell command in step 3 is wrong and should be Get-AzureADDirectorySettingTemplate instead of Get-AzureADDirectorySetting.

Also, the command in step 5 does not work at all with an error message:

Thank you,
George
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Ver

[2020-10-14 13:19] alijahnas commented on #56453
Yeah the custom probe of Application Gateway v2 seems to be the problem. Because we just deployed the same configuration with App Gateway v1 and it worked perfectly by using the exact same parameters as in v2 (host name, certificate, everything...).

There is a problem with the custom probe and how it evaluates the certificates or how it reads them.

[2020-10-14 13:27] ashinzekene commented on #58425
@BhargaviAnnadevara-MSFT T @lisaguthrie  and @shashishailaj

Thanks for the good work. I see updates have been pushed to explaining the custom feature filters when adding a feature flag on the portal

[2020-10-14 13:27] #58451 closed

[2020-10-14 13:36] shashishailaj commented on #64343
@gary918 Thank you for your feedback . We will investigate and update the thread.

[2020-10-14 13:41] shashishailaj commented on #64360
@Bonnie-Chen95 Thank you for your feedback . We will investigate and update the thread .

[2020-10-14 13:43] NavtejSaini-MSFT commented on #64039
@kummanish Please check this further and help with editing the document to right information.

[2020-10-14 13:47] baanders commented on #64337
@KalyanChanumolu-MSFT  Thank you for the context on these classes!

The documentation should be reflecting what is currently live. So it seems appropriate to revert to ModelData in the live docs until 1.0.0-preview.4 is available, and then update the package references and classes in the docs together at that time.

@sereilly  Working on this in PR# [133836](https://github.com/MicrosoftDocs/azure-

[2020-10-14 13:47] stephen-cripps opened #64374 "Issue with Register the ProxyIdentityExperienceFramework application Redirect URI"
Redirect URI Not Valid

![image](https://user-images.githubusercontent.com/16776597/95997861-25c5c500-0e2c-11eb-9c37-236027563bcd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started with custom po

[2020-10-14 13:53] baanders commented on #64337
Since this is a fairly straightforward docs edit, I'll have GitHub close this issue when the PR is merged.

However, feel free to comment back in this thread for additional discussion and we can reopen if needed. Thanks!

[2020-10-14 13:54] #64337 closed

[2020-10-14 13:58] jonathanantoine opened #64376 "Precision on parameters names"
Hello,

Can you please add the information that if you use multiple underscore in parameter names (example 'kikou____lol') then the binding expression wont't be resolved and your function won't start at all ?

Thanks !
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3

[2020-10-14 14:01] Bernd-Loehlein commented on #45731
did we get an update here? Get this question regularly in customer calls
Seems to be a duplicate of #45664

[2020-10-14 14:10] PramodValavala-MSFT commented on #64363
@4nandP this is more of a question related to the `Microsoft.Azure.Services.AppAuthentication` library the [specific connection string it supports](https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication#connection-string-support) (which is used internally by the Service Bus SDK).

So, to use a User Managed Identity with this library, you would have to set `Azure

[2020-10-14 14:10] MonikaReddy-MSFT commented on #64310
@deepakkhetwal -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-14 14:12] adibiton opened #64377 "Document is not clear for "step 1" pre-requisite steps"
On section https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-store-custom-rest-api#create-and-authorize-a-service-principal-to-emit-metrics you refer us to the "step 1" tutorial part - where is it?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78411727-ea56-aef5-4f04-b016c25afba9
* Version Independe

[2020-10-14 14:13] MonikaReddy-MSFT commented on #64373
@gesmyrli -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-14 14:15] #53589 closed

[2020-10-14 14:16] MonikaReddy-MSFT commented on #64373
@gesmyrli -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-14 14:16] #64373 closed

[2020-10-14 14:16] Avisharper opened #64378 "Wrong step in documentation"
Hi,
In the [Set Service Account](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-prerequisites-tutorial#setServiceAccount) section there is a mistake.
If I change the account the SQL Server is running with before I add logins to the SQL Server I cannot connect to it.
When creating the VM it is created with no sql authentication. The l

[2020-10-14 14:22] shashishailaj commented on #64369
@FernandoChavesOliverira Thank you for your inputs. We will have this reviewed and update .

[2020-10-14 14:24] shkale-msft commented on #64359
@Anmolgan81 backup storage redundancy option is only available in South East Asia Azure region at this time. Availability in additional Azure regions is coming soon, but until it is available in the region that you are using, you may not be able to see the backup storage redundancy options. Which Azure region are you trying to configure this in?
Also, Azure SQL DB backups are geo-redundant by defa

[2020-10-14 14:25] wiwillou opened #64380 "Alerts must be deleted and recreated if moving the scoped workspace"
We need to update this document to advise that when moving a workspace to another subscription, any established alerts will not be automatically updated. You must manually update the alert scope or delete and then recreate the alert in the new subscription that contains the moved workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-10-14 14:25] shashishailaj commented on #64366
@jd1984 Thank you for pointing this out. We will investigate and update the thread.

[2020-10-14 14:25] Bouke commented on #64023
I think the wording in the documentation should clear the confusion, especially the following sentence:

What is meant by this sentence? What *setting* does only apply to inbound connections?

[2020-10-14 14:28] shashishailaj commented on #64362
@matthewjlevy Thank you for your feedback . We will reach out to the content team and update the thread.

[2020-10-14 14:33] dimitri-furman commented on #63524
Hi @Bouke - the article has been updated. We will close this issue in a few days if there are no more questions. Please comment here if we can improve this article further.

[2020-10-14 14:35] Norrch2 opened #64381 "Metadata is missing setting.inputVerificationDelayTimeInMilliseconds"
As Per [PageLayout Documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#self-asserted-page-selfasserted) Self Asserted has a bullet list item that states _Added a configurable user input validation delay for improved user experience_. However, there is no supporting documentation as to how to configure this option.

Please add setting.inputVerificationDelayTimeInM

[2020-10-14 14:36] PramodValavala-MSFT commented on #64356
@NT-D Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

Looks like this is coming from the [Event Hub SDK](https://github.com/Azure/azure-sdk-for-net/blob/4c69280581109e52e7bdb70a68d47a060a6cc5be/sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionReceiver.cs#L93) rather than the Extension itself, but I believe it would be bes

[2020-10-14 14:38] ankush0024 commented on #41499
@AshokPeddakotla-MSFT  the issue is still not resolved can u please update on this

[2020-10-14 14:39] SatishBoddu-MSFT commented on #64272
Hello @felipepessoto
The comment on the [reference thread Link](https://github.com/Azure/azure-sdk-for-net/issues/7175#issuecomment-384575552): was it helpful?
_the IoT Hub's Event-Hub-compatible endpoint for receiving device-to-cloud messages is fully Event Hubs compatible. For production environments, the recommended approach is to use Event Processor Host (EPH) as shown in the sample. An EPH ma

[2020-10-14 14:39] jrosengarth opened #64382 "Correction on Page"
COPY command still marked as a preview feature. GA was 9/23/2020.

https://azure.microsoft.com/en-us/updates/copy-command-now-generally-available-in-azure-synapse-analytics/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437b3c1e-b43f-360d-fb6f-27bb66b29a55
* Version Independent ID: 96509a9c-d258-8956-a219-02d188c16d9b

[2020-10-14 14:40] shortpatti commented on #64222
#please-close

updated document

[2020-10-14 14:40] #64222 closed

[2020-10-14 14:41] ram4031 commented on #40249
@mustafamg Hey can you please paste the final working policy or comment what you did to fix?

[2020-10-14 14:44] yoelhor commented on #62600
Docs update will include the following:

- `SamlAssertionSigning` has been removed from the AD-FS and Salesforce docs
- `SamlAssertionDecryption` set to not required
- `SamlAssertionDecryption` - The X509 certificate (RSA key set). SAML identity provider uses the public portion of the certificate to encrypt the data sent to Azure AD B2C. Azure AD B2C uses the private portion of the certificate to

[2020-10-14 14:54] frank-fischer-by commented on #62600
👍  - sounds good.

Then my only question would be if

Attribute | Required | Description
---------|-----|-------
SamlMessageSigning | Yes | The X509 certificate (RSA key set) to use to sign SAML messages.  Azure AD B2C uses this key to sign the requests and send them to the identity provider.

is mandatory?

[2020-10-14 15:01] #64160 closed

[2020-10-14 15:05] #62600 closed

[2020-10-14 15:07] pisees commented on #63755
Thanks, but I am not seeing anything when looking at the temporary "D" Drive used by Service Fabric for data storage.

![image](https://user-images.githubusercontent.com/2036281/96008310-6eba5100-0e0d-11eb-8d0b-0f948aee974c.png)

[2020-10-14 15:12] #64161 closed

[2020-10-14 15:14] shortpatti commented on #64217
#please-close

I've updated the Hub and Spoke content clarifying what @jreypo indicated above.  I'll add the other issue as work item and get it removed if needed.

[2020-10-14 15:14] #64217 closed

[2020-10-14 15:15] DeanGross opened #64384 "Risk Level Explanation"
[Enter feedback here]

The text says there are 3 levels, low, medium and high, In Azure AD, I see 4: no risk, low, medium and high. Please update this documentation to explain what "No risk" means

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9

[2020-10-14 15:17] shashishailaj commented on #64367
@SAIMMINHAS Thank you for your query. We generally use azure-docs repo on github for documentation improvement however your issue looks like it might require deeper troubleshooting. We will try to review this and have it answered and will help you with alternate support options if necessary.

Also for general questions related to azure products, we would like to request you to check our new forum

[2020-10-14 15:18] SatishBoddu-MSFT commented on #64370
Hello @alevincenzi Thanks for reaching out to us!.

This is certainly a good question, we will get back to you soon as we hear from the Product Team on this. Please stay tuned.

[2020-10-14 15:18] shashishailaj commented on #64361
@aslomp Thank you for pointing this out. We will investigate and update the thread.

[2020-10-14 15:19] sevetseh28 commented on #12292
I came across with the same problem using the Mongo API.
Is there really not a way to execute an update many in a Cosmos instance? Not even with the SQL syntax? I couldn't find anything.

Thank you!

[2020-10-14 15:24] shashishailaj commented on #64384
@DeanGross Thank you for your explanation , We will investigate and update the thread.

[2020-10-14 15:24] AlexandraKemperMS commented on #55111
Hi @SeaDude, to update this issue, we just released a [Quickstart for using Python in App Config](https://docs.microsoft.com/azure/azure-app-configuration/quickstart-python). I hope this is helpful for any questions you have.

[2020-10-14 15:25] shashishailaj commented on #64381
@Norrch2 Thank you for your feedback . We will investigate and update the thread.

[2020-10-14 15:28] shashishailaj commented on #64374
@stephen-cripps Thank you for your feedback . We will have this reviewed with the content team and update the thread.

[2020-10-14 15:36] HeidiSteen commented on #64279
@saimachi If your search service is healthy/functional, can you check the data source?  What regions are the services in (search, as well as your data).

[2020-10-14 15:38] ChrisGibson1982 opened #64385 "PowerShell examples"
The copy keys script is great, but it would be nice to have some PowerShell examples to setup the rest of the vm replication.  There are documentation pages for non-encrypted VMs already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5ad

[2020-10-14 15:41] sympleconfigmgr opened #64387 "Updating Custom Blocked Words"
Please add instruction under:
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-naming-policy#custom-blocked-words
for updating the blocked words list. Customers question how updating the list works and the doc isn't clear on if updates are appended or overwritten.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-10-14 15:45] shashishailaj commented on #64153
@samrui Thank you for confirmation. And yes I agree that this may be a little trouble but not much can be done. There is one more aspect to it which I had missed in my description yesterday . There is a concept of certificate pinning where you can specify the list of acceptable certificates while communications with services like Azure , AWS , GCP , IBM Bluemix etc.

For hardening security , somet

[2020-10-14 15:45] #64153 closed

[2020-10-14 15:46] JamesTran-MSFT commented on #64387
@sympleconfigmgr
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-14 15:48] shashishailaj commented on #64269
@Johnvan I hope tha above clarifictaion helped. As we have not received any further queries on this we are closing this issue. Should you still have any further queries , please tag me to your reply and we will be glad to help . you can join the broader discussion on [Microsoft QnA forums where we have a sticky thread on this topic](https://docs.microsoft.com/en-us/answers/questions/117444/reminde

[2020-10-14 15:48] #64269 closed

[2020-10-14 15:49] MashaMSFT commented on #64378
Hi @Avisharper , thanks for contacting Microsoft! This is actually great feedback. I have processed a change to reverse the order of these steps so you're setting permissions first. This change will go live later this week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and making our docs better :)

[2020-10-14 15:49] #64378 closed

[2020-10-14 15:55] davecatt opened #64388 "Minor grammar change"
Misuse of the word myriad.  "While you can always code directly against a myriad of services" should be "While you can always code directly against myriad services".  Myriad is used the same way as 'many'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a0ac96-e410-b481-9fdb-90d827a98935
* Version Independent ID: 6a13

[2020-10-14 15:56] SatishBoddu-MSFT commented on #64365
Hello @mauve Thanks for bringing this to our notice.

**Document Section: [**Run the device-local proxy application](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-c#run-the-device-local-proxy-application)

Missing sample: file **iothub_client_c2d_streaming_proxy_sample.c** in the folder **iothub_client/samples/iothub_client_c2d_streaming_proxy_sample**

We are work

[2020-10-14 16:11] jeevansd commented on #64166
Please let me know if that resolve your issue. I have tested this functionality and it is working correctly as expected.

[2020-10-14 16:11] jeevansd commented on #64166
#please-close

[2020-10-14 16:11] #64166 closed

[2020-10-14 16:13] 0xThiebaut opened #64389 "Can Azure Private DNS be configured on a VM without DHCP?"
A bit an extension on the following question:

For legacy VMs configured statically and hence having DHCP disabled, is there a way to nonetheless configure these to use the Azure Private DNS?

Should Azure (Public) DNS not be properly delegated, we could use the `ns?-??.azure-dns.com.` (`?` = digit) domain as DNS servers. For Azure Private DNS we tried using the `SOA` record's host (`azureprivated

[2020-10-14 16:21] yuemlu commented on #64077
@emilylagoand For the affected storage account, you can mitigate by undoing the “disablement” executed by Portal by running the following PowerShell. Afterwards, please avoid making configuration update on Portal this week until our hotfix is deployed. You can refer to this [doc ](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#option-one-recommended-use-az

[2020-10-14 16:33] PaulARoy commented on #64314
There has been an improvement but the request seems to be invalid for Apple:
![image](https://user-images.githubusercontent.com/6310023/96018552-b3fd7380-0e4b-11eb-95aa-03f7e81c7850.png)

[2020-10-14 16:39] emilylagoand commented on #64077
Thank you, Yuemin! Appreciate your assistance.

Best regards,
--
[cid:image003.png@01D6A20D.E1C1B010]

Emily Anderson
Azure VM Support Engineer | Customer Service and Support | she/her
+1 (425) 5380021 | Emily.Anderson@microsoft.com | 9AM – 6PM PST
[cid:image004.png@01D6A20D.E1C1B010]

If you have any feedback about my work, please let either me or my manager Luis Lara know at luis.lara@microsoft.

[2020-10-14 16:41] BharathNimmala-MSFT commented on #64377
@adibiton Thanks a lot for bringing this to our notice , will review the feedback and fix the document accordingly.

[2020-10-14 16:44] BharathNimmala-MSFT commented on #64380
@wiwillou Thanks a lot for your feedback, we will review the feedback and enhance the document accordingly.

[2020-10-14 16:47] BharathNimmala-MSFT commented on #64385
@ChrisGibson1982 Thank you for your query and feedback, our team will look into it and get back to you at the earliest.

[2020-10-14 17:01] Karishma-Tiwari-MSFT commented on #64371
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 17:03] SaiKishor-MSFT commented on #64177
@tshaiman
Thank you for reaching out to us on Github!
I understand that the documentation is not very clear on how to add roles required for connecting via the Bastion. Here is some documentation that can help you with the same-
Create Bastion host- https://docs.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal
Adding Role Assignment- https://docs.microsoft.com/en-us/azure/role-based-a

[2020-10-14 17:08] turbozapekanka opened #64391 "Outdated instructions?"
Can't find this in my azure portal
Networking > Configure your Hybrid Connection endpoints is not available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent ID: 516bc8a7-d927-d080-36a6-69ca95686feb
* Content: [Hybrid connections - Azure App Service](https://docs.

[2020-10-14 17:10] erikadoyle commented on #64060
I'm hesitant to remove the section altogether unless/until we have an alternate place for it in the docs. Readers might be dropping into it directly from search, specifically looking for that info. For now, how about we just amend the section with "**If you haven't done so already,** explicitly give the account running the service (NETWORK SERVICE, by default) access to the certificate's private k

[2020-10-14 17:10] andremcastro commented on #11450
how this can be closed if we have a lot of people with the same problem??

[2020-10-14 17:10] saimachi commented on #64279
@HeidiSteen I am sourcing my data from an Azure blob storage container, which I am able to access. Both my storage account and my cognitive search service are located in West US 2.

I was successfully able to run a debug session using cognitive search. However, I still cannot run my indexer using the REST API.

[2020-10-14 17:17] mishrapratyush opened #64392 "Python code sample is missing for Speech to Text using containers"
The page is missing the change that needs to be done when using containers with Python. See attached screenshots. The page has what needs to be changed for c#, but not for python.

Also, it will be of great help if you can provide an example of how to do the same for text to speech container. Currently the page has links to github, where you still cant find how to setup speechConfig if one has to

[2020-10-14 17:20] vikancha-MSFT commented on #64371
@ioan-agopian Windows 10 2004 muli-session is not yet supported on NVasv4 VMs. We support 1909. Please use the supported versions.

[2020-10-14 17:28] AnuragSharma-MSFT commented on #64188
@mbanck This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-14 17:31] stap123 commented on #54498
I have to say I'm slightly disappointed by the choice to completely ignore the real point of this issue in the first place.

Current documentation should show currently released and supported libraries so that customers can use the product(s) in their production/business critical applications and receive support from Microsoft. Docs that show pre-release versions of things without the current vers

[2020-10-14 17:33] YutongTie-MSFT commented on #64392
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 17:48] felipepessoto commented on #64272
Yes, but it says the opposite of what is in the doc.
The docs says to use the IoTHub connection string (not the "IoT Hub's Event-Hub-compatible endpoint") to be able to use disaster recovery.

If this comment is correct, then we need to change the docs, saying it is not possible to use disaster recovery when using the EventHub client

[2020-10-14 17:49] stgeorgi commented on #45731
@ChrisH82 This is a best practice recommendation that is applicable for large percentage of our customers. There are scenarios where that will not be applicable. From our research majority of IT professionals (~80%) lock down the environment.

[2020-10-14 17:51] SnehaAgrawal-MSFT commented on #64391
@turbozapekanka Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 17:56] HarithaMaddi-MSFT commented on #64382
@jrosengarth - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/133912

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-10-14 17:56] #64382 closed

[2020-10-14 17:56] #64333 closed

[2020-10-14 17:58] SAPDanJoe commented on #64149
Thanks @dmulder !  It took me a little bit to digest that; Linux isn't my 1st language ;)  That certainly helps me on my way.  It also led to to find that YaST is written in ruby; I can use that to better understand what's happening under the hood.

You mention the yast cli, using: `yast samba-client joindomain`... When I follow the 1st section in the article (which works perfectly), I found that

[2020-10-14 17:58] ecfan commented on #46826
@ShyamSunder90: I know this question is quite stale, but just to close the loop, can you help answer this question? Thanks!

[2020-10-14 17:59] ecfan commented on #46826
#assign @ShyamSunder90

[2020-10-14 17:59] ecfan commented on #46826
@ketan-chawda-msft: Please unassign @jonfancey? Thanks!

[2020-10-14 18:06] MatthewSteeples opened #64393 "Azure Batch supports Managed Identities"
According to the Portal and [other documenatation](https://docs.microsoft.com/en-us/azure/batch/batch-customer-managed-key) Batch supports system-assigned managed identities but isn't listed on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db4

[2020-10-14 18:07] ecfan commented on #63746
@divyaswarnkar, please answer this question, which has been sitting for about a week? Thanks!

[2020-10-14 18:07] ewertons commented on #64365
Hi @SatishBoddu-MSFT ,
the customer might have not followed all the steps in the documentation.

The sample does exist, but is in the "public-preview" branch of the azure-iot-sdk-c repo: https://github.com/Azure/azure-iot-sdk-c/tree/public-preview/iothub_client/samples/iothub_client_c2d_streaming_proxy_sample

Device Streaming is still a feature in public preview phase, as the documentation explic

[2020-10-14 18:11] Niglb opened #64394 "Expanded permissions"
Is there a timeline on expanded permissions beyond Application registrations? We would like to say set custom roles for the following scope:

microsoft.directory/conditionalAccessPolicies/standard/read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3228b41-a76b-9e5a-e4ee-d39d6a004612
* Version Independent ID: f83fa9fe

[2020-10-14 18:14] b-juche commented on #63955
@tbugfinder - Thanks again for your feedback.  We appreciate it.

In consulting with our subject matter expert, we are making the following two modifications for clarification.

(1)
"Root mapping defaults to the nobody user because the NFSv4 domain is set to localdomain."
 -->
"Root mapping defaults to the nobody user because the NFSv4 domain is set to localdomain by default."

(2)
"As the above e

[2020-10-14 18:18] divyaswarnkar commented on #63746
@sandeep-ma we do not have plans to bring Liquid support to Biztalk mapper. Regarding XSLT 3.0 support, that's something we plan to look into when we enable the mapper for VS2019.

[2020-10-14 18:21] KeithWalton commented on #64323
Swapping out the Request object with a ChangePointDetectRequest object results in this error instead:

Unhandled exception. System.AggregateException: One or more errors occurred. (Operation returned an invalid status code 'NotFound')
 ---> Microsoft.Azure.CognitiveServices.AnomalyDetector.Models.APIErrorException: Operation returned an invalid status code 'NotFound'
   at Microsoft.Azure.Cognitiv

[2020-10-14 18:23] tbugfinder commented on #63955
Excellent. Thx

[2020-10-14 18:24] MarileeTurscak-MSFT commented on #64394
@Niglb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-14 18:26] b-juche commented on #63955
Doc issue corrected in PR 133930.  Posting by EOB 10/14/2020.

#please-close

[2020-10-14 18:26] #63955 closed

[2020-10-14 18:28] tamram commented on #62615
@jmbrunskill - Thanks so much for providing this feedback and making the fix!

Closing this now since the fix has already been merged.

#please-close

[2020-10-14 18:28] #62615 closed

[2020-10-14 18:37] vikramdadwal commented on #64333
@HarithaMaddi-MSFT : Thanks for the clarification. Just one more thing, for Gen 2 -> Gen 2 transfers this option support checksum? is that assumption right ?

[2020-10-14 18:37] KeithWalton commented on #64323
I modified the query from this tutorial to get change point detection working in Power BI: https://docs.microsoft.com/en-us/azure/cognitive-services/anomaly-detector/tutorials/batch-anomaly-detection-powerbi

I have to replace the API series input values "Timestamp" and "Value" with lowercase "timestamp" and "value" to get it to work. The batch anomaly detection API is either expecting Pascal case

[2020-10-14 18:40] sandeep-ma commented on #63746
@divyaswarnkar thank you for the clarification. We are patiently waiting for the VS2019 version :)

[2020-10-14 18:40] slave02 opened #64395 "accuracy of descriptive wording"
Reference: For the five-minute period illustrated, DB1 peaks up to 90 DTUs, but its overall average usage is less than five DTUs

The Graph shows a time period across the horizontal axis - are you referring to time of day 12.00 am, 12.05pm, 12.10pm (hrs and minutes) or a timer in minutes and seconds using a 12hr clock format?  How are we to accurately interpret this vagueness?

If the time axis is

[2020-10-14 18:41] carlosmayol opened #64396 "Please update supported versions of Windows"
[Enter feedback here]

Please update supported versions of windows server. WS2019? What about the New announced Az Stack HCI OS?
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f939bc-1166-590f-ebe3-4a22fffd5e1f
* Version Independent ID: 44874c1a-8232-646c-ea1d-3da4d59a74ef
* Content: [Support matrix-Hyper-V dis

[2020-10-14 18:42] SubhashVasarapu-MSFT commented on #63779
@miqm, Appreciate your patience. Our SME team is working on its evaluation and possibilities of adding it to the list. Any other queries from your side? or are we good to close this issue?

[2020-10-14 18:45] ecfan commented on #51253
I've created a work item to prioritize, track, and address:

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1783427

Thanks!

@PramodValavala-MSFT: #please-close

[2020-10-14 18:46] #51253 closed

[2020-10-14 18:53] gyto23 commented on #60409
Any updates on this part of the documentation?

[2020-10-14 18:55] dsindona commented on #63923
@Ari6 thanks for this feedback - we are confirming this issue and will follow up.

[2020-10-14 18:58] emuench commented on #63311
@BrianLevenson The answer is "no character limits for custom terms, amendments are 4k char."

[2020-10-14 19:04] smoms opened #64400 "Questions before becoming a SaaS provider"
Hi I am new to this topic,

I would like to know the following about Azure Marketplace:

1. how is Azure charging me as SaaS provider? For example if my service spins up a VM per each new customer subscirption.

2. does my SaaS service need to be necessarly an Azure service or can it be neutral?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-14 19:07] emuench commented on #63255
This is being resolved as part of the VM topics rewrite publishing soon.

[2020-10-14 19:08] spelluru commented on #64355
@shivaprathipati - The product team has confirmed that the feature is still in preview and doesn't have a timeline for making it GA yet.

[2020-10-14 19:09] MarileeTurscak-MSFT commented on #64393
@MatthewSteeples
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-14 19:11] emuench commented on #63311
Topic edited. #please-close

[2020-10-14 19:11] #63311 closed

[2020-10-14 19:14] ChrisH82 commented on #45731
@stgeorgi I agree on locking down the environment but I was more interested in the logic for the best practice as it seems hyper-aggressive restricting to only 1 month by default, perhaps worryingly so as the default in Outlook out of the box is I think 1 or 2 years. This level of best practice lock down starts to ring alarm bells around scalability with OST files, search indexes or something in F

[2020-10-14 19:28] robert-t-taylor commented on #62505
Sorry, I had this backwards: I had to change the condition to  RewriteCond
%{REQUEST_URI} ^/$  to get it to work.

On Wed, Sep 16, 2020 at 4:15 PM AjayKumar-MSFT <notifications@github.com>
wrote:

--
*Bob Taylor*
Elliance, Inc. <http://elliance.com>
600 River Avenue, Suite 201
Pittsburgh, PA 15212
Toll Free: 888-926-6262
Local: 412-586-1480 x347

[2020-10-14 19:29] fmms commented on #56891
Hi,

I can confirm that creating the file `C:\Program Files\Microsoft Power BI Desktop\bin\ODBC Drivers\Simba Spark ODBC Driver\microsoft.sparkodbc.ini` with the the following content ...
[code]
... allows connectivity through a Proxy. Currently from documentation there is no way of figuring this out, my assumption as a user would be that Power BI picks up whatever Proxy has been configured within

[2020-10-14 19:32] Cyborg-Model-Z opened #64401 "How do I use the CSV format?"
The most important step in this process is listed as just "enter users"

How?? How do I use the CSV format??

[2020-10-14 19:33] robert-t-taylor commented on #62505
Please ignore and close this ticket. Thanks.

On Wed, Oct 14, 2020 at 3:28 PM Bob Taylor <btaylor@elliance.com> wrote:

--
*Bob Taylor*
Elliance, Inc. <http://elliance.com>
600 River Avenue, Suite 201
Pittsburgh, PA 15212
Toll Free: 888-926-6262
Local: 412-586-1480 x347

[2020-10-14 19:34] Cyborg-Model-Z commented on #61099
Why was this closed? I'm learning Azure and don't understand this issue.

[2020-10-14 19:34] tamram commented on #60058
@magooster - Azure Storage does not actually rotate the key in the key vault. It only picks up the new version after the key has been rotated. We've updated the documentation to reflect this more clearly.

The customer is responsible for rotating the key in the key vault. I believe that [this tutorial](https://docs.microsoft.com/azure/key-vault/secrets/tutorial-rotation) in the Azure Key Vault doc

[2020-10-14 19:34] #60058 closed

[2020-10-14 19:36] Cyborg-Model-Z commented on #64130
Can someone just drop an "example" csv file from excel or otherwise we can look at? Maybe put one on OneDrive or Google Docs we can all just access and look at?

[2020-10-14 19:40] BharathNimmala-MSFT commented on #63993
@kapntech Thanks again for taking time to share your great feedback. I did discuss with our document author @rayne-wiselman to incorporate your feedback and enhance the documentation. We will be taking this as a backlog item and enhance the document accordingly.

Will keep this thread updated or this GitHub thread will be referenced as part of the PR when we enhance the document.

For now, we will

[2020-10-14 19:40] #63993 closed

[2020-10-14 19:43] stgeorgi commented on #45731
The best practices is optimized for many things not only scalability but cost and security.

For the second option we are evaluating but no comment at the moment.

[2020-10-14 19:48] yahorsi opened #64402 "Views vs External Tables & FK's"
Hi Guys, from this article it is actually not clear on what's the difference between external views and external tables. Plus, would be good to understand if we could link external views/tables. E.g. we have DWH facts table and Dates table and want to have a FK to simpler analyze it in PowerBI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-10-14 19:57] SaiKishor-MSFT commented on #63455
@swapnild2111

I have reached out to the internal team regarding this and will update you once I have any more information on this. Thank you for pointing this out.

[2020-10-14 20:05] SaiKishor-MSFT commented on #61957
@johannespetereit

We apologize that there has not been any update on this for a while. I just wanted to let you know that we are still working on this issue with our internal teams and will update you soon. Thank you!

[2020-10-14 20:10] StuBeck32 commented on #61099
I'm an idiot, there is an example in the document.
________________________________
From: Cyborg-Model-Z <notifications@github.com>
Sent: Wednesday, October 14, 2020 3:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: StuBeck32 <stuartbecktell@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Should have example of CSV (#61099)

Why was

[2020-10-14 20:11] PatrickFarley commented on #63981
Maybe the reference docs were out of date at the time?
[ReadAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.computervisionclientextensions.readasync?view=azure-dotnet#Microsoft_Azure_CognitiveServices_Vision_ComputerVision_ComputerVisionClientExtensions_ReadAsync_Microsoft_Azure_CognitiveServices_Vision_ComputerVision_IComputerVisionClient

[2020-10-14 20:11] #63981 closed

[2020-10-14 20:15] SatishBoddu-MSFT commented on #64365
Thank you @ewertons for the quick clarification.

Hello @mauve We hope the above response is helpful. Please let us know if you need further help in this matter.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-14 20:25] SatishBoddu-MSFT commented on #64370
Hello @alevincenzi

We got the response from the Product team as below

Please let us know if you need further help in this matter.

[2020-10-14 20:27] slack commented on #64292
@ezYakaEagle442 thanks for opening this issue. Azure Arc enabled Kubernetes does not support ARM-based architectures at the moment.

Please add your vote/suggestion to our User Voice here: https://feedback.azure.com/forums/925690-azure-arc/suggestions/41613508-azure-arc-connected-kubernetes-agent-arm-supported

Will also clarify supported architectures in the docs /cc @shashankbarsin

[2020-10-14 20:28] ChaitanyaNaykodi-MSFT commented on #64376
Hello @jonathanantoine, Thank you for your feedback! We will review and update as appropriate.

[2020-10-14 20:29] BharathNimmala-MSFT commented on #64400
@smoms Thank you for reaching out to us , we will review your query and get back to you at the earliest.

[2020-10-14 20:29] garyericson commented on #63800
@MasayukiOzawa - Thanks for reporting this. We've been investigating and it turns out that there is an issue with skl2onnx.convert_sklearn on Azure SQL Edge and Azure SQL Managed Instance. Thank you for bringing it to our attention.

The code in the section [Convert the model to ONNX](https://review.docs.microsoft.com/azure/azure-sql-edge/deploy-onnx?branch=master#convert-the-model-to-onnx) is bei

[2020-10-14 20:29] ChaitanyaNaykodi-MSFT commented on #64388
Hello @davecatt,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-14 20:29] #63800 closed

[2020-10-14 20:36] irenehua commented on #62981
@chandhru1 @mrpullen Thanks for your feedback! Currently we offer the capability of deploying two or more Standard LBs of the same type to a selected set of customers through a feature flag. Please reach out to _allowmultiplelbs@microsoft.com_ with your Subscription Id/Scenario/Deployment script and we'll be happy to help.

[2020-10-14 20:38] bjornharrtell commented on #64073
Noticed this problem here too and I fear the client implementation we use (https://github.com/adfinis-sygroup/ember-simple-auth-oidc) lack support of the code_challenge extension.. I'm surprised of the statement that B2C doesn't officially support SPA applications, it would appear it is a supported feature in both the portal and docs. This is what the docs at https://docs.microsoft.com/en-us/azure

[2020-10-14 20:39] #61007 closed

[2020-10-14 20:42] chandhru1 commented on #62981
Hello,

Thanks very much
for the information. Yes, We will email allowmultiplelbs@microsoft.comshortly

Chandru Saravanan
ISD Engineer V
Enterprise Cloud
Navy Federal Credit
Union
Office: (703)-206-3066
Mobile: (571)-474-4437
Email: chandhrasekar_saravanan@navyfederal.org
Scheduled Work
Hours :0900 to 1730 ET

Navy Federal
is a Computerworld 2020Best Place to Work in IT.

From:
       irenehua
<no

[2020-10-14 20:43] BharathNimmala-MSFT commented on #64110
@cijothomas Thank you for helping on this thread.

@deepumi Thank you for reaching out. As explained by @cijothomas this document is about ApplicationInsights SDK for Asp.Net Core apps only.

The Azure DevOps team and community are active and answering questions [here ](https://developercommunity.visualstudio.com/spaces/21/index.html), so please post your question there instead.

Hope the above in

[2020-10-14 20:43] #64110 closed

[2020-10-14 21:13] chandhru1 commented on #62981
Hello,

We request Two
Standard Azure Internal Load Balancers to be deployed.

Azure Subscription
ID:  67a2fa41-927d-4755-8188-d75577ec23ab

Scenario:

We wanted to load
balance Cisco CSR 1000v routers deployed in our Azure VNET. These routers
have two nics attached to them. Both NICs have private IP addresses assigned.
These routers are considered internal only and they reach the internet
over Fi

[2020-10-14 21:18] BharathNimmala-MSFT commented on #64031
@Vyprichenko Thanks again for taking time to share your valuable feedback, I have assigned the issue to our document author @lgayhardt to further evaluate the feedback and enhance the document accordingly.

[2020-10-14 21:26] HeidiSteen commented on #64279
@saimachi I think we ruled out a few issues, but I'm not sure what to check next.  Can you post to stack overflow to loop in the larger team?  You should mention what you checked, and you should include basic elements of your indexer and data source definitions, minus any sensitive data.  The forum link is https://stackoverflow.com/questions/tagged/azure-cognitive-search?tab=Newest

Once you post,

[2020-10-14 21:27] keatseongchan opened #64405 "linkonrenewal default value"
linkonrenewal on the table seems to give the impression that default is "false".  However, we ran into problem when updating Service Fabric cluster that the new certificate was linked prematurely.   Please help update the documentation.  The extension should have a safer default value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-10-14 21:34] bbertoni commented on #63850
@jamesbannan, I just ran into this same issue. The outbound rule removed this error for me.

I've also noticed that my ML pipelines start up and finalize much more slowly than before. It seems like this issue is also related to Application Insights. I know am seeing this line of code:

`2020/10/13 01:32:14 appinsightlogger.go:42: Time Out after 20 second retries for flushing the logs, doing anothe

[2020-10-14 21:43] SaiKishor-MSFT commented on #64099
@haymansfield
Please let us know if you have any further questions/concerns on this issue. If not we will go ahead and close it. Thank you!

Remember:
- Please accept an answer if correct. Original posters help the community find answers faster by identifying the correct answer. Here is [how](https://docs.microsoft.com/en-us/answers/articles/25904/accepted-answers.html).
- Want a reminder to come

[2020-10-14 21:46] JamesTran-MSFT commented on #64068
@kennethvs
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-14 21:47] JnHs commented on #63357
As we haven't heard anything further I'm going to close this issue now, but please do let us know if you have additional feedback. Thanks!
#please-close

[2020-10-14 21:47] #63357 closed

[2020-10-14 21:57] BharathNimmala-MSFT commented on #64396
@carlosmayol Thank you for sharing your feedback. We will review the feedback and get back to you at the earliest.

[2020-10-14 22:12] SaiKishor-MSFT commented on #64389
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-14 22:22] tamram commented on #55706
@awentzel - Thanks for your feedback! I've added a link to the template library for storage.

Also, going forward as we continue to flesh out the documentation for the Azure Storage resource provider functionality, we'll work on improving our content around templates.

#please-close

[2020-10-14 22:22] #55706 closed

[2020-10-14 22:23] artisticcheese opened #64406 "Is vulnerability scanning solution is charged now?"
In previous version of Security Center vulnerability scanning inside VM was free on "Standard" tier, that is you were able to use it completely free. On current version of Azure Security Center it says it requires Azure Defender to be turned on which is not free.
Another thing to points that it used to be free when you try to enable it says it's included for free in "Standard" tier of Azure Securi

[2020-10-14 22:28] Karishma-Tiwari-MSFT commented on #64060
Thanks Erika :)

@chitturs As mentioned above, the doc team has a backlog item for updating this article. Your suggestion will be included as part of it.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-14 22:28] #64060 closed

[2020-10-14 22:30] saf-itpro opened #64407 "Azure Synapse Analytics tutorial: SQL syntax error. Query does not work"
The following SQL from an Official Microsoft Azure team's [tutorial][1] on [Azure Synapse Analytics][2] is giving the following error related to `WITH` clause in [common table expression (CTE)][3]:

**Query in Azure Portal**:

    CREATE TABLE [dbo].[Trip]
    (
        [DateID] int NOT NULL,
        [MedallionID] int NOT NULL,
        [HackneyLicenseID] int NOT NULL,
        [PickupTimeID] int NO

[2020-10-14 22:40] tamram commented on #55770
@edburns - Thanks for your feedback! I've added a link to the template library for storage.

Also, going forward as we continue to flesh out the documentation for the Azure Storage resource provider functionality, we'll work on improving our content around templates.

#please-close

[2020-10-14 22:40] #55770 closed

[2020-10-14 22:41] galrito commented on #53589
Come on, @Court72 after 5 months you could give me a bit more than 8 days of margin to respond.

@JasSuri
`<LocalizedString ElementType="UxElement" StringId="createaccount_link">Sign in</LocalizedString>`

[2020-10-14 22:42] kgalic commented on #57689
@alevincenzi Can you please explain how did you downgrade?

[2020-10-14 22:52] beeteedubs opened #64408 "uota"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-14 23:05] artisticcheese commented on #64406
Please close, wrong info on my side

[2020-10-14 23:05] #64406 closed

[2020-10-14 23:11] mikben commented on #63338
@SamaraSoucy-MSFT can you close this up? Thanks.

[2020-10-14 23:16] himanshusinha-msft opened #64409 "Please update the doc with the required permission for spark pool user on the storage account linked to WS"
We need to update the document with the permission for spark pool user  to have Storage Blob Data Contributor role on the ADLg2 storage account linked to the workspace to install new libraries .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6062879d-b323-e01a-bfc0-b31124e74ea8
* Version Independent ID: ba40190c-159c-b

[2020-10-14 23:24] tsrob50 opened #64410 "Setting “Don’t redirect any drives” in the portal not working"
The default setting for Drive/storage redirection in the WVD in the portal shows “Don’t Redirect any drives”.  This setting will not add a setting in the CustomRDPProperty on the host pool.  Drives will redirect even with this setting selected.

The default behavior for drive redirection without specifying a value equals the setting drivestoredirect:s:*, redirecting all drives including drives att

[2020-10-14 23:37] DarthRinzler opened #64411 "This page isn't very useful at all. How do I actually run these queries in .NET?"
Please provide instructions on how to actually use the CosmosClient and setup queries. There is surprisingly little documentation on this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ef452c-ff25-a2ec-feba-5dafa56cb918
* Version Independent ID: 733a3a55-e899-5c1d-9bcc-34c2d7e17d27
* Content: [Getting started with SQ

[2020-10-14 23:53] MarileeTurscak-MSFT commented on #64394
@Niglb Thanks for the feedback. If you want a faster response to this you can make a request in User Voice and the product team will get back to you. https://feedback.azure.com/forums/34192--general-feedback

There is no ETA that I am aware of yet, but I have reached out to ask for an update from the product team. I'll add the info to this thread when they get back to me as well.

+ @curtand

[2020-10-14 23:53] #64394 closed

[2020-10-14 23:54] MarileeTurscak-MSFT commented on #64406
Thanks for following up.

[2020-10-15 00:02] timsander1 commented on #64411
Hi @DarthRinzler , here are the .NET SDK samples on Query: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-v3sdk-samples#query-examples.

[2020-10-15 00:07] SatishBoddu-MSFT commented on #64272
**The context:**

We cannot use the IoT Hub connection string directly in an EventHub client app to read events. We have to first fetch the EventHub connection string by using the IoTHub connection string.

[Example:](https://github.com/Azure/azure-sdk-for-net/blob/master/samples/iothub-connect-to-eventhubs/Program.cs#L56)

[code]

If the above statement is correct, then we have to update/mention

[2020-10-15 00:12] Karishma-Tiwari-MSFT commented on #64405
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-15 00:17] felipepessoto commented on #64272
Yes, it is correct. Would be nice if the SDK handle that automatically, but I understand it doesn't currently support it.

If we need to manually fetch the EventHub connection string, I would add how to handle failovers. How can I identify a failover happened (an specific Exception is thrown?), and what should I do in that case? Fetch the new EventHub connection string and recreate the EventHub cl

[2020-10-15 00:18] MarileeTurscak-MSFT commented on #64408
@beeteedubs thanks for your feedback! Please create a new issue linking the exact document that you want to leave feedback for and describing the feedback for the doc.

[2020-10-15 00:18] #64408 closed

[2020-10-15 00:24] SatishBoddu-MSFT commented on #64272
Thank you, all are great questions!!!, let me see if I can add those to my followup with the team.

[2020-10-15 00:26] felipepessoto commented on #64272
Cool, thanks!

[2020-10-15 00:28] JasSuri commented on #53589
Thanks, I’ll check this for you.

[2020-10-15 00:30] DarthRinzler commented on #64411
This is perfect, thanks!

On Wed, Oct 14, 2020, 5:02 PM Tim Sander <notifications@github.com> wrote:

[2020-10-15 00:55] gary918 commented on #64343
@shashishailaj Sorry for the typo, I'm asking for a 'yml' format, not a 'xml' format of inference_config.json.

[2020-10-15 01:04] sandeep-ma opened #64413 "Example Until loop with HTTP Action looks faulty"
Hi
Your example of a long running Until loop where it is mentioned that it will run for an hour or 60 times is not correct and also misleading. The inner action will fail after 2 minutes as there is no way to use an HTTP action in Logic Apps if the response will take more than 2 minutes. Therefore the Until Loop will also fail after 2 minutes.

Please remove such misleading examples since there is

[2020-10-15 01:10] rockboyfor commented on #64281
@Sharmistha-Rai - thanks a lot!
For the issue two, I think it should be the product feature, not the document content.  I will revoke the second issue and contact with other group for confirmation.

Appreciate your great help!
Edward Chen

[2020-10-15 01:30] MonikaReddy-MSFT commented on #64401
@Cyborg-Model-Z -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-15 01:30] MonikaReddy-MSFT commented on #64310
@deepakkhetwal -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-10-15 01:30] #64310 closed

[2020-10-15 01:33] eosho commented on #64216
thanks @saket-ms for the response.

[2020-10-15 01:44] ChaitanyaNaykodi-MSFT commented on #64141
Hello @Paul-Dempsey. Sorry for the delay in my response. Regarding the first part of your question, in this [Azure functions developer guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference) you can find the required information for running and configuring multiple functions within a function app. You can define multiple sub-folders in your root project folder which cont

[2020-10-15 01:50] Kapkan-Lesion commented on #63672
Do we have any updates on this?

[2020-10-15 01:53] ChaitanyaNaykodi-MSFT commented on #63899
Hello @carlo-quinonez, I am sorry for the delay in my response. I have reached out to the team internally in order to validate issue faced. I will make a response here as soon as I have an update. Thank you for your patience.

[2020-10-15 02:10] Karishma-Tiwari-MSFT commented on #64371
Thanks for the confirmation @vikancha-MSFT
@ioan-agopian We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-15 02:17] ermacia91 opened #64415 "IDCS experience"
I recently worked an Oracle IDCS for Cloud Infrastructure SSO configuration where the procedure was very different to the one presented here.

The Sign On URL as presented is not a valid pattern anymore, and there is a set of steps needed in Oracle's side that are not presented in a straightforward manner anywhere, and that would benefit customers if included here: add the Azure AD IDP app in the

[2020-10-15 02:41] Mike-Ubezzi-MSFT commented on #64233
Thank you for that additional detail, @grumm90. I am going to have an engineer who supports this service engage this issue directly. You may also leverage the Microsoft Q&A as an option to find a solution to your issue, as in both cases you have opened, I don't have a specific document to work with.

[2020-10-15 02:45] Mike-Ubezzi-MSFT commented on #64395
@slave02 - Thank you you for making us aware of this unexplained discrepancy. This is being investigated by the content team to identify areas of improvement to better explain this calculation and related metrics.

[2020-10-15 02:49] Mike-Ubezzi-MSFT commented on #64395
@oslake - Do you have input or feedback you can provide here?

[2020-10-15 02:52] Mike-Ubezzi-MSFT commented on #64402
@yahorsi - Thank you for bringing this to our attention. We are evaluating your inquiry and will provide an update to you shortly.

[2020-10-15 02:54] slave02 commented on #64395
Hello Mike,

not at the moment - I hope someone can straighten this out

Thanks

On Thu, 15 Oct 2020 at 13:49, Mike Ubezzi <notifications@github.com> wrote:

[2020-10-15 03:24] kazshi opened #64418 "Streaming Endpoint - missing 'CPU usage' and 'Egress bandwidth' metrics"
'CPU usage' and 'Egress bandwidth' metrics are displayed on the Portal, but the metrics are missing from the Streaming Endpoint table. Please add the metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03428118-ee94-2e97-dc50-20ddc4736d18
* Version Independent ID: 14f9508e-1cf7-3f24-f357-3ea50007b8b8
* Content: [Me

[2020-10-15 03:56] Letsan opened #64419 "Is "c:\work\ca.pem" the right path for the SSL certificates included on App Service platform?"
Section 4 of the FAQ states:

I can't find any information on how the check I'm using, by default, the right certificate. Based on the documentation and wording it seems that if a SSL connection is currently being used, it will indeed use the App Service platform certificates. But its implied, not directly stated, and there are no instructions in the docs to check which scenario we are in.

We are

[2020-10-15 04:13] AnuragSharma-MSFT commented on #64411
@timsander1 Thanks for providing the necessary documents.
@DarthRinzler We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-15 04:13] #64411 closed

[2020-10-15 04:14] AnuragSharma-MSFT commented on #64419
@Letsan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-15 04:25] SaiKishor-MSFT commented on #64115
@Trundlore Please allow me to look into this issue further and get back to you!

[2020-10-15 04:32] psmanhas commented on #62267
@Astrophe717 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-15 04:32] #62267 closed

[2020-10-15 04:33] psmanhas commented on #62933
@anavard We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-15 04:33] #62933 closed

[2020-10-15 04:34] CHEEKATLAPRADEEP-MSFT commented on #64407
@saf-itpro  Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-15 04:53] MayankBargali-MSFT commented on #64413
@sandeep-ma Thank you for your feedback! We will review and update as appropriate.

[2020-10-15 04:56] Seefer opened #64420 "'Open 192.168.0.1 in the browser.' screenshot confusion"
The screenshot showing the IoT DevKit Settings page has four fields for SSID dropdown selector, SSID manual entry, password and connection string. When I browse to 192.168.0.1 I do not have this fourth connection string field. just the drop down SSID selector, manual SSID entry field and password.

I'm having nothing but problems trying to follow Docs for using the MXCHIP with Azure. Things seem o

[2020-10-15 05:00] tamram commented on #51628
Thanks for your feedback. This article has been updated so that it has examples for both v12 and v11.

#please-close

[2020-10-15 05:00] #51628 closed

[2020-10-15 05:03] tamram commented on #11419
#reassign: @tamram

[2020-10-15 05:11] tamram commented on #28889
#reassign: @tamram

[2020-10-15 05:13] tamram commented on #28889
@VeryKross - Thanks for your feedback. I agree that it's unfortunate that our CLI examples only work as written with Bash/CloudShell. However, that's the convention throughout the Azure docs. The assumption is that PowerShell users are using the PowerShell module.

#please-close

[2020-10-15 05:13] #28889 closed

[2020-10-15 05:17] tamram commented on #32438
@hilari0n - Thanks again for your feedback. I'm closing this one out now as there's no further work required from the content team.

#please-close

[2020-10-15 05:17] #32438 closed

[2020-10-15 05:18] SeaDude commented on #55111
Right on. Thank you for the follow up.

[2020-10-15 05:21] tamram commented on #34335
@kumarallamraju - Thanks again for your feedback. This isn't a documentation issue, so we're closing it out now.

#please-close

[2020-10-15 05:21] #34335 closed

[2020-10-15 05:25] tamram commented on #40950
@PingPongSet - Thanks for your feedback. The explanation provided by @sujayvsarma is accurate. We're closing this one out now - please let us know if you have further questions.

#please-close

[2020-10-15 05:25] #40950 closed

[2020-10-15 05:51] psmanhas commented on #64410
@tsrob50 Thank you for the query. We will work on it and will keep you updated on the thread

[2020-10-15 05:56] KalyanChanumolu-MSFT commented on #64420
@Seefer Thank you for taking the time to report this issue.
Your feedback is very valuable and will help us in improving our documentation and overall experience with our IoT products.

We are actively investigating this and will get back to you soon.
Meanwhile could you please check if you are using the [latest firmware](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az

[2020-10-15 06:12] akashperfect opened #64422 "Permission for create container using managed identity"
If I want to create a new container in ADLS by callling [CreateFileSystemAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.files.datalake.datalakeserviceclient.createfilesystemasync?view=azure-dotnet#Azure_Storage_Files_DataLake_DataLakeServiceClient_CreateFileSystemAsync_System_String_Azure_Storage_Files_DataLake_Models_PublicAccessType_System_Collections_Generic_IDictionary_System

[2020-10-15 06:22] CHEEKATLAPRADEEP-MSFT commented on #64409
@himanshusinha-msft  Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-15 06:26] psmanhas commented on #64410
@tsrob50 Can you please see if the RDP file contains property "redirectdrives:i:1"? If so, drive redirection would still be enabled even when "drivestoredirect" isn't set. To make sure drive redirection is completely disabled, please also set "redirectdrives:i:0".

[2020-10-15 06:35] CHEEKATLAPRADEEP-MSFT commented on #64407
@saf-itpro You will receive this error message, when you run Load the NYC Taxi Data using **SQL on-demand** pool.

![image](https://user-images.githubusercontent.com/44426401/96085173-0ab38d80-0ede-11eb-999d-786b4bb448ee.png)

As it called out in the document "Load the NYC Taxi Data into **SQLDB1**", you need to use the previously created **SQLDB1** pool which you have created.

**Example:** I hav

[2020-10-15 06:42] amanmcse commented on #64374
@stephen-cripps The URL maypp://auth is valid and should work. Are you getting any error while registering the application using this URL?

[2020-10-15 07:27] onyand opened #64423 "Android MSAL Configuration and Authority URL"
Thanks for this document. It mostly works as captured. However, there are 2 areas that I need help on:
1.  The MSAL Configuration that is generated in the Android configuration page on the AD portal is not similar. The "type" tag that is autogenerated is "B2C" but the documentation refers to "AAD"
2. The authority URL specified in the document is "https://login.microsoftonline.com/common" which is

[2020-10-15 07:36] EthanNguyen132 opened #64424 "Cannot debug Azure function with IntelliJ IDEA"
I was trying this document to debug Azure function code with IntelliJ IDEA. It can be run the function locally but it doesn't stop at breakpoints. Debugging port seem ok? I can see port 5005 being logged.

Below is complete logs from IntelliJ

Extension bundle specified, skip install extension
Using port : 7071
Azure Functions Core Tools (3.0.2931 Commit hash: d552c6741a37422684f0efab41d541ebad2b2

[2020-10-15 07:38] MatthewSteeples commented on #64393
I may have jumped the gun with this actually, as I'm struggling to get it working. [The UserVoice request](https://feedback.azure.com/forums/269742-batch/suggestions/33640984-support-managed-service-identity) still indicates that this is outstanding, so I'm not sure of the status of it anymore!

[2020-10-15 07:40] Ari6 commented on #63923
@dsindona Thanks!

[2020-10-15 07:59] Bonnie-Chen95 commented on #64360
Hi @shashishailaj ,

Thanks for picking this one. Looking forward to your findings.

[2020-10-15 08:02] #59836 closed

[2020-10-15 08:05] SubhashVasarapu-MSFT commented on #62981
@chandhru1, I have masked the PII information that is exposed on this doc. Please don't post PII info on the public forums to avoid vulnerable situations. Also, our team will be responding you back on the asked feature request. Have a great day!

[2020-10-15 08:06] megaalc opened #64425 "Which region should i select for WVD service health alert ?"
Which region should I select for WVD service health alert ?
Sould it be USregions where brokering services and metadata locations located (please list all of required regions in this case), or / in addition it should be my local regions where my session host located ?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-15 08:12] #57242 closed

[2020-10-15 08:22] iamalexmang commented on #45225
Setting up a CDN rule to prevent an Angular SPA in Static Websites without it returning a 404 (which is cumbersome for web scrappers such as Facebook, necessary for Facebook sharing features and many more) is more complex than is should. A sample for this somewhat typical request would be more than welcome!

[2020-10-15 08:23] SAIMMINHAS commented on #64294
Managed to find my answer by myself...

Ausome...!

[2020-10-15 08:29] BryanTrach-MSFT commented on #64143
@sethmanheim Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-15 08:30] Baars-IT opened #64426 ""Replace both ProxyIdentityExperienceFrameworkAppId" while file only contains one"
It says: "Replace both instances of ProxyIdentityExperienceFrameworkAppId with the application ID of the ProxyIdentityExperienceFramework application that you created earlier."

But the file, just downloaded the zip, only contains one instance of ProxyIdentityExperienceFrameworkAppId.
It does contain a third instance of IdentityExperienceFrameworkAppId though. Not sure what value to put there now.

[2020-10-15 08:34] SAIMMINHAS commented on #64294
Ok..here's the update now... i managed to link up my Subscription with the PIM but for some reason, Roles, Assignments, Alerts, Settings and Resource audit all are grayed out. Not sure why. Below is the image of it.

![image](https://user-images.githubusercontent.com/30388154/96097805-4f80f980-0ec9-11eb-8d64-7578e7b02798.png)

[2020-10-15 08:38] yoelhor commented on #64426
Could you share the link to the file on the GitHub repo. Because I see two instances https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAndLocalAccounts/TrustFrameworkExtensions.xml#L35

[2020-10-15 08:40] yoelhor commented on #64364
Could you share the correlation ID?

[2020-10-15 08:47] hdavid1986 commented on #53589
We have the same problem. Also I would like to change the whole text on the top of the page but **local_intro_username** is not working either with the latest data uri: **urn:com:microsoft:aad:b2c:elements:contract:unifiedssp:2.1.0** so I needed to downgrade to 2.0.0 to be able to change the intro text.

Any help is appreciated! Thanks!

[2020-10-15 08:47] Baars-IT commented on #64426
You are right, I think I must get a pair of glasses...
My apology.
You can close the issue.

[2020-10-15 08:48] SubhashVasarapu-MSFT commented on #64144
@rudolphjacksonm, appreciate your patience, For TLS encrypted traffic, decryption will happen only within the Application Gateway instances.

[2020-10-15 08:56] SAIMMINHAS commented on #64294
LOL...managed to solve this as well...!

Bring it on...!

[2020-10-15 08:56] #64294 closed

[2020-10-15 09:00] AjayKumar-MSFT commented on #62016
Yusuke, I was expecting your email, but we did not receive. As I'd mentioned, I was not able to repro the scenario you had mentioned and as the doc highlighted we cannot mix different OS versions of apps in the same RG-region. Apologies! for the delay, kindly do let us know/connect offline to discuss more on this. Again, much appreciate you taking time to share your feedback for Azure doc enhancem

[2020-10-15 09:14] MarzelLaning42 opened #64427 "The use of Global Admin is more extensive than suggested"
"Azure AD Global Admin credentials

These credentials are only used during the installation and are not used after the installation has completed. It is used to create the Azure AD Connector account used for synchronizing changes to Azure AD. The account also enables sync as a feature in Azure AD."

Global Admin role is always necessary when running the install or upgrade of the product, so not on

[2020-10-15 09:21] JasSuri commented on #40249
The solution is in my post [here](https://github.com/MicrosoftDocs/azure-docs/issues/40249#issuecomment-540127629)

[2020-10-15 09:27] Sharmistha-Rai commented on #64281
@rockboyfor - thanks for the quick update. I have changed the documentation to reflect the correct steps.

@SadiqhAhmed-MSFT - please close this issue as it is resolved now.

[2020-10-15 09:31] MayankBargali-MSFT commented on #64424
@EthanNguyen132 Thank you for your feedback! We will review and update as appropriate.

[2020-10-15 09:35] SnoWolfT commented on #64301
@WinstonHoward-MSFT Thank you for your help! Look forward to your update!

[2020-10-15 09:38] yoelhor commented on #64426
No worries :)

#please-close

[2020-10-15 09:38] #64426 closed

[2020-10-15 09:41] woutvanduffelspks opened #64428 "General Availability of custom mapping policy"
Dear,

In the documentation the following is stated : "This capability currently is in public preview. Be prepared to revert or remove any changes. The feature is available in any Azure Active Directory (Azure AD) subscription during public preview. However, when the feature becomes generally available, some aspects of the feature might require an Azure AD premium subscription. "

When will the fe

[2020-10-15 09:41] GitaraniSharma-MSFT commented on #64093
@shadowano , following up to check for an update on this thread. Kindly let us know if you need further assistance on this issue.

[2020-10-15 09:44] AngelusGi opened #64429 "Wrong description - Large (Nested Virtualization)"
Large (Nested Virtualization) | 8 Cores 32 GB RAM

### Comments

The vm is Large (Nested Virtualization) | 8 Cores 32 GB RAM instead of Large (Nested Virtualization) | 8 Cores 16 GB RAM
I don't know with VM is associated with this configuration

![image](https://user-images.githubusercontent.com/17298854/96106743-d9d25900-0edb-11eb-9fac-67c2efeb8d96.png)

---
#### Document Details

⚠ *Do not edit

[2020-10-15 09:46] yoelhor commented on #62095
There is a new metadata, but you need to update the [Page layout versions](https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout) to 2.1.0

Please check [the document](https://docs.microsoft.com/azure/active-directory-b2c/custom-email-sendgrid) later today, or tomorrow, you should see a new section called "[Optional] Localize the UI". After I publish the doc, this issue will be c

[2020-10-15 09:47] AjayKumar-MSFT commented on #64418
@kazshi, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-15 09:49] #62095 closed

[2020-10-15 09:54] JasSuri commented on #53589
Ok i narrowed it down to the page contract version.

This works:
[code]

But this does not:
[code]
[code]

I will have the team check out the stringIds on the new 2.1.0 page contract, whether they were missed or whether the stringId changed.

[2020-10-15 09:57] bjh1977 commented on #62693
This isn't really helfpul! Do you have a link to the issue being investigated by the Azure portal team??

[2020-10-15 09:57] AnuragSharma-MSFT commented on #64338
@ynorvo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-15 09:57] #64338 closed

[2020-10-15 09:58] AnuragSharma-MSFT commented on #64359
@shkale-msft Thanks for pitching in with the response.
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-15 09:58] #64359 closed

[2020-10-15 10:00] ram-msft commented on #64267
@ghiden We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-15 10:00] #64267 closed

[2020-10-15 10:12] satyainfotech commented on #64073
Hi,

I am getting below issue today constantly. Can you please let me know quick solution to fix this issue. The issue only having with `response_type: code` however it's working fine with `response_type: id_token`

**Sorry, but we're having trouble signing you in.
We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, please try again.
Correlati

[2020-10-15 10:14] shashishailaj commented on #64415
@ermacia91 Thank you for your feedback . We will reach out internally on this .

[2020-10-15 10:15] shashishailaj commented on #64423
@onyand Thank you for your feedback . We will have this reviewed and update the thread.

[2020-10-15 10:16] shashishailaj commented on #64427
@MarzelLaning42 Thank you for sharing this. We will have this reviewed and update the thread.

[2020-10-15 10:18] shashishailaj commented on #64428
@woutvanduffelspks Thank you for your query . We will have this checked internally and let you know accordingly.

[2020-10-15 10:24] adrwh opened #64432 "Trouble with users API and signInActivity filtering"
Hi i am experiencing trouble with this resource.

I have an AAD App registered, and have assigned the "AuditLog.Read.All" and "Organization.Read.All" API permissions.  My client is PowerShell, doing client credentials grant type (I use this all across the graph API), however when trying to run the following, i get a mixture of either an empty value or a an insufficient privs, depending on what dat

[2020-10-15 10:36] miqm commented on #63779
@SubhashVasarapu-MSFT I'd rather wait for the resolution and confirmation if this certificate is allowed or not, and if it is, then for updated doc page.

[2020-10-15 10:36] Audii3 opened #64433 "Not able to create Application gateway"
I am following the exercise: Exercise - Create and configure an Application Gateway
(url: https://docs.microsoft.com/nb-no/learn/modules/load-balance-web-traffic-with-application-gateway/5-exercise-create-configure-application-gateway)

However, i get an error when trying to create the application gateway:
[code]

And get a response:

[code]
I have followed all instructions as given in the exercis

[2020-10-15 10:39] ram4031 commented on #40249
If i need to switch to singin from singup(like singin to singup) will this approach work? i couldn't find anything related to that in the documents. please help

[2020-10-15 10:57] SubhashVasarapu-MSFT commented on #64433
@Audii3, Thanks for reaching out. We will investigate and update this thread.

[2020-10-15 11:02] BhargaviAnnadevara-MSFT commented on #64429
@AngelusGi Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-15 11:10] AjayKumar-MSFT commented on #64233
Gábor, It looks like you're referring to the steps outlined in this documentation -[Register a SAML application in Azure AD B2C
](https://docs.microsoft.com/azure/active-directory-b2c/connect-with-saml-service-providers) -Application management via Azure AD. Kindly let us know if it's any different document, so we can better assist you.

Thanks again for leveraging Azure docs feedback channel to r

[2020-10-15 11:11] cenkersoy opened #64435 "Azure Stack Engine"
[Enter feedback here]

By "Azure Stack Engine" do you mean "Azure Stack Edge" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9877fe-daba-9dd2-26f7-04de1f7a6dce
* Version Independent ID: 3fb88591-d13d-bd9f-7b3e-f48d11f28fbe
* Content: [Overview of Azure Arc enabled Kubernetes - Azure Arc](https://docs.microsoft.com/

[2020-10-15 11:17] #64233 closed

[2020-10-15 11:28] ram4031 opened #64436 "Adding "Already have account" button to sign up page custom policies Azure B2c"
Need to show singup page first for my website and a button on signup page to redirect to singin

- Already created a custom singup policy to first show singup form but now need to add button which takes user to signin if they already have account(something like singin and singup toggle)

**Extensionfile:**

[code]

**SingupPolicy:**

[code]

**Something like this**
![image](https://user-images.git

[2020-10-15 11:44] jamesbannan opened #64437 "Guest account unable to log in using AADLoginForLinux"
When a guest account attempts to log into a Linux VM with the `AADLoginForLinux` extension installed, the user is prompted to authenticate via the browser. Once authenticated, the SSH connection is closed and simply reports `Connection closed`.

Looking at the serial console in the Azure portal, when the login attempt was made, the system reported the error: `User not known to the underlying authe

[2020-10-15 11:46] AjayKumar-MSFT commented on #64231
@grumm90,
Gábor, We want to better assist you on this issue, so I'm just confirming, it looks like you're referring to the steps outlined in this documentation -[Set up SAML-based single sign-on (SSO) for an application in your Azure Active Directory (Azure AD) tenant](https://docs.microsoft.com/azure/active-directory/manage-apps/add-application-portal-setup-sso)  - Application management via Azur

[2020-10-15 11:52] alevincenzi commented on #64370
Ok. That makes 24.8 days at most.
It would be nice to have it documented, however.

Any plan to have an extension of TTL?

[2020-10-15 12:00] CHEEKATLAPRADEEP-MSFT commented on #64178
@kunamneni117  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-15 12:00] #64178 closed

[2020-10-15 12:04] rudolphjacksonm commented on #64144
Hi @SubhashVasarapu-MSFT , thanks for the update! That's great. If that could be added somewhere to this page in the docs that would be fantastic!

[2020-10-15 12:04] CHEEKATLAPRADEEP-MSFT commented on #64355
@shivaprathipati  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-15 12:04] #64355 closed

[2020-10-15 12:05] Cyborg-Model-Z commented on #64401
Thank you for your response. I closed that window. You can close the request

On Wed, Oct 14, 2020 at 9:30 PM MonikaReddy-MSFT <notifications@github.com>
wrote:

[2020-10-15 12:07] SubhashVasarapu-MSFT commented on #64433
@Audii3, I have linked the doc to your question as it is related to the concept of configuring application gateway with an internal load balancer endpoint. Generally, APPGW WAF_V2 SKU cannot be deployed with private IP alone at the frontend config. So, you need to either deploy it with public IP or using both at the frontend config,

**SS:**
![image](https://user-images.githubusercontent.com/44890

[2020-10-15 12:11] AnuragSharma-MSFT commented on #64436
@ram4031 Thanks for reaching out. GitHub forum is basically for Microsoft document related issues. Could you please provide the link/article your are referring to while performing above scenarios.

[2020-10-15 12:15] SatishBoddu-MSFT commented on #64370
Hello @alevincenzi Thanks again for the great question.

Could you please submit a User-Voice Feedback on this page: [Azure IoT Edge-How can we improve?](https://feedback.azure.com/forums/907045-azure-iot-edge)
**Note:** Please submit your complete scenario details with justification on why would you need the TTL (deviceAutoDeleteProperties.deleteAfterMinutes) to be extended, so that other users m

[2020-10-15 12:18] SubhashVasarapu-MSFT commented on #64181
@takekazuomi, Appreciate your feedback. Looks like template reference docs are not up to date. I can the 2020-01-01 ARM is been deployed without any error. The latest version must be updated on the docs. We will work on updating it asap. Any other queries from your side? or are we good to close this issue?

[2020-10-15 12:20] SubhashVasarapu-MSFT commented on #64144
@rudolphjacksonm, Sure, we will work on updating the doc.

[2020-10-15 12:24] shashishailaj commented on #64432
@adrwh Thank you for your feedback . We will have this reviewed and update the thread.

[2020-10-15 12:26] takekazuomi commented on #64181
I also confirmed that the sample code can be executed. After updating the reference documentation, I'll check other options.

Please close after updating the reference document.

[2020-10-15 12:27] rusan-css opened #64440 "Add common cause for a failed hybrid Azure AD join"
Recently I worked on an issue where HAADJ+ fails after an user has its UPN changed, which broke the Seamless SSO authentication process. During the join process we see that it is still sending the old UPN to AAD, unless, browser session cookies are cleared or user explicitly signs-out and removes old UPN, for example going to https://myapps.microsoft.com.

I was able to reproduce this behavior eve

[2020-10-15 12:31] bmeverett opened #64441 "Delete jobs tables after deleting resource"
How do I delete the jobs database/schema once I created it? I deleted the resource in the Azure portal, but the tables are still in the database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and mana

[2020-10-15 12:42] tsrob50 commented on #64410
I’m not using a file.  This is a WVD implementation using the MSRDC client.  The redirect settings are set at the host pool properties.

The value redirectdrives:i:0 is not listed as a supported value in the supported RDP settings referenced in this article. I set redirectdrives:i:0 in advanced settings in RDP Properties and the local drives still redirected.

https://docs.microsoft.com/en-us/wind

[2020-10-15 12:55] VikasPullagura-MSFT commented on #64422
@akashperfect
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-15 13:05] ActiveNick opened #64442 "Error in Code Snippet for 'Create a service SAS for a blob'"
The sample code snippet for Create a service SAS for a blob has an error. You need to make sure that a question mark (?) is inserted between the blob uri and the SAS token, or else you'll generate an invalud url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba8dd43-ef02-5c5c-382d-f8d653721280
* Version Independent I

[2020-10-15 13:08] stephen-cripps commented on #64374
Sorry, I forgot to select Public client/native (mobile & desktop).

[2020-10-15 13:10] VikasPullagura-MSFT commented on #64437
@jamesbannan
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-15 13:11] VikasPullagura-MSFT commented on #64425
@megaalc
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-15 13:12] smizrohi opened #64443 "ARM template failed validation"
Hello,

When I'm trying to deploy your template for managed HSM using the same parameters as on this page  the SKU parameter entered as Standard_B1 results in the error:

Unable to parse the value into type 'object'

Could you please to fix the template?

Regards,
Serguei

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-15 13:23] amanmcse commented on #64374
@stephen-cripps Thanks for the confirmation. Closing the issue now.

[2020-10-15 13:23] #64374 closed

[2020-10-15 13:26] ram4031 commented on #64436
@AnuragSharma-MSFT This is the Article i'm referring [Set up sign-in with azure b2c](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom?tabs=app-reg-ga)

[2020-10-15 13:30] Audii3 commented on #64433
Ok, thanks for checking! However, I can not see that I spesify private ip anywhere. I use Azure CLI, as suggested in exercise. That should also mean that something is missing in the approach in the exercise, as suggested solution gives errors when all steps are followed.

[2020-10-15 13:30] oussamachelly opened #64445 "Documentation not up to date"
The following file does not exist:
"In the Azure Machine Learning examples repository, find a completed notebook by navigating to this directory: how-to-use-azureml > ml-frameworks > fastai > train-with-custom-docker"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5a2184-2f06-5c07-477c-86b2591fb2aa
* Version Independ

[2020-10-15 13:49] mauve commented on #64365
Thanks for the quick response. It was helpful.

I was just interested in browsing the code online which is why I skipped the "Prepare the development environment" step. You might want to consider directly linking to the example somewhere.

[2020-10-15 13:49] #64365 closed

[2020-10-15 13:50] saf-itpro commented on #64407
@CHEEKATLAPRADEEP-MSFT Your suggestion worked like a charm. Thank you for taking your time to help me (and probably many other readers of this post). You very nicely explained the issue. Microsoft needs people like you. Many THANKS.

The error message, I think, is misleading, and Microsoft team may want to look into it.

[2020-10-15 13:54] SeaDude commented on #58430
Prime example: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth

[2020-10-15 13:56] hostmatic opened #64446 "Missing information regarding OneDrive auto sign in - Azure Hybrid Join"
Please see:
https://docs.microsoft.com/en-us/onedrive/use-silent-account-configuration#prerequisites

Should have it mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7e52a-b2b1-0372-0e62-12f6733fc699
* Version Independent ID: a21ed743-3fbc-0d20-6947-188744e0a2f7
* Content: [Install Office on a master VHD im

[2020-10-15 14:13] AnuragSharma-MSFT commented on #64441
@Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-15 14:17] NSVR57 commented on #31354
@loomlike is this problem resolved?. are you able to use pb6s family?

[2020-10-15 14:21] VikasPullagura-MSFT commented on #64442
@ActiveNick Thanks for pointing this out. We will check and update the document.

[2020-10-15 14:23] Court72 commented on #53589
@galrito - GitHub closed this when [PR 133829](https://github.com/MicrosoftDocs/azure-docs-pr/pull/133829) was merged.
Is this still an open issue? If so, we can reopen the PR for you.

[2020-10-15 14:26] sebader opened #64447 "AKS upgrade does not work as described - old nodes are not deleted but upgraded instead"
The docs say [here](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#upgrade-an-aks-cluster):

However, after having tested this on multiple clusters, the behavior seems different:

1) a new node is added - which is running on the new aks version
2) An existing node is drained, the pods are re-scheduled on the new node
3) Now, instead of deleting the old node as described above, instead

[2020-10-15 14:35] yoelhor commented on #51464
Thanks @stevemilligansds. I'm closing this issue.

#please-close

[2020-10-15 14:35] #51464 closed

[2020-10-15 14:35] sebader commented on #64447
This sounds related: https://github.com/Azure/AKS/issues/1741

[2020-10-15 14:44] bradleybonitatibus opened #64450 "Schema Registry Limitations Size In Bytes Duplication"
Hi there,

While going through the limitations for the Schema Registry service, I found duplicated "features" with multiple values.

![image](https://user-images.githubusercontent.com/51533672/96145473-3d0bbd80-0ed3-11eb-874d-36cc3ebc827c.png)

As shown in the attached image, "Size in bytes per group property key" is duplicated and has two different values.

I am not sure which is correct or if th

[2020-10-15 14:45] devedse opened #64451 "Example code does not compile and is incorrect"
Regarding this code block:
[code]

Code does not compile as it's using the variable relationship twice. Furthermore the variable id is never used. I tried some of my own interpretations of what could be meant here but these don't work yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ab4ee-a444-27d9-eba6-60e378934

[2020-10-15 14:51] NumberByColors commented on #21590
@SamaraSoucy-MSFT I haven't worked on this in years

[2020-10-15 14:53] aressler38 opened #64452 "Where are the SKUs for ARM templates?"
This page is helpful for explaining the different App Service Plans. I need to select one in an ARM template, so I need to know the SKUs associated with each plan. Please add the SKUs & descriptions for these plans in a table. I can't find anywhere on the Azure site where a complete listing of SKUs exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-10-15 15:04] saachigopal commented on #64445
updated the file path in the article

[2020-10-15 15:05] fabioharams opened #64454 "Include another troubleshooting step"
Include another error on "Troubleshooting AWS integration"
link: https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/aws-integration-manage#troubleshooting-aws-integration

Error code : "Internal error"
Resolution: Please verify that both AWS connector and the subscription are on the same Management Group

**Edited: Added doc meta**

---
#### Document Details

⚠ *Do not edit this

[2020-10-15 15:07] baanders commented on #64451
Thanks @devedse! This article is currently undergoing edits to resolve. I'll keep this thread updated with the progress!

[2020-10-15 15:17] mmacy commented on #64423
@onyand It sounds like you're working in an Azure AD B2C tenant, while this tutorial is intended for Azure AD tenants.

Have you taken a look at this article in the B2C documentation, by chance?

[Sign-in using an Android application in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/signin-appauth-android)

Cc: @msmimart

#reassign:mmacy

[2020-10-15 15:23] mmacy commented on #64346
#reassign:mmacy

[2020-10-15 15:26] JamesTran-MSFT commented on #64443
@smizrohi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-15 15:27] mmacy commented on #62479
Ping @jmprieur @jennyf19 - can you confirm my guidance above is on the right track?

[2020-10-15 15:28] JamesTran-MSFT commented on #64440
@rusan-css
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-15 15:31] Naboo2604 opened #64455 "Section not complete (Initial PS CMDLet missing...)"
The section "Generate managed identity using PowerShell" [https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-managed-identity-using-powershell](url) is not complete, it begins with "Call Set-AzDataFactoryV2 command again..." - so the initial CMDLet to create the identity is missing...

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-15 15:39] kenwith commented on #56848
@nashuatek - thank you for taking the time to provide feedback as you read through the doc. I have updated based on your recommendation. I know it takes time to provide the feedback to help others and I really appreciate it. Sorry for my long delay. The article should be updated shortly.

[2020-10-15 15:39] kenwith commented on #56848
#please-close

[2020-10-15 15:48] #64381 closed

[2020-10-15 15:50] #64346 closed

[2020-10-15 15:53] mmacy commented on #64346
Thanks, @qtuner, fix merged in https://github.com/MicrosoftDocs/azure-docs-pr/pull/134044 (private repo, may 404 for you):

[2020-10-15 15:56] roygara commented on #41184
It seems the later issues were due to that regression, and the earlier issues were likely due to the earlier instructions, which have evolved considerably over time.

Accordingly, I'll go ahead and close this out, since the instructions are working for folks.

#please-close

[2020-10-15 15:56] #41184 closed

[2020-10-15 15:57] WinstonHoward-MSFT commented on #64301
Hi @SnoWolfT, just following up. I'm still tracking this issue and working alongside internal teams.

[2020-10-15 15:57] dannyevers commented on #64400
I directed these questions to Ming.

[2020-10-15 16:02] Karishma-Tiwari-MSFT commented on #64089
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-15 16:02] #64089 closed

[2020-10-15 16:03] Norrch2 commented on #64381
Hi @shashishailaj  I noticed that this was closed without providing an update. I looked at the website and do not see an update. Is this not going to be included?

[2020-10-15 16:05] Karishma-Tiwari-MSFT commented on #64292
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-15 16:05] #64292 closed

[2020-10-15 16:07] thommck opened #64457 "Licence for device groups"
THis article states that Azure AD Premium P1 per user is needed for dynamic user groups but it doesn't mention what is needed for device-based dynamic groups - e.g. if we are using dynamic device groups to target Intune policies to kiosks that have no assigned user do we need a licence other than Intune?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-15 16:09] Naboo2604 commented on #64455
...after a little research i understand what the text "call ... again" in the section mean - it´s a little confusing - because it means - "if you have created the ADF with powershell before..." - so it would be clearer if you change it to "If you have already created the resource without identity parameter call Set-AzDataFactoryV2........"

[2020-10-15 16:11] NavtejSaini-MSFT commented on #64242
@yahorsi You are seeing this from PostGreSQL side. The statement refers to the fact that MS will always support n-2 versions where n is the latest version Microsoft supports. It has nothing to do with what Postgresql version is currently available.

By that logic currently MS supports version 11 and as the statement mentions, it will also support 11-1 = Version 10 and 11-2 = version 9

Hope this h

[2020-10-15 16:12] Karishma-Tiwari-MSFT commented on #64435
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-15 16:16] GiftA-MSFT commented on #64156
@aminsaied can you please review the PR or address this issue?

[2020-10-15 16:22] NavtejSaini-MSFT commented on #64264
@carbonox-infernox PaaS delivers a framework for developers that they can build upon and use to create customized applications. But the SaaS is a software itself and you are just using it as end customer.
You can use Azure SQL as underlying Data layer where you have access to the Data and can build applications on top of it but the mangement part of it like backups, high availability etc. is manag

[2020-10-15 16:27] yoelhor commented on #57551
I just wanted to check in and see if you had a chance to review Jas' response. If you have any other questions, please let us know. Thank you for your time and patience throughout this issue.

[2020-10-15 16:29] #63338 closed

[2020-10-15 16:30] turbozapekanka commented on #64391
Is this available for specific apps only?
here is what I see on my function app:

![image](https://user-images.githubusercontent.com/20775323/96158975-bc9c8b00-0ed9-11eb-9ea4-c5399ec6835e.png)

[2020-10-15 16:31] wesmc7777 commented on #60372
Can close this. We have depreciated that topic

[2020-10-15 16:35] #60372 closed

[2020-10-15 16:35] #64077 closed

[2020-10-15 16:48] NavtejSaini-MSFT commented on #64307
@stevestein @MashaMSFT Is there a way to bypass the T SQL Limitation. Please convey and we will edit the document accordingly.

[2020-10-15 16:50] ioan-agopian commented on #64371
I think you should correct https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-amd-driver-setup to show the latest supported version. It now states the supported version is:
Windows 10 Enterprise multi-session - Build 1903

As 1903 will be out of support soon, we decided to go in our deployment with 2004.
Also do you have an ETA for 2004 support ?
Windows 10 20H2 will be relea

[2020-10-15 16:53] YutongTie-MSFT commented on #64445
@saachigopal Thanks for the quick action!

@oussamachelly
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-15 16:53] #64445 closed

[2020-10-15 16:56] melonrush13 opened #64459 "Step missing to add the FHIR resource application onto second tenant"
An extra step needs to be added to Part 2 of the tutorial for [Register Public Client Application](https://docs.microsoft.com/en-us/azure/healthcare-apis/tutorial-web-app-public-app-reg) to add the Azure API for FHIR onto the user's second tenant. A second tenant is required when using FHIR to allow data and resource control plane authorization.

_Problem:_
After I create an app registration on my

[2020-10-15 16:58] AmitavaHazra opened #64460 "Notification mail during password reset but not in password change activity"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr

Currently if a user reset password he will get notification mail.

1. We want to send password change notification mail to end user once they change password using myaccount.microsoft.com portal ? How can it be achieved ?
2. If on premises password complexity fails while changing/resetting passw

[2020-10-15 17:08] sgiovinetti opened #64464 "Weird behaviour running the SNOW query"
It looks like SNOW queries that contain in the WHERE clause < or > operators on datetime fields produce weird results (random number of rows returned). Could you please investigate?

[2020-10-15 17:09] CaitlinV39 commented on #64459
This tutorial assumes that the FHIR Service, the Azure AD application, and Azure AD users are all in the same Azure AD tenant. You don't have to have them in different tenants necessarily. We mention this as a note on the first step of the tutorial that you will need to take extra steps if you don't have them in the same tenant. We don't plan to add additional steps to this tutorial to keep it a s

[2020-10-15 17:12] SatishBoddu-MSFT commented on #64420
Hello @Seefer

Please download the latest version of [GetStarted firmware](https://aka.ms/devkit/prod/getstarted/latest) for IoT DevKit.

Please do follow the [Send DevKit telemetry](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#send-devkit-telemetry) and let us know if you were able to configure your device, we are happy to assist you further in this

[2020-10-15 17:17] AmitavaHazra commented on #58582
closing it

[2020-10-15 17:17] #58582 closed

[2020-10-15 17:19] NumberByColors commented on #16002
@SamaraSoucy-MSFT Remove me from this, I haven't worked on it in years.

[2020-10-15 17:20] melonrush13 commented on #64459
Thanks for the quick reply Caitlin! The reason I ran into this was because I needed a second tenant on [Step 3](https://docs.microsoft.com/en-us/azure/healthcare-apis/tutorial-web-app-test-postman) to get the OAuth token from Postman. When I created everything in one tenant, I didn't have the proper admin access needed in order to successfully get the OAuth token to perform a GET on the Patients e

[2020-10-15 17:24] xosevilla commented on #51558
Have the same issue.
Country or region: Ukraine
Location: EU Model Clause compliant datacenters

[2020-10-15 17:24] tfitzmac commented on #64450
@spelluru - it looks like "size in bytes per group property key" is listed with two different values. Is one of those values supposed to have a different label?

[2020-10-15 17:33] spelluru commented on #64450
@tfitzmac - Yeah. The second one is for "property value". I will fix it now. Thanks.

        public int DefaultMaximumSizeInBytesPerGroupPropertyValue => 1024;

[2020-10-15 17:34] tfitzmac commented on #63672
@Kapkan-Lesion - can you tell us where you are setting this metadata value? I don't see a resource type.

[2020-10-15 17:39] devan10 opened #64466 "Subscription and Resource IDs"
Would it be possible to have this article indicate whether subscription IDs and resource IDs would remain the same during the transfer?

This was a major concern with having to do the manual resource migrations prior to this billing switch.

Thank you.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3673197a-4414-5a4c-b

[2020-10-15 17:43] MonikaReddy-MSFT commented on #64464
@sgiovinetti -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-15 17:44] MonikaReddy-MSFT commented on #64401
@Cyborg-Model-Z - Thank you for your response.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-15 17:44] #64401 closed

[2020-10-15 17:44] stevestein commented on #64395
@slave02 - thanks for the feedback. An update to the doc is in process where we reworded the description:

The chart illustrates DTU usage over a 1 hour time period from 12:00 to 1:00 where each data point has 1 minute granularity. At 12:10 DB1 peaks up to 90 DTUs, but its overall average usage is less than five DTUs. An S3 compute size is required to run this workload in a single database, but th

[2020-10-15 17:45] tamram commented on #61800
@stephen-cairns - Thanks for your feedback! I'm not seeing the screenshot that states "setting access tier is not supported for customer key encryption". I did make some updates to this article in Sept, including updating screenshots, so it's possible that this  was taken care of at that time.

I'm going to close this one out now. But if you do still see that screenshot, just let us know here.

Yo

[2020-10-15 17:45] #61800 closed

[2020-10-15 17:46] SumanthMarigowda-MSFT commented on #64162
@gasserp Object storage data tiering between hot, cool, and archive is only supported in Blob storage and General Purpose v2 (GPv2) accounts. General Purpose v1 (GPv1) accounts don't support tiering. Customers can easily convert their existing GPv1 or Blob storage accounts to GPv2 accounts through the Azure portal. GPv2 provides new pricing and features for blobs, files, and queues. Some features

[2020-10-15 17:46] #64162 closed

[2020-10-15 17:49] SumanthMarigowda-MSFT commented on #64165
@atul-ram Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-15 17:49] DeanGross opened #64467 "Naming convention"
[Enter feedback here]
Can you provide some guidance about how exemptions should be named? what should be considered , do we need to be considered about conflicts? are there any other services within Azure that have a similar exemption process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab87f953-2276-3c34-743b-e39f6

[2020-10-15 17:56] tamram commented on #60412
@slynickel - Thanks for reporting this error. The limit is 200 (also documented [here](https://docs.microsoft.com/azure/storage/common/scalability-targets-standard-account)).

The article has been updated with the correct limit.

#please-close

[2020-10-15 17:56] #60412 closed

[2020-10-15 17:57] zaalion opened #64469 "Created the App Insights as well as Function App - the portal does not refract their connection"
[Enter feedback here]
Hello,

I need to monitor my Function Apps using App Insights.

I have used both the ARM templates generated by the Azure Portal as well as the ARM in this MSFT DOCS page. All resources including the Function App and App Insight are successfully created. However, in the Function App portal, when I navigate to the "Application Insights" under settings, I don't see these resour

[2020-10-15 18:00] brianlehr commented on #63455
Reviewing internally with Networking devs

[2020-10-15 18:00] JasonWHowell commented on #61232
Hi @oczane it appears that a fix was made to help resolve this concern. We'll close out the issue for now, but please let us know if further assistance is required. Thanks, Jason

[2020-10-15 18:00] JasonWHowell commented on #61232
#please-close

[2020-10-15 18:00] WinstonHoward-MSFT commented on #64175
Hi @venkateshkuppusamy , I'm closing this issue out now. Feel free to leave a comment if you have something else to add.

[2020-10-15 18:00] #64175 closed

[2020-10-15 18:00] #61232 closed

[2020-10-15 18:01] #64285 closed

[2020-10-15 18:02] JasonWHowell commented on #48720
@Zongrenfeng It's been a few months since this thread started, but hoping that @liudan66 's feedback was helpful. Since you may be working over email now, I'll close out this issue here. Please let us know if that's incorrect or if you have concerns. Thanks, Jason

[2020-10-15 18:02] JasonWHowell commented on #48720
#please-close

[2020-10-15 18:02] #48720 closed

[2020-10-15 18:10] Ignomar opened #64470 "Documentation needs to be updated"
This page needs to be update. The image displayed and instructions don't match anymore with the actual screen when creating a new user flow in terms of MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72cb-c9b4-5a01-9e5633764f39
* Content: [Mult

[2020-10-15 18:25] stevestein commented on #64307
@BzSpi - thanks for the feedback. I see there's no info about copying databases in pools here. _Can you describe exactly what you're trying to do and we can look into updating the doc?_

[To copy a db inside a pool using T-SQL](https://docs.microsoft.com/sql/t-sql/statements/create-database-transact-sql?view=azuresqldb-current&tabs=sqlpool#creating-a-copy-of-a-database-on-another-server):

CREATE

[2020-10-15 18:25] CaitlinV39 commented on #64459
@melrush13 are you using your Microsoft account? That will cause the limitation. If you use a personal Azure account it should work.

[2020-10-15 18:29] SB-o-matic opened #64472 "Social Account Access to MyAccess Portal"
Hello Team,

We used to be able to have social accounts request access packages by signing in at myaccess.microsoft.com. Now, we get an error that says _you can not sign in with a personal account_. Why is this the case since it remains possible to create a domain like gmail.com or outlook.com as a connected organization in Entitlement Management?
Also, after landing on the myaccess portal and exp

[2020-10-15 18:35] tamram commented on #62962
@englandcarl - Thanks for your feedback!

The example currently provided for ListBlobs shows how to perform paging. We did update these examples relatively recently, so perhaps you saw an older version.

Can you let us know if the current example meets your needs? And if not, can you provide more details about what you're looking for?

[2020-10-15 18:36] BharathNimmala-MSFT commented on #64466
@devan10 Thank you for your query, will be looking into it and get back to you at the earliest.

[2020-10-15 18:39] #64281 closed

[2020-10-15 18:44] tamram commented on #64002
#reassign: @tamram

[2020-10-15 18:45] nickgmicrosoft commented on #64073
Hi folks,

Summary of status and guidance. We're making documentation updates over the next day or so to clarify this scenario.

**Expected configuration**
Applications with platform/reply urls of type "SPA", as indicated under **App registrations > Application > Authentication**, should use code_challange ("PKCE") if using the authorization code flow.

**Why was this not enforced previously?**
Th

[2020-10-15 18:48] gopasupa opened #64473 "Update the Databricks Documentation on Diagnostic Log Table Logs to Help the customer."
Hi,

Earlier I had raised a case #63883 for documentation updates but it was closed saying that no product issues were found. Basically I did not complain about Product Issues in the original case. The product works well in terms of Diagnostic Log generation, my point is that the Logs does not appear unless there is an activity on the databricks cluster or notebook or jobs.... So please update the

[2020-10-15 18:49] tritm78 commented on #64000
Hi @himanshusinha-msft, Thank you for closing out the issue. I have some questions:

1. What is your suggestion to run two jobs side by side where one job depends on one version and the other job depends on different (newer) version? If we install all the pkgs for a specific job at notebook level, it may cause the job run taking much longer time due to the pkgs installs. To give more context about

[2020-10-15 18:53] ChaitanyaNaykodi-MSFT commented on #64141
Hello @Paul-Dempsey, Just following up here to see if my comment above was helpful in resolving the issue faced. Please let me know if any additional help is required.

[2020-10-15 19:00] fsantoropettibbe commented on #63837
Hi @JamesTran-MSFT

Thank you for your reply. Do you happen to have an update on this issue? This is causing big problems on my side.

Thank you!

[2020-10-15 19:02] emuench commented on #63407
This is being covered in a virtual machine topics rewrite that will publish by Tuesday. #please-close

[2020-10-15 19:02] #63407 closed

[2020-10-15 19:03] emuench commented on #63255
This is being covered in a virtual machine topics rewrite that will publish by Tuesday. #please-close

[2020-10-15 19:03] #63255 closed

[2020-10-15 19:07] emuench commented on #63051
Working with TK.

[2020-10-15 19:08] JamesTran-MSFT commented on #63837
@fsantoropettibbe
Thank you for the follow up.

@jeevansd
Do you have any updates on this issue? It looks like the [issue](https://github.com/MicrosoftDocs/azure-docs/issues/31993) mentioned in the initial post was being worked on but never followed up with.

[2020-10-15 19:16] yoelhor commented on #64470
Thanks for your feedback, I'm updating the doc accordingly.

[2020-10-15 19:22] rflather-tibco opened #64474 "Nice write up on using Ultra disk with AKS"
Good write up on the content of using the ultra disk with AKS, and how to set it up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9cef1a6-012b-2750-c016-b3ebddbcd706
* Version Independent ID: 424ee453-2459-af29-8a1f-65ad333ce454
* Content: [Enable Ultra Disk support on Azure Kubernetes Service (AKS) - Azure Kubernet

[2020-10-15 19:25] albecker1 commented on #63755
Hi @pisees, we don't surface temporary disks metrics at this time. Mind you the temporary disk's storage is ephemeral and you will lose what has been stored on it when a VM is shutdown.

[2020-10-15 19:27] traciezenti opened #64475 "Preferred Solution Page Needs More Description"
This page needs more information on how a partner gets Preferred Solution status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9997900d-ef80-cc69-d8a5-17cf9543524a
* Version Independent ID: 4c3c5ec7-ce21-8ecc-ef3f-11c50336d2bf
* Content: [Azure Marketplace and AppSource preferred solutions - Microsoft commercial mark

[2020-10-15 19:33] algattik opened #64476 "Autopools"
Some more information, or a link to a page with information, about autopools would be welcome here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f490a8-1f9b-d1bb-3fff-9d5bab07218d
* Version Independent ID: 9fde5420-7b8f-b0d5-b6c3-5d99135bbf9b
* Content: [Best practices - Azure Batch](https://docs.microsoft.com/en-u

[2020-10-15 19:34] tamram commented on #63446
@jeffw-wherethebitsroam - Just wanted to let you know that the product team is working on an update to the library that will make it easier to create a SAS directly from the BlobServiceClient object. I don't have an ETA for when this update will be released, but I'll follow up here when it happens. We'll also update the doc accordingly.

[2020-10-15 19:35] tamram commented on #63446
Closing for now because the fundamental issue is not a documentation issue, although we'll update the docs when the library is updated.

#please-close

[2020-10-15 19:35] #63446 closed

[2020-10-15 19:44] artisticcheese opened #64477 "The same automation needs to be available for assessment"
As of right now the only thing which is automatable via Powershell is migration but this requires manual mapping for sizes of VMs. Az.Migrate module lacks cmdlets in working with Assesment to fully automate solution. Is it on roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf8092b-6649-6a83-efd6-1c9f9710e249
*

[2020-10-15 19:48] BrianBasor commented on #24857
I also receive this same error that appears to be based on the same bug when I run the following command with the Azure CLI from a git bash prompt:

[code]

Here is the error:
[code]

I guess I'll need to switch over to Powershell for this task.

[2020-10-15 19:51] yoelhor commented on #58561
#please-close

[2020-10-15 19:51] #58561 closed

[2020-10-15 19:54] #59835 closed

[2020-10-15 20:02] yoelhor commented on #63248
You are right, the MSAL library uses the system browser by default.

[2020-10-15 20:22] melonrush13 commented on #64459
@CaitlinV39 Yes, that is correct I was using my Microsoft account! That explains the limitation. Feel free to close the issue if you'd like!

[2020-10-15 20:24] #64470 closed

[2020-10-15 20:27] SB-o-matic opened #64478 "My Access Portal Issues"
[Enter feedback here]

Hello Team,

We used to be able to have social accounts request access packages by signing in at myaccess.microsoft.com. Now, we get an error that says _you can not sign in with a personal account_. Why is this the case since it remains possible to create a domain like gmail.com or outlook.com as a connected organization in Entitlement Management?

Also, after landing on the

[2020-10-15 20:29] #64478 closed

[2020-10-15 20:32] shilpasharmaAM commented on #62751
Adding @cristhianu as FYI
Hi Alina,
The scaling message you received was to inform that the scale in and scale out thresholds set were close and could potentially create multiple scale in and scale out, which would not necessarily but also include flapping. The warning message has now been altered to remove the 'flapping' reference exclusively.
Let us know if you have any questions.

[2020-10-15 20:40] chitturs opened #64479 "Clarify and fix the usage of applicationinsights.config for .NET core apps"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/configuration-with-applicationinsights-config mentions that applicationinsights.config does not apply to .NET core apps and configuration has to be done in code.

Is that true??

If so, please fix this page (since title is misleading).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-15 20:44] jhueppauff opened #64481 "Missing ARM instructions"
Within the documentation of Azure Static Web Apps I am really missing instructions on how to deploy it using ARM.
The basics are quite clear, looking more into the options of also configuring DNS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350f3c75-18da-fb00-48a0-c1da1fb4a894
* Version Independent ID: d07bf94d-3523-

[2020-10-15 20:46] dkisselev opened #64482 "Functions Vnet integration does not explain how to migrate to the correct App Service Plan"
On the linked, page, one of the limitations is explained as:

I'm working on a resource that doesn't seem to meet this criteria but the docs don't help me understand what steps I need to take to enable the feature.

The scaling settings for the App Service Plan do not list any V2 scale tiers and none of the App Service Scale Up docs seem to explain how I can migrate to a V2 App Service either http

[2020-10-15 20:53] #64273 closed

[2020-10-15 20:56] MarileeTurscak-MSFT commented on #64457
@thommck
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-15 21:02] shtratos opened #64484 "Outdated instructions for configuring antimalware extension"
In this section: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/iaas-antimalware-windows#powershell-deployment

the link to the instructions for "Azure Resource Manager based Virtual Machine" leads to the article that uses old powershell Azure module and thus the commands do not work in Azure Cloud Shell.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-10-15 21:22] EliotSeattle opened #64485 "DRM should be DMR (I think)"
In [azure/iot-pnp/concepts-model-repository.md](https://docs.microsoft.com/azure/iot-pnp/concepts-model-repository), in this section:

**Custom device model repository**

We say:

"You can use the same DMR pattern in any storage medium, such as local file system or custom HTTP web servers, to create a custom DMR. You can retrieve models from the custom DMR in the same way as from the public **DRM*

[2020-10-15 21:45] BryanTrach-MSFT commented on #62016
@YusukeTobo To follow up with @AjayKumar-MSFT's point about discussing this with engineering. We brought up your thread today with the product group and they said while they do not doubt this might be possible via a round about method, what Ajay shared is correct. This scenario is unsupported and we do not recommend it if you are able to find a way to achieve it as we may not be able to support yo

[2020-10-15 21:52] Seefer opened #64486 "'Prepare the development environment' - VS code setup section"
[Enter feedback here]

Clicking on `Select Serial Port` did not work but Arduino extension Github issues showed editing `arduino.json` with a port:COM7 key value pair should work. VS Code did then show COM7 at bottom right. I continued on through the docs, successfully adding another device to my iot hub. Continuing on to **Configure and compile device code** I got to step 2. to enter device conne

[2020-10-15 21:54] rido-min commented on #64485
yes, this is a typo. The Device Model Repository (DMR) has nothing to do with DRM.

Thanks !!

/c @dominicbetts

[2020-10-15 21:59] BryanTrach-MSFT commented on #62422
@brucelangston Thank you for your feedback. We shared it in our monthly business review with the product group and they have requested to leave the doc in it's current state. If you have further questions about specific details, please create a new feedback item and we can address those specifically.

Thank you for your understanding. We will now proceed to close this thread. If there are further

[2020-10-15 21:59] #62422 closed

[2020-10-15 22:00] Seefer commented on #64420
It appears I was using the DevKit firmware from the web page @ https://microsoft.github.io/azure-iot-developer-kit/docs/firmware-upgrading/. A beginner might simply assume the firmware in the files `devkit-firmware-2.0.0.bin` from that page and the `devkit-getstarted-2.0.0.bin` file from the Get Started page were one and the same with the only difference being the package filename.

With devkit-ge

[2020-10-15 22:03] BryanTrach-MSFT commented on #62472
@Pluc15 Thank you for your feedback. We shared it today in our monthly business review with the product group. They stated that their priority is to eventually get mutli-containers out of public preview and to make it Generally Available (GA). This process could potentially change how persistent storage interacts with multi-containers so they are not going to update the doc while multi-containers

[2020-10-15 22:03] #62472 closed

[2020-10-15 22:05] SatishBoddu-MSFT commented on #64420
Thank you @Seefer for sharing your experience on this page which will be very useful to others well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for

[2020-10-15 22:06] JamesTran-MSFT commented on #64467
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-15 22:07] nanowireUK opened #64487 "Working directory wrong for latest OPC Publisher"
For the OPC Publisher it refers to folders called /appdata but in the latest version of OPC Publisher the working directory is /app. This breaks the container persistance if not configured correctly.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f65acbb4-fdf1-9709-09cf-905c262ceebb
* Version Independent ID: 34a0c5d1-8c

[2020-10-15 22:07] JamesTran-MSFT commented on #64472
@SB-o-matic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-15 22:08] BryanTrach-MSFT commented on #63575
@robertmclaws Thank you for your feedback. We shared your message with the product group today in our monthly business review. They shared that the document will remain as it currently stands and suggested that customers new to Web Apps might find it easier to start out on Function Apps. Web Jobs is largely in place for those already running Web Apps and familiar with the nuisances of the PaaS pla

[2020-10-15 22:08] #63575 closed

[2020-10-15 22:15] #64420 closed

[2020-10-15 22:18] SatishBoddu-MSFT commented on #64420
@Seefer My bad, sorry that I didn't see the edited part of your response.

Please do create a Technical post on below forum, we will help you with further questions.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-15 22:20] spelluru commented on #64450
Fixed.

#please-close

[2020-10-15 22:20] #64450 closed

[2020-10-15 22:24] tfitzmac commented on #64450
@spelluru - thanks for the quick fix!

@bradleybonitatibus - thanks for making us aware of this issue.

[2020-10-15 22:24] Karishma-Tiwari-MSFT commented on #64474
Thanks for sharing the feedback. Glad to know that you found it helpful.
CC: @mlearned

[2020-10-15 22:24] #64474 closed

[2020-10-15 22:28] ChaitanyaNaykodi-MSFT commented on #64452
Hello @aressler38, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-15 22:29] BharathNimmala-MSFT commented on #64240
@helderpinto Thanks a lot for bringing this to our attention. I have raised a PR to reflect the feedback, once its reviewed and approved it will be merged with the live document in next few days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is already listed above. We will go ahead and close this issue, however if you have any furt

[2020-10-15 22:29] #64240 closed

[2020-10-15 22:39] chitturs opened #64488 "Need an example for configuring Microsoft.ApplicationInsights.EventSourceListener.EventSourceTelemetryModule"
.NET core apparently does not allow application insights listener to be configured in applicationinsights.config which is very easy and clear to use.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/configuration-with-applicationinsights-config

If that isn't supported, please add an example that allows System.Diagnostic.Tracing event source to be logged to AI.

This is what worked for me

[2020-10-15 22:43] delmyers opened #64489 "Quickstart: Create your first function ... publish instructions are out of date"
This page's directions for publishing are out of date. There is no longer an option to select an 'Azure Consumption Plan".

The options are to deploy to:

1. Azure
2. Docker Container Registry
3. Folder
4. Import Profile

Under Azure, the options are

1. Azure Function App (Windows)
2. Azure Function App (Linux)
3. Azure Function App Container
4. Azure Container Registry

It is unclear which shoul

[2020-10-15 22:48] nkiest commented on #64265
All traffic would flow via private endpoint, and you would not need to whitelist those domains.
Note: All AI/LA resources be used in the that VNET need to be added to the AMPLS. If you are sending to some that are not in the AMPLS in the VNET, the telemetry will be blocked for those components that are not added to the AMPLS. This is to prevent risk of data exfiltration to unapproved destinations.

[2020-10-15 22:57] douglas-woods commented on #64073
We have started getting this error when a user tries to reset a password.
![image](https://user-images.githubusercontent.com/24421493/96193967-d86d6300-0fa5-11eb-8c11-98f307c9db64.png)
![image](https://user-images.githubusercontent.com/24421493/96194001-ea4f0600-0fa5-11eb-87b9-bebbe2762a27.png)

We are using B2C Identity Framework Experience with custom flows. As far as I tell it is B2C that is ma

[2020-10-15 23:00] ghiden commented on #64267
thanks for checking @ram-msft . I was really stupid that I had a filter on the preview in my http client. So it was only showing the names.
Thanks again for verifying it.

[2020-10-15 23:05] gamontal commented on #61554
+1 I have the same question.

[2020-10-15 23:06] mikben commented on #63054
#please-close

[2020-10-15 23:06] #63054 closed

[2020-10-15 23:08] mikben commented on #63257
Thanks for submitting this issue, James. This has been addressed via https://github.com/MicrosoftDocs/azure-docs-pr/pull/134132

[2020-10-15 23:08] mikben commented on #63257
#please-close

[2020-10-15 23:08] #63257 closed

[2020-10-15 23:09] ArvindHarinder1 commented on #63837
Setting up an integration requires getting a 2FA exemption from Netsuite. Please reach out to them for that. Unfortunately that's the only way to do it today and we're working with them to get proper Oauth 2.0 setup.

[2020-10-15 23:25] chitturs opened #64490 "Clarify the default cluster ports opened by load balancing resource"
Azure Load Balancer
In the Microsoft.Network/loadBalancers resource, a load balancer is configured. **Probes and rules are set up for the following ports:**

Client connection endpoint: 19000
HTTP gateway endpoint: 19080
Application port: 80
Application port: 443
Service Fabric reverse proxy: 19081
If other application ports are needed, you'll need to adjust the Microsoft.Network/loadBalancers res

[2020-10-15 23:35] chitturs opened #64491 "Clarify usage of UseApplicationInsights in WebHostBuilder for .NET core"
return new WebHostBuilder()
    .UseKestrel()
    .ConfigureServices(
        services => services
            .AddSingleton<HttpClient>(new HttpClient())
            .AddSingleton<FabricClient>(new FabricClient())
            .AddSingleton<StatelessServiceContext>(serviceContext)
            .AddSingleton<ITelemetryInitializer>((serviceProvider) => FabricTelemetryInitializerExtension.CreateFabric

[2020-10-15 23:36] Karishma-Tiwari-MSFT commented on #64447
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-15 23:37] Karishma-Tiwari-MSFT commented on #64476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-15 23:37] Karishma-Tiwari-MSFT commented on #64484
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-15 23:45] ScottMetzel opened #64492 "Azure Front Door IPv6 Backend Addresses Now in Azure IP Ranges and Service Tags JSON File"
Greetings,

In the section on this page titled [How do I lock down the access to my backend to only Azure Front Door?](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door), there's a bullet point which states:

Well, that range ("2a01:111:2050::/44") actually is in the referenced JSON file as of at least the version o

[2020-10-15 23:55] Nickomang commented on #63299
Thanks for the feedback @writex, the document has been updated to better reflect what's shown on screen.

[2020-10-15 23:56] Nickomang commented on #63299
#please-close

[2020-10-15 23:56] #63299 closed

[2020-10-16 00:16] pnarsi commented on #64265
Thanks @nkiest. My VNET is configured to use a custom DNS. What DNS records should I configuring in order to ensure that the telemetry traffic flows via the AMPLS? As far I am aware the only Azure Monitor private endpoints DNS records I can configure are the following:

*.monitor.azure.com
*.oms.opinsights.azure.com
*.ods.opinsights.azure.com
*.agentsvc.azure-automation.net

It is unclear to me ho

[2020-10-16 00:21] stevenxzhou commented on #53589
Can you try "createaccount_one_link" instead? Sorry for the updates that we made in recent versions that is causing your convenience.  We'll be more careful in making such changes to make sure the StringIds are well aligned with previous versions.

For local_intro_username, can you try to use local_intro_generic instead? By default, it has a string "Sign in with your {0}", where {0} will be replac

[2020-10-16 00:42] samsmithnz commented on #60886
Hi @BryanTrach-MSFT . Now that App Service is in GA, I wanted to revisit this request, which appears to be a current limitation: https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#limitations

[2020-10-16 01:40] ChaitanyaNaykodi-MSFT commented on #64469
Hello @zaalion, Thank you for your feedback! We will review and update as appropriate.

[2020-10-16 01:48] jg-fisher commented on #21125
Any further updates on this?

[2020-10-16 01:52] ChaitanyaNaykodi-MSFT commented on #64138
Hello @kevbry, We have proposed the suggested changes to the document, I will now proceed to close this issue out. Please tag me in your reply if you have any further concerns.

[2020-10-16 01:52] #64138 closed

[2020-10-16 02:15] mikeswain opened #64495 "resource parameter missing"
Just wasted several hour's of my life realising that you've missed a field out of your list of token request parameters - you need to set 'resource' to the appid otherwise it always returns Microsoft Graph's value for the 'aud' claim in the token. Why do you require non-standard fields, and why don't you document stuff? I only worked it out after stepping through your MSAL python client which, wor

[2020-10-16 02:21] WinstonHoward-MSFT commented on #64446
Thanks for the doc feedback, I've assigned it to the doc author to take a look

[2020-10-16 02:48] ChaitanyaNaykodi-MSFT commented on #64173
Hello @kudlatiger, I am sorry for the delay in my response.
Yes, you can definitely follow the tutorial to use a single API Management service to expose subsets of your internal service for both internal as well as external consumers. You can configure your API Management service in your internal virtual network so that it is only accessible within the Virtual network. Using  Azure Application Gat

[2020-10-16 03:08] watahani opened #64496 "The Allow url list for AAD Application Proxy does not update yet"
From recently update of Root Certificate migration, I believe that required url for AAD Application Proxy has been changed.

| URL | How it's used |
| --- | --- |
| \*.msappproxy.net<br>\*.servicebus.windows.net | Communication between the connector and the Application Proxy cloud service |
| mscrl.microsoft.com:80<br>crl.microsoft.com:80<br>ocsp.msocsp.com:80<br>www.microsoft.com:80 | The connect

[2020-10-16 03:09] hpsin commented on #64495
This is the case for the v1 endpoint.  If you use the v2 endpoint, which this document is for, you use scope + your designated resource's appidURI. e.g. `scope=api://myAppId/.default`. Please validate that the code you were using included the "v2.0" segment in the request URL - there are two different version of the protocol, and one of them does indeed require the resource parameter.  I can assur

[2020-10-16 03:35] AnuragSharma-MSFT commented on #64288
@Westmorland Apologies for the delay in response. This feature is still in planning state and development has not started yet. There is no ETA available as of now but you can upvote in the below link and provide your valuable comments.
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/11003184

[2020-10-16 04:01] AnuragSharma-MSFT commented on #64274
@WenJason Thanks for providing the link. Yes there are few regions in Azure that have Sovereign Clouds as below and these are used by the government bodies for their work:
1. AzureUSGovernment
2. AzureGermanCloud
3. AzureChinaCloud

So for public access and use, we should use the certificates provided on below links:
https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem
https://cacerts.

[2020-10-16 04:04] VikasPullagura-MSFT commented on #64491
@chitturs
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-16 04:04] VikasPullagura-MSFT commented on #64491
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-10-16 04:05] VikasPullagura-MSFT commented on #64490
@chitturs
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-16 04:06] VikasPullagura-MSFT commented on #64490
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-10-16 04:07] VikasPullagura-MSFT commented on #64488
@chitturs
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-16 04:07] VikasPullagura-MSFT commented on #64488
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-10-16 04:08] SwathiDhanwada-MSFT commented on #64475
@traciezenti Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-16 04:11] CHEEKATLAPRADEEP-MSFT commented on #64473
@gopasupa  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-16 04:13] CHEEKATLAPRADEEP-MSFT commented on #64455
@Naboo2604 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-16 04:15] SwathiDhanwada-MSFT commented on #64479
@chitturs Thanks for your feedback. It was clearly specified in the document that the instructions doesn't apply to .NET Core applications.

![image](https://user-images.githubusercontent.com/48976275/96212316-28dbc500-0f94-11eb-92eb-eaf76c716095.png)

As there are no further changes to the document, we will close the issue for now. If there are further questions , please revert and we will be gla

[2020-10-16 04:15] #64479 closed

[2020-10-16 04:16] MayankBargali-MSFT commented on #64489
@delmyers Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-16 04:18] SnehaAgrawal-MSFT commented on #64277
@JackyChiou Thanks again for the feedback! The PR has been created for this it will merge soon.

[2020-10-16 04:18] #64277 closed

[2020-10-16 04:23] vipulsparsh commented on #64018
@v-lyivan We are closing this now, feel free to tag us if you have any questions.

[2020-10-16 04:23] #64018 closed

[2020-10-16 04:29] CHEEKATLAPRADEEP-MSFT commented on #64407
@saf-itpro  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@saveenr Could you please add this important note in the document to avoid confusion.

[code]

[2020-10-16 04:30] SnehaAgrawal-MSFT commented on #64279
@saimachi Thanks for reaching here! As HeidiSteen mentioned, we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25337.html)   or [StackOverflow](https://stackoverflow.com/q

[2020-10-16 04:30] #64279 closed

[2020-10-16 04:49] CodeAsAnInfrastructureGuy opened #64497 "Maximum Length of Storage Account is 15 characters"
The documentation is largely accurate, however if the Storage Account name is more than 15 characters, we receive this error:

`Join-AzStorageAccountForAuth : Parameter -StorageAccountName '[REDACTED]' has more than 15 characters, which is not supported to be used as the SamAccountName to create an Active Directory object for the storage account.   Azure Files will be supporting AES256 encryption

[2020-10-16 04:52] amanmcse commented on #64381
Hi @Norrch2 The document is updated with below information. It takes some time to reflect the changes. You should be able to see the update now.
**setting.inputVerificationDelayTimeInMilliseconds**: Improves user experience, by waiting for the user to stop typing, and then validate the value. Default value 2000 milliseconds.

[2020-10-16 04:54] vipulsparsh commented on #64427
@billmath Can you have a look and update the doc as required.

[2020-10-16 04:55] vipulsparsh commented on #64367
@SAIMMINHAS I have reached out internally to check more on this. Will update when I get some more information.

[2020-10-16 05:06] AjayKumar-MSFT commented on #64478
@SB-o-matic, Thanks for leveraging Azure docs feedback channel to raise this question.
We see that you have closed the thread, so I presume that the issue is resolved, kindly let us know if you need any further assistance on this topic.

Note-This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. For any technical questions, please feel fr

[2020-10-16 05:11] KalyanChanumolu-MSFT commented on #64485
@EliotSeattle Thank you for pointing out the issue.
I have updated the doc accordingly and submitted a PR. The changes should be live by EOD once the changes are merged.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2020-10-16 05:27] SumanthMarigowda-MSFT commented on #64497
@CodeAsAnInfrastructureGuy Thanks for the question! We are investigating and will update you shortly.

[2020-10-16 05:34] bansalsaket opened #64498 "Allow forwarded traffic"
[Enter feedback here]
 Allow forwarded traffic is required from spoke to hub as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54e37aa-a45b-989e-5adf-e0f2212815f4
* Version Independent ID: a957e018-937f-204d-f1f2-a0d094a49c20
* Content: [Tutorial: Deploy and configure Azure Firewall in a hybrid network using the

[2020-10-16 05:38] SadiqhAhmed-MSFT commented on #64454
@fabioharams Since "internal error" is a generic error code, if possible could you please share the screenshot of error message? This would help us better understand error details and add it to the documentation.

[2020-10-16 05:56] SnehaAgrawal-MSFT commented on #64391
@turbozapekanka Thanks for reaching here! Just to confirm if you are using Consumption Plan in function App?
Sharing below screen shot for reference:
![image](https://user-images.githubusercontent.com/46553948/96216247-73157400-0f9d-11eb-938e-b2df6d8ec9ca.png)

Note that the Hybrid Connections is only supported on Windows plans. Linux isn't supported.
For function app you may refer to this documen

[2020-10-16 05:56] SubhashVasarapu-MSFT commented on #64498
@bansalsaket, Thanks for reaching out. We will investigate and update this thread.

[2020-10-16 06:08] KalyanChanumolu-MSFT commented on #64486
@Seefer Thank you for your interest in Azure IoT products and continuous feedback on MXCHIP.

Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility to a larger Azure Community.

[2020-10-16 06:09] ram-msft commented on #64323
@KeithWalton Thanks for the feedback. Please follow the the quick start sample from the below link.
https://github.com/Azure-Samples/AnomalyDetector/blob/master/quickstarts/sdk/csharp-sdk-sample.cs
Here is the example request data:https://github.com/Azure-Samples/AnomalyDetector/tree/master/example-data

[2020-10-16 06:14] AnuragSharma-MSFT commented on #64459
@CaitlinV39 Thanks for pitching in and providing the necessary information.

@melonrush13 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-16 06:14] #64459 closed

[2020-10-16 06:16] KalyanChanumolu-MSFT commented on #64487
@nanowireUK Thank you for taking time to report the issue.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-10-16 06:24] SnehaAgrawal-MSFT commented on #64268
@Ayanmullick There is a blog post here that describes how to support some sort of impersonate or JWT token delegate that the app could implement that fairly in depth: : [Easy Auth– Using x-ms-token-aad-access-token as a bearer token – HTTP Stack and other fun things I support (jsandersblog.azurewebsites.net) ](http://jsandersblog.azurewebsites.net/2020/01/17/easy-auth-using-x-ms-token-aad-access-t

[2020-10-16 06:25] GitaraniSharma-MSFT commented on #64093
@shadowano , since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-16 06:25] ram-msft commented on #64267
Welcome @ghiden.

[2020-10-16 06:35] akshaymatmicrosoft opened #64500 "Doc correction required"
Note under the "Consume the change feed" topic needs some correction:

As per test done, $blobchangefeed container is indeed visible in Azure portal. Its not visible in Azure Storage Explorer or via ListContainers API. We just need to take Azure portal out of the text and rest of the text is correct.

**Change this**
In the current release, the $blobchangefeed container is not visible in Azure Sto

[2020-10-16 06:38] akshaymatmicrosoft commented on #64500
"Change feed support in Azure Blob Storage" doc needs correction

[2020-10-16 06:42] MayankBargali-MSFT commented on #63577
@keatseongchan Apology for the delay in response as I was waiting for confirmation from my team.
As per the [document ](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/backend/createorupdate#backendservicefabricclusterproperties) we can see the serverX509Names field. It allows one to specify ***issuer*** certificate thumbprint and subject name for remote certificate validation.

[2020-10-16 06:57] harmke opened #64501 "Syntax error in code sample"
In the section _Create a dataset from pandas dataframe_, there is a syntax error in the last line of the Python script.
This:
`dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, ('data/prepared.csv')]`
Should be:
`dataset_processed = Dataset.Tabular.from_delimited_files(path = [(datastore, ('data/prepared.csv'))])`

---
#### Document Details

⚠ *Do not edit this section. It is requ