[2019-08-07 18:18] #36359 closed

[2019-08-07 18:18] craigktreasure commented on #36585
@YutongTie-MSFT and @Alberto-Vega-MSFT I have checked in a change to address this issue.

[2019-08-07 18:20] YutongTie-MSFT commented on #36585
@craigktreasure Hi Craig, thank you for let me know. Do you want to keep this opening or I am safe to close it?

[2019-08-07 18:21] AshokPeddakotla-MSFT commented on #36613
@mauliknshah Glad to hear that your issue is resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 18:21] #36613 closed

[2019-08-07 18:22] craigktreasure commented on #36585
@YutongTie-MSFT It can be closed.

[2019-08-07 18:22] msaburnley commented on #36471
@adamfowlerit Thanks for your feedback. Those instances will be removed from the doc because Azure AD Basic is no longer being offered.

[2019-08-07 18:24] YutongTie-MSFT commented on #36585
Closing. Thank you.

@TiNovTec
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-07 18:24] #36585 closed

[2019-08-07 18:25] YutongTie-MSFT commented on #32959
@diberry FYI.

[2019-08-07 18:27] jonathandbyrd opened #36670 "how long does it take to see metrics"
I am testing some alerts on blob counts. In the portal I created the storage account and the container and uploaded a few blobs to the container via the "Upload" link. I then created a metric (in the azure portal) to look at the Blob Count of the storage account and it's showing 0. I've been waiting about an hour in case there was a lag but immediately i was able to see things like blob capacity,

[2019-08-07 18:28] YutongTie-MSFT commented on #17434
@mekenthompson
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-07 18:28] #17434 closed

[2019-08-07 18:29] Alberto-Vega-MSFT commented on #36639
@TiNovTec Thanks for bringing this to our attention. Would you please open an issue on the samples repository? https://github.com/Azure/azure-spatial-anchors-samples/issues

[2019-08-07 18:29] solankisamir commented on #36550
We use PAAS V1 - `CloudService` and the default `Basic` Load Balancer that comes with it. `Standard` Load Balancer is `ResourceManager` resource and cannot be integrated with CloudService. So the limitation stands until we replat to the new `ResourceManager` model.

[2019-08-07 18:31] Sanitys commented on #36586
I can reproduce this easily. Please reach out to me internally.
![image](https://user-images.githubusercontent.com/3094743/62648093-e84fd880-b906-11e9-823b-fc15e7367cd6.png)

[2019-08-07 18:34] tfitzmac commented on #36136
@vitaly-livshits - thanks for this feedback. The updated image will get published this afternoon.

[2019-08-07 18:39] CHDAFNI-MSFT opened #36671 "Azure Blueprints / Managed Identity - Is available in Azure Government"
Azure Blueprints and Managed Identities is actually available today in MAG. The section https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-blueprints says otherwise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-84

[2019-08-07 18:40] TravisCragg-MSFT commented on #36666
@Ellenprater Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-07 18:41] mrbullwinkle commented on #32629
Looks like the doc was updated to address this request. @nezoic thanks for bringing this to our attention and helping to improve our documentation!

[2019-08-07 18:42] mrbullwinkle commented on #32629
#please-close

[2019-08-07 18:42] #32629 closed

[2019-08-07 18:48] mrbullwinkle commented on #35787
@yahorsi if we link to this [section here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-vm#configure-snapshot-collection-for-aspnet-applications) on the snapshot collector config options would that be sufficient or does that section still need to be expanded on?

[2019-08-07 18:51] tg-msft opened #36672 "KeyVault docs for enabling soft-delete with PS should have the same warning as the CLI"
Enabling soft-delete can't be reversed and the PS docs should add the same warning as the [CLI page](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-soft-delete-cli#enabling-soft-delete):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd179352-3f2f-f872-fe62-36e55cbc44b5
* Version Independent ID: c77b1cd0-68

[2019-08-07 18:52] MarileeTurscak-MSFT commented on #36672
@tg-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 18:53] KranthiPakala-MSFT commented on #36619
@AlexFiala Could you try using a set variable activity next to LookUpTableActivity and see if you were able to get the output of LookupTable activtiy into your '_Set variable_' activity in Main pipeline ("_GetTableListAndTriggerCopyData_") (Note: The reason behind this is to make sure if you were able to get the output of LookupTable activity to _TriggerCopy (Execute pipeline)_ activity)

For this

[2019-08-07 18:55] marstr commented on #34044
Howdy @CeciAc, I just ran into this issue and it took me a little bit of tinkering to get past.

The crux of it for me was that when I was walking through the tutorial using Android Studio 3.4.2, I had no choice but to select the `Use androidx.* artifacts` option in the Create New Project wizard. The most helpful resource for getting past this was to use [this migration guide](https://developer.an

[2019-08-07 19:07] zr-msft commented on #36354
Thank you @PatrickLang for the suggestion and the feedback!

I have add an item to our backlog and will prioritize appropriately.

#please-close

[2019-08-07 19:07] #36354 closed

[2019-08-07 19:10] MarileeTurscak-MSFT commented on #36672
@tg-msft thanks for the feedback. I think it's a good idea.

I made a pull request to add this. In the future you can feel free to make your own pull requests as well. https://github.com/MicrosoftDocs/azure-docs-pr/pull/84659

@msmbaldwin

[2019-08-07 19:10] #36672 closed

[2019-08-07 19:13] SnehaGunda commented on #36233
@cowinr Yes the V3 SDK is released last month, we plan to maintain samples page for both V2 and V3 SDKs because there are a lot of users on V2. I have a work item in my todo list to publish a new page for V3 SDK. Also the V2 doc in the intro has a link to the V3 samples if you are looking for them. Here is the direct link:

https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azur

[2019-08-07 19:19] cynthn commented on #17582
@Philippepaiola Thank you for your contribution! I'm very sorry it has take so long for me to get back to you! There are some changes coming to how we move resources that will change the existing documentation. At this time, we probably won't be adding additional content about the old process.

#please-close

[2019-08-07 19:19] #17582 closed

[2019-08-07 19:22] Adam-Smith-MSFT commented on #36658
@Yashuaaa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-07 19:23] jhosteny commented on #36506
@robinsh sorry about that. Is there a way to send you the blob URL privately? This is for a project under NDA. I'd rather not even leak the internal project name here.

Just to note - the blob itself is actually created and populated correctly, but the 400 is returned and an exception still thrown from the client SDK call  `upload_blob_async`. However, if I shorten the name of the path by a charac

[2019-08-07 19:23] stephen-newman commented on #36460
Thanks for your help @jakaruna-MSFT . We have decided to not use ASF so I won't be pursuing this any further.

[2019-08-07 19:25] ChristianMontoya commented on #29294
@osaid202 : Theoretically it should work, but there still might be issues while we tidy up support for it. Does it repro consistently?

[2019-08-07 19:26] matthewtckr opened #36674 "Hash Tracking Functionality when PHS enabled?"
Does this limitation also exist if Pass-Thru Authentication is used, *and* Password Hash Sync is enabled on Azure AD Connect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
* Version Independent ID: b8c29389-c435-b2f0-4186-1e9c47ab4f3e
* Content: [Preventing brute-force attacks usin

[2019-08-07 19:27] MartinJaffer-MSFT commented on #36574
@LHTech-Analytics After conferring with my colleage, this is what I have found.  @nabhishek  can you confirm I have this correct?

Under the Settings section...
![image](https://user-images.githubusercontent.com/46612670/62651160-3c5dbb80-b90d-11e9-9b8e-fe79994c7761.png)
The Web Service Inputs and Outputs correspond to the [Datastores](https://docs.microsoft.com/azure/machine-learning/service/how-

[2019-08-07 19:27] Adam-Smith-MSFT commented on #36658
@Yashuaaa I would also recommend downloading the missing nuggets: https://www.nuget.org/packages/Microsoft.Azure.Storage.File/11.0.0

The other classes are dependent on the above :https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.file.cloudfileclient?view=azure-dotnet

Let me know if this helps.

[2019-08-07 19:41] RyanHill-MSFT commented on #36650
The settings/values are pulled from KeyVault once the app service process starts. If any changes to the values were made during runtime, the updated values wouldn't be picked up until the service was restarted. However, you could use the [Keyvault SDK](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-developers-guide#coding-with-key-vault) to retrieve key vault values and cache them your

[2019-08-07 19:41] terrymandin opened #36676 "Issue creating device"
I tried copy/pasting the script above into the Azure Cloud Shell and received an error when it created a device:

terry@Azure:~$
terry@Azure:~$ # Create the IoT device identity to be used for testing.
terry@Azure:~$ az iot hub device-identity create --device-id $iotDeviceName \
&gt;     --hub-name $iotHubName
No IoT Hub found with name ContosoTestHubMsgEn30256 in current subscription.

I checked t

[2019-08-07 19:46] MicahMcKittrick-MSFT commented on #36565
@ashwini-git I believe your issue would best be handled by our technical support team. That way we can look into the backend logs and see what is happening.

Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for that support reque

[2019-08-07 19:46] #36565 closed

[2019-08-07 19:48] terrymandin commented on #36676
I tried it again, and when the script is trying to add the device the IoT Hub is not yet provisioned.  Looking at it in the portal gives the following message, "IoT Hub ContosoTestHubMsgEn28370 may not function properly because it is not in an ACTIVE state."

[2019-08-07 19:48] #32541 closed

[2019-08-07 19:52] roygara commented on #36658
@Yashuaaa thanks for reaching out. I've been following the other thread ( https://github.com/MicrosoftDocs/azure-docs/issues/33827 ) and know you've already discovered the problem (same thing Adam pointed out above). I've already since merged a fix for the issue, but that's not yet reflected in the live article. The fix will go live later today.

Accordingly, I'm closing this out.

#please-close

[2019-08-07 19:52] #36658 closed

[2019-08-07 19:55] jontreynes commented on #12929
Somewhat off topic, but it would be helpful if the doc explained how to measure how much space you should need in the "Kubernetes service address range". Similar to how we calculate the space needed for the cluster subnet

[2019-08-07 19:55] joaopgrassi commented on #36650
Thanks for clarifying it. I'm planning a blog post about Azure Key Vault references, and I had the same doubt. But your comment brings another "concern". When you say:

You are talking about changes being made to the secret _in the vault_, or the reference value in the app settings of the "consuming"app? I ask because today we have reload functionality on ASP.NET Core json settings, how does that

[2019-08-07 19:55] RyanHill-MSFT commented on #36409
Try the following powershell

[code]

[2019-08-07 19:57] YutongTie-MSFT commented on #36456
@aahill Hi, this need to be updated for all samples, could you please check and help update it? Thank you.

[2019-08-07 19:57] #36136 closed

[2019-08-07 19:59] RyanHill-MSFT commented on #36650
@joaopgrassi I was referring to the secrets in the vault. If one were to change the value of secret, the new value wouldn't be read until the app referencing the vault were restarted.

[2019-08-07 20:01] cynthn commented on #18587
@bruckGT Thank you for the feedback! The engineering team has done some work to update the FAQ. I'm going to close this issue for now, but please reopen this or open a new issue if you have more concerns. Thank you!

#please-close

[2019-08-07 20:01] #18587 closed

[2019-08-07 20:01] AjayKumar-MSFT commented on #36262
@FindingNamo, Thanks for raising the PR and sharing your valuable feedback!

[2019-08-07 20:01] #36262 closed

[2019-08-07 20:01] terrymandin commented on #36676
Changing my default az resource group to the new group seems to have fixed the problem.  eg.

az configure --defaults group=ContosoTestHubMsgEn

I recommend adding the resource group name to the create of the device, and any az commands further down in the script.  ie.:

az iot hub device-identity create -g ContosoResourcesMsgEn --device-id $iotDeviceName --hub-name $iotHubName

[2019-08-07 20:02] YutongTie-MSFT commented on #36600
@adiveloper Hi, it seems you have no access to the following repo: https://github.com/raymondlaghaeian/AzureMLWebAppTemplate_RRS_v2
Could you please try this : https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.AzureMLASPNETTemplateforRRS ?

[2019-08-07 20:02] cynthn commented on #18173
#please-close

[2019-08-07 20:02] #18173 closed

[2019-08-07 20:06] cynthn commented on #18761
@dcbrown16 Thank you for the feedback. We don't have currently plans to update that content, but I have the feedback and will take it into consideration during future updates. Thanks again!

#please-close

[2019-08-07 20:06] #18761 closed

[2019-08-07 20:07] AlexisJackson commented on #36664
@YutongTie-MSFT I was trying to use the assigned user identity to the VM following numerous examples. One being:
https://github.com/MicrosoftDocs/azure-docs/blob/dbce872763a7bd05f6ba605b0dc406cda0afa8ec/articles/active-directory/managed-identities-azure-resources/how-to-use-vm-sign-in.md#azure-cli

Another reference being another person's issue in this repo: https://github.com/MicrosoftDocs/azure-

[2019-08-07 20:07] yahorsi commented on #35787
The main problem is that from both docs is it unclear how AI config should finally look like and where exactly in the whole config snapshot collector configuration should be placed. So we need new content. The fact that snapshots collector nuget package installer, at the moment, has bug that places snapshot collector configuration in the wrong place in the config makes it even more needed.

[2019-08-07 20:09] YutongTie-MSFT commented on #35553
@PanosPeriorellis Hi Panos, do you have any update for this issue? Thank you

[2019-08-07 20:15] FrankHu-MSFT commented on #36674
@matthewtckr Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 20:15] FrankHu-MSFT commented on #36671
@CHDAFNI-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 20:17] KranthiPakala-MSFT commented on #36636
@avi2183 Thank you for reaching out and bringing this to our notice. Is there a specific document which you are following and facing this error issue? If so could you please provide the document link, to assist better on the query.

[2019-08-07 20:17] FrankHu-MSFT commented on #36674
It would depend on which one takes priority.. Usually pass thru auth would take priority so this won't work properly because it's passing through back to the back end... Essentially making the passwords being hashed redundant. Is there a reason why you have both enabled ?

[2019-08-07 20:18] FrankHu-MSFT commented on #36671
@CHDAFNI-MSFT thanks for letting us know about this we're gonna go ahead and make the change accordingly. Thanks!

@CHDAFNI-MSFT Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-07 20:28] AlexisJackson commented on #36664
As another example, I've also referenced the docs here: https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login

[2019-08-07 20:28] terrymandin opened #36677 "Enrichment Names cannot contain spaces"
This documentation shows to add an enrichment name "Device Location".  Spaces are not permitted in names.  The correct name should be "DeviceLocation"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d11f9c-7b7f-fb19-acf9-24df508aec17
* Version Independent ID: d9f44e50-4e97-79a5-fb53-261337f7de9f
* Content: [Tutorial -

[2019-08-07 20:29] JimacoMS3 commented on #16772
#reassign @philmea

[2019-08-07 20:30] Karishma-Tiwari-MSFT commented on #36597
@jcledezma Any update? Let me know if that helped. Thanks :)

[2019-08-07 20:30] matthewtckr commented on #36674
My understanding on Pass-Thru Authentication (PTA) and Password Hash Sync (PHS) options is that while PTA can be the authentication mechanism for users, PHS could still enabled for Self-Service Password Reset (SSPR) and Azure AD Password Protection.

We were looking at moving our organization from ADFS to PHS, but realized that PTA may be the better solution for our needs, as it takes into account

[2019-08-07 20:40] opticyclic opened #36678 "Add More Details About Scopes"
The docs say:

&gt; In the Add a scope page, create a new scope supported by the API. (e.g., Read) then click on Add scope to create the scope. Repeat this step to add all scopes supported by your API.

The "Add a scope" page is more complicated that this.

It talks about `consent` without explaining what that means or what it means to "consent to a scope".

It also only has the options "Admins on

[2019-08-07 20:42] SamaraSoucy-MSFT commented on #36280
@mazikHyd I am going to close this issue as it is not a bug in the docs. If you need additional assistance the forums are a great resource or you can tag me here if you are still unable to resolve your issue.

[2019-08-07 20:42] #36280 closed

[2019-08-07 20:43] adiveloper commented on #36600
I am using the above and I am getting this error:\

 {"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"Code\": \"NotFound\",\r\n \"Message\": \"Repository 'UpdateSiteSourceControl' operation failed with Admin

[2019-08-07 20:50] JimacoMS3 commented on #24431
#reassign @philmea

[2019-08-07 20:50] Alberto-Vega-MSFT commented on #36265
Hi @TurtleBeach If you have any updates I will assign the issue to the content author so she can evaluate and address your feedback

[2019-08-07 20:55] Alberto-Vega-MSFT commented on #36350
@perkops Thanks again for your help! I merged the PR with the fix so we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 20:55] #36350 closed

[2019-08-07 20:55] mmacy commented on #12929
Adding @mlearned who's the current article owner.

[2019-08-07 20:57] igoham commented on #35322
I have been working on a similar issue.
Is there absolutely no way to get the logs to send to the event hub sink?

In addition I can't even get the metrics to flow to the event hub using the above guide.

(Not sure what CSS 119061722001234 is, if that was a reference to the solution here)

[2019-08-07 21:02] adewaleo commented on #36617
So was this saying Contoso would pay 4 times the cost of premium? 4 times the cost of basic? etc. "four times Premium per month" wasn't clear to me.

However upon re-reading. I think the intent was to say something like "Contoso would pay four times the cost for Premium registries, one for every region".

Thanks @Karishma-Tiwari-MSFT

[2019-08-07 21:02] ColbyTresness commented on #36591
Yeah this might need to be updated, I was definitely looking at this through a Node lens. @soninaren is this the required folder structure for class library? bin/obj inside the function folder?

[2019-08-07 21:08] lgayhardt commented on #33495
Hi @SwayTex
We do not set explicit ciphers. We only ensure TLS 1.0 and above is used (no SSL3). This means the ciphers supported are whatever the default is for the underlying operating system. We’re currently on Windows Server 2016 (v.1607). Here’s the documentation on supported ciphers for that version: [TLS Cipher Suites in Windows 10 v1607](https://docs.microsoft.com/en-us/windows/win32/secaut

[2019-08-07 21:09] ankhuve commented on #28505
Thanks for your reply, I'm glad someone has gotten it to work!

Let me try and get this straight, I feel like there are so many terms flying around and I've been Googling frantically for the last couple of days..
1. I've set WEBSITES_ENABLE_APP_SERVICE_STORAGE to true in app settings
2. What does "Azure Storage Mount" mean in this scenario, is it essentially adding a row to this page?
![image](htt

[2019-08-07 21:12] AlexisJackson commented on #36664
I found the issue - the UMI has to have reader access to itself in order to be able to do `az login --identity` from the CLI on the VM it is assigned to.

[2019-08-07 21:12] #36664 closed

[2019-08-07 21:13] Karishma-Tiwari-MSFT commented on #36617
Thanks @adewaleo for sharing the details.
@SteveLas Can we elaborate that point a little more, as suggested above. Thanks :)

[2019-08-07 21:24] jofrance opened #36679 "Re-Setting the encryption extension after the restore is missing for Linux"
For Linux, after the restore is done, it is required that you setup the encryption again so the extension gets activated and the encrypted disks are open and mounted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63-be57-2c49-15fc-b9dc7fdda1b3
* Version Independent ID: 30777b2a-604d-ce18-c891-4d272632f039
* Cont

[2019-08-07 21:24] FrankHu-MSFT commented on #36674
hey @matthewtckr I see. Per the docs, if PTA is enabled it will not work properly. It needs to be disabled to work properly.

@matthewtckr Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-07 21:25] #36662 closed

[2019-08-07 21:25] #36660 closed

[2019-08-07 21:25] #36582 closed

[2019-08-07 21:26] ibartley opened #36681 "Using SCP or other SSH based services with Azure Bastion"
Is it possible to use other SSH based services with Azure Bastion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ba2ac9-6097-7af1-5200-190d2bbbbd08
* Version Independent ID: 35206463-40cf-7af2-a713-cecb70972a1e
* Content: [Connect to a Linux VM using Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bast

[2019-08-07 21:28] sebagomez commented on #28505
Yes, that's exactly what it is, do that via the Web interface instead of the az cli.

And that name you'll see there in that page (first column) is the one you need to add to your compose file.

I recommend doing it via the Web interface, then use the az cli to get the mounts and you'll see the data you need to set. I remember getting the InvalidShare error once... can't remember why though

[2019-08-07 21:29] Grace-MacJones-MSFT commented on #36501
@HeidiSteen can you please verify this?

[2019-08-07 21:31] vyta opened #36682 "CA startup params defined values unclear"
The doc states that the cluster autoscaler uses startup parameters that are defined by the Azure platform, but what are those values set to? The doc points to https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca for info about the parameters themselves but isn't explicit about whether or not the default values are the Azure platformed defined

[2019-08-07 21:32] stevestein commented on #36559
@Kevin-Farlee - Can you take a look at this one?  Thanks!

[2019-08-07 21:34] ankhuve commented on #28505
I think the InvalidShare state came from me not creating a Blob container on my storage account before running the command.

After some messing around, I managed to get the storage mounted to my app!

However, the issue is that the folder in my storage account overwrites everything in the mounted folder in my container - which is the opposite of how I want things to work.

This means that if I hav

[2019-08-07 21:34] Grace-MacJones-MSFT commented on #36253
@pmullins-ewn,  Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-08-07 21:41] elamalani commented on #36253
@pmullins-ewn Please check out App Center for setting up Push notifications in your Windows app.
https://docs.microsoft.com/en-us/appcenter/push/

As mentioned at the start of this doc, App Center is investing in new and integrated services central to mobile app development and it supports Push service for use.

[2019-08-07 21:42] shulagrawal opened #36683 "Broken link"
If you navigate to the following URL, and click "Sample device client in C." - The link to https://github.com/Azure/azure-iot-sdk-c/blob/dps_symm_key/provisioning_client/devdoc/using_provisioning_client.md gives 404.
https://docs.microsoft.com/en-us/azure/iot-central/concepts-connectivity#further-reference &gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-08-07 21:43] pmullins-ewn commented on #36253
Thanks for the feedback, I'll give the App Center a go.

[2019-08-07 21:43] Karishma-Tiwari-MSFT commented on #19569
@axayjo Can you please share if there is any update on this or shared image gallery images still can't be referenced using pub/offer/sku? Thanks :)

[2019-08-07 21:48] Karishma-Tiwari-MSFT commented on #36682
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-07 21:56] sebagomez commented on #28505
I believe what you're experiencing is right. At least that's how I'm using the storage account, to send files into the container. If you want the opposite, I think you should have an empty container (Storage Account) and mount it to your logs folder... sorry I'm not familiar with php.

I followed this link to get the ssh working in my container https://docs.microsoft.com/en-us/azure/app-service/co

[2019-08-07 22:00] mike-urnun-msft commented on #36678
Hi @opticyclic - Thank you for your feedback! The terms you're pointing out are from Azure AD and they are well documented here: [Azure Active Directory consent framework](https://docs.microsoft.com/en-us/azure/active-directory/develop/consent-framework)

In an effort to contextualize, would it be better if we link the `consent` to that doc?

[2019-08-07 22:09] SeanFeldman commented on #33395
@banisadr apology for the delayed response. Just returned from vacation.

This is nasty. And I agree with you that upper-casing is a safer option.
The only recommendation I'd make is to document this. It is obviously something your team is aware, but having this described in the dead-letter queue documentation would be much better. Do you think that's doable?

[2019-08-07 22:35] KranthiPakala-MSFT commented on #36619
@AlexFiala Just checking to see if the above suggestion helped to debug your issue?

[2019-08-07 22:35] Alberto-Vega-MSFT commented on #36264
@xtofs Thanks for helping us make this docs better! Closing this issue now since the PR has been approved

[2019-08-07 22:35] #36264 closed

[2019-08-07 22:39] jontreynes commented on #12929
Also, it would help if the doc could explain how cbr0 and veth0 plays a part in AKS. A diagram of the network flow with these components would clear my confusion.

[2019-08-07 22:39] rvargas22 opened #36684 "MARS AGENT Recovery from another server Issue"
I'm trying to perform a Volume Restore from another server to my local server that it's in Azure (VM in Azure).

Restore fails at : 280GB Transferred
RestoreSize : 2TB.

- Firewall Turned off
- Server Source: Windows 2012
- Server Target: Windows 2019
- Ports enabled: 80,443,6049 (But 6049 seems to be blocked form some reason)
- No proxy
- Last Version of MARS
- I have performed other Restore Proc

[2019-08-07 22:47] jruales opened #36685 "Kqlmagic not installed in Azure Notebooks by default"
The tutorial _"Use a Jupyter Notebook and Kqlmagic extension to analyze data in Azure Data Explorer"_ states that it's not necessary to install Kqlmagic on Azure Notebooks.

However, when I try to run `%reload_ext Kqlmagic` from a fresh Azure Notebook, I get an error: `ImportError: No module named 'Kqlmagic'`

Should Kqlmagic be added so that it's installed by default?

---
#### Document Details

[2019-08-07 22:49] SaurabhSharma-MSFT commented on #36388
@HeineLysemose We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-07 22:49] #36388 closed

[2019-08-07 22:49] SaurabhSharma-MSFT commented on #36412
@roberts2727 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-07 22:49] #36412 closed

[2019-08-07 22:53] msmimart commented on #30545
@LasseNisted - thanks again for your feedback and apologies for the delay. We've reached out to the product team and are working on clarifying the guidance related to this scenario. Just wanted to let you know we're actively tracking this internally, so for now we'll close this issue but will update the article as soon as we have clarification.
#please-close

[2019-08-07 22:53] #30545 closed

[2019-08-07 22:56] MarileeTurscak-MSFT commented on #36632
@TiNovTec
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 23:06] MartinJaffer-MSFT commented on #36476
Hello @AJAnujsharma and thank you for your inquiry.  While Data Factory does not support .ini files,  you can accomplish the same thing with a JSON file.  For example, one of the signatures of the [Az PowerShell 2.5.0 command Invoke-AzDataFactoryV2Pipeline](https://docs.microsoft.com/powershell/module/az.datafactory/Invoke-AzDataFactoryV2Pipeline?view=azps-2.5.0) takes a ParameterFile.
![image](ht

[2019-08-07 23:06] msmimart commented on #31291
Thanks @jaffadog for pointing this out. We're working on this guidance with the product team and I'm tracking this issue in an internal work item. Just wanted to let you know this is in the works - for now I'll close the issue but we'll update the related articles as soon as possible.
#please-close

[2019-08-07 23:06] #31291 closed

[2019-08-07 23:07] MarileeTurscak-MSFT commented on #36522
Hi @nishantsny ,

Can you please open a brand new browser with a cleared cache and try again? This has happened to me before due to it storing cookies from old sessions and I was able to resolve it this way.

[2019-08-07 23:07] msmimart commented on #31292
Thanks @jaffadog - also including this issue in our internal work item. We'll update the related articles as soon as we have clarification.
#please-close

[2019-08-07 23:07] #31292 closed

[2019-08-07 23:09] KeiroKamioka0000 opened #36687 "Which RBAC role require to change the size of VM"
Please consider to add to this document about which RBAC role user should have to perform the resizing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use PowerShell to resize a Windows VM in Azure](https://do

[2019-08-07 23:10] #36671 closed

[2019-08-07 23:11] #36674 closed

[2019-08-07 23:11] FrankHu-MSFT commented on #36674
I am closing this out now as the git doc issues are meant for doc issues not issues related to implementation. For more advisory please reach out to support or a solution provider.

For implementation help please refer to solution providers endpoint and they will be able to help you further with implementation issues : https://www.microsoft.com/en-us/solution-providers

[2019-08-07 23:16] MarileeTurscak-MSFT commented on #36607
@Joachim83 ,

I believe you should be able to do this by going to Azure Active Directory > Notifications settings > Weekly status and educational content email > set to "no."

Please try that and see if this works.

[2019-08-07 23:17] MarileeTurscak-MSFT commented on #36607
We will now proceed to close this thread. If you have further questions or have issues with this setting, feel free to tag me in the comments or open a new issue and I willy gladly continue the discussion.

[2019-08-07 23:20] Heidilohr commented on #36622
@dcbrown16 Thanks for your question. We'll have a full list of compatible OS images when Windows Virtual Desktop is generally available.

[2019-08-07 23:23] maximnix commented on #36592
I just realized I'm using my personal account. I've sent you an internal email with some more details. I'm still able to reproduce the problem.

________________________________
From: Micah <notifications@github.com>
Sent: Wednesday, August 7, 2019 12:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: maximnix <maximnix@outlook.com>; Mention <mention@noreply.github.com>
Subject

[2019-08-07 23:35] stewartadam commented on #36432
(fwiw, feedback on the triage process -- GitHub users [even msft employees] are not able to re-open issues, so they often go unnoticed once closed, and given that 4 hours as done here (or even a full 24) isn't really a reasonable amount of time to let users reply before closing. If it's a logistical thing, maybe consider a bot to auto-close issues after 48-72h getting #tagged unless another reply

[2019-08-07 23:37] femsulu commented on #36670
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-07 23:38] femsulu commented on #36665
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-07 23:38] MonideepDe opened #36688 "Customizing person model link text mentioned as "Customizing language model""
You have the following piece of front code where the link text for "Customizing person model" is incorrect. Hope this is helpful

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac785f1a-86ce-624c-0e3d-8ccb1b20a40c
* Version Independent ID: 3732a946-9c72-581b-fccf-f6073c359494
* Content: [Customizing content mode

[2019-08-07 23:42] adamfowlerit commented on #36471
I personally have Azure AD Basic licenses and they're about to be renewed for 3 years, are they just not being sold new or completely abandoned?

Thanks
Adam Fowler

________________________________
From: Ajane Burnley <notifications@github.com>
Sent: Thursday, August 8, 2019 3:53:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Adam Fowler <github@ggpnet.net>; Mention <menti

[2019-08-07 23:43] jagzz opened #36689 "What type of key to be used for Power BI while accessing Cosmos DB"
From documentation, I understand MasterKey cannot be used to access cosmosDB containers and documents. On the other hand though ResourceKey is recommended way it has a default validity of an hour (which could be extended to 5 hrs max).

In my case, i wanted to create reports in Power BI accessing data from cosmosDB collections.. If i go with ResourceKey i need to deal with regenerating token every

[2019-08-07 23:45] jagzz commented on #36689
Content: Learn how to secure access to data in Azure Cosmos DB
Content Source: articles/cosmos-db/secure-access-to-data.md
Service: cosmos-db

[2019-08-07 23:48] Alberto-Vega-MSFT commented on #36397
Hi @smoms sorry for the delayed response. I'm not sure if you already found the answer. Please read this document if you haven't yet https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#firewall-and-port-configuration-rules-for-iot-edge-deployment

[2019-08-07 23:54] Alberto-Vega-MSFT commented on #36683
@shulagrawal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 23:56] Alberto-Vega-MSFT commented on #36677
@terrymandin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 00:02] Alberto-Vega-MSFT commented on #36676
Hi @terrymandin Thanks for trying IoT Hub and taking the time to provide feedback to make this document better for others. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-08 00:03] vijetajo commented on #25637
Thank you for your feedback we have added this to our backlog. #please-close

[2019-08-08 00:03] #25637 closed

[2019-08-08 00:05] Alberto-Vega-MSFT commented on #36659
@PatricioVidal Thanks for trying Azure IoT Edge and for taking the time to provide feedback! We are currently investigating and will update you shortly.

[2019-08-08 00:08] Alberto-Vega-MSFT commented on #36645
@lkoppenol Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 00:09] stevebus commented on #34302
yeah, I think so too.  Thanks for opening the discussion, though.  We all got to learn something :-)

[2019-08-08 00:13] Karishma-Tiwari-MSFT commented on #36687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 00:14] kazshi commented on #36631
@msrini-MSFT Thank you, Karthik. My customer already referred the content but they are looking for more detailed information.
What does "P2S ... and the control channel logs and the events are '**logged separately**'." mean exactly? and I understand the TunnnelDiagnosticLog and RouteDiagnosticLog are generated for all the connections, correct?  Thanks.

[2019-08-08 00:15] Alberto-Vega-MSFT commented on #36638
@lkoppenol Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 00:17] Karishma-Tiwari-MSFT commented on #36274
Thanks @neilhuiz and @bobhlo Thank you for providing valuable feedback.
As shared above, We do not support creating multiple node pools in one deployment at this point in time, but this is coming soon. We will share here once we have an update on this functionality.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and

[2019-08-08 00:17] #36274 closed

[2019-08-08 00:19] BharathNimmala-MSFT commented on #36667
@TylerGross-SBS Thank you for reaching out , we are looking into this and will update you shortly.

[2019-08-08 00:21] Alberto-Vega-MSFT commented on #36637
@Trinakriae You should be able to just npm start and then open the dashboard here `http://localhost:3000/dashboard`  like shown here: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local#run-the-web-ui
If that doesn't work please open an issue on the repo for the solution here https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet

[2019-08-08 00:27] femsulu commented on #36679
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-08 00:30] TravisCragg-MSFT commented on #36681
@ibartley Can you give some examples?

[2019-08-08 00:30] TravisCragg-MSFT commented on #35943
@PaulSells Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 00:30] #35943 closed

[2019-08-08 00:43] patrickgalbraith commented on #35449
@eugenpodaru Great point. I have posted a link to the feature request you mentioned on the one I raised.

[2019-08-08 00:59] medavamshi commented on #27791
This works for service principal.
New-RdsTenant -Name medawvd -AadTenantId XXXXXXXXXXXXXXXXXX -AzureSubscriptionId XXXXXXXXXXXXX
create a service principal
Install-Module AzureAD
Import-Module AzureAD
$myTenantGroupName = "Default Tenant Group"
$myTenantName = "medawvd"
$hostpoolname = "medawvdhostpool"
# create the service principal:
$aadContext = Connect-AzureAD
$svcPrincipal = New-AzureADApplic

[2019-08-08 01:01] medavamshi commented on #28443
Try this. This works for creating tenant as well as service principal
New-RdsTenant -Name medawvd -AadTenantId XXXXXXXXXXXXXXXX -AzureSubscriptionId XXXXXXXXXX

create a service principal
Install-Module AzureAD
Import-Module AzureAD
$myTenantGroupName = "Default Tenant Group"
$myTenantName = "medawvd"
$hostpoolname = "medawvdhostpool"

# create the service principal:
$aadContext = Connect-AzureAD

[2019-08-08 01:06] ask-imran opened #36690 "Function App : Error calling the endpoint - From ADF WebActivity"
I have an ADF Pipeline that would be called concurrently(many-times) which has a webActivity that invokes a FunctionApp.  I could see a few failures while invoking the function App, a rerun of the activity succeeds, I don't see any failure logs in AppInsights for the FunctionApp. Looks strange to me.
The error says "Error calling the Endpoint", but the same activity succeeds in the rerun without a

[2019-08-08 01:07] vijetajo commented on #31738
The process for deploying a DSVM to virtual network is same as deploying a VM to virtual network. Please find detailed instructions here https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal
#please-close

[2019-08-08 01:07] #31738 closed

[2019-08-08 01:16] Karishma-Tiwari-MSFT commented on #35483
@TeeMakk The author has created a PR with the updates and changes will be live shortly.
For your reference,
![image](https://user-images.githubusercontent.com/20851144/62668054-35e83780-b93f-11e9-8a99-ba61eece32f6.png)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/84697/files

[2019-08-08 01:23] deborahc commented on #36436
@SogoGolf - thank you for reaching out. We've created an item to track the sample request here: https://github.com/Azure/azure-cosmos-js/issues/401.

cc @southpolesteve

[2019-08-08 01:29] nurulhuda859 opened #36691 "Invalid JSON in Code Example"
Change the sample text box data to proper json as it is currently not in proper json format.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a4-6856-3705a705e23c
* Content: [Mock API responses with the Azure portal](https://docs.microso

[2019-08-08 01:30] cfizz34 commented on #34065
when i removed my device as recommend from MS support it broke a bunch of stuff on my machine and now i am always prompted about my device has been deleted.

[2019-08-08 01:31] medavamshi commented on #27791
I meant role assignment for service principal above.

[2019-08-08 01:31] medavamshi commented on #28443
I meant role assignment for service principal above.

[2019-08-08 01:49] sandeepbhupathi commented on #36432
Hi @FrankHu-MSFT , Please find the attachment for the request.

<img width="712" alt="Screenshot 2019-08-08 at 7 18 43 AM" src="https://user-images.githubusercontent.com/1104280/62669330-d9236600-b9ac-11e9-9296-09b5eab79142.png">

[2019-08-08 01:53] AJAnujsharma commented on #36476
Thank you for the update.

[2019-08-08 02:01] YutongTie-MSFT commented on #36600
@adiveloper Do you have a support plan under your subscription ID? If yes, please go ahead create a support ticket for help. If not, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread. We will enable you one so that we can help you live trouble-shoot. Thank you.

[2019-08-08 02:08] smartczh opened #36692 "Multiple function in the same consumer group"
Now I have two functions doing different works registered in the same consumer group for a event hub. As https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#consumer-groups points out, they should work independently. But the result is that each function consumers exeact half of the events.
Does it means a function should monopolize a consumer group？

---
#### Document Details

⚠

[2019-08-08 02:32] jcledezma commented on #36597
Hi, Yes. I had seen that proposed solution when I searched google. Problem is, the /etc/kubernetes/admin.conf file does not exist. The entire /etc/kubernetes/ folder does not exist, for that matter.

What concerns me is that I am trying the tutorial fully in the Azure native environment and it doesn't work!
If any pre-configuration/setup is required, then the tutorial should explicitly call those

[2019-08-08 02:36] mildsauce opened #36694 "Azure VPN Gateways Always On VPN Authentication Support"
What authentication should we configure on the NPS server to support certificate-based authentication for the machine? PEAP-TLS or EAP-TLS with certificate/smartcard authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 682d5ec8-1123-e3d7-9def-4085790be405
* Version Independent ID: 73e5554e-c5cf-7a8c-0bfb-59e9

[2019-08-08 02:44] mfekihahmed commented on #16456
Hi, I am trying to install python DPS device client on OSX with no success, seems the package not available for OSX.

pip install azure_iot_provisioning_device_client
Collecting azure_iot_provisioning_device_client
  ERROR: Could not find a version that satisfies the requirement azure_iot_provisioning_device_client (from versions: none)
ERROR: No matching distribution found for azure_iot_provision

[2019-08-08 02:53] jruales commented on #36685
it seems like Kqlmagic is pre-installed for Python 3.6 Azure Notebooks but not for Python 3.5 ones

[2019-08-08 02:58] mrbullwinkle commented on #32415
@imeya thank you for bringing this to our attention. The links are now fixed. In answer to your second question there are two important limit values in Application Insights that are associated with the number 64,000.

•	Each telemetry item needs to be smaller than 64 kilobytes.
•	A batch of telemetry items cannot have more than 64k telemetry items.

The max event size of 64 K was vague and confusi

[2019-08-08 02:58] mrbullwinkle commented on #32415
#please-close

[2019-08-08 02:58] #32415 closed

[2019-08-08 03:07] djaus2 opened #36695 "Broken link on this page"
The first .Net SDK link on this page is broken.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db4d2f6e-8c52-d28d-b72d-f1d7e2b08b5a
* Version Independent ID: 9ab8b45a-b764-a7d0-9122-37c6a659c6cb
* Content: [How to manage connectivity and reliable messaging by using Azure IoT Hub device SDKs](https://docs.microsoft.com/

[2019-08-08 03:22] SnehaAgrawal-MSFT commented on #36649
@hsubramaniam Thanks for the question! We are investigating and will update you shortly.

[2019-08-08 03:38] lachs1981 commented on #34912
Resources should remain in the Notifications section until they are deployed in a ready to use state. Literally every single person reading this guide would assume something was broken when their Search Query didn't work.

[2019-08-08 03:39] YutongTie-MSFT commented on #36497
@RyanCantab Thank you for the feedback, I have created a fix for it and it should be alive soon. ^^

[2019-08-08 03:42] YutongTie-MSFT commented on #36530
@rbavery Thank you Ryan. Will check with both content team and product team to see we should update the document or we should install az ml by default.

[2019-08-08 03:48] nishantsny commented on #36522
Opening it in Incognito, worked. Still I would not close this thread. It should work as is.

[2019-08-08 04:00] kogesaka opened #36696 "Wrong option -EnableRemoting when using Invoke-Command and Enter-AzVM"
Hi expert,

When executed using the commands listed in the "Invoke PowerShell script across remote VMs" and "Interactively log on to a remote VM" Sections, the following error was displayed:

-----
Invoke-AzVMCommand : Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used together or an insufficient number of parameters were provided.
-

[2019-08-08 04:01] KetanChawda-MSFT commented on #36691
@nurulhuda859 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-08 04:03] KetanChawda-MSFT commented on #36692
@smartczh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-08 04:29] SnehaAgrawal-MSFT commented on #36688
@MonideepDe Thanks for the feedback! We are investigating and will update you shortly.

[2019-08-08 04:35] dcbrown16 commented on #5459
In case anybody finds this issue and can't find the original doc later, here's the current place to find this sentence.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/availability

[2019-08-08 04:45] VikasPullagura-MSFT commented on #5459
@dcbrown16 Thanks for the feedback on the document link. I have updated it to reflect the new link.

[2019-08-08 04:46] jakaruna-MSFT commented on #36460
Thanks for the update @torchy-newman
I updated the doc to work well for Ubuntu 16.04.
Ubuntu 18.04 is not supported yet.

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-08 04:46] #36460 closed

[2019-08-08 04:46] KrishnaG-MSFT commented on #36696
@kogesaka Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-08 04:52] sanpil commented on #36641
Are you talking about [this sample](https://aka.ms/pl-batch-score)? Do you have NC6 machines attached to your workspace that is needed to run some of the steps? Please provide more details.

[2019-08-08 04:57] VikasPullagura-MSFT commented on #36622
@Heidilohr Thanks for the update.

@dcbrown16 As mentioned by the author, the OS list will be updated once this goes GA. I am closing this issue for now.

[2019-08-08 04:57] #36622 closed

[2019-08-08 04:58] SubhashVasarapu-MSFT commented on #36694
@mildsauce, We are looking into this query and will update you as soon as possible.

[2019-08-08 04:59] dcbrown16 commented on #36622
Thank you.

[2019-08-08 05:05] YutongTie-MSFT commented on #36497
@RyanCantab
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-08 05:05] #36497 closed

[2019-08-08 05:07] YutongTie-MSFT commented on #36600
@adiveloper Hi, we are looking forward to working with you ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-08 05:07] #36600 closed

[2019-08-08 05:09] YutongTie-MSFT commented on #36626
@SantoshML Hi, do you have a support plan under your Azure subscription? If yes, could you please create a support ticket? If no, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread, we will help you to enable one and live trouble-shoot with you. Thank you.

[2019-08-08 05:15] msrini-MSFT commented on #36631
@kazshi , In P2S logs, you see control channel logs which means, any operation that is done on P2S configuration. For example, adding root certificate, revoking a root certificate, adding an IP prefix for P2S.  These are all specific to P2S and they gets saved in the P2S logs.

Tunnel logs gets triggered when there is a change in tunnel state. If the tunnel goes down for 5 seconds, you will see di

[2019-08-08 05:24] msrini-MSFT commented on #36586
@Sanitys , i don't see there is an issue with the command mentioned in the doc. You need to first go through the Validation of Reverse DNS before adding the DNS Settings of reverse DNS as mentioned [here](https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services#validation-of-reverse-dns-records).

[2019-08-08 05:24] #36586 closed

[2019-08-08 05:24] msrini-MSFT commented on #36556
@srinihp , I will go ahead and close this issue for now. Please tag me if you have any further questions.

[2019-08-08 05:24] #36556 closed

[2019-08-08 05:25] ksysiekj opened #36700 "Ratio for Standard_L16s, Standard_L32s, Standard_L4s, Standard_L8s, Standard_E48s_v3 sizes are missing"
Hello,
Can you please add ratios for:
Standard_L16s,
Standard_L32s,
Standard_L4s,
Standard_L8s
Standard_E48s_v3
sizes?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9c028aa-490d-e8be-61e2-b84974dc970d
* Version Independent ID: 0018132b-babc-305b-bc09-7324cb6895d8
* Content: [Virtual machine size flexibili

[2019-08-08 05:29] Alberto-Vega-MSFT commented on #36411
Hi @ethzeus

Any user with access to the URL with access key will be able to see both the public _as well as_ private transactions on that node.

It is thus strongly recommended you create a second transcation node and share its URL with the users (and send the private transactions only to the first transaction node). Furthermore, the first transaction node also contains the private key for consor

[2019-08-08 05:41] abelal83 opened #36703 "Support for existing clusters"
Are there any plans at all to enable windows container support for existing clusters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Service

[2019-08-08 05:45] VikasPullagura-MSFT commented on #36700
@ksysiekj Thanks for the feedback. I am assigning the issue to the Author for updating the document.

[2019-08-08 05:46] #36527 closed

[2019-08-08 05:47] VikasPullagura-MSFT commented on #36700
@yashesvi Can you please update the document for the requested sizes.

[2019-08-08 05:49] Alberto-Vega-MSFT commented on #36389
@rajb865 In order to use a VM  it's needed to follow a different guide that shows how to configure the VM so it can run the edge modules. I don't know if you have followed this guide already or not but here it is in case you haven't.

From [docs](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows#prerequisites):

[2019-08-08 05:54] AjayKumar-MSFT commented on #36643
@arnab21, The requested changes have been merged and it's public now. Thanks again for sharing your feedback.

[2019-08-08 06:06] iamanuradha commented on #36641
"Are you talking about this sample? "
Yes, the example is correct. I am currently working with the trial account and just followed the steps mentioned in this example.

"Do you have NC6 machines attached to your workspace"

- Haven't done this.

- I see compute target with status as resizing

[gpu-cluster | Machine Learning Compute | Resizing (0 -> 1 node) |STANDARD_NC6]

- Would compute target ex

[2019-08-08 06:07] tuthan commented on #23288
This should be added to documentation. I just spend whole morning to try follow the doc to prepare migrate out wildcard to new app  and the awverify.* doesn't work at all. Until i use awverify.domain.tld , it works in 2 minutes. WTH

[2019-08-08 06:09] sanpil commented on #36641
Try to run on a single node cluster (maxnode = 1) if you don't have access to a bigger cluster.

[2019-08-08 06:11] AshokPeddakotla-MSFT commented on #36695
@djaus2 Thanks for reporting this issue. PR has been created to address this issue and changes will go live by EOD.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 06:11] #36695 closed

[2019-08-08 06:11] SwathiDhanwada-MSFT commented on #27344
@qianw211 Can you please provide your insights on this.

[2019-08-08 06:11] Shawngbk opened #36704 "Please kindly replace the screenshot of the indexing policy"
The screenshot still shows the old indexing policy with deprecated attributes like "automatic", "precision".
Actually, the newly created DB with collection has already these attributes from indexing policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e-6816-0b2219a1f37b
* Version Independent ID: b46

[2019-08-08 06:12] dcbrown16 opened #36705 "Update with PowerShell examples"
The PowerShell method is much easier than REST API in many cases since you don't have to go through the extra authentication steps. Can that approach be fleshed out here?
In relation to that, the Restore example in the reference is pretty weird. Why would you create a new storage account right before restore? It's clearly just copy-pasted from the Backup example, but it should be edited to indicat

[2019-08-08 06:12] SwathiDhanwada-MSFT commented on #7701
@tfitzmac Can you please provide your insights on this?

[2019-08-08 06:16] SwathiDhanwada-MSFT commented on #27658
Assigning to @qianw211 for doc enhancement

[2019-08-08 06:19] nubgamerz commented on #12839
+1
We shouldn't have these resource groups forced in the environments. Especially when they cannot be renamed to fit naming conventions, and when we have to adjust our existing policies just to allow the backups to work.

[2019-08-08 06:19] kazshi commented on #36631
@msrini-MSFT Thanks for your explanation. Now I understand what you mean by "logged separately". Thanks again!

[2019-08-08 06:19] #36631 closed

[2019-08-08 06:20] iamanuradha commented on #36641
It's already one as per the script
cluster_max_nodes = os.environ.get("AML_COMPUTE_MAX_NODES", 1)

[2019-08-08 06:21] RohitMungi-MSFT commented on #36646
@cosmin-ciuc A note is available in this documentation about the same as part of [pre-requisites](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#prerequisites).
![image](https://user-images.githubusercontent.com/46958063/62679629-bb68f780-b9d2-11e9-822d-145f48378a5b.png)

We will now proceed to close this thread. If there are further questions regardin

[2019-08-08 06:22] #36646 closed

[2019-08-08 06:34] cosmin-ciuc commented on #36646
My bad. I didn't look closely enough to see it.

[2019-08-08 06:34] Shaktikantpadhi commented on #36648
@YutongTie-MSFT
Thanks for your response. Essentially, what I am trying to figure out is (1) how can I get the details of the citations mentioned in an article and (2) using this information how can I get the details of the article cited in terms of the Article title.

Request your inputs on the above.

[2019-08-08 06:35] femsulu commented on #36122
I'm sorry @mdid4d, still not sure what you are requesting. please send mail to AzCommunity@microsoft.com as stated above and we will gladly continue the conversation.

[2019-08-08 06:35] #36122 closed

[2019-08-08 06:38] PramodValavala-MSFT commented on #36413
@clemensv Thanks for the insights!

@mhabibal13 Hope the information shared is helpful. Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 06:38] #36413 closed

[2019-08-08 06:39] femsulu commented on #36337
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-08 06:40] snehithm commented on #36385
Hi @imeya, thanks for reporting it. Might be a bug. Could you please file a support ticket so we can investigate this properly? Docs are not a convenient place to track such issue. Closing this issue.

#please-close.

[2019-08-08 06:40] #36385 closed

[2019-08-08 06:50] srinihp commented on #36556
@msrini-MSFT
Following on Questions: How do we create a loopback adapter in Linux  SuSE 12? I hope you are not referring to 127.0.0.1.

Well i was also under the same impression, that the VM which has the IP address will be the one which will respond, but it did not work that way.

I have a SQL Server Availability Group running on 3 VM's on Port 1433. Since this is an AG deployment model, Port 143

[2019-08-08 06:55] ksysiekj opened #36706 "Size ratio duplication"
Hello,
Just noticed that some of the size ratios are duplicated:
Standard_M32ls 	M-series fractional large/MS Series Fractional Tiny
Standard_H16	        H-series
Standard_HB60rs     HBS-series/ HBS-series

Why is this? How can I distinguish between them? How can I know which one to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-08-08 06:57] Joachim83 commented on #36607
@MarileeTurscak-MSFT

I have already set the option "Weekly status and educational content email" to NO. On both my global admin account and the admin receiving the emails.

However the Weekly PIM emails are still being sent, the issue is not solved.

[2019-08-08 07:12] ToMakeSense opened #36707 "Can't find a location to create integration account instance in Azure portal"
Not sure if it caused by adding "integration service environments" option

![image](https://user-images.githubusercontent.com/6244148/62682528-f5e08d80-b9ee-11e9-9b90-d1274b4f1df0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6fe6158-2e70-a179-8c6f-621b463d004e
* Version Independent ID: 1174ff5a-d3e5-89fe-10b0-7

[2019-08-08 07:19] TiNovTec commented on #36639
Sure: https://github.com/Azure/azure-spatial-anchors-samples/issues/54

[2019-08-08 07:19] LasseNisted commented on #30545
@msmimart - thanks for following up. Will you update this github issue when the internal issue is resolved, even though it is closed? Or how do I know when the documentation has been updated?

[2019-08-08 07:29] BharathNimmala-MSFT commented on #36309
@tkumark  There are two primary ways to send data from WAD to Azure Application Insights, which is achieved by adding an Application Insights sink to the WAD configuration, through the Azure portal or through an Azure Resource Manager template.

Add an Application Insights Instrumentation Key when creating a cluster in Azure portal

![sf](https://user-images.githubusercontent.com/45180002/62683532

[2019-08-08 07:30] #36309 closed

[2019-08-08 07:31] pedrr opened #36708 "Approved Client App - Does it require MS Authenticator to be installed"
We established a CA Policy with "approved Client App" settings.
Now the users getting a prompt to install MS Authenticator and Register the device.
Is this a requirement if we're using the "approved client app" control?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Indepe

[2019-08-08 07:33] ssjaronx4 opened #36709 "c# egal hold / immutable policy examples"
Hi,

Are you able to provide some examples of how to set legal hold / immutable policies on containers using c# and the .net libraries?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d6e6f6-8e0d-2d98-4b4d-0543a43e8452
* Version Independent ID: 88543874-3100-637f-9b9a-9a8f41f51592
* Content: [Immutable storage for Azu

[2019-08-08 07:35] mike-urnun-msft commented on #36270
@shashankkr Yes, you can call the below API in your Powershell script to add a new key:

**PUT api/sites/{name}[/slots/{slot}]/host/default/{functionkeys|systemkeys}/{keyName}**
[code]

We will now proceed to close this thread for now. If there are further questions around ARM templates for Functions-specific scenario, please open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/

[2019-08-08 07:35] #36270 closed

[2019-08-08 07:38] my-name-is commented on #27024
I agree with @inech.  Particularly with the QueueClient and MessagingFactory.  We're advised to use a factory but there isn't a factory class for the QueueClient from the "new" Microsoft.Azure.ServiceBus namespace. (Not that I can find).  If we're to use a different pattern for keeping connections alive when using the components from the new namespace then please give full examples.

[2019-08-08 07:43] dcurwin commented on #36665
Are the instructions here helpful to you?

https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-backup-infrastructure-backup

https://docs.microsoft.com/en-us/azure/backup/backup-mabs-files-applications-azure-stack

https://docs.microsoft.com/en-us/azure/backup/backup-mabs-install-azure-stack

[2019-08-08 07:46] dcurwin commented on #36679
The change you requested to the document was accepted. Thanks for noticing and contributing!

#please-close

[2019-08-08 07:46] #36679 closed

[2019-08-08 07:59] rayne-wiselman commented on #12839
#assign:dcurwin

[2019-08-08 07:59] chwilfing commented on #10717
https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/38331076-exchange-online-powershell-with-service-principal

Just started a user voice to support this feature - plz vote!

[2019-08-08 08:05] KalyanChanumolu-MSFT commented on #36610
@khalednsair We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-08 08:05] #36610 closed

[2019-08-08 08:12] mike-urnun-msft commented on #35614
@cktechative Apologoeis for the long delay in response. Logic Apps currently can be enabled with `system-assigned` managed identity which is created on the same tenant trusted by your subscription where your service is running on and it can not access resources from another tenant/subscription resource.

We will now proceed to close this thread for now. If there are further questions regarding thi

[2019-08-08 08:12] #35614 closed

[2019-08-08 08:20] PramodValavala-MSFT commented on #36705
@dcbrown16 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-08-08 08:29] VikasPullagura-MSFT commented on #36706
@ksysiekj Thanks for the feedback. I am checking on the duplicates and will update you.

[2019-08-08 08:30] PabloBotas opened #36710 "How to attach to log tab?"
I am trying to troubleshoot a container instance that stops often, how do you attach the log tab in Azure to the container instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68001092-143c-0daf-cecf-7b05fa042a6b
* Version Independent ID: 703e64b1-2a8a-1220-6dfe-8e2982679cde
* Content: [Get container logs and event

[2019-08-08 08:31] msrini-MSFT commented on #36556
@srinihp , The instruction to create Loop-back adapter in Server 2016 is mentioned [here](https://social.technet.microsoft.com/Forums/office/en-US/a4e5c780-7920-49e0-908f-aee0987ad41b/how-to-install-microsoft-loopback-adapter-on-windows-10).

Similarly add it for Linux Suse 12. I am not able find documentation for loopback adopter of Linux Suse.

When you speak about Azure SQL always on, then the

[2019-08-08 08:34] Girishvtm commented on #35547
@ManojReddy, Sorry for the delayed response.
Did you tried in Azure AD? I received the below error when I tried in Azure AD

Get-AzureADUser : Error occurred while executing GetUsers
Code: Request_UnsupportedQuery
Message: Too many child clauses specified in search filter expression containing 'OR' operators: 11. Max allowed: 10.
RequestId: b2f848ee-0994-4ac9-89f5-d69f2e937488
DateTimeStamp: Thu,

[2019-08-08 08:40] KalyanChanumolu-MSFT commented on #36689
@jagzz We are actively investigating and will get back to you soon.

[2019-08-08 08:49] Trinakriae commented on #36637
https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues/163

[2019-08-08 08:50] Trinakriae commented on #36637
Opened a new issue here https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues/163

[2019-08-08 08:52] ankhuve commented on #28505
Heyyyyy, it works! Mounting an empty blob container to my logs folder gets my log files out into my Azure storage! Well, after deleting everything in the logs container to start with - but it works!

I'm wrestling with the SSH part at the moment. I've gotten so far that I'm able to SSH into the container locally (while already being inside the container..), but I guess it's a start.

When trying t

[2019-08-08 08:56] oddbear opened #36711 "Any newer emulator?"
The latest `Microsoft.Azure.Storage.Blob` nuget package throws exceptions with the Emulator (5.9.0.0) linked from this page. Is there a newer one?

Message: `The REST version of this request is not supported by this release of the Storage Emulator. Please upgrade the storage emulator to the latest version.`

Also this 5.9.0.0 version is missing from the `Storage emulator release notes`.

---
####

[2019-08-08 08:59] linruhui commented on #31879
@cephalin Thank you for the reply. Glad to see it is still under process. These information is quite crucial for developers, hope it could be finished soon.

[2019-08-08 09:00] PramodValavala-MSFT commented on #36692
@smartczh Yes. To quote the event hub doc,

So, each of your event hub triggered function would require it to have its own consumer group.

[2019-08-08 09:05] ChiragMishra-MSFT commented on #36690
@ask-imran Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-08 09:08] KalyanChanumolu-MSFT commented on #36685
@jruales Thank you for pointing this out. Yes it seems to be working with kernel version 3.6.
I will edit the article to add a note accordingly

[2019-08-08 09:12] ChiragMishra-MSFT commented on #36553
@sarah026 I will now proceed to close this issue. Please feel free to still comment if you have any other queries.

[2019-08-08 09:12] #36553 closed

[2019-08-08 09:13] avantida commented on #23292
We need the http to https redirect, it our duty these days. Show me a single Microsoft owned property that still allows plain http. As we are running a business being able to _disallow_ plain http is our duty to protect our customers. I can not fathom why such a basic feature can take soo long.

[2019-08-08 09:14] ChiragMishra-MSFT commented on #36633
@yanancai Can you please have a look at this?

[2019-08-08 09:14] MortenBroerup opened #36713 "Password policy for cloud user accounts is strange for international users"
Many countries have alphabets with more letters than A-Z, e.g. Denmark and Norway also have Æ, Ø and Å; German speaking countries have Ö, and the list goes on.

It seems unnatural and strange that some letters of the alphabet are not allowed in the password. Just imagine not allowing English speaking countries to use the letters X, Y and Z in their passwords.

Why do the password policies that onl

[2019-08-08 09:16] SantoshML commented on #36626
Hi YutongTie, Yes I am referring the above doc

[2019-08-08 09:27] ggailey777 commented on #36654
#assign:ggailey777

[2019-08-08 09:28] ggailey777 commented on #36654
Related Functions article fix was made here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/83428

[2019-08-08 09:46] MoRMongol commented on #36629
@ManojReddy-MSFT Thanks for your quick response. We've read that doc you've shared with us before. The thing is our domain name is a custom one that doesn't end with "onmicrosoft.com" and we've already bought an SSL wildcard certificate (active for 1 year) from a 3rd party company. We're wondering if we could use that towards AADDS deployment. If it is possible, how do we do that?

[2019-08-08 09:50] cdye23 opened #36714 "Incorrect Port ?"
In the first Note - Port 1443? Should this be Port 1433 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9788706b-bc01-9560-4b57-8ad44f2431bf
* Version Independent ID: e6ef3341-5520-a10a-bb5f-59166647478c
* Content: [Azure portal: Query Azure SQL Database using Query Editor](https://docs.microsoft.com/en-us/azure/sql-d

[2019-08-08 09:52] VDMT commented on #36690
I am receiving the above mentioned error using ADF with a Pipeline that has Web activity calling a Logic App via POST (which sends an email). The logic app runs when hit by Fiddler. Logic app is not logging the failure, however, like ADF is unable to trigger it.

[2019-08-08 09:56] ChiragMishra-MSFT commented on #36690
@ask-imran  and @VDMT What is the trigger in your azure function? http trigger? Also how is your azure function protected? if protected using AAD you need Bearer token. if you are using keys you need x-function key. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#authorization-keys

Here is a video from channel9 that might help:

Run Azure Functions from Azur

[2019-08-08 09:58] ChiragMishra-MSFT commented on #36690
The Azure Function Activity in the ADF pipeline expects the Azure Function to return a JSON object instead of an HttpResponseMessage.

Here's a blog that might help you :
https://microsoft-bitools.blogspot.com/2019/01/introducing-azure-function-activity-to.html

[2019-08-08 10:07] joecarlyle opened #36715 "Identify use section is out of date"
The identify use guide is out of date due to new format of filter available on Sign Ins page - https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication#identify-legacy-authentication-use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* V

[2019-08-08 10:12] SumanthMarigowda-MSFT commented on #36709
@ssjaronx4 Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-08 10:12] julie-ng commented on #36110
I put a working example with (Azure DevOps) CI here
https://github.com/julie-ng/cosmosdb-mongoose-example

[2019-08-08 10:20] Adam-Driver opened #36716 "Fix the links under next steps"
Hi,

The links on this page under next steps go off to a githut page instead of the next article, specifically - Deployment Plan.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seam

[2019-08-08 10:21] AjayKumar-MSFT commented on #36688
@MonideepDe, That's a good catch! We have made the right requested changes and it should be public within the next 24 hours. Thanks again for reporting this, it helps us improve the docs. Much appreciated.

[2019-08-08 10:22] dcurwin commented on #12839
Currently, there is no way of naming the Azure Backup RG. All the RGs have the naming format AzureBackupRG_geography_number (example: AzureBackupRG_northeurope_1).

We've passed on your suggestion to the development team. Thanks for your contribution!

[2019-08-08 10:25] VDMT commented on #36690
@ChiragMishra-MSFT - I am using a Logic App, I can successfully trigger the logic app using fiddler via:
![image](https://user-images.githubusercontent.com/1595048/62695363-4aedc500-ba2a-11e9-92ff-b75d0a5d6c22.png)
However, calling it in ADF like this:
![image](https://user-images.githubusercontent.com/1595048/62695537-a5872100-ba2a-11e9-8fa8-db2dd713a597.png)
Gives me:
![image](https://user-image

[2019-08-08 10:28] DashleenBhandari-MSFT commented on #36268
@tony-gutierrez , I will go ahead and close this issue. Please feel free to re-open the issue if you still need assistance.

[2019-08-08 10:28] #36268 closed

[2019-08-08 10:31] sergaz-msft commented on #36265
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 10:31] #36265 closed

[2019-08-08 10:32] sergaz-msft commented on #36397
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 10:32] #36397 closed

[2019-08-08 10:32] sergaz-msft commented on #36411
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 10:32] #36411 closed

[2019-08-08 10:37] AjayKumar-MSFT commented on #36312
@davidjrh, We have been discussing on this internally and we will review further (@tfitzmac) and update the document as necessary.

[2019-08-08 10:38] petermillsacumentive opened #36717 "How to get module twin information on startup"
Hello, how do we go about getting module twin information when the module first starts?

e.g. for C# in the Init() method

var twin = await ioTHubModuleClient.GetTwinAsync();
await OnDesiredPropertiesUpdate(twin.Properties.Desired, ioTHubModuleClient);

So that we are able to use this callback on startup, then for whenever there is an actual change.

---
#### Document Details

⚠ *Do not edit this

[2019-08-08 10:41] KalyanChanumolu-MSFT commented on #36704
@Shawngbk  Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-08 10:41] KetanChawda-MSFT commented on #36707
@ToMakeSense Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-08 10:54] LHTech-Analytics commented on #36574
Hi @MartinJaffer-MSFT and @nabhishek , yes this is the interface I am using. The error I'm getting is 2600 as above and says that there is an issue with the input. When I use the same input with the python SDK though it runs fine so I know there's no issue with the input.

My main problem is that the docs don't relate to the visual interface in your (And my previously added) screenshots. They are

[2019-08-08 11:11] KalyanChanumolu-MSFT commented on #36714
@cdye23 Thank you for the feedback. We are investigating this and will get back to you soon.

[2019-08-08 11:20] KalyanChanumolu-MSFT commented on #36714
@ninarn Could you please confirm if port 1443 is specific to query editor from Azure portal.

[2019-08-08 11:21] AjayKumar-MSFT commented on #36547
@dcbrown16, That’s good catch! Yes, the tutorial that you're referring to explains how to buy an App Service domain and assign DNS names to Azure App Service. However, the “Direct default URL to a custom directory” or/ “Redirect to a custom directory” section – Which highlights the steps for changing the root directory of your app code on AppService, which doesn’t involve DNS resolution, but custo

[2019-08-08 11:29] ask-imran commented on #36690
Thanks for the response.
_What is the trigger in your azure function? http trigger?_
**Yes, its an http trigger**

_how is your azure function protected? if protected using AAD you need Bearer token. if you are using keys you need x-function key_

I have set AuthorizationLevel as Function, I use function key to access them.

Okay, now to the point.

I am able to invoke the function from the pipeli

[2019-08-08 11:35] KrishnaG-MSFT commented on #36647
Assigning @JnHs for visibility, review and to provide insights.

[2019-08-08 11:37] AjayKumar-MSFT commented on #36634
@ADringer, As Bruce mentioned 'The search.in function supports string fields only'. Kindly let us know if this helps and this issue is good to be closed. Thanks again for your feedback!

[2019-08-08 11:38] AjayKumar-MSFT commented on #36640
@Tainum, Just checking in if you have had a chance to see the previous response. Kindly provide the requested information to assist you further

[2019-08-08 11:39] KrishnaG-MSFT commented on #36696
@kogesaka Verified and updated the document as required. Thanks.

[2019-08-08 11:39] #36696 closed

[2019-08-08 11:40] Accounted3 commented on #34065
@cfizz34 We didn't have any issues if we removed it on the client side, but if we removed it from the Azure side there were issues like you mentioned.  Ultimately, we have decided only to join machines that are supported (1803 with patch or higher) and avoid trying to remove the registration.

Microsoft drops support on 1703 in just two months (which really irritates me) so we need to focus effort

[2019-08-08 11:45] cephalin commented on #23288
We have a note that says: For certain providers, such as CloudFlare, awverify.* is not a valid record. Use * only instead.

Does this recommendation not work for you?

[2019-08-08 11:56] SubhashVasarapu-MSFT commented on #36348
@stevenwhitej, Appreciate your patience. As you mentioned earlier, we agree that the custom rule will be taking the preceding place where the allowed traffic will not obey the OWASP ruleset. To provide a better insight I am assigning this issue to the respective author. @KumudD, Could you please provide your insights on this?

[2019-08-08 12:01] VikasPullagura-MSFT commented on #36706
@ksysiekj I have raised a PR to remove the duplicates, the changes will be reflected once the PR is approved.

[2019-08-08 12:04] tiagocostapt commented on #36248
Any updates?

[2019-08-08 12:07] saeedeldah commented on #36577
@PramodValavala-MSFT
Thank you!

[2019-08-08 12:07] #36577 closed

[2019-08-08 12:15] jakaruna-MSFT commented on #36684
@rvargas22
Thanks for the question! We are investigating and will update you shortly.

[2019-08-08 12:16] petermillsacumentive commented on #36717
This is for when using Python

[2019-08-08 12:33] gpartridge2004 commented on #36708
Intune App protection uses authenticator as a broker app on iOS devices and Intune company portal as a broker app on Android devices. A broker app is required for app protection to work. Please see here for more information: https://docs.microsoft.com/en-us/intune/app-based-conditional-access-intune

[2019-08-08 12:34] PramodValavala-MSFT commented on #36528
@xieb0001 Just following up here... Hope my previous comment clears things up.

[2019-08-08 12:39] gangel77 opened #36718 "Invalid image type"
I'm getting this error however the documents i have tried it on are all PDFs, with no pictures or anything, just basic text pdfs.
Has the code or request changed at all thus these errors are occuring?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d6a5f5a-4f15-366c-891a-5c953b4a4643
* Version Independent ID: 3090f05f-

[2019-08-08 12:41] jakaruna-MSFT commented on #36710
@PabloBotas From portal you cant attach to the container's logs. you can only refresh and see the latest logs. But we can follow from CLI or enable log analytics for containers.

The below Azure cli command will help
`az container logs -n container-name -g resource-group --follow`.

`az container attach` also works.

You can also enable log analytics for that container so that the logs of the kill

[2019-08-08 12:41] brandon763 commented on #35061
Has there been any updates on this issue? The Lookup Query would seem to be the most significant of the three sub-types that one would want to collect data on.

Thanks,
Brandon

[2019-08-08 12:43] amrik2309 commented on #12839
As a customer there is nothing we can do about that resource group and excluding it from the policy is not a workaround when our expectation is to follow the company's naming convention and being compliant with the policies. I don't think the product was released with due diligence and testing when there are so many issues with it because lately I am hitting an iSCSI issue for which there is an op

[2019-08-08 12:44] gangel77 commented on #36718
hmm apparenrlt ythis doesnt work at all with PDF. i must have misread this somewhere.

[2019-08-08 12:47] afuyo opened #36719 "no authorization to publish python function"
I try to publish HttpTrigger function to Azure, by following this tutorial https://bit.ly/2TgOUYF
command :
[code]
Error:
[code]
Does anyone know how to solve this?

[2019-08-08 12:51] Foundation29hub commented on #36710
Thanks for the quick reply!

Ok, the `az container logs -n container-name -g resource-group --follow` works.

Is it persistent if I close the terminal I ran it in?

[2019-08-08 12:52] RyanHill-MSFT commented on #36650
@neilamoran we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 12:52] #36650 closed

[2019-08-08 12:52] jakaruna-MSFT commented on #36703
@abelal83
Thanks for the question! We are investigating and will update you shortly.

[2019-08-08 12:55] sergaz-msft commented on #34985
@codyborn if there are requisites to use a specific truffle version can we add that note to the doc?

+ @PatAltimore for visibility.

Thanks!

[2019-08-08 13:11] Nimleth commented on #36487
@DCtheGeek.  Thank you very much

[2019-08-08 13:12] szuro commented on #10326
I found that:
[code]
Was enough in my case. Thank you very much

[2019-08-08 13:14] sergaz-msft commented on #34302
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 13:14] #34302 closed

[2019-08-08 13:19] yashesvi commented on #36700
Done.

Send from phone

________________________________
From: VikasPullagura-MSFT <notifications@github.com>
Sent: Wednesday, August 7, 2019 10:47:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yashesvi Sharma <yashar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Ratio for Standard_L16s, Standard_L32s, Standard_L4s, Standard_L

[2019-08-08 13:23] porrascarlos802018 opened #36721 "Missing example for AKS and replicated zones."
This page its great to do a copy and paste, modify it as new page where AKS, replicated to several regions its being done by a customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb583eb-86b2-5383-350c-985f66de2dd6
* Version Independent ID: d08f5439-4db8-f9d0-eeb4-c1f4656fe0fa
* Content: [Restrict access to an Az

[2019-08-08 13:23] matt-FFFFFF commented on #18076
I too came across this issue, I needed a 'push' configuration but also to run the Default Configuration Script.

I got around this by modifying the RegistrationMetaConfigV2.ps1 script. See this [Gist](https://gist.github.com/matt-FFFFFF/b5231fa3f09b7e58fcf0e288e01d7156).

I then use a CustomScriptExtension with these settings and make the DSC extension depend on this:

[code]

[2019-08-08 13:25] porrascarlos802018 opened #36722 "Missing example for AKS , with replication on several regions."
[Enter feedback here]
customers are attempting to use it with AKS replicated in several regions , examples with supported backends its necessary to avoid delays for customers and increase in our queues. If is not supported scenario then needs to be clarified.

URL  https://docs.microsoft.com/en-us/azure/container-registry/container-registry-vnet#preview-limitations

Verbatim from [other issue](htt

[2019-08-08 13:31] afuyo commented on #36719
never mind, it was wrong subscription that did not authorize this

[2019-08-08 13:32] SwayTex commented on #33495
Hi @lgayhardt
Thank you for your clarification.

Best Regards.

[2019-08-08 13:32] #33495 closed

[2019-08-08 13:39] pietervanw opened #36723 "SoftwareUpdateConfigurationRunContext JSON incorrect / unclear (is it stable?)"
The SoftwareUpdateConfigurationRunContext JSON example given is incorrect / unclear. When trying to work in a pre script with the provided JSON, I found out that the actual input into the prescript is different.

See the below JSON for what I *actually* received:

[code]

My other questions (besides bringing this to your attention):
- Is the JSON structure (given above) stable? Can I build automat

[2019-08-08 13:40] pietervanw commented on #36723
EDIT: this input form doesn't accept code formatting :( Continuation below.

{
	"SoftwareUpdateConfigurationName": "Test_FCO15_Checkpoint",
	"SoftwareUpdateConfigurationRunId": "00963294-2cfd-4227-b0b0-3d14a2a9985b", "SoftwareUpdateConfigurationSettings": {
 		"OperatingSystem": 1,
 		"WindowsConfiguration": {
 			"UpdateCategories": 7,
 			"ExcludedKBNumbers": "1234569 52343457",
 			"IncludedKBN

[2019-08-08 13:43] pietervanw commented on #36723
Three more questions:
- Is the current JSON stable? (It changed over time.. so I'm naturally wondering if I can reliably automate something using this JSON in the pre/post scripting)
- What does 'OperatingSystem':1 mean? What other values are used?
- What does 'UpdateCategories':7 mean? Is that the same as the 'includedUpdateClassification' in the current documentation? Where can I find the mappin

[2019-08-08 13:44] zak-nye opened #36725 "Are current Service Fabric Mesh quotas permanent?"
Are the quotas described on [this page](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-faq) just while this is in preview or are they likely to remain this way (or similar).

For example if we wanted to bring up an app with a high number of cores (~60) in the future would this be something that would be possible?

---
#### Document Details

⚠ *Do not edit this secti

[2019-08-08 13:51] MaTr1xOne opened #36726 "Incorrect Minimum Memory values"
In the Section Service tier characteristics, the Min Memory for Managed Instance Gen Purpose and Business Critical Gen 5 is cited as 40.8GB. This is incorrect as 4 Core Gen 5 has a Memory Capacity of 22.528GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID:

[2019-08-08 13:52] n-a-sz commented on #34940
@jpe316
Ok, thanks for the update!
Will the InferenceConfig support additional dependencies as the ImageConfig? In my deployment script, I'm adding inhouse python packages as wheel files to the image, and specifying the wheel file in the conda env file, so I can have a proper python environment.
Currently, I can only update my deployment by removing it and creating a new one.

[2019-08-08 13:59] KalyanChanumolu-MSFT commented on #36689
@jagzz You should use the Read-Only Key to talk to Cosmos DB from Power BI.

Correcting your understanding of the Primary Key - Master key doesn't not have access to Collections and documents when using the REST API. However it has access to all resources when using the client SDK. Hence it is recommended to use it only on client apps that you can trust.

Please let us know if you have any further

[2019-08-08 14:00] ChrisAtMAF opened #36727 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning between steps 4 (Open the app / Add account / Select work or school account) and 5 (Return to the Set up your account page on your computer) where, if it is the first time the user has added an account via Microsoft Authenticator, they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the

[2019-08-08 14:01] ChrisAtMAF opened #36728 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning between steps 4 (Specify that you want to add a work or school account) and 5 (Scan the QR code) where, if it is the first time the user has added an account via Microsoft Authenticator, they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the Camera" | Don't Allow | OK

Android Microsof

[2019-08-08 14:03] ChrisAtMAF opened #36729 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning between steps 3 (Select Work or school account) and 4 (Use your device's camera to scan the QR code) where, if it is the first time the user has added an account via Microsoft Authenticator, they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the Camera" | Don't Allow | OK

Android Micr

[2019-08-08 14:03] SaurabhSharma-MSFT commented on #36716
@Adam-Driver I am able to access all of the links under Next Steps. Also, the deployment plan goes to this link - https://github.com/AzureAD/Deployment-Plans/tree/master/Authentication.  What is the error you are getting ?

[2019-08-08 14:04] Arash-Sabet opened #36730 "It's unclear when the override method of GetEndpointsForGroup is invoked"
Would you please clarify and state in the document that how GetEndpointsForGroup is invoked. We left a breakpoint at the beginning of the method but it's never hit in an asp.net core 2.2 app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25559966-9e0a-ba14-548a-5a5ad7c05eaf
* Version Independent ID: dc96db8e-100b-d08c

[2019-08-08 14:05] ChrisAtMAF opened #36731 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning between steps 5 (Select Other account (Google, Facebook, etc.)) and 6 (Use your device's camera to scan the QR code) where, if it is the first time the user has added an account via Microsoft Authenticator, they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the Camera" | Don't Allow |

[2019-08-08 14:06] KrishnaG-MSFT commented on #36723
@pietervanw Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-08 14:06] ChrisAtMAF opened #36732 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning after step 2 (Scan QR code to recover) where, if it is the first time the user has added an account via Microsoft Authenticator (very likely in this case), they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the Camera" | Don't Allow | OK

Android Microsoft Authenticator: Allow Authenti

[2019-08-08 14:08] ChrisAtMAF opened #36733 ""Authenticator" Would Like to Access the Camera step missing"
These steps omit a warning between steps 6 (Select Work or school account) and 7 (Return to the Set up your account page) where, if it is the first time the user has added an account via Microsoft Authenticator, they receive the following prompt (varies dependent on iOS or Android):

iOS Microsoft Authenticator: "Authenticator Would like to Access the Camera" | Don't Allow | OK

Android Microsoft

[2019-08-08 14:10] ChrisAtMAF opened #36734 "Sentence does not make sense"
The following sentence is missing a word:

'Return to the Set up your account page on your , and then select Next.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 827ee42c-1055-cbf1-3d32-6b5b68c4a225
* Version Independent ID: d9e23d9d-e074-1f77-8109-d6d0988d4668
* Content: [Set up security info (preview) to use an auth

[2019-08-08 14:11] eflamm opened #36735 "Punctuation Error"
"employee's" in first paragraph should be "employees" (no apostrophe)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID: 9ca42ebd-4ff2-226f-8bae-74fc8973a825
* Content: [What is Azure Active Directory? - Azure Active Directory](https://docs.microsoft.com/en-us/

[2019-08-08 14:17] abnarain commented on #36690
Hi
I am baffled how I am tagged on Microsoft azure repo when I have never even forked it or looked at it?
Is this some bug or malware, I would like to know, please let me know!

-Abhinav

Sent from my iPhone

[2019-08-08 14:24] msmimart commented on #30545
@LasseNisted - I'll update this github issue so you'll be notified. Thanks!

[2019-08-08 14:27] jonathandbyrd commented on #36670
as an update: about 4 hours after I originally uploaded the blobs as a test, i received the test alert i had placed on the blob count metric. So, it just took it time to evaluate apparently. This can be closed

[2019-08-08 14:27] #36670 closed

[2019-08-08 14:34] marinnedea opened #36737 "Broken links"
The links for Basic and A-Series VM sizes under https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites#supported-vm-sizes are broken. Please update. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb4

[2019-08-08 14:42] RyanHill-MSFT commented on #36730
Thanks for the feedback @Arash-Sabet! We are currently investigating and will update you shortly.

[2019-08-08 14:43] RyanHill-MSFT commented on #36654
Thanks @ggailey777.

[2019-08-08 14:43] #36654 closed

[2019-08-08 14:50] blouwagie opened #36739 "Does the custom list still validate against the global list?"
Please clearly state whether Yes or No, the global list is also checked when you use a custom list.  I know it is deep in the text, but the document would improve by making the simple statement up front that the custom list is an ADD on to the global list. Many of your readers can not read every detail. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-08 15:19] ahamedembibe opened #36741 "Ubuntu 18.04 support"
When can we expect Ubuntu 18.04 inclusion in ASR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d92f050-73a2-c519-2046-2aba7caeecb0
* Version Independent ID: e0fe7de0-ce70-de87-32c7-fe498552f9be
* Content: [Migrate AWS VMs to Azure with the Azure Site Recovery service](https://docs.microsoft.com/en-in/azure/site-reco

[2019-08-08 15:21] jakubsvobodacz commented on #14309
Step 8. My device is simply stuck in "running" no telemetry gets to send. What shall I do?

[2019-08-08 15:28] jakubsvobodacz commented on #33675
It keeps running in my case. The IoT Devkit itself has "running" on the display and when I run this command it just keeps working and does not show anything. Does it make any difference that I am usin a phone hotspot?

[2019-08-08 15:30] jakubsvobodacz commented on #14309
Step 5 in Prepare the development environment - there is no option for the 3 dots - ... in my current and most updated VS Code version. I can only search and then do it, but what shall I search for here then?

[2019-08-08 15:33] SamaraSoucy-MSFT commented on #36644
@zak-nye The package Microsoft.Azure.AppConfiguration.AspNetCore contains extensions to the Microsoft.Extensions.Configuration.AzureAppConfiguration package. In this case, the overload method for `AddAzureAppConfiguration()` used in the Quickstart comes from the Microsoft.Azure.AppConfiguration.AspNetCore package so the code will not work without it.

I am going to close this thread as this not an

[2019-08-08 15:33] #36644 closed

[2019-08-08 15:46] davidferlay commented on #15259
Also looking for details about SSL setup) What's up @lachie83 ?

[2019-08-08 15:53] SnehaAgrawal-MSFT commented on #36372
@softveda Thanks again for the feedback! Your feedback has been passed on to our design team. We will now proceed to close this thread.

[2019-08-08 15:53] #36372 closed

[2019-08-08 15:54] marcosgm opened #36744 "Wrong screenshot and Shared Access Policy for Push Events (windmill)"
In https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-send-events#push-events
Step 3 "Go to Shared Access Policies &gt; RootManageSharedAccessKey" is wrong. It's shown from the Namespace perspective.
Instead, in Step 2, readers should be pointed to the event hub instance we just created, then in Step 3 select "Go to Shared Access Policies &gt; MySendPolicy", so the Wi

[2019-08-08 15:54] eross-msft commented on #36734
@ChrisAtMAF  I've updated the text to address this. The sentence will read, "Return to the Set up your account page on your computer, and then select Next." This should be live later today.

#please-close

[2019-08-08 15:54] #36734 closed

[2019-08-08 15:55] eross-msft commented on #36733
@ChrisAtMAF  I've added a note to the article, stating "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the n

[2019-08-08 15:55] #36733 closed

[2019-08-08 15:55] eross-msft commented on #36732
@ChrisAtMAF  I've added a note to the article, stating "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the n

[2019-08-08 15:55] #36732 closed

[2019-08-08 15:55] eross-msft commented on #36731
@ChrisAtMAF  I've added a note to the article, stating "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the n

[2019-08-08 15:55] #36731 closed

[2019-08-08 15:55] eross-msft commented on #36729
@ChrisAtMAF  I've added a note to the article, stating "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the n

[2019-08-08 15:55] #36729 closed

[2019-08-08 15:56] mikebudzynski commented on #29863
Apologies for a delayed response @KetanChawda-MSFT Please, reach out to Azure support for assistance or post a question on Stack Overflow: http://aka.ms/apimso

This repository is reserved only for issues regarding documentation.

#please-close

[2019-08-08 15:56] #29863 closed

[2019-08-08 15:57] eross-msft commented on #36728
@ChrisAtMAF  This article is actively being rewritten. I will include the same note as I have for the other articles during this rewrite. You won't see this update for a bit, but as soon as the new content is live, it will be there.

#please-close

[2019-08-08 15:57] #36728 closed

[2019-08-08 15:57] eross-msft commented on #36727
@ChrisAtMAF  I've added a note to the article, stating "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the n

[2019-08-08 15:57] #36727 closed

[2019-08-08 16:01] eross-msft commented on #36422
@munozrickT4S  Thank you for your feedback. This article is in the process of being completely rewritten. I will take your comments into account during that rewrite. You should see the updates when the new content is published in the next couple weeks.

#please-close

[2019-08-08 16:01] #36422 closed

[2019-08-08 16:02] eross-msft commented on #36420
@munozrickT4S  Thank you for your feedback. This article is in the process of being completely rewritten. I will take your comments into account during that rewrite. You should see the updates when the new content is published in the next couple weeks.

#please-close

[2019-08-08 16:02] #36420 closed

[2019-08-08 16:02] cfizz34 commented on #34065
MS told me they could not restore my device to Azure so now I'm stuck since non of these commands do anything for me.

dsregcmd /leave

dsregcmd /join

dsregcmd /status

[2019-08-08 16:14] Karishma-Tiwari-MSFT commented on #36721
@porrascarlos802018 Thank you for providing valuable feedback. Since you have [another issue ope](https://github.com/MicrosoftDocs/azure-docs/issues/36722)n for the same doc, I will close this issue and work with you on the other issue.

[2019-08-08 16:14] #36721 closed

[2019-08-08 16:16] Karishma-Tiwari-MSFT commented on #36722
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 16:17] qianw211 commented on #27658
Lead management articles are currently being updated, will notify when the updates are live.  Thanks for your patience!

[2019-08-08 16:18] Karishma-Tiwari-MSFT commented on #36725
@ChackDan Would you be able to share your insights on this road map question for Service Fabric Mesh? Thanks :)

[2019-08-08 16:20] #36588 closed

[2019-08-08 16:21] dan-wesley commented on #27658
@qianw211 Ah, I see you ended up with these </g> Thank you!

[2019-08-08 16:23] MarileeTurscak-MSFT commented on #36735
@eflamm
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:24] MarileeTurscak-MSFT commented on #36737
@marinnedea
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:24] mlearned commented on #36597
@jcledezma  We are creating a work item and we will get this tested on "fresh" Azure bits as you mention and adjust the doc accordingly.  Thank you for the direct feedback!

[2019-08-08 16:25] YutongTie-MSFT commented on #36718
@gangel77 ^^ Are we good to close this? Thank you

[2019-08-08 16:25] Karishma-Tiwari-MSFT commented on #35483
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-08 16:25] #35483 closed

[2019-08-08 16:26] qianw211 commented on #27658
@dan-wesley Hi Dan! How's going!

[2019-08-08 16:26] MarileeTurscak-MSFT commented on #36735
@eflamm Thanks for pointing this out! I made a pull request to fix this. The changes should go live within 24 hours.

In the future feel free to make your own pull request for these sorts of updates if you would like. https://github.com/MicrosoftDocs/azure-docs-pr/pull/84749

[2019-08-08 16:26] #36735 closed

[2019-08-08 16:28] dan-wesley commented on #27658
@qianw211 Going good. I'll ping you offline and catch up.

[2019-08-08 16:31] noamo48 commented on #34275
any update on this? the lack of clear documentation is making it hard to convince my team this is a viable solution to migrate to...

[2019-08-08 16:34] YutongTie-MSFT commented on #36719
@afuyo ^^ I am going to close it.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-08 16:34] #36719 closed

[2019-08-08 16:40] FrankHu-MSFT commented on #36739
@blouwagie Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:40] FrankHu-MSFT commented on #36713
@MortenBroerup Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:40] FrankHu-MSFT commented on #36715
@joecarlyle Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:40] FrankHu-MSFT commented on #36708
@pedrr Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 16:43] AlexFiala commented on #6435
Why was this never addressed???

[2019-08-08 16:44] vhorne commented on #34777
Note added to article https://github.com/MicrosoftDocs/azure-docs-pr/pull/84752
#please-close

[2019-08-08 16:44] #34777 closed

[2019-08-08 16:44] FrankHu-MSFT commented on #36708
Thanks @gpartridge2004! @pedrr do you have anymore questions in regards to this?

[2019-08-08 16:45] FrankHu-MSFT commented on #36739
Thanks for letting us know about this @blouwagie we'll go ahead and make those changes.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-08 16:49] FrankHu-MSFT commented on #36713
Hey @MortenBroerup

I'm sorry that our application is not very inclusive. We plan on working on this and improving it accordingly.

In addition to that, as this is more of a product question/feedback, I suggest putting this under the azure uservoice here : https://feedback.azure.com/forums/169401-azure-active-directory
And the product team will look into it as soon as possible.

Please let us know

[2019-08-08 16:51] yoelhor commented on #36046
You can create a new **date extension attributes** and use Graph API to copy and convert the string based date to the new date extension attribute. After you finished with the data migration, configure your policy to use the new date extension attribute, and you are free to run any Graph API query, such as sorting the result by data.

To continue the discussion about data migration or Graph API qu

[2019-08-08 16:52] Mike-Ubezzi-MSFT commented on #36541
@skmkzyk Azure SQL Managed Instance is deployed to a VNet by default. This is the value-add of a Managed Instance deployment. The document you are referring is specific to Azure SQL Database Single Instance and Elastic Pools. Azure SQL Managed Instance is a third deployment option that is unique. Please see the following document: What is Azure SQL Database managed instance? ([link](https://docs.m

[2019-08-08 16:54] ninarn commented on #36714
I have confirmed that it is indeed port 1443, there is no typo.

[2019-08-08 16:55] Mike-Ubezzi-MSFT commented on #36541
@skmkzyk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-08 16:55] #36541 closed

[2019-08-08 17:00] YutongTie-MSFT commented on #36456
@aahill FYI in case you have not received the notification.

[2019-08-08 17:01] FrankHu-MSFT commented on #36046
@rupeshprasad Please let us know if there are anymore questions within the scope of this git issue.
As this is more of a support oriented question my suggestion is to engage via support for further clarification.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-08 17:01] #36046 closed

[2019-08-08 17:02] YutongTie-MSFT commented on #36626
@SantoshML Hi, we have received your email. Since it's not a doc issue, I will close this thread. Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-08 17:02] #36626 closed

[2019-08-08 17:09] Adam-Smith-MSFT commented on #36711
@oddbear Unfortunately 5.9 is the latest version we currently have. I'd recommend posting on the feedback portal: https://feedback.azure.com/forums/217298-storage

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-08 17:09] #36711 closed

[2019-08-08 17:16] Adam-Smith-MSFT commented on #36347
@iLikeAzureSQL This is the response i received from the Service team:
This usually means that there’s a block ID length mismatch. All uncommitted blocks in a blob must have block IDs of the same length. If a previous block was uploaded but not committed, all future uploads using a different ID length will fail.

To purge the uncommitted blocks and start fresh, do the following:

If the blob is unc

[2019-08-08 17:20] wanzhuM commented on #31286
Hi @Grace-MacJones-MSFT
The link you provided doesn't cover the problem area.
We are current running a React web app on an Azure App Service, using Microsoft Accounts (*not* azure AD) for authentication.
The only way provided to us to log out from the frontend javascript is to redirect to /.auth/logout, if this doesn't clear the identity provider token for Microsoft Accounts, how do we do it?

Unl

[2019-08-08 17:21] vhorne commented on #35845
Portal and CLI are not available yet for this feature. When they are available, documentation will be updated as time allows.
#please-close

[2019-08-08 17:21] #35845 closed

[2019-08-08 17:22] MartinJaffer-MSFT commented on #36476
Thank you for the response. I will proceed to close this issue.  If I did not sufficiently answer your query, let me know and I will re-open the issue, @AJAnujsharma .

[2019-08-08 17:22] #36476 closed

[2019-08-08 17:23] HeidiSteen commented on #36501
@sproctor42 Thank you so much for reporting this error. I fixed the doc, which will be live later this afternoon (8/8) around 3:00 PST.

@Grace-MacJones-MSFT #please-close when you get a chance.

[2019-08-08 17:23] #36501 closed

[2019-08-08 17:23] Alberto-Vega-MSFT commented on #36389
@rajb865 Can you confirm that you used the guide for Virtual Machines?

[2019-08-08 17:29] Grace-MacJones-MSFT commented on #36409
@rakeshjjain did the above solution work for you?

[2019-08-08 17:29] NavtejSaini-MSFT commented on #36653
@MrLokeshV We will close the thread if no question at this point. Please get back to us if any further question.

[2019-08-08 17:29] #36653 closed

[2019-08-08 17:29] HeidiSteen commented on #36634
@ADringer here is a link to the $filter reference doc, if that helps at all:  https://docs.microsoft.com/en-us/azure/search/search-query-odata-filter#examples.

I can also recommend this forum if you want engineering or community feedback on your approach:  https://stackoverflow.com/questions/tagged/azure-search

[2019-08-08 17:32] MicahMcKittrick-MSFT commented on #26612
@MarkusVi can you look into this? Appears the listed author is no longer at MSFT

[2019-08-08 17:34] NavtejSaini-MSFT commented on #36726
@MaTr1xOne Thanks for the feedback and we are checking this further.

[2019-08-08 17:35] Kentcomp opened #36748 "Subscription(s) required to configure and receive Risk Event Alerts?"
Does configuring and receiving Risk Event Alerts require an Azure AD Premium 2 subscription for one administrator, every administrator or every user whose events are being recorded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e12907-bff0-e471-bbdc-26bb73bab7be
* Version Independent ID: 0a08a24f-40d2-8528-0542-74b6

[2019-08-08 17:36] Alberto-Vega-MSFT commented on #36744
@marcosgm Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 17:37] Kentcomp opened #36749 "Subscription(s) required to configure and receive Risk Event Alerts?"
Does configuring and receiving Risk Event Alerts require an Azure AD Premium 2 subscription for one administrator, every administrator or every user whose events are being recorded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b788a968-e23a-7d7c-3d0b-6029edf512ed
* Version Independent ID: c26a3af3-c543-3da6-50c8-8b30

[2019-08-08 17:38] tfitzmac commented on #33724
@cveld - you do not need to join the marketplace to publish a service catalog app. The customer usage attribution is not applicable to service catalog apps.

All the steps to create and publish a service catalog app are shown in [Publish an Azure managed application definition](https://docs.microsoft.com/azure/managed-applications/publish-managed-app-definition-quickstart) and [Deploy service cata

[2019-08-08 17:40] lblanche opened #36750 "Impossible to publish my Data Factory"
Hi,
I am encountering a problem while trying changes on my data factory. The debugs all work but I have the following message (which is quite short to understand anything) :
"Error code: BadRequest
Inner error code: BadRequest
Message: The document creation or update failed because of invalid reference 'paris_billings_sql'.

Error code: BadRequest
Inner error code: BadRequest
Message: The document

[2019-08-08 17:40] ggailey777 commented on #24830
@mike-urnun-msft can we please change the product label to just `azure-functions/svc` or `azure-functions/svc` and `cosmos-db/svc`?

[2019-08-08 17:41] ggailey777 commented on #24567
@mike-urnun-msft can we please change the product label to just `azure-functions/svc` or `azure-functions/svc` and `cosmos-db/svc`?

[2019-08-08 17:41] ggailey777 commented on #17536
@mike-urnun-msft can we please change the product label to just `azure-functions/svc` or `azure-functions/svc` and `cosmos-db/svc`?

[2019-08-08 17:42] ethzeus commented on #36411
Thanks a lot @Alberto-Vega-MSFT & @sergaz-msft, this is really good info, I'm sure someone else will find it helpful. For now we are covered with this, now we have a big challenge with wallets, there's is no Ethereum wallet out there that supports private transactions. Metamask connected to the custom RPC URL and contract address reads the balance perfectly, but if you intend to transfer tokens yo

[2019-08-08 17:43] KranthiPakala-MSFT commented on #36619
@AlexFiala We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-08 17:43] #36619 closed

[2019-08-08 17:45] jruales commented on #36685
@KalyanChanumolu-MSFT I started an discussion with one of the authors of Kqlmagic and he has mentioned that "Kqlmagic requires python version 3.6 and up" (see discussion [here](https://github.com/microsoft/jupyter-Kqlmagic/issues/22#issuecomment-519426741)). I think that this documentation page should mention this requirement.

[2019-08-08 17:45] ggailey777 commented on #27955
@mike-urnun-msft can we please get the service label switched to `azure-functions/svc`, which is correct and allows for better tracking? Thanks!

[2019-08-08 17:46] ggailey777 commented on #27921
@mike-urnun-msft can we please get the service label switched to `azure-functions/svc`, which is correct and allows for better tracking? Thanks!

[2019-08-08 17:46] ggailey777 commented on #23928
@mike-urnun-msft can we please get the service label switched to `azure-functions/svc`, which is correct and allows for better tracking? Thanks!

[2019-08-08 17:48] ggailey777 commented on #22568
@mike-urnun-msft I wonder why the `functions/svc label got added back?

[2019-08-08 17:49] sochan1 commented on #36657
update:
got to know from the support, it's because of Service principal access issue.

[2019-08-08 17:49] ggailey777 commented on #21659
@mike-urnun-msft I wonder why the functions/svc label got added back?

[2019-08-08 17:51] ggailey777 commented on #20932
The referenced PR has addressed this issue. #please-close

[2019-08-08 17:51] #20932 closed

[2019-08-08 17:53] mike-urnun-msft commented on #21659
@ggailey777 Merger bot keeps adding it back on. if there aren't dependencies on it, I'll look for ways to remove it since we track based on `azure-functions/svc`.

[2019-08-08 17:57] qianw211 commented on #33296
@LTUTE, here's the answer to your question:
DNS Name is of the VM, you will define this in the Azure Portal, once the offer is deployed.

Hope this helps!

[2019-08-08 17:57] kevinvngo commented on #14649
Is there a Gen 2 equivalent how to guide?

[2019-08-08 17:58] ggailey777 commented on #14560
@PingPongSet we can't make any statements about future releases, but note that we do now have some slots-related information in the [deployment article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#deployment-slots).

[2019-08-08 17:59] ggailey777 commented on #14560
@mike-urnun-msft I wonder why the functions/svc label got added back?

[2019-08-08 18:02] FrankHu-MSFT commented on #36749
@Kentcomp Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 18:02] FrankHu-MSFT commented on #36748
@Kentcomp Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 18:02] tfitzmac commented on #7701
@smadhukar2000 - it looks like there is something unusual about how copy is working with the config resource type. I suspect it has to do with the config properties also being available on the sites resources. If you move the config setting up to the sites resources, instead of as a sub-resource, it works correctly.

{
            "apiVersion": "2018-11-01",
            "name": "[parameters('siteN

[2019-08-08 18:05] FrankHu-MSFT commented on #36749
This is a duplicate issue of : https://github.com/MicrosoftDocs/azure-docs/issues/36748.

As such, I will be closing it out and continue working on the issue from the other issue,

[2019-08-08 18:05] #36749 closed

[2019-08-08 18:06] codyborn commented on #34985
Unfortunately, I don't have time to dig into why it's not working with the latest version of truffle. [Our docs](https://docs.microsoft.com/en-us/azure/blockchain/templates/ethereum-poa-deployment#tutorials) currently instruct the user to install the versions that do work. We can update the docs to be more explicit about these versions.

@Satya519364, if you do figure out the problem with the late

[2019-08-08 18:06] rvargas22 commented on #36684
As an update I was checking at the logs I have found a bunch the following warnings:

It's says something related Backup but it restore process and the files seems to be supported they are normal files.

**WARNING	Failed: Hr: = [0x8000ffff] BackupRead failed on file(D:\**Genesis_VAN\1Public\1Sales\1Broadcast\1BROUCHURES & MANUALS\Sony\Old\L O A N   AGREEMENT\MatrixLoan Oct 02.DOC)
	Line 28: 0AB0	0

[2019-08-08 18:06] FrankHu-MSFT commented on #36748
Hey @Kentcomp the licensing and pricing information can be found at the pricing page here : https://azure.microsoft.com/en-us/pricing/details/active-directory/

I'll see if I can engage someone else who is more familiar with licensing to proceed forward if there's confusion with the pricing page.

[2019-08-08 18:09] Alberto-Vega-MSFT commented on #19568
@JohnRambo90 This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-08 18:13] MicahMcKittrick-MSFT commented on #31016
@apwestgarth what is the current status of this issue? Are we okay to close this thread as we have offline work being done?

[2019-08-08 18:13] #16601 closed

[2019-08-08 18:22] MicahMcKittrick-MSFT commented on #36592
Will continue this offline :)

[2019-08-08 18:22] #36592 closed

[2019-08-08 18:28] cynthn commented on #8791
#assign @abhijeetgaiha

[2019-08-08 18:29] cynthn commented on #8791
@abhijeetgaiha Some of the syntax blocks are missing the parameters and some of the parameters don't seem to be required anymore. Can you run through this, test it and update the doc?

[2019-08-08 18:35] StingyJack commented on #36654
Did this get fixed or not? The PR link is 404.

[2019-08-08 18:36] basma-msft commented on #36155
@prees1 Thanks for your feedback. Consider from the documentation this link: https://marketplaceapi.microsoft.com/api/saas/subscriptions/<subscriptionId>/activate?api-version=<ApiVersion>
The parameter names are as is in the URL, whereas the table refers to <subscriptionId> and <ApiVersion> which refer to the value of those parameters.

[2019-08-08 18:36] djpmsft commented on #36750
Hi Luis,

Can you give some context on how you are trying to publish your factory?

Are any of those references ( ''paris_billings_sql' , 'washington_vehicles_api', 'paris_tripevents_blob') names of things you created?

Are you deploying through the ADF UX, or some other method such as Azure DevOps?

Are you getting the ARM template from the Git Repo, or are you getting it from the button in the U

[2019-08-08 18:39] tony-921 commented on #36359
Thank you

[2019-08-08 18:40] TravisCragg-MSFT commented on #30065
@msandbu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 18:40] #30065 closed

[2019-08-08 18:42] dkkapur commented on #36725
@zak-nye we're in the process of evolving Mesh's app model based on the feedback we've gotten in the preview so far (see https://youtu.be/sU52ULgX7YU?t=2848 for more info on this). Once this is publicly available, quotas will be lifted over time. I don't have a date exactly for this, but at that point, we should definitely be able to support 60+ core deployments.

[2019-08-08 18:42] cynthn commented on #8107
@asinn826 The section in the doc is specifically about using custom link images not Marketplace images. The section is here: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-linux#custom-linux-images. It just needs to be updated with instructions on how to activate serieal-tty in newer versions of Ubuntu (>16.04). If you need help, let me know and I can pull i

[2019-08-08 18:47] cynthn commented on #8549
@mohmdnofal This topic has been updated a few times since you originally filed this issue - has the issue been addressed?

I'm also going to reassign this to @roygara, who can close it if this is one of the changes he already made.

#reassign @roygara

[2019-08-08 18:49] rayne-wiselman commented on #36741
Thanks for your feedback. The current article is up-to-date. We'll keep it up-to-date it with new releases as they happen.

#please-close

[2019-08-08 18:51] mjcarrabine commented on #36343
Thank you @SaurabhSharma-MSFT.

Any idea when we can expect to documentation to be updated?

[2019-08-08 18:52] AjayKumar-MSFT commented on #35061
@rkarlin, Requesting your comments on this issue.

[2019-08-08 18:53] fahfangoolah commented on #35343
Need an update on this!
Have a premier case open, but not sure if they will be able to answer.

[2019-08-08 18:54] cynthn commented on #9261
@markmassad Thank you for your feedback! I'm circling back on some issues that were opened, where the article has been updated multiple times, but the issues were never closed. I think the issues have been addressed in this article, and there is also this article about the diagnostics extension: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux

I'll close this f

[2019-08-08 18:54] #9261 closed

[2019-08-08 18:56] vladvino commented on #36691
Thanks @nurulhuda859. Fix is in https://github.com/MicrosoftDocs/azure-docs-pr/pull/84782. #please-close

[2019-08-08 18:56] #36691 closed

[2019-08-08 19:11] cynthn commented on #9366
@markmassad Thank you for the feedback! Sorry it has taken so long for a response. The template example shows using the custom script extension to install a sample from GitHub. It is a common way of using the custom script extension.

The article has been updated since this issue was filed and there is a new owner. I'm going to close this for now, but feel free to reopen this or create a new issue

[2019-08-08 19:11] #9366 closed

[2019-08-08 19:11] BWeineff commented on #28366
Still no response?

[2019-08-08 19:12] BWeineff commented on #17112
Still no response?

[2019-08-08 19:19] cynthn commented on #10915
@buzzfrog Thank you for the feedback! I've added a line into the article that you should replace the resource group name, vm name and script to run with your own information, to make it clearer that they are only examples. Changes should publish later today.

I'm going to close this issue now. Please feel free to reopen it or another issue if you have more feedback. Thanks again!

#please-close

[2019-08-08 19:19] #10915 closed

[2019-08-08 19:19] ethzeus commented on #36411
I was actually trying it this way and now I can't see the tokens on metamask @Alberto-Vega-MSFT  @sergaz-msft. Here is what I did:

- I created a second node so now I have 'nodeA' and 'node B'.
- Deployed the contract from nodeA to nodeA using truffle migrate --network nodeA.

[code]
- Minted tokens from nodeA privateFor nodeA using truffle exec mint.js --network nodeA

[code]
userAddress is the m

[2019-08-08 19:26] eflamm opened #36758 "Can't create users @contoso.com"
Because the contoso domain is already in use (by Microsoft), users will have to configure a different domain for their AAD. For example, I was able to create contosoef as my subdomain; however, this means the associated domain is contosoef.onmicrosoft.com, so any users created in the AD will have to have user names @contosoef.microsoft.com. This is not documented in this Quickstart at all - you ne

[2019-08-08 19:28] iainfoulds commented on #34051
Thanks for the feedback, @ghonyme, and sorry for the delay in responding.

After discussing this issue with the product group, at this time there isn't a defined set of outbound rules that you can safely restrict access to, as there are a number of external components and services that Azure AD DS may need to communicate with. If this behavior changes, we'll provide updated documentation according

[2019-08-08 19:28] #34051 closed

[2019-08-08 19:28] Alberto-Vega-MSFT commented on #36499
@LaiHoangLe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-08 19:30] cynthn commented on #7708
#assign @johnkemnetz

[2019-08-08 19:31] roygara commented on #8549
@mohmdnofal Thanks for reaching out, apologies for the delayed response.

This has already been changed as part of our doc overhauls, so this no longer is an issue. Accordingly, I'm closing this out.

#please-close

[2019-08-08 19:31] #8549 closed

[2019-08-08 19:31] iainfoulds commented on #30423
Sorry you ran into issues, @mikenri, and sorry for the delay in responding.

This behavior has been updated within the product, and we confirmed this morning that if a custom GPO is created, the _AAADC Administrators_ group is granted full control on that GPO. The owner is still listed as the user account that created it, but other members of the _AAADC Administrators_ group can edit or take owner

[2019-08-08 19:31] #30423 closed

[2019-08-08 19:32] crgarcia12 opened #36759 "use a version of the same Kusto query language is confusing"
This is a confusing statement. It is not "a version of the same Kusto language", instead, it is a subset of it since many things are not supported when accessed via App Insights / Log Analytics.
Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87de71ed-a352-cb6d-e644-3174ec8968e3
* Version Independent ID: ed4528e

[2019-08-08 19:34] iainfoulds commented on #30296
After discussion with the product group, this feature is under consideration, and additional votes and comments from others through the UserVoice feedback request will help prioritize engineering work.

Docs will be updated accordingly to reflect any future change in behavior.

For now, #please-close

[2019-08-08 19:34] #30296 closed

[2019-08-08 19:40] iainfoulds commented on #15107
Sorry for the delay here, @mohamed-shehata-m

Information on the virtual network resources created by Azure AD DS, including virtual NICs and load balancer, are now documented - https://docs.microsoft.com/azure/active-directory-domain-services/network-considerations#additional-network-components

@TiloGit The load balancer resource should only be recreated if the Azure platform detects that manual

[2019-08-08 19:40] #15107 closed

[2019-08-08 19:42] iainfoulds commented on #14305
Sorry for the delay here.

As @MarileeTurscak-MSFT previously noted, migrating Azure AD DS is not currently supported. If there is future engineering work to provide this, the docs will be updated accordingly.

For now, #please-close

[2019-08-08 19:42] #14305 closed

[2019-08-08 19:44] cynthn commented on #7460
#re-assign @johnkemnetz @roiyz-msft

[2019-08-08 19:44] cynthn commented on #7460
#re-assign @johnkemnetz

[2019-08-08 19:45] mike-urnun-msft commented on #36330
Hi @shashankkr - The API below returns the topic level keys: https://docs.microsoft.com/en-us/rest/api/servicebus/topics/listkeys

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-08 19:45] #36330 closed

[2019-08-08 19:46] cynthn commented on #7460
#assign @roiyz-msft

[2019-08-08 19:47] cynthn commented on #7549
@reassign @mayanknayar

[2019-08-08 19:49] cynthn commented on #7549
@mayanknayar When the feedback has been addressed, you can close the issue by typing # please - close (just remove the extra spaces).

[2019-08-08 19:51] crgarcia12 commented on #36759
Actually it is pretty clear when you go to the link "Azure Monitor log query language differences". So just ignore my comment :)

[2019-08-08 19:53] crgarcia12 opened #36761 "Python plugins is not supported"
In the section Plugins not supported in Azure Monitor, you should also inlcude this one:
https://docs.microsoft.com/en-us/azure/kusto/query/pythonplugin

Thanks!
Carlos

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6af7f625-3f5f-da9a-d131-2eda3be37871
* Version Independent ID: 39072cda-5a3f-e41b-e287-29fe7cf51b6b
* Co

[2019-08-08 19:54] mayanknayar commented on #7549
@cynthn - I sent you further connection details for low-priority. Please close the thread after discussion with the right owners.

#reassign @cynthn

[2019-08-08 19:54] iainfoulds commented on #22396
Sorry for the delay here.

After discussion with the product group, the recommendation is to use the Azure portal once the Azure AD DS managed domain has been successfully created to create the required NSGs. There's already post-configuration steps to configure DNS for the virtual network and configure password hash sync, so I'll update the doc to let the Azure platform create the NSG rules throu

[2019-08-08 19:56] southpolesteve commented on #36436
@SogoGolf I am still waiting for code review, but here is the PR with a working example. Let me know if I can make anything clearer https://github.com/Azure/azure-cosmos-js/pull/402

[2019-08-08 19:58] cynthn commented on #8837
@ramankumarlive and @roygara Can someone walk through this scriptto see if it is working now or needs to be updated? Thanks!

#assign @roygara

[2019-08-08 20:04] cynthn commented on #7549
#reassign @JagVeerappan

[2019-08-08 20:06] cynthn commented on #9171
@hughobrienjet I think this has been clarified now. I'm going to close this issue. Feel free to reopen this one or create a new one if you have more feedback.

#please-close

[2019-08-08 20:06] #9171 closed

[2019-08-08 20:13] iainfoulds commented on #33476
Is there anything else you encountered here, @avelis26? @MarileeTurscak-MSFT can help facilitate an Azure support request if you aren't seeing your password policies applied at all.

I'll add information to the doc to make it clear that the password policy should apply pretty much right away, depending on group policy refresh, and that your policy changes will only affect users created within the

[2019-08-08 20:15] lgayhardt commented on #35818
@yahorsi The SDK creates the  ApplicationInsights.config file in the project root folder and when complied is copied to the bin folder.

[2019-08-08 20:16] lgayhardt commented on #35818
#please-close

[2019-08-08 20:16] #35818 closed

[2019-08-08 20:19] Alberto-Vega-MSFT commented on #36717
@petermillsacumentive Would you please open an issue with your question on the repository for Edge? https://github.com/Azure/iotedge

[2019-08-08 20:20] yogevdaniel opened #36762 "Client Silent install"
Hi.
is there any way to deploy the vpn setup file remotely to all computers using Intune or any other client management tool ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7be494-b0c4-1e92-829e-119b05aadcb5
* Version Independent ID: e2032468-6c27-a6a6-6194-591ca21a3c55
* Content: [Connect a computer to an Azure vir

[2019-08-08 20:21] alphasteff opened #36763 "Clarify if Subscription and Resource Groups go parallel"
I've tried a few things now, but I can not configure Contributor and Reader both on the subscription, and then configure the same roles for other groups for Resource Group simultaneously in the same subscription. I always get the following error:

Code: "MultipleRegistrationAssignmentsNotAllowed"

Is this possible?
Thanks for helping me and clarify
Stefan

---
#### Document Details

⚠ *Do not edit

[2019-08-08 20:22] Kentcomp commented on #36748
Frank, I am very familiar with the AAD Pricing page; however, it doesn't have a single mention of either risk, event or alerts (Ctrl-F). Simply put, it's useless for this particular use case. Because the company I work for is an LSP we can check with the MSFT licensing desk. Unfortunately, customers (most people who aren't MSFT Partners) wouldn't have a clue and thus risk grossly under or oversubs

[2019-08-08 20:28] #22396 closed

[2019-08-08 20:28] #33476 closed

[2019-08-08 20:33] krokoko opened #36766 "Certificate validation failure"
Hello,

   While following the tutorial, seems to work fine on a VM under Ubuntu 16.04 (x86_64) but not on a Kontron PC under Debian 4.9 (x86_64).

Using the same parameters. on the VM the openssl command for certificate validation works fine, but not on the Kontron. Here is the output of ``` openssl s_client -connect toto:8883 -CAfile ./home/certifs/certs/azure-iot-test-only.root.ca.cert.pem ```

[2019-08-08 20:34] MarkusVi commented on #35343
I have staged an update for this.

#please-close

[2019-08-08 20:34] #35343 closed

[2019-08-08 20:34] opticyclic opened #36767 "What Is The {aad-tenant} And How Do We Get It?"
The validate-jwt example says:
 &lt;openid-config url="https://login.microsoftonline.com/{aad-tenant}/.well-known/openid-configuration" /&gt;

Where do we get the value for {aad-tenant}?

Will the rest of the url be the same for everyone?
What is the "/.well-known/openid-configuration" suffix for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-08 20:44] iainfoulds commented on #35349
@noendscripting After discussing this with the product group, can you provide a little more context as to what issues you're running into that requires specific role assignments? Azure AD DS itself doesn't inherently use and support RBAC on the root resource, and supporting resources that are created such as the virtual NICs, VMs, load balancer, etc. are all managed by the platform as part of the

[2019-08-08 20:45] MarkusVi commented on #34055
I have staged an update for this.

#please-close

[2019-08-08 20:45] #34055 closed

[2019-08-08 20:46] cynthn commented on #10806
#assign @echuvyrov

[2019-08-08 20:46] MarkusVi commented on #34109
This is a dupe of https://github.com/MicrosoftDocs/azure-docs/issues/34055

#please-close

[2019-08-08 20:46] #34109 closed

[2019-08-08 20:52] #17215 closed

[2019-08-08 20:56] JimacoMS3 commented on #32611
#reassign @JimacoMS3

[2019-08-08 20:58] iainfoulds commented on #36629
@MoRMongol If you have purchased an SSL wildcard certificate for your domain, your certificate issuer should allow you to export the cert as a .PFX. You can then import the certificate as noted - https://docs.microsoft.com/azure/active-directory-domain-services/active-directory-ds-admin-guide-configure-secure-ldap-enable-ldaps

The warning on the _*.onmicrosoft.com_ domains is that you can't creat

[2019-08-08 20:58] #36629 closed

[2019-08-08 20:59] JnHs commented on #36763
Hi Stefan,
Once you onboard a subscription, you can't additionally onboard resource groups within that subscription. If you want to grant different levels of access to different resource groups within a subscription, you'll need to do your deployment at the resource group level rather than onboarding the entire subscription.
I hope that helps - let me know if you have further questions!

[2019-08-08 21:05] MarkusVi commented on #34845
I have staged an update for this.

#please-close

[2019-08-08 21:05] #34845 closed

[2019-08-08 21:11] JimacoMS3 commented on #28449
#reassign @JimacoMS3

[2019-08-08 21:12] JimacoMS3 commented on #35519
#reassign @JimacoMS3

[2019-08-08 21:12] sudeepster commented on #36255
Hi @jonmikeli,

Are you re-using Twin object in your code which has desired properties set? This means your patch also has desired properties which will be the same as what you set previously. Check your network call, the PATCH payload will have desired properties along with the new tags. The service will infer that the intent of the request is to patch desired properties as well, hence the versio

[2019-08-08 21:20] MarkusVi commented on #35243
I have staged an update  for this.

#please-close

[2019-08-08 21:20] #35243 closed

[2019-08-08 21:22] Karishma-Tiwari-MSFT commented on #36657
@sochan1 Thanks for sharing the update. Do you have support request open for this? If yes, please share your support request number so that I can track it and will share the resolution here, once it is resolved. Since our support team is helping you out, I will close this issue now.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladl

[2019-08-08 21:22] #36657 closed

[2019-08-08 21:32] kgremban commented on #36389
@rajb865 Could you provide more details about your environment? You said that you're using a Windows 10 VM as your development machine. What platform is it running on? (ie, Azure, Hyper-V, VMWare, etc)

Doing a quick search of the error message you reported, it sounds like you may not have nested virtualization enabled for your VM. On Hyper-V, for example, you should be using a Generation 2 viruta

[2019-08-08 21:34] alphasteff commented on #36763
Thank you!
I would find it very helpful to use subscriptions, e.g. could authorize a "super" admin, and then the Network Admins only on the Network Resource Groups and Storage Admins on the Storage Resource Groups. Could this be placed as a feature request, does that make sense?
Then there is another question. If I create two resource files, as in the example "rgDelegatedResourceManagement.paramet

[2019-08-08 21:35] MarkusVi commented on #35244
I have staged an update for this.

#please-close

[2019-08-08 21:35] #35244 closed

[2019-08-08 21:44] maulik1shah opened #36772 "Clarification needed on saving anchors to the cloud"
I have followed this entire document for creating local and shared anchors, and as I understood, the createAnchorAsync method of CloudSpatialAnchorSession class is responsible for saving the anchors to the Azure cloud.

In the sample Android application, when I tried to save anchors in either 'Basic' or 'Nearby' mode (Button names), my anchors were not being stored on the cloud, while in case of '

[2019-08-08 21:49] JimacoMS3 commented on #31195
#reassign @JimacoMS3

[2019-08-08 21:55] MicrosoftGuyJFlo commented on #36748
As @FrankHu-MSFT mentioned Identity Protection is a P2 feature and as such requires an Azure AD Premium P2 license. If you have confusion about a specific licensing issue then the best bet is to reach out to your licensing partner to get clarification.

[2019-08-08 21:56] MicrosoftGuyJFlo commented on #36748
#please-close

[2019-08-08 21:56] #36748 closed

[2019-08-08 21:56] seantleonard opened #36773 "Issue uploading PFX file into IEF"
The prerequisites explain that I need to upload a PFX into IEF in order to correctly setup an ADFS SAML Provider. However, the Azure Portal will always reject the PFX file password unless the certificate password is encrypted with the TripleDES-SHA1 option in Windows Certificate Store Export utility as opposed to AES256-SHA256. The error is non actionable as it only states the password is incorrec

[2019-08-08 21:57] MicrosoftGuyJFlo commented on #36739
Already in the doc

https://docs.microsoft.com/azure/active-directory/authentication/concept-password-ban-bad#custom-banned-password-list
"Once terms are added to the custom banned password list, they will be combined with the terms in the global banned password list when validating passwords."

[2019-08-08 22:07] JnHs commented on #36763
Hi again -
For the feature request, the best way to submit that so we can track it is here: https://feedback.azure.com/forums/922753-azure-lighthouse
I'm looking into the other question and will get back to you with an answer soon!

[2019-08-08 22:10] v-rasaa opened #36774 "Azure Active Directory Smart lockout PowerShell"
it is possible to retrieve information via PowerShell for cloud user being locked out,  such as on premises has ?

If so please provide  the PowerShell command, I have tried to use
Get-AzureADuser | fl
But it does not show an attribute related to this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-97

[2019-08-08 22:16] JnHs commented on #36647
Hi @JasperCodes - you can delete the registration assignment (delegation) by running 'Remove-AzManagedServicesAssignment' - https://docs.microsoft.com/en-us/powershell/module/az.managedservices/remove-azmanagedservicesassignment?view=azps-2.5.0
A customer can also remove the delegation in the Azure Portal as described at https://docs.microsoft.com/en-us/azure/lighthouse/how-to/view-manage-service-

[2019-08-08 22:20] qianw211 commented on #33296
#please-close docs have been updated!

[2019-08-08 22:20] #33296 closed

[2019-08-08 22:21] #36523 closed

[2019-08-08 22:22] kgremban commented on #36638
@lkoppenol I tried to reproduce your error today, but wasn't able to. Could you provide the exact CLI command that you're using so that we can help you troubleshoot? Also, any time I get any issues in the CLI I always advise people to verify that the CLI and the IoT Extension are both up-to-date because sometimes you get funny errors when using old version.

For reference, I ran this test twice. H

[2019-08-08 22:24] #36725 closed

[2019-08-08 22:26] MicahMcKittrick-MSFT commented on #36687
Thanks for the feedback @KeiroKamioka0000

Generally it is assumed the owner or at least a contributor to the subscription would be doing this commands so we don't call out the requirements here.

You can find them in the RBAC documentation though

https://docs.microsoft.com/en-us/azure/role-based-access-control/overview

At this time we have opted to not update the doc with this info. However you

[2019-08-08 22:26] #36687 closed

[2019-08-08 22:32] mike-urnun-msft commented on #36306
@MWielen There's currently a bug between Designer and Code views where the use of advanced scheduling such as yours wouldn't be preserved when you switch to Designer and save your Logic Apps. As such, we recommend you save your changes in your Code and not switch to the Designer view.

Below works for me for your scenario:
[code]

Since there aren't any changes to be made on this documentation, we

[2019-08-08 22:32] #36306 closed

[2019-08-08 22:34] blouwagie commented on #36739
That is very verbose, deep in the document. One needs that basic  knowledge
up front, for instance with "what licenses you need for each option".
Please career for people who can't read all the details. The initial
paragraphs talk about a lot of details whilst missing that essence. I had
decided I would never use the custom list since it costs more and
microstrategy does a better job with their li

[2019-08-08 22:36] Karishma-Tiwari-MSFT commented on #36614
@EdPrice-MSFT @njray Can either of you please share your insights to help with this customer issue? Thanks. :)

[2019-08-08 22:41] cynthn commented on #10487
#please-close This content has been moved to the archive and is no longer being maintained.

[2019-08-08 22:41] #10487 closed

[2019-08-08 22:41] ajlam commented on #34657
@vsjvs - I was able to successfully repro the issue as well.

[2019-08-08 22:43] v-stadam opened #36775 "Problems running simulator on new Windows install"
On a fresh install of Windows (device or VM), running the "dotnet run &lt;IDScope&gt;" command will return an error that vcruntime140.dll is missing. As currently written, the instructions here will execute the TPM simulator from the azure-iot-samples-csharp\provisioning\Samples\device\TpmSample\bin\Debug\netcoreapp2.1\TpmSimulator folder, which is where the runtime DLL needs to be in order to wor

[2019-08-08 22:49] cynthn commented on #10876
@juancrl Thank you for the feedback! This script covers a different scenario than the one for generalized OS disks. This script is for what we tend to call "specialized" disks that are simply attached to a VM (instead of creating a VM from a generalized image).

I'm going to close this for now, but please feel free to reopen this or create another issue if you have more feedback.

#please-close

[2019-08-08 22:49] #10876 closed

[2019-08-08 22:52] maulik1shah commented on #36772
I believe I had delays in the azure cloud appearance, otherwise I don't see that problem. Sorry for inconvenience.

[2019-08-08 22:53] cynthn commented on #11205
@steveesp Steve, is this something you can help clarify? The section is here: https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-vm-instances.

#assign @stevesp @cynthn

[2019-08-08 22:53] PRMerger19 commented on #11205
stevesp is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-08-08 22:55] ajlam commented on #27734
I've refactored the code samples to use the MariaDB-connector-j driver instead. The changes should be published by tomorrow :)

#please-close

[2019-08-08 22:55] #27734 closed

[2019-08-08 23:00] rezasherafat commented on #36506
@jhosteny, we do have a limit of 10 on the number of concurrent blob URI's issued by the service. See [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#other-limits) for more details.

That said, where do you get this error? On the device-side? On the service-side?

[2019-08-08 23:00] haxu1 opened #36776 "schema missing (empty allOf array) for monitoringService = 'Platform'"
by the way, can users customize the schema to log their own data?

[2019-08-08 23:01] YutongTie-MSFT commented on #36766
@krokoko
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-08 23:04] cynthn commented on #11205
#please-close It looks like the issues reported here have been resolved. Please feel free to reopen this issue with new details or open a new issue. Thank you!

#please-close

[2019-08-08 23:04] #11205 closed

[2019-08-08 23:07] mike-urnun-msft commented on #36767
@opticyclic Thank you for your feedback! We will review and update as appropriate.

[2019-08-08 23:10] YutongTie-MSFT commented on #36776
@haxu1 Hi, Thank you for reaching out. Could you please share more about the product you are referring to?

[2019-08-08 23:13] cynthn commented on #11321
#reassign @sbtron

[2019-08-08 23:13] PRMerger9 commented on #11321
sbtron is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-08-08 23:13] mbordogna opened #36777 "Output IP address for Function Apps, Its not clear if they are if they are only for My App"
Need to know if these outbound ip address are only allocated to my app function and if it is truely safe to use them as firewall rules in a service endpoint

[2019-08-08 23:13] cynthn commented on #11321
#reassign @roiyz-msft

[2019-08-08 23:16] YutongTie-MSFT commented on #36772
@maulik1shah So it's all good now ^^? Are we safe to close?

[2019-08-08 23:16] cynthn commented on #11389
@roygara Can you confirm this with @AnuragMehrotra?

[2019-08-08 23:17] maulik1shah commented on #36772
Yes, please.

[2019-08-08 23:17] #36772 closed

[2019-08-08 23:19] YutongTie-MSFT commented on #36763
@alphasteff
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-08 23:19] #36763 closed

[2019-08-08 23:20] cynthn commented on #12240
@szarkos Can you take a look at the additional feedback and let me know if this has been addressed so we can close the issue?

[2019-08-08 23:25] MarileeTurscak-MSFT commented on #36522
Hi @nishantsny ,

I have filed a bug in the product backlog.

I would also suggest posting this as a feature request to User Voice. https://feedback.azure.com/forums/34192--general-feedback

[2019-08-08 23:25] Alberto-Vega-MSFT commented on #36775
@v-stadam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-08 23:26] Karishma-Tiwari-MSFT commented on #36656
@chiran100 Can you please create a service principal before creating the AKS cluster and share the results?
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#additional-considerations

[2019-08-08 23:28] femsulu commented on #36761
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.
@bwren - is this something we can add to the doc?

[2019-08-08 23:29] mike-urnun-msft commented on #36777
Hi @mbordogna - Thank you for your feedback! Are you referring to the documentation below?
- [IP addresses in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses)

[2019-08-08 23:29] oddbear commented on #36711
@Adam-Smith-MSFT will try. But please fix 'change log' issue on the site (that's a documentation issue important for us).

[2019-08-08 23:30] femsulu commented on #36759
Thanks for the update. Will close this now.

[2019-08-08 23:31] MarileeTurscak-MSFT commented on #36522
I am closing this thread because a work item has been created to fix this bug. I'll update the comments when I have a reply on this work item.

[2019-08-08 23:31] #36522 closed

[2019-08-08 23:32] femsulu commented on #36741
added triage labels

[2019-08-08 23:34] MarileeTurscak-MSFT commented on #36737
I tested the links and it looks like someone has already fixed this. I'm closing this out for now but feel free to tag me in the comments or open a new issue if you are still seeing this problem.

[2019-08-08 23:34] #36737 closed

[2019-08-08 23:35] #36741 closed

[2019-08-08 23:37] cynthn commented on #14697
#reassign @roiyz-msft

[2019-08-08 23:37] MarileeTurscak-MSFT commented on #36758
@eflamm
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 23:37] TravisCragg-MSFT commented on #36762
@yogevdaniel I do not believe we have any official documentation on how to do this using any client management tool. Everything can be done by PowerShell, so anything capable of pushing a PowerShell script can be used to do this remotely.

For the full capabilities of a remote management tool, your best bet is to refer to the tool's documentation. [Intune does support IKEv2 VPN connections](https:

[2019-08-08 23:39] cynthn commented on #14329
@jeetgarg Are you asking about quotas and limits for your own subscription? Or, did you already solve your issue?

[2019-08-08 23:39] cynthn commented on #14329
#reassign @cynthn original issue is solved - waiting for more information on secondary issue

[2019-08-08 23:40] femsulu commented on #36248
@cephalin  - any input please?

[2019-08-08 23:40] MarileeTurscak-MSFT commented on #36774
@v-rasaa
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 23:41] MarileeTurscak-MSFT commented on #36773
@seantleonard
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-08 23:42] milope opened #36779 "APIM gateway IP address changes when switching between Dev/Premium SKUs"
I've experienced seeing the internal/external APIM gateway/portal IP change when upgrading/downgrading from/to Developer and Premium SKUs, may need to include them in the "Is the API Management gateway IP address constant? Can I use it in firewall rules?" question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d

[2019-08-08 23:45] cynthn commented on #14313
@jeffmartinxyz Thank you for the feedback! I've made a change to the file toclarify how to use the Id instead of pub\offer\sku.

#please-close https://github.com/MicrosoftDocs/azure-docs-pr/pull/84857

[2019-08-08 23:45] #14313 closed

[2019-08-08 23:46] Kentcomp commented on #36748
Okay I give up. The advice I’m receiving doesn’t actually answer my question. I work for a company who is one of Microsoft’s largest worldwide Licensing Solution Partners. I know Azure Active Directory Identity Protection is an Azure AD Premium P2 feature.  I’m not asking about Identity Protection.  As is clearly stated in my initial post, I’m interested in knowing about risk alert events and whet

[2019-08-08 23:47] cynthn commented on #14228
@jeffwmiles I'm going to close this issue now. Feel free to reopen this issue if the updated docs don't answer your original question or open a new issue if you have additional feedback. Thanks again!

#please-close

[2019-08-08 23:47] #14228 closed

[2019-08-08 23:48] cynthn commented on #13996
@Tempest1000 Thank you for the feedback. It looks like this issue has been answered, so I am going to close it now. If the answer provided is not enough or you have more feedback, please reopen this issue or create a new one. Thanks again!

#please-close

[2019-08-08 23:48] #13996 closed

[2019-08-08 23:51] xieb0001 commented on #36528
Yup, that helps. Wish it was clearly said in the documentation.

On Thu, Aug 8, 2019, 5:34 AM Pramod Valavala <notifications@github.com>
wrote:

[2019-08-08 23:53] cynthn commented on #13906
#reassign @steveesp

[2019-08-08 23:53] femsulu commented on #36337
AFAIK, This is meant to compliment not replace. hope this answers your question. As the feature is still in preview state, there is a potential for this to change down the road.

[2019-08-08 23:53] #36337 closed

[2019-08-08 23:53] ajlam commented on #35978
The samples have been tested with Python 3.7. Doc changes should be published tomorrow.

[2019-08-08 23:54] #35978 closed

[2019-08-08 23:54] cynthn commented on #13906
@steveesp and  adding @laurenhughes in case we need to add something to the existing VM size docs

[2019-08-08 23:55] cynthn commented on #13884
#please-close

[2019-08-08 23:55] #13884 closed

[2019-08-08 23:56] cynthn commented on #13518
#reassign @roygara looks like you are the listed author now?

[2019-08-09 00:00] mike-urnun-msft commented on #36125
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-09 00:00] #36125 closed

[2019-08-09 00:06] #36713 closed

[2019-08-09 00:09] Grace-MacJones-MSFT commented on #35960
@toddplu I have been told from the engineer team that there are currently no plans for tagged access restrictions. However, if you like to have this feature considered for future implementations you can leave your product feedback on [Uservoice](https://feedback.azure.com/forums/169385-web-apps). All of the feedback you share in that forums will be monitored and reviewed by the Microsoft engineeri

[2019-08-09 00:09] #35960 closed

[2019-08-09 00:12] femsulu commented on #36340
@bwren any input on the above question?

[2019-08-09 00:13] cynthn commented on #13436
@git001 Thank you for the feedback! The author has made multiple updates to the doc since you provided your feedback. I think the issue has been addressed, so I am going to close this issue now.

Feel free to reopen this or open another issue if you still have concerns. Thanks again!

#please-close

[2019-08-09 00:13] #13436 closed

[2019-08-09 00:15] cynthn commented on #13165
#reassign @spelluru Can you check to see if this issue was addressed? Thanks!

[2019-08-09 00:15] Grace-MacJones-MSFT commented on #36249
thanks for the additional information @juanii!  We were able to confirm what you're seeing. We are  reaching out to the engineering team to see if this expected behavior or not.

[2019-08-09 00:17] FrankHu-MSFT commented on #36708
@pedrr Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-09 00:19] KranthiPakala-MSFT commented on #36636
@avi2183 We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

If you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data F

[2019-08-09 00:19] #36636 closed

[2019-08-09 00:22] femsulu commented on #36418
The reader role only gives view permissions and wouldn't give the role holder access to download and access blob. AFAIK, owner role provides access to all service management functions therefore anyone with the owner role should be able to download blob.

reference: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#rbac-role

[2019-08-09 00:22] #36418 closed

[2019-08-09 00:24] MicrosoftGuyJFlo commented on #36739
Thanks for the feedback I will see if I can make it any clearer in this article.

It is in the second sentence of the on-premises article below? Does that make more sense?
https://docs.microsoft.com/azure/active-directory/authentication/concept-password-ban-bad-on-premises

[2019-08-09 00:28] MarileeTurscak-MSFT commented on #36758
Thanks, @eflamm !

I created a pull request to add that note to the "Create new users" section.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/84865

CC: @msaburnley

[2019-08-09 00:28] #36758 closed

[2019-08-09 00:32] xieb0001 commented on #35605
I follow this tutorial exactly, with all the version exactly the same. Still facing error. error at create the connection string:
com.microsoft.azure.eventhubs.ConnectionStringBuilder: method <init>()V not found

[2019-08-09 00:32] vladvino commented on #36779
@solankisamir please comment.

[2019-08-09 00:34] whataride opened #36780 "What is the latency of Azure Function triggering with blob file change?"
What is the expected latency between when a blob file is added and when an Azure Function is triggered (the function is configured to be triggered by the file change)? In our case, the latency is around 7~8 seconds. We are trying to minimize the latency of a realtime processing pipeline where the trigger is used, and would like to know if this is something we can optimize.

---
#### Document Detai

[2019-08-09 00:38] nickbeagley2 opened #36781 "Bad link due to tmsl site move"
In "Parameters" section of  "POST / refresh" section the two links are wrong because pages have moved. Correct link 'refresh' is https://docs.microsoft.com/en-us/bi-reference/tmsl/refresh-command-tmsl and
'sequence' is https://docs.microsoft.com/en-us/bi-reference/tmsl/sequence-command-tmsl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-09 00:38] #36715 closed

[2019-08-09 00:46] solankisamir commented on #36779
@milope agree. The IP Address will change when switching between Internal and External VNET.
Switching from Developer to Premium SKU, when the VNET type does not change, will not change IP.

[2019-08-09 00:48] KranthiPakala-MSFT commented on #36781
@nickbeagley2 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-09 00:49] martincoetzer commented on #35647
I'm changing the wording to say "It is recommended"

[2019-08-09 00:50] KranthiPakala-MSFT commented on #35605
@lenadroid Could you please have a look at the reply from @xieb0001 ? - Thanks!

[2019-08-09 00:50] martincoetzer commented on #35647
#please-close

[2019-08-09 00:50] #35647 closed

[2019-08-09 01:07] milope commented on #36779
Issue is the document doesn't explicitly call out SKU change and we're already seen a service switched both ways Dev -> Premium and Premium -> Dev and both their internal endpoint IP changed.

[2019-08-09 01:19] RyanHill-MSFT commented on #36409
Hi @rakeshjjain, just wanted to follow up with you to see if the powershell script was helpful. Let us know.

[2019-08-09 01:39] jeevansd commented on #36627
@v-viinde and @v-nagta Please fix the typo here!
CC: @chetansriv

[2019-08-09 02:06] dr-ivan opened #36782 "99.99% uptime SLA not referenced in SLA pages"
This SLA is only referenced under the Platform as a Service section, which is misleading due to several PaaS services.
It should be expected to see clarity in the pages https://azure.microsoft.com/en-us/support/legal/sla/ specific to SQL Server Managed Instance as opposed to SQL Server Databases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-09 02:26] blouwagie commented on #36739
Yes that sentence seems to make sense. This one talks about on-premise, but
I think you're asking if a similar concept could work? I'd say yes.
Thx

Bart Louwagie
Holmes, NY
bart@louwagie.com
845 202 0239 (google voice)

http://louwagie.com
https://www.linkedin.com/in/bart-louwagie/

(when conference call is needed)

On Thu, Aug 8, 2019, 20:24 John Flores <notifications@github.com> wrote:

[2019-08-09 02:41] KalyanChanumolu-MSFT commented on #36685
Thank you @jruales
I have made changes to the document to mention this.
The PR is merged and the edit should go live in the next 24 hours.

We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-09 02:41] #36685 closed

[2019-08-09 03:10] AlexFiala opened #36783 "Are there known issues with cloning pipelines?"
I've tested cloning across a few different databases, all running the same pipeline activities, but with minor changes to the data sources and data sinks of a copy activity.  I've found intermittent and inconsistent errors when running these cloned pipelines, and the only way I was able to fix this was to create entirely new (not cloned) data sinks and/or entirely recreate pipelines.

---
#### Doc

[2019-08-09 03:19] Minewiskan commented on #36781
#in-progress

[2019-08-09 03:20] Alberto-Vega-MSFT commented on #14309
jakubsvobodacz  you are looking for settings.json this is for VS Code settings and you can find it at
File > Preferences > Settings

[2019-08-09 03:23] Alberto-Vega-MSFT commented on #36500
@Shreyasnie Since we haven't heard back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-09 03:25] smadhukar2000 commented on #7701
Thanks provided solution did work.

Please close the thread.

Thanks,
Subhash

On Fri, Aug 9, 2019 at 4:02 AM Tom FitzMacken <notifications@github.com>
wrote:

[2019-08-09 03:54] gbagate commented on #34648
Hi Shawn,
Thank you for the additional information your scenario as you are using Windows server 2019.
Indeed, the documentation here was tested and confirmed on Windows server 2016. All the steps are still valid under that version and below.

My investigation found out this is the default design in this recent Windows Server 2019 Build 17733 and up.
So what you are experiencing is not related to

[2019-08-09 04:20] StingyJack opened #36784 "Why is there a section for accessing environment variables?"
.net has always used the system.configuration namespace for configuration file values, and `System.Environment.GetEnvironmentVariable(s)` for getting environment variables. App Settings are not environment variables, and its been exceedingly rare that a .net program has ever really employed EnvVar directly. Its usually through something like Path.GetTempSomething, but that still makes it not a con

[2019-08-09 04:27] hung-doan commented on #35453
thanks @MartinJaffer-MSFT for the clarification. It makes sense to me, you can close this item if you want to.

[2019-08-09 04:29] KrishnaG-MSFT commented on #36478
Assigning @bobbytreed for visibility and document enhancement considerations.

[2019-08-09 04:31] KetanChawda-MSFT commented on #36707
@ToMakeSense This should have been fix now. Can you please verify and confirm?

[2019-08-09 04:32] KetanChawda-MSFT commented on #36550
@dvherk Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-09 04:32] #36550 closed

[2019-08-09 04:38] VDMT commented on #36690
@ChiragMishra-MSFT found the solution to this: under "Settings" in the ADF Web Activity, under "Headers" I had to change it from "content-type" to "Content-Type" (i.e case sensitive also no spaces after) - I would request this be changed to avoid future frustration - **as suggested in this link, HTTP headers are case-insensitive**. [https://stackoverflow.com/questions/5258977/are-http-headers-case

[2019-08-09 04:38] SwathiDhanwada-MSFT commented on #36437
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion

[2019-08-09 04:38] #36437 closed

[2019-08-09 04:42] KalyanChanumolu-MSFT commented on #36714
Thank you @ninarn

@cdye23 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-09 04:42] #36714 closed

[2019-08-09 05:02] dancs85 opened #36785 "Blueprint permissions not enough"
I've created a custom role with the mentioned BP permissions, and assigned it to myself at the correct Management Group level.

If I try to create a Blueprint, with only the access of the custom role, via PowerShell or Portal I get the error:
"The client 'username@contoso.com' with object id 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx' does not have authorization to perform action 'Microsoft.Blueprint/

[2019-08-09 05:25] PanClifton opened #36786 "[Question] Does IoT Hub diagnostics sends events in order?"
Hello,

I have set up diagnostics on my IoT Hub to send connection status to Event Hub.
Could you tell me if diagnostics are sent in order? I could not find that information in documentation.

Kind regards,
Bartek

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 975ddab9-3358-57c8-b148-ea016aa11dc5
* Version Independent

[2019-08-09 05:29] DCtheGeek commented on #36785
#assign:DCtheGeek

[2019-08-09 05:30] DCtheGeek commented on #36785
@dancs85 I’ll look into this with the team. Thanks for the feedback!

@MicrosoftDocs/Azure-cxp-triage Please label ‘doc-bug’. #in-progress

[2019-08-09 05:31] ToMakeSense commented on #36707
@KetanChawda-MSFT fixed, thanks!

[2019-08-09 05:32] ChiragMishra-MSFT commented on #36783
@AlexFiala Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-09 05:38] SumanthMarigowda-MSFT commented on #36273
@MoRMongol If still looking for any specific feature. You may leave your feedback [here](https://feedback.azure.com/forums/217298-storage). All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2019-08-09 05:38] #36273 closed

[2019-08-09 05:38] ChanceVegas commented on #6105
I am experiencing a similar issue.  My domain administrator account authenticates without issue but, my AD user account gets an 'Authentication Failed' errors.  Any other AD user gets the same error.  I unfortunately do not have an sssd_<DOMAIN>.log or, any useful logs for that matter.  I've been scratching my head at this one for the the better part of four days.

[2019-08-09 05:46] yanancai commented on #36633
@hung-doan USqlScriptTestRunner references LocalRunHelper and provides user-friendly interfaces for testing, it also consumes U-SQL project build result, prepares local database environment, etc.. LocalRunHelper is the fundamental tool for local run, it provides more flexibility, but you need to set up the environment and consume those commands by yourselves.

[2019-08-09 05:54] ManojReddy-MSFT commented on #36540
@Zhang-lujia We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, Please tag me in the comments and I will gladly continue the conversation.

[2019-08-09 05:54] #36540 closed

[2019-08-09 05:59] KetanChawda-MSFT commented on #36780
@whataride Thank you for your posting your question! If your function app is on the Consumption plan, there can be up to a 10-minute delay in processing new blobs if a function app has gone idle. To avoid this latency, you can switch to an App Service plan with Always On enabled. You can also use an [Event Grid trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-even

[2019-08-09 06:01] ToMakeSense commented on #36707
I found another small issue regarding integation account on Azure portal.

I was trying "Upgrade Pricing Tier" from the free tier to high tier, it failed. because an Azure policy assignment existed, it only allowed creating free tier integration account. but interface disable the "Upgrade Pricing Tier" button after I clicked it two times, it backed to the initial state after force refreshing the p

[2019-08-09 06:01] KrishnaG-MSFT commented on #36785
@DCtheGeek Thanks for the quick response. Added labels 'doc-bug' and 'in-progress'.

[2019-08-09 06:05] KetanChawda-MSFT commented on #36707
@ToMakeSense Can you please open a new issue regarding this one as this will require another set of troubleshooting. In the mean time I will check the issue at my side.

[2019-08-09 06:05] #36707 closed

[2019-08-09 06:10] KetanChawda-MSFT commented on #36779
@solankisamir Please share your thoughts here.

[2019-08-09 06:14] AJAnujsharma opened #36787 "Is there any limitations to use a common dataset in multiple pipelines?"
If i have 100 pipelines and i'm sharing a common dataset in these 100 pipelines will there be any **concurrency/performances gaps** ?

Any other issues if i use same dataset with same linked service in 100 difference pipelines which may or may not run at a same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57

[2019-08-09 06:17] PramodValavala-MSFT commented on #36528
@xieb0001 Definitely! The doc doesn't talk about this for the .NET Standard SDK yet and would be viable to add that information.

We are assigning this issue to the content author for further review and to update the document as required.

[2019-08-09 06:23] AjayKumar-MSFT commented on #36688
@MonideepDe, The document now reflects the changes, we will now close this issue out. Thanks again for your feedback.

[2019-08-09 06:23] #36688 closed

[2019-08-09 06:24] ToMakeSense opened #36788 "Issue regarding upgrade integration account instance in Azure portal"
I found another small issue regarding integation account on Azure portal.

I was trying "Upgrade Pricing Tier" from the free tier to high tier, it failed. because an Azure policy assignment existed, only creating free tier integration account is allowed. but interface disable the "Upgrade Pricing Tier" button after I clicked it two times, it backed to the initial state after force refreshing the p

[2019-08-09 06:26] ToMakeSense commented on #36707
@KetanChawda-MSFT the new issue #36788

[2019-08-09 06:26] dcbrown16 commented on #36547
@AjayKumar-MSFT thanks for checking.
I don't think my feedback is actually for the other document as you suggested. I want to know more details about how to use an App Service Domain with Traffic Manager, but this doc that has those procedures seems to refer to the wrong place in the other doc. Perhaps the correct step was "the final step" at the time this doc was written, but it changed after tha

[2019-08-09 06:44] AjayKumar-MSFT commented on #22774
vabgujral, the current 'Limitations' are already mentioned in the same [document](https://docs.microsoft.com/azure/app-service/containers/app-service-linux-intro#limitations).

The Azure portal shows only features that currently work for Web App for Containers. As we enable more features, they will become visible on the portal.
App Service on Linux is only supported with Free, Basic, Standard, and

[2019-08-09 06:44] KetanChawda-MSFT commented on #36788
@ToMakeSense Thank you posting your question as new thread. We will review and provide an update as appropriate.

[2019-08-09 06:46] neeleshray-msft commented on #36782
@dr-ivan Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-09 06:47] dcbrown16 commented on #36547
For that matter, it seems that "skip following steps" is only referring to "Add a DNS record for your custom domain" section, so that is confusing as well (you still do the "Enable Traffic Manager" part of the doc).
Where should we go in the custom domain tutorial to learn how to set the domain on Traffic Manager? Maybe this link is the best one?
https://docs.microsoft.com/en-us/azure/app-service/

[2019-08-09 06:48] neeleshray-msft commented on #36784
@StingyJack Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-09 06:49] neeleshray-msft commented on #36786
@PanClifton Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-09 06:51] KetanChawda-MSFT commented on #36788
@ToMakeSense This is expected as once you select the Standard tier there will not be any further sku to upgrade the tier hence the `Upgrade Pricing Tier` button will be disabled. since your account policy is not allowing you to upgrade the sku and it is again enabled for you.

[2019-08-09 06:55] ChiragMishra-MSFT commented on #36690
@abnarain Because of a typo, you got tagged. Kindly disregard. I have updated the doc to make sure you won't be tagged in the future.

[2019-08-09 06:55] Girishvtm commented on #35547
@ManojReddy-MSFT,
Sorry for the delayed response.
 Did you tried in Azure AD? I received the below error when I tried in Azure AD

Get-AzureADUser : Error occurred while executing GetUsers
 Code: Request_UnsupportedQuery
 Message: Too many child clauses specified in search filter expression containing 'OR' operators: 11. Max allowed: 10.
 RequestId: b2f848ee-0994-4ac9-89f5-d69f2e937488
 DateTimeSt

[2019-08-09 06:57] ChiragMishra-MSFT commented on #36690
@VDMT Thanks for sharing your findings. We will review and update the doc as appropriate.
I will now proceed to close this thread. Please feel free to still comment and tag me.

[2019-08-09 06:57] #36690 closed

[2019-08-09 06:58] jakubsvobodacz commented on #14309
I think you misunderstood my comment regarding step 5. I cannot just click the ... to get all the settings in JSON as shown here in this manual. the option does not show up until I search for something..

[2019-08-09 06:59] mike-urnun-msft commented on #36381
Hi @ahmadkaispe - Since this scenario is outside the scope of this documentation, we invite you to open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) for this question. Once you've done so, please tag me here with the URL of your thread so I can be notified and make sure your thread gets an answer.

We will now proceed to close this thread. If

[2019-08-09 06:59] #36381 closed

[2019-08-09 07:00] ChiragMishra-MSFT commented on #36783
@AlexFiala There are no known issues with cloning pipelines. Can you please share more details of what errors you get when you run the cloned pipelines? That would help us narrow down to the exact issue.

[2019-08-09 07:20] ToMakeSense commented on #36788
@KetanChawda-MSFT I could guess the logic of Azure portal operation, but, as far as I know, `the state of the button should be set after the result of the upgrating transaction` makes much sense. force refresh is just a workaround to get the right state.

you should not update the status of button/link in front-end immediately (of course, you could disable it at once to avoid misoperation caused b

[2019-08-09 07:33] MoRMongol commented on #36273
@SumanthMarigowda-MSFT thanks for your proactive response. However, I'm sorry I didn't quite understand it. I'll show what I mean by a screenshot. File share service already has a nice and easy settings to set permission on a shared folder, but when you set "read" permission people who have the link could read, write, and delete as if they were given all those permissions. I suppose they meant to

[2019-08-09 07:38] XamarinTounsi opened #36789 "Failure to connnect to azure active directory"
Hello support,

Application legacy is no longer available, i can't connect to azure ad via my mobile client
when i sign in using UWP platform, i had error message "user cancelled authentication. on an android device this could be due to lack of capabilities, such as custom tabs....." . before this update, the connection using Azure AD work fine ?

I deleted my native application and i floowed the

[2019-08-09 07:45] Bradrajkumar opened #36790 "speech recognition in webchat v3"
i have just started working with webchat V3 and i want functionality for speech service.
custom functionality is mentioned below :-

1. how to increase the **pause time** while speaking. ex:- **How** (---- wait for 1second ----) **are** (----- wait for 1 second) ---- **you** (if i wait for less than 1second it is sending the data whatever i said).
2. after listening this "how are you" i want to us

[2019-08-09 08:19] MortenBroerup commented on #36713
I consider this a bug, the same way you would consider it a bug if X, Y and Z were not allowed in cloud originating user passwords, but were allowed in DirSync originating user accounts.

Imagine explaining to your customers and end users that the letters X, Y and Z are not allowed in passwords due to some technical reasons they cannot understand.

I know that fixing this requires Unicode support,

[2019-08-09 08:29] eugenpodaru opened #36792 "The 'script' parameter in the data lake analytics activity"
Up until yesterday it was possible to specify an inline u-sql script using the script parameter of the activity. This is very handy when you just want to call u-sql stored procedures, since it removes the burden of deploying these simple scripts. Today I tried to run the same pipeline, and this does not work anymore. When did this change and when was this announced? Why would the team remove this

[2019-08-09 08:38] vhe1 opened #36793 "Please provide a link to the part of the documentation that explains the syntax"
Yes, it's json. But there should be some place where I can read up on what the keywords are, what they mean and so on.
For instance, the keyword "automatic" shows up several times in the examples but nowhere in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e-6816-0b2219a1f37b
* Version Indep

[2019-08-09 08:39] SogoGolf commented on #36436
Hi @southpolesteve many thanks. Shall get back to you shortly

[2019-08-09 08:39] ChiragMishra-MSFT commented on #36792
@eugenpodaru Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-09 08:40] ChiragMishra-MSFT commented on #36792
@nabhishek Can you please look into this one ?

[2019-08-09 08:48] PanClifton commented on #36786
@neeleshray-msft thank you, i will be waiting for feedback form you

[2019-08-09 09:07] RohitMungi-MSFT commented on #36790
@Bradrajkumar Could you please provide more information regarding the documentation link that you are referring to against which the issue can be mapped?
Please note that Azure docs is used for issues related to documentation and for issues related to functionality or code MSDN/stackoverflow forums might be the right place to post the same as the right audience would help in answering the question

[2019-08-09 09:18] git001 opened #36794 "oadm deprecated"
As mentioned in #13436 please replace all `oadm` with `oc adm` .

It looks like that this is the last occurrence of the deprecated command.

https://github.com/MicrosoftDocs/azure-docs/search?q=oadm&unscoped_q=oadm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent

[2019-08-09 09:28] jonmikeli commented on #36255
Hi @sudeepster ,

Thank you for your message.
Very good point. I did not think about that. I confirm that I reused the Twin object in my last tests (what I did not in my first tests). This explains why I had the feeling of having missed something.

I have just double checked; using a new twin object for updating a tag does not raise any Desired Property Change notification.

Regarding the portal,

[2019-08-09 09:28] #36255 closed

[2019-08-09 09:30] zak-nye commented on #36644
@SamaraSoucy-MSFT In the case of the ASP.NET sample you may be right. But for the .NET Console sample I have it running correctly using only Microsoft.Extensions.Configuration.AzureAppConfiguration and in fact "Go to definition" in Visual Studio takes you to the package I mention -

[code]

This will obviously still work by referencing Microsoft.Azure.AppConfiguration.AspNetCore because it in turn

[2019-08-09 09:39] Bradrajkumar commented on #36790
@RohitMungi-MSFT  these are the custom functionality i want  and i don't know how to achieve this from the client side.

[2019-08-09 09:46] XamarinTounsi commented on #36789
after many search, i found the problem, Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException, i think that this expetion due of the upgrading of azure because application legacy is not available and i can't create native application :/

[2019-08-09 09:50] SnehaAgrawal-MSFT commented on #36649
@hsubramaniam Thanks for the feedback! As it mentioned in the doc that IP Restrictions allow you to define a list of IP addresses that are allowed to access your app. The allow list can include individual IP addresses or a range of IP addresses defined by a subnet mask. When a request to the app is generated from a client, the IP address is evaluated against the allow list. If the IP address is no

[2019-08-09 09:54] SadiqhAhmed-MSFT commented on #36544
@averkinderen Can you help clarifying your question?

[2019-08-09 09:58] loup73 opened #36796 "API-s my org uses"
In point no. 5. I didn't find Azure Smart Space Service in the list, however there is Azure Digital Twins that has the same effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b8d974-13d8-7d18-7c6c-c191f15680e9
* Version Independent ID: da08a3d8-feb4-ef8f-63c0-5c7e488d20bc
* Content: [Tutorial: Deploy Azure Digita

[2019-08-09 10:00] Robab02 commented on #35175
Can the authorization be handled from here?

[2019-08-09 10:13] KalyanChanumolu-MSFT commented on #36782
@bonova Could you please elaborate your concern.

The SLA details section on the [page ](https://azure.microsoft.com/en-us/support/legal/sla/sql-database/v1_4/)clearly calls out SQL Managed instance as well.
![image](https://user-images.githubusercontent.com/8835012/62772060-34904980-babc-11e9-9fd5-6f6ea402d940.png)

[2019-08-09 10:14] KalyanChanumolu-MSFT commented on #36689
@jagzz We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-09 10:14] #36689 closed

[2019-08-09 10:21] Charlie-safened opened #36797 "How do group owners manage their groups in AAD?"
How do group owners manage their groups in AAD? I can't find an information sited in this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff65761293a
* Version Independent ID: 35b07132-7d8a-2c29-3988-54a2ae8fcc25
* Content: [Set up self-service group management - Azure Active Directory](

[2019-08-09 10:29] litvinolek opened #36798 "Availability of publication during update"
Hi!
All steps required to update offer take some time. It can be few hours or days.

Please let me know if the old offer is available during the update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4e0b1c-aa57-599d-8807-34ecc81b836d
* Version Independent ID: 8143e10c-7cf2-73bf-325e-d6fb68b72e58
* Content: [Update a

[2019-08-09 10:44] LaiHoangLe commented on #36499
I can not run the file Send CloudToDeviceMesssage.py eventhough i followed all steps in the tutorial.
It raises the error "File:C:\Release\iot-sdks-internals\release\python\automation\aziotsdk_pytools\src\c\uamqp\src\saslclientio.c Func:on_sasl_frame_received_callback Line:909 SASL handshake failed with code 02"
Can you review it for me, thanks

[2019-08-09 10:47] awarberg commented on #36324
I just wanted to follow up as I was able to resolve the issue by consolidating the triggers from multiple projects into a single project and likewise consolidate service registration in a single FunctionsStartup class.

It seems like Azure Functions will, in the presence of multiple FunctionsStartup classes, pick one of them arbitrarily.

As as side-note I have also worked on convention-based serv

[2019-08-09 10:49] jeevansd commented on #35175
@Robab02 I dont think you can do the authorization with this app.

[2019-08-09 10:53] hf-kklein opened #36799 "Add comment on when InvalidOperationException is thrown"
I visited this site because it was referenced in an exception message:

&gt; "Multithreaded execution was detected. This can happen if the orchestrator function code awaits on a task that was not created by a DurableOrchestrationContext method. More details can be found in this article https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-checkpointing-and-replay#orchestrator-co

[2019-08-09 10:58] KrishnaG-MSFT commented on #36794
@git001 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-09 11:00] rmillman opened #36800 "Diagnostic Log Access"
In this and I'm sure other tutorials, you demonstrate how to configure the storage account and diagnostics.  I don't see a way to access the diagnostics and access log.  A link to an appropriate article would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4546e1f-9088-42ae-384d-df5237aa24e5
* Version Independent

[2019-08-09 11:07] ChiragMishra-MSFT commented on #36787
@AJAnujsharma Could you please provide more information regarding the documentation link that you are referring to against which the issue can be mapped?

Please note that Azure docs is used for issues related to documentation and for issues related to functionality or code MSDN/stackoverflow forums might be the right place to post the same as the right audience would help in answering the questio

[2019-08-09 11:08] PramodValavala-MSFT commented on #36692
@smartczh Just following up here... Hope my previous comment clears things up.

[2019-08-09 11:15] jhosteny commented on #36506
@rezasherafat I get this on the client side, using the python SDK.

I understand the concurrency limit. The code we have actually executes the uploads serially.

The issue seems to be that for a certain length blob name, the underlying blob upload completes, but the response from the client SDK call is a 400, and the upload is not marked as finished.

To put this another way - if I let my client l

[2019-08-09 11:20] AjayKumar-MSFT commented on #36640
@Tainum, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-09 11:20] #36640 closed

[2019-08-09 11:26] bhavika72 commented on #19426
I am facing the same issue.

Invitation redemption failed
AADB2B_0001 : We cannot create a self-service Azure AD account for you because the directory is federated. Tenant's admin must create an account for you.

Is there any solution available?

[2019-08-09 11:28] chiners68 opened #36801 "Group Clain does not send sAMAccountName but Group ID"
Hi, have setup a number of claims with a group claim. I have set to sAMAccountName but the SAML response only displays the Group ID not the sAMAccountName.
This was an issue on the mi  AAD connect version, we upgraded just in case it was fixed in the latest version but its still an issue. I have had to get the Software vendors to add Group ID's into their cloud app over Group Names.

this appears

[2019-08-09 11:29] AshokPeddakotla-MSFT commented on #36786
@PanClifton Please help with the link of document on which above document feedback request is created.

[2019-08-09 11:35] bobbytreed commented on #34978
We do not currently. I apologize for the inconvenience.  We are working on a solution that will prevent the user from needing to update new Automation accounts off of AzureRM.

#please-close

[2019-08-09 11:35] #34978 closed

[2019-08-09 11:36] bobbytreed commented on #36366
I have notified the engineering team to update the instructions in the script.  I will close this when it is complete.

[2019-08-09 11:38] ksysiekj commented on #36700
@yashesvi still cannot see the missing ratios - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/reserved-vm-instance-size-flexibility

[2019-08-09 11:41] lkoppenol commented on #36638
`az iot edge deployment create --content iot-deployment-configuration.json --deployment-id ml_ops_deployment --hub-name mlopshub --priority 10 --target-condition "*"`

![image](https://user-images.githubusercontent.com/3006117/62776602-51705100-baab-11e9-94e7-01869f178c2e.png)
![image](https://user-images.githubusercontent.com/3006117/62776610-5a612280-baab-11e9-96fe-64a6e7a64458.png)

[2019-08-09 11:41] ksysiekj commented on #36706
@VikasPullagura-MSFT still can see duplicates for Standard_M32ls ratio

[2019-08-09 11:43] lkoppenol commented on #36638
**Going into a specific deployment**
![image](https://user-images.githubusercontent.com/3006117/62776664-867ca380-baab-11e9-9cdb-b2d8f62b4338.png)

Pressing save fixes it, though I have to type something in priority and remove it for to unlock save button :D

[2019-08-09 11:45] lkoppenol commented on #36638
Changing the command to _single quotes_ fixes it when run from Ubuntu. Single quotes from powershell still do not work.

`az iot edge deployment create --content iot-deployment-configuration.json --deployment-id ml_ops_deployment --hub-name mlopshub --priority 10 --target-condition '*'`

[2019-08-09 11:45] msrini-MSFT commented on #36800
@rmillman , You can use this doc to get the diagnostic logs: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics#diagnostic-logging

If you want to query logs, this link would be helpful: https://github.com/MicrosoftDocs/azure-docs/issues/36201

Let me know if you have any further questions.

[2019-08-09 11:46] VikasPullagura-MSFT commented on #36706
@ksysiekj I have informed the author on this duplicate. I am reopening the issue till the doc gets fixed.

[2019-08-09 11:53] julie-ng opened #36802 "Specify Pycharm as Community Edition"
The [Windows version of this documentation](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/provision-vm) specifies that the PyCharm installed is the Community Edition.

We should specify that here too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb

[2019-08-09 11:55] julie-ng commented on #36802
Just more details:

I installed this VM
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-dsvm.linux-data-science-vm-ubuntu?tab=Overview

and checked the PyCharm version:
![image](https://user-images.githubusercontent.com/1269507/62777263-44ecf800-baad-11e9-9369-ebbd25451259.png)