[2019-02-27 20:58] #24385 closed

[2019-02-27 21:09] PatLaPoint commented on #25873
I noticed that it was recognized in a comment november 2018, sorry about that.
/Ps

Mvh
Patric Sten

________________________________
From: Micah <notifications@github.com>
Sent: Wednesday, February 27, 2019 9:10:59 PM
To: MicrosoftDocs/azure-docs
Cc: Patric; Author
Subject: Re: [MicrosoftDocs/azure-docs] Powershell syncagent download (#25873)

Thanks for the feedback! We are currently investigati

[2019-02-27 21:12] divyaswarnkar commented on #9848
Can you try with upper case P  i.e use Plus

[2019-02-27 21:15] iainfoulds commented on #25843
@MicahMcKittrick-MSFT The ingress controller is just going to route the traffic as needed, and if there's a requirement for authentication, would need to be configured accordingly. We don't have any docs or in the backlog for configuring the NGINX ingress controller to do that. Would need to look at [external OAuth authentication for NGINX](https://github.com/kubernetes/ingress-nginx/tree/master/d

[2019-02-27 21:27] HeidiSteen commented on #5821
@mvpkenlin  I am going through our open issues backlog to determine whether additional follow up is warranted.  Is there anymore work to be done here, or can we close this issue?

[2019-02-27 21:28] MicrosoftGuyJFlo commented on #25871
#please-close

[2019-02-27 21:29] HeidiSteen commented on #9335
#please-sign-off to close this issue.  It looks like it was fixed in a pull request from last May.  Thank you!

[2019-02-27 21:29] tnolan2 commented on #24066
I would take a look at this blog release. It mentions a preview coming in a couple months and it seems that Graph for B2C (Azure AD Graph) will remain up and running.

https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/

[2019-02-27 21:30] HeidiSteen commented on #9759
#please-sign-off to close this issue.  It doesn't seem to be active anymore.

[2019-02-27 21:32] jgardner04 commented on #25864
Issue fixed with the merge.

[2019-02-27 21:32] #25864 closed

[2019-02-27 21:35] ndondapati opened #25879 "No Relationship visible on Catalog"
Where to verify the version of the data catalog created by my organization? And how do i make sure the relationships are auto shown on my uploaded objects? Does it do auto discovery of the relationships?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fd2055b-85c6-5e87-7417-eb09731dc7a6
* Version Independent ID: 6282c2

[2019-02-27 21:39] HeidiSteen commented on #12471
@mike-urnun-msft  Can you close this issue?  #please-sign-off  thanks!

[2019-02-27 21:42] HeidiSteen commented on #13133
@SychevIgor this issue appears to have fallen through the cracks.  The list of supported languages can be found in this link: https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/language-support

I will add the link to the doc identified in this issue, which should resolve the problem.  Thanks for your feedback.  #please-sign-off to close this issue.

[2019-02-27 21:43] #10811 closed

[2019-02-27 21:43] #20321 closed

[2019-02-27 21:43] #21061 closed

[2019-02-27 21:44] #25850 closed

[2019-02-27 21:44] #25857 closed

[2019-02-27 21:50] mgogulapati opened #25880 "Inadequate documentation for Android & Windows"
This documentation is sufficient for IOS users, and don't provide similar functionality for the Android and Windows phone users.

I am an Android user with multiple two-factor authentication accounts.  Every time, I change my phone or reset my phone, I had to disable and re-enable two-factor authentication of each account to reconfigure into MS Authenticator App, due to lack of backup and recover

[2019-02-27 21:55] jlian commented on #25712
@YoDaMa I'm not totally sure if I understand what you mean. It might be easier to talk over a PR? Here's the source file for the sample

https://github.com/Azure-Samples/azure-iot-distributed-tracing-sample/blob/master/iothub_ll_telemetry_sample-c/iothub_ll_telemetry_sample.c

[2019-02-27 21:56] Alberto-Vega-MSFT commented on #25864
@jgardner04 Thanks four your contribution!

[2019-02-27 21:57] grzchr15 commented on #13106
Any Updates?

[2019-02-27 22:01] rcallahan2 opened #25881 "Unlock Account at windows login"
If a user uses the page aka.ms/sspr they are able to select the option to unlock their account.  This option is not present for the Windows 10 link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
* Content: [Azure AD SSP

[2019-02-27 22:10] MarileeTurscak-MSFT commented on #25844
Yes, it should be supported. https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/app-based-conditional-access

The sample here shows how to add it to a WPF desktop application. https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-native-uwp-v2/

It also discusses a limitation on Windows 10, where it is currently not possible to sign in with a Windows H

[2019-02-27 22:11] faldeland commented on #6788
I uninstalled the application. Deleted the program files remnants...that took some effort. Re-installed. All is working now.

Key piece was to completely delete the remnants of C:\Program Files\Azure Cosmos DB Emulator

[2019-02-27 22:16] MicrosoftGuyJFlo commented on #25881
Yes, unlock is available if administrators have enabled that option when end-users browse to the traditional web based SSPR experience. It is currently unavailable at the Windows logon screen.

[2019-02-27 22:16] SnehaGunda commented on #24025
@nageshsubramanian sorry about the delay in getting back on this, after you configure the TTL, the documents should always be deleted from the container, **they won't appear after they are deleted**. I guess you may be set the TTL to null/-1 before the 2 hour period, or if you have a pipeline that's continuously ingesting documents to your container, the 2 hr time limit may not have reached for th

[2019-02-27 22:16] MicrosoftGuyJFlo commented on #25881
#in-progress

[2019-02-27 22:20] TravisCragg-MSFT commented on #25711
@NateB2 We are currently working on the best method to accomplish this, and the doc will be updated with the best practice.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 22:22] markdebruijne opened #25882 "Windows Virtual Machine Run Command SetRDPPort contains a bug"
There is a bug releated to the `SetRDPPort` command that is provided for **Virtual Machines** (running on Windows). I can't find a way to report it other than feedback on the documentation page; https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/run-command.md

The provided command `SetRDPPort` takes the requested new RDP port within the `$RDPPort` variable.

[2019-02-27 22:22] SnehaGunda commented on #24767
@ealsur has a sample for this, he can share with you soon.

[2019-02-27 22:24] TravisCragg-MSFT commented on #23035
@hensilva Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 22:24] TravisCragg-MSFT commented on #25547
@sumptersmartt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-27 22:24] #25547 closed

[2019-02-27 22:28] YutongTie-MSFT commented on #25595
@ccarrero301 Hi, sorry for your bad experience. According to the REST API document, the input requirements are:
Supported image formats: JPEG, PNG, GIF, BMP.
Image file size must be less than 4MB.
Image dimensions must be at least 50 x 50.

https://westus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/56f91f2e778daf14a499e1fa

We will now proceed to close this thread

[2019-02-27 22:28] #25595 closed

[2019-02-27 22:29] JimacoMS3 commented on #25817
I got the same error after entering the "node BackEndApplication.js" command in the Call the direct method section.

[2019-02-27 22:32] olavt commented on #25843
@MicahMcKittrick-MSFT The AKS AAD integration scenario you mention in the quoted article is totally different from my scenario. The article talks about Azure AD integration from the RBAC roles to manage / access the AKS cluster. In my scenario the app running inside the AKS cluster is authenticating it's users using the Azure AD Authentication integrated with ASP.NET Core 2.2. So, if you want to t

[2019-02-27 22:33] TravisCragg-MSFT commented on #25606
@BjornAnd Thanks for the feedback! If you need assistance getting a particular configuration working, your best bet is to proceed via the [Azure Stack MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alllanguages).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-27 22:35] YutongTie-MSFT commented on #25608
@sleebapaul Hi Sleeba, thanks for the feedback. I saw a PR for that. I will close this thread, let's keep eyes on the pull request. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-27 22:35] #25608 closed

[2019-02-27 22:36] staal-it commented on #23919
Is there any news on this bug? The workaround doesn’t work anymore since Deployment Slots is no longer in preview and TiP has been removed...

[2019-02-27 22:37] olavt commented on #25843
@iainfoulds I'm not asking for any guidance for using Nginx to take care of the Azure AD Authentication (in front of the application). I just want the application to work with https and Azure AD Authentication. The application works fine when running just behind a regular Kubernetes service over http and Azure AD Authentication, but that is not any good solution for any production scenario.

When

[2019-02-27 22:37] TravisCragg-MSFT commented on #13106
@cwatson-cat can you help move this forward?

[2019-02-27 22:38] YutongTie-MSFT commented on #25604
@diberry Hi Dina, do we have any document for strict SLA project building? Thanks.

[2019-02-27 22:41] YutongTie-MSFT commented on #24709
@iMicknl @hansenms Hi Mick and Hans, thanks for your feedback. I highly recommend you to create a new ticket for this issue. It would help a lot! Thanks in advance ^^

[2019-02-27 22:42] YutongTie-MSFT commented on #25785
@rajdeep-in Thanks. Please also update the document if necessary.

@jloughlinMSFT Hi John, we solved this issue offline so I will close this ticket.

[2019-02-27 22:44] briansboyd commented on #24767
Thanks Sneha, I would very much appreciate this.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sneha Gunda <notifications@github.com>
Sent: Thursday, February 28, 2019 7:23:05 AM
To: MicrosoftDocs/azure-docs
Cc: Brian S Boyd; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Secure Azure Cosmos keys using Azure Key Vault (#24767)

@ealsur<https://nam04.safel

[2019-02-27 22:45] mathieu-benoit opened #25884 "How the tracking works?"
Hi there, how the tracking works? I mean, is it the consumption of all the resources under the deployment's resource group? Or each resource for this deployment is tagged? What about if resource are added/removed manually then? Or let's say autoscale feature are in place like for VMSS, AKS, etc.? Is it tracking accordingly?

Other question, what about the "MC_xxx" resource group generated by AKS,

[2019-02-27 22:45] YutongTie-MSFT commented on #24894
@rramani
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@sdgilley Thank you Sheri.

[2019-02-27 22:45] #24894 closed

[2019-02-27 22:49] SnehaGunda commented on #23692
@anujku @marktilleytl yes you should add "ttl" property to the item. I updated the doc to add another example that shows how to set ttl for an item using portal.

We will now close this issue.

#please-close

[2019-02-27 22:49] miaojiang commented on #9187
@mm-gmbd  what tier are you using? B2C is only supported in Developer, Standard, and Premium tier. To configure it just go to Identities. From there you can just follow the doc.

@kevin21 it's up to you which B2C tenant you want to use. I just went through the steps in the doc and all the screenshots and steps are up-to-date. In B2C, there is a menu item called "Applications" where you can registe

[2019-02-27 22:54] narayankumargupta commented on #11321
Type and apiVersion needs to be updated. Template is giving error.
type": "extensions",
"apiVersion": "2015-06-15",

I used "type": "Microsoft.Resources/deployments", and "apiVersion": "2018-11-01", to work.

[2019-02-27 22:56] hansmbakker commented on #24709
@YutongTie-MSFT excuse me, why is this current issue not good enough? Your own colleague @CeciAc  moved this issue here in the first place. Part of my question is about whether it still takes 50 Train calls for a suggestion to show up, and in a more general sense, how the suggestion behavior works.

I believe the suggestion behavior is related to the Active Learning behavior and Train behavior and

[2019-02-27 22:59] kobulloc-MSFT commented on #25506
@craigsmitham For any Operation ID, you can view end-to-end transaction details by:

* Navigating to your Application Insights resource
* Clicking on Performance (under Investigate on the left)
* Clicking on the filter at the top
* Selecting Operation ID from the dropdown, and then entering the Operation ID
* Clicking on the Drill into link at the bottom
* Clicking on one of the operations on the

[2019-02-27 22:59] #25506 closed

[2019-02-27 22:59] MarileeTurscak-MSFT commented on #25844
Since this is a product question and not a docs question, this is probably better suited for MSDN https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

Feel free to reach out to me there if you have further questions.

[2019-02-27 22:59] #25844 closed

[2019-02-27 23:01] rohinkoul commented on #13106
@TravisCragg-MSFT Please assign this issue to me. Going forward you can assign all DNS and ATM issue to me.

[2019-02-27 23:01] iMicknl commented on #24709
@YutongTie-MSFT please refer to the right place to create a ticket. Would it be in [BotFramework-Services](https://github.com/Microsoft/BotFramework-Services), since QnAMaker doesn't have a repo to track issues.

[2019-02-27 23:08] YoDaMa commented on #25712
https://github.com/Azure-Samples/azure-iot-distributed-tracing-sample/pull/2

[2019-02-27 23:09] curtand commented on #25851
Hi @CeciAc
Thanks for your feedback. This limitation is documented in the Limitations section of https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-group-advanced#limitations-and-known-issues

#please-close

[2019-02-27 23:10] ealsur commented on #24767
@Mike-Ubezzi-MSFT It is easy to achieve this.

You create a Function Application Setting for your Cosmos DB Connection String, just like you would do in any normal scenario but instead of pasting your Cosmos DB Connection String, you can paste the KeyVault Url and the App Service engine will resolve it on runtime. The format would be `@Microsoft.KeyVault(SecretUri=secret_uri_with_version)`

https:

[2019-02-27 23:11] MicahMcKittrick-MSFT commented on #25843
@olavt that's a fair ask. That being said, it is a bit outside of what we are able to fully assist with on these GitHub issues.

Since you are an FTE I would suggest doing the following:

1) There are some internal DLs you could reach out to for help with debugging this. Feel free to email me offline and I can give you a list :)
2) File a support ticket so you can have the AKS and AAD team engaged

[2019-02-27 23:16] YutongTie-MSFT commented on #24709
@hansmbakker Hi Hans, sorry if I make you confused. ^^ What I want to say is if you have suggestions other than this post, please open a new ticket. This ensures your suggestions will be covered. Of course, if you now feel that this post has covered all your ideas, it is perfect.

[2019-02-27 23:16] MicahMcKittrick-MSFT commented on #25879
@ndondapati can you please share the document you are referring to so we can better assist?

[2019-02-27 23:16] JimacoMS3 commented on #25817
@BrandonPoach

I fixed this problem by ensuring that the Simulated Device is running before invoking the BackEnd Application.

[2019-02-27 23:17] MicahMcKittrick-MSFT commented on #25882
@georgewallace is this something you can take a look or? Or know the correct team to forward the feedback to?

[2019-02-27 23:20] Grace-MacJones-MSFT commented on #25860
Hi @loic-sharma, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-27 23:22] Alberto-Vega-MSFT commented on #25777
@BradyWi My bad please see https://github.com/MicrosoftDocs/azure-docs/issues/25780#issuecomment-467807423

[2019-02-27 23:22] hansmbakker commented on #24709
If this issue is enough to document the following:
- the Active Learning behavior in general
- the Train REST call
  - what parameters are there?
  - what are the inner workings?)
- the suggestion behavior
  - when does a suggestion show up?
  - are suggestions auto-generated or do they only come from Train calls?
  - or are they also generated during normal use from GenerateAnswer queries?

then

[2019-02-27 23:23] ohadschn commented on #25841
Thank you. I also opened a couple of related issues about the REST API in general, I hope I did so in the right place:
https://github.com/AzureDataBox/azure-docs-rest-apis-public/issues/2
https://github.com/AzureDataBox/azure-docs-rest-apis-public/issues/3

[2019-02-27 23:25] SnehaGunda commented on #24436
@SogoGolf here are some example test cases that show you how to set TTL on container and item. We will update the docs shortly. In the meantime you can take a look at these examples:  https://github.com/Azure/azure-cosmos-js/blob/fd8a46efb384c8158ef03fff05043af153a8c928/src/test/functional/ttl.spec.ts#L37

[2019-02-27 23:27] kgremban commented on #25796
Thanks for pointing this out, @YoDaMa. I'll create a pull request to fix the sample.

[2019-02-27 23:31] tfitzmac commented on #25861
@sauyeung - it is a rolling 60 minute period.

[2019-02-27 23:31] tfitzmac commented on #25861
#please-close

[2019-02-27 23:31] MicrosoftGuyJFlo commented on #25881
#please-close

[2019-02-27 23:32] #20496 closed

[2019-02-27 23:32] #21366 closed

[2019-02-27 23:32] #23692 closed

[2019-02-27 23:32] #24025 closed

[2019-02-27 23:32] #25871 closed

[2019-02-27 23:35] sauyeung commented on #25861
Thanks!

[2019-02-27 23:35] #25861 closed

[2019-02-27 23:38] Tajjun commented on #12163
what's the ETA ? I can't delete multiple backup items via powershell and it's a very annoying repetitive task

[2019-02-27 23:40] TomArcher commented on #20924
I had a trial version months ago. I never upgraded and it cancelled at some point. I now want to upgrade to the Pay-As-You-Go subscription, but that is not an option. What do I need to do in order to purchase the subscription?

[2019-02-27 23:48] jlian commented on #20924
Hey @TomArcher, depending on how long it ago it was it might be deleted at this point. You can check https://account.azure.com/subscriptions, click the free trial subscription, then see if there's an upgrade option. If not you may have to start a brand new Pay As You Go subscription

[2019-02-27 23:50] #23035 closed

[2019-02-27 23:50] #25796 closed

[2019-02-27 23:50] SQLDataSide commented on #25848
I feel that i have everything rolling except the last step,
When i press and hold B to talk (French->Eng) i get an reply on the IoT device (Sorry, I can't hear you.)

[2019-02-27 23:51] #25843 closed

[2019-02-27 23:52] DCtheGeek commented on #25765
@aholler2 Please let us know if you have any other comments or issues regarding the docs.  Thanks for your feedback!  I'm going to ask for this item to be closed now.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-27 23:53] BharathNimmala-MSFT commented on #25765
Thanks David.

[2019-02-27 23:53] #25765 closed

[2019-02-27 23:54] dlepow commented on #25656
The updated article is now published. Thanks again for opening the issue.
#please-close

[2019-02-27 23:55] anrothMSFT commented on #25639
@thefumigator @DClark-Landmark @byatis @byatis

Thanks to your reporting, we found and edge case where the Move to Azure button might not appear on limited trial projects. We've just deployed a fix. Please ping me if you're still unable to see it (after signing in and out again)

[2019-02-27 23:55] SnehaGunda commented on #21992
@Sajgon please see this issue for NodeJs examples: https://github.com/MicrosoftDocs/azure-docs/issues/24436, we are in the process of updating docs with node JS examples. I am also checking with our team for other SDK specific examples. We have a work item in our back log to update the doc when the samples are ready.

We will close this issue for now and update the docs soon.

#please-close

[2019-02-27 23:55] SQLDataSide opened #25888 "Microphone issue"
I have deployed everything and did not get an error while deploying so i am going to assume that everything is working except the last step

When I press and hold B to talk (French-&gt;Eng) i get an reply on the IoT device ....
"Sorry, I can't hear you."

Can someone help i have been working on this for almost 14hrs straight

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-02-27 23:57] SnehaGunda commented on #24436
Above PRs should update the docs. we will now close this issue.

#please-close

[2019-02-28 00:00] SQLDataSide commented on #25888
In the inner function i get the error

2019-02-27T23:59:45.091 [Error] Executed 'devkit_translator' (Failed, Id=f346a8a0-6881-47a0-96de-cb98a87d0b13)
MXCHIPIotDevKit
Tracking Id:0e9c679cbf95434492a8c5a47c56989a-G:5-TimeStamp:02/27/2019 23:59:45

[2019-02-28 00:03] SQLDataSide commented on #25888
sorry i missed other part of the error

2019-02-28T00:01:45.985 [Information] Executing 'devkit_translator' (Reason='This function was programmatically called via the host APIs.', Id=af0c62e9-61b2-43d6-bc48-d86f21863894)
2019-02-28T00:01:45.985 [Information] C# HTTP trigger function processed a request.
2019-02-28T00:01:45.985 [Information] Source language: fr-FR
2019-02-28T00:01:45.986 [Informati

[2019-02-28 00:04] YoDaMa commented on #25796
@kgremban thanks! Also it's worth noting that if the sample code is just receiving messages from EventHub asynchronously, then an EventProcessorHost might be a simpler option than an EventHubReceiver. Consider the sample here: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-framework-getstarted-receive-eph

[2019-02-28 00:07] dcbrown16 commented on #25810
@SnehaAgrawal-MSFT I'm just asking for the # to be removed.
#Get-AzWebAppMetrics
It's commented out for some reason in the sample.

[2019-02-28 00:10] SQLDataSide commented on #25888
Can it be that we have the mentioned in the function?

 "generatedBy": "Microsoft.NET.Sdk.Functions-1.0.24",

[2019-02-28 00:12] BrandonPoach commented on #25817
@JimacoMS3 That seemed to fix the problem. Thanks.

[2019-02-28 00:12] #25817 closed

[2019-02-28 00:28] mtroth-microsoft opened #25889 "stale document for azure cosmos db emulator"
doc lists an invalid email address for troubleshooting assistance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosm

[2019-02-28 00:34] jamescmaki commented on #23035
I am seeing the same issue. This is my first time using AzureGalleryPackager.exe, so I am not sure if the issue is related to my ignorance. I have tried packaging different examples and removing sections from the manifest and other json files. I am still seeing 'Invalid URI: The format of the URI could not be determined.'

Is there a place to download different precompiled versions of the tool to

[2019-02-28 00:40] SnehaGunda commented on #25670
@webbermt thanks for the feedback, we updated the doc. In future if you see any edits, feel free to submit a PR by clicking on the edit button at the right hand corner.

We will now close this issue.

#please-close

[2019-02-28 00:45] kazshi commented on #25318
@Mike-Ubezzi-MSFT  Thank you for following up.

[2019-02-28 00:46] ghejman opened #25890 "Cost Management supported Microsoft offers not up-to-date"
Information in "Consider Cloudyn" section regarding Cost Management supported Microsoft offers is not up-to-date. Supported offerings are listed here: https://docs.microsoft.com/en-us/azure/cost-management/understand-cost-mgt-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51531450-ba98-3f4a-b23a-37e057adec46
* Ver

[2019-02-28 00:52] dlepow commented on #25060
@adinunzio84 @Karishma-Tiwari-MSFT  - The engineering team recommends this query for untagged manifests returned by `az acr repository show-manifests`: `--query "[?tags[0]==null].digest"`. I have updated the article accordingly. This should now work in your various shell environment, but let us know if your experience is different. Thanks!

[2019-02-28 00:58] tfitzmac commented on #25725
@dcbrown16 - you are right that the portal and subscription level deployments (which Blueprint uses) do not support the complete mode. I have submitted an update to the article.

[2019-02-28 00:59] dcbrown16 commented on #25725
Great, thanks!

[2019-02-28 00:59] #25725 closed

[2019-02-28 01:01] SaurabhSharma-MSFT commented on #25849
@MicrosoftGuyJFlo Thanks, I have already submitted a pull request for the change.

[2019-02-28 01:02] kazshi commented on #25823
@SubhashVasarapu-MSFT I think the current destination page is applicable to Windows Server 2012/2016 although it has a small obsolete UI, but the page shows 'Recommended Version' button on the top and it doesn't work - I believe the page is owned by Windows team.

[2019-02-28 01:03] Alberto-Vega-MSFT commented on #24002
@ashannon7 Thoughts on this?

[2019-02-28 01:07] #25881 closed

[2019-02-28 01:16] markoriver opened #25891 "Retain same protocol in backendUri"
Hello,
my proxy can receive both HTTP and HTTPS request. How do I retain the same protocol when forwarding request to my endpoint?

So, I have somthing like this:
[code]

What I would like to have is: `"backendUri": "{RequestProtocl}://myapp/{path}"` -> or something similar that will use the same protocol from request. Then application in the endpoint would do redirect.

I suppose other way would

[2019-02-28 01:29] SQLDataSide commented on #25888
I am checking the "monitoring C2D message" from VS Code and Holding the button, i still get nothing.

I even tested sending a "Send C2D message device" and i did not see the message on my DevKit, but this could be because its been set like that in this scenario of speech

[2019-02-28 01:46] imeya opened #25892 "How to limit only my own eventhub will capture to the azure data lake storage?"
In this section [Assign permissions to Event Hubs
](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-archive-eventhub-capture#assign-permissions-to-event-hubs), step 3.b : Under Access, click Add, click Select User or Group, and then search for Microsoft.EventHubs.

If we did this, then all the other eventhubs in the same subscription can capture data to the azure data lake.

[2019-02-28 01:50] rizwaans commented on #25418
Hi @KetanChawda-MSFT

Really appreciate your support. Can you please help me with the below

I have a json array (Array variable)

**[
  {
    "TravelDocs": [
      {
        "data": []
      },
      {
        "data": []
      }
    ],
    "PersonalContacts": [
      {
        "data": []
      },
      {
        "data": []
      }
    ]
  }
]**

I want to loop thru TravelDocs and PersonalContacts

[2019-02-28 01:50] Mike-Ubezzi-MSFT commented on #25889
@mtroth-microsoft Thank you for bringing this to our attention. Did you get an error when attempting to send an email to askcosmosdb @ Microsoft.com, or was there another address you were attempting to send to? I use the askcosmosdb address quite often and haven't experienced any issues.

[2019-02-28 01:57] mtroth-microsoft commented on #25889
I did get an error on that address. It bounced back.
I removed the Microsoft.com and outlook asked me to select one of three matching options. Then I was able to get the message through.

From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, February 27, 2019 5:51 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael Roth <mtroth@microsoft.com>; Mention <mention@norep

[2019-02-28 02:00] EdwardRies commented on #25805
Here's a example core application on GitHub that uses Key Vault.  Some of the steps might be tricky but it's a pretty good implementation and lists the steps to get the application up and running. https://github.com/EdwardRies/SecureItAzureKeyVault

[2019-02-28 02:12] ajlam commented on #25361
@roelal, we are in the process of fixing the server certificate to include the host name. Once that fix is available, you will be able to use `trustServerCertificate=false`. I will update this thread when the fix is available.

[2019-02-28 02:14] SQLDataSide commented on #25888
Somehow the function is working but i think it can communicate with the Azure IoT Hub, maybe i am wrong

in this sample i said 2 in french (deux) and it correctly converted to "two" in English,  now the issues if the function that can not pass the "Two" to be displayed on the Kit

2019-02-28T02:11:00.644 [Information] Executing 'devkit_translator' (Reason='This function was programmatically called

[2019-02-28 02:34] SQLDataSide commented on #25888
Hi i tried "monitoring C2D message" from the  portal and the Kit did not display anything

[2019-02-28 02:38] wickste commented on #25853
Sorry, I probably got browser tabs confused. Closing this one and will re-open on the correct topic.

[2019-02-28 02:38] #25853 closed

[2019-02-28 02:40] wickste opened #25894 "Information missing about which ports need to be configured"
[Enter feedback here]
This article is missing critical information about what ports need to be configured on the Edge gateway device for the various communication scenarios/protocols here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37-dc9b5c8f7d63
* Version Independent ID: 10a9b17d-cbf4-ec07-ae

[2019-02-28 02:43] mordyort opened #25895 "Syntax Error in Example for in"
seems like whoever created this copied the example and some of the examples have " and others “

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules - Azure Active Directory

[2019-02-28 02:47] kazshi opened #25896 "Equivalent to using AzCopy"
Is the Copy operation equivalent to using AzCopy with /S option? Is the description in "Synchronously copy blobs from one storage account to another" applicable?

Copy or move data to Azure Storage with AzCopy on Windows | Microsoft Docs
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#copy-blobs-in-blob-storage

---
#### Document D

[2019-02-28 02:49] AnyiYang opened #25897 "why add the configuration of Cluster core IP address in this document"
Hi guys,

According to my understanding, for AG on Azure VM, the LB configuration on WSFC ip address is not in need at all. In the AG template provided by Azure portal, the LB rule for WSFC ip address is also not configured. So it's very confused to put this step in the document.
What's more, if you think it's really necessary to remain this part in the document, could you provide the way to test

[2019-02-28 02:54] phonglnk commented on #22581
@douglaslMS  @jason-j-MSFT  Do  we have any update on this issue?

[2019-02-28 03:08] #23675 closed

[2019-02-28 03:36] SQLDataSide commented on #25888
In the function App in the "OutPut" window i found a message saying
"Please pass a 'source' on the query string to specify the from language."

Somehow the Function may not be passing all the parameters, i am not sure??

[2019-02-28 03:43] haoxin opened #25898 "Twillio SID can't be resolved"
I hit the problem below, I think I input the correct SID of Twillio.
Microsoft.Azure.WebJobs.Host: Error indexing method 'E4_SendSmsChallenge'. Microsoft.Azure.WebJobs.Host: Unable to resolve the value for property 'TwilioSmsAttribute.AccountSidSetting'. Make sure the setting exists and has a valid value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-02-28 03:45] CelesteDG commented on #20771
@wolterOnEntocare - Per feedback from andretms, please post your question on Stack Overflow. You can use the info from jmprieur as a starting point. Thank you.

[2019-02-28 03:45] CelesteDG commented on #20771
Provided response to customer.
#please-close

[2019-02-28 03:51] ramankumarlive commented on #18030
I raised a PR to fix the issue. I believe the Storage type in the comments is wrongly mentioned without underscore that is creating confusion.

[2019-02-28 04:02] hubez opened #25900 "Azure Stream Analytics -> Job Topology -> Functions does not provide an "Add" button as this document suggests"
Instead, it gives a note that one must use Visual Studio to add them. Do I have to use Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede13241-47f5-e890-a4f9-7fa32d920994
* Version Independent ID: fa82696c-229d-d951-1496-e4ee8b4f8ed5
* Content: [Tutorial: Azure Stream Analytics JavaScript user-defined fu

[2019-02-28 04:03] AshokPeddakotla-MSFT commented on #25817
Glad to hear that issue is resolved!

[2019-02-28 04:04] Miggleness opened #25901 "httpclient usage recommendations for Azure Functions"
The documentation currently wraps the instantiated httpclient in a using statement.  Since can be multiple functions running concurrently, what's the guidance going forward now that Microsoft is not recommending directly creating httpclient per request especially in high volume cases (https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-h

[2019-02-28 04:18] CHEEKATLAPRADEEP-MSFT commented on #22581
@craigg-msft  Could you please look into this issue?

[2019-02-28 04:20] CHEEKATLAPRADEEP-MSFT commented on #22168
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 04:20] #22168 closed

[2019-02-28 04:22] CHEEKATLAPRADEEP-MSFT commented on #23875
@markjbrown Could you please look into this?

[2019-02-28 04:27] CHEEKATLAPRADEEP-MSFT commented on #23922
@nabhishek Could you please update the document?

[2019-02-28 04:32] KetanChawda-MSFT commented on #25633
@bcube Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-28 04:32] #25633 closed

[2019-02-28 04:39] RohitMungi-MSFT commented on #25837
@robert4os Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-28 04:47] kpvnreddy commented on #9848
Thanks, it worked

[2019-02-28 04:48] YASWANTHM-MSFT commented on #25896
@kazshi, Yes, you can use /S option for copying blobs from one storage account to another synchronously. I would recommend you to refer the following similar query **[here](https://stackoverflow.com/questions/45727331/copy-blob-without-downloading-it-to-local-memory)** with detailed explanation.
Code:-  The following Azcopy command will copy all the blobs located in the container from one storage

[2019-02-28 04:52] hubez opened #25903 "Recommended way to update ASA on Edge in deployment.template.json when not using "Set Modules" in the portal"
How does one obtain the information to update a deployment.json in the case of Scaled Deployments where they are not put together with the "Set Modules" tooling available in the portal?

Using "Set Modules" when working against a single Edge is tooled to prompt to automatically detect & update the ASAJobInfo, ASAJobResourceId, ASAJobEtag, PublishTimestamp accordingly for the module desired propert

[2019-02-28 04:58] KalyanChanumolu-MSFT commented on #25897
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-02-28 05:01] #13133 closed

[2019-02-28 05:02] CHEEKATLAPRADEEP-MSFT commented on #25900
@hubez I'm able to see Add button as suggested in the document.

After creating **Azure Stream Analytics** => Go to **Job Topology** => Select **Functions** => **Add** => J**avascript UDF** => Enter **Function alias** => **Enter function** => **Save**.

![image](https://user-images.githubusercontent.com/44426401/53542338-06d5ca80-3b44-11e9-8c8b-15f940a21921.png)

If you still need any assistance,

[2019-02-28 05:05] kazshi commented on #25428
@SubhashVasarapu-MSFT @genlin I got a response from my customer and they verified that the submission TCP port 587 can be used for sending outbound email messages directly to external domains.  Closing this thread.  Thanks.

[2019-02-28 05:05] #25428 closed

[2019-02-28 05:09] Karishma-Tiwari-MSFT commented on #25060
Thanks @dlepow
@adinunzio84 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-28 05:09] #25060 closed

[2019-02-28 05:09] #25656 closed

[2019-02-28 05:09] YASWANTHM-MSFT commented on #25671
@opticyclic , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-28 05:11] kazshi commented on #25896
@YASWANTHM-MSFT Thank you for the clarification and the link. Closing.

[2019-02-28 05:15] KetanChawda-MSFT commented on #25898
@haoxin Thanks for posting your question. We will review this and provide an update as appropriate.

[2019-02-28 05:17] SnehaAgrawal-MSFT commented on #25876
@cngituser Thanks for the question! We are investigating and will update you shortly.

[2019-02-28 05:18] hastikpatel opened #25905 "Error 500.00 internal server Error "unknown wfastcgi occured""
Hello Guys,
i created python Django Web Application now i want to configure that web Application with Window iis configuration so i try all step mention in Document. so it's giving me

"Error 500.00 internal server error unknown wfastcgi Occured"

i researching on this error so this is might be compatibility issue with window IIS. IIS not support python-Django Web Application. can any one give sol

[2019-02-28 05:18] KetanChawda-MSFT commented on #25901
@Miggleness Thank you for posting your question. We will review this and provide an update as appropriate.

[2019-02-28 05:20] KalyanChanumolu-MSFT commented on #25897
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-02-28 05:25] #24436 closed

[2019-02-28 05:28] AshokPeddakotla-MSFT commented on #25894
@wickste Thanks for the feedback! You can find the complete information on [Firewall and Port configuration rules for IoT Edge deployment](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#firewall-and-port-configuration-rules-for-iot-edge-deployment)
@kgremban Can you provide your suggestions on this?

[2019-02-28 05:34] angoyal-msft commented on #25599
@ntachandley document has been updated using the above PR.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 05:34] #25599 closed

[2019-02-28 05:34] SumanthMarigowda-MSFT commented on #25607
@CalvinDale The Set Container ACL API always applies to the blob endpoint only, and $web doesn’t change that.

[2019-02-28 05:58] YutongTie-MSFT commented on #25610
@thienanh2018 Hi, you need to get the required NuGet packages. Right-click on your project in the Solution Explorer and select Manage NuGet Packages; then, find and install the following package:
Microsoft.Azure.CognitiveServices.Vision.Face 2.2.0-preview.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we

[2019-02-28 05:58] #25610 closed

[2019-02-28 06:00] kazshi opened #25907 "default copies data between two storage endpoints asynchronously"
"the copy operation runs in the background using spare bandwidth capacity that has no SLA in terms of how fast a blob is copied"
Does it mean that the copy operation doesn't impact to network performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f

[2019-02-28 06:03] msvijayn commented on #25530
@KrishnaG-MSFT - please check your template, I think you are not changing the value of  "convertRuleRegion" from the default in the template. As in doc - please ensure you are providing correctly the region in which your log analytics workspace is present.
![image](https://user-images.githubusercontent.com/33087919/53544593-9f704880-3b4c-11e9-8402-928aa1eda3a0.png)

[2019-02-28 06:04] SadiqhAhmed-MSFT commented on #25890
@ghejman Thanks for the feedback. We will have this checked by the content owner and update as appropriate.

@bandersmsft Could you please review the doc and make necessary changes?

[2019-02-28 06:08] SadiqhAhmed-MSFT commented on #25868
@Oegg88 Thanks for bringing this to our attention! We can have this confirmed by the content owner.

@rboucher Would it be possible to assign the EndTime using PowerShell?

[2019-02-28 06:11] CHEEKATLAPRADEEP-MSFT commented on #25892
@imeya Yes, adding permissions to “Microsoft.EventHubs” provides permissions to all the Event Hubs existed in the subscription but, it can capture Events from only configured Event Hubs.

**Note:** Only configured Event Hubs can capture data to Data Lake Storage.

**For example:** I have three event hubs eb100, eb200, eb300 and one Azure Data Lake Storage account adls007. When I assign permission

[2019-02-28 06:11] dikadali opened #25908 "Encryption fails on Windows 2012 R2 server VM's which have storage spaces"
Please update this document with exact OS version details which supports Azure disk encryption for storage spaces configured. I see BitLocker encryption supports Windows 2012 R2 server VM's which have storage spaces. Also kindly update [ADE pre-requisites page](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites) and cross reference at [encryption-scenarios

[2019-02-28 06:11] CiciPang commented on #20924
Hi @TomArcher, the suspend subscriptions go to deleting status after 90 days. After that, the subscriptions are not able to re-active. You need to create a new subscription to start again. For more inquiries, you can reach support team by "?" icon in the portal.

[2019-02-28 06:12] CHEEKATLAPRADEEP-MSFT commented on #25156
@fkeller-datameer We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 06:12] #25156 closed

[2019-02-28 06:13] dcbrown16 opened #25909 "Confusion about outbound access"
"The Backup extension running on the VM must have outbound access to Azure public IP addresses.
No explicit outbound network access is required for Azure VM to communicate with Azure Backup Service."

Aren't these statements contradictory? The latter point seems to suggest that even when an NSG blocks all outbound traffic, the VM can still get backed up. What is the first sentence suggesting that

[2019-02-28 06:15] dcbrown16 commented on #25909
Also "additional costs for proxy" in that section seems like it should be listed as a disadvantage.

[2019-02-28 06:18] PramodValavala-MSFT commented on #25901
@Miggleness You are right. This doc is meant to be more of a showcase of how you can include Azure Functions in your Logic Apps **_but_** not a best practices example.

You can find more details about [Managing Connections in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections) in its official doc.

[2019-02-28 06:22] CHEEKATLAPRADEEP-MSFT commented on #25757
@bertrandpons Could you ask your question in the forums? The audience there would be a better suited to answer your support question. Please provide as much detail as possible about your scenario: [Azure Data Factory - Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-02-28 06:26] RohitMungi-MSFT commented on #25638
@Zerryth Thanks for updating the issue. @Souvik04 and @iMicknl Please use the active learning sample bot and train your KB with the steps I mentioned before. If the "Did you mean" dialog shows up in the emulator provide the relevant option as feedback and this will ensure the system captures them, When there are enough such similar feedback they are shown as suggestions in the KB on the portal. If

[2019-02-28 06:29] #25638 closed

[2019-02-28 06:29] Jask2002 opened #25910 "Where is B series in this list ?"
B series is missing from the list . Please update the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b9177e-fd0f-84ce-f02e-b32c04e1217c
* Version Independent ID: b44a31b5-5fe9-9e03-08f6-709aa90cffeb
* Content: [Overview of the Azure Compute Unit](https://docs.microsoft.com/en-us/azure/virtual-machines/windows

[2019-02-28 06:32] KrishnaG-MSFT commented on #25530
@msvijayn Awesome! That was exactly correct. My bad! I missed that part of updating correct region for convertRuleRegion parameter. I have just tested and it works fine without any issues. Thanks for the clarification.

@PaulSells Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-28 06:32] #25530 closed

[2019-02-28 06:36] MikeRayMSFT commented on #25897
@AnyiYang - thank you for the feedback. That's a great suggestion to test whether or not the WSFC IP address is configured. I'm checking on the best way to do this.

The AG template does not configured a WSFC IP address - it uses a script to assign an APIPA locally on each VM. This configuration is not recommended, and cannot be set in the cluster manager.

As stated in the configuration tables in

[2019-02-28 06:36] SadiqhAhmed-MSFT commented on #25884
@mathieu-benoit Thanks for the questions! Just an FYI, this channel is reserved for questions related to doc-enhancements, doc-feedback and doc-bugs. But I would be glad to help you with your concerns. Please send me an email @AzCommunity@microsoft.com with the URl to this thread and the subject line to help you connect with the right experts.

[2019-02-28 06:42] SadiqhAhmed-MSFT commented on #25867
@Praveen-410 Thanks for the questions! We will assign this issue to the content owner for further review and update as appropriate.

[2019-02-28 06:43] artilbur opened #25911 "What is a Protected Instance?"
Using Azure calculator, a protected instance is a multiple of 500Gb. In this article you state that its a server that has been configured to backup to Azure. In Azure Backup Report App (Power BI) we can see Protected instances = 60 where backup items = 51 (for example). Can you please update this page to reflect what microsoft's definition of an instance is, because it is very confusing at the mom

[2019-02-28 06:44] AshokPeddakotla-MSFT commented on #25888
@SQLDataSide Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 06:44] shashishailaj commented on #25875
@prashanthyv Thank you for your feedback . We certainly welcome the idea and will have it proposed to the content team for the same. Once we have an update this thread will be updated accordingly.

[2019-02-28 06:45] kazshi commented on #25896
@YASWANTHM-MSFT One more question (which is a little off from the original question).
I understand that Copy operation using Storage Explorer does synchronous copy only, so it might impact to network performance, correct?

[2019-02-28 06:46] shashishailaj commented on #25872
@jkovach82 Thank you for your feedback . Hope you are doing great. We will investigate and update the thread further.

[2019-02-28 06:47] CHEEKATLAPRADEEP-MSFT commented on #24566
@ShubhaVijayasarathy Could you please provide update on the document?

[2019-02-28 06:48] CHEEKATLAPRADEEP-MSFT commented on #24622
@sharonlo101 Could you please provide update on the document?

[2019-02-28 06:48] sshradha commented on #24709
@iMicknl @hansmbakker Hi Mick and Hans, in my QnA Maker suggestions did show up 4-5 days after enabling Active learning i.e. on last friday 22nd feb.
7 suggestions were shown and all were kind of garbage. I had rejected all. Now suggestions are not appearing since last friday. No idea when these will reappear again. Our bot is being used continuously since then. So QnA Maker API is also being hit

[2019-02-28 06:50] CHEEKATLAPRADEEP-MSFT commented on #24645
@sharonlo101 Could you please have a look into this issue?

[2019-02-28 06:57] YASWANTHM-MSFT commented on #25896
@kazshi , Yes! It depends on size of blob and network connection speed. when you are copying from one storage account another using storage explorer.

[2019-02-28 06:59] kazshi commented on #25896
@YASWANTHM-MSFT Thanks for your quick response!

[2019-02-28 06:59] #25896 closed

[2019-02-28 07:01] shashishailaj commented on #25880
@mgogulapati Thank you for your feedback . We will have this reviewed and update the thread accordingly.

[2019-02-28 07:03] SumanthMarigowda-MSFT commented on #25907
@kazshi Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-28 07:04] shashishailaj commented on #25895
@mordyort Thank you for your feedback . We will investigate and update the thread. accordingly.

[2019-02-28 07:04] imeya opened #25912 "Logs written by ILogger does not shown in Monitor tab."
I create an azure function(v2) from visual studio, it's blob trigger. And I use the ILogger to write logs to application insights.

The code in function.cs like below:

public static class Function1
    {
        [FunctionName("Function1")]
        public static void Run([BlobTrigger("f22/{name}", Connection = "AzureWebJobsStorage")]Stream myBlob, string name, ILogger log)
        {
            lo

[2019-02-28 07:08] SumanthMarigowda-MSFT commented on #25873
@PatLaPoint Kindly let us know your query has been clarified or you need any future assistance!

[2019-02-28 07:09] Shekharb694 commented on #25749
Yes, I had added the following in the allprojects > repositories block in project level build.gradle.
maven {
url "https://atlas.microsoft.com/sdk/android"
}

[2019-02-28 07:12] SumanthMarigowda-MSFT commented on #25589
@pink95 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-28 07:12] #25589 closed

[2019-02-28 07:24] jtlz2 opened #25913 "Remove PIL dependency"
PIL has a huge overhead in addition to the tensorflow one - so far too slow for operation on real-time camera video input. The python work can be done using pure OpenCV, which proves much quicker. Are you able to update your sample python code to match?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-

[2019-02-28 07:26] imeya commented on #25892
@CHEEKATLAPRADEEP-MSFT, do you mean one data lake only can be configured with one event hub? does any other body in the same subscription can change the configure?

[2019-02-28 07:32] harryzsh commented on #14287
It can be very help to share the project in GitHub and explain more about HttpCommunicationListener. How ProcessInternalRequest is executed

[2019-02-28 07:32] Grace-MacJones-MSFT commented on #25779
Hi @taromielnaz, do have any updates for us?

[2019-02-28 07:35] #25670 closed

[2019-02-28 07:35] #21992 closed

[2019-02-28 07:36] Grace-MacJones-MSFT commented on #25344
Hi @alexjebens, thanks for your patience. For your specific example, if 100 Users are connected and you used the /api/v1/hubs/{hubName} API to post 1 message to all users, it is broadcasting messages to 100 users, so the outbound message is 100, as a result, we count 100 messages. To learn more on how the connection is counted please see this [documentation.](https://docs.microsoft.com/en-us/azure

[2019-02-28 07:36] #25344 closed

[2019-02-28 07:51] bertrandpons commented on #25757
@CHEEKATLAPRADEEP-MSFT Yes good idea thank you. I will ask the quesiton in the forums.

[2019-02-28 07:57] Klaas- commented on #13195
@fhryo-msft whats the suggested way of automating it then? Directly on the api; using az-cli/powershell? From my understanding ARM should be a first class citizen to automatically deploy resources.

[2019-02-28 08:00] emilkontract commented on #24784
Okey, here's my code:

      "type": "Microsoft.Compute/virtualMachines/extensions",
      "name": "[concat(parameters('vmName'),'/Microsoft.Powershell.DSC')]",
      "apiVersion": "2018-06-01",
      "location": "[parameters('Location')]",
      "dependsOn": [
          "[concat('Microsoft.Compute/virtualMachines/', parameters('vmName'))]"
      ],
      "properties": {
          "publisher": "Mi

[2019-02-28 08:01] roelal commented on #25361
Thx, @ajlam . That sounds good. Can I follow that process anywhere? Was it announced?

[2019-02-28 08:12] SumanthMarigowda-MSFT commented on #25856
@jloughlinMSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-28 08:17] brandonh-msft opened #25915 "Example of how to fuzzy match to all words in a query"
Phrase searching is shown, and fuzzy matching is shown, but it's indicated you can't fuzzy match a phrase. Additionally fuzzy matching is only ever shown for _one_ term. It would be good to have an example of fuzzy matching _all_ terms of a query using the `~ AND` syntax (eg: `amsterdam~ AND international~ AND airport~`) will effectively do a fuzzy match on each word, and make sure the result set

[2019-02-28 08:18] CHEEKATLAPRADEEP-MSFT commented on #25757
@bertrandpons We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 08:18] #25757 closed

[2019-02-28 08:23] Morishiri commented on #25607
@SumanthMarigowda-MSFT We have some kind of Reverse Proxy (which is handling authentication) in front of CDN (which is hosting static website). CDN access is blocked for all IPs expect this Proxy so you are not able to reach it without authentication.

Unfortunately you are able to access this static website without authentication if you go via storage endpoint.

I was able to solve it via Virtual

[2019-02-28 08:24] Souvik04 commented on #25638
@RohitMungi-MSFT and @Zerryth Thanks for explaining it and the samples. I had previously looked into the Bot Builder samples github link. I was able to get the suggestions in the portal. The sample some amount of code which basically generated the Hero cards and takes the feedback. I was under the impression that I can simply query the knowledge base with QnAMaker library, specifying the **top** a

[2019-02-28 08:33] imeya opened #25916 "How to delete the metadata of a blob?"
I try to delete the metadata of a blob, I tried blockBlob.Metadata.Clear() as well as blockBlob.Metadata.Remove("key"), and also before delete them I add the blockBlob.FetchAttributes(). But the metadata of the blob still exists.

can you please let me how to delete the metadata of a blob? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-28 08:35] HansWieserMS opened #25917 "Can you please provide more guidance on DB vs container level provisioning"
Getting RU provisioning right is one of the most important tasks for customers. Could you please elaborate by adding a "When to use" section to both? e.g. address the challenge with normalized relational databases as a source and provisioning on a collection Level.
Please also explain how to combine the two. Do container provisioned RU reduce the RU provisioned at the database level containing the

[2019-02-28 08:37] shashishailaj commented on #25684
Closing as per the author's below comment in #25825 by @BryanLa .

 The pull request is to be merged to main branch after engineering review.

[2019-02-28 08:37] #25684 closed

[2019-02-28 08:47] taranais opened #25918 "Metadata Limit"
can we have multiple values with same key tagged to a QnA pair?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-e5dfadc8192b
* Version Independent ID: 21c3de87-8adb-aa2b-2fc7-f7db10315bee
* Content: [Limits and boundaries - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/az

[2019-02-28 08:47] RohitMungi-MSFT commented on #25913
@jtlz2 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-28 08:48] msrini-MSIT commented on #25910
@Jask2002, Thank you for your feedback. This issue is similar to [this](https://github.com/MicrosoftDocs/azure-docs/issues/15622) issue. The other issue which I mentioned is in progress. You will get an update soon. I will close [this](https://github.com/MicrosoftDocs/azure-docs/issues/15622) issue as duplicate, you can track this issue for update,

[2019-02-28 08:48] #25910 closed

[2019-02-28 08:51] YaraZakaria commented on #25857
Oh great! thank you for your quick reply

[2019-02-28 08:58] PramodValavala-MSFT commented on #25766
@bytejunkie They indeed sound contradicting. 😄

I believe together, the bullet points are trying to suggest setting the values at the time of creation and do not try setting them as part of automated deployment.

@alexkarcher-msft Could you confirm?

[2019-02-28 09:16] jakaruna-MSFT commented on #25133
@saifuddin123 is there any update?

[2019-02-28 09:16] dominicbetts commented on #25780
Hi @BradyWi - I'm going to request that this issue is closed - please feel free to reopen it if you have any follow-up questions. Thanks!
#please-close

[2019-02-28 09:17] DixitArora-MSFT commented on #25859
@melvincanafranca  Followed the below documentation and able to successfuly execute with out any issues with #r "Microsoft.Azure.EventHubs only.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs

Once the message prompted for installing the Microsoft.Azure.WebJobs.Extension.EventHubs , make sure to check the following extension has been added to your extensions.

[2019-02-28 09:29] jberezanski-mdg commented on #24853
Thank you! I don't expect to ever reach this limit with Service Fabric, I was just wondering, while planning the vnets, subnets and addressing of a broader system, whether this is a restriction I needed to take into account.

[2019-02-28 09:43] RohitMungi-MSFT commented on #25836
@tulasim88 Could you please check if the link can be updated to v4 version of bot SDK? It looks like aka.ms/qnamaker-docs-create-faqbot needs to be updated to point to the v4 version.

@FredRan I am assigning the issue to the content author to update the links if necessary.

[2019-02-28 09:45] satr opened #25919 "Property "Context.Properties" is not available since SDK 2"
As I understand - it is supposed to be used "Context.GlobalProperties" or specific initializers in ApplicationInsight.config (xml, json), correct?
"...removed interface IContextInitializer" https://azure.microsoft.com/is-is/blog/save-money-with-application-insights-web-sdk-2-0/
"Telemetry Initializers" http://apmtips.com/blog/2014/12/01/telemetry-initializers/
"Do Not Use Context Initializers" htt

[2019-02-28 09:55] AshokPeddakotla-MSFT commented on #25903
@hubez Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 09:56] iAmoric commented on #17737
@sergaz-msft I've solved my error following this: https://github.com/Azure/iotedgedev/issues/375 and this: https://github.com/Azure/iotedgedev/wiki/manual-dev-machine-setup

[2019-02-28 09:58] DashleenBhandari-MSFT commented on #25240
@abhishek-kumar-mishra Since I have not heard back from you, I will go ahead and close the issue. Please re-open the issue if you need further assistance.

[2019-02-28 09:58] #25240 closed

[2019-02-28 10:00] Klaas- opened #25920 "Question about reboot options during update"
* Does always reboot mean "always reboot if you installed updates" or does it actually mean "always reboot even when no updates were installed"
* How is "Reboot if required" working? Especially for Linux OSes how is it determined that a reboot is needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979

[2019-02-28 10:00] #25841 closed

[2019-02-28 10:00] Grace-MacJones-MSFT commented on #24950
@StingyJack thanks for your patience. Since you're using the webjob SDK you can utilize the ErrorTrigger binding. An ErrorTrigger  allows you to annotate functions to be automatically called by the runtime when errors occur. This allows you to set up email/text/etc. notifications to alert you when things are going wrong with your jobs. To see an example function, please see this [doc](https://gith

[2019-02-28 10:00] #24950 closed

[2019-02-28 10:08] blueelvis opened #25921 "Add a valid list of Facilities"
It seems that there is a valid list of facilities which is accepted by the OMS. Could you please add a list of facilities which are available in the documentation?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 335e48e2-7265-ac6e-f931-3a5d406f3d23
* Version Independent ID: 224b7842-f066-59da-07b3-9d70f8

[2019-02-28 10:12] SumanthMarigowda-MSFT commented on #25916
@imeya Thanks for the question! We are investigating and will update you shortly

[2019-02-28 10:13] SubhashVasarapu-MSFT commented on #25812
@vicperdana, we have assigned this to content author for better explanation. @cherylmc , could you provide your insights on this?

[2019-02-28 10:17] RohitMungi-MSFT commented on #25918
@taranais Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-28 10:26] RohitMungi-MSFT commented on #25837
@robert4os Could you please provide more details of the the discrepancy seen? Figure 2 seems to be an example correlation mapping for high accuracy between predicted vs true values.

[2019-02-28 10:26] NoorSK commented on #25665
Hi Micah,

Could you please explain about subscription and uses?

On Mon, 25 Feb, 2019, 11:17 PM SK Noor, <sknb87@gmail.com> wrote:

[2019-02-28 10:28] angoyal-msft commented on #25917
@HansWieserMS Thanks for your detailed feedback. I have assigned this issue to content author for further assistance.
@markjbrown Could you please update the document appropriately.

[2019-02-28 10:28] foodiecoder-lab commented on #25608
Try with noglob pip install --upgrade azureml-sdk[notebooks,automl] . The explanation of zsh and globbing ->https://github.com/MicrosoftDocs/azure-docs/issues/15893

[2019-02-28 10:31] briansboyd commented on #24767
Thanks for responding Mr. Ubezzi.  I eventually found, a couple weeks or so ago, that link you reference, and now understand why this won’t work for us.  That is, we really need to always get the latest version, so we’ll just query by Secret name.  Of course, it doesn’t say that explicitly in either of the two posts, even though that’s critical information.  In fact, it says:
After the secret is c

[2019-02-28 10:32] maganvill commented on #22676
@iainfoulds I have been digging some more. Adding extensive logging to external service in my container (container logs in kubernetes are deleted when pod is), I can see that SIGTERM _is_ sent but about 2 seconds after that the container is killed. This is regardless of the Job TerminationGracePeriodSeconds setting which I set to 1000 seconds. Is this expected?

[2019-02-28 10:43] shashishailaj commented on #25908
@dikadali Thank you for pointing out the same . We will investigate and update this thread accordingly.

[2019-02-28 10:50] ericbrunner commented on #25639
@anrothMSFT Still the same. Please see the screenshot. It's the casee when the model was created in Personal Account and Azure Subscription is in another default directory with same email address.

[2019-02-28 10:54] rkarlin commented on #25623
@ZachTB123 thanks so much for catching this. You're right, the product seems to be updated but we weren't aware of the change. Adding this to our list of documentation updates! thanks a lot!

[2019-02-28 10:57] rkarlin commented on #25623
#please-close

[2019-02-28 11:08] mikeclearbank opened #25924 "Diagnostic logs types"
Is there anywhere that lists the type of operation event that can be output. its hard to write LogAnalytic search queries if i dont know what the events are available

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4bfe6b-7c26-9f63-e1f1-03c02ed5963e
* Version Independent ID: c852c81e-7b9c-897b-371f-9640d1e26bb3
* Cont

[2019-02-28 11:10] Expecho commented on #24366
When it comes to step 5 (Customize target index) of section "Start importing data", it would be nice to have a multi select option to delete multiple fields in once. Most of the times I am not interested in the blob metadata field and I have to delete them one by one.

 Or make an option to only include content fields in the first step. When I select Blob Storage as a source I can not choose Conte

[2019-02-28 11:11] Expecho opened #25925 "Some improvements"
When it comes to step 5 (Customize target index) of section "Start importing data", it would be nice to have a multi select option to delete multiple fields in once. Most of the times I am not interested in the blob metadata field and I have to delete them one by one.

Or make an option to only include content fields in the first step. When I select Blob Storage as a source I can not choose Conten

[2019-02-28 11:15] raluca256 opened #25926 "More clear information is needed regarding the source IP used by the IBC to write on the remote share"
The phrase "You need a file share accessible from Azure Stack that can contain seven backups." is not clear enough.
We need to know what is the IP that will be used by the IBC to access the remote share. I don't think that is a good security practice to allow all the public IP range used by Azure Stack to access an internal fileserver on port 445. Some guiding regarding how the admins can detect t

[2019-02-28 11:16] DClark-Landmark commented on #25639
Works for me now ... thank you for the quick response (New Microsoft :) )

[2019-02-28 11:36] PramodValavala-MSFT commented on #25912
@imeya On clicking a row for one of the executions, you should see a new blade called `Invocation Details` slide in from the right with the logs.

[2019-02-28 11:37] SadiqhAhmed-MSFT commented on #25664
@anas1986 Your query needs a deep dive technically and can be best answered over a public forum. Please create a forum thread with issue details.

FYI this channel is reserved for queries related to doc-feedback, doc-enhancement and doc-bugs.

[2019-02-28 11:47] femsulu commented on #25624
@amanjee  really good feedback. The scope of this conversation is much larger than this document but adding @bwren for visibility. We will need to take this offline to determine next best course of action. Please send mail to AzCommunity@microsoft.com to continue the conversation.

[2019-02-28 11:47] #25624 closed

[2019-02-28 11:48] shashishailaj commented on #25249
@cherylmc Could you please check if there is any internal document related to Expressroute usage with AzureAD which could be made public. ?

[2019-02-28 11:53] miss-tech opened #25928 "Is this an OR or AND statement?"
"The number of named locations you can configure is constrained by the size of the related object in Azure AD. You can configure:

One named location with up to 1200 IP ranges.
A maximum of 90 named locations with one IP range assigned to each of them."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-

[2019-02-28 12:02] BartoszPorebski opened #25929 "Reasons for unavailability"
I observed that some machines (F_v2) are available in some subscriptions but not in others (in the same location: West Europe). I want to understand the underlying process of hardware clusters allocation, but cannot find any information on that. Are you able to help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ad

[2019-02-28 12:05] miss-tech opened #25930 "What exactly does this category contain?"
We have found that using this category blocks login to Visual Studio, and also blocks login to PowerApps and B2B connectors. Is there a definitive list of what this category contains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221733cf-3951-3fb4-12cc-486ef43d8d16
* Version Independent ID: d1b33f3f-9b93-b06e-bb4a-67

[2019-02-28 12:11] djaus2 commented on #23650
ok thx

[2019-02-28 12:11] femsulu commented on #25686
@tfitzmac any input on this?

[2019-02-28 12:14] #23650 closed

[2019-02-28 12:18] Lemraj commented on #25541
@femsulu & @BryanTrach-MSFT : This link is still broken!

[2019-02-28 12:25] ChiragMishra-MSFT commented on #25924
@mikeclearbank Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-28 12:31] femsulu commented on #25541
@Lemraj I just confirmed again, from multiple clients, that the broken link works as expected. Can you send me a screenshot of what you see? Perhaps try deleting cache or using an InPrivate browsing session to see if that helps.

[2019-02-28 12:36] Lemraj commented on #25541
@femsulu I tried that also!
Visit the page:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/role-based-access-control-tenant-admin-access.md
This page is a link found on the page:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/grant-access-to-create-subscription.md
![image](https://user-images.githubusercontent.com/10677560

[2019-02-28 12:48] Anmolgan81 opened #25931 "How can this be configured using Powershell?"
How can we setup an ESP cluster using powershell, are there any examples or modules that can help us build this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5519b89-2f5c-8f9a-4de2-34d350b084cf
* Version Independent ID: 8690418c-79d4-d288-685f-5a103c32d17d
* Content: [Enterprise Security Package configuration using

[2019-02-28 12:52] Ayanmullick opened #25932 "PowerShell Steps"
Please share PowerShell steps to domain-join.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c16b61-15ac-f9ad-f001-ecf223074dea
* Version Independent ID: 6cef5cf6-b524-e70f-5882-f5304a6d6f26
* Content: [Azure Active Directory Domain Services: Join a RHEL VM to a managed domain](https://docs.microsoft.com/en-us/azure/

[2019-02-28 12:53] anas1986 commented on #25664
Noted. Thank you Sadiqh.

[2019-02-28 12:54] richardharrison2 opened #25933 "Support for querying resource groups?"
Hi,
I wanted to try and query across all my resource groups but this doesn't seem to be possible - there is no type of 'resourcegroup' (or anything similar) - so for example

 Search-AzGraph -Query "project name, location, type| where type contains 'resource' "
or
 Search-AzGraph -Query "project name, location, type| where type contains 'group' "

returns nothing of that type - so if i want to loo

[2019-02-28 13:16] AjayKumar-MSFT commented on #25891
@markoriver, Thank you for posting your question here! To better assist you, could you please share the document that you’re referring to?

[2019-02-28 13:20] jjgriff93 commented on #24856
Thanks @SnehaGunda, yes I've used that and it certainly helps - think it would be beneficial for our customers to have access to this via our Docs as well with a walkthrough of how to get it up and running and what each part of the code is doing

[2019-02-28 13:21] AjayKumar-MSFT commented on #25905
@hastikpatel, Thank you for posting your question here! Could you please share the document that you’re referring to?

[2019-02-28 13:27] dombat opened #25934 "How does this change affect Azure Devops?"
I seem to have multiple Azure logins all created by my employer and want to move to consolidate under our corporate Microsoft EA account. I have have Azure Devops with several team members & repos which is currently under my "personal" Microsoft account. I am the organisation owner in Azure Devops. What will happen to Azure Devops if I move subscription directory?

---
#### Document Details

⚠ *Do

[2019-02-28 13:30] AjayKumar-MSFT commented on #25735
@snmn, Refresh of this doc (and related) is forthcoming. We will close this out, but if you feel you need more information please just let us know.

[2019-02-28 13:38] DCtheGeek commented on #25933
@richardharrison2 Thanks for the question!  Currently in the Public Preview, Resource Graph doesn't include the **resourceGroups** type. If you'd like this capability, our ask is for you to vote for it on the ["query any types" UserVoice item](https://feedback.azure.com/forums/915958-azure-governance/suggestions/35847910-ability-to-query-for-any-resource-type-in-azure-re). The team uses the produc

[2019-02-28 13:41] VDanylevskyi commented on #25466
I have the same problem. I cannot start using WNS, because I cannot get secret. When I am receiving en error:
`The application no longer exists, or is not associated with your account.
Error Info:  Thu, 28 Feb 2019 13:40:21 GMT | qcCme | QW4SP `
Documentation is old and do not provide enough information how to add WNS to already existed app in store.

[2019-02-28 13:47] androidand commented on #23005
After my rant yesterday we sat down and actually build a proof of concept of using a websocket client in Python to connect to SignalR service. I could share the example, however I thing you guys should provide easy examples on how to connect with for example a websocket client. One major reason is that SignalR is not an industry standard but websockets are.

[2019-02-28 13:49] jloughlinMSFT commented on #25856
Thank you

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Thursday, February 28, 2019 3:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Loughlin <joloughl@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] unclear group assignments (#25856)

@jloughlinMSFT<https://nam06.safelinks.protection.outlook.com/?url=https%3

[2019-02-28 13:55] AshokPeddakotla-MSFT commented on #25933
Thank you David!
@richardharrison2 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 13:55] #25933 closed

[2019-02-28 14:11] YouGamers opened #25936 "No module named 'azure'"
I tried the example and I am met with "No module named 'azure'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec7-a94d-02c354d1ae33
* Content: [Azure Quickstart - Create a blob in object storage with Python](https://docs.microsoft.com/en-us/

[2019-02-28 14:11] StingyJack commented on #24950
@Grace-MacJones-MSFT - the link is to a repo, and ErrorTrigger is not what I mean, i think.

A webjob is going to be initiated by some kind of Trigger, but not an ErrorTrigger. For example a TimerTrigge - the timer comes due and the method with that trigger is executed. During the course of that singular execution if an error occurs, how can that be reported as a failure?  The general paradigm is

[2019-02-28 14:17] SimonLuckenuik opened #25938 "Is there a way to downgrade from V2 to V1?"
We are looking for a way to transparently downgrade from V2 to V1 to lower our costs. Is there any way to rollback the procedure above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf5c2f8-d961-6460-194e-caa06ecfafa6
* Version Independent ID: 29c0ec30-d312-9e9f-0bff-8c5e6b7eb907
* Content: [Upgrade to a general-purp

[2019-02-28 14:23] mathieu-benoit commented on #25884
@SadiqhAhmed-MSFT thanks, will do. I'm wondering if based on the answers we could update accordingly this doc to be more explicit, let's see...

[2019-02-28 14:33] YASWANTHM-MSFT commented on #25936
@YouGamers , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-28 14:34] YASWANTHM-MSFT commented on #25938
@SimonLuckenuik, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-28 14:40] pvrk commented on #25477
Thanks @james-hilliard-3 for elaborating.
I hope these edits meet the requirement.
#please-close

[2019-02-28 14:45] SubhashVasarapu-MSFT commented on #25842
@akhil-yalagonda , Appreciate your patience. I was able to reproduce the same with out any issue.
![image](https://user-images.githubusercontent.com/44890829/53574079-dcf8c400-3b94-11e9-94c6-5098216f9f21.png)
Kindly requesting you to try again.

[2019-02-28 14:50] CeciAc opened #25939 "Unknown step "Train a local model" appear in Azure notebooks"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/363)

根据以上教程打开Azure notebooks的 Getting started&gt;tutorials&gt;img-classification-part1-training.ipynb中，未知步骤"Train a local model"出现在步骤“Upload data to the cloud”与“Train on a remote cluster”之间，与说明文档顺序不符。且在逐步运行时，“"Train a local model"中的代码无法正常运行。必须跳过Train a local model直接运行Train on a remote cluster部分才能正常运行。

[2019-02-28 14:51] CeciAc commented on #25939
Hi team,
User is making a suggestion on the original documentation
Rough Translation:

[2019-02-28 14:52] mitch-b commented on #24964
Sorry for the delayed response and thanks for everyone's feedback. We have decided to just run two databases on a SQL Server instance in our production subscription, and our Dev/Test assets will point to the database in production subscription. Then we can easily use `New-AzureRmSqlDatabaseCopy` in an Azure automation runbook to easily restore/refresh data.

The goal for us was following [KISS](ht

[2019-02-28 14:53] jelmerS2 opened #25940 "Unclear"
Having some trouble understanding what is meant with:
this.localAnchor.AddARAnchor();
localAnchor is not defined, what is it? And what does AddARAnchor(); do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ae8b39-161a-2042-8f61-a344cf115a05
* Version Independent ID: a22f1476-b3be-37f0-a55e-398ca36a9d41
* Content: [Cr

[2019-02-28 14:54] SubhashVasarapu-MSFT commented on #25842
@akhil-yalagonda , Appreciate your patience. You can see the logs under Blob service --> Blobs --> Insightslogs.
![image](https://user-images.githubusercontent.com/44890829/53574929-97d59180-3b96-11e9-8316-8629545bccf7.png)
The doc might not been updated from containers to blobs @jimdial can you please provide your insights on this ? Thanks in advance.

[2019-02-28 14:56] #25851 closed

[2019-02-28 14:58] CeciAc opened #25941 "Internal LoadBalancer Pricing"
@matheus-santoro commented on [Tue Feb 26 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/216)

Hello

https://azure.microsoft.com/en-us/pricing/details/load-balancer/ says that "Load balancing between Virtual Machines that reside inside of a Virtual Network (Internal Load Balancing) is free of charge."
The Azure calculator, though  does not specify these options, only the SKU.

Doe

[2019-02-28 15:00] CeciAc commented on #25941
Hi team,
I'm moving this here since the contributor reports the documentation is ambiguous about this issue
best

[2019-02-28 15:01] threesixfour opened #25942 "Please Document Error 90051"
Getting this error: AADSTS90051: Invalid Delegation Token. Invalid national Cloud ID (0).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory porta

[2019-02-28 15:14] CeciAc opened #25943 "Step "Identify Azure Subscriptions" has doubts"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/366)

可否像视频中那样做个更详细的说明

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* Version Independent ID: 48d350ca-0ef8-3500-57ae-a5ec6c36ac79
* Content: [通过 Azure 门户快速入门 - Azure Machine Learning service](https://docs.microsoft.com/zh-cn/azure/m

[2019-02-28 15:15] nabhishek commented on #24714
Steps:
1. Create a Lookup activity, under settings create/ select a _SQL Server/ Azure SQL DB/ Azure SQL DW dataset_ (this server should contain the SProc, select any table in the dataset UI as actual SProc will be selected in Lookup Activity).
2. In lookup activity under _settings -> use query -> stored procedure_. Under 'Name' dropdown select the SProc. Click on Preview to do a test execution.
3

[2019-02-28 15:16] CeciAc commented on #25943
Hi team,
I'm moving this here since the user is suggesting more detailed explanation

Rough translation

[2019-02-28 15:19] KalleHallivuoriFuturice opened #25944 "Missing /var/lib/waagent/ManagedIdentity-Settings"
Where should I look to solve this error?

open /var/lib/waagent/ManagedIdentity-Settings: no such file or directory

I've installed walinuxagent and linux-tools-azure chain, but alas, no ManagedIdentity-Settings shows up on a VM nor in Google searches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc735029-aa18-3d0e-5

[2019-02-28 15:23] shashishailaj commented on #25928
@miss-tech Thank you for your query. We will investigate and update this thread further.

[2019-02-28 15:24] CeciAc opened #25945 "Step "open the notebook" has doubts"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/365)

第一次阅读时无法理解“工作区页”是什么。可否截图更大些并指出哪里是工作区页部分（像视频中那样截图，或像英文版网页https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-get-started那样截图）。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* Version Independent ID: 48d350c

[2019-02-28 15:25] shashishailaj commented on #25930
@miss-tech Thank you for your query. We will investigate and update this thread further.

[2019-02-28 15:26] robert4os commented on #25837
Well, the predicted value is alway 0, not matching the true value. So the
model is hardly accurate.

RohitMungi-MSFT <notifications@github.com> schrieb am Do., 28. Feb. 2019,
11:26:

[2019-02-28 15:26] CeciAc commented on #25945
Hi team,
I'm moving this here since the user is making suggestions on the original documentation
Rought translation:

[2019-02-28 15:27] shashishailaj commented on #25932
@Ayanmullick Thank you for your query. We will investigate and update this thread further.

[2019-02-28 15:29] shashishailaj commented on #25934
@dombat Thank you for your query. We will investigate and update this thread further.

[2019-02-28 15:31] shashishailaj commented on #25942
@threesixfour Thank you for your feedback . We will have this reviewed and get the document updated accordingly.

[2019-02-28 15:32] shashishailaj commented on #25944
@KalleHallivuoriFuturice Thank you for your query. We will investigate and update this thread further.

[2019-02-28 15:34] tamram commented on #25938
@SimonLuckenuik - Can you tell us more about how you are looking to reduce costs? The V2 storage account should be less costly for many scenarios than V1.

The migration to a V2 storage account cannot be undone. You can see this in the portal prior to upgrading a V1 account, on the Configuration page. I'll update the docs to make this more clear.

[2019-02-28 15:35] CeciAc opened #25946 "How to model and put into production with Azure Machine Learning Service"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/370)

这也许有助于用户理解：
从拥有数据到将机器学习模型投入生产，对于Azure机器学习来说是一个非常直接的过程。总的来说，它只包含几个步骤：
1.将数据导入系统或使数据可访问
2.为您的模型编写代码，任何支持的框架（pytorch、tensorflow、scikit-learn等）
3.在Azure Batch AI、DSVM（数据科学虚拟机）、Kubernetes（通过Azure Kubernetes Service）或本地训练您的模型
4.Azure Machine Learning会将模型输出的开发存储在Blob存储中
5.对于这些开发，我们将让Azure Machine Learnin

[2019-02-28 15:36] CeciAc commented on #25946
Hi team,
I'm moving this here since the contributor is making suggestions on the original documentation
Rough translation:
This may help the user understand:
From owning data to putting machine learning models into production is a very straightforward process for Azure machine learning. In general, it only contains a few steps:
1. Import data into the system or make the data accessible
2. Write co

[2019-02-28 15:48] HeidiSteen commented on #25925
@Expecho I can pass this on to the product team, but it will probably get lost in email over time.  The best way to communicate the need for feature improvement is UserVoice where people enter an item and votes get collected around each one.  I promise you the feature teams look at User Voice all the time when planning improvements.

Here is the link:
https://feedback.azure.com/forums/263029-azure

[2019-02-28 15:49] pvrk commented on #15458
Closing this since we were not able to re-pro and didn't get access to the relevant machine
#please-close

[2019-02-28 15:50] ealsur commented on #24767
@briansboyd Thanks for your feedback.

As the article explains and you confirm, the automatic mechanism takes a secret Url with a particular version. But the article also mentions this:

This is a preview and the inclusion of version rotation is in their roadmap.

If you want to directly connect with Key Vault you can use the Azure Key Vault client within Azure Functions, obtain your secret, and u

[2019-02-28 15:53] CeciAc opened #25947 "It is recommended to add Azure Portal - Machine Learning Service Workspace - Introduction to Applications"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/369)

建议添加Azure门户-机器学习服务工作区-应用程序的介绍噢。
比如：
试验 - 这些是我们训练和测试模型的地方。我们用一个试验来尝试解决一个问题，或者针对一个机器学习算法来创建一个试验。
管道 - 管道用于创建和管理将机器学习阶段拼接在一起的工作流。包括数据准备、模型训练、模型部署和推断等各种机器学习阶段。
计算 - 这些是在Azure中训练我们的模型的计算目标。
模型 - 我们训练模型的输出文件。
图像 - 包含我们模型的打包/容器化版本的容器映像，可供部署。
部署 - 我们部署的模型，在Azure Container Instances上， Azure Kubernetes Serv

[2019-02-28 15:55] subodhpatil opened #25948 "Any plan to support third party managed keys."
It seems that both Azure Storage and Key vault needs to be under same AD tenant. E.g. I login to Azure subscription S1 using my corp id as  abc@company1.com and  my customer who is XYZ and also has Azure subscription wants to manage the keys of my storage account.  So it pqr@XYZ.com does not have any option to control the keys. Is there a plan to do so ?

---
#### Document Details

⚠ *Do not edit

[2019-02-28 15:56] amandadebler commented on #17907
@TravisCragg-MSFT There seems to be no way to remove a delegation from a subnet using the CLI:

az network vnet subnet update -g vnetResourceGroupName --vnet-name vnetName --name subnetName --delegations ''
az network vnet subnet update: error: argument --delegations: expected at least one argument

az network vnet subnet update -g vnetResourceGroupName --vnet-name vnetName --name subnetName --del

[2019-02-28 15:57] amandadebler commented on #25771
On-prem: 10.0.0.0/8
Azure connected VNet: 10.115.0.0/18
Subnet for AKS cluster: 10.115.13.0/24 (has UDR enabled)
Subnet for ACI: 10.115.12.0/24 (has UDR entry removed)

Our networking team insists on UDR being applied at the subnet level, so until ACI is able to use subnets with UDR set, this is not a viable solution for us - I had to stop the trial and set UDR back on the ACI subnet (attempted af

[2019-02-28 15:57] Klaas- commented on #25920
Also output of the automation script will always show: "rebootSetting": "IfRequired" - no matter what I have set in UI

[2019-02-28 15:58] CeciAc commented on #25947
Hi team,
I'm moving this here since the contributor is making suggestions on the original documentation
Rough translation:

[2019-02-28 16:03] ystrte commented on #25742
I resolved the issue.

The policy expression can not parse all characters in client_secret. Not sure which ones, probably +, /, \.

I resolved it by generating a new secrets.

[2019-02-28 16:06] KalleHallivuoriFuturice opened #25950 "How to get the msiEndpoint now that ManagedIdentity-Settings is gone?"
I have software (Hashicorp Vault) that fails to co-operate with Azure AD now that /var/lib/waagent/ManagedIdentity-Settings apparently is no longer in place, even though following packages are installed on Ubuntu:16.04:
- walinuxagent
- linux-tools-azure
- linux-tools-azure-edge
- cloud-init

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-02-28 16:07] brianbar-MSFT opened #25951 "SSD Cache in West US 2"
"The last two weeks of data are also stored in SSD-based cache and this cache is encrypted, except in the following regions:

West US 2"

Is this still correct for West US 2? Since we announced this: https://azure.microsoft.com/en-us/updates/azure-log-analytics-is-now-available-in-westus2/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-02-28 16:08] HeidiSteen commented on #25925
@Expecho  One more thing -- I just ran the Import Data wizard to see if all the fields are added to the collection if I clear all the attributes.  They are.  GET INDEX shows all of the fields from the collection.  Having said that, the index is basically empty so the extra unused fields are not consuming storage.  The only values stored as the ones from fields marked Searchable, Filterable, or Ret

[2019-02-28 16:10] HeidiSteen commented on #25915
@brandonh-msft  Thank you, this is a really good suggestion.  I'll take this as a work item and circle back on this thread with the PR.

[2019-02-28 16:14] CeciAc opened #25953 ""View recorded values" step has doubts"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/368)

emm...为什么我的title一定要加英文才能提交反馈呢...纯中文标题提交会报错
"1.run 单元的输出..."步骤的截图有点令人费解。这个截图似乎不是这个方法的，而“您可以通过直接在Azure门户——机器学习服务工作区面板中查看实验”。（可否像英文版网站https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-get-started中步骤那样截图）

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

[2019-02-28 16:14] sunilprabha opened #25954 "Is there a limit how many Vnet rules that can be added"
Currently I have one Vnet rule that allows our prod VM to communicate with a subnet. I want to add a separate sub net where our dev test server are running  that I want  to communicate to this Mysql  server. From UI it lets me add , but want to check for experts that adding this new rule and subnet will not cautions any issues to  our prod rule

---
#### Document Details

⚠ *Do not edit this secti

[2019-02-28 16:14] CeciAc opened #25955 "emm.."查看所记录的值"步骤有疑惑"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/368)

emm...为什么我的title一定要加英文才能提交反馈呢...纯中文标题提交会报错
"1.run 单元的输出..."步骤的截图有点令人费解。这个截图似乎不是这个方法的，而“您可以通过直接在Azure门户——机器学习服务工作区面板中查看实验”。（可否像英文版网站https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-get-started中步骤那样截图）

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

[2019-02-28 16:14] sladeedmonds opened #25956 "Script does not work as expected"
I am using az cli 2.0.59 on the Linux platform.

The below step works:
# Create a SQL API Cosmos DB account with session consistency and multi-master enabled
az cosmosdb create \
    --resource-group $resourceGroupName \
    --name $accountName \
    --kind GlobalDocumentDB \
    --locations "South Central US"=0 "North Central US"=1 \
    --default-consistency-level "Session" \
    --enable-multip

[2019-02-28 16:14] YaraZakaria opened #25957 "Hi. I followed the steps in this tutorial, and I deployed and tested the web service however i don't understand the "access part". how exactly do we do that? doesn't mean that if someone is outside the azure portal, he can use the service? but how? Thank you in advance !"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d73d2c-7862-8b41-9266-7174c9bc9a37
* Version Independent ID: 39d5b95f-d3b8-8eb9-0f27-a6442328eada
* Content: [Tutorial 3: Deploy credit risk model - Azure Machine Learning Studio](https://docs.microsoft.com/en-us/azure/machine-learning/studio/tutori

[2019-02-28 16:16] CeciAc commented on #25953
Hi team,
I'm moving this here since the contributor is making suggestions on the original documentation (and also reporting GH Issues not being able to write the whole title in Chinese)

Rough Translation

[2019-02-28 16:17] ellacroi commented on #25884
@qianw211 Looks like a question for us to take to Lu. I'll copy you on the email.

@mathieu-benoit we are checking with the service owner and will update accordingly.

[2019-02-28 16:19] craigsmitham commented on #25506
@kobulloc-MSFT this is very helpful - thank you! It was not obvious or documented how to do this (only the failures were demonstrated in the docs). Very good to know!

[2019-02-28 16:19] chaddaignault opened #25959 "Please Document Error 7000218"
Getting this error: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error co

[2019-02-28 16:20] ellacroi commented on #14050
#please-close as dev center FAQs have been updated

[2019-02-28 16:22] LMtx opened #25960 "ERROR: Error during pull for image mcr.microsoft.com/azureiotedge-hub:1.0 : 500 Server Error"
When following this guide I got following error at _"Build and debug single C# module"_ 2. :

[code]

My setup:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version Independent ID: 3eff6d45-cf8b-4546-166d-16198c736f13
* Content: [Develop and debug C# modules in Visual Stu

[2019-02-28 16:22] CeciAc opened #25961 "can increase the experiment introduction?"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/367)

可否简单介绍一下实验，如该实验用来估算pi的值，并将估算准确性的指标记录到运行历史记录中.....

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* Version Independent ID: 48d350ca-0ef8-3500-57ae-a5ec6c36ac79
* Content: [通过 Azure 门户快速入门 - Azure Machine Learning service](https:/

[2019-02-28 16:23] CeciAc commented on #25961
Hi team,
I'm moving this here since the contributor is making a suggestion on the original documentation
Rough translation:

Can you briefly introduce the experiment, such as the experiment used to estimate the value of pi, and record the accuracy of the indicator into the running history.....

[2019-02-28 16:33] sergaz-msft commented on #17737
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-28 16:33] #17737 closed

[2019-02-28 16:33] #25895 closed

[2019-02-28 16:36] mgfink opened #25962 "Clarification of "Add path-based rule configuration" dialogue"
I've noticed that when I do this for multiple listeners I need to use a distinct name for the rule's "sub" configuration.  For instance, if I create a path-based rule with a configuration called "Redirect" to send traffic destined for "/foo" on my app to some other site and create a different path-based rule on the same app gateway I can't use the same configuration name.  If I end up reusing "Red

[2019-02-28 16:38] mgfink commented on #25962
![image](https://user-images.githubusercontent.com/7385767/53582330-dfcbc880-3b44-11e9-8331-e730007cd7d0.png)

If I create a configuration in another rule with the same name (ie. Redirect) it will overwrite the original.

[2019-02-28 16:44] blouwagie opened #25963 "Please indicate what to do for "common errors""
Hi,

When I try to run the command above I get an error below. Maybe you can indicate this case as "when you see an error such as the one below, you may want to do xxxx"
Documentation that also handles things when not everything works as expected is really more helpful than documentation that assumes all is just working..

Maybe it is in my case that the command first needs to be edited to add the

[2019-02-28 16:54] sergaz-msft commented on #21449
See also: https://docs.microsoft.com/en-us/azure/azure-maps/how-to-render-custom-data

[2019-02-28 16:54] BharathNimmala-MSFT commented on #25919
@satr Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-02-28 16:58] CarlRabeler commented on #24964
@mitch-b thanks for your response and communicating how you have decided to accomplish your goal

[2019-02-28 17:01] marcosgm opened #25964 "Unclear explanation: Managed labs vs Unmanaged labs with DevTest Labs?"
In https://docs.microsoft.com/en-us/azure/lab-services/lab-services-overview#managed-lab-types-vs-devtest-labs it says "You can create two types of labs: managed lab types with Azure Lab Services and labs with Azure Lab Services."
Shouldn't it say "two types: managed labs (…) and unmanaged labs with Azure DevTest Labs?
This section is way more clear https://docs.microsoft.com/en-us/azure/lab-servi

[2019-02-28 17:07] dineshmurthy commented on #19893
apologies for the delay in responding. I did not realize this was assigned to me.
In abfss://<file_system>@<account_name>.dfs.core.windows.net/
<file_system> refers to the container in the hierarchical-namespace-enabled storage account (ADLS Gen2) that is configured as a Hadoop filesystem. for more information, please check out our documentation. https://docs.microsoft.com/en-us/azure/storage/blob

[2019-02-28 17:08] JasonWHowell commented on #25900
@hubez is the Stream Analytics job configured to run in the cloud, or on the edge?

[2019-02-28 17:10] cephalin commented on #23225
@rbhadti94 Thanks for offering your feedback. We'll consider this for our documentation updates. For now I'm going to close this issue. #please-close

[2019-02-28 17:11] JasonWHowell commented on #25900
@hubez seems like this is a limitation of jobs configured to run on the edge.
![image](https://user-images.githubusercontent.com/5067358/53584585-c9b80b00-3b38-11e9-9415-a764c11c455a.png)

[2019-02-28 17:12] nhoomtham opened #25965 "I was struggle in section 'Set up an Azure Pipelines release'"
Now Azure DevOps being used so I lost some track to follow your instruction regarding to create the release as Azure DevOps did not have the option for 'Azure Resource Group Deployment'. I did try another option but did not work as guideline.
Could you update the guide, I am quite keen to implement this to my project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-02-28 17:15] Blackbaud-ChrisBlythe opened #25966 "Plans to add Java dependency tracking support for CosmosDB, ServiceBus, etc.?"
Are there any plans to add the necessary instrumentation to the Java Application Insights SDK for tracking common Azure dependencies like CosmosDB, ServiceBus, EventHub, etc.?

CosmosDB is already listed as a supported dependency in the .NET SDK and it would be nice see (at least) parity on the Java-side (especially if the goal is to drive more adoption of Application Insights for Java apps hosted

[2019-02-28 17:20] bandersmsft commented on #25867
#in-process

[2019-02-28 17:20] dineshmurthy commented on #23546
this has been fixed.  please let me know if there is still an error.

[2019-02-28 17:21] dineshmurthy commented on #23546
#please-close

[2019-02-28 17:21] dineshmurthy commented on #19893
#please-close

[2019-02-28 17:23] bandersmsft commented on #25890
@ghejman You're right, of course. Thanks for catching this! I'll update the article.

[2019-02-28 17:23] Mike-Ubezzi-MSFT commented on #25954
@sunilprabha Thank you for the detailed inquiry. Are you planning on making this a temporary configuration or a permanent configuration item? Just because you can doesn't mean you should and I don't know your environment thoroughly. I suggest you have the means to test your network routing before and after this change is made, and be prepared to roll-back the change if unforeseen issues arise.

[2019-02-28 17:25] garyericson commented on #20470
@HenrikTurbell - Thank you for your feedback, and I apologize that it's taken so long to respond. We've been working on rewriting this article, and reviewing all the products that are listed. At this time, we've decided not to include libraries and other tools in this article, like ONNX, but instead to focus on higher-level products and services delivered by Microsoft. We'll see what value users g

[2019-02-28 17:30] Mike-Ubezzi-MSFT commented on #25956
@sladeedmonds Thank you for taking the time to detail this feedback. I have assigned this to the content owner to evaluate and update the documentation as appropriate.

[2019-02-28 17:31] CeciAc opened #25967 "A bug in the code"
@syhuh commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/323)

There is a bug in the code of 'View the results' section

' for p in predictions[0]:' should be 'for p in predictions:'

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421

[2019-02-28 17:37] Mike-Ubezzi-MSFT commented on #25956
@SnehaGunda for awareness.

[2019-02-28 17:38] tfitzmac commented on #25686
@paulio-git - the schema 2018-05-01 is valid and the one to use for subscription-level deployments. However, you must use the new commands az deployment create or New-AzDeployment (or New-AzureRmDeployment). The PowerShell script in your VS project may be using New-AzureRmResourceGroupDeployment which won't work with subscription deployments.

[2019-02-28 17:39] CeciAc commented on #25967
Hi team,
I'm moving this here since the user is reporting an issue in the code box

[2019-02-28 17:44] JasonWHowell commented on #25900
@mamccrea Can you please check with the right folks, and adapt the doc to include the edge configuration.

[2019-02-28 17:45] alexkarcher-msft commented on #25766
Yeah, the wording is definitely not the most clear :)

It should read something to the tune of "Do not **modify** these settings when using automated deployments."

[2019-02-28 17:47] spelluru commented on #25964
@marcosgm - DevTest Labs is a service and some customers were expecting "Managed Labs" to be a name of another service. Therefore, we had to use the term "Managed lab types".

@tanmayeekamath to review.

[2019-02-28 17:51] YutongTie-MSFT commented on #25946
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson Hi Gray, there is a suggestion about add more details how to model and put into production with Azure Machine Learning Service, could you please check it and update the document as necessary? Thank you!

[2019-02-28 17:57] YutongTie-MSFT commented on #25939
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 17:58] YutongTie-MSFT commented on #25945
@CeciAc Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 18:02] YutongTie-MSFT commented on #20470
@HenrikTurbell
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-28 18:02] #20470 closed

[2019-02-28 18:05] BryanTrach-MSFT commented on #25925
@Expecho We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-28 18:06] #25925 closed

[2019-02-28 18:06] bastyuchenko opened #25968 "Using AppPassword for an authentication to outlook.office365.com mail box in .NET"
I generated AppPassword for my account and want to acquire an access token to authenticate to my mailbox in outlook.office365.com. I tried to use the following code
var _authContext = new AuthenticationContext(authorityFormatString);
            _authContext.AcquireTokenAsync("https://graph.windows.net", clientID, new UserPasswordCredential(emailAdress, emailPassword));
It does not work - I receiv

[2019-02-28 18:08] CHEEKATLAPRADEEP-MSFT commented on #25931
@Anmolgan81 Currently, you can create Azure HDInsight Enterprise Security Package using Azure Portal.

**Reason:** When you create a HDInsight cluster with ESP, you must supply the following parameters: which cannot be done via powershell.

**Cluster admin user:** Choose an admin for your cluster from your synced Azure AD-DS. This domain account must be already synced and available in Azure AD-DS.

[2019-02-28 18:08] markjbrown commented on #22907
We are actively working on updating our SQL Language Reference article. Will update here when the updates are published. Thanks.

[2019-02-28 18:09] ColeShepherdAG commented on #24239
@angoyal-msft I think we should get a response to our latest comments before the thread is closed...

Have you confirmed that there are no metrics for **only** the database created using the "Read scale-out" feature of premium/business tier Azure SQL databases (not including the primary read/write database)? If so, are there any plans to add these metrics to the Azure portal? Can you at least add

[2019-02-28 18:09] markjbrown commented on #23260
I will be submitting a PR on this today. Should be merged by tomorrow. This issue can be closed.

Thanks.

[2019-02-28 18:10] Mike-Ubezzi-MSFT commented on #12163
@Tajjun @jeffpatton1971 The best option here is to make a product recommendation on the [User Voice forum](https://feedback.azure.com/forums/258995-azure-backup?query=powershell). There were multiple requests for PowerShell functionality. Please look through any of the completed requests to see if there is a solution there. If not, please make a new request or up vote and comment on an exisitng en

[2019-02-28 18:13] Mike-Ubezzi-MSFT commented on #12163
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 18:13] #12163 closed

[2019-02-28 18:14] MicahMcKittrick-MSFT commented on #25926
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 18:14] markjbrown commented on #23875
Lazy mode performs updates to the index at a much lower priority level when the engine is not doing any other work. Because of this query performance can be highly unpredictable. It can also result in higher cost queries because the query engine has to do more work because it can't answer the query from the index. For these reasons we recommend against customers using it.

I will be submitting a P

[2019-02-28 18:15] MicahMcKittrick-MSFT commented on #25960
@LMtx please provide us with the link to the document you are following so we can better asssist

[2019-02-28 18:16] MicahMcKittrick-MSFT commented on #25963
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 18:17] Mike-Ubezzi-MSFT commented on #12163
Document metadata has been updated with latest content owner details. Updated this issue with latest doc details to reflect changes.

[2019-02-28 18:18] CeciAc opened #25969 "Permissions needed for Run Command incorrect"
@meizenga commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/230)

The documentation states that the Contributor role of higer is needed. In fact you need the Virtual Machine Contributor role.
We had users with the Contributor role on Subscription/Resource Group level, but thats not sufficient to use Run Command.
After we also granted the Virtual Machine Contri

[2019-02-28 18:18] MicahMcKittrick-MSFT commented on #25866
@TechTrooper thanks for reaching out and closing this out. If you have further issues just let us know.

[2019-02-28 18:19] CeciAc commented on #25969
Hi team,
I'm moving this here since the user found an inaccuracy in the original text
best

[2019-02-28 18:20] #14050 closed

[2019-02-28 18:20] #15458 closed

[2019-02-28 18:20] #20771 closed

[2019-02-28 18:20] #25477 closed

[2019-02-28 18:20] #25623 closed

[2019-02-28 18:21] #25780 closed

[2019-02-28 18:23] georgewallace commented on #25969
@meizenga Thank you for reaching out.. I am making the correction now.  The link goes to the correct role that you mentioned "Virtual Machine Contributor", but the link just said contributor.  The change should be live today in the English repo, and then will get translated in the other languages.. thank you for bringing this to our attention!  Once my change goes in, it will automatically close t

[2019-02-28 18:23] Mike-Ubezzi-MSFT commented on #25889
@mtroth-microsoft We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 18:23] #25889 closed

[2019-02-28 18:25] MicahMcKittrick-MSFT commented on #25830
@kpvnreddy I will close for now. Please open a new issue directly on the doc you are having issues with so we can better assist.

[2019-02-28 18:25] #25830 closed

[2019-02-28 18:25] MicahMcKittrick-MSFT commented on #25879
I will close for now. Please open a new issue directly on the doc you are having issues with so we can better assist.

[2019-02-28 18:27] MicahMcKittrick-MSFT commented on #23291
FYI, I have confirmed this bug and work is being implemented to correct this. It should be deploying soon (Next week or so)

[2019-02-28 18:27] #23291 closed

[2019-02-28 18:28] tanmayeekamath commented on #25964
As mentioned by Sreedhar above, Managed Lab is not a service and a type of a lab. however, DevTest Labs is a service in the Azure portal. Classroom Labs is a managed lab type under Azure Lab Services. Hope this helps.

[2019-02-28 18:36] jimdial commented on #25842
@akhil-yalagonda As @SubhashVasarapu-MSFT mentioned, you click on Blobs, not Containers, as the article currently shows. I've made an update to reflect Blobs. It will publish later today. Thanks. #please-close

[2019-02-28 18:37] CeciAc opened #25970 "Missing using statement"
@nicolasploquin commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/300)

In " Parse connection string " section
using Microsoft.WindowsAzure.Storage; //Namespace for CloudStorageAccount

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6

[2019-02-28 18:38] ndondapati commented on #25879
https://azure.microsoft.com/en-us/updates/azure-data-catalog-support-for-relationships-and-related-data-assets/

[2019-02-28 18:38] fhryo-msft commented on #13195
You are right. CLI & Powershell are recommended for automation.

[2019-02-28 18:40] #25969 closed

[2019-02-28 18:41] BharathNimmala-MSFT commented on #25966
@Blackbaud-ChrisBlythe Thanks for your question. We are investigating this and will get back to you shortly.

[2019-02-28 18:42] CeciAc commented on #25970
Hi team,
I'm moving this here since the contributor found a bug in the code
best

[2019-02-28 18:49] BharathNimmala-MSFT commented on #25964
@marcosgm Thank you for your question.

Thank you @spelluru and @tanmayeekamath  for a super fast response on this.

[2019-02-28 18:51] SaurabhSharma-MSFT commented on #25849
@WilliamRoyNelson The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-02-28 18:51] #25849 closed

[2019-02-28 18:52] mikeholcomb opened #25971 "You can also set purge protection via PowerShell, but it isn't documented here"
Documentation should be updated to enable purge protection via PowerShell as well:

($resource = Get-AzureRmResource -ResourceId (Get-AzureRmKeyVault -VaultName "vaultname").ResourceId).Properties | Add-Member -MemberType "NoteProperty" -Name "enablePurgeProtection" -Value "true"

Set-AzureRmResource -resourceid $resource.ResourceId -Properties $resource.Properties

---
#### Document Details

⚠ *D

[2019-02-28 19:00] fisklask commented on #24670
Does this applies only to system drive encryption case or data drive case included as well?

[2019-02-28 19:07] YutongTie-MSFT commented on #25943
@CeciAc Thanks for the feedback! We are currently investigating and will update you shortly.

@hning86 Hi Hai, this is a suggestion from our customer for more detailed explanation. Could you please check it and update the document as necessary? Thanks a lot!

[2019-02-28 19:09] curtand commented on #18405
Hi @DeanGross
In addition to the explicitly described permissions in the roles article, this role also grants the default user permissions in Azure Active Directory. I just found out what that really means. I'll see if I can pull them together and link to them from the role descriptions. They're here. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions?co

[2019-02-28 19:10] SaurabhSharma-MSFT commented on #25341
@lightupdifire Thank you for your valuable feedback.  As mentioned by @jaszperez that we are working on improving the documentation and so your feedback will definitely be considered by the authors and the product team while creating the improved version of the documentation.

[2019-02-28 19:10] himanshusinha-msft commented on #25965
@nhoomtham . Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-02-28 19:11] brjohnstmsft commented on #25860
@loic-sharma Did you manage to find the [SDK reference docs](https://docs.microsoft.com/dotnet/api/microsoft.azure.search.models?view=azure-dotnet)? I'm wondering if we need to make those more discoverable in addition to adding examples of analyzer usage.

Also, the [article on analyzers](https://docs.microsoft.com/azure/search/search-analyzers#custom-analyzer-example) seems like a better place to

[2019-02-28 19:16] Anmolgan81 commented on #25931
So this cannot be done using powershell? There are no modules to it?

Regards
Anmol Ganju

________________________________
From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Thursday, February 28, 2019 11:38:35 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How can this be configured using Powershell? (#25931)

@Anmolgan81<https://github

[2019-02-28 19:16] don4of4 opened #25972 "Is the limit still 200 GB now that blob supports 4.75 GiB blobs?"
Hello there,  could someone please confirm the limitation around the size of the backpac file is still valid?  Block blobs now support much larger files.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc23-72a48fc46e1e
* Version Independent ID: dfb8cad9-6233-f97f-c849-1820ad642c7c
* Conte

[2019-02-28 19:18] mnuhfer opened #25973 "If you are not a root user, you cannot use TCPDUMP for validation."
The automatic deployment of the Linux Agent for CEF logging only provides the login for an admin account, not root. Without root access, you cannot run TCPDUMP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b54f-6668-daac-ac69c97d9601
* Content: [

[2019-02-28 19:24] MicahMcKittrick-MSFT commented on #25879
@ndondapati thanks. I have assigned the issue to our Data-Catalog engineers to assist further.

[2019-02-28 19:26] wickste opened #25975 "Sample .zip file references outdated Java Iot Hub SDK"
[Enter feedback here]
The sample .zip file that is linked to from this topic contains samples that reference SDK version 1.3.30, which is way outdated compared to the latest. We should update to reference the latest which includes critical bug fixes.

Detailed steps:
* click on this link in the article: https://github.com/Azure-Samples/azure-iot-samples-java/archive/master.zip
* extract the .zip f

[2019-02-28 19:28] wesmc7777 commented on #25975
@wickste Thanks Stefan. I'll get this updated

[2019-02-28 19:28] Mike-Ubezzi-MSFT commented on #25954
@sunilprabha The answer your question specifically about the total number of VNet rules, the answer is 128. There is some good information available here: [Limitations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#limitations)

The MySQL specific documentation does not include this detail.

[2019-02-28 19:33] YutongTie-MSFT commented on #25953
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 19:35] YutongTie-MSFT commented on #25955
@CeciAc This is a duplicate issue of #25953. I will close it, please keep eyes on the other one. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-28 19:35] #25955 closed

[2019-02-28 19:37] vlad-kozlov opened #25976 "great tutorial"
&lt;EVENT HUBS CONNECTION STRING&gt; should read &lt;Event hubs Connection string–primary key&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1e187-7e69-e5da-b6dd-cb03b6db9366
* Content: [Tutorial: Stream data into Azure Databricks using Event Hubs ](

[2019-02-28 19:37] YutongTie-MSFT commented on #25967
@CeciAc Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 19:38] YutongTie-MSFT commented on #25961
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi Hai, please check this document feedback and update the document as necessary. Thanks a lot!!

[2019-02-28 19:39] YutongTie-MSFT commented on #25957
@YaraZakaria
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 19:39] Adam-Smith-MSFT commented on #25948
@subodhpatil I assigned the issue to the author in case if we plan on doing that, but we would appreciate if you could add your feedback [here](https://feedback.azure.com/forums/217298-storage) as well.

Thanks,

[2019-02-28 19:40] YutongTie-MSFT commented on #25947
@CeciAc
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86
Hi Hai, here is a suggestion about adding an introduction to the application, could you please check it and update the document as necessary? Thanks a lot.

[2019-02-28 19:44] TravisCragg-MSFT commented on #25926
@raluca256 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-28 19:46] LMtx commented on #25960
@MicahMcKittrick-MSFT sorry, I thought that this link will be included by default - was following this document and opened issue from link on the bottom on page: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-csharp-module

[2019-02-28 19:47] MicahMcKittrick-MSFT commented on #25567
Thanks @brahmnes for that information.

@ththiem I will close for now, if you have further questions just let us know and we can always reopen and continue the conversation.

[2019-02-28 19:47] #25567 closed

[2019-02-28 19:48] wassx opened #25977 "Missing link to github for sample code"
Please add the link to the github sample code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f76c6e-ece5-81f1-759c-a9d6ecea542e
* Version Independent ID: bf612b47-a2a8-c018-90b5-2b12808f030f
* Content: [Anchor relationships and way-finding in Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-ancho

[2019-02-28 19:49] MicahMcKittrick-MSFT commented on #24714
Thanks @nabhishek :)

@jn-altius we will be updating the doc to include these steps publicly as well :)

[2019-02-28 19:49] #24714 closed

[2019-02-28 19:50] v-kaorti commented on #21667
Thank you all for raising this issue. This is now in the process of being resolved and should be live soon. Thanks again.

cc @TheGrungeByte

[2019-02-28 19:51] MicahMcKittrick-MSFT commented on #25963
@blouwagie I have assigned this to the content author to review and update the doc as appropriate

[2019-02-28 19:51] #19893 closed

[2019-02-28 19:52] #23225 closed

[2019-02-28 19:52] #23546 closed

[2019-02-28 19:52] #25842 closed

[2019-02-28 19:52] Alberto-Vega-MSFT commented on #25829
@jelmerS2 Was your issue resolved?

[2019-02-28 19:53] Alberto-Vega-MSFT commented on #25831
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-28 19:53] #25831 closed

[2019-02-28 19:55] TravisCragg-MSFT commented on #25941
@CeciAc Only Basic Internal Load Balancing is free of charge. Standard load balancers do have a charge as outlined in the doc.

[2019-02-28 19:58] sidramadoss commented on #25900
@hubez - if you are developing an ASA job to run on Azure IoT Edge, then you can write your UDF in C# - https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-edge-csharp-udf

[2019-02-28 20:03] mattbriggs commented on #25926
@raluca256 Thanks for your feedback and question. I have a question out and will get back to you as soon as I have the answer. Thanks! #in-progress

[2019-02-28 20:06] TravisCragg-MSFT commented on #25962
@mgfink This is expected behavior due to how Azure organizes resources, and how the REST API receives input.
[Azure Resources](https://resources.azure.com) are organized by Resource Group & Name, and you cannot have a resource of the same type with the same name in the same resource group. In the case of listeners, the full URI will also contain the app gateway. For Example:

/subscriptions/**Subs

[2019-02-28 20:10] james-tn commented on #24686
Hi, I have an urgent support request for this.
The requirement is to limit users with POSIX permission at each folder in ADLS Gen2 with Databricks. When I use Data Contributor role for the SP, from Databricks with direct access, it can do anything which is what we do not want. When I use Data Reader role then the only thing SP can do is to list, not write no matter what access we set for the objec

[2019-02-28 20:12] SnehaGunda commented on #23260
Thanks Mark, referencing your PR with fixes.

#please-close

[2019-02-28 20:13] brlewi commented on #25939
:blush:

[2019-02-28 20:14] SnehaGunda commented on #23875
Referencing Mark's PR that updates the doc.

#please-close

[2019-02-28 20:14] brlewi commented on #25939
:blush:

[2019-02-28 20:16] danieljdemarco opened #25978 "API"
It would be great if, in addition to getting this list fleshed out and regularly updated, this data were exposed via REST API. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service

[2019-02-28 20:20] CeciAc opened #25979 "文档中Set up your development environment被部分被漏翻译"
@saraao commented on [Thu Feb 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/364)

文档中Set up your development environment被部分被漏翻译

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 5030fc51-ec28-d96e-fe85-a06a8fa1ce6f
* Content: [回归模型教程：自动化机器学习 - Azure Machine Learning service](https://docs

[2019-02-28 20:22] CeciAc commented on #25979
Hi team,
There are no inverted commas needed in order to close the codebox before the line "Set up the..." causing this paragraph to be treated as a code-box/non translatable
![imagen](https://user-images.githubusercontent.com/26746247/53595966-66040100-3b7d-11e9-8bad-c2a016bf33e5.png)

[2019-02-28 20:22] kennethvs commented on #19398
Is this feature broken? I have several Dynamic Groups with different Dynamic Queries which don't update in multiple Azure ADs? Followed the following article already but no changes: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-troubleshooting

[2019-02-28 20:25] CeciAc opened #25980 "Some documents have been forgotten to translate into Chinese"
@saraao commented on [Wed Feb 27 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/362)

文档中Set up your development environment被部分被漏翻译

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 65ca3600-cbad-b9eb-3c7e-22b5251226ec
* Version Independent ID: 8881b6f3-c64d-f758-15c8-79e10e9764a9
* Content: [回归模型教程：准备数据 - Azure Machine Learning service](https://docs.mi

[2019-02-28 20:26] Grace-MacJones-MSFT commented on #25779
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-28 20:26] #25779 closed

[2019-02-28 20:26] normesta commented on #24686
Hello @James-tn. My understanding is that there's been a recent bug fix (https://issues.apache.org/jira/browse/HADOOP-15969) which removes the requirement to use RBAC as a prerequisite to using ACLs. This would mean that you can set ACLs on the files and folders without first assigning a role to the related service principal.

[2019-02-28 20:30] CeciAc commented on #25980
Hi team,
Hi team,
There are no inverted commas needed in order to close the codebox before the line "Set up..." causing this paragraph to be treated as a code-box/non translatable
![imagen](https://user-images.githubusercontent.com/26746247/53596295-30134c80-3b7e-11e9-915b-28b5564cd883.png)

[2019-02-28 20:30] JorgeCupiV opened #25981 "Wrong use of actions()?"
When I try to use the actions("&lt;actionName&gt;").outputs.body.&lt;propertyName&gt;} I get the next error:

""{\"code\":\"OutputParameterEvaluationFailed\",\"message\":\"The template language expression 'actions('&lt;actionName&gt;').outputs.body.&lt;propertyName&gt;cannot be evaluated because property '&lt;propertyName&gt;' cannot be selected. Property selection is not supported on values of ty

[2019-02-28 20:31] james-tn commented on #24686
I removed the role of the app from Azure IAM.
I set ACLs in Storage Explorer with R, W, X
Then I run a simple command to list: does not work.

StatusDescription=This request is not authorized to perform this operation using this permission.

From: Norm Estabrook <notifications@github.com>
Sent: Thursday, February 28, 2019 12:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ja

[2019-02-28 20:37] mhollismcgill opened #25982 "Diagnostic Extension for VMSSs"
I have had trouble answering the following questions using the current documentation on the Diagnostic Extension.  These questions relate to the Diagnostic Extension for VMSSs.

1. There appear to be separate Diagnostic Extensions with different extension schemas for Linux and Windows VMs.  Is the Diagnostic Extension for VMSSs distinct from both of these?

2. Are there different diagnostic extens

[2019-02-28 20:41] mgfink commented on #25962
@TravisCragg-MSFT thanks for the reply.  Just to clarify I wasn't trying to create a 2nd Listener with the same name.  This was for a part of the Rule which is associated with a Listener.  To illustrate:

AppGateway: myGW
|->Listener: listener1
|-->Rule: listener1RuleS
|---> Configuration: foo

AppGateway: myGW
|->Listener: listener2
|-->Rule: listener2RuleS
|---> Configuration: foo

Here I have 1

[2019-02-28 20:44] normesta commented on #24686
Hi @james-tn  - Did you have the role assignment associated with your resource group or subscription? I ask because any changes to a parent resource group or subscription (such as adding role assignments or removing them) can take time to propagate down to the child storage account. I've recently discovered this in my own tests.

[2019-02-28 20:47] ch81 opened #25983 "Sign up image?"
Isn't there an official image for Sign up with Microsoft?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142962d7-66c3-9372-3e3e-c621cba4d881
* Version Independent ID: 748f0246-0a13-e7ed-46dd-be219f19343b
* Content: [Branding guidelines for applications](https://docs.microsoft.com/en-us/azure/active-directory/develop/h

[2019-02-28 20:53] james-tn commented on #24686
No, there was just a data reader role for the storage account assigned to the SP. That just gave list access to the SP to all folders no matter what I set at ACLs.
Then following your first response I removed the role and list does not work anymore.

James Nguyen

________________________________
From: Norm Estabrook <notifications@github.com>
Sent: Thursday, February 28, 2019 12:44 PM
To: Microso

[2019-02-28 20:53] CelesteDG commented on #25983
Hi @ch81 - The images in the topic are the official "Sign in with Microsoft" images that we get from our design team. You can save them and use them in your app.

[2019-02-28 20:53] DanJ210 opened #25984 "groupMembershipClaims is giving me over 100 groups, I'm in only 8...?"
It says that I'm supposed to only be getting the groups that the signed in user is a member up. So how am I getting all the groups? And I don't mean all as in that's the value I put, I mean all the groups that I'm not a member of. How is that happening?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-

[2019-02-28 20:53] hubez commented on #25900
Hi @JasonWHowell it is an Edge job. I didn't realize this workflow forks from ASA in Cloud. I'll remember this.

Thanks for the link @sidramadoss, didn't realize we're limited to C# in Visual Studio for now. Still, ooph! I'm having trouble getting a line-of-sight on how I'm going to be able to piece ASA Edge into a CI/CD build process.

[2019-02-28 20:55] DanJ210 commented on #20356
There's also the issue that it states you will get all of the groups that the signed-in user is a member of... But I'm getting 100s of groups that I'm not a member of.

[2019-02-28 20:56] sidramadoss commented on #25900
if you have questions about CI/CD or run into issues, please ping us: askasa [at] microsoft [dot] com

[2019-02-28 21:03] cijothomas opened #25985 "Web.config misconfigs need to be documented."
Need to include the issue from this Github post to troubleshooting section.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/569

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b9aed0-b6a7-d3e9-d616-85e865966444
* Version Independent ID: df2e545f-7f65-82b7-c793-2d04d91d7d9e
* Content: [Troubleshoo

[2019-02-28 21:04] cijothomas commented on #25985
@mrbullwinkle I will help with the contents.

[2019-02-28 21:04] Mike-Ubezzi-MSFT commented on #25970
@CeciAc This has been addressed/updated as I cannot find where this issue exists:

I believe this is the section in question:

`using Microsoft.Azure; //Namespace for CloudConfigurationManager`

Please let me know if I have missed something.

[2019-02-28 21:14] SnehaGunda commented on #25917
@HansWieserMS did you checkout this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput, it has detailed description about database & container level throughput. Also shows examples, use cases for when to use each type of throughput model.

The following examples demonstrate where it's preferred to provision throughput at the database level:

* Sharing a database’s provisioned thr

[2019-02-28 21:17] ukluk opened #25986 "Is the x.509 loaded into the MXChip?"
The tutorial explains how to generate the UDS and move it to the HSM. Later using scripts, how to register a certificate from the UDS.
I am missing how does the secret get transformed into the X.509? MQTT Handshake Authentication with DPS expects a fully chained, trusted certificate, not a secret, was the script X.509 also pushed to the MXChip/HSM using VSCode?

---
#### Document Details

⚠ *Do no

[2019-02-28 21:20] normesta commented on #24686
Ok so it sounds like you assigned the "Storage Blob Data Reader" role to the service principal (in the scope of the storage account) and you want to provide that basic level of access as a starting point. Then, you attempted to grant ACL access to individual files and that did not work. Strange. I would have expected that to work. The order of permissions checks (when a data operation is attempted

[2019-02-28 21:23] gsilva5 commented on #24504
Updating now.  Also adding Ms/Mmsv2 series.  Pull requests here:
CLI: https://github.com/MicrosoftDocs/azure-docs-pr/pull/68146
PS: https://github.com/MicrosoftDocs/azure-docs-pr/pull/68149

[2019-02-28 21:23] Mike-Ubezzi-MSFT commented on #25972
[Considerations when exporting an Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export#considerations-when-exporting-an-azure-sql-database)

- If you are exporting to blob storage, the maximum size of a BACPAC file is **200 GB**. To archive a larger BACPAC file, export to local storage.

Is the .bacpac file size bound by this value if still using blob storage

[2019-02-28 21:39] BryanTrach-MSFT commented on #25909
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:40] BryanTrach-MSFT commented on #25911
@artilbur Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:41] BryanTrach-MSFT commented on #25920
@Klaas- Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:43] BryanTrach-MSFT commented on #25921
@blueelvis Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:44] BryanTrach-MSFT commented on #25929
@BartoszPorebski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:46] BryanTrach-MSFT commented on #25951
@brianbar-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-28 21:46] SteveParson opened #25988 "Broken link"
This page specifies the steps needed to produce a new Linux VM with disk encryption enabled with a Resource Manager template. Unfortunately, the link to the template is broken. A search on Google yields an old fork of the repository that still has the template, but it is unclear if this is still valid information.

https://github.com/krishnareddyg/Azure-Templates/tree/master/101-vm-full-disk-encry

[2019-02-28 21:47] BryanTrach-MSFT commented on #25969
@meizenga We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-28 21:50] kgremban commented on #25894
@wickste Are the firewall and port configureation rules in the Troubleshoot article the right information, and we just need to link to it better? Or are there other port configurations that aren't documented? If the latter, can you provide the missing information?

[2019-02-28 22:08] wickste commented on #25894
I think we should match this in this docs: https://github.com/Azure/iotedge/blob/master/doc/networking.md#ports @mrohera to confirm

[2019-02-28 22:09] MarileeTurscak-MSFT commented on #25930
@miss-tech what category are you referring to?

[2019-02-28 22:13] JasonWHowell commented on #25900
@hubez we'll add a caveat to the doc to make it clear. Thanks for the good questions and feedback. ~Jason
#please-close

[2019-02-28 22:16] Mike-Ubezzi-MSFT commented on #25657
Being that this is primarily about the documentation, I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-28 22:16] miss-tech commented on #25930
The Azure Management ‘cloud app’ is what I was specifically referring to :-)

[2019-02-28 22:20] briansboyd commented on #24767
I understand this, after digging through many different pieces of documentation. The point being that you're sending me pieces of information rather updating a flawed document.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matias Quaranta <notifications@github.com>
Sent: Friday, March 1, 2019 12:50:50 AM
To: MicrosoftDocs/azure-docs
Cc: Brian S Boyd; Menti

[2019-02-28 22:24] Mike-Ubezzi-MSFT commented on #25665
@NoorSK It depends on the type of migration you are attempting. There is the on-line and off-line option. The on-line options allows for none to very limited down-time. The off-line option is just that, your application is down for the duration of the migration. If you are performing an on-line migration, then replication is likely required, and a slightly different configuration is required.

[2019-02-28 22:24] Mike-Ubezzi-MSFT commented on #25665
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 22:24] #25665 closed

[2019-02-28 22:26] Mike-Ubezzi-MSFT commented on #25690
@prashanthmadi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 22:26] #25690 closed

[2019-02-28 22:26] mike-urnun-msft commented on #25981
Hi @JorgeCupiV Thank you for your feedback! We will review and update as appropriate.

[2019-02-28 22:27] Mike-Ubezzi-MSFT commented on #25756
@adoelger We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-28 22:27] #25756 closed

[2019-02-28 22:28] BharathNimmala-MSFT commented on #25985
@cijothomas Thank you for your feedback. Will assign this to Michael to take it forward.

[2019-02-28 22:30] DXCDanielAbreu opened #25989 "Sample application not available."
The sample code to import users is no longer available in github. There are just xml files there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ffb9-108b-67f2f5bbc297
* Content: [User migration approaches in Azure Active Directory B2C](https:

[2019-02-28 22:31] Mike-Ubezzi-MSFT commented on #25855
Reaching out to @SnehaGunda for any feedback on anticipated or forthcoming releases. @davidhjones You do have the option to reach out to askcosmosdb@microsoft.com for these types of questions. I do want to offer that as well.

[2019-02-28 22:34] ronortloff commented on #25657
@Robert-Kostecki Concurrency slots are analogous to memory.  Dynamic resources classes allocate a percentage of concurrency slots per DWU.  Static resource classes allocate a fixed number of concurrency slots.  Since Dynamic resource classes allocate based on percentage, the amount of concurrency slots changes based on the DWU setting.  Since static resource classes do not, their allocations stay

[2019-02-28 22:37] #23260 closed

[2019-02-28 22:37] #23875 closed

[2019-02-28 22:39] MicahMcKittrick-MSFT commented on #25973
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-28 22:46] SaurabhSharma-MSFT commented on #25835
@brianmair Unfortunately this is currently not possible and you can find an existing [UserVoice](https://office365.uservoice.com/forums/286611-office-365-groups/suggestions/13121412-disable-email-notifiations-when-assiging-to-group). You can upvote the same and this will allow the community to upvote and for the product team to include into their plans.

[2019-02-28 22:49] #25900 closed

[2019-02-28 22:55] SaurabhSharma-MSFT commented on #25932
@Ayanmullick Please refer to [Domain Joining Windows Azure Virtual Machines on Provision](https://gallery.technet.microsoft.com/scriptcenter/Domain-Joining-Windows-fefe7039) to join the VM to a domain.

[2019-02-28 22:55] jgudmundson-RETSD commented on #22886
@curtand @atfernando I'm also looking for an answer to this question.  Exact same error.

[2019-02-28 22:56] TravisCragg-MSFT commented on #17907
@amandadebler I am able to add and remove subnet delegation without an issue on a test environment. this is likely failing due to your Service Association Link named "acisal".

A Service Association Link is part of your AKS deployment, and that will likely need to be removed first.

[2019-02-28 23:05] geglne opened #25991 "Please optimize the time to build for this service"
I have deployed this service 8-10 times over the past 2-3 months. This service takes between 70-90 minutes to stand up. Unfortunately, this means I cannot build this in some of the automation tools that I use. I would like to build this using Terraform but it isn't offered by Hashicorp at this time due to various issues (broken APIs?).

When will this be fixed? Below are links to Hashicorp issues:

[2019-02-28 23:20] v-kydela opened #25993 "Breakdowns are missing additional settings"
The document says there's a settings button included in the intent and entity breakdowns:

![image](https://user-images.githubusercontent.com/41968495/53605343-123cec00-3b6c-11e9-9c3b-704080dcce13.png)

But there is no such button in my dashboards:

![image](https://user-images.githubusercontent.com/41968495/53605311-f0dc0000-3b6b-11e9-9a7c-805cf5564fdc.png)

Was this feature removed?

---
#### Do

[2019-02-28 23:22] Alberto-Vega-MSFT commented on #25777
@BradyWi Closing this issue based on https://github.com/MicrosoftDocs/azure-docs/issues/25780
 Please tag me if you have any questions and  we will gladly continue the discussion and we will reopen the issue.

[2019-02-28 23:22] #25777 closed

[2019-02-28 23:27] arielcedola opened #25994 "About speech recognition, how to extract the text"
Hi, I'm doing some experiments with Azure Speech Service, writing code in Python. I managed to perform both recognize once and continuous recognition. In this last case, I need to know how to get the recognized text, for instance in a string variable or list. I did it by using a lambda function with an append to an empty list as a callback of the 'recognized' event, but what is the easiest way to

[2019-02-28 23:36] DineshPriyankara commented on #24686
Just to clarify, if I am not mistaken, this requires Premium Pricing Tier
for Databricks workspace, your one is Premium or Standard?

Regards
Dinesh

On Fri, Mar 1, 2019 at 2:50 AM Norm Estabrook <notifications@github.com>
wrote:

[2019-02-28 23:38] james-tn commented on #24686
Yes we are premium.
We want to have just Blob reader and rely on ACLs but it does not work.
Only read is there.

James

From: DineshPriyankara <notifications@github.com>
Sent: Thursday, February 28, 2019 3:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Nguyen <James.Nguyen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 403

[2019-02-28 23:43] MarileeTurscak-MSFT commented on #25928
Hi @miss-tech

It looks like an and/or to me, but I'm not certain so I'm assigning this to @MarkusVi to confirm.

[2019-02-28 23:46] Ayanmullick commented on #25932
@saurabhsensharma, I'm looking for the PowerrShell steps to domain-join a **Linux** VM.

[2019-02-28 23:47] Karishma-Tiwari-MSFT commented on #16899
@zr-msft Is the fix out yet? Please let me know. Thanks. :)

[2019-02-28 23:55] MarileeTurscak-MSFT commented on #25944
@KalleHallivuoriFuturice Are you trying to run a command there? Can you post a screenshot of what exactly is going on?

Please try the steps listed in this thread: https://github.com/Azure/WALinuxAgent/issues/1059

If you are still having trouble please reach out to me at AzCommunity@microsoft.com with your subscription ID and I will open a support case for you. You can also reach out to me on MSD

[2019-02-28 23:55] #25944 closed

[2019-02-28 23:56] TravisCragg-MSFT commented on #24221
@jjindrich I tried a few other Linux SKU versions (RHEL, SUSE) and they seem to be working fine. I will be following up with why 18.04 is not properly registering.

[2019-02-28 23:56] infovivek opened #25997 "Indian Languages"
When is Indian languages like Tamil, Hindi, Telugu,etc getting supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f309625a-1b71-8248-04b0-b70a80689eea
* Version Independent ID: 76637ab4-18c3-0350-dbc3-8e609d3031fd
* Content: [Bing Speech Supported Languages](https://docs.microsoft.com/en-us/azure/cognitive-servic

[2019-03-01 00:04] YutongTie-MSFT commented on #25979
@nacharya1 Hi, this is a doc bug reported by our customer, could you please check it and add the missing information to the document? Thanks a lot.

[2019-03-01 00:07] YutongTie-MSFT commented on #25980
@CeciAc Hi, this is a duplicate issue of #25979 I will close this and please keep eyes on #25979 instead. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-01 00:07] #25980 closed

[2019-03-01 00:11] YutongTie-MSFT commented on #25993
@v-kydela
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 00:11] MGoedtel commented on #24887
@stgraves & @femsulu - The article has been revised and should be live now.  #please-close.

[2019-03-01 00:11] YutongTie-MSFT commented on #25994
@arielcedola
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 00:12] YutongTie-MSFT commented on #25639
@byatis @DClark-Landmark Thank you for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-01 00:12] #25639 closed

[2019-03-01 00:18] SnehaGunda commented on #25855
@davidhjones the preview versions are available for you to use, the same doc page points to the Nuget packages where you can download the packages: https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.BulkExecutor/

[2019-03-01 00:21] anrothMSFT commented on #25639
@ericbrunner sorry to ask for the favor. can you contact us via the "contact us" link in the customvision.ai porta. This generates an email directly to me + the rest of the engineering team. This is unexpected. We might have a few more questions. Will report back to this thread what the outcome was.

[2019-03-01 00:21] normesta commented on #25317
Hello @yuharucan . Thank you for making us aware of this issue. The issue has now been resolved and ZRS is available on ADLS Gen2 in Japan East.

[2019-03-01 00:22] normesta commented on #25317
#please-close

[2019-03-01 00:24] MarileeTurscak-MSFT commented on #25930
The Microsoft Azure Management cloud app impacts all Azure management endpoints. This will affect the classic Azure portal, Azure portal, Azure Resource Manager provider, classic Service Management APIs, the Visual Studio subscriptions administrator portal, and PowerShell.

I am not certain what else is included in this list - @rolyon can you please confirm?

[2019-03-01 00:24] femsulu commented on #25982
@mhollismcgill Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-01 00:31] imeya commented on #25912
@PramodValavala-MSFT , actually, I cannot see any rows of executions, it's empty. I'm not sure if I'm missing something.

[2019-03-01 00:36] MicrosoftGuyJFlo commented on #25648
#please-close

[2019-03-01 00:38] MicrosoftGuyJFlo commented on #25549
@josuvil feel free to propose a change if you think one is required. If you want to discuss further feel free to reach out via email.

[2019-03-01 00:38] MicrosoftGuyJFlo commented on #25549
#please-close

[2019-03-01 00:53] SimonLuckenuik commented on #25938
This is in the context of Azure Functions specifically using Azure Durable Functions.

Durable Functions involves a lot of Storage Queue operations and for Queue Class 1* operations (in 10,000) we have in V2 a cost if 0.004$ vs $0.0004 in V1, so 10x cheaper in V1. We were not initially using Durable Functions so all of our storage accounts were created as V2 upfront, but now that we have a few Fun

[2019-03-01 00:58] marcusclayton commented on #25211
@MGoedtel  Thanks for the workaround. Looks like we'll need to do this for each VM individually, right? I'll plan to test this method out.

[2019-03-01 01:05] kgremban commented on #23264
@djaus2

We're currently updating the quickstarts to direct users to create virtual machines in Azure for their test IoT Edge devices. We ran an A/B test on the Linux quickstart after releasing an Ubuntu VM image in Azure that pre-installs IoT Edge and its dependencies, and got good feedback from readers. As a result of the success of that experiment, we're building an equivalent Windows VM image

[2019-03-01 01:08] Alberto-Vega-MSFT commented on #25940
@jelmerS2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 01:11] djaus2 commented on #23264
I'll revisit that and get back to you.
So are you dropping Win 10 IoT-Core with the revamped quickstart options?
Also, I got the base quickstarts to work on a Raspbian RPI.
If you are going to just focus on the Windows and Linux VMs I'll supplement with IOT-Core and Raspbian versions on my new blog site, (still building the engine).

[2019-03-01 01:12] gopikishanm opened #25998 "VMSS Instance upgrade does not retain data disk"
Hi,

I have used Packer to build custom ubuntu linux image. I use terraform to create VMSS using data disks. When VM instance is created,  custom scripts are run and the data disk is attached. I am using cloud init script to initialise the disk. I can run df command and could see that data disk is attached.

When I create a new version of packer image and try to upgrade existing VM instance, the u

[2019-03-01 01:31] kazshi commented on #22907
@markjbrown Thanks for your comment. Will wait for the update.

[2019-03-01 01:35] brianmair commented on #25835
Thanks for getting back to me. I’ve added my vote.

Best Regards
Brian

[logo_signature2]

Brian Mair | +852 6340 7631 | bornsolutions.com<https://www.bornsolutions.com/> | SharePoint & Office 365

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, 1 March 2019 6:46 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brian Mair <brian.mair@bornsolutions.com>; Mention

[2019-03-01 01:37] Alberto-Vega-MSFT commented on #25940
@jelmerS2 Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-01 01:45] imeya opened #25999 "The doc needs to be updated and add the new alert configure"
For this section [Create an alert from metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/tutorial-alert#create-an-alert-from-metrics), it's about the classic alert.

Please add the new alert configuration to this doc(the classic one will be retired soon.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-01 01:50] dedickinson commented on #25716
This worked for me:

[code]

[2019-03-01 02:02] #24887 closed

[2019-03-01 02:02] #25317 closed

[2019-03-01 02:02] #25549 closed

[2019-03-01 02:02] #25648 closed

[2019-03-01 02:11] TravisCragg-MSFT commented on #24221
@jjindrich This issue is caused by how Ubuntu resolves the .local domain, and is not something that can be changed at this time. When making a Private DNS Zone, you will need to use a different suffix if using that Ubuntu SKU, or you will need to do some manual configurations on the VM after deployment. This limitation will be updated in our docs as well.

I have assigned the issue to the content

[2019-03-01 02:28] SaurabhSharma-MSFT commented on #25942
@threesixfour Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-01 02:34] sffamily commented on #23005
@androidand glad to hear you PoC with Python client went through. We are working on more docs and samples, in March we scheduled 2 major doc updates with more samples and guides. but many languages have not been covered yet, including Python. Our code samples repo on GitHub are open sourced to all developers. You are welcome to submit your samples at https://github.com/aspnet/AzureSignalR-samples/

[2019-03-01 02:53] minuz opened #26000 "Documentation outdated?"
On item 6,

&gt;In the `ServiceManifestImport` section of the `ApplicationManifest.xml` file, add a `ConfigOverride` element, referencing the configuration package, the section, and the parameter.

When adding the ConfigOverrides element, it complains that the `ServiceManifestImport` section has invalid child element `ConfigOverrides`.

Where is this supposed to go? the XSD is horrible to read and

[2019-03-01 02:55] femsulu commented on #25686
@paulio-git We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-01 02:55] #25686 closed

[2019-03-01 02:59] sunilprabha commented on #25954
Thanks guys, I am sure of  adding a vnet rule using this configuration permanently.  By adding a new Vnet rule should not interfere with the existing Vnet rule.

[2019-03-01 03:00] PrinceMarkieD commented on #6358
Same thing happens to me.

[2019-03-01 03:01] erich-wang commented on #25960
@LMtx , seems there's connectivity issue when pulling image. Could you please run the following command from your cmd console:
[code]
If the issue remains, you may need follow [https://docs.docker.com/network/proxy/](https://docs.docker.com/network/proxy/) to set up proxy for your docker.

[2019-03-01 03:20] james-tn commented on #24686
Ok, it turned out Databricks hasn't supported ACLs with ADLS gen2 yet.

_You must use role-based access control to access ADLS Gen2 storage using Azure Databricks. File-level access control does not work with the connector.
https://docs.azuredatabricks.net/spark/latest/data-sources/azure/azure-datalake-gen2.html_

[2019-03-01 03:49] Alberto-Vega-MSFT commented on #25784
@PerSwede Would you please share your versions for Raspbian, Node and NPM versions?

[2019-03-01 04:11] georgewallace commented on #25716
@Rabbit994 Sorry for the delay in responding, I must have note pressed the **Comment** button correctly when I submitted it shortly after you asked. In regards to asking how to use the **Az** modules, by default Azure Automation only imports the **AzureRM** cmdlets.  You must purposely import the **Az** cmdlets for them to exist.  That said we do not want to update an example meant to target begin

[2019-03-01 04:12] swenyang commented on #25813
Anyway, I found another way to report health events to Service Fabric Manager, i.e. [Docker's HEALTHCHECK](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#configure-docker-healthcheck). With this I no longer to use Service Fabric runtime.

Thanks.

[2019-03-01 04:13] femsulu commented on #25594
@dlyall-maine We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-01 04:13] #25594 closed

[2019-03-01 04:15] AlexanderTodorovic opened #26002 "Get-AzureKeyVaultKey => Get-AzKeyVaultKey"
Dear All, can you please verify if the command Get-AzureKeyVaultKey should actually be Get-AzKeyVaultKey? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b44bac-c760-a06d-e618-149f275e0d0e
* Version Independent ID: bcaaf53e-87c1-59aa-c51b-d3359ebb9046
* Content: [Encrypt disks on a Windows VM in Azure](https:/

[2019-03-01 04:18] femsulu commented on #25532
@snehithm need your help on this one when time permits?

[2019-03-01 04:19] #25532 closed

[2019-03-01 04:22] RohitMungi-MSFT commented on #25997
@infovivek Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-01 04:23] femsulu commented on #25705
@SenthuranSivananthan your request has been shared with the feature owner/doc author to add a workitem backlog for your request. we will now close this request.

@johnkemnetz  - FYI

[2019-03-01 04:23] #25705 closed

[2019-03-01 04:44] AshokPeddakotla-MSFT commented on #25986
@ukluk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 04:59] hastikpatel commented on #25905
yes sure this is document link i am referring.
link:
https://docs.microsoft.com/en-us/previous-versions/azure/virtual-machines/windows/classic/python-django-web-app

[2019-03-01 05:20] ManojReddy-MSFT commented on #25880
@mgogulapati . This feedback has been passed to the product team and they are working on implementing a cloud backup for Android.

They are planning to release the feature soon and hopefully once the feature is released it will be easier to switch phones. Thanks again for reporting this.

[2019-03-01 05:25] BhargaviAnnadevara-MSFT commented on #25999
@imeya Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-01 05:26] ChiragMishra-MSFT commented on #25965
@nhoomtham We have assigned the issue to the content owner to review and update the doc as appropriate.

@craigg-msft Can you please have a look at this one ?

[2019-03-01 05:27] shashishailaj commented on #25959
@chaddaignault Thank you for your feedback . We will have this checked and update the thread.

[2019-03-01 05:32] ManojReddy-MSFT commented on #20356
@DanJ210 groupMembershipClaims include nested groups as well. Is it possible that you are a member of a group which is included in the other groups (groups in which you are not a member ) ?

[2019-03-01 05:36] YASWANTHM-MSFT commented on #25411
@Hanwen196 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-03-01 05:36] #25411 closed

[2019-03-01 05:37] YASWANTHM-MSFT commented on #25403
@bhanu7755, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-03-01 05:37] #25403 closed

[2019-03-01 05:37] r-milne commented on #20481
That is correct .  On prem group synched to Azure AD.

From: Curtis Love <notifications@github.com>
Sent: 25 February 2019 13:22
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rhoderick Milne (PFE) <rmilne@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure AD Group Limits (#20481)

Thanks for your patience, @r-milne<https://nam06.sa

[2019-03-01 05:45] msrini-MSIT commented on #26002
@AlexanderTodorovic , Thank you for your feedback. I will go ahead and fix this command.

[2019-03-01 05:46] CHEEKATLAPRADEEP-MSFT commented on #25976
@vlad-kozlov Thank you for the feedback. They have mentioned **<EVENT HUBS CONNECTION STRING>** because the CONNECTION STRING can be “**Connection string–primary key**” or “**Connection string–secondary key**”.

Hope this helps.

[2019-03-01 05:47] ManojReddy-MSFT commented on #25799
@moiso0496 Thanks for the feedback. You would have to use the unified.html file available in the page where you are redirected to in GitHub. I do not think there is a project with just html5 templates in Github.

I have assigned this to the author to confirm this.

[2019-03-01 05:57] CHEEKATLAPRADEEP-MSFT commented on #25931
@Anmolgan81 You cannot create Azure HDInsight Enterprise Security Package using Azure Powershell.

**Reason:** When you create a HDInsight cluster with ESP, you must supply the following parameters: which cannot be done via powershell.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-01 05:57] #25931 closed

[2019-03-01 06:03] SQLDataSide commented on #25848
Hi I deleted everything from the portal and followed this link from scratch
now i am getting the error (as mentioned) and now i am not getting the word translated , what i am trying to say is that i can not  see the translation in the FUNCTION trace/logs
i am getting this error

2019-03-01T06:00:30.717 [Information] Executing 'devkit_translator' (Reason='This function was programmatically called v

[2019-03-01 06:05] Vossekop opened #26005 "Documentation out of date?"
I don't think this documentation is up to date, I am not seeing the specified headers on my back-end. I do see other headers containing the information described here though, like 'X-Azure-RequestChain', 'Via', and 'X-Azure-Ref'. Would be nice to see this updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c44a91d

[2019-03-01 06:10] ericbrunner commented on #25639
@anrothMSFT filed an initial request from the customvision portal

[2019-03-01 06:10] ericbrunner commented on #25639
@anrothMSFT I filed an initial request in the CV portal

[2019-03-01 06:14] CHEEKATLAPRADEEP-MSFT commented on #25892
@imeya Yes, each Event Hub can capture data from only one Azure Data Lake Storage which is configured to capture. Anyone who has the permission in the subscription can change the configuration to capture.

Event Hubs Capture enables you to specify your own Azure Blob storage account and container, or Azure Data Lake Store account, which are used to store the captured data. These accounts can be in

[2019-03-01 06:15] AshokPeddakotla-MSFT commented on #25977
@wassx Thanks for the feedback and reporting the issue.
This will be fixed on the referenced PR. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-01 06:15] #25977 closed

[2019-03-01 06:22] RohitMungi-MSFT commented on #25638
@Souvik04 We are working on updating the document with the findings of this issue and suggestions from another issue [24709](https://github.com/MicrosoftDocs/azure-docs/issues/24709). These updates will provide clarity on these steps and future service updates.

[2019-03-01 06:40] PramodValavala-MSFT commented on #25766
@alexkarcher-msft Thanks for confirming! I will go ahead and a create a PR fixing it accordingly.

[2019-03-01 06:42] PramodValavala-MSFT commented on #25742
@ystrte Glad you were able to solve your issue! I'm unsure about any character restrictions when working with policy expressions and named values.

@vladvino @miaojiang Could you share insights here?

[2019-03-01 06:43] Souvik04 commented on #25638
@RohitMungi-MSFT Thank you for the update.

[2019-03-01 06:43] amandadebler commented on #17907
@TravisCragg-MSFT I think it might be a problem with the "az aks disable-addons --addons virtual-node" operation, which appeared to be successful in the CLI, but didn't actually remove the virtual node or change the subnet.

What is the correct Azure CLI expression for removing a subnet delegation? Removing a Service Association Link, or does that have to be initialized by the service in question?

[2019-03-01 06:43] PramodValavala-MSFT commented on #25912
@imeya The second image that you've shared does show executions though right? Try clicking one of those rows.

[2019-03-01 06:43] PramodValavala-MSFT commented on #25901
@Miggleness Just following up here... Hope my previous comment helps.

[2019-03-01 06:50] Klaas- commented on #25920
Also valid input parameters missing from api doc: https://docs.microsoft.com/en-us/rest/api/automation/softwareupdateconfigurations/create#linuxproperties

[2019-03-01 06:55] shashishailaj commented on #25988
@SteveParson Thank you for pointing that out. We appreciate the feedback . We will have this checked internally and update the thread accordingly.

[2019-03-01 06:56] imeya commented on #25912
yes, the second image show executions. as you can see, these are all failed. because it is a blob triggered function. when I click run button on the first image, it will cause an error which said "blob not found etc". So I just upload a file to my blob storage, then no error messages, but still cannot see the logs in the monitor tab.

[2019-03-01 07:00] shashishailaj commented on #25950
@KalleHallivuoriFuturice Thank you for your query . We will have this investigated and update the thread accordingly.

[2019-03-01 07:04] YASWANTHM-MSFT commented on #25936
@Yougamers, Did you tried installing the required Python Azure modules mentioned in the prerequisites inorder to interact with Azure storage using python?
If not, suggest you install the required modules as shown below here.
Download and install the latest version of python here: [https://www.python.org/downloads/ ](url)
Run the below commands inorder to install the Azure required mouldes in the c

[2019-03-01 07:06] shashishailaj commented on #25978
@danieljdemarco Thank you for your feedback . We will have it checked if a request for such a REST API can be initiated and update this thread accordingly.

[2019-03-01 07:09] shashishailaj commented on #25989
@DXCDanielAbreu Thank you for your feedback . We will have this checked and update the thread accordingly.

[2019-03-01 07:10] shashishailaj commented on #25968
@bastyuchenko Thank you for your feedback . We will investigate and update the thread accordingly.

[2019-03-01 07:11] SQLDataSide commented on #25848
Hi its 2:10 am and this is getting .......
I am getting more errors

Goodnight
Nik

2019-03-01T07:08:54  Welcome, you are now connected to log-streaming service.
2019-03-01T07:08:56.511 [Information] Executing 'devkit_translator' (Reason='This function was programmatically called via the host APIs.', Id=a6eb69a3-426f-42b1-9a10-e535c730822d)
2019-03-01T07:08:56.511 [Information] C# HTTP trigger fun

[2019-03-01 07:13] shashishailaj commented on #25984
@DanJ210 Thank you for your query . We will investigate and update this thread.

[2019-03-01 07:21] ManojReddy-MSFT commented on #25984
@DanJ210 groupMemebrshipClaims incudes nested group memberships as well. Can you validate if the groups you are included are part of any other groups ?

[2019-03-01 07:29] chlandsi commented on #25994
Handling the results of continuous recognition in the callbacks, as you describe it, is the intended way to work with the recognition results. This way, you can use the results as soon as they arrive (asynchronously if necessary, or just store them), and don't have to wait until the end of a possibly very long-running continuous recognition.

[2019-03-01 07:34] PramodValavala-MSFT commented on #25912
@imeya Could share a screenshot of what you see when clicking any of the executions? Even if it has failed.

[2019-03-01 07:36] ManojReddy-MSFT commented on #25978
@danieljdemarco   There are plans to keep this data more up to the date and also make this information available programmatically.

@ajayanti1 for visibility and to provide updates regarding the timeline.

[2019-03-01 07:43] imeya commented on #25912
see screenshot below:

![func-app-error](https://user-images.githubusercontent.com/25738099/53623655-affded00-3c38-11e9-8bf3-2580eb02fcab.JPG)

[2019-03-01 07:49] SnehaAgrawal-MSFT commented on #25810
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-01 07:58] Deshke commented on #21513
any update here? what is currently working for sigs?

[2019-03-01 08:05] #25000 closed

[2019-03-01 08:12] kazshi opened #26008 "Any guidelines for or rules against adding something similar to 'Powered by Azure QnA Maker'?"
Sorry for asking the following question which is not for FAQ, but I don't know where I should ask.
My customer is planning to publish bot service using QnA Maker. Are there guidelines for or rules against adding something similar to 'Powered by Azure QnA Maker' to the chat window?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-03-01 08:21] Anmolgan81 commented on #25931
Is it possible if we can build ARM template for this?

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Friday, March 1, 2019 11:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How can this be configured using Powershell? (#25931)

@Anmolgan81<https://

[2019-03-01 08:27] jelmerS2 commented on #25940
Hmm, turned out to be an extension on GameObjects. I find that a confusing way to to things, but it's not wrong. So you could close this issue. Though I do think that the SDK is not super obvious/easy.

[2019-03-01 08:27] SnehaAgrawal-MSFT commented on #25876
@cngituser, We are able to repro this. Thanks  again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-01 08:33] CHEEKATLAPRADEEP-MSFT commented on #25931
@Anmolgan81 If you prefer to use an Azure Resource Manager template for deployment, use the portal experience once and download the pre-filled template on the last "Summary" page for future reuse.

Hope this helps.

[2019-03-01 08:34] RohitMungi-MSFT commented on #25837
@robert4os Thanks for the clarification. @heatherbshapiro It looks like the graph for example 2 for [regression ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-track-experiments#regression)section is incorrect. Could you please check and update the doc with the correct image?

[2019-03-01 08:35] Anmolgan81 commented on #25931
Where can I download the pre-filled template? I didn’t understand “Summary” page context?

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Friday, March 1, 2019 2:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How can this be configured using Powersh

[2019-03-01 08:35] KetanChawda-MSFT commented on #25981
@JorgeCupiV I can repro the same when `outputs.body` is a `string` and not `object`.

for e.g. if `outputs.body` is string such as `{"url":"https://contoso.com"}` Try adding and additional `Parse Json` step to parse the string in to json object and get the output as `@{body('Parse_JSON')['url']}`

Below is the sample code view and screenshot of a logic app work flow for your reference:

**Designer

[2019-03-01 08:36] ImrePyhvel opened #26009 "Where is modifiedDatetimeStart/End filtering being applied?"
Please clarify in docs who and how applies these filtering settings and what the cost ramifications are. Are they applied directly in blob storage (so only matching files are loaded from blob storage) or is this just UI sugar to still fetch all files and meta and just helps to avoid adding a filter node yourself in pipeline?

For example, I'm considering this feature for incremental backup for a l

[2019-03-01 08:37] AjayKumar-MSFT commented on #25991
@geglne, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 08:40] jtheisen commented on #23005
@sffamily Those samples are not about how to connect with a generic websockets client though, which is what @androidand was looking for.

It would indeed be cool better if the underlying SignalR protocol is properly documented so that more clients could be developed.

[2019-03-01 08:45] BhargaviAnnadevara-MSFT commented on #25999
@imeya I totally understand the ask.

The Alerting features in Azure Application Insights are undergoing changes to bring up the [Unified Alerting and Monitoring Experience](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/monitoring-classic-retirement), which are built to be faster, smarter, and extensible. [This](https://azure.microsoft.com/en-us/blog/new-full-stack-monitoring-capab

[2019-03-01 08:50] CHEEKATLAPRADEEP-MSFT commented on #25931
@Anmolgan81 You need to create Azure HDInsight cluster with ESP using Azure Portal. Once you complete all the steps you will find button to **Create**. Besides  Create button, you will find  "**Download template and parameters**". You can click on "Download template and parameters" to reuse as ARM template.

![image](https://user-images.githubusercontent.com/44426401/53626851-d4ec6300-3c2c-11e9-92

[2019-03-01 08:59] Grace-MacJones-MSFT commented on #25616
@blueelvis after Continuous Deployment is enabled, you can view the newly created webhook on your Azure Container Registry (ACR) webhooks page. When you push an updated image to ACR it will trigger a deployment in Azure App Service. Meaning you can update and rebuild your image locally, push it back to ACR, and the website will be updated.

I am assigning the issue to the content author to evaluat

[2019-03-01 09:04] Anmolgan81 opened #26012 "How can I tell ADF to not overwrite the files that exisits in both containers only write the files that are present?"
How can I use the Control statements to do this so that the files that are not present in the destinations are only written and not overwrite the whole thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df7b56de-6c44-a6a7-7cb1-2d77025f17f5
* Version Independent ID: fa99fc00-8d68-a1de-558e-0ef651548f34
* Content: [Co

[2019-03-01 09:11] CHEEKATLAPRADEEP-MSFT commented on #26012
@Anmolgan81 Could you ask your question in the forums? The audience there would be a better suited to answer your question. [Azure Data Factory - Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory).

[2019-03-01 09:12] Anmolgan81 commented on #26012
Sure thing, Thanks!

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Friday, March 1, 2019 2:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How can I tell ADF to not overwrite the files that exisits in both containers only write the files that are pr

[2019-03-01 09:14] CHEEKATLAPRADEEP-MSFT commented on #26012
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-01 09:14] #26012 closed

[2019-03-01 09:26] jakaruna-MSFT commented on #26000
Thanks for the question! We are investigating and will update you shortly.

[2019-03-01 09:29] yyukif opened #26013 "Verification for disconnect scenario is unclear"
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-registration#verify-azure-stack-registration
I would like to confirm verification step for disconnect scenario.
&gt; However, in disconnected environments, you will not be able to see marketplace items in Marketplace management. However, you can use the offline tool to verify registration.
According to this sentence, I cannot verify re

[2019-03-01 09:32] cephalin commented on #25876
@cngituser Thanks for your feedback. However this sample is not meant to be all-inclusive, but just to demonstrate how to get the connection information and use an FTP tool to connect to App Service and upload something. It's up to you to make the script work for you depending on the FTP tool you'd like to use, directory structure you want, etc.

#please-close

[2019-03-01 09:38] SubhashVasarapu-MSFT commented on #26005
@Vossekop , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-01 09:43] SubhashVasarapu-MSFT commented on #25676
@SamirFarhat We have forwarded this issue to content author for better explanation. @jimdial ,could you please provide your insights on this issue?

[2019-03-01 09:51] HansWieserMS commented on #25917
Hi Sneha,

the section addresses my question indeed, thank you!
Can you please make sure the different sections link to one another? Currently, this
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-container-throughput
does not point to https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput

In general, we seem to have an issue with concepts, how to, best practice etc all

[2019-03-01 09:59] wandhydrant opened #26014 "CentOS 7.6 / xorg 1.20 segfaults"
Hello! Currently after following the above instructions, the Xorg server will segfault, both for a NC6 nor for a NV6, when running on a CentOS 7.6 VM - either a VM that was 7.6 from the start, or a 7.4 (RogueWave "7-CI cloud-init") that has been updated to 7.6.

In all cases, the nvidia module loads well into the kernel, "nvidia-smi" output looks good, but I get the following traceback in the Xorg

[2019-03-01 10:02] TheGrungeByte commented on #21667
This issue is now resolved, we have updated the video. Thanks for all your help in identifying this.

[2019-03-01 10:10] SadiqhAhmed-MSFT commented on #25884
@mathieu-benoit We are closing this issue for now. Once you receive an answer from Lu/Team update the same here.

[2019-03-01 10:10] #25884 closed

[2019-03-01 10:11] SadiqhAhmed-MSFT commented on #25664
@anas1986 Closing this issue for now.

[2019-03-01 10:11] #25664 closed

[2019-03-01 10:20] ChiragMishra-MSFT commented on #25924
@ShubhaVijayasarathy Can you please have a look at this one ?

[2019-03-01 10:30] vorugantivishwanath opened #26015 "Clarity on recommendations"
Hi Team,
Below is the line in documentation:
*********************************************************
General-purpose v2 accounts: Basic storage account type for blobs, files, queues, and tables. Recommended for most scenarios using Azure Storage.
*********************************************************
However, when I deploy a VM by default V1 is chosen as storage account.
Why is this differenc

[2019-03-01 10:30] MikkelHegn commented on #26000
Look at the example, the text is a little unclear: The <ConfigOverride> element has to be wrapped in a <ConfigOverrides> element.

[2019-03-01 10:32] RohitMungi-MSFT commented on #25913
@jtlz2 Thanks for your inputs, I was able to run this tutorial using OpenCV [imread](https://docs.opencv.org/2.4/modules/highgui/doc/reading_and_writing_images_and_video.html?highlight=imread#imread) and get the same predictions.

**Replaced**

[code]

**With**

[code]

My model was trained to recognize Bougainvillea  trees from images, Loading images using PIL or OpenCV was not an issue in my cas

[2019-03-01 10:37] RohitMungi-MSFT commented on #26008
@kazshi Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-01 10:38] #25876 closed

[2019-03-01 10:46] maganvill commented on #22676
@iainfoulds @MicahMcKittrick-MSFT
By the way, thanks for helping out.

Even if I would make manual scale in drain the containers using the
TerminationGracePeriodSeconds as I want, it's still no use for me. I need the container data at API Server to exists for some time after process is finished, to get data about the Job. When scaling in, the containers are deleted at the API Server as well so all

[2019-03-01 10:46] ld0614 commented on #25261
@SaurabhSharma-MSFT This raises a number of questions for me:

1. Does the user need the P2 license in their own tenant as well as this guest account license?
2. If not doesn't this mean I can reduce my license requirements within my organisation by making all users guests in a second tenant and licensing the second tenant rather than the first?
3. Is there any ability to track the license assignm

[2019-03-01 10:49] SumanthMarigowda-MSFT commented on #26015
@vorugantivishwanath Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-01 11:08] AshokPeddakotla-MSFT commented on #25783
@smoms Please try updating the /etc/sudoers file as well and see if it resolves the issue.

[2019-03-01 11:09] shashishailaj commented on #25989
@yoelhor Could you please help the customer to point to the correct User migration app sample location ? The article points to a location which does not have the actual application. As per the changes in B2C , I am not sure if the old sample would be relevant . It would be great if you could provide some insight?
Thanks.

[2019-03-01 11:31] shashishailaj commented on #25959
@chaddaignault The error 70002 described as **The application returned invalid client credentials. Contact the application owner.** pertains to the same error. The error code is not exact but its the same .

[2019-03-01 11:37] nicolasploquin commented on #25970
Yes, in this section [parse-the-connection-string](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet#parse-the-connection-string)

I think it is missing one "using" statement, in addition to `Microsoft.Azure`, for CloudStorageAccount class.

This one :
`using Microsoft.WindowsAzure.Storage; // Namespace for CloudStorageAccount`

Maybe, I missed a nuget package but I

[2019-03-01 11:47] spaceeskimo opened #26017 "NBest is not returned"
I was not able to retrieve the more than 1 NBest transcription using the detailed output format through the API. In my understanding multiple transcription variants should be returned but when I was testing the API only the best one was returned. Here is my code:

import json
import requests
import os

BASE_PATH = XXX
YOUR_API_KEY = XXX
REGION = XXX # westus, eastasia, northeurope
MODE = 'interact

[2019-03-01 11:49] spaceeskimo commented on #26017
A typical response looks like this:

{'RecognitionStatus': 'Success', 'Offset': 2300000, 'Duration': 100500000, 'NBest': [{'Confidence': 0.8082929253578186, 'Lexical': 'i inoculated yesterday you cultures from from the construct of the construct', 'ITN': 'I inoculated yesterday you cultures from from the construct of the construct', 'MaskedITN': 'I inoculated yesterday you cultures from from the c

[2019-03-01 12:01] mattmgroom opened #26018 "Camera feed not showing when deploying to Galaxy S8"
Great tutorial, thanks! Had an issue though when deploying the Unity LocalSharedDemo to android (Galaxy S8). The app starts and seems to connect to the anchors web app ok, but there is no camera feed so it is not possible to place any anchors. Any ideas?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0af698-4a74-9098

[2019-03-01 12:05] gldraphael opened #26019 "Document the specific hosts to be whitelisted for CORS"
&gt; To work from the Logic App Designer, the URL must be an HTTPS endpoint and have CORS enabled.

The specific origins that need to be allowed needs to be specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8856668-d4f5-0ade-5576-661ada7fcb0e
* Version Independent ID: 291ff6b8-bfcc-786d-6295-eefae7d1b0d2
* Con

[2019-03-01 12:06] L-Dogg opened #26020 "Tutorial: Update inventory using Azure portal and topics/subscriptions - image for "Get the connection string" paragraph"
Point 4 states:
"click the copy button next to *Primary Connection String*"

But the copy button next to the *Primary Key* is marked:

![obraz](https://user-images.githubusercontent.com/2965488/53637094-88038f00-3c22-11e9-98c0-7d7f7a49eb29.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 342c230e-95ef-df04-445c-a888

[2019-03-01 12:07] SadiqhAhmed-MSFT commented on #25650
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-01 12:07] #25650 closed

[2019-03-01 12:08] aprmike commented on #25835
Hi, I presume this is an O365 group ?  If so you can disable the welcome email using this powershell command:  Set-UnifiedGroup -Identity "Name of your group" -UnifiedGroupWelcomeMessageEnabled:$false

[2019-03-01 12:10] dusek commented on #22816
Friendly ping from someone else interested in this too 😄.

[2019-03-01 12:13] roundnutz14 opened #26021 "Thanks"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-01 12:27] AjayKumar-MSFT commented on #25905
@hastikpatel, Thank you for providing the document.

You may try to change the app pool account from ApplicationPoolIdentity to LocalSystem and see if that helps.

Typically, you would perform two changes to web.config for Django projects.

1. Change the WSGI_HANDLER value to django.core.wsgi.get_wsgi_application() (the object is in the wsgi.py file):

<add key="WSGI_HANDLER" value="django.core.ws

[2019-03-01 12:35] shashishailaj commented on #25782
@ycedillos You can check the "Office 365 Identity Platform" relying party trust on the ADFS server for the claim rules if ImmutableId is being issued. You can use the following Powershell cmdlet and run it on the ADFS server to obtain that information.

`Get-AdfsRelyingPartyTrust -Identifier "urn:federation:MicrosoftOnline" | Select-Object -ExpandProperty IssuanceTransformRules | Out-File Issuance

[2019-03-01 12:37] dikadali commented on #25424
Thank you

[2019-03-01 12:37] shashishailaj commented on #25820
@curtand We need some technical changes within the article on how dynamic membership end-user experience is like. The article does not mention that when the dynamic membership rules are processed, any users which were added to the group , would receive a welcome mail as well.

Could you please review the requirement and update the document as needed ?

[2019-03-01 12:40] shashishailaj commented on #25875
@priyamohanram @arluca Coudl you please review the suggestions given by Prashanth for inclusion in the current article ?

Thank you.

[2019-03-01 13:13] mimig1 commented on #12369
#please-close (@ellacroi - You need a pound sign before please close)

[2019-03-01 13:27] harry12345678910 opened #26022 "Call of public service IP not working"
Dear all,

I followed the tutorial, but when I try to open the public IP I receive a timeout.

kubectl get svc
NAME               TYPE           CLUSTER-IP     EXTERNAL-IP     PORT(S)        AGE
azure-vote-back    ClusterIP      10.0.113.233   <none>          6379/TCP       6m13s
azure-vote-front   LoadBalancer   10.0.176.255   52.166.112.28   80:31020/TCP   6m13s
kubernetes         ClusterIP

[2019-03-01 13:29] jimdial commented on #24504
@aybassiouny Thanks!  The articles have been updated. #please-close

[2019-03-01 13:33] githubavi opened #26024 "How to check the Download/Upload Progress status?"
Hi, I am unable to find an option or parameter switch where I can see the progress of my Download/Upload progress. Can you help me how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [Copy or move d

[2019-03-01 13:34] tulasim88 commented on #25918
@taranais do you mean in metadata? for 1 QnA Pair, for 1 metadata key- you can only have one value.

adding @diberry as FYI for the feedback to make this information more clear in the documentation.

[2019-03-01 13:37] tulasim88 commented on #25836
thanks for the feedback @FredRan . As mentioned in a NOTE in this page, this doc is meant to be for v3. We have also added a link to the v4 doc from this page (to avoid duplication). The v4 page is here: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs

![image](https://user-images.githubusercontent.com/38328320/53641510-36c0c300-3c55-11e9

[2019-03-01 13:38] smoms commented on #25783
I have added to sudoers file:
`vagrant ALL=(ALL) ALL`

but i still get same error:

[code]

[2019-03-01 13:39] alesbobek opened #26025 "Packer have to wait for waagent"
OS Debian9 backport, builder vnet behind proxy - configured later in provisioner.
When using packer and installing packages like Nginx in example, but behind proxy, you have to wait for waagent to finish. Waagent is running apt-setup and unable to finish apt update (no proxy configured yet). I finally used script like [https://github.com/hashicorp/packer/issues/2639#issuecomment-145810523](https:/

[2019-03-01 13:40] markoriver commented on #25891
Hi, thank you for replying, I was already worried I gave insufficient information.

I am referring to [Work with Azure Functions Proxies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies)

I am unsure if what I want to achieve is possible with Proxy, but if it is, I would like to see it as example in documentation. I kinda expected more people have already asked same thing,

[2019-03-01 13:41] tulasim88 commented on #26008
@kazshi thanks for reaching out. It is fine to add "Powered by Azure QnA Maker service" on your customer's bot. Please can you share more details of the bot/ customer scenario?

@diberry , @pchoudhari as FYI

[2019-03-01 13:44] zr-msft commented on #16899
@Karishma-Tiwari-MSFT fixed here: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#update-the-os-image-for-your-scale-set

[2019-03-01 13:46] tmarinov opened #26026 "Asp.net core WebApp accessing WebApi with AD v2"
Could someone from the contributors be so kind to include such a common scenario as Asp.net core WebApp is accessing Asp.Net Core WebApi, using v2.0, MSAL library (latest version), OpenId, auth code grant, App registration (Preview)?
I have spent a lot of time, trying to deal with examples which are using old versions or other application types, using obsolete and/or not existing methods, properti

[2019-03-01 13:56] PouyaPanahy opened #26027 "Audit records on deployment"
Hi,
Nice article about this feature.

I have a question regards the audit trace:
How long the records on Deployment Center about the deployment records will remain? Can we change the retention to remain longer than one year?

kind regards,
Pouya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81dce42d-71bc-9ac0-b016-4ad

[2019-03-01 13:56] harry12345678910 opened #26028 "Example is not working"
Hi,

when I have a look at the services:
harald@Azure:~$ kubectl get svc
NAME               TYPE           CLUSTER-IP     EXTERNAL-IP     PORT(S)        AGE
azure-vote-back    ClusterIP      10.0.113.233   &lt;none&gt;          6379/TCP       41m
azure-vote-front   LoadBalancer   10.0.176.255   52.166.112.28   80:31020/TCP   41m

and I try to connect to the external IP I get the following error:
T

[2019-03-01 14:07] BhargaviAnnadevara-MSFT commented on #24999
@ishepherd We are going to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-01 14:07] #24999 closed

[2019-03-01 14:11] francoislarouche commented on #22395
@BryanTrach-MSFT
Is there any updates on this? It's been a month now.

Thanks

[2019-03-01 14:16] tulasim88 commented on #24709
adding @diberry and @prakul1991

thanks for the feedback @hansmbakker @sshradha - we are working on improving the documentation or active learning so that the logic for active learning, suggestions and train API are together and more transparently explained.

@hansmbakker - to answer you specific question- it no longer takes 50 train API calls to make suggestions show up.

@sshradha - we are conti

[2019-03-01 14:21] jelmerS2 opened #26029 "Debugging?"
I'm having a lot of trouble trying to get the concepts on this page to work.
For instance, adding
   await Task.Delay(1000); // 1 second delay
Before
   CloudSpatialAnchor cloudAnchor = new CloudSpatialAnchor();
Made it work, partly.
Now my script hangs at
   await cloudSession.CreateAnchorAsync(cloudAnchor);
And I get no feedback. I don't feel like plowing though the 10.000 lines of code in Azure

[2019-03-01 14:23] DXCDanielAbreu commented on #25989
Thank you.

[2019-03-01 14:32] SubhashVasarapu-MSFT commented on #25823
@rohinkoul could you please provide your insights on this ?

[2019-03-01 14:32] blueelvis opened #26030 "Deploying 1 Function per App vs multiple per app"
Hi,

What is Microsoft's take on deploying 1 single Function per App vs deploying multiple functions in a single app? What would be the take for both Consumption & App Service Plans?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf

[2019-03-01 14:33] SubhashVasarapu-MSFT commented on #25435
@rohinkoul could you please provide your insights on this ?

[2019-03-01 14:52] ch81 commented on #25983
Thanks, If I want to put an image for the "Sign **up** with Microsoft", can I use the same image and edit the text?

[2019-03-01 14:54] Roblarson opened #26032 "No information on Availability and HA/DR"
FAQ needs information on how EventHub namepsaces handle HA and DR scenarios. Also nothing on Availability Zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c58d87-83ad-9328-d98e-ffd1b608cc1d
* Version Independent ID: 14f3b461-c371-311d-b311-91610c8fc6db
* Content: [Frequently asked questions - Azure Event Hubs](h

[2019-03-01 14:54] sergaz-msft commented on #25848
Hi @SQLDataSide thank you for providing the details of your issue, we appreciate that. I am requesting @liydu to review your feedback, specially the part that you mentioned that in order to proceed you needed to manually install "dotnet-sdk-2.2.104-win-x64.exe" . @liydu we are not mentioning the version of dotnet-sdk as a prerequisite on this doc or [here](https://docs.microsoft.com/en-us/azure/io

[2019-03-01 14:58] sergaz-msft commented on #25888
@SQLDataSide I am closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/25848 . We will address your questions there and have the details on this one for reference. Thanks!

[2019-03-01 14:58] #25888 closed

[2019-03-01 14:59] sergaz-msft commented on #25848
Note: Taks into consideration details from https://github.com/MicrosoftDocs/azure-docs/issues/25888 as well.

[2019-03-01 15:07] spelluru commented on #25964
#please-close

[2019-03-01 15:10] sergaz-msft commented on #25903
Thanks for the great and very pertinent question @hubez . As your question is more an extension of what is described on this tutorial, may i kindly request that you ask the same on [StackOverflow ](https://stackoverflow.com/questions/tagged/azure-iot-edge) - we have a very active community there and would be a great topic to leverage the knowledge of experts :).

Thank you!