[2021-12-01 07:54] Chandra-Shekhar-kr commented on #66668
we are not able to deploy it in east us2 region, saying kind is invalid, Asev3 is not available in your location

[2021-12-01 08:01] ssivas commented on #84634
@keijutan , Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-12-01 08:01] KrishnaG-MSFT commented on #84613
@vTa47 Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-01 08:06] KrishnaG-MSFT commented on #84605
@Will-R-MS Thanks for the feedback.
Assigning to @martinekuan for visibility, review and document enhancement consideration as appropriate.

[2021-12-01 08:09] KrishnaG-MSFT commented on #84607
@Zarnyk Thanks for raising a feedback here.
If the above statement is from Chris Neil (chneil) then assigning this issue to @martinekuan for visibility, review and for document enhancement consideration as appropriate.

[2021-12-01 08:13] bigkangji opened #84638 "Some images are old."
Hello All,

These two images are captured from old version, Azure Security Center at https://docs.microsoft.com/en-us/azure/defender-for-cloud/custom-security-policies?pivots=azure-portal#to-add-a-custom-initiative-to-your-subscription.

Azure Security Center and Azure Defender are now called Microsoft Defender for Cloud, but those two images doesn't reflect the change of Azure portal after Micros

[2021-12-01 08:16] bigkangji opened #84639 "All the images are captured from Azure Security Center, not Microsoft Defender for Cloud"
Hello All,

Azure Security Center and Azure Defender are now called Microsoft Defender for Cloud.
But, the images from this page doesn't reflect this change.

Azure Portal has changed after Microsoft Defender for Cloud.

Regards,
Jisun

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 483f2c67-ec32-e35c-47d8-078951568981

[2021-12-01 08:18] Chandra-Shekhar-kr commented on #66668
@SnehaAgrawal-MSFT  could you please advise?

[2021-12-01 08:25] rahug1190 commented on #84546
@ezYakaEagle442 The capability to support migrations to ARO is in our roadmap. I would request you to get in touch with us to discuss more about your scenario by writing to appcontainerization@microsoft.com

[2021-12-01 08:47] SaiKishor-MSFT commented on #84438
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-01 08:47] #84438 closed

[2021-12-01 08:51] kobulloc-MSFT commented on #84402
@thommck Thank you for being patient!  The more I looked at this the more questions I had so I reached out to the DevTest Labs product group for a better explanation:

Environments, public or otherwise are a set of ARM templates that configure a set of Azure resources for the user.  There are multiple facets to the statement:

- VM usage limits do not apply; e.g. if a lab is limited to standard hd

[2021-12-01 08:53] olprod opened #84640 "Change ON/OFF to Yes/No as shown in UI portal."
From the local issue https://github.com/MicrosoftDocs/azure-docs.ja-jp/pull/6689

Change ON/OFF to Yes/No as shown in UI portal, as well as the image.

URL: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/mysql/howto-manage-vnet-using-portal.md
Sentence:
![image](https://user-images.githubusercontent.com/16075726/144201993-2cae57b5-d5ba-4653-a448-6b1d9c491a67.png)
image:
:::image

[2021-12-01 09:36] RFAG-daniel-ott opened #84643 "E: Unable to locate package moby-engine"
While following [this tutorial to install Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-provision-single-device-linux-symmetric?view=iotedge-2018-06&tabs=azure-portal) on a Raspberry Pi CM3 running a fresh install of Buster I ran into the following error:

`sudo apt-get install moby-engine`
[code]

My System:

Hardware:

- Raspberry Pi CM3 inside a [Revolution Pi Flat](htt

[2021-12-01 09:48] rafstank commented on #57579
Any update on CLI commands to enable rewrite URL rules on Verizon Premium SKU?
Or ARM/Biceps templates?
Any API to apply the Rules Engine v4.0 rewrite URL rules from CD pipelines?

[2021-12-01 09:58] vipulsparsh commented on #84352
@alexandergray1973 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-01 09:59] vipulsparsh commented on #84416
@Joshw97   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-01 10:01] vipulsparsh commented on #84502
@nikki-c Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-01 10:15] MughundhanRaveendran-MSFT commented on #83842
@reflash , just wanted to check if you are still facing the issue with latest V4. Please let me know

[2021-12-01 10:16] MughundhanRaveendran-MSFT commented on #84135
@AC740 , Did you get a chance to look into my previous comment? Please provide some clarity so that we can help you.

[2021-12-01 10:22] rakheshster opened #84645 "Session Tokens valid for 30 days"
Hi,

This [page](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-oauth-tokens#extend-session-token-expiration-grace-period) talks about the expiration of session tokens. It says that the session cookies expire after 8 hours and can be refreshed etc., but I've found that the session token itself is valid for up to 30 days (720 hours). So if I a client were to cache that

[2021-12-01 10:29] SrijitBose-MSFT commented on #84627
@JustinDyt , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-12-01 10:37] AlastairHay opened #84646 "ReadWriteOnce volumes can be accessed by multiple pods running on a single node (not just by a single pod)"
The [Concepts - Storage in Azure Kubernetes Services (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/concepts-storage) page **incorrectly** states:

Kubernetes documentation (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) says:

This other Microsoft page (https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv) agrees with the o

[2021-12-01 10:41] dreitzner opened #84647 "Missing prerequisit"
needs vs code plugin too.
Name: Azure Functions
Id: ms-azuretools.vscode-azurefunctions
Description: An Azure Functions extension for Visual Studio Code.
Version: 1.6.0
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-01 10:47] MCKLMT opened #84648 "Improving docs on containers options on Azure"
Hi,

As a CSA in France specialized on apps, I need to address a lot of questions from customers about hosting containers on Azure.
Since the preview of Azure Container Apps, we have added a new option and most of the customers ans some sale specialists are completely lost when they need to choose the right answer for their needs.
I think we need to address this issue by improving this documentati

[2021-12-01 10:54] BhargaviAnnadevara-MSFT commented on #84647
@dreitzner Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-12-01 11:00] rploeg commented on #59713
Link doesn't work anymore (and cannot find it anymore). Is this solution gone?

[2021-12-01 11:10] divyabhushan opened #84649 "JSON text and table fields mis-match"
The `json` text used in the example has `AccountNumber` field which is missing in the table format.
The table has an additional field `customer`.

Solution:

Keep the same fields in the `json` as well as in the table columns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1144e50b-993f-d1a9-93a8-01de2af4da60
* Version

[2021-12-01 11:12] SrijitBose-MSFT commented on #84646
@AlastairHay , thank you for your feedback.

The following is the more accurate fact:

@zr-msft can you please check and update the same?

[2021-12-01 11:30] bruncili opened #84650 "Broken Link"
At the [Lifecycle of system topics](https://docs.microsoft.com/en-us/azure/event-grid/system-topics#lifecycle-of-system-topics) paragraph, the [REST](https://docs.microsoft.com/en-us/rest/api/eventgrid/version2020-06-01/eventsubscriptions/createorupdate) link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b

[2021-12-01 11:48] AshokPeddakotla-MSFT commented on #84643
[@RFAG-daniel-ott](https://github.com/RFAG-daniel-ott) Thanks for the feedback. Please confirm if you have followed the steps mentioned under "Install a container engine"? 

[2021-12-01 11:57] RFAG-daniel-ott commented on #84643
Yes, I did and I also read through [this](https://github.com/MicrosoftDocs/azure-docs/issues/24635) issue on the same topic and made sure I ran all commands in the proper order including `sudo apt-get update` where necessary. I repeated the process multiple times and re-read the Instructions to be sure I made no ommissions and always got the same result.

[2021-12-01 11:59] AshokPeddakotla-MSFT commented on #84619
@petertuton PR has been created to update the doc. Changes will be updated once it is merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-01 12:04] Jiihaa opened #84651 "Windows server 2022 missing"
[Enter feedback here]
Please update supported Windows Server 2022 version info to the article as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae22458e-f28c-82de-c4c0-7618bea9110a
* Version Independent ID: 7322a1bd-55e0-475b-75d2-bf8e15135b07
* Content: [Supported VM SKUs for Azure Policy - Azure Backup](https://

[2021-12-01 12:08] SFieuws opened #84653 "Azureedge staging endpoint"
There are talks about production and staging which is fine, however, there are no examples on how the staging slot for an azure endpoint could look like. Trying to apply the same strategy as the linked documentation, nothing seems to work.
Can I go to my staging slot of the given cdn endpoint? If so, or if not, can you update given documentation so that it is clear

---
#### Document Details

⚠ *D

[2021-12-01 12:29] SaiKishor-MSFT commented on #84653
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-12-01 12:40] PramodValavala-MSFT commented on #83652
@EricStG Apologies for the delay on this one! Thanks again for your feedback!

I believe the reason here for not using `ActivitySource` is because calling [`SetParentId`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activity.setparentid?view=net-6.0) is not possible once the activity is started. But I believe there is a way to achieve the same by setting the `parentContext` when

[2021-12-01 12:43] PramodValavala-MSFT commented on #84650
@bruncili Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-12-01 12:43] AshokPeddakotla-MSFT commented on #84614
Adding author @dominicbetts for further review and update the doc accordingly for more clarity.

[2021-12-01 12:49] #84650 closed

[2021-12-01 12:54] diecknet opened #84654 "Please clarify if using Graph API to activate MFA registration campaign is optional"
I *think* that using the Graph API to activate MFA registration campaign is optional. The documentation is unclear, if one needs to follow both of these:
- Enable the registration campaign policy using the portal
- Enable the registration campaign policy using Graph Explorer

The section "Enable the registration campaign policy using Graph Explorer" begins with "To enable the the registration camp

[2021-12-01 13:14] CHEEKATLAPRADEEP-MSFT commented on #84630
@fbomb111  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-01 13:19] #84619 closed

[2021-12-01 13:27] msftnadavbh opened #84655 "Ingress API version on AGIC page is wrong"
This document needs to be checked and revised.

Here :
--
apiVersion: **extensions/v1beta1**
kind: Ingress

---

**apiVersion** as of 1.20 is **networking.k8s.io/v1**.
Should be changed.

Also the structure of the manifest file is wrong,
Ingress does not use "servicePort" or "serviceName",
this does not work anymore :

    - backend:
        serviceName: frontend
        servicePort: 80

Should be

[2021-12-01 13:50] reflash commented on #83842
@MughundhanRaveendran-MSFT just checked it now. Installation goes fine, thanks!

[2021-12-01 13:52] mrbullwinkle commented on #83612
@boredom2 Apologies for the delay in response to your GitHub Issue. This issue was routed to the wrong person.

You are correct, when we initially announced question answering at Ignite we were still reliant on some of the SDK packages/docs that were released at Build last year. The new question answering SDK/API packages have now been released, and the quickstart docs have been updated accordingl

[2021-12-01 13:53] mrbullwinkle commented on #83612
#please-close

[2021-12-01 13:53] #83612 closed

[2021-12-01 13:53] SadiqhAhmed-MSFT commented on #84651
@Jiihaa Thanks for the feedback. We will review this request with the product owners and update the doc as appropriate.

[2021-12-01 13:53] boredom2 commented on #83612
Thank you!

[2021-12-01 13:54] MughundhanRaveendran-MSFT commented on #83842
@reflash , Thanks for the update.

[2021-12-01 13:54] #83842 closed

[2021-12-01 13:55] ziodave opened #84656 "Typo"
mysqlpump > mysqldump

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c34b4a-53da-5e00-08a7-fe809ce5b740
* Version Independent ID: 08e174c2-1f7f-2beb-719f-d0315a7a8d6a
* Content: [Migrate using dump and restore - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concepts-migrate-dump-restore)
* Co

[2021-12-01 14:00] #84633 closed

[2021-12-01 14:44] #84467 closed

[2021-12-01 14:52] GitaraniSharma-MSFT commented on #84391
@jjindrich , I checked with the Azure Firewall product group team and they mentioned that the process is correct and the only step missing is that after the upgrading to firewall Premium using Stop/Start, you need to attach the newly created Premium Policy to the firewall via Azure portal. They will update the documentation shortly.

Could you please give it try and let me know if you face any iss

[2021-12-01 14:58] puntano commented on #31468
Same here but in my case it is really important the precision. Microsoft should have a way to solve this.

[2021-12-01 14:59] Silloty1 opened #84657 "Documentation outdated for Anchor Creation"
Hi

I noticed a mistake in the documentation, with the new version of ASA  (2.11). When creating a cloud spatial anchor `cloudNativeAnchor.NativeToCloud()` needs to be awaited to create the Spatial Anchor.
If not awaited, this will not work.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed5367-ee97-31a2-78ff-

[2021-12-01 15:20] austvik opened #84658 "Missing SDK support and .Net framework version for OS Family 7"
OS Family 7 misses supported SDK version (under the "SDK support" heading) and ".NET Framework installed" (under the "Family 7 releases" heading)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3a47-bb7ae25970db
* Version Independent ID: 4fe15edb-81b7-6122-829b-7a321a72e3bf
* Content: [Learn about the

[2021-12-01 15:33] Lumute commented on #84622
Thanks, I'll do that...

[2021-12-01 15:43] romankiss opened #84661 "Device model vs Device template"
First off all, thanks for this feature known as a VETER (Validate-Enrich-Transform-Enrich-Route) pattern.

The reason why I am sending this feedback is, that all documents (included also the [REST APIs](https://docs.microsoft.com/en-us/rest/api/iotcentral/)) are written without any respect to the device model based on the DTDL version 2.

The device model (represented by its _modelId_) is the comm

[2021-12-01 15:47] GosseTS opened #84663 "Question on AzureBackupDetailedEstimates"
Hi,

First of all: great tool! Thanks for having it created!

Question: In cell B28 of the "Azure VMs" worksheet, the "Price per Snapshot GB (Disk snapshots)" is stated for EastUS (USD 0.12). Where is that price coming from? I would reckon it should be either:
- USD 0.05 for Standard HDD LRS/ZRS
- USD 0.132 for Standard/Premium SSD LRS
- USD 0.198 for Standard/Premium SSD ZRS

Thanks already for y

[2021-12-01 15:47] VijetaManchanda opened #84664 "update the command"
[Enter feedback here]
The below page has incorrect command.. little mistake.. instead of **jobs** in this page it mentioned **job**
it should be **databricks jobs delete --job-id 246**
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/jobs-cli#delete-a-job

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6

[2021-12-01 15:50] Svijay-msft commented on #84428
Hello @Damag3d,

My understanding is that you will not be able to connect to **ODATA connector** from a private network using the Azure Integration runtime.

![image](https://user-images.githubusercontent.com/66949976/144230353-c52da8ec-431c-44da-b5eb-b322feac7c48.png)

Having said that, GitHub forum is specifically for logging document feedback or doc issues.

Your query seems more related to '**

[2021-12-01 15:50] johnayoub opened #84665 "Dead letter storage account behind firewall"
I'm trying to allow dead lettering to a storage account that's behind a firewall. I don't want to allow the `Trust Azure Services` option. Instead I tried to add an exception by using the resource instances and adding the managed identity of the event grid, however that's not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-12-01 15:50] #84428 closed

[2021-12-01 15:55] tfitzmac commented on #83252
@aralvar - thanks for this feedback. I have added both types of DNS to the throttle limit. The update should get published today.
#please-close

[2021-12-01 15:55] #83252 closed

[2021-12-01 16:03] GitaraniSharma-MSFT commented on #84486
@IanMercer , We have assigned this issue to the respective product owner for review.

@jessie-jyy , could you please provide your insights here?

[2021-12-01 16:05] tfitzmac commented on #82184
The file in the GitHub repo is named linkedStorageAccount.json which seems to match the relative link of "relativePath": "linkedStorageAccount.json". At this point, I am not aware of a change that can be made.
#please-close

[2021-12-01 16:05] #82184 closed

[2021-12-01 16:06] flatproject commented on #83901
@SumanthMarigowda so I cannot use basically storage emulator for my MVC project unless I go through the hassle that @bobhuang1 describes.... Excellent

[2021-12-01 16:08] robertlagrant opened #84666 "Worker nodes cannot be scaled down "using the slider""
So - how can they be scaled down? Presumably if you're being specific about the slider then there is a way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54ee9b3e-0838-5cde-b644-ba2e2b9fdb2a
* Version Independent ID: b3003462-e2f3-a9fa-72b1-419391833ed3
* Content: [Scale server group - Hyperscale (Citus) - Azure Datab

[2021-12-01 16:09] whhender commented on #84281
@pnarsi - CMK is not currently supported for Azure Purview. It is a feature we are working on including. Currently, it is anticipated to be available after the new year. We will update the documentation to reflect this.

[2021-12-01 16:17] akn9050 opened #84667 "Install the OMS Dependency agent on Linux is not working"
[Install the OMS Dependency agent on Linux is not working}

https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-hybrid#dependency-agent,

In docs it is showing 9.10.11.17500 version, but link is downloading 9.10.12.18430 version with below URLs, and 9.10.12.18430 is a corrupted version as per error message. Can you fix it ASAP, or provide url to download older version , it is

[2021-12-01 16:23] kobulloc-MSFT commented on #84402
@thommck We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-01 16:23] #84402 closed

[2021-12-01 16:25] #84636 closed

[2021-12-01 16:28] vlkuznet opened #84669 "Trigger payload data for non-HTTP function testing"
The only comment in this entire article regarding the trigger payload is:

It's common for Functions to be written to process the content of the trigger.

I found some old references to the following on [Stack Overflow](https://stackoverflow.com/a/58994077):

It would be helpful to add this detail; and a quick explanation of how to properly encode it.  Some samples for common triggers (EventGrid,

[2021-12-01 16:28] GeethaThatipatri-MSFT commented on #84656
@ziodave Thanks for your feedback! we are looking into it and update accordingly.

[2021-12-01 16:31] GeethaThatipatri-MSFT commented on #84649
@divyabhushan Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-01 16:32] eric-urban commented on #81554
@bradleyfalzon - Thanks for pointing this out! I have submitted a new [pull request](https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/282) in the samples repository. The documentation reflects the code snippet from that repository.

[2021-12-01 16:32] eric-urban commented on #81554
#please-close

[2021-12-01 16:32] #81554 closed

[2021-12-01 16:43] a2441918 commented on #50976
I get an error when I tried this.

Not Found({"error":{"code":"Request_ResourceNotFound","message":"Resource '<id here>' does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2021-12-01T16:37:31","request-id":"47cea0a4-5be0-40b1-8671-08dbb4e59a6a","client-request-id":"47cea0a4-5be0-40b1-8671-08dbb4e59a6a"}}})

[2021-12-01 16:51] shashishailaj commented on #84639
@bigkangji Thank you for your feedback . We will investigate and update the thread.

[2021-12-01 16:52] spelluru commented on #82350
@dsajanice - Thank you very much for the feedback. I will work with @clemensv on this. I have created a DevOps work item to track this work. Thanks.

#please-close

[2021-12-01 16:52] shashishailaj commented on #84637
@pm-bhatt Thank you for your query . We will investigate and update the thread on this.

[2021-12-01 16:52] #82350 closed

[2021-12-01 16:54] shashishailaj commented on #84638
@bigkangji Thank you for your feedback . We will investigate and update the thread.

[2021-12-01 16:58] ChaitanyaNaykodi-MSFT commented on #84655
Hello @msftnadavbh
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-01 17:18] #82413 closed

[2021-12-01 17:36] tfitzmac commented on #81376
@ricohomewood - I tested this scenario and I see changes for both scopes. Perhaps this is a capability that was added after your issue was created. At this point, there is no addition needed to the docs.
#please-close

[2021-12-01 17:36] #81376 closed

[2021-12-01 17:39] swieder opened #84676 "Are the bandwidth numbers in table correct??"
Are the bandwidth numbers correct in this set of 3 bulletted lists??  Should they be 1 Gbps for Standard, 2 Gbps for High Perf and 10Gbps for Ultra??

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways#testing-conditions

Seems to be correct in the table that follows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-12-01 17:40] andyjballgit opened #84677 "Azure Firewall , four-specific monitor logs mentioned but only 3 are mentioned"
[Enter feedback here]

as per below snip , is one missing , or should it just be 3
--
For Azure Firewall, **four** service-specific logs are available:

AzureFirewallApplicationRule
AzureFirewallNetworkRule
AzureFirewallDnsProxy
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473dce1d-d1ab-ba5f-0762-d7a69be35f28
* Versio

[2021-12-01 17:47] CraigDunn801 commented on #84654
I have the same question. I have enabled it in the portal, scoped a user in that doesn't not have the authenticator app as a registered method.  When I sign in with that user in an in private edge session, I am not getting the nudge to set up the authenticator app like I expect.

[2021-12-01 17:53] jonburchel commented on #80360
Thank you @maheshcheetirala for your suggestion to make the ADF docs better!  I added a link in this article pointing to an existing  tutorial/walkthrough showing how to create a Databricks notebook with UI, so I will close this issue out.  In the future, we will also be looking at adding more UI walkthroughs to support users of V2 who prefer the UI to the old V1 JSON-only approach, too.

[2021-12-01 17:55] eric-urban commented on #81876
@BruceHaley - Sorry for the delayed response. The link was fixed with [this commit](https://github.com/MicrosoftDocs/azure-docs/commit/ab6f6e9d68439723d2acefaae2c8487f8d13033d#diff-2cfb2f157be7339db5499c594c9e90213e700f226ce5930f93c9a05edd868861) back in October.

[2021-12-01 17:55] eric-urban commented on #81876
#please-close

[2021-12-01 17:55] #81876 closed

[2021-12-01 17:58] Teck13 opened #84679 "Radio Teck"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eef7c73-3c31-ca45-0e5e-cb5b970be268
* Version Independent ID: c4da818c-6404-210e-0185-be5b095a80de
* Content: [Distributed Tracing in Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/distributed-tra

[2021-12-01 17:59] patilp08 opened #84680 "sign in frequency is not being honored for apps"
[Enter feedback here]

We are looking for forcing a user to sign in very x hours (if he/she has not recently authenticated or unlocked the device) and have implemented a conditional access policy. (FYI - apps are Service Now, Salesforce).

We have configured SSO/MFA and created the conditional access policies for persistence session AND a separate policy for sign in frequency (example, 1 hour). We

[2021-12-01 18:00] andrePKI opened #84681 "Sizign and limits"
What would be the limitations of this solution?
I would like to know what the limits can be of this solution. Like max numer of records returned in a query, max number of invocations in a day, max throughpunt of the blob storage connector and so on.

We (enterprise scale, 15k employees) are looking at an ingestion of about  1,3 Billion events/day concentrated during daytime. That would be about 30

[2021-12-01 18:01] Grace-MacJones-MSFT commented on #84410
Thanks for sharing the doc @GannonMA . We are currently investigating and will update you when we have accurate information to provide about creating new Custom XPATH value.

[2021-12-01 18:06] andrePKI opened #84683 "Cost is now published?"
I found continuous data export cost published at (https://azure.microsoft.com/en-us/pricing/details/monitor/)
Does that mean it is now billed at those rates? If so, please update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daf3365-76b8-b98f-7fc8-51f520e6276b
* Version Independent ID: 93a216a6-fd66-cc0a-9

[2021-12-01 18:06] Grace-MacJones-MSFT commented on #84513
Thanks again for the feedback @ignaciofls ! I have submitted a PR to update this doc, the change is merged internally and will go-live in the public docs shortly.

[2021-12-01 18:06] #84513 closed

[2021-12-01 18:08] #80360 closed

[2021-12-01 18:08] Grace-MacJones-MSFT commented on #84406
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-01 18:08] #84406 closed

[2021-12-01 18:09] gabiliberato commented on #18015
Hi, @eternovsky.

Microsoft has a plan to update some public documentation on the website about it?

[2021-12-01 18:15] v-gpettibone commented on #60958
Hi @joshibhu, thanks for raising this issue. The article you cited (articles/iot-hub/quickstart-send-telemetry-node.md) no longer exists and has been replaced by https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-send-telemetry-iot-hub. The error you mentioned also no longer exists. I'm going to go ahead and close this issue.

[2021-12-01 18:15] v-gpettibone commented on #60958
#please-close

[2021-12-01 18:15] #60958 closed

[2021-12-01 18:20] andyjballgit opened #84684 "Confirm random precedence of DNS Servers when using Custom DNS Settings in Azure Firewall"
[Enter feedback here]

It would be good to confirm if below is true , as it seems different to how works on a standard Vnet DNS Servers setting with multiple entries , as this will try 1st Server, 2nd Server and so on.

If the Azure firewall behaviour is definately random as stated , I think it would be helpful to call out the difference for to VNet behaviour to clarify

--
 If you configure multi

[2021-12-01 18:20] andrewlukemt opened #84685 "conflicting information"
This document contains conflicting information.  The diagram shows an on-prem SHIR but later states:

"A private endpoint **requires** a virtual network and subnet for the link, **and a virtual machine within the subnet**, which will be used to run the Self-Hosted Integration Runtime (SHIR), connecting via the private endpoint link."

This implies that it requires the SHIR to be hosted within the

[2021-12-01 18:25] KranthiPakala-MSFT commented on #84664
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-12-01 18:26] JamesTran-MSFT commented on #84680
@patilp08
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-01 18:27] KranthiPakala-MSFT commented on #84685
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-12-01 18:28] #84312 closed

[2021-12-01 18:30] GiftA-MSFT commented on #84468
Hi, thanks for your feedback. We'll include a section for adding tags. In the meantime, please refer to the complete [sample code](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/javascript/CustomVision/ObjectDetection/CustomVisionQuickstart.js).

@PatrickFarley it seems 'Add tags to the project' section is missing from the JavaScript tutorial. Can you please review

[2021-12-01 18:30] ramya-rao-a commented on #84616
I logged this issue after we had a customer reach out to us in https://github.com/Azure/azure-sdk-for-js/issues/18837. Looks like there are more places where this migration has caused confusion. Do you have any contacts with the service team that we can talk to for resolving this?

[2021-12-01 18:37] yossi-y commented on #84683
No it’s not billed and feature doc states that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: andrePKI ***@***.***>
Sent: Wednesday, December 1, 2021 8:06:19 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Yossi Yossifon ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Cost is now published? (Issue #84683)

I found continuous data export

[2021-12-01 18:42] Grace-MacJones-MSFT commented on #84645
Hi @rakheshster, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-12-01 18:42] #81877 closed

[2021-12-01 18:45] JamesTran-MSFT commented on #84610
@thesheebs
I just wanted to check in and see if you had a chance to review my previous comment?

[2021-12-01 18:55] andrePKI commented on #84683
Ok, but why is a price published on the page I referred to?
<html>
<body>

Log Analytics Data Export | $0.13 per GB _1_
-- | --

</body>
</html>
 _1_ The size of data exported by Log Analytics Data Export is the number of bytes in the exported JSON formatted data. 1 GB = 10^9 bytes.

[2021-12-01 18:56] MonikaReddy-MSFT commented on #84663
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-01 18:57] Grace-MacJones-MSFT commented on #84635
Hi @erbalaji , thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-12-01 18:57] MartinJaffer-MSFT commented on #84485
Thank you for your feedback. This has been assigned to the content owner, @saveenr , and will be updated as appropriate.

[2021-12-01 19:01] MonikaReddy-MSFT commented on #84679
@Teck13 - Thank you for your question.
 Can you please provide more info regarding the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-01 19:02] MonikaReddy-MSFT commented on #84603
@Genesis129Hunting - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-01 19:02] MonikaReddy-MSFT commented on #84589
@karunakarsolomon - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-01 19:02] MonikaReddy-MSFT commented on #84585
@JanakarM - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-01 19:16] JamesTran-MSFT commented on #84680
@patilp08
Thank you for your time and patience!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.mi

[2021-12-01 19:16] #84680 closed

[2021-12-01 19:17] Sasanksarma commented on #25484
Hello everyone,

I am trying to call Azure API for FHIR through the App Service(Web App). I have got an app registered on Azure and have been using its client credentials. Through postman, I am able to hit the Azure API for fhir but after creating the Web app as mentioned in this doc https://docs.microsoft.com/en-us/azure/healthcare-apis/azure-api-for-fhir/tutorial-web-app-write-web-app, I am able

[2021-12-01 19:18] MonikaReddy-MSFT commented on #84546
@rahug1190  - Thank you for providing your insights.
@ezYakaEagle442  - I hope @rahug1190 has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-01 19:18] #84546 closed

[2021-12-01 19:18] #84547 closed

[2021-12-01 19:19] dcaro commented on #83776
Feature requests for Azure PowerShell modules should be opened here: https://github.com/Azure/azure-powershell/issues

[2021-12-01 19:38] masashi-shib commented on #53089
This is causing a lot of confusion @kasubram @mpchen are totally right.
Please add a note into the documentation that `publicNetworkAccess: disabled` will basically not allow the following:
* IP addresses on the Firewall Settings
* VNET Configured with Service Endpoints
* Public access from the internet

The only connections allowed to it are the ones going through Private Links.

[2021-12-01 19:41] FahimFBA opened #84687 "Missing the guidance for Pull Requests in `CONTRIBUTING.md`"
`Review the guidance for Pull Requests in our contributors guide.` returns `404 Page not found` error in the `CONTRIBUTING.md` file.

[2021-12-01 19:49] cynthn commented on #83997
@Klaas- Thanks for the feedback! You should be able to update existing Gen 2 VMs to use Trusted Launch. The docs were updated for GA with how to update\change the settings, but the overview didn't link back to that part of the how-to article. I've made some updates that should be live after 3:00 PST today :)

#please-close

[2021-12-01 19:49] #83997 closed

[2021-12-01 20:02] OverengineeredNetwork commented on #82039
Ok. Thanks for waiting.

So, I now have the option to exempt the following Advisor recommendations:
- Endpoint protection should be installed on machines
- Microsoft Defender for open-source relational databases should be enabled
- Virtual machines should encrypt temp disks, caches, and data flows between Compute and Storage resources
- Vulnerabilities in security configuration on your Linux machi

[2021-12-01 20:06] kobulloc-MSFT commented on #84658
@austvik Thank you for your feedback!  We will review this and update you shortly.

[2021-12-01 20:08] ChaitanyaNaykodi-MSFT commented on #84676
Hello @swieder, the circuit bandwidth defined in the testing conditions are correct.
Closing this issue as duplicate of #79884
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-01 20:08] #84676 closed

[2021-12-01 20:10] jonburchel commented on #80797
Thanks @Meister1867 for the excellent suggestion.  We are prioritizing adding more UI to the docs so look for more updates in the future.  I have added a UI walkthrough showing how to use the activity directly through ADF or Synapse Studio now.

[2021-12-01 20:34] MicrosoftGuyJFlo commented on #84620
@JamesTran-MSFT this needs to go to the PG #reassign:@JamesTran-MSFT

[2021-12-01 20:39] SamaraSoucy-MSFT commented on #84665
Thanks for the question! We will review and get back to you shortly.

[2021-12-01 20:40] SamaraSoucy-MSFT commented on #84669
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-12-01 20:42] MicrosoftGuyJFlo commented on #66072
#reassign:@rolyon

[2021-12-01 20:44] craigshoemaker commented on #84648
Hi @MCKLMT - thanks for the suggestion on the table. For now we are going leave the article as-is since comparison tables can hide nuances among different services. If you think of anything else that can help make the content more clear, please let us know!

#please-close

[2021-12-01 20:44] #84648 closed

[2021-12-01 20:51] craigshoemaker commented on #84214
@spottedmahn - you make a good point, but the purpose of a Quickstart is to be a self-contained procedure that can be completed in about 5 minutes, and sometimes it takes a few minutes for data to appear in the logs. You can find the steps to view logs from the [Monitor an app article](https://docs.microsoft.com/azure/container-apps/monitor).

#please-close

[2021-12-01 20:51] #84214 closed

[2021-12-01 20:54] kabharati commented on #80781
I made the required changes and added additional screenshots. Should reflect by tomorrow. Please feel free to reopen this PR should you have any questions

[2021-12-01 20:54] #80797 closed

[2021-12-01 21:00] kabharati commented on #80781
#Please-close

[2021-12-01 21:02] MicrosoftGuyJFlo commented on #84299
@ssivas this should go to either the Whiteboard team or Teams team for clarification and documentation.

[2021-12-01 21:02] MicrosoftGuyJFlo commented on #84299
#reassign:@ssivas

[2021-12-01 21:04] craigshoemaker commented on #83899
@ToruMakabe - thanks for the heads-up! I just submitted a change to the doc. I appreciate it 😉

#please-close

[2021-12-01 21:04] #83899 closed

[2021-12-01 21:07] jonburchel commented on #80762
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-12-01 21:07] #80762 closed

[2021-12-01 21:21] SamaraSoucy-MSFT commented on #84564
I've submitted a PR to clarify this. It will go live once the doc author has approved it.

[2021-12-01 21:21] #84564 closed

[2021-12-01 21:30] jonburchel commented on #82591
Thanks for catching this @alvintai78, and helping make the docs better!  I updated the section on creating a load balancer now and will close this out once the change merges.

[2021-12-01 21:43] AngelosP opened #84689 "VS 2022 has GA'ed and is not longer just preview"
In the Visual Studio section of the document it talks about VS 2022 Preview and also links  to the Preview download: https://visualstudio.microsoft.com/vs/preview/

Visual Studio has GA'ed now and customers are no longer required to use preview versions. We should change this article to point to the GA build of VS 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-12-01 21:50] thesheebs commented on #84610
I did not change the code. The GitHub repo contains the updated version using Azure.Identity. The article still shows Microsoft.Graph.Auth code. Using either method is not filtering out attributes with .Select() and is returning almost 200 attributes where it should only be fetching the attributes listed in the .Select()

Have a great day!

Amy :)

Sent from iPad

[2021-12-01 22:02] #83419 closed

[2021-12-01 22:10] mimckitt commented on #78452
Adding this information to the document until we have more update.

Thanks!

#please-close

[2021-12-01 22:10] #78452 closed

[2021-12-01 22:11] JimacoMS4 commented on #81916
Hi @ingomaas -- thanks for your feedback! Apparently, this was addressed right after you opened the issue, so I'm going to close this. If, after reviewing the topic, you find that there are more things that need to be addressed, please open a new issue or @comment me here.

Thanks again,

Jimaco

[2021-12-01 22:12] JimacoMS4 commented on #81916
#please-close

[2021-12-01 22:12] #81916 closed

[2021-12-01 22:32] mimckitt commented on #84436
Fair feedback. We generally try to cover CLI, PowerShell, REST and ARM but it's not always the case. I will pass this along to the folks who work in this space for future updates. I will close this issue for now as I don't have an ETA or thoughts on when/ if this would be available at least in this doc set.

#please-close

[2021-12-01 22:32] #84436 closed

[2021-12-01 22:39] m1nkeh commented on #59059
out of interest @spelluru did this get added to the docs, or is this info only on this issue?

[2021-12-01 22:44] JamesTran-MSFT commented on #84610
@thesheebs
Thank you for the clarification on this! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-01 22:45] ChaitanyaNaykodi-MSFT commented on #84677
Hello @andyjballgit
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-01 22:46] #82591 closed

[2021-12-01 22:48] jonburchel commented on #83959
Thank you @Chago2016 for the much needed review suggestion, and for helping us improve the docs!  I reviewed the article and updated it to improve its grammar now.  This issue will automatically get closed when the change is merged shortly.

[2021-12-01 22:52] ChaitanyaNaykodi-MSFT commented on #84684
Hello @andyjballgit
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-01 22:56] DerekHerman-MSFT commented on #84508
It appears this document has been updated. Closing out this issue.

[2021-12-01 22:56] #84508 closed

[2021-12-01 23:00] #84000 closed

[2021-12-01 23:01] ChaitanyaNaykodi-MSFT commented on #84677
Hello @andyjballgit, looks like it is a typo. There are Three service specific logs available for Azure Firewall. I will make a PR to rectify this in the documentation. Thank you for pointing it out to us.
<img width="700" alt="image" src="https://user-images.githubusercontent.com/67453298/144328052-0ceb7dd5-df47-4771-9288-5ad79aba08a3.png">

[2021-12-01 23:14] #84629 closed

[2021-12-01 23:33] spelluru commented on #59059
@m1nkeh - Thanks for contacting us. I will add it to the following article today. The updated article will go live tomorrow morning.
https://docs.microsoft.com/en-us/azure/event-grid/sdk-overview

[2021-12-01 23:37] SatishBoddu-MSFT commented on #59713
Hello @rploegCould you please give the exact pointer to which link in the document is not working?

![image](https://user-images.githubusercontent.com/62923178/144331424-8db2a91c-2b33-4abc-8c6f-3d5ded64bc95.png)

[2021-12-01 23:38] SatishBoddu-MSFT commented on #59713
#

[2021-12-01 23:38] stephajn opened #84691 "Needs Guidance on how to do this when using Microsoft.Identity.Web NuGet package"
At the very least, the video explains the querystring parameter that is causing the unnecessary consent prompt to appear, but the fix shown isn't useful unless a developer is working with Java and is working with the bare metal for building up a URL.

I'm using the Microsoft.Identity.Web NuGet package to make all of these headaches go away, so where am I supposed to tell this middleware NOT to put

[2021-12-01 23:40] barclayn commented on #83404
Hi @John-Garland, thank you for your submission. I find no information that indicates that Azure Maps supports managed identities. I do find documentation that indicates that Azure maps supports Azure Active Directory authentication. Managed identities support would imply that a service can authenticate to another service using a managed identity. Please let me know if I missed something.

[2021-12-01 23:40] barclayn commented on #83404
#please-close

[2021-12-01 23:40] #83404 closed

[2021-12-01 23:42] SatishBoddu-MSFT commented on #84657
Hello @Silloty1 Thanks for the feedback.

Our SME will review this issue.

[2021-12-01 23:44] SatishBoddu-MSFT commented on #84661
Hello @romankiss Thanks for the feedback.

Our SME will review and get back on this.

[2021-12-01 23:45] #84691 closed

[2021-12-01 23:46] stephajn commented on #84691
I realized that this wasn't the middleware being set up by default to do this. It was another cause.

As it turned out, I had my middleware configured to request additional scopes to consent and some permissions that weren't needed for consent were there.

[2021-12-01 23:47] rolyon commented on #66072
Hi @AlexFilipin
Thanks for your feedback. We updated the MFA section and added links to the docs.
https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task#multi-factor-authentication
Let us know if you have additional feedback.
thanks

[2021-12-01 23:48] rolyon commented on #66072
#please-close

[2021-12-01 23:48] #66072 closed

[2021-12-01 23:51] #83959 closed

[2021-12-02 00:00] normesta commented on #84558
@zezha-msft can you please confirm the support for syncing between Azure files and Azure Blob storage?

[2021-12-02 00:09] Scherlac opened #84692 "Missing information on `scope` while using templates."
At first we used `az cli` tool to create our `Container instances`, and that works as expected.

For our initial tests we've created a container using the following command:

[code]

Later as next step we started an evaluation on how to integrate the Container instance deployment into out release pipeline. Due to some consideration we tend to use template based solution.

During the evaluation we

[2021-12-02 00:12] eloisaebona opened #84693 "done"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* Content: [Get started with Azure Service Bus queues (.NET) - Azure Service Bus](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-

[2021-12-02 00:20] jorge-at123 commented on #72849
Hello @Karishma-Tiwari-MSFT and @mimckitt, could you update this issue?
I have the same question.

[2021-12-02 00:24] jorge-at123 commented on #83447
Hello @JamesTran-MSFT and @curtand! Is there any update here?
Thank you, guys.

[2021-12-02 00:28] BharathNimmala-MSFT commented on #84626
@tuttipazzo Thank you for bringing this to our notice, our team will review it and do the needful.

[2021-12-02 00:47] Imjustdave2 opened #84695 "Add reg key info as an option."
[Enter feedback here]
Should really provide the Registry settings that the policy makes. Not everyone needs or wnats to deal with group policy, DSC can easily push this as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485a190e-fc15-a62c-f35a-79afc69a5616
* Version Independent ID: 06d50488-b9e9-054a-2f2e-827fd3f8

[2021-12-02 01:06] dannyevers commented on #74069
#please-close

[2021-12-02 01:06] #74069 closed

[2021-12-02 01:08] JimacoMS4 commented on #68690
@yiyiguo FYI

[2021-12-02 01:18] jasongroce commented on #74069
@code4clouds We are publishing documentation updates to address this issue in the next day or two. Thanks for the feedback!

[2021-12-02 01:26] dragoscosma opened #84696 "Slight change to the KQL query"
In order to successfully run the suggested KQL query, it needs to be changed from:

BehaviorAnalytics
| where ActivityType == "FailedLogOn"
| where FirstTimeUserConnectedFromCountry == True
| where CountryUncommonlyConnectedFromAmongPeers == True

to:

BehaviorAnalytics
| where ActivityType == "FailedLogOn"
| where ActivityInsights.FirstTimeUserConnectedFromCountry == True
| where ActivityInsights

[2021-12-02 01:34] GeethaThatipatri-MSFT commented on #84656
@ziodave we have raised a PR to update the doc,changes will be live in 24 to 48 hours. Thank you for helping us to improve our documentation.

[2021-12-02 01:37] Yuki-Nishio commented on #84354
Hello @DavidTrigano,

Thank you for adding the new section.
As I mentioned, however, the I don't believe the following roles are enough to view a scan result. This description has not yet been changed. Could you please check it?

  SQL Security Manager
  Storage Blob Data Reader

[2021-12-02 01:38] GeethaThatipatri-MSFT commented on #84649
Hi @danimir please see the customer feedback above, as we don't have access to update the image in Microsoft documentation. could you please help us with the PR.

[2021-12-02 02:50] technion commented on #81940
@JamesTran-MSFT

Hi James. With nearly two months passing I'd like to ask again for a response on this.

[2021-12-02 02:56] GeethaThatipatri-MSFT commented on #84640
Hi @olprod Thanks for your findings, I'm assigning this to the author for the feedback review.

[2021-12-02 03:00] MonikaReddy-MSFT commented on #84687
@FahimFBA - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-02 03:01] MonikaReddy-MSFT commented on #84681
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-02 03:01] MonikaReddy-MSFT commented on #84667
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-02 03:02] MonikaReddy-MSFT commented on #84573
@dcrreynolds - Thanks for responding back. Do you have any specific doc that you recommend, that the above information needs to be added ?

[2021-12-02 03:03] MonikaReddy-MSFT commented on #84585
@JanakarM - Since we have not heard back from you, we will now proceed to close this thread.
However, if you can share additional information regarding the documentation, you are referring and circle back on this thread, we will gladly reopen the issue and continue the discussion. Thank you.

[2021-12-02 03:03] #84585 closed

[2021-12-02 03:03] MonikaReddy-MSFT commented on #84589
@karunakarsolomon - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-12-02 03:03] #84589 closed

[2021-12-02 03:05] MonikaReddy-MSFT commented on #84603
@Genesis129Hunting - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-12-02 03:05] #84603 closed

[2021-12-02 03:06] MonikaReddy-MSFT commented on #84679
@Teck13 - Thank you for your question.
Can you please provide more info regarding the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-12-02 03:25] VikasPullagura-MSFT commented on #84692
@Scherlac
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-02 03:25] VikasPullagura-MSFT commented on #84692
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-12-02 03:27] VikasPullagura-MSFT commented on #84695
@Imjustdave2
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-02 03:27] VikasPullagura-MSFT commented on #84695
@gundarev
Can you please check and add your comments on this doc update request as applicable.

[2021-12-02 03:39] weinishen opened #84700 "microsoft.aadiam/azureADMetrics Issue"
Regarding this part, https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftaadiamazureadmetrics

![image](https://user-images.githubusercontent.com/95032150/144353345-e0e2cbdd-fdb9-4509-baeb-f4461ae3b513.png)

We tried to browse Azure AD metrics in the blow part. However, there is no result shown. Is there any settings we need to configure first before anything

[2021-12-02 03:48] adamdost-msft opened #84701 "Video is unavailable"
Chaos Studio Pages video is showing as unavailable at this time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbc6de0d-a717-3340-9e88-fdf18a559e1c
* Version Independent ID: b02f8517-e05f-b955-201c-62bea86d04fa
* Content: [What is Azure Chaos Studio?](https://docs.microsoft.com/en-us/azure/chaos-studio/chaos-studio-ov

[2021-12-02 04:00] vipulsparsh commented on #84696
@dragoscosma Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-02 04:06] yururin opened #84703 "Some misleading description about blob storage mounting document"
On this page: https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-storage#--mount-an-azure-blob-storage-container

Current:
<conf-key> can be either fs.azure.account.key.<storage-account-name>.blob.core.windows.net or fs.azure.sas.<container-name>.<storage-account-name>.blob.core.windows.net

Issue:
This explanation may be misleading. In a more accurate way, you can cho

[2021-12-02 04:08] KrishnaG-MSFT commented on #84701
@adamdost-msft Thanks for bringing this up and sharing the feedback here.
Assigning to @johnkemnetz for visibility, review and document enhancement consideration as appropriate.

[2021-12-02 04:23] AshokPeddakotla-MSFT commented on #84666
@robertlagrant Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-02 04:54] PramodValavala-MSFT commented on #84693
@eloisaebona Hope the docs are helpful in your journey learning Azure! Did you have a question here regarding Service Bus or the docs in general? If so, could you please share details here? Thanks!

[2021-12-02 04:57] Karishma-Tiwari-MSFT commented on #83160
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 04:58] ShaikMaheer-MSFT commented on #84703
@yururin Thank you for your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-02 05:01] Karishma-Tiwari-MSFT commented on #82949
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 05:13] Karishma-Tiwari-MSFT commented on #82739
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 05:18] Karishma-Tiwari-MSFT commented on #82323
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 05:20] Karishma-Tiwari-MSFT commented on #82042
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 05:24] Karishma-Tiwari-MSFT commented on #76381
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 05:49] RohitMungi-MSFT commented on #84616
From the documentation perspective the content author & team tagged above could help to update the document. I believe the cognitive services references are still supported for older cognitive resources so this could be the reason that this is not updated. The [documentation ](https://docs.microsoft.com/en-us/bing/search-apis/bing-image-search/overview)under bing though is available only with the

[2021-12-02 06:32] v-hagamp commented on #84431
#please-close

[2021-12-02 06:32] #84431 closed

[2021-12-02 06:44] JenifferKiki opened #84707 "Repeat steps and meaningless steps in this doc"
This article has repeat part. Th purpose to upload Service Provider metadata file is to get the reply URL but to get Service Provider metadata file,we have to input reply URL first. So it's meaningless to upload Service Provider metadata file to AAD. It makes our end user very confused.
Please update is ASAP, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-12-02 06:48] andyjballgit commented on #84684
Hi,
**Repo details**
- i did a quick test where i had below in DNS Servers in firewall settings and had a script hit bbc.co.uk with Invoke-WebRequest 90 times with 120 second intervals (which is more than the ttl for bbc.co.uk) from a client that routes through the Azure firewall

10.1.0.20  -- Dummy IP / no DNS
10.1.0.22  -- Dummy IP / no DNS
168.63.129.16 -- Azure DNS Resolver

- bbc.co.uk allow

[2021-12-02 07:11] Teck13 opened #84708 "Radio"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8ad36ee-1288-9e92-2343-1a50ef487447
* Version Independent ID: 56f87b33-72a1-74e2-ed97-3eb7f81685c0
* Content: [Use a custom markdown tile on Azure dashboards - Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-markdown-ti

[2021-12-02 07:13] Teck13 opened #84709 "Radio"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8ad36ee-1288-9e92-2343-1a50ef487447
* Version Independent ID: 56f87b33-72a1-74e2-ed97-3eb7f81685c0
* Content: [Use a custom markdown tile on Azure dashboards - Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-markdown-ti

[2021-12-02 07:45] yossi-y commented on #84683
Hi,
We planned to GA the feature earlier and therefore start charge sooner, thus needed the meter in place. Also, setting up meters is done in a separate and long cycle and we had to make sure it's ready ahead of time. We tried to be clear in our doc and stated: "Currently, there are no other charges for the data export feature." [here](https://docs.microsoft.com/azure/azure-monitor/logs/logs-data

[2021-12-02 07:46] KrishnaG-MSFT commented on #84708
@Teck13 On [this](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-markdown-tile) referred Azure document, if you have any feedback (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) then please elaborate it so we can review and try to take action as appropriate.

[2021-12-02 07:46] KrishnaG-MSFT commented on #84709
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/84708

[2021-12-02 07:46] #84709 closed

[2021-12-02 07:54] SnehaAgrawal-MSFT commented on #83988
@durayakar-aflac Apologies for late response here! Could you please send us an email with subject line “Attn:Sneha |thread title” to AzCommunity@microsoft.com referencing this thread, for deeper investigation and requirements on this. I will follow-up with you.

[2021-12-02 08:09] przemos opened #84710 "Azure Functions EP1 plan"
Hi,

it is not clear if Azure Premium App Service Plans have the Zone Redundancy built in now too or we are yet to see them ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef86ae6-02f7-b8dd-5530-519ba21d153d
* Version Independent ID: 6274feaa-aa0a-721b-fb18-2dce06cec13e
* Content: [Availability Zone support for publi

[2021-12-02 08:15] yutaro113 opened #84711 "Why url "*.azurefd.net" has been removed from the proxy safelist?"
As far as I see, "*.azurefd.net" seems to be removed at the commit "cc3a45b566cabb4a4f529ed58048468bb5fc4975".
We see this domain is still called while opening app service diagnostic and solve UI so i think it should be listed as it is.
Could you please check why it's removed?

https://github.com/MicrosoftDocs/azure-docs/pull/53104

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-12-02 08:28] AlexeyEvlampiev commented on #81914
Thank you very much for the clarification!
The issue can be closed

[2021-12-02 08:55] joeakim opened #84712 "All features of Standard or Premium Tier?"
Hi there,

this documentation says: "Namespaces and event hubs created within the cluster include all features of the Premium offering..."
But the introduction text within the respective Azure service says: "Namespaces and event hubs created within the cluster include all features of the Standard offering..."

Could you please adjust either one?

Thanks,
Joachim.

---
#### Document Details

⚠ *Do

[2021-12-02 09:08] mshyatsu opened #84713 "Clarification for selecting minor version of Java is needed for Linux"
[Enter feedback here]
The minor version of Java is connected to the version of Tomcat. However, we cannot see any detail in the document. Plus, we need to know how to fix the minor version of Java for Linux, so should add an explanation like "If you want to fix the minor version of Java, select the specific version of Tomcat. Both version is connected." Otherwise, we are unable to know how to fix

[2021-12-02 09:40] el-aasi commented on #38223
Still an issue

[2021-12-02 09:46] SadiqhAhmed-MSFT commented on #84551
@bzabber Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-12-02 09:46] SadiqhAhmed-MSFT commented on #84528
@pthomas848 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-12-02 10:26] squasta opened #84714 "mistake (typo) in an az CLI command"
az feature list -o table --query "[?contains(name, 'microsoft.ContainerService/SnapshotPreview')].{Name:name,State:properties.state}"

has an error :   microsoft.ContainerService   must be **M**icrosoft.ContainerService

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2a49af-10d0-9f2a-92b4-564f8a7ab514
* Version Indepe

[2021-12-02 10:38] SnehaAgrawal-MSFT commented on #84710
@przemos Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-02 10:40] SnehaAgrawal-MSFT commented on #84713
@mshyatsu Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-02 10:59] #84714 closed

[2021-12-02 11:00] SrijitBose-MSFT commented on #84714
@squasta , thank you for your feedback. We have updated the document. The changes should reflect soon!

[2021-12-02 11:01] noodlemctwoodle opened #84715 "Does not have authorization to perform action 'Microsoft.Insights/register/action' over scope"
Please can you add the required Subscription `Resource Provider` to the Documentation

- Microsoft.Insights

If `Microsfot.Insights` is missing as a resource provider on the subscription, you will be unable to create the connection from B2C to the Directory where the subscription resides.

You will receive the following error:

    Failed to update diagnostics for '/providers/microsoft.aadiam'.{"e

[2021-12-02 11:17] CHEEKATLAPRADEEP-MSFT commented on #84712
@joeakim  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-02 11:20] AshokPeddakotla-MSFT commented on #84643
@RFAG-daniel-ott Thanks for sharing the additional information. Since you are unblocked, adding author @kgremban to take a look at the feedback and update the doc if necessary.

[2021-12-02 11:21] FallenHoot commented on #83767
The text within https://docs.microsoft.com/en-us/azure/virtual-machines/edv5-edsv5-series is correct, but the overview of https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-memory is wrong.

PR Request has been created #84716

[2021-12-02 11:23] pthomas848 commented on #84528
@SadiqhAhmed-MSFT , thanks for the reply. I took some time to experiment with the backup estimator to balance the increase in storage with the lower price per GB. I get the principle now, thanks again

[2021-12-02 11:32] sancilla opened #84717 "BAD CODE IN TUTORIAL"
Hi,

I wanted to go through this:
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm

In the code of AzureListener you probably made some mistake:

public void OnPushNotificationReceived(Context context, INotificationMessage message)
    {
        var intent = new Intent(this, typeof(MainActivity));  // <= this 'this' is NOT WORKING he

[2021-12-02 11:43] AshokPeddakotla-MSFT commented on #84618
@dominicbetts Please review the feedback and update the doc accordingly.

These feedbacks are related to single doc: https://docs.microsoft.com/en-us/azure/iot-central/core/quick-export-data

https://github.com/MicrosoftDocs/azure-docs/issues/84617
https://github.com/MicrosoftDocs/azure-docs/issues/84618

[2021-12-02 11:44] HannahHsiao opened #84718 "There is no "Cost by resource" view on Azure portal"
There is no "Cost by resource" view.
Refer to https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-analysis-common-uses#view-cost-breakdown-by-azure-resource, step 2. "Select Cost by resource.", but there is no "Cost by resource" view on Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-12-02 11:51] Svijay-msft commented on #84689
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-12-02 11:55] andrePKI commented on #84683
Okay, it is clear now. Thank you.

[2021-12-02 11:56] #84683 closed

[2021-12-02 12:10] thiruma0203 opened #84720 "CLI command option should be checked again"
Documentation shows Azure CLI sample as below.

az vm create \
   --resource-group myResourceGroup \
   --name myVM \
   --image UbuntuLTS \
   --admin-username azureuser \
   --generate-ssh-keys \
   --SecurityType trustedLaunch \
   --EnableSecureBoot true \
   --EnableVtpm true \

However,  --SecurityType,  --EnableSecureBoot and --EnableVtpm don't appear to be correct. Correct ones should be -

[2021-12-02 12:25] rwerlang commented on #38774
I agree. Same here, spending hours to solve it, to then find this issue and see I don't need to use it.

[2021-12-02 12:37] mattcorr opened #84721 "Missing tips"
I would recommend for macOS users, that they remove all versions of .net SDK and runtimes **before** they install .net 6.0. Otherwise, you will get very un-usual errors when trying to build C# functions through Visual Studio code.

I was able to fix my issues with [this](https://devkimchi.com/2021/11/24/removing-dotnet-sdks-from-macos-manually/).

---
#### Document Details

⚠ *Do not edit this sec

[2021-12-02 12:51] alisson276 opened #84723 "The page doesn't mention portal.azure.cn configs"
On the china portal (portal.azure.cn) those are not the default permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510faed7-b79d-b8ec-f32f-e64d8773a30c
* Version Independent ID: 522e7e2e-ea93-5249-5e6f-5c984f1b6277
* Content: [Default user permissions - Azure Active Directory](https://docs.microsoft.com/en-us/

[2021-12-02 13:01] wmaniek123 opened #84724 "Bad Url definitions are breaking the Certificate Revocation Checks probably in many places!!!"
[Enter feedback here]

I'm not sure if all but probably most of URL's are definied wrong way with *. witch is treaded like the domain prefix

<html>
<body>

*.crl3.digicert.com | HTTP/80 | Used to verify certificates.
-- | -- | --
*.crl4.digicert.com | HTTP/80 | Used to verify certificates.
*.ocsp.digicert.com | HTTP/80 | Used to verify certificates.
*.www.d-trust.net | HTTP/80 | Used to verify ce

[2021-12-02 13:13] wbplomp commented on #7731
I also encounter this issue
- The initiative is not assigned.
- The initiative contains only one parater that was used.
- When the parameters is not used anymore, and you try to remove the parameters I get the following error
The existing policy has '1' parameter(s) which is greater than the count of parameter(s) '0' in the policy being added. Policy parameters cannot be removed during policy upda

[2021-12-02 13:27] Karishma-Tiwari-MSFT commented on #84720
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 13:27] FahimFBA commented on #84687
Sure! This [link](https://github.com/MicrosoftDocs/azure-docs/blob/master/contribute/how-to-write-workflows-major#pull-request-processing) doesn't work as it returns a 404 error.
The link is located in the `CONTRIBUTING.md` [file](https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md).

[2021-12-02 13:41] RyanHill-MSFT commented on #84717
Thanks for reporting this [@sancilla](https://github.com/sancilla) and apologies for the annoyance! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-02 13:56] DeanGross opened #84725 "using MS Search with Security Attributes"
Is there any support for using the search functionality in M365 with these custom attributes? i.e, can these attributes be mapped to managed properties in SharePoint Online search?

--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896aa11-53c5-722b-aabf-e59dda55cf38
* Version Independent ID: 7291a3a0-24d6-0e88-9105-29001f

[2021-12-02 13:57] eric-urban commented on #81732
@nssidhu - Sorry for the delay. This scenario isn't supported. Since it’s running in a web browser environment, it won’t be able to load Native binaries.

[2021-12-02 13:57] eric-urban commented on #81732
#please-close

[2021-12-02 13:57] #81732 closed

[2021-12-02 14:00] SadiqhAhmed-MSFT commented on #84528
@pthomas848 Thanks for confirming. Closing this issue for now. Feel free to ping with questions if need further assistance.

[2021-12-02 14:12] anthfuller opened #84726 "Azure security baseline for Azure Active Directory"
[The link on the page is broken, on this section: "This security baseline applies guidance from the Azure Security Benchmark version 2.0 to Azure Active Directory. The Azure Security Benchmark provides recommendations on how you can secure your cloud solutions on Azure. The content is grouped by the security controls defined by the Azure Security Benchmark and the related guidance applicable to Az

[2021-12-02 14:16] vipulsparsh commented on #84707
@JenifferKiki Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-02 14:18] vipulsparsh commented on #84724
@wmaniek123 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-02 14:21] kabharati commented on #83963
This is updated. Closing the PR

[2021-12-02 14:21] #83963 closed

[2021-12-02 14:49] joe-mills opened #84727 "Azure Logic Apps Tools does not Support Visual Studio 2022"
Azure Logic Apps Tools does not Support Visual Studio 2022.  The article only references VS 2019.  Installing the Azure Logic Apps Tools results in an error if only 2022 is installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-9f4b4febf8d5
* Version Independent ID: a02db181-a2e8-2a13-5932-d9

[2021-12-02 14:49] msftradford commented on #84657
Hi @Silloty1, thanks for brining this to our attention! We are working on the fix (#31481757).

[2021-12-02 15:00] sopelt commented on #72019
Hi @RyanHill-MSFT
are there any updates on this scenario?
There doesn't seem to be any documentation and we were not able to work out the correct audience/scopes for preproviding an oidc token.

[2021-12-02 15:03] msftradford commented on #84657
The fix has been submitted in #181649 and will go live today

[2021-12-02 15:03] bzabber commented on #84551
Hi,

It’s still seems counter-intuitive. Low churn (5G) should result in a smaller full wouldn’t it? It may sound like a silly question but I want to make sure I understand it well enough so I can explain it when my customers ask me the same thing. 😊

Bryan Zabchuk
He/Him
Consultant
Azure Cloud & AI
Office: 613-212-3867
Mobile: 613-793-5190
***@***.******@***.***>

[Microsoft Logo]

From: SadiqhAh

[2021-12-02 15:05] #84528 closed

[2021-12-02 15:06] SadiqhAhmed-MSFT commented on #84551
See similar question here - https://github.com/MicrosoftDocs/azure-docs/issues/84528

[2021-12-02 15:08] AlexWareUltromics commented on #30253
How does that have anything to do with his question??

[2021-12-02 15:09] dombarnes opened #84728 "Missing parameter for Copy containers, directories, and blobs instructions"
"Copy containers, directories, and blobs" section does not specify the requirement for a SAS token for the destination storage account despite this apparently being required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59827b34-a728-ac8d-0ba0-0b60cde2321d
* Version Independent ID: 8daf39eb-e037-b5e5-874e-c9b556cc243

[2021-12-02 15:13] KrishnaG-MSFT commented on #84718
@HannahHsiao Thank for reaching out!

As shown in below screenshot, I could still see it. Did you click in the order as highlighted in the below screenshot ?

<img width="813" alt="image" src="https://user-images.githubusercontent.com/45988031/144449086-418f57c2-52c1-45be-a612-3ec8b796453b.png">

[2021-12-02 15:15] #83983 closed

[2021-12-02 15:18] likemike91 commented on #72019
I basically face the same issue which I described over at stackoverflow:
https://stackoverflow.com/questions/70196274/invalid-audience-when-protecting-azure-function-with-app-service-authentication

Would be nice to get an update on that if possible including some guidance how to properly configure the EasyAuth.

[2021-12-02 15:24] RFAG-daniel-ott commented on #84643
@kgremban  and @AshokPeddakotla-MSFT
I did some more tests to get a better understanding of how the error occurs each time doing a complete reinstall of Buster to ensure proper results. It seems that to successfully install the moby engine I have to FIRST follow the instructions in the tutorial up to and including the steps to ["Access the Microsoft installation packages"](https://docs.microsoft.c

[2021-12-02 15:25] spelluru commented on #84712
It should be "premium" offering. I will fix it today. Thanks

[2021-12-02 15:33] spelluru commented on #84712
@joeakim - Could you share the link to the article that has the following statement (with Standard offering)? Thanks!

But the introduction text within the respective Azure service says: "Namespaces and event hubs created within the cluster include all features of the **Standard offering...**"

[2021-12-02 15:35] spelluru commented on #84712
@joeakim - I see it on the **Create a resource** -> **Event Hubs Cluster** page. I will open a bug with the product team and close this GitHub issue as it doesn't require a doc fix. Thanks.

[2021-12-02 15:40] mjanofsky opened #84729 "Images are out of date"
The images for the Time To Live page appear to be from an older version.

**Current Screen**
![image](https://user-images.githubusercontent.com/414494/144453583-12daa4ed-eea0-425f-a50e-43b9ddb0fff9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b1

[2021-12-02 15:42] MonikaReddy-MSFT commented on #84700
@weinishen - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-02 15:49] noodlemctwoodle commented on #84715
@KrishnaG-MSFT  - Sure my bad, I should have added the Docs Page.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor

[2021-12-02 15:49] johnayoub commented on #84152
@PramodValavala-MSFT  Thanks! What about durable functions? I believe they use tables under the hood? Is Azure Files also supported?

[2021-12-02 15:51] johnayoub commented on #83641
@RyanHill-MSFT Any update on this? How can I force refresh the Key Vault reference?

[2021-12-02 15:57] chkp-jmichealson opened #84730 "Notes not displaying properly in article"
Notes are not displaying properly for the article below.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/dome9arc-tutorial.md

[2021-12-02 16:02] chrisdoofer opened #84732 "Powershell Automation"
Hey Team,

Really great to see that we can now grant SPN's with EA roles.  Is it possible we will be updating this to provide guidance on how to automate using Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b4787e-1e2f-dd28-b33b-0a220ad0819d
* Version Independent ID: c663cfb2-3ea6-4a6e-9d88-f146526ead59
*

[2021-12-02 16:07] craigshoemaker commented on #84207
Good point, @SebastianSchuetze. I updated to doc to state per subscription specifically.

#please-close

[2021-12-02 16:07] #84207 closed

[2021-12-02 16:10] craigshoemaker commented on #84073
Thanks for the feedback, @geekydonna! This channel used to report issues on the docs themselves. Try reaching out to [support](https://support.microsoft.com/) for help with individual scenarios.

#please-close

[2021-12-02 16:10] #84073 closed

[2021-12-02 16:18] seligj95 commented on #84710
@przemos - Zone redundancy is available for EPx plans (EP1 is supported). Please see this doc: https://docs.microsoft.com/en-us/azure/azure-functions/azure-functions-az-redundancy.

[2021-12-02 16:38] SnehaAgrawal-MSFT commented on #84385
@hyn-tester Thanks again for the feedback! looking at the error details its seems to be firewall issue as its mentioned in the [document](https://docs.microsoft.com/en-us/azure/app-service/manage-backup#requirements-and-restrictions) that " Using a firewall enabled storage account as the destination for your backups is not supported. If a backup is configured, you will encounter backup failures."

[2021-12-02 16:53] robece commented on #81891
Hi @jayendranarumugam apologies, I see there is no more public information for your questions, based on your request I'm working to improve our documentation, however, I did a quick reverse engineering based on the public Azure CLI command for event subscription creation: https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription?view=azure-cli-latest#az_eventgrid_event_subscription_c

[2021-12-02 17:01] otacilio-psf commented on #13198
My workaround was create a delete request at the end of the code.

[2021-12-02 17:13] markjbrown commented on #84311
If no further questions will close this.

#please-close

[2021-12-02 17:13] #84311 closed

[2021-12-02 17:15] MatthewBrown0 opened #84736 "Section Missing Resolution Steps"
The section "Deletion access violation and Password access violation errors" does not contain any steps to resolve the issue.  Most of the other sections contain troubleshooting or resolution steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d14c8605-c13c-b30d-1061-7f518a5549df
* Version Independent ID: 06bd2278-09

[2021-12-02 17:20] SaiKishor-MSFT commented on #84532
@vhorne Can you please look into this?

[2021-12-02 17:21] jonels-msft commented on #84666
I confirmed that the feature of decreasing the number of Hyperscale (Citus) worker nodes is not available through the Azure portal. In exceptional situations, we could do this via a support request. Normally compute and storage scaling is infrequent, and scaling nodes is even less frequent.

If you would like to discuss specific needs for your workload, please feel free to reach out to our team at

[2021-12-02 17:22] b-hchen commented on #84023
Connected Carlos (@porrascarlos802018) with NetApp ANF technical team members, transitioning discussion to email.

Email subject: 2111160040005415 RE: Configure LDAP with extended groups - for AKS

Closing this issue for now.  We'll determine doc changes, if any, through internal discussion.

#please-close

[2021-12-02 17:22] #84023 closed

[2021-12-02 17:23] ssivas commented on #84526
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will gladly continue the discussion. Thanks.

#please-close

[2021-12-02 17:23] #84526 closed

[2021-12-02 17:25] jcschmidt31 opened #84737 "SP vs IDP sections need to be delineated"
Sections are not clearly defined so it looks like you need to do the whole page of steps instead of steps 1-9 or steps 10-XX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c206e955-bb5b-0707-5cf5-7b29cdf0ff6e
* Version Independent ID: f00eff35-9f21-ea45-45a6-eba4be4fda04
* Content: [Tutorial: Azure Active Directory in

[2021-12-02 17:26] Svijay-msft commented on #84464
Hello @clementratel,

I did try the steps at my end and unfortunately I was not able to replicate the issue.

Having said that, I had been researching issues that had similar issues. The issue is likely to occur if the entity path was missing or incorrect in the config file (TelcoGenerator\TelcoGenerator\telcodatagen.exe.config).

If the  issue is still persistent , this might need a closer look.

[2021-12-02 17:26] #84464 closed

[2021-12-02 17:27] passingmagic opened #84738 "Confusing sentence"
The sentence "By default, an API Management instance must be accessible from the internet" doesn't make sense. If something can be changed (implied by "default"), how is it a "must"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8159a3-9a02-83c3-90da-b074f6c689b0
* Version Independent ID: 89a9235b-ecc7-86e5-f2fa-399

[2021-12-02 17:33] aahill commented on #83496
Thanks for pointing out this issue. That article seems out-of-date, and we'll take them down shortly.

I would recommend following the article here, in the Bot Framework documentation: https://docs.microsoft.com/composer/how-to-add-luis?tabs=v2x

#please-close

[2021-12-02 17:33] #83496 closed

[2021-12-02 18:00] RyanHill-MSFT commented on #84611
Hi @rballonline, I'm sure the team appreciates you seeing it as magic...but it's not all magic.

When you deploy a NodeJS app to a Linux app service plan, it uses an [Oryx docker image](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md) to host and run your app. By default, the platform will hit 80 or 8080 to route the inbound traffic. If the app code doesn't respond, an error mes

[2021-12-02 18:00] #84611 closed

[2021-12-02 18:03] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , I tried to repro this issue in my lab with single user account created in one subscription & added as guest in another subscription and I am getting the "**LinkedAuthorizationFailed**" error on both ARM template & Azure portal.

![image](https://user-images.githubusercontent.com/67630903/144477708-1801e1ca-fe55-4b3b-9e94-c672e2cfc592.png)

![image](https://user-images.githubusercontent.

[2021-12-02 18:06] Oury-MSFT commented on #84729
@Mjanofsky Thank you for your feedback. We are looking into this and will get back shortly.

[2021-12-02 18:06] GeethaThatipatri-MSFT commented on #84736
Hi, @MatthewBrown0  Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 18:13] SamaraSoucy-MSFT commented on #84721
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-12-02 18:15] SamaraSoucy-MSFT commented on #84727
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-02 18:16] SamaraSoucy-MSFT commented on #84738
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-02 18:40] mikben commented on #77681
#please-close

[2021-12-02 18:40] #77681 closed

[2021-12-02 18:41] JimacoMS4 commented on #71265
Hi @Mansoormahfoud, Thanks very much for your feedback. We just published updates to the topic to cover this limitation. There is an additional sentence that specifically addresses nested edge here: https://docs.microsoft.com/en-us/azure/iot-dps/about-iot-dps#when-to-use-device-provisioning-service and there's a note here: https://docs.microsoft.com/en-us/azure/iot-dps/about-iot-dps#related-azure-

[2021-12-02 18:42] JimacoMS4 commented on #71265
#reassign @JimacoMS4

[2021-12-02 18:45] MonikaReddy-MSFT commented on #84732
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-02 18:46] MonikaReddy-MSFT commented on #84711
@yutaro113  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2021-12-02 18:51] Anand-Moghe opened #84740 "Does AAD B2B allows application access to guest users deleted in their home AAD Tenant?"
I am trying to find documentation on AAD B2B scenario where guest users are deleted from their home Tenant.
What happens in this case? Do they still retain the access to Applications in resource (Application) tenant?
I could not find any answer to this question in AAD B2B FAQ. Please add information in the Azure Docs for B2B.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-12-02 19:01] cherylmc commented on #77298
Thanks! I made the update in a different PR. It should be live now. #please-close

[2021-12-02 19:01] #77298 closed

[2021-12-02 19:04] VitalyMCT opened #84742 "Windows Server 2022 Datacenter"
According to this page the functionality is only supported on Windows Server 2019 Datacenter. Is that accurate or is Windows Server 2022 Datacenter also supported?

_Edit: seems to be a matter of documentation being out of date. The Azure Portal has the option for AAD Login for Windows Server 2022 Datacenter (and it's there without an "unsupported" warning, unlike for example for Windows Server 20

[2021-12-02 19:04] KranthiPakala-MSFT commented on #84590
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-12-02 19:04] #84590 closed

[2021-12-02 19:36] MarileeTurscak-MSFT commented on #84723
@alisson276
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 19:39] roberts2727 commented on #39322
@RyanHill-MSFT Has this changed? I am currently trying to run shiny proxy on app services and it needs access to the docker socket to launch its proxy containers. I would love to not have to deal with AKS if not needed.

[2021-12-02 19:40] DerekHerman-MSFT commented on #84728
@dombarnes It shouldn't be required if you are authenticated. We state this at the top of the article. Let us know if you are finding a case where this is incorrect.
_"The examples in this article assume that you've authenticated your identity by using Azure AD so the examples omit the SAS tokens from the destination URL."_

[2021-12-02 19:44] lzchen commented on #83998
@simonvane
Great questions. I've answered them inline.

We can update the examples in with the different ways to instantiate the exporters. I'll be making those changes soon.

The only reason why we still support instrumentation key alone is due to legacy reasons and we did not want to break users. It was a tactical decision to move users towards connection string method of instantiation. Connecti

[2021-12-02 19:45] RyanHill-MSFT commented on #83641
Apologies for the delayed response @johnayoub. So as far as _configuration changes_ go, refers to any changes that would result in a restart of the app service, e.g. an app settings change. I'll add some verbatim making this clearer.

[2021-12-02 19:46] #84121 closed

[2021-12-02 20:19] rifaterdemsahin opened #84744 "I could not make the pycuda work"
Used this document
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu

Tried the combinations of the images but they did not turn on
here is the dockerfile
https://github.com/rifaterdemsahin/workstation/blob/master/docker/gpudockerfile

Error and what I tried

https://www.youtube.com/watch?v=08ngxGbBwKY
Error
[code]

[2021-12-02 20:23] MarileeTurscak-MSFT commented on #84742
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 20:23] spelluru commented on #84712
Reported the bug to the product team. It's on their backlog now. Thanks.
#please-close

[2021-12-02 20:23] #84712 closed

[2021-12-02 20:30] rifaterdemsahin commented on #84744
Also opened a support request here
https://portal.azure.com/#@pexabo.com/resource/subscriptions/15704bda-bb65-45ef-bd84-55b56bb32733/providers/Microsoft.Support/supportTickets/2111180050002093

[2021-12-02 20:38] SaiKishor-MSFT commented on #84599
@mscatyao Can you please look into this request?

[2021-12-02 20:46] SteveColegrove commented on #33223
I don't see the update.  The old, deprecated cmdlet (Set-AzRecoveryServicesVaultContext) is still used in the example.  There's no change to use -VaultID.

[2021-12-02 20:52] markdepalma opened #84745 "Azure AD Password Protection DC agent Requirements Typo"
The DC agent requirements state "All machines where the Azure AD Password Protection proxy service will be installed must have .NET 4.7.2 installed.", but it should say "All machines where the Azure AD Password Protection DC agent service will be installed must have .NET 4.7.2 installed." It looks like this may have been copied and pasted from the proxy section.

---
#### Document Details

⚠ *Do n

[2021-12-02 20:53] edwardsitj-stratascale opened #84746 "This no longer works after --version v3.39.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create an ingress controller - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/ingress-basic)
* Content Source: [artic

[2021-12-02 21:05] bsaxbergMS opened #84747 "Updated Steps"
[Enter feedback here]
Trying to follow the document I'm in the "Copy a Disk" section
Steps 5 and 6 are now ordered differently in the portal.  Resource Group drop-down is before Name.
Step 7 I don't have a "choose account type" I have "Snapshot Type: Full or Incremental"
Account type seems to be renamed to Storage Type

Step 14 has been changed from Account Type to Size.

This might need to be upd

[2021-12-02 21:08] bandersmsft commented on #84718
@HannahHsiao Thanks for letting us know about this issue. The Cost Management + Billing team recently changed the behavior of the Cost by resource view. Now the view is only available for subscription and resource group scopes.

I've updated the article to state that.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/181693
#please-close

[2021-12-02 21:08] #84718 closed

[2021-12-02 21:14] bandersmsft commented on #84238
@sayel-76 I'm unable to reproduce the problem you describe with the various types of subscriptions that I have access to. If you continue to have this problem, please reopen the issue and let us know what type of subscription that you have. I'd be happy to investigate further with your information.
#please-close

[2021-12-02 21:14] #84238 closed

[2021-12-02 21:15] MarileeTurscak-MSFT commented on #84725
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 21:15] MarileeTurscak-MSFT commented on #84745
@markdepalma
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 21:19] #84746 closed

[2021-12-02 21:30] kobulloc-MSFT commented on #84747
@bsaxbergMS Thank you for bringing this to our attention!  We are reviewing this and will get back to you shortly.

[2021-12-02 21:39] MarileeTurscak-MSFT commented on #84737
@jcschmidt31
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 21:39] MarileeTurscak-MSFT commented on #84740
@Anand-Moghe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 21:40] MarileeTurscak-MSFT commented on #84726
@anthfuller
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-02 21:42] James-Hamil-MSFT commented on #84623
Hi, I have reached out to the author and will update this document.

Thank you,
James

[2021-12-02 21:42] #84623 closed

[2021-12-02 21:42] #82755 closed

[2021-12-02 21:42] #79646 closed

[2021-12-02 21:42] #80397 closed

[2021-12-02 21:51] MarileeTurscak-MSFT commented on #84745
I believe this is correct and made a pull request to fix the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/181698

I will leave this open for review by @Justinha

[2021-12-02 21:51] #84745 closed

[2021-12-02 21:55] weyCC81 commented on #81628
Hi @curtand
Would it be possible to get an update?

[2021-12-02 21:56] weyCC81 commented on #76214
Ticket with Microsoft is still ongoing...

[2021-12-02 21:57] weyCC81 commented on #75627
Update: This problem is still in production, not yet resolved. It would still be good to list de limitations

[2021-12-02 22:10] bandersmsft commented on #84732
Hi @chrisdoofer, will please be more specific about what you'd like to see about automating with PowerShell getting added to the article?

[2021-12-02 22:25] markdepalma commented on #84745
Thank you, @MarileeTurscak-MSFT!

[2021-12-02 22:37] MarileeTurscak-MSFT commented on #84742
Thanks! I made a pull request to update the supported Windows distribution.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/181708

@MicrosoftGuyJFlo

[2021-12-02 22:37] #84742 closed

[2021-12-02 22:39] himanshusinha-msft commented on #84463
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-02 22:39] himanshusinha-msft commented on #84553
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-02 22:54] mmcrey commented on #76381
We are investigating this internally now, apologies I missed the prior tag from Brenda.

[2021-12-02 23:01] spelluru commented on #84092
Added a note about Service Bus Explorer not supporting sessions.

#please-close

[2021-12-02 23:01] #84092 closed

[2021-12-02 23:02] rnirek opened #84748 "Azure Monitor Agent support for SUSE 15 SP2"
I wanted to know if the Azure Monitor agent could be installed on SUSE 15 SP2?
As per the documentation, the supported OS is SUSE 15 SP1.
Ref Doc: https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-systems

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e57fdf8-ece5-2bf1-200

[2021-12-02 23:13] cherylmc commented on #84087
HI @fjbsaper -
 The intent of this article is to connect to an on-premises location that uses a VPN device. We don’t provide device manufacturer instructions directly, but there are links in the article to help you navigate to the appropriate pages.
•	If your intent is to connect two VNets easily via VPN Gateway, you can find the article here: https://docs.microsoft.com/azure/vpn-gateway/vpn-gatew

[2021-12-02 23:14] mirsaeedi opened #84749 "Improvement: Use instance methods for creating WebJobs functions"
I believe the document outlines a legacy approach for creating the functions. The functions no longer need to be defined as static. We can define instance methods as described here [https://stackoverflow.com/a/70207604/1780760](https://stackoverflow.com/a/70207604/1780760).

There're also some updates we can make to make the document align with version 5 instead of 3.

Please let me know how I can

[2021-12-02 23:17] cherylmc commented on #84087
#please-close

[2021-12-02 23:17] #84087 closed

[2021-12-02 23:18] v-gpettibone commented on #42092
Hi @danwale, I've updated the article to include a location tag value and a note stating that $twin.tags.location is assumed to have a value. Please review when you have a chance and close if appropriate or let me know if there remain problems,

[2021-12-02 23:18] spelluru commented on #83291
I am trying to find others, but here are some of them. I will add a section and put this information there. Thanks.

**Azure CLI**
https://docs.microsoft.com/en-us/cli/azure/eventhubs/georecovery-alias?view=azure-cli-latest#az_eventhubs_georecovery_alias_fail_over

**Azure PowerShell**
https://docs.microsoft.com/en-us/powershell/module/az.eventhub/set-azeventhubgeodrconfigurationfailover?view=azps

[2021-12-02 23:26] MarileeTurscak-MSFT commented on #84740
The guest user does not retain access, but the orphaned user account will remain listed in your tenant. Since the user’s source for authentication is an external Azure AD, the user will not be able to sign into the destination tenant. You have to use access reviews to clean up these accounts. https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-external-users

I made a

[2021-12-02 23:26] #84740 closed

[2021-12-02 23:29] danwale commented on #42092
Hi @v-gpettibone cheers, that's great.

[2021-12-02 23:29] #42092 closed

[2021-12-02 23:30] mirsaeedi opened #84751 "WebJobs SDK: AddAzureStorage is not a valid method anymore"
I think it would be nice to update the doc to reflect the latest changes as `AddAzureStorage` does not exist anymore. We should instead use  `AddAzureStorageBlobs` or `AddAzureStorageQueues`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f

[2021-12-02 23:31] MarileeTurscak-MSFT commented on #84725
According to my research, this does not appear to be supported yet. If you provide more details about your scenario I will be happy to pass this along as product feedback. You are also encouraged to leave your own feedback in the Ideas forum. https://feedback.azure.com/d365community

Please tag me in the comments if you have more details to share about this request, and I will pass this along to t

[2021-12-02 23:31] #84725 closed

[2021-12-02 23:47] b-hchen commented on #84397
We connected @RutgerKosters with ANF REST API Dev. lead, who will look into implementing the suggestions for the API.

As the API changes are not related to the GUI documentation (https://docs.microsoft.com/en-us/rest/api/netapp/volumes/create-or-update), I'm closing this GitHub issue.

#please-close

[2021-12-02 23:47] #84397 closed

[2021-12-03 00:16] sedwardstx opened #84752 "Step 4 Configure user attributes input type" is out of date"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-user-input?pivots=b2c-user-flow#configure-user-attributes-input-type

After selecting the sign-up page, there are no user attributes shown that a user can select to reorder.

step 4, 4a, 4b, are not correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-12-03 00:30] propellor commented on #84625
@CHEEKATLAPRADEEP-MSFT , thanks for your review.

I was running the code from the first example.  The issue is that the quick start does not indicate that any values need to be changed and I was under the impression this might be a parquet file being hosted with anon auth on.

`%%pyspark
df = spark.read.load('abfss://users@contosolake.dfs.core.windows.net/NYCTripSmall.parquet', format='parquet')
d

[2021-12-03 00:32] MicrosoftGuyJFlo commented on #84634
Resolving with the linked PR to update the include files. Thanks for the feedback!

[2021-12-03 00:36] #84634 closed

[2021-12-03 00:43] cherylmc commented on #80148
I'll update the article to mention that Always On is configured in this xml. I'll see if I can find a decent link to add as well. Thanks for the suggestion! #please-close

[2021-12-03 00:43] #80148 closed

[2021-12-03 01:23] JimacoMS4 commented on #49492
Hi @chmagitt -- it's been over a year since your response was requested. In that time, the article has been changed. I'm going to close this issue. If you're still having problems, please open a new issue and link to this one. Thanks again for reaching out!

Jimaco

[2021-12-03 01:24] JimacoMS4 commented on #49492
#please-close

[2021-12-03 01:24] #49492 closed

[2021-12-03 01:36] #83641 closed

[2021-12-03 01:37] mmcrey commented on #76381
@joman-xmargin - Apologies for the long delay. It got assigned to the wrong person, reassigned to me and I missed it.

You are correct, there's a typo in the documentation. The hardware does support 2 vNICs, however it's misconfigured to allow a maximum of 1, it will take a few weeks to correct, but we've begun the work to fix. The individual who originally setup the configuration is no longer wit

[2021-12-03 01:37] cherylmc commented on #77196
All set. Just added the link to the device doc from the user doc. :-) #please-close.

[2021-12-03 01:37] #77196 closed

[2021-12-03 01:54] sdandu21 opened #84757 "Blob Containers - Get Immutability Policy via C#"
Is there a mechanism to check whether a container has an active immutability policy via C#? I would like to check in my code before attempting to delete the container or any of its blobs.

[2021-12-03 02:42] dcrreynolds commented on #84573
I guess we do need to start somewhere. How about a service that is core to nearly everything, blob storage. A how-to doc about how to estimate C02eq emissions and limit them would be a great start.

[2021-12-03 03:07] MonikaReddy-MSFT commented on #84681
@andrePKI - Service limits article should help. [Azure Monitor service limits](https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits)
 Ingestion article might have some relevance - [Log data ingestion time in Azure Monitor ](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-ingestion-time)

Please take a look and let me know if that helps.

[2021-12-03 03:10] jhoedram commented on #38271
I manage the service for two companies.

In company A, I have everything enabled and despite this I cannot access the page https://account.activedirectory.windowsazure.com/AppPasswords.aspx, because it redirects to https://mysignins.microsoft.com/security-info

In the other company that I manage, company B, I also enabled the same and here it works for me.
Company B's account was created in 2020.

[2021-12-03 03:10] weinishen commented on #84700
Hi @MonikaReddy-MSFT , Thanks for your reply.
May I have any tentative timeline

[2021-12-03 03:10] #84700 closed

[2021-12-03 03:15] MonikaReddy-MSFT commented on #84679
@Teck13 - Since we have not heard back from you, we will now proceed to close this thread.
However, if you can share additional information regarding the documentation, you are referring and circle back on this thread, we will gladly reopen the issue and continue the discussion. Thank you.

[2021-12-03 03:15] #84679 closed

[2021-12-03 03:21] cindywang1990 opened #84758 "why putting the powershell cmdlet "Get-MsolUser -UserPrincipalName user@domain.com | select -Expand StrongAuthenticationUserDetails | select PhoneNumber" in the doc as the Set cmdlet does not update the authentication method information?"
In this part: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-authenticationdata#read-the-authentication-phone-and-authentication-email-options

The doc shows the powershell cmdlet to check the authentication information for the sample user, however, the cmdlet above does not set the auth information part:

![image](https://user-images.githubusercontent.com/208554

[2021-12-03 03:24] Grace-MacJones-MSFT commented on #84751
Hi @mirsaeedi, Thanks for your feedback! We will review and update this doc accordingly.

[2021-12-03 03:51] RyanHill-MSFT commented on #84366
Hi @shubha-rajan, Docker daemon in Cloud Shell [is disallowed](https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting#cannot-run-the-docker-daemon). I will update the doc to better clarify docker for local environment.

[2021-12-03 03:52] BhargaviAnnadevara-MSFT commented on #84749
@mirsaeedi Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-03 03:52] CHEEKATLAPRADEEP-MSFT commented on #84625
@propellor To avoid this confusion, I had added an important note in Analyze NYC Taxi data with a Spark pool.

![image](https://user-images.githubusercontent.com/79183421/144542314-e1e9575f-ba82-43b8-9508-ea0fe3b2f480.png)

 Note: Make sure you have [placed the sample data into the primary storage account](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#place-

[2021-12-03 03:55] BhargaviAnnadevara-MSFT commented on #84730
@chkp-jmichealson Thanks for the feedback. I believe this translates to the following tutorial:

[Tutorial: Azure Active Directory single sign-on (SSO) integration with Check Point CloudGuard Posture Management](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/dome9arc-tutorial)

Could you please check the above and let us know which section isn't being rendered appropriately?

[2021-12-03 04:00] #84366 closed

[2021-12-03 04:13] seumasdunlop opened #84759 "Cache size missing"
Older pages show the cache size but on newer series this is missing.  E.g. these series all support premium caching but have the following columns.
**Dsv3**: `Max cached and temp storage throughput: IOPS/MBps (cache size in GiB)`
**Dsv5**: Only uncached data.
**Ddsv5**: 'Max cached and temp storage throughput: IOPS/MBps*'
**Dadsv5**: 'Max temp storage throughput: IOPS/MBps'

Only one of the v5 ser

[2021-12-03 04:16] RoopashreeBR opened #84760 "PrivateEndPointPolicies"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d12b3d-3e05-efaf-cafa-847b2b14dcd7
* Version Independent ID: 7a059361-692f-039f-b8c6-08298e7c45c6
* Content: [Best practices for templates - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/best-practic

[2021-12-03 04:23] #83879 closed

[2021-12-03 04:25] frankShih opened #84762 "APIM import\export features"
Is it possible to import & export policy?
It seems that OpenAPI 3.0 does not support it. (I find an article shows that  APIM gjt integration would be a solution)

In addition, descriptions of API query paramters, request\response body seems not supported?

Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-12-03 04:29] VikasPullagura-MSFT commented on #84759
@seumasdunlop
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-03 04:30] VikasPullagura-MSFT commented on #84759
@Styli365
Can you please check and add your comments on this doc update request as applicable.

[2021-12-03 05:04] chkp-jmichealson commented on #84730
The notes sections.  [!note]

Thanks, JM

JM

Sent securely from Check Point Capsule Workspace

From: BhargaviAnnadevara-MSFT
Sent: Thursday, December 2, 2021 at 9:56:52 PM
To: MicrosoftDocs/azure-docs
Cc: John Michealson; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Notes not displaying properly in article (Issue #84730)

@chkp-jmichealson<https://ct-url-protection.portal.checkpoint.com/v1/loa

[2021-12-03 05:04] Karishma-Tiwari-MSFT commented on #83083
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-03 05:22] GeekFavour opened #84763 "How can i perform scp operation if i am logged in via AD authentication to the Linux VM?"
How can i perform scp operation if i am logged in via AD authentication to the Linux VM?

With native clients like putty or cygwin, we use scp client to copy files or even WinSCP.

With a user logged in via AD authentication (using az ssh) and wants to copy a file from local machine to the Azure VM, how can this be achieved?

[2021-12-03 05:23] GeekFavour commented on #84763
Reference - https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux

[2021-12-03 05:31] #84588 closed

[2021-12-03 05:32] ShaikMaheer-MSFT commented on #84703
@mssaperla Requesting to validate customer feedback and update document as appropriate. Thank you.

[2021-12-03 05:57] skyline75489 opened #84764 "Missing critical parameter in the walkthrough guide"
The following code doesn't work because a critical parameter `imgBuilderId` is missing:

[code]

The same parameter can be found in the Linux version https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a82eb4-6023-683b-50ad-eb5d5ffd9f4c
*

[2021-12-03 06:12] jayendranarumugam commented on #81891
Hi @robece  , thanks for the response and improving the doc, looking forward to that.
- From the link, I can see only `system identity` can be used to configure the _dead-letter-container_, not the `access keys`. Can you please give some example or link where we can give the access key to configure the _dead-letter-container_?
 - In my case, I never choose `system identity` as it's optional, also

[2021-12-03 06:34] BhargaviAnnadevara-MSFT commented on #84730
@chkp-jmichealson I do see that the notes display correctly on the [original document](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/dome9arc-tutorial).

Can you please share a screenshot of your view?

[2021-12-03 06:52] GitaraniSharma-MSFT commented on #84391
@jjindrich , the document has been updated regarding the policy association to the migrated Firewall via Azure portal:
https://docs.microsoft.com/en-us/azure/firewall/premium-migrate#attach-a-premium-policy-to-a-premium-firewall

Please give it a try and let us know if you face any further issues.

We are closing this issue for now. If there are further questions regarding this matter, please repl

[2021-12-03 06:52] #84391 closed

[2021-12-03 07:02] skyline75489 opened #84765 "This page doesn't really makes sense because the entire guide is actually for Linux"
It seems that this guide is the same as the Linux version, but uses the Windows SIG from SIG template json:

[code]

But sadly this JSON is for powershell. It simply doesn't work in bash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 857bf4ae-1292-aa67-8a6d-9b128bf8a824
* Version Independent ID: d14a3e3a-fdc9-94c6-ee4

[2021-12-03 07:14] Svijay-msft commented on #84757
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-03 07:17] Svijay-msft commented on #84744
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-03 07:31] JimacoMS4 commented on #82863
#reassign v-steveadams

[2021-12-03 07:34] JimacoMS4 commented on #82863
Hi @asbarnes -- thanks for your feedback! We're actively looking into this issue. Thanks for your patience.

[2021-12-03 07:37] sancilla commented on #84717
OK, solved.
Using "context" instead of "this" in that code is one thing and the right notification format is another.
Now I can advance with my project.
Just update the code in the tutorial please.

[2021-12-03 07:37] #84717 closed

[2021-12-03 07:38] JimacoMS4 commented on #67985
#reassign v-steveadams

[2021-12-03 07:39] vipulsparsh commented on #84752
@sedwardstx Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-03 07:40] vipulsparsh commented on #84758
@cindywang1990 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-03 07:42] SnehaAgrawal-MSFT commented on #83988
@durayakar-aflac Looking forward for your email to help you on this. Since this needs deeper investigation closing here .

[2021-12-03 07:42] #83988 closed

[2021-12-03 07:52] dewhurstwill opened #84767 "Typo"
https://docs.microsoft.com/en-us/azure/container-registry/tasks-agent-pools#create-pool-in-vnet

Typo ` --resource-grop myresourcegroup \` should be ` --resource-group myresourcegroup \`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3caf7d93-9eed-69d9-86dd-123522b4cb06
* Version Independent ID: 8162c5d3-5f9a-6262-e676

[2021-12-03 07:53] pwalleni opened #84768 "Customer advisory to disable user consent"
Hi! 👋🏼

Is this still true?

https://github.com/MicrosoftDocs/azure-docs/blob/c0ac004f9fdb867d2959cbc55752b126dc81b462/articles/active-directory/develop/active-directory-how-applications-are-added.md?plain=1#L148

There was a customer advisory notice sent that made it clear the above is a risky setting:

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-12-03 07:54] pwalleni commented on #84768
@TomAafloen

[2021-12-03 07:58] pwalleni commented on #84768
@ppm78

[2021-12-03 08:15] yuriwoof opened #84769 "Path for 75-persistent-net-generator.rules is different from which is described in document"
I got feedback from customers.
They told that 75-persistent-net-generator.rules is existing under /lib/udev/rules.d/.
Please check the document description is appropriate.

Edited: Added the doc metadata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3e

[2021-12-03 08:19] mariusingjer opened #84770 "Needs clarification: how does this integrate with Azure AD SCIM provisioning?"
The article states: "To enable Azure AD users to log in to Snowflake, they must be provisioned into Snowflake. In Snowflake, provisioning is a manual task.". This statement would benefit from some clarification as to how that relates to SCIM. If you still need to manually provision users when using Azure AD SCIM, then write that. If not, add some information which states that manually provisioning

[2021-12-03 08:19] KrishnaG-MSFT commented on #84760
@RoopashreeBR If you have any Azure doc feedback (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) then please elaborate it so we can review and try to take action as appropriate.

[2021-12-03 08:25] simonvane commented on #83998
Thanks @lzchen,

The problem is that the lack of information leads to ambiguity. A simple recommendation to use a connection string and some of the context you gave above would have avoided a lot of these questions :-)

[2021-12-03 08:40] HannahHsiao opened #84771 "it should be "Service Overage" not "service overcharge""
under https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-enrollment-invoices?WT.mc_id=Portal-Microsoft_Azure_Support#view-usage-summary-and-download-reports "To view the usage summary reports and graphs:" step 3. "To view additional details, you can select a period or month on the graph." point 1, it should be "Service Overage" not "service overcharge".

---
#### Docum

[2021-12-03 08:50] chrisdoofer commented on #84732
Hey @bandersmsft, I've been working on a large scale cost optimisation solution with a customer whereby we need to provide an SPN with EA reader permissions to grab data via the consumption API's.  The solution leverages Data Factory to hoover up all the data and then push it onto an Azure SQL database.  The whole solution can be deployed via a single line of PowerShell.  The only piece that isn't

[2021-12-03 08:59] jcqvisser opened #84773 "Incorrect authority suggested in 'Configure the application' section"
The suggested value for `authority` in the `MsalModule` configuration (https://login.microsoftonline.com) does not seem to work. https://login.microsoftonline.com/common seems to work fine, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c13084-08f6-c015-7769-c2ab9170c1d2
* Version Independent ID: 44d5c264-8c9

[2021-12-03 09:19] yoelhor commented on #84752
Make sure to first [add the claims to the **User Attributes**](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-user-input?pivots=b2c-user-flow#add-user-attributes-your-user-flow).

![image](https://user-images.githubusercontent.com/20111866/144577615-28bb3314-c3ad-4370-9e4b-218e07df5d58.png)

[2021-12-03 09:34] BhargaviAnnadevara-MSFT commented on #84647
@dreitzner Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-12-03 09:34] #84647 closed

[2021-12-03 09:36] BhargaviAnnadevara-MSFT commented on #84647
@dreitzner Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-12-03 09:43] #84767 closed

[2021-12-03 09:44] SrijitBose-MSFT commented on #84767
@dewhurstwill , thank you for your feedback. We have updated teh document. The changes should reflect soon.

[2021-12-03 09:54] asumner opened #84776 "Consider the count of Storage Sync Services needed - doesn't make sense"
Hi the last sentence from the paragraph appears to be unfinished or doesn't make sense.

Consider the count of Storage Sync Services needed
A previous section discusses the core resource to configure for Azure File Sync: a Storage Sync Service. A Windows Server can only be registered to one Storage Sync Service. _**So it is often best to only deploy a single Storage Sync Service and register all s

[2021-12-03 09:57] asumner opened #84777 "Wrong ISO 27001 link"
the link to the ISO 27001 goes to the wrong ISO atestation, it goes to 27017! (there is a correct link to the correct ISO 27001 on the destination page. fix the link please :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb13967-2d78-5eec-252f-a510b3a82a36
* Version Independent ID: bc263843-976a-aad8-265a-f265d2cfaa

[2021-12-03 10:03] Cedric-Bravo opened #84778 "Should add some statement about service Tag to ovoid misunderstanding and confusion"
On the following paragraph
https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions#set-a-service-tag-based-rule

Most of the service tag represent **inbound** ip address, **they cannot be used to configure ip restriction on webapp.**

Ex : **Appsevice.Westeurope** represent inbound ip address of West Europe Service plan, you cannot use this service tag to allow West Europe S

[2021-12-03 10:17] KrishnaG-MSFT commented on #84771
@HannahHsiao Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-03 10:57] Lycrosa opened #84780 "vWAN support?"
Hey,

Does this include Azure vWAN support? I think I have everything setup correctly but can't connect to a vm in a peered network.
If it does not, this should be mentioned.
Also Point 3 of your guide is very badly described. I can't imagine someone who has not a lot of experience using azure can understand this.

Regards

Pascal

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-12-03 10:59] AntZhelev commented on #68471
I can see that the Section for PAAS services is back and highlighted.

![image](https://user-images.githubusercontent.com/68654900/144591519-1fdff123-e7fa-4b13-8897-24176022454f.png)

Thanks for the applied change

[2021-12-03 11:25] steve-e opened #84783 "quickstart scenario fails with authentication error"
Running the third command failed.
1. succeeds
[code]
2. succeeds
[code]
3. fails
[code]
output
[code]
![image](https://user-images.githubusercontent.com/79183421/145152000-2b55bb68-4eed-468b-a0d8-0d851a2f9e40.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent

[2021-12-03 11:30] MWL88 opened #84784 "How to install Microsoft Defender Endpoint VM extension via ARM template"
The documentation provides some information about enabling  Microsoft Defender Endpoint on Windows and Linux VMs via the Portal but does not include any information regarding how to automate the installation or configuration via ARM template or scripting.

I want to automate, via ARM template, the installation of the Microsoft Defender Endpoint VM extension on both Windows and Linux. Reasons to au

[2021-12-03 11:38] KrishnaG-MSFT commented on #84748
@rnirek Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-03 11:46] PramodValavala-MSFT commented on #84693
@eloisaebona Just following up here... Could you share more details on your query here, if any?

[2021-12-03 11:48] realrubberduckdev opened #84785 "Azure Bicep - Microsoft support details"
The documentation says
`It's also supported by Microsoft support.`

But under new support request panel on Azure Portal we do not see an Azure Bicep option.
![image](https://user-images.githubusercontent.com/22910832/144597630-46f020d6-de1d-4167-8ad1-2a18638fac1f.png)

If we were to create a support ticket, under what service type do we create?

---
#### Document Details

⚠ *Do not edit this secti

[2021-12-03 12:16] SaiKishor-MSFT commented on #84780
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-03 12:23] vipulsparsh commented on #84770
@mariusingjer Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-03 12:24] vipulsparsh commented on #84773
@jcqvisser Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-03 12:39] marcgoff opened #84786 "Bad link for "Migrate to Azure file shares""
The "Migrate to Azure file shares" at the end of the article returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d46f5b58-221d-21ac-ee84-419fa7e3c335
* Version Independent ID: 180cfbbf-abca-088e-e927-a93513384102
* Content: [Azure AD Kerberos authentication  (Preview)](https://docs.microsoft.com/en-us/azure/a

[2021-12-03 12:56] APEThomas opened #84787 "typo"
The following sentence is missing a "t" after the comma.

When several session change events happen within a short time period, hen the feature will batch the scaling evaluations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b860be-2787-2bcc-78c5-cc7c29cc32f3
* Version Independent ID: 4f81d1b4-af61-9a8b-d89e-4ac81fb

[2021-12-03 13:39] KrishnaG-MSFT commented on #84785
@realrubberduckdev Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-03 13:42] asbtho commented on #83363
Any update on this, we were also looking to implement pre-download of updates. Preferably without GPO

[2021-12-03 13:44] jasonbisson opened #84788 "Gsuite is now Google Workspace"
The document should be updated to the new branding of Google Workspace and consider adding Cloud Identity for customers that only use Google Cloud. For example, replace Gsuite with Google Workspace/Cloud Identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eba9a3b-88e4-8156-a31e-58a74c604f28
* Version Independent

[2021-12-03 13:55] dominicbetts commented on #84617
Hi @petertuton - thanks for reporting this - I've taken your suggestion to use the $clustername variable for the service principal. I'll publish an updated version of this quickstart later today.

[2021-12-03 13:56] dominicbetts commented on #84617
I'll close this issue now, but feel free to reopen if you have any follow-up comments. Thanks!

#please-close

[2021-12-03 13:56] #84617 closed

[2021-12-03 13:57] dominicbetts commented on #84618
Hi @petertuton - thanks for reporting this - I've added some notes to the quickstart about the acceptable characters to use in the cluster name. I'll publish an updated version of this quickstart later today.

[2021-12-03 13:58] dominicbetts commented on #84618
I'll close this issue now, but feel free to reopen if you have any follow-up comments. Thanks!

#please-close

[2021-12-03 13:58] #84618 closed

[2021-12-03 14:06] josh-endries commented on #33277
I'm using a Hyperscale DB, and it doesn't have `sys.resource_stats`, only `sys.resource_stats_raw`.

[2021-12-03 14:09] anjaneshbabu opened #84790 "Delete using empty ARM templates"
[Enter feedback here]

Good Morning - it may be useful to include the method helpfully referenced here

https://www.codeisahighway.com/effective-ways-to-delete-resources-in-a-resource-group-on-azure-in-2021/

to use a blank ARM template ?

That way; one would be able to utilise the Azure DevOps pipeline  to clear resources as well.

Thank you

---
#### Document Details

⚠ *Do not edit this section

[2021-12-03 14:09] mumian commented on #84785
@realrubberduckdev - you can select the service that you are trying to create and mention your Bicep question in the problem description.

#please-close

[2021-12-03 14:09] #84785 closed

[2021-12-03 14:31] BhargaviAnnadevara-MSFT commented on #84787
@APEThomas Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-12-03 14:31] #84787 closed

[2021-12-03 14:37] ojintoad opened #84792 "Clarify that tools which scan for TLS versions will report more supported TLS versions than what the storage account resource is configured for"
While working on ensuring that TLS 1.2 was successfully configured in our Storage Accounts, we came to understand what is documented about how testing is required:

While this is a good positive explanation of the test, a lot of people get confused because they use more traditional tools to scan for TLS compliance such as:

* https://www.ssllabs.com/ssltest/
* https://github.com/rbsec/sslscan/

Ev

[2021-12-03 15:00] chkp-jmichealson commented on #84730
Well this is interesting, today it’s working.  I noticed it was NOT prior to the PR I just did.  Must have needed a sync.   Thanks for the quick response!

FF
***@***.***

Chrome
***@***.***

Safari
***@***.***

From: BhargaviAnnadevara-MSFT ***@***.***>
Reply-To: MicrosoftDocs/azure-docs ***@***.***>
Date: Friday, December 3, 2021 at 12:35 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: John MIc

[2021-12-03 15:03] kobulloc-MSFT commented on #84764
@skyline75489 Thank you for bringing this to our attention!  We are investigating this and will get back to you shortly.

[2021-12-03 15:04] glennlafollette opened #84793 "Co-Sell Document Templates No Longer Available"
[Enter feedback here]

It appears the links to Co-Sell templates have been lost. The links reroute to a page with a significant amount of marketing information, but none of those offer the specifically mentioned templates in the Co-Sell setup page. Do we use our own materials? Are we not required to use templates?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-12-03 15:04] glennlafollette commented on #84793
https://docs.microsoft.com/en-us/azure/marketplace/co-sell-configure?tabs=workspaces-view#upload-documents

Just to confirm, this is the page link.

[2021-12-03 15:05] kobulloc-MSFT commented on #84765
@skyline75489 Thank you for your feedback!  We are investigating this and will get back to you shortly.

[2021-12-03 15:08] tgallin opened #84794 "setting outboundType missing a few words"
[Enter feedback here]

Hi, first I'd like to thank you for the great documentation

I just noticed a few words missing in a sentence. I think that in the "limitations" section

the line :
Setting outboundType requires AKS clusters with a vm-set-type of VirtualMachineScaleSets and load-balancer-sku of Standard.
should be :
Setting outboundType to a value of loadBalancer requires AKS clusters with a

[2021-12-03 15:22] propellor commented on #84625
Thanks, I decided to submit a PR yesterday as well, also referencing scheme for abfs uri, was waiting for approval.

[2021-12-03 15:44] boylec commented on #34930
+1

[2021-12-03 15:47] dominicbetts commented on #84661
Hi @romankiss - thanks for the detailed feedback. Can I make sure that I've understood the key points correctly. I'll focus on the transformation feature in data export for now, rather than the REST API. Ill also use the "Temperature Controller" multiple component sample for reference:

- I believe you're asking about accessing information about the device template and its device model in the tran

[2021-12-03 15:51] BhargaviAnnadevara-MSFT commented on #84730
@chkp-jmichealson Thanks for confirming. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-03 15:51] #84730 closed

[2021-12-03 15:56] larryclaman opened #84796 "Page needs further object specifications"
This page provides an example of a YAML template, but it doesn't look like the YAML specification is documented.  Please provide the full speciation.

Example of what I mean:  on this page, under properties.template, it lists the **containers** property as an _object_ data type.  Great, but where's the detail of that object; eg what are the properties of containers object?  etc.

I totally get tha

[2021-12-03 16:02] barclayn commented on #82388
#please-close

[2021-12-03 16:02] #82388 closed

[2021-12-03 16:04] RyanHill-MSFT commented on #83738
Apologies for the late reply @JimFarr. I do believe there's a misinterpretation. Per-app scales the app (the worker) independently of the plan (the server). In your example, you have two independent apps with a scale out of three, meaning regardless of how many instances you have running in the plan, your apps will only scale out to three of them.

What you're thinking of is load balancing. There

[2021-12-03 16:04] #83738 closed

[2021-12-03 16:09] sdandu21 commented on #84757
Ah I see, I can post this question in a different channel. Thank you

[2021-12-03 16:09] #84757 closed

[2021-12-03 16:10] dombarnes commented on #84728
@DerekHerman-MSFT. Thanks for the reply. Thats unusual then. I was logged in, working within the same subscription, just different resource groups and regions, but I was getting a loop warning when trying to do mine.

[2021-12-03 16:12] dominicbetts commented on #84614
A new version of the quickstart should be live later today with a note about the different platform behaviors. I've asked the developers if it's possible to normalize the behavior in the apps, so that users have a consistent experience across platforms.

#please-close

[2021-12-03 16:12] #84614 closed

[2021-12-03 16:15] dreeves14 opened #84797 "Collaborative software INSIDE & OUTSIDE AVD with Screen Shot protection"
Does this statement below mean that if I have Teams on my **local machine**, and I try to share the RDP window it won't work or does this mean if Im IN AVD, logged into a host which has Teams installed and share my screen it won't work? Or is it both? I'm guessing the latter, but just want to make sure.

•	Users can't share the Remote Desktop window using local collaboration software, such as Micr

[2021-12-03 16:16] bmansf opened #84798 "Powershell external admin takeover does not work"
[Enter feedback here]
A malicious entity is holding an Office 365 admin account hostage, and we are unable to provision the domain used even though we have control over the DNS records.  When going through the Powershell steps described in this page, an error says "Confirm-MsolDomain : Unable to verify this domain because it is used elsewhere in Office 365. Remove the verified
domain from the othe

[2021-12-03 16:20] schnerring commented on #75465
Same issue here. [The Microsoft docs even state](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#ephemeral-os):

[The site in the docs wrongfully states](https://docs.microsoft.com/en-us/azure/virtual-machines/ephemeral-os-disks) that Bs VMs support ephemeral OS disks.

It makes zero sense to offer VM types that don't support ephemeral OS disks. It's basically a cost trap. I'm now

[2021-12-03 16:41] tfitzmac commented on #84790
@anjaneshbabu - thanks for this suggestion. That approach works but it creates some confusion where people inadvertently delete resources they had not intended to delete. We will continue showing how to explicitly delete the resource group. [Deployment Stacks](https://www.youtube.com/watch?v=Bx250Y-wTjY) might be an option in the future.
#please-close

[2021-12-03 16:41] #84790 closed

[2021-12-03 16:49] ChaitanyaNaykodi-MSFT commented on #84562
Hello @ChaiSwaddipong, thank you for pointing this issue out to us. I have made a PR to address this issue which is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if you have any additional concerns Thank you!

[2021-12-03 16:49] #84562 closed

[2021-12-03 16:50] ChaitanyaNaykodi-MSFT commented on #84677
Hello @andyjballgit, thank you for pointing this issue out to us. I have made a PR to address this issue which is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if you have any additional concerns Thank you!

[2021-12-03 16:50] #84677 closed

[2021-12-03 17:02] spelluru commented on #83291
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr?tabs=portal#manual-failover

will add tabs for other languages as I get links from the SDK team. Thanks.

#please-close

[2021-12-03 17:02] #83291 closed

[2021-12-03 17:09] GeethaThatipatri-MSFT commented on #84656
Hi @ziodave changes have been effected to the document we are closing this issue, Thank you

[2021-12-03 17:09] #84656 closed

[2021-12-03 17:11] v-albemi commented on #83083
I'm not the person to assign this to. You might try @MatthewwVM

[2021-12-03 17:13] DerekHerman-MSFT commented on #84776
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-03 17:13] LitKnd commented on #83085
Hi @wjpigott,

Thanks for submitting this issue and making us aware of this. We have some changes in process to clarify this for other readers. I expect these to publish within the next few business days.

Thanks again, we really appreciate your support in making our docs better!

Kendra Little
SQL Docs Team

#please-close

[2021-12-03 17:13] #83085 closed

[2021-12-03 17:15] LitKnd commented on #78323
Hi @rarandiv ,

Thank you for opening this issue and letting us know about the problem. We have an update to this page moving through our publishing process which clarifies this. I expect that it will publish in the next couple/few business days.

Thanks again for your help in making the docs better!

Kendra Little
SQL Docs Team

#please-close

[2021-12-03 17:15] #78323 closed

[2021-12-03 17:16] DerekHerman-MSFT commented on #84777
Thanks for reporting this! The link has been fixed and changes should go live later today.

[2021-12-03 17:16] #84777 closed

[2021-12-03 17:22] BhargaviAnnadevara-MSFT commented on #84141
@Cisien We've updated the URL to point to the newer feedback forum link. It is now accessible again at: https://aka.ms/webapps-uservoice. Thank you for bringing this to our attention.

[2021-12-03 17:39] bandersmsft commented on #84732
@chrisdoofer Closing this issue, as we're tracking it outside of Github issues by corporate email. If we end up taking a doc change , I'll reply back to this thread later.
#please-close

[2021-12-03 17:39] #84732 closed

[2021-12-03 17:40] bandersmsft commented on #84771
@HannahHsiao Yes, you're correct. I'll update the article shortly. Thanks for letting us know about this isssue.

[2021-12-03 17:43] SRM256 opened #84800 "Use key vault to access app config or vice versa?"
Consider these two sections of the document:

- "References to external data"
- "App Configuration bootstrap"

They appear to be contradictory. One says that you should use App Config references to access secrets in Key Vault. The other says that you need to have already accessed Key Vault in order to access App Config. If I have already accessed Key Vault before I even start using App Config, why

[2021-12-03 17:50] darrelmiller opened #84801 "DefaultAzureCredentials should not be used to obtain tokens for Microsoft Graph"
The example should show the use of something like EnvironmentCredential chained with ManagedIdentity so that the appIds of VS Code, Az CLI or Visual Studio do not get used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fa9ea4-0739-235e-0422-75bbab9ae398
* Version Independent ID: 01013b89-b27b-73d6-8885-333d28be5257

[2021-12-03 18:00] lzchen commented on #83998
@simonvane

Thanks for the great feedback. I will modify the documentation to be a bit more explicit in using the connection string env var :)

[2021-12-03 18:03] ajoga opened #84802 "String naming the link to click on is wrong (is: Monitor, should be: Metrics)"
But the screenshot is good :

![Screenshot_20211203_190010](https://user-images.githubusercontent.com/37543966/144650804-ecae0fad-bcd5-439b-b677-30cac0efcee9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cb88b8-0988-7a05-ed1f-fb5ca032efeb
* Version Independent ID: cf9d62db-4a89-b2ff-e52b-c707c34d3791
* Content:

[2021-12-03 18:06] bandersmsft commented on #84771
https://github.com/MicrosoftDocs/azure-docs-pr/pull/181789

@HannahHsiao Updated the article as you suggested.

#please-close

[2021-12-03 18:06] #84771 closed

[2021-12-03 18:18] DerekHerman-MSFT commented on #84792
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-03 18:26] tfitzmac commented on #83772
@seangifford - thanks for this feedback. I am adding those scopes to this article.

[2021-12-03 18:43] Oury-MSFT commented on #84729
@anfeldma-ms Please see customer feedback above. We don't have access to update image in documentation. Could you please help us with PR.

[2021-12-03 19:19] krishnaji opened #84805 "Details about Gateway"
Could you plz add more details about Gateway(what type) part in the note section?
"Event Grid triggers aren't natively supported in an internal load balancer App Service Environment. The trigger uses an HTTP request that can't reach the function app without a gateway into the virtual network."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-12-03 19:20] SaiKishor-MSFT commented on #84802
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-03 19:24] himanshusinha-msft commented on #84762
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:26] himanshusinha-msft commented on #84778
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:27] himanshusinha-msft commented on #84783
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:28] himanshusinha-msft commented on #84786
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:29] himanshusinha-msft commented on #84788
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:31] himanshusinha-msft commented on #84793
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:32] himanshusinha-msft commented on #84794
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:34] himanshusinha-msft commented on #84797
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:35] joshjohanning commented on #78968
If anyone else finds this via search...check out this reply for possible fixes https://stackoverflow.com/a/68914412/4270353

[2021-12-03 19:35] himanshusinha-msft commented on #84798
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:36] himanshusinha-msft commented on #84801
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:38] himanshusinha-msft commented on #84805
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:39] himanshusinha-msft commented on #84800
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 19:41] JimacoMS4 commented on #78066
@SatishBoddu-MSFT Assigning back to you until you can clarify the above. Thanks

#reassign @SatishBoddu-MSFT

[2021-12-03 19:41] Dirk-Manderin opened #84806 "Azure Virtual Desktop app is still Windows Virtual Desktop"
Under  Enabling MFA for Azure AD joined VMs, it says to use the Azure Virtual Desktop app.  That doesn't appear to exist, and I'm assuming that it's still called Windows Virtual Desktop.  Could you please update the documentation, or get the AVD / MFA team to update the name in Conditional Access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-03 19:47] himanshusinha-msft commented on #84763
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2021-12-03 19:47] #84763 closed

[2021-12-03 20:00] himanshusinha-msft commented on #84768
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 20:01] himanshusinha-msft commented on #84769
Hello @yuriwoof  : Can you please share the link of the document whcih you are refering to ?

[2021-12-03 20:02] SatishBoddu-MSFT commented on #84394
Hello @OwenTheAnalyst Thanks for your patience on this query.

As the services are still in the **preview version,** it's too early to comment on this particular pricing model.

[Get started with Azure Maps Power BI visual (Preview)](https://docs.microsoft.com/en-gb/azure/azure-maps/power-bi-visual-get-started)

We suggest following this article or the Azure pricing calculator for further updates

[2021-12-03 20:04] JimacoMS4 commented on #70201
Hi @barmettlerl,  thanks for your engagement with our documentation. My assumption here is that the behavior ("devicelocation":"$twin.tags.location") is the result of one of the following conditions:

- twin.tags.location is a complex property (i.e. it has child properties), which doesn't seem unlikely. In that case this is expected behavior.
- twin.tags.location is not defined in the device twin.

[2021-12-03 20:05] JimacoMS4 commented on #83482
#reassign @JimacoMS4

[2021-12-03 20:05] PRMerger19 commented on #83482
GitHub user robinsh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-12-03 20:06] himanshusinha-msft commented on #84784
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 20:10] SaiKishor-MSFT commented on #84780
@Lycrosa Vwan is not supported for this scenario yet. @cherylmc Can you let me know if this can be added and if step 3 can be made more understandable?

[2021-12-03 20:12] JimacoMS4 commented on #81455
Hi @Mansoormahfoud Thanks again for your questions. At this time, I'm going to close this issue. Since nested edge doesn't really change the behavior, we won't update the documentation at this time. We will continue to monitor feedback and may decide to update the docs at a later date if it is warranted. Thanks again for your questions!

-Jimaco

[2021-12-03 20:13] himanshusinha-msft commented on #84796
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-03 20:13] JimacoMS4 commented on #81455
#please-close

[2021-12-03 20:13] #81455 closed

[2021-12-03 20:14] himanshusinha-msft commented on #84806
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-03 20:19] ashishmgofficial opened #84807 "Salesforce Marketing Cloud to ADF"
Unable to connect to Salesforce Marketing Cloud from ADF Connector. Im getting permission denied or unathorized access error in ADF but Im able to successfully query SFMC via Postman REST calls using the same clientID, clientSecret and subdomain

[2021-12-03 20:19] SRM256 opened #84808 "Change the text of "Hello World" to some failure message"
Please change this line of code
       Console.WriteLine(config["TestApp:Settings:Message"] ?? "Hello world!");

to something like
       Console.WriteLine(config["TestApp:Settings:Message"] ?? "Config failed");

so that it is clear that something has gone wrong when that message appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-12-03 20:40] KranthiPakala-MSFT commented on #84685
HI @lrtoyou1223, @jonburchel  - Could you please review the above doc enhancement feedback from user and update the doc as needed? - Thank you

[2021-12-03 20:44] bulgunduz commented on #70466
the confusion still exists and a clarified answer is needed please

[2021-12-03 20:55] SaiKishor-MSFT commented on #84569
@pnarsi Azure Firewall only supports SQL server family on L7 level. L7 level filtering is protocol specific. If PostgreSQL is not using the same protocol as SQL server family, it is not supported. Hope this helps. Please let us know if you have any further questions.

[2021-12-03 21:15] SamaraSoucy-MSFT commented on #84808
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-03 21:17] whhender commented on #84098
@tifischer - I have added a note to the SQL page specifically, but we are working on adding this to our SHIR documentation and elsewhere.

Again, thank you for the feedback!

[2021-12-03 21:18] whhender commented on #84098
#please-close

[2021-12-03 21:18] #84098 closed

[2021-12-03 21:21] rothja commented on #84308
@WilliamDAssafMSFT William, could you help find the right owner for this issue? Thank you! #reassign:williamdassafmsft

[2021-12-03 21:21] rothja commented on #84308
#reassign:williamdassafmsft

[2021-12-03 21:22] PRMerger-2 commented on #84308
GitHub user julieMSFT has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-12-03 21:22] rothja commented on #79279
@WilliamDAssafMSFT William, could you take a look at this? Thank you! #reassign:williamdassafmsft

[2021-12-03 21:22] PRMerger19 commented on #79279
GitHub user julieMSFT has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-12-03 21:23] rothja commented on #83807
@LitKnd Could you please take a look at this issue? Thank you! #reassign:LitKnd

[2021-12-03 21:32] SatishBoddu-MSFT commented on #78066
Thank you @JimacoMS4 for helping with this issue.

[2021-12-03 21:37] DavidTrigano commented on #84354
Hello @Yuki-Nishio,

Thank you for your answer.

The roles you are mentioning describe the scenario where a user wants to open SQL vulnerability assessment at the resource level using the weekly email sent by the too.

If you are looking for the the required roles when a user wants to open SQL vulnerability assessment at the subscription level in Microsoft Defender for Cloud. This scenario require

[2021-12-03 21:40] SatishBoddu-MSFT commented on #83531
Hello, @JesvinJoseph Thanks for your patience on this issue. Similar to the Support Teams response provided earlier, below is the confirmation we had directly from the product team.

Please let us know the module version you have used?

To confirm this issue fix, Microsoft's Product team confirmed the fix release in the 1.4.2 version of the module. We recommend you try the new image under 1.4.2 ta

[2021-12-03 21:52] laujan commented on #84273
Hi @SidneyPhoon  and @MayankBargali-MSFT. I am unable to duplicate the scenario described above. I was able to list models using my FR endpoint. Can you please answer the following?

- Are you using this URL: https://form-recognizer-s0-westus.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2021-09-30-preview?

- What error code did you receive?

Thank you!

[2021-12-03 22:06] arcesso opened #84811 "Broken Link"
Broken link under https://docs.microsoft.com/en-us/azure/api-management/soft-delete#supporting-interfaces
Link text is directly below heading: The soft-delete feature is available through REST API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 997d2665-678f-6739-745f-14b784d42962
* Version Independent ID: a4c8f412-bd5

[2021-12-03 22:14] faceoffers28 opened #84812 "How do you set the size of the marker?"
I can't find any information on how to increase or decrease the size of a marker. Is there a way to do that?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2c1e772-5bc6-ebd6-b06e-2a2c890bcc9e
* Version Independent ID: b334f700-6a67-83df-4d33-f1ab007a2727
* Content: [Add an HTML Marker to map](https://docs.mic

[2021-12-03 22:14] tfitzmac commented on #83772
I have submitted an update to include viewing deployment history for other scopes. At the very least, it will get published Monday AM but it might get published today.
#please-close

[2021-12-03 22:14] #83772 closed

[2021-12-03 22:28] mayurpuli opened #84813 "Solution to capture network logs across many servers located in Azure and AWS"
Hello There! One of my customers is looking for a solution to capture network logs across many servers located in Azure and AWS. They are thinking about using Azure for this infra and would like to get recommendations on what Azure services to use.

I was going through the Azure Network Watcher documentation and realized that it can be used in cloud based hybrid network situation. Can you please c

[2021-12-03 22:29] bandersmsft commented on #84544
https://github.com/MicrosoftDocs/azure-docs-pr/pull/181814

[2021-12-03 22:32] WilliamDAssafMSFT commented on #79279
Discussed with @mmarzillo.
#please-close

[2021-12-03 22:32] #79279 closed

[2021-12-03 22:48] bandersmsft commented on #84544
@JPsGithub1 I've updated the article for additional clarity, testing against the latest Free account functionality in the Azure portal. If you have a free account, usage details are shown on your subscription page. If you don't see any usage information, then you either don't have a free account or you have no usage. Usage can take a day or two appear on the page. I've noted that in the article up

[2021-12-03 22:48] #84544 closed

[2021-12-03 22:52] srazasyed opened #84814 "Possible minor typo on searching a dataset in Azure Purview"
Items 2 and 3 of section [Get started with lineage](https://docs.microsoft.com/en-us/azure/purview/catalog-lineage-user-guide#get-started-with-lineage) of the page read:

2. Select your Azure Purview account from the list, and then select Launch purview account from the Overview page.
3. On the Azure Purview Home page, search for a dataset name or the process name such as ADF Copy or Data Flow act

[2021-12-03 23:07] mayurpuli opened #84815 "Solution to capture network logs across many servers located in Azure and AWS"
Hello There! One of my customers is looking for a solution to capture network logs across many servers located in Azure and AWS. They are thinking about using Azure for this infra and would like to get recommendations on what Azure services to use.

I was going through the Azure Network Watcher documentation and realized that it can be used in cloud based hybrid network situation. Can you please c

[2021-12-03 23:14] mayurpuli opened #84816 "Logic App Connector for Citrix Virtual Desktop Env"
Hello There! I am working with one of my customers who has been exploring RPA(Robotic Process Automation) with Azure Logic Apps  for EHR (Electronic Health Records). He has been looking for a Logic App connector to pull the EHR records from Citrix Virtual Desktop Env. Is there any built-in connector available for the above scenario? or the customer has to write a custom logic app connector? (as de

[2021-12-03 23:15] JimacoMS4 commented on #51275
#reassign @JimacoMS4

[2021-12-03 23:15] PRMerger20 commented on #51275
GitHub user chrissie926 has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-12-03 23:37] bichuga opened #84818 "sudo apt-get update twice in Install the Azure Functions Core Tools?"
For steps 4 and 5 under the "Install the Azure Functions Core Tools" steps for linux, is `sudo apt-get update` really supposed to be run twice in a row? If so, please add a comment indicating this isn't a mistake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent I

[2021-12-04 00:05] JimacoMS4 commented on #73556
@rboucher I opened an ADO item for this. Hope to have something in a PR by the end of Dec. I'll PM you the item.

#reassign @JimacoMS4

[2021-12-04 00:31] palma21 commented on #82533
To be clear it's not that you're required to have IPv6 resolution or IPv6 responses, you just can't block ipv6 recursion. You can totally return empty.

[2021-12-04 00:31] palma21 commented on #82134
Sure, feel free to submit a PR

[2021-12-04 01:16] xps233 opened #84819 "Azure SLES 15 SP3 image getting failed to enabled swap following by this document"
Hi Team,

We've found in this VM High Availability document, there's been is missing of message, in about configurating SWAP file.

I use Azure Marketplace SLES 15 SP3 image as example, as we could see, in /etc/waagent.conf file, there has been by default, disable the temp disk format, with the setting `ResourceDisk.Format=n` in placed.

![image](https://user-images.githubusercontent.com/74043506/

[2021-12-04 06:50] new-kirte opened #84822 "Incomplete Guidance"
[Enter feedback here]
1. A user cannot create app passwords if MFA is enabled for him, but not enforced. Missing this details makes this guidance unusable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959-01d6-fcde93b9daaa
* Content: [Config

[2021-12-04 06:51] Svijay-msft commented on #84807
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-04 06:55] Svijay-msft commented on #84811
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-04 06:55] gorankuk opened #84823 "Missing bulk executor Java library on Azure SDK library packages page"
[Azure SDKs located on https://azure.microsoft.com/en-us/downloads/ , under Java download link does not contain any reference to Cosmos DB bulk execute library. Can you add missing reference in order to ensure that this library is not missed.

Thx
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942c792-655b-4174-a427

[2021-12-04 06:58] Svijay-msft commented on #84812
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-04 07:02] SnehaAgrawal-MSFT commented on #84385
@hyn-tester Since we did not hear back from you, We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-12-04 07:02] #84385 closed

[2021-12-04 07:05] Svijay-msft commented on #84813
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

If your query is more related to 'How-tos'. I would encourage to post your query in the [Microsoft Q & A](https://docs.mi

[2021-12-04 07:08] Svijay-msft commented on #84814
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-04 07:10] Svijay-msft commented on #84815
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-04 07:12] Svijay-msft commented on #84816
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-04 07:14] Svijay-msft commented on #84818
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-04 07:15] Svijay-msft commented on #84822
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-04 07:17] Svijay-msft commented on #84823
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-04 07:19] Svijay-msft commented on #84819
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-04 12:02] MACEL94 opened #84825 "Add blazor to this Page in SPA apps"
In the linked page, in the SPA section Blazor WebAssembly is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Microsoft identity platform authentication libraries](https://docs.microsoft.com/en-us/azure

[2021-12-04 13:31] indcoder commented on #83970
Hi @RyanHill-MSFT But https://github.com/microsoft/vscode-azurefunctions/issues/3002 has been closed for want of more information.

<img width="749" alt="image" src="https://user-images.githubusercontent.com/2099300/144711323-9e46b267-c345-4b59-bc7f-4bfc8cb0dcb3.png">

[2021-12-04 14:40] airwings17 opened #84826 "missing comma for "headquarters" property in JSON"
Please add a comma after "headquarters" property to make it a valid JSON
{
        "locations": [
            { "country": "Germany", "city": "Berlin" },
            { "country": "France", "city": "Paris" }
        ],
        "headquarters": { "country": "Belgium", "employees": 250 }
        "exports": [
            { "city": "Moscow" },
            { "city": "Athens" }
        ]
    }
---
#### Do

[2021-12-04 17:11] ryandle commented on #83291
@spelluru this is helpful, thank you!

[2021-12-04 18:05] tinonetic opened #84828 "Missing documentation on setting principal for Azure Bot, auto-generated Vault"
Hi,

Thank-you for the great doc! It is missing a bit of info about Azure Bot vaults.

The documentation does not address what to do when the Vault is auto-generated when creating an Azure Bot

It is referenced in the [Bot Service Quickstart](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-quickstart-registration?view=azure-bot-service-4.0&tabs=multitenant#bot-identity-information)

[2021-12-04 18:24] jfharden opened #84829 "Accessibility problem with code examples"
The code examples on this page are all images of text, this is not accessible. The alt text also does not convey the information in the image, it's not helpful to know that the image is an example code block if you then can't read the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce15a28b-de8a-cbe1-a824-b16915c

[2021-12-04 22:25] JimacoMS4 commented on #39810
#reassign @JimacoMS4

[2021-12-04 22:32] JimacoMS4 commented on #39810
Hi @ahidaka,

Thanks for your feedback. It looks like this issue has been resolved since the time you reported it. The instructions now omit the `recursive` switch in the `git clone` command and also include the `git submodule update --init` command. Since this has been resolved, I'm going to close this issue. Thanks again for contributing to our documentation.

-Jimaco

#please-close

[2021-12-04 22:32] #39810 closed

[2021-12-04 23:02] JimacoMS4 commented on #68680
#reassign @JimacoMS4

[2021-12-04 23:02] PRMerger15 commented on #68680
GitHub user chrissie926 has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-12-04 23:06] JimacoMS4 commented on #68680
Hi @pnarsi Thanks for your feedback! I see what you mean. Let me check with the product team and see whether they intended this to be a navigable page. Once I find out, I'll make any necessary changes and let you know how it's been resolved.

Thanks again,

Jimaco

[2021-12-04 23:29] himanshusinha-msft commented on #84825
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-04 23:30] himanshusinha-msft commented on #84826
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-04 23:31] himanshusinha-msft commented on #84828
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-04 23:32] himanshusinha-msft commented on #84829
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-05 00:17] anthonychu commented on #83970
I think there's some confusion there. It doesn't look like the Azure Static Web Apps VS Code extension supports creating .NET 6 functions right now. Created an issue to track: https://github.com/microsoft/vscode-azurestaticwebapps/issues/590

[2021-12-05 00:21] anthonychu commented on #83970
For now, create a folder for your API, then use the `Azure Functions: Create New Project...` command to create the .NET 6 Azure Functions project in the API folder you created.

[2021-12-05 01:11] anthonychu opened #84832 "Azure Maps control code samples - comments regarding clientId are misleading"
![image](https://user-images.githubusercontent.com/3982077/144729374-ee5f56cf-48a6-4400-b25e-b2410889a3f2.png)

Several of the code samples throughout the docs contain this comment for `clientId`:

[code]

This is incorrect. Anyone looking at this will try to place a clientId from an AAD app registration here, which would not work. This is the Azure Maps client ID that is retrieved from the follow

[2021-12-05 01:12] indcoder commented on #83970
It was the create the Role based Function App for Role Management (preview) but for now I have used JS . But Azure SWA is throwing a 500 Internal Server error

[2021-12-05 02:29] #84470 closed

[2021-12-05 03:28] DarkMonkDev opened #84834 "BlazorServer example with AD-b2c authorization"
THANK YOU for all of this. It is INCREDIBLY helpful and really good.

Is there any chance someone can put together a Blazor Server example using the active directory B2C identity service? I feel like everything else is in here but that.

Thanks,
Chad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2adc8122-5c98-57f7-27c

[2021-12-05 03:55] niuzheng1 opened #84835 "Install Azure Static Web Apps CLI"
[Enter feedback here]

how to do it? it only said "npm install -g @azure/static-web-apps-cli"

from where???

can you provide step-by-step instruction for newbies
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content:

[2021-12-05 03:57] wealthz01 commented on #84835
I’ve been waiting for you

On Sun, Dec 5, 2021 at 4:56 AM niuzheng1 ***@***.***> wrote:

[2021-12-05 04:02] wealthz01 commented on #84835
Can your creat another wallet if I keep using one

On Sun, Dec 5, 2021 at 4:57 AM wealthz01 ***@***.***> wrote:

[2021-12-05 04:04] niuzheng1 commented on #84835
what do you mean another wallet?

[2021-12-05 04:53] Ke403 commented on #84834
Only piectu9& videos

On Sat, Dec 4, 2021, 9:29 PM DarkMonkDev ***@***.***> wrote:

[2021-12-05 05:16] GeethaThatipatri-MSFT commented on #84736
Hi, @MatthewBrown0, I'm assigning this to the author for the feedback review

[2021-12-05 05:32] Svijay-msft commented on #84832
Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-12-05 05:35] Svijay-msft commented on #84834
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-05 05:38] Svijay-msft commented on #84835
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-05 05:45] yuriwoof commented on #84769
Sorry for forgetting the document link.
Here it is.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd#rhel-6-using-hyper-v-manager#

[2021-12-05 06:12] Catastrophe1 commented on #84514
Hi @BhargaviAnnadevara-MSFT. Thank you. Could we also update the doc as it asks reader to use the latest version of the package. I tested it does not work with the latest version.
![image](https://user-images.githubusercontent.com/12708640/144735895-91cf438b-2376-4778-a5b2-269efe53cd31.png)

[2021-12-05 07:13] pm-bhatt commented on #84637
Hi Team,

It seems the problem is with Azure Tenent, so we will investigate it separately.
When we assign the Okta app to any end-user, it takes 1-2 hours to get the same reflected

[2021-12-05 07:13] #84637 closed

[2021-12-05 09:30] take-4c opened #84836 "What do "virtual network-supported SKUs" mean?"
Hi Team,

This page says the following is required to restrict our storage account to a virtual network.

  - All Windows virtual network-supported SKUs in the Dedicated (App Service) plan
  - Windows Elastic Premium plans
  - Linux virtual network-supported SKUs with private DNS

How could users check if his configuration is "Windows virtual network-supported SKUs"?
And as same,  how could users

[2021-12-05 10:04] wealthz01 commented on #84836
What do you think I need to do

[2021-12-05 10:24] #82873 closed

[2021-12-05 10:54] take-4c commented on #84836
Hi @wealthz01 -san,

Thank you for the response!
Please tell me how users can determine that their configuration is "Windows virtual network-supported SKUs" or "Linux virtual network-supported SKUs".

We can determine Windows or Linux from the App Service plan.
But how can we determine if it is virtual network-supported SKUs?

[2021-12-05 14:40] #84135 closed

[2021-12-05 16:03] wealthz01 commented on #84836
Just keep my device safe

[2021-12-05 17:54] himanshusinha-msft commented on #84836
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-05 18:00] ashishmgofficial commented on #84807
@Svijay-msft Please finc the corresponding Azure docs : https://docs.microsoft.com/en-us/azure/data-factory/connector-salesforce-marketing-cloud?tabs=data-factory

[2021-12-05 19:37] Fvdthillart opened #84839 "Feedback on reference function app application settings"
These are my Application settings:
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=gilofunctionapp;AccountKey=OCMND3JYUJsmeft/vp6d8EHgk5hElt0pW0CyTKJ9umR7JY74ItsZfr47FH71umyQ3XNujoHPWhvhtPIhNePwiw==;EndpointSuffix=core.windows.net",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "d3a1f7c0-7c2c-4d31-a227-29d87e2983c4",
    "APPLICATIONINSIGHTS

[2021-12-05 20:11] lakshmikanthKGit opened #84840 "Azure AD B2b Guest users restriction"
[Enter feedback here]
Could you please clarify which roles it means exactly( specific rules) where these roles are defined.

currently my organization is configured with this specific option and everyone in our org is able to invite guest users

![image](https://user-images.githubusercontent.com/14016581/144762215-f0bc0c7a-c96f-42cc-937c-2fffb7b2d19f.png)

---
#### Document Details

⚠ *Do not edit

[2021-12-05 22:04] porkamizeria opened #84842 "Incorrect query"
Hi Guys, I think there is a small typo on this page.

Under **Reattach data disk** section, the command to get id of a disk to be re-attached to VM is:

Following the tutorial and looking at the variable name I was expecting one disk ID, but the command actually returns three disks (including the previous os disk which we definitely don’t want to mount) and in effect fails to mount anything:

- my

[2021-12-05 22:32] ogitds opened #84843 "How do you title a cmd?"
[Enter feedback here]
I read this page hoping to find an answer to how you attach a heading to an individual command section. While there was mention of the use of markdown sections, this is a separate section, not the heading of specific section. While it was displayed in many of the images there was no indication as to how to add it.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-06 01:17] tkent opened #84844 "How are you supposed to prevent the RootManageSharedAccessKey from being used?"
We are looking at using Azure Service Bus and quickly noticed that a `RootManageSharedAccessKey` is created for each service bus namespace [and cannot be deleted or disabled](https://stackoverflow.com/questions/53156733/remove-rootmanagesharedaccesskey-sas-key-from-azure-service-bus).

Using shared credentials of any type violates the common security requirements you see in PCI ([PCI-DSS 8.5](http

[2021-12-06 01:24] #82489 closed

[2021-12-06 02:02] MonikaReddy-MSFT commented on #84573
@dcrreynolds - Thank you for your response. We share your concern about the future of our environment and have created an Emissions Impact Dashboard that provides our cloud customers with transparency into their greenhouse gas emissions associated with Azure usage. The Emissions Impact Dashboard is available for anyone to download. For more information, check out our sustainability blog. The Emiss

[2021-12-06 02:02] #84573 closed

[2021-12-06 02:37] SumanthMarigowda commented on #84454
@PeterKessler Firstly, apologies for the delay in responding here! The PR has been initiated

[2021-12-06 02:37] #84454 closed

[2021-12-06 02:47] SumanthMarigowda commented on #84689
@AngelosP The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 02:47] #84689 closed

[2021-12-06 02:48] vipulsparsh commented on #84840
@lakshmikanthKGit Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-12-06 03:28] AjayKumar-MSFT commented on #84746
edwardsitj-stratascale,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-06 03:36] AjayKumar-MSFT commented on #84844
@tkent, Thanks for leveraging Azure docs feedback channel to raise this question.  Apologies for any inconvenience!

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

I understand you have mentioned that there is no doc on this scenario/topic, would this feedback be applicable to this doc
[Create a Service Bus namespace using the Azu

[2021-12-06 03:58] edlaguni opened #84847 "AVD Scaling Plan Peak Hours Could Use Additional Setting"
[Enter feedback here]

Hi Team,

Thank you for launching this much awaited feature. If I may recommend an item - the **Peak hours** schedule should have **Minimum percentage of host** option.

Here's a scenario:

Number of Session Hosts in a Pool: 10
Host Pool Max Session: 20

During **Ramp up** schedule we can configure this setup to have minimum number of hosts turned on and monitor for capacity

[2021-12-06 04:01] #84811 closed

[2021-12-06 04:02] MayankBargali-MSFT commented on #84811
@arcesso Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-12-06 04:04] MayankBargali-MSFT commented on #84839
@Fvdthillart Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 04:04] VikasPullagura-MSFT commented on #84847
@edlaguni
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-06 04:04] VikasPullagura-MSFT commented on #84847
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-12-06 04:21] SrijitBose-MSFT commented on #84806
@Dirk-Manderin , thank you for your feedback. We have shared the same with the content author(s) for review. This should now be visible in their backlog.

[2021-12-06 04:32] VikasPullagura-MSFT commented on #84842
@porkamizeria Thanks for the Feedback. The document change is currently under review by Doc Author and changes will go live once approved.

[2021-12-06 04:40] VikasPullagura-MSFT commented on #84819
@xps233
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-06 04:40] VikasPullagura-MSFT commented on #84819
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2021-12-06 04:40] CHEEKATLAPRADEEP-MSFT commented on #84529
@jaluecht  I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-06 04:41] tkent commented on #84844
@AjayKumar-MSFT It would probably go as a new page under the "Security" section in the TOC for those docs.

<img width="1001" alt="where-docs-are-missing" src="https://user-images.githubusercontent.com/426880/144788375-2dcd7da7-9087-49fe-ab90-034a5df20423.png">

[2021-12-06 05:01] CHEEKATLAPRADEEP-MSFT commented on #84625
@propellor  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 05:01] #84625 closed

[2021-12-06 05:05] ecki commented on #58524
the question is, what other values are supported. Can this be used to enforce stronger or mfa auth from an app?

[2021-12-06 05:15] CHEEKATLAPRADEEP-MSFT commented on #84472
@diegoripera  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-12-06 05:15] #84472 closed

[2021-12-06 05:40] v-amallick commented on #84399
@LingYi-Wu - As informed by the product group, the pricing details will soon be updated with out our next release.

As there is no doc update needed currently, we are closing this issue. If you have any queries, please get back to us; will continue our conversation.

Thanks.
#please-close

[2021-12-06 05:40] #84399 closed

[2021-12-06 06:09] Sharmistha-Rai commented on #84033
@v-asymes thanks for the feedback. Let me take up this change to add the suggested table of content edits.

[2021-12-06 06:40] AshokPeddakotla-MSFT commented on #84394
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 06:40] #84394 closed

[2021-12-06 06:48] weinishen commented on #84700
@MonikaReddy-MSFT  May I know if any update? Thanks

[2021-12-06 07:00] #84708 closed

[2021-12-06 07:04] FaithOmbongi commented on #64148
Raised a PR to resolve comment 1. Comment 2, 3 had already been resolved.

#please-close

[2021-12-06 07:04] #64148 closed

[2021-12-06 07:05] radhe65gupta opened #84849 "CREATE DATABASE Database2 AS COPY OF Database1; (Same thing i need ,but with empty table.I have four Table ,i need two table will be empty and remaining table with Data)"
1) [CREATE DATABASE Database2 AS COPY OF Database1;  (Same thing i need ,but with empty table.I have four Table ,i need two table  will be empty and remaining table with Data) ]

2) Second I Copy Database in Same Server but with all empty Table.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-3

[2021-12-06 07:16] Sharmistha-Rai commented on #84033
@v-asymes - just checked and it seems like we do have the section for "Upgrade mobility service (preview)" under the "Manage" section. Adding the doc [link](https://docs.microsoft.com/azure/site-recovery/upgrade-mobility-service-preview).

Is this what you were looking for?

[2021-12-06 07:36] AnuragSharma-MSFT commented on #84849
@radhe65gupta Thanks for reaching out.

Copy command which is mentioned by you will copy all the database objects including tables, we cannot select few tables and exclude other tables. However if you want to copy data of only few tables you might want to look into Azure SQL Data Sync where we can select the tables for which we need to sync the data:

[Set up SQL Data Sync between databases in Azu

[2021-12-06 07:52] radhe65gupta commented on #84849
@AnuragSharma-MSFT  Can i  I Copy Database in Same Server but with all empty Table, that means without data

[2021-12-06 07:56] amanmcse commented on #84840
@lakshmikanthKGit Roles with either of the below permissions have the rights to invite guest users:
- microsoft.directory/users/inviteGuest
- microsoft.directory/users/allProperties/allTasks

As **[Documented here](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference)**, below are the admin roles with these permissions:
1. Global Administrator
2. User Administrator
3

[2021-12-06 08:07] SadiqhAhmed-MSFT commented on #84551
@bzabber We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-12-06 08:07] #84551 closed

[2021-12-06 08:09] mkdeegan opened #84850 "Missing context and bad paths"
1) cp -R sap-automation/deploy/samples/WORKSPACES WORKSPACES
This points to the wrong path ... samples is not under deploy. Should be:
cp -R sap-automation/samples/WORKSPACES WORKSPACES

2) there are no instructions to clone repo or create the Azure_SAP_Automated_Deployment folder

3) the DEPLOYMENT_REPO_PATH is missing so script fails
export DEPLOYMENT_REPO_PATH=~/Azure_SAP_Automated_Deployment/s

[2021-12-06 08:16] AjayKumar-MSFT commented on #84844
@tkent, Thanks for additional details. - We are taking a look into this and will get back to you soon.

[2021-12-06 08:18] xujxu commented on #84529
@lingluo0531 would you please take a look at this issue to see if any update needed? Thanks.

[2021-12-06 08:56] woolly-llama opened #84851 "Page requires update for Azure AD Joined VMs"
This page requires an update for Azure AD Joined VMs.

- The list after `Your infrastructure needs the following things to support Azure Virtual Desktop:` still requires the use of Windows Server AD or AADDS in every use case, whereas Azure AD Joined VMs are still applicable in some use cases.

- The list after `User requirements to connect to Azure Virtual Desktop:` still requires users to be sou

[2021-12-06 09:10] AshokPeddakotla-MSFT commented on #83531
@JesvinJoseph Let us know if you have any further queries. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-06 09:10] #83531 closed

[2021-12-06 09:23] rploeg commented on #59713
Hi,

I try to find it via Google and other sites and they show this link:
https://appsource.microsoft.com/en-US/product/web-apps/iot-central.power-bi-solution-iot-central

I get the error that the page does not excists. When I than manual search in app source I cannot find the Power BI solution anymore:

![image](https://user-images.githubusercontent.com/49752333/144820658-6928f511-18c0-474d-a49b-

[2021-12-06 09:25] BhargaviAnnadevara-MSFT commented on #84835
@niuzheng1 You can usually use any command line tool on your machine to install the Azure Static Web Apps CLI and Azure Functions Core Tools V3.

That said, since the article in question uses Visual Studio Code as a prerequisite, you can leverage the [integrated terminal](https://code.visualstudio.com/docs/nodejs/nodejs-tutorial#_integrated-terminal) to install them to avoid switcing out of VS Cod

[2021-12-06 09:25] #84835 closed

[2021-12-06 09:34] andrePKI opened #84853 "Microsoft Sentinel for Teams description correct?"
Is the description for Microsoft Sentinel for Teams (under Microsoft) correct? It says here
content | support
--|--
Data connector, analytics rules, playbooks, hunting queries| Community

But in the Sentinel Solutions blade I see
content | support
--|--
2 Analytics rule, 7 Hunting query, 2 Playbook| Microsoft

(no data connector and support by Microsoft)

---
#### Document Details

⚠ *Do not edit

[2021-12-06 09:43] CHEEKATLAPRADEEP-MSFT commented on #84843
@ogitds You cannot combine markdown and code together.

You need to use seperate cells for both markdown and code.

You can add comments starts with a #, and Python will ignore them:

![image](https://user-images.githubusercontent.com/79183421/144823789-8c1cf6f3-e01c-4f35-b47b-bfa6c48979a7.png)

Hope this helps.

[2021-12-06 10:01] SadiqhAhmed-MSFT commented on #84651
@Jiihaa Thank you for your time and patience. Windows Server 2022 is not supported by Azure Policy yet. You may leave your valuable feedback here - https://feedback.azure.com/d365community/forum/153aa817-0725-ec11-b6e6-000d3a4f0858

Closing this issue for now as no further action required!

[2021-12-06 10:01] #84651 closed

[2021-12-06 10:05] AIGARSJ commented on #84291
My steps in Azure Portal:

1. Create userA in TenantA
2. Create vnetA in SubsA
3. Create subnetA in vnetA
4. Create vnetB in SubsB
5. Create subnetB in vnetB
6. Invite userA from TenantA
7. Assign Network Contributor role to userA (guest) in vnetB
8.  In vnetA create peering vnetA-to-vnetB
9.  Specify Resource ID of vnetB
10. Specify Directory TenantB
11. Press Authenticate
12. Press Add
13. Login

[2021-12-06 10:06] romankiss commented on #84661
Hi @dominicbetts, Thank you for your details. I understood, that the data transformation is depended from the input raw data and there is no problem if we have some internal data in the transformation like is a _templateId_, etc. (for instance: urn:modelDefinition:tadwaslrkxh:jo5kwjqgjp7, dtmi:com:example:TemperatureController:__serialNumber;2, ...)

Note, that exporting those internal data is use

[2021-12-06 10:18] tbuchi888 opened #84855 "Volume mounting Azure Files on a virtual node"
Hi team,
The following are the [Known limitations](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes#known-limitations), Does this mean that it is possible to mount Azurefiles on ACI virtual nodes by using [a volume with Azure Files share](https://docs.microsoft.com/en-us/azure/aks/azure-files-volume) Method?
Also, it's Standard general-purpose v2, not Standard general-purpose v1, right?

I

[2021-12-06 10:35] GosseTS commented on #84663
Seems like snapshots are per default stored on the cheapest storage (Standard HDD) and if ZRS for snapshots is available in the region, that's selected automatically. If ZRS for snapshots is not available in the region, then LRS for snapshots is used ....

[2021-12-06 10:49] Nayunis commented on #34167
Just to support the points everyone else already made: This verification page is absolutely unbelievable! I just spent 20 min looking into the issue to be sure that I haven't fallen for a phishing attack  (and another 30 min writing this post ...) . I can't believe that this has been brought up in 2019, and now - 2.5 years later the page is still exactly the same!!

Just to highlight some point of

[2021-12-06 10:52] Karishma-Tiwari-MSFT commented on #84850
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 10:53] Karishma-Tiwari-MSFT commented on #84851
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 10:57] Nayunis commented on #34167
No. That would not be embarrassing for you. The whole thing is embarrassing for Microsoft.

[2021-12-06 10:58] yutaro113 commented on #84711
@MonikaReddy-MSFT , Thanks for the handling!
@JnHs , could you please confirm?

[2021-12-06 11:11] danimir commented on #84649
@GeethaThatipatri-MSFT - I am not the appropriate owner for this, the article was not assigned properly. Please reach out to Masha Thomas to reassign. Perhaps to  urmilano. Thanks.

[2021-12-06 11:29] ChristianHamm opened #84856 "Connection refused while trying to pull latest docker image"
I was following the install instructions from here: https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=ssl-netstd21

Connection refused while trying to pull latest docker image:

[code]

[2021-12-06 11:48] jonnybugaloo opened #84857 "Agent download link"
[Enter feedback here]
When we go to the page What is new, searching for an old version of Mobility Agent, there is a possibility to download the older version of the agents for Hyper-V and Vmware, but not for Mobility Agent itself, which is the scenario of the VMs running in Azure.
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-whats-new

When going to the link of an old versio

[2021-12-06 11:59] dominicbetts commented on #84661
Hi @romankiss,

It sounds like you have two key requests:

- The DTDL model ID is included in the raw data and available to a transformation query.
- Dynamic destination handling.

If that's correct, can I suggest you add them to the feedback portal: https://feedback.azure.com/d365community/forum/35b59d83-f424-ec11-b6e6-000d3a4f0da0#  -I notice you've already used it :).

I don't think any documen

[2021-12-06 12:01] #84856 closed

[2021-12-06 12:05] take-4c commented on #84836
Hi @himanshusinha-msft -san,

Thank you for the response! I see!
When you get the answer to my question, could I know it quickly here before you update the document?

[2021-12-06 12:09] joshivinod opened #84858 "Using Dockerfile as an option to train model not working"
The documentation talks about using Dockerfile as a way to train a model, however this option is not working as expected based on the thread [here](https://stackoverflow.microsoft.com/questions/284669/284741#284741). Can we remove this from the documentation till this option is working to avoid any confusion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-12-06 12:16] shashishailaj commented on #84853
@andrePKI Thank you for your feedback . We will investigate and update the thread.

[2021-12-06 12:28] chintanr97 opened #84859 "Requirement for configuring implicit grant on public clients with B2C tenant for ROPC workflow"
From the document linked below, I understood that we required to enable implicit grant flow for the public client registered in the Azure AD B2C tenant. What I am failing to understand the requirement for the same.

For example, when I tried resource-owner password credential workflow using just Azure AD tenant, I observed that we were required to simply register the app as the public client app (

[2021-12-06 12:33] SaiKishor-MSFT commented on #84569
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 12:33] #84569 closed

[2021-12-06 12:49] #84802 closed

[2021-12-06 12:54] Karishma-Tiwari-MSFT commented on #84626
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 12:55] NikaKinska commented on #84376
Hi @vladai78 and @dianasm22

Our documentation is right: SQL MI does not use managed discs but premium page blobs, please see https://azure.microsoft.com/en-us/pricing/details/storage/page-blobs/

So, SQL MI does not have P15.

[2021-12-06 12:55] Karishma-Tiwari-MSFT commented on #83077
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 12:57] MughundhanRaveendran-MSFT commented on #84836
@take-4c ,
The VNet integration feature:
Requires a Standard, Premium, Premium v2, Premium v3, or Elastic Premium App Service pricing tier.
Supports TCP and UDP.
Works with App Service apps and function apps. It is applicable for both Windows and Linux.
https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration

You can check the app's configuration in the portal.

![image](https

[2021-12-06 12:57] v-hagamp commented on #84248
@jeevansd , This issue was seems like from application side, do we need to update the Reply URL pattern as per the above suggestion for the non administrator privileges users or what to do in this case?

[2021-12-06 13:21] romankiss commented on #84661
Hi @dominicbetts,

that's correct. The following example shows firing an event to the Event Grid topic with CloudEventSchema:

Data transformation is a simple query:

    {
        applicationId: .applicationId,
        deviceId: .device.id,
        modelId: "??",
        modelName: .device.templateName,
        messageType: .messageSource,
        enqueuedTime: .enqueuedTime,
        messagePrope

[2021-12-06 13:24] scbates930 commented on #84233
Changing to LRS enabled my deployment to run through. Thanks for posting on this thread.
Error "The value 'True' is not allowed for property isSftpEnabled."
It is not clear that the root cause that it is failing due to GRS being enabled.

[2021-12-06 13:40] becke-ch-s0-v1 commented on #84311
Hi @markjbrown , Thank you for your feedback and yes this issue can be closed.

[2021-12-06 13:43] John-HLC commented on #84116
@RyanHill-MSFT
Saw something thought i'd ask on..

Today my "bring your own function" is using Azure Functions version 3.x with a target framework of .Net Core 3.1.
After reading this article by @anthonychu [Azure Static Web Apps - Full stack on .net 6](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/full-stack-net-6-apps-with-blazor-webassembly-and-azure-static/ba-p/2933428), I am wonde

[2021-12-06 13:44] olafmaas opened #84860 "Availabilty of Modern MariaDB version"
Heya,

MariaDB 10.2 is going EOL in 6 months.  https://endoflife.date/mariadb We are trying to plan an upgrade path. Since there seems no sign of an automatic upgrade tool, we need to do a migration which could lead to downtime. Currently the only upgrade target seems to be MariaDB 10.3, which means that we would have to redo the same migration with attached downtime a year later.

Currently there

[2021-12-06 13:47] shashishailaj commented on #84853
@andrePKI You are correct . I have checked the Internal option and it looks like below.

![image](https://user-images.githubusercontent.com/532022/144844874-648fbc0d-e74d-4fef-902e-21602db7fc5f.png)

I have initiated a change request for the authors to review and update accordingly . Since this component is in preview there may be something in the works and the information is subject to change. Ho

[2021-12-06 14:14] AjayKumar-MSFT commented on #84856
@ChristianHamm,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-06 14:22] #84853 closed

[2021-12-06 14:24] ACSirus opened #84861 "Disabling a device doesn't prevent Cloud-only user from logging in"
If I disable a laptop in AAD, I cannot login to the device using the password of the user, but I can login using the PIN of that user.
I don't believe this is normal behaviour as the password is a lot stronger than the PIN.
How do you make sure a device is fully locked remotely?

Kr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin