[2020-08-05 22:23] #60232 closed

[2020-08-05 22:23] SaurabhSharma-MSFT commented on #56127
@LijuV-MSFT Sorry for the delay. Here is the update from product team -

Both registry keys functionally do the same thing to turn on the cred prov, but If the Intune policy/regkey is set to enabled (UseSecurityKeyForSignin) it will take precedence even if the group policy regkey (EnableFIDODeviceLogon) is set to disabled.

[2020-08-05 22:26] #60338 closed

[2020-08-05 22:32] DanielLarsenNZ commented on #60277
Thank you @hitsy, @PramodValavala-MSFT I have also just created a new Premium Service Namespace, added one queue, have not sent any messages. Then when attempting to enable CMK I get this error:

[code]

[2020-08-05 22:32] Grace-MacJones-MSFT commented on #58053
Hello @blueelvis . we appreciate your patience. Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary based on your feedback.

[2020-08-05 22:42] dazinator commented on #47198
Thanks for the update. The new behaviour makes much more sense to me, will look forward to that rolling out. Cheers

[2020-08-05 22:49] ChaitanyaNaykodi-MSFT commented on #60172
@0stage, editing functions in Azure portal for Linux Consumption Plan is not supported. For Linux Premium or Dedicated plans portal editing is enabled only for HTTP and Timer trigger functions that too only for C# Script or Java Script(Node.js) languages. For more details please refer to this [deployment technology document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployme

[2020-08-05 23:05] prabhushrikant opened #60342 "Cron schedule expression DOES NOT support conditionals"
I have azure function which we need run only on first working day of the month or first monday of the month for which I was planning to use cron expression like so

`0 0 12 1-7 *  * [ "$(date '+\%a')" == "Mon" ]`

But looks like it's not supported , can you please confirm?

References:

https://superuser.com/questions/428807/run-a-cron-job-on-the-first-monday-of-every-month
https://www.switchplane

[2020-08-05 23:07] hansenms commented on #60331
Please check the return response headers (the `WWW-authenticate` header) and see what it says. It is most likely that you don't have the right audience. (`aud` claim).

[2020-08-05 23:13] #60339 closed

[2020-08-05 23:15] NavtejSaini-MSFT commented on #60329
@RonnieQuan We are checking this and we will get back to you.

[2020-08-05 23:18] FallenGameR opened #60343 "Corrections needed regarding preference of the time source"
Hello. I'm from the aptime team who owns time sync on Azure hosts and time.windows.com. There were changes made that affect the doc here. Specifically at the moment both Azure hosts and time.windows.com have the same Stratum number and that affects w32time time source preference. Also in the future it is possible that host stratum number would actually even become lower than time.windows.com. Plea

[2020-08-05 23:19] NavtejSaini-MSFT commented on #60313
@VikramPendse The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.
Please let us know if you need any further information.

[2020-08-05 23:21] SaiKishor-MSFT commented on #60015
@rlevchenko Thank you for your patience while we were working on this issue. I have looked into the issue further and have also tried to reproduce it by following the commands as given in the document i.e.,

openssl x509 -req -sha256 -days 365 -in contoso.csr -signkey contoso.key -out contoso.crt

Using the above command, I do not see any issues with the health probe. The health probe is getting 2

[2020-08-05 23:25] SaiKishor-MSFT commented on #59991
@changeworld Thank you for understanding! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-05 23:25] #59991 closed

[2020-08-05 23:26] NavtejSaini-MSFT commented on #60301
@cloudmonkeygarage We are checking this and will get back to you regarding this.

[2020-08-05 23:35] richardszalay commented on #60124
@markjbrown That's a shame, do the `IClientSessionHandle` overloads of the various `IMongoCollection` methods not provide a session handle that could be mapped to a Cosmos session?

[2020-08-05 23:41] dcbrown16 opened #60344 "Service Healing"
I can't find any official sources for the "service healing" auto-recovery feature besides this blog...
https://azure.microsoft.com/en-us/blog/service-healing-auto-recovery-of-virtual-machines/

And the barest of mentions at these two spots.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/dedicated-hosts#host-life-cycle
https://docs.microsoft.com/en-us/azure/virtual-machines/windows

[2020-08-05 23:43] mikew1927 opened #60345 "Please review feedback to Support App Service and Global Vnet Peering and update documentation"
Could you please review the link below, and perhaps update documentation and supported use cases,

I think the App Service documentation is too silent on App Service Vnet Integration with respect to Global Vnet Peering (doesn't work) vs Regional Vnet Peering

More here: https://feedback.azure.com/forums/169385-web-apps/suggestions/40762750-support-app-service-and-global-vnet-peering

Many thanks

[2020-08-05 23:43] BharathNimmala-MSFT commented on #59944
@yantang-msft Sorry for the confusion on this request, as discussed raised a PR to update the document. Once reviewed it will be merged with the live doc. Thanks again for raising this issue to update the document.

@bwren, @PrernaVashistha  - FYI

[2020-08-05 23:51] NavtejSaini-MSFT commented on #60316
@PeterSkovgaard The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

If it is general product question please ask it on Microsoft Q&A platform.Please let us know if you need any further information.

[2020-08-05 23:53] NavtejSaini-MSFT commented on #60317
@sebastianlaspina The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

If it is general product question please ask it on Microsoft Q&A platform.Please let us know if you need any further information.

[2020-08-05 23:58] NavtejSaini-MSFT commented on #60321
@prabhushrikant We are checking this and we will get back to you.

[2020-08-05 23:59] NavtejSaini-MSFT commented on #60324
@Pickell We are checking this and we will get back to you.

[2020-08-06 00:00] ryanfincham commented on #60331
@hansenms thank you so much for your quick response. I know your time is valuable.

www-authenticate return response header:

Bearer authorization_uri="https://login.microsoftonline.com/61b511de-f581-4782-8484-ed6c9e0442af", resource_id="https://onsitehearing.azurehealthcareapis.com", realm="https://onsitehearing.azurehealthcareapis.com"

This response seems correct to me based tutorial and being

[2020-08-06 00:01] NavtejSaini-MSFT commented on #60325
@asears We are checking this and we will get back to you.

[2020-08-06 00:01] CoolNamesAllTaken commented on #28405
All good, thanks Jimaco!

On Mon, Aug 3, 2020 at 10:14 AM Jimaco Brannian <notifications@github.com>
wrote:

[2020-08-06 00:04] ryanfincham commented on #60331
@hansenms This may be a separate issue, but I believe they may be related. I attempted to obtain a token with Az CLI to bypass Postman, and received the following error.
ryan@Azure:~$ token=$(az account get-access-token --resource=https://onsitehearing.azurehealthcareapis.com --query accessToken --output tsv)
The command failed with an unexpected error. Here is the traceback:

400 Client Error: Ba

[2020-08-06 00:08] hansenms commented on #60331
And what is your `aud` claim in your token? It has to match the `realm` or `resource_id`.

On the second issue, that is because az cli is not really signed in as you when you first open the cloud shell. So do an `az login` first from the cloud shell and that problem should go away.

[2020-08-06 00:09] nivdolgin commented on #43235
We're not at feature parity yet; the reset on next logon flag doesn't work by itself. Per the article "Forcing a user to change their password on next logon **requires a password change at the same time.** **_Azure AD Connect will not pick up the force password change flag by itself;_** it is supplemental to the detected password change that occurs during password hash sync."

[2020-08-06 00:13] DanielLarsenNZ commented on #60277
I deleted the Queue and was able to enable CMK after that.

[2020-08-06 00:21] ryanfincham commented on #60331
from jwt.ms:   "aud": "https://onsitehearing.azurehealthcareapis.com/",

[2020-08-06 00:21] JimacoMS3 commented on #28405
Awesome -- thanks!

[2020-08-06 00:22] JimacoMS3 commented on #28405
#please-close

[2020-08-06 00:22] #28405 closed

[2020-08-06 00:22] Karishma-Tiwari-MSFT commented on #58822
Apologize on the delay. Are you trying to [bring your own control plane managed identity](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-control-plane-mi-preview)?
Please let me know.

For creating and using your own VNet, static IP address, or attached Azure disk where the resources are outside of the worker node resource group, use the PrincipalID of the cluster S

[2020-08-06 00:24] hansenms commented on #60331
Remove the slash from the end of the resource you are requesting access to. You are requesting (and getting) a token for  `https://onsitehearing.azurehealthcareapis.com/` you want `https://onsitehearing.azurehealthcareapis.com`.

[2020-08-06 00:27] TravisCragg-MSFT commented on #59979
@rvraman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-06 00:27] #59979 closed

[2020-08-06 00:28] ryanfincham commented on #60331
I attempted this to no avail.
![Annotation 2020-08-05 172738](https://user-images.githubusercontent.com/69254229/89477038-0f6eff00-d741-11ea-8260-1316d675cde1.jpg)

[2020-08-06 00:31] hansenms commented on #60331
What is the aud claim in the new token? Please verify that you are using the new token.

[2020-08-06 00:33] ryanfincham commented on #60331
Verfied:

"aud": "https://onsitehearing.azurehealthcareapis.com",
  "iss": "https://sts.windows.net/61b511de-f581-4782-8484-ed6c9e0442af/",
  "iat": 1596673518,
  "nbf": 1596673518,
  "exp": 1596677418,
  "acr": "1",
  "aio": "E2BgYBBKZp94RE9DrKHhzMzFRx8djnDWWiQfW8p1TW+ij/iNA4wA",
  "amr": [
    "pwd"
  ],

[2020-08-06 00:35] hansenms commented on #60331
And are you still getting a 401 or a 403?

[2020-08-06 00:35] TravisCragg-MSFT commented on #60328
@omerzubair You can [find instructions to connect privately to a Web App Here](https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal). Does that doc give the needed information?

[2020-08-06 00:37] ryanfincham commented on #60331
![Annotation 2020-08-05 172738](https://user-images.githubusercontent.com/69254229/89477481-3aa61e00-d742-11ea-92e1-bce6bca59e64.jpg)
Same 401

[2020-08-06 00:43] Karishma-Tiwari-MSFT commented on #60343
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-06 00:45] hansenms commented on #60331
I think you are going to have to put in a ticket and have a support engineer walk through with you. The token provided does not appear to be valid, but I can’t see what it is from here.

[2020-08-06 00:48] ryanfincham commented on #60331
Okay, thanks. This was at the top of the token decode in red, if it means anything let me know. Otherwise I am opening a ticket now. Thank you again for you help!

{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "huN95IvPfehq34GzBDZ1GXGirnM",
  "kid": "huN95IvPfehq34GzBDZ1GXGirnM"
}

[2020-08-06 00:53] Kenneth-Abrams commented on #60280
@AjayKumar-MSFT Sorry, it was late. I meant to ask about the timeline for sharing SUBNETs across multiple app service plans

[2020-08-06 00:53] hansenms commented on #60331
I think the token is fine but may not be correctly selected in Postman or something. I think it would be good if you could verify access with a token from the CLI and then work your way backwards.

[2020-08-06 01:11] Deus-Adder-Ex opened #60347 "Table format renders them useless"
The tables do not have any row references, so they are a stack of yes/no without any context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a844d8-1aab-daf1-0567-35f2de89fa23
* Version Independent ID: 6d8a875c-8038-5d1d-b0dc-e4c7094844c1
* Content: [Quickstart: Configure properties for an application in your Azure A

[2020-08-06 01:43] #58648 closed

[2020-08-06 01:43] hansenms commented on #60331
Just looking at your screenshots above. Looks like the Auth URL is wrong, it is missing the `authorize` part, should be `https://login.microsoftonline.com/{TENANT-ID}/oauth2/authorize?resource=<audience>`. I am not quite sure how you would have gotten a token without that being correct. My suspicion here is that you may be going through some kind of flow to get a token, but it is actually not the

[2020-08-06 01:43] ryanfincham commented on #60331
That is why I brought it up earlier, and I took your advice from above, "results" below:

ryan@Azure: ~ $ az login
Cloud Shell is automatically authenticated under the initial account signed-in with. Run 'az login' only if you need to use a different account
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code BE6AKPB6D to authenticate.
//(I did this)

[2020-08-06 01:49] MrSimple263 commented on #59940
@GiftA-MSFT Gif
thanks! So can you explain me why with the same number of sample data and with another language pair, it is successful. For example: I have file training file for language pair English-Italian with the same number data i have shown in the sample data, it train model success!(Data Eng-IT
[PhaseDictionary(En-It).zip](https://github.com/MicrosoftDocs/azure-docs/files/5032074/PhaseDict

[2020-08-06 01:50] alexchen2016 opened #60348 "Need description about "microsoft.operationalinsights/workspaces/metadata/action""
Our customer needs description about action "microsoft.operationalinsights/workspaces/metadata/action" in "Microsoft.OperationalInsights". Could you help to add this in your article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed3

[2020-08-06 01:53] hansenms commented on #60331
Try with:

[code]
and then subsequently

[code]

[code]

[2020-08-06 01:53] ryanfincham commented on #60331
Re: your comment about the "authorize" missing. I noticed that too, and tried with "authorize?" and earlier "authorize/?" but does not work. The "authorize" was not in the tutorial so I kept it as close to original for my question to you as possible. I have spend 2 days on this attempting every variation of each box I can come up with. I also tried the attached screenshot with /v2.0/authorize
![An

[2020-08-06 01:54] #59102 closed

[2020-08-06 01:56] ryanfincham commented on #60331
Same issue with added tenant insturctions:

ryan@Azure:~$ az login --tenant 61b511de-f581-4782-8484-ed6c9e0442af
Cloud Shell is automatically authenticated under the initial account signed-in with. Run 'az login' only if you need to use a different account
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FERCJXKWK to authenticate.
[
  {
    "cloud

[2020-08-06 01:58] Karishma-Tiwari-MSFT commented on #59283
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-06 01:58] #59283 closed

[2020-08-06 02:02] hansenms commented on #60331
Instructions are fine, don't you have a token in the `$token` variable after requesting it? Do `echo $token` to check.

And `authorize` is in the tutorial. Please check the table:

![image](https://user-images.githubusercontent.com/1149740/89482167-1d774c80-d74e-11ea-9542-79b0d907694d.png)

It has to be there, so I am not sure how you got a token without it.

[2020-08-06 02:13] #60029 closed

[2020-08-06 02:20] JessAtrust opened #60349 "wvd partnership"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0e5880-f53f-306a-09f5-a444fa09263e
* Version Independent ID: 6d23a17d-e00a-7d59-7da1-7d983f37587a
* Content: [Windows Virtual Desktop partner integrations - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/partners?source=docs)
* Conten

[2020-08-06 02:23] JessAtrust commented on #60349
How to become a WVD partner in order to be in the WVD partner list?

[2020-08-06 02:34] ryanfincham commented on #60331
I did not have token in the variable but echo $token worked as I was able to get a 200 OK using (in Postman) Type: Bearer Token.

Thank you very much. This is my first time dealing with anything with API in the name, so watching you on youtube to chatting with you is really a great customer experience.

[2020-08-06 02:47] Leon99 opened #60350 "Missing explanation on parameter naming"
It'd be nice to have some elaboration on

What will happen if it's not named this way? In my case I don't have a choice since we'd like to override the parameters at CD time leveraging ADO's capability to use the values from KeyVault, but it doesn't allow _ in the secret names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-06 03:16] irsubasi opened #60351 "Update on required ports to open in the firewall for different APIs in CosmosDB"
This paragraph is located under the Networking section and need modification for better clarity. https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#networking

"In gateway mode, Azure Cosmos DB uses port 443 and ports 10250, 10255, and 10256 when you're using the Azure Cosmos DB API for MongoDB. Port 10250 maps to a default MongoDB instance without geo-replication. Ports 10255 and 1

[2020-08-06 03:22] kumarg25 commented on #60171
@Karishma-Tiwari-MSFT Yes, running the commands from local machine worked.

[2020-08-06 03:25] hansenms commented on #60331
Sure, thing. I will close this out for now. Please open a new issue if you have more problems.

#please-close

[2020-08-06 03:25] #60331 closed

[2020-08-06 03:29] feiyushi commented on #58822
It's not about the bring your own control plane managed identity, but about system assigned identity.
As you mentioned and in the documentation, the principal ID of the cluster system assigned identity needs to be granted permission on the public ip or vnet if outside the MC_ resource group. And this is the part I don't quite understand. When creating the cluster, AKS had no problem accessing the

[2020-08-06 03:35] qingsj opened #60352 "Hi, if there is any contact windows could provide to join WVD partner list"
Hi There;
this is Brian and i am support MS OEM teams, we have 1 partner want to join the WVD partner list
https://docs.microsoft.com/en-us/azure/virtual-desktop/partners

if there is any contact window of Windows Virtual Desktop team could provide us to let our partner to join the WVD partner list please, thanks

Brian

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section

[2020-08-06 03:40] AnuragSharma-MSFT commented on #60333
@SgtSpamCan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-06 03:45] BhargaviAnnadevara-MSFT commented on #60332
@PrimeHydra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-06 03:47] marconipoveda commented on #59102
Hi.

Is this issue solved? Just checked the article and Step 5 is still there :)

Cheers.

[2020-08-06 03:53] kiranpradeep opened #60354 "Updating to release candidate version 1.0.10-rc1"
I was trying to update to release candidate version 1.0.0-rc1 and followed this guide. But the command `sudo apt-get install iotedge=1.0.10-rc1 libiothsm-std=1.0.10-rc1` gave response as `E: Version '1.0.10-rc1' for 'iotedge' was not found`. Kindy find screenshot.
![rc](https://user-images.githubusercontent.com/1491933/89488700-4fc49080-d7c6-11ea-8dd0-54db18d4e146.png)
.

---
#### Document Details

[2020-08-06 03:58] PatrickFarley commented on #59092
I've just tested on the 2.0 API and got both KeyValuePair and clusterId under pageResults.
#please-close

[2020-08-06 03:58] #59092 closed

[2020-08-06 04:06] VikasPullagura-MSFT commented on #60253
@ts46235
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 04:06] VikasPullagura-MSFT commented on #60253
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 04:11] #60284 closed

[2020-08-06 04:18] PatrickFarley commented on #59547
Thank you for taking the time to identify these issues - it looks like the code wasn't completely updated to match the new version. I've added your fixes to the doc.
#please-close

[2020-08-06 04:18] #59547 closed

[2020-08-06 04:23] PatrickFarley commented on #59796
This is by design, since the feature implementation code comes next - and each feature is optional, but it must end with a closing bracket.
I've fixed the code indentation, which was off.
#please-close

[2020-08-06 04:23] #59796 closed

[2020-08-06 04:26] SwathiDhanwada-MSFT commented on #59933
@foxrocci We are checking this issue internally. We will update you soon.

[2020-08-06 04:28] VikasPullagura-MSFT commented on #60350
@Leon99
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 04:28] VikasPullagura-MSFT commented on #60350
@MikkelHegn
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 04:28] foxrocci commented on #59933
No worries thank you! I just want to be sure it is correct. I am pretty sure you may be correct- however through our testing- it wouldn’t work no matter what we did.

Sent from my iPhone

[2020-08-06 04:30] VikasPullagura-MSFT commented on #60344
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 04:30] VikasPullagura-MSFT commented on #60344
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 04:40] Mike-Ubezzi-MSFT commented on #60013
@jaszymas Can this be reviewed to identify any updates that are required here. I was going to walk through this with a Managed Instance but I do not have access to one at the moment to review this. Thank you!

[2020-08-06 04:44] MicrosoftGuyJFlo commented on #60206
Version 1607 is supported as a LTSB/LTSC edition.

https://support.microsoft.com/help/13853/windows-lifecycle-fact-sheet covers the currently supported versions of Windows 10.

[2020-08-06 04:44] MicrosoftGuyJFlo commented on #60206
#please-close

[2020-08-06 04:44] #60206 closed

[2020-08-06 04:46] ram-msft commented on #60192
Thanks @tracychms and @SturgeonMi. @robert4os We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-06 04:46] #60192 closed

[2020-08-06 04:53] SnehaAgrawal-MSFT commented on #60345
@mikew1927 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-06 04:54] griffinbird opened #60355 "Logical partition limit for Cosmos Cassandra API is 20GB not 10GB as documented"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra-faq#does-the-primary-key-map-to-the-partition-key-concept-of-azure-cosmos-db

Paragraph mentions 10GB logical limit, which is now 20GB.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3fb7c5-dc8f-7869-6176-8fcfdaab99ff
* Version Independe

[2020-08-06 05:26] VikasPullagura-MSFT commented on #60352
@qingsj
Thanks for your Question! I am checking with the WVD team on this and will get back on this.

[2020-08-06 05:42] AnuragSharma-MSFT commented on #60355
@griffinbird Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-06 05:46] PramodValavala-MSFT commented on #60342
@prabhushrikant The expression you are using is actually part of the command that runs (crontab runs) rather than the cron expression itself.

|Cron Expression|Command|
|---|---|
|0   12  1-7 *   *| [ "$(date '+\%a')" = "Mon" ] && echo "It's Monday"|

So, this won't work here.

Like what the command does, you could simply validate the current datetime in your function and return without processing

[2020-08-06 05:51] HarshitaSingh-MSFT commented on #60209
@obhyes, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-08-06 05:56] PatrickFarley commented on #60109
I'll check with the product team to find out about the standard key setup

[2020-08-06 06:00] samueljamkhandi-MSFT opened #60359 "Can you update document to include this script to install LAD extension for VMSS instance as well?"
Can you update document to include this script to install LAD extension for VMSS instance as well? I have tested and it works fine.

**Set your Azure VM diagnostic variables correctly below**
$my_resource_group="rg_name"
$my_linux_vmss="vmss_name"
$my_diagnostic_storage_account="storage_account"

**Should login to Azure first before anything else**
az login

**Select the subscription containing th

[2020-08-06 06:04] Leon99 opened #60360 "Remote UAC not mentioned"
Following instructions on this page didn't work on a fresh installation of Win 2019. It took me a while to figure out that I had to disable remote UAC (LocalAccountTokenFilterPolicy). I believe it must be mentioned as a requirement here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a68b32-7ba0-74a4-510f-87a66dc0501

[2020-08-06 06:20] VikasPullagura-MSFT commented on #60349
@JessAtrust I am checking with internal team on this and will update back on this.
Can you please share the partner name?

Here is a similar ask #60352

[2020-08-06 06:20] souravmishra-msft commented on #60036
@MarkusVi, Can you please take a look at this request of doc enhancement?

[2020-08-06 06:24] souravmishra-msft commented on #60291
@develerik, Thank you so much for sharing this information. Really appreciate it. Let me check this snippet out on my end. In the meantime, I would like to ask you if there is any more queries for us that you would want us to help you with. if not do update us so that we can close this thread out.

[2020-08-06 06:27] Aron-Ziegler commented on #60305
@MonikaReddy-MSFT - Thank you for your reply. We will change to the Insider Build and test again.

[2020-08-06 06:31] rlevchenko commented on #60015
@SaiKishor-MSFT thanks for the response. take a look at this [doc](https://docs.microsoft.com/en-us/azure/application-gateway/end-to-end-ssl-portal) You need to have a cert. chain actually . 1) create a ca certificate   2) sign the client certificate by the CA certificate and then AppGw works fine. I used the same CN, so not sure that the issue was related to subject/cn cert properties.

`openssl

[2020-08-06 06:32] dcurwin commented on #60293
#reassign:dcurwin

[2020-08-06 06:51] ram-msft commented on #59819
@msftbrking Can you please share your suggestion on this.

[2020-08-06 06:52] JessAtrust commented on #60349
@VikasPullagura-MSFT
Yes, the same ask #60352 is from my request.
The OEM partner name: Atrust Computer Corp.
Thank you

[2020-08-06 06:59] cartacioS commented on #59927
Thank you so much for the input! We are currently aligning documentation updates with updates to the product itself - which is currently underway. Once the wording changes pass through our SDK and UI, we will promptly update the corresponding documentation.

[2020-08-06 07:27] clement911 opened #60362 "PITR retention period > 1 day and < 7 days?"
Is it not possible to configure a 3 days PITR retention period?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Automatic, geo-redundant backups - Azure SQL Database & Azure SQL Managed Instance](https://docs.

[2020-08-06 07:34] MayankBargali-MSFT commented on #60118
@maxal1917 If there are a lot of asynchronous tasks running may not really push the resource metrics up.  What you will be observing will be related to CPU based scaling: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale
I will be assigning this to the author to review and update it accordingly.

@craigshoemaker Can you please confirm this.

[2020-08-06 07:42] lalalawink commented on #60147
Hi, I am still zqynoob and this is my new account as I lost my password. I have checked the query and restarted the Stream Analytics job but it is still not working.

![image](https://user-images.githubusercontent.com/54704083/89504327-671d7100-d7fa-11ea-8b75-4d68cec98b04.png)

And I have tested the ML Webservice from Postman but it returned me an error said that I am not authorized.
![image](http

[2020-08-06 07:43] AjayKumar-MSFT commented on #60280
No worries, @Kenneth-Abrams.  Thanks for adding more clarity.
@ccompy, Requesting your comments on this.

[2020-08-06 07:43] SadiqhAhmed-MSFT commented on #60362
@clement911 Thanks for the question. We are looking into this and get back to you shortly.

[2020-08-06 07:47] kummanish commented on #60268
Hi @gtonello
I have updated the doc and here:
The private link feature is only available for Azure Database for MySQL servers in the General Purpose or Memory Optimized pricing tiers. Ensure the database server is in one of these pricing tiers.

This should address your concern. let me know if you have questions.

Regards,
Manish

[2020-08-06 07:49] AjayKumar-MSFT commented on #56945
Apologies for the delay! Thibault.
The document highlights this - "The feature is available only from newer Azure App Service scale units that support PremiumV2 App Service plans. Note that this does not mean your app must run on a PremiumV2 pricing tier, only that it must run on an App Service Plan where the PremiumV2 option is available (which implies that it is a newer scale unit where this VNe

[2020-08-06 07:52] PeterSkovgaard commented on #60316
Sorry about that. It is this document:
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups

And more specifically the Reference code in section 3:
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#step-3-build-a-scim-endpoint

Reference code link:
https://aka.ms/SCIMReferenceCo

[2020-08-06 08:01] RohitMungi-MSFT commented on #60146
@sensoham Do you see the same behavior for the [read ](https://westcentralus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-ga/operations/5d986960601faab4bf452005)api too? It would be helpful if the image can be shared so we can pass that to our product team.

[2020-08-06 08:18] HarshitaSingh-MSFT commented on #60347
@Deus-Adder-Ex, thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-06 08:23] yahorsi opened #60363 "Updating DisableIpMasking via powershell/cloud shell"
Updating DisableIpMasking  via ARM or API call is not that easy and may not work sometime.
Would be good to have docs on how is this possible using CLI/Powershell
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-1e52af3f2af8
* Version Independent ID: 6e1f9b29-76b9-f7fd-7474-47b38595115e
* Content:

[2020-08-06 08:26] VikasPullagura-MSFT commented on #60359
@samueljamkhandi-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 08:26] VikasPullagura-MSFT commented on #60359
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 08:27] VikasPullagura-MSFT commented on #60359
@samueljamkhandi-MSFT

 Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.

In case you're interested, these are the steps to do so:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the ri

[2020-08-06 08:29] VikasPullagura-MSFT commented on #60360
@Leon99
Thanks for providing this insights and the feedback for improving the documentation.

I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 08:29] VikasPullagura-MSFT commented on #60360
@dkkapur
Can you please look into this feedback on incorporating this as as Note in the document and add your comments on this doc update request as applicable.

[2020-08-06 08:30] SwathiDhanwada-MSFT commented on #60363
@yahorsi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-06 08:32] VikasPullagura-MSFT commented on #60335
@gcmlpfaltaher
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 08:32] VikasPullagura-MSFT commented on #60335
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 08:37] MayankBargali-MSFT commented on #60190
@richardweaver Just following up here. Hope my previous comment helps and you have performed the test at your end.

[2020-08-06 08:47] athaynes opened #60364 "Case sensitive strings"
I should know better, but I typed instead of copy/paste some strings into a mapping function. It didn't work because strings are case sensitive, so can we add another bullet under the Syntax overview as a quick reminder about case sensitivity for dummies like me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8685339-

[2020-08-06 08:47] yahorsi commented on #60363
Now, once CLI has native support for rest calls - az rest, it should be easier

[2020-08-06 09:06] Shaktikantpadhi opened #60366 "Newly published article reflect in Microsoft Academic Graph."
Hi Team,

I have a small question in MAG.

Typically how long does it take for a newly published article to appear in Microsoft Academic Graph? (For example: If a new chemistry-related article published today, then how long does it take to appear in MAG)

FYI, We are interested in Microsoft Academic Knowledge API under cognitive service.

Thank
Shakti

[2020-08-06 09:09] AnuragSharma-MSFT commented on #60204
Thank @kosinsky for the information shared.

@lfittl-msft This is being assigned to the you, could you please evaluate and update as appropriate? Thanks

[2020-08-06 09:16] adalfa opened #60367 "enabling cifs mount option as in AKS"
Hello to all,

it would be very appreciate if we the ARM template or the YAML template would allow finer control on mount options (i.e.https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options) to Azure Files. currently the mount is forced to a fixed options that prevent some advanced scenario for using the persistent volumes
see also https://feedback.azure.com/forums/602224-az

[2020-08-06 09:18] AnuragSharma-MSFT commented on #60355
@griffinbird Thanks for pointing the issue out, the document has inconsistent use of 10 GB and 20 GB.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-06 09:18] faulky commented on #55049
For me the problem was that the local machine's time was incorrect.  This was identified as the problem using the AzureDiagnostics table of log analytics with error ` Process Message:HMAC validation failed with error 0x576 => There is a time and/or date difference between the client and server.`

[2020-08-06 09:20] ram-msft commented on #60166
Thanks for the feedback. @yinhew Can you please confirm on the sample rate for OPUS codec.
![image](https://user-images.githubusercontent.com/49180516/89514871-0c811680-d7f4-11ea-93a1-062231d46a88.png)

[2020-08-06 09:24] MikkelHegn commented on #60350
@peterpogorski

[2020-08-06 09:28] AnuragSharma-MSFT commented on #60156
Thanks @timsander1 and @fvl-nxtport for discussing out the issue.

@timsander1 Could you please update the document related to 'Compound Index' if needed?

[2020-08-06 09:37] VikasPullagura-MSFT commented on #60349
@JessAtrust Thanks for sharing the details. I have reached out to internal team on this. Will update once I hear back.

I will proceed to close the duplicate issue #60352

[2020-08-06 09:38] VikasPullagura-MSFT commented on #60352
Closing this issue as confirmed as duplicate issue #60349.
Please follow the linked issue for updates on this ask.
Thanks.

[2020-08-06 09:38] #60352 closed

[2020-08-06 09:38] v-hagamp commented on #45358
@CeciAc @hisssa would you please provide the screenshots as this has been pending for a long time and we need to close this ASAP.

[2020-08-06 09:43] v-hagamp commented on #47509
@mwahrtp We have been waiting for long on this. Could you please help here or direct us to any relevant contact who can help us.

[2020-08-06 09:44] emab opened #60368 "Managed identity instructions unclear"
The first part of [this section](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#use-managed-identities) doesn't really explain what goes in the `--scope` for the identity. It says to use the Kubernetes client ID but doesn't explicitly say what scope to use even though wildcards are used.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-08-06 09:45] shashishailaj commented on #60364
@athaynes Thank you for pointing this out . We will investigate and update the thread.

[2020-08-06 09:46] shashishailaj commented on #60348
@alexchen2016 Thank you for your feedback . We will work with the content authors to have this reviewed and update the thread as necessary .

[2020-08-06 09:48] BhargaviAnnadevara-MSFT commented on #60337
@Jaykul Thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-06 09:58] baier opened #60370 "Custom 404 page not hit via front door"
We're using AFD in our project, and have a frontdoor (example-frontdoor.com) and a gateway (example-gateway.com).
Whenever we trigger a HTTP status code 404 on example-gateway.com, we hit our custom 404 page, but when we trigger a HTTP status code 404 on example-frontdoor.com, we only get to the standard IIS 404 page. Are custom 404 pages supported for frontdoors, or is there some configuration mi

[2020-08-06 10:12] ManoKanmani commented on #59925
@MicrosoftGuyJFlo @MarileeTurscak-MSFT
Team, Any update on this?

Appreciate it if I get the immediate response.

[2020-08-06 10:13] ManuelTS opened #60371 "The page uses the MSAL v1 API, migrate to v2"
... with the following link https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md a documentation migration to v2 ought to be done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9

[2020-08-06 10:20] bamajeed opened #60372 "C SDK support for Symmetric key attestation"
The document says "The SDK currently provides TPM and X.509 support for devices running on Windows or Ubuntu implementations." AAFAIK it also now supports Symmetric Key!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eee2ad9-8af7-8781-cbaa-c0d7987a4528
* Version Independent ID: 81c16b29-772f-e407-3798-10b735a587db
* C

[2020-08-06 10:26] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan So, when a pre-existing Virtual Network is added to a DTL, `write` permissions on the VNet are required to add management locks over the VNet to prevent its accidental deletion, as shown below:
![image](https://user-images.githubusercontent.com/44050820/89505346-15b7b680-d7e7-11ea-824b-4cc601817928.png)

Target VNet:
![image](https://user-images.githubusercontent.com/44050820/89516561

[2020-08-06 10:30] anisimovsergey opened #60373 "The relationship between service principals and the application keys is not described"
On the example picture https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#example, there is an arrow pointing from Contoso HR App service principal and Fabrikam HR App service principal up to HR App keys. Still, the relationship between them is not described. The word "key" is not present on that page at all except the picture.

Could you please clar

[2020-08-06 10:31] wesmc7777 commented on #60372
You are correct. This topic is actually being depreciated and replaced this week as we update the table of contents and tutorials with a better structure pointing to updated content

[2020-08-06 10:36] Nilesh-tech opened #60376 "Order by Clause is Not mentioned in Query provided but mentioned in the description"
In the content '**The next query returns all the given names of children in the family whose ID matches WakefieldFamily ordered by their grade.**' ordered by grade is provided but not present in Query. If we add a new children with grade '4' at first , it will not be ordered on  Please correct the description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-06 10:38] GitaraniSharma-MSFT commented on #60287
@srinivasangiyer , the document has been edited as requested. PR created. It will take some time to get the changes reflected over the document. Thank you.

[2020-08-06 10:38] #60287 closed

[2020-08-06 11:00] kailasandhale commented on #60167
@bwren  Did you get time to look into this?

[2020-08-06 11:06] jamesbannan commented on #60272
Hi @BhargaviAnnadevara-MSFT - thank you for the clarification. That makes sense. In the case that the target virtual network already has a resource lock of the type `delete`, are `write` permissions still required? In the case of the customer environment, the target virtual network doesn't have a resource lock, but it would be easier to request a resource lock than `write` permissions.

[2020-08-06 11:11] AnuragSharma-MSFT commented on #60376
@Nilesh-tech Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-06 11:11] AdamSharif-MSFT opened #60377 "Need to clarify limitations when using Virtual Node with a subnet which has a UDR"
Hello,

I can reproduce an issue whereby if trying to add a Virtual Node addon and specifying a subnet which has a UDR assigned, the operation will succeed but the pod will fail:

[code]

It seems that it's not possible to use Virtual Node against a subnet with a UDR attached, but it's not documented anywhere.
Can this be confirmed please, and if so can the docs be updated to clarify this?

Refere

[2020-08-06 11:28] BhargaviAnnadevara-MSFT commented on #60366
@Shaktikantpadhi Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-06 11:31] BhargaviAnnadevara-MSFT commented on #60351
@irsubasi Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-06 11:32] VGSandz opened #60378 "Az chn"
[Enter feedback here]
Similar documentation for Azure China? where can i find the federated endpoint details that i need to configure to enable Portal authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8bd3
* Version Independent ID: 20af5f8d-479c-66ec-aacd-d3f9cb79c814
* Conte

[2020-08-06 11:37] AshokPeddakotla-MSFT commented on #60354
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-06 11:43] VikasPullagura-MSFT commented on #60367
@adalfa
Thanks for the feedback! I will check with internal team on this feature and will get back on the status of road map.

[2020-08-06 11:49] VikasPullagura-MSFT commented on #60377
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-06 11:49] VikasPullagura-MSFT commented on #60377
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-08-06 12:02] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan I think they'd still be needed but let me check and get back to you. Meanwhile, could you please let me know how you're trying to add the VNet to the DTL?

[2020-08-06 12:07] shashishailaj commented on #60368
@emab Thank you for your feedback . We will have this reviewed and update the thread.

[2020-08-06 12:11] jamesbannan commented on #60272
@BhargaviAnnadevara-MSFT Using an Azure Resource Manager template deployment from Azure Pipelines

[2020-08-06 12:13] bbpaulvanharen commented on #60148
Dear @SatishBoddu-MSFT, thank you for your further explanation.

The problem is with the above example. I can follow all the steps, but then I have to deploy a full-fletched IoT Edge device, as provided in a Docker container. Instead, I was looking for an example how to enroll a smaller IoT device without the IoT Edge runtime.

[2020-08-06 12:16] bbpaulvanharen commented on #60148
Dear @wesmc7777, thank you for your help.

If I understand correctly, the provisioning example requires recompilation of the code per device, before deploying. In particular because the keys required for hashing the device ID should not be stored on the device. I think this makes the example impracticable for many cases.

[2020-08-06 12:32] AnuragSharma-MSFT commented on #60376
@Nilesh-tech Thanks for letting us know, we have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-08-06 12:35] ghost opened #60379 "[Suggestion] Notes about status"
Based on my experience, the status of Resource Health events will be "InProgress"  or "Updated" not "Active" when "PlatformInitiated" issue happens. I think that following description misleading we have to set status to "Active" includes "PlatformInitiated" events. Could you please review the description to make sure what status we should set for "PlatformInitiated".

_You may only want to be noti

[2020-08-06 12:36] yahorsi commented on #60363
Just a sample, how I did it:
az rest --method patch --url https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/ZSG-MA-ENV-PROD/providers/microsoft.insights/components/ZSG-MA-ENV-PROD-EDGE?api-version=2018-05-01-preview --headers Content-Type=application/json --debug --body @body.txt

where body.txt file:
{
       "location": "southeastasia",
       "kind": "web",
       "prop

[2020-08-06 12:37] kiranpradeep opened #60380 "Requesting clarity on iot-edge device creation"
This is to request clarity on a paragraph in the Configure compute section of this document. It shows

_When the Edge compute role is set up on the Edge device, it creates two devices: an IoT device and an IoT Edge device. Both devices can be viewed in the IoT Hub resource. An IoT Edge Runtime is also running on this IoT Edge device._

But the document does not mention anything more about how the

[2020-08-06 12:39] rogerwcpt opened #60381 "Missing Nuget and Using Clause"
when using the [FeatureGate()]] attribute you will need to install the **Microsoft.FeatureManagement.AspNetCore**  nuget and include this line in your code file:  **using Microsoft.FeatureManagement.Mvc;**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3

[2020-08-06 12:45] nikunj-phutela opened #60382 "Digital Twins-thermostat values show 0 in IOT Hub,"
I used the digital twins end to end scenario([https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-end-to-end](url)) to deploy a demo which contains a thermostat. The DeviceSimulator app creates dummy values for the temperature(DeviceSimulator.sln), but the sample client app(AdtE2Esample.sln) does not show the temperatures, only 0 is shown, even though the temperatures are being simulated

[2020-08-06 12:49] msftbrking commented on #59819
@ram-msft I believe you have the wrong Brian King. I will unassign myself.

[2020-08-06 13:06] plamber commented on #60243
Thank you @kobulloc-MSFT. I just posted [this](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/41087581-dynamic-membership-rule-validation-over-code-or-en) idea.

Thank you again for your feedback. Highly appreciated

[2020-08-06 13:24] Aniththa commented on #59720
@anandece4u Here is the relevant code snippet:
from pprint import pprint

def print_model(model, prefix=""):
    for step in model.steps:
        print(prefix + step[0])
        if hasattr(step[1], 'estimators') and hasattr(step[1], 'weights'):
            pprint({'estimators': list(e[0] for e in step[1].estimators), 'weights': step[1].weights})
            print()
            for estimator in ste

[2020-08-06 13:28] JeffSmalley commented on #60129
Thanks for the reply but I believe you missed what cmdlets I  am talking about. Both cmdlets seem to be in the new AZ module you refer to.   The Microsoft document talks about the New-AzRmStorageShare cmdlet not the old New-AzureRmStorageShare. My question was about the use of New-AzRmStorageShare versus New-AzStorageShare.   Both seem to be from the new AZ module.  I was curious which is the pref

[2020-08-06 13:41] RyanHill-MSFT commented on #60173
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-06 13:41] #60173 closed

[2020-08-06 13:44] Shaktikantpadhi commented on #60366
Refer: https://docs.microsoft.com/en-us/academic-services/project-academic-knowledge/reference-paper-entity-attributes

Its a product question related to academic knowledge API.

Query:
--------
https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=Id=3043289854&attributes=Id,AA.AuId,AA.DAuN,AA.DAfN,CitCon,D,DOI,DN,FP,I,LP,PB,Pt,RId,S,V,VFN,F.FN,PCS.CId,FamId

For "3043289854" Id it

[2020-08-06 13:46] Shaktikantpadhi commented on #60366
Refer to: https://royalsocietypublishing.org/doi/full/10.1098/rsta.2019.0239?af=R for this particular paper entity

[2020-08-06 13:53] AdamSharif-MSFT opened #60386 "The page incorrectly states how to enable host based encryption instead of add ultrassd node pool"
Hi team,

There's an issue with this section:

"Enable Ultra disks on an existing cluster
You can enable ultra disks on existing clusters by adding a new node pool to your cluster that support ultra disks. **Configure a new node pool to use host-based encryption by using the --aks-custom-headers flag.**

Azure CLI

Copy
az aks nodepool add --name hostencrypt --cluster-name myAKSCluster --resource-

[2020-08-06 13:53] kiranpradeep opened #60387 "Usage of term Device key certificate in section Upload certificate"
In section Upload certificate, there is content like

_There are three IoT Edge certificates (.pem format) that you need to install:
Device key certificate_

That is contradicting the linked iot edge certificate [document](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway). This 3rd entry is device CA private key and not a certificate. Also the sample command uses `

[2020-08-06 13:58] BhargaviAnnadevara-MSFT commented on #60381
@rogerwcpt Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-06 14:07] BhargaviAnnadevara-MSFT commented on #60366
@Shaktikantpadhi Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-08-06 14:08] mmacy commented on #60371
Hi @ManuelTS, you can find a similar tutorial for MSAL.js v2.0 here:

[JavaScript single-page app (SPA) using auth code flow](https://docs.microsoft.com/azure/active-directory/develop/tutorial-v2-javascript-auth-code)

We won't be converting this article to v2.0. Instead, we'll keep both tutorials so that users of either library (v1 with implicit flow or v2 with auth code flow) are able to follow

[2020-08-06 14:08] #60371 closed

[2020-08-06 14:10] shashishailaj commented on #60371
@ManuelTS Hope the answer above my @mmacy is helpful. Please tag any of us to your reply in case you have any further queries on this. Thank you.

[2020-08-06 14:14] paratz opened #60388 "Clarification on the support of UDRs for v2"
[Enter feedback here]

Hi!

It would be great if we can revisit the definitions for "User-defined routes supported on the Application Gateway subnet". I'm working with a customer using v2 that need to reach webservers through an NVA (Azure Firewall), without modifying the 0.0.0.0/0 route. We understand that this scenario is supported, but it's not listed as a supported scenario for v2.

Thanks for

[2020-08-06 14:23] kobulloc-MSFT commented on #60243
@plamber Thank you very much for posting your idea!  I've added my vote, and hopefully others will add their vote as well.  The product team does go through this feedback so it will be weighed and evaluated as features are added.

We are going to close this thread as resolved but if you have any additional questions regarding the documentation, please tag me in your reply and we will be happy to c

[2020-08-06 14:23] #60243 closed

[2020-08-06 14:26] mmacy commented on #60371
@ManuelTS @shashishailaj To help mitigate future questions about this, I've added a TIP to the top of this article that points out the differences of the two libraries and links to the v2.0 tutorial.

The change is merged and should be published live after the AM publish (approx. 10AM PDT).

![image](https://user-images.githubusercontent.com/13394541/89543697-184de800-d7b6-11ea-9941-17686d2f1464.p

[2020-08-06 14:30] JJDE opened #60389 "Adding generic "Tags" blade to uidefinition? Prevent deployment-block when Azure Tagging Policy active?"
we have a published azure template in marketplace.
Customer got feedback that solution deployment is blocked because they have a azure policy that every resource must have defined tags. When creating a new azure resource without uitemplate there is always the generic "Tags" blade, this is not available when one defined uidefiinition.json. How can we enable marketplace azure templates to input gene

[2020-08-06 14:31] stephbaron commented on #60379
As mentioned in the article, many time a resource may become unavailable and the cause (platform / user) is not immediately known. In this case, an event will be present with an active status and the following properties:

    "properties": {
        "title": "Unknown",
        "details": "Unknown",
        "currentHealthStatus": "Unavailable",
        "previousHealthStatus": "Available",

[2020-08-06 14:37] shashishailaj commented on #60143
@n41n4 Could you please help with more details for us to be able to help you better on this . In case you were trying to create a DNS record which is already taken , you will not be able to create it as mentioned above. If you provide more information as asked above we can further help you on the same.

Thank you.

[2020-08-06 14:38] jluk commented on #60233
You have an improperly formatted load balancer sku property.

load_balancer_sku = "Advanced" is not a valid input.

Please see these template examples and try deploying one of these options.

https://github.com/terraform-providers/terraform-provider-azurerm/tree/master/examples/kubernetes

[2020-08-06 14:41] mmacy commented on #60327
@degrover-cn Good call-out - that's an [IServiceCollection](https://docs.microsoft.com/dotnet/api/microsoft.extensions.dependencyinjection.iservicecollection), and those lines are taken from [Startup.cs in an ASP.NET Core application](https://docs.microsoft.com/aspnet/core/fundamentals/startup).

I'll add some clarification to reduce confusion.

#reassign:mmacy

[2020-08-06 14:42] degrover-cn commented on #60327
Thanks, very helpful.

From: Marsh Macy <notifications@github.com>
Sent: Thursday, August 6, 2020 10:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Russell H. DeGrove <russell.degrove@cloudnav.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] In the web code samples, what class is "services" an instance of? (#60327)

@degrover-cn<https://nam

[2020-08-06 14:42] PRMerger16 commented on #60327
Only Microsoft employees can manage issues via commenting in this repo.

[2020-08-06 14:45] bwren commented on #60167
@kailasandhale Apologies, I haven't yet, but I definitely will. Appreciate the contribution.

[2020-08-06 14:56] kelleymh opened #60391 "Section "Allowing Linux to use Hyper-V Host Time" is no longer accurate"
The section entitled "Allowing Linux to use Hyper-V Host Time" is out-of-date.   Starting with the Linux 4.11 kernel, the Hyper-V timesync information is *not* automatically applied in the guest except after an interruption event such as a VMPHU (or for on-premises Hyper-V, a pause/resume of a VM).  Instead, the timesync information from the Hyper-V host is only made available through /dev/ptp0 so

[2020-08-06 14:58] JoeWirtley opened #60392 "Hosting information"
This page needs information, and examples, for hosting the change feed processor.  Can this be hosted in a WebJob?  If so, can there be example code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a5194d-0869-94e6-227f-4fba0c798b22
* Version Independent ID: 47f771ee-5237-7fb5-dbc6-fcebafdec142
* Content: [Change feed

[2020-08-06 14:58] samueljamkhandi-MSFT commented on #60359
@VikasPullagura-MSFT thank you advice. I have submitted a pull request now.

[2020-08-06 14:59] kobulloc-MSFT commented on #60251
@amanda-barton With an ASP.NET quickstart on the way and an ASP.NET sample currently available, we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-06 14:59] #60251 closed

[2020-08-06 15:05] jyotiprakash90 opened #60393 "Address space for Local Network Gateway overlapping Azure network"
Although the doc mentions that overlapping the address space in LGW with Azure VNET address space isnt recommended or should not be done, however it is allowed and supported as per https://feedback.azure.com/forums/217313-networking/suggestions/6162289-site-to-site-vpn-allow-local-network-range-to-inc

Is there any update for this change or to be published in future?

---
#### Document Details

⚠

[2020-08-06 15:06] shortpatti commented on #57657
Hi @divka78, can you provide and update on this issue?

[2020-08-06 15:06] souravmishra-msft commented on #60373
@anisimovsergey, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-08-06 15:11] #60327 closed

[2020-08-06 15:11] bwren commented on #60271
Correct URL is https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade. I'll get the article updated.

[2020-08-06 15:12] MonikaReddy-MSFT commented on #60378
@VGSandz -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-06 15:12] bwren commented on #60271
#please-close

[2020-08-06 15:12] #60271 closed

[2020-08-06 15:12] ThaMc opened #60395 "Service Plans and Friendly Namens needed as csv or similar"
[Enter feedback here]
It would be tremendously helpful to get the table in a downloadable form, maybe a csv.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licen

[2020-08-06 15:13] mmacy commented on #60327
@degrover-cn The following update will go live sometime after the 10AM PDT publish today - thanks again for helping us improve our docs!

![image](https://user-images.githubusercontent.com/13394541/89549054-ae850c80-d7bc-11ea-888e-4773bfb08e89.png)

[2020-08-06 15:15] stevenmiller opened #60396 "Versioning history limit?"
How can you configure a history limit for versioned blobs? E.g. keep 5 previous versions and delete anything older.

And there isn't a default value specified anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c0ae74-c84d-8511-7df3-02e192d84178
* Version Independent ID: 9e8f4f13-89c4-aec6-b03d-87df494d3759
* Co

[2020-08-06 15:23] MonikaReddy-MSFT commented on #60395
@ThaMc -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-06 15:23] VikasPullagura-MSFT commented on #60359
@samueljamkhandi-MSFT Thanks for creating the PR.

[2020-08-06 15:23] 404cruX opened #60397 "Azure AD SSO Links need to be updates"
[Enter feedback here]
In Step 4 of Configure Azure AD SSO
***Currently***

a. In the Sign on URL text box, type a URL using the following pattern: https://<instancename>.facebook.com

b. In the Identifier (Entity ID) text box, type a URL using the following pattern: https://www.facebook.com/company/<instanceID>

c. In the Reply URL text box, type a URL using the following pattern: https://www.face

[2020-08-06 15:27] tfitzmac commented on #60389
If you look at the Create UI sandbox, you'll see an example of tags blade.
[https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade](https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade)

[2020-08-06 15:38] bill-barron commented on #59219
I just deployed an ARM template with a storage account that included the above code and it worked.

[code]

This appears to be totally undocumented:
https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-06-01/storageaccounts

Also, from the azure portal, when you disable blob public access manually and then select the "Export Template" blade, this property is not included on the

[2020-08-06 15:42] jeevansd commented on #60289
No. The X509 certificates still remains the same as they are attached to the service principal.

[2020-08-06 15:44] nezoic opened #60399 "Examples for CLI"
Just curious if there are any examples for doing this through the Azure CLI, I only see basic API commands available under "az apim"

Our use case right now is that, when we publish new API definition changes, the existing policy gets wiped out and we have to manually add it back in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-08-06 15:46] fredrikhaglund opened #60400 "Part of these instructions are outdated"
I think you need to review this page. Steps under "Configure Zendesk SSO" are outdated since configuration has moved to another location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Independent ID: 1d3d0543-89f7-180a-e52a-b5668a314e6a
* Content: [Tutorial: Azure Active

[2020-08-06 15:48] vipulsparsh commented on #60289
@AmitavaHazra Please see the above comment from our PM, there will be no impact.

[2020-08-06 15:48] #60289 closed

[2020-08-06 15:51] VikramPendse commented on #60313
Hi, this is the URL for which I have shared the feedback

https://docs.microsoft.com/en-us/azure/security/fundamentals/iaas

[2020-08-06 15:54] Roblarson opened #60401 "DR Guidance needs to be updated at a minimum for Azure-Azure"
Existing guidance is leveraging old approaches and does not leverage things like Global vNet peering to connect the two regions together for data replication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bda258a-203e-402b-ea3e-8cb98ebe612e
* Version Independent ID: 175fd830-844a-9371-35c2-abe32c309936
* Content: [Ov

[2020-08-06 15:59] VikasPullagura-MSFT commented on #60386
@AdamSharif-MSFT Thanks for the Feedback. I have updated the document and changes will go live soon.

[2020-08-06 16:08] SadiqhAhmed-MSFT commented on #59990
@matt1405  We will now close this issue. Feel free to tag me in your reply if you have additional questions in this matter and we will gladly continue the discussion.

[2020-08-06 16:08] #59990 closed

[2020-08-06 16:09] DarrinEide commented on #60366
A new [Microsoft Academic Graph](https://docs.microsoft.com/en-us/academic-services/graph/) is published every week, with [Project Academic Knowledge API](https://docs.microsoft.com/en-us/academic-services/project-academic-knowledge/) and [Microsoft Academic](https://academic.microsoft.com) being refreshed at the same time.

The Microsoft Academic Graph leverages the [Bing](https://bing.com) index

[2020-08-06 16:17] kummanish commented on #60268
#please-close

[2020-08-06 16:17] #60268 closed

[2020-08-06 16:17] mvfolino68 opened #60403 "How do FX changes affect current subscribers"
How do changes to Foreign Exchange policy affect current subscribers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0ce426-a720-24d2-35e6-6c63f68e47a8
* Version Independent ID: e993bc40-5837-3b76-ea5a-fe07002d3c2c
* Content: [Create a SaaS offer, Azure Marketplace and Microsoft AppSource](https://docs.microsoft.com/

[2020-08-06 16:21] RyanHill-MSFT commented on #59538
#please-close

[2020-08-06 16:26] ajlam commented on #60329
@RonnieQuan, yes this is supported. Please learn more in our how-to guide: https://docs.microsoft.com/en-us/azure/mysql/howto-connect-with-managed-identity

[2020-08-06 16:27] taytran0 commented on #60368
@emab I can update it to expand on what the scope is. The scope is in this instance is your Azure subscription and then specifically, the node resource group. This means that when the role (Managed Identity Operator) is assigned to your Kubernetes' cluster, it does not give unwarranted permissions or privileges to other resources you may have deployed.

[2020-08-06 16:30] HarshitaSingh-MSFT commented on #60347
@Deus-Adder-Ex , I am assigning this issue to the doc owner to enhance the tables with more information and thanks again for bringing this up.

[2020-08-06 16:34] mousas opened #60404 "Option qos not include on the screen"
[The screen 'New Capacity Pool' on the page doesn't show the option available in Azure: 'qos -> auto or manual'. Please review this step.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ecb551a-3b78-df78-cefd-cd07614e043f
* Version Independent ID: 9bbe39e4-8813-7e06-1c1d-9e07d3704435
* Content: [Quickstart: Set up Azu

[2020-08-06 16:35] cherylmc commented on #60393
Verifying with the PM

[2020-08-06 16:37] #60242 closed

[2020-08-06 16:37] SatishBoddu-MSFT commented on #60147
@zqynoob   @lalalawink No worries!

**Please confirm that your ML service URL and Authorization is in below format as shown in the image:**

URL  = https://ussouthcentral.services.azureml.net/workspaces/cyu7vvv6/services/6vvvvv8/execute?api-version=2.0&format=swagger

Authorization    = Bearer 7N2wertyuiopBxxxxxxxxxxxxxxxxxxxalmbQ==

![image](https://user-images.githubusercontent.com/62923178/8955

[2020-08-06 16:39] SwathiDhanwada-MSFT commented on #60363
@mrbullwinkle Can you please provide your inputs ?

[2020-08-06 16:41] Nickomang commented on #59034
@m1nkeh, were you able to mitigate the issue?

[2020-08-06 16:44] AlexSapple opened #60405 "documentation Tip? - don't use AuthenticationContext for v2 endpoints"
Hi guys,

really small thing, but can't help thinking the documentation could give a pointer regarding the endpoints "v2.0". There could be just a little tip to point people in the direction of ConfidentialClientApplication - I spent a fair while scratching my head trying to get a client credentials token using AuthenticationContext;

presumably AuthenticationContext shouldn't be used with v2 endp

[2020-08-06 16:45] jdkaufman01 opened #60406 "Installation fails on RHEL 8 due to lack of python command"
[Enter feedback here]
OMS installation log on a RHEL 8 server in Azure trying to install the Azure VM extension returns the following lines:

 ERROR:CalledProcessError.  Error Code is 61
ERROR:CalledProcessError.  Command string was /var/lib/waagent/Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.13.15/packages/omsagent-1.13.9-0.universal.x64.sh -
-upgrade
ERROR:CalledProcessError.  Comman

[2020-08-06 16:45] jeevansd commented on #60400
@v-hagamp and @chetansriv Can you please retest the app and get the document updated?

[2020-08-06 16:46] PramodValavala-MSFT commented on #60321
@prabhushrikant As I mentioned in [my other comment](https://github.com/MicrosoftDocs/azure-docs/issues/60342#issuecomment-669715200), what you are trying is specific to crontab which invokes a command in a shell.

The same workarounds mentioned there hold true here as well. Closing this in favor of that issue.

[2020-08-06 16:47] vipulsparsh commented on #60283
@josephka3  You can follow https://support.microsoft.com/en-us/help/4131455/how-to-reinstall-operations-management-suite-oms-agent-for-linux and just use it for removing the OMS agent from your linux machine

You will have to remove the /etc/opt/microsoft/omsagent and /var/opt/microsoft/omsagent folder as well.
Let us know if you have any questions.

[2020-08-06 16:49] byronbayer opened #60407 "AzureADPreview is now a lower version than AzureAD"
The article should be updated to  `Install-Module AzureAD`  from `Install-Module AzureADPreview`
AzureADPreview is at version 2.0.2.105 where AzureAD is at version 2.0.2.106

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71de3082cf2c
* Version Independent ID: 020b443d-d664-9bad-bbc9-74dbe35c8ae2

[2020-08-06 16:50] NavtejSaini-MSFT commented on #60316
@PeterSkovgaard Thank you. We have routed it to correct team.

[2020-08-06 16:53] PramodValavala-MSFT commented on #60321
@prabhushrikant Just realized that this issue has a different query. Reopening it.

A single function can have only one trigger in Azure Functions. So, you if each execution is the same, you could extract the code into a separate method and call this from multiple functions with their own schedule. **But** adding/removing schedules would require redeploying your function.

A better approach would

[2020-08-06 16:55] shraboin opened #60408 "What does secrets means in the following context (see body)"
For instance for the reader role what does it mean by secrets:

*/read | Read resources of all types, except secrets.
-- | --
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader

Does it mean actions that include "secrets" in it like:
Microsoft.ContainerService/managedClusters/secrets/*"

or like ability to list keys like
Microsoft.DocumentDB/databaseAccounts/lis

[2020-08-06 16:59] asc-adean commented on #56945
I am seeing the same problem.  I had an App Service Plan at an S1 SKU and I could not add it to a virtual network (No gateway found or some other message), so I upgraded to a PremiumV2, that allowed me to put it on a subnet in a virtual network, but now I can't scale back down to S1, same error message as @TiTi

[2020-08-06 16:59] SatishBoddu-MSFT commented on #60147
@zqynoob @lalalawink If you need further help in this matter!
Please send an email to azcommunity@microsoft.com with the below details, so that we can work closely on this matter.

Thread URL: https://github.com/MicrosoftDocs/azure-docs/issues/60147
Azure Subscription ID:

Email Subject: Attn Satish Boddu

Please let me know here once you have done sending the email, We are happy to help you!

[2020-08-06 17:00] gyto23 opened #60409 "Docker Multi container setup returns ports with zero (0:3000)"
I am having issue with azure webapp for multi container setup. My docket-compose file is below. I am trying to connect two different application where desktop serve as ui with regular node server and api as asp.net core rest api. When I am trying to setup just desktop and api without reverse proxy of traefik I am getting weird response where one application getting port assigned to `<random port>:

[2020-08-06 17:02] NavtejSaini-MSFT commented on #60370
@baier We are checking this and we will get back to you.

[2020-08-06 17:07] oleksiypavlenko opened #60410 "Swap slot behavior when exceeding the Local Cache limit"
### Statement
The documentation says:

"If the copied files exceed the size of the local cache, App Service silently ignores local cache and read from the remote file share."

I would like to get clarification on this statement.

### Scenario and observed behavior
In my setup, I have an App Service with Staging and Production slots.

Staging slot has the following configuration:
WEBSITE_LOCAL_CACH

[2020-08-06 17:08] NavtejSaini-MSFT commented on #60313
@VikramPendse Thank you!!

[2020-08-06 17:11] philip-reed commented on #60242
Can't see that this has updated, no linked PR. How come it got closed?

[2020-08-06 17:13] mihsoft opened #60411 "Configure with REST Commands still instructs users to use the portal to add the role assignment"
Configure with REST commands on Step 2 tells users to use the Role Assignments from the portal which completely defeats the purpose of configuring with REST commands. Ideally REST, CLI or PowerShell commands should be used throughout the example so that those automating this can do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-08-06 17:15] slynickel opened #60412 "Storage Account IP network limit more than 200"
Appears the limit is ~200. This was discovered by accident. We have 197 and when I attempted to add another 8 more the REST request fails with HTTP 400.

`autorest/azure: Service returned an error. Status=400 Code="InvalidValuesForRequestParameters" Message="Values for request parameters are invalid: networkAcls.ipRules[]. For more information, see - https://aka.ms/storagenetworkruleset"` happened

[2020-08-06 17:18] NavtejSaini-MSFT commented on #60151
@CatalinEsanu For we are going ahead and closing this issue. If you have further question about this, please leave a comment on this thread or open a new one.

[2020-08-06 17:18] #60151 closed

[2020-08-06 17:18] NavtejSaini-MSFT commented on #60317
@sebastianlaspina The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

[2020-08-06 17:18] MarileeTurscak-MSFT commented on #60397
@404cruX
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-06 17:19] PramodValavala-MSFT commented on #60399
@nezoic While the `az` CLI doesn't support this yet, you could use [`Az.ApiManagement` PowerShell Module](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-4.5.0#api_management) instead. Specifically, the [`Set-AzApiManagementPolicy`](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/Set-AzApiManagementPolicy?view=azps-4.5.0) cmdlet.

Also, feel free

[2020-08-06 17:23] cynthn commented on #60344
@dcbrown16 Thanks for the feedback! I've opened  a work item to track this content request. I'm going to close the issue for now, and track this using the content request :)

#please-close

[2020-08-06 17:23] #60344 closed

[2020-08-06 17:24] PramodValavala-MSFT commented on #60242
@philip-reed Sorry about that. The (non-public) PR has been merged (and hence this issue auto closed) and takes a couple of hours to reflect.

[2020-08-06 17:26] MicrosoftGuyJFlo commented on #47419
Security defaults do not allow customization.

[2020-08-06 17:26] jeevansd commented on #60397
@v-hagamp and @chetansriv This is a valid feedback. Please retest the app and update the doc and update the app in the gallery.

[2020-08-06 17:26] MicrosoftGuyJFlo commented on #47419
#please-close

[2020-08-06 17:26] #47419 closed

[2020-08-06 17:27] larryclaman opened #60413 "Snapshot backup section should refer to managed disk snapshot"
In the article section 'Alternative solution: Consistent snapshots', all the guidance is for snapshotting an unmanaged disks, and the links all point to this:
* https://docs.microsoft.com/en-us/azure/virtual-machines/windows/incremental-snapshots
* https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-snapshots

I suggest this section call out, and/or replace, the unmanaged disk guidan

[2020-08-06 17:29] MicrosoftGuyJFlo commented on #51545
#please-close

[2020-08-06 17:29] #51545 closed

[2020-08-06 17:31] larryclaman opened #60414 "Appendix needs updating to reflect customer initiated GRS failover"
The appendix of this article says: "Microsoft controls whether a failover occurs. Failover is not controlled per storage account, so it's not decided by individual customers. To implement disaster recovery for specific storage accounts or virtual machine disks, you must use the techniques described previously in this article."

This statement is out of date, and should be updated,, now that custom

[2020-08-06 17:35] ram-msft commented on #59819
@matt-erhart We have forwarded the same to the product team to check. We will update you on the same.

[2020-08-06 17:36] taytran0 commented on #60368
@emab I just updated the doc. The update should be live either the end of today or tomorrow. If there isn't anything else. I'm going to close this open issue now.

[2020-08-06 17:39] michaelburch commented on #59538
I haven't seen an update to the documentation, and when deploying the template documented here I still cannot see the zones property. Can this be re-opened?

[2020-08-06 17:41] kgremban commented on #56810
@bharatraja we tried to reproduce your error a few times and weren't able to. Perhaps the library was updated on the custom vision side of things between you creating your issue and us testing it. Since there's no doc update we can make at this time, I'm going to close this issue. If you still experience that error, consider opening a support ticket or posting on a community site like [stackoverfl

[2020-08-06 17:41] #56810 closed

[2020-08-06 17:57] MartinJaffer-MSFT commented on #27712
@bharangit if you are still facing the problem, please open a new thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/), and we will assist you there.

[2020-08-06 17:58] masonmc opened #60416 "invalid audience in apple token"
Hi MS team -

Thank you for adding the ability to support Sign In With Apple via OpenID Connect.  I'm adding Sign In With Apple to an Azure / Xamarin Forms mobile app that already works using Google sign-in, and I'm almost across the finish line, but hitting a roadblock.

- I've switched to file based auth management, and have configured a new OIDC provider, and named it "apple".
- I am able to su

[2020-08-06 18:00] philip-reed commented on #60242
Understood, thanks for explaining.

[2020-08-06 18:02] ram-msft commented on #59819
@matt-erhart Thanks.  After installing the azure-cognitiveservices-search-entitysearch I am able to add following import statements successfully.
python -m pip install azure-cognitiveservices-search-entitysearch

![image](https://user-images.githubusercontent.com/49180516/89565547-5aba0800-d83c-11ea-81cf-72511bc11113.png)

[2020-08-06 18:04] ram-msft commented on #59819
@matt-erhart We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-06 18:04] #59819 closed

[2020-08-06 18:06] MarileeTurscak-MSFT commented on #60405
@AlexSapple
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-06 18:07] MarileeTurscak-MSFT commented on #60407
@byronbayer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-06 18:10] MarileeTurscak-MSFT commented on #60408
@shraboin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-06 18:14] Karishma-Tiwari-MSFT commented on #59102
This is resolved with the PR above. It takes some time to reflect once the PR is merged.

[2020-08-06 18:15] Karishma-Tiwari-MSFT commented on #60171
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-06 18:15] #60171 closed

[2020-08-06 18:16] rabrahamOpti opened #60418 "The link to the latest Azure CLI install looks like it is incorrect"
This page mentions "The deployment commands changed in Azure CLI version 2.2.0" and then links to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest to have users install the latest Azure CLI version. However, on that page, the latest version is 2.10.1, which does not have these versions of the commands available.

Is the link wrong?

---
#### Document Details

⚠ *D

[2020-08-06 18:26] bandersmsft commented on #56048
@Dev-ML11 Hi there. Has your issue been fully addressed, or do you need additional information?

[2020-08-06 18:26] James-Hamil-MSFT commented on #60407
@byronbayer @curtand  I've created a pull request for this issue: https://github.com/MicrosoftDocs/azure-docs-pr/pull/125222

[2020-08-06 18:27] #60407 closed

[2020-08-06 18:27] danhlee329 commented on #60212
Thank you for the update.  I notice that the link on the page is a yaml file with the API details, whereas the recommended change above is a link to the API documentation.  Was this intended? I would prefer the latter as this would be more up to date than a static file.

[2020-08-06 18:27] BharathNimmala-MSFT commented on #60418
@rabrahamOpti  Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-08-06 18:28] bandersmsft commented on #58632
@klaas Is your issue addressed? If so, I'd like to close this issue.

[2020-08-06 18:35] Klaas- commented on #58632
I would say that depends on your perspective but yeah, the error is gone. Now red hat plans are simply not supported by the calculator :)

[2020-08-06 18:35] #58632 closed

[2020-08-06 18:36] ryanfincham commented on #60331
@hansenms Michael, I wanted to show you where in the instructions that the authorize, please check this table. Thanks again!
![Annotation 2020-08-06 113340](https://user-images.githubusercontent.com/69254229/89569030-00d42680-d7d9-11ea-9d21-b3a53683ec17.jpg)

[2020-08-06 18:36] BryanTrach-MSFT commented on #60410
@oleksiypavlenko Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-06 18:38] BryanTrach-MSFT commented on #60416
@masonmc Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-06 18:43] hansenms commented on #60331
Thanks for that one @ryanfincham, we will have somebody update that.

[2020-08-06 18:56] NavtejSaini-MSFT commented on #60380
@kiranpradeep We are checking this and we will get back to you.

[2020-08-06 19:00] mumian commented on #60418
@rabrahamOpti - I am not sure I fully understand the issue. To be able to follow the article, you need version 2.2.0 or later.  The link provided installs 2.10.1, which is a version later than 2.2.0.  Do you have any problems with running any of the commands?

[2020-08-06 19:06] NavtejSaini-MSFT commented on #60382
@nikunj-phutela We are checking this and we will get back to you.

[2020-08-06 19:09] rabrahamOpti commented on #60418
Ah, that versioning syntax is extremely hard to read. It looks like you're saying 2.10 > 2.20. But it's 2.10 > 2.02

Yes, I was having trouble with the command being recognized before upgrading. I have a different error now, but it's unrelated. I just confirmed that `az deployment group create ` by itself is recognized, and complains about missing parameters. Feel free to close

[2020-08-06 19:19] jdkaufman01 opened #60419 "Typo in supported Linux Distros"
[Enter feedback here]
Documentation claims that Redhat versions

Red Hat Enterprise Linux | 7.4 - 7.8, 9.0 and later

are supported.

9.0 should be 8.0 as there is no 9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Co

[2020-08-06 19:26] Karishma-Tiwari-MSFT commented on #60391
@kelleymh  Thanks for the feedback.
Can you please share the link for the documentation which has the section 'Allowing Linux to use Hyper-V Host Time' and needs to be updated. The document referenced here is the one that you mentioned as accurate. The GitHub issue needs to be opened on the document where you are seeing issues.

[2020-08-06 19:27] Karishma-Tiwari-MSFT commented on #60401
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-06 19:28] himanshusinha-msft commented on #60014
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-08-06 19:35] AjayKumar-MSFT commented on #59538
Apologies for any confusion! We are still working with the product team on this, we will update on this as soon as we have more details.

[2020-08-06 19:39] mumian commented on #60418
#please-close

[2020-08-06 19:39] #60418 closed

[2020-08-06 19:43] SatishBoddu-MSFT commented on #60382
Related to : Thread on Q&A: https://docs.microsoft.com/en-us/answers/questions/60903/iot-hub-thermostat-shows-values-0-when-run-in-the.html

[2020-08-06 19:56] vineetgarhewal opened #60422 "Command markdowns have sample output data too"
Please remove sample output data from command markdowns, this makes command copy experience useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* Content: [Kubernetes on Azure tutorial - Create a container registry -

[2020-08-06 19:57] Diastro opened #60423 "Dead link for vnet validation"
The url https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet on this par of the documentation is returning 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version Independent ID: fa53a263-a15a-2449-2

[2020-08-06 19:59] webwesen opened #60424 "Azure DevOps support"
is there any documentation for Azure DevOps?
this page implies a need for a GitHub-hosted repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart: Building your first static web app with Azure Static W

[2020-08-06 20:04] shakibqureshi opened #60425 "Correction in article"
The article should mention "Azure site REPLICATION PROVIDER however it states RECOVERY PROVIDER.. see below.

For migrating Hyper-V VMs, Azure Migrate:Server Migration installs software providers (Microsoft Azure  **RECOVERY provider** ((should be **REPLICATION** provider) and Microsoft Azure Recovery Service agent) on Hyper-V Hosts or cluster nodes.

---
#### Document Details

⚠ *Do not edit this

[2020-08-06 20:04] v-tcassi commented on #58275
Hi! The appropriate change to the Windows instructions is being included in a pull request now.

The Linux instructions have been left unaltered, but the Windows instructions now contain the correct debug environment variable value.

Thanks for your feedback!

[2020-08-06 20:06] NavtejSaini-MSFT commented on #60387
@kiranpradeep We are checking this and we will get back to you.

[2020-08-06 20:13] BharathNimmala-MSFT commented on #60419
@jdkaufman01 Thank you for bringing this to our notice, raised a PR to update the document. Once reviewed it will be merged with the live document.

Thanks again for helping us improve our documentation. At this point it appears that there's no further edits or updates needed to the documentation other than what is listed above. We will go ahead and close this issue, however if you have any furthe

[2020-08-06 20:13] #60419 closed

[2020-08-06 20:14] saurabhvartak1982 opened #60427 "Import statements and parameter passing missing"
[Enter feedback here]
1. In the sample python code there are import statements missing for json, sys and logging. The updated code is as follows:

import msal
**import json
import sys
import logging**
config = json.load(open(sys.argv[1]))

# Create a preferably long-lived app instance that maintains a token cache.
app = msal.ConfidentialClientApplication(
    config["client_id"], authority=config[

[2020-08-06 20:16] SatishBoddu-MSFT commented on #60387
@kiranpradeep
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-06 20:17] SatishBoddu-MSFT commented on #60380
@kiranpradeep
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-06 20:17] jamesbannan commented on #60272
@BhargaviAnnadevara-MSFT It's probably also worth mentioning that in order to create a resource lock you need more than just `write` permissions on the target scope. You also need `Microsoft.Authorization/*` or `Microsoft.Authorization/locks/*` which require either `Owner` or `User Access Administrator` permissions or a custom RBAC role assignment.

Given that in my case, the target VNet is centra

[2020-08-06 20:19] BharathNimmala-MSFT commented on #60406
@jdkaufman01 Thank you for your feedback, assigning this issue to our document author @bwren to further evaluate the feedback and update the document accordingly.

[2020-08-06 20:23] BharathNimmala-MSFT commented on #60425
@shakibqureshi  Thank you for bringing this to our notice, we will review and update the document accordingly.

[2020-08-06 20:24] xolve opened #60428 "Commands in `Create a Linux container app on Service Fabric in Azure` do not work"
I am using `az` CLI on openSUSE and I see that I cannot use Ubuntu Server 18.04. But its available in portal.azure.com.

The command to create Service Fabric cluster gives me error `az sf cluster create --resource-group $ResourceGroupName --location $Location --certificate-output-folder . --certificate-password $Password --certificate-subject-name $Subject --cluster-name $ClusterName --cluster-siz

[2020-08-06 20:26] emuench commented on #59164
Updates to resolve this issue should publish today after 1500 PST. Thanks for your patience.

[2020-08-06 20:26] KranthiPakala-MSFT commented on #60304
@jurw2201 To better assist on your query. Could you please share the error that you are seeing?

It is stated in the document to grant contributor role.

[code]

Thank you

[2020-08-06 20:35] wolfberry opened #60430 "Information is outdated: https://SERVICENAME.azurewebsites.net/metadata"
https://SERVICENAME.azurewebsites.net/metadata :  the link gives result saying the content is removed.
Looks like "/metadata" is not supported anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de5dce01-6320-5dfd-01a7-0875cb3d896d
* Version Independent ID: 6c23e853-7a45-3d5b-d208-e66aa2f733da
* Content: [Azure por

[2020-08-06 20:40] krob527 commented on #12948
I was having the same issue, but I was intentionally removing the Facebook ClaimsProvider and wanting to add SAML providers. I ended up having to replace the User Journey section of Base.xml from SocialAndLocal with the same section from LocalAccounts. I also had to remove the ValidationTechNicalProfiles from the same file.

[2020-08-06 20:41] sfc-gh-space opened #60431 "Suggestion for update"
[Enter feedback here]

This page no longer reflects the current Azure AD process, there are some minor changes in the GUI now. Also, for "SCIM 2.0 base URL", could you use an example of snowflake-url/scim/v2/ similar to the SSO pages? Because it isn't clear what URL you need to put there nor is it clear on the Snowflake side. Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-08-06 21:10] RonnieQuan commented on #60329
@ajlam Thanks for the prompt reply.

The feature we need is to associate a user assigned identity with MySQL server itself.
So that MySQL Server can use user assigned identity to access other resource, e.g. key vault.

Seems it's not supported, so far I think we can only assign system managed identity to MySQL server itself.
Can you please confirm?

[2020-08-06 21:15] markjbrown commented on #60124
It's not that simple. Our session token requires a bunch of client-side code in the driver that Mongo will never implement.

[2020-08-06 21:23] AjayKumar-MSFT commented on #60133
Apologies for the delay!  If have understood your issue correctly.

As mentioned in [this](https://docs.microsoft.com/azure/notification-hubs/notification-hubs-push-notification-fixer) document. The tutorial uses a development certificate. The same process is used when registering a production certificate. Just make sure that you use the same certificate type when sending notifications. Use the Pr

[2020-08-06 21:42] rwike77 commented on #57558
@astaykov  I've added some info on Source/ExtensionID to this article.  We also recently added an article on [using directory schema extension attributes](https://docs.microsoft.com/azure/active-directory/develop/active-directory-schema-extensions).  Hope that helps.  #please-close

[2020-08-06 21:42] #57558 closed

[2020-08-06 21:44] raymond-dillon commented on #60133
Hi @AjayKumar-MSFT - thanks for getting back to me. I have two separate hubs for my app (a development hub and a production hub).

Development works fine - I can send and receive notifications.

In production, following https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#create-a-provisioning-profile-for-the-app - I create an Ap

[2020-08-06 21:47] richardszalay commented on #60124
Fair enough. Thanks for taking the time to clarify everything @markjbrown

[2020-08-06 21:51] MarileeTurscak-MSFT commented on #60182
Thanks! I think it's a good point to note that and made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/125269

[2020-08-06 21:51] #60182 closed

[2020-08-06 22:17] markjbrown commented on #60124
My pleasure.

#please-close

[2020-08-06 22:17] #60124 closed

[2020-08-06 22:20] MarileeTurscak-MSFT commented on #60187
Hi @luckman212 , this work is currently in-progress, and there's a feature request here for it: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34274437-ability-to-update-named-locations-using-powershell

You can keep track of that request as the product team will update that page when the work is done.

[2020-08-06 22:20] #60187 closed

[2020-08-06 22:30] BharathNimmala-MSFT commented on #60403
@mvfolino68 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-06 22:37] rwike77 commented on #60179
@eimerreis  Thanks for pointing this out, I added the 'Spa' value to replyUrlsWithType.  The change should publish tomorrow morning.  #please-close

[2020-08-06 22:37] #60179 closed

[2020-08-06 22:41] DerekHerman-MSFT commented on #60396
Thanks for the question. We are currently investigating and will update you shortly.

[2020-08-06 22:43] DerekHerman-MSFT commented on #60412
@slynickel
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-06 22:47] kevinwedwards commented on #59359
This is blocking AKS deployment via ARM template as well.  As part of our build we all the Azure ARM Validation, which fails with the error below:

There were errors in your deployment. Error code: InvalidTemplateDeployment.
##[error]The template deployment 'aks-20200806-224317-7320' is not valid according to the validation procedure. The tracking id is '839efe29-e112-447d-a7d0-966d6c1730b9'. See

[2020-08-06 22:57] SakethTubati opened #60436 "Need Documentation update"
[Need limits to be updated on how many actions and conditions we can write
![image](https://user-images.githubusercontent.com/22947798/89590684-5b7f7980-d7fd-11ea-9155-47e6b4714c79.png)
the above image states that we can have 10 conditions and 5 actions when we actually can write 4 conditions and 3 actions. Please update the document accordingly since there is no ETA on when the change will go liv

[2020-08-06 22:58] SakethTubati commented on #57273
Thank you 👍

[2020-08-06 22:58] cherylmc commented on #60393
#reassign:yushwang

[2020-08-06 23:03] NavtejSaini-MSFT commented on #60388
@paratz We are checking this and we will get back to you.

[2020-08-06 23:03] SakethTubati opened #60437 "Need documentation update so Customers will get clear view"
[Need to give clear information on why when a /24 address range is used as shown in step 5 and 6, we will be able to connect only 127 clients instead of 251 removing 5 addresses which Azure will use.
![image](https://user-images.githubusercontent.com/22947798/89591066-1dcf2080-d7fe-11ea-9584-3e68e17d0acf.png)
When we select 2 protocols, it will split the address range between the 2 protocols, in e

[2020-08-06 23:03] richardszalay commented on #60124
I'm fine with closing the issue, but for the benefit of others could the linked page be updated with a note around the lack of support for Session, what happens whens you use it, and what the best fallback "default" is?

[2020-08-06 23:08] georgespatton opened #60438 "Fix punctuation on doc"
Change this:

To enable resolution between Azure and on-premises networks. See

to:

To enable resolution between Azure and on-premises networks, see

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d766d17-0650-407e-1aed-d94966ea4932
* Version Independent ID: 0254b3d9-adaf-8292-c3d3-93cb665b7504

[2020-08-06 23:14] MashaMSFT commented on #28720
#reassign: @sait-msft

[2020-08-06 23:14] PRMerger9 commented on #28720
sait-msft is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-08-06 23:14] NavtejSaini-MSFT commented on #60436
@SakethTubati We are checking this and will get back to you.

[2020-08-06 23:16] NavtejSaini-MSFT commented on #60392
@JoeWirtley  We are checking this and we will get back to you.

[2020-08-06 23:18] NavtejSaini-MSFT commented on #60404
@mousas We are checking this and will get back to you.

[2020-08-06 23:18] GiftA-MSFT commented on #59940
@MrSimple263 I find it strange that you're able to train the model with only 6 sentences for each language. As mentioned in this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/sentence-alignment#suggested-minimum-number-of-sentences), you need a minimum of 10,000 sentences for training to succeed. I also tested with the data you provided and recei

[2020-08-06 23:19] NavtejSaini-MSFT commented on #60409
@gyto23  The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

If it is general product question please ask it on Microsoft Q&A platform.Please let us know if you need any further information.

[2020-08-06 23:23] NavtejSaini-MSFT commented on #60411
@mihsoft We are checking this and will get back to you.

[2020-08-06 23:26] NavtejSaini-MSFT commented on #60413
@larryclaman We are checking this and will get back to you.

[2020-08-06 23:26] BharathNimmala-MSFT commented on #60419
@jdkaufman01 Wanted to keep you informed that the current support is limited to Red Hat Enterprise Linux | 7.4 - 7.8 and the documentation has been updated accordingly.

[2020-08-06 23:27] NavtejSaini-MSFT commented on #60423
@Diastro We are checking this and will get back to you.

[2020-08-06 23:29] NavtejSaini-MSFT commented on #60430
@wolfberry We are checking this and will get back to you.

[2020-08-06 23:30] NavtejSaini-MSFT commented on #60414
@larryclaman We are checking this and we will get back to you.

[2020-08-06 23:36] b-juche commented on #60404
Thanks, @mousas  -- Can you clarify?  'qos -> auto or manual' is not yet supported.  Can you explain where you see the "auto or manual" functionality?

[2020-08-06 23:37] ajlam commented on #60329
@lfittl-msft for assistance

[2020-08-06 23:39] gfaraj commented on #47611
Hi @RyanHill-MSFT thanks for the update. If I'm looking at this document correctly, I have two questions:

1. I have configured other providers through the Azure portal and from what I'm reading, it looks like if I enable file-based configuration for Apple login, I will lose those other providers I already set up. Is there a way to export/copy the current config to easily re-construct the file?

2

[2020-08-06 23:39] Karishma-Tiwari-MSFT commented on #60413
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-06 23:40] Karishma-Tiwari-MSFT commented on #60414
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-06 23:41] MarileeTurscak-MSFT commented on #60397
I made a pull request to update the doc here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/125288

Closing this out but feel free to reopen if more is needed on this.

[2020-08-06 23:41] #60397 closed

[2020-08-06 23:43] Karishma-Tiwari-MSFT commented on #58822
@palma21 Can you please share your insights on the customer's question? Thanks. :)

[2020-08-06 23:46] palma21 commented on #58822
Adding @TomGeske

Yes you should still add, for additional operations done by kubernetes. The join was made by AKS service itself while the Managed Identity is used by kubernetes.

[2020-08-06 23:52] markjbrown commented on #60124
Sure. Done. Will publish sometime tomorrow.

Thanks.

[2020-08-06 23:53] NavtejSaini-MSFT commented on #60362
@clement911 No It is not possible to have PITR period less than 7 days. Azure will keep backups of atleast 7 days. And the reason for the same is explained here - https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=managed-instance#backup-storage-consumption

![image](https://user-images.githubusercontent.com/52257742/89593832-2cc5cb00-d81e-11ea-914a-731bd3fb8

[2020-08-06 23:58] scemobileapps opened #60442 ""ServiceEndpint" should be "ServiceEndpoint""
Spelling mistake... "ServiceEndpint" should be "ServiceEndpoint"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46dac123-f7ac-a8c2-f4e3-96152b904b27
* Version Independent ID: ac845895-61d8-3d8e-d5b4-ea80a403458e
* Content: [Azure virtual network service endpoint policies](https://docs.microsoft.com/en-us/azure/virtual-

[2020-08-07 00:00] lfittl-msft commented on #60329
@RonnieQuan Thats correct, i.e. we don't support using managed identity to have MySQL queries access other resources in Azure (at least not today)

Can you share more what your use case is?

[2020-08-07 00:19] RonnieQuan commented on #60329
@lfittl I believe it support system assigned identity
https://docs.microsoft.com/en-us/cli/azure/mysql/server?view=azure-cli-latest#az-mysql-server-create-optional-parameters
--assign-identity
Generate and assign an Azure Active Directory Identity for this server for use with key management services like Azure KeyVault.
az mysql server create --admin-password
                       --admin-user

[2020-08-07 00:27] NavtejSaini-MSFT commented on #60195
@j-patrick We checked the command  - $scope = az cosmosdb show --name '<Your_Azure_Cosmos_account_name>' --resource-group '<CosmosDB_Resource_Group>' --query id which should have worked in Bash version of Cloudshell but giving error as below.
![image](https://user-images.githubusercontent.com/52257742/89595665-238b2d00-d823-11ea-9306-e79d7e4a163b.png)

The same command which should ideally be work

[2020-08-07 00:33] feiyushi commented on #58822
What kubernetes operations AFTER cluster is created require system identity to access/join pip/vnet etc?
If the part of documentation describing creating role assignment can be clearer it would be great.

[2020-08-07 00:42] g0pinath opened #60443 "Contributor cant assign roles, document needs update."
[Enter feedback here]

Per documentation Contributor can do the below.

Microsoft.Authorization/*/Write | Create roles, role assignments, policy assignments, policy definitions and policy set definitions
-- | --
However an SPN with Contributor access on an RG cant create a role assignment.
-----------------------------
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploy

[2020-08-07 00:59] Karishma-Tiwari-MSFT commented on #60391
Thanks for bringing this to our attention. We will now close this issue as the feedback have been directed here:  https://docs.microsoft.com/en-us/windows-server/networking/windows-time-service/windows-server-2016-improvements.

[2020-08-07 00:59] #60391 closed

[2020-08-07 01:10] #60404 closed

[2020-08-07 01:22] lfittl-msft commented on #60329
@RonnieQuan Ah, I see - so you are looking to configure this in the context of customer-managed encryption keys. I was missing that part of the information.

Let me reach out to the correct person on the team to review this - I'll ask them to reach out here. Thanks!

[2020-08-07 01:34] NavtejSaini-MSFT commented on #60411
@mihsoft We are assigning this to our doc author for further review.
@DavidTrigano Can you please check and add the correct commands for adding the role .

[2020-08-07 01:38] MonikaReddy-MSFT commented on #60305
@Aron-Ziegler - Great. At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 01:38] #60305 closed

[2020-08-07 01:43] NavtejSaini-MSFT commented on #60301
@cloudmonkeygarage The prerequisite document [link ](https://docs.microsoft.com/en-us/azure/azure-sql/database/auto-failover-group-overview?tabs=azure-powershell#enabling-geo-replication-between-managed-instances-and-their-vnets) in the note mentions this:
![image](https://user-images.githubusercontent.com/52257742/89599498-baf57d80-d82d-11ea-9875-57d3eaeb051c.png)
But we have raised the request t

[2020-08-07 01:43] GeekTrainer opened #60445 "Complete JavaScript example needed for writing to out blob binding"
The JavaScript example simply copies the the input into the output. There doesn't appear to be any documentation on how to take a blob (from say a file upload or another operation) and put it into the output stream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independen

[2020-08-07 02:09] NavtejSaini-MSFT commented on #60430
@wolfberry Please provide more details as when we created using the template and used the link, it downloads the metadata file. Is this something you looking for?
If you can add a screenshot of what you see it will help us alot.

[2020-08-07 02:12] NavtejSaini-MSFT commented on #60392
@timsander1 @SnehaGunda Can you please check this feedback from the user and do the needful.
@JoeWirtley We are checking with our authors regarding this.

[2020-08-07 02:23] kummanish commented on #60329
@RonnieQuan currently we do not support user defined identities for customer managed encryption keys. We are working on the design for it and will support it in future.

Regards,
Manish Kumar

[2020-08-07 02:55] palma21 commented on #58822
Depends which networking plugin and which/how many resources you use in different RGs.

Generically: https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking

Eg. when you scale or autoscale and need to read and join to the subnet or add more nodepools. Or depending if you need k8s to manipulate RTs etc.

[2020-08-07 03:26] elvirk opened #60446 "A role definition cannot be updated with a name that already exist."
[I'm trying to deploy same role definition to few subscriptions. It will deploy custom role to the first subscription without any issue, but any subscriptions after it will fail with this error "A role definition cannot be updated with a name that already exist."
If I change name of the ARM file for new subscriptions, then it works fine.
I have multiple subscriptions (50 plus) and I have about 10

[2020-08-07 04:16] josephka3 commented on #60283
@vipulsparsh I hope this reverts the changes made to rsyslog/syslog-ng config files for forwarding to port 25224/25226 too right?

[2020-08-07 04:24] Stephan-Hoffmann opened #60448 "OAuth2 fields are mislabeled"
In OAuth2 the correct label for "Consumer Key" is "ClientId", and for "Private Key" is "ClientSecret". ConsumerKey and PrivateKey are terms used by the OAuth1a protocol. Additionally, in OAuth2 there is no such thing as a "private app" - again, this is OAuth1a terminology. Using this mixture of terminologies is highly confusing.

This mislabeling extends to the ADF itself. But clarifying it here w

[2020-08-07 04:33] BhargaviAnnadevara-MSFT commented on #60424
@webwesen Thanks for the question!

As @anganti mentioned [here](https://github.com/Azure/static-web-apps/issues/5#issuecomment-632850259), for preview, GitHub Actions is the only supported way to build and deploy.
Supporting other CI/CD pipelines including Azure DevOps and/or CLIs is currently work in progress.

[2020-08-07 04:35] SaiKishor-MSFT commented on #60015
@rlevchenko
I understand your explanation about needing Certificate chain and that you used the same CN name. I also see you mentioned that using the command given in the [document](https://docs.microsoft.com/en-us/azure/application-gateway/end-to-end-ssl-portal), you are unable to create a root CA certificate. However, I was able to create a root CA certificate using the given command (please not

[2020-08-07 04:41] Bafff opened #60449 "Please change example of code for novices"
JSON code should look like this

[code]
(there are some missed stuff)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Version Independent ID: 11688ab7-9553-f03d-5a06-06f25383eff9
* Content: [Azure billing and cost management budget scenario](https://docs.microsoft.com/en-us/azure/c

[2020-08-07 04:51] VikasPullagura-MSFT commented on #60422
@vineetgarhewal Thanks for the Feedback. I have updated the document and changes will go live soon.

[2020-08-07 04:54] VikasPullagura-MSFT commented on #60046
Updated the document changes will go live soon.

[2020-08-07 04:54] #60046 closed

[2020-08-07 04:54] SatishBoddu-MSFT commented on #60148
Hello @bbpaulvanharen

You mean to say, **Non-Edge Device**, right? a simple IoT Device?

**Please refer to,**

- [Tutorial: Set up a device to provision using the Azure IoT Hub Device Provisioning Service](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-set-up-device)

- [Tutorial: Provision the device to an IoT hub using the Azure IoT Hub Device Provisioning Service](https://docs.microso

[2020-08-07 05:00] Mike-Crowley opened #60450 "Missing "Unexpire Password""
According to a similar article:

(https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr-writeback#configure-account-permissions-for-azure-ad-connect)

we are to set the "unexpire password" right as well, however this article does not mention that (and the cmdlet does not seem to set this). Is this unexpire permission no longer necessary, or missing from this a

[2020-08-07 05:04] #60386 closed

[2020-08-07 05:05] #60422 closed

[2020-08-07 05:05] rlevchenko commented on #60015
@SaiKishor-MSFT I see. Thanks. It's strange enough you can't reproduce this 'cause I tested multiple times and got no luck. Will update this topic if face with the same error next time.

[2020-08-07 05:13] TravisCragg-MSFT commented on #60370
@baier Custom Error pages in Azure Front Door are not currently available, [but this feature is planned for future release](https://feedback.azure.com/forums/217313-networking/suggestions/36056527-custom-error-pages-in-azure-front-door). Unfortunately I cannot give a timetable for the release, but if you vote for the feature it will help us prioritize this.

Unless the 404 originates from the Appl

[2020-08-07 05:16] VikasPullagura-MSFT commented on #60349
@JessAtrust I have shared the details and updated Brian on this internally.

Hope the provided information is helpful.

If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.Closing this for now.

[2020-08-07 05:16] #60349 closed

[2020-08-07 05:20] TravisCragg-MSFT commented on #60388
@paratz This is a known issue with the documentation, and we are waiting for confirmation before a doc change is made.

This issue is being tracked on [#58914](https://github.com/MicrosoftDocs/azure-docs/issues/58914)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2020-08-07 05:20] #60388 closed

[2020-08-07 05:27] Druffl3 commented on #59829
Looking forward to it.

[2020-08-07 05:36] KrishnaG-MSFT commented on #60449
@Bafff Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-07 05:39] TravisCragg-MSFT commented on #60436
@SakethTubati Thanks for the feedback! I confirmed the limits, and have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-07 05:42] SatishBoddu-MSFT commented on #59829
Hello @Druffl3 Thanks for your contribution!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 05:45] TravisCragg-MSFT commented on #60136
@ManuelGalindo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 05:45] #60136 closed

[2020-08-07 05:50] VikasPullagura-MSFT commented on #60428
@xolve
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-07 05:52] kiranpradeep opened #60451 "Clarity on TCP 80 (HTTP)/Out/WAN marked as Required:No"
In section Port requirements for Azure Stack Edge, TCP PORT 80 on WAN interface is added. But is marked as `Required:No`. Does that mean outbound TCP port 80 need not be opened on the WAN firewall? If that is the case, could it just not have been omitted from the document altogether?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-08-07 05:53] pacodelacruz opened #60452 "The list of supported data sources is missing HTTP/S, REST and SOAP"
The list of supported data sources is missing HTTP/S, REST and SOAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independent ID: 064c9db9-5e18-7266-1740-ada24a2086a1
* Content: [Access data sources on premises - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/l

[2020-08-07 06:07] ram-msft commented on #60108
@epomatti You do not have to export it at all, you will get better results from calling the managed Custom Vision service (if you can) because the models are not using compact Neural Network architectures.
Export only makes sense if you want to have offline inference capabilities (no/low internet access).

Here is an example iOS Xamarin app that we built for the AI Girls Hackfest in NYC that simpl

[2020-08-07 06:09] psmanhas commented on #60233
@rageanilkumar Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-07 06:21] AnuragSharma-MSFT commented on #60376
@Nilesh-tech We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-07 06:21] #60376 closed

[2020-08-07 06:27] KrishnaG-MSFT commented on #37403
Sure. Please send an email to [AzCommunity@microsoft.com](url) with the subject "**ATTN: Krishna - GitHub - 37403**". I will assist you offline over the email.

[2020-08-07 06:30] hiMinju commented on #60438
@georgespatton I think it's a typo. Did you make a pull request about this?
If not, can I make a PR for this?

Thanks.

[2020-08-07 06:57] bkuyang opened #60458 "event-hubs-ip-filtering page incorrect refer to 'Virtual Networks'"
The warning section of the event-hubs-ip-filtering page is copied from VNET page. It should state 'IP filtering' instead of the _**Virtual Networks**_.

 Warning

Enabling IP filtering can prevent other Azure services from interacting with Event Hubs.

Trusted Microsoft services are not supported when _**Virtual Networks**_ are implemented.

Common Azure scenarios that don't work with _**Virtual N

[2020-08-07 06:58] push32 opened #60459 "Azure Fileshare Mac cannot connect"
Cannot Connect to Azure fileshare using SMB Mac OS Catalina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure Files](https://docs.microsoft.com/en-us/azure/storage/file

[2020-08-07 07:05] dandelion88 opened #60460 "Error in referencing a figure"
[Enter feedback here]

Link to page: https://docs.microsoft.com/en-us/azure/machine-learning/studio/evaluate-model-performance
It is written in the text: "To see a plot of how these two metrics vary, you can click on the PRECISION/RECALL curve in the evaluation result output page (top-left part of Figure 7)."

However, what is actually shown in the top-left part of Figure 7 is NOT the PRECISON/REC

[2020-08-07 07:06] BhargaviAnnadevara-MSFT commented on #60427
@saurabhvartak1982 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-07 07:06] BhargaviAnnadevara-MSFT commented on #60431
@sfc-gh-space Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-07 07:12] AdamSharif-MSFT commented on #60386
@VikasPullagura-MSFT that's perfect, thank you!

[2020-08-07 07:16] crgarcia12 opened #60461 "Mention that outbound connections are still required"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/private-clusters)
* Content Source: [arti

[2020-08-07 07:27] AnuragSharma-MSFT commented on #60333
@SgtSpamCan Its really nice that you pointed it out. The reason Secret Manager package is added to the code example to provide a level of security, as mentioned at the start of article. However, its completely up to user's discretion to use it. We can use the security as per our requirements and completely ignore the secret package here.

Please let us know if you require any assistance on moving

[2020-08-07 07:37] molinch commented on #23965
@Mike-Ubezzi-MSFT From what I understand it is possible to use managed identities and Azure Sql Managed Instance. Right?
If so, could you guide us through the required steps?

[2020-08-07 07:48] BhargaviAnnadevara-MSFT commented on #60438
@georgespatton @hiMinju Thanks for the feedback. Please know that we welcome [public contributions ](https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md) to the Azure Docs documentation from the community! Feel free to submit a PR to fix this.

[2020-08-07 07:49] pacodelacruz opened #60462 "Add Best Practices for using SAS with Service Bus"
Please add best practices section for using SAS in this page, as currently included for Event Hubs.
https://docs.microsoft.com/en-us/azure/event-hubs/authorize-access-shared-access-signature#best-practices-when-using-sas

I've seen many people not being aware of the risks of using RootManageSharedAccessKey for everything.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-08-07 07:59] MayankBargali-MSFT commented on #60462
@pacodelacruz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-07 08:00] AshleyYang25 opened #60463 "Does user assigned identity support “RunAs=App” connectionString to get token to access Key Vault?"
![image](https://user-images.githubusercontent.com/22438762/89623199-c648b780-d8c6-11ea-9295-408b3391498d.png)
I'm reading this [doc](https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication).
And want to know, does user assigned identity support `"RunAs=App" `connectionString to get token like managed identity does? Or it must have AppId={ClientId of user-assigne

[2020-08-07 08:02] souravmishra-msft commented on #60291
closing this thread for now.

[2020-08-07 08:02] #60291 closed

[2020-08-07 08:05] MayankBargali-MSFT commented on #60445
@GeekTrainer Thank you for your feedback! We will review and update as appropriate.

[2020-08-07 08:06] MayankBargali-MSFT commented on #60452
@pacodelacruz Thank you for your feedback! We will review and update as appropriate.

[2020-08-07 08:23] pvmraghunandan opened #60464 "Document is so cumbersome. Split Managed Identity & Service principal as separate docs"
[Enter feedback here]

It's tough to follow the documentation on Key vault with AKS since it has mixed up managed identity & Service Principal so heavily. Having separate documents for Managed vs Service Principal is better.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version In

[2020-08-07 08:33] hiMinju commented on #60438
@BhargaviAnnadevara-MSFT
#60465 Okay! I just did it. Thanks!

[2020-08-07 08:50] BhargaviAnnadevara-MSFT commented on #60438
@hiMinju Thank you for your contribution!

[2020-08-07 08:51] pmaslej opened #60466 "containers instead of file shares"
in section Get List of storage accounts that can be protected with Recovery Services vault there  is searching for Protectable containers. If I understand correctly we shall search for SMB file shares instead, otherwise it will find containers to protect not File shares.

GET https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurefiles/providers/Microso

[2020-08-07 08:51] psmanhas commented on #60002
@MikkelMBXP Apologies for the delay in response.

Have you set the annotation service.beta.kubernetes.io/azure-load-balancer-resource-group with the PIP resource group name in the service spec? this annotation is required to use PIP in different resource group.

[2020-08-07 08:53] gingters commented on #56161
Just documenting that you can't create enrollment groups with ARM templates isn't enough, really.
There need to be a way to automatically create enrollment groups when using ARM templates.

[2020-08-07 08:58] SumanthMarigowda-MSFT commented on #60459
@push32 Thanks for the question! We are investigating and will update you shortly.

[2020-08-07 08:59] SumanthMarigowda-MSFT commented on #60129
@JeffSmalley  Your feedback has been shared with the content owner for further review.

[2020-08-07 09:05] GitaraniSharma-MSFT commented on #60437
@SakethTubati , thank you for your feedback. We have assigned this to the content owner/author for review.
@cherylmc , could you please review the suggestion and provide your inputs?

[2020-08-07 09:05] shashishailaj commented on #60443
@g0pinath Thank you for your query . We will investigate and update the thread.

[2020-08-07 09:12] daviddwlee84 opened #60467 "Link typo"
[code]

should be =>
[code]

(there are two same bugs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c5a806-41a2-f4a6-6888-329f7f362a53
* Version Independent ID: a5a2789c-5462-c041-54ea-d18754172dda
* Content: [Create SSH keys in the Azure portal - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtu

[2020-08-07 09:14] MikkelMBXP commented on #60002
@psmanhas thanks for your reply.

I have tried running the helm install command again - this time adding --set controller.service.annotations."service.beta.kubernetes.io/azure-load-balancer-resource-group"="paytjek-test"

but the IP address stays pending and the same error appears in the nginx logs

[2020-08-07 09:14] #60442 closed

[2020-08-07 09:16] GitaraniSharma-MSFT commented on #60442
@scemobileapps , thank you for your feedback. The document has been edited and the spelling mistake has been corrected as requested. It will be reflected shortly.

[2020-08-07 09:16] KrishnaG-MSFT commented on #58131
@sormita Thanks for the feedback!

The recommended change is in [this](https://github.com/microsoft/Docker-Provider/blob/ci_dev/scripts/onboarding/managed/enable-monitoring.ps1) enable-monitoring.ps1 script that's being referred in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-arc-enabled-clusters) Azure document. Tagging script contributor @ganga19

[2020-08-07 09:20] daviddwlee84 commented on #60467
pull request #60468

[2020-08-07 09:22] KrishnaG-MSFT commented on #60466
@pmaslej Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-07 09:23] shashishailaj commented on #60446
@elvirk Thank you for your feedback . We will check this one and update the same.

[2020-08-07 09:27] BhargaviAnnadevara-MSFT commented on #60467
@daviddwlee84 Thank you for your contribution!

[2020-08-07 09:28] shashishailaj commented on #60450
@Mike-Crowley Thank you for your feedback . We will investigate and update the thread.

[2020-08-07 09:32] shashishailaj commented on #60464
@pvmraghunandan Thank you for your feedback. We will take this up with the content authors to have the separation suggestion for this document and update the thread.

[2020-08-07 09:32] subashsivaji commented on #53672
Any update here? We have the same question. What permissions are required on the subnet or vnet for us to integrate with the App.

[2020-08-07 09:34] anomepani opened #60469 "Not able to Handle ipv6 with location in conditional access policy"
Hi,
We had enabled conditional access policy to block login outside of the country
But we found that this policy not working for IPV6 enables users as well as iPhone devices.

Kindly take an action on the same for resolution

just ran into this morning. the client uses an iPhone and the builtin mail app. sometimes it talks over ipv6 and without the "unknown" picked on my "USA only" policy, it fail

[2020-08-07 09:35] Shaktikantpadhi commented on #60366
Even they update every 1-2 weeks, the update may not include a new paper entity, so do you know how long before a published paper show up in the update?

[2020-08-07 09:37] shashishailaj commented on #60463
@AshleyYang25 Thank you for your query . We will investigate and update the thread.

[2020-08-07 09:40] shashishailaj commented on #60469
@anomepani Thank you for your query. We will investigate and update the thread.

[2020-08-07 09:40] m1nkeh commented on #59034
i have not, apologies, i shall take a look right now!

[2020-08-07 09:59] quentinalbertone opened #60470 "Encrypt your AKS cluster data disk(optional)"
[Enter feedback here]
Hello,

Could you elaborate the part 'Encrypt your AKS cluster data disk(optional)' because I cannot create pvc on my aks cluster. It could be very nice to put a copy past command as you have done during the whole documentation with the good right.

It seems that, even with azure aks expert, this part remains ambiguous.

---
#### Document Details

⚠ *Do not edit this section.

[2020-08-07 10:14] darshats opened #60471 "AnalysisException: Unable to infer schema for Parquet. It must be specified manually.;"
hello,
Following the steps described to read data using Spark API, I get this AnalysisException.

AnalysisException: Unable to infer schema for Parquet. It must be specified manually.;

Looking at the inner exception, it appears this call cannot read a csv file.
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=wasbs://bi-logs@swympremium.blob.core.windows.net/csv/swy

[2020-08-07 10:19] TomGeske commented on #59359
Yes, correctly. Roll out is still ongoing. Should finish in a couple of days in all regions.

[2020-08-07 10:38] VikasPullagura-MSFT commented on #60461
@crgarcia12
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-07 10:38] VikasPullagura-MSFT commented on #60461
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-08-07 10:40] akumaranchath opened #60472 "OMS agent is not installed in edge node by default"
OMS agent is not installed in the edge node of the cluster by default because no services run in the edge node but Internal edge nodes are still part of the cluster so the expectation is that the oms agent is installed automatically. The document doesn't call this out explicitly because often customers are left wondering why logs aren't sent from edge node and no telemetry is available in log anal

[2020-08-07 10:41] VikasPullagura-MSFT commented on #60470
@quentinalbertone
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-07 10:41] VikasPullagura-MSFT commented on #60470
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-08-07 10:42] subashsivaji opened #60473 "What is the Resource Provider Operations/Actions needed for required permissions?"
In this page under this section [https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#required-permissions](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#required-permissions)

Could you please provide exact [Resource Provider Operations Actions](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations)

[2020-08-07 11:03] ram-msft commented on #60166
@IMelker According to https://tools.ietf.org/html/rfc6716#section-5.2.1 16 kHz is a valid sample rate for Opus.

[2020-08-07 11:46] DeanGross opened #60475 "Important Note - confusing text"
[Enter feedback here]

The "Important Note" has some redundant text which makes it confusing to read. Please edit to provide more clarity.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Content: [Learn to audit the cont

[2020-08-07 12:03] helderpinto opened #60477 "There should be a link to the supported platform logs categories for each resource type"
Whenever I need to look for Diagnostic Logs support for specific azure resource types, I usually land into this page. However, it does not have all the details I need and particularly misses a link to an important document, that I suggest to be added to the Next Steps section: [Supported categories for Azure Resource Logs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs

[2020-08-07 12:03] helderpinto opened #60478 "There should be a link to the supported platform logs categories for each resource type"
Whenever I need to look for Diagnostic Logs support for specific azure resource types, I usually land into this page. However, it does not have all the details I need and particularly misses a link to an important document, that I suggest to be added to the Next Steps section: [Supported categories for Azure Resource Logs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs

[2020-08-07 12:16] PavelPikat commented on #40373
@kobulloc-MSFT Maybe I ask what's the status on this? Would be nice to see a full reference for XML configuration

[2020-08-07 12:21] RyanHill-MSFT commented on #47611
Hi @gfaraj

As of right now, there isn't any translation. The however is working bring that feature in a future iteration (no timeline yet).

If you're referring to a client directed flow on OIDC provider, that isn't supported as OIDC doesn't provide a protocol flow. If it was a different validation flow you were referring to, could elaborate?

[2020-08-07 12:23] bamarek opened #60479 "No information on updates for HTTPS devices"
This page badly misses even basic information on what needs to be done to allow firmware updates for devices that use HTTPS.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ae92a4-4bdc-965a-c62c-14da252f784d
* Version Independent ID: 3e68a6e7-17a1-df0a-6349-633536be8fe6
* Content: [Update device

[2020-08-07 12:23] BhargaviAnnadevara-MSFT commented on #60448
@Stephan-Hoffmann Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-07 12:25] vipulsparsh commented on #60469
@anomepani  For the unknown country to be included under these scenarios you will need to use this checkbox which is by default not selected. Many of the times, when the country named is not picked due to IPv6 address selecting the option will still apply to your CA policies.

![image](https://user-images.githubusercontent.com/63580915/89645284-129bf380-d8d7-11ea-9d2a-550d4c20f930.png)

Let me kno

[2020-08-07 12:26] BhargaviAnnadevara-MSFT commented on #60451
@kiranpradeep Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-07 12:35] rwiankowski opened #60480 "The document leaves doubt what happens to (RA-)GZRS accounts after failover"
The document states, that after a failover, the storage account is configured as locally redundant (LRS) but is that the case only when we have GRS before the failover, or also for GZRS before the failover? One might expect that the (RA-)GZRS storage account becomes a ZRS account after the failover.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-07 12:39] SadiqhAhmed-MSFT commented on #60466
@pmaslej Let me try explaining this from the perspective of  “configure backup” experience from the vault.

Go to Vault -> choose “Azure file share” as the answer for “What do you want to backup” -> **you get a list of storage accounts** -> you choose the account and then you get a list of file shares in that account .

The API you are referring to is corresponding to the highlighted step above. P

[2020-08-07 12:44] leokr opened #60481 "Broken link to Authentication and the Azure SDK"
More information can be found here: Authentication and the Azure SDK.
![image](https://user-images.githubusercontent.com/37657587/89646624-c8aa1200-d8c4-11ea-9cd0-d98b6a9809f3.png)

points to https://azure.github.io/azure-sdk/posts/2020-02-25/defaultazurecredentials.html
which returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-07 12:47] nezoic commented on #60399
@PramodValavala-MSFT That works perfectly, thank you!

[2020-08-07 12:47] #60399 closed

[2020-08-07 13:00] DCtheGeek commented on #60475
#assign:DCtheGeek

[2020-08-07 13:01] DCtheGeek commented on #60475
@DeanGross Thanks for the feedback.  Looks like the formatting got messed up a bit.  I'll get this fixed right now.  When the PR merges, this issue will automatically close.  The publish of the change will happen later in the day.  Thanks again!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-08-07 13:01] porrascarlos802018 opened #60482 "Please clarify scenario on which the customer has Virtual Machine Availability set."
kindly clarify , VMSS as a requirement and if possible an alternative for people using VMAS.

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (A

[2020-08-07 13:03] webash opened #60483 "32-bit support for MABS v3 UR1?"
Has 32-bit support been removed from MABS v3 UR1? Or has this page just been modified strangely from the [RTM version of the same page](https://docs.microsoft.com/en-us/azure/backup/microsoft-azure-backup-server-protection-v3)?

If 32-bit support has been explicitly removed, you will need to add a comment to explicitly mention this on the page, because it is not clear. Additionally you should prob

[2020-08-07 13:23] #60475 closed

[2020-08-07 13:38] psmanhas commented on #60002
@MikkelMBXP Thank you for your response.

Can you get the real service spec and check whether it is expected? e.g. by kubectl get svc <svc-name> -o yaml

[2020-08-07 13:38] jurw2201 commented on #60304
Yes this I saw. But what minimal RBAC permission does my account require to be able to run this command successfully? When I ran it, it told me I was not authorized to write to a scope.

[2020-08-07 13:39] rvooren opened #60484 "CustomModel Errors Creating transcription on batch rest-api"
I'm trying to use a custom created through SpeechStudio, using the URL it gives me.
But when trying to use it with the REST API for batch speech-to-text, it gives me an error when creating a transcriptions :

{\"code\":\"InvalidRequest\",\"details\":null,\"message\":\"The value of transcription.model.Self does not reference an entity. OR The value of transcription.model.Self does not reference an

[2020-08-07 13:40] KrishnaG-MSFT commented on #60477
@helderpinto Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-07 13:40] IMelker commented on #60166
Okay, then I faced with weird behavior. 48khz works better for me then 16khz

[2020-08-07 13:42] KrishnaG-MSFT commented on #60478
@helderpinto Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-07 13:43] kevinwedwards commented on #59359
@TomGeske  is there a way to monitor which regions require the feature flag and which don't?  Our AKS cluster is West US

[2020-08-07 14:01] tfitzmac commented on #60073
@husamhilal - thanks again for this feedback. Information about using parameters has been added to the template specs overview and quickstart.
#please-close

[2020-08-07 14:01] #60073 closed

[2020-08-07 14:06] rothja commented on #28720
#reassign:@Sait-MSFT

[2020-08-07 14:08] duanzy47 opened #60486 "Use Azure CLI for the set up of a blank SQL database"
Hello, can you pls tell me, instead of using the Azure Portal, how can I use Azure CLI for the set up of a blank SQL database? I found the example scripts with the Sample data, but I don't know if I can skip the data and get an empty database with CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5802ba59-8c08-7b41-7

[2020-08-07 14:15] shashishailaj commented on #60143
@n41n4 As we have not received any response from you on this. We will be closing this now. Should you still have any further query on this please provide the details as requested earlier by me and tag me to your reply and we will be happy to help you further.

Thank you.

[2020-08-07 14:15] #60143 closed

[2020-08-07 14:22] ram-msft commented on #60166
@IMelker We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 14:22] #60166 closed

[2020-08-07 14:23] PramodValavala-MSFT commented on #60342
@prabhushrikant Just following up here... Hope my previous comment clears things up.

[2020-08-07 14:28] NavtejSaini-MSFT commented on #60458
@bkuyang We are checking this and will get back to you.

[2020-08-07 14:29] NavtejSaini-MSFT commented on #60460
@dendelion88 We are checking this and will get back to you.

[2020-08-07 14:31] Rohan-Deshamudre opened #60487 "Digital twin room21 temperature 0"
I used the [end-to-end solution documentation](https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-end-to-end) to create my digital twin and at the end stage I am supposed to see the same telemetry for the thermostat and the room, I get value 0 for the room as you can see in the image below.
![image](https://user-images.githubusercontent.com/50305274/89655404-5805f400-d8ca-11ea-8c86-c218

[2020-08-07 14:37] bbpaulvanharen commented on #60148
@SatishBoddu-MSFT , I'll transfer my questions to the forum, as per your request.

[2020-08-07 14:37] #60148 closed

[2020-08-07 14:37] JJDE commented on #60389
yes, you are absolut correct, i missed that sorry and thanks, problem resolve 👍

[2020-08-07 14:38] anomepani commented on #60469
Include Unknown countries/region option is not trustable. How can we identity user is actually from USA only and actual user is logged in not hacker?
If Some malicious user or suspicious login activity comes from untrusted locations how can we identify and verify that this is expected activity.

This small checkbox can introduce bigger risk at any organization for compromised user credentials.

Pl

[2020-08-07 14:51] g0pinath commented on #36183
Here is a scenario.
I need to have 3 pools, one for system on which I wont schedule any apps.
a pool for webapp that will use say Standard_B2s for simple apps and another called Standard_B2ms that I will use for resource intensive apps like PDF converter. I have set labels to call them as small and large.
Both node pools have 1 node to start with and have max node set to 5 in auto scaler.
When I d

[2020-08-07 15:01] tfitzmac commented on #60389
#please-close

[2020-08-07 15:01] #60389 closed

[2020-08-07 15:03] gdcathey commented on #34446
Having this information in the documentation would be extremely helpful.

[2020-08-07 15:18] Karishma-Tiwari-MSFT commented on #60326
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-07 15:18] #60326 closed

[2020-08-07 15:25] DarrinEide commented on #60366
Sorry, but I can only provide you the update frequency. If you have a question about a specific paper I'd ask you to reach out to them directly via the feedback link on the Microsoft Academic website.

[2020-08-07 15:35] SadiqhAhmed-MSFT commented on #60483
@webash Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-08-07 15:35] MarileeTurscak-MSFT commented on #60481
@leokr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-07 15:42] NavtejSaini-MSFT commented on #60177
@Eaglerod1978 Do you need any further help with this issue. If not we will close this thread by EOD.

[2020-08-07 15:43] MarileeTurscak-MSFT commented on #60481
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/125343

[2020-08-07 15:43] #60481 closed

[2020-08-07 15:43] MhAllan opened #60489 "Cosmos Gremlin with Emulator"
This link https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#gremlin-api

Says I have to create database and collection using the data explorer and on top of the article it says that the data explorer does not work with gremlin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9

[2020-08-07 15:48] ShajithThaze opened #60490 "Incomplete Documentation - Script need overhaul"
Please note that the Powershell script mentioned here is incomplete and many variables reference here are not set. There are so many parameters to be considered as part of setting up the replicaiton, like target ResouceGroup, target vnet/subnet, replication policy, cache storage account, etc. I have worked with Phillip Chalabi to redo the script. Please update this documentation.

Thanks,
Shajith

[2020-08-07 15:49] stevestein commented on #40261
#reassign:stevestein

[2020-08-07 15:50] bandersmsft commented on #56048
@Dev-ML11 It looks like you got the details needed with 2020-01-01-preview so I'm closing this issue.

[2020-08-07 15:50] #56048 closed

[2020-08-07 15:51] stevestein commented on #40261
@Tiberriver256 - thanks for raising this issue.  The article has been updated.

Thanks!

#please-close

[2020-08-07 15:51] #40261 closed

[2020-08-07 15:54] stevestein commented on #37483
#reassign:stevestein

[2020-08-07 16:02] gfaraj commented on #47611
Yep, I'm referring to client-directed flow. In my React Native app, I have log-in with Facebook and Google integrated using a client-directed flow by posting to the appropriate /.auth/login end-point.

I have integrated this package into my app that correctly signs in a user with Apple in the client:
https://github.com/invertase/react-native-apple-authentication

I was expecting/hoping I could per

[2020-08-07 16:05] tomcooperca commented on #53153
Hi @malopMSFT,
The solution described does *not* work when deploying PL-enabled services in more than one subscription. There is no option when creating a service with a private link to select an Azure Private DNS zone that isn't in the same subscription in the portal. See the below error message when attempting to implement the recommendations by adding the virtual network link to the duplicate p

[2020-08-07 16:05] jonwbstr opened #60492 "Current Azure AD Powershell Module"
Hello,

This article says:

The link for Azure AD PowerShell points to the "az" module. However, these instructions are not for the Az Module. Can the instructions should be updated for the newer 'az' AzureAD PowerShell module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Versio

[2020-08-07 16:10] ramankumarlive commented on #60191
@JesperJakobsen I believe you are talking about the 2TB limit for the OS disk which does not apply to data disks. Hence, you should be upload a 32 TB data disk to Azure.

[2020-08-07 16:12] MonikaReddy-MSFT commented on #60405
@AlexSapple -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 16:12] #60405 closed

[2020-08-07 16:12] bachoang opened #60493 "SAML token can't be obtained using OBO flow on V2 endpoint"
[Enter feedback here]
The section on "SAML assertions obtained with an OAuth2.0 OBO flow" should probably either removed or noted correctly.  Today you can only get a SAML token using the OBO flow on V1 endpoint.  It does not work on V2 endpoint.  See VSO Work Item 1100585 for more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-08-07 16:14] MonikaReddy-MSFT commented on #60378
@VGSandz - The B2B China Cloud docs were released in May, and here's the root link : https://docs.azure.cn/zh-cn/active-directory/b2b/

I hope this helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the iss

[2020-08-07 16:14] #60378 closed

[2020-08-07 16:15] hpsin commented on #60405
Hi @AlexSapple - AuthenticationContext is part of "ADAL", our legacy SDK that uses the "v1" endpoint.  MSAL uses v2.  So it's not unexpected that your SDK uses the older v1 endpoint.  Would it have been helpful to have docs indicating on this page the library you should be using if you want to use the v2 endpoint?

[2020-08-07 16:15] stevestein commented on #42556
@AlejandroSanchezArocha - thanks for raising this issue. The article has gone through a previous update and this issue is no longer present.

Thanks!

#please-close

[2020-08-07 16:15] #42556 closed

[2020-08-07 16:16] stevestein commented on #42556
#reassign:stevestein

[2020-08-07 16:17] Dev-ML11 commented on #56048
Hi,
I haven’t got answer on this, Still my question on pricing discrepancy
haven’t answered yet.

On Fri, 7 Aug 2020 at 9:20 PM, Bill Anderson <notifications@github.com>
wrote:

--
mouni

[2020-08-07 16:24] SaiKishor-MSFT commented on #60015
@rlevchenko  What is the error message that you are getting currently for the health probe and what do you get for using a wrong hostname?

[2020-08-07 16:28] j0ej0e21 opened #60494 "Stage Script Not Working during GPO Startup script - Works Manually"
[Enter feedback here]
The part where the script tries to mount the VHD fails - I have included the info from the PowerShell transcript

**********************
Windows PowerShell transcript start
Start time: 20200807161522
Username: MORLEYITLAB\SYSTEM
RunAs User: MORLEYITLAB\SYSTEM
Configuration Name:
Machine: WVD10-Pool1-0 (Microsoft Windows NT 10.0.19041.0)
Host Application:  -ExecutionPolicy ByP

[2020-08-07 16:30] j0ej0e21 commented on #60494
Sorry - forgot to mention, I am using a Windows 10 2004 Multi Session image for my Windows Virtual Desktop Non-Persistent Pool - and assigning the GPO to these VMs via a separate OU/GPO

[2020-08-07 16:31] DerekHerman-MSFT commented on #60396
@stevenmiller
Currently there is no limit for the number of blob versions there can be and there is no way to set a limit of 5. You would have to programmatically perform this. To submit a request for this I recommend you submit this feature to [Azure Feedback](https://feedback.azure.com/forums/217298-storage). This is monitored by our product teams and allows the community to upvote popular ideas

[2020-08-07 16:31] #60396 closed

[2020-08-07 16:34] ecfan commented on #40136
Hi @ccapellan,

Apologies for the delay, but the engineering team provided a solution, which I'll add to the doc. By default, Visual Studio isn't set up to work with Azure Government accounts. So, you need to add a discovery endpoint for Azure Government Cloud by following these steps:

1. In Visual Studio, on the **Tools** menu, select **Options** > **Environment** > **Accounts**.

2. Under **Reg

[2020-08-07 16:38] hpsin commented on #60493
Good catch Bac, thanks.

[2020-08-07 16:45] SatishBoddu-MSFT commented on #60479
Hello @bamarek Thanks for the feedback!
I have assigned the issue to the content author @wesmc7777 for further review and update the doc if needed.

[2020-08-07 16:47] AnuragSharma-MSFT commented on #60486
@duanzy47 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-07 16:49] cephalin commented on #59204
@Rick-Anderson The original statement you quoted comes from the "Upload a private certificate" section, which is for people who want to upload a certificate they already got from providers like like VeriSign and such. It's also explained in the introduction in the table listing the options.

Is your suggestion to add links to the intro table?

[2020-08-07 16:57] KranthiPakala-MSFT commented on #60471
@darshats
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-07 16:59] KranthiPakala-MSFT commented on #60472
@akumaranchath
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-08-07 17:01] KranthiPakala-MSFT commented on #60448
@linda33wj Could you please review this and do the helpful needed. Thanks

[2020-08-07 17:02] stevestein commented on #47131
@StingyJack - thanks for the feedback.

Perhaps it's not the best error message, but you can use the seconds option to set the frequency >=300 seconds. For example, if you want the frequency to be every 5 mins 30 seconds you can set it to 330 seconds.

#please-close

[2020-08-07 17:03] #47131 closed

[2020-08-07 17:05] shashishailaj commented on #60431
@zchia Could you please review the content on this article to see how best the recommendations of the customer can be incorporated in the article ?

[2020-08-07 17:12] cynthn commented on #60467
@daviddwlee84 Thanks for the feedback! It looks like you fixed these issues here: https://github.com/MicrosoftDocs/azure-docs/pull/60468

Can you respond on the pull request so that we can merge it and give you credit in GitHub for contributing to the documentation?

Thanks again :)

[2020-08-07 17:35] #60364 closed

[2020-08-07 17:36] shashishailaj commented on #60364
@athaynes Thank you for your humble comments. :) . We agree that syntax information should have been mentioned as its based on VBA which is case sensitive by default . We have added it now and the changes should go live in the next 24-48 hours. We will now close this issue. Thank you for suggesting the same.

[2020-08-07 17:43] cynthn commented on #57399
I've reviewed the topic and updated both the service principal piece and another issue I found in the .json. Changes should be live around 3:00 PM PST today. Thanks again!

#please-close

[2020-08-07 17:43] #57399 closed

[2020-08-07 17:47] YutongTie-MSFT commented on #60484
@rvooren
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-07 17:50] SakethTubati commented on #60436
@NavtejSaini-MSFT @TravisCragg-MSFT Thank you for checking in. Appreciate the update. Hope they don't need to change it back soon :P

[2020-08-07 17:55] shashishailaj commented on #60060
@robyerts We have requested some clarifications from the product group on this and will update the thread.

[2020-08-07 17:57] jeevansd commented on #53677
@mandiaya JIRA plugin is updated now and available for download.

[2020-08-07 17:58] anilpras opened #60495 "It seems it should not be **anonymous** in the https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#secure-an-http-endpoint-in-production"
[Enter feedback here]
In this https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#secure-an-http-endpoint-in-production it says.

To fully secure your function endpoints in production, you should consider implementing one of the following function app-level security options. When using one of these function app-level security methods, you shou

[2020-08-07 17:58] jeevansd commented on #53677
@oeicramirez The Confluence plugin does support version 7.6 We have also updated the doc now.

[2020-08-07 17:58] jeevansd commented on #53677
#please-close

[2020-08-07 17:58] #53677 closed

[2020-08-07 18:01] jeevansd commented on #48941
@oliverjnash Plugin is now tested on ServiceDesk 4.9.0 also and it is working as expected.

[2020-08-07 18:01] jeevansd commented on #48941
#please-close

[2020-08-07 18:01] #48941 closed

[2020-08-07 18:06] malopMSFT commented on #53153
Our doc has the following:
A **single** private DNS zone is required for this configuration. Creating multiple zones with the same name for different virtual networks would need manual operations to merge the DNS records.

The error listed indicates that there's already an existing zone associated with the VNet which creates a conflict on DNS resolution.

Portal has support to select the zone from

[2020-08-07 18:08] NavtejSaini-MSFT commented on #60473
@subashsivaji We are checking this and will get back to you.

[2020-08-07 18:10] NavtejSaini-MSFT commented on #60480
@rwiankowski We are checking this and will get back to you.

[2020-08-07 18:13] NavtejSaini-MSFT commented on #60482
@porrascarlos802018 We are checking this and we will get back to you.

[2020-08-07 18:14] jeffhebrank opened #60496 "Requirements for Hadoop unclear"
In the requirements section there isn't any mention of Hadoop Core for Windows, but in the troubleshooting section it references this page https://cwiki.apache.org/confluence/display/HADOOP2/Hadoop2OnWindows

I'm unclear if installing Hadoop is a requirement or not. I'm not able to get Databricks Connect working locally even after following the installation steps on the Hadoop Core page. I still g

[2020-08-07 18:15] NavtejSaini-MSFT commented on #60487
@Rohan-Deshamudre We are checking this and we will get back to you.

[2020-08-07 18:15] kobulloc-MSFT commented on #60492
@jonwbstr Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-07 18:19] NavtejSaini-MSFT commented on #60489
@MhAllan We are checking this and we will get back to you.

[2020-08-07 18:25] SatishBoddu-MSFT commented on #60487
Related to: https://docs.microsoft.com/en-us/answers/questions/62108/index.html
We are working on it.

[2020-08-07 18:27] AzureAzim opened #60498 "Lock the image definition if its used in a host pool"
Images that are used in host pools need to be locked because if they get deleted, you cannot expand your host pool.  This lock would prevent users from breaking that dependency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45

[2020-08-07 18:30] DawgFan commented on #58112
@atrauzzi We're have a sign-up form for those interested in being early adopters of OT. We hope to turn it into a community, where we discuss new stuff and get feedback.

Would you be interested?
https://aka.ms/AzMonOT/

[2020-08-07 18:45] kobulloc-MSFT commented on #40373
Adding @mrbullwinkle.

[2020-08-07 18:50] #60108 closed

[2020-08-07 18:52] jeevansd commented on #60221
@glprasanna Other customers have confirmed that it resolve the issue for them. We are again investing your issue here. We might have to get on the call to see this in action.  Are you open for that?

[2020-08-07 19:02] braunsonm commented on #50421
@paulgarn Also wondering this.

[2020-08-07 19:04] Grace-MacJones-MSFT commented on #60164
Hi @c-lamont,
Thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-07 19:04] #60164 closed

[2020-08-07 19:15] #40885 closed

[2020-08-07 19:17] Karishma-Tiwari-MSFT commented on #59945
We will now close this issue. Please let me know if you are still seeing the issue and if yes, please provide necessary details asked in the comments above. I will help you with the support request.

[2020-08-07 19:17] #59945 closed

[2020-08-07 19:34] gorankuk opened #60499 "Page requires refresh"
Orchestration mode. is not the  option any more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale set in the Azure portal - Azure Virtual Machine Scale Sets](https://d

[2020-08-07 19:48] GiftA-MSFT commented on #60146
Will proceed to close this thread. However, @sensoham please share link to a sample image(s) so we can investigate further, thanks.

[2020-08-07 19:48] #60146 closed

[2020-08-07 19:55] sebansal commented on #60060
@robyerts for clarification, are you referring to the part 2 of tutorial described in this documentation? https://docs.microsoft.com/en-us/azure/key-vault/general/authentication#part-2-create-a-client-certificate-for-your-service-principal

[2020-08-07 19:59] stevemilligansds commented on #51464
Also having the same issue. AssertStringClaimsAreEqual is validating and showing a message as expected, but next step is executing regardless, and pre-conditions do not work either.

[2020-08-07 20:11] mike-urnun-msft commented on #60190
@richardweaver Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-07 20:11] #60190 closed

[2020-08-07 20:16] DerekHerman-MSFT commented on #60473
@subashsivaji
Here is the[ Storage Account Contributor role](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-account-contributor).  It appears that the permission is: "_Microsoft.Network/virtualNetworks/subnets/joinViaServiceEndpoint/action_"

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-07 20:18] feiyushi commented on #58822
Thank you @palma21.  I have no more questions. You may leave the issue open for documentation improvement or close it.

[2020-08-07 20:25] spelluru commented on #60020
@Tiberriver256 - Thank you. I will remove that step. This feature was enabled for Service Bus and Event Hubs, not for Relay yet.

[2020-08-07 20:32] HarshitaSingh-MSFT commented on #60209
@obhayes, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-08-07 20:32] #60209 closed

[2020-08-07 20:34] SaurabhSharma-MSFT commented on #60322
@cyb3rbull You can use `Remove-MsolUser -UserPrincipalName UserPrincipalName` to remove any user.

[2020-08-07 20:34] HTGIT87 opened #60500 "It doesnt describe how it does it, just say the capability. No idea how to install it!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 795962ba-55a1-65f3-e7fe-4c5d968af8e5
* Version Independent ID: 4a0cf543-0959-42cc-55b8-bc40481dd591
* Content: [Deployment plans - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-deployment

[2020-08-07 20:36] DerekHerman-MSFT commented on #60480
@rwiankowski
They will all become LRS after failover as the document states.

Also to clear up the differences between [GRS](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#geo-redundant-storage) and [GZRS](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#geo-zone-redundant-storage). The primary region may use either LRS or ZRS. The secondary region

[2020-08-07 20:36] #60480 closed

[2020-08-07 20:36] jcpayne opened #60501 "Deleting experiments"
I have recently started using Machine Learning services quite regularly and my costs on Azure have gone way up, in part (I think) because so much data is stored from every run.  It is annoying that it appears to be so hard to delete experiments.  The experiment is the unit at which deletion should be easiest.  For example, I don't want to junk my whole workspace because I'm still working on the sa

[2020-08-07 20:37] eugen-nw opened #60502 "It'd be nice to learn as well how to disable sampling"
There are products that use App Insights for their logging needs and as such those products do not want any sampling to take place.

Thank you,  Eugen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
* Content: [Telemetry

[2020-08-07 20:40] RonnieQuan opened #60503 "Pricing for PostgreSQL ATP"
Can you please confirm the advanced threat protection feature for PostgreSQL is fee?

Thank you!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa497dc-7cf4-e210-71f5-e62da0085683
* Version Independent ID: 67f3cf10-16a7-dfdd-7436-8d25cc397461
* Content: [Advanced Threat Protection - Azure Databas

[2020-08-07 20:41] JMRMEDEV opened #60504 "Non-working sign-in page text feature"
As documented in the described document, company branding, through its feature **sign-in page** text I should be capable of
adding a text that appears on the bottom of the sign-in page. Quoting the document: "You can use this text to communicate additional information, such as the phone number to your help desk or a legal statement". I've followed the steps for adding such text without success, wh

[2020-08-07 20:42] RonnieQuan opened #60505 "Pricing for MySQL ATP"
Can you please confirm the advanced threat protection feature for MySQL is fee?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e72c7c-5677-b1b3-eaf1-b289b7595272
* Version Independent ID: 26d58a96-407b-9b70-fa25-c256b8697edb
* Content: [Advanced Threat Protection - Azure Database for MySQL](htt

[2020-08-07 20:48] palma21 commented on #51954
Standard_D2as_v4 is a supported sku. Do you have quota for scale up? What is the error? I suggest you open a support ticket for it.

[2020-08-07 20:49] Karishma-Tiwari-MSFT commented on #60286
@KoyelPaulMS I would need additional information to help you out on your issue. Can you please elaborate on your scenario and share your end goal as well? Thanks.

[2020-08-07 20:54] YutongTie-MSFT commented on #36938
@kartikaynigam Hi, this thread is too old. Could you please open a new one?  Thanks.

[2020-08-07 21:00] BrianLevenson opened #60506 "Reduced Marketplace Fee Update"
The reduced marketplace fee section at the bottom is inaccurate as of Inspire 2020, where we announced the expansion of this and clarified criteria. For SaaS, the offer itself must be IP Co-sell eligible (and also applies to other offer types).

Here's the announcement blog with the eligibility criteria defined: https://www.microsoftpartnercommunity.com/t5/Microsoft-AppSource-and-Azure/Fueling-gro

[2020-08-07 21:02] MarileeTurscak-MSFT commented on #60188
Hi @DaveMenist,

There's an illustration of how to do this in this other guide, U[se the invitation API to send a B2B invitation ](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/invite-internal-users#use-the-invitation-api-to-send-a-b2b-invitation)

Hope this helps. If you have further questions feel free to reach out on [Microsoft Q&A](https://docs.microsoft.com/en-us

[2020-08-07 21:02] #60188 closed

[2020-08-07 21:04] dutsmiller commented on #51954
This now works.  Previously, it absolutely did not.

[2020-08-07 21:04] Karishma-Tiwari-MSFT commented on #60343
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live once it is reviewed by the author and merged.

[2020-08-07 21:04] #60343 closed

[2020-08-07 21:09] NavtejSaini-MSFT commented on #60317
@sebastianlaspina At this time we are going ahead and closing this issue. If you need any further help, please raise a feedback with the documentation link in question and we will look into it.

[2020-08-07 21:09] #60317 closed

[2020-08-07 21:09] NavtejSaini-MSFT commented on #60409
@gyto23 The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

If it is general product question please ask it on Microsoft Q&A platform.Please let us know if you need any further information.

[2020-08-07 21:10] NavtejSaini-MSFT commented on #60362
@clement911 Do you need any further help regarding this.

[2020-08-07 21:12] #60301 closed

[2020-08-07 21:14] NavtejSaini-MSFT commented on #60329
@RonnieQuan Please confirm if you need any further help or we can go ahead and close this thread.

[2020-08-07 21:15] NavtejSaini-MSFT commented on #60430
@wolfberry Please let us know if you were able to check this further.

[2020-08-07 21:18] RonnieQuan commented on #60329
@kummanish Thanks for the information. Do you have date on your roadmap for MySQL user assigned identity?

Thanks!

[2020-08-07 21:20] NavtejSaini-MSFT commented on #60503
@RonnieQuan We are checking this and we will get back to you.

[2020-08-07 21:21] NavtejSaini-MSFT commented on #60505
@RonnieQuan We are checking this and we will get back to you.

[2020-08-07 21:25] #60241 closed

[2020-08-07 21:25] YutongTie-MSFT commented on #60241
@MastafaF Hello, thanks for the feedback again. I have create a fix for the document, you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-07 21:26] ma499 commented on #49834
Dear @PramodValavala-MSFT does this advice apply across the board for all trigger types or just Service Bus triggers? For example, we make use of Cosmos DB triggers so I presume we would also use a slot specific configuration string setting.

What safeguards should we undertake for Timer Triggers in a staging slot? Presumably we can't stop the trigger from running and therefore *all* downstream co

[2020-08-07 21:36] NavtejSaini-MSFT commented on #60490
@ShajithThaze We are checking this and will get back to you.

[2020-08-07 21:39] a-santamaria commented on #60428
@xolve key vault names should be universally unique because they are accessed like this https://{vault-name}.vault.azure.net. Please try using a different name because 'containertestvault' has been take already

[2020-08-07 21:40] andrewdoesdata opened #60507 "SpeechToTextSDK now SpeechToText"
When trying to use SpeechToTextSDK I get an error: type SpeechToTextSDK not found. This happens in both Scala and Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77bf0dc5-1251-ce0d-1573-795c13b267fb
* Version Independent ID: 9babfb5c-279e-a80c-e3d0-ae6b6dd45b01
* Content: [Get started with Cognitive Services for

[2020-08-07 21:43] NavtejSaini-MSFT commented on #60494
@j0ej0e21 We are checking this and will get back to you.

[2020-08-07 21:44] NavtejSaini-MSFT commented on #60495
@anilpras We are checking this and will get back to you.

[2020-08-07 21:49] mattr1 opened #60508 "Remove debugging lines"
This page has a few extra lines that seem to have been added for testing but not removed: "Adding a line for testing. Adding a Link for testing. Adding a BOLD statement for testing"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc49ab2c-f3f6-b6d1-5715-80377ec0ac2b
* Version Independent ID: 9289adae-4e8c-12dc-ec26-2a5f

[2020-08-07 22:08] nestor-qhr opened #60509 "Repeated content"
There's a lot of repeated information. And some paragraphs are identical (e.g. 2.2. and 2.3). Maybe the document could be summarized to be more intelligible. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36c4d31-c4e7-0ae1-f069-519a1f269099
* Version Independent ID: fd5a7a9e-e1e3-0a92-e794-6a5b519aa8ea
* Co

[2020-08-07 22:12] JnHs commented on #59330
@kspoojary, thanks for your patience! We've confirmed that support for private connectivity in Azure Batch is no longer in preview, and have updated the article accordingly to reflect the availability and regions.
I will close this issue now, but please let us know if you have further questions!
#please-close

[2020-08-07 22:12] #59330 closed

[2020-08-07 22:14] JnHs commented on #59973
Hi again @Snozzberries - wanted to let you know that we've updated this article again, as the Azure PowerShell Get-AzSubscription cmdlet will now show the HomeTenantId and ManagedByTenantIds attributes for each subscription. Please give it a try and let us know if you have further questions!

[2020-08-07 22:37] hpsin opened #60510 "undefined variable: config (value form sample, but not mentioned in examples if just following along)"
May be worth mentioning that `config` in the first place it's mentioned is also from the sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd9e7-d45f-1867-185a-c74636a9f448
* Version Independent ID: 20e2b7a4-12b0-8cbf-d36f-63a9b527b7da
* Content: [Configure daemon apps that call web APIs - Microsoft identity pl

[2020-08-07 22:41] andrewdoesdata commented on #60507
Also It appears
setAudioData is now required for SpeechToText from https://mmlspark.blob.core.windows.net/docs/1.0.0-rc1/scala/index.html#com.microsoft.ml.spark.cognitive.SpeechToText

So the section below needs an additional line (I've bolded)
val speechToText = new SpeechToTextSDK()
    .setSubscriptionKey(serviceKey)
    .setLocation("eastus")
    .setOutputCol("text")
    **.setAudioData("SOME

[2020-08-07 23:00] MarileeTurscak-MSFT commented on #60509
Thanks @nestor-qhr! I made a pull request to remove the repeat paragraph and have passed your additional feedback on to the content author, @msmbaldwin

https://github.com/MicrosoftDocs/azure-docs-pr/pull/125422

[2020-08-07 23:00] #60509 closed

[2020-08-07 23:04] MarileeTurscak-MSFT commented on #60500
Hi @HTGIT87,

I'm not sure which installation you're referring to, but Azure Active Directory comes with your Azure tenant. To create a new Azure tenant you can follow this guide: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-access-create-new-tenant

Hope this helps! If you have further questions feel free to reach out on [Q&A ](https://docs.microsoft.com/e

[2020-08-07 23:04] #60500 closed

[2020-08-07 23:12] #60177 closed

[2020-08-07 23:20] hisssa commented on #45358
@v-hagamp  I took a screenshot. Take a look at this file. Thank you.
[Screenshot_issues_45358.xlsx](https://github.com/MicrosoftDocs/azure-docs/files/5044209/Screenshot_issues_45358.xlsx)

[2020-08-07 23:24] femsulu commented on #60506
thanks for the feedback @BrianLevenson  - added content author for further review

[2020-08-07 23:29] femsulu commented on #60502
@eugen-nw Thanks for the question. We are actively investigating and will get back to you soon.

[2020-08-07 23:45] chrisvugrinec commented on #50919
The reason for me wanting a static IP address for a Private Endpoint is because I like to provision an environment ...where I can say that private domain zone XXX.COM is pointing to private link Endpoint with IP Address xxx.xxx.xxx.xxx. I have seen references to FQDNs and Zones but was unable to use those with terraform: https://www.terraform.io/docs/providers/azurerm/r/private_endpoint.html...and

[2020-08-08 04:09] rgamage opened #60514 "CA-signed certificates not supported for Edge"
Shouldn't this page mention that Edge devices do NOT currently support the use of CA-signed certificates?  Only self-signed certs, or SAS key authentication is supported.  It's right there in the portal when you create a new Edge device, only those two options are offered.   Only regular devices currently support CA-signed certificates.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-08-08 04:12] BhargaviAnnadevara-MSFT commented on #60496
@jeffhebrank Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-08 04:16] BhargaviAnnadevara-MSFT commented on #60498
@AzureAzim Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-08 04:20] BhargaviAnnadevara-MSFT commented on #60501
@jcpayne Thanks for reaching out. We're investigating this and will get back to you shortly.

[2020-08-08 04:27] BhargaviAnnadevara-MSFT commented on #60504
@JMRMEDEV Thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-08 04:30] BhargaviAnnadevara-MSFT commented on #60507
@andrewdoesdata Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-08-08 04:32] BhargaviAnnadevara-MSFT commented on #60510
@hpsin Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-08-08 04:35] BhargaviAnnadevara-MSFT commented on #60514
@rgamage Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-08 04:40] vipulsparsh commented on #60469
@anomepani  Currently the Country does not have IPV6 data, if you must use IPv6 with country specific input in request, then you might need to wait as this is a known gap and things will improve in near future.

[2020-08-08 04:40] BhargaviAnnadevara-MSFT commented on #60424
@webwesen Hope this addresses your query. Please let us know in case of additional questions.

[2020-08-08 04:46] BhargaviAnnadevara-MSFT commented on #60438
@georgespatton @hiMinju The changes now reflect in the article. Thanks again for catching that error in the docs!
We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-08 04:46] #60438 closed

[2020-08-08 05:23] ryanmajidi opened #60515 "test issue"
testing the pr merger hashtag commands

[2020-08-08 05:25] ryanmajidi commented on #60515
#please-close

[2020-08-08 05:25] #60515 closed

[2020-08-08 05:42] euangms commented on #59775
#please-close

[2020-08-08 05:42] #59775 closed

[2020-08-08 06:40] fordesmith opened #60517 "Can't see the option for a custom container"
I cannot see the option to use a custom docker container.

![Screen Shot 2020-08-08 at 4 38 44 pm](https://user-images.githubusercontent.com/16872955/89704271-c4015e80-d995-11ea-9ae7-93ad2fe691c7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98eb0b83-1816-1010-23cd-fb85c4827063
* Version Independent ID: 59f33c51-

[2020-08-08 06:52] seonyounggg commented on #60508
I just made [PR](https://github.com/MicrosoftDocs/azure-docs/pull/60518) for this issue. please check it!

[2020-08-08 07:42] mattr1 commented on #60508
Looks right to me.

[2020-08-08 09:13] Sharmistha-Rai commented on #60490
Hi @ShajithThaze - the script mentioned in the documentation is just the portion to enable replication. There are steps mentioned before the main script, which help you define all the variables that you have mentioned about.

[2020-08-08 09:56] AlexSapple commented on #60405
Thanks @MonikaReddy-MSFT @hpsin

appreciate the quick feedback! - yes, it's just the sort of thing that can save an hour of dev time figuring out the library that ought to be used for v1 or v2 enpoints.

many thanks guys! all the best.

[2020-08-08 09:58] jmprieur commented on #60510
@BhargaviAnnadevara-MSFT : you might want to reference the sample: https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2

[2020-08-08 11:06] WinstonHoward-MSFT commented on #60508
@mattr1 Thank you for opening this issue, I will look into resolving this.

[2020-08-08 11:07] WinstonHoward-MSFT commented on #60499
@gorankuk I will look into this, thank you for the information.

[2020-08-08 11:30] atrauzzi commented on #58112
Heck yeah!

[2020-08-08 11:49] g0pinath commented on #36183
sorry, please ignore the above command, the issue was due to insufficient CPU quota limit hit in a non-prod subscription.

I used the guestbook sample app to test autoscaler, and when I set the horizontal pod scaler as below, the autoscaler figures out that the app belongs to the nodepool largepool and expands it from 1 to 3. At this point, I have 1 node for system, 1 node for small pool and 3 for

[2020-08-08 11:52] dbuskirk opened #60519 "Has Arduino library changed?"
When I tried to run the introductory example for the AZ3166 I received the following error message:

identifier "strdup" is undefined

The code, device, and Azure connection worked beautifully when the offending code section was removed, but I am not sure how to correctly reference strdup, or even if this function still exists in the device libraries.
---
#### Document Details

⚠ *Do not edit this

[2020-08-08 12:20] #60510 closed

[2020-08-08 12:25] azureuser33 opened #60520 "WVD Domain join fail"
I am trying to deploy a hostpool from wvd v2.
Distributing wvd with an account that is included in the aadds admin group in the upn name sometimes succeeds and sometimes fails. An error like domain join fail conflict will occur. Can I see why? Failures and successes repeat even with the same account (more failures).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-08-08 12:32] BhargaviAnnadevara-MSFT commented on #60510
@hpsin Thank you for the feedback! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-08 12:33] BhargaviAnnadevara-MSFT commented on #60520
@azureuser33 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-08 12:36] BhargaviAnnadevara-MSFT commented on #60519
@dbuskirk Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-08 12:39] azureuser33 commented on #60520
There is no separate link. I am following the organized documents.
https://docs.microsoft.com/ko-kr/azure/active-directory-domain-services/join-windows-vm
https://docs.microsoft.com/ko-kr/azure/virtual-desktop/create-host-pools-azure-marketplace

[2020-08-08 12:40] BhargaviAnnadevara-MSFT commented on #60517
@fordesmith Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-08 12:41] azureuser33 commented on #60520
![image](https://user-images.githubusercontent.com/69389496/89710629-c2e52700-d9bf-11ea-8acd-bd133f280b7d.png)

[2020-08-08 12:51] JohnStraumann66 opened #60521 "How to add a capability?"
Hello:

I created a custom Device Template, and I want to add a Capability to the Device Information, but the information is read only.  So for example, I want to add the ability to send an alert if the Device temperature hits a certain threshold. So I need the Device to have storage for the Device Temperature and Threshold Temperature, a method to read the temperate at selected intervals and/or o

[2020-08-08 14:05] bwren commented on #60477
@helderpinto I completely agree. I'm adding that now and also adding a link to https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs. Thanks!

#please-close

[2020-08-08 14:05] #60477 closed

[2020-08-08 14:07] jamesfm opened #60522 "Link is a 404"
This link at the start of the page is not correct and is a 404:
"More information can be found here: Authentication and the Azure SDK"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17824597-7e9b-4ca5-12f7-310b0ce4bdf4
* Version Independent ID: 49e1c9ee-fabf-df55-5bd9-1019abda22f1
* Content: [Service-to-service authent

[2020-08-08 14:16] RohitMungi-MSFT commented on #60153
@rvooren The package is now available in the nuget [gallery](https://www.nuget.org/packages/Microsoft.CognitiveServices.Speech.Remoteconversation/). Thanks for reporting this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-08-08 14:16] #60153 closed

[2020-08-08 14:18] RohitMungi-MSFT commented on #60193
@lex3001 We hope the above information helped you to update the webservice and model that is already created. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-08-08 14:18] #60193 closed

[2020-08-08 14:28] RohitMungi-MSFT commented on #60216
@hankhester Please let us know if you have further questions as the custom keywords can be used in both the scenarios as defined in this article.

[2020-08-08 14:29] RohitMungi-MSFT commented on #60270
@hs79hs We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-08-08 14:29] #60270 closed

[2020-08-08 15:08] RonnieQuan commented on #30381
From this link https://dotnet.microsoft.com/download/visual-studio-sdks
it says .NET Core 2.2 is end of life
Does powershell function app still depend on .Net Core 2.2 or not?
Can it use .Net core 3.1 instead?

[2020-08-08 16:01] BhargaviAnnadevara-MSFT commented on #60522
@jamesfm Thank you for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-08-08 16:03] BhargaviAnnadevara-MSFT commented on #60521
@JohnStraumann66 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-08 16:39] udaybhanupathania opened #60524 "AZ3166 device not listed under "Arduino Board Manager" Command Palette"
Hello, I think this is in reference to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started step 6.
The Az3166 used to be in this list but it disappeared.

![IotKit](https://user-images.githubusercontent.com/25381057/89715535-d1cdd880-d9c3-11ea-963d-e8d218ca0df9.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-08-08 17:05] Jasonvgrace opened #60525 "I don't own a phone"
Am I just locked out of all my accounts forever because I don't own a phone and thus cannot 2 factor authenticate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Common problems with account two factor authen

[2020-08-08 17:25] #60522 closed

[2020-08-08 17:52] crevulus opened #60526 "Edit options for Initial Silence Timeout (like SDK)?"
According to this thread, for the speech recog SDK it's possible to allow for greater initial silence: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/502

Is it possible to do the same on the rest api? Can we set it to conversation mode, extedn the allowed initial silence, or disable that functionality altogether?

Thanks

[Enter feedback here]

---
#### Document Details

⚠

[2020-08-08 18:04] hankhester commented on #60216
Ah that's great to hear! This is the code I'm running and the exception I'm getting (I'm developing on a mac) - let me know if I can provide any more details or if you want me to create a separate issue for this:

Program.cs:
[code]
Output:
[code]

[2020-08-08 18:06] hankhester commented on #60216
Apologies, closing this as it should be an issue in the speech sdk repo

[2020-08-08 18:06] #60216 closed

[2020-08-08 18:26] BhargaviAnnadevara-MSFT commented on #60522
@jamesfm Thank you for the feedback. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-08 18:39] willieken559099 opened #60527 "How to configure 10g port in the bcm file for Celestica DX-010 32x100g"
I wanna to configure some Celestica switch ports to use 10G SFP but I wanna do that in the BCM file . The switch is 32X100G.

[2020-08-08 19:20] ryanfincham commented on #60331
@hansenms issue resovled. In the new version of Postman, there is a Header Prefix line that is not in the tutorial. This line must say "Bearer " WITH a space at the end. No space = 401.
![Annotation 2020-08-08 121630](https://user-images.githubusercontent.com/69254229/89718135-838fe980-d971-11ea-8147-ce60a86999b9.jpg)

[2020-08-08 20:15] j0ej0e21 commented on #60494
I swapped out Mount-VHD for Mount-DiskImage with no luck - Same error, so it is not directly related to the CMDlet

[2020-08-08 20:18] Parviz39 opened #60529 "Wrong Diagram"
Hi

In the diagram for Recovery without ADR, the REDO process should process the Log after the last checkpoint.
Because everything before that is already Saved in the Data files and no need for REDO.

Please let me know if I am right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825ecf0-9d63-29be-8e8a-aab285a53c7a
*

[2020-08-08 20:27] cqueern opened #60530 "unnecessary comma"
This string:

...should probably read:

Thanks for all your hard work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40ed7c08-ec4d-0ebc-78e5-4115088f4968
* Version Independent ID: 201d0876-6a55-595b-4141-055bdb3282b7
* Content: [Create an access review of groups & applications - Azure AD](https://docs.microsoft.com/en

[2020-08-08 20:36] spallister opened #60531 "Azure Service Bus - Request for Clarification around FIFO behaviour of Queues vs. Sessions"
Hi There,

I am looking for some additional clarification around the FIFO behaviour of standard Queues, vs. Queues with *sessions enabled* (as described here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions).

I'd like to confirm whether it's possible to realize FIFO processing using standard Queues, if you have exactly one consumer, processing messages serially (i.e.

[2020-08-08 22:14] johnsmunoz commented on #15138
Having a similar issue with OpenVPN and Azure MFA over NPS.  After 24 hours exactly the sessions disconnect and users are forced re authenticate their MFA.  Which isn't a bad behavior, but I'd like to get a better understanding of what's causing this and where.  Also where that value can be adjusted to something that aligns better to our security policy.
Using OpenVPN AS 2.8.5 and client 3.1.3(713

[2020-08-08 23:00] SatishBoddu-MSFT commented on #60382
Hello @nikunj-phutela Thanks for reaching out to us!

**Please verify that the IoTHub is connected to the right Function App name.**

We have posted the response on **Microsoft Q&A**.

**Thread on Q&A:** https://docs.microsoft.com/en-us/answers/questions/60903/iot-hub-thermostat-shows-values-0-when-run-in-the.html

Since we have the Technical discussion opened on Microsoft Q&A and no issues found

[2020-08-08 23:00] #60382 closed

[2020-08-08 23:13] yaleman opened #60532 "AD DS LDAPS docs"
Please include a note that mentions that any user in the directory can bind and query the entire directory. Currently it notes that Admins are required to make queries but misses that anyone can.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84

[2020-08-08 23:25] GiftA-MSFT commented on #60524
@udaybhanupathania thanks for reaching out. Can you please describe the issue and provide link to the document?

[2020-08-08 23:27] GiftA-MSFT commented on #60525
@Jasonvgrace we'll review your feedback and get back to you shortly. Thanks.

[2020-08-08 23:30] GiftA-MSFT commented on #60526
@crevulus we'll review your feedback and get back to you shortly. Thanks.

[2020-08-08 23:32] GiftA-MSFT commented on #60527
@willieken559099 thanks for reaching out. Can you please provide link to the document you are referencing so we can tag the appropriate team?

[2020-08-08 23:34] willieken559099 commented on #60527
It's configuration but for some reason I can't find it anymore .

[2020-08-09 00:31] sogetidev1 opened #60533 "Not able to change SSPR email id when using username(not emailid) to sign in in the contect of Azure B2C"
Not able to change SSPR email id when using username(not emailid) to sign in in the context of Azure B2C

Using Azure B2C
Using username (not email id) to sign in
Email is provided for SSPR
Issue - do not see any instruction around how to change SSPR email id in this case.

[2020-08-09 01:17] jeremyfiel opened #60534 "Incorrect for loop declaration in "Send Messages to a Topic""
The **for** loop does not declare the variable 'i' in the code sample for "Send messages to a topic".

for (i = 0; i <5; i++)...

should be:
for (var i = 0 ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87507e10-00e2-250a-2074-bb26bbea5a03
* Version Independent ID: f21aee07-f75d-093e-cdae-cd97c52d34cf
* Content: [

[2020-08-09 02:59] vipulsparsh commented on #60464
@pvmraghunandan We will share the feedback with the content team about this although they have tried to keep it separate within same article. Most users may want both at the option same place.

[2020-08-09 03:01] #60368 closed

[2020-08-09 03:12] Snuff-Daddy commented on #39665
For me the error code was IL2U4.  I fixed it by going into IIS, MIME Types, and changing the type for .JSON to "application/json".  It's pretty ridiculous how bad Microsoft error messages are.  And in any case, why does the MIME type even matter?  The programmers at Microsoft are just really incompetent, I've seen it in a thousand different ways over the decades.

[2020-08-09 03:52] BhargaviAnnadevara-MSFT commented on #60530
@cqueern Thank you for catching that error in the docs! We shall evaluate and update the document as appropriate.

[2020-08-09 03:59] BhargaviAnnadevara-MSFT commented on #60534
@jeremyfiel Thank you for catching that error in the docs! We shall evaluate and update the document as appropriate.

[2020-08-09 04:01] BhargaviAnnadevara-MSFT commented on #60529
@Parviz39 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-09 04:03] BhargaviAnnadevara-MSFT commented on #60533
@sogetidev1 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-09 04:06] BhargaviAnnadevara-MSFT commented on #60532
@yaleman Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-09 04:07] BhargaviAnnadevara-MSFT commented on #60531
@spallister Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-09 05:01] keatseongchan opened #60535 "helm chart for kured is outdated"
[Enter feedback here]
I tried the instruction a month ago and it was still working.  However, today I tried it and it does not start pod.  I use the latest version but it defaults to kube-system name space. It would be helpful for AKS to integrate this to the product .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead

[2020-08-09 05:05] KrishnaG-MSFT commented on #60478
This is addressed in #60477

#please-close

[2020-08-09 05:05] #60478 closed

[2020-08-09 06:19] jeremyfiel opened #60537 "messages are not posted to Topic using Node SDK"
I pasted the code for Send Messages to a Topic exactly as given in the docs and entered my connectionString and topicName.

none of the messages succeeded. I did not receive any errors on the node script and I can see there are Requests made at the Service Bus but no messages are posted to the topics.

help!!

[code]
![image](https://user-images.githubusercontent.com/32110157/89726224-19fdf280-d9e

[2020-08-09 06:30] AshokPeddakotla-MSFT commented on #58275
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-09 06:30] #58275 closed

[2020-08-09 06:57] dcurwin commented on #60483
#reassign:SujayJDesai

[2020-08-09 06:59] dcurwin commented on #60239
#reassign:GeethalakshmiG

[2020-08-09 07:00] dcurwin commented on #60239
@GeethalakshmiG - please let me know how to incorporate this into the documentation.