[2019-07-19 17:24] daspo opened #35499 "Pre-requisite missing"
Please add this URL as requirement https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support matrix for disaster recov

[2019-07-19 17:25] #35481 closed

[2019-07-19 17:27] YutongTie-MSFT commented on #35487
@thecpshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 17:27] qianw211 commented on #30968
#please-close, seems this is already resolved!

[2019-07-19 17:29] zadixon opened #35500 "Incorrect command palette keyboard shortcut"
The documentation says to use  use Ctrl+Alt+P to open the command palette, but the default keyboard shortcut is actually Ctrl+Shift+P.

![image](https://user-images.githubusercontent.com/43152532/61553751-03b67a80-aa10-11e9-9e25-109edbcb66e0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf8b1c7-7e47-f9fd-67f7-64

[2019-07-19 17:34] vladvino commented on #21852
Request-Id header is used for request correlation by Application Insights. You can disable this behavior by setting enableCorrelationHeaders flag to false using this endpoint https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/diagnostic/update#request-body. Alternatively you can pick a different header for passing AFD tracking reference.

[2019-07-19 17:37] FrankHu-MSFT opened #35501 "product-feedback"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-19 17:39] jjindrich opened #35502 "Azure Migrate for OpenStack"
Hi, can you add information how to make assesment on AzureStack farm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d18912e1-fcca-5ea6-869c-10548a5bde04
* Version Independent ID: f06260f5-3204-57a7-0ceb-ddb12cabd81d
* Content: [About Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/migrate-services-overvi

[2019-07-19 17:40] jomit commented on #35319
Here's a workaround that worked for me:

[code]

[2019-07-19 17:48] VioYuan commented on #35447
Is cert issued by MSIT TLS treated as "valid" for this?

[2019-07-19 17:55] mpalumbo7 commented on #28687
I ended up hear troubleshooting an App Gateway v2 end-to-end SSL issue. The portal now supports uploading a trusted root certificate.

However, I have not been able to get end-to-end SSL to work with the Portal, PowerShell, or ARM templates.

[2019-07-19 17:55] AjayKumar-MSFT commented on #33161
@ddkserv, Kindly let us know if puneetg1983's insightful response was helpful or you need further assistance on this topic. Since we have not heard back from you on this yet, we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2019-07-19 17:55] #33161 closed

[2019-07-19 17:58] AjayKumar-MSFT commented on #35463
@jaymebowers, Thanks for bringing this to our attention. We have made the appropriate changes in the document and it should be public soon.

[2019-07-19 18:05] maxluk commented on #35487
Try "!source activate py36 && pip install seaborn". The default Jupyter environment is not 3.6, so you need to switch it. We are working on smoothing this out, but for now you need to do source activate.

[2019-07-19 18:05] iluican commented on #33950
Seems like a step was missed. The iot extension is needed for this command set to work:

"Run the following command to add the Microsoft Azure IoT Extension for Azure CLI to your Cloud Shell instance. The IOT Extension adds IoT Hub, IoT Edge, and IoT Device Provisioning Service (DPS) specific commands to Azure CLI.

az extension add --name azure-cli-iot-ext
"

[2019-07-19 18:08] NavtejSaini-MSFT commented on #35178
@joanfs We are going to close this request right now. Hope the above information has helped. Please get back to us if you need any further help.

[2019-07-19 18:08] #35178 closed

[2019-07-19 18:19] vinothinidharmaraj commented on #35433
@jakaruna-MSFT , thanks for your help on this.

I have already tried the option 2, it didnt allow me to add new property, still you can double check im not sure im doing in the correct way or not!.

for the Option 1: you are suggesting to do the RestAPI call to update the property? dont we have any option to do it using power shell without calling the RestAPI?

For the Option 3: i cant go with thi

[2019-07-19 18:32] mhopkins-msft commented on #35442
The section title is correct. This step creates the CloudQueue object:

Update Main to create a CloudQueue object, which is later passed into the send and receive methods.

     static async Task Main(string[] args)
     {
         CloudStorageAccount storageAccount = CloudStorageAccount.Parse(connectionString);
         CloudQueueClient queueClient = storageAccount.CreateCloudQueueClient();

[2019-07-19 18:32] #35442 closed

[2019-07-19 18:36] djpmsft commented on #29555
I am updating the Event Trigger Documentation today

[2019-07-19 18:37] ChristianMontoya commented on #35426
@bane-Sidhe : Are you asking if there's a way to check which users are assigned? If so, yes. If you have the tenant name, host pool name, and app group name, you would then run
`Get-RdsAppGroupUser -TenantName <tenantname> -HostPoolName <hostpoolname> -AppGroupName <appgroupname>`

[2019-07-19 18:50] tedonmain opened #35507 "Network Discovery"
No mention which choice to make when presented, on first login to vm, with the choice to allow /disallow this new vm to be discoverable by other PCs and devices on this network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179

[2019-07-19 18:55] LoisMonet commented on #33628
https://github.com/MicrosoftDocs/azure-docs/issues/33628#issuecomment-513281549

Toi can’t use anchor in editor or remote you need to build on your arcore device

[2019-07-19 19:00] cschillinger opened #35508 "Missing step in section "Connect and discover interfaces""
After logging in (step 1) it would be helpful to have the step "Click on Connect + test on the product page" then current #2 step makes sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3d1d7a-39b1-400d-d019-3061405c0ad3
* Version Independent ID: 5ad5a207-b6b9-168a-ecac-35f8b0a70589
* Content: [Certify your IoT P

[2019-07-19 19:04] RamonArguelles commented on #33628
Correct. Pressing "play" within Unity's editor isn't supported yet if you are using Azure Spatial Anchors in your code.

[2019-07-19 19:05] ecfan commented on #31375
Hi @lommez, can you confirm whether is this issue resolved for now? Thanks!

[2019-07-19 19:07] pulsarviki opened #35509 "Some READ operations are logged"
READ operations are not logged as per the documentation but I can see the "GetSSOToken" and "ListKeys" on my activity log, why is that? I couldn't find any documentation to know what is logged and what is not logged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada336b-a759-5a30-919c-9473ce0840e3
* Version Independe

[2019-07-19 19:10] bane-Sidhe commented on #35426
No, I'm sorry that was not very clear, and I apologize. After initial hostpool creation, what i've seen essentially only allows the adding of users to that pool on an individual basis, is there a way to pull from an AzAD group, csv etc. to add multiple users quickly?

[2019-07-19 19:11] jimt4593 opened #35510 "There is no User access URL field on the Azure Active Directory > Enterprise applications/Application > Properties page."
The screenshot, under Direct Sign-on Links, shows a User access URL field.  This field is missing when I go to this in the Azure Portal.   Is there another way to get this User access URL value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2507e59-a43d-b5ce-b046-7ebb3dc39b00
* Version Independent ID: 0e723cfb-4d9f-3

[2019-07-19 19:12] ecfan commented on #35331
Hi @larrywa, thanks for letting us know about this outdated content. We've created a work item to address and update this content.

[2019-07-19 19:13] rramoscabral opened #35511 "Missing code"
I think is missing the following code

async static Task<Response> PostCreateKB(string kb)
        {
            string uri = host + service + method;
            Console.WriteLine("Calling " + uri + ".");
            return await Post(uri, kb);
        }

[2019-07-19 19:29] BhargaviAnnadevara-MSFT commented on #35341
@hintbw Thanks for the feedback! This detail would certainly be helpful to find in the documentation. I've assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-19 19:36] #35492 closed

[2019-07-19 19:40] ntap512 commented on #33641
ANF limits have been updated to reflect this:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-resource-limits

[2019-07-19 19:52] libbro2006 commented on #33184
@BryanAdvisicon, can you confirm you're not just getting a 2nd factor push notification? The text is a little different on the login screens. A screenshot of that would help.

[2019-07-19 19:54] MicrosoftGuyJFlo commented on #34479
Passed feedback to the product manager who owns the feature.

[2019-07-19 19:54] MicrosoftGuyJFlo commented on #34479
#please-close

[2019-07-19 19:54] #34479 closed

[2019-07-19 19:56] jpenchina opened #35512 "missing a step"
In order to get this to work I had to log into the Azure Active Directory portal, go to Enterprise Apps, and activate the following:
Azure Multi Factor Client Auth
Azure Multi Factor Connector

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-890

[2019-07-19 20:03] prajster opened #35513 "does creating an Auth key with the existing ER circuit, disrupt the exisiting connections which are within the same subscription"
Doc : https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-linkvnet-portal-resource-manager

An Existing Express route Circuit already has a connection with a VNet in the same subscription ( with out auth key) named : SameSubVNet

Now if we try to create a auth key for a new VNet in a different subscription, does it interfere with the existing VNet connection (i.e. the existing c

[2019-07-19 20:06] sylvaingirardbe commented on #35438
Ok, I must have had copy/pasted the base64 key incorrectly, it seems. Even replacing it with something non base64, I cannot reproduce it again. Pretty weird.

[2019-07-19 20:06] #35438 closed

[2019-07-19 20:06] prajster commented on #35358
Doc: https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-powershell

[2019-07-19 20:10] MicrosoftGuyJFlo commented on #34460
There are many ways to do this and it really depends on what you decide to do for your organization. Some methods require licenses some don't. This item is really about having a conversation and deciding what you want to do.

[2019-07-19 20:11] MicrosoftGuyJFlo commented on #34460
#please-close

[2019-07-19 20:11] #34460 closed

[2019-07-19 20:12] msangapu-msft commented on #35090
Hi @TheChadR. I engaged the team responsible for this change. It is going to be a global change so it will take some time. For now, as @AjayKumar-MSFT mentioned, customers have to rely on "bash" code snippet to determine which language to use. Thank you for the great feedback!

[2019-07-19 20:13] jstallm opened #35515 "/ZipDeployUI is not valid path. Update docs to reflect latest recommendation"
/ZipDeployUI is not valid path. Update docs to reflect latest recommendation.

On this page
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs

is says
"In the browser, navigate to https://<app_name>.scm.azurewebsites.net/ZipDeployUI"

This does not work for me. (getting 404)

Please update the documentation so that NodeJS developers have an incentive to use azur

[2019-07-19 20:27] ChristianMontoya commented on #35426
@bane-Sidhe : No worries! Correct, the "Add-RdsAppGroupUser" can only add 1 UPN at a time. You can loop through it, and you shouldn't need a .csv file. At the moment, the easiest way to do this is:
`$azureADGroup = Get-AzureAdGroup -SearchString <azureadgroupname>
Get-AzureADGroupMember -All $true -ObjectId $azureADGroup.ObjectId | foreach { Add-RdsAppGroupUser -TenantName $tenant -HostPoolName "t

[2019-07-19 20:36] ninarn commented on #34827
I will be able to follow up early next week with an update.

[2019-07-19 20:38] uberman commented on #16325
I also have this problem, where I have an API backend resource, and a BLOB storage resource.  Also, it is a Angular+nodejs frontend SPA app.  Please let us know how we can setup multiple resources for a single app. Thanks

[2019-07-19 20:38] ekzp commented on #34242
Outdated. The instructions don't reflect the actual Azure interface.
Please don't ask silly questions, just try to do one yourself and it becomes obvious in no time.

[2019-07-19 20:39] ormico opened #35516 "include instructions on how to complete steps w/o brew"
brew is not available on windows or linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c97b852-aa4c-e6da-64ca-8401f52d34c6
* Version Independent ID: 7fda3788-e051-c7ab-9112-185ada138811
* Content: [Use OpenFaaS with Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/openfaas)
* Content Source

[2019-07-19 21:05] MartinJaffer-MSFT commented on #35383
Hello @hung-doan  and thank you for your inquiry.  I do not have any 'best practices' at this time, but I can help you come up with some temporary solutions.
You can extract an ARM template from the production factory, use it to spin up a new factory where you make your hotfix and test, then extract the hotfixed ARM template and migrate back to production.  You can copy the changes back by doing a

[2019-07-19 21:09] kobulloc-MSFT commented on #31141
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-19 21:09] #31141 closed

[2019-07-19 21:13] Roblarson opened #35518 "Circular link"
There is a link on the page about how to integrate CEF logs, but the link just goes back to the same page
https://docs.microsoft.com/en-us/azure/security-center/quick-security-solutions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-4097-

[2019-07-19 21:17] femsulu commented on #35502
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-19 21:19] femsulu commented on #35499
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-19 21:28] marrichamsft opened #35519 "put full relative path for all steps"
it would be much clearer if all file edits and commands showed the full path at each

[2019-07-19 21:38] MartinJaffer-MSFT commented on #35453
Hello @hung-doan and thank you for your inquiry.  I can tell you right now, one difference between the ARM template stored in Git and the one generated by the "Export ARM Template" button.
I exported the ARM template of my existing Git-enabled Factory via the button.  Then I created a new pipeline and saved, but did _not publish_.  Exporting ARM template via the button again included the new pipel

[2019-07-19 21:45] sdgilley commented on #35487
Thanks @thecpshah for asking about this. I just added this info to the article, in the Next steps section.
#please-close

[2019-07-19 21:45] #35487 closed

[2019-07-19 22:17] jonwbstr commented on #35419
The mobile device login events that didn't get caught were from Windows 8 and Windows 8.1 phones with the built in Outlook app. Windows 10 phones work as intended. I suspect the same is true of older Outlook 2007, Outlook 2010 PC clients.

This article, discusses sending logs to azure monitor (more issues over there)
https://docs.microsoft.com/en-us/intune/review-logs-using-azure-monitor

but I th

[2019-07-19 22:19] TravisCragg-MSFT commented on #35507
@tedonmain this choice has no bearing in regards to this lab, Network discovery is a network setting that affects whether your computer can see (find) other computers and devices on the network and whether other computers on the network can see your computer.

[2019-07-19 22:23] jackhorton commented on #32947
Looks like this was addressed in [Az.EventGrid 1.2.0](https://www.powershellgallery.com/packages/Az.EventGrid/1.2.0). Thanks!

[2019-07-19 22:23] #32947 closed

[2019-07-19 22:28] tedonmain commented on #35507
No bearing, huh?

[2019-07-19 22:28] #35507 closed

[2019-07-19 22:36] zhenyufu opened #35521 "English spell checks get corrected to Japanese under en-US"
Bug can be seen at: https://azure.microsoft.com/en-us/services/cognitive-services/spell-check/
or with hitting the api:

With "spell mode" and "en-US":
"Hawai" gets corrected to "ハワイ"
"azumino" (which is correct) gets corrected to "安曇野"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e03b67-8c6c-2749-7778-99f7dca069c6

[2019-07-19 22:37] taroarai opened #35522 "maximumRetry is required parameter if you want to use retryInterval"
As of 07/19/2019, if you want dataset to have retry in Azure Data Factory V1, you need to specify "retryInterval" and "maximumRetry" for a External Dataset.

The default value might be misleading, but it might be recommended value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3a75e4d-8923-b105-12aa-55fb54147734
* Ve

[2019-07-19 22:38] egkareem commented on #35416
OK, thanks.

[2019-07-19 22:38] #35416 closed

[2019-07-19 22:44] rolyon commented on #27254
We've also updated this article with examples of creating a role assignment at resource scope and subscription scope.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template
thanks

[2019-07-19 22:45] #35323 closed

[2019-07-19 22:52] Karishma-Tiwari-MSFT commented on #35489
Thanks for the feedback. We are currently investigating and update you shortly.

[2019-07-19 22:54] Karishma-Tiwari-MSFT commented on #35489
Thanks for the feedback. We are currently investigating and update you shortly.

[2019-07-19 22:56] Karishma-Tiwari-MSFT commented on #35501
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-19 22:56] #35501 closed

[2019-07-19 22:58] FrankHu-MSFT commented on #35484
Hello @iilyin after you've granted consent then you can get an access token using an auth code flow. The one you've linked is not one that can be used as that flow is meant for middlemen servers to be able to get new access tokens on behalf of a user to be able to access a different api.

Please take a look at the auth code flow or the other flows depending on which set of permissions you've grant

[2019-07-19 22:58] Karishma-Tiwari-MSFT commented on #35491
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-19 22:59] Karishma-Tiwari-MSFT commented on #35495
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 23:00] #35232 closed

[2019-07-19 23:00] #35414 closed

[2019-07-19 23:01] Karishma-Tiwari-MSFT commented on #35508
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 23:01] Karishma-Tiwari-MSFT commented on #35500
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 23:02] Karishma-Tiwari-MSFT commented on #35509
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-19 23:03] Karishma-Tiwari-MSFT commented on #35510
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-19 23:03] Karishma-Tiwari-MSFT commented on #35511
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-19 23:05] Karishma-Tiwari-MSFT commented on #35512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 23:06] Karishma-Tiwari-MSFT commented on #35513
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-19 23:06] mmacy commented on #29782
Hi @AvgustPol, thanks for your patience during the delay in responding to your issue. I'll go ahead and request closure for this issue now that it's been addressed, but please don't hesitate to contact us again if you feel your questions haven't been answered to your satisfaction.

#please-close

[2019-07-19 23:06] #29782 closed

[2019-07-19 23:06] FrankHu-MSFT commented on #35484
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day Monday.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-19 23:08] NicolasDWolfwood commented on #25880
Has there been progress on this issue?  I can't find any cloud update on Android at the moment and I'd like to switch phones soon.

Kind regards,
John

[2019-07-19 23:09] FrankHu-MSFT commented on #35496
Hey @RobC-CTL thanks for letting us know about this. We're currently looking into this and will be sure to add a note to the docs accordingly.

Thanks! If there's no more issues within the scope of this git issue, I will go ahead and close this out end of day monday.

[2019-07-19 23:16] veyalla commented on #35437
@lelopez-io I've confirmed we don't yet support downstream module auth with X.509.

Is this a blocker for you? Is yes, please open an issue in https://github.com/azure/iotedge/issues and/or submit feedback at https://feedback.azure.com/forums/907045-azure-iot-edge/ with a bit more details on the scenario.

[2019-07-19 23:24] shashwatchandra opened #35523 "Documentation Fix"
Can you please fix the Note in the documentation here -&gt; https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs#step-3-add-log-collection-paths
about restarting agent when a new log file is created? I recently came to know from support that this is not the case any more and documentation is out-of-date.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-19 23:41] femsulu commented on #35498
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-19 23:42] femsulu commented on #35523
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-19 23:54] KranthiPakala-MSFT commented on #35192
@whitmla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-07-19 23:54] #35192 closed

[2019-07-20 00:04] kgremban commented on #35410
Thanks @PatricioVidal. I'm working on incorporating this feedback and will let you know when there are changes to the article available for you to review.

[2019-07-20 00:07] snarkywolverine opened #35526 ".NET SDK v3 and Included/Excluded paths"
I see the note about the 'SDK upgrade' and the new index layout, which all sounds cool.  If I am using the .NET SDK v3, though, and need to set an indexing policy... how is it done? As near as I can tell, Included/Excluded paths are read-only properties on the IndexingPolicy class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-07-20 00:16] artisticcheese opened #35527 "Please update list of supported functions"
For example `parse_json` function is supported but not listed in this article as supported. I would assume a bunch of others are missing as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b7fed4-6794-fbad-831e-402ae74df56e
* Version Independent ID: ddb188c3-adc5-79c0-a1a6-59a1878bdcfe
* Content: [Understand the q

[2019-07-20 00:26] Karishma-Tiwari-MSFT commented on #35515
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 00:28] Karishma-Tiwari-MSFT commented on #35516
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 00:29] Karishma-Tiwari-MSFT commented on #35518
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 00:29] Karishma-Tiwari-MSFT commented on #35519
Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-20 00:31] Karishma-Tiwari-MSFT commented on #35521
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 00:32] Karishma-Tiwari-MSFT commented on #35522
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 00:33] Karishma-Tiwari-MSFT commented on #35526
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-20 00:34] Karishma-Tiwari-MSFT commented on #35527
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @SadiqhAhmed-MSFT

[2019-07-20 00:49] chetansriv commented on #35175
@eucnutter do you have screenshots that we can use to provide instructions about this self serve feature? Could you please provide?

[2019-07-20 00:49] ThomasWeiss commented on #35526
@snarkywolverine `IncludedPaths` and `ExcludedPaths` both implement `ICollection<T>`, so you would add/remove paths to these collections by using the corresponding `Add`/`Remove` methods. Let me know if this answers your question, thanks!

[2019-07-20 00:52] Alberto-Vega-MSFT commented on #35261
@josephmwells just touching base to see if you can please elaborate more on your feedback? Thank you :)

[2019-07-20 01:02] chetansriv commented on #18793
@gwassenaar We have updated the article after discussion with Qlik team, please review
#please-close

[2019-07-20 01:02] #18793 closed

[2019-07-20 01:07] chetansriv commented on #34838
@agni314 We have made changes as per your suggestion, please review.
#please-close

[2019-07-20 01:07] #34838 closed

[2019-07-20 01:23] mikebudzynski commented on #35476
You need to explicitly set logging of the x-forwarded-for header in the header section here: https://docs.microsoft.com/en-us/azure/api-management/media/api-management-howto-app-insights/apim-app-insights-api-1.png

If you're having troubles seeing data in Application Insights, please open a support request.

#please-close

[2019-07-20 01:23] #35476 closed

[2019-07-20 01:28] mikebudzynski commented on #35235
@VladimirAkopyan

To be able to select cert authentication to the backend services, you need to click on the pencil icon in the backend section - as shown in the documentation. Not on the API settings, which you have attached to the Issue.

If you're still having troubles, please open a support ticket.

#please-close

[2019-07-20 01:28] #35235 closed

[2019-07-20 01:54] gomiero opened #35528 "Column "Meters/tile side" has incorrect values"
URL:
https://docs.microsoft.com/en-us/azure/azure-maps/zoom-levels-and-tile-grid

Some values for "Meters/tile side" column at "Zoom levels" table are incorrect and can lead to a wrong tile when used to calculate tile position (probably, up to zoom level 17).

This error showed up when I was calculating the tile for position:

    Latitude: 23° 35' 39'' S, Longitude: 46° 40' 51'' W

    In meters

[2019-07-20 02:11] rootbrickt commented on #27935
It would be helpful to know what other MDM's are supported as well. I'm curious specifically about Airwatch

[2019-07-20 02:46] pulsarviki commented on #35509
[Here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-logs-overview) it says "The Activity Log does not include read (GET) operations or operations for resources that use the Classic/RDFE model."

[2019-07-20 03:28] SubhashVasarapu-MSFT commented on #35179
@peddabavisriram, Recently there has been a new feature released for front door service which can perform URL rewrite to file instead of the path. This will allow a URL rewrite to rewrite a path to a file. You can refer to the feedback forum [here](https://feedback.azure.com/forums/217313-networking/suggestions/36442486-allow-front-door-service-url-rewrite-to-file-inste).
We are closing this issue

[2019-07-20 03:28] #35179 closed

[2019-07-20 03:43] basilwong commented on #35425
For sure, we are using Data Factory to read and write to a DB2 server. The Self-Hosted integration runtime is for both the DB2 connector and the ODBC connector. Currently the DB2 server is hosted on a Windows VM so we are able to also have it host the 'Self-Hosted Integration Runtime'.

We are moving the DB2 server to a Linux VM. I was hoping to replicate the setup as closely as possible so that's

[2019-07-20 05:03] rollercoasterdigital commented on #34662
Hi, @SubhashVasarapu-MSFT. On retrying this process with the same certificate, password, and other variables, I was able to save the updated certificate successfully. Perhaps it was a temporary outage or fault? Thank you for confirming the process was correct.

[2019-07-20 08:42] manishjoisar commented on #35476
Thanks for your feedback.  If you look at my comments, i have enable frontend which comes under settings tab of API -> Diagnostics Logs. so that means i have enabled Logging explicitly. But i don't see it anywhere in App Insights request data. So not sure where to see this

[2019-07-20 08:54] marcibur commented on #26874
It would be great to be able to reference Key Vault in local development. I think it can be quite confusing for new developers if various environments have features that play by different rules. It would also eliminate this annoying repetitive task of changing connection strings between environments - I'm craving "it works on my machine" experience 😃

[2019-07-20 10:01] trelak opened #35530 "port other than 80"
What if the app in the container listens on another port, say 8080?
For example spring apps listen by default on 8080. Is there a way to map internal 8080 to public 80?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27b22e3-437d-04f2-a542-b20facee238b
* Version Independent ID: e4b43d9c-3dc8-3ed0-9b3e-2972e8788bea
* Co

[2019-07-20 10:45] shashishailaj commented on #35528
@gomiero Thank you for your feedback . We will engage the content author to have this reviewed with engineering and update as necessary.

[2019-07-20 10:46] shashishailaj commented on #35528
@jinzh-azureiot Could you please take a look at this issue and help review the content on the document ?

[2019-07-20 10:48] shashishailaj commented on #35530
@trelak Thank you for your feedback .We will investigate and update the thread further.

[2019-07-20 12:41] PingPongSet opened #35531 "Helm install failed with projects that has project dependency"
I, based on the sample below, created both webfrontend and mywebapi,
https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio

and based on the charts folder below from this example, I created similar charts folder for the example above.
https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-team-development
https://github.com/Azure/dev-spaces/tree/master/samples/Bi

[2019-07-20 13:31] ewillman opened #35532 "obfuscation settings are missing"
the settings described in the section https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#hide-inputs-and-outputs-in-run-history-by-using-obfuscation on this page, do not actually appear in the UI in the Logic App Designer -- what is the syntax for doing this manually in the json code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-20 13:36] msrini-MSFT commented on #35173
@810123 , Closing this issue, please tag me if you have any further questions.

[2019-07-20 13:36] #35173 closed

[2019-07-20 13:49] sbonds commented on #12741
Opened feedback item:

https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38191030-allow-cancelling-a-running-command-started-via-ru

[2019-07-20 14:21] Shri-Humrudha opened #35533 "Error allocating memory for the serial"
The below code, marks "Error reading characters of a string"
char *serial = (char*)(malloc(serial_size));
Error thrown in printf: Write access violation
Pleas guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe520623-138f-43bd-e566-5d31a72be92f
* Version Independent ID: 1d7ad5f3-8760-589a-c469-0978f3637ce4
* Conte

[2019-07-20 14:26] Shri-Humrudha commented on #35533
; missing in start cameras method call.

// Start the camera with the given configuration
k4a_device_start_cameras(device, &config)

[2019-07-20 14:28] nhwilly commented on #26874
Gave up and wrote a little class that figures out if I'm getting the `@Microsoft...` business instead of a value. I strip it down to the URL and have the KeyVault sdk go get it.

Decency injection to get at my class.

Not really that hard, took me less time to write it than figure out why the environment variable wasn't working locally.

And I'm definitely not that smart.

[2019-07-20 14:29] Shri-Humrudha opened #35534 "; missing in start cameras method call."
// Start the camera with the given configuration
k4a_device_start_cameras(device, &config)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe520623-138f-43bd-e566-5d31a72be92f
* Version Independent ID: 1d7ad5f3-8760-589a-c469-0978f3637ce4
* Content: [Quickstart- Build your first Azure Kinect application](https://docs.mi

[2019-07-20 15:28] shashishailaj commented on #35532
@ewillman Thank you for your query. We will investigate and update the thread further.

[2019-07-20 15:33] shashishailaj commented on #35531
@PingPongSet Thank you for your feedback . We will investigate and update further.

[2019-07-20 15:57] ewillman commented on #35532
Your documentation shows that those settings are in preview mode.  Is it
possible that it is not available to all clients/tenants yet?

On Sat, Jul 20, 2019, 11:28 AM ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2019-07-20 16:01] Shri-Humrudha opened #35535 "Runtime out of memory error"
C:\repos\onnxruntime\onnxruntime\core\providers\cuda\cuda_call.cc:97 onnxruntime:cudacall c:\repose\onnxruntime\onnxruntime\core\providers\cuda\cuda_call.cc:91 onnxruntime::cudacall CUDS failure 2: out of memory ; GPU=9; hostname=&lt;machinename&gt; ; expr=cudamalloc((void**)&p, size);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-07-20 16:09] cmcapellan commented on #30456
Hi @MicrosoftGuyJFlo any clarification on Server Core support?

[2019-07-20 16:53] fabich commented on #33098
@Grace-MacJones-MSFT @cephalin any updates on this?

[2019-07-20 16:56] fabich opened #35536 "Still not yet included in the default images in App Service?"
`.NET Core 2.2 does support the scenario, but is not yet included in the default images in App Service.`

Is this still not on the default App Service images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Se

[2019-07-20 17:17] Karishma-Tiwari-MSFT commented on #35533
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-20 17:21] Karishma-Tiwari-MSFT commented on #35534
Thanks for the feedback. I have created a PR and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/82852

[2019-07-20 17:21] Karishma-Tiwari-MSFT commented on #35535
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-20 17:22] Karishma-Tiwari-MSFT commented on #35536
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-20 17:25] Karishma-Tiwari-MSFT commented on #35509
Thanks for sharing the document link. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-07-20 17:34] J0F3 commented on #33323
Thank you @FrankHu-MSFT  for your investigation and your answer.

The information about the DeviceId and DeviceAltSecId claims will help me troubleshooting that further.

Interestingly az login suddenly start working again some time ago while the same conditional access policy is still active.

For the Azure PowerShell there seems also to be a solution coming with the new upcoming [Az.Accounts](ht

[2019-07-20 17:34] #33323 closed

[2019-07-20 17:35] #35534 closed

[2019-07-20 18:51] artisticcheese opened #35537 "Kubernetes version shall be corrected"
Example mentioned here (https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#add-a-windows-server-node-pool) call for specifying version of `--kubernetes-version 1.14.0`. This version is outdated now and will fail for whoever will try to implement this feature. For central US for example it shall be 1.14.1 as of right now.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-07-20 19:32] ecfan commented on #35532
Hi @ewillman, thanks for reporting this issue! I did some investigating with a trigger and action where these settings should be available. However, these settings appear missing now. I created a product bug and notified the team. I'll update when I hear more.

CC: @shashishailaj, @PramodValavala-MSFT

[2019-07-20 19:37] ewillman commented on #35532
I am no stranger to making edits in code view, in lieu of the UI missing
these options, can you tell me what the schema is to enable the same
obfuscation directly in the json?

On Sat, Jul 20, 2019, 3:33 PM Esther Fan <notifications@github.com> wrote:

[2019-07-20 19:57] ecfan commented on #35532
@ewillman, here's the syntax, just include "inputs", "outputs", or both, based on the settings that you want:

[code]

[2019-07-20 20:25] ddkserv commented on #33161
Hi,
Sorry for the late answer.
It gave me the insight I needed. Would be great to have it documented better in the docs.
Thanks.

BR
ddkserv

[2019-07-20 20:54] ewillman commented on #35532
Perfect, thank you

On Sat, Jul 20, 2019, 3:57 PM Esther Fan <notifications@github.com> wrote:

[2019-07-20 21:35] jszanto commented on #35411
I have the same issue, I am using a service principle for authentication, error can be reproduced with the following script:

[code]
Gives the following response
[code]

[2019-07-20 22:20] meidal commented on #35411
Hey guys, managed to get this working. 1) confirm your aks spn has acrpull role on your acr. 2) confirm the repo/image really exists on your acr, I had this error and the repo/image didn't exist

[2019-07-21 00:45] Karishma-Tiwari-MSFT commented on #35537
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-21 00:47] Karishma-Tiwari-MSFT commented on #35268
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-21 00:47] #35268 closed

[2019-07-21 00:48] Karishma-Tiwari-MSFT commented on #35347
We will now close this issue. Please share the doc link when you are ready and we will gladly continue the discussion.

[2019-07-21 00:48] #35347 closed

[2019-07-21 00:55] Karishma-Tiwari-MSFT commented on #35483
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-21 01:01] ecfan commented on #35532
I've also submitted a PR to include the JSON syntax in the reference and how to pages. Should appear Monday.

[2019-07-21 01:25] ecfan commented on #31375
@lommez & @kevinlam1, are there any other doc action items for this feedback? Otherwise, I'll close out the thread. Thanks!

[2019-07-21 02:37] Shri-Humrudha opened #35538 "nullptr is undefined"
k4a_device_t device = nullptr;

Please add documentation on the resolution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f08064-28da-6415-1e57-858760b31c64
* Version Independent ID: ff491440-06d2-b9a0-12d0-deb3d1a68b6c
* Content: [Quickstart - Build your first Azure Kinect body tracking application](https://docs.mi

[2019-07-21 02:38] Shri-Humrudha opened #35539 "Typo device_config => deviceConfig"
k4a_device_configuration_t deviceConfig = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
k4a_device_get_calibration(device, device_config.depth_mode, K4A_COLOR_RESOLUTION_OFF, &sensor_calibration);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f08064-28da-6415-1e57-858760b31c64
* Version Independent ID: ff491440-06d2-b9a0-12d0

[2019-07-21 02:39] Shri-Humrudha opened #35540 "Add Nuget package documentation"
Similar to Azure Kinect library, capture the steps for Body Tracking nuget package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f08064-28da-6415-1e57-858760b31c64
* Version Independent ID: ff491440-06d2-b9a0-12d0-deb3d1a68b6c
* Content: [Quickstart - Build your first Azure Kinect body tracking application](https:/

[2019-07-21 05:13] linruhui commented on #31879
@rothja  Hope you are doing well.  Is there any progress that you would like to share with us?  Thanks.

[2019-07-21 05:20] StingyJack opened #35542 "The CRON examples are confusing"
They say ...

`"schedule": "0 0 15 * * *"`

but what is really needed is just the

`"0 0 15 * * *"`

part without any pollution from that poor file format choice for configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f167

[2019-07-21 05:26] StingyJack commented on #35542
Also I cant apparently use the cron expression builders to produce an expression that is compatible.

`0 0 15 * * *` is not parseable for a site like cronmaker dot com
Building an expression like `20 4 * * 1` on crontab dot guru wont work as a timer param.

[2019-07-21 05:31] kumarallamraju opened #35543 "Feedback to clarify the destination directory.."
[Enter feedback here]

I think we should rename D:\home\tomcat\conf to D:\home\apache-tomcat-8.5.37
It would be a good idea to highlight that apache-tomcat-8.5.37 should be copied as is to D:\home folder. Users get the impression that they need to create a directory named "tomcat" under D:\home and copy the conf folder. But it should be D:\home\apache-tomcat-8.5.37\

Then only the changes made to

[2019-07-21 06:30] hadr10 commented on #35009
Nope, it did not help

[2019-07-21 06:43] capnbab commented on #21660
I'm getting the same error... System.ArgumentException: The request is invalid.
Any update on this?

[2019-07-21 06:46] dcurwin commented on #35376
@SadiqhAhmed-MSFT Please assign to me.

[2019-07-21 06:46] GuitaristForEver opened #35544 "AKS Dashboard SSO using AD"
do you have a guide SSO authentication for the Dashboard UI as well? (No token)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Service cluster with the web dashboard](https:

[2019-07-21 07:53] funzel1 opened #35545 "azure az - two typos"
In the last step scrip
$Subscription = (Select-AzSubscription -SubscriptionId $($SubscriptionId) -ErrorAction Stop)
$Subscription
$option = [System.StringSplitOptions]::RemoveEmptyEntries
$Workspace = (Set-AzOperationalInsightsWorkspace -Name $($WorkspaceName) -ResourceGroupName $(

Must be Select-AzureAzSubscription  and Set-AzurermOperationalInsightsWorkspace  or does not work (command not found

[2019-07-21 08:18] rayne-wiselman commented on #35498
Thanks for your feedback. Can provide some more details about what prereq you think is missing? The URL points to a document.

[2019-07-21 08:19] rayne-wiselman commented on #35499
Thanks. Same comment as 35498

Thanks for your feedback. Can provide some more details about what prereq you think is missing? The URL points to a document.

[2019-07-21 08:46] rayne-wiselman commented on #32606
@pabbinedi. Hi, I'm going to close this issue unless you have some more feedback concerning the article in question. Please comment and we'll reopen in that case. thx
#please-close

[2019-07-21 08:46] #32606 closed

[2019-07-21 08:51] rayne-wiselman commented on #34881
Thanks for you feedback. I'll update the article with more info.

[2019-07-21 08:52] rayne-wiselman commented on #32033
thanks for your feedback. Shut down is to try and ensure no data loss.

[2019-07-21 09:16] medavamshi commented on #34473
why is % used memory not available for Windows machines?  i see that only for linux. so Commited bytes in use is the only option for windows?

[2019-07-21 09:20] ToruMakabe opened #35546 "kube-state-metrics availability"
I’d like to get a better understanding about Prometheus scraping settings. It seems AKS have not supported kube-state-metrics yet.

https://github.com/Azure/AKS/issues/990

So, do I have to install kube-state-metrics by myself to AKS at this time to use Prometheus scraping?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-07-21 09:56] AjayKumar-MSFT commented on #35229
@ultimate5289, Could you please let us know the exact error message you receive? You may run the cmd with --debug to fetch more details. You may try double-quoting the value. I have test deployed and these special characters seems to work (screenshot).
![image](https://user-images.githubusercontent.com/44606227/61589699-ae26cd00-abcb-11e9-86a8-5c774fcfcdba.png)

[2019-07-21 10:03] Girishvtm opened #35547 "Can we use IN operator in AzureADUser cmdlt to filter user"
Can we use IN operator in AzureADUser cmdlt to filter user like Get-AzureADUser -All $true -Filter "Department" IN ('IT','HR','Fin').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f44fc7-086a-5a43-0fe3-7072b2885c37
* Version Independent ID: 9a026134-ee4b-5bff-82cd-f25d624e121d
* Content: [View user accounts with Off

[2019-07-21 10:40] bluebirdtech opened #35548 "Missing detail"
[This issue](https://github.com/Azure/app-service-announcements/issues/84) seems to have a lot more details.  It would be nice to bring all of those in here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version Independent ID: c1118090-18b5-f630-d4b0-c588328a4b5a
* Content: [Run

[2019-07-21 10:41] bluebirdtech opened #35549 "Doesn't mention can also work for WebApps"
I understand this feature works for WebApps too.  It would be nice to link to the associated docs, or somehow make the docs work for both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version Independent ID: c1118090-18b5-f630-d4b0-c588328a4b5a
* Content: [Run your Azure Functio

[2019-07-21 12:09] shadySirhan commented on #35303
Yes, I am using the first option (Cloud Services VM), but I still don't see the 4.7.2.

[2019-07-21 12:24] xiongyu0523 commented on #35139
Yes, they should not. All '###' heading after TLS/SSL Configuration in this page should be '##' if I understand correctly.

[2019-07-21 13:02] ewillman commented on #35532
Awesome, thank you for the rapid response.

On Sat, Jul 20, 2019, 9:02 PM Esther Fan <notifications@github.com> wrote:

[2019-07-21 13:07] shashishailaj commented on #35545
@funzel1 Thank you for your feedback . We will investigate and update this thread further.

[2019-07-21 13:09] shashishailaj commented on #35546
@ToruMakabe Thank you for your feedback . We will investigate and update this thread further.

[2019-07-21 13:16] shashishailaj commented on #35549
@bluebirdtech Thank you for your query. We will investigate and update the thread further.

[2019-07-21 13:17] shashishailaj commented on #35538
@Shri-Humrudha Thank you for your feedback . We will investigate and update the thread further.

[2019-07-21 13:19] shashishailaj commented on #35548
@bluebirdtech Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:20] shashishailaj commented on #35540
@Shri-Humrudha Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:22] shashishailaj commented on #35539
@Shri-Humrudha Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:24] shashishailaj commented on #35543
@kumarallamraju Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:26] shashishailaj commented on #35544
@GuitaristForEver Thank you for your query. We will investigate and update the thread .

[2019-07-21 13:28] shashishailaj commented on #35542
@StingyJack Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:29] shashishailaj commented on #35547
@Girishvtm Thank you for your feedback. We will investigate and update the thread further.

[2019-07-21 13:42] msrini-MSFT commented on #35513
@prajster , It will not interfere with the existing connectivity. The operation is a control channel operation and it will not affect data path.

Let me know if you have any further questions.

[2019-07-21 13:48] alexdrenea opened #35550 "Compatible client libraries"
Just checked and looks like Gremlin.Net 3.4.2 is out and compatible.
It's a significant update for me, because in  3.4.2 the return type for the SubmitAsync method is a ResultSet&lt;T&gt; which allows you to easily extract the RU usage for your query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c9

[2019-07-21 14:21] msrini-MSFT commented on #35381
@KatiukOleg , Here are the logs from my repro:
![image](https://user-images.githubusercontent.com/47132998/61592216-d7f0eb80-abed-11e9-8e6d-92b12f2c9fa2.png)

There are no issues with the schema. Make sure you have logs generated so that you can filter.

[2019-07-21 15:26] stefano77it commented on #27135
I have the impression that there is a commercial push over Cosmos DB, leveraging confusion of users and hoping that they will activate Cosmos DB instead of Azure Table.
However this leave out users that doesn't need pricey Cosmos DB and could only use Azure Table Storage or look somewhere else to Microsoft competitors (there are competitors similar to Azure Table Storage that are well communicated

[2019-07-21 15:37] #35181 closed

[2019-07-21 15:52] rajatb94 opened #35553 "Speech to Text Webhook stopped getting pinged"
Today suddenly my registered webhook is not getting pinged on a Successful Transcription. Earlier it was working fine. However, all webhook endpoints such as creation, deletion, listing are working perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdefe38-e71e-4e84-d504-a47351bc1325
* Version Independent ID: a

[2019-07-21 16:50] dave-mccollough opened #35554 "Updated Screen"
The 'Create a Blank API' screen in the portal has been updated and now includes both 'Basic' and 'Full' tabs.  Thank You

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c254cd61-0ff3-bd87-f088-6f9916e056c6
* Version Independent ID: 1426c1ee-1979-f58c-8276-2afe8e6600b5
* Content: [Add an API manually using the Azure port

[2019-07-21 16:53] vinapp commented on #34611
Any updates on this ?

[2019-07-21 17:16] jlorich opened #35555 "Confusing title"
Since “Azure Web Apps” are a first-class product this page is titled poorly. This should use cloud services in the title instead, as it talks about cloud services not web apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74cdb18f-aff3-4de9-455d-2107d5a00bc6
* Version Independent ID: b266f482-0992-686b-091d-aa78c14a1

[2019-07-21 17:53] Karishma-Tiwari-MSFT commented on #35550
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-21 17:54] Karishma-Tiwari-MSFT commented on #35553
@rajatb94 Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-21 17:55] Karishma-Tiwari-MSFT commented on #35554
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-21 17:56] Karishma-Tiwari-MSFT commented on #35555
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-21 18:23] ggailey777 commented on #34200
Tracking this doc issue internally as #[1574283](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1574283).

Thanks!

[2019-07-21 18:25] ggailey777 commented on #35467
@craigshoemaker can you take a look at this issue since you are documenting the [DI capabilities of .NET Functions](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection)?

Thanks.

[2019-07-21 18:27] ggailey777 commented on #34048
@AngelosP please review this internal PR, which contains the VS 2019 updates: https://github.com/MicrosoftDocs/azure-docs-pr/pull/82751

[2019-07-21 18:30] ggailey777 commented on #33965
@brandonh-msft of course, you are correct. @kashimiz or @cgillum does anyone have cycles to help convert these examples to C# class libraries? If not, I'll add the request to the general docs backlog.

[2019-07-21 18:30] ggailey777 commented on #34048
Since we now have PR with updates, #please-close.

[2019-07-21 18:30] #34048 closed

[2019-07-21 18:34] ggailey777 commented on #33570
@srikanthraju2016 can you provide more information about the error you saw after modifying the host.json. Also, what version of Core Tools are you using locally? You may need to upgrade to the latest version to support the [extension bundles](https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles).

[2019-07-21 18:40] ggailey777 commented on #33455
Thanks @StefH for letting us know. In the future, please feel free to make minor fixes yourself by using the **Edit** button to submit a fix in the [public Azure docs repo](https://github.com/MicrosoftDocs/azure-docs).

![image](https://user-images.githubusercontent.com/1388263/61595455-4c0a9f80-abac-11e9-9f07-3a4103cdfd51.png)

[2019-07-21 18:43] ggailey777 commented on #33443
@brettsam and @jeffhollan do you have any good ideas on how to best warn customers not to try and do certain stuff with our logging platform?

[2019-07-21 18:52] ggailey777 commented on #32855
Thanks @DeChrist I'll check with the product team.

[2019-07-21 18:53] #33455 closed

[2019-07-21 19:04] AjayKumar-MSFT commented on #35515
@jstallm, Thanks for the question! Could you please share a screenshot after concealing any private details for more clarity?
![image](https://user-images.githubusercontent.com/44606227/61595714-5cf0fa80-ac18-11e9-8d2b-6a1f4b9ce7e4.png)

[2019-07-21 19:09] AjayKumar-MSFT commented on #33161
@ddkserv, Thanks for the update and your feedback!  Your feedback has been shared with the content owner (@Jen7714) for further review.

[2019-07-21 19:14] AjayKumar-MSFT commented on #34242
Thanks for the feedback, ekzp. @mattchenderson, Requesting you to review further and update the document as appropriate.

[2019-07-21 20:03] AvgustPol commented on #29782
@mmacy

Hi, @mmacy !

I've just checked answers about my question - that is exactly what I was looking for!!! Wonderful! c:

Thank you for supporting and your responses!

Best regards,
Anton Vlasiuk

[2019-07-21 20:09] jwisener commented on #14684
@sergaz-msft  I wonder why no one at ms never responded to these questions

[2019-07-21 20:42] samjross opened #35557 "No information on how to set up a web app to use this properly"
This information covers what you do serverside, but client side, in my html and javascript, what do i do? What headers or cookies will I need to set to use this properly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7e48aa-3a72-ad15-8926-5008cbdff7c1
* Version Independent ID: 612b1a73-cbb5-773e-3bcf-5995c463f77f
*

[2019-07-21 20:56] MGoedtel commented on #35429
@pyoungberg - I'm not sure how you came to the conclusion that this file is not signed, but I verified it is signed using the cmdlet - Get-AuthenticodeSignature. This test was based on the latest version available 9.8.1. I'm pretty certain even previous versions were signed as well before incorporated into the Installer package.  What version of the agent is installed and can you verify outside in

[2019-07-21 20:56] #35313 closed

[2019-07-21 21:10] MGoedtel commented on #35368
@dcbrown16 - the PG recently released a UX change to the health reporting experience for a VM and at-scale VMs and I'm behind getting the docs updated to reflect.  I hope to address it this week or next week the latest.  Thanks.  #please-close as I'm already tracking this and preparing to address docs.

[2019-07-21 21:10] #35368 closed

[2019-07-21 21:30] theheatDK opened #35558 "How will Microsoft notify customers about a needed worker node reboot?"
Hi,
This is stated in this article:
“When a security patch requires worker node reboots, Microsoft will notify customers of this requirement.“
Who is notified and how?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669c

[2019-07-21 21:58] KnnNike commented on #31221
I have this same problem... The free trial doesn't seem to work at all with storage accounts. Clicking "Add" prompts you to start a free trial, even though you're already signed in and on a free trial. There appears to be some kind of broken loop here.

[2019-07-21 22:52] DeanBrighton commented on #24410
There are many things wrong with the code on this page. I have had to change the way the Hashtable is delivered to the command line, add the StorgeAccountName, ResourceGroupName and Version arguments. Also, this needs to reference $vm.name, not just $vm.

[2019-07-21 23:14] dcbrown16 commented on #32820
@medavamshi please create a support ticket or post on the forums. Your problem is not related to this issue.

[2019-07-21 23:46] mries opened #35560 "The requested URL returned error: 404 Not Found"
# Azure documentation issue guidance
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad
Receive 404 when running

/var/lib/waagent/Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.11.5/installer.sh install. This is executed when extension is applied to the vm.

The reason for this is:
https://packages.microsoft.com/rhel/7.5 and 7.6 don't exist,  is that expected?

[2019-07-21 23:56] mliudev commented on #34954
Thanks, I didn't know that you could generate the public key from the exponent and modulus. I agree this would be useful information in this documentation.

[2019-07-21 23:58] dcbrown16 opened #35561 "Lifecycle status of Virtual Machine Converter"
We have a recommendation here to use Virtual Machine Converter:

That blog takes you to a download page which seems to still offer the tool.
https://www.microsoft.com/en-us/download/details.aspx?id=42497
The download page points you to this document.
http://technet.microsoft.com/en-us/library/dn873998.aspx
That page and others in that section say that "Availability and support for the converter en

[2019-07-22 00:12] KeiroKamioka0000 opened #35562 "Japanese localization please"
I know this document is pretty new but I would like to request Japanese Localized document for this.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d18912e1-fcca-5ea6-869c-10548a5bde04
* Version Independent ID: f06260f5-3204-57a7-0ceb-ddb12cabd81d
* Content: [About Azure Migrate](https://docs.microsoft.com/ja-jp/azure/migrate/migrate-services-overvie

[2019-07-22 00:12] conork123 opened #35563 "Service tags and NSG Protocols"
ICMP is mentioned as an option in an NSG rule for protocol, however in US West 2/Central as well as Australia East/Southeast this isn't an option. This would be handy to allow basic ping without opening up all ports/protocols to a VM for troubleshooting.

The service tags section also mention AzurePlatformLKM which can be used for KMS/Windows licensing, this also doesn't exist in these regions as

[2019-07-22 00:56] KrishnaG-MSFT commented on #35562
@KeiroKamioka0000 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-22 01:06] omerzubair opened #35565 "Change the CL Table Schema Post Creation - Extensibility?"
Hi,
I am designing a logging solution for enterprise applications in the organisation and have created Custom Tables and it works fine :)
However I am concerned/curious on what will happen if we start passing new column to the same table. Will that column be dropped and information lost?

If yes then can you please advise to future proof it/extensibility? As I know the number of columns will incre

[2019-07-22 01:28] forester123 commented on #34430
@jlian thanks! Like I said, I know how to get the Event Hub-compatible name and endpoint. In [this doc](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ip-filtering), it says:

As you know when configuring ASA with IoT Hub, you just need to fill the **IoT hub name**, **shared access policy**, and **keys** values.  I want to know how to use the build-in endpoint to configure ASA with IoT Hub

[2019-07-22 01:29] plzm commented on #34074
@yangsiyu007 - I documented this in a blog post, hope it's helpful while the doc team investigates. Please see https://blog.elazem.com/2019/07/21/installing-azcopy-v10-on-linux/.

[2019-07-22 02:42] SumanthMarigowda-MSFT commented on #35266
@nastassiar We don’t have an SLA to share, but we typically start to process the disks in 3-4 days to a week once they arrive at the DC. The times vary based on load at the DC, arrival of the disks close to the weekend or national holidays.
The time for copy largely depends upon the overall size and composition of the data, millions of small sized files (KBs) take a lot longer than larger sized fi

[2019-07-22 02:47] SumanthMarigowda-MSFT commented on #31221
@KnnNike I'd recommend posting your question in https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 02:55] Karishma-Tiwari-MSFT commented on #35557
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-22 02:56] Karishma-Tiwari-MSFT commented on #35558
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-22 02:57] Karishma-Tiwari-MSFT commented on #35560
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-22 02:58] Karishma-Tiwari-MSFT commented on #35563
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-22 03:14] ram-msft commented on #35374
@ehalsey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 03:14] #35374 closed

[2019-07-22 03:37] junpark12 opened #35566 "how to revoke WindowsPreview feature"
I run the following command to enable windowsPreview.
"az feature register --name WindowsPreview --namespace Microsoft.ContainerService"
how can i turn off this features?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441b

[2019-07-22 03:43] jstallm commented on #35515
![just4msft2](https://user-images.githubusercontent.com/6054668/61604929-3b801680-abf8-11e9-8b5f-a1a1b8ff42fe.png)

[2019-07-22 03:47] KeiroKamioka0000 opened #35567 "May I have example of the scenario that commands records as abandon/reject?"
[c2d.commands.egress.abandon.success]
[c2d.commands.egress.reject.success]

May I have example of the scenario that commands records as abandon/reject?
It would be help for customer if there are any.
Just saying abandon or reject may confuse customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128ea613-ba7a-88bc-4f

[2019-07-22 03:55] cindywang1990 opened #35568 "The Chinese version for this doc is difficult to read."
Hi Team,

When trying  to translate this doc to Chinese by changing the page version directly, which returned to be a not very meaningful Chinese version of this doc.

To be more specific:
![image](https://user-images.githubusercontent.com/20855491/61605301-6d848d80-ac77-11e9-8b79-24b182ed7897.png)

The wording '不DNS验证' doesn't make any sense.. please try to make the translated version of the doc

[2019-07-22 04:04] jstallm commented on #35515
I see. It was my fault entirely. Im really sorry. I see now that I should have looked a little closer to the details within the link. LInux vs. Windows. I assumed the URL path was irrespective of the OS. But I looked at https://github.com/projectkudu/kudu/blob/master/Kudu.Services.Web/ZipDeployUI/Default.cshtml and LinuxZipDeploy.cshtml and it made sense. Moving to windows. Thank you so much for t

[2019-07-22 04:04] #35515 closed

[2019-07-22 04:04] KrishnaG-MSFT commented on #35565
@omerzubair Thanks for the comment. We are actively investigating the issue and will get back to you shortly with an update.

[2019-07-22 04:09] ChiragMishra-MSFT commented on #35522
@taroarai Yes, if you want to manually provide retryInterval, maximumRetry has to be filled. However, if you do not specify either of these properties, it takes the default values mentioned in the doc. Hence these values are listed as "default values" and not "recommended values".

Hope this helps.

[2019-07-22 04:12] CHEEKATLAPRADEEP-MSFT commented on #35568
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could

[2019-07-22 04:16] PramodValavala-MSFT commented on #35369
@manoj-lenka Hope my previous comment clears things up.

[2019-07-22 04:17] PramodValavala-MSFT commented on #35532
@ewillman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 04:17] #35532 closed

[2019-07-22 04:17] SwathiDhanwada-MSFT commented on #35256
Assigning @rayne-wiselman  for visibility

[2019-07-22 04:18] AshokPeddakotla-MSFT commented on #34431
@julianparismorgan Thanks for looking into this.
@sostel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 04:18] #34431 closed

[2019-07-22 04:19] SwathiDhanwada-MSFT commented on #35254
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-22 04:19] #35254 closed

[2019-07-22 04:25] mattmazzola opened #35569 "Bugs in tutorial"
In the section "Add functions to determine creation status" the path variable is not updated.

The function is to query operations but the path was never reassigned and is still pointing to "/knowledgebases/create" which is not correct.
It should be  `/operations/${operationId}`

I had to find these docs, they should be linked:
https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/o

[2019-07-22 04:27] PramodValavala-MSFT commented on #35549
@bluebirdtech Thanks for the feedback! There seems to be a [mention of `Run from Package`](https://docs.microsoft.com/en-in/azure/app-service/deploy-zip#what-happens-to-my-app-during-deployment) on the Azure Web Apps Zip Deployment doc as well but links to the announcement instead of this doc.

I believe it would be best to open a similar issue on that doc as well to drive this association from bo

[2019-07-22 04:35] AjayKumar-MSFT commented on #35463
@jaymebowers, The doc reflects the changes now, we will now proceed to close this issue. Thanks again for your feedback.

[2019-07-22 04:35] #35463 closed

[2019-07-22 04:49] SumanthMarigowda-MSFT commented on #27209
@patel-code Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Kindly try the following steps to isolate the issue:
Are you still facing any issue?

[2019-07-22 04:49] codlocker opened #35570 "Is there an api for this?"
We would like to use the api to handle reserved keywords.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82800073-c083-5261-f855-d4c27061fca1
* Version Independent ID: c5d2317b-9d0c-c556-c97a-09d5ad3b854c
* Content: [Azure reserved resource name errors](https://docs.microsoft.com/en-us/azure/azure-resource-manager/reso

[2019-07-22 04:56] #31221 closed

[2019-07-22 04:56] AjayKumar-MSFT commented on #35515
No issues. I'm glad the issue is sorted out. Thanks for the update.

[2019-07-22 04:57] #34984 closed

[2019-07-22 05:00] RohitMungi-MSFT commented on #35466
@cassm199 Yes, The ROOBO devkit is the supported hardware for creating conversation transcriptions.
For the input audio wave file for creating voice signatures it should be in 16-bit samples, 16 kHz sample rate, and a single channel (Mono) format where the recommended length for each audio sample is between 30 seconds and two minutes.

@jhakulin Could you please confirm the same?

[2019-07-22 05:00] VikasPullagura-MSFT commented on #35516
@ormico Thanks for the feedback on the outdated versions. I have checked the version and I am raising  PR for updating the document.

![image](https://user-images.githubusercontent.com/48944027/61607303-b6cee000-ac6b-11e9-9556-7b3b6f25c935.png)

[2019-07-22 05:05] VikasPullagura-MSFT commented on #35537
@artisticcheese Thanks for the feedback on outdated version. I have checked it and raised a PR for updating the document.
![image](https://user-images.githubusercontent.com/48944027/61607448-6ad06b00-ac6c-11e9-8a8e-286b5c82c378.png)

[2019-07-22 05:05] AshokPeddakotla-MSFT commented on #26029
@RamonArguelles Thanks for looking into this issue.
@jelmerS2 Please check the above suggestions.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 05:05] #26029 closed

[2019-07-22 05:08] elenay93 opened #35571 "Is clustering models supported in AutoML?"
or will it be supported one day?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Create automated ML experiments - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-learning/servic

[2019-07-22 05:09] AshokPeddakotla-MSFT commented on #35567
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-22 05:09] cassm199 commented on #35466
Thanks. I've tried with an 8 channel audio and infact it worked, although sometimes rather than returning the correct userID or Unrecognized user it returns $ref$. Is it the same as an Unrecognized user?

[2019-07-22 05:15] SumanthMarigowda-MSFT commented on #21621
@imeya  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Just for clarification, Have you referred to the suggestion mentioned in the below link:
https://stackoverflow.com/questions/47599211/transfer-files-directly-from-ftp-to-azure-file-storage-without-keeping-them-loca

[2019-07-22 05:17] #35388 closed

[2019-07-22 05:18] DixitArora-MSFT commented on #35388
@benbelow I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 05:21] SadiqhAhmed-MSFT commented on #35570
@codlocker Thanks for the comment! We will check on this and get back to you with an update.

@tfitzmac Your thoughts on this?

[2019-07-22 05:23] jakaruna-MSFT commented on #35558
Related comment in another issue https://github.com/MicrosoftDocs/azure-docs/issues/35195#issuecomment-511754085

@theheatDK After applying patched to the node, AKS created a file [/var/run/reboot-required](https://docs.microsoft.com/en-us/azure/aks/node-updates-kured#understand-the-aks-node-update-experience).

Other than that , I am not aware of any notification process. I will check with the te

[2019-07-22 05:23] jakaruna-MSFT commented on #35558
@jnoller @jluk Please add your comments

[2019-07-22 05:26] DixitArora-MSFT commented on #35440
@basilwong Please feel free to submit the PR and let us know if anything more needed. If there are no more questions , we can proceed with the closure of this.

[2019-07-22 05:28] RohitMungi-MSFT commented on #35521
@zhencui Thanks for pointing out this issue. This looks like an issue in the service when we use language as en-US.
@aahill could you please forward the issue to the corresponding PG contact to report the issue in the service for these words as they get converted to a different language for a spell check.
![image](https://user-images.githubusercontent.com/46958063/61608225-94d75c80-ac6f-11e9-8208-

[2019-07-22 05:33] jakaruna-MSFT commented on #35106
@KJaunay is there any update?

[2019-07-22 05:38] mike-urnun-msft commented on #35548
Hi @bluebirdtech - We have assigned this issue to the author to review further and take the right course of action.

[2019-07-22 05:47] desaimit commented on #29114
It is not always practical that we use either service endpoint or disable the flow logs. Microsoft has acknowledge the issue via support ticket and the fix is expected to be implemented by the end of July 2019. I haven't received an update that the fix is implemented yet but when I checked in early July, the product team had confirmed that the fix is still on track to be implemented.
Sometimes, di

[2019-07-22 05:57] KrishnaG-MSFT commented on #35562
Assigning @rayne-wiselman for visibility and document enhancement / request considerations.

[2019-07-22 06:03] axelgMS opened #35572 "PERSISTENT_DHCLIENT and NM_CONTROLLED"
hey there,
Looks like for a RHEL 7.x cusom image, we also need to set the following 2 settings in /etc/sysconfig/network-scripts/ifcfg-eth0 :
PERSISTENT_DHCLIENT=yes
NM_CONTROLLED=yes

They'll ensure the NIC correctly comes up with the right settings from Azure.
Can we please add a note on them in that doc?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-22 06:13] hadr10 commented on #35400
@SaurabhSharma-MSFT you are correct, after clicking to message it shows everything in Azure security center how it should. Thank you

[2019-07-22 06:21] hung-doan commented on #35383
Thanks @MartinJaffer-MSFT for the suggestion.
Spinning up a new factory for hotfixes seem to make sense.

I also consider to
1/ do a git tag for production version.
2/ Branch of from production tag for the hotfix.
3/ Map Hotfix factory to our git repository
4/ Set the hotfix branch as the collaboration branch.
5/ Apply the hotfix
6/ Export new ARM template.
7/ Use new ARM template to deploy produc

[2019-07-22 06:24] srinathvasireddy commented on #35495
@Karishma-Tiwari-MSFT  this doc has been revised & updated.  Pls. resolve/close this bug.

[2019-07-22 06:26] mliudev commented on #34954
@FrankHu-MSFT I'd like to say that putting the burden of having to generate the public key on the developer is quite frustrating. Most libraries expect you to already have a public key. I don't see any reason why a developer needs to understand how to generate a public key at this low of a level, especially since the format of the exponent and modulus isn't provided in this documentation.

In my c

[2019-07-22 06:31] AjayKumar-MSFT commented on #26710
Sorry for the delay! Thanks for the feedback. The doc mentions this -"valid characters are a-z, 0-9 and -" and hope that clarifies.

[2019-07-22 06:33] RohitMungi-MSFT commented on #35571
@elenay93 Thanks for your question. Are you referring to using clusters for compute in automl? Currently with AutoML you can create [machine learning compute](https://docs.microsoft.com/en-us/azure/machine-learning/service/concept-compute-target#azure-machine-learning-compute-managed) which is a managed compute for single-multi node clusters with autoscaling and other features.

[2019-07-22 06:35] RohitMungi-MSFT commented on #35569
@mattmazzola Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-22 06:36] SychevIgor opened #35573 "Specify what "Preview" status mean for AKS version"
For my current cluster 1.14.0 I see 2 available updates, but both marked as "preview".

What does it mean for AKS version to be in a "preview" status? (I didn't find an answer here and here  https://docs.microsoft.com/en-us/azure/aks/support-policies)
Do Microsoft provide support for such "preview" versions or it's my(in general - customer's) own risk?
Do Microsoft provide guarantees that cluster

[2019-07-22 06:38] vrishni commented on #35379
@thecpshah Could you please share your 5 GB csv to check.

[2019-07-22 06:41] patrickgalbraith commented on #35449
@himanshusinha-msft @shashishailaj Any updates guys?

[2019-07-22 06:42] imeya opened #35574 "Is this a bug or by design when add filter for azure file share metrics?"
I want to show metrics graph for my azure file share. In azure monitor -&gt; metrics: I click "add metrics" -&gt; select resource to my storage account,select metric namespace to File etc. Then I click "Add filter" button, then select property to File share, operator to =, but in the Values drop-down, I can only see "ALL". But in my azure file storage, I have many file shares. So I wonder if it's

[2019-07-22 06:44] srinathvasireddy commented on #35495
#please-close

[2019-07-22 06:44] #35495 closed

[2019-07-22 06:52] mike-urnun-msft commented on #35486
Hi @rabrahamOpti - Thank you for your feedback! Since the scenario described in your feedback could be quite generic and is outside of the scope of this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-22 06:52] #35486 closed

[2019-07-22 06:59] mortenlerudjordet opened #35575 "Install-VMInsights.ps1 linked to in page is using AzureRM and not Az"
Documentation states that Install-VMInsights.ps1 needs the Az module, though the script linked to in PS gallery is using the AzureRM module.
Examples from the script:
Get-AzureRmVM
Remove-AzureRmVMExtension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d385c06a-f7e4-8875-835e-8983b2fd5f9c
* Version Independent ID: 89f

[2019-07-22 07:08] dcbrown16 opened #35576 "Difference between log types"
&gt; Event: Entries are logged for which NSG rules are applied to VMs, based on MAC address. The status for these rules is collected every 60 seconds.
&gt; Rule counter: Contains entries for how many times each NSG rule is applied to deny or allow traffic.

The descriptions of the two log categories on this page are not entirely clear to me. It seems like the Events should be a separate log for ev

[2019-07-22 07:39] SnehaAgrawal-MSFT commented on #35478
@mohamed-shehata-m Thanks again for asking question! As its mentioned in doc that this feature is in preview but, it is supported for Windows app production workloads with some [limitations.](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration)
“The integration subnet can only be used by only one App Service plan”

[2019-07-22 07:42] dcurwin commented on #35256
@SwathiDhanwada-MSFT  Please assign to me.

[2019-07-22 07:47] mohamed-shehata-m commented on #35478
Hello SnehaAgrawal,

Thank you, but I'm already using different subnet for each app service plan.

You can reproduce the same behavior by creating 2 app service plans and integrate them into two different subnets.

Only the the 1st app service to be integrated, will have connectivity to the VNet. The other app service plan will throw the error i mentioned earlier.

[2019-07-22 07:58] rajatb94 commented on #35553
Hi Madam/Sir,
I m referring to this docs. Earlier my webhook was perfectly-getting called
on speech to text batch task completion but when I checked it yesterday It
was not.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/webhooks

On Sun, Jul 21, 2019 at 11:24 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-07-22 08:10] ArthurEzenwanne commented on #26710
No shakes @AjayKumar-MSFT. You are correct. The docs mentions it.
I am only saying we could highlight the instruction; *__"In the following example, replace (app-name) with a globally unique app name (valid characters are a-z, 0-9, and -)."__*.
If that is *__highlighted, bolded or italicized__*, python devs like me would quickly note that.
All in all, great docs and great wok guys.

[2019-07-22 08:14] spaelling opened #35577 "ARM Template?"
What would the ARM template look like? When I export the AKS cluster post-deployment with availability zones, it does not look any different from a "normal" AKS cluster. The changes seems to be on the VMSS, but I need to create the AKS cluster with availability zones enabled to begin with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-07-22 08:26] ManojReddy-MSFT commented on #35547
@Girishvtm I am afraid "IN" operator is not available. Can you let me know what are you trying to filter so that I can help you build the query?

[2019-07-22 08:28] KrishnaG-MSFT commented on #35509
@pulsarviki AFAIK the intension behind READ operations in this case is 'Microsoft.xxxxxxx/xxxxxxx/read' operations whereas ListKeys operation fall under 'Microsoft.xxxxxxx/xxxxxxx/listkeys/action' operation value and GetSSOToken operation fall under 'Microsoft.xxxxxxx/xxxxxxx/getssotoken/action' operation value. For a list of resource actions (operations), you may refer [this](https://docs.microso

[2019-07-22 08:32] ToMakeSense opened #35578 "Function "Outputs" is missing from the reference"
I believe there's a function called "**Outputs**", which is shorthand for "**actionOutputs**", however it's not listed in the docs and also in the Azure portal(Logic app designer view)

You can find it out with simple ARM template below:
[code]

**To make the thing as-is, I am not sure if the display name should exactly match the function name.**
![image](https://user-images.githubusercontent.com/

[2019-07-22 08:35] msrini-MSFT commented on #35576
@dcbrown16 , Thank you for your feedback. You are right. Rule counter should collect all the rules that gets hit for 60 seconds.

@KumudD , Can you get it changed ?

[2019-07-22 08:35] KrishnaG-MSFT commented on #35575
@mortenlerudjordet Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-22 08:37] yucwan opened #35579 "[New Article] ARM quickstart create templates use IntelliJ IDEA"
Hi docs team,

As Java on Azure tooling team, we recently enabled ARM templates support in Azure Toolkit for IntelliJ, which allows java developers using their favorite IDE to edit and deploy ARM templates.

Thus we propose to add a new quickstart article in parallel with the current ones for Visual Studio and VS Code at:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/vs-azure-tools

[2019-07-22 08:37] spaelling commented on #35577
I had a look at the debug output from `az aks create` and perhaps this would be sufficient, will test later

[code]

[2019-07-22 08:42] ToMakeSense commented on #35578
You can find it out with simple ARM template below:
[code]

[2019-07-22 08:45] thecpshah commented on #35379
@vrishni Unfortunately I can't.

[2019-07-22 08:45] AshokPeddakotla-MSFT commented on #35500
@zadixon Thanks for reporting this issue. PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 08:45] #35500 closed

[2019-07-22 08:51] imeya opened #35580 "Error occurs when I try the output example for c#."
I follow the blob output example for c#, this [section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#output---c-example), I use visual studio to write the code, then publish to azure. After it is published to azure, I click the run button in azure portal, it always throw this error:  [Error] Executed 'Function1' (Failed, Id=919571bf-0f23-4b21-95fe-ff66c032

[2019-07-22 08:53] amigup commented on #35072
Thanks @BhargaviAnnadevara-MSFT. I'd a question regarding dependency injection of  `ITelemetry` object in custom ActionFilterAttribute class. The custom ActionFilterAttribute class is already been injected through global filter; however, I could not able to inject the  `ITelemetry` instance in it. Can you please assist the way forward to achieve that?

[2019-07-22 08:53] AshokPeddakotla-MSFT commented on #35540
I have assigned the issue to the content author @qm13 to evaluate and update as appropriate.

[2019-07-22 08:55] ToMakeSense commented on #35578
To make the things as-is, I am not sure if the display name should exactly match the function name.
![image](https://user-images.githubusercontent.com/6244148/61619239-0976bf00-aca1-11e9-9cae-eb934f862407.png)

[2019-07-22 08:56] vdjundjenac opened #35581 "AzCopy compatibility outdated info"
Hi,

This page states AzCopy is Windows-only but the latest version documentation (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) states it works on Windows, Linux and MacOS.

Br,
Vanja

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c37d16-5a77-

[2019-07-22 08:59] KrishnaG-MSFT commented on #35579
@yucwan Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-22 09:12] dominicbetts commented on #35508
Can we close this this please - the issue is being tracked elsewhere.
#please-close

[2019-07-22 09:12] #35508 closed

[2019-07-22 09:17] RohitMungi-MSFT commented on #35466
@cassm199 Unfortunately, did not encounter such a scenario. An unidentified user is returned if the result reason is a nomatch. May be adding more logs might help to understand the return response.

[2019-07-22 09:27] KrishnaG-MSFT commented on #35575
@mortenlerudjordet Hyperlink provided for the script Install-VMInsights.ps1 currently routes to source of the script i.e., to [this](https://www.powershellgallery.com/packages/Install-VMInsights/1.0) PowerShell Gallery page. We may click on 'Contact Owners' hyperlink in this PowerShell Gallery page which takes us to a form to submit with feedback / suggestions / questions, etc. related to this par

[2019-07-22 09:28] rayne-wiselman commented on #35499
@daspo. Hi, before we verify if anything needs updating, can you please provide some details about the prerequisite you think is missing. Thanks!

[2019-07-22 09:29] rayne-wiselman commented on #35498
@daspo  Hi, before we verify if anything needs updating, can you please provide some details about the prerequisite you think is missing. Thanks!

[2019-07-22 09:31] rayne-wiselman commented on #35562
Hi,
Thanks for your feedback. articles are picked up automatically for localization on a periodic basis.
No action for article #please-close

[2019-07-22 09:31] #35562 closed

[2019-07-22 09:31] rayne-wiselman commented on #35502
Hi, Azure Migrate doesn't current support migration from Azure Stack.

[2019-07-22 09:38] KalyanChanumolu-MSFT commented on #35526
@snarkywolverine Here is a code snippet for creating a container with v3 SDK and Indexing policy

[code]
Do let us know if you have any questions.

[2019-07-22 09:52] ManojReddy-MSFT commented on #35547
@Girishvtm How many departments do you have? Can you use the "-ne" operator to look for anyone who is not in the departments you do not need?

[2019-07-22 09:54] janus-christensen opened #35582 "AzureRm used in examples."
The PowerShell code examples use the AzureRM module, shouldn't that be updated to the Az module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc677cf7-8d87-d8f9-a333-b3c6b9781737
* Version Independent ID: 63a960ad-4046-40ec-5589-9e682fea8b22
* Content: [Runbook Output and Messages in Azure Automation](https://docs.mi

[2019-07-22 09:56] KalyanChanumolu-MSFT commented on #35550
@alexdrenea Thank you for your interest in Cosmos DB Gremlin API.
Yes this feature is out. It was available from 3.4.0-rc2 but it is production ready now.
We really appreciate the positive feedback.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-22 09:56] #35550 closed

[2019-07-22 09:57] Girishvtm commented on #35547
@ManojReddy-MSFT , I have more than 60 departments, need to select users belongs to only 26 departments.

[2019-07-22 10:01] jjindrich commented on #35502
Hi, I'm looking for migration from OpenStack

[2019-07-22 10:04] msrini-MSFT commented on #35513
@prajster , Do you have any update for me? Does the above response answers your question?

[2019-07-22 10:04] msrini-MSFT commented on #35384
@mildsar , I am closing this issue for now. Please tag me if you have any further questions

[2019-07-22 10:04] #35384 closed

[2019-07-22 10:05] msrini-MSFT commented on #35381
@KatiukOleg , Do you have any update for me?

[2019-07-22 10:09] VikasPullagura-MSFT commented on #35566
@junpark12 Currently there is no option for revoking/unregister the preview feature.
However, I found similar [issue](https://github.com/Azure/AKS/issues/984) raised for AKS service, and it is currently in development.
I am closing the issue for now, this will be available once the development is completed. Which can be also seen in the announcements page.

[2019-07-22 10:09] #35566 closed

[2019-07-22 10:18] mortenlerudjordet commented on #35575
I would guess it takes more time to update the script than add a note in the documentation that it is using AzureRM and not as i currently states:
"This script requires Azure PowerShell module Az version 1.0.0 or later."

[2019-07-22 10:31] KatiukOleg commented on #35381
@msrini-MSFT, thanks for your feedback, but I still have no AzureDiagnostics data. Need to check reason of it.

[2019-07-22 10:32] juyama opened #35583 "Disk Caching is not supported for disk that is 4 TiB"
Currently, disk caching is not supported 4,096 GiB (i.e. 4 TiB). It is supported 4,095 GiB or smaller. So the following description is incorrect.
----
Disk Caching is not supported for disks larger than 4 TiB. If multiple disks are attached to your VM, each disk that is 4 TiB or smaller will support caching.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-07-22 10:34] rayne-wiselman commented on #35502
ah, apologies, read Azure Stack. Let me check

[2019-07-22 10:38] AjayKumar-MSFT commented on #35229
@ultimate5289, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-22 10:38] #35229 closed

[2019-07-22 10:42] SadiqhAhmed-MSFT commented on #35491
@rothja Could you please review this request with the App GW team and update the limits if needed?

[2019-07-22 10:46] ld0614 opened #35584 "Remove a VM from Update Management Assumes Scope Still exists"
After following instructions https://docs.microsoft.com/en-gb/azure/automation/automation-onboard-solutions-from-automation-account#all-available-and-future-machines the mentioned saved search is deleted.  As such there doesn't currently appear to be a documented way to move from 'All available and future machines' back to only specific machines.

---
#### Document details

⚠ *Do not edit this sec

[2019-07-22 10:57] CHEEKATLAPRADEEP-MSFT commented on #35561
@dcbrown16  Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 11:04] dcurwin commented on #35256
@Sogup @GeethalakshmiG Can you help with this issue?

[2019-07-22 11:12] vladromAzure opened #35585 "How to add connections?"
How can I add/modify connections to my Logic App in Visual Studio Code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47be9e62-a0a7-b842-ab8d-e3611c3ea75a
* Version Independent ID: 15fb316f-4166-dc73-e4bb-31dab82903fd
* Content: [Create and manage automated workflows with Visual Studio Code - Azure Logic Apps](https:/

[2019-07-22 11:21] ansco commented on #9736
GOOD

[2019-07-22 11:22] ansco commented on #9736
جيد

[2019-07-22 11:22] ansco commented on #9736
ممتاز

[2019-07-22 11:23] ansco commented on #9736
GOOED

[2019-07-22 11:25] KetanChawda-MSFT commented on #35168
@Lau82 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 11:25] #35168 closed

[2019-07-22 11:25] dcurwin commented on #34952
@cagrijal - Haven't heard back from you. Is this still an issue? Can you respond to my questions?

[2019-07-22 11:29] rudolfdobias opened #35586 "This example no longer works - AuthorizationFailed."
Following this article 1:1 results in this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac8cfa-b0a2-c77a-408a-ab9aa2b6bce4
* Content: [Configure kubenet networking in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/

[2019-07-22 11:29] jakaruna-MSFT commented on #35530
@trelak Thanks for your question.
Port mapping is not supported yet.  We can only specify the list of ports to open for that container instance.

We have a existing [feedback item](https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/34082284-support-for-port-mapping) which is in planned state.
Please up vote that feature so that it moves up in the product teams backlog.

[2019-07-22 11:30] msrini-MSFT commented on #35381
@KatiukOleg , Is your tunnel UP and running ?

The logs gets generated upon successful tunnel creation.

[2019-07-22 11:30] KetanChawda-MSFT commented on #35542
@StingyJack Azure Functions uses the [NCronTab](https://github.com/atifaziz/NCrontab) library to interpret CRON expressions. A CRON expression includes six fields:
`{second} {minute} {hour} {day} {month} {day-of-week}`

You can use [cronexpressiondescriptor](https://cronexpressiondescriptor.azurewebsites.net/) tool to Describes Cron expressions as human readable text.

Here is the sample format th

[2019-07-22 11:38] VikasPullagura-MSFT commented on #35581
@vdjundjenac Thanks for the feedback on the document. I am assigning the issue to the content author for updating the document as appropriate.

[2019-07-22 11:39] VikasPullagura-MSFT commented on #35581
@hermanndms Can you please add your comments and update the document as required.

[2019-07-22 11:40] KetanChawda-MSFT commented on #35469
@IanKemp can you try the same using Postman client as shown below:

[code]
OR
[code]
The message body is required to have the above JSON format

Here is the curl format :

```curl --request POST -H "Content-Type:application/json" --data '{"input":"sample queue data"}' http://localhost:7071/admin/functions/QueueTriggerJS```

[2019-07-22 11:41] StingyJack commented on #35542
@KetanChawda-MSFT - I submitted a PR to remove the confusion. Nobody is going to see a tiny note at the end, and the json specifics dont need to be part of the expression examples. Please have a look if you are unsure of where my confusion was.

Also, as we have discussed before, I dont have a function.json (and wont ever if I can help it), I still use the superior configuration file format (it al

[2019-07-22 11:41] SadiqhAhmed-MSFT commented on #35489
@bwren and @rboucher Could you please review this request and update as required?

[2019-07-22 11:43] KetanChawda-MSFT commented on #35542
@StingyJack Thanks for your contribution! The author(s) have been notified to review your proposed change it will be added as approved by the author.

[2019-07-22 11:44] KetanChawda-MSFT commented on #35542
@StingyJack We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-22 11:46] KatiukOleg commented on #35381
@msrini-MSFT, yes it is UP and has "Succeeded" status. Is any approach to see data and connected services (Virtual Network Gateway in my case) within Log Analytics?

[2019-07-22 11:46] StingyJack commented on #35542
@ketanchawda-msft - until the PR is accepted or the content on the page is updated similarly, pleased do not close this issue.

[2019-07-22 11:47] chris31389 opened #35588 "Can we access BindingContext in Dependency Injection Setup?"
Is there anyway I can access the BindingContext from the ServiceProvider during the Registration of instances?

I have a class I want to register, which takes in a value that will be extracted from the Function's Trigger object:

For example:

[code]

my class I want to register is:

[code]

I would expect to do this like:

[code]

here is my expected function

[code]
---
#### Document Details

⚠

[2019-07-22 11:48] KetanChawda-MSFT commented on #35542
@StingyJack Reopened the issue. @craigshoemaker can you please review the PR.

[2019-07-22 11:48] KrishnaG-MSFT commented on #35582
@janus-christensen Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-22 11:49] msrini-MSFT commented on #35381
@KatiukOleg , It is a Route based gateway?

If there are any disconnect that you can trigger, it will get logged.

[2019-07-22 11:51] KrishnaG-MSFT commented on #35584
@ld0614 Thanks for the comment. We are actively investigating the issue and will get back to you shortly with an update.

[2019-07-22 11:57] VikasPullagura-MSFT commented on #35516
@ormico I am assigning the issue to author to add his comments and update the document accordingly.

@justindavies Can you please add your comment and update the document.

[2019-07-22 11:58] jakaruna-MSFT commented on #35560
@mries Thanks for your questions.
This link https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad is working fine for me.
Please post a screenshot if its not working for you. I will check.

You can install an extension through cli or powershell etc or you can directly install them as a software
 package. Direct installation is helpful when you are preparing a base image for

[2019-07-22 12:01] jakaruna-MSFT commented on #35471
@Heidilohr please add your comments

[2019-07-22 12:01] KalyanChanumolu-MSFT commented on #35167
@andyTheCoder This is being assigned to the content author to evaluate and update as appropriate. 

@oslake Tried creating a server less database in North Europe and was able to do so.
Please update the document with the correct regions.

[2019-07-22 12:03] KatiukOleg commented on #35381
@msrini-MSFT, no I have Policy-based gateway. Does it make difference in this workflow?

[2019-07-22 12:06] msrini-MSFT commented on #35381
@KatiukOleg , Yes, this option is not available for policy based gateway.

[2019-07-22 12:08] jakaruna-MSFT commented on #35561
@glimoli @genlin I hope we need a doc update here.
Please confirm.

[2019-07-22 12:08] SadiqhAhmed-MSFT commented on #35546
@MGoedtel Are there any plans to support Kube-state-metrics? If yes, could you please share the timelines?

[2019-07-22 12:08] rajatb94 commented on #35553
I have found the issue. You guys have not launched docs of version 2.1 of the Batch Transcription APIs and currently, only v2.0 is present. However, the Webhook APIs have a version 2.1. Earlier Webhook v2.1 was compatible with Batch Transcription v2.0 but suddenly the compatibility went off. I fixed the issue by just trying the version 2.1 in Batch Transcription Endpoints and I modified the reques

[2019-07-22 12:09] TeeMakk commented on #35483
Thank you Karishma, I'm looking forward to the feedback from the content author.

[2019-07-22 12:10] jakaruna-MSFT commented on #35426
@bane-Sidhe Did you got the chance to try out the suggestion by ChristianMontoya ?

[2019-07-22 12:12] KatiukOleg commented on #35381
@msrini-MSFT, clear. It would be useful to mention this point in the article.

[2019-07-22 12:16] daspo commented on #35498
The entire procedure described in the provided link<https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image> is a prerequisite as is stated there:

If any Disaster Recovery tool will be used to migrate the workload, like Azure Site Recovery or Azure Migrate, this process is still required to be done and followed on the Guest OS to prepare the image prior the mi

[2019-07-22 12:16] daspo commented on #35499
Same as for thread #35498

.daspo

From: Rayne Wiselman <notifications@github.com>
Sent: Monday, July 22, 2019 6:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Damian Spoltore <daspolto@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Pre-requisite missing (#35499)

@daspo<https://nam06.safelinks.protection.outlook.com/?url=https%

[2019-07-22 12:17] pvrk commented on #33223
@ayoung012 : The command is correct. The vault ID parameter is required. But I acknowledge that it can also be obtained from Policy variable and hence not mandatory. I will take this up as an PS issue (not a documentation issue). If the command is changed, then will update the document.

[2019-07-22 12:17] msrini-MSFT commented on #35381
@KatiukOleg , thank you. Will pass on this feedback to the respective teams.

[2019-07-22 12:17] #35381 closed

[2019-07-22 12:19] dcurwin commented on #35256
@SwathiDhanwada-MSFT  Please assign to @GeethalakshmiG

[2019-07-22 12:19] jakaruna-MSFT commented on #35074
@litvinolek One time free support is enabled for you and the details to use that are sent to your email.

please post the resolution here after engaging with the support.

[2019-07-22 12:21] rayne-wiselman commented on #35498
Thanks.

All of the information required to set up disaster recovery of VMware VMs, including prerequisites, is included in the tutorials, starting here - https://docs.microsoft.com/en-us/azure/site-recovery/tutorial-prepare-azure, and not in the support matrix. Please follow these.

[2019-07-22 12:21] pvrk commented on #35376
@dcurwin : Please assign this to me. I will do the necessary updates.

[2019-07-22 12:22] jakaruna-MSFT commented on #35106
@KJaunay
I will close this out for now. If you need additional help please mention me in the comment and we can reopen and continue.

[2019-07-22 12:22] dcurwin commented on #35376
@SadiqhAhmed-MSFT Please assign to @pvrk

[2019-07-22 12:26] wennemer opened #35589 "Problems running tutorial on raspberry pi"
Thanks for IoT Hub tutorial as well as mattjhayes/ Issue #11406

But i still have a problem running the sample.

First errror:
ImportError: libboost_python-py27.so.1.62.0: cannot open shared object file: No such file or directory

Linked it:
ln -s libboost_python-py27.so.1.67.0 libboost_python-py27.so.1.62.0

Next error:
ImportError: /usr/lib/x86_64-linux-gnu/libcurl.so.4: version `CURL_OPENSSL_3'

[2019-07-22 12:29] daspo commented on #35498
Yes, and the links that I opened this case (and #35499) are the part of that tutorial where the prerequisites are stated.
But they are incomplete, that’s why I sent this feedback.

.daspo

From: Rayne Wiselman <notifications@github.com>
Sent: Monday, July 22, 2019 9:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Damian Spoltore <daspolto@microsoft.com>; Mention <mention@nor

[2019-07-22 12:41] msrini-MSFT commented on #35563
@conork123 , Are you sure you are looking at the NSG ?

NSG will never have protocol as ICMP as it is a layer 4 component.

Can you share the screenshot?

[2019-07-22 12:58] thecpshah commented on #35487
Thank you, this solution works.

[2019-07-22 13:02] rayne-wiselman commented on #35498
Thanks.
The issue/feedback is opened on the support matrix articles for hyper-v and vmware and not on the tutorials in question. We don’t put prerequisites in these support matrix articles. Rather, if there are prerequisites that require user actions, we put them inside the tutorials/procedures that describe how to set up the scenario. For both Vmware and Hyper-V the tutorials follow this order.

[2019-07-22 13:08] ad0m opened #35590 "After abandoning the Encryption key"
The article suggest you start "Synchronisation Service" after abandoning the Encryption Key via Powershell - however, to start the Synchronisation Service after this, you are required to start the Microsoft Azure AD Sync Service again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a6ac21b-3096-44b3-8099-f029a2bcf718

[2019-07-22 13:10] daspo commented on #35498
Converting the disk to VHD is only one of the many steps that are needed. This one may be done by Site Recovery, but others not.
The fact is that all the time migrated VMs are failing to be available because are not prepared correctly, which is why that note has been added to the procedure, and ASR users should know about it.
That will save lots of support cases from being opened.

.daspo

From: R

[2019-07-22 13:11] SychevIgor opened #35591 "Screenshot of Azure Monitor for container not longer in preview. Please, update screenshot"
Screenshot of Azure Monitor for container not longer in preview.
Please, update screenshot
https://docs.microsoft.com/en-us/azure/azure-monitor/media/overview/container-insights.png
It's inconsistency in a documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Indep

[2019-07-22 13:28] IanKemp commented on #35469
Both fail with status 400.

[2019-07-22 13:34] luabud opened #35592 "Add steps for setting up key vault in my application to this quickstart"
I was trying to set up Key Vault for my application and I started by following this quickstart (https://docs.microsoft.com/en-us/azure/key-vault/quick-create-portal). Since I was able to follow it successfully, I wanted to continue setting up my application through the portal. However, when I click on the button for "next steps", I'm redirected to a [tutorial](https://docs.microsoft.com/en-us/azur

[2019-07-22 13:36] ntlgr opened #35593 "Roadmap"
Could you please let us know what the roadmap is for this offering? Is it going to be become available in UK regions or only Europe? An indication of time frames would be great. Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf9a3b9-0427-61a0-98e1-7ae6075068d1
* Version Independent ID: 090cc181-96c2-2669-

[2019-07-22 13:36] liroforum opened #35594 "GetAccountsAsync() return empty"
When I try the above snippet I get no accounts back from the method, GetAccountsAsync(). Do I have to cache the account in the startup? I have raised my question in https://stackoverflow.com/questions/57134759/refresh-access-token-using-acquiretokensilent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e61dfb-6e76-57

[2019-07-22 13:37] CHEEKATLAPRADEEP-MSFT commented on #35572
@axelgMS  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-22 13:39] CHEEKATLAPRADEEP-MSFT commented on #35577
@spaelling  Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:39] PramodValavala-MSFT commented on #35382
@jovabel While the default template created now are `async` functions, the code present in the tutorial will work when replaced as the document instructs.

For `async` functions, you will have to use [`IAsyncCollector` as described in the docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#queue-trigger-write-docs-using-iasynccollector).

[2019-07-22 13:42] CHEEKATLAPRADEEP-MSFT commented on #35578
@ToMakeSense  Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:43] CHEEKATLAPRADEEP-MSFT commented on #35580
@imeya Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:45] CHEEKATLAPRADEEP-MSFT commented on #35583
@juyamaThanks for your feedback! We will investigate and update as appropriate.

[2019-07-22 13:46] CHEEKATLAPRADEEP-MSFT commented on #35585
@vladromAzure Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:47] CHEEKATLAPRADEEP-MSFT commented on #35586
@rudolfdobias Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:49] CHEEKATLAPRADEEP-MSFT commented on #35588
@chris31389 Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 13:57] CHEEKATLAPRADEEP-MSFT commented on #35589
@wennemer Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 14:02] CeciAc opened #35595 "Issues with tags in k8s.tf"
@wuerzelchen commented on [Sat Jul 20 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/476)

Terraform v0.12.5
+ provider.azurerm v1.31.0

   tags {
        Environment = "Development"
    }

should be
    tags = {
        Environment = "Development"
    }

---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-07-22 14:02] CeciAc commented on #35595
Hi team,
I moved this here because the user is making suggestions on the example code
kind regards

[2019-07-22 14:12] rayne-wiselman commented on #35498
I'm reviewing what's missing in our current articles re VM prereqs. I'm closing this issue in favor of a DevOps task
#please-close

[2019-07-22 14:12] #35498 closed

[2019-07-22 14:12] rayne-wiselman commented on #35499
I'm reviewing what's missing in our current articles re VM prereqs. I'm closing this issue in favor of a DevOps task
#please-close

[2019-07-22 14:12] #35499 closed

[2019-07-22 14:16] markmakes commented on #23027
Definitely need help with this too. Can't find any documentation on listing sub-directories for navigational purposes.

[2019-07-22 14:22] jiwen-wu opened #35596 "When tried in my windows 7 with visual studio professional 7, got the following error: The procedure entry point CreateFile2 could not be located in the dynamic link library KERNEL32.dll"
When tried in my windows 7 with visual studio professional 7, got the following error: The procedure entry point CreateFile2 could not be located in the dynamic link library KERNEL32.dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c01253-54e1-02da-e7f5-3be6bfbf2294
* Version Independent ID: 27dd48d8-d829-79ec-a5f8

[2019-07-22 14:26] jiwen-wu commented on #35596
Got the error while trying the example https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-csharp-dotnet-windows

Please help!

[2019-07-22 14:30] grandparoach commented on #35409
Part of it is because we have not been able to configure a Linux client to successfully work, so it would be helpful to have an example that we could follow to see what we are missing.  (CentOS 7 is what we are using)

The other part is just the message that is being sent.  Microsoft claims that Linux is a 1st class citizen on Azure, and 99.9% of the use cases involving LDAP will be Linux based, y

[2019-07-22 14:36] bobbytreed commented on #34512
Fixed by #82879

[2019-07-22 14:37] rothja commented on #35491
@BzSpi Thank you for your feedback. I need to get the help of a content lead in the Application Gateway team to review this request. I believe this is @vhorne. @vhorne, I'm assigning this to you, but please let me know if we should redirect this to anyone else. @BzSpi, thank you for your patience as we route this to the right person. #reassign:vhorne.

[2019-07-22 14:37] PRMerger15 commented on #35491
vhorne. is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-22 14:38] rachel-msft commented on #34872
@ttelfer - this parameter is not yet configurable in Azure Database for PostgreSQL. Our apologies for the inconvenience. We expect it to be available by September end.

[2019-07-22 14:39] rothja commented on #35491
#reassign:@vhorne

[2019-07-22 14:43] gabrielanimas commented on #35439
@travi I have 3 App services, all running the same application, just in different regions.  I set up a traffic manager profile for these 3 apps and followed the instructions in the article.  This is the error page I'm still seeing:
![Capture](https://user-images.githubusercontent.com/44586421/61641430-58e6cc00-ac5c-11e9-9559-abffa91332f2.PNG)

Since I want all of these apps to use the same domain

[2019-07-22 14:56] Weatwagon commented on #35466
I've experienced the same thing trying to create an 8 channel audio file, as we do not have the ROBO devkit at this time. With the file I crafted it will transcribe the audio but will not identify the speakers. The transcription only comes back on the "Recognizing" event, the "Recognized" event returns blank text and no unidentified participant.

How is the live demo achieved from Build 2018 keyno

[2019-07-22 14:58] atobrandon commented on #23029
@SaurabhSharma-MSFT I think I can provide some more information as I'm also seeing the issue that's described here.  Setting up the authentication is working fine.  However, the issue is that google requires our settings to be validated in order to have a custom logo on the consent screen.  Also, once the user tries to login they are going to see an OAuth consent screen that states,

However, we w

[2019-07-22 15:19] shashishailaj commented on #35349
@iainfoulds Could you please have this reviewed with engineering and see if the article updated as needed.

[2019-07-22 15:24] sergaz-msft commented on #35473
Pulling @PatAltimore to this conversation to help us validate that the Node and Truffle version you are using is compatible. Thanks!

[2019-07-22 15:27] MicahMcKittrick-MSFT commented on #35593
Thanks for the question! We are investigating and will update you shortly.

[2019-07-22 15:28] JoeDavies-MSFT commented on #35547
Try this construct:

Get-AzureADUser | Where-Object {$_.Department -in "IT","HR","Fin" }

[2019-07-22 15:29] mmacy commented on #35313
@KepanoEgg The fix has been merged and the updated docs should be live sometime after 10AM PST. Please note that this update serves only to restore functionality to the tutorial. Regarding your other statement about this tutorial series not helping you to integrate this into your own apps, this is an issue that I'll be looking into for this and several other tutorials. It's a longer-term project t

[2019-07-22 15:31] shashishailaj commented on #35177
@msmbaldwin Could you please have this reviewed and the document updated

[2019-07-22 15:34] MGoedtel commented on #35575
While the script is using the old AzureRM module cmdlets, our guidance is to encourage customers to upgrade from that module to the new Az module and enable compatibility mode for these circumstances while leveraging the improvements of the new module with your custom scripts or scripts that the different product groups have updated using cmdlets from the new module.  The note clearly states this

[2019-07-22 15:44] ManojReddy-MSFT commented on #35547
@JoeDavies-MSFT Thanks for the suggestion.
@Girishvtm I just tested this in my lab and it works as expected. You should be able to use this construct to filter as per your requirement.

[2019-07-22 16:06] jlian commented on #35567
Please see here to understand how c2d messages can become abandonnded/rejected.

Specifically

Reject the message, which causes the IoT hub to set it to the Dead lettered state. Devices that connect over the Message Queuing Telemetry Transport (MQTT) Protocol can't reject cloud-to-device messages.

[2019-07-22 16:16] jakaruna-MSFT commented on #35573
@SychevIgor Thanks for your questions.

Preview versions doesnt come under general support policy and should not be used for `production`.

Below note is from the documentation for the preview features
`AKS preview features are self-service, opt-in. They are provided to gather feedback and bugs from our community. In preview, these features aren't meant for production use. Features in public previ

[2019-07-22 16:21] Swimburger opened #35599 "Secure web server with SSL: Add-AzKeyVaultCertificate : Operation returned an invalid status code 'Forbidden'"
The `Add-AzKeyVaultCertificate` command will show the following error if you follow the commands exactly:
"Add-AzKeyVaultCertificate : Operation returned an invalid status code 'Forbidden'"

This is because the currently authed user isn't in the Access Policy yet, similar to [issue 21985](https://github.com/MicrosoftDocs/azure-docs/issues/21985).
Can extra commands be added to the tutorial to set

[2019-07-22 16:22] ntap512 commented on #33566
Azure Active Directory Services is supported, we'll add it to the list of supported options. Thanks!

[2019-07-22 16:22] ntap512 commented on #33723
Windows Server 2019 domain controllers are supported, we'll add it to the list of supported options. Thanks!

[2019-07-22 16:24] mmacy commented on #33100
Hello @pdeveau, regarding your comment on the `preferred_username` and `tid` claims not being returned:

Per [**Claims in access tokens**](https://docs.microsoft.com/azure/active-directory/develop/access-tokens#claims-in-access-tokens), both of those claims specify:

Can you verify whether you've included that scope?

[2019-07-22 16:30] #33100 closed

[2019-07-22 16:31] rothja commented on #34230
@derekschauland Thank you for this feedback! I sincerely apologize for the delay. I need to get someone on the key vault team to take a look at this request. I believe that @msmbaldwin is the right contact to start with. @msmbaldwin, could you help out with this issue? Thank you.

#reassign:@msmbaldwin

[2019-07-22 16:36] DCtheGeek commented on #35134
@OffColour Appreciate the perspective and thoughts.  I'm working to restructure the Policy content, so will take your comments into consideration.  Thanks for the discussion!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-07-22 16:36] #35134 closed

[2019-07-22 16:37] orspod commented on #34677
@jkrysicki - Azure Databricks supports auto-start regardless of the client that connects to the cluster (PowerBI or other client). Azure Data Explorer does not support auto-start but it’s possible to define an automation that stops and start a cluster using Microsoft Flow or LogicApps.

[2019-07-22 16:43] mmacy commented on #35344
@nezoic Hi Joshua, I'll be requesting closure on this issue by EOD today if no further comments or questions are made in response to @shashishailaj's request for additional info. If, however, you do have additional information, please let us know and we can keep this open/reopen as necessary. Thanks, -MM

[2019-07-22 16:46] YutongTie-MSFT commented on #35319
@ThomasRebel
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-22 16:46] #35319 closed

[2019-07-22 16:49] tfitzmac commented on #35570
@codlocker - sorry, there is not an API for getting this list.

[2019-07-22 16:54] SychevIgor commented on #35573
@jakaruna-MSFT awesome answer. Shortly, for me was not clear that AKS version falls to "AKS preview features". I didn't thought that version can be classified as feature.
After first answer - everything was already clear

[2019-07-22 16:54] #35573 closed

[2019-07-22 16:54] jlian commented on #34430
Ok I went back and read everything again. I think you might want to need to add an Event Hub stream input **manually** instead.

So you go to the IoT Hub endpoints page and look for the default **Events** endpoint. For my IoT Hub it looks like this

![image](https://user-images.githubusercontent.com/2320572/61649426-525d5200-ac66-11e9-9ae9-b9151195961a.png)

Where the Event Hub compatible endpoint

[2019-07-22 16:54] tfitzmac commented on #35579
@yucwan - sure, that sounds like a good idea. I will be in contact with you. Until then, I will close this item as it is probably not the best way to manage the work.

[2019-07-22 16:56] YutongTie-MSFT commented on #35120
@SuperSing
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-22 16:56] #35120 closed

[2019-07-22 16:57] ecfan commented on #35532
The product team has a hotfix going out, thanks!

[2019-07-22 16:58] MicahMcKittrick-MSFT commented on #34457
@iRainbow5 the permissions are all handled by the platform itself. Simply setting a diagnostics storage account will allow the VM to write data to that disk. Since it is setup via the platform there is no additional settings required from a user standpoint.

As per how it actually works on the backend, I am not sure. However, I see you are an FTE so if you like you can ping me offline and I can gi

[2019-07-22 16:58] #34457 closed

[2019-07-22 16:58] v-pethur opened #35600 "Please modify wording of "can continue to add Microsoft account users as Service Administrator""
Could the wording or punctuation in the "Limitations for changing the Service Administrator " section be modified so that it is absolutely clear how many Service Administrators can exist on an Azure subscription?
My concern is that in the current wording,  "can continue to add Microsoft account users as Service Administrator" it seems like it could be interpreted as:
Users can be added to as subsc

[2019-07-22 16:59] BharathNimmala-MSFT commented on #35480
@MatthewSteeples  Please refer to [this ](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all&products=app-configuration) page to understand the availability of the product in different Azure Regions. Specifically for North Europe , it will be available by GA of the service.

Hope the above information helps. Please feel free to revert back if you have any further queries

[2019-07-22 16:59] rothja commented on #33747
@MrCNeale Hello. We haven't heard back from you on the previous two questions. I'm not sure at this time which limit might be wrong. I will close this git issue now, but please feel free to respond and I will reopen to investigate further with you. Thanks for reaching out, and please contact us to continue this if needed!

#please-close

[2019-07-22 17:00] #33747 closed

[2019-07-22 17:00] tfitzmac commented on #34506
@DieselAnalytics - we will close this item now, but feel free to contact us if you have still have questions.

[2019-07-22 17:00] tfitzmac commented on #34506
#please-close

[2019-07-22 17:00] #34506 closed

[2019-07-22 17:05] YutongTie-MSFT commented on #35138
@LeeFramp Please go ahead to white list the IP Ranges for the specific data center you are deployed to instead of allowing all IPs from all Azure services.

Please check the following document: https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2019-07-22 17:05] #35138 closed

[2019-07-22 17:08] ggailey777 commented on #31867
Sorry for the delay, and that we will have to take this article down in the short-term. We are investigating how best to re-enable this functionality in Functions v2.x using the API Management integration.

[2019-07-22 17:08] #34512 closed

[2019-07-22 17:10] KranthiPakala-MSFT commented on #35424
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you.

[2019-07-22 17:10] #35424 closed

[2019-07-22 17:10] YutongTie-MSFT commented on #35574
@imeya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-22 17:17] #35537 closed

[2019-07-22 17:19] SaurabhSharma-MSFT commented on #35592
@luabud Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-22 17:19] msvijayn commented on #35470
PR is merged and changes are reflecting now.

#please-close

[2019-07-22 17:19] #35470 closed

[2019-07-22 17:20] SaurabhSharma-MSFT commented on #35234
@ashwin-sid We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-22 17:20] #35234 closed

[2019-07-22 17:24] CeciAc opened #35602 "Docs not updated"
@mregni commented on [Mon Jul 22 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/464)

The docs are not updated since Oct 2018 but it seems that DISTINCT is implemented and should be explained on this page (see following post: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/6719531-provide-support-for-distinct)

---
#### Documentdetails

⚠ *Dit gedeelte niet bew

[2019-07-22 17:29] PatAltimore commented on #35473
Hi @shreya6491, @sergaz-msft,

You can use the Azure Blockchain Development Kit for Ethereum to help with installation. https://marketplace.visualstudio.com/items?itemName=AzBlockchain.azure-blockchain. If you are missing a requirement, the welcome page will display the missing component. It can be a little tricky to get the right versions of the tools. If you start from a clean machine and use th

[2019-07-22 17:29] KrishnaG-MSFT commented on #35591
@SychevIgor Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-22 17:31] anavinahar opened #35603 "Public IP Prefix can also be used for VMSS and Application Gateway v2 SKU"
Missing documentation.
I'm the PM, created this issue for tracking purposes only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5d33e9-bcb3-3358-f859-c2ff3e71b131
* Version Independent ID: 5498280e-dd3c-bd46-9877-3506ad926dbd
* Content: [Azure Public IP address prefix](https://docs.microsoft.com/en-us/azure/virtual-

[2019-07-22 17:32] KranthiPakala-MSFT commented on #35453
@hung-doan Thanks for reaching out on this. We have assigned the issue to the content author, they will evaluate and update the document as appropriate.

[2019-07-22 17:32] KranthiPakala-MSFT commented on #35453
@gauravmalhot Could you please take a look into this.

[2019-07-22 17:34] KranthiPakala-MSFT commented on #35380
@hung-doan Thank you for reaching out. We have assigned the issue to the content author. They will evaluate and update as appropriate.

[2019-07-22 17:35] KranthiPakala-MSFT commented on #35380
@gauravmalhot Could you please take a look into this.

[2019-07-22 17:36] kulbirjandoria commented on #33099
Having the same error, when integrating workday with Azure AD

[2019-07-22 17:37] KranthiPakala-MSFT commented on #35383
@hung-doan To provide better assistance on this, we have assigned the issue to content author. They will evaluate and update as appropriate.

[2019-07-22 17:39] roygara commented on #35583
@juyama You are correct, thanks for reaching out and bringing this to our attention, we appreciate it!

We'll get this corrected by the end of the day.

#reassign: @roygara

[2019-07-22 17:44] MarileeTurscak-MSFT commented on #35231
Hope the above answers your question. Since I have not heard back I will proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-07-22 17:44] #35231 closed

[2019-07-22 17:49] MicahMcKittrick-MSFT commented on #35593
@romitgirdhar @cynthn any idea on this?

[2019-07-22 17:51] roygara commented on #35583
The change has been merged and will be live by the end of the day.

Thanks again for bringing this to our attention!

#please-close

[2019-07-22 17:51] #35583 closed

[2019-07-22 17:54] dstarr opened #35604 "Marketplace roadmap"
The roadmap document is out of date. We have containers transacting now, for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3c351d-a2e9-9f0b-e8c2-75a2009854e3
* Version Independent ID: dd8af514-128a-4d60-07ce-e193415455a7
* Content: [Azure Marketplace and AppSource Roadmap](https://docs.microsoft.com/en-us/a

[2019-07-22 17:54] MarileeTurscak-MSFT commented on #35600
@v-pethur
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-22 17:57] xieb0001 opened #35605 "error: overloaded method constructor ConnectionStringBuilder with alternatives"
Error: overloaded method constructor ConnectionStringBuilder with alternatives:
  (x$1: String)com.microsoft.azure.eventhubs.ConnectionStringBuilder &lt;and&gt;
  (x$1: java.net.URI,x$2: String,x$3: String)com.microsoft.azure.eventhubs.ConnectionStringBuilder &lt;and&gt;
  (x$1: java.net.URI,x$2: String,x$3: String,x$4: String)com.microsoft.azure.eventhubs.ConnectionStringBuilder &lt;and&gt;
  (x$

[2019-07-22 17:57] #35047 closed

[2019-07-22 18:01] YutongTie-MSFT commented on #35602
@timsander1 Hi Tim, could you please help to check this issue? Thank you.

[2019-07-22 18:01] thecherrytree commented on #12480
@Mike-Ubezzi-MSFT - it looks like those Redis Cache rules showed up several hours later. Is it possible for someone to explain this behavior before I submit a ticket? Is this "working as expected"?

[2019-07-22 18:02] xyh1 commented on #29834
#please-close

[2019-07-22 18:02] #29834 closed

[2019-07-22 18:02] xyh1 commented on #28776
#please-close

[2019-07-22 18:02] #28776 closed

[2019-07-22 18:02] MicahMcKittrick-MSFT commented on #35586
@rudolfdobias I ran through the example but was not able to repro the issue you are seeing.

I would suggest trying to run through the doc again and seeing if you are still having issues. Another problem could be with your AAD. Depending on your permission levels you might not have the correct permissions needed to complete the tutorial. What is your role in your AD?

[2019-07-22 18:10] VioYuan commented on #35571
no, I mean the machine learning model clustering

[2019-07-22 18:13] dave-read opened #35607 "Include general guidance/approach for limiting traffic in/out of the AKS subnet to meet customer specific security requirements"
The section https://docs.microsoft.com/en-us/azure/aks/concepts-security#azure-network-security-groups notes that the  NSGs managed by AKS allow traffic to flow appropriately by provide access to the API server, and are automatically modified by AKS in response to creation of load balancers etc.  _The NSG rules that AKS applies to NICs reflect the default behavior that all traffic is allowed withi

[2019-07-22 18:20] Adam-Smith-MSFT commented on #35398
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-22 18:20] #35398 closed

[2019-07-22 18:25] Mike-Ubezzi-MSFT commented on #12480
Hi Carson – I am having some issues accessing GitHub and hope by responding to this email thread that this makes it as a comment to the issue. Please file a support ticket for this, as I did escalate this to the product group. There may have been a manual intervention to resolve it but that is not a workable solution, nor is the delay if it wasn’t a manual intervention. Thank you!

Mike Ubezzi
Clo

[2019-07-22 18:27] artisticcheese opened #35610 "Is it possible to use dotsource operator to import scripts into current context?"
I have script in the same directory as `run.ps1` and trying to dot source into current scope but it fails with error below.

Import statement in `run.ps1`

`
. .\utility.ps1
`
Error

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae763f-03a9-b3b0-e7ad-52f9b1559438
* Version Independent ID: 2afd9c78-e5b0-5d34-b

[2019-07-22 18:28] KranthiPakala-MSFT commented on #35425
@basilwong Thanks much for sharing the details. I am looping in the content author to provide a better suggestion on this.

@nabhishek Hi Abhishek, Could you please suggest on the above query from @basilwong?

[2019-07-22 18:33] SaurabhSharma-MSFT commented on #35400
@hadr10 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-22 18:33] #35400 closed

[2019-07-22 18:34] prajster commented on #35513
It does, thanks.
    On ‎Monday‎, ‎July‎ ‎22‎, ‎2019‎ ‎06‎:‎04‎:‎25‎ ‎AM‎ ‎EDT, KARTHIK SRINIVAS <notifications@github.com> wrote:

@prajster , Do you have any update for me? Does the above response answers your question?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-22 18:34] MarileeTurscak-MSFT commented on #35590
@ad0m
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-22 18:36] MarileeTurscak-MSFT commented on #35594
@liroforum
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-22 18:41] jimmymcpeter commented on #35432
One more comment in step 4 it mentions to use the pattern of `https://<companyname>.intacct.com/ia/acct/sso_response.phtml` for the Reply URL.  We do not have sub-domains by company name.  It should just be `https://www.intacct.com/ia/acct/sso_response.phtml` as the Reply URL.

[2019-07-22 18:41] shashishailaj commented on #35287
@Skorfulose Thank you for sharing your findings. As this product is in preview at the moment hence the document is subject to change as per the final product specifications . We will close it for now and inform the team internally. However we would suggest to [provide feedback on uservoice](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160602) for this feature as the

[2019-07-22 18:48] gabrielanimas commented on #35439
@TravisCragg-MSFT To answer your earlier question, yes, I can still see the apps running on their xxx.azurewebsites.net urls

[2019-07-22 18:50] AjayKumar-MSFT commented on #35472
@gajo357,  You could build your own image that would install this without manual intervention. For a sample approach below, this requires no manual intervention since your docker file is built in the background, take a look at the doc section 'Build the image from the Docker file' -https://docs.microsoft.com/azure/app-service/containers/tutorial-custom-docker-image#build-the-image-from-the-docker-

[2019-07-22 18:52] pdeveau commented on #33100
I was using openid offline_access profile, but I've since dropped profile in that it wasn't giving me the tid.

[2019-07-22 19:02] marctalary commented on #31033
Probably an upgraded older one.  I would have still expected it as a dependency or reference to it in the docs.

[2019-07-22 19:02] #31033 closed

[2019-07-22 19:02] MicahMcKittrick-MSFT commented on #35577
@spaelling the information you found is correct. We do not currently have any JSON examples published as this feature is currently in preview. Once we move to GA more samples will be added.

Here is an example from the output of my az aks create

[code]

Also, if you navigate to the VMSS that was created you can look at the template that way. Here is a small sample of what mine looks like

[code]

[2019-07-22 19:11] #35513 closed

[2019-07-22 19:16] prajster commented on #35358
Azure Site Recovery - Setup and test disaster recovery for Azure virtual machines using Azure PowerShell
Last step with the replication setup for VMs with Managed disks

|
|
|
|  |  |

 |

 |
|
|  |
Azure Site Recovery - Setup and test disaster recovery for Azure virtual...

Learn how to set up disaster recovery for Azure virtual machines with Azure Site Recovery using Azure PowerShell.
 |

 |

 |

[2019-07-22 19:24] MicahMcKittrick-MSFT commented on #35544
@GuitaristForEver I am not aware of any documentation or if this is supported.

@mlearned @sauryadas any input on this one?

[2019-07-22 19:25] femsulu commented on #35604
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-22 19:28] MicahMcKittrick-MSFT commented on #34933
@bedro96 no worries :) Thank you for the video. It helps.

I have reached out to the product team offline. I will update once I hear back.

[2019-07-22 19:32] MicahMcKittrick-MSFT commented on #35009
adding @georgewallace in regards to the Windows doc. I also do not see any mention of Sinks in that doc.

The event hub doc for linux appears to still be valid though.

@hadr10 Can you elaborate? The link mentioned by @jjindrich seems to be the correct doc.

[2019-07-22 19:32] derekschauland commented on #34230
Thanks for following up - I think the key vault creation screen in the portal calls this limitation out,  but having this listed explicitly in the documentation would be extremely helpful to avoid confusion and issues if CLI or PowerShell fails for some reason and the user is unaware of the limitation.

thanks

Derek Schauland | MCSE | Microsoft MVP 2008 - 2018
________________________________
Fro

[2019-07-22 19:32] PRMerger14 commented on #34230
Only Microsoft employees can manage issues via commenting in this repo.

[2019-07-22 19:36] MicahMcKittrick-MSFT commented on #35221
@ondrejhlavacek any update on this?

[2019-07-22 19:41] mikenri opened #35612 "Region names not accurate"
The region names in the document are not accurately named.
It mentions "US East 1" and "US East 2" however there is no such region "US East 1".
There is "US East" and "US East 2"

Similarly there is no "West US 1" region, it just "West US"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184a

[2019-07-22 19:46] rohitnayakmsft commented on #35612
Nice catch Mike. Fixing this now

[2019-07-22 19:48] brettsam commented on #33443
We need to sit down and write some samples... it's definitely do-able.

[2019-07-22 19:49] joyerjude commented on #35441
Hi, we noticed similar behavior on systems that were hybrid ad joined.
Removing a hybrid ad joined system from the domain and making it part of a workgroup, did not help. We continued to see smart card and not security key.
Only after using a newly installed system (Win 10 1903 in our case)  that’s only joined Azure AD and has never joined any Local AD worked for us.

[2019-07-22 19:51] stuholden commented on #29895
I have the same issue:
PSVersion                      5.1.17763.592
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.592
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

PS C:\WINDOWS\system32> Install-Mod

[2019-07-22 19:52] KranthiPakala-MSFT commented on #35404
@mohakevin Thanks for clarifying on the ask. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-07-22 19:56] KranthiPakala-MSFT commented on #35605
@xieb0001 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-07-22 19:58] marcusclayton commented on #35441
My VM is a brand new Win10/1903 hyper-v VM, never Local AD joined (only Azure AD joined). Did you repro this issue using a laptop or hyper-v VM?

[2019-07-22 20:01] rohitnayakmsft commented on #35612
I have fixed the issue in our docs. How do I close this Github item? I do not see any way to take ownership of it.

Rohit Nayak
Sr. Program Manager – SQL Db Security Team

From: mikenri <notifications@github.com>
Sent: Monday, July 22, 2019 12:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rohit Nayak <Rohit.Nayak@microsoft.com>; Mention <mention@noreply.github.com>
Subject

[2019-07-22 20:10] KranthiPakala-MSFT commented on #35605
@xieb0001 Could you please confirm if you were experiencing this error while following this document? or Is it specific to a scenario? (Just wanted to double check since the article says to use Databricks 4.0 and you have mentioned you were using Databricks runtime version 5.4 (includes Apache Spark 2.4.3, Scala 2.11)).

[2019-07-22 20:14] NavtejSaini-MSFT commented on #35612
@rohitnayakmsft Closing this issue on your behalf.
@mikenri The Pull request for this change has been completed and you will see the changes once the documents merge. We are going ahead and closing this issue for now. Please get back to us if you have any further questions.

[2019-07-22 20:14] #35612 closed

[2019-07-22 20:15] TravisCragg-MSFT commented on #35595
@CeciAc Thanks for the feedback. We are actively investigating and will get back to you soon.

@MicahMcKittrick-MSFT can you add the service tag?

[2019-07-22 20:16] joyerjude commented on #35441
Earlier attempt was on a laptop.
Tried to reproduce it on a VM (VMWare).

I have the same results as you do. I see a security key and also a smart card.
However, Security key option does not work. It keeps asking you to insert the security key. Yubikey is also identified by VMWare as yubikey 4 not 5.

[2019-07-22 20:17] xieb0001 commented on #35605
I've also tried with Databricks runtime version 5.5. still facing the same error.

[2019-07-22 20:17] TravisCragg-MSFT commented on #35603
@anavinahar This issue is assigned to you, let me know if any further action is needed on my end.

[2019-07-22 20:22] KranthiPakala-MSFT commented on #35605
@xieb0001 Thanks for your response. I mean to ask if you have tried using Databricks runtime version 4.0(inlcudes Apache Spark 2.3.0, Scala2.11)?

[2019-07-22 20:22] PeterTurcan commented on #35202
@buildbod
Can you tell me which device and browser you are using, and perhaps attach a screen shot of the issue - just to make sure I am addressing the problems you found?

[2019-07-22 20:26] NavtejSaini-MSFT commented on #34872
@ttelfer As conveyed by @rachel-msft the functionality is not currently available in postgresql and will be available soon.
At this time we are going ahead and closing this issue. If you have any questions , please get back to us.

[2019-07-22 20:26] #34872 closed

[2019-07-22 20:30] satls opened #35613 "Missing ARM template reference"
Please add information about managing an App config resource with an ARM template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f3b0557-08c3-66df-52ff-b7870effc795
* Version Independent ID: bc816622-45cd-423f-79a4-c2c0b71855e0
* Content: [Azure CLI Script Sample - Create an Azure App Configuration Store](https://docs

[2019-07-22 20:30] cktechative opened #35614 "Managed Identity (user assigned)"
Is it possible to grant a Managed Identity permissions in a different tenant?
BR
Christian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdfb9148-5d81-f65e-3cb3-aa7c5eb5867b
* Version Independent ID: 5051db4d-83d1-a230-6fcb-9238a384961d
* Content: [Authenticate with managed identities - Azure Logic Apps](https://docs.

[2019-07-22 20:31] satls opened #35615 "Missing how to configure with an ARM template"
Please include information about configuring an app configuration resource with an ARM template.
- adding a feature flag with an arm template
- adding a configuration value with an arm template
- retrieving a connection string with an arm template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48545e6e-02ea-1a4a-c74a-8

[2019-07-22 20:41] Karishma-Tiwari-MSFT commented on #35553
Thanks for sharing the doc link. I have added the right team to take a look and update the doc or consult the product team as needed.

[2019-07-22 20:42] nicholasodonnell opened #35616 "AADSTS900382 is missing"
Missing `AADSTS900382: Confidential Client is not supported in Cross Cloud request.` on this page https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

[2019-07-22 20:50] xieb0001 commented on #35605
I am following the doc exactly. I don't see 4.0 version available to choose, only: 3.5 LTS, then 5.1 onwards.

[2019-07-22 20:59] conork123 commented on #35563
@msrini-MSFT - Check the doc above where it mentions protocol - 'Protocol	TCP, UDP, ICMP or Any.'
I can't add a screenshot in, but an actual NSG rule allows only TCP, UDP, or Any. No sign of ICMP.

Looks much like this screenshot -https://aidanfinn.com/wp-content/uploads/2019/03/DenyAllFromAll.png

[2019-07-22 21:01] dargilco opened #35617 "Typo tex-to-speech"
Please search for the string "tex-to-speech" and fix it. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c9
* Version Independent ID: dbd55a99-dbde-a3f3-47a5-ded8309e2748
* Content: [Speech Synthesis Markup Language (SSML) - Speech Services - Azure Cognitive Services](https://do

[2019-07-22 21:01] SergiuTripon opened #35618 "Portal deployment center failure"
Steps:

1. Create doployment slot within web app
2. Click on Deployment Center
3. Select External
4. Select App Service Build Service
5. Enter repository URL
6. Enter branch name
7. Click Continue

Nothing happens after this step. I checked the console and I can see the below:

Failed to load resource: the server responded with a status of 401 ()
main.3c5e9222f57de4d62753.bundle.js:1

[CICD] - Res

[2019-07-22 21:03] ondrejhlavacek commented on #35221
@MicahMcKittrick-MSFT I think I have settled with the solution proposed in the docs (using `kured`). Will try to set up the whole stack so that an invoked reboot will have minimum impact (eg. `maxUnavailable: 1`) and will observe the behavior. In case it will cause some significant performance loss we'll be forced to examine further. Thanks a lot for your time!

[2019-07-22 21:08] briantaintor commented on #34933
@bedro96 @MicahMcKittrick-MSFT The HTML5 client does not currently support IME input. This is a known issue that has been reported by a number of internal folks as well as external customers. This is a high priority feature for our team which we plan to implement in August.

[2019-07-22 21:11] kobulloc-MSFT commented on #35615
@satls Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-22 21:12] kobulloc-MSFT commented on #35613
@satls Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-22 21:14] femsulu commented on #34881
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-22 21:14] #34881 closed

[2019-07-22 21:16] femsulu commented on #32033
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-22 21:16] #32033 closed

[2019-07-22 21:18] gituser227 opened #35619 "The Properties are displayed, but what about Metadata?"
The Properties are visible, but what about Metadata that was added to Blobs?  Is the Metadata deleted during the soft delete process, or it's just not visible from the Portal?  If the Metadata was not wiped out during this process, how can Metadata be viewed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479

[2019-07-22 21:21] KranthiPakala-MSFT commented on #35605
@xieb0001 Thanks for providing the details and bringing this to our notice. We will followup with content author on this.

@lenadroid Could you please take a look into this. The document describes to use Databricks 4.0 but as @xieb0001 mentioned we are not seeing 4.0 version. We only see 3.5 LTS, then 5.1 onwards.

[2019-07-22 21:22] erhopf commented on #35617
@dargilco - We'll put this change in our queue. For small items like this, you can submit a PR against the repo and it will automerge. This means you won't need to wait on us to get to this item in our backlog.

[2019-07-22 21:22] MarileeTurscak-MSFT commented on #35600
@v-pethur I made a pull request to add the note, "There can only be one Service Administrator per Azure subscription."

@rolyon

https://github.com/MicrosoftDocs/azure-docs-pr/pull/82945

[2019-07-22 21:22] #35600 closed

[2019-07-22 21:24] distracteddev commented on #35484
Myself and a colleague ran into this issue as well. The Admin Consent documentation does not make it clear that after an admin has granted consent, all you need to do is log the non-admin users in via the typical OAuth code-grant flow and the resulting access tokens will have access to all scopes requested in the code-grant flow AND all the scopes consented to by the admin.

Its a little unexpecte

[2019-07-22 21:24] MicahMcKittrick-MSFT commented on #34933
Thanks @briantaintor !

@bedro96 so as Bryan mentioned, this is a known problem. Thank you for bringing it to my attention. I will go ahead and close this out. If you have further questions just let me know.

[2019-07-22 21:24] #34933 closed

[2019-07-22 21:25] sbhuttan commented on #32626
Grace/@wrosenuance - Thanks a lot for the details. I finally was able to get back around to this. I am able to setup User instructions above. Though trying to follow instruction related to "Modify ASP.NET Project", is throwing a type load exception. I have created a ticket here - https://github.com/Azure/azure-sdk-for-net/issues/7003. Will update here as well (for reference), when I am able to com

[2019-07-22 21:26] Alberto-Vega-MSFT commented on #35538
@Shri-Humrudha Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-22 21:28] djpmsft commented on #34517
@michaelhambe We are adding this functionality back this week. You can expect to see it in your production environment either Wednesday or Thursday

[2019-07-22 21:29] djpmsft commented on #34517
closed #34517

[2019-07-22 21:30] djpmsft commented on #34517
#please-close

[2019-07-22 21:30] #34517 closed

[2019-07-22 21:30] Karishma-Tiwari-MSFT commented on #34407
@jluk Is there anyone else who can help with this while Mikkel is out of office. Thanks. :)

[2019-07-22 21:31] Karishma-Tiwari-MSFT commented on #35511
@rramoscabral Please share the doc you are referring to, so that I can involve the right team.

[2019-07-22 21:32] Karishma-Tiwari-MSFT commented on #35519
@marrichamsft Please share the doc you are referring to, so that I can involve the right team.

[2019-07-22 21:32] algorni opened #35620 "Deployment slots GA"
Is Deployment slots for Functions really GA for "non consumption" plans for Linux and Windows?
I tried to create a new Linux Functions App (code based NOT Container based) and the portal still shows "(Preview)" close to the "Slots" feature here.

Same happens if i create a windows function apps backed by an app service plan (again not consumption)

---
#### Document Details

⚠ *Do not edit this se

[2019-07-22 21:33] FrankHu-MSFT commented on #35484
@distracteddev thanks for letting us know this feedback. We'll look into adding a note somewhere that says to provide this kind of information. I'll keep this git issue open until we've put in something to properly  save customer's time.

[2019-07-22 21:34] ColbyTresness commented on #35620
@ahmedelnably

[2019-07-22 21:36] ondrejhlavacek commented on #35221
Oh my, I may just have to use `maxUnavailable: 0`! Somehow I thought value of `0` will disable the `maxUnavailable` constraint.

[2019-07-22 21:37] FrankHu-MSFT commented on #34954
@mliudev you're absolutely right, and we're looking into this issue and will get back to you. We appreciate the feedback, and hope to provide a more friendly developer experience. I'll let the product group team know about this.

I also suggest filing this in uservoice here : https://feedback.azure.com/forums/169401-azure-active-directory

[2019-07-22 21:37] Karishma-Tiwari-MSFT commented on #35599
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-22 21:37] distracteddev commented on #35484
Thanks a ton! Really appreciate your responsiveness on the issue. In retrospect, we should have reached out for help sooner.

[2019-07-22 21:38] Karishma-Tiwari-MSFT commented on #35607
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-22 21:39] jluk commented on #34407
@palma21 or @macols do you know if there is a work around for this today? To my knowledge this is new functionality we need to deliver given same version upgrade won't work on a non-failed state cluster.

[2019-07-22 21:44] snarkywolverine commented on #35526
Thanks, that answers the question.

[2019-07-22 21:44] #35526 closed

[2019-07-22 21:46] Alberto-Vega-MSFT commented on #35261
@josephmwells I see that the code described in the steps doesn't match the full source. When it should be the outcome of following the steps. Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-22 21:47] jinzh-azureiot commented on #35528
This is an article copied from our data provider TomTom https://developer.tomtom.com/maps-api/maps-api-documentation/zoom-levels-and-tile-grid. I'll follow up with my colleague who has been working with TomTom as well as our contact in TomTom regarding this feedback

[2019-07-22 21:54] MicahMcKittrick-MSFT commented on #35595
@wuerzelchen I ran through the doc as written however I did not run into any issues.

Can you elaborate on the problem you are seeing? Any specific errors?

[2019-07-22 21:55] rramoscabral commented on #35511
Hi Karishma,

It was my mistake. After returning to read the documentation more carefully I realized that I made confusion between the following pages of documentation:

https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-publish-answer
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/csharp

When I tried the code maybe I changed the wi

[2019-07-22 21:56] femsulu commented on #34952
@cagrijal We will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2019-07-22 21:57] #34952 closed

[2019-07-22 22:00] MicahMcKittrick-MSFT commented on #35221
@ondrejhlavacek glad to hear it! If you see any further issues while you test implementation just let me know and we can always reopen and continue the discussion.

[2019-07-22 22:00] #35221 closed

[2019-07-22 22:01] MicahMcKittrick-MSFT commented on #35408
I will close this out for now. If you have further questions just let me know and we can always reopen and continue.

[2019-07-22 22:01] #35408 closed

[2019-07-22 22:05] lXbalanque opened #35622 "Section needs clarification regarding Microsoft Surface devices..."
This section should address Microsoft Surface Pro devices. It says to reach out to the hardware OEM but in this case it would be MS. Google searches have come up fruitless so I'm hoping maybe I just missed the documentation on how to do this somewhere. Should I expect Hybrid AAD joins to fail on all of my Surface devices? Per the spec sheet for my own Surface Laptop 2, the TPM is FIPS compliant bu

[2019-07-22 22:07] #35617 closed

[2019-07-22 22:18] MicahMcKittrick-MSFT commented on #35303
@shadySirhan thanks for that! I created a new Cloud Service and logged into the machine to check as well. As you mentioned, I also do not see .NET 4.7.2

I do see .NET 4.6 though

![2019-07-22 15_14_20-WorkerRole1_IN_0 - micahcs cloudapp net - Remote Desktop Connection](https://user-images.githubusercontent.com/32313503/61669101-b4807c00-ac93-11e9-84c6-c3d623268222.jpg)

@raiye @mmccrory can one o

[2019-07-22 22:24] kobulloc-MSFT commented on #35427
@vector-sigma Thank you again for bringing this to our attention.  You are correct, the link in the document shows no results for all countries, all products, and all locations.  The link is correct, the document author has been made aware of this, and the issue is currently being triaged.

We are going to close this thread as resolved but if there are any further questions regarding the documenta

[2019-07-22 22:24] #35427 closed

[2019-07-22 22:26] mmacy commented on #34798
@KepanoEgg Requesting this issue be closed as the original question has been addressed. On next rev of this article I'll highlight the lowercase requirement, thanks for the call-out.

#please-close

[2019-07-22 22:26] #34798 closed

[2019-07-22 22:27] mike-urnun-msft commented on #35585
@vladromAzure Were you looking for ways to add API Connections from when working in VS Code?

[2019-07-22 22:29] raiye commented on #35303
@Erik Swart (TEKsystems Inc)<mailto:v-erswar@microsoft.com> to look into this

-Rashmi Iyer

From: Micah <notifications@github.com>
Sent: Monday, July 22, 2019 3:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] osFamily=5 does not contain 4.7.2! (#35303)

@shadySirh

[2019-07-22 22:33] DonFrazier opened #35624 "My Applications link is deprecated"
Banner at top of My Applications link:

Application registrations portal has been deprecated for registering and managing converged applications since May 2019 and this functionality will be removed starting September 2019. We recommend that you manage your existing applications and register new applications by using the App registrations (now Generally Available) experience in the Azure portal. C

[2019-07-22 22:35] MicahMcKittrick-MSFT commented on #35411
Thanks for the update all! Apologies for the delay in response. I was out for the weekend.

Appears the issue is no longer present. Is that correct?

[2019-07-22 22:35] MicahMcKittrick-MSFT commented on #35577
I will close this for now but if you have further questions or issues just let me know and we can always reopen and continue the discussion.

[2019-07-22 22:35] #35577 closed

[2019-07-22 22:36] ahmedelnably commented on #35620
Yes, for non consumption functions plans slots is GA. We will be pushing a new portal release in the coming weeks and we will be removing the preview tag with the GA of windows consumption slots.

[2019-07-22 22:38] kmansel opened #35625 "MacOS support"
Hi everyone.  Nice and easy tutorial to read here.  I've got everything loaded and compiling correctly on macOS.  However, I'm getting a 503 when trying to run the app.  I've verified that my credentials are correct and I've successfully run the speech to text example on macOS.  I'm wondering if there is any specific reason this LUIS example shouldn't run on macOS?

---
#### Document Details

⚠ *D

[2019-07-22 22:46] JimacoMS3 commented on #24580
Hi @inesk-vt . I've updated the introduction here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-monitoring-notifications-with-azure-logic-apps#what-you-learn with further explanation and an example message. As I stated before, we'll take changing the sample code under advisement at this time. Please let me know if we can now close this issue.

[2019-07-22 22:47] mike-urnun-msft commented on #35610
Hi @artisticcheese - Thank you for your feedback! We will review and update as appropriate.

[2019-07-22 22:48] mike-urnun-msft commented on #35614
Hi @cktechative - Thank you for your feedback! We will review and update as appropriate.

[2019-07-22 22:50] Mike-Ubezzi-MSFT commented on #24229
I see that. The tutorial is using domain accounts and not SQL Authentication but I see that there is nothing in regard to connecting with SSMS or creating a user account. Let me check with the content author. Thank you for following up with this.

[2019-07-22 22:52] msmimart commented on #30269
Hi @orbus-dkreivenas, the product group has confirmed that the expected behavior is this: We make a PUT / PATCH request to update the user when soft deleted in Azure AD. Once the user is hard deleted, we make a delete request. Did you end up seeing this behavior? If not, the team recommends opening a support case or a new forum thread in [Azure Community forum](https://azure.microsoft.com/en-us/su

[2019-07-22 22:54] Mike-Ubezzi-MSFT commented on #24229
@MikeRayMSFT Is there supposed to be a user identified/created with this tutorial to access the SQL Server instance via SSMS (for instance)? @CarlRabeler for awareness. The VM is set-up to explicitly deny SQL Server authentication (per @SimonGivan latest comment) yet none of the domain logins appear to work?

[2019-07-22 22:55] djpmsft commented on #29555
The article has been updated and includes a section on pipeline parameters. Apologies that the earlier guide was confusing

[2019-07-22 22:56] djpmsft commented on #29555
#please-close

[2019-07-22 22:56] #29555 closed

[2019-07-22 22:56] wuerzelchen commented on #35595
When you look into the Part: https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-tf-and-aks#define-a-kubernetes-cluster

in the example for the k8s.tf content in the block:
[code]
The error which results in executing without the equal sign:
[code]

[2019-07-22 22:57] djpmsft commented on #21281
Hi there,

This article has just been updated and now includes a section on pipeline parameterization under step 10. If you have additional questions, feel free to reopen the issue.

Thanks,
Daniel

[2019-07-22 22:57] djpmsft commented on #21281
#please-close

[2019-07-22 22:57] #21281 closed

[2019-07-22 23:05] MicahMcKittrick-MSFT commented on #35595
@wuerzelchen thanks for that. Maybe I missed something.

I will assign to the author to review and confirm.

[2019-07-22 23:08] ninarn commented on #34827
Thank you for your patience I have an update on this issue. My team is confident that they know the cause of your issue and they have implemented a fix that should go out soon. Please wait until late this week or early next week and try again. Once this fix is in place, if you encounter the issue, you will be able to click 'Try again' and it should work the second time.
I should also add clarifica

[2019-07-22 23:08] ttelfer commented on #34872
@rachel-msft and @NavtejSaini-MSFT I'm confused how to deal with backup and restores without this feature. Does this mean that my backups are not going to work? Is this extension on Azure Postgresql unsafe to run in production?

[2019-07-22 23:09] raiye commented on #35303
FYI:  In process of checking with the build team.

-Erik

From: Rashmi Iyer <raiye@microsoft.com>
Sent: Monday, July 22, 2019 3:30 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Erik Swart (TEKsystems Inc) <v-erswar@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] osFamily=5 does not

[2019-07-22 23:13] rboucher commented on #34749
@MrLokeshV Is there group we are talking about an "Action Group" or some other type of distribution or RBAC group? Using action groups, you can send emails to multiple people.  Each one is just on a different line vs. separated by a semi-colon. You can send it up to 1000 people per https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits.   Let me know if I've missed something.

[2019-07-22 23:20] v-erswar commented on #35303
OK, just got word back that WS16 doesn’t have 4.7.2 installed.

-Erik

From: Rashmi Iyer <notifications@github.com>
Sent: Monday, July 22, 2019 4:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Erik Swart (TEKsystems Inc) <v-erswar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] osFamily=5 does not contain 4.7.2! (#35303)

FYI: In

[2019-07-22 23:24] MicahMcKittrick-MSFT commented on #35303
Thanks @raiye and @v-erswar

I will update the doc then and remove that to avoid further confusion.

[2019-07-22 23:26] MicahMcKittrick-MSFT commented on #35303
@shadySirhan I submitted a PR to correct the doc. Thank you for pointing this out. As mentioned above, we did not expect to have 4.7.2 installed so it was a simple doc mistake.

Once the PR merges the changes will go live after a few hours. I will close this but if you have additional questions just let me know.

[2019-07-22 23:26] #35303 closed

[2019-07-22 23:27] CarlRabeler commented on #24229
@VanMSFT @MashaMSFT this customer is having some issues with login authentication to an Azure VM using SSMS. It does not appear that he is trying to use Azure SQL Database (PaaS) but rather a VM (IaaS). Can you review and assist / direct Simon and/or improve the docs?
Thanks,
Carl

[2019-07-22 23:30] barbkess commented on #21660
Please assign to @CelesteDG

[2019-07-22 23:30] Adam-Smith-MSFT commented on #35619
Metadata will be deleted if the objects related to it gets deleted, or overwritten. @tamram would you be able to confirm ?

[2019-07-22 23:41] vladromAzure commented on #35585
Yes

Kind regards,
Vlad

________________________________
From: Mike Urnun <notifications@github.com>
Sent: Tuesday, July 23, 2019 12:27:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vladromAzure <vladrom@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to add connections? (#35585)

@vladromAzure<https://github.com/vladromAzure

[2019-07-22 23:45] tesych commented on #35533
@Shri-Humrudha please make sure that you use the code just like in the documentation. Please see below:
char *serial = (char*)(malloc(serial_size));

[2019-07-22 23:48] Grace-MacJones-MSFT commented on #35624
Hi @don4of4, are you referring to a link in this doc or a link in the azure portal? Can you share a screenshot of where the banner is located?

[2019-07-22 23:54] YutongTie-MSFT commented on #35596
@jiwen-wu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-22 23:57] sameer-kumar commented on #35411
Issue still exists. Same error with AKS spn. However, no error with custom
spn.

On Mon, Jul 22, 2019, 6:35 PM Micah <notifications@github.com> wrote:

[2019-07-22 23:58] Shri-Humrudha commented on #35533
The document says this.
[image: image.png]

On Mon, Jul 22, 2019 at 4:45 PM Tetyana Sych <notifications@github.com>
wrote:

--
With Regards,
J.SHRI HUMRUDHA

[2019-07-22 23:59] YutongTie-MSFT commented on #35625
@kmansel
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 00:06] Karishma-Tiwari-MSFT commented on #35511
@rramoscabral Thanks for sharing the update. I am glad you were able to resolve your issue.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-23 00:06] #35511 closed

[2019-07-23 00:13] kumarallamraju opened #35627 "Typo in jboss cli file name"
[Enter feedback here]

The actual file name is jboss_cli_commands.cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b32e3-9a21-233f-0056-b5bd970b47f2
* Version Independent ID: 5e09b057-afba-d0a0-6fc0-94a78edd539f
* Content: [Build Java Enterprise web app on Linux - Azure App Service](https://docs.microsoft.com/en-u

[2019-07-23 00:13] #28118 closed

[2019-07-23 00:13] kobulloc-MSFT commented on #28118
The content was updated to address this issue.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-23 00:15] KeiroKamioka0000 commented on #35567
Thanks!

[2019-07-23 00:15] #35567 closed

[2019-07-23 00:15] kobulloc-MSFT commented on #28173
@mydiemho This appears to have been updated.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-23 00:15] #28173 closed

[2019-07-23 00:23] YasinMSFT opened #35628 "Not clear which VS version user should install"
Also 'Desktop development with C++' just redirects to support page. Is this where it is supposed to go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf8b1c7-7e47-f9fd-67f7-64d56791e0f1
* Version Independent ID: 5524a7f4-3a42-9641-73c1-4161be8ade08
* Content: [Create an Azure plug and play device](https://review.docs

[2019-07-23 00:24] SaurabhSharma-MSFT commented on #35306
@vpatel55 You can use the [Azure Support link](https://aka.ms/azsupt) to open a support ticket.  In order to actually know if this is a bug or it is an environmental issue we are asking you to open a support ticket so that we can dig further into this.

[2019-07-23 00:26] kumarallamraju opened #35629 "Incorrect reference to in-memory database. Is it H2 or H3?"
[Enter feedback here]

I found references to H2 and H3 database. Which one is it?
1. At this point, the application is using an in-memory H2 database.

2. previous H3 in-memory database.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b32e3-9a21-233f-0056-b5bd970b47f2
* Version Independent ID: 5e09b057-afba-d0a0-6fc0-

[2019-07-23 00:26] kobulloc-MSFT commented on #28132
@ToddTaylor We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-23 00:30] kobulloc-MSFT commented on #29811
@vdevappa Thank you again for submitting your script!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-23 00:30] #29811 closed

[2019-07-23 00:33] KranthiPakala-MSFT commented on #35314
@RanjithPC I was able to reproduce the issue. We have reached out to the internal team to get more info on this. We will keep you posted once we hear back. Apologizes for the inconvenience.

[2019-07-23 00:34] dcbrown16 opened #35630 "Max parallelism"
If we were to submit a copy count of 800 in parallel mode, are those ALL processed in parallel or is there some other limit to the number of parallel deployments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12ec3
* Version Independent ID: ab404f2d-5eb8-4e7e-fc37-ad785dcf852f
* Content:

[2019-07-23 00:37] FrankHu-MSFT commented on #35441
Hey All,

I'm sorry that you all are having issues with this. As this is in preview, it's still possible that there are issues with the service. I'm currently engaging with the product group that handles this and will get back to you as soon as possible.

Thanks!

[2019-07-23 00:40] psallis commented on #35478
I've asked this type of question a few times and still waiting for a definite answer. Seems like a massive limitation if not.

[2019-07-23 00:41] KranthiPakala-MSFT commented on #35404
@hrasheed-msft Could you please look into the comment from @mohakevin ?

[2019-07-23 00:43] kobulloc-MSFT commented on #30353
@Samaws1 We apologize for the delay!  The updated Azure Pipelines link has been merged and should be live soon.  Thank you again for bringing this to our attention.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-23 00:43] #30353 closed

[2019-07-23 00:46] msimecek commented on #35625
I can confirm that the same happens on Windows and for different datacenters.

`WebSocket Upgrade failed with HTTP status code: 503`

[2019-07-23 01:07] mikebudzynski commented on #35554
@dave-mccollough Thanks for opening the Issue. The fix will be propagated shortly.

#please-close

[2019-07-23 01:07] #35554 closed

[2019-07-23 01:14] kobulloc-MSFT commented on #32284
@cijothomas, @mrbullwinkle, this appears to have been updated, closing.

[2019-07-23 01:14] #32284 closed

[2019-07-23 01:19] zhenyufu opened #35633 "Supported locales ?"
What is the actual supported `mkt` list for Bing spell checker? The list on this page is different from:
https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-spell-check-api-v7-reference#market-codes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e03b67-8c6c-2749-7778-99f7dca069c6
* Version Ind

[2019-07-23 01:19] kobulloc-MSFT commented on #32288
@cijothomas The screenshots have been updated.  Thank you again for bringing this to our attention.  Closing.

[2019-07-23 01:19] #32288 closed

[2019-07-23 01:26] glaucia86 opened #35634 "TypeError - Detection Doc"
Hi, I tried the quickstart for Node.js, but it didn't work. I get in the prompt command and return to me the following Error: TypeError: TypeError: TrainingApi.TrainingAPIModels.Region is not a constructor

[![Screen-Shot-07-22-19-at-10-27-PM.png](https://i.postimg.cc/fTQk8VRn/Screen-Shot-07-22-19-at-10-27-PM.png)](https://postimg.cc/vDXQBHn3)

[![Screen-Shot-07-22-19-at-10-28-PM.png](https://i.po

[2019-07-23 01:44] imeya commented on #21621
@SumanthMarigowda-MSFT , thank you. The answer works.

[2019-07-23 01:44] #21621 closed

[2019-07-23 01:51] wickste opened #35635 "Link for "add a map to visualize the location in the device dashboard" points to a section that doesn't apply"
In the location as device property section the link behind "add a map to visualize the location in the device dashboard" points to a section that explains how to visualize location measurements (which is different from location device property). The doc explain how to visualize it for both measurement and property respectively.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-07-23 01:57] marrichamsft commented on #35519
I was not able to get back to it but it was the wuickstart.  Specifically the section with CMAKE for creating the sinulated device

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, July 22, 2019 2:32:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Martin Richard <marricha@microso

[2019-07-23 02:01] netapp-juliec commented on #33566
Thank you, Will (@ntap512).

The [SMB section ](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-faqs#smb-faqs) of the FAQ article has been updated to note the support for Azure Active Directory Services.

#please-close 33566

[2019-07-23 02:01] PRMerger6 commented on #33566
Only Microsoft employees can manage issues via commenting in this repo.

[2019-07-23 02:09] daveRendon opened #35636 "Video not working"
An error occurred. Please try again later. (Playback ID: WJy1aG00FsBTrNtv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac3c529f-fe57-558f-bd90-02162ff531e8
* Version Independent ID: 8300d958-120e-16c1-09cc-29740e6fae00
* Content: [Overview of Azure Monitor for containers](https://docs.microsoft.com/en-us/azure/azure

[2019-07-23 02:27] ronortloff commented on #35264
submitted an update to the query example.  Thanks for the feedback.

[2019-07-23 02:27] ronortloff commented on #35264
#please-close

[2019-07-23 02:27] #35264 closed

[2019-07-23 02:32] erammunawwar opened #35637 "No sample available for textType=html"
Hi, I am trying to translate a document using the text translator API. How do we pass this html file to the request? I read the file and tried to pass it in both parameters (data and json) of request. But it doesn't work either way. Can I please get any link where textType html is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-07-23 02:33] dcbrown16 commented on #34512
Thanks @ikanni and @bobbytreed !

[2019-07-23 02:50] hrasheed-msft commented on #35404
@KranthiPakala-MSFT I have engaged someone from the product team to advise if we can provide updated steps for Hive 4.0. Thanks.

[2019-07-23 02:53] tashb commented on #34113
Hi the above issue still exists: link under: learn about setting up other aspects of security, see Azure Data Lake Storage Gen2 security guide still refers to review.docs.microsoft.com instead of docs.microsoft.com (see above).

[2019-07-23 02:54] KrishnaG-MSFT commented on #35636
@daveRendon Thanks for the comment. We are actively investigating the issue and will get back to you shortly with an update.

[2019-07-23 02:54] wucj opened #35639 "Inconsistency scope between query parameter and azure settings"
Hi there,

Have a question about the scope setting and how is the relation between v2.0 api and Azure permissions settings.
Below is the first leg of OAuth, we composed url with few scope in the query parameters and redirect user to login and consent few permissions.

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&client_id=client_id&redirect_uri=https%3A%2F%2Flo

[2019-07-23 02:56] MartinJaffer-MSFT commented on #35383
@hung-doan thank you for the feedback.  Documenting an example how-to-hotfix does sound like a great idea.

[2019-07-23 02:57] KrishnaG-MSFT commented on #35630
@dcbrown16 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-23 03:25] kailisupport opened #35640 "Hive table creation location issue (namespace variable "${hiveconf:Output}")"
Hi there,
While I was running the pipeline under the "trigger a pipeline" section, I got "Hive table hivesampleout not found" error after making a few failed runs. I referenced the Hive official documentation and found that "hiveconf" is a namespace configuration that need to be configured under the "hive-site.xml". Also, I would have to create the hdfs path location prior to triggering the pipeli

[2019-07-23 03:34] SnehaAgrawal-MSFT commented on #35627
@kumarallamraju Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 03:35] SnehaAgrawal-MSFT commented on #35629
@kumarallamraju Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 03:51] MartinJaffer-MSFT commented on #35391
@bl-deepakchawla
`copy_activity = CopyActivity('copyBlobtoBlob',inputs=[dsin_ref], outputs=[dsOut_ref], source=blob_source, sink=blob_sink)`
should be
`copy_activity = CopyActivity(**name=**'copyBlobtoBlob',inputs=[dsin_ref], outputs=[dsOut_ref], source=blob_source, sink=blob_sink)`

[2019-07-23 03:53] MartinJaffer-MSFT commented on #35391
@bl-deepakchawla Thank you for bringing this to our attention.  While reproducing your issue I discovered many other bugs in the document.  I will make appropriate changes.  Most of the changes involve changing positional arguments to keyword arguments.

[2019-07-23 03:59] MartinJaffer-MSFT commented on #35391
Changes to be made:
SecureString(value=...
LinkedServiceReference(reference_name=
AzureBlobDataset(linked_service_name=
DatasetReference(reference_name=
CopyActivity(name=

please let me know if I missed any.

[2019-07-23 04:01] rofangaci opened #35641 "maven plugin version issue"
i need to use maven.azure.plugin 1.6.0, git repo still use 1.5.1, which has deploy fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b32e3-9a21-233f-0056-b5bd970b47f2
* Version Independent ID: 5e09b057-afba-d0a0-6fc0-94a78edd539f
* Content: [Build Java Enterprise web app on Linux - Azure App Service](https://docs.

[2019-07-23 04:10] MartinJaffer-MSFT commented on #35391
I have created a pull request 82982.  Only tested and corrected code up to and including the CopyActivity line.
Have not tested beyond that.  Need to do it time permitting.

[2019-07-23 04:10] #35391 closed

[2019-07-23 04:21] CHEEKATLAPRADEEP-MSFT commented on #35616
@nicholasodonnell  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 04:22] CHEEKATLAPRADEEP-MSFT commented on #35618
@SergiuTripon  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2019-07-23 04:30] PramodValavala-MSFT commented on #35369
@manoj-lenka Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 04:30] #35369 closed

[2019-07-23 04:31] CHEEKATLAPRADEEP-MSFT commented on #35640
@kailisupport  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-23 04:49] KalyanChanumolu-MSFT commented on #35260
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-23 04:49] #35260 closed

[2019-07-23 04:52] RohitMungi-MSFT commented on #35633
@zhenyufu Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-23 04:55] RohitMungi-MSFT commented on #35634
@glaucia86 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-23 04:59] RohitMungi-MSFT commented on #35637
@erammunawwar Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-23 05:08] abhigyank opened #35642 "prebuilt entity - personName on emails false positive"
## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all the article details so you can focus on the feedback part.

You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

- [ ] The relevant Azure service

[2019-07-23 05:08] #35287 closed

[2019-07-23 05:08] abhigyank commented on #35642
Wrong issue.

[2019-07-23 05:08] #35642 closed

[2019-07-23 05:08] abhigyank opened #35643 "prebuilt entity - personName on emails false positive"
In case of emails - if we have personName prebuilt entity, it always returns as personName for emails too. For example if jhon@domain.com is input, jhon@domain is returned as personName which shouldn't be the case.
![desktop](https://user-images.githubusercontent.com/20434085/61684223-5658a500-ad36-11e9-9aee-72e51d7178c7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-23 05:17] msrini-MSFT commented on #35563
@conork123 , Thank you for sharing the above info. I will edit the doc and remove ICMP.

If you want to allow ICMP, then you need to allow traffic across all ports for a specific Source and Destination IP.

[2019-07-23 05:19] ManojReddy-MSFT commented on #33808
@msfcolombo We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-23 05:19] #33808 closed

[2019-07-23 05:20] ManojReddy-MSFT commented on #35354
@ding-harrison We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-23 05:20] #35354 closed

[2019-07-23 05:26] neville-nazerane opened #35644 "invalid read function in sample code"
In the sample code, the text says "Please press a key to continue.". However, the next line uses ReadLine() instead of ReadKey(). Just something that causes confusion while running

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4d65b3-a2dc-77f4-0546-f69598241f0a
* Version Independent ID: 3d2b4c2d-4314-959b-b18d-67af8

[2019-07-23 05:28] ram-msft commented on #35379
@thecpshah I could see the following differences between D3_v2 and D4_v2.
![image](https://user-images.githubusercontent.com/49180516/61684700-e814e200-ad37-11e9-93c3-11ecca6d59f3.png)
To verify the died kernel issue for D3_v2, please raise a support request from the Help + Support blade of Azure Portal to check.
If you do not have a support plan we can enable a one time support request if you can

[2019-07-23 05:29] cseifert1 opened #35645 "isConflictPackagesAdded error when submitting pytorch model to azureML"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-23 05:29] anavinahar commented on #32537
Hey @aquibqureshi26, I will publish a blog about how to make this choice easier soon, stay tuned!

[2019-07-23 05:30] cseifert1 commented on #35645
isConflictPackagesAdded error message when submitting pytorch model to azure ML.

Version 1.0.48

Code:
estpytorch = PyTorch(source_directory = script_folder,
                     compute_target=compute_target,
                     entry_script = training_file,
                     script_params = script_command_line_arg,
                     node_count= env_cfg["Node_count"],

[2019-07-23 05:31] cseifert1 commented on #35645
isConflictPackagesAdded error message when submitting pytorch model to azure ML.

Version 1.0.48

Code:
estpytorch = PyTorch(source_directory = script_folder,
compute_target=compute_target,
entry_script = training_file,
script_params = script_command_line_arg,
node_count= env_cfg["Node_count"],
process_count_per_node= process_count_per_node,
distributed_backend= 'mpi',
environment_definition=run_c

[2019-07-23 05:31] joesamraj opened #35646 "Parameterized Connection for MongoDB"
Hi,

  I'm trying to parameterize the MongoDB linked service. According to the [document](https://docs.microsoft.com/bs-latn-ba/azure/data-factory/parameterize-linked-services) it is mentioned that **"For all other data stores, you can parameterize the linked service by selecting the Code icon on the Connections tab and using the JSON editor"**, But when I try change the linked services in the cod

[2019-07-23 05:39] #34662 closed

[2019-07-23 05:42] Girishvtm commented on #35547
Thanks @JoeDavies-MSFT and @ManojReddy-MSFT  for your suggestions.

Already tried this query but not getting correct output. When I try the query $filteredUsers = Get-AzureADUser | Where-Object {$_.extension_06501212d87642ddbcfa35ff22cc0db3_extensionAttribute12 -in "SH0232","SE0001"}, its completed in seconds and output is null(please refer the screen shot).

Then I executed the query $filteredUse

[2019-07-23 05:42] cseifert1 commented on #35645
when setting 'run_config.environment.python.user_managed_dependencies = False' as opposed to True, it submits...

[2019-07-23 05:44] msfcolombo commented on #33808
@ManojReddy-MSFT  Some mappings are displayed [in this document](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/claims):

Yet is not clear if that is a complete or partial list. Also, the mentioned "OpenID Connect middleware" is a lousy definition for software component. I think if we can find that software component, we can get the full mapping.

[2019-07-23 05:49] Karishma-Tiwari-MSFT commented on #35519
@marrichamsft Is it this one? https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-c

[2019-07-23 05:58] ManojReddy-MSFT commented on #35344
@nezoic We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-23 05:58] #35344 closed

[2019-07-23 06:02] robertjf commented on #35159
@kobulloc-MSFT any update on this?  Would it be worth me adding it to the dev-spaces github issue tracker as well and cross-linking this one to it?

[2019-07-23 06:11] aquibqureshi26 commented on #32537
Thanks, Anavi, Please update on this thread once you publish the blog, I anyways check Azure Announcement and Azure Update blog.

[2019-07-23 06:15] AshokPeddakotla-MSFT commented on #35635
@wickste Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 06:23] AjayKumar-MSFT commented on #35641
@rofangaci, Thanks a lot for your great feedback! Kindly take a look at the doc which provides a sample and see if that helps - https://docs.microsoft.com/java/api/overview/azure/maven/docs/web-app-samples?view=azure-java-stable . Also, find the [Azure-maven-plugins releases](https://github.com/microsoft/azure-maven-plugins/releases) for details.

[2019-07-23 06:30] RohitMungi-MSFT commented on #35466
@jhakulin Do we have plans to update the github demos with the [demo ](https://channel9.msdn.com/Shows/AI-Show/Whats-New-with-Cognitive-Services-Speech-SDK-and-Speech-Devices-SDK?term=build%202018&lang-en=true&pageSize=15&skip=30)from build 2018?

[2019-07-23 06:35] ram-msft commented on #35643
@abhigyank Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-23 06:36] AshokPeddakotla-MSFT commented on #35628
@YasinMSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-23 06:39] msrini-MSFT commented on #35439
@gabrielanimas, Web App expects xxx.azurewebsites.net as hostname when you pass the request from the browser. When you try to reach with Traffic Manager hostname it throws 404.

You need to use a custom domain for Traffic Manager and configure the custom domain in your web Apps to make it work.

[2019-07-23 06:43] SadiqhAhmed-MSFT commented on #35376
Assigned to @pvrk as suggested.

[2019-07-23 06:50] #35331 closed

[2019-07-23 06:51] #33901 closed

[2019-07-23 06:52] #35440 closed

[2019-07-23 07:01] DixitArora-MSFT commented on #35395
@benbelow I don't think that there is a doc change required for this. [Doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout) clearly mention how to specify the value with examples.

[2019-07-23 07:03] SnehaAgrawal-MSFT commented on #35545
@funzel1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-23 07:06] SimonGivan commented on #24229
I was able to get logged in but I had to set SQL Authentication = Enable, in the guide it states Disabled.
Once I did this I was able to login using the local account on the server and then add the network account as sysadmin.

[2019-07-23 07:08] wolfma61 commented on #35625
There was an issue with the LUIS service yesterday.
To my knowledge, it has been resolved.

[2019-07-23 07:12] pmeuser opened #35647 "Microsoft Authenticator deployment requirement MDM?"
Is this really a prerequisite?
"The ability for users to enroll their devices by using Microsoft Intune or a third-party mobile device management (MDM) solution"
As of my understanding, the mobile device just need to be registered with AAD, but there is no need to manage the device by MDM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-07-23 07:20] msrini-MSFT commented on #35563
PR has been made.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/82997

[2019-07-23 07:20] kwaazaar commented on #16721
On my 7 node cluster I did a kubectl delete node and found out the VM is not deleted. So I manually delete the VM as well. AKS however still thinks my cluster has 7 nodes: when I scale down to 6, it just removes another node. When I scale up again, it adds just one, instead of 2.
So I end up with a 6 node cluster of which AKS thinks its 7 nodes. :-s

We should be able to freely recycle nodes, just

[2019-07-23 07:23] gajo357 commented on #35472
I knew I shouldn't have mentioned Docker, because the question is not about it.
When you create a new WebApp fro Linux, you are asked if you want to publish Code or Docker.
You select Code. This is for "manual" copying of dll's to the wwwroot of the app (or Publish from Visual Studio).
Nowhere in this process can you install needed packages.
So after I publish the app, I manually open SSH and run

[2019-07-23 07:33] balazsorban44 commented on #8028
I seem to have the same problem. Any solution for this?

[2019-07-23 07:37] mike-urnun-msft commented on #32433
Hi @spelluru, can you advise?

[2019-07-23 07:38] nikesh-dev opened #35648 "How to copy a directory from container to local path? What SAS token to be passed?"
azcopy copy "https://&lt;storage-account-name&gt;.file.core.windows.net/&lt;file-share-name&gt;/*?&lt;SAS-token&gt;" "&lt;local-directory-path&gt;/"

In this command, which SAS-token should be passed? SAS token cannot be generated for directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2ee3a6-a4ae-068a-1a7e-9a8

[2019-07-23 07:45] msrini-MSFT commented on #35563
@conork123 ,

[2019-07-23 07:49] CHEEKATLAPRADEEP-MSFT commented on #35645
@cseifert1  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community m